CONFIG_QCOM_L2_PMU=n
CONFIG_INTERCONNECT_IMX8MN=n
CONFIG_MDIO_BUS_MUX_MESON_GXL=n
CONFIG_NET_SCH_TAPRIO=n
CONFIG_INPUT_MATRIXKMAP=n
CONFIG_MFD_SEC_ACPM=n
CONFIG_ACPI_DEBUG=n
CONFIG_BPF_SYSCALL=n
CONFIG_COMMON_CLK_MESON_MPLL=n
CONFIG_ZSTD_COMMON=n
CONFIG_DRM_DW_HDMI_QP_CEC=n
CONFIG_NET_INGRESS=n
CONFIG_PCIE_ROCKCHIP_DW_HOST=n
CONFIG_GENERIC_ALLOCATOR=n
CONFIG_ZYNQMP_IPI_MBOX=n
CONFIG_INPUT_TPS65219_PWRBUTTON=n
CONFIG_EDAC_SUPPORT=n
CONFIG_NET_SWITCHDEV=n
CONFIG_WLAN_VENDOR_PURELIFI=n
CONFIG_LD_ORPHAN_WARN=n
CONFIG_USB_RTL8150=n
CONFIG_VIDEO_MEDIATEK_MDP3=n
CONFIG_QCOM_LMH=n
CONFIG_PINCTRL_RENESAS=n
CONFIG_PM_DEVFREQ_EVENT=n
CONFIG_CLK_QORIQ=n
CONFIG_ACPI_HED=n
CONFIG_HUGETLB_PAGE=n
CONFIG_NFS_V4=n
CONFIG_ARCH_UNIPHIER=n
CONFIG_WLAN_VENDOR_RSI=n
CONFIG_MMC_UNIPHIER=n
CONFIG_IMX9_BLK_CTRL=n
CONFIG_TMPFS_POSIX_ACL=n
CONFIG_GPIO_XGENE=n
CONFIG_SERIAL_MESON=n
CONFIG_SPI_XILINX=n
CONFIG_QORIQ_CPUFREQ=n
CONFIG_WLAN_VENDOR_MICROCHIP=n
CONFIG_DEFAULT_SECURITY_DAC=n
CONFIG_SDX_GCC_75=n
CONFIG_DRM_DISPLAY_HELPER=n
CONFIG_SND_SOC_TI_EDMA_PCM=n
CONFIG_SENSORS_JC42=n
CONFIG_GOOGLE_FIRMWARE=n
CONFIG_HVC_DRIVER=n
CONFIG_PCI_QUIRKS=n
CONFIG_SND_DYNAMIC_MINORS=n
CONFIG_PINCTRL_SM6115=n
CONFIG_QCOM_RPMH=n
CONFIG_SND_SOC_WCD937X_SDW=n
CONFIG_OVERLAY_FS=n
CONFIG_RTC_LIB=n
CONFIG_HAVE_SETUP_PER_CPU_AREA=n
CONFIG_TRACE_GPU_MEM=n
CONFIG_EXYNOS_THERMAL=n
CONFIG_IOMMU_IO_PGTABLE_LPAE=n
CONFIG_USB_CONFIGFS_NCM=n
CONFIG_SPI_FSL_DSPI=n
CONFIG_HIBERNATION_COMP_LZO=n
CONFIG_PWM_MTK_DISP=n
CONFIG_MDIO_BITBANG=n
CONFIG_MV_XOR_V2=n
CONFIG_QCOM_PMIC_GLINK=n
CONFIG_PHY_ROCKCHIP_TYPEC=n
CONFIG_SMSC_PHY=n
CONFIG_CGROUP_DEVICE=n
CONFIG_PHY_MVEBU_A3700_UTMI=n
CONFIG_MAC80211=n
CONFIG_BUFFER_HEAD=n
CONFIG_MTD_PHYSMAP_OF=n
CONFIG_MMC_DW_PLTFM=n
CONFIG_EXYNOS_ARM64_COMMON_CLK=n
CONFIG_SM_CAMCC_6350=n
CONFIG_TICK_ONESHOT=n
CONFIG_MESON_CLK_MEASURE=n
CONFIG_DRM_I2C_ADV7511_CEC=n
CONFIG_QCOM_MDT_LOADER=n
CONFIG_FSL_ENETC_PTP_CLOCK=n
CONFIG_ARM_TI_CPUFREQ=n
CONFIG_SUNXI_CCU=n
CONFIG_USB_XHCI_RCAR=n
CONFIG_CLK_R8A774E1=n
CONFIG_MFD_SIMPLE_MFD_I2C=n
CONFIG_CLK_RZG2L=n
CONFIG_NO_HZ_IDLE=n
CONFIG_CC_HAVE_STACKPROTECTOR_SYSREG=n
CONFIG_CRYPTO_MANAGER=n
CONFIG_PHY_FSL_IMX8M_PCIE=n
CONFIG_NVMEM_SUNXI_SID=n
CONFIG_NLATTR=n
CONFIG_MFD_VEXPRESS_SYSREG=n
CONFIG_USB_ULPI=n
CONFIG_ARM_SCMI_HAVE_TRANSPORT=n
CONFIG_SOC_TI=n
CONFIG_BT_HCIBTUSB_RTL=n
CONFIG_QDU_GCC_1000=n
CONFIG_HAVE_ARCH_KFENCE=n
CONFIG_UNIX=n
CONFIG_RASPBERRYPI_FIRMWARE=n
CONFIG_HI6220_MBOX=n
CONFIG_TCG_TIS=n
CONFIG_PHY_ROCKCHIP_INNO_HDMI=n
CONFIG_FSL_GUTS=n
CONFIG_BLK_DEV_LOOP=n
CONFIG_IIO_CROS_EC_BARO=n
CONFIG_ACPI_SPCR_TABLE=n
CONFIG_VITESSE_PHY=n
CONFIG_ARCH_TEGRA_194_SOC=n
CONFIG_CLK_X1E80100_GPUCC=n
CONFIG_CPU_IDLE_GOV_MENU=n
CONFIG_MFD_CROS_EC_DEV=n
CONFIG_CLK_R8A77990=n
CONFIG_MTK_REGULATOR_COUPLER=n
CONFIG_ARM_CCI_PMU=n
CONFIG_GCC_ASM_GOTO_OUTPUT_BROKEN=n
CONFIG_CRYPTO_LIB_SHA1=n
CONFIG_SND_SOC_AK4619=n
CONFIG_TCG_TIS_I2C_CR50=n
CONFIG_DRM_PANEL_VISIONOX_VTDR6130=n
CONFIG_IIO_CROS_EC_LIGHT_PROX=n
CONFIG_SND_SOC_FSL_EASRC=n
CONFIG_CRC32=n
CONFIG_SND_SOC_RZ=n
CONFIG_QCS_VIDEOCC_615=n
CONFIG_STMMAC_PLATFORM=n
CONFIG_DRM_MXSFB=n
CONFIG_PID_NS=n
CONFIG_DRM_DW_HDMI_QP=n
CONFIG_PWM_MESON=n
CONFIG_VIDEO_CAMERA_LENS=n
CONFIG_RTC_DRV_ZYNQMP=n
CONFIG_COMPAT_32BIT_TIME=n
CONFIG_SM_GPUCC_8250=n
CONFIG_HAVE_ARCH_BITREVERSE=n
CONFIG_NET_CLS=n
CONFIG_RPMSG_QCOM_GLINK=n
CONFIG_PWM_XILINX=n
CONFIG_QCOM_Q6V5_COMMON=n
CONFIG_HW_RANDOM_AIROHA=n
CONFIG_REGULATOR_UNIPHIER=n
CONFIG_WIRELESS=n
CONFIG_PCIEASPM=n
CONFIG_SERIAL_SAMSUNG=n
CONFIG_ARM_SMMU_V3=n
CONFIG_NXP_NETC_BLK_CTRL=n
CONFIG_NETFILTER_XT_MARK=n
CONFIG_SERIAL_DEV_BUS=n
CONFIG_BLK_DEV=n
CONFIG_CPU_IDLE=n
CONFIG_MEMORY_HOTREMOVE=n
CONFIG_FRAMEBUFFER_CONSOLE_DETECT_PRIMARY=n
CONFIG_XZ_DEC_SPARC=n
CONFIG_MFD_SYSCON=n
CONFIG_SND_SOC_XILINX_AUDIO_FORMATTER=n
CONFIG_COMMON_CLK_MT8188_VDOSYS=n
CONFIG_PINCTRL_MTK_V2=n
CONFIG_SM_GCC_MILOS=n
CONFIG_CLK_R8A77961=n
CONFIG_DRM_PARADE_PS8640=n
CONFIG_HW_RANDOM_XGENE=n
CONFIG_PCIE_IPROC_MSI=n
CONFIG_USB_HID=n
CONFIG_ARCH_KEEMBAY=n
CONFIG_VIRTIO_ANCHOR=n
CONFIG_PINCTRL_SC7280_LPASS_LPI=n
CONFIG_SYSTEM_TRUSTED_KEYRING=n
CONFIG_QCOM_SPMI_TEMP_ALARM=n
CONFIG_USB_CHIPIDEA_IMX=n
CONFIG_PINCTRL_SM8250=n
CONFIG_COMMON_CLK_PWM=n
CONFIG_MTK_LVTS_THERMAL=n
CONFIG_MVPP2=n
CONFIG_SERIAL_IMX=n
CONFIG_PINCTRL_SUN55I_A523=n
CONFIG_CLK_IMX8MN=n
CONFIG_HW_RANDOM_HISI_TRNG=n
CONFIG_TEGRA_IOMMU_SMMU=n
CONFIG_ARCH_R8A77980=n
CONFIG_CLK_R9A07G043=n
CONFIG_SYSCTL_EXCEPTION_TRACE=n
CONFIG_GPIO_BD9571MWV=n
CONFIG_ETHTOOL_NETLINK=n
CONFIG_USB_NET_MCS7830=n
CONFIG_PINCTRL_TEGRA194=n
CONFIG_RC_MAP=n
CONFIG_CROS_EC_DEBUGFS=n
CONFIG_SND=n
CONFIG_PM_OPP=n
CONFIG_ARCH_SUPPORTS_INT128=n
CONFIG_CLK_R8A77960=n
CONFIG_DEBUG_INFO_DWARF_TOOLCHAIN_DEFAULT=n
CONFIG_IPQ_APSS_6018=n
CONFIG_SM_GPUCC_6115=n
CONFIG_ARCH_LG1K=n
CONFIG_SND_SOC_TEGRA=n
CONFIG_DMA_NONCOHERENT_MMAP=n
CONFIG_ARM_SP805_WATCHDOG=n
CONFIG_FB_SYSMEM_HELPERS=n
CONFIG_PINCTRL_QCOM_SPMI_PMIC=n
CONFIG_EFI_SOFT_RESERVE=n
CONFIG_CLK_RK3528=n
CONFIG_RD_GZIP=n
CONFIG_USB_NET_AX8817X=n
CONFIG_DRM_CLIENT_DEFAULT_FBDEV=n
CONFIG_DMA_ENGINE=n
CONFIG_XPS=n
CONFIG_FILE_LOCKING=n
CONFIG_CRYPTO_CBC=n
CONFIG_QCOM_OCMEM=n
CONFIG_SPI_DW_DMA=n
CONFIG_GPIO_TPS65219=n
CONFIG_MMC_SDHCI_XENON=n
CONFIG_USB_ISP1760_DUAL_ROLE=n
CONFIG_VHOST_ENABLE_FORK_OWNER_CONTROL=n
CONFIG_ARCH_HIBERNATION_HEADER=n
CONFIG_DRM_RCAR_WRITEBACK=n
CONFIG_S3C2410_WATCHDOG=n
CONFIG_POWER_RESET_SYSCON_POWEROFF=n
CONFIG_SND_SOC_SDM845=n
CONFIG_DRM_PANEL_SITRONIX_ST7703=n
CONFIG_PATA_TIMINGS=n
CONFIG_HOTPLUG_CPU=n
CONFIG_QCOM_WDT=n
CONFIG_SUN50I_H6_CCU=n
CONFIG_CRYPTO_AEAD=n
CONFIG_ROCKCHIP_CDN_DP=n
CONFIG_COMMON_CLK_MT8192_MMSYS=n
CONFIG_ACPI_APEI=n
CONFIG_CLZ_TAB=n
CONFIG_DRM_DISPLAY_DP_HELPER=n
CONFIG_INET=n
CONFIG_POWER_RESET_TORADEX_EC=n
CONFIG_USB_ULPI_BUS=n
CONFIG_SOUNDWIRE_QCOM=n
CONFIG_QCOM_FASTRPC=n
CONFIG_SERIAL_XILINX_PS_UART_CONSOLE=n
CONFIG_LEDS_TRIGGER_TIMER=n
CONFIG_KALLSYMS_ALL=n
CONFIG_DRM_MSM_DSI_28NM_PHY=n
CONFIG_ARM64_WORKAROUND_REPEAT_TLBI=n
CONFIG_SND_SOC_LPASS_APQ8016=n
CONFIG_BTRFS_FS_POSIX_ACL=n
CONFIG_USB_DWC3_DUAL_ROLE=n
CONFIG_XEN_BACKEND=n
CONFIG_IOMMU_IO_PGTABLE=n
CONFIG_QCOM_L3_PMU=n
CONFIG_AHCI_QORIQ=n
CONFIG_CUSE=n
CONFIG_PINCTRL_MT8365=n
CONFIG_USB_BELKIN=n
CONFIG_DECOMPRESS_LZ4=n
CONFIG_QCOM_BAM_DMA=n
CONFIG_LOGO=n
CONFIG_BCM2835_THERMAL=n
CONFIG_RTC_DRV_ISL1208=n
CONFIG_CRYPTO_CAMELLIA=n
CONFIG_PREEMPTION=n
CONFIG_INIT_STACK_ALL_ZERO=n
CONFIG_REGULATOR_MT6358=n
CONFIG_PCIE_TEGRA194=n
CONFIG_COMMON_CLK_BD718XX=n
CONFIG_PROC_PAGE_MONITOR=n
CONFIG_NET_CLS_ACT=n
CONFIG_NPCM7XX_WATCHDOG=n
CONFIG_RWSEM_SPIN_ON_OWNER=n
CONFIG_MDIO_CAVIUM=n
CONFIG_PWM_TIECAP=n
CONFIG_DRM_ETNAVIV_THERMAL=n
CONFIG_IIO_KFIFO_BUF=n
CONFIG_HAVE_ARCH_JUMP_LABEL_RELATIVE=n
CONFIG_CPU_FREQ_GOV_ONDEMAND=n
CONFIG_FSL_DPAA2_ETH=n
CONFIG_TYPEC_MUX_GPIO_SBU=n
CONFIG_RTC_INTF_DEV=n
CONFIG_BT_QCA=n
CONFIG_ARCH_SUPPORTS_CRASH_DUMP=n
CONFIG_BLK_DEV_SD=n
CONFIG_KVM=n
CONFIG_GENERIC_EARLY_IOREMAP=n
CONFIG_PCIE_DW_EP=n
CONFIG_SM_VIDEOCC_6350=n
CONFIG_NVMEM_APPLE_EFUSES=n
CONFIG_MEDIA_CONTROLLER=n
CONFIG_ALPINE_MSI=n
CONFIG_SND_SOC_DA7213=n
CONFIG_PREEMPT_RCU=n
CONFIG_RTC_DRV_PCF85363=n
CONFIG_SND_SOC_TEGRA186_DSPK=n
CONFIG_BCM7038_WDT=n
CONFIG_USB_COMMON=n
CONFIG_QCOM_IOMMU=n
CONFIG_IMX8M_BLK_CTRL=n
CONFIG_MTK_SCP=n
CONFIG_NET_CLS_BASIC=n
CONFIG_CLK_X1P42100_CAMCC=n
CONFIG_EC_HUAWEI_GAOKUN=n
CONFIG_VEXPRESS_CONFIG=n
CONFIG_IMX_AIPSTZ=n
CONFIG_USB_MUSB_HDRC=n
