CONFIG_INPUT_MOUSEDEV=n
CONFIG_BINFMT_ELF=n
CONFIG_DRM_GEM_DMA_HELPER=n
CONFIG_CGROUP_SCHED=n
CONFIG_ARCH_THEAD=n
CONFIG_BTRFS_FS_POSIX_ACL=n
CONFIG_WATCHDOG=n
CONFIG_CC_NO_ARRAY_BOUNDS=n
CONFIG_SCHED_MM_CID=n
CONFIG_RISCV_ISA_V_PREEMPTIVE=n
CONFIG_NET_VENDOR_ALLWINNER=n
CONFIG_INPUT_KEYBOARD=n
CONFIG_DMA_COHERENT_POOL=n
CONFIG_ARCH_SUPPORTS_CRASH_DUMP=n
CONFIG_ARCH_HAS_ELF_RANDOMIZE=n
CONFIG_ARCH_SUPPORTS_PER_VMA_LOCK=n
CONFIG_INPUT_EVDEV=n
CONFIG_PCI_DOMAINS_GENERIC=n
CONFIG_CRC_CCITT=n
CONFIG_PROC_FS=n
CONFIG_HAS_IOPORT_MAP=n
CONFIG_CPU_RMAP=n
CONFIG_NET_VENDOR_NI=n
CONFIG_TRACEPOINTS=n
CONFIG_DRM_RADEON=n
CONFIG_HAVE_MOVE_PUD=n
CONFIG_EFI_EARLYCON=n
CONFIG_SPI_MEM=n
CONFIG_FB_SYSMEM_FOPS=n
CONFIG_HAVE_ARCH_JUMP_LABEL_RELATIVE=n
CONFIG_ARCH_HAS_KCOV=n
CONFIG_NET_UDP_TUNNEL=n
CONFIG_NET_VENDOR_OKI=n
CONFIG_DRM_CLIENT_SETUP=n
CONFIG_MMC_SPI=n
CONFIG_RTC_NVMEM=n
CONFIG_RISCV_ISA_SUPM=n
CONFIG_CRYPTO_ENGINE=n
CONFIG_CLK_STARFIVE_JH7110_SYS=n
CONFIG_RPMSG_VIRTIO=n
CONFIG_SERIO=n
CONFIG_CPU_FREQ_GOV_CONSERVATIVE=n
CONFIG_SYSCTL=n
CONFIG_SECURITY_APPARMOR_HASH_DEFAULT=n
CONFIG_OF_FLATTREE=n
CONFIG_MOUSE_PS2_LOGIPS2PP=n
CONFIG_GENERIC_PINMUX_FUNCTIONS=n
CONFIG_HAVE_REGS_AND_STACK_ACCESS_API=n
CONFIG_FUTEX_PI=n
CONFIG_DEBUG_MISC=n
CONFIG_PADATA=n
CONFIG_NETFILTER_XT_MATCH_CONNTRACK=n
CONFIG_NET_VENDOR_BROCADE=n
CONFIG_NET_CRC32C=n
CONFIG_SECURITY=n
CONFIG_VT_CONSOLE_SLEEP=n
CONFIG_ETHERNET=n
CONFIG_GENERIC_PINCTRL=n
CONFIG_CLK_STARFIVE_JH7110_AON=n
CONFIG_VIDEO=n
CONFIG_NET_VENDOR_RDC=n
CONFIG_QUEUED_SPINLOCKS=n
CONFIG_HAVE_RSEQ=n
CONFIG_NET_RX_BUSY_POLL=n
CONFIG_ZONE_DMA32=n
CONFIG_PCS_XPCS=n
CONFIG_VT=n
CONFIG_IPV6=n
CONFIG_ARCH_HAS_NON_OVERLAPPING_ADDRESS_SPACE=n
CONFIG_DM_PERSISTENT_DATA=n
CONFIG_PCI_QUIRKS=n
CONFIG_HAVE_ARCH_THREAD_STRUCT_WHITELIST=n
CONFIG_BPF_SYSCALL=n
CONFIG_I2C_DESIGNWARE_PLATFORM=n
CONFIG_HAVE_ARCH_KFENCE=n
CONFIG_NET_CORE=n
CONFIG_HWMON=n
CONFIG_IOMMU_PT=n
CONFIG_SECURITY_PATH=n
CONFIG_CGROUP_NET_CLASSID=n
CONFIG_ACPI_THERMAL_LIB=n
CONFIG_UPROBES=n
CONFIG_RESET_STARFIVE_JH7100=n
CONFIG_HAVE_MOVE_PMD=n
CONFIG_NET_VENDOR_STMICRO=n
CONFIG_NET_FLOW_LIMIT=n
CONFIG_PAGE_MAPCOUNT=n
CONFIG_CC_HAS_ZERO_CALL_USED_REGS=n
CONFIG_COMPACTION=n
CONFIG_SCSI_MOD=n
CONFIG_NETFILTER_INGRESS=n
CONFIG_SYSVIPC=n
CONFIG_UNINLINE_SPIN_UNLOCK=n
CONFIG_TICK_ONESHOT=n
CONFIG_RISCV_ISA_VENDOR_EXT_THEAD=n
CONFIG_MTD_CFI_ADV_OPTIONS=n
CONFIG_RTC_INTF_SYSFS=n
CONFIG_RISCV_APLIC=n
CONFIG_USB_ROLE_SWITCH=n
CONFIG_PCI_DOMAINS=n
CONFIG_ARCH_HAS_PTDUMP=n
CONFIG_EFI_ESRT=n
CONFIG_CRC_OPTIMIZATIONS=n
CONFIG_USB_U_SERIAL=n
CONFIG_ARCH_HAS_DEBUG_VM_PGTABLE=n
CONFIG_KVM_COMMON=n
CONFIG_DRM_SUN8I_TCON_TOP=n
CONFIG_FB=n
CONFIG_BLK_DEV_BSG_COMMON=n
CONFIG_RTC_INTF_PROC=n
CONFIG_BLK_DEV_BSG=n
CONFIG_PWM=n
CONFIG_RISCV_ISA_ZBKB=n
CONFIG_NET_VENDOR_MICROSEMI=n
CONFIG_FB_DEVICE=n
CONFIG_SND_SOC_WM8978=n
CONFIG_USB_F_MASS_STORAGE=n
CONFIG_SATA_PMP=n
CONFIG_SHMEM=n
CONFIG_EVENT_TRACING=n
CONFIG_USB_CONFIGFS=n
CONFIG_HUGETLB_PAGE=n
CONFIG_HUGETLBFS=n
CONFIG_MOUSE_PS2_ALPS=n
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE_PUD=n
CONFIG_ACPI_I2C_OPREGION=n
CONFIG_DRM_VIRTIO_GPU=n
CONFIG_ARCH_ANDES=n
CONFIG_EFI_GENERIC_STUB=n
CONFIG_HAVE_GENERIC_TIF_BITS=n
CONFIG_IP_VS_RR=n
CONFIG_SND_SOC_SDCA_OPTIONAL=n
CONFIG_DEBUG_FS_ALLOW_ALL=n
CONFIG_CRYPTO_AEAD=n
CONFIG_CACHESTAT_SYSCALL=n
CONFIG_NET_VENDOR_PENSANDO=n
CONFIG_ACPI_FAN=n
CONFIG_REGULATOR=n
CONFIG_DEVTMPFS_MOUNT=n
CONFIG_RCU_TRACE=n
CONFIG_HAVE_CLK=n
CONFIG_MMU_GATHER_RCU_TABLE_FREE=n
CONFIG_THERMAL_HWMON=n
CONFIG_DM_BUFIO=n
CONFIG_SERIAL_8250_PCILIB=n
CONFIG_PCIEPORTBUS=n
CONFIG_WLAN_VENDOR_ADMTEK=n
CONFIG_RPS=n
CONFIG_HAVE_FUNCTION_ERROR_INJECTION=n
CONFIG_ARCH_DMA_ADDR_T_64BIT=n
CONFIG_PINCTRL_ULTRARISC=n
CONFIG_NET_VENDOR_SEEQ=n
CONFIG_TRACING_SUPPORT=n
CONFIG_MMP_PDMA=n
CONFIG_FAT_FS=n
CONFIG_MEMTEST=n
CONFIG_SIFIVE_CCACHE=n
CONFIG_MEDIA_SUPPORT_FILTER=n
CONFIG_SND_JACK_INPUT_DEV=n
CONFIG_NET_VENDOR_NVIDIA=n
CONFIG_RISCV_MISALIGNED=n
CONFIG_VIRT_XFER_TO_GUEST_WORK=n
CONFIG_SOCK_CGROUP_DATA=n
CONFIG_ALLOW_DEV_COREDUMP=n
CONFIG_CRYPTO_LIB_GF128HASH=n
CONFIG_SND_PCM=n
CONFIG_STACKPROTECTOR_STRONG=n
CONFIG_MFD_AXP20X=n
CONFIG_SPLIT_PTE_PTLOCKS=n
CONFIG_ARCH_HAS_STRICT_KERNEL_RWX=n
CONFIG_DMA_OF=n
CONFIG_FB_DMAMEM_HELPERS=n
CONFIG_DECOMPRESS_BZIP2=n
CONFIG_GOLDFISH=n
CONFIG_RPMSG_CHAR=n
CONFIG_FB_SYSMEM_HELPERS_DEFERRED=n
CONFIG_DT_IDLE_GENPD=n
CONFIG_HAVE_ARCH_KASAN_VMALLOC=n
CONFIG_HAVE_FTRACE_GRAPH_FUNC=n
CONFIG_PM=n
CONFIG_ARCH_SUPPORTS_ATOMIC_RMW=n
CONFIG_USB_SUPPORT=n
CONFIG_MISC_FILESYSTEMS=n
CONFIG_DRM_SUN6I_DSI=n
CONFIG_ARCH_HAS_PTE_SPECIAL=n
CONFIG_AUDIT_GENERIC=n
CONFIG_RESET_SPACEMIT_K1=n
CONFIG_INITRAMFS_PRESERVE_MTIME=n
CONFIG_GROUP_SCHED_WEIGHT=n
CONFIG_CLK_SOPHGO_SG2042_RPGATE=n
CONFIG_RTC_DRV_GOLDFISH=n
CONFIG_TENSTORRENT_ATLANTIS_PRCM=n
CONFIG_NET_CLS_CGROUP=n
CONFIG_USB_F_FS=n
CONFIG_SIFIVE_PLIC=n
CONFIG_ARCH_HAS_SET_DIRECT_MAP=n
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST=n
CONFIG_HAVE_BUILDTIME_MCOUNT_SORT=n
CONFIG_BLK_DEV_DM_BUILTIN=n
CONFIG_IP_ADVANCED_ROUTER=n
CONFIG_BUG=n
CONFIG_NETFILTER_XTABLES=n
CONFIG_PHYS_ADDR_T_64BIT=n
CONFIG_MMU_NOTIFIER=n
CONFIG_PINCTRL_SOPHGO_COMMON=n
CONFIG_ACPI_THERMAL=n
CONFIG_SKB_EXTENSIONS=n
CONFIG_PCI=n
CONFIG_PNP=n
CONFIG_NET_VENDOR_ENGLEDER=n
CONFIG_HAVE_ARCH_AUDITSYSCALL=n
CONFIG_PCI_ECAM=n
CONFIG_HAVE_ARCH_GET_SECUREBOOT=n
CONFIG_MPILIB=n
CONFIG_HAS_DMA=n
CONFIG_RISCV_APLIC_MSI=n
CONFIG_RISCV_INTC=n
CONFIG_PCPU_DEV_REFCNT=n
CONFIG_GCC_ASM_GOTO_OUTPUT_BROKEN=n
CONFIG_HAVE_ARCH_SECCOMP=n
CONFIG_FREEZER=n
CONFIG_GCC10_NO_ARRAY_BOUNDS=n
CONFIG_NET_VENDOR_SYNOPSYS=n
CONFIG_ACPI_MDIO=n
CONFIG_RISCV_ISA_ZACAS=n
CONFIG_RISCV_PMU=n
CONFIG_EVENTFD=n
CONFIG_MMC_SDHCI_OF_DWCMSHC=n
CONFIG_CRYPTO_GENIV=n
CONFIG_CC_HAS_ASM_INLINE=n
CONFIG_NET_DEVLINK=n
CONFIG_ADVISE_SYSCALLS=n
CONFIG_HAVE_SOFTIRQ_ON_OWN_STACK=n
CONFIG_NVMEM_LAYOUTS=n
CONFIG_NETWORK_FILESYSTEMS=n
CONFIG_PNFS_FILE_LAYOUT=n
CONFIG_PM_GENERIC_DOMAINS_SLEEP=n
CONFIG_SWIOTLB=n
CONFIG_PINCTRL_STARFIVE_JH7110=n
CONFIG_HAVE_CONTEXT_TRACKING_USER=n
CONFIG_RAID6_PQ_ARCH=n
CONFIG_PINCTRL=n
CONFIG_RD_LZO=n
CONFIG_ARCH_USE_CMPXCHG_LOCKREF=n
CONFIG_SND_SOC_SPDIF=n
CONFIG_FS_STACK=n
CONFIG_USB_XHCI_HCD=n
CONFIG_CLK_THEAD_TH1520_AP=n
CONFIG_DQL=n
CONFIG_TASKS_RCU=n
CONFIG_9P_FS=n
CONFIG_HAVE_SYSCALL_TRACEPOINTS=n
CONFIG_NAMESPACES=n
CONFIG_CGROUPS=n
CONFIG_MTD_BLKDEVS=n
CONFIG_VIRTIO_PCI_LIB=n
CONFIG_CONTEXT_SWITCH_TRACER=n
CONFIG_CAN=n
CONFIG_BRIDGE_VLAN_FILTERING=n
CONFIG_VT_CONSOLE=n
CONFIG_CMODEL_MEDANY=n
CONFIG_RISCV_ISA_FALLBACK=n
CONFIG_ACPI_MCFG=n
CONFIG_MICREL_PHY=n
CONFIG_IPVLAN_L3S=n
CONFIG_MTD_CFI_I1=n
CONFIG_IPV6_NDISC_NODETYPE=n
CONFIG_ZSTD_COMPRESS=n
CONFIG_BLK_DEV_THROTTLING=n
CONFIG_CRYPTO_CTS=n
CONFIG_DRM_CLIENT=n
CONFIG_BTT=n
CONFIG_XZ_DEC=n
CONFIG_ARCH_SUPPORTS_KEXEC=n
CONFIG_ACPI_GENERIC_GSI=n
CONFIG_RISCV_ISA_ZAWRS=n
CONFIG_ATA_SFF=n
CONFIG_CGROUP_FREEZER=n
CONFIG_COMMON_CLK=n
CONFIG_ARCH_HAS_KERNEL_FPU_SUPPORT=n
CONFIG_PHY_STARFIVE_JH7110_USB=n
CONFIG_ARCH_WEAK_RELEASE_ACQUIRE=n
CONFIG_CHECKPOINT_RESTORE=n
CONFIG_CPU_FREQ_STAT=n
CONFIG_DRM_PANEL=n
CONFIG_HUGETLB_PMD_PAGE_TABLE_SHARING=n
CONFIG_POWER_SUPPLY_HWMON=n
CONFIG_SERIAL_OF_PLATFORM=n
CONFIG_CRYPTO_LIB_BLAKE2B=n
CONFIG_USB_CDNSP_PCI=n
CONFIG_PM_OPP=n
CONFIG_LOCK_MM_AND_FIND_VMA=n
CONFIG_CAN_GW=n
CONFIG_DEBUG_KERNEL=n
CONFIG_VM_EVENT_COUNTERS=n
CONFIG_USB_ARCH_HAS_HCD=n
CONFIG_EXT4_FS=n
CONFIG_HAVE_KVM_DIRTY_RING=n
CONFIG_PCIE_FU740=n
CONFIG_AIO=n
