CONFIG_CLZ_TAB=n
CONFIG_NET_VENDOR_MICROSOFT=n
CONFIG_CRYPTO_MANAGER2=n
CONFIG_RTC_INTF_PROC=n
CONFIG_PCMCIA=n
CONFIG_PREEMPT_LAZY=n
CONFIG_NF_REJECT_IPV6=n
CONFIG_TASK_DELAY_ACCT=n
CONFIG_ARCH_SUPPORTS_KEXEC=n
CONFIG_JOLIET=n
CONFIG_INTEL_GTT=n
CONFIG_HDMI=n
CONFIG_SCHED_CACHE=n
CONFIG_EVENTFD=n
CONFIG_X86_REQUIRED_FEATURE_PSE=n
CONFIG_ETHERNET=n
CONFIG_HID_SUNPLUS=n
CONFIG_PTDUMP=n
CONFIG_GENERIC_SMP_IDLE_THREAD=n
CONFIG_ARCH_WANTS_THP_SWAP=n
CONFIG_GCC_ASM_GOTO_OUTPUT_BROKEN=n
CONFIG_NET_VENDOR_HUAWEI=n
CONFIG_INPUT_KEYBOARD=n
CONFIG_GENERIC_CPU_VULNERABILITIES=n
CONFIG_PROC_VMCORE=n
CONFIG_MQ_IOSCHED_KYBER=n
CONFIG_VT=n
CONFIG_FAIR_GROUP_SCHED=n
CONFIG_SMP=n
CONFIG_HAVE_ARCH_TRACEHOOK=n
CONFIG_NET_PTP_CLASSIFY=n
CONFIG_SND_PCMCIA=n
CONFIG_LOCKD=n
CONFIG_CRYPTO_RSA=n
CONFIG_ARCH_HAS_ELFCORE_COMPAT=n
CONFIG_ARCH_CLOCKSOURCE_INIT=n
CONFIG_ARCH_USES_HIGH_VMA_FLAGS=n
CONFIG_DRM_DISPLAY_HELPER=n
CONFIG_CRYPTO_LIB_GF128HASH_ARCH=n
CONFIG_GENERIC_CLOCKEVENTS_MIN_ADJUST=n
CONFIG_FIB_RULES=n
CONFIG_INPUT_VIVALDIFMAP=n
CONFIG_UNIX98_PTYS=n
CONFIG_NET_VENDOR_AGERE=n
CONFIG_INIT_STACK_ALL_ZERO=n
CONFIG_HAVE_ARCH_KMSAN=n
CONFIG_X86_64=n
CONFIG_NET_IP_TUNNEL=n
CONFIG_HAVE_UID16=n
CONFIG_SURFACE_PLATFORMS=n
CONFIG_PCIE_PME=n
CONFIG_X86_PM_TIMER=n
CONFIG_CGROUP_FREEZER=n
CONFIG_CARDBUS=n
CONFIG_COMPACTION=n
CONFIG_HAVE_NMI=n
CONFIG_X86_MCE_AMD=n
CONFIG_INSTRUCTION_DECODER=n
CONFIG_NF_REJECT_IPV4=n
CONFIG_X86_DISABLED_FEATURE_LAM=n
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_REGS=n
CONFIG_ARCH_HAS_KCOV=n
CONFIG_X86_UMIP=n
CONFIG_HAVE_HW_BREAKPOINT=n
CONFIG_WLAN_VENDOR_ATH=n
CONFIG_NET_VENDOR_ALACRITECH=n
CONFIG_GENERIC_STRNCPY_FROM_USER=n
CONFIG_PM_SLEEP_DEBUG=n
CONFIG_HAVE_ARCH_MMAP_RND_BITS=n
CONFIG_SERIAL_EARLYCON=n
CONFIG_SND_TIMER=n
CONFIG_X86_CX8=n
CONFIG_PROC_KCORE=n
CONFIG_ACPI_VIDEO=n
CONFIG_NETFILTER_SKIP_EGRESS=n
CONFIG_NET_VENDOR_AQUANTIA=n
CONFIG_KPROBE_EVENTS=n
CONFIG_INITRAMFS_PRESERVE_MTIME=n
CONFIG_BLK_DEV_INITRD=n
CONFIG_CGROUP_DEVICE=n
CONFIG_CC_HAS_ZERO_CALL_USED_REGS=n
CONFIG_SCREEN_INFO=n
CONFIG_DECOMPRESS_LZO=n
CONFIG_GLOB=n
CONFIG_MODULES=n
CONFIG_AS_HAS_NON_CONST_ULEB128=n
CONFIG_DMA_ENGINE=n
CONFIG_NF_LOG_ARP=n
CONFIG_PCCARD=n
CONFIG_MITIGATION_TSA=n
CONFIG_SERIAL_8250_SHARE_IRQ=n
CONFIG_ARCH_DMA_ADDR_T_64BIT=n
CONFIG_IP_ROUTE_VERBOSE=n
CONFIG_SERIO_LIBPS2=n
CONFIG_ARCH_HAS_ELF_RANDOMIZE=n
CONFIG_ACPI=n
CONFIG_MD_BITMAP=n
CONFIG_ARCH_HAS_PTDUMP=n
CONFIG_RELOCATABLE=n
CONFIG_EFI_RUNTIME_WRAPPERS=n
CONFIG_LOCK_DEBUGGING_SUPPORT=n
CONFIG_NETFILTER_XT_MARK=n
CONFIG_BCMA_POSSIBLE=n
CONFIG_BLK_RQ_ALLOC_TIME=n
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO_BARE=n
CONFIG_STACKPROTECTOR=n
CONFIG_LZ4_COMPRESS=n
CONFIG_NFS_V3=n
CONFIG_BLK_DEV_DM_BUILTIN=n
CONFIG_TICK_ONESHOT=n
CONFIG_GENERIC_CLOCKEVENTS_COUPLED=n
CONFIG_ARCH_WANT_HUGE_PMD_SHARE=n
CONFIG_NETFILTER_XT_MATCH_STATE=n
CONFIG_CRYPTO_KRB5ENC=n
CONFIG_HYPERVISOR_GUEST=n
CONFIG_PADATA=n
CONFIG_X86_BUS_LOCK_DETECT=n
CONFIG_POSIX_MQUEUE=n
CONFIG_LZ4_DECOMPRESS=n
CONFIG_NET_INGRESS=n
CONFIG_CALL_PADDING=n
CONFIG_NEED_SG_DMA_FLAGS=n
CONFIG_X86_TSC=n
CONFIG_DRM_TTM=n
CONFIG_ARCH_VMLINUX_NEEDS_RELOCS=n
CONFIG_HAVE_ARCH_SECCOMP_FILTER=n
CONFIG_WLAN_VENDOR_TI=n
CONFIG_PCPU_DEV_REFCNT=n
CONFIG_PARAVIRT=n
CONFIG_ARCH_HAS_NON_OVERLAPPING_ADDRESS_SPACE=n
CONFIG_HAVE_UNWIND_USER_FP=n
CONFIG_PTP_1588_CLOCK_OPTIONAL=n
CONFIG_VIRTIO_ANCHOR=n
CONFIG_NET_VENDOR_LITEX=n
CONFIG_VIRTUALIZATION=n
CONFIG_NET_VENDOR_MICROSEMI=n
CONFIG_HAVE_FTRACE_REGS_HAVING_PT_REGS=n
CONFIG_ARCH_HAVE_NMI_SAFE_CMPXCHG=n
CONFIG_EFI_STUB=n
CONFIG_INPUT=n
CONFIG_NET_VENDOR_REALTEK=n
CONFIG_ATA_BMDMA=n
CONFIG_CPU_RMAP=n
CONFIG_PROC_EVENTS=n
CONFIG_HAVE_PERF_EVENTS_NMI=n
CONFIG_NET_SCH_FIFO=n
CONFIG_CRYPTO_ALGAPI=n
CONFIG_NET_VENDOR_RDC=n
CONFIG_APERTURE_HELPERS=n
CONFIG_KEYS=n
CONFIG_ARCH_SUSPEND_POSSIBLE=n
CONFIG_IOMMU_IOPF=n
CONFIG_GENERIC_ISA_DMA=n
CONFIG_PM=n
CONFIG_PAGE_COUNTER=n
CONFIG_GENERIC_NET_UTILS=n
CONFIG_HSU_DMA=n
CONFIG_INTEL_MEI_ME=n
CONFIG_PCI_ATS=n
CONFIG_UNIX=n
CONFIG_NET_EMATCH=n
CONFIG_EFI_EARLYCON=n
CONFIG_HAVE_FUNCTION_ARG_ACCESS_API=n
CONFIG_HAVE_NOINSTR_HACK=n
CONFIG_VFAT_FS=n
CONFIG_ATA_PIIX=n
CONFIG_ARCH_HAS_CPU_FINALIZE_INIT=n
CONFIG_SECCOMP_FILTER=n
CONFIG_PAGE_POOL=n
CONFIG_X86_DISABLED_FEATURE_XENPV=n
CONFIG_SYSCTL_EXCEPTION_TRACE=n
CONFIG_NET_VENDOR_HISILICON=n
CONFIG_X86_REQUIRED_FEATURE_PAE=n
CONFIG_DRM_PANEL=n
CONFIG_HOTPLUG_SPLIT_STARTUP=n
CONFIG_RTC_NVMEM=n
CONFIG_HAVE_GENERIC_TIF_BITS=n
CONFIG_TMPFS=n
CONFIG_DRM_DISPLAY_HDCP_HELPER=n
CONFIG_MSDOS_FS=n
CONFIG_RCU_STALL_COMMON=n
CONFIG_COMPAT_BINFMT_ELF=n
CONFIG_RTC_INTF_SYSFS=n
CONFIG_CPU_FREQ_GOV_COMMON=n
CONFIG_NEED_SG_DMA_LENGTH=n
CONFIG_8139TOO_PIO=n
CONFIG_ACPI_DEBUG=n
CONFIG_HWMON=n
CONFIG_GENERIC_BUG_RELATIVE_POINTERS=n
CONFIG_CFG80211_USE_KERNEL_REGDB_KEYS=n
CONFIG_EFI_HANDOVER_PROTOCOL=n
CONFIG_DQL=n
CONFIG_PAGE_SIZE_LESS_THAN_64KB=n
CONFIG_PGTABLE_HAS_HUGE_LEAVES=n
CONFIG_NET_VENDOR_MUCSE=n
CONFIG_X86_DISABLED_FEATURE_VME=n
CONFIG_EPROBE_EVENTS=n
CONFIG_AMD_NB=n
CONFIG_BLOCK_LEGACY_AUTOLOAD=n
CONFIG_RANDOMIZE_MEMORY=n
CONFIG_ASYNC_KERNEL_PGTABLE_FREE=n
CONFIG_USB_NET_DRIVERS=n
CONFIG_9P_FS=n
CONFIG_UNINLINE_SPIN_UNLOCK=n
CONFIG_HAVE_KPROBES_ON_FTRACE=n
CONFIG_SATA_AHCI=n
CONFIG_RD_LZ4=n
CONFIG_ARCH_HAS_KERNEL_FPU_SUPPORT=n
CONFIG_SLUB_DEBUG=n
CONFIG_XFRM_AH=n
CONFIG_CRYPTO_LIB_SHA256=n
CONFIG_SECURITY_NETWORK=n
CONFIG_INPUT_JOYSTICK=n
CONFIG_NF_CT_NETLINK=n
CONFIG_PHYLIB=n
CONFIG_X86_VSYSCALL_EMULATION=n
CONFIG_BLK_CGROUP=n
CONFIG_CPU_SUP_INTEL=n
CONFIG_HAVE_IRQ_EXIT_ON_IRQ_STACK=n
CONFIG_SND_INTEL_SOUNDWIRE_ACPI=n
CONFIG_HID_PID=n
CONFIG_FILE_LOCKING=n
CONFIG_CRYPTO_GENIV=n
CONFIG_HVC_DRIVER=n
CONFIG_MITIGATION_ITS=n
CONFIG_SCHED_MC_PRIO=n
CONFIG_HAVE_CMPXCHG_DOUBLE=n
CONFIG_SCHED_MM_CID=n
CONFIG_CFG80211_REQUIRE_SIGNED_REGDB=n
CONFIG_MOUSE_PS2_SMBUS=n
CONFIG_ARCH_HAS_GENERIC_CRASHKERNEL_RESERVATION=n
CONFIG_SERIAL_8250_MID=n
CONFIG_CRASH_RESERVE=n
CONFIG_HAVE_LIVEPATCH=n
CONFIG_X86_CMOV=n
CONFIG_BRANCH_PROFILE_NONE=n
CONFIG_DRM_KMS_HELPER=n
CONFIG_XFRM_ESP=n
CONFIG_PANTHERLORD_FF=n
CONFIG_NET_CORE=n
CONFIG_HAVE_ARCH_HUGE_VMALLOC=n
CONFIG_HIBERNATE_CALLBACKS=n
CONFIG_MULTIUSER=n
CONFIG_CRYPTO_ACOMP2=n
CONFIG_HAVE_ACPI_APEI=n
CONFIG_WLAN_VENDOR_SILABS=n
CONFIG_CFG80211_CRDA_SUPPORT=n
CONFIG_ACPI_HOTPLUG_CPU=n
CONFIG_CALL_THUNKS=n
CONFIG_HID_PANTHERLORD=n
CONFIG_HOTPLUG_CORE_SYNC_DEAD=n
CONFIG_THERMAL=n
CONFIG_CRYPTO_CAMELLIA=n
CONFIG_HAVE_ARCH_MMAP_RND_COMPAT_BITS=n
CONFIG_CRYPTO_HASH_INFO=n
CONFIG_MOUSE_PS2_LIFEBOOK=n
CONFIG_MITIGATION_SSB=n
CONFIG_RD_LZMA=n
CONFIG_TCP_MD5SIG=n
CONFIG_PARAVIRT_CLOCK=n
CONFIG_NETFILTER_XT_TARGET_CONNSECMARK=n
CONFIG_ARCH_CORRECT_STACKTRACE_ON_KRETPROBE=n
CONFIG_SCSI_CONSTANTS=n
CONFIG_PCSPKR_PLATFORM=n
CONFIG_NET_VENDOR_QLOGIC=n
CONFIG_ARCH_HAS_MEMBARRIER_SYNC_CORE=n
CONFIG_CRYPTO_SKCIPHER2=n
CONFIG_HAVE_FUNCTION_TRACER=n
CONFIG_BLK_MQ_STACKING=n
CONFIG_BINFMT_ELF=n
CONFIG_NUMA_MIGRATION=n
CONFIG_SBITMAP=n
CONFIG_SERIAL_8250_EXAR=n
CONFIG_USB_PCI=n
CONFIG_NET_VENDOR_VERTEXCOM=n
CONFIG_PNP=n
CONFIG_BINARY_PRINTF=n
CONFIG_INTEL_TCC=n
CONFIG_HAVE_CONTEXT_TRACKING_USER_OFFSTACK=n
CONFIG_PCCARD_NONSTATIC=n
CONFIG_SGL_ALLOC=n
CONFIG_FONT_AUTOSELECT=n
CONFIG_BLK_CGROUP_IOLATENCY=n
CONFIG_NF_NAT_FTP=n
CONFIG_CRC32_ARCH=n
CONFIG_ARCH_USE_MEMREMAP_PROT=n
CONFIG_WLAN_VENDOR_MARVELL=n
CONFIG_AMD_IOMMU=n
CONFIG_NETWORK_FILESYSTEMS=n
CONFIG_JUMP_LABEL=n
CONFIG_WLAN=n
CONFIG_TCP_CONG_CUBIC=n
CONFIG_X86_DEBUG_FPU=n
CONFIG_ARCH_STACKWALK=n
CONFIG_ARCH_SUPPORTS_KEXEC_SIG=n
CONFIG_ADVISE_SYSCALLS=n
CONFIG_MAC80211_LEDS=n
CONFIG_GCC_NO_STRINGOP_OVERFLOW=n
CONFIG_HAVE_ARCH_HUGE_VMAP=n
CONFIG_ARCH_SUPPORTS_CRASH_HOTPLUG=n
