CONFIG_DMIID=n
CONFIG_SYN_COOKIES=n
CONFIG_LOCKD=n
CONFIG_GENERIC_NET_UTILS=n
CONFIG_SSB_POSSIBLE=n
CONFIG_X86_IO_APIC=n
CONFIG_USB_PCI_AMD=n
CONFIG_WLAN_VENDOR_SILABS=n
CONFIG_STACKTRACE=n
CONFIG_GLOB=n
CONFIG_KPROBES=n
CONFIG_INIT_STACK_ALL_ZERO=n
CONFIG_P2SB=n
CONFIG_MITIGATION_SRBDS=n
CONFIG_X86_CMOV=n
CONFIG_NF_CONNTRACK_FTP=n
CONFIG_EFI_CUSTOM_SSDT_OVERLAYS=n
CONFIG_NETFILTER_XT_MARK=n
CONFIG_ACPI_HOTPLUG_CPU=n
CONFIG_ATA=n
CONFIG_SCHED_MC_PRIO=n
CONFIG_NET_DEVMEM=n
CONFIG_NET_VENDOR_HUAWEI=n
CONFIG_NET_XGRESS=n
CONFIG_HALTPOLL_CPUIDLE=n
CONFIG_VM_EVENT_COUNTERS=n
CONFIG_NFS_V4_0=n
CONFIG_USB_NET_DRIVERS=n
CONFIG_NET_CLS=n
CONFIG_SCHED_MC=n
CONFIG_FIX_EARLYCON_MEM=n
CONFIG_OPTPROBES=n
CONFIG_ARCH_HAS_DEBUG_WX=n
CONFIG_CFG80211_DEFAULT_PS=n
CONFIG_INET_TUNNEL=n
CONFIG_HW_RANDOM_AMD=n
CONFIG_SATA_AHCI=n
CONFIG_NET_VENDOR_ROCKER=n
CONFIG_NOP_TRACER=n
CONFIG_TIGON3=n
CONFIG_VIRTIO_PCI=n
CONFIG_9P_FS=n
CONFIG_WERROR=n
CONFIG_ACPI_AC=n
CONFIG_NFS_V3_ACL=n
CONFIG_SGL_ALLOC=n
CONFIG_PCI_MSI=n
CONFIG_INPUT=n
CONFIG_NET_VENDOR_NETRONOME=n
CONFIG_MITIGATION_RFDS=n
CONFIG_PPS=n
CONFIG_SND_PCMCIA=n
CONFIG_SERIAL_8250_EXAR=n
CONFIG_VIRTIO_CONSOLE=n
CONFIG_PROC_SYSCTL=n
CONFIG_ARCH_WANT_LD_ORPHAN_WARN=n
CONFIG_EFI_HANDOVER_PROTOCOL=n
CONFIG_USB_ANNOUNCE_NEW_DEVICES=n
CONFIG_SND_VERBOSE_PROCFS=n
CONFIG_HAVE_FUTEX_ROBUST_UNLOCK=n
CONFIG_AS_IS_GNU=n
CONFIG_DEVPORT=n
CONFIG_IOMMU_DMA=n
CONFIG_MD_BITMAP=n
CONFIG_GENERIC_CLOCKEVENTS_MIN_ADJUST=n
CONFIG_AMD_NODE=n
CONFIG_MITIGATION_TAA=n
CONFIG_HAVE_MOVE_PMD=n
CONFIG_X86_ESPFIX32=n
CONFIG_DECOMPRESS_LZMA=n
CONFIG_CRYPTO_MANAGER2=n
CONFIG_PNFS_FILE_LAYOUT=n
CONFIG_HAVE_ARCH_SECCOMP=n
CONFIG_PCI_DOMAINS=n
CONFIG_CRYPTO_CMAC=n
CONFIG_EVENTFD=n
CONFIG_MOUSE_PS2_CYPRESS=n
CONFIG_DEBUG_MISC=n
CONFIG_VT_CONSOLE=n
CONFIG_CRYPTO_SIG2=n
CONFIG_AMD_NB=n
CONFIG_DRM_VIRTIO_GPU_KMS=n
CONFIG_X86_DISABLED_FEATURE_PTI=n
CONFIG_HAVE_IRQ_TIME_ACCOUNTING=n
CONFIG_I2C_HID=n
CONFIG_HZ_1000=n
CONFIG_ACPI_EC=n
CONFIG_BLK_DEV_BSG_COMMON=n
CONFIG_RELOCATABLE=n
CONFIG_MAC80211_RC_DEFAULT_MINSTREL=n
CONFIG_DCACHE_WORD_ACCESS=n
CONFIG_SYSCTL_EXCEPTION_TRACE=n
CONFIG_RTC_CLASS=n
CONFIG_XPS=n
CONFIG_RD_LZO=n
CONFIG_HOTPLUG_CORE_SYNC_DEAD=n
CONFIG_X86_MCE=n
CONFIG_CPUFREQ_ARCH_CUR_FREQ=n
CONFIG_MITIGATION_L1TF=n
CONFIG_X86_REQUIRED_FEATURE_CMOV=n
CONFIG_CC_HAS_IBT=n
CONFIG_RFS_ACCEL=n
CONFIG_ARCH_USES_PG_ARCH_2=n
CONFIG_MAC80211_HAS_RC=n
CONFIG_CPUSETS=n
CONFIG_HAVE_REGS_AND_STACK_ACCESS_API=n
CONFIG_INPUT_SPARSEKMAP=n
CONFIG_NET_EMATCH=n
CONFIG_AGP_INTEL=n
CONFIG_CPU_IDLE_GOV_MENU=n
CONFIG_CRYPTO_ECHAINIV=n
CONFIG_X86_DISABLED_FEATURE_XENPV=n
CONFIG_LOCALVERSION_AUTO=n
CONFIG_ARCH_USE_QUEUED_SPINLOCKS=n
CONFIG_PANTHERLORD_FF=n
CONFIG_LDISC_AUTOLOAD=n
CONFIG_X86_DISABLED_FEATURE_PKU=n
CONFIG_NF_CONNTRACK_IRC=n
CONFIG_PGTABLE_HAS_HUGE_LEAVES=n
CONFIG_EDAC_SUPPORT=n
CONFIG_JOLIET=n
CONFIG_CGROUP_SCHED=n
CONFIG_SELECT_MEMORY_MODEL=n
CONFIG_ACPI_VIDEO=n
CONFIG_NEED_SG_DMA_LENGTH=n
CONFIG_MQ_IOSCHED_KYBER=n
CONFIG_VIRTIO_PCI_LIB=n
CONFIG_CPU_FREQ_GOV_SCHEDUTIL=n
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST=n
CONFIG_SLAB_MERGE_DEFAULT=n
CONFIG_CC_HAS_NAMED_AS=n
CONFIG_IP_ROUTE_MULTIPATH=n
CONFIG_GENERIC_PCI_IOMAP=n
CONFIG_MODULES=n
CONFIG_HAVE_ARCH_SECCOMP_FILTER=n
CONFIG_DRM_BUDDY=n
CONFIG_X86_MCE_INTEL=n
CONFIG_YENTA_ENE_TUNE=n
CONFIG_ARCH_CONFIGURES_CPU_MITIGATIONS=n
CONFIG_NETFILTER_XT_MATCH_STATE=n
CONFIG_MAGIC_SYSRQ_SERIAL=n
CONFIG_PCCARD=n
CONFIG_TCP_CONG_CUBIC=n
CONFIG_IO_URING=n
CONFIG_PROC_PID_ARCH_STATUS=n
CONFIG_SCHED_INFO=n
CONFIG_CLKSRC_I8253=n
CONFIG_HAVE_ARCH_MMAP_RND_BITS=n
CONFIG_NET_FLOW_LIMIT=n
CONFIG_HIBERNATION_SNAPSHOT_DEV=n
CONFIG_IP_ROUTE_VERBOSE=n
CONFIG_NEW_LEDS=n
CONFIG_SCSI_CONSTANTS=n
CONFIG_KEXEC_CORE=n
CONFIG_ALLOW_DEV_COREDUMP=n
CONFIG_LD_ORPHAN_WARN=n
CONFIG_CRYPTO_GENIV=n
CONFIG_SCHED_SMT=n
CONFIG_UPROBE_EVENTS=n
CONFIG_DEBUG_BUGVERBOSE=n
CONFIG_EFI_ESRT=n
CONFIG_NET_VENDOR_TI=n
CONFIG_POWER_SUPPLY=n
CONFIG_HAVE_DMA_CONTIGUOUS=n
CONFIG_8139TOO=n
CONFIG_HAVE_KERNEL_GZIP=n
CONFIG_PHY_PACKAGE=n
CONFIG_SND_PCM=n
CONFIG_X86_LOCAL_APIC=n
CONFIG_TASKS_TRACE_RCU=n
CONFIG_MOUSE_PS2_BYD=n
CONFIG_NET_VENDOR_CAVIUM=n
CONFIG_EXECMEM=n
CONFIG_QUOTA_TREE=n
CONFIG_X86_DISABLED_FEATURE_USER_SHSTK=n
CONFIG_KALLSYMS_ALL=n
CONFIG_X86_USE_PPRO_CHECKSUM=n
CONFIG_NF_NAT_MASQUERADE=n
CONFIG_CC_CAN_LINK=n
CONFIG_POSIX_MQUEUE_SYSCTL=n
CONFIG_GENERIC_STRNCPY_FROM_USER=n
CONFIG_PERF_EVENTS_AMD_UNCORE=n
CONFIG_NET_VENDOR_CORTINA=n
CONFIG_FUTEX_ROBUST_UNLOCK=n
CONFIG_SERIAL_8250_PCILIB=n
CONFIG_HID_PID=n
CONFIG_ARCH_HAS_CPU_CACHE_INVALIDATE_MEMREGION=n
CONFIG_USB_EHCI_HCD=n
CONFIG_TIME_NS=n
CONFIG_MMU_GATHER_MERGE_VMAS=n
CONFIG_CHECK_SIGNATURE=n
CONFIG_HAVE_ARCH_RANDOMIZE_KSTACK_OFFSET=n
CONFIG_ARCH_HAS_FORTIFY_SOURCE=n
CONFIG_NF_REJECT_IPV6=n
CONFIG_NLS_ASCII=n
CONFIG_NET_VENDOR_QLOGIC=n
CONFIG_X86_DISABLED_FEATURE_FRED=n
CONFIG_YENTA_TOSHIBA=n
CONFIG_ACPI_PROCESSOR_IDLE=n
CONFIG_TASKS_RCU_GENERIC=n
CONFIG_BUG=n
CONFIG_ARCH_SUPPORTS_LTO_CLANG_THIN=n
CONFIG_CC_HAS_KASAN_GENERIC=n
CONFIG_NET_VENDOR_SIS=n
CONFIG_AUDIT_GENERIC=n
CONFIG_ARCH_SUPPORTS_KMAP_LOCAL_FORCE_MAP=n
CONFIG_BLK_CGROUP=n
CONFIG_ACPI_WMI=n
CONFIG_NO_HZ_IDLE=n
CONFIG_SND_HDA_I915=n
CONFIG_ADVISE_SYSCALLS=n
CONFIG_PATA_AMD=n
CONFIG_SECURITY_SELINUX_DEVELOP=n
CONFIG_ELF_CORE=n
CONFIG_ATA_SFF=n
CONFIG_IRQ_FORCED_THREADING=n
CONFIG_PCSPKR_PLATFORM=n
CONFIG_HID_SUNPLUS=n
CONFIG_ACPI_THERMAL_LIB=n
CONFIG_FLATMEM=n
CONFIG_NET_VENDOR_FUNGIBLE=n
CONFIG_BLK_DEV_IO_TRACE=n
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO=n
CONFIG_DMA_VIRTUAL_CHANNELS=n
CONFIG_HAS_IOPORT=n
CONFIG_CGROUP_PERF=n
CONFIG_LOCK_SPIN_ON_OWNER=n
CONFIG_USB_STORAGE=n
CONFIG_XXHASH=n
CONFIG_SERIAL_8250_RSA=n
CONFIG_AUTOFS_FS=n
CONFIG_NET_IP_TUNNEL=n
CONFIG_TRACEFS_AUTOMOUNT_DEPRECATED=n
CONFIG_PCI_DIRECT=n
CONFIG_X86_PKG_TEMP_THERMAL=n
CONFIG_NETFILTER_EGRESS=n
CONFIG_HID_TOPSEED=n
CONFIG_X86_INTEL_PSTATE=n
CONFIG_ARCH_USE_BUILTIN_BSWAP=n
CONFIG_BITREVERSE=n
CONFIG_THERMAL_HWMON=n
CONFIG_ARCH_HAVE_NMI_SAFE_CMPXCHG=n
CONFIG_HAVE_HARDLOCKUP_DETECTOR_PERF=n
CONFIG_BUFFER_HEAD=n
CONFIG_XZ_DEC_POWERPC=n
CONFIG_NET_VENDOR_CISCO=n
CONFIG_DRM_VIRTIO_GPU=n
CONFIG_CC_NO_ARRAY_BOUNDS=n
CONFIG_PROBE_EVENTS=n
CONFIG_X86_IOPL_IOPERM=n
CONFIG_UID16=n
CONFIG_SATA_HOST=n
CONFIG_EFIVAR_FS=n
CONFIG_POSIX_CPU_TIMERS_TASK_WORK=n
CONFIG_NLS_ISO8859_1=n
CONFIG_EXT4_FS=n
CONFIG_WLAN=n
CONFIG_FUTEX_PI=n
CONFIG_CC_IS_GCC=n
CONFIG_RT_MUTEXES=n
CONFIG_HAVE_RETHOOK=n
CONFIG_IO_URING_BPF=n
CONFIG_I2C_HELPER_AUTO=n
CONFIG_WLAN_VENDOR_PURELIFI=n
CONFIG_HAVE_ARCH_JUMP_LABEL_RELATIVE=n
CONFIG_NET_VENDOR_SYNOPSYS=n
CONFIG_NVRAM=n
CONFIG_USB_ARCH_HAS_HCD=n
CONFIG_NET_VENDOR_OKI=n
CONFIG_NET_VENDOR_PENSANDO=n
CONFIG_LZO_DECOMPRESS=n
CONFIG_EFI_EARLYCON=n
CONFIG_RTC_NVMEM=n
CONFIG_ATA_VERBOSE_ERROR=n
CONFIG_X86_PLATFORM_DEVICES=n
CONFIG_DYNAMIC_EVENTS=n
CONFIG_IO_URING_ZCRX=n
CONFIG_HARDIRQS_SW_RESEND=n
CONFIG_ARCH_HAS_CPU_RELAX=n
CONFIG_NET_VENDOR_MICROCHIP=n
CONFIG_NETFILTER_XT_MATCH_POLICY=n
CONFIG_DMA_ENGINE=n
CONFIG_XFRM=n
CONFIG_HAVE_PREEMPT_DYNAMIC_CALL=n
CONFIG_IRQ_DOMAIN=n
CONFIG_DNS_RESOLVER=n
CONFIG_FAILOVER=n
CONFIG_SERIO_SERPORT=n
CONFIG_IO_WQ=n
CONFIG_FRAME_POINTER=n
CONFIG_NET_VENDOR_8390=n
CONFIG_SERIAL_8250_PNP=n
CONFIG_CRYPTO_ALGAPI=n
CONFIG_ACPI=n
CONFIG_PAGE_SIZE_LESS_THAN_256KB=n
CONFIG_NET=n
CONFIG_X86_AMD_PSTATE=n
CONFIG_PCI=n
CONFIG_GCC_NO_STRINGOP_OVERFLOW=n
CONFIG_ACPI_SYSTEM_POWER_STATES_SUPPORT=n
