CONFIG_CRYPTO_SHA512=y
CONFIG_PM_CLK=y
CONFIG_UNIPHIER_MDMAC=y
CONFIG_AMD_SBRMI_I2C=y
CONFIG_DEBUG_RT_MUTEXES=y
CONFIG_FB_CFB_IMAGEBLIT=y
CONFIG_EXTCON_PTN5150=y
CONFIG_BACKLIGHT_BD6107=y
CONFIG_CPU_SUP_CENTAUR=y
CONFIG_SVC_I3C_MASTER=y
CONFIG_SENSORS_LTC3815=y
CONFIG_FUTEX_PRIVATE_HASH=y
CONFIG_MTD_CFI_I1=y
CONFIG_SYSFS=y
CONFIG_MFD_RT5033=y
CONFIG_EFI_DISABLE_PCI_DMA=y
CONFIG_SM_DISPCC_8550=y
CONFIG_GPIO_PALMAS=y
CONFIG_OMAP3_THERMAL=y
CONFIG_PINCTRL_PFC_R8A7743=y
CONFIG_ARM_SCPI_POWER_DOMAIN=y
CONFIG_REGULATOR_MT6363=y
CONFIG_MTD_ONENAND_SAMSUNG=y
CONFIG_GPIO_CADENCE=y
CONFIG_CLK_RK3308=y
CONFIG_POWER_SUPPLY_HWMON=y
CONFIG_HAS_IOMEM=y
CONFIG_COMMON_CLK_MT2712_JPGDECSYS=y
CONFIG_NLS_MAC_ROMAN=y
CONFIG_BACKLIGHT_KTD253=y
CONFIG_MOUSE_PS2_SMBUS=y
CONFIG_SENSORS_LM85=y
CONFIG_SM_TCSRCC_8650=y
CONFIG_SENSORS_D1U74T=y
CONFIG_CLKSRC_I8253=y
CONFIG_CC_HAS_NAMED_AS=y
CONFIG_SENSORS_ADT7410=y
CONFIG_IMX_SCMI_LMM_DRV=y
CONFIG_RENESAS_RPCIF=y
CONFIG_REGULATOR_PF8X00=y
CONFIG_MTD_NAND_NUVOTON_MA35=y
CONFIG_REGULATOR_MP886X=y
CONFIG_CLKSRC_PXA=y
CONFIG_INTEL_SCU_PLATFORM=y
CONFIG_NI903X_WDT=y
CONFIG_SM_GCC_8750=y
CONFIG_MFD_MX25_TSADC=y
CONFIG_SPI_MT65XX=y
CONFIG_INGENIC_CGU_COMMON=y
CONFIG_SUN8I_R40_CCU=y
CONFIG_DEBUG_INFO_NONE=y
CONFIG_PHY_PXA_USB=y
CONFIG_PM_NOTIFIER_ERROR_INJECT=y
CONFIG_IKCONFIG=y
CONFIG_MFD_MADERA=y
CONFIG_INGENIC_CGU_JZ4770=y
CONFIG_PINCTRL_BCM63XX=y
CONFIG_CHARGER_BQ25980=y
CONFIG_ARCH_SUPPORTS_KEXEC_BZIMAGE_VERIFY_SIG=y
CONFIG_X86_32=y
CONFIG_GPIO_PCF857X=y
CONFIG_REGULATOR_TPS62360=y
CONFIG_APPLE_DART=y
CONFIG_MPENTIUM4=y
CONFIG_GPIOLIB=y
CONFIG_X86_REQUIRED_FEATURE_FPU=y
CONFIG_BACKLIGHT_ADP5520=y
CONFIG_I2C_QUP=y
CONFIG_PINCTRL_STM32=y
CONFIG_EXCLUSIVE_SYSTEM_RAM=y
CONFIG_SENSORS_FSP_3Y=y
CONFIG_PINCTRL_PFC_SH7757=y
CONFIG_SENSORS_CGBC=y
CONFIG_GPIO_CLPS711X=y
CONFIG_GPIO_WM831X=y
CONFIG_DS1682=y
CONFIG_CRYPTO_AEAD=y
CONFIG_DMA_VIRTUAL_CHANNELS=y
CONFIG_LEDS_NS2=y
CONFIG_PHY_SPARX5_SERDES=y
CONFIG_SENSORS_W83773G=y
CONFIG_INSTRUCTION_DECODER=y
CONFIG_ARCH_HAS_CPU_RELAX=y
CONFIG_KEXEC=y
CONFIG_ARCH_SUPPORTS_DEBUG_PAGEALLOC=y
CONFIG_SENSORS_MP5926=y
CONFIG_SGL_ALLOC=y
CONFIG_SENSORS_GXP_FAN_CTRL=y
CONFIG_SUN8I_A23_CCU=y
CONFIG_CRYPTO_TWOFISH_COMMON=y
CONFIG_ARCH_HAS_STRICT_MODULE_RWX=y
CONFIG_PINCTRL_MT8188=y
CONFIG_CRYPTO_ECRDSA=y
CONFIG_ARM_SCMI_POWER_CONTROL=y
CONFIG_LEDS_USER=y
CONFIG_SUN8I_DE2_CCU=y
CONFIG_GPIO_TPIC2810=y
CONFIG_COMMON_CLK_MT8186_IPESYS=y
CONFIG_ALTERA_PR_IP_CORE_PLAT=y
CONFIG_PSI_DEFAULT_DISABLED=y
CONFIG_RAS=y
CONFIG_ARM_INTEGRATOR_LM=y
CONFIG_SM_LPASSCC_6115=y
CONFIG_RSEQ_STATS=y
CONFIG_ASYNC_TX_DMA=y
CONFIG_KEXEC_CORE=y
CONFIG_ACPI_WATCHDOG=y
CONFIG_COMMON_CLK_MT8196_UFSSYS=y
CONFIG_I2C_AT91=y
CONFIG_PINCTRL_MOOREFIELD=y
CONFIG_SPI_NPCM_PSPI=y
CONFIG_RESET_TN48M_CPLD=y
CONFIG_COMMON_CLK_MT6795_VDECSYS=y
CONFIG_X86_DISABLED_FEATURE_LAM=y
CONFIG_GENERIC_IRQ_DEBUGFS=y
CONFIG_FB_SYSMEM_HELPERS=y
CONFIG_VT_CONSOLE=y
CONFIG_NO_HZ=y
CONFIG_PINCTRL_DENVERTON=y
CONFIG_PINCTRL_ASPEED_G4=y
CONFIG_PHY_QCOM_USB_SNPS_FEMTO_V2=y
CONFIG_SENSORS_IR35221=y
CONFIG_FW_LOADER_COMPRESS_XZ=y
CONFIG_GPIO_REALTEK_OTTO=y
CONFIG_DEBUG_LIST=y
CONFIG_SAMSUNG_MC=y
CONFIG_OPEN_DICE=y
CONFIG_ISA_BUS_API=y
CONFIG_TEGRA_MC=y
CONFIG_MFD_RK8XX_I2C=y
CONFIG_CHARGER_BD71828=y
CONFIG_STRICT_KERNEL_RWX=y
CONFIG_CHARGER_TPS65217=y
CONFIG_EXYNOS_ACPM_PROTOCOL=y
CONFIG_WAFER_WDT=y
CONFIG_REGULATOR_MAX77826=y
CONFIG_SENSORS_ADT7411=y
CONFIG_RESET_TI_SYSCON=y
CONFIG_SM_DISPCC_6350=y
CONFIG_SLAB_FREELIST_RANDOM=y
CONFIG_PHY_NS2_USB_DRD=y
CONFIG_PINCTRL_BCM2712=y
CONFIG_REGULATOR_TI_ABB=y
CONFIG_DEBUG_STACKOVERFLOW=y
CONFIG_SOC_IMX8M=y
CONFIG_THREAD_INFO_IN_TASK=y
CONFIG_MTD_NAND_NDFC=y
CONFIG_FPGA_MGR_XILINX_SPI=y
CONFIG_GPIO_DWAPB=y
CONFIG_SENSORS_IR36021=y
CONFIG_I2C_BOARDINFO=y
CONFIG_TOSHIBA=y
CONFIG_ARM_MHU_V3=y
CONFIG_FSI_SBEFIFO=y
CONFIG_CRYPTO_SIG=y
CONFIG_CLK_GLYMUR_GCC=y
CONFIG_BARCO_P50_GPIO=y
CONFIG_EFI_ESRT=y
CONFIG_HW_RANDOM_PIC32=y
CONFIG_HAVE_MOD_ARCH_SPECIFIC=y
CONFIG_BUILDTIME_TABLE_SORT=y
CONFIG_EFI_VARS_PSTORE=y
CONFIG_MFD_MT6360=y
CONFIG_GPIO_WS16C48=y
CONFIG_ARCH_MAY_HAVE_PC_FDC=y
CONFIG_CRYPTO_WP512=y
CONFIG_GPIO_MAX730X=y
CONFIG_ISA_DMA_API=y
CONFIG_XZ_DEC_TEST=y
CONFIG_LEDS_GPIO=y
CONFIG_COMMON_CLK_MT8196_MMSYS=y
CONFIG_HWMON=y
CONFIG_HW_RANDOM_MESON=y
CONFIG_VIRTIO_FS=y
CONFIG_COMMON_CLK_MT6795=y
CONFIG_REGULATOR_MT6359=y
CONFIG_DA9052_WATCHDOG=y
CONFIG_SENSORS_ADM1031=y
CONFIG_ARM64_PLATFORM_DEVICES=y
CONFIG_PHY_SUNPLUS_USB=y
CONFIG_BACKLIGHT_APPLE=y
CONFIG_NLS_CODEPAGE_869=y
CONFIG_SSIF_IPMI_BMC=y
CONFIG_MSM_GCC_8917=y
CONFIG_BUG_ON_DATA_CORRUPTION=y
CONFIG_RESET_HISI=y
CONFIG_GPIO_TWL6040=y
CONFIG_PPS_CLIENT_KTIMER=y
CONFIG_MSM_MMCC_8998=y
CONFIG_PINCTRL_SOPHGO_COMMON=y
CONFIG_FAULT_INJECTION_USERCOPY=y
CONFIG_LEDS_AW200XX=y
CONFIG_LEGACY_PTYS=y
CONFIG_DEBUG_VM_RB=y
CONFIG_SENSORS_MP9945=y
CONFIG_HW_RANDOM_IPROC_RNG200=y
CONFIG_FB_N411=y
CONFIG_IRQ_FORCED_THREADING=y
CONFIG_I2C_DESIGNWARE_PLATFORM=y
CONFIG_SURFACE_AGGREGATOR_REGISTRY=y
CONFIG_SLIMBUS=y
CONFIG_CGBC_WDT=y
CONFIG_ASYMMETRIC_PUBLIC_KEY_SUBTYPE=y
CONFIG_PM_DEVFREQ_EVENT=y
CONFIG_BINARY_PRINTF=y
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO_BARE=y
CONFIG_ACPI_BUTTON=y
CONFIG_ACPI_DEBUGGER=y
CONFIG_USB_OHCI_LITTLE_ENDIAN=y
CONFIG_SPI_ATMEL=y
CONFIG_STACKTRACE_SUPPORT=y
CONFIG_I2C_RZV2M=y
CONFIG_COMMON_CLK_MT8196_MCUSYS=y
CONFIG_X86_DISABLED_FEATURE_SYSCALL32=y
CONFIG_LEDS_CLASS=y
CONFIG_RESET_CONTROLLER=y
CONFIG_MADERA_IRQ=y
CONFIG_PHY_MESON8_HDMI_TX=y
CONFIG_MM_ID=y
CONFIG_COUNTER=y
CONFIG_PINCTRL_NSP_GPIO=y
CONFIG_MFD_ATMEL_SMC=y
CONFIG_ARCH_SELECT_MEMORY_MODEL=y
CONFIG_MTD_NAND_DISKONCHIP_BBTWRITE=y
CONFIG_MFD_BQ257XX=y
CONFIG_EFI_RUNTIME_MAP=y
CONFIG_FB=y
CONFIG_COMPAT_BRK=y
CONFIG_REGULATOR_MAX77503=y
CONFIG_REALTEK_OTTO_WDT=y
CONFIG_HAVE_EBPF_JIT=y
CONFIG_X86_VMX_FEATURE_NAMES=y
CONFIG_BATTERY_MAX1720X=y
CONFIG_HAVE_ARCH_GET_SECUREBOOT=y
CONFIG_NLS_ISO8859_9=y
CONFIG_ARCH_USE_MEMREMAP_PROT=y
CONFIG_CRYPTO_HASH=y
CONFIG_SOPHGO_CV1800_RTCSYS=y
CONFIG_FPGA_DFL_EMIF=y
CONFIG_ARCH_SUPPORTS_CRASH_HOTPLUG=y
CONFIG_REGULATOR_TPS65185=y
CONFIG_RTC_LIB=y
CONFIG_SENSORS_TPS25990=y
CONFIG_REGULATOR_SPACEMIT_P1=y
CONFIG_KALLSYMS_ALL=y
CONFIG_RPMSG_CTRL=y
CONFIG_COMMON_CLK_PISTACHIO=y
CONFIG_CRYPTO_LIB_POLY1305=y
CONFIG_STACKTRACE=y
CONFIG_BCMA_DRIVER_MIPS=y
CONFIG_WM8350_POWER=y
CONFIG_INTEL_TCC_COOLING=y
CONFIG_ADVANTECH_EC_WDT=y
CONFIG_REGULATOR_ANATOP=y
CONFIG_SOFTLOCKUP_DETECTOR=y
CONFIG_REGULATOR_MCP16502=y
CONFIG_MFD_MT6370=y
CONFIG_EXTCON_LC824206XA=y
CONFIG_COMMON_CLK_MEDIATEK_FHCTL=y
CONFIG_ARCH_WANT_IPC_PARSE_VERSION=y
CONFIG_ADI_I3C_MASTER=y
CONFIG_PINCTRL_VF610=y
CONFIG_CLK_RK3562=y
CONFIG_TURRIS_SIGNING_KEY=y
CONFIG_MSM_GCC_8974=y
CONFIG_SENSORS_XDP710=y
CONFIG_RESET_LPC18XX=y
CONFIG_MFD_MP2629=y
CONFIG_SPI_WPCM_FIU=y
CONFIG_LEDS_CR0014114=y
CONFIG_BATTERY_DA9052=y
CONFIG_HW_RANDOM_KEYSTONE=y
CONFIG_SENSORS_BEL_PFE=y
CONFIG_SECRETMEM=y
CONFIG_COMMON_CLK_MT6735_MFGCFG=y
CONFIG_ECRYPT_FS_MESSAGING=y
CONFIG_GPIO_IT87=y
CONFIG_MFD_RK8XX=y
CONFIG_FB_CORE=y
CONFIG_DEBUG_VM_PGFLAGS=y
CONFIG_HID_SUPPORT=y
CONFIG_DTC=y
CONFIG_DA9055_WATCHDOG=y
CONFIG_MFD_HI6421_SPMI=y
CONFIG_AMD_HSMP_ACPI=y
CONFIG_EXTCON_RTK_TYPE_C=y
CONFIG_RESET_RZV2H_USB2PHY=y
CONFIG_STM32_LPTIMER_CNT=y
CONFIG_HWMON_DEBUG_CHIP=y
CONFIG_I2C_MUX_LTC4306=y
CONFIG_PINCTRL_SCMI=y
CONFIG_REGULATOR_LP3971=y
CONFIG_PAGE_MAPCOUNT=y
CONFIG_SENSORS_ADM1026=y
CONFIG_AST2700_MBOX=y
CONFIG_CC_HAS_WORKING_NOSANITIZE_ADDRESS=y
CONFIG_I2C_PNX=y
CONFIG_BACKLIGHT_DA903X=y
CONFIG_SAMSUNG_LAPTOP=y
CONFIG_SPI_HISI_SFC_V3XX=y
CONFIG_KALLSYMS=y
CONFIG_BCM7038_WDT=y
CONFIG_UTS_NS=y
CONFIG_DEBUG_LOCK_ALLOC=y
CONFIG_PRINTK_INDEX=y
CONFIG_LEDS_ARIEL=y
CONFIG_GPIO_AGGREGATOR=y
CONFIG_HW_RANDOM_EXYNOS=y
CONFIG_KALLSYMS_SELFTEST=y
CONFIG_MFD_MC13XXX_I2C=y
CONFIG_THERMAL_STATISTICS=y
CONFIG_X86_REQUIRED_FEATURE_UP=y
CONFIG_DEBUG_PAGE_REF=y
CONFIG_GPIO_GENERIC=y
CONFIG_LEDS_SIEMENS_SIMATIC_IPC=y
CONFIG_IMX8M_BLK_CTRL=y
CONFIG_ARCH_WANT_PMD_MKWRITE=y
CONFIG_I2C_TEGRA=y
CONFIG_MFD_STMFX=y
CONFIG_I2C_MUX_GPMUX=y
CONFIG_PINCTRL_PXA27X=y
CONFIG_CLK_RK3036=y
CONFIG_REGULATOR_QCOM_USB_VBUS=y
CONFIG_PXA1908_PM_DOMAINS=y
CONFIG_USB_COMMON=y
CONFIG_HTC_EGPIO=y
CONFIG_DEBUG_WQ_FORCE_RR_CPU=y
CONFIG_LOONGSON1_WDT=y
CONFIG_REGULATOR_LP873X=y
CONFIG_CPU_SUP_AMD=y
CONFIG_PAGE_SIZE_LESS_THAN_64KB=y
CONFIG_ARCH_WANT_GENERAL_HUGETLB=y
CONFIG_SENSORS_SG2042_MCU=y
CONFIG_EFI_CAPSULE_LOADER=y
CONFIG_COMMON_CLK_MT8196_VENCSYS=y
CONFIG_OF=y
CONFIG_IOMMU_API=y
CONFIG_PINCTRL_SOPHGO_SG2042=y
CONFIG_SENSORS_MAX16064=y
CONFIG_GPIO_WHISKEY_COVE=y
CONFIG_ARCH_ENABLE_SPLIT_PMD_PTLOCK=y
CONFIG_TEGRA20_APB_DMA=y
CONFIG_SENSORS_ADP1050=y
CONFIG_MTD_NAND_BCM47XXNFLASH=y
CONFIG_DMATEST=y
CONFIG_DEBUG_GENERIC_PT=y
CONFIG_COMMON_CLK_VC3=y
CONFIG_AUTOFS_FS=y
CONFIG_TCG_TIS_CORE=y
CONFIG_TRACE_CLOCK=y
CONFIG_HW_RANDOM_OMAP3_ROM=y
CONFIG_HAVE_DEBUG_KMEMLEAK=y
CONFIG_GPIO_PMIC_EIC_SPRD=y
CONFIG_X86_TSC=y
CONFIG_I2C_DIGICOLOR=y
CONFIG_WATCH_QUEUE=y
CONFIG_QCOM_FASTRPC=y
CONFIG_ACPI_FAN=y
CONFIG_STMP3XXX_RTC_WATCHDOG=y
CONFIG_SPI=y
CONFIG_STM32_MDMA=y
CONFIG_PHY_RCAR_GEN3_USB3=y
CONFIG_I2C_RIIC=y
CONFIG_CRYPTO_LIB_DES=y
CONFIG_TCG_INFINEON=y
CONFIG_GPIO_ACPI=y
CONFIG_MTD_NAND_CORE=y
CONFIG_LCD_ILI9320=y
CONFIG_PHY_MVEBU_A38X_COMPHY=y
CONFIG_ARCH_MIGHT_HAVE_PC_PARPORT=y
CONFIG_REGULATOR_RT5033=y
CONFIG_TASKS_RCU_GENERIC=y
CONFIG_CHARGER_ADP5061=y
CONFIG_TURRIS_OMNIA_MCU_KEYCTL=y
CONFIG_GPIO_BD9571MWV=y
CONFIG_ALIBABA_UNCORE_DRW_PMU=y
CONFIG_SDM_VIDEOCC_845=y
CONFIG_REED_SOLOMON_ENC8=y
CONFIG_LEDS_LP50XX=y
CONFIG_DEBUG_KMAP_LOCAL=y
CONFIG_SOPHGO_CV1800B_DMAMUX=y
CONFIG_PINCTRL_IMX6SL=y
CONFIG_MTD_PARSER_TPLINK_SAFELOADER=y
CONFIG_INTERCONNECT_SAMSUNG=y
CONFIG_X86_DISABLED_FEATURE_RETPOLINE_LFENCE=y
CONFIG_COMMON_CLK_MT8183_IPU_CONN=y
CONFIG_OF_OVERLAY=y
CONFIG_SH_TIMER_TMU=y
CONFIG_REGULATOR_SY8827N=y
CONFIG_NLS_ISO8859_13=y
CONFIG_MTK_DEVAPC=y
CONFIG_INTERCONNECT_IMX8MQ=y
CONFIG_SENSORS_LTC4260=y
CONFIG_REGULATOR_FIXED_VOLTAGE=y
CONFIG_MFD_ATC260X=y
CONFIG_DEBUG_PAGEALLOC=y
CONFIG_CHARGER_BQ2515X=y
CONFIG_ARM_SCMI_PERF_DOMAIN=y
CONFIG_HAVE_ARCH_AUDITSYSCALL=y
CONFIG_ARCH_HAVE_NMI_SAFE_CMPXCHG=y
CONFIG_QCOM_EBI2=y
CONFIG_DECOMPRESS_LZO=y
CONFIG_SELECT_MEMORY_MODEL=y
CONFIG_ARCH_HAVE_EXTRA_ELF_NOTES=y
CONFIG_SENSORS_ADT7462=y
CONFIG_SENSORS_ASC7621=y
CONFIG_SOC_TEGRA30_VOLTAGE_COUPLER=y
CONFIG_GPIO_SHARED_PROXY=y
CONFIG_NLS_CODEPAGE_861=y
CONFIG_IRQ_DOMAIN=y
CONFIG_PINCTRL_PFC_R8A77961=y
CONFIG_CMA_SIZE_SEL_MAX=y
CONFIG_HID_GENERIC=y
CONFIG_MTD_NAND_FSMC=y
CONFIG_HAVE_KPROBES=y
CONFIG_PROC_FS=y
CONFIG_HI6421V600_IRQ=y
CONFIG_NLS_MAC_TURKISH=y
CONFIG_RPMSG_QCOM_GLINK=y
CONFIG_QCOM_TZMEM_MODE_GENERIC=y
CONFIG_CC_HAS_AUTO_VAR_INIT_PATTERN=y
CONFIG_PHY_HI3660_USB=y
CONFIG_SPRD_TIMER=y
CONFIG_SENSORS_ADM1275=y
CONFIG_TI_K3_SOCINFO=y
CONFIG_COMMON_CLK_QCOM=y
CONFIG_VFIO=y
CONFIG_QCOM_HIDMA_MGMT=y
CONFIG_REGULATOR_PV88080=y
CONFIG_MTD_DOCG3=y
CONFIG_MESON_EE_PM_DOMAINS=y
CONFIG_PINCTRL_CANNONLAKE=y
CONFIG_COMMON_CLK_MT2712_VDECSYS=y
CONFIG_NLS_UTF8=y
CONFIG_CHROMEOS_OF_HW_PROBER=y
CONFIG_ATMEL_ST=y
CONFIG_I2C_XILINX=y
CONFIG_NLS_MAC_CELTIC=y
CONFIG_TEE_DMABUF_HEAPS=y
CONFIG_SENSORS_MAX34440=y
CONFIG_ELFCORE=y
CONFIG_MFD_BD9571MWV=y
CONFIG_REGULATOR_DA9055=y
CONFIG_EXTCON_MAX3355=y
CONFIG_CRYPTO_HMAC=y
CONFIG_MEMBARRIER=y
CONFIG_EISA=y
CONFIG_PINCTRL_STM32_HDP=y
CONFIG_WM831X_POWER=y
CONFIG_NVMEM_LAYOUT_SL28_VPD=y
CONFIG_NLS_CODEPAGE_866=y
CONFIG_MTD_NAND_ECC_MEDIATEK=y
CONFIG_SPI_VIRTIO=y
CONFIG_IOMMU_DEFAULT_DMA_STRICT=y
CONFIG_CLK_IMX8MP=y
CONFIG_GPIO_TWL4030=y
CONFIG_PREEMPT_BUILD=y
CONFIG_COMMON_CLK_ESWIN=y
CONFIG_PINCTRL_ASPEED_G7_SOC0=y
CONFIG_APPLE_SART=y
CONFIG_CC_HAS_NO_PROFILE_FN_ATTR=y
CONFIG_EC_LENOVO_YOGA_C630=y
CONFIG_MTD_PLATRAM=y
CONFIG_NLS_ISO8859_15=y
CONFIG_X86_DISABLED_FEATURE_FRED=y
CONFIG_GPIO_AMD_FCH=y
CONFIG_PINCTRL_POLARFIRE_SOC=y
CONFIG_PHY_MTK_XFI_TPHY=y
CONFIG_I2C_ST=y
CONFIG_KCMP=y
CONFIG_PINCTRL_PFC_R8A7791=y
CONFIG_MFD_CS40L50_CORE=y
CONFIG_MFD_OCELOT=y
CONFIG_HAS_IOPORT_MAP=y
CONFIG_IRQ_WORK=y
CONFIG_SENSORS_JC42=y
CONFIG_MTD_PARSER_TRX=y
CONFIG_ARCH_SUPPORTS_UPROBES=y
CONFIG_PINCTRL_VISCONTI=y
CONFIG_ARCH_HAS_HW_PTE_YOUNG=y
CONFIG_OMAP_CONTROL_PHY=y
CONFIG_SPI_ST_SSC4=y
CONFIG_PINCTRL_IMX_SCU=y
CONFIG_FB_SIMPLE=y
CONFIG_LEDS_SIEMENS_SIMATIC_IPC_APOLLOLAKE=y
CONFIG_IPMI_POWEROFF=y
CONFIG_FW_LOADER_COMPRESS=y
CONFIG_HAVE_PCSPKR_PLATFORM=y
CONFIG_CLK_X1E80100_GPUCC=y
CONFIG_GPIO_BRCMSTB=y
CONFIG_SENSORS_CORETEMP=y
CONFIG_PHY_ROCKCHIP_INNO_HDMI=y
CONFIG_HAVE_ARCH_TRACEHOOK=y
CONFIG_SUN4I_TIMER=y
CONFIG_X86_DISABLED_FEATURE_UMIP=y
CONFIG_PINCTRL_ULTRARISC=y
CONFIG_COMMON_CLK_LOCHNAGAR=y
CONFIG_LEDS_WM8350=y
CONFIG_RESET_MESON_AUDIO_ARB=y
CONFIG_PERCPU_STATS=y
