CONFIG_INTERCONNECT=y
CONFIG_MFD_TPS65912=y
CONFIG_OF_ADDRESS=y
CONFIG_GPIO_MB86S7X=y
CONFIG_NVMEM_SYSFS=y
CONFIG_W83877F_WDT=y
CONFIG_INPUT_RAVE_SP_PWRBUTTON=y
CONFIG_CC_NO_ARRAY_BOUNDS=y
CONFIG_XDP_SOCKETS=y
CONFIG_HAVE_DYNAMIC_FTRACE=y
CONFIG_MFD_BQ257XX=y
CONFIG_TREE_SRCU=y
CONFIG_PREEMPT_RCU=y
CONFIG_DM_SNAPSHOT=y
CONFIG_EISA=y
CONFIG_HAVE_MIXED_BREAKPOINTS_REGS=y
CONFIG_TMPFS_XATTR=y
CONFIG_GENERIC_PHY=y
CONFIG_HAVE_MOVE_PUD=y
CONFIG_MFD_MADERA_SPI=y
CONFIG_FUSE_PASSTHROUGH=y
CONFIG_COMEDI_CB_DAS16_CS=y
CONFIG_CRYPTO_DEV_PADLOCK=y
CONFIG_F71808E_WDT=y
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO=y
CONFIG_DTC=y
CONFIG_RPMSG_VIRTIO=y
CONFIG_MICROCHIP_PHY=y
CONFIG_OF=y
CONFIG_LOCK_MM_AND_FIND_VMA=y
CONFIG_HAVE_EBPF_JIT=y
CONFIG_VFAT_FS=y
CONFIG_X86_CMOV=y
CONFIG_CRYPTO_DEV_CCREE=y
CONFIG_OF_PMEM=y
CONFIG_SCSI_SPI_ATTRS=y
CONFIG_RTC_DRV_DS1390=y
CONFIG_SCSI_SAS_ATA=y
CONFIG_DM_DEBUG=y
CONFIG_EVENT_TRACING=y
CONFIG_SBITMAP=y
CONFIG_DM_BUFIO=y
CONFIG_ARCH_SUPPORTS_KMAP_LOCAL_FORCE_MAP=y
CONFIG_MMU=y
CONFIG_HAVE_KERNEL_LZO=y
CONFIG_ARCH_HAS_STRICT_KERNEL_RWX=y
CONFIG_REGMAP_SPMI=y
CONFIG_BLOCK_HOLDER_DEPRECATED=y
CONFIG_FORTIFY_SOURCE=y
CONFIG_DM_INIT=y
CONFIG_HAVE_PERF_REGS=y
CONFIG_VSOCKETS_DIAG=y
CONFIG_SCF_TORTURE_TEST=y
CONFIG_MTD_CFI=y
CONFIG_IRQ_POLL=y
CONFIG_PMIC_ADP5520=y
CONFIG_TRANSPARENT_HUGEPAGE=y
CONFIG_REGULATOR_TWL4030=y
CONFIG_MFD_TI_LMU=y
CONFIG_CONNECTOR=y
CONFIG_SPMI=y
CONFIG_ARCH_MAY_HAVE_PC_FDC=y
CONFIG_ARCH_DEFAULT_CRASH_DUMP=y
CONFIG_DEBUG_VFS=y
CONFIG_GENERIC_IRQ_RESERVATION_MODE=y
CONFIG_INPUT_MMA8450=y
CONFIG_LEDS_LM3697=y
CONFIG_ARCH_HAS_PTDUMP=y
CONFIG_SECRETMEM=y
CONFIG_REED_SOLOMON=y
CONFIG_PLIP=y
CONFIG_CRYPTO_AES=y
CONFIG_TTY=y
CONFIG_MTD_CFI_I2=y
CONFIG_X86_DISABLED_FEATURE_RETPOLINE=y
CONFIG_BD96801_WATCHDOG=y
CONFIG_GPIO_MAX77620=y
CONFIG_HSI_BOARDINFO=y
CONFIG_BOOT_CONFIG=y
CONFIG_HAVE_OPTPROBES=y
CONFIG_X86_DISABLED_FEATURE_CALL_DEPTH=y
CONFIG_CRYPTO_BLOWFISH_COMMON=y
CONFIG_CRYPTO_LIB_SHA512=y
CONFIG_RTC_DRV_AS3722=y
CONFIG_LD_IS_BFD=y
CONFIG_PAGE_MAPCOUNT=y
CONFIG_GENERIC_PINCTRL=y
CONFIG_SYSCTL_EXCEPTION_TRACE=y
CONFIG_LEDS_BLINKM_MULTICOLOR=y
CONFIG_SOFT_WATCHDOG=y
CONFIG_CRYPTO_AKCIPHER=y
CONFIG_CRYPTO_CHACHA20POLY1305=y
CONFIG_CC_HAS_SLS=y
CONFIG_GPIO_MAX7360=y
CONFIG_LP_CONSOLE=y
CONFIG_MFD_ROHM_BD957XMUF=y
CONFIG_INTERVAL_TREE=y
CONFIG_SECURITY=y
CONFIG_CRYPTO_ECDH=y
CONFIG_GPIO_POLARFIRE_SOC=y
CONFIG_WQ_CPU_INTENSIVE_REPORT=y
CONFIG_MITIGATION_SPECTRE_V1=y
CONFIG_NET_NSH=y
CONFIG_WAN=y
CONFIG_TOOLS_SUPPORT_RELR=y
CONFIG_MD_RAID10=y
CONFIG_CRYPTO_ACOMP2=y
CONFIG_X86_CPU_RESCTRL=y
CONFIG_FORCE_NR_CPUS=y
CONFIG_SCSI_DEBUG=y
CONFIG_GREYBUS=y
CONFIG_LEDS_LP8788=y
CONFIG_ATM_DRIVERS=y
CONFIG_CRYPTO_DES=y
CONFIG_EEPROM_IDT_89HPESX=y
CONFIG_GPIO_VIRTUSER=y
CONFIG_CRYPTO_HW=y
CONFIG_DEBUG_STACK_USAGE=y
CONFIG_DM_INTEGRITY=y
CONFIG_MOTORCOMM_PHY=y
CONFIG_MADERA_IRQ=y
CONFIG_REGULATOR_MAX77503=y
CONFIG_PTP_1588_CLOCK_FC3W=y
CONFIG_NLS_CODEPAGE_932=y
CONFIG_MFD_DA9150=y
CONFIG_CRYPTO_DEV_PADLOCK_SHA=y
CONFIG_HIGHMEM4G=y
CONFIG_NEW_LEDS=y
CONFIG_PROVE_RAW_LOCK_NESTING=y
CONFIG_X86_NEED_RELOCS=y
CONFIG_FLATMEM_MANUAL=y
CONFIG_STACKPROTECTOR_STRONG=y
CONFIG_GENERIC_ENTRY=y
CONFIG_RESCTRL_FS=y
CONFIG_VIRTIO_MENU=y
CONFIG_ARCH_HAS_SYSCALL_WRAPPER=y
CONFIG_HARDLOCKUP_DETECTOR_COUNTS_HRTIMER=y
CONFIG_HZ_PERIODIC=y
CONFIG_SOC_BUS=y
CONFIG_GPIO_GRGPIO=y
CONFIG_GNSS=y
CONFIG_GCC_NO_STRINGOP_OVERFLOW=y
CONFIG_CRAMFS_MTD=y
CONFIG_SOFTLOCKUP_DETECTOR=y
CONFIG_HAVE_ASM_MODVERSIONS=y
CONFIG_FW_LOADER_USER_HELPER_FALLBACK=y
CONFIG_PSAMPLE=y
CONFIG_AS_HAS_NON_CONST_ULEB128=y
CONFIG_MD_RAID456=y
CONFIG_MFD_MAX7360=y
CONFIG_EXTCON_USB_GPIO=y
CONFIG_BACKLIGHT_RAVE_SP=y
CONFIG_SYSFS_SYSCALL=y
CONFIG_STACKDEPOT=y
CONFIG_GPIO_MAX7301=y
CONFIG_KALLSYMS_ALL=y
CONFIG_EXTCON_RT8973A=y
CONFIG_X86_ESPFIX32=y
CONFIG_HAVE_SYSCALL_TRACEPOINTS=y
CONFIG_NVME_FABRICS=y
CONFIG_DP83867_PHY=y
CONFIG_LEDS_USER=y
CONFIG_MD_LINEAR=y
CONFIG_HAVE_ARCH_HUGE_VMAP=y
CONFIG_TASKS_RCU=y
CONFIG_REGULATOR_MAX77693=y
CONFIG_SERIO_ALTERA_PS2=y
CONFIG_REED_SOLOMON_DEC16=y
CONFIG_REGULATOR_HI6421=y
CONFIG_PERF_EVENTS=y
CONFIG_DEBUG_GPIO=y
CONFIG_NETLINK_DIAG=y
CONFIG_PARPORT=y
CONFIG_MFD_MAX8998=y
CONFIG_SGI_PARTITION=y
CONFIG_SPI_DEBUG=y
CONFIG_GENERIC_CPU_DEVICES=y
CONFIG_TCG_TIS_ST33ZP24_SPI=y
CONFIG_NET=y
CONFIG_DEFAULT_SECURITY_TOMOYO=y
CONFIG_X86_DISABLED_FEATURE_ENQCMD=y
CONFIG_DM_MULTIPATH_IOA=y
CONFIG_MFD_CS40L50_I2C=y
CONFIG_X86_DECODER_SELFTEST=y
CONFIG_BUG_ON_DATA_CORRUPTION=y
CONFIG_DM_LOG_USERSPACE=y
CONFIG_RTC_DRV_STK17TA8=y
CONFIG_PINMUX=y
CONFIG_ARCH_HAVE_NMI_SAFE_CMPXCHG=y
CONFIG_ZL3073X_SPI=y
CONFIG_FUSE_FS=y
CONFIG_TCG_TPM2_HMAC=y
CONFIG_BACKLIGHT_ADP8860=y
CONFIG_BACKLIGHT_LM3639=y
CONFIG_DMAPOOL_TEST=y
CONFIG_NET_DEVLINK=y
CONFIG_BCM7XXX_PHY=y
CONFIG_HIGHMEM=y
CONFIG_SYSCTL=y
CONFIG_DEBUG_KMEMLEAK=y
CONFIG_CRYPTO_CAST5=y
CONFIG_HAS_IOPORT_MAP=y
CONFIG_HAVE_REGS_AND_STACK_ACCESS_API=y
CONFIG_FWNODE_MDIO=y
CONFIG_SCREEN_INFO=y
CONFIG_INPUT_VIVALDIFMAP=y
CONFIG_BT_BREDR=y
CONFIG_KALLSYMS=y
CONFIG_RAID6_PQ_ARCH=y
CONFIG_CRYPTO_CMAC=y
CONFIG_MFD_MAX14577=y
CONFIG_WATCHDOG=y
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_DIRECT_CALLS=y
CONFIG_CAN_GW=y
CONFIG_MULTIPLEXER=y
CONFIG_DEBUG_PAGEALLOC=y
CONFIG_QRTR_MHI=y
CONFIG_MD_BITMAP_FILE=y
CONFIG_RC_LOOPBACK=y
CONFIG_PROC_PID_ARCH_STATUS=y
CONFIG_AD525X_DPOT_SPI=y
CONFIG_MFD_RC5T583=y
CONFIG_SECURITY_PATH=y
CONFIG_CADENCE_WATCHDOG=y
CONFIG_NET_DEVMEM=y
CONFIG_MFD_TPS6586X=y
CONFIG_PCMCIA=y
CONFIG_INPUT_DRV2665_HAPTICS=y
CONFIG_FUNCTION_ALIGNMENT_4B=y
CONFIG_KEYBOARD_PINEPHONE=y
CONFIG_KEYBOARD_MAX7360=y
CONFIG_LEDS_CPCAP=y
CONFIG_LEDS_TCA6507=y
CONFIG_IA32_FEAT_CTL=y
CONFIG_XILINX_PR_DECOUPLER=y
CONFIG_MFD_MAX77705=y
CONFIG_LCD_L4F00242T03=y
CONFIG_MFD_SKY81452=y
CONFIG_GPIO_TPS65910=y
CONFIG_DNS_RESOLVER=y
CONFIG_MTD_NAND_DISKONCHIP=y
CONFIG_SYNC_FILE=y
CONFIG_HAVE_RETHOOK=y
CONFIG_SCSI_SAS_ATTRS=y
CONFIG_PINCTRL_OCELOT=y
CONFIG_REGULATOR_88PG86X=y
CONFIG_PSTORE_ZONE=y
CONFIG_LEDS_LP5812=y
CONFIG_XZ_DEC_ARM64=y
CONFIG_HANGCHECK_TIMER=y
CONFIG_MEMTEST=y
CONFIG_RTC_DRV_DS1511=y
CONFIG_BCM54140_PHY=y
CONFIG_CGROUP_FREEZER=y
CONFIG_I2C_OCORES=y
CONFIG_CGROUP_PERF=y
CONFIG_CRYPTO_LZ4=y
CONFIG_PKCS8_PRIVATE_KEY_PARSER=y
CONFIG_SERIO_PARKBD=y
CONFIG_NSC_GPIO=y
CONFIG_VIRTIO_DEBUG=y
CONFIG_NETFILTER=y
CONFIG_INPUT_PCF8574=y
CONFIG_BACKLIGHT_KTD253=y
CONFIG_INPUT_AXP20X_PEK=y
CONFIG_GPIO_HLWD=y
CONFIG_X509_CERTIFICATE_PARSER=y
CONFIG_GENERIC_ALLOCATOR=y
CONFIG_LEDS_BCM6358=y
CONFIG_IMA_STAGING=y
CONFIG_CFS_BANDWIDTH=y
CONFIG_NLS_CODEPAGE_869=y
CONFIG_WATCHDOG_CORE=y
CONFIG_DM_WRITECACHE=y
CONFIG_FSI=y
CONFIG_RTC_DRV_ISL1208=y
CONFIG_GPIO_DS4520=y
CONFIG_CRYPTO_LIB_SHA3=y
CONFIG_ADVANTECH_WDT=y
CONFIG_SOLARIS_X86_PARTITION=y
CONFIG_FPGA_MGR_MACHXO2_SPI=y
CONFIG_NLS_ISO8859_2=y
CONFIG_XFS_QUOTA=y
CONFIG_RPMSG=y
CONFIG_FW_LOADER_PAGED_BUF=y
CONFIG_HAVE_BUILDTIME_MCOUNT_SORT=y
CONFIG_RAS=y
CONFIG_HAVE_EFFICIENT_UNALIGNED_ACCESS=y
CONFIG_CC_HAS_IBT=y
CONFIG_NLS_KOI8_U=y
CONFIG_VIRTIO_BLK=y
CONFIG_NO_HZ=y
CONFIG_KCMP=y
CONFIG_ASN1=y
CONFIG_ARCH_SUPPORTS_ACPI=y
CONFIG_X86_SUPPORTS_MEMORY_FAILURE=y
CONFIG_CRYPTO_LIB_AES=y
CONFIG_INPUT_CMA3000=y
CONFIG_DEBUG_KERNEL=y
CONFIG_PINCTRL_MAX77620=y
CONFIG_MAX63XX_WATCHDOG=y
CONFIG_LIBFDT=y
CONFIG_LINEAR_RANGES=y
CONFIG_EXT4_FS=y
CONFIG_GENERIC_SYSCALL=y
CONFIG_ADFS_FS_RW=y
CONFIG_CRYPTO_HASH=y
CONFIG_NLS_CODEPAGE_861=y
CONFIG_PROVE_LOCKING=y
CONFIG_TCG_NSC=y
CONFIG_CMA=y
CONFIG_SPI_MEM=y
CONFIG_VIRTIO_RTC=y
CONFIG_SQUASHFS_DECOMP_SINGLE=y
CONFIG_DETECT_HUNG_TASK_BLOCKER=y
CONFIG_NVMEM_LAYOUTS=y
CONFIG_BLK_DEV_BSG_COMMON=y
CONFIG_CRYPTO_AEGIS128=y
CONFIG_MODULES_USE_ELF_REL=y
CONFIG_HAVE_PERF_EVENTS=y
CONFIG_MFD_MC13XXX=y
CONFIG_SKB_EXTENSIONS=y
CONFIG_WATCHDOG_PRETIMEOUT_GOV=y
CONFIG_BLK_DEV=y
CONFIG_SYSFS=y
CONFIG_I2C_VIRTIO=y
CONFIG_THERMAL_NETLINK=y
CONFIG_GPIOLIB_LEGACY=y
CONFIG_REGULATOR_MAX77620=y
CONFIG_GNSS_SIRF_SERIAL=y
CONFIG_OPENSSL_SUPPORTS_ML_DSA=y
CONFIG_GROUP_SCHED_WEIGHT=y
CONFIG_GPIO_ARIZONA=y
CONFIG_CRYPTO_CTR=y
CONFIG_CAN_HI311X=y
CONFIG_WANT_DEV_COREDUMP=y
CONFIG_ARCH_MIGHT_HAVE_PC_SERIO=y
CONFIG_PAGE_POISONING=y
CONFIG_RPMSG_NS=y
CONFIG_GENERIC_BITREVERSE=y
CONFIG_PERSISTENT_KEYRINGS=y
CONFIG_HAVE_ARCH_JUMP_LABEL_RELATIVE=y
CONFIG_SENSORS_BH1770=y
CONFIG_RESCTRL_FS_PSEUDO_LOCK=y
CONFIG_VHOST_MENU=y
CONFIG_ARCH_SUPPORTS_CRASH_HOTPLUG=y
CONFIG_BATMAN_ADV_DEBUG=y
CONFIG_VSOCKETS=y
CONFIG_ARCH_HAS_PTE_SPECIAL=y
CONFIG_BACKLIGHT_PANDORA=y
CONFIG_LEDS_TRIGGER_PANIC=y
CONFIG_ARCH_SELECT_MEMORY_MODEL=y
CONFIG_GOLDFISH=y
CONFIG_HARDLOCKUP_DETECTOR=y
CONFIG_DM_FLAKEY=y
CONFIG_HSI=y
CONFIG_LCD_OTM3225A=y
CONFIG_RESET_CONTROLLER=y
CONFIG_X86_REQUIRED_FEATURE_CMOV=y
CONFIG_RPMSG_CHAR=y
CONFIG_FAT_FS=y
CONFIG_CRYPTO_RSA=y
CONFIG_ISL29003=y
CONFIG_ASYNC_MEMCPY=y
CONFIG_LLC=y
CONFIG_DEBUG_RWSEMS=y
CONFIG_DAMON_VADDR=y
CONFIG_LEDS_LM36274=y
CONFIG_VFIO_CONTAINER=y
CONFIG_PROC_CPU_RESCTRL=y
CONFIG_INPUT_DA7280_HAPTICS=y
CONFIG_LEDS_KTD202X=y
CONFIG_ARCH_SUPPORTS_MEMORY_FAILURE=y
CONFIG_OID_REGISTRY=y
CONFIG_INPUT_MATRIXKMAP=y
CONFIG_ZONE_DMA=y
CONFIG_CRYPTO_AEAD2=y
CONFIG_ARCH_HAS_MEM_ENCRYPT=y
CONFIG_CRYPTO_JITTERENTROPY_MEMSIZE_2=y
CONFIG_DEBUG_LIST=y
CONFIG_LEDS_LP5521=y
CONFIG_MUX_ADG792A=y
CONFIG_KEYS_REQUEST_CACHE=y
CONFIG_SERIAL_DEV_BUS=y
CONFIG_APM_ALLOW_INTS=y
CONFIG_CRYPTO_LIB_POLY1305=y
CONFIG_MMU_GATHER_MERGE_VMAS=y
CONFIG_ARCH_HAS_FAST_MULTIPLIER=y
CONFIG_STACKTRACE=y
CONFIG_WAFER_WDT=y
CONFIG_HAVE_DEBUG_STACKOVERFLOW=y
CONFIG_NOP_TRACER=y
CONFIG_MFD_MAX5970=y
CONFIG_REGULATOR_RK808=y
CONFIG_CRYPTO_BLOWFISH=y
CONFIG_HI6421V600_IRQ=y
CONFIG_TASKS_RCU_GENERIC=y
CONFIG_HAVE_FTRACE_GRAPH_FUNC=y
CONFIG_MFD_HI6421_PMIC=y
CONFIG_HAVE_EXIT_THREAD=y
CONFIG_CRYPTO_LIB_SM3=y
CONFIG_PSTORE_BLK=y
CONFIG_ARCH_HAS_NONLEAF_PMD_YOUNG=y
CONFIG_GENERIC_PINCONF=y
CONFIG_GNSS_UBX_SERIAL=y
CONFIG_PREEMPT=y
CONFIG_GROUP_SCHED_BANDWIDTH=y
CONFIG_CEC_CH7322=y
CONFIG_MFD_CS40L50_CORE=y
CONFIG_PROC_SYSCTL=y
CONFIG_MAILBOX=y
CONFIG_ICS932S401=y
CONFIG_MD=y
CONFIG_SENSORS_LIS3_SPI=y
CONFIG_LEDS_LP8501=y
CONFIG_PTP_1588_CLOCK_MOCK=y
CONFIG_MTD_LPDDR=y
CONFIG_XXHASH=y
CONFIG_MAC_PARTITION=y
CONFIG_PSTORE=y
CONFIG_REGULATOR_MC13XXX_CORE=y
CONFIG_REGULATOR_PF8X00=y
CONFIG_MDIO_MSCC_MIIM=y
CONFIG_RTC_DRV_SD3078=y
CONFIG_REGULATOR_RT5190A=y
CONFIG_BATMAN_ADV_TRACING=y
CONFIG_MFD_CS47L15=y
CONFIG_POWER_RESET_REGULATOR=y
CONFIG_CC_OPTIMIZE_FOR_SIZE=y
CONFIG_LEGACY_TIOCSTI=y
CONFIG_ARCH_FLATMEM_ENABLE=y
CONFIG_RTC_DRV_MAX8907=y
CONFIG_CC_HAS_ASM_INLINE=y
CONFIG_NFC_DIGITAL=y
CONFIG_CRYPTO_LIB_BLAKE2B=y
CONFIG_HAVE_DYNAMIC_FTRACE_NO_PATCHABLE=y
CONFIG_PINCTRL_CS47L35=y
CONFIG_ALLOW_DEV_COREDUMP=y
CONFIG_NLS_CODEPAGE_874=y
CONFIG_CRYPTO_CTS=y
CONFIG_CRC4=y
CONFIG_INPUT_CMA3000_I2C=y
CONFIG_REGULATOR_RTQ6752=y
CONFIG_HAVE_ARCH_MMAP_RND_BITS=y
CONFIG_OF_RESERVED_MEM=y
CONFIG_IDLE_PAGE_TRACKING=y
CONFIG_HAVE_PAGE_SIZE_4KB=y
CONFIG_REGULATOR_88PM8607=y
CONFIG_FPGA_MGR_MICROCHIP_SPI=y
CONFIG_DEBUG_KOBJECT=y
CONFIG_REGULATOR_MAX77802=y
CONFIG_X86_DISABLED_FEATURE_IBT=y
CONFIG_VXFS_FS=y
CONFIG_TCG_TIS_ST33ZP24=y
CONFIG_REGMAP_SPI=y
CONFIG_LRU_GEN_WALKS_MMU=y
CONFIG_CRC_ITU_T=y
CONFIG_X86_UMIP=y
CONFIG_DM_ZERO=y
CONFIG_RTC_DRV_S5M=y
CONFIG_PECI=y
CONFIG_RTC_DRV_TEST=y
CONFIG_CRC32=y
CONFIG_GPIO_TWL4030=y
CONFIG_MHI_BUS_EP=y
CONFIG_BLK_MQ_STACKING=y
CONFIG_PPS_CLIENT_GPIO=y
CONFIG_LEDS_AAT1290=y
CONFIG_VIRTIO_VSOCKETS_COMMON=y
CONFIG_PHYS_ADDR_T_64BIT=y
CONFIG_CRYPTO_XTS=y
CONFIG_MTD_SPI_NOR_SWP_DISABLE=y
CONFIG_AIO=y
CONFIG_SCHED_OMIT_FRAME_POINTER=y
CONFIG_OPTEE_STATIC_PROTMEM_POOL=y
CONFIG_FW_UPLOAD=y
CONFIG_HAVE_POSIX_CPU_TIMERS_TASK_WORK=y
CONFIG_GPIO_WAVESHARE_DSI_TOUCH=y
CONFIG_RTC_CLASS=y
CONFIG_GENERIC_PCI_IOMAP=y
CONFIG_HAVE_USER_RETURN_NOTIFIER=y
CONFIG_BLK_DEV_ZONED=y
CONFIG_NETFS_SUPPORT=y
CONFIG_MFD_CGBC=y
CONFIG_AS_IS_GNU=y
CONFIG_ARCH_WANT_BATCHED_UNMAP_TLB_FLUSH=y
CONFIG_ZL3073X=y
CONFIG_DEBUG_SPINLOCK=y
CONFIG_MFD_TPS65912_SPI=y
CONFIG_CLKEVT_I8253=y
CONFIG_PGTABLE_HAS_HUGE_LEAVES=y
CONFIG_CRYPTO_SM3=y
CONFIG_NEED_PER_CPU_KM=y
CONFIG_TCG_VTPM_PROXY=y
CONFIG_GPIO_SIOX=y
CONFIG_GPIO_GRANITERAPIDS=y
CONFIG_BACKLIGHT_ARCXCNN=y
CONFIG_DMA_SHARED_BUFFER=y
CONFIG_TARGET_CORE=y
CONFIG_DEBUG_KMAP_LOCAL_FORCE_MAP=y
