CONFIG_SOC_TEGRA_POWERGATE_BPMP=n
CONFIG_HOTPLUG_CPU=n
CONFIG_NFS_V4_2_SSC_HELPER=n
CONFIG_LEDS_SYSCON=n
CONFIG_SLUB=n
CONFIG_SND_SOC_TLV320AIC32X4_I2C=n
CONFIG_SYSVIPC=n
CONFIG_GENERIC_PHY_MIPI_DPHY=n
CONFIG_PWM_RENESAS_TPU=n
CONFIG_PINCTRL_RZT2H=n
CONFIG_COMMON_CLK_MT8188_VDOSYS=n
CONFIG_NET_NS=n
CONFIG_PINCTRL_ARMADA_CP110=n
CONFIG_TYPEC_MUX_PS883X=n
CONFIG_SYS_SUPPORTS_SH_TMU=n
CONFIG_SM_GPUCC_8650=n
CONFIG_USB_DWC3_DUAL_ROLE=n
CONFIG_I2C_OWL=n
CONFIG_AS_HAS_LSUI=n
CONFIG_SND_SOC_WCD939X=n
CONFIG_MLX5_CORE=n
CONFIG_ARCH_HAS_BATCHED_DMA_SYNC=n
CONFIG_PREEMPT_COUNT=n
CONFIG_PM_SLEEP=n
CONFIG_QCM_GCC_2290=n
CONFIG_SND_SOC_LPASS_SC7180=n
CONFIG_FB_SYSMEM_HELPERS_DEFERRED=n
CONFIG_VLAN_8021Q_MVRP=n
CONFIG_IRQCHIP=n
CONFIG_ACPI_THERMAL_LIB=n
CONFIG_TEGRA_ACONNECT=n
CONFIG_VMCORE_INFO=n
CONFIG_RASPBERRYPI_POWER=n
CONFIG_SYSCTL=n
CONFIG_BRCM_USB_PINMAP=n
CONFIG_TYPEC_QCOM_PMIC=n
CONFIG_SND_SOC_HDMI_CODEC=n
CONFIG_SND_SOC_WM8904=n
CONFIG_SND_HDA_CODEC_HDMI=n
CONFIG_SUN4I_TIMER=n
CONFIG_DRM_TI_SN65DSI83=n
CONFIG_ACPI_APEI_GHES=n
CONFIG_WATCHDOG_HANDLE_BOOT_ENABLED=n
CONFIG_DRM_LONTIUM_LT9611UXC=n
CONFIG_ACPI_APEI_EINJ=n
CONFIG_IOMMU_IO_PGTABLE=n
CONFIG_SUN20I_PPU=n
CONFIG_PCI_LABEL=n
CONFIG_COMMON_CLK_MT6795_VENCSYS=n
CONFIG_RTC_DRV_IMX_SC=n
CONFIG_CRYPTO_DEV_QCE_SHA=n
CONFIG_TEGRA_HOST1X_CONTEXT_BUS=n
CONFIG_SND_SOC_RT1015=n
CONFIG_XZ_DEC_ARMTHUMB=n
CONFIG_CC_HAS_INT128=n
CONFIG_HW_RANDOM_OMAP=n
CONFIG_DM_MIRROR=n
CONFIG_PCS_RZN1_MIIC=n
CONFIG_QCOM_RMTFS_MEM=n
CONFIG_REGULATOR_PF8X00=n
CONFIG_MTD_NAND_BRCMNAND=n
CONFIG_PWM_XILINX=n
CONFIG_RTC_DRV_S3C=n
CONFIG_LD_IS_LLD=n
CONFIG_SENSORS_INA3221=n
CONFIG_MT7921E=n
CONFIG_PINCTRL_IMX=n
CONFIG_INTERCONNECT_QCOM_SC7280=n
CONFIG_NET_SCH_CBS=n
CONFIG_SND_SOC_WM8994=n
CONFIG_ARM_ARCH_TIMER_OOL_WORKAROUND=n
CONFIG_DRM_VRAM_HELPER=n
CONFIG_PCI_J721E_HOST=n
CONFIG_FSL_DPAA2_ETH=n
CONFIG_CRYPTO_GCM=n
CONFIG_PHY_AM654_SERDES=n
CONFIG_GPIO_CDEV=n
CONFIG_SND_PCM=n
CONFIG_GENERIC_CPU_VULNERABILITIES=n
CONFIG_OID_REGISTRY=n
CONFIG_MLX4_DEBUG=n
CONFIG_SUSPEND_FREEZER=n
CONFIG_PINCTRL_EXYNOS=n
CONFIG_PHY_XGENE=n
CONFIG_ROCKCHIP_DW_MIPI_DSI=n
CONFIG_DRM_PANEL_TRULY_NT35597_WQXGA=n
CONFIG_VT_CONSOLE_SLEEP=n
CONFIG_TESLA_FSD_COMMON_CLK=n
CONFIG_VIDEO_DEV=n
CONFIG_SND_SOC_QDSP6_USB=n
CONFIG_MEMORY_HOTPLUG=n
CONFIG_BT_INTEL=n
CONFIG_USB_CONFIGFS_NCM=n
CONFIG_ZONE_DMA=n
CONFIG_STUB_CLK_HI3660=n
CONFIG_VIDEO_RCAR_DRIF=n
CONFIG_SERIAL_CORE=n
CONFIG_SCSI_COMMON=n
CONFIG_IPQ_GCC_5210=n
CONFIG_MITIGATE_SPECTRE_BRANCH_HISTORY=n
CONFIG_PCI_PASID=n
CONFIG_TYPEC_MUX_PTN36502=n
CONFIG_DRM_MSM_MDSS=n
CONFIG_QCOM_UBWC_CONFIG=n
CONFIG_BINFMT_SCRIPT=n
CONFIG_CPU_FREQ_THERMAL=n
CONFIG_NET_9P=n
CONFIG_GENERIC_PHY=n
CONFIG_SPLIT_PMD_PTLOCKS=n
CONFIG_XZ_DEC_RISCV=n
CONFIG_MFD_SYSCON=n
CONFIG_ARCH_R9A09G047=n
CONFIG_PHY_MESON_G12A_MIPI_DPHY_ANALOG=n
CONFIG_NET_DEVMEM=n
CONFIG_INPUT_MATRIXKMAP=n
CONFIG_STANDALONE=n
CONFIG_HTE_TEGRA194=n
CONFIG_SND_SOC_MSM8996=n
CONFIG_CAN_M_CAN=n
CONFIG_DRM_I2C_ADV7511_AUDIO=n
CONFIG_DRM_MEDIATEK_HDMI=n
CONFIG_RENESAS_IRQC=n
CONFIG_EXTCON=n
CONFIG_WLAN_VENDOR_REALTEK=n
CONFIG_SOC_IMX8M=n
CONFIG_DRM_INNO_HDMI=n
CONFIG_NET_SCH_ETF=n
CONFIG_SND_SOC_WCD937X=n
CONFIG_FUSE_FS=n
CONFIG_BATTERY_BQ27XXX_I2C=n
CONFIG_MMC_MTK=n
CONFIG_SERIAL_8250_PERICOM=n
CONFIG_PHY_ROCKCHIP_PCIE=n
CONFIG_SND_SOC_FSL_SAI=n
CONFIG_ARM_CCN=n
CONFIG_HAVE_KVM_DIRTY_RING_ACQ_REL=n
CONFIG_RFS_ACCEL=n
CONFIG_PCI_ENDPOINT=n
CONFIG_TEGRA_IVC=n
CONFIG_GENERIC_ALLOCATOR=n
CONFIG_CPUSETS=n
CONFIG_SND_SOC_TLV320AIC31XX=n
CONFIG_PHY_RCAR_GEN3_USB2=n
CONFIG_MFD_AXP20X=n
CONFIG_PINCTRL_HAWI=n
CONFIG_QCOM_APR=n
CONFIG_COMMON_CLK_MT8196_MCUSYS=n
CONFIG_INPUT_PWM_VIBRA=n
CONFIG_UNINLINE_SPIN_UNLOCK=n
CONFIG_BT_MRVL_SDIO=n
CONFIG_SND_PCI=n
CONFIG_CLK_R8A779G0=n
CONFIG_QCOM_QMI_HELPERS=n
CONFIG_USB_CONFIGFS_SERIAL=n
CONFIG_HW_RANDOM_BCM74110=n
CONFIG_TRANSPARENT_HUGEPAGE=n
CONFIG_CRYPTO_DEFLATE=n
CONFIG_ARM_SMMU_DISABLE_BYPASS_BY_DEFAULT=n
CONFIG_ARM64_ERRATUM_2054223=n
CONFIG_I2C=n
CONFIG_SLUB_DEBUG=n
CONFIG_ARCH_EXYNOS=n
CONFIG_POSIX_MQUEUE_SYSCTL=n
CONFIG_ACPI_NUMA=n
CONFIG_MEDIA_TUNER_TDA18271=n
CONFIG_MTK_SMI=n
CONFIG_USB_DWC3_RTK=n
CONFIG_MTD_BLKDEVS=n
CONFIG_VFAT_FS=n
CONFIG_CLK_RK3568=n
CONFIG_ARM64_ERRATUM_826319=n
CONFIG_HOTPLUG_CORE_SYNC_DEAD=n
CONFIG_SM_GCC_8250=n
CONFIG_USB_MUSB_DUAL_ROLE=n
CONFIG_PINCTRL_SKY1_BASE=n
CONFIG_RTC_DRV_NVIDIA_VRS10=n
CONFIG_ARM64_LPA2=n
CONFIG_UBIFS_FS_XATTR=n
CONFIG_SND_MESON_AXG_FRDDR=n
CONFIG_XILINX_INTC=n
CONFIG_MMC_SDHCI_OF_DWCMSHC=n
CONFIG_CLK_X1E80100_DISPCC=n
CONFIG_STACKTRACE_SUPPORT=n
CONFIG_DRM_DISPLAY_HDMI_STATE_HELPER=n
CONFIG_PHY_MVEBU_CP110_COMPHY=n
CONFIG_DCACHE_WORD_ACCESS=n
CONFIG_VGA_ARB=n
CONFIG_USB_ONBOARD_DEV_USB5744=n
CONFIG_MTK_LVTS_THERMAL=n
CONFIG_PHY_QCOM_USB_SS=n
CONFIG_HAVE_RUST=n
CONFIG_IIO_ST_MAGN_I2C_3AXIS=n
CONFIG_SERIAL_SH_SCI_DMA=n
CONFIG_VIDEO_MAX96712=n
CONFIG_PCIE_RENESAS_RZG3S_HOST=n
CONFIG_IIO_ST_SENSORS_SPI=n
CONFIG_SPI_MEM=n
CONFIG_REGMAP_SPI=n
CONFIG_NET_VENDOR_CADENCE=n
CONFIG_SND_SOC_RT5514_SPI=n
CONFIG_CC_HAS_WORKING_NOSANITIZE_ADDRESS=n
CONFIG_CLK_RK3576=n
CONFIG_MARVELL_PHY=n
CONFIG_SYNC_FILE=n
CONFIG_NET_CLS_FLOWER=n
CONFIG_PM_GENERIC_DOMAINS_SLEEP=n
CONFIG_PINCTRL_SM6115_LPASS_LPI=n
CONFIG_KEYS=n
CONFIG_ARM_AIROHA_SOC_CPUFREQ=n
CONFIG_SYSC_R8A7795=n
CONFIG_INPUT_SPARSEKMAP=n
CONFIG_MSDOS_PARTITION=n
CONFIG_BLK_DEV_INITRD=n
CONFIG_SND_SOC_WCD938X=n
CONFIG_SND_USB_AUDIO_USE_MEDIA_CONTROLLER=n
CONFIG_XILINX_ZYNQMP_DMA=n
CONFIG_IIO_ST_LSM6DSX=n
CONFIG_CRYPTO_ALGAPI=n
CONFIG_PINCTRL_MT8195=n
CONFIG_TI_MESSAGE_MANAGER=n
CONFIG_ARM_SP805_WATCHDOG=n
CONFIG_COMMON_CLK_MT8192=n
CONFIG_UID16=n
CONFIG_HAVE_FUNCTION_TRACER=n
CONFIG_OMAP2PLUS_MBOX=n
CONFIG_QCOM_RPMPD=n
CONFIG_USB_U_SERIAL=n
CONFIG_HWSPINLOCK=n
CONFIG_HVC_XEN_FRONTEND=n
CONFIG_XEN_GNTDEV=n
CONFIG_DRM_ANALOGIX_DP=n
CONFIG_RESET_SIMPLE=n
CONFIG_V4L_MEM2MEM_DRIVERS=n
CONFIG_ARM64_PLATFORM_DEVICES=n
CONFIG_SPI_BCM2835=n
CONFIG_IOMMU_DEFAULT_DMA_STRICT=n
CONFIG_MLX5_ESWITCH=n
CONFIG_FSNOTIFY=n
CONFIG_COMMON_CLK_PWM=n
CONFIG_SM_GCC_6350=n
CONFIG_LIBFDT=n
CONFIG_CRYPTO_LIB_SHA512=n
CONFIG_CORESIGHT_SINK_TPIU=n
CONFIG_GUEST_PERF_EVENTS=n
CONFIG_PCIE_IPROC=n
CONFIG_CRYPTO_SM4=n
CONFIG_SPI_SUN6I=n
CONFIG_TCG_TIS=n
CONFIG_INPUT_EVDEV=n
CONFIG_DRM_SAMSUNG_DSIM=n
CONFIG_ASYNC_TX_DISABLE_PQ_VAL_DMA=n
CONFIG_TOUCHSCREEN_APPLE_Z2=n
CONFIG_VETH=n
CONFIG_ARCH_UNIPHIER=n
CONFIG_CORESIGHT=n
CONFIG_SUN50I_H6_R_CCU=n
CONFIG_BLK_MQ_STACKING=n
CONFIG_PCI_PWRCTRL_GENERIC=n
CONFIG_PCI_EPF_TEST=n
CONFIG_SPI_MESON_SPICC=n
CONFIG_RTC_I2C_AND_SPI=n
CONFIG_CLK_MA35D1=n
CONFIG_ARCH_HAS_MEMBARRIER_SYNC_CORE=n
CONFIG_COMPAT_BINFMT_ELF=n
CONFIG_XZ_DEC_ARM64=n
CONFIG_USB_EHCI_HCD_NPCM7XX=n
CONFIG_SOCK_CGROUP_DATA=n
CONFIG_MTD_OF_PARTS_BCM4908=n
CONFIG_ARM_SCMI_PERF_DOMAIN=n
CONFIG_SC_LPASS_CORECC_7280=n
CONFIG_BPF_JIT_DEFAULT_ON=n
CONFIG_HAS_DMA=n
CONFIG_PHY_ROCKCHIP_SNPS_PCIE3=n
CONFIG_RZG3E_THERMAL=n
CONFIG_LEDS_CLASS_MULTICOLOR=n
CONFIG_RESET_BRCMSTB_RESCAL=n
CONFIG_TICK_CPU_ACCOUNTING=n
CONFIG_SENSORS_LM90=n
CONFIG_IP_VS=n
CONFIG_PHY_SUN6I_MIPI_DPHY=n
CONFIG_TEE_BNXT_FW=n
CONFIG_CLK_BCM_SR=n
CONFIG_PHY_QCOM_USB_HS=n
CONFIG_PINCTRL_TEGRA194=n
CONFIG_SND_SOC_AK4613=n
CONFIG_CLK_X1P42100_CAMCC=n
CONFIG_HAVE_PAGE_SIZE_4KB=n
CONFIG_ARM_DSU_PMU=n
CONFIG_USB_DWC3_AM62=n
CONFIG_COMMON_CLK_XLNX_CLKWZRD=n
CONFIG_GCC_SUPPORTS_DYNAMIC_FTRACE_WITH_ARGS=n
CONFIG_CRYPTO_DEV_BCM_SPU=n
CONFIG_INTERCONNECT_IMX8MM=n
CONFIG_PCI_HOST_COMMON=n
CONFIG_CROS_EC_SENSORHUB=n
CONFIG_PCI_HOST_GENERIC=n
CONFIG_PINCTRL_SOPHGO_CV18XX_OPS=n
CONFIG_SND_SOC_I2C_AND_SPI=n
CONFIG_NET_DSA_TAG_BRCM_LEGACY_FCS=n
CONFIG_MESON_GX_SOCINFO=n
