CONFIG_COMMON_CLK_MT6795_MMSYS=y
CONFIG_FS_POSIX_ACL=y
CONFIG_USB_SERIAL_WISHBONE=y
CONFIG_PINCTRL_TEGRA20=y
CONFIG_LEDS_LP50XX=y
CONFIG_STM_PROTO_BASIC=y
CONFIG_MTD_CFI_ADV_OPTIONS=y
CONFIG_USB_ONBOARD_DEV=y
CONFIG_COMMON_CLK_MT8195_VDOSYS=y
CONFIG_CLK_BCM2835=y
CONFIG_HIGH_RES_TIMERS=y
CONFIG_SI7005=y
CONFIG_USB_NET_AX8817X=y
CONFIG_MMA9551_CORE=y
CONFIG_SX9310=y
CONFIG_CLS_U32_MARK=y
CONFIG_MXC6255=y
CONFIG_COMMON_CLK_MT8188_IPESYS=y
CONFIG_HW_RANDOM_MESON=y
CONFIG_RISCV_ISA_ZICBOZ=y
CONFIG_IIO_RESCALE=y
CONFIG_REGULATOR_MT6359=y
CONFIG_EXTCON_ADC_JACK=y
CONFIG_PHY_CADENCE_DPHY=y
CONFIG_PHY_SUN50I_USB3=y
CONFIG_MTK_SCPSYS=y
CONFIG_REGULATOR_LM363X=y
CONFIG_CLK_RV1103B=y
CONFIG_IEEE802154_FAKELB=y
CONFIG_REGULATOR_MCP16502=y
CONFIG_PINCTRL_VISCONTI=y
CONFIG_PMIC_DA9052=y
CONFIG_SERIAL_MSM=y
CONFIG_RPMSG_CHAR=y
CONFIG_PINCTRL_MILOS=y
CONFIG_XILINX_AMS=y
CONFIG_CHARGER_GPIO=y
CONFIG_SOC_TEGRA20_VOLTAGE_COUPLER=y
CONFIG_CLK_RK3528=y
CONFIG_I2C_MUX_REG=y
CONFIG_BOOT_PRINTK_DELAY=y
CONFIG_SPI_ST_SSC4=y
CONFIG_AUXDISPLAY=y
CONFIG_SI7210=y
CONFIG_GPIO_MAX3191X=y
CONFIG_VM_EVENT_COUNTERS=y
CONFIG_USB_RTL8153_ECM=y
CONFIG_ADIS16260=y
CONFIG_INPUT_MOUSEDEV_PSAUX=y
CONFIG_USB_LEGOTOWER=y
CONFIG_MICREL_PHY=y
CONFIG_PCS_LYNX=y
CONFIG_RESET_SCMI=y
CONFIG_MTD_PHYSMAP_GPIO_ADDR=y
CONFIG_AD4691=y
CONFIG_ADIS16201=y
CONFIG_FPGA=y
CONFIG_PHY_AIROHA_PCIE=y
CONFIG_FSNOTIFY=y
CONFIG_PAGE_SIZE_LESS_THAN_256KB=y
CONFIG_TEGRA30_TSENSOR=y
CONFIG_RESET_NUVOTON_MA35D1=y
CONFIG_MFD_RK8XX_SPI=y
CONFIG_KPROBES=y
CONFIG_GIANFAR=y
CONFIG_REGULATOR_RN5T618=y
CONFIG_PHY_STM32_COMBOPHY=y
CONFIG_MEDIATEK_GE_PHY=y
CONFIG_PSI=y
CONFIG_KMALLOC_PARTITION_CACHES=y
CONFIG_SPI_SPIDEV=y
CONFIG_COMMON_CLK_FIXED_MMIO=y
CONFIG_REGULATOR_RT5739=y
CONFIG_RTC_DRV_PIC32=y
CONFIG_USB_SERIAL_PL2303=y
CONFIG_AD5592R_BASE=y
CONFIG_SPI_TEGRA210_QUAD=y
CONFIG_VF610_DAC=y
CONFIG_AD7293=y
CONFIG_SPI_MT65XX=y
CONFIG_PINCTRL_SH_FUNC_GPIO=y
CONFIG_SUN55I_A523_CCU=y
CONFIG_DEBUG_CGROUP_REF=y
CONFIG_PHY_ECONET_PCIE=y
CONFIG_RESET_TI_SYSCON=y
CONFIG_NLS_MAC_TURKISH=y
CONFIG_GNSS_USB=y
CONFIG_TEST_RHASHTABLE=y
CONFIG_PINCTRL_WM8750=y
CONFIG_MTD_CFI_LE_BYTE_SWAP=y
CONFIG_TYPEC_WUSB3801=y
CONFIG_LEDS_OSRAM_AMS_AS3668=y
CONFIG_USB_ISP1761_UDC=y
CONFIG_FUTEX_PI=y
CONFIG_ARCH_HAS_DEBUG_WX=y
CONFIG_SPI_STM32_OSPI=y
CONFIG_RTC_DRV_PCF2127=y
CONFIG_HW_RANDOM_MTK=y
CONFIG_INGENIC_CGU_JZ4725B=y
CONFIG_FXAS21002C=y
CONFIG_PHY_PACKAGE=y
CONFIG_RISCV_INTC=y
CONFIG_COMMON_CLK_HI655X=y
CONFIG_CRYPTO_RNG=y
CONFIG_IIO_BUFFER_CB=y
CONFIG_TI_ADC128S052=y
CONFIG_PINCTRL_PXA27X=y
CONFIG_DPLL_REFCNT_TRACKER=y
CONFIG_INPUT_E3X0_BUTTON=y
CONFIG_RTC_DRV_ISL12022=y
CONFIG_MEMSTICK_UNSAFE_RESUME=y
CONFIG_TEST_REF_TRACKER=y
CONFIG_PINCTRL_INTEL_PLATFORM=y
CONFIG_ARCH_WANT_FRAME_POINTERS=y
CONFIG_IIO_ST_MAGN_SPI_3AXIS=y
CONFIG_NVMEM_ROCKCHIP_OTP=y
CONFIG_NET_9P_FD=y
CONFIG_USB_NET_CDC_NCM=y
CONFIG_COMMON_CLK_MT6797_IMGSYS=y
CONFIG_SPI_AMLOGIC_SPISG=y
CONFIG_RISCV_SLOW_UNALIGNED_ACCESS=y
CONFIG_LD_CAN_USE_KEEP_IN_OVERLAY=y
CONFIG_GPIO_XLP=y
CONFIG_MAX44009=y
CONFIG_MFD_TPS65217=y
CONFIG_MFD_MT6360=y
CONFIG_ZSTD_DECOMPRESS=y
CONFIG_CLK_STARFIVE_JH7110_SYS=y
CONFIG_GENERIC_IRQ_ENTRY=y
CONFIG_W1_SLAVE_DS2433_CRC=y
CONFIG_SPI_BCM_QSPI=y
CONFIG_PINCTRL_PFC_R8A77960=y
CONFIG_GPIO_SNPS_CREG=y
CONFIG_USB_RTL8150=y
CONFIG_DEBUG_MISC=y
CONFIG_PINCONF=y
CONFIG_MFD_TPS65912_I2C=y
CONFIG_PHY_UNIPHIER_AHCI=y
CONFIG_DMABUF_HEAPS_SYSTEM=y
CONFIG_NET_VENDOR_WANGXUN=y
CONFIG_SECTION_MISMATCH_WARN_ONLY=y
CONFIG_NET_CLS_ACT=y
CONFIG_STACKDEPOT=y
CONFIG_LEDS_NETXBIG=y
CONFIG_USB_EHCI_HCD_PLATFORM=y
CONFIG_KEYS=y
CONFIG_QCOM_GENI_SE=y
CONFIG_DAX=y
CONFIG_HW_RANDOM_IXP4XX=y
CONFIG_USB_EHCI_HCD=y
CONFIG_ZIIRAVE_WATCHDOG=y
CONFIG_QCOM_WCNSS_CTRL=y
CONFIG_SENSORS_HMC5843_SPI=y
CONFIG_NET_VENDOR_QUALCOMM=y
CONFIG_INV_MPU6050_I2C=y
CONFIG_COMMON_CLK_MT8188=y
CONFIG_LEDS_USER=y
CONFIG_LEDS_LM3530=y
CONFIG_MCP9600=y
CONFIG_CRYPTO_TWOFISH=y
CONFIG_WATCHDOG_HRTIMER_PRETIMEOUT=y
CONFIG_TPS6594_ESM=y
CONFIG_MFD_KHADAS_MCU=y
CONFIG_XZ_DEC_ARM=y
CONFIG_OF_ALL_DTBS=y
CONFIG_ARM_SCMI_POWER_CONTROL=y
CONFIG_NET_VENDOR_SYNOPSYS=y
CONFIG_HD44780=y
CONFIG_REGULATOR_RT5120=y
CONFIG_FRAME_POINTER=y
CONFIG_MFD_CS42L43=y
CONFIG_MARVELL_10G_PHY=y
CONFIG_MAGIC_SYSRQ=y
CONFIG_PHY_SAMSUNG_USB2=y
CONFIG_PINCTRL_ICELAKE=y
CONFIG_USB_NET_AX88179_178A=y
CONFIG_NLS_CODEPAGE_936=y
CONFIG_PHY_QCOM_SGMII_ETH=y
CONFIG_MFD_MC13XXX_I2C=y
CONFIG_PANEL=y
CONFIG_SPRD_COMMON_CLK=y
CONFIG_MMU_LAZY_TLB_REFCOUNT=y
CONFIG_TRACEPOINTS=y
CONFIG_COMMON_CLK_IPROC=y
CONFIG_PINCTRL_MSM8998=y
CONFIG_PARPORT_NOT_PC=y
CONFIG_SPI_DAVINCI=y
CONFIG_RESET_SPACEMIT_K1=y
CONFIG_PID_NS=y
CONFIG_MFD_MT6370=y
CONFIG_GENERIC_ADC_THERMAL=y
CONFIG_STMPE_ADC=y
CONFIG_PARPORT_1284=y
CONFIG_WAN=y
CONFIG_RTC_DRV_HYM8563=y
CONFIG_GPIO_BCM_XGS_IPROC=y
CONFIG_PINCTRL_IMX_SCU=y
CONFIG_ASSOCIATIVE_ARRAY=y
CONFIG_TWL4030_CORE=y
CONFIG_CC_HAS_KASAN_SW_TAGS=y
CONFIG_PM_OPP=y
CONFIG_PINCTRL_IPQ6018=y
CONFIG_REGMAP_SPI=y
CONFIG_MTD=y
CONFIG_PTP_1588_CLOCK_DTE=y
CONFIG_HAVE_ARCH_KSTACK_ERASE=y
CONFIG_FSL_PQ_MDIO=y
CONFIG_COMMON_CLK_STM32MP257=y
CONFIG_PHY_STARFIVE_JH7110_DPHY_RX=y
CONFIG_104_QUAD_8=y
CONFIG_NET_SCH_CBS=y
CONFIG_AD7793=y
CONFIG_FXLS8962AF_SPI=y
CONFIG_GEHC_ACHC=y
CONFIG_USB_F_SS_LB=y
CONFIG_VL53L1X_I2C=y
CONFIG_REGMAP_SLIMBUS=y
CONFIG_COMMON_CLK_MT8167_AUDSYS=y
CONFIG_RTC_DRV_MAX6902=y
CONFIG_FSI_MASTER_AST_CF=y
CONFIG_COMMON_CLK_MT8516_AUDSYS=y
CONFIG_ISA_BUS_API=y
CONFIG_NET_EMATCH_CANID=y
CONFIG_KERNEL_GZIP=y
CONFIG_OF_ADDRESS=y
CONFIG_CRYPTO_DH_RFC7919_GROUPS=y
CONFIG_ARCH_SUSPEND_POSSIBLE=y
CONFIG_CLK_SIFIVE=y
CONFIG_ENS160_SPI=y
CONFIG_NLS_MAC_CELTIC=y
CONFIG_VIRTIO_ANCHOR=y
CONFIG_MTD_ONENAND_SAMSUNG=y
CONFIG_NXP_PIT_TIMER=y
CONFIG_DECOMPRESS_ZSTD=y
CONFIG_RTC_DRV_R9701=y
CONFIG_COMMON_CLK_MT8167=y
CONFIG_CRYPTO_SKCIPHER2=y
CONFIG_THERMAL=y
CONFIG_USB_LCD=y
CONFIG_BCM74110_MAILBOX=y
CONFIG_NET_CLS_U32=y
CONFIG_NET_ACT_TUNNEL_KEY=y
CONFIG_CRYPTO_AKCIPHER2=y
CONFIG_USB_MTU3_DUAL_ROLE=y
CONFIG_SA1100_WATCHDOG=y
CONFIG_TTY=y
CONFIG_CHARGER_MAX77705=y
CONFIG_CLK_UNIPHIER=y
CONFIG_PHY_STARFIVE_JH7110_USB=y
CONFIG_MFD_INTEL_M10_BMC_PMCI=y
CONFIG_SPI_LANTIQ_SSC=y
CONFIG_PINCTRL_WMT=y
CONFIG_GPIB_GPIO=y
CONFIG_USB_F_FS=y
CONFIG_SERIAL_HS_LPC32XX=y
CONFIG_GPIO_TEGRA186=y
CONFIG_PHY_PISTACHIO_USB=y
CONFIG_DPLL=y
CONFIG_PINCTRL_NSP_MUX=y
CONFIG_PINCTRL_BAYTRAIL=y
CONFIG_SPI_DYNAMIC=y
CONFIG_PINCTRL_SC7180=y
CONFIG_RTC_DRV_RS5C348=y
CONFIG_DQL=y
CONFIG_IO_URING_BPF=y
CONFIG_IPMI_PANIC_EVENT=y
CONFIG_C2PORT=y
CONFIG_REGULATOR_MT6397=y
CONFIG_REALTEK_OTTO_TIMER=y
CONFIG_IIO_ADC_HELPER=y
CONFIG_AK8974=y
CONFIG_LTC1660=y
CONFIG_IIO_ST_SENSORS_CORE=y
CONFIG_CRYPTO_ZSTD=y
CONFIG_PACKING=y
CONFIG_COMMON_RESET_HI3660=y
CONFIG_NET=y
CONFIG_PRIME_NUMBERS=y
CONFIG_PHY_BERLIN_SATA=y
CONFIG_NVMEM_SYSFS=y
CONFIG_RISCV_ISA_VENDOR_EXT_THEAD=y
CONFIG_BCM_KONA_WDT_DEBUG=y
CONFIG_CAN_ISOTP=y
CONFIG_LEDS_TRIGGERS=y
CONFIG_SUN50I_A100_R_CCU=y
CONFIG_ENCLOSURE_SERVICES=y
CONFIG_NLS_MAC_GAELIC=y
CONFIG_RESET_HISI=y
CONFIG_REGULATOR_MAX77686=y
CONFIG_MTK_ADSP_IPC=y
CONFIG_COMMON_CLK_MT2712=y
CONFIG_NET_ACT_IFE=y
CONFIG_MFD_CS40L50_CORE=y
CONFIG_NET_SCH_CODEL=y
CONFIG_ATM_DRIVERS=y
CONFIG_I2C_MT65XX=y
CONFIG_RTC_DRV_DS1390=y
CONFIG_PHY_COMMON_PROPS=y
CONFIG_INPUT_MOUSEDEV=y
CONFIG_MFD_MAX7360=y
CONFIG_SSB_DRIVER_GPIO=y
CONFIG_DLN2_ADC=y
CONFIG_PINCTRL_RTD1319D=y
CONFIG_USB_SERIAL_SAFE=y
CONFIG_RISCV_ISA_FALLBACK=y
CONFIG_DEBUG_FS_ALLOW_NONE=y
CONFIG_REGULATOR_SY8827N=y
CONFIG_JOYSTICK_A3D=y
CONFIG_NET_SCH_CHOKE=y
CONFIG_COMMON_CLK_SI570=y
CONFIG_CRYPTO_DEV_QCOM_RNG=y
CONFIG_GPIO_TPS65219=y
CONFIG_WMT_SOCINFO=y
CONFIG_OF_DYNAMIC=y
CONFIG_INTERVAL_TREE_TEST=y
CONFIG_ARCH_RENESAS=y
CONFIG_NET_SCH_RED=y
CONFIG_PINCTRL_IMX8MM=y
CONFIG_MISC_FILESYSTEMS=y
CONFIG_RTC_DRV_VT8500=y
CONFIG_GENERIC_CPU_DEVICES=y
CONFIG_SPI_DEBUG=y
CONFIG_BINFMT_SCRIPT=y
CONFIG_QCOM_SMD_RPM=y
CONFIG_PL320_MBOX=y
CONFIG_MEDIATEK_MT6370_ADC=y
CONFIG_WW_MUTEX_SELFTEST=y
CONFIG_MVMDIO=y
CONFIG_DPM_WATCHDOG=y
CONFIG_REGULATOR_S2DOS05=y
CONFIG_SPI_AXIADO=y
CONFIG_DEBUG_KERNEL=y
CONFIG_TENSTORRENT_ATLANTIS_PRCM=y
CONFIG_REGMAP_SPI_AVMM=y
CONFIG_AD7291=y
CONFIG_NET_9P_VIRTIO=y
CONFIG_SECURITYFS=y
CONFIG_MTK_INFRACFG=y
CONFIG_TRACE_IRQFLAGS=y
CONFIG_CLK_TWL=y
CONFIG_MAXLINEAR_86110_PHY=y
CONFIG_RISCV_RPMI_SYSMSI=y
CONFIG_BMC150_MAGN_I2C=y
CONFIG_OF_RESOLVE=y
CONFIG_GENERIC_STRNCPY_FROM_USER=y
CONFIG_CLK_EMEV2=y
CONFIG_PINCTRL_QCS404=y
CONFIG_CHARGER_MANAGER=y
CONFIG_DP83867_PHY=y
CONFIG_MFD_STMFX=y
CONFIG_TI_SOC_THERMAL=y
CONFIG_USB_R8A66597=y
CONFIG_SPI_ARMADA_3700=y
CONFIG_FXLS8962AF_I2C=y
CONFIG_NLS_CODEPAGE_869=y
CONFIG_COMMON_CLK_MT6795=y
CONFIG_LIBETH_XDP=y
CONFIG_AD7949=y
CONFIG_ARCH_HAS_SYSCALL_WRAPPER=y
CONFIG_MEMSTICK=y
CONFIG_AM2315=y
CONFIG_SPI_AMLOGIC_SPIFC_A4=y
CONFIG_USB_SERIAL_KEYSPAN_PDA=y
CONFIG_KRETPROBES=y
CONFIG_COMMON_CLK_ROCKCHIP=y
CONFIG_COMMON_CLK_MT8365_APU=y
CONFIG_BATTERY_SAMSUNG_SDI=y
CONFIG_CFG80211_WEXT=y
CONFIG_GENERIC_BITREVERSE=y
CONFIG_IPACK_BUS=y
CONFIG_NET_SCH_ETF=y
CONFIG_SYSC_R8A77470=y
CONFIG_ASPEED_UART_ROUTING=y
CONFIG_MAX1363=y
CONFIG_ARCH_HAS_PREEMPT_LAZY=y
CONFIG_USB_SERIAL_CYBERJACK=y
CONFIG_SG_SPLIT=y
CONFIG_COMMON_CLK_SI521XX=y
CONFIG_CRYPTO_HASH=y
CONFIG_CLKSRC_PXA=y
CONFIG_GPIO_SWNODE_UNDEFINED=y
CONFIG_PPP_ASYNC=y
CONFIG_COMMON_CLK_MT8188_VDOSYS=y
CONFIG_CRYPTO_DEV_VIRTIO=y
CONFIG_PINCTRL_PFC_SH7720=y
CONFIG_HW_RANDOM_BA431=y
CONFIG_I2C_ALGOPCF=y
CONFIG_NLS_ISO8859_4=y
CONFIG_SCA3000=y
CONFIG_CLK_LGM_CGU=y
CONFIG_CC_HAS_NO_PROFILE_FN_ATTR=y
CONFIG_RISCV_ISA_C=y
CONFIG_CONTEXT_TRACKING=y
CONFIG_MDIO_GPIO=y
CONFIG_ZL3073X_SPI=y
CONFIG_RESET_EIC7700=y
CONFIG_SXGBE_ETH=y
CONFIG_GPIO_MAX7300=y
CONFIG_USB_CONFIGFS_F_FS=y
CONFIG_LEDS_WM8350=y
CONFIG_EXTCON_MAX14526=y
CONFIG_ARCH_HAS_GCOV_PROFILE_ALL=y
CONFIG_ARCH_HAS_FAST_MULTIPLIER=y
CONFIG_MUX_GPIO=y
CONFIG_PHY_LANTIQ_RCU_USB2=y
CONFIG_HP206C=y
CONFIG_PTP_1588_CLOCK_IDT82P33=y
CONFIG_TEE=y
CONFIG_ARCH_WANT_OPTIMIZE_HUGETLB_VMEMMAP=y
CONFIG_PINCTRL_RTD1315E=y
CONFIG_PINCTRL_TEGRA264=y
CONFIG_KEBA_LAN9252=y
CONFIG_INGENIC_CGU_JZ4780=y
CONFIG_CRC4=y
CONFIG_BATTERY_CHARGER_SURFACE_RT=y
CONFIG_REGULATOR_MAX20086=y
CONFIG_SGL_ALLOC=y
CONFIG_CRC16=y
CONFIG_LEDS_DA903X=y
CONFIG_I2C_HIX5HD2=y
CONFIG_USB_RENESAS_USBHS=y
CONFIG_CRYPTO_GCM=y
CONFIG_GPIO_NPCM_SGPIO=y
CONFIG_JOYSTICK_SEESAW=y
CONFIG_PINCTRL_MT7981=y
CONFIG_PHY_DA8XX_USB=y
CONFIG_PINCTRL_PFC_R8A77990=y
CONFIG_USB_EHCI_TT_NEWSCHED=y
CONFIG_PINCTRL_AMD=y
CONFIG_COMPILE_TEST=y
CONFIG_REGULATOR_ROHM=y
CONFIG_IXP4XX_QMGR=y
CONFIG_MAX44000=y
CONFIG_USB_NET_GL620A=y
CONFIG_DUMMY_CONSOLE=y
CONFIG_CRYPTO_SM3=y
CONFIG_PINCTRL_MICROCHIP_SGPIO=y
CONFIG_GENERIC_BUILTIN_DTB=y
CONFIG_REGULATOR_RT6160=y
CONFIG_MAX34408=y
CONFIG_INPUT_FF_MEMLESS=y
CONFIG_PINCTRL_PFC_SH7203=y
CONFIG_SH_ETH=y
CONFIG_ADIS16480=y
CONFIG_QCOM_LMH=y
CONFIG_BOSCH_BNO055_I2C=y
CONFIG_BMP280=y
CONFIG_MESON_CANVAS=y
CONFIG_PINCTRL_IMX6SX=y
CONFIG_ARM_SCMI_DEBUG_COUNTERS=y
CONFIG_CHARGER_TWL4030=y
CONFIG_GPIO_BLZP1600=y
CONFIG_SERIAL_SUNPLUS=y
CONFIG_INIT_STACK_NONE=y
CONFIG_IIO_BACKEND=y
CONFIG_AS_IS_GNU=y
CONFIG_QCOM_RPM_MASTER_STATS=y
CONFIG_SYSC_R8A7790=y
CONFIG_BCM_KONA_USB2_PHY=y
CONFIG_FPGA_DFL=y
CONFIG_IIO_ST_PRESS_I2C=y
CONFIG_USB_USS720=y
CONFIG_LLC=y
CONFIG_STM32MP_EXTI=y
CONFIG_FWCTL=y
CONFIG_AT803X_PHY=y
CONFIG_I2C_LS2X=y
CONFIG_INGENIC_CGU_JZ4755=y
CONFIG_SMSC_PHY=y
CONFIG_SPI_FSL_LIB=y
CONFIG_POSIX_CPU_TIMERS_TASK_WORK=y
CONFIG_TI_ADS131M02=y
CONFIG_W1_SLAVE_DS2423=y
CONFIG_CHARGER_BQ2415X=y
CONFIG_REED_SOLOMON_DEC16=y
CONFIG_ASPEED_P2A_CTRL=y
CONFIG_HW_RANDOM_NPCM=y
CONFIG_AD7606_IFACE_SPI=y
CONFIG_RALINK_TIMER=y
CONFIG_TPS6594_PFSM=y
CONFIG_RZN1_IRQMUX=y
CONFIG_IRSD200=y
CONFIG_LAPBETHER=y
CONFIG_QCOM_LLCC=y
CONFIG_WM8350_POWER=y
CONFIG_CRYPTO_AKCIPHER=y
CONFIG_IPMI_KCS_BMC_CDEV_IPMI=y
CONFIG_RISCV=y
CONFIG_TYPEC_MUX_NB7VPQ904M=y
CONFIG_REF_TRACKER=y
CONFIG_USB_MUSB_UX500=y
CONFIG_RTC_DRV_DS2404=y
CONFIG_PHY_UNIPHIER_USB2=y
CONFIG_CHARGER_RT5033=y
CONFIG_PROVE_RAW_LOCK_NESTING=y
CONFIG_MTD_CMDLINE_PARTS=y
CONFIG_BINFMT_ZFLAT=y
CONFIG_PINCTRL_SM8150=y
CONFIG_PALMAS_GPADC=y
CONFIG_PHY_LAN966X_SERDES=y
