CONFIG_MARVELL_PEM_PMU=y
CONFIG_ADXL367=y
CONFIG_REGULATOR_LP3971=y
CONFIG_PINCTRL_SOPHGO_SG2042_OPS=y
CONFIG_USB_OHCI_HCD_STI=y
CONFIG_RESET_TENSTORRENT_ATLANTIS=y
CONFIG_SM_CAMCC_8250=y
CONFIG_KEXEC_CORE=y
CONFIG_FPGA_DFL_NIOS_INTEL_PAC_N3000=y
CONFIG_USB_IDMOUSE=y
CONFIG_USB_CHAOSKEY=y
CONFIG_SM_CAMCC_6350=y
CONFIG_FUNCTION_ALIGNMENT_64B=y
CONFIG_PREEMPT_RCU=y
CONFIG_MFD_STMFX=y
CONFIG_PINCTRL_TIGERLAKE=y
CONFIG_REGULATOR_MT6380=y
CONFIG_LOCKDEP=y
CONFIG_X86_DISABLED_FEATURE_CALL_DEPTH=y
CONFIG_PHY_CADENCE_TORRENT=y
CONFIG_COMMON_CLK_MT7986=y
CONFIG_CONTEXT_SWITCH_TRACER=y
CONFIG_PAGE_SIZE_LESS_THAN_256KB=y
CONFIG_CLK_X1P42100_VIDEOCC=y
CONFIG_SENSORS_LM77=y
CONFIG_X86_DISABLED_FEATURE_PTI=y
CONFIG_I2C_SMBUS=y
CONFIG_SENSORS_PMBUS=y
CONFIG_COMMON_CLK_MT6735_VDECSYS=y
CONFIG_TMP007=y
CONFIG_LEDS_AS3645A=y
CONFIG_CLK_R8A77960=y
CONFIG_ARCH_HAS_PREEMPT_LAZY=y
CONFIG_RT_GROUP_SCHED_DEFAULT_DISABLED=y
CONFIG_RCAR_MFIS=y
CONFIG_HAS_IOPORT_MAP=y
CONFIG_BROADCAST_TLB_FLUSH=y
CONFIG_PINCTRL_PFC_SH7786=y
CONFIG_PINCTRL_MOOREFIELD=y
CONFIG_GPIO_XLP=y
CONFIG_LEDS_LP3952=y
CONFIG_COMMON_CLK_ZYNQMP=y
CONFIG_X86_SPEEDSTEP_LIB=y
CONFIG_ARCH_WANTS_THP_SWAP=y
CONFIG_REGULATOR_FAN53555=y
CONFIG_CRYPTO_ACOMP2=y
CONFIG_SENSORS_PT5161L=y
CONFIG_COMEDI_ISA_DRIVERS=y
CONFIG_GPIO_AMD_FCH=y
CONFIG_COMEDI_DAS16M1=y
CONFIG_NVRAM=y
CONFIG_IOMMU_SUPPORT=y
CONFIG_CRYPTO_SIG2=y
CONFIG_REGULATOR_S5M8767=y
CONFIG_CLK_HAWI_GCC=y
CONFIG_TEST_HEXDUMP=y
CONFIG_REGULATOR_LP3972=y
CONFIG_PINCTRL_IMX6SLL=y
CONFIG_CHARGER_SBS=y
CONFIG_PINCTRL_AMLOGIC_A4=y
CONFIG_CRYPTO_SHA512=y
CONFIG_FB_S3C=y
CONFIG_CPU_IDLE_GOV_MENU=y
CONFIG_IO_WQ=y
CONFIG_LINEAR_RANGES=y
CONFIG_SDM_GCC_660=y
CONFIG_CLK_BCM63268_TIMER=y
CONFIG_CRYPTO_CAST_COMMON=y
CONFIG_TCS3414=y
CONFIG_PINCTRL_WMT=y
CONFIG_TASKS_RUDE_RCU=y
CONFIG_PINCTRL_PFC_SH7720=y
CONFIG_FB_OMAP2_DSS_DEBUG=y
CONFIG_LEDS_AN30259A=y
CONFIG_HAVE_TRUSTED_KEYS=y
CONFIG_IPMI_SSIF=y
CONFIG_RPMB=y
CONFIG_NO_HZ=y
CONFIG_CC_HAS_INT128=y
CONFIG_ARCH_WANT_PMD_MKWRITE=y
CONFIG_CRYPTO_SHA3=y
CONFIG_CLK_KAANAPALI_GPUCC=y
CONFIG_LOGO_LINUX_VGA16=y
CONFIG_GENERIC_ENTRY=y
CONFIG_CGROUP_PIDS=y
CONFIG_RANDSTRUCT_NONE=y
CONFIG_IIO_KFIFO_BUF=y
CONFIG_LTR390=y
CONFIG_RESET_ZYNQMP=y
CONFIG_ASSOCIATIVE_ARRAY=y
CONFIG_USB_CDNS3_TI=y
CONFIG_GPIO_VISCONTI=y
CONFIG_PINCTRL_BM1880=y
CONFIG_PHY_CADENCE_SIERRA=y
CONFIG_MOST=y
CONFIG_BCH_CONST_PARAMS=y
CONFIG_STRICT_KERNEL_RWX=y
CONFIG_PINCTRL_TH1520=y
CONFIG_SYNC_FILE=y
CONFIG_SENSORS_MP5023=y
CONFIG_CHARGER_SMB347=y
CONFIG_I2C_HID=y
CONFIG_FIREWIRE=y
CONFIG_HAVE_PCI=y
CONFIG_PMS7003=y
CONFIG_FSI_NEW_DEV_NODE=y
CONFIG_AD799X=y
CONFIG_VZ89X=y
CONFIG_CLK_IMX8MM=y
CONFIG_GP2AP002=y
CONFIG_FB_N411=y
CONFIG_PHY_MTK_MIPI_DSI=y
CONFIG_IMX_GPCV2_PM_DOMAINS=y
CONFIG_PLATFORM_MHU=y
CONFIG_HW_RANDOM_XGENE=y
CONFIG_USB_OHCI_HCD_SPEAR=y
CONFIG_PID_NS=y
CONFIG_HAS_IOPORT=y
CONFIG_HAS_DMA=y
CONFIG_HW_RANDOM_TIMERIOMEM=y
CONFIG_GPIO_EP93XX=y
CONFIG_FUEL_GAUGE_MM8013=y
CONFIG_KEYS=y
CONFIG_TRANSPARENT_HUGEPAGE=y
CONFIG_CLK_SOPHGO_CV1800=y
CONFIG_GPIO_XGENE_SB=y
CONFIG_SC_GCC_8280XP=y
CONFIG_COMEDI_PCL818=y
CONFIG_FPGA_MGR_XILINX_CORE=y
CONFIG_SM_GCC_8550=y
CONFIG_TCG_TIS_I2C_NUVOTON=y
CONFIG_USB_MDC800=y
CONFIG_HSC030PA_I2C=y
CONFIG_NVMEM_VF610_OCOTP=y
CONFIG_ARCH_SUPPORTS_KEXEC_SIG=y
CONFIG_COMMON_CLK_SI570=y
CONFIG_MTD_CFI_INTELEXT=y
CONFIG_STM32_OMM=y
CONFIG_CLK_RZG2L=y
CONFIG_GENERIC_PINCTRL=y
CONFIG_CLK_NORD_TCSRCC=y
CONFIG_PHY_HISTB_COMBPHY=y
CONFIG_MTK_IOMMU=y
CONFIG_X86_REQUIRED_FEATURE_FPU=y
CONFIG_COMPAT_FOR_U64_ALIGNMENT=y
CONFIG_SENSORS_STTS751=y
CONFIG_USB_APPLEDISPLAY=y
CONFIG_ATLAS_EZO_SENSOR=y
CONFIG_PHY_NS2_USB_DRD=y
CONFIG_LPC18XX_DAC=y
CONFIG_DMA_NEED_SYNC=y
CONFIG_XILINX_XADC=y
CONFIG_SI7020=y
CONFIG_CHARGER_MAX77693=y
CONFIG_PINCTRL_ULTRARISC_DP1000=y
CONFIG_SPMI_HISI3670=y
CONFIG_CLK_RCAR_GEN4_CPG=y
CONFIG_NVMEM_QORIQ_EFUSE=y
CONFIG_I2C_SIMTEC=y
CONFIG_MOUSE_PS2_LOGIPS2PP=y
CONFIG_BMI088_ACCEL_I2C=y
CONFIG_BATTERY_MAX1721X=y
CONFIG_SENSORS_LM95245=y
CONFIG_FB_ATMEL=y
CONFIG_SI1145=y
CONFIG_SENSORS_VT1211=y
CONFIG_RD_LZ4=y
CONFIG_VIRTIO_IOMMU=y
CONFIG_ARCH_WANT_OLD_COMPAT_IPC=y
CONFIG_CV1800_MBOX=y
CONFIG_LEDS_BCM6358=y
CONFIG_X86_CHECK_BIOS_CORRUPTION=y
CONFIG_PINCTRL_BCM281XX=y
CONFIG_MDM_GCC_9607=y
CONFIG_OF=y
CONFIG_HAVE_GUP_FAST=y
CONFIG_MFD_MAX7360=y
CONFIG_SC_VIDEOCC_7180=y
CONFIG_PINCTRL_BCM2835=y
CONFIG_SUN8I_A33_CCU=y
CONFIG_SENSORS_ADC128D818=y
CONFIG_PHY_TI_DS125DF111=y
CONFIG_ROCKCHIP_IODOMAIN=y
CONFIG_PHY_MTK_PCIE=y
CONFIG_EVENT_TRACING=y
CONFIG_ALS31300=y
CONFIG_PINCTRL_QCOM_SSBI_PMIC=y
CONFIG_SPS30=y
CONFIG_RESET_MESON_AUX=y
CONFIG_SENSORS_MAX6650=y
CONFIG_BMC150_ACCEL_I2C=y
CONFIG_USB_EHCI_ROOT_HUB_TT=y
CONFIG_REGULATOR_STW481X_VMMC=y
CONFIG_TI_ADS7138=y
CONFIG_CRYPTO_CHACHA20=y
CONFIG_I2C_CBUS_GPIO=y
CONFIG_TCG_TPM=y
CONFIG_CRYPTO_DEV_ZYNQMP_AES=y
CONFIG_PINCTRL_TMPV7700=y
CONFIG_TURRIS_OMNIA_MCU=y
CONFIG_CLK_R8A779G0=y
CONFIG_BCMA=y
CONFIG_SENSORS_INA209=y
CONFIG_USERIO=y
CONFIG_I2C_PCA_PLATFORM=y
CONFIG_PROVE_LOCKING=y
CONFIG_BMA180=y
CONFIG_PINCTRL_MESON_GXL=y
CONFIG_MFD_CS47L85=y
CONFIG_ATMEL_ST=y
CONFIG_FW_UPLOAD=y
CONFIG_IOMMU_DEBUG_PAGEALLOC=y
CONFIG_SENSORS_ISL29018=y
CONFIG_GPIO_MXC=y
CONFIG_GENERIC_CPU_VULNERABILITIES=y
CONFIG_SM_GCC_8150=y
CONFIG_ARCH_MIGHT_HAVE_PC_SERIO=y
CONFIG_DEBUG_SHIRQ=y
CONFIG_AT91_SOC_SFR=y
CONFIG_IRQ_DOMAIN=y
CONFIG_NLS_ISO8859_7=y
CONFIG_HAVE_PERF_USER_STACK_DUMP=y
CONFIG_CLK_SUNXI_PRCM_SUN8I=y
CONFIG_BRANCH_PROFILE_NONE=y
CONFIG_HAVE_CLK_PREPARE=y
CONFIG_SYSC_R8A7743=y
CONFIG_I2C_DESIGNWARE_CORE=y
CONFIG_EXYNOS_PM_DOMAINS=y
CONFIG_PINCTRL_S3C64XX=y
CONFIG_NO_HZ_IDLE=y
CONFIG_RCU_REF_SCALE_TEST=y
CONFIG_BCM2835_VCHIQ=y
CONFIG_SHMEM=y
CONFIG_HDMI=y
CONFIG_CLK_R8A7740=y
CONFIG_COMMON_CLK_MT8183=y
CONFIG_ARCH_SELECTS_KEXEC_FILE=y
CONFIG_HW_RANDOM_HISI=y
CONFIG_ARM_QCOM_CPUFREQ_HW=y
CONFIG_HWMON=y
CONFIG_QDU_GCC_1000=y
CONFIG_HAVE_DMA_CONTIGUOUS=y
CONFIG_CLK_RK3368=y
CONFIG_PINCTRL_MESON_GXBB=y
CONFIG_PINCTRL_LOONGSON2=y
CONFIG_COMMON_CLK_MT6735_MFGCFG=y
CONFIG_REGULATOR_MAX8952=y
CONFIG_SENSORS_ADS7828=y
CONFIG_IOMMU_IOVA=y
CONFIG_MFD_MAX8907=y
CONFIG_LEDS_EXPRESSWIRE=y
CONFIG_X86_REQUIRED_FEATURE_MSR=y
CONFIG_ROCKCHIP_SARADC=y
CONFIG_DECOMPRESS_ZSTD=y
CONFIG_SENSORS_TSL2563=y
CONFIG_MTD_BRCM_U_BOOT=y
CONFIG_GCOV_PROFILE_URING=y
CONFIG_ADC_BATTERY_HELPER=y
CONFIG_REF_TRACKER=y
CONFIG_RENESAS_OSTM=y
CONFIG_QCOMTEE=y
CONFIG_HAVE_KERNEL_XZ=y
CONFIG_DMA_DECLARE_COHERENT=y
CONFIG_HAVE_ARCH_KMSAN=y
CONFIG_I2C_MUX_PCA9541=y
CONFIG_MTD_NAND_CORE=y
CONFIG_TCG_NSC=y
CONFIG_DYNAMIC_FTRACE=y
CONFIG_I2C_CGBC=y
CONFIG_COMEDI_DAS1800=y
CONFIG_SPARSEMEM_VMEMMAP_ENABLE=y
CONFIG_PINCTRL_SM8550_LPASS_LPI=y
CONFIG_IPMI_KCS_BMC_SERIO=y
CONFIG_CLK_RK3328=y
CONFIG_TIMERLAT_TRACER=y
CONFIG_HAVE_TRUSTED_KEYS_DEBUG=y
CONFIG_SC_CAMCC_7280=y
CONFIG_CRYPTO_ECRDSA=y
CONFIG_REGULATOR_MAX77693=y
CONFIG_STM32_DFSDM_ADC=y
CONFIG_GPIO_NPCM_SGPIO=y
CONFIG_ARCH_SUPPORTS_ATOMIC_RMW=y
CONFIG_I2C_SUN6I_P2WI=y
CONFIG_ARCH_HAS_NONLEAF_PMD_YOUNG=y
CONFIG_CRYPTO_XXHASH=y
CONFIG_MTD_NAND_ECC_REALTEK=y
CONFIG_AUDIT_ARCH=y
CONFIG_NLS_MAC_ICELAND=y
CONFIG_GENERIC_CALIBRATE_DELAY=y
CONFIG_MFD_SI476X_CORE=y
CONFIG_CLK_SIFIVE_PRCI=y
CONFIG_PHY_MTK_HDMI=y
CONFIG_MFD_88PM800=y
CONFIG_SENSORS_MAX31730=y
CONFIG_EXTCON_PTN5150=y
CONFIG_HARDLOCKUP_CHECK_TIMESTAMP=y
CONFIG_MTD_DOCG3=y
CONFIG_SOC_BUS=y
CONFIG_SENSORS_W83L786NG=y
CONFIG_MSM_GCC_8917=y
CONFIG_TCG_ATMEL=y
CONFIG_PINCTRL_MT6397=y
CONFIG_MSM_GCC_8976=y
CONFIG_CLK_R8A77995=y
CONFIG_MPL115_I2C=y
CONFIG_MFD_TI_LMU=y
CONFIG_CRYPTO_LIB_SM3_ARCH=y
CONFIG_VT_CONSOLE=y
CONFIG_BATTERY_MAX17042=y
CONFIG_FB_OMAP2_DSS=y
CONFIG_STUB_CLK_HI6220=y
CONFIG_NLS_KOI8_R=y
CONFIG_VMAP_STACK=y
CONFIG_REGULATOR_SLG51000=y
CONFIG_CRYPTO_HASH2=y
CONFIG_MTK_VCP_MBOX=y
CONFIG_SPMI_PMIC_CLKDIV=y
CONFIG_HAVE_NOINSTR_HACK=y
CONFIG_SENSORS_PWM_FAN=y
CONFIG_SM_CAMCC_8650=y
CONFIG_CRYPTO_RSA=y
CONFIG_NOTIFIER_ERROR_INJECTION=y
CONFIG_MST_IRQ=y
CONFIG_USB_CDNS3=y
CONFIG_W1_SLAVE_DS2430=y
CONFIG_COMMON_CLK_MT6765_MIPI1ASYS=y
CONFIG_INTEL_TH_DEBUG=y
CONFIG_USB_ARCH_HAS_HCD=y
CONFIG_ARCH_SUPPORTS_LTO_CLANG=y
CONFIG_REGULATOR_BD9571MWV=y
CONFIG_I2C_DESIGNWARE_AMDISP=y
CONFIG_CRYPTO_BLOWFISH=y
CONFIG_VIRTIO_ANCHOR=y
CONFIG_LEDS_COBALT_QUBE=y
CONFIG_COMMON_CLK_MT6795_VDECSYS=y
CONFIG_STMP_DEVICE=y
CONFIG_CRYPTO_SKCIPHER=y
CONFIG_USB_LINK_LAYER_TEST=y
CONFIG_TSL2772=y
CONFIG_PHY_CYGNUS_PCIE=y
CONFIG_I2C_STM32F7=y
CONFIG_LEDS_TRIGGER_DEFAULT_ON=y
CONFIG_TORTURE_TEST=y
CONFIG_LEDS_BRIGHTNESS_HW_CHANGED=y
CONFIG_COMPAT_32=y
CONFIG_POWER_SUPPLY_HWMON=y
CONFIG_ARCH_HAS_SET_DIRECT_MAP=y
CONFIG_IPQ_NSSCC_5424=y
CONFIG_RESET_LANTIQ=y
CONFIG_GPIO_LOONGSON_64BIT=y
CONFIG_MOUSE_PS2_TRACKPOINT=y
CONFIG_W1_MASTER_UART=y
CONFIG_PERF_EVENTS=y
CONFIG_BATTERY_SBS=y
CONFIG_ARM_DMC620_PMU=y
CONFIG_CPUFREQ_ARCH_CUR_FREQ=y
CONFIG_AMD_SBRMI_HWMON=y
CONFIG_CRYPTO_LIB_AES_CBC_MACS=y
CONFIG_NLS_ISO8859_9=y
CONFIG_MFD_RSMU_I2C=y
CONFIG_HAVE_EFFICIENT_UNALIGNED_ACCESS=y
CONFIG_SECRETMEM=y
CONFIG_PINCTRL_IMX8MP=y
CONFIG_W1_SLAVE_DS2805=y
CONFIG_HX711=y
CONFIG_W1_SLAVE_DS2780=y
CONFIG_TEST_FREE_PAGES=y
CONFIG_HW_RANDOM_BA431=y
CONFIG_MCP3422=y
CONFIG_FILE_LOCKING=y
CONFIG_INPUT=y
CONFIG_SIOX=y
CONFIG_CGROUPS=y
CONFIG_FW_LOADER_PAGED_BUF=y
CONFIG_SYS_R9A09G057=y
CONFIG_DLHL60D=y
CONFIG_RCU_NEED_SEGCBLIST=y
CONFIG_GENERIC_CLOCKEVENTS_MIN_ADJUST=y
CONFIG_PINCTRL_ASPEED_G7_SOC1=y
CONFIG_MTD_CFI_UTIL=y
CONFIG_FPGA_DFL_EMIF=y
CONFIG_IPMI_WATCHDOG=y
CONFIG_HAVE_FUNCTION_ARG_ACCESS_API=y
CONFIG_USB_LEDS_TRIGGER_USBPORT=y
CONFIG_PINCTRL_SAMSUNG=y
CONFIG_REGULATOR_MAX77802=y
CONFIG_HAVE_DYNAMIC_FTRACE_NO_PATCHABLE=y
CONFIG_USB_CYTHERM=y
CONFIG_COMMON_CLK_MT8186_MDPSYS=y
CONFIG_MMA7455=y
CONFIG_WQ_WATCHDOG=y
CONFIG_PINCTRL_PFC_R8A7794=y
CONFIG_PHY_BCM63XX_USBH=y
CONFIG_IPQ_GCC_5424=y
CONFIG_DMARD09=y
CONFIG_CRC32=y
CONFIG_ARCH_WANT_LD_ORPHAN_WARN=y
CONFIG_EXYNOS_AUDSS_CLK_CON=y
CONFIG_GENERIC_PINMUX_FUNCTIONS=y
CONFIG_HAVE_ARCH_KASAN=y
CONFIG_CLK_R8A774A1=y
CONFIG_HARDENED_USERCOPY_DEFAULT_ON=y
CONFIG_MUX_CORE=y
CONFIG_MAGIC_SYSRQ=y
CONFIG_XILINX_AMS=y
CONFIG_CLK_RK3036=y
CONFIG_REGULATOR_SY8106A=y
CONFIG_SH_TIMER_CMT=y
CONFIG_OWL_TIMER=y
CONFIG_PINCTRL_NS=y
CONFIG_ARCH_HAS_DEBUG_VM_PGTABLE=y
CONFIG_USB_ISP1760_HOST_ROLE=y
CONFIG_SENSORS_ADM1177=y
CONFIG_PINCTRL_MT2712=y
CONFIG_CRYPTO_RMD160=y
CONFIG_SCD30_CORE=y
CONFIG_PINCTRL_TEGRA20=y
CONFIG_IMX_WEIM=y
CONFIG_MTK_MMSYS=y
CONFIG_SIGNED_PE_FILE_VERIFICATION=y
CONFIG_PHY_MIXEL_LVDS_PHY=y
CONFIG_SENSORS_AXI_FAN_CONTROL=y
CONFIG_HW_RANDOM_MESON=y
CONFIG_MCP4531=y
CONFIG_SM_GCC_8250=y
CONFIG_PINCTRL_MT6765=y
CONFIG_STX104=y
CONFIG_OF_ADDRESS=y
CONFIG_ARCH_USE_MEMTEST=y
CONFIG_FB_SYS_FILLRECT=y
CONFIG_OF_IRQ=y
CONFIG_USB_HUB_USB251XB=y
CONFIG_I8254=y
CONFIG_QCOM_CLK_APCS_MSM8916=y
CONFIG_APQ_MMCC_8084=y
CONFIG_NXP_SAR_ADC=y
CONFIG_COMMON_CLK_HI3660=y
CONFIG_PHY_QCOM_M31_EUSB=y
CONFIG_X86_REROUTE_FOR_BROKEN_BOOT_IRQS=y
CONFIG_ASPEED_KCS_IPMI_BMC=y
CONFIG_MTD_GEN_PROBE=y
CONFIG_CPUFREQ_DT_PLATDEV=y
CONFIG_LEDS_REGULATOR=y
CONFIG_AD5686=y
CONFIG_DMA_OPS_HELPERS=y
CONFIG_W1_SLAVE_DS28E04=y
CONFIG_EXTCON_ADC_JACK=y
CONFIG_ROHM_BU27034=y
CONFIG_SENSORS_IBMAEM=y
CONFIG_PINCTRL_MESON8_PMX=y
CONFIG_PHY_QCOM_EUSB2_REPEATER=y
CONFIG_MFD_SYSCON=y
CONFIG_SENSORS_PXE1610=y
CONFIG_COMMON_CLK_TI_ADPLL=y
CONFIG_MULTIUSER=y
CONFIG_GPIB_LPVO=y
CONFIG_BCMA_DRIVER_GPIO=y
CONFIG_TRACE_IRQFLAGS_SUPPORT=y
CONFIG_LEDS_MAX77693=y
CONFIG_INV_ICM45600=y
CONFIG_I2C_AT91_SLAVE_EXPERIMENTAL=y
CONFIG_LEDS_NS2=y
CONFIG_GENERIC_IRQ_PROBE=y
CONFIG_DS1803=y
CONFIG_HAVE_OBJTOOL_MCOUNT=y
CONFIG_REGULATOR_MT6311=y
CONFIG_COMEDI_DT2817=y
CONFIG_COMPAT_OLD_SIGACTION=y
CONFIG_NLS_CODEPAGE_855=y
CONFIG_BINFMT_ELF=y
CONFIG_FTRACE_SORT_STARTUP_TEST=y
CONFIG_CRYPTO_DEV_SAFEXCEL=y
CONFIG_MFD_CS40L50_CORE=y
CONFIG_FB_CORE=y
CONFIG_IPQ_GCC_8074=y
CONFIG_ARCH_HAS_GIGANTIC_PAGE=y
CONFIG_PINCTRL_RTD=y
CONFIG_IIO_BUFFER_CB=y
CONFIG_CRYPTO_CAST5_AVX_X86_64=y
CONFIG_OF_GPIO=y
CONFIG_FTRACE=y
CONFIG_REGULATOR_MT6363=y
CONFIG_VT=y
CONFIG_SENSORS_CHIPCAP2=y
CONFIG_IPMI_IPMB=y
CONFIG_PERCPU_STATS=y
CONFIG_AM2315=y
CONFIG_PHY_PXA_USB=y
CONFIG_GNSS_SERIAL=y
CONFIG_KALLSYMS=y
CONFIG_RISCV_IOMMU=y
CONFIG_MFD_CORE=y
CONFIG_USB_OHCI_LITTLE_ENDIAN=y
CONFIG_CRYPTO_LIB_SHA512=y
CONFIG_HAVE_MOVE_PMD=y
CONFIG_I2C_NPCM=y
CONFIG_PHY_TUSB1210=y
CONFIG_HPET_TIMER=y
CONFIG_CROSS_MEMORY_ATTACH=y
CONFIG_MFD_MAX77705=y
