CONFIG_SPI_SPRD=y
CONFIG_BCMA_POSSIBLE=y
CONFIG_ZYNQMP_PM_DOMAINS=y
CONFIG_HDC100X=y
CONFIG_HAVE_EXTRA_IPI_TRACEPOINTS=y
CONFIG_FB_SYS_COPYAREA=y
CONFIG_OCTEONTX2_MBOX=y
CONFIG_GCC_NO_STRINGOP_OVERFLOW=y
CONFIG_SENSORS_MAX6620=y
CONFIG_NET_VENDOR_RDC=y
CONFIG_SENSORS_WM831X=y
CONFIG_REGMAP_I3C=y
CONFIG_CRYPTO_MANAGER=y
CONFIG_MTD_NAND_CORE=y
CONFIG_NETWORK_FILESYSTEMS=y
CONFIG_REBOOT_MODE=y
CONFIG_REGULATOR_RT6245=y
CONFIG_IIO_ST_LSM9DS0_SPI=y
CONFIG_DEBUG_DRIVER=y
CONFIG_HARDIRQS_SW_RESEND=y
CONFIG_GENERIC_STRNLEN_USER=y
CONFIG_MTD_NAND_BRCMNAND_BRCMSTB=y
CONFIG_IRQ_MSI_IOMMU=y
CONFIG_GENERIC_SCHED_CLOCK=y
CONFIG_PCI=y
CONFIG_ARCH_HAVE_TRACE_MMIO_ACCESS=y
CONFIG_XEN_BACKEND=y
CONFIG_XEN_SCSI_BACKEND=y
CONFIG_RELOCATABLE=y
CONFIG_ARCH_HAS_CC_PLATFORM=y
CONFIG_MFD_LP3943=y
CONFIG_LEGACY_DIRECT_IO=y
CONFIG_PKCS7_MESSAGE_PARSER=y
CONFIG_HAVE_PREEMPT_DYNAMIC=y
CONFIG_POWER_RESET_AS3722=y
CONFIG_FPGA_MGR_VERSAL_FPGA=y
CONFIG_AIR_AN8801_PHY=y
CONFIG_SCSI_SAS_ATTRS=y
CONFIG_MFD_MAX77705=y
CONFIG_COMMON_CLK_MT8186_MDPSYS=y
CONFIG_HAVE_IRQ_TIME_ACCOUNTING=y
CONFIG_DETECT_HUNG_TASK=y
CONFIG_MOUSE_PS2_TRACKPOINT=y
CONFIG_C2PORT=y
CONFIG_FIXED_PHY=y
CONFIG_MFD_TPS6594=y
CONFIG_I2C_ALI1563=y
CONFIG_I2C_DESIGNWARE_PCI=y
CONFIG_VF610_DAC=y
CONFIG_OF_RECONFIG_NOTIFIER_ERROR_INJECT=y
CONFIG_SERIAL_8250_EXAR=y
CONFIG_MCP3564=y
CONFIG_ADA4250=y
CONFIG_SCSI_PMCRAID=y
CONFIG_NLS_ISO8859_2=y
CONFIG_F2FS_FS_COMPRESSION=y
CONFIG_REGULATOR_MAX14577=y
CONFIG_COMMON_CLK_SI570=y
CONFIG_REGMAP_SPI_AVMM=y
CONFIG_CRC16=y
CONFIG_TI_DAC7311=y
CONFIG_LEDS_LM3697=y
CONFIG_MMA9551=y
CONFIG_AD4851=y
CONFIG_MTD_MAP_BANK_WIDTH_2=y
CONFIG_SPI_XILINX=y
CONFIG_LEDS_DAC124S085=y
CONFIG_XFS_LIVE_HOOKS=y
CONFIG_RTC_DRV_OPTEE=y
CONFIG_MTK_SVS=y
CONFIG_CLK_R8A774E1=y
CONFIG_MAX44000=y
CONFIG_IOMMU_DEBUGFS=y
CONFIG_SPI=y
CONFIG_PCI_HYPERV_INTERFACE=y
CONFIG_XILINX_EMACLITE=y
CONFIG_XLNX_R5_REMOTEPROC=y
CONFIG_IIO_ST_SENSORS_SPI=y
CONFIG_LEDS_USER=y
CONFIG_SCSI_MPT3SAS=y
CONFIG_ADXL367_I2C=y
CONFIG_WLAN_VENDOR_ATH=y
CONFIG_HW_RANDOM_CCTRNG=y
CONFIG_ZLIB_DEFLATE=y
CONFIG_BH1745=y
CONFIG_DM_SNAPSHOT=y
CONFIG_LTC2983=y
CONFIG_IIO_ADC_HELPER=y
CONFIG_FB_SYSMEM_HELPERS=y
CONFIG_SERIO=y
CONFIG_RTC_DRV_M41T80_WDT=y
CONFIG_HAVE_ARCH_SECCOMP_FILTER=y
CONFIG_FAIL_FUTEX=y
CONFIG_DTPM_DEVFREQ=y
CONFIG_CONSOLE_POLL=y
CONFIG_ARCH_KEEP_MEMBLOCK=y
CONFIG_RTC_INTF_SYSFS=y
CONFIG_IPMI_DEVICE_INTERFACE=y
CONFIG_XENFS=y
CONFIG_SPI_ALTERA=y
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO_BARE=y
CONFIG_EINT_MTK=y
CONFIG_TI_ADC0832=y
CONFIG_SENSORS_LM85=y
CONFIG_REGULATOR_ARM_SCMI=y
CONFIG_PWM_HIBVT=y
CONFIG_GPIO_DAVINCI=y
CONFIG_NFC_PN544_I2C=y
CONFIG_TI_ADC161S626=y
CONFIG_NO_HZ_COMMON=y
CONFIG_PCIE_MICROCHIP_HOST=y
CONFIG_SYS_R9A09G057=y
CONFIG_RTC_DRV_PCF8563=y
CONFIG_PAGE_SIZE_LESS_THAN_256KB=y
CONFIG_STK8312=y
CONFIG_CPU_MITIGATIONS=y
CONFIG_XEN_WDT=y
CONFIG_ABP2030PA=y
CONFIG_BACKLIGHT_KTZ8866=y
CONFIG_ISO9660_FS=y
CONFIG_DM_EBS=y
CONFIG_MFD_ATMEL_HLCDC=y
CONFIG_MFD_MAX77620=y
CONFIG_OVERLAY_FS_XINO_AUTO=y
CONFIG_CM3605=y
CONFIG_SENSORS_W83793=y
CONFIG_FUNCTION_ALIGNMENT_4B=y
CONFIG_LZ4_DECOMPRESS=y
CONFIG_MTK_T7XX=y
CONFIG_ARM64_WORKAROUND_DISABLE_CNP=y
CONFIG_MFD_BD9571MWV=y
CONFIG_HAVE_ARCH_KCSAN=y
CONFIG_IIO_TRIGGERED_EVENT=y
CONFIG_COMMON_CLK_SCMI=y
CONFIG_MFD_GATEWORKS_GSC=y
CONFIG_RTC_DRV_88PM886=y
CONFIG_I2C_SIMTEC=y
CONFIG_OF_RESERVED_MEM=y
CONFIG_MFD_SC27XX_PMIC=y
CONFIG_RTC_DRV_DS1374_WDT=y
CONFIG_NET_FLOW_LIMIT=y
CONFIG_ARCH_HAS_UACCESS_FLUSHCACHE=y
CONFIG_SCSI_MVSAS=y
CONFIG_HW_RANDOM_STM32=y
CONFIG_SENSIRION_SGP40=y
CONFIG_SYSC_R8A774E1=y
CONFIG_REGULATOR_MT6380=y
CONFIG_CRYPTO_LIB_SHA1=y
CONFIG_TMP006=y
CONFIG_OID_REGISTRY=y
CONFIG_NET_TEAM_MODE_ACTIVEBACKUP=y
CONFIG_AD74115=y
CONFIG_MOUSE_PS2_BYD=y
CONFIG_ALTERA_MBOX=y
CONFIG_CLZ_TAB=y
CONFIG_ADMV1014=y
CONFIG_MFD_MAX77541=y
CONFIG_REGULATOR_RTQ2134=y
CONFIG_SERIAL_DEV_CTRL_TTYPORT=y
CONFIG_NLS_CODEPAGE_857=y
CONFIG_GENERIC_MSI_IRQ=y
CONFIG_FUTEX=y
CONFIG_RTC_DRV_ISL1208=y
CONFIG_SENSORS_VT1211=y
CONFIG_MMC5633=y
CONFIG_NEED_SG_DMA_FLAGS=y
CONFIG_PCI_ATS=y
CONFIG_PINCTRL_BERLIN_BG4CT=y
CONFIG_CC_CAN_LINK=y
CONFIG_CC_OPTIMIZE_FOR_SIZE=y
CONFIG_NET_FAILOVER=y
CONFIG_AQUANTIA_PHY=y
CONFIG_CHARGER_RT9455=y
CONFIG_MFD_ATC260X=y
CONFIG_CHARGER_RT9756=y
CONFIG_REGULATOR_LTC3676=y
CONFIG_TASKS_RCU_GENERIC=y
CONFIG_SPI_MICROCHIP_CORE_SPI=y
CONFIG_DMABUF_HEAPS_CMA=y
CONFIG_REGULATOR_PCA9450=y
CONFIG_GOOGLE_FIRMWARE=y
CONFIG_PINCTRL_BERLIN=y
CONFIG_SSB_PCIHOST=y
CONFIG_REGULATOR_DA9052=y
CONFIG_P54_PCI=y
CONFIG_BT_HCIRSI=y
CONFIG_SPMI=y
CONFIG_CEC_GPIO=y
CONFIG_PINCTRL_PFC_R8A77951=y
CONFIG_CRYPTO_LZO=y
CONFIG_SPS30_I2C=y
CONFIG_PCI_DOMAINS=y
CONFIG_MTD_PARSER_TRX=y
CONFIG_PHY_TI_DS125DF111=y
CONFIG_HAVE_ARM_SMCCC_DISCOVERY=y
CONFIG_COMMON_CLK_VC3=y
CONFIG_SENSORS_INA3221=y
CONFIG_AD7768_1=y
CONFIG_88PM886_GPADC=y
CONFIG_PINCTRL_TEGRA186=y
CONFIG_MFD_SIMPLE_MFD_I2C=y
CONFIG_VHOST_TASK=y
CONFIG_RTC_CLASS=y
CONFIG_AS_HAS_CFI_NEGATE_RA_STATE=y
CONFIG_ARCH_SUSPEND_POSSIBLE=y
CONFIG_FXLS8962AF=y
CONFIG_VGA_ARB=y
CONFIG_RTC_DRV_RS5C372=y
CONFIG_DEFAULT_SECURITY_DAC=y
CONFIG_I2C_AMD756=y
CONFIG_LRU_GEN_WALKS_MMU=y
CONFIG_CRYPTO_DEV_NITROX_CNN55XX=y
CONFIG_RUSTC_HAS_FILE_WITH_NUL=y
CONFIG_RENESAS_RZG2L_IRQC=y
CONFIG_GENERIC_IRQ_CHIP=y
CONFIG_SH_TIMER_CMT=y
CONFIG_DEBUG_KOBJECT=y
CONFIG_REGULATOR_RAA215300=y
CONFIG_GPIO_SYSFS_LEGACY=y
CONFIG_ARM_ARCH_TIMER=y
CONFIG_SCSI_DMA=y
CONFIG_PARPORT_PANEL=y
CONFIG_RTC_DRV_MA35D1=y
CONFIG_MAX14001=y
CONFIG_PMIC_DA9052=y
CONFIG_PINCTRL_TEGRA124=y
CONFIG_CRYPTO_MD5=y
CONFIG_UEVENT_HELPER=y
CONFIG_PREEMPT_RT=y
CONFIG_GCC_SUPPORTS_DYNAMIC_FTRACE_WITH_ARGS=y
CONFIG_IMX_SCMI_BBM_EXT=y
CONFIG_PHY_CADENCE_SIERRA=y
CONFIG_REGULATOR_TPS6105X=y
CONFIG_MD_BITMAP=y
CONFIG_PARPORT_1284=y
CONFIG_NLS_CODEPAGE_860=y
CONFIG_YENTA_TOSHIBA=y
CONFIG_ARM_GIC_ITS_PARENT=y
CONFIG_SPI_BUTTERFLY=y
CONFIG_ARM_SCMI_POWER_DOMAIN=y
CONFIG_IIO_SYSFS_TRIGGER=y
CONFIG_ARM_GIC=y
CONFIG_HW_RANDOM_ARM_SMCCC_TRNG=y
CONFIG_MTD_NAND_ECC_SW_HAMMING=y
CONFIG_CHARGER_TPS65217=y
CONFIG_ATH10K_PCI=y
CONFIG_MEMSTICK=y
CONFIG_MAC80211_PS_DEBUG=y
CONFIG_CRC32=y
CONFIG_MFD_AXP20X=y
CONFIG_NVMEM_U_BOOT_ENV=y
CONFIG_CRYPTO_KHAZAD=y
CONFIG_BATMAN_ADV_BATMAN_V=y
CONFIG_CMA=y
CONFIG_CRYPTO_SIG=y
CONFIG_CRYPTO_KDF800108_CTR=y
CONFIG_SLUB_TINY=y
CONFIG_ARCH_R8A77995=y
CONFIG_BACKLIGHT_CLASS_DEVICE=y
CONFIG_BACKLIGHT_LM3509=y
CONFIG_BATTERY_AXP20X=y
CONFIG_NET_VENDOR_MICREL=y
CONFIG_BMA400=y
CONFIG_HIGH_RES_TIMERS=y
CONFIG_PWM_STMPE=y
CONFIG_HID_GENERIC=y
CONFIG_I2C_MUX_MLXCPLD=y
CONFIG_MFD_RN5T618=y
CONFIG_IOMMU_IOVA=y
CONFIG_CSD_LOCK_WAIT_DEBUG=y
CONFIG_REGULATOR_CPCAP=y
CONFIG_HW_RANDOM_XIPHERA=y
CONFIG_SMPRO_ERRMON=y
CONFIG_PROC_MEM_ALWAYS_FORCE=y
CONFIG_POSIX_MQUEUE=y
CONFIG_FUJITSU_ERRATUM_010001=y
CONFIG_AF_UNIX_OOB=y
CONFIG_RTC_DRV_ISL12022=y
CONFIG_SPI_VIRTIO=y
CONFIG_PINCTRL_OCELOT=y
CONFIG_AUXDISPLAY=y
CONFIG_DLHL60D=y
CONFIG_CRYPTO_DEV_QAT_ERROR_INJECTION=y
CONFIG_NEW_LEDS=y
CONFIG_OF_FPGA_REGION=y
CONFIG_LEDS_SC27XX_BLTC=y
CONFIG_MAILBOX_TEST=y
CONFIG_PT_RECLAIM=y
CONFIG_HI3660_MBOX=y
CONFIG_BUG=y
CONFIG_SPI_FSL_SPI=y
CONFIG_NET_TEAM_MODE_LOADBALANCE=y
CONFIG_ARCH_ENABLE_HUGEPAGE_MIGRATION=y
CONFIG_ARCH_R8A77990=y
CONFIG_TMPFS_XATTR=y
CONFIG_NLS_CODEPAGE_949=y
CONFIG_SCSI_ACARD=y
CONFIG_TASKS_TRACE_RCU_NO_MB=y
CONFIG_LOCKDEP=y
CONFIG_NXP_TJA11XX_PHY=y
CONFIG_SPI_GPIO=y
CONFIG_GENERIC_IRQ_SHOW_LEVEL=y
CONFIG_GCOV_KERNEL=y
CONFIG_RICHTEK_RTQ6056=y
CONFIG_CPCAP_ADC=y
CONFIG_MFD_CS42L43=y
CONFIG_ATL1E=y
CONFIG_IRQ_SIM=y
CONFIG_ADI_I3C_MASTER=y
CONFIG_ARCH_R9A07G044=y
CONFIG_I2C_SLAVE_EEPROM=y
CONFIG_NLS_ISO8859_3=y
CONFIG_BPF_JIT_DEFAULT_ON=y
CONFIG_CRYPTO_RNG2=y
CONFIG_CPU_IDLE_MULTIPLE_DRIVERS=y
CONFIG_VIRT_WIFI=y
CONFIG_IO_URING=y
CONFIG_MTD_BLKDEVS=y
CONFIG_TEST_POWER=y
CONFIG_REGULATOR_VEXPRESS=y
CONFIG_NOTIFIER_ERROR_INJECTION=y
CONFIG_ARCH_TEGRA_234_SOC=y
CONFIG_ARM_SMMU_V3=y
CONFIG_MTK_SCP=y
CONFIG_RTC_DRV_BQ32K=y
CONFIG_LATTICE_ECP3_CONFIG=y
CONFIG_TEGRA_HSP_MBOX=y
CONFIG_QUOTA=y
CONFIG_PCIE_DW_PLAT_HOST=y
CONFIG_PINCTRL_CY8C95X0=y
CONFIG_REGULATOR_TPS6286X=y
CONFIG_SENSORS_NCT6775_I2C=y
CONFIG_AD5446_I2C=y
CONFIG_SCSI_INIA100=y
CONFIG_PCI_ECAM=y
CONFIG_GENERIC_IOREMAP=y
CONFIG_PECI=y
CONFIG_ARCH_SUPPORTS_KEXEC_FILE=y
CONFIG_RTC_DRV_X1205=y
CONFIG_MFD_RETU=y
CONFIG_ARM_SCMI_POWERCAP=y
CONFIG_MAC80211_STA_DEBUG=y
CONFIG_LIBFDT=y
CONFIG_PCI_DOMAINS_GENERIC=y
CONFIG_FAILOVER=y
CONFIG_MEDIATEK_2P5GE_PHY=y
CONFIG_AUXILIARY_BUS=y
CONFIG_NVME_VERBOSE_ERRORS=y
CONFIG_MTD_CFI_I1=y
CONFIG_IRQ_FASTEOI_HIERARCHY_HANDLERS=y
CONFIG_NVMEM_SYSFS=y
CONFIG_NET_VENDOR_SOCIONEXT=y
CONFIG_TARGET_CORE=y
CONFIG_SYSC_R8A77995=y
CONFIG_STUB_CLK_HI6220=y
CONFIG_ABP060MG=y
CONFIG_COMMON_CLK_MT8192_MDPSYS=y
CONFIG_REGULATOR_DA9210=y
CONFIG_MEMSTICK_UNSAFE_RESUME=y
CONFIG_LINEAR_RANGES=y
CONFIG_RTC_DRV_RK808=y
CONFIG_ARCH_ZYNQMP=y
CONFIG_RTC_DRV_MT7622=y
CONFIG_CRYPTO_USER_API_RNG_CAVP=y
CONFIG_MEDIATEK_MT6360_ADC=y
CONFIG_PWM_OMAP_DMTIMER=y
CONFIG_RTC_DRV_DS17885=y
CONFIG_IRQ_MSI_LIB=y
CONFIG_SYSC_RCAR_GEN4=y
CONFIG_KSZ884X_PCI=y
CONFIG_NET_VENDOR_MARVELL=y
CONFIG_PCI_DOE=y
CONFIG_IOMMU_DMA=y
CONFIG_MFD_CS40L50_I2C=y
CONFIG_XOR_BLOCKS=y
CONFIG_NET_CORE=y
CONFIG_AFE4403=y
CONFIG_SCHED_INFO=y
CONFIG_OPEN_DICE=y
CONFIG_K3_RTI_WATCHDOG=y
CONFIG_BLK_DEV_SD=y
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST=y
CONFIG_RD_LZO=y
CONFIG_APERTURE_HELPERS=y
CONFIG_STM32_ADC_CORE=y
CONFIG_PINCTRL_MT8183=y
CONFIG_SERIO_ARC_PS2=y
CONFIG_PRINTK=y
CONFIG_CLKSRC_MMIO=y
CONFIG_PCI_HISI=y
CONFIG_AFE4404=y
CONFIG_ATH10K=y
CONFIG_SWIOTLB_DYNAMIC=y
CONFIG_PMIC_ADP5520=y
CONFIG_COMPAT_32BIT_TIME=y
CONFIG_FW_LOADER_COMPRESS=y
CONFIG_COMMON_CLK_PWM=y
CONFIG_LCD2S=y
CONFIG_PHY_MTK_MIPI_CSI_0_5=y
CONFIG_LIST_HARDENED=y
CONFIG_BPF_JIT=y
CONFIG_SGL_ALLOC=y
CONFIG_DECOMPRESS_LZMA=y
CONFIG_NET_VENDOR_AGERE=y
CONFIG_GPIOLIB=y
CONFIG_BLK_DEV_BSG=y
CONFIG_SOC_TEGRA_FLOWCTRL=y
CONFIG_BNXT_HWMON=y
CONFIG_TASKS_RCU=y
CONFIG_ADXL380_SPI=y
CONFIG_FANOTIFY=y
CONFIG_LEDS_QCOM_LPG=y
CONFIG_EVENT_TRACING=y
CONFIG_PHY_MTK_XFI_TPHY=y
CONFIG_DEBUG_ATOMIC_SLEEP=y
CONFIG_PREEMPT=y
CONFIG_RTLWIFI_PCI=y
CONFIG_NETXEN_NIC=y
CONFIG_BACKLIGHT_KTD2801=y
CONFIG_PRINTER=y
CONFIG_AX88796B_PHY=y
CONFIG_SYS_SUPPORTS_SH_CMT=y
CONFIG_GIANFAR=y
CONFIG_PWM_NTXEC=y
CONFIG_LEDS_PCA955X=y
CONFIG_ARM64_ERRATUM_2658417=y
CONFIG_REGULATOR_LP8755=y
CONFIG_PROC_CHILDREN=y
CONFIG_GPIO_MOCKUP=y
CONFIG_PWM_DEBUG=y
CONFIG_W1_SLAVE_DS2405=y
CONFIG_CLK_R9A07G044=y
CONFIG_FB_RADEON_DEBUG=y
CONFIG_RD_LZ4=y
CONFIG_TI_ADC084S021=y
CONFIG_P54_SPI_DEFAULT_EEPROM=y
CONFIG_COMEDI_TESTS=y
CONFIG_MFD_QNAP_MCU=y
CONFIG_AD4134=y
CONFIG_W1_SLAVE_DS2781=y
CONFIG_ARM_MHU_V2=y
CONFIG_CONTEXT_SWITCH_TRACER=y
CONFIG_SENSORS_ISL28022=y
CONFIG_CPU_FREQ_GOV_SCHEDUTIL=y
CONFIG_GNSS_UBX_SERIAL=y
CONFIG_ADXL372=y
CONFIG_RCU_REF_SCALE_TEST=y
CONFIG_CRYPTO_DH_RFC7919_GROUPS=y
CONFIG_ARCH_SUPPORTS_MEMORY_FAILURE=y
CONFIG_I2C_HID=y
CONFIG_GPIB_CB7210=y
CONFIG_DEBUG_MAPLE_TREE=y
CONFIG_DEBUG_VM_MAPLE_TREE=y
CONFIG_MTD_CFI_AMDSTD=y
CONFIG_AS_HAS_NON_CONST_ULEB128=y
CONFIG_DEBUG_FS_ALLOW_ALL=y
CONFIG_SENSORS_LM93=y
CONFIG_OPTEE=y
CONFIG_ARM_TEGRA186_CPUFREQ=y
CONFIG_MFD_AS3711=y
CONFIG_RENESAS_RZV2H_ICU=y
CONFIG_CORDIC=y
CONFIG_CHARGER_DA9150=y
CONFIG_SENSORS_RM3100_SPI=y
CONFIG_I2C_OMAP=y
CONFIG_COMMON_CLK_HI3670=y
CONFIG_PREEMPTION=y
CONFIG_RESET_BERLIN=y
CONFIG_MHP_DEFAULT_ONLINE_TYPE_ONLINE_MOVABLE=y
CONFIG_DW_APB_ICTL=y
CONFIG_MEMSTICK_JMICRON_38X=y
CONFIG_PGTABLE_HAS_HUGE_LEAVES=y
CONFIG_GPIO_LP873X=y
CONFIG_PWC_RZV2M=y
CONFIG_TMPFS_INODE64=y
CONFIG_QRTR_SMD=y
CONFIG_I2C_SPRD=y
CONFIG_AD2S1200=y
CONFIG_LEDS_LP8860=y
CONFIG_IPMI_POWEROFF=y
CONFIG_SCSI_IPR_DUMP=y
CONFIG_AD7476=y
CONFIG_CARMINE_DRAM_CUSTOM=y
CONFIG_OCTEON_EP=y
CONFIG_POWER_SEQUENCING=y
CONFIG_RTK_SYSTIMER=y
CONFIG_GENERIC_CPU_AUTOPROBE=y
CONFIG_REMOTEPROC=y
CONFIG_HWSPINLOCK_SPRD=y
CONFIG_MHI_BUS=y
CONFIG_IRQ_POLL=y
CONFIG_ARM64_VA_BITS_48=y
CONFIG_F2FS_STAT_FS=y
CONFIG_ADXL380=y
CONFIG_SPI_RPCIF=y
CONFIG_TI_ADC12138=y
CONFIG_FPGA_MGR_SOCFPGA=y
CONFIG_LEDS_LP5860_CORE=y
CONFIG_SSFDC=y
CONFIG_PM_OPP=y
