CONFIG_HAVE_RUST=y
CONFIG_HTC_EGPIO=y
CONFIG_COMMON_CLK_WM831X=y
CONFIG_BATTERY_LEGO_EV3=y
CONFIG_USB_PXA27X=y
CONFIG_PCI_XGENE=y
CONFIG_PINCTRL_MSM=y
CONFIG_MCP3911=y
CONFIG_ORANGEFS_FS=y
CONFIG_SX_COMMON=y
CONFIG_SPRD_SC9860_CLK=y
CONFIG_VGASTATE=y
CONFIG_64BIT=y
CONFIG_HW_RANDOM_XGENE=y
CONFIG_SENSORS_ADT7410=y
CONFIG_SCHED_OMIT_FRAME_POINTER=y
CONFIG_PINCTRL_S3C64XX=y
CONFIG_SECRETMEM=y
CONFIG_USB_CDNS3_HOST=y
CONFIG_HIBERNATION_COMP_LZO=y
CONFIG_CLK_R8A774B1=y
CONFIG_SYSC_R8A77965=y
CONFIG_MOUSE_PS2=y
CONFIG_CRASH_RESERVE=y
CONFIG_PINCTRL_IMX25=y
CONFIG_HAVE_ASM_MODVERSIONS=y
CONFIG_SC_CAMCC_8180X=y
CONFIG_PCI_FTPCI100=y
CONFIG_NVMEM_SPRD_EFUSE=y
CONFIG_KEXEC_SIG=y
CONFIG_NLS=y
CONFIG_USB_XHCI_DBGCAP=y
CONFIG_TOUCHSCREEN_COLIBRI_VF50=y
CONFIG_SENSORS_SHT15=y
CONFIG_AHCI_TEGRA=y
CONFIG_USB_RZV2M_USB3DRD=y
CONFIG_X86_REQUIRED_FEATURE_FPU=y
CONFIG_IPQ_GCC_8074=y
CONFIG_RTC_DRV_MT2712=y
CONFIG_PINCTRL_MDM9607=y
CONFIG_TCG_TIS_I2C=y
CONFIG_TENSTORRENT_ATLANTIS_PRCM=y
CONFIG_SERIAL_8250_MEN_MCB=y
CONFIG_SCSI_ENCLOSURE=y
CONFIG_SERIAL_LITEUART_CONSOLE=y
CONFIG_USB_RENESAS_USB3=y
CONFIG_PSTORE=y
CONFIG_COMMON_CLK_MAX9485=y
CONFIG_PHY_ROCKCHIP_INNO_HDMI=y
CONFIG_SM_GCC_8550=y
CONFIG_SENSORS_PECI=y
CONFIG_TOPSTAR_LAPTOP=y
CONFIG_LOCK_DEBUGGING_SUPPORT=y
CONFIG_HAVE_UID16=y
CONFIG_HAVE_PCI=y
CONFIG_RMI4_F03=y
CONFIG_HNS3_PMU=y
CONFIG_AL3000A=y
CONFIG_I2C_OWL=y
CONFIG_FREEZER=y
CONFIG_GPIO_XGENE_SB=y
CONFIG_VIRT_CPU_ACCOUNTING_GEN=y
CONFIG_ARM_SCPI_POWER_DOMAIN=y
CONFIG_SPI_FSL_LPSPI=y
CONFIG_XEN=y
CONFIG_SAMPLE_FTRACE_OPS=y
CONFIG_REGULATOR_RT6160=y
CONFIG_COMEDI_KCOMEDILIB=y
CONFIG_CRASH_HOTPLUG=y
CONFIG_KEYBOARD_CLPS711X=y
CONFIG_BSD_PROCESS_ACCT_V3=y
CONFIG_PWM_AIROHA=y
CONFIG_MTD_NAND_SH_FLCTL=y
CONFIG_TREE_RCU=y
CONFIG_COMMON_CLK_SCPI=y
CONFIG_SM_DISPCC_6350=y
CONFIG_PNP=y
CONFIG_I2C_SMBUS=y
CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE=y
CONFIG_D3323AA=y
CONFIG_VCNL4035=y
CONFIG_IOMMUFD_TEST=y
CONFIG_SENSORS_ARM_SCMI=y
CONFIG_SENSORS_MP5990=y
CONFIG_QCOM_A53PLL=y
CONFIG_SERIAL_8250_MT6577=y
CONFIG_REGULATOR_MAX1586=y
CONFIG_SRAM=y
CONFIG_SENSORS_LTC2947_SPI=y
CONFIG_ACPI_SLEEP=y
CONFIG_RESET_SPACEMIT_COMMON=y
CONFIG_BRCMSTB_MEMC=y
CONFIG_SM_TCSRCC_8750=y
CONFIG_I2C_S3C2410=y
CONFIG_TRUSTED_KEYS=y
CONFIG_REGULATOR_S5M8767=y
CONFIG_ACPI_APEI=y
CONFIG_AD5272=y
CONFIG_LITEX=y
CONFIG_CLK_R8A73A4=y
CONFIG_ABP2030PA=y
CONFIG_RTC_DRV_M48T35=y
CONFIG_TI_AEMIF=y
CONFIG_CC10001_ADC=y
CONFIG_REGULATOR_TPS6507X=y
CONFIG_OF_RESOLVE=y
CONFIG_USB_CHIPIDEA_GENERIC=y
CONFIG_ADIS16400=y
CONFIG_TCG_ATMEL=y
CONFIG_MSM_MMCC_8998=y
CONFIG_PATA_OLDPIIX=y
CONFIG_TOUCHSCREEN_USB_ZYTRONIC=y
CONFIG_GFS2_FS=y
CONFIG_USB_SERIAL_IR=y
CONFIG_MFD_SI476X_CORE=y
CONFIG_MFD_JANZ_CMODIO=y
CONFIG_PATA_OPTIDMA=y
CONFIG_ACPI_PFRUT=y
CONFIG_PINCTRL_SDM660=y
CONFIG_RANDOMIZE_KSTACK_OFFSET=y
CONFIG_PATA_HPT3X3_DMA=y
CONFIG_RN5T618_POWER=y
CONFIG_FSL_FTM_TIMER=y
CONFIG_RESET_TH1520=y
CONFIG_STRICT_SIGALTSTACK_SIZE=y
CONFIG_DS1803=y
CONFIG_PCIE_HISI_ERR=y
CONFIG_MMP_DISP_CONTROLLER=y
CONFIG_PHY_QCOM_USB_HSIC=y
CONFIG_YENTA_RICOH=y
CONFIG_USB_GADGET=y
CONFIG_COMMON_CLK_MT8516_AUDSYS=y
CONFIG_MTD=y
CONFIG_I2C_STM32F7=y
CONFIG_ARCH_HAS_FORTIFY_SOURCE=y
CONFIG_MTD_ROM=y
CONFIG_USB_DWC3_HAPS=y
CONFIG_KEYBOARD_TM2_TOUCHKEY=y
CONFIG_ARCH_HAS_STRICT_KERNEL_RWX=y
CONFIG_W1_MASTER_MXC=y
CONFIG_COMEDI_ADL_PCI7250=y
CONFIG_CRYPTO_RNG=y
CONFIG_EXTCON=y
CONFIG_TWL4030_CORE=y
CONFIG_CHR_DEV_ST=y
CONFIG_TOUCHSCREEN_USB_IRTOUCH=y
CONFIG_SENSORS_INSPUR_IPSPS=y
CONFIG_BATTERY_CW2015=y
CONFIG_OF_IOMMU=y
CONFIG_XEN_PRIVCMD=y
CONFIG_RESET_RZV2H_USB2PHY=y
CONFIG_X86_ACPI_CPUFREQ_CPB=y
CONFIG_PHY_QCOM_USB_SS=y
CONFIG_OWL_PM_DOMAINS_HELPER=y
CONFIG_RTC_DRV_PCF2127=y
CONFIG_PWM_LPC32XX=y
CONFIG_NVIDIA_CORESIGHT_PMU_ARCH_SYSTEM_PMU=y
CONFIG_BLK_INLINE_ENCRYPTION=y
CONFIG_ACPI_CONTAINER=y
CONFIG_PHY_MTK_DP=y
CONFIG_PINCTRL_UNIPHIER_LD6B=y
CONFIG_LOGO_LINUX_VGA16=y
CONFIG_PINCTRL_MT7986=y
CONFIG_GENERIC_CLOCKEVENTS_MIN_ADJUST=y
CONFIG_AD4130=y
CONFIG_XFS_ONLINE_SCRUB_STATS=y
CONFIG_TOUCHSCREEN_GOODIX=y
CONFIG_PINCTRL_LYNXPOINT=y
CONFIG_XEN_GRANT_DMA_ALLOC=y
CONFIG_REGULATOR_QCOM_USB_VBUS=y
CONFIG_FB_HGA=y
CONFIG_GPIO_VISCONTI=y
CONFIG_USB_ZERO=y
CONFIG_CRYPTO_CTR=y
CONFIG_PWM_MTK_DISP=y
CONFIG_PATA_CMD640_PCI=y
CONFIG_HTU21=y
CONFIG_GPIOLIB=y
CONFIG_PINCTRL_BERLIN_BG4CT=y
CONFIG_SPI_OC_TINY=y
CONFIG_MTD_NAND_ECC_REALTEK=y
CONFIG_COMEDI_ADDI_WATCHDOG=y
CONFIG_GENERIC_IRQ_MIGRATION=y
CONFIG_HW_RANDOM_TPM=y
CONFIG_CLK_TWL=y
CONFIG_PINCTRL_SOPHGO_CV1812H=y
CONFIG_NVMEM_SYSFS=y
CONFIG_USB_DWC3_DUAL_ROLE=y
CONFIG_TRACE_REMOTE_TEST=y
CONFIG_RTC_DRV_S35390A=y
CONFIG_HAVE_MMIOTRACE_SUPPORT=y
CONFIG_SENSORS_MP2888=y
CONFIG_X86_INTEL_LPSS=y
CONFIG_TRACE_IRQFLAGS_SUPPORT=y
CONFIG_ARCH_SUPPORTS_CFI=y
CONFIG_ACPI_FFH=y
CONFIG_ARCH_HAS_GENERIC_CRASHKERNEL_RESERVATION=y
CONFIG_FB_ARC=y
CONFIG_X86_MCE_AMD=y
CONFIG_USB_SERIAL=y
CONFIG_SENSORS_TMP421=y
CONFIG_HW_RANDOM_MXC_RNGA=y
CONFIG_FPGA_MGR_ICE40_SPI=y
CONFIG_MCB_PCI=y
CONFIG_GPIO_RASPBERRYPI_EXP=y
CONFIG_USB_CONFIGFS_F_PRINTER=y
CONFIG_MMA9551=y
CONFIG_DEBUG_MEMORY_INIT=y
CONFIG_RC_DEVICES=y
CONFIG_MESON6_TIMER=y
CONFIG_USB_LINK_LAYER_TEST=y
CONFIG_GCOV_KERNEL=y
CONFIG_COMMON_CLK_VISCONTI=y
CONFIG_I2C_SIMTEC=y
CONFIG_EARLY_PRINTK_USB=y
CONFIG_AD7280=y
CONFIG_MMC_SDHCI_BRCMSTB=y
CONFIG_PINCTRL_BCM6368=y
CONFIG_MTD_BLKDEVS=y
CONFIG_MOUSE_PS2_CYPRESS=y
CONFIG_PINCTRL_SM8450=y
CONFIG_HAVE_KERNEL_LZMA=y
CONFIG_CC_HAS_SANE_FUNCTION_ALIGNMENT=y
CONFIG_RMI4_SMB=y
CONFIG_ARCH_SPARSEMEM_DEFAULT=y
CONFIG_WMT_SOCINFO=y
CONFIG_GPIOLIB_IRQCHIP=y
CONFIG_CRYPTO_ARIA_AESNI_AVX2_X86_64=y
CONFIG_ARCH_WANT_LD_ORPHAN_WARN=y
CONFIG_REGULATOR_BCM590XX=y
CONFIG_PINCTRL_CS47L85=y
CONFIG_PINCTRL_QCM2290=y
CONFIG_PARPORT_NOT_PC=y
CONFIG_LEDS_CLASS=y
CONFIG_ARCH_HAS_ELF_RANDOMIZE=y
CONFIG_RTC_DRV_TPS6586X=y
CONFIG_COMPAT_FOR_U64_ALIGNMENT=y
CONFIG_SENSORS_ADM1275=y
CONFIG_SECURITY_LOADPIN=y
CONFIG_VEML6046X00=y
CONFIG_MARVELL_CN10K_DDR_PMU=y
CONFIG_I2C_QCOM_CCI=y
CONFIG_FB_METRONOME=y
CONFIG_VIDEOMODE_HELPERS=y
CONFIG_FAIL_PAGE_ALLOC=y
CONFIG_SMI330_I2C=y
CONFIG_MEMSTICK_DEBUG=y
CONFIG_SI1133=y
CONFIG_SENSORS_UCD9200=y
CONFIG_INTEL_TXT=y
CONFIG_FB_CFB_IMAGEBLIT=y
CONFIG_COMEDI_DYNA_PCI10XX=y
CONFIG_SERIAL_BCM63XX=y
CONFIG_MFD_SMPRO=y
CONFIG_SPI_LOONGSON_PCI=y
CONFIG_CLK_RENESAS_CPG_MSTP=y
CONFIG_ARCH_WANT_HUGETLB_VMEMMAP_PREINIT=y
CONFIG_CC_NO_ARRAY_BOUNDS=y
CONFIG_GENERIC_PENDING_IRQ=y
CONFIG_MTK_ADSP_MBOX=y
CONFIG_SPI_INTEL_PCI=y
CONFIG_CRYPTO_ECB=y
CONFIG_ARCH_SUPPORTS_ACPI=y
CONFIG_RTC_DRV_SD2405AL=y
CONFIG_SM_CAMCC_8450=y
CONFIG_DM_INTEGRITY=y
CONFIG_USB_GOKU=y
CONFIG_REGULATOR_MAX77686=y
CONFIG_MMC_SDHCI_F_SDH30=y
CONFIG_ARCH_HAS_COPY_MC=y
CONFIG_SM_GPUCC_8350=y
CONFIG_CLK_SOPHGO_CV1800=y
CONFIG_MP2629_ADC=y
CONFIG_SENSORS_ADT7X10=y
CONFIG_RTC_DRV_S5M=y
CONFIG_I2C_MUX_GPMUX=y
CONFIG_USB_GADGET_DEBUG_FILES=y
CONFIG_PINCTRL_NSP_MUX=y
CONFIG_EVENT_TRACING=y
CONFIG_SENSORS_MAX1619=y
CONFIG_COMMON_CLK_MT8192_VENCSYS=y
CONFIG_SCHED_INFO=y
CONFIG_COMEDI_GSC_HPDI=y
CONFIG_MTD_CFI_I2=y
CONFIG_CHARGER_BQ24735=y
CONFIG_AD9739A=y
CONFIG_ARCH_SUPPORTS_KEXEC_PURGATORY=y
CONFIG_PHY_CADENCE_DPHY=y
CONFIG_PINCTRL_IPQ5210=y
CONFIG_GPIO_ARIZONA=y
CONFIG_GPIO_MPC8XXX=y
CONFIG_IRQ_REMAP=y
CONFIG_RTC_DRV_ABEOZ9=y
CONFIG_LEDS_PCA955X=y
CONFIG_CHARGER_LP8788=y
CONFIG_UNINLINE_SPIN_UNLOCK=y
CONFIG_LEDS_LP55XX_COMMON=y
CONFIG_PHY_BRCM_USB=y
CONFIG_COMMON_CLK_MEDIATEK_FHCTL=y
CONFIG_MTD_COMPLEX_MAPPINGS=y
CONFIG_X86_DISABLED_FEATURE_SGX=y
CONFIG_BLOCK_LEGACY_AUTOLOAD=y
CONFIG_X86_ACPI_CPUFREQ=y
CONFIG_USB_F_ACM=y
CONFIG_BACKLIGHT_ATMEL_LCDC=y
CONFIG_INTEGRATOR_AP_TIMER=y
CONFIG_MTD_PSTORE=y
CONFIG_TI_ADS7950=y
CONFIG_KEYBOARD_CHARLIEPLEX=y
CONFIG_GPIO_LOONGSON1=y
CONFIG_MTK_VCP_MBOX=y
CONFIG_PACKING=y
CONFIG_MFD_CS40L50_CORE=y
CONFIG_LTC2632=y
CONFIG_COMMON_CLK_MT8183_MMSYS=y
CONFIG_EXT4_FS=y
CONFIG_REGULATOR_BD96801=y
CONFIG_BCM_VK=y
CONFIG_CLK_R9A09G077=y
CONFIG_XZ_DEC_POWERPC=y
CONFIG_COMMON_CLK_SCMI=y
CONFIG_HAVE_FUNCTION_ERROR_INJECTION=y
CONFIG_TOUCHSCREEN_USB_ETT_TC45USB=y
CONFIG_USB_SL811_HCD=y
CONFIG_CHARGER_LP8727=y
CONFIG_I2C_MT7621=y
CONFIG_BCMA_PFLASH=y
CONFIG_FB_SIS=y
CONFIG_VMAP_STACK=y
CONFIG_CC_HAS_KASAN_SW_TAGS=y
CONFIG_UIO_DMEM_GENIRQ=y
CONFIG_SERIAL_BCM63XX_CONSOLE=y
CONFIG_RCAR_GEN3_THERMAL=y
CONFIG_FB_NVIDIA=y
CONFIG_MTD_REDBOOT_PARTS=y
CONFIG_USB_STORAGE_JUMPSHOT=y
CONFIG_EDAC_NPCM=y
CONFIG_GENERIC_NET_UTILS=y
CONFIG_COMEDI_ADDI_APCI_1564=y
CONFIG_FB_SYS_FILLRECT=y
CONFIG_NVMEM_IMX_OCOTP_ELE=y
CONFIG_SOFTIRQ_ON_OWN_STACK=y
CONFIG_CRYPTO_CBC=y
CONFIG_CLK_LGM_CGU=y
CONFIG_MTD_NAND_JZ4780=y
CONFIG_COMMON_CLK_FIXED_MMIO=y
CONFIG_PM_NOTIFIER_ERROR_INJECT=y
CONFIG_PARPORT_PC=y
CONFIG_MFD_CS47L24=y
CONFIG_SAMPLE_HUNG_TASK=y
CONFIG_SPI_AMLOGIC_SPIFC_A4=y
CONFIG_PATA_OPTI=y
CONFIG_HAVE_KERNEL_ZSTD=y
CONFIG_SOC_IMX9=y
CONFIG_SPI_NXP_FLEXSPI=y
CONFIG_USB_STORAGE=y
CONFIG_COMMON_CLK_MT6779_MFGCFG=y
CONFIG_REED_SOLOMON_ENC16=y
CONFIG_AD7298=y
CONFIG_LTC2496=y
CONFIG_CRC_ITU_T=y
CONFIG_UBIFS_FS_ZSTD=y
CONFIG_INPUT_EVDEV=y
CONFIG_USB_SERIAL_SIMPLE=y
CONFIG_CXL_BUS=y
CONFIG_SYSTEM_TRUSTED_KEYRING=y
CONFIG_NVMEM_LPC18XX_EEPROM=y
CONFIG_ASYNC_CORE=y
CONFIG_QDU_GCC_1000=y
CONFIG_LEDS_CLASS_MULTICOLOR=y
CONFIG_PHY_CANAAN_USB=y
CONFIG_BLK_DEV_INTEGRITY=y
CONFIG_STM32_IPCC=y
CONFIG_MTD_NAND_DENALI_DT=y
CONFIG_X86=y
CONFIG_MAX22007=y
CONFIG_HAVE_GENERIC_VDSO=y
CONFIG_DEVFREQ_GOV_USERSPACE=y
CONFIG_X86_HV_CALLBACK_VECTOR=y
CONFIG_COMMON_CLK_HI3516CV300=y
CONFIG_AMD_SBRMI_I2C=y
CONFIG_UEFI_CPER=y
CONFIG_PATA_PCMCIA=y
CONFIG_INTEL_CHTDC_TI_PWRBTN=y
CONFIG_P2SB=y
CONFIG_RUSTC_HAS_FILE_WITH_NUL=y
CONFIG_USB_OHCI_HCD=y
CONFIG_BEFS_FS=y
CONFIG_POSIX_CPU_TIMERS_TASK_WORK=y
CONFIG_AD525X_DPOT=y
CONFIG_PATA_RZ1000=y
CONFIG_USB_SERIAL_MCT_U232=y
CONFIG_SENSORS_W83792D=y
CONFIG_SENSORS_W83781D=y
CONFIG_SERIAL_ICOM=y
CONFIG_PWM_IQS620A=y
CONFIG_SPI_SLAVE_SYSTEM_CONTROL=y
CONFIG_GPIO_BD71815=y
CONFIG_EARLY_PRINTK_DBGP=y
CONFIG_PERF_EVENTS=y
CONFIG_DEBUG_KMEMLEAK_DEFAULT_OFF=y
CONFIG_USB_SERIAL_OPTICON=y
CONFIG_FTRACE=y
CONFIG_PPS_CLIENT_GPIO=y
CONFIG_MEMORY_HOTPLUG=y
CONFIG_PINCTRL_SH_PFC_GPIO=y
CONFIG_PING=y
CONFIG_CLK_RCAR_CPG_LIB=y
CONFIG_IR_MESON=y
CONFIG_SENSORS_LM95234=y
CONFIG_CRYPTO_HASH2=y
CONFIG_SUN8I_A33_CCU=y
CONFIG_VHOST_SCSI=y
CONFIG_COMMON_CLK_FSL_FLEXSPI=y
CONFIG_THREAD_INFO_IN_TASK=y
CONFIG_CRC8=y
CONFIG_ARCH_WANT_GENERAL_HUGETLB=y
CONFIG_COMMON_CLK_MT8183_VENCSYS=y
CONFIG_PERF_EVENTS_INTEL_RAPL=y
CONFIG_KSTACK_ERASE_METRICS=y
CONFIG_FPGA_MGR_XILINX_SELECTMAP=y
CONFIG_USB_PRINTER=y
CONFIG_CRYPTO_HMAC=y
CONFIG_ARM_QCOM_CPUFREQ_HW=y
CONFIG_AGP_VIA=y
CONFIG_PWM_STI=y
CONFIG_X86_MCE_THRESHOLD=y
CONFIG_RTC_DRV_M41T93=y
CONFIG_REGULATOR_ROHM=y
CONFIG_COMEDI_CB_PCIMDAS=y
CONFIG_X86_INTEL_MID=y
CONFIG_I2C_DESIGNWARE_AMDISP=y
CONFIG_I2C_DAVINCI=y
CONFIG_IBM_ASM=y
CONFIG_X86_REQUIRED_FEATURE_XMM2=y
CONFIG_MFD_STMPE=y
CONFIG_CRYPTO_KRB5=y
CONFIG_ARCH_PROC_KCORE_TEXT=y
CONFIG_USB_G_DBGP_SERIAL=y
CONFIG_PHY_RTK_RTD_USB3PHY=y
CONFIG_REGMAP_IRQ=y
CONFIG_RTC_DRV_SPEAR=y
CONFIG_SM_GCC_6125=y
CONFIG_CLK_NORD_GCC=y
CONFIG_HIBERNATION=y
CONFIG_JBD2=y
CONFIG_REGULATOR_MT6332=y
CONFIG_USB_SERIAL_UPD78F0730=y
CONFIG_UPROBES=y
CONFIG_IDLE_PAGE_TRACKING=y
CONFIG_EFS_FS=y
CONFIG_SQUASHFS_FILE_DIRECT=y
CONFIG_ARM_SCMI_NEED_DEBUGFS=y
CONFIG_PCI_SKY1_HOST=y
CONFIG_CLK_GLYMUR_VIDEOCC=y
CONFIG_COMMON_CLK_EIC7700=y
CONFIG_LEDS_SPI_BYTE=y
CONFIG_CLK_RCAR_GEN2_CPG=y
CONFIG_SPI_AXI_SPI_ENGINE=y
CONFIG_PINCTRL_PFC_R8A77960=y
CONFIG_BPF_JIT_ALWAYS_ON=y
CONFIG_SENSORS_PC87360=y
CONFIG_HAVE_EXIT_THREAD=y
CONFIG_ARCH_WANTS_DYNAMIC_TASK_STRUCT=y
CONFIG_X86_DISABLED_FEATURE_TDX_GUEST=y
CONFIG_IOMMU_DEBUGFS=y
CONFIG_RUNTIME_TESTING_MENU=y
CONFIG_PARMAN=y
CONFIG_XFS_SUPPORT_ASCII_CI=y
CONFIG_RZN1_ADC=y
CONFIG_HOTPLUG_SPLIT_STARTUP=y
CONFIG_PINCTRL_BROXTON=y
CONFIG_PROC_PAGE_MONITOR=y
CONFIG_JBD2_DEBUG=y
CONFIG_PINCTRL_PFC_R8A7790=y
CONFIG_NVME_HWMON=y
CONFIG_AD5446_I2C=y
CONFIG_NVMEM_RCAR_EFUSE=y
CONFIG_HAVE_PV_STEAL_CLOCK_GEN=y
CONFIG_COMMON_CLK_MT8188_VDECSYS=y
CONFIG_PINCTRL_MT6797=y
CONFIG_X86_CPA_STATISTICS=y
CONFIG_PREEMPTION=y
CONFIG_PCIE_KIRIN=y
CONFIG_IOMMU_IO_PGTABLE=y
CONFIG_PHY_BCM_NS_USB2=y
CONFIG_SERIAL_SC16IS7XX=y
CONFIG_MFD_TPS6594_SPI=y
CONFIG_BPF=y
CONFIG_MFD_SEC_I2C=y
CONFIG_USB_CDNSP_HOST=y
CONFIG_ASSOCIATIVE_ARRAY=y
CONFIG_SYSV68_PARTITION=y
CONFIG_MMC_SDHCI_BCM_KONA=y
CONFIG_PINCTRL_EQUILIBRIUM=y
CONFIG_SH_TIMER_TMU=y
CONFIG_I2C_AXXIA=y
CONFIG_X86_16BIT=y
CONFIG_CRYPTO_LIB_SHA256_ARCH=y
CONFIG_VHOST_MENU=y
