CONFIG_GENERIC_ADC_BATTERY=y
CONFIG_LTC2983=y
CONFIG_IMX_WEIM=y
CONFIG_MTD_GEN_PROBE=y
CONFIG_ARCH_ENABLE_MEMORY_HOTPLUG=y
CONFIG_ARCH_HAS_CURRENT_STACK_POINTER=y
CONFIG_COMMON_CLK_MT6779_VENCSYS=y
CONFIG_SYSCTL=y
CONFIG_TPS6594_PFSM=y
CONFIG_NVIDIA_CORESIGHT_PMU_ARCH_SYSTEM_PMU=y
CONFIG_COMMON_CLK_MT8196_PEXTPSYS=y
CONFIG_PINCTRL_MCP23S08=y
CONFIG_PINCTRL_MT6878=y
CONFIG_INV_ICM45600_I2C=y
CONFIG_SECURITY_LOADPIN=y
CONFIG_LEDS_TPS6105X=y
CONFIG_MFD_SIMPLE_MFD_I2C=y
CONFIG_DW_XDATA_PCIE=y
CONFIG_CRYPTO_SM4_ARM64_NEON_BLK=y
CONFIG_NVDIMM_KEYS=y
CONFIG_COMMON_CLK_MT8196_MCUSYS=y
CONFIG_EFI_TEST=y
CONFIG_XEN_BLKDEV_FRONTEND=y
CONFIG_CRYPTO_AES_ARM64_NEON_BLK=y
CONFIG_SERIAL_SCCNXP=y
CONFIG_TI_K3_RINGACC=y
CONFIG_MFD_WM831X_I2C=y
CONFIG_CRYPTO_KPP=y
CONFIG_XFS_FS=y
CONFIG_GOLDFISH_TTY=y
CONFIG_FONT_AUTOSELECT=y
CONFIG_GOLDFISH=y
CONFIG_PHY_MTK_MIPI_CSI_0_5=y
CONFIG_HID_EZKEY=y
CONFIG_COMMON_CLK_MT8183_VENCSYS=y
CONFIG_THERMAL_GOV_USER_SPACE=y
CONFIG_ARCH_WANT_LD_ORPHAN_WARN=y
CONFIG_TARGET_CORE=y
CONFIG_UFS_FS=y
CONFIG_IO_URING=y
CONFIG_PINCTRL_UNIPHIER_LD11=y
CONFIG_LEDS_DAC124S085=y
CONFIG_ARM64_ERRATUM_2077057=y
CONFIG_COMMON_CLK_MT8183_IPU_CORE1=y
CONFIG_ARCH_SUPPORTS_RT=y
CONFIG_CORDIC=y
CONFIG_AD5766=y
CONFIG_BACKLIGHT_LV5207LP=y
CONFIG_SCSI_SCAN_ASYNC=y
CONFIG_SENSORS_F71805F=y
CONFIG_AL3010=y
CONFIG_MTD_JEDECPROBE=y
CONFIG_CXL_REGION=y
CONFIG_AOSONG_AGS02MA=y
CONFIG_SENSORS_MAX77705=y
CONFIG_CLK_R9A09G087=y
CONFIG_GPIO_DAVINCI=y
CONFIG_CHARGER_SC2731=y
CONFIG_ARCH_HIBERNATION_POSSIBLE=y
CONFIG_IRQ_SIM=y
CONFIG_SERIAL_OF_PLATFORM=y
CONFIG_ABP2030PA_I2C=y
CONFIG_THERMAL_EMULATION=y
CONFIG_POSIX_TIMERS=y
CONFIG_HID_PETALYNX=y
CONFIG_VIRTIO_PCI_LIB_LEGACY=y
CONFIG_REGULATOR_MPQ7920=y
CONFIG_SENSORS_LM78=y
CONFIG_MFD_STMPE=y
CONFIG_SCA3000=y
CONFIG_PM_DEVFREQ=y
CONFIG_GENERIC_IDLE_POLL_SETUP=y
CONFIG_MTD_NAND_ROCKCHIP=y
CONFIG_INPUT_FF_MEMLESS=y
CONFIG_SERIAL_SIFIVE_CONSOLE=y
CONFIG_ARM_PSCI_FW=y
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST=y
CONFIG_EROFS_FS_PCPU_KTHREAD=y
CONFIG_TSL2591=y
CONFIG_ROMFS_FS=y
CONFIG_NAU7802=y
CONFIG_MTD_UBI_BLOCK=y
CONFIG_EFI_EARLYCON=y
CONFIG_SERIAL_RP2=y
CONFIG_INV_ICM42600_I2C=y
CONFIG_HAVE_CLK=y
CONFIG_QNX4FS_FS=y
CONFIG_ZONE_DMA32=y
CONFIG_SENSORS_SMPRO=y
CONFIG_MFD_RN5T618=y
CONFIG_ARM_GIC=y
CONFIG_REGULATOR_PF9453=y
CONFIG_TI_SCI_INTR_IRQCHIP=y
CONFIG_DM_FLAKEY=y
CONFIG_COMMON_CLK_MT2712_MMSYS=y
CONFIG_CHARGER_AXP20X=y
CONFIG_BCH=y
CONFIG_I2C_GPIO=y
CONFIG_SOFT_WATCHDOG=y
CONFIG_FXAS21002C_I2C=y
CONFIG_SECURITY_NETWORK=y
CONFIG_SPEAKUP=y
CONFIG_OF_OVERLAY=y
CONFIG_ARCH_HAS_KERNEL_FPU_SUPPORT=y
CONFIG_PHY_ROCKCHIP_INNO_HDMI=y
CONFIG_MEMSTICK_TIFM_MS=y
CONFIG_SCA3300=y
CONFIG_REGULATOR_MT6332=y
CONFIG_SENSORS_MLXREG_FAN=y
CONFIG_SENSORS_DA9052_ADC=y
CONFIG_ATA_FORCE=y
CONFIG_PCIE_AMD_MDB=y
CONFIG_CRYPTO_SEQIV=y
CONFIG_I2C_MUX_GPMUX=y
CONFIG_NVME_HOST_AUTH=y
CONFIG_TI_SCI_INTA_IRQCHIP=y
CONFIG_LEDS_AW2013=y
CONFIG_POWER_RESET_REGULATOR=y
CONFIG_ACCESSIBILITY=y
CONFIG_MTK_GPUEB_MBOX=y
CONFIG_ARCH_WANTS_NO_INSTR=y
CONFIG_BACKLIGHT_QCOM_WLED=y
CONFIG_TORTURE_TEST=y
CONFIG_FSI_MASTER_HUB=y
CONFIG_WATCHDOG_HRTIMER_PRETIMEOUT=y
CONFIG_INPUT_VIVALDIFMAP=y
CONFIG_SYSC_R8A774B1=y
CONFIG_I2C_TAOS_EVM=y
CONFIG_ARM64_GCS=y
CONFIG_DW_WATCHDOG=y
CONFIG_ADXRS290=y
CONFIG_RMI4_F3A=y
CONFIG_MHP_MEMMAP_ON_MEMORY=y
CONFIG_ARCH_DEFAULT_CRASH_DUMP=y
CONFIG_ARM64_POE=y
CONFIG_GENERIC_IRQ_SHOW=y
CONFIG_PHY_MA35_USB=y
CONFIG_CEC_NXP_TDA9950=y
CONFIG_RMI4_F30=y
CONFIG_FUSE_FS=y
CONFIG_HAVE_IRQ_TIME_ACCOUNTING=y
CONFIG_VFAT_FS=y
CONFIG_MUX_MMIO=y
CONFIG_JOYSTICK_TWIDJOY=y
CONFIG_SENSORS_LM93=y
CONFIG_AD2S1200=y
CONFIG_HAVE_CMPXCHG_LOCAL=y
CONFIG_SMPRO_ERRMON=y
CONFIG_PROC_PAGE_MONITOR=y
CONFIG_ARM_SMMU_LEGACY_DT_BINDINGS=y
CONFIG_PCIE_MICROCHIP_HOST=y
CONFIG_OF_DYNAMIC=y
CONFIG_ARCH_WANT_BATCHED_UNMAP_TLB_FLUSH=y
CONFIG_MQ_IOSCHED_KYBER=y
CONFIG_REGULATOR_TPS6594=y
CONFIG_PROC_CHILDREN=y
CONFIG_ZSTD_COMPRESS=y
CONFIG_WATCHDOG_HANDLE_BOOT_ENABLED=y
CONFIG_DT_IDLE_STATES=y
CONFIG_NLS_ISO8859_1=y
CONFIG_MPU3050_I2C=y
CONFIG_HSC030PA_I2C=y
CONFIG_IIO_DUMMY_EVGEN=y
CONFIG_SERIO_SERPORT=y
CONFIG_ARM_SMC_WATCHDOG=y
CONFIG_SPI_DESIGNWARE=y
CONFIG_CROS_EC_PROTO=y
CONFIG_I2C_SPRD=y
CONFIG_QUOTA_TREE=y
CONFIG_MFD_WM831X_SPI=y
CONFIG_FIPS_SIGNATURE_SELFTEST=y
CONFIG_BALLOON=y
CONFIG_NVMEM_SNVS_LPGPR=y
CONFIG_ARM64_ERRATUM_1165522=y
CONFIG_PINCTRL_SKY1=y
CONFIG_LD_CAN_USE_KEEP_IN_OVERLAY=y
CONFIG_BH1750=y
CONFIG_ADIS16475=y
CONFIG_LEDS_TRIGGER_TTY=y
CONFIG_PINCTRL_SUN55I_A523=y
CONFIG_HID_ICADE=y
CONFIG_AD5421=y
CONFIG_TI_SYSC=y
CONFIG_FUSION=y
CONFIG_CRC64=y
CONFIG_RWSEM_SPIN_ON_OWNER=y
CONFIG_SERIAL_8250_16550A_VARIANTS=y
CONFIG_SECTION_MISMATCH_WARN_ONLY=y
CONFIG_K3_THERMAL=y
CONFIG_DM_DEBUG_BLOCK_STACK_TRACING=y
CONFIG_HID_RAPOO=y
CONFIG_CRYPTO_ECB=y
CONFIG_IPC_NS=y
CONFIG_ARCH_AXIADO=y
CONFIG_CXL_PORT=y
CONFIG_BCMA_HOST_PCI_POSSIBLE=y
CONFIG_CHARGER_BQ24735=y
CONFIG_SSB_POSSIBLE=y
CONFIG_COMMON_CLK_MT8183=y
CONFIG_TI_PRUSS_INTC=y
CONFIG_SYSC_R8A779F0=y
CONFIG_FIND_NORMAL_PAGE=y
CONFIG_ARCH_WANTS_EXECMEM_LATE=y
CONFIG_DT_IDLE_GENPD=y
CONFIG_I2C_MUX_PCA9541=y
CONFIG_MFD_ACT8945A=y
CONFIG_REGULATOR_RT4803=y
CONFIG_BCMA_DEBUG=y
CONFIG_MODULES_USE_ELF_RELA=y
CONFIG_ZPA2326_SPI=y
CONFIG_COMMON_CLK_MT2712=y
CONFIG_HID_SENSOR_IIO_COMMON=y
CONFIG_JOYSTICK_TMDC=y
CONFIG_MAX34408=y
CONFIG_ZERO_CALL_USED_REGS=y
CONFIG_DM_RAID=y
CONFIG_HAVE_DYNAMIC_FTRACE=y
CONFIG_PINCTRL_RZT2H=y
CONFIG_NLS=y
CONFIG_CHARGER_MAX77705=y
CONFIG_INPUT_JOYDEV=y
CONFIG_CC_HAS_MIN_FUNCTION_ALIGNMENT=y
CONFIG_PHY_CADENCE_DPHY_RX=y
CONFIG_COMMON_CLK_MT6765_MIPI2ASYS=y
CONFIG_ARCH_HAS_DEBUG_VM_PGTABLE=y
CONFIG_BMI270_SPI=y
CONFIG_CC_HAS_KASAN_GENERIC=y
CONFIG_I3C_OR_I2C=y
CONFIG_IIO_KFIFO_BUF=y
CONFIG_CROS_EC_DEBUGFS=y
CONFIG_HAVE_PERF_EVENTS=y
CONFIG_REGULATOR_MT6359=y
CONFIG_CEC_GPIO=y
CONFIG_IOMMU_IO_PGTABLE_LPAE=y
CONFIG_IMG_ASCII_LCD=y
CONFIG_PROC_FS=y
CONFIG_USB4_STREAM=y
CONFIG_VBOXGUEST=y
CONFIG_DEVFREQ_EVENT_ROCKCHIP_DFI=y
CONFIG_FW_UPLOAD=y
CONFIG_EROFS_FS=y
CONFIG_MFD_STPMIC1=y
CONFIG_UNIPHIER_WATCHDOG=y
CONFIG_MTD_NAND_BRCMNAND_BRCMSTB=y
CONFIG_SENSORS_GL520SM=y
CONFIG_REGULATOR_WM831X=y
CONFIG_AMPERE_CORESIGHT_PMU_ARCH_SYSTEM_PMU=y
CONFIG_FS_POSIX_ACL=y
CONFIG_HAS_IOMEM=y
CONFIG_MLX90632=y
CONFIG_CRYPTO_ARIA=y
CONFIG_GPIO_DA9052=y
CONFIG_D3323AA=y
CONFIG_ASYNC_MEMCPY=y
CONFIG_RAPIDIO_ENABLE_RX_TX_PORTS=y
CONFIG_INPUT_TWL4030_PWRBUTTON=y
CONFIG_GPIO_GENERIC_PLATFORM=y
CONFIG_MEDIATEK_MT6577_AUXADC=y
CONFIG_COMMON_CLK_MT8188_MFGCFG=y
CONFIG_LCD_ILI9320=y
CONFIG_SPARSEMEM_VMEMMAP_ENABLE=y
CONFIG_I3C=y
CONFIG_SUN55I_A523_R_CCU=y
CONFIG_IMX_THERMAL=y
CONFIG_MTD_NAND_ECC_SW_HAMMING_SMC=y
CONFIG_BALLOON_MIGRATION=y
CONFIG_ARCH_SUPPORTS_MEMORY_FAILURE=y
CONFIG_VIRT_DRIVERS=y
CONFIG_USER_STACKTRACE_SUPPORT=y
CONFIG_CRYPTO_LIB_SM3_ARCH=y
CONFIG_SUSPEND_FREEZER=y
CONFIG_SENSORS_AXI_FAN_CONTROL=y
CONFIG_ADMV4420=y
CONFIG_HAVE_KCSAN_COMPILER=y
CONFIG_RESET_IMX7=y
CONFIG_PINCTRL_RK805=y
CONFIG_ND_CLAIM=y
CONFIG_MFD_MAX77714=y
CONFIG_RT_MUTEXES=y
CONFIG_XEN_GRANT_DMA_ALLOC=y
CONFIG_REGULATOR_LP3971=y
CONFIG_MFD_MAX77541=y
CONFIG_IOMMU_DMA=y
CONFIG_W1_SLAVE_DS2405=y
CONFIG_MAX11100=y
CONFIG_PINCTRL_AXP209=y
CONFIG_COMMON_CLK_MT6765_MIPI2BSYS=y
CONFIG_OF_RESOLVE=y
CONFIG_HAS_IOPORT_MAP=y
CONFIG_SPI_FSL_LPSPI=y
CONFIG_LEDS_TLC591XX=y
CONFIG_BATTERY_BQ27XXX=y
CONFIG_SPI_XILINX=y
CONFIG_HAVE_CONTEXT_TRACKING_USER=y
CONFIG_SPI_ORION=y
CONFIG_MLXREG_IO=y
CONFIG_I2C_SIS630=y
CONFIG_DM_SWITCH=y
CONFIG_FUSION_LOGGING=y
CONFIG_GET_FREE_REGION=y
CONFIG_HID_LED=y
CONFIG_CPU_MITIGATIONS=y
CONFIG_KERNFS=y
CONFIG_SATA_HOST=y
CONFIG_TI_ADC12138=y
CONFIG_ARCH_USE_QUEUED_SPINLOCKS=y
CONFIG_NLS_ISO8859_5=y
CONFIG_DEBUG_PINCTRL=y
CONFIG_GPIO_MB86S7X=y
CONFIG_TPL0102=y
CONFIG_REGULATOR_HI6421V530=y
CONFIG_GPIO_MOCKUP=y
CONFIG_GPIO_PCA9570=y
CONFIG_CRC_OPTIMIZATIONS=y
CONFIG_SYSFS=y
CONFIG_VIRTIO=y
CONFIG_MTD_NAND_SUNXI=y
CONFIG_AD5592R_BASE=y
CONFIG_TSYS01=y
CONFIG_GPIO_TPS6586X=y
CONFIG_SI7020=y
CONFIG_DMA_BOUNCE_UNALIGNED_KMALLOC=y
CONFIG_SPARSEMEM_VMEMMAP=y
CONFIG_ZRAM_BACKEND_LZ4HC=y
CONFIG_HTS221_I2C=y
CONFIG_ALIM7101_WDT=y
CONFIG_ARCH_USE_QUEUED_RWLOCKS=y
CONFIG_KEXEC_CORE=y
CONFIG_SI1133=y
CONFIG_ADXL367_SPI=y
CONFIG_TTY=y
CONFIG_SENSORS_W83791D=y
CONFIG_I2C_DESIGNWARE_CORE=y
CONFIG_CXL_MEM_RAW_COMMANDS=y
CONFIG_ADXL367=y
CONFIG_ADXL345=y
CONFIG_SERIAL_8250_EXTENDED=y
CONFIG_BATTERY_BQ27XXX_HDQ=y
CONFIG_MAX1241=y
CONFIG_SENSORS_W83792D=y
CONFIG_COMMON_CLK_MT8365=y
CONFIG_HAVE_GUP_FAST=y
CONFIG_INPUT_BMA150=y
CONFIG_ASN1_ENCODER=y
CONFIG_EFI_BOOTLOADER_CONTROL=y
CONFIG_GPIO_MOXTET=y
CONFIG_SUN55I_PCK600=y
CONFIG_I2C_HID_OF=y
CONFIG_VIRTIO_ANCHOR=y
CONFIG_SENSORS_ADM1177=y
CONFIG_UIO_MF624=y
CONFIG_GPIO_WATCHDOG=y
CONFIG_ARM64_ERRATUM_4118414=y
CONFIG_POWER_SEQUENCING=y
CONFIG_UFS_FS_WRITE=y
CONFIG_CRYPTO_CHACHA20POLY1305=y
CONFIG_CC_NO_ARRAY_BOUNDS=y
CONFIG_PHY_RCAR_GEN3_PCIE=y
CONFIG_SCSI_CONSTANTS=y
CONFIG_SPARSEMEM_EXTREME=y
CONFIG_HAVE_ARCH_HUGE_VMAP=y
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_ARGS=y
CONFIG_PCIE_PTM=y
CONFIG_HAVE_ARCH_HUGE_VMALLOC=y
CONFIG_ARM_TIMER_SP804=y
CONFIG_EXFAT_FS=y
CONFIG_LEDS_TRIGGER_GPIO=y
CONFIG_NVME_TARGET_LOOP=y
CONFIG_ARCH_SUPPORTS_INT128=y
CONFIG_PRINTK=y
CONFIG_HOTPLUG_SMT=y
CONFIG_CLK_RENESAS=y
CONFIG_ARCH_HAS_PTDUMP=y
CONFIG_MB1232=y
CONFIG_NVMEM_SYSFS=y
CONFIG_MTD_LPDDR=y
CONFIG_FXAS21002C=y
CONFIG_SPI_ALTERA=y
CONFIG_LEDS_LT3593=y
CONFIG_DEBUG_SPINLOCK=y
CONFIG_GPIO_STMPE=y
CONFIG_SPI_SLAVE_SYSTEM_CONTROL=y
CONFIG_PHY_CADENCE_TORRENT=y
CONFIG_I2C_EMEV2=y
CONFIG_PROC_VMCORE_DEVICE_DUMP=y
CONFIG_ADL8113=y
CONFIG_LEDS_MT6323=y
CONFIG_UNIPHIER_SYSTEM_BUS=y
CONFIG_NVME_MULTIPATH=y
CONFIG_MFD_MP2629=y
CONFIG_IOMMU_IO_PGTABLE_ARMV7S_SELFTEST=y
CONFIG_CXL_BUS=y
CONFIG_C2PORT=y
CONFIG_PHY_MTK_TPHY=y
CONFIG_CPU_LITTLE_ENDIAN=y
CONFIG_LIBFDT=y
CONFIG_PHY_MTK_XFI_TPHY=y
CONFIG_FW_CACHE=y
CONFIG_RMI4_SMB=y
CONFIG_K3_RTI_WATCHDOG=y
CONFIG_REGULATOR_RASPBERRYPI_TOUCHSCREEN_V2=y
CONFIG_NVMEM_IMX_IIM=y
CONFIG_SM_FTL=y
CONFIG_NLS_MAC_CYRILLIC=y
CONFIG_CRC4=y
CONFIG_COMMON_CLK_MT8183_IPU_CORE0=y
CONFIG_ARCH_SUPPORTS_LTO_CLANG_THIN=y
CONFIG_AD5380=y
CONFIG_RPMSG_CTRL=y
CONFIG_ARCH_HAS_MEM_ENCRYPT=y
CONFIG_LEDS_IS31FL319X=y
CONFIG_SECURITY_SAFESETID=y
CONFIG_INPUT_MAX8925_ONKEY=y
CONFIG_SUN8I_H3_CCU=y
CONFIG_AD5064=y
CONFIG_HOTPLUG_PCI=y
CONFIG_MAX22007=y
CONFIG_SENSORS_MAX6650=y
CONFIG_ARCH_SUPPORTS_UPROBES=y
CONFIG_MEMSTICK_R592=y
CONFIG_ST_UVIS25_I2C=y
CONFIG_AD5504=y
CONFIG_ARCH_HAS_NON_OVERLAPPING_ADDRESS_SPACE=y
CONFIG_CRYPTO_AUTHENC=y
CONFIG_LEDS_TRIGGER_TIMER=y
CONFIG_SENSORS_JC42=y
CONFIG_PINCTRL_SOPHGO_COMMON=y
CONFIG_PINCTRL_IMX8MN=y
CONFIG_REGULATOR_VCTRL=y
CONFIG_UIO_CIF=y
CONFIG_MSDOS_PARTITION=y
CONFIG_MAX5821=y
CONFIG_CLK_RK3568=y
CONFIG_SPARSEMEM=y
CONFIG_HID_SENSOR_TEMP=y
CONFIG_ST_UVIS25=y
CONFIG_NLS_CODEPAGE_950=y
CONFIG_QNX6FS_FS=y
CONFIG_INTERCONNECT=y
CONFIG_ARCH_HAVE_ELF_PROT=y
CONFIG_SPI_SPIDEV=y
CONFIG_MFD_88PM886_PMIC=y
CONFIG_HZ_1000=y
CONFIG_FUJITSU_ERRATUM_010001=y
CONFIG_INPUT_IQS7222=y
CONFIG_WATCHDOG_PRETIMEOUT_DEFAULT_GOV_PANIC=y
CONFIG_HAVE_RELIABLE_STACKTRACE=y
CONFIG_DM_MULTIPATH_HST=y
CONFIG_EXTCON_MAX77843=y
CONFIG_GPIO_DS4520=y
CONFIG_GPIO_WCD934X=y
CONFIG_NOTIFIER_ERROR_INJECTION=y
CONFIG_MTD_CFI=y
CONFIG_COMMON_CLK_MT8196_MMSYS=y
CONFIG_RESET_TI_SYSCON=y
CONFIG_PCIE_SG2042_HOST=y
CONFIG_MFD_CS42L43=y
CONFIG_BME680_SPI=y
CONFIG_SX9324=y
CONFIG_RENESAS_RZT2H_ICU=y
CONFIG_VIRTIO_MENU=y
CONFIG_SOPHGO_SG2042_MSI=y
CONFIG_HID_SENSOR_HUMIDITY=y
CONFIG_IIO_TRIGGER=y
CONFIG_VIRTIO_MMIO=y
CONFIG_REGULATOR_MAX77503=y
CONFIG_BLK_DEV_NULL_BLK=y
CONFIG_UNIX98_PTYS=y
CONFIG_OF_NUMA=y
CONFIG_PCI_MESON=y
CONFIG_MTD_NAND_CAFE=y
CONFIG_KEYS_REQUEST_CACHE=y
CONFIG_WATCHDOG=y
CONFIG_AD7293=y
CONFIG_IOMMUFD=y
CONFIG_ADF4350=y
CONFIG_I2C_UNIPHIER_F=y
CONFIG_PHY_ROCKCHIP_INNO_DSIDPHY=y
CONFIG_SYS_R9A09G057=y
CONFIG_DAMON_LRU_SORT=y
CONFIG_EFI_SECRET=y
CONFIG_INPUT_MC13783_PWRBUTTON=y
CONFIG_PREEMPT_RCU=y
CONFIG_DPS310=y
CONFIG_IMX8M_BLK_CTRL=y
CONFIG_PANIC_ON_OOPS=y
CONFIG_TWL4030_WATCHDOG=y
CONFIG_AD799X=y
CONFIG_EFI_DISABLE_RUNTIME=y
CONFIG_ARCH_R8A779F0=y
CONFIG_DMABUF_HEAPS=y
CONFIG_SCREEN_INFO=y
CONFIG_SERIAL_AMBA_PL010=y
CONFIG_W1_MASTER_MATROX=y
CONFIG_XEN_XENBUS_FRONTEND=y
CONFIG_GPIO_AMD_FCH=y
CONFIG_ARM64_ERRATUM_1463225=y
CONFIG_HID_EMS_FF=y
CONFIG_CLK_RENESAS_DIV6=y
CONFIG_SYSVIPC_SYSCTL=y
