CONFIG_SCSI_MPI3MR=y
CONFIG_KALLSYMS_ALL=y
CONFIG_BACKLIGHT_SAHARA=y
CONFIG_RT2X00_DEBUG=y
CONFIG_CRYPTO_MD4=y
CONFIG_IIO_BUFFER_DMA=y
CONFIG_LV0104CS=y
CONFIG_NET_ACT_SAMPLE=y
CONFIG_XZ_DEC_X86=y
CONFIG_HAVE_KVM_READONLY_MEM=y
CONFIG_AD7173=y
CONFIG_DEVFREQ_THERMAL=y
CONFIG_HX9023S=y
CONFIG_SCSI_FDOMAIN=y
CONFIG_SENSORS_LTC2990=y
CONFIG_SENSORS_LM92=y
CONFIG_MSA311=y
CONFIG_BLK_CGROUP_RWSTAT=y
CONFIG_X86_POWERNOW_K7=y
CONFIG_ISO9660_FS=y
CONFIG_GOOGLE_SMI=y
CONFIG_PINCTRL_AS3722=y
CONFIG_TCG_TIS_SPI=y
CONFIG_ACPI_HOTPLUG_IOAPIC=y
CONFIG_TCM_IBLOCK=y
CONFIG_ARCH_HAS_CACHE_LINE_SIZE=y
CONFIG_BMI323=y
CONFIG_SCSI_AIC94XX=y
CONFIG_ASN1=y
CONFIG_CRYPTO_LIB_SM3=y
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_REGS=y
CONFIG_CLKEVT_I8253=y
CONFIG_UNIX98_PTYS=y
CONFIG_NET_SCH_PLUG=y
CONFIG_WIL6210=y
CONFIG_SIGNED_PE_FILE_VERIFICATION=y
CONFIG_FS_IOMAP=y
CONFIG_NET_ACT_SIMP=y
CONFIG_MFD_MAX8998=y
CONFIG_DEV_COREDUMP=y
CONFIG_RTC_DRV_DS1689=y
CONFIG_OF_DYNAMIC=y
CONFIG_TOUCHSCREEN_CHIPONE_ICN8318=y
CONFIG_X86_DISABLED_FEATURE_LASS=y
CONFIG_XDP_SOCKETS=y
CONFIG_BMI270_I2C=y
CONFIG_HID_CYPRESS=y
CONFIG_SPI_SC18IS602=y
CONFIG_NET=y
CONFIG_MFD_VX855=y
CONFIG_GENERIC_IRQ_MIGRATION=y
CONFIG_AD5380=y
CONFIG_MTD_CFI_AMDSTD=y
CONFIG_GOOGLE_FIRMWARE=y
CONFIG_DEBUG_WW_MUTEX_SLOWPATH=y
CONFIG_GENERIC_ADC_THERMAL=y
CONFIG_VCPU_STALL_DETECTOR=y
CONFIG_SENSORS_K10TEMP=y
CONFIG_DYNAMIC_FTRACE_WITH_REGS=y
CONFIG_HAVE_PCSPKR_PLATFORM=y
CONFIG_MOXTET=y
CONFIG_AK8975=y
CONFIG_HAVE_DMA_CONTIGUOUS=y
CONFIG_ACPI_WATCHDOG=y
CONFIG_SX_COMMON=y
CONFIG_SPI_PCI1XXXX=y
CONFIG_CRYPTO_SHA3=y
CONFIG_CGROUP_CPUACCT=y
CONFIG_NET_CLS_FW=y
CONFIG_SENSORS_TMP513=y
CONFIG_MAX30100=y
CONFIG_MFD_CS47L24=y
CONFIG_NET_VENDOR_CADENCE=y
CONFIG_ADP810=y
CONFIG_NFTL=y
CONFIG_REED_SOLOMON_ENC16=y
CONFIG_PRINTK=y
CONFIG_RTC_INTF_PROC=y
CONFIG_BCH_CONST_PARAMS=y
CONFIG_OVERLAY_FS_METACOPY=y
CONFIG_SCSI_3W_9XXX=y
CONFIG_ANON_VMA_NAME=y
CONFIG_PHYLIB=y
CONFIG_STACK_TRACER=y
CONFIG_CC_NO_STRINGOP_OVERFLOW=y
CONFIG_TOUCHSCREEN_ILI210X=y
CONFIG_MTD_BLOCK=y
CONFIG_DWC_XLGMAC_PCI=y
CONFIG_CHROMEOS_PSTORE=y
CONFIG_MAX31856=y
CONFIG_BMI270=y
CONFIG_EEPROM_M24LR=y
CONFIG_OLPC_EC=y
CONFIG_FPGA_MGR_XILINX_CORE=y
CONFIG_HDLC_PPP=y
CONFIG_COMEDI_C6XDIGIO=y
CONFIG_MAX31827=y
CONFIG_SENSORS_LM70=y
CONFIG_RMNET=y
CONFIG_CRYPTO_AKCIPHER=y
CONFIG_COMEDI_ADV_PCI1710=y
CONFIG_PPP_MPPE=y
CONFIG_ARCH_HIBERNATION_POSSIBLE=y
CONFIG_IR_SERIAL_TRANSMITTER=y
CONFIG_IIO_ST_SENSORS_I2C=y
CONFIG_INPUT_MATRIXKMAP=y
CONFIG_COMEDI_PCL730=y
CONFIG_OF_RESERVED_MEM=y
CONFIG_CRC_T10DIF_ARCH=y
CONFIG_ARCH_SUPPORTS_KMAP_LOCAL_FORCE_MAP=y
CONFIG_CM3605=y
CONFIG_RTC_DRV_CADENCE=y
CONFIG_BTRFS_EXPERIMENTAL=y
CONFIG_EXTCON_MAX3355=y
CONFIG_NET_SCH_NETEM=y
CONFIG_LDM_PARTITION=y
CONFIG_BATTERY_CW2015=y
CONFIG_KVM_GENERIC_DIRTYLOG_READ_PROTECT=y
CONFIG_BACKLIGHT_PANDORA=y
CONFIG_NET_VENDOR_MICREL=y
CONFIG_CHARGER_BQ2515X=y
CONFIG_FPGA_M10_BMC_SEC_UPDATE=y
CONFIG_CAN_ISOTP=y
CONFIG_MCP4728=y
CONFIG_DM_AUDIT=y
CONFIG_BMI160_SPI=y
CONFIG_MFD_RK8XX_I2C=y
CONFIG_TEST_DIV64=y
CONFIG_CC_HAS_AUTO_VAR_INIT_PATTERN=y
CONFIG_NLS_MAC_ROMAN=y
CONFIG_AD5766=y
CONFIG_XILLYBUS=y
CONFIG_TREE_RCU=y
CONFIG_RTL8192C_COMMON=y
CONFIG_HID_TOPRE=y
CONFIG_NLS_CODEPAGE_950=y
CONFIG_GROUP_SCHED_WEIGHT=y
CONFIG_PARTITION_ADVANCED=y
CONFIG_ACPI_IPMI=y
CONFIG_AS_HAS_NON_CONST_ULEB128=y
CONFIG_SENSORS_LM85=y
CONFIG_SCSI_AHA152X=y
CONFIG_XFS_QUOTA=y
CONFIG_INTEL_RAPL_CORE=y
CONFIG_HOTPLUG_CPU=y
CONFIG_JSA1212=y
CONFIG_TPS6594_PFSM=y
CONFIG_SCSI_PMCRAID=y
CONFIG_XZ_DEC_RISCV=y
CONFIG_USER_RETURN_NOTIFIER=y
CONFIG_PSTORE_COMPRESS=y
CONFIG_HID_SENSOR_DEVICE_ROTATION=y
CONFIG_MFD_LOCHNAGAR=y
CONFIG_ROMFS_BACKED_BY_MTD=y
CONFIG_KARMA_PARTITION=y
CONFIG_SENSORS_MCP9982=y
CONFIG_INITRAMFS_PRESERVE_MTIME=y
CONFIG_CRYPTO_CCM=y
CONFIG_CLKBLD_I8253=y
CONFIG_SENSORS_NCT7802=y
CONFIG_JFFS2_COMPRESSION_OPTIONS=y
CONFIG_ALTERA_PR_IP_CORE_PLAT=y
CONFIG_TCG_CRB=y
CONFIG_REGULATOR_FAN53555=y
CONFIG_MOUSE_PS2_SYNAPTICS=y
CONFIG_UIO_CIF=y
CONFIG_ISL29003=y
CONFIG_CPU_IDLE_GOV_LADDER=y
CONFIG_LCD_PLATFORM=y
CONFIG_X86_DISABLED_FEATURE_CALL_DEPTH=y
CONFIG_FHANDLE=y
CONFIG_SENSORS_DME1737=y
CONFIG_PCIE_PTM=y
CONFIG_X86_CPUFREQ_NFORCE2=y
CONFIG_EDAC_IE31200=y
CONFIG_PT_RECLAIM=y
CONFIG_TOUCHSCREEN_HIMAX_HX83112B=y
CONFIG_REGULATOR_ROHM=y
CONFIG_DEBUG_KMEMLEAK=y
CONFIG_REGULATOR_AS3711=y
CONFIG_CC_HAS_NAMED_AS_FIXED_SANITIZERS=y
CONFIG_PCIEASPM_POWER_SUPERSAVE=y
CONFIG_SWPHY=y
CONFIG_SENSORS_ATXP1=y
CONFIG_NET_VENDOR_3COM=y
CONFIG_GOLDFISH_TTY_EARLY_CONSOLE=y
CONFIG_NLS_MAC_TURKISH=y
CONFIG_NET_SCH_INGRESS=y
CONFIG_MITIGATION_TAA=y
CONFIG_RTC_DRV_ABX80X=y
CONFIG_HID_ACRUX=y
CONFIG_HAVE_SOFTIRQ_ON_OWN_STACK=y
CONFIG_COMEDI_CB_PCIDDA=y
CONFIG_LPC_SCH=y
CONFIG_W1_MASTER_MATROX=y
CONFIG_XFS_RT=y
CONFIG_SCHED_MC=y
CONFIG_CGROUP_PIDS=y
CONFIG_RTC_DRV_R7301=y
CONFIG_DM_THIN_PROVISIONING=y
CONFIG_NEED_PER_CPU_EMBED_FIRST_CHUNK=y
CONFIG_CFG80211_CRDA_SUPPORT=y
CONFIG_ATH10K_PCI=y
CONFIG_ARCH_SUPPORTS_ACPI=y
CONFIG_LOCK_MM_AND_FIND_VMA=y
CONFIG_HAVE_ASM_MODVERSIONS=y
CONFIG_SC1200_WDT=y
CONFIG_PWM_XILINX=y
CONFIG_MD_RAID1=y
CONFIG_BLK_CGROUP_IOLATENCY=y
CONFIG_IEEE802154=y
CONFIG_ARCH_WANT_FRAME_POINTERS=y
CONFIG_JFFS2_FS_XATTR=y
CONFIG_RCU_REF_SCALE_TEST=y
CONFIG_DM_MULTIPATH_QL=y
CONFIG_BLK_DEV_FD=y
CONFIG_GENERIC_MSI_IRQ=y
CONFIG_BITREVERSE=y
CONFIG_REGULATOR_PFUZE100=y
CONFIG_MFD_SMPRO=y
CONFIG_CC_HAS_ZERO_CALL_USED_REGS=y
CONFIG_SLAB_FREELIST_RANDOM=y
CONFIG_GENERIC_PHY=y
CONFIG_CICADA_PHY=y
CONFIG_NFC_FDP_I2C=y
CONFIG_IIO_TRIGGER=y
CONFIG_CGROUP_DEBUG=y
CONFIG_EDAC_ATOMIC_SCRUB=y
CONFIG_HID_AUREAL=y
CONFIG_GPIO_BD72720=y
CONFIG_SERIAL_8250_DFL=y
CONFIG_TRACE_IRQFLAGS_SUPPORT=y
CONFIG_KCMP=y
CONFIG_NFC_SHDLC=y
CONFIG_SURFACE_PLATFORMS=y
CONFIG_STACKTRACE=y
CONFIG_ARCH_HAS_PARANOID_L1D_FLUSH=y
CONFIG_AUDIT_GENERIC=y
CONFIG_MAX5432=y
CONFIG_GPIO_PCA953X=y
CONFIG_NSM=y
CONFIG_KALLSYMS=y
CONFIG_X86_AMD_PLATFORM_DEVICE=y
CONFIG_SHRINKER_DEBUG=y
CONFIG_RMI4_F03_SERIO=y
CONFIG_RN5T618_WATCHDOG=y
CONFIG_OF_PROMTREE=y
CONFIG_MFD_SYSCON=y
CONFIG_TWL4030_CORE=y
CONFIG_MAX77541_ADC=y
CONFIG_INTERRUPT_CNT=y
CONFIG_SENSORS_ISL28022=y
CONFIG_NLS_CODEPAGE_869=y
CONFIG_UEVENT_HELPER=y
CONFIG_DM_RAID=y
CONFIG_CPU_FREQ_GOV_USERSPACE=y
CONFIG_DMI_SCAN_MACHINE_NON_EFI_FALLBACK=y
CONFIG_TIMERFD=y
CONFIG_X86_DEBUG_FPU=y
CONFIG_IIO=y
CONFIG_OPTEE_STATIC_PROTMEM_POOL=y
CONFIG_PROC_FS=y
CONFIG_MEGARAID_LEGACY=y
CONFIG_SCSI_ACARD=y
CONFIG_PROVE_RAW_LOCK_NESTING=y
CONFIG_AD5770R=y
CONFIG_LIBERTAS_SDIO=y
CONFIG_NVMEM=y
CONFIG_TI_ADC084S021=y
CONFIG_IFCVF=y
CONFIG_HDLC=y
CONFIG_NLS_CODEPAGE_1250=y
CONFIG_ACPI_PROCESSOR_IDLE=y
CONFIG_ACPI_REV_OVERRIDE_POSSIBLE=y
CONFIG_MPILIB=y
CONFIG_MFD_WM8997=y
CONFIG_NI903X_WDT=y
CONFIG_TTY=y
CONFIG_TEST_FIRMWARE=y
CONFIG_MFD_DA9052_SPI=y
CONFIG_BCM87XX_PHY=y
CONFIG_GAMEPORT=y
CONFIG_NET_CLS_FLOWER=y
CONFIG_HID_GYRATION=y
CONFIG_TCG_TIS_I2C_NUVOTON=y
CONFIG_FPGA_MGR_LATTICE_SYSCONFIG=y
CONFIG_ARCH_HAS_ACPI_TABLE_UPGRADE=y
CONFIG_GPIO_WM8350=y
CONFIG_BACKLIGHT_LV5207LP=y
CONFIG_MTRR=y
CONFIG_FSI_MASTER_I2CR=y
CONFIG_LIBFDT=y
CONFIG_KMAP_LOCAL=y
CONFIG_X86_INTEL_PSTATE=y
CONFIG_THERMAL_NETLINK=y
CONFIG_ZSTD_COMMON=y
CONFIG_MFD_SEC_I2C=y
CONFIG_EXTCON_ADC_JACK=y
CONFIG_MEMCG=y
CONFIG_DECOMPRESS_LZ4=y
CONFIG_DEBUG_VIRTUAL=y
CONFIG_ATH5K_PCI=y
CONFIG_AD3552R_LIB=y
CONFIG_TOUCHSCREEN_STMFTS=y
CONFIG_REGULATOR_MP8859=y
CONFIG_ARCH_HAS_CPU_RELAX=y
CONFIG_DEVFREQ_GOV_POWERSAVE=y
CONFIG_CHROME_PLATFORMS=y
CONFIG_RTC_DRV_RV3028=y
CONFIG_NET_ACT_GATE=y
CONFIG_CHARGER_TWL6030=y
CONFIG_CONTEXT_TRACKING=y
CONFIG_REED_SOLOMON=y
CONFIG_VBOXSF_FS=y
CONFIG_DEVFREQ_GOV_PASSIVE=y
CONFIG_X86_REQUIRED_FEATURE_FPU=y
CONFIG_CXL_PORT=y
CONFIG_ARCH_SUPPORTS_KEXEC_PURGATORY=y
CONFIG_BT_HCIUART_AG6XX=y
CONFIG_VETH=y
CONFIG_SENSORS_ISL29018=y
CONFIG_ARCH_SUPPORTS_ATOMIC_RMW=y
CONFIG_LPC_ICH=y
CONFIG_SENSORS_TSL2563=y
CONFIG_UNWINDER_FRAME_POINTER=y
CONFIG_ARCH_HAS_STRICT_MODULE_RWX=y
CONFIG_MFD_ROHM_BD71828=y
CONFIG_OF_IRQ=y
CONFIG_AD5696_I2C=y
CONFIG_MITIGATION_TSA=y
CONFIG_SX9500=y
CONFIG_I2C_HID=y
CONFIG_FPGA_REGION=y
CONFIG_ACPI_SYSTEM_POWER_STATES_SUPPORT=y
CONFIG_GCC_NO_STRINGOP_OVERFLOW=y
CONFIG_REGULATOR_MC13892=y
CONFIG_BH1745=y
CONFIG_I2C_FSI=y
CONFIG_TCG_TIS_SPI_CR50=y
CONFIG_DM_VERITY=y
CONFIG_EDD=y
CONFIG_FTRACE=y
CONFIG_SQUASHFS_COMPILE_DECOMP_MULTI=y
CONFIG_RTC_DRV_PCF2127=y
CONFIG_FSCACHE=y
CONFIG_RTC_DRV_RS5C348=y
CONFIG_PWM_ATMEL_TCB=y
CONFIG_TASKS_RCU_GENERIC=y
CONFIG_XFS_BTREE_IN_MEM=y
CONFIG_MTD_NAND_CADENCE=y
CONFIG_RELAY=y
CONFIG_TOUCHSCREEN_CY8CTMG110=y
CONFIG_BACKLIGHT_LP855X=y
CONFIG_OF_GPIO=y
CONFIG_PINCTRL_CS47L90=y
CONFIG_LZ4HC_COMPRESS=y
CONFIG_ENS160_SPI=y
CONFIG_IIO_SSP_SENSORHUB=y
CONFIG_GPIO_WATCHDOG=y
CONFIG_PCI_ENDPOINT_CONFIGFS=y
CONFIG_PREEMPT_DYNAMIC=y
CONFIG_NET_VENDOR_EMULEX=y
CONFIG_X86_HAVE_PAE=y
CONFIG_CRC32_ARCH=y
CONFIG_PAGE_COUNTER=y
CONFIG_AD7280=y
CONFIG_RD_BZIP2=y
CONFIG_RMI4_F11=y
CONFIG_AD7746=y
CONFIG_MFD_INTEL_LPSS_PCI=y
CONFIG_IQS620AT_TEMP=y
CONFIG_HID_GFRM=y
CONFIG_SLAB_BUCKETS=y
CONFIG_TEST_DHRY=y
CONFIG_COMEDI_CB_PCIDAS64=y
CONFIG_RMI4_F1A=y
CONFIG_MTRR_SANITIZER=y
CONFIG_ALTERA_FREEZE_BRIDGE=y
CONFIG_MFD_ARIZONA=y
CONFIG_BATTERY_MAX17042=y
CONFIG_GENERIC_BUG=y
CONFIG_ARCH_SUPPORTS_KEXEC_BZIMAGE_VERIFY_SIG=y
CONFIG_GPIO_LP873X=y
CONFIG_LEDS_TRIGGER_HEARTBEAT=y
CONFIG_PHY_PACKAGE=y
CONFIG_RD_XZ=y
CONFIG_HID_SENSOR_HUMIDITY=y
CONFIG_CRYPTO_LIB_SHA3=y
CONFIG_FAILSLAB=y
CONFIG_BMP280=y
CONFIG_TI_ADS124S08=y
CONFIG_FIRMWARE_TABLE=y
CONFIG_FUSE_FS=y
CONFIG_TI_DAC7311=y
CONFIG_MD_BITMAP_FILE=y
CONFIG_BT_HCIUART_H4=y
CONFIG_NFC_S3FWRN5=y
CONFIG_VT_CONSOLE_SLEEP=y
CONFIG_PCH_PHUB=y
CONFIG_REGULATOR_MC13783=y
CONFIG_GPIO_MB86S7X=y
CONFIG_X86_PKG_TEMP_THERMAL=y
CONFIG_MTD_L440GX=y
CONFIG_REGULATOR_VCTRL=y
CONFIG_WLCORE_SDIO=y
CONFIG_ARCH_USE_BUILTIN_BSWAP=y
CONFIG_NOA1305=y
CONFIG_CPU_SUP_CENTAUR=y
CONFIG_HAVE_ARCH_RANDOMIZE_KSTACK_OFFSET=y
CONFIG_PROC_PAGE_MONITOR=y
CONFIG_I2C_VIAPRO=y
CONFIG_ARCH_HAS_PTE_SPECIAL=y
CONFIG_DEBUG_BUGVERBOSE_DETAILED=y
CONFIG_BPF=y
CONFIG_CRYPTO_USER_API_HASH=y
CONFIG_HID_MULTITOUCH=y
CONFIG_SENSORS_F71805F=y
CONFIG_SOFTLOCKUP_DETECTOR=y
CONFIG_INPUT_SPARSEKMAP=y
CONFIG_BACKLIGHT_CGBC=y
CONFIG_HID_MAYFLASH=y
CONFIG_LOCK_EVENT_COUNTS=y
CONFIG_ACPI_DOCK=y
CONFIG_AX88796B_PHY=y
CONFIG_HAVE_HW_BREAKPOINT=y
CONFIG_MOUSE_PS2_BYD=y
CONFIG_WLCORE=y
CONFIG_ARCH_WANTS_NO_INSTR=y
CONFIG_ABP2030PA_I2C=y
CONFIG_FIREWIRE_SBP2=y
CONFIG_I2C_CHT_WC=y
CONFIG_SOC_BUS=y
CONFIG_GENERIC_PHY_MIPI_DPHY=y
CONFIG_BNGE=y
CONFIG_DEBUG_OBJECTS_SELFTEST=y
CONFIG_AD5272=y
CONFIG_DMA_DECLARE_COHERENT=y
CONFIG_SENSORS_I5500=y
CONFIG_CONTIG_ALLOC=y
CONFIG_REGULATOR_RT6190=y
CONFIG_CONTEXT_TRACKING_IDLE=y
CONFIG_TIME_NS=y
CONFIG_ACPI_EC=y
CONFIG_REGULATOR_MAX8649=y
CONFIG_MARVELL_88X2222_PHY=y
CONFIG_NLS_MAC_ICELAND=y
CONFIG_HAVE_FUNCTION_GRAPH_TRACER=y
CONFIG_ARCH_WANT_LD_ORPHAN_WARN=y
CONFIG_HID_ITE=y
CONFIG_SI1145=y
CONFIG_NET_ACT_IFE=y
CONFIG_POWER_RESET_RESTART=y
CONFIG_STMPE_ADC=y
CONFIG_COMMON_CLK_SI521XX=y
CONFIG_HID_GEMBIRD=y
CONFIG_COMEDI_PCL724=y
CONFIG_RTC_DRV_MAX31335=y
CONFIG_DA9063_WATCHDOG=y
CONFIG_CAN_RAW=y
CONFIG_I2C_HID_OF_ELAN=y
CONFIG_HID_RAZER=y
CONFIG_PCI_HOST_GENERIC=y
CONFIG_TRACE_BRANCH_PROFILING=y
CONFIG_IRQ_DOMAIN=y
CONFIG_CMA_DEBUGFS=y
CONFIG_GPIO_DA9052=y
CONFIG_SERIAL_IPOCTAL=y
CONFIG_OPEN_DICE=y
CONFIG_AD7625=y
CONFIG_ARCH_HAS_EARLY_DEBUG=y
CONFIG_CRYPTO_LRW=y
CONFIG_RTW88_SDIO=y
CONFIG_WLAN_VENDOR_RALINK=y
CONFIG_PM=y
CONFIG_MFD_MAX8997=y
CONFIG_SQUASHFS_LZ4=y
CONFIG_X86_DEBUGCTLMSR=y
CONFIG_EEPROM_EE1004=y
CONFIG_RTC_DRV_RX8025=y
CONFIG_RTL8180=y
CONFIG_THREAD_INFO_IN_TASK=y
CONFIG_ACPI_PCI_SLOT=y
CONFIG_LCD_ILI922X=y
CONFIG_SPI_CADENCE_QUADSPI=y
CONFIG_KXSD9_I2C=y
CONFIG_REED_SOLOMON_ENC8=y
CONFIG_ASYNC_PQ=y
CONFIG_XFS_ONLINE_REPAIR=y
CONFIG_STE10XP=y
CONFIG_PPS_GENERATOR=y
CONFIG_MFD_SM501_GPIO=y
CONFIG_VGA_CONSOLE=y
CONFIG_RMI4_CORE=y
CONFIG_DEBUG_INFO_COMPRESSED_ZSTD=y
CONFIG_TOUCHSCREEN_DYNAPRO=y
CONFIG_CC_HAS_SANE_FUNCTION_ALIGNMENT=y
CONFIG_X86_DISABLED_FEATURE_OSPKE=y
CONFIG_CUSE=y
CONFIG_W1_SLAVE_DS2431=y
CONFIG_SMSC37B787_WDT=y
