CONFIG_WLAN_VENDOR_ADMTEK=n
CONFIG_RTC_DRV_BRCMSTB=n
CONFIG_SND_SOC_SOF_IPC3=n
CONFIG_PINCTRL_RENESAS=n
CONFIG_CRYPTO_SHA512=n
CONFIG_ARM_TEGRA186_CPUFREQ=n
CONFIG_PWM_MTK_DISP=n
CONFIG_PINCTRL_MT8186=n
CONFIG_MFD_BD9571MWV=n
CONFIG_NVIDIA_CARMEL_CNP_ERRATUM=n
CONFIG_BACKLIGHT_CLASS_DEVICE=n
CONFIG_EC_LENOVO_THINKPAD_T14S=n
CONFIG_DRM_PANEL_HIMAX_HX83112B=n
CONFIG_QCOM_Q6V5_MSS=n
CONFIG_CLK_OWL_S500=n
CONFIG_IPQ_CMN_PLL=n
CONFIG_VIDEO_OV5640=n
CONFIG_SND_SOC_RK3308=n
CONFIG_HNS3_HCLGE=n
CONFIG_REALTEK_PHY=n
CONFIG_XEN_AUTO_XLATE=n
CONFIG_SND_SOC_SC7280=n
CONFIG_EXT4_FS_SECURITY=n
CONFIG_HNS_MDIO=n
CONFIG_LOCKD=n
CONFIG_ARM64_ERRATUM_858921=n
CONFIG_REBOOT_MODE=n
CONFIG_PINCTRL_SM8350=n
CONFIG_HOTPLUG_CORE_SYNC_DEAD=n
CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE=n
CONFIG_SND_SOC_APQ8016_SBC=n
CONFIG_PCIEASPM_DEFAULT=n
CONFIG_CROS_EC_SENSORHUB=n
CONFIG_USB_TEGRA_XUDC=n
CONFIG_OF_FPGA_REGION=n
CONFIG_RESET_ZYNQMP=n
CONFIG_SH_TIMER_TMU=n
CONFIG_VIDEOMODE_HELPERS=n
CONFIG_LEDS_PWM=n
CONFIG_MMC_SDHCI_OF_ESDHC=n
CONFIG_SND_SOC_TEGRA186_DSPK=n
CONFIG_CLK_LS1028A_PLLDIG=n
CONFIG_SND_MESON_AXG_SOUND_CARD=n
CONFIG_COMMON_CLK_MT8192_MFGCFG=n
CONFIG_HAVE_PWRCTRL=n
CONFIG_SERIAL_QCOM_GENI_CONSOLE=n
CONFIG_TI_SYSCON_CLK=n
CONFIG_DNS_RESOLVER=n
CONFIG_SCSI_SAS_ATTRS=n
CONFIG_PSTORE=n
CONFIG_GPIO_MAX77759=n
CONFIG_PWM_STM32=n
CONFIG_PINCTRL_PFC_R8A77980=n
CONFIG_XPS=n
CONFIG_CLK_SOPHGO_CV1800=n
CONFIG_MFD_TI_AM335X_TSCADC=n
CONFIG_IMX_SCMI_CPU_DRV=n
CONFIG_POWER_SEQUENCING_QCOM_WCN=n
CONFIG_RTC_DRV_RV3028=n
CONFIG_MOUSE_PS2_CYPRESS=n
CONFIG_PWM_RENESAS_RCAR=n
CONFIG_NET_NS=n
CONFIG_CRYPTO_XTS=n
CONFIG_ACPI_FAN=n
CONFIG_PINCTRL_MESON_S4=n
CONFIG_IOMMU_IOVA=n
CONFIG_DRM_MXSFB=n
CONFIG_HAVE_REGS_AND_STACK_ACCESS_API=n
CONFIG_USB_NET_PLUSB=n
CONFIG_GPIO_GENERIC_PLATFORM=n
CONFIG_HAVE_ARCH_KASAN_SW_TAGS=n
CONFIG_WLAN_VENDOR_SILABS=n
CONFIG_ARM64_ERRATUM_1418040=n
CONFIG_COMMON_CLK_MT7622=n
CONFIG_SND_SOC_RK817=n
CONFIG_QRTR_MHI=n
CONFIG_CRC_CCITT=n
CONFIG_HISILICON_LPC=n
CONFIG_CLK_RCAR_GEN3_CPG=n
CONFIG_COMMON_CLK=n
CONFIG_INPUT_AW86927=n
CONFIG_USB_CHIPIDEA=n
CONFIG_FIRMWARE_TABLE=n
CONFIG_PINCTRL_MESON8_PMX=n
CONFIG_GPIO_ZYNQMP_MODEPIN=n
CONFIG_MEMORY=n
CONFIG_REGULATOR_QCOM_USB_VBUS=n
CONFIG_PINCTRL_SM8250_LPASS_LPI=n
CONFIG_QCOM_HFPLL=n
CONFIG_HAVE_PREEMPT_DYNAMIC_KEY=n
CONFIG_PAGE_COUNTER=n
CONFIG_ARM_SCMI_HAVE_TRANSPORT=n
CONFIG_GENERIC_GETTIMEOFDAY=n
CONFIG_RD_XZ=n
CONFIG_SYSTEM_TRUSTED_KEYRING=n
CONFIG_RFKILL=n
CONFIG_VIRTIO_NET=n
CONFIG_EFI_GENERIC_STUB=n
CONFIG_IWLWIFI=n
CONFIG_PRINTK_TIME=n
CONFIG_VIDEO_SYNOPSYS_HDMIRX_LOAD_DEFAULT_EDID=n
CONFIG_DRM_PANEL_NOVATEK_NT37801=n
CONFIG_PINCTRL_PFC_R8A77990=n
CONFIG_DMA_OPS_HELPERS=n
CONFIG_SND_SOC_TAS571X=n
CONFIG_PINCTRL_IMX8DXL=n
CONFIG_ARM64_MTE=n
CONFIG_QCOM_FALKOR_ERRATUM_1009=n
CONFIG_ROCKCHIP_LVDS=n
CONFIG_NET_DSA_MSCC_FELIX_DSA_LIB=n
CONFIG_SC_GPUCC_8280XP=n
CONFIG_IP_NF_IPTABLES=n
CONFIG_COMMON_CLK_MT8173=n
CONFIG_INTERCONNECT_QCOM_QCM2290=n
CONFIG_CC_HAS_BRANCH_PROT_PAC_RET=n
CONFIG_MMC_BLOCK=n
CONFIG_USB_CDNS3_IMX=n
CONFIG_RTC_DRV_PCF8563=n
CONFIG_MOUSE_ELAN_I2C_I2C=n
CONFIG_EC_LENOVO_YOGA_C630=n
CONFIG_CGROUP_FREEZER=n
CONFIG_RCU_STALL_COMMON=n
CONFIG_BCM7120_L2_IRQ=n
CONFIG_KEYBOARD_ADC=n
CONFIG_THERMAL_DEFAULT_GOV_STEP_WISE=n
CONFIG_USB_F_RNDIS=n
CONFIG_QCOM_TSENS=n
CONFIG_CRYPTO_AKCIPHER2=n
CONFIG_COMMON_CLK_MT6795=n
CONFIG_SND_MESON_AIU=n
CONFIG_GCC10_NO_ARRAY_BOUNDS=n
CONFIG_IMX_MU_MSI=n
CONFIG_REGULATOR_MAX20411=n
CONFIG_SND_SOC_WM8994=n
CONFIG_SND_SOC_SDCA_OPTIONAL=n
CONFIG_DM_ZERO=n
CONFIG_PWC_RZV2M=n
CONFIG_HAVE_CMPXCHG_LOCAL=n
CONFIG_MSM_MMCC_8998=n
CONFIG_IIO_CROS_EC_LIGHT_PROX=n
CONFIG_SYSVIPC=n
CONFIG_HWSPINLOCK_OMAP=n
CONFIG_VGA_ARB=n
CONFIG_IPQ_GCC_8074=n
CONFIG_USB_MUSB_SUNXI=n
CONFIG_PCI_LABEL=n
CONFIG_DRM_EXYNOS7_DECON=n
CONFIG_NVME_APPLE=n
CONFIG_PINCTRL_SM6125=n
CONFIG_USB_XHCI_MTK=n
CONFIG_ROCKCHIP_DW_DP=n
CONFIG_COMMON_CLK_APPLE_NCO=n
CONFIG_SPI_BCM2835AUX=n
CONFIG_SNI_NETSEC=n
CONFIG_PTP_1588_CLOCK_VMCLOCK=n
CONFIG_XEN_PRIVCMD=n
CONFIG_MFD_SEC_CORE=n
CONFIG_SYSC_R8A779H0=n
CONFIG_SPI_SUN6I=n
CONFIG_SQUASHFS_COMPILE_DECOMP_SINGLE=n
CONFIG_SA_VIDEOCC_8775P=n
CONFIG_ARCH_BINFMT_ELF_STATE=n
CONFIG_IPV6_SIT=n
CONFIG_HAVE_KPROBES=n
CONFIG_QCOM_RPMH=n
CONFIG_FSNOTIFY=n
CONFIG_CROS_EC_LIGHTBAR=n
CONFIG_INTERCONNECT_QCOM_MSM8916=n
CONFIG_SUNXI_SRAM=n
CONFIG_IP_PNP_BOOTP=n
CONFIG_SCHED_MC=n
CONFIG_ARCH_SELECTS_KEXEC_FILE=n
CONFIG_HAVE_ARCH_HUGE_VMALLOC=n
CONFIG_MSM_GCC_8998=n
CONFIG_RESET_MESON_COMMON=n
CONFIG_ASN1=n
CONFIG_HAVE_KVM_READONLY_MEM=n
CONFIG_SERIAL_8250_EM=n
CONFIG_EFI_RUNTIME_WRAPPERS=n
CONFIG_COMMON_CLK_HI3516CV300=n
CONFIG_SPI_DYNAMIC=n
CONFIG_ARCH_SUPPORTS_SCHED_CLUSTER=n
CONFIG_APPLE_SART=n
CONFIG_ARCH_HAS_FORTIFY_SOURCE=n
CONFIG_BINARY_PRINTF=n
CONFIG_CLK_RK3588=n
CONFIG_SMSC911X=n
CONFIG_MESON_GXL_PHY=n
CONFIG_NVMEM_SUNXI_SID=n
CONFIG_CLK_OWL_S700=n
CONFIG_STACKPROTECTOR_PER_TASK=n
CONFIG_SATA_AHCI_PLATFORM=n
CONFIG_QCOM_RPMHPD=n
CONFIG_VIRT_XFER_TO_GUEST_WORK=n
CONFIG_RZG3E_THERMAL=n
CONFIG_DRM_NOUVEAU_BACKLIGHT=n
CONFIG_ARM64_ERRATUM_1165522=n
CONFIG_AS_HAS_SME=n
CONFIG_SND_SOC_QDSP6_APM_DAI=n
CONFIG_MV_XOR_V2=n
CONFIG_COMMON_CLK_MT8195_CAMSYS=n
CONFIG_RC_MAP=n
CONFIG_SND_SOC_CROS_EC_CODEC=n
CONFIG_QCOM_GENI_SE=n
CONFIG_PINCTRL_RZV2M=n
CONFIG_MSM_MMCC_8994=n
CONFIG_USB_RTL8153_ECM=n
CONFIG_PINCTRL_S700=n
CONFIG_PCI_PWRCTRL_PWRSEQ=n
CONFIG_CRC32_ARCH=n
CONFIG_CRC64=n
CONFIG_MODULE_UNLOAD=n
CONFIG_SM_GPUCC_8550=n
CONFIG_SND_SOC_WSA884X=n
CONFIG_QCOM_QSEECOM_UEFISECAPP=n
CONFIG_RZG2L_ADC=n
CONFIG_I2C_RIIC=n
CONFIG_ARM64_ERRATUM_2077057=n
CONFIG_CRYPTO_LIB_AES_CBC_MACS=n
CONFIG_ARM_DSU_PMU=n
CONFIG_DMA_NONCOHERENT_MMAP=n
CONFIG_RTC_DRV_RV8803=n
CONFIG_USB_CHIPIDEA_HOST=n
CONFIG_MFD_SIMPLE_MFD_I2C=n
CONFIG_QCOM_EMAC=n
CONFIG_VIDEO_IMX7_CSI=n
CONFIG_POSIX_MQUEUE_SYSCTL=n
CONFIG_QCOMTEE=n
CONFIG_SND_SOC_ROCKCHIP_SPDIF=n
CONFIG_COMMON_CLK_MESON_CLKC_UTILS=n
CONFIG_DRM_MESON=n
CONFIG_QUEUED_SPINLOCKS=n
CONFIG_I2C_DESIGNWARE_PLATFORM=n
CONFIG_SC_CAMCC_8280XP=n
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_ARGS=n
CONFIG_PHY_PACKAGE=n
CONFIG_OF_IRQ=n
CONFIG_RTC_DRV_BQ32K=n
CONFIG_CC_HAS_COUNTED_BY=n
CONFIG_SM_GPUCC_8150=n
CONFIG_SND_SOC_ES8328_I2C=n
CONFIG_SND_SOC_QCOM_OFFLOAD_UTILS=n
CONFIG_RTC_DRV_NVIDIA_VRS10=n
CONFIG_PINCTRL_SINGLE=n
CONFIG_WLAN_VENDOR_MARVELL=n
CONFIG_WLAN_VENDOR_INTEL=n
CONFIG_TEE_BNXT_FW=n
CONFIG_SCSI_UFS_BSG=n
CONFIG_COMMON_CLK_MT8183_IPU_ADL=n
CONFIG_HAVE_ARCH_KASAN=n
CONFIG_MTD_CFI_ADV_OPTIONS=n
CONFIG_PCI_LAYERSCAPE=n
CONFIG_GUEST_PERF_EVENTS=n
CONFIG_I2C_CADENCE=n
CONFIG_FUTEX=n
CONFIG_REGULATOR_TPS65132=n
CONFIG_MFD_HI6421_PMIC=n
CONFIG_XLNX_EVENT_MANAGER=n
CONFIG_COMMON_CLK_MT8196_VENCSYS=n
CONFIG_USB_EHCI_BRCMSTB=n
CONFIG_QCOM_CLK_APCC_MSM8996=n
CONFIG_REGULATOR_MT6315=n
CONFIG_HARDIRQS_SW_RESEND=n
CONFIG_PINCTRL_TEGRA238=n
CONFIG_SDM_GPUCC_845=n
CONFIG_XEN_DOM0=n
CONFIG_ARCH_SUPPORTS_HUGETLBFS=n
CONFIG_SYS_R9A09G057=n
CONFIG_HAVE_ARCH_JUMP_LABEL=n
CONFIG_SC_GCC_7180=n
CONFIG_COMMON_CLK_MT8183_AUDIOSYS=n
CONFIG_ACPI_APEI=n
CONFIG_PCI_DOMAINS=n
CONFIG_ROCKCHIP_PHY=n
CONFIG_PHY_ROCKCHIP_PCIE=n
CONFIG_SENSORS_AMC6821=n
CONFIG_ARCH_DEFAULT_KEXEC_IMAGE_VERIFY_SIG=n
CONFIG_ARCH_SYNQUACER=n
CONFIG_NAMESPACES=n
CONFIG_CRYPTO_AES=n
CONFIG_COMPAT_32BIT_TIME=n
CONFIG_PCI_PWRCTRL=n
CONFIG_PINCTRL_IPQ5424=n
CONFIG_ARCH_HAS_NONLEAF_PMD_YOUNG=n
CONFIG_PHY_QCOM_QMP=n
CONFIG_THERMAL=n
CONFIG_FSL_DPAA=n
CONFIG_GOOGLE_FIRMWARE=n
CONFIG_BCMGENET=n
CONFIG_PAHOLE_HAS_LANG_EXCLUDE=n
CONFIG_IIO_STM32_TIMER_TRIGGER=n
CONFIG_COMMON_CLK_MT8192_MSDC=n
CONFIG_SND_SOC_MAX98357A=n
CONFIG_STACKTRACE_SUPPORT=n
CONFIG_ELFCORE=n
CONFIG_SND_SOC_GTM601=n
CONFIG_RESET_QCOM_PDC=n
CONFIG_SERIAL_MSM=n
CONFIG_NUMA_MIGRATION=n
CONFIG_USB_CDNSP_PCI=n
