CONFIG_BLK_DEV_IO_TRACE=n
CONFIG_CRYPTO_AES=n
CONFIG_NET_PTP_CLASSIFY=n
CONFIG_RTC_DRV_CMOS=n
CONFIG_GENERIC_IRQ_RESERVATION_MODE=n
CONFIG_DRM_PANEL=n
CONFIG_CPU_SUP_INTEL=n
CONFIG_VMCORE_INFO=n
CONFIG_X86_REQUIRED_FEATURE_FPU=n
CONFIG_HAVE_ARCH_HUGE_VMALLOC=n
CONFIG_HPET_TIMER=n
CONFIG_SUSPEND=n
CONFIG_DECOMPRESS_LZ4=n
CONFIG_MODULE_UNLOAD=n
CONFIG_IP_PNP=n
CONFIG_FONT_AUTOSELECT=n
CONFIG_SND_HDA_COMPONENT=n
CONFIG_DEFAULT_CUBIC=n
CONFIG_X86_DISABLED_FEATURE_LAM=n
CONFIG_ATA_VERBOSE_ERROR=n
CONFIG_COMPAT_32=n
CONFIG_HAVE_FTRACE_REGS_HAVING_PT_REGS=n
CONFIG_DMA_SHARED_BUFFER=n
CONFIG_PCIEASPM_DEFAULT=n
CONFIG_IP6_NF_MATCH_IPV6HEADER=n
CONFIG_CC_HAS_NAMED_AS=n
CONFIG_LZO_COMPRESS=n
CONFIG_NETFILTER_NETLINK=n
CONFIG_ARCH_ENABLE_SPLIT_PMD_PTLOCK=n
CONFIG_IOMMU_PT_AMDV1=n
CONFIG_CC_HAS_MIN_FUNCTION_ALIGNMENT=n
CONFIG_NF_CONNTRACK_IRC=n
CONFIG_HAVE_RSEQ=n
CONFIG_PACKET=n
CONFIG_SERIAL_EARLYCON=n
CONFIG_VIRTIO_PCI=n
CONFIG_TRACEPOINTS=n
CONFIG_HAVE_PAGE_SIZE_4KB=n
CONFIG_RUSTC_HAS_UNNECESSARY_TRANSMUTES=n
CONFIG_ARCH_HAS_HW_PTE_YOUNG=n
CONFIG_PATA_OLDPIIX=n
CONFIG_HAVE_KCSAN_COMPILER=n
CONFIG_MACINTOSH_DRIVERS=n
CONFIG_IRQ_MSI_LIB=n
CONFIG_ATA_ACPI=n
CONFIG_GENERIC_CMOS_UPDATE=n
CONFIG_KEXEC=n
CONFIG_ARCH_SUPPORTS_DEBUG_PAGEALLOC=n
CONFIG_GCC_PLUGINS=n
CONFIG_VIRTUALIZATION=n
CONFIG_EXT4_FS_POSIX_ACL=n
CONFIG_INTEL_MEI=n
CONFIG_NET_VENDOR_EMULEX=n
CONFIG_GRO_CELLS=n
CONFIG_UTS_NS=n
CONFIG_9P_FS=n
CONFIG_POSIX_CPU_TIMERS_TASK_WORK=n
CONFIG_RCU_STALL_COMMON=n
CONFIG_X86_VERBOSE_BOOTUP=n
CONFIG_ACPI_REV_OVERRIDE_POSSIBLE=n
CONFIG_DEBUG_FS=n
CONFIG_CHR_DEV_SG=n
CONFIG_SND_DMA_SGBUF=n
CONFIG_BLK_DEV=n
CONFIG_SLUB=n
CONFIG_HAS_SECURITY_AUDIT=n
CONFIG_NET_VENDOR_RENESAS=n
CONFIG_TCP_MD5SIG=n
CONFIG_ARCH_HAS_PTDUMP=n
CONFIG_I2C=n
CONFIG_NFS_DISABLE_UDP_SUPPORT=n
CONFIG_X86_CMOV=n
CONFIG_I2C_HELPER_AUTO=n
CONFIG_HIGH_RES_TIMERS=n
CONFIG_ARCH_SUPPORTS_MSEAL_SYSTEM_MAPPINGS=n
CONFIG_CRYPTO_KRB5ENC=n
CONFIG_NET_VENDOR_HISILICON=n
CONFIG_ARCH_DMA_ADDR_T_64BIT=n
CONFIG_ARCH_SUSPEND_POSSIBLE=n
CONFIG_PCMCIA_LOAD_CIS=n
CONFIG_BLK_CGROUP=n
CONFIG_FS_POSIX_ACL=n
CONFIG_USB_XHCI_HCD=n
CONFIG_EARLY_PRINTK=n
CONFIG_ARCH_WANT_IRQS_OFF_ACTIVATE_MM=n
CONFIG_CFG80211_REQUIRE_SIGNED_REGDB=n
CONFIG_NET_VENDOR_SYNOPSYS=n
CONFIG_ARCH_HAS_KERNEL_FPU_SUPPORT=n
CONFIG_COMPAT=n
CONFIG_STANDALONE=n
CONFIG_GPIOLIB_LEGACY=n
CONFIG_USB_UHCI_HCD=n
CONFIG_MICROCODE=n
CONFIG_XZ_DEC_ARMTHUMB=n
CONFIG_TIMERFD=n
CONFIG_DRM_DISPLAY_HDMI_HELPER=n
CONFIG_X86_DISABLED_FEATURE_SGX=n
CONFIG_MMU_NOTIFIER=n
CONFIG_TREE_SRCU=n
CONFIG_YENTA_TOSHIBA=n
CONFIG_BACKLIGHT_CLASS_DEVICE=n
CONFIG_SERIAL_CORE_CONSOLE=n
CONFIG_HAVE_KPROBES_ON_FTRACE=n
CONFIG_MITIGATION_SRSO=n
CONFIG_HAVE_DYNAMIC_FTRACE=n
CONFIG_ASYMMETRIC_KEY_TYPE=n
CONFIG_ARCH_SUPPORTS_KEXEC_BZIMAGE_VERIFY_SIG=n
CONFIG_SND_DRIVERS=n
CONFIG_NF_NAT_MASQUERADE=n
CONFIG_NET_VENDOR_CAVIUM=n
CONFIG_TTY=n
CONFIG_X86_REQUIRED_FEATURE_XMM2=n
CONFIG_SND_HDA_I915=n
CONFIG_THERMAL_NETLINK=n
CONFIG_NET_VENDOR_NVIDIA=n
CONFIG_RFS_ACCEL=n
CONFIG_PTP_1588_CLOCK_OPTIONAL=n
CONFIG_CLZ_TAB=n
CONFIG_GENERIC_BITREVERSE=n
CONFIG_ARCH_USES_PG_ARCH_2=n
CONFIG_HAVE_PERF_EVENTS_NMI=n
CONFIG_HOTPLUG_PCI=n
CONFIG_INTEL_IOMMU=n
CONFIG_FW_LOADER=n
CONFIG_SND_X86=n
CONFIG_TRACE_IRQFLAGS_SUPPORT=n
CONFIG_EEEPC_LAPTOP=n
CONFIG_INPUT=n
CONFIG_X86_DISABLED_FEATURE_K6_MTRR=n
CONFIG_HAVE_ARCH_MMAP_RND_BITS=n
CONFIG_ARCH_HAS_DEBUG_VM_PGTABLE=n
CONFIG_FUNCTION_ALIGNMENT_4B=n
CONFIG_HAVE_NMI=n
CONFIG_SERIAL_8250_DMA=n
CONFIG_CRYPTO_CBC=n
CONFIG_EVENT_TRACING=n
CONFIG_ACPI_MADT_WAKEUP=n
CONFIG_DNS_RESOLVER=n
CONFIG_IP_PIMSM_V1=n
CONFIG_TASKS_TRACE_RCU=n
CONFIG_ARCH_MIGHT_HAVE_ACPI_PDC=n
CONFIG_CONTEXT_SWITCH_TRACER=n
CONFIG_WLAN=n
CONFIG_ETHERNET=n
CONFIG_SND_JACK=n
CONFIG_ARCH_WANTS_THP_SWAP=n
CONFIG_MOUSE_PS2_SYNAPTICS=n
CONFIG_VIRTIO_PCI_LEGACY=n
CONFIG_HAVE_KERNEL_ZSTD=n
CONFIG_SECURITY_NETWORK=n
CONFIG_NETFILTER_XT_TARGET_NFLOG=n
CONFIG_ARCH_SUPPORTS_LTO_CLANG=n
CONFIG_MITIGATION_SRBDS=n
CONFIG_X509_CERTIFICATE_PARSER=n
CONFIG_LEGACY_TIOCSTI=n
CONFIG_HAVE_KLP_BUILD=n
CONFIG_EFI_STUB=n
CONFIG_MITIGATION_SPECTRE_V1=n
CONFIG_PATA_AMD=n
CONFIG_INSTRUCTION_DECODER=n
CONFIG_AUXILIARY_BUS=n
CONFIG_MD=n
CONFIG_RELAY=n
CONFIG_NET_HANDSHAKE=n
CONFIG_RTC_INTF_DEV=n
CONFIG_INPUT_JOYSTICK=n
CONFIG_KPROBE_EVENTS=n
CONFIG_PROC_PID_ARCH_STATUS=n
CONFIG_BLK_CGROUP_IOCOST=n
CONFIG_NET_CLS_CGROUP=n
CONFIG_NF_NAT_FTP=n
CONFIG_HAVE_SETUP_PER_CPU_AREA=n
CONFIG_NFS_ACL_SUPPORT=n
CONFIG_PPS=n
CONFIG_NET_FAILOVER=n
CONFIG_PERF_EVENTS_INTEL_CSTATE=n
CONFIG_BINFMT_SCRIPT=n
CONFIG_PCI_QUIRKS=n
CONFIG_NET_VENDOR_RDC=n
CONFIG_SCSI_CONSTANTS=n
CONFIG_LD_CAN_USE_KEEP_IN_OVERLAY=n
CONFIG_ARCH_SUPPORTS_SCHED_CLUSTER=n
CONFIG_BSD_PROCESS_ACCT=n
CONFIG_PCI_DIRECT=n
CONFIG_WLAN_VENDOR_BROADCOM=n
CONFIG_BQL=n
CONFIG_FIX_EARLYCON_MEM=n
CONFIG_PAGE_SIZE_LESS_THAN_64KB=n
CONFIG_HARDLOCKUP_CHECK_TIMESTAMP=n
CONFIG_COMPAT_BINFMT_ELF=n
CONFIG_ACPI_NUMA=n
CONFIG_CPU_MITIGATIONS=n
CONFIG_NETFILTER_XT_TARGET_SECMARK=n
CONFIG_ARCH_HAS_PTE_SPECIAL=n
CONFIG_INTEL_TCC=n
CONFIG_NETFILTER_XT_MATCH_ADDRTYPE=n
CONFIG_NET_VENDOR_NATSEMI=n
CONFIG_MMU_GATHER_TABLE_FREE=n
CONFIG_DRM_VIRTIO_GPU=n
CONFIG_X86_THERMAL_VECTOR=n
CONFIG_DRM_BRIDGE=n
CONFIG_NET_9P_VIRTIO=n
CONFIG_HAVE_RUST=n
CONFIG_NVRAM=n
CONFIG_HID_PANTHERLORD=n
CONFIG_ACPI_FAN=n
CONFIG_BLOCK=n
CONFIG_LTO_NONE=n
CONFIG_RD_XZ=n
CONFIG_TMPFS=n
CONFIG_LEGACY_VSYSCALL_XONLY=n
CONFIG_CRC_OPTIMIZATIONS=n
CONFIG_X86_ACPI_CPUFREQ_CPB=n
CONFIG_HAVE_IOREMAP_PROT=n
CONFIG_MOUSE_PS2=n
CONFIG_ARCH_SUPPORTS_KEXEC_PURGATORY=n
CONFIG_IOMMU_MM_DATA=n
CONFIG_XZ_DEC_X86=n
CONFIG_PCIEASPM=n
CONFIG_LEDS_TRIGGERS=n
CONFIG_X86_DISABLED_FEATURE_VME=n
CONFIG_IRQ_FORCED_THREADING=n
CONFIG_CRYPTO_LIB_SHA1_ARCH=n
CONFIG_BLK_RQ_ALLOC_TIME=n
CONFIG_DMA_ENGINE=n
CONFIG_NET_CORE=n
CONFIG_SYSCTL_EXCEPTION_TRACE=n
CONFIG_ARCH_HAS_PREEMPT_LAZY=n
CONFIG_HAVE_ARCH_KFENCE=n
CONFIG_CLKEVT_I8253=n
CONFIG_IRQ_DOMAIN_HIERARCHY=n
CONFIG_SMP=n
CONFIG_HUGETLB_PAGE=n
CONFIG_ARCH_HAS_STRICT_MODULE_RWX=n
CONFIG_ARCH_USE_CMPXCHG_LOCKREF=n
CONFIG_NUMA_MEMBLKS=n
CONFIG_ACPI_CONTAINER=n
CONFIG_HAVE_UNWIND_USER_FP=n
CONFIG_INPUT_EVDEV=n
CONFIG_SERIAL_8250_MID=n
CONFIG_MAC_EMUMOUSEBTN=n
CONFIG_RD_GZIP=n
CONFIG_SERIAL_8250_PERICOM=n
CONFIG_NFS_COMMON=n
CONFIG_CC_HAS_ASM_INLINE=n
CONFIG_JUMP_LABEL=n
CONFIG_RD_LZMA=n
CONFIG_EXECMEM=n
CONFIG_NO_HZ_COMMON=n
CONFIG_USB_HID=n
CONFIG_KERNFS=n
CONFIG_ARCH_WANT_GENERAL_HUGETLB=n
CONFIG_ARCH_SUPPORTS_PAGE_TABLE_CHECK=n
CONFIG_CONTEXT_TRACKING_IDLE=n
CONFIG_NF_NAT=n
CONFIG_ARCH_HAS_EXECMEM_ROX=n
CONFIG_CRYPTO_MANAGER2=n
CONFIG_SUSPEND_FREEZER=n
CONFIG_SPARSE_IRQ=n
CONFIG_DMA_NEED_SYNC=n
CONFIG_NLS_ISO8859_1=n
CONFIG_NOINSTR_VALIDATION=n
CONFIG_USB_ANNOUNCE_NEW_DEVICES=n
CONFIG_X86_KERNEL_IBT=n
CONFIG_ARCH_HIBERNATION_HEADER=n
CONFIG_YENTA_RICOH=n
CONFIG_HAVE_DYNAMIC_FTRACE_NO_PATCHABLE=n
CONFIG_DM_ZERO=n
CONFIG_ACPI_CPPC_LIB=n
CONFIG_MITIGATION_IBPB_ENTRY=n
CONFIG_GENERIC_TRACER=n
CONFIG_USB_PCI=n
CONFIG_CRYPTO_SIG2=n
CONFIG_CRYPTO_KRB5=n
CONFIG_HAVE_VIRT_CPU_ACCOUNTING_GEN=n
CONFIG_WLAN_VENDOR_SILABS=n
CONFIG_PAGE_COUNTER=n
CONFIG_NET_VENDOR_SAMSUNG=n
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_REGS=n
CONFIG_CRYPTO_AUTHENC=n
CONFIG_MITIGATION_L1TF=n
CONFIG_CRASH_DUMP=n
CONFIG_KPROBES=n
CONFIG_CC_HAS_INT128=n
CONFIG_MITIGATION_PAGE_TABLE_ISOLATION=n
CONFIG_SERIO=n
CONFIG_STACKPROTECTOR_STRONG=n
CONFIG_RANDOMIZE_BASE=n
CONFIG_CGROUP_DEVICE=n
CONFIG_KERNEL_GZIP=n
CONFIG_ATA_SFF=n
CONFIG_UNWIND_USER=n
CONFIG_HWMON=n
CONFIG_X86_INTEL_TSX_MODE_AUTO=n
CONFIG_GENERIC_PENDING_IRQ=n
CONFIG_DRM_I915_COMPRESS_ERROR=n
CONFIG_ARCH_SUPPORTS_MEMORY_FAILURE=n
CONFIG_NF_REJECT_IPV4=n
CONFIG_HAVE_ACPI_APEI=n
CONFIG_MAGIC_SYSRQ=n
