CONFIG_VIRTIO_INPUT=n
CONFIG_SERIAL_8250_DMA=n
CONFIG_IP_PNP_DHCP=n
CONFIG_LOCALVERSION_AUTO=n
CONFIG_NF_NAT_IRC=n
CONFIG_VIRTIO_PCI_LIB=n
CONFIG_PT_RECLAIM=n
CONFIG_HVC_DRIVER=n
CONFIG_DRM_TTM=n
CONFIG_CRYPTO_GCM=n
CONFIG_TASKSTATS=n
CONFIG_PAGE_SIZE_4KB=n
CONFIG_CRYPTO_SIG2=n
CONFIG_INPUT_JOYSTICK=n
CONFIG_SYSTEM_DATA_VERIFICATION=n
CONFIG_CGROUP_FREEZER=n
CONFIG_NET_PTP_CLASSIFY=n
CONFIG_MITIGATION_SPECTRE_V2=n
CONFIG_XXHASH=n
CONFIG_BQL=n
CONFIG_RPS=n
CONFIG_NET_VENDOR_XIRCOM=n
CONFIG_RCU_NEED_SEGCBLIST=n
CONFIG_HAVE_MOVE_PMD=n
CONFIG_PADATA=n
CONFIG_XZ_DEC=n
CONFIG_X86_ACPI_CPUFREQ=n
CONFIG_TMPFS_XATTR=n
CONFIG_NET_VENDOR_REALTEK=n
CONFIG_NET_VENDOR_MICROSEMI=n
CONFIG_INOTIFY_USER=n
CONFIG_UID16=n
CONFIG_XZ_DEC_ARM64=n
CONFIG_XFRM_ESP=n
CONFIG_BLK_CGROUP_IOLATENCY=n
CONFIG_ARCH_HAVE_EXTRA_ELF_NOTES=n
CONFIG_PM_SLEEP_SMP=n
CONFIG_CGROUP_SCHED=n
CONFIG_CRYPTO_CTR=n
CONFIG_GENERIC_IRQ_MIGRATION=n
CONFIG_RCU_TRACE=n
CONFIG_ATA_VERBOSE_ERROR=n
CONFIG_FUTEX=n
CONFIG_UNINLINE_SPIN_UNLOCK=n
CONFIG_NETLABEL=n
CONFIG_SGETMASK_SYSCALL=n
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_DIRECT_CALLS=n
CONFIG_BLK_DEBUG_FS=n
CONFIG_MMU_GATHER_RCU_TABLE_FREE=n
CONFIG_CRYPTO_AKCIPHER=n
CONFIG_EDAC_ATOMIC_SCRUB=n
CONFIG_CC_HAS_MULTIDIMENSIONAL_NONSTRING=n
CONFIG_SPARSEMEM_STATIC=n
CONFIG_RANDOMIZE_KSTACK_OFFSET=n
CONFIG_HID_PETALYNX=n
CONFIG_ARCH_HAS_ACPI_TABLE_UPGRADE=n
CONFIG_LZO_DECOMPRESS=n
CONFIG_CRYPTO_ALGAPI=n
CONFIG_TRACEFS_AUTOMOUNT_DEPRECATED=n
CONFIG_NF_LOG_ARP=n
CONFIG_EPOLL=n
CONFIG_CGROUP_DEVICE=n
CONFIG_CPU_SUP_HYGON=n
CONFIG_NET_IP_TUNNEL=n
CONFIG_HAVE_STACKPROTECTOR=n
CONFIG_INSTRUCTION_DECODER=n
CONFIG_PM_TRACE_RTC=n
CONFIG_HID_PANTHERLORD=n
CONFIG_USB_SUPPORT=n
CONFIG_SND_HDA=n
CONFIG_ARCH_MHP_MEMMAP_ON_MEMORY_ENABLE=n
CONFIG_CLONE_BACKWARDS=n
CONFIG_X86_MPPARSE=n
CONFIG_DECOMPRESS_LZO=n
CONFIG_MOUSE_PS2_CYPRESS=n
CONFIG_SCSI_SPI_ATTRS=n
CONFIG_NET_VENDOR_ARC=n
CONFIG_WLAN_VENDOR_INTERSIL=n
CONFIG_X86_DISABLED_FEATURE_PCID=n
CONFIG_MOUSE_PS2_LIFEBOOK=n
CONFIG_POSIX_TIMERS=n
CONFIG_HAVE_STATIC_CALL=n
CONFIG_PCI_MSI=n
CONFIG_SND_HDA_I915=n
CONFIG_STANDALONE=n
CONFIG_NF_CONNTRACK_SECMARK=n
CONFIG_VIRTIO=n
CONFIG_DEFAULT_CUBIC=n
CONFIG_HUGETLB_PAGE=n
CONFIG_DECOMPRESS_LZ4=n
CONFIG_SERIAL_8250_PCI=n
CONFIG_X86_MCE=n
CONFIG_VIRTIO_BLK=n
CONFIG_HAVE_DMA_CONTIGUOUS=n
CONFIG_SCSI_VIRTIO=n
CONFIG_CLKBLD_I8253=n
CONFIG_VGA_CONSOLE=n
CONFIG_USB_EHCI_HCD=n
CONFIG_FUTEX_ROBUST_UNLOCK=n
CONFIG_NET_SCHED=n
CONFIG_ATA_GENERIC=n
CONFIG_CRYPTO_CBC=n
CONFIG_RANDOMIZE_BASE=n
CONFIG_NET_VENDOR_STMICRO=n
CONFIG_TREE_RCU=n
CONFIG_MSDOS_PARTITION=n
CONFIG_DRM_I915_USERPTR=n
CONFIG_CRYPTO_LIB_UTILS=n
CONFIG_ACPI_EC=n
CONFIG_ATA_FORCE=n
CONFIG_X86_HV_CALLBACK_VECTOR=n
CONFIG_ADVISE_SYSCALLS=n
CONFIG_THERMAL_HWMON=n
CONFIG_BUFFER_HEAD=n
CONFIG_PREVENT_FIRMWARE_BUILD=n
CONFIG_NET_VENDOR_3COM=n
CONFIG_I3C_OR_I2C=n
CONFIG_YENTA_TOSHIBA=n
CONFIG_HIBERNATION_SNAPSHOT_DEV=n
CONFIG_FUTEX_PI=n
CONFIG_VMSPLIT_3G=n
CONFIG_FIRMWARE_MEMMAP=n
CONFIG_ARCH_SUPPORTS_SCHED_MC=n
CONFIG_MPILIB=n
CONFIG_SERIAL_8250_DETECT_IRQ=n
CONFIG_SMP=n
CONFIG_ARCH_WANTS_DYNAMIC_TASK_STRUCT=n
CONFIG_KALLSYMS=n
CONFIG_EFI=n
CONFIG_MITIGATION_SPECTRE_V1=n
CONFIG_PM_DEBUG=n
CONFIG_USB_OHCI_LITTLE_ENDIAN=n
CONFIG_SECURITY_SELINUX_AVC_STATS=n
CONFIG_IOSF_MBI=n
CONFIG_NET_VENDOR_HUAWEI=n
CONFIG_NETFILTER_XT_TARGET_CONNSECMARK=n
CONFIG_FILE_LOCKING=n
CONFIG_E1000E=n
CONFIG_SYSCTL_EXCEPTION_TRACE=n
CONFIG_GENERIC_CMOS_UPDATE=n
CONFIG_PHYLIB=n
CONFIG_ARCH_STACKWALK=n
CONFIG_NETFILTER_XT_TARGET_SECMARK=n
CONFIG_MOUSE_PS2_SMBUS=n
CONFIG_X86_IOPL_IOPERM=n
CONFIG_SND_VMASTER=n
CONFIG_DRM_PANEL=n
CONFIG_INTERVAL_TREE=n
CONFIG_NET_VENDOR_BROADCOM=n
CONFIG_ARCH_HAS_PARANOID_L1D_FLUSH=n
CONFIG_X86_DISABLED_FEATURE_IBT=n
CONFIG_PCI_LOCKLESS_CONFIG=n
CONFIG_HID_SUNPLUS=n
CONFIG_EFI_EARLYCON=n
CONFIG_NET_VENDOR_MELLANOX=n
CONFIG_MACINTOSH_DRIVERS=n
CONFIG_RELOCATABLE=n
CONFIG_CC_HAS_COUNTED_BY_PTR=n
CONFIG_GROUP_SCHED_WEIGHT=n
CONFIG_GENERIC_PENDING_IRQ=n
CONFIG_THERMAL_NETLINK=n
CONFIG_XZ_DEC_POWERPC=n
CONFIG_SECURITY_SELINUX_BOOTPARAM=n
CONFIG_IP6_NF_MATCH_IPV6HEADER=n
CONFIG_SHMEM=n
CONFIG_DEFAULT_SECURITY_SELINUX=n
CONFIG_ARCH_HAS_HW_PTE_YOUNG=n
CONFIG_ARCH_SUPPORTS_MEMORY_FAILURE=n
CONFIG_CPU_SUP_INTEL=n
CONFIG_CPU_FREQ_DEFAULT_GOV_USERSPACE=n
CONFIG_DRM_CLIENT_SELECTION=n
CONFIG_DYNAMIC_SIGFRAME=n
CONFIG_SND_CTL_FAST_LOOKUP=n
CONFIG_HW_RANDOM_VIA=n
CONFIG_PCCARD=n
CONFIG_MEMBARRIER=n
CONFIG_GENERIC_CPU_DEVICES=n
CONFIG_SECURITY_SELINUX=n
CONFIG_WLAN_VENDOR_ATH=n
CONFIG_DM_ZERO=n
CONFIG_HID_GENERIC=n
CONFIG_WIRELESS=n
CONFIG_INPUT_KEYBOARD=n
CONFIG_NET_VENDOR_CAVIUM=n
CONFIG_SND_JACK_INPUT_DEV=n
CONFIG_ASYMMETRIC_KEY_TYPE=n
CONFIG_HDMI=n
CONFIG_YENTA_O2=n
CONFIG_X86_CPUID=n
CONFIG_X86_TSC=n
CONFIG_MAC80211_HAS_RC=n
CONFIG_X86_DISABLED_FEATURE_FRED=n
CONFIG_HID_TOPSEED=n
CONFIG_I2C_HID=n
CONFIG_INPUT_VIVALDIFMAP=n
CONFIG_SCSI_PROC_FS=n
CONFIG_CC_HAS_NAMED_AS_FIXED_SANITIZERS=n
CONFIG_GENERIC_VDSO_OVERFLOW_PROTECT=n
CONFIG_TOOLS_SUPPORT_RELR=n
CONFIG_IOMMU_API=n
CONFIG_QUEUED_RWLOCKS=n
CONFIG_PANTHERLORD_FF=n
CONFIG_RD_ZSTD=n
CONFIG_RD_GZIP=n
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO_BARE=n
CONFIG_ELF_CORE=n
CONFIG_ARCH_HAS_DEBUG_VM_PGTABLE=n
CONFIG_ARCH_HAS_NMI_SAFE_THIS_CPU_OPS=n
CONFIG_SERIAL_8250_PCILIB=n
CONFIG_IPV6_SIT=n
CONFIG_CRYPTO_LIB_AES_ARCH=n
CONFIG_PCMCIA_LOAD_CIS=n
CONFIG_EFI_HANDOVER_PROTOCOL=n
CONFIG_X86_CHECK_BIOS_CORRUPTION=n
CONFIG_FIRMWARE_TABLE=n
CONFIG_GENERIC_MSI_IRQ=n
CONFIG_INPUT_EVDEV=n
CONFIG_X86_DISABLED_FEATURE_SGX=n
CONFIG_FRAME_POINTER=n
CONFIG_USE_X86_SEG_SUPPORT=n
CONFIG_INITRAMFS_PRESERVE_MTIME=n
CONFIG_E1000E_HWTS=n
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO=n
CONFIG_LEDS_CLASS=n
CONFIG_ACPI_DEBUG=n
CONFIG_NETFILTER_XT_TARGET_NFLOG=n
CONFIG_NVRAM=n
CONFIG_COREDUMP=n
CONFIG_SND_INTEL_NHLT=n
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST=n
CONFIG_HW_RANDOM=n
CONFIG_LD_CAN_USE_KEEP_IN_OVERLAY=n
CONFIG_HIGH_RES_TIMERS=n
CONFIG_NF_NAT=n
CONFIG_ASN1=n
CONFIG_NO_HZ_IDLE=n
CONFIG_VHOST_ENABLE_FORK_OWNER_CONTROL=n
CONFIG_DRM_DISPLAY_DP_HELPER=n
CONFIG_QUOTA_TREE=n
CONFIG_PNPACPI=n
CONFIG_MAGIC_SYSRQ_SERIAL=n
CONFIG_GENERIC_BUG_RELATIVE_POINTERS=n
CONFIG_NET_VENDOR_FUNGIBLE=n
CONFIG_CRYPTO_AUTHENC=n
CONFIG_MAC_EMUMOUSEBTN=n
CONFIG_NET_VENDOR_MUCSE=n
CONFIG_EFI_DXE_MEM_ATTRIBUTES=n
CONFIG_IOMMU_DEFAULT_DMA_LAZY=n
CONFIG_UNIX=n
CONFIG_TASK_DELAY_ACCT=n
CONFIG_HAVE_MMIOTRACE_SUPPORT=n
CONFIG_SND_PCM=n
CONFIG_BINFMT_ELF=n
CONFIG_DUMMY_CONSOLE=n
CONFIG_SND_PROC_FS=n
CONFIG_HAVE_HW_BREAKPOINT=n
CONFIG_NET_VENDOR_TI=n
CONFIG_PNFS_BLOCK=n
CONFIG_DMA_SHARED_BUFFER=n
CONFIG_AS_IS_GNU=n
CONFIG_CFG80211_REQUIRE_SIGNED_REGDB=n
CONFIG_UTS_NS=n
CONFIG_NO_HZ=n
CONFIG_MODULES=n
CONFIG_NLS_UTF8=n
CONFIG_HAVE_ARCH_WITHIN_STACK_FRAMES=n
CONFIG_TRACING_SUPPORT=n
CONFIG_E100=n
CONFIG_NET_VENDOR_CORTINA=n
CONFIG_SCHED_MC=n
CONFIG_NETFILTER_XTABLES=n
CONFIG_TASK_XACCT=n
CONFIG_CPU_SUP_ZHAOXIN=n
CONFIG_BLK_DEV_DM_BUILTIN=n
CONFIG_NETFILTER_XT_TARGET_MASQUERADE=n
CONFIG_POSIX_MQUEUE_SYSCTL=n
CONFIG_EARLY_PRINTK_DBGP=n
CONFIG_POSIX_CPU_TIMERS_TASK_WORK=n
CONFIG_MULTIUSER=n
CONFIG_HAVE_GENERIC_VDSO=n
CONFIG_CRYPTO_SHA256=n
CONFIG_DEVPORT=n
CONFIG_MOUSE_PS2_FOCALTECH=n
CONFIG_CC_HAS_NAMED_AS=n
CONFIG_SERIAL_CORE_CONSOLE=n
CONFIG_BCMA_POSSIBLE=n
CONFIG_DRM_DISPLAY_HELPER=n
CONFIG_GRACE_PERIOD=n
CONFIG_ARCH_WANT_BATCHED_UNMAP_TLB_FLUSH=n
CONFIG_ARCH_USE_BUILTIN_BSWAP=n
CONFIG_NETFILTER_XT_MATCH_POLICY=n
CONFIG_IPV6_NDISC_NODETYPE=n
CONFIG_9P_FS=n
CONFIG_SYMBOLIC_ERRNAME=n
CONFIG_RUNTIME_TESTING_MENU=n
CONFIG_MITIGATION_SRBDS=n
CONFIG_X86_DISABLED_FEATURE_SEV_SNP=n
CONFIG_STACKPROTECTOR=n
CONFIG_QUEUED_SPINLOCKS=n
CONFIG_DMIID=n
