CONFIG_NET_IP_TUNNEL=n
CONFIG_PCSPKR_PLATFORM=n
CONFIG_RTC_LIB=n
CONFIG_ARCH_WANT_HUGE_PMD_SHARE=n
CONFIG_X86_MCE_INTEL=n
CONFIG_RTC_INTF_SYSFS=n
CONFIG_KERNFS=n
CONFIG_LOCKD=n
CONFIG_VIRTIO_BLK=n
CONFIG_NET_XGRESS=n
CONFIG_VIRTIO_PCI=n
CONFIG_HAVE_ARCH_SECCOMP_FILTER=n
CONFIG_ARCH_SUPPORTS_KEXEC_BZIMAGE_VERIFY_SIG=n
CONFIG_CRYPTO_CTS=n
CONFIG_CC_NO_STRINGOP_OVERFLOW=n
CONFIG_FS_IOMAP=n
CONFIG_CPUFREQ_ARCH_CUR_FREQ=n
CONFIG_ARCH_SUPPORTS_RT=n
CONFIG_SYSTEM_TRUSTED_KEYRING=n
CONFIG_DMI_SCAN_MACHINE_NON_EFI_FALLBACK=n
CONFIG_CPU_FREQ_GOV_PERFORMANCE=n
CONFIG_NET_VENDOR_WANGXUN=n
CONFIG_HAVE_DYNAMIC_FTRACE_NO_PATCHABLE=n
CONFIG_WLAN_VENDOR_INTERSIL=n
CONFIG_IO_WQ=n
CONFIG_STRICT_KERNEL_RWX=n
CONFIG_IP_PNP=n
CONFIG_HAVE_EXIT_THREAD=n
CONFIG_X86_MSR=n
CONFIG_ACPI_NUMA=n
CONFIG_ARCH_MIGHT_HAVE_PC_SERIO=n
CONFIG_JBD2=n
CONFIG_EFI_PARTITION=n
CONFIG_X86_CX8=n
CONFIG_BITREVERSE=n
CONFIG_MOUSE_PS2_CYPRESS=n
CONFIG_CC_NO_ARRAY_BOUNDS=n
CONFIG_NET_VENDOR_PENSANDO=n
CONFIG_NFS_ACL_SUPPORT=n
CONFIG_HAVE_STACK_VALIDATION=n
CONFIG_USB_DEFAULT_PERSIST=n
CONFIG_X86_DISABLED_FEATURE_SGX=n
CONFIG_NET_VENDOR_XILINX=n
CONFIG_HAVE_FUNCTION_ARG_ACCESS_API=n
CONFIG_LZ4_DECOMPRESS=n
CONFIG_GENERIC_CMOS_UPDATE=n
CONFIG_MAC_EMUMOUSEBTN=n
CONFIG_SECURITY_SELINUX=n
CONFIG_ARCH_ENABLE_SPLIT_PMD_PTLOCK=n
CONFIG_NET_VENDOR_DEC=n
CONFIG_WLAN_VENDOR_BROADCOM=n
CONFIG_LZO_COMPRESS=n
CONFIG_ARCH_SUSPEND_POSSIBLE=n
CONFIG_HAVE_RSEQ=n
CONFIG_SCHEDSTATS=n
CONFIG_CPU_IDLE_GOV_HALTPOLL=n
CONFIG_DW_DMAC_CORE=n
CONFIG_NET_VENDOR_OKI=n
CONFIG_RD_XZ=n
CONFIG_FUTEX_MPOL=n
CONFIG_ARCH_SUPPORTS_DEBUG_PAGEALLOC=n
CONFIG_EARLY_PRINTK_USB=n
CONFIG_HID_GENERIC=n
CONFIG_PAGE_COUNTER=n
CONFIG_DMADEVICES=n
CONFIG_COMPAT_32=n
CONFIG_DM_ZERO=n
CONFIG_PCI_LOCKLESS_CONFIG=n
CONFIG_NETPOLL=n
CONFIG_NOINSTR_VALIDATION=n
CONFIG_HIBERNATE_CALLBACKS=n
CONFIG_SPARSEMEM_VMEMMAP_ENABLE=n
CONFIG_MOUSE_PS2_BYD=n
CONFIG_RELAY=n
CONFIG_INSTRUCTION_DECODER=n
CONFIG_EDAC_SUPPORT=n
CONFIG_NET_VENDOR_ATHEROS=n
CONFIG_PPS=n
CONFIG_HAVE_KERNEL_XZ=n
CONFIG_ARCH_HAS_PMEM_API=n
CONFIG_HUGETLB_PAGE_OPTIMIZE_VMEMMAP=n
CONFIG_HAVE_ARCH_HUGE_VMALLOC=n
CONFIG_MD_BITMAP_FILE=n
CONFIG_IRQ_REMAP=n
CONFIG_HAVE_UID16=n
CONFIG_CGROUP_MISC=n
CONFIG_INTEL_TCC=n
CONFIG_NET_VENDOR_INTEL=n
CONFIG_HAVE_ARCH_JUMP_LABEL=n
CONFIG_GENERIC_PENDING_IRQ=n
CONFIG_IP_PIMSM_V2=n
CONFIG_PROFILING=n
CONFIG_IP_NF_IPTABLES=n
CONFIG_SCHED_MC=n
CONFIG_HAVE_ARCH_KGDB=n
CONFIG_CC_HAS_KASAN_SW_TAGS=n
CONFIG_DEBUG_INFO_NONE=n
CONFIG_HAVE_ARCH_VMAP_STACK=n
CONFIG_HAVE_ARCH_KMSAN=n
CONFIG_RD_GZIP=n
CONFIG_CPU_SUP_INTEL=n
CONFIG_HARDIRQS_SW_RESEND=n
CONFIG_KVFREE_RCU_BATCHED=n
CONFIG_MITIGATION_SSB=n
CONFIG_CRYPTO_HW=n
CONFIG_GENERIC_MSI_IRQ=n
CONFIG_BSD_PROCESS_ACCT=n
CONFIG_STACKTRACE_SUPPORT=n
CONFIG_SCHED_OMIT_FRAME_POINTER=n
CONFIG_PCMCIA=n
CONFIG_PANTHERLORD_FF=n
CONFIG_IOMMU_PT_AMDV1=n
CONFIG_MITIGATION_SRSO=n
CONFIG_SECCOMP=n
CONFIG_ARCH_WANTS_NO_INSTR=n
CONFIG_ACPI=n
CONFIG_SERIO_LIBPS2=n
CONFIG_DEVTMPFS=n
CONFIG_CPU_FREQ_GOV_USERSPACE=n
CONFIG_BRANCH_PROFILE_NONE=n
CONFIG_SERIO=n
CONFIG_ARCH_HAS_ELF_RANDOMIZE=n
CONFIG_X86=n
CONFIG_PAGE_SIZE_LESS_THAN_256KB=n
CONFIG_PROC_EVENTS=n
CONFIG_HAVE_PERF_USER_STACK_DUMP=n
CONFIG_PTDUMP=n
CONFIG_USB_HIDDEV=n
CONFIG_RTC_CLASS=n
CONFIG_ATA_VERBOSE_ERROR=n
CONFIG_ZONE_DMA=n
CONFIG_CRYPTO_MANAGER=n
CONFIG_HAS_DMA=n
CONFIG_ACPI_REV_OVERRIDE_POSSIBLE=n
CONFIG_HAVE_STACKPROTECTOR=n
CONFIG_NET_POLL_CONTROLLER=n
CONFIG_HIBERNATION_COMP_LZO=n
CONFIG_PAGE_SIZE_LESS_THAN_64KB=n
CONFIG_ETHTOOL_NETLINK=n
CONFIG_PREEMPT_COUNT=n
CONFIG_FWNODE_MDIO=n
CONFIG_DRM_DISPLAY_DP_HELPER=n
CONFIG_ACPI_LEGACY_TABLES_LOOKUP=n
CONFIG_HAVE_HARDLOCKUP_DETECTOR_BUDDY=n
CONFIG_HAVE_UNWIND_USER_FP=n
CONFIG_KALLSYMS_ALL=n
CONFIG_NET_VENDOR_TI=n
CONFIG_NET_9P_VIRTIO=n
CONFIG_LOCKDEP_SUPPORT=n
CONFIG_ARCH_SUPPORTS_KEXEC_PURGATORY=n
CONFIG_MACINTOSH_DRIVERS=n
CONFIG_AUTOFS_FS=n
CONFIG_NET_VENDOR_QLOGIC=n
CONFIG_PROVIDE_OHCI1394_DMA_INIT=n
CONFIG_FUTEX_PI=n
CONFIG_IOMMU_SVA=n
CONFIG_ARCH_SUPPORTS_KEXEC_SIG_FORCE=n
CONFIG_HAVE_BUILDTIME_MCOUNT_SORT=n
CONFIG_HAVE_PCSPKR_PLATFORM=n
CONFIG_MODULES_USE_ELF_RELA=n
CONFIG_SND_USB=n
CONFIG_WLAN=n
CONFIG_NF_CONNTRACK_IRC=n
CONFIG_GENERIC_GETTIMEOFDAY=n
CONFIG_CRYPTO_HASH=n
CONFIG_DMA_VIRTUAL_CHANNELS=n
CONFIG_ARCH_MAY_HAVE_PC_FDC=n
CONFIG_HAVE_PV_STEAL_CLOCK_GEN=n
CONFIG_ACPI_HOTPLUG_CPU=n
CONFIG_NET_VENDOR_FUNGIBLE=n
CONFIG_MAC80211_HAS_RC=n
CONFIG_X86_VMX_FEATURE_NAMES=n
CONFIG_LOCKD_V4=n
CONFIG_MEMBARRIER=n
CONFIG_CRC_CCITT=n
CONFIG_NUMA_MIGRATION=n
CONFIG_PCI_PRI=n
CONFIG_HIBERNATION=n
CONFIG_HAVE_MIXED_BREAKPOINTS_REGS=n
CONFIG_ARCH_PROC_KCORE_TEXT=n
CONFIG_ACPI_NHLT=n
CONFIG_DMI=n
CONFIG_PTP_1588_CLOCK_OPTIONAL=n
CONFIG_STACKDEPOT=n
CONFIG_HAVE_PERF_EVENTS_NMI=n
CONFIG_BLK_DEV_SR=n
CONFIG_BLK_DEV_WRITE_MOUNTED=n
CONFIG_RPCSEC_GSS_KRB5=n
CONFIG_NF_CONNTRACK_FTP=n
CONFIG_VIRTIO_CONSOLE=n
CONFIG_ARCH_HAS_STRICT_KERNEL_RWX=n
CONFIG_SECURITY_SELINUX_DEVELOP=n
CONFIG_OID_REGISTRY=n
CONFIG_ARCH_HAS_ELFCORE_COMPAT=n
CONFIG_ISO9660_FS=n
CONFIG_SERIAL_8250_CONSOLE=n
CONFIG_THERMAL_DEFAULT_GOV_STEP_WISE=n
CONFIG_PROBE_EVENTS=n
CONFIG_PARAVIRT=n
CONFIG_ARCH_WANT_COMPAT_IPC_PARSE_VERSION=n
CONFIG_NET_VENDOR_ARC=n
CONFIG_SYNC_FILE=n
CONFIG_RTC_INTF_DEV=n
CONFIG_PADATA=n
CONFIG_VMAP_PFN=n
CONFIG_SPARSEMEM=n
CONFIG_SND_HDA_I915=n
CONFIG_GENERIC_CLOCKEVENTS=n
CONFIG_USB_PRINTER=n
CONFIG_CC_HAS_COUNTED_BY=n
CONFIG_FTRACE=n
CONFIG_TRACING_SUPPORT=n
CONFIG_BLK_DEV_SD=n
CONFIG_DEBUG_FS_ALLOW_ALL=n
CONFIG_ETHERNET=n
CONFIG_EXT4_FS_SECURITY=n
CONFIG_ACPI_PRMT=n
CONFIG_CRYPTO_LZO=n
CONFIG_RFKILL=n
CONFIG_SCSI_PROC_FS=n
CONFIG_BINFMT_MISC=n
CONFIG_CONSOLE_TRANSLATIONS=n
CONFIG_LEGACY_TIOCSTI=n
CONFIG_HAVE_ARCH_PREL32_RELOCATIONS=n
CONFIG_VFAT_FS=n
CONFIG_ACPI_PROCESSOR=n
CONFIG_CC_HAS_ASM_GOTO_TIED_OUTPUT=n
CONFIG_ATA_SFF=n
CONFIG_PATA_AMD=n
CONFIG_NET_SELFTESTS=n
CONFIG_GENERIC_SMP_IDLE_THREAD=n
CONFIG_BUG=n
CONFIG_SYSVIPC_COMPAT=n
CONFIG_HAVE_RETHOOK=n
CONFIG_DRM=n
CONFIG_CC_HAS_KASAN_GENERIC=n
CONFIG_TIGON3_HWMON=n
CONFIG_SERIAL_CORE=n
CONFIG_HPET=n
CONFIG_HAVE_OPTPROBES=n
CONFIG_PRINTK_TIME=n
CONFIG_DEBUG_MISC=n
CONFIG_CORE_DUMP_DEFAULT_ELF_HEADERS=n
CONFIG_IOMMU_PT=n
CONFIG_HRTIMER_REARM_DEFERRED=n
CONFIG_HAVE_PREEMPT_DYNAMIC_CALL=n
CONFIG_ARCH_HAS_DEBUG_VIRTUAL=n
CONFIG_RSEQ=n
CONFIG_IPV6_SIT=n
CONFIG_HAVE_NOINSTR_HACK=n
CONFIG_CRYPTO_AKCIPHER2=n
CONFIG_X509_CERTIFICATE_PARSER=n
CONFIG_GENERIC_IRQ_MATRIX_ALLOCATOR=n
CONFIG_IP_ROUTE_MULTIPATH=n
CONFIG_WLAN_VENDOR_REALTEK=n
CONFIG_ZLIB_DEFLATE=n
CONFIG_X86_DISABLED_FEATURE_CYRIX_ARR=n
CONFIG_HUGETLBFS=n
CONFIG_DEBUG_MEMORY_INIT=n
CONFIG_ACPI_CPPC_LIB=n
CONFIG_NET_DEVMEM=n
CONFIG_X86_BOOTPARAM_MEMORY_CORRUPTION_CHECK=n
CONFIG_GENERIC_CALIBRATE_DELAY=n
CONFIG_IP_MROUTE_COMMON=n
CONFIG_THERMAL=n
CONFIG_CGROUP_CPUACCT=n
CONFIG_MITIGATION_UNRET_ENTRY=n
CONFIG_MD_AUTODETECT=n
CONFIG_X86_64_ACPI_NUMA=n
CONFIG_PCI_PASID=n
CONFIG_CC_HAS_ASM_GOTO_OUTPUT=n
CONFIG_POSIX_TIMERS=n
CONFIG_TICK_CPU_ACCOUNTING=n
CONFIG_HAVE_FUNCTION_TRACER=n
CONFIG_X86_VSYSCALL_EMULATION=n
CONFIG_NET_EGRESS=n
CONFIG_INPUT_TABLET=n
CONFIG_LDISC_AUTOLOAD=n
CONFIG_NET_VENDOR_REALTEK=n
CONFIG_VMAP_STACK=n
CONFIG_CLZ_TAB=n
CONFIG_ASYNC_KERNEL_PGTABLE_FREE=n
CONFIG_CRYPTO_SHA256=n
CONFIG_NET_VENDOR_META=n
CONFIG_MODIFY_LDT_SYSCALL=n
CONFIG_ARCH_SUPPORTS_KEXEC_JUMP=n
CONFIG_PATA_SCH=n
CONFIG_INTEGRITY_AUDIT=n
CONFIG_PREEMPT_LAZY=n
CONFIG_GENERIC_SYSCALL=n
CONFIG_HAVE_EBPF_JIT=n
CONFIG_HAVE_GIGANTIC_FOLIOS=n
CONFIG_PREVENT_FIRMWARE_BUILD=n
CONFIG_CC_HAS_AUTO_VAR_INIT_PATTERN=n
CONFIG_HVC_DRIVER=n
CONFIG_SND_SEQ_DEVICE=n
CONFIG_CARDBUS=n
CONFIG_X86_DISABLED_FEATURE_K6_MTRR=n
CONFIG_RELOCATABLE=n
CONFIG_CRYPTO_AKCIPHER=n
