CONFIG_SERIAL_CORE_CONSOLE=n
CONFIG_IRQ_MSI_LIB=n
CONFIG_ZONE_DMA=n
CONFIG_CC_HAS_NAMED_AS=n
CONFIG_X86_DEBUG_FPU=n
CONFIG_ARCH_HAS_CPU_PASID=n
CONFIG_CPU_SUP_ZHAOXIN=n
CONFIG_NETFILTER_NETLINK=n
CONFIG_BLK_DEV_BSG_COMMON=n
CONFIG_HID_PETALYNX=n
CONFIG_SLAB_MERGE_DEFAULT=n
CONFIG_SYSVIPC=n
CONFIG_SERIAL_8250_MANY_PORTS=n
CONFIG_NET_9P_VIRTIO=n
CONFIG_INPUT_EVDEV=n
CONFIG_PCI_MSI=n
CONFIG_IP_PNP=n
CONFIG_HAVE_GUP_FAST=n
CONFIG_ISA_DMA_API=n
CONFIG_HAS_IOPORT_MAP=n
CONFIG_ARCH_WANT_OPTIMIZE_DAX_VMEMMAP=n
CONFIG_HAVE_PERF_EVENTS_NMI=n
CONFIG_SECURITY_SELINUX_BOOTPARAM=n
CONFIG_VM_EVENT_COUNTERS=n
CONFIG_PM_TRACE=n
CONFIG_HAS_SECURITY_AUDIT=n
CONFIG_TASK_XACCT=n
CONFIG_TMPFS_XATTR=n
CONFIG_HAVE_C_RECORDMCOUNT=n
CONFIG_HAVE_INTEL_TXT=n
CONFIG_PCI_LABEL=n
CONFIG_PREEMPT_LAZY=n
CONFIG_NF_CONNTRACK_FTP=n
CONFIG_HAVE_PAGE_SIZE_4KB=n
CONFIG_LD_IS_BFD=n
CONFIG_NET_VENDOR_CISCO=n
CONFIG_GENERIC_CLOCKEVENTS_MIN_ADJUST=n
CONFIG_SND_DRIVERS=n
CONFIG_IP6_NF_MATCH_IPV6HEADER=n
CONFIG_HAVE_OBJTOOL_MCOUNT=n
CONFIG_POSIX_MQUEUE=n
CONFIG_NF_CT_NETLINK=n
CONFIG_HAVE_SYSCALL_TRACEPOINTS=n
CONFIG_CRYPTO_SIG=n
CONFIG_PCIEASPM_DEFAULT=n
CONFIG_HAVE_CALL_THUNKS=n
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_DIRECT_CALLS=n
CONFIG_MPILIB=n
CONFIG_SND_SEQ_DEVICE=n
CONFIG_BLK_DEV_DM=n
CONFIG_INTEL_TCC=n
CONFIG_FIX_EARLYCON_MEM=n
CONFIG_INPUT_SPARSEKMAP=n
CONFIG_X86_DISABLED_FEATURE_K6_MTRR=n
CONFIG_TRACING=n
CONFIG_SCREEN_INFO=n
CONFIG_DEVTMPFS_MOUNT=n
CONFIG_EDAC_ATOMIC_SCRUB=n
CONFIG_DEVMEM=n
CONFIG_MICROCODE=n
CONFIG_NET_VENDOR_PENSANDO=n
CONFIG_NET_VENDOR_QUALCOMM=n
CONFIG_INPUT_MISC=n
CONFIG_USB_EHCI_TT_NEWSCHED=n
CONFIG_DMA_VIRTUAL_CHANNELS=n
CONFIG_CLKEVT_I8253=n
CONFIG_KRETPROBES=n
CONFIG_XZ_DEC_X86=n
CONFIG_AUXILIARY_BUS=n
CONFIG_ARCH_SUSPEND_POSSIBLE=n
CONFIG_ARCH_ENABLE_MEMORY_HOTPLUG=n
CONFIG_DEBUG_MEMORY_INIT=n
CONFIG_SERIAL_8250_PCILIB=n
CONFIG_IP_MULTICAST=n
CONFIG_USE_PERCPU_NUMA_NODE_ID=n
CONFIG_NLS=n
CONFIG_I2C_ALGOBIT=n
CONFIG_QUEUED_RWLOCKS=n
CONFIG_MITIGATION_SSB=n
CONFIG_SOFTIRQ_ON_OWN_STACK=n
CONFIG_CRYPTO_KRB5=n
CONFIG_INPUT_KEYBOARD=n
CONFIG_SERIAL_8250_EXAR=n
CONFIG_SERIAL_8250_PERICOM=n
CONFIG_MITIGATION_L1TF=n
CONFIG_PREEMPT_RCU=n
CONFIG_KEYBOARD_ATKBD=n
CONFIG_RTC_LIB=n
CONFIG_HAVE_POSIX_CPU_TIMERS_TASK_WORK=n
CONFIG_X86_AMD_PSTATE=n
CONFIG_ARCH_SUPPORTS_CFI=n
CONFIG_KEXEC=n
CONFIG_CC_HAS_MULTIDIMENSIONAL_NONSTRING=n
CONFIG_COMPAT_BINFMT_ELF=n
CONFIG_HAVE_RETHOOK=n
CONFIG_ARCH_USE_SYM_ANNOTATIONS=n
CONFIG_NET_CORE=n
CONFIG_DECOMPRESS_LZO=n
CONFIG_NET_9P_FD=n
CONFIG_CRASH_RESERVE=n
CONFIG_SCSI_COMMON=n
CONFIG_VIRTIO_PCI_LEGACY=n
CONFIG_USB_ARCH_HAS_HCD=n
CONFIG_CRYPTO_LIB_SHA256_ARCH=n
CONFIG_PROC_MEM_FORCE_PTRACE=n
CONFIG_NET_TULIP=n
CONFIG_SND_PCMCIA=n
CONFIG_MITIGATION_RETBLEED=n
CONFIG_CRC16=n
CONFIG_NEW_LEDS=n
CONFIG_EFI_HANDOVER_PROTOCOL=n
CONFIG_FUTEX_MPOL=n
CONFIG_SND_HDA_COMPONENT=n
CONFIG_SUNRPC=n
CONFIG_PCIEPORTBUS=n
CONFIG_SMP=n
CONFIG_EFI_DXE_MEM_ATTRIBUTES=n
CONFIG_GENERIC_ALLOCATOR=n
CONFIG_USB_HIDDEV=n
CONFIG_I2C_I801=n
CONFIG_CALL_PADDING=n
CONFIG_X86_NEED_RELOCS=n
CONFIG_IOMMU_PT_AMDV1=n
CONFIG_VDSO_GETRANDOM=n
CONFIG_ACPI_LPIT=n
CONFIG_PM_TRACE_RTC=n
CONFIG_NUMA=n
CONFIG_PPS=n
CONFIG_CRYPTO_CMAC=n
CONFIG_X86_REQUIRED_FEATURE_NOPL=n
CONFIG_ARCH_SUPPORTS_MSEAL_SYSTEM_MAPPINGS=n
CONFIG_ARCH_HAS_DEBUG_WX=n
CONFIG_HAVE_PCSPKR_PLATFORM=n
CONFIG_MOUSE_PS2_ALPS=n
CONFIG_SND_INTEL_SOUNDWIRE_ACPI=n
CONFIG_EXT4_USE_FOR_EXT2=n
CONFIG_DMA_ACPI=n
CONFIG_CRYPTO_LIB_BLAKE2S_ARCH=n
CONFIG_PREVENT_FIRMWARE_BUILD=n
CONFIG_JBD2=n
CONFIG_MISC_FILESYSTEMS=n
CONFIG_GPU_BUDDY=n
CONFIG_BITREVERSE=n
CONFIG_DRM_VIRTIO_GPU=n
CONFIG_STACKTRACE_SUPPORT=n
CONFIG_HAVE_DMA_CONTIGUOUS=n
CONFIG_NET_VENDOR_META=n
CONFIG_ARCH_SUPPORTS_LTO_CLANG=n
CONFIG_ARCH_HAS_NON_OVERLAPPING_ADDRESS_SPACE=n
CONFIG_HAVE_HARDLOCKUP_DETECTOR_PERF=n
CONFIG_DNS_RESOLVER=n
CONFIG_CPU_IDLE_GOV_MENU=n
CONFIG_XZ_DEC_RISCV=n
CONFIG_NET_FLOW_LIMIT=n
CONFIG_BLOCK=n
CONFIG_NET_PTP_CLASSIFY=n
CONFIG_CRASH_HOTPLUG=n
CONFIG_EXT4_FS=n
CONFIG_IPV6_SIT=n
CONFIG_HID_TOPSEED=n
CONFIG_NETFILTER_XT_TARGET_LOG=n
CONFIG_X86_DEBUGCTLMSR=n
CONFIG_X86_DISABLED_FEATURE_LAM=n
CONFIG_SGETMASK_SYSCALL=n
CONFIG_SCSI_LOWLEVEL=n
CONFIG_INTEL_IOMMU=n
CONFIG_ACPI_WMI=n
CONFIG_CRYPTO_SKCIPHER2=n
CONFIG_UCS2_STRING=n
CONFIG_PKCS7_MESSAGE_PARSER=n
CONFIG_HAVE_MIXED_BREAKPOINTS_REGS=n
CONFIG_SYSCTL=n
CONFIG_ZSTD_COMMON=n
CONFIG_HAVE_KCSAN_COMPILER=n
CONFIG_NETFILTER_XT_TARGET_SECMARK=n
CONFIG_SND_PCM=n
CONFIG_MITIGATION_CALL_DEPTH_TRACKING=n
CONFIG_YENTA_ENE_TUNE=n
CONFIG_X86_INTEL_PSTATE=n
CONFIG_I2C_BOARDINFO=n
CONFIG_COMPAT=n
CONFIG_NET_VENDOR_EMULEX=n
CONFIG_SGL_ALLOC=n
CONFIG_HAVE_KERNEL_ZSTD=n
CONFIG_RING_BUFFER=n
CONFIG_ARCH_HAS_ACPI_TABLE_UPGRADE=n
CONFIG_HAVE_STACK_VALIDATION=n
CONFIG_NET_HANDSHAKE=n
CONFIG_INTEL_MEI=n
CONFIG_DMA_OPS_HELPERS=n
CONFIG_ACPI_PCC=n
CONFIG_X86_REQUIRED_FEATURE_PSE=n
CONFIG_HAVE_ACPI_APEI_NMI=n
CONFIG_HAVE_PREEMPT_DYNAMIC_CALL=n
CONFIG_NLS_UTF8=n
CONFIG_NET_FAILOVER=n
CONFIG_HAVE_RSEQ=n
CONFIG_X86_IOPL_IOPERM=n
CONFIG_HAVE_STACKPROTECTOR=n
CONFIG_ARCH_CPUIDLE_HALTPOLL=n
CONFIG_NET_VENDOR_SILAN=n
CONFIG_RFS_ACCEL=n
CONFIG_ARCH_CORRECT_STACKTRACE_ON_KRETPROBE=n
CONFIG_DYNAMIC_SIGFRAME=n
CONFIG_X86_X2APIC=n
CONFIG_CRYPTO_HASH_INFO=n
CONFIG_GENERIC_CLOCKEVENTS_COUPLED=n
CONFIG_RD_LZMA=n
CONFIG_TRACEPOINTS=n
CONFIG_CC_HAS_WORKING_NOSANITIZE_ADDRESS=n
CONFIG_CARDBUS=n
CONFIG_ACPI_I2C_OPREGION=n
CONFIG_RUNTIME_TESTING_MENU=n
CONFIG_ARCH_HAS_CPU_FINALIZE_INIT=n
CONFIG_TMPFS_POSIX_ACL=n
CONFIG_CGROUP_DEVICE=n
CONFIG_GENERIC_BUG_RELATIVE_POINTERS=n
CONFIG_INTEGRITY_AUDIT=n
CONFIG_ACPI_EC=n
CONFIG_HAS_DMA=n
CONFIG_NET_VENDOR_XIRCOM=n
CONFIG_POSIX_TIMERS=n
CONFIG_PRINTK=n
CONFIG_TASKS_RCU_GENERIC=n
CONFIG_FW_CACHE=n
CONFIG_SCHEDSTATS=n
CONFIG_ARCH_SUPPORTS_LTO_CLANG_THIN=n
CONFIG_GENERIC_PT=n
CONFIG_CC_HAS_NO_PROFILE_FN_ATTR=n
CONFIG_HAVE_RUST=n
CONFIG_COMPAT_32=n
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST_IDLE=n
CONFIG_MODULES_USE_ELF_RELA=n
CONFIG_ACPI_SLEEP=n
CONFIG_SCHED_CLUSTER=n
CONFIG_NET_EGRESS=n
CONFIG_LEGACY_VSYSCALL_XONLY=n
CONFIG_RTC_MC146818_LIB=n
CONFIG_BLK_RQ_ALLOC_TIME=n
CONFIG_BLK_DEV_DM_BUILTIN=n
CONFIG_CRYPTO_SKCIPHER=n
CONFIG_ARCH_HAS_SET_DIRECT_MAP=n
CONFIG_HYPERVISOR_GUEST=n
CONFIG_CRYPTO_AUTHENC=n
CONFIG_CRYPTO_LIB_UTILS=n
CONFIG_REGMAP=n
CONFIG_BACKLIGHT_CLASS_DEVICE=n
CONFIG_HOTPLUG_CORE_SYNC_DEAD=n
CONFIG_DM_ZERO=n
CONFIG_IOMMU_IOPF=n
CONFIG_CONTEXT_TRACKING=n
CONFIG_SCHED_INFO=n
CONFIG_ARCH_USE_QUEUED_SPINLOCKS=n
CONFIG_MMU_NOTIFIER=n
CONFIG_HOTPLUG_SPLIT_STARTUP=n
CONFIG_STRICT_DEVMEM=n
CONFIG_ARCH_HAS_SYSCALL_WRAPPER=n
CONFIG_NET_INGRESS=n
CONFIG_TIME_NS_VDSO=n
CONFIG_USER_STACKTRACE_SUPPORT=n
CONFIG_ARCH_HAS_MEMBARRIER_SYNC_CORE=n
CONFIG_RATIONAL=n
CONFIG_LOCKD=n
CONFIG_QUOTA=n
CONFIG_FSNOTIFY=n
CONFIG_DEBUG_INFO_NONE=n
CONFIG_NET_VENDOR_MICREL=n
CONFIG_SYSTEM_DATA_VERIFICATION=n
CONFIG_MMU=n
CONFIG_SECURITY_SELINUX=n
CONFIG_BROADCAST_TLB_FLUSH=n
CONFIG_MODULE_FORCE_UNLOAD=n
CONFIG_HAVE_ALIGNED_STRUCT_PAGE=n
CONFIG_ARCH_SUPPORTS_KEXEC_SIG_FORCE=n
CONFIG_MAC80211_RC_DEFAULT_MINSTREL=n
CONFIG_WLAN_VENDOR_RSI=n
CONFIG_FONT_SUPPORT=n
CONFIG_MD_BITMAP=n
CONFIG_TCP_MD5SIG=n
CONFIG_AS_WRUSS=n
CONFIG_LZ4_COMPRESS=n
CONFIG_NET_VENDOR_SYNOPSYS=n
CONFIG_AGP_AMD64=n
CONFIG_HAVE_ARCH_JUMP_LABEL_RELATIVE=n
CONFIG_PCI_MMCONFIG=n
CONFIG_ARCH_HAS_COPY_MC=n
CONFIG_NET_VENDOR_HUAWEI=n
CONFIG_DRM_CLIENT_SELECTION=n
CONFIG_RD_BZIP2=n
CONFIG_SOCK_CGROUP_DATA=n
CONFIG_HAVE_PERF_REGS=n
CONFIG_ARCH_HAS_DEBUG_VM_PGTABLE=n
CONFIG_INIT_STACK_ALL_ZERO=n
CONFIG_LTO_NONE=n
CONFIG_FS_POSIX_ACL=n
CONFIG_ARCH_HAVE_NMI_SAFE_CMPXCHG=n
CONFIG_GENERIC_CMOS_UPDATE=n
CONFIG_ARCH_HAS_CACHE_LINE_SIZE=n
CONFIG_LDISC_AUTOLOAD=n
CONFIG_TRACE_IRQFLAGS_NMI_SUPPORT=n
