CONFIG_OF=y
CONFIG_RSEQ=y
CONFIG_CRYPTO_CTS=y
CONFIG_MULTIPLEXER=y
CONFIG_SQUASHFS_COMPILE_DECOMP_MULTI_PERCPU=y
CONFIG_XILINX_VCU=y
CONFIG_CRYPTO_STREEBOG=y
CONFIG_ISL29125=y
CONFIG_EXFAT_FS=y
CONFIG_SECURITY=y
CONFIG_ENS160_I2C=y
CONFIG_IOMMU_IOVA=y
CONFIG_COMMON_CLK_MAX77686=y
CONFIG_VIRTIO_BLK=y
CONFIG_XFS_ONLINE_SCRUB=y
CONFIG_STRICT_SIGALTSTACK_SIZE=y
CONFIG_NET_SCH_ETS=y
CONFIG_NEED_PER_CPU_PAGE_FIRST_CHUNK=y
CONFIG_PAGE_POOL=y
CONFIG_IRQCHIP=y
CONFIG_IIO_TRIGGERED_EVENT=y
CONFIG_XFS_SUPPORT_V4=y
CONFIG_SYSTEM_REVOCATION_LIST=y
CONFIG_X86_DISABLED_FEATURE_RETPOLINE=y
CONFIG_SYSVIPC_SYSCTL=y
CONFIG_IMA_DEFAULT_HASH_SHA1=y
CONFIG_NET_SCH_TEQL=y
CONFIG_SERIAL_MAX310X=y
CONFIG_HAVE_FUTEX_ROBUST_UNLOCK=y
CONFIG_SCSI_DEBUG=y
CONFIG_NVMEM_QNAP_MCU_EEPROM=y
CONFIG_REGULATOR_MAX77838=y
CONFIG_ARCH_SUPPORTS_KEXEC_SIG_FORCE=y
CONFIG_MFD_TPS65912_I2C=y
CONFIG_GENERIC_SMP_IDLE_THREAD=y
CONFIG_CRYPTO_MD4=y
CONFIG_I2C_CBUS_GPIO=y
CONFIG_DYNAMIC_FTRACE_WITH_DIRECT_CALLS=y
CONFIG_BH1750=y
CONFIG_SLAB_BUCKETS=y
CONFIG_SECURITY_DMESG_RESTRICT=y
CONFIG_TOUCHSCREEN_GUNZE=y
CONFIG_SRF04=y
CONFIG_CC_HAS_COUNTED_BY=y
CONFIG_TRACE_PREEMPT_TOGGLE=y
CONFIG_ADXL355=y
CONFIG_BCMA_DEBUG=y
CONFIG_HAVE_DMA_CONTIGUOUS=y
CONFIG_TCG_TIS_ST33ZP24=y
CONFIG_REGULATOR_MAX77503=y
CONFIG_RV_MON_STALL=y
CONFIG_GENERIC_CMOS_UPDATE=y
CONFIG_BOSCH_BNO055_SERIAL=y
CONFIG_IRQ_WORK=y
CONFIG_BLK_DEV_BSGLIB=y
CONFIG_MMA9553=y
CONFIG_IIO_CROS_EC_LIGHT_PROX=y
CONFIG_MPL115_I2C=y
CONFIG_MFD_TPS65086=y
CONFIG_REGULATOR_BD71828=y
CONFIG_BTRFS_FS_RUN_SANITY_TESTS=y
CONFIG_IIO_CROS_EC_SENSORS_CORE=y
CONFIG_OF_RESERVED_MEM=y
CONFIG_QFMT_V1=y
CONFIG_MEMCG=y
CONFIG_W1_SLAVE_DS28E17=y
CONFIG_PTP_1588_CLOCK_IDTCM=y
CONFIG_MFD_SYSCON=y
CONFIG_TASKS_RCU=y
CONFIG_CRYPTO_USER_API_AEAD=y
CONFIG_MFD_DA9063=y
CONFIG_NET_NS=y
CONFIG_NFC_DIGITAL=y
CONFIG_RESET_GPIO=y
CONFIG_HAVE_SOFTIRQ_ON_OWN_STACK=y
CONFIG_SCD4X=y
CONFIG_HAVE_ARCH_WITHIN_STACK_FRAMES=y
CONFIG_GPIO_MAX7300=y
CONFIG_SAMPLE_VFS=y
CONFIG_HUGETLB_PAGE=y
CONFIG_ACQUIRE_WDT=y
CONFIG_MFD_MAX77650=y
CONFIG_GENERIC_BUG=y
CONFIG_HAVE_KRETPROBES=y
CONFIG_FIX_EARLYCON_MEM=y
CONFIG_HW_RANDOM_TPM=y
CONFIG_NET_DEVMEM=y
CONFIG_GPIO_GENERIC_PLATFORM=y
CONFIG_FPGA_DFL_AFU=y
CONFIG_GENERIC_ADC_BATTERY=y
CONFIG_XZ_DEC_ARM64=y
CONFIG_CRYPTO_LIB_AES=y
CONFIG_GPIO_BD72720=y
CONFIG_USER_EVENTS=y
CONFIG_UEFI_CPER_X86=y
CONFIG_RUSTC_HAS_UNNECESSARY_TRANSMUTES=y
CONFIG_PREEMPT_RCU=y
CONFIG_EXTCON_USBC_CROS_EC=y
CONFIG_X86_NEED_RELOCS=y
CONFIG_HEADERS_INSTALL=y
CONFIG_EROFS_FS_BACKED_BY_FILE=y
CONFIG_TOUCHSCREEN_TOUCHWIN=y
CONFIG_TCG_TPM=y
CONFIG_SCSI=y
CONFIG_ARCH_USE_BUILTIN_BSWAP=y
CONFIG_FIPS_SIGNATURE_SELFTEST_RSA=y
CONFIG_GPIO_MOCKUP=y
CONFIG_MFD_SEC_I2C=y
CONFIG_SIMPLE_RING_BUFFER=y
CONFIG_IRQ_TIME_ACCOUNTING=y
CONFIG_FORCE_NR_CPUS=y
CONFIG_DS1682=y
CONFIG_SLAB_OBJ_EXT=y
CONFIG_HAVE_CMPXCHG_LOCAL=y
CONFIG_AHCI_CEVA=y
CONFIG_PERF_EVENTS=y
CONFIG_HAVE_DYNAMIC_FTRACE_NO_PATCHABLE=y
CONFIG_SERIAL_CONEXANT_DIGICOLOR=y
CONFIG_ARCH_32BIT_OFF_T=y
CONFIG_HAVE_ARCH_SECCOMP=y
CONFIG_ADVANTECH_WDT=y
CONFIG_CC_HAS_ASM_GOTO_OUTPUT=y
CONFIG_CGROUP_FAVOR_DYNMODS=y
CONFIG_SIGNALFD=y
CONFIG_SPMI=y
CONFIG_TOUCHSCREEN_CY8CTMA140=y
CONFIG_KEXEC_CORE=y
CONFIG_RING_BUFFER=y
CONFIG_CAN=y
CONFIG_MPU3050=y
CONFIG_SD_ADC_MODULATOR=y
CONFIG_INPUT_MOUSEDEV=y
CONFIG_SERIAL_SPRD=y
CONFIG_GENERIC_CPU_DEVICES=y
CONFIG_ARCH_MAY_HAVE_PC_FDC=y
CONFIG_ZL3073X_I2C=y
CONFIG_GENERIC_BITREVERSE=y
CONFIG_NVDIMM_KEYS=y
CONFIG_CHARGER_RT9471=y
CONFIG_RING_BUFFER_RECORD_RECURSION=y
CONFIG_ACPI_BUTTON=y
CONFIG_MFD_BCM590XX=y
CONFIG_APM=y
CONFIG_RAID6_PQ_ARCH=y
CONFIG_MFD_88PM886_PMIC=y
CONFIG_CRYPTO_HASH2=y
CONFIG_CRYPTO_AEAD2=y
CONFIG_ARCH_SUPPORTS_KEXEC_BZIMAGE_VERIFY_SIG=y
CONFIG_TI_ADC081C=y
CONFIG_RCU_NEED_SEGCBLIST=y
CONFIG_TCG_CRB=y
CONFIG_PMIC_OPREGION=y
CONFIG_CMDLINE_BOOL=y
CONFIG_ST_UVIS25_I2C=y
CONFIG_ZRAM=y
CONFIG_I2C_SIMTEC=y
CONFIG_UTS_NS=y
CONFIG_CHARLCD=y
CONFIG_PKCS8_PRIVATE_KEY_PARSER=y
CONFIG_MFD_RK8XX=y
CONFIG_XFS_ONLINE_REPAIR=y
CONFIG_IPE_PROP_FS_VERITY_BUILTIN_SIG=y
CONFIG_KPROBE_EVENTS_ON_NOTRACE=y
CONFIG_IPMI_DEVICE_INTERFACE=y
CONFIG_MEMCG_V1=y
CONFIG_MISC_FILESYSTEMS=y
CONFIG_X86_DISABLED_FEATURE_LAM=y
CONFIG_CGROUP_NET_CLASSID=y
CONFIG_MICROCODE_DBG=y
CONFIG_FPGA_REGION=y
CONFIG_SI7020=y
CONFIG_NFC_S3FWRN5=y
CONFIG_TCG_TIS_I2C_ATMEL=y
CONFIG_X25=y
CONFIG_SKB_EXTENSIONS=y
CONFIG_HW_RANDOM_BA431=y
CONFIG_SERIAL_8250_DW=y
CONFIG_UIO_DMEM_GENIRQ=y
CONFIG_CC_HAS_SANE_FUNCTION_ALIGNMENT=y
CONFIG_GPIB_FLUKE=y
CONFIG_TOUCHSCREEN_SIS_I2C=y
CONFIG_HA_MON_EVENTS_ID=y
CONFIG_TRACING_SUPPORT=y
CONFIG_PREEMPT_BUILD=y
CONFIG_MHI_BUS_DEBUG=y
CONFIG_HAVE_IOREMAP_PROT=y
CONFIG_IIO_CONFIGFS=y
CONFIG_ROMFS_ON_BLOCK=y
CONFIG_CAN_VCAN=y
CONFIG_ARCH_CLOCKSOURCE_INIT=y
CONFIG_AD7150=y
CONFIG_NVME_MULTIPATH=y
CONFIG_NULL_TTY=y
CONFIG_ADUX1020=y
CONFIG_AL3010=y
CONFIG_TRACING_MAP=y
CONFIG_TOUCHSCREEN_ST1232=y
CONFIG_I2C_XILINX=y
CONFIG_REGULATOR_MAX77693=y
CONFIG_HAVE_IRQ_TIME_ACCOUNTING=y
CONFIG_REGULATOR_RK808=y
CONFIG_GPIO_IT87=y
CONFIG_AD3552R_HS=y
CONFIG_VEML6040=y
CONFIG_NVME_KEYRING=y
CONFIG_CRC32_ARCH=y
CONFIG_MMU_GATHER_TABLE_FREE=y
CONFIG_TOUCHSCREEN_PIXCIR=y
CONFIG_TOUCHSCREEN_COLIBRI_VF50=y
CONFIG_FANOTIFY=y
CONFIG_RPMSG_TTY=y
CONFIG_MFD_TI_LP873X=y
CONFIG_CC_CAN_LINK=y
CONFIG_ARCH_HAS_ACPI_TABLE_UPGRADE=y
CONFIG_INTEGRITY_AUDIT=y
CONFIG_MLX90614=y
CONFIG_SLIP=y
CONFIG_ARCH_WANT_BATCHED_UNMAP_TLB_FLUSH=y
CONFIG_GPIOLIB=y
CONFIG_TOUCHSCREEN_SX8654=y
CONFIG_AXP20X_POWER=y
CONFIG_IR_SONY_DECODER=y
CONFIG_SERIAL_8250=y
CONFIG_NLS_CODEPAGE_852=y
CONFIG_MFD_SM501_GPIO=y
CONFIG_W1_MASTER_GPIO=y
CONFIG_REGULATOR_VCTRL=y
CONFIG_DEVFREQ_GOV_USERSPACE=y
CONFIG_BRIDGE=y
CONFIG_BMP280_I2C=y
CONFIG_CC_HAS_SLS=y
CONFIG_TI_ADS7138=y
CONFIG_HPET=y
CONFIG_NEED_PER_CPU_EMBED_FIRST_CHUNK=y
CONFIG_CRYPTO_MANAGER=y
CONFIG_I2C_SLAVE=y
CONFIG_GPIO_74XX_MMIO=y
CONFIG_PMIC_ADP5520=y
CONFIG_COMMON_CLK_RS9_PCIE=y
CONFIG_THERMAL=y
CONFIG_CRYPTO_DEV_ATMEL_SHA204A=y
CONFIG_GENERIC_CALIBRATE_DELAY=y
CONFIG_MAX30208=y
CONFIG_ARCH_SUPPORTS_LTO_CLANG=y
CONFIG_ARCH_CORRECT_STACKTRACE_ON_KRETPROBE=y
CONFIG_SCREEN_INFO=y
CONFIG_NET_SCHED=y
CONFIG_ARCH_HAS_MEMBARRIER_SYNC_CORE=y
CONFIG_BATTERY_DA9030=y
CONFIG_HAVE_ARCH_PREL32_RELOCATIONS=y
CONFIG_CC_HAS_ASSUME=y
CONFIG_REGULATOR_QCOM_LABIBB=y
CONFIG_IPMI_IPMB=y
CONFIG_MMA7455_I2C=y
CONFIG_SYSTEM_BLACKLIST_KEYRING=y
CONFIG_OF_ADDRESS=y
CONFIG_REGULATOR_DA9210=y
CONFIG_GENERIC_IRQ_RESERVATION_MODE=y
CONFIG_DA9063_WATCHDOG=y
CONFIG_MFD_LM3533=y
CONFIG_MFD_AS3722=y
CONFIG_HAVE_PREEMPT_DYNAMIC=y
CONFIG_CRYPTO_MANAGER2=y
CONFIG_POWER_RESET_REGULATOR=y
CONFIG_QUOTACTL=y
CONFIG_BATTERY_CHARGER_SURFACE_RT=y
CONFIG_UID16=y
CONFIG_ARCH_HAS_UBSAN=y
CONFIG_SERIAL_SC16IS7XX=y
CONFIG_HAVE_KPROBES=y
CONFIG_PWM=y
CONFIG_MFD_ATMEL_FLEXCOM=y
CONFIG_MFD_ADP5585=y
CONFIG_ADMFM2000=y
CONFIG_PWM_ATMEL_TCB=y
CONFIG_WIRELESS=y
CONFIG_VZ89X=y
CONFIG_HAVE_RETHOOK=y
CONFIG_REGMAP_IRQ=y
CONFIG_NET_CLS_MATCHALL=y
CONFIG_EXTCON_PTN5150=y
CONFIG_X86_DEBUGCTLMSR=y
CONFIG_DA9150_GPADC=y
CONFIG_JFS_STATISTICS=y
CONFIG_COMMON_CLK_SI5351=y
CONFIG_IIO_ST_SENSORS_CORE=y
CONFIG_REGULATOR_88PG86X=y
CONFIG_TSYS01=y
CONFIG_AF8133J=y
CONFIG_COMMON_CLK_SI514=y
CONFIG_LENOVO_SE30_WDT=y
CONFIG_TOUCHSCREEN_88PM860X=y
CONFIG_ARCH_MEMORY_ORDER_TSO=y
CONFIG_USERFAULTFD=y
CONFIG_DMI_SCAN_MACHINE_NON_EFI_FALLBACK=y
CONFIG_AS_IS_GNU=y
CONFIG_TI_ADS1015=y
CONFIG_SCSI_AHA1740=y
CONFIG_LTC2471=y
CONFIG_NVME_AUTH=y
CONFIG_TRACE_GPU_MEM=y
CONFIG_PTP_1588_CLOCK_MOCK=y
CONFIG_REGULATOR_RN5T618=y
CONFIG_BATTERY_DS2760=y
CONFIG_IR_MCE_KBD_DECODER=y
CONFIG_MFD_INTEL_LPSS_ACPI=y
CONFIG_ARCH_WANT_IRQS_OFF_ACTIVATE_MM=y
CONFIG_PTP_1588_CLOCK_VMW=y
CONFIG_W1_SLAVE_DS2406=y
CONFIG_NFC_MRVL_I2C=y
CONFIG_IOMMU_DEFAULT_DMA_LAZY=y
CONFIG_AFE4404=y
CONFIG_DMA_NEED_SYNC=y
CONFIG_BLK_CGROUP_PUNT_BIO=y
CONFIG_CPU_SUP_HYGON=y
CONFIG_NLS_ISO8859_4=y
CONFIG_LOCALVERSION_AUTO=y
CONFIG_NVME_TARGET_AUTH_DEBUG=y
CONFIG_ZIIRAVE_WATCHDOG=y
CONFIG_HAVE_CMPXCHG_DOUBLE=y
CONFIG_ARCH_FLATMEM_ENABLE=y
CONFIG_SCHED_AUTOGROUP=y
CONFIG_REGULATOR_TPS65132=y
CONFIG_BEFS_DEBUG=y
CONFIG_CGROUPS=y
CONFIG_EROFS_FS_XATTR=y
CONFIG_MODULES_USE_ELF_REL=y
CONFIG_PCC=y
CONFIG_HAVE_FENTRY=y
CONFIG_CRYPTO_SHA256=y
CONFIG_CC_HAS_AUTO_VAR_INIT_PATTERN=y
CONFIG_BMA220=y
CONFIG_ROHM_BU27034=y
CONFIG_PHY_OCELOT_SERDES=y
CONFIG_REGULATOR_LTC3589=y
CONFIG_MFD_ARIZONA_I2C=y
CONFIG_QCOM_SPMI_ADC5_GEN3=y
CONFIG_ND_CLAIM=y
CONFIG_PM_SLEEP=y
CONFIG_CHARGER_BQ24735=y
CONFIG_REGULATOR_ADP5055=y
CONFIG_GOOGLE_COREBOOT_TABLE=y
CONFIG_MPRLS0025PA=y
CONFIG_LOCKDEP_SUPPORT=y
CONFIG_NET_FAILOVER=y
CONFIG_MCP4531=y
CONFIG_IA32_FEAT_CTL=y
CONFIG_PROBE_EVENTS=y
CONFIG_REGULATOR_USERSPACE_CONSUMER=y
CONFIG_EROFS_FS_POSIX_ACL=y
CONFIG_STM_SOURCE_FTRACE=y
CONFIG_SDP500=y
CONFIG_ARCH_SPLIT_ARG64=y
CONFIG_MFD_RN5T618=y
CONFIG_PHY_PXA_28NM_HSIC=y
CONFIG_EFS_FS=y
CONFIG_REGULATOR_LP8755=y
CONFIG_X86_INTEL_USERCOPY=y
CONFIG_FS_IOMAP=y
CONFIG_ARCH_HAS_DEBUG_VIRTUAL=y
CONFIG_BLK_DEV_RAM=y
CONFIG_MFD_ACT8945A=y
CONFIG_NET_CLS_FLOWER=y
CONFIG_CRYPTO_CMAC=y
CONFIG_AUXILIARY_BUS=y
CONFIG_RV_MON_EVENTS=y
CONFIG_EVENTFD=y
CONFIG_CRYPTO_SHA3=y
CONFIG_HAVE_STATIC_CALL=y
CONFIG_MPILIB=y
CONFIG_IKCONFIG=y
CONFIG_LZO_COMPRESS=y
CONFIG_BLOCK=y
CONFIG_REGULATOR_FIXED_VOLTAGE=y
CONFIG_SERIAL_8250_DWLIB=y
CONFIG_BMI270=y
CONFIG_REGULATOR_RT6160=y
CONFIG_MLX90635=y
CONFIG_PWM_XILINX=y
CONFIG_EXCLUSIVE_SYSTEM_RAM=y
CONFIG_RPMSG_NS=y
CONFIG_HARDENED_USERCOPY=y
CONFIG_TRACE_IRQFLAGS_NMI_SUPPORT=y
CONFIG_HAVE_BUILDTIME_MCOUNT_SORT=y
CONFIG_SLUB=y
CONFIG_MFD_WM8994=y
CONFIG_GOOGLE_SMI=y
CONFIG_GPIO_PALMAS=y
CONFIG_CHARGER_88PM860X=y
CONFIG_DEFXX=y
CONFIG_LZ4_COMPRESS=y
CONFIG_SPARSE_IRQ=y
CONFIG_HAVE_KCSAN_COMPILER=y
CONFIG_STATIC_KEYS_SELFTEST=y
CONFIG_OVERLAY_FS_METACOPY=y
CONFIG_NET_SCH_HTB=y
CONFIG_EXTCON_GPIO=y
CONFIG_PAGE_SIZE_LESS_THAN_256KB=y
CONFIG_TOUCHSCREEN_MC13783=y
CONFIG_FRAME_POINTER=y
CONFIG_COMMON_CLK_XLNX_CLKWZRD=y
CONFIG_REGULATOR_RT6245=y
CONFIG_REGULATOR_TPS6286X=y
CONFIG_CRYPTO_ACOMP2=y
CONFIG_COMEDI_SSV_DNP=y
CONFIG_TASKS_TRACE_RCU=y
CONFIG_HYPERVISOR_GUEST=y
CONFIG_CRYPTO_XCTR=y
CONFIG_NET_RX_BUSY_POLL=y
CONFIG_MMA9551_CORE=y
CONFIG_HAVE_REGS_AND_STACK_ACCESS_API=y
CONFIG_SELECT_MEMORY_MODEL=y
CONFIG_LTC2309=y
CONFIG_PAGE_COUNTER=y
CONFIG_BINARY_PRINTF=y
CONFIG_DEBUG_IRQFLAGS=y
CONFIG_GENERIC_CLOCKEVENTS_MIN_ADJUST=y
CONFIG_DMA_SHARED_BUFFER=y
CONFIG_MFD_ATC260X=y
CONFIG_AD799X=y
CONFIG_BLK_DEV_LOOP=y
CONFIG_TOUCHSCREEN_S6SY761=y
CONFIG_LINEAR_RANGES=y
CONFIG_RTC_LIB=y
CONFIG_HAVE_ARCH_MMAP_RND_BITS=y
CONFIG_NET_SCH_PRIO=y
CONFIG_INTERCONNECT=y
CONFIG_QCOM_SPMI_VADC=y
CONFIG_JOYSTICK_COBRA=y
CONFIG_TOUCHSCREEN_IQS7211=y
CONFIG_F2FS_CHECK_FS=y
CONFIG_CRYPTO_CHACHA20POLY1305=y
CONFIG_CRYPTO=y
CONFIG_BATTERY_88PM860X=y
CONFIG_REGULATOR_MT6357=y
CONFIG_REGULATOR_RT5190A=y
CONFIG_COMMON_CLK=y
CONFIG_HAVE_UID16=y
CONFIG_CONTEXT_TRACKING_IDLE=y
CONFIG_JOYSTICK_WARRIOR=y
CONFIG_EDAC_SUPPORT=y
CONFIG_SERIAL_SCCNXP=y
CONFIG_HAVE_KERNEL_XZ=y
CONFIG_REED_SOLOMON_DEC8=y
CONFIG_PMS7003=y
CONFIG_REGULATOR_SGM3804=y
CONFIG_X86_PAE=y
CONFIG_FAIR_GROUP_SCHED=y
CONFIG_NFC=y
CONFIG_HSI=y
CONFIG_FIRMWARE_MEMMAP=y
CONFIG_CRYPTO_DEFLATE=y
CONFIG_X86=y
CONFIG_NLS_CODEPAGE_1251=y
CONFIG_ACORN_PARTITION_CUMANA=y
CONFIG_X86_CPUID=y
CONFIG_REGULATOR_TPS65086=y
CONFIG_CC_HAS_KASAN_GENERIC=y
CONFIG_EARLY_PRINTK=y
CONFIG_REGULATOR_TPS65218=y
CONFIG_VT_CONSOLE_SLEEP=y
CONFIG_VMCORE_INFO=y
CONFIG_EVM=y
CONFIG_MFD_MAX14577=y
CONFIG_IMA_QUEUE_EARLY_BOOT_KEYS=y
CONFIG_DCB=y
CONFIG_HAVE_ARCH_TRACEHOOK=y
CONFIG_EISA=y
CONFIG_PROFILING=y
CONFIG_SENSORS_HMC5843_I2C=y
CONFIG_ZL3073X=y
CONFIG_X86_DISABLED_FEATURE_XENPV=y
CONFIG_NETDEVICES=y
CONFIG_NFC_VIRTUAL_NCI=y
CONFIG_OF_FPGA_REGION=y
CONFIG_HSI_BOARDINFO=y
CONFIG_SLHC=y
CONFIG_DPLL=y
CONFIG_CC_HAS_NO_PROFILE_FN_ATTR=y
CONFIG_MFD_CORE=y
CONFIG_DEBUG_WX=y
CONFIG_HFSPLUS_FS=y
CONFIG_HAVE_PAGE_SIZE_4KB=y
CONFIG_REGULATOR_TPS65090=y
CONFIG_EXTCON=y
CONFIG_TOUCHSCREEN_EGALAX=y
CONFIG_MMU_LAZY_TLB_REFCOUNT=y
CONFIG_XFS_POSIX_ACL=y
CONFIG_THERMAL_STATISTICS=y
CONFIG_CDNS_I3C_MASTER=y
CONFIG_X86_DISABLED_FEATURE_RETHUNK=y
CONFIG_CRYPTO_TWOFISH_586=y
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO_BARE=y
CONFIG_CONTEXT_SWITCH_TRACER=y
CONFIG_PHY_CADENCE_SALVO=y
CONFIG_NFC_MRVL=y
CONFIG_SHMEM=y
CONFIG_WERROR=y
CONFIG_FPGA_DFL_EMIF=y
CONFIG_VHOST_ENABLE_FORK_OWNER_CONTROL=y
