CONFIG_SERIAL_8250_DWLIB=n
CONFIG_HAVE_KRETPROBES=n
CONFIG_DM_ZERO=n
CONFIG_BQL=n
CONFIG_USB_EHCI_HCD=n
CONFIG_DRM_BRIDGE=n
CONFIG_X86_ACPI_CPUFREQ=n
CONFIG_DECOMPRESS_BZIP2=n
CONFIG_DEBUG_MISC=n
CONFIG_SECTION_MISMATCH_WARN_ONLY=n
CONFIG_RWSEM_SPIN_ON_OWNER=n
CONFIG_MITIGATION_RETPOLINE=n
CONFIG_ARCH_HAS_SET_DIRECT_MAP=n
CONFIG_HAVE_EXIT_THREAD=n
CONFIG_JBD2=n
CONFIG_RTC_DRV_CMOS=n
CONFIG_PAGE_MAPCOUNT=n
CONFIG_MITIGATION_TAA=n
CONFIG_PCCARD=n
CONFIG_ARCH_HAVE_EXTRA_ELF_NOTES=n
CONFIG_MEMFD_CREATE=n
CONFIG_DMI_SCAN_MACHINE_NON_EFI_FALLBACK=n
CONFIG_THREAD_INFO_IN_TASK=n
CONFIG_X86_PKG_TEMP_THERMAL=n
CONFIG_ACPI_PROCESSOR_IDLE=n
CONFIG_TASK_DELAY_ACCT=n
CONFIG_CRYPTO_SEQIV=n
CONFIG_ETHERNET=n
CONFIG_XFRM_AH=n
CONFIG_XZ_DEC_POWERPC=n
CONFIG_NET_VENDOR_RDC=n
CONFIG_NF_REJECT_IPV4=n
CONFIG_PREEMPTION=n
CONFIG_SND_SEQ_DEVICE=n
CONFIG_CRYPTO=n
CONFIG_XARRAY_MULTI=n
CONFIG_X86_DISABLED_FEATURE_ENQCMD=n
CONFIG_WIRELESS=n
CONFIG_TOOLS_SUPPORT_RELR=n
CONFIG_HAVE_ASM_MODVERSIONS=n
CONFIG_MISC_FILESYSTEMS=n
CONFIG_ZSTD_DECOMPRESS=n
CONFIG_YENTA_RICOH=n
CONFIG_PATA_SCH=n
CONFIG_SCSI_CONSTANTS=n
CONFIG_CRYPTO_CMAC=n
CONFIG_OID_REGISTRY=n
CONFIG_NET_VENDOR_NVIDIA=n
CONFIG_SLUB_DEBUG=n
CONFIG_ARCH_USE_QUEUED_SPINLOCKS=n
CONFIG_GENERIC_SMP_IDLE_THREAD=n
CONFIG_HAVE_STACKPROTECTOR=n
CONFIG_JUMP_LABEL=n
CONFIG_NET_VENDOR_BROCADE=n
CONFIG_PREEMPT_BUILD=n
CONFIG_SERIAL_8250_DETECT_IRQ=n
CONFIG_TMPFS_XATTR=n
CONFIG_HAVE_ARCH_JUMP_LABEL=n
CONFIG_HW_RANDOM_GEODE=n
CONFIG_AF_UNIX_OOB=n
CONFIG_ARCH_HAS_CACHE_LINE_SIZE=n
CONFIG_CRYPTO_ECHAINIV=n
CONFIG_X86_MSR=n
CONFIG_FUTEX_ROBUST_UNLOCK=n
CONFIG_NETFILTER_EGRESS=n
CONFIG_WLAN_VENDOR_QUANTENNA=n
CONFIG_BLK_CGROUP_IOLATENCY=n
CONFIG_TIGON3_HWMON=n
CONFIG_INPUT_JOYSTICK=n
CONFIG_X86_NEED_RELOCS=n
CONFIG_NET_VENDOR_ADAPTEC=n
CONFIG_USB_EHCI_PCI=n
CONFIG_ASYMMETRIC_KEY_TYPE=n
CONFIG_USB_OHCI_LITTLE_ENDIAN=n
CONFIG_RD_BZIP2=n
CONFIG_ACPI_HOTPLUG_CPU=n
CONFIG_X86_IOPL_IOPERM=n
CONFIG_NETFILTER_XTABLES=n
CONFIG_HAVE_IRQ_TIME_ACCOUNTING=n
CONFIG_LEDS_CLASS=n
CONFIG_COMPAT_32=n
CONFIG_TCP_MD5SIG=n
CONFIG_BLOCK=n
CONFIG_DMI=n
CONFIG_WLAN_VENDOR_REALTEK=n
CONFIG_MITIGATION_TSA=n
CONFIG_BLK_DEV_MD=n
CONFIG_ARCH_HIBERNATION_HEADER=n
CONFIG_MITIGATION_L1TF=n
CONFIG_X86_EXTENDED_PLATFORM=n
CONFIG_X86_DISABLED_FEATURE_PCID=n
CONFIG_XZ_DEC_ARM=n
CONFIG_ARCH_HAS_DEBUG_VM_PGTABLE=n
CONFIG_RD_GZIP=n
CONFIG_PADATA=n
CONFIG_SYNC_FILE=n
CONFIG_HOTPLUG_CORE_SYNC_FULL=n
CONFIG_CC_IS_GCC=n
CONFIG_HAVE_KERNEL_BZIP2=n
CONFIG_ATA_VERBOSE_ERROR=n
CONFIG_LEGACY_DIRECT_IO=n
CONFIG_HAVE_ALIGNED_STRUCT_PAGE=n
CONFIG_STACKTRACE=n
CONFIG_HAVE_ACPI_APEI_NMI=n
CONFIG_KCMP=n
CONFIG_NETFILTER_XT_MATCH_CONNTRACK=n
CONFIG_REGMAP=n
CONFIG_NET_IP_TUNNEL=n
CONFIG_HAVE_ARCH_KGDB=n
CONFIG_ARCH_CORRECT_STACKTRACE_ON_KRETPROBE=n
CONFIG_GENERIC_PCI_IOMAP=n
CONFIG_MOUSE_PS2_SMBUS=n
CONFIG_WATCHDOG=n
CONFIG_DEFAULT_SECURITY_SELINUX=n
CONFIG_E100=n
CONFIG_SIGNALFD=n
CONFIG_CPU_ISOLATION=n
CONFIG_ARCH_DEFAULT_CRASH_DUMP=n
CONFIG_X86_DISABLED_FEATURE_OSPKE=n
CONFIG_GENERIC_STRNCPY_FROM_USER=n
CONFIG_NF_CONNTRACK=n
CONFIG_THERMAL_DEFAULT_GOV_STEP_WISE=n
CONFIG_PNP=n
CONFIG_X86_CMOV=n
CONFIG_CRYPTO_MANAGER2=n
CONFIG_BLOCK_HOLDER_DEPRECATED=n
CONFIG_MITIGATION_RETBLEED=n
CONFIG_NO_HZ_COMMON=n
CONFIG_EDAC_ATOMIC_SCRUB=n
CONFIG_TIMERFD=n
CONFIG_SECURITY=n
CONFIG_PAGE_SIZE_LESS_THAN_64KB=n
CONFIG_RING_BUFFER=n
CONFIG_TRACE_IRQFLAGS_SUPPORT=n
CONFIG_PCI_LABEL=n
CONFIG_NET_RX_BUSY_POLL=n
CONFIG_VIRTIO_ANCHOR=n
CONFIG_DRM_I915_CAPTURE_ERROR=n
CONFIG_HAVE_CMPXCHG_LOCAL=n
CONFIG_I8253_LOCK=n
CONFIG_HID_SAMSUNG=n
CONFIG_P2SB=n
CONFIG_USB_ANNOUNCE_NEW_DEVICES=n
CONFIG_CRC_CCITT=n
CONFIG_INPUT=n
CONFIG_INTEGRITY_AUDIT=n
CONFIG_HOTPLUG_CORE_SYNC=n
CONFIG_GENERIC_CMOS_UPDATE=n
CONFIG_DRM_PANEL_ORIENTATION_QUIRKS=n
CONFIG_DMIID=n
CONFIG_INPUT_LEDS=n
CONFIG_USB_HIDDEV=n
CONFIG_NETFILTER_SKIP_EGRESS=n
CONFIG_E1000E=n
CONFIG_HOTPLUG_SMT=n
CONFIG_NET_POLL_CONTROLLER=n
CONFIG_LOCKD_V4=n
CONFIG_NET_NS=n
CONFIG_NET_VENDOR_BROADCOM=n
CONFIG_SECURITY_SELINUX_AVC_STATS=n
CONFIG_LOCK_SPIN_ON_OWNER=n
CONFIG_BINFMT_ELF=n
CONFIG_NET_9P_VIRTIO=n
CONFIG_NET_VENDOR_MELLANOX=n
CONFIG_GENERIC_CPU_DEVICES=n
CONFIG_VIRTIO_INPUT=n
CONFIG_NF_LOG_IPV4=n
CONFIG_HID_SONY=n
CONFIG_UCS2_STRING=n
CONFIG_WLAN_VENDOR_ST=n
CONFIG_PM_TRACE_RTC=n
CONFIG_RTL_CARDS=n
CONFIG_RFS_ACCEL=n
CONFIG_NET_VENDOR_CISCO=n
CONFIG_SCHED_OMIT_FRAME_POINTER=n
CONFIG_PREEMPT_RCU=n
CONFIG_TREE_SRCU=n
CONFIG_DRM_VIRTIO_GPU_KMS=n
CONFIG_STACKTRACE_SUPPORT=n
CONFIG_NET_VENDOR_WANGXUN=n
CONFIG_RANDSTRUCT_NONE=n
CONFIG_EFI_STUB=n
CONFIG_HAS_SECURITY_AUDIT=n
CONFIG_BLK_DEV_SD=n
CONFIG_X86_DEBUG_FPU=n
CONFIG_ARCH_SUPPORTS_HUGETLBFS=n
CONFIG_TICK_ONESHOT=n
CONFIG_NFS_V4_0=n
CONFIG_CPU_IDLE=n
CONFIG_PERF_EVENTS_INTEL_RAPL=n
CONFIG_ACPI_EC=n
CONFIG_EFI_CAPSULE_QUIRK_QUARK_CSH=n
CONFIG_IOSF_MBI=n
CONFIG_SERIAL_8250_PCILIB=n
CONFIG_MOUSE_PS2_CYPRESS=n
CONFIG_HAVE_SOFTIRQ_ON_OWN_STACK=n
CONFIG_EARLY_PRINTK=n
CONFIG_HAVE_UNSTABLE_SCHED_CLOCK=n
CONFIG_WLAN_VENDOR_MARVELL=n
CONFIG_SERIAL_8250_EXTENDED=n
CONFIG_VHOST_ENABLE_FORK_OWNER_CONTROL=n
CONFIG_HAVE_KERNEL_XZ=n
CONFIG_POSIX_MQUEUE=n
CONFIG_MAC80211=n
CONFIG_DEBUG_BOOT_PARAMS=n
CONFIG_NVRAM=n
CONFIG_UNIX98_PTYS=n
CONFIG_HAVE_KERNEL_LZMA=n
CONFIG_OLD_SIGSUSPEND3=n
CONFIG_KMAP_LOCAL=n
CONFIG_ELF_CORE=n
CONFIG_ATA_FORCE=n
CONFIG_AS_IS_GNU=n
CONFIG_UNINLINE_SPIN_UNLOCK=n
CONFIG_PAGE_COUNTER=n
CONFIG_DRM_TTM=n
CONFIG_USB_MON=n
CONFIG_HIBERNATE_CALLBACKS=n
CONFIG_RETHOOK=n
CONFIG_HAVE_OPTPROBES=n
CONFIG_CRYPTO_CCM=n
CONFIG_CRYPTO_HASH=n
CONFIG_HIBERNATION=n
CONFIG_HAVE_MMIOTRACE_SUPPORT=n
CONFIG_MAGIC_SYSRQ_SERIAL=n
CONFIG_MITIGATION_SSB=n
CONFIG_HARDIRQS_SW_RESEND=n
CONFIG_HAVE_ARCH_AUDITSYSCALL=n
CONFIG_SPARSEMEM_STATIC=n
CONFIG_HYPERVISOR_GUEST=n
CONFIG_IRQ_WORK=n
CONFIG_CC_HAS_SANE_FUNCTION_ALIGNMENT=n
CONFIG_HOTPLUG_CORE_SYNC_DEAD=n
CONFIG_ARCH_HAS_CPU_FINALIZE_INIT=n
CONFIG_ARCH_32BIT_OFF_T=n
CONFIG_UNION_FIND=n
CONFIG_EEPROM_93CX6=n
CONFIG_LOCKD=n
CONFIG_USB_ARCH_HAS_HCD=n
CONFIG_RTC_INTF_PROC=n
CONFIG_HRTIMER_REARM_DEFERRED=n
CONFIG_CGROUPS=n
CONFIG_KVFREE_RCU_BATCHED=n
CONFIG_X86_REQUIRED_FEATURE_CX8=n
CONFIG_NF_NAT_FTP=n
CONFIG_USB_OHCI_HCD_PCI=n
CONFIG_RTC_INTF_SYSFS=n
CONFIG_CRYPTO_KRB5=n
CONFIG_SERIAL_EARLYCON=n
CONFIG_POWER_SUPPLY=n
CONFIG_BLK_CGROUP_IOCOST=n
CONFIG_XZ_DEC_ARM64=n
CONFIG_MAC_EMUMOUSEBTN=n
CONFIG_NET_HANDSHAKE=n
CONFIG_IP_ROUTE_MULTIPATH=n
CONFIG_IO_DELAY_0X80=n
CONFIG_HAVE_PERF_EVENTS=n
CONFIG_DRM_I915_COMPRESS_ERROR=n
CONFIG_NF_CONNTRACK_SECMARK=n
CONFIG_PCI_MSI=n
CONFIG_HAS_IOMEM=n
CONFIG_BACKLIGHT_CLASS_DEVICE=n
CONFIG_I3C_OR_I2C=n
CONFIG_X86=n
CONFIG_I2C_SMBUS=n
CONFIG_GCC_NO_STRINGOP_OVERFLOW=n
CONFIG_SND_CTL_FAST_LOOKUP=n
CONFIG_CPU_IDLE_GOV_MENU=n
CONFIG_ARCH_WANT_LD_ORPHAN_WARN=n
CONFIG_ACPI_SYSTEM_POWER_STATES_SUPPORT=n
CONFIG_NETFILTER_XT_TARGET_TCPMSS=n
CONFIG_PROC_EVENTS=n
CONFIG_CRYPTO_LIB_SHA256=n
CONFIG_ALLOW_DEV_COREDUMP=n
CONFIG_MITIGATION_SRBDS=n
CONFIG_UID16=n
CONFIG_CRYPTO_CTS=n
CONFIG_CLKEVT_I8253=n
CONFIG_IA32_FEAT_CTL=n
CONFIG_NET_VENDOR_QLOGIC=n
CONFIG_HVC_DRIVER=n
CONFIG_INSTRUCTION_DECODER=n
CONFIG_TASKS_TRACE_RCU=n
CONFIG_NETFILTER_NETLINK=n
CONFIG_IP_ROUTE_VERBOSE=n
CONFIG_HAVE_CMPXCHG_DOUBLE=n
CONFIG_YENTA_ENE_TUNE=n
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO=n
CONFIG_NET_EGRESS=n
CONFIG_R8169=n
CONFIG_NET_PTP_CLASSIFY=n
CONFIG_SYSFS=n
CONFIG_ARCH_SUPPORTS_KEXEC_BZIMAGE_VERIFY_SIG=n
CONFIG_SECRETMEM=n
CONFIG_GCC10_NO_ARRAY_BOUNDS=n
CONFIG_NETPOLL=n
CONFIG_EFIVAR_FS=n
CONFIG_X86_DISABLED_FEATURE_LASS=n
CONFIG_CRYPTO_SIG2=n
CONFIG_CGROUP_PERF=n
