CONFIG_SLUB=n
CONFIG_CGROUP_NET_CLASSID=n
CONFIG_HUGETLB_PAGE_OPTIMIZE_VMEMMAP=n
CONFIG_NEED_SG_DMA_FLAGS=n
CONFIG_CHR_DEV_SG=n
CONFIG_INTEGRITY_AUDIT=n
CONFIG_X86_PM_TIMER=n
CONFIG_WLAN_VENDOR_MICROCHIP=n
CONFIG_NET_EMATCH=n
CONFIG_X86_DISABLED_FEATURE_LAM=n
CONFIG_RTC_LIB=n
CONFIG_CRYPTO_SIG=n
CONFIG_AGP_AMD64=n
CONFIG_TMPFS_XATTR=n
CONFIG_CRYPTO_SKCIPHER2=n
CONFIG_IOMMU_IOVA=n
CONFIG_X86_64_ACPI_NUMA=n
CONFIG_IPC_NS=n
CONFIG_MOUSE_PS2=n
CONFIG_NET_FAILOVER=n
CONFIG_XARRAY_MULTI=n
CONFIG_ACPI_PRMT=n
CONFIG_HAVE_RUST=n
CONFIG_RUSTC_HAS_SPAN_FILE=n
CONFIG_NET_VENDOR_AGERE=n
CONFIG_X86_REQUIRED_FEATURE_CX8=n
CONFIG_XPS=n
CONFIG_IPV6_NDISC_NODETYPE=n
CONFIG_ARCH_HAS_STRICT_MODULE_RWX=n
CONFIG_CRC_OPTIMIZATIONS=n
CONFIG_UTS_NS=n
CONFIG_DEVTMPFS=n
CONFIG_ACPI_FAN=n
CONFIG_CPU_SUP_INTEL=n
CONFIG_NET_VENDOR_WANGXUN=n
CONFIG_COMPACTION=n
CONFIG_PREVENT_FIRMWARE_BUILD=n
CONFIG_NET_VENDOR_CADENCE=n
CONFIG_BLOCK=n
CONFIG_ARCH_SUPPORTS_KEXEC_JUMP=n
CONFIG_ARCH_SUPPORTS_SCHED_SMT=n
CONFIG_PAGE_POOL=n
CONFIG_HAVE_IOREMAP_PROT=n
CONFIG_USB_ARCH_HAS_HCD=n
CONFIG_X86_REQUIRED_FEATURE_CMOV=n
CONFIG_TCP_MD5SIG=n
CONFIG_DRM_VIRTIO_GPU=n
CONFIG_IP_ROUTE_MULTIPATH=n
CONFIG_ARCH_HAS_UACCESS_FLUSHCACHE=n
CONFIG_NEED_DMA_MAP_STATE=n
CONFIG_NETFILTER_XT_MARK=n
CONFIG_SYNC_FILE=n
CONFIG_LOCKD=n
CONFIG_LD_ORPHAN_WARN=n
CONFIG_X86_ESPFIX64=n
CONFIG_8139TOO_PIO=n
CONFIG_X86=n
CONFIG_USB_HID=n
CONFIG_ATA=n
CONFIG_GROUP_SCHED_WEIGHT=n
CONFIG_SCSI_SPI_ATTRS=n
CONFIG_ZONE_DMA=n
CONFIG_JBD2=n
CONFIG_TREE_RCU=n
CONFIG_BROADCAST_TLB_FLUSH=n
CONFIG_HAVE_ARCH_COMPAT_MMAP_BASES=n
CONFIG_NET_VENDOR_SUN=n
CONFIG_ARCH_HAS_CACHE_LINE_SIZE=n
CONFIG_BLK_DEV_SR=n
CONFIG_TIGON3_HWMON=n
CONFIG_ARCH_STACKWALK=n
CONFIG_PM_SLEEP_DEBUG=n
CONFIG_CFG80211_CRDA_SUPPORT=n
CONFIG_KERNFS=n
CONFIG_TREE_SRCU=n
CONFIG_USB_OHCI_HCD=n
CONFIG_NET_VENDOR_REALTEK=n
CONFIG_LOCKD_V4=n
CONFIG_PRINTK=n
CONFIG_ELF_CORE=n
CONFIG_DEBUG_MISC=n
CONFIG_GENERIC_BUG=n
CONFIG_GENERIC_GETTIMEOFDAY=n
CONFIG_NET_INGRESS=n
CONFIG_X86_EXTENDED_PLATFORM=n
CONFIG_MD_BITMAP=n
CONFIG_IOMMU_DMA=n
CONFIG_EFI_EARLYCON=n
CONFIG_USE_PERCPU_NUMA_NODE_ID=n
CONFIG_NF_CONNTRACK_SECMARK=n
CONFIG_ARCH_HAS_FORTIFY_SOURCE=n
CONFIG_ARCH_SUPPORTS_KEXEC_HANDOVER=n
CONFIG_NFS_ACL_SUPPORT=n
CONFIG_SBITMAP=n
CONFIG_MOUSE_PS2_SMBUS=n
CONFIG_IP_PNP=n
CONFIG_CC_HAS_KASAN_SW_TAGS=n
CONFIG_POSIX_MQUEUE_SYSCTL=n
CONFIG_USB_HIDDEV=n
CONFIG_VHOST_MENU=n
CONFIG_ARCH_WANT_OPTIMIZE_DAX_VMEMMAP=n
CONFIG_CRYPTO_LIB_SHA256=n
CONFIG_XFRM_AH=n
CONFIG_NET_VENDOR_TI=n
CONFIG_GENERIC_ISA_DMA=n
CONFIG_MITIGATION_SPECTRE_V1=n
CONFIG_TRACE_CLOCK=n
CONFIG_LOCALVERSION_AUTO=n
CONFIG_MITIGATION_ITS=n
CONFIG_ACPI_DEBUG=n
CONFIG_ARCH_HAS_PTDUMP=n
CONFIG_DRM_I915_COMPRESS_ERROR=n
CONFIG_DEBUG_BOOT_PARAMS=n
CONFIG_CRYPTO_ALGAPI2=n
CONFIG_EARLY_PRINTK_USB=n
CONFIG_IRQ_DOMAIN=n
CONFIG_USB_DEFAULT_PERSIST=n
CONFIG_X86_MCE=n
CONFIG_CRYPTO_MANAGER=n
CONFIG_MAC80211_HAS_RC=n
CONFIG_HAVE_IRQ_TIME_ACCOUNTING=n
CONFIG_HAVE_ARCH_PREL32_RELOCATIONS=n
CONFIG_HAVE_C_RECORDMCOUNT=n
CONFIG_SND_JACK_INPUT_DEV=n
CONFIG_SERIAL_8250_PERICOM=n
CONFIG_INPUT_KEYBOARD=n
CONFIG_IP_NF_IPTABLES=n
CONFIG_RFKILL_INPUT=n
CONFIG_X86_REQUIRED_FEATURE_PSE=n
CONFIG_NETFILTER=n
CONFIG_X86_16BIT=n
CONFIG_WLAN_VENDOR_ZYDAS=n
CONFIG_NET_VENDOR_SYNOPSYS=n
CONFIG_SOCK_RX_QUEUE_MAPPING=n
CONFIG_PERF_EVENTS_INTEL_CSTATE=n
CONFIG_IP_PIMSM_V2=n
CONFIG_ARCH_ENABLE_HUGEPAGE_MIGRATION=n
CONFIG_X86_REQUIRED_FEATURE_FXSR=n
CONFIG_HAVE_REGS_AND_STACK_ACCESS_API=n
CONFIG_ARCH_MEMORY_ORDER_TSO=n
CONFIG_RETHOOK=n
CONFIG_UNINLINE_SPIN_UNLOCK=n
CONFIG_INPUT_EVDEV=n
CONFIG_WLAN_VENDOR_REALTEK=n
CONFIG_FORCEDETH=n
CONFIG_NET_VENDOR_CHELSIO=n
CONFIG_CGROUP_DEBUG=n
CONFIG_NF_LOG_IPV6=n
CONFIG_SYSTEM_TRUSTED_KEYRING=n
CONFIG_JOLIET=n
CONFIG_HAVE_UACCESS_VALIDATION=n
CONFIG_BLOCK_LEGACY_AUTOLOAD=n
CONFIG_ARCH_MIGHT_HAVE_ACPI_PDC=n
CONFIG_PCCARD_NONSTATIC=n
CONFIG_HAVE_FTRACE_REGS_HAVING_PT_REGS=n
CONFIG_X86_DISABLED_FEATURE_USER_SHSTK=n
CONFIG_SWAP=n
CONFIG_INET6_AH=n
CONFIG_GENERIC_IRQ_EFFECTIVE_AFF_MASK=n
CONFIG_HAVE_ARCH_JUMP_LABEL=n
CONFIG_HAVE_OBJTOOL_MCOUNT=n
CONFIG_ARCH_CPUIDLE_HALTPOLL=n
CONFIG_NET_VENDOR_PENSANDO=n
CONFIG_SND_HDA=n
CONFIG_NFS_V3_ACL=n
CONFIG_ARCH_USE_MEMTEST=n
CONFIG_VDSO_GETRANDOM=n
CONFIG_NET_CLS_ACT=n
CONFIG_FIRMWARE_MEMMAP=n
CONFIG_CRYPTO_LIB_SHA512_ARCH=n
CONFIG_ATA_FORCE=n
CONFIG_HAVE_SETUP_PER_CPU_AREA=n
CONFIG_ARCH_WANT_OPTIMIZE_HUGETLB_VMEMMAP=n
CONFIG_EVENT_TRACING=n
CONFIG_FUTEX_PRIVATE_HASH=n
CONFIG_HAVE_NOINSTR_VALIDATION=n
CONFIG_CRYPTO_AEAD=n
CONFIG_LOCK_DEBUGGING_SUPPORT=n
CONFIG_HWMON=n
CONFIG_BUFFER_HEAD=n
CONFIG_NET_VENDOR_MYRI=n
CONFIG_QUOTA=n
CONFIG_EFI_MIXED=n
CONFIG_NETLABEL=n
CONFIG_LTO_NONE=n
CONFIG_SPARSEMEM_VMEMMAP_PREINIT=n
CONFIG_DRM_MIPI_DSI=n
CONFIG_WERROR=n
CONFIG_ARCH_HAS_KERNEL_FPU_SUPPORT=n
CONFIG_PREEMPTION=n
CONFIG_PROFILING=n
CONFIG_SECCOMP_FILTER=n
CONFIG_I2C_ALGOBIT=n
CONFIG_TASKS_RCU_GENERIC=n
CONFIG_HAVE_NOINSTR_HACK=n
CONFIG_PCI=n
CONFIG_ISO9660_FS=n
CONFIG_PCIE_PME=n
CONFIG_MEMFD_CREATE=n
CONFIG_CRYPTO_HMAC=n
CONFIG_HAVE_UNWIND_USER_FP=n
CONFIG_HOTPLUG_PARALLEL=n
CONFIG_CRYPTO_LIB_AES_CBC_MACS=n
CONFIG_X86_NEED_RELOCS=n
CONFIG_X86_SUPPORTS_MEMORY_FAILURE=n
CONFIG_HAVE_PREEMPT_DYNAMIC_CALL=n
CONFIG_VIRTIO_ANCHOR=n
CONFIG_CLKBLD_I8253=n
CONFIG_HAVE_GUP_FAST=n
CONFIG_CRYPTO_CCM=n
CONFIG_ARCH_HAS_DEBUG_WX=n
CONFIG_IRQ_REMAP=n
CONFIG_FAILOVER=n
CONFIG_SYSTEM_DATA_VERIFICATION=n
CONFIG_MAC80211_RC_DEFAULT_MINSTREL=n
CONFIG_GCC10_NO_ARRAY_BOUNDS=n
CONFIG_KALLSYMS=n
CONFIG_X86_VSYSCALL_EMULATION=n
CONFIG_HAVE_ARCH_KASAN=n
CONFIG_HAVE_PERF_REGS=n
CONFIG_XZ_DEC_ARM64=n
CONFIG_CC_HAS_ASSUME=n
CONFIG_HAVE_GCC_PLUGINS=n
CONFIG_P2SB=n
CONFIG_LEGACY_VSYSCALL_XONLY=n
CONFIG_X86_INTEL_TSX_MODE_AUTO=n
CONFIG_NETFILTER_XT_TARGET_SECMARK=n
CONFIG_DEBUG_WX=n
CONFIG_MITIGATION_IBRS_ENTRY=n
CONFIG_USB_SUPPORT=n
CONFIG_HAS_SECURITY_AUDIT=n
CONFIG_RANDSTRUCT_NONE=n
CONFIG_NO_HZ_IDLE=n
CONFIG_BRANCH_PROFILE_NONE=n
CONFIG_PROC_MEM_FORCE_PTRACE=n
CONFIG_SMP=n
CONFIG_ARCH_DEFAULT_CRASH_DUMP=n
CONFIG_NET_EGRESS=n
CONFIG_HIBERNATION_COMP_LZO=n
CONFIG_NET_VENDOR_SIS=n
CONFIG_ARCH_HAS_PTE_SPECIAL=n
CONFIG_SND_SEQ_HRTIMER_DEFAULT=n
CONFIG_REALTEK_PHY=n
CONFIG_HAS_IOPORT_MAP=n
CONFIG_SOFTIRQ_ON_OWN_STACK=n
CONFIG_ACPI_HOTPLUG_CPU=n
CONFIG_CLZ_TAB=n
CONFIG_IPV6=n
CONFIG_WLAN_VENDOR_INTEL=n
CONFIG_USB_XHCI_HCD=n
CONFIG_E1000E_HWTS=n
CONFIG_SND_PCMCIA=n
CONFIG_TCP_CONG_CUBIC=n
CONFIG_CRYPTO_SHA1=n
CONFIG_NFS_COMMON=n
CONFIG_HW_RANDOM_VIA=n
CONFIG_PREEMPT_DYNAMIC=n
CONFIG_NET_VENDOR_VERTEXCOM=n
CONFIG_NET_SELFTESTS=n
CONFIG_FONT_AUTOSELECT=n
CONFIG_X86_UMIP=n
CONFIG_KALLSYMS_ALL=n
CONFIG_CRYPTO_HASH2=n
CONFIG_HAVE_ARCH_KFENCE=n
CONFIG_USE_X86_SEG_SUPPORT=n
CONFIG_SERIAL_8250_SHARE_IRQ=n
CONFIG_HAVE_UID16=n
CONFIG_XFRM_USER=n
CONFIG_HARDIRQS_SW_RESEND=n
CONFIG_NET_VENDOR_CORTINA=n
CONFIG_HSU_DMA=n
CONFIG_HAVE_ARCH_AUDITSYSCALL=n
CONFIG_SND_VMASTER=n
CONFIG_WLAN_VENDOR_MARVELL=n
CONFIG_SND_HDA_CORE=n
CONFIG_EFI_CUSTOM_SSDT_OVERLAYS=n
CONFIG_NET_VENDOR_RENESAS=n
CONFIG_CRYPTO_KRB5ENC=n
CONFIG_ARCH_USE_BUILTIN_BSWAP=n
CONFIG_NF_NAT_FTP=n
CONFIG_FSNOTIFY=n
CONFIG_RFKILL=n
CONFIG_HAVE_POSIX_CPU_TIMERS_TASK_WORK=n
CONFIG_MUTEX_SPIN_ON_OWNER=n
CONFIG_THERMAL_HWMON=n
CONFIG_DEBUG_DEVRES=n
CONFIG_CPU_IDLE=n
CONFIG_CRYPTO_ECHAINIV=n
CONFIG_GENERIC_MSI_IRQ=n
CONFIG_HAVE_PAGE_SIZE_4KB=n
CONFIG_MOUSE_PS2_SYNAPTICS=n
CONFIG_CPU_FREQ_GOV_USERSPACE=n
CONFIG_SCHED_HRTICK=n
CONFIG_STACKPROTECTOR_STRONG=n
CONFIG_MITIGATION_SRSO=n
CONFIG_CRYPTO_AUTHENC=n
CONFIG_HVC_DRIVER=n
CONFIG_NET_VENDOR_DLINK=n
CONFIG_ARCH_SUPPORTS_SCHED_MC=n
CONFIG_WLAN_VENDOR_ATMEL=n
