CONFIG_SAMPLE_CGROUP=y
CONFIG_SMI330=y
CONFIG_IRQ_WORK=y
CONFIG_REGULATOR_BQ257XX=y
CONFIG_AD3552R_HS=y
CONFIG_REGULATOR_MAX5970=y
CONFIG_X86_DEBUG_FPU=y
CONFIG_PCIE_TPH=y
CONFIG_COMEDI_NI_TIOCMD=y
CONFIG_BPF_SYSCALL=y
CONFIG_HW_RANDOM_BA431=y
CONFIG_ARCH_WANT_HUGETLB_VMEMMAP_PREINIT=y
CONFIG_GPIOLIB=y
CONFIG_W1_SLAVE_DS2780=y
CONFIG_CRYPTO_DEV_ATMEL_ECC=y
CONFIG_LOCK_STAT=y
CONFIG_TPL0102=y
CONFIG_EXPORTFS_BLOCK_OPS=y
CONFIG_LEDS_AW200XX=y
CONFIG_FPGA_MGR_XILINX_CORE=y
CONFIG_IB700_WDT=y
CONFIG_CGROUP_MISC=y
CONFIG_PCIE_CADENCE_EP=y
CONFIG_EPROBE_EVENTS=y
CONFIG_DMA_OPS_HELPERS=y
CONFIG_BD957XMUF_WATCHDOG=y
CONFIG_CPU_SUP_ZHAOXIN=y
CONFIG_CRYPTO_LIB_POLY1305=y
CONFIG_LTC2497=y
CONFIG_SSB_POSSIBLE=y
CONFIG_SI7005=y
CONFIG_NET_SCH_SFQ=y
CONFIG_OF_OVERLAY=y
CONFIG_ARCH_HAS_DEBUG_VM_PGTABLE=y
CONFIG_COMMON_CLK_SI521XX=y
CONFIG_IO_DELAY_0X80=y
CONFIG_REF_TRACKER=y
CONFIG_FORCE_TASKS_RCU=y
CONFIG_REGULATOR_MT6357=y
CONFIG_RTC_DRV_X1205=y
CONFIG_X86_REQUIRED_FEATURE_PGE=y
CONFIG_LOCKUP_DETECTOR=y
CONFIG_QRTR_TUN=y
CONFIG_GENERIC_PINMUX_FUNCTIONS=y
CONFIG_REGULATOR_CPCAP=y
CONFIG_FPGA_MGR_LATTICE_SYSCONFIG=y
CONFIG_CRYPTO_LIB_MD5=y
CONFIG_WAFER_WDT=y
CONFIG_IIO_KX022A=y
CONFIG_KSTACK_ERASE_RUNTIME_DISABLE=y
CONFIG_COMEDI_ADV_PCI_DIO=y
CONFIG_CRYPTO_LIB_SHA256_ARCH=y
CONFIG_MFD_MADERA_I2C=y
CONFIG_RTC_INTF_DEV=y
CONFIG_COMMON_CLK_VC3=y
CONFIG_ADIS16480=y
CONFIG_MAXSMP=y
CONFIG_SPI_OFFLOAD=y
CONFIG_I2C_VIRTIO=y
CONFIG_SPI_TLE62X0=y
CONFIG_TREE_SRCU=y
CONFIG_HAVE_FTRACE_REGS_HAVING_PT_REGS=y
CONFIG_FAIR_GROUP_SCHED=y
CONFIG_HAVE_EBPF_JIT=y
CONFIG_SLUB_TINY=y
CONFIG_ADXL380=y
CONFIG_IKHEADERS=y
CONFIG_W1_SLAVE_DS28E04=y
CONFIG_USB4_DMA_TEST=y
CONFIG_HOTPLUG_PCI_CPCI=y
CONFIG_MXC6255=y
CONFIG_CC_IS_GCC=y
CONFIG_MAX517=y
CONFIG_TSYS01=y
CONFIG_SPI_CS42L43=y
CONFIG_NITRO_ENCLAVES=y
CONFIG_SSB_PCMCIAHOST_POSSIBLE=y
CONFIG_DMA_ENGINE=y
CONFIG_CRYPTO_CRC32=y
CONFIG_SGL_ALLOC=y
CONFIG_BT_BNEP=y
CONFIG_COMEDI_ADDI_APCI_1516=y
CONFIG_MFD_MT6360=y
CONFIG_ARCH_SUPPORTS_ATOMIC_RMW=y
CONFIG_TCG_TIS_I2C_NUVOTON=y
CONFIG_COMEDI_ADV_PCI1724=y
CONFIG_TORTURE_TEST=y
CONFIG_NLS_ISO8859_9=y
CONFIG_ARCH_MHP_MEMMAP_ON_MEMORY_ENABLE=y
CONFIG_SERIAL_UARTLITE=y
CONFIG_REGULATOR_RTQ2208=y
CONFIG_CRYPTO_CBC=y
CONFIG_AD5766=y
CONFIG_SOC_BUS=y
CONFIG_FXOS8700_SPI=y
CONFIG_DEBUG_KMEMLEAK=y
CONFIG_HAVE_CONTEXT_TRACKING_USER=y
CONFIG_IRQ_FORCED_THREADING=y
CONFIG_GPIO_POLARFIRE_SOC=y
CONFIG_RSEQ=y
CONFIG_PCCARD=y
CONFIG_PINCTRL_CS47L85=y
CONFIG_RTC_DRV_ISL12022=y
CONFIG_HAVE_GCC_PLUGINS=y
CONFIG_REGULATOR_ROHM=y
CONFIG_GPIB_PCMCIA=y
CONFIG_FXAS21002C_I2C=y
CONFIG_NET_IFE=y
CONFIG_MAX1241=y
CONFIG_I2C_ARB_GPIO_CHALLENGE=y
CONFIG_FTRACE_MCOUNT_USE_CC=y
CONFIG_CRYPTO_LIB_SHA3=y
CONFIG_INTEL_SPEED_SELECT_INTERFACE=y
CONFIG_OPT3001=y
CONFIG_MAX1363=y
CONFIG_ASYMMETRIC_PUBLIC_KEY_SUBTYPE=y
CONFIG_NET_SCH_PRIO=y
CONFIG_X86_REQUIRED_FEATURE_LM=y
CONFIG_AD7766=y
CONFIG_LRU_GEN=y
CONFIG_HAVE_HARDLOCKUP_DETECTOR_PERF=y
CONFIG_GPIO_WS16C48=y
CONFIG_COMEDI_ADDI_APCI_1032=y
CONFIG_SPI_PXA2XX_PCI=y
CONFIG_LEDS_MLXREG=y
CONFIG_ENS210=y
CONFIG_RPMSG_CHAR=y
CONFIG_STM_SOURCE_HEARTBEAT=y
CONFIG_DEBUG_PREEMPT=y
CONFIG_REGULATOR_BD96801=y
CONFIG_ADIS16209=y
CONFIG_IPMI_DEVICE_INTERFACE=y
CONFIG_TCG_TPM2_HMAC=y
CONFIG_CC_HAS_COUNTED_BY_PTR=y
CONFIG_DMABUF_HEAPS=y
CONFIG_CACHESTAT_SYSCALL=y
CONFIG_CPU_HOTPLUG_STATE_CONTROL=y
CONFIG_COMEDI_8255_PCI=y
CONFIG_REGULATOR_BD71815=y
CONFIG_PCI_P2PDMA=y
CONFIG_HSI_CHAR=y
CONFIG_ADXL313_I2C=y
CONFIG_CROS_EC_MKBP_PROXIMITY=y
CONFIG_CHARGER_MANAGER=y
CONFIG_MFD_TPS65912=y
CONFIG_SCHED_MM_CID=y
CONFIG_FS_IOMAP=y
CONFIG_PCI_SW_SWITCHTEC=y
CONFIG_STANDALONE=y
CONFIG_MEMBLOCK_KHO_SCRATCH=y
CONFIG_JUMP_LABEL=y
CONFIG_ARCH_SUPPORTS_CRASH_HOTPLUG=y
CONFIG_PROC_FS=y
CONFIG_TOUCHSCREEN_FUJITSU=y
CONFIG_IIO_BUFFER_DMA=y
CONFIG_CC_HAS_WORKING_NOSANITIZE_ADDRESS=y
CONFIG_ISA_BUS_API=y
CONFIG_BOOTTIME_TRACING=y
CONFIG_HDC2010=y
CONFIG_IOMMU_API=y
CONFIG_COMEDI_8254=y
CONFIG_CMA_SIZE_PERNUMA=y
CONFIG_MFD_STPMIC1=y
CONFIG_RING_BUFFER_VALIDATE_TIME_DELTAS=y
CONFIG_AL3000A=y
CONFIG_NET_SCH_DUALPI2=y
CONFIG_CRYPTO_STREEBOG=y
CONFIG_MMA9551=y
CONFIG_BPF_JIT_DEFAULT_ON=y
CONFIG_PCI_IOV=y
CONFIG_REGMAP_SPMI=y
CONFIG_KEYS_REQUEST_CACHE=y
CONFIG_UPROBE_EVENTS=y
CONFIG_PCI_ENDPOINT_CONFIGFS=y
CONFIG_ARCH_HAS_EARLY_DEBUG=y
CONFIG_HAVE_ARCH_JUMP_LABEL_RELATIVE=y
CONFIG_USER_STACKTRACE_SUPPORT=y
CONFIG_ARCH_HAS_SET_MEMORY=y
CONFIG_ARCH_HAVE_EXTRA_ELF_NOTES=y
CONFIG_SERIAL_FSL_LINFLEXUART=y
CONFIG_IBM_RTL=y
CONFIG_TOUCHSCREEN_EDT_FT5X06=y
CONFIG_X86_DISABLED_FEATURE_SGX=y
CONFIG_HAVE_ASM_MODVERSIONS=y
CONFIG_MFD_TPS65219=y
CONFIG_MFD_QCOM_PM8008=y
CONFIG_GPIO_MAX7300=y
CONFIG_I2C_OCORES=y
CONFIG_MPLS=y
CONFIG_BATTERY_DS2780=y
CONFIG_GPIO_SCH311X=y
CONFIG_CHROMEOS_LAPTOP=y
CONFIG_ARCH_WANT_GENERAL_HUGETLB=y
CONFIG_PADATA=y
CONFIG_GROUP_SCHED_BANDWIDTH=y
CONFIG_HP03=y
CONFIG_MFD_CS47L15=y
CONFIG_STX104=y
CONFIG_DLHL60D=y
CONFIG_NVMEM=y
CONFIG_FPGA_MGR_XILINX_SELECTMAP=y
CONFIG_DEVICE_MIGRATION=y
CONFIG_QCOM_SPMI_ADC5_GEN3=y
CONFIG_LOCKDEP=y
CONFIG_HSC030PA_SPI=y
CONFIG_CRYPTO_USER_API_HASH=y
CONFIG_MFD_GATEWORKS_GSC=y
CONFIG_CRYPTO_DEV_CCP=y
CONFIG_TOUCHSCREEN_SURFACE3_SPI=y
CONFIG_SYSFS=y
CONFIG_I6300ESB_WDT=y
CONFIG_CC_HAS_ASM_INLINE=y
CONFIG_PREEMPT=y
CONFIG_SPI_SC18IS602=y
CONFIG_STACKTRACE_BUILD_ID=y
CONFIG_GPIO_MC33880=y
CONFIG_INTEL_IOATDMA=y
CONFIG_MAX31856=y
CONFIG_BMI270=y
CONFIG_LINEDISP=y
CONFIG_PCIE_CADENCE=y
CONFIG_GP2AP020A00F=y
CONFIG_HAVE_ARCH_KASAN=y
CONFIG_GPIO_I8255=y
CONFIG_ARCH_SUPPORTS_LTO_CLANG_THIN=y
CONFIG_CMA_SIZE_SEL_MIN=y
CONFIG_842_DECOMPRESS=y
CONFIG_RTC_DRV_MAX6902=y
CONFIG_GPIO_AGGREGATOR=y
CONFIG_OBJTOOL_WERROR=y
CONFIG_COMEDI_DEBUG=y
CONFIG_IIO_ADC_HELPER=y
CONFIG_GCC_PLUGINS=y
CONFIG_COMEDI_ADL_PCI9118=y
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE=y
CONFIG_HAVE_SETUP_PER_CPU_AREA=y
CONFIG_TRACING_SUPPORT=y
CONFIG_ARCH_SUPPORTS_SCHED_CLUSTER=y
CONFIG_TOUCHSCREEN_88PM860X=y
CONFIG_TASKS_RCU_GENERIC=y
CONFIG_IO_URING_BPF=y
CONFIG_COMEDI_MITE=y
CONFIG_THREAD_INFO_IN_TASK=y
CONFIG_PGTABLE_HAS_HUGE_LEAVES=y
CONFIG_NET_CLS_FLOWER=y
CONFIG_TRUSTED_KEYS=y
CONFIG_ETHTOOL_NETLINK=y
CONFIG_REGULATOR_WM831X=y
CONFIG_DIBS=y
CONFIG_SLAB_MERGE_DEFAULT=y
CONFIG_CRYPTO_LZ4=y
CONFIG_BACKLIGHT_MAX25014=y
CONFIG_TCG_TIS_CORE=y
CONFIG_CRYPTO_LIB_SHA512_ARCH=y
CONFIG_CRYPTO_LZO=y
CONFIG_INV_ICM45600_SPI=y
CONFIG_IPMI_HANDLER=y
CONFIG_W1_MASTER_DS2482=y
CONFIG_LTC2309=y
CONFIG_HAVE_FUNCTION_GRAPH_TRACER=y
CONFIG_ADXRS450=y
CONFIG_LEDS_BRIGHTNESS_HW_CHANGED=y
CONFIG_TOUCHSCREEN_GOODIX=y
CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE=y
CONFIG_CRYPTO_SKCIPHER=y
CONFIG_COMEDI_DAS08_PCI=y
CONFIG_RTC_DRV_DS1305=y
CONFIG_DEBUG_TEST_DRIVER_REMOVE=y
CONFIG_CRYPTO_AES=y
CONFIG_NLS_MAC_ROMANIAN=y
CONFIG_KSTACK_ERASE_METRICS=y
CONFIG_RTC_DRV_MAX77686=y
CONFIG_CRC32=y
CONFIG_HAS_IOPORT=y
CONFIG_AD4170_4=y
CONFIG_X86_DISABLED_FEATURE_INVLPGB=y
CONFIG_QCOM_HIDMA_MGMT=y
CONFIG_VDSO_GETRANDOM=y
CONFIG_ROHM_BU27034=y
CONFIG_AUDIT_ARCH=y
CONFIG_RTC_DRV_R7301=y
CONFIG_MOXTET=y
CONFIG_HW_RANDOM_TIMERIOMEM=y
CONFIG_SERIAL_ARC=y
CONFIG_HAVE_SAMPLE_FTRACE_DIRECT_MULTI=y
CONFIG_CRYPTO_DEV_PADLOCK_AES=y
CONFIG_ARCH_HAS_PREEMPT_LAZY=y
CONFIG_POWER_RESET_MT6323=y
CONFIG_SERIO=y
CONFIG_MFD_88PM800=y
CONFIG_MFD_SY7636A=y
CONFIG_ADC_BATTERY_HELPER=y
CONFIG_MISC_FILESYSTEMS=y
CONFIG_BARCO_P50_GPIO=y
CONFIG_RTC_CLASS=y
CONFIG_EXTCON=y
CONFIG_TCG_TIS_SPI=y
CONFIG_COMEDI_ADDI_APCI_3120=y
CONFIG_PCI_HOST_GENERIC=y
CONFIG_PCIE_CADENCE_PLAT=y
CONFIG_PCI_DOE=y
CONFIG_ALIM7101_WDT=y
CONFIG_HOTPLUG_CORE_SYNC_DEAD=y
CONFIG_PMIC_DA9052=y
CONFIG_RSEQ_STATS=y
CONFIG_CRYPTO_CAST6=y
CONFIG_ARCH_SUPPORTS_UPROBES=y
CONFIG_BMI088_ACCEL_SPI=y
CONFIG_CHARGER_CROS_USBPD=y
CONFIG_SPS30_I2C=y
CONFIG_CC_HAS_INT128=y
CONFIG_CROS_EC_LIGHTBAR=y
CONFIG_GPIB_TMS9914=y
CONFIG_ARCH_WANTS_THP_SWAP=y
CONFIG_REGULATOR_QCOM_USB_VBUS=y
CONFIG_BCM_KONA_USB2_PHY=y
CONFIG_OF_EARLY_FLATTREE=y
CONFIG_CHARGER_BQ2415X=y
CONFIG_NET=y
CONFIG_TMP007=y
CONFIG_AD5624R_SPI=y
CONFIG_MAX1118=y
CONFIG_ARCH_HAS_STRICT_KERNEL_RWX=y
CONFIG_HTE=y
CONFIG_MFD_TPS6594_SPI=y
CONFIG_MPRLS0025PA_SPI=y
CONFIG_ARCH_HAS_CURRENT_STACK_POINTER=y
CONFIG_GPIO_RC5T583=y
CONFIG_BT_HCIUART_H4=y
CONFIG_BATTERY_CHAGALL=y
CONFIG_FXAS21002C=y
CONFIG_BACKLIGHT_LM3509=y
CONFIG_IIO_ST_LSM6DSX_SPI=y
CONFIG_CGROUP_SCHED=y
CONFIG_NLS_ISO8859_4=y
CONFIG_SERIAL_MAX3100=y
CONFIG_RING_BUFFER=y
CONFIG_HZ_PERIODIC=y
CONFIG_DYNAMIC_FTRACE_WITH_DIRECT_CALLS=y
CONFIG_ASYNC_TX_DMA=y
CONFIG_PCI_DOMAINS=y
CONFIG_AGP=y
CONFIG_MULTIPLEXER=y
CONFIG_DEBUG_RT_MUTEXES=y
CONFIG_GPIO_LOGICVC=y
CONFIG_GCOV_PROFILE_RDS=y
CONFIG_MFD_CS47L35=y
CONFIG_I2C_SIMTEC=y
CONFIG_HAVE_BUILDTIME_MCOUNT_SORT=y
CONFIG_FXLS8962AF=y
CONFIG_MEMORY_ISOLATION=y
CONFIG_LTC2664=y
CONFIG_ARCH_ENABLE_HUGEPAGE_MIGRATION=y
CONFIG_GCOV_KERNEL=y
CONFIG_DMARD09=y
CONFIG_LAPB=y
CONFIG_COMEDI_JR3_PCI=y
CONFIG_NET_RX_BUSY_POLL=y
CONFIG_TOUCHSCREEN_ROHM_BU21023=y
CONFIG_DEBUG_NMI_SELFTEST=y
CONFIG_SENSIRION_SGP30=y
CONFIG_NET_ACT_GACT=y
CONFIG_PAGE_POOL=y
CONFIG_MFD_RT5120=y
CONFIG_TOUCHSCREEN_AR1021_I2C=y
CONFIG_X86_DISABLED_FEATURE_PTI=y
CONFIG_ISL29501=y
CONFIG_RTC_MC146818_LIB=y
CONFIG_GPIO_104_DIO_48E=y
CONFIG_AD7768_1=y
CONFIG_HAVE_DYNAMIC_FTRACE=y
CONFIG_SERIAL_CORE_CONSOLE=y
CONFIG_DMARD10=y
CONFIG_DYNAMIC_FTRACE_WITH_ARGS=y
CONFIG_DW_I3C_MASTER=y
CONFIG_LEDS_TRIGGERS=y
CONFIG_MCP4922=y
CONFIG_FXAS21002C_SPI=y
CONFIG_INPUT_JOYDEV=y
CONFIG_PTP_1588_CLOCK_OPTIONAL=y
CONFIG_ENCLOSURE_SERVICES=y
CONFIG_SYSFS_SYSCALL=y
CONFIG_TOUCHSCREEN_TSC2007_IIO=y
CONFIG_NET_SCH_CHOKE=y
CONFIG_MENZ069_WATCHDOG=y
CONFIG_UAPI_HEADER_TEST=y
CONFIG_FS_ENCRYPTION=y
CONFIG_FW_UPLOAD=y
CONFIG_ADMV4420=y
CONFIG_HAVE_ARCH_USERFAULTFD_MINOR=y
CONFIG_GPIO_SYSCON=y
CONFIG_NLS_MAC_GREEK=y
CONFIG_TRACING_BRANCHES=y
CONFIG_MAX5481=y
CONFIG_CRYPTO_CHACHA20=y
CONFIG_CRYPTO_RNG2=y
CONFIG_GENERIC_CPU_AUTOPROBE=y
CONFIG_RTC_DRV_RS5C372=y
CONFIG_CRYPTO_DEV_AMLOGIC_GXL=y
CONFIG_RTC_DRV_HYM8563=y
CONFIG_TOUCHSCREEN_MTOUCH=y
CONFIG_MFD_AS3722=y
CONFIG_PHY_CADENCE_SALVO=y
CONFIG_INTEL_TH=y
CONFIG_ADXL380_I2C=y
CONFIG_DECOMPRESS_LZ4=y
CONFIG_PREEMPTION=y
CONFIG_COMMON_CLK_VC5=y
CONFIG_HOTPLUG_PCI=y
CONFIG_REGULATOR_TPS6524X=y
CONFIG_TI_ADS7950=y
CONFIG_MMA7660=y
CONFIG_AK8975=y
CONFIG_COMEDI_AMPLC_PC263_PCI=y
CONFIG_BOOT_CONFIG=y
CONFIG_LEGACY_VSYSCALL_XONLY=y
CONFIG_THERMAL_OF=y
CONFIG_SAMPLES=y
CONFIG_IIO_INV_SENSORS_TIMESTAMP=y
CONFIG_GAMEPORT_EMU10K1=y
CONFIG_EXCLUSIVE_SYSTEM_RAM=y
CONFIG_HDC100X=y
CONFIG_GPIO_TPS65218=y
CONFIG_AD9467=y
CONFIG_CRYPTO_SIG=y
CONFIG_GENERIC_IRQ_RESERVATION_MODE=y
CONFIG_X86_REQUIRED_FEATURE_FPU=y
CONFIG_RING_BUFFER_STARTUP_TEST=y
CONFIG_MFD_ROHM_BD957XMUF=y
CONFIG_PHY_CAN_TRANSCEIVER=y
CONFIG_MFD_WM8994=y
CONFIG_COMEDI=y
CONFIG_HPET_TIMER=y
CONFIG_NET_CLS=y
CONFIG_AD7476=y
CONFIG_MHP_DEFAULT_ONLINE_TYPE_ONLINE_KERNEL=y
CONFIG_PREEMPT_RCU=y
CONFIG_COMEDI_NI_660X=y
CONFIG_I3C=y
CONFIG_MFD_KEMPLD=y
CONFIG_NET_SCH_GRED=y
CONFIG_KEXEC_BZIMAGE_VERIFY_SIG=y
CONFIG_SPI_MUX=y
CONFIG_AD7150=y
CONFIG_RTC_INTF_SYSFS=y
CONFIG_MEMORY_NOTIFIER_ERROR_INJECT=y
CONFIG_X86_REQUIRED_FEATURE_XMM=y
CONFIG_HAVE_GENERIC_TIF_BITS=y
CONFIG_VBOXGUEST=y
CONFIG_BACKLIGHT_LM3639=y
CONFIG_SI7020=y
CONFIG_TCG_TIS_ST33ZP24_I2C=y
CONFIG_CHARGER_TPS65217=y
CONFIG_HAS_IOMEM=y
CONFIG_PINCTRL_MCP23S08_I2C=y
CONFIG_I2C_MUX_GPMUX=y
CONFIG_DMI_SCAN_MACHINE_NON_EFI_FALLBACK=y
CONFIG_HAVE_FUTEX_ROBUST_UNLOCK=y
CONFIG_TCG_TIS_ST33ZP24=y
CONFIG_DEBUG_VFS=y
CONFIG_TOUCHSCREEN_GOODIX_BERLIN_I2C=y
CONFIG_LDISC_AUTOLOAD=y
CONFIG_RTC_DRV_SD2405AL=y
CONFIG_IIO_KX022A_SPI=y
CONFIG_SEG_LED_GPIO=y
CONFIG_MCP3564=y
CONFIG_KEMPLD_WDT=y
CONFIG_TOUCHSCREEN_ADS7846=y
CONFIG_IIO_GTS_HELPER=y
CONFIG_RTC_DRV_FM3130=y
CONFIG_HARDLOCKUP_DETECTOR_PREFER_BUDDY=y
CONFIG_NLS_MAC_CROATIAN=y
CONFIG_PROC_CHILDREN=y
CONFIG_I2C_NFORCE2=y
CONFIG_DEBUG_IRQFLAGS=y
CONFIG_C2PORT=y
CONFIG_GPIO_CDEV=y
CONFIG_ARCH_USE_MEMTEST=y
CONFIG_IRQCHIP=y
CONFIG_ARCH_HAS_SET_DIRECT_MAP=y
CONFIG_INV_ICM42600_I2C=y
CONFIG_USE_PERCPU_NUMA_NODE_ID=y
CONFIG_CHARGER_BQ2515X=y
CONFIG_GPIO_FTGPIO010=y
CONFIG_ARCH_HAS_PTDUMP=y
CONFIG_INPUT_MOUSE=y
CONFIG_CLKBLD_I8253=y
CONFIG_IPMI_SI=y
CONFIG_SERIAL_NONSTANDARD=y
CONFIG_TOUCHSCREEN_IQS7211=y
CONFIG_NET_DEV_REFCNT_TRACKER=y
CONFIG_SYNC_FILE=y
CONFIG_EXAR_WDT=y
CONFIG_DYNAMIC_EVENTS=y
CONFIG_CC_HAS_MULTIDIMENSIONAL_NONSTRING=y
CONFIG_FUSION=y
CONFIG_X86_DISABLED_FEATURE_RETHUNK=y
CONFIG_ADXL380_SPI=y
CONFIG_SWIOTLB=y
CONFIG_PAGE_EXTENSION=y
