CONFIG_V4L2_JPEG_HELPER=n
CONFIG_CHROMEOS_OF_HW_PROBER=n
CONFIG_ARCH_SUPPORTS_LTO_CLANG=n
CONFIG_SERIAL_XILINX_PS_UART_CONSOLE=n
CONFIG_ARM64_ERRATUM_1463225=n
CONFIG_ACPI_THERMAL=n
CONFIG_COMMON_CLK_GXBB=n
CONFIG_HTE=n
CONFIG_PNP=n
CONFIG_HI6220_MBOX=n
CONFIG_USB_CONFIGFS_EEM=n
CONFIG_TYPEC_UCSI=n
CONFIG_COMMON_CLK_MT8183_IMGSYS=n
CONFIG_KEYBOARD_ATKBD=n
CONFIG_SUNXI_RSB=n
CONFIG_HAVE_FUNCTION_GRAPH_FREGS=n
CONFIG_SERIAL_8250_BCM2835AUX=n
CONFIG_USB_PEGASUS=n
CONFIG_QCOM_SPMI_VADC=n
CONFIG_SDM_VIDEOCC_845=n
CONFIG_DRM_FBDEV_EMULATION=n
CONFIG_SND_SOC_SIMPLE_MUX=n
CONFIG_MDIO_BUS_MUX_MESON_GXL=n
CONFIG_PINCTRL_IMX=n
CONFIG_IMX_SCU=n
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_ARGS=n
CONFIG_HAVE_LIVEPATCH=n
CONFIG_MFD_ROHM_BD718XX=n
CONFIG_PWM_XILINX=n
CONFIG_COMMON_CLK_RS9_PCIE=n
CONFIG_KEYS=n
CONFIG_SNI_NETSEC=n
CONFIG_GPIO_BLZP1600=n
CONFIG_IPV6=n
CONFIG_SUNXI_CCU=n
CONFIG_VIDEO_DEV=n
CONFIG_RTC_I2C_AND_SPI=n
CONFIG_SH_TIMER_CMT=n
CONFIG_HAVE_MOVE_PMD=n
CONFIG_HISI_THERMAL=n
CONFIG_RPMSG_MTK_SCP=n
CONFIG_BACKLIGHT_GPIO=n
CONFIG_GRACE_PERIOD=n
CONFIG_IIO_ST_MAGN_SPI_3AXIS=n
CONFIG_RESET_TI_SCI=n
CONFIG_SERIAL_TEGRA=n
CONFIG_SM_GCC_4450=n
CONFIG_REED_SOLOMON_DEC8=n
CONFIG_OWL_DMA=n
CONFIG_SND_HWDEP=n
CONFIG_PWM_SAMSUNG=n
CONFIG_GPIO_AGGREGATOR=n
CONFIG_IP_MULTICAST=n
CONFIG_MULTIUSER=n
CONFIG_MLX5_ESWITCH=n
CONFIG_PCIE_ARMADA_8K=n
CONFIG_RPS=n
CONFIG_TPS6594_ESM=n
CONFIG_TOUCHSCREEN_GOODIX_BERLIN_CORE=n
CONFIG_MMC_SDHCI_OF_ARASAN=n
CONFIG_EFI_CAPSULE_LOADER=n
CONFIG_ARM_MEDIATEK_CPUFREQ=n
CONFIG_DT_IDLE_STATES=n
CONFIG_APPLE_MAILBOX=n
CONFIG_APPLE_WATCHDOG=n
CONFIG_SND_SOC_TEGRA210_OPE=n
CONFIG_FB_PROVIDE_GET_FB_UNMAPPED_AREA=n
CONFIG_REGULATOR_DA9211=n
CONFIG_USB_EHCI_ROOT_HUB_TT=n
CONFIG_ARCH_HAVE_NMI_SAFE_CMPXCHG=n
CONFIG_TEGRA186_TIMER=n
CONFIG_DRM_MSM_MDP4=n
CONFIG_FUSE_PASSTHROUGH=n
CONFIG_ARM_CCI=n
CONFIG_WLAN_VENDOR_PURELIFI=n
CONFIG_DUMMY_CONSOLE=n
CONFIG_IPQ_CMN_PLL=n
CONFIG_USB_ISP1760=n
CONFIG_BT_HCIUART_QCA=n
CONFIG_RPMSG_QCOM_GLINK_SMEM=n
CONFIG_SCSI_HISI_SAS=n
CONFIG_XEN_SCRUB_PAGES_DEFAULT=n
CONFIG_DWMAC_SUN8I=n
CONFIG_PHY_QCOM_QMP_UFS=n
CONFIG_PHY_ROCKCHIP_INNO_USB2=n
CONFIG_QCOM_UBWC_CONFIG=n
CONFIG_QCOM_PDR_MSG=n
CONFIG_PL330_DMA=n
CONFIG_GPIO_WCD934X=n
CONFIG_ARCH_WANTS_NO_INSTR=n
CONFIG_HWSPINLOCK_QCOM=n
CONFIG_NF_LOG_SYSLOG=n
CONFIG_REGULATOR_LP873X=n
CONFIG_CLK_R9A07G054=n
CONFIG_VIDEO_IR_I2C=n
CONFIG_MLX4_CORE_GEN2=n
CONFIG_CPU_RMAP=n
CONFIG_ARMADA_AP806_SYSCON=n
CONFIG_MTD_CFI_ADV_OPTIONS=n
CONFIG_ARM64_ERRATUM_858921=n
CONFIG_SND_SOC_QDSP6_ASM_DAI=n
CONFIG_CRC_ITU_T=n
CONFIG_ARCH_KEEMBAY=n
CONFIG_LEGACY_TIOCSTI=n
CONFIG_SND_HDA_CORE=n
CONFIG_PINCTRL_SM8750=n
CONFIG_PHY_CADENCE_DPHY=n
CONFIG_LOCKD_V4=n
CONFIG_COMMON_CLK_AXG_AUDIO=n
CONFIG_ARMADA_AP_CP_HELPER=n
CONFIG_SUSPEND=n
CONFIG_SCSI_UFSHCD=n
CONFIG_TASKS_RCU=n
CONFIG_COMMON_CLK_MT8183_CAMSYS=n
CONFIG_CRYPTO_ALGAPI=n
CONFIG_ZSTD_COMMON=n
CONFIG_THERMAL_GOV_POWER_ALLOCATOR=n
CONFIG_PCIE_APPLE=n
CONFIG_FIXED_PHY=n
CONFIG_SERIAL_MSM_CONSOLE=n
CONFIG_UVC_COMMON=n
CONFIG_NET_CLS_FLOWER=n
CONFIG_COMMON_CLK_MT8192_VDECSYS=n
CONFIG_MAILBOX=n
CONFIG_FSL_ENETC=n
CONFIG_CRYPTO_AUTHENC=n
CONFIG_CRYPTO_DEV_FSL_CAAM_RNG_API=n
CONFIG_NFC_S3FWRN5_I2C=n
CONFIG_CRYPTO_DEV_FSL_CAAM_CRYPTO_API_DESC=n
CONFIG_OVERLAY_FS=n
CONFIG_SND_SOC_MT8195=n
CONFIG_MTK_SVS=n
CONFIG_DRM_DW_HDMI_AHB_AUDIO=n
CONFIG_SND_SOC_MSM8916_WCD_ANALOG=n
CONFIG_MTD_CFI_I2=n
CONFIG_PCIE_BRCMSTB=n
CONFIG_ATA_ACPI=n
CONFIG_ARM_SMC_WATCHDOG=n
CONFIG_CFG80211=n
CONFIG_GPIO_DWAPB=n
CONFIG_MMC_HSQ=n
CONFIG_RTC_DRV_TEGRA=n
CONFIG_SYSVIPC_COMPAT=n
CONFIG_SND_SOC_LPASS_WSA_MACRO=n
CONFIG_SPI_RZV2M_CSI=n
CONFIG_USB_NET_SMSC75XX=n
CONFIG_DM_MIRROR=n
CONFIG_RPMSG_VIRTIO=n
CONFIG_SATA_SIL24=n
CONFIG_USB_NET_CDC_NCM=n
CONFIG_HW_RANDOM_OPTEE=n
CONFIG_XEN_GNTDEV=n
CONFIG_TYPEC_TCPCI_MAXIM=n
CONFIG_PHY_CADENCE_SALVO=n
CONFIG_WLCORE_SDIO=n
CONFIG_LS_SCFG_MSI=n
CONFIG_NEED_SG_DMA_LENGTH=n
CONFIG_REED_SOLOMON_ENC8=n
CONFIG_IMX_SCMI_LMM_DRV=n
CONFIG_EFI_SOFT_RESERVE=n
CONFIG_NFS_V4=n
CONFIG_RD_XZ=n
CONFIG_VIDEO_V4L2_SUBDEV_API=n
CONFIG_PGTABLE_HAS_HUGE_LEAVES=n
CONFIG_TRACE_IRQFLAGS_NMI_SUPPORT=n
CONFIG_HID_MULTITOUCH=n
CONFIG_USB_MXS_PHY=n
CONFIG_INPUT_PWM_BEEPER=n
CONFIG_HW_RANDOM_IPROC_RNG200=n
CONFIG_PAGE_SIZE_LESS_THAN_256KB=n
CONFIG_COMPAT=n
CONFIG_NFC=n
CONFIG_BT_QCOMSMD=n
CONFIG_CPU_PM=n
CONFIG_IPMI_DMI_DECODE=n
CONFIG_BT_MTK=n
CONFIG_QCOM_QSEECOM_UEFISECAPP=n
CONFIG_COMMON_CLK_MT8186_MMSYS=n
CONFIG_CRYPTO_LZ4=n
CONFIG_COMMON_CLK_HI6220=n
CONFIG_ATA_BMDMA=n
CONFIG_OF_RESERVED_MEM=n
CONFIG_BLOCK_LEGACY_AUTOLOAD=n
CONFIG_IIO_STM32_TIMER_TRIGGER=n
CONFIG_VIDEO_OV5645=n
CONFIG_HAVE_HARDLOCKUP_DETECTOR_BUDDY=n
CONFIG_POSIX_CPU_TIMERS_TASK_WORK=n
CONFIG_IPQ_GCC_5424=n
CONFIG_SM_VIDEOCC_8250=n
CONFIG_SPI_XILINX=n
CONFIG_MHP_MEMMAP_ON_MEMORY=n
CONFIG_CRYPTO_CBC=n
CONFIG_FUNCTION_ALIGNMENT_4B=n
CONFIG_DRM_TI_SN65DSI83=n
CONFIG_ROCKCHIP_LVDS=n
CONFIG_SOC_BUS=n
CONFIG_PINCTRL_MT8195=n
CONFIG_DRM_PANEL_SIMPLE=n
CONFIG_HW_RANDOM_HISI_TRNG=n
CONFIG_SDM_GPUCC_845=n
CONFIG_BATTERY_BQ27XXX=n
CONFIG_DRM_LONTIUM_LT9611UXC=n
CONFIG_SERIO_LIBPS2=n
CONFIG_PCI_QUIRKS=n
CONFIG_NVMEM_IMX_OCOTP=n
CONFIG_USB_ONBOARD_DEV_USB5744=n
CONFIG_SND_SOC_WCD_MBHC=n
CONFIG_PCIE_IPROC=n
CONFIG_RFKILL_LEDS=n
CONFIG_CRYPTO_XTS=n
CONFIG_CLK_R9A09G011=n
CONFIG_CLK_R8A774C0=n
CONFIG_TI_PRUSS_INTC=n
CONFIG_NET=n
CONFIG_PINCTRL_MTK=n
CONFIG_GENERIC_STRNLEN_USER=n
CONFIG_INTERCONNECT_QCOM_SC8180X=n
CONFIG_SND_SOC_APPLE_MCA=n
CONFIG_RTD119X_WATCHDOG=n
CONFIG_BT_LEDS=n
CONFIG_DEVMEM=n
CONFIG_GREYBUS=n
CONFIG_CLK_RK3399=n
CONFIG_HAVE_ARCH_MMAP_RND_BITS=n
CONFIG_ARCH_MXC=n
CONFIG_INTERCONNECT_QCOM_SM8250=n
CONFIG_RESET_IMX8MP_AUDIOMIX=n
CONFIG_SUN6I_RTC_CCU=n
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO_BARE=n
CONFIG_DEBUG_FS=n
CONFIG_SYSCON_REBOOT_MODE=n
CONFIG_TICK_ONESHOT=n
CONFIG_CLK_TEGRA_BPMP=n
CONFIG_CHARGER_BQ25980=n
CONFIG_QCOM_ICC_BWMON=n
CONFIG_NVIDIA_CORESIGHT_PMU_ARCH_SYSTEM_PMU=n
CONFIG_ALLOW_DEV_COREDUMP=n
CONFIG_ARCH_USES_HIGH_VMA_FLAGS=n
CONFIG_ACPI_GENERIC_GSI=n
CONFIG_SMP=n
CONFIG_QCOM_SMP2P=n
CONFIG_MITIGATE_SPECTRE_BRANCH_HISTORY=n
CONFIG_SERIAL_SH_SCI_CONSOLE=n
CONFIG_ARCH_HAS_PREEMPT_LAZY=n
CONFIG_ZYNQMP_POWER=n
CONFIG_IOMMU_IO_PGTABLE_LPAE=n
CONFIG_WLAN_VENDOR_RSI=n
CONFIG_CRC64=n
CONFIG_WLAN_VENDOR_MICROCHIP=n
CONFIG_EFI_EARLYCON=n
CONFIG_MST_IRQ=n
CONFIG_PCI_ECAM=n
CONFIG_SYNC_FILE=n
CONFIG_SND_SUN4I_I2S=n
CONFIG_STM32_WATCHDOG=n
CONFIG_ARCH_INTEL_SOCFPGA=n
CONFIG_UACCE=n
CONFIG_STM32_OMM=n
CONFIG_USB_DWC2=n
CONFIG_I2C_MV64XXX=n
CONFIG_INTERCONNECT_QCOM_SC8280XP=n
CONFIG_UNIPHIER_THERMAL=n
CONFIG_BT_HCIBTUSB_BCM=n
CONFIG_CLK_R8A77990=n
CONFIG_EC_ACER_ASPIRE1=n
CONFIG_RTC_NVMEM=n
CONFIG_SND_SOC_AK4619=n
CONFIG_HIBERNATE_CALLBACKS=n
CONFIG_USB_SERIAL=n
CONFIG_AS_HAS_LSUI=n
CONFIG_SERIAL_8250_OMAP_TTYO_FIXUP=n
CONFIG_CONTEXT_TRACKING_IDLE=n
CONFIG_BCM2835_MBOX=n
CONFIG_SYSC_R8A774E1=n
CONFIG_NF_CONNTRACK_EVENTS=n
CONFIG_RESET_RZG2L_USBPHY_CTRL=n
CONFIG_CORESIGHT_CTI=n
CONFIG_SERIAL_8250_DWLIB=n
CONFIG_SUNXI_SRAM=n
CONFIG_SERIAL_8250_CONSOLE=n
CONFIG_SOC_BRCMSTB=n
CONFIG_RD_BZIP2=n
CONFIG_SND_SIMPLE_CARD=n
CONFIG_TEGRA_HOST1X_CONTEXT_BUS=n
CONFIG_CROS_EC_RPMSG=n
CONFIG_ARCH_HAVE_TRACE_MMIO_ACCESS=n
CONFIG_CORESIGHT_LINK_AND_SINK_TMC=n
CONFIG_MV_XOR=n
CONFIG_MXC_CLK=n
CONFIG_NET_VENDOR_ATHEROS=n
CONFIG_CC_HAS_MULTIDIMENSIONAL_NONSTRING=n
CONFIG_ARCH_HAS_KERNEL_FPU_SUPPORT=n
CONFIG_HW_RANDOM_STM32=n
CONFIG_COMMON_CLK_MT6795_VENCSYS=n
CONFIG_USB_NET_CDC_SUBSET=n
CONFIG_QCOM_GENI_SE=n
CONFIG_QCOM_SMD_RPM=n
CONFIG_QCOM_Q6V5_COMMON=n
CONFIG_MTD_BLKDEVS=n
CONFIG_PHY_QCOM_USB_SS=n
