CONFIG_NET_VENDOR_ATHEROS=n
CONFIG_BINARY_PRINTF=n
CONFIG_X86_DISABLED_FEATURE_LAM=n
CONFIG_PT_RECLAIM=n
CONFIG_E1000E=n
CONFIG_USB=n
CONFIG_ARCH_HAVE_EXTRA_ELF_NOTES=n
CONFIG_CFG80211_DEFAULT_PS=n
CONFIG_KCMP=n
CONFIG_SOCK_RX_QUEUE_MAPPING=n
CONFIG_DRM_TTM=n
CONFIG_ATA_BMDMA=n
CONFIG_NET_CLS_CGROUP=n
CONFIG_CRYPTO_HMAC=n
CONFIG_ARCH_HAS_MEMBARRIER_SYNC_CORE=n
CONFIG_CC_HAS_KASAN_GENERIC=n
CONFIG_PARAVIRT_CLOCK=n
CONFIG_SCHED_MC_PRIO=n
CONFIG_SHMEM=n
CONFIG_NET_FLOW_LIMIT=n
CONFIG_HAVE_KERNEL_BZIP2=n
CONFIG_ZONE_DMA=n
CONFIG_EFI_CUSTOM_SSDT_OVERLAYS=n
CONFIG_SERIAL_8250_SHARE_IRQ=n
CONFIG_ARCH_SELECT_MEMORY_MODEL=n
CONFIG_EFI_CAPSULE_LOADER=n
CONFIG_AUDIT=n
CONFIG_XZ_DEC=n
CONFIG_NO_HZ_COMMON=n
CONFIG_ACPI_DOCK=n
CONFIG_X86_DISABLED_FEATURE_PTI=n
CONFIG_CLOCKSOURCE_WATCHDOG=n
CONFIG_RUSTC_HAS_FILE_WITH_NUL=n
CONFIG_CPU_SUP_VORTEX_32=n
CONFIG_CONTEXT_TRACKING=n
CONFIG_LD_IS_BFD=n
CONFIG_GENERIC_IRQ_EFFECTIVE_AFF_MASK=n
CONFIG_BLK_DEV_BSG=n
CONFIG_VHOST_ENABLE_FORK_OWNER_CONTROL=n
CONFIG_CFG80211=n
CONFIG_CFG80211_REQUIRE_SIGNED_REGDB=n
CONFIG_HAVE_MIXED_BREAKPOINTS_REGS=n
CONFIG_SND_SEQ_HRTIMER_DEFAULT=n
CONFIG_NET_VENDOR_GOOGLE=n
CONFIG_NETFILTER_EGRESS=n
CONFIG_STACKPROTECTOR=n
CONFIG_CRYPTO_LIB_ARC4=n
CONFIG_FAT_FS=n
CONFIG_FUNCTION_ALIGNMENT_4B=n
CONFIG_MODULES_TREE_LOOKUP=n
CONFIG_CONTEXT_TRACKING_IDLE=n
CONFIG_SCSI_MOD=n
CONFIG_ARCH_HAS_FAST_MULTIPLIER=n
CONFIG_RTC_NVMEM=n
CONFIG_HSU_DMA=n
CONFIG_MOUSE_PS2_SYNAPTICS_SMBUS=n
CONFIG_MAC_EMUMOUSEBTN=n
CONFIG_BUFFER_HEAD=n
CONFIG_X86_ACPI_CPUFREQ_CPB=n
CONFIG_MOUSE_PS2_BYD=n
CONFIG_GENERIC_IRQ_PROBE=n
CONFIG_HW_RANDOM=n
CONFIG_X86_EXTENDED_PLATFORM=n
CONFIG_SCHED_MM_CID=n
CONFIG_NET_VENDOR_WIZNET=n
CONFIG_X86_BOOTPARAM_MEMORY_CORRUPTION_CHECK=n
CONFIG_NETWORK_FILESYSTEMS=n
CONFIG_GRACE_PERIOD=n
CONFIG_HIBERNATION_SNAPSHOT_DEV=n
CONFIG_IPV6_SIT=n
CONFIG_PROBE_EVENTS=n
CONFIG_CPU_SUP_ZHAOXIN=n
CONFIG_ATA_FORCE=n
CONFIG_PANTHERLORD_FF=n
CONFIG_CRYPTO_LIB_MD5=n
CONFIG_QUOTA_NETLINK_INTERFACE=n
CONFIG_GENERIC_PENDING_IRQ=n
CONFIG_HAVE_OPTPROBES=n
CONFIG_ATA_GENERIC=n
CONFIG_SG_POOL=n
CONFIG_CRYPTO_SEQIV=n
CONFIG_SGETMASK_SYSCALL=n
CONFIG_CC_NO_STRINGOP_OVERFLOW=n
CONFIG_TASK_IO_ACCOUNTING=n
CONFIG_NF_NAT_IRC=n
CONFIG_STRICT_MODULE_RWX=n
CONFIG_HAVE_ARCH_MMAP_RND_BITS=n
CONFIG_SND_HRTIMER=n
CONFIG_FUTEX=n
CONFIG_SERIAL_NONSTANDARD=n
CONFIG_VIRTIO_PCI_LIB=n
CONFIG_VGA_CONSOLE=n
CONFIG_USER_STACKTRACE_SUPPORT=n
CONFIG_PAGE_SIZE_4KB=n
CONFIG_HAVE_FUTEX_ROBUST_UNLOCK=n
CONFIG_WMI_BMOF=n
CONFIG_HAVE_KERNEL_LZMA=n
CONFIG_CC_HAS_WORKING_NOSANITIZE_ADDRESS=n
CONFIG_IOMMU_API=n
CONFIG_ATA_ACPI=n
CONFIG_ARCH_HIBERNATION_HEADER=n
CONFIG_FSNOTIFY=n
CONFIG_DMADEVICES=n
CONFIG_DRM_I915_USERPTR=n
CONFIG_PATA_SCH=n
CONFIG_NF_CONNTRACK_IRC=n
CONFIG_CC_HAS_ASM_GOTO_OUTPUT=n
CONFIG_PATA_AMD=n
CONFIG_NET_VENDOR_HISILICON=n
CONFIG_SKY2=n
CONFIG_DYNAMIC_SIGFRAME=n
CONFIG_SLUB=n
CONFIG_PATA_MPIIX=n
CONFIG_HAVE_ACPI_APEI=n
CONFIG_DMA_SHARED_BUFFER=n
CONFIG_RUSTC_HAS_UNNECESSARY_TRANSMUTES=n
CONFIG_HID_GYRATION=n
CONFIG_BLK_DEBUG_FS=n
CONFIG_CGROUP_MISC=n
CONFIG_WLAN_VENDOR_ST=n
CONFIG_SECURITY_SELINUX=n
CONFIG_ALLOW_DEV_COREDUMP=n
CONFIG_YENTA=n
CONFIG_MITIGATION_RETPOLINE=n
CONFIG_NLATTR=n
CONFIG_RCU_TRACE=n
CONFIG_RTC_I2C_AND_SPI=n
CONFIG_X86_MPPARSE=n
CONFIG_X86_32=n
CONFIG_SYMBOLIC_ERRNAME=n
CONFIG_PRINTK_TIME=n
CONFIG_PCMCIA_LOAD_CIS=n
CONFIG_INOTIFY_USER=n
CONFIG_USB_DEFAULT_PERSIST=n
CONFIG_HAVE_KCSAN_COMPILER=n
CONFIG_GENERIC_IRQ_MATRIX_ALLOCATOR=n
CONFIG_XZ_DEC_X86=n
CONFIG_HID_NTRIG=n
CONFIG_CFG80211_CRDA_SUPPORT=n
CONFIG_HAVE_ARCH_KSTACK_ERASE=n
CONFIG_TRACING=n
CONFIG_FLATMEM=n
CONFIG_XPS=n
CONFIG_UNWINDER_FRAME_POINTER=n
CONFIG_LEGACY_DIRECT_IO=n
CONFIG_X86_INTEL_TSX_MODE_AUTO=n
CONFIG_PCI_MMCONFIG=n
CONFIG_HID_PID=n
CONFIG_IPV6=n
CONFIG_MITIGATION_SSB=n
CONFIG_FW_CACHE=n
CONFIG_THERMAL_GOV_STEP_WISE=n
CONFIG_BLK_DEV=n
CONFIG_CGROUPS=n
CONFIG_PM_TRACE=n
CONFIG_VIRTIO=n
CONFIG_NET_HANDSHAKE=n
CONFIG_CRYPTO_LIB_AES_ARCH=n
CONFIG_X86_DISABLED_FEATURE_UNRET=n
CONFIG_EARLY_PRINTK=n
CONFIG_SND_PCI=n
CONFIG_DRM_VIRTIO_GPU=n
CONFIG_PRINTK=n
CONFIG_BLK_DEV_DM=n
CONFIG_SND_VMASTER=n
CONFIG_MQ_IOSCHED_DEADLINE=n
CONFIG_JUMP_LABEL=n
CONFIG_IOMMU_IOVA=n
CONFIG_NET_VENDOR_MUCSE=n
CONFIG_CRYPTO_LIB_AES=n
CONFIG_HAS_DMA=n
CONFIG_ZLIB_INFLATE=n
CONFIG_IP_PNP_DHCP=n
CONFIG_GENERIC_ALLOCATOR=n
CONFIG_HAVE_KRETPROBES=n
CONFIG_DEVPORT=n
CONFIG_ARCH_WANTS_NO_INSTR=n
CONFIG_X86_THERMAL_VECTOR=n
CONFIG_CRYPTO_LIB_SHA512=n
CONFIG_DMA_OPS_HELPERS=n
CONFIG_FS_MBCACHE=n
CONFIG_WLAN_VENDOR_MARVELL=n
CONFIG_XFRM_ALGO=n
CONFIG_BLK_DEV_SR=n
CONFIG_HAVE_RETHOOK=n
CONFIG_CRYPTO_AEAD=n
CONFIG_NET_FAILOVER=n
CONFIG_X86_DISABLED_FEATURE_INVLPGB=n
CONFIG_ARCH_HAVE_NMI_SAFE_CMPXCHG=n
CONFIG_CC_HAS_ASSUME=n
CONFIG_PCI_QUIRKS=n
CONFIG_SCHED_CACHE=n
CONFIG_FIRMWARE_MEMMAP=n
CONFIG_BUG=n
CONFIG_ARCH_HIBERNATION_POSSIBLE=n
CONFIG_HID_PANTHERLORD=n
CONFIG_X86_NEED_RELOCS=n
CONFIG_MIGRATION=n
CONFIG_USB_XHCI_PCI=n
CONFIG_CRYPTO_AES=n
CONFIG_HAVE_PERF_EVENTS_NMI=n
CONFIG_HAVE_ARCH_RANDOMIZE_KSTACK_OFFSET=n
CONFIG_NET=n
CONFIG_SOUND=n
CONFIG_NFS_V3_ACL=n
CONFIG_GENERIC_CALIBRATE_DELAY=n
CONFIG_NET_VENDOR_MICROSOFT=n
CONFIG_ARCH_WANT_LD_ORPHAN_WARN=n
CONFIG_INPUT_JOYSTICK=n
CONFIG_GENERIC_CPU_DEVICES=n
CONFIG_PCI_DOMAINS=n
CONFIG_DECOMPRESS_BZIP2=n
CONFIG_XFRM_ESP=n
CONFIG_X86_AMD_PSTATE=n
CONFIG_RD_GZIP=n
CONFIG_ATA=n
CONFIG_CRYPTO_KRB5=n
CONFIG_X86_REQUIRED_FEATURE_ALWAYS=n
CONFIG_PAGE_MAPCOUNT=n
CONFIG_X86_REROUTE_FOR_BROKEN_BOOT_IRQS=n
CONFIG_PNFS_BLOCK=n
CONFIG_BINFMT_MISC=n
CONFIG_GCC10_NO_ARRAY_BOUNDS=n
CONFIG_HAVE_ARCH_GET_SECUREBOOT=n
CONFIG_NETFILTER_XT_MARK=n
CONFIG_NF_LOG_IPV6=n
CONFIG_SPARSE_IRQ=n
CONFIG_SOFTIRQ_ON_OWN_STACK=n
CONFIG_CRYPTO_MANAGER=n
CONFIG_BLK_CGROUP_IOPRIO=n
CONFIG_RTC_DRV_CMOS=n
CONFIG_QFMT_V2=n
CONFIG_NET_VENDOR_WANGXUN=n
CONFIG_HAVE_PCI=n
CONFIG_ARCH_WANT_FRAME_POINTERS=n
CONFIG_XZ_DEC_SPARC=n
CONFIG_NET_VENDOR_CAVIUM=n
CONFIG_STACKDEPOT=n
CONFIG_MODULES=n
CONFIG_INTEL_TCC=n
CONFIG_NET_VENDOR_AQUANTIA=n
CONFIG_HAVE_ARCH_KFENCE=n
CONFIG_RPS=n
CONFIG_VIRTUALIZATION=n
CONFIG_HAVE_ARCH_KGDB=n
CONFIG_IP_PNP_RARP=n
CONFIG_DYNAMIC_EVENTS=n
CONFIG_SERIO_I8042=n
CONFIG_SBITMAP=n
CONFIG_X86_MCE=n
CONFIG_BITREVERSE=n
CONFIG_DQL=n
CONFIG_X86_CHECK_BIOS_CORRUPTION=n
CONFIG_EARLY_PRINTK_DBGP=n
CONFIG_XXHASH=n
CONFIG_NET_VENDOR_HUAWEI=n
CONFIG_ZISOFS=n
CONFIG_SERIAL_8250_CONSOLE=n
CONFIG_X86_ESPFIX32=n
CONFIG_GENERIC_EARLY_IOREMAP=n
CONFIG_I2C_I801=n
CONFIG_NET_VENDOR_SMSC=n
CONFIG_KVM_GUEST=n
CONFIG_VIRTIO_DMA_SHARED_BUFFER=n
CONFIG_LOCK_SPIN_ON_OWNER=n
CONFIG_MICROCODE_INITRD32=n
CONFIG_NO_HZ_IDLE=n
CONFIG_NET_SELFTESTS=n
CONFIG_ARCH_32BIT_OFF_T=n
CONFIG_PHY_PACKAGE=n
CONFIG_X86_DISABLED_FEATURE_PCID=n
CONFIG_ARCH_HAS_CPU_CACHE_INVALIDATE_MEMREGION=n
CONFIG_ADVISE_SYSCALLS=n
CONFIG_SYSFS=n
CONFIG_PM_SLEEP_DEBUG=n
CONFIG_FWNODE_MDIO=n
CONFIG_FS_POSIX_ACL=n
CONFIG_ARCH_SUPPORTS_SCHED_CLUSTER=n
CONFIG_ARCH_SUPPORTS_KEXEC_PURGATORY=n
CONFIG_OID_REGISTRY=n
CONFIG_YENTA_ENE_TUNE=n
CONFIG_RETHOOK=n
CONFIG_DRM_BRIDGE=n
CONFIG_NET_VENDOR_XILINX=n
CONFIG_CRC16=n
CONFIG_CGROUP_HUGETLB=n
CONFIG_CRYPTO_GENIV=n
CONFIG_HAVE_ATOMIC_IOMAP=n
CONFIG_AUDIT_GENERIC=n
CONFIG_X86_PM_TIMER=n
CONFIG_LZ4_COMPRESS=n
CONFIG_IP_MULTICAST=n
CONFIG_IRQ_DOMAIN=n
CONFIG_INPUT=n
CONFIG_X86_DISABLED_FEATURE_SYSCALL32=n
CONFIG_HAVE_IOREMAP_PROT=n
CONFIG_HAVE_ARCH_JUMP_LABEL_RELATIVE=n
CONFIG_NET_VENDOR_ENGLEDER=n
CONFIG_TREE_RCU=n
CONFIG_PERF_EVENTS_INTEL_RAPL=n
