CONFIG_ARCH_HIBERNATION_POSSIBLE=y
CONFIG_HAVE_BUILDTIME_MCOUNT_SORT=y
CONFIG_RTC_DRV_RX8111=y
CONFIG_LEDS_TRIGGER_TRANSIENT=y
CONFIG_POWER_RESET_MT6323=y
CONFIG_RTC_DRV_RS5C372=y
CONFIG_DEVFREQ_GOV_POWERSAVE=y
CONFIG_MTD_CFI_INTELEXT=y
CONFIG_CRYPTO_LIB_BLAKE2B=y
CONFIG_IPACK_BUS=y
CONFIG_FW_LOADER_SYSFS=y
CONFIG_REGULATOR_RT5190A=y
CONFIG_RD_GZIP=y
CONFIG_MOUSE_PS2_LOGIPS2PP=y
CONFIG_DEVFREQ_GOV_PASSIVE=y
CONFIG_MTD_UBI_FASTMAP=y
CONFIG_CRYPTO_LRW=y
CONFIG_ISL29020=y
CONFIG_APDS9802ALS=y
CONFIG_GPIO_WM8994=y
CONFIG_NVMEM_LAYOUT_SL28_VPD=y
CONFIG_TORTURE_TEST=y
CONFIG_SENSORS_OCC_P8_I2C=y
CONFIG_MOUSE_VSXXXAA=y
CONFIG_CRYPTO_KPP2=y
CONFIG_RTC_DRV_PALMAS=y
CONFIG_CRYPTO_LIB_GF128HASH=y
CONFIG_SENSORS_MAX16064=y
CONFIG_GPIO_SIFIVE=y
CONFIG_DEBUG_ATOMIC_SLEEP=y
CONFIG_PROC_MEM_ALWAYS_FORCE=y
CONFIG_LEDS_MAX77650=y
CONFIG_MFD_MAX77541=y
CONFIG_GENERIC_IRQ_MATRIX_ALLOCATOR=y
CONFIG_TEST_DIV64=y
CONFIG_GENERIC_IRQ_SHOW=y
CONFIG_GENERIC_EARLY_IOREMAP=y
CONFIG_EXPERT=y
CONFIG_GPIO_TWL4030=y
CONFIG_CPU_FREQ_DEFAULT_GOV_USERSPACE=y
CONFIG_GPIO_MENZ127=y
CONFIG_MCB_LPC=y
CONFIG_INPUT_CPCAP_PWRBUTTON=y
CONFIG_CGROUPS=y
CONFIG_RISCV_ISA_C=y
CONFIG_GOOGLE_FRAMEBUFFER_COREBOOT=y
CONFIG_SPI_BITBANG=y
CONFIG_LEDS_TRIGGERS=y
CONFIG_GPIO_MAX732X=y
CONFIG_RTC_DRV_MAX8925=y
CONFIG_GPIB_COMMON=y
CONFIG_HAVE_CONTEXT_TRACKING_USER=y
CONFIG_SENSORS_HTU31=y
CONFIG_CEC_NOTIFIER=y
CONFIG_UBIFS_FS_LZO=y
CONFIG_SENSORS_TMP102=y
CONFIG_ARCH_WANT_GENERAL_HUGETLB=y
CONFIG_MTD_GEN_PROBE=y
CONFIG_TICK_ONESHOT=y
CONFIG_SENSORS_TC74=y
CONFIG_SENSORS_TMP401=y
CONFIG_SENSORS_MAX6639=y
CONFIG_SENSORS_LM85=y
CONFIG_HWMON_VID=y
CONFIG_REGULATOR_STPMIC1=y
CONFIG_SERIAL_EARLYCON_SEMIHOST=y
CONFIG_CRYPTO_TWOFISH_COMMON=y
CONFIG_SIOX=y
CONFIG_ARCH_MICROCHIP_POLARFIRE=y
CONFIG_MFD_TPS6586X=y
CONFIG_MFD_ATC260X=y
CONFIG_VM_EVENT_COUNTERS=y
CONFIG_RCU_REF_SCALE_TEST=y
CONFIG_MHI_BUS=y
CONFIG_I2C_SMBUS=y
CONFIG_SENSORS_NPCM7XX=y
CONFIG_CC_HAS_ASSUME=y
CONFIG_SENSORS_IRPS5401=y
CONFIG_LEDS_BD2606MVV=y
CONFIG_SENSORS_W83793=y
CONFIG_HAVE_PAGE_SIZE_4KB=y
CONFIG_CPU_FREQ_GOV_CONSERVATIVE=y
CONFIG_I2C_AT91=y
CONFIG_SPI_MXIC=y
CONFIG_HSI=y
CONFIG_COMMON_CLK_SI521XX=y
CONFIG_MTD_CFI_UTIL=y
CONFIG_SERIAL_ALTERA_JTAGUART=y
CONFIG_LEDS_USER=y
CONFIG_SPI_ATMEL=y
CONFIG_BCMA_POSSIBLE=y
CONFIG_RESET_CONTROLLER=y
CONFIG_I2C_GPIO_FAULT_INJECTOR=y
CONFIG_HWMON_DEBUG_CHIP=y
CONFIG_ROMFS_FS=y
CONFIG_LEDS_RT8515=y
CONFIG_ARCH_TENSTORRENT=y
CONFIG_PHY_RCAR_GEN2=y
CONFIG_PROC_FS=y
CONFIG_HAVE_GCC_PLUGINS=y
CONFIG_REGULATOR_RT4803=y
CONFIG_DEBUG_VM_IRQSOFF=y
CONFIG_FAIR_GROUP_SCHED=y
CONFIG_FB_LITTLE_ENDIAN=y
CONFIG_CRC16=y
CONFIG_CORDIC=y
CONFIG_ARCH_STACKWALK=y
CONFIG_IPMI_SSIF=y
CONFIG_SENSORS_NCT7363=y
CONFIG_HRTIMER_REARM_DEFERRED=y
CONFIG_SERIAL_IPOCTAL=y
CONFIG_PSTORE_CONSOLE=y
CONFIG_SCF_TORTURE_TEST=y
CONFIG_BACKLIGHT_LM3630A=y
CONFIG_GPIO_LOGICVC=y
CONFIG_RISCV_SCALAR_MISALIGNED=y
CONFIG_PRINTK_INDEX=y
CONFIG_CRYPTO_KPP=y
CONFIG_FB_METRONOME=y
CONFIG_CONFIGFS_FS=y
CONFIG_CC_HAS_ASM_GOTO_TIED_OUTPUT=y
CONFIG_OF_KOBJ=y
CONFIG_MOUSE_PS2=y
CONFIG_RPMSG_VIRTIO=y
CONFIG_POLARFIRE_SOC_IRQ_MUX=y
CONFIG_SECTION_MISMATCH_WARN_ONLY=y
CONFIG_OF_FLATTREE=y
CONFIG_STMPE_SPI=y
CONFIG_INPUT_ATMEL_CAPTOUCH=y
CONFIG_SERIAL_MEN_Z135=y
CONFIG_DW_I3C_MASTER=y
CONFIG_SENSORS_GSC=y
CONFIG_ARCH_ULTRARISC=y
CONFIG_EXTCON_MAX77693=y
CONFIG_OPENSSL_SUPPORTS_ML_DSA=y
CONFIG_EVENTFD=y
CONFIG_GENERIC_PHY=y
CONFIG_GOOGLE_CBMEM=y
CONFIG_PHY_RCAR_GEN3_USB3=y
CONFIG_LEDS_TRIGGER_GPIO=y
CONFIG_DMAPOOL_TEST=y
CONFIG_ARCH_SUPPORTS_RT=y
CONFIG_SECURITY_DMESG_RESTRICT=y
CONFIG_FW_LOADER=y
CONFIG_MFD_AT91_USART=y
CONFIG_FLATMEM=y
CONFIG_COMMON_CLK_SI5351=y
CONFIG_CRYPTO_AEAD2=y
CONFIG_HAVE_KCSAN_COMPILER=y
CONFIG_GLOB=y
CONFIG_RUSTC_HAS_UNNECESSARY_TRANSMUTES=y
CONFIG_INTERVAL_TREE=y
CONFIG_RTC_DRV_X1205=y
CONFIG_REGULATOR_WM831X=y
CONFIG_NLS_KOI8_R=y
CONFIG_MFD_STMPE=y
CONFIG_DEBUG_MAPLE_TREE=y
CONFIG_MMU_LAZY_TLB_REFCOUNT=y
CONFIG_SENSORS_IR38064=y
CONFIG_MEMFD_CREATE=y
CONFIG_KEYS=y
CONFIG_REGMAP_I3C=y
CONFIG_MFD_MP2629=y
CONFIG_PERF_EVENTS=y
CONFIG_INPUT_ADXL34X_I2C=y
CONFIG_COMMON_CLK=y
CONFIG_MTD_NAND_DENALI=y
CONFIG_MFD_ARIZONA=y
CONFIG_REGULATOR_MAX8893=y
CONFIG_KALLSYMS_SELFTEST=y
CONFIG_KERNEL_GZIP=y
CONFIG_VCPU_STALL_DETECTOR=y
CONFIG_SENSORS_ADC128D818=y
CONFIG_REGULATOR_GPIO=y
CONFIG_VIDEO=y
CONFIG_CRYPTO_LZ4=y
CONFIG_FS_IOMAP=y
CONFIG_CC_HAS_ASM_GOTO_OUTPUT=y
CONFIG_RTC_DRV_WM831X=y
CONFIG_HAVE_ARCH_SECCOMP_FILTER=y
CONFIG_COMMON_CLK_MAX77686=y
CONFIG_ERRATA_ANDES_CMO=y
CONFIG_NLS_MAC_CYRILLIC=y
CONFIG_RT_GROUP_SCHED=y
CONFIG_PHY_CADENCE_DPHY_RX=y
CONFIG_MFD_MC13XXX=y
CONFIG_SENSORS_ADS7828=y
CONFIG_RISCV_ISA_FALLBACK=y
CONFIG_POWER_RESET_SYSCON=y
CONFIG_FHANDLE=y
CONFIG_RESET_SPACEMIT_K1=y
CONFIG_ASSOCIATIVE_ARRAY=y
CONFIG_PMIC_DA9052=y
CONFIG_COMMON_CLK_MAX9485=y
CONFIG_REGULATOR_DA9052=y
CONFIG_CC_NO_STRINGOP_OVERFLOW=y
CONFIG_FB_S1D13XXX=y
CONFIG_PAGE_SIZE_LESS_THAN_256KB=y
CONFIG_VHOST_CROSS_ENDIAN_LEGACY=y
CONFIG_FW_UPLOAD=y
CONFIG_MFD_MAX77650=y
CONFIG_LEDS_AN30259A=y
CONFIG_TEST_MEMCAT_P=y
CONFIG_SENSORS_STEF48H28=y
CONFIG_I2C_SLAVE_EEPROM=y
CONFIG_CRYPTO_LIB_SHA512=y
CONFIG_LEDS_MLXREG=y
CONFIG_MTD_CFI=y
CONFIG_GPIO_WM831X=y
CONFIG_SENSORS_LM70=y
CONFIG_CRYPTO_XXHASH=y
CONFIG_CRC4=y
CONFIG_MTD_SPI_NOR_SWP_KEEP=y
CONFIG_FB=y
CONFIG_MFD_SY7636A=y
CONFIG_LEDS_DA903X=y
CONFIG_MTD_UBI=y
CONFIG_MFD_KEMPLD=y
CONFIG_REED_SOLOMON_DEC16=y
CONFIG_MOUSE_SYNAPTICS_I2C=y
CONFIG_SENSORS_MENF21BMC_HWMON=y
CONFIG_CRYPTO_CAMELLIA=y
CONFIG_GPIO_SIM=y
CONFIG_ZERO_CALL_USED_REGS=y
CONFIG_CRYPTO_MANAGER=y
CONFIG_SENSORS_ISL68137=y
CONFIG_CLK_TWL=y
CONFIG_INPUT_MOUSEDEV=y
CONFIG_FRAMEBUFFER_CONSOLE=y
CONFIG_REGULATOR_DA9210=y
CONFIG_GPIB_FLUKE=y
CONFIG_MOUSE_ELAN_I2C_SMBUS=y
CONFIG_MTD_MAP_BANK_WIDTH_1=y
CONFIG_CRYPTO_ESSIV=y
CONFIG_PWM_RENESAS_TPU=y
CONFIG_LEDS_TRIGGER_ONESHOT=y
CONFIG_NVMEM_U_BOOT_ENV=y
CONFIG_SENSORS_LTC2947_SPI=y
CONFIG_ARCH_WANT_OPTIMIZE_HUGETLB_VMEMMAP=y
CONFIG_REGULATOR_SY8827N=y
CONFIG_NVMEM_SYSFS=y
CONFIG_ASYMMETRIC_KEY_TYPE=y
CONFIG_FB_SYS_FILLRECT=y
CONFIG_SENSORS_MAX31722=y
CONFIG_SENSORS_MP2888=y
CONFIG_MFD_CS47L85=y
CONFIG_SENSORS_MAX6620=y
CONFIG_BROKEN_ON_SMP=y
CONFIG_HAVE_KERNEL_BZIP2=y
CONFIG_MTD_UBI_NVMEM=y
CONFIG_LZ4_DECOMPRESS=y
CONFIG_SENSORS_TPS53679=y
CONFIG_CC_HAS_NO_PROFILE_FN_ATTR=y
CONFIG_ERRATA_ANDES=y
CONFIG_NSM=y
CONFIG_NVMEM_RMEM=y
CONFIG_RTC_DRV_S5M=y
CONFIG_COMMON_CLK_SI570=y
CONFIG_RTC_DRV_BQ32K=y
CONFIG_SENSORS_ADT7475=y
CONFIG_PINCTRL_LOCHNAGAR=y
CONFIG_FPGA_MGR_ICE40_SPI=y
CONFIG_XILINX_INTC=y
CONFIG_LEDS_BLINKM=y
CONFIG_DEBUG_RWSEMS=y
CONFIG_MFD_MAX14577=y
CONFIG_MFD_SEC_CORE=y
CONFIG_GPIO_MB86S7X=y
CONFIG_FB_VIRTUAL=y
CONFIG_MFD_PF1550=y
CONFIG_IPMI_HANDLER=y
CONFIG_PWM_CLK=y
CONFIG_TEST_RHASHTABLE=y
CONFIG_PWM_NTXEC=y
CONFIG_MPILIB=y
CONFIG_GPIO_TPS65912=y
CONFIG_GENERIC_CLOCKEVENTS=y
CONFIG_SENSORS_ZL6100=y
CONFIG_LIBFDT=y
CONFIG_STACKTRACE_BUILD_ID=y
CONFIG_REGULATOR_MP5416=y
CONFIG_PM_CLK=y
CONFIG_SENSORS_W83781D=y
CONFIG_FB_SYS_IMAGEBLIT=y
CONFIG_FB_SSD1307=y
CONFIG_EXTCON_SM5502=y
CONFIG_SENSORS_TSL2550=y
CONFIG_SENSORS_STPDDC60=y
CONFIG_I2C_RZV2M=y
CONFIG_UBIFS_FS_ZSTD=y
CONFIG_SENSORS_IR35221=y
CONFIG_HAVE_MOVE_PUD=y
CONFIG_EXTCON=y
CONFIG_ARCH_HAS_PREEMPT_LAZY=y
CONFIG_SCHED_INFO=y
CONFIG_RTC_DRV_DS17285=y
CONFIG_CRYPTO_CTS=y
CONFIG_LEDS_TRIGGER_TTY=y
CONFIG_I2CR_SCOM=y
CONFIG_HAVE_PREEMPT_DYNAMIC_KEY=y
CONFIG_REGULATOR_TPS65912=y
CONFIG_OF_RESERVED_MEM=y
CONFIG_PINCTRL_SX150X=y
CONFIG_SENSORS_INTEL_M10_BMC_HWMON=y
CONFIG_UBIFS_FS_AUTHENTICATION=y
CONFIG_HAVE_STACKPROTECTOR=y
CONFIG_REGULATOR_MAX14577=y
CONFIG_PSTORE_RAM=y
CONFIG_TIMER_OF=y
CONFIG_SENSORS_AS370=y
CONFIG_BACKLIGHT_LP8788=y
CONFIG_RISCV_ISA_VENDOR_EXT=y
CONFIG_PHY_SPACEMIT_K1_PCIE=y
CONFIG_INTERRUPT_CNT=y
CONFIG_INPUT_RETU_PWRBUTTON=y
CONFIG_CRYPTO_RNG=y
CONFIG_HAVE_MOVE_PMD=y
CONFIG_GENERIC_IRQ_SHOW_LEVEL=y
CONFIG_EXPORTFS_BLOCK_OPS=y
CONFIG_BLK_DEV_INITRD=y
CONFIG_GOOGLE_COREBOOT_TABLE=y
CONFIG_SENSORS_ADT7310=y
CONFIG_PHY_CADENCE_SIERRA=y
CONFIG_SENSORS_MAX31785=y
CONFIG_LCD_CLASS_DEVICE=y
CONFIG_CRYPTO_AKCIPHER=y
CONFIG_REGMAP_I2C=y
CONFIG_REGULATOR_PWM=y
CONFIG_LEDS_S2M_FLASH=y
CONFIG_DEBUG_INFO_SPLIT=y
CONFIG_RTC_DRV_TEST=y
CONFIG_XZ_DEC=y
CONFIG_GENERIC_PINMUX_FUNCTIONS=y
CONFIG_HAVE_ARCH_JUMP_LABEL_RELATIVE=y
CONFIG_FPGA_MGR_EFINIX_SPI=y
CONFIG_REGULATOR_WM8994=y
CONFIG_LTO_NONE=y
CONFIG_AS_IS_GNU=y
CONFIG_CLK_SOPHGO_CV1800=y
CONFIG_CRYPTO_SHA256=y
CONFIG_RTC_CLASS=y
CONFIG_INTEL_TH_PTI=y
CONFIG_CRYPTO_NULL=y
CONFIG_INIT_STACK_NONE=y
CONFIG_MFD_SIMPLE_MFD_I2C=y
CONFIG_BINFMT_SCRIPT=y
CONFIG_CRYPTO_JITTERENTROPY=y
CONFIG_REGULATOR_RAA215300=y
CONFIG_IRQ_MSI_LIB=y
CONFIG_FSNOTIFY=y
CONFIG_ROMFS_BACKED_BY_MTD=y
CONFIG_RISCV_SBI=y
CONFIG_LEDS_TRIGGER_PANIC=y
CONFIG_MOUSE_ELAN_I2C=y
CONFIG_SENSORS_XDPE1A2G7B=y
CONFIG_INPUT_MAX8925_ONKEY=y
CONFIG_SSIF_IPMI_BMC=y
CONFIG_PINCTRL_MICROCHIP_SGPIO=y
CONFIG_FS_STACK=y
CONFIG_CC_HAS_COUNTED_BY_PTR=y
CONFIG_EXTCON_MAX3355=y
CONFIG_FORTIFY_SOURCE=y
CONFIG_REGULATOR_RT6190=y
CONFIG_SENSORS_PT5161L=y
CONFIG_PINCTRL_SOPHGO_SG2042=y
CONFIG_MFD_MT6397=y
CONFIG_TEST_XARRAY=y
CONFIG_BINFMT_FLAT_NO_DATA_START_OFFSET=y
CONFIG_PM_GENERIC_DOMAINS_SLEEP=y
CONFIG_LEDS_LM3533=y
CONFIG_EXTCON_USB_GPIO=y
CONFIG_RTC_DRV_MCP795=y
CONFIG_DEBUG_LOCKING_API_SELFTESTS=y
CONFIG_GENERIC_PINCTRL=y
CONFIG_REGULATOR_PFUZE100=y
CONFIG_SSB_POSSIBLE=y
CONFIG_STM=y
CONFIG_MFD_DA9062=y
CONFIG_LEDS_TLC591XX=y
CONFIG_LEDS_LP55XX_COMMON=y
CONFIG_COMMON_CLK_S2MPS11=y
CONFIG_INPUT_IBM_PANEL=y
CONFIG_FB_SYS_COPYAREA=y
CONFIG_SENSORS_LM75=y
CONFIG_MTD_MAP_BANK_WIDTH_2=y
CONFIG_THREAD_INFO_IN_TASK=y
CONFIG_AX45MP_L2_CACHE=y
CONFIG_SPACEMIT_CCU=y
CONFIG_CRYPTO_MD5=y
CONFIG_CACHEMAINT_FOR_DMA=y
CONFIG_NLS_CODEPAGE_437=y
CONFIG_FS_ENCRYPTION=y
CONFIG_GCC_NO_STRINGOP_OVERFLOW=y
CONFIG_PM_WAKELOCKS=y
CONFIG_MFD_WM831X_SPI=y
CONFIG_RZ_MTU3_CNT=y
CONFIG_SENSORS_HIH6130=y
CONFIG_CLONE_BACKWARDS=y
CONFIG_REGULATOR_QCOM_PM8008=y
CONFIG_INPUT_SPARSEKMAP=y
CONFIG_NLS_CODEPAGE_936=y
CONFIG_SERIAL_SIFIVE=y
CONFIG_UNINLINE_SPIN_UNLOCK=y
CONFIG_GPIO_GENERIC=y
CONFIG_CRYPTO_SEQIV=y
CONFIG_DEBUG_RT_MUTEXES=y
CONFIG_TPS65010=y
CONFIG_SYSTEM_EXTRA_CERTIFICATE=y
CONFIG_CLZ_TAB=y
CONFIG_RTC_DRV_SD3078=y
CONFIG_CRYPTO_ECB=y
CONFIG_SPI_RZV2M_CSI=y
CONFIG_RTC_DRV_LP8788=y
CONFIG_SENSORS_LTC2945=y
CONFIG_CRYPTO_RNG2=y
CONFIG_SENSORS_SY7636A=y
CONFIG_RESET_TI_TPS380X=y
CONFIG_BCH=y
CONFIG_NVMEM_LAYOUT_U_BOOT_ENV=y
CONFIG_MFD_MADERA=y
CONFIG_TTY=y
CONFIG_COMMON_CLK_PWM=y
CONFIG_FB_BACKLIGHT=y
CONFIG_CONSOLE_TRANSLATIONS=y
CONFIG_CRYPTO_842=y
CONFIG_SENSORS_ADM1029=y
CONFIG_MFD_NTXEC=y
CONFIG_RUSTC_HAS_FILE_WITH_NUL=y
CONFIG_IRQ_WORK=y
CONFIG_PAGE_POISONING=y
CONFIG_RUNTIME_TESTING_MENU=y
CONFIG_CRYPTO_SKCIPHER2=y
CONFIG_GPIO_HLWD=y
CONFIG_HARDIRQS_SW_RESEND=y
CONFIG_CRYPTO_HASH2=y
CONFIG_842_COMPRESS=y
CONFIG_NLS=y
CONFIG_NO_HZ_COMMON=y
CONFIG_RTC_HCTOSYS=y
CONFIG_SENSORS_MPQ8785=y
CONFIG_COMMON_CLK_SI514=y
CONFIG_INPUT_GPIO_BEEPER=y
CONFIG_GPIB_NEC7210=y
CONFIG_HAVE_KERNEL_LZO=y
CONFIG_I3C_OR_I2C=y
CONFIG_NLS_MAC_ROMAN=y
CONFIG_HAVE_CLK=y
CONFIG_CC_HAS_SANE_FUNCTION_ALIGNMENT=y
CONFIG_BCM_KONA_USB2_PHY=y
CONFIG_HAVE_FUNCTION_ARG_ACCESS_API=y
CONFIG_LINEAR_RANGES=y
CONFIG_SMPRO_ERRMON=y
CONFIG_PREEMPT_BUILD=y
CONFIG_REGULATOR_MAX77620=y
CONFIG_PINCTRL_ULTRARISC_DP1000=y
CONFIG_STACKTRACE_SUPPORT=y
CONFIG_PM_GENERIC_DOMAINS=y
CONFIG_MTD_SPI_NOR_USE_4K_SECTORS=y
CONFIG_RC_CORE=y
CONFIG_FSI=y
CONFIG_GENERIC_ENTRY=y
CONFIG_DECOMPRESS_BZIP2=y
CONFIG_REGULATOR_PF0900=y
CONFIG_MCB=y
CONFIG_RT_GROUP_SCHED_DEFAULT_DISABLED=y
CONFIG_GPIO_CADENCE=y
CONFIG_GPIOLIB_IRQCHIP=y
CONFIG_SENSORS_LM95234=y
CONFIG_RUNTIME_KERNEL_TESTING_MENU=y
CONFIG_REGULATOR_RT4801=y
CONFIG_BACKLIGHT_KTD253=y
CONFIG_FB_CFB_IMAGEBLIT=y
CONFIG_ARCH_USE_SYM_ANNOTATIONS=y
CONFIG_GPIO_POLARFIRE_SOC=y
CONFIG_GPIO_CDEV=y
CONFIG_NLS_CODEPAGE_861=y
CONFIG_MTD_PLATRAM=y
CONFIG_PARPORT_1284=y
CONFIG_FW_CACHE=y
CONFIG_REGMAP_IRQ=y
CONFIG_SPI_DYNAMIC=y
CONFIG_TEST_DYNAMIC_DEBUG=y
CONFIG_EXCLUSIVE_SYSTEM_RAM=y
CONFIG_SERIAL_ATMEL_CONSOLE=y
CONFIG_HSI_BOARDINFO=y
CONFIG_PWM_MC33XS2410=y
CONFIG_FSI_MASTER_I2CR=y
CONFIG_ERRATA_THEAD=y
CONFIG_MFD_88PM800=y
CONFIG_FPGA=y
CONFIG_MTD_NAND_CADENCE=y
CONFIG_TPS6105X=y
CONFIG_VHOST_MENU=y
CONFIG_SENSORS_LTC2947=y
CONFIG_ECRYPT_FS_MESSAGING=y
CONFIG_SCHEDSTATS=y
CONFIG_RTC_I2C_AND_SPI=y
CONFIG_LITEX_SOC_CONTROLLER=y
CONFIG_PINCTRL_AS3722=y
CONFIG_SENSORS_PM6764TR=y
