CONFIG_SENSORS_AMC6821=n
CONFIG_NEED_PER_CPU_EMBED_FIRST_CHUNK=n
CONFIG_COMMON_CLK_MT8195_IPESYS=n
CONFIG_SYSC_R8A774E1=n
CONFIG_ARCH_R8A77960=n
CONFIG_PREVENT_FIRMWARE_BUILD=n
CONFIG_QCOM_QSEECOM=n
CONFIG_MEDIATEK_MT6577_AUXADC=n
CONFIG_GENERIC_CSUM=n
CONFIG_DRM_EXYNOS5433_DECON=n
CONFIG_CRC_ITU_T=n
CONFIG_RD_XZ=n
CONFIG_PREEMPTION=n
CONFIG_TEGRA210_ADMA=n
CONFIG_PCIEASPM_DEFAULT=n
CONFIG_CLK_RK3308=n
CONFIG_HAVE_KRETPROBES=n
CONFIG_PINCTRL_SM6350=n
CONFIG_GPIO_AGGREGATOR=n
CONFIG_VIDEOBUF2_V4L2=n
CONFIG_RENESAS_DMA=n
CONFIG_EPOLL=n
CONFIG_SND_HDA_CODEC_HDMI=n
CONFIG_COMMON_CLK_HI6220=n
CONFIG_RTC_DRV_RK808=n
CONFIG_CLK_QCM2290_GPUCC=n
CONFIG_VHOST_ENABLE_FORK_OWNER_CONTROL=n
CONFIG_CRYPTO_DEV_BCM_SPU=n
CONFIG_RZG2L_THERMAL=n
CONFIG_V4L2_MEM2MEM_DEV=n
CONFIG_BLK_DEV_MD=n
CONFIG_CROS_EC_SPI=n
CONFIG_AHCI_XGENE=n
CONFIG_HIBERNATION_COMP_LZO=n
CONFIG_RTC_DRV_BBNSM=n
CONFIG_COMMON_CLK_MT8196_MCUSYS=n
CONFIG_USB_F_ACM=n
CONFIG_FSL_RCPM=n
CONFIG_ARCH_WANT_COMPAT_IPC_PARSE_VERSION=n
CONFIG_BLK_DEV_INITRD=n
CONFIG_HAVE_GENERIC_VDSO=n
CONFIG_PINCTRL_TEGRA264=n
CONFIG_DECOMPRESS_ZSTD=n
CONFIG_GENERIC_ALLOCATOR=n
CONFIG_UACCE=n
CONFIG_MPL3115=n
CONFIG_TOUCHSCREEN_GOODIX=n
CONFIG_CROS_EC_UCSI=n
CONFIG_ATH10K_CE=n
CONFIG_CLK_GLYMUR_DISPCC=n
CONFIG_SUN6I_RTC_CCU=n
CONFIG_SATA_PMP=n
CONFIG_GPIO_VF610=n
CONFIG_LEDS_CROS_EC=n
CONFIG_DRM_TTM=n
CONFIG_SCSI_UFS_QCOM=n
CONFIG_SND_SUN4I_SPDIF=n
CONFIG_ARM_SCMI_POWER_DOMAIN=n
CONFIG_CMA=n
CONFIG_CRYPTO_SHA256=n
CONFIG_MMC_STM32_SDMMC=n
CONFIG_DRM_EXYNOS=n
CONFIG_NET_ACT_GATE=n
CONFIG_IP_VS=n
CONFIG_PWM_RENESAS_TPU=n
CONFIG_GENERIC_IRQ_IPI=n
CONFIG_XILINX_XADC=n
CONFIG_REGULATOR_VCTRL=n
CONFIG_I2C_EXYNOS5=n
CONFIG_BT_HCIUART=n
CONFIG_SCSI_MPT3SAS=n
CONFIG_SC_DISPCC_7280=n
CONFIG_HAVE_PERF_EVENTS=n
CONFIG_CLK_IMX93=n
CONFIG_SND_SUN4I_I2S=n
CONFIG_SPI_QUP=n
CONFIG_CLK_R8A774E1=n
CONFIG_QUEUED_RWLOCKS=n
CONFIG_CPU_MITIGATIONS=n
CONFIG_ARCH_SUPPORTS_LTO_CLANG=n
CONFIG_MVEBU_ICU=n
CONFIG_NET_NS=n
CONFIG_SND_SOC_IMX_PCM_DMA=n
CONFIG_LOCK_DEBUGGING_SUPPORT=n
CONFIG_GPIO_MACSMC=n
CONFIG_ARM_PSCI_CPUIDLE_DOMAIN=n
CONFIG_USB_F_OBEX=n
CONFIG_SM_DISPCC_8750=n
CONFIG_PINCTRL_IPQ5424=n
CONFIG_ARCH_HAS_TICK_BROADCAST=n
CONFIG_INTERCONNECT_QCOM_SM8150=n
CONFIG_I2C_BCM_IPROC=n
CONFIG_SPI_DESIGNWARE=n
CONFIG_SENSORS_INA3221=n
CONFIG_SND_SOC_LPASS_RX_MACRO=n
CONFIG_PCIE_ROCKCHIP_HOST=n
CONFIG_CPU_FREQ=n
CONFIG_CRYPTO_DEV_FSL_CAAM_PRNG_API=n
CONFIG_MHI_BUS_PCI_GENERIC=n
CONFIG_PCS_XPCS=n
CONFIG_XEN_PCI_STUB=n
CONFIG_CRC_T10DIF_ARCH=n
CONFIG_ARCH_R8A77970=n
CONFIG_TYPEC_TPS6598X=n
CONFIG_HAVE_LIVEPATCH=n
CONFIG_AIO=n
CONFIG_ARCH_SUPPORTS_DEBUG_PAGEALLOC=n
CONFIG_MACVLAN=n
CONFIG_DEVMEM=n
CONFIG_VM_EVENT_COUNTERS=n
CONFIG_DRM_MSM_MDP5=n
CONFIG_INTERCONNECT_QCOM_SM8650=n
CONFIG_CRYPTO_DEV_ZYNQMP_SHA3=n
CONFIG_ARCH_SUPPORTS_PAGE_TABLE_CHECK=n
CONFIG_BCM7038_L1_IRQ=n
CONFIG_CRYPTO_DEV_CCREE=n
CONFIG_SERIAL_SH_SCI=n
CONFIG_ARCH_TEGRA_264_SOC=n
CONFIG_TRACING_SUPPORT=n
CONFIG_MEDIA_TUNER_TDA18271=n
CONFIG_PINCTRL_MSM8916=n
CONFIG_QCOM_IOMMU=n
CONFIG_KEXEC_CORE=n
CONFIG_DMABUF_HEAPS_SYSTEM=n
CONFIG_DRM_DISPLAY_HDCP_HELPER=n
CONFIG_MAGIC_SYSRQ=n
CONFIG_SND_HDA_CODEC_HDMI_ATI=n
CONFIG_SM_VIDEOCC_8450=n
CONFIG_USB_XHCI_TEGRA=n
CONFIG_BLK_MQ_STACKING=n
CONFIG_ARCH_TEGRA_241_SOC=n
CONFIG_BLK_DEV_BSG=n
CONFIG_HAVE_ARCH_KASAN_HW_TAGS=n
CONFIG_TYPEC_MUX_IT5205=n
CONFIG_NEED_KVM_DIRTY_RING_WITH_BITMAP=n
CONFIG_DRM_IMX_DCSS=n
CONFIG_REGULATOR_QCOM_USB_VBUS=n
CONFIG_ZYNQMP_POWER=n
CONFIG_CRYPTO_DEV_FSL_CAAM_PKC_API=n
CONFIG_MOUSE_ELAN_I2C=n
CONFIG_POSIX_TIMERS=n
CONFIG_PINCTRL_IMX8MN=n
CONFIG_PINCTRL_MT8186=n
CONFIG_ARCH_SUPPORTS_CRASH_DUMP=n
CONFIG_CAN_M_CAN_PLATFORM=n
CONFIG_SOC_TEGRA_PMC=n
CONFIG_VIDEO_MEDIATEK_VCODEC_SCP=n
CONFIG_NPCM7XX_WATCHDOG=n
CONFIG_MARVELL_10G_PHY=n
CONFIG_CAN_DEV=n
CONFIG_MTK_REGULATOR_COUPLER=n
CONFIG_COMMON_CLK_MT8195=n
CONFIG_DWMAC_IPQ806X=n
CONFIG_SND_SOC_WCD938X_SDW=n
CONFIG_ASYMMETRIC_KEY_TYPE=n
CONFIG_TIMERFD=n
CONFIG_DEVFREQ_GOV_PASSIVE=n
CONFIG_SM_VIDEOCC_8250=n
CONFIG_PINCTRL_TEGRA=n
CONFIG_TI_K3_RINGACC=n
CONFIG_BLOCK=n
CONFIG_SND_SOC_TLV320AIC32X4_I2C=n
CONFIG_HNS3=n
CONFIG_QCOM_HIDMA_MGMT=n
CONFIG_SND_SOC_AK4613=n
CONFIG_SC_GCC_8180X=n
CONFIG_DRM_HDLCD=n
CONFIG_RZG3S_THERMAL=n
CONFIG_MOUSE_PS2=n
CONFIG_SERIAL_8250_EXAR=n
CONFIG_RESET_MESON_AUX=n
CONFIG_COMMON_CLK_HI3670=n
CONFIG_ARCH_MEDIATEK=n
CONFIG_INTERCONNECT_QCOM_MSM8953=n
CONFIG_SND_MESON_G12A_TOACODEC=n
CONFIG_ARM64_4K_PAGES=n
CONFIG_NLATTR=n
CONFIG_SERIAL_8250_OMAP_TTYO_FIXUP=n
CONFIG_SND_BCM2835_SOC_I2S=n
CONFIG_SC_GCC_8280XP=n
CONFIG_PINCTRL_MSM8996=n
CONFIG_K3_THERMAL=n
CONFIG_SND_MESON_AXG_TDM_INTERFACE=n
CONFIG_LEDS_TRIGGER_TIMER=n
CONFIG_FRAMEBUFFER_CONSOLE=n
CONFIG_WCN36XX=n
CONFIG_QCOM_TZMEM=n
CONFIG_PINCTRL_APPLE_GPIO=n
CONFIG_CRYPTO_SIG2=n
CONFIG_CRYPTO_KRB5=n
CONFIG_NF_DEFRAG_IPV4=n
CONFIG_BGMAC_PLATFORM=n
CONFIG_NET_FLOW_LIMIT=n
CONFIG_CRYPTO_GHASH_ARM64_CE=n
CONFIG_FPGA_MGR_ALTERA_CVP=n
CONFIG_PWM_XILINX=n
CONFIG_SPMI_MTK_PMIF=n
CONFIG_ARCH_BERLIN=n
CONFIG_COMMON_CLK_STM32MP215=n
CONFIG_DRM_CDNS_MHDP8546=n
CONFIG_NET_VENDOR_ALIBABA=n
CONFIG_QCOM_SPMI_VADC=n
CONFIG_LOCKD_V4=n
CONFIG_SND_SOC_IMX_AUDMIX=n
CONFIG_SYSCTL=n
CONFIG_PACKING=n
CONFIG_GUEST_PERF_EVENTS=n
CONFIG_DWMAC_SUN8I=n
CONFIG_EDAC_ZYNQMP=n
CONFIG_TCG_TIS_I2C_INFINEON=n
CONFIG_ACPI_DEBUG=n
CONFIG_LEDS_PWM=n
CONFIG_BUG=n
CONFIG_REGULATOR_PWM=n
CONFIG_INTERCONNECT_QCOM=n
CONFIG_ARCH_VEXPRESS=n
CONFIG_ARCH_SUPPORTS_PER_VMA_LOCK=n
CONFIG_TI_SCI_PM_DOMAINS=n
CONFIG_SND_SOC_WCD_CLASSH=n
CONFIG_ROCKCHIP_IOMMU=n
CONFIG_BRCMSTB_MEMC=n
CONFIG_PHY_SUN6I_MIPI_DPHY=n
CONFIG_NVMEM_QCOM_SEC_QFPROM=n
CONFIG_SND_SOC_ES7241=n
CONFIG_SND_SOC_SOF_MT8195=n
CONFIG_PINCTRL_PFC_R8A774E1=n
CONFIG_SMC91X=n
CONFIG_SND_SOC_TLV320AIC32X4=n
CONFIG_MUX_MMIO=n
CONFIG_VIDEO_HANTRO=n
CONFIG_CLK_R9A09G011=n
CONFIG_V4L2_JPEG_HELPER=n
CONFIG_USB_CHIPIDEA_UDC=n
CONFIG_PINCTRL_UNIPHIER_PXS3=n
CONFIG_QCOM_RPMHPD=n
CONFIG_GPIO_PCA953X=n
CONFIG_NO_HZ_IDLE=n
CONFIG_ATA_SFF=n
CONFIG_LS_EXTIRQ=n
CONFIG_COMMON_CLK_MT8365_CAM=n
CONFIG_XEN_XENBUS_FRONTEND=n
CONFIG_NFS_COMMON=n
CONFIG_ARCH_HAVE_ELF_PROT=n
CONFIG_COMMON_CLK_MT8183_CAMSYS=n
CONFIG_KEYBOARD_GPIO=n
CONFIG_COMMON_CLK_MT8196_IMP_IIC_WRAP=n
CONFIG_GPIO_TPS65219=n
CONFIG_PINCTRL_RENESAS=n
CONFIG_MACB=n
CONFIG_RD_BZIP2=n
CONFIG_OF_GPIO=n
CONFIG_DEBUG_INFO_REDUCED=n
CONFIG_SERIAL_AMBA_PL011=n
CONFIG_CLK_IMX95_BLK_CTL=n
CONFIG_RTC_DRV_TI_K3=n
CONFIG_SND_CTL_LED=n
CONFIG_COMMON_CLK_MT8195_SCP_ADSP=n
CONFIG_USB_RTL8153_ECM=n
CONFIG_SPI_BCM_QSPI=n
CONFIG_PINCTRL_EXYNOS=n
CONFIG_XILINX_PR_DECOUPLER=n
CONFIG_ARM_SPE_PMU=n
CONFIG_DRM_KOMEDA=n
CONFIG_I2C_RZV2M=n
CONFIG_COMMON_CLK_MT6795_VDECSYS=n
CONFIG_HAVE_MOVE_PMD=n
CONFIG_PCIE_ARMADA_8K=n
CONFIG_HVC_XEN_FRONTEND=n
CONFIG_ACPI_APEI_EINJ=n
CONFIG_COMMON_CLK_ASPEED=n
CONFIG_ATH_COMMON=n
CONFIG_MAILBOX=n
CONFIG_GENERIC_CPU_DEVICES=n
CONFIG_BATTERY_SBS=n
CONFIG_COMMON_CLK_MESON_AO_CLKC=n
CONFIG_PINCTRL_ARMADA_AP806=n
CONFIG_MMC_SDHCI_MSM=n
CONFIG_HZ_250=n
CONFIG_PCC=n
CONFIG_DRM_GPUVM=n
CONFIG_AT803X_PHY=n
CONFIG_DRM_GEM_DMA_HELPER=n
CONFIG_REGULATOR_BD9571MWV=n
CONFIG_SOC_IMX8M=n
CONFIG_SND_MESON_CARD_UTILS=n
CONFIG_S3C2410_WATCHDOG=n
CONFIG_DMA_OF=n
CONFIG_ARCH_ENABLE_HUGEPAGE_MIGRATION=n
CONFIG_USB_SNP_UDC_PLAT=n
CONFIG_PINCTRL_SOPHGO_COMMON=n
CONFIG_PCIEASPM=n
CONFIG_USB_NET_DM9601=n
CONFIG_ARCH_R8A78000=n
CONFIG_LZ4_COMPRESS=n
CONFIG_IWLWIFI_OPMODE_MODULAR=n
CONFIG_MEMORY_ISOLATION=n
CONFIG_TTY=n
CONFIG_CLK_R8A77980=n
CONFIG_STACKTRACE_SUPPORT=n
CONFIG_NVMEM_BCM_OCOTP=n
