CONFIG_TRUSTED_KEYS_TEE=y
CONFIG_MFD_WM8400=y
CONFIG_SCSI_STEX=y
CONFIG_MESON_DDR_PMU=y
CONFIG_LEDS_LP3944=y
CONFIG_SENSORS_EMC1403=y
CONFIG_NFC_MICROREAD=y
CONFIG_60XX_WDT=y
CONFIG_LRU_GEN=y
CONFIG_FORTIFY_SOURCE=y
CONFIG_VBOXGUEST=y
CONFIG_CRC8=y
CONFIG_ATCWDT200_WATCHDOG=y
CONFIG_NFC_S3FWRN5=y
CONFIG_LEDS_PCA9532=y
CONFIG_COMMON_CLK_MT8188_VDOSYS=y
CONFIG_TIMERFD=y
CONFIG_BPF_JIT=y
CONFIG_PHY_MTK_TPHY=y
CONFIG_NTSYNC=y
CONFIG_BT_HCIUART=y
CONFIG_GPIO_ASPEED_SGPIO=y
CONFIG_CRYPTO_CTR=y
CONFIG_WPCM450_SOC=y
CONFIG_CAN_BXCAN=y
CONFIG_ARCH_SUPPORTS_KEXEC_SIG_FORCE=y
CONFIG_I2C_MUX_MLXCPLD=y
CONFIG_JOYSTICK_FSIA6B=y
CONFIG_CLK_STARFIVE_JH71X0=y
CONFIG_NVMEM_SYSFS=y
CONFIG_CLK_RK3562=y
CONFIG_SENSORS_RASPBERRYPI_HWMON=y
CONFIG_LEDS_NIC78BX=y
CONFIG_RENESAS_RZV2HWDT=y
CONFIG_PWM_BRCMSTB=y
CONFIG_UX500_SOC_ID=y
CONFIG_MFD_TPS6594_I2C=y
CONFIG_PHYLIB_LEDS=y
CONFIG_NET_VENDOR_VIA=y
CONFIG_INPUT_CPCAP_PWRBUTTON=y
CONFIG_BT_MRVL=y
CONFIG_CRYPTO_BLOWFISH_COMMON=y
CONFIG_SCSI_LOWLEVEL_PCMCIA=y
CONFIG_PCIE_XILINX_CPM=y
CONFIG_ZLIB_DEFLATE=y
CONFIG_PINCTRL_MADERA=y
CONFIG_FPGA_MGR_XILINX_SPI=y
CONFIG_REGULATOR_RT5759=y
CONFIG_XZ_DEC_MICROLZMA=y
CONFIG_MTD_PMC551=y
CONFIG_SENSORS_LM93=y
CONFIG_MFD_SY7636A=y
CONFIG_CAN_M_CAN_TCAN4X5X=y
CONFIG_QCOM_PD_MAPPER=y
CONFIG_SENSORS_LTC4282=y
CONFIG_LEDS_TRIGGERS=y
CONFIG_PINCTRL_PFC_R8A77980=y
CONFIG_BT_HCIUART_H4=y
CONFIG_PINCTRL_BERLIN=y
CONFIG_PCI_BRIDGE_EMUL=y
CONFIG_PCI_MESON=y
CONFIG_BCM2835_TIMER=y
CONFIG_CPU_SUP_TRANSMETA_32=y
CONFIG_MTD_ABSENT=y
CONFIG_I2C_QUP=y
CONFIG_W1_SLAVE_DS2431=y
CONFIG_X86_SPEEDSTEP_ICH=y
CONFIG_MFD_MX25_TSADC=y
CONFIG_HAVE_GCC_PLUGINS=y
CONFIG_PINCTRL_RZG2L=y
CONFIG_MEDIATEK_GE_PHY=y
CONFIG_MICROCODE_INITRD32=y
CONFIG_LPC_SCH=y
CONFIG_REGULATOR_PWM=y
CONFIG_CRYPTO_CBC=y
CONFIG_LEDS_LM3642=y
CONFIG_TCG_TIS_SPI_CR50=y
CONFIG_PINCTRL_STM32MP135=y
CONFIG_KEYS=y
CONFIG_CRYPTO_LIB_AES_ARCH=y
CONFIG_CRYPTO_NULL=y
CONFIG_ADVANTECH_WDT=y
CONFIG_SENSORS_SHT15=y
CONFIG_ARCH_HAS_NON_OVERLAPPING_ADDRESS_SPACE=y
CONFIG_PACKING=y
CONFIG_PINCTRL_SDM845=y
CONFIG_MFD_DA9052_SPI=y
CONFIG_VGA_CONSOLE=y
CONFIG_MFD_QCOM_PM8008=y
CONFIG_HAVE_MIXED_BREAKPOINTS_REGS=y
CONFIG_PGTABLE_HAS_HUGE_LEAVES=y
CONFIG_NET_VENDOR_SILAN=y
CONFIG_FIREWIRE=y
CONFIG_CPUFREQ_DT_PLATDEV=y
CONFIG_I6300ESB_WDT=y
CONFIG_COMMON_CLK_MT2712_VDECSYS=y
CONFIG_GPIO_WM8350=y
CONFIG_NLS_MAC_CYRILLIC=y
CONFIG_PC300TOO=y
CONFIG_ARCH_SUPPORTS_LTO_CLANG=y
CONFIG_SENSORS_SBTSI=y
CONFIG_GPIO_PCA953X=y
CONFIG_IE6XX_WDT=y
CONFIG_NVMEM_LAYOUT_U_BOOT_ENV=y
CONFIG_IPACK_BUS=y
CONFIG_SENSORS_PECI=y
CONFIG_X86_16BIT=y
CONFIG_KIRKWOOD_THERMAL=y
CONFIG_JH71XX_PMU=y
CONFIG_MTRR=y
CONFIG_RZG2L_THERMAL=y
CONFIG_FIRMWARE_TABLE=y
CONFIG_GOOGLE_FIRMWARE=y
CONFIG_NVMEM_AN8855_EFUSE=y
CONFIG_MTD_DOCG3=y
CONFIG_SOPHGO_SG2044_TOPSYS=y
CONFIG_X86_USE_PPRO_CHECKSUM=y
CONFIG_VT_CONSOLE_SLEEP=y
CONFIG_SCSI_NSP32=y
CONFIG_SPI_AIROHA_SNFI=y
CONFIG_COMMON_CLK_STM32MP135=y
CONFIG_CRYPTO_MANAGER2=y
CONFIG_X86_DISABLED_FEATURE_CALL_DEPTH=y
CONFIG_CRYPTO_WP512=y
CONFIG_CONTIG_ALLOC=y
CONFIG_NET=y
CONFIG_GENERIC_PHY_MIPI_DPHY=y
CONFIG_PCIE_KEEMBAY=y
CONFIG_I2C_I801_MUX=y
CONFIG_SPI_DYNAMIC=y
CONFIG_I2C_RK3X=y
CONFIG_SBC7240_WDT=y
CONFIG_BCMA_POSSIBLE=y
CONFIG_POWER_RESET_ODROID_GO_ULTRA_POWEROFF=y
CONFIG_RESET_BRCMSTB_RESCAL=y
CONFIG_OA_TC6=y
CONFIG_GPIO_PISOSR=y
CONFIG_CORTINA_PHY=y
CONFIG_ARCH_HAVE_NMI_SAFE_CMPXCHG=y
CONFIG_COMMON_CLK_MT8183_AUDIOSYS=y
CONFIG_INPUT_PM8941_PWRKEY=y
CONFIG_PROC_SYSCTL=y
CONFIG_REGMAP_I3C=y
CONFIG_PPS_GENERATOR=y
CONFIG_DECOMPRESS_GZIP=y
CONFIG_OF_MDIO=y
CONFIG_ARCH_HAS_MEM_ENCRYPT=y
CONFIG_GPIO_MT7621=y
CONFIG_TREE_SRCU=y
CONFIG_PINCTRL_MT8135=y
CONFIG_CAN_SJA1000_ISA=y
CONFIG_BRCMSTB_DPFE=y
CONFIG_SPARSEMEM_STATIC=y
CONFIG_FPGA_MGR_SOCFPGA=y
CONFIG_SERIAL_ST_ASC_CONSOLE=y
CONFIG_RESET_ATH79=y
CONFIG_NFC_ST_NCI_SPI=y
CONFIG_LEDS_NS2=y
CONFIG_GPIO_PL061=y
CONFIG_TCG_TIS_I2C_CR50=y
CONFIG_REGULATOR_MT6363=y
CONFIG_LEDS_MLXREG=y
CONFIG_I2C_XILINX=y
CONFIG_SIGNALFD=y
CONFIG_VSOCKETS_DIAG=y
CONFIG_CLK_RASPBERRYPI=y
CONFIG_COMMON_CLK_MT8188_MFGCFG=y
CONFIG_LRU_GEN_WALKS_MMU=y
CONFIG_ATH10K_PCI=y
CONFIG_AGP_NVIDIA=y
CONFIG_SPI_SPRD_ADI=y
CONFIG_TMPFS=y
CONFIG_MFD_DA9062=y
CONFIG_HW_RANDOM_KEYSTONE=y
CONFIG_MESON_CANVAS=y
CONFIG_IMX_SCMI_CPU_EXT=y
CONFIG_GPIO_PMIC_EIC_SPRD=y
CONFIG_HAVE_DYNAMIC_FTRACE=y
CONFIG_OID_REGISTRY=y
CONFIG_SPI_QCOM_GENI=y
CONFIG_QCA808X_PHY=y
CONFIG_PINCTRL_MT8196=y
CONFIG_IOMMU_SUPPORT=y
CONFIG_BT_MTK=y
CONFIG_SUN50I_A64_CCU=y
CONFIG_PCS_XPCS=y
CONFIG_INGENIC_CGU_JZ4740=y
CONFIG_N_GSM=y
CONFIG_LMK04832=y
CONFIG_PINCTRL_GEMINILAKE=y
CONFIG_COMMON_CLK_RS9_PCIE=y
CONFIG_COMMON_CLK_CDCE925=y
CONFIG_INTEL_POWERCLAMP=y
CONFIG_CLK_STARFIVE_JH7110_AON=y
CONFIG_SERIAL_DEV_BUS=y
CONFIG_COMMON_CLK_MT6795_VDECSYS=y
CONFIG_ARM_TEGRA_DEVFREQ=y
CONFIG_SENSORS_LTC4215=y
CONFIG_CARDBUS=y
CONFIG_MFD_SYSCON=y
CONFIG_NCN26000_PHY=y
CONFIG_DA9062_THERMAL=y
CONFIG_SENSORS_ASC7621=y
CONFIG_MSDOS_PARTITION=y
CONFIG_I2C_VIRTIO=y
CONFIG_PINCTRL_PXA27X=y
CONFIG_W1_SLAVE_SMEM=y
CONFIG_SENSORS_ADT7475=y
CONFIG_IO_DELAY_UDELAY=y
CONFIG_SERIO_RAW=y
CONFIG_SENSORS_MAX6639=y
CONFIG_EEPROM_EE1004=y
CONFIG_JOYSTICK_ANALOG=y
CONFIG_PINCTRL_RZA1=y
CONFIG_LEDS_LP8860=y
CONFIG_COMMON_CLK_LOCHNAGAR=y
CONFIG_WLAN_VENDOR_BROADCOM=y
CONFIG_OVERLAY_FS_METACOPY=y
CONFIG_CRYPTO_LIB_AES_CBC_MACS=y
CONFIG_SERIAL_MILBEAUT_USIO=y
CONFIG_RESET_IMX7=y
CONFIG_XARRAY_MULTI=y
CONFIG_TICK_CPU_ACCOUNTING=y
CONFIG_PHANTOM=y
CONFIG_PHY_ROCKCHIP_INNO_CSIDPHY=y
CONFIG_INPUT_MAX7360_ROTARY=y
CONFIG_GPIO_SAMA5D2_PIOBU=y
CONFIG_PCIE_DW_HOST=y
CONFIG_MFD_SKY81452=y
CONFIG_COMEDI_NI_TIO=y
CONFIG_VIRTIO_ANCHOR=y
CONFIG_LEDS_CLASS=y
CONFIG_CRYPTO_XCBC=y
CONFIG_AIR_NET_PHYLIB=y
CONFIG_CPU_IDLE_GOV_MENU=y
CONFIG_JFS_FS=y
CONFIG_BT_BNEP=y
CONFIG_SERIAL_PCH_UART_CONSOLE=y
CONFIG_IRQ_POLL=y
CONFIG_GENERIC_CMOS_UPDATE=y
CONFIG_GPIB_TMS9914=y
CONFIG_PM_OPP=y
CONFIG_SERIAL_CORE_CONSOLE=y
CONFIG_EL3=y
CONFIG_W83877F_WDT=y
CONFIG_HIBERNATION=y
CONFIG_DEV_COREDUMP=y
CONFIG_RESET_SIMPLE=y
CONFIG_CONSOLE_TRANSLATIONS=y
CONFIG_PCIE_APPLE=y
CONFIG_LZO_DECOMPRESS=y
CONFIG_ARCH_32BIT_OFF_T=y
CONFIG_BATMAN_ADV_DEBUG=y
CONFIG_AS_IS_GNU=y
CONFIG_I2C_ALI1563=y
CONFIG_PINCTRL_MCP23S08=y
CONFIG_PWM_MXS=y
CONFIG_KMALLOC_PARTITION_RANDOM=y
CONFIG_OF_RESERVED_MEM=y
CONFIG_SENSORS_PWM_FAN=y
CONFIG_COMEDI_NI_MIO_CS=y
CONFIG_FWCTL=y
CONFIG_LEDS_BD2606MVV=y
CONFIG_REGULATOR_TI_ABB=y
CONFIG_CDNS_I3C_MASTER=y
CONFIG_REBOOT_MODE=y
CONFIG_RPMSG=y
CONFIG_CRYPTO_XCTR=y
CONFIG_SPI_IMG_SPFI=y
CONFIG_PHY_BRCM_SATA=y
CONFIG_COMEDI_8255=y
CONFIG_HAVE_KPROBES=y
CONFIG_SENSORS_LIS3_I2C=y
CONFIG_NFTL_RW=y
CONFIG_NET_VENDOR_NI=y
CONFIG_X86_TSC=y
CONFIG_PINCTRL_EMMITSBURG=y
CONFIG_SPI_ATCSPI200=y
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO=y
CONFIG_UNICODE=y
CONFIG_STACKTRACE_BUILD_ID=y
CONFIG_LIST_HARDENED=y
CONFIG_SENSORS_SMSC47M1=y
CONFIG_SENSORS_ASPEED=y
CONFIG_MOUSE_PS2_SMBUS=y
CONFIG_CLK_RK3576=y
CONFIG_GPIO_AMD8111=y
CONFIG_MFD_TI_LP873X=y
CONFIG_MMP_DISP=y
CONFIG_PHY_ROCKCHIP_SAMSUNG_DCPHY=y
CONFIG_SENSORS_HIH6130=y
CONFIG_SPMI_APPLE=y
CONFIG_NET_9P_DEBUG=y
CONFIG_CRYPTO_LZ4=y
CONFIG_MARVELL_88X2222_PHY=y
CONFIG_GPIO_ALTERA=y
CONFIG_PCI_DOMAINS=y
CONFIG_NLS_CODEPAGE_862=y
CONFIG_ARCH_SUPPORTS_CRASH_DUMP=y
CONFIG_PINCTRL_IMX_SCU=y
CONFIG_RESET_QCOM_PDC=y
CONFIG_TURRIS_MOX_RWTM=y
CONFIG_SENSORS_W83L785TS=y
CONFIG_MTD_HYPERBUS=y
CONFIG_QCOM_SPM=y
CONFIG_BT_HCIUART_ATH3K=y
CONFIG_HAVE_CMPXCHG_DOUBLE=y
CONFIG_PCI_QUIRKS=y
CONFIG_PINCTRL_MDM9607=y
CONFIG_BT_HCIUART_QCA=y
CONFIG_HNS3_PMU=y
CONFIG_RENESAS_RZA1_IRQC=y
CONFIG_STM=y
CONFIG_PHY_QCOM_EUSB2_REPEATER=y
CONFIG_NET_9P_FD=y
CONFIG_MTD_PHYSMAP_GPIO_ADDR=y
CONFIG_PWM_FSL_FTM=y
CONFIG_LEDS_NET48XX=y
CONFIG_VMWARE_VMCI=y
CONFIG_I2C_ALGOBIT=y
CONFIG_SPI_ROCKCHIP_SFC=y
CONFIG_GPIO_XGENE=y
CONFIG_PCIE_AL=y
CONFIG_SUN8I_A83T_CCU=y
CONFIG_PSE_REGULATOR=y
CONFIG_PINCTRL_PXA=y
CONFIG_HDLC_FR=y
CONFIG_COMEDI_TESTS=y
CONFIG_PINCTRL_IMX35=y
CONFIG_MTD_DATAFLASH=y
CONFIG_JZ4740_WDT=y
CONFIG_GPIO_MXC=y
CONFIG_SENSORS_SPD5118_DETECT=y
CONFIG_OF_ADDRESS=y
CONFIG_PHY_ROCKCHIP_INNO_DSIDPHY=y
CONFIG_IKCONFIG_PROC=y
CONFIG_ANDROID_BINDER_IPC=y
CONFIG_PREEMPT=y
CONFIG_BACKLIGHT_ARCXCNN=y
CONFIG_REGULATOR_TPS65219=y
CONFIG_PWM_IQS620A=y
CONFIG_PWM_RENESAS_RZG2L_GPT=y
CONFIG_NLS_UCS2_UTILS=y
CONFIG_OF_EARLY_FLATTREE=y
CONFIG_COMPILE_TEST=y
CONFIG_COMMON_CLK_MT8183_VENCSYS=y
CONFIG_SERIAL_ALTERA_UART=y
CONFIG_AS_WRUSS=y
CONFIG_INGENIC_TCU_IRQ=y
CONFIG_SENSORS_ADC128D818=y
CONFIG_LEDS_TPS6131X=y
CONFIG_X86_ESPFIX32=y
CONFIG_B43_BCMA=y
CONFIG_PHY_MIPHY28LP=y
CONFIG_PROVIDE_OHCI1394_DMA_INIT=y
CONFIG_PINCTRL_IMX51=y
CONFIG_JFS_STATISTICS=y
CONFIG_NVRAM=y
CONFIG_ARM_AIROHA_SOC_CPUFREQ=y
CONFIG_REGULATOR_GPIO=y
CONFIG_MTD_NAND_ECC=y
CONFIG_ARCH_HAS_PTDUMP=y
CONFIG_DMA_SHARED_BUFFER=y
CONFIG_X86_UP_IOAPIC=y
CONFIG_REGULATOR_MP8859=y
CONFIG_FWCTL_BNXT=y
CONFIG_SCSI_QLOGIC_1280=y
CONFIG_TYPHOON=y
CONFIG_NET_VENDOR_EZCHIP=y
CONFIG_LINEDISP=y
CONFIG_I2C_LS2X=y
CONFIG_X86_DISABLED_FEATURE_SGX=y
CONFIG_JOYSTICK_GRIP_MP=y
CONFIG_GENERIC_IRQ_DEBUGFS=y
CONFIG_FPGA_DFL=y
CONFIG_CRYPTO_CAMELLIA=y
CONFIG_LPC_ICH=y
CONFIG_HAVE_MOD_ARCH_SPECIFIC=y
CONFIG_SENSORS_LTC2947_SPI=y
CONFIG_IMX_IPUV3_CORE=y
CONFIG_COMMON_CLK_MT8173=y
CONFIG_TIFM_CORE=y
CONFIG_MFD_WM831X_SPI=y
CONFIG_DYNAMIC_DEBUG_CORE=y
CONFIG_INPUT_BMA150=y
CONFIG_ARCH_HAS_PREEMPT_LAZY=y
CONFIG_SCSI_BUSLOGIC=y
CONFIG_RT_MUTEXES=y
CONFIG_HISILICON_LPC=y
CONFIG_I2C_MLXCPLD=y
CONFIG_TQMX86_WDT=y
CONFIG_MXS_TIMER=y
CONFIG_CLK_SUNXI_CLOCKS=y
CONFIG_SCSI_VIRTIO=y
CONFIG_PINCTRL_AW9523=y
CONFIG_TRANSPARENT_HUGEPAGE_TMPFS_HUGE_ALWAYS=y
CONFIG_BCH_CONST_PARAMS=y
CONFIG_MFD_INTEL_QUARK_I2C_GPIO=y
CONFIG_GENERIC_BITREVERSE=y
CONFIG_LEDS_PCA963X=y
CONFIG_POWER_RESET_RESTART=y
CONFIG_SPI_CADENCE=y
CONFIG_SPI_UNIPHIER=y
CONFIG_SPI_SPRD=y
CONFIG_OPTEE_STATIC_PROTMEM_POOL=y
CONFIG_INTEL_MEI_WDT=y
CONFIG_COMMON_CLK_MT6795_MFGCFG=y
CONFIG_OPEN_DICE=y
CONFIG_HTE=y
CONFIG_MFD_SPMI_PMIC=y
CONFIG_ALIM7101_WDT=y
CONFIG_RPMSG_NS=y
CONFIG_REALTEK_OTTO_TIMER=y
CONFIG_FIREWIRE_OHCI=y
CONFIG_CPU_SUP_AMD=y
CONFIG_NLS_CODEPAGE_950=y
CONFIG_PHY_QCOM_USB_HS_28NM=y
CONFIG_PWM_STM32=y
CONFIG_PHY_QCOM_PCIE2=y
CONFIG_SERIAL_ALTERA_JTAGUART=y
CONFIG_W1=y
CONFIG_SPI_SUN4I=y
CONFIG_SPI_NPCM_PSPI=y
CONFIG_IOSF_MBI=y
CONFIG_PKCS7_MESSAGE_PARSER=y
CONFIG_BPF_SYSCALL=y
CONFIG_MIGRATION=y
CONFIG_COMMON_CLK_HI3798CV200=y
CONFIG_PCI_J721E_HOST=y
CONFIG_BACKLIGHT_RAVE_SP=y
CONFIG_MFD_ATC260X_I2C=y
CONFIG_NLS_ISO8859_14=y
CONFIG_WATCHDOG_PRETIMEOUT_GOV=y
CONFIG_USB_OHCI_LITTLE_ENDIAN=y
CONFIG_PINCTRL_SOPHGO_SG2042=y
CONFIG_WATCHDOG_SYSFS=y
CONFIG_CRYPTO_ADIANTUM=y
CONFIG_PCIE_RCAR_HOST=y
CONFIG_PHY_MIXEL_LVDS_PHY=y
CONFIG_I2C_QCOM_GENI=y
CONFIG_QRTR_MHI=y
CONFIG_X86_MCE_THRESHOLD=y
CONFIG_CHARGER_RT9756=y
CONFIG_BACKLIGHT_ADP8860=y
CONFIG_CRYPTO_SERPENT=y
CONFIG_DPLL=y
CONFIG_PINCONF=y
CONFIG_LLC=y
CONFIG_MTD_UBI_NVMEM=y
CONFIG_USB4=y
CONFIG_IWL3945=y
CONFIG_HW_RANDOM_HISI=y
CONFIG_ARCH_FLATMEM_ENABLE=y
CONFIG_AD525X_DPOT_SPI=y
CONFIG_REGULATOR_SY8824X=y
CONFIG_GENERIC_PINCONF=y
CONFIG_PWM_MESON=y
CONFIG_PM_TRACE_RTC=y
CONFIG_REGULATOR_88PG86X=y
CONFIG_MTD_SST25L=y
CONFIG_REGULATOR_RTQ6752=y
CONFIG_AGP=y
CONFIG_ATH11K_DEBUGFS=y
CONFIG_MICROSEMI_PHY=y
CONFIG_PCIE_BRCMSTB=y
CONFIG_PWM_AXI_PWMGEN=y
CONFIG_CLK_SUNXI=y
CONFIG_BATTERY_S2MU005=y
CONFIG_KMAP_LOCAL=y
CONFIG_SENSORS_LOCHNAGAR=y
CONFIG_BCM7038_WDT=y
CONFIG_NET_VENDOR_FUNGIBLE=y
CONFIG_CFG80211_REQUIRE_SIGNED_REGDB=y
CONFIG_GPIO_RDC321X=y
CONFIG_FPGA_MGR_XILINX_SELECTMAP=y
CONFIG_HAVE_SOFTIRQ_ON_OWN_STACK=y
CONFIG_ARCH_HAS_SET_DIRECT_MAP=y
CONFIG_MFD_TPS65217=y
CONFIG_MFD_NTXEC=y
CONFIG_FSI_MASTER_I2CR=y
CONFIG_CXL_PORT=y
CONFIG_RFKILL_INPUT=y
CONFIG_OWL_TIMER=y
CONFIG_REGULATOR_STM32_BOOSTER=y
CONFIG_MESON_GXL_PHY=y
CONFIG_STARFIVE_WATCHDOG=y
CONFIG_CRYPTO_AES=y
CONFIG_PINCTRL_PFC_R8A7742=y
CONFIG_MFD_TIMBERDALE=y
CONFIG_PCI_HOST_COMMON=y
CONFIG_JFS_POSIX_ACL=y
CONFIG_X86_BOOTPARAM_MEMORY_CORRUPTION_CHECK=y
CONFIG_PSI=y
CONFIG_FTWDT010_WATCHDOG=y
CONFIG_BGMAC=y
CONFIG_REMOTE_TARGET=y
CONFIG_QCOM_LMH=y
CONFIG_RESET_MESON_AUDIO_ARB=y
CONFIG_ARCH_WANT_IRQS_OFF_ACTIVATE_MM=y
CONFIG_GXP_TIMER=y
