CONFIG_CLK_R8A77960=n
CONFIG_SND_SOC_TLV320AIC31XX=n
CONFIG_NETWORK_FILESYSTEMS=n
CONFIG_CLK_IMX93=n
CONFIG_FONT_SUPPORT=n
CONFIG_ARCH_RZG2L=n
CONFIG_NET_DSA_TAG_BRCM=n
CONFIG_BRIDGE=n
CONFIG_MTD_HYPERBUS=n
CONFIG_SERIAL_MSM=n
CONFIG_MT76_CORE=n
CONFIG_CLK_R9A09G057=n
CONFIG_ARCH_BCM=n
CONFIG_MEDIA_TUNER_TDA8290=n
CONFIG_UNIPHIER_WATCHDOG=n
CONFIG_CLK_GLYMUR_GCC=n
CONFIG_SENSORS_CROS_EC=n
CONFIG_CHARGER_CROS_PCHG=n
CONFIG_COMMON_CLK_MESON_DUALDIV=n
CONFIG_GENERIC_IRQ_EFFECTIVE_AFF_MASK=n
CONFIG_SND_SOC_MT8183_MT6358_TS3A227E_MAX98357A=n
CONFIG_QCOM_RPROC_COMMON=n
CONFIG_ARM64_ERRATUM_2645198=n
CONFIG_RESET_ZYNQMP=n
CONFIG_PWM_STM32=n
CONFIG_MOUSE_PS2_SYNAPTICS_SMBUS=n
CONFIG_ARCH_ALPINE=n
CONFIG_LEDS_TRIGGERS=n
CONFIG_CROS_TYPEC_SWITCH=n
CONFIG_USB_CDNS3_IMX=n
CONFIG_HAVE_GUP_FAST=n
CONFIG_NET_VENDOR_QUALCOMM=n
CONFIG_PCI_ECAM=n
CONFIG_PCIE_XILINX_DMA_PL=n
CONFIG_HAVE_IOREMAP_PROT=n
CONFIG_PHY_MVEBU_CP110_COMPHY=n
CONFIG_VIDEOBUF2_VMALLOC=n
CONFIG_PINCTRL_SM8550_LPASS_LPI=n
CONFIG_GPIO_DAVINCI=n
CONFIG_PHY_MESON_AXG_MIPI_PCIE_ANALOG=n
CONFIG_HNS=n
CONFIG_NET_XGRESS=n
CONFIG_COMMON_CLK_MT8195_SCP_ADSP=n
CONFIG_PCI_MSI=n
CONFIG_ARM64_ERRATUM_2077057=n
CONFIG_VIRTIO_PCI_LIB=n
CONFIG_CLK_OWL_S700=n
CONFIG_COMMON_CLK_HI3519=n
CONFIG_PINCTRL_STM32_HDP=n
CONFIG_ARCH_KEEP_MEMBLOCK=n
CONFIG_POLARFIRE_SOC_SYSCONS=n
CONFIG_UCS2_STRING=n
CONFIG_ARCH_ENABLE_THP_MIGRATION=n
CONFIG_VIDEO_MESON_VDEC=n
CONFIG_XZ_DEC_RISCV=n
CONFIG_HARDIRQS_SW_RESEND=n
CONFIG_SLIMBUS=n
CONFIG_GNSS_SERIAL=n
CONFIG_CLK_R9A09G011=n
CONFIG_USB_NET_NET1080=n
CONFIG_ZYNQMP_FIRMWARE=n
CONFIG_DW_EDMA=n
CONFIG_SND_SOC_MT8365=n
CONFIG_BUILTIN_RETURN_ADDRESS_STRIPS_PAC=n
CONFIG_PCIE_MEDIATEK_GEN3=n
CONFIG_GPIO_VISCONTI=n
CONFIG_KVM_MMIO=n
CONFIG_RST_RCAR=n
CONFIG_DWMAC_GENERIC=n
CONFIG_HNS3=n
CONFIG_MFD_MACSMC=n
CONFIG_HAVE_PWRCTRL=n
CONFIG_CLK_RK3576=n
CONFIG_INTERCONNECT_QCOM_MILOS=n
CONFIG_PHY_BCM_SR_USB=n
CONFIG_CRYPTO_DEV_ZYNQMP_AES=n
CONFIG_INTERCONNECT_QCOM_QCS615=n
CONFIG_DRM_DW_DP=n
CONFIG_MFD_TI_LP873X=n
CONFIG_PINCTRL_SDM660=n
CONFIG_DWMAC_SOPHGO=n
CONFIG_DRM_PANFROST=n
CONFIG_ARM_QCOM_CPUFREQ_HW=n
CONFIG_PAHOLE_HAS_LANG_EXCLUDE=n
CONFIG_ARCH_WANTS_THP_SWAP=n
CONFIG_DWMAC_SUN8I=n
CONFIG_RTC_LIB=n
CONFIG_QCOM_MDT_LOADER=n
CONFIG_ARCH_R9A09G011=n
CONFIG_RPCSEC_GSS_KRB5=n
CONFIG_RCAR_GEN3_THERMAL=n
CONFIG_BLK_MQ_STACKING=n
CONFIG_PINCTRL_STM32=n
CONFIG_CLK_R8A774B1=n
CONFIG_MFD_RK8XX_SPI=n
CONFIG_DRM_HISI_KIRIN=n
CONFIG_ARCH_HAS_DMA_OPS=n
CONFIG_ARM64_ERRATUM_4193714=n
CONFIG_BACKLIGHT_QCOM_WLED=n
CONFIG_ARCH_R8A77965=n
CONFIG_REMOTEPROC=n
CONFIG_COMMON_CLK_MT8192_VENCSYS=n
CONFIG_V4L2_ASYNC=n
CONFIG_QUEUED_RWLOCKS=n
CONFIG_AS_HAS_NON_CONST_ULEB128=n
CONFIG_ARM64_WORKAROUND_REPEAT_TLBI=n
CONFIG_LD_IS_BFD=n
CONFIG_COMMON_CLK_MT8196_IMP_IIC_WRAP=n
CONFIG_BLK_DEV_BSGLIB=n
CONFIG_EVENTFD=n
CONFIG_ARCH_LAYERSCAPE=n
CONFIG_KUSER_HELPERS=n
CONFIG_FSL_XGMAC_MDIO=n
CONFIG_PHY_HI6220_USB=n
CONFIG_RPMSG_QCOM_GLINK_RPM=n
CONFIG_DECOMPRESS_BZIP2=n
CONFIG_SND_SOC_LPASS_CPU=n
CONFIG_CRYPTO_DEV_ZYNQMP_SHA3=n
CONFIG_NET_VENDOR_SOCIONEXT=n
CONFIG_PINCTRL_MILOS=n
CONFIG_BRCMSTB_L2_IRQ=n
CONFIG_PINCTRL_SM8250=n
CONFIG_SERIAL_8250_CONSOLE=n
CONFIG_SND_HDA_COMPONENT=n
CONFIG_COMMON_CLK_XGENE=n
CONFIG_SYSC_R8A779A0=n
CONFIG_SERIAL_8250_UNIPHIER=n
CONFIG_ARM_SBSA_WATCHDOG=n
CONFIG_SECURITYFS=n
CONFIG_MPL3115=n
CONFIG_REGULATOR_MT6360=n
CONFIG_CLK_RV1126B=n
CONFIG_USB_ONBOARD_DEV=n
CONFIG_PINCTRL_SUN55I_A523_R=n
CONFIG_CLK_GFM_LPASS_SM8250=n
CONFIG_NET_VENDOR_I825XX=n
CONFIG_GPIO_VF610=n
CONFIG_UTS_NS=n
CONFIG_SND_HDA_ALIGNED_MMIO=n
CONFIG_E1000E=n
CONFIG_DRM_CDNS_DSI=n
CONFIG_HI6220_MBOX=n
CONFIG_SND_SOC_SOF_MT8186=n
CONFIG_TASK_IO_ACCOUNTING=n
CONFIG_AUDITSYSCALL=n
CONFIG_UNINLINE_SPIN_UNLOCK=n
CONFIG_TEGRA_IVC=n
CONFIG_AQUANTIA_PHY=n
CONFIG_SSB_POSSIBLE=n
CONFIG_SCHED_AUTOGROUP=n
CONFIG_NET_SCH_INGRESS=n
CONFIG_SCHED_HRTICK=n
CONFIG_USB_PHY=n
CONFIG_ARCH_HAS_PKEYS=n
CONFIG_ARCH_SUSPEND_POSSIBLE=n
CONFIG_ARCH_HAS_MEM_ENCRYPT=n
CONFIG_DRM_FBDEV_EMULATION=n
CONFIG_E1000=n
CONFIG_USB_CONFIGFS_F_FS=n
CONFIG_NET_CLS_FLOWER=n
CONFIG_ARM64_ERRATUM_826319=n
CONFIG_PCI_XGENE=n
CONFIG_PHY_HISI_INNO_USB2=n
CONFIG_COMMON_CLK_MT8173=n
CONFIG_QCOM_SPMI_TEMP_ALARM=n
CONFIG_NVIDIA_CORESIGHT_PMU_ARCH_SYSTEM_PMU=n
CONFIG_DRM_V3D=n
CONFIG_PINCTRL_SC7180=n
CONFIG_PINCTRL_MT6795=n
CONFIG_USB_NET_DRIVERS=n
CONFIG_PWM_VISCONTI=n
CONFIG_COMMON_CLK_MT8195_CAMSYS=n
CONFIG_IPC_NS=n
CONFIG_MTD_NAND_DENALI=n
CONFIG_CROS_EC_SENSORHUB=n
CONFIG_TI_SCI_INTA_MSI_DOMAIN=n
CONFIG_USB_CHIPIDEA_MSM=n
CONFIG_NET_VENDOR_AMAZON=n
CONFIG_VIDEO_CAMERA_LENS=n
CONFIG_FIRMWARE_TABLE=n
CONFIG_CRYPTO_LIB_SHA3=n
CONFIG_INTERCONNECT_IMX8MP=n
CONFIG_FB_DMAMEM_HELPERS_DEFERRED=n
CONFIG_SCSI_LOWLEVEL=n
CONFIG_CPU_FREQ_GOV_COMMON=n
CONFIG_SND_SOC_SOF_OF=n
CONFIG_NF_DEFRAG_IPV4=n
CONFIG_HID_SUPPORT=n
CONFIG_DRM_MSM_DSI_28NM_8960_PHY=n
CONFIG_MLX5_HW_STEERING=n
CONFIG_SC_DISPCC_7280=n
CONFIG_CRYPTO_SKCIPHER=n
CONFIG_SYSTEM_DATA_VERIFICATION=n
CONFIG_DRM_CLIENT_SELECTION=n
CONFIG_NFS_FS=n
CONFIG_SYSC_R8A77980=n
CONFIG_HAS_DMA=n
CONFIG_ARCH_ROCKCHIP=n
CONFIG_SND_AUDIO_GRAPH_CARD2=n
CONFIG_RTC_DRV_ARMADA38X=n
CONFIG_CLK_ACTIONS=n
CONFIG_CC_HAS_ASM_INLINE=n
CONFIG_CRYPTO_LIB_AES=n
CONFIG_ARM_ARCH_TIMER_OOL_WORKAROUND=n
CONFIG_PCS_XPCS=n
CONFIG_REGULATOR_MT6315=n
CONFIG_HISILICON_IRQ_MBIGEN=n
CONFIG_SPI_MTK_NOR=n
CONFIG_MV_XOR_V2=n
CONFIG_SERIAL_BCM63XX=n
CONFIG_MTK_CMDQ_MBOX=n
CONFIG_PHY_QCOM_EDP=n
CONFIG_USB_ISP1760=n
CONFIG_COMMON_CLK_VISCONTI=n
CONFIG_ARCH_TESLA_FSD=n
CONFIG_ACPI_CCA_REQUIRED=n
CONFIG_CAN_CALC_BITTIMING=n
CONFIG_MHI_WWAN_CTRL=n
CONFIG_ARM_CORESIGHT_PMU_ARCH_SYSTEM_PMU=n
CONFIG_DRM_PANEL_KHADAS_TS050=n
CONFIG_USB_CDNS3=n
CONFIG_LEGACY_TIOCSTI=n
CONFIG_OF_RESOLVE=n
CONFIG_PINCTRL_IMX91=n
CONFIG_EXYNOS_AUDSS_CLK_CON=n
CONFIG_PRINTK_TIME=n
CONFIG_SYS_SUPPORTS_SH_CMT=n
CONFIG_SC_GCC_7180=n
CONFIG_IRQ_DOMAIN=n
CONFIG_PINCTRL_PFC_R8A779F0=n
CONFIG_MESON_SM=n
CONFIG_QCOM_AOSS_QMP=n
CONFIG_MMC_SDHCI_F_SDH30=n
CONFIG_PINCTRL_MSM8953=n
CONFIG_POWER_RESET_BRCMSTB=n
CONFIG_BLK_DEV_NVME=n
CONFIG_HWSPINLOCK=n
CONFIG_DRM_MSM_DP=n
CONFIG_SYSC_R8A77961=n
CONFIG_PCI_J721E=n
CONFIG_EXTCON_USB_GPIO=n
CONFIG_CFG80211_CRDA_SUPPORT=n
CONFIG_SND_SOC_MT8195_MT6359=n
CONFIG_SYSCTL_EXCEPTION_TRACE=n
CONFIG_VIDEO_RCAR_ISP=n
CONFIG_ACPI_PPTT=n
CONFIG_COMMON_CLK_MT8186_MMSYS=n
CONFIG_RTC_DRV_S3C=n
CONFIG_ACPI_FAN=n
CONFIG_PM_DEVFREQ_EVENT=n
CONFIG_BPF_JIT_DEFAULT_ON=n
CONFIG_IRQ_DOMAIN_HIERARCHY=n
CONFIG_ATA_FORCE=n
CONFIG_XARRAY_MULTI=n
CONFIG_USB_NET_ZAURUS=n
CONFIG_XPS=n
CONFIG_ARCH_R8A779F0=n
CONFIG_DMA_NEED_SYNC=n
CONFIG_MEDIA_DIGITAL_TV_SUPPORT=n
CONFIG_MFD_TPS6594=n
CONFIG_SND_SOC_LPASS_SC7180=n
CONFIG_TRANSPARENT_HUGEPAGE_TMPFS_HUGE_NEVER=n
CONFIG_PINCTRL_MT6765=n
CONFIG_CORESIGHT_CATU=n
CONFIG_SYSC_R8A774A1=n
CONFIG_SND_PROC_FS=n
CONFIG_COMMON_CLK_IPROC=n
CONFIG_SND_SOC_RL6231=n
CONFIG_QCOM_QDF2400_ERRATUM_0065=n
CONFIG_GPIOLIB_LEGACY=n
CONFIG_USB_XHCI_PCI_RENESAS=n
CONFIG_SND_SOC_WCD934X=n
CONFIG_PCIE_ROCKCHIP_HOST=n
CONFIG_SND_HDA_CODEC_HDMI_NVIDIA_MCP=n
CONFIG_MOUSE_ELAN_I2C=n
CONFIG_USB_DWC3_EXYNOS=n
CONFIG_VIDEOBUF2_DMA_SG=n
CONFIG_PINCTRL_SM8450=n
CONFIG_SND_SOC_RCAR=n
CONFIG_PINCTRL_MT8192=n
CONFIG_SBITMAP=n
CONFIG_SND_SOC_TI_SDMA_PCM=n
CONFIG_SND_SOC_CROS_EC_CODEC=n
CONFIG_MESON_SECURE_PM_DOMAINS=n
CONFIG_HUGETLB_PAGE=n
CONFIG_RESET_NPCM=n
CONFIG_SOUNDWIRE=n
CONFIG_ROCKCHIP_PM_DOMAINS=n
CONFIG_BT_HCIRSI=n
CONFIG_SERIAL_8250_DMA=n
CONFIG_PHY_ROCKCHIP_NANENG_COMBO_PHY=n
CONFIG_BCM74110_MAILBOX=n
CONFIG_DEVTMPFS=n
CONFIG_MMU_GATHER_RCU_TABLE_FREE=n
CONFIG_WATCHDOG_HANDLE_BOOT_ENABLED=n
CONFIG_MMC_UNIPHIER=n
CONFIG_DEBUG_INFO=n
CONFIG_PCIE_CADENCE=n
CONFIG_BT_LEDS=n
CONFIG_DMA_OPS_HELPERS=n
