CONFIG_ARM64_ERRATUM_1286807=y
CONFIG_CRYPTO_SKCIPHER2=y
CONFIG_BMA220_I2C=y
CONFIG_ARCH_HAS_SET_MEMORY=y
CONFIG_CRYPTO_KPP=y
CONFIG_EXCLUSIVE_SYSTEM_RAM=y
CONFIG_CRYPTO_SHA1=y
CONFIG_AXP288_ADC=y
CONFIG_RESET_GPIO=y
CONFIG_OF_KOBJ=y
CONFIG_BLK_DEV_WRITE_MOUNTED=y
CONFIG_LEDS_LP5569=y
CONFIG_BATTERY_DS2781=y
CONFIG_W1_SLAVE_DS2433_CRC=y
CONFIG_CHARGER_SC2731=y
CONFIG_I2C_BCM_IPROC=y
CONFIG_BACKLIGHT_CLASS_DEVICE=y
CONFIG_HAVE_PERF_USER_STACK_DUMP=y
CONFIG_GENERIC_IRQ_EFFECTIVE_AFF_MASK=y
CONFIG_IPQ_GCC_5018=y
CONFIG_STM32_DMA=y
CONFIG_REGULATOR_MC13783=y
CONFIG_ARCH_HAS_TICK_BROADCAST=y
CONFIG_GENERIC_NET_UTILS=y
CONFIG_PINCTRL_MLXBF3=y
CONFIG_ATMEL_SSC=y
CONFIG_PHY_CADENCE_SIERRA=y
CONFIG_QCOM_CLK_APCS_MSM8916=y
CONFIG_AD9467=y
CONFIG_KPSS_XCC=y
CONFIG_LEDS_LM3530=y
CONFIG_NLS_CODEPAGE_1250=y
CONFIG_CCS811=y
CONFIG_PINCTRL_MT6779=y
CONFIG_REGULATOR_TPS65185=y
CONFIG_GPIO_ARIZONA=y
CONFIG_SENSORS_BH1770=y
CONFIG_PINCTRL_MT8135=y
CONFIG_ARCH_HAS_DMA_PREP_COHERENT=y
CONFIG_GENERIC_ADC_BATTERY=y
CONFIG_BH1745=y
CONFIG_AD7746=y
CONFIG_HAVE_SCHED_AVG_IRQ=y
CONFIG_SC_CAMCC_7280=y
CONFIG_GENERIC_PHY_MIPI_DPHY=y
CONFIG_ARM_SCMI_PROTOCOL=y
CONFIG_MFD_TPS65218=y
CONFIG_I2C_DIGICOLOR=y
CONFIG_REGULATOR_TPS51632=y
CONFIG_LTC2471=y
CONFIG_HTE_TEGRA194=y
CONFIG_MFD_INTEL_M10_BMC_CORE=y
CONFIG_PROVE_RCU_LIST=y
CONFIG_MFD_TI_LMU=y
CONFIG_CC_HAS_ASSUME=y
CONFIG_MFD_TI_LP87565=y
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST=y
CONFIG_QCOM_SMEM=y
CONFIG_DMA_VIRTUAL_CHANNELS=y
CONFIG_CSD_LOCK_WAIT_DEBUG=y
CONFIG_ADXL367=y
CONFIG_I2C_IMX=y
CONFIG_HOTPLUG_SMT=y
CONFIG_SPI_RB4XX=y
CONFIG_LD_IS_BFD=y
CONFIG_ARM_MHU_V2=y
CONFIG_HSC030PA=y
CONFIG_POSIX_TIMERS=y
CONFIG_ARCH_TEGRA_210_SOC=y
CONFIG_SM_DISPCC_6350=y
CONFIG_COMMON_CLK_SI5341=y
CONFIG_AK8975=y
CONFIG_PHY_ST_SPEAR1310_MIPHY=y
CONFIG_REGULATOR_MT6357=y
CONFIG_HAVE_C_RECORDMCOUNT=y
CONFIG_REGULATOR_SPACEMIT_P1=y
CONFIG_HAVE_ARCH_THREAD_STRUCT_WHITELIST=y
CONFIG_BMG160_I2C=y
CONFIG_ARM64_ERRATUM_1165522=y
CONFIG_MTD_JEDECPROBE=y
CONFIG_DW_APB_ICTL=y
CONFIG_FREEZER=y
CONFIG_EXPORTFS=y
CONFIG_REGULATOR_USERSPACE_CONSUMER=y
CONFIG_CRYPTO_MD4=y
CONFIG_QCOM_SMP2P=y
CONFIG_MMA7455_SPI=y
CONFIG_TORTURE_TEST=y
CONFIG_REGULATOR_BD9571MWV=y
CONFIG_NVMEM_STM32_ROMEM=y
CONFIG_NVHE_EL2_DEBUG=y
CONFIG_CM3232=y
CONFIG_INFTL=y
CONFIG_THEAD_TH1520_MBOX=y
CONFIG_SM_GCC_8750=y
CONFIG_VFIO_PLATFORM_BCMFLEXRM_RESET=y
CONFIG_REGULATOR_RN5T618=y
CONFIG_WARN_MISSING_DOCUMENTS=y
CONFIG_MSM_GCC_8917=y
CONFIG_JOLIET=y
CONFIG_ADXL313_I2C=y
CONFIG_CRYPTO_LIB_AES=y
CONFIG_PINCTRL_OCELOT=y
CONFIG_POWER_RESET_GEMINI_POWEROFF=y
CONFIG_AD799X=y
CONFIG_GPIO_NPCM_SGPIO=y
CONFIG_CLK_KAANAPALI_VIDEOCC=y
CONFIG_PM_GENERIC_DOMAINS_OF=y
CONFIG_PHY_FSL_IMX8M_PCIE=y
CONFIG_STARFIVE_JHB100_INTC=y
CONFIG_KXSD9=y
CONFIG_RCU_DOUBLE_CHECK_CB_TIME=y
CONFIG_SPI_MICROCHIP_CORE_SPI=y
CONFIG_CLK_R8A779F0=y
CONFIG_MFD_TPS65912=y
CONFIG_PTDUMP_DEBUGFS=y
CONFIG_AD5706R=y
CONFIG_TREE_RCU=y
CONFIG_SPI_DYNAMIC=y
CONFIG_COMMON_CLK_MT6735=y
CONFIG_HAVE_ASM_MODVERSIONS=y
CONFIG_I2C_SYNQUACER=y
CONFIG_MUTEX_SPIN_ON_OWNER=y
CONFIG_STM32_FIREWALL=y
CONFIG_CRYPTO_KRB5ENC=y
CONFIG_MFD_TPS65912_I2C=y
CONFIG_MTD_BLKDEVS=y
CONFIG_PINCTRL_ZYNQ=y
CONFIG_CC_HAS_ASM_GOTO_OUTPUT=y
CONFIG_BACKLIGHT_AS3711=y
CONFIG_LEDS_DA903X=y
CONFIG_ISL29003=y
CONFIG_CRC4=y
CONFIG_SCSI_SAS_ATTRS=y
CONFIG_NLS_CODEPAGE_936=y
CONFIG_HAVE_PV_STEAL_CLOCK_GEN=y
CONFIG_ISO9660_FS=y
CONFIG_VZ89X=y
CONFIG_ZSTD_COMPRESS=y
CONFIG_ARCH_WANT_HUGE_PMD_SHARE=y
CONFIG_ARM_PSCI_FW=y
CONFIG_HOTPLUG_CORE_SYNC_DEAD=y
CONFIG_GPIO_GE_FPGA=y
CONFIG_PINCTRL_PALMAS=y
CONFIG_COMPAT_BRK=y
CONFIG_ARCH_SELECTS_KEXEC_FILE=y
CONFIG_PM_CLK=y
CONFIG_HW_PERF_EVENTS=y
CONFIG_FXLS8962AF_SPI=y
CONFIG_IIO_ADIS_LIB=y
CONFIG_VIRT_DRIVERS=y
CONFIG_ALTERA_MSGDMA=y
CONFIG_DMA_NUMA_CMA=y
CONFIG_ARCH_TEGRA=y
CONFIG_GENERIC_IRQ_PROBE=y
CONFIG_MILBEAUT_XDMAC=y
CONFIG_PHY_HISTB_COMBPHY=y
CONFIG_RESET_SIMPLE=y
CONFIG_POWER_RESET_RESTART=y
CONFIG_HAVE_KVM_DIRTY_RING_ACQ_REL=y
CONFIG_UDF_FS=y
CONFIG_ARM_ARCH_TIMER=y
CONFIG_VIRTIO_MENU=y
CONFIG_CLK_SOPHGO_CV1800=y
CONFIG_IMX7D_ADC=y
CONFIG_CC_HAS_AUTO_VAR_INIT_PATTERN=y
CONFIG_SPI_TEGRA114=y
CONFIG_BLK_DEV_INTEGRITY=y
CONFIG_AD7266=y
CONFIG_CROSS_MEMORY_ATTACH=y
CONFIG_HW_RANDOM_KEYSTONE=y
CONFIG_REGULATOR_PV88090=y
CONFIG_XFS_SUPPORT_ASCII_CI=y
CONFIG_FUEL_GAUGE_MM8013=y
CONFIG_MTD_NAND_ARASAN=y
CONFIG_BMA180=y
CONFIG_FW_LOADER_COMPRESS=y
CONFIG_HAVE_POSIX_CPU_TIMERS_TASK_WORK=y
CONFIG_REGULATOR_S5M8767=y
CONFIG_REGULATOR_MP886X=y
CONFIG_MV_XOR=y
CONFIG_DEVFREQ_GOV_USERSPACE=y
CONFIG_OF_ALL_DTBS=y
CONFIG_SERIO_SUN4I_PS2=y
CONFIG_SENSORS_LIS3_SPI=y
CONFIG_NOTIFIER_ERROR_INJECTION=y
CONFIG_VIRT_XFER_TO_GUEST_WORK=y
CONFIG_REGULATOR_MC13XXX_CORE=y
CONFIG_SOC_TEGRA30_VOLTAGE_COUPLER=y
CONFIG_LITEX_SOC_CONTROLLER=y
CONFIG_DEBUG_FS=y
CONFIG_CAVIUM_ERRATUM_22375=y
CONFIG_PHY_R8A779F0_ETHERNET_SERDES=y
CONFIG_PHY_SAMSUNG_UFS=y
CONFIG_ARCH_SUPPORTS_RT=y
CONFIG_GENERIC_CPU_AUTOPROBE=y
CONFIG_QCOM_MPM=y
CONFIG_SPI_VIRTIO=y
CONFIG_RESET_UNIPHIER_GLUE=y
CONFIG_PM_USERSPACE_AUTOSLEEP=y
CONFIG_REGULATOR_MT6358=y
CONFIG_DMA_NEED_SYNC=y
CONFIG_PHY_UNIPHIER_USB3=y
CONFIG_PINCTRL_SH_FUNC_GPIO=y
CONFIG_INV_ICM42600_SPI=y
CONFIG_ACCESSIBILITY=y
CONFIG_PVPANIC_MMIO=y
CONFIG_COMMON_CLK_HI3798CV200=y
CONFIG_COMMON_CLK_G12A=y
CONFIG_FUNCTION_ALIGNMENT_4B=y
CONFIG_EXT2_FS_POSIX_ACL=y
CONFIG_CRYPTO_SHA3=y
CONFIG_CRASH_DUMP=y
CONFIG_IIO_BACKEND=y
CONFIG_SM_TCSRCC_8750=y
CONFIG_ARCH_USE_SYM_ANNOTATIONS=y
CONFIG_SPS30_SERIAL=y
CONFIG_TEGRA_ACONNECT=y
CONFIG_STUB_CLK_HI3660=y
CONFIG_PINCTRL_TI_IODELAY=y
CONFIG_SC_GPUCC_7180=y
CONFIG_GNSS_UBX_SERIAL=y
CONFIG_MPL3115=y
CONFIG_NVMEM_LAYERSCAPE_SFP=y
CONFIG_TASKS_TRACE_RCU=y
CONFIG_HW_RANDOM_NPCM=y
CONFIG_ARCH_KEEP_MEMBLOCK=y
CONFIG_GNSS=y
CONFIG_SM_GCC_8450=y
CONFIG_COUNTER=y
CONFIG_ARCH_USE_GNU_PROPERTY=y
CONFIG_SDM_DISPCC_845=y
CONFIG_GPIO_CDEV=y
CONFIG_I2C_HIX5HD2=y
CONFIG_XILLYBUS=y
CONFIG_LEDS_PCA9532=y
CONFIG_SENSORS_TSL2550=y
CONFIG_OID_REGISTRY=y
CONFIG_REGULATOR_AD5398=y
CONFIG_PINCTRL_STARFIVE_JH7110_SYS=y
CONFIG_ARCH_PENSANDO=y
CONFIG_SUN8I_R_CCU=y
CONFIG_SPI_SPRD=y
CONFIG_NVME_CORE=y
CONFIG_ARM64_GCS=y
CONFIG_I2C_LS2X_V2=y
CONFIG_MSTAR_MSC313_CPUPLL=y
CONFIG_ADF4350=y
CONFIG_TI_MESSAGE_MANAGER=y
CONFIG_TI_ECAP_CAPTURE=y
CONFIG_MPILIB=y
CONFIG_QCOM_BAM_DMA=y
CONFIG_PAGE_IDLE_FLAG=y
CONFIG_RCU_REF_SCALE_TEST=y
CONFIG_MTD_NAND_MXC=y
CONFIG_LEDS_NIC78BX=y
CONFIG_KERNEL_MODE_NEON=y
CONFIG_REGULATOR_RT6190=y
CONFIG_IIO_TRIGGERED_EVENT=y
CONFIG_HAVE_FUNCTION_GRAPH_TRACER=y
CONFIG_SDM_MMCC_660=y
CONFIG_PHY_QCOM_QMP_USB_LEGACY=y
CONFIG_VCNL3020=y
CONFIG_REGULATOR_MAX8660=y
CONFIG_SHUFFLE_PAGE_ALLOCATOR=y
CONFIG_IMX_SCMI_CPU_DRV=y
CONFIG_PHY_ROCKCHIP_INNO_HDMI=y
CONFIG_MTD_COMPLEX_MAPPINGS=y
CONFIG_FSL_IMX8_DDR_PMU=y
CONFIG_GPIB_INES=y
CONFIG_TIMER_OF=y
CONFIG_SC_LPASS_CORECC_7280=y
CONFIG_OBJAGG=y
CONFIG_SPI_PIC32=y
CONFIG_MFD_STPMIC1=y
CONFIG_OPT4001=y
CONFIG_PM_GENERIC_DOMAINS=y
CONFIG_MSM_MMCC_8998=y
CONFIG_MFD_EXYNOS_LPASS=y
CONFIG_MMU=y
CONFIG_MTD_UBI_FAULT_INJECTION=y
CONFIG_BMI160=y
CONFIG_REGULATOR_MAX77826=y
CONFIG_IPQ_NSSCC_5424=y
CONFIG_MFD_MAX77650=y
CONFIG_INTERCONNECT_IMX8MP=y
CONFIG_FW_UPLOAD=y
CONFIG_RELR=y
CONFIG_POWER_RESET_MSM=y
CONFIG_UNINLINE_SPIN_UNLOCK=y
CONFIG_EXTCON_USB_GPIO=y
CONFIG_ARM_GIC_PM=y
CONFIG_MTD_ROM=y
CONFIG_REGULATOR_BCM590XX=y
CONFIG_TWL4030_MADC=y
CONFIG_RESET_SPACEMIT_K1=y
CONFIG_NVMEM_QNAP_MCU_EEPROM=y
CONFIG_LZ4_COMPRESS=y
CONFIG_ARCH_SUPPORTS_PAGE_TABLE_CHECK=y
CONFIG_POWER_RESET_REGULATOR=y
CONFIG_GPIO_ZYNQ=y
CONFIG_INPUT=y
CONFIG_AD3552R_HS=y
CONFIG_PINCTRL_CY8C95X0=y
CONFIG_PINCTRL_SOPHGO_SG2042=y
CONFIG_VEML3235=y
CONFIG_TI_ADC108S102=y
CONFIG_PINCTRL_TANGIER=y
CONFIG_TEGRA_TIMER=y
CONFIG_SENSORS_ISL29028=y
CONFIG_PINCTRL_K210=y
CONFIG_ARM64_ERRATUM_2441007=y
CONFIG_LEDS_AS3645A=y
CONFIG_INGENIC_CGU_JZ4780=y
CONFIG_I2C_ALGOPCF=y
CONFIG_NLS_CODEPAGE_850=y
CONFIG_AD5421=y
CONFIG_LOCKDEP_SUPPORT=y
CONFIG_HAVE_ARCH_TRACEHOOK=y
CONFIG_CLONE_BACKWARDS=y
CONFIG_INTERCONNECT_QCOM_MSM8976=y
CONFIG_MTK_TIMER=y
CONFIG_SYSVIPC=y
CONFIG_BUG=y
CONFIG_ARM_SCMI_HAVE_MSG=y
CONFIG_I2C_DEBUG_ALGO=y
CONFIG_PHY_PXA_USB=y
CONFIG_REGULATOR_TPS65217=y
CONFIG_AD7124=y
CONFIG_STM32_ADC_CORE=y
CONFIG_BLK_WBT_MQ=y
CONFIG_ARCH_WANT_FRAME_POINTERS=y
CONFIG_LEDS_TLC591XX=y
CONFIG_IMX_SCMI_LMM_DRV=y
CONFIG_ARCH_HAS_SET_DIRECT_MAP=y
CONFIG_FXOS8700_SPI=y
CONFIG_PINCTRL_IMX8ULP=y
CONFIG_IIO_ST_MAGN_SPI_3AXIS=y
CONFIG_HUGETLB_PAGE=y
CONFIG_RESET_BRCMSTB=y
CONFIG_MTD_NAND_GPIO=y
CONFIG_HAVE_ARCH_JUMP_LABEL=y
CONFIG_ARCH_SPRD=y
CONFIG_MAX30100=y
CONFIG_HAVE_HARDLOCKUP_DETECTOR_BUDDY=y
CONFIG_ARCH_HAS_NON_OVERLAPPING_ADDRESS_SPACE=y
CONFIG_MFD_SPACEMIT_P1=y
CONFIG_MFD_ATMEL_HLCDC=y
CONFIG_MTD_REDBOOT_PARTS_READONLY=y
CONFIG_OF_GPIO=y
CONFIG_CLK_R9A09G057=y
CONFIG_SPI_S3C64XX=y
CONFIG_CRYPTO_AES_ARM64_NEON_BLK=y
CONFIG_FUEL_GAUGE_STC3117=y
CONFIG_MTD_CFI_STAA=y
CONFIG_ARCH_SPARSEMEM_ENABLE=y
CONFIG_CRC7=y
CONFIG_NEED_SG_DMA_LENGTH=y
CONFIG_MPL115_I2C=y
CONFIG_SM_VIDEOCC_6350=y
CONFIG_INTEL_STRATIX10_SERVICE=y
CONFIG_ADXL380_SPI=y
CONFIG_AXI_DMAC=y
CONFIG_DEBUG_LOCKING_API_SELFTESTS=y
CONFIG_SPI_EP93XX=y
CONFIG_SC_LPASSCC_7280=y
CONFIG_SPARSEMEM_VMEMMAP=y
CONFIG_PHY_FSL_LYNX_CORE=y
CONFIG_EXYNOS_MBOX=y
CONFIG_REGULATOR_QCOM_PM8008=y
CONFIG_CLK_GLYMUR_GCC=y
CONFIG_COMMON_CLK_MT8192_VENCSYS=y
CONFIG_IPQ_APSS_PLL=y
CONFIG_DMA_COHERENT_POOL=y
CONFIG_NLS_CODEPAGE_855=y
CONFIG_CRYPTO_CAMELLIA=y
CONFIG_BCM47XX_SPROM=y
CONFIG_TURRIS_SIGNING_KEY=y
CONFIG_MAX8925_POWER=y
CONFIG_MTD_NAND_NDFC=y
CONFIG_INTERCONNECT_QCOM_MSM8937=y
CONFIG_SM_DISPCC_8450=y
CONFIG_QCOM_FALKOR_ERRATUM_1003=y
CONFIG_COMMON_CLK_MT8173_MMSYS=y
CONFIG_MTD_NAND_DISKONCHIP=y
CONFIG_PINCTRL_MTK_MOORE=y
CONFIG_SUN_PARTITION=y
CONFIG_SPI_QUP=y
CONFIG_I2C_SMBUS=y
CONFIG_SPI_MESON_SPIFC=y
CONFIG_MFD_CS47L85=y
CONFIG_ZLIB_DEFLATE=y
CONFIG_DAX=y
CONFIG_MTD_OTP=y
CONFIG_EXYNOS_5260_COMMON_CLK=y
CONFIG_CC_HAS_KASAN_SW_TAGS=y
CONFIG_BACKLIGHT_LM3639=y
CONFIG_NLS_MAC_TURKISH=y
CONFIG_CRYPTO_AKCIPHER2=y
CONFIG_ARM_SPE_PMU=y
CONFIG_PARAVIRT=y
CONFIG_DMA_SUN6I=y
CONFIG_TIMB_DMA=y
CONFIG_PHY_ROCKCHIP_PCIE=y
CONFIG_SPI_QCOM_GENI=y
CONFIG_OPEN_DICE=y
CONFIG_I2C_VIRTIO=y
CONFIG_LEDS_BLINKM=y
CONFIG_MFD_MAX8925=y
CONFIG_MTD_NAND_CADENCE=y
CONFIG_REGULATOR_MAX77802=y
CONFIG_SPI_LOONGSON_CORE=y
CONFIG_COMMON_CLK_MT6735_VDECSYS=y
CONFIG_MTD_NAND_ECC_MXIC=y
CONFIG_GENERIC_IOREMAP=y
CONFIG_QCOM_IPCC=y
CONFIG_SMI330_SPI=y
CONFIG_ARM_FFA_TRANSPORT=y
CONFIG_DEBUG_KOBJECT=y
CONFIG_PHY_MVEBU_A3700_UTMI=y
CONFIG_MTD_UBI_BLOCK=y
CONFIG_PVPANIC=y
CONFIG_CRYPTO_AES=y
CONFIG_PHY_PISTACHIO_USB=y
CONFIG_PINCTRL_MT7629=y
CONFIG_SI1133=y
CONFIG_TASKS_TRACE_RCU_NO_MB=y
CONFIG_LEDS_TPS6131X=y
CONFIG_EXYNOS_4_COMMON_CLK=y
CONFIG_HISILICON_LPC=y
CONFIG_DEBUG_VFS=y
CONFIG_ARCH_BITMAIN=y
CONFIG_I3C=y
CONFIG_KERNFS=y
CONFIG_BLOCK=y
CONFIG_ARCH_SUPPORTS_NUMA_BALANCING=y
CONFIG_VFIO_CONTAINER=y
CONFIG_EXYNOS_PM_DOMAINS=y
CONFIG_COMMON_CLK_C3_PERIPHERALS=y
CONFIG_CRYPTO_CHACHA20=y
CONFIG_PHY_QCOM_EUSB2_REPEATER=y
CONFIG_FS_STACK=y
CONFIG_SDM_VIDEOCC_845=y
CONFIG_OWL_TIMER=y
CONFIG_RUSTC_HAS_UNNECESSARY_TRANSMUTES=y
CONFIG_SOC_TEGRA_FLOWCTRL=y
CONFIG_DW_APB_TIMER_OF=y
CONFIG_USERFAULTFD=y
CONFIG_GAMEPORT=y
CONFIG_MXC6255=y
CONFIG_AD5272=y
CONFIG_COMMON_CLK_MT2712_VDECSYS=y
CONFIG_GPIO_UNIPHIER=y
CONFIG_MFD_SYSCON=y
CONFIG_MTD_UBI_FASTMAP=y
CONFIG_MTD_CFI_I2=y
CONFIG_SM_CAMCC_8750=y
CONFIG_LPC18XX_DAC=y
CONFIG_VFIO_PLATFORM_BASE=y
CONFIG_QDU_ECPRICC_1000=y
CONFIG_MFD_MXS_LRADC=y
CONFIG_COMMON_CLK_IPROC=y
CONFIG_MOST=y
CONFIG_NLS_ISO8859_13=y
CONFIG_BMP280_SPI=y
CONFIG_PKVM_STACKTRACE=y
CONFIG_REGULATOR_MT6331=y
CONFIG_REGULATOR_RTQ2134=y
CONFIG_PM_SLEEP_DEBUG=y
CONFIG_INDIRECT_PIO=y
CONFIG_NLS_CODEPAGE_869=y
CONFIG_LEDS_IP30=y
CONFIG_NLS_MAC_CELTIC=y
CONFIG_GENERIC_CPU_CACHE_MAINTENANCE=y
CONFIG_BCMA_POSSIBLE=y
CONFIG_LEDS_RT4505=y
CONFIG_CLK_GFM_LPASS_SM8250=y
CONFIG_POSIX_AUX_CLOCKS=y
CONFIG_CC_NO_ARRAY_BOUNDS=y
CONFIG_PHY_STIH407_USB=y
CONFIG_IPMI_HANDLER=y
CONFIG_TI_ADS1119=y
CONFIG_LEDS_AW2013=y
CONFIG_COMMON_CLK_S4_PERIPHERALS=y
CONFIG_COMMON_CLK_HI3660=y
CONFIG_PINCTRL_IMX=y
CONFIG_CLK_MTMIPS=y
CONFIG_RPMSG_QCOM_GLINK=y
CONFIG_PHYS_ADDR_T_64BIT=y
CONFIG_QCOM_TZMEM=y
CONFIG_DEBUG_FORCE_WEAK_PER_CPU=y
CONFIG_ADI_I3C_MASTER=y
CONFIG_REGULATOR_FAN53880=y
CONFIG_FXLS8962AF=y
CONFIG_MMP_DISP=y
CONFIG_PINCTRL_TEGRA=y
CONFIG_NVME_TARGET_PASSTHRU=y
CONFIG_GPIOLIB_IRQCHIP=y
CONFIG_ARM64_EPAN=y
CONFIG_REGULATOR_TPS65219=y
