CONFIG_SERIAL_8250=n
CONFIG_BLK_DEV_WRITE_MOUNTED=n
CONFIG_PCSPKR_PLATFORM=n
CONFIG_BLK_CGROUP_IOCOST=n
CONFIG_CRYPTO=n
CONFIG_KPROBE_EVENTS=n
CONFIG_WATCHDOG_HANDLE_BOOT_ENABLED=n
CONFIG_HAVE_MIXED_BREAKPOINTS_REGS=n
CONFIG_BLK_PM=n
CONFIG_IP_ROUTE_MULTIPATH=n
CONFIG_EPROBE_EVENTS=n
CONFIG_TASKS_RCU=n
CONFIG_GENERIC_IRQ_SHOW=n
CONFIG_PCCARD=n
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_DIRECT_CALLS=n
CONFIG_DECOMPRESS_LZO=n
CONFIG_ARCH_SUPPORTS_SCHED_CLUSTER=n
CONFIG_NFS_V4_0=n
CONFIG_NET_VENDOR_SUN=n
CONFIG_X86_NEED_RELOCS=n
CONFIG_PROC_PAGE_MONITOR=n
CONFIG_NETFILTER_XT_TARGET_LOG=n
CONFIG_X86=n
CONFIG_WMI_BMOF=n
CONFIG_CRYPTO_CBC=n
CONFIG_BUG=n
CONFIG_SERIO_SERPORT=n
CONFIG_FIRMWARE_TABLE=n
CONFIG_ARCH_USE_MEMREMAP_PROT=n
CONFIG_NET_VENDOR_ALIBABA=n
CONFIG_HAVE_CMPXCHG_DOUBLE=n
CONFIG_DECOMPRESS_ZSTD=n
CONFIG_HAVE_ARCH_KSTACK_ERASE=n
CONFIG_GENERIC_STRNCPY_FROM_USER=n
CONFIG_BLK_DEV_SR=n
CONFIG_QUOTACTL=n
CONFIG_HW_RANDOM_AMD=n
CONFIG_TASK_XACCT=n
CONFIG_NETFILTER_XT_MATCH_POLICY=n
CONFIG_X86_DISABLED_FEATURE_FRED=n
CONFIG_ACPI_BGRT=n
CONFIG_NET_SCHED=n
CONFIG_GRO_CELLS=n
CONFIG_STANDALONE=n
CONFIG_GCC_NO_STRINGOP_OVERFLOW=n
CONFIG_COMPAT_32BIT_TIME=n
CONFIG_NETFILTER_EGRESS=n
CONFIG_X86_DEBUGCTLMSR=n
CONFIG_LDISC_AUTOLOAD=n
CONFIG_QUOTA=n
CONFIG_CPU_IDLE_GOV_MENU=n
CONFIG_KEXEC=n
CONFIG_DMA_ENGINE=n
CONFIG_KRETPROBE_ON_RETHOOK=n
CONFIG_NF_NAT_IRC=n
CONFIG_HAVE_GCC_PLUGINS=n
CONFIG_IP6_NF_MATCH_IPV6HEADER=n
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_REGS=n
CONFIG_EXT4_FS=n
CONFIG_UPROBE_EVENTS=n
CONFIG_PCPU_DEV_REFCNT=n
CONFIG_ARCH_HAS_PTE_SPECIAL=n
CONFIG_XZ_DEC_BCJ=n
CONFIG_PERF_EVENTS_INTEL_CSTATE=n
CONFIG_GENERIC_PENDING_IRQ=n
CONFIG_PCI_BIOS=n
CONFIG_8139TOO=n
CONFIG_EFI_RUNTIME_WRAPPERS=n
CONFIG_MOUSE_PS2_ALPS=n
CONFIG_HIBERNATION=n
CONFIG_FIB_RULES=n
CONFIG_TRACE_IRQFLAGS_SUPPORT=n
CONFIG_AGP_AMD64=n
CONFIG_ARCH_SUPPORTS_MEMORY_FAILURE=n
CONFIG_CRYPTO_HASH2=n
CONFIG_OPENSSL_SUPPORTS_ML_DSA=n
CONFIG_GENERIC_STRNLEN_USER=n
CONFIG_LOCKDEP_SUPPORT=n
CONFIG_MMU_GATHER_MERGE_VMAS=n
CONFIG_HAVE_NMI=n
CONFIG_TASK_IO_ACCOUNTING=n
CONFIG_DECOMPRESS_BZIP2=n
CONFIG_CC_NO_STRINGOP_OVERFLOW=n
CONFIG_X86_DISABLED_FEATURE_CALL_DEPTH=n
CONFIG_GENERIC_CMOS_UPDATE=n
CONFIG_X509_CERTIFICATE_PARSER=n
CONFIG_IPV6=n
CONFIG_NET_VENDOR_SMSC=n
CONFIG_EFI_ESRT=n
CONFIG_WLAN_VENDOR_ATH=n
CONFIG_ARCH_HAS_CPU_FINALIZE_INIT=n
CONFIG_SERIAL_8250_DMA=n
CONFIG_PROC_EVENTS=n
CONFIG_STACKPROTECTOR=n
CONFIG_HAVE_REGS_AND_STACK_ACCESS_API=n
CONFIG_PCIE_PME=n
CONFIG_SND_HDA_I915=n
CONFIG_DRM_DISPLAY_HELPER=n
CONFIG_NET_VENDOR_MICROCHIP=n
CONFIG_DEFAULT_SECURITY_SELINUX=n
CONFIG_BINFMT_SCRIPT=n
CONFIG_ARCH_HAS_NON_OVERLAPPING_ADDRESS_SPACE=n
CONFIG_INOTIFY_USER=n
CONFIG_VHOST_MENU=n
CONFIG_SERIAL_8250_RSA=n
CONFIG_RTC_INTF_DEV=n
CONFIG_NET_VENDOR_MICROSEMI=n
CONFIG_P2SB=n
CONFIG_HAVE_STACKPROTECTOR=n
CONFIG_SCHED_CACHE=n
CONFIG_IRQ_FORCED_THREADING=n
CONFIG_NFS_FS=n
CONFIG_NET_VENDOR_CHELSIO=n
CONFIG_CC_HAS_ASM_GOTO_OUTPUT=n
CONFIG_E1000E=n
CONFIG_VIRTIO_PCI_ADMIN_LEGACY=n
CONFIG_CRYPTO_SKCIPHER=n
CONFIG_VT_CONSOLE_SLEEP=n
CONFIG_RUNTIME_TESTING_MENU=n
CONFIG_DEVPORT=n
CONFIG_NET_9P_VIRTIO=n
CONFIG_INPUT_KEYBOARD=n
CONFIG_FUTEX_PRIVATE_HASH=n
CONFIG_TASK_DELAY_ACCT=n
CONFIG_ARCH_SUPPORTS_KEXEC_JUMP=n
CONFIG_SHMEM=n
CONFIG_FUTEX=n
CONFIG_PROC_SYSCTL=n
CONFIG_TIME_NS_VDSO=n
CONFIG_HAVE_ARCH_PREL32_RELOCATIONS=n
CONFIG_NF_CONNTRACK_SIP=n
CONFIG_FWNODE_MDIO=n
CONFIG_ARCH_SUPPORTS_UPROBES=n
CONFIG_PROFILING=n
CONFIG_ARCH_MIGHT_HAVE_PC_PARPORT=n
CONFIG_HAVE_KPROBES=n
CONFIG_IOMMU_API=n
CONFIG_INITRAMFS_PRESERVE_MTIME=n
CONFIG_NETWORK_FILESYSTEMS=n
CONFIG_GENERIC_BUG_RELATIVE_POINTERS=n
CONFIG_IP_MROUTE_COMMON=n
CONFIG_NO_HZ=n
CONFIG_QFMT_V2=n
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST=n
CONFIG_ATA=n
CONFIG_LZO_COMPRESS=n
CONFIG_HAVE_PCSPKR_PLATFORM=n
CONFIG_CONTEXT_TRACKING_IDLE=n
CONFIG_PHYLIB=n
CONFIG_RCU_NEED_SEGCBLIST=n
CONFIG_EXT4_USE_FOR_EXT2=n
CONFIG_ARCH_HAS_SET_DIRECT_MAP=n
CONFIG_TIGON3_HWMON=n
CONFIG_MITIGATION_RFDS=n
CONFIG_NET_VENDOR_WANGXUN=n
CONFIG_X86_32=n
CONFIG_X86_PLATFORM_DEVICES=n
CONFIG_STACKDEPOT=n
CONFIG_WLAN_VENDOR_ST=n
CONFIG_DMADEVICES=n
CONFIG_PM_SLEEP=n
CONFIG_NET_VENDOR_8390=n
CONFIG_PATA_AMD=n
CONFIG_X86_REQUIRED_FEATURE_CX8=n
CONFIG_VIRTIO_CONSOLE=n
CONFIG_USB_MON=n
CONFIG_HAVE_ARCH_THREAD_STRUCT_WHITELIST=n
CONFIG_NF_NAT_SIP=n
CONFIG_TIMERFD=n
CONFIG_HIBERNATION_COMP_LZO=n
CONFIG_CGROUP_NET_CLASSID=n
CONFIG_TICK_CPU_ACCOUNTING=n
CONFIG_ARCH_HAS_NMI_SAFE_THIS_CPU_OPS=n
CONFIG_CRYPTO_GCM=n
CONFIG_CPU_FREQ_DEFAULT_GOV_USERSPACE=n
CONFIG_INTEL_TCC=n
CONFIG_EFI_CAPSULE_QUIRK_QUARK_CSH=n
CONFIG_ASSOCIATIVE_ARRAY=n
CONFIG_TRACEFS_AUTOMOUNT_DEPRECATED=n
CONFIG_ACPI_TABLE_UPGRADE=n
CONFIG_SERIAL_8250_DETECT_IRQ=n
CONFIG_E1000=n
CONFIG_DQL=n
CONFIG_STACKTRACE=n
CONFIG_AS_IS_GNU=n
CONFIG_ARCH_HAS_GCOV_PROFILE_ALL=n
CONFIG_NET_VENDOR_META=n
CONFIG_WLAN_VENDOR_TI=n
CONFIG_ARCH_MHP_MEMMAP_ON_MEMORY_ENABLE=n
CONFIG_CPU_RMAP=n
CONFIG_NET_EMATCH=n
CONFIG_NEW_LEDS=n
CONFIG_NF_NAT_FTP=n
CONFIG_MMU_GATHER_RCU_TABLE_FREE=n
CONFIG_VIRTIO_MENU=n
CONFIG_ARCH_HAS_CPU_CACHE_INVALIDATE_MEMREGION=n
CONFIG_GENERIC_ISA_DMA=n
CONFIG_ARCH_SUPPORTS_SCHED_MC=n
CONFIG_CRYPTO_SHA256=n
CONFIG_EPOLL=n
CONFIG_ACPI_I2C_OPREGION=n
CONFIG_TRACE_CLOCK=n
CONFIG_THERMAL_NETLINK=n
CONFIG_DRM_KMS_HELPER=n
CONFIG_MODULES_TREE_LOOKUP=n
CONFIG_CONTEXT_TRACKING=n
CONFIG_CLZ_TAB=n
CONFIG_SERIAL_8250_MANY_PORTS=n
CONFIG_TMPFS_XATTR=n
CONFIG_DRM_VIRTIO_GPU_KMS=n
CONFIG_LEDS_TRIGGERS=n
CONFIG_HAVE_ASM_MODVERSIONS=n
CONFIG_X86_PKG_TEMP_THERMAL=n
CONFIG_SYSTEM_TRUSTED_KEYRING=n
CONFIG_ARCH_SUSPEND_POSSIBLE=n
CONFIG_KMAP_LOCAL=n
CONFIG_FIRMWARE_MEMMAP=n
CONFIG_USB_PCI_AMD=n
CONFIG_ARCH_WANT_FRAME_POINTERS=n
CONFIG_NFS_USE_KERNEL_DNS=n
CONFIG_HAVE_KERNEL_LZMA=n
CONFIG_ATA_BMDMA=n
CONFIG_GENERIC_CPU_AUTOPROBE=n
CONFIG_TOOLS_SUPPORT_RELR=n
CONFIG_FUTEX_PI=n
CONFIG_SND_TIMER=n
CONFIG_INSTRUCTION_DECODER=n
CONFIG_DRM_I915_COMPRESS_ERROR=n
CONFIG_CGROUP_DEVICE=n
CONFIG_X86_PM_TIMER=n
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO=n
CONFIG_VM_EVENT_COUNTERS=n
CONFIG_NET_VENDOR_AMAZON=n
CONFIG_SND_X86=n
CONFIG_IP_PNP_RARP=n
CONFIG_PROVIDE_OHCI1394_DMA_INIT=n
CONFIG_X86_MCE_INTEL=n
CONFIG_FTRACE=n
CONFIG_CRYPTO_SEQIV=n
CONFIG_TRACE_IRQFLAGS_NMI_SUPPORT=n
CONFIG_USB_ARCH_HAS_HCD=n
CONFIG_INPUT_MISC=n
CONFIG_NET_VENDOR_ASIX=n
CONFIG_TASKS_RCU_GENERIC=n
CONFIG_RTL_CARDS=n
CONFIG_CPUFREQ_ARCH_CUR_FREQ=n
CONFIG_HID_SUNPLUS=n
CONFIG_CPU_FREQ_GOV_ONDEMAND=n
CONFIG_NET_VENDOR_QUALCOMM=n
CONFIG_ARCH_SUPPORTS_KEXEC_SIG=n
CONFIG_PANTHERLORD_FF=n
CONFIG_HAVE_PERF_EVENTS_NMI=n
CONFIG_DRM_I915_CAPTURE_ERROR=n
CONFIG_AS_WRUSS=n
CONFIG_GENERIC_CLOCKEVENTS=n
CONFIG_USB_OHCI_HCD_PCI=n
CONFIG_VMAP_PFN=n
CONFIG_X86_DISABLED_FEATURE_PKU=n
CONFIG_NF_CONNTRACK_FTP=n
CONFIG_CONTEXT_SWITCH_TRACER=n
CONFIG_TIME_NS=n
CONFIG_NF_CONNTRACK_IRC=n
CONFIG_CPUSETS=n
CONFIG_MMU_LAZY_TLB_REFCOUNT=n
CONFIG_CRYPTO_AES=n
CONFIG_CFG80211_DEFAULT_PS=n
CONFIG_MAC_EMUMOUSEBTN=n
CONFIG_HARDIRQS_SW_RESEND=n
CONFIG_ACPI_THERMAL=n
CONFIG_HAVE_KERNEL_LZ4=n
CONFIG_RANDOMIZE_BASE=n
CONFIG_SCHED_OMIT_FRAME_POINTER=n
CONFIG_GENERIC_CLOCKEVENTS_MIN_ADJUST=n
CONFIG_DRM_CLIENT_SELECTION=n
CONFIG_SCSI_LOWLEVEL=n
CONFIG_ARCH_MIGHT_HAVE_ACPI_PDC=n
CONFIG_NET_CLS=n
CONFIG_RUSTC_HAS_SPAN_FILE=n
CONFIG_INPUT_VIVALDIFMAP=n
CONFIG_CPU_FREQ_GOV_ATTR_SET=n
CONFIG_MITIGATION_RETBLEED=n
CONFIG_HAVE_FUNCTION_GRAPH_TRACER=n
CONFIG_FRAME_POINTER=n
CONFIG_HAVE_ATOMIC_IOMAP=n
CONFIG_ELFCORE=n
CONFIG_USB_DEFAULT_PERSIST=n
CONFIG_XFRM=n
CONFIG_INET=n
CONFIG_HAVE_CMPXCHG_LOCAL=n
CONFIG_SND_SEQUENCER=n
CONFIG_NET_VENDOR_SILAN=n
CONFIG_SERIAL_CORE_CONSOLE=n
CONFIG_MOUSE_PS2_CYPRESS=n
CONFIG_SYSVIPC_SYSCTL=n
CONFIG_CC_HAS_COUNTED_BY=n
CONFIG_X86_DISABLED_FEATURE_USER_SHSTK=n
CONFIG_HAVE_BUILDTIME_MCOUNT_SORT=n
CONFIG_SCSI_SPI_ATTRS=n
CONFIG_RTC_I2C_AND_SPI=n
CONFIG_HAVE_GENERIC_VDSO=n
