CONFIG_KEXEC_FILE=n
CONFIG_COMMON_CLK_MT8196_VDECSYS=n
CONFIG_HAVE_PCI=n
CONFIG_BLK_DEV_NVME=n
CONFIG_VIRTIO_PCI=n
CONFIG_COMMON_CLK_IPROC=n
CONFIG_NET_VENDOR_QUALCOMM=n
CONFIG_DRM_MEDIATEK_DP=n
CONFIG_UNION_FIND=n
CONFIG_COMMON_CLK_MT8195_APUSYS=n
CONFIG_MXC_CLK=n
CONFIG_SND_SOC_HDMI_CODEC=n
CONFIG_QCOM_QSEECOM=n
CONFIG_VIRTIO=n
CONFIG_RAID_ATTRS=n
CONFIG_RTC_SYSTOHC=n
CONFIG_UBIFS_FS_ZLIB=n
CONFIG_SND_SOC_COMPRESS=n
CONFIG_PINCTRL_ARMADA_37XX=n
CONFIG_ARM_CMN=n
CONFIG_SND_SOC_DMIC=n
CONFIG_SENSORS_ARM_SCMI=n
CONFIG_ROCKCHIP_DW_DP=n
CONFIG_BSD_PROCESS_ACCT=n
CONFIG_ARCH_QCOM=n
CONFIG_NET_CORE=n
CONFIG_ARCH_HAS_DEBUG_WX=n
CONFIG_MTK_CMDQ_MBOX=n
CONFIG_MFD_RK8XX=n
CONFIG_ARCH_S32=n
CONFIG_CRYPTO_LIB_SHA1_ARCH=n
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO=n
CONFIG_APPLE_SART=n
CONFIG_RD_LZMA=n
CONFIG_COMMON_CLK_MT8183_VENCSYS=n
CONFIG_DMA_COHERENT_POOL=n
CONFIG_LZO_COMPRESS=n
CONFIG_PHY_J721E_WIZ=n
CONFIG_VLAN_8021Q_GVRP=n
CONFIG_SYS_SUPPORTS_SH_CMT=n
CONFIG_SPRD_UMS512_CLK=n
CONFIG_SYSCTL=n
CONFIG_REGULATOR_QCOM_PM8008=n
CONFIG_USB_XHCI_RCAR=n
CONFIG_COMMON_CLK_VC5=n
CONFIG_SENSORS_MACSMC_HWMON=n
CONFIG_DECOMPRESS_GZIP=n
CONFIG_MTD_PHYSMAP=n
CONFIG_HAVE_PERF_EVENTS=n
CONFIG_SND_SOC_BT_SCO=n
CONFIG_COMMON_CLK_MT8192_MSDC=n
CONFIG_SERIAL_SH_SCI_EARLYCON=n
CONFIG_ARCH_HAS_NMI_SAFE_THIS_CPU_OPS=n
CONFIG_PM_GENERIC_DOMAINS_OF=n
CONFIG_ARCH_SUPPORTS_HUGE_PFNMAP=n
CONFIG_DRM_RCAR_WRITEBACK=n
CONFIG_PLATFORM_MHU=n
CONFIG_DRM_LONTIUM_LT9611UXC=n
CONFIG_FB_SYSMEM_HELPERS_DEFERRED=n
CONFIG_SL28CPLD_WATCHDOG=n
CONFIG_PHY_MESON_AXG_MIPI_DPHY=n
CONFIG_IWLWIFI=n
CONFIG_SND_SOC_SOF_XTENSA=n
CONFIG_NFC_NXP_NCI=n
CONFIG_MFD_MT6360=n
CONFIG_CHARGER_CROS_PCHG=n
CONFIG_STM_PROTO_BASIC=n
CONFIG_CC_HAS_NO_PROFILE_FN_ATTR=n
CONFIG_ARCH_HAS_PKEYS=n
CONFIG_XEN_PCI_STUB=n
CONFIG_LEDS_CLASS_FLASH=n
CONFIG_CLK_RK3562=n
CONFIG_SND_MESON_AXG_SOUND_CARD=n
CONFIG_CRYPTO_MANAGER=n
CONFIG_REGULATOR_CROS_EC=n
CONFIG_BINARY_PRINTF=n
CONFIG_INPUT_XEN_KBDDEV_FRONTEND=n
CONFIG_CLK_GLYMUR_DISPCC=n
CONFIG_DRM_CDNS_MHDP8546_J721E=n
CONFIG_PHY_NXP_PTN3222=n
CONFIG_REGULATOR_FAN53555=n
CONFIG_RAID6_PQ_ARCH=n
CONFIG_THERMAL_GOV_STEP_WISE=n
CONFIG_INTERCONNECT_IMX8MM=n
CONFIG_FUNCTION_ALIGNMENT_4B=n
CONFIG_RTC_DRV_RV8803=n
CONFIG_IMX_IRQSTEER=n
CONFIG_NETFILTER_XT_TARGET_LOG=n
CONFIG_USB_CDNS3_HOST=n
CONFIG_ARM64_LSUI=n
CONFIG_COMMON_CLK_MT8196_PEXTPSYS=n
CONFIG_HAVE_KCSAN_COMPILER=n
CONFIG_CLK_R9A07G044=n
CONFIG_DEVTMPFS_MOUNT=n
CONFIG_COMMON_CLK_MT8188_WPESYS=n
CONFIG_VIDEO_HANTRO=n
CONFIG_TI_ICSSG_PRUETH=n
CONFIG_VIDEO_OV5645=n
CONFIG_OLD_SIGSUSPEND3=n
CONFIG_COMMON_CLK_MT8188_VPPSYS=n
CONFIG_UEFI_CPER=n
CONFIG_THUNDER_NIC_BGX=n
CONFIG_TRACE_IRQFLAGS_NMI_SUPPORT=n
CONFIG_SCSI_UFS_QCOM=n
CONFIG_I2C_MT65XX=n
CONFIG_DMA_DIRECT_REMAP=n
CONFIG_DMIID=n
CONFIG_VIDEOBUF2_CORE=n
CONFIG_PHY_UNIPHIER_USB2=n
CONFIG_CC_HAS_MULTIDIMENSIONAL_NONSTRING=n
CONFIG_VIDEO_MEDIATEK_VCODEC_SCP=n
CONFIG_PCS_XPCS=n
CONFIG_SND_SOC_IMX_AUDMUX=n
CONFIG_VIDEO_V4L2_SUBDEV_API=n
CONFIG_RD_LZ4=n
CONFIG_HAVE_ARCH_BITREVERSE=n
CONFIG_NET_DSA_TAG_BRCM=n
CONFIG_COMMON_CLK_MT8167_IMGSYS=n
CONFIG_PREEMPT_BUILD=n
CONFIG_CRYPTO_CCM=n
CONFIG_USB_CHIPIDEA_GENERIC=n
CONFIG_NXP_ENETC4=n
CONFIG_CPU_FREQ_GOV_SCHEDUTIL=n
CONFIG_ARCH_SUPPORTS_KEXEC_SIG=n
CONFIG_FB_CORE=n
CONFIG_DMA_ENGINE_RAID=n
CONFIG_SND_SOC_WCD938X_SDW=n
CONFIG_LEGACY_DIRECT_IO=n
CONFIG_PCI_PASID=n
CONFIG_MESON_SECURE_PM_DOMAINS=n
CONFIG_SND_SOC_WCD937X=n
CONFIG_CROS_EC_TYPEC_ALTMODES=n
CONFIG_CRYPTO_RNG=n
CONFIG_GPIO_GENERIC=n
CONFIG_HW_RANDOM_HISTB=n
CONFIG_HNS3_HCLGE=n
CONFIG_PCI_DOMAINS_GENERIC=n
CONFIG_HNS3_ENET=n
CONFIG_SND_SOC_RCAR=n
CONFIG_NET_DSA_TAG_NONE=n
CONFIG_TI_ADS1015=n
CONFIG_PINCTRL_TEGRA186=n
CONFIG_EC_LENOVO_YOGA_C630=n
CONFIG_EFI_PARAMS_FROM_FDT=n
CONFIG_ASN1=n
CONFIG_MTK_THERMAL=n
CONFIG_ARCH_R8A774B1=n
CONFIG_HAVE_PAGE_SIZE_4KB=n
CONFIG_BT_HIDP=n
CONFIG_NVMEM_IMX_OCOTP=n
CONFIG_APPLE_AIC=n
CONFIG_RTC_DRV_EFI=n
CONFIG_QCOM_RPROC_COMMON=n
CONFIG_CRYPTO_LIB_CHACHA=n
CONFIG_PCIE_ALTERA_MSI=n
CONFIG_CONTEXT_TRACKING_IDLE=n
CONFIG_BT_HCIBTUSB_BCM=n
CONFIG_MXC_CLK_SCU=n
CONFIG_SND_SOC_TI_EDMA_PCM=n
CONFIG_MFD_STM32_TIMERS=n
CONFIG_CROS_EC_I2C=n
CONFIG_USB_CHIPIDEA_HOST=n
CONFIG_AIROHA_CPU_PM_DOMAIN=n
CONFIG_PHY_FSL_IMX8M_PCIE=n
CONFIG_XILINX_PR_DECOUPLER=n
CONFIG_RFKILL=n
CONFIG_CROS_EC_TYPEC=n
CONFIG_NETFILTER_EGRESS=n
CONFIG_PINCTRL_AC5=n
CONFIG_SM_CAMCC_8650=n
CONFIG_BCM4908_ENET=n
CONFIG_VIDEO_TI_J721E_CSI2RX=n
CONFIG_NVMEM_UNIPHIER_EFUSE=n
CONFIG_NET_CRC32C=n
CONFIG_PWM_IMX27=n
CONFIG_USB_NET_PLUSB=n
CONFIG_COMMON_CLK_MT8186_IMP_IIC_WRAP=n
CONFIG_QCOMTEE=n
CONFIG_PHY_QCOM_QMP_PCIE=n
CONFIG_NET_SWITCHDEV=n
CONFIG_TI_MESSAGE_MANAGER=n
CONFIG_DRM_RCAR_MIPI_DSI=n
CONFIG_CLK_R8A779G0=n
CONFIG_TOUCHSCREEN_GOODIX=n
CONFIG_SPI_FSL_QUADSPI=n
CONFIG_IPMI_PLAT_DATA=n
CONFIG_POWER_RESET_SYSCON=n
CONFIG_SND_SOC_LPASS_HDMI=n
CONFIG_CRYPTO_LIB_SHA512=n
CONFIG_MFD_STM32_LPTIMER=n
CONFIG_ARM_SCMI_HAVE_MSG=n
CONFIG_ARCH_SUPPORTS_CFI=n
CONFIG_HI6220_MBOX=n
CONFIG_SND_SOC_MT8192_MT6359_RT1015_RT5682=n
CONFIG_CPU_FREQ_THERMAL=n
CONFIG_ARCH_SUPPORTS_DEBUG_PAGEALLOC=n
CONFIG_USB_LAN78XX=n
CONFIG_RENESAS_RZV2H_ICU=n
CONFIG_CLK_RK3328=n
CONFIG_SPI_CADENCE_QUADSPI=n
CONFIG_XEN_BALLOON=n
CONFIG_MTD_CFI_I1=n
CONFIG_CRYPTO_LIB_SHA3=n
CONFIG_NET_VENDOR_PENSANDO=n
CONFIG_PCI_J721E=n
CONFIG_SCSI_UFS_CRYPTO=n
CONFIG_DRM_I2C_ADV7511_AUDIO=n
CONFIG_MFD_HI655X_PMIC=n
CONFIG_PINCTRL_SM8450=n
CONFIG_CLK_INTEL_SOCFPGA=n
CONFIG_RTC_DRV_BRCMSTB=n
CONFIG_ARCH_HAS_FORCE_DMA_UNENCRYPTED=n
CONFIG_LEDS_SYSCON=n
CONFIG_SND_DMAENGINE_PCM=n
CONFIG_WLAN_VENDOR_PURELIFI=n
CONFIG_SM_GPUCC_MILOS=n
CONFIG_ARM_TIMER_SP804=n
CONFIG_RESET_IMX7=n
CONFIG_GPIO_BLZP1600=n
CONFIG_MMC_SDHCI_XENON=n
CONFIG_PINCTRL_MTK_V2=n
CONFIG_CLK_UNIPHIER=n
CONFIG_CLK_RK3528=n
CONFIG_MFD_SIMPLE_MFD_I2C=n
CONFIG_CORESIGHT_LINKS_AND_SINKS=n
CONFIG_SERIAL_8250_EXTENDED=n
CONFIG_ACPI_REDUCED_HARDWARE_ONLY=n
CONFIG_CPU_FREQ_GOV_COMMON=n
CONFIG_ARCH_AXIADO=n
CONFIG_GENERIC_IRQ_MIGRATION=n
CONFIG_HIX5HD2_GMAC=n
CONFIG_PINCTRL_SC8280XP_LPASS_LPI=n
CONFIG_POSIX_MQUEUE=n
CONFIG_PINCTRL_IPQ5332=n
CONFIG_PHYLINK=n
CONFIG_IIO_ADC_HELPER=n
CONFIG_CHARGER_RK817=n
CONFIG_SND_SOC_QDSP6_PRM_LPASS_CLOCKS=n
CONFIG_ARM64_ERRATUM_2457168=n
CONFIG_ACPI_APEI_EINJ=n
CONFIG_MTD_CFI_I2=n
CONFIG_WLAN_VENDOR_REALTEK=n
CONFIG_DVB_DYNAMIC_MINORS=n
CONFIG_SM_GCC_8350=n
CONFIG_CRYPTO_LIB_BLAKE2B=n
CONFIG_HNS=n
CONFIG_FB_NOTIFY=n
CONFIG_USB_BELKIN=n
CONFIG_SND_HWDEP=n
CONFIG_ARCH_ROCKCHIP=n
CONFIG_KVM_GENERIC_HARDWARE_ENABLING=n
CONFIG_COMPAT_BINFMT_ELF=n
CONFIG_SERIAL_MSM=n
CONFIG_DEVTMPFS=n
CONFIG_V4L2_FWNODE=n
CONFIG_USB_CHIPIDEA_UDC=n
CONFIG_ROCKCHIP_GRF=n
CONFIG_ARCH_MVEBU=n
CONFIG_DRM_PANEL_HIMAX_HX83112A=n
CONFIG_IOSCHED_BFQ=n
CONFIG_STM=n
CONFIG_TI_AM335X_ADC=n
CONFIG_CRC7=n
CONFIG_CPUFREQ_DT_PLATDEV=n
CONFIG_IO_URING=n
CONFIG_IMX_SCU=n
CONFIG_ARCH_HAS_SET_MEMORY=n
CONFIG_CRYPTO_RSA=n
CONFIG_DRM_CDNS_DSI_J721E=n
CONFIG_SDM_DISPCC_845=n
CONFIG_FAT_FS=n
CONFIG_HAS_IOPORT=n
CONFIG_COMMON_CLK_MT7986=n
CONFIG_USB_NET_CDCETHER=n
CONFIG_NVMEM_APPLE_SPMI=n
CONFIG_PAGE_COUNTER=n
CONFIG_SOC_BUS=n
CONFIG_I2C_ALGOBIT=n
CONFIG_UNIPHIER_THERMAL=n
CONFIG_SENSORS_ISL29018=n
CONFIG_ARM_CORESIGHT_PMU_ARCH_SYSTEM_PMU=n
CONFIG_ARM_SCPI_PROTOCOL=n
CONFIG_COMMON_CLK_MT8173=n
CONFIG_PINCTRL_RTD=n
CONFIG_NET_DSA_TAG_OCELOT_8021Q=n
CONFIG_DWMAC_ROCKCHIP=n
CONFIG_INTERCONNECT=n
CONFIG_CRYPTO_DEV_FSL_DPAA2_CAAM=n
CONFIG_MTD_CFI_INTELEXT=n
CONFIG_SND_SUN8I_CODEC=n
CONFIG_HW_RANDOM_CN10K=n
CONFIG_IOMMU_IO_PGTABLE_ARMV7S=n
CONFIG_DRM_SIMPLE_BRIDGE=n
CONFIG_SND_SOC_QDSP6_COMMON=n
CONFIG_SERIAL_8250_PCILIB=n
CONFIG_CAN_RCAR=n
CONFIG_PINCTRL_UNIPHIER_LD11=n
CONFIG_ARM64_PLATFORM_DEVICES=n
CONFIG_ACPI_HOTPLUG_MEMORY=n
CONFIG_RC_CORE=n
