CONFIG_SSB_DRIVER_GPIO=y
CONFIG_SPI_XILINX=y
CONFIG_VSOCKETS=y
CONFIG_FIX_EARLYCON_MEM=y
CONFIG_NAU7802=y
CONFIG_MCP4531=y
CONFIG_SERIAL_SIFIVE=y
CONFIG_CRYPTO_TWOFISH_X86_64=y
CONFIG_SYSCON_REBOOT_MODE=y
CONFIG_CGROUP_HUGETLB=y
CONFIG_REGULATOR_DA9052=y
CONFIG_TCG_TIS_ST33ZP24_I2C=y
CONFIG_MFD_MAX5970=y
CONFIG_VFIO=y
CONFIG_ADXL380_SPI=y
CONFIG_SPI_FSL_SPI=y
CONFIG_EDAC_SUPPORT=y
CONFIG_COMEDI_DAS6402=y
CONFIG_ACQUIRE_WDT=y
CONFIG_PERF_EVENTS_INTEL_RAPL=y
CONFIG_HTS221_SPI=y
CONFIG_IOSF_MBI=y
CONFIG_ADJD_S311=y
CONFIG_POSIX_AUX_CLOCKS=y
CONFIG_EBC_C384_WDT=y
CONFIG_HAVE_ARCH_KMSAN=y
CONFIG_ADXL372_I2C=y
CONFIG_MHP_DEFAULT_ONLINE_TYPE_ONLINE_MOVABLE=y
CONFIG_GPIO_REGMAP=y
CONFIG_NOP_TRACER=y
CONFIG_AD7791=y
CONFIG_INTEL_TPMI_POWER_DOMAINS=y
CONFIG_ARCH_SUPPORTS_AUTOFDO_CLANG=y
CONFIG_MFD_NTXEC=y
CONFIG_W1_SLAVE_DS2780=y
CONFIG_PCIE_CADENCE_HOST=y
CONFIG_LEDS_TRIGGER_DEFAULT_ON=y
CONFIG_RESET_TI_SYSCON=y
CONFIG_FS_VERITY=y
CONFIG_CRYPTO_DEV_CCP=y
CONFIG_ARCH_HAS_FAST_MULTIPLIER=y
CONFIG_SENSORS_K10TEMP=y
CONFIG_LCD_VGG2432A4=y
CONFIG_GENERIC_CPU_VULNERABILITIES=y
CONFIG_EVENT_TRACING=y
CONFIG_MFD_DA9063=y
CONFIG_HAVE_FUNCTION_ERROR_INJECTION=y
CONFIG_USB_GADGETFS=y
CONFIG_SENSORS_F71882FG=y
CONFIG_MFD_ATMEL_FLEXCOM=y
CONFIG_RELAY=y
CONFIG_NLS_ISO8859_1=y
CONFIG_COMEDI_AIO_IIRO_16=y
CONFIG_REGULATOR_S2MPS11=y
CONFIG_HANGCHECK_TIMER=y
CONFIG_X86_IO_APIC=y
CONFIG_SVC_I3C_MASTER=y
CONFIG_ARCH_WANT_FRAME_POINTERS=y
CONFIG_BCMA_HOST_PCI_POSSIBLE=y
CONFIG_POWER_RESET_QEMU_VIRT_CTRL=y
CONFIG_DW_WATCHDOG=y
CONFIG_CRYPTO_BLOWFISH=y
CONFIG_GPIOLIB=y
CONFIG_MFD_CS47L90=y
CONFIG_SERIAL_CONEXANT_DIGICOLOR_CONSOLE=y
CONFIG_XILLYBUS=y
CONFIG_CLKBLD_I8253=y
CONFIG_TRACER_SNAPSHOT_PER_CPU_SWAP=y
CONFIG_GUP_TEST=y
CONFIG_GPIO_PCIE_IDIO_24=y
CONFIG_USB_ROLE_SWITCH=y
CONFIG_PCIE_DW_PLAT_HOST=y
CONFIG_PROC_FS=y
CONFIG_ABP2030PA=y
CONFIG_SENSORS_TMP102=y
CONFIG_CRYPTO_SIG=y
CONFIG_MEDIATEK_MT6359_AUXADC=y
CONFIG_HAVE_RETHOOK=y
CONFIG_AD4000=y
CONFIG_SPI_ALTERA=y
CONFIG_INV_ICM42600_SPI=y
CONFIG_CRYPTO_USER_API=y
CONFIG_LEDS_CLASS_MULTICOLOR=y
CONFIG_GENERIC_STRNCPY_FROM_USER=y
CONFIG_IIO_CONFIGFS=y
CONFIG_GPIB_COMMON=y
CONFIG_GENERIC_CLOCKEVENTS_COUPLED=y
CONFIG_IIO_KX022A_I2C=y
CONFIG_IIO_CROS_EC_SENSORS_CORE=y
CONFIG_HAVE_BOOTMEM_INFO_NODE=y
CONFIG_CHARGER_MP2629=y
CONFIG_GPIO_RDC321X=y
CONFIG_MFD_MADERA_SPI=y
CONFIG_USB_R8A66597_HCD=y
CONFIG_SENSORS_TSL2563=y
CONFIG_HAVE_KERNEL_LZO=y
CONFIG_NET_INGRESS=y
CONFIG_DEBUG_SG=y
CONFIG_BCMA_POSSIBLE=y
CONFIG_CB710_DEBUG_ASSUMPTIONS=y
CONFIG_ARCH_CLOCKSOURCE_INIT=y
CONFIG_BMA400_I2C=y
CONFIG_SBC_FITPC2_WATCHDOG=y
CONFIG_UNWIND_USER=y
CONFIG_SENSORS_ATXP1=y
CONFIG_SPS30_SERIAL=y
CONFIG_HAVE_KCSAN_COMPILER=y
CONFIG_MFD_WM831X_I2C=y
CONFIG_CPU_SUP_INTEL=y
CONFIG_ARCH_MIGHT_HAVE_PC_SERIO=y
CONFIG_ARCH_SUPPORTS_NUMA_BALANCING=y
CONFIG_ARCH_WANT_OPTIMIZE_HUGETLB_VMEMMAP=y
CONFIG_BACKLIGHT_KTZ8866=y
CONFIG_USB_DWC3_HAPS=y
CONFIG_CRYPTO_CTS=y
CONFIG_SENSORS_TMP103=y
CONFIG_DEV_COREDUMP=y
CONFIG_DEBUG_FS_ALLOW_ALL=y
CONFIG_MCP4728=y
CONFIG_BATTERY_DS2760=y
CONFIG_BMP280_I2C=y
CONFIG_REGULATOR_LTC3676=y
CONFIG_SPI_DW_DMA=y
CONFIG_DEBUG_RODATA_TEST=y
CONFIG_I2C_ARB_GPIO_CHALLENGE=y
CONFIG_DELL_RBU=y
CONFIG_SENSORS_HMC5843=y
CONFIG_SENSORS_SPD5118=y
CONFIG_GPIO_SYSCON=y
CONFIG_STACKTRACE_SUPPORT=y
CONFIG_ITCO_WDT=y
CONFIG_STRICT_KERNEL_RWX=y
CONFIG_CRYPTO_DEV_CCP_DD=y
CONFIG_X86_REQUIRED_FEATURE_FXSR=y
CONFIG_CRYPTO_ENGINE=y
CONFIG_ARCH_USE_QUEUED_RWLOCKS=y
CONFIG_IIO_CROS_EC_ACCEL_LEGACY=y
CONFIG_CMA_DEBUGFS=y
CONFIG_FPGA_DFL_AFU=y
CONFIG_PACKET_DIAG=y
CONFIG_ADIS16201=y
CONFIG_PCI_HOST_COMMON=y
CONFIG_AD5446=y
CONFIG_IIO_BUFFER_CB=y
CONFIG_FB_OPENCORES=y
CONFIG_PANEL_CHANGE_MESSAGE=y
CONFIG_USB_LCD=y
CONFIG_X86_REQUIRED_FEATURE_PSE=y
CONFIG_NLS_CODEPAGE_737=y
CONFIG_MITIGATION_ITS=y
CONFIG_TRACING_MAP=y
CONFIG_GPIO_LATCH=y
CONFIG_X86_INTEL_PSTATE=y
CONFIG_CRYPTO_SIG2=y
CONFIG_AD7192=y
CONFIG_COMEDI_AMPLC_PC263_ISA=y
CONFIG_X86_DISABLED_FEATURE_K6_MTRR=y
CONFIG_ATLAS_EZO_SENSOR=y
CONFIG_AXP288_ADC=y
CONFIG_CRYPTO_CBC=y
CONFIG_AD4695=y
CONFIG_MFD_MT6360=y
CONFIG_NVMEM_SYSFS=y
CONFIG_REGULATOR_MT6397=y
CONFIG_BCMA=y
CONFIG_ARCH_HAS_CPU_FINALIZE_INIT=y
CONFIG_REGULATOR_TPS6286X=y
CONFIG_EDAC=y
CONFIG_GPIO_POLARFIRE_SOC=y
CONFIG_SIMPLE_RING_BUFFER=y
CONFIG_LTC1660=y
CONFIG_ARCH_USES_PG_ARCH_2=y
CONFIG_SPI_DLN2=y
CONFIG_BUG_ON_DATA_CORRUPTION=y
CONFIG_PREFIX_SYMBOLS=y
CONFIG_PERF_EVENTS_INTEL_CSTATE=y
CONFIG_USBIP_VUDC=y
CONFIG_TI_ADC108S102=y
CONFIG_NEED_SG_DMA_LENGTH=y
CONFIG_SENSORS_LM70=y
CONFIG_LEDS_LGM=y
CONFIG_SENSORS_ADT7462=y
CONFIG_SSB=y
CONFIG_SENSORS_INA2XX=y
CONFIG_EEPROM_93XX46=y
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_JMP=y
CONFIG_DEVTMPFS_MOUNT=y
CONFIG_UIO_MF624=y
CONFIG_AMILO_RFKILL=y
CONFIG_USB_USS720=y
CONFIG_ARCH_HAS_PTE_SPECIAL=y
CONFIG_LOCKDEP_SUPPORT=y
CONFIG_SPI_OFFLOAD=y
CONFIG_ZSTD_DECOMPRESS=y
CONFIG_VF610_ADC=y
CONFIG_DECOMPRESS_LZ4=y
CONFIG_I2C_ALGOBIT=y
CONFIG_ARCH_SUPPORTS_PER_VMA_LOCK=y
CONFIG_GPIO_CROS_EC=y
CONFIG_USB_EHCI_PCI=y
CONFIG_X86_PAT=y
CONFIG_REGULATOR_88PG86X=y
CONFIG_APDS9160=y
CONFIG_MFD_MAX8907=y
CONFIG_CLKEVT_I8253=y
CONFIG_SPI_SIFIVE=y
CONFIG_RAS=y
CONFIG_USB_SERIAL_VISOR=y
CONFIG_XDP_SOCKETS=y
CONFIG_TQMX86_WDT=y
CONFIG_REGULATOR_LM363X=y
CONFIG_SENSORS_VIA_CPUTEMP=y
CONFIG_PMIC_DA9052=y
CONFIG_ASN1=y
CONFIG_W1_SLAVE_DS2405=y
CONFIG_AD5592R_BASE=y
CONFIG_BATTERY_DA9030=y
CONFIG_BPF_JIT=y
CONFIG_MUX_GPIO=y
CONFIG_CONTIG_ALLOC=y
CONFIG_PANEL=y
CONFIG_HAVE_GENERIC_TIF_BITS=y
CONFIG_IIO_ST_PRESS_SPI=y
CONFIG_CHARGER_UCS1002=y
CONFIG_GPIO_ALTERA=y
CONFIG_REGULATOR_MAX77541=y
CONFIG_RANDSTRUCT=y
CONFIG_PCIEPORTBUS=y
CONFIG_MFD_WM831X=y
CONFIG_HAVE_KLP_BUILD=y
CONFIG_W83627HF_WDT=y
CONFIG_USB_SERIAL_QUALCOMM=y
CONFIG_CPU_FREQ_GOV_POWERSAVE=y
CONFIG_UNINLINE_SPIN_UNLOCK=y
CONFIG_GENERIC_CLOCKEVENTS_MIN_ADJUST=y
CONFIG_REGULATOR_BCM590XX=y
CONFIG_ARCH_SUPPORTS_KEXEC_HANDOVER=y
CONFIG_PTP_1588_CLOCK_MOCK=y
CONFIG_CC_NO_STRINGOP_OVERFLOW=y
CONFIG_MFD_BQ257XX=y
CONFIG_DA9150_GPADC=y
CONFIG_ARCH_SUPPORTS_KEXEC_BZIMAGE_VERIFY_SIG=y
CONFIG_SENSORS_MAX1111=y
CONFIG_COMEDI_NI_AT_AO=y
CONFIG_ADXL367_SPI=y
CONFIG_PINCTRL_MCP23S08_I2C=y
CONFIG_LEDS_TRIGGER_PANIC=y
CONFIG_DEVMEM=y
CONFIG_CRYPTO_LIB_GF128HASH_ARCH=y
CONFIG_USB_SERIAL_IR=y
CONFIG_MFD_ADP5585=y
CONFIG_ADXL345=y
CONFIG_VLAN_8021Q_MVRP=y
CONFIG_BATTERY_SAMSUNG_SDI=y
CONFIG_GENERIC_IRQ_PROBE=y
CONFIG_XZ_DEC_BCJ=y
CONFIG_FW_LOADER_PAGED_BUF=y
CONFIG_PINCONF=y
CONFIG_CROS_EC_DEBUGFS=y
CONFIG_X86_MCE_AMD=y
CONFIG_PROC_CHILDREN=y
CONFIG_UIO_PDRV_GENIRQ=y
CONFIG_NET_SOCK_MSG=y
CONFIG_NLS_KOI8_R=y
CONFIG_LEDS_DA903X=y
CONFIG_BACKLIGHT_CGBC=y
CONFIG_CRYPTO_FCRYPT=y
CONFIG_EXTCON_PTN5150=y
CONFIG_CRYPTO_RNG2=y
CONFIG_GENERIC_IOMAP=y
CONFIG_HZ_1000=y
CONFIG_HX9023S=y
CONFIG_SENSORS_SBTSI=y
CONFIG_COMEDI_NI_AT_A2150=y
CONFIG_ARCH_WANTS_THP_SWAP=y
CONFIG_COMEDI_TEST=y
CONFIG_X86_DISABLED_FEATURE_UMIP=y
CONFIG_AS_WRUSS=y
CONFIG_USB_LEDS_TRIGGER_USBPORT=y
CONFIG_CHARGER_LP8788=y
CONFIG_DECOMPRESS_LZMA=y
CONFIG_GCC_PLUGIN_LATENT_ENTROPY=y
CONFIG_LEDS_CR0014114=y
CONFIG_PREEMPT_RT_NEEDS_BH_LOCK=y
CONFIG_HAVE_STATIC_CALL=y
CONFIG_LTC2983=y
CONFIG_THERMAL_GOV_USER_SPACE=y
CONFIG_HAVE_HW_BREAKPOINT=y
CONFIG_VLAN_8021Q=y
CONFIG_CRYPTO_LIB_UTILS=y
CONFIG_FB_ATY_GX=y
CONFIG_LEDS_NIC78BX=y
CONFIG_I2C_MUX=y
CONFIG_MFD_IQS62X=y
CONFIG_PARPORT_SERIAL=y
CONFIG_PECI=y
CONFIG_CRYPTO_HMAC=y
CONFIG_REGULATOR_ISL6271A=y
CONFIG_KERNEL_GZIP=y
CONFIG_I2C_ALGOPCA=y
CONFIG_PERSISTENT_KEYRINGS=y
CONFIG_HAVE_POSIX_CPU_TIMERS_TASK_WORK=y
CONFIG_LEDS_EXPRESSWIRE=y
CONFIG_SENSORS_MENF21BMC_HWMON=y
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST=y
CONFIG_TELCLOCK=y
CONFIG_ARCH_HAS_DEBUG_VM_PGTABLE=y
CONFIG_PT_RECLAIM=y
CONFIG_PINCTRL_MICROCHIP_SGPIO=y
CONFIG_CRYPTO_AEAD2=y
CONFIG_HAVE_REGS_AND_STACK_ACCESS_API=y
CONFIG_RV=y
CONFIG_USB_UHCI_HCD=y
CONFIG_USB=y
CONFIG_EDAC_MEM_REPAIR=y
CONFIG_CFAG12864B=y
CONFIG_REGULATOR_NETLINK_EVENTS=y
CONFIG_PHY_PXA_28NM_USB2=y
CONFIG_SENSORS_ISL29018=y
CONFIG_SERIAL_8250_DWLIB=y
CONFIG_CALL_PADDING=y
CONFIG_COMEDI_BOND=y
CONFIG_MUX_MMIO=y
CONFIG_GPIO_CDEV_V1=y
CONFIG_HDC3020=y
CONFIG_LEDS_SPI_BYTE=y
CONFIG_GPIB=y
CONFIG_USB_SEVSEG=y
CONFIG_AD_SIGMA_DELTA=y
CONFIG_REGULATOR_PFUZE100=y
CONFIG_HSC030PA_SPI=y
CONFIG_SENSORS_ADM1029=y
CONFIG_GENERIC_VDSO_OVERFLOW_PROTECT=y
CONFIG_XILINX_SDFEC=y
CONFIG_BUILDTIME_TABLE_SORT=y
CONFIG_CUSE=y
CONFIG_CGROUP_NET_CLASSID=y
CONFIG_ITG3200=y
CONFIG_USB_ISP116X_HCD=y
CONFIG_VCNL4000=y
CONFIG_USB_CHIPIDEA_TEGRA=y
CONFIG_ARCH_HAS_DEBUG_VIRTUAL=y
CONFIG_GENERIC_IRQ_RESERVATION_MODE=y
CONFIG_MFD_MAX8997=y
CONFIG_MFD_SM501_GPIO=y
CONFIG_ADXL367_I2C=y
CONFIG_LEDS_TRIGGER_HEARTBEAT=y
CONFIG_HAVE_FUNCTION_TRACER=y
CONFIG_MEMORY_HOTREMOVE=y
CONFIG_COMEDI_DEBUG=y
CONFIG_REGULATOR_MAX8893=y
CONFIG_BACKLIGHT_RT4831=y
CONFIG_TI_ADS7950=y
CONFIG_GPIO_PISOSR=y
CONFIG_SPARSE_IRQ=y
CONFIG_ARCH_USE_CMPXCHG_LOCKREF=y
CONFIG_BOOT_CONFIG_FORCE=y
CONFIG_LEDS_MLXREG=y
CONFIG_CRYPTO_SHA512=y
CONFIG_APDS9802ALS=y
CONFIG_SPI_MEM=y
CONFIG_PCIE_PME=y
CONFIG_CRYPTO_AKCIPHER=y
CONFIG_NET_9P_VIRTIO=y
CONFIG_BACKLIGHT_DA9052=y
CONFIG_SENSORS_LTC2947=y
CONFIG_TASKS_RCU=y
CONFIG_RPMSG_QCOM_GLINK_RPM=y
CONFIG_DAX=y
CONFIG_CRYPTO_LIB_CHACHA_ARCH=y
CONFIG_PAGE_EXTENSION=y
CONFIG_THREAD_INFO_IN_TASK=y
CONFIG_LTR501=y
CONFIG_I2C_XILINX=y
CONFIG_NLS_MAC_CELTIC=y
CONFIG_MFD_AXP20X=y
CONFIG_SERIAL_CORE=y
CONFIG_LTC2485=y
CONFIG_DEBUG_LOCKING_API_SELFTESTS=y
CONFIG_SENSORS_LTC4151=y
CONFIG_HAVE_NOINSTR_HACK=y
CONFIG_ARCH_SUPPORTS_UPROBES=y
CONFIG_CC_HAS_ENTRY_PADDING=y
CONFIG_GPIO_MAX7360=y
CONFIG_UPROBE_EVENTS=y
CONFIG_LIST_HARDENED=y
CONFIG_MAC80211=y
CONFIG_HAVE_MOVE_PMD=y
CONFIG_OF_KOBJ=y
CONFIG_STK8312=y
CONFIG_BH1745=y
CONFIG_CRYPTO_DEV_QAT_C62X=y
CONFIG_I8254=y
CONFIG_OF_EARLY_FLATTREE=y
CONFIG_CHROMEOS_LAPTOP=y
CONFIG_ROHM_BU27034=y
CONFIG_NOINSTR_VALIDATION=y
CONFIG_ARCH_CONFIGURES_CPU_MITIGATIONS=y
CONFIG_HAVE_OBJTOOL=y
CONFIG_POWER_RESET_SYSCON=y
CONFIG_CC_HAS_NAMED_AS_FIXED_SANITIZERS=y
CONFIG_IIO_ST_LSM9DS0_I2C=y
CONFIG_NLS_MAC_GAELIC=y
CONFIG_PROVE_RAW_LOCK_NESTING=y
CONFIG_QRTR=y
CONFIG_AD5686_SPI=y
CONFIG_SENSORS_EMC6W201=y
CONFIG_LEDS_GPIO=y
CONFIG_CRYPTO_KRB5ENC=y
CONFIG_USB_FUNCTIONFS=y
CONFIG_AFE4403=y
CONFIG_SOCK_CGROUP_DATA=y
CONFIG_USB_HSIC_USB3503=y
CONFIG_IRQCHIP=y
CONFIG_MEMFD_CREATE=y
CONFIG_IEEE802154_SOCKET=y
CONFIG_XILINX_PR_DECOUPLER=y
CONFIG_SPI_SPIDEV=y
CONFIG_PPDEV=y
CONFIG_USB_CYPRESS_CY7C63=y
CONFIG_IA32_FEAT_CTL=y
CONFIG_ZONE_DEVICE=y
CONFIG_HAVE_ARCH_HUGE_VMAP=y
CONFIG_USB_ARCH_HAS_HCD=y
CONFIG_MFD_RK8XX=y
CONFIG_CHARGER_MAX77976=y
CONFIG_HAVE_CONTEXT_TRACKING_USER_OFFSTACK=y
CONFIG_DWC_PCIE_PMU=y
CONFIG_RD_LZMA=y
CONFIG_REGULATOR_WM831X=y
CONFIG_USBIP_VHCI_HCD=y
CONFIG_I2C_MUX_PCA9541=y
CONFIG_EXTCON=y
CONFIG_INTERRUPT_CNT=y
CONFIG_FB_CARMINE_DRAM_EVAL=y
CONFIG_NLS_CODEPAGE_936=y
CONFIG_D3323AA=y
CONFIG_NEED_PER_CPU_EMBED_FIRST_CHUNK=y
CONFIG_DA9052_WATCHDOG=y
CONFIG_USB_EHCI_HCD=y
CONFIG_ICP10100=y
CONFIG_BPF_PRELOAD=y
CONFIG_REGULATOR_AS3722=y
CONFIG_PUNIT_ATOM_DEBUG=y
CONFIG_REGULATOR_MAX8952=y
CONFIG_ARCH_HAS_UACCESS_FLUSHCACHE=y
CONFIG_VL53L0X_I2C=y
CONFIG_USBPCWATCHDOG=y
CONFIG_LEDS_APU=y
CONFIG_MAX11205=y
CONFIG_DEBUG_MAPLE_TREE=y
CONFIG_DMA_CMA=y
CONFIG_REGULATOR_MP5416=y
CONFIG_CRYPTO_LIB_SM3_ARCH=y
CONFIG_ARCH_CORRECT_STACKTRACE_ON_KRETPROBE=y
CONFIG_CEC_CROS_EC=y
CONFIG_SECURITY_SAFESETID=y
CONFIG_CRYPTO_SM3=y
CONFIG_LEDS_PCA963X=y
CONFIG_CRYPTO_LIB_ARC4=y
CONFIG_FUSE_PASSTHROUGH=y
CONFIG_TWL6030_GPADC=y
CONFIG_GENERIC_PHY=y
CONFIG_ARCH_DMA_ADDR_T_64BIT=y
CONFIG_COMEDI_PCL818=y
CONFIG_X86_CX8=y
CONFIG_HAVE_PERF_EVENTS=y
CONFIG_SERIAL_CORE_CONSOLE=y
CONFIG_INTEGRITY=y
CONFIG_REGULATOR_BQ257XX=y
CONFIG_MFD_MAX7360=y
CONFIG_HP03=y
CONFIG_ADIS16550=y
CONFIG_NFC_PN532_UART=y
CONFIG_USB_CYTHERM=y
CONFIG_ARCH_HAS_PMEM_API=y
CONFIG_WPCM450_SOC=y
CONFIG_MFD_LP8788=y
CONFIG_USB_SERIAL_NAVMAN=y
CONFIG_SENSORS_G760A=y
CONFIG_RCU_CPU_STALL_CPUTIME=y
CONFIG_DIBS=y
CONFIG_CC_HAS_SANE_FUNCTION_ALIGNMENT=y
CONFIG_I2C_CP2615=y
CONFIG_VFIO_PCI_CORE=y
CONFIG_AD7949=y
CONFIG_NVMEM_MAX77759=y
CONFIG_PCI_DOMAINS=y
CONFIG_HAVE_FTRACE_REGS_HAVING_PT_REGS=y
CONFIG_HAVE_SOFTIRQ_ON_OWN_STACK=y
CONFIG_COMEDI_DT282X=y
CONFIG_ADIS16136=y
CONFIG_CC_HAS_AUTO_VAR_INIT_PATTERN=y
CONFIG_KGDB_LOW_LEVEL_TRAP=y
CONFIG_LOCKDEP=y
CONFIG_DNOTIFY=y
CONFIG_LEDS_LM3697=y
CONFIG_USB_HSIC_USB4604=y
CONFIG_PAGE_SIZE_LESS_THAN_256KB=y
CONFIG_TCG_TIS_SPI=y
