CONFIG_W1_SLAVE_DS2405=y
CONFIG_PAGE_SIZE_LESS_THAN_64KB=y
CONFIG_UNIPHIER_WATCHDOG=y
CONFIG_IMX_SCMI_BBM_EXT=y
CONFIG_YAMAHA_YAS530=y
CONFIG_ARM64_PA_BITS_48=y
CONFIG_CPU_FREQ_GOV_ONDEMAND=y
CONFIG_I2C_MUX_REG=y
CONFIG_TREE_SRCU=y
CONFIG_NTB=y
CONFIG_MFD_STM32_TIMERS=y
CONFIG_LEDS_USER=y
CONFIG_SM_GCC_MILOS=y
CONFIG_SENSIRION_SGP40=y
CONFIG_EXPERT=y
CONFIG_SENSORS_BH1770=y
CONFIG_STM32_DMA=y
CONFIG_HAVE_MOD_ARCH_SPECIFIC=y
CONFIG_SENSORS_LM95241=y
CONFIG_I2C_KEMPLD=y
CONFIG_BATTERY_ACT8945A=y
CONFIG_TCG_TIS_ST33ZP24_I2C=y
CONFIG_PHY_NS2_USB_DRD=y
CONFIG_PINCTRL_SM8650=y
CONFIG_MSA311=y
CONFIG_SUN55I_A523_CCU=y
CONFIG_CRYPTO_BLOWFISH_COMMON=y
CONFIG_OF_KOBJ=y
CONFIG_CRYPTO_JITTERENTROPY=y
CONFIG_MFD_DA9062=y
CONFIG_SENSORS_EMC2305=y
CONFIG_ALIM7101_WDT=y
CONFIG_S32G_WDT=y
CONFIG_CHARGER_DETECTOR_MAX14656=y
CONFIG_EXTCON=y
CONFIG_COMEDI_DT3000=y
CONFIG_FTRACE_SYSCALLS=y
CONFIG_MVEBU_SEI=y
CONFIG_REGULATOR_QCOM_LABIBB=y
CONFIG_EPROBE_EVENTS=y
CONFIG_MTK_CMDQ=y
CONFIG_ARCH_HAS_SETUP_DMA_OPS=y
CONFIG_FUTEX_PRIVATE_HASH=y
CONFIG_SENSORS_PMBUS=y
CONFIG_INTEL_TH_PCI=y
CONFIG_REGULATOR_MAX8649=y
CONFIG_GPIB_COMMON=y
CONFIG_COMEDI_NI_6527=y
CONFIG_GPIO_BY_PINCTRL=y
CONFIG_SENSORS_SY7636A=y
CONFIG_HAVE_RELIABLE_STACKTRACE=y
CONFIG_PINCTRL_CY8C95X0=y
CONFIG_PCIE_MEDIATEK=y
CONFIG_ARCH_HIBERNATION_POSSIBLE=y
CONFIG_THERMAL_HWMON=y
CONFIG_HAVE_IRQ_TIME_ACCOUNTING=y
CONFIG_MANAGER_SBS=y
CONFIG_SERIAL_AMBA_PL010=y
CONFIG_SM_VIDEOCC_8350=y
CONFIG_ARCH_MVEBU=y
CONFIG_LEDS_LT3593=y
CONFIG_SAR_GCC_2130P=y
CONFIG_SM_CAMCC_8550=y
CONFIG_COMEDI_CONTEC_PCI_DIO=y
CONFIG_SENSORS_MAX1668=y
CONFIG_CRYPTO_CBC=y
CONFIG_RV_REACT_PANIC=y
CONFIG_PINCTRL_CS47L92=y
CONFIG_CMA=y
CONFIG_QCOM_HIDMA=y
CONFIG_GENERIC_CALIBRATE_DELAY=y
CONFIG_CRYPTO_ECHAINIV=y
CONFIG_TEGRA_HOST1X=y
CONFIG_SLUB=y
CONFIG_MFD_ROHM_BD718XX=y
CONFIG_SENSORS_F71805F=y
CONFIG_COMMON_CLK_MT8188_VDOSYS=y
CONFIG_IRQ_BYPASS_MANAGER=y
CONFIG_SM_VIDEOCC_8450=y
CONFIG_DEBUG_LOCK_ALLOC=y
CONFIG_ARCH_LAN969X=y
CONFIG_INV_ICM45600_I2C=y
CONFIG_GCOV_KERNEL=y
CONFIG_COMMON_CLK_MT8188=y
CONFIG_PINCTRL_VISCONTI=y
CONFIG_RPMSG_CTRL=y
CONFIG_UNICODE=y
CONFIG_RAPIDIO_ENUM_BASIC=y
CONFIG_ARMADA_37XX_WATCHDOG=y
CONFIG_SENSORS_TPS25990=y
CONFIG_ST_UVIS25=y
CONFIG_LEDS_LM3642=y
CONFIG_HVC_IRQ=y
CONFIG_PHANTOM=y
CONFIG_MHI_BUS_EP=y
CONFIG_PINCTRL_BERLIN_BG4CT=y
CONFIG_IO_WQ=y
CONFIG_DEBUG_STACK_USAGE=y
CONFIG_XENFS=y
CONFIG_IRQ_DOMAIN_HIERARCHY=y
CONFIG_PHY_QCOM_USB_HS_28NM=y
CONFIG_REGMAP_W1=y
CONFIG_POWER_RESET_OCELOT_RESET=y
CONFIG_RETU_WATCHDOG=y
CONFIG_COMEDI_ADDI_APCI_3120=y
CONFIG_TRACE_REMOTE=y
CONFIG_ARCH_QCOM=y
CONFIG_TEE_BNXT_FW=y
CONFIG_ARCH_BERLIN=y
CONFIG_COMMON_CLK_CS2000_CP=y
CONFIG_I2C_UNIPHIER_F=y
CONFIG_VMAP_STACK=y
CONFIG_DMA_OPS_HELPERS=y
CONFIG_IOMMU_DEBUG_PAGEALLOC=y
CONFIG_VFIO_IOMMU_TYPE1=y
CONFIG_SM_VIDEOCC_8550=y
CONFIG_BATTERY_DS2780=y
CONFIG_HDC3020=y
CONFIG_MEDIATEK_MT6359_AUXADC=y
CONFIG_W1_SLAVE_SMEM=y
CONFIG_CGROUP_PIDS=y
CONFIG_HAVE_PAGE_SIZE_4KB=y
CONFIG_LEDS_BLINKM=y
CONFIG_RANDOMIZE_MODULE_REGION_FULL=y
CONFIG_HAVE_ARCH_KGDB=y
CONFIG_SCF_TORTURE_TEST=y
CONFIG_PROC_CHILDREN=y
CONFIG_QUEUED_SPINLOCKS=y
CONFIG_LEDS_LP5569=y
CONFIG_SOFTLOCKUP_DETECTOR=y
CONFIG_RESET_SCMI=y
CONFIG_COMEDI_PCI_DRIVERS=y
CONFIG_TPS6594_PFSM=y
CONFIG_DEBUG_KOBJECT=y
CONFIG_SENSORS_TSC1641=y
CONFIG_ARCH_TEGRA=y
CONFIG_CRYPTO_LIB_SHA256=y
CONFIG_REGULATOR_MT6311=y
CONFIG_BATTERY_MAX17040=y
CONFIG_SDM_CAMCC_845=y
CONFIG_TCG_TIS_I2C_NUVOTON=y
CONFIG_ARM_ARCH_TIMER=y
CONFIG_XZ_DEC_POWERPC=y
CONFIG_HAVE_ARCH_BITREVERSE=y
CONFIG_BMG160_I2C=y
CONFIG_TMPFS=y
CONFIG_CRYPTO_AKCIPHER=y
CONFIG_SERIAL_PXA=y
CONFIG_CRYPTO_SHA512=y
CONFIG_REGULATOR_UNIPHIER=y
CONFIG_PER_VMA_LOCK=y
CONFIG_MMC35240=y
CONFIG_GENERIC_TRACER=y
CONFIG_W1_MASTER_DS2482=y
CONFIG_SENSORS_ADM1025=y
CONFIG_VFIO_NOIOMMU=y
CONFIG_VL53L0X_I2C=y
CONFIG_MPILIB=y
CONFIG_PCIPCWATCHDOG=y
CONFIG_SSB_POSSIBLE=y
CONFIG_GCC_SUPPORTS_DYNAMIC_FTRACE_WITH_ARGS=y
CONFIG_AD5110=y
CONFIG_ARCH_HAS_DMA_PREP_COHERENT=y
CONFIG_CHARGER_SMB347=y
CONFIG_ARCH_SUNXI=y
CONFIG_SERIAL_SC16IS7XX=y
CONFIG_PROFILING=y
CONFIG_DMA_RESTRICTED_POOL=y
CONFIG_IRQSOFF_TRACER=y
CONFIG_MPRLS0025PA=y
CONFIG_COMEDI_DAS08_PCI=y
CONFIG_CRYPTO_DH=y
CONFIG_FB_SM501=y
CONFIG_AF8133J=y
CONFIG_MFD_CORE=y
CONFIG_CLKSRC_MMIO=y
CONFIG_VIRT_DRIVERS=y
CONFIG_PHY_MTK_DP=y
CONFIG_MFD_VX855=y
CONFIG_GENERIC_CSUM=y
CONFIG_HAVE_ARCH_PREL32_RELOCATIONS=y
CONFIG_SENSORS_BEL_PFE=y
CONFIG_IPMB_DEVICE_INTERFACE=y
CONFIG_MCP4725=y
CONFIG_REGMAP=y
CONFIG_SENSORS_NCT6775_CORE=y
CONFIG_POWER_RESET_GPIO=y
CONFIG_I2C_OCORES=y
CONFIG_PHY_MTK_HDMI=y
CONFIG_XEN=y
CONFIG_FPGA_MGR_XILINX_SELECTMAP=y
CONFIG_CHECKPOINT_RESTORE=y
CONFIG_RCU_EXP_KTHREAD=y
CONFIG_GPIO_XILINX=y
CONFIG_OSNOISE_TRACER=y
CONFIG_CHARGER_BQ256XX=y
CONFIG_NOA1305=y
CONFIG_PCIE_UNIPHIER=y
CONFIG_HAVE_GUP_FAST=y
CONFIG_PCIE_SG2042_HOST=y
CONFIG_CLK_OWL_S900=y
CONFIG_MFD_SM501=y
CONFIG_W1_SLAVE_THERM=y
CONFIG_ARM64_ERRATUM_1319367=y
CONFIG_STACKTRACE_SUPPORT=y
CONFIG_SUNXI_CCU=y
CONFIG_REGULATOR_MAX77503=y
CONFIG_SERIO=y
CONFIG_COMMON_CLK_MT8196_IMP_IIC_WRAP=y
CONFIG_GENERIC_IRQ_INJECTION=y
CONFIG_SYSTEM_BLACKLIST_KEYRING=y
CONFIG_SENSORS_UCD9200=y
CONFIG_NUMA_KEEP_MEMINFO=y
CONFIG_MOST=y
CONFIG_REGULATOR_ROHM=y
CONFIG_SENSORS_TPS53679=y
CONFIG_RESET_SUNXI=y
CONFIG_SENSORS_MP2925=y
CONFIG_REGULATOR_MT6363=y
CONFIG_AMD_QDMA=y
CONFIG_STM32_ADC=y
CONFIG_HAVE_VIRT_CPU_ACCOUNTING_GEN=y
CONFIG_SERIAL_EARLYCON_SEMIHOST=y
CONFIG_CRYPTO_LIB_SHA512=y
CONFIG_CC_HAS_SANE_FUNCTION_ALIGNMENT=y
CONFIG_HAVE_CMPXCHG_DOUBLE=y
CONFIG_RV=y
CONFIG_GENERIC_SCHED_CLOCK=y
CONFIG_QCOM_VADC_COMMON=y
CONFIG_SENSORS_VT8231=y
CONFIG_CONTEXT_TRACKING_USER=y
CONFIG_PREEMPT_COUNT=y
CONFIG_COMMON_CLK_MT8186_MDPSYS=y
CONFIG_RESET_SIMPLE=y
CONFIG_SENSORS_LX1308=y
CONFIG_SF_PDMA=y
CONFIG_CM32181=y
CONFIG_CGROUP_SCHED=y
CONFIG_HI6421V600_IRQ=y
CONFIG_I2C_BCM_IPROC=y
CONFIG_AMD_SBRMI_HWMON=y
CONFIG_PINCTRL_GLYMUR=y
CONFIG_CHARLCD_BL_ON=y
CONFIG_AMPERE_ERRATUM_AC03_CPU_38=y
CONFIG_AK09911=y
CONFIG_SM_GCC_6125=y
CONFIG_ENS160_I2C=y
CONFIG_LEDS_PCA955X=y
CONFIG_PCIE_VISCONTI_HOST=y
CONFIG_WATCH_QUEUE=y
CONFIG_THERMAL_EMULATION=y
CONFIG_MFD_DA9063=y
CONFIG_DEVPORT=y
CONFIG_ARCH_HAS_DMA_OPS=y
CONFIG_SENSORS_PM6764TR=y
CONFIG_SM_GCC_8250=y
CONFIG_HVC_XEN=y
CONFIG_FAULT_INJECTION_USERCOPY=y
CONFIG_HAVE_STACKPROTECTOR=y
CONFIG_SM_DISPCC_8250=y
CONFIG_IIO_BUFFER_CB=y
CONFIG_HAVE_ALIGNED_STRUCT_PAGE=y
CONFIG_REGULATOR_TPS65132=y
CONFIG_COMEDI_CB_PCIDAS=y
CONFIG_POWER_RESET_VEXPRESS=y
CONFIG_CGROUP_FAVOR_DYNMODS=y
CONFIG_SENSORS_LTC4283=y
CONFIG_SLUB_TINY=y
CONFIG_CC_OPTIMIZE_FOR_SIZE=y
CONFIG_DEVFREQ_GOV_USERSPACE=y
CONFIG_RCU_EXPERT=y
CONFIG_GPIO_TPS65218=y
CONFIG_TRACE_GPU_MEM=y
CONFIG_REGULATOR_HI6421=y
CONFIG_SERIAL_SPRD=y
CONFIG_CRYPTO_GENIV=y
CONFIG_COMMON_CLK_MT8188_IMP_IIC_WRAP=y
CONFIG_STMPE_I2C=y
CONFIG_PINCTRL_SUN8I_V3S=y
CONFIG_COMMON_CLK_MT6735=y
CONFIG_RPMSG_VIRTIO=y
CONFIG_HAVE_ARM_SMCCC=y
CONFIG_I2C_ALI15X3=y
CONFIG_SERIO_PCIPS2=y
CONFIG_STM32_DMA3=y
CONFIG_ARCH_SUPPORTS_SCHED_SMT=y
CONFIG_POWER_SEQUENCING_PCIE_M2=y
CONFIG_ARM64_ERRATUM_827319=y
CONFIG_REGULATOR_HI6421V530=y
CONFIG_COMMON_CLK_MT8196=y
CONFIG_PCI_ATS=y
CONFIG_SENSORS_INTEL_M10_BMC_HWMON=y
CONFIG_FPGA_BRIDGE=y
CONFIG_REGULATOR_SY7636A=y
CONFIG_TPS6105X=y
CONFIG_TCG_TIS_CORE=y
CONFIG_COMEDI_ADL_PCI7250=y
CONFIG_ARM_SMMU_V3=y
CONFIG_CHARGER_LT3651=y
CONFIG_GNSS=y
CONFIG_RPMB=y
CONFIG_I2C_GPIO=y
CONFIG_ARCH_HAS_PREEMPT_LAZY=y
CONFIG_FB_CYBER2000=y
CONFIG_PAGE_SIZE_LESS_THAN_256KB=y
CONFIG_SENSORS_MP9945=y
CONFIG_CRYPTO_RNG2=y
CONFIG_PINCTRL_SM6350=y
CONFIG_SENSORS_LTC4245=y
CONFIG_BMC150_MAGN_I2C=y
CONFIG_REGULATOR_STM32_VREFBUF=y
CONFIG_ARCH_HAS_MEM_ENCRYPT=y
CONFIG_MFD_QNAP_MCU=y
CONFIG_SENSORS_GL518SM=y
CONFIG_EVENTFD=y
CONFIG_SENSORS_LM78=y
CONFIG_POWER_SUPPLY_HWMON=y
CONFIG_FB_SYS_COPYAREA=y
CONFIG_UIO_DFL=y
CONFIG_CRYPTO_LIB_SHA3_ARCH=y
CONFIG_HAVE_GENERIC_VDSO=y
CONFIG_SENSORS_LM90=y
CONFIG_ARM_SCMI_RAW_MODE_SUPPORT_COEX=y
CONFIG_AD5592R_BASE=y
CONFIG_CC_IS_GCC=y
CONFIG_CC_NO_STRINGOP_OVERFLOW=y
CONFIG_VIRT_CPU_ACCOUNTING_GEN=y
CONFIG_CRYPTO_LIB_DES=y
CONFIG_RCU_EQS_DEBUG=y
CONFIG_CRYPTO_SIG2=y
CONFIG_RV_MON_STALL=y
CONFIG_ARCH_TEGRA_234_SOC=y
CONFIG_ADL8113=y
CONFIG_ARM_SMC_WATCHDOG=y
CONFIG_HAVE_C_RECORDMCOUNT=y
CONFIG_ARM_SCMI_HAVE_TRANSPORT=y
CONFIG_PCIE_CADENCE_PLAT=y
CONFIG_VIDEO=y
CONFIG_MEMORY_ISOLATION=y
CONFIG_ARCH_AIROHA=y
CONFIG_HAVE_PV_STEAL_CLOCK_GEN=y
CONFIG_COMEDI_KCOMEDILIB=y
CONFIG_HAVE_PERF_REGS=y
CONFIG_I2C_ALTERA=y
CONFIG_CRYPTO_SM4_ARM64_CE_GCM=y
CONFIG_APDS9960=y
CONFIG_PINCTRL_SUN8I_A23=y
CONFIG_LEDS_LP8864=y
CONFIG_TSL2583=y
CONFIG_REGULATOR_DEBUG=y
CONFIG_AS_IS_GNU=y
CONFIG_ARM_SCMI_TRANSPORT_VIRTIO_VERSION1_COMPLIANCE=y
CONFIG_MMU_NOTIFIER=y
CONFIG_COMMON_CLK_MT8188_MFGCFG=y
CONFIG_HAVE_FTRACE_GRAPH_FUNC=y
CONFIG_AD5593R=y
CONFIG_CONFIGFS_FS=y
CONFIG_COMEDI_AMPLC_PCI224=y
CONFIG_CORDIC=y
CONFIG_PCI_ENDPOINT_CONFIGFS=y
CONFIG_GROUP_SCHED_WEIGHT=y
CONFIG_CLK_HAWI_GCC=y
CONFIG_MFD_TPS6586X=y
CONFIG_CLK_X1E80100_CAMCC=y
CONFIG_EXTCON_ADC_JACK=y
CONFIG_RING_BUFFER_ALLOW_SWAP=y
CONFIG_COMEDI_ADV_PCI1710=y
CONFIG_PHY_BERLIN_USB=y
CONFIG_MSM_MMCC_8994=y
CONFIG_VMGENID=y
CONFIG_PM_GENERIC_DOMAINS=y
CONFIG_PL320_MBOX=y
CONFIG_SENSORS_SMSC47B397=y
CONFIG_QCOM_APCS_IPC=y
CONFIG_REGULATOR_88PM886=y
CONFIG_CLK_SOPHGO_SG2042_PLL=y
CONFIG_BATTERY_DA9030=y
CONFIG_COMEDI_DYNA_PCI10XX=y
CONFIG_ARM64=y
CONFIG_SENSORS_W83773G=y
CONFIG_SERIO_PS2MULT=y
CONFIG_ARM64_SW_TTBR0_PAN=y
CONFIG_I2C_RK3X=y
CONFIG_ENCRYPTED_KEYS=y
CONFIG_SENSORS_W83781D=y
CONFIG_BOSCH_BNO055_I2C=y
CONFIG_CB710_DEBUG_ASSUMPTIONS=y
CONFIG_SWIOTLB_XEN=y
CONFIG_NPCM_ADC=y
CONFIG_ARMADA_CP110_SYSCON=y
CONFIG_SENSIRION_SGP30=y
CONFIG_OPTEE_INSECURE_LOAD_IMAGE=y
CONFIG_HAVE_SAMPLE_FTRACE_DIRECT=y
CONFIG_CRYPTO_AES=y
CONFIG_PINCTRL_SDX75=y
CONFIG_NVMEM_SPMI_SDAM=y
CONFIG_SENSORS_MP2856=y
CONFIG_QCOM_SPMI_ADC5=y
CONFIG_XILINX_PR_DECOUPLER=y
CONFIG_PM_DEVFREQ=y
CONFIG_OWL_TIMER=y
CONFIG_GPIO_BT8XX=y
CONFIG_CLONE_BACKWARDS=y
CONFIG_PTDUMP=y
CONFIG_ARCH_SELECTS_KEXEC_FILE=y
CONFIG_MVEBU_GICP=y
CONFIG_USER_EVENTS=y
CONFIG_COMMON_CLK_MT7622_ETHSYS=y
CONFIG_FB_3DFX_I2C=y
CONFIG_ARM_SCMI_PROTOCOL=y
CONFIG_SHRINKER_DEBUG=y
CONFIG_GPIO_GENERIC_PLATFORM=y
CONFIG_PHY_QCOM_EUSB2_REPEATER=y
CONFIG_MISC_ALCOR_PCI=y
CONFIG_SENSORS_LM92=y
CONFIG_JUMP_LABEL=y
CONFIG_FB=y
CONFIG_VGASTATE=y
CONFIG_HW_RANDOM_IPROC_RNG200=y
CONFIG_REGULATOR_TPS6594=y
CONFIG_ARM_GIC_V5=y
CONFIG_MXC6255=y
CONFIG_PINCTRL_MTK_MOORE=y
CONFIG_TPS6594_ESM=y
CONFIG_SENSORS_ADT7410=y
CONFIG_PCI_MESON=y
CONFIG_GPIO_ADP5585=y
CONFIG_VISCONTI_WATCHDOG=y
CONFIG_IPQ_GCC_9574=y
CONFIG_ARCH_DMA_ADDR_T_64BIT=y
CONFIG_IIO_TRIGGER=y
CONFIG_SENSORS_SIS5595=y
CONFIG_PHY_QCOM_EDP=y
CONFIG_SUN50I_A100_R_CCU=y
CONFIG_DMA_VIRTUAL_CHANNELS=y
CONFIG_ARM64_MPAM=y
CONFIG_NVMEM_LAYOUT_SL28_VPD=y
CONFIG_VIRT_CPU_ACCOUNTING=y
CONFIG_SM_CAMCC_MILOS=y
CONFIG_NTB_TRANSPORT=y
CONFIG_ATLAS_EZO_SENSOR=y
CONFIG_POWER_SEQUENCING=y
CONFIG_REGULATOR_GPIO=y
CONFIG_SERIAL_SC16IS7XX_I2C=y
CONFIG_OF_NUMA=y
CONFIG_ARCH_SUPPORTS_SCHED_CLUSTER=y
CONFIG_HW_RANDOM_TPM=y
CONFIG_ARCH_USE_SYM_ANNOTATIONS=y
CONFIG_CPU_FREQ_GOV_ATTR_SET=y
CONFIG_GPIO_SHARED_PROXY=y
CONFIG_REGULATOR_PALMAS=y
CONFIG_MFD_MADERA_I2C=y
CONFIG_IOMMU_IO_PGTABLE_LPAE=y
CONFIG_REGULATOR_PV88090=y
CONFIG_FHANDLE=y
CONFIG_BUILDTIME_TABLE_SORT=y
CONFIG_CGROUP_DEVICE=y
CONFIG_TCG_VTPM_PROXY=y
CONFIG_ICS932S401=y
CONFIG_PCI_NPEM=y
CONFIG_SC_GPUCC_7180=y
CONFIG_WERROR=y
CONFIG_RPMSG=y
CONFIG_CRYPTO_LIB_AES_ARCH=y
CONFIG_XEN_BACKEND=y
CONFIG_FPGA_MGR_ALTERA_CVP=y
CONFIG_MHI_BUS_DEBUG=y
CONFIG_REGULATOR_TPS65185=y
CONFIG_CRYPTO_HMAC=y
CONFIG_CLK_INTEL_SOCFPGA=y
CONFIG_GPIO_MVEBU=y
CONFIG_IOMMU_IO_PGTABLE=y
CONFIG_NVMEM_LAYOUTS=y
CONFIG_SCHED_CORE=y
CONFIG_COMMON_CLK_MT2712_VDECSYS=y
CONFIG_PALMAS_GPADC=y
CONFIG_DMA_ENGINE_RAID=y
CONFIG_ZOPT2201=y
CONFIG_GPIO_XGENE=y
CONFIG_I2C_PARPORT=y
CONFIG_I3C=y
CONFIG_ARMADA_AP806_SYSCON=y
CONFIG_ISL76682=y
CONFIG_REGULATOR_MP5416=y
CONFIG_ARCH_XGENE=y
CONFIG_BATTERY_DA9150=y
CONFIG_HAVE_ARCH_VMAP_STACK=y
CONFIG_SCHED_CLUSTER=y
CONFIG_ZPA2326=y
CONFIG_CHARGER_BD99954=y
CONFIG_COMMON_CLK_SI521XX=y
CONFIG_FB_SYSMEM_FOPS=y
CONFIG_ARCH_UNIPHIER=y
CONFIG_REGMAP_I3C=y
CONFIG_SM_CAMCC_8450=y
CONFIG_ARM_SCMI_NEED_DEBUGFS=y
CONFIG_ISL29501=y
CONFIG_IIO_MS_SENSORS_I2C=y
CONFIG_IPQ_GCC_9650=y
CONFIG_ARCH_USE_GNU_PROPERTY=y
