CONFIG_CC_HAS_ENTRY_PADDING=n
CONFIG_WLAN_VENDOR_INTERSIL=n
CONFIG_X86_AMD_PSTATE=n
CONFIG_HAVE_HW_BREAKPOINT=n
CONFIG_CFG80211_DEFAULT_PS=n
CONFIG_GENERIC_IRQ_MATRIX_ALLOCATOR=n
CONFIG_CALL_THUNKS=n
CONFIG_NOINSTR_VALIDATION=n
CONFIG_PCIEPORTBUS=n
CONFIG_SOCK_CGROUP_DATA=n
CONFIG_NET_VENDOR_SIS=n
CONFIG_HAVE_IOREMAP_PROT=n
CONFIG_FUTEX_PI=n
CONFIG_XZ_DEC_RISCV=n
CONFIG_X86_REQUIRED_FEATURE_PSE=n
CONFIG_USB_STORAGE=n
CONFIG_NETPOLL=n
CONFIG_NFS_ACL_SUPPORT=n
CONFIG_ACPI_MDIO=n
CONFIG_WLAN_VENDOR_PURELIFI=n
CONFIG_HAVE_UID16=n
CONFIG_CC_HAS_IBT=n
CONFIG_KALLSYMS_ALL=n
CONFIG_INPUT_MOUSE=n
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE=n
CONFIG_EDAC_ATOMIC_SCRUB=n
CONFIG_CC_NO_STRINGOP_OVERFLOW=n
CONFIG_CRYPTO_AEAD2=n
CONFIG_THERMAL_DEFAULT_GOV_STEP_WISE=n
CONFIG_HOTPLUG_CORE_SYNC_DEAD=n
CONFIG_RANDOMIZE_MEMORY=n
CONFIG_NETFILTER_EGRESS=n
CONFIG_NET_VENDOR_MICREL=n
CONFIG_VT_CONSOLE_SLEEP=n
CONFIG_NUMA_MIGRATION=n
CONFIG_CRYPTO_LIB_ARC4=n
CONFIG_ARCH_WANT_DEFAULT_BPF_JIT=n
CONFIG_HAVE_CMPXCHG_LOCAL=n
CONFIG_STRICT_KERNEL_RWX=n
CONFIG_XFRM_ALGO=n
CONFIG_RD_LZO=n
CONFIG_KCMP=n
CONFIG_CROSS_MEMORY_ATTACH=n
CONFIG_X86_PAT=n
CONFIG_CC_HAS_ASSUME=n
CONFIG_ARCH_HAS_NON_OVERLAPPING_ADDRESS_SPACE=n
CONFIG_DST_CACHE=n
CONFIG_OPTPROBES=n
CONFIG_MITIGATION_RFDS=n
CONFIG_USB_HID=n
CONFIG_CC_HAS_ASM_GOTO_TIED_OUTPUT=n
CONFIG_CRYPTO_LIB_SHA512=n
CONFIG_SYSTEM_TRUSTED_KEYRING=n
CONFIG_ARCH_SPARSEMEM_ENABLE=n
CONFIG_IPC_NS=n
CONFIG_OBJTOOL=n
CONFIG_SPLIT_PMD_PTLOCKS=n
CONFIG_PROC_PID_ARCH_STATUS=n
CONFIG_CRYPTO_LIB_SHA512_ARCH=n
CONFIG_TOOLS_SUPPORT_RELR=n
CONFIG_EFI=n
CONFIG_NF_NAT_SIP=n
CONFIG_ZLIB_INFLATE=n
CONFIG_PTP_1588_CLOCK=n
CONFIG_RCU_TRACE=n
CONFIG_EFI_PARTITION=n
CONFIG_IO_URING=n
CONFIG_PAGE_POOL=n
CONFIG_VIRTIO_NET=n
CONFIG_UPROBE_EVENTS=n
CONFIG_X86_TSC=n
CONFIG_NET_VENDOR_ROCKER=n
CONFIG_AMD_NODE=n
CONFIG_SYSCTL=n
CONFIG_X86_DISABLED_FEATURE_TDX_GUEST=n
CONFIG_NF_CONNTRACK_FTP=n
CONFIG_X86_ACPI_CPUFREQ=n
CONFIG_CORE_DUMP_DEFAULT_ELF_HEADERS=n
CONFIG_ARCH_HAS_KERNEL_FPU_SUPPORT=n
CONFIG_SCHED_HRTICK=n
CONFIG_NET_VENDOR_DLINK=n
CONFIG_ARCH_HAS_CPU_PASID=n
CONFIG_ARCH_SUPPORTS_UPROBES=n
CONFIG_CRYPTO_CBC=n
CONFIG_DEBUG_FS_ALLOW_ALL=n
CONFIG_HOTPLUG_SPLIT_STARTUP=n
CONFIG_ARCH_HAS_SET_MEMORY=n
CONFIG_KRETPROBE_ON_RETHOOK=n
CONFIG_CONTEXT_TRACKING=n
CONFIG_DIMLIB=n
CONFIG_HAVE_ARCH_JUMP_LABEL=n
CONFIG_NF_DEFRAG_IPV4=n
CONFIG_ARCH_WANT_BATCHED_UNMAP_TLB_FLUSH=n
CONFIG_BLK_DEV_BSG=n
CONFIG_HAVE_ARCH_SECCOMP_FILTER=n
CONFIG_DEBUG_DEVRES=n
CONFIG_ARCH_MIGHT_HAVE_PC_PARPORT=n
CONFIG_ARCH_SUPPORTS_KEXEC_SIG_FORCE=n
CONFIG_PROC_VMCORE=n
CONFIG_NF_NAT_IRC=n
CONFIG_PNFS_BLOCK=n
CONFIG_MSDOS_FS=n
CONFIG_DECOMPRESS_LZO=n
CONFIG_HAVE_PCSPKR_PLATFORM=n
CONFIG_SYMBOLIC_ERRNAME=n
CONFIG_OID_REGISTRY=n
CONFIG_TICK_ONESHOT=n
CONFIG_CGROUP_MISC=n
CONFIG_DEBUG_STACK_USAGE=n
CONFIG_MITIGATION_UNRET_ENTRY=n
CONFIG_SERIAL_EARLYCON=n
CONFIG_DRM_GEM_SHMEM_HELPER=n
CONFIG_WLAN_VENDOR_MICROCHIP=n
CONFIG_ARCH_DMA_ADDR_T_64BIT=n
CONFIG_LEGACY_DIRECT_IO=n
CONFIG_OLD_SIGSUSPEND3=n
CONFIG_PROVIDE_OHCI1394_DMA_INIT=n
CONFIG_NF_CONNTRACK_SECMARK=n
CONFIG_PACKET=n
CONFIG_ARCH_CLOCKSOURCE_INIT=n
CONFIG_DRM_PANEL_BRIDGE=n
CONFIG_DEBUG_ENTRY=n
CONFIG_SPARSEMEM_VMEMMAP_PREINIT=n
CONFIG_EXECMEM=n
CONFIG_SND_HWDEP=n
CONFIG_VDSO_GETRANDOM=n
CONFIG_DMI_SCAN_MACHINE_NON_EFI_FALLBACK=n
CONFIG_ACPI_BGRT=n
CONFIG_AS_HAS_NON_CONST_ULEB128=n
CONFIG_X86_INTEL_PSTATE=n
CONFIG_USB_OHCI_LITTLE_ENDIAN=n
CONFIG_ARCH_SUPPORTS_KMAP_LOCAL_FORCE_MAP=n
CONFIG_VT_CONSOLE=n
CONFIG_IRQ_FORCED_THREADING=n
CONFIG_PTP_1588_CLOCK_KVM=n
CONFIG_USB_EHCI_PCI=n
CONFIG_SERIAL_8250_MID=n
CONFIG_AIO=n
CONFIG_NET_VENDOR_CISCO=n
CONFIG_PERF_EVENTS_INTEL_CSTATE=n
CONFIG_SERIAL_8250_SHARE_IRQ=n
CONFIG_THERMAL_HWMON=n
CONFIG_JBD2=n
CONFIG_ACPI_PROCESSOR_IDLE=n
CONFIG_CPU_FREQ_GOV_ATTR_SET=n
CONFIG_MTRR=n
CONFIG_EARLY_PRINTK_DBGP=n
CONFIG_ARCH_HAS_STRICT_MODULE_RWX=n
CONFIG_LOCALVERSION_AUTO=n
CONFIG_NETFILTER_XT_TARGET_MASQUERADE=n
CONFIG_NET_VENDOR_FUNGIBLE=n
CONFIG_MUTEX_SPIN_ON_OWNER=n
CONFIG_FUTEX_ROBUST_UNLOCK=n
CONFIG_MAC80211_RC_DEFAULT_MINSTREL=n
CONFIG_FW_LOADER=n
CONFIG_SCHED_INFO=n
CONFIG_ACPI_LEGACY_TABLES_LOOKUP=n
CONFIG_NET_EGRESS=n
CONFIG_NFS_FS=n
CONFIG_CRYPTO_SHA256=n
CONFIG_X86_REQUIRED_FEATURE_XMM2=n
CONFIG_MAC80211_HAS_RC=n
CONFIG_STACKPROTECTOR_STRONG=n
CONFIG_CPU_FREQ_DEFAULT_GOV_USERSPACE=n
CONFIG_IP_PNP_RARP=n
CONFIG_HAVE_ARCH_KGDB=n
CONFIG_ATA_SFF=n
CONFIG_HAVE_GCC_PLUGINS=n
CONFIG_IP_PNP_DHCP=n
CONFIG_VIRTIO_PCI_ADMIN_LEGACY=n
CONFIG_SERIAL_8250_DMA=n
CONFIG_NET_VENDOR_SOLARFLARE=n
CONFIG_SGL_ALLOC=n
CONFIG_BROADCAST_TLB_FLUSH=n
CONFIG_INSTRUCTION_DECODER=n
CONFIG_SERIAL_8250_PCILIB=n
CONFIG_ARCH_SUSPEND_POSSIBLE=n
CONFIG_MIGRATION=n
CONFIG_BLK_DEV=n
CONFIG_INET6_ESP=n
CONFIG_ARCH_WANT_LD_ORPHAN_WARN=n
CONFIG_SKB_EXTENSIONS=n
CONFIG_MISC_FILESYSTEMS=n
CONFIG_PCI_LABEL=n
CONFIG_FIB_RULES=n
CONFIG_X86_EXTENDED_PLATFORM=n
CONFIG_UNION_FIND=n
CONFIG_APERTURE_HELPERS=n
CONFIG_RTC_INTF_DEV=n
CONFIG_PNFS_FILE_LAYOUT=n
CONFIG_PAGE_SIZE_4KB=n
CONFIG_NET_VENDOR_OKI=n
CONFIG_CRYPTO_SIG2=n
CONFIG_NF_REJECT_IPV4=n
CONFIG_GENERIC_IRQ_SHOW=n
CONFIG_ARCH_STACKWALK=n
CONFIG_INTEL_GTT=n
CONFIG_HAVE_ARCH_MMAP_RND_BITS=n
CONFIG_ARCH_HAS_ELFCORE_COMPAT=n
CONFIG_FS_MBCACHE=n
CONFIG_ARCH_USE_QUEUED_RWLOCKS=n
CONFIG_GENERIC_CLOCKEVENTS_COUPLED_INLINE=n
CONFIG_SND_HDA=n
CONFIG_HAVE_FUNCTION_ARG_ACCESS_API=n
CONFIG_HAVE_ARCH_WITHIN_STACK_FRAMES=n
CONFIG_CLOCKSOURCE_WATCHDOG=n
CONFIG_BLK_DEV_SR=n
CONFIG_IP_ROUTE_VERBOSE=n
CONFIG_HSU_DMA=n
CONFIG_HUGETLB_PAGE=n
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_JMP=n
CONFIG_ARCH_SUPPORTS_PER_VMA_LOCK=n
CONFIG_HAVE_EXIT_THREAD=n
CONFIG_HALTPOLL_CPUIDLE=n
CONFIG_HAVE_STATIC_CALL_INLINE=n
CONFIG_IPV6=n
CONFIG_CONNECTOR=n
CONFIG_TMPFS_XATTR=n
CONFIG_SUNRPC_BACKCHANNEL=n
CONFIG_ACPI_CONTAINER=n
CONFIG_DNS_RESOLVER=n
CONFIG_INTERVAL_TREE=n
CONFIG_NET_9P_VIRTIO=n
CONFIG_PATA_SCH=n
CONFIG_NLATTR=n
CONFIG_SHMEM=n
CONFIG_HAVE_GUP_FAST=n
CONFIG_CPU_ISOLATION=n
CONFIG_INTEGRITY_AUDIT=n
CONFIG_WLAN_VENDOR_SILABS=n
CONFIG_AS_WRUSS=n
CONFIG_SCSI=n
CONFIG_DRM_DISPLAY_DSC_HELPER=n
CONFIG_ARCH_HAS_SET_DIRECT_MAP=n
CONFIG_NET_FAILOVER=n
CONFIG_SECURITY_SELINUX_BOOTPARAM=n
CONFIG_DEBUG_KERNEL=n
CONFIG_NF_NAT=n
CONFIG_NET_VENDOR_MICROSEMI=n
CONFIG_THERMAL=n
CONFIG_TASK_IO_ACCOUNTING=n
CONFIG_CRYPTO=n
CONFIG_NET_VENDOR_NVIDIA=n
CONFIG_ZONE_DMA32=n
CONFIG_PM_DEBUG=n
CONFIG_SECURITY_SELINUX_AVC_STATS=n
CONFIG_INPUT_LEDS=n
CONFIG_USB_DEFAULT_PERSIST=n
CONFIG_ARCH_WANTS_CLOCKSOURCE_READ_INLINE=n
CONFIG_CHECK_SIGNATURE=n
CONFIG_CGROUP_SCHED=n
CONFIG_DM_MIRROR=n
CONFIG_ARCH_HAS_GENERIC_CRASHKERNEL_RESERVATION=n
CONFIG_NET_VENDOR_ALIBABA=n
CONFIG_PTDUMP=n
CONFIG_DRM=n
CONFIG_NET_VENDOR_QUALCOMM=n
CONFIG_IP_PNP=n
CONFIG_ARCH_SUPPORTS_LTO_CLANG_THIN=n
CONFIG_SND_JACK_INPUT_DEV=n
CONFIG_NEW_LEDS=n
CONFIG_NET_POLL_CONTROLLER=n
CONFIG_BUFFER_HEAD=n
CONFIG_X86_INTEL_MEMORY_PROTECTION_KEYS=n
CONFIG_AUDIT=n
CONFIG_CC_HAS_SANE_FUNCTION_ALIGNMENT=n
CONFIG_X86_DIRECT_GBPAGES=n
CONFIG_CRYPTO_LIB_UTILS=n
CONFIG_HAVE_RUST=n
CONFIG_MMU_LAZY_TLB_REFCOUNT=n
CONFIG_FAIR_GROUP_SCHED=n
CONFIG_YENTA_TOSHIBA=n
CONFIG_STANDALONE=n
CONFIG_WMI_BMOF=n
CONFIG_X86_DISABLED_FEATURE_VME=n
CONFIG_RD_GZIP=n
CONFIG_GENERIC_IOMAP=n
CONFIG_DEVTMPFS_MOUNT=n
CONFIG_HIDRAW=n
CONFIG_MITIGATION_SPECTRE_BHI=n
CONFIG_X509_CERTIFICATE_PARSER=n
CONFIG_ASYMMETRIC_PUBLIC_KEY_SUBTYPE=n
CONFIG_MOUSE_PS2_LIFEBOOK=n
CONFIG_PCI_MSI=n
CONFIG_POWER_SUPPLY=n
CONFIG_ACPI_MRRM=n
CONFIG_IRQ_DOMAIN=n
CONFIG_MITIGATION_RETHUNK=n
CONFIG_ARCH_USE_SYM_ANNOTATIONS=n
CONFIG_USB_XHCI_PCI=n
CONFIG_IOMMU_PT_AMDV1=n
CONFIG_SYSCTL_EXCEPTION_TRACE=n
CONFIG_HID=n
CONFIG_SECCOMP_FILTER=n
CONFIG_CONTEXT_SWITCH_TRACER=n
CONFIG_MODULES_TREE_LOOKUP=n
CONFIG_HAVE_ARCH_KASAN=n
CONFIG_ARCH_SUPPORTS_KEXEC_PURGATORY=n
CONFIG_PTP_1588_CLOCK_VMCLOCK=n
CONFIG_NET_VENDOR_VIA=n
