CONFIG_CLK_RCAR_USB2_CLOCK_SEL=n
CONFIG_USB_SERIAL_WWAN=n
CONFIG_VIDEO_HANTRO_ROCKCHIP=n
CONFIG_ARM_SCMI_TRANSPORT_MAILBOX=n
CONFIG_CRC64_ARCH=n
CONFIG_NET_VENDOR_ATHEROS=n
CONFIG_HAVE_KVM_IRQ_BYPASS=n
CONFIG_PINCTRL_IPQ5424=n
CONFIG_CAN_DEV=n
CONFIG_POWER_RESET_TORADEX_EC=n
CONFIG_PCI_PWRCTRL_PWRSEQ=n
CONFIG_TI_SCI_INTA_IRQCHIP=n
CONFIG_XEN_AUTO_XLATE=n
CONFIG_COMMON_CLK_MT8365_MFG=n
CONFIG_VIRTIO_PCI=n
CONFIG_MEDIATEK_MT6577_AUXADC=n
CONFIG_I2C_RCAR=n
CONFIG_PINCTRL_MT6779=n
CONFIG_RTL_CARDS=n
CONFIG_QCOM_IPCC=n
CONFIG_SND_SIMPLE_CARD=n
CONFIG_SND_SOC_WM8524=n
CONFIG_USB_ROLE_SWITCH=n
CONFIG_PINCTRL_MTK=n
CONFIG_GPIO_WCD934X=n
CONFIG_CRYPTO_SKCIPHER2=n
CONFIG_SERIAL_8250_FSL=n
CONFIG_TI_ADS1015=n
CONFIG_TMPFS=n
CONFIG_SND_MESON_AXG_TDMOUT=n
CONFIG_INTERCONNECT_QCOM_MSM8996=n
CONFIG_OF_RESOLVE=n
CONFIG_SND_SOC_LPASS_PLATFORM=n
CONFIG_TI_K3_CPPI_DESC_POOL=n
CONFIG_COMMON_CLK_MT8192_IMGSYS=n
CONFIG_ACPI_PROCESSOR_IDLE=n
CONFIG_SOFTIRQ_ON_OWN_STACK=n
CONFIG_ASPEED_P2A_CTRL=n
CONFIG_ARCH_SUPPORTS_NUMA_BALANCING=n
CONFIG_SND_MESON_AXG_TDMIN=n
CONFIG_SND_SOC_WM8960=n
CONFIG_PNPACPI=n
CONFIG_I2C_S3C2410=n
CONFIG_FSL_DPAA2_PTP_CLOCK=n
CONFIG_MSM_GCC_8998=n
CONFIG_SUNXI_MBUS=n
CONFIG_DRM_PANEL_HIMAX_HX83112B=n
CONFIG_CORESIGHT_LINKS_AND_SINKS=n
CONFIG_ACPI_THERMAL_LIB=n
CONFIG_RESET_CONTROLLER=n
CONFIG_FEC=n
CONFIG_SPARSEMEM=n
CONFIG_SQUASHFS=n
CONFIG_SND_SOC_QDSP6_USB=n
CONFIG_CFG80211_CRDA_SUPPORT=n
CONFIG_ARCH_WANT_DEFAULT_TOPDOWN_MMAP_LAYOUT=n
CONFIG_ARCH_WANT_HUGE_PMD_SHARE=n
CONFIG_IOMMU_IO_PGTABLE=n
CONFIG_CC_HAS_BRANCH_PROT_PAC_RET_BTI=n
CONFIG_HAVE_PCI=n
CONFIG_STRICT_KERNEL_RWX=n
CONFIG_COMMON_CLK_MT8192_MSDC=n
CONFIG_IOMMU_DMA=n
CONFIG_ACPI_REDUCED_HARDWARE_ONLY=n
CONFIG_EXYNOS_USI=n
CONFIG_RFKILL_INPUT=n
CONFIG_TYPEC_MUX_FSA4480=n
CONFIG_SH_ETH=n
CONFIG_MTK_GPUEB_MBOX=n
CONFIG_FSL_FMAN=n
CONFIG_PCI_PWRCTRL_GENERIC=n
CONFIG_DWMAC_ROCKCHIP=n
CONFIG_TEE=n
CONFIG_PCIE_BRCMSTB=n
CONFIG_SCSI_HISI_SAS=n
CONFIG_SCSI_UFS_RENESAS=n
CONFIG_COMMON_CLK_MT8186_VENCSYS=n
CONFIG_SND_SOC_QDSP6_COMMON=n
CONFIG_POLARFIRE_SOC_IRQ_MUX=n
CONFIG_STM32_OMM=n
CONFIG_CC_CAN_LINK=n
CONFIG_BUILDTIME_TABLE_SORT=n
CONFIG_TRANSPARENT_HUGEPAGE_SHMEM_HUGE_NEVER=n
CONFIG_FB_CFB_COPYAREA=n
CONFIG_SND_SOC_USB=n
CONFIG_LEGACY_TIOCSTI=n
CONFIG_IPC_NS=n
CONFIG_QCM_DISPCC_2290=n
CONFIG_DRM_TTM_HELPER=n
CONFIG_INTERCONNECT_QCOM_OSM_L3=n
CONFIG_LEDS_CLASS=n
CONFIG_FRAME_POINTER=n
CONFIG_COMMON_CLK_XLNX_CLKWZRD=n
CONFIG_ARCH_R8A77990=n
CONFIG_CRYPTO_MANAGER=n
CONFIG_ARCH_HAS_RESET_CONTROLLER=n
CONFIG_SND_SOC_MT8192_MT6359_RT1015_RT5682=n
CONFIG_PWM_RENESAS_TPU=n
CONFIG_FB_CFB_IMAGEBLIT=n
CONFIG_DRM_CLIENT_SELECTION=n
CONFIG_NFC_S3FWRN5=n
CONFIG_MEDIA_PLATFORM_SUPPORT=n
CONFIG_PINCTRL_S900=n
CONFIG_ARM_PSCI_FW=n
CONFIG_DRM_EXYNOS7_DECON=n
CONFIG_ARCH_ENABLE_MEMORY_HOTPLUG=n
CONFIG_HAVE_STACKPROTECTOR=n
CONFIG_REGULATOR_BD9571MWV=n
CONFIG_PINCTRL_MILOS_LPASS_LPI=n
CONFIG_MMC_SDHCI_ACPI=n
CONFIG_PCI_XGENE_MSI=n
CONFIG_IPMI_DEVICE_INTERFACE=n
CONFIG_VFIO_GROUP=n
CONFIG_DWMAC_SUN55I=n
CONFIG_SYS_SUPPORTS_SH_TMU=n
CONFIG_MMC_OWL=n
CONFIG_MMC_TMIO_CORE=n
CONFIG_REGULATOR_QCOM_RPMH=n
CONFIG_DRM_RCAR_USE_CMM=n
CONFIG_CPUSETS=n
CONFIG_PWC_RZV2M=n
CONFIG_IIO_CROS_EC_LIGHT_PROX=n
CONFIG_QCOM_PDR_MSG=n
CONFIG_BT_HCIRSI=n
CONFIG_PCIE_IPROC=n
CONFIG_ARCH_RENESAS=n
CONFIG_ARCH_TEGRA_264_SOC=n
CONFIG_CAVIUM_TX2_ERRATUM_219=n
CONFIG_COMMON_CLK_MT8167_AUDSYS=n
CONFIG_GENERIC_PINMUX_FUNCTIONS=n
CONFIG_SUN55I_A523_MCU_CCU=n
CONFIG_TEGRA186_GPC_DMA=n
CONFIG_DRM_PANEL_SITRONIX_ST7703=n
CONFIG_SND_SOC_RK817=n
CONFIG_NF_LOG_SYSLOG=n
CONFIG_PATA_OF_PLATFORM=n
CONFIG_DRM_PANEL_BOE_TV101WUM_NL6=n
CONFIG_COMMON_CLK_MT8196_MFGCFG=n
CONFIG_MTD_NAND_QCOM=n
CONFIG_SYSC_R8A77961=n
CONFIG_NAMESPACES=n
CONFIG_DECOMPRESS_LZMA=n
CONFIG_ARCH_SUPPORTS_KEXEC_FILE=n
CONFIG_PPS=n
CONFIG_PINCTRL_PFC_R8A774E1=n
CONFIG_GPIO_EN7523=n
CONFIG_INTERCONNECT_IMX8MP=n
CONFIG_COMMON_CLK_MEDIATEK_FHCTL=n
CONFIG_RTC_DRV_FSL_FTM_ALARM=n
CONFIG_RC_DECODERS=n
CONFIG_TIMER_PROBE=n
CONFIG_DMA_ENGINE=n
CONFIG_CRYPTO_LIB_ARC4=n
CONFIG_RTC_DRV_MT6397=n
CONFIG_MFD_AXP20X_RSB=n
CONFIG_NEED_KVM_DIRTY_RING_WITH_BITMAP=n
CONFIG_MLX5_BRIDGE=n
CONFIG_MOUSE_ELAN_I2C_I2C=n
CONFIG_RTC_DRV_DS1307=n
CONFIG_SLUB_DEBUG=n
CONFIG_PHY_SAMSUNG_UFS=n
CONFIG_ARCH_MXC=n
CONFIG_COMMON_CLK_MT8183_IPU_CORE0=n
CONFIG_CLK_RK3328=n
CONFIG_GENERIC_CPU_VULNERABILITIES=n
CONFIG_SND_SOC_FSL_SAI=n
CONFIG_HAVE_GUP_FAST=n
CONFIG_SC_CAMCC_8280XP=n
CONFIG_ACPI_AC=n
CONFIG_CRYPTO_LIB_SM3=n
CONFIG_PWM_STM32=n
CONFIG_CRYPTO_USER=n
CONFIG_THREAD_INFO_IN_TASK=n
CONFIG_ACPI_PPTT=n
CONFIG_PCIEASPM_DEFAULT=n
CONFIG_ARCH_MEDIATEK=n
CONFIG_HISILICON_LPC=n
CONFIG_TIMER_IMX_SYS_CTR=n
CONFIG_SWIOTLB=n
CONFIG_VIRTIO=n
CONFIG_SPI_OMAP24XX=n
CONFIG_DRM_KOMEDA=n
CONFIG_RZG2L_ADC=n
CONFIG_SM_CAMCC_8650=n
CONFIG_SND_SOC_WM8904=n
CONFIG_AHCI_XGENE=n
CONFIG_CRYPTO_KRB5=n
CONFIG_PINCTRL_STM32MP257=n
CONFIG_HW_RANDOM_ROCKCHIP=n
CONFIG_MACB=n
CONFIG_RTC_I2C_AND_SPI=n
CONFIG_CGROUP_PERF=n
CONFIG_NFC_NCI=n
CONFIG_IRQ_DOMAIN_HIERARCHY=n
CONFIG_ARM64_HW_AFDBM=n
CONFIG_CRYPTO_GHASH_ARM64_CE=n
CONFIG_IP_MULTICAST=n
CONFIG_TI_SYSCON_CLK=n
CONFIG_VFIO_VIRQFD=n
CONFIG_SM_GPUCC_8750=n
CONFIG_KSM=n
CONFIG_PWRSEQ_EMMC=n
CONFIG_DRM_I2C_NXP_TDA998X=n
CONFIG_MARVELL_10G_PHY=n
CONFIG_CRYPTO_DEV_FSL_CAAM_COMMON=n
CONFIG_VIDEO_IMX_MIPI_CSIS=n
CONFIG_SND_SOC_WCD937X=n
CONFIG_TI_K3_RINGACC=n
CONFIG_TI_AM335X_ADC=n
CONFIG_SND_HDA_CORE=n
CONFIG_SND_SOC_TEGRA210_DMIC=n
CONFIG_I2C_UNIPHIER_F=n
CONFIG_PCIE_MOBIVEIL=n
CONFIG_SCREEN_INFO=n
CONFIG_DP83822_PHY=n
CONFIG_RESET_BRCMSTB=n
CONFIG_CRYPTO_LZ4=n
CONFIG_DRM_SUN8I_DW_HDMI=n
CONFIG_SND_MESON_AXG_TODDR=n
CONFIG_MODULES_USE_ELF_RELA=n
CONFIG_GPIO_GENERIC=n
CONFIG_VIRT_XFER_TO_GUEST_WORK=n
CONFIG_SG_SPLIT=n
CONFIG_I2C_HID_OF=n
CONFIG_USB_RENESAS_USBHS=n
CONFIG_CGROUP_HUGETLB=n
CONFIG_VIDEOBUF2_DMA_SG=n
CONFIG_CRC_CCITT=n
CONFIG_IWLWIFI=n
CONFIG_BCM2835_THERMAL=n
CONFIG_CAN_RAW=n
CONFIG_ARM_AMBA=n
CONFIG_PCIE_ALTERA_MSI=n
CONFIG_VEXPRESS_CONFIG=n
CONFIG_PHY_ROCKCHIP_PCIE=n
CONFIG_THUNDER_NIC_BGX=n
CONFIG_USB_CDNS3_TI=n
CONFIG_CLK_R9A09G047=n
CONFIG_ACPI_APMT=n
CONFIG_CMA=n
CONFIG_MTK_SOCINFO=n
CONFIG_MEMORY_FAILURE=n
CONFIG_CLKSRC_MMIO=n
CONFIG_I2C_MESON=n
CONFIG_DRM_TI_SN65DSI83=n
CONFIG_DEVTMPFS_MOUNT=n
CONFIG_PHY_QCOM_QMP=n
CONFIG_USB_DWC2=n
CONFIG_HISILICON_ERRATUM_161600802=n
CONFIG_PCIE_APPLE=n
CONFIG_CLKSRC_EXYNOS_MCT=n
CONFIG_ARM64_WORKAROUND_CLEAN_CACHE=n
CONFIG_VT_CONSOLE_SLEEP=n
CONFIG_PINCTRL_MILOS=n
CONFIG_CHARGER_CROS_PCHG=n
CONFIG_DRM_POWERVR=n
CONFIG_UTS_NS=n
CONFIG_HAVE_ARCH_THREAD_STRUCT_WHITELIST=n
CONFIG_MLX5_SW_STEERING=n
CONFIG_VITESSE_PHY=n
CONFIG_ROCKCHIP_PHY=n
CONFIG_CRC_ITU_T=n
CONFIG_ARCH_HAS_PTE_SPECIAL=n
CONFIG_ARCH_WANT_BATCHED_UNMAP_TLB_FLUSH=n
CONFIG_CRYPTO_LIB_AES_ARCH=n
CONFIG_NF_CT_PROTO_SCTP=n
CONFIG_PINCTRL_DA9062=n
CONFIG_HDMI=n
CONFIG_WLAN_VENDOR_REALTEK=n
CONFIG_TYPEC_RT1711H=n
CONFIG_NFC_NXP_NCI=n
CONFIG_CRYPTO_LIB_SHA256=n
CONFIG_MMU_GATHER_RCU_TABLE_FREE=n
CONFIG_TI_MESSAGE_MANAGER=n
CONFIG_XEN_DOM0=n
CONFIG_HAVE_RSEQ=n
CONFIG_SND_VMASTER=n
CONFIG_QDU_GCC_1000=n
CONFIG_FONT_SUPPORT=n
CONFIG_DRM_RCAR_WRITEBACK=n
CONFIG_COMMON_CLK_MT8186_CAMSYS=n
CONFIG_SH_TIMER_CMT=n
CONFIG_FANOTIFY=n
CONFIG_USB_RTL8152=n
CONFIG_LEDS_TRIGGER_HEARTBEAT=n
CONFIG_PHY_XGENE=n
CONFIG_SM_GPUCC_6350=n
CONFIG_TI_ICSSG_PRUETH=n
CONFIG_SYSTEM_DATA_VERIFICATION=n
CONFIG_MTD_SPI_NOR_USE_4K_SECTORS=n
CONFIG_BT_RTL=n
CONFIG_SND_SOC_RT5682S=n
CONFIG_REGULATOR_LP873X=n
CONFIG_CRYPTO_HW=n
CONFIG_ARCH_HAS_CURRENT_STACK_POINTER=n
CONFIG_SND_SOC_RT1011=n
CONFIG_NFS_V4_2_SSC_HELPER=n
CONFIG_MESON_SARADC=n
CONFIG_BCM_NET_PHYLIB=n
CONFIG_ARCH_BCMBCA=n
