CONFIG_CRYPTO_LIB_GF128HASH=n
CONFIG_FB_SYS_COPYAREA=n
CONFIG_SND_DRIVERS=n
CONFIG_PINCTRL_STARFIVE_JH7110_AON=n
CONFIG_EFI_PARAMS_FROM_FDT=n
CONFIG_NET_VENDOR_ALLWINNER=n
CONFIG_MSDOS_FS=n
CONFIG_SECURITYFS=n
CONFIG_TOOLCHAIN_HAS_ZBC=n
CONFIG_HAVE_SYSCALL_TRACEPOINTS=n
CONFIG_NET_VENDOR_GOOGLE=n
CONFIG_CROSS_MEMORY_ATTACH=n
CONFIG_DEBUG_MEMORY_INIT=n
CONFIG_USB_CONFIGFS_NCM=n
CONFIG_SERIO_LIBPS2=n
CONFIG_NETWORK_FILESYSTEMS=n
CONFIG_OF_ADDRESS=n
CONFIG_HAVE_CLK_PREPARE=n
CONFIG_ARCH_MICROCHIP_POLARFIRE=n
CONFIG_RISCV_DMA_NONCOHERENT=n
CONFIG_SCHED_HRTICK=n
CONFIG_CLK_STARFIVE_JH7110_SYS=n
CONFIG_NET_9P=n
CONFIG_RISCV_NONSTANDARD_CACHE_OPS=n
CONFIG_RISCV_PROBE_UNALIGNED_ACCESS=n
CONFIG_PAGE_REPORTING=n
CONFIG_GENERIC_IRQ_MIGRATION=n
CONFIG_NET_NS=n
CONFIG_PWM=n
CONFIG_PINCTRL_ULTRARISC_DP1000=n
CONFIG_CRC_OPTIMIZATIONS=n
CONFIG_VIRTIO_BALLOON=n
CONFIG_DST_CACHE=n
CONFIG_CGROUP_PERF=n
CONFIG_DM_THIN_PROVISIONING=n
CONFIG_SECURITY_APPARMOR_HASH=n
CONFIG_SCHED_MM_CID=n
CONFIG_DRM_PANEL_ORIENTATION_QUIRKS=n
CONFIG_USB_MUSB_HDRC=n
CONFIG_HAVE_DMA_CONTIGUOUS=n
CONFIG_HAVE_FTRACE_GRAPH_FUNC=n
CONFIG_ARCH_VIRT=n
CONFIG_CRYPTO_AEAD2=n
CONFIG_MOUSE_PS2_SYNAPTICS_SMBUS=n
CONFIG_POWER_RESET_SPACEMIT_P1=n
CONFIG_CC_HAVE_STACKPROTECTOR_TLS=n
CONFIG_HUGETLB_PMD_PAGE_TABLE_SHARING=n
CONFIG_GENERIC_NET_UTILS=n
CONFIG_USB_U_SERIAL=n
CONFIG_CPU_ISOLATION=n
CONFIG_SYSFS=n
CONFIG_NETFILTER_XT_MATCH_IPVS=n
CONFIG_SOCK_CGROUP_DATA=n
CONFIG_I2C_HELPER_AUTO=n
CONFIG_DRM_PANEL=n
CONFIG_USB_CONFIGFS_ACM=n
CONFIG_DM_BUFIO=n
CONFIG_ARCH_SUNXI=n
CONFIG_MFD_AXP20X=n
CONFIG_DMADEVICES=n
CONFIG_CRYPTO_KPP=n
CONFIG_WLAN_VENDOR_RSI=n
CONFIG_NET_VENDOR_DAVICOM=n
CONFIG_PREEMPT_NOTIFIERS=n
CONFIG_ARCH_WANT_OPTIMIZE_HUGETLB_VMEMMAP=n
CONFIG_HAVE_GENERIC_TIF_BITS=n
CONFIG_KERNEL_GZIP=n
CONFIG_RESET_SUNXI=n
CONFIG_CONTEXT_TRACKING_IDLE=n
CONFIG_ARCH_USE_QUEUED_SPINLOCKS=n
CONFIG_COMMON_CLK=n
CONFIG_RTC_SYSTOHC=n
CONFIG_CPUSETS=n
CONFIG_PCI_HOST_COMMON=n
CONFIG_RISCV_ALTERNATIVE_EARLY=n
CONFIG_GENERIC_IRQ_IPI_MUX=n
CONFIG_MFD_SPACEMIT_P1=n
CONFIG_MEDIA_HIDE_ANCILLARY_SUBDRV=n
CONFIG_ARCH_HAS_SET_DIRECT_MAP=n
CONFIG_MCHP_CLK_MPFS=n
CONFIG_IP_PNP_RARP=n
CONFIG_CRYPTO_ENGINE=n
CONFIG_NET_VENDOR_CAVIUM=n
CONFIG_DECOMPRESS_LZ4=n
CONFIG_ARCH_DEFAULT_CRASH_DUMP=n
CONFIG_TOOLCHAIN_HAS_ZBA=n
CONFIG_GENERIC_GETTIMEOFDAY=n
CONFIG_NET_VENDOR_INTEL=n
CONFIG_OF_IOMMU=n
CONFIG_NET_VENDOR_FUNGIBLE=n
CONFIG_PTP_1588_CLOCK_OPTIONAL=n
CONFIG_MMP_PDMA=n
CONFIG_SND_SOC_JH7110_PWMDAC=n
CONFIG_SND_SOC_SDCA_OPTIONAL=n
CONFIG_REGULATOR_FIXED_VOLTAGE=n
CONFIG_INPUT_MOUSE=n
CONFIG_PINCTRL_SOPHGO_COMMON=n
CONFIG_DWMAC_STARFIVE=n
CONFIG_HW_RANDOM_ATMEL=n
CONFIG_PROC_PAGE_MONITOR=n
CONFIG_KEYBOARD_GPIO=n
CONFIG_MULTIUSER=n
CONFIG_SPACEMIT_K1_EMAC=n
CONFIG_GENERIC_IRQ_EFFECTIVE_AFF_MASK=n
CONFIG_VIRTIO_PCI_LIB=n
CONFIG_ARCH_HAS_DELAY_TIMER=n
CONFIG_WLAN_VENDOR_PURELIFI=n
CONFIG_NO_HZ_COMMON=n
CONFIG_RD_LZ4=n
CONFIG_CLK_SOPHGO_SG2042_CLKGEN=n
CONFIG_POSIX_MQUEUE_SYSCTL=n
CONFIG_DT_IDLE_GENPD=n
CONFIG_BLK_DEBUG_FS=n
CONFIG_ATA_SFF=n
CONFIG_CRYPTO_DEV_VIRTIO=n
CONFIG_HAVE_KERNEL_UNCOMPRESSED=n
CONFIG_CORE_DUMP_DEFAULT_ELF_HEADERS=n
CONFIG_IP_PNP=n
CONFIG_CC_CAN_LINK=n
CONFIG_MMC_SUNXI=n
CONFIG_RESET_K230=n
CONFIG_PINCTRL_STARFIVE_JH7110_SYS=n
CONFIG_CRYPTO_HASH_INFO=n
CONFIG_CRYPTO_CAMELLIA=n
CONFIG_ARCH_THEAD=n
CONFIG_CLK_STARFIVE_JH7100=n
CONFIG_VIRTIO_PCI=n
CONFIG_NET_VENDOR_CHELSIO=n
CONFIG_ARCH_HAS_STRICT_MODULE_RWX=n
CONFIG_ARCH_DMA_ADDR_T_64BIT=n
CONFIG_SCSI_COMMON=n
CONFIG_PM_CLK=n
CONFIG_SERIAL_8250_PCILIB=n
CONFIG_UNINLINE_SPIN_UNLOCK=n
CONFIG_COMPAT_BINFMT_ELF=n
CONFIG_MOTORCOMM_PHY=n
CONFIG_DEBUG_FS=n
CONFIG_DRM_FBDEV_EMULATION=n
CONFIG_ACPI_CPPC_CPUFREQ_FIE=n
CONFIG_NVMEM_SUNXI_SID=n
CONFIG_USB_CONFIGFS_OBEX=n
CONFIG_CGROUP_WRITEBACK=n
CONFIG_BALLOON_MIGRATION=n
CONFIG_HAVE_FUNCTION_ARG_ACCESS_API=n
CONFIG_PHY_STARFIVE_JH7110_USB=n
CONFIG_IPV6_NDISC_NODETYPE=n
CONFIG_GENERIC_ENTRY=n
CONFIG_ND_BTT=n
CONFIG_RUSTC_SUPPORTS_RISCV=n
CONFIG_MEDIA_SUBDRV_AUTOSELECT=n
CONFIG_CRYPTO_KRB5=n
CONFIG_WLAN_VENDOR_NXP=n
CONFIG_VIRTIO_NET=n
CONFIG_GPIOLIB_IRQCHIP=n
CONFIG_RD_GZIP=n
CONFIG_HVC_DRIVER=n
CONFIG_USB_STORAGE=n
CONFIG_MMC_SDHCI_CADENCE=n
CONFIG_GENERIC_IRQ_SHOW=n
CONFIG_PCIE_SPACEMIT_K1=n
CONFIG_HAVE_IOREMAP_PROT=n
CONFIG_PWRSEQ_SIMPLE=n
CONFIG_PCPU_DEV_REFCNT=n
CONFIG_DRM_GEM_SHMEM_HELPER=n
CONFIG_JUMP_LABEL=n
CONFIG_BLK_DEV_DM=n
CONFIG_MODULES=n
CONFIG_PCIE_PLDA_HOST=n
CONFIG_CRYPTO_MANAGER2=n
CONFIG_LOCALVERSION_AUTO=n
CONFIG_ERRATA_THEAD=n
CONFIG_DRM_SUN6I_DSI=n
CONFIG_PROFILING=n
CONFIG_NET_VENDOR_MARVELL=n
CONFIG_MTD_CFI=n
CONFIG_CACHESTAT_SYSCALL=n
CONFIG_HID_SUPPORT=n
CONFIG_ARCH_FLATMEM_ENABLE=n
CONFIG_CRYPTO_LIB_UTILS=n
CONFIG_NET_SCH_FIFO=n
CONFIG_KVM_GENERIC_DIRTYLOG_READ_PROTECT=n
CONFIG_NETFILTER_FAMILY_BRIDGE=n
CONFIG_CRYPTO_LIB_SHA256=n
CONFIG_PATA_TIMINGS=n
CONFIG_ARCH_HAS_FORTIFY_SOURCE=n
CONFIG_HAS_IOPORT_MAP=n
CONFIG_RISCV_ISA_ZICBOM=n
CONFIG_STMMAC_PLATFORM=n
CONFIG_ARCH_ANLOGIC=n
CONFIG_SPARSEMEM_EXTREME=n
CONFIG_BINFMT_ELF=n
CONFIG_HAVE_IRQ_TIME_ACCOUNTING=n
CONFIG_I2C_CHARDEV=n
CONFIG_RISCV_COMBO_SPINLOCKS=n
CONFIG_AS_HAS_OPTION_ARCH=n
CONFIG_GENERIC_PINCONF=n
CONFIG_BLK_DEV_DM_BUILTIN=n
CONFIG_NF_DEFRAG_IPV4=n
CONFIG_STACKPROTECTOR=n
CONFIG_CRYPTO_SHA256=n
CONFIG_SERIAL_8250=n
CONFIG_HAVE_DEBUG_KMEMLEAK=n
CONFIG_NET_VENDOR_ROCKER=n
CONFIG_PINCTRL_TH1520=n
CONFIG_BLK_DEV_NVME=n
CONFIG_HUGETLBFS=n
CONFIG_HAVE_ARCH_KASAN_VMALLOC=n
CONFIG_ARCH_HAS_PTDUMP=n
CONFIG_PID_NS=n
CONFIG_CPUFREQ_DT=n
CONFIG_NET_VENDOR_AMAZON=n
CONFIG_HAVE_ARCH_HUGE_VMALLOC=n
CONFIG_PM_OPP=n
CONFIG_GENERIC_MSI_IRQ=n
CONFIG_LLC=n
CONFIG_SBITMAP=n
CONFIG_UNIX98_PTYS=n
CONFIG_ARCH_HAS_SETUP_DMA_OPS=n
CONFIG_NET_VENDOR_3COM=n
CONFIG_CLK_STARFIVE_JH7110_VOUT=n
CONFIG_SOFTIRQ_ON_OWN_STACK=n
CONFIG_SECCOMP_FILTER=n
CONFIG_CGROUP_PIDS=n
CONFIG_ARCH_WANT_DEFAULT_TOPDOWN_MMAP_LAYOUT=n
CONFIG_NO_HZ_IDLE=n
CONFIG_PACKET=n
CONFIG_VDSO_DATASTORE=n
CONFIG_NFS_V4=n
CONFIG_KERNFS=n
CONFIG_MMU_LAZY_TLB_REFCOUNT=n
CONFIG_USB_F_MASS_STORAGE=n
CONFIG_DRM_CLIENT_DEFAULT_FBDEV=n
CONFIG_DEBUG_BUGVERBOSE=n
CONFIG_PADATA=n
CONFIG_ACPI_MCFG=n
CONFIG_CRYPTO_GCM=n
CONFIG_MTD_MAP_BANK_WIDTH_1=n
CONFIG_PM_DEVFREQ=n
CONFIG_BRIDGE=n
CONFIG_SPI_SPACEMIT_K1=n
CONFIG_RESET_STARFIVE_JH7100=n
CONFIG_EVENTFD=n
CONFIG_LZO_DECOMPRESS=n
CONFIG_XFRM_ESP=n
CONFIG_OF_MDIO=n
CONFIG_RESET_SPACEMIT_COMMON=n
CONFIG_INPUT_VIVALDIFMAP=n
CONFIG_NET_VENDOR_AMD=n
CONFIG_DRM_KMS_HELPER=n
CONFIG_SPACEMIT_CCU=n
CONFIG_MAILBOX=n
CONFIG_HW_RANDOM_JH7110=n
CONFIG_I2C_DESIGNWARE_CORE=n
CONFIG_BLK_CGROUP=n
CONFIG_SUN8I_DE2_CCU=n
CONFIG_TIME_NS=n
CONFIG_XOR_BLOCKS=n
CONFIG_EDAC_SUPPORT=n
CONFIG_NFS_V4_0=n
CONFIG_RWSEM_SPIN_ON_OWNER=n
CONFIG_RANDSTRUCT_NONE=n
CONFIG_PINCTRL_SPACEMIT_K1=n
CONFIG_RISCV_ISA_XTHEADVECTOR=n
CONFIG_ARCH_WANTS_THP_SWAP=n
CONFIG_XPS=n
CONFIG_RTC_NVMEM=n
CONFIG_GENERIC_HWEIGHT=n
CONFIG_SLUB_DEBUG=n
CONFIG_THERMAL_GOV_STEP_WISE=n
CONFIG_DMA_SHARED_BUFFER=n
CONFIG_RFS_ACCEL=n
CONFIG_CRYPTO_SIG2=n
CONFIG_HOTPLUG_CORE_SYNC_FULL=n
CONFIG_NET_VENDOR_HUAWEI=n
CONFIG_MMC_DW_PLTFM=n
CONFIG_TRACEPOINTS=n
CONFIG_SUN6I_RTC_CCU=n
CONFIG_PROC_MEM_FORCE_PTRACE=n
CONFIG_UCS2_STRING=n
CONFIG_RISCV=n
CONFIG_INTERVAL_TREE=n
CONFIG_HRTIMER_REARM_DEFERRED=n
CONFIG_CRYPTO_LIB_AES_CBC_MACS=n
CONFIG_TASKS_TRACE_RCU=n
CONFIG_CLZ_TAB=n
CONFIG_DMA_NONCOHERENT_MMAP=n
CONFIG_NET_VENDOR_CORTINA=n
CONFIG_CPU_FREQ_GOV_COMMON=n
CONFIG_RT_MUTEXES=n
CONFIG_MEMREGION=n
CONFIG_NET_VENDOR_MUCSE=n
CONFIG_NET_VENDOR_ZTE=n
CONFIG_USB_CDNS_SUPPORT=n
CONFIG_SUNXI_SRAM=n
CONFIG_CRYPTO_KPP2=n
CONFIG_WLAN_VENDOR_INTEL=n
CONFIG_EXT4_FS_SECURITY=n
CONFIG_PCIE_FU740=n
CONFIG_ARCH_HAS_SYNC_DMA_FOR_DEVICE=n
CONFIG_ARCH_WANT_FRAME_POINTERS=n
