CONFIG_OF_RESERVED_MEM=n
CONFIG_ARCH_BCM2835=n
CONFIG_STAGING=n
CONFIG_PAGE_SIZE_LESS_THAN_256KB=n
CONFIG_ARM_CCI400_PMU=n
CONFIG_INTERCONNECT_QCOM_RPMH=n
CONFIG_QCOMTEE=n
CONFIG_CAN_XILINXCAN=n
CONFIG_BCM_NS_THERMAL=n
CONFIG_BFQ_GROUP_IOSCHED=n
CONFIG_REGULATOR_HI655X=n
CONFIG_MAX9611=n
CONFIG_CC_HAS_BRANCH_PROT_PAC_RET=n
CONFIG_ARM64_ERRATUM_2077057=n
CONFIG_RAID6_PQ_ARCH=n
CONFIG_USB_COMMON=n
CONFIG_ROCKCHIP_DW_HDMI_QP=n
CONFIG_INTERCONNECT_QCOM_SDM845=n
CONFIG_NUMA_BALANCING=n
CONFIG_SOC_IMX8M=n
CONFIG_MT7921E=n
CONFIG_MTK_MFG_PM_DOMAIN=n
CONFIG_CRYPTO_CMAC=n
CONFIG_QCOM_APR=n
CONFIG_PINCTRL_SM6350=n
CONFIG_SERIAL_8250_MOXA_PCIE=n
CONFIG_NET_VENDOR_CADENCE=n
CONFIG_PSTORE_RAM=n
CONFIG_MOUSE_ELAN_I2C=n
CONFIG_RENESAS_WDT=n
CONFIG_VIDEO_RCAR_ISP=n
CONFIG_MVPP2=n
CONFIG_COMMON_CLK_MT8192_VENCSYS=n
CONFIG_ARCH_ARTPEC=n
CONFIG_FSL_ENETC_VF=n
CONFIG_MLX5_HW_STEERING=n
CONFIG_ARCH_R9A09G087=n
CONFIG_EXYNOS_USI=n
CONFIG_MPILIB=n
CONFIG_AUDIT=n
CONFIG_EXTCON_USBC_CROS_EC=n
CONFIG_I2C_SLAVE=n
CONFIG_NPCM7XX_TIMER=n
CONFIG_ARCH_USE_MEMREMAP_PROT=n
CONFIG_LEDS_SYSCON=n
CONFIG_IR_GPIO_CIR=n
CONFIG_PTP_1588_CLOCK_VMCLOCK=n
CONFIG_KEYBOARD_IMX_SC_KEY=n
CONFIG_I2C_DESIGNWARE_PLATFORM=n
CONFIG_V4L2_VP9=n
CONFIG_WLAN_VENDOR_INTEL=n
CONFIG_PNFS_FLEXFILE_LAYOUT=n
CONFIG_EC_QCOM_HAMOA=n
CONFIG_MMC_DW_EXYNOS=n
CONFIG_ACPI_BATTERY=n
CONFIG_IMX7ULP_WDT=n
CONFIG_GPIO_XILINX=n
CONFIG_USB_ARMLINUX=n
CONFIG_CRYPTO_DES=n
CONFIG_RCU_STALL_COMMON=n
CONFIG_DRM_TI_TFP410=n
CONFIG_COMMON_CLK_MT8167=n
CONFIG_PPS=n
CONFIG_MISC_RP1=n
CONFIG_CPUFREQ_DT_PLATDEV=n
CONFIG_SPI_MESON_SPIFC=n
CONFIG_TYPEC_TCPCI=n
CONFIG_REGULATOR_RZG2L_VBCTRL=n
CONFIG_PHY_UNIPHIER_AHCI=n
CONFIG_CRYPTO_LIB_CHACHA=n
CONFIG_PINCTRL_MAX77620=n
CONFIG_SM_CAMCC_8550=n
CONFIG_ARCH_MESON=n
CONFIG_MDLC_R8A78000=n
CONFIG_NEED_PER_CPU_EMBED_FIRST_CHUNK=n
CONFIG_B53=n
CONFIG_CPU_MITIGATIONS=n
CONFIG_DRM_PANEL_HIMAX_HX83112B=n
CONFIG_CRYPTO_LZO=n
CONFIG_PHY_MESON8B_USB2=n
CONFIG_IPMI_SI=n
CONFIG_SENSORS_MACSMC_HWMON=n
CONFIG_MTD_BLKDEVS=n
CONFIG_PWM_BRCMSTB=n
CONFIG_QCOM_SCM=n
CONFIG_IMX_SCMI_CPU_DRV=n
CONFIG_COMMON_CLK_EN7523=n
CONFIG_XILINX_INTC=n
CONFIG_IMX8MM_THERMAL=n
CONFIG_PINCTRL_SUN50I_A64_R=n
CONFIG_HAVE_CLK_PREPARE=n
CONFIG_MXC_CLK_SCU=n
CONFIG_CRYPTO_DEV_FSL_CAAM_CRYPTO_API=n
CONFIG_COMMON_CLK_MESON_CPU_DYNDIV=n
CONFIG_INTERCONNECT_CLK=n
CONFIG_RTC_INTF_SYSFS=n
CONFIG_CLK_RENESAS=n
CONFIG_NETFILTER_XTABLES=n
CONFIG_PINCTRL_IPQ8074=n
CONFIG_COMMON_CLK_HI3559A=n
CONFIG_SERIAL_QCOM_GENI_CONSOLE=n
CONFIG_DRM_I2C_NXP_TDA998X=n
CONFIG_AT803X_PHY=n
CONFIG_SA_GCC_8775P=n
CONFIG_MMC_DW_PLTFM=n
CONFIG_CRYPTO_MANAGER=n
CONFIG_HTE=n
CONFIG_COMMON_CLK_MT8183_VDECSYS=n
CONFIG_DECOMPRESS_XZ=n
CONFIG_SND_SOC_LPASS_RX_MACRO=n
CONFIG_CLK_OWL_S900=n
CONFIG_NEED_SG_DMA_FLAGS=n
CONFIG_HW_RANDOM_BCM2835=n
CONFIG_SND_HDA_CODEC_HDMI_GENERIC=n
CONFIG_QCOM_RPMPD=n
CONFIG_INTEL_STRATIX10_SERVICE=n
CONFIG_ARCH_R8A774E1=n
CONFIG_PINCTRL_PFC_R8A774A1=n
CONFIG_PINCTRL_SDM660=n
CONFIG_SND_SOC_RT5640=n
CONFIG_COMMON_RESET_HI3660=n
CONFIG_HW_RANDOM_EXYNOS=n
CONFIG_FPGA_MGR_ZYNQMP_FPGA=n
CONFIG_TYPEC_MUX_IT5205=n
CONFIG_THERMAL_DEFAULT_GOV_STEP_WISE=n
CONFIG_ACPI_APEI_PCIEAER=n
CONFIG_GOOGLE_FIRMWARE=n
CONFIG_RTC_DRV_BRCMSTB=n
CONFIG_SND_SOC_MAX98390=n
CONFIG_HAVE_KRETPROBES=n
CONFIG_MVEBU_ODMI=n
CONFIG_ASN1=n
CONFIG_NETFILTER_SKIP_EGRESS=n
CONFIG_VDSO_DATASTORE=n
CONFIG_ARCH_SUPPORTS_KEXEC_SIG=n
CONFIG_I2C_BCM2835=n
CONFIG_MTK_ADSP_MBOX=n
CONFIG_CRC_T10DIF_ARCH=n
CONFIG_SND_SOC_QDSP6_COMMON=n
CONFIG_SERIAL_STM32=n
CONFIG_SND_SOC_QDSP6_CORE=n
CONFIG_APPLE_MAILBOX=n
CONFIG_VIRTIO_BLK=n
CONFIG_COMMON_CLK_MT8173_VDECSYS=n
CONFIG_ARM64_HW_AFDBM=n
CONFIG_CC_HAS_ASM_INLINE=n
CONFIG_MEMORY_HOTREMOVE=n
CONFIG_RSI_DEBUGFS=n
CONFIG_USB_DWC3_RTK=n
CONFIG_XZ_DEC_RISCV=n
CONFIG_REGULATOR_GPIO=n
CONFIG_TMPFS_XATTR=n
CONFIG_MSM_MMCC_8994=n
CONFIG_PINCTRL_TEGRA210=n
CONFIG_BCM2835_VCHIQ=n
CONFIG_SERIAL_8250_EXTENDED=n
CONFIG_SND_SOC_ROCKCHIP_I2S=n
CONFIG_PACKET=n
CONFIG_RTC_DRV_DA9063=n
CONFIG_NET_VENDOR_MARVELL=n
CONFIG_ARCH_R8A774A1=n
CONFIG_ARCH_LG1K=n
CONFIG_SND_SOC_FSL_ASRC=n
CONFIG_BCM2835_THERMAL=n
CONFIG_STANDALONE=n
CONFIG_THUNDER_NIC_RGX=n
CONFIG_PHY_NS2_USB_DRD=n
CONFIG_IIO_ST_LSM6DSX_I2C=n
CONFIG_NFS_COMMON=n
CONFIG_ROCKCHIP_PHY=n
CONFIG_DWMAC_RENESAS_GBETH=n
CONFIG_CROS_EC_DEBUGFS=n
CONFIG_BLK_DEV=n
CONFIG_NXP_NETC_LIB=n
CONFIG_SERIAL_FSL_LPUART=n
CONFIG_SUN8I_H3_CCU=n
CONFIG_ARCH_USE_QUEUED_SPINLOCKS=n
CONFIG_SND_SUN50I_CODEC_ANALOG=n
CONFIG_ACPI_I2C_OPREGION=n
CONFIG_MFD_STM32_TIMERS=n
CONFIG_ARCH_WANTS_NO_INSTR=n
CONFIG_CRYPTO_USER_API=n
CONFIG_SND_SOC_DAVINCI_MCASP=n
CONFIG_HAVE_FUNCTION_ARG_ACCESS_API=n
CONFIG_INPUT_VIVALDIFMAP=n
CONFIG_RTC_DRV_XGENE=n
CONFIG_HAVE_STACKPROTECTOR=n
CONFIG_ARCH_WANT_LD_ORPHAN_WARN=n
CONFIG_EEPROM_93CX6=n
CONFIG_CRYPTO_USER_API_RNG=n
CONFIG_MT7921_COMMON=n
CONFIG_COMMON_CLK_MT8188_VENCSYS=n
CONFIG_ARCH_HAS_PREEMPT_LAZY=n
CONFIG_FSL_ENETC_QOS=n
CONFIG_QCOM_Q6V5_COMMON=n
CONFIG_PHY_FSL_SAMSUNG_HDMI_PHY=n
CONFIG_LEDS_TRIGGER_DEFAULT_ON=n
CONFIG_ARCH_R9A09G056=n
CONFIG_RTC_DRV_RV8803=n
CONFIG_SND_SOC_MAX98357A=n
CONFIG_MTK_SCPSYS=n
CONFIG_FSL_ENETC_CORE=n
CONFIG_E1000E=n
CONFIG_SND_SOC_WM8904=n
CONFIG_INTERVAL_TREE=n
CONFIG_COUNTER=n
CONFIG_BSD_PROCESS_ACCT_V3=n
CONFIG_DW_APB_ICTL=n
CONFIG_SND_USB_AUDIO_QMI=n
CONFIG_THERMAL_GOV_STEP_WISE=n
CONFIG_VIDEO_ROCKCHIP_RGA=n
CONFIG_QCOM_HIDMA_MGMT=n
CONFIG_DRM_EXEC=n
CONFIG_AS_HAS_ARMV8_5=n
CONFIG_ARCH_R9A09G057=n
CONFIG_IRQ_UNIPHIER_AIDET=n
CONFIG_NF_DEFRAG_IPV6=n
CONFIG_BCM7XXX_PHY=n
CONFIG_PINCTRL_MT7622=n
CONFIG_CAVIUM_ERRATUM_23144=n
CONFIG_SDM_CAMCC_845=n
CONFIG_TRANS_TABLE=n
CONFIG_COMMON_CLK_MT8365_MFG=n
CONFIG_SM_VIDEOCC_6350=n
CONFIG_UNIPHIER_WATCHDOG=n
CONFIG_ARCH_HAS_CC_PLATFORM=n
CONFIG_HW_RANDOM_ATMEL=n
CONFIG_NO_HZ_IDLE=n
CONFIG_NET_VENDOR_AMAZON=n
CONFIG_GPIO_ZYNQMP_MODEPIN=n
CONFIG_DRM_AUX_HPD_BRIDGE=n
CONFIG_NOUVEAU_PLATFORM_DRIVER=n
CONFIG_MFD_AXP20X_I2C=n
CONFIG_DEBUG_INFO=n
CONFIG_ARCH_HAS_FORTIFY_SOURCE=n
CONFIG_XEN_SYS_HYPERVISOR=n
CONFIG_REED_SOLOMON_DEC8=n
CONFIG_USB_CONFIGFS_SERIAL=n
CONFIG_QCOM_HFPLL=n
CONFIG_POWER_SEQUENCING_QCOM_WCN=n
CONFIG_USB_QCOM_EUD=n
CONFIG_PHY_R8A779F0_ETHERNET_SERDES=n
CONFIG_LOCALVERSION_AUTO=n
CONFIG_SCSI_UFS_ROCKCHIP=n
CONFIG_CRYPTO_DEV_ZYNQMP_AES=n
CONFIG_SND_SOC_QDSP6_ROUTING=n
CONFIG_CRYPTO_RNG2=n
CONFIG_COMPAT=n
CONFIG_EFIVAR_FS=n
CONFIG_IMX93_ADC=n
CONFIG_FRAMEBUFFER_CONSOLE_DETECT_PRIMARY=n
CONFIG_TOUCHSCREEN_EDT_FT5X06=n
CONFIG_TEGRA_IOMMU_SMMU=n
CONFIG_IPQ_GCC_5332=n
CONFIG_NET_VENDOR_INTEL=n
CONFIG_SND_SOC_LPASS_TX_MACRO=n
CONFIG_ARM64_ERRATUM_858921=n
CONFIG_MTD_CFI=n
CONFIG_DMA_CMA=n
CONFIG_CRC_T10DIF=n
CONFIG_QCOM_Q6V5_MSS=n
CONFIG_SOC_BRCMSTB=n
CONFIG_TEE_BNXT_FW=n
CONFIG_SND_SOC_SM8250=n
CONFIG_PHY_QCOM_SGMII_ETH=n
CONFIG_DRM_DW_HDMI_AHB_AUDIO=n
CONFIG_COMMON_CLK_MT8183_AUDIOSYS=n
CONFIG_PNP=n
CONFIG_QDU_GCC_1000=n
CONFIG_ARCH_HAS_PTE_PROTNONE=n
CONFIG_CLK_BCM2711_DVP=n
CONFIG_NVMEM_ZYNQMP=n
CONFIG_DRM_CDNS_DSI_J721E=n
CONFIG_QCOM_PAS=n
CONFIG_CMA=n
CONFIG_GENERIC_CSUM=n
CONFIG_BRCMSTB_L2_IRQ=n
CONFIG_EXTCON=n
CONFIG_ACPI_BUTTON=n
CONFIG_SM_GCC_8550=n
CONFIG_RPMSG_QCOM_SMD=n
CONFIG_SPI=n
CONFIG_GENERIC_NET_UTILS=n
CONFIG_STM32_TIMER_CNT=n
CONFIG_ARCH_TEGRA_234_SOC=n
CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE=n
CONFIG_PINCTRL_MT7981=n
CONFIG_STACKTRACE=n
CONFIG_VIDEO_IMX8_JPEG=n
CONFIG_PINCTRL_SDM845=n
CONFIG_MODULE_UNLOAD=n
CONFIG_PINCTRL_TEGRA124=n
CONFIG_SUNXI_RSB=n
CONFIG_QCOM_COMMAND_DB=n
CONFIG_SND_MESON_AXG_SPDIFOUT=n
CONFIG_PATA_TIMINGS=n
CONFIG_SOC_TI=n
CONFIG_USB_DWC3_XILINX=n
CONFIG_ATH10K_PCI=n
CONFIG_V4L2_CCI=n
