CONFIG_MTK_SCPSYS=n
CONFIG_KVM_GUEST_MEMFD=n
CONFIG_MTD_NAND_FSL_IFC=n
CONFIG_SND_HDA_ALIGNED_MMIO=n
CONFIG_RESET_BRCMSTB=n
CONFIG_AT803X_PHY=n
CONFIG_COMMON_CLK_MT8188=n
CONFIG_SND_SOC_FSL_ESAI=n
CONFIG_IO_WQ=n
CONFIG_ARM64_AMU_EXTN=n
CONFIG_PINCTRL_UNIPHIER_NX1=n
CONFIG_NVMEM_UNIPHIER_EFUSE=n
CONFIG_AS_HAS_ARMV8_5=n
CONFIG_IIO=n
CONFIG_INTERCONNECT_QCOM_QCM2290=n
CONFIG_WLAN_VENDOR_ST=n
CONFIG_WLAN_VENDOR_ATH=n
CONFIG_DRM_IMX8MP_HDMI_PAI=n
CONFIG_SND_SOC_QDSP6=n
CONFIG_HOTPLUG_PCI=n
CONFIG_NET_VENDOR_STMICRO=n
CONFIG_MFD_WCD934X=n
CONFIG_XILINX_ZYNQMP_DMA=n
CONFIG_DRM_KMS_HELPER=n
CONFIG_SBITMAP=n
CONFIG_ARCH_R9A09G056=n
CONFIG_SCSI_UFS_HISI=n
CONFIG_MMC_ARMMMCI=n
CONFIG_MEDIA_SUPPORT_FILTER=n
CONFIG_SND_SOC_MSM8996=n
CONFIG_DRM_IMX8MP_DW_HDMI_BRIDGE=n
CONFIG_VGA_ARB=n
CONFIG_PINCTRL_PFC_R8A774E1=n
CONFIG_EDAC_VERSAL=n
CONFIG_DRM_SCHED=n
CONFIG_CLK_ACTIONS=n
CONFIG_ARM_SCMI_TRANSPORT_OPTEE=n
CONFIG_ARCH_ARTPEC=n
CONFIG_HID=n
CONFIG_ARM_IMX8M_DDRC_DEVFREQ=n
CONFIG_DRM_CLIENT_SELECTION=n
CONFIG_USB_SERIAL_CP210X=n
CONFIG_SCSI_UFS_TI_J721E=n
CONFIG_PINCTRL_MESON_AXG_PMX=n
CONFIG_PINCTRL_IPQ6018=n
CONFIG_BT_BREDR=n
CONFIG_MITIGATE_SPECTRE_BRANCH_HISTORY=n
CONFIG_COMMON_CLK_MT8192_MSDC=n
CONFIG_PINCTRL_SUN50I_H6=n
CONFIG_SCHED_MM_CID=n
CONFIG_PINCTRL_TEGRA210=n
CONFIG_CROS_EC_SENSORHUB=n
CONFIG_LEDS_TRIGGER_CPU=n
CONFIG_ARM_SMMU_QCOM=n
CONFIG_ARCH_HAS_SETUP_DMA_OPS=n
CONFIG_ZYNQMP_IPI_MBOX=n
CONFIG_PWM_ADP5585=n
CONFIG_DEBUG_FS_ALLOW_ALL=n
CONFIG_SM_CAMCC_4450=n
CONFIG_ARCH_BCMBCA=n
CONFIG_QCOM_LMH=n
CONFIG_TEGRA_CLK_DFLL=n
CONFIG_BT_HCIBTUSB_BCM=n
CONFIG_CRYPTO_DEV_SUN8I_CE=n
CONFIG_NET_9P_VIRTIO=n
CONFIG_SND_SOC_SC7280=n
CONFIG_SUN50I_ERRATUM_UNKNOWN1=n
CONFIG_CPU_LITTLE_ENDIAN=n
CONFIG_SERIAL_8250_EM=n
CONFIG_CPUMASK_OFFSTACK=n
CONFIG_UNION_FIND=n
CONFIG_RESET_MESON=n
CONFIG_LOCKD_V4=n
CONFIG_QCOM_MPM=n
CONFIG_BLK_PM=n
CONFIG_SND_SOC_QDSP6_AFE_CLOCKS=n
CONFIG_SUN8I_H3_CCU=n
CONFIG_ACPI_THERMAL_LIB=n
CONFIG_SPI_BITBANG=n
CONFIG_MMU_LAZY_TLB_REFCOUNT=n
CONFIG_I2C_MUX=n
CONFIG_RESET_SIMPLE=n
CONFIG_ROCKCHIP_PHY=n
CONFIG_QCOM_SOC=n
CONFIG_COMMON_CLK_MT8188_ADSP_AUDIO26M=n
CONFIG_COMMON_CLK_MT8188_VENCSYS=n
CONFIG_MMC_DW=n
CONFIG_PHY_SAMSUNG_USB2=n
CONFIG_BCMGENET=n
CONFIG_CRYPTO_LIB_GF128HASH_ARCH=n
CONFIG_PM_DEVFREQ_EVENT=n
CONFIG_ARCH_SUPPORTS_PMD_PFNMAP=n
CONFIG_TYPEC_TCPCI=n
CONFIG_INITRAMFS_PRESERVE_MTIME=n
CONFIG_RATIONAL=n
CONFIG_TI_K3_M4_REMOTEPROC=n
CONFIG_SM_GPUCC_8450=n
CONFIG_GPIO_DAVINCI=n
CONFIG_PCIE_ALTERA=n
CONFIG_NLATTR=n
CONFIG_SDR_PLATFORM_DRIVERS=n
CONFIG_SM_GPUCC_6375=n
CONFIG_SND_SOC_XILINX_I2S=n
CONFIG_MTD_NAND_ECC=n
CONFIG_REED_SOLOMON_ENC8=n
CONFIG_PCIE_RCAR_HOST=n
CONFIG_WLAN_VENDOR_RALINK=n
CONFIG_PINCTRL_MSM8996=n
CONFIG_DRM_DISPLAY_HDMI_STATE_HELPER=n
CONFIG_SYSCTL=n
CONFIG_DRM_EXYNOS7_DECON=n
CONFIG_PINCTRL_MESON_AXG=n
CONFIG_VIDEO_CADENCE_CSI2RX=n
CONFIG_RTC_DRV_PCF85063=n
CONFIG_PINCTRL_SDX75=n
CONFIG_ARCH_VEXPRESS=n
CONFIG_ARCH_RZG2L=n
CONFIG_SND_SOC_SM8250=n
CONFIG_THUNDER_NIC_BGX=n
CONFIG_SERIAL_8250_16550A_VARIANTS=n
CONFIG_I2C_TEGRA=n
CONFIG_VIDEO_WAVE_VPU=n
CONFIG_RTC_DRV_XGENE=n
CONFIG_AUDIT_ARCH_COMPAT_GENERIC=n
CONFIG_FRAMEBUFFER_CONSOLE=n
CONFIG_SUN50I_H6_CCU=n
CONFIG_INTERCONNECT_QCOM_SM8450=n
CONFIG_ACPI=n
CONFIG_FB_DEFERRED_IO=n
CONFIG_PAGE_SIZE_LESS_THAN_64KB=n
CONFIG_QCOM_AOSS_QMP=n
CONFIG_COMMON_CLK_AXG=n
CONFIG_HW_RANDOM_NPCM=n
CONFIG_OVERLAY_FS=n
CONFIG_COMMON_CLK_MESON_REGMAP=n
CONFIG_SND_SOC_ROCKCHIP_RT5645=n
CONFIG_PINCTRL_SUN55I_A523_R=n
CONFIG_RCAR_DMAC=n
CONFIG_HW_RANDOM_HISI=n
CONFIG_WATCHDOG_CORE=n
CONFIG_SND_SOC_LPASS_WSA_MACRO=n
CONFIG_DEBUG_BUGVERBOSE=n
CONFIG_BSD_PROCESS_ACCT_V3=n
CONFIG_SND_SOC_DMIC=n
CONFIG_HAVE_KCSAN_COMPILER=n
CONFIG_RUSTC_SUPPORTS_ARM64=n
CONFIG_SPI_QUP=n
CONFIG_SC_LPASS_CORECC_7280=n
CONFIG_MEDIA_ANALOG_TV_SUPPORT=n
CONFIG_RTC_DRV_AMLOGIC_A4=n
CONFIG_RESET_UNIPHIER=n
CONFIG_IMX_AIPSTZ=n
CONFIG_PINCTRL_SM6350_LPASS_LPI=n
CONFIG_USB_USBNET=n
CONFIG_GPIO_TPIC2810=n
CONFIG_REGULATOR_PCA9450=n
CONFIG_SYSC_R8A77990=n
CONFIG_PRU_REMOTEPROC=n
CONFIG_USB_ULPI_BUS=n
CONFIG_DRM_ETNAVIV=n
CONFIG_REGULATOR=n
CONFIG_PINCTRL_SM6350=n
CONFIG_IIO_CROS_EC_SENSORS=n
CONFIG_MTK_SMI=n
CONFIG_SATA_PMP=n
CONFIG_DRM_RCAR_USE_LVDS=n
CONFIG_COMMON_CLK_MT8365_CAM=n
CONFIG_QRTR_TUN=n
CONFIG_PHY_RCAR_GEN3_USB3=n
CONFIG_ARCH_SUPPORTS_KEXEC_FILE=n
CONFIG_JUMP_LABEL=n
CONFIG_OF_GPIO=n
CONFIG_MOUSE_PS2_CYPRESS=n
CONFIG_LEDS_TRIGGER_DEFAULT_ON=n
CONFIG_PTP_1588_CLOCK_OPTIONAL=n
CONFIG_VFIO=n
CONFIG_QCS_GCC_615=n
CONFIG_HAS_SEPARATE_PREEMPT_RESCHED_BITS=n
CONFIG_NUMA=n
CONFIG_BLK_MQ_STACKING=n
CONFIG_POWER_RESET_BRCMSTB=n
CONFIG_DRM_MXS=n
CONFIG_NVMEM_LAYOUTS=n
CONFIG_COMMON_CLK_MT7622=n
CONFIG_PT_RECLAIM=n
CONFIG_PCIEAER=n
CONFIG_HI6220_MBOX=n
CONFIG_SND_SOC_XILINX_AUDIO_FORMATTER=n
CONFIG_CRYPTO_KRB5ENC=n
CONFIG_MACVLAN=n
CONFIG_THUNDER_NIC_PF=n
CONFIG_NET_DSA_TAG_NONE=n
CONFIG_CROS_EC_SPI=n
CONFIG_CROS_EC_PROTO=n
CONFIG_PCS_RZN1_MIIC=n
CONFIG_CORESIGHT=n
CONFIG_REGULATOR_CROS_EC=n
CONFIG_RTL_CARDS=n
CONFIG_MHI_WWAN_CTRL=n
CONFIG_MESON_GX_SOCINFO=n
CONFIG_ACPI_THERMAL=n
CONFIG_XEN_DEV_EVTCHN=n
CONFIG_DRM_PANEL_LVDS=n
CONFIG_DRM_TTM=n
CONFIG_PINCTRL_NORD=n
CONFIG_SNI_AVE=n
CONFIG_X509_CERTIFICATE_PARSER=n
CONFIG_SERIAL_AMBA_PL011=n
CONFIG_TASKS_TRACE_RCU=n
CONFIG_RENESAS_RZV2H_ICU=n
CONFIG_RENESAS_GEN4_PTP=n
CONFIG_CRYPTO_DEV_HISI_ZIP=n
CONFIG_SM_VIDEOCC_8450=n
CONFIG_SND_PCM=n
CONFIG_USB_CHIPIDEA_MSM=n
CONFIG_FEC=n
CONFIG_HNS_MDIO=n
CONFIG_HAVE_IRQ_TIME_ACCOUNTING=n
CONFIG_VIDEO_SAMSUNG_S5P_JPEG=n
CONFIG_CRYPTO_LIB_SHA1_ARCH=n
CONFIG_PHYLIB_LEDS=n
CONFIG_SSB_POSSIBLE=n
CONFIG_EFI_SOFT_RESERVE=n
CONFIG_PCIE_CADENCE=n
CONFIG_HISILICON_ERRATUM_162100125=n
CONFIG_HAVE_MOVE_PUD=n
CONFIG_PINCTRL_SUN50I_H616_R=n
CONFIG_QCOM_WCNSS_PIL=n
CONFIG_SPLIT_PMD_PTLOCKS=n
CONFIG_SND_SOC_WCD938X=n
CONFIG_DWMAC_ROCKCHIP=n
CONFIG_CRYPTO_LIB_UTILS=n
CONFIG_ARM64_GCS=n
CONFIG_GPIO_XGENE=n
CONFIG_INPUT_TPS65219_PWRBUTTON=n
CONFIG_MTD_BLKDEVS=n
CONFIG_ARCH_HAS_DEBUG_WX=n
CONFIG_CHARGER_MT6360=n
CONFIG_FUJITSU_ERRATUM_010001=n
CONFIG_SND_SOC_WCD_CLASSH=n
CONFIG_PCIE_XILINX=n
CONFIG_IPC_NS=n
CONFIG_HVC_XEN=n
CONFIG_SND_SOC_WCD934X=n
CONFIG_PCI_HOST_GENERIC=n
CONFIG_IPV6_NDISC_NODETYPE=n
CONFIG_VIDEO_MEDIATEK_JPEG=n
CONFIG_HAVE_ARCH_SECCOMP_FILTER=n
CONFIG_USB_CDNS_SUPPORT=n
CONFIG_UCSI_CCG=n
CONFIG_HAVE_ARCH_BITREVERSE=n
CONFIG_HAVE_REGS_AND_STACK_ACCESS_API=n
CONFIG_ARCH_HAS_PTDUMP=n
CONFIG_SOC_TI=n
CONFIG_DRM_LONTIUM_LT8912B=n
CONFIG_POWER_RESET_GPIO_RESTART=n
CONFIG_PROC_PAGE_MONITOR=n
CONFIG_COMMON_CLK_HI3559A=n
CONFIG_PWM_SUN4I=n
CONFIG_COMMON_CLK_MT8196_MFGCFG=n
CONFIG_PINCTRL_MTK=n
CONFIG_SND_SOC_SOF_COMPRESS=n
CONFIG_GOOGLE_COREBOOT_TABLE=n
CONFIG_IRQ_TIME_ACCOUNTING=n
CONFIG_BRCMSTB_MEMC=n
CONFIG_DMA_VIRTUAL_CHANNELS=n
CONFIG_BCM4908_ENET=n
CONFIG_REGULATOR_DA9211=n
CONFIG_PINCTRL_MT7988=n
CONFIG_RTC_DRV_PCF8563=n
CONFIG_PREEMPT_RCU=n
CONFIG_QCOM_PAS_TEE=n
CONFIG_MLX4_CORE=n
CONFIG_COMMON_CLK_MT8188_WPESYS=n
CONFIG_COMMON_CLK_A9_AO=n
CONFIG_PHY_QCOM_PCIE2=n
CONFIG_NET_FLOW_LIMIT=n
CONFIG_USB_ISP1761_UDC=n
CONFIG_SND_MESON_AXG_SPDIFIN=n
CONFIG_PHY_BCM_SR_PCIE=n
CONFIG_QCOM_RPROC_COMMON=n
CONFIG_FANOTIFY=n
CONFIG_MQ_IOSCHED_KYBER=n
CONFIG_RD_ZSTD=n
CONFIG_MEDIA_TUNER_XC5000=n
CONFIG_FSL_GUTS=n
CONFIG_SND_SOC_TEGRA186_ASRC=n
CONFIG_CLK_IMX8MP=n
CONFIG_VIDEO_V4L2_SUBDEV_API=n
CONFIG_ARCH_TEGRA_241_SOC=n
CONFIG_COMMON_CLK_MT8186_VENCSYS=n
CONFIG_SCSI_UFSHCD=n
CONFIG_SND_MESON_CARD_UTILS=n
CONFIG_RPMSG_QCOM_GLINK_RPM=n
CONFIG_SND_SOC_RT5663=n
CONFIG_BLK_DEV_LOOP=n
CONFIG_SLIMBUS=n
CONFIG_CAN_MCP251XFD=n
CONFIG_ARM_SDE_INTERFACE=n
CONFIG_HAVE_ARCH_VMAP_STACK=n
