CONFIG_BLK_DEV=n
CONFIG_PCS_XPCS=n
CONFIG_ARCH_SUPPORTS_KEXEC_FILE=n
CONFIG_TTY=n
CONFIG_RESET_STARFIVE_JH7110=n
CONFIG_IOMMU_PT_RISCV64=n
CONFIG_VT_CONSOLE=n
CONFIG_MEMFD_CREATE=n
CONFIG_SERIO_SERPORT=n
CONFIG_IOMMU_PT=n
CONFIG_RTC_I2C_AND_SPI=n
CONFIG_WLAN_VENDOR_REALTEK=n
CONFIG_HAVE_ARCH_SECCOMP_FILTER=n
CONFIG_NET_VENDOR_BROADCOM=n
CONFIG_NET_VENDOR_ALACRITECH=n
CONFIG_HDMI=n
CONFIG_CRYPTO_HMAC=n
CONFIG_WLAN_VENDOR_ATH=n
CONFIG_MD=n
CONFIG_CRYPTO_DEV_ALLWINNER=n
CONFIG_POWER_RESET=n
CONFIG_NET_FLOW_LIMIT=n
CONFIG_PINCTRL_SOPHGO_CV18XX_OPS=n
CONFIG_TOOLCHAIN_NEEDS_EXPLICIT_ZICSR_ZIFENCEI=n
CONFIG_RISCV_PMU=n
CONFIG_NET_UDP_TUNNEL=n
CONFIG_RISCV_IOMMU=n
CONFIG_MMU_NOTIFIER=n
CONFIG_KVM_GENERIC_HARDWARE_ENABLING=n
CONFIG_IPV6_NDISC_NODETYPE=n
CONFIG_CFS_BANDWIDTH=n
CONFIG_DMI=n
CONFIG_CLK_SIFIVE_PRCI=n
CONFIG_HOTPLUG_CORE_SYNC=n
CONFIG_NET_VENDOR_STMICRO=n
CONFIG_HAVE_RSEQ=n
CONFIG_CRYPTO_RSA=n
CONFIG_EXTCON=n
CONFIG_CC_HAS_ASM_INLINE=n
CONFIG_RPS=n
CONFIG_PCIE_PLDA_HOST=n
CONFIG_DRM_CLIENT_SETUP=n
CONFIG_SPARSEMEM_VMEMMAP=n
CONFIG_NETFILTER_EGRESS=n
CONFIG_CPU_FREQ_GOV_ATTR_SET=n
CONFIG_USB_EHCI_TT_NEWSCHED=n
CONFIG_ARCH_PROC_KCORE_TEXT=n
CONFIG_FREEZER=n
CONFIG_GENERIC_IRQ_IPI_MUX=n
CONFIG_HAVE_KERNEL_BZIP2=n
CONFIG_GPIO_SPACEMIT_K1=n
CONFIG_HAVE_ARCH_AUDITSYSCALL=n
CONFIG_RESET_SUNXI=n
CONFIG_NETWORK_FILESYSTEMS=n
CONFIG_SLAB_OBJ_EXT=n
CONFIG_IO_URING=n
CONFIG_ARCH_OPTIONAL_KERNEL_RWX=n
CONFIG_MTD_SPI_NOR_SWP_DISABLE_ON_VOLATILE=n
CONFIG_CGROUP_PERF=n
CONFIG_DTC=n
CONFIG_SYSVIPC_SYSCTL=n
CONFIG_RESET_SPACEMIT_K1=n
CONFIG_DECOMPRESS_ZSTD=n
CONFIG_INET_DIAG=n
CONFIG_HID_SUPPORT=n
CONFIG_OF_MDIO=n
CONFIG_EFI_EARLYCON=n
CONFIG_CLZ_TAB=n
CONFIG_VLAN_8021Q=n
CONFIG_CRYPTO_LIB_GF128HASH=n
CONFIG_NET_VENDOR_CHELSIO=n
CONFIG_IP6_NF_MATCH_IPV6HEADER=n
CONFIG_ARCH_USE_SYM_ANNOTATIONS=n
CONFIG_USB_F_ECM=n
CONFIG_64BIT=n
CONFIG_DEBUG_INFO_NONE=n
CONFIG_POWER_RESET_SPACEMIT_P1=n
CONFIG_SCHED_MC=n
CONFIG_HAVE_KERNEL_LZMA=n
CONFIG_GENERIC_PENDING_IRQ=n
CONFIG_CRYPTO_ECHAINIV=n
CONFIG_NET_VENDOR_MYRI=n
CONFIG_USB_CONFIGFS_OBEX=n
CONFIG_KERNFS=n
CONFIG_SENSORS_SFCTEMP=n
CONFIG_SUNXI_SRAM=n
CONFIG_HW_RANDOM_VIRTIO=n
CONFIG_ARCH_SELECT_MEMORY_MODEL=n
CONFIG_NF_LOG_SYSLOG=n
CONFIG_MAILBOX=n
CONFIG_DECOMPRESS_GZIP=n
CONFIG_CRYPTO_ALGAPI2=n
CONFIG_NET_VENDOR_NATSEMI=n
CONFIG_XZ_DEC_ARMTHUMB=n
CONFIG_SHMEM=n
CONFIG_WIRELESS=n
CONFIG_RISCV_SBI=n
CONFIG_RISCV_ISA_VENDOR_EXT_THEAD=n
CONFIG_CRYPTO_AKCIPHER2=n
CONFIG_USB_CONFIGFS_EEM=n
CONFIG_MOUSE_PS2_SYNAPTICS_SMBUS=n
CONFIG_NET_SOCK_MSG=n
CONFIG_SUN55I_PCK600=n
CONFIG_RISCV_ISA_ZBC=n
CONFIG_ARCH_SPACEMIT=n
CONFIG_RTC_INTF_PROC=n
CONFIG_DRM_SUBALLOC_HELPER=n
CONFIG_DRM_CLIENT_SELECTION=n
CONFIG_LEGACY_DIRECT_IO=n
CONFIG_HAVE_KERNEL_LZ4=n
CONFIG_PROC_PAGE_MONITOR=n
CONFIG_CLK_SOPHGO_CV1800=n
CONFIG_SUNRPC_BACKCHANNEL=n
CONFIG_GENERIC_SCHED_CLOCK=n
CONFIG_HAS_IOPORT_MAP=n
CONFIG_USB_CDNS3_GADGET=n
CONFIG_XZ_DEC=n
CONFIG_CORE_DUMP_DEFAULT_ELF_HEADERS=n
CONFIG_DUMMY_CONSOLE=n
CONFIG_QUEUED_RWLOCKS=n
CONFIG_SPACEMIT_K1_EMAC=n
CONFIG_USB_DEFAULT_PERSIST=n
CONFIG_NET_VENDOR_EMULEX=n
CONFIG_PAGE_SIZE_LESS_THAN_64KB=n
CONFIG_USB_CDNS_SUPPORT=n
CONFIG_BLOCK_LEGACY_AUTOLOAD=n
CONFIG_CONTEXT_SWITCH_TRACER=n
CONFIG_OVERLAY_FS=n
CONFIG_ARCH_KEEP_MEMBLOCK=n
CONFIG_MTD_CFI_UTIL=n
CONFIG_HAVE_KVM_MSI=n
CONFIG_SCHED_HRTICK=n
CONFIG_RD_XZ=n
CONFIG_RISCV_NONSTANDARD_CACHE_OPS=n
CONFIG_CRYPTO_AKCIPHER=n
CONFIG_CLK_STARFIVE_JH7110_SYS=n
CONFIG_SND_JACK_INPUT_DEV=n
CONFIG_CRYPTO_KRB5ENC=n
CONFIG_XPS=n
CONFIG_PCIE_FU740=n
CONFIG_SECURITY_APPARMOR_INTROSPECT_POLICY=n
CONFIG_CRC32_ARCH=n
CONFIG_NET_VENDOR_REALTEK=n
CONFIG_NETFILTER_XT_MATCH_ADDRTYPE=n
CONFIG_GPIO_PCA953X_IRQ=n
CONFIG_CACHESTAT_SYSCALL=n
CONFIG_BRIDGE=n
CONFIG_RISCV_ISA_FALLBACK=n
CONFIG_EFI_PARAMS_FROM_FDT=n
CONFIG_RISCV_ISA_ZICBOZ=n
CONFIG_BCMA_POSSIBLE=n
CONFIG_RUSTC_SUPPORTS_RISCV=n
CONFIG_HAVE_KPROBES=n
CONFIG_FS_MBCACHE=n
CONFIG_DMA_ENGINE=n
CONFIG_USB_F_NCM=n
CONFIG_CGROUP_PIDS=n
CONFIG_VT_HW_CONSOLE_BINDING=n
CONFIG_WLAN_VENDOR_ZYDAS=n
CONFIG_SCSI_DMA=n
CONFIG_I2C_BOARDINFO=n
CONFIG_CRYPTO_KRB5=n
CONFIG_HAVE_ARCH_JUMP_LABEL=n
CONFIG_NET_EGRESS=n
CONFIG_ZSTD_COMPRESS=n
CONFIG_HW_RANDOM=n
CONFIG_NF_LOG_IPV6=n
CONFIG_NET_SCHED=n
CONFIG_DRM_SUN6I_DSI=n
CONFIG_PACKET=n
CONFIG_LLC=n
CONFIG_LEGACY_PTYS=n
CONFIG_NET_HANDSHAKE=n
CONFIG_NET_VENDOR_WIZNET=n
CONFIG_ARCH_HAS_PMEM_API=n
CONFIG_USB_STORAGE=n
CONFIG_PCI_DOMAINS=n
CONFIG_DWMAC_SUN8I=n
CONFIG_ERRATA_SIFIVE_CIP_1200=n
CONFIG_NET_VENDOR_ASIX=n
CONFIG_HAVE_ARCH_VMAP_STACK=n
CONFIG_PAGE_POOL=n
CONFIG_SPI_FSL_QUADSPI=n
CONFIG_OF_IOMMU=n
CONFIG_CLK_THEAD_TH1520_AP=n
CONFIG_SLUB=n
CONFIG_DRM_DISPLAY_HDMI_HELPER=n
CONFIG_OF_PMEM=n
CONFIG_CPUSETS=n
CONFIG_ARCH_DMA_DEFAULT_COHERENT=n
CONFIG_TICK_ONESHOT=n
CONFIG_NF_CONNTRACK=n
CONFIG_DRM_PANEL_ORIENTATION_QUIRKS=n
CONFIG_HAS_IOPORT=n
CONFIG_HUGETLB_PAGE=n
CONFIG_USB_XHCI_PCI=n
CONFIG_HUGETLBFS=n
CONFIG_RD_GZIP=n
CONFIG_ZSTD_DECOMPRESS=n
CONFIG_BINFMT_SCRIPT=n
CONFIG_NET_CLS_CGROUP=n
CONFIG_DEBUG_MISC=n
CONFIG_STARFIVE_WATCHDOG=n
CONFIG_NET_VENDOR_ATHEROS=n
CONFIG_VIRTIO_NET=n
CONFIG_BACKLIGHT_CLASS_DEVICE=n
CONFIG_HAVE_KRETPROBES=n
CONFIG_CRYPTO_LIB_AES_GCM=n
CONFIG_SECURITY_SELINUX=n
CONFIG_DRM_GPUVM=n
CONFIG_PWRSEQ_EMMC=n
CONFIG_DEBUG_BUGVERBOSE=n
CONFIG_MMU_GATHER_TABLE_FREE=n
CONFIG_ARCH_HAS_ELF_CORE_EFLAGS=n
CONFIG_SERIAL_8250_PNP=n
CONFIG_FIX_EARLYCON_MEM=n
CONFIG_HAVE_KVM_DIRTY_RING_ACQ_REL=n
CONFIG_RTC_CLASS=n
CONFIG_MMC_SDHCI_IO_ACCESSORS=n
CONFIG_GENERIC_PT=n
CONFIG_RISCV_ISA_SUPM=n
CONFIG_DMA_SUN6I=n
CONFIG_RESET_POLARFIRE_SOC=n
CONFIG_VIRTIO_DMA_SHARED_BUFFER=n
CONFIG_PINCTRL_TH1520=n
CONFIG_CLK_STARFIVE_JH71X0=n
CONFIG_RTC_INTF_DEV=n
CONFIG_IKCONFIG_PROC=n
CONFIG_PHY_STARFIVE_JH7110_USB=n
CONFIG_PHY_PACKAGE=n
CONFIG_WLAN_VENDOR_MEDIATEK=n
CONFIG_DMA_VIRTUAL_CHANNELS=n
CONFIG_STARFIVE_JHB100_INTC=n
CONFIG_HAS_DMA=n
CONFIG_GENERIC_EARLY_IOREMAP=n
CONFIG_ARCH_WANT_LD_ORPHAN_WARN=n
CONFIG_DWMAC_SPACEMIT=n
CONFIG_ACPI_PROCESSOR=n
CONFIG_MSDOS_PARTITION=n
CONFIG_MTD_CFI_I1=n
CONFIG_RCU_STALL_COMMON=n
CONFIG_NET_VENDOR_NETRONOME=n
CONFIG_E1000E=n
CONFIG_CAN_RAW=n
CONFIG_PNFS_BLOCK=n
CONFIG_MII=n
CONFIG_GENERIC_BUG=n
CONFIG_ARCH_WANT_OPTIMIZE_DAX_VMEMMAP=n
CONFIG_CAN_GW=n
CONFIG_IP_PNP=n
CONFIG_REGULATOR_FIXED_VOLTAGE=n
CONFIG_PM_SLEEP_SMP=n
CONFIG_SND_PCM=n
CONFIG_MOUSE_PS2_TRACKPOINT=n
CONFIG_NET_VENDOR_FUNGIBLE=n
CONFIG_ARCH_FLATMEM_ENABLE=n
CONFIG_DRM_PANEL=n
CONFIG_GENERIC_SYSCALL=n
CONFIG_NETFILTER_BPF_LINK=n
CONFIG_HAVE_PERF_REGS=n
CONFIG_AUXILIARY_BUS=n
CONFIG_PINCTRL_SOPHGO_CV1812H=n
CONFIG_PCIE_XILINX=n
CONFIG_SUN20I_D1_CCU=n
CONFIG_HAVE_ARCH_KASAN_VMALLOC=n
CONFIG_SPLIT_PTE_PTLOCKS=n
CONFIG_LZO_COMPRESS=n
CONFIG_ARCH_HAS_DELAY_TIMER=n
CONFIG_DRM_DW_HDMI=n
CONFIG_RWSEM_SPIN_ON_OWNER=n
CONFIG_CRYPTO_LIB_AES_CTR=n
CONFIG_VMAP_STACK=n
CONFIG_REGMAP=n
CONFIG_RD_BZIP2=n
CONFIG_SND_USB=n
CONFIG_PM_OPP=n
CONFIG_NVMEM_SUNXI_SID=n
CONFIG_ARCH_SUPPORTS_CRASH_DUMP=n
CONFIG_NET_VENDOR_HUAWEI=n
CONFIG_GENERIC_IOREMAP=n
CONFIG_BLK_DEV_NVME=n
CONFIG_PATA_TIMINGS=n
CONFIG_FTRACE=n
CONFIG_NET_VENDOR_3COM=n
CONFIG_GENERIC_HWEIGHT=n
CONFIG_GENERIC_ENTRY=n
CONFIG_NF_LOG_IPV4=n
CONFIG_DEBUG_FS=n
CONFIG_TREE_SRCU=n
CONFIG_FB_IOMEM_FOPS=n
CONFIG_SECURITY_SELINUX_DEVELOP=n
CONFIG_NET_VENDOR_INTEL=n
CONFIG_SND_DRIVERS=n
CONFIG_HAVE_ARCH_MMAP_RND_COMPAT_BITS=n
CONFIG_VXLAN=n
CONFIG_DRM_PANEL_BRIDGE=n
CONFIG_CMODEL_MEDANY=n
CONFIG_FB_NOTIFY=n
CONFIG_COMPAT=n
CONFIG_PHY_STARFIVE_JH7110_DPHY_RX=n
