CONFIG_X86_ACPI_CPUFREQ=n
CONFIG_SYSVIPC_SYSCTL=n
CONFIG_TIGON3_HWMON=n
CONFIG_HALTPOLL_CPUIDLE=n
CONFIG_HAVE_MOVE_PUD=n
CONFIG_TIME_NS=n
CONFIG_GLOB=n
CONFIG_BLK_DEV_INITRD=n
CONFIG_HAVE_PERF_USER_STACK_DUMP=n
CONFIG_FUTEX_PI=n
CONFIG_HAVE_KERNEL_BZIP2=n
CONFIG_ZSTD_COMMON=n
CONFIG_NF_REJECT_IPV6=n
CONFIG_IOMMU_DMA=n
CONFIG_NET_VENDOR_ARC=n
CONFIG_HAVE_ACPI_APEI_NMI=n
CONFIG_VIRTIO_PCI_LEGACY=n
CONFIG_VIRTIO_PCI=n
CONFIG_MD_AUTODETECT=n
CONFIG_I3C_OR_I2C=n
CONFIG_XARRAY_MULTI=n
CONFIG_MAC80211_RC_MINSTREL=n
CONFIG_BLK_DEV_BSG=n
CONFIG_ACPI_I2C_OPREGION=n
CONFIG_BLK_DEV_WRITE_MOUNTED=n
CONFIG_IP_PIMSM_V2=n
CONFIG_AUDITSYSCALL=n
CONFIG_EXPORTFS=n
CONFIG_SERIAL_EARLYCON=n
CONFIG_JBD2=n
CONFIG_PROC_EVENTS=n
CONFIG_DRM_KMS_HELPER=n
CONFIG_SERIAL_8250_MID=n
CONFIG_LZ4_COMPRESS=n
CONFIG_HZ_1000=n
CONFIG_ARCH_SUPPORTS_KEXEC_SIG_FORCE=n
CONFIG_HAS_IOPORT_MAP=n
CONFIG_ACPI_SYSTEM_POWER_STATES_SUPPORT=n
CONFIG_XZ_DEC_RISCV=n
CONFIG_NET_VENDOR_DEC=n
CONFIG_P2SB=n
CONFIG_NLS_ASCII=n
CONFIG_CC_NO_STRINGOP_OVERFLOW=n
CONFIG_X86_DISABLED_FEATURE_UNRET=n
CONFIG_ARCH_SUPPORTS_KEXEC=n
CONFIG_DEVPORT=n
CONFIG_NET_VENDOR_MICROCHIP=n
CONFIG_HAVE_FUNCTION_TRACER=n
CONFIG_ADVISE_SYSCALLS=n
CONFIG_HAVE_STATIC_CALL=n
CONFIG_ARCH_USE_CMPXCHG_LOCKREF=n
CONFIG_USB_COMMON=n
CONFIG_THERMAL_DEFAULT_GOV_STEP_WISE=n
CONFIG_NETFILTER_EGRESS=n
CONFIG_NET_CLS_CGROUP=n
CONFIG_ZSTD_DECOMPRESS=n
CONFIG_HAS_DMA=n
CONFIG_CC_HAS_NAMED_AS_FIXED_SANITIZERS=n
CONFIG_HAVE_ARCH_KSTACK_ERASE=n
CONFIG_ARCH_SUSPEND_POSSIBLE=n
CONFIG_ARCH_SUPPORTS_CRASH_HOTPLUG=n
CONFIG_ARCH_HAS_KERNEL_FPU_SUPPORT=n
CONFIG_SSB_POSSIBLE=n
CONFIG_I2C_HELPER_AUTO=n
CONFIG_DMA_ENGINE=n
CONFIG_X86_PLATFORM_DEVICES=n
CONFIG_IP_ADVANCED_ROUTER=n
CONFIG_BQL=n
CONFIG_PCIEASPM=n
CONFIG_INPUT_VIVALDIFMAP=n
CONFIG_PERF_EVENTS_INTEL_CSTATE=n
CONFIG_PCIEASPM_DEFAULT=n
CONFIG_IP_MULTICAST=n
CONFIG_INTEGRITY_AUDIT=n
CONFIG_SECCOMP_FILTER=n
CONFIG_HOTPLUG_CORE_SYNC=n
CONFIG_HOTPLUG_SMT=n
CONFIG_NFS_V3_ACL=n
CONFIG_ARCH_HAS_PTE_SPECIAL=n
CONFIG_WLAN_VENDOR_MEDIATEK=n
CONFIG_ARCH_CLOCKSOURCE_INIT=n
CONFIG_ARCH_WANT_BATCHED_UNMAP_TLB_FLUSH=n
CONFIG_PCCARD_NONSTATIC=n
CONFIG_HAVE_CMPXCHG_LOCAL=n
CONFIG_SND_PROC_FS=n
CONFIG_BLK_CGROUP_IOCOST=n
CONFIG_ARCH_MIGHT_HAVE_ACPI_PDC=n
CONFIG_WLAN_VENDOR_MARVELL=n
CONFIG_GENERIC_ISA_DMA=n
CONFIG_ARCH_MAY_HAVE_PC_FDC=n
CONFIG_NETFILTER_XT_MARK=n
CONFIG_AS_IS_GNU=n
CONFIG_NET_VENDOR_CADENCE=n
CONFIG_FLATMEM_MANUAL=n
CONFIG_CRYPTO_CMAC=n
CONFIG_X86_BOOTPARAM_MEMORY_CORRUPTION_CHECK=n
CONFIG_STACKTRACE=n
CONFIG_GENERIC_PENDING_IRQ=n
CONFIG_X86_DISABLED_FEATURE_RETHUNK=n
CONFIG_ARCH_HAS_PTDUMP=n
CONFIG_X86_ESPFIX32=n
CONFIG_ARCH_SUPPORTS_LTO_CLANG_THIN=n
CONFIG_CPU_SUP_CENTAUR=n
CONFIG_PM_TRACE_RTC=n
CONFIG_KEXEC_CORE=n
CONFIG_X86_REQUIRED_FEATURE_ALWAYS=n
CONFIG_MAC80211=n
CONFIG_NFS_V3=n
CONFIG_UNION_FIND=n
CONFIG_HAVE_ARCH_KGDB=n
CONFIG_VHOST_ENABLE_FORK_OWNER_CONTROL=n
CONFIG_QUEUED_SPINLOCKS=n
CONFIG_HAVE_PCSPKR_PLATFORM=n
CONFIG_WLAN_VENDOR_NXP=n
CONFIG_ARCH_CONFIGURES_CPU_MITIGATIONS=n
CONFIG_HDMI=n
CONFIG_ACPI_TABLE_UPGRADE=n
CONFIG_INPUT_MISC=n
CONFIG_NO_HZ=n
CONFIG_EFI_STUB=n
CONFIG_ARCH_CPUIDLE_HALTPOLL=n
CONFIG_SND_JACK=n
CONFIG_EXT4_FS_SECURITY=n
CONFIG_I2C_BOARDINFO=n
CONFIG_VIRTIO_DMA_SHARED_BUFFER=n
CONFIG_OLD_SIGACTION=n
CONFIG_SERIAL_8250_LPSS=n
CONFIG_ETHTOOL_NETLINK=n
CONFIG_SYNC_FILE=n
CONFIG_NF_DEFRAG_IPV6=n
CONFIG_SND_SEQ_DUMMY=n
CONFIG_NEED_TASKS_RCU=n
CONFIG_ACPI_FAN=n
CONFIG_HAVE_ARCH_RANDOMIZE_KSTACK_OFFSET=n
CONFIG_MOUSE_PS2_ALPS=n
CONFIG_CRYPTO_RSA=n
CONFIG_CRYPTO_AEAD2=n
CONFIG_GENERIC_CPU_AUTOPROBE=n
CONFIG_ACPI_THERMAL_LIB=n
CONFIG_BACKLIGHT_CLASS_DEVICE=n
CONFIG_X86_DISABLED_FEATURE_SGX=n
CONFIG_RPCSEC_GSS_KRB5=n
CONFIG_ARCH_SUPPORTS_LTO_CLANG=n
CONFIG_FWNODE_MDIO=n
CONFIG_NO_HZ_IDLE=n
CONFIG_PERF_EVENTS_AMD_UNCORE=n
CONFIG_HID_PETALYNX=n
CONFIG_IP_PIMSM_V1=n
CONFIG_HAVE_PV_STEAL_CLOCK_GEN=n
CONFIG_CC_HAS_KASAN_GENERIC=n
CONFIG_CPU_FREQ_GOV_SCHEDUTIL=n
CONFIG_NFS_FS=n
CONFIG_MSDOS_PARTITION=n
CONFIG_X86_SUPPORTS_MEMORY_FAILURE=n
CONFIG_ARCH_HAS_DEBUG_VIRTUAL=n
CONFIG_NET_VENDOR_SUN=n
CONFIG_NET_VENDOR_WANGXUN=n
CONFIG_JOLIET=n
CONFIG_EFI_ESRT=n
CONFIG_UNWINDER_FRAME_POINTER=n
CONFIG_WLAN_VENDOR_QUANTENNA=n
CONFIG_SCHEDSTATS=n
CONFIG_AS_WRUSS=n
CONFIG_ACPI_REV_OVERRIDE_POSSIBLE=n
CONFIG_ARCH_HAS_SET_MEMORY=n
CONFIG_USB_DEFAULT_PERSIST=n
CONFIG_BSD_PROCESS_ACCT=n
CONFIG_HID_GYRATION=n
CONFIG_EFI_RUNTIME_MAP=n
CONFIG_SERIAL_8250_DMA=n
CONFIG_CRYPTO_AES=n
CONFIG_RTC_MC146818_LIB=n
CONFIG_BLK_DEV_IO_TRACE=n
CONFIG_ARCH_HAS_STRICT_MODULE_RWX=n
CONFIG_RPS=n
CONFIG_CRYPTO_KRB5=n
CONFIG_HID_PID=n
CONFIG_ARCH_SUPPORTS_SCHED_SMT=n
CONFIG_FIRMWARE_MEMMAP=n
CONFIG_LTO_NONE=n
CONFIG_WIRELESS=n
CONFIG_PREEMPT_LAZY=n
CONFIG_DRM_BUDDY=n
CONFIG_NFS_DISABLE_UDP_SUPPORT=n
CONFIG_NFS_V4_0=n
CONFIG_SERIAL_8250_PNP=n
CONFIG_GENERIC_SYSCALL=n
CONFIG_RFS_ACCEL=n
CONFIG_EFI=n
CONFIG_SUNRPC_BACKCHANNEL=n
CONFIG_NET_VENDOR_SYNOPSYS=n
CONFIG_KMAP_LOCAL=n
CONFIG_ARCH_SPLIT_ARG64=n
CONFIG_PT_RECLAIM=n
CONFIG_NLS_ISO8859_1=n
CONFIG_KRETPROBES=n
CONFIG_TRACEFS_AUTOMOUNT_DEPRECATED=n
CONFIG_NET_VENDOR_I825XX=n
CONFIG_NET_VENDOR_QLOGIC=n
CONFIG_INITRAMFS_PRESERVE_MTIME=n
CONFIG_NET_VENDOR_CISCO=n
CONFIG_GENERIC_NET_UTILS=n
CONFIG_CPU_SUP_VORTEX_32=n
CONFIG_XFRM_ESP=n
CONFIG_ISO9660_FS=n
CONFIG_XZ_DEC=n
CONFIG_X86_CPUID=n
CONFIG_IO_URING_ZCRX=n
CONFIG_ARCH_HAS_CACHE_LINE_SIZE=n
CONFIG_HAVE_KERNEL_LZ4=n
CONFIG_TASK_DELAY_ACCT=n
CONFIG_EPOLL=n
CONFIG_HOTPLUG_CORE_SYNC_FULL=n
CONFIG_PROFILING=n
CONFIG_TMPFS_POSIX_ACL=n
CONFIG_NET_VENDOR_PENSANDO=n
CONFIG_ZLIB_INFLATE=n
CONFIG_X86_IOPL_IOPERM=n
CONFIG_IP_PNP=n
CONFIG_HAVE_KPROBES_ON_FTRACE=n
CONFIG_MOUSE_PS2_LIFEBOOK=n
CONFIG_PREEMPTION=n
CONFIG_CC_HAS_IBT=n
CONFIG_ARCH_SUPPORTS_DEBUG_PAGEALLOC=n
CONFIG_PERF_EVENTS_INTEL_UNCORE=n
CONFIG_DECOMPRESS_ZSTD=n
CONFIG_UNINLINE_SPIN_UNLOCK=n
CONFIG_ACPI_MDIO=n
CONFIG_CRYPTO_GENIV=n
CONFIG_NVRAM=n
CONFIG_PCI_MMCONFIG=n
CONFIG_MODULE_UNLOAD=n
CONFIG_PHYLIB=n
CONFIG_GENERIC_CLOCKEVENTS=n
CONFIG_STACKDEPOT=n
CONFIG_NET_EMATCH=n
CONFIG_NF_LOG_IPV6=n
CONFIG_SELECT_MEMORY_MODEL=n
CONFIG_PCI_MSI=n
CONFIG_BLK_PM=n
CONFIG_E1000E=n
CONFIG_X86_DEBUGCTLMSR=n
CONFIG_XZ_DEC_ARMTHUMB=n
CONFIG_EXT4_FS=n
CONFIG_ACPI_HOTPLUG_CPU=n
CONFIG_MMU_NOTIFIER=n
CONFIG_SYSTEM_TRUSTED_KEYRING=n
CONFIG_EDAC_SUPPORT=n
CONFIG_GENERIC_STRNLEN_USER=n
CONFIG_GENERIC_IRQ_MATRIX_ALLOCATOR=n
CONFIG_BINFMT_ELF=n
CONFIG_ARCH_USE_BUILTIN_BSWAP=n
CONFIG_ACPI_BUTTON=n
CONFIG_HAVE_ARCH_KFENCE=n
CONFIG_TASKS_RCU_GENERIC=n
CONFIG_NET_9P=n
CONFIG_ARCH_SUPPORTS_SCHED_CLUSTER=n
CONFIG_X86_DISABLED_FEATURE_FRED=n
CONFIG_DMA_SHARED_BUFFER=n
CONFIG_STANDALONE=n
CONFIG_HVC_DRIVER=n
CONFIG_VIRTIO_NET=n
CONFIG_LD_CAN_USE_KEEP_IN_OVERLAY=n
CONFIG_SND_INTEL_NHLT=n
CONFIG_MITIGATION_RETPOLINE=n
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST=n
CONFIG_MULTIUSER=n
CONFIG_PPS=n
CONFIG_FW_CACHE=n
CONFIG_HAVE_CMPXCHG_DOUBLE=n
CONFIG_NET_VENDOR_OKI=n
CONFIG_ALLOW_DEV_COREDUMP=n
CONFIG_DNOTIFY=n
CONFIG_PM=n
CONFIG_ARCH_MIGHT_HAVE_PC_SERIO=n
CONFIG_IP_MROUTE=n
CONFIG_XXHASH=n
CONFIG_SCHED_MC=n
CONFIG_HUGETLB_PAGE=n
CONFIG_RTC_I2C_AND_SPI=n
CONFIG_VIRTUALIZATION=n
CONFIG_WLAN_VENDOR_ATH=n
CONFIG_NET_VENDOR_BROADCOM=n
CONFIG_NET_DEVMEM=n
CONFIG_MITIGATION_RFDS=n
CONFIG_HAVE_ARCH_GET_SECUREBOOT=n
CONFIG_NF_CT_NETLINK=n
CONFIG_CRC_OPTIMIZATIONS=n
CONFIG_QUEUED_RWLOCKS=n
CONFIG_HAS_IOPORT=n
CONFIG_NET_SCHED=n
CONFIG_IP_PNP_DHCP=n
CONFIG_INPUT_JOYSTICK=n
CONFIG_RANDSTRUCT_NONE=n
CONFIG_BLK_DEV_MD=n
CONFIG_HAVE_KPROBES=n
CONFIG_PCMCIA_LOAD_CIS=n
CONFIG_XZ_DEC_ARM64=n
CONFIG_SG_POOL=n
CONFIG_INSTRUCTION_DECODER=n
