CONFIG_CPU_SUP_ZHAOXIN=n
CONFIG_ZISOFS=n
CONFIG_GENERIC_CMOS_UPDATE=n
CONFIG_BLK_CGROUP=n
CONFIG_DRM_I915_USERPTR=n
CONFIG_SPARSEMEM_EXTREME=n
CONFIG_ACPI_HOTPLUG_CPU=n
CONFIG_ELF_CORE=n
CONFIG_WLAN_VENDOR_MORSEMICRO=n
CONFIG_CPUFREQ_ARCH_CUR_FREQ=n
CONFIG_CRYPTO_LIB_AES_CTR=n
CONFIG_NET_VENDOR_VERTEXCOM=n
CONFIG_ARCH_WANTS_THP_SWAP=n
CONFIG_POSIX_TIMERS=n
CONFIG_DMA_ENGINE=n
CONFIG_ARCH_HAS_PKEYS=n
CONFIG_DEVTMPFS=n
CONFIG_SND_HDA_CORE=n
CONFIG_CRYPTO_LIB_AES_CBC=n
CONFIG_HID_GENERIC=n
CONFIG_HRTIMER_REARM_DEFERRED=n
CONFIG_HAVE_C_RECORDMCOUNT=n
CONFIG_HAVE_ACPI_APEI_NMI=n
CONFIG_CGROUP_SCHED=n
CONFIG_RPS=n
CONFIG_NO_HZ=n
CONFIG_ARCH_PROC_KCORE_TEXT=n
CONFIG_WLAN_VENDOR_NXP=n
CONFIG_GCC_NO_STRINGOP_OVERFLOW=n
CONFIG_CRYPTO_LIB_SHA256=n
CONFIG_IP_MROUTE_COMMON=n
CONFIG_NET_VENDOR_META=n
CONFIG_PNP_DEBUG_MESSAGES=n
CONFIG_BUG=n
CONFIG_NF_DEFRAG_IPV6=n
CONFIG_PCI_PRI=n
CONFIG_NET_VENDOR_NVIDIA=n
CONFIG_HIBERNATION=n
CONFIG_HOTPLUG_CORE_SYNC_FULL=n
CONFIG_CFG80211_CRDA_SUPPORT=n
CONFIG_ARCH_HAS_FAST_MULTIPLIER=n
CONFIG_CRYPTO_HW=n
CONFIG_DYNAMIC_EVENTS=n
CONFIG_ARCH_WANT_GENERAL_HUGETLB=n
CONFIG_CC_HAS_AUTO_VAR_INIT_PATTERN=n
CONFIG_ACPI_TABLE_UPGRADE=n
CONFIG_HID_SAMSUNG=n
CONFIG_CRC16=n
CONFIG_CGROUP_PIDS=n
CONFIG_ARCH_HAS_CACHE_LINE_SIZE=n
CONFIG_GENERIC_EARLY_IOREMAP=n
CONFIG_QUOTA=n
CONFIG_HAVE_KCSAN_COMPILER=n
CONFIG_RTC_LIB=n
CONFIG_RTC_NVMEM=n
CONFIG_EFI_DXE_MEM_ATTRIBUTES=n
CONFIG_NEW_LEDS=n
CONFIG_SUNRPC_GSS=n
CONFIG_PCI_MMCONFIG=n
CONFIG_X86_REQUIRED_FEATURE_PGE=n
CONFIG_TICK_ONESHOT=n
CONFIG_KEXEC=n
CONFIG_EFI_RUNTIME_WRAPPERS=n
CONFIG_HAVE_JUMP_LABEL_HACK=n
CONFIG_HAVE_KERNEL_ZSTD=n
CONFIG_GENERIC_IRQ_MATRIX_ALLOCATOR=n
CONFIG_CPU_FREQ_GOV_USERSPACE=n
CONFIG_MOUSE_PS2_ALPS=n
CONFIG_USE_PERCPU_NUMA_NODE_ID=n
CONFIG_ARCH_HAS_UACCESS_FLUSHCACHE=n
CONFIG_PNPACPI=n
CONFIG_ARCH_CPUIDLE_HALTPOLL=n
CONFIG_BLK_DEV_DM_BUILTIN=n
CONFIG_NET_VENDOR_RDC=n
CONFIG_SOUND=n
CONFIG_NF_CT_NETLINK=n
CONFIG_RWSEM_SPIN_ON_OWNER=n
CONFIG_COMPAT_32=n
CONFIG_PM_TRACE=n
CONFIG_NET_NS=n
CONFIG_ARCH_HIBERNATION_HEADER=n
CONFIG_DMA_ACPI=n
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST_IDLE=n
CONFIG_XZ_DEC_ARMTHUMB=n
CONFIG_QUEUED_RWLOCKS=n
CONFIG_ARCH_SUPPORTS_CRASH_HOTPLUG=n
CONFIG_PAGE_SIZE_LESS_THAN_64KB=n
CONFIG_NET_VENDOR_ATHEROS=n
CONFIG_ARCH_HAS_ACPI_TABLE_UPGRADE=n
CONFIG_BROADCAST_TLB_FLUSH=n
CONFIG_HAVE_ASM_MODVERSIONS=n
CONFIG_CRYPTO_LIB_SHA512=n
CONFIG_BLK_DEV_BSG=n
CONFIG_HW_RANDOM=n
CONFIG_BINFMT_MISC=n
CONFIG_IP_PNP=n
CONFIG_CRYPTO_CTR=n
CONFIG_X86_THERMAL_VECTOR=n
CONFIG_CRYPTO_LZ4=n
CONFIG_KVFREE_RCU_BATCHED=n
CONFIG_NFS_V3_ACL=n
CONFIG_SURFACE_PLATFORMS=n
CONFIG_USB_NET_DRIVERS=n
CONFIG_BPF=n
CONFIG_INPUT_FF_MEMLESS=n
CONFIG_SND_DRIVERS=n
CONFIG_X86_BUS_LOCK_DETECT=n
CONFIG_USB_EHCI_HCD=n
CONFIG_NET_VENDOR_SEEQ=n
CONFIG_WLAN_VENDOR_ATH=n
CONFIG_ZSTD_DECOMPRESS=n
CONFIG_SHMEM=n
CONFIG_HAVE_ARCH_HUGE_VMALLOC=n
CONFIG_GCC10_NO_ARRAY_BOUNDS=n
CONFIG_DEBUG_MISC=n
CONFIG_USB_EHCI_TT_NEWSCHED=n
CONFIG_HID_TOPSEED=n
CONFIG_VT_CONSOLE=n
CONFIG_VM_EVENT_COUNTERS=n
CONFIG_TCP_CONG_ADVANCED=n
CONFIG_SECURITY_SELINUX_BOOTPARAM=n
CONFIG_CGROUP_DEVICE=n
CONFIG_CRYPTO_ACOMP2=n
CONFIG_FW_LOADER=n
CONFIG_WLAN_VENDOR_MICROCHIP=n
CONFIG_NET_IP_TUNNEL=n
CONFIG_X86_TSC=n
CONFIG_I2C_HELPER_AUTO=n
CONFIG_XFRM_USER=n
CONFIG_PCI_DOMAINS=n
CONFIG_FAILOVER=n
CONFIG_GENERIC_CLOCKEVENTS_COUPLED_INLINE=n
CONFIG_YENTA_ENE_TUNE=n
CONFIG_PARAVIRT_CLOCK=n
CONFIG_X86_ACPI_CPUFREQ=n
CONFIG_JUMP_LABEL=n
CONFIG_SERIO_SERPORT=n
CONFIG_LZ4_COMPRESS=n
CONFIG_ZLIB_INFLATE=n
CONFIG_X86_MCE_AMD=n
CONFIG_COREDUMP=n
CONFIG_ARCH_HAS_CPU_PASID=n
CONFIG_PREEMPT_RCU=n
CONFIG_X86_BOOTPARAM_MEMORY_CORRUPTION_CHECK=n
CONFIG_CRYPTO_MANAGER2=n
CONFIG_ARCH_ENABLE_HUGEPAGE_MIGRATION=n
CONFIG_X86_16BIT=n
CONFIG_X86_PM_TIMER=n
CONFIG_X86_DISABLED_FEATURE_ENQCMD=n
CONFIG_NF_NAT_MASQUERADE=n
CONFIG_TASKSTATS=n
CONFIG_SYSCTL=n
CONFIG_MODULES=n
CONFIG_SND_VMASTER=n
CONFIG_DCACHE_WORD_ACCESS=n
CONFIG_X86_REQUIRED_FEATURE_PSE=n
CONFIG_CRYPTO_GENIV=n
CONFIG_GENERIC_STRNLEN_USER=n
CONFIG_X509_CERTIFICATE_PARSER=n
CONFIG_X86_VMX_FEATURE_NAMES=n
CONFIG_CRYPTO_SHA1=n
CONFIG_STANDALONE=n
CONFIG_IOMMU_SUPPORT=n
CONFIG_CPU_FREQ_GOV_ATTR_SET=n
CONFIG_ARCH_SUPPORTS_ACPI=n
CONFIG_WLAN_VENDOR_INTERSIL=n
CONFIG_KPROBES=n
CONFIG_RFKILL_INPUT=n
CONFIG_NET_VENDOR_CADENCE=n
CONFIG_CPU_FREQ_GOV_PERFORMANCE=n
CONFIG_CARDBUS=n
CONFIG_NF_NAT_IRC=n
CONFIG_DRM_DISPLAY_HDCP_HELPER=n
CONFIG_GENERIC_NET_UTILS=n
CONFIG_DMI=n
CONFIG_REGMAP=n
CONFIG_LD_IS_BFD=n
CONFIG_GROUP_SCHED_WEIGHT=n
CONFIG_IA32_EMULATION=n
CONFIG_HVC_DRIVER=n
CONFIG_CC_CAN_LINK=n
CONFIG_GENERIC_SMP_IDLE_THREAD=n
CONFIG_X86_REQUIRED_FEATURE_SYSFAST32=n
CONFIG_MITIGATION_TAA=n
CONFIG_PCSPKR_PLATFORM=n
CONFIG_HAS_DMA=n
CONFIG_NET_VENDOR_SIS=n
CONFIG_ACPI_HOTPLUG_IOAPIC=n
CONFIG_SWIOTLB=n
CONFIG_FUNCTION_ALIGNMENT_16B=n
CONFIG_NUMA=n
CONFIG_NF_CONNTRACK_SECMARK=n
CONFIG_HOTPLUG_SPLIT_STARTUP=n
CONFIG_E1000E=n
CONFIG_HAVE_STACKPROTECTOR=n
CONFIG_HAVE_ARCH_TRACEHOOK=n
CONFIG_YENTA_O2=n
CONFIG_GENERIC_SYSCALL=n
CONFIG_GENERIC_IRQ_MIGRATION=n
CONFIG_ADVISE_SYSCALLS=n
CONFIG_TRACE_IRQFLAGS_NMI_SUPPORT=n
CONFIG_IOMMU_MM_DATA=n
CONFIG_HAS_IOMEM=n
CONFIG_I3C_OR_I2C=n
CONFIG_ATA_VERBOSE_ERROR=n
CONFIG_FS_POSIX_ACL=n
CONFIG_PCIEASPM=n
CONFIG_HAVE_HW_BREAKPOINT=n
CONFIG_NET_VENDOR_DEC=n
CONFIG_MQ_IOSCHED_DEADLINE=n
CONFIG_HAVE_DMA_CONTIGUOUS=n
CONFIG_NET_VENDOR_ADAPTEC=n
CONFIG_HAVE_KERNEL_GZIP=n
CONFIG_DMA_NEED_SYNC=n
CONFIG_CC_HAS_ZERO_CALL_USED_REGS=n
CONFIG_ARCH_HAS_HW_PTE_YOUNG=n
CONFIG_MD_AUTODETECT=n
CONFIG_CHR_DEV_SG=n
CONFIG_PM_SLEEP_DEBUG=n
CONFIG_VDSO_GETRANDOM=n
CONFIG_AGP_INTEL=n
CONFIG_UNION_FIND=n
CONFIG_NEED_TASKS_RCU=n
CONFIG_NET_CLS_ACT=n
CONFIG_KALLSYMS=n
CONFIG_VT_CONSOLE_SLEEP=n
CONFIG_ETHERNET=n
CONFIG_HAVE_FENTRY=n
CONFIG_SCSI_MOD=n
CONFIG_ZSTD_COMMON=n
CONFIG_BSD_PROCESS_ACCT=n
CONFIG_ARCH_HAVE_NMI_SAFE_CMPXCHG=n
CONFIG_MD=n
CONFIG_IP_PIMSM_V2=n
CONFIG_PM_SLEEP=n
CONFIG_CPUSETS=n
CONFIG_EFI_PARTITION=n
CONFIG_PROC_MEM_FORCE_PTRACE=n
CONFIG_IP_PNP_DHCP=n
CONFIG_WLAN_VENDOR_QUANTENNA=n
CONFIG_INET_TUNNEL=n
CONFIG_FUTEX_PI=n
CONFIG_X86_64_ACPI_NUMA=n
CONFIG_WLAN_VENDOR_TI=n
CONFIG_CRYPTO_HMAC=n
CONFIG_HUGETLBFS=n
CONFIG_MITIGATION_CALL_DEPTH_TRACKING=n
CONFIG_ARCH_HAS_MEMBARRIER_SYNC_CORE=n
CONFIG_WLAN_VENDOR_INTEL=n
CONFIG_USER_STACKTRACE_SUPPORT=n
CONFIG_HAVE_CONTEXT_TRACKING_USER=n
CONFIG_HAVE_OBJTOOL_MCOUNT=n
CONFIG_EFI=n
CONFIG_CPU_FREQ_GOV_ONDEMAND=n
CONFIG_BLK_CGROUP_IOCOST=n
CONFIG_RD_BZIP2=n
CONFIG_XPS=n
CONFIG_PCI_LOCKLESS_CONFIG=n
CONFIG_GENERIC_CPU_VULNERABILITIES=n
CONFIG_GENERIC_ENTRY=n
CONFIG_HZ_1000=n
CONFIG_NF_REJECT_IPV4=n
CONFIG_CONTEXT_SWITCH_TRACER=n
CONFIG_ARCH_SUPPORTS_CMDLINE_FROM_BOOTCONFIG=n
CONFIG_NET_VENDOR_GOOGLE=n
CONFIG_HAVE_KERNEL_BZIP2=n
CONFIG_SPARSEMEM=n
CONFIG_IOMMU_IOPF=n
CONFIG_NETFILTER_XT_MATCH_CONNTRACK=n
CONFIG_NETFILTER_EGRESS=n
CONFIG_RD_LZMA=n
CONFIG_PARAVIRT=n
CONFIG_QUEUED_SPINLOCKS=n
CONFIG_CC_HAS_MARCH_NATIVE=n
CONFIG_ARCH_MEMORY_ORDER_TSO=n
CONFIG_INSTRUCTION_DECODER=n
CONFIG_NET_PTP_CLASSIFY=n
CONFIG_MITIGATION_RETHUNK=n
CONFIG_RFKILL=n
CONFIG_NET_SCH_FIFO=n
CONFIG_NET_VENDOR_CHELSIO=n
CONFIG_CRC32_ARCH=n
CONFIG_RETHOOK=n
CONFIG_IP_PNP_BOOTP=n
CONFIG_SERIAL_8250_RSA=n
CONFIG_INPUT_EVDEV=n
CONFIG_CRYPTO_LIB_AES_CBC_MACS=n
CONFIG_CRYPTO_LIB_BLAKE2S_ARCH=n
CONFIG_SCHED_MM_CID=n
CONFIG_DECOMPRESS_LZ4=n
CONFIG_INTEL_MEI_ME=n
CONFIG_X86_DISABLED_FEATURE_K6_MTRR=n
CONFIG_HOTPLUG_PARALLEL=n
CONFIG_BLK_DEV_IO_TRACE=n
CONFIG_HAVE_STATIC_CALL_INLINE=n
CONFIG_HAVE_CMPXCHG_LOCAL=n
CONFIG_WLAN_VENDOR_RSI=n
CONFIG_HAVE_ARCH_HUGE_VMAP=n
CONFIG_PHYLIB=n
CONFIG_HAVE_PCI=n
