CONFIG_WQ_POWER_EFFICIENT_DEFAULT=y
CONFIG_DEBUG_SECTION_MISMATCH=y
CONFIG_VFAT_FS=y
CONFIG_I2C=y
CONFIG_MTD_NAND_ECC_MXIC=y
CONFIG_REBOOT_MODE=y
CONFIG_LEDS_LP55XX_COMMON=y
CONFIG_PCIE_MICROCHIP_HOST=y
CONFIG_KEYS_REQUEST_CACHE=y
CONFIG_STMP_DEVICE=y
CONFIG_COMMON_CLK_MT8516=y
CONFIG_IRQ_STACKS=y
CONFIG_CHR_DEV_SCH=y
CONFIG_IPQ_APSS_6018=y
CONFIG_HFS_FS=y
CONFIG_SYSC_R8A7794=y
CONFIG_PCIE_XILINX_DMA_PL=y
CONFIG_SENSORS_MAX6697=y
CONFIG_CLK_BCM_63XX_GATE=y
CONFIG_LMP91000=y
CONFIG_GPIO_SIOX=y
CONFIG_GENERIC_IRQ_EFFECTIVE_AFF_MASK=y
CONFIG_SCSI_MPT3SAS=y
CONFIG_CLK_RENESAS_CPG_MSSR=y
CONFIG_I2C_MUX_MLXCPLD=y
CONFIG_NLS_CODEPAGE_857=y
CONFIG_INGENIC_CGU_JZ4760=y
CONFIG_TEGRA_BPMP_THERMAL=y
CONFIG_CRC_OPTIMIZATIONS=y
CONFIG_PHY_MESON_G12A_USB3_PCIE=y
CONFIG_COMMON_CLK_MT8365_MMSYS=y
CONFIG_MFD_88PM800=y
CONFIG_OF_FLATTREE=y
CONFIG_SPEAR_THERMAL=y
CONFIG_OF_KOBJ=y
CONFIG_IIO_BUFFER_HW_CONSUMER=y
CONFIG_LEDS_LP8864=y
CONFIG_IOSCHED_BFQ=y
CONFIG_PINCTRL_AS370=y
CONFIG_QCOM_RPMH=y
CONFIG_PHY_AIROHA_PCIE=y
CONFIG_PM_GENERIC_DOMAINS_OF=y
CONFIG_PCIE_QCOM_COMMON=y
CONFIG_SERIAL_8250_IOC3=y
CONFIG_REGULATOR_MAX77857=y
CONFIG_POWER_SEQUENCING=y
CONFIG_DEVFREQ_GOV_POWERSAVE=y
CONFIG_MISC_RTSX_PCI=y
CONFIG_SENSORS_LTC2945=y
CONFIG_ARM_SCMI_POWERCAP=y
CONFIG_PHY_RALINK_USB=y
CONFIG_PWM_PCA9685=y
CONFIG_NEED_PER_CPU_EMBED_FIRST_CHUNK=y
CONFIG_HOTPLUG_PCI_OCTEONEP=y
CONFIG_GP2AP002=y
CONFIG_INV_ICM45600_I3C=y
CONFIG_RISCV_ISA_SVPBMT=y
CONFIG_CLK_OWL_S500=y
CONFIG_CLK_INTEL_SOCFPGA32=y
CONFIG_I2C_MT7621=y
CONFIG_FB_BIG_ENDIAN=y
CONFIG_OF=y
CONFIG_REGMAP_W1=y
CONFIG_BMI160=y
CONFIG_BUFFER_HEAD=y
CONFIG_IOMMU_PT=y
CONFIG_HAVE_DMA_CONTIGUOUS=y
CONFIG_MFD_TPS65912_I2C=y
CONFIG_GPIO_LOONGSON_64BIT=y
CONFIG_MMU_LAZY_TLB_REFCOUNT=y
CONFIG_TIMER_IMX_SYS_CTR=y
CONFIG_MTD_RAM=y
CONFIG_MP2629_ADC=y
CONFIG_PINCTRL_ASPEED_G4=y
CONFIG_MTD_UBI_GLUEBI=y
CONFIG_INFTL=y
CONFIG_ARCH_SIFIVE=y
CONFIG_SM_GCC_7150=y
CONFIG_JOYSTICK_ANALOG=y
CONFIG_IAQCORE=y
CONFIG_SCHED_MC=y
CONFIG_SYS_R9A09G047=y
CONFIG_LRU_GEN_WALKS_MMU=y
CONFIG_COMMON_CLK_MT8365_CAM=y
CONFIG_FB_DEFERRED_IO=y
CONFIG_SERIAL_ATMEL=y
CONFIG_COMMON_CLK_MT8183_MFGCFG=y
CONFIG_TRACER_MAX_TRACE=y
CONFIG_ARCH_HAS_STRICT_KERNEL_RWX=y
CONFIG_MTK_TIMER=y
CONFIG_RMI4_F11=y
CONFIG_GPIO_NPCM_SGPIO=y
CONFIG_KSM=y
CONFIG_MSM_MMCC_8960=y
CONFIG_I2C_CADENCE=y
CONFIG_CRYPTO_DEV_CCREE=y
CONFIG_SCSI_LEAPRAID=y
CONFIG_KXSD9_I2C=y
CONFIG_GENERIC_ARCH_NUMA=y
CONFIG_GPIO_DS4520=y
CONFIG_MEMFD_CREATE=y
CONFIG_MFD_ENE_KB3930=y
CONFIG_CRYPTO_STREEBOG=y
CONFIG_FXAS21002C_I2C=y
CONFIG_EXTCON_USB_GPIO=y
CONFIG_CRYPTO_DEFLATE=y
CONFIG_INTEL_TH_PCI=y
CONFIG_CM3323=y
CONFIG_HOTPLUG_PCI_CPCI=y
CONFIG_CLK_R8A7791=y
CONFIG_REGULATOR_MAX8649=y
CONFIG_RFD_FTL=y
CONFIG_SYNC_FILE=y
CONFIG_TICK_ONESHOT=y
CONFIG_NLS_MAC_INUIT=y
CONFIG_ASPEED_LPC_SNOOP=y
CONFIG_SERIAL_8250_RT288X=y
CONFIG_PHY_BERLIN_SATA=y
CONFIG_CLK_NORD_DISPCC=y
CONFIG_MFD_ROHM_PWRBUTTON=y
CONFIG_SCSI_SAS_ATTRS=y
CONFIG_SENSORS_HS3001=y
CONFIG_JOLIET=y
CONFIG_PINCTRL_LOONGSON2=y
CONFIG_CPU_FREQ_GOV_PERFORMANCE=y
CONFIG_BACKLIGHT_BD6107=y
CONFIG_PINCTRL_CYGNUS_MUX=y
CONFIG_PINCTRL_ASPEED=y
CONFIG_PHY_MTK_TPHY=y
CONFIG_CLK_RK312X=y
CONFIG_FUSION_SAS=y
CONFIG_CRYPTO_CAMELLIA=y
CONFIG_I2C_PXA=y
CONFIG_DAMON_STAT_ENABLED_DEFAULT=y
CONFIG_VIRTIO=y
CONFIG_FAT_FS=y
CONFIG_PWM_MXS=y
CONFIG_BCMA_HOST_PCI=y
CONFIG_PINCTRL_BM1880=y
CONFIG_HAVE_SAMPLE_FTRACE_DIRECT=y
CONFIG_SERIAL_ARC=y
CONFIG_BATTERY_PM8916_BMS_VM=y
CONFIG_I2C_QCOM_CCI=y
CONFIG_BMG160_I2C=y
CONFIG_CPUFREQ_DT_PLATDEV=y
CONFIG_CRYPTO_RSA=y
CONFIG_PINCTRL_TEGRA20=y
CONFIG_PINCTRL_RZV2M=y
CONFIG_HAVE_CLK=y
CONFIG_SUN6I_A31_CCU=y
CONFIG_GPIO_RDA=y
CONFIG_TRACE_IRQFLAGS_SUPPORT=y
CONFIG_TURRIS_MOX_RWTM_KEYCTL=y
CONFIG_IIO_BUFFER=y
CONFIG_LEDS_MAX77693=y
CONFIG_SENSORS_MAX31790=y
CONFIG_RMI4_F12=y
CONFIG_POWERCAP=y
CONFIG_ALTERA_MBOX=y
CONFIG_KERNEL_GZIP=y
CONFIG_W1_SLAVE_DS2431=y
CONFIG_MFD_ADP5585=y
CONFIG_NTB_PINGPONG=y
CONFIG_LTO_NONE=y
CONFIG_COMMON_CLK_MT6797_VDECSYS=y
CONFIG_HW_RANDOM_CCTRNG=y
CONFIG_CLK_LS1028A_PLLDIG=y
CONFIG_CLK_R9A09G011=y
CONFIG_LEDS_PM8058=y
CONFIG_PHY_MIXEL_LVDS_PHY=y
CONFIG_PHY_MTK_XFI_TPHY=y
CONFIG_XILINX_VCU=y
CONFIG_COMMON_CLK_MT8195_MFGCFG=y
CONFIG_ATMEL_ST=y
CONFIG_PHY_HI3670_PCIE=y
CONFIG_RT_MUTEXES=y
CONFIG_FUTEX=y
CONFIG_VEML6075=y
CONFIG_LEDS_LM36274=y
CONFIG_FB_3DFX_I2C=y
CONFIG_W1_SLAVE_DS2406=y
CONFIG_NLS_KOI8_R=y
CONFIG_CPU_PM=y
CONFIG_ARCH_RENESAS=y
CONFIG_BACKLIGHT_RT4831=y
CONFIG_CLKSRC_PISTACHIO=y
CONFIG_MFD_MXS_LRADC=y
CONFIG_SHUFFLE_PAGE_ALLOCATOR=y
CONFIG_ARCH_HAS_ELF_CORE_EFLAGS=y
CONFIG_SENSORS_MC13783_ADC=y
CONFIG_RISCV_SBI_V01=y
CONFIG_AD7606_IFACE_PARALLEL=y
CONFIG_MTK_MMSYS=y
CONFIG_SENSORS_MAX6620=y
CONFIG_EFI_PARAMS_FROM_FDT=y
CONFIG_I2C_IOP3XX=y
CONFIG_PHY_HISI_INNO_USB2=y
CONFIG_COMMON_CLK_MT8192_IPESYS=y
CONFIG_PSTORE_COMPRESS=y
CONFIG_QCOM_ICC_BWMON=y
CONFIG_SERIO_ALTERA_PS2=y
CONFIG_CPU_FREQ_GOV_POWERSAVE=y
CONFIG_CRYPTO_DEV_QCE_SHA=y
CONFIG_INTEL_TH_DEBUG=y
CONFIG_BATTERY_LEGO_EV3=y
CONFIG_ARCH_SOPHGO=y
CONFIG_SM_GPUCC_8150=y
CONFIG_BINFMT_FLAT=y
CONFIG_XOR_BLOCKS=y
CONFIG_I2C_MV64XXX=y
CONFIG_GPIO_CDEV=y
CONFIG_SIMPLE_RING_BUFFER=y
CONFIG_MMA7455_I2C=y
CONFIG_POWER_RESET_ATC260X=y
CONFIG_DDR=y
CONFIG_GENERIC_PINCTRL=y
CONFIG_FB_VIA_X_COMPATIBILITY=y
CONFIG_NOA1305=y
CONFIG_VALIDATE_FS_PARSER=y
CONFIG_GPIO_XGENE_SB=y
CONFIG_PINCTRL_SPRD_SC9860=y
CONFIG_FB_CYBER2000=y
CONFIG_RENESAS_I3C=y
CONFIG_SC_LPASSCC_8280XP=y
CONFIG_FS_ENCRYPTION_INLINE_CRYPT=y
CONFIG_IIO_ST_MAGN_3AXIS=y
CONFIG_BLK_INLINE_ENCRYPTION=y
CONFIG_RESET_K230=y
CONFIG_MIPI_I3C_HCI_PCI=y
CONFIG_SERIAL_XILINX_PS_UART=y
CONFIG_FB=y
CONFIG_SENSORS_HIH6130=y
CONFIG_COMEDI_ADDI_APCI_2200=y
CONFIG_LZ4_DECOMPRESS=y
CONFIG_CRYPTO_AKCIPHER2=y
CONFIG_MTD_CFI_I1=y
CONFIG_AD5686=y
CONFIG_TRACE_REMOTE=y
CONFIG_ARCH_HAS_CC_CAN_LINK=y
CONFIG_FB_IOMEM_FOPS=y
CONFIG_SDM_GCC_845=y
CONFIG_SENSORS_ASC7621=y
CONFIG_CRYPTO_HASH2=y
CONFIG_GPIO_STP_XWAY=y
CONFIG_MULTIPLEXER=y
CONFIG_ASPEED_BT_IPMI_BMC=y
CONFIG_COMMON_CLK_IPROC=y
CONFIG_VIRTIO_PCI=y
CONFIG_COMMON_CLK_HI3798CV200=y
CONFIG_COMPAT_BRK=y
CONFIG_COMMON_CLK_MT8183_MMSYS=y
CONFIG_PINCTRL_SAMSUNG=y
CONFIG_SM_CAMCC_8550=y
CONFIG_PARTITION_ADVANCED=y
CONFIG_CRYPTO_RMD160=y
CONFIG_GENERIC_STRNCPY_FROM_USER=y
CONFIG_NVSW_SN2201=y
CONFIG_GPIO_VIRTUSER=y
CONFIG_SYSC_R8A7790=y
CONFIG_PKCS7_MESSAGE_PARSER=y
CONFIG_APPLE_PMGR_PWRSTATE=y
CONFIG_SERIAL_LANTIQ=y
CONFIG_SENSORS_LINEAGE=y
CONFIG_SM_VIDEOCC_8150=y
CONFIG_REGULATOR_LOCHNAGAR=y
CONFIG_RESET_EIC7700_HSP=y
CONFIG_SX9310=y
CONFIG_AMD_AXI_I3C_MASTER=y
CONFIG_PCIE_BRCMSTB=y
CONFIG_JOYSTICK_MAGELLAN=y
CONFIG_GPIO_STMPE=y
CONFIG_HAVE_ARCH_SOFT_DIRTY=y
CONFIG_CRYPTO_CRC32C=y
CONFIG_OMAP_GPMC_DEBUG=y
CONFIG_HAVE_PERF_USER_STACK_DUMP=y
CONFIG_FONT_SUPPORT=y
CONFIG_I2C_DEBUG_BUS=y
CONFIG_COMMON_CLK_VC5=y
CONFIG_NVMEM_LAYOUTS=y
CONFIG_MTD_SM_COMMON=y
CONFIG_REGMAP_I2C=y
CONFIG_PINCTRL_S900=y
CONFIG_MTD_OOPS=y
CONFIG_PINCTRL_PFC_R8A774A1=y
CONFIG_BTRFS_ASSERT=y
CONFIG_GPIB_FLUKE=y
CONFIG_PHY_MTK_MIPI_DSI=y
CONFIG_COMEDI_ADDI_APCI_1500=y
CONFIG_RESET_BCM6345=y
CONFIG_ARCH_HAS_GCOV_PROFILE_ALL=y
CONFIG_IIO_ADC_HELPER=y
CONFIG_BMC150_MAGN_I2C=y
CONFIG_DEV_COREDUMP=y
CONFIG_CRASH_RESERVE=y
CONFIG_CPU_FREQ=y
CONFIG_PINCTRL_ELKHARTLAKE=y
CONFIG_REGULATOR_TPS6287X=y
CONFIG_CLK_R8A779H0=y
CONFIG_RESET_SPACEMIT_COMMON=y
CONFIG_PHY_QCOM_IPQ806X_USB=y
CONFIG_VIRTIO_ANCHOR=y
CONFIG_EFI_CAPSULE_LOADER=y
CONFIG_COMMON_CLK_MT7988=y
CONFIG_GPIO_SHARED_PROXY=y
CONFIG_NVMEM_IMX_IIM=y
CONFIG_CLK_RV1126=y
CONFIG_HSI_BOARDINFO=y
CONFIG_SCSI_UFS_TI_J721E=y
CONFIG_POWER_RESET_SPACEMIT_P1=y
CONFIG_PHY_PXA_28NM_USB2=y
CONFIG_SAR_GCC_2130P=y
CONFIG_RZG2L_THERMAL=y
CONFIG_CHARGER_TPS65090=y
CONFIG_SCSI_SPI_ATTRS=y
CONFIG_KALLSYMS=y
CONFIG_MFD_SM501=y
CONFIG_GCC_ASM_GOTO_OUTPUT_BROKEN=y
CONFIG_MCP3422=y
CONFIG_PINCTRL_STM32F429=y
CONFIG_FB_MB862XX_PCI_GDC=y
CONFIG_PRINTK_TIME=y
CONFIG_DUMMY_IRQ=y
CONFIG_I2C_BOARDINFO=y
CONFIG_IMX_SCMI_LMM_EXT=y
CONFIG_ALS31300=y
CONFIG_ARM_ARMADA_8K_CPUFREQ=y
CONFIG_MFD_MAX77541=y
CONFIG_RESET_MCHP_SPARX5=y
CONFIG_I2C_ISCH=y
CONFIG_VM_EVENT_COUNTERS=y
CONFIG_PINCTRL_TEGRA234=y
CONFIG_COMMON_CLK_SP7021=y
CONFIG_EXTCON_LC824206XA=y
CONFIG_PREEMPT_BUILD=y
CONFIG_PWM_PXA=y
CONFIG_ARM_SCMI_POWER_DOMAIN=y
CONFIG_PCI_MESON=y
CONFIG_REGULATOR_MAX77802=y
CONFIG_COMMON_CLK_MT8192_AUDSYS=y
CONFIG_SENSORS_W83791D=y
CONFIG_LEDS_DA9052=y
CONFIG_AOSONG_AGS02MA=y
CONFIG_CRYPTO_CAST5=y
CONFIG_RESET_TN48M_CPLD=y
CONFIG_SUN20I_D1_R_CCU=y
CONFIG_SENSORS_ADM1026=y
CONFIG_VERSAL_SYSMON_I2C=y
CONFIG_SAMPLE_DAMON_MTIER=y
CONFIG_GPIO_LATCH=y
CONFIG_ARM_SCMI_PROTOCOL=y
CONFIG_W1_SLAVE_DS2423=y
CONFIG_COMMON_CLK_RS9_PCIE=y
CONFIG_SPRD_IOMMU=y
CONFIG_MISC_RTSX=y
CONFIG_PM_GENERIC_DOMAINS_SLEEP=y
CONFIG_REGULATOR_QCOM_SPMI=y
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO=y
CONFIG_WATCH_QUEUE=y
CONFIG_SLAB_MERGE_DEFAULT=y
CONFIG_NEED_PER_CPU_PAGE_FIRST_CHUNK=y
CONFIG_PCIE_TEGRA194_HOST=y
CONFIG_SOPHGO_CV1800B_ADC=y
CONFIG_CRYPTO_SKCIPHER=y
CONFIG_SYS_R9A09G056=y
CONFIG_REGULATOR_BQ257XX=y
CONFIG_AD7746=y
CONFIG_ARMADA_THERMAL=y
CONFIG_CHARGER_MAX8903=y
CONFIG_NLS_ISO8859_4=y
CONFIG_COMMON_CLK_ZYNQMP=y
CONFIG_HOTPLUG_SPLIT_STARTUP=y
CONFIG_ARCH_HAS_KERNEL_FPU_SUPPORT=y
CONFIG_BOARD_TPCI200=y
CONFIG_CLK_R8A779G0=y
CONFIG_CRC4=y
CONFIG_MFD_DA9150=y
CONFIG_PCI_ATS=y
CONFIG_MFD_MAX77620=y
CONFIG_AF8133J=y
CONFIG_QCOM_HFPLL=y
CONFIG_MTD_RAW_NAND=y
CONFIG_SCSI_DMA=y
CONFIG_XZ_DEC_BCJ=y
CONFIG_DPS310=y
CONFIG_HVC_DRIVER=y
CONFIG_MMU_GATHER_TABLE_FREE=y
CONFIG_LINEAR_RANGES=y
CONFIG_MFD_TQMX86=y
CONFIG_LRU_GEN=y
CONFIG_REGULATOR_QCOM_RPMH=y
CONFIG_SLAB_FREELIST_HARDENED=y
CONFIG_PCIE_DW_DEBUGFS=y
CONFIG_ARCH_SUPPORTS_CRASH_DUMP=y
CONFIG_COMMON_CLK_MT8196_MDPSYS=y
CONFIG_CLK_STARFIVE_JH7100_AUDIO=y
CONFIG_UBIFS_FS=y
CONFIG_CHROMEOS_OF_HW_PROBER=y
CONFIG_RPMSG_QCOM_GLINK=y
CONFIG_MOST=y
CONFIG_LEDS_LP5523=y
CONFIG_PINCTRL_MT6878=y
CONFIG_EXFAT_FS=y
CONFIG_HAVE_ARCH_MMAP_RND_BITS=y
CONFIG_BMA220=y
CONFIG_SENSORS_AHT10=y
CONFIG_MTD_PARSER_TRX=y
CONFIG_HOTPLUG_CORE_SYNC_DEAD=y
CONFIG_ARCH_HAS_BINFMT_FLAT=y
CONFIG_MTK_IOMMU_V1=y
CONFIG_CLK_LGM_CGU=y
CONFIG_CLK_QORIQ=y
CONFIG_MLX90632=y
CONFIG_PINCTRL_RENESAS=y
CONFIG_SERIAL_MXS_AUART=y
CONFIG_PCIE_DW_HOST=y
CONFIG_PHY_CADENCE_SIERRA=y
CONFIG_PINCTRL_INTEL=y
CONFIG_MFD_ATMEL_SMC=y
CONFIG_PINCTRL_MESON8_PMX=y
CONFIG_JOYSTICK_SPACEORB=y
CONFIG_PWM_RENESAS_TPU=y
CONFIG_MFD_SI476X_CORE=y
CONFIG_REGULATOR_RT4831=y
CONFIG_QCM_GCC_2290=y
CONFIG_STACKTRACE=y
CONFIG_PINCTRL_IMX93=y
CONFIG_QCOM_WCNSS_CTRL=y
CONFIG_CRYPTO_DEV_QCE_SKCIPHER=y
CONFIG_LEDS_LM3601X=y
CONFIG_FB_SYS_COPYAREA=y
CONFIG_PINCTRL=y
CONFIG_AS_HAS_NON_CONST_ULEB128=y
CONFIG_CC_HAS_ZERO_CALL_USED_REGS=y
CONFIG_EXTCON_RT8973A=y
CONFIG_SDM_GPUCC_845=y
CONFIG_ARM_RASPBERRYPI_CPUFREQ=y
CONFIG_GOLDFISH_PIPE=y
CONFIG_REGMAP_I3C=y
CONFIG_APDS9802ALS=y
CONFIG_MTK_SCP=y
CONFIG_SENSORS_EMC1812=y
CONFIG_FB_KYRO=y
CONFIG_SCHEDSTATS=y
CONFIG_FXOS8700=y
CONFIG_CRYPTO_DEV_NITROX=y
CONFIG_CLKSRC_VERSATILE=y
CONFIG_SPACEMIT_K3_CCU=y
CONFIG_SERIAL_UARTLITE=y
CONFIG_BRCMSTB_MEMC=y
CONFIG_QCOM_SMD_RPM=y
CONFIG_HI6421V600_IRQ=y
CONFIG_CRYPTO_CTS=y
CONFIG_MELLANOX_PLATFORM=y
CONFIG_THERMAL_CORE_TESTING=y
CONFIG_TRACE_IRQFLAGS=y
CONFIG_EFI_TEST=y
CONFIG_PWM_SPRD=y
CONFIG_PHY_AX3000_EMMC=y
CONFIG_HOTPLUG_CORE_SYNC_FULL=y
CONFIG_SUN8I_A83T_CCU=y
CONFIG_REGULATOR=y
CONFIG_COMMON_CLK_MEDIATEK_FHCTL=y
CONFIG_PHANTOM=y
CONFIG_KEXEC_CORE=y
CONFIG_GPIO_RTD1625=y
CONFIG_NVMEM_SYSFS=y
CONFIG_ADXL372=y
CONFIG_SYSC_R8A7743=y
CONFIG_NLS_MAC_CYRILLIC=y
CONFIG_SERIAL_VT8500=y
CONFIG_COMEDI_AMPLC_DIO200=y
CONFIG_CLK_X1E80100_GPUCC=y
CONFIG_CRYPTO_DEV_MARVELL=y
CONFIG_PHY_BCM63XX_USBH=y
CONFIG_CEC_MESON_G12A_AO=y
CONFIG_QCOM_EBI2=y
CONFIG_ARCH_HAS_FORTIFY_SOURCE=y
CONFIG_PHY_MESON_G12A_MIPI_DPHY_ANALOG=y
CONFIG_TIMER_OF=y
CONFIG_ARCH_SUPPORTS_PUD_PFNMAP=y
CONFIG_COMMON_CLK_MT8183_IPU_ADL=y
CONFIG_DMA_CMA=y
CONFIG_SENSORS_LTC4245=y
CONFIG_RWSEM_SPIN_ON_OWNER=y
CONFIG_MULTIUSER=y
CONFIG_REGULATOR_TPS65217=y
CONFIG_UBIFS_FS_XATTR=y
CONFIG_PINCTRL_IMX_SCU=y
CONFIG_HAVE_KERNEL_ZSTD=y
CONFIG_PHY_SUNPLUS_USB=y
CONFIG_IMX_IPUV3_CORE=y
CONFIG_REGULATOR_MAX8952=y
CONFIG_HAS_DMA=y
CONFIG_PHY_SPACEMIT_K1_PCIE=y
CONFIG_MEDIA_CEC_SUPPORT=y
CONFIG_MHZ19B=y
CONFIG_GPIO_RC5T583=y
CONFIG_EXYNOS_CHIPID=y
CONFIG_CEC_STI=y
CONFIG_CHARGER_SBS=y
