CONFIG_CRYPTO_MANAGER=n
CONFIG_IP_PIMSM_V2=n
CONFIG_PCI_GOANY=n
CONFIG_NF_REJECT_IPV4=n
CONFIG_XFRM_USER=n
CONFIG_HAVE_NMI=n
CONFIG_PROBE_EVENTS=n
CONFIG_HID_SONY=n
CONFIG_ARCH_WANT_GENERAL_HUGETLB=n
CONFIG_ALLOW_DEV_COREDUMP=n
CONFIG_VIRTIO_INPUT=n
CONFIG_IPV6_NDISC_NODETYPE=n
CONFIG_GENERIC_BITREVERSE=n
CONFIG_ARCH_HIBERNATION_POSSIBLE=n
CONFIG_HAVE_ACPI_APEI=n
CONFIG_ARCH_HAS_DEBUG_VM_PGTABLE=n
CONFIG_DEBUG_FS_ALLOW_ALL=n
CONFIG_VIRTIO_MENU=n
CONFIG_EPROBE_EVENTS=n
CONFIG_BLK_DEV_DM_BUILTIN=n
CONFIG_NETFILTER_XT_MARK=n
CONFIG_PREEMPTION=n
CONFIG_SATA_HOST=n
CONFIG_HWMON=n
CONFIG_X509_CERTIFICATE_PARSER=n
CONFIG_PROC_SYSCTL=n
CONFIG_AIO=n
CONFIG_GENERIC_CPU_VULNERABILITIES=n
CONFIG_XZ_DEC_RISCV=n
CONFIG_VIRTIO_ANCHOR=n
CONFIG_SERIAL_8250_SHARE_IRQ=n
CONFIG_BLK_PM=n
CONFIG_XZ_DEC_BCJ=n
CONFIG_X86_IO_APIC=n
CONFIG_BLK_CGROUP=n
CONFIG_DEBUG_INFO_NONE=n
CONFIG_SERIAL_8250_LPSS=n
CONFIG_DECOMPRESS_XZ=n
CONFIG_WLAN_VENDOR_ST=n
CONFIG_SCHED_SMT=n
CONFIG_NET_VENDOR_XILINX=n
CONFIG_FUTEX_ROBUST_UNLOCK=n
CONFIG_IA32_FEAT_CTL=n
CONFIG_STRICT_MODULE_RWX=n
CONFIG_XFRM_ESP=n
CONFIG_AMD_NB=n
CONFIG_NET_VENDOR_ATHEROS=n
CONFIG_GRO_CELLS=n
CONFIG_ACPI_PROCESSOR=n
CONFIG_CRYPTO_LIB_GF128HASH=n
CONFIG_POSIX_MQUEUE_SYSCTL=n
CONFIG_ARCH_HIBERNATION_HEADER=n
CONFIG_BUILDTIME_TABLE_SORT=n
CONFIG_CHR_DEV_SG=n
CONFIG_BLOCK_HOLDER_DEPRECATED=n
CONFIG_ARCH_HAS_FAST_MULTIPLIER=n
CONFIG_HAVE_ACPI_APEI_NMI=n
CONFIG_DRM_I915_COMPRESS_ERROR=n
CONFIG_LEGACY_DIRECT_IO=n
CONFIG_ELFCORE=n
CONFIG_HAVE_SETUP_PER_CPU_AREA=n
CONFIG_PHY_PACKAGE=n
CONFIG_ARCH_SUPPORTS_KEXEC_PURGATORY=n
CONFIG_HAVE_UNSTABLE_SCHED_CLOCK=n
CONFIG_RD_XZ=n
CONFIG_USB_SUPPORT=n
CONFIG_WLAN_VENDOR_ATMEL=n
CONFIG_ARCH_WANTS_NO_INSTR=n
CONFIG_RTC_INTF_SYSFS=n
CONFIG_USB_PCI_AMD=n
CONFIG_GENERIC_IRQ_RESERVATION_MODE=n
CONFIG_PCIEASPM_DEFAULT=n
CONFIG_CRYPTO_AKCIPHER=n
CONFIG_EARLY_PRINTK_USB=n
CONFIG_IP_ADVANCED_ROUTER=n
CONFIG_HAVE_ARCH_KSTACK_ERASE=n
CONFIG_HAVE_GUP_FAST=n
CONFIG_APERTURE_HELPERS=n
CONFIG_PM_SLEEP=n
CONFIG_PNPACPI=n
CONFIG_NET_INGRESS=n
CONFIG_DEVTMPFS_MOUNT=n
CONFIG_PROC_KCORE=n
CONFIG_X86_REROUTE_FOR_BROKEN_BOOT_IRQS=n
CONFIG_EPOLL=n
CONFIG_DRM_BRIDGE=n
CONFIG_MAC80211=n
CONFIG_MOUSE_PS2_BYD=n
CONFIG_RELOCATABLE=n
CONFIG_FIRMWARE_MEMMAP=n
CONFIG_NLATTR=n
CONFIG_SND_PCM_TIMER=n
CONFIG_NET_VENDOR_CADENCE=n
CONFIG_SYSVIPC=n
CONFIG_DEVMEM=n
CONFIG_SYSVIPC_SYSCTL=n
CONFIG_MITIGATION_RFDS=n
CONFIG_UPROBES=n
CONFIG_USB_OHCI_HCD_PCI=n
CONFIG_TREE_SRCU=n
CONFIG_NET=n
CONFIG_M686=n
CONFIG_EVENT_TRACING=n
CONFIG_HAVE_STACKPROTECTOR=n
CONFIG_CRYPTO_LIB_SHA1=n
CONFIG_ATA_VERBOSE_ERROR=n
CONFIG_HAS_SECURITY_AUDIT=n
CONFIG_CPU_FREQ_GOV_ONDEMAND=n
CONFIG_ARCH_FLATMEM_ENABLE=n
CONFIG_HAVE_POSIX_CPU_TIMERS_TASK_WORK=n
CONFIG_IP_MROUTE=n
CONFIG_MAC80211_RC_DEFAULT_MINSTREL=n
CONFIG_SG_POOL=n
CONFIG_BQL=n
CONFIG_HAS_IOMEM=n
CONFIG_CRC_CCITT=n
CONFIG_NEED_PER_CPU_EMBED_FIRST_CHUNK=n
CONFIG_SND_INTEL_SOUNDWIRE_ACPI=n
CONFIG_NET_FAILOVER=n
CONFIG_NET_VENDOR_HUAWEI=n
CONFIG_X86_ESPFIX32=n
CONFIG_GENERIC_IRQ_PROBE=n
CONFIG_RATIONAL=n
CONFIG_QUOTACTL=n
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST=n
CONFIG_I2C_ALGOBIT=n
CONFIG_VM_EVENT_COUNTERS=n
CONFIG_RTC_I2C_AND_SPI=n
CONFIG_WLAN_VENDOR_ZYDAS=n
CONFIG_CLOCKSOURCE_WATCHDOG=n
CONFIG_NET_9P=n
CONFIG_KEYS=n
CONFIG_INPUT_TOUCHSCREEN=n
CONFIG_DRM_CLIENT_SELECTION=n
CONFIG_CPU_FREQ_DEFAULT_GOV_USERSPACE=n
CONFIG_HAVE_BUILDTIME_MCOUNT_SORT=n
CONFIG_ACPI_PROCESSOR_CSTATE=n
CONFIG_LOCALVERSION_AUTO=n
CONFIG_NET_VENDOR_MICROCHIP=n
CONFIG_KVM_GUEST=n
CONFIG_GENERIC_SMP_IDLE_THREAD=n
CONFIG_X86_16BIT=n
CONFIG_THERMAL=n
CONFIG_ARCH_HAS_PREEMPT_LAZY=n
CONFIG_FLATMEM_MANUAL=n
CONFIG_SCHED_INFO=n
CONFIG_ZONE_DMA=n
CONFIG_NET_VENDOR_AQUANTIA=n
CONFIG_IP_MROUTE_COMMON=n
CONFIG_RSEQ=n
CONFIG_X86_PAT=n
CONFIG_NET_VENDOR_CHELSIO=n
CONFIG_SLUB=n
CONFIG_MOUSE_PS2_LOGIPS2PP=n
CONFIG_DRM_DISPLAY_HDMI_HELPER=n
CONFIG_HW_RANDOM_AMD=n
CONFIG_YENTA=n
CONFIG_TCP_CONG_ADVANCED=n
CONFIG_INTEGRITY=n
CONFIG_UNINLINE_SPIN_UNLOCK=n
CONFIG_WERROR=n
CONFIG_XZ_DEC_X86=n
CONFIG_NET_SCHED=n
CONFIG_MITIGATION_RETPOLINE=n
CONFIG_RANDOMIZE_BASE=n
CONFIG_X86_DISABLED_FEATURE_CALL_DEPTH=n
CONFIG_CPU_FREQ=n
CONFIG_NET_DEVMEM=n
CONFIG_X86_DISABLED_FEATURE_USER_SHSTK=n
CONFIG_INPUT_MOUSE=n
CONFIG_DST_CACHE=n
CONFIG_BITREVERSE=n
CONFIG_ACPI_MDIO=n
CONFIG_AUXILIARY_BUS=n
CONFIG_SERIO_I8042=n
CONFIG_NO_HZ_COMMON=n
CONFIG_VIRTIO_BLK=n
CONFIG_X86_AMD_PSTATE=n
CONFIG_UNIX98_PTYS=n
CONFIG_SERIAL_8250_EXAR=n
CONFIG_SMP=n
CONFIG_HAVE_GENERIC_TIF_BITS=n
CONFIG_DECOMPRESS_GZIP=n
CONFIG_CPUFREQ_ARCH_CUR_FREQ=n
CONFIG_X86_REQUIRED_FEATURE_CMOV=n
CONFIG_NETLABEL=n
CONFIG_AMD_NODE=n
CONFIG_BLK_CGROUP_IOCOST=n
CONFIG_CRYPTO_SHA512=n
CONFIG_ISO9660_FS=n
CONFIG_VT_CONSOLE=n
CONFIG_SND_INTEL_NHLT=n
CONFIG_MOUSE_PS2_SMBUS=n
CONFIG_ARCH_MIGHT_HAVE_ACPI_PDC=n
CONFIG_ARCH_SUPPORTS_KEXEC_SIG_FORCE=n
CONFIG_IP_PIMSM_V1=n
CONFIG_X86_DISABLED_FEATURE_UNRET=n
CONFIG_HW_RANDOM_VIA=n
CONFIG_CRYPTO_HASH_INFO=n
CONFIG_PM_SLEEP_DEBUG=n
CONFIG_HAVE_ARCH_PREL32_RELOCATIONS=n
CONFIG_NF_REJECT_IPV6=n
CONFIG_SPARSE_IRQ=n
CONFIG_X86_UMIP=n
CONFIG_XXHASH=n
CONFIG_XZ_DEC=n
CONFIG_CRYPTO_HASH=n
CONFIG_NF_DEFRAG_IPV6=n
CONFIG_NET_VENDOR_CORTINA=n
CONFIG_NF_DEFRAG_IPV4=n
CONFIG_ACPI_THERMAL_LIB=n
CONFIG_P2SB=n
CONFIG_CRYPTO_LIB_AES_ARCH=n
CONFIG_PRINTK_TIME=n
CONFIG_HAVE_FUTEX_ROBUST_UNLOCK=n
CONFIG_PROC_PID_ARCH_STATUS=n
CONFIG_CRYPTO_CTS=n
CONFIG_DEBUG_MISC=n
CONFIG_BLK_DEV_SR=n
CONFIG_RCU_TRACE=n
CONFIG_MODULES=n
CONFIG_I2C_BOARDINFO=n
CONFIG_WLAN_VENDOR_TI=n
CONFIG_USB=n
CONFIG_ARCH_SUSPEND_POSSIBLE=n
CONFIG_KPROBES=n
CONFIG_DRM_PANEL_ORIENTATION_QUIRKS=n
CONFIG_VT=n
CONFIG_HAVE_KRETPROBES=n
CONFIG_WLAN_VENDOR_PURELIFI=n
CONFIG_VHOST_ENABLE_FORK_OWNER_CONTROL=n
CONFIG_I3C_OR_I2C=n
CONFIG_MEMBARRIER=n
CONFIG_HAVE_PCI=n
CONFIG_X86_DISABLED_FEATURE_SGX=n
CONFIG_CLKBLD_I8253=n
CONFIG_SECRETMEM=n
CONFIG_NETDEVICES=n
CONFIG_ACPI_BGRT=n
CONFIG_ARCH_DEFAULT_CRASH_DUMP=n
CONFIG_NFS_COMMON=n
CONFIG_HAVE_ASM_MODVERSIONS=n
CONFIG_PAGE_POOL=n
CONFIG_GROUP_SCHED_WEIGHT=n
CONFIG_NLS_UTF8=n
CONFIG_SCSI_PROC_FS=n
CONFIG_CGROUPS=n
CONFIG_X86_DISABLED_FEATURE_PTI=n
CONFIG_RTC_INTF_DEV=n
CONFIG_PCIE_PME=n
CONFIG_SATA_PMP=n
CONFIG_DECOMPRESS_LZMA=n
CONFIG_NET_FLOW_LIMIT=n
CONFIG_NF_NAT=n
CONFIG_ARCH_VMLINUX_NEEDS_RELOCS=n
CONFIG_POSIX_MQUEUE=n
CONFIG_CRYPTO_SIG2=n
CONFIG_ADVISE_SYSCALLS=n
CONFIG_SND_JACK_INPUT_DEV=n
CONFIG_MITIGATION_SRBDS=n
CONFIG_ARCH_WANT_IPC_PARSE_VERSION=n
CONFIG_ROOT_NFS=n
CONFIG_BLK_DEV_BSG=n
CONFIG_TMPFS=n
CONFIG_FHANDLE=n
CONFIG_HAVE_USER_RETURN_NOTIFIER=n
CONFIG_CRYPTO_LIB_SHA256=n
CONFIG_HAVE_ARCH_THREAD_STRUCT_WHITELIST=n
CONFIG_DRM_I915_USERPTR=n
CONFIG_RD_ZSTD=n
CONFIG_DMA_VIRTUAL_CHANNELS=n
CONFIG_SND_HDA_INTEL=n
CONFIG_X86_MPPARSE=n
CONFIG_AS_IS_GNU=n
CONFIG_X86_PM_TIMER=n
CONFIG_EFI_PARTITION=n
CONFIG_CGROUP_NET_CLASSID=n
CONFIG_CFG80211_CRDA_SUPPORT=n
CONFIG_INPUT_SPARSEKMAP=n
CONFIG_ZSTD_COMMON=n
CONFIG_NET_VENDOR_CAVIUM=n
CONFIG_KRETPROBE_ON_RETHOOK=n
CONFIG_ARCH_USE_QUEUED_SPINLOCKS=n
CONFIG_KCMP=n
CONFIG_GPIOLIB_LEGACY=n
CONFIG_INPUT_EVDEV=n
CONFIG_CRYPTO_LIB_ARC4=n
CONFIG_X86_ACPI_CPUFREQ_CPB=n
CONFIG_DYNAMIC_EVENTS=n
CONFIG_DECOMPRESS_LZ4=n
CONFIG_USB_XHCI_PCI=n
CONFIG_NF_NAT_FTP=n
CONFIG_E100=n
CONFIG_FRAME_POINTER=n
CONFIG_HOTPLUG_CORE_SYNC_FULL=n
CONFIG_NET_VENDOR_TI=n
CONFIG_NO_HZ_IDLE=n
CONFIG_ATA_ACPI=n
CONFIG_CPU_RMAP=n
CONFIG_STACKTRACE_SUPPORT=n
