CONFIG_DT_IDLE_GENPD=n
CONFIG_COMMON_CLK_RP1=n
CONFIG_ARM64_HW_AFDBM=n
CONFIG_SENSORS_CROS_EC=n
CONFIG_MOUSE_ELAN_I2C_I2C=n
CONFIG_PTP_1588_CLOCK_KVM=n
CONFIG_USB_MASS_STORAGE=n
CONFIG_DRM_NWL_MIPI_DSI=n
CONFIG_INPUT_PWM_VIBRA=n
CONFIG_REGULATOR_MT6359=n
CONFIG_NET_XGRESS=n
CONFIG_COMMON_CLK_MT8167_IMGSYS=n
CONFIG_ARCH_R9A07G043=n
CONFIG_ARM_PSCI_CPUIDLE=n
CONFIG_SYSFS=n
CONFIG_DEVTMPFS_MOUNT=n
CONFIG_PWM_VISCONTI=n
CONFIG_NEED_PER_CPU_EMBED_FIRST_CHUNK=n
CONFIG_MDIO_BCM_IPROC=n
CONFIG_DRM_SII902X=n
CONFIG_RUSTC_SUPPORTS_ARM64=n
CONFIG_PCI_HOST_THUNDER_ECAM=n
CONFIG_BLK_PM=n
CONFIG_SND_AUDIO_GRAPH_CARD=n
CONFIG_SERIO_LIBPS2=n
CONFIG_RT_MUTEXES=n
CONFIG_PINCTRL_MTK_MOORE=n
CONFIG_ACPI_HMAT=n
CONFIG_PHY_QCOM_EDP=n
CONFIG_IIO=n
CONFIG_CRYPTO_DEV_QCE_AEAD=n
CONFIG_COMMON_CLK_MT8173=n
CONFIG_FIXED_PHY=n
CONFIG_CLK_GFM_LPASS_SM8250=n
CONFIG_USB_RTL8152=n
CONFIG_ZLIB_DEFLATE=n
CONFIG_QCA808X_PHY=n
CONFIG_POWER_SEQUENCING_PCIE_M2=n
CONFIG_THP_SWAP=n
CONFIG_BT_BCM=n
CONFIG_SSB_POSSIBLE=n
CONFIG_DRM_EXYNOS_DSI=n
CONFIG_BLK_DEV_DM_BUILTIN=n
CONFIG_PCIE_MOBIVEIL_HOST=n
CONFIG_SND_SOC_TI_UDMA_PCM=n
CONFIG_HAVE_FUNCTION_ERROR_INJECTION=n
CONFIG_USB_ISP1760=n
CONFIG_MEMORY=n
CONFIG_ARM_GIC_V2M=n
CONFIG_KALLSYMS=n
CONFIG_REBOOT_MODE=n
CONFIG_QCOM_GDSC=n
CONFIG_CRYPTO_AES=n
CONFIG_SND_SOC_ADAU7002=n
CONFIG_CRYPTO_SM4=n
CONFIG_PCIE_RCAR_HOST=n
CONFIG_RESET_POLARFIRE_SOC=n
CONFIG_ARCH_R8A77951=n
CONFIG_PINCTRL_MT8192=n
CONFIG_PHY_FSL_SAMSUNG_HDMI_PHY=n
CONFIG_USB_NET_AX88179_178A=n
CONFIG_HID_GENERIC=n
CONFIG_ARCH_HAS_SYNC_DMA_FOR_DEVICE=n
CONFIG_ARCH_R8A774A1=n
CONFIG_HOTPLUG_CORE_SYNC=n
CONFIG_INTERCONNECT_QCOM_QCM2290=n
CONFIG_OID_REGISTRY=n
CONFIG_COMMON_CLK_MT8195_MFGCFG=n
CONFIG_IPC_NS=n
CONFIG_INTEL_STRATIX10_SERVICE=n
CONFIG_MTD_NAND_BRCMNAND_IPROC=n
CONFIG_POWER_RESET_MACSMC=n
CONFIG_ARCH_SUPPORTS_KEXEC=n
CONFIG_SERIAL_AMBA_PL011=n
CONFIG_OVERLAY_FS=n
CONFIG_CGROUP_HUGETLB=n
CONFIG_RD_LZO=n
CONFIG_RESET_SUNXI=n
CONFIG_EFI_EARLYCON=n
CONFIG_ACPI_NUMA=n
CONFIG_PHY_MTK_UFS=n
CONFIG_MVEBU_PIC=n
CONFIG_PINCTRL_PFC_R8A779F0=n
CONFIG_SND_HDA_CODEC_HDMI=n
CONFIG_64BIT=n
CONFIG_SND_JACK_INPUT_DEV=n
CONFIG_MTD_COMPLEX_MAPPINGS=n
CONFIG_ARCH_HAVE_NMI_SAFE_CMPXCHG=n
CONFIG_TI_ADS1015=n
CONFIG_SND_MESON_AXG_FRDDR=n
CONFIG_DRM_ANALOGIX_DP=n
CONFIG_RENESAS_GEN4_PTP=n
CONFIG_ARCH_HAS_USER_SHADOW_STACK=n
CONFIG_MLX5_EN_RXNFC=n
CONFIG_NET_VENDOR_HISILICON=n
CONFIG_RD_BZIP2=n
CONFIG_MFD_MAX77759=n
CONFIG_SERIAL_8250_EXAR=n
CONFIG_DP83822_PHY=n
CONFIG_ARM64_ERRATUM_2054223=n
CONFIG_STACKPROTECTOR=n
CONFIG_MTD_CFI_AMDSTD=n
CONFIG_AMPERE_ERRATUM_AC03_CPU_38=n
CONFIG_TYPEC_MUX_IT5205=n
CONFIG_CROS_EC=n
CONFIG_VIDEOBUF2_VMALLOC=n
CONFIG_MEDIA_TUNER_XC5000=n
CONFIG_EFI_RUNTIME_WRAPPERS=n
CONFIG_QCOM_QSEECOM=n
CONFIG_AUXILIARY_BUS=n
CONFIG_PINCTRL_SM8250_LPASS_LPI=n
CONFIG_SPRD_SC9863A_CLK=n
CONFIG_SUNXI_RSB=n
CONFIG_INPUT_LEDS=n
CONFIG_LOCK_MM_AND_FIND_VMA=n
CONFIG_USB_F_EEM=n
CONFIG_CLK_X1P42100_VIDEOCC=n
CONFIG_CAN_RX_OFFLOAD=n
CONFIG_CC_NO_STRINGOP_OVERFLOW=n
CONFIG_VITESSE_PHY=n
CONFIG_CGROUPS=n
CONFIG_REGULATOR_MT6357=n
CONFIG_ARCH_DMA_ADDR_T_64BIT=n
CONFIG_ATH10K_SDIO=n
CONFIG_PINCTRL_PFC_R8A77951=n
CONFIG_DRM_RCAR_CMM=n
CONFIG_DRM_PANEL_SAMSUNG_ATNA33XC20=n
CONFIG_HAVE_EFFICIENT_UNALIGNED_ACCESS=n
CONFIG_USB_CDNS3_HOST=n
CONFIG_GPIO_SL28CPLD=n
CONFIG_MTD_CFI_STAA=n
CONFIG_RFKILL_INPUT=n
CONFIG_ARM64_ERRATUM_2658417=n
CONFIG_HTE_TEGRA194_TEST=n
CONFIG_I2C_MV64XXX=n
CONFIG_INPUT_KEYBOARD=n
CONFIG_MARVELL_88Q2XXX_PHY=n
CONFIG_I2C_QUP=n
CONFIG_HAVE_MOVE_PUD=n
CONFIG_IMX8MM_THERMAL=n
CONFIG_ACPI_PROCESSOR_IDLE=n
CONFIG_COMMON_CLK_MT8186_VDECSYS=n
CONFIG_PWM_RENESAS_RCAR=n
CONFIG_FB_PROVIDE_GET_FB_UNMAPPED_AREA=n
CONFIG_KEYBOARD_GPIO_POLLED=n
CONFIG_USB=n
CONFIG_CFG80211_DEFAULT_PS=n
CONFIG_PCIE_ALTERA=n
CONFIG_MTK_CMDQ_MBOX=n
CONFIG_COMMON_CLK_MT8188_WPESYS=n
CONFIG_VIDEOBUF2_DMA_CONTIG=n
CONFIG_CLK_R8A779G0=n
CONFIG_HAVE_KPROBES=n
CONFIG_CLK_R8A779F0=n
CONFIG_SND_SOC_QDSP6_CORE=n
CONFIG_COMMON_CLK_C3_PLL=n
CONFIG_STM32_WATCHDOG=n
CONFIG_USB_EHCI_PCI=n
CONFIG_MICROCHIP_PHY=n
CONFIG_DWMAC_RENESAS_GBETH=n
CONFIG_SND_SOC_RT5514_SPI=n
CONFIG_SPI_RSPI=n
CONFIG_GENERIC_SMP_IDLE_THREAD=n
CONFIG_APPLE_RTKIT=n
CONFIG_CRYPTO_LIB_CHACHA=n
CONFIG_ARM_GIC_V5=n
CONFIG_WQ_POWER_EFFICIENT_DEFAULT=n
CONFIG_MVEBU_ODMI=n
CONFIG_CAN_M_CAN=n
CONFIG_USB_DWC3_QCOM=n
CONFIG_USB_F_RNDIS=n
CONFIG_HAVE_KVM_IRQ_BYPASS=n
CONFIG_ARM_TIMER_SP804=n
CONFIG_USB_CDNS3=n
CONFIG_ROCKCHIP_PHY=n
CONFIG_MESON_GX_SOCINFO=n
CONFIG_SND_AUDIO_GRAPH_CARD2=n
CONFIG_TCP_CONG_CUBIC=n
CONFIG_DRM_RZG2L_MIPI_DSI=n
CONFIG_SENSORS_AMC6821=n
CONFIG_DRM_RCAR_LVDS=n
CONFIG_SERIAL_QCOM_GENI_CONSOLE=n
CONFIG_TMPFS_XATTR=n
CONFIG_SND_SOC_LPASS_TX_MACRO=n
CONFIG_CLK_X1E80100_DISPCC=n
CONFIG_SND_SOC_QCOM_COMMON=n
CONFIG_HAVE_EXTRA_IPI_TRACEPOINTS=n
CONFIG_PINCTRL_MT6765=n
CONFIG_CRYPTO_DEV_HISI_QM=n
CONFIG_PINCTRL_AMLOGIC_C3=n
CONFIG_MLX5_SW_STEERING=n
CONFIG_SERIAL_EARLYCON=n
CONFIG_HAVE_RSEQ=n
CONFIG_SND_SOC_APQ8016_SBC=n
CONFIG_PWM_BRCMSTB=n
CONFIG_CPU_LITTLE_ENDIAN=n
CONFIG_QRTR_MHI=n
CONFIG_SND_MESON_G12A_TOACODEC=n
CONFIG_VIDEO_RCAR_DRIF=n
CONFIG_SDX_GCC_75=n
CONFIG_USB_CONFIGFS_ACM=n
CONFIG_GPIO_GENERIC=n
CONFIG_PINCTRL_VISCONTI=n
CONFIG_NF_DEFRAG_IPV6=n
CONFIG_HAVE_GCC_PLUGINS=n
CONFIG_UCSI_PMIC_GLINK=n
CONFIG_ARCH_SUPPORTS_MEMORY_FAILURE=n
CONFIG_STM32MP_EXTI=n
CONFIG_ARCH_R9A08G046=n
CONFIG_CRYPTO_RNG=n
CONFIG_CRYPTO_MD5=n
CONFIG_RZT2H_ADC=n
CONFIG_NFC_NXP_NCI_I2C=n
CONFIG_HW_RANDOM_MESON=n
CONFIG_CC_HAS_ASM_INLINE=n
CONFIG_DRM_PANEL_LVDS=n
CONFIG_VIDEO_RCAR_ISP=n
CONFIG_STM=n
CONFIG_USB_CHIPIDEA=n
CONFIG_RESET_MESON_AUDIO_ARB=n
CONFIG_TI_SCI_INTA_IRQCHIP=n
CONFIG_REGULATOR_S2MPS11=n
CONFIG_PHY_QCOM_USB_HS=n
CONFIG_ARCH_HAS_GCOV_PROFILE_ALL=n
CONFIG_USB_NET_MCS7830=n
CONFIG_INTEGRITY_AUDIT=n
CONFIG_NFS_V4_2_READ_PLUS=n
CONFIG_CFG80211_USE_KERNEL_REGDB_KEYS=n
CONFIG_ARM64_ERRATUM_2067961=n
CONFIG_DEBUG_MEMORY_INIT=n
CONFIG_MDIO_REGMAP=n
CONFIG_MTK_SCPSYS=n
CONFIG_TEE_BNXT_FW=n
CONFIG_OF_FPGA_REGION=n
CONFIG_MLX5_ESWITCH=n
CONFIG_HWMON=n
CONFIG_ARCH_DEFAULT_CRASH_DUMP=n
CONFIG_CRYPTO_DEV_ALLWINNER=n
CONFIG_CRYPTO_AES_ARM64_CE_CCM=n
CONFIG_PCI_XGENE_MSI=n
CONFIG_DRM_MSM_KMS=n
CONFIG_SCSI_LOWLEVEL=n
CONFIG_SND_SOC_QDSP6_USB=n
CONFIG_AUDIT=n
CONFIG_NET_VENDOR_FREESCALE=n
CONFIG_HAVE_PERF_EVENTS=n
CONFIG_PCI=n
CONFIG_APPLE_AIC=n
CONFIG_RESET_NPCM=n
CONFIG_USB_PHY=n
CONFIG_TEGRA186_TIMER=n
CONFIG_MTD_SPI_NAND=n
CONFIG_USB_MXS_PHY=n
CONFIG_MFD_KHADAS_MCU=n
CONFIG_FSL_ENETC_CORE=n
CONFIG_ARCH_SUSPEND_POSSIBLE=n
CONFIG_I2C_RIIC=n
CONFIG_COMMON_CLK_MT8186_MMSYS=n
CONFIG_SND_SOC_ES7241=n
CONFIG_AF_UNIX_OOB=n
CONFIG_UNIX=n
CONFIG_RESET_IMX7=n
CONFIG_ARCH_SUPPORTS_SCHED_CLUSTER=n
CONFIG_NO_HZ_COMMON=n
CONFIG_BT_HCIUART_QCA=n
CONFIG_HAVE_ARCH_BITREVERSE=n
CONFIG_ARM64_ERRATUM_1165522=n
CONFIG_PINCTRL_TPS6594=n
CONFIG_KEXEC_CORE=n
CONFIG_THUNDER_NIC_PF=n
CONFIG_SUN55I_PCK600=n
CONFIG_CRYPTO_LIB_SM3_ARCH=n
CONFIG_IIO_BUFFER=n
CONFIG_COMMON_CLK_MT8195=n
CONFIG_MFD_ALTERA_SYSMGR=n
CONFIG_HNS_ENET=n
CONFIG_CLK_MA35D1=n
CONFIG_SND_SOC_MT8195_MT6359=n
CONFIG_BACKLIGHT_LP855X=n
CONFIG_DRM_POWERVR=n
CONFIG_EXYNOS_CHIPID=n
CONFIG_PINCTRL_PFC_R8A77970=n
CONFIG_DRM_DISPLAY_HDMI_STATE_HELPER=n
CONFIG_NVMEM_ROCKCHIP_EFUSE=n
CONFIG_SND_SIMPLE_CARD_UTILS=n
CONFIG_MDIO_BUS_MUX_MMIOREG=n
CONFIG_DRM_PANEL_HIMAX_HX83112B=n
CONFIG_MULTIUSER=n
CONFIG_CORESIGHT_STM=n
CONFIG_SPARSE_IRQ=n
CONFIG_BCM_SBA_RAID=n
CONFIG_ACPI_MCFG=n
CONFIG_PINCTRL_RENESAS=n
CONFIG_TRACING_SUPPORT=n
CONFIG_ARCH_R8A779F0=n
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO_BARE=n
CONFIG_BCM_FLEXRM_MBOX=n
CONFIG_TEE_DMABUF_HEAPS=n
CONFIG_FB_CFB_IMAGEBLIT=n
CONFIG_CRYPTO_DEV_HISI_SEC2=n
