CONFIG_OCFS2_FS_O2CB=y
CONFIG_NO_HZ_IDLE=y
CONFIG_PINCTRL_PFC_R8A77960=y
CONFIG_PCI_STUB=y
CONFIG_ASPEED_BT_IPMI_BMC=y
CONFIG_MPRLS0025PA=y
CONFIG_W1=y
CONFIG_CC_HAS_WORKING_NOSANITIZE_ADDRESS=y
CONFIG_LIVEUPDATE_MEMFD=y
CONFIG_IMG_ASCII_LCD=y
CONFIG_CLK_SUNXI=y
CONFIG_SERIAL_BCM63XX=y
CONFIG_NFC_NCI=y
CONFIG_HAVE_FENTRY=y
CONFIG_CFG80211_CRDA_SUPPORT=y
CONFIG_ARCH_HAS_DEBUG_VM_PGTABLE=y
CONFIG_CAN=y
CONFIG_PPPOE_HASH_BITS_1=y
CONFIG_QCOM_RPMH=y
CONFIG_PARPORT_PC=y
CONFIG_RPMB=y
CONFIG_HNS_DSAF=y
CONFIG_MCHP_CLK_MPFS=y
CONFIG_ARM_CCN=y
CONFIG_ABP2030PA_I2C=y
CONFIG_SENSORS_LTC2978=y
CONFIG_INTEL_TCC=y
CONFIG_NFC_MICROREAD=y
CONFIG_CRYPTO_MANAGER=y
CONFIG_MTK_NET_PHYLIB=y
CONFIG_MSA311=y
CONFIG_MTK_IOMMU_V1=y
CONFIG_SCSI_MOD=y
CONFIG_NXP_NTMP=y
CONFIG_SENSORS_NTC_THERMISTOR=y
CONFIG_MPL3115=y
CONFIG_LLC2=y
CONFIG_PM_AUTOSLEEP=y
CONFIG_RAID6_PQ_ARCH=y
CONFIG_HW_RANDOM_VIRTIO=y
CONFIG_HAVE_ARCH_THREAD_STRUCT_WHITELIST=y
CONFIG_DMA_NEED_SYNC=y
CONFIG_FUN_ETH=y
CONFIG_SENSORS_BH1770=y
CONFIG_COMMON_CLK_MT8186_MFGCFG=y
CONFIG_HAVE_PCSPKR_PLATFORM=y
CONFIG_COMEDI_ADDI_APCI_1564=y
CONFIG_SAMSUNG_LAPTOP=y
CONFIG_SERIAL_AMBA_PL010=y
CONFIG_I2C_ISMT=y
CONFIG_PINCTRL_IMX_SCMI=y
CONFIG_CRYPTO_CTS=y
CONFIG_CRYPTO_GCM=y
CONFIG_PPS_CLIENT_GPIO=y
CONFIG_SCSI_AIC94XX=y
CONFIG_GPIO_CS5535=y
CONFIG_GOOGLE_FIRMWARE=y
CONFIG_RTC_MC146818_LIB=y
CONFIG_CLK_STARFIVE_JH7100=y
CONFIG_REGULATOR_NETLINK_EVENTS=y
CONFIG_SD_ADC_MODULATOR=y
CONFIG_NVMEM_QCOM_QFPROM=y
CONFIG_CRYPTO_DEV_OCTEONTX_CPT=y
CONFIG_CRYPTO_CAMELLIA_X86_64=y
CONFIG_SUNXI_CCU=y
CONFIG_MFD_PALMAS=y
CONFIG_PWM_IQS620A=y
CONFIG_SYSTEM_BLACKLIST_KEYRING=y
CONFIG_SENSORS_W83781D=y
CONFIG_PMBUS=y
CONFIG_IPV6_FOU=y
CONFIG_CLK_STARFIVE_JH7110_AON=y
CONFIG_HDC3020=y
CONFIG_HID_CHERRY=y
CONFIG_QCOM_QMI_HELPERS=y
CONFIG_VEML6046X00=y
CONFIG_RAPIDIO=y
CONFIG_SEG_LED_GPIO=y
CONFIG_MPL115=y
CONFIG_INGENIC_CGU_COMMON=y
CONFIG_PHY_INTEL_KEEMBAY_USB=y
CONFIG_COMMON_CLK_MT2712_VDECSYS=y
CONFIG_MEDIATEK_MT6359_AUXADC=y
CONFIG_IOMMU_IO_PGTABLE_DART=y
CONFIG_HAVE_UACCESS_VALIDATION=y
CONFIG_SLUB_STATS=y
CONFIG_SENSORS_AMC6821=y
CONFIG_SENSORS_LTC4286=y
CONFIG_HID_COUGAR=y
CONFIG_CGROUP_RDMA=y
CONFIG_CC_HAS_ENTRY_PADDING=y
CONFIG_NETCONSOLE=y
CONFIG_I2C_DIGICOLOR=y
CONFIG_KEYBOARD_TEGRA=y
CONFIG_MMA9553=y
CONFIG_REGULATOR_STM32_BOOSTER=y
CONFIG_VEML6075=y
CONFIG_BIG_KEYS=y
CONFIG_SCHED_MC=y
CONFIG_MAILBOX=y
CONFIG_GRO_CELLS=y
CONFIG_BATTERY_DS2760=y
CONFIG_VEML3235=y
CONFIG_NET_DSA_MICROCHIP_KSZ9477_I2C=y
CONFIG_HW_RANDOM_AIROHA=y
CONFIG_DEBUG_FS=y
CONFIG_CRYPTO_RSA=y
CONFIG_X86_REQUIRED_FEATURE_ALWAYS=y
CONFIG_INPUT_KEYBOARD=y
CONFIG_PINCTRL_SH_PFC_GPIO=y
CONFIG_GENERIC_IOMAP=y
CONFIG_I2C_PXA_SLAVE=y
CONFIG_IOSM=y
CONFIG_SPARSE_IRQ=y
CONFIG_HVC_DRIVER=y
CONFIG_SENSORS_SFCTEMP=y
CONFIG_GPIO_ASPEED_SGPIO=y
CONFIG_CRYPTO_HASH2=y
CONFIG_BNXT_SRIOV=y
CONFIG_INTERCONNECT_IMX=y
CONFIG_MOST_CDEV=y
CONFIG_ZLIB_DEFLATE=y
CONFIG_SUN6I_MSGBOX=y
CONFIG_MFD_SPACEMIT_P1=y
CONFIG_HOTPLUG_SPLIT_STARTUP=y
CONFIG_CHARGER_BQ24257=y
CONFIG_FS_POSIX_ACL=y
CONFIG_DDR=y
CONFIG_EXYNOS_MBOX=y
CONFIG_IA32_FEAT_CTL=y
CONFIG_REGMAP_IRQ=y
CONFIG_ADIN1100_PHY=y
CONFIG_CRYPTO_MANAGER2=y
CONFIG_SENSORS_LTC2945=y
CONFIG_ACPI_HOTPLUG_IOAPIC=y
CONFIG_CRYPTO_DEV_QAT_C3XXX=y
CONFIG_WMI_BMOF=y
CONFIG_RPMSG_CHAR=y
CONFIG_HID_LCPOWER=y
CONFIG_KEYBOARD_IQS62X=y
CONFIG_SCSI_LOGGING=y
CONFIG_TI_THERMAL=y
CONFIG_HW_RANDOM_HISI=y
CONFIG_ASN1=y
CONFIG_HAVE_KERNEL_LZO=y
CONFIG_REGULATOR_WM8350=y
CONFIG_SENSORS_AHT10=y
CONFIG_SENSORS_AD7418=y
CONFIG_HID_PICOLCD=y
CONFIG_LRU_GEN=y
CONFIG_HAVE_OPTPROBES=y
CONFIG_I2C_TEGRA=y
CONFIG_PVPANIC=y
CONFIG_REGULATOR_LTC3676=y
CONFIG_PHY_RALINK_USB=y
CONFIG_COMEDI_NI_PCIMIO=y
CONFIG_TCG_ATMEL=y
CONFIG_REGULATOR_MC13783=y
CONFIG_TRACER_MAX_TRACE=y
CONFIG_CLKSRC_STM32_LP=y
CONFIG_ROCKCHIP_GRF=y
CONFIG_CRYPTO_LIB_SHA256=y
CONFIG_GPIO_ATH79=y
CONFIG_SENSORS_MCP3021=y
CONFIG_CRYPTO_SEED=y
CONFIG_RESET_BRCMSTB_RESCAL=y
CONFIG_XFS_QUOTA=y
CONFIG_MS5611=y
CONFIG_PCI_PRI=y
CONFIG_PERF_EVENTS_INTEL_UNCORE=y
CONFIG_BUG_ON_DATA_CORRUPTION=y
CONFIG_SPARSEMEM_VMEMMAP_PREINIT=y
CONFIG_PWM_LPC32XX=y
CONFIG_PARAVIRT_TIME_ACCOUNTING=y
CONFIG_SSB_PCIHOST_POSSIBLE=y
CONFIG_PHY_HI6220_USB=y
CONFIG_NET_SOCK_MSG=y
CONFIG_MFD_MAX8907=y
CONFIG_TTY=y
CONFIG_UIO_DMEM_GENIRQ=y
CONFIG_NLS_CODEPAGE_936=y
CONFIG_PCIEAER=y
CONFIG_CDNS_I3C_MASTER=y
CONFIG_NVME_TCP_TLS=y
CONFIG_SLUB=y
CONFIG_FILE_LOCKING=y
CONFIG_BACKLIGHT_LM3509=y
CONFIG_PPPOX=y
CONFIG_AST2700_MBOX=y
CONFIG_SIOX=y
CONFIG_ASYNC_TX_DMA=y
CONFIG_PWM_LOONGSON=y
CONFIG_HAVE_KCSAN_COMPILER=y
CONFIG_INET_TCP_DIAG=y
CONFIG_IIO_MS_SENSORS_I2C=y
CONFIG_COMMON_CLK_MT2701_G3DSYS=y
CONFIG_COMEDI_AMPLC_PCI224=y
CONFIG_SCSI_AIC7XXX=y
CONFIG_NEED_PER_CPU_PAGE_FIRST_CHUNK=y
CONFIG_MDIO_XGENE=y
CONFIG_RAPIDIO_CPS_XX=y
CONFIG_FWCTL=y
CONFIG_FAULT_INJECTION=y
CONFIG_MFD_ARIZONA_I2C=y
CONFIG_ARCNET_RAW=y
CONFIG_GENERIC_PCI_IOMAP=y
CONFIG_DMA_SUN6I=y
CONFIG_BMI270_I2C=y
CONFIG_X86_PLATFORM_DEVICES=y
CONFIG_NET_DSA_TAG_XRS700X=y
CONFIG_DEBUG_BOOT_PARAMS=y
CONFIG_RELAY=y
CONFIG_ENA_ETHERNET=y
CONFIG_ARCH_MHP_MEMMAP_ON_MEMORY_ENABLE=y
CONFIG_COMMON_CLK_MT6779_VDECSYS=y
CONFIG_TI_SYSCON_CLK=y
CONFIG_REGULATOR_STM32_VREFBUF=y
CONFIG_SCHED_SMT=y
CONFIG_IIO_TRIGGERED_BUFFER=y
CONFIG_I2C_DESIGNWARE_PCI=y
CONFIG_IMX93_ADC=y
CONFIG_SENSORS_MAX20830=y
CONFIG_EC_LENOVO_YOGA_C630=y
CONFIG_JOYSTICK_SPACEORB=y
CONFIG_APPLE_DART=y
CONFIG_AD3552R_LIB=y
CONFIG_AUTOFS_FS=y
CONFIG_I2C_RIIC=y
CONFIG_NFC_S3FWRN5=y
CONFIG_IMX_SCMI_LMM_DRV=y
CONFIG_OCFS2_DEBUG_MASKLOG=y
CONFIG_GPIO_CDEV_V1=y
CONFIG_ISCSI_BOOT_SYSFS=y
CONFIG_OCTEONTX2_PF=y
CONFIG_SECTION_MISMATCH_WARN_ONLY=y
CONFIG_CORTINA_PHY=y
CONFIG_KEYBOARD_NEWTON=y
CONFIG_VMAP_STACK=y
CONFIG_SCSI_SNIC_DEBUG_FS=y
CONFIG_CRYPTO_LZO=y
CONFIG_SUN50I_IOMMU=y
CONFIG_POWER_SUPPLY=y
CONFIG_HUGETLB_PAGE_OPTIMIZE_VMEMMAP=y
CONFIG_SCSI_3W_SAS=y
CONFIG_DEBUG_PER_CPU_MAPS=y
CONFIG_I2C_ALGOPCF=y
CONFIG_GPIO_SNPS_CREG=y
CONFIG_XEN_DEV_EVTCHN=y
CONFIG_ASYNC_TX_ENABLE_CHANNEL_SWITCH=y
CONFIG_I2C_EG20T=y
CONFIG_NET_SHAPER=y
CONFIG_PINCTRL_AMD=y
CONFIG_NLS_MAC_ICELAND=y
CONFIG_SCSI_FLASHPOINT=y
CONFIG_EFI_MIXED=y
CONFIG_ARCNET_CAP=y
CONFIG_SCSI_SAS_LIBSAS=y
CONFIG_SH_TIMER_MTU2=y
CONFIG_NXP_NETC_LIB=y
CONFIG_ARCH_USE_BUILTIN_BSWAP=y
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO_BARE=y
CONFIG_NET_DSA_TAG_YT921X=y
CONFIG_SCSI_QLA_FC=y
CONFIG_NET_DROP_MONITOR=y
CONFIG_PRINTK_INDEX=y
CONFIG_REMOTEPROC=y
CONFIG_CLK_STARFIVE_JH7110_STG=y
CONFIG_INV_ICM45600=y
CONFIG_I2C_ST=y
CONFIG_GPIO_F7188X=y
CONFIG_IIO_ST_MAGN_3AXIS=y
CONFIG_HAVE_KERNEL_LZ4=y
CONFIG_SENSORS_PECI_DIMMTEMP=y
CONFIG_VIRTIO_PCI_LIB_LEGACY=y
CONFIG_PTP_DFL_TOD=y
CONFIG_IIO_BUFFER_DMAENGINE=y
CONFIG_OMAP_IOMMU=y
CONFIG_SCSI_IPR_DUMP=y
CONFIG_HID_EMS_FF=y
CONFIG_HID_AUREAL=y
CONFIG_PINCTRL_PFC_SH7722=y
CONFIG_KXSD9_I2C=y
CONFIG_SCSI_INITIO=y
CONFIG_GENERIC_PHY=y
CONFIG_BE2NET_BE3=y
CONFIG_SOFTLOCKUP_DETECTOR_INTR_STORM=y
CONFIG_VIRTIO_ANCHOR=y
CONFIG_DAVINCI_TIMER=y
CONFIG_GENERIC_EARLY_IOREMAP=y
CONFIG_NET_DSA_TAG_KSZ=y
CONFIG_VM_EVENT_COUNTERS=y
CONFIG_ARCH_ENABLE_MEMORY_HOTPLUG=y
CONFIG_SENSORS_MAX16601=y
CONFIG_DCB=y
CONFIG_MLXFW=y
CONFIG_PCI_XEN=y
CONFIG_APDS9999=y
CONFIG_STRICT_DEVMEM=y
CONFIG_NLS_CODEPAGE_862=y
CONFIG_HAVE_ARCH_WITHIN_STACK_FRAMES=y
CONFIG_BACKLIGHT_OMAP1=y
CONFIG_CC_HAS_MARCH_NATIVE=y
CONFIG_IO_URING=y
CONFIG_PINCTRL_SM6115_LPASS_LPI=y
CONFIG_SENSORS_PECI=y
CONFIG_XFS_ASSERT_FATAL=y
CONFIG_WANT_DEV_COREDUMP=y
CONFIG_INV_ICM45600_I3C=y
CONFIG_VDSO_GETRANDOM=y
CONFIG_AS_IS_GNU=y
CONFIG_GPIB_TMS9914=y
CONFIG_PCIE_ARTPEC6_EP=y
CONFIG_XEN_XENBUS_FRONTEND=y
CONFIG_INTEL_IFS=y
CONFIG_NET_TEAM_MODE_BROADCAST=y
CONFIG_X86_AMD_PLATFORM_DEVICE=y
CONFIG_GPIO_REALTEK_OTTO=y
CONFIG_TCG_TIS=y
CONFIG_CRC_ITU_T=y
CONFIG_DS1803=y
CONFIG_REGULATOR_MAX14577=y
CONFIG_HID_SENSOR_MAGNETOMETER_3D=y
CONFIG_HAVE_KERNEL_XZ=y
CONFIG_ASUS_LAPTOP=y
CONFIG_CRYPTO_SIG=y
CONFIG_PERF_EVENTS=y
CONFIG_SX9360=y
CONFIG_LEDS_DA903X=y
CONFIG_INTEL_TH=y
CONFIG_SL28CPLD_INTC=y
CONFIG_TASKS_RCU_GENERIC=y
CONFIG_AD3552R_HS=y
CONFIG_REGULATOR_MT6359=y
CONFIG_EXT2_FS_XATTR=y
CONFIG_EFI=y
CONFIG_PINCTRL_PFC_SH73A0=y
CONFIG_WLAN_VENDOR_INTEL=y
CONFIG_PINCTRL_RENESAS=y
CONFIG_REGULATOR_RTQ6752=y
CONFIG_CRYPTO_LRW=y
CONFIG_ARCH_SUPPORTS_LTO_CLANG_THIN=y
CONFIG_DS1682=y
CONFIG_NFC_MEI_PHY=y
CONFIG_SERIAL_SC16IS7XX_I2C=y
CONFIG_SENSORS_HTU31=y
CONFIG_ATM_BR2684=y
CONFIG_IPMI_KCS_BMC=y
CONFIG_IRQ_MSI_LIB=y
CONFIG_MDIO_SUN4I=y
CONFIG_AMD_NODE=y
CONFIG_MFD_WM8997=y
CONFIG_IIO_STM32_TIMER_TRIGGER=y
CONFIG_ACPI_SPCR_TABLE=y
CONFIG_COMMON_CLK_MT8196_VENCSYS=y
CONFIG_UHID=y
CONFIG_PCI_DOMAINS=y
CONFIG_GPIO_MLXBF3=y
CONFIG_ARCH_USE_CMPXCHG_LOCKREF=y
CONFIG_MFD_SY7636A=y
CONFIG_ACPI_BATTERY=y
CONFIG_NVMEM_LPC18XX_OTP=y
CONFIG_NEED_PER_CPU_EMBED_FIRST_CHUNK=y
CONFIG_AIC94XX_DEBUG=y
CONFIG_JOYSTICK_SIDEWINDER=y
CONFIG_DEV_COREDUMP=y
CONFIG_COMEDI_ADL_PCI6208=y
CONFIG_PM_DEVFREQ_EVENT=y
CONFIG_REGULATOR_MAX77857=y
CONFIG_MODULES_USE_ELF_RELA=y
CONFIG_GENERIC_CLOCKEVENTS_MIN_ADJUST=y
CONFIG_SIEMENS_SIMATIC_IPC_BATT_F7188X=y
CONFIG_HAVE_FTRACE_REGS_HAVING_PT_REGS=y
CONFIG_GENERIC_ENTRY=y
CONFIG_XEN_NETDEV_BACKEND=y
CONFIG_SERIAL_MULTI_INSTANTIATE=y
CONFIG_GPIO_ALTERA=y
CONFIG_PROC_SYSCTL=y
CONFIG_CRYPTO_TWOFISH_COMMON=y
CONFIG_HOTPLUG_PARALLEL=y
CONFIG_UDF_FS=y
CONFIG_NET_VENDOR_SOCIONEXT=y
CONFIG_HWSPINLOCK_QCOM=y
CONFIG_LENOVO_WMI_HOTKEY_UTILITIES=y
CONFIG_SENSORS_W83795_FANCTRL=y
CONFIG_AF_RXRPC_INJECT_LOSS=y
CONFIG_AMD_NB=y
CONFIG_REGULATOR_RT5190A=y
CONFIG_FANOTIFY=y
CONFIG_FAIL_FUNCTION=y
CONFIG_KEYBOARD_ST_KEYSCAN=y
CONFIG_CC_HAS_NAMED_AS_FIXED_SANITIZERS=y
CONFIG_SPACEMIT_K3_CCU=y
CONFIG_ST_SLIM_REMOTEPROC=y
CONFIG_AIR_EN8811H_PHY=y
CONFIG_PTP_1588_CLOCK_VMCLOCK=y
CONFIG_RENESAS_RPCIF=y
CONFIG_TI_CPTS=y
CONFIG_COMMON_CLK_MT8365_APU=y
CONFIG_MEMBARRIER=y
CONFIG_NET_VENDOR_SUNPLUS=y
CONFIG_MARVELL_PHY=y
CONFIG_CRYPTO_GENIV=y
CONFIG_COMMON_CLK_MT2712_BDPSYS=y
CONFIG_CRYPTO_BLOWFISH=y
CONFIG_HID_MAGICMOUSE=y
CONFIG_CRYPTO_ARIA_AESNI_AVX2_X86_64=y
CONFIG_REGULATOR_MT6360=y
CONFIG_SENSORS_MAX6697=y
CONFIG_MFD_TPS6594=y
CONFIG_PREVENT_FIRMWARE_BUILD=y
CONFIG_PINCTRL_TEGRA114=y
CONFIG_WLAN_VENDOR_REALTEK=y
CONFIG_NO_HZ_COMMON=y
CONFIG_GENERIC_NET_UTILS=y
CONFIG_SENSORS_MP29502=y
CONFIG_LEDS_ADP5520=y
CONFIG_COMMON_CLK_MT8167_MFGCFG=y
CONFIG_MV643XX_ETH=y
CONFIG_RESET_SIMPLE=y
CONFIG_RD_GZIP=y
CONFIG_UTS_NS=y
CONFIG_TEGRA_BPMP_THERMAL=y
CONFIG_NET_DSA_TAG_DSA=y
CONFIG_SYSFB_SIMPLEFB=y
CONFIG_IIO_STM32_LPTIMER_TRIGGER=y
CONFIG_PROFILING=y
CONFIG_MFD_MAX77693=y
CONFIG_BFQ_GROUP_IOSCHED=y
CONFIG_RPMSG_NS=y
CONFIG_PREEMPT_DYNAMIC=y
CONFIG_PINCTRL_GEMINILAKE=y
CONFIG_ARCH_HAS_DEBUG_VIRTUAL=y
CONFIG_SENSORS_CRPS=y
CONFIG_COMMON_CLK_MT8196_VDECSYS=y
CONFIG_PINCTRL_PFC_R8A774A1=y
CONFIG_SENSORS_IR35221=y
CONFIG_REGULATOR_QCOM_SMD_RPM=y
CONFIG_NET_DSA_YT921X=y
CONFIG_KXSD9=y
CONFIG_INTEL_IDMA64=y
CONFIG_CRYPTO_DEV_MARVELL=y
CONFIG_NVMEM_BCM_OCOTP=y
CONFIG_MOUSE_PS2_SYNAPTICS=y
CONFIG_PCIEASPM=y
CONFIG_AIR_NET_PHYLIB=y
CONFIG_I8253_LOCK=y
CONFIG_I2C_LS2X_V2=y
CONFIG_MOUSE_PS2_LIFEBOOK=y
CONFIG_ARCH_HAS_FORTIFY_SOURCE=y
CONFIG_PPS_GENERATOR_TIO=y
CONFIG_I2C_SIS630=y
CONFIG_ADV_SWBUTTON=y
CONFIG_HAVE_PERF_EVENTS=y
CONFIG_SIMPLE_RING_BUFFER=y
CONFIG_COMMON_RESET_HI6220=y
CONFIG_HAVE_NOINSTR_VALIDATION=y
CONFIG_PWM_RENESAS_RCAR=y
CONFIG_EDAC_ECS=y
CONFIG_CRYPTO_JITTERENTROPY=y
CONFIG_IEEE802154=y
CONFIG_MDIO_BITBANG=y
CONFIG_RPMSG_MTK_SCP=y
CONFIG_KEXEC_FILE=y
CONFIG_FS_IOMAP=y
CONFIG_HAVE_ARCH_KASAN=y
CONFIG_SENSORS_LIS3_I2C=y
CONFIG_SFC_MCDI_LOGGING=y
CONFIG_PINCTRL_SM8450_LPASS_LPI=y
CONFIG_EP93XX_ADC=y
CONFIG_COMPAT=y
CONFIG_THREAD_INFO_IN_TASK=y
CONFIG_I2C_TEGRA_BPMP=y
CONFIG_ARCH_HAVE_NMI_SAFE_CMPXCHG=y
CONFIG_COMMON_CLK_NPCM8XX=y
CONFIG_PCIE_ULTRARISC=y
CONFIG_UCS2_STRING=y
CONFIG_LEDS_BLINKM_MULTICOLOR=y
CONFIG_MSC313E_TIMER=y
CONFIG_NET_VENDOR_VERTEXCOM=y
CONFIG_842_DECOMPRESS=y
CONFIG_NFC=y
CONFIG_HAVE_NMI=y
CONFIG_PANIC_ON_OOPS=y
CONFIG_IO_DELAY_NONE=y
CONFIG_SENSORS_W83795=y
CONFIG_MMA7455=y
CONFIG_RESET_A10SR=y
CONFIG_RCU_NOCB_CPU_CB_BOOST=y
CONFIG_EXTCON=y
CONFIG_ZSTD_COMPRESS=y
CONFIG_FSL_ENETC_VF=y
CONFIG_NLS_CODEPAGE_869=y
CONFIG_MIGRATION=y
CONFIG_COMMON_CLK_MAX77686=y
CONFIG_COMMON_CLK_MT6779=y
CONFIG_NET_VENDOR_VIA=y
CONFIG_ISL29003=y
CONFIG_CAN_BCM=y
CONFIG_SERIAL_ALTERA_UART=y
CONFIG_SCSI_ENCLOSURE=y
