CONFIG_XFS_QUOTA=y
CONFIG_PINCTRL_MT8135=y
CONFIG_NAU7802=y
CONFIG_ISL29501=y
CONFIG_ISA_DMA_API=y
CONFIG_BUG=y
CONFIG_LEDS_OSRAM_AMS_AS3668=y
CONFIG_USB_SERIAL_F81232=y
CONFIG_MMU_GATHER_TABLE_FREE=y
CONFIG_REGULATOR_AD5398=y
CONFIG_KMX61=y
CONFIG_SPI_HISI_SFC_V3XX=y
CONFIG_GENERIC_SMP_IDLE_THREAD=y
CONFIG_ARCH_HAS_ACPI_TABLE_UPGRADE=y
CONFIG_REGMAP_I3C=y
CONFIG_PHY_QCOM_USB_HS_28NM=y
CONFIG_INTERCONNECT=y
CONFIG_GPIO_TPIC2810=y
CONFIG_SECURITY=y
CONFIG_MTD_NAND_TXX9NDFMC=y
CONFIG_CRYPTO_AUTHENC=y
CONFIG_FTRACE_MCOUNT_USE_CC=y
CONFIG_UEVENT_HELPER=y
CONFIG_MTD_NAND_OMAP_BCH=y
CONFIG_FB_CLPS711X=y
CONFIG_RTC_DRV_CROS_EC=y
CONFIG_NEED_PER_CPU_PAGE_FIRST_CHUNK=y
CONFIG_CLK_RK3506=y
CONFIG_LP8788_ADC=y
CONFIG_ACPI_CONTAINER=y
CONFIG_XZ_DEC_MICROLZMA=y
CONFIG_GPIO_EP93XX=y
CONFIG_PINCTRL_MDM9615=y
CONFIG_CLK_RK3036=y
CONFIG_CRYPTO_RNG2=y
CONFIG_COMMON_CLK_MT8196_IMP_IIC_WRAP=y
CONFIG_PINCTRL_EQUILIBRIUM=y
CONFIG_STK3310=y
CONFIG_PINCTRL_SM8550=y
CONFIG_CRYPTO_CAMELLIA=y
CONFIG_ARCH_HAS_PTE_SPECIAL=y
CONFIG_FUNCTION_ERROR_INJECTION=y
CONFIG_SELECT_MEMORY_MODEL=y
CONFIG_PHY_CADENCE_DPHY=y
CONFIG_PINCTRL_AMLOGIC_A4=y
CONFIG_COMMON_CLK_MT6795_MMSYS=y
CONFIG_SPI_INTEL_PLATFORM=y
CONFIG_MINIX_FS=y
CONFIG_CRYPTO_HASH=y
CONFIG_ARM_EXYNOS_BUS_DEVFREQ=y
CONFIG_SENSORS_ADT7470=y
CONFIG_CRYPTO_DH=y
CONFIG_USB_ONBOARD_DEV_USB5744=y
CONFIG_SG_POOL=y
CONFIG_XZ_DEC_ARM64=y
CONFIG_BOOT_CONFIG_FORCE=y
CONFIG_DEBUG_IRQFLAGS=y
CONFIG_SUN6I_A31_CCU=y
CONFIG_WDAT_WDT=y
CONFIG_SCSI_DH_RDAC=y
CONFIG_CRYPTO_ECC=y
CONFIG_GPIO_MAX730X=y
CONFIG_PINCTRL_AMDISP=y
CONFIG_SENSORS_ADT7X10=y
CONFIG_SH_TIMER_MTU2=y
CONFIG_BATTERY_PM8916_BMS_VM=y
CONFIG_INIT_STACK_NONE=y
CONFIG_INGENIC_CGU_X1000=y
CONFIG_RTC_DRV_MSC313=y
CONFIG_FXAS21002C_I2C=y
CONFIG_SENSORS_LAN966X=y
CONFIG_PINCTRL_MSM8953=y
CONFIG_I2C_RTL9300=y
CONFIG_PINCTRL_PXA25X=y
CONFIG_XILINX_WINDOW_WATCHDOG=y
CONFIG_AD2S1210=y
CONFIG_AK8974=y
CONFIG_AD525X_DPOT=y
CONFIG_LEDS_TRIGGER_CAMERA=y
CONFIG_OSNOISE_TRACER=y
CONFIG_CRYPTO_SHA256=y
CONFIG_IRQ_FORCED_THREADING=y
CONFIG_EDD_OFF=y
CONFIG_USB_DWC3_EXYNOS=y
CONFIG_HID_LENOVO=y
CONFIG_BLK_PM=y
CONFIG_OPT4001=y
CONFIG_FPGA_MGR_EFINIX_SPI=y
CONFIG_FUTEX_PI=y
CONFIG_NVRAM=y
CONFIG_LTC2309=y
CONFIG_MPL115=y
CONFIG_GPIO_IT87=y
CONFIG_BD79703=y
CONFIG_GENERIC_CPU_VULNERABILITIES=y
CONFIG_FTM_QUADDEC=y
CONFIG_FPGA_MGR_XILINX_CORE=y
CONFIG_BRCM_USB_PINMAP=y
CONFIG_ARCH_HAS_PTDUMP=y
CONFIG_SA_GCC_8775P=y
CONFIG_CRYPTO_ALGAPI=y
CONFIG_HAVE_KERNEL_LZ4=y
CONFIG_FB_PXA168=y
CONFIG_GPIO_NOMADIK=y
CONFIG_SENSORS_HIH6130=y
CONFIG_PNX4008_WATCHDOG=y
CONFIG_RESET_ZYNQ=y
CONFIG_COMMON_CLK_SI5341=y
CONFIG_SENSORS_AS370=y
CONFIG_COMMON_CLK_MT6779_IPESYS=y
CONFIG_QCOM_SPM=y
CONFIG_CEC_MESON_G12A_AO=y
CONFIG_SPI_BUTTERFLY=y
CONFIG_BACKLIGHT_KTD2801=y
CONFIG_USB_MUSB_HDRC=y
CONFIG_PINCTRL_IPQ4019=y
CONFIG_INPUT_IBM_PANEL=y
CONFIG_GEHC_PMC_ADC=y
CONFIG_MTD_BLKDEVS=y
CONFIG_ELFCORE=y
CONFIG_AD74413R=y
CONFIG_SENSORS_ADC128D818=y
CONFIG_REGULATOR_PV88080=y
CONFIG_RTC_DRV_MSM6242=y
CONFIG_EXTCON_SM5502=y
CONFIG_GCOV_PROFILE_URING=y
CONFIG_BMI270_SPI=y
CONFIG_IR_JVC_DECODER=y
CONFIG_MFD_MAX77686=y
CONFIG_SENSORS_SFCTEMP=y
CONFIG_SUSPEND_FREEZER=y
CONFIG_LEDS_RT8515=y
CONFIG_X86_DISABLED_FEATURE_SYSCALL32=y
CONFIG_CRYPTO_LZ4=y
CONFIG_BMI270_I2C=y
CONFIG_CEC_CROS_EC=y
CONFIG_I2C_IOP3XX=y
CONFIG_KEYBOARD_BCM=y
CONFIG_SM_DISPCC_6115=y
CONFIG_ARCH_VMLINUX_NEEDS_RELOCS=y
CONFIG_PHY_QCOM_USB_SS=y
CONFIG_AD7766=y
CONFIG_DEFAULT_SECURITY_DAC=y
CONFIG_HW_RANDOM_VIRTIO=y
CONFIG_PINCTRL_PFC_R8A779A0=y
CONFIG_XOR_BLOCKS=y
CONFIG_PHY_SPARX5_SERDES=y
CONFIG_NVIDIA_CORESIGHT_PMU_ARCH_SYSTEM_PMU=y
CONFIG_PINCTRL_X1E80100=y
CONFIG_CC_HAS_AUTO_VAR_INIT_PATTERN=y
CONFIG_ATA_FORCE=y
CONFIG_CHARGER_TPS65217=y
CONFIG_FUNCTION_GRAPH_RETADDR=y
CONFIG_PM_AUTOSLEEP=y
CONFIG_ARM_NI=y
CONFIG_SPI_BITBANG=y
CONFIG_LCD_CLASS_DEVICE=y
CONFIG_REGULATOR_SPACEMIT_P1=y
CONFIG_MFD_ATMEL_FLEXCOM=y
CONFIG_UFS_FS_WRITE=y
CONFIG_CRYPTO_SHA1=y
CONFIG_TENSTORRENT_ATLANTIS_PRCM=y
CONFIG_RTC_DRV_ABB5ZES3=y
CONFIG_PINCTRL_WM8750=y
CONFIG_SENSORS_GXP_FAN_CTRL=y
CONFIG_LTRF216A=y
CONFIG_EC_LENOVO_YOGA_C630=y
CONFIG_PINCTRL_ASPEED_G6=y
CONFIG_CHARGER_LP8727=y
CONFIG_I2C_ALGOBIT=y
CONFIG_SENSORS_MENF21BMC_HWMON=y
CONFIG_SYMBOLIC_ERRNAME=y
CONFIG_SDX_GCC_55=y
CONFIG_MTD_CFI_UTIL=y
CONFIG_POWER_SUPPLY=y
CONFIG_VFIO_IOMMU_TYPE1=y
CONFIG_KXSD9_I2C=y
CONFIG_PA12203001=y
CONFIG_ALS31300=y
CONFIG_CRYPTO_TWOFISH=y
CONFIG_GPIO_SAMA5D2_PIOBU=y
CONFIG_ACPI_ALS=y
CONFIG_DEBUG_BOOT_PARAMS=y
CONFIG_I2C_SLAVE=y
CONFIG_IMX_IPUV3_CORE=y
CONFIG_CMA_DEBUGFS=y
CONFIG_GPIO_MXS=y
CONFIG_INPUT_MC13783_PWRBUTTON=y
CONFIG_PINCTRL_IMX8QM=y
CONFIG_AT91_SOC_ID=y
CONFIG_HRTIMER_REARM_DEFERRED=y
CONFIG_ARCH_SUPPORTS_KEXEC_SIG_FORCE=y
CONFIG_LEDS_DA903X=y
CONFIG_CHARGER_BQ25980=y
CONFIG_SERIAL_TEGRA_TCU_CONSOLE=y
CONFIG_RTC_DRV_MC13XXX=y
CONFIG_DEBUG_SHIRQ=y
CONFIG_EXCLUSIVE_SYSTEM_RAM=y
CONFIG_SENSORS_TSL2563=y
CONFIG_HID_WINWING=y
CONFIG_USB_STORAGE_KARMA=y
CONFIG_FAIL_MAKE_REQUEST=y
CONFIG_AD7380=y
CONFIG_CLK_SUNXI=y
CONFIG_HZ_1000=y
CONFIG_MTRR_SANITIZER=y
CONFIG_LOCK_DOWN_KERNEL_FORCE_INTEGRITY=y
CONFIG_VIRT_DRIVERS=y
CONFIG_IRQ_TIME_ACCOUNTING=y
CONFIG_SENSORS_TSL2550=y
CONFIG_X86_DISABLED_FEATURE_XENPV=y
CONFIG_CHROMEOS_TBMC=y
CONFIG_X86_CPA_STATISTICS=y
CONFIG_SERIO_PARKBD=y
CONFIG_MTD=y
CONFIG_USB_SERIAL_DEBUG=y
CONFIG_DMA_OPS_HELPERS=y
CONFIG_PINCTRL_CEDARFORK=y
CONFIG_REGULATOR_RT4801=y
CONFIG_PINCTRL_CY8C95X0=y
CONFIG_MFD_KHADAS_MCU=y
CONFIG_KEYBOARD_CROS_EC=y
CONFIG_CC_HAS_MARCH_NATIVE=y
CONFIG_RV_MON_EVENTS=y
CONFIG_DEVFREQ_GOV_POWERSAVE=y
CONFIG_X86_DISABLED_FEATURE_IBT=y
CONFIG_MFD_MC13XXX=y
CONFIG_GPIO_RTD=y
CONFIG_CLKSRC_ST_LPC=y
CONFIG_ROCKCHIP_IODOMAIN=y
CONFIG_HID_NTRIG=y
CONFIG_X86_GENERIC=y
CONFIG_SERIAL_IMX=y
CONFIG_RTC_DRV_DS1374=y
CONFIG_CC10001_ADC=y
CONFIG_ST_UVIS25=y
CONFIG_MMC5983=y
CONFIG_MFD_RC5T583=y
CONFIG_IMG_ASCII_LCD=y
CONFIG_X86_HAVE_PAE=y
CONFIG_REGULATOR_FP9931=y
CONFIG_MTD_NAND_STM32_FMC2=y
CONFIG_MEMBARRIER=y
CONFIG_PIC32_EVIC=y
CONFIG_HAVE_RETHOOK=y
CONFIG_DA8XX_DDRCTL=y
CONFIG_IR_ENE=y
CONFIG_IR_SERIAL=y
CONFIG_QFMT_V2=y
CONFIG_REGULATOR_DA9210=y
CONFIG_CRYPTO_SEQIV=y
CONFIG_DEBUG_GPIO=y
CONFIG_PINCTRL_OCELOT=y
CONFIG_AS_HAS_NON_CONST_ULEB128=y
CONFIG_FB_MODE_HELPERS=y
CONFIG_RMI4_F55=y
CONFIG_CEC_CORE=y
CONFIG_TMP117=y
CONFIG_USB_OXU210HP_HCD=y
CONFIG_SENSORS_MAX31760=y
CONFIG_MSM_MMCC_8960=y
CONFIG_UAPI_HEADER_TEST=y
CONFIG_UIO=y
CONFIG_WW_MUTEX_SELFTEST=y
CONFIG_RTC_DRV_OMAP=y
CONFIG_I2C_DESIGNWARE_CORE=y
CONFIG_PINCTRL_ELIZA=y
CONFIG_IIO_CONFIGFS=y
CONFIG_TCG_TIS_ST33ZP24=y
CONFIG_SM_CAMCC_4450=y
CONFIG_HID_XINMO=y
CONFIG_FSI_MASTER_HUB=y
CONFIG_MTK_GPUEB_MBOX=y
CONFIG_KEYBOARD_TCA8418=y
CONFIG_SERIO_I8042=y
CONFIG_CHARGER_BD99954=y
CONFIG_IR_IMON=y
CONFIG_PINCTRL_CANNONLAKE=y
CONFIG_XARRAY_MULTI=y
CONFIG_GPIO_ZYNQMP_MODEPIN=y
CONFIG_FB_IOMEM_FOPS=y
CONFIG_MFD_MADERA_SPI=y
CONFIG_USB_STORAGE_ALAUDA=y
CONFIG_SPI_SUN6I=y
CONFIG_GPIO_TPS65219=y
CONFIG_REGULATOR_MAX77802=y
CONFIG_IPMI_IPMB=y
CONFIG_PHY_FSL_IMX8M_PCIE=y
CONFIG_ARCH_DEFAULT_CRASH_DUMP=y
CONFIG_DW_APB_TIMER=y
CONFIG_ZSTD_DECOMPRESS=y
CONFIG_SPI_SLAVE=y
CONFIG_MTD_BRCM_U_BOOT=y
CONFIG_USB_LINK_LAYER_TEST=y
CONFIG_INPUT_ATI_REMOTE2=y
CONFIG_VEML6075=y
CONFIG_IR_IMG=y
CONFIG_OID_REGISTRY=y
CONFIG_CLK_BCM_KONA=y
CONFIG_RESET_BRCMSTB_RESCAL=y
CONFIG_USB_G_HID=y
CONFIG_INTEL_TH_PTI=y
CONFIG_IMX_MBOX=y
CONFIG_K3_THERMAL=y
CONFIG_PKCS8_PRIVATE_KEY_PARSER=y
CONFIG_REGULATOR_WM8350=y
CONFIG_UHID=y
CONFIG_PAGE_SIZE_LESS_THAN_64KB=y
CONFIG_SPI_RZV2H_RSPI=y
CONFIG_SECURITY_LOCKDOWN_LSM=y
CONFIG_PINCTRL_SDX65=y
CONFIG_SM_GCC_4450=y
CONFIG_SPMI_PMIC_CLKDIV=y
CONFIG_CLK_NORD_TCSRCC=y
CONFIG_CLK_X1P42100_CAMCC=y
CONFIG_RTC_DRV_DS3232=y
CONFIG_COMMON_CLK_MT8516=y
CONFIG_HID_CREATIVE_SB0540=y
CONFIG_MDM_GCC_9607=y
CONFIG_IIO_ST_MAGN_3AXIS=y
CONFIG_LEDS_TRIGGER_ACTIVITY=y
CONFIG_PHY_TEGRA194_P2U=y
CONFIG_VIRTIO=y
CONFIG_REGULATOR_LOCHNAGAR=y
CONFIG_PARPORT=y
CONFIG_CLK_RK3188=y
CONFIG_THERMAL_CORE_TESTING=y
CONFIG_MFD_DA9150=y
CONFIG_INPUT_IQS7222=y
CONFIG_INPUT_GPIO_VIBRA=y
CONFIG_SM_GCC_8650=y
CONFIG_AHCI_IMX=y
CONFIG_QUOTA=y
CONFIG_RANDSTRUCT_NONE=y
CONFIG_MCP4018=y
CONFIG_MITIGATION_SPECTRE_V2=y
CONFIG_LCD_PLATFORM=y
CONFIG_I2C_ZHAOXIN=y
CONFIG_REGULATOR_MAX20411=y
CONFIG_MTD_NAND_ECC_SW_HAMMING_SMC=y
CONFIG_CLK_R8A7791=y
CONFIG_X509_CERTIFICATE_PARSER=y
CONFIG_AD5272=y
CONFIG_USB_CYPRESS_CY7C63=y
CONFIG_SENSORS_SCH5627=y
CONFIG_PHY_MTK_HDMI=y
CONFIG_PREEMPTIRQ_TRACEPOINTS=y
CONFIG_SENSORS_OCC=y
CONFIG_DETECT_HUNG_TASK=y
CONFIG_KEBA_LAN9252=y
CONFIG_PINCTRL_IMX8MP=y
CONFIG_REGMAP=y
CONFIG_SPI_MXIC=y
CONFIG_CRYPTO_SM3=y
CONFIG_EEPROM_MAX6875=y
CONFIG_MAX5432=y
CONFIG_X86_REROUTE_FOR_BROKEN_BOOT_IRQS=y
CONFIG_PHY_MTK_XSPHY=y
CONFIG_MTD_UBI_BLOCK=y
CONFIG_RTC_DRV_DS1553=y
CONFIG_ICP10100=y
CONFIG_SPI_XCOMM=y
CONFIG_TYPEC_HD3SS3220=y
CONFIG_EXTCON_MAX14526=y
CONFIG_MFD_SIMPLE_MFD_I2C=y
CONFIG_IPMI_DMI_DECODE=y
CONFIG_APPLE_SART=y
CONFIG_USB_GADGET_DEBUG_FS=y
CONFIG_INPUT_ATMEL_CAPTOUCH=y
CONFIG_FB_SYS_FILLRECT=y
CONFIG_SERIAL_8250_MEN_MCB=y
CONFIG_BCM_KONA_WDT=y
CONFIG_FB_SH_MOBILE_LCDC=y
CONFIG_OMAP5_THERMAL=y
CONFIG_GENERIC_ISA_DMA=y
CONFIG_NEED_SG_DMA_LENGTH=y
CONFIG_QCOM_VADC_COMMON=y
CONFIG_X86_NEED_RELOCS=y
CONFIG_LEDS_BCM6328=y
CONFIG_I2C_SLAVE_TESTUNIT=y
CONFIG_SPI_ROCKCHIP_SFC=y
CONFIG_PANEL=y
CONFIG_HAVE_KPROBES=y
CONFIG_VEML3328=y
CONFIG_RV_MON_RTAPP=y
CONFIG_MCHP_EIC=y
CONFIG_AOSONG_AGS02MA=y
CONFIG_KEYBOARD_ST_KEYSCAN=y
CONFIG_INPUT_IQS269A=y
CONFIG_MTD_NAND_CORE=y
CONFIG_CEC_NXP_TDA9950=y
CONFIG_SENSORS_LTC4283=y
CONFIG_LEDS_USER=y
CONFIG_PINCTRL_UNIPHIER_NX1=y
CONFIG_BACKLIGHT_MAX8925=y
CONFIG_LMP91000=y
CONFIG_MLX90635=y
CONFIG_NSM=y
CONFIG_CLK_RK3562=y
CONFIG_GPIO_REGMAP=y
CONFIG_REGULATOR_RT8092=y
CONFIG_X86_DISABLED_FEATURE_CALL_DEPTH=y
CONFIG_QCOM_SPMI_ADC5_GEN3=y
CONFIG_DAVINCI_TIMER=y
CONFIG_PINCTRL_SUNRISEPOINT=y
CONFIG_PM_OPP=y
CONFIG_GPIO_XRA1403=y
CONFIG_BLK_INLINE_ENCRYPTION=y
CONFIG_LEDS_TCA6507=y
CONFIG_IIO_ADIS_LIB_BUFFER=y
CONFIG_PINCTRL_MESON8_PMX=y
CONFIG_HEADERS_INSTALL=y
CONFIG_DEBUG_MUTEXES=y
CONFIG_SENSORS_NZXT_SMART2=y
CONFIG_LEDS_TRIGGER_DEFAULT_ON=y
CONFIG_AD7606_IFACE_SPI=y
CONFIG_SENSORS_CORETEMP=y
CONFIG_INPUT_DRV2667_HAPTICS=y
CONFIG_RCU_TRACE=y
CONFIG_IB700_WDT=y
CONFIG_CRYPTO_ECDH=y
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO=y
CONFIG_RTC_DRV_JZ4740=y
CONFIG_TEE=y
CONFIG_CONSOLE_TRANSLATIONS=y
CONFIG_MENZ069_WATCHDOG=y
CONFIG_MFD_HI6421_SPMI=y
CONFIG_APDS9300=y
CONFIG_ROCKCHIP_MBOX=y
CONFIG_FB_BROADSHEET=y
CONFIG_COMMON_CLK_SI570=y
CONFIG_LOCK_DEBUGGING_SUPPORT=y
CONFIG_ACPI_SLEEP=y
CONFIG_SAMPLE_VFIO_MDEV_MTTY=y
CONFIG_PINCTRL_SM7150=y
CONFIG_MOXART_WDT=y
CONFIG_INTEL_TCC=y
CONFIG_SENSORS_IIO_HWMON=y
CONFIG_USB_EHCI_HCD=y
CONFIG_SERIAL_8250_PNP=y
CONFIG_REGULATOR_MAX77650=y
CONFIG_CONTEXT_SWITCH_TRACER=y
CONFIG_CRYPTO_AEGIS128=y
CONFIG_CC_HAS_NAMED_AS=y
CONFIG_PINCTRL_MT6893=y
CONFIG_EXT4_FS=y
CONFIG_PINCTRL_MESON=y
CONFIG_CHARGER_BQ2515X=y
CONFIG_CRYPTO_SKCIPHER=y
CONFIG_ZERO_CALL_USED_REGS=y
CONFIG_TEGRA_HOST1X_CONTEXT_BUS=y
CONFIG_KEYS=y
CONFIG_TARGET_CORE=y
CONFIG_SPARSEMEM_STATIC=y
CONFIG_FXOS8700_I2C=y
CONFIG_MAGIC_SYSRQ=y
CONFIG_BERLIN2_ADC=y
CONFIG_DEBUG_BUGVERBOSE_DETAILED=y
CONFIG_PHY_HI3670_USB=y
CONFIG_ARCH_CORRECT_STACKTRACE_ON_KRETPROBE=y
CONFIG_POLARFIRE_SOC_MAILBOX=y
CONFIG_EVENT_TRACING=y
CONFIG_MTK_MFG_PM_DOMAIN=y
CONFIG_SCHED_STACK_END_CHECK=y
CONFIG_GPIO_VIRTUSER=y
CONFIG_MFD_RK8XX_I2C=y
CONFIG_PANTHERLORD_FF=y
CONFIG_GPIO_SHARED_PROXY=y
CONFIG_PINCTRL_MT7629=y
CONFIG_I2C_HID_ACPI=y
CONFIG_SENSORS_INA2XX=y
CONFIG_PM_SLEEP=y
CONFIG_RC_DEVICES=y
CONFIG_RTC_DRV_MV=y
CONFIG_ALTERA_PR_IP_CORE=y
CONFIG_HID_AUREAL=y
CONFIG_OLD_SIGSUSPEND3=y
CONFIG_SENSORS_W83795=y
CONFIG_PINCTRL_PFC_R8A779F0=y
CONFIG_MSM_MMCC_8974=y
CONFIG_INPUT_SC27XX_VIBRA=y
CONFIG_LCD_L4F00242T03=y
CONFIG_ST_LPC_WATCHDOG=y
CONFIG_SPI_STM32_OSPI=y
CONFIG_ACPI_PROCESSOR_CSTATE=y
CONFIG_MFD_ATC260X_I2C=y
CONFIG_TICK_ONESHOT=y
CONFIG_SI7210=y
CONFIG_USB_DWC3_DUAL_ROLE=y
CONFIG_FSI_SCOM=y
CONFIG_MFD_MAX77693=y
CONFIG_ZONE_DMA=y
CONFIG_CORDIC=y
CONFIG_QCOM_SMEM=y
CONFIG_CRYPTO_LIB_SHA256=y
CONFIG_GPIO_SHARED=y
CONFIG_FS_POSIX_ACL=y
CONFIG_ARCH_USE_MEMTEST=y
CONFIG_LIST_HARDENED=y
CONFIG_I2C_RIIC=y
