CONFIG_USB_EHCI_HCD_PLATFORM=n
CONFIG_BINFMT_ELF=n
CONFIG_CAN=n
CONFIG_ERRATA_SIFIVE=n
CONFIG_MTD_MAP_BANK_WIDTH_4=n
CONFIG_GPIO_SIFIVE=n
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO_BARE=n
CONFIG_SELECT_MEMORY_MODEL=n
CONFIG_NET_VENDOR_SILAN=n
CONFIG_CC_HAS_INT128=n
CONFIG_MEMBARRIER=n
CONFIG_RISCV_ISA_ZBA=n
CONFIG_POWER_SUPPLY=n
CONFIG_ARCH_HAS_PREPARE_SYNC_CORE_CMD=n
CONFIG_SND_JACK=n
CONFIG_INET_DIAG=n
CONFIG_GENERIC_IRQ_ENTRY=n
CONFIG_BITREVERSE=n
CONFIG_RISCV_ISA_SVPBMT=n
CONFIG_ARCH_VIRT=n
CONFIG_EFI_EARLYCON=n
CONFIG_CACHEMAINT_FOR_DMA=n
CONFIG_USB_CONFIGFS_RNDIS=n
CONFIG_WLAN_VENDOR_MEDIATEK=n
CONFIG_HID_GENERIC=n
CONFIG_NETFILTER_INGRESS=n
CONFIG_CGROUP_WRITEBACK=n
CONFIG_GCC_ASM_GOTO_OUTPUT_BROKEN=n
CONFIG_TRACEPOINTS=n
CONFIG_DRM_SUBALLOC_HELPER=n
CONFIG_SND_CTL_FAST_LOOKUP=n
CONFIG_CC_HAS_NO_PROFILE_FN_ATTR=n
CONFIG_ARCH_SIFIVE=n
CONFIG_PAGE_MAPCOUNT=n
CONFIG_ACPI_PPTT=n
CONFIG_HW_RANDOM_JH7110=n
CONFIG_SECURITY_APPARMOR_EXPORT_BINARY=n
CONFIG_MODULES=n
CONFIG_NETFS_SUPPORT=n
CONFIG_PCIE_PLDA_HOST=n
CONFIG_NF_LOG_ARP=n
CONFIG_HAVE_ARCH_JUMP_LABEL_RELATIVE=n
CONFIG_MD=n
CONFIG_VIDEO_DEV=n
CONFIG_PADATA=n
CONFIG_HAS_IOPORT_MAP=n
CONFIG_PCIE_STARFIVE_HOST=n
CONFIG_OF_EARLY_FLATTREE=n
CONFIG_WLAN=n
CONFIG_SYSVIPC_SYSCTL=n
CONFIG_FPU=n
CONFIG_ARCH_KEEP_MEMBLOCK=n
CONFIG_ARCH_WEAK_RELEASE_ACQUIRE=n
CONFIG_MQ_IOSCHED_DEADLINE=n
CONFIG_GPIO_GENERIC=n
CONFIG_RANDSTRUCT_NONE=n
CONFIG_ARCH_HAS_SYNC_DMA_FOR_CPU=n
CONFIG_MCHP_CLK_MPFS=n
CONFIG_I2C=n
CONFIG_PWM=n
CONFIG_ARCH_CANAAN=n
CONFIG_POWER_SUPPLY_HWMON=n
CONFIG_FAILOVER=n
CONFIG_HAVE_KERNEL_BZIP2=n
CONFIG_MFD_SPACEMIT_P1=n
CONFIG_TOOLCHAIN_HAS_ZBA=n
CONFIG_GPIOLIB=n
CONFIG_FIX_EARLYCON_MEM=n
CONFIG_EXT4_FS_SECURITY=n
CONFIG_ATA_VERBOSE_ERROR=n
CONFIG_PAGE_SIZE_LESS_THAN_64KB=n
CONFIG_NET_VENDOR_DEC=n
CONFIG_PINCTRL_SUNXI=n
CONFIG_CRYPTO_KPP2=n
CONFIG_EEPROM_93CX6=n
CONFIG_CPU_MITIGATIONS=n
CONFIG_HAVE_RETHOOK=n
CONFIG_HAVE_ARCH_JUMP_LABEL=n
CONFIG_AF_UNIX_OOB=n
CONFIG_ARCH_MICROCHIP=n
CONFIG_HAS_SECURITY_AUDIT=n
CONFIG_WLAN_VENDOR_ZYDAS=n
CONFIG_SND_SOC_SDCA_OPTIONAL=n
CONFIG_NETFILTER_EGRESS=n
CONFIG_RISCV_APLIC_MSI=n
CONFIG_XZ_DEC_BCJ=n
CONFIG_HAVE_GENERIC_VDSO=n
CONFIG_XZ_DEC_ARMTHUMB=n
CONFIG_KERNFS=n
CONFIG_EXT4_FS_POSIX_ACL=n
CONFIG_UPROBES=n
CONFIG_HUGETLB_PMD_PAGE_TABLE_SHARING=n
CONFIG_CRYPTO_USER_API_HASH=n
CONFIG_GENERIC_IRQ_MIGRATION=n
CONFIG_SND_SOC_I2C_AND_SPI=n
CONFIG_IRQ_DOMAIN=n
CONFIG_WLAN_VENDOR_ADMTEK=n
CONFIG_USB_COMMON=n
CONFIG_SUN55I_PCK600=n
CONFIG_RUNTIME_KERNEL_TESTING_MENU=n
CONFIG_ASN1=n
CONFIG_CORE_DUMP_DEFAULT_ELF_HEADERS=n
CONFIG_PROFILING=n
CONFIG_BLK_DEV_WRITE_MOUNTED=n
CONFIG_SWAP=n
CONFIG_CC_NO_ARRAY_BOUNDS=n
CONFIG_LEGACY_PTYS=n
CONFIG_NET_VENDOR_ARC=n
CONFIG_DQL=n
CONFIG_USB_CDNSP_PCI=n
CONFIG_DRM_BRIDGE=n
CONFIG_IIO=n
CONFIG_XZ_DEC_RISCV=n
CONFIG_GENERIC_IRQ_IPI_MUX=n
CONFIG_BLOCK=n
CONFIG_USB_DEFAULT_PERSIST=n
CONFIG_CRYPTO_AUTHENC=n
CONFIG_CLK_SOPHGO_SG2042_CLKGEN=n
CONFIG_WATCHDOG=n
CONFIG_NET_VENDOR_MICREL=n
CONFIG_POSIX_CPU_TIMERS_TASK_WORK=n
CONFIG_SUNXI_SRAM=n
CONFIG_HAVE_ARCH_SOFT_DIRTY=n
CONFIG_SYSVIPC=n
CONFIG_SYSFS=n
CONFIG_AUXILIARY_BUS=n
CONFIG_SPI_FSL_QUADSPI=n
CONFIG_COMPAT=n
CONFIG_VHOST_ENABLE_FORK_OWNER_CONTROL=n
CONFIG_OVERLAY_FS=n
CONFIG_TENSTORRENT_ATLANTIS_PRCM=n
CONFIG_FB_DMAMEM_HELPERS=n
CONFIG_HUGETLB_PAGE_OPTIMIZE_VMEMMAP=n
CONFIG_ARCH_SUPPORTS_PER_VMA_LOCK=n
CONFIG_ARCH_HAS_STRICT_KERNEL_RWX=n
CONFIG_PHY_SUN6I_MIPI_DPHY=n
CONFIG_SERIAL_SIFIVE_CONSOLE=n
CONFIG_LIBFDT=n
CONFIG_VIRTIO_BALLOON=n
CONFIG_GOLDFISH=n
CONFIG_PCIE_SPACEMIT_K1=n
CONFIG_CRYPTO_KRB5=n
CONFIG_CRYPTO_DEV_ALLWINNER=n
CONFIG_HAVE_ARCH_AUDITSYSCALL=n
CONFIG_ARCH_SELECT_MEMORY_MODEL=n
CONFIG_RISCV_COMBO_SPINLOCKS=n
CONFIG_ARCH_HAS_STRICT_MODULE_RWX=n
CONFIG_CPU_PM=n
CONFIG_CRYPTO_HASH2=n
CONFIG_HAVE_PERF_USER_STACK_DUMP=n
CONFIG_RISCV_RPMI_SYSMSI=n
CONFIG_PINCTRL_TH1520=n
CONFIG_USB_STORAGE=n
CONFIG_ACPI_BUTTON=n
CONFIG_MODULES_TREE_LOOKUP=n
CONFIG_TREE_RCU=n
CONFIG_RTC_INTF_PROC=n
CONFIG_SPI_SPACEMIT_K1=n
CONFIG_CONSOLE_TRANSLATIONS=n
CONFIG_CAN_GW=n
CONFIG_NET_VENDOR_AMAZON=n
CONFIG_SECTION_MISMATCH_WARN_ONLY=n
CONFIG_CONTEXT_TRACKING_IDLE=n
CONFIG_PHYS_ADDR_T_64BIT=n
CONFIG_USB_CONFIGFS_ECM=n
CONFIG_IO_WQ=n
CONFIG_MTD_CFI=n
CONFIG_AIO=n
CONFIG_RISCV=n
CONFIG_MQ_IOSCHED_KYBER=n
CONFIG_ARCH_SUPPORTS_KEXEC=n
CONFIG_ARCH_ANDES=n
CONFIG_NVME_CORE=n
CONFIG_CPUFREQ_DT_PLATDEV=n
CONFIG_RWSEM_SPIN_ON_OWNER=n
CONFIG_MAILBOX=n
CONFIG_HAVE_ASM_MODVERSIONS=n
CONFIG_ARCH_DMA_DEFAULT_COHERENT=n
CONFIG_PREEMPT_LAZY=n
CONFIG_HAVE_SOFTIRQ_ON_OWN_STACK=n
CONFIG_PCI=n
CONFIG_MUTEX_SPIN_ON_OWNER=n
CONFIG_ACPI_AC=n
CONFIG_NLS_ISO8859_1=n
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE_PUD=n
CONFIG_HUGETLB_PAGE=n
CONFIG_CGROUP_NET_PRIO=n
CONFIG_MOUSE_PS2_ALPS=n
CONFIG_DRM_NOUVEAU_BACKLIGHT=n
CONFIG_CGROUP_PERF=n
CONFIG_RISCV_SBI_MPXY_MBOX=n
CONFIG_GENERIC_PINCONF=n
CONFIG_GRACE_PERIOD=n
CONFIG_MPILIB=n
CONFIG_CPU_FREQ_GOV_POWERSAVE=n
CONFIG_ARCH_ENABLE_MEMORY_HOTPLUG=n
CONFIG_MMC_DW_PLTFM=n
CONFIG_DRM_RADEON=n
CONFIG_CACHESTAT_SYSCALL=n
CONFIG_GCC_NO_STRINGOP_OVERFLOW=n
CONFIG_TMPFS_POSIX_ACL=n
CONFIG_SERIAL_EARLYCON_RISCV_SBI=n
CONFIG_DMA_ENGINE=n
CONFIG_PCI_DOMAINS=n
CONFIG_CC_HAVE_STACKPROTECTOR_TLS=n
CONFIG_DM_BIO_PRISON=n
CONFIG_VIRTUALIZATION=n
CONFIG_ERRATA_ANDES=n
CONFIG_PWM_PXA=n
CONFIG_FB_IOMEM_FOPS=n
CONFIG_NET_VENDOR_SPACEMIT=n
CONFIG_GENERIC_IOREMAP=n
CONFIG_VIRTIO_MMIO=n
CONFIG_OID_REGISTRY=n
CONFIG_SCSI_MOD=n
CONFIG_ARCH_HAS_PREEMPT_LAZY=n
CONFIG_NET_VENDOR_REALTEK=n
CONFIG_SPLIT_PTE_PTLOCKS=n
CONFIG_UNINLINE_SPIN_UNLOCK=n
CONFIG_GENERIC_IRQ_MULTI_HANDLER=n
CONFIG_RUSTC_SUPPORTS_RISCV=n
CONFIG_OF_ADDRESS=n
CONFIG_NET_RX_BUSY_POLL=n
CONFIG_ARCH_WANT_FRAME_POINTERS=n
CONFIG_STRICT_MODULE_RWX=n
CONFIG_RESET_STARFIVE_JH71X0=n
CONFIG_PINCTRL_STARFIVE_JH7110_SYS=n
CONFIG_HAVE_ARCH_MMAP_RND_COMPAT_BITS=n
CONFIG_SATA_PMP=n
CONFIG_SUN20I_D1_R_CCU=n
CONFIG_RT_MUTEXES=n
CONFIG_TIMERFD=n
CONFIG_HAVE_KCSAN_COMPILER=n
CONFIG_NFS_V4_2=n
CONFIG_IRQ_DOMAIN_HIERARCHY=n
CONFIG_PWRSEQ_EMMC=n
CONFIG_SIFIVE_PLIC=n
CONFIG_CRYPTO_KRB5ENC=n
CONFIG_RISCV_ISA_ZBB=n
CONFIG_ACPI_MCFG=n
CONFIG_PM_SLEEP=n
CONFIG_USB_OHCI_HCD_PLATFORM=n
CONFIG_INET=n
CONFIG_BLK_MQ_STACKING=n
CONFIG_GENERIC_HWEIGHT=n
CONFIG_FB_CFB_FILLRECT=n
CONFIG_BLK_DEV_SD=n
CONFIG_CLK_SOPHGO_CV1800=n
CONFIG_NETFILTER_XT_MATCH_IPVS=n
CONFIG_RISCV_ALTERNATIVE=n
CONFIG_DRM_KMS_HELPER=n
CONFIG_ARCH_SPARSEMEM_ENABLE=n
CONFIG_MSDOS_FS=n
CONFIG_ARCH_HAS_MMIOWB=n
CONFIG_ND_CLAIM=n
CONFIG_CPU_FREQ_GOV_USERSPACE=n
CONFIG_IOMMU_SUPPORT=n
CONFIG_USB_F_MASS_STORAGE=n
CONFIG_SCHED_CACHE=n
CONFIG_ATA_SFF=n
CONFIG_NET_VENDOR_EMULEX=n
CONFIG_DRM=n
CONFIG_NETDEVICES=n
CONFIG_RANDOMIZE_KSTACK_OFFSET=n
CONFIG_LOCKD=n
CONFIG_PM_OPP=n
CONFIG_RPMSG=n
CONFIG_BACKLIGHT_CLASS_DEVICE=n
CONFIG_WLAN_VENDOR_BROADCOM=n
CONFIG_NET_VENDOR_SAMSUNG=n
CONFIG_PNFS_BLOCK=n
CONFIG_CRYPTO_LIB_BLAKE2B=n
CONFIG_HAVE_PCI=n
CONFIG_VGA_ARB=n
CONFIG_SUNRPC_BACKCHANNEL=n
CONFIG_CGROUP_PIDS=n
CONFIG_INPUT_VIVALDIFMAP=n
CONFIG_PCI_MSI=n
CONFIG_SPI_SIFIVE=n
CONFIG_CRYPTO_ECHAINIV=n
CONFIG_IP_VS=n
CONFIG_DMA_VIRTUAL_CHANNELS=n
CONFIG_BLK_PM=n
CONFIG_ARCH_HAS_TICK_BROADCAST=n
CONFIG_NET_VENDOR_SOLARFLARE=n
CONFIG_NET_VENDOR_MUCSE=n
CONFIG_PINCTRL_SOPHGO_CV1800B=n
CONFIG_USB_CONFIGFS_NCM=n
CONFIG_NET_VENDOR_ADI=n
CONFIG_SIFIVE_CCACHE=n
CONFIG_MTD_MAP_BANK_WIDTH_1=n
CONFIG_DNOTIFY=n
CONFIG_ARCH_USE_MEMTEST=n
CONFIG_CC_HAS_AUTO_VAR_INIT_PATTERN=n
CONFIG_DEVTMPFS=n
CONFIG_RESET_STARFIVE_JH7110=n
CONFIG_SYSCTL_EXCEPTION_TRACE=n
CONFIG_MMC_CQHCI=n
CONFIG_NETFILTER_XT_MATCH_CONNTRACK=n
CONFIG_WLAN_VENDOR_REALTEK=n
