CONFIG_XFRM_ALGO=n
CONFIG_NF_CONNTRACK=n
CONFIG_SELECT_MEMORY_MODEL=n
CONFIG_SOFTIRQ_ON_OWN_STACK=n
CONFIG_HAVE_ARCH_HUGE_VMALLOC=n
CONFIG_NETFILTER_EGRESS=n
CONFIG_CAN=n
CONFIG_USB_F_MASS_STORAGE=n
CONFIG_PINCTRL_STARFIVE_JH7100=n
CONFIG_SECCOMP=n
CONFIG_HW_RANDOM=n
CONFIG_SUN55I_PCK600=n
CONFIG_RISCV_SBI_CPUIDLE=n
CONFIG_MODULE_UNLOAD=n
CONFIG_HAVE_ARCH_KASAN_VMALLOC=n
CONFIG_ACPI_PPTT=n
CONFIG_DRM_CLIENT_SETUP=n
CONFIG_CC_HAS_ASM_INLINE=n
CONFIG_GPIO_SIFIVE=n
CONFIG_DMA_DECLARE_COHERENT=n
CONFIG_FIX_EARLYCON_MEM=n
CONFIG_AS_IS_GNU=n
CONFIG_PT_RECLAIM=n
CONFIG_CRYPTO_SIG=n
CONFIG_NF_LOG_IPV6=n
CONFIG_HAVE_KVM_DIRTY_RING=n
CONFIG_DUMMY_CONSOLE=n
CONFIG_ACPI_CPPC_CPUFREQ=n
CONFIG_SECURITY_APPARMOR_HASH_DEFAULT=n
CONFIG_GENERIC_PHY_MIPI_DPHY=n
CONFIG_BLOCK_LEGACY_AUTOLOAD=n
CONFIG_RESET_TENSTORRENT_ATLANTIS=n
CONFIG_PM_SLEEP_SMP=n
CONFIG_IO_URING_BPF=n
CONFIG_PROC_FS=n
CONFIG_TRACEFS_AUTOMOUNT_DEPRECATED=n
CONFIG_FHANDLE=n
CONFIG_REGMAP=n
CONFIG_ARCH_USE_QUEUED_RWLOCKS=n
CONFIG_INET_ESP=n
CONFIG_BLK_DEV_INITRD=n
CONFIG_THERMAL_OF=n
CONFIG_SND_PROC_FS=n
CONFIG_RTC_INTF_PROC=n
CONFIG_HUGETLBFS=n
CONFIG_ERRATA_THEAD_GHOSTWRITE=n
CONFIG_CACHEMAINT_FOR_DMA=n
CONFIG_STACKPROTECTOR_PER_TASK=n
CONFIG_CRYPTO_SHA256=n
CONFIG_GENERIC_GETTIMEOFDAY=n
CONFIG_NETWORK_FILESYSTEMS=n
CONFIG_USB_F_OBEX=n
CONFIG_NET_VENDOR_SYNOPSYS=n
CONFIG_HAVE_KERNEL_XZ=n
CONFIG_SECTION_MISMATCH_WARN_ONLY=n
CONFIG_ARCH_HAS_STRICT_KERNEL_RWX=n
CONFIG_CRYPTO_USER_API_ENABLE_OBSOLETE=n
CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE=n
CONFIG_NET_FAILOVER=n
CONFIG_PCIE_STARFIVE_HOST=n
CONFIG_DRM_TTM=n
CONFIG_CACHESTAT_SYSCALL=n
CONFIG_GENERIC_TIME_VSYSCALL=n
CONFIG_POWER_SEQUENCING=n
CONFIG_HAVE_STACKPROTECTOR=n
CONFIG_SUSPEND_FREEZER=n
CONFIG_WLAN_VENDOR_INTEL=n
CONFIG_ARCH_WANTS_NO_INSTR=n
CONFIG_DRM_CLIENT_DEFAULT_FBDEV=n
CONFIG_SLAB_MERGE_DEFAULT=n
CONFIG_CRC32=n
CONFIG_BTT=n
CONFIG_EEPROM_93CX6=n
CONFIG_HAVE_KVM_IRQCHIP=n
CONFIG_BUG=n
CONFIG_SLUB=n
CONFIG_CRYPTO_KPP=n
CONFIG_DMA_BOUNCE_UNALIGNED_KMALLOC=n
CONFIG_STRICT_KERNEL_RWX=n
CONFIG_RESET_STARFIVE_JH7110=n
CONFIG_CRC16=n
CONFIG_POSIX_MQUEUE=n
CONFIG_ARCH_SUPPORTS_LTO_CLANG_THIN=n
CONFIG_REGULATOR=n
CONFIG_BALLOON=n
CONFIG_SND_PCM=n
CONFIG_VIRTIO_ANCHOR=n
CONFIG_IP6_NF_IPTABLES=n
CONFIG_STMMAC_PLATFORM=n
CONFIG_NET_VENDOR_AMD=n
CONFIG_INET_TUNNEL=n
CONFIG_ARCH_HAS_KCOV=n
CONFIG_USB_CDNS_SUPPORT=n
CONFIG_RTC_DRV_SUN6I=n
CONFIG_PCI_QUIRKS=n
CONFIG_USB_EHCI_PCI=n
CONFIG_SOUND=n
CONFIG_POWER_RESET_SPACEMIT_P1=n
CONFIG_DT_IDLE_STATES=n
CONFIG_DMA_VIRTUAL_CHANNELS=n
CONFIG_MFD_SYSCON=n
CONFIG_CGROUPS=n
CONFIG_SERIAL_CORE_CONSOLE=n
CONFIG_PNFS_FLEXFILE_LAYOUT=n
CONFIG_CONTEXT_SWITCH_TRACER=n
CONFIG_WLAN_VENDOR_QUANTENNA=n
CONFIG_FB_CFB_FILLRECT=n
CONFIG_NET_VENDOR_8390=n
CONFIG_NET_VENDOR_CISCO=n
CONFIG_SECURITY=n
CONFIG_DIMLIB=n
CONFIG_ARCH_MICROCHIP_POLARFIRE=n
CONFIG_IP_NF_IPTABLES=n
CONFIG_NO_HZ_IDLE=n
CONFIG_NET_VENDOR_MICROSOFT=n
CONFIG_CPU_FREQ_DEFAULT_GOV_PERFORMANCE=n
CONFIG_SG_POOL=n
CONFIG_PINCTRL_SOPHGO_CV1800B=n
CONFIG_PHY_STARFIVE_JH7110_USB=n
CONFIG_RCU_TRACE=n
CONFIG_FRAMEBUFFER_CONSOLE_DETECT_PRIMARY=n
CONFIG_CGROUP_PERF=n
CONFIG_PREEMPT_BUILD=n
CONFIG_ARCH_HAS_SYNC_DMA_FOR_CPU=n
CONFIG_OF_FLATTREE=n
CONFIG_XZ_DEC_X86=n
CONFIG_COMMON_CLK=n
CONFIG_BLK_CGROUP_RWSTAT=n
CONFIG_SECURITY_APPARMOR=n
CONFIG_HAVE_ARCH_AUDITSYSCALL=n
CONFIG_USB_U_SERIAL=n
CONFIG_RAID6_PQ=n
CONFIG_HAVE_KCSAN_COMPILER=n
CONFIG_KALLSYMS=n
CONFIG_PM_DEVFREQ=n
CONFIG_GENERIC_CLOCKEVENTS=n
CONFIG_NET_RX_BUSY_POLL=n
CONFIG_MAILBOX=n
CONFIG_IP_PNP=n
CONFIG_ERRATA_THEAD_PMU=n
CONFIG_KVM=n
CONFIG_ARCH_USE_MEMTEST=n
CONFIG_VIRTIO_PCI_LEGACY=n
CONFIG_GROUP_SCHED_BANDWIDTH=n
CONFIG_IP6_NF_MATCH_IPV6HEADER=n
CONFIG_RTC_INTF_SYSFS=n
CONFIG_HAVE_KVM_IRQ_ROUTING=n
CONFIG_VGA_ARB=n
CONFIG_USER_NS=n
CONFIG_I3C_OR_I2C=n
CONFIG_XZ_DEC_RISCV=n
CONFIG_VMAP_STACK=n
CONFIG_ERRATA_THEAD_CMO=n
CONFIG_HAVE_GIGANTIC_FOLIOS=n
CONFIG_EXT4_FS=n
CONFIG_RPMSG_CTRL=n
CONFIG_PCIE_DW=n
CONFIG_MOUSE_PS2=n
CONFIG_ARCH_HAS_MEMBARRIER_SYNC_CORE=n
CONFIG_COMPAT_BINFMT_ELF=n
CONFIG_EFI_PARAMS_FROM_FDT=n
CONFIG_GENERIC_ARCH_TOPOLOGY=n
CONFIG_RUNTIME_KERNEL_TESTING_MENU=n
CONFIG_VIRTIO_CONSOLE=n
CONFIG_IRQCHIP=n
CONFIG_NET_UDP_TUNNEL=n
CONFIG_RISCV_ALTERNATIVE=n
CONFIG_WLAN_VENDOR_RSI=n
CONFIG_MD=n
CONFIG_SND_PCI=n
CONFIG_HAVE_KERNEL_LZMA=n
CONFIG_PREEMPT_COUNT=n
CONFIG_DYNAMIC_EVENTS=n
CONFIG_NET_XGRESS=n
CONFIG_NETFILTER_BPF_LINK=n
CONFIG_ACPI_PROCESSOR_IDLE=n
CONFIG_ACPI_BUTTON=n
CONFIG_RPMSG=n
CONFIG_XARRAY_MULTI=n
CONFIG_CMODEL_MEDANY=n
CONFIG_USB_CONFIGFS_F_FS=n
CONFIG_STACKTRACE=n
CONFIG_GRACE_PERIOD=n
CONFIG_CLK_STARFIVE_JH7110_PLL=n
CONFIG_HAVE_ARCH_SOFT_DIRTY=n
CONFIG_EXECMEM=n
CONFIG_CDROM=n
CONFIG_RISCV_SBI=n
CONFIG_CLK_SOPHGO_SG2042_PLL=n
CONFIG_DRM_SUN4I=n
CONFIG_NET_CRC32C=n
CONFIG_IP_PNP_DHCP=n
CONFIG_I2C_DESIGNWARE_CORE=n
CONFIG_MMC=n
CONFIG_OF_IRQ=n
CONFIG_PCIE_DW_HOST=n
CONFIG_ACPI_THERMAL_LIB=n
CONFIG_SENSORS_SFCTEMP=n
CONFIG_NET_VENDOR_MELLANOX=n
CONFIG_FRAMEBUFFER_CONSOLE=n
CONFIG_NETFILTER_XT_MATCH_ADDRTYPE=n
CONFIG_SYNC_FILE=n
CONFIG_MQ_IOSCHED_KYBER=n
CONFIG_VIRTIO_BLK=n
CONFIG_WATCHDOG_CORE=n
CONFIG_SKB_EXTENSIONS=n
CONFIG_BLK_DEV_DM_BUILTIN=n
CONFIG_ARCH_SUPPORTS_KEXEC_FILE=n
CONFIG_DNOTIFY=n
CONFIG_ARCH_SUPPORTS_LTO_CLANG=n
CONFIG_INPUT_KEYBOARD=n
CONFIG_SWIOTLB=n
CONFIG_KCMP=n
CONFIG_NF_LOG_IPV4=n
CONFIG_IP_MULTICAST=n
CONFIG_GENERIC_PENDING_IRQ=n
CONFIG_JH71XX_PMU=n
CONFIG_VIDEO_V4L2_I2C=n
CONFIG_GPIOLIB=n
CONFIG_NET_VENDOR_ENGLEDER=n
CONFIG_I2C=n
CONFIG_USER_STACKTRACE_SUPPORT=n
CONFIG_CFS_BANDWIDTH=n
CONFIG_MEDIA_CONTROLLER=n
CONFIG_GRO_CELLS=n
CONFIG_MEMCG=n
CONFIG_CRC_ITU_T=n
CONFIG_SERIAL_8250=n
CONFIG_RTC_DRV_GOLDFISH=n
CONFIG_SECRETMEM=n
CONFIG_ZLIB_DEFLATE=n
CONFIG_NFS_FS=n
CONFIG_GUEST_PERF_EVENTS=n
CONFIG_INET_TCP_DIAG=n
CONFIG_ATA_VERBOSE_ERROR=n
CONFIG_GENERIC_STRNLEN_USER=n
CONFIG_XOR_BLOCKS=n
CONFIG_SECURITY_APPARMOR_EXPORT_BINARY=n
CONFIG_GENERIC_IRQ_MIGRATION=n
CONFIG_PINMUX=n
CONFIG_ARCH_HAVE_NMI_SAFE_CMPXCHG=n
CONFIG_FB_SYS_IMAGEBLIT=n
CONFIG_CGROUP_NET_CLASSID=n
CONFIG_BLK_MQ_STACKING=n
CONFIG_PHYLINK=n
CONFIG_HAVE_PREEMPT_DYNAMIC_KEY=n
CONFIG_HOTPLUG_CORE_SYNC=n
CONFIG_RAMDAX=n
CONFIG_SYSCTL=n
CONFIG_SYMBOLIC_ERRNAME=n
CONFIG_NF_DEFRAG_IPV6=n
CONFIG_USB_F_ECM=n
CONFIG_HOTPLUG_SPLIT_STARTUP=n
CONFIG_IP_PNP_RARP=n
CONFIG_FB_DEFERRED_IO=n
CONFIG_NET_VENDOR_TI=n
CONFIG_SERIAL_8250_16550A_VARIANTS=n
CONFIG_ARCH_SUPPORTS_INT128=n
CONFIG_BLK_DEV_DM=n
CONFIG_RISCV_ISA_ZBKB=n
CONFIG_CAN_RAW=n
CONFIG_COMPACTION=n
CONFIG_TTY=n
CONFIG_HAVE_IRQ_TIME_ACCOUNTING=n
CONFIG_SPI_CADENCE_QUADSPI=n
CONFIG_SCSI_PROC_FS=n
CONFIG_HAVE_RETHOOK=n
CONFIG_USB_CONFIGFS_ACM=n
CONFIG_USB_F_EEM=n
CONFIG_NET_VENDOR_WANGXUN=n
CONFIG_BRIDGE_VLAN_FILTERING=n
CONFIG_GENERIC_PHY=n
CONFIG_USB_CONFIGFS_ECM=n
CONFIG_MMC_SDHCI=n
CONFIG_ARCH_MHP_MEMMAP_ON_MEMORY_ENABLE=n
CONFIG_LZ4_DECOMPRESS=n
CONFIG_RESET_SUNXI=n
CONFIG_ARCH_SELECT_MEMORY_MODEL=n
CONFIG_WLAN=n
CONFIG_RPMSG_NS=n
CONFIG_WLAN_VENDOR_INTERSIL=n
CONFIG_SND_DRIVERS=n
CONFIG_BFQ_GROUP_IOSCHED=n
CONFIG_BRIDGE_IGMP_SNOOPING=n
CONFIG_SUNXI_WATCHDOG=n
CONFIG_SERIO_LIBPS2=n
CONFIG_CPU_IDLE=n
CONFIG_FREEZER=n
CONFIG_COMPAT_BRK=n
CONFIG_LD_IS_BFD=n
CONFIG_CPU_RMAP=n
CONFIG_CRYPTO_USER_API=n
CONFIG_MEMTEST=n
CONFIG_ETHERNET=n
CONFIG_LIBFDT=n
CONFIG_INPUT_VIVALDIFMAP=n
CONFIG_UNIX=n
CONFIG_AUTOFS_FS=n
CONFIG_MTD=n
CONFIG_ZLIB_INFLATE=n
