CONFIG_SPI_SUN6I=n
CONFIG_MSDOS_FS=n
CONFIG_GENERIC_SYSCALL=n
CONFIG_DEBUG_FS=n
CONFIG_ACPI_MCFG=n
CONFIG_ARCH_SUPPORTS_RT=n
CONFIG_CACHESTAT_SYSCALL=n
CONFIG_SYSFS=n
CONFIG_OF_KOBJ=n
CONFIG_GENERIC_ARCH_TOPOLOGY=n
CONFIG_RISCV_ISA_ZICBOP=n
CONFIG_FB_IOMEM_FOPS=n
CONFIG_SCSI_COMMON=n
CONFIG_VIRTIO_PCI=n
CONFIG_SECCOMP_FILTER=n
CONFIG_RCU_TRACE=n
CONFIG_CAN_CALC_BITTIMING=n
CONFIG_MMU_GATHER_RCU_TABLE_FREE=n
CONFIG_FONT_SUPPORT=n
CONFIG_PINCONF=n
CONFIG_RISCV_ISA_SVRSW60T59B=n
CONFIG_NET_CLS_CGROUP=n
CONFIG_CRYPTO_LIB_GF128HASH=n
CONFIG_TIMERFD=n
CONFIG_NET_SCHED=n
CONFIG_WATCHDOG=n
CONFIG_USB_DEFAULT_PERSIST=n
CONFIG_SND_SIMPLE_CARD_UTILS=n
CONFIG_BLK_DEV=n
CONFIG_SECURITY_APPARMOR_PARANOID_LOAD=n
CONFIG_PINCTRL_TH1520=n
CONFIG_CLK_SIFIVE_PRCI=n
CONFIG_GENERIC_PHY_MIPI_DPHY=n
CONFIG_NET_VENDOR_QLOGIC=n
CONFIG_SPI_CADENCE_QUADSPI=n
CONFIG_PAGE_SIZE_LESS_THAN_256KB=n
CONFIG_HID_GENERIC=n
CONFIG_CPU_IDLE_MULTIPLE_DRIVERS=n
CONFIG_HAVE_CLK_PREPARE=n
CONFIG_CRYPTO_CTR=n
CONFIG_GENERIC_PENDING_IRQ=n
CONFIG_SND_SIMPLE_CARD=n
CONFIG_MMC_SDHCI_OF_K1=n
CONFIG_FB_SYS_COPYAREA=n
CONFIG_HAVE_DEBUG_KMEMLEAK=n
CONFIG_NFS_DISABLE_UDP_SUPPORT=n
CONFIG_RPMSG_NS=n
CONFIG_VIDEO=n
CONFIG_GENERIC_LIB_DEVMEM_IS_ALLOWED=n
CONFIG_XZ_DEC=n
CONFIG_USB_SUPPORT=n
CONFIG_LOCK_DEBUGGING_SUPPORT=n
CONFIG_ND_BTT=n
CONFIG_FRAME_POINTER=n
CONFIG_CPU_FREQ_GOV_ATTR_SET=n
CONFIG_CRYPTO_USER_API_HASH=n
CONFIG_CLK_STARFIVE_JH71X0=n
CONFIG_XZ_DEC_RISCV=n
CONFIG_ARCH_SUPPORTS_ACPI=n
CONFIG_RISCV_ISA_VENDOR_EXT_THEAD=n
CONFIG_RANDSTRUCT_NONE=n
CONFIG_GENERIC_CPU_VULNERABILITIES=n
CONFIG_NET_VENDOR_ALACRITECH=n
CONFIG_PM_GENERIC_DOMAINS_SLEEP=n
CONFIG_CPU_FREQ_GOV_USERSPACE=n
CONFIG_PCS_XPCS=n
CONFIG_CLK_STARFIVE_JH7110_PLL=n
CONFIG_CC_CAN_LINK=n
CONFIG_HAVE_PREEMPT_DYNAMIC=n
CONFIG_SOFTIRQ_ON_OWN_STACK=n
CONFIG_RISCV_ISA_ZICBOM=n
CONFIG_SPARSEMEM=n
CONFIG_LOCALVERSION_AUTO=n
CONFIG_RISCV_ISA_ZBKB=n
CONFIG_RISCV_ISA_ZAWRS=n
CONFIG_ALLOW_DEV_COREDUMP=n
CONFIG_FB_SYSMEM_HELPERS=n
CONFIG_HDMI=n
CONFIG_EXT4_FS=n
CONFIG_RISCV_MISALIGNED=n
CONFIG_INET_TCP_DIAG=n
CONFIG_HAVE_KERNEL_UNCOMPRESSED=n
CONFIG_HAVE_ARCH_KGDB=n
CONFIG_HAVE_KERNEL_ZSTD=n
CONFIG_NET_VENDOR_MICROCHIP=n
CONFIG_EXT4_FS_POSIX_ACL=n
CONFIG_NLS_ISO8859_1=n
CONFIG_POWER_SUPPLY=n
CONFIG_NET_INGRESS=n
CONFIG_INOTIFY_USER=n
CONFIG_DRM_CLIENT_LIB=n
CONFIG_CC_HAVE_STACKPROTECTOR_TLS=n
CONFIG_CRYPTO_SKCIPHER2=n
CONFIG_SUSPEND_FREEZER=n
CONFIG_DWMAC_SUN55I=n
CONFIG_MOUSE_PS2_SYNAPTICS_SMBUS=n
CONFIG_PREEMPT_COUNT=n
CONFIG_SUN50I_IOMMU=n
CONFIG_CPU_RMAP=n
CONFIG_USB_CDNS3_HOST=n
CONFIG_NET_VENDOR_MUCSE=n
CONFIG_NETFILTER_BPF_LINK=n
CONFIG_FRAMEBUFFER_CONSOLE_DETECT_PRIMARY=n
CONFIG_MMC_DW_PLTFM=n
CONFIG_PNFS_FLEXFILE_LAYOUT=n
CONFIG_OVERLAY_FS=n
CONFIG_POWER_RESET=n
CONFIG_JH71XX_PMU=n
CONFIG_MISC_FILESYSTEMS=n
CONFIG_PHYLINK=n
CONFIG_MFD_SYSCON=n
CONFIG_MTD_CFI_NOSWAP=n
CONFIG_GENERIC_IDLE_POLL_SETUP=n
CONFIG_NET_VENDOR_SIS=n
CONFIG_BLK_MQ_STACKING=n
CONFIG_IOMMU_PT_RISCV64=n
CONFIG_FTRACE=n
CONFIG_REGMAP_SPI=n
CONFIG_ARCH_HAS_DEBUG_VIRTUAL=n
CONFIG_HAVE_GCC_PLUGINS=n
CONFIG_HAVE_EBPF_JIT=n
CONFIG_SATA_PMP=n
CONFIG_ADVISE_SYSCALLS=n
CONFIG_HAVE_SAMPLE_FTRACE_DIRECT=n
CONFIG_BUILDTIME_TABLE_SORT=n
CONFIG_MMC=n
CONFIG_SND_TIMER=n
CONFIG_DMA_NONCOHERENT_MMAP=n
CONFIG_GPIO_DWAPB=n
CONFIG_IPVLAN_L3S=n
CONFIG_SND_DRIVERS=n
CONFIG_SND_PCM_TIMER=n
CONFIG_ARCH_HAS_PREEMPT_LAZY=n
CONFIG_SND_PROC_FS=n
CONFIG_SERIAL_8250=n
CONFIG_USER_NS=n
CONFIG_EFI_EARLYCON=n
CONFIG_MOUSE_PS2_SMBUS=n
CONFIG_USB_ARCH_HAS_HCD=n
CONFIG_DRM_NOUVEAU_CH7006=n
CONFIG_OF_IOMMU=n
CONFIG_PINCTRL_SOPHGO_CV1800B=n
CONFIG_CDROM=n
CONFIG_VIRTIO_PCI_LEGACY=n
CONFIG_VGA_ARB=n
CONFIG_RING_BUFFER=n
CONFIG_RISCV_TIMER=n
CONFIG_PWM_PXA=n
CONFIG_SYSVIPC_SYSCTL=n
CONFIG_GENERIC_GETTIMEOFDAY=n
CONFIG_FW_CACHE=n
CONFIG_STACKPROTECTOR_STRONG=n
CONFIG_BLK_DEBUG_FS=n
CONFIG_NETFILTER_INGRESS=n
CONFIG_PAGE_COUNTER=n
CONFIG_GENERIC_ALLOCATOR=n
CONFIG_SUN6I_RTC_CCU=n
CONFIG_SPARSEMEM_VMEMMAP=n
CONFIG_SPI_SIFIVE=n
CONFIG_IP6_NF_IPTABLES=n
CONFIG_DEBUG_KERNEL=n
CONFIG_ARCH_HAS_MEMBARRIER_SYNC_CORE=n
CONFIG_ARCH_HAS_PMEM_API=n
CONFIG_SATA_AHCI=n
CONFIG_UNIX98_PTYS=n
CONFIG_CRYPTO=n
CONFIG_RSEQ=n
CONFIG_MMC_SPI=n
CONFIG_NVME_CORE=n
CONFIG_ARCH_HAVE_NMI_SAFE_CMPXCHG=n
CONFIG_XZ_DEC_ARMTHUMB=n
CONFIG_ARCH_SOPHGO=n
CONFIG_CRYPTO_MANAGER=n
CONFIG_XFRM=n
CONFIG_PAGE_SIZE_4KB=n
CONFIG_NET_VENDOR_CORTINA=n
CONFIG_DRM_KMS_HELPER=n
CONFIG_IO_URING_ZCRX=n
CONFIG_DRM_NOUVEAU_SIL164=n
CONFIG_SKB_EXTENSIONS=n
CONFIG_ETHTOOL_NETLINK=n
CONFIG_MTD_MAP_BANK_WIDTH_1=n
CONFIG_SCSI_PROC_FS=n
CONFIG_RISCV_VECTOR_MISALIGNED=n
CONFIG_HAVE_DMA_CONTIGUOUS=n
CONFIG_SERIAL_8250_PCI=n
CONFIG_UPROBE_EVENTS=n
CONFIG_USB_CDNS_SUPPORT=n
CONFIG_SND_SOC_SDCA_OPTIONAL=n
CONFIG_ARCH_HAS_TICK_BROADCAST=n
CONFIG_DNOTIFY=n
CONFIG_ARCH_HAS_SET_DIRECT_MAP=n
CONFIG_GENERIC_PINMUX_FUNCTIONS=n
CONFIG_POWER_SUPPLY_HWMON=n
CONFIG_USB_OHCI_HCD_PCI=n
CONFIG_WLAN_VENDOR_RALINK=n
CONFIG_MTD_BLKDEVS=n
CONFIG_HWMON=n
CONFIG_NET_VENDOR_SILAN=n
CONFIG_SUN20I_D1_R_CCU=n
CONFIG_NET_VENDOR_MICROSOFT=n
CONFIG_HAVE_FTRACE_GRAPH_FUNC=n
CONFIG_GPIO_ACPI=n
CONFIG_NET_VENDOR_SOLARFLARE=n
CONFIG_NFS_V4_2_SSC_HELPER=n
CONFIG_VIRTIO_PCI_LIB=n
CONFIG_GENERIC_CPU_DEVICES=n
CONFIG_GPIO_SPACEMIT_K1=n
CONFIG_USB_MUSB_DUAL_ROLE=n
CONFIG_WATCHDOG_HANDLE_BOOT_ENABLED=n
CONFIG_HAVE_ARCH_KFENCE=n
CONFIG_DRM_DISPLAY_HDMI_HELPER=n
CONFIG_WLAN_VENDOR_INTERSIL=n
CONFIG_HAVE_ARCH_AUDITSYSCALL=n
CONFIG_VHOST_MENU=n
CONFIG_BTRFS_FS_POSIX_ACL=n
CONFIG_LZ4_DECOMPRESS=n
CONFIG_ATA=n
CONFIG_SND_DMAENGINE_PCM=n
CONFIG_USB_XHCI_HCD=n
CONFIG_GENERIC_HWEIGHT=n
CONFIG_PROFILING=n
CONFIG_RESET_TENSTORRENT_ATLANTIS=n
CONFIG_CRYPTO_SKCIPHER=n
CONFIG_HAVE_PREEMPT_DYNAMIC_KEY=n
CONFIG_TOOLCHAIN_NEEDS_EXPLICIT_ZICSR_ZIFENCEI=n
CONFIG_OF=n
CONFIG_ACPI_BUTTON=n
CONFIG_GENERIC_NET_UTILS=n
CONFIG_MPILIB=n
CONFIG_EFIVAR_FS=n
CONFIG_REGMAP_I2C=n
CONFIG_FAIR_GROUP_SCHED=n
CONFIG_SPACEMIT_K1_EMAC=n
CONFIG_LDISC_AUTOLOAD=n
CONFIG_NET_VENDOR_CAVIUM=n
CONFIG_DWMAC_SOPHGO=n
CONFIG_GENERIC_CALIBRATE_DELAY=n
CONFIG_ARCH_SUPPORTS_LTO_CLANG=n
CONFIG_MFD_SIMPLE_MFD_I2C=n
CONFIG_THERMAL_HWMON=n
CONFIG_NET_VENDOR_SEEQ=n
CONFIG_PWRSEQ_SIMPLE=n
CONFIG_USB_HID=n
CONFIG_HIGH_RES_TIMERS=n
CONFIG_ARCH_DMA_ADDR_T_64BIT=n
CONFIG_HAS_DMA=n
CONFIG_SUN20I_PPU=n
CONFIG_KVM=n
CONFIG_ARCH_HAS_HW_PTE_YOUNG=n
CONFIG_NET_VENDOR_SAMSUNG=n
CONFIG_RTC_INTF_DEV=n
CONFIG_I2C_CHARDEV=n
CONFIG_BQL=n
CONFIG_IP_NF_IPTABLES=n
CONFIG_MMC_DW_STARFIVE=n
CONFIG_NET_VENDOR_ADAPTEC=n
CONFIG_DM_BIO_PRISON=n
CONFIG_COREDUMP=n
CONFIG_IOMMU_PT=n
CONFIG_MD=n
CONFIG_VIRTIO_MENU=n
CONFIG_USB_PHY=n
CONFIG_ARCH_SELECT_MEMORY_MODEL=n
CONFIG_CRYPTO_HASH=n
CONFIG_CC_HAS_NO_PROFILE_FN_ATTR=n
CONFIG_NO_HZ_COMMON=n
CONFIG_TRACEFS_AUTOMOUNT_DEPRECATED=n
CONFIG_SCHED_HRTICK=n
CONFIG_CRYPTO_ALGAPI=n
CONFIG_BLK_DEV_SR=n
CONFIG_NET_VENDOR_HISILICON=n
CONFIG_NET_VENDOR_CISCO=n
CONFIG_ARCH_WEAK_RELEASE_ACQUIRE=n
CONFIG_ERRATA_SIFIVE=n
CONFIG_HAVE_ARCH_JUMP_LABEL=n
CONFIG_RAMDAX=n
CONFIG_RPS=n
CONFIG_NET_VENDOR_VERTEXCOM=n
CONFIG_NET_VENDOR_XILINX=n
CONFIG_DT_IDLE_GENPD=n
CONFIG_ARCH_RV64I=n
CONFIG_RPMSG_VIRTIO=n
CONFIG_HAVE_KVM_READONLY_MEM=n
CONFIG_ARCH_HAS_VDSO_ARCH_DATA=n
CONFIG_DWMAC_GENERIC=n
CONFIG_SPARSEMEM_VMEMMAP_ENABLE=n
CONFIG_USB_EHCI_TT_NEWSCHED=n
CONFIG_BTRFS_FS=n
CONFIG_PINCTRL=n
CONFIG_BCMA_POSSIBLE=n
CONFIG_NET_VENDOR_AMAZON=n
CONFIG_RESET_K230=n
CONFIG_IRQ_DOMAIN=n
CONFIG_HAVE_ARCH_KASAN_VMALLOC=n
CONFIG_CAN_GW=n
CONFIG_PROC_MEM_FORCE_PTRACE=n
CONFIG_STACKTRACE=n
CONFIG_ACPI_CPPC_CPUFREQ=n
CONFIG_VM_EVENT_COUNTERS=n
