CONFIG_COMMON_CLK_MT8183_VENCSYS=n
CONFIG_EDAC_LAYERSCAPE=n
CONFIG_MTK_REGULATOR_COUPLER=n
CONFIG_SND_PCM_IEC958=n
CONFIG_ARCH_HAVE_ELF_PROT=n
CONFIG_ARCH_SOPHGO=n
CONFIG_SGL_ALLOC=n
CONFIG_I2C_MUX_PINCTRL=n
CONFIG_USB_F_RNDIS=n
CONFIG_NLS_ISO8859_1=n
CONFIG_STP=n
CONFIG_SND_SOC_RT5682S=n
CONFIG_HAVE_GIGANTIC_FOLIOS=n
CONFIG_ARCH_HAS_GCOV_PROFILE_ALL=n
CONFIG_BCM7038_L1_IRQ=n
CONFIG_XEN_AUTO_XLATE=n
CONFIG_REBOOT_MODE=n
CONFIG_PINCTRL_SDM660=n
CONFIG_ARCH_HAS_SYNC_DMA_FOR_DEVICE=n
CONFIG_QCOM_TZMEM_MODE_SHMBRIDGE=n
CONFIG_COMMON_CLK_S2MPS11=n
CONFIG_ARM64_ERRATUM_1530923=n
CONFIG_IIO_TRIGGER=n
CONFIG_RTD119X_WATCHDOG=n
CONFIG_MSM_GCC_8996=n
CONFIG_NET_XGRESS=n
CONFIG_SC_GCC_7280=n
CONFIG_PHY_ROCKCHIP_INNO_DSIDPHY=n
CONFIG_RCAR_DMAC=n
CONFIG_MFD_RK8XX_I2C=n
CONFIG_VIDEOBUF2_MEMOPS=n
CONFIG_VIDEO_MEDIATEK_JPEG=n
CONFIG_INPUT_VIVALDIFMAP=n
CONFIG_USB_CONFIGFS_MASS_STORAGE=n
CONFIG_RZ_MTU3=n
CONFIG_NET_VENDOR_STMICRO=n
CONFIG_TOUCHSCREEN_ILI210X=n
CONFIG_ARM64_WORKAROUND_REPEAT_TLBI=n
CONFIG_SA_CAMCC_8775P=n
CONFIG_PCIE_RCAR_GEN4_HOST=n
CONFIG_MDIO_CAVIUM=n
CONFIG_ARCH_HAS_RESET_CONTROLLER=n
CONFIG_SND_SOC_FSL_ESAI=n
CONFIG_VCNL4000=n
CONFIG_SYSC_R9A08G046=n
CONFIG_GENERIC_TIME_VSYSCALL=n
CONFIG_USB_EHCI_ROOT_HUB_TT=n
CONFIG_USB_CONFIGFS=n
CONFIG_COMMON_CLK_MT8183_MMSYS=n
CONFIG_MEDIA_TUNER_MT20XX=n
CONFIG_CRYPTO_USER_API_RNG=n
CONFIG_IIO_ST_MAGN_I2C_3AXIS=n
CONFIG_USB_DWC3_DUAL_ROLE=n
CONFIG_PINCTRL_MT6765=n
CONFIG_SND_SOC_AK4613=n
CONFIG_SENSORS_CROS_EC=n
CONFIG_PHY_CADENCE_TORRENT=n
CONFIG_COMMON_CLK_MT8167=n
CONFIG_CRYPTO_LIB_ARC4=n
CONFIG_WLAN_VENDOR_REALTEK=n
CONFIG_DRM_DISPLAY_HDCP_HELPER=n
CONFIG_ATA_ACPI=n
CONFIG_TASKS_RCU=n
CONFIG_CRYPTO_AES=n
CONFIG_HAVE_ARCH_JUMP_LABEL_RELATIVE=n
CONFIG_ARCH_SUPPORTS_KEXEC=n
CONFIG_SND_SOC_RZ=n
CONFIG_MTD_OF_PARTS=n
CONFIG_ARM64_ERRATUM_819472=n
CONFIG_INTERCONNECT_QCOM_SMD_RPM=n
CONFIG_NVMEM_ROCKCHIP_OTP=n
CONFIG_GENERIC_HWEIGHT=n
CONFIG_SND_SOC_WCD_CLASSH=n
CONFIG_GPIO_ZYNQ=n
CONFIG_COMMON_CLK_MT8192_MFGCFG=n
CONFIG_TCG_TIS_I2C_CR50=n
CONFIG_MSM_GCC_8998=n
CONFIG_DEVFREQ_THERMAL=n
CONFIG_SM_GCC_MILOS=n
CONFIG_SERIAL_STM32_CONSOLE=n
CONFIG_USB_CHIPIDEA_MSM=n
CONFIG_CRC32_ARCH=n
CONFIG_I2C_HID_ACPI=n
CONFIG_PCIE_RCAR_GEN4=n
CONFIG_UNMAP_KERNEL_AT_EL0=n
CONFIG_HW_RANDOM_ATMEL=n
CONFIG_ARM64_RAS_EXTN=n
CONFIG_MRP=n
CONFIG_CGROUP_PIDS=n
CONFIG_IP_NF_IPTABLES=n
CONFIG_HAVE_SCHED_AVG_IRQ=n
CONFIG_REGULATOR_RAA215300=n
CONFIG_NET_DSA_TAG_OCELOT_8021Q=n
CONFIG_TRACE_CLOCK=n
CONFIG_SERIAL_STM32=n
CONFIG_USB_ULPI=n
CONFIG_INPUT_HISI_POWERKEY=n
CONFIG_ARCH_WANTS_NO_INSTR=n
CONFIG_DT_IDLE_STATES=n
CONFIG_CLK_RASPBERRYPI=n
CONFIG_PINCTRL_MT8173=n
CONFIG_PINCTRL_MT8192=n
CONFIG_ACPI_HOTPLUG_CPU=n
CONFIG_IMX_SCU_PD=n
CONFIG_USB_DWC2_DUAL_ROLE=n
CONFIG_SOC_IMX8M=n
CONFIG_HAVE_FUNCTION_GRAPH_TRACER=n
CONFIG_MAX9611=n
CONFIG_I2C_RK3X=n
CONFIG_SND_SOC_WCD939X_SDW=n
CONFIG_ARM_PMU=n
CONFIG_ACPI_PROCESSOR=n
CONFIG_DRM_PANEL_BRIDGE=n
CONFIG_ARCH_DMA_ADDR_T_64BIT=n
CONFIG_ARCH_HAS_SETUP_DMA_OPS=n
CONFIG_GENERIC_IRQ_MIGRATION=n
CONFIG_CLK_R9A09G057=n
CONFIG_USB_CHIPIDEA_GENERIC=n
CONFIG_USB_NET_AX88179_178A=n
CONFIG_PHY_QCOM_QMP_UFS=n
CONFIG_PCIE_TEGRA194_EP=n
CONFIG_TOUCHSCREEN_GOODIX_BERLIN_SPI=n
CONFIG_CRYPTO_LIB_MD5=n
CONFIG_DRM_SUN8I_MIXER=n
CONFIG_SOC_TEGRA_FLOWCTRL=n
CONFIG_MESON_GXBB_WATCHDOG=n
CONFIG_SND_SOC_PCM3168A_I2C=n
CONFIG_ARM64_WORKAROUND_CLEAN_CACHE=n
CONFIG_VIDEO_MAX96712=n
CONFIG_INTERCONNECT_QCOM_X1E80100=n
CONFIG_STMMAC_PLATFORM=n
CONFIG_MTK_INFRACFG=n
CONFIG_USB_CONFIGFS_RNDIS=n
CONFIG_GENERIC_MSI_IRQ=n
CONFIG_KSM=n
CONFIG_USB_CDNS3_GADGET=n
CONFIG_INTERCONNECT_QCOM_SM6115=n
CONFIG_COMMON_CLK_MT8196=n
CONFIG_ARCH_HAS_ELF_RANDOMIZE=n
CONFIG_SUNXI_MBUS=n
CONFIG_PHY_MTK_PCIE=n
CONFIG_UCS2_STRING=n
CONFIG_SCHED_CLUSTER=n
CONFIG_RFKILL=n
CONFIG_QCOM_RPMHPD=n
CONFIG_NVMEM_MESON_EFUSE=n
CONFIG_NET_VENDOR_ATHEROS=n
CONFIG_TPS6594_PFSM=n
CONFIG_FSL_IMX8_DDR_PMU=n
CONFIG_SECRETMEM=n
CONFIG_PINCTRL_DA9062=n
CONFIG_HAVE_UID16=n
CONFIG_DRM_PANEL_SITRONIX_ST7703=n
CONFIG_CROS_TYPEC_SWITCH=n
CONFIG_GOOGLE_FIRMWARE=n
CONFIG_PAGE_POOL_STATS=n
CONFIG_ARM64_ERRATUM_3117295=n
CONFIG_STAGING=n
CONFIG_MFD_TI_AM335X_TSCADC=n
CONFIG_LS_SCFG_MSI=n
CONFIG_PINCTRL_SM8550_LPASS_LPI=n
CONFIG_SENSORS_JC42=n
CONFIG_GPIO_XGENE=n
CONFIG_USB_COMMON=n
CONFIG_ARCH_NXP=n
CONFIG_PHY_MTK_HDMI=n
CONFIG_SND_SOC_LPASS_SC7180=n
CONFIG_PINCTRL_RK805=n
CONFIG_MHP_DEFAULT_ONLINE_TYPE_OFFLINE=n
CONFIG_SND_SOC_SOF_MT8186=n
CONFIG_XILINX_XADC=n
CONFIG_9P_FS=n
CONFIG_EXCLUSIVE_SYSTEM_RAM=n
CONFIG_DRM_FBDEV_EMULATION=n
CONFIG_PHY_EXYNOS5_USBDRD=n
CONFIG_STACKDEPOT=n
CONFIG_NLS_CODEPAGE_437=n
CONFIG_TASKS_TRACE_RCU=n
CONFIG_XILINX_ZYNQMP_DPDMA=n
CONFIG_TICK_CPU_ACCOUNTING=n
CONFIG_PINCTRL_TEGRA_XUSB=n
CONFIG_NET_VENDOR_CAVIUM=n
CONFIG_DRM_SUN8I_DW_HDMI=n
CONFIG_MLX5_MPFS=n
CONFIG_MTK_MMSYS=n
CONFIG_DRM_SUN6I_DSI=n
CONFIG_NET_VENDOR_WIZNET=n
CONFIG_ROCKCHIP_IOMMU=n
CONFIG_COMMON_CLK_MT2712=n
CONFIG_RC_MAP=n
CONFIG_CGROUP_FREEZER=n
CONFIG_ARM_GIC_V3=n
CONFIG_PINCTRL_QCS8300=n
CONFIG_RCAR_GEN3_THERMAL=n
CONFIG_HAVE_BUILDTIME_MCOUNT_SORT=n
CONFIG_DRM_EXYNOS_DSI=n
CONFIG_SND_CTL_LED=n
CONFIG_DRM_PANEL_HIMAX_HX8279=n
CONFIG_ARCH_KEEMBAY=n
CONFIG_ARM64_HW_AFDBM=n
CONFIG_TEE_BNXT_FW=n
CONFIG_VIDEO_ROCKCHIP_RGA=n
CONFIG_NFS_V3=n
CONFIG_SM_TCSRCC_8750=n
CONFIG_CRYPTO_SKCIPHER2=n
CONFIG_HAVE_IRQ_TIME_ACCOUNTING=n
CONFIG_CC_HAVE_SHADOW_CALL_STACK=n
CONFIG_PWM_VISCONTI=n
CONFIG_ARM_IMX_CPUFREQ_DT=n
CONFIG_BT_HCIBTUSB_RTL=n
CONFIG_DRM_MEDIATEK_HDMI_COMMON=n
CONFIG_K3_RTI_WATCHDOG=n
CONFIG_SND_USB_AUDIO_USE_MEDIA_CONTROLLER=n
CONFIG_MD_BITMAP_FILE=n
CONFIG_NETWORK_FILESYSTEMS=n
CONFIG_QCOM_INLINE_CRYPTO_ENGINE=n
CONFIG_RESET_HISI=n
CONFIG_SND_SOC_WM8962=n
CONFIG_RENESAS_RZV2HWDT=n
CONFIG_QCOM_SYSMON=n
CONFIG_MMC_SDHCI_IO_ACCESSORS=n
CONFIG_INTERCONNECT_QCOM_SM8550=n
CONFIG_K3_THERMAL=n
CONFIG_PWRSEQ_SIMPLE=n
CONFIG_PINCTRL_MILOS_LPASS_LPI=n
CONFIG_I2C_SLAVE=n
CONFIG_PHY_MESON8B_USB2=n
CONFIG_ACPI_PROCESSOR_IDLE=n
CONFIG_ARCH_SUPPORTS_SCHED_MC=n
CONFIG_DRM_TI_SN65DSI83=n
CONFIG_NET_VENDOR_HISILICON=n
CONFIG_SUNXI_RSB=n
CONFIG_COMMON_CLK_MESON_VCLK=n
CONFIG_MDIO_BCM_UNIMAC=n
CONFIG_GPIO_XILINX=n
CONFIG_MTK_SMI=n
CONFIG_FSL_GUTS=n
CONFIG_IMX_MU_MSI=n
CONFIG_STACKTRACE_SUPPORT=n
CONFIG_SA_GPUCC_8775P=n
CONFIG_SND_SOC_LPASS_CDC_DMA=n
CONFIG_USB_OHCI_HCD_PCI=n
CONFIG_GNSS_SERIAL=n
CONFIG_USB_CONFIGFS_ACM=n
CONFIG_PINCTRL_MVEBU=n
CONFIG_EFI_GENERIC_STUB=n
CONFIG_ATH11K_PCI=n
CONFIG_CRYPTO_LIB_UTILS=n
CONFIG_SND_BCM2835_SOC_I2S=n
CONFIG_RT_MUTEXES=n
CONFIG_DRM_PANEL_SAMSUNG_ATNA33XC20=n
CONFIG_QCOM_AOSS_QMP=n
CONFIG_CPU_PM=n
CONFIG_USB_EHCI_HCD_NPCM7XX=n
CONFIG_RFKILL_INPUT=n
CONFIG_ARM64_4K_PAGES=n
CONFIG_BCM7120_L2_IRQ=n
CONFIG_SPMI=n
CONFIG_USB_U_SERIAL=n
CONFIG_LOGO=n
CONFIG_USB_GADGET=n
CONFIG_FB_SYS_COPYAREA=n
CONFIG_SERIAL_OF_PLATFORM=n
CONFIG_HAVE_ARM_SMCCC=n
CONFIG_EC_HUAWEI_GAOKUN=n
CONFIG_DEBUG_FS=n
CONFIG_PINCTRL_SM8750=n
CONFIG_NVMEM_SYSFS=n
CONFIG_ZSTD_DECOMPRESS=n
CONFIG_PHY_SNPS_EUSB2=n
CONFIG_CRC_CCITT=n
CONFIG_KVM_GUEST_MEMFD=n
CONFIG_PINCTRL_QCS404=n
CONFIG_SND_SOC_MT8183=n
CONFIG_UBIFS_FS_LZO=n
CONFIG_PINCTRL_PFC_R8A774A1=n
CONFIG_RAVB=n
CONFIG_ACPI_PRMT=n
CONFIG_RTC_DRV_BQ32K=n
CONFIG_CEC_NOTIFIER=n
CONFIG_ARCH_HAS_NONLEAF_PMD_YOUNG=n
CONFIG_USB_RENESAS_USBHS=n
CONFIG_MICROCHIP_PHY=n
CONFIG_SND_PCM_TIMER=n
CONFIG_BT_HCIUART_H4=n
CONFIG_PINCTRL_BCM4908=n
CONFIG_ARCH_HAS_PTDUMP=n
CONFIG_V4L_PLATFORM_DRIVERS=n
CONFIG_THP_SWAP=n
CONFIG_ARCH_MA35=n
CONFIG_NET_SCH_TAPRIO=n
CONFIG_ARCH_HAS_SYNC_DMA_FOR_CPU=n
CONFIG_LEDS_TRIGGERS=n
CONFIG_MTD_CFI_UTIL=n
CONFIG_MEDIA_TUNER_SIMPLE=n
CONFIG_CRYPTO_HASH=n
CONFIG_SERIAL_OWL_CONSOLE=n
CONFIG_STM32_OMM=n
CONFIG_ARM_SCPI_PROTOCOL=n
CONFIG_DEV_COREDUMP=n
