CONFIG_SYSVIPC=n
CONFIG_SUNRPC=n
CONFIG_USB_XHCI_HCD=n
CONFIG_CHECK_SIGNATURE=n
CONFIG_MAGIC_SYSRQ_SERIAL=n
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_JMP=n
CONFIG_HAVE_UACCESS_VALIDATION=n
CONFIG_GENERIC_IRQ_PROBE=n
CONFIG_UNIX=n
CONFIG_ACPI_HOTPLUG_IOAPIC=n
CONFIG_HUGETLBFS=n
CONFIG_NET_VENDOR_ATHEROS=n
CONFIG_VIRTIO_NET=n
CONFIG_HARDIRQS_SW_RESEND=n
CONFIG_NF_NAT_SIP=n
CONFIG_HID_SUNPLUS=n
CONFIG_ARCH_HAS_FAST_MULTIPLIER=n
CONFIG_FIRMWARE_MEMMAP=n
CONFIG_ARCH_HAS_CACHE_LINE_SIZE=n
CONFIG_GROUP_SCHED_WEIGHT=n
CONFIG_HAVE_ARCH_MMAP_RND_BITS=n
CONFIG_NET_VENDOR_FUNGIBLE=n
CONFIG_SYN_COOKIES=n
CONFIG_HAVE_SETUP_PER_CPU_AREA=n
CONFIG_AIO=n
CONFIG_BLK_CGROUP_IOLATENCY=n
CONFIG_PAGE_SIZE_4KB=n
CONFIG_PROVIDE_OHCI1394_DMA_INIT=n
CONFIG_INITRAMFS_PRESERVE_MTIME=n
CONFIG_SCSI_PROC_FS=n
CONFIG_MTRR=n
CONFIG_NET_SCHED=n
CONFIG_DEBUG_BUGVERBOSE=n
CONFIG_ARCH_USE_MEMTEST=n
CONFIG_DRM_KMS_HELPER=n
CONFIG_PM_SLEEP=n
CONFIG_SYSVIPC_SYSCTL=n
CONFIG_CRYPTO_ALGAPI2=n
CONFIG_ARCH_HAS_PKEYS=n
CONFIG_HAVE_ASM_MODVERSIONS=n
CONFIG_ARCH_HAS_ACPI_TABLE_UPGRADE=n
CONFIG_THERMAL=n
CONFIG_NF_LOG_SYSLOG=n
CONFIG_ALLOW_DEV_COREDUMP=n
CONFIG_TCP_MD5SIG=n
CONFIG_X86_DISABLED_FEATURE_TDX_GUEST=n
CONFIG_PM_SLEEP_SMP=n
CONFIG_CGROUP_PIDS=n
CONFIG_AS_IS_GNU=n
CONFIG_CRYPTO_HMAC=n
CONFIG_X86_DISABLED_FEATURE_USER_SHSTK=n
CONFIG_SCSI_CONSTANTS=n
CONFIG_FUNCTION_ALIGNMENT_4B=n
CONFIG_HAVE_KPROBES=n
CONFIG_ARCH_USE_BUILTIN_BSWAP=n
CONFIG_NETFILTER_XT_MATCH_POLICY=n
CONFIG_X86_PAT=n
CONFIG_SKB_EXTENSIONS=n
CONFIG_ARCH_HAS_PTDUMP=n
CONFIG_CRYPTO_AKCIPHER=n
CONFIG_KRETPROBE_ON_RETHOOK=n
CONFIG_JOLIET=n
CONFIG_STACKPROTECTOR=n
CONFIG_ARCH_DEFAULT_CRASH_DUMP=n
CONFIG_TMPFS=n
CONFIG_STRICT_KERNEL_RWX=n
CONFIG_IRQ_DOMAIN_HIERARCHY=n
CONFIG_HAVE_DYNAMIC_FTRACE=n
CONFIG_MD_BITMAP_FILE=n
CONFIG_8139TOO_PIO=n
CONFIG_ARCH_SPARSEMEM_DEFAULT=n
CONFIG_CFG80211_USE_KERNEL_REGDB_KEYS=n
CONFIG_ELF_CORE=n
CONFIG_NET_VENDOR_AGERE=n
CONFIG_CRYPTO_SKCIPHER=n
CONFIG_HAVE_GUP_FAST=n
CONFIG_PANTHERLORD_FF=n
CONFIG_NET_VENDOR_DAVICOM=n
CONFIG_HAVE_EBPF_JIT=n
CONFIG_PID_NS=n
CONFIG_BRANCH_PROFILE_NONE=n
CONFIG_GENERIC_TRACER=n
CONFIG_SCSI=n
CONFIG_STACKPROTECTOR_STRONG=n
CONFIG_HAVE_SYSCALL_TRACEPOINTS=n
CONFIG_HW_RANDOM=n
CONFIG_QFMT_V2=n
CONFIG_ARCH_ENABLE_MEMORY_HOTPLUG=n
CONFIG_X86_DISABLED_FEATURE_SGX=n
CONFIG_COMPAT_FOR_U64_ALIGNMENT=n
CONFIG_GENERIC_SMP_IDLE_THREAD=n
CONFIG_ACPI_TABLE_UPGRADE=n
CONFIG_NET_HANDSHAKE=n
CONFIG_POWER_SUPPLY=n
CONFIG_KVM_GUEST=n
CONFIG_MSDOS_FS=n
CONFIG_ARCH_HAS_CURRENT_STACK_POINTER=n
CONFIG_X86_REQUIRED_FEATURE_CMOV=n
CONFIG_HOTPLUG_SMT=n
CONFIG_LOCKDEP_SUPPORT=n
CONFIG_CRASH_RESERVE=n
CONFIG_NET_VENDOR_ROCKER=n
CONFIG_HAS_DMA=n
CONFIG_X86_THERMAL_VECTOR=n
CONFIG_ACPI_BUTTON=n
CONFIG_CC_HAS_ENTRY_PADDING=n
CONFIG_NET_CLS_ACT=n
CONFIG_SLUB_DEBUG=n
CONFIG_CPU_SUP_ZHAOXIN=n
CONFIG_PACKET=n
CONFIG_WLAN_VENDOR_MARVELL=n
CONFIG_VIRTIO_MENU=n
CONFIG_CRYPTO_SKCIPHER2=n
CONFIG_PNFS_FLEXFILE_LAYOUT=n
CONFIG_BCMA_POSSIBLE=n
CONFIG_SERIAL_8250_SHARE_IRQ=n
CONFIG_MITIGATION_PAGE_TABLE_ISOLATION=n
CONFIG_PREVENT_FIRMWARE_BUILD=n
CONFIG_X86_DISABLED_FEATURE_FRED=n
CONFIG_XFRM_ESP=n
CONFIG_BLK_DEV_LOOP=n
CONFIG_X86_PM_TIMER=n
CONFIG_NF_NAT_IRC=n
CONFIG_GENERIC_STRNLEN_USER=n
CONFIG_IOMMU_MM_DATA=n
CONFIG_CPU_FREQ=n
CONFIG_ACPI_MADT_WAKEUP=n
CONFIG_SOCK_CGROUP_DATA=n
CONFIG_ARCH_SUPPORTS_KEXEC_JUMP=n
CONFIG_NETLABEL=n
CONFIG_USB_MON=n
CONFIG_DRM_BRIDGE=n
CONFIG_ACPI_THERMAL_LIB=n
CONFIG_CRYPTO_LZO=n
CONFIG_DEBUG_FS_ALLOW_ALL=n
CONFIG_SHMEM=n
CONFIG_SYSFS=n
CONFIG_NETFILTER_XT_TARGET_CONNSECMARK=n
CONFIG_HAVE_UNSTABLE_SCHED_CLOCK=n
CONFIG_NEED_DMA_MAP_STATE=n
CONFIG_PATA_OLDPIIX=n
CONFIG_HOTPLUG_PCI=n
CONFIG_SURFACE_PLATFORMS=n
CONFIG_COMPAT_32=n
CONFIG_HWMON=n
CONFIG_IRQ_MSI_LIB=n
CONFIG_PERF_EVENTS=n
CONFIG_HAVE_ARCH_JUMP_LABEL=n
CONFIG_EFI_STUB=n
CONFIG_DEBUG_FS=n
CONFIG_MEMBARRIER=n
CONFIG_NET_VENDOR_3COM=n
CONFIG_RSEQ=n
CONFIG_CRC_OPTIMIZATIONS=n
CONFIG_ARCH_SUPPORTS_LTO_CLANG=n
CONFIG_WLAN_VENDOR_INTEL=n
CONFIG_ARCH_WANTS_THP_SWAP=n
CONFIG_X86_MCE=n
CONFIG_CRYPTO_SIG2=n
CONFIG_HAVE_UNWIND_USER_FP=n
CONFIG_ACPI_LEGACY_TABLES_LOOKUP=n
CONFIG_ARCH_WANT_GENERAL_HUGETLB=n
CONFIG_AF_UNIX_OOB=n
CONFIG_SND_DRIVERS=n
CONFIG_QUOTA_NETLINK_INTERFACE=n
CONFIG_EFI_PARTITION=n
CONFIG_CPU_FREQ_DEFAULT_GOV_USERSPACE=n
CONFIG_INTEL_GTT=n
CONFIG_SND_USB=n
CONFIG_USB_PCI=n
CONFIG_SBITMAP=n
CONFIG_NF_DEFRAG_IPV4=n
CONFIG_IPV6_NDISC_NODETYPE=n
CONFIG_HAVE_GCC_PLUGINS=n
CONFIG_KRETPROBES=n
CONFIG_NET_VENDOR_XILINX=n
CONFIG_NET_VENDOR_SUN=n
CONFIG_THERMAL_NETLINK=n
CONFIG_ELFCORE=n
CONFIG_GENERIC_CLOCKEVENTS=n
CONFIG_NET_POLL_CONTROLLER=n
CONFIG_ARCH_WANT_DEFAULT_BPF_JIT=n
CONFIG_HVC_DRIVER=n
CONFIG_ZLIB_INFLATE=n
CONFIG_RING_BUFFER=n
CONFIG_SIGNALFD=n
CONFIG_ARCH_SUPPORTS_DEBUG_PAGEALLOC=n
CONFIG_CGROUP_FREEZER=n
CONFIG_I2C=n
CONFIG_DRM_PANEL_ORIENTATION_QUIRKS=n
CONFIG_ACPI_CONTAINER=n
CONFIG_HAVE_VIRT_CPU_ACCOUNTING_GEN=n
CONFIG_PREEMPT_LAZY=n
CONFIG_WLAN_VENDOR_INTERSIL=n
CONFIG_KERNEL_GZIP=n
CONFIG_MOUSE_PS2_TRACKPOINT=n
CONFIG_HAVE_ACPI_APEI=n
CONFIG_ARCH_SUPPORTS_LTO_CLANG_THIN=n
CONFIG_IP_ROUTE_MULTIPATH=n
CONFIG_BITREVERSE=n
CONFIG_TASKS_TRACE_RCU=n
CONFIG_DEBUG_ENTRY=n
CONFIG_UTS_NS=n
CONFIG_X86_REQUIRED_FEATURE_PGE=n
CONFIG_TRACING_SUPPORT=n
CONFIG_ARCH_USE_QUEUED_SPINLOCKS=n
CONFIG_ARCH_SUPPORTS_PROPELLER_CLANG=n
CONFIG_ARCH_HAS_ADD_PAGES=n
CONFIG_ACPI_NHLT=n
CONFIG_HAVE_PERF_REGS=n
CONFIG_I2C_I801=n
CONFIG_ARCH_HIBERNATION_HEADER=n
CONFIG_SGL_ALLOC=n
CONFIG_CROSS_MEMORY_ATTACH=n
CONFIG_EDAC_SUPPORT=n
CONFIG_NET_NS=n
CONFIG_HAVE_ARCH_HUGE_VMAP=n
CONFIG_EXT4_FS_POSIX_ACL=n
CONFIG_CRYPTO_LIB_MD5=n
CONFIG_YENTA=n
CONFIG_RTC_MC146818_LIB=n
CONFIG_ACPI_THERMAL=n
CONFIG_PCMCIA_LOAD_CIS=n
CONFIG_RD_LZMA=n
CONFIG_CPU_IDLE_GOV_HALTPOLL=n
CONFIG_USB_OHCI_HCD=n
CONFIG_GENERIC_CPU_AUTOPROBE=n
CONFIG_RPS=n
CONFIG_PATA_AMD=n
CONFIG_GENERIC_TIME_VSYSCALL=n
CONFIG_MOUSE_PS2_BYD=n
CONFIG_OID_REGISTRY=n
CONFIG_ACPI_PCC=n
CONFIG_E1000=n
CONFIG_NETFILTER_XT_MATCH_ADDRTYPE=n
CONFIG_IP_PNP_BOOTP=n
CONFIG_HAVE_ARCH_KASAN_VMALLOC=n
CONFIG_MQ_IOSCHED_DEADLINE=n
CONFIG_HAVE_CMPXCHG_LOCAL=n
CONFIG_GLOB=n
CONFIG_SECURITY_SELINUX_DEVELOP=n
CONFIG_NVMEM_SYSFS=n
CONFIG_CRC32_ARCH=n
CONFIG_NUMA_MEMBLKS=n
CONFIG_SND_DMA_SGBUF=n
CONFIG_YENTA_O2=n
CONFIG_PERF_EVENTS_INTEL_UNCORE=n
CONFIG_IP_PNP_RARP=n
CONFIG_HIDRAW=n
CONFIG_DW_DMAC_CORE=n
CONFIG_SND_JACK=n
CONFIG_GENERIC_IRQ_RESERVATION_MODE=n
CONFIG_PTDUMP=n
CONFIG_X86_SUPPORTS_MEMORY_FAILURE=n
CONFIG_PREEMPT_DYNAMIC=n
CONFIG_X86_REQUIRED_FEATURE_LM=n
CONFIG_CRYPTO_MANAGER=n
CONFIG_X86_UMIP=n
CONFIG_NET_VENDOR_MICROSEMI=n
CONFIG_INPUT_VIVALDIFMAP=n
CONFIG_HAVE_BUILDTIME_MCOUNT_SORT=n
CONFIG_FUTEX_PI=n
CONFIG_NET_VENDOR_LITEX=n
CONFIG_XZ_DEC_BCJ=n
CONFIG_GPU_BUDDY=n
CONFIG_X86_IO_APIC=n
CONFIG_COMPAT_OLD_SIGACTION=n
CONFIG_HAVE_RUST=n
CONFIG_CPU_SUP_HYGON=n
CONFIG_SND_HDA_COMPONENT=n
CONFIG_GENERIC_IRQ_SHOW=n
CONFIG_ARCH_WANT_HUGETLB_VMEMMAP_PREINIT=n
CONFIG_ACPI_HOTPLUG_CPU=n
CONFIG_BINARY_PRINTF=n
CONFIG_MODULE_UNLOAD=n
CONFIG_SND_SEQ_DEVICE=n
CONFIG_ARCH_MAY_HAVE_PC_FDC=n
CONFIG_NF_DEFRAG_IPV6=n
CONFIG_ARCH_USE_CMPXCHG_LOCKREF=n
CONFIG_DNOTIFY=n
CONFIG_ACPI_PROCESSOR=n
CONFIG_LD_ORPHAN_WARN=n
CONFIG_ARCH_WANTS_NO_INSTR=n
CONFIG_ATA_VERBOSE_ERROR=n
CONFIG_GPIOLIB_LEGACY=n
CONFIG_ASYNC_KERNEL_PGTABLE_FREE=n
CONFIG_GENERIC_VDSO_OVERFLOW_PROTECT=n
CONFIG_NET_VENDOR_CADENCE=n
CONFIG_CRC32=n
CONFIG_ARCH_SUPPORTS_SCHED_MC=n
CONFIG_IPC_NS=n
CONFIG_NUMA_MIGRATION=n
CONFIG_BLK_DEV_SD=n
CONFIG_SCREEN_INFO=n
CONFIG_ARCH_SUPPORTS_KEXEC_SIG_FORCE=n
CONFIG_CC_HAS_WORKING_NOSANITIZE_ADDRESS=n
CONFIG_STANDALONE=n
CONFIG_YENTA_TOSHIBA=n
CONFIG_MD_AUTODETECT=n
CONFIG_DEVMEM=n
