CONFIG_USB_RTL8153_ECM=n
CONFIG_ARCH_HAS_HW_PTE_YOUNG=n
CONFIG_NET_CLS_BASIC=n
CONFIG_MEDIA_PLATFORM_SUPPORT=n
CONFIG_I2C_SMBUS=n
CONFIG_PINCTRL_BCM2712=n
CONFIG_RZ_DMAC=n
CONFIG_DRM_LIMA=n
CONFIG_XENFS=n
CONFIG_VIDEO_RCAR_CSI2=n
CONFIG_FB_CFB_COPYAREA=n
CONFIG_BT_BCM=n
CONFIG_ARCH_SUPPORTS_KEXEC_SIG=n
CONFIG_NET_VENDOR_SAMSUNG=n
CONFIG_RENESAS_RPCIF=n
CONFIG_I2C_QUP=n
CONFIG_COMMON_CLK_MT8192_MMSYS=n
CONFIG_EFI_CUSTOM_SSDT_OVERLAYS=n
CONFIG_NETFILTER=n
CONFIG_BCM7038_L1_IRQ=n
CONFIG_COMMON_CLK_MEDIATEK=n
CONFIG_I2C_CROS_EC_TUNNEL=n
CONFIG_DRM_PANEL_KHADAS_TS050=n
CONFIG_PINCTRL_MESON_AXG=n
CONFIG_ARM_SCPI_POWER_DOMAIN=n
CONFIG_GENERIC_CLOCKEVENTS=n
CONFIG_SND_SOC_WCD_CLASSH=n
CONFIG_PINCTRL_VISCONTI=n
CONFIG_NXP_ENETC_PF_COMMON=n
CONFIG_USB_XHCI_PCI_RENESAS=n
CONFIG_NET_CLS_ACT=n
CONFIG_ARM64=n
CONFIG_ARCH_WANTS_NO_INSTR=n
CONFIG_CONFIGFS_FS=n
CONFIG_SOC_TEGRA_POWERGATE_BPMP=n
CONFIG_PINCTRL_KAANAPALI=n
CONFIG_NET_DEVMEM=n
CONFIG_MTD_CFI_I1=n
CONFIG_NFC_NCI=n
CONFIG_ARCH_SUPPORTS_DEBUG_PAGEALLOC=n
CONFIG_TI_DAVINCI_MDIO=n
CONFIG_ARCH_KEEP_MEMBLOCK=n
CONFIG_ARCH_USES_PG_ARCH_2=n
CONFIG_TYPEC_MUX_PTN36502=n
CONFIG_COMMON_CLK_MT6795_MFGCFG=n
CONFIG_PINCTRL_SUNXI=n
CONFIG_PINCTRL_AMLOGIC_A4=n
CONFIG_RTC_DRV_ZYNQMP=n
CONFIG_XILINX_AMS=n
CONFIG_PATA_OF_PLATFORM=n
CONFIG_SCSI_LOWLEVEL=n
CONFIG_MDIO_GPIO=n
CONFIG_SPI_MASTER=n
CONFIG_BCMA_POSSIBLE=n
CONFIG_PCI_SYSCALL=n
CONFIG_CMA=n
CONFIG_QCOM_CPUCP_MBOX=n
CONFIG_MTD_CFI_UTIL=n
CONFIG_USB_OHCI_HCD_PCI=n
CONFIG_DRM_NWL_MIPI_DSI=n
CONFIG_CRYPTO_DEV_HISI_HPRE=n
CONFIG_FB_SYS_IMAGEBLIT=n
CONFIG_BLK_DEV_NBD=n
CONFIG_ROCKCHIP_DW_MIPI_DSI=n
CONFIG_WLAN_VENDOR_ST=n
CONFIG_QCOM_Q6V5_COMMON=n
CONFIG_WLAN_VENDOR_ADMTEK=n
CONFIG_IRQ_POLL=n
CONFIG_QCOM_PIL_INFO=n
CONFIG_SND_SOC_SOF_OF=n
CONFIG_PHY_CADENCE_DPHY_RX=n
CONFIG_SND_SOC_SC7180=n
CONFIG_MTK_CMDQ_MBOX=n
CONFIG_OMAP_USB2=n
CONFIG_QCOM_GENI_SE=n
CONFIG_CRYPTO_ECDH=n
CONFIG_ATH10K_PCI=n
CONFIG_MTK_TIMER=n
CONFIG_USB_CONFIGFS_OBEX=n
CONFIG_PCIE_RCAR_EP=n
CONFIG_CPUMASK_OFFSTACK=n
CONFIG_FW_LOADER=n
CONFIG_SMSC911X=n
CONFIG_LD_IS_BFD=n
CONFIG_COMMON_CLK_MT6795_MMSYS=n
CONFIG_GNSS_SERIAL=n
CONFIG_PINCTRL_BRCMSTB=n
CONFIG_REGULATOR_QCOM_SMD_RPM=n
CONFIG_IMX_GPCV2=n
CONFIG_ARCH_R8A774E1=n
CONFIG_NET_VENDOR_DAVICOM=n
CONFIG_RESET_NUVOTON_MA35D1=n
CONFIG_NET_RX_BUSY_POLL=n
CONFIG_USB_CONFIGFS_ACM=n
CONFIG_NXP_ENETC4=n
CONFIG_INPUT_BBNSM_PWRKEY=n
CONFIG_PHY_QCOM_USB_SS=n
CONFIG_PINCTRL_IMX93=n
CONFIG_MTK_SVS=n
CONFIG_GENERIC_NET_UTILS=n
CONFIG_SC_GCC_8180X=n
CONFIG_SLAB_OBJ_EXT=n
CONFIG_MTD_NAND_BRCMNAND_IPROC=n
CONFIG_COMMON_CLK_MT8192_VDECSYS=n
CONFIG_IIO_ST_SENSORS_SPI=n
CONFIG_SND_SOC_MAX98390=n
CONFIG_IPMI_PLAT_DATA=n
CONFIG_THUNDER_NIC_RGX=n
CONFIG_COMMON_CLK_HI3559A=n
CONFIG_PHY_QCOM_QMP_USB=n
CONFIG_SERIAL_8250_FSL=n
CONFIG_RTC_DRV_MAX77686=n
CONFIG_SM_GPUCC_6350=n
CONFIG_ARCH_HAS_ACPI_TABLE_UPGRADE=n
CONFIG_TI_SYSCON_CLK=n
CONFIG_SYSC_RCAR_GEN4=n
CONFIG_PHY_QCOM_QMP_COMBO=n
CONFIG_PCIE_IPROC=n
CONFIG_ARCH_SOPHGO=n
CONFIG_TEGRA_SOCTHERM=n
CONFIG_IIO_CROS_EC_SENSORS_CORE=n
CONFIG_SM_GPUCC_8750=n
CONFIG_MFD_TPS65219=n
CONFIG_DRM_PANEL_MANTIX_MLAF057WE51=n
CONFIG_RTC_DRV_PCF85363=n
CONFIG_NET_VENDOR_MICREL=n
CONFIG_SERIAL_TEGRA_TCU=n
CONFIG_IOMMU_DEFAULT_DMA_STRICT=n
CONFIG_USB_F_MASS_STORAGE=n
CONFIG_SND_PCM=n
CONFIG_SCSI_MOD=n
CONFIG_MFD_STM32_LPTIMER=n
CONFIG_SOC_TEGRA_PMC=n
CONFIG_MTK_MFG_PM_DOMAIN=n
CONFIG_PROFILING=n
CONFIG_RCU_STALL_COMMON=n
CONFIG_BT_HCIUART_BCM=n
CONFIG_WLAN_VENDOR_ZYDAS=n
CONFIG_NVMEM=n
CONFIG_CRYPTO_DEV_HISI_TRNG=n
CONFIG_ACPI_BUTTON=n
CONFIG_AS_IS_GNU=n
CONFIG_COMMON_CLK_MT8365_APU=n
CONFIG_COMMON_CLK_MT8196_UFSSYS=n
CONFIG_I2C_DESIGNWARE_CORE=n
CONFIG_RTC_DRV_DS3232=n
CONFIG_ROCKCHIP_TIMER=n
CONFIG_NET_VENDOR_VERTEXCOM=n
CONFIG_ARCH_EXYNOS=n
CONFIG_NET_VENDOR_SIS=n
CONFIG_RPMSG_MTK_SCP=n
CONFIG_ARCH_R8A77970=n
CONFIG_VIDEO_HANTRO_SUNXI=n
CONFIG_GPIO_MPC8XXX=n
CONFIG_AHCI_CEVA=n
CONFIG_SPLIT_PMD_PTLOCKS=n
CONFIG_DMA_OPS_HELPERS=n
CONFIG_COMMON_CLK_MESON_VID_PLL_DIV=n
CONFIG_HAVE_PREEMPT_DYNAMIC_KEY=n
CONFIG_PINCTRL_SOPHGO_COMMON=n
CONFIG_OF_DYNAMIC=n
CONFIG_QCOM_RPMPD=n
CONFIG_POWER_RESET_XGENE=n
CONFIG_MTD_NAND_QCOM=n
CONFIG_PCIE_TEGRA194_HOST=n
CONFIG_CAN_MCP251XFD=n
CONFIG_PCI_TEGRA=n
CONFIG_ATA=n
CONFIG_I2C_XILINX=n
CONFIG_PCIE_RCAR_GEN4=n
CONFIG_SG_POOL=n
CONFIG_GPIO_VF610=n
CONFIG_DEVTMPFS_MOUNT=n
CONFIG_VIRTIO_PCI_LEGACY=n
CONFIG_USB_ARMLINUX=n
CONFIG_PHY_NS2_PCIE=n
CONFIG_LEDS_TRIGGER_HEARTBEAT=n
CONFIG_PINCTRL_APPLE_GPIO=n
CONFIG_V4L2_FWNODE=n
CONFIG_MDIO_XGENE=n
CONFIG_KEYBOARD_IMX_BBM_SCMI=n
CONFIG_SND_SOC_PCM3168A=n
CONFIG_SND_SOC_WCD9335=n
CONFIG_NET_VENDOR_MEDIATEK=n
CONFIG_PHY_MTK_PCIE=n
CONFIG_PTP_1588_CLOCK_DTE=n
CONFIG_DRM_KMS_HELPER=n
CONFIG_MHI_BUS=n
CONFIG_OVERLAY_FS_REDIRECT_ALWAYS_FOLLOW=n
CONFIG_IMX_SC_THERMAL=n
CONFIG_CROS_EC_UCSI=n
CONFIG_RANDOMIZE_BASE=n
CONFIG_USB_DWC2_DUAL_ROLE=n
CONFIG_SCHED_HRTICK=n
CONFIG_CRYPTO_DEV_SUN8I_CE=n
CONFIG_RESET_MESON=n
CONFIG_NEED_SG_DMA_FLAGS=n
CONFIG_HNS_MDIO=n
CONFIG_GPIO_IMX_SCU=n
CONFIG_ACPI_I2C_OPREGION=n
CONFIG_UEFI_CPER=n
CONFIG_PHY_ROCKCHIP_TYPEC=n
CONFIG_X509_CERTIFICATE_PARSER=n
CONFIG_PCIEAER=n
CONFIG_HW_RANDOM_ATMEL=n
CONFIG_REGULATOR_QCOM_USB_VBUS=n
CONFIG_USB_SNP_UDC_PLAT=n
CONFIG_GPIO_TEGRA186=n
CONFIG_ARM64_CNP=n
CONFIG_PHY_SAMSUNG_UFS=n
CONFIG_SCSI_UFS_RENESAS=n
CONFIG_USB_MXS_PHY=n
CONFIG_ROCKCHIP_DW_HDMI_QP=n
CONFIG_USB_SNP_CORE=n
CONFIG_HOTPLUG_PCI_ACPI=n
CONFIG_ARCH_HAS_SYNC_DMA_FOR_DEVICE=n
CONFIG_I2C_HID_OF=n
CONFIG_COMMON_CLK_MT8186_WPESYS=n
CONFIG_TYPEC_TCPCI=n
CONFIG_GENERIC_BUG_RELATIVE_POINTERS=n
CONFIG_PHY_XILINX_ZYNQMP=n
CONFIG_CPU_FREQ_GOV_CONSERVATIVE=n
CONFIG_ROCKCHIP_IODOMAIN=n
CONFIG_QCOM_RPROC_COMMON=n
CONFIG_MTD_CFI_ADV_OPTIONS=n
CONFIG_SND_PCM_TIMER=n
CONFIG_INTEL_STRATIX10_SERVICE=n
CONFIG_DRM_MEDIATEK_DP=n
CONFIG_CRYPTO_LIB_CHACHA_ARCH=n
CONFIG_BATTERY_BQ27XXX=n
CONFIG_SENSORS_INA3221=n
CONFIG_DRM_ROCKCHIP=n
CONFIG_SERIAL_RSCI=n
CONFIG_APPLE_ADMAC=n
CONFIG_NVMEM_MESON_EFUSE=n
CONFIG_XZ_DEC_ARMTHUMB=n
CONFIG_ARCH_TEGRA_234_SOC=n
CONFIG_SND_SOC_IMX_SGTL5000=n
CONFIG_PCIE_CADENCE_HOST=n
CONFIG_USB_DWC3_QCOM=n
CONFIG_IWLWIFI_LEDS=n
CONFIG_SND_DMAENGINE_PCM=n
CONFIG_FUJITSU_ERRATUM_010001=n
CONFIG_PINCTRL_MT2712=n
CONFIG_PINCTRL_ARMADA_37XX=n
CONFIG_TEGRA_HOST1X_FIREWALL=n
CONFIG_GENERIC_STRNLEN_USER=n
CONFIG_PINCTRL_SM8450_LPASS_LPI=n
CONFIG_QCOM_HFPLL=n
CONFIG_OPEN_ALLIANCE_HELPERS=n
CONFIG_NET_VENDOR_MELLANOX=n
CONFIG_MMC_OWL=n
CONFIG_FSL_DPAA=n
CONFIG_CC_HAVE_SHADOW_CALL_STACK=n
CONFIG_QCOM_APR=n
CONFIG_DP83869_PHY=n
CONFIG_CLZ_TAB=n
CONFIG_LEDS_TRIGGERS=n
CONFIG_ARCH_WANT_PMD_MKWRITE=n
CONFIG_MEMBARRIER=n
CONFIG_DRM_PANEL_SITRONIX_ST7703=n
CONFIG_PINCTRL_PFC_R8A77960=n
CONFIG_ARCH_VEXPRESS=n
CONFIG_ALTERA_FREEZE_BRIDGE=n
CONFIG_BCM_NET_PHYLIB=n
CONFIG_CRYPTO_HW=n
CONFIG_PRU_REMOTEPROC=n
CONFIG_CRYPTO_GHASH_ARM64_CE=n
CONFIG_RCU_TRACE=n
CONFIG_MLX5_EN_ARFS=n
CONFIG_ARM_ALLWINNER_SUN50I_CPUFREQ_NVMEM=n
CONFIG_BLK_DEV_WRITE_MOUNTED=n
CONFIG_QCS_GCC_404=n
CONFIG_NET_DSA_TAG_BRCM_COMMON=n
CONFIG_CAVIUM_ERRATUM_22375=n
CONFIG_BRCMUTIL=n
CONFIG_MV_XOR_V2=n
CONFIG_MTK_UART_APDMA=n
CONFIG_RESET_BRCMSTB_RESCAL=n
CONFIG_ARM64_EPAN=n
CONFIG_QCOM_HIDMA=n
CONFIG_RZG3S_THERMAL=n
CONFIG_HAVE_STACKPROTECTOR=n
CONFIG_ARM_SMMU=n
CONFIG_CRYPTO_DEV_FSL_DPAA2_CAAM=n
CONFIG_MFD_SL28CPLD=n
CONFIG_NVMEM_REBOOT_MODE=n
CONFIG_CRC_CCITT=n
CONFIG_RTSN=n
CONFIG_MFD_SEC_CORE=n
CONFIG_NET_VENDOR_MICROCHIP=n
CONFIG_SPARSEMEM_VMEMMAP=n
CONFIG_STM32_WATCHDOG=n
CONFIG_SND_SOC_XILINX_AUDIO_FORMATTER=n
CONFIG_NET_VENDOR_BROCADE=n
CONFIG_NET_DSA_TAG_BRCM=n
CONFIG_MTD_NAND_BRCMNAND_BCMBCA=n
CONFIG_HAVE_SAMPLE_FTRACE_DIRECT=n
CONFIG_SND_SOC_TOPOLOGY=n
CONFIG_TCG_TIS_SPI_CR50=n
