CONFIG_IO_DELAY_0X80=n
CONFIG_CRYPTO_LIB_BLAKE2S_ARCH=n
CONFIG_INTEL_MEI_ME=n
CONFIG_PM=n
CONFIG_VGA_CONSOLE=n
CONFIG_RFKILL_INPUT=n
CONFIG_IOMMU_API=n
CONFIG_HAVE_OBJTOOL_MCOUNT=n
CONFIG_BLK_RQ_ALLOC_TIME=n
CONFIG_MICROCODE=n
CONFIG_NETFILTER_XT_MARK=n
CONFIG_DRM_PANEL_ORIENTATION_QUIRKS=n
CONFIG_RPS=n
CONFIG_HID_PID=n
CONFIG_PCI=n
CONFIG_X86_REQUIRED_FEATURE_XMM=n
CONFIG_FAILOVER=n
CONFIG_SCSI_PROC_FS=n
CONFIG_CPU_FREQ=n
CONFIG_CFG80211=n
CONFIG_HAVE_ARCH_PREL32_RELOCATIONS=n
CONFIG_PHYLIB=n
CONFIG_BLK_DEV_SD=n
CONFIG_ARCH_HAS_MEM_ENCRYPT=n
CONFIG_RETHOOK=n
CONFIG_SECURITY_NETWORK=n
CONFIG_ARCH_ENABLE_HUGEPAGE_MIGRATION=n
CONFIG_SMP=n
CONFIG_SPLIT_PTE_PTLOCKS=n
CONFIG_NO_HZ_IDLE=n
CONFIG_USB_PRINTER=n
CONFIG_IP_PNP=n
CONFIG_TTY=n
CONFIG_NETFILTER_XT_MATCH_CONNTRACK=n
CONFIG_UPROBE_EVENTS=n
CONFIG_NET_NS=n
CONFIG_FUNCTION_ALIGNMENT_4B=n
CONFIG_HAVE_KERNEL_LZMA=n
CONFIG_HAVE_GUP_FAST=n
CONFIG_COMPAT=n
CONFIG_NET_VENDOR_I825XX=n
CONFIG_ARCH_HAS_DEBUG_VIRTUAL=n
CONFIG_NVMEM_SYSFS=n
CONFIG_HAVE_ARCH_KCSAN=n
CONFIG_PATA_TIMINGS=n
CONFIG_DMA_ACPI=n
CONFIG_X86_DISABLED_FEATURE_CYRIX_ARR=n
CONFIG_FS_POSIX_ACL=n
CONFIG_NETFILTER_XT_TARGET_SECMARK=n
CONFIG_BCMA_POSSIBLE=n
CONFIG_X86_MCE=n
CONFIG_HAVE_IRQ_TIME_ACCOUNTING=n
CONFIG_NET_VENDOR_CISCO=n
CONFIG_SKY2=n
CONFIG_ACPI_AC=n
CONFIG_X86_PKG_TEMP_THERMAL=n
CONFIG_AUDIT_ARCH=n
CONFIG_DRM_I915_CAPTURE_ERROR=n
CONFIG_NF_CT_NETLINK=n
CONFIG_IRQ_DOMAIN=n
CONFIG_DRM_I915_COMPRESS_ERROR=n
CONFIG_I3C_OR_I2C=n
CONFIG_BINFMT_SCRIPT=n
CONFIG_HOTPLUG_PCI=n
CONFIG_EFI=n
CONFIG_HOTPLUG_CORE_SYNC_FULL=n
CONFIG_RSEQ=n
CONFIG_ACPI_SYSTEM_POWER_STATES_SUPPORT=n
CONFIG_CPU_IDLE_GOV_HALTPOLL=n
CONFIG_ACPI_THERMAL=n
CONFIG_VIRTIO_MENU=n
CONFIG_DRM_CLIENT_SELECTION=n
CONFIG_INTEL_MEI=n
CONFIG_PAGE_SIZE_LESS_THAN_64KB=n
CONFIG_DEBUG_FS=n
CONFIG_UPROBES=n
CONFIG_NO_HZ_COMMON=n
CONFIG_ARCH_HAS_STRICT_MODULE_RWX=n
CONFIG_PCI_LABEL=n
CONFIG_CORE_DUMP_DEFAULT_ELF_HEADERS=n
CONFIG_HAVE_ARCH_GET_SECUREBOOT=n
CONFIG_HIGH_RES_TIMERS=n
CONFIG_SUNRPC_GSS=n
CONFIG_HAVE_DYNAMIC_FTRACE_NO_PATCHABLE=n
CONFIG_COMPACTION=n
CONFIG_BLOCK_HOLDER_DEPRECATED=n
CONFIG_ARCH_WANTS_DYNAMIC_TASK_STRUCT=n
CONFIG_GENERIC_IOMAP=n
CONFIG_PCI_MSI=n
CONFIG_GRACE_PERIOD=n
CONFIG_XFRM_ESP=n
CONFIG_DMADEVICES=n
CONFIG_PERF_EVENTS_INTEL_RAPL=n
CONFIG_ARCH_HAS_ACPI_TABLE_UPGRADE=n
CONFIG_CARDBUS=n
CONFIG_DRM_DISPLAY_HDMI_HELPER=n
CONFIG_ARCH_USE_SYM_ANNOTATIONS=n
CONFIG_VIRTUALIZATION=n
CONFIG_GROUP_SCHED_WEIGHT=n
CONFIG_CGROUP_DEBUG=n
CONFIG_CRYPTO_LZO=n
CONFIG_ATA_VERBOSE_ERROR=n
CONFIG_X86_MCE_INTEL=n
CONFIG_MII=n
CONFIG_NET_VENDOR_SILAN=n
CONFIG_DMA_VIRTUAL_CHANNELS=n
CONFIG_GENERIC_PCI_IOMAP=n
CONFIG_UNION_FIND=n
CONFIG_ARCH_SUPPORTS_CRASH_DUMP=n
CONFIG_I2C_BOARDINFO=n
CONFIG_VGA_ARB=n
CONFIG_WLAN_VENDOR_INTEL=n
CONFIG_VIRTIO_PCI_ADMIN_LEGACY=n
CONFIG_XFRM_AH=n
CONFIG_8139TOO=n
CONFIG_HAVE_ARCH_KFENCE=n
CONFIG_PRINTK=n
CONFIG_X509_CERTIFICATE_PARSER=n
CONFIG_EDAC_ATOMIC_SCRUB=n
CONFIG_HAVE_CMPXCHG_DOUBLE=n
CONFIG_STACKPROTECTOR_STRONG=n
CONFIG_QUOTA_NETLINK_INTERFACE=n
CONFIG_OBJTOOL=n
CONFIG_CC_HAS_ASM_GOTO_OUTPUT=n
CONFIG_CGROUPS=n
CONFIG_ARCH_SUPPORTS_SCHED_CLUSTER=n
CONFIG_PNP=n
CONFIG_NETLABEL=n
CONFIG_CC_HAS_WORKING_NOSANITIZE_ADDRESS=n
CONFIG_LEGACY_DIRECT_IO=n
CONFIG_IPV6_NDISC_NODETYPE=n
CONFIG_IP_ADVANCED_ROUTER=n
CONFIG_ARCH_HAS_PMEM_API=n
CONFIG_VDSO_GETRANDOM=n
CONFIG_CFG80211_DEFAULT_PS=n
CONFIG_KPROBE_EVENTS=n
CONFIG_DRM_GEM_SHMEM_HELPER=n
CONFIG_ARCH_WANT_BATCHED_UNMAP_TLB_FLUSH=n
CONFIG_SCSI_SPI_ATTRS=n
CONFIG_PERF_EVENTS_AMD_UNCORE=n
CONFIG_GENERIC_BUG=n
CONFIG_PNPACPI=n
CONFIG_SGL_ALLOC=n
CONFIG_HAVE_ARCH_SECCOMP=n
CONFIG_WLAN_VENDOR_SILABS=n
CONFIG_CGROUP_PIDS=n
CONFIG_SPARSE_IRQ=n
CONFIG_MOUSE_PS2_ALPS=n
CONFIG_PCI_PRI=n
CONFIG_SND_HWDEP=n
CONFIG_MITIGATION_SRSO=n
CONFIG_BINFMT_ELF=n
CONFIG_SND_HDA_HWDEP=n
CONFIG_EFI_DXE_MEM_ATTRIBUTES=n
CONFIG_EFI_ESRT=n
CONFIG_NET_VENDOR_CHELSIO=n
CONFIG_NET_HANDSHAKE=n
CONFIG_EXECMEM=n
CONFIG_NLATTR=n
CONFIG_HAVE_KPROBES_ON_FTRACE=n
CONFIG_NETFILTER_XT_TARGET_MASQUERADE=n
CONFIG_USB_SUPPORT=n
CONFIG_NF_CONNTRACK_SECMARK=n
CONFIG_BUG=n
CONFIG_HAVE_EFFICIENT_UNALIGNED_ACCESS=n
CONFIG_PTP_1588_CLOCK_OPTIONAL=n
CONFIG_NETPOLL=n
CONFIG_NUMA_MIGRATION=n
CONFIG_SND_HRTIMER=n
CONFIG_SECURITY_SELINUX_BOOTPARAM=n
CONFIG_NLS_UTF8=n
CONFIG_HAVE_ARCH_VMAP_STACK=n
CONFIG_HAVE_STATIC_CALL_INLINE=n
CONFIG_HAS_SECURITY_AUDIT=n
CONFIG_BINARY_PRINTF=n
CONFIG_ALLOW_DEV_COREDUMP=n
CONFIG_ARCH_SUPPORTS_RT=n
CONFIG_TASK_XACCT=n
CONFIG_NET_VENDOR_TEHUTI=n
CONFIG_ARCH_SUPPORTS_CRASH_HOTPLUG=n
CONFIG_X86_NEED_RELOCS=n
CONFIG_CRYPTO_LIB_GF128HASH_ARCH=n
CONFIG_RTC_INTF_PROC=n
CONFIG_NVMEM=n
CONFIG_HAVE_RSEQ=n
CONFIG_DEBUG_FS_ALLOW_ALL=n
CONFIG_SKB_EXTENSIONS=n
CONFIG_ARCH_SUPPORTS_MSEAL_SYSTEM_MAPPINGS=n
CONFIG_SND_DMA_SGBUF=n
CONFIG_GENERIC_ENTRY=n
CONFIG_USER_STACKTRACE_SUPPORT=n
CONFIG_CALL_PADDING=n
CONFIG_XZ_DEC_BCJ=n
CONFIG_CC_HAS_COUNTED_BY=n
CONFIG_NLS_CODEPAGE_437=n
CONFIG_NET_VENDOR_BROCADE=n
CONFIG_SCSI_CONSTANTS=n
CONFIG_WLAN_VENDOR_ATMEL=n
CONFIG_X86_CX8=n
CONFIG_ARCH_STACKWALK=n
CONFIG_HOTPLUG_CPU=n
CONFIG_EFIVAR_FS=n
CONFIG_ACPI_REV_OVERRIDE_POSSIBLE=n
CONFIG_FONT_SUPPORT=n
CONFIG_ASSOCIATIVE_ARRAY=n
CONFIG_MD_BITMAP=n
CONFIG_HID_GYRATION=n
CONFIG_ACPI_PROCESSOR=n
CONFIG_SYSVIPC_SYSCTL=n
CONFIG_NET_DEVMEM=n
CONFIG_MACINTOSH_DRIVERS=n
CONFIG_ARCH_HAS_KERNEL_FPU_SUPPORT=n
CONFIG_HIBERNATE_CALLBACKS=n
CONFIG_SERIAL_8250_DWLIB=n
CONFIG_I2C_HID=n
CONFIG_INPUT_EVDEV=n
CONFIG_INTERVAL_TREE=n
CONFIG_X86_INTEL_MEMORY_PROTECTION_KEYS=n
CONFIG_HID_SUPPORT=n
CONFIG_GENERIC_ISA_DMA=n
CONFIG_SHMEM=n
CONFIG_EXT4_FS=n
CONFIG_NET_VENDOR_OKI=n
CONFIG_RD_ZSTD=n
CONFIG_JOLIET=n
CONFIG_MUTEX_SPIN_ON_OWNER=n
CONFIG_X86_THERMAL_VECTOR=n
CONFIG_NUMA=n
CONFIG_ARCH_HAS_SET_DIRECT_MAP=n
CONFIG_X86_64_ACPI_NUMA=n
CONFIG_TIGON3=n
CONFIG_EXT4_FS_POSIX_ACL=n
CONFIG_BLK_DEV_LOOP=n
CONFIG_NF_REJECT_IPV4=n
CONFIG_SCHED_MC=n
CONFIG_RFS_ACCEL=n
CONFIG_MITIGATION_RFDS=n
CONFIG_HAVE_FTRACE_REGS_HAVING_PT_REGS=n
CONFIG_FONT_AUTOSELECT=n
CONFIG_ARCH_HAS_SET_MEMORY=n
CONFIG_ARCH_HAS_PREEMPT_LAZY=n
CONFIG_ARCH_MHP_MEMMAP_ON_MEMORY_ENABLE=n
CONFIG_E1000=n
CONFIG_ACPI_PLATFORM_PROFILE=n
CONFIG_STANDALONE=n
CONFIG_PATA_OLDPIIX=n
CONFIG_POSIX_CPU_TIMERS_TASK_WORK=n
CONFIG_PERF_EVENTS=n
CONFIG_X86=n
CONFIG_SECURITY_SELINUX_DEVELOP=n
CONFIG_NET_VENDOR_MICROCHIP=n
CONFIG_TICK_CPU_ACCOUNTING=n
CONFIG_ARCH_USE_MEMTEST=n
CONFIG_YENTA_RICOH=n
CONFIG_CRYPTO_SIG=n
CONFIG_OPTPROBES=n
CONFIG_SND_CTL_FAST_LOOKUP=n
CONFIG_XFRM_ALGO=n
CONFIG_HAVE_NOINSTR_VALIDATION=n
CONFIG_NET_SCHED=n
CONFIG_NF_LOG_SYSLOG=n
CONFIG_PTP_1588_CLOCK_VMCLOCK=n
CONFIG_NET_VENDOR_XILINX=n
CONFIG_ARCH_HAS_PKEYS=n
CONFIG_USE_X86_SEG_SUPPORT=n
CONFIG_PCCARD=n
CONFIG_MITIGATION_SPECTRE_V1=n
CONFIG_I2C_SMBUS=n
CONFIG_EFI_STUB=n
CONFIG_SERIAL_8250_PCI=n
CONFIG_INOTIFY_USER=n
CONFIG_TASKS_TRACE_RCU=n
CONFIG_HAVE_GCC_PLUGINS=n
CONFIG_SND_SEQ_DUMMY=n
CONFIG_X86_IO_APIC=n
CONFIG_NET_VENDOR_BROADCOM=n
CONFIG_PCIEASPM_DEFAULT=n
CONFIG_HARDIRQS_SW_RESEND=n
CONFIG_TRACEPOINTS=n
CONFIG_VFAT_FS=n
CONFIG_THERMAL_GOV_STEP_WISE=n
CONFIG_GENERIC_MSI_IRQ=n
CONFIG_SCHED_OMIT_FRAME_POINTER=n
CONFIG_MOUSE_PS2_SMBUS=n
CONFIG_FILE_LOCKING=n
CONFIG_MEMFD_CREATE=n
CONFIG_BLK_CGROUP_IOCOST=n
CONFIG_X86_BUS_LOCK_DETECT=n
CONFIG_X86_DISABLED_FEATURE_LAM=n
CONFIG_CDROM=n
CONFIG_ARCH_HAS_CPU_CACHE_INVALIDATE_MEMREGION=n
CONFIG_IP_PNP_RARP=n
CONFIG_SERIAL_8250_DETECT_IRQ=n
CONFIG_LTO_NONE=n
CONFIG_IOMMU_PT_VTDSS=n
CONFIG_PCI_MMCONFIG=n
CONFIG_MITIGATION_RETPOLINE=n
CONFIG_SND_PCM_TIMER=n
CONFIG_CC_HAS_NAMED_AS=n
CONFIG_NET_9P=n
