CONFIG_DECOMPRESS_LZO=y
CONFIG_WLAN_VENDOR_MICROCHIP=y
CONFIG_CRC_CCITT=y
CONFIG_NETFILTER_FAMILY_ARP=y
CONFIG_ARCH_SUPPORTS_SCHED_MC=y
CONFIG_FS_VERITY=y
CONFIG_MDIO_I2C=y
CONFIG_ARM_SPEAR_CPUFREQ=y
CONFIG_IIO_BACKEND=y
CONFIG_TS72XX_WATCHDOG=y
CONFIG_ADVISE_SYSCALLS=y
CONFIG_MMP_DISP=y
CONFIG_SEN0322=y
CONFIG_NVMEM_SPRD_EFUSE=y
CONFIG_SPI_LOONGSON_PLATFORM=y
CONFIG_DEBUG_VFS=y
CONFIG_SVC_I3C_MASTER=y
CONFIG_JFS_STATISTICS=y
CONFIG_LTO_NONE=y
CONFIG_I3C_OR_I2C=y
CONFIG_HW_RANDOM_HISI=y
CONFIG_CHARGER_ISP1704=y
CONFIG_ARM_SCMI_POWER_CONTROL=y
CONFIG_HAVE_PCI=y
CONFIG_EXT4_DEBUG=y
CONFIG_NETFILTER_XT_MATCH_CONNLABEL=y
CONFIG_FPGA_MGR_MACHXO2_SPI=y
CONFIG_REGULATOR_MAX8925=y
CONFIG_HAVE_HW_BREAKPOINT=y
CONFIG_POLYNOMIAL=y
CONFIG_MEMSTICK_REALTEK_USB=y
CONFIG_FIND_BIT_BENCHMARK=y
CONFIG_PINCTRL_SDX75=y
CONFIG_USB_OXU210HP_HCD=y
CONFIG_ALS31300=y
CONFIG_NFT_CONNLIMIT=y
CONFIG_RELOCATABLE=y
CONFIG_LEDS_PCA955X=y
CONFIG_ARCH_HAS_CPU_FINALIZE_INIT=y
CONFIG_GPIO_XILINX=y
CONFIG_USB_DWC3_OMAP=y
CONFIG_LEGACY_DIRECT_IO=y
CONFIG_NET_DSA_TAG_BRCM=y
CONFIG_IRQ_FASTEOI_HIERARCHY_HANDLERS=y
CONFIG_CRYPTO_DEV_ATMEL_AES=y
CONFIG_PINCTRL_PFC_EMEV2=y
CONFIG_TI_FPC202=y
CONFIG_SYSTEM_EXTRA_CERTIFICATE=y
CONFIG_PINCTRL_PFC_R8A7779=y
CONFIG_AD4062=y
CONFIG_CRYPTO_ARIA=y
CONFIG_ARCH_WANT_OPTIMIZE_DAX_VMEMMAP=y
CONFIG_CC_HAS_NAMED_AS=y
CONFIG_PINCTRL_PFC_SH73A0=y
CONFIG_PINCTRL_AT91=y
CONFIG_COMPAT_NETLINK_MESSAGES=y
CONFIG_RTLWIFI_USB=y
CONFIG_NFC_PN533_I2C=y
CONFIG_NVMEM_AN8855_EFUSE=y
CONFIG_NET_9P_USBG=y
CONFIG_USB_SERIAL_QUALCOMM=y
CONFIG_SENSORS_POWERZ=y
CONFIG_SENSORS_ADS7828=y
CONFIG_HAVE_ARCH_SECCOMP=y
CONFIG_PINCTRL_INGENIC=y
CONFIG_RESET_BCM6345=y
CONFIG_HW_RANDOM_IMX_RNGC=y
CONFIG_PINCTRL_INTEL=y
CONFIG_OMAP_USB2=y
CONFIG_HAVE_DMA_CONTIGUOUS=y
CONFIG_OBJTOOL=y
CONFIG_BMI270_I2C=y
CONFIG_NCSI_OEM_CMD_GET_MAC=y
CONFIG_X86_DISABLED_FEATURE_LAM=y
CONFIG_BPF_EVENTS=y
CONFIG_WWAN=y
CONFIG_LEDS_AN30259A=y
CONFIG_USB_G_DBGP_PRINTK=y
CONFIG_COMEDI_CB_DAS16_CS=y
CONFIG_HAVE_ARCH_KMSAN=y
CONFIG_DEBUG_TLBFLUSH=y
CONFIG_TSYS02D=y
CONFIG_MD_AUTODETECT=y
CONFIG_NETFILTER_XT_MATCH_DCCP=y
CONFIG_MCP9600=y
CONFIG_ADJD_S311=y
CONFIG_XFS_QUOTA=y
CONFIG_ARCH_HAS_GCOV_PROFILE_ALL=y
CONFIG_CPU_FREQ_GOV_SCHEDUTIL=y
CONFIG_DEBUG_PAGE_REF=y
CONFIG_SERIAL_LANTIQ=y
CONFIG_NVMEM_LAYOUT_SL28_VPD=y
CONFIG_SENSORS_LM63=y
CONFIG_INTEL_TH=y
CONFIG_BCMA_BLOCKIO=y
CONFIG_MFD_DA9052_SPI=y
CONFIG_CRYPTO_KRB5_SELFTESTS=y
CONFIG_IIO_KX022A_I2C=y
CONFIG_MFD_MC13XXX_SPI=y
CONFIG_ADVANTECH_EC_WDT=y
CONFIG_IPMI_SSIF=y
CONFIG_NET_DSA_MV88E6XXX=y
CONFIG_NVME_AUTH=y
CONFIG_W1_MASTER_AMD_AXI=y
CONFIG_PINCTRL_MT8196=y
CONFIG_CHARGER_QCOM_SMB2=y
CONFIG_APDS9802ALS=y
CONFIG_PINCTRL_ASPEED_G5=y
CONFIG_USB_ISP1301=y
CONFIG_MD_BITMAP=y
CONFIG_CRYPTO_CRYPTD=y
CONFIG_MTD_ONENAND_GENERIC=y
CONFIG_SENSORS_ADT7310=y
CONFIG_NETFILTER_XT_TARGET_NETMAP=y
CONFIG_I2C_BOARDINFO=y
CONFIG_PINCTRL_GLYMUR=y
CONFIG_MTD_MAP_BANK_WIDTH_4=y
CONFIG_CRYPTO_TWOFISH_X86_64=y
CONFIG_I2C_HISI=y
CONFIG_RTW88_8814AU=y
CONFIG_SENSORS_ASB100=y
CONFIG_MAX11410=y
CONFIG_DW_WATCHDOG=y
CONFIG_IIO_BUFFER_DMA=y
CONFIG_PHY_EXYNOS_DP_VIDEO=y
CONFIG_BCM_KONA_USB2_PHY=y
CONFIG_MTD_CMDLINE_PARTS=y
CONFIG_BATTERY_GOLDFISH=y
CONFIG_TPS6105X=y
CONFIG_I2C_PXA_SLAVE=y
CONFIG_GENERIC_IRQ_DEBUGFS=y
CONFIG_GENERIC_PINCTRL=y
CONFIG_PREEMPT_LAZY=y
CONFIG_RESET_A10SR=y
CONFIG_USB_EHSET_TEST_FIXTURE=y
CONFIG_GENERIC_IRQ_RESERVATION_MODE=y
CONFIG_I2C_BCM_IPROC=y
CONFIG_REGULATOR_DEBUG=y
CONFIG_AD7791=y
CONFIG_PINCTRL_EIC7700=y
CONFIG_MMP_FB=y
CONFIG_SENSORS_GL518SM=y
CONFIG_GPIO_MAX3191X=y
CONFIG_BT_DEBUGFS=y
CONFIG_SPI_AXIADO=y
CONFIG_MS5611_I2C=y
CONFIG_NEED_TASKS_RCU=y
CONFIG_GPIO_PCF857X=y
CONFIG_RV_MON_WWNR=y
CONFIG_HWSPINLOCK_QCOM=y
CONFIG_IIO_TRIGGERED_BUFFER=y
CONFIG_NVMEM_BRCM_NVRAM=y
CONFIG_PM_SLEEP_SMP=y
CONFIG_SPI_TEGRA20_SLINK=y
CONFIG_PINCTRL_LAKEFIELD=y
CONFIG_VFAT_FS=y
CONFIG_ARCH_SPARSEMEM_ENABLE=y
CONFIG_SX_COMMON=y
CONFIG_MMA9551=y
CONFIG_GPIO_LP87565=y
CONFIG_SPI_BCM_QSPI=y
CONFIG_B43_HWRNG=y
CONFIG_SERIAL_IMX_EARLYCON=y
CONFIG_MTD_SPI_NOR_SWP_DISABLE_ON_VOLATILE=y
CONFIG_DIGICOLOR_WATCHDOG=y
CONFIG_PM_SLEEP=y
CONFIG_USB_FOTG210=y
CONFIG_IIO_KX022A=y
CONFIG_SENSORS_GPIO_FAN=y
CONFIG_PREEMPT_TRACER=y
CONFIG_SPI_OC_TINY=y
CONFIG_QCOM_CPR=y
CONFIG_HRTIMER_REARM_DEFERRED=y
CONFIG_TMPFS_QUOTA=y
CONFIG_REGULATOR_STW481X_VMMC=y
CONFIG_ROCKCHIP_IOMMU=y
CONFIG_CLKSRC_PXA=y
CONFIG_842_DECOMPRESS=y
CONFIG_PHY_ROCKCHIP_INNO_CSIDPHY=y
CONFIG_RSI_USB=y
CONFIG_HAVE_UID16=y
CONFIG_BHYVE_GUEST=y
CONFIG_PHY_RTK_RTD_USB2PHY=y
CONFIG_PINCTRL_MT8135=y
CONFIG_NET_DSA_REALTEK_RTL8366RB_LEDS=y
CONFIG_MFD_BQ257XX=y
CONFIG_UNION_FIND=y
CONFIG_BT_HCIUART_3WIRE=y
CONFIG_IMX_MBOX=y
CONFIG_X86_CMOV=y
CONFIG_RTD119X_WATCHDOG=y
CONFIG_MFD_DA9062=y
CONFIG_FB_SYSMEM_HELPERS=y
CONFIG_NVMEM_ROCKCHIP_OTP=y
CONFIG_QCOM_TZMEM_MODE_GENERIC=y
CONFIG_CGROUP_SCHED=y
CONFIG_NET_IFE=y
CONFIG_CM32181=y
CONFIG_RESET_IMX8MP_AUDIOMIX=y
CONFIG_HAS_IOPORT_MAP=y
CONFIG_SPI_CADENCE_XSPI=y
CONFIG_CRYPTO_LIB_SHA256=y
CONFIG_PHY_STARFIVE_JH7110_PCIE=y
CONFIG_QCOM_FASTRPC=y
CONFIG_SPI_AMLOGIC_SPIFC_A4=y
CONFIG_XOR_BLOCKS=y
CONFIG_NET_SCH_PRIO=y
CONFIG_PINCTRL_IMX6UL=y
CONFIG_TMP007=y
CONFIG_HAVE_CMPXCHG_LOCAL=y
CONFIG_B43LEGACY_DMA=y
CONFIG_LTC2688=y
CONFIG_RESET_INTEL_GW=y
CONFIG_CC_HAS_NAMED_AS_FIXED_SANITIZERS=y
CONFIG_BACKLIGHT_GPIO=y
CONFIG_GFS2_FS=y
CONFIG_GPIO_TEGRA=y
CONFIG_CRYPTO_DES=y
CONFIG_VHOST_IOTLB=y
CONFIG_WM8350_WATCHDOG=y
CONFIG_IMX_SCMI_CPU_DRV=y
CONFIG_WARN_ABI_ERRORS=y
CONFIG_LDM_PARTITION=y
CONFIG_RESET_UNIPHIER=y
CONFIG_CONSTRUCTORS=y
CONFIG_BUILDTIME_MCOUNT_SORT=y
CONFIG_BACKLIGHT_CLASS_DEVICE=y
CONFIG_GPIO_MPSSE=y
CONFIG_PHY_ECONET_PCIE=y
CONFIG_CRYPTO_LIB_SHA512_ARCH=y
CONFIG_USE_X86_SEG_SUPPORT=y
CONFIG_BOSCH_BNO055_I2C=y
CONFIG_USB_ETH_RNDIS=y
CONFIG_CRYPTO_ECB=y
CONFIG_LAPB=y
CONFIG_RESET_EYEQ=y
CONFIG_ATA_SFF=y
CONFIG_PHY_MESON_AXG_MIPI_PCIE_ANALOG=y
CONFIG_SPI_MXIC=y
CONFIG_INET_ESP=y
CONFIG_CRYPTO_KRB5ENC=y
CONFIG_PINCTRL_MT8365=y
CONFIG_REGULATOR_MAX8649=y
CONFIG_ADXL367=y
CONFIG_CHARGER_GPIO=y
CONFIG_ARCH_HIBERNATION_POSSIBLE=y
CONFIG_LPC18XX_DAC=y
CONFIG_CRYPTO_CHACHA20=y
CONFIG_PROFILE_ANNOTATED_BRANCHES=y
CONFIG_FPGA_MGR_ZYNQ_FPGA=y
CONFIG_MDIO_BITBANG=y
CONFIG_USB_DWC2_HOST=y
CONFIG_TI_ADC084S021=y
CONFIG_REGULATOR_UNIPHIER=y
CONFIG_GPIO_IT87=y
CONFIG_QUOTA=y
CONFIG_BACKLIGHT_AS3711=y
CONFIG_PINCTRL_SINGLE=y
CONFIG_MTD_NAND_QCOM=y
CONFIG_B43_PHY_HT=y
CONFIG_PHY_HI3660_USB=y
CONFIG_NF_CONNTRACK_PPTP=y
CONFIG_COMEDI_QUATECH_DAQP_CS=y
CONFIG_I2C_DIOLAN_U2C=y
CONFIG_NET_XGRESS=y
CONFIG_MIPI_I3C_HCI=y
CONFIG_USB_DUMMY_HCD=y
CONFIG_USB_OHCI_HCD_SSB=y
CONFIG_CRYPTO_SIG2=y
CONFIG_BT_HCIVHCI=y
CONFIG_SENSORS_POWR1220=y
CONFIG_PINCTRL_RTD=y
CONFIG_USB_G_ACM_MS=y
CONFIG_JOLIET=y
CONFIG_VHOST_MENU=y
CONFIG_ZLIB_DEFLATE=y
CONFIG_MTD_NAND_SH_FLCTL=y
CONFIG_RTW89_DEBUG=y
CONFIG_INET_DIAG=y
CONFIG_NET_ACT_SAMPLE=y
CONFIG_LTC1660=y
CONFIG_DA9063_WATCHDOG=y
CONFIG_BT_NXPUART=y
CONFIG_GPIO_PISOSR=y
CONFIG_FTRACE_SORT_STARTUP_TEST=y
CONFIG_GPIO_DA9052=y
CONFIG_TRACER_SNAPSHOT=y
CONFIG_FUNCTION_TRACER=y
CONFIG_QCOM_WCNSS_CTRL=y
CONFIG_CRYPTO_LIB_SM3=y
CONFIG_NFC_TRF7970A=y
CONFIG_FB=y
CONFIG_CRYPTO_TWOFISH=y
CONFIG_MTD_PCMCIA_ANONYMOUS=y
CONFIG_NF_CONNTRACK_H323=y
CONFIG_IP_PNP=y
CONFIG_PINCTRL_VISCONTI=y
CONFIG_BLOCK=y
CONFIG_FB_CFB_FILLRECT=y
CONFIG_W1_MASTER_MXC=y
CONFIG_CRYPTO_KPP=y
CONFIG_NET_DSA_TAG_EDSA=y
CONFIG_GPIO_CDEV_V1=y
CONFIG_MTD_QCOMSMEM_PARTS=y
CONFIG_PHY_LANTIQ_VRX200_PCIE=y
CONFIG_RESET_QCOM_PDC=y
CONFIG_MVEBU_DEVBUS=y
CONFIG_GPIO_WAVESHARE_DSI_TOUCH=y
CONFIG_QCOM_SMEM_STATE=y
CONFIG_SENSORS_F71882FG=y
CONFIG_PINCTRL_QCOM_SSBI_PMIC=y
CONFIG_LEDS_TRIGGER_ONESHOT=y
CONFIG_XOR_BLOCKS_ARCH=y
CONFIG_NPCM7XX_KCS_IPMI_BMC=y
CONFIG_NLS_CODEPAGE_874=y
CONFIG_VDPA_SIM=y
CONFIG_USB_M66592=y
CONFIG_LEDS_CR0014114=y
CONFIG_AK8974=y
CONFIG_HARDIRQS_SW_RESEND=y
CONFIG_NETLINK_DIAG=y
CONFIG_SD_ADC_MODULATOR=y
CONFIG_ISA_DMA_API=y
CONFIG_CRYPTO_ECRDSA=y
CONFIG_ARCH_MHP_MEMMAP_ON_MEMORY_ENABLE=y
CONFIG_SCSI_UFS_HISI=y
CONFIG_BT_HCIUART_ATH3K=y
CONFIG_FSL_MX25_ADC=y
CONFIG_X86_REQUIRED_FEATURE_LM=y
CONFIG_MDIO_BCM_UNIMAC=y
CONFIG_RTW89_8852CU=y
CONFIG_NF_NAT_REDIRECT=y
CONFIG_MTD_CFI_I2=y
CONFIG_ARCH_USE_QUEUED_RWLOCKS=y
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO_BARE=y
CONFIG_SENSORS_MP5023=y
CONFIG_ZONEFS_FS=y
CONFIG_SENSORS_HMC5843=y
CONFIG_GPIO_MOCKUP=y
CONFIG_UPROBE_EVENTS=y
CONFIG_TI_ADS1298=y
CONFIG_REGULATOR_ISL6271A=y
CONFIG_VIDEO=y
CONFIG_TI_ADS1015=y
CONFIG_FB_CFB_IMAGEBLIT=y
CONFIG_SATA_HOST=y
CONFIG_CPUFREQ_DT_PLATDEV=y
CONFIG_CHARGER_TPS65090=y
CONFIG_MTK_SCPSYS_PM_DOMAINS=y
CONFIG_SENSORS_HAC300S=y
CONFIG_SENSORS_LINEAGE=y
CONFIG_INET_TUNNEL=y
CONFIG_PT_RECLAIM=y
CONFIG_HOTPLUG_PARALLEL=y
CONFIG_REGULATOR_MAX8952=y
CONFIG_FSI_MASTER_I2CR=y
CONFIG_NET_DSA_TAG_BRCM_COMMON=y
CONFIG_PINCTRL_IMXRT1050=y
CONFIG_NLS_KOI8_U=y
CONFIG_SAMSUNG_MC=y
CONFIG_POWER_SEQUENCING=y
CONFIG_PINCTRL_MSM8960=y
CONFIG_CRYPTO_842=y
CONFIG_RTW88_8822BU=y
CONFIG_AD5380=y
CONFIG_LEDS_LM3533=y
CONFIG_NETFILTER_NETLINK_QUEUE=y
CONFIG_MSPRO_BLOCK=y
CONFIG_VSOCKETS_DIAG=y
CONFIG_BCM2835_TIMER=y
CONFIG_MFD_MAX7360=y
CONFIG_NLS_CODEPAGE_864=y
CONFIG_GPIO_LTC4283=y
CONFIG_USB_F_FS=y
CONFIG_BACKLIGHT_BD6107=y
CONFIG_RESET_PISTACHIO=y
CONFIG_MAG3110=y
CONFIG_TPS6594_ESM=y
CONFIG_FUNCTION_SELF_TRACING=y
CONFIG_REGULATOR_PF1550=y
CONFIG_INTERCONNECT=y
CONFIG_SENSORS_W83791D=y
CONFIG_HAVE_HARDLOCKUP_DETECTOR_BUDDY=y
CONFIG_PINCTRL_SX150X=y
CONFIG_USB_OHCI_HCD_PLATFORM=y
CONFIG_NET_SCH_INGRESS=y
CONFIG_USB_CHAOSKEY=y
CONFIG_BACKLIGHT_LM3639=y
CONFIG_ARM64_PLATFORM_DEVICES=y
CONFIG_SENSORS_MP2869=y
CONFIG_VFIO_GROUP=y
CONFIG_BUILDTIME_TABLE_SORT=y
CONFIG_SERIAL_8250_DWLIB=y
CONFIG_SCSI_UFS_DWC_TC_PLATFORM=y
CONFIG_NF_NAT_OVS=y
CONFIG_SENSORS_EMC2305=y
CONFIG_AT91_SOC_SFR=y
CONFIG_DM_WRITECACHE=y
CONFIG_NET_SCH_FQ_CODEL=y
CONFIG_GCOV_PROFILE_NETFILTER=y
CONFIG_REGULATOR_ROHM=y
CONFIG_GENERIC_PHY=y
CONFIG_RFKILL=y
CONFIG_MMU_LAZY_TLB_REFCOUNT=y
CONFIG_BRCMUTIL=y
CONFIG_MS5611=y
CONFIG_SENSORS_NPCM7XX=y
CONFIG_SUN20I_GPADC=y
CONFIG_KERNEL_GZIP=y
CONFIG_MFD_MENF21BMC=y
CONFIG_FPGA_REGION=y
CONFIG_CGROUP_MISC=y
CONFIG_PHY_QCOM_SGMII_ETH=y
CONFIG_MFD_CORE=y
CONFIG_CRYPTO_CAST_COMMON=y
CONFIG_ABP2030PA=y
CONFIG_PINCTRL_VT8500=y
CONFIG_MAC80211=y
CONFIG_MFD_ADP5585=y
CONFIG_NFC_PN533=y
CONFIG_CRYPTO_KRB5=y
CONFIG_GENERIC_EARLY_IOREMAP=y
CONFIG_RENESAS_OSTM=y
CONFIG_REGULATOR_QCOM_RPMH=y
CONFIG_SENSORS_LM83=y
CONFIG_ADIS16460=y
CONFIG_RD_BZIP2=y
CONFIG_PAGE_REPORTING=y
CONFIG_PINCTRL_MTK=y
CONFIG_NETFILTER_XT_MATCH_L2TP=y
CONFIG_LEDS_BCM63138=y
CONFIG_SENSORS_TMP513=y
CONFIG_CRC8=y
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE_PUD=y
CONFIG_ARM_SCMI_HAVE_TRANSPORT=y
CONFIG_SERIAL_MPS2_UART=y
CONFIG_ARM_SCMI_POWER_DOMAIN=y
CONFIG_CRYPTO_SKCIPHER=y
CONFIG_PINCTRL_WMT=y
CONFIG_HEADERS_INSTALL=y
CONFIG_SPI_NXP_SPIFI=y
CONFIG_HAVE_ARCH_KFENCE=y
CONFIG_GENERIC_PT=y
CONFIG_PHY_INGENIC_USB=y
CONFIG_CRYPTO_TWOFISH_COMMON=y
CONFIG_CRYPTO_LIB_POLY1305=y
CONFIG_PHY_HISTB_COMBPHY=y
CONFIG_I2C_MUX_LTC4306=y
CONFIG_SENSORS_IIO_HWMON=y
CONFIG_SENSORS_NCT6775_CORE=y
CONFIG_NET_DSA_TAG_MXL_862XX=y
CONFIG_SENSORS_LM70=y
CONFIG_INET_ESPINTCP=y
CONFIG_SERIAL_8250_MT6577=y
CONFIG_DAVICOM_PHY=y
CONFIG_HAVE_RELIABLE_STACKTRACE=y
CONFIG_PINCTRL_NS=y
CONFIG_NVMEM_ROCKCHIP_EFUSE=y
CONFIG_USB_LD=y
CONFIG_NET_SCH_ETF=y
CONFIG_MEMBLOCK_KHO_SCRATCH=y
CONFIG_SI7020=y
CONFIG_RESET_TENSTORRENT_ATLANTIS=y
CONFIG_FIX_EARLYCON_MEM=y
CONFIG_PHY_ROCKCHIP_SAMSUNG_DCPHY=y
CONFIG_MTD_NAND_MLC_LPC32XX=y
CONFIG_ARCH_WANT_OLD_COMPAT_IPC=y
CONFIG_ZL3073X_SPI=y
CONFIG_REGULATOR_MC13892=y
CONFIG_PHY_MESON_AXG_MIPI_DPHY=y
CONFIG_COMPAT=y
CONFIG_HW_RANDOM_XIPHERA=y
CONFIG_PINCTRL_NSP_MUX=y
CONFIG_REGULATOR_88PM800=y
CONFIG_B43=y
CONFIG_CC_HAS_ASM_INLINE=y
CONFIG_AD7091R=y
CONFIG_PHY_DM816X_USB=y
CONFIG_FPGA_DFL_FME_REGION=y
CONFIG_VF610_DAC=y
CONFIG_CRYPTO_SERPENT_AVX_X86_64=y
CONFIG_MICROCHIP_T1_PHY=y
CONFIG_RTW88_USB=y
CONFIG_NF_NAT_AMANDA=y
CONFIG_MFD_TI_AM335X_TSCADC=y
CONFIG_GPIO_ADP5585=y
CONFIG_BT_HCIRSI=y
CONFIG_NET_ACT_VLAN=y
CONFIG_STACKDEPOT_ALWAYS_INIT=y
CONFIG_MCP4728=y
CONFIG_BACKLIGHT_WM831X=y
CONFIG_IOMMU_IO_PGTABLE_ARMV7S_SELFTEST=y
CONFIG_SPI_VIRTIO=y
CONFIG_ASSOCIATIVE_ARRAY=y
CONFIG_FUNCTION_ALIGNMENT_4B=y
CONFIG_I2C_MT7621=y
CONFIG_GPIO_BLZP1600=y
CONFIG_SERIAL_TIMBERDALE=y
CONFIG_CRYPTO_SHA1=y
CONFIG_NLS_CODEPAGE_949=y
