CONFIG_AD7191=y
CONFIG_MSTAR_MSC313_MPLL=y
CONFIG_GCOV_KERNEL=y
CONFIG_CXL_PORT=y
CONFIG_RTC_DRV_DS3232=y
CONFIG_BACKLIGHT_APPLE_DWI=y
CONFIG_FB_SYS_FILLRECT=y
CONFIG_RANDOMIZE_KSTACK_OFFSET=y
CONFIG_PINCTRL_SOPHGO_CV1800B=y
CONFIG_EXYNOS_USI=y
CONFIG_SYSFS_SYSCALL=y
CONFIG_ARCH_HAS_MEMBARRIER_SYNC_CORE=y
CONFIG_REGULATOR_DA9052=y
CONFIG_FPGA_MGR_SOCFPGA=y
CONFIG_PWM_IQS620A=y
CONFIG_SERIAL_RSCI=y
CONFIG_COMMON_CLK_VC3=y
CONFIG_BMA400=y
CONFIG_SCSI_MPI3MR=y
CONFIG_FUEL_GAUGE_MM8013=y
CONFIG_SMSC37B787_WDT=y
CONFIG_ROCKCHIP_IOMMU=y
CONFIG_FPGA_MGR_XILINX_CORE=y
CONFIG_CRYPTO_DEV_FSL_CAAM_COMMON=y
CONFIG_ACPI_GENERIC_GSI=y
CONFIG_RING_BUFFER_ALLOW_SWAP=y
CONFIG_VHOST=y
CONFIG_XZ_DEC_ARM=y
CONFIG_DS4424=y
CONFIG_BATTERY_LEGO_EV3=y
CONFIG_PINCTRL_MT2712=y
CONFIG_IOMMU_SUPPORT=y
CONFIG_ARCH_ASPEED=y
CONFIG_I2C_DESIGNWARE_PLATFORM=y
CONFIG_PHY_MTK_HDMI=y
CONFIG_PCIE_CADENCE=y
CONFIG_I2C_RTL9300=y
CONFIG_ARCH_R8A77961=y
CONFIG_COMMON_CLK_MT7981_ETHSYS=y
CONFIG_CRYPTO_DEV_HISI_HPRE=y
CONFIG_FXAS21002C_I2C=y
CONFIG_PHY_ST_SPEAR1310_MIPHY=y
CONFIG_SPI_PIC32=y
CONFIG_GPIO_LOONGSON1=y
CONFIG_PINCTRL_BRCMSTB=y
CONFIG_GPIO_AMDPT=y
CONFIG_MFD_TPS65912=y
CONFIG_GPIO_TEGRA186=y
CONFIG_SERIAL_DEV_BUS=y
CONFIG_CRYPTO_HASH=y
CONFIG_MEDIATEK_MT6370_ADC=y
CONFIG_AD7476=y
CONFIG_ARM64_BTI=y
CONFIG_VT_CONSOLE=y
CONFIG_DCACHE_WORD_ACCESS=y
CONFIG_LEDS_LM3692X=y
CONFIG_SPI_BCM63XX=y
CONFIG_FB_CARMINE=y
CONFIG_GP_PCI1XXXX=y
CONFIG_PWM_ROCKCHIP=y
CONFIG_PARTITION_ADVANCED=y
CONFIG_PINCTRL_INTEL_PLATFORM=y
CONFIG_INGENIC_CGU_COMMON=y
CONFIG_VFIO_PCI_INTX=y
CONFIG_REGULATOR_TPS6594=y
CONFIG_SPI_PXA2XX_PCI=y
CONFIG_HAVE_POSIX_CPU_TIMERS_TASK_WORK=y
CONFIG_REGULATOR_RAA215300=y
CONFIG_REGULATOR_SGM3804=y
CONFIG_BCM_KONA_WDT=y
CONFIG_BACKLIGHT_CLASS_DEVICE=y
CONFIG_I2C_CCGX_UCSI=y
CONFIG_VMAP_STACK=y
CONFIG_CRYPTO_LRW=y
CONFIG_TSL2583=y
CONFIG_REGULATOR_QCOM_USB_VBUS=y
CONFIG_TI_ECAP_CAPTURE=y
CONFIG_SLAB_MERGE_DEFAULT=y
CONFIG_AD7887=y
CONFIG_MISC_ALCOR_PCI=y
CONFIG_CRYPTO_DEV_AMLOGIC_GXL=y
CONFIG_SCSI_COMMON=y
CONFIG_MFD_ATC260X_I2C=y
CONFIG_WATCHDOG_HANDLE_BOOT_ENABLED=y
CONFIG_MUX_CORE=y
CONFIG_BLK_DEV_BSG=y
CONFIG_VHOST_MENU=y
CONFIG_PINCTRL_ULTRARISC_DP1000=y
CONFIG_LPC18XX_DAC=y
CONFIG_TRACE_EVENT_INJECT=y
CONFIG_ARM64_ERRATUM_2051678=y
CONFIG_NVMEM_LAN9662_OTPC=y
CONFIG_PPS_CLIENT_KTIMER=y
CONFIG_CACHESTAT_SYSCALL=y
CONFIG_FTM_QUADDEC=y
CONFIG_PINCTRL_PFC_R8A779G0=y
CONFIG_ARM64_WORKAROUND_CLEAN_CACHE=y
CONFIG_DEFAULT_SECURITY_DAC=y
CONFIG_SATA_HOST=y
CONFIG_FB_SM712=y
CONFIG_COMMON_CLK_MMP2_AUDIO=y
CONFIG_FS_POSIX_ACL=y
CONFIG_CEC_MESON_AO=y
CONFIG_SWAP=y
CONFIG_ARCH_QCOM=y
CONFIG_SAMPLE_VFS=y
CONFIG_SCSI_UFS_EXYNOS=y
CONFIG_SERIAL_8250_16550A_VARIANTS=y
CONFIG_PINCTRL_MT7629=y
CONFIG_I2C_SLAVE=y
CONFIG_CRYPTO_SERPENT=y
CONFIG_NLS_CODEPAGE_860=y
CONFIG_PREEMPT_COUNT=y
CONFIG_REGULATOR_S5M8767=y
CONFIG_I2C_EG20T=y
CONFIG_RTC_DRV_PL031=y
CONFIG_BATTERY_S2MU005=y
CONFIG_VFIO_PCI_CORE=y
CONFIG_PINCTRL_PFC_R8A779F0=y
CONFIG_CXL_MEM=y
CONFIG_SPMI=y
CONFIG_NVMEM_LPC18XX_OTP=y
CONFIG_GPIO_ASPEED=y
CONFIG_ST_UVIS25_SPI=y
CONFIG_COMMON_CLK_HI3519=y
CONFIG_LEDS_TRIGGER_CPU=y
CONFIG_FXOS8700=y
CONFIG_SPI_ZYNQMP_GQSPI=y
CONFIG_PCI_MESON=y
CONFIG_TCM_IBLOCK=y
CONFIG_NVME_VERBOSE_ERRORS=y
CONFIG_STM32_DFSDM_CORE=y
CONFIG_PINCTRL_SDM670_LPASS_LPI=y
CONFIG_AD7380=y
CONFIG_PHY_CANAAN_USB=y
CONFIG_SERIAL_AMBA_PL011_CONSOLE=y
CONFIG_AS_IS_GNU=y
CONFIG_QCOM_MPM=y
CONFIG_PM_GENERIC_DOMAINS_OF=y
CONFIG_BATTERY_DA9052=y
CONFIG_RPMSG_QCOM_GLINK_RPM=y
CONFIG_PHY_EXYNOS_DP_VIDEO=y
CONFIG_BROKEN_GAS_INST=y
CONFIG_CRYPTO_ENGINE=y
CONFIG_PM_OPP=y
CONFIG_HAVE_ARCH_KGDB=y
CONFIG_CRYPTO_DEV_QAT_C3XXX=y
CONFIG_FB_CFB_COPYAREA=y
CONFIG_NSM=y
CONFIG_COMMON_CLK_APPLE_NCO=y
CONFIG_PINCTRL_IPQ8074=y
CONFIG_GEHC_ACHC=y
CONFIG_SHUFFLE_PAGE_ALLOCATOR=y
CONFIG_PHY_HI6220_USB=y
CONFIG_RAID6_PQ_BENCHMARK=y
CONFIG_VMCORE_INFO=y
CONFIG_PCIEASPM=y
CONFIG_TSM_MEASUREMENTS=y
CONFIG_CRYPTO_ECHAINIV=y
CONFIG_CORESIGHT_STM=y
CONFIG_SYSC_R8A7791=y
CONFIG_INV_ICM42600_SPI=y
CONFIG_ADIS16475=y
CONFIG_BLK_DEV_INITRD=y
CONFIG_RENESAS_WWDT=y
CONFIG_RCU_NOCB_CPU=y
CONFIG_BMC150_MAGN=y
CONFIG_PINCTRL_WM8750=y
CONFIG_ARM_PMU_ACPI=y
CONFIG_SENSORS_LIS3_I2C=y
CONFIG_HTS221=y
CONFIG_PHY_CADENCE_DPHY=y
CONFIG_PINCTRL_MSM8994=y
CONFIG_PCI_DRA7XX_HOST=y
CONFIG_PINCTRL_TEGRA=y
CONFIG_AD8460=y
CONFIG_RESET_HISI=y
CONFIG_REGULATOR_TPS65023=y
CONFIG_CONTIG_ALLOC=y
CONFIG_CRYPTO_SHA3=y
CONFIG_CMDLINE_PARTITION=y
CONFIG_ARM_IMX8M_DDRC_DEVFREQ=y
CONFIG_SUN50I_H6_PRCM_PPU=y
CONFIG_SCSI_LOWLEVEL=y
CONFIG_CLK_BCM_63XX=y
CONFIG_SYSC_R8A77960=y
CONFIG_SPI_IMX=y
CONFIG_CRYPTO_LIB_POLY1305_GENERIC=y
CONFIG_BLK_DEV_INTEGRITY=y
CONFIG_IIO_BUFFER_DMA=y
CONFIG_ARM_S3C64XX_CPUFREQ=y
CONFIG_REGULATOR_MT6316=y
CONFIG_ACPI_HOTPLUG_CPU=y
CONFIG_DEFERRED_STRUCT_PAGE_INIT=y
CONFIG_REGULATOR_MPQ7920=y
CONFIG_MEMSTICK_DEBUG=y
CONFIG_GPIO_REALTEK_OTTO=y
CONFIG_PINCTRL_PFC_SHX3=y
CONFIG_BINFMT_SCRIPT=y
CONFIG_CRYPTO_CBC=y
CONFIG_USB_OHCI_LITTLE_ENDIAN=y
CONFIG_MAX1118=y
CONFIG_FILE_LOCKING=y
CONFIG_CC_HAS_WORKING_NOSANITIZE_ADDRESS=y
CONFIG_ARCH_SUPPORTS_INT128=y
CONFIG_ARM64_ERRATUM_1165522=y
CONFIG_ARCH_HAS_PTDUMP=y
CONFIG_BACKLIGHT_ARCXCNN=y
CONFIG_EPROBE_EVENTS=y
CONFIG_IIO_ST_LSM6DSX_SPI=y
CONFIG_PINCTRL_QCS404=y
CONFIG_PINCTRL_RZT2H=y
CONFIG_MIPI_I3C_HCI=y
CONFIG_PGTABLE_HAS_HUGE_LEAVES=y
CONFIG_I2C_THUNDERX=y
CONFIG_ARM_PSCI_FW=y
CONFIG_SCSI_MVSAS=y
CONFIG_PINCTRL_ASPEED_G7_SOC1=y
CONFIG_FW_CFG_SYSFS=y
CONFIG_GPIO_KEMPLD=y
CONFIG_ROCKCHIP_TIMER=y
CONFIG_CLK_SOPHGO_SG2042_RPGATE=y
CONFIG_ARCH_BITMAIN=y
CONFIG_PINCTRL_PXA27X=y
CONFIG_REGULATOR_TPS6287X=y
CONFIG_QUOTACTL=y
CONFIG_ALTERA_PR_IP_CORE=y
CONFIG_HW_RANDOM=y
CONFIG_COMMON_CLK_HI6220=y
CONFIG_PCIE_ROCKCHIP_HOST=y
CONFIG_SG_SPLIT=y
CONFIG_SYSC_R8A774C0=y
CONFIG_HTS221_SPI=y
CONFIG_SERIAL_IMX=y
CONFIG_I2C_TEGRA_BPMP=y
CONFIG_WMT_SOCINFO=y
CONFIG_LTC2664=y
CONFIG_I2C_RZV2M=y
CONFIG_JOLIET=y
CONFIG_STK8BA50=y
CONFIG_ACPI_REDUCED_HARDWARE_ONLY=y
CONFIG_CRYPTO_DEV_QAT_ERROR_INJECTION=y
CONFIG_SYSC_R8A7792=y
CONFIG_PINCTRL_IMX7D=y
CONFIG_RAID6_PQ=y
CONFIG_SPI_LOONGSON_PCI=y
CONFIG_PINCTRL_STARFIVE_JH7110=y
CONFIG_PHY_HISTB_COMBPHY=y
CONFIG_TMPFS_INODE64=y
CONFIG_PCIE_ALTERA=y
CONFIG_SPI_STM32_QSPI=y
CONFIG_ATLAS_EZO_SENSOR=y
CONFIG_PINCTRL_ASPEED=y
CONFIG_LEDS_LM36274=y
CONFIG_ACPI_THERMAL=y
CONFIG_SERIAL_MAX310X=y
CONFIG_COMMON_CLK_SI5351=y
CONFIG_ADXL355=y
CONFIG_UNINLINE_SPIN_UNLOCK=y
CONFIG_LEDS_S2M_RGB=y
CONFIG_NVMEM_LAYOUT_SL28_VPD=y
CONFIG_ZSWAP=y
CONFIG_REGULATOR_RTQ2208=y
CONFIG_RTC_DRV_X1205=y
CONFIG_ARM_SCMI_TRANSPORT_VIRTIO=y
CONFIG_ACPI_ALS=y
CONFIG_ARCH_WANT_DEFAULT_BPF_JIT=y
CONFIG_AD5624R_SPI=y
CONFIG_MADERA_IRQ=y
CONFIG_AD9739A=y
CONFIG_ACPI_WATCHDOG=y
CONFIG_RESET_ZYNQ=y
CONFIG_I2C_DAVINCI=y
CONFIG_INTERCONNECT_IMX8MP=y
CONFIG_DECOMPRESS_ZSTD=y
CONFIG_ADP810=y
CONFIG_SIGNALFD=y
CONFIG_GPIO_MAX7360=y
CONFIG_SPI_QUP=y
CONFIG_REGULATOR_RT5739=y
CONFIG_EFI_PARAMS_FROM_FDT=y
CONFIG_CRYPTO_DEV_SUN8I_CE_HASH=y
CONFIG_SAMPLE_AUXDISPLAY=y
CONFIG_GENERIC_PINCTRL=y
CONFIG_TRACE_IRQFLAGS_NMI=y
CONFIG_SYSC_R8A774E1=y
CONFIG_HAVE_FUNCTION_GRAPH_FREGS=y
CONFIG_VIRT_CPU_ACCOUNTING=y
CONFIG_GPIO_TIMBERDALE=y
CONFIG_GPIO_SIOX=y
CONFIG_FONT_SUPPORT=y
CONFIG_MUX_ADG792A=y
CONFIG_LPC18XX_WATCHDOG=y
CONFIG_HAVE_KPROBES=y
CONFIG_RCAR_GYRO_ADC=y
CONFIG_RC_DEVICES=y
CONFIG_ARCH_R9A09G057=y
CONFIG_ACPI_PPTT=y
CONFIG_CRC64=y
CONFIG_MISC_RP1=y
CONFIG_FUSE_FS=y
CONFIG_RTC_DRV_M41T94=y
CONFIG_RTC_DRV_RS5C372=y
CONFIG_GPIOLIB_IRQCHIP=y
CONFIG_TI_TMAG5273=y
CONFIG_RESET_INTEL_GW=y
CONFIG_INPUT_GPIO_BEEPER=y
CONFIG_SPI_JCORE=y
CONFIG_CMA_DEBUGFS=y
CONFIG_PINCTRL_UNIPHIER_PRO4=y
CONFIG_IIO_CROS_EC_ACTIVITY=y
CONFIG_AD525X_DPOT=y
CONFIG_ARCH_SUPPORTS_ACPI=y
CONFIG_SCSI_3W_9XXX=y
CONFIG_ARCH_R8A774A1=y
CONFIG_CRYPTO_SHA256=y
CONFIG_MFD_TI_AM335X_TSCADC=y
CONFIG_ARCH_HAS_DEBUG_VIRTUAL=y
CONFIG_CRYPTO_ZSTD=y
CONFIG_CHARGER_LTC4162L=y
CONFIG_CRYPTO_LIB_CHACHA20POLY1305=y
CONFIG_CRYPTO_ADIANTUM=y
CONFIG_KALLSYMS=y
CONFIG_ADC_BATTERY_HELPER=y
CONFIG_IIO_ADC_HELPER=y
CONFIG_TRACE_IRQFLAGS_NMI_SUPPORT=y
CONFIG_PINCTRL_IPQ5210=y
CONFIG_GPIO_NOMADIK=y
CONFIG_MPU3050=y
CONFIG_CRC_ITU_T=y
CONFIG_PCIE_DW_PLAT=y
CONFIG_REGULATOR_STM32_PWR=y
CONFIG_REGULATOR_FAN53880=y
CONFIG_ARCH_HAS_RELR=y
CONFIG_LEDS_LM3642=y
CONFIG_LEDS_LM3530=y
CONFIG_SYSC_RCAR=y
CONFIG_FB_MATROX=y
CONFIG_CRYPTO_SIG2=y
CONFIG_HAVE_MOD_ARCH_SPECIFIC=y
CONFIG_CEC_STI=y
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO=y
CONFIG_ARCH_HAS_GENERIC_CRASHKERNEL_RESERVATION=y
CONFIG_PCIE_DW=y
CONFIG_HAVE_PREEMPT_DYNAMIC=y
CONFIG_CLK_STARFIVE_JH7110_PLL=y
CONFIG_AD2S1200=y
CONFIG_RC_ST=y
CONFIG_ARCH_HAS_MEM_ENCRYPT=y
CONFIG_HW_RANDOM_BCM2835=y
CONFIG_I2C_MT7621=y
CONFIG_ARCH_KEEP_MEMBLOCK=y
CONFIG_LATTICE_ECP3_CONFIG=y
CONFIG_REGULATOR_RT6160=y
CONFIG_SERIAL_FSL_LINFLEXUART_CONSOLE=y
CONFIG_PWM_TIEHRPWM=y
CONFIG_HAVE_CLK_PREPARE=y
CONFIG_OMAP_CONTROL_PHY=y
CONFIG_PINCTRL_TEGRA234=y
CONFIG_NVMEM_LPC18XX_EEPROM=y
CONFIG_FTRACE_SYSCALLS=y
CONFIG_IR_ITE_CIR=y
CONFIG_ADXL372=y
CONFIG_KMX61=y
CONFIG_PWM_DWC_CORE=y
CONFIG_CGROUP_SCHED=y
CONFIG_HW_RANDOM_STM32=y
CONFIG_RTC_DRV_EP93XX=y
CONFIG_CRYPTO_AES_ARM64_NEON_BLK=y
CONFIG_INPUT_RAVE_SP_PWRBUTTON=y
CONFIG_JFS_STATISTICS=y
CONFIG_ZSMALLOC_STAT=y
CONFIG_TIMER_ACPI=y
CONFIG_HAVE_EBPF_JIT=y
CONFIG_SCSI_MOD=y
CONFIG_IR_SUNXI=y
CONFIG_PID_IN_CONTEXTIDR=y
CONFIG_SERIAL_8250_PNP=y
CONFIG_CC_IS_GCC=y
CONFIG_NLS_MAC_TURKISH=y
CONFIG_EXPORTFS_BLOCK_OPS=y
CONFIG_FPGA_MGR_LATTICE_SYSCONFIG=y
CONFIG_VIDEOMODE_HELPERS=y
CONFIG_LEDS_SUN50I_A100=y
CONFIG_LENOVO_SE30_WDT=y
CONFIG_CLPS711X_TIMER=y
CONFIG_TEGRA186_TIMER=y
CONFIG_GENERIC_CALIBRATE_DELAY=y
CONFIG_SERIAL_CONEXANT_DIGICOLOR=y
CONFIG_GENERIC_HWEIGHT=y
CONFIG_OF_KOBJ=y
CONFIG_ZPA2326_I2C=y
CONFIG_GAMEPORT_EMU10K1=y
CONFIG_ARCH_R9A09G087=y
CONFIG_ADVISE_SYSCALLS=y
CONFIG_REGULATOR_PF8X00=y
CONFIG_EEPROM_AT24=y
CONFIG_CRYPTO_AES=y
CONFIG_OF_EARLY_FLATTREE=y
CONFIG_I2C_IMX_LPI2C=y
CONFIG_MMP_PANEL_TPOHVGA=y
CONFIG_COMMON_CLK_MT8186_VDECSYS=y
CONFIG_NVME_TARGET_DEBUGFS=y
CONFIG_INGENIC_TCU_CLK=y
CONFIG_SPARSEMEM_VMEMMAP=y
CONFIG_MFD_ENE_KB3930=y
CONFIG_CRYPTO_DEV_NITROX_CNN55XX=y
CONFIG_PWM_MC33XS2410=y
CONFIG_BUILDTIME_TABLE_SORT=y
CONFIG_UCC_SLOW=y
CONFIG_FTRACE_STARTUP_TEST=y
CONFIG_SPI_LOONGSON_CORE=y
CONFIG_ARM_SMMU_QCOM=y
CONFIG_KALLSYMS_SELFTEST=y
CONFIG_IIO_ADIS_LIB=y
CONFIG_TRACING=y
CONFIG_VISCONTI_WATCHDOG=y
CONFIG_MFD_RK8XX=y
CONFIG_ARM_RASPBERRYPI_CPUFREQ=y
CONFIG_FPGA_MGR_ALTERA_CVP=y
CONFIG_ARCH_SUPPORTS_CFI=y
CONFIG_FB_PXA168=y
CONFIG_NVMEM_RMEM=y
CONFIG_RTC_DRV_MT7622=y
CONFIG_RV_MON_MAINTENANCE_EVENTS=y
CONFIG_LTC2496=y
CONFIG_ARM_SCMI_HAVE_TRANSPORT=y
CONFIG_REGULATOR_PF9453=y
CONFIG_INTEL_TH=y
CONFIG_PL353_SMC=y
CONFIG_ARM64_PMEM=y
CONFIG_QCOM_OCMEM=y
CONFIG_SERIO_RAW=y
CONFIG_POWER_RESET_QEMU_VIRT_CTRL=y
CONFIG_PHY_SNPS_EUSB2=y
CONFIG_SCD4X=y
CONFIG_FW_LOADER=y
CONFIG_ACPI_SPCR_TABLE=y
CONFIG_POWER_SEQUENCING_QCOM_WCN=y
CONFIG_ARM_SUN8I_A33_MBUS_DEVFREQ=y
CONFIG_D3323AA=y
CONFIG_QCOM_PMIC_PDCHARGER_ULOG=y
CONFIG_ACPI_PROCESSOR=y
CONFIG_FPGA_DFL=y
CONFIG_DLHL60D=y
CONFIG_ARCH_HAS_SYSCALL_WRAPPER=y
CONFIG_SYS_SUPPORTS_SH_TMU=y
CONFIG_WATCHDOG_PRETIMEOUT_GOV_NOOP=y
CONFIG_INFINEON_TLV493D=y
CONFIG_FPGA_DFL_EMIF=y
CONFIG_SCSI_PM8001=y
CONFIG_SENSORS_HMC5843=y
CONFIG_I2C_IMG=y
CONFIG_CC_CAN_LINK=y
CONFIG_EC_LENOVO_THINKPAD_T14S=y
CONFIG_RTC_DRV_BBNSM=y
CONFIG_IMX7ULP_WDT=y
CONFIG_RTC_DRV_RS5C348=y
CONFIG_THEAD_TH1520_MBOX=y
CONFIG_CGROUPS=y
CONFIG_PHY_SPARX5_SERDES=y
CONFIG_HAS_DMA=y
CONFIG_REGULATOR_MAX8649=y
CONFIG_AUXILIARY_BUS=y
CONFIG_AD9467=y
CONFIG_PAGE_COUNTER=y
CONFIG_TI_SCI_PM_DOMAINS=y
CONFIG_JOYSTICK_INTERACT=y
CONFIG_PHY_SAMSUNG_UFS=y
CONFIG_I2C_UNIPHIER_F=y
CONFIG_GENERIC_CPU_DEVICES=y
CONFIG_FB_IOMEM_FOPS=y
CONFIG_SYSTEM_TRUSTED_KEYRING=y
CONFIG_SECRETMEM=y
CONFIG_PWM_LPC32XX=y
CONFIG_FTRACE=y
CONFIG_I2C_EMEV2=y
CONFIG_VHOST_CROSS_ENDIAN_LEGACY=y
CONFIG_NTB_PINGPONG=y
CONFIG_AD2S1210=y
CONFIG_NVMEM_SC27XX_EFUSE=y
CONFIG_NLS_CODEPAGE_857=y
CONFIG_ACPI_AGDI=y
CONFIG_ARCH_HAS_ACPI_TABLE_UPGRADE=y
CONFIG_ABP2030PA_SPI=y
CONFIG_I2C_MLXCPLD=y
CONFIG_STM32_OMM=y
CONFIG_HTS221_I2C=y
CONFIG_W1_MASTER_MXC=y
CONFIG_RTC_DRV_MAX6902=y
CONFIG_I2C_MUX_GPIO=y
CONFIG_SERIO_GPIO_PS2=y
CONFIG_TEE_BNXT_FW=y
CONFIG_SERIO_PARKBD=y
CONFIG_ACPI_IORT=y
CONFIG_PHY_QCOM_EDP=y
CONFIG_UEVENT_HELPER=y
CONFIG_PHY_CAN_TRANSCEIVER=y
CONFIG_INTEL_MEI_PXP=y
CONFIG_IRQ_POLL=y
