CONFIG_TCG_TIS_CORE=y
CONFIG_MLXSW_CORE_THERMAL=y
CONFIG_CPA_DEBUG=y
CONFIG_ARCH_USE_QUEUED_SPINLOCKS=y
CONFIG_WQ_POWER_EFFICIENT_DEFAULT=y
CONFIG_PINCTRL_PFC_SH73A0=y
CONFIG_TRACE_BRANCH_PROFILING=y
CONFIG_PCIE_DW_EP=y
CONFIG_ACPI_PROCESSOR=y
CONFIG_OVERLAY_FS=y
CONFIG_PINCTRL_MTK_MOORE=y
CONFIG_VFIO_PCI_IGD=y
CONFIG_SECURITYFS=y
CONFIG_CRYPTO_LIB_SHA256_ARCH=y
CONFIG_CMA=y
CONFIG_DEBUG_KMEMLEAK_AUTO_SCAN=y
CONFIG_PCIE_RCAR_EP=y
CONFIG_FW_LOADER_SYSFS=y
CONFIG_RING_BUFFER_ALLOW_SWAP=y
CONFIG_BROADCOM_PHY=y
CONFIG_MODULES_USE_ELF_RELA=y
CONFIG_PCIE_DW_DEBUGFS=y
CONFIG_NOINSTR_VALIDATION=y
CONFIG_STACKDEPOT_ALWAYS_INIT=y
CONFIG_ARCH_HAS_PTE_SPECIAL=y
CONFIG_VIDEO_OV8856=y
CONFIG_CLK_ICST=y
CONFIG_CPU_FREQ_GOV_COMMON=y
CONFIG_SWIOTLB_DYNAMIC=y
CONFIG_LP_CONSOLE=y
CONFIG_TS72XX_WATCHDOG=y
CONFIG_SENSORS_ABITUGURU=y
CONFIG_LIQUIDIO_VF=y
CONFIG_ARCH_SUPPORTS_NUMA_BALANCING=y
CONFIG_MFD_WM8994=y
CONFIG_BOOTTIME_TRACING=y
CONFIG_EQUALIZER=y
CONFIG_DRM_DISPLAY_DP_AUX_CHARDEV=y
CONFIG_VIDEO_ADP1653=y
CONFIG_OLPC_EC=y
CONFIG_CHELSIO_T4_DCB=y
CONFIG_TRACE_GPU_MEM=y
CONFIG_REMOTEPROC_CDEV=y
CONFIG_REGULATOR_MAX8907=y
CONFIG_X86_REQUIRED_FEATURE_CMOV=y
CONFIG_BOOT_CONFIG=y
CONFIG_CLK_BCM_KONA=y
CONFIG_MFD_SIMPLE_MFD_I2C=y
CONFIG_HAVE_KERNEL_LZO=y
CONFIG_PINCTRL_TEGRA30=y
CONFIG_PHY_BCM_NS_USB3=y
CONFIG_ACPI_FAN=y
CONFIG_ARCH_WANT_PMD_MKWRITE=y
CONFIG_MLXSW_CORE_HWMON=y
CONFIG_MFD_MAX77759=y
CONFIG_DAVINCI_TIMER=y
CONFIG_SMSC_PHY=y
CONFIG_THUNDER_NIC_BGX=y
CONFIG_DRM_ETNAVIV_THERMAL=y
CONFIG_PINCTRL_MT2701=y
CONFIG_MFD_WCD934X=y
CONFIG_ACPI_CONFIGFS=y
CONFIG_DW_APB_TIMER=y
CONFIG_ACPI_DEBUG=y
CONFIG_CC_HAS_RETURN_THUNK=y
CONFIG_HAVE_CLK=y
CONFIG_FB_CARMINE=y
CONFIG_GENERIC_ENTRY=y
CONFIG_ARCH_HAS_FAST_MULTIPLIER=y
CONFIG_PRIME_NUMBERS=y
CONFIG_SND_INTEL_NHLT=y
CONFIG_KCSAN_DELAY_RANDOMIZE=y
CONFIG_CLK_IMX8MN=y
CONFIG_ASYMMETRIC_PUBLIC_KEY_SUBTYPE=y
CONFIG_CRYPTO_LIB_BLAKE2S_ARCH=y
CONFIG_MOST_USB_HDM=y
CONFIG_MFD_MAX77541=y
CONFIG_CRYPTO_DEV_QCE_SKCIPHER=y
CONFIG_AX88796_93CX6=y
CONFIG_NVMEM_IMX_IIM=y
CONFIG_OID_REGISTRY=y
CONFIG_HAVE_FENTRY=y
CONFIG_ARMV7M_SYSTICK=y
CONFIG_ARCH_HAS_SYSCALL_WRAPPER=y
CONFIG_VIDEO_IMX214=y
CONFIG_ARCH_HAVE_EXTRA_ELF_NOTES=y
CONFIG_GENERIC_PCI_IOMAP=y
CONFIG_RTC_DRV_STK17TA8=y
CONFIG_CC_HAS_AUTO_VAR_INIT_PATTERN=y
CONFIG_MICREL_PHY=y
CONFIG_X86_LOCAL_APIC=y
CONFIG_GPIOLIB_IRQCHIP=y
CONFIG_MSEAL_SYSTEM_MAPPINGS=y
CONFIG_BATTERY_DA9052=y
CONFIG_MITIGATION_UNRET_ENTRY=y
CONFIG_CORDIC=y
CONFIG_INT3406_THERMAL=y
CONFIG_HAVE_REGS_AND_STACK_ACCESS_API=y
CONFIG_UACCE=y
CONFIG_PAGE_SIZE_4KB=y
