CONFIG_CRYPTO_LZO=n
CONFIG_DRM_BUDDY=n
CONFIG_SCSI=n
CONFIG_SSB_POSSIBLE=n
CONFIG_POSIX_CPU_TIMERS_TASK_WORK=n
CONFIG_INPUT_JOYSTICK=n
CONFIG_HAVE_ARCH_KGDB=n
CONFIG_RANDOMIZE_KSTACK_OFFSET=n
CONFIG_NETFILTER_XT_TARGET_TCPMSS=n
CONFIG_NET_VENDOR_QLOGIC=n
CONFIG_HAVE_KERNEL_LZO=n
CONFIG_EARLY_PRINTK_DBGP=n
CONFIG_I2C_SMBUS=n
CONFIG_MIGRATION=n
CONFIG_HAVE_OPTPROBES=n
CONFIG_MII=n
CONFIG_HAVE_ARCH_KFENCE=n
CONFIG_SCSI_COMMON=n
CONFIG_MD_BITMAP_FILE=n
CONFIG_HAVE_FUTEX_ROBUST_UNLOCK=n
CONFIG_DRM_GEM_SHMEM_HELPER=n
CONFIG_INPUT_VIVALDIFMAP=n
CONFIG_HAVE_ARCH_THREAD_STRUCT_WHITELIST=n
CONFIG_SPLIT_PTE_PTLOCKS=n
CONFIG_USB_ARCH_HAS_HCD=n
CONFIG_CPU_SUP_INTEL=n
CONFIG_FONT_AUTOSELECT=n
CONFIG_MITIGATION_SSB=n
CONFIG_PREVENT_FIRMWARE_BUILD=n
CONFIG_EXT4_FS_POSIX_ACL=n
CONFIG_HID_SONY=n
CONFIG_ACPI=n
CONFIG_NET_VENDOR_OKI=n
CONFIG_CRC_CCITT=n
CONFIG_SERIAL_8250_DWLIB=n
CONFIG_RD_GZIP=n
CONFIG_CGROUP_DEVICE=n
CONFIG_ELFCORE=n
CONFIG_TMPFS_XATTR=n
CONFIG_HAVE_KCSAN_COMPILER=n
CONFIG_ARCH_HAS_DEBUG_VIRTUAL=n
CONFIG_PHY_PACKAGE=n
CONFIG_OLD_SIGSUSPEND3=n
CONFIG_E1000E=n
CONFIG_SYSCTL=n
CONFIG_SCSI_DMA=n
CONFIG_HAVE_GENERIC_TIF_BITS=n
CONFIG_NET_VENDOR_AGERE=n
CONFIG_SCHED_MM_CID=n
CONFIG_INPUT=n
CONFIG_NET_VENDOR_MICROSEMI=n
CONFIG_CRYPTO_SHA256=n
CONFIG_NET_POLL_CONTROLLER=n
CONFIG_X86_BUS_LOCK_DETECT=n
CONFIG_CFG80211_DEFAULT_PS=n
CONFIG_RANDOMIZE_BASE=n
CONFIG_FORCEDETH=n
CONFIG_NET_SCHED=n
CONFIG_HAVE_EFFICIENT_UNALIGNED_ACCESS=n
CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE=n
CONFIG_APERTURE_HELPERS=n
CONFIG_IOMMU_IOVA=n
CONFIG_AS_HAS_NON_CONST_ULEB128=n
CONFIG_NF_CONNTRACK=n
CONFIG_ARCH_FLATMEM_ENABLE=n
CONFIG_SGETMASK_SYSCALL=n
CONFIG_UNINLINE_SPIN_UNLOCK=n
CONFIG_NET_VENDOR_CADENCE=n
CONFIG_NET_VENDOR_SIS=n
CONFIG_CRYPTO_CBC=n
CONFIG_CRYPTO_LIB_GF128HASH=n
CONFIG_SATA_AHCI=n
CONFIG_ARCH_SELECT_MEMORY_MODEL=n
CONFIG_ARCH_MAY_HAVE_PC_FDC=n
CONFIG_CRYPTO_LIB_AES_ARCH=n
CONFIG_NET_VENDOR_ALIBABA=n
CONFIG_TRACING=n
CONFIG_NET_VENDOR_CAVIUM=n
CONFIG_ARCH_HAS_SYSCALL_WRAPPER=n
CONFIG_IOSF_MBI=n
CONFIG_GENERIC_CLOCKEVENTS_MIN_ADJUST=n
CONFIG_WLAN_VENDOR_ATH=n
CONFIG_ARCH_HAS_PARANOID_L1D_FLUSH=n
CONFIG_STACKTRACE_SUPPORT=n
CONFIG_INPUT_MISC=n
CONFIG_ARCH_HAS_PTE_SPECIAL=n
CONFIG_ARCH_HAVE_NMI_SAFE_CMPXCHG=n
CONFIG_CC_CAN_LINK=n
CONFIG_HZ_1000=n
CONFIG_CPU_IDLE_GOV_MENU=n
CONFIG_ROOT_NFS=n
CONFIG_CRC32=n
CONFIG_BLK_PM=n
CONFIG_HID_SUNPLUS=n
CONFIG_NETFILTER_SKIP_EGRESS=n
CONFIG_PROFILING=n
CONFIG_BQL=n
CONFIG_LZO_DECOMPRESS=n
CONFIG_USB_SUPPORT=n
CONFIG_INET=n
CONFIG_BLK_DEV_DM_BUILTIN=n
CONFIG_WLAN_VENDOR_RALINK=n
CONFIG_CRYPTO_CCM=n
CONFIG_DRM_DISPLAY_HELPER=n
CONFIG_KALLSYMS_ALL=n
CONFIG_PROC_MEM_FORCE_PTRACE=n
CONFIG_ATA_PIIX=n
CONFIG_EFIVAR_FS=n
CONFIG_CRYPTO_AEAD2=n
CONFIG_CGROUP_PERF=n
CONFIG_XPS=n
CONFIG_HAVE_IRQ_TIME_ACCOUNTING=n
CONFIG_OPENSSL_SUPPORTS_ML_DSA=n
CONFIG_CRYPTO_CMAC=n
CONFIG_NET_VENDOR_DLINK=n
CONFIG_PAGE_SIZE_LESS_THAN_256KB=n
CONFIG_HAVE_PERF_EVENTS=n
CONFIG_CC_HAS_ENTRY_PADDING=n
CONFIG_ARCH_HAS_FORTIFY_SOURCE=n
CONFIG_CPU_FREQ_GOV_PERFORMANCE=n
CONFIG_QUEUED_RWLOCKS=n
CONFIG_MODIFY_LDT_SYSCALL=n
CONFIG_DECOMPRESS_LZMA=n
CONFIG_CC_HAS_NAMED_AS=n
CONFIG_HAVE_ARCH_TRACEHOOK=n
CONFIG_NO_HZ_COMMON=n
CONFIG_AMD_NODE=n
CONFIG_MITIGATION_L1TF=n
CONFIG_P2SB=n
CONFIG_MICROCODE_INITRD32=n
CONFIG_DEVMEM=n
CONFIG_SYSCTL_EXCEPTION_TRACE=n
CONFIG_ARCH_HAVE_EXTRA_ELF_NOTES=n
CONFIG_STRICT_DEVMEM=n
CONFIG_HAVE_MIXED_BREAKPOINTS_REGS=n
CONFIG_SERIAL_8250_SHARE_IRQ=n
CONFIG_VIRTUALIZATION=n
CONFIG_IP_NF_IPTABLES=n
CONFIG_SLAB_MERGE_DEFAULT=n
CONFIG_ARCH_HAS_UBSAN=n
CONFIG_X86_DISABLED_FEATURE_FRED=n
CONFIG_WATCHDOG_HANDLE_BOOT_ENABLED=n
CONFIG_RTL_CARDS=n
CONFIG_QUOTA_NETLINK_INTERFACE=n
CONFIG_DRM=n
CONFIG_RCU_NEED_SEGCBLIST=n
CONFIG_DRM_PANEL_ORIENTATION_QUIRKS=n
CONFIG_RFKILL_LEDS=n
CONFIG_GCC_NO_STRINGOP_OVERFLOW=n
CONFIG_YENTA_ENE_TUNE=n
CONFIG_PROC_SYSCTL=n
CONFIG_X86_DISABLED_FEATURE_XENPV=n
CONFIG_PCPU_DEV_REFCNT=n
CONFIG_HAVE_ARCH_KSTACK_ERASE=n
CONFIG_TCP_CONG_ADVANCED=n
CONFIG_WLAN_VENDOR_INTEL=n
CONFIG_ARCH_CONFIGURES_CPU_MITIGATIONS=n
CONFIG_SND_VERBOSE_PROCFS=n
CONFIG_PRINTK_TIME=n
CONFIG_ARCH_SUPPORTS_KEXEC_PURGATORY=n
CONFIG_HAVE_USER_RETURN_NOTIFIER=n
CONFIG_USB_EHCI_TT_NEWSCHED=n
CONFIG_HAVE_PERF_REGS=n
CONFIG_HAVE_KERNEL_LZMA=n
CONFIG_CPU_SUP_HYGON=n
CONFIG_ARCH_SUPPORTS_DEBUG_PAGEALLOC=n
CONFIG_XZ_DEC_X86=n
CONFIG_CRYPTO_AUTHENC=n
CONFIG_ARCH_SUPPORTS_RT=n
CONFIG_AIO=n
CONFIG_TIME_NS=n
CONFIG_PNP_DEBUG_MESSAGES=n
CONFIG_CPU_RMAP=n
CONFIG_X86_DISABLED_FEATURE_RETHUNK=n
CONFIG_INOTIFY_USER=n
CONFIG_HAVE_FTRACE_GRAPH_FUNC=n
CONFIG_BCMA_POSSIBLE=n
CONFIG_NET_VENDOR_FUNGIBLE=n
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_DIRECT_CALLS=n
CONFIG_INET6_ESP=n
CONFIG_FIRMWARE_TABLE=n
CONFIG_CRC16=n
CONFIG_SECURITY_SELINUX_AVC_STATS=n
CONFIG_AUDIT=n
CONFIG_CLKEVT_I8253=n
CONFIG_THERMAL_NETLINK=n
CONFIG_MOUSE_PS2_TRACKPOINT=n
CONFIG_DEBUG_INFO_NONE=n
CONFIG_NETFILTER=n
CONFIG_ARCH_USE_BUILTIN_BSWAP=n
CONFIG_GENERIC_PENDING_IRQ=n
CONFIG_HAVE_DEBUG_KMEMLEAK=n
CONFIG_IOMMU_DEFAULT_DMA_LAZY=n
CONFIG_SUNRPC=n
CONFIG_PHYLIB=n
CONFIG_USB_HID=n
CONFIG_X86_EXTENDED_PLATFORM=n
CONFIG_THERMAL_HWMON=n
CONFIG_I2C_HELPER_AUTO=n
CONFIG_HOTPLUG_CPU=n
CONFIG_SCHED_HRTICK=n
CONFIG_QUOTA_TREE=n
CONFIG_NET_VENDOR_NATSEMI=n
CONFIG_XZ_DEC_POWERPC=n
CONFIG_HAVE_C_RECORDMCOUNT=n
CONFIG_NETFS_SUPPORT=n
CONFIG_X86_DISABLED_FEATURE_PCID=n
CONFIG_BNX2=n
CONFIG_CGROUPS=n
CONFIG_USER_STACKTRACE_SUPPORT=n
CONFIG_EFI_ESRT=n
CONFIG_KVM_GUEST=n
CONFIG_AS_IS_GNU=n
CONFIG_NF_DEFRAG_IPV6=n
CONFIG_USB_PRINTER=n
CONFIG_MAC80211_LEDS=n
CONFIG_SERIAL_8250_EXTENDED=n
CONFIG_DMA_SHARED_BUFFER=n
CONFIG_INSTRUCTION_DECODER=n
CONFIG_NET_VENDOR_WIZNET=n
CONFIG_AMD_NB=n
CONFIG_ACPI_PROCESSOR_CSTATE=n
CONFIG_ARCH_SUPPORTS_LTO_CLANG=n
CONFIG_ARCH_SUSPEND_POSSIBLE=n
CONFIG_SND_HDA_HWDEP=n
CONFIG_NET_VENDOR_QUALCOMM=n
CONFIG_NET_9P_FD=n
CONFIG_VIRTIO_MENU=n
CONFIG_EXT4_USE_FOR_EXT2=n
CONFIG_ACPI_DOCK=n
CONFIG_HAVE_SOFTIRQ_ON_OWN_STACK=n
CONFIG_MMU_GATHER_MERGE_VMAS=n
CONFIG_MAC80211_RC_DEFAULT_MINSTREL=n
CONFIG_VIRTIO_PCI_LIB_LEGACY=n
CONFIG_NO_HZ=n
CONFIG_WERROR=n
CONFIG_DST_CACHE=n
CONFIG_NETWORK_FILESYSTEMS=n
CONFIG_SYSVIPC_SYSCTL=n
CONFIG_HAVE_NMI=n
CONFIG_STANDALONE=n
CONFIG_CGROUP_FREEZER=n
CONFIG_MISC_FILESYSTEMS=n
CONFIG_UNIX98_PTYS=n
CONFIG_OPTPROBES=n
CONFIG_I2C_ALGOBIT=n
CONFIG_X86_DISABLED_FEATURE_TDX_GUEST=n
CONFIG_GCC10_NO_ARRAY_BOUNDS=n
CONFIG_MSDOS_PARTITION=n
CONFIG_MQ_IOSCHED_DEADLINE=n
CONFIG_CRYPTO_ALGAPI=n
CONFIG_TCP_CONG_CUBIC=n
CONFIG_SND_DRIVERS=n
CONFIG_MITIGATION_TAA=n
CONFIG_ARCH_HAS_NMI_SAFE_THIS_CPU_OPS=n
CONFIG_HAVE_EBPF_JIT=n
CONFIG_TCP_MD5SIG=n
CONFIG_CRYPTO_ECB=n
CONFIG_NEED_TASKS_RCU=n
CONFIG_ACPI_PROCESSOR=n
CONFIG_ACPI_SYSTEM_POWER_STATES_SUPPORT=n
CONFIG_M686=n
CONFIG_EDAC_ATOMIC_SCRUB=n
CONFIG_HAVE_SYSCALL_TRACEPOINTS=n
CONFIG_ARCH_SUPPORTS_KEXEC_BZIMAGE_VERIFY_SIG=n
CONFIG_CRYPTO_MANAGER2=n
CONFIG_CC_HAS_SLS=n
CONFIG_PREEMPT_RCU=n
CONFIG_INTEL_GTT=n
CONFIG_NET_VENDOR_RENESAS=n
CONFIG_ACPI_PLATFORM_PROFILE=n
CONFIG_ARCH_USE_CMPXCHG_LOCKREF=n
CONFIG_BLOCK_HOLDER_DEPRECATED=n
CONFIG_HAVE_FUNCTION_GRAPH_TRACER=n
CONFIG_CGROUP_NET_PRIO=n
CONFIG_NET_VENDOR_SEEQ=n
CONFIG_NF_LOG_IPV6=n
CONFIG_ARCH_WANT_LD_ORPHAN_WARN=n
CONFIG_WLAN_VENDOR_ZYDAS=n
CONFIG_RTC_I2C_AND_SPI=n
CONFIG_IO_URING_ZCRX=n
CONFIG_FAIR_GROUP_SCHED=n
CONFIG_RING_BUFFER=n
CONFIG_CRYPTO_LIB_MD5=n
CONFIG_HVC_DRIVER=n
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO_BARE=n
CONFIG_HAVE_PERF_USER_STACK_DUMP=n
CONFIG_ARCH_CPUIDLE_HALTPOLL=n
CONFIG_ARCH_CORRECT_STACKTRACE_ON_KRETPROBE=n
CONFIG_GENERIC_ALLOCATOR=n
CONFIG_I2C_BOARDINFO=n
CONFIG_ARCH_HIBERNATION_HEADER=n
CONFIG_HAVE_REGS_AND_STACK_ACCESS_API=n
CONFIG_LOCKD=n
CONFIG_KRETPROBE_ON_RETHOOK=n
CONFIG_DMADEVICES=n
CONFIG_CPU_FREQ_GOV_SCHEDUTIL=n
CONFIG_DRM_PANEL=n
CONFIG_NFS_DISABLE_UDP_SUPPORT=n
CONFIG_MMU=n
