CONFIG_BACKLIGHT_KTZ8866=y
CONFIG_LD_CAN_USE_KEEP_IN_OVERLAY=y
CONFIG_FORTIFY_SOURCE=y
CONFIG_HID_PETALYNX=y
CONFIG_MFD_88PM800=y
CONFIG_DM_DEBUG_BLOCK_STACK_TRACING=y
CONFIG_SYSCTL=y
CONFIG_PCH_DMA=y
CONFIG_INPUT_MAX7360_ROTARY=y
CONFIG_HAVE_FUNCTION_GRAPH_FREGS=y
CONFIG_COMEDI_ADV_PCI_DIO=y
CONFIG_RWSEM_SPIN_ON_OWNER=y
CONFIG_ASUS_TF103C_DOCK=y
CONFIG_SENSORS_MC34VR500=y
CONFIG_KUNIT_TEST=y
CONFIG_BLK_DEV_FD_RAWCMD=y
CONFIG_ARCH_USES_PG_ARCH_2=y
CONFIG_TOUCHSCREEN_CY8CTMG110=y
CONFIG_F2FS_UNFAIR_RWSEM=y
CONFIG_SATA_PMP=y
CONFIG_FUEL_GAUGE_MM8013=y
CONFIG_APM=y
CONFIG_HOTPLUG_CORE_SYNC_FULL=y
CONFIG_HOTPLUG_CPU=y
CONFIG_MICROCODE=y
CONFIG_VMGENID=y
CONFIG_USB4_STREAM=y
CONFIG_EFI_CAPSULE_QUIRK_QUARK_CSH=y
CONFIG_SENSORS_LTC4282=y
CONFIG_KEYBOARD_SUNKBD=y
CONFIG_PROC_SYSCTL=y
CONFIG_GENERIC_BITREVERSE=y
CONFIG_DEBUG_NMI_SELFTEST=y
CONFIG_GCC10_NO_ARRAY_BOUNDS=y
CONFIG_SERIAL_SC16IS7XX_SPI=y
CONFIG_CC_HAS_MULTIDIMENSIONAL_NONSTRING=y
CONFIG_TASKS_TRACE_RCU=y
CONFIG_LEDS_LT3593=y
CONFIG_RELAY=y
CONFIG_SENSORS_TC654=y
CONFIG_SENSORS_LM77=y
CONFIG_SCHED_INFO=y
CONFIG_PLX_DMA=y
CONFIG_CC_HAS_AUTO_VAR_INIT_PATTERN=y
CONFIG_HID_STEAM=y
CONFIG_GENERIC_ALLOCATOR=y
CONFIG_NVME_TARGET_FC=y
CONFIG_PINCTRL=y
CONFIG_PCI_GODIRECT=y
CONFIG_MQ_IOSCHED_DEADLINE=y
CONFIG_XILLYBUS=y
CONFIG_X86_REQUIRED_FEATURE_CMOV=y
CONFIG_MFD_TPS6594=y
CONFIG_NLS_CODEPAGE_857=y
CONFIG_DEBUG_STACK_USAGE=y
CONFIG_TRACER_MAX_TRACE=y
CONFIG_SENSORS_LM83=y
CONFIG_PPS_CLIENT_LDISC=y
CONFIG_HID_GFRM=y
CONFIG_GPIO_AMD8111=y
CONFIG_RMI4_CORE=y
CONFIG_HAVE_RSEQ=y
CONFIG_PPS_CLIENT_GPIO=y
CONFIG_NVME_TARGET_FCLOOP=y
CONFIG_DYNAMIC_EVENTS=y
CONFIG_VIDEO=y
CONFIG_W1_MASTER_DS2482=y
CONFIG_W1_SLAVE_DS2805=y
CONFIG_CHR_DEV_ST=y
CONFIG_KRETPROBE_ON_RETHOOK=y
CONFIG_REGULATOR_MAX20086=y
CONFIG_CRYPTO_SM4_GENERIC=y
CONFIG_SENSORS_MAX31730=y
CONFIG_DCDBAS=y
CONFIG_NO_HZ_IDLE=y
CONFIG_I2C_EG20T=y
CONFIG_JOLIET=y
CONFIG_ISL29003=y
CONFIG_LEDS_CLASS_FLASH=y
CONFIG_SERIO_PS2MULT=y
CONFIG_REGULATOR_LTC3676=y
CONFIG_LEDS_IS31FL319X=y
CONFIG_FPGA_MGR_LATTICE_SYSCONFIG_SPI=y
CONFIG_GPIO_WHISKEY_COVE=y
CONFIG_EDAC_I82875P=y
CONFIG_TPS6594_PFSM=y
CONFIG_HSI=y
CONFIG_RELOCATABLE=y
CONFIG_W1_SLAVE_DS2438=y
CONFIG_FLATMEM=y
CONFIG_STACKPROTECTOR_STRONG=y
CONFIG_NLS_MAC_ICELAND=y
CONFIG_OVMF_DEBUG_LOG=y
CONFIG_SCSI_LIB_KUNIT_TEST=y
CONFIG_COMEDI_DAS08=y
CONFIG_SENSORS_LM87=y
CONFIG_COMEDI_NI_660X=y
CONFIG_FW_LOADER_USER_HELPER=y
CONFIG_KEYBOARD_QT1050=y
CONFIG_PINCTRL_CEDARFORK=y
CONFIG_KEYBOARD_LM8333=y
CONFIG_FUTEX_PRIVATE_HASH=y
CONFIG_SENSORS_ADS7871=y
CONFIG_HAVE_KPROBES=y
CONFIG_KEXEC_CORE=y
CONFIG_SERIAL_8250_LPSS=y
CONFIG_CRYPTO_TWOFISH_586=y
CONFIG_CRYPTO_STREEBOG=y
CONFIG_GENERIC_CMOS_UPDATE=y
CONFIG_PCI_PASID=y
CONFIG_DM_MIRROR=y
CONFIG_SSB_PCIHOST_POSSIBLE=y
CONFIG_XFS_WARN=y
CONFIG_CGROUP_FREEZER=y
CONFIG_IPMI_POWEROFF=y
CONFIG_DS1682=y
CONFIG_PROVE_RAW_LOCK_NESTING=y
CONFIG_INPUT_AD714X=y
CONFIG_REGULATOR_RT6160=y
CONFIG_PAGE_SIZE_LESS_THAN_256KB=y
CONFIG_ARCH_SUPPORTS_SCHED_MC=y
CONFIG_GPIO_104_DIO_48E=y
CONFIG_FB_VIRTUAL=y
CONFIG_CRYPTO_TWOFISH_COMMON=y
CONFIG_HAS_IOPORT_MAP=y
CONFIG_INTEL_ATOMISP2_PM=y
CONFIG_SENSORS_LM85=y
CONFIG_ACPI_WMI_LEGACY_DEVICE_NAMES=y
CONFIG_BLK_DEV_MD=y
CONFIG_INTEL_HID_EVENT=y
CONFIG_NLS_KOI8_R=y
CONFIG_PCI_DOMAINS=y
CONFIG_COMEDI_ADL_PCI7250=y
CONFIG_TMPFS=y
CONFIG_FS_POSIX_ACL=y
CONFIG_KEYBOARD_OPENCORES=y
CONFIG_P2SB=y
CONFIG_ZLIB_DEFLATE=y
CONFIG_CRYPTO_GENIV=y
CONFIG_FB_ARC=y
CONFIG_SENSORS_ADCXX=y
CONFIG_NLS_ISO8859_9=y
CONFIG_RAPIDIO_ENUM_BASIC=y
CONFIG_PINCTRL_LAKEFIELD=y
CONFIG_DPTF_PCH_FIVR=y
CONFIG_DEBUG_BOOT_PARAMS=y
CONFIG_TOUCHSCREEN_HIMAX_HX852X=y
CONFIG_EFI_TEST=y
CONFIG_REGULATOR_AW37503=y
CONFIG_LENOVO_WMI_CAMERA=y
CONFIG_LEDS_LM3530=y
CONFIG_FORCE_DYNAMIC_FTRACE=y
CONFIG_HID_CYPRESS=y
CONFIG_ARCH_HIBERNATION_POSSIBLE=y
CONFIG_TOUCHSCREEN_AD7879_I2C=y
CONFIG_GP_PCI1XXXX=y
CONFIG_POWERCAP=y
CONFIG_LEDS_DAC124S085=y
CONFIG_QUOTA=y
CONFIG_KEYBOARD_MTK_PMIC=y
CONFIG_HAVE_MOD_ARCH_SPECIFIC=y
CONFIG_OPENSSL_SUPPORTS_ML_DSA=y
CONFIG_I2C_DEBUG_CORE=y
CONFIG_DMA_ACPI=y
CONFIG_PATA_LEGACY=y
CONFIG_CC_HAS_ASM_GOTO_OUTPUT=y
CONFIG_NLS_CODEPAGE_1250=y
CONFIG_KALLSYMS=y
CONFIG_ARCH_SUPPORTS_KEXEC_SIG=y
CONFIG_QNX6FS_FS=y
CONFIG_COMEDI_ADDI_APCI_2200=y
CONFIG_SPI_CADENCE=y
CONFIG_GCC_PLUGINS=y
CONFIG_PERF_USE_VMALLOC=y
CONFIG_GENERIC_SYSCALL=y
CONFIG_TOUCHSCREEN_CHIPONE_ICN8505=y
CONFIG_NOP_TRACER=y
CONFIG_ARCH_USE_SYM_ANNOTATIONS=y
CONFIG_PSTORE=y
CONFIG_SECTION_MISMATCH_WARN_ONLY=y
CONFIG_SPI_OFFLOAD=y
CONFIG_CUSE=y
CONFIG_SENSORS_MAX197=y
CONFIG_REGULATOR_RT4831=y
CONFIG_INPUT_KUNIT_TEST=y
CONFIG_INTEL_SMARTCONNECT=y
CONFIG_I2C_VIAPRO=y
CONFIG_TASKS_RCU_GENERIC=y
CONFIG_CHARLCD=y
CONFIG_SERIAL_CORE_CONSOLE=y
CONFIG_X86_PAT=y
CONFIG_MFD_CS47L92=y
CONFIG_SCSI_SAS_ATTRS=y
CONFIG_THERMAL_STATISTICS=y
CONFIG_SENSORS_MAX31722=y
CONFIG_I2C_GPIO=y
CONFIG_SERIAL_ALTERA_UART=y
CONFIG_CRYPTO_LIB_DES=y
CONFIG_DMADEVICES_VDEBUG=y
CONFIG_FB_CARMINE=y
CONFIG_COMPAT_32BIT_TIME=y
CONFIG_X86_DECODER_SELFTEST=y
CONFIG_TOUCHSCREEN_DA9052=y
CONFIG_CLKEVT_I8253=y
CONFIG_PINCTRL_DA9062=y
CONFIG_FB_MB862XX=y
CONFIG_CC_HAS_NAMED_AS_FIXED_SANITIZERS=y
CONFIG_DYNAMIC_SIGFRAME=y
CONFIG_REGULATOR_MAX77541=y
CONFIG_ARCH_USE_MEMREMAP_PROT=y
CONFIG_RMI4_I2C=y
CONFIG_PINCTRL_CS47L35=y
CONFIG_HAVE_EBPF_JIT=y
CONFIG_BLK_DEV_RAM=y
CONFIG_MFD_WM831X_SPI=y
CONFIG_INTEL_SCU_PLATFORM=y
CONFIG_LDISC_AUTOLOAD=y
CONFIG_TOUCHSCREEN_WM831X=y
CONFIG_SOFTLOCKUP_DETECTOR=y
CONFIG_UNICODE_NORMALIZATION_KUNIT_TEST=y
CONFIG_VIRTIO_CONSOLE=y
CONFIG_INTEL_PMT_DISCOVERY=y
CONFIG_VFIO_PCI_CORE=y
CONFIG_NLS_CODEPAGE_862=y
CONFIG_CC_CAN_LINK=y
CONFIG_REGULATOR_RT6190=y
CONFIG_VGASTATE=y
CONFIG_BLK_DEV_IO_TRACE=y
CONFIG_LOCKUP_DETECTOR=y
CONFIG_GPIO_SYSFS=y
CONFIG_EDAC=y
CONFIG_HAVE_PAGE_SIZE_4KB=y
CONFIG_HID_ALPS=y
CONFIG_SENSORS_MAX127=y
CONFIG_X86_LOCAL_APIC=y
CONFIG_PINCTRL_MADERA=y
CONFIG_HAVE_ASM_MODVERSIONS=y
CONFIG_TOUCHSCREEN_GUNZE=y
CONFIG_SPI_SC18IS602=y
CONFIG_SENSORS_AMC6821=y
CONFIG_NLS_ISO8859_1=y
CONFIG_MFD_OCELOT=y
CONFIG_MFD_TPS65912=y
CONFIG_KUNIT_AUTORUN_ENABLED=y
CONFIG_DEBUG_INFO_SPLIT=y
CONFIG_HID_REDRAGON=y
CONFIG_MFD_TPS65090=y
CONFIG_RD_LZ4=y
CONFIG_KEYBOARD_STOWAWAY=y
CONFIG_BCMA_HOST_PCI_POSSIBLE=y
CONFIG_HAVE_UID16=y
CONFIG_HAVE_KERNEL_BZIP2=y
CONFIG_XOR_BLOCKS_ARCH=y
CONFIG_ZRAM_BACKEND_LZO=y
CONFIG_ACPI_HOTPLUG_IOAPIC=y
CONFIG_DCACHE_WORD_ACCESS=y
CONFIG_INPUT_TWL6040_VIBRA=y
CONFIG_IRQ_WORK=y
CONFIG_SENSORS_G760A=y
CONFIG_SERIAL_8250_DMA=y
CONFIG_I2C_SIS5595=y
CONFIG_CRC_KUNIT_TEST=y
CONFIG_LPC_SCH=y
CONFIG_INPUT_FF_MEMLESS=y
CONFIG_CRYPTO_DH=y
CONFIG_SENSORS_LTC2947_I2C=y
CONFIG_ORANGEFS_FS=y
CONFIG_HAVE_C_RECORDMCOUNT=y
CONFIG_COMEDI_NI_TIOCMD=y
CONFIG_BLK_DEV_THROTTLING=y
CONFIG_PROC_MEM_ALWAYS_FORCE=y
CONFIG_DM_BIO_PRISON=y
CONFIG_ACPI_DEBUGGER_USER=y
CONFIG_CONTEXT_SWITCH_TRACER=y
CONFIG_CRYPTO_LIB_AES=y
CONFIG_USB_OHCI_LITTLE_ENDIAN=y
CONFIG_CHARGER_BQ24190=y
CONFIG_SERIAL_8250_FINTEK=y
CONFIG_SENSORS_LM80=y
CONFIG_X86_DISABLED_FEATURE_RETPOLINE=y
CONFIG_CRYPTO_XTS=y
CONFIG_TWL6040_CORE=y
CONFIG_X86_EXTENDED_PLATFORM=y
CONFIG_SENSORS_TMP464=y
CONFIG_CPU_SUP_VORTEX_32=y
CONFIG_COMEDI_ADDI_APCI_1032=y
CONFIG_IRQ_DOMAIN_HIERARCHY=y
CONFIG_NVME_TARGET_LOOP=y
CONFIG_NVIDIA_WMI_EC_BACKLIGHT=y
CONFIG_IP5XXX_POWER=y
CONFIG_NLS_CODEPAGE_864=y
CONFIG_TPS65010=y
CONFIG_DW_DMAC_CORE=y
CONFIG_HAVE_ARCH_WITHIN_STACK_FRAMES=y
CONFIG_ACPI_QUICKSTART=y
CONFIG_LCD_L4F00242T03=y
CONFIG_I2C_SIMTEC=y
CONFIG_SENSORS_MAX6639=y
CONFIG_HWMON=y
CONFIG_CHECK_SIGNATURE=y
CONFIG_RANDOMIZE_KSTACK_OFFSET_DEFAULT=y
CONFIG_INTEL_PUNIT_IPC=y
CONFIG_CRYPTO_ECB=y
CONFIG_EFI_BOOTLOADER_CONTROL=y
CONFIG_SLAB_OBJ_EXT=y
CONFIG_I2C_CBUS_GPIO=y
CONFIG_AMD_NB=y
CONFIG_FAIL_MAKE_REQUEST=y
CONFIG_FS_STACK=y
CONFIG_SERIAL_8250_PNP=y
CONFIG_BLK_DEV_UBLK=y
CONFIG_STACKDEPOT_ALWAYS_INIT=y
CONFIG_X86_CMOV=y
CONFIG_ACPI_HOTPLUG_CPU=y
CONFIG_LINEDISP=y
CONFIG_SENSORS_K10TEMP=y
CONFIG_HIGH_RES_TIMERS=y
CONFIG_REED_SOLOMON=y
CONFIG_INTERRUPT_CNT=y
CONFIG_RD_BZIP2=y
CONFIG_REGULATOR_RTQ2134=y
CONFIG_HAVE_GENERIC_VDSO=y
CONFIG_FPGA_DFL_AFU=y
CONFIG_I8254=y
CONFIG_REGULATOR_RTQ2208=y
CONFIG_CRYPTO_DEV_SAFEXCEL=y
CONFIG_ACPI_THERMAL=y
CONFIG_PDC_ADMA=y
CONFIG_FB_MB862XX_I2C=y
CONFIG_SENSORS_LTC4283=y
CONFIG_ARCH_32BIT_OFF_T=y
CONFIG_XZ_DEC_X86=y
CONFIG_PREEMPTIRQ_TRACEPOINTS=y
CONFIG_FIREWIRE_SBP2=y
CONFIG_ACPI_PROCESSOR_IDLE=y
CONFIG_SPI_DW_MMIO=y
CONFIG_SENSORS_MAX6621=y
CONFIG_PCIE_TPH=y
CONFIG_SENSORS_LTC4260=y
CONFIG_MFD_CS47L24=y
CONFIG_ACPI_PROCESSOR=y
CONFIG_CRYPTO_MD5=y
CONFIG_CRYPTO_LIB_POLY1305_GENERIC=y
CONFIG_ARCH_SUPPORTS_CRASH_HOTPLUG=y
CONFIG_GREYBUS_BEAGLEPLAY=y
CONFIG_SGL_ALLOC=y
CONFIG_BSD_PROCESS_ACCT=y
CONFIG_IRQ_POLL=y
CONFIG_TOUCHSCREEN_GOODIX_BERLIN_SPI=y
CONFIG_CPU_IDLE=y
CONFIG_LCD_LTV350QV=y
CONFIG_BLK_DEV_DM_BUILTIN=y
CONFIG_LEDS_MT6370_RGB=y
CONFIG_DEBUG_DRIVER=y
CONFIG_X86_VMX_FEATURE_NAMES=y
CONFIG_DEBUG_MISC=y
CONFIG_NAMESPACES=y
CONFIG_RANDOMIZE_KSTACK_OFFSET=y
CONFIG_COMEDI_NI_ROUTING=y
CONFIG_DEBUG_ATOMIC=y
CONFIG_REGULATOR_LP8755=y
CONFIG_GPIO_EXAR=y
CONFIG_FB_PM2_FIFO_DISCONNECT=y
CONFIG_EFI=y
CONFIG_I8253_LOCK=y
CONFIG_FPGA_MGR_XILINX_SPI=y
CONFIG_REGMAP_KUNIT=y
CONFIG_LEDS_CLASS_MULTICOLOR=y
CONFIG_PINCTRL_INTEL=y
CONFIG_EFI_DISABLE_RUNTIME=y
CONFIG_HAVE_FUNCTION_TRACER=y
CONFIG_RUSTC_HAS_FILE_WITH_NUL=y
CONFIG_COMEDI_AMPLC_PC236_PCI=y
CONFIG_GPIO_ARIZONA=y
CONFIG_ARCH_CONFIGURES_CPU_MITIGATIONS=y
CONFIG_ARCH_HAS_MEM_ENCRYPT=y
CONFIG_VFIO_GROUP=y
CONFIG_ARCH_SUPPORTS_KEXEC_JUMP=y
CONFIG_GENERIC_TRACER=y
CONFIG_CS5535_MFGPT=y
CONFIG_ASYNC_XOR=y
CONFIG_SPI_MICROCHIP_CORE_QSPI=y
CONFIG_PREEMPT=y
CONFIG_HAVE_GENERIC_TIF_BITS=y
CONFIG_CRC_BENCHMARK=y
CONFIG_DMA_SHARED_BUFFER=y
CONFIG_DUMMY_IRQ=y
CONFIG_ARCH_WANT_GENERAL_HUGETLB=y
CONFIG_CRC64=y
CONFIG_SENSORS_ISL28022=y
CONFIG_RCU_NEED_SEGCBLIST=y
CONFIG_BPF=y
CONFIG_MUTEX_SPIN_ON_OWNER=y
CONFIG_SECURITYFS=y
CONFIG_EXT2_FS=y
CONFIG_TRACER_SNAPSHOT_PER_CPU_SWAP=y
CONFIG_SATA_INIC162X=y
CONFIG_FB_VIA_DIRECT_PROCFS=y
CONFIG_FB_CFB_COPYAREA=y
CONFIG_XFS_QUOTA=y
CONFIG_PAGE_COUNTER=y
CONFIG_SCHED_CLUSTER=y
CONFIG_TRUSTED_KEYS=y
CONFIG_ARCH_STACKWALK=y
CONFIG_LEDS_PCA963X=y
CONFIG_INTEL_RAPL_CORE=y
CONFIG_BACKLIGHT_SKY81452=y
CONFIG_ARCH_WANTS_DYNAMIC_TASK_STRUCT=y
CONFIG_GPIO_DWAPB=y
CONFIG_CHARGER_RT5033=y
CONFIG_HID_MAGICMOUSE=y
CONFIG_HAVE_PERF_USER_STACK_DUMP=y
CONFIG_SENSORS_K8TEMP=y
CONFIG_TOUCHSCREEN_INEXIO=y
CONFIG_FPGA_M10_BMC_SEC_UPDATE=y
CONFIG_PATA_PARPORT=y
CONFIG_EROFS_FS=y
CONFIG_KRETPROBES=y
CONFIG_PREEMPT_RT_NEEDS_BH_LOCK=y
CONFIG_KERNEL_ZSTD=y
CONFIG_INIT_STACK_ALL_ZERO=y
CONFIG_DMABUF_KUNIT_TEST=y
CONFIG_PINCTRL_MAX7360=y
CONFIG_TOUCHSCREEN_AD7879=y
CONFIG_HID_KEYTOUCH=y
CONFIG_PCI_DOE=y
CONFIG_SPI_TLE62X0=y
CONFIG_BUILDTIME_TABLE_SORT=y
CONFIG_PATA_PARPORT_FIT2=y
CONFIG_X86_DISABLED_FEATURE_PKU=y
CONFIG_GENERIC_PHY=y
CONFIG_TOUCHSCREEN_FUJITSU=y
CONFIG_DM_DEBUG_BLOCK_MANAGER_LOCKING=y
CONFIG_RING_BUFFER_RECORD_RECURSION=y
CONFIG_ARCH_MEMORY_ORDER_TSO=y
CONFIG_TOSHIBA_WMI=y
CONFIG_EEPROM_MAX6875=y
CONFIG_XFS_POSIX_ACL=y
CONFIG_PRINTER=y
CONFIG_DM_INTEGRITY=y
CONFIG_MFD_MAX8998=y
CONFIG_HID_SPEEDLINK=y
CONFIG_MAGIC_SYSRQ=y
CONFIG_PAGE_SIZE_4KB=y
CONFIG_GPIO_GRANITERAPIDS=y
CONFIG_CRYPTO_ENGINE=y
CONFIG_FW_LOADER=y
CONFIG_SENSORS_W83793=y
CONFIG_NTB_TRANSPORT=y
CONFIG_NVDIMM_SECURITY_TEST=y
CONFIG_MISC_RTSX=y
CONFIG_EVENTFD=y
CONFIG_FB_SYSMEM_HELPERS_DEFERRED=y
CONFIG_ARCH_HAS_SYSCALL_WRAPPER=y
CONFIG_RUSTC_HAS_UNNECESSARY_TRANSMUTES=y
CONFIG_KEYBOARD_CHARLIEPLEX=y
CONFIG_CRYPTO_LIB_POLY1305=y
CONFIG_LEDS_PCA995X=y
CONFIG_INTEL_IPS=y
CONFIG_INPUT_KXTJ9=y
CONFIG_DEBUG_INFO_COMPRESSED_ZSTD=y
CONFIG_TOUCHSCREEN_TOUCHRIGHT=y
CONFIG_CRYPTO_DEV_QAT=y
CONFIG_EXTCON_SM5502=y
CONFIG_HPET_MMAP=y
CONFIG_DM_BUFIO=y
CONFIG_PCI_QUIRKS=y
CONFIG_BACKLIGHT_KTD253=y
CONFIG_GCC_PLUGIN_LATENT_ENTROPY=y
CONFIG_TOUCHSCREEN_MELFAS_MIP4=y
CONFIG_CRYPTO_LIB_GF128MUL=y
CONFIG_HAVE_PERF_EVENTS=y
CONFIG_PSTORE_PMSG=y
CONFIG_FIREWIRE=y
CONFIG_INTEL_ATOMISP2_LED=y
CONFIG_CC_HAS_SLS=y
CONFIG_HAVE_ARCH_SECCOMP=y
CONFIG_TPS6594_ESM=y
CONFIG_ACPI_FFH=y
CONFIG_X86_CPA_STATISTICS=y
CONFIG_CROSS_MEMORY_ATTACH=y
CONFIG_FUTEX_PI=y
CONFIG_GAMEPORT_L4=y
CONFIG_FPGA_MGR_XILINX_CORE=y
CONFIG_YT2_1380=y
CONFIG_FB_LITTLE_ENDIAN=y
CONFIG_INPUT_APANEL=y
CONFIG_EDAC_E7XXX=y
CONFIG_COUNTER=y
CONFIG_FAT_KUNIT_TEST=y
CONFIG_READABLE_ASM=y
CONFIG_TMPFS_XATTR=y
CONFIG_KEYBOARD_TCA8418=y
CONFIG_HAS_IOPORT=y
CONFIG_I2C_ATR=y
CONFIG_CRC32=y
CONFIG_SERIO=y
CONFIG_UFS_DEBUG=y
CONFIG_BLK_CGROUP_RWSTAT=y
CONFIG_SENSORS_LTC2947_SPI=y
