CONFIG_CRYPTO_HASH=n
CONFIG_HAVE_FUTEX_ROBUST_UNLOCK=n
CONFIG_IA32_EMULATION=n
CONFIG_ATA_VERBOSE_ERROR=n
CONFIG_HAVE_IOREMAP_PROT=n
CONFIG_IPV6=n
CONFIG_RTC_DRV_CMOS=n
CONFIG_MEMBARRIER=n
CONFIG_HAVE_HARDLOCKUP_DETECTOR_PERF=n
CONFIG_RANDOMIZE_BASE=n
CONFIG_SCSI_SPI_ATTRS=n
CONFIG_WATCHDOG=n
CONFIG_CRYPTO_CAMELLIA=n
CONFIG_NET_VENDOR_WANGXUN=n
CONFIG_HID_SONY=n
CONFIG_IOMMU_SUPPORT=n
CONFIG_BLK_CGROUP_IOCOST=n
CONFIG_IPV6_NDISC_NODETYPE=n
CONFIG_YENTA_ENE_TUNE=n
CONFIG_NET_VENDOR_SUN=n
CONFIG_IOSF_MBI=n
CONFIG_HPET=n
CONFIG_SIGNALFD=n
CONFIG_X86_KERNEL_IBT=n
CONFIG_ARCH_WANT_LD_ORPHAN_WARN=n
CONFIG_IOMMU_SVA=n
CONFIG_CPU_FREQ=n
CONFIG_FWNODE_MDIO=n
CONFIG_DECOMPRESS_XZ=n
CONFIG_ACPI_DOCK=n
CONFIG_ARCH_HAVE_EXTRA_ELF_NOTES=n
CONFIG_NETWORK_FILESYSTEMS=n
CONFIG_SLUB=n
CONFIG_USB_EHCI_PCI=n
CONFIG_WLAN_VENDOR_RSI=n
CONFIG_GENERIC_TRACER=n
CONFIG_ARCH_HAVE_NMI_SAFE_CMPXCHG=n
CONFIG_STACKPROTECTOR=n
CONFIG_PCIEASPM=n
CONFIG_CRYPTO_LIB_SHA512=n
CONFIG_NET_HANDSHAKE=n
CONFIG_HAVE_KERNEL_LZMA=n
CONFIG_SECURITY_SELINUX_BOOTPARAM=n
CONFIG_SND_VMASTER=n
CONFIG_HUGETLB_PAGE_OPTIMIZE_VMEMMAP=n
CONFIG_MODULES_TREE_LOOKUP=n
CONFIG_HAVE_FENTRY=n
CONFIG_NET_VENDOR_CORTINA=n
CONFIG_DRM_KMS_HELPER=n
CONFIG_GRO_CELLS=n
CONFIG_HSU_DMA=n
CONFIG_GENERIC_IRQ_EFFECTIVE_AFF_MASK=n
CONFIG_X86_PM_TIMER=n
CONFIG_HAVE_ARCH_MMAP_RND_BITS=n
CONFIG_FONT_SUPPORT=n
CONFIG_NETFILTER_XT_TARGET_LOG=n
CONFIG_NF_LOG_SYSLOG=n
CONFIG_HAVE_MIXED_BREAKPOINTS_REGS=n
CONFIG_IO_URING_BPF=n
CONFIG_HUGETLB_PMD_PAGE_TABLE_SHARING=n
CONFIG_IP_PNP_DHCP=n
CONFIG_BLK_DEV_DM_BUILTIN=n
CONFIG_X86_BUS_LOCK_DETECT=n
CONFIG_I2C_ALGOBIT=n
CONFIG_INPUT_TOUCHSCREEN=n
CONFIG_CC_NO_ARRAY_BOUNDS=n
CONFIG_USB=n
CONFIG_PNFS_FILE_LAYOUT=n
CONFIG_NETFILTER_XT_TARGET_SECMARK=n
CONFIG_USB_OHCI_HCD=n
CONFIG_HAVE_KPROBES_ON_FTRACE=n
CONFIG_CRYPTO_LIB_ARC4=n
CONFIG_NET_VENDOR_OKI=n
CONFIG_CRYPTO_LIB_AES=n
CONFIG_HAVE_PERF_EVENTS_NMI=n
CONFIG_PREEMPT_RCU=n
CONFIG_PREEMPTION=n
CONFIG_NEED_PER_CPU_EMBED_FIRST_CHUNK=n
CONFIG_UCS2_STRING=n
CONFIG_PACKET=n
CONFIG_HAS_IOPORT_MAP=n
CONFIG_CC_HAS_IBT=n
CONFIG_HAVE_UNSTABLE_SCHED_CLOCK=n
CONFIG_INTEGRITY=n
CONFIG_QUOTA=n
CONFIG_NFS_V3_ACL=n
CONFIG_BLK_DEV_IO_TRACE=n
CONFIG_SERIAL_8250_RSA=n
CONFIG_IRQ_WORK=n
CONFIG_ARCH_HAS_PARANOID_L1D_FLUSH=n
CONFIG_HAVE_RSEQ=n
CONFIG_DEFAULT_CUBIC=n
CONFIG_PRINTK_TIME=n
CONFIG_BQL=n
CONFIG_IP_MULTIPLE_TABLES=n
CONFIG_CC_HAS_WORKING_NOSANITIZE_ADDRESS=n
CONFIG_MMU_GATHER_TABLE_FREE=n
CONFIG_EFI_STUB=n
CONFIG_NF_REJECT_IPV6=n
CONFIG_HAVE_EXIT_THREAD=n
CONFIG_WATCHDOG_HANDLE_BOOT_ENABLED=n
CONFIG_IO_WQ=n
CONFIG_OPTPROBES=n
CONFIG_MSDOS_PARTITION=n
CONFIG_FAT_FS=n
CONFIG_DRM_DISPLAY_DSC_HELPER=n
CONFIG_TASK_XACCT=n
CONFIG_X86_CMOV=n
CONFIG_DEVMEM=n
CONFIG_STACKTRACE_SUPPORT=n
CONFIG_RTC_NVMEM=n
CONFIG_NLS_ASCII=n
CONFIG_NET_PTP_CLASSIFY=n
CONFIG_NET_VENDOR_ARC=n
CONFIG_DEBUG_KERNEL=n
CONFIG_SYMBOLIC_ERRNAME=n
CONFIG_HAVE_PREEMPT_DYNAMIC_CALL=n
CONFIG_NET_VENDOR_I825XX=n
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_REGS=n
CONFIG_HAVE_OBJTOOL_MCOUNT=n
CONFIG_ACPI_MRRM=n
CONFIG_RTC_INTF_SYSFS=n
CONFIG_X86_DISABLED_FEATURE_SGX=n
CONFIG_HAVE_GIGANTIC_FOLIOS=n
CONFIG_XZ_DEC_X86=n
CONFIG_CC_HAS_AUTO_VAR_INIT_PATTERN=n
CONFIG_NF_CONNTRACK_SIP=n
CONFIG_CRYPTO_MANAGER=n
CONFIG_SND_HDA_COMPONENT=n
CONFIG_WLAN_VENDOR_PURELIFI=n
CONFIG_NETFILTER_XT_TARGET_CONNSECMARK=n
CONFIG_HAVE_ACPI_APEI_NMI=n
CONFIG_HW_RANDOM_VIA=n
CONFIG_CONTEXT_TRACKING=n
CONFIG_ARCH_SUPPORTS_ACPI=n
CONFIG_XZ_DEC_ARMTHUMB=n
CONFIG_THERMAL_HWMON=n
CONFIG_ARCH_WANTS_CLOCKSOURCE_READ_INLINE=n
CONFIG_DMA_ACPI=n
CONFIG_FUTEX_PI=n
CONFIG_PATA_TIMINGS=n
CONFIG_NFS_COMMON=n
CONFIG_IP_MROUTE=n
CONFIG_IP_NF_IPTABLES=n
CONFIG_EFI=n
CONFIG_FUTEX=n
CONFIG_MITIGATION_SSB=n
CONFIG_CRC32_ARCH=n
CONFIG_EDAC_SUPPORT=n
CONFIG_IP_PIMSM_V2=n
CONFIG_X509_CERTIFICATE_PARSER=n
CONFIG_MOUSE_PS2_ALPS=n
CONFIG_HAVE_GENERIC_VDSO=n
CONFIG_HAVE_PERF_USER_STACK_DUMP=n
CONFIG_RCU_NEED_SEGCBLIST=n
CONFIG_QUOTACTL=n
CONFIG_NET_XGRESS=n
CONFIG_INPUT_EVDEV=n
CONFIG_CC_HAS_RETURN_THUNK=n
CONFIG_HAVE_ARCH_SOFT_DIRTY=n
CONFIG_INPUT_TABLET=n
CONFIG_DRM_TTM=n
CONFIG_MITIGATION_GDS=n
CONFIG_RD_ZSTD=n
CONFIG_UID16=n
CONFIG_AIO=n
CONFIG_RD_GZIP=n
CONFIG_SECCOMP_FILTER=n
CONFIG_NET_POLL_CONTROLLER=n
CONFIG_PARAVIRT=n
CONFIG_X86_REQUIRED_FEATURE_PSE=n
CONFIG_GENERIC_IRQ_RESERVATION_MODE=n
CONFIG_EEPROM_93CX6=n
CONFIG_PM_SLEEP=n
CONFIG_CRYPTO_LIB_BLAKE2S_ARCH=n
CONFIG_HAVE_CALL_THUNKS=n
CONFIG_QUOTA_TREE=n
CONFIG_PADATA=n
CONFIG_CRYPTO_HW=n
CONFIG_GENERIC_IRQ_MIGRATION=n
CONFIG_CRYPTO_LIB_MD5=n
CONFIG_NETFILTER_XT_TARGET_MASQUERADE=n
CONFIG_SERIAL_8250_PCILIB=n
CONFIG_DMA_NEED_SYNC=n
CONFIG_AUDITSYSCALL=n
CONFIG_DMAR_TABLE=n
CONFIG_PNFS_BLOCK=n
CONFIG_CFG80211_CRDA_SUPPORT=n
CONFIG_RFKILL=n
CONFIG_MITIGATION_RETPOLINE=n
CONFIG_HAVE_PV_STEAL_CLOCK_GEN=n
CONFIG_R8169=n
CONFIG_NEED_SG_DMA_LENGTH=n
CONFIG_NETDEVICES=n
CONFIG_GENERIC_CLOCKEVENTS_COUPLED=n
CONFIG_HAVE_STATIC_CALL=n
CONFIG_ACPI_LEGACY_TABLES_LOOKUP=n
CONFIG_NF_CT_NETLINK=n
CONFIG_VIRTIO_DMA_SHARED_BUFFER=n
CONFIG_ARCH_SUPPORTS_UPROBES=n
CONFIG_ACPI_WMI=n
CONFIG_BLK_RQ_ALLOC_TIME=n
CONFIG_SCHED_CLUSTER=n
CONFIG_MAC80211_LEDS=n
CONFIG_FIRMWARE_TABLE=n
CONFIG_HUGETLBFS=n
CONFIG_HAVE_ARCH_KCSAN=n
CONFIG_BLK_DEV_DM=n
CONFIG_HID_GYRATION=n
CONFIG_RELAY=n
CONFIG_GENERIC_CPU_VULNERABILITIES=n
CONFIG_PROVIDE_OHCI1394_DMA_INIT=n
CONFIG_AF_UNIX_OOB=n
CONFIG_NET_VENDOR_EMULEX=n
CONFIG_HYPERVISOR_GUEST=n
CONFIG_POWER_SUPPLY_HWMON=n
CONFIG_PCI_PRI=n
CONFIG_SATA_HOST=n
CONFIG_HAVE_MOVE_PMD=n
CONFIG_9P_FS=n
CONFIG_ARCH_WANTS_NO_INSTR=n
CONFIG_SND_TIMER=n
CONFIG_X86_DEBUGCTLMSR=n
CONFIG_NET_VENDOR_META=n
CONFIG_SECRETMEM=n
CONFIG_NETFILTER_XT_MARK=n
CONFIG_ARCH_SUPPORTS_KEXEC_SIG_FORCE=n
CONFIG_TASKS_RCU_GENERIC=n
CONFIG_EXT4_USE_FOR_EXT2=n
CONFIG_TCP_MD5SIG=n
CONFIG_NET_VENDOR_NATSEMI=n
CONFIG_DM_ZERO=n
CONFIG_LOCALVERSION_AUTO=n
CONFIG_SCSI_LOWLEVEL=n
CONFIG_RING_BUFFER=n
CONFIG_NET_VENDOR_AMD=n
CONFIG_KEYBOARD_ATKBD=n
CONFIG_CRYPTO_ALGAPI=n
CONFIG_SPARSEMEM_VMEMMAP=n
CONFIG_IOMMU_DEFAULT_DMA_LAZY=n
CONFIG_CRYPTO_LIB_SHA512_ARCH=n
CONFIG_LOCKD_V4=n
CONFIG_WLAN_VENDOR_SILABS=n
CONFIG_PCI_DOMAINS=n
CONFIG_CRYPTO_LZ4=n
CONFIG_INET_TUNNEL=n
CONFIG_FIX_EARLYCON_MEM=n
CONFIG_IOMMU_PT_X86_64=n
CONFIG_GRACE_PERIOD=n
CONFIG_NETFILTER_XTABLES=n
CONFIG_ARCH_SUPPORTS_CFI=n
CONFIG_CRYPTO_LIB_SHA1=n
CONFIG_INTEL_IOMMU=n
CONFIG_QUOTA_NETLINK_INTERFACE=n
CONFIG_MAC80211=n
CONFIG_MOUSE_PS2_BYD=n
CONFIG_ARCH_USE_SYM_ANNOTATIONS=n
CONFIG_SURFACE_PLATFORMS=n
CONFIG_X86_VSYSCALL_EMULATION=n
CONFIG_AUTOFS_FS=n
CONFIG_DRM_I915_COMPRESS_ERROR=n
CONFIG_TASKS_RCU=n
CONFIG_GENERIC_SYSCALL=n
CONFIG_SCHED_CACHE=n
CONFIG_SND_SEQ_DEVICE=n
CONFIG_CALL_PADDING=n
CONFIG_ARCH_USES_PG_ARCH_2=n
CONFIG_NVMEM=n
CONFIG_AUDIT_ARCH=n
CONFIG_MUTEX_SPIN_ON_OWNER=n
CONFIG_CRYPTO_SKCIPHER=n
CONFIG_SATA_AHCI=n
CONFIG_X86_REQUIRED_FEATURE_PGE=n
CONFIG_ACPI_VIDEO=n
CONFIG_ZONE_DMA=n
CONFIG_SCHED_HRTICK=n
CONFIG_UPROBE_EVENTS=n
CONFIG_CPU_IDLE_GOV_HALTPOLL=n
CONFIG_IOMMU_IOPF=n
CONFIG_RTC_INTF_PROC=n
CONFIG_EDAC_ATOMIC_SCRUB=n
CONFIG_COMPAT_32=n
CONFIG_BRANCH_PROFILE_NONE=n
CONFIG_USB_EHCI_HCD=n
CONFIG_WERROR=n
CONFIG_DEBUG_DEVRES=n
CONFIG_BLK_DEV_WRITE_MOUNTED=n
CONFIG_HAVE_ARCH_SECCOMP=n
CONFIG_NET_VENDOR_MUCSE=n
CONFIG_HAVE_KERNEL_BZIP2=n
CONFIG_LD_CAN_USE_KEEP_IN_OVERLAY=n
CONFIG_HID=n
CONFIG_INOTIFY_USER=n
CONFIG_ARCH_SUPPORTS_RT=n
CONFIG_USB_COMMON=n
CONFIG_WLAN_VENDOR_ADMTEK=n
CONFIG_MITIGATION_IBRS_ENTRY=n
CONFIG_TCP_CONG_ADVANCED=n
CONFIG_XZ_DEC_RISCV=n
CONFIG_ARCH_PROC_KCORE_TEXT=n
