CONFIG_MRP=y
CONFIG_EXTCON_GPIO=y
CONFIG_COMPACTION=y
CONFIG_ACORN_PARTITION_RISCIX=y
CONFIG_LEDS_AAT1290=y
CONFIG_SENSORS_SCH56XX_COMMON=y
CONFIG_NET_VENDOR_FUNGIBLE=y
CONFIG_GPIO_LP873X=y
CONFIG_MTD_UBI=y
CONFIG_INET_AH=y
CONFIG_RFD_FTL=y
CONFIG_BLK_DEV_MD=y
CONFIG_SENSORS_ADM1266=y
CONFIG_BOSCH_BNO055_SERIAL=y
CONFIG_NET_DSA_BCM_SF2=y
CONFIG_VIRTIO_BLK=y
CONFIG_BH1780=y
CONFIG_NETDEVSIM=y
CONFIG_SENSORS_MC34VR500=y
CONFIG_MSDOS_FS=y
CONFIG_SSB_DRIVER_PCICORE=y
CONFIG_PCI_HOST_COMMON=y
CONFIG_SENSORS_MAX31790=y
CONFIG_BATTERY_BQ27XXX=y
CONFIG_CC_IS_GCC=y
CONFIG_PCI_MESON=y
CONFIG_HAVE_C_RECORDMCOUNT=y
CONFIG_INTEL_IOMMU_FLOPPY_WA=y
CONFIG_SENSORS_INA2XX=y
CONFIG_OLD_SIGACTION=y
CONFIG_KSM=y
CONFIG_INPUT_VIVALDIFMAP=y
CONFIG_PINCTRL_ELKHARTLAKE=y
CONFIG_CRYPTO_LIB_SM3=y
CONFIG_HIST_TRIGGERS_DEBUG=y
CONFIG_INPUT_KEYBOARD=y
CONFIG_SENSORS_MAX8688=y
CONFIG_DHT11=y
CONFIG_PC104=y
CONFIG_X86_DISABLED_FEATURE_IBT=y
CONFIG_COMMON_CLK_CDCE706=y
CONFIG_CRYPTO_CTR=y
CONFIG_ARCH_HAVE_EXTRA_ELF_NOTES=y
CONFIG_SENSORS_F75375S=y
CONFIG_OPTPROBES=y
CONFIG_PCI_LABEL=y
CONFIG_IOMMUFD_DRIVER=y
CONFIG_ACPI_PROCESSOR=y
CONFIG_CRYPTO_SIG2=y
CONFIG_HAVE_KERNEL_ZSTD=y
CONFIG_BNA=y
CONFIG_WATCHDOG_CORE=y
CONFIG_SCSI_UFS_DWC_TC_PCI=y
CONFIG_AK8975=y
CONFIG_NVME_TARGET=y
CONFIG_BCMA=y
CONFIG_DEBUG_RODATA_TEST=y
CONFIG_ACPI_DEBUG=y
CONFIG_ADVANTECH_EC_WDT=y
CONFIG_MFD_PALMAS=y
CONFIG_CHR_DEV_SCH=y
CONFIG_MFD_AS3722=y
CONFIG_VIRTIO_PCI_LIB_LEGACY=y
CONFIG_ASYNC_XOR=y
CONFIG_LEDS_TRIGGERS=y
CONFIG_SLUB=y
CONFIG_MULTIPLEXER=y
CONFIG_PHY_PXA_28NM_HSIC=y
CONFIG_ARCH_SUPPORTS_ATOMIC_RMW=y
CONFIG_WLAN_VENDOR_REALTEK=y
CONFIG_GENERIC_IRQ_ENTRY=y
CONFIG_CRYPTO_MD4=y
CONFIG_REGULATOR_QCOM_SPMI=y
CONFIG_CM36651=y
CONFIG_STACKTRACE=y
CONFIG_NMI_CHECK_CPU=y
CONFIG_MTRR_SANITIZER=y
CONFIG_AUXILIARY_BUS=y
CONFIG_MFD_TPS65218=y
CONFIG_SENSORS_LM73=y
CONFIG_CRYPTO_HASH=y
CONFIG_SENSORS_TDA38640=y
CONFIG_X86_THERMAL_VECTOR=y
CONFIG_GPIO_ADP5585=y
CONFIG_EEPROM_M24LR=y
CONFIG_REGULATOR_PV88080=y
CONFIG_FUJITSU_LAPTOP=y
CONFIG_IIO_SW_TRIGGER=y
CONFIG_CC_HAS_KASAN_GENERIC=y
CONFIG_TOUCHSCREEN_AD7879=y
CONFIG_HSI_BOARDINFO=y
CONFIG_CRYPTO_LIB_POLY1305_GENERIC=y
CONFIG_INTEL_TCC_COOLING=y
CONFIG_REGULATOR_BD9571MWV=y
CONFIG_SCSI_ESAS2R=y
CONFIG_DWMAC_MOTORCOMM=y
CONFIG_MTD_CFI_STAA=y
CONFIG_SSB_PCIHOST=y
CONFIG_COMMON_CLK_CDCE925=y
CONFIG_GPIO_WATCHDOG_ARCH_INITCALL=y
CONFIG_MEGARAID_SAS=y
CONFIG_SENSORS_PMBUS=y
CONFIG_LOCK_STAT=y
CONFIG_TEST_POWER=y
CONFIG_X25=y
CONFIG_OPEN_ALLIANCE_HELPERS=y
CONFIG_NVMEM_SYSFS=y
CONFIG_CRYPTO_LIB_MD5=y
CONFIG_GOOGLE_COREBOOT_TABLE=y
CONFIG_ISO9660_FS=y
CONFIG_ARCH_WANTS_NO_INSTR=y
CONFIG_ACPI_MDIO=y
CONFIG_FPGA_M10_BMC_SEC_UPDATE=y
CONFIG_TPS6594_ESM=y
CONFIG_TABLET_SERIAL_WACOM4=y
CONFIG_REGULATOR_MAX8907=y
CONFIG_BUG_ON_DATA_CORRUPTION=y
CONFIG_SGL_ALLOC=y
CONFIG_ACPI_ALS=y
CONFIG_QUOTACTL=y
CONFIG_ZRAM_DEF_COMP_LZO=y
CONFIG_REGULATOR_RT4831=y
CONFIG_TICK_CPU_ACCOUNTING=y
CONFIG_HAVE_USER_RETURN_NOTIFIER=y
CONFIG_X86_DEBUG_FPU=y
CONFIG_ARCH_32BIT_OFF_T=y
CONFIG_MLX4_EN=y
CONFIG_EXTCON=y
CONFIG_UNIX98_PTYS=y
CONFIG_ACPI_SBS=y
CONFIG_TASK_DELAY_ACCT=y
CONFIG_CRYPTO_LIB_SHA256=y
CONFIG_USB4_DEBUGFS_WRITE=y
CONFIG_QCA808X_PHY=y
CONFIG_PHY_INTEL_LGM_EMMC=y
CONFIG_LEDS_RT8515=y
CONFIG_BOOT_CONFIG_FORCE=y
CONFIG_REGULATOR_RN5T618=y
CONFIG_MLX4_DEBUG=y
CONFIG_NVRAM=y
CONFIG_ACPI_SYSTEM_POWER_STATES_SUPPORT=y
CONFIG_HARDLOCKUP_DETECTOR_PERF=y
CONFIG_QCOM_PMIC_PDCHARGER_ULOG=y
CONFIG_I2C_ALGOBIT=y
CONFIG_PAGE_EXTENSION=y
CONFIG_CRYPTO_MANAGER=y
CONFIG_LAPB=y
CONFIG_RCU_NOCB_CPU_DEFAULT_ALL=y
CONFIG_TPS65010=y
CONFIG_REGULATOR_PALMAS=y
CONFIG_NET_SCH_TAPRIO=y
CONFIG_NCSI_OEM_CMD_KEEP_PHY=y
CONFIG_TRACE_BRANCH_PROFILING=y
CONFIG_HAVE_DYNAMIC_FTRACE_NO_PATCHABLE=y
CONFIG_INITRAMFS_PRESERVE_MTIME=y
CONFIG_AD3552R_LIB=y
CONFIG_USB_OHCI_LITTLE_ENDIAN=y
CONFIG_NEED_DMA_MAP_STATE=y
CONFIG_LAN743X=y
CONFIG_CHARGER_BD99954=y
CONFIG_IIO_BACKEND=y
CONFIG_SURFACE_AGGREGATOR_CDEV=y
CONFIG_VF610_ADC=y
CONFIG_SCSI_BFA_FC=y
CONFIG_ADXL345=y
CONFIG_REGULATOR_RT6245=y
CONFIG_RTC_DRV_88PM886=y
CONFIG_NET_DROP_MONITOR=y
CONFIG_SENSORS_TPS546D24=y
CONFIG_ZRAM_TRACK_ENTRY_ACTIME=y
CONFIG_EFI_PARTITION=y
CONFIG_NOA1305=y
CONFIG_TOSHIBA_HAPS=y
CONFIG_X86_MPPARSE=y
CONFIG_LEDS_LM3692X=y
CONFIG_HAVE_KVM_READONLY_MEM=y
CONFIG_SFP=y
CONFIG_ARCH_MIGHT_HAVE_PC_SERIO=y
CONFIG_FTRACE_SELFTEST=y
CONFIG_MIPI_I3C_HCI_PCI=y
CONFIG_QRTR_SMD=y
CONFIG_RAPIDIO_RXS_GEN3=y
CONFIG_ACPI_LEGACY_TABLES_LOOKUP=y
CONFIG_DMI_SCAN_MACHINE_NON_EFI_FALLBACK=y
CONFIG_LTC2497=y
CONFIG_HAS_IOMEM=y
CONFIG_INSPUR_PLATFORM_PROFILE=y
CONFIG_ARCH_WANT_GENERAL_HUGETLB=y
CONFIG_FUSE_FS=y
CONFIG_ISCSI_IBFT_FIND=y
CONFIG_FSI=y
CONFIG_CRYPTO_JITTERENTROPY=y
CONFIG_MFD_88PM805=y
CONFIG_ADV_SWBUTTON=y
CONFIG_ZRAM_BACKEND_LZ4HC=y
CONFIG_CRYPTO_ALGAPI2=y
CONFIG_DMABUF_HEAPS_CMA=y
CONFIG_EEEPC_WMI=y
CONFIG_ENERGY_MODEL=y
CONFIG_RTC_DRV_ISL12022=y
CONFIG_EARLY_PRINTK_DBGP=y
CONFIG_IPMI_PANIC_EVENT=y
CONFIG_WAN=y
CONFIG_BRIDGE=y
CONFIG_HAVE_KVM_PM_NOTIFIER=y
CONFIG_CRYPTO_KRB5ENC=y
CONFIG_CRYPTO_LZO=y
CONFIG_NLS_MAC_ICELAND=y
CONFIG_PCI_STUB=y
CONFIG_DM_LOG_USERSPACE=y
CONFIG_DM_ZONED=y
CONFIG_PECI_CPU=y
CONFIG_VEML6046X00=y
CONFIG_MUX_ADG792A=y
CONFIG_NFC_S3FWRN5_I2C=y
CONFIG_SECTION_MISMATCH_WARN_ONLY=y
CONFIG_DEBUG_NOTIFIERS=y
CONFIG_WATCH_QUEUE=y
CONFIG_VL53L0X_I2C=y
CONFIG_BATTERY_CHAGALL=y
CONFIG_CGROUP_WRITEBACK=y
CONFIG_NET_SCHED=y
CONFIG_SERIAL_DEV_BUS=y
CONFIG_CHARGER_RT5033=y
CONFIG_BMC150_ACCEL=y
CONFIG_NSC_GPIO=y
CONFIG_NET_VENDOR_AMAZON=y
CONFIG_IPMI_SSIF=y
CONFIG_CRYPTO_SM3=y
CONFIG_DEVFREQ_GOV_PASSIVE=y
CONFIG_QUOTA_DEBUG=y
CONFIG_CRYPTO_STREEBOG=y
CONFIG_REGULATOR_LP3971=y
CONFIG_ADMFM2000=y
CONFIG_PCIEASPM_PERFORMANCE=y
CONFIG_MTD_ONENAND_VERIFY_WRITE=y
CONFIG_X86_DISABLED_FEATURE_XENPV=y
CONFIG_IPV6_SUBTREES=y
CONFIG_RDC321X_WDT=y
CONFIG_NO_HZ_IDLE=y
CONFIG_W1=y
CONFIG_CLKEVT_I8253=y
CONFIG_CRYPTO_LIB_SHA1=y
CONFIG_AD5110=y
CONFIG_MARVELL_PHY=y
CONFIG_8139CP=y
CONFIG_RTC_DRV_DS1685_FAMILY=y
CONFIG_CRYPTO_ECRDSA=y
CONFIG_CRYPTO_ECHAINIV=y
CONFIG_INPUT_MOUSEDEV_PSAUX=y
CONFIG_SENSORS_OCC_P8_I2C=y
CONFIG_TEST_HEXDUMP=y
CONFIG_TASKS_RCU=y
CONFIG_KVM_COMMON=y
CONFIG_GENERIC_TRACER=y
CONFIG_DEBUG_PLIST=y
CONFIG_MCP4725=y
CONFIG_GPIO_VIRTUSER=y
CONFIG_ARCH_CORRECT_STACKTRACE_ON_KRETPROBE=y
CONFIG_SENSORS_LM77=y
CONFIG_MTRR=y
CONFIG_BACKLIGHT_LED=y
CONFIG_HAVE_ARCH_WITHIN_STACK_FRAMES=y
CONFIG_MFD_SMPRO=y
CONFIG_M686=y
CONFIG_INTEL_OAKTRAIL=y
CONFIG_IPV6_GRE=y
CONFIG_BCH=y
CONFIG_TEST_DHRY=y
CONFIG_DP83822_PHY=y
CONFIG_CB710_DEBUG=y
CONFIG_SENSORS_TSC1641=y
CONFIG_GPIO_IDIO_16=y
CONFIG_BLK_DEV=y
CONFIG_RMI4_F34=y
CONFIG_SCSI=y
CONFIG_X86_DISABLED_FEATURE_ENQCMD=y
CONFIG_XILINX_AXI_EMAC=y
CONFIG_NLS_MAC_CENTEURO=y
CONFIG_EXT2_FS=y
CONFIG_COMMON_CLK_XLNX_CLKWZRD=y
CONFIG_PAC1934=y
CONFIG_BCACHE_DEBUG=y
CONFIG_NLS_CODEPAGE_852=y
CONFIG_CB710_DEBUG_ASSUMPTIONS=y
CONFIG_X86_REQUIRED_FEATURE_FPU=y
CONFIG_MPILIB=y
CONFIG_SENSORS_DS620=y
CONFIG_I2C_AMD_ASF=y
CONFIG_MEDIATEK_GE_PHY=y
CONFIG_NLS_ISO8859_2=y
CONFIG_REBOOT_MODE=y
CONFIG_LEDS_GPIO=y
CONFIG_LEDS_LM3530=y
CONFIG_CHARGER_RT9455=y
CONFIG_SURFACE_PRO3_BUTTON=y
CONFIG_SENSORS_LIS3LV02D=y
CONFIG_REGULATOR_MP8859=y
CONFIG_SECURITY_NETWORK=y
CONFIG_HAVE_RETHOOK=y
CONFIG_CHARLCD=y
CONFIG_TTY=y
CONFIG_SENSORS_MAX15301=y
CONFIG_PHY_CADENCE_SIERRA=y
CONFIG_LEDS_BLINKM=y
CONFIG_NET_SCH_MQPRIO_LIB=y
CONFIG_HAVE_FTRACE_GRAPH_FUNC=y
CONFIG_SENSORS_LM85=y
CONFIG_PHYLIB_LEDS=y
CONFIG_NATSEMI=y
CONFIG_NLS_CODEPAGE_860=y
CONFIG_REGULATOR_LP8788=y
CONFIG_HPET=y
CONFIG_PCIE_CADENCE_EP=y
CONFIG_GPIO_NOVALAKE=y
CONFIG_PRINTK=y
CONFIG_GPIO_IT87=y
CONFIG_GPIO_REGMAP=y
CONFIG_NET_VENDOR_HISILICON=y
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST_IDLE=y
CONFIG_INTEL_MRFLD_PWRBTN=y
CONFIG_MCP47FEB02=y
CONFIG_NOP_TRACER=y
CONFIG_FAULT_INJECTION=y
CONFIG_SX9310=y
CONFIG_MFD_88PM886_PMIC=y
CONFIG_DETECT_HUNG_TASK=y
CONFIG_ARCH_MAY_HAVE_PC_FDC=y
CONFIG_STM_SOURCE_FTRACE=y
CONFIG_REGULATOR_HI6421V600=y
CONFIG_GPIO_WM831X=y
CONFIG_OF_MDIO=y
CONFIG_FS_POSIX_ACL=y
CONFIG_SENSORS_I5500=y
CONFIG_REGMAP=y
CONFIG_INPUT_SPARSEKMAP=y
CONFIG_X86_NEED_RELOCS=y
CONFIG_ASYNC_PQ=y
CONFIG_IOMMU_IOPF=y
CONFIG_RTC_DRV_RV3029_HWMON=y
CONFIG_SERIO_APBPS2=y
CONFIG_CLONE_BACKWARDS=y
CONFIG_FUSE_PASSTHROUGH=y
CONFIG_PPP_MPPE=y
CONFIG_I2C_MUX_PCA9541=y
CONFIG_LEDS_TRIGGER_TIMER=y
CONFIG_RBTREE_TEST=y
CONFIG_HTS221_I2C=y
CONFIG_SDP500=y
CONFIG_MPLS=y
CONFIG_RTC_DRV_RV3029C2=y
CONFIG_X86_DISABLED_FEATURE_LASS=y
CONFIG_PHONET=y
CONFIG_VIRTIO_VSOCKETS=y
CONFIG_CHARLCD_BL_FLASH=y
CONFIG_OPT4001=y
CONFIG_SLIMBUS=y
CONFIG_NET_VENDOR_EZCHIP=y
CONFIG_CPU_SUP_CYRIX_32=y
CONFIG_CONTIG_ALLOC=y
CONFIG_LEDS_TRIGGER_BACKLIGHT=y
CONFIG_KRETPROBES=y
CONFIG_DMABUF_HEAPS=y
CONFIG_CRYPTO_CAST_COMMON=y
CONFIG_HAVE_GUP_FAST=y
CONFIG_KEYBOARD_NEWTON=y
CONFIG_EARLY_PRINTK=y
CONFIG_BUFFER_HEAD=y
CONFIG_SENSORS_MP29502=y
CONFIG_NVMEM_REBOOT_MODE=y
CONFIG_IOMMU_SUPPORT=y
CONFIG_DP83TG720_PHY=y
CONFIG_COMPAT_32=y
CONFIG_INPUT_MOUSE=y
CONFIG_CONTEXT_SWITCH_TRACER=y
CONFIG_HAVE_ARCH_KSTACK_ERASE=y
CONFIG_BT=y
CONFIG_REGULATOR_QCOM_LABIBB=y
CONFIG_REGMAP_MMIO=y
CONFIG_EDAC_SUPPORT=y
CONFIG_WLAN_VENDOR_MICROCHIP=y
CONFIG_GRO_CELLS=y
CONFIG_SENSORS_VT8231=y
CONFIG_MOUSE_PS2_ALPS=y
CONFIG_MFD_TIMBERDALE=y
CONFIG_MFD_INTEL_LPSS=y
CONFIG_REGULATOR_RT5190A=y
CONFIG_SENSORS_I5K_AMB=y
CONFIG_MFD_TPS65912_I2C=y
CONFIG_COMMON_CLK_SI514=y
CONFIG_X86_CPUID=y
CONFIG_SERIAL_DEV_CTRL_TTYPORT=y
CONFIG_SENSORS_MAX31760=y
CONFIG_DA9062_THERMAL=y
CONFIG_RTC_INTF_SYSFS=y
CONFIG_IIO_ST_SENSORS_CORE=y
CONFIG_XILINX_LL_TEMAC=y
CONFIG_KEYBOARD_CYPRESS_SF=y
CONFIG_INTEL_PMC_CORE=y
CONFIG_GPIO_F7188X=y
CONFIG_ARCH_USE_MEMTEST=y
CONFIG_BROKEN_ON_SMP=y
CONFIG_ETHOC=y
CONFIG_CRC32=y
CONFIG_I2C_MUX_MLXCPLD=y
CONFIG_PARTITION_ADVANCED=y
CONFIG_NVME_KEYRING=y
CONFIG_PINCONF=y
CONFIG_MFD_STMFX=y
CONFIG_BACKLIGHT_SAHARA=y
CONFIG_MTD_ONENAND=y
CONFIG_REGULATOR_SY8827N=y
CONFIG_SENSORS_ASC7621=y
CONFIG_UIO_DMEM_GENIRQ=y
CONFIG_HAVE_BUILDTIME_MCOUNT_SORT=y
CONFIG_SMSC_SCH311X_WDT=y
CONFIG_SVC_I3C_MASTER=y
CONFIG_BLK_SED_OPAL=y
CONFIG_TREE_RCU=y
CONFIG_IO_DELAY_NONE=y
CONFIG_JOYSTICK_A3D=y
CONFIG_DECOMPRESS_GZIP=y
CONFIG_DWMAC_INTEL_PLAT=y
CONFIG_CRYPTO_ZSTD=y
CONFIG_BMC150_MAGN_I2C=y
CONFIG_KALLSYMS_SELFTEST=y
CONFIG_PC87413_WDT=y
CONFIG_GOOGLE_CBMEM=y
CONFIG_INET_IPCOMP=y
CONFIG_DEBUG_INFO_DWARF4=y
CONFIG_GCOV_PROFILE_FTRACE=y
CONFIG_KEYBOARD_ADP5588=y
CONFIG_MMU_GATHER_MERGE_VMAS=y
CONFIG_MXC4005=y
CONFIG_MFD_TQMX86=y
CONFIG_SECONDARY_TRUSTED_KEYRING_SIGNED_BY_BUILTIN=y
CONFIG_HAVE_SOFTIRQ_ON_OWN_STACK=y
CONFIG_COMPAL_LAPTOP=y
CONFIG_CRYPTO_NULL=y
CONFIG_IIO_ST_LSM6DSX_I3C=y
CONFIG_NET_DSA_XRS700X=y
CONFIG_INET_ESP_OFFLOAD=y
CONFIG_KEYBOARD_TM2_TOUCHKEY=y
CONFIG_RCU_REF_SCALE_TEST=y
CONFIG_I2C_PIIX4=y
CONFIG_RTC_DRV_ABEOZ9=y
CONFIG_MCTP=y
CONFIG_SENSORS_AMC6821=y
CONFIG_HAVE_KERNEL_LZ4=y
CONFIG_ASN1=y
CONFIG_NET_VENDOR_MYRI=y
CONFIG_DAMON_VADDR=y
CONFIG_XFRM_ALGO=y
CONFIG_DAVICOM_PHY=y
CONFIG_IPV6_ROUTER_PREF=y
CONFIG_SENSORS_LT3074=y
CONFIG_RTC_DRV_ABX80X=y
CONFIG_NET_DSA_TAG_GSWIP=y
CONFIG_DECOMPRESS_LZMA=y
CONFIG_MEMSTICK_TIFM_MS=y
CONFIG_TOUCHSCREEN_EETI=y
CONFIG_NET_SCH_RED=y
CONFIG_LEDS_LP50XX=y
CONFIG_THERMAL_MMIO=y
CONFIG_ISA_DMA_API=y
CONFIG_CRC_T10DIF_ARCH=y
CONFIG_TELCLOCK=y
CONFIG_MODIFY_LDT_SYSCALL=y
CONFIG_DEBUG_BOOT_PARAMS=y
CONFIG_LEDS_MLXCPLD=y
CONFIG_PCI_MSI=y
CONFIG_NLS_UCS2_UTILS=y
CONFIG_SMI330=y
CONFIG_SAMPLE_VFIO_MDEV_MDPY=y
CONFIG_FTRACE=y
CONFIG_TRACE_PREEMPT_TOGGLE=y
CONFIG_REGULATOR_RT6160=y
CONFIG_DM_DEBUG=y
CONFIG_L2TP=y
CONFIG_CRYPTO_RNG=y
CONFIG_SENSORS_NCT6683=y
CONFIG_ULTRIX_PARTITION=y
CONFIG_NLS=y
CONFIG_SENSORS_W83627EHF=y
CONFIG_INTEL_IOMMU_DEFAULT_ON=y
CONFIG_REGULATOR_WM831X=y
CONFIG_NET_VENDOR_HUAWEI=y
CONFIG_MTD_ESB2ROM=y
CONFIG_STM_PROTO_BASIC=y
CONFIG_CRYPTO_SHA3=y
CONFIG_TOUCHSCREEN_EXC3000=y
CONFIG_SENSEAIR_SUNRISE_CO2=y
CONFIG_SENSORS_MPQ8785=y
CONFIG_DEBUG_KMAP_LOCAL_FORCE_MAP=y
CONFIG_USB4_NET=y
CONFIG_AS_HAS_NON_CONST_ULEB128=y
CONFIG_X86_GENERIC=y
CONFIG_ARCH_SUPPORTS_KEXEC_SIG_FORCE=y
CONFIG_UNIXWARE_DISKLABEL=y
CONFIG_GAMEPORT=y
