CONFIG_ETHERNET=n
CONFIG_PROFILING=n
CONFIG_MMU_GATHER_MERGE_VMAS=n
CONFIG_HAVE_PERF_REGS=n
CONFIG_HAVE_GUP_FAST=n
CONFIG_CGROUP_NET_CLASSID=n
CONFIG_DEBUG_ENTRY=n
CONFIG_YENTA_ENE_TUNE=n
CONFIG_IP_MROUTE_COMMON=n
CONFIG_HW_RANDOM_INTEL=n
CONFIG_HOTPLUG_CORE_SYNC_DEAD=n
CONFIG_INIT_STACK_ALL_ZERO=n
CONFIG_CPU_IDLE=n
CONFIG_UNWINDER_FRAME_POINTER=n
CONFIG_USB_STORAGE=n
CONFIG_MAC80211_LEDS=n
CONFIG_VGA_CONSOLE=n
CONFIG_TTY=n
CONFIG_HAVE_STATIC_CALL=n
CONFIG_X86_UMIP=n
CONFIG_DECOMPRESS_BZIP2=n
CONFIG_NET_CORE=n
CONFIG_KEXEC_CORE=n
CONFIG_ARCH_SUPPORTS_HUGETLBFS=n
CONFIG_CRYPTO_LIB_SHA256=n
CONFIG_RTC_INTF_SYSFS=n
CONFIG_EVENTFD=n
CONFIG_TRACE_CLOCK=n
CONFIG_NF_NAT_MASQUERADE=n
CONFIG_ZSTD_COMMON=n
CONFIG_USB_MON=n
CONFIG_GENERIC_CLOCKEVENTS=n
CONFIG_NETFILTER_XT_TARGET_SECMARK=n
CONFIG_POSIX_MQUEUE=n
CONFIG_HAVE_SYSCALL_TRACEPOINTS=n
CONFIG_NET_VENDOR_ROCKER=n
CONFIG_NET_VENDOR_OKI=n
CONFIG_VT_CONSOLE=n
CONFIG_NET_PTP_CLASSIFY=n
CONFIG_CRYPTO_SIG=n
CONFIG_HAVE_IOREMAP_PROT=n
CONFIG_VHOST_MENU=n
CONFIG_ACPI_HOTPLUG_CPU=n
CONFIG_MICROCODE_INITRD32=n
CONFIG_X86_CHECK_BIOS_CORRUPTION=n
CONFIG_MOUSE_PS2_CYPRESS=n
CONFIG_EEEPC_LAPTOP=n
CONFIG_DRM_PANEL_ORIENTATION_QUIRKS=n
CONFIG_ARCH_CONFIGURES_CPU_MITIGATIONS=n
CONFIG_ARCH_HAS_CPU_FINALIZE_INIT=n
CONFIG_ACPI_BATTERY=n
CONFIG_RD_LZ4=n
CONFIG_NF_CONNTRACK_SECMARK=n
CONFIG_SND_SEQ_DEVICE=n
CONFIG_TMPFS_XATTR=n
CONFIG_VIRTUALIZATION=n
CONFIG_OID_REGISTRY=n
CONFIG_ARCH_HAS_PREEMPT_LAZY=n
CONFIG_ARCH_SPARSEMEM_ENABLE=n
CONFIG_GENERIC_IRQ_MATRIX_ALLOCATOR=n
CONFIG_ZLIB_INFLATE=n
CONFIG_EXCLUSIVE_SYSTEM_RAM=n
CONFIG_SND_PROC_FS=n
CONFIG_HAVE_ARCH_RANDOMIZE_KSTACK_OFFSET=n
CONFIG_CPU_IDLE_GOV_HALTPOLL=n
CONFIG_IP_PIMSM_V1=n
CONFIG_SOCK_RX_QUEUE_MAPPING=n
CONFIG_CPU_FREQ_GOV_SCHEDUTIL=n
CONFIG_PCIE_PME=n
CONFIG_ATA_SFF=n
CONFIG_PCI_MSI=n
CONFIG_ARCH_HAS_NMI_SAFE_THIS_CPU_OPS=n
CONFIG_HAVE_MOVE_PUD=n
CONFIG_CGROUPS=n
CONFIG_HIGH_RES_TIMERS=n
CONFIG_MITIGATION_SPECTRE_V1=n
CONFIG_SCREEN_INFO=n
CONFIG_ARCH_MHP_MEMMAP_ON_MEMORY_ENABLE=n
CONFIG_PCCARD_NONSTATIC=n
CONFIG_WLAN_VENDOR_ST=n
CONFIG_CRYPTO_SIG2=n
CONFIG_X86_IOPL_IOPERM=n
CONFIG_HAVE_GENERIC_TIF_BITS=n
CONFIG_HAVE_ARCH_JUMP_LABEL_RELATIVE=n
CONFIG_USB_OHCI_HCD_PCI=n
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_REGS=n
CONFIG_SCHEDSTATS=n
CONFIG_MEMBARRIER=n
CONFIG_GENERIC_CPU_AUTOPROBE=n
CONFIG_FTRACE=n
CONFIG_SCHED_MM_CID=n
CONFIG_ETHTOOL_NETLINK=n
CONFIG_HAVE_PCI=n
CONFIG_XZ_DEC_SPARC=n
CONFIG_LZO_DECOMPRESS=n
CONFIG_EFI_ESRT=n
CONFIG_RCU_NEED_SEGCBLIST=n
CONFIG_DRM_TTM=n
CONFIG_HZ_1000=n
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO=n
CONFIG_X86_CPUID=n
CONFIG_PCI_DOMAINS=n
CONFIG_GCC_ASM_GOTO_OUTPUT_BROKEN=n
CONFIG_NET_VENDOR_AMD=n
CONFIG_CFG80211_USE_KERNEL_REGDB_KEYS=n
CONFIG_NETWORK_FILESYSTEMS=n
CONFIG_XFRM_ESP=n
CONFIG_HAVE_FUNCTION_GRAPH_FREGS=n
CONFIG_BLK_CGROUP=n
CONFIG_NET_VENDOR_XIRCOM=n
CONFIG_VT_CONSOLE_SLEEP=n
CONFIG_ARCH_SUPPORTS_KEXEC_PURGATORY=n
CONFIG_OLD_SIGSUSPEND3=n
CONFIG_NETFILTER_NETLINK_LOG=n
CONFIG_DW_DMAC_CORE=n
CONFIG_NET_VENDOR_DEC=n
CONFIG_INTEL_TCC=n
CONFIG_ARCH_MIGHT_HAVE_PC_PARPORT=n
CONFIG_X509_CERTIFICATE_PARSER=n
CONFIG_CGROUP_CPUACCT=n
CONFIG_ZISOFS=n
CONFIG_GENERIC_BUG_RELATIVE_POINTERS=n
CONFIG_X86_ACPI_CPUFREQ_CPB=n
CONFIG_INPUT_MOUSE=n
CONFIG_HAVE_NMI=n
CONFIG_BPF=n
CONFIG_NET_VENDOR_MICROSOFT=n
CONFIG_RD_GZIP=n
CONFIG_YENTA_O2=n
CONFIG_MITIGATION_RFDS=n
CONFIG_CPU_SUP_HYGON=n
CONFIG_ARCH_SUSPEND_POSSIBLE=n
CONFIG_EFI=n
CONFIG_SGETMASK_SYSCALL=n
CONFIG_CONTEXT_TRACKING=n
CONFIG_FUTEX=n
CONFIG_HAVE_KRETPROBES=n
CONFIG_CRC_OPTIMIZATIONS=n
CONFIG_SATA_HOST=n
CONFIG_QFMT_V2=n
CONFIG_GENERIC_IOMAP=n
CONFIG_CFG80211=n
CONFIG_ACPI_AC=n
CONFIG_INET6_ESP=n
CONFIG_USB_XHCI_HCD=n
CONFIG_RWSEM_SPIN_ON_OWNER=n
CONFIG_CC_NO_ARRAY_BOUNDS=n
CONFIG_WLAN_VENDOR_ATH=n
CONFIG_HAVE_DEBUG_KMEMLEAK=n
CONFIG_CC_NO_STRINGOP_OVERFLOW=n
CONFIG_XFRM_AH=n
CONFIG_HAS_IOPORT=n
CONFIG_DQL=n
CONFIG_ATA_VERBOSE_ERROR=n
CONFIG_ARCH_CLOCKSOURCE_INIT=n
CONFIG_DEBUG_MEMORY_INIT=n
CONFIG_NET_XGRESS=n
CONFIG_PNP=n
CONFIG_TASK_DELAY_ACCT=n
CONFIG_WLAN_VENDOR_ADMTEK=n
CONFIG_MOUSE_PS2_TRACKPOINT=n
CONFIG_KALLSYMS_ALL=n
CONFIG_HUGETLB_PAGE=n
CONFIG_ADVISE_SYSCALLS=n
CONFIG_CRC32_ARCH=n
CONFIG_XZ_DEC_ARM64=n
CONFIG_ARCH_SUPPORTS_KEXEC=n
CONFIG_PCI_DIRECT=n
CONFIG_CC_HAS_KASAN_GENERIC=n
CONFIG_CRYPTO_CBC=n
CONFIG_EXT4_FS_SECURITY=n
CONFIG_PAGE_COUNTER=n
CONFIG_DRM_BUDDY=n
CONFIG_ASYMMETRIC_PUBLIC_KEY_SUBTYPE=n
CONFIG_HAVE_GCC_PLUGINS=n
CONFIG_NET_VENDOR_ASIX=n
CONFIG_BLOCK_LEGACY_AUTOLOAD=n
CONFIG_BRANCH_PROFILE_NONE=n
CONFIG_ARCH_USE_BUILTIN_BSWAP=n
CONFIG_BLK_CGROUP_IOLATENCY=n
CONFIG_SCSI_CONSTANTS=n
CONFIG_CPU_SUP_VORTEX_32=n
CONFIG_SECURITY_NETWORK=n
CONFIG_9P_FS=n
CONFIG_NET_VENDOR_NETRONOME=n
CONFIG_TIGON3_HWMON=n
CONFIG_PHYLIB=n
CONFIG_BINFMT_MISC=n
CONFIG_CRYPTO_KRB5ENC=n
CONFIG_EFI_RUNTIME_WRAPPERS=n
CONFIG_TCP_CONG_ADVANCED=n
CONFIG_NET_9P_VIRTIO=n
CONFIG_AS_WRUSS=n
CONFIG_MITIGATION_SPECTRE_BHI=n
CONFIG_RCU_STALL_COMMON=n
CONFIG_PERF_EVENTS=n
CONFIG_CRC_CCITT=n
CONFIG_HAVE_BUILDTIME_MCOUNT_SORT=n
CONFIG_FUTEX_PI=n
CONFIG_USB_DEFAULT_PERSIST=n
CONFIG_IP_PNP=n
CONFIG_SCHED_INFO=n
CONFIG_ARCH_WANTS_NO_INSTR=n
CONFIG_FUNCTION_ALIGNMENT_4B=n
CONFIG_KRETPROBE_ON_RETHOOK=n
CONFIG_LOCKDEP_SUPPORT=n
CONFIG_X86_PAT=n
CONFIG_ARCH_HAS_DEBUG_VIRTUAL=n
CONFIG_NETFILTER_XT_MATCH_CONNTRACK=n
CONFIG_HAS_DMA=n
CONFIG_XXHASH=n
CONFIG_HAVE_PERF_USER_STACK_DUMP=n
CONFIG_KERNFS=n
CONFIG_CPU_ISOLATION=n
CONFIG_RTC_SYSTOHC=n
CONFIG_CPU_FREQ_GOV_ATTR_SET=n
CONFIG_NETDEVICES=n
CONFIG_NET_VENDOR_WANGXUN=n
CONFIG_STACKDEPOT=n
CONFIG_XFRM=n
CONFIG_CRYPTO_CTS=n
CONFIG_PM_SLEEP=n
CONFIG_MODULES_TREE_LOOKUP=n
CONFIG_SYMBOLIC_ERRNAME=n
CONFIG_HAVE_KERNEL_BZIP2=n
CONFIG_WLAN_VENDOR_ATMEL=n
CONFIG_ARCH_HAS_ACPI_TABLE_UPGRADE=n
CONFIG_MULTIUSER=n
CONFIG_DEBUG_DEVRES=n
CONFIG_PROC_FS=n
CONFIG_TRACEFS_AUTOMOUNT_DEPRECATED=n
CONFIG_ARCH_SUPPORTS_SCHED_CLUSTER=n
CONFIG_NF_LOG_ARP=n
CONFIG_NFS_V4=n
CONFIG_IOSF_MBI=n
CONFIG_NETFILTER_XT_MATCH_STATE=n
CONFIG_NF_LOG_IPV6=n
CONFIG_COMPACTION=n
CONFIG_IRQ_FORCED_THREADING=n
CONFIG_BLK_DEV_BSG_COMMON=n
CONFIG_HUGETLBFS=n
CONFIG_EFI_RUNTIME_MAP=n
CONFIG_SYNC_FILE=n
CONFIG_SND_USB=n
CONFIG_CRYPTO_RSA=n
CONFIG_MITIGATION_MDS=n
CONFIG_DYNAMIC_EVENTS=n
CONFIG_HAVE_KERNEL_LZO=n
CONFIG_CLKSRC_I8253=n
CONFIG_X86_DISABLED_FEATURE_FRED=n
CONFIG_RD_LZMA=n
CONFIG_8139TOO=n
CONFIG_ACPI_HOTPLUG_IOAPIC=n
CONFIG_BLK_MQ_STACKING=n
CONFIG_ACPI_SPCR_TABLE=n
CONFIG_SYSFS=n
CONFIG_TICK_ONESHOT=n
CONFIG_ARCH_HAS_PARANOID_L1D_FLUSH=n
CONFIG_ACPI_PLATFORM_PROFILE=n
CONFIG_SCHED_SMT=n
CONFIG_PACKET=n
CONFIG_RATIONAL=n
CONFIG_ATA=n
CONFIG_CRYPTO_HMAC=n
CONFIG_HAVE_ARCH_TRACEHOOK=n
CONFIG_NET_VENDOR_ATHEROS=n
CONFIG_ARCH_CPUIDLE_HALTPOLL=n
CONFIG_MD_AUTODETECT=n
CONFIG_NF_LOG_IPV4=n
CONFIG_ACPI_SLEEP=n
CONFIG_NET_EMATCH=n
CONFIG_MAC80211_HAS_RC=n
CONFIG_X86_MCE_AMD=n
CONFIG_REGMAP=n
CONFIG_HYPERVISOR_GUEST=n
CONFIG_CPU_SUP_TRANSMETA_32=n
CONFIG_SERIAL_8250_CONSOLE=n
CONFIG_GENERIC_TRACER=n
CONFIG_RANDOMIZE_KSTACK_OFFSET=n
CONFIG_CRYPTO_CAMELLIA=n
CONFIG_NETWORK_SECMARK=n
CONFIG_RPS=n
CONFIG_NF_NAT=n
CONFIG_THERMAL_HWMON=n
CONFIG_NET_VENDOR_AMAZON=n
CONFIG_HAVE_MOD_ARCH_SPECIFIC=n
CONFIG_ARCH_USE_MEMREMAP_PROT=n
CONFIG_AUXILIARY_BUS=n
CONFIG_TIGON3=n
CONFIG_MITIGATION_RETBLEED=n
CONFIG_SECTION_MISMATCH_WARN_ONLY=n
CONFIG_SND_SEQ_HRTIMER_DEFAULT=n
CONFIG_RING_BUFFER=n
CONFIG_NET_NS=n
CONFIG_TASKSTATS=n
CONFIG_JBD2=n
CONFIG_CGROUP_HUGETLB=n
CONFIG_BLK_DEV=n
CONFIG_NET_CLS=n
CONFIG_ACPI_FAN=n
