CONFIG_BATTERY_CW2015=y
CONFIG_THERMAL_GOV_STEP_WISE=y
CONFIG_SCD4X=y
CONFIG_FW_LOADER_PAGED_BUF=y
CONFIG_REGULATOR_BCM590XX=y
CONFIG_HID_VIVALDI_COMMON=y
CONFIG_SENSORS_AXI_FAN_CONTROL=y
CONFIG_ARCH_SUPPORTS_HUGETLBFS=y
CONFIG_X86_DISABLED_FEATURE_INVLPGB=y
CONFIG_SCD30_CORE=y
CONFIG_MFD_MENF21BMC=y
CONFIG_DMA_NEED_SYNC=y
CONFIG_HIGHMEM=y
CONFIG_CGROUP_SCHED=y
CONFIG_NETDEV_NOTIFIER_ERROR_INJECT=y
CONFIG_GENERIC_BITREVERSE=y
CONFIG_BATTERY_SBS=y
CONFIG_LTC2497=y
CONFIG_CRYPTO_DEV_ATMEL_I2C=y
CONFIG_FS_VERITY=y
CONFIG_CS5535_MFGPT=y
CONFIG_REGULATOR_MT6360=y
CONFIG_XZ_DEC_ARM64=y
CONFIG_LEDS_EXPRESSWIRE=y
CONFIG_INTERVAL_TREE=y
CONFIG_THERMAL_DEFAULT_GOV_FAIR_SHARE=y
CONFIG_X86_NEED_RELOCS=y
CONFIG_KXSD9_I2C=y
CONFIG_FIRMWARE_EDID=y
CONFIG_PCIE_MICROCHIP_HOST=y
CONFIG_SENSORS_ADM1029=y
CONFIG_NVMEM_LAYOUT_ONIE_TLV=y
CONFIG_CPU_SUP_TRANSMETA_32=y
CONFIG_BMP280_I2C=y
CONFIG_CRYPTO_LZO=y
CONFIG_I2C_HID_CORE=y
CONFIG_EVENTFD=y
CONFIG_GPIO_MOCKUP=y
CONFIG_X86_DISABLED_FEATURE_LASS=y
CONFIG_HAVE_IOREMAP_PROT=y
CONFIG_VSOCKETS_DIAG=y
CONFIG_COMEDI_PCL812=y
CONFIG_REGULATOR_DA9062=y
CONFIG_ARCH_SUPPORTS_SCHED_CLUSTER=y
CONFIG_KVM_VFIO=y
CONFIG_X86_INTEL_PSTATE=y
CONFIG_PCI_HOST_COMMON=y
CONFIG_ARCH_CORRECT_STACKTRACE_ON_KRETPROBE=y
CONFIG_COMEDI_AMPLC_PC236_ISA=y
CONFIG_IIO_SIMPLE_DUMMY_EVENTS=y
CONFIG_MTD_QINFO_PROBE=y
CONFIG_VEML3235=y
CONFIG_PCI_LABEL=y
CONFIG_X509_CERTIFICATE_PARSER=y
CONFIG_PCI_ATS=y
CONFIG_ARCH_HAS_CPU_FINALIZE_INIT=y
CONFIG_INTEL_QEP=y
CONFIG_MFD_MADERA_I2C=y
CONFIG_JOYSTICK_JOYDUMP=y
CONFIG_HAVE_KVM_NO_POLL=y
CONFIG_REGMAP_I3C=y
CONFIG_MLXREG_HOTPLUG=y
CONFIG_JOYSTICK_SEESAW=y
CONFIG_SENSORS_POWR1220=y
CONFIG_ITG3200=y
CONFIG_REGULATOR_MT6311=y
CONFIG_FW_LOADER_USER_HELPER=y
CONFIG_REGMAP_IRQ=y
CONFIG_YENTA=y
CONFIG_BATTERY_RT5033=y
CONFIG_LEDS_LP5521=y
CONFIG_I2C_VIAPRO=y
CONFIG_EXPORTFS_BLOCK_OPS=y
CONFIG_HAVE_EISA=y
CONFIG_BACKLIGHT_RAVE_SP=y
CONFIG_HID_VIVALDI=y
CONFIG_ASSOCIATIVE_ARRAY=y
CONFIG_EDAC_SUPPORT=y
CONFIG_COMEDI_ADDI_APCI_3501=y
CONFIG_PMIC_DA9052=y
CONFIG_I2C_ALI15X3=y
CONFIG_CPU_SUP_CYRIX_32=y
CONFIG_REGULATOR_PCA9450=y
CONFIG_PCI_CNB20LE_QUIRK=y
CONFIG_REGULATOR_RT5759=y
CONFIG_COMEDI_PCMMIO=y
CONFIG_KVM_INTEL_PROVE_VE=y
CONFIG_PING=y
CONFIG_HAVE_PERF_EVENTS=y
CONFIG_X86_LOCAL_APIC=y
CONFIG_GP2AP020A00F=y
CONFIG_GPIO_CDEV=y
CONFIG_COMEDI_JR3_PCI=y
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_DIRECT_CALLS=y
CONFIG_SENSEAIR_SUNRISE_CO2=y
CONFIG_DYNAMIC_DEBUG_CORE=y
CONFIG_SAMPLE_AUXDISPLAY=y
CONFIG_CC10001_ADC=y
CONFIG_CC_HAS_ZERO_CALL_USED_REGS=y
CONFIG_IRQ_SIM=y
CONFIG_PINCTRL_RK805=y
CONFIG_TSL2583=y
CONFIG_STM_PROTO_BASIC=y
CONFIG_SENSORS_DS620=y
CONFIG_PLAYSTATION_FF=y
CONFIG_SENSORS_HDAPS=y
CONFIG_HZ_300=y
CONFIG_CRYPTO_ENGINE=y
CONFIG_REGULATOR_MAX8952=y
CONFIG_CRYPTO_LIB_SHA3=y
CONFIG_ARCH_MAY_HAVE_PC_FDC=y
CONFIG_IIO_DUMMY_EVGEN=y
CONFIG_NLS_MAC_GREEK=y
CONFIG_IIO_ST_MAGN_I2C_3AXIS=y
CONFIG_PCIE_CADENCE_PLAT_HOST=y
CONFIG_SENSORS_AD7414=y
CONFIG_DEBUG_KMEMLEAK_DEFAULT_OFF=y
CONFIG_REGULATOR_RT8092=y
CONFIG_INPUT_FF_MEMLESS=y
CONFIG_PM_SLEEP=y
CONFIG_REGULATOR_SY8106A=y
CONFIG_NLS_ISO8859_13=y
CONFIG_CXL_SUSPEND=y
CONFIG_ADXL313=y
CONFIG_BACKLIGHT_QCOM_WLED=y
CONFIG_SAMPLE_KOBJECT=y
CONFIG_SENSORS_RM3100_I2C=y
CONFIG_VHOST=y
CONFIG_SENSORS_EMC2103=y
CONFIG_DEBUG_ATOMIC_SLEEP=y
CONFIG_HAVE_REGS_AND_STACK_ACCESS_API=y
CONFIG_INPUT=y
CONFIG_PCI_FTPCI100=y
CONFIG_NVMEM_SYSFS=y
CONFIG_LCD_CLASS_DEVICE=y
CONFIG_QAT_VFIO_PCI=y
CONFIG_GPIO_BD9571MWV=y
CONFIG_SENSORS_ABITUGURU3=y
CONFIG_SERIO_I8042=y
CONFIG_HOTPLUG_CORE_SYNC=y
CONFIG_HAVE_FUNCTION_TRACER=y
CONFIG_REGULATOR_FP9931=y
CONFIG_SUSPEND=y
CONFIG_DUMMY_CONSOLE=y
CONFIG_BACKLIGHT_ARCXCNN=y
CONFIG_MFD_DA9062=y
CONFIG_COMPAT_VDSO=y
CONFIG_GPIO_TPS65912=y
CONFIG_CHARGER_BQ25890=y
CONFIG_OF_ADDRESS=y
CONFIG_CRYPTO_ECDSA=y
CONFIG_I2C_EG20T=y
CONFIG_GPIO_DS4520=y
CONFIG_GAMEPORT_NS558=y
CONFIG_X86_INTEL_TSX_MODE_OFF=y
CONFIG_SENSORS_HMC5843=y
CONFIG_HAVE_KVM_DIRTY_RING_ACQ_REL=y
CONFIG_I2C_ELEKTOR=y
CONFIG_CRYPTO_CCM=y
CONFIG_ARCH_HAS_PREEMPT_LAZY=y
CONFIG_ARCH_CLOCKSOURCE_INIT=y
CONFIG_APDS9300=y
CONFIG_PREEMPT=y
CONFIG_SENSORS_ISL29018=y
CONFIG_BH1745=y
CONFIG_X86_POWERNOW_K7=y
CONFIG_REGULATOR_RT5133=y
CONFIG_PCI_ENDPOINT_CONFIGFS=y
CONFIG_GPIO_IDIO_16=y
CONFIG_VEML3328=y
CONFIG_CRYPTO_CBC=y
CONFIG_VMGENID=y
CONFIG_C2PORT=y
CONFIG_LEDS_LP3944=y
CONFIG_MFD_MC13XXX_I2C=y
CONFIG_MOUSE_CYAPA=y
CONFIG_ARCH_HAS_NON_OVERLAPPING_ADDRESS_SPACE=y
CONFIG_HAVE_UID16=y
CONFIG_CRYPTO_AEGIS128=y
CONFIG_INIT_ON_FREE_DEFAULT_ON=y
CONFIG_HAVE_ARCH_KSTACK_ERASE=y
CONFIG_REGULATOR_RTQ6752=y
CONFIG_HAVE_KERNEL_LZO=y
CONFIG_BATTERY_BQ27XXX_HDQ=y
CONFIG_SUSPEND_FREEZER=y
CONFIG_PROVE_LOCKING=y
CONFIG_HI6421V600_IRQ=y
CONFIG_REGULATOR_DA9063=y
CONFIG_COMMON_CLK_VC7=y
CONFIG_SAMPLE_VFIO_MDEV_MBOCHS=y
CONFIG_GPIO_MAX730X=y
CONFIG_X86_SPEEDSTEP_CENTRINO_TABLE=y
CONFIG_MTD_ONENAND_VERIFY_WRITE=y
CONFIG_GPIB_FMH=y
CONFIG_AS_HAS_NON_CONST_ULEB128=y
CONFIG_GPIOLIB_IRQCHIP=y
CONFIG_CPU_SUP_ZHAOXIN=y
CONFIG_DEBUG_STACK_USAGE=y
CONFIG_ARCH_HAS_DEVMEM_IS_ALLOWED=y
CONFIG_OF_GPIO=y
CONFIG_QUEUED_SPINLOCKS=y
CONFIG_HAVE_KERNEL_BZIP2=y
CONFIG_X86_DISABLED_FEATURE_SEV_SNP=y
CONFIG_LOCK_SPIN_ON_OWNER=y
CONFIG_FSI_OCC=y
CONFIG_PCI_STUB=y
CONFIG_SENSORS_INA238=y
CONFIG_HID_JABRA=y
CONFIG_AL3320A=y
CONFIG_KVM_GENERIC_HARDWARE_ENABLING=y
CONFIG_FIRMWARE_MEMMAP=y
CONFIG_FXOS8700_I2C=y
CONFIG_GENERIC_VDSO_OVERFLOW_PROTECT=y
CONFIG_PROVE_RAW_LOCK_NESTING=y
CONFIG_COMMON_CLK_SI570=y
CONFIG_I2C_ALGOBIT=y
CONFIG_TRACEPOINTS=y
CONFIG_FIPS_SIGNATURE_SELFTEST_RSA=y
CONFIG_ANON_VMA_NAME=y
CONFIG_CRYPTO_GENIV=y
CONFIG_GPIO_TWL4030=y
CONFIG_RTC_LIB=y
CONFIG_GPIO_ARIZONA=y
CONFIG_BT_RFCOMM=y
CONFIG_SI7020=y
CONFIG_PVPANIC_MMIO=y
CONFIG_RFKILL_LEDS=y
CONFIG_HAVE_PAGE_SIZE_4KB=y
CONFIG_VFIO=y
CONFIG_ATLAS_EZO_SENSOR=y
CONFIG_CONTEXT_TRACKING_IDLE=y
CONFIG_INIT_STACK_ALL_PATTERN=y
CONFIG_ZPA2326=y
CONFIG_JOYSTICK_GUILLEMOT=y
CONFIG_REGULATOR_MT6315=y
CONFIG_HID_BELKIN=y
CONFIG_TPS65010=y
CONFIG_HAVE_MOD_ARCH_SPECIFIC=y
CONFIG_PINCTRL_MADERA=y
CONFIG_VALIDATE_FS_PARSER=y
CONFIG_DEBUG_MISC=y
CONFIG_OF_IRQ=y
CONFIG_JOYSTICK_TMDC=y
CONFIG_JOYSTICK_STINGER=y
CONFIG_EDAC_ATOMIC_SCRUB=y
CONFIG_I2C_ALI1535=y
CONFIG_CHARGER_PF1550=y
CONFIG_MTD_CFI_BE_BYTE_SWAP=y
CONFIG_PROC_PAGE_MONITOR=y
CONFIG_SENSORS_I5500=y
CONFIG_COMEDI_NI_670X=y
CONFIG_INV_ICM45600=y
CONFIG_XZ_DEC_BCJ=y
CONFIG_LZ4HC_COMPRESS=y
CONFIG_CLK_TWL=y
CONFIG_W1_MASTER_MATROX=y
CONFIG_LD_ORPHAN_WARN=y
CONFIG_MAX1363=y
CONFIG_PVPANIC=y
CONFIG_COMMON_CLK_CDCE706=y
CONFIG_CEC_NXP_TDA9950=y
CONFIG_ARCH_MEMORY_ORDER_TSO=y
CONFIG_LEGACY_TIOCSTI=y
CONFIG_CRYPTO_BLOWFISH=y
CONFIG_RATIONAL=y
CONFIG_SENSORS_LM77=y
CONFIG_RT_MUTEXES=y
CONFIG_REGULATOR_AS3722=y
CONFIG_ARCH_HAS_FAST_MULTIPLIER=y
CONFIG_BATMAN_ADV=y
CONFIG_MANAGER_SBS=y
CONFIG_NLS_MAC_CROATIAN=y
CONFIG_MFD_AS3722=y
CONFIG_I2C_CGBC=y
CONFIG_FXLS8962AF_I2C=y
CONFIG_IIO_MUX=y
CONFIG_MPL115=y
CONFIG_ARCH_HAS_STRICT_KERNEL_RWX=y
CONFIG_I2C_MUX_LTC4306=y
CONFIG_X86_VMX_FEATURE_NAMES=y
CONFIG_IRQCHIP=y
CONFIG_GPIOLIB=y
CONFIG_HARDENED_USERCOPY_DEFAULT_ON=y
CONFIG_PCI_NPEM=y
CONFIG_SENSORS_MAX1668=y
CONFIG_SENSORS_OCC_P9_SBE=y
CONFIG_CRYPTO_CHACHA20=y
CONFIG_BITREVERSE=y
CONFIG_ARCH_SPARSEMEM_ENABLE=y
CONFIG_HAVE_USER_RETURN_NOTIFIER=y
CONFIG_BMA180=y
CONFIG_SAMPLE_TSM_MR=y
CONFIG_LEDS_MENF21BMC=y
CONFIG_REGULATOR_RT5190A=y
CONFIG_QUOTA=y
CONFIG_TASKS_TRACE_RCU=y
CONFIG_CLONE_BACKWARDS=y
CONFIG_HAVE_ARCH_JUMP_LABEL_RELATIVE=y
CONFIG_RMI4_CORE=y
CONFIG_REGULATOR_TPS6286X=y
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST_IDLE=y
CONFIG_REMOTEPROC=y
CONFIG_HID_LCPOWER=y
CONFIG_BACKLIGHT_DA9052=y
CONFIG_PTP_1588_CLOCK_IDTCM=y
CONFIG_TIFM_CORE=y
CONFIG_LTC2471=y
CONFIG_XXHASH=y
CONFIG_HAVE_MOVE_PMD=y
CONFIG_LEDS_TLC591XX=y
CONFIG_VHOST_ENABLE_FORK_OWNER_CONTROL=y
CONFIG_HID_MICROSOFT=y
CONFIG_KVM_MMIO=y
CONFIG_RANDSTRUCT_NONE=y
CONFIG_SENSORS_OCC=y
CONFIG_HAVE_PERF_USER_STACK_DUMP=y
CONFIG_MFD_MAX77650=y
CONFIG_MFD_IQS62X=y
CONFIG_POSIX_TIMERS=y
CONFIG_MFD_SY7636A=y
CONFIG_HAVE_ARCH_AUDITSYSCALL=y
CONFIG_LEDS_GROUP_MULTICOLOR=y
CONFIG_MFD_CS47L24=y
CONFIG_FREEZER=y
CONFIG_COMEDI_ADL_PCI7250=y
CONFIG_COMEDI_DAQBOARD2000=y
CONFIG_PCIEASPM_PERFORMANCE=y
CONFIG_COMEDI_PCMDA12=y
CONFIG_MAX44000=y
CONFIG_MICROCODE=y
CONFIG_HAVE_CMPXCHG_LOCAL=y
CONFIG_SENSORS_PCF8591=y
CONFIG_COMEDI_NI_660X=y
CONFIG_GPIO_GW_PLD=y
CONFIG_VEML6070=y
CONFIG_ARCH_HAVE_EXTRA_ELF_NOTES=y
CONFIG_DMARD06=y
CONFIG_GPIOLIB_LEGACY=y
CONFIG_COMEDI_MULTIQ3=y
CONFIG_SELECT_MEMORY_MODEL=y
CONFIG_REGULATOR_RTQ2208=y
CONFIG_IIO_CONFIGFS=y
CONFIG_MTD_L440GX=y
CONFIG_I2C_HID=y
CONFIG_NLS_CODEPAGE_869=y
CONFIG_CRYPTO_ALGAPI=y
CONFIG_ZLIB_INFLATE=y
CONFIG_THERMAL_CORE_TESTING=y
CONFIG_MEDIATEK_MT6360_ADC=y
CONFIG_SAMPLE_VFIO_MDEV_MTTY=y
CONFIG_HAVE_KVM_MSI=y
CONFIG_PINCTRL_MCP23S08=y
CONFIG_CRYPTO_ECC=y
CONFIG_CRYPTO_AKCIPHER2=y
CONFIG_ISL29501=y
CONFIG_AD5592R_BASE=y
CONFIG_STRICT_DEVMEM=y
CONFIG_HID_XIAOMI=y
CONFIG_MTD_UBI=y
CONFIG_RCU_NEED_SEGCBLIST=y
CONFIG_BRIDGE=y
CONFIG_TSM_GUEST=y
CONFIG_REGULATOR_HI6421=y
CONFIG_SPARSEMEM_STATIC=y
CONFIG_INITRAMFS_PRESERVE_MTIME=y
CONFIG_COMEDI_CB_PCIMDAS=y
CONFIG_PC104=y
CONFIG_BACKLIGHT_BD6107=y
CONFIG_X86_POWERNOW_K6=y
CONFIG_IIO_SW_DEVICE=y
CONFIG_XZ_DEC_MICROLZMA=y
CONFIG_MTD_CFI=y
CONFIG_GPIO_MAX77650=y
CONFIG_ARCH_SUPPORTS_CRASH_HOTPLUG=y
CONFIG_HAVE_KERNEL_XZ=y
CONFIG_PROC_MEM_ALWAYS_FORCE=y
CONFIG_CRYPTO_ECDH=y
CONFIG_SENSORS_SMSC47M192=y
CONFIG_SENSORS_CHIPCAP2=y
CONFIG_CRYPTO_ECRDSA=y
CONFIG_HAVE_ATOMIC_IOMAP=y
CONFIG_PCI_DIRECT=y
CONFIG_MFD_SIMPLE_MFD_I2C=y
CONFIG_COMEDI_NI_LABPC_ISA=y
CONFIG_HAVE_KVM_IRQCHIP=y
CONFIG_BT_HCIBCM4377=y
CONFIG_SENSORS_LTC4282=y
CONFIG_SENSORS_CORETEMP=y
CONFIG_DELL_SMBIOS=y
CONFIG_ADXL355=y
CONFIG_CAN_BCM=y
CONFIG_CRYPTO_LIB_BLAKE2B=y
CONFIG_HAVE_GUP_FAST=y
CONFIG_DEBUG_OBJECTS_WORK=y
CONFIG_AL3010=y
CONFIG_JOYSTICK_INTERACT=y
CONFIG_SENSORS_W83795_FANCTRL=y
CONFIG_GENERIC_ADC_BATTERY=y
CONFIG_CRYPTO_CAST_COMMON=y
CONFIG_MTD_PHRAM=y
CONFIG_HARDLOCKUP_DETECTOR_PREFER_BUDDY=y
CONFIG_CLOCKSOURCE_WATCHDOG=y
CONFIG_GCOV_KERNEL=y
CONFIG_ARCH_HAS_CPU_RELAX=y
CONFIG_COMPAT_32=y
CONFIG_VHOST_MENU=y
CONFIG_YAMAHA_YAS530=y
CONFIG_EXECMEM=y
CONFIG_NETWORK_FILESYSTEMS=y
CONFIG_FUEL_GAUGE_STC3117=y
CONFIG_RCU_SCALE_TEST=y
CONFIG_LD_CAN_USE_KEEP_IN_OVERLAY=y
CONFIG_IIO_ST_MAGN_3AXIS=y
CONFIG_MTD_NAND_ECC=y
CONFIG_TWL4030_CORE=y
CONFIG_DEBUG_LIST=y
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO=y
CONFIG_SENSORS_F71805F=y
CONFIG_ARCH_USE_MEMTEST=y
CONFIG_MFD_TI_LP87565=y
CONFIG_GENERIC_PHY=y
CONFIG_SCHED_CLUSTER=y
CONFIG_842_COMPRESS=y
CONFIG_X86_PKG_TEMP_THERMAL=y
CONFIG_CC_HAS_IBT=y
CONFIG_INPUT_VIVALDIFMAP=y
CONFIG_VL6180=y
CONFIG_ARCH_USE_CMPXCHG_LOCKREF=y
CONFIG_X86_SPEEDSTEP_SMI=y
CONFIG_VM86=y
CONFIG_CONTEXT_SWITCH_TRACER=y
CONFIG_HAVE_KPROBES=y
CONFIG_COMEDI_ADDI_APCI_1516=y
CONFIG_NLS_ISO8859_7=y
CONFIG_CRYPTO_KHAZAD=y
CONFIG_VLAN_8021Q_MVRP=y
CONFIG_CRYPTO_DEV_QAT_C62XVF=y
CONFIG_VT_CONSOLE=y
CONFIG_I2C_DEBUG_BUS=y
CONFIG_LEDS_CLASS_MULTICOLOR=y
CONFIG_SYSFB=y
CONFIG_MFD_MAX8907=y
CONFIG_RCU_EQS_DEBUG=y
CONFIG_CC_HAS_NAMED_AS=y
CONFIG_MTD_PHYSMAP_COMPAT=y
CONFIG_NVMEM_LAYOUT_U_BOOT_ENV=y
CONFIG_NET_EGRESS=y
CONFIG_COMEDI_AMPLC_PC236=y
CONFIG_MAX517=y
CONFIG_PROC_PID_ARCH_STATUS=y
CONFIG_HAVE_POSIX_CPU_TIMERS_TASK_WORK=y
CONFIG_GPIO_104_DIO_48E=y
CONFIG_COMEDI_MISC_DRIVERS=y
CONFIG_NLS_CODEPAGE_932=y
CONFIG_PREVENT_FIRMWARE_BUILD=y
CONFIG_VM_EVENT_COUNTERS=y
CONFIG_PHY_CADENCE_TORRENT=y
CONFIG_REGULATOR_PFUZE100=y
CONFIG_STACKTRACE=y
CONFIG_SSB_POSSIBLE=y
CONFIG_X86_DISABLED_FEATURE_RETPOLINE_LFENCE=y
CONFIG_NEW_LEDS=y
CONFIG_COMMON_CLK_AXI_CLKGEN=y
CONFIG_COMEDI_DAS6402=y
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE=y
CONFIG_DMA_SHARED_BUFFER=y
CONFIG_SCHED_SMT=y
CONFIG_SOFTLOCKUP_DETECTOR=y
CONFIG_PCCARD=y
CONFIG_MFD_TPS6594=y
CONFIG_X86_DISABLED_FEATURE_FRED=y
CONFIG_SENSORS_LATTEPANDA_SIGMA_EC=y
CONFIG_AD5380=y
CONFIG_CC_HAS_ENTRY_PADDING=y
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_REGS=y
CONFIG_CRYPTO_DH=y
CONFIG_FIPS_SIGNATURE_SELFTEST_ECDSA=y
CONFIG_TICK_ONESHOT=y
CONFIG_JOYSTICK_ANALOG=y
CONFIG_PREEMPT_RCU=y
CONFIG_COMEDI_AMPLC_PC263_PCI=y
CONFIG_MTD_COMPLEX_MAPPINGS=y
CONFIG_SENSORS_W83627EHF=y
CONFIG_MFD_SKY81452=y
CONFIG_KMAP_LOCAL=y
CONFIG_BCMA_HOST_PCI=y
CONFIG_ARCH_HAS_DEBUG_VM_PGTABLE=y
CONFIG_ADVISE_SYSCALLS=y
CONFIG_ARCH_SUPPORTS_KEXEC_SIG_FORCE=y
CONFIG_MFD_MAX77693=y
CONFIG_CRYPTO_CAST5=y
CONFIG_ARCH_HAS_UBSAN=y
CONFIG_MTD_UBI_GLUEBI=y
CONFIG_CPU_FREQ_GOV_ATTR_SET=y
CONFIG_FAULT_INJECTION_STACKTRACE_FILTER=y
CONFIG_I2C_ALI1563=y
CONFIG_CPU_FREQ_DEFAULT_GOV_POWERSAVE=y
CONFIG_CRYPTO_DEV_CCP_DD=y
CONFIG_PCIE_INTEL_GW=y
CONFIG_HID_PRIMAX=y
