CONFIG_KALLSYMS_ALL=y
CONFIG_HI3660_MBOX=y
CONFIG_ARCH_HAS_PTDUMP=y
CONFIG_ADP810=y
CONFIG_ARCH_ENABLE_HUGEPAGE_MIGRATION=y
CONFIG_VT_CONSOLE_SLEEP=y
CONFIG_NVMEM_ZYNQMP=y
CONFIG_HIGH_RES_TIMERS=y
CONFIG_REGULATOR_MP5416=y
CONFIG_AD5110=y
CONFIG_SUN4I_A10_CCU=y
CONFIG_OPENSSL_SUPPORTS_ML_DSA=y
CONFIG_NLS_CODEPAGE_869=y
CONFIG_AXP20X_POWER=y
CONFIG_SERIAL_RSCI=y
CONFIG_CHARLCD=y
CONFIG_ENERGY_MODEL=y
CONFIG_PWM_XILINX=y
CONFIG_IMX_WEIM=y
CONFIG_GPIO_SHARED=y
CONFIG_EXYNOS_PMU=y
CONFIG_IIO_KFIFO_BUF=y
CONFIG_INGENIC_CGU_JZ4780=y
CONFIG_HAVE_MOD_ARCH_SPECIFIC=y
CONFIG_ROCKCHIP_THERMAL=y
CONFIG_AK09911=y
CONFIG_RUSTC_SUPPORTS_ARM64=y
CONFIG_HAVE_ARCH_GET_SECUREBOOT=y
CONFIG_GENERIC_GETTIMEOFDAY=y
CONFIG_MTD_PHRAM=y
CONFIG_IIO_SIMPLE_DUMMY=y
CONFIG_SENSORS_INA2XX=y
CONFIG_HUGETLBFS=y
CONFIG_MTD_PLATRAM=y
CONFIG_KEYBOARD_BCM=y
CONFIG_I2C_CBUS_GPIO=y
CONFIG_I2C_HIX5HD2=y
CONFIG_HAVE_POSIX_CPU_TIMERS_TASK_WORK=y
CONFIG_DEBUG_INFO_REDUCED=y
CONFIG_GENERIC_IRQ_EFFECTIVE_AFF_MASK=y
CONFIG_REGULATOR_RC5T583=y
CONFIG_ARM_CORESIGHT_PMU_ARCH_SYSTEM_PMU=y
CONFIG_HAVE_ARCH_AUDITSYSCALL=y
CONFIG_GOOGLE_CBMEM=y
CONFIG_SECURITYFS=y
CONFIG_PPS_DEBUG=y
CONFIG_ARCH_HAS_CPU_CACHE_INVALIDATE_MEMREGION=y
CONFIG_KEYBOARD_QT1070=y
CONFIG_QCOM_OCMEM=y
CONFIG_TCS3472=y
CONFIG_SERIO_GPIO_PS2=y
CONFIG_PINCTRL_CHERRYVIEW=y
CONFIG_STM32_DAC_CORE=y
CONFIG_COMMON_CLK_MT8516=y
CONFIG_PHY_MIXEL_MIPI_DPHY=y
CONFIG_SERIAL_8250_BCM7271=y
CONFIG_ARCH_VEXPRESS=y
CONFIG_PROFILING=y
CONFIG_PINCTRL_TANGIER=y
CONFIG_HIST_TRIGGERS=y
CONFIG_XZ_DEC_X86=y
CONFIG_MTD_UBI_FAULT_INJECTION=y
CONFIG_JFFS2_RTIME=y
CONFIG_SENSORS_ADT7470=y
CONFIG_COMMON_CLK_BM1880=y
CONFIG_ARCH_HAS_DMA_PREP_COHERENT=y
CONFIG_SENSORS_TPS546D24=y
CONFIG_REGULATOR_BD718XX=y
CONFIG_RESET_SKY1=y
CONFIG_SENSORS_SPD5118=y
CONFIG_DEVFREQ_GOV_POWERSAVE=y
CONFIG_PWM_BERLIN=y
CONFIG_MTD_ABSENT=y
CONFIG_CACHEMAINT_FOR_HOTPLUG=y
CONFIG_REGULATOR_AD5398=y
CONFIG_COMMON_CLK_MAX77686=y
CONFIG_DEBUG_IRQFLAGS=y
CONFIG_HW_RANDOM_HISI=y
CONFIG_RESET_MESON_COMMON=y
CONFIG_INTEL_TH_PTI=y
CONFIG_STACKTRACE_SUPPORT=y
CONFIG_CRYPTO_LIB_GF128HASH=y
CONFIG_MFD_DA9052_I2C=y
CONFIG_PHY_UNIPHIER_AHCI=y
CONFIG_ZPA2326_I2C=y
CONFIG_M62332=y
CONFIG_VZ89X=y
CONFIG_MFD_ROHM_BD718XX=y
CONFIG_LEDS_LP5860_CORE=y
CONFIG_I2C_OWL=y
CONFIG_RBTREE_TEST=y
CONFIG_SERIAL_ALTERA_JTAGUART=y
CONFIG_TSYS01=y
CONFIG_ARM_CCI_PMU=y
CONFIG_GENERIC_HWEIGHT=y
CONFIG_GPIO_TEGRA=y
CONFIG_CLK_MT7621=y
CONFIG_COMMON_CLK_T7_PLL=y
CONFIG_CRYPTO_LIB_POLY1305_ARCH=y
CONFIG_PINCTRL_MSM8660=y
CONFIG_CRC_CCITT=y
CONFIG_PM=y
CONFIG_LTC2471=y
CONFIG_I2C_UNIPHIER_F=y
CONFIG_KMALLOC_PARTITION_CACHES=y
CONFIG_SENSORS_LTC2978=y
CONFIG_COMMON_CLK_MT7622_AUDSYS=y
CONFIG_REGULATOR_STM32_PWR=y
CONFIG_MTD=y
CONFIG_HAVE_C_RECORDMCOUNT=y
CONFIG_SLAB_FREELIST_HARDENED=y
CONFIG_ARCH_HAS_HW_PTE_YOUNG=y
CONFIG_RING_BUFFER_PERSISTENT_INJECT=y
CONFIG_HARDENED_USERCOPY=y
CONFIG_SENSORS_SHTC1=y
CONFIG_XZ_DEC_ARM64=y
CONFIG_I2C_TEGRA_BPMP=y
CONFIG_DEBUG_SPINLOCK=y
CONFIG_NAU7802=y
CONFIG_TRACE_IRQFLAGS_NMI_SUPPORT=y
CONFIG_RESET_TENSTORRENT_ATLANTIS=y
CONFIG_MFD_WCD934X=y
CONFIG_ARCH_HISI=y
CONFIG_TEST_DEBUG_VIRTUAL=y
CONFIG_SENSORS_F71882FG=y
CONFIG_KXSD9_I2C=y
CONFIG_ARM_SCPI_POWER_DOMAIN=y
CONFIG_HAVE_FUNCTION_ERROR_INJECTION=y
CONFIG_COMMON_CLK_MESON_CLKC_UTILS=y
CONFIG_CLK_QORIQ=y
CONFIG_GPIO_SLOPPY_LOGIC_ANALYZER=y
CONFIG_NVMEM_SPRD_EFUSE=y
CONFIG_GPIO_SIFIVE=y
CONFIG_DEBUG_PREEMPT=y
CONFIG_GPIO_CADENCE=y
CONFIG_CRYPTO_CMAC=y
CONFIG_ARM_TIMER_SP804=y
CONFIG_MFD_CORE=y
CONFIG_ADXL380_I2C=y
CONFIG_INV_ICM45600_I2C=y
CONFIG_HAVE_FUNCTION_ARG_ACCESS_API=y
CONFIG_SERIO_OLPC_APSP=y
CONFIG_TRACER_SNAPSHOT_PER_CPU_SWAP=y
CONFIG_BINFMT_ELF=y
CONFIG_CRC4=y
CONFIG_SOC_IMX8M=y
CONFIG_GDB_SCRIPTS=y
CONFIG_REGULATOR_QCOM_RPMH=y
CONFIG_SEN0322=y
CONFIG_MTK_CMDQ=y
CONFIG_INPUT_KEYBOARD=y
CONFIG_SERIAL_QCOM_GENI=y
CONFIG_IMX_SCMI_CPU_EXT=y
CONFIG_PINCTRL_AMLOGIC_A4=y
CONFIG_RV_MON_STALL=y
CONFIG_MTD_UBI=y
CONFIG_TEST_VMALLOC=y
CONFIG_IIO_ST_PRESS=y
CONFIG_PINCTRL_ZYNQ=y
CONFIG_COMMON_CLK_SI5341=y
CONFIG_MSC313E_TIMER=y
CONFIG_PINCTRL_PFC_R8A774E1=y
CONFIG_ARM64_RAS_EXTN=y
CONFIG_PINCTRL_IMX1_CORE=y
CONFIG_ZYNQMP_PM_DOMAINS=y
CONFIG_HDC3020=y
CONFIG_IIO_BUFFER_HW_CONSUMER=y
CONFIG_RZG2L_THERMAL=y
CONFIG_PHY_HISI_INNO_USB2=y
CONFIG_ARCH_REALTEK=y
CONFIG_FW_CS_DSP=y
CONFIG_ARCH_HAS_SET_MEMORY=y
CONFIG_REGULATOR_STM32_VREFBUF=y
CONFIG_IDLE_PAGE_TRACKING=y
CONFIG_PINCTRL_TMPV7700=y
CONFIG_ARM_MHU_V2=y
CONFIG_ATLAS_EZO_SENSOR=y
CONFIG_PINCTRL_SH_PFC=y
CONFIG_PHY_EIC7700_SATA=y
CONFIG_TRACE_CLOCK=y
CONFIG_THERMAL_STATISTICS=y
CONFIG_IIO_ADC_HELPER=y
CONFIG_MEN_Z188_ADC=y
CONFIG_VEML6070=y
CONFIG_FTRACE_SYSCALLS=y
CONFIG_ARM64_E0PD=y
CONFIG_LEDS_NETXBIG=y
CONFIG_IIO_STM32_TIMER_TRIGGER=y
CONFIG_ARCH_K3=y
CONFIG_STMPE_I2C=y
CONFIG_SERIAL_SC16IS7XX=y
CONFIG_ARM64_WORKAROUND_SPECULATIVE_AT=y
CONFIG_MTD_CFI_AMDSTD=y
CONFIG_ARCH_HAS_DMA_OPS=y
CONFIG_ARCH_HAS_STRICT_KERNEL_RWX=y
CONFIG_SUN50I_A64_CCU=y
CONFIG_ARCH_USE_CMPXCHG_LOCKREF=y
CONFIG_RCAR_GYRO_ADC=y
CONFIG_GPIO_ADNP=y
CONFIG_BCM2712_MIP=y
CONFIG_ZYNQMP_FIRMWARE=y
CONFIG_CPU_MITIGATIONS=y
CONFIG_REGULATOR_AS3711=y
CONFIG_FUEL_GAUGE_SC27XX=y
CONFIG_DA9150_GPADC=y
CONFIG_SERIAL_8250_MT6577=y
CONFIG_ADXL345_I2C=y
CONFIG_PINCTRL_PXA=y
CONFIG_SOC_TI=y
CONFIG_PHY_EXYNOS_DP_VIDEO=y
CONFIG_CLKSRC_MPS2=y
CONFIG_SLAB_FREELIST_RANDOM=y
CONFIG_PHY_S5PV210_USB2=y
CONFIG_REGULATOR_MPQ7920=y
CONFIG_IIO_SYSFS_TRIGGER=y
CONFIG_LKDTM=y
CONFIG_DMA_DECLARE_COHERENT=y
CONFIG_64BIT=y
CONFIG_MTK_ADSP_MBOX=y
CONFIG_INIT_STACK_ALL_PATTERN=y
CONFIG_MCP9600=y
CONFIG_IR_IMG=y
CONFIG_EPOLL=y
CONFIG_REGMAP_SLIMBUS=y
CONFIG_MFD_SEC_CORE=y
CONFIG_INGENIC_CGU_JZ4770=y
CONFIG_FUNCTION_ALIGNMENT_4B=y
CONFIG_OBJAGG=y
CONFIG_KEYBOARD_SUNKBD=y
CONFIG_PHY_MTK_UFS=y
CONFIG_GENERIC_TRACER=y
CONFIG_SERIAL_8250_ASPEED_VUART=y
CONFIG_LEDS_LP50XX=y
CONFIG_ARM_SCMI_POWER_DOMAIN=y
CONFIG_REGULATOR_TPS6286X=y
CONFIG_TEST_MAPLE_TREE=y
CONFIG_I2C_MUX_GPMUX=y
CONFIG_TIMER_PROBE=y
CONFIG_POLYNOMIAL=y
CONFIG_ARCH_HAS_PTE_SPECIAL=y
CONFIG_TASKS_RUDE_RCU=y
CONFIG_PINCTRL_SM6125=y
CONFIG_PINMUX=y
CONFIG_RT_MUTEXES=y
CONFIG_ARCH_HAS_BATCHED_DMA_SYNC=y
CONFIG_SOCIONEXT_SYNQUACER_PREITS=y
CONFIG_FSI_MASTER_AST_CF=y
CONFIG_CPU_LITTLE_ENDIAN=y
CONFIG_I2C_RIIC=y
CONFIG_ARCH_WANT_LD_ORPHAN_WARN=y
CONFIG_SENSORS_NTC_THERMISTOR=y
CONFIG_ARCH_USE_QUEUED_SPINLOCKS=y
CONFIG_POWERCAP=y
CONFIG_GPIOLIB_LEGACY=y
CONFIG_MTD_PHYSMAP_COMPAT=y
CONFIG_CGROUP_RDMA=y
CONFIG_TCG_VTPM_PROXY=y
CONFIG_PINCTRL_PFC_R8A7790=y
CONFIG_ABP2030PA_I2C=y
CONFIG_T5403=y
CONFIG_GENERIC_IOREMAP=y
CONFIG_RESET_A10SR=y
CONFIG_REGULATOR_TPS6594=y
CONFIG_SPEAKUP_SYNTH_DTLK=y
CONFIG_CHARGER_MAX77759=y
CONFIG_IKCONFIG=y
CONFIG_NOP_TRACER=y
CONFIG_ADVISE_SYSCALLS=y
CONFIG_TRACE_EVENT_INJECT=y
CONFIG_REGULATOR_TPS65218=y
CONFIG_NLS_MAC_CENTEURO=y
CONFIG_NLS_CODEPAGE_936=y
CONFIG_HAVE_ARCH_COMPILER_H=y
CONFIG_RCU_EXPERT=y
CONFIG_FSL_QMAN_TEST_STASH=y
CONFIG_PINCTRL_PFC_SH7723=y
CONFIG_STM_SOURCE_CONSOLE=y
CONFIG_ARM64_WORKAROUND_TRBE_OVERWRITE_FILL_MODE=y
CONFIG_ARM_AMBA=y
CONFIG_ARCH_WANT_DEFAULT_BPF_JIT=y
CONFIG_PHY_UNIPHIER_PCIE=y
CONFIG_EFI_TEST=y
CONFIG_PINCTRL_ULTRARISC=y
CONFIG_NVMEM_LAYOUT_U_BOOT_ENV=y
CONFIG_PWM_MTK_DISP=y
CONFIG_TEST_MEMCAT_P=y
CONFIG_PTDUMP_DEBUGFS=y
CONFIG_GPIO_LOGICVC=y
CONFIG_CRYPTO_AUTHENC=y
CONFIG_ADL8113=y
CONFIG_FW_LOADER_COMPRESS_XZ=y
CONFIG_CRYPTO_RNG2=y
CONFIG_PINCTRL_ASPEED_G4=y
CONFIG_TREE_SRCU=y
CONFIG_COMMON_CLK_SAMSUNG=y
CONFIG_RESET_MESON_AUX=y
CONFIG_ARCH_HAS_RESET_CONTROLLER=y
CONFIG_POWER_RESET_RMOBILE=y
CONFIG_CRYPTO_LZ4HC=y
CONFIG_PINCTRL_STARFIVE_JH7110_AON=y
CONFIG_SOC_SAMSUNG=y
CONFIG_MFD_ARIZONA_I2C=y
CONFIG_FAULT_INJECTION=y
CONFIG_CRYPTO_LIB_SHA1=y
CONFIG_HMC425=y
CONFIG_HWMON_VID=y
CONFIG_GENERIC_MSI_IRQ=y
CONFIG_GPIO_ATH79=y
CONFIG_PHY_MTK_MIPI_DSI=y
CONFIG_XZ_DEC_BCJ=y
CONFIG_GPIO_AGGREGATOR=y
CONFIG_ASPEED_SOCINFO=y
CONFIG_GNSS_UBX_SERIAL=y
CONFIG_MHP_MEMMAP_ON_MEMORY=y
CONFIG_PERSISTENT_KEYRINGS=y
CONFIG_REGULATOR_MT6380=y
CONFIG_SENSORS_ADM1266=y
CONFIG_MFD_MAX77714=y
CONFIG_MTD_NAND_ECC_SW_BCH=y
CONFIG_CRYPTO_SKCIPHER2=y
CONFIG_RESET_ATH79=y
CONFIG_PINCTRL_TEGRA30=y
CONFIG_CLK_SOPHGO_SG2044_PLL=y
CONFIG_TORTURE_TEST=y
CONFIG_GPIO_SYSCON=y
CONFIG_SOC_IMX9=y
CONFIG_SCHED_TRACER=y
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_CALL_OPS=y
CONFIG_SPEAKUP_SYNTH_BNS=y
CONFIG_COMMON_CLK_MMP2_AUDIO=y
CONFIG_ARCH_SUPPORTS_SCHED_CLUSTER=y
CONFIG_GPIO_TPIC2810=y
CONFIG_COUNTER=y
CONFIG_LEDS_PCA995X=y
CONFIG_IXP4XX_QMGR=y
CONFIG_NVMEM_QORIQ_EFUSE=y
CONFIG_PHY_AIROHA_PCIE=y
CONFIG_CRYPTO_CCM=y
CONFIG_DMA_SHARED_BUFFER=y
CONFIG_CRYPTO_GCM=y
CONFIG_MTD_ONENAND=y
CONFIG_TIMER_IMX_SYS_CTR=y
CONFIG_SCHED_CACHE=y
CONFIG_GPIO_GE_FPGA=y
CONFIG_COMMON_CLK_SCMI=y
CONFIG_TRACEPOINT_BENCHMARK=y
CONFIG_HAVE_GUP_FAST=y
CONFIG_RING_BUFFER_BENCHMARK=y
CONFIG_TRACE_BRANCH_PROFILING=y
CONFIG_GENERIC_NET_UTILS=y
CONFIG_ADJD_S311=y
CONFIG_SENSORS_DS1621=y
CONFIG_BITREVERSE=y
CONFIG_RAVE_SP_CORE=y
CONFIG_ARCH_HAS_CURRENT_STACK_POINTER=y
CONFIG_PWM_VT8500=y
CONFIG_RELR=y
CONFIG_MULTIPLEXER=y
CONFIG_ARMADA_37XX_RWTM_MBOX=y
CONFIG_LEDS_LP8788=y
CONFIG_IRQ_TIME_ACCOUNTING=y
CONFIG_SENSORS_PC87427=y
CONFIG_SERIAL_8250_FSL=y
CONFIG_FW_UPLOAD=y
CONFIG_ARM64_WORKAROUND_TRBE_WRITE_OUT_OF_RANGE=y
CONFIG_ARM64_ERRATUM_2645198=y
CONFIG_REGULATOR_RAA215300=y
CONFIG_ARM_QCOM_CPUFREQ_NVMEM=y
CONFIG_AUDIT_ARCH_COMPAT_GENERIC=y
CONFIG_ARCH_HAS_LAZY_MMU_MODE=y
CONFIG_TCG_TPM=y
CONFIG_ASPEED_KCS_IPMI_BMC=y
CONFIG_COMMON_CLK_MESON_VID_PLL_DIV=y
CONFIG_ARM64_BRBE=y
CONFIG_HAVE_MOVE_PMD=y
CONFIG_PWM_ATMEL_TCB=y
CONFIG_FIND_NORMAL_PAGE=y
CONFIG_PINCTRL_SA8775P=y
CONFIG_FSI_SCOM=y
CONFIG_ARM64_ERRATUM_1902691=y
CONFIG_IIO_BUFFER_DMAENGINE=y
CONFIG_PER_VMA_LOCK=y
CONFIG_CRYPTO_AEAD2=y
CONFIG_EXYNOS_5250_COMMON_CLK=y
CONFIG_SENSORS_SPD5118_DETECT=y
CONFIG_REGULATOR_TPS6287X=y
CONFIG_SENSORS_LTC4286=y
CONFIG_COMMON_CLK_STM32MP257=y
CONFIG_STM_PROTO_SYS_T=y
CONFIG_SUN6I_A31_CCU=y
CONFIG_IRQ_UNIPHIER_AIDET=y
CONFIG_SENSORS_INSPUR_IPSPS=y
CONFIG_ATMEL_ST=y
CONFIG_ARCH_SUPPORTS_PAGE_TABLE_CHECK=y
CONFIG_ARCH_BCM2835=y
CONFIG_TI_ADS1119=y
CONFIG_CZNIC_PLATFORMS=y
CONFIG_SENSORS_PCF8591=y
CONFIG_SENSORS_PIM4328=y
CONFIG_ZONE_DMA=y
CONFIG_MTD_BRCM_U_BOOT=y
CONFIG_BMI160=y
CONFIG_NLS_ISO8859_5=y
CONFIG_MFD_AS3711=y
CONFIG_LOCK_EVENT_COUNTS=y
CONFIG_EFI_GENERIC_STUB=y
CONFIG_COMMON_CLK_MT7622_ETHSYS=y
CONFIG_SWIOTLB=y
CONFIG_ARCH_MXC=y
CONFIG_CRYPTO_HASH_INFO=y
CONFIG_ARM64_ERRATUM_2658417=y
CONFIG_HW_RANDOM_BCM74110=y
CONFIG_MFD_SYSCON=y
CONFIG_SMI330_I2C=y
CONFIG_MFD_KEMPLD=y
CONFIG_TCG_INFINEON=y
CONFIG_PINCTRL_IPQ5018=y
CONFIG_NLS_ISO8859_1=y
CONFIG_SENSORS_IR36021=y
CONFIG_BCM2711_THERMAL=y
CONFIG_MFD_WM8400=y
CONFIG_LEDS_TPS6105X=y
CONFIG_COMMON_CLK_LAN966X=y
CONFIG_PREEMPT_COUNT=y
CONFIG_TPS65010=y
CONFIG_LEDS_IS31FL32XX=y
CONFIG_CRYPTO_SM3=y
CONFIG_CPUSETS_V1=y
CONFIG_TEST_FPU=y
CONFIG_IRSD200=y
CONFIG_RCU_NEED_SEGCBLIST=y
CONFIG_GPIO_GENERIC=y
CONFIG_COMMON_CLK_HI3660=y
CONFIG_MMU_NOTIFIER=y
CONFIG_FUJITSU_ERRATUM_010001=y
CONFIG_AXP20X_ADC=y
CONFIG_SENSORS_D1U74T=y
CONFIG_PINCTRL_MSM8917=y
CONFIG_QCOM_WCNSS_PIL=y
CONFIG_PHY_ROCKCHIP_DP=y
CONFIG_IIO_BUFFER_CB=y
CONFIG_XILINX_AMS=y
CONFIG_ARCH_HAS_UACCESS_FLUSHCACHE=y
CONFIG_REGULATOR_DA9210=y
CONFIG_PINCTRL_GENERIC_MUX=y
CONFIG_KXCJK1013=y
CONFIG_CRYPTO_KRB5ENC=y
CONFIG_MFD_88PM805=y
CONFIG_TRACE_REMOTE_TEST=y
CONFIG_SENSORS_ADT7475=y
CONFIG_PRIME_NUMBERS=y
CONFIG_SYNTH_EVENTS=y
CONFIG_EFI_STUB=y
CONFIG_BATTERY_SBS=y
CONFIG_CORESIGHT_LINK_AND_SINK_TMC=y
CONFIG_ARM_GIC_ITS_PARENT=y
CONFIG_CRYPTO_AEAD=y
CONFIG_I2C_ARB_GPIO_CHALLENGE=y
CONFIG_SENSORS_UCD9000=y
CONFIG_SENSORS_G760A=y
CONFIG_CPU_PM=y
CONFIG_IOMMU_API=y
CONFIG_AS_HAS_CFI_NEGATE_RA_STATE=y
CONFIG_ARM_SCMI_POWERCAP=y
CONFIG_CRYPTO_CAST_COMMON=y
CONFIG_TEST_PARMAN=y
CONFIG_ADI_AXI_DAC=y
CONFIG_GPIO_KEMPLD=y
CONFIG_BH1745=y
CONFIG_MFD_QCOM_RPM=y
CONFIG_IP5XXX_POWER=y
CONFIG_SERIAL_SH_SCI=y
CONFIG_PHY_QCOM_UNIPHY_PCIE_28LP=y
CONFIG_GENERIC_CPU_CACHE_MAINTENANCE=y
CONFIG_TI_ADS7924=y
CONFIG_SERIAL_LITEUART_CONSOLE=y
CONFIG_FAIL_PAGE_ALLOC=y
CONFIG_TPS6105X=y
CONFIG_LEDS_LP55XX_COMMON=y
CONFIG_IQS621_ALS=y
CONFIG_REGULATOR_S2MPA01=y
CONFIG_CRYPTO_SHA256=y
CONFIG_SERIAL_OMAP_CONSOLE=y
CONFIG_RESET_NPCM=y
CONFIG_CRYPTO_BLOWFISH=y
CONFIG_TI_AM335X_ADC=y
CONFIG_TEGRA_SOCTHERM=y
CONFIG_CLK_BCM_NSP=y
CONFIG_CLKSRC_EXYNOS_MCT=y
CONFIG_FORCE_TASKS_TRACE_RCU=y
CONFIG_SENSORS_LTC4245=y
CONFIG_VFIO_AMBA=y
CONFIG_GENERIC_STRNLEN_USER=y
CONFIG_MFD_SKY81452=y
CONFIG_STM=y
CONFIG_CRYPTO_SIG=y
CONFIG_PSI=y
CONFIG_PINCTRL_LPC18XX=y
CONFIG_FUEL_GAUGE_MM8013=y
CONFIG_MFD_MAX77650=y
