CONFIG_NLS_ISO8859_2=y
CONFIG_SERIAL_CORE=y
CONFIG_PTP_1588_CLOCK_OPTIONAL=y
CONFIG_MAX44009=y
CONFIG_MTD_CFI_I8=y
CONFIG_DEBUG_VIRTUAL=y
CONFIG_MAX44000=y
CONFIG_X86_TSC=y
CONFIG_IR_IGUANA=y
CONFIG_ARCH_HAS_CPU_ATTACK_VECTORS=y
CONFIG_ZLIB_DEFLATE=y
CONFIG_SI7005=y
CONFIG_BMP280_I2C=y
CONFIG_USER_STACKTRACE_SUPPORT=y
CONFIG_CRYPTO_AEAD=y
CONFIG_AD4691=y
CONFIG_CC_HAS_IBT=y
CONFIG_REGULATOR_ATC260X=y
CONFIG_MMA7660=y
CONFIG_MTD_PARTITIONED_MASTER=y
CONFIG_JOYSTICK_PSXPAD_SPI=y
CONFIG_SAMSUNG_LAPTOP=y
CONFIG_MC3230=y
CONFIG_RING_BUFFER_VALIDATE_TIME_DELTAS=y
CONFIG_CPU_SUP_CYRIX_32=y
CONFIG_SLUB_TINY=y
CONFIG_ISL76682=y
CONFIG_CHROMEOS_TBMC=y
CONFIG_SENSORS_NCT7363=y
CONFIG_CRYPTO_XCBC=y
CONFIG_ARCH_HIBERNATION_POSSIBLE=y
CONFIG_SERIAL_8250_PNP=y
CONFIG_DEBUG_PAGE_REF=y
CONFIG_TOUCHSCREEN_DYNAPRO=y
CONFIG_MITIGATION_SPECTRE_V2=y
CONFIG_REGMAP_SLIMBUS=y
CONFIG_FIPS_SIGNATURE_SELFTEST_ECDSA=y
CONFIG_LEDS_AAT1290=y
CONFIG_I2C_DLN2=y
CONFIG_AD2S90=y
CONFIG_VGA_CONSOLE=y
CONFIG_X86_DISABLED_FEATURE_XENPV=y
CONFIG_MFD_LOCHNAGAR=y
CONFIG_TRACER_SNAPSHOT=y
CONFIG_EFI_TEST=y
CONFIG_REGULATOR_LP8788=y
CONFIG_MELLANOX_PLATFORM=y
CONFIG_NEED_PER_CPU_PAGE_FIRST_CHUNK=y
CONFIG_GENERIC_PINCTRL_GROUPS=y
CONFIG_SENSORS_MAX16601=y
CONFIG_ARCH_SUPPORTS_UPROBES=y
CONFIG_NLS_MAC_CENTEURO=y
CONFIG_DAMON_RECLAIM=y
CONFIG_SENSORS_ADM1275=y
CONFIG_XILINX_INTC=y
CONFIG_CRYPTO_SERPENT_SSE2_586=y
CONFIG_RV_REACT_PANIC=y
CONFIG_FW_LOADER=y
CONFIG_SAMPLE_HUNG_TASK=y
CONFIG_HAVE_SYSCALL_TRACEPOINTS=y
CONFIG_SAMPLE_CGROUP=y
CONFIG_EFI_RUNTIME_WRAPPERS=y
CONFIG_PINCTRL_PALMAS=y
CONFIG_SENSORS_PECI=y
CONFIG_SENSORS_MAX20730=y
CONFIG_ADL8113=y
CONFIG_SCA3300=y
CONFIG_CRYPTO_ECB=y
CONFIG_IIO_MUX=y
CONFIG_TOUCHSCREEN_PIXCIR=y
CONFIG_EDD=y
CONFIG_HID=y
CONFIG_VCNL4035=y
CONFIG_MOUSE_PS2=y
CONFIG_NVMEM_LAYOUT_ONIE_TLV=y
CONFIG_FW_LOADER_USER_HELPER_FALLBACK=y
CONFIG_KEYBOARD_ADP5588=y
CONFIG_DLN2_ADC=y
CONFIG_GPIO_MC33880=y
CONFIG_ADXL313=y
CONFIG_ARCH_CORRECT_STACKTRACE_ON_KRETPROBE=y
CONFIG_OPEN_DICE=y
CONFIG_HMC6352=y
CONFIG_REGULATOR_SLG51000=y
CONFIG_TCS3414=y
CONFIG_LOCK_STAT=y
CONFIG_MFD_STPMIC1=y
CONFIG_ASYMMETRIC_KEY_TYPE=y
CONFIG_SENSORS_LTC4215=y
CONFIG_HAVE_KERNEL_BZIP2=y
CONFIG_PAGE_MAPCOUNT=y
CONFIG_IQS621_ALS=y
CONFIG_HWLAT_TRACER=y
CONFIG_COMEDI_ISA_DRIVERS=y
CONFIG_MFD_ARIZONA_SPI=y
CONFIG_X86_DISABLED_FEATURE_CALL_DEPTH=y
CONFIG_CRYPTO_CRC32=y
CONFIG_DECOMPRESS_GZIP=y
CONFIG_MGEODEGX1=y
CONFIG_FXOS8700_SPI=y
CONFIG_ACPI_BGRT=y
CONFIG_HID_ICADE=y
CONFIG_TOUCHSCREEN_ZET6223=y
CONFIG_KALLSYMS_ALL=y
CONFIG_POWERCAP=y
CONFIG_SAMPLE_TPS6594_PFSM=y
CONFIG_IIO_BUFFER=y
CONFIG_MFD_MP2629=y
CONFIG_I2C_SLAVE_EEPROM=y
CONFIG_ROHM_BM1390=y
CONFIG_HAVE_CLK=y
CONFIG_MFD_MAX5970=y
CONFIG_CRYPTO_CTR=y
CONFIG_TRACE_GPU_MEM=y
CONFIG_HAVE_UNSTABLE_SCHED_CLOCK=y
CONFIG_DPOT_DAC=y
CONFIG_COMEDI_PCL812=y
CONFIG_REGULATOR_DA9210=y
CONFIG_UNWINDER_FRAME_POINTER=y
CONFIG_CC_HAS_COUNTED_BY=y
CONFIG_LEDS_LM36274=y
CONFIG_HID_NTI=y
CONFIG_SENSORS_MP29502=y
CONFIG_MOUSE_SERIAL=y
CONFIG_MFD_MAX77620=y
CONFIG_INTEL_VBTN=y
CONFIG_SPI_MASTER=y
CONFIG_SENSORS_ADT7462=y
CONFIG_GPIO_DLN2=y
CONFIG_RMI4_F3A=y
CONFIG_IIO_GTS_HELPER=y
CONFIG_HAVE_ARCH_JUMP_LABEL_RELATIVE=y
CONFIG_MTD_VIRT_CONCAT=y
CONFIG_ACPI_DEBUG=y
CONFIG_SENSORS_ATXP1=y
CONFIG_SAMPLES=y
CONFIG_X86_DISABLED_FEATURE_PTI=y
CONFIG_ARCH_HAS_STRICT_MODULE_RWX=y
CONFIG_RCU_EXPERT=y
CONFIG_SENSORS_MAX20751=y
CONFIG_CRYPTO_SHA3=y
CONFIG_SENSORS_MP5990=y
CONFIG_INTEL_WMI=y
CONFIG_PAC1921=y
CONFIG_MFD_MT6397=y
CONFIG_HUGETLBFS=y
CONFIG_CRYPTO_LIB_SM3=y
CONFIG_SENSORS_VT1211=y
CONFIG_KERNEL_GZIP=y
CONFIG_CGROUPS=y
CONFIG_AW96103=y
CONFIG_AS_WRUSS=y
CONFIG_X86_CPUID=y
CONFIG_CRYPTO_XTS=y
CONFIG_SENSORS_LTC2991=y
CONFIG_CRYPTO_MANAGER2=y
CONFIG_SENSORS_W83781D=y
CONFIG_AD5758=y
CONFIG_DEBUG_LOCKDEP=y
CONFIG_BMA220_I2C=y
CONFIG_KXSD9_I2C=y
CONFIG_RING_BUFFER=y
CONFIG_ARCH_HAS_CACHE_LINE_SIZE=y
CONFIG_MMC_SDHCI_XENON=y
CONFIG_IBMASR=y
CONFIG_INPUT_VIVALDIFMAP=y
CONFIG_LEDS_RT4505=y
CONFIG_SENSORS_LTC4222=y
CONFIG_USB_XHCI_PLATFORM=y
CONFIG_TOUCHSCREEN_ADS7846=y
CONFIG_SENSORS_IRPS5401=y
CONFIG_HID_HAPTIC=y
CONFIG_HID_PLANTRONICS=y
CONFIG_PCSPKR_PLATFORM=y
CONFIG_PSI=y
CONFIG_SPI_MXIC=y
CONFIG_SPI_MICROCHIP_CORE_QSPI=y
CONFIG_CRYPTO_LIB_DES=y
CONFIG_PWM_ARGON_FAN_HAT=y
CONFIG_AS3935=y
CONFIG_LRU_GEN_WALKS_MMU=y
CONFIG_GPIB_NI_USB=y
CONFIG_RMI4_F12=y
CONFIG_I2C_DEMUX_PINCTRL=y
CONFIG_MMC35240=y
CONFIG_BMA220_SPI=y
CONFIG_ARCH_SUPPORTS_KEXEC_SIG=y
CONFIG_GPIO_VIRTUSER=y
CONFIG_TPS6105X=y
CONFIG_TMP006=y
CONFIG_CM36651=y
CONFIG_LRU_GEN_STATS=y
CONFIG_VIRT_DRIVERS=y
CONFIG_REGULATOR_ROHM=y
CONFIG_NLS_CODEPAGE_862=y
CONFIG_CRYPTO_NULL=y
CONFIG_BUG_ON_DATA_CORRUPTION=y
CONFIG_AD7606_IFACE_PARALLEL=y
CONFIG_CRYPTO_DH=y
CONFIG_SENSORS_PC87360=y
CONFIG_USB_COMMON=y
CONFIG_ACPI_APEI_ERST_DEBUG=y
CONFIG_DEBUG_OBJECTS_TIMERS=y
CONFIG_FXOS8700=y
CONFIG_CRYPTO_KDF800108_CTR=y
CONFIG_MTD_COMPLEX_MAPPINGS=y
CONFIG_CRYPTO_LIB_SHA512=y
CONFIG_TOUCHSCREEN_RM_TS=y
CONFIG_ROHM_BU27034=y
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO_BARE=y
CONFIG_USB_IDMOUSE=y
CONFIG_ARCH_WANT_BATCHED_UNMAP_TLB_FLUSH=y
CONFIG_RC_MAP=y
CONFIG_OLPC_XO15_SCI=y
CONFIG_KEYBOARD_QT1070=y
CONFIG_MEMSTICK=y
CONFIG_HAVE_ARCH_KSTACK_ERASE=y
CONFIG_SOFTLOCKUP_DETECTOR=y
CONFIG_DEBUG_FS=y
CONFIG_DEBUG_OBJECTS=y
CONFIG_HAVE_FUNCTION_TRACER=y
CONFIG_SENSORS_CORSAIR_PSU=y
CONFIG_ALS31300=y
CONFIG_SENSORS_DELTA_AHE50DC_FAN=y
CONFIG_RMI4_SPI=y
CONFIG_RV_REACTORS=y
CONFIG_SYSTEM_DATA_VERIFICATION=y
CONFIG_HID_PID=y
CONFIG_REGULATOR_MT6397=y
CONFIG_ADXL372_SPI=y
CONFIG_INPUT_SPARSEKMAP=y
CONFIG_MTD_SPI_NOR_SWP_DISABLE=y
CONFIG_INPUT_KEYBOARD=y
CONFIG_TOUCHSCREEN_EETI=y
CONFIG_FXLS8962AF=y
CONFIG_SERIO=y
CONFIG_MFD_SYSCON=y
CONFIG_HID_ELECOM=y
CONFIG_X86_DISABLED_FEATURE_TDX_GUEST=y
CONFIG_NLS_CODEPAGE_869=y
CONFIG_BALLOON=y
CONFIG_LTC2983=y
CONFIG_MTD_SLRAM=y
CONFIG_I2C_ARB_GPIO_CHALLENGE=y
CONFIG_NVMEM_LAYOUTS=y
CONFIG_SENSORS_STTS751=y
CONFIG_REGULATOR_WM831X=y
CONFIG_OID_REGISTRY=y
CONFIG_MFD_NTXEC=y
CONFIG_ARCH_HAS_ACPI_TABLE_UPGRADE=y
CONFIG_KGDB_KDB=y
CONFIG_RV_HA_MONITOR=y
CONFIG_CRYPTO_LIB_SHA256=y
CONFIG_GENERIC_PINMUX_FUNCTIONS=y
CONFIG_MAX9611=y
CONFIG_SENSORS_PWM_FAN=y
CONFIG_SAMPLE_WATCHDOG=y
CONFIG_I2C_SLAVE=y
CONFIG_INPUT=y
CONFIG_COMMON_CLK=y
CONFIG_XIAOMI_WMI=y
CONFIG_RPMSG_VIRTIO=y
CONFIG_LEDS_AS3645A=y
CONFIG_MMA9551_CORE=y
CONFIG_W1_SLAVE_DS2805=y
CONFIG_SENSORS_MC34VR500=y
CONFIG_TRACE_REMOTE_TEST=y
CONFIG_CHARGER_RT9756=y
CONFIG_PWM_ADP5585=y
CONFIG_SPI_DEBUG=y
CONFIG_SPI_MEM=y
CONFIG_NLS_CODEPAGE_860=y
CONFIG_GENERIC_IRQ_ENTRY=y
CONFIG_AD7293=y
CONFIG_SENSORS_HMC5843_I2C=y
CONFIG_TOUCHSCREEN_HIDEEP=y
CONFIG_BATTERY_INTEL_DC_TI=y
CONFIG_CHARGER_BD99954=y
CONFIG_CRYPTO_ECDH=y
CONFIG_INTEL_ATOMISP2_PDX86=y
CONFIG_GPIO_MAX7300=y
CONFIG_LEDS_CLASS_FLASH=y
CONFIG_TOUCHSCREEN_ROHM_BU21023=y
CONFIG_WM831X_BACKUP=y
CONFIG_MITIGATION_TSA=y
CONFIG_USB_ADUTUX=y
CONFIG_BATTERY_SBS=y
CONFIG_REGULATOR_MAX8893=y
CONFIG_HSI_CHAR=y
CONFIG_COMMON_CLK_SI5351=y
CONFIG_TEE_DMABUF_HEAPS=y
CONFIG_PCENGINES_APU2=y
CONFIG_FUSE_FS=y
CONFIG_JOYSTICK_QWIIC=y
CONFIG_INTEL_SOC_PMIC_MRFLD=y
CONFIG_DEBUG_KMAP_LOCAL=y
CONFIG_HID_NINTENDO=y
CONFIG_REGULATOR_MT6315=y
CONFIG_X86_VMX_FEATURE_NAMES=y
CONFIG_PM_CLK=y
CONFIG_SENSORS_LTC2947_I2C=y
CONFIG_ARCH_SUPPORTS_KMAP_LOCAL_FORCE_MAP=y
CONFIG_REGULATOR_88PM8607=y
CONFIG_FUJITSU_LAPTOP=y
CONFIG_X86_DISABLED_FEATURE_FRED=y
CONFIG_CC_HAS_NO_PROFILE_FN_ATTR=y
CONFIG_TI_ADS131E08=y
CONFIG_ARCH_SUPPORTS_MEMORY_FAILURE=y
CONFIG_BMA220=y
CONFIG_SENSORS_ATK0110=y
CONFIG_GPIO_104_DIO_48E=y
CONFIG_FPGA_MGR_ICE40_SPI=y
CONFIG_PSI_DEFAULT_DISABLED=y
CONFIG_COMEDI_ISADMA=y
CONFIG_HAVE_EXIT_THREAD=y
CONFIG_TOUCHSCREEN_TSC2007_IIO=y
CONFIG_PINCTRL_MAX77620=y
CONFIG_CRYPTO_DEV_AMLOGIC_GXL=y
CONFIG_PHY_OCELOT_SERDES=y
CONFIG_CMA_SIZE_SEL_MAX=y
CONFIG_MCP3564=y
CONFIG_SPI_AXI_SPI_ENGINE=y
CONFIG_FIPS_SIGNATURE_SELFTEST=y
CONFIG_COMEDI_MPC624=y
CONFIG_EFI_RUNTIME_MAP=y
CONFIG_COMMON_CLK_SI544=y
CONFIG_DYNAMIC_FTRACE_WITH_REGS=y
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_DIRECT_CALLS=y
CONFIG_GPIO_GENERIC=y
CONFIG_MFD_RC5T583=y
CONFIG_RCU_EQS_DEBUG=y
CONFIG_LIST_HARDENED=y
CONFIG_EFI=y
CONFIG_NLS_MAC_INUIT=y
CONFIG_NEED_TASKS_RCU=y
CONFIG_HID_SPEEDLINK=y
CONFIG_MFD_ATMEL_FLEXCOM=y
CONFIG_GPIOLIB=y
CONFIG_CRC32_ARCH=y
CONFIG_PWRSEQ_SIMPLE=y
CONFIG_FWCTL=y
CONFIG_ARCH_USE_CMPXCHG_LOCKREF=y
CONFIG_SENSORS_TPS546D24=y
CONFIG_ADE9000=y
CONFIG_GPIO_CDEV_V1=y
CONFIG_DMA_FENCE_TRACE=y
CONFIG_SENSORS_MAX16064=y
CONFIG_SSB=y
CONFIG_DETECT_HUNG_TASK=y
CONFIG_SENSORS_CRPS=y
CONFIG_LCD_PLATFORM=y
CONFIG_TOUCHSCREEN_ZINITIX=y
CONFIG_X86_REQUIRED_FEATURE_FPU=y
CONFIG_USB_IOWARRIOR=y
CONFIG_CRYPTO_KRB5ENC=y
CONFIG_CRYPTO_RSA=y
CONFIG_MFD_WM8997=y
CONFIG_CRYPTO_DEV_AMLOGIC_GXL_DEBUG=y
CONFIG_ISL29501=y
CONFIG_HAVE_FUNCTION_ERROR_INJECTION=y
CONFIG_SYSCTL_EXCEPTION_TRACE=y
CONFIG_PREEMPTION=y
CONFIG_MFD_STMPE=y
CONFIG_IPMI_WATCHDOG=y
CONFIG_SLUB=y
CONFIG_NLS_CODEPAGE_437=y
CONFIG_FTRACE_MCOUNT_USE_CC=y
CONFIG_SENSORS_NCT6775_CORE=y
CONFIG_DYNAMIC_FTRACE_WITH_DIRECT_CALLS=y
CONFIG_CHARGER_RT9455=y
CONFIG_RSEQ=y
CONFIG_MFD_ADP5585=y
CONFIG_UCS2_STRING=y
CONFIG_HAVE_OPTPROBES=y
CONFIG_INTEL_TH_MSU=y
CONFIG_I2C_CGBC=y
CONFIG_USB_MUSB_HDRC=y
CONFIG_FSI_SCOM=y
CONFIG_I8253_LOCK=y
CONFIG_CRYPTO_LIB_SHA3=y
CONFIG_INTEL_PUNIT_IPC=y
CONFIG_USB_SEVSEG=y
CONFIG_TRACE_PREEMPT_TOGGLE=y
CONFIG_VIRTIO_FS=y
CONFIG_RCU_TRACE=y
CONFIG_MFD_MADERA_I2C=y
CONFIG_COMEDI_AIO_IIRO_16=y
CONFIG_LOCK_MM_AND_FIND_VMA=y
CONFIG_GENERIC_SYSCALL=y
CONFIG_MTD_MTDRAM=y
CONFIG_NEED_PER_CPU_EMBED_FIRST_CHUNK=y
CONFIG_SAMPLE_FANOTIFY_ERROR=y
CONFIG_I2C_CBUS_GPIO=y
CONFIG_KERNFS=y
CONFIG_LTC2485=y
CONFIG_RING_BUFFER_STARTUP_TEST=y
CONFIG_SENSORS_LM78=y
CONFIG_PALMAS_GPADC=y
CONFIG_DCACHE_WORD_ACCESS=y
CONFIG_SPARSEMEM_STATIC=y
CONFIG_TOUCHSCREEN_S6SY761=y
CONFIG_ACPI_APEI=y
CONFIG_HAVE_UID16=y
CONFIG_GPIB_COMMON=y
CONFIG_INPUT_EVDEV=y
CONFIG_SENSORS_ACBEL_FSG032=y
CONFIG_X86_CPA_STATISTICS=y
CONFIG_COMEDI_PCL816=y
CONFIG_AD7780=y
CONFIG_COMMON_CLK_SI570=y
CONFIG_X86_DISABLED_FEATURE_PCID=y
CONFIG_EXTCON_MAX14526=y
CONFIG_BH1745=y
CONFIG_RUSTC_HAS_SPAN_FILE=y
CONFIG_DW_WATCHDOG=y
CONFIG_I2C_ALGOPCF=y
CONFIG_USB_DWC3=y
CONFIG_TI_FPC202=y
CONFIG_RCU_SCALE_TEST=y
CONFIG_FTRACE_VALIDATE_RCU_IS_WATCHING=y
CONFIG_HRTIMER_REARM_DEFERRED=y
CONFIG_SOC_BUS=y
CONFIG_SENSORS_IIO_HWMON=y
CONFIG_REGMAP_IRQ=y
CONFIG_GPIO_AGGREGATOR=y
CONFIG_BME680=y
CONFIG_MLXREG_HOTPLUG=y
CONFIG_HAVE_KERNEL_LZMA=y
CONFIG_VT_CONSOLE_SLEEP=y
CONFIG_ARCH_SUPPORTS_KEXEC_SIG_FORCE=y
CONFIG_ARCH_HAS_ZONE_DMA_SET=y
CONFIG_MEMSTICK_DEBUG=y
CONFIG_SPI_XILINX=y
CONFIG_SPI_XCOMM=y
CONFIG_NLS_ISO8859_15=y
CONFIG_ATLAS_PH_SENSOR=y
CONFIG_GENERIC_IOMAP=y
CONFIG_GENERIC_CPU_AUTOPROBE=y
CONFIG_TOUCHSCREEN_GOODIX_BERLIN_CORE=y
CONFIG_XXHASH=y
CONFIG_UNICODE=y
CONFIG_AD5504=y
CONFIG_POWER_SEQUENCING=y
CONFIG_SPI_DESIGNWARE=y
CONFIG_TOUCHSCREEN_SILEAD=y
CONFIG_DEBUG_BOOT_PARAMS=y
CONFIG_GPIB_PC2=y
CONFIG_TI_DAC5571=y
CONFIG_SPI_OFFLOAD_TRIGGER_PWM=y
CONFIG_PSTORE=y
CONFIG_COMEDI_TESTS=y
CONFIG_CROS_KBD_LED_BACKLIGHT=y
CONFIG_PECI=y
CONFIG_KEYS_REQUEST_CACHE=y
CONFIG_IRQCHIP=y
CONFIG_ADF4371=y
CONFIG_TI_DAC7311=y
CONFIG_MTD_MAP_BANK_WIDTH_4=y
CONFIG_GENERIC_CALIBRATE_DELAY=y
CONFIG_ARCH_HAS_DEBUG_VIRTUAL=y
CONFIG_CRYPTO_SERPENT=y
CONFIG_TI_ADS7138=y
CONFIG_REGMAP_SPI=y
CONFIG_ARCH_HAS_DEVMEM_IS_ALLOWED=y
CONFIG_COMEDI_RTI800=y
CONFIG_JOYSTICK_SPACEORB=y
CONFIG_SIGNED_PE_FILE_VERIFICATION=y
CONFIG_SENSORS_MP9945=y
CONFIG_W1_SLAVE_DS2781=y
CONFIG_REED_SOLOMON_DEC16=y
CONFIG_SD_ADC_MODULATOR=y
CONFIG_REGMAP_MMIO=y
CONFIG_CRYPTO_ENGINE=y
CONFIG_ARCH_HAS_STRICT_KERNEL_RWX=y
CONFIG_CRYPTO_BLOWFISH_COMMON=y
CONFIG_SENSORS_NCT6775=y
CONFIG_SENSORS_RM3100=y
CONFIG_I2C_MUX_REG=y
CONFIG_LEDS_PWM=y
CONFIG_STM_SOURCE_CONSOLE=y
CONFIG_KEYBOARD_IQS62X=y
CONFIG_FIRMWARE_EDID=y
CONFIG_RV_REACT_PRINTK=y
CONFIG_RSEQ_DEBUG_DEFAULT_ENABLE=y
CONFIG_MFD_RK8XX_I2C=y
CONFIG_MTD_QINFO_PROBE=y
CONFIG_CC_HAS_ZERO_CALL_USED_REGS=y
CONFIG_TI_ADS124S08=y
CONFIG_CRYPTO_LRW=y
CONFIG_JOYSTICK_PSXPAD_SPI_FF=y
CONFIG_ACPI_SLEEP=y
CONFIG_CRYPTO_CAST5=y
CONFIG_TPL0102=y
CONFIG_SCHED_AUTOGROUP=y
CONFIG_GAMEPORT=y
CONFIG_I2C_RK3X=y
CONFIG_RANDOMIZE_KSTACK_OFFSET=y
CONFIG_TOUCHSCREEN_HIMAX_HX852X=y
CONFIG_SENSORS_LM80=y
CONFIG_COMEDI_II_PCI20KC=y
