CONFIG_SENSORS_MP5926=y
CONFIG_PCIE_DW_EP=y
CONFIG_TARGET_CORE=y
CONFIG_AD7291=y
CONFIG_PINCTRL=y
CONFIG_NVMEM=y
CONFIG_LCD_VGG2432A4=y
CONFIG_SCHED_STACK_END_CHECK=y
CONFIG_BLK_DEV=y
CONFIG_DEBUG_LOCKING_API_SELFTESTS=y
CONFIG_AMD_HSMP_ACPI=y
CONFIG_CHARGER_MP2629=y
CONFIG_STACKPROTECTOR=y
CONFIG_AD7606=y
CONFIG_SECTION_MISMATCH_WARN_ONLY=y
CONFIG_GENERIC_CALIBRATE_DELAY=y
CONFIG_I2C_CGBC=y
CONFIG_SCSI_STEX=y
CONFIG_MISC_RTSX=y
CONFIG_REGULATOR_RK808=y
CONFIG_SENSORS_IBM_CFFPS=y
CONFIG_MFD_OCELOT=y
CONFIG_ACPI_FFH=y
CONFIG_MADERA_IRQ=y
CONFIG_DMA_CMA=y
CONFIG_SERIAL_8250_MID=y
CONFIG_HAVE_KERNEL_ZSTD=y
CONFIG_SENSORS_SMSC47M192=y
CONFIG_IPMI_IPMB=y
CONFIG_CMA_SIZE_SEL_MIN=y
CONFIG_X86_CHECK_BIOS_CORRUPTION=y
CONFIG_NVMEM_SPMI_SDAM=y
CONFIG_X86_DISABLED_FEATURE_USER_SHSTK=y
CONFIG_SPI_PCI1XXXX=y
CONFIG_ISCSI_BOOT_SYSFS=y
CONFIG_PCIE_CADENCE_PLAT=y
CONFIG_ACPI_BGRT=y
CONFIG_MTD_MAP_BANK_WIDTH_1=y
CONFIG_PCI_ENDPOINT=y
CONFIG_XFS_POSIX_ACL=y
CONFIG_ARCH_HAS_SYNC_CORE_BEFORE_USERMODE=y
CONFIG_SPI_OFFLOAD_TRIGGER_ADI_UTIL_SD=y
CONFIG_XZ_DEC_RISCV=y
CONFIG_SERIAL_8250_PERICOM=y
CONFIG_REGULATOR_RT4801=y
CONFIG_TICK_CPU_ACCOUNTING=y
CONFIG_REGULATOR_PWM=y
CONFIG_RESET_CONTROLLER=y
CONFIG_PANEL_CHANGE_MESSAGE=y
CONFIG_SENSORS_DRIVETEMP=y
CONFIG_GENERIC_IRQ_ENTRY=y
CONFIG_MFD_INTEL_LPSS=y
CONFIG_FB_CFB_COPYAREA=y
CONFIG_WATCHDOG=y
CONFIG_GPIO_BY_PINCTRL=y
CONFIG_MPU3050=y
CONFIG_CPU_SUP_VORTEX_32=y
CONFIG_MFD_SEC_I2C=y
CONFIG_EXTCON=y
CONFIG_COMMON_CLK_RK808=y
CONFIG_CRYPTO_LIB_SHA512=y
CONFIG_MEDIATEK_MT6359_AUXADC=y
CONFIG_AD7746=y
CONFIG_TCG_CRB=y
CONFIG_X86_32_IRIS=y
CONFIG_CRYPTO_CAST6=y
CONFIG_PCI_GOBIOS=y
CONFIG_PCI_ATS=y
CONFIG_FB_IOMEM_HELPERS=y
CONFIG_SENSORS_MAX31785=y
CONFIG_ARCH_HAS_CPU_FINALIZE_INIT=y
CONFIG_SENSORS_BH1770=y
CONFIG_SENSORS_APDS990X=y
CONFIG_APDS9300=y
CONFIG_REGULATOR_FAN53555=y
CONFIG_PREEMPT_RCU=y
CONFIG_MCP4531=y
CONFIG_BACKLIGHT_BD6107=y
CONFIG_HARDLOCKUP_DETECTOR=y
CONFIG_CRYPTO_HASH2=y
CONFIG_SERIAL_SPRD=y
CONFIG_SCSI_WD719X=y
CONFIG_ADXRS450=y
CONFIG_VMGENID=y
CONFIG_CRYPTO_LIB_AES_ARCH=y
CONFIG_MITIGATION_SPECTRE_V2=y
CONFIG_LEGACY_DIRECT_IO=y
CONFIG_COMEDI_DT2814=y
CONFIG_SENSORS_VT1211=y
CONFIG_CRYPTO_LRW=y
CONFIG_INPUT=y
CONFIG_GPIO_AMDPT=y
CONFIG_BATTERY_CHAGALL=y
CONFIG_GENERIC_SYSCALL=y
CONFIG_MMA8452=y
CONFIG_SENSORS_LENOVO_EC=y
CONFIG_FB_RADEON=y
CONFIG_CHARGER_MANAGER=y
CONFIG_BMA180=y
CONFIG_FB_ARC=y
CONFIG_OF=y
CONFIG_SENSORS_OCC_P9_SBE=y
CONFIG_SENSORS_W83781D=y
CONFIG_W1_SLAVE_DS2438=y
CONFIG_THERMAL_GOV_USER_SPACE=y
CONFIG_SERIAL_SC16IS7XX_SPI=y
CONFIG_SENSORS_LM95241=y
CONFIG_HTS221=y
CONFIG_HAVE_FUNCTION_ERROR_INJECTION=y
CONFIG_SERIO_PS2MULT=y
CONFIG_AD4695=y
CONFIG_ADXL313_SPI=y
CONFIG_LIBNVDIMM=y
CONFIG_ARCH_HAS_FORTIFY_SOURCE=y
CONFIG_HAVE_PCSPKR_PLATFORM=y
CONFIG_ARCH_SPARSEMEM_ENABLE=y
CONFIG_PING=y
CONFIG_MTD_HYPERBUS=y
CONFIG_CRYPTO_WP512=y
CONFIG_DPS310=y
CONFIG_CRYPTO_DES=y
CONFIG_MFD_INTEL_LPSS_ACPI=y
CONFIG_FB_FOREIGN_ENDIAN=y
CONFIG_SENSORS_LTC2947_SPI=y
CONFIG_LTC2485=y
CONFIG_POWER_SEQUENCING_QCOM_WCN=y
CONFIG_LIBFDT=y
CONFIG_EFI_BOOTLOADER_CONTROL=y
CONFIG_PAC1921=y
CONFIG_FB_EFI=y
CONFIG_IR_FINTEK=y
CONFIG_RPMSG_NS=y
CONFIG_DLHL60D=y
CONFIG_TCG_TPM=y
CONFIG_LEDS_BLINKM=y
CONFIG_SYSCON_REBOOT_MODE=y
CONFIG_GENERIC_NET_UTILS=y
CONFIG_NVME_FC=y
CONFIG_CRYPTO_SIG=y
CONFIG_FB_CIRRUS=y
CONFIG_MFD_ADP5585=y
CONFIG_INIT_ON_ALLOC_DEFAULT_ON=y
CONFIG_CRYPTO_MANAGER=y
CONFIG_SENSORS_MP2993=y
CONFIG_FB_NVIDIA=y
CONFIG_FB_BACKLIGHT=y
CONFIG_FORCE_TASKS_RUDE_RCU=y
CONFIG_TI_ADS7924=y
CONFIG_X86_REQUIRED_FEATURE_PAE=y
CONFIG_GPIO_XILINX=y
CONFIG_COMEDI_8255=y
CONFIG_I2C_AMD756=y
CONFIG_SENSORS_MENF21BMC_HWMON=y
CONFIG_MAX34408=y
CONFIG_SCSI_3W_SAS=y
CONFIG_SX_COMMON=y
CONFIG_GENERIC_ADC_THERMAL=y
CONFIG_WATCHDOG_PRETIMEOUT_GOV_NOOP=y
CONFIG_MPENTIUMM=y
CONFIG_AF8133J=y
CONFIG_SENSORS_OCC_P8_I2C=y
CONFIG_SERIAL_FSL_LINFLEXUART=y
CONFIG_MFD_AXP20X_I2C=y
CONFIG_VL6180=y
CONFIG_DMA_MAP_BENCHMARK=y
CONFIG_GPIO_FTGPIO010=y
CONFIG_HAVE_POSIX_CPU_TIMERS_TASK_WORK=y
CONFIG_MMU_LAZY_TLB_REFCOUNT=y
CONFIG_REGULATOR_RAA215300=y
CONFIG_BCMA_POSSIBLE=y
CONFIG_MITIGATION_SPECTRE_BHI=y
CONFIG_BUFFER_HEAD=y
CONFIG_SPI_XCOMM=y
CONFIG_X86=y
CONFIG_X86_MCE_THRESHOLD=y
CONFIG_CRYPTO_LIB_SHA1=y
CONFIG_DMABUF_SELFTESTS=y
CONFIG_HI8435=y
CONFIG_BACKLIGHT_LED=y
CONFIG_WATCHDOG_NOWAYOUT=y
CONFIG_GENERIC_STRNCPY_FROM_USER=y
CONFIG_TEST_REF_TRACKER=y
CONFIG_HAVE_ARCH_THREAD_STRUCT_WHITELIST=y
CONFIG_ACPI_FAN=y
CONFIG_HOTPLUG_SMT=y
CONFIG_REGULATOR_MAX77541=y
CONFIG_SERIAL_UARTLITE=y
CONFIG_LOCKDEP_SUPPORT=y
CONFIG_IR_SERIAL=y
CONFIG_FB_RIVA=y
CONFIG_HTU21=y
CONFIG_SENSORS_DELL_SMM=y
CONFIG_MFD_MADERA_SPI=y
CONFIG_FB_MODE_HELPERS=y
CONFIG_GNSS_MTK_SERIAL=y
CONFIG_LENOVO_WMI_CAPDATA=y
CONFIG_W1_SLAVE_DS2431=y
CONFIG_REGMAP=y
CONFIG_SPARSEMEM_MANUAL=y
CONFIG_MLX90632=y
CONFIG_VFIO=y
CONFIG_MPILIB=y
CONFIG_SENSORS_HIH6130=y
CONFIG_ENS160=y
CONFIG_FB_ASILIANT=y
CONFIG_FB_N411=y
CONFIG_PCSPKR_PLATFORM=y
CONFIG_FTL=y
CONFIG_AHCI_DWC=y
CONFIG_AD3552R_LIB=y
CONFIG_SENSORS_MP5920=y
CONFIG_MFD_KEMPLD=y
CONFIG_ACPI_TABLE_UPGRADE=y
CONFIG_MTD_SBC_GXX=y
CONFIG_SCSI_DMX3191D=y
CONFIG_PHY_CADENCE_DPHY=y
CONFIG_ARCH_SUSPEND_POSSIBLE=y
CONFIG_CC_HAS_IBT=y
CONFIG_I2C_MUX_REG=y
CONFIG_FSI_SCOM=y
CONFIG_MFD_LP8788=y
CONFIG_LEDS_SIEMENS_SIMATIC_IPC=y
CONFIG_ROHM_BU27034=y
CONFIG_GPIO_PISOSR=y
CONFIG_LEDS_USER=y
CONFIG_CRYPTO_LIB_CHACHA=y
CONFIG_MTD_ONENAND=y
CONFIG_LENOVO_WMI_TUNING=y
CONFIG_LEDS_LM3532=y
CONFIG_UNION_FIND=y
CONFIG_LEDS_IS31FL319X=y
CONFIG_X86_PAE=y
CONFIG_LCD_PLATFORM=y
CONFIG_PAGE_SIZE_LESS_THAN_256KB=y
CONFIG_AD7303=y
CONFIG_COMMON_CLK_VC5=y
CONFIG_COMEDI_ADV_PCI1760=y
CONFIG_CRYPTO_CAST5=y
CONFIG_TREE_SRCU=y
CONFIG_SPI_MEM=y
CONFIG_ADIS16136=y
CONFIG_I2C_CBUS_GPIO=y
CONFIG_I2CR_SCOM=y
CONFIG_VEML6075=y
CONFIG_FSI_MASTER_GPIO=y
CONFIG_SCSI_ADVANSYS=y
CONFIG_CRYPTO_AKCIPHER=y
CONFIG_CRYPTO_TWOFISH_586=y
CONFIG_PERF_EVENTS_AMD_UNCORE=y
CONFIG_CPU_IDLE=y
CONFIG_SATA_INIC162X=y
CONFIG_SENSORS_HS3001=y
CONFIG_ARCH_HAS_STRICT_MODULE_RWX=y
CONFIG_PINCTRL_CANNONLAKE=y
CONFIG_REGULATOR_MAX8998=y
CONFIG_PCI_ENDPOINT_TEST=y
CONFIG_KCMP=y
CONFIG_GPIO_AMD8111=y
CONFIG_COMMON_CLK_SI5341=y
CONFIG_CRYPTO_AUTHENC=y
CONFIG_LD_CAN_USE_KEEP_IN_OVERLAY=y
CONFIG_MTD_ONENAND_OTP=y
CONFIG_BMA400_SPI=y
CONFIG_SENSORS_IIO_HWMON=y
CONFIG_PINCTRL_CHERRYVIEW=y
CONFIG_VEML6040=y
CONFIG_CRYPTO=y
CONFIG_LEDS_TRIGGER_TIMER=y
CONFIG_LEDS_AN30259A=y
CONFIG_SENSORS_ISL29028=y
CONFIG_MTD_DATAFLASH_OTP=y
CONFIG_DAMON_STAT=y
CONFIG_SENSORS_DPS920AB=y
CONFIG_ADIS16400=y
CONFIG_PWM_LPSS_PCI=y
CONFIG_HAVE_KERNEL_LZ4=y
CONFIG_INSTRUCTION_DECODER=y
CONFIG_UNWINDER_FRAME_POINTER=y
CONFIG_PCI_ECAM=y
CONFIG_842_COMPRESS=y
CONFIG_VL53L1X_I2C=y
CONFIG_THERMAL=y
CONFIG_CRC8=y
CONFIG_MLX90614=y
CONFIG_FS_MBCACHE=y
CONFIG_ACPI_DEBUG=y
CONFIG_SPI_BITBANG=y
CONFIG_REGULATOR_BD96801=y
CONFIG_CMDLINE_BOOL=y
CONFIG_MFD_BQ257XX=y
CONFIG_MAX31865=y
CONFIG_CRYPTO_MLDSA=y
CONFIG_IRQ_MSI_LIB=y
CONFIG_COMEDI_PCL726=y
CONFIG_I2C_ZHAOXIN=y
CONFIG_MEDIA_CEC_SUPPORT=y
CONFIG_MFD_CS5535=y
CONFIG_THREAD_INFO_IN_TASK=y
CONFIG_VIRT_DRIVERS=y
CONFIG_X86_DEBUG_FPU=y
CONFIG_BME680_I2C=y
CONFIG_MOUSE_PS2_SYNAPTICS_SMBUS=y
CONFIG_PPS_CLIENT_LDISC=y
CONFIG_OF_IRQ=y
CONFIG_ARCH_SUPPORTS_ACPI=y
CONFIG_IPMI_POWEROFF=y
CONFIG_HAVE_BUILDTIME_MCOUNT_SORT=y
CONFIG_UIO_PCI_GENERIC=y
CONFIG_ARCH_WANTS_DYNAMIC_TASK_STRUCT=y
CONFIG_AD7150=y
CONFIG_CRYPTO_HASH=y
CONFIG_SCSI_INITIO=y
CONFIG_COMEDI_AMPLC_PCI224=y
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST=y
CONFIG_LIDAR_LITE_V2=y
CONFIG_HUGETLBFS=y
CONFIG_DAMON_VADDR=y
CONFIG_WATCHDOG_HANDLE_BOOT_ENABLED=y
CONFIG_SBITMAP=y
CONFIG_SERIAL_SC16IS7XX_I2C=y
CONFIG_SATA_AHCI_PLATFORM=y
CONFIG_AD5686=y
CONFIG_PAC1934=y
CONFIG_SERIAL_CONEXANT_DIGICOLOR=y
CONFIG_SEN0322=y
CONFIG_BATTERY_MAX1720X=y
CONFIG_GPIO_WINBOND=y
CONFIG_SENSORS_ADCXX=y
CONFIG_COMEDI_MF6X4=y
CONFIG_ADVANTECH_EC_WDT=y
CONFIG_MFD_WM831X_SPI=y
CONFIG_QCOM_VADC_COMMON=y
CONFIG_EFI_COCO_SECRET=y
CONFIG_HAVE_FUNCTION_ARG_ACCESS_API=y
CONFIG_VIDEO=y
CONFIG_SENSORS_MAX127=y
CONFIG_LEDS_CLASS_FLASH=y
CONFIG_IR_SERIAL_TRANSMITTER=y
CONFIG_TOOLS_SUPPORT_RELR=y
CONFIG_WM831X_POWER=y
CONFIG_SENSORS_GL520SM=y
CONFIG_NCT7201=y
CONFIG_COMEDI_ADDI_APCI_1564=y
CONFIG_MFD_DA9052_SPI=y
CONFIG_SERIAL_8250_PCILIB=y
CONFIG_COMEDI_DAC02=y
CONFIG_GNSS_SERIAL=y
CONFIG_W1_SLAVE_DS2805=y
CONFIG_REGULATOR_TPS65023=y
CONFIG_MFD_ARIZONA_I2C=y
CONFIG_PPS_GENERATOR_DUMMY=y
CONFIG_HAVE_KPROBES_ON_FTRACE=y
CONFIG_COMEDI_ADDI_APCI_2032=y
CONFIG_DEBUG_SG=y
CONFIG_REGULATOR_MAX8893=y
CONFIG_CHARGER_ADP5061=y
CONFIG_BLK_DEV_NULL_BLK=y
CONFIG_FB_VIA_DIRECT_PROCFS=y
CONFIG_PROVIDE_OHCI1394_DMA_INIT=y
CONFIG_SENSORS_MAX1619=y
CONFIG_INTEL_TH=y
CONFIG_MFD_MAX77620=y
CONFIG_PCIE_CADENCE_PLAT_HOST=y
CONFIG_HAVE_GCC_PLUGINS=y
CONFIG_CRYPTO_XTS=y
CONFIG_AD4170_4=y
CONFIG_W1_MASTER_DS2482=y
CONFIG_COMEDI_KE_COUNTER=y
CONFIG_EUROTECH_WDT=y
CONFIG_BLK_WBT=y
CONFIG_FB_PM3=y
CONFIG_MCB_PCI=y
CONFIG_REGULATOR_PF0900=y
CONFIG_MFD_TPS65217=y
CONFIG_I2C_ELEKTOR=y
CONFIG_X86_USE_PPRO_CHECKSUM=y
CONFIG_SENSORS_TMP102=y
CONFIG_HAS_IOMEM=y
CONFIG_PINCTRL_LAKEFIELD=y
CONFIG_CRYPTO_SKCIPHER=y
CONFIG_IR_ITE_CIR=y
CONFIG_ADF4377=y
CONFIG_DEBUG_INFO=y
CONFIG_I2C_ALGOPCF=y
CONFIG_SENSORS_LINEAGE=y
CONFIG_SATA_HOST=y
CONFIG_SSFDC=y
CONFIG_CRYPTO_RSA=y
CONFIG_SENSORS_TPS53679=y
CONFIG_BLK_PM=y
CONFIG_GPIO_HLWD=y
CONFIG_MUTEX_SPIN_ON_OWNER=y
CONFIG_NLS_MAC_ICELAND=y
CONFIG_HAVE_ARCH_KGDB=y
CONFIG_AD5624R_SPI=y
CONFIG_MTD_CFI=y
CONFIG_DW_WATCHDOG=y
CONFIG_ITG3200=y
CONFIG_COMMON_CLK_MAX77686=y
CONFIG_LEDS_NIC78BX=y
CONFIG_VZ89X=y
CONFIG_EFI_RUNTIME_MAP=y
CONFIG_HMC6352=y
CONFIG_MEN_Z188_ADC=y
CONFIG_NVMEM_LAYOUT_SL28_VPD=y
CONFIG_AD7380=y
CONFIG_REGULATOR_RT6190=y
CONFIG_REGULATOR_MT6316=y
CONFIG_PWM_MC33XS2410=y
CONFIG_ISL29020=y
CONFIG_IIO=y
CONFIG_ITCO_WDT=y
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_REGS=y
CONFIG_GEHC_PMC_ADC=y
CONFIG_SCREEN_INFO=y
CONFIG_SENSORS_ADT7410=y
CONFIG_MTD_CFI_UTIL=y
CONFIG_NLS_UTF8=y
CONFIG_EXECMEM=y
CONFIG_AK8974=y
CONFIG_SCSI_QLOGIC_FAS=y
CONFIG_ENERGY_MODEL=y
CONFIG_SATA_PMP=y
CONFIG_NVMEM_MAX77759=y
CONFIG_MFD_MADERA_I2C=y
CONFIG_MFD_MT6360=y
CONFIG_CRYPTO_KPP=y
CONFIG_SENSORS_SMSC47B397=y
CONFIG_GPIO_FXL6408=y
CONFIG_SCHED_AUTOGROUP=y
CONFIG_DA9063_WATCHDOG=y
CONFIG_SENSORS_ADM1029=y
CONFIG_DEVFREQ_GOV_SIMPLE_ONDEMAND=y
CONFIG_SENSORS_MAX1111=y
CONFIG_PCIE_PME=y
CONFIG_ACPI_SYSTEM_POWER_STATES_SUPPORT=y
CONFIG_VIRTIO_INPUT=y
CONFIG_CRYPTO_SEQIV=y
CONFIG_IIO_KX022A=y
CONFIG_REGULATOR_88PM800=y
CONFIG_TCG_TIS_CORE=y
CONFIG_VBOXGUEST=y
CONFIG_VCPU_STALL_DETECTOR=y
CONFIG_SENSORS_AD7314=y
CONFIG_SENSORS_NCT7802=y
CONFIG_VEML6070=y
CONFIG_PINCTRL_CEDARFORK=y
CONFIG_REGULATOR_DA9211=y
CONFIG_X86_DISABLED_FEATURE_CALL_DEPTH=y
CONFIG_MMA7455_SPI=y
CONFIG_GPIO_CDEV=y
CONFIG_NVRAM=y
CONFIG_RAVE_SP_CORE=y
CONFIG_DEBUG_DEVRES=y
CONFIG_DA9150_GPADC=y
CONFIG_INTEL_MEI_VSC=y
CONFIG_SECURITYFS=y
CONFIG_PINCTRL_MCP23S08=y
CONFIG_MFD_GATEWORKS_GSC=y
CONFIG_PACKING=y
CONFIG_SERIAL_LANTIQ=y
CONFIG_FW_UPLOAD=y
CONFIG_GPIB_HP82341=y
CONFIG_RCU_STALL_COMMON=y
CONFIG_BMC150_ACCEL_SPI=y
CONFIG_SENSORS_LM95245=y
CONFIG_NVME_TARGET_DEBUGFS=y
CONFIG_SCSI_DH_RDAC=y
CONFIG_RTC_LIB=y
CONFIG_EFI=y
CONFIG_COMMON_CLK_SI521XX=y
CONFIG_FB_ATY=y
CONFIG_KEYS_REQUEST_CACHE=y
CONFIG_IO_DELAY_0XED=y
CONFIG_SENSORS_ASB100=y
CONFIG_DEBUG_PREEMPT=y
CONFIG_MCP320X=y
CONFIG_DEBUG_STACK_USAGE=y
CONFIG_BLOCK=y
CONFIG_SLUB_TINY=y
CONFIG_GIGABYTE_WMI=y
CONFIG_GAMEPORT_FM801=y
CONFIG_SENSORS_SCH56XX_COMMON=y
CONFIG_MFD_ROHM_BD96801=y
CONFIG_MFD_CS42L43=y
CONFIG_HAVE_KERNEL_XZ=y
CONFIG_SENSORS_SMSC47M1=y
CONFIG_AD5446_I2C=y
CONFIG_CRYPTO_CTS=y
CONFIG_TI_DAC7612=y
CONFIG_ARCH_MIGHT_HAVE_ACPI_PDC=y
CONFIG_VFIO_NOIOMMU=y
CONFIG_GENERIC_PENDING_IRQ=y
CONFIG_REGULATOR_RT5133=y
CONFIG_ACPI_ALS=y
CONFIG_COMEDI_ADDI_APCI_1032=y
CONFIG_W1_MASTER_UART=y
CONFIG_LCD2S=y
CONFIG_ARCH_HAS_PARANOID_L1D_FLUSH=y
CONFIG_REGULATOR_MAX8660=y
