CONFIG_GROUP_SCHED_BANDWIDTH=n
CONFIG_NAMESPACES=n
CONFIG_IP6_NF_MATCH_IPV6HEADER=n
CONFIG_STACKPROTECTOR=n
CONFIG_POSIX_MQUEUE_SYSCTL=n
CONFIG_R8169=n
CONFIG_EDAC_SUPPORT=n
CONFIG_TRACEFS_AUTOMOUNT_DEPRECATED=n
CONFIG_PM_GENERIC_DOMAINS=n
CONFIG_VXLAN=n
CONFIG_CMODEL_MEDANY=n
CONFIG_GENERIC_BUG_RELATIVE_POINTERS=n
CONFIG_MMC_SDHCI_PLTFM=n
CONFIG_VIRTIO_INPUT=n
CONFIG_ARCH_DEFAULT_CRASH_DUMP=n
CONFIG_VIRTIO_DMA_SHARED_BUFFER=n
CONFIG_ERRATA_SIFIVE_CIP_1200=n
CONFIG_SWIOTLB=n
CONFIG_HAVE_64BIT_ALIGNED_ACCESS=n
CONFIG_SND_SOC_SPDIF=n
CONFIG_WLAN_VENDOR_BROADCOM=n
CONFIG_RD_ZSTD=n
CONFIG_SOCK_RX_QUEUE_MAPPING=n
CONFIG_HAVE_ARCH_HUGE_VMAP=n
CONFIG_SYSVIPC=n
CONFIG_MMC_DW=n
CONFIG_BPF_EVENTS=n
CONFIG_CLK_STARFIVE_JH7110_AON=n
CONFIG_ARCH_HAS_SET_MEMORY=n
CONFIG_CLK_SOPHGO_SG2042_PLL=n
CONFIG_GENERIC_IRQ_SHOW=n
CONFIG_NET_INGRESS=n
CONFIG_NET_CLS=n
CONFIG_SUN8I_DE2_CCU=n
CONFIG_MODULES_TREE_LOOKUP=n
CONFIG_CGROUP_SCHED=n
CONFIG_LLC=n
CONFIG_BLK_CGROUP_PUNT_BIO=n
CONFIG_PINCONF=n
CONFIG_SENSORS_SFCTEMP=n
CONFIG_CGROUP_WRITEBACK=n
CONFIG_NFS_V4_2=n
CONFIG_HVC_DRIVER=n
CONFIG_INITRAMFS_PRESERVE_MTIME=n
CONFIG_NET_VENDOR_NETRONOME=n
CONFIG_NET_VENDOR_CORTINA=n
CONFIG_IO_URING=n
CONFIG_PER_VMA_LOCK=n
CONFIG_CAN=n
CONFIG_ND_CLAIM=n
CONFIG_USB_F_EEM=n
CONFIG_RISCV_RPMI_SYSMSI=n
CONFIG_ARCH_SUNXI=n
CONFIG_ZSTD_COMPRESS=n
CONFIG_USB_ARCH_HAS_HCD=n
CONFIG_ARCH_HAS_PREEMPT_LAZY=n
CONFIG_ATA_SFF=n
CONFIG_JH71XX_PMU=n
CONFIG_ARCH_WANT_HUGE_PMD_SHARE=n
CONFIG_NETFILTER_ADVANCED=n
CONFIG_CLK_STARFIVE_JH7110_ISP=n
CONFIG_SECURITY_SELINUX_DEVELOP=n
CONFIG_ARCH_HAS_STRICT_KERNEL_RWX=n
CONFIG_DECOMPRESS_XZ=n
CONFIG_ARCH_HAS_DEBUG_WX=n
CONFIG_BLK_DEV_THROTTLING=n
CONFIG_ARCH_HAS_SYSCALL_WRAPPER=n
CONFIG_MQ_IOSCHED_DEADLINE=n
CONFIG_VIDEO_V4L2_I2C=n
CONFIG_MTD_MAP_BANK_WIDTH_4=n
CONFIG_SPARSEMEM_VMEMMAP_ENABLE=n
CONFIG_ETHTOOL_NETLINK=n
CONFIG_RISCV_ISA_ZBA=n
CONFIG_SND_PCM=n
CONFIG_ARCH_USE_QUEUED_RWLOCKS=n
CONFIG_SPACEMIT_K3_CCU=n
CONFIG_FB_SYS_IMAGEBLIT=n
CONFIG_PINCTRL_STARFIVE_JH7100=n
CONFIG_PNP_DEBUG_MESSAGES=n
CONFIG_DRM_VIRTIO_GPU_KMS=n
CONFIG_RTC_SYSTOHC=n
CONFIG_XZ_DEC=n
CONFIG_AUTOFS_FS=n
CONFIG_HAVE_KERNEL_GZIP=n
CONFIG_DRM_GEM_SHMEM_HELPER=n
CONFIG_PCI_ECAM=n
CONFIG_HAVE_ARCH_JUMP_LABEL_RELATIVE=n
CONFIG_DRM_NOUVEAU_BACKLIGHT=n
CONFIG_RTC_NVMEM=n
CONFIG_RISCV_ISA_C=n
CONFIG_RISCV=n
CONFIG_PCI_HOST_COMMON=n
CONFIG_DECOMPRESS_LZO=n
CONFIG_RD_BZIP2=n
CONFIG_NET_VENDOR_REALTEK=n
CONFIG_SCSI=n
CONFIG_PM_SLEEP=n
CONFIG_DRM_SUN8I_MIXER=n
CONFIG_NEED_TASKS_RCU=n
CONFIG_ARCH_THEAD=n
CONFIG_NET_SELFTESTS=n
CONFIG_CLK_SOPHGO_SG2042_RPGATE=n
CONFIG_CLK_STARFIVE_JH7110_SYS=n
CONFIG_NET_VENDOR_SIS=n
CONFIG_KVM_GENERIC_HARDWARE_ENABLING=n
CONFIG_PORTABLE=n
CONFIG_VLAN_8021Q=n
CONFIG_RISCV_INTC=n
CONFIG_BCMA_POSSIBLE=n
CONFIG_FRAMEBUFFER_CONSOLE=n
CONFIG_MOUSE_PS2_SYNAPTICS_SMBUS=n
CONFIG_ARCH_SUPPORTS_UPROBES=n
CONFIG_PINCTRL_TH1520=n
CONFIG_SMP=n
CONFIG_SPI_PL022=n
CONFIG_MEDIA_PLATFORM_DRIVERS=n
CONFIG_TASKS_TRACE_RCU=n
CONFIG_PNFS_BLOCK=n
CONFIG_ARCH_SUPPORTS_MSEAL_SYSTEM_MAPPINGS=n
CONFIG_HAVE_CLK=n
CONFIG_VIDEO=n
CONFIG_ARCH_HAS_SETUP_DMA_OPS=n
CONFIG_PHY_STARFIVE_JH7110_PCIE=n
CONFIG_VIRTIO_BLK=n
CONFIG_MFD_CORE=n
CONFIG_WLAN_VENDOR_ADMTEK=n
CONFIG_SELECT_MEMORY_MODEL=n
CONFIG_USB_CDNS3_STARFIVE=n
CONFIG_ZSTD_COMMON=n
CONFIG_NETFILTER_XTABLES=n
CONFIG_HAVE_KRETPROBES=n
CONFIG_BFQ_GROUP_IOSCHED=n
CONFIG_GENERIC_PENDING_IRQ=n
CONFIG_USB_U_ETHER=n
CONFIG_RISCV_ISA_ZICBOZ=n
CONFIG_RCU_STALL_COMMON=n
CONFIG_DEVPORT=n
CONFIG_EFI_RUNTIME_WRAPPERS=n
CONFIG_NFS_V4_2_READ_PLUS=n
CONFIG_PHY_SUN4I_USB=n
CONFIG_PWM=n
CONFIG_NET_VENDOR_3COM=n
CONFIG_STACKDEPOT=n
CONFIG_CGROUPS=n
CONFIG_QUEUED_RWLOCKS=n
CONFIG_NET_FAILOVER=n
CONFIG_HAVE_RETHOOK=n
CONFIG_POLARFIRE_SOC_IRQ_MUX=n
CONFIG_ACPI_VIDEO=n
CONFIG_FRAME_POINTER=n
CONFIG_GENERIC_GETTIMEOFDAY=n
CONFIG_CLONE_BACKWARDS=n
CONFIG_XZ_DEC_X86=n
CONFIG_INPUT_VIVALDIFMAP=n
CONFIG_ARCH_RV64I=n
CONFIG_SND_SIMPLE_CARD=n
CONFIG_BALLOON_MIGRATION=n
CONFIG_RISCV_SBI_CPUIDLE=n
CONFIG_TRACING_SUPPORT=n
CONFIG_REGULATOR=n
CONFIG_RAMDAX=n
CONFIG_USB_OHCI_LITTLE_ENDIAN=n
CONFIG_RISCV_SBI=n
CONFIG_PREEMPT_LAZY=n
CONFIG_GCC_NO_STRINGOP_OVERFLOW=n
CONFIG_BLK_DEV_PMEM=n
CONFIG_IPC_NS=n
CONFIG_SUNXI_CCU=n
CONFIG_POSIX_CPU_TIMERS_TASK_WORK=n
CONFIG_ARCH_TENSTORRENT=n
CONFIG_CRYPTO_CTR=n
CONFIG_NET_VENDOR_MELLANOX=n
CONFIG_FB_IOMEM_FOPS=n
CONFIG_SUNRPC_GSS=n
CONFIG_EFI_EARLYCON=n
CONFIG_MTD_BLOCK=n
CONFIG_DMA_DIRECT_REMAP=n
CONFIG_SCSI_PROC_FS=n
CONFIG_CRYPTO_SKCIPHER=n
CONFIG_FREEZER=n
CONFIG_CRYPTO_HASH=n
CONFIG_GPIO_DWAPB=n
CONFIG_PCIE_DW=n
CONFIG_MOUSE_PS2_LOGIPS2PP=n
CONFIG_NET_VENDOR_CHELSIO=n
CONFIG_HAVE_PREEMPT_DYNAMIC_KEY=n
CONFIG_REALTEK_PHY=n
CONFIG_CPU_FREQ_GOV_ATTR_SET=n
CONFIG_NET_VENDOR_ADAPTEC=n
CONFIG_MMIOWB=n
CONFIG_RISCV_ISA_SUPM=n
CONFIG_ARCH_USE_MEMREMAP_PROT=n
CONFIG_HOTPLUG_PARALLEL=n
CONFIG_RESET_STARFIVE_JH7110=n
CONFIG_HAVE_MOVE_PUD=n
CONFIG_RISCV_IMSIC=n
CONFIG_CPU_IDLE=n
CONFIG_HAVE_ARCH_GET_SECUREBOOT=n
CONFIG_CLK_SOPHGO_SG2042_CLKGEN=n
CONFIG_REGULATOR_AXP20X=n
CONFIG_ACPI_CPPC_CPUFREQ_FIE=n
CONFIG_GPIO_CDEV=n
CONFIG_RISCV_ISA_V=n
CONFIG_RISCV_ISA_VENDOR_EXT=n
CONFIG_HAS_DMA=n
CONFIG_USB_F_MASS_STORAGE=n
CONFIG_CRC_CCITT=n
CONFIG_ARCH_HAS_MMIOWB=n
CONFIG_CLK_STARFIVE_JH7110_VOUT=n
CONFIG_NET_VENDOR_NI=n
CONFIG_MTD_CFI_NOSWAP=n
CONFIG_REGULATOR_SUN20I=n
CONFIG_USB_CONFIGFS_MASS_STORAGE=n
CONFIG_GENERIC_PCI_IOMAP=n
CONFIG_TOOLCHAIN_HAS_ZBB=n
CONFIG_USB_MUSB_SUNXI=n
CONFIG_HAVE_PERF_REGS=n
CONFIG_SERIO_SERPORT=n
CONFIG_LTO_NONE=n
CONFIG_DRM_PANEL_BRIDGE=n
CONFIG_ARCH_HAS_PTE_SPECIAL=n
CONFIG_FIXED_PHY=n
CONFIG_SND_VERBOSE_PROCFS=n
CONFIG_MTD_BLKDEVS=n
CONFIG_ARCH_WEAK_RELEASE_ACQUIRE=n
CONFIG_MPILIB=n
CONFIG_FS_POSIX_ACL=n
CONFIG_RISCV_APLIC=n
CONFIG_NFS_V4_0=n
CONFIG_HAVE_PCI=n
CONFIG_DRM_EXEC=n
CONFIG_MEDIA_HIDE_ANCILLARY_SUBDRV=n
CONFIG_INET_ESP=n
CONFIG_GENERIC_HWEIGHT=n
CONFIG_MTD_SPI_NOR=n
CONFIG_GCC10_NO_ARRAY_BOUNDS=n
CONFIG_ARCH_SUSPEND_POSSIBLE=n
CONFIG_GENERIC_EARLY_IOREMAP=n
CONFIG_ELFCORE=n
CONFIG_KEYS=n
CONFIG_OF=n
CONFIG_HAS_IOPORT=n
CONFIG_SWAP=n
CONFIG_DMA_COHERENT_POOL=n
CONFIG_CPU_MITIGATIONS=n
CONFIG_USB_NET_DRIVERS=n
CONFIG_NET_VENDOR_RDC=n
CONFIG_DMIID=n
CONFIG_POWER_RESET_SPACEMIT_P1=n
CONFIG_CAN_DEV=n
CONFIG_NFS_DISABLE_UDP_SUPPORT=n
CONFIG_USB_CDNS3=n
CONFIG_EFIVAR_FS=n
CONFIG_VIRTIO_PCI_LEGACY=n
CONFIG_TIMERFD=n
CONFIG_SPI=n
CONFIG_GENERIC_MSI_IRQ=n
CONFIG_HAVE_ARCH_SOFT_DIRTY=n
CONFIG_CRC_OPTIMIZATIONS=n
CONFIG_PCI_LABEL=n
CONFIG_WLAN_VENDOR_ATMEL=n
CONFIG_NET_L3_MASTER_DEV=n
CONFIG_DEBUG_BUGVERBOSE=n
CONFIG_ATA_VERBOSE_ERROR=n
CONFIG_ARCH_HAS_MEMBARRIER_CALLBACKS=n
CONFIG_VGA_ARB=n
CONFIG_ACPI_THERMAL_LIB=n
CONFIG_USB_CONFIGFS_RNDIS=n
CONFIG_SUNRPC=n
CONFIG_ARCH_HAS_STRICT_MODULE_RWX=n
CONFIG_ZLIB_DEFLATE=n
CONFIG_POSIX_MQUEUE=n
CONFIG_HAVE_KERNEL_LZMA=n
CONFIG_ARCH_KEEP_MEMBLOCK=n
CONFIG_HAVE_KVM_DIRTY_RING=n
CONFIG_RING_BUFFER=n
CONFIG_ACPI_CPPC_LIB=n
CONFIG_PINCTRL=n
CONFIG_PCI_DOMAINS_GENERIC=n
CONFIG_HWMON=n
CONFIG_DMA_SHARED_BUFFER=n
CONFIG_BLK_DEV_BSG=n
CONFIG_NET_VENDOR_ATHEROS=n
CONFIG_HAVE_GCC_PLUGINS=n
CONFIG_NFS_V4_SECURITY_LABEL=n
CONFIG_NET_VENDOR_TI=n
CONFIG_ARCH_SUPPORTS_CFI=n
CONFIG_HRTIMER_REARM_DEFERRED=n
CONFIG_USB_EHCI_HCD=n
CONFIG_ARCH_HAS_BINFMT_FLAT=n
CONFIG_NET_VENDOR_MICREL=n
CONFIG_PAGE_SIZE_LESS_THAN_64KB=n
CONFIG_BRIDGE_VLAN_FILTERING=n
CONFIG_SYSFS=n
CONFIG_SLUB=n
CONFIG_RAID6_PQ=n
CONFIG_SND_SOC_GENERIC_DMAENGINE_PCM=n
CONFIG_DWMAC_THEAD=n
CONFIG_FAILOVER=n
CONFIG_GUEST_PERF_EVENTS=n
