CONFIG_GLOB=n
CONFIG_RELOCATABLE=n
CONFIG_FW_LOADER=n
CONFIG_LOCK_DEBUGGING_SUPPORT=n
CONFIG_PCMCIA_LOAD_CIS=n
CONFIG_PM=n
CONFIG_ARCH_SUPPORTS_PAGE_TABLE_CHECK=n
CONFIG_USB=n
CONFIG_BLK_CGROUP_IOLATENCY=n
CONFIG_MD=n
CONFIG_GENERIC_SYSCALL=n
CONFIG_ACPI_THERMAL=n
CONFIG_ASN1=n
CONFIG_TASK_IO_ACCOUNTING=n
CONFIG_APERTURE_HELPERS=n
CONFIG_SGL_ALLOC=n
CONFIG_ARCH_WANT_LD_ORPHAN_WARN=n
CONFIG_NETFILTER_XT_TARGET_NFLOG=n
CONFIG_BLK_DEV_DM=n
CONFIG_NET_VENDOR_VIA=n
CONFIG_CLKBLD_I8253=n
CONFIG_X86_REQUIRED_FEATURE_CMOV=n
CONFIG_NETFILTER_SKIP_EGRESS=n
CONFIG_NEW_LEDS=n
CONFIG_ARCH_SUPPORTS_NUMA_BALANCING=n
CONFIG_DEBUG_BUGVERBOSE=n
CONFIG_X86_DISABLED_FEATURE_LAM=n
CONFIG_NET_VENDOR_SMSC=n
CONFIG_SYNC_FILE=n
CONFIG_IOSF_MBI=n
CONFIG_GENERIC_PENDING_IRQ=n
CONFIG_CRYPTO_AEAD=n
CONFIG_VMAP_STACK=n
CONFIG_BQL=n
CONFIG_DEBUG_WX=n
CONFIG_LOCKD=n
CONFIG_HAVE_RUST=n
CONFIG_PATA_OLDPIIX=n
CONFIG_MOUSE_PS2=n
CONFIG_CGROUP_DEBUG=n
CONFIG_DEBUG_FS_ALLOW_ALL=n
CONFIG_ARCH_SUPPORTS_KEXEC_BZIMAGE_VERIFY_SIG=n
CONFIG_BINARY_PRINTF=n
CONFIG_WLAN=n
CONFIG_VMAP_PFN=n
CONFIG_NETFILTER_XT_TARGET_LOG=n
CONFIG_NET_INGRESS=n
CONFIG_HIBERNATE_CALLBACKS=n
CONFIG_MISC_FILESYSTEMS=n
CONFIG_ELFCORE=n
CONFIG_ARCH_WANT_GENERAL_HUGETLB=n
CONFIG_NET_VENDOR_SEEQ=n
CONFIG_ZONE_DMA=n
CONFIG_SND_DRIVERS=n
CONFIG_SERIAL_8250_CONSOLE=n
CONFIG_PPS=n
CONFIG_WLAN_VENDOR_TI=n
CONFIG_ARCH_HAS_PTDUMP=n
CONFIG_ACPI_NHLT=n
CONFIG_SYSVIPC_COMPAT=n
CONFIG_ACPI_EC=n
CONFIG_DRM_KMS_HELPER=n
CONFIG_GENERIC_IRQ_ENTRY=n
CONFIG_X86_AMD_PSTATE=n
CONFIG_CRYPTO_AKCIPHER=n
CONFIG_INET6_ESP=n
CONFIG_SCSI_COMMON=n
CONFIG_CRYPTO_LIB_GF128HASH_ARCH=n
CONFIG_RD_LZO=n
CONFIG_DUMMY_CONSOLE=n
CONFIG_NET_VENDOR_AQUANTIA=n
CONFIG_SND_CTL_FAST_LOOKUP=n
CONFIG_KERNFS=n
CONFIG_VGA_CONSOLE=n
CONFIG_PROC_PID_ARCH_STATUS=n
CONFIG_ACPI_MRRM=n
CONFIG_SECURITY_SELINUX_DEVELOP=n
CONFIG_ARCH_HAS_KERNEL_FPU_SUPPORT=n
CONFIG_CC_HAS_AUTO_VAR_INIT_PATTERN=n
CONFIG_BINFMT_SCRIPT=n
CONFIG_USB_HID=n
CONFIG_PM_SLEEP=n
CONFIG_ARCH_HAS_HW_PTE_YOUNG=n
CONFIG_PCI_LABEL=n
CONFIG_PARAVIRT_CLOCK=n
CONFIG_THERMAL_GOV_STEP_WISE=n
CONFIG_CALL_THUNKS=n
CONFIG_SND_PCM_TIMER=n
CONFIG_ACPI_PCC=n
CONFIG_X86_DISABLED_FEATURE_K6_MTRR=n
CONFIG_HAVE_PAGE_SIZE_4KB=n
CONFIG_ARCH_SUPPORTS_KEXEC_HANDOVER=n
CONFIG_PM_DEBUG=n
CONFIG_NETCONSOLE=n
CONFIG_WLAN_VENDOR_MICROCHIP=n
CONFIG_GENERIC_GETTIMEOFDAY=n
CONFIG_SND_HWDEP=n
CONFIG_ZLIB_INFLATE=n
CONFIG_PTP_1588_CLOCK_KVM=n
CONFIG_HAVE_JUMP_LABEL_HACK=n
CONFIG_MAGIC_SYSRQ=n
CONFIG_TASKSTATS=n
CONFIG_SERIAL_8250=n
CONFIG_SCHED_MC=n
CONFIG_FAIR_GROUP_SCHED=n
CONFIG_GENERIC_NET_UTILS=n
CONFIG_WLAN_VENDOR_ST=n
CONFIG_R8169=n
CONFIG_X86_DISABLED_FEATURE_USER_SHSTK=n
CONFIG_NETWORK_SECMARK=n
CONFIG_IRQ_REMAP=n
CONFIG_STRICT_DEVMEM=n
CONFIG_SERIAL_8250_DWLIB=n
CONFIG_TRACING_SUPPORT=n
CONFIG_FUNCTION_ALIGNMENT_16B=n
CONFIG_PREEMPT_COUNT=n
CONFIG_CRASH_HOTPLUG=n
CONFIG_IP_ADVANCED_ROUTER=n
CONFIG_ZSTD_COMMON=n
CONFIG_SWIOTLB=n
CONFIG_BPF=n
CONFIG_X86_SUPPORTS_MEMORY_FAILURE=n
CONFIG_NET_CLS_CGROUP=n
CONFIG_HAVE_IOREMAP_PROT=n
CONFIG_X86_PAT=n
CONFIG_GENERIC_MSI_IRQ=n
CONFIG_IP_PIMSM_V2=n
CONFIG_EFI=n
CONFIG_HAVE_MMIOTRACE_SUPPORT=n
CONFIG_HAVE_CONTEXT_TRACKING_USER_OFFSTACK=n
CONFIG_X86_REQUIRED_FEATURE_LM=n
CONFIG_X86_REQUIRED_FEATURE_PAE=n
CONFIG_SERIAL_8250_SHARE_IRQ=n
CONFIG_RANDOMIZE_MEMORY=n
CONFIG_ARCH_USE_MEMREMAP_PROT=n
CONFIG_HW_RANDOM_VIA=n
CONFIG_CC_HAS_INT128=n
CONFIG_PCIE_PME=n
CONFIG_NET_VENDOR_WANGXUN=n
CONFIG_X86_VMX_FEATURE_NAMES=n
CONFIG_BLK_DEV_INITRD=n
CONFIG_BUFFER_HEAD=n
CONFIG_ARCH_HAS_FORTIFY_SOURCE=n
CONFIG_NET_VENDOR_PENSANDO=n
CONFIG_HOTPLUG_SMT=n
CONFIG_NET_9P_FD=n
CONFIG_SERIAL_8250_RSA=n
CONFIG_EFI_ESRT=n
CONFIG_HAVE_MOVE_PMD=n
CONFIG_HAVE_FENTRY=n
CONFIG_XFRM_ESP=n
CONFIG_SCHED_SMT=n
CONFIG_HAVE_STATIC_CALL=n
CONFIG_USE_PERCPU_NUMA_NODE_ID=n
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE=n
CONFIG_FUNCTION_ALIGNMENT_4B=n
CONFIG_DRM_VIRTIO_GPU=n
CONFIG_HAVE_CALL_THUNKS=n
CONFIG_ARCH_USE_QUEUED_SPINLOCKS=n
CONFIG_PNPACPI=n
CONFIG_CALL_PADDING=n
CONFIG_PAGE_COUNTER=n
CONFIG_GROUP_SCHED_WEIGHT=n
CONFIG_NET_FLOW_LIMIT=n
CONFIG_USB_OHCI_HCD_PCI=n
CONFIG_LZO_COMPRESS=n
CONFIG_ARCH_HAS_ACPI_TABLE_UPGRADE=n
CONFIG_PAGE_SIZE_LESS_THAN_256KB=n
CONFIG_CFG80211_USE_KERNEL_REGDB_KEYS=n
CONFIG_DW_DMAC_CORE=n
CONFIG_SUSPEND_FREEZER=n
CONFIG_RD_XZ=n
CONFIG_CC_HAS_SLS=n
CONFIG_IOMMU_API=n
CONFIG_HID_NTRIG=n
CONFIG_NF_LOG_IPV6=n
CONFIG_8139TOO=n
CONFIG_HID=n
CONFIG_PROC_FS=n
CONFIG_USB_ANNOUNCE_NEW_DEVICES=n
CONFIG_MICROCODE=n
CONFIG_PCI_DIRECT=n
CONFIG_CRYPTO_LIB_MD5=n
CONFIG_WLAN_VENDOR_QUANTENNA=n
CONFIG_CRASH_DUMP=n
CONFIG_NET_VENDOR_META=n
CONFIG_ARCH_HAS_GENERIC_CRASHKERNEL_RESERVATION=n
CONFIG_ETHERNET=n
CONFIG_X86_REQUIRED_FEATURE_FPU=n
CONFIG_I2C_ALGOBIT=n
CONFIG_HAVE_ARCH_THREAD_STRUCT_WHITELIST=n
CONFIG_TRACE_CLOCK=n
CONFIG_IP_ROUTE_VERBOSE=n
CONFIG_SECCOMP_FILTER=n
CONFIG_HRTIMER_REARM_DEFERRED=n
CONFIG_HID_PID=n
CONFIG_PREFIX_SYMBOLS=n
CONFIG_NET_DEVMEM=n
CONFIG_NO_HZ_IDLE=n
CONFIG_HAVE_KCSAN_COMPILER=n
CONFIG_NET_VENDOR_HISILICON=n
CONFIG_MODIFY_LDT_SYSCALL=n
CONFIG_XZ_DEC_ARMTHUMB=n
CONFIG_VIRTIO_CONSOLE=n
CONFIG_KVM_GUEST=n
CONFIG_FS_POSIX_ACL=n
CONFIG_SWAP=n
CONFIG_ARCH_ENABLE_SPLIT_PMD_PTLOCK=n
CONFIG_PREEMPT_RCU=n
CONFIG_EVENT_TRACING=n
CONFIG_PATA_AMD=n
CONFIG_ARCH_WANTS_NO_INSTR=n
CONFIG_SCSI_CONSTANTS=n
CONFIG_PERF_EVENTS_INTEL_UNCORE=n
CONFIG_HAVE_ALIGNED_STRUCT_PAGE=n
CONFIG_X86_HV_CALLBACK_VECTOR=n
CONFIG_NF_LOG_ARP=n
CONFIG_CRYPTO=n
CONFIG_IP_PNP_DHCP=n
CONFIG_X86_THERMAL_VECTOR=n
CONFIG_SND_VMASTER=n
CONFIG_XFRM_ALGO=n
CONFIG_HAVE_KPROBES=n
CONFIG_HAVE_ARCH_PREL32_RELOCATIONS=n
CONFIG_NET_VENDOR_INTEL=n
CONFIG_CRC32_ARCH=n
CONFIG_MITIGATION_SRSO=n
CONFIG_DRM_I915_COMPRESS_ERROR=n
CONFIG_RTC_MC146818_LIB=n
CONFIG_NO_HZ_COMMON=n
CONFIG_INPUT_KEYBOARD=n
CONFIG_SERIAL_8250_EXTENDED=n
CONFIG_NFS_ACL_SUPPORT=n
CONFIG_PATA_TIMINGS=n
CONFIG_HID_TOPSEED=n
CONFIG_DMA_ACPI=n
CONFIG_SLUB=n
CONFIG_ACPI_VIDEO=n
CONFIG_SKB_EXTENSIONS=n
CONFIG_HAVE_CMPXCHG_DOUBLE=n
CONFIG_VIRTIO_MENU=n
CONFIG_HAVE_ARCH_JUMP_LABEL_RELATIVE=n
CONFIG_AS_HAS_NON_CONST_ULEB128=n
CONFIG_INOTIFY_USER=n
CONFIG_PROC_PAGE_MONITOR=n
CONFIG_CRYPTO_HASH_INFO=n
CONFIG_MOUSE_PS2_ALPS=n
CONFIG_CONTEXT_TRACKING=n
CONFIG_NF_CONNTRACK_SECMARK=n
CONFIG_HAVE_FUNCTION_ARG_ACCESS_API=n
CONFIG_ARCH_SUSPEND_POSSIBLE=n
CONFIG_KEXEC=n
CONFIG_HOTPLUG_CORE_SYNC=n
CONFIG_CRYPTO_LIB_BLAKE2S_ARCH=n
CONFIG_DECOMPRESS_LZ4=n
CONFIG_PCI_PRI=n
CONFIG_BLK_RQ_ALLOC_TIME=n
CONFIG_ARCH_HAS_NMI_SAFE_THIS_CPU_OPS=n
CONFIG_NET_EGRESS=n
CONFIG_USB_XHCI_HCD=n
CONFIG_FIB_RULES=n
CONFIG_INET=n
CONFIG_NET_CLS=n
CONFIG_SERIAL_8250_PCILIB=n
CONFIG_COMPAT_FOR_U64_ALIGNMENT=n
CONFIG_OLD_SIGSUSPEND3=n
CONFIG_MITIGATION_RETPOLINE=n
CONFIG_KEYBOARD_ATKBD=n
CONFIG_X86_REQUIRED_FEATURE_ALWAYS=n
CONFIG_SND_DMA_SGBUF=n
CONFIG_DRM_CLIENT_SELECTION=n
CONFIG_STACKTRACE_SUPPORT=n
CONFIG_INPUT_MISC=n
CONFIG_NF_CT_NETLINK=n
CONFIG_MSDOS_PARTITION=n
CONFIG_CRYPTO_GCM=n
CONFIG_WLAN_VENDOR_ADMTEK=n
CONFIG_FUTEX_PI=n
CONFIG_ARCH_HAS_UACCESS_FLUSHCACHE=n
CONFIG_ARCH_HAS_KCOV=n
CONFIG_HAVE_SAMPLE_FTRACE_DIRECT=n
CONFIG_RTC_INTF_PROC=n
CONFIG_CRYPTO_RSA=n
CONFIG_ARCH_MIGHT_HAVE_PC_SERIO=n
CONFIG_INITRAMFS_PRESERVE_MTIME=n
CONFIG_XXHASH=n
CONFIG_CRYPTO_AUTHENC=n
CONFIG_CONSOLE_TRANSLATIONS=n
CONFIG_RSEQ=n
CONFIG_WLAN_VENDOR_RSI=n
CONFIG_LZO_DECOMPRESS=n
CONFIG_SND_INTEL_SOUNDWIRE_ACPI=n
CONFIG_MACINTOSH_DRIVERS=n
CONFIG_IRQ_DOMAIN=n
CONFIG_X86_VSYSCALL_EMULATION=n
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO_BARE=n
CONFIG_SUNRPC=n
CONFIG_NET_PTP_CLASSIFY=n
CONFIG_AS_IS_GNU=n
CONFIG_INSTRUCTION_DECODER=n
