CONFIG_BLK_CGROUP_IOPRIO=n
CONFIG_SOCK_RX_QUEUE_MAPPING=n
CONFIG_NFS_V3_ACL=n
CONFIG_MMU_GATHER_RCU_TABLE_FREE=n
CONFIG_ARCH_HAS_CACHE_LINE_SIZE=n
CONFIG_DRM_KMS_HELPER=n
CONFIG_DEBUG_STACK_USAGE=n
CONFIG_UID16=n
CONFIG_IA32_FEAT_CTL=n
CONFIG_NET_CLS_ACT=n
CONFIG_BNX2=n
CONFIG_DMA_OPS_HELPERS=n
CONFIG_X86_REQUIRED_FEATURE_FPU=n
CONFIG_MITIGATION_GDS=n
CONFIG_HRTIMER_REARM_DEFERRED=n
CONFIG_CRYPTO_SKCIPHER2=n
CONFIG_AUDIT=n
CONFIG_FONT_AUTOSELECT=n
CONFIG_SND_SEQ_DUMMY=n
CONFIG_ISO9660_FS=n
CONFIG_VMAP_PFN=n
CONFIG_DQL=n
CONFIG_USB_COMMON=n
CONFIG_HAVE_STACKPROTECTOR=n
CONFIG_CARDBUS=n
CONFIG_ACPI_TABLE_UPGRADE=n
CONFIG_ATA_FORCE=n
CONFIG_BLK_DEV_SD=n
CONFIG_WLAN_VENDOR_RALINK=n
CONFIG_HAVE_KERNEL_BZIP2=n
CONFIG_DMA_SHARED_BUFFER=n
CONFIG_TASK_DELAY_ACCT=n
CONFIG_ACPI_DEBUG=n
CONFIG_IOSF_MBI=n
CONFIG_X86_HV_CALLBACK_VECTOR=n
CONFIG_NF_NAT_FTP=n
CONFIG_NET_DEVMEM=n
CONFIG_CPU_FREQ_GOV_PERFORMANCE=n
CONFIG_ACPI_REV_OVERRIDE_POSSIBLE=n
CONFIG_PATA_OLDPIIX=n
CONFIG_ACPI_SYSTEM_POWER_STATES_SUPPORT=n
CONFIG_CRYPTO_SHA256=n
CONFIG_NETDEVICES=n
CONFIG_AUXILIARY_BUS=n
CONFIG_HAVE_ARCH_RANDOMIZE_KSTACK_OFFSET=n
CONFIG_SERIAL_8250_MID=n
CONFIG_HAVE_PCSPKR_PLATFORM=n
CONFIG_RANDOMIZE_KSTACK_OFFSET=n
CONFIG_FIB_RULES=n
CONFIG_GENERIC_SYSCALL=n
CONFIG_TMPFS=n
CONFIG_NFS_FS=n
CONFIG_MITIGATION_RFDS=n
CONFIG_RCU_NEED_SEGCBLIST=n
CONFIG_HAS_IOPORT_MAP=n
CONFIG_DNOTIFY=n
CONFIG_9P_FS=n
CONFIG_HAVE_MOVE_PUD=n
CONFIG_X86_DISABLED_FEATURE_PTI=n
CONFIG_NET=n
CONFIG_TTY=n
CONFIG_IPV6_SIT=n
CONFIG_LZ4_DECOMPRESS=n
CONFIG_WLAN_VENDOR_BROADCOM=n
CONFIG_CPU_FREQ_GOV_SCHEDUTIL=n
CONFIG_TMPFS_XATTR=n
CONFIG_SCSI_MOD=n
CONFIG_SERIAL_CORE=n
CONFIG_PHY_PACKAGE=n
CONFIG_HAVE_REGS_AND_STACK_ACCESS_API=n
CONFIG_ARCH_FLATMEM_ENABLE=n
CONFIG_SND_HDA_I915=n
CONFIG_HAVE_C_RECORDMCOUNT=n
CONFIG_NET_VENDOR_OKI=n
CONFIG_HAVE_HW_BREAKPOINT=n
CONFIG_DRM_DISPLAY_HDCP_HELPER=n
CONFIG_ACPI_THERMAL=n
CONFIG_I2C=n
CONFIG_WLAN_VENDOR_REALTEK=n
CONFIG_NO_HZ=n
CONFIG_PCIE_PME=n
CONFIG_IP_PNP_RARP=n
CONFIG_SCREEN_INFO=n
CONFIG_GENERIC_IOMAP=n
CONFIG_GPIOLIB_LEGACY=n
CONFIG_XZ_DEC_X86=n
CONFIG_PROC_KCORE=n
CONFIG_VGA_ARB=n
CONFIG_STACKPROTECTOR=n
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE=n
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST_IDLE=n
CONFIG_CC_HAS_ASM_INLINE=n
CONFIG_MAC80211_HAS_RC=n
CONFIG_ARCH_HAS_CPU_RELAX=n
CONFIG_FUNCTION_ALIGNMENT_4B=n
CONFIG_PCI_LOCKLESS_CONFIG=n
CONFIG_EFI_CUSTOM_SSDT_OVERLAYS=n
CONFIG_REALTEK_PHY=n
CONFIG_SCHED_INFO=n
CONFIG_NET_VENDOR_CHELSIO=n
CONFIG_SERIAL_8250_PCI=n
CONFIG_SCHED_HRTICK=n
CONFIG_HID_TOPSEED=n
CONFIG_VIRTIO_PCI_LIB_LEGACY=n
CONFIG_X86_DISABLED_FEATURE_OSPKE=n
CONFIG_SERIAL_8250_PERICOM=n
CONFIG_NETPOLL=n
CONFIG_HAVE_ARCH_JUMP_LABEL=n
CONFIG_USB_HID=n
CONFIG_STRICT_MODULE_RWX=n
CONFIG_X86_SUPPORTS_MEMORY_FAILURE=n
CONFIG_RT_MUTEXES=n
CONFIG_I2C_SMBUS=n
CONFIG_MTRR=n
CONFIG_HW_RANDOM_VIA=n
CONFIG_ZSTD_COMMON=n
CONFIG_MODULE_UNLOAD=n
CONFIG_INPUT_JOYSTICK=n
CONFIG_EXCLUSIVE_SYSTEM_RAM=n
CONFIG_IP_NF_IPTABLES=n
CONFIG_SATA_AHCI=n
CONFIG_XZ_DEC_RISCV=n
CONFIG_RD_BZIP2=n
CONFIG_CPU_FREQ_DEFAULT_GOV_USERSPACE=n
CONFIG_CRYPTO_ECHAINIV=n
CONFIG_INTEGRITY_AUDIT=n
CONFIG_TREE_RCU=n
CONFIG_SERIAL_8250_CONSOLE=n
CONFIG_SCHED_MM_CID=n
CONFIG_KCMP=n
CONFIG_ARCH_SPARSEMEM_ENABLE=n
CONFIG_CC_HAS_RETURN_THUNK=n
CONFIG_X86_VMX_FEATURE_NAMES=n
CONFIG_IP_MULTIPLE_TABLES=n
CONFIG_ARCH_WANT_FRAME_POINTERS=n
CONFIG_NET_EGRESS=n
CONFIG_NOP_TRACER=n
CONFIG_GENERIC_VDSO_OVERFLOW_PROTECT=n
CONFIG_PRINTK_TIME=n
CONFIG_FUTEX_PRIVATE_HASH=n
CONFIG_HIGH_RES_TIMERS=n
CONFIG_I2C_HELPER_AUTO=n
CONFIG_SECURITY_SELINUX_BOOTPARAM=n
CONFIG_HAVE_KPROBES=n
CONFIG_MAC80211_RC_MINSTREL=n
CONFIG_LDISC_AUTOLOAD=n
CONFIG_TIME_NS=n
CONFIG_KMAP_LOCAL=n
CONFIG_STACKDEPOT=n
CONFIG_X86_MCE_THRESHOLD=n
CONFIG_ACPI_DOCK=n
CONFIG_X86_PLATFORM_DEVICES=n
CONFIG_X86_DISABLED_FEATURE_USER_SHSTK=n
CONFIG_MICROCODE=n
CONFIG_HIBERNATION_COMP_LZO=n
CONFIG_FIRMWARE_MEMMAP=n
CONFIG_TREE_SRCU=n
CONFIG_X86_DISABLED_FEATURE_LAM=n
CONFIG_CRYPTO_ALGAPI2=n
CONFIG_SBITMAP=n
CONFIG_ARCH_USE_QUEUED_RWLOCKS=n
CONFIG_THERMAL_HWMON=n
CONFIG_PREEMPTION=n
CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE=n
CONFIG_LEDS_TRIGGERS=n
CONFIG_YENTA_O2=n
CONFIG_SERIAL_NONSTANDARD=n
CONFIG_AUTOFS_FS=n
CONFIG_PCIEASPM_DEFAULT=n
CONFIG_HAS_IOMEM=n
CONFIG_ARCH_SUPPORTS_ATOMIC_RMW=n
CONFIG_USB=n
CONFIG_FW_LOADER=n
CONFIG_NF_CONNTRACK_IRC=n
CONFIG_IP_PNP_BOOTP=n
CONFIG_CFG80211_REQUIRE_SIGNED_REGDB=n
CONFIG_ARCH_SUPPORTS_UPROBES=n
CONFIG_ACPI_LEGACY_TABLES_LOOKUP=n
CONFIG_PNP=n
CONFIG_NFS_V4_0=n
CONFIG_LZO_DECOMPRESS=n
CONFIG_HAVE_KERNEL_LZ4=n
CONFIG_X86_16BIT=n
CONFIG_MD_AUTODETECT=n
CONFIG_ARCH_HAS_CPU_ATTACK_VECTORS=n
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO=n
CONFIG_PM_SLEEP_DEBUG=n
CONFIG_CGROUP_PIDS=n
CONFIG_HAVE_DYNAMIC_FTRACE=n
CONFIG_APERTURE_HELPERS=n
CONFIG_IOMMU_DEFAULT_DMA_LAZY=n
CONFIG_GCC_ASM_GOTO_OUTPUT_BROKEN=n
CONFIG_X86_REQUIRED_FEATURE_ALWAYS=n
CONFIG_ARCH_SUPPORTS_SCHED_SMT=n
CONFIG_ARCH_WANT_IPC_PARSE_VERSION=n
CONFIG_SND_SEQUENCER=n
CONFIG_ACPI_MDIO=n
CONFIG_INET6_ESP=n
CONFIG_PCMCIA=n
CONFIG_ACPI_BATTERY=n
CONFIG_EFI_DXE_MEM_ATTRIBUTES=n
CONFIG_HAVE_GUP_FAST=n
CONFIG_CONTEXT_TRACKING=n
CONFIG_BLK_DEV=n
CONFIG_GENERIC_CMOS_UPDATE=n
CONFIG_SECURITY=n
CONFIG_ARCH_USES_PG_ARCH_2=n
CONFIG_NET_VENDOR_MICROCHIP=n
CONFIG_RD_GZIP=n
CONFIG_ELFCORE=n
CONFIG_WLAN_VENDOR_ZYDAS=n
CONFIG_RD_XZ=n
CONFIG_RSEQ=n
CONFIG_RING_BUFFER=n
CONFIG_ETHTOOL_NETLINK=n
CONFIG_ACPI_PLATFORM_PROFILE=n
CONFIG_NETFILTER_XT_TARGET_LOG=n
CONFIG_FHANDLE=n
CONFIG_INPUT_EVDEV=n
CONFIG_X86_INTEL_PSTATE=n
CONFIG_JBD2=n
CONFIG_OPTPROBES=n
CONFIG_DW_DMAC_CORE=n
CONFIG_NEED_TASKS_RCU=n
CONFIG_PTP_1588_CLOCK=n
CONFIG_X86_AMD_PSTATE=n
CONFIG_SCSI_CONSTANTS=n
CONFIG_PTP_1588_CLOCK_KVM=n
CONFIG_ACPI_CPU_FREQ_PSS=n
CONFIG_CGROUP_FREEZER=n
CONFIG_PCI_DOMAINS=n
CONFIG_SND_VMASTER=n
CONFIG_KPROBES=n
CONFIG_SCHED_MC_PRIO=n
CONFIG_CC_HAS_KASAN_GENERIC=n
CONFIG_CC_HAS_IBT=n
CONFIG_HAS_SECURITY_AUDIT=n
CONFIG_CLKSRC_I8253=n
CONFIG_HAVE_GENERIC_VDSO=n
CONFIG_X86_DISABLED_FEATURE_XENPV=n
CONFIG_NF_REJECT_IPV6=n
CONFIG_PGTABLE_HAS_HUGE_LEAVES=n
CONFIG_ARCH_STACKWALK=n
CONFIG_HAVE_FTRACE_GRAPH_FUNC=n
CONFIG_NET_VENDOR_CISCO=n
CONFIG_EFIVAR_FS=n
CONFIG_BLK_DEV_IO_TRACE=n
CONFIG_UNINLINE_SPIN_UNLOCK=n
CONFIG_ISA_DMA_API=n
CONFIG_X86_BUS_LOCK_DETECT=n
CONFIG_NET_VENDOR_ATHEROS=n
CONFIG_MOUSE_PS2_CYPRESS=n
CONFIG_NET_VENDOR_DLINK=n
CONFIG_ARCH_WANT_LD_ORPHAN_WARN=n
CONFIG_AGP_AMD64=n
CONFIG_MOUSE_PS2_SMBUS=n
CONFIG_OLD_SIGACTION=n
CONFIG_DRM_DISPLAY_HELPER=n
CONFIG_E1000=n
CONFIG_ACPI_AC=n
CONFIG_MITIGATION_RETBLEED=n
CONFIG_NET_VENDOR_MICROSOFT=n
CONFIG_PAGE_COUNTER=n
CONFIG_TCP_CONG_ADVANCED=n
CONFIG_SOCK_CGROUP_DATA=n
CONFIG_VIRTIO_INPUT=n
CONFIG_NET_VENDOR_MUCSE=n
CONFIG_GENERIC_ISA_DMA=n
CONFIG_BQL=n
CONFIG_X86_ACPI_CPUFREQ=n
CONFIG_KPROBE_EVENTS=n
CONFIG_POSIX_TIMERS=n
CONFIG_HAVE_KERNEL_XZ=n
CONFIG_ARCH_HAS_NMI_SAFE_THIS_CPU_OPS=n
CONFIG_POSIX_CPU_TIMERS_TASK_WORK=n
CONFIG_CRC16=n
CONFIG_CLKBLD_I8253=n
CONFIG_WLAN_VENDOR_MARVELL=n
CONFIG_MOUSE_PS2_FOCALTECH=n
CONFIG_IP_ROUTE_VERBOSE=n
CONFIG_HAVE_PERF_EVENTS_NMI=n
CONFIG_NET_VENDOR_LITEX=n
CONFIG_DRM_MIPI_DSI=n
CONFIG_HAVE_EBPF_JIT=n
CONFIG_ARCH_USE_MEMTEST=n
CONFIG_THERMAL_DEFAULT_GOV_STEP_WISE=n
CONFIG_RANDSTRUCT_NONE=n
CONFIG_USB_MON=n
CONFIG_CRYPTO_LIB_AES_CBC_MACS=n
CONFIG_DECOMPRESS_LZMA=n
CONFIG_ARCH_MIGHT_HAVE_PC_SERIO=n
CONFIG_PREVENT_FIRMWARE_BUILD=n
CONFIG_USB_DEFAULT_PERSIST=n
CONFIG_TIMERFD=n
CONFIG_X86_IOPL_IOPERM=n
CONFIG_SLAB_MERGE_DEFAULT=n
CONFIG_ARCH_MIGHT_HAVE_ACPI_PDC=n
CONFIG_CRYPTO_MANAGER2=n
CONFIG_MITIGATION_MMIO_STALE_DATA=n
CONFIG_FLATMEM=n
