CONFIG_W1_SLAVE_DS2423=y
CONFIG_DEBUG_LOCKING_API_SELFTESTS=y
CONFIG_TCM_FC=y
CONFIG_USB_GADGET_DEBUG_FS=y
CONFIG_COMMON_CLK_CDCE706=y
CONFIG_LD_ORPHAN_WARN=y
CONFIG_REGULATOR_MC13XXX_CORE=y
CONFIG_DPLL=y
CONFIG_SERIO_SERPORT=y
CONFIG_GPIO_SYSCON=y
CONFIG_BMA400_I2C=y
CONFIG_AD2S1200=y
CONFIG_MHI_BUS=y
CONFIG_CGROUPS=y
CONFIG_SERIO_ARC_PS2=y
CONFIG_DW_AXI_DMAC=y
CONFIG_TMPFS=y
CONFIG_EXTCON_PALMAS=y
CONFIG_USB_MAX3420_UDC=y
CONFIG_HAVE_ARCH_MMAP_RND_COMPAT_BITS=y
CONFIG_TRACE_IRQFLAGS=y
CONFIG_LEDS_ST1202=y
CONFIG_MTD_NAND_NANDSIM=y
CONFIG_MLX5_VDPA=y
CONFIG_MTD_UBI=y
CONFIG_HAVE_GIGANTIC_FOLIOS=y
CONFIG_AFFS_FS=y
CONFIG_GOOGLE_FIRMWARE=y
CONFIG_NVMEM_LAYOUT_SL28_VPD=y
CONFIG_BACKLIGHT_CGBC=y
CONFIG_USB_STORAGE_JUMPSHOT=y
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_JMP=y
CONFIG_MFD_RN5T618=y
CONFIG_PINCTRL_MAX77620=y
CONFIG_SENSORS_MC13783_ADC=y
CONFIG_HAVE_STACK_VALIDATION=y
CONFIG_OF_UNITTEST=y
CONFIG_AD5696_I2C=y
CONFIG_HAVE_HARDLOCKUP_DETECTOR_PERF=y
CONFIG_RANDOMIZE_BASE=y
CONFIG_COMEDI_TESTS_NI_ROUTES=y
CONFIG_AD5755=y
CONFIG_SENSORS_AD7414=y
CONFIG_NEED_PER_CPU_PAGE_FIRST_CHUNK=y
CONFIG_AXP20X_ADC=y
CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE=y
CONFIG_SPI_CS42L43=y
CONFIG_CGROUP_DEVICE=y
CONFIG_NVME_TARGET_FC=y
CONFIG_HAVE_GUP_FAST=y
CONFIG_CRYPTO_SKCIPHER2=y
CONFIG_APDS9300=y
CONFIG_BT_SELFTEST=y
CONFIG_RTC_DRV_SD2405AL=y
CONFIG_QCOM_PBS=y
CONFIG_ADXL345=y
CONFIG_CRYPTO_SM4_GENERIC=y
CONFIG_REGULATOR_FIXED_VOLTAGE=y
CONFIG_KERNFS=y
CONFIG_FORTIFY_SOURCE=y
CONFIG_FW_CACHE=y
CONFIG_MCP320X=y
CONFIG_I2C_HID=y
CONFIG_DEBUG_VM_PGTABLE=y
CONFIG_NVMEM=y
CONFIG_TI_ADS1298=y
CONFIG_HAVE_GCC_PLUGINS=y
CONFIG_OF_EARLY_FLATTREE=y
CONFIG_JUMP_LABEL=y
CONFIG_COMEDI_NI_LABPC=y
CONFIG_NOINSTR_VALIDATION=y
CONFIG_CROSS_MEMORY_ATTACH=y
CONFIG_HOTPLUG_SPLIT_STARTUP=y
CONFIG_CC_HAS_KASAN_SW_TAGS=y
CONFIG_LEDS_LM3601X=y
CONFIG_COMMON_CLK_FIXED_MMIO=y
CONFIG_VEML6046X00=y
CONFIG_QUOTA=y
CONFIG_MPU3050_I2C=y
CONFIG_AD7476=y
CONFIG_FB_VGA16=y
CONFIG_X86_CPUID=y
CONFIG_USB_CHIPIDEA_NPCM=y
CONFIG_XOR_BLOCKS_ARCH=y
CONFIG_MHP_MEMMAP_ON_MEMORY=y
CONFIG_BLK_CGROUP_IOLATENCY=y
CONFIG_ARCH_HAVE_EXTRA_ELF_NOTES=y
CONFIG_LTC2496=y
CONFIG_MCP4018=y
CONFIG_BLK_DEV_NBD=y
CONFIG_SMI240=y
CONFIG_MFD_SMPRO=y
CONFIG_DMI=y
CONFIG_MAC_PARTITION=y
CONFIG_BMC150_ACCEL_I2C=y
CONFIG_PT_RECLAIM=y
CONFIG_LEDS_BD2802=y
CONFIG_CRYPTO_ENGINE=y
CONFIG_GCC10_NO_ARRAY_BOUNDS=y
CONFIG_842_DECOMPRESS=y
CONFIG_CONTIG_ALLOC=y
CONFIG_BLK_DEV_SD=y
CONFIG_POSIX_AUX_CLOCKS=y
CONFIG_PHY_CPCAP_USB=y
CONFIG_MTD_ONENAND=y
CONFIG_PINCTRL_CS42L43=y
CONFIG_BT_HCIBFUSB=y
CONFIG_REGULATOR_MAX77620=y
CONFIG_USB_BDC_UDC=y
CONFIG_NLS_ISO8859_3=y
CONFIG_VIRT_CPU_ACCOUNTING=y
CONFIG_BT_VIRTIO=y
CONFIG_REGULATOR_MT6397=y
CONFIG_NEED_SG_DMA_LENGTH=y
CONFIG_ARCH_HAS_SYNC_CORE_BEFORE_USERMODE=y
CONFIG_HAVE_ASM_MODVERSIONS=y
CONFIG_MFD_MT6370=y
CONFIG_X86_NATIVE_CPU=y
CONFIG_MMA9551=y
CONFIG_ARCH_HAS_CURRENT_STACK_POINTER=y
CONFIG_PHY_INTEL_LGM_EMMC=y
CONFIG_BATTERY_RT5033=y
CONFIG_IOMMU_IOVA=y
CONFIG_BMG160_SPI=y
CONFIG_SENSORS_TMP421=y
CONFIG_CRC_ITU_T=y
CONFIG_PCPU_DEV_REFCNT=y
CONFIG_AD7292=y
CONFIG_GPIO_LATCH=y
CONFIG_LEDS_CLASS_MULTICOLOR=y
CONFIG_SSB_SPROM=y
CONFIG_COMEDI=y
CONFIG_NLS_MAC_ROMANIAN=y
CONFIG_OPT4060=y
CONFIG_CRC8=y
CONFIG_KMX61=y
CONFIG_SENSORS_W83L786NG=y
CONFIG_SENSORS_MAX16065=y
CONFIG_GENERIC_STRNLEN_USER=y
CONFIG_NLS_CODEPAGE_864=y
CONFIG_USB_CYTHERM=y
CONFIG_X86_MPPARSE=y
CONFIG_CRYPTO_CRC32=y
CONFIG_ICS932S401=y
CONFIG_GPIO_F7188X=y
CONFIG_GPIO_MAX7301=y
CONFIG_USB_EHCI_ROOT_HUB_TT=y
CONFIG_MTD_ONENAND_GENERIC=y
CONFIG_LEDS_MLXCPLD=y
CONFIG_IIO_SW_TRIGGER=y
CONFIG_RTC_DRV_ISL12022=y
CONFIG_CPU_FREQ_GOV_POWERSAVE=y
CONFIG_CHARGER_DETECTOR_MAX14656=y
CONFIG_MPU3050=y
CONFIG_DEBUG_ENTRY=y
CONFIG_RPMSG_QCOM_GLINK=y
CONFIG_MMU_LAZY_TLB_REFCOUNT=y
CONFIG_CRYPTO_TWOFISH=y
CONFIG_CRYPTO_ALGAPI=y
CONFIG_RTC_DRV_M41T80=y
CONFIG_SPI=y
CONFIG_USB_R8A66597=y
CONFIG_USB_EZUSB_FX2=y
CONFIG_REED_SOLOMON=y
CONFIG_FB_VIRTUAL=y
CONFIG_MISC_RTSX_USB=y
CONFIG_AHCI_DWC=y
CONFIG_MTD_PHYSMAP_OF=y
CONFIG_HAVE_PERF_EVENTS=y
CONFIG_MC3230=y
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_REGS=y
CONFIG_ARCH_SUPPORTS_ACPI=y
CONFIG_MLXREG_HOTPLUG=y
CONFIG_HUGETLBFS=y
CONFIG_CC_HAS_ASSUME=y
CONFIG_BATTERY_DS2780=y
CONFIG_KVM_IOAPIC=y
CONFIG_GPIO_TPIC2810=y
CONFIG_SCSI_MOD=y
CONFIG_X86_DISABLED_FEATURE_RETHUNK=y
CONFIG_ADXL345_SPI=y
CONFIG_NVME_CORE=y
CONFIG_RTC_I2C_AND_SPI=y
CONFIG_BUILTIN_MODULE_RANGES=y
CONFIG_W1_SLAVE_DS28E17=y
CONFIG_ADXL367=y
CONFIG_MTD_NAND_MXIC=y
CONFIG_COMEDI_MULTIQ3=y
CONFIG_PINCONF=y
CONFIG_DLHL60D=y
CONFIG_WANT_DEV_COREDUMP=y
CONFIG_COMEDI_DT282X=y
CONFIG_SPARSEMEM_VMEMMAP_PREINIT=y
CONFIG_SENSORS_LM73=y
CONFIG_ARCH_WANTS_NO_INSTR=y
CONFIG_MTD_NAND_ARASAN=y
CONFIG_HAVE_KCSAN_COMPILER=y
CONFIG_FSI_MASTER_GPIO=y
CONFIG_GNSS_MTK_SERIAL=y
CONFIG_DEBUG_NET_SMALL_RTNL=y
CONFIG_MTD_ONENAND_OTP=y
CONFIG_COMEDI_NI_TIO=y
CONFIG_ROHM_BD79124=y
CONFIG_REGULATOR_TPS65090=y
CONFIG_VIRTIO_RTC=y
CONFIG_NETDEV_NOTIFIER_ERROR_INJECT=y
CONFIG_BACKLIGHT_LM3509=y
CONFIG_MMU=y
CONFIG_MUTEX_SPIN_ON_OWNER=y
CONFIG_POWER_SUPPLY=y
CONFIG_ST_UVIS25_SPI=y
CONFIG_X86_VERBOSE_BOOTUP=y
CONFIG_SCSI_FC_ATTRS=y
CONFIG_GPIO_ADP5520=y
CONFIG_ARCH_SUPPORTS_LTO_CLANG=y
CONFIG_GENERIC_CMOS_UPDATE=y
CONFIG_PING=y
CONFIG_HAVE_PERF_USER_STACK_DUMP=y
CONFIG_SLAB_MERGE_DEFAULT=y
CONFIG_RTC_DRV_DS3232=y
CONFIG_ARCH_HAS_PTDUMP=y
CONFIG_MFD_LOCHNAGAR=y
CONFIG_X86_HAVE_PAE=y
CONFIG_CC_NO_STRINGOP_OVERFLOW=y
CONFIG_COMEDI_RTI800=y
CONFIG_COMEDI_8255=y
CONFIG_CRYPTO_DEV_PADLOCK_SHA=y
CONFIG_MEMSTICK=y
CONFIG_CC_HAS_ASM_INLINE=y
CONFIG_APDS9306=y
CONFIG_SENSORS_LM95241=y
CONFIG_ARCH_HAS_PARANOID_L1D_FLUSH=y
CONFIG_IIO_BUFFER_DMA=y
CONFIG_VIRTIO_ANCHOR=y
CONFIG_LEDS_ADP5520=y
CONFIG_CRYPTO_LIB_BLAKE2S_ARCH=y
CONFIG_BATTERY_CHARGER_SURFACE_RT=y
CONFIG_MFD_SI476X_CORE=y
CONFIG_TI_ADC084S021=y
CONFIG_CC_HAS_SLS=y
CONFIG_LEDS_NCP5623=y
CONFIG_RTC_DRV_MAX6902=y
CONFIG_AD_SIGMA_DELTA=y
CONFIG_MS_BLOCK=y
CONFIG_NVMEM_U_BOOT_ENV=y
CONFIG_CONSTRUCTORS=y
CONFIG_REGULATOR_RT6160=y
CONFIG_CRYPTO_AKCIPHER=y
CONFIG_CHARGER_BQ257XX=y
CONFIG_SENSORS_EMC6W201=y
CONFIG_MIPI_I3C_HCI=y
CONFIG_SENSORS_TMP464=y
CONFIG_CRYPTO_AKCIPHER2=y
CONFIG_CRYPTO_TWOFISH_COMMON=y
CONFIG_ALLOW_DEV_COREDUMP=y
CONFIG_CHARGER_BQ2515X=y
CONFIG_AD7780=y
CONFIG_IIO_SSP_SENSORHUB=y
CONFIG_PROCESSOR_SELECT=y
CONFIG_CRYPTO_BLOWFISH_COMMON=y
CONFIG_SENSORS_MAX197=y
CONFIG_MTD_RAW_NAND=y
CONFIG_FAIR_GROUP_SCHED=y
CONFIG_SENSORS_MAX6639=y
CONFIG_DEBUG_RWSEMS=y
CONFIG_XZ_DEC=y
CONFIG_CPUSETS=y
CONFIG_SCHED_PROXY_EXEC=y
CONFIG_CHARGER_BD71828=y
CONFIG_BT_HCIBTUSB=y
CONFIG_STK8312=y
CONFIG_SENSORS_GPIO_FAN=y
CONFIG_HAVE_KVM_PFNCACHE=y
CONFIG_LIVEUPDATE_MEMFD=y
CONFIG_FB_CORE=y
CONFIG_IO_WQ=y
CONFIG_ARCH_SUPPORTS_ATOMIC_RMW=y
CONFIG_LRU_GEN_STATS=y
CONFIG_BH1745=y
CONFIG_USB_XHCI_HCD=y
CONFIG_I2C_ATR=y
CONFIG_MOUSE_PS2_SMBUS=y
CONFIG_GPIB_COMMON=y
CONFIG_BRIDGE=y
CONFIG_CRYPTO_CAST_COMMON=y
CONFIG_THREAD_INFO_IN_TASK=y
CONFIG_MFD_MAX77620=y
CONFIG_MFD_ARIZONA_I2C=y
CONFIG_I2C_DESIGNWARE_CORE=y
CONFIG_KVM_XEN=y
CONFIG_X86=y
CONFIG_GPIO_PCA9570=y
CONFIG_MFD_MAX5970=y
CONFIG_CRYPTO_MLDSA=y
CONFIG_GPIO_LP87565=y
CONFIG_HAVE_FUTEX_ROBUST_UNLOCK=y
CONFIG_ARCH_STACKWALK=y
CONFIG_BMI088_ACCEL=y
CONFIG_MFD_RK8XX_SPI=y
CONFIG_CRYPTO_ESSIV=y
CONFIG_X9250=y
CONFIG_MAX30100=y
CONFIG_SBITMAP=y
CONFIG_FB_SM501=y
CONFIG_USB_HID=y
CONFIG_BLK_DEV_LOOP=y
CONFIG_CC_HAS_MARCH_NATIVE=y
CONFIG_NLS_MAC_CYRILLIC=y
CONFIG_PREEMPT_RCU=y
CONFIG_DECOMPRESS_LZ4=y
CONFIG_CRYPTO_CAST5=y
CONFIG_CRYPTO_RNG=y
CONFIG_HAVE_FENTRY=y
CONFIG_VCNL4035=y
CONFIG_NVMEM_LAYOUTS=y
CONFIG_RANDSTRUCT_NONE=y
CONFIG_ARCH_SUPPORTS_CRASH_DUMP=y
CONFIG_USB_OHCI_LITTLE_ENDIAN=y
CONFIG_COMEDI_DT2814=y
CONFIG_HAVE_ARCH_KASAN=y
CONFIG_EVENTFD=y
CONFIG_HAS_DMA=y
CONFIG_GP2AP002=y
CONFIG_PLATFORM_MHU=y
CONFIG_RPMSG_CTRL=y
CONFIG_CRYPTO_KRB5ENC=y
CONFIG_RCU_STALL_COMMON=y
CONFIG_IRQ_SIM=y
CONFIG_MFD_TPS6586X=y
CONFIG_SENSORS_LTC2945=y
CONFIG_ARCH_SUPPORTS_MSEAL_SYSTEM_MAPPINGS=y
CONFIG_CRYPTO_XTS=y
CONFIG_QCOM_SPMI_VADC=y
CONFIG_RTC_DRV_GOLDFISH=y
CONFIG_HAVE_UNWIND_USER_FP=y
CONFIG_USB_LIBCOMPOSITE=y
CONFIG_LEDS_BLINKM_MULTICOLOR=y
CONFIG_CMA=y
CONFIG_MAGIC_SYSRQ=y
CONFIG_IAQCORE=y
CONFIG_CRYPTO_AES=y
CONFIG_REGULATOR_MAX77826=y
CONFIG_IRQ_WORK=y
CONFIG_CRYPTO_USER_API=y
CONFIG_XILINX_VCU=y
CONFIG_X86_DISABLED_FEATURE_CALL_DEPTH=y
CONFIG_HAVE_KERNEL_LZMA=y
CONFIG_USB_IOWARRIOR=y
CONFIG_AD9523=y
CONFIG_MAX11100=y
CONFIG_CRYPTO_HASH=y
CONFIG_RTC_DRV_MAX31335=y
CONFIG_GPIO_ALTERA=y
CONFIG_SCHED_AUTOGROUP=y
CONFIG_SENSORS_LM77=y
CONFIG_COMEDI_USB_DRIVERS=y
CONFIG_LEDS_MT6370_FLASH=y
CONFIG_I2C_DLN2=y
CONFIG_X86_X32_ABI=y
CONFIG_PHY_CADENCE_DPHY_RX=y
CONFIG_REGULATOR_MAX77693=y
CONFIG_GPIO_MAX7300=y
CONFIG_AD9739A=y
CONFIG_FB_IOMEM_FOPS=y
CONFIG_HW_RANDOM_XIPHERA=y
CONFIG_AD5770R=y
CONFIG_CRYPTO_SM4_AESNI_AVX_X86_64=y
CONFIG_HAVE_CONTEXT_TRACKING_USER=y
CONFIG_HID_GENERIC=y
CONFIG_GPIO_BD71815=y
CONFIG_SENSORS_EMC2103=y
CONFIG_MMU_GATHER_MERGE_VMAS=y
CONFIG_PACKET=y
CONFIG_IIO_ST_LSM6DSX_SPI=y
CONFIG_FSI=y
CONFIG_HAVE_CLK=y
CONFIG_COMMON_CLK_MAX9485=y
CONFIG_USB_SL811_HCD=y
CONFIG_SPI_DEBUG=y
CONFIG_SENSORS_LTC4151=y
CONFIG_CRYPTO_LZO=y
CONFIG_GPIO_VIPERBOARD=y
CONFIG_REGULATOR_LTC3589=y
CONFIG_OF_KOBJ=y
CONFIG_DEBUG_INFO=y
CONFIG_BITREVERSE=y
CONFIG_TRACE_CLOCK=y
CONFIG_EFI_PARTITION=y
CONFIG_HAVE_FUNCTION_TRACER=y
CONFIG_MTD_PCMCIA_ANONYMOUS=y
CONFIG_ARCH_HAS_NON_OVERLAPPING_ADDRESS_SPACE=y
CONFIG_MOUSE_PS2_CYPRESS=y
CONFIG_ARCH_WANT_HUGETLB_VMEMMAP_PREINIT=y
CONFIG_CRYPTO_DEV_VIRTIO=y
CONFIG_AD5686_SPI=y
CONFIG_REGULATOR_TPS51632=y
CONFIG_OF_IRQ=y
CONFIG_RTC_DRV_DS1307_CENTURY=y
CONFIG_COMEDI_AMPLC_DIO200=y
CONFIG_BINARY_PRINTF=y
CONFIG_HAVE_PAGE_SIZE_4KB=y
CONFIG_COMEDI_AMPLC_PC236=y
CONFIG_ARCH_HAS_NMI_SAFE_THIS_CPU_OPS=y
CONFIG_DUMMY_CONSOLE=y
CONFIG_TSYS02D=y
CONFIG_HAVE_UACCESS_VALIDATION=y
CONFIG_BATTERY_GOLDFISH=y
CONFIG_CONTEXT_TRACKING_USER=y
CONFIG_REGULATOR_CPCAP=y
CONFIG_CPU_SUP_INTEL=y
CONFIG_LEDS_LP5562=y
CONFIG_CRYPTO_LIB_SHA3=y
CONFIG_MFD_ROHM_BD71828=y
CONFIG_SPI_BITBANG=y
CONFIG_X86_VMX_FEATURE_NAMES=y
CONFIG_IIO=y
CONFIG_SENSORS_ASC7621=y
CONFIG_HID=y
CONFIG_GENERIC_PINMUX_FUNCTIONS=y
CONFIG_RCU_NOCB_CPU_DEFAULT_ALL=y
CONFIG_MISC_RTSX=y
CONFIG_ARCH_HAS_NONLEAF_PMD_YOUNG=y
CONFIG_IO_URING=y
CONFIG_GENERIC_IRQ_CHIP=y
CONFIG_ARCH_SUPPORTS_SCHED_CLUSTER=y
CONFIG_USB_XHCI_PLATFORM=y
CONFIG_KVM_MMU_LOCKLESS_AGING=y
CONFIG_HAVE_VIRT_CPU_ACCOUNTING_GEN=y
CONFIG_COMEDI_PCL726=y
CONFIG_DCACHE_WORD_ACCESS=y
CONFIG_SUSPEND=y
CONFIG_ARCH_HAS_CACHE_LINE_SIZE=y
CONFIG_SENSORS_G762=y
CONFIG_SCSI_VIRTIO=y
CONFIG_LEDS_TLC591XX=y
CONFIG_CRYPTO_SHA256=y
CONFIG_REGULATOR_RK808=y
CONFIG_BLK_CGROUP_PUNT_BIO=y
CONFIG_RTC_DRV_PCF85363=y
CONFIG_USB_STORAGE_ENE_UB6250=y
CONFIG_ARCH_VMLINUX_NEEDS_RELOCS=y
CONFIG_HAVE_KVM_NO_POLL=y
CONFIG_KALLSYMS=y
CONFIG_SPI_OFFLOAD=y
CONFIG_ADXL380_SPI=y
CONFIG_GNSS_SIRF_SERIAL=y
CONFIG_AD7192=y
CONFIG_HDC2010=y
CONFIG_BLK_DEV_BSG_COMMON=y
CONFIG_INTERVAL_TREE=y
CONFIG_BCM_KONA_USB2_PHY=y
CONFIG_LEDS_MT6370_RGB=y
CONFIG_VFIO_DEBUGFS=y
CONFIG_CRYPTO_DEFLATE=y
CONFIG_USB_YUREX=y
CONFIG_LEDS_SPI_BYTE=y
CONFIG_BATMAN_ADV=y
CONFIG_X86_REQUIRED_FEATURE_PAE=y
CONFIG_SCSI_LOGGING=y
CONFIG_ELFCORE=y
CONFIG_GENERIC_IRQ_EFFECTIVE_AFF_MASK=y
CONFIG_CRYPTO_STREEBOG=y
CONFIG_UNIX98_PTYS=y
CONFIG_AD74115=y
CONFIG_I8254=y
CONFIG_DEBUG_LOCKDEP=y
CONFIG_GENERIC_CPU_AUTOPROBE=y
CONFIG_HAVE_SETUP_PER_CPU_AREA=y
CONFIG_AD7779=y
CONFIG_UFS_FS_WRITE=y
CONFIG_DEBUG_MAPLE_TREE=y
CONFIG_HARDENED_USERCOPY_DEFAULT_ON=y
CONFIG_FWCTL=y
CONFIG_LTC2983=y
CONFIG_IIO_ADIS_LIB_BUFFER=y
CONFIG_CRYPTO_LIB_SHA256_ARCH=y
CONFIG_HPFS_FS=y
CONFIG_BCMA_POSSIBLE=y
CONFIG_INA2XX_ADC=y
CONFIG_MCP41010=y
CONFIG_USB_RAW_GADGET=y
CONFIG_MFD_88PM800=y
CONFIG_SENSORS_LM83=y
CONFIG_BACKLIGHT_MT6370=y
CONFIG_ARCH_HAS_UBSAN=y
CONFIG_SOFTIRQ_ON_OWN_STACK=y
CONFIG_BTRFS_FS=y
CONFIG_X86_DISABLED_FEATURE_K6_MTRR=y
CONFIG_RTC_DRV_PCF2123=y
CONFIG_DEBUG_FS=y
CONFIG_COMMON_CLK_S2MPS11=y
CONFIG_HAVE_HARDLOCKUP_DETECTOR_BUDDY=y
CONFIG_LEDS_CLASS=y
CONFIG_PM_QOS_CPU_SYSTEM_WAKEUP=y
CONFIG_INV_ICM45600=y
CONFIG_MEMSTICK_UNSAFE_RESUME=y
CONFIG_CC_NO_ARRAY_BOUNDS=y
CONFIG_MOST_USB_HDM=y
CONFIG_REGULATOR_PF0900=y
CONFIG_RCU_LAZY=y
