CONFIG_ARCH_PENSANDO=y
CONFIG_GPIO_LPC32XX=y
CONFIG_REBOOT_MODE=y
CONFIG_TYPEC_MUX_PI3USB30532=y
CONFIG_VL53L1X_I2C=y
CONFIG_RESET_A10SR=y
CONFIG_ARCH_SUPPORTS_KEXEC_FILE=y
CONFIG_ARCH_SUPPORTS_KEXEC=y
CONFIG_VCNL3020=y
CONFIG_PHY_ATH79_USB=y
CONFIG_CHARGER_RT9455=y
CONFIG_SPI_DLN2=y
CONFIG_SM_CAMCC_MILOS=y
CONFIG_MFD_CS40L50_SPI=y
CONFIG_REGULATOR_MAX8893=y
CONFIG_SUN50I_A64_CCU=y
CONFIG_BACKLIGHT_ARCXCNN=y
CONFIG_IR_IMG_NEC=y
CONFIG_CPU_PM=y
CONFIG_PINCTRL_LOCHNAGAR=y
CONFIG_SAMPLE_VFIO_MDEV_MBOCHS=y
CONFIG_SERIO_APBPS2=y
CONFIG_SM_VIDEOCC_8550=y
CONFIG_AD5504=y
CONFIG_RAS=y
CONFIG_SENSORS_TMP108=y
CONFIG_ARCH_DEFAULT_CRASH_DUMP=y
CONFIG_PINCTRL_PFC_R8A7779=y
CONFIG_F2FS_FAULT_INJECTION=y
CONFIG_REGMAP_SPMI=y
CONFIG_BCM_KONA_TIMER=y
CONFIG_BMI270_SPI=y
CONFIG_SENSORS_ADT7411=y
CONFIG_INTERCONNECT_CLK=y
CONFIG_BATTERY_DA9052=y
CONFIG_BLK_INLINE_ENCRYPTION_FALLBACK=y
CONFIG_ARM_CMN=y
CONFIG_LD_CAN_USE_KEEP_IN_OVERLAY=y
CONFIG_USB_DWC3_GENERIC_PLAT=y
CONFIG_I2C_FSI=y
CONFIG_BPF=y
CONFIG_ARCH_SPARSEMEM_ENABLE=y
CONFIG_COMMON_CLK_IPROC=y
CONFIG_AD7405=y
CONFIG_ARCH_USES_HIGH_VMA_FLAGS=y
CONFIG_USB_RZV2M_USB3DRD=y
CONFIG_HAVE_RSEQ=y
CONFIG_PHY_SUN50I_USB3=y
CONFIG_ZPA2326_I2C=y
CONFIG_REGULATOR_MTK_DVFSRC=y
CONFIG_USB_SERIAL_WISHBONE=y
CONFIG_SCD4X=y
CONFIG_CPU_IDLE_GOV_MENU=y
CONFIG_ARM_SCMI_HAVE_MSG=y
CONFIG_POLARFIRE_SOC_SYS_CTRL=y
CONFIG_REGULATOR_VCTRL=y
CONFIG_IPQ_GCC_9650=y
CONFIG_HD44780_COMMON=y
CONFIG_TSM_GUEST=y
CONFIG_ARM_STI_CPUFREQ=y
CONFIG_GOLDFISH_TTY=y
CONFIG_IOMMU_MM_DATA=y
CONFIG_COMMON_CLK_MT6765_MIPI2ASYS=y
CONFIG_GPIB_GPIO=y
CONFIG_CRYPTO_AUTHENC=y
CONFIG_I2C_KEBA=y
CONFIG_IOMMU_SVA=y
CONFIG_SUN9I_A80_CCU=y
CONFIG_PINCTRL_SKY1=y
CONFIG_COMMON_CLK_MT2712_JPGDECSYS=y
CONFIG_REGULATOR_AD5398=y
CONFIG_CLK_RV1126B=y
CONFIG_SDX_GCC_75=y
CONFIG_SENSORS_TMP513=y
CONFIG_SPI_SIFIVE=y
CONFIG_I2C_DEBUG_BUS=y
CONFIG_CORESIGHT_STM=y
CONFIG_FSL_CORENET_CF=y
CONFIG_SM_VIDEOCC_7150=y
CONFIG_SDM_VIDEOCC_845=y
CONFIG_DM_ZERO=y
CONFIG_FPGA_MGR_XILINX_SPI=y
CONFIG_COMMON_CLK_STM32MP157=y
CONFIG_PINCTRL_MTK_V2=y
CONFIG_FSNOTIFY=y
CONFIG_MTK_SMI=y
CONFIG_QCOM_APCS_IPC=y
CONFIG_PINCTRL_CS47L85=y
CONFIG_PROC_FS=y
CONFIG_ARM_RK3399_DMC_DEVFREQ=y
CONFIG_SENSORS_INTEL_M10_BMC_HWMON=y
CONFIG_MTD_ROM=y
CONFIG_THERMAL_EMULATION=y
CONFIG_PINCTRL_SH_PFC_GPIO=y
CONFIG_KEYBOARD_CHARLIEPLEX=y
CONFIG_CC_HAS_WORKING_NOSANITIZE_ADDRESS=y
CONFIG_QUEUED_RWLOCKS=y
CONFIG_TRACE_BRANCH_PROFILING=y
CONFIG_UEVENT_HELPER=y
CONFIG_IIO_TIGHTLOOP_TRIGGER=y
CONFIG_IR_JVC_DECODER=y
CONFIG_ADMV8818=y
CONFIG_SPI_SUN4I=y
CONFIG_REGULATOR_RTQ6752=y
CONFIG_BATTERY_MAX17042=y
CONFIG_INTERCONNECT_SAMSUNG=y
CONFIG_XZ_DEC_X86=y
CONFIG_USB_DWC3_QCOM=y
CONFIG_MFD_TN48M_CPLD=y
CONFIG_INPUT_MOUSEDEV_PSAUX=y
CONFIG_FPGA_MGR_VERSAL_FPGA=y
CONFIG_USB_IOWARRIOR=y
CONFIG_CLK_RK3576=y
CONFIG_SENSORS_PWM_FAN=y
CONFIG_PSI=y
CONFIG_MFD_KHADAS_MCU=y
CONFIG_LEDS_TRIGGER_HEARTBEAT=y
CONFIG_COMMON_CLK_MEDIATEK=y
CONFIG_SENSORS_MAX31730=y
CONFIG_SENSORS_ADM1029=y
CONFIG_RV_MON_MAINTENANCE_EVENTS=y
CONFIG_I2C_CROS_EC_TUNNEL=y
CONFIG_TYPEC_MUX_TUSB1046=y
CONFIG_SAMPLES=y
CONFIG_BACKLIGHT_DA9052=y
CONFIG_ROHM_BD79112=y
CONFIG_CRYPTO_XCTR=y
CONFIG_AD8366=y
CONFIG_I2C_EMEV2=y
CONFIG_ISO9660_FS=y
CONFIG_INV_ICM42600_I2C=y
CONFIG_PINCTRL_BERLIN=y
CONFIG_PHY_CADENCE_DPHY=y
CONFIG_CLK_SOPHGO_SG2044_PLL=y
CONFIG_SAMSUNG_MC=y
CONFIG_USB_STORAGE_REALTEK=y
CONFIG_MFD_MT6360=y
CONFIG_OMAP_IOMMU=y
CONFIG_CLK_RENESAS_DIV6=y
CONFIG_ASSOCIATIVE_ARRAY=y
CONFIG_RPMB=y
CONFIG_ARCH_HAS_CPU_CACHE_INVALIDATE_MEMREGION=y
CONFIG_MFD_CS40L50_CORE=y
CONFIG_ARCH_HAS_FORCE_DMA_UNENCRYPTED=y
CONFIG_ARCH_HAS_GCOV_PROFILE_ALL=y
CONFIG_I2C_SLAVE_TESTUNIT=y
CONFIG_GPIO_GRGPIO=y
CONFIG_UNIX98_PTYS=y
CONFIG_SENSORS_SG2042_MCU=y
CONFIG_ARCH_SUPPORTS_SCHED_SMT=y
CONFIG_CACHEMAINT_FOR_HOTPLUG=y
CONFIG_ARCH_HIBERNATION_HEADER=y
CONFIG_PHY_MVEBU_A3700_UTMI=y
CONFIG_USB_SERIAL_XR=y
CONFIG_I2C_CHARDEV=y
CONFIG_HTE_TEGRA194=y
CONFIG_STM_PROTO_SYS_T=y
CONFIG_SPI_DYNAMIC=y
CONFIG_OMAP_DM_TIMER=y
CONFIG_MEMSTICK_DEBUG=y
CONFIG_ARCH_STM32=y
CONFIG_VEML6040=y
CONFIG_COMMON_CLK_QCOM=y
CONFIG_GROUP_SCHED_BANDWIDTH=y
CONFIG_USER_NS=y
CONFIG_SERIAL_SH_SCI=y
CONFIG_MFD_WM8350=y
CONFIG_ARCH_HAS_SYNC_DMA_FOR_CPU=y
CONFIG_ADIS16130=y
CONFIG_VIRT_CPU_ACCOUNTING=y
CONFIG_SENSORS_MAX31790=y
CONFIG_MCP4725=y
CONFIG_SWIOTLB=y
CONFIG_COMMON_CLK_STM32MP215=y
CONFIG_USB_GADGET=y
CONFIG_MOUSE_SYNAPTICS_I2C=y
CONFIG_IIO_ADIS_LIB=y
CONFIG_SA_DISPCC_8775P=y
CONFIG_SPI_PIC32_SQI=y
CONFIG_MARVELL_CN10K_TAD_PMU=y
CONFIG_MFD_MAX77714=y
CONFIG_CLK_RZV2H=y
CONFIG_IKHEADERS=y
CONFIG_ARCH_SUPPORTS_CFI=y
CONFIG_STARFIVE_STARLINK_PMU=y
CONFIG_CRYPTO_MD5=y
CONFIG_COMMON_CLK_NUVOTON=y
CONFIG_IIO_BUFFER_CB=y
CONFIG_ARM_SMMU_V3_PMU=y
CONFIG_IO_WQ=y
CONFIG_HDC3020=y
CONFIG_GENERIC_IRQ_IPI=y
CONFIG_FS_IOMAP=y
CONFIG_SCHED_MC=y
CONFIG_UACCE=y
CONFIG_OPT4060=y
CONFIG_AD7768_1=y
CONFIG_SENSORS_LOCHNAGAR=y
CONFIG_PINCTRL_CS47L92=y
CONFIG_PINCTRL_QCOM_SSBI_PMIC=y
CONFIG_USB_PRINTER=y
CONFIG_SM_GCC_6375=y
CONFIG_DYNAMIC_DEBUG_CORE=y
CONFIG_USB_WDM=y
CONFIG_NVME_AUTH=y
CONFIG_CLK_BCM_NS2=y
CONFIG_ASYNC_XOR=y
CONFIG_BRCMSTB_L2_IRQ=y
CONFIG_COMMON_CLK_MT8183_AUDIOSYS=y
CONFIG_STM_SOURCE_CONSOLE=y
CONFIG_SERIAL_SAMSUNG=y
CONFIG_COMMON_CLK_MEDIATEK_FHCTL=y
CONFIG_IIO_CROS_EC_ACCEL_LEGACY=y
CONFIG_PINCTRL_MTK_MOORE=y
CONFIG_RD_GZIP=y
CONFIG_PHY_QCOM_QMP_USB=y
CONFIG_RESET_ASPEED=y
CONFIG_SH_TIMER_CMT=y
CONFIG_CLKSRC_MMIO=y
CONFIG_EXPORTFS_BLOCK_OPS=y
CONFIG_MFD_SKY81452=y
CONFIG_QUOTA=y
CONFIG_SAMPLE_FTRACE_OPS=y
CONFIG_I2C_S3C2410=y
CONFIG_RESET_HISI=y
CONFIG_I2C_MV64XXX=y
CONFIG_AS_IS_GNU=y
CONFIG_MQ_IOSCHED_DEADLINE=y
CONFIG_ARM64_WORKAROUND_CLEAN_CACHE=y
CONFIG_MFD_TI_AM335X_TSCADC=y
CONFIG_FSL_MX25_ADC=y
CONFIG_STK8BA50=y
CONFIG_MPL115=y
CONFIG_MMA9553=y
CONFIG_NOP_TRACER=y
CONFIG_POWER_RESET_TORADEX_EC=y
CONFIG_CPU_IDLE_GOV_LADDER=y
CONFIG_GPIB_AGILENT_82357A=y
CONFIG_COMMON_CLK_MT6735_VDECSYS=y
CONFIG_QCOM_FALKOR_ERRATUM_1003=y
CONFIG_OMAP_IOMMU_DEBUG=y
CONFIG_AD7150=y
CONFIG_PHY_HI6220_USB=y
CONFIG_AD9467=y
CONFIG_USB_SERIAL_AIRCABLE=y
CONFIG_PINCTRL_BROXTON=y
CONFIG_PLATFORM_MHU=y
CONFIG_LEDS_LP8860=y
CONFIG_CRYPTO_ACOMP2=y
CONFIG_SYSCON_REBOOT_MODE=y
CONFIG_DM_EBS=y
CONFIG_CHARGER_PF1550=y
CONFIG_SENSORS_PECI=y
CONFIG_NVMEM_SC27XX_EFUSE=y
CONFIG_USER_STACKTRACE_SUPPORT=y
CONFIG_CLOSURES=y
CONFIG_COMMON_CLK_MT8167_VDECSYS=y
CONFIG_QCOM_SPM=y
CONFIG_ATMEL_EBI=y
CONFIG_MTD=y
CONFIG_KEYBOARD_ST_KEYSCAN=y
CONFIG_SPARSE_IRQ=y
CONFIG_HBMC_AM654=y
CONFIG_ARM_SCMI_POWERCAP=y
CONFIG_MFD_ACER_A500_EC=y
CONFIG_PINCTRL_MCP23S08_SPI=y
CONFIG_GPIO_SPRD=y
CONFIG_PHY_ROCKCHIP_INNO_USB2=y
CONFIG_USB_SUPPORT=y
CONFIG_MFD_TPS65217=y
CONFIG_MTD_BLOCK=y
CONFIG_GPIO_BD71828=y
CONFIG_COMMON_CLK_MT8188_CAMSYS=y
CONFIG_MFD_TPS6594_I2C=y
CONFIG_FPGA=y
CONFIG_MFD_MAX77686=y
CONFIG_COMMON_CLK_MT7622_AUDSYS=y
CONFIG_ARCH_SUPPORTS_KEXEC_HANDOVER=y
CONFIG_REGULATOR_TI_ABB=y
CONFIG_GPIO_MPSSE=y
CONFIG_COMMON_CLK_MT6765_AUDIOSYS=y
CONFIG_JOYSTICK_PSXPAD_SPI=y
CONFIG_INFINEON_TLV493D=y
CONFIG_HISI_SOC_HHA=y
CONFIG_W1_MASTER_SGI=y
CONFIG_ARM64_BRBE=y
CONFIG_COMMON_CLK_MT8196_VENCSYS=y
CONFIG_CLK_R9A07G043=y
CONFIG_COMMON_CLK_MT8196_MFGCFG=y
CONFIG_SERIAL_ALTERA_JTAGUART=y
CONFIG_DDR=y
CONFIG_SENSORS_LTC4283=y
CONFIG_USB_FOTG210=y
CONFIG_SC_GCC_7180=y
CONFIG_IIO_CROS_EC_SENSORS=y
CONFIG_SUN20I_GPADC=y
CONFIG_PINCTRL_MT8188=y
CONFIG_LINEAR_RANGES=y
CONFIG_QCS_VIDEOCC_615=y
CONFIG_COMMON_CLK_MT8167=y
CONFIG_SM_GPUCC_8450=y
CONFIG_HAVE_ARCH_JUMP_LABEL=y
CONFIG_BLK_DEV_DM=y
CONFIG_MCP4821=y
CONFIG_IRQ_DOMAIN_HIERARCHY=y
CONFIG_GPIO_BD72720=y
CONFIG_LEDS_COBALT_QUBE=y
CONFIG_I2C_CBUS_GPIO=y
CONFIG_HTE_TEGRA194_TEST=y
CONFIG_TI_ADC081C=y
CONFIG_CRYPTO_SHA256=y
CONFIG_TYPEC_MUX_GPIO_SBU=y
CONFIG_RASPBERRYPI_FIRMWARE=y
CONFIG_RPMSG=y
CONFIG_MFD_ATMEL_SMC=y
CONFIG_GENERIC_ARCH_TOPOLOGY=y
CONFIG_PINCTRL_PXA=y
CONFIG_SERIAL_RSCI=y
CONFIG_SENSORS_AD7418=y
CONFIG_LEDS_COBALT_RAQ=y
CONFIG_ASPEED_LPC_SNOOP=y
CONFIG_MANAGER_SBS=y
CONFIG_ADXL345_SPI=y
CONFIG_VMAP_STACK=y
CONFIG_CRYPTO_BLOWFISH_COMMON=y
CONFIG_CHARGER_DETECTOR_MAX14656=y
CONFIG_COMEDI_TESTS=y
CONFIG_QCOM_SPMI_TEMP_ALARM=y
CONFIG_SPI_MEM=y
CONFIG_SM_DISPCC_4450=y
CONFIG_QCOM_RAMP_CTRL=y
CONFIG_OF_IOMMU=y
CONFIG_XARRAY_MULTI=y
CONFIG_MINIX_FS=y
CONFIG_XILINX_INTC=y
CONFIG_MFD_ALTERA_SYSMGR=y
CONFIG_REGMAP=y
CONFIG_HAVE_PV_STEAL_CLOCK_GEN=y
CONFIG_COMMON_CLK_MT8188_VPPSYS=y
CONFIG_PSTORE_ZONE=y
CONFIG_GENERIC_ALLOCATOR=y
CONFIG_NLS_CODEPAGE_861=y
CONFIG_IIO_ST_SENSORS_I2C=y
CONFIG_COMEDI_TESTS_EXAMPLE=y
CONFIG_HAVE_ARCH_AUDITSYSCALL=y
CONFIG_EXTCON_RTK_TYPE_C=y
CONFIG_X509_CERTIFICATE_PARSER=y
CONFIG_AHCI_CEVA=y
CONFIG_PINCTRL_TEGRA_XUSB=y
CONFIG_CLK_R8A73A4=y
CONFIG_SCSI_MOD=y
CONFIG_IIO_ST_LSM6DSX=y
CONFIG_PINCTRL_PFC_R8A779F0=y
CONFIG_INOTIFY_USER=y
CONFIG_ARCH_SUPPORTS_MSEAL_SYSTEM_MAPPINGS=y
CONFIG_ARM64_WORKAROUND_SPECULATIVE_UNPRIV_LOAD=y
CONFIG_STACKTRACE=y
CONFIG_TI_SYSCON_CLK=y
CONFIG_SENSORS_AMC6821=y
CONFIG_CORESIGHT_DUMMY=y
CONFIG_CLK_RV1103B=y
CONFIG_LEDS_EL15203000=y
CONFIG_PINCTRL_EXYNOS_ARM64=y
CONFIG_I2C_NPCM=y
CONFIG_NXP_PIT_TIMER=y
CONFIG_USB_YUREX=y
CONFIG_SM_GPUCC_8650=y
CONFIG_HAVE_RUST=y
CONFIG_SM_GCC_6125=y
CONFIG_ARM_PMU=y
CONFIG_PM_OPP=y
CONFIG_CLZ_TAB=y
CONFIG_WM8350_POWER=y
CONFIG_AD7606_IFACE_SPI=y
CONFIG_ZPA2326=y
CONFIG_GCC_NO_STRINGOP_OVERFLOW=y
CONFIG_I2C_K1=y
CONFIG_ARM_MHU_V2=y
CONFIG_PINCTRL_PFC_SH7757=y
CONFIG_COMMON_CLK_SI514=y
CONFIG_INV_MPU6050_SPI=y
CONFIG_PHY_MESON_AXG_MIPI_DPHY=y
CONFIG_INPUT_LEDS=y
CONFIG_STMPE_I2C=y
CONFIG_ARCH_HAS_KERNEL_FPU_SUPPORT=y
CONFIG_STUB_CLK_HI3660=y
CONFIG_GPIO_LOONGSON1=y
CONFIG_TRANS_TABLE=y
CONFIG_CPU_FREQ_GOV_PERFORMANCE=y
CONFIG_SENSORS_LTC2945=y
CONFIG_BATTERY_MAX1720X=y
CONFIG_CRYPTO_TWOFISH_COMMON=y
CONFIG_RESET_ZYNQMP=y
CONFIG_IR_MESON_TX=y
CONFIG_CLK_R8A774C0=y
CONFIG_HAVE_IRQ_TIME_ACCOUNTING=y
CONFIG_PINCTRL_STM32F746=y
CONFIG_BLK_PM=y
CONFIG_EXYNOS_USI=y
CONFIG_MD_BITMAP=y
CONFIG_QORIQ_CPUFREQ=y
CONFIG_HP206C=y
CONFIG_EXPORTFS=y
CONFIG_LEDS_LGM=y
CONFIG_SENSORS_TMP103=y
CONFIG_ARMADA_37XX_CLK=y
CONFIG_ADRF6780=y
CONFIG_SPI_REALTEK_SNAND=y
CONFIG_APPLE_MFI_FASTCHARGE=y
CONFIG_CRYPTO_CAST6=y
CONFIG_PHY_MTK_UFS=y
CONFIG_NXP_SAR_ADC=y
CONFIG_PINCTRL_IMX6SLL=y
CONFIG_GENERIC_NET_UTILS=y
CONFIG_LEDS_CR0014114=y
CONFIG_AD7476=y
CONFIG_TRACE_CLOCK=y
CONFIG_RV_MON_EVENTS=y
CONFIG_XXHASH=y
CONFIG_HSI_BOARDINFO=y
CONFIG_TRACEPOINTS=y
CONFIG_ARM64_ERRATUM_819472=y
CONFIG_LOONGSON2_GUTS=y
CONFIG_BMP280=y
CONFIG_PAGE_TABLE_CHECK=y
CONFIG_CLK_QORIQ=y
CONFIG_SUN50I_H616_CCU=y
CONFIG_SENSORS_POWERZ=y
CONFIG_MFD_STM32_TIMERS=y
CONFIG_BMG160=y
CONFIG_TRUSTED_KEYS=y
CONFIG_MAX34408=y
CONFIG_MTD_MAP_BANK_WIDTH_4=y
CONFIG_ARM64=y
CONFIG_LEDS_LP3952=y
CONFIG_REGULATOR_MAX77693=y
CONFIG_I2C_MICROCHIP_CORE=y
CONFIG_MFD_TPS65912_SPI=y
CONFIG_CLK_SOPHGO_SG2044=y
CONFIG_RESET_MESON_COMMON=y
CONFIG_PINCTRL_MTK_PARIS=y
CONFIG_PHY_MESON8B_USB2=y
CONFIG_SUN8I_H3_CCU=y
CONFIG_MMA7455=y
CONFIG_CLK_R7S9210=y
CONFIG_ENS160_SPI=y
CONFIG_ARM_ARCH_TIMER_OOL_WORKAROUND=y
CONFIG_JOYSTICK_A3D=y
CONFIG_HAVE_ARCH_COMPILER_H=y
CONFIG_SPEAR_ADC=y
CONFIG_CLK_NORD_TCSRCC=y
CONFIG_MFD_DA9055=y
CONFIG_COMMON_CLK_T7_PLL=y
CONFIG_PHY_STM32_USBPHYC=y
CONFIG_MEM_ALLOC_PROFILING_ENABLED_BY_DEFAULT=y
CONFIG_REGULATOR_SPACEMIT_P1=y
CONFIG_ARM_PMUV3=y
CONFIG_HAVE_PREEMPT_DYNAMIC=y
CONFIG_APDS9999=y
CONFIG_AUXILIARY_BUS=y
CONFIG_GP2AP002=y
CONFIG_SD_ADC_MODULATOR=y
CONFIG_DPS310=y
CONFIG_REGULATOR_TPS65218=y
CONFIG_PHY_QCOM_PCIE2=y
CONFIG_STARFIVE_JHB100_INTC=y
CONFIG_LEDS_TPS6131X=y
CONFIG_PINCTRL_MT8127=y
CONFIG_SM_TCSRCC_8750=y
CONFIG_TYPEC_MUX_PS883X=y
CONFIG_TI_ADS131E08=y
CONFIG_LZO_COMPRESS=y
CONFIG_EVENT_TRACING=y
CONFIG_NVME_TARGET=y
CONFIG_BLK_CGROUP_PUNT_BIO=y
CONFIG_XILINX_AMS=y
CONFIG_LEDS_TRIGGER_INPUT_EVENTS=y
CONFIG_VIRTIO_ANCHOR=y
CONFIG_ISL29125=y
CONFIG_DECOMPRESS_GZIP=y
CONFIG_MADERA_IRQ=y
CONFIG_CLK_GLYMUR_DISPCC=y
CONFIG_USB_OHCI_HCD=y
CONFIG_REGULATOR_LP3972=y
CONFIG_PINCTRL_IMX8MM=y
CONFIG_ABP060MG=y
CONFIG_BLK_DEV_UBLK=y
CONFIG_I2C_SPRD=y
CONFIG_CRYPTO_AKCIPHER=y
CONFIG_TEGRA210_EMC_TABLE=y
CONFIG_SERIAL_ALTERA_UART=y
CONFIG_SENSORS_ISL29028=y
CONFIG_MMU_LAZY_TLB_REFCOUNT=y
CONFIG_VIRTIO_MENU=y
CONFIG_ROCKCHIP_TIMER=y
CONFIG_IRQ_DOMAIN=y
CONFIG_CLK_ANALOGBITS_WRPLL_CLN28HPC=y
CONFIG_I2C_CP2615=y
CONFIG_NVMEM_SPMI_SDAM=y
CONFIG_I2C_PXA=y
