CONFIG_SWAP=n
CONFIG_WLAN=n
CONFIG_ACPI_THERMAL=n
CONFIG_DECOMPRESS_LZMA=n
CONFIG_SERIAL_EARLYCON_RISCV_SBI=n
CONFIG_GENERIC_PENDING_IRQ=n
CONFIG_MMC_SDHCI_CADENCE=n
CONFIG_HOTPLUG_CPU=n
CONFIG_CRYPTO_DEV_ALLWINNER=n
CONFIG_ATA=n
CONFIG_ARCH_STARFIVE=n
CONFIG_COMMON_CLK_EIC7700=n
CONFIG_CRYPTO_SHA256=n
CONFIG_VXLAN=n
CONFIG_PINCTRL_STARFIVE_JH7110_SYS=n
CONFIG_BLK_DEV_BSG_COMMON=n
CONFIG_ZSTD_COMMON=n
CONFIG_DIMLIB=n
CONFIG_CRYPTO_SKCIPHER=n
CONFIG_ACPI_REDUCED_HARDWARE_ONLY=n
CONFIG_GENERIC_IRQ_EFFECTIVE_AFF_MASK=n
CONFIG_ARCH_HAS_GIGANTIC_PAGE=n
CONFIG_ACPI_VIDEO=n
CONFIG_HAVE_FUNCTION_GRAPH_FREGS=n
CONFIG_SND_SOC_GENERIC_DMAENGINE_PCM=n
CONFIG_HAVE_ARCH_HUGE_VMAP=n
CONFIG_STACKPROTECTOR_PER_TASK=n
CONFIG_ARCH_HAS_CC_CAN_LINK=n
CONFIG_CRYPTO_SIG=n
CONFIG_XFRM_ESP=n
CONFIG_NET_VENDOR_ARC=n
CONFIG_SERIAL_OF_PLATFORM=n
CONFIG_TUNE_GENERIC=n
CONFIG_HAVE_CLK=n
CONFIG_GENERIC_IRQ_SHOW=n
CONFIG_RTC_DRV_GOLDFISH=n
CONFIG_ARCH_CC_CAN_LINK=n
CONFIG_ARCH_HAS_FAST_MULTIPLIER=n
CONFIG_SIFIVE_CCACHE=n
CONFIG_GENERIC_CALIBRATE_DELAY=n
CONFIG_VM_EVENT_COUNTERS=n
CONFIG_USB_EHCI_PCI=n
CONFIG_CLK_SOPHGO_SG2042_RPGATE=n
CONFIG_ELF_CORE=n
CONFIG_VT_CONSOLE_SLEEP=n
CONFIG_ARCH_SUPPORTS_MSEAL_SYSTEM_MAPPINGS=n
CONFIG_MOUSE_PS2_BYD=n
CONFIG_I3C_OR_I2C=n
CONFIG_NFS_USE_KERNEL_DNS=n
CONFIG_RESET_EIC7700=n
CONFIG_CPUFREQ_DT=n
CONFIG_FONT_SUPPORT=n
CONFIG_DRM_TTM=n
CONFIG_NET_CLS_CGROUP=n
CONFIG_GPIO_SIFIVE=n
CONFIG_LEGACY_TIOCSTI=n
CONFIG_SERIO_LIBPS2=n
CONFIG_POWER_RESET_SPACEMIT_P1=n
CONFIG_SYSVIPC_SYSCTL=n
CONFIG_RTC_INTF_SYSFS=n
CONFIG_EPROBE_EVENTS=n
CONFIG_PRINTK=n
CONFIG_POWER_SEQUENCING=n
CONFIG_MAILBOX=n
CONFIG_BRIDGE=n
CONFIG_HAS_SECURITY_AUDIT=n
CONFIG_HAVE_KERNEL_BZIP2=n
CONFIG_ARCH_TENSTORRENT=n
CONFIG_ARCH_HAS_MMIOWB=n
CONFIG_NF_CONNTRACK_FTP=n
CONFIG_EXT4_USE_FOR_EXT2=n
CONFIG_NETFS_SUPPORT=n
CONFIG_DUMMY_CONSOLE=n
CONFIG_PCIEASPM=n
CONFIG_JBD2=n
CONFIG_ARCH_HAS_TICK_BROADCAST=n
CONFIG_INPUT_KEYBOARD=n
CONFIG_REGULATOR_GPIO=n
CONFIG_BLK_DEV_BSG=n
CONFIG_PCPU_DEV_REFCNT=n
CONFIG_FB_DMAMEM_HELPERS_DEFERRED=n
CONFIG_QUEUED_RWLOCKS=n
CONFIG_NET_VENDOR_RENESAS=n
CONFIG_NET_VENDOR_SEEQ=n
CONFIG_SECURITY_PATH=n
CONFIG_HAVE_RETHOOK=n
CONFIG_INITRAMFS_PRESERVE_MTIME=n
CONFIG_SCSI_LOWLEVEL=n
CONFIG_SCSI_VIRTIO=n
CONFIG_ARCH_SUPPORTS_ATOMIC_RMW=n
CONFIG_RISCV_ISA_VENDOR_EXT_MIPS=n
CONFIG_SND_DESIGNWARE_I2S=n
CONFIG_HAVE_PCI=n
CONFIG_DRM_PANEL_ORIENTATION_QUIRKS=n
CONFIG_CRYPTO_USER_API_HASH=n
CONFIG_SPI_PL022=n
CONFIG_CPU_FREQ_GOV_CONSERVATIVE=n
CONFIG_IOMMU_PT=n
CONFIG_GENERIC_PHY=n
CONFIG_SYSVIPC=n
CONFIG_MFD_SYSCON=n
CONFIG_RESET_CONTROLLER=n
CONFIG_SYSVIPC_COMPAT=n
CONFIG_DWMAC_GENERIC=n
CONFIG_HAVE_MOVE_PMD=n
CONFIG_PT_RECLAIM=n
CONFIG_XZ_DEC_ARM64=n
CONFIG_BLK_DEV=n
CONFIG_EFI_STUB=n
CONFIG_NETFILTER_XT_MATCH_IPVS=n
CONFIG_RD_LZ4=n
CONFIG_CACHEMAINT_FOR_DMA=n
CONFIG_NVMEM=n
CONFIG_PREVENT_FIRMWARE_BUILD=n
CONFIG_HAVE_IOREMAP_PROT=n
CONFIG_ACPI_AC=n
CONFIG_MMIOWB=n
CONFIG_DEBUG_MEMORY_INIT=n
CONFIG_XZ_DEC_X86=n
CONFIG_EPOLL=n
CONFIG_SUSPEND_FREEZER=n
CONFIG_ARCH_WANT_DEFAULT_TOPDOWN_MMAP_LAYOUT=n
CONFIG_MMC_SDHCI_IO_ACCESSORS=n
CONFIG_CRYPTO_ENGINE=n
CONFIG_CRYPTO_LIB_BLAKE2B=n
CONFIG_GRACE_PERIOD=n
CONFIG_MMC_BLOCK=n
CONFIG_CC_HAS_WORKING_NOSANITIZE_ADDRESS=n
CONFIG_NF_CONNTRACK=n
CONFIG_GENERIC_ALLOCATOR=n
CONFIG_KERNFS=n
CONFIG_SIGNALFD=n
CONFIG_DRM_MIPI_DSI=n
CONFIG_NET_XGRESS=n
CONFIG_DMA_DECLARE_COHERENT=n
CONFIG_EXPORTFS=n
CONFIG_RISCV_RPMI_SYSMSI=n
CONFIG_USB_CONFIGFS_SERIAL=n
CONFIG_SPI_CADENCE_QUADSPI=n
CONFIG_IP6_NF_IPTABLES=n
CONFIG_SUNXI_SRAM=n
CONFIG_MODULE_UNLOAD=n
CONFIG_CGROUP_HUGETLB=n
CONFIG_TOOLCHAIN_HAS_ZBC=n
CONFIG_CRYPTO_LIB_GF128HASH=n
CONFIG_SERIAL_8250_16550A_VARIANTS=n
CONFIG_MTD=n
CONFIG_PCI_ECAM=n
CONFIG_CRYPTO_LIB_SHA512=n
CONFIG_SND_SOC_SPDIF=n
CONFIG_RTC_CLASS=n
CONFIG_MTD_MAP_BANK_WIDTH_1=n
CONFIG_HAVE_KPROBES=n
CONFIG_POWER_RESET_GPIO_RESTART=n
CONFIG_ARCH_USE_MEMREMAP_PROT=n
CONFIG_HUGETLB_PAGE=n
CONFIG_FAIR_GROUP_SCHED=n
CONFIG_XZ_DEC_RISCV=n
CONFIG_DWMAC_SUN55I=n
CONFIG_IP_VS_PROTO_TCP=n
CONFIG_BLK_DEV_THROTTLING=n
CONFIG_BLK_DEV_PMEM=n
CONFIG_SPARSE_IRQ=n
CONFIG_NET_HANDSHAKE=n
CONFIG_VIRTIO_MENU=n
CONFIG_GOLDFISH=n
CONFIG_PWM_PXA=n
CONFIG_ARCH_SUPPORTS_RT=n
CONFIG_MEDIA_PLATFORM_DRIVERS=n
CONFIG_GENERIC_GETTIMEOFDAY=n
CONFIG_SCHED_INFO=n
CONFIG_NET_CRC32C=n
CONFIG_ARCH_HAS_GCOV_PROFILE_ALL=n
CONFIG_HAVE_ARCH_VMAP_STACK=n
CONFIG_CRYPTO=n
CONFIG_GENERIC_HWEIGHT=n
CONFIG_SYSCTL_EXCEPTION_TRACE=n
CONFIG_IP_VS_RR=n
CONFIG_DT_IDLE_GENPD=n
CONFIG_NET_VENDOR_I825XX=n
CONFIG_HAVE_SAMPLE_FTRACE_DIRECT_MULTI=n
CONFIG_PATA_TIMINGS=n
CONFIG_MMC_SDHCI_PLTFM=n
CONFIG_PCI_LABEL=n
CONFIG_DST_CACHE=n
CONFIG_NET_VENDOR_WIZNET=n
CONFIG_INET_TUNNEL=n
CONFIG_VIRT_XFER_TO_GUEST_WORK=n
CONFIG_CLK_STARFIVE_JH7110_VOUT=n
CONFIG_CPU_IDLE_MULTIPLE_DRIVERS=n
CONFIG_FB_NOTIFY=n
CONFIG_MOUSE_PS2=n
CONFIG_IP_PNP_RARP=n
CONFIG_USB_MUSB_HDRC=n
CONFIG_CAN_RAW=n
CONFIG_MFD_CORE=n
CONFIG_IRQ_WORK=n
CONFIG_SCSI_COMMON=n
CONFIG_CC_HAS_ZERO_CALL_USED_REGS=n
CONFIG_IP_NF_IPTABLES=n
CONFIG_COMMON_CLK_RPMI=n
CONFIG_RISCV_APLIC=n
CONFIG_VIRTIO_MMIO=n
CONFIG_SND_SIMPLE_CARD_UTILS=n
CONFIG_ARCH_DEFAULT_CRASH_DUMP=n
CONFIG_HOTPLUG_CORE_SYNC=n
CONFIG_INTEGRITY=n
CONFIG_CRYPTO_AEAD2=n
CONFIG_HOTPLUG_CORE_SYNC_FULL=n
CONFIG_ARCH_HAS_UBSAN=n
CONFIG_DRM_CLIENT_DEFAULT_FBDEV=n
CONFIG_PM_GENERIC_DOMAINS_OF=n
CONFIG_FS_MBCACHE=n
CONFIG_FRAMEBUFFER_CONSOLE_DETECT_PRIMARY=n
CONFIG_USB_F_FS=n
CONFIG_PCC=n
CONFIG_SECURITY_SELINUX=n
CONFIG_ARCH_HAS_NON_OVERLAPPING_ADDRESS_SPACE=n
CONFIG_TIMER_PROBE=n
CONFIG_EFIVAR_FS=n
CONFIG_XFRM_USER=n
CONFIG_NET_VENDOR_BROADCOM=n
CONFIG_DRM_DISPLAY_DP_HELPER=n
CONFIG_NET_VENDOR_ADI=n
CONFIG_WLAN_VENDOR_ATMEL=n
CONFIG_PCI_HOST_COMMON=n
CONFIG_TIMERFD=n
CONFIG_THERMAL_HWMON=n
CONFIG_TOOLCHAIN_HAS_V=n
CONFIG_DRM_VIRTIO_GPU=n
CONFIG_NET_RX_BUSY_POLL=n
CONFIG_PINCTRL_SOPHGO_CV1800B=n
CONFIG_WLAN_VENDOR_QUANTENNA=n
CONFIG_HAVE_MOVE_PUD=n
CONFIG_IPV6=n
CONFIG_PADATA=n
CONFIG_WLAN_VENDOR_TI=n
CONFIG_INOTIFY_USER=n
CONFIG_VIDEO_CADENCE_CSI2RX=n
CONFIG_OID_REGISTRY=n
CONFIG_DWMAC_SOPHGO=n
CONFIG_MOUSE_PS2_SYNAPTICS_SMBUS=n
CONFIG_ARCH_MICROCHIP=n
CONFIG_NETFILTER=n
CONFIG_BLOCK_HOLDER_DEPRECATED=n
CONFIG_USB_LIBCOMPOSITE=n
CONFIG_ACPI_BATTERY=n
CONFIG_BLK_DEV_SR=n
CONFIG_VIRTUALIZATION=n
CONFIG_FS_STACK=n
CONFIG_SND_DMAENGINE_PCM=n
CONFIG_GENERIC_IOREMAP=n
CONFIG_XZ_DEC_POWERPC=n
CONFIG_PINCTRL_SPACEMIT_K1=n
CONFIG_MD=n
CONFIG_NET_VENDOR_QLOGIC=n
CONFIG_PROFILING=n
CONFIG_RISCV_ISA_ZAWRS=n
CONFIG_VIRTIO_PCI_LIB=n
CONFIG_GENERIC_IRQ_MIGRATION=n
CONFIG_INTERVAL_TREE=n
CONFIG_NET_VENDOR_ROCKER=n
CONFIG_USB_DEFAULT_PERSIST=n
CONFIG_SUN6I_RTC_CCU=n
CONFIG_PCIEASPM_DEFAULT=n
CONFIG_GENERIC_PINCTRL_GROUPS=n
CONFIG_RD_LZMA=n
CONFIG_TRACE_IRQFLAGS_SUPPORT=n
CONFIG_WLAN_VENDOR_ST=n
CONFIG_RTC_INTF_PROC=n
CONFIG_PROC_CHILDREN=n
CONFIG_NF_LOG_ARP=n
CONFIG_VIRTIO_NET=n
CONFIG_AS_HAS_INSN=n
CONFIG_LD_CAN_USE_KEEP_IN_OVERLAY=n
CONFIG_MDIO_BUS_MUX=n
CONFIG_RISCV_ISA_ZICBOZ=n
CONFIG_USB_CONFIGFS_F_FS=n
CONFIG_UCS2_STRING=n
CONFIG_NETFILTER_XT_MARK=n
CONFIG_IP_PNP=n
CONFIG_NET_VENDOR_SAMSUNG=n
CONFIG_SPARSEMEM_VMEMMAP_ENABLE=n
CONFIG_SOC_STARFIVE=n
CONFIG_FIX_EARLYCON_MEM=n
CONFIG_PACKET=n
CONFIG_TENSTORRENT_ATLANTIS_PRCM=n
CONFIG_RTC_HCTOSYS=n
CONFIG_RPS=n
CONFIG_WLAN_VENDOR_INTEL=n
CONFIG_SKB_EXTENSIONS=n
CONFIG_ARCH_USE_QUEUED_RWLOCKS=n
CONFIG_ARCH_WANT_HUGE_PMD_SHARE=n
CONFIG_WATCHDOG=n
CONFIG_PREEMPT_NOTIFIERS=n
CONFIG_NETFILTER_XT_MATCH_CONNTRACK=n
CONFIG_SATA_PMP=n
CONFIG_NET_VENDOR_NATSEMI=n
CONFIG_REGMAP_I2C=n
CONFIG_ARCH_HAS_STRICT_KERNEL_RWX=n
