CONFIG_NET_L3_MASTER_DEV=n
CONFIG_DMI=n
CONFIG_CRC_ITU_T=n
CONFIG_BLK_DEV_LOOP=n
CONFIG_WLAN=n
CONFIG_MMU_GATHER_TABLE_FREE=n
CONFIG_DMADEVICES=n
CONFIG_RISCV_NONSTANDARD_CACHE_OPS=n
CONFIG_IPVLAN_L3S=n
CONFIG_PM_GENERIC_DOMAINS_OF=n
CONFIG_FAILOVER=n
CONFIG_VIDEO_CADENCE_CSI2RX=n
CONFIG_NFS_FS=n
CONFIG_ARCH_SELECT_MEMORY_MODEL=n
CONFIG_REGMAP_SPI=n
CONFIG_ASN1=n
CONFIG_SUSPEND=n
CONFIG_BLOCK_LEGACY_AUTOLOAD=n
CONFIG_PCI=n
CONFIG_SCSI_VIRTIO=n
CONFIG_GPIO_CDEV=n
CONFIG_HAVE_PERF_USER_STACK_DUMP=n
CONFIG_PGTABLE_HAS_HUGE_LEAVES=n
CONFIG_MTD_SPI_NOR_USE_4K_SECTORS=n
CONFIG_SCSI_PROC_FS=n
CONFIG_MOUSE_PS2_BYD=n
CONFIG_ARCH_HAS_PMEM_API=n
CONFIG_SND_SIMPLE_CARD=n
CONFIG_HAS_DMA=n
CONFIG_EXECMEM=n
CONFIG_ARCH_SUPPORTS_SCHED_MC=n
CONFIG_POWER_RESET=n
CONFIG_ARCH_HAS_PTE_SPECIAL=n
CONFIG_MTD_CFI_I1=n
CONFIG_DMA_ACPI=n
CONFIG_ACPI_CPPC_LIB=n
CONFIG_CRYPTO_LIB_SHA256=n
CONFIG_NET_VENDOR_AMD=n
CONFIG_STACKTRACE=n
CONFIG_ARCH_ENABLE_SPLIT_PMD_PTLOCK=n
CONFIG_ADVISE_SYSCALLS=n
CONFIG_USB_EHCI_HCD=n
CONFIG_SSB_POSSIBLE=n
CONFIG_DST_CACHE=n
CONFIG_USB_F_OBEX=n
CONFIG_DMA_NEED_SYNC=n
CONFIG_TASKS_TRACE_RCU=n
CONFIG_SND_TIMER=n
CONFIG_FW_LOADER=n
CONFIG_NET_VENDOR_SEEQ=n
CONFIG_NET_VENDOR_FUNGIBLE=n
CONFIG_NETFILTER_XT_MATCH_ADDRTYPE=n
CONFIG_REGULATOR_SPACEMIT_P1=n
CONFIG_IOMMU_DEFAULT_DMA_STRICT=n
CONFIG_NFS_V4_0=n
CONFIG_HID_GENERIC=n
CONFIG_DRM_CLIENT=n
CONFIG_WLAN_VENDOR_INTEL=n
CONFIG_VIDEO_V4L2_I2C=n
CONFIG_MMU=n
CONFIG_SPARSE_IRQ=n
CONFIG_NET_RX_BUSY_POLL=n
CONFIG_ARCH_DMA_DEFAULT_COHERENT=n
CONFIG_RISCV_INTC=n
CONFIG_R8169=n
CONFIG_OVERLAY_FS_REDIRECT_ALWAYS_FOLLOW=n
CONFIG_ERRATA_THEAD_GHOSTWRITE=n
CONFIG_HW_RANDOM_ATMEL=n
CONFIG_SIGNALFD=n
CONFIG_QUEUED_SPINLOCKS=n
CONFIG_USB_F_MASS_STORAGE=n
CONFIG_CPU_FREQ_GOV_ONDEMAND=n
CONFIG_PINCTRL_ULTRARISC=n
CONFIG_HAVE_ARCH_KGDB=n
CONFIG_BLK_DEV_PMEM=n
CONFIG_GENERIC_CPU_VULNERABILITIES=n
CONFIG_USB_ARCH_HAS_HCD=n
CONFIG_PAGE_SIZE_LESS_THAN_256KB=n
CONFIG_PINCTRL_SOPHGO_COMMON=n
CONFIG_HAVE_KERNEL_LZMA=n
CONFIG_CLK_SIFIVE_PRCI=n
CONFIG_REALTEK_PHY=n
CONFIG_GENERIC_MSI_IRQ=n
CONFIG_GENERIC_IOREMAP=n
CONFIG_IO_URING=n
CONFIG_TCP_CONG_CUBIC=n
CONFIG_GCC_NO_STRINGOP_OVERFLOW=n
CONFIG_GENERIC_ENTRY=n
CONFIG_HAVE_ARCH_MMAP_RND_COMPAT_BITS=n
CONFIG_NVMEM_LAYOUTS=n
CONFIG_MCHP_CLK_MPFS=n
CONFIG_ARCH_WANTS_THP_SWAP=n
CONFIG_DMA_SHARED_BUFFER=n
CONFIG_HAVE_CLK=n
CONFIG_HAVE_PAGE_SIZE_4KB=n
CONFIG_ARCH_HAS_BINFMT_FLAT=n
CONFIG_EEPROM_93CX6=n
CONFIG_REGULATOR_AXP20X=n
CONFIG_ACPI_REDUCED_HARDWARE_ONLY=n
CONFIG_I2C=n
CONFIG_SPLIT_PMD_PTLOCKS=n
CONFIG_GPIO_GENERIC=n
CONFIG_SYSVIPC_COMPAT=n
CONFIG_NET_XGRESS=n
CONFIG_HAVE_ARCH_SOFT_DIRTY=n
CONFIG_ARCH_ULTRARISC=n
CONFIG_NLS_ISO8859_1=n
CONFIG_RESET_SPACEMIT_K1=n
CONFIG_ZSTD_COMPRESS=n
CONFIG_LOCKD_V4=n
CONFIG_PM_SLEEP=n
CONFIG_SECURITY_SELINUX_AVC_STATS=n
CONFIG_WATCHDOG_HANDLE_BOOT_ENABLED=n
CONFIG_ARCH_CANAAN=n
CONFIG_VIRTIO_DMA_SHARED_BUFFER=n
CONFIG_IKCONFIG_PROC=n
CONFIG_SPI_DYNAMIC=n
CONFIG_RISCV_ISA_V_PREEMPTIVE=n
CONFIG_INET_ESP=n
CONFIG_SUNRPC=n
CONFIG_OF_IRQ=n
CONFIG_EXTCON=n
CONFIG_LEGACY_PTYS=n
CONFIG_DRM_DISPLAY_HELPER=n
CONFIG_FIX_EARLYCON_MEM=n
CONFIG_ETHERNET=n
CONFIG_ARM_AMBA=n
CONFIG_PAGE_POOL=n
CONFIG_THERMAL_GOV_STEP_WISE=n
CONFIG_MMC_SDHCI_CADENCE=n
CONFIG_RD_ZSTD=n
CONFIG_VIDEO=n
CONFIG_SND_PCI=n
CONFIG_INITRAMFS_PRESERVE_MTIME=n
CONFIG_VM_EVENT_COUNTERS=n
CONFIG_FAT_FS=n
CONFIG_ARCH_FLATMEM_ENABLE=n
CONFIG_ARCH_HAS_PTDUMP=n
CONFIG_RPMSG=n
CONFIG_FS_IOMAP=n
CONFIG_HAVE_HARDLOCKUP_DETECTOR_BUDDY=n
CONFIG_HZ_250=n
CONFIG_NET_VENDOR_SIS=n
CONFIG_ERRATA_THEAD=n
CONFIG_WLAN_VENDOR_BROADCOM=n
CONFIG_BALLOON=n
CONFIG_VIRTIO=n
CONFIG_POWER_RESET_SPACEMIT_P1=n
CONFIG_REGMAP_MMIO=n
CONFIG_HAVE_KVM_MSI=n
CONFIG_INPUT_MOUSEDEV=n
CONFIG_ERRATA_THEAD_MAE=n
CONFIG_INOTIFY_USER=n
CONFIG_RCU_TRACE=n
CONFIG_HAVE_CONTEXT_TRACKING_USER=n
CONFIG_MAILBOX=n
CONFIG_CRYPTO_LIB_AES=n
CONFIG_RESET_SIMPLE=n
CONFIG_RD_XZ=n
CONFIG_UCS2_STRING=n
CONFIG_ELFCORE=n
CONFIG_OVERLAY_FS=n
CONFIG_DMIID=n
CONFIG_MTD_CFI=n
CONFIG_PINCTRL=n
CONFIG_GENERIC_IRQ_SHOW_LEVEL=n
CONFIG_MEMBARRIER=n
CONFIG_SECURITY_SELINUX_DEVELOP=n
CONFIG_FSNOTIFY=n
CONFIG_PCS_XPCS=n
CONFIG_GENERIC_IRQ_SHOW=n
CONFIG_HAVE_GENERIC_TIF_BITS=n
CONFIG_GPIOLIB_IRQCHIP=n
CONFIG_PCI_DOMAINS_GENERIC=n
CONFIG_CRYPTO_GCM=n
CONFIG_SMP=n
CONFIG_MICROSEMI_PHY=n
CONFIG_BLK_ICQ=n
CONFIG_RISCV_SBI=n
CONFIG_HAVE_KERNEL_BZIP2=n
CONFIG_DRM_PANEL_ORIENTATION_QUIRKS=n
CONFIG_BUG=n
CONFIG_HAS_IOPORT_MAP=n
CONFIG_SPI_CADENCE_QUADSPI=n
CONFIG_CRYPTO_SIG2=n
CONFIG_ARCH_STARFIVE=n
CONFIG_OF_FLATTREE=n
CONFIG_GRACE_PERIOD=n
CONFIG_FREEZER=n
CONFIG_PCI_HOST_COMMON=n
CONFIG_HW_RANDOM_VIRTIO=n
CONFIG_DWMAC_SUN55I=n
CONFIG_CC_HAS_NO_PROFILE_FN_ATTR=n
CONFIG_SND_DRIVERS=n
CONFIG_CRYPTO_KPP2=n
CONFIG_NET_SCH_FIFO=n
CONFIG_CRC7=n
CONFIG_DWMAC_GENERIC=n
CONFIG_USB_F_RNDIS=n
CONFIG_EXT4_FS=n
CONFIG_NLS=n
CONFIG_ATA_VERBOSE_ERROR=n
CONFIG_USB_CDNSP_PCI=n
CONFIG_NF_LOG_ARP=n
CONFIG_ZISOFS=n
CONFIG_MMU_LAZY_TLB_REFCOUNT=n
CONFIG_ARCH_SUPPORTS_LTO_CLANG=n
CONFIG_HOTPLUG_SPLIT_STARTUP=n
CONFIG_WLAN_VENDOR_QUANTENNA=n
CONFIG_V4L2_FWNODE=n
CONFIG_IOMMU_PT_RISCV64=n
CONFIG_SECCOMP_FILTER=n
CONFIG_NET_VENDOR_PENSANDO=n
CONFIG_CRYPTO_AUTHENC=n
CONFIG_SBITMAP=n
CONFIG_CC_HAS_AUTO_VAR_INIT_PATTERN=n
CONFIG_RISCV_APLIC_MSI=n
CONFIG_CAN_NETLINK=n
CONFIG_MICREL_PHY=n
CONFIG_HAVE_IRQ_TIME_ACCOUNTING=n
CONFIG_HAVE_PERF_EVENTS=n
CONFIG_POWER_SEQUENCING=n
CONFIG_SUN6I_MSGBOX=n
CONFIG_HAVE_64BIT_ALIGNED_ACCESS=n
CONFIG_CONTEXT_TRACKING_IDLE=n
CONFIG_DWMAC_SUN8I=n
CONFIG_RISCV_ALTERNATIVE=n
CONFIG_MMC_SDHCI_OF_K1=n
CONFIG_SYSCTL_ARCH_UNALIGN_ALLOW=n
CONFIG_REGMAP=n
CONFIG_VT=n
CONFIG_DRM_DISPLAY_HDMI_HELPER=n
CONFIG_HAVE_ARCH_HUGE_VMALLOC=n
CONFIG_HOTPLUG_CORE_SYNC_DEAD=n
CONFIG_ARCH_SUPPORTS_DEBUG_PAGEALLOC=n
CONFIG_NET_VENDOR_ENGLEDER=n
CONFIG_SERIAL_8250_DWLIB=n
CONFIG_ARCH_SUNXI=n
CONFIG_HAVE_ARCH_KFENCE=n
CONFIG_TOOLCHAIN_HAS_ZBKB=n
CONFIG_TMPFS=n
CONFIG_SND_SOC=n
CONFIG_PINCTRL_SUNXI=n
CONFIG_CPU_MITIGATIONS=n
CONFIG_ARCH_KEEP_MEMBLOCK=n
CONFIG_USB_CONFIGFS_MASS_STORAGE=n
CONFIG_RING_BUFFER=n
CONFIG_HAVE_FUNCTION_ERROR_INJECTION=n
CONFIG_CGROUP_CPUACCT=n
CONFIG_USB_CONFIGFS_SERIAL=n
CONFIG_NET_VENDOR_VERTEXCOM=n
CONFIG_EFI_PARAMS_FROM_FDT=n
CONFIG_ND_CLAIM=n
CONFIG_NETDEVICES=n
CONFIG_ARCH_USE_SYM_ANNOTATIONS=n
CONFIG_CRYPTO_LIB_BLAKE2B=n
CONFIG_CC_NO_STRINGOP_OVERFLOW=n
CONFIG_BLK_CGROUP_RWSTAT=n
CONFIG_GPIO_SPACEMIT_K1=n
CONFIG_PCI_MSI=n
CONFIG_ACPI_BATTERY=n
CONFIG_DUMMY=n
CONFIG_IPV6_NDISC_NODETYPE=n
CONFIG_DRM_VIRTIO_GPU=n
CONFIG_EXT4_FS_POSIX_ACL=n
CONFIG_ARCH_SUPPORTS_LTO_CLANG_THIN=n
CONFIG_ACPI_GENERIC_GSI=n
CONFIG_INTEGRITY=n
CONFIG_NET_VENDOR_DAVICOM=n
CONFIG_RISCV_IMSIC=n
CONFIG_SND_SIMPLE_CARD_UTILS=n
CONFIG_OF_KOBJ=n
CONFIG_WLAN_VENDOR_INTERSIL=n
CONFIG_IP_NF_IPTABLES=n
CONFIG_SUN20I_PPU=n
CONFIG_RAMDAX=n
CONFIG_DECOMPRESS_LZ4=n
CONFIG_DRM_SUBALLOC_HELPER=n
CONFIG_RISCV_IOMMU_PCI=n
CONFIG_PCPU_DEV_REFCNT=n
CONFIG_CC_HAS_WORKING_NOSANITIZE_ADDRESS=n
CONFIG_NF_LOG_IPV6=n
CONFIG_VIRTIO_MENU=n
CONFIG_THERMAL_DEFAULT_GOV_STEP_WISE=n
CONFIG_SCSI_MOD=n
CONFIG_DECOMPRESS_LZMA=n
CONFIG_BTT=n
CONFIG_CRYPTO_ALGAPI2=n
CONFIG_NET_VENDOR_CISCO=n
CONFIG_BITREVERSE=n
CONFIG_NET_VENDOR_OKI=n
CONFIG_SYMBOLIC_ERRNAME=n
CONFIG_CAN_BCM=n
CONFIG_POWER_SUPPLY=n
CONFIG_CORE_DUMP_DEFAULT_ELF_HEADERS=n
CONFIG_HAVE_KVM_IRQ_ROUTING=n
CONFIG_PHY_SUN6I_MIPI_DPHY=n
CONFIG_CC_HAS_ASM_INLINE=n
CONFIG_FAIR_GROUP_SCHED=n
CONFIG_HAVE_PCI=n
