CONFIG_PAGE_POOL_STATS=y
CONFIG_HAVE_CLK_PREPARE=y
CONFIG_MTD_CFI_I2=y
CONFIG_COMMON_CLK_CDCE925=y
CONFIG_LZ4HC_COMPRESS=y
CONFIG_DEVFREQ_THERMAL=y
CONFIG_CEC_NXP_TDA9950=y
CONFIG_PREEMPTION=y
CONFIG_AUDITSYSCALL=y
CONFIG_RAID_ATTRS=y
CONFIG_EXPORTFS=y
CONFIG_BLK_DEV_NBD=y
CONFIG_NLS_CODEPAGE_869=y
CONFIG_GPIO_SLOPPY_LOGIC_ANALYZER=y
CONFIG_SOFTLOCKUP_DETECTOR=y
CONFIG_CRYPTO_AKCIPHER=y
CONFIG_MFD_MAX77693=y
CONFIG_MFD_INTEL_LPSS_ACPI=y
CONFIG_X86_DISABLED_FEATURE_RETPOLINE_LFENCE=y
CONFIG_INTEL_IFS=y
CONFIG_MQ_IOSCHED_DEADLINE=y
CONFIG_MTD_PCMCIA_ANONYMOUS=y
CONFIG_UFS_FS_WRITE=y
CONFIG_PTP_1588_CLOCK_VMCLOCK=y
CONFIG_BEFS_FS=y
CONFIG_IRQ_POLL=y
CONFIG_REGULATOR_ATC260X=y
CONFIG_MFD_ROHM_BD957XMUF=y
CONFIG_ZSTD_COMMON=y
CONFIG_UIO=y
CONFIG_ELFCORE=y
CONFIG_KEXEC_CORE=y
CONFIG_DUMMY=y
CONFIG_CRYPTO_RNG=y
CONFIG_I3C_OR_I2C=y
CONFIG_EXT2_FS=y
CONFIG_SCHED_INFO=y
CONFIG_PINCTRL_SINGLE=y
CONFIG_NLS_CODEPAGE_865=y
CONFIG_FB_SYS_IMAGEBLIT=y
CONFIG_IDLE_INJECT=y
CONFIG_FUTEX_MPOL=y
CONFIG_CRYPTO_SERPENT_AVX2_X86_64=y
CONFIG_OPEN_ALLIANCE_HELPERS=y
CONFIG_REGULATOR_MP886X=y
CONFIG_PROC_PAGE_MONITOR=y
CONFIG_DEBUG_PAGEALLOC_ENABLE_DEFAULT=y
CONFIG_SFP=y
CONFIG_HAVE_ARCH_PREL32_RELOCATIONS=y
CONFIG_CHARGER_LT3651=y
CONFIG_WDAT_WDT=y
CONFIG_DMA_OF=y
CONFIG_PT_RECLAIM=y
CONFIG_INTEL_SMARTCONNECT=y
CONFIG_OF_IOMMU=y
CONFIG_INTEL_TH_PTI=y
CONFIG_COMEDI=y
CONFIG_PCMCIA=y
CONFIG_GENERIC_IRQ_MATRIX_ALLOCATOR=y
CONFIG_INPUT=y
CONFIG_REGMAP_SPMI=y
CONFIG_DEBUG_FS_ALLOW_ALL=y
CONFIG_RT_GROUP_SCHED_DEFAULT_DISABLED=y
CONFIG_NEED_PER_CPU_PAGE_FIRST_CHUNK=y
CONFIG_DUMMY_IRQ=y
CONFIG_INPUT_JOYSTICK=y
CONFIG_HAVE_ARCH_SECCOMP=y
CONFIG_NET_VENDOR_AMD=y
CONFIG_BINFMT_SCRIPT=y
CONFIG_SAMSUNG_LAPTOP=y
CONFIG_GPIO_WM8350=y
CONFIG_REGULATOR_FIXED_VOLTAGE=y
CONFIG_BACKLIGHT_LM3509=y
CONFIG_INTEL_TURBO_MAX_3=y
CONFIG_BACKLIGHT_ADP8860=y
CONFIG_X86_REQUIRED_FEATURE_LM=y
CONFIG_LD_CAN_USE_KEEP_IN_OVERLAY=y
CONFIG_HOTPLUG_SPLIT_STARTUP=y
CONFIG_LEDS_RT8515=y
CONFIG_CRYPTO_DEFLATE=y
CONFIG_X86_REQUIRED_FEATURE_XMM=y
CONFIG_ACPI_APEI_ERST_DEBUG=y
CONFIG_X86_DISABLED_FEATURE_XENPV=y
CONFIG_REGMAP_MMIO=y
CONFIG_POWER_SUPPLY=y
CONFIG_AFFS_FS=y
CONFIG_GPIB=y
CONFIG_DEBUG_VM_PGTABLE=y
CONFIG_REGULATOR_ADP5055=y
CONFIG_MFD_INTEL_LPSS=y
CONFIG_X86_LOCAL_APIC=y
CONFIG_ARCH_USE_CMPXCHG_LOCKREF=y
CONFIG_TCG_TPM=y
CONFIG_MTD=y
CONFIG_NLS_CODEPAGE_932=y
CONFIG_MICROCHIP_T1_PHY=y
CONFIG_GPIO_PCA953X_IRQ=y
CONFIG_LEDS_LP8860=y
CONFIG_RTC_MC146818_LIB=y
CONFIG_HAVE_UNWIND_USER_FP=y
CONFIG_LOCKUP_DETECTOR=y
CONFIG_ENERGY_MODEL=y
CONFIG_MTD_BLOCK=y
CONFIG_CRYPTO_LZ4=y
CONFIG_MFD_MT6370=y
CONFIG_MFD_ARIZONA=y
CONFIG_HAVE_ARCH_KFENCE=y
CONFIG_CRYPTO_KRB5ENC=y
CONFIG_HAVE_CMPXCHG_LOCAL=y
CONFIG_GENERIC_ALLOCATOR=y
CONFIG_NLS_MAC_CYRILLIC=y
CONFIG_X86=y
CONFIG_GENERIC_PCI_IOMAP=y
CONFIG_MDIO_BITBANG=y
CONFIG_NEED_PER_CPU_EMBED_FIRST_CHUNK=y
CONFIG_LEDS_BCM6358=y
CONFIG_MAXLINEAR_86110_PHY=y
CONFIG_MFD_MAX8998=y
CONFIG_HAVE_ARCH_SOFT_DIRTY=y
CONFIG_CRYPTO_CAMELLIA_AESNI_AVX2_X86_64=y
CONFIG_HAVE_C_RECORDMCOUNT=y
CONFIG_I2C_DEBUG_CORE=y
CONFIG_OBJTOOL=y
CONFIG_EXPERT=y
CONFIG_REGULATOR_TPS65023=y
CONFIG_MDIO_MSCC_MIIM=y
CONFIG_SSB_PCMCIAHOST=y
CONFIG_BLK_CGROUP_PUNT_BIO=y
CONFIG_MFD_MC13XXX=y
CONFIG_PERCPU_STATS=y
CONFIG_CRYPTO_USER_API=y
CONFIG_CICADA_PHY=y
CONFIG_SIGNALFD=y
CONFIG_JFFS2_FS=y
CONFIG_NET_VENDOR_NI=y
CONFIG_REGULATOR_RT5190A=y
CONFIG_MAILBOX_TEST=y
CONFIG_ARCH_CLOCKSOURCE_INIT=y
CONFIG_GPIO_AGGREGATOR=y
CONFIG_BLK_DEV_FD=y
CONFIG_VIRTIO_IOMMU=y
CONFIG_CHARGER_RT9471=y
CONFIG_CRYPTO_SERPENT=y
CONFIG_DECOMPRESS_GZIP=y
CONFIG_BLK_PM=y
CONFIG_MAILBOX=y
CONFIG_MTD_NAND_CORE=y
CONFIG_CPUFREQ_ARCH_CUR_FREQ=y
CONFIG_COMMON_CLK_RK808=y
CONFIG_NFC_ST21NFCA_I2C=y
CONFIG_LRU_GEN_WALKS_MMU=y
CONFIG_SERIAL_DEV_BUS=y
CONFIG_INTEL_XWAY_PHY=y
CONFIG_PATA_PARPORT_FRPW=y
CONFIG_PNP=y
CONFIG_GENERIC_NET_UTILS=y
CONFIG_CRYPTO_LIB_BLAKE2S_ARCH=y
CONFIG_OVERLAY_FS=y
CONFIG_SC1200_WDT=y
CONFIG_SIEMENS_SIMATIC_IPC=y
CONFIG_LOCKDEP_SUPPORT=y
CONFIG_ARCH_WANTS_NO_INSTR=y
CONFIG_X86_DISABLED_FEATURE_INVLPGB=y
CONFIG_REED_SOLOMON=y
CONFIG_SCHEDSTATS=y
CONFIG_DEBUG_GPIO=y
CONFIG_NLS_CODEPAGE_850=y
CONFIG_FSI_MASTER_HUB=y
CONFIG_HAVE_KPROBES=y
CONFIG_ADVANTECH_WDT=y
CONFIG_MTD_NAND_GPIO=y
CONFIG_EXTCON_MAX14526=y
CONFIG_RATIONAL=y
CONFIG_SSB_SPROM=y
CONFIG_GPIO_TPIC2810=y
CONFIG_HAVE_ALIGNED_STRUCT_PAGE=y
CONFIG_PCS_XPCS=y
CONFIG_DMA_CMA=y
CONFIG_PROC_FS=y
CONFIG_FB_NOTIFY=y
CONFIG_HAVE_SOFTIRQ_ON_OWN_STACK=y
CONFIG_FSI_MASTER_I2CR=y
CONFIG_GENERIC_STRNCPY_FROM_USER=y
CONFIG_ACPI_DOCK=y
CONFIG_GPIO_GENERIC_PLATFORM=y
CONFIG_RAID6_PQ=y
CONFIG_SQUASHFS_ZLIB=y
CONFIG_NLS_UCS2_UTILS=y
CONFIG_PATA_PARPORT_KBIC=y
CONFIG_PINCTRL_GEMINILAKE=y
CONFIG_FAT_DEFAULT_UTF8=y
CONFIG_GPIO_FTGPIO010=y
CONFIG_HAVE_UACCESS_VALIDATION=y
CONFIG_GENERIC_CLOCKEVENTS_COUPLED_INLINE=y
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE=y
CONFIG_NFC_VIRTUAL_NCI=y
CONFIG_GPIO_TC3589X=y
CONFIG_NFC_S3FWRN82_UART=y
CONFIG_X86_REQUIRED_FEATURE_PSE=y
CONFIG_ARCH_SUPPORTS_ATOMIC_RMW=y
CONFIG_X86_REQUIRED_FEATURE_PGE=y
CONFIG_GPIO_GW_PLD=y
CONFIG_MFD_RT5120=y
CONFIG_NFC_NCI=y
CONFIG_MFD_KEMPLD=y
CONFIG_X86_MSR=y
CONFIG_ACPI_HOTPLUG_CPU=y
CONFIG_X86_PM_TIMER=y
CONFIG_EFI_RUNTIME_MAP=y
CONFIG_ACPI_CPU_FREQ_PSS=y
CONFIG_GPIO_PCA953X=y
CONFIG_VHOST_ENABLE_FORK_OWNER_CONTROL=y
CONFIG_BPF_JIT=y
CONFIG_FS_IOMAP=y
CONFIG_CRYPTO_SERPENT_SSE2_X86_64=y
CONFIG_ZL3073X=y
CONFIG_MULTIPLEXER=y
CONFIG_CRAMFS_MTD=y
CONFIG_VXFS_FS=y
CONFIG_EROFS_FS_BACKED_BY_FILE=y
CONFIG_VDSO_GETRANDOM=y
CONFIG_COREDUMP=y
CONFIG_PINCTRL_CEDARFORK=y
CONFIG_LEDS_OSRAM_AMS_AS3668=y
CONFIG_NLS_CODEPAGE_1251=y
CONFIG_BACKLIGHT_QCOM_WLED=y
CONFIG_X86_DISABLED_FEATURE_IBT=y
CONFIG_BALLOON_MIGRATION=y
CONFIG_MFD_BD9571MWV=y
CONFIG_MTD_NAND_ECC=y
CONFIG_PAGE_COUNTER=y
CONFIG_HAVE_CMPXCHG_DOUBLE=y
CONFIG_HAS_IOPORT_MAP=y
CONFIG_X86_PLATFORM_DRIVERS_UNIWILL=y
CONFIG_WATCHDOG=y
CONFIG_ARCH_ENABLE_SPLIT_PMD_PTLOCK=y
CONFIG_ACPI_MDIO=y
CONFIG_INTEL_TH=y
CONFIG_DWC_XLGMAC=y
CONFIG_PINCTRL_CS47L90=y
CONFIG_TASK_IO_ACCOUNTING=y
CONFIG_TPS6507X=y
CONFIG_MTD_AMD76XROM=y
CONFIG_MICROCHIP_T1S_PHY=y
CONFIG_DEBUG_OBJECTS_RCU_HEAD=y
CONFIG_COMMON_CLK_SI570=y
CONFIG_DMABUF_HEAPS_SYSTEM_CC_SHARED=y
CONFIG_MFD_ATC260X_I2C=y
CONFIG_TOSHIBA_BT_RFKILL=y
CONFIG_PM_DEVFREQ=y
CONFIG_NET_VENDOR_MICROSOFT=y
CONFIG_TCG_TIS_ST33ZP24=y
CONFIG_ARCH_HAS_SYNC_CORE_BEFORE_USERMODE=y
CONFIG_HAVE_STATIC_CALL=y
CONFIG_HOTPLUG_CPU=y
CONFIG_REGULATOR_RK808=y
CONFIG_X86_REQUIRED_FEATURE_MSR=y
CONFIG_PATA_PARPORT_DSTR=y
CONFIG_MTD_CMDLINE_PARTS=y
CONFIG_UBIFS_FS_AUTHENTICATION=y
CONFIG_PSTORE=y
CONFIG_X86_DISABLED_FEATURE_RETPOLINE=y
CONFIG_DP83869_PHY=y
CONFIG_NET_VENDOR_SAMSUNG=y
CONFIG_DEVFREQ_GOV_PASSIVE=y
CONFIG_MFD_CS47L90=y
CONFIG_DEBUG_PLIST=y
CONFIG_FILE_LOCKING=y
CONFIG_ATA=y
CONFIG_RMI4_CORE=y
CONFIG_DEBUG_INFO=y
CONFIG_DEFAULT_SECURITY_DAC=y
CONFIG_EEPROM_MAX6875=y
CONFIG_NTFS_FS=y
CONFIG_SWPHY=y
CONFIG_VHOST_IOTLB=y
CONFIG_MISC_FILESYSTEMS=y
CONFIG_DMABUF_HEAPS_SYSTEM=y
CONFIG_PHYS_ADDR_T_64BIT=y
CONFIG_ACPI_BATTERY=y
CONFIG_REF_TRACKER=y
CONFIG_JOYSTICK_WARRIOR=y
CONFIG_DECOMPRESS_ZSTD=y
CONFIG_BACKLIGHT_BD6107=y
CONFIG_CRYPTO_LIB_GF128HASH=y
CONFIG_IO_URING=y
CONFIG_PHONET=y
CONFIG_CONTIG_ALLOC=y
CONFIG_GPIO_MAX7300=y
CONFIG_LEDS_BRIGHTNESS_HW_CHANGED=y
CONFIG_NTFS_DEBUG=y
CONFIG_ARCH_SUPPORTS_KEXEC_PURGATORY=y
CONFIG_INPUT_SPARSEKMAP=y
CONFIG_MFD_RK8XX_I2C=y
CONFIG_EXTCON_SM5502=y
CONFIG_BLK_DEV_BSGLIB=y
CONFIG_X86_DISABLED_FEATURE_SEV_SNP=y
CONFIG_BLK_DEV_UBLK=y
CONFIG_JFFS2_RUBIN=y
CONFIG_HW_RANDOM_TIMERIOMEM=y
CONFIG_NFC_DIGITAL=y
CONFIG_STE10XP=y
CONFIG_ATA_ACPI=y
CONFIG_MOST_CDEV=y
CONFIG_FIND_BIT_BENCHMARK=y
CONFIG_INTEL_SKL_INT3472=y
CONFIG_KEXEC_HANDOVER=y
CONFIG_EXTCON=y
CONFIG_HW_RANDOM_VIRTIO=y
CONFIG_XZ_DEC_SPARC=y
CONFIG_GPIO_CGBC=y
CONFIG_BTRFS_ASSERT=y
CONFIG_XFS_DRAIN_INTENTS=y
CONFIG_FSI_OCC=y
CONFIG_ARCH_WANT_COMPAT_IPC_PARSE_VERSION=y
CONFIG_REGULATOR_BQ257XX=y
CONFIG_X86_DISABLED_FEATURE_PTI=y
CONFIG_BACKLIGHT_LED=y
CONFIG_MUX_GPIO=y
CONFIG_NLS_CODEPAGE_775=y
CONFIG_RMI4_F12=y
CONFIG_FB_SYS_FILLRECT=y
CONFIG_RMI4_2D_SENSOR=y
CONFIG_SECURITYFS=y
CONFIG_LSI_ET1011C_PHY=y
CONFIG_SLUB_TINY=y
CONFIG_BLOCK=y
CONFIG_LEGACY_DIRECT_IO=y
CONFIG_SATA_PMP=y
CONFIG_REGULATOR_WM8350=y
CONFIG_REGULATOR_LP872X=y
CONFIG_X86_X32_ABI=y
CONFIG_LKDTM=y
CONFIG_HAVE_MOD_ARCH_SPECIFIC=y
CONFIG_HAVE_LIVEPATCH=y
CONFIG_CC_HAS_NAMED_AS=y
CONFIG_BACKLIGHT_ADP8870=y
CONFIG_ECRYPT_FS=y
CONFIG_FB_METRONOME=y
CONFIG_REGULATOR_TPS65086=y
CONFIG_IBMASR=y
CONFIG_ARCH_SUPPORTS_KEXEC_HANDOVER=y
CONFIG_SCHED_AUTOGROUP=y
CONFIG_DIBS=y
CONFIG_NET_VENDOR_SOLARFLARE=y
CONFIG_HD44780=y
CONFIG_AUDIT_ARCH=y
CONFIG_SOFT_WATCHDOG=y
CONFIG_CRYPTO_LIB_BLAKE2B=y
CONFIG_HAVE_STATIC_CALL_INLINE=y
CONFIG_TRUSTED_KEYS=y
CONFIG_MEMCG_V1=y
CONFIG_DMA_OPS_HELPERS=y
CONFIG_F2FS_IOSTAT=y
CONFIG_VIRTIO_NET=y
CONFIG_BLK_DEV_NULL_BLK=y
CONFIG_W1_SLAVE_DS250X=y
CONFIG_QRTR=y
CONFIG_REGULATOR_BD9571MWV=y
CONFIG_XZ_DEC_MICROLZMA=y
CONFIG_COMPACTION=y
CONFIG_LZO_COMPRESS=y
CONFIG_BLK_DEV_ZONED_LOOP=y
CONFIG_NVMEM_LAYOUTS=y
CONFIG_MFD_CORE=y
CONFIG_REGULATOR_BD718XX=y
CONFIG_CGROUP_SCHED=y
CONFIG_ARCH_SUPPORTS_MSEAL_SYSTEM_MAPPINGS=y
CONFIG_CRYPTO_PCRYPT=y
CONFIG_C2PORT_DURAMAR_2150=y
CONFIG_CRYPTO_LIB_SHA512_ARCH=y
CONFIG_NETPOLL=y
CONFIG_DMA_NEED_SYNC=y
CONFIG_X86_CHECK_BIOS_CORRUPTION=y
CONFIG_CRYPTO_LIB_UTILS=y
CONFIG_BUG=y
CONFIG_X86_REQUIRED_FEATURE_CX8=y
CONFIG_HPET_TIMER=y
CONFIG_CRC_OPTIMIZATIONS=y
CONFIG_COMEDI_PCMCIA_DRIVERS=y
CONFIG_DIMLIB=y
CONFIG_CRYPTO_LIB_SHA1_ARCH=y
CONFIG_MTD_MAP_BANK_WIDTH_1=y
CONFIG_JOYSTICK_GUILLEMOT=y
CONFIG_SIOX_BUS_GPIO=y
CONFIG_CONTEXT_TRACKING_USER_FORCE=y
CONFIG_VIRTIO_VDPA=y
CONFIG_LEDS_TRIGGER_BACKLIGHT=y
CONFIG_PREEMPT=y
CONFIG_SCSI_SCAN_ASYNC=y
CONFIG_FW_LOADER_DEBUG=y
CONFIG_ARCH_SUPPORTS_DEBUG_PAGEALLOC=y
CONFIG_CRYPTO_CAST6_AVX_X86_64=y
CONFIG_USB_OHCI_LITTLE_ENDIAN=y
CONFIG_TREE_SRCU=y
CONFIG_CRC16=y
CONFIG_X86_REQUIRED_FEATURE_SYSFAST32=y
CONFIG_CLKEVT_I8253=y
CONFIG_SERIO_LIBPS2=y
CONFIG_STACKTRACE_SUPPORT=y
CONFIG_MFD_TC3589X=y
CONFIG_CRYPTO_AEAD2=y
CONFIG_VIRTIO_MENU=y
CONFIG_COMPAT_VDSO=y
CONFIG_ARCH_SUPPORTS_KEXEC_SIG=y
CONFIG_GENERIC_BUG_RELATIVE_POINTERS=y
CONFIG_FB_SYSMEM_FOPS=y
CONFIG_X86_HAVE_PAE=y
CONFIG_UNWIND_USER=y
CONFIG_HAVE_KERNEL_BZIP2=y
CONFIG_ETHTOOL_NETLINK=y
CONFIG_LOCALVERSION_AUTO=y
CONFIG_XFS_ONLINE_REPAIR=y
CONFIG_ACPI_APEI_GHES=y
CONFIG_SPARSEMEM_VMEMMAP_ENABLE=y
CONFIG_INTEL_TH_DEBUG=y
CONFIG_OF_ADDRESS=y
CONFIG_CRYPTO_XXHASH=y
CONFIG_EFI_DISABLE_RUNTIME=y
CONFIG_MAX6959=y
CONFIG_WPCM450_SOC=y
CONFIG_ARCH_SPARSEMEM_DEFAULT=y
CONFIG_PRINTK_INDEX=y
CONFIG_MEMORY_NOTIFIER_ERROR_INJECT=y
CONFIG_SYSFS_SYSCALL=y
CONFIG_PINCTRL_STMFX=y
CONFIG_CGROUP_PIDS=y
CONFIG_BATTERY_MAX1721X=y
CONFIG_PREEMPT_RT=y
CONFIG_WATCHDOG_NOWAYOUT=y
CONFIG_SCHED_CLUSTER=y
CONFIG_PAGE_POOL=y
CONFIG_FAT_FS=y
CONFIG_MTD_NAND_ECC_SW_HAMMING=y
CONFIG_HAVE_NMI=y
CONFIG_SHMEM=y
CONFIG_X86_INTEL_TSX_MODE_OFF=y
CONFIG_ARCH_SUPPORTS_UPROBES=y
CONFIG_PCCARD=y
CONFIG_ARCH_HAS_UBSAN=y
CONFIG_CC_CAN_LINK=y
CONFIG_CRYPTO_XCTR=y
CONFIG_TEST_BITOPS=y
CONFIG_LCD2S=y
CONFIG_IPACK_BUS=y
CONFIG_EDAC_SUPPORT=y
CONFIG_IO_DELAY_NONE=y
CONFIG_HAVE_KPROBES_ON_FTRACE=y
CONFIG_MLXSW_CORE=y
CONFIG_GPIOLIB_IRQCHIP=y
CONFIG_IPMI_DMI_DECODE=y
CONFIG_PARPORT_PC_SUPERIO=y
CONFIG_ARCH_USE_BUILTIN_BSWAP=y
CONFIG_NSM=y
CONFIG_COMMON_CLK_LOCHNAGAR=y
CONFIG_FS_VERITY=y
CONFIG_PACKING=y
CONFIG_EROFS_FS_ZIP_LZMA=y
CONFIG_NLS_ISO8859_5=y
CONFIG_I2C_KEMPLD=y
CONFIG_DEBUG_LOCKING_API_SELFTESTS=y
CONFIG_INTERVAL_TREE=y
CONFIG_GPIO_AMDPT=y
CONFIG_XFS_RT=y
CONFIG_MFD_CS42L43=y
CONFIG_NLS_CODEPAGE_860=y
CONFIG_COMMON_CLK_VC5=y
CONFIG_DEBUG_ENTRY=y
CONFIG_CRYPTO_CAST_COMMON=y
CONFIG_PSAMPLE=y
CONFIG_DP83848_PHY=y
CONFIG_HAVE_SAMPLE_FTRACE_DIRECT=y
CONFIG_FWNODE_MDIO=y
CONFIG_FW_LOADER_PAGED_BUF=y
CONFIG_HAVE_ACPI_APEI=y
CONFIG_ARCH_HAS_PREEMPT_LAZY=y
CONFIG_PTE_MARKER_UFFD_WP=y
CONFIG_REGULATOR_MCP16502=y
CONFIG_REGULATOR_RN5T618=y
CONFIG_JFFS2_CMODE_PRIORITY=y
CONFIG_DEBUG_BUGVERBOSE=y
CONFIG_CRYPTO_GCM=y
CONFIG_IPMI_HANDLER=y
CONFIG_GENERIC_PINMUX_FUNCTIONS=y
CONFIG_DPLL_REFCNT_TRACKER=y
CONFIG_UBIFS_FS=y
CONFIG_CRYPTO_LIB_SHA1=y
CONFIG_TI_FPC202=y
CONFIG_DECOMPRESS_LZ4=y
CONFIG_PSE_CONTROLLER=y
CONFIG_FUTEX_ROBUST_UNLOCK=y
CONFIG_CRYPTO_HASH_INFO=y
CONFIG_EXPORTFS_BLOCK_OPS=y
CONFIG_VIRT_CPU_ACCOUNTING_GEN=y
CONFIG_RC_CORE=y
CONFIG_I2C_GPIO=y
CONFIG_IB700_WDT=y
CONFIG_AHCI_CEVA=y
CONFIG_ADV_SWBUTTON=y
CONFIG_MAGIC_SYSRQ=y
