CONFIG_CRYPTO_LIB_AES_ARCH=n
CONFIG_ALPINE_MSI=n
CONFIG_SECCOMP_FILTER=n
CONFIG_SC_GCC_8280XP=n
CONFIG_IIO_ST_SENSORS_I2C=n
CONFIG_ARCH_TEGRA_132_SOC=n
CONFIG_MLX5_EN_ARFS=n
CONFIG_ARCH_ASPEED=n
CONFIG_DRM_LONTIUM_LT8713SX=n
CONFIG_TI_K3_CPPI_DESC_POOL=n
CONFIG_CROS_EC_I2C=n
CONFIG_HAVE_ARCH_COMPILER_H=n
CONFIG_SYSC_R8A779A0=n
CONFIG_RD_ZSTD=n
CONFIG_MEMREGION=n
CONFIG_ARCH_HAS_GIGANTIC_PAGE=n
CONFIG_DRM_TTM=n
CONFIG_NET_SOCK_MSG=n
CONFIG_VIDEO_IMX8_ISI_M2M=n
CONFIG_PCIE_QCOM=n
CONFIG_SND_SOC_SPDIF=n
CONFIG_DMA_ACPI=n
CONFIG_QCOM_KRYO_L2_ACCESSORS=n
CONFIG_FW_CACHE=n
CONFIG_ATH10K_LEDS=n
CONFIG_REGULATOR_QCOM_SMD_RPM=n
CONFIG_ARM_GIC_V3_ITS=n
CONFIG_RUSTC_SUPPORTS_ARM64=n
CONFIG_INTERCONNECT_QCOM_SM8350=n
CONFIG_IPQ_GCC_9650=n
CONFIG_SUNRPC=n
CONFIG_USB_MTU3_DUAL_ROLE=n
CONFIG_MEDIA_SUBDRV_AUTOSELECT=n
CONFIG_IP_PNP_DHCP=n
CONFIG_PCI_TEGRA=n
CONFIG_IO_URING=n
CONFIG_REGULATOR_SUN20I=n
CONFIG_SPI_S3C64XX=n
CONFIG_SQUASHFS_FILE_CACHE=n
CONFIG_LEDS_PCA9532=n
CONFIG_IRQ_UNIPHIER_AIDET=n
CONFIG_HID_MULTITOUCH=n
CONFIG_PWM_RENESAS_RZ_MTU3=n
CONFIG_SND_SOC_GTM601=n
CONFIG_CC_NO_ARRAY_BOUNDS=n
CONFIG_RESET_MESON_AUDIO_ARB=n
CONFIG_HAVE_MOVE_PUD=n
CONFIG_MOUSE_PS2_TRACKPOINT=n
CONFIG_PHY_QCOM_QMP_USB=n
CONFIG_PINCTRL_IPQ9574=n
CONFIG_CLK_IMX8MN=n
CONFIG_PINCTRL_MESON_GXL=n
CONFIG_PCIE_HISI_STB=n
CONFIG_DRM_SII902X=n
CONFIG_FS_STACK=n
CONFIG_SPI_BCM_QSPI=n
CONFIG_VIDEO_WAVE_VPU=n
CONFIG_GENERIC_ARCH_NUMA=n
CONFIG_EEPROM_93CX6=n
CONFIG_CLK_R8A774B1=n
CONFIG_I2C_EXYNOS5=n
CONFIG_MHI_WWAN_CTRL=n
CONFIG_POWER_RESET_SYSCON=n
CONFIG_DEVFREQ_THERMAL=n
CONFIG_ARM_PMU_ACPI=n
CONFIG_ARCH_R8A77960=n
CONFIG_ROCKCHIP_SARADC=n
CONFIG_MSM_MMCC_8996=n
CONFIG_ARM64_ERRATUM_4311569=n
CONFIG_PHY_QCOM_QUSB2=n
CONFIG_PHY_TI_GMII_SEL=n
CONFIG_TMPFS_POSIX_ACL=n
CONFIG_NF_CT_PROTO_SCTP=n
CONFIG_ARM_SCMI_HAVE_TRANSPORT=n
CONFIG_ARCH_APPLE=n
CONFIG_IMX_INTMUX=n
CONFIG_FPGA_MGR_ZYNQMP_FPGA=n
CONFIG_RCAR_DMAC=n
CONFIG_SND_SOC_WM8978=n
CONFIG_SND_SOC_SIMPLE_MUX=n
CONFIG_PINCTRL_UNIPHIER_PXS3=n
CONFIG_TEGRA_ACONNECT=n
CONFIG_PREEMPTION=n
CONFIG_PHY_QCOM_USB_HS=n
CONFIG_EXYNOS_PMU=n
CONFIG_SUSPEND=n
CONFIG_SCSI_DMA=n
CONFIG_DEBUG_FS=n
CONFIG_VIDEO_RZG2L_CRU=n
CONFIG_GENERIC_PHY_MIPI_DPHY=n
CONFIG_USB_ISP1761_UDC=n
CONFIG_WCN36XX=n
CONFIG_PCI_MSI=n
CONFIG_SND_PCI=n
CONFIG_MMC_DW_ROCKCHIP=n
CONFIG_CGROUP_SCHED=n
CONFIG_USB_NET_DM9601=n
CONFIG_CROS_EC_SPI=n
CONFIG_PINCTRL_SC8180X=n
CONFIG_RPMSG_VIRTIO=n
CONFIG_SGL_ALLOC=n
CONFIG_HAVE_PV_STEAL_CLOCK_GEN=n
CONFIG_ARM64_ERRATUM_1418040=n
CONFIG_PHY_MESON8B_USB2=n
CONFIG_HAVE_SHARED_GPIOS=n
CONFIG_PINCTRL_MILOS=n
CONFIG_FB=n
CONFIG_PINCTRL_MSM8994=n
CONFIG_MOUSE_PS2_ALPS=n
CONFIG_PWM_MEDIATEK=n
CONFIG_XARRAY_MULTI=n
CONFIG_DRM_DISPLAY_HDCP_HELPER=n
CONFIG_REGULATOR_PWM=n
CONFIG_MFD_SEC_I2C=n
CONFIG_ARCH_SOPHGO=n
CONFIG_IPQ_NSSCC_5424=n
CONFIG_HAVE_CLK_PREPARE=n
CONFIG_UCSI_PMIC_GLINK=n
CONFIG_COMMON_CLK_ROCKCHIP=n
CONFIG_CLK_X1E80100_GCC=n
CONFIG_DECOMPRESS_LZO=n
CONFIG_USB_LAN78XX=n
CONFIG_MPL3115=n
CONFIG_POWER_RESET_MACSMC=n
CONFIG_TOUCHSCREEN_ILI210X=n
CONFIG_ROCKCHIP_ERRATUM_3588001=n
CONFIG_ARCH_SUPPORTS_DEBUG_PAGEALLOC=n
CONFIG_USB_EHCI_BRCMSTB=n
CONFIG_BT_BREDR=n
CONFIG_BATTERY_QCOM_BATTMGR=n
CONFIG_SND_SOC_MT8183_DA7219_MAX98357A=n
CONFIG_SND_SOC_MAX98090=n
CONFIG_SCSI_UFS_RENESAS=n
CONFIG_CAN_RAW=n
CONFIG_FSL_ENETC_IERB=n
CONFIG_GENERIC_BUG=n
CONFIG_FUTEX_PRIVATE_HASH=n
CONFIG_ARM_SCMI_POWER_DOMAIN=n
CONFIG_DRM_PANEL_RAYDIUM_RM67191=n
CONFIG_SUN4I_TIMER=n
CONFIG_VIDEO_AMPHION_VPU=n
CONFIG_BACKLIGHT_CLASS_DEVICE=n
CONFIG_PINCTRL_SM8450=n
CONFIG_REGULATOR_QCOM_REFGEN=n
CONFIG_USB_OHCI_HCD=n
CONFIG_ZYNQMP_FIRMWARE_DEBUG=n
CONFIG_NPCM7XX_WATCHDOG=n
CONFIG_SERIAL_IMX=n
CONFIG_RTC_DRV_TPS6594=n
CONFIG_ARM_SMMU_V3=n
CONFIG_COMMON_CLK_MT8188=n
CONFIG_PINCTRL_IMX91=n
CONFIG_NET_RX_BUSY_POLL=n
CONFIG_CMA_SIZE_SEL_MBYTES=n
CONFIG_MMC_SDHCI_F_SDH30=n
CONFIG_ASYMMETRIC_KEY_TYPE=n
CONFIG_XILINX_ZYNQMP_DPDMA=n
CONFIG_MODULES_USE_ELF_RELA=n
CONFIG_SND_MESON_AXG_SPDIFIN=n
CONFIG_NET_VENDOR_MEDIATEK=n
CONFIG_ARCH_WANT_LD_ORPHAN_WARN=n
CONFIG_SND_SOC_TEGRA210_SFC=n
CONFIG_COMMON_CLK_MT7622=n
CONFIG_SERIAL_8250_DMA=n
CONFIG_USB_CONFIGFS=n
CONFIG_PID_NS=n
CONFIG_IPMI_SI=n
CONFIG_ZSTD_DECOMPRESS=n
CONFIG_SND_SOC_ROCKCHIP_SPDIF=n
CONFIG_SECURITY=n
CONFIG_HWSPINLOCK_OMAP=n
CONFIG_V4L2_MEM2MEM_DEV=n
CONFIG_SND_MESON_AXG_PDM=n
CONFIG_SIGNALFD=n
CONFIG_CHARGER_MT6360=n
CONFIG_I2C_PXA=n
CONFIG_INTERCONNECT_QCOM_X1E80100=n
CONFIG_USB_XHCI_RZV2M=n
CONFIG_MOUSE_PS2_BYD=n
CONFIG_ACPI_APEI_MEMORY_FAILURE=n
CONFIG_SYS_SUPPORTS_SH_CMT=n
CONFIG_CORESIGHT_CTI=n
CONFIG_PINCTRL_PFC_R8A77970=n
CONFIG_ARM_CCI=n
CONFIG_ARCH_SUPPORTS_SCHED_CLUSTER=n
CONFIG_MDIO_THUNDER=n
CONFIG_PHY_R8A779F0_ETHERNET_SERDES=n
CONFIG_IGBVF=n
CONFIG_XEN_GNTDEV=n
CONFIG_DRM_PANEL_BRIDGE=n
CONFIG_HW_RANDOM_ATMEL=n
CONFIG_HIBERNATE_CALLBACKS=n
CONFIG_I2C_DESIGNWARE_CORE=n
CONFIG_COMMON_CLK_SAMSUNG=n
CONFIG_MTK_SCPSYS_PM_DOMAINS=n
CONFIG_CLK_R9A07G044=n
CONFIG_USB_HSIC_USB3503=n
CONFIG_SERIAL_BCM63XX=n
CONFIG_MDIO_XGENE=n
CONFIG_BT_HIDP=n
CONFIG_PWRSEQ_SIMPLE=n
CONFIG_SC_DISPCC_8280XP=n
CONFIG_EXECMEM=n
CONFIG_CLK_RZV2H=n
CONFIG_HAVE_ARCH_KASAN_HW_TAGS=n
CONFIG_ARCH_THUNDER2=n
CONFIG_SND_MESON_G12A_TOACODEC=n
CONFIG_PINCTRL_SM8250=n
CONFIG_SND_SOC_SC7180=n
CONFIG_ARM_QCOM_CPUFREQ_NVMEM=n
CONFIG_TICK_ONESHOT=n
CONFIG_ACPI_CPPC_LIB=n
CONFIG_PAGE_SIZE_LESS_THAN_64KB=n
CONFIG_SERIAL_MSM=n
CONFIG_STACKTRACE_SUPPORT=n
CONFIG_FSL_IFC=n
CONFIG_CRC64=n
CONFIG_NETFILTER_EGRESS=n
CONFIG_HISILICON_LPC=n
CONFIG_PCIE_RCAR_GEN4_EP=n
CONFIG_PINCTRL_SUN50I_A100=n
CONFIG_VFIO_IOMMU_TYPE1=n
CONFIG_NFC_S3FWRN5_I2C=n
CONFIG_RTC_DRV_EFI=n
CONFIG_SPLIT_PTE_PTLOCKS=n
CONFIG_CPU_FREQ_THERMAL=n
CONFIG_PINCTRL_RTD1315E=n
CONFIG_HAVE_FUNCTION_ARG_ACCESS_API=n
CONFIG_COMMON_CLK_MT8186=n
CONFIG_GOOGLE_FIRMWARE=n
CONFIG_SOC_TEGRA_CBB=n
CONFIG_SND_SOC_RT5659=n
CONFIG_USB_NET_CDCETHER=n
CONFIG_CLK_R8A779H0=n
CONFIG_EDAC=n
CONFIG_BLK_DEV_DM_BUILTIN=n
CONFIG_TASKS_RCU=n
CONFIG_SND_SOC_FSL_ASOC_CARD=n
CONFIG_QCOM_HIDMA=n
CONFIG_SYSC_R8A774A1=n
CONFIG_CONTIG_ALLOC=n
CONFIG_PWM_VISCONTI=n
CONFIG_LZ4_DECOMPRESS=n
CONFIG_NUMA_MEMBLKS=n
CONFIG_MUTEX_SPIN_ON_OWNER=n
CONFIG_MEMTEST=n
CONFIG_OPTEE=n
CONFIG_ARM64_ERRATUM_2645198=n
CONFIG_PCIE_QCOM_COMMON=n
CONFIG_ATA_VERBOSE_ERROR=n
CONFIG_SYS_HYPERVISOR=n
CONFIG_CHARGER_BQ25890=n
CONFIG_GREYBUS_BEAGLEPLAY=n
CONFIG_WLAN_VENDOR_ATH=n
CONFIG_ARM64_ERRATUM_1024718=n
CONFIG_PCIE_IPROC_PLATFORM=n
CONFIG_UCS2_STRING=n
CONFIG_QCOM_SCM=n
CONFIG_HWSPINLOCK=n
CONFIG_CAN_DEV=n
CONFIG_ARCH_R9A09G047=n
CONFIG_MSM_GCC_8994=n
CONFIG_AUDIT_COMPAT_GENERIC=n
CONFIG_COMMON_CLK_BD718XX=n
CONFIG_SERIAL_EARLYCON=n
CONFIG_NXP_NTMP=n
CONFIG_PINCTRL_PFC_R8A77960=n
CONFIG_NET_VENDOR_I825XX=n
CONFIG_SOC_BUS=n
CONFIG_PINCTRL_IPROC_GPIO=n
CONFIG_SND_SOC_QDSP6_CORE=n
CONFIG_RTC_HCTOSYS=n
CONFIG_ARCH_BCM2835=n
CONFIG_CLK_LS1028A_PLLDIG=n
CONFIG_PAGE_SIZE_LESS_THAN_256KB=n
CONFIG_IOMMU_DEFAULT_DMA_STRICT=n
CONFIG_DRM_IMX_LCDIF=n
CONFIG_COMMON_CLK_NUVOTON=n
CONFIG_SERIAL_8250_MT6577=n
CONFIG_PCIE_ALTERA_MSI=n
CONFIG_CRYPTO_CBC=n
CONFIG_ARCH_RCAR_GEN4=n
CONFIG_DRM_TTM_HELPER=n
CONFIG_CRYPTO_LIB_SHA512=n
CONFIG_FB_CFB_FILLRECT=n
CONFIG_MMU_GATHER_RCU_TABLE_FREE=n
CONFIG_XEN_BLKDEV_FRONTEND=n
CONFIG_GPIO_BD9571MWV=n
CONFIG_CROS_EC_CHARDEV=n
CONFIG_FPGA=n
CONFIG_SPI_FSL_QUADSPI=n
CONFIG_RESET_MESON_COMMON=n
CONFIG_ARCH_WANTS_NO_INSTR=n
CONFIG_RASPBERRYPI_POWER=n
CONFIG_ARM_AMBA=n
CONFIG_SND_COMPRESS_OFFLOAD=n
CONFIG_SND_SOC_SGTL5000=n
CONFIG_NVMEM_IMX_OCOTP_SCU=n
CONFIG_SSB_POSSIBLE=n
CONFIG_SUN50I_DE2_BUS=n
