CONFIG_ARMADA_37XX_CLK=n
CONFIG_QCOM_SPM=n
CONFIG_ROCKCHIP_IOMMU=n
CONFIG_TICK_CPU_ACCOUNTING=n
CONFIG_GCC_NO_STRINGOP_OVERFLOW=n
CONFIG_QCOM_CLK_RPMH=n
CONFIG_COMMON_CLK_MT8188_CAMSYS=n
CONFIG_NVMEM_IMX_OCOTP_ELE=n
CONFIG_COMMON_CLK_MESON_AO_CLKC=n
CONFIG_MII=n
CONFIG_NF_CONNTRACK_EVENTS=n
CONFIG_REGULATOR_PFUZE100=n
CONFIG_ALPINE_MSI=n
CONFIG_USB_CDNSP_PCI=n
CONFIG_PACKET=n
CONFIG_MTK_SCPSYS_PM_DOMAINS=n
CONFIG_DRM_PL111=n
CONFIG_LZO_COMPRESS=n
CONFIG_MEMORY_FAILURE=n
CONFIG_GENERIC_IRQ_EFFECTIVE_AFF_MASK=n
CONFIG_ARM_SCMI_TRANSPORT_SMC=n
CONFIG_SND_BCM2835_SOC_I2S=n
CONFIG_CRYPTO_LIB_SHA1=n
CONFIG_ARM64_PTR_AUTH=n
CONFIG_PINCTRL_ARMADA_CP110=n
CONFIG_BCM_NS_THERMAL=n
CONFIG_QRTR=n
CONFIG_HAVE_ARCH_COMPILER_H=n
CONFIG_VM_EVENT_COUNTERS=n
CONFIG_KEYBOARD_SNVS_PWRKEY=n
CONFIG_ARCH_HAS_GCOV_PROFILE_ALL=n
CONFIG_MDIO_GPIO=n
CONFIG_AHCI_QORIQ=n
CONFIG_USB=n
CONFIG_PHY_QCOM_USB_SS=n
CONFIG_MISC_RP1=n
CONFIG_CGROUP_HUGETLB=n
CONFIG_HAVE_PREEMPT_DYNAMIC_KEY=n
CONFIG_ARCH_TEGRA_241_SOC=n
CONFIG_HW_RANDOM_OPTEE=n
CONFIG_FW_UPLOAD=n
CONFIG_SDM_LPASSCC_845=n
CONFIG_HAVE_KVM_DIRTY_RING=n
CONFIG_ARCH_R9A09G047=n
CONFIG_ARCH_K3=n
CONFIG_TEGRA_BPMP=n
CONFIG_ARM64_4K_PAGES=n
CONFIG_CRYPTO_MANAGER2=n
CONFIG_V4L2_VP9=n
CONFIG_CAVIUM_ERRATUM_23154=n
CONFIG_SYSC_R8A77990=n
CONFIG_MHP_MEMMAP_ON_MEMORY=n
CONFIG_NF_CONNTRACK=n
CONFIG_ARCH_ACTIONS=n
CONFIG_TEGRA186_GPC_DMA=n
CONFIG_BACKLIGHT_APPLE_DWI=n
CONFIG_SYS_HYPERVISOR=n
CONFIG_PCS_XPCS=n
CONFIG_BRIDGE_VLAN_FILTERING=n
CONFIG_SYSC_R8A77980=n
CONFIG_HAVE_VIRT_CPU_ACCOUNTING_GEN=n
CONFIG_IMX_GPCV2=n
CONFIG_BINARY_PRINTF=n
CONFIG_SND_SOC_QDSP6_APM=n
CONFIG_ALLOW_DEV_COREDUMP=n
CONFIG_NET_DSA_TAG_OCELOT_8021Q=n
CONFIG_PINCTRL_SUN50I_A100_R=n
CONFIG_PAGE_SIZE_LESS_THAN_64KB=n
CONFIG_PM_SLEEP_SMP=n
CONFIG_DWMAC_VISCONTI=n
CONFIG_SND_SOC_RT5663=n
CONFIG_SPLIT_PMD_PTLOCKS=n
CONFIG_SPRD_UMS512_CLK=n
CONFIG_PINCTRL_SDX75=n
CONFIG_SUNXI_RSB=n
CONFIG_SYSTEM_TRUSTED_KEYRING=n
CONFIG_PHY_BCM_SR_PCIE=n
CONFIG_COMMON_CLK_MT8516=n
CONFIG_APPLE_RTKIT=n
CONFIG_DRM_PANEL_HIMAX_HX8279=n
CONFIG_VIDEO_MEDIATEK_JPEG=n
CONFIG_SPI_PL022=n
CONFIG_NVMEM_IMX_OCOTP_SCU=n
CONFIG_ARCH_SUPPORTS_DEBUG_PAGEALLOC=n
CONFIG_CROS_TYPEC_SWITCH=n
CONFIG_BCM2835_THERMAL=n
CONFIG_FB_DMAMEM_HELPERS=n
CONFIG_VIDEO_RENESAS_FCP=n
CONFIG_MV_XOR_V2=n
CONFIG_USB_RENESAS_USBHS_HCD=n
CONFIG_COMMON_CLK_RS9_PCIE=n
CONFIG_TAP=n
CONFIG_THERMAL_GOV_POWER_ALLOCATOR=n
CONFIG_IPMI_DEVICE_INTERFACE=n
CONFIG_PINCTRL_MTK_PARIS=n
CONFIG_MMU_LAZY_TLB_REFCOUNT=n
CONFIG_SND_MESON_AXG_TDMIN=n
CONFIG_EXT4_USE_FOR_EXT2=n
CONFIG_SYSTEMPORT=n
CONFIG_QCOM_IPA=n
CONFIG_PINCTRL_TMPV7700=n
CONFIG_TI_K3_UDMA=n
CONFIG_XEN_BALLOON_MEMORY_HOTPLUG=n
CONFIG_SERIAL_8250_PCILIB=n
CONFIG_PCI_IOV=n
CONFIG_FUSE_IO_URING=n
CONFIG_VDSO_GETRANDOM=n
CONFIG_GPIO_MPC8XXX=n
CONFIG_CLK_R8A77960=n
CONFIG_PHY_ROCKCHIP_NANENG_COMBO_PHY=n
CONFIG_SOUND=n
CONFIG_CRYPTO_CCM=n
CONFIG_NVMEM_BCM_OCOTP=n
CONFIG_RWSEM_SPIN_ON_OWNER=n
CONFIG_WLAN_VENDOR_PURELIFI=n
CONFIG_HAVE_ARCH_MMAP_RND_COMPAT_BITS=n
CONFIG_DRM_KOMEDA=n
CONFIG_SND_SOC_XILINX_SPDIF=n
CONFIG_ZYNQMP_FIRMWARE=n
CONFIG_RSI_DEBUGFS=n
CONFIG_CRYPTO_DEV_HISI_HPRE=n
CONFIG_PADATA=n
CONFIG_WLAN_VENDOR_REALTEK=n
CONFIG_PHY_XGENE=n
CONFIG_PINCTRL_RENESAS=n
CONFIG_CROS_KBD_LED_BACKLIGHT=n
CONFIG_ARM_SMMU_V3_PMU=n
CONFIG_REGULATOR_PF8X00=n
CONFIG_SERIAL_XILINX_PS_UART_CONSOLE=n
CONFIG_VIDEO_SAMSUNG_EXYNOS_GSC=n
CONFIG_SC_GCC_7280=n
CONFIG_CRYPTO_DEV_SA2UL=n
CONFIG_GPIO_TPS65219=n
CONFIG_TREE_RCU=n
CONFIG_CRYPTO_DEV_FSL_CAAM_CRYPTO_API=n
CONFIG_SND_SOC_IMX_AUDMUX=n
CONFIG_SND_SOC_TI_EDMA_PCM=n
CONFIG_NVIDIA_CORESIGHT_PMU_ARCH_SYSTEM_PMU=n
CONFIG_NET_CLS_FLOWER=n
CONFIG_RESET_NUVOTON_MA35D1=n
CONFIG_BATTERY_MAX17042=n
CONFIG_PHY_ROCKCHIP_INNO_USB2=n
CONFIG_QCOM_FALKOR_ERRATUM_1009=n
CONFIG_ARCH_R8A77961=n
CONFIG_HAVE_DEBUG_KMEMLEAK=n
CONFIG_CLK_X1E80100_CAMCC=n
CONFIG_PINCTRL_SDM670=n
CONFIG_BRCMSTB_GISB_ARB=n
CONFIG_SYNC_FILE=n
CONFIG_GPIO_GENERIC=n
CONFIG_USB_DWC3_APPLE=n
CONFIG_QCOM_HIDMA=n
CONFIG_RTC_NVMEM=n
CONFIG_IO_URING_ZCRX=n
CONFIG_CAN_CALC_BITTIMING=n
CONFIG_MESON_CLK_MEASURE=n
CONFIG_BQL=n
CONFIG_OF_KOBJ=n
CONFIG_QCOM_KRYO_L2_ACCESSORS=n
CONFIG_SENSORS_TMP102=n
CONFIG_KEXEC_CORE=n
CONFIG_BNX2X=n
CONFIG_UBIFS_FS_SECURITY=n
CONFIG_SND_SOC_WCD938X=n
CONFIG_QUEUED_RWLOCKS=n
CONFIG_LOGO=n
CONFIG_DECOMPRESS_XZ=n
CONFIG_SUNXI_MBUS=n
CONFIG_I2C_OMAP=n
CONFIG_SM_VIDEOCC_8550=n
CONFIG_REGULATOR_TPS6594=n
CONFIG_PINCTRL_SM8250_LPASS_LPI=n
CONFIG_PINCTRL_MT8186=n
CONFIG_RTL_CARDS=n
CONFIG_SND_SOC_RT5682=n
CONFIG_CAVIUM_ERRATUM_30115=n
CONFIG_ASYMMETRIC_KEY_TYPE=n
CONFIG_CLK_R8A779A0=n
CONFIG_KERNFS=n
CONFIG_VFIO_CONTAINER=n
CONFIG_SMP=n
CONFIG_NVMEM_ZYNQMP=n
CONFIG_PCI_J721E=n
CONFIG_BCM2711_THERMAL=n
CONFIG_SLIM_QCOM_NGD_CTRL=n
CONFIG_PCPU_DEV_REFCNT=n
CONFIG_PINCTRL_ELIZA=n
CONFIG_INTERCONNECT_QCOM_MSM8953=n
CONFIG_ARCH_BINFMT_ELF_STATE=n
CONFIG_ARCH_HAS_GIGANTIC_PAGE=n
CONFIG_ARCH_LAYERSCAPE=n
CONFIG_PCIE_ALTERA_MSI=n
CONFIG_FB_CFB_FILLRECT=n
CONFIG_INTERCONNECT_QCOM_SM6115=n
CONFIG_ETHERNET=n
CONFIG_CPUFREQ_DT=n
CONFIG_SND_SOC_WCD939X=n
CONFIG_DRM_RCAR_DW_HDMI=n
CONFIG_TI_K3_AM65_CPSW_NUSS=n
CONFIG_ARCH_INTEL_SOCFPGA=n
CONFIG_PINCTRL_MSM8998=n
CONFIG_HNS3_HCLGE=n
CONFIG_HW_RANDOM_NPCM=n
CONFIG_ARCH_BERLIN=n
CONFIG_MMC_SDHCI_BST=n
CONFIG_FW_LOADER_USER_HELPER=n
CONFIG_RD_LZ4=n
CONFIG_SC_LPASS_CORECC_7280=n
CONFIG_PINCTRL_MSM8994=n
CONFIG_INPUT_HISI_POWERKEY=n
CONFIG_MMC_STM32_SDMMC=n
CONFIG_HWSPINLOCK_OMAP=n
CONFIG_SND_SOC_BT_SCO=n
CONFIG_IOMMU_SUPPORT=n
CONFIG_DRM_ANALOGIX_DP=n
CONFIG_BUILDTIME_TABLE_SORT=n
CONFIG_GLOB=n
CONFIG_SATA_AHCI_PLATFORM=n
CONFIG_PRU_REMOTEPROC=n
CONFIG_QCOM_WDT=n
CONFIG_PINCTRL_PFC_R8A774B1=n
CONFIG_DRM_PANEL_TRULY_NT35597_WQXGA=n
CONFIG_KSM=n
CONFIG_MARVELL_PHY=n
CONFIG_SM_GPUCC_8450=n
CONFIG_LZ4_COMPRESS=n
CONFIG_MWIFIEX_PCIE=n
CONFIG_COMMON_CLK_MT8365_CAM=n
CONFIG_WLAN_VENDOR_INTEL=n
CONFIG_CRYPTO_LIB_AES=n
CONFIG_REGULATOR_MT6358=n
CONFIG_SCSI_UFS_CRYPTO=n
CONFIG_EXYNOS_PM_DOMAINS=n
CONFIG_PCI_QUIRKS=n
CONFIG_ARCH_HAS_CPU_CACHE_INVALIDATE_MEMREGION=n
CONFIG_I2C_MT65XX=n
CONFIG_RTC_DRV_RENESAS_RTCA3=n
CONFIG_PHY_TEGRA194_P2U=n
CONFIG_DRM_CDNS_MHDP8546=n
CONFIG_COMPAT_32BIT_TIME=n
CONFIG_PINCTRL_RZG2L=n
CONFIG_DMA_DIRECT_REMAP=n
CONFIG_COMMON_CLK_MT8186_IMP_IIC_WRAP=n
CONFIG_RTC_DRV_DA9063=n
CONFIG_DRM_PANEL_HIMAX_HX83112A=n
CONFIG_ROCKCHIP_PM_DOMAINS=n
CONFIG_PINCTRL_MT8173=n
CONFIG_INPUT_TPS65219_PWRBUTTON=n
CONFIG_PCIEASPM=n
CONFIG_MMU_NOTIFIER=n
CONFIG_ARCH_HAS_KEEPINITRD=n
CONFIG_PINCTRL_SM8750=n
CONFIG_RCU_TRACE=n
CONFIG_MITIGATE_SPECTRE_BRANCH_HISTORY=n
CONFIG_COMMON_CLK_MT8195_WPESYS=n
CONFIG_IRQ_FASTEOI_HIERARCHY_HANDLERS=n
CONFIG_INOTIFY_USER=n
CONFIG_IPQ_GCC_5424=n
CONFIG_IOMMU_IO_PGTABLE_ARMV7S=n
CONFIG_MODULE_UNLOAD=n
CONFIG_QCOM_NET_PHYLIB=n
CONFIG_ARCH_HAS_CURRENT_STACK_POINTER=n
CONFIG_NET_CLS=n
CONFIG_FSL_ENETC_MDIO=n
CONFIG_ARCH_REALTEK=n
CONFIG_ARM_ARCH_TIMER=n
CONFIG_TEGRA20_APB_DMA=n
CONFIG_MAC80211_LEDS=n
CONFIG_HISILICON_LPC=n
CONFIG_IMX_AIPSTZ=n
CONFIG_HAS_IOPORT_MAP=n
CONFIG_HW_RANDOM_ATMEL=n
CONFIG_KERNEL_MODE_NEON=n
CONFIG_RZ_MTU3_CNT=n
CONFIG_SND_SOC_ROCKCHIP_SAI=n
CONFIG_ARM64_ERRATUM_824069=n
CONFIG_HAVE_DYNAMIC_FTRACE=n
CONFIG_QCOM_EBI2=n
CONFIG_SYSCTL=n
CONFIG_USB_DWC3_GENERIC_PLAT=n
CONFIG_PHY_SNPS_EUSB2=n
CONFIG_ARM64_CONTPTE=n
CONFIG_CRYPTO_LIB_AES_CBC_MACS=n
CONFIG_DRM_TEGRA=n
CONFIG_COMMON_CLK_CS2000_CP=n
CONFIG_MFD_RK8XX=n
CONFIG_MFD_KHADAS_MCU=n
CONFIG_MFD_WM8994=n
CONFIG_REGMAP_SOUNDWIRE=n
CONFIG_SOC_BRCMSTB=n
CONFIG_GENERIC_IRQ_SHOW=n
CONFIG_SOCIONEXT_SYNQUACER_PREITS=n
CONFIG_SND_DYNAMIC_MINORS=n
CONFIG_MMU_GATHER_TABLE_FREE=n
CONFIG_V4L2_CCI_I2C=n
CONFIG_SOC_BUS=n
CONFIG_PARAVIRT=n
CONFIG_SND_SOC_WM8904=n
CONFIG_HAVE_UID16=n
CONFIG_CRASH_DUMP=n
