CONFIG_CPU_FREQ_GOV_ATTR_SET=n
CONFIG_HZ_1000=n
CONFIG_ALLOW_DEV_COREDUMP=n
CONFIG_SND_HDA=n
CONFIG_TREE_SRCU=n
CONFIG_SHMEM=n
CONFIG_ACPI_CONTAINER=n
CONFIG_ARCH_SUPPORTS_MSEAL_SYSTEM_MAPPINGS=n
CONFIG_WLAN_VENDOR_MEDIATEK=n
CONFIG_VGA_CONSOLE=n
CONFIG_HAVE_ARCH_COMPAT_MMAP_BASES=n
CONFIG_MODULE_FORCE_UNLOAD=n
CONFIG_CLOCKSOURCE_WATCHDOG=n
CONFIG_GENERIC_CALIBRATE_DELAY=n
CONFIG_UNIX=n
CONFIG_ACPI_PCC=n
CONFIG_DEFAULT_CUBIC=n
CONFIG_HAVE_DYNAMIC_FTRACE_NO_PATCHABLE=n
CONFIG_EFI_PARTITION=n
CONFIG_SND_SEQ_HRTIMER_DEFAULT=n
CONFIG_CRYPTO_LIB_SHA1_ARCH=n
CONFIG_X86_EXTENDED_PLATFORM=n
CONFIG_TICK_CPU_ACCOUNTING=n
CONFIG_NETFS_SUPPORT=n
CONFIG_NET_9P_FD=n
CONFIG_ARCH_SUPPORTS_KEXEC_PURGATORY=n
CONFIG_ARCH_SUPPORTS_PER_VMA_LOCK=n
CONFIG_ARCH_SUPPORTS_HUGETLBFS=n
CONFIG_SCHED_HRTICK=n
CONFIG_SERIAL_8250_MANY_PORTS=n
CONFIG_ARCH_DEFAULT_CRASH_DUMP=n
CONFIG_USB_OHCI_LITTLE_ENDIAN=n
CONFIG_CROSS_MEMORY_ATTACH=n
CONFIG_XZ_DEC_POWERPC=n
CONFIG_IP6_NF_IPTABLES=n
CONFIG_ARCH_SUPPORTS_PAGE_TABLE_CHECK=n
CONFIG_CACHESTAT_SYSCALL=n
CONFIG_CRYPTO_LIB_AES_ARCH=n
CONFIG_EXT4_FS=n
CONFIG_ARCH_USE_MEMTEST=n
CONFIG_USB_EHCI_PCI=n
CONFIG_NET_HANDSHAKE=n
CONFIG_CRYPTO_RSA=n
CONFIG_PCC=n
CONFIG_VM_EVENT_COUNTERS=n
CONFIG_HAVE_CMPXCHG_LOCAL=n
CONFIG_SPARSEMEM_VMEMMAP_ENABLE=n
CONFIG_HAVE_ARCH_VMAP_STACK=n
CONFIG_HAVE_FUNCTION_ERROR_INJECTION=n
CONFIG_SERIO_LIBPS2=n
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST_IDLE=n
CONFIG_STRICT_KERNEL_RWX=n
CONFIG_ARCH_HAS_GIGANTIC_PAGE=n
CONFIG_X86_THERMAL_VECTOR=n
CONFIG_ATA_PIIX=n
CONFIG_RTC_SYSTOHC=n
CONFIG_XZ_DEC_SPARC=n
CONFIG_ARCH_USE_MEMREMAP_PROT=n
CONFIG_DECOMPRESS_LZ4=n
CONFIG_HAVE_KPROBES_ON_FTRACE=n
CONFIG_RANDOMIZE_MEMORY=n
CONFIG_ARCH_HAS_STRICT_MODULE_RWX=n
CONFIG_HAVE_PERF_EVENTS=n
CONFIG_SCHED_MC=n
CONFIG_POSIX_TIMERS=n
CONFIG_SND_X86=n
CONFIG_NET_VENDOR_NETRONOME=n
CONFIG_HAVE_ACPI_APEI=n
CONFIG_X86_DISABLED_FEATURE_CYRIX_ARR=n
CONFIG_NETFILTER_XT_TARGET_CONNSECMARK=n
CONFIG_FSNOTIFY=n
CONFIG_HAVE_ARCH_KASAN=n
CONFIG_SERIAL_8250=n
CONFIG_DECOMPRESS_ZSTD=n
CONFIG_NET=n
CONFIG_HAVE_HARDLOCKUP_DETECTOR_BUDDY=n
CONFIG_DEBUG_STACK_USAGE=n
CONFIG_USB_ANNOUNCE_NEW_DEVICES=n
CONFIG_EPROBE_EVENTS=n
CONFIG_DRM_MIPI_DSI=n
CONFIG_CPU_MITIGATIONS=n
CONFIG_NET_VENDOR_WANGXUN=n
CONFIG_CONNECTOR=n
CONFIG_MITIGATION_L1TF=n
CONFIG_ARCH_DMA_ADDR_T_64BIT=n
CONFIG_NETCONSOLE=n
CONFIG_HAVE_PERF_REGS=n
CONFIG_XZ_DEC_X86=n
CONFIG_CGROUP_DEBUG=n
CONFIG_ARCH_SUPPORTS_ATOMIC_RMW=n
CONFIG_SATA_HOST=n
CONFIG_SERIAL_8250_PCI=n
CONFIG_RCU_STALL_COMMON=n
CONFIG_SCHED_INFO=n
CONFIG_X86_REQUIRED_FEATURE_XMM=n
CONFIG_VHOST_MENU=n
CONFIG_NF_DEFRAG_IPV4=n
CONFIG_ISO9660_FS=n
CONFIG_CONSOLE_TRANSLATIONS=n
CONFIG_RELAY=n
CONFIG_NEED_SG_DMA_FLAGS=n
CONFIG_PTP_1588_CLOCK_KVM=n
CONFIG_HAVE_RSEQ=n
CONFIG_LTO_NONE=n
CONFIG_X86_DISABLED_FEATURE_ENQCMD=n
CONFIG_HAVE_KERNEL_GZIP=n
CONFIG_SERIO_SERPORT=n
CONFIG_HID_GYRATION=n
CONFIG_RT_MUTEXES=n
CONFIG_HAVE_MIXED_BREAKPOINTS_REGS=n
CONFIG_NF_CT_NETLINK=n
CONFIG_ARCH_HAS_HW_PTE_YOUNG=n
CONFIG_ACPI=n
CONFIG_SECURITY_SELINUX=n
CONFIG_CRYPTO_ECB=n
CONFIG_PRINTK=n
CONFIG_LOCK_SPIN_ON_OWNER=n
CONFIG_HIBERNATION=n
CONFIG_NF_LOG_IPV6=n
CONFIG_ARCH_USE_QUEUED_SPINLOCKS=n
CONFIG_MODIFY_LDT_SYSCALL=n
CONFIG_INET_TUNNEL=n
CONFIG_ARCH_SUPPORTS_SCHED_SMT=n
CONFIG_CRYPTO_AKCIPHER2=n
CONFIG_AUDIT_ARCH=n
CONFIG_INSTRUCTION_DECODER=n
CONFIG_PNFS_FILE_LAYOUT=n
CONFIG_PM_SLEEP=n
CONFIG_INPUT_MISC=n
CONFIG_MSDOS_FS=n
CONFIG_CRYPTO_MANAGER2=n
CONFIG_X86_LOCAL_APIC=n
CONFIG_CFG80211_USE_KERNEL_REGDB_KEYS=n
CONFIG_VIRTIO_CONSOLE=n
CONFIG_GENERIC_IRQ_EFFECTIVE_AFF_MASK=n
CONFIG_VT=n
CONFIG_WATCHDOG=n
CONFIG_SND=n
CONFIG_SWAP=n
CONFIG_NET_VENDOR_HISILICON=n
CONFIG_EVENT_TRACING=n
CONFIG_HOTPLUG_PARALLEL=n
CONFIG_GENERIC_CLOCKEVENTS_MIN_ADJUST=n
CONFIG_NET_CLS=n
CONFIG_DMA_OPS_HELPERS=n
CONFIG_EDAC_SUPPORT=n
CONFIG_MITIGATION_SRBDS=n
CONFIG_USER_STACKTRACE_SUPPORT=n
CONFIG_ELF_CORE=n
CONFIG_HAVE_IOREMAP_PROT=n
CONFIG_PPS=n
CONFIG_SCHED_CLUSTER=n
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE=n
CONFIG_CFG80211=n
CONFIG_X86_DEBUGCTLMSR=n
CONFIG_VDSO_GETRANDOM=n
CONFIG_I3C_OR_I2C=n
CONFIG_NET_VENDOR_8390=n
CONFIG_DEFAULT_SECURITY_SELINUX=n
CONFIG_CRYPTO_LIB_AES_CBC_MACS=n
CONFIG_HAVE_FUTEX_ROBUST_UNLOCK=n
CONFIG_TICK_ONESHOT=n
CONFIG_CRASH_HOTPLUG=n
CONFIG_EXT4_USE_FOR_EXT2=n
CONFIG_VIRTIO_NET=n
CONFIG_SKB_EXTENSIONS=n
CONFIG_ACPI_FAN=n
CONFIG_PREEMPT_RCU=n
CONFIG_ARCH_HAS_KERNEL_FPU_SUPPORT=n
CONFIG_MITIGATION_MMIO_STALE_DATA=n
CONFIG_X86_PLATFORM_DEVICES=n
CONFIG_CPU_FREQ_GOV_SCHEDUTIL=n
CONFIG_CPU_FREQ_GOV_USERSPACE=n
CONFIG_CRC16=n
CONFIG_HID_PETALYNX=n
CONFIG_EPOLL=n
CONFIG_DRM_PANEL=n
CONFIG_EARLY_PRINTK=n
CONFIG_ACPI_WMI=n
CONFIG_ARCH_MIGHT_HAVE_PC_SERIO=n
CONFIG_NETWORK_FILESYSTEMS=n
CONFIG_MITIGATION_GDS=n
CONFIG_NET_SCH_FIFO=n
CONFIG_NETFILTER_NETLINK_LOG=n
CONFIG_LD_CAN_USE_KEEP_IN_OVERLAY=n
CONFIG_AS_HAS_NON_CONST_ULEB128=n
CONFIG_NF_CONNTRACK_SECMARK=n
CONFIG_KVM_GUEST=n
CONFIG_EXT4_FS_SECURITY=n
CONFIG_STACKTRACE_SUPPORT=n
CONFIG_ASYMMETRIC_KEY_TYPE=n
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_REGS=n
CONFIG_DRM_I915_USERPTR=n
CONFIG_ELFCORE=n
CONFIG_COMPAT_OLD_SIGACTION=n
CONFIG_GENERIC_ALLOCATOR=n
CONFIG_THERMAL_DEFAULT_GOV_STEP_WISE=n
CONFIG_NET_VENDOR_MICROCHIP=n
CONFIG_NET_INGRESS=n
CONFIG_SURFACE_PLATFORMS=n
CONFIG_SYSVIPC_COMPAT=n
CONFIG_VIRTIO_INPUT=n
CONFIG_DEBUG_FS_ALLOW_ALL=n
CONFIG_MITIGATION_TSA=n
CONFIG_USB_OHCI_HCD=n
CONFIG_NET_VENDOR_AGERE=n
CONFIG_RANDSTRUCT_NONE=n
CONFIG_SND_SEQ_DEVICE=n
CONFIG_FHANDLE=n
CONFIG_MAC_EMUMOUSEBTN=n
CONFIG_SCSI_PROC_FS=n
CONFIG_USB_HID=n
CONFIG_CRYPTO_ECHAINIV=n
CONFIG_HAVE_KERNEL_LZMA=n
CONFIG_LD_ORPHAN_WARN=n
CONFIG_HID_SUPPORT=n
CONFIG_STRICT_DEVMEM=n
CONFIG_VIRTIO_ANCHOR=n
CONFIG_SND_TIMER=n
CONFIG_HAVE_ARCH_RANDOMIZE_KSTACK_OFFSET=n
CONFIG_HAVE_KERNEL_ZSTD=n
CONFIG_NET_EMATCH=n
CONFIG_ARCH_HAS_PTE_SPECIAL=n
CONFIG_HAS_SECURITY_AUDIT=n
CONFIG_X86_ESPFIX64=n
CONFIG_SERIAL_CORE_CONSOLE=n
CONFIG_HID_SONY=n
CONFIG_EARLY_PRINTK_DBGP=n
CONFIG_NLS_ASCII=n
CONFIG_MITIGATION_SSB=n
CONFIG_SSB_POSSIBLE=n
CONFIG_HAVE_ARCH_MMAP_RND_BITS=n
CONFIG_QUOTA_TREE=n
CONFIG_IRQ_REMAP=n
CONFIG_ACPI_CPPC_LIB=n
CONFIG_HAVE_EXIT_THREAD=n
CONFIG_NET_VENDOR_SUN=n
CONFIG_ARCH_HIBERNATION_POSSIBLE=n
CONFIG_DMI=n
CONFIG_HAVE_JUMP_LABEL_HACK=n
CONFIG_GENERIC_STRNLEN_USER=n
CONFIG_CRYPTO_AKCIPHER=n
CONFIG_GENERIC_MSI_IRQ=n
CONFIG_X86_BUS_LOCK_DETECT=n
CONFIG_I8253_LOCK=n
CONFIG_MD_BITMAP=n
CONFIG_NEW_LEDS=n
CONFIG_CC_HAS_NAMED_AS=n
CONFIG_CRC32_ARCH=n
CONFIG_DEBUG_MEMORY_INIT=n
CONFIG_INTERVAL_TREE=n
CONFIG_ACPI_MDIO=n
CONFIG_HOTPLUG_CORE_SYNC_DEAD=n
CONFIG_NET_CLS_CGROUP=n
CONFIG_ARCH_HAS_CPU_FINALIZE_INIT=n
CONFIG_BINFMT_MISC=n
CONFIG_NET_VENDOR_MICREL=n
CONFIG_GCC10_NO_ARRAY_BOUNDS=n
CONFIG_ACPI_PLATFORM_PROFILE=n
CONFIG_ARCH_WANT_GENERAL_HUGETLB=n
CONFIG_HAVE_MOD_ARCH_SPECIFIC=n
CONFIG_GENERIC_PCI_IOMAP=n
CONFIG_DEVMEM=n
CONFIG_NET_VENDOR_MELLANOX=n
CONFIG_HAVE_UACCESS_VALIDATION=n
CONFIG_NET_VENDOR_SILAN=n
CONFIG_E1000=n
CONFIG_NET_VENDOR_SAMSUNG=n
CONFIG_X86_DISABLED_FEATURE_USER_SHSTK=n
CONFIG_RWSEM_SPIN_ON_OWNER=n
CONFIG_INIT_STACK_ALL_ZERO=n
CONFIG_X86_REQUIRED_FEATURE_MSR=n
CONFIG_PATA_OLDPIIX=n
CONFIG_ARCH_SUPPORTS_RT=n
CONFIG_CRASH_RESERVE=n
CONFIG_DYNAMIC_SIGFRAME=n
CONFIG_NF_NAT_FTP=n
CONFIG_LEGACY_DIRECT_IO=n
CONFIG_MAC80211_HAS_RC=n
CONFIG_THERMAL_NETLINK=n
CONFIG_SECURITY=n
CONFIG_GENERIC_CLOCKEVENTS_COUPLED_INLINE=n
CONFIG_NF_CONNTRACK=n
CONFIG_MD=n
CONFIG_GPU_BUDDY=n
CONFIG_CHR_DEV_SG=n
CONFIG_ARCH_HAS_GENERIC_CRASHKERNEL_RESERVATION=n
CONFIG_FUNCTION_ALIGNMENT_16B=n
CONFIG_CGROUP_HUGETLB=n
CONFIG_DMA_VIRTUAL_CHANNELS=n
CONFIG_GENERIC_EARLY_IOREMAP=n
CONFIG_NET_VENDOR_BROADCOM=n
CONFIG_IA32_FEAT_CTL=n
CONFIG_HAVE_PCSPKR_PLATFORM=n
CONFIG_HID_SUNPLUS=n
CONFIG_DRM_DISPLAY_DSC_HELPER=n
CONFIG_NET_VENDOR_ATHEROS=n
CONFIG_USE_X86_SEG_SUPPORT=n
CONFIG_TOOLS_SUPPORT_RELR=n
CONFIG_INTEL_IOMMU=n
