CONFIG_SPARSEMEM_EXTREME=y
CONFIG_I2C_PCA_PLATFORM=y
CONFIG_TOUCHSCREEN_USB_IDEALTEK=y
CONFIG_SENSORS_ACBEL_FSG032=y
CONFIG_USE_X86_SEG_SUPPORT=y
CONFIG_HAVE_GENERIC_TIF_BITS=y
CONFIG_MICROCODE=y
CONFIG_X86_MSR=y
CONFIG_CRYPTO_CMAC=y
CONFIG_IA32_FEAT_CTL=y
CONFIG_RCU_TRACE=y
CONFIG_X86_DISABLED_FEATURE_UNRET=y
CONFIG_I2C_XILINX=y
CONFIG_SENSORS_INSPUR_IPSPS=y
CONFIG_BATTERY_BQ27XXX=y
CONFIG_MODULES_USE_ELF_RELA=y
CONFIG_NLS_CODEPAGE_865=y
CONFIG_CPU_SUP_ZHAOXIN=y
CONFIG_LOCK_DEBUGGING_SUPPORT=y
CONFIG_MFD_88PM800=y
CONFIG_HAVE_SAMPLE_FTRACE_DIRECT_MULTI=y
CONFIG_IR_JVC_DECODER=y
CONFIG_CRYPTO_TWOFISH=y
CONFIG_COMEDI_KCOMEDILIB=y
CONFIG_IPMI_SSIF=y
CONFIG_PREEMPT_RCU=y
CONFIG_USB_SERIAL_IPAQ=y
CONFIG_PHY_PXA_28NM_HSIC=y
CONFIG_GENERIC_IRQ_INJECTION=y
CONFIG_SENSORS_MP2985=y
CONFIG_USB_LD=y
CONFIG_SENSORS_SMSC47B397=y
CONFIG_BASE_SMALL=y
CONFIG_SECURITYFS=y
CONFIG_NLS_ISO8859_7=y
CONFIG_TYPEC_MUX_NB7VPQ904M=y
CONFIG_CONTEXT_TRACKING_IDLE=y
CONFIG_USB_ISIGHTFW=y
CONFIG_ARCH_SPARSEMEM_DEFAULT=y
CONFIG_SENSORS_LTC2992=y
CONFIG_HAVE_PCI=y
CONFIG_CRYPTO_LIB_MD5=y
CONFIG_GENERIC_IRQ_CHIP=y
CONFIG_USB_ROLE_SWITCH=y
CONFIG_BT_HCIBFUSB=y
CONFIG_HAVE_FTRACE_REGS_HAVING_PT_REGS=y
CONFIG_ARCH_ENABLE_SPLIT_PMD_PTLOCK=y
CONFIG_LEDS_SGM3140=y
CONFIG_ARCH_WANT_OPTIMIZE_DAX_VMEMMAP=y
CONFIG_CRYPTO_SEQIV=y
CONFIG_SENSORS_THMC50=y
CONFIG_SENSORS_W83627EHF=y
CONFIG_INPUT_TWL4030_PWRBUTTON=y
CONFIG_TOUCHSCREEN_GOODIX_BERLIN_CORE=y
CONFIG_SENSORS_OCC_P8_I2C=y
CONFIG_GENERIC_IRQ_RESERVATION_MODE=y
CONFIG_WATCH_QUEUE=y
CONFIG_NET_SCH_HTB=y
CONFIG_USB_SERIAL_OPTION=y
CONFIG_MTD_ICHXROM=y
CONFIG_GENERIC_ISA_DMA=y
CONFIG_MM_ID=y
CONFIG_PARPORT_PC=y
CONFIG_CRYPTO_BLOWFISH_COMMON=y
CONFIG_SERIAL_ALTERA_JTAGUART_CONSOLE=y
CONFIG_X86_CX8=y
CONFIG_CRYPTO_CBC=y
CONFIG_ARCH_HAS_DEVMEM_IS_ALLOWED=y
CONFIG_HAVE_OBJTOOL_NOP_MCOUNT=y
CONFIG_TOUCHSCREEN_SIS_I2C=y
CONFIG_W1=y
CONFIG_STM=y
CONFIG_CC_HAS_ZERO_CALL_USED_REGS=y
CONFIG_THREAD_INFO_IN_TASK=y
CONFIG_POWER_SUPPLY=y
CONFIG_MTD_JEDECPROBE=y
CONFIG_TOUCHSCREEN_ELAN=y
CONFIG_USB_SERIAL_KLSI=y
CONFIG_MFD_CS47L90=y
CONFIG_CHARGER_TPS65090=y
CONFIG_DEFAULT_SECURITY_DAC=y
CONFIG_INPUT_DRV260X_HAPTICS=y
CONFIG_LEDS_TRIGGER_GPIO=y
CONFIG_MFD_TPS65912=y
CONFIG_ARCH_WANT_PMD_MKWRITE=y
CONFIG_PAGE_SIZE_LESS_THAN_64KB=y
CONFIG_LEDS_APU=y
CONFIG_SENSORS_SCH5636=y
CONFIG_CRYPTO_LIB_AES_ARCH=y
CONFIG_ELF_CORE=y
CONFIG_RTC_INTF_DEV=y
CONFIG_ARCH_WANT_IRQS_OFF_ACTIVATE_MM=y
CONFIG_GPIO_WINBOND=y
CONFIG_WATCHDOG_PRETIMEOUT_GOV_SEL=y
CONFIG_60XX_WDT=y
CONFIG_HUGETLB_PAGE_OPTIMIZE_VMEMMAP_DEFAULT_ON=y
CONFIG_PVPANIC=y
CONFIG_ARCH_WANT_BATCHED_UNMAP_TLB_FLUSH=y
CONFIG_ZONE_DMA=y
CONFIG_SENSORS_MAX34440=y
CONFIG_GPIO_MAX7300=y
CONFIG_IPMI_DMI_DECODE=y
CONFIG_ARCH_HAS_SYNC_CORE_BEFORE_USERMODE=y
CONFIG_CRYPTO_LZO=y
CONFIG_INIT_STACK_NONE=y
CONFIG_HAVE_TRUSTED_KEYS=y
CONFIG_DMA_ENGINE=y
CONFIG_CRYPTO_STREEBOG=y
CONFIG_W83977F_WDT=y
CONFIG_EXECMEM=y
CONFIG_CPU_IDLE_GOV_LADDER=y
CONFIG_NET_SCH_FQ_CODEL=y
CONFIG_SENSORS_CORETEMP=y
CONFIG_X86_INTEL_TSX_MODE_OFF=y
CONFIG_ARCH_USE_BUILTIN_BSWAP=y
CONFIG_BACKLIGHT_SKY81452=y
CONFIG_TYPEC_TPS6598X=y
CONFIG_USB_LCD=y
CONFIG_HAVE_UNWIND_USER_FP=y
CONFIG_TTY=y
CONFIG_HAVE_ARCH_KMSAN=y
CONFIG_NLS_CODEPAGE_866=y
CONFIG_GPIO_CDEV=y
CONFIG_HAVE_MIXED_BREAKPOINTS_REGS=y
CONFIG_SENSORS_MP2888=y
CONFIG_RTC_INTF_SYSFS=y
CONFIG_X86_VMX_FEATURE_NAMES=y
CONFIG_DMADEVICES=y
CONFIG_SCHED_OMIT_FRAME_POINTER=y
CONFIG_SENSORS_ISL68137=y
CONFIG_IR_SONY_DECODER=y
CONFIG_HAVE_KPROBES_ON_FTRACE=y
CONFIG_ARCH_SUPPORTS_KEXEC_BZIMAGE_VERIFY_SIG=y
CONFIG_DEBUG_KERNEL=y
CONFIG_GPIOLIB=y
CONFIG_MFD_RT4831=y
CONFIG_NEED_PER_CPU_PAGE_FIRST_CHUNK=y
CONFIG_MCTP=y
CONFIG_TOUCHSCREEN_ZINITIX=y
CONFIG_CLOCKSOURCE_WATCHDOG=y
CONFIG_SENSORS_LM85=y
CONFIG_QFMT_V1=y
CONFIG_CRYPTO_CAMELLIA_X86_64=y
CONFIG_TOUCHSCREEN_USB_JASTEC=y
CONFIG_REGMAP_W1=y
CONFIG_ARCH_WANTS_NO_INSTR=y
CONFIG_HUGETLBFS=y
CONFIG_BACKLIGHT_CLASS_DEVICE=y
CONFIG_TWL4030_CORE=y
CONFIG_TOUCHSCREEN_ROHM_BU21023=y
CONFIG_DEBUG_FS=y
CONFIG_LEDS_DA9052=y
CONFIG_HWMON_VID=y
CONFIG_SAMPLES=y
CONFIG_EXAR_WDT=y
CONFIG_USB_ISP1760_HOST_ROLE=y
CONFIG_MSEAL_SYSTEM_MAPPINGS=y
CONFIG_COMEDI_MISC_DRIVERS=y
CONFIG_MTD_MAP_BANK_WIDTH_2=y
CONFIG_ARCH_HAVE_NMI_SAFE_CMPXCHG=y
CONFIG_HAVE_KERNEL_LZMA=y
CONFIG_MTD_CMDLINE_PARTS=y
CONFIG_CRYPTO_USER_API_AEAD=y
CONFIG_CONNECTOR=y
CONFIG_CRC_CCITT=y
CONFIG_CRYPTO_USER_API=y
CONFIG_SMPRO_MISC=y
CONFIG_LEDS_CLASS_FLASH=y
CONFIG_MFD_RETU=y
CONFIG_HAVE_ARCH_VMAP_STACK=y
CONFIG_CRYPTO_USER_API_RNG_CAVP=y
CONFIG_GPIO_VIRTUSER=y
CONFIG_X86_REQUIRED_FEATURE_CPUID=y
CONFIG_FUNCTION_ERROR_INJECTION=y
CONFIG_SENSORS_E50SN12051=y
CONFIG_RTC_DRV_RX8025=y
CONFIG_RC_DECODERS=y
CONFIG_TOUCHSCREEN_NOVATEK_NVT_TS=y
CONFIG_ARCH_HAS_MEM_ENCRYPT=y
CONFIG_SENSORS_INA233=y
CONFIG_HAVE_NMI=y
CONFIG_RCU_EXPERT=y
CONFIG_SPARSE_IRQ=y
CONFIG_IR_RCMM_DECODER=y
CONFIG_MTD_UBI_NVMEM=y
CONFIG_HAVE_PERF_USER_STACK_DUMP=y
CONFIG_MCB_LPC=y
CONFIG_ARCH_SUPPORTS_PUD_PFNMAP=y
CONFIG_AUXDISPLAY=y
CONFIG_SENSORS_IBMAEM=y
CONFIG_INPUT_CMA3000=y
CONFIG_RPMSG_NS=y
CONFIG_KVM_GUEST=y
CONFIG_HARDENED_USERCOPY=y
CONFIG_DEBUG_BUGVERBOSE=y
CONFIG_DMA_MAP_BENCHMARK=y
CONFIG_9P_FS_POSIX_ACL=y
CONFIG_RTC_DRV_RV3032=y
CONFIG_DEBUG_FORCE_FUNCTION_ALIGN_64B=y
CONFIG_CRYPTO_LIB_NH=y
CONFIG_WATCHDOG_CORE=y
CONFIG_BCMA=y
CONFIG_BT_LEDS=y
CONFIG_HAVE_HW_BREAKPOINT=y
CONFIG_USB_XHCI_HCD=y
CONFIG_SERIAL_EARLYCON=y
CONFIG_ARCH_CPUIDLE_HALTPOLL=y
CONFIG_X86=y
CONFIG_IKCONFIG=y
CONFIG_TEXTSEARCH_FSM=y
CONFIG_HSR=y
CONFIG_MTD_SLRAM=y
CONFIG_TOUCHSCREEN_ILI210X=y
CONFIG_ARCH_HAS_CPU_CACHE_INVALIDATE_MEMREGION=y
CONFIG_INPUT_MISC=y
CONFIG_PREEMPT_COUNT=y
CONFIG_SENSORS_MPQ8785=y
CONFIG_NLS_MAC_ICELAND=y
CONFIG_ZERO_CALL_USED_REGS=y
CONFIG_CRYPTO_JITTERENTROPY=y
CONFIG_BT_RTL=y
CONFIG_NVRAM=y
CONFIG_PARPORT=y
CONFIG_TRANSPARENT_HUGEPAGE_SHMEM_HUGE_ALWAYS=y
CONFIG_GPIO_SYSFS_LEGACY=y
CONFIG_HAVE_KCSAN_COMPILER=y
CONFIG_DEBUG_RWSEMS=y
CONFIG_HAVE_EFFICIENT_UNALIGNED_ACCESS=y
CONFIG_TOUCHSCREEN_EDT_FT5X06=y
CONFIG_DEBUG_NET=y
CONFIG_SENSORS_MAX31790=y
CONFIG_RTC_DRV_EM3027=y
CONFIG_PHY_TUSB1210=y
CONFIG_TCG_TIS=y
CONFIG_CRYPTO_DES=y
CONFIG_ARCH_HAS_CPU_RELAX=y
CONFIG_USB_ULPI_BUS=y
CONFIG_I2C_PARPORT=y
CONFIG_MTD_NAND_ECC_SW_HAMMING_SMC=y
CONFIG_LLC=y
CONFIG_USER_STACKTRACE_SUPPORT=y
CONFIG_SENSORS_MAX6620=y
CONFIG_CRYPTO_USER_API_HASH=y
CONFIG_VIRTIO=y
CONFIG_GLOB=y
CONFIG_KEY_DH_OPERATIONS=y
CONFIG_LEGACY_TIOCSTI=y
CONFIG_X86_64=y
CONFIG_TICK_ONESHOT=y
CONFIG_SENSORS_TPS23861=y
CONFIG_SENSORS_ADP1050=y
CONFIG_TRACE_IRQFLAGS_NMI=y
CONFIG_LEDS_LM3533=y
CONFIG_HAVE_DEBUG_KMEMLEAK=y
CONFIG_SENSORS_SPD5118_DETECT=y
CONFIG_HAS_IOPORT=y
CONFIG_MFD_SMPRO=y
CONFIG_PINCTRL_MCP23S08_I2C=y
CONFIG_I2C_SLAVE_TESTUNIT=y
CONFIG_W1_SLAVE_DS2430=y
CONFIG_PAGE_SIZE_LESS_THAN_256KB=y
CONFIG_INITRAMFS_PRESERVE_MTIME=y
CONFIG_COREDUMP=y
CONFIG_INTEL_IDLE=y
CONFIG_USB_HCD_TEST_MODE=y
CONFIG_I2C_SIMTEC=y
CONFIG_X86_REQUIRED_FEATURE_LM=y
CONFIG_MTD_MTDRAM=y
CONFIG_HARDIRQS_SW_RESEND=y
CONFIG_LOCK_EVENT_COUNTS=y
CONFIG_MTD_NAND_NANDSIM=y
CONFIG_CHARGER_MAX8971=y
CONFIG_SENSORS_ADM1026=y
CONFIG_STM_PROTO_BASIC=y
CONFIG_GENERIC_CPU_VULNERABILITIES=y
CONFIG_ARCH_WANT_HUGETLB_VMEMMAP_PREINIT=y
CONFIG_SENSORS_ADM1031=y
CONFIG_SENSORS_STTS751=y
CONFIG_REGMAP_IRQ=y
CONFIG_SERIO_I8042=y
CONFIG_BACKLIGHT_ADP8860=y
CONFIG_MFD_TWL4030_AUDIO=y
CONFIG_NLS_CODEPAGE_855=y
CONFIG_NET=y
CONFIG_SUSPEND_SKIP_SYNC=y
CONFIG_CRYPTO=y
CONFIG_I3C_OR_I2C=y
CONFIG_NET_NS_REFCNT_TRACKER=y
CONFIG_SENSORS_LM63=y
CONFIG_HAVE_REGS_AND_STACK_ACCESS_API=y
CONFIG_SENSORS_IT87=y
CONFIG_WATCHDOG_PRETIMEOUT_GOV=y
CONFIG_X86_DISABLED_FEATURE_CALL_DEPTH=y
CONFIG_I2C_MUX_PCA9541=y
CONFIG_PRINTER=y
CONFIG_HWMON_DEBUG_CHIP=y
CONFIG_FW_LOADER=y
CONFIG_RTC_DRV_CMOS=y
CONFIG_VIRTIO_ANCHOR=y
CONFIG_NLS_MAC_GAELIC=y
CONFIG_LEDS_TRIGGER_ONESHOT=y
CONFIG_NLS_UTF8=y
CONFIG_9P_FS=y
CONFIG_MFD_RT5033=y
CONFIG_FSNOTIFY=y
CONFIG_RELOCATABLE=y
CONFIG_THERMAL_GOV_FAIR_SHARE=y
CONFIG_HAVE_ARCH_KASAN_VMALLOC=y
CONFIG_USB_APPLEDISPLAY=y
CONFIG_DS1682=y
CONFIG_GCC10_NO_ARRAY_BOUNDS=y
CONFIG_FS_POSIX_ACL=y
CONFIG_SENSORS_LTC4245=y
CONFIG_EVENT_TRACING=y
CONFIG_LEDS_TRIGGER_MTD=y
CONFIG_FORCE_NR_CPUS=y
CONFIG_TOUCHSCREEN_WACOM_W8001=y
CONFIG_X86_DISABLED_FEATURE_SEV_SNP=y
CONFIG_X86_DEBUG_FPU=y
CONFIG_X86_IO_APIC=y
CONFIG_TREE_SRCU=y
CONFIG_CRYPTO_CTS=y
CONFIG_GPIOLIB_LEGACY=y
CONFIG_SIGNALFD=y
CONFIG_NLS_MAC_CELTIC=y
CONFIG_REED_SOLOMON=y
CONFIG_HAVE_KERNEL_LZ4=y
CONFIG_MFD_DA9062=y
CONFIG_ARCH_USE_CMPXCHG_LOCKREF=y
CONFIG_I2C_HELPER_AUTO=y
CONFIG_BATTERY_DA9030=y
CONFIG_MUX_ADG792A=y
CONFIG_MFD_TPS65912_I2C=y
CONFIG_BATMAN_ADV=y
CONFIG_X86_DISABLED_FEATURE_RETHUNK=y
CONFIG_NET_SCH_QFQ=y
CONFIG_CC_HAS_INT128=y
CONFIG_MMU=y
CONFIG_QUOTA=y
CONFIG_POSIX_MQUEUE=y
CONFIG_NVMEM=y
CONFIG_USB_SERIAL_WWAN=y
CONFIG_IO_URING_BPF=y
CONFIG_MPILIB=y
CONFIG_SBC_EPX_C3_WATCHDOG=y
CONFIG_LEDS_MLXREG=y
CONFIG_RSEQ_STATS=y
CONFIG_SSB_POSSIBLE=y
CONFIG_DIMLIB=y
CONFIG_THERMAL_DEFAULT_GOV_STEP_WISE=y
CONFIG_CRYPTO_HCTR2=y
CONFIG_RETU_WATCHDOG=y
CONFIG_TEXTSEARCH=y
CONFIG_SYSFS_SYSCALL=y
CONFIG_DEVFREQ_THERMAL=y
CONFIG_MODIFY_LDT_SYSCALL=y
CONFIG_DEBUG_INFO_DWARF_TOOLCHAIN_DEFAULT=y
CONFIG_GENERIC_CLOCKEVENTS_MIN_ADJUST=y
CONFIG_TOUCHSCREEN_BU21013=y
CONFIG_HSI_BOARDINFO=y
CONFIG_NLS_CODEPAGE_861=y
CONFIG_WATCHDOG_SYSFS=y
CONFIG_PINCONF=y
CONFIG_IPMI_PLAT_DATA=y
CONFIG_USB_SERIAL_EMPEG=y
CONFIG_CHARGER_GPIO=y
CONFIG_MFD_WM5110=y
CONFIG_MTD_ONENAND=y
CONFIG_COMEDI_PARPORT=y
CONFIG_PPS_CLIENT_LDISC=y
CONFIG_MFD_MT6360=y
CONFIG_EXTCON_PALMAS=y
CONFIG_MITIGATION_TAA=y
CONFIG_DEBUG_DEVRES=y
CONFIG_NETFS_DEBUG=y
CONFIG_MFD_MAX8907=y
CONFIG_ARCH_SUPPORTS_PAGE_TABLE_CHECK=y
CONFIG_PAGE_POISONING=y
CONFIG_QUOTA_TREE=y
CONFIG_PINCTRL_CS47L92=y
CONFIG_NET_SCHED=y
CONFIG_HAVE_UNSTABLE_SCHED_CLOCK=y
CONFIG_GPIO_ARIZONA=y
CONFIG_DEBUG_LOCKDEP=y
CONFIG_CRYPTO_KPP=y
CONFIG_SENSORS_PIM4328=y
CONFIG_GREYBUS=y
CONFIG_GPIO_WS16C48=y
CONFIG_MTD_ONENAND_GENERIC=y
CONFIG_COMEDI_USBDUXFAST=y
CONFIG_IEEE802154_SOCKET=y
CONFIG_MTD_NAND_DISKONCHIP_BBTWRITE=y
CONFIG_INPUT_RETU_PWRBUTTON=y
CONFIG_IOMMU_API=y
CONFIG_HAVE_KERNEL_BZIP2=y
CONFIG_CRYPTO_ARIA_AESNI_AVX2_X86_64=y
CONFIG_OPTPROBES=y
CONFIG_HD44780=y
CONFIG_SERIAL_8250_16550A_VARIANTS=y
CONFIG_MAX6959=y
CONFIG_HAS_IOMEM=y
CONFIG_NET_MPLS_GSO=y
CONFIG_NLS_CODEPAGE_950=y
CONFIG_SENSORS_NCT6775_I2C=y
CONFIG_RTC_INTF_DEV_UIE_EMUL=y
CONFIG_BT=y
CONFIG_HPET_TIMER=y
CONFIG_NET_SCH_PLUG=y
CONFIG_SENSORS_LM95241=y
CONFIG_BINFMT_SCRIPT=y
CONFIG_DEBUG_MEMORY_INIT=y
CONFIG_IRQ_MSI_LIB=y
CONFIG_NET_CLS_FLOW=y
CONFIG_GENERIC_PCI_IOMAP=y
CONFIG_RFKILL_GPIO=y
CONFIG_TCG_VTPM_PROXY=y
CONFIG_USB_HUB_USB251XB=y
CONFIG_I2C_ALGOBIT=y
CONFIG_HAVE_NOINSTR_VALIDATION=y
CONFIG_CRYPTO_MD5=y
CONFIG_EVENTFD=y
CONFIG_GPIO_DS4520=y
CONFIG_X509_CERTIFICATE_PARSER=y
CONFIG_XILLYBUS_CLASS=y
CONFIG_SENSORS_MP9941=y
CONFIG_TOUCHSCREEN_IQS5XX=y
CONFIG_GPIO_LTC4283=y
CONFIG_ARCH_SUPPORTS_KEXEC_HANDOVER=y
CONFIG_FANOTIFY=y
CONFIG_CRYPTO_USER=y
CONFIG_USB_SERIAL_OMNINET=y
CONFIG_NET_SCH_SKBPRIO=y
CONFIG_RTC_DRV_ABEOZ9=y
CONFIG_X86_BOOTPARAM_MEMORY_CORRUPTION_CHECK=y
CONFIG_NLS_ISO8859_6=y
CONFIG_IR_XMP_DECODER=y
CONFIG_SENSORS_IR38064=y
CONFIG_CRYPTO_LIB_CHACHA_ARCH=y
CONFIG_ARCH_SUPPORTS_CRASH_DUMP=y
CONFIG_HYPERV=y
CONFIG_LEDS_PCA995X=y
CONFIG_CLKEVT_I8253=y
CONFIG_GPIO_TPS6586X=y
CONFIG_CC_HAS_ENTRY_PADDING=y
CONFIG_W83877F_WDT=y
CONFIG_CONTEXT_SWITCH_TRACER=y
CONFIG_VFIO_DEBUGFS=y
CONFIG_RTC_DRV_M48T86=y
CONFIG_CRC8=y
CONFIG_HAVE_PERF_EVENTS_NMI=y
CONFIG_BACKLIGHT_AW99706=y
CONFIG_SENSORS_LM25066=y
CONFIG_RANDOM32_SELFTEST=y
CONFIG_SENSORS_IBMPEX=y
CONFIG_DEBUG_RT_MUTEXES=y
CONFIG_LIRC=y
CONFIG_HAVE_CMPXCHG_DOUBLE=y
CONFIG_LRU_GEN_WALKS_MMU=y
CONFIG_GPIO_104_IDI_48=y
CONFIG_CC_IS_GCC=y
CONFIG_CRYPTO_LIB_AES_CBC_MACS=y
CONFIG_SOFTLOCKUP_DETECTOR=y
CONFIG_DEBUG_INFO_COMPRESSED_ZLIB=y
CONFIG_GENERIC_BITREVERSE=y
CONFIG_HAVE_ARCH_AUDITSYSCALL=y
CONFIG_IT87_WDT=y
CONFIG_PM_OPP=y
CONFIG_MTD_CFI_AMDSTD=y
CONFIG_SPARSEMEM_VMEMMAP_ENABLE=y
CONFIG_ARCH_HAS_DEBUG_VIRTUAL=y
CONFIG_HAVE_ARCH_THREAD_STRUCT_WHITELIST=y
CONFIG_CHROME_PLATFORMS=y
CONFIG_MTD_NAND_ECC_SW_BCH=y
CONFIG_SENSORS_TMP102=y
CONFIG_TASKS_RCU_GENERIC=y
CONFIG_HAVE_SYSCALL_TRACEPOINTS=y
CONFIG_EXTCON_SM5502=y
CONFIG_NLS_KOI8_R=y
CONFIG_MFD_MT6397=y
CONFIG_X86_DISABLED_FEATURE_LAM=y
CONFIG_X86_REQUIRED_FEATURE_ALWAYS=y
CONFIG_CMA_DEBUGFS=y
CONFIG_CC_HAS_ASM_INLINE=y
CONFIG_TOUCHSCREEN_PIXCIR=y
CONFIG_STM_SOURCE_HEARTBEAT=y
CONFIG_SMPRO_ERRMON=y
CONFIG_GENERIC_IOMAP=y
CONFIG_RD_BZIP2=y
CONFIG_SENSORS_TMP464=y
CONFIG_BRIDGE_CFM=y
CONFIG_PROC_MEM_ALWAYS_FORCE=y
CONFIG_MFD_SIMPLE_MFD_I2C=y
CONFIG_MTD_COMPLEX_MAPPINGS=y
CONFIG_CRYPTO_LIB_BLAKE2B=y
CONFIG_TOUCHSCREEN_GOODIX_BERLIN_I2C=y
CONFIG_GPIO_FXL6408=y
CONFIG_BINFMT_MISC=y
CONFIG_HAVE_RSEQ=y
CONFIG_LEDS_88PM860X=y
CONFIG_LRU_GEN=y
