CONFIG_HAVE_DYNAMIC_FTRACE_WITH_DIRECT_CALLS=n
CONFIG_HAVE_MOD_ARCH_SPECIFIC=n
CONFIG_ATA_SFF=n
CONFIG_IP_MROUTE=n
CONFIG_PM_TRACE_RTC=n
CONFIG_HAVE_MMIOTRACE_SUPPORT=n
CONFIG_SOFTIRQ_ON_OWN_STACK=n
CONFIG_DUMMY_CONSOLE=n
CONFIG_HAVE_PV_STEAL_CLOCK_GEN=n
CONFIG_FRAME_POINTER=n
CONFIG_SOCK_CGROUP_DATA=n
CONFIG_ASYMMETRIC_PUBLIC_KEY_SUBTYPE=n
CONFIG_BINFMT_MISC=n
CONFIG_HRTIMER_REARM_DEFERRED=n
CONFIG_PCI_MSI=n
CONFIG_AGP_AMD64=n
CONFIG_PERF_EVENTS_AMD_UNCORE=n
CONFIG_ACPI_SYSTEM_POWER_STATES_SUPPORT=n
CONFIG_HAVE_ACPI_APEI_NMI=n
CONFIG_BPF=n
CONFIG_CGROUP_MISC=n
CONFIG_ACPI_BGRT=n
CONFIG_CRYPTO_ECB=n
CONFIG_FIRMWARE_TABLE=n
CONFIG_RD_XZ=n
CONFIG_WLAN_VENDOR_INTERSIL=n
CONFIG_HID_GENERIC=n
CONFIG_MAC80211_LEDS=n
CONFIG_IA32_FEAT_CTL=n
CONFIG_HAVE_PCI=n
CONFIG_NF_REJECT_IPV4=n
CONFIG_DEBUG_BUGVERBOSE=n
CONFIG_DEVMEM=n
CONFIG_HAVE_GUP_FAST=n
CONFIG_UNINLINE_SPIN_UNLOCK=n
CONFIG_MODULES=n
CONFIG_GENERIC_CPU_AUTOPROBE=n
CONFIG_NF_REJECT_IPV6=n
CONFIG_PM_SLEEP=n
CONFIG_CGROUP_NET_PRIO=n
CONFIG_DEBUG_MEMORY_INIT=n
CONFIG_SERIAL_8250_SHARE_IRQ=n
CONFIG_THREAD_INFO_IN_TASK=n
CONFIG_YENTA_ENE_TUNE=n
CONFIG_CPU_RMAP=n
CONFIG_SERIAL_8250_LPSS=n
CONFIG_NET_VENDOR_REALTEK=n
CONFIG_USER_STACKTRACE_SUPPORT=n
CONFIG_RANDOMIZE_BASE=n
CONFIG_NFS_V3_ACL=n
CONFIG_GENERIC_IRQ_PROBE=n
CONFIG_NETWORK_SECMARK=n
CONFIG_SND_JACK_INPUT_DEV=n
CONFIG_X86_BOOTPARAM_MEMORY_CORRUPTION_CHECK=n
CONFIG_MMU_LAZY_TLB_REFCOUNT=n
CONFIG_WLAN_VENDOR_RSI=n
CONFIG_CPU_SUP_INTEL=n
CONFIG_X86_DISABLED_FEATURE_USER_SHSTK=n
CONFIG_XZ_DEC_RISCV=n
CONFIG_TRACEPOINTS=n
CONFIG_NF_CONNTRACK_FTP=n
CONFIG_RTC_INTF_PROC=n
CONFIG_PREEMPTION=n
CONFIG_ROOT_NFS=n
CONFIG_SND_PROC_FS=n
CONFIG_CFG80211_USE_KERNEL_REGDB_KEYS=n
CONFIG_NET_VENDOR_MELLANOX=n
CONFIG_NET_VENDOR_WIZNET=n
CONFIG_SLAB_MERGE_DEFAULT=n
CONFIG_IO_URING_BPF=n
CONFIG_CGROUP_RDMA=n
CONFIG_SPARSEMEM_STATIC=n
CONFIG_PCCARD_NONSTATIC=n
CONFIG_XZ_DEC_SPARC=n
CONFIG_INPUT_KEYBOARD=n
CONFIG_USB_COMMON=n
CONFIG_DEBUG_KERNEL=n
CONFIG_TRACE_IRQFLAGS_NMI_SUPPORT=n
CONFIG_TIMERFD=n
CONFIG_NET_POLL_CONTROLLER=n
CONFIG_I2C_SMBUS=n
CONFIG_DRM_VIRTIO_GPU=n
CONFIG_X86_PLATFORM_DEVICES=n
CONFIG_USB_EHCI_HCD=n
CONFIG_HUGETLBFS=n
CONFIG_CPU_SUP_VORTEX_32=n
CONFIG_NET_VENDOR_NETRONOME=n
CONFIG_ARCH_WANT_BATCHED_UNMAP_TLB_FLUSH=n
CONFIG_HAVE_RETHOOK=n
CONFIG_NET_VENDOR_EZCHIP=n
CONFIG_HID_TOPSEED=n
CONFIG_SUSPEND_FREEZER=n
CONFIG_DRM_I915_USERPTR=n
CONFIG_NET_VENDOR_CAVIUM=n
CONFIG_NET_VENDOR_XIRCOM=n
CONFIG_GENERIC_PENDING_IRQ=n
CONFIG_ARCH_HAS_NMI_SAFE_THIS_CPU_OPS=n
CONFIG_IOSF_MBI=n
CONFIG_CC_HAS_KASAN_GENERIC=n
CONFIG_SCSI_PROC_FS=n
CONFIG_NF_LOG_SYSLOG=n
CONFIG_NET_VENDOR_MICROCHIP=n
CONFIG_RCU_STALL_COMMON=n
CONFIG_X86_DISABLED_FEATURE_PCID=n
CONFIG_ARCH_MIGHT_HAVE_PC_PARPORT=n
CONFIG_PERF_EVENTS_INTEL_UNCORE=n
CONFIG_NET_VENDOR_SILAN=n
CONFIG_ACPI_THERMAL_LIB=n
CONFIG_SND_HWDEP=n
CONFIG_NE2K_PCI=n
CONFIG_SYSTEM_TRUSTED_KEYRING=n
CONFIG_CPU_IDLE=n
CONFIG_MD_BITMAP=n
CONFIG_KEXEC=n
CONFIG_HUGETLB_PAGE=n
CONFIG_NF_CONNTRACK=n
CONFIG_THERMAL_DEFAULT_GOV_STEP_WISE=n
CONFIG_ARCH_HAS_MEM_ENCRYPT=n
CONFIG_NET_VENDOR_QUALCOMM=n
CONFIG_PCI_LABEL=n
CONFIG_FLATMEM_MANUAL=n
CONFIG_NLATTR=n
CONFIG_ARCH_HAS_PTE_SPECIAL=n
CONFIG_TASK_DELAY_ACCT=n
CONFIG_SATA_PMP=n
CONFIG_STRICT_DEVMEM=n
CONFIG_E1000=n
CONFIG_X86_TSC=n
CONFIG_HAVE_UID16=n
CONFIG_SECURITY=n
CONFIG_NF_LOG_IPV6=n
CONFIG_ZLIB_INFLATE=n
CONFIG_ARCH_SUPPORTS_KEXEC_PURGATORY=n
CONFIG_TMPFS=n
CONFIG_IP_ROUTE_VERBOSE=n
CONFIG_DEFAULT_CUBIC=n
CONFIG_WLAN_VENDOR_ATH=n
CONFIG_SCSI_CONSTANTS=n
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO=n
CONFIG_SCSI_SPI_ATTRS=n
CONFIG_IOMMU_API=n
CONFIG_ARCH_SUSPEND_POSSIBLE=n
CONFIG_GENERIC_BUG=n
CONFIG_HAVE_PREEMPT_DYNAMIC=n
CONFIG_EARLY_PRINTK=n
CONFIG_HAVE_ARCH_TRACEHOOK=n
CONFIG_COMPAT_32=n
CONFIG_HAVE_EBPF_JIT=n
CONFIG_NETFILTER_XT_MATCH_ADDRTYPE=n
CONFIG_NET_VENDOR_CISCO=n
CONFIG_SERIAL_8250_PCILIB=n
CONFIG_CPU_FREQ_GOV_PERFORMANCE=n
CONFIG_ARCH_HAS_SYSCALL_WRAPPER=n
CONFIG_ARCH_FLATMEM_ENABLE=n
CONFIG_GRO_CELLS=n
CONFIG_NETFILTER_XT_TARGET_LOG=n
CONFIG_CLKEVT_I8253=n
CONFIG_NFS_FS=n
CONFIG_ACPI_PROCESSOR_IDLE=n
CONFIG_ARCH_WANTS_DYNAMIC_TASK_STRUCT=n
CONFIG_SERIAL_CORE_CONSOLE=n
CONFIG_HOTPLUG_CORE_SYNC=n
CONFIG_NET_VENDOR_TEHUTI=n
CONFIG_CRYPTO_AES=n
CONFIG_NO_HZ_COMMON=n
CONFIG_ARCH_SUPPORTS_KEXEC_JUMP=n
CONFIG_CC_HAS_AUTO_VAR_INIT_PATTERN=n
CONFIG_CRYPTO_HASH_INFO=n
CONFIG_SUSPEND=n
CONFIG_ARCH_USE_CMPXCHG_LOCKREF=n
CONFIG_ACPI_SPCR_TABLE=n
CONFIG_HAVE_FUNCTION_GRAPH_FREGS=n
CONFIG_TCP_CONG_CUBIC=n
CONFIG_MITIGATION_TSA=n
CONFIG_CPU_FREQ=n
CONFIG_NO_HZ_IDLE=n
CONFIG_X86_PKG_TEMP_THERMAL=n
CONFIG_LOCKDEP_SUPPORT=n
CONFIG_NFS_COMMON=n
CONFIG_DMA_SHARED_BUFFER=n
CONFIG_ARCH_USES_PG_ARCH_2=n
CONFIG_X86_DISABLED_FEATURE_OSPKE=n
CONFIG_ACPI_EC=n
CONFIG_SERIAL_8250_EXAR=n
CONFIG_CRYPTO_ALGAPI=n
CONFIG_DRM_I915_COMPRESS_ERROR=n
CONFIG_VMSPLIT_3G=n
CONFIG_NFS_ACL_SUPPORT=n
CONFIG_I2C=n
CONFIG_IP_NF_IPTABLES=n
CONFIG_POSIX_TIMERS=n
CONFIG_MMU=n
CONFIG_LEGACY_DIRECT_IO=n
CONFIG_HAVE_KERNEL_BZIP2=n
CONFIG_CPU_FREQ_GOV_SCHEDUTIL=n
CONFIG_HW_RANDOM_INTEL=n
CONFIG_ARCH_HAS_CURRENT_STACK_POINTER=n
CONFIG_CRYPTO_CTR=n
CONFIG_IPV6_NDISC_NODETYPE=n
CONFIG_DECOMPRESS_ZSTD=n
CONFIG_HAVE_GENERIC_TIF_BITS=n
CONFIG_SYSVIPC=n
CONFIG_BRANCH_PROFILE_NONE=n
CONFIG_SCREEN_INFO=n
CONFIG_HAS_IOPORT=n
CONFIG_CDROM=n
CONFIG_X86_LOCAL_APIC=n
CONFIG_X86_PAT=n
CONFIG_HAVE_IRQ_TIME_ACCOUNTING=n
CONFIG_SECRETMEM=n
CONFIG_ACPI_CONTAINER=n
CONFIG_MOUSE_PS2_BYD=n
CONFIG_IRQ_FORCED_THREADING=n
CONFIG_HAVE_HW_BREAKPOINT=n
CONFIG_ARCH_USE_QUEUED_RWLOCKS=n
CONFIG_PNFS_FLEXFILE_LAYOUT=n
CONFIG_NET_VENDOR_VERTEXCOM=n
CONFIG_INPUT_TABLET=n
CONFIG_IP_ROUTE_MULTIPATH=n
CONFIG_GENERIC_IRQ_RESERVATION_MODE=n
CONFIG_NLS_UTF8=n
CONFIG_EFI_EARLYCON=n
CONFIG_X86_SUPPORTS_MEMORY_FAILURE=n
CONFIG_XPS=n
CONFIG_AS_HAS_NON_CONST_ULEB128=n
CONFIG_LEDS_TRIGGERS=n
CONFIG_NET_VENDOR_8390=n
CONFIG_ARCH_WANT_IPC_PARSE_VERSION=n
CONFIG_SCHED_MC=n
CONFIG_MITIGATION_MDS=n
CONFIG_NF_CONNTRACK_SECMARK=n
CONFIG_TASK_XACCT=n
CONFIG_FUTEX_PI=n
CONFIG_GENERIC_IRQ_SHOW=n
CONFIG_QUOTA_NETLINK_INTERFACE=n
CONFIG_MITIGATION_SRBDS=n
CONFIG_INPUT_JOYSTICK=n
CONFIG_NFS_USE_KERNEL_DNS=n
CONFIG_GENERIC_IRQ_MIGRATION=n
CONFIG_NET_VENDOR_OKI=n
CONFIG_EEEPC_LAPTOP=n
CONFIG_NEED_SG_DMA_LENGTH=n
CONFIG_TASKS_RCU=n
CONFIG_NET_VENDOR_ATHEROS=n
CONFIG_HW_RANDOM_VIA=n
CONFIG_WLAN_VENDOR_MEDIATEK=n
CONFIG_XXHASH=n
CONFIG_SND_HDA_I915=n
CONFIG_CRYPTO_AKCIPHER=n
CONFIG_YENTA=n
CONFIG_VT_CONSOLE_SLEEP=n
CONFIG_VMCORE_INFO=n
CONFIG_NET_VENDOR_BROCADE=n
CONFIG_X86_NEED_RELOCS=n
CONFIG_ARCH_HAS_SYNC_CORE_BEFORE_USERMODE=n
CONFIG_MD=n
CONFIG_RTC_INTF_DEV=n
CONFIG_SERIAL_CORE=n
CONFIG_SLUB=n
CONFIG_HAVE_IOREMAP_PROT=n
CONFIG_CONNECTOR=n
CONFIG_ARCH_HAS_ACPI_TABLE_UPGRADE=n
CONFIG_EPROBE_EVENTS=n
CONFIG_INET6_AH=n
CONFIG_MOUSE_PS2_SYNAPTICS_SMBUS=n
CONFIG_CFG80211=n
CONFIG_NF_NAT=n
CONFIG_DRM_PANEL_ORIENTATION_QUIRKS=n
CONFIG_BLK_DEV_BSG=n
CONFIG_X86_DEBUGCTLMSR=n
CONFIG_WLAN_VENDOR_ATMEL=n
CONFIG_HOTPLUG_PCI=n
CONFIG_8139TOO=n
CONFIG_MITIGATION_SPECTRE_BHI=n
CONFIG_DIMLIB=n
CONFIG_MITIGATION_SSB=n
CONFIG_RD_LZO=n
CONFIG_ARCH_DEFAULT_CRASH_DUMP=n
CONFIG_RTC_I2C_AND_SPI=n
CONFIG_NLS_CODEPAGE_437=n
CONFIG_ACPI_TABLE_UPGRADE=n
CONFIG_BLOCK_LEGACY_AUTOLOAD=n
CONFIG_SND_HDA_COMPONENT=n
CONFIG_BACKLIGHT_CLASS_DEVICE=n
CONFIG_NVMEM=n
CONFIG_HAVE_ARCH_SECCOMP_FILTER=n
CONFIG_CONTEXT_TRACKING=n
CONFIG_CACHESTAT_SYSCALL=n
CONFIG_PAGE_SIZE_LESS_THAN_64KB=n
CONFIG_ACPI_FAN=n
CONFIG_ATA_BMDMA=n
CONFIG_CRYPTO_HMAC=n
CONFIG_HAVE_ARCH_WITHIN_STACK_FRAMES=n
CONFIG_HAVE_EISA=n
CONFIG_NET_VENDOR_AGERE=n
CONFIG_NET_VENDOR_RENESAS=n
CONFIG_MPILIB=n
CONFIG_FREEZER=n
CONFIG_ARCH_HAS_CPU_FINALIZE_INIT=n
CONFIG_NFS_V4_0=n
