CONFIG_OID_REGISTRY=n
CONFIG_CRYPTO_LIB_SHA1_ARCH=n
CONFIG_IIO_ST_LSM6DSX=n
CONFIG_THERMAL_GOV_STEP_WISE=n
CONFIG_PINCTRL_BRCMSTB=n
CONFIG_ARCH_HAS_KCOV=n
CONFIG_NVME_APPLE=n
CONFIG_CPU_PM=n
CONFIG_PINCTRL_AMLOGIC_A4=n
CONFIG_ARM64_ERRATUM_3117295=n
CONFIG_MMC_SDHCI_XENON=n
CONFIG_INTEL_STRATIX10_SERVICE=n
CONFIG_ARCH_APPLE=n
CONFIG_PHY_BCM_SR_USB=n
CONFIG_NET_CLS_FLOWER=n
CONFIG_STRICT_DEVMEM=n
CONFIG_CRYPTO_DEV_FSL_CAAM_PKC_API=n
CONFIG_ARCH_R9A09G056=n
CONFIG_IMX8QXP_ADC=n
CONFIG_MDIO_BUS_MUX_MESON_G12A=n
CONFIG_ARCH_MEDIATEK=n
CONFIG_PRINTK=n
CONFIG_CRYPTO_ZSTD=n
CONFIG_MTD_SST25L=n
CONFIG_PINCTRL_SUN55I_A523_R=n
CONFIG_CRYPTO_ECHAINIV=n
CONFIG_VIDEO_IMX219=n
CONFIG_SCHED_CLUSTER=n
CONFIG_FSL_RCPM=n
CONFIG_SND_SOC_LPASS_APQ8016=n
CONFIG_SND_SOC_MT8365_MT6357=n
CONFIG_QCOM_HIDMA_MGMT=n
CONFIG_SERIO_LIBPS2=n
CONFIG_CRYPTO_GENIV=n
CONFIG_ARMADA_37XX_CLK=n
CONFIG_SC_VIDEOCC_7280=n
CONFIG_GPIO_MAX77620=n
CONFIG_USB_RTL8150=n
CONFIG_CFG80211=n
CONFIG_XZ_DEC_SPARC=n
CONFIG_MD=n
CONFIG_COMMON_CLK_NUVOTON=n
CONFIG_OF_NUMA=n
CONFIG_HBMC_AM654=n
CONFIG_DRM_BRIDGE_CONNECTOR=n
CONFIG_REGULATOR_PF8X00=n
CONFIG_PINCTRL_PFC_R8A774A1=n
CONFIG_TI_ICSS_IEP=n
CONFIG_RTC_DRV_FSL_FTM_ALARM=n
CONFIG_MMC_SPI=n
CONFIG_PINCTRL_MT8188=n
CONFIG_CPU_FREQ_DEFAULT_GOV_SCHEDUTIL=n
CONFIG_COMMON_CLK=n
CONFIG_SYS_R9A09G056=n
CONFIG_PINCTRL_SM6115_LPASS_LPI=n
CONFIG_NVMEM_MESON_EFUSE=n
CONFIG_BUILTIN_RETURN_ADDRESS_STRIPS_PAC=n
CONFIG_USB_RENESAS_USB3=n
CONFIG_ARCH_SELECTS_KEXEC_FILE=n
CONFIG_SYSVIPC_SYSCTL=n
CONFIG_XENFS=n
CONFIG_NET_VENDOR_I825XX=n
CONFIG_PHY_QCOM_USB_SNPS_FEMTO_V2=n
CONFIG_MVEBU_PIC=n
CONFIG_CC_IS_GCC=n
CONFIG_FPGA_MGR_STRATIX10_SOC=n
CONFIG_DRM_NOUVEAU=n
CONFIG_SND_SOC_SOF_XTENSA=n
CONFIG_MEMTEST=n
CONFIG_NUMA_KEEP_MEMINFO=n
CONFIG_SND_SUN50I_CODEC_ANALOG=n
CONFIG_VIRTIO_PCI_LIB=n
CONFIG_LOGO=n
CONFIG_MEDIA_TUNER_TDA8290=n
CONFIG_BT_RTL=n
CONFIG_ARCH_WANT_HUGE_PMD_SHARE=n
CONFIG_PINCTRL_PFC_R8A77970=n
CONFIG_QCOM_GENI_SE=n
CONFIG_PINCTRL_TEGRA186=n
CONFIG_RESET_RZV2H_USB2PHY=n
CONFIG_MTD_BLOCK=n
CONFIG_SND_MESON_AXG_PDM=n
CONFIG_DRM_KOMEDA=n
CONFIG_HNS3=n
CONFIG_SND_SOC_TLV320AIC32X4_I2C=n
CONFIG_KALLSYMS=n
CONFIG_TASKS_TRACE_RCU=n
CONFIG_SG_POOL=n
CONFIG_PHY_RZ_G3E_USB3=n
CONFIG_IIO_ST_LSM6DSX_SPI=n
CONFIG_TI_ICSSG_PRUETH=n
CONFIG_MODULES=n
CONFIG_MAILBOX=n
CONFIG_ARM_SMMU=n
CONFIG_SND_MESON_AXG_SPDIFIN=n
CONFIG_COMMON_CLK_MT8195_APUSYS=n
CONFIG_IP_MULTICAST=n
CONFIG_IIO_ST_SENSORS_SPI=n
CONFIG_NETFILTER_XT_MATCH_ADDRTYPE=n
CONFIG_CRYPTO_CCM=n
CONFIG_DRM_MSM_DSI_14NM_PHY=n
CONFIG_HAVE_IOREMAP_PROT=n
CONFIG_DW_WATCHDOG=n
CONFIG_FHANDLE=n
CONFIG_CHARGER_MT6360=n
CONFIG_UCSI_PMIC_GLINK=n
CONFIG_SND_SOC_RT1015=n
CONFIG_BATTERY_SBS=n
CONFIG_ARM_TEGRA124_CPUFREQ=n
CONFIG_CRYPTO_DEV_FSL_CAAM_PRNG_API=n
CONFIG_TRACE_IRQFLAGS_NMI_SUPPORT=n
CONFIG_PINCTRL_SM6125=n
CONFIG_MMC_SDHCI=n
CONFIG_PINCTRL_PFC_R8A774B1=n
CONFIG_SENSORS_INA3221=n
CONFIG_USB_ULPI_VIEWPORT=n
CONFIG_PINCTRL_QCOM_SPMI_PMIC=n
CONFIG_SND_SOC_LPASS_CPU=n
CONFIG_ACPI_APMT=n
CONFIG_COMMON_CLK_STM32MP215=n
CONFIG_TEGRA_HOST1X_FIREWALL=n
CONFIG_PCI=n
CONFIG_WIRELESS=n
CONFIG_DEVMEM=n
CONFIG_ARCH_BCMBCA=n
CONFIG_SUN4I_TIMER=n
CONFIG_COMMON_CLK_MT8188_VDOSYS=n
CONFIG_PHY_QCOM_USB_HS=n
CONFIG_RATIONAL=n
CONFIG_HIBERNATION_COMP_LZO=n
CONFIG_GCC10_NO_ARRAY_BOUNDS=n
CONFIG_NET_VENDOR_SMSC=n
CONFIG_DRM_SUN8I_MIXER=n
CONFIG_HAVE_SETUP_PER_CPU_AREA=n
CONFIG_GLOB=n
CONFIG_COMMON_CLK_MEDIATEK_FHCTL=n
CONFIG_MAX9611=n
CONFIG_SERIAL_TEGRA_TCU=n
CONFIG_COMMON_CLK_MT8192_MFGCFG=n
CONFIG_MEDIA_PLATFORM_DRIVERS=n
CONFIG_PINCTRL_ELIZA=n
CONFIG_ARCH_HAS_SUBPAGE_FAULTS=n
CONFIG_ARM64=n
CONFIG_SND_HDA=n
CONFIG_ARM64_HW_AFDBM=n
CONFIG_NET_SCHED=n
CONFIG_PCIE_DW_HOST=n
CONFIG_TPS6594_PFSM=n
CONFIG_SND_SOC=n
CONFIG_SPRD_SC9860_CLK=n
CONFIG_PHY_QCOM_EDP=n
CONFIG_EXYNOS_THERMAL=n
CONFIG_REGULATOR_BD718XX=n
CONFIG_CRC_T10DIF_ARCH=n
CONFIG_GPIO_MPC8XXX=n
CONFIG_SND_SOC_TEGRA210_AHUB=n
CONFIG_SMSC_PHY=n
CONFIG_COMMON_CLK_HI3798CV200=n
CONFIG_PAGE_POOL_STATS=n
CONFIG_ARCH_WANT_BATCHED_UNMAP_TLB_FLUSH=n
CONFIG_SND_SOC_SDCA_OPTIONAL=n
CONFIG_CPU_FREQ_GOV_CONSERVATIVE=n
CONFIG_RANDSTRUCT_NONE=n
CONFIG_SERIAL_8250_BCM7271=n
CONFIG_RTC_DRV_DA9063=n
CONFIG_NET_VENDOR_MICROSEMI=n
CONFIG_PCI_PWRCTRL_GENERIC=n
CONFIG_ARM64_ERRATUM_1024718=n
CONFIG_AHCI_QORIQ=n
CONFIG_AT803X_PHY=n
CONFIG_RTC_DRV_BBNSM=n
CONFIG_HMEM_REPORTING=n
CONFIG_CRYPTO_DF80090A=n
CONFIG_MAGIC_SYSRQ_SERIAL=n
CONFIG_ARM_SCPI_POWER_DOMAIN=n
CONFIG_SERIAL_AMBA_PL011_CONSOLE=n
CONFIG_PINCTRL_MT7986=n
CONFIG_MISC_RP1=n
CONFIG_SCSI_LOWLEVEL=n
CONFIG_NFS_V3=n
CONFIG_GENERIC_PINMUX_FUNCTIONS=n
CONFIG_SND_SOC_TLV320AIC3X_I2C=n
CONFIG_ARCH_USE_GNU_PROPERTY=n
CONFIG_NEED_PER_CPU_EMBED_FIRST_CHUNK=n
CONFIG_MLX5_ESWITCH=n
CONFIG_NET_VENDOR_INTEL=n
CONFIG_BQL=n
CONFIG_COMMON_CLK_ZYNQMP=n
CONFIG_GENERIC_IRQ_IPI=n
CONFIG_ACPI_AC=n
CONFIG_CRYPTO_MANAGER=n
CONFIG_FS_IOMAP=n
CONFIG_VIDEO_OV5645=n
CONFIG_SPARSEMEM_EXTREME=n
CONFIG_COMMON_CLK_MT8188_VPPSYS=n
CONFIG_CPU_FREQ_GOV_ONDEMAND=n
CONFIG_CRYPTO_AES=n
CONFIG_BINFMT_SCRIPT=n
CONFIG_CLK_RCAR_GEN3_CPG=n
CONFIG_STAGING=n
CONFIG_ARCH_STACKWALK=n
CONFIG_NF_LOG_IPV6=n
CONFIG_MUX_MMIO=n
CONFIG_CRYPTO_DEV_FSL_CAAM_JR=n
CONFIG_REGULATOR_LP873X=n
CONFIG_SND_SOC_WCD939X_SDW=n
CONFIG_LTO_NONE=n
CONFIG_HW_RANDOM_EXYNOS=n
CONFIG_REGULATOR_MP8859=n
CONFIG_RENESAS_ETHER_SWITCH=n
CONFIG_IPMI_DEVICE_INTERFACE=n
CONFIG_CPU_LITTLE_ENDIAN=n
CONFIG_POWER_RESET_GPIO=n
CONFIG_SM_VIDEOCC_8450=n
CONFIG_MTD_CFI_UTIL=n
CONFIG_PHY_ROCKCHIP_INNO_HDMI=n
CONFIG_ARCH_USES_HIGH_VMA_FLAGS=n
CONFIG_SERIAL_8250_UNIPHIER=n
CONFIG_CPU_FREQ_GOV_USERSPACE=n
CONFIG_KEYBOARD_CROS_EC=n
CONFIG_VIDEO_SAMSUNG_EXYNOS_GSC=n
CONFIG_QCOM_COMMAND_DB=n
CONFIG_LZ4_COMPRESS=n
CONFIG_SPLIT_PTE_PTLOCKS=n
CONFIG_CLK_IMX93=n
CONFIG_MLX4_EN=n
CONFIG_CRYPTO_RSA=n
CONFIG_USB_F_SERIAL=n
CONFIG_PCI_MSI=n
CONFIG_TRANSPARENT_HUGEPAGE_SHMEM_HUGE_NEVER=n
CONFIG_SYSC_R8A774E1=n
CONFIG_USB_CHIPIDEA_HOST=n
CONFIG_BSD_PROCESS_ACCT=n
CONFIG_LEDS_PWM=n
CONFIG_DRM_TIDSS=n
CONFIG_FUTEX_PI=n
CONFIG_NET_SCH_ETF=n
CONFIG_CLK_IMX8QXP=n
CONFIG_DEBUG_INFO_COMPRESSED_NONE=n
CONFIG_PCI_IMX6_HOST=n
CONFIG_SND_SUN8I_CODEC_ANALOG=n
CONFIG_INTERCONNECT_QCOM_X1E80100=n
CONFIG_COMMON_CLK_EN7523=n
CONFIG_DRM_RZG2L_MIPI_DSI=n
CONFIG_BRCMSTB_DPFE=n
CONFIG_VFIO_PCI=n
CONFIG_PINCTRL_MESON_GXL=n
CONFIG_RCU_NEED_SEGCBLIST=n
CONFIG_ARM_ARCH_TIMER_EVTSTREAM=n
CONFIG_XEN_XENBUS_FRONTEND=n
CONFIG_VIDEO_SYNOPSYS_HDMIRX_LOAD_DEFAULT_EDID=n
CONFIG_NETDEVICES=n
CONFIG_PHY_SUN6I_MIPI_DPHY=n
CONFIG_TOUCHSCREEN_ELAN=n
CONFIG_OMAP_DM_TIMER=n
CONFIG_NET_DEVLINK=n
CONFIG_SM_GPUCC_8750=n
CONFIG_BFQ_GROUP_IOSCHED=n
CONFIG_NET_VENDOR_DAVICOM=n
CONFIG_ARCH_HAVE_NMI_SAFE_CMPXCHG=n
CONFIG_FB_DEVICE=n
CONFIG_MEDIA_SUPPORT_FILTER=n
CONFIG_COMMON_CLK_MT2712=n
CONFIG_SENSORS_ISL29018=n
CONFIG_NET_DSA_TAG_BRCM=n
CONFIG_ATA=n
CONFIG_CLK_RENESAS=n
CONFIG_SND_SOC_J721E_EVM=n
CONFIG_USB_HID=n
CONFIG_ARM_ARMADA_37XX_CPUFREQ=n
CONFIG_CEC_MESON_G12A_AO=n
CONFIG_MTD_NAND_FSL_IFC=n
CONFIG_VIDEO_SYNOPSYS_HDMIRX=n
CONFIG_I2C_SH_MOBILE=n
CONFIG_REGULATOR_MAX8973=n
CONFIG_XEN_BALLOON=n
CONFIG_SERIAL_8250_PCI=n
CONFIG_PHY_TEGRA194_P2U=n
CONFIG_NET_VENDOR_SAMSUNG=n
CONFIG_ARCH_HAS_KEEPINITRD=n
CONFIG_SUN20I_PPU=n
CONFIG_ARCH_WANT_FRAME_POINTERS=n
CONFIG_DRM_GPUVM=n
CONFIG_FPGA_REGION=n
CONFIG_CPU_THERMAL=n
CONFIG_LOCKDEP_SUPPORT=n
CONFIG_KERNEL_MODE_NEON=n
CONFIG_BLK_CGROUP_PUNT_BIO=n
CONFIG_CLK_R8A77995=n
CONFIG_PINCTRL_PFC_R8A77990=n
CONFIG_NET_VENDOR_ASIX=n
CONFIG_VIDEO_IMX8_JPEG=n
CONFIG_PHY_MESON_AXG_PCIE=n
CONFIG_DRM_EXYNOS5433_DECON=n
CONFIG_ARCH_HAS_STRICT_KERNEL_RWX=n
CONFIG_SERIAL_8250_DMA=n
CONFIG_DRM_PANFROST=n
CONFIG_BCM_SBA_RAID=n
CONFIG_INTERCONNECT_QCOM_QCS8300=n
CONFIG_NFS_V4_2_READ_PLUS=n
