CONFIG_VIRTIO_NET=n
CONFIG_PATA_AMD=n
CONFIG_STACKTRACE=n
CONFIG_CRYPTO_LIB_AES=n
CONFIG_GENERIC_ENTRY=n
CONFIG_ACPI_PROCESSOR_CSTATE=n
CONFIG_MII=n
CONFIG_SND_HDA_CORE=n
CONFIG_ARCH_USE_CMPXCHG_LOCKREF=n
CONFIG_THERMAL_GOV_STEP_WISE=n
CONFIG_GENERIC_IRQ_MATRIX_ALLOCATOR=n
CONFIG_AUDIT_ARCH=n
CONFIG_NET_FLOW_LIMIT=n
CONFIG_DEBUG_STACK_USAGE=n
CONFIG_COREDUMP=n
CONFIG_INPUT=n
CONFIG_EXT4_FS=n
CONFIG_HARDIRQS_SW_RESEND=n
CONFIG_GLOB=n
CONFIG_NFS_FS=n
CONFIG_NET_VENDOR_MARVELL=n
CONFIG_INPUT_FF_MEMLESS=n
CONFIG_PCIEPORTBUS=n
CONFIG_DECOMPRESS_ZSTD=n
CONFIG_MMU_GATHER_RCU_TABLE_FREE=n
CONFIG_HAVE_FUNCTION_ARG_ACCESS_API=n
CONFIG_NET_VENDOR_ADAPTEC=n
CONFIG_SYSCTL_EXCEPTION_TRACE=n
CONFIG_TASKS_TRACE_RCU=n
CONFIG_BLOCK_LEGACY_AUTOLOAD=n
CONFIG_NET_VENDOR_MICROSEMI=n
CONFIG_NLS_CODEPAGE_437=n
CONFIG_DRM_I915_USERPTR=n
CONFIG_RD_ZSTD=n
CONFIG_NET_VENDOR_NI=n
CONFIG_CGROUP_RDMA=n
CONFIG_RTC_CLASS=n
CONFIG_PCMCIA=n
CONFIG_IOMMU_MM_DATA=n
CONFIG_MQ_IOSCHED_KYBER=n
CONFIG_PTDUMP=n
CONFIG_CC_HAS_RETURN_THUNK=n
CONFIG_JBD2=n
CONFIG_WERROR=n
CONFIG_SND=n
CONFIG_DECOMPRESS_GZIP=n
CONFIG_TMPFS_XATTR=n
CONFIG_HID_PANTHERLORD=n
CONFIG_BLK_MQ_STACKING=n
CONFIG_VIRTIO_CONSOLE=n
CONFIG_X86_REQUIRED_FEATURE_SYSFAST32=n
CONFIG_NET_VENDOR_RENESAS=n
CONFIG_HAVE_C_RECORDMCOUNT=n
CONFIG_CPU_FREQ_GOV_USERSPACE=n
CONFIG_SND_PCI=n
CONFIG_FUNCTION_ALIGNMENT_4B=n
CONFIG_VIRTIO_MENU=n
CONFIG_CC_HAS_ASM_INLINE=n
CONFIG_NFS_USE_KERNEL_DNS=n
CONFIG_SCSI_LOWLEVEL=n
CONFIG_VIRTIO=n
CONFIG_CLOCKSOURCE_WATCHDOG=n
CONFIG_USB_EHCI_PCI=n
CONFIG_ARCH_WANTS_NO_INSTR=n
CONFIG_NETFS_SUPPORT=n
CONFIG_INITRAMFS_PRESERVE_MTIME=n
CONFIG_AGP=n
CONFIG_NETFILTER_XT_TARGET_LOG=n
CONFIG_NEED_SG_DMA_FLAGS=n
CONFIG_AS_IS_GNU=n
CONFIG_DRM_CLIENT_SELECTION=n
CONFIG_CC_HAS_WORKING_NOSANITIZE_ADDRESS=n
CONFIG_IO_DELAY_0X80=n
CONFIG_NET_VENDOR_8390=n
CONFIG_VIRTIO_PCI=n
CONFIG_NET_TULIP=n
CONFIG_GENERIC_IRQ_SHOW=n
CONFIG_VMCORE_INFO=n
CONFIG_X86_REQUIRED_FEATURE_PSE=n
CONFIG_HAVE_KERNEL_LZO=n
CONFIG_X86_CX8=n
CONFIG_GRO_CELLS=n
CONFIG_DYNAMIC_SIGFRAME=n
CONFIG_HAVE_REGS_AND_STACK_ACCESS_API=n
CONFIG_X509_CERTIFICATE_PARSER=n
CONFIG_HAVE_VIRT_CPU_ACCOUNTING_GEN=n
CONFIG_RANDOMIZE_KSTACK_OFFSET=n
CONFIG_NET_VENDOR_EMULEX=n
CONFIG_ARCH_SUPPORTS_NUMA_BALANCING=n
CONFIG_PNP_DEBUG_MESSAGES=n
CONFIG_INPUT_EVDEV=n
CONFIG_GENERIC_IRQ_MIGRATION=n
CONFIG_DEVMEM=n
CONFIG_CRYPTO_CBC=n
CONFIG_AS_WRUSS=n
CONFIG_SUNRPC_BACKCHANNEL=n
CONFIG_ACPI_REV_OVERRIDE_POSSIBLE=n
CONFIG_INPUT_SPARSEKMAP=n
CONFIG_DMA_ACPI=n
CONFIG_AMD_NODE=n
CONFIG_EXPORTFS=n
CONFIG_PROBE_EVENTS=n
CONFIG_EVENTFD=n
CONFIG_P2SB=n
CONFIG_ARCH_SUPPORTS_KEXEC_HANDOVER=n
CONFIG_CC_HAS_ZERO_CALL_USED_REGS=n
CONFIG_RTC_SYSTOHC=n
CONFIG_FREEZER=n
CONFIG_MOUSE_PS2_SYNAPTICS_SMBUS=n
CONFIG_MMU_LAZY_TLB_REFCOUNT=n
CONFIG_GENERIC_PENDING_IRQ=n
CONFIG_GENERIC_STRNCPY_FROM_USER=n
CONFIG_NEW_LEDS=n
CONFIG_ARCH_HAVE_NMI_SAFE_CMPXCHG=n
CONFIG_NVMEM_SYSFS=n
CONFIG_BLOCK=n
CONFIG_MOUSE_PS2_LIFEBOOK=n
CONFIG_GENERIC_TIME_VSYSCALL=n
CONFIG_SPARSEMEM_VMEMMAP_PREINIT=n
CONFIG_CALL_PADDING=n
CONFIG_EXT4_FS_SECURITY=n
CONFIG_BINFMT_ELF=n
CONFIG_HID_PID=n
CONFIG_WLAN_VENDOR_INTEL=n
CONFIG_ARCH_SUSPEND_POSSIBLE=n
CONFIG_CHR_DEV_SG=n
CONFIG_XPS=n
CONFIG_ARCH_HAS_GIGANTIC_PAGE=n
CONFIG_XZ_DEC_RISCV=n
CONFIG_NUMA=n
CONFIG_FUTEX=n
CONFIG_SND_INTEL_DSP_CONFIG=n
CONFIG_BSD_PROCESS_ACCT=n
CONFIG_COMPAT=n
CONFIG_CPU_MITIGATIONS=n
CONFIG_SIGNALFD=n
CONFIG_BLK_DEV_MD=n
CONFIG_MITIGATION_SRSO=n
CONFIG_TREE_RCU=n
CONFIG_NET_DEVMEM=n
CONFIG_HAVE_STACK_VALIDATION=n
CONFIG_NET_VENDOR_CHELSIO=n
CONFIG_CGROUP_FREEZER=n
CONFIG_CPU_IDLE_GOV_HALTPOLL=n
CONFIG_HAVE_ARCH_KCSAN=n
CONFIG_STRICT_MODULE_RWX=n
CONFIG_CGROUP_CPUACCT=n
CONFIG_ARCH_USE_QUEUED_SPINLOCKS=n
CONFIG_NET_VENDOR_SIS=n
CONFIG_HAVE_USER_RETURN_NOTIFIER=n
CONFIG_X86_64_ACPI_NUMA=n
CONFIG_CLZ_TAB=n
CONFIG_PNFS_BLOCK=n
CONFIG_SGETMASK_SYSCALL=n
CONFIG_PCCARD=n
CONFIG_PHY_PACKAGE=n
CONFIG_MITIGATION_GDS=n
CONFIG_RCU_TRACE=n
CONFIG_NET_INGRESS=n
CONFIG_BLK_CGROUP_IOCOST=n
CONFIG_NET_VENDOR_META=n
CONFIG_GENERIC_MSI_IRQ=n
CONFIG_HAVE_CONTEXT_TRACKING_USER=n
CONFIG_RTL_CARDS=n
CONFIG_UNWINDER_ORC=n
CONFIG_ARCH_SUPPORTS_HUGETLBFS=n
CONFIG_PREEMPT_COUNT=n
CONFIG_SERIAL_8250_DWLIB=n
CONFIG_HAVE_MOVE_PMD=n
CONFIG_CRYPTO_HASH_INFO=n
CONFIG_MMU_NOTIFIER=n
CONFIG_NET_VENDOR_LITEX=n
CONFIG_ARCH_SUPPORTS_KEXEC_SIG=n
CONFIG_DEBUG_MISC=n
CONFIG_INTEL_IOMMU_PERF_EVENTS=n
CONFIG_HAS_IOPORT=n
CONFIG_RELAY=n
CONFIG_XARRAY_MULTI=n
CONFIG_SCHED_OMIT_FRAME_POINTER=n
CONFIG_HAVE_ARCH_WITHIN_STACK_FRAMES=n
CONFIG_NF_CONNTRACK=n
CONFIG_NET_9P_FD=n
CONFIG_NETPOLL=n
CONFIG_USB_OHCI_HCD_PCI=n
CONFIG_XZ_DEC_X86=n
CONFIG_PM_SLEEP=n
CONFIG_WLAN_VENDOR_MARVELL=n
CONFIG_LEGACY_TIOCSTI=n
CONFIG_ARCH_WANT_LD_ORPHAN_WARN=n
CONFIG_CONTEXT_SWITCH_TRACER=n
CONFIG_HIBERNATION_COMP_LZO=n
CONFIG_XXHASH=n
CONFIG_ATA_FORCE=n
CONFIG_DRM_PANEL_ORIENTATION_QUIRKS=n
CONFIG_X86_CMOV=n
CONFIG_I2C_HELPER_AUTO=n
CONFIG_NET_HANDSHAKE=n
CONFIG_MPILIB=n
CONFIG_IP_PNP_RARP=n
CONFIG_SND_CTL_FAST_LOOKUP=n
CONFIG_PM_SLEEP_DEBUG=n
CONFIG_PAGE_COUNTER=n
CONFIG_CRC_CCITT=n
CONFIG_FAT_FS=n
CONFIG_CC_NO_ARRAY_BOUNDS=n
CONFIG_ARCH_WANT_GENERAL_HUGETLB=n
CONFIG_DW_DMAC_CORE=n
CONFIG_UNION_FIND=n
CONFIG_X86_PM_TIMER=n
CONFIG_WLAN_VENDOR_PURELIFI=n
CONFIG_HAVE_KERNEL_BZIP2=n
CONFIG_PCI_MSI=n
CONFIG_WLAN_VENDOR_QUANTENNA=n
CONFIG_ARCH_SUPPORTS_KEXEC_PURGATORY=n
CONFIG_GROUP_SCHED_WEIGHT=n
CONFIG_ARCH_HAS_SET_MEMORY=n
CONFIG_NEED_PER_CPU_PAGE_FIRST_CHUNK=n
CONFIG_ZSTD_DECOMPRESS=n
CONFIG_HAVE_FUNCTION_TRACER=n
CONFIG_WLAN_VENDOR_ATMEL=n
CONFIG_NET_VENDOR_DEC=n
CONFIG_EDAC_SUPPORT=n
CONFIG_ARCH_SPARSEMEM_ENABLE=n
CONFIG_SOFTIRQ_ON_OWN_STACK=n
CONFIG_X86_DISABLED_FEATURE_CYRIX_ARR=n
CONFIG_ARCH_USES_HIGH_VMA_FLAGS=n
CONFIG_INTEL_MEI=n
CONFIG_ARCH_HAS_SYSCALL_WRAPPER=n
CONFIG_YENTA=n
CONFIG_NEED_TASKS_RCU=n
CONFIG_MOUSE_PS2_ALPS=n
CONFIG_CRYPTO_LIB_GF128HASH=n
CONFIG_FWNODE_MDIO=n
CONFIG_CRYPTO_MANAGER=n
CONFIG_DM_MIRROR=n
CONFIG_EFI_MIXED=n
CONFIG_ARCH_ENABLE_HUGEPAGE_MIGRATION=n
CONFIG_UTS_NS=n
CONFIG_ZLIB_DEFLATE=n
CONFIG_BLK_DEV_BSG=n
CONFIG_DQL=n
CONFIG_X86_CHECK_BIOS_CORRUPTION=n
CONFIG_X86_REQUIRED_FEATURE_FPU=n
CONFIG_SYSCTL=n
CONFIG_ACPI_MDIO=n
CONFIG_CDROM=n
CONFIG_SERIAL_EARLYCON=n
CONFIG_EXT4_FS_POSIX_ACL=n
CONFIG_BLK_DEV_DM=n
CONFIG_ARCH_SUPPORTS_PAGE_TABLE_CHECK=n
CONFIG_ARCH_WANT_HUGE_PMD_SHARE=n
CONFIG_RATIONAL=n
CONFIG_HAVE_IRQ_EXIT_ON_IRQ_STACK=n
CONFIG_NET_VENDOR_XIRCOM=n
CONFIG_IP_PIMSM_V1=n
CONFIG_ARCH_MIGHT_HAVE_ACPI_PDC=n
CONFIG_REALTEK_PHY=n
CONFIG_USB_DEFAULT_PERSIST=n
CONFIG_GENERIC_CMOS_UPDATE=n
CONFIG_HAVE_ARCH_KASAN_VMALLOC=n
CONFIG_SERIAL_8250_RSA=n
CONFIG_MODULE_FORCE_UNLOAD=n
CONFIG_SERIAL_8250_SHARE_IRQ=n
CONFIG_ARCH_HAS_GCOV_PROFILE_ALL=n
CONFIG_PID_NS=n
CONFIG_ARCH_SUPPORTS_CFI=n
CONFIG_FS_IOMAP=n
CONFIG_NET_EMATCH=n
CONFIG_GENERIC_CPU_DEVICES=n
CONFIG_IP_MULTICAST=n
CONFIG_MAC80211=n
CONFIG_NET_PTP_CLASSIFY=n
CONFIG_RD_LZO=n
CONFIG_DEVPORT=n
CONFIG_RTC_DRV_CMOS=n
CONFIG_SERIAL_8250_PCILIB=n
CONFIG_DRM_DISPLAY_HDCP_HELPER=n
CONFIG_SECURITY_NETWORK=n
CONFIG_IP_ROUTE_MULTIPATH=n
CONFIG_IOMMU_PT_X86_64=n
CONFIG_BLK_DEV_INITRD=n
CONFIG_DRM_PANEL=n
CONFIG_ARCH_HAS_ELFCORE_COMPAT=n
CONFIG_DIMLIB=n
CONFIG_GPU_BUDDY=n
CONFIG_HAVE_KERNEL_LZMA=n
CONFIG_HAVE_SOFTIRQ_ON_OWN_STACK=n
CONFIG_COMPAT_32BIT_TIME=n
CONFIG_TIMERFD=n
CONFIG_SCHED_HRTICK=n
CONFIG_HAVE_HARDLOCKUP_DETECTOR_BUDDY=n
CONFIG_ARCH_HAS_PMEM_API=n
CONFIG_NET_VENDOR_ROCKER=n
CONFIG_X86_INTEL_MEMORY_PROTECTION_KEYS=n
CONFIG_QUOTA=n
CONFIG_RCU_NEED_SEGCBLIST=n
CONFIG_BLK_DEV_LOOP=n
CONFIG_ATA_PIIX=n
CONFIG_CRYPTO_AES=n
CONFIG_ARCH_SUPPORTS_CRASH_HOTPLUG=n
