CONFIG_HID_PID=n
CONFIG_FAILOVER=n
CONFIG_USB_OHCI_HCD=n
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO=n
CONFIG_ARCH_HAS_FORTIFY_SOURCE=n
CONFIG_DEBUG_STACK_USAGE=n
CONFIG_X86_DISABLED_FEATURE_LASS=n
CONFIG_MITIGATION_RETBLEED=n
CONFIG_NET_VENDOR_BROADCOM=n
CONFIG_DRM_MIPI_DSI=n
CONFIG_PNP_DEBUG_MESSAGES=n
CONFIG_VIRTIO=n
CONFIG_GENERIC_STRNLEN_USER=n
CONFIG_DUMMY_CONSOLE=n
CONFIG_HOTPLUG_SMT=n
CONFIG_MD_AUTODETECT=n
CONFIG_RPS=n
CONFIG_DRM_DISPLAY_HELPER=n
CONFIG_TRACING=n
CONFIG_MOUSE_PS2_SYNAPTICS_SMBUS=n
CONFIG_COMPAT_32BIT_TIME=n
CONFIG_ACPI_PLATFORM_PROFILE=n
CONFIG_JUMP_LABEL=n
CONFIG_MODULES_TREE_LOOKUP=n
CONFIG_VM_EVENT_COUNTERS=n
CONFIG_VIRTIO_MENU=n
CONFIG_ARCH_HIBERNATION_POSSIBLE=n
CONFIG_EFI_CAPSULE_LOADER=n
CONFIG_X86_DISABLED_FEATURE_OSPKE=n
CONFIG_I3C_OR_I2C=n
CONFIG_QUOTACTL=n
CONFIG_DEVTMPFS_MOUNT=n
CONFIG_USB_HID=n
CONFIG_PCI_MSI=n
CONFIG_BLK_DEV_DM_BUILTIN=n
CONFIG_CRYPTO_GENIV=n
CONFIG_IO_WQ=n
CONFIG_NET_VENDOR_VERTEXCOM=n
CONFIG_ARCH_WANT_IPC_PARSE_VERSION=n
CONFIG_CRYPTO_AES=n
CONFIG_SND_INTEL_DSP_CONFIG=n
CONFIG_POWER_SUPPLY=n
CONFIG_EXECMEM=n
CONFIG_ATA_SFF=n
CONFIG_INPUT_KEYBOARD=n
CONFIG_PROC_EVENTS=n
CONFIG_NET_VENDOR_FUNGIBLE=n
CONFIG_CC_HAS_COUNTED_BY_PTR=n
CONFIG_DYNAMIC_SIGFRAME=n
CONFIG_NET_EMATCH=n
CONFIG_DNOTIFY=n
CONFIG_ARCH_HAS_STRICT_MODULE_RWX=n
CONFIG_CPU_FREQ_GOV_COMMON=n
CONFIG_SCSI=n
CONFIG_CRYPTO_ACOMP2=n
CONFIG_E1000=n
CONFIG_MITIGATION_L1TF=n
CONFIG_IPV6_SIT=n
CONFIG_NET_VENDOR_SMSC=n
CONFIG_ARCH_STACKWALK=n
CONFIG_SND_TIMER=n
CONFIG_ARCH_CONFIGURES_CPU_MITIGATIONS=n
CONFIG_VGA_ARB=n
CONFIG_BLK_DEV_BSG=n
CONFIG_ARCH_HAS_ELF_RANDOMIZE=n
CONFIG_DRM_PANEL_BRIDGE=n
CONFIG_EXT4_FS_SECURITY=n
CONFIG_CGROUP_NET_CLASSID=n
CONFIG_USER_STACKTRACE_SUPPORT=n
CONFIG_YENTA_RICOH=n
CONFIG_MITIGATION_TAA=n
CONFIG_ARCH_SPLIT_ARG64=n
CONFIG_HAVE_ARCH_WITHIN_STACK_FRAMES=n
CONFIG_HAVE_ACPI_APEI_NMI=n
CONFIG_TASK_DELAY_ACCT=n
CONFIG_FSNOTIFY=n
CONFIG_XFRM_ALGO=n
CONFIG_MAC80211_RC_MINSTREL=n
CONFIG_NFS_COMMON=n
CONFIG_BSD_PROCESS_ACCT=n
CONFIG_HAVE_MMIOTRACE_SUPPORT=n
CONFIG_NVMEM_SYSFS=n
CONFIG_LOCKD=n
CONFIG_X86=n
CONFIG_MMU_GATHER_MERGE_VMAS=n
CONFIG_I2C_SMBUS=n
CONFIG_HOTPLUG_CORE_SYNC_DEAD=n
CONFIG_HAVE_ARCH_KSTACK_ERASE=n
CONFIG_EFI_RUNTIME_WRAPPERS=n
CONFIG_SND_DMA_SGBUF=n
CONFIG_AIO=n
CONFIG_WLAN_VENDOR_REALTEK=n
CONFIG_ARCH_HAS_CURRENT_STACK_POINTER=n
CONFIG_BLK_DEV=n
CONFIG_ACPI_DOCK=n
CONFIG_CRC_OPTIMIZATIONS=n
CONFIG_NET_VENDOR_RDC=n
CONFIG_RFKILL=n
CONFIG_VT_CONSOLE_SLEEP=n
CONFIG_X86_ESPFIX32=n
CONFIG_NET_VENDOR_MARVELL=n
CONFIG_ARCH_HAS_DEBUG_VM_PGTABLE=n
CONFIG_ATA_FORCE=n
CONFIG_X86_NEED_RELOCS=n
CONFIG_PATA_MPIIX=n
CONFIG_INPUT_LEDS=n
CONFIG_PPS=n
CONFIG_ARCH_USE_BUILTIN_BSWAP=n
CONFIG_SUSPEND=n
CONFIG_HID_NTRIG=n
CONFIG_FIB_RULES=n
CONFIG_NLS_UTF8=n
CONFIG_CRYPTO_CMAC=n
CONFIG_PKCS7_MESSAGE_PARSER=n
CONFIG_SCHED_OMIT_FRAME_POINTER=n
CONFIG_BUILDTIME_TABLE_SORT=n
CONFIG_MIGRATION=n
CONFIG_THERMAL=n
CONFIG_HAVE_HW_BREAKPOINT=n
CONFIG_NFS_V3_ACL=n
CONFIG_HAVE_FUNCTION_GRAPH_FREGS=n
CONFIG_FUTEX_PI=n
CONFIG_BUG=n
CONFIG_FUTEX_PRIVATE_HASH=n
CONFIG_NET_SELFTESTS=n
CONFIG_UPROBES=n
CONFIG_USB_XHCI_HCD=n
CONFIG_TTY=n
CONFIG_HAVE_NMI=n
CONFIG_ACPI_BUTTON=n
CONFIG_HAVE_EISA=n
CONFIG_NETFILTER_XTABLES=n
CONFIG_DIMLIB=n
CONFIG_CRYPTO_LZO=n
CONFIG_ACPI_NHLT=n
CONFIG_MAC_EMUMOUSEBTN=n
CONFIG_TMPFS_XATTR=n
CONFIG_SCHED_INFO=n
CONFIG_ATA_VERBOSE_ERROR=n
CONFIG_GENERIC_BUG=n
CONFIG_ARCH_SUPPORTS_KEXEC=n
CONFIG_GENERIC_IRQ_MIGRATION=n
CONFIG_CRYPTO_RSA=n
CONFIG_DEBUG_BUGVERBOSE=n
CONFIG_XZ_DEC_ARM64=n
CONFIG_RTC_DRV_CMOS=n
CONFIG_FRAME_POINTER=n
CONFIG_OID_REGISTRY=n
CONFIG_HID_SONY=n
CONFIG_ARCH_USE_CMPXCHG_LOCKREF=n
CONFIG_CRYPTO_HMAC=n
CONFIG_SKB_EXTENSIONS=n
CONFIG_HAVE_SYSCALL_TRACEPOINTS=n
CONFIG_DEBUG_FS_ALLOW_ALL=n
CONFIG_COMPAT_32=n
CONFIG_QUOTA=n
CONFIG_ARCH_HAS_NON_OVERLAPPING_ADDRESS_SPACE=n
CONFIG_IP_PNP_DHCP=n
CONFIG_CC_HAS_ZERO_CALL_USED_REGS=n
CONFIG_NET_FLOW_LIMIT=n
CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE=n
CONFIG_NET_VENDOR_MICROCHIP=n
CONFIG_DRM_DISPLAY_HDCP_HELPER=n
CONFIG_RELOCATABLE=n
CONFIG_WATCHDOG_HANDLE_BOOT_ENABLED=n
CONFIG_CONTEXT_TRACKING_IDLE=n
CONFIG_9P_FS=n
CONFIG_PCPU_DEV_REFCNT=n
CONFIG_NO_HZ=n
CONFIG_NET_VENDOR_AMAZON=n
CONFIG_DRM_I915_CAPTURE_ERROR=n
CONFIG_PRINTK=n
CONFIG_NET_VENDOR_META=n
CONFIG_X86_DISABLED_FEATURE_TDX_GUEST=n
CONFIG_EVENT_TRACING=n
CONFIG_XARRAY_MULTI=n
CONFIG_SERIAL_8250_PERICOM=n
CONFIG_NETFILTER_XT_TARGET_CONNSECMARK=n
CONFIG_CRYPTO_LIB_MD5=n
CONFIG_X86_PAT=n
CONFIG_SERIO_SERPORT=n
CONFIG_DNS_RESOLVER=n
CONFIG_CPU_SUP_ZHAOXIN=n
CONFIG_IRQ_DOMAIN_HIERARCHY=n
CONFIG_NET_VENDOR_SEEQ=n
CONFIG_IOMMU_SUPPORT=n
CONFIG_NET_VENDOR_SAMSUNG=n
CONFIG_SCHED_CLUSTER=n
CONFIG_X86_DISABLED_FEATURE_USER_SHSTK=n
CONFIG_HAVE_DMA_CONTIGUOUS=n
CONFIG_MSDOS_FS=n
CONFIG_AS_HAS_NON_CONST_ULEB128=n
CONFIG_PROC_KCORE=n
CONFIG_BACKLIGHT_CLASS_DEVICE=n
CONFIG_WERROR=n
CONFIG_PCI_BIOS=n
CONFIG_LEDS_CLASS=n
CONFIG_IP_PNP_RARP=n
CONFIG_CPU_FREQ_GOV_USERSPACE=n
CONFIG_CFG80211=n
CONFIG_NET_VENDOR_MICREL=n
CONFIG_FONT_AUTOSELECT=n
CONFIG_ARCH_WANTS_DYNAMIC_TASK_STRUCT=n
CONFIG_USB_STORAGE=n
CONFIG_XZ_DEC_ARMTHUMB=n
CONFIG_ARCH_SUPPORTS_KEXEC_SIG_FORCE=n
CONFIG_NETFILTER_XT_TARGET_TCPMSS=n
CONFIG_SERIAL_8250_PNP=n
CONFIG_HAVE_GUP_FAST=n
CONFIG_ARCH_SUPPORTS_SCHED_MC=n
CONFIG_X86_INTEL_TSX_MODE_AUTO=n
CONFIG_DM_ZERO=n
CONFIG_HAVE_MOD_ARCH_SPECIFIC=n
CONFIG_CPU_MITIGATIONS=n
CONFIG_CC_HAS_ASM_INLINE=n
CONFIG_OLD_SIGSUSPEND3=n
CONFIG_BLK_RQ_ALLOC_TIME=n
CONFIG_NET_CLS=n
CONFIG_VIRTIO_ANCHOR=n
CONFIG_ARCH_USES_PG_ARCH_2=n
CONFIG_HAVE_POSIX_CPU_TIMERS_TASK_WORK=n
CONFIG_CGROUP_DEBUG=n
CONFIG_LZ4_COMPRESS=n
CONFIG_WIRELESS=n
CONFIG_SGETMASK_SYSCALL=n
CONFIG_SND_X86=n
CONFIG_X86_DISABLED_FEATURE_SYSCALL32=n
CONFIG_SYMBOLIC_ERRNAME=n
CONFIG_NETFILTER_SKIP_EGRESS=n
CONFIG_CC_HAS_ENTRY_PADDING=n
CONFIG_NET_VENDOR_SUN=n
CONFIG_HAS_IOPORT_MAP=n
CONFIG_QUOTA_NETLINK_INTERFACE=n
CONFIG_ASN1=n
CONFIG_CGROUP_SCHED=n
CONFIG_MITIGATION_MDS=n
CONFIG_PM=n
CONFIG_THERMAL_DEFAULT_GOV_STEP_WISE=n
CONFIG_CPU_SUP_HYGON=n
CONFIG_CONTEXT_TRACKING=n
CONFIG_ACPI_I2C_OPREGION=n
CONFIG_SURFACE_PLATFORMS=n
CONFIG_ACPI_SPCR_TABLE=n
CONFIG_CRYPTO_HASH2=n
CONFIG_PTP_1588_CLOCK=n
CONFIG_AUTOFS_FS=n
CONFIG_ARCH_USE_QUEUED_SPINLOCKS=n
CONFIG_PM_SLEEP_SMP=n
CONFIG_VHOST_ENABLE_FORK_OWNER_CONTROL=n
CONFIG_HAVE_ALIGNED_STRUCT_PAGE=n
CONFIG_CLKEVT_I8253=n
CONFIG_ARCH_HAS_STRICT_KERNEL_RWX=n
CONFIG_RCU_TRACE=n
CONFIG_CC_HAS_KASAN_GENERIC=n
CONFIG_NETFILTER_NETLINK=n
CONFIG_PCIEPORTBUS=n
CONFIG_ACPI_WMI=n
CONFIG_SCREEN_INFO=n
CONFIG_SERIAL_8250=n
CONFIG_HIBERNATION=n
CONFIG_SND_CTL_FAST_LOOKUP=n
CONFIG_QUEUED_RWLOCKS=n
CONFIG_DRM_DISPLAY_HDMI_HELPER=n
CONFIG_HAVE_ARCH_SECCOMP=n
CONFIG_PCIEASPM_DEFAULT=n
CONFIG_BPF=n
CONFIG_HAVE_ACPI_APEI=n
CONFIG_CRYPTO_AKCIPHER=n
CONFIG_MOUSE_PS2_TRACKPOINT=n
CONFIG_MACINTOSH_DRIVERS=n
CONFIG_HAVE_ARCH_SECCOMP_FILTER=n
CONFIG_ACPI_FAN=n
CONFIG_X86_CMOV=n
CONFIG_IO_URING_BPF=n
CONFIG_STRICT_DEVMEM=n
CONFIG_BLK_CGROUP=n
CONFIG_GCC_PLUGINS=n
CONFIG_HAVE_GENERIC_VDSO=n
CONFIG_NET_VENDOR_XIRCOM=n
CONFIG_ROOT_NFS=n
CONFIG_M686=n
CONFIG_ARCH_WANT_GENERAL_HUGETLB=n
CONFIG_X86_REQUIRED_FEATURE_CX8=n
CONFIG_HAVE_UNSTABLE_SCHED_CLOCK=n
CONFIG_LOCK_DEBUGGING_SUPPORT=n
CONFIG_SECRETMEM=n
CONFIG_SPLIT_PTE_PTLOCKS=n
CONFIG_STANDALONE=n
CONFIG_HAVE_DYNAMIC_FTRACE=n
CONFIG_ELFCORE=n
CONFIG_FLATMEM=n
CONFIG_CRYPTO_LIB_UTILS=n
CONFIG_EPOLL=n
CONFIG_MITIGATION_SRBDS=n
CONFIG_TREE_SRCU=n
CONFIG_CRYPTO_SKCIPHER=n
CONFIG_MD=n
CONFIG_RD_XZ=n
CONFIG_ARCH_MAY_HAVE_PC_FDC=n
CONFIG_LD_CAN_USE_KEEP_IN_OVERLAY=n
