CONFIG_MAX44000=y
CONFIG_SENSORS_LM87=y
CONFIG_SPI_DYNAMIC=y
CONFIG_SCD4X=y
CONFIG_VIRTIO_MENU=y
CONFIG_ARCH_USE_QUEUED_RWLOCKS=y
CONFIG_MTD_ONENAND_GENERIC=y
CONFIG_IR_SONY_DECODER=y
CONFIG_ACER_WIRELESS=y
CONFIG_ZLIB_DEFLATE=y
CONFIG_SUNIV_F1C100S_CCU=y
CONFIG_ARCH_USE_QUEUED_SPINLOCKS=y
CONFIG_LEDS_TRIGGER_INPUT_EVENTS=y
CONFIG_QUOTACTL=y
CONFIG_I2C_VERSATILE=y
CONFIG_ASYMMETRIC_PUBLIC_KEY_SUBTYPE=y
CONFIG_BMP280_SPI=y
CONFIG_SENSORS_MAX16064=y
CONFIG_DECOMPRESS_GZIP=y
CONFIG_ARCH_HAS_GCOV_PROFILE_ALL=y
CONFIG_PREEMPTION=y
CONFIG_INTEL_SCU_IPC=y
CONFIG_MSTAR_MSC313_CPUPLL=y
CONFIG_BOOT_CONFIG=y
CONFIG_LEDS_TRIGGER_PANIC=y
CONFIG_HZ_100=y
CONFIG_TI_ADS7950=y
CONFIG_GPIO_SHARED_PROXY=y
CONFIG_BMI160_I2C=y
CONFIG_AT91_SOC_SFR=y
CONFIG_CRYPTO_XCTR=y
CONFIG_SERIAL_MCTRL_GPIO=y
CONFIG_I2C_STM32F7=y
CONFIG_GPIO_EXAR=y
CONFIG_REGULATOR_MAX8893=y
CONFIG_INTEL_VBTN=y
CONFIG_DEVFREQ_GOV_USERSPACE=y
CONFIG_GENERIC_IRQ_RESERVATION_MODE=y
CONFIG_RESET_EYEQ=y
CONFIG_CMA=y
CONFIG_ARM_SCMI_PROTOCOL=y
CONFIG_HARDIRQS_SW_RESEND=y
CONFIG_MFD_MADERA_I2C=y
CONFIG_REGULATOR_LM363X=y
CONFIG_LINEDISP=y
CONFIG_SENSORS_MAX1619=y
CONFIG_PREEMPT_BUILD=y
CONFIG_CRYPTO_XTS=y
CONFIG_SENSORS_VIA_CPUTEMP=y
CONFIG_SPI_DAVINCI=y
CONFIG_COMEDI_ICP_MULTI=y
CONFIG_AMD_HSMP=y
CONFIG_GENERIC_PT=y
CONFIG_HW_RANDOM_ROCKCHIP=y
CONFIG_SPI_VIRTIO=y
CONFIG_TOSHIBA_HAPS=y
CONFIG_I2C_OWL=y
CONFIG_NLS_CODEPAGE_874=y
CONFIG_SERIAL_8250_SHARE_IRQ=y
CONFIG_EXTCON=y
CONFIG_RTC_DRV_ABX80X=y
CONFIG_RT_MUTEXES=y
CONFIG_I2C_OCORES=y
CONFIG_RTC_DRV_MAX8998=y
CONFIG_FB_SYS_IMAGEBLIT=y
CONFIG_SENSORS_LM80=y
CONFIG_ACPI_BUTTON=y
CONFIG_MEMORY_ISOLATION=y
CONFIG_PCI_DIRECT=y
CONFIG_DW_DMAC_PCI=y
CONFIG_GPIO_XRA1403=y
CONFIG_CRYPTO_NULL=y
CONFIG_LOONGSON2_APB_CMC_DMA=y
CONFIG_XILLYBUS_PCIE=y
CONFIG_RTC_DRV_LOONGSON=y
CONFIG_MFD_MC13XXX_SPI=y
CONFIG_ARCH_HAS_MEM_ENCRYPT=y
CONFIG_MLX_PLATFORM=y
CONFIG_MFD_VX855=y
CONFIG_TCG_TIS_I2C_CR50=y
CONFIG_X86=y
CONFIG_HAVE_CMPXCHG_LOCAL=y
CONFIG_SENSORS_PIM4328=y
CONFIG_AD5064=y
CONFIG_AD7476=y
CONFIG_DELL_SMO8800=y
CONFIG_ARCH_SUPPORTS_KEXEC_JUMP=y
CONFIG_CRYPTO_LIB_UTILS=y
CONFIG_CC_HAS_ASM_GOTO_TIED_OUTPUT=y
CONFIG_HOTPLUG_PCI_ACPI=y
CONFIG_SENSORS_INSPUR_IPSPS=y
CONFIG_ARCH_SPARSEMEM_ENABLE=y
CONFIG_W1_SLAVE_DS2431=y
CONFIG_TI_ADC161S626=y
CONFIG_ATMEL_SSC=y
CONFIG_XZ_DEC=y
CONFIG_HAS_IOPORT=y
CONFIG_RTC_DRV_MAX6900=y
CONFIG_COMMON_CLK_FSL_SAI=y
CONFIG_IIO_FORMAT_KUNIT_TEST=y
CONFIG_TSYS01=y
CONFIG_SENSORS_MP5920=y
CONFIG_EXCLUSIVE_SYSTEM_RAM=y
CONFIG_GENERIC_ENTRY=y
CONFIG_CHARGER_MANAGER=y
CONFIG_LPC32XX_ADC=y
CONFIG_LATTICE_ECP3_CONFIG=y
CONFIG_IIO_ST_PRESS=y
CONFIG_REGULATOR_MAX77693=y
CONFIG_CRC_ENABLE_ALL_FOR_KUNIT=y
CONFIG_X86_INTEL_PSTATE=y
CONFIG_GPIO_KUNIT=y
CONFIG_NLS=y
CONFIG_NMI_CHECK_CPU=y
CONFIG_COMEDI_ADV_PCI1710=y
CONFIG_I2C_AXXIA=y
CONFIG_FB_PXA168=y
CONFIG_COMMON_CLK_MT8195_MFGCFG=y
CONFIG_I2C_ISCH=y
CONFIG_CLK_STARFIVE_JH7110_ISP=y
CONFIG_LEDS_MT6370_FLASH=y
CONFIG_SERIAL_MPS2_UART_CONSOLE=y
CONFIG_IIO_ST_MAGN_SPI_3AXIS=y
CONFIG_DMA_SA11X0=y
CONFIG_HAVE_PREEMPT_DYNAMIC=y
CONFIG_X86_16BIT=y
CONFIG_ARCH_SUPPORTS_KEXEC_SIG=y
CONFIG_COMEDI_TEST=y
CONFIG_ARM_MEDIATEK_CPUFREQ_HW=y
CONFIG_PCI_NPEM=y
CONFIG_MTD_REDBOOT_PARTS_UNALLOCATED=y
CONFIG_STM32_FMC2_EBI=y
CONFIG_RTC_DRV_MC13XXX=y
CONFIG_SENSORS_FAM15H_POWER=y
CONFIG_IIO_MUX=y
CONFIG_PCI_DOMAINS=y
CONFIG_X86_POWERNOW_K7_ACPI=y
CONFIG_SENSORS_MP2856=y
CONFIG_AD8460=y
CONFIG_GPIO_CDEV=y
CONFIG_BCM_SR_THERMAL=y
CONFIG_PHY_DA8XX_USB=y
CONFIG_USE_X86_SEG_SUPPORT=y
CONFIG_MFD_SUN6I_PRCM=y
CONFIG_ADXL355=y
CONFIG_SERIAL_RDA_CONSOLE=y
CONFIG_NLS_CODEPAGE_936=y
CONFIG_AD5380=y
CONFIG_KXSD9_I2C=y
CONFIG_MFD_WM831X=y
CONFIG_HW_RANDOM_INTEL=y
CONFIG_PREEMPT_DYNAMIC=y
CONFIG_RENESAS_INTC_IRQPIN=y
CONFIG_RTC_DRV_MSC313=y
CONFIG_X86_GOLDFISH=y
CONFIG_ISA_DMA_API=y
CONFIG_NLS_ISO8859_3=y
CONFIG_COMMON_CLK_MT6797_IMGSYS=y
CONFIG_SERIAL_8250_PCI1XXXX=y
CONFIG_MTD_NAND_MXIC=y
CONFIG_FB_CFB_COPYAREA=y
CONFIG_LCD2S=y
CONFIG_FPGA_MGR_XILINX_CORE=y
CONFIG_MXM_WMI=y
CONFIG_COMEDI_ADDI_APCI_1516=y
CONFIG_LCD_L4F00242T03=y
CONFIG_SENSORS_LT3074=y
CONFIG_PCIE_PME=y
CONFIG_LCD_LMS283GF05=y
CONFIG_SENSORS_SBTSI=y
CONFIG_HVC_DRIVER=y
CONFIG_SPI_MEM=y
CONFIG_PROVE_LOCKING=y
CONFIG_I2C_PXA=y
CONFIG_RESET_STARFIVE_JH7110=y
CONFIG_RTC_DRV_TPS6594=y
CONFIG_I2C_IMX=y
CONFIG_LCD_OTM3225A=y
CONFIG_RESET_CONTROLLER=y
CONFIG_PERF_EVENTS_AMD_POWER=y
CONFIG_MMP_TDMA=y
CONFIG_GPIO_VX855=y
CONFIG_PCIE_ALTERA_MSI=y
CONFIG_HAVE_RETHOOK=y
CONFIG_ACPI_PROCESSOR_IDLE=y
CONFIG_MTD_NAND_CS553X=y
CONFIG_X86_INTEL_TSX_MODE_OFF=y
CONFIG_SCA3300=y
CONFIG_SERIO_OLPC_APSP=y
CONFIG_TI_TSC2046=y
CONFIG_PCIE_SPEAR13XX=y
CONFIG_MFD_SYSCON=y
CONFIG_COMEDI_ADDI_APCI_3XXX=y
CONFIG_NSC_GPIO=y
CONFIG_SENSORS_ABITUGURU3=y
CONFIG_DMA_ENGINE_RAID=y
CONFIG_RD_LZMA=y
CONFIG_SERIO_ARC_PS2=y
CONFIG_REGULATOR_TPS51632=y
CONFIG_DECOMPRESS_LZMA=y
CONFIG_BROKEN_ON_SMP=y
CONFIG_UNICODE=y
CONFIG_RAPIDIO_DMA_ENGINE=y
CONFIG_FAIR_GROUP_SCHED=y
CONFIG_IIO_ST_LSM9DS0_I2C=y
CONFIG_UP_LATE_INIT=y
CONFIG_AS3935=y
CONFIG_HW_RANDOM_XILINX=y
CONFIG_REGMAP_W1=y
CONFIG_LCD_AMS369FG06=y
CONFIG_CLK_INTEL_SOCFPGA=y
CONFIG_RENESAS_USB_DMAC=y
CONFIG_PWM_APPLE=y
CONFIG_GPIO_LPC18XX=y
CONFIG_SERIAL_MPS2_UART=y
CONFIG_I2C_LS2X_V2=y
CONFIG_ARM_NI=y
CONFIG_CXL_PMU=y
CONFIG_ARM_QCOM_CPUFREQ_HW=y
CONFIG_FB_ATY_GENERIC_LCD=y
CONFIG_MTD_UBI=y
CONFIG_COMMON_CLK_MT6735_VDECSYS=y
CONFIG_CRYPTO_LZ4HC=y
CONFIG_AD799X=y
CONFIG_RESET_BRCMSTB_RESCAL=y
CONFIG_MADERA_IRQ=y
CONFIG_SENSORS_RM3100=y
CONFIG_GENERIC_IRQ_DEBUGFS=y
CONFIG_DEBUG_LOCKDEP=y
CONFIG_AD7191=y
CONFIG_COMEDI_JR3_PCI=y
CONFIG_HAVE_GCC_PLUGINS=y
CONFIG_CC_HAS_NO_PROFILE_FN_ATTR=y
CONFIG_CM3323=y
CONFIG_ARCH_SUSPEND_POSSIBLE=y
CONFIG_PCI_ATS=y
CONFIG_ADF4371=y
CONFIG_TIMER_OF=y
CONFIG_NVMEM_APPLE_EFUSES=y
CONFIG_TI_DMA_CROSSBAR=y
CONFIG_LEDS_OSRAM_AMS_AS3668=y
CONFIG_HOTPLUG_PCI_PCIE=y
CONFIG_CM32181=y
CONFIG_I2C_APPLE=y
CONFIG_MTD_NAND_ECC_SW_HAMMING=y
CONFIG_PWM_AIROHA=y
CONFIG_REGMAP_SPI=y
CONFIG_SPI_SPRD_ADI=y
CONFIG_IIO_ST_SENSORS_I2C=y
CONFIG_SENSORS_APS_379=y
CONFIG_FW_CS_DSP_KUNIT_TEST_UTILS=y
CONFIG_LENOVO_WMI_CAMERA=y
CONFIG_SENSORS_ADT7410=y
CONFIG_SENSORS_W83795=y
CONFIG_X86_LEGACY_VM86=y
CONFIG_GPIO_CRYSTAL_COVE=y
CONFIG_PCI_IOV=y
CONFIG_IIO_SCMI=y
CONFIG_NVMEM_MESON_MX_EFUSE=y
CONFIG_FS_POSIX_ACL=y
CONFIG_SLUB_STATS=y
CONFIG_MFD_SL28CPLD=y
CONFIG_COMMON_CLK_MT6779_AUDSYS=y
CONFIG_SD_ADC_MODULATOR=y
CONFIG_COMEDI_NI_PCIDIO=y
CONFIG_REGMAP_SLIMBUS=y
CONFIG_TRANSPARENT_HUGEPAGE_NEVER=y
CONFIG_I2C_RTL9300=y
CONFIG_MESON_CLK_MEASURE=y
CONFIG_AGP_AMD64=y
CONFIG_MFD_MAX5970=y
CONFIG_FB_CORE=y
CONFIG_LEDS_MAX5970=y
CONFIG_CRC_ITU_T=y
CONFIG_SPI_CLPS711X=y
CONFIG_SPI_MESON_SPIFC=y
CONFIG_ADIS16080=y
CONFIG_DEBUG_PINCTRL=y
CONFIG_CRYPTO_SKCIPHER=y
CONFIG_VIDEO=y
CONFIG_FB_IBM_GXT4500=y
CONFIG_REGULATOR_MP8859=y
CONFIG_CHARGER_DA9150=y
CONFIG_PINCTRL_INTEL=y
CONFIG_I2C_DESIGNWARE_PLATFORM=y
CONFIG_SLIMBUS=y
CONFIG_SENSORS_LTC2945=y
CONFIG_KUNIT=y
CONFIG_SENSORS_MAX6639=y
CONFIG_LZ4_DECOMPRESS=y
CONFIG_SENSORS_GL520SM=y
CONFIG_PINCTRL_PFC_SH7734=y
CONFIG_ARCH_SUPPORTS_HUGETLBFS=y
CONFIG_IO_URING_MOCK_FILE=y
CONFIG_MPL115_SPI=y
CONFIG_LEDS_DA903X=y
CONFIG_PCIE_TEGRA194=y
CONFIG_SENSORS_MAX34440=y
CONFIG_REGULATOR_WM8994=y
CONFIG_DEVPORT=y
CONFIG_SILICOM_PLATFORM=y
CONFIG_COMMON_CLK_MT8173=y
CONFIG_CLK_TWL6040=y
CONFIG_MTD_SPI_NOR_SWP_DISABLE_ON_VOLATILE=y
CONFIG_MFD_MT6370=y
CONFIG_PNPACPI=y
CONFIG_ARCH_MAY_HAVE_PC_FDC=y
CONFIG_COMMON_CLK_MT8192_IPESYS=y
CONFIG_VSI_IOMMU=y
CONFIG_REGULATOR_RT5739=y
CONFIG_X86_USE_PPRO_CHECKSUM=y
CONFIG_ACPI_PCI_SLOT=y
CONFIG_HAVE_MOD_ARCH_SPECIFIC=y
CONFIG_MTD_RAW_NAND=y
CONFIG_GENERIC_ALLOCATOR=y
CONFIG_BMI270=y
CONFIG_BMI088_ACCEL=y
CONFIG_BACKLIGHT_AW99706=y
CONFIG_SERIAL_8250_BCM2835AUX=y
CONFIG_AD5624R_SPI=y
CONFIG_DTC=y
CONFIG_CLK_SUNXI_PRCM_SUN8I=y
CONFIG_GENERIC_MSI_IRQ=y
CONFIG_NVMEM_QCOM_QFPROM=y
CONFIG_ADMFM2000=y
CONFIG_PINCTRL_SH_PFC=y
CONFIG_BMA220_SPI=y
CONFIG_RC_DECODERS=y
CONFIG_ACPI_REDUCED_HARDWARE_ONLY=y
CONFIG_SPI_TEGRA210_QUAD=y
CONFIG_PWM_MESON=y
CONFIG_BATTERY_DS2760=y
CONFIG_INTEL_PMC_SSRAM_TELEMETRY=y
CONFIG_COMEDI_NI_LABPC_PCI=y
CONFIG_PWM_RENESAS_RZG2L_GPT=y
CONFIG_FB_SIMPLE=y
CONFIG_SERIAL_8250_16550A_VARIANTS=y
CONFIG_IOMMU_API=y
CONFIG_CLK_BCM_KONA=y
CONFIG_HARDENED_USERCOPY=y
CONFIG_SENSORS_MAX20830=y
CONFIG_CRYPTO_ECRDSA=y
CONFIG_I2C_S3C2410=y
CONFIG_SENSORS_LT3074_REGULATOR=y
CONFIG_COMEDI_ADV_PCI1760=y
CONFIG_JFFS2_FS=y
CONFIG_COMEDI_ADV_PCI_DIO=y
CONFIG_LEDS_TI_LMU_COMMON=y
CONFIG_SUN50I_H6_PRCM_PPU=y
CONFIG_REGMAP=y
CONFIG_POSIX_AUX_CLOCKS=y
CONFIG_PWM_LPSS=y
CONFIG_DEBUG_VM=y
CONFIG_CPU_IDLE=y
CONFIG_NLS_CODEPAGE_866=y
CONFIG_SYSC_R8A774C0=y
CONFIG_SUN8I_R40_CCU=y
CONFIG_PM_QOS_KUNIT_TEST=y
CONFIG_COMMON_CLK_CS2000_CP=y
CONFIG_HAVE_KERNEL_LZMA=y
CONFIG_DEBUG_DEVRES=y
CONFIG_TOSHIBA_BT_RFKILL=y
CONFIG_SOC_BUS=y
CONFIG_CGROUP_SCHED=y
CONFIG_INGENIC_CGU_X1000=y
CONFIG_ARM_RASPBERRYPI_CPUFREQ=y
CONFIG_MFD_WM831X_I2C=y
CONFIG_PCIE_ANDES_QILAI=y
CONFIG_CLK_RK3528=y
CONFIG_TCG_TIS_I2C_NUVOTON=y
CONFIG_X86_DEBUGCTLMSR=y
CONFIG_LD_ORPHAN_WARN=y
CONFIG_SENSORS_ATK0110=y
CONFIG_HAVE_KERNEL_LZO=y
CONFIG_ACPI_CMPC=y
CONFIG_UIO_PDRV_GENIRQ=y
CONFIG_I2C_MT65XX=y
CONFIG_PROVIDE_OHCI1394_DMA_INIT=y
CONFIG_HEADERS_INSTALL=y
CONFIG_COMEDI_ADDI_APCI_1564=y
CONFIG_RICHTEK_RTQ6056=y
CONFIG_XGENE_DMA=y
CONFIG_SENSORS_UCD9000=y
CONFIG_SERIAL_RP2=y
CONFIG_FW_LOADER_PAGED_BUF=y
CONFIG_FAULT_INJECTION_STACKTRACE_FILTER=y
CONFIG_EDAC_SUPPORT=y
CONFIG_CRYPTO_CBC=y
CONFIG_RTC_DRV_R9701=y
CONFIG_COMEDI_CB_PCIDDA=y
CONFIG_MFD_MAX77541=y
CONFIG_FB_SAVAGE_I2C=y
CONFIG_SMPRO_ERRMON=y
CONFIG_CPU_SUP_CYRIX_32=y
CONFIG_RTC_DRV_FTRTC010=y
CONFIG_RTC_DRV_RX8581=y
CONFIG_MEDIATEK_MT6577_AUXADC=y
CONFIG_SPI_AMLOGIC_SPIFC_A1=y
CONFIG_BUILDTIME_TABLE_SORT=y
CONFIG_HAVE_EBPF_JIT=y
CONFIG_SUN6I_A31_CCU=y
CONFIG_SWITCHTEC_DMA=y
CONFIG_PM_GENERIC_DOMAINS=y
CONFIG_RTC_DRV_DS1685_FAMILY=y
CONFIG_TRACEPOINTS=y
CONFIG_LEDS_MAX77705=y
CONFIG_SAMPLE_UHID=y
CONFIG_REGULATOR_ADP5055=y
CONFIG_AGP=y
CONFIG_REGMAP_I3C=y
CONFIG_BATTERY_DS2781=y
CONFIG_CRYPTO_LIB_SHA512=y
CONFIG_DHT11=y
CONFIG_SIEMENS_SIMATIC_IPC_BATT=y
CONFIG_SENSORS_MP9945=y
CONFIG_IDLE_PAGE_TRACKING=y
CONFIG_MFD_TI_LMU=y
CONFIG_SERIAL_MXS_AUART=y
CONFIG_CPU_FREQ_GOV_USERSPACE=y
CONFIG_ARCH_32BIT_OFF_T=y
CONFIG_SENSORS_W83793=y
CONFIG_NEED_PER_CPU_EMBED_FIRST_CHUNK=y
CONFIG_RESET_POLARFIRE_SOC=y
CONFIG_PACKING_KUNIT_TEST=y
CONFIG_GPIO_TWL4030=y
CONFIG_PINCTRL_SH_FUNC_GPIO=y
CONFIG_CPU_FREQ_GOV_COMMON=y
CONFIG_LPC18XX_DAC=y
CONFIG_CRYPTO_JITTERENTROPY=y
CONFIG_OBJAGG=y
CONFIG_PIC32_EVIC=y
CONFIG_SPI=y
CONFIG_REGULATOR_ISL6271A=y
CONFIG_RAPIDIO_CPS_XX=y
CONFIG_LEDS_TRIGGER_ONESHOT=y
CONFIG_REGULATOR_PV88090=y
CONFIG_UX500_SOC_ID=y
CONFIG_SERIAL_TIMBERDALE=y
CONFIG_MFD_MAX7360=y
CONFIG_LOCK_MM_AND_FIND_VMA=y
CONFIG_PCIE_RCAR_GEN4_HOST=y
CONFIG_TRACE_IRQFLAGS_NMI_SUPPORT=y
CONFIG_SPI_INTEL_PCI=y
CONFIG_DYNAMIC_SIGFRAME=y
CONFIG_GENERIC_IRQ_MATRIX_ALLOCATOR=y
CONFIG_CRYPTO_LIB_SHA256=y
CONFIG_MFD_CS40L50_CORE=y
CONFIG_CPU_SUP_HYGON=y
CONFIG_BMA220=y
CONFIG_BATTERY_MAX17040=y
CONFIG_ACPI_LEGACY_TABLES_LOOKUP=y
CONFIG_I2C_BCM2835=y
CONFIG_SERIAL_8250_DW=y
CONFIG_MTD_INTEL_DG=y
CONFIG_SENSORS_IRPS5401=y
CONFIG_ARCH_WANTS_NO_INSTR=y
CONFIG_VHOST_MENU=y
CONFIG_ADXL367=y
CONFIG_EXYNOS_USI=y
CONFIG_CRYPTO_RSA=y
CONFIG_SERIO_RAW=y
CONFIG_REGULATOR_TPS6524X=y
CONFIG_COMMON_CLK_HI3519=y
CONFIG_ZSTD_COMMON=y
CONFIG_COMMON_CLK_APPLE_NCO=y
CONFIG_SAMPLE_WATCHDOG=y
CONFIG_MTD_SHARPSL_PARTS=y
CONFIG_LEDS_TCA6507=y
CONFIG_REGMAP_I2C=y
CONFIG_SENSORS_ASUS_WMI=y
CONFIG_DEVFREQ_EVENT_EXYNOS_PPMU=y
CONFIG_ARCH_HAS_NMI_SAFE_THIS_CPU_OPS=y
CONFIG_COMEDI_AMPLC_DIO200=y
CONFIG_COMMON_CLK_MT8516_AUDSYS=y
CONFIG_ADXL372_I2C=y
CONFIG_GPIO_LOONGSON_64BIT=y
CONFIG_CRYPTO_DES=y
CONFIG_MFD_BQ257XX=y
CONFIG_IIO_ADC_HELPER=y
CONFIG_DYNAMIC_DEBUG=y
CONFIG_ADIS16475=y
CONFIG_I2C_AT91=y
CONFIG_FB_SIS=y
CONFIG_SENSORS_ADT7X10=y
CONFIG_TICK_CPU_ACCOUNTING=y
CONFIG_CGROUP_FAVOR_DYNMODS=y
CONFIG_INGENIC_CGU_COMMON=y
CONFIG_IIO_KFIFO_BUF=y
CONFIG_EDAC_ATOMIC_SCRUB=y
CONFIG_LOGO_LINUX_MONO=y
CONFIG_PINCTRL_PFC_R8A7742=y
CONFIG_RMI4_CORE=y
CONFIG_BD79703=y
CONFIG_CADENCE_TTC_TIMER=y
CONFIG_RENESAS_DMA=y
CONFIG_AXI_DMAC=y
CONFIG_SX_COMMON=y
CONFIG_GPIO_EP93XX=y
CONFIG_SERIAL_IMX=y
CONFIG_FIREWIRE_OHCI=y
