CONFIG_TOUCHSCREEN_STMFTS=y
CONFIG_CHARGER_MAX77759=y
CONFIG_SERIAL_FSL_LINFLEXUART=y
CONFIG_BASE_SMALL=y
CONFIG_HAVE_IOREMAP_PROT=y
CONFIG_PCIE_STM32_EP=y
CONFIG_SYSCTL_EXCEPTION_TRACE=y
CONFIG_I2C_MV64XXX=y
CONFIG_SPRD_IOMMU=y
CONFIG_PHY_MVEBU_A38X_COMPHY=y
CONFIG_MFD_MAX5970=y
CONFIG_MAX9611=y
CONFIG_HTE=y
CONFIG_CHARGER_BQ25980=y
CONFIG_COMEDI_BOND=y
CONFIG_BOOT_PRINTK_DELAY=y
CONFIG_FUEL_GAUGE_STC3117=y
CONFIG_OMAP3_THERMAL=y
CONFIG_COMMON_CLK_XGENE=y
CONFIG_SERIAL_HS_LPC32XX=y
CONFIG_IMX_MBOX=y
CONFIG_USB_SERIAL_CYPRESS_M8=y
CONFIG_OPTEE_STATIC_PROTMEM_POOL=y
CONFIG_FIPS_SIGNATURE_SELFTEST=y
CONFIG_AT91_SAMA5D2_ADC=y
CONFIG_MB1232=y
CONFIG_VSI_IOMMU=y
CONFIG_NMI_CHECK_CPU=y
CONFIG_STACKTRACE=y
CONFIG_SENSORS_SPARX5=y
CONFIG_GPIO_VISCONTI=y
CONFIG_VIRTIO=y
CONFIG_INV_ICM42607=y
CONFIG_SSB_POSSIBLE=y
CONFIG_HSI_BOARDINFO=y
CONFIG_GPIO_RCAR=y
CONFIG_OSNOISE_TRACER=y
CONFIG_RESET_BRCMSTB_RESCAL=y
CONFIG_RD_LZO=y
CONFIG_COMEDI_ADV_PCI_DIO=y
CONFIG_LENOVO_WMI_TUNING=y
CONFIG_CRYPTO_MD4=y
CONFIG_SECURITY_DMESG_RESTRICT=y
CONFIG_COMEDI_NI_LABPC_PCI=y
CONFIG_REGULATOR_QCOM_PM8008=y
CONFIG_VALIDATE_FS_PARSER=y
CONFIG_LEDS_SIEMENS_SIMATIC_IPC=y
CONFIG_COMMON_CLK_MT8183=y
CONFIG_BACKLIGHT_KTZ8866=y
CONFIG_ASUS_TF103C_DOCK=y
CONFIG_SMARTJOYPLUS_FF=y
CONFIG_MLX90635=y
CONFIG_RAPIDIO_MPORT_CDEV=y
CONFIG_HAVE_GCC_PLUGINS=y
CONFIG_IQS621_ALS=y
CONFIG_IBMASR=y
CONFIG_LEDS_GROUP_MULTICOLOR=y
CONFIG_HID_SENSOR_HUB=y
CONFIG_CRYPTO_DEV_SP_PSP=y
CONFIG_LEDS_LP8864=y
CONFIG_CHARGER_BQ24190=y
CONFIG_KEXEC_HANDOVER_ENABLE_DEFAULT=y
CONFIG_CM3605=y
CONFIG_STACKTRACE_BUILD_ID=y
CONFIG_CONTEXT_TRACKING=y
CONFIG_PALMAS_GPADC=y
CONFIG_USB_MUSB_GADGET=y
CONFIG_ALTERA_STAPL=y
CONFIG_ARM_ARMADA_8K_CPUFREQ=y
CONFIG_ARM_S5PV210_CPUFREQ=y
CONFIG_CRYPTO_AUTHENC=y
CONFIG_IPACK_BUS=y
CONFIG_EXPERT=y
CONFIG_CC_HAS_COUNTED_BY_PTR=y
CONFIG_PCI_DOE=y
CONFIG_AMDTEE=y
CONFIG_PA12203001=y
CONFIG_ARCH_HAS_DEVMEM_IS_ALLOWED=y
CONFIG_CC_HAS_SLS=y
CONFIG_PHY_SAMSUNG_USB2=y
CONFIG_LEDS_TRIGGER_BACKLIGHT=y
CONFIG_BACKLIGHT_LM3639=y
CONFIG_USB_CONFIGFS=y
CONFIG_PCIE_HISI_STB=y
CONFIG_COMEDI_VMK80XX=y
CONFIG_FB_MB862XX=y
CONFIG_SUN8I_A33_CCU=y
CONFIG_NVIDIA_WMI_EC_BACKLIGHT=y
CONFIG_LEDS_BCM63138=y
CONFIG_MFD_TWL4030_AUDIO=y
CONFIG_CM32181=y
CONFIG_PCI_TSM=y
CONFIG_VIRTIO_MEM=y
CONFIG_REGULATOR_MT6311=y
CONFIG_PIC32_WDT=y
CONFIG_BCM_NS_THERMAL=y
CONFIG_MFD_RETU=y
CONFIG_SENSORS_MP2975=y
CONFIG_PINCTRL_NSP_MUX=y
CONFIG_PHY_PXA_USB=y
CONFIG_REGULATOR_DA9121=y
CONFIG_ARM_SMMU_MMU_500_CPRE_ERRATA=y
CONFIG_KS0108=y
CONFIG_ARCH_SUPPORTS_CRASH_DUMP=y
CONFIG_PHY_MMP3_HSIC=y
CONFIG_BACKLIGHT_BD6107=y
CONFIG_MFD_MAX8997=y
CONFIG_COMMON_CLK_MT8183_MFGCFG=y
CONFIG_INTERCONNECT_QCOM_RPMH_POSSIBLE=y
CONFIG_COMMON_CLK_MT2712_VDECSYS=y
CONFIG_ARCH_WANTS_NO_INSTR=y
CONFIG_KEYBOARD_MTK_PMIC=y
CONFIG_CRYPTO_AKCIPHER2=y
CONFIG_MFD_KEMPLD=y
CONFIG_SENSORS_STEF48H28=y
CONFIG_UCC_SLOW=y
CONFIG_REGULATOR_TPS68470=y
CONFIG_TYPEC_MUX_NB7VPQ904M=y
CONFIG_SYNC_FILE=y
CONFIG_I2C_MUX_MULE=y
CONFIG_MPL115_I2C=y
CONFIG_PCIE_PLDA_HOST=y
CONFIG_MFD_TQMX86=y
CONFIG_SENSORS_TSC1641=y
CONFIG_COMMON_CLK_SI570=y
CONFIG_PHY_DA8XX_USB=y
CONFIG_EP93XX_WATCHDOG=y
CONFIG_PINCTRL_BROXTON=y
CONFIG_GPIO_MAX7300=y
CONFIG_COMMON_CLK_MT6779_AUDSYS=y
CONFIG_SENSORS_MLXREG_FAN=y
CONFIG_HAVE_ARCH_WITHIN_STACK_FRAMES=y
CONFIG_SERIAL_UARTLITE=y
CONFIG_CHARLCD=y
CONFIG_I2C_CCGX_UCSI=y
CONFIG_HID_TOPSEED=y
CONFIG_ARCH_HAS_CPU_ATTACK_VECTORS=y
CONFIG_REGULATOR_LP872X=y
CONFIG_FB_OMAP2_DSS_DSI=y
CONFIG_SENSORS_MAX17616=y
CONFIG_EDAC_XGENE=y
CONFIG_INTEL_ISHTP_ECLITE=y
CONFIG_USB_SEVSEG=y
CONFIG_TOUCHSCREEN_HYNITRON_CST816X=y
CONFIG_TYPEC_MUX_WCD939X_USBSS=y
CONFIG_PROC_MEM_ALWAYS_FORCE=y
CONFIG_I2C_DEMUX_PINCTRL=y
CONFIG_INTEL_IOMMU_SCALABLE_MODE_DEFAULT_ON=y
CONFIG_IIO_BUFFER_DMAENGINE=y
CONFIG_ASPEED_WATCHDOG=y
CONFIG_PCI_EPF_NTB=y
CONFIG_CHARGER_SBS=y
CONFIG_NLS_CODEPAGE_861=y
CONFIG_ARCH_SUPPORTS_PER_VMA_LOCK=y
CONFIG_HID_LENOVO=y
CONFIG_HAVE_FTRACE_GRAPH_FUNC=y
CONFIG_HID_GLORIOUS=y
CONFIG_AMD_SBRMI_I2C=y
CONFIG_REGULATOR_FP9931=y
CONFIG_PAGE_REPORTING=y
CONFIG_FB_HECUBA=y
CONFIG_USB_DWC2_VERBOSE=y
CONFIG_RUNTIME_TESTING_MENU=y
CONFIG_W1_MASTER_DS2482=y
CONFIG_CLK_SOPHGO_CV1800=y
CONFIG_GOOGLE_COREBOOT_TABLE=y
CONFIG_PCIE_XILINX_NWL=y
CONFIG_SENSORS_DME1737=y
CONFIG_PCIE_LAYERSCAPE_GEN4=y
CONFIG_PCI_KEYSTONE_EP=y
CONFIG_TYPEC_STUSB160X=y
CONFIG_MTK_DEVAPC=y
CONFIG_IOMMU_DEFAULT_DMA_STRICT=y
CONFIG_PINCTRL_IMX35=y
CONFIG_IOMMU_PT_VTDSS=y
CONFIG_CPU_FREQ_GOV_SCHEDUTIL=y
CONFIG_CSD_LOCK_WAIT_DEBUG_DEFAULT=y
CONFIG_BOARD_TPCI200=y
CONFIG_SSB=y
CONFIG_W1_MASTER_UART=y
CONFIG_MFD_STM32_TIMERS=y
CONFIG_ARCH_SUPPORTS_SCHED_MC=y
CONFIG_GENERIC_CLOCKEVENTS_MIN_ADJUST=y
CONFIG_ASUS_WMI_DEPRECATED_ATTRS=y
CONFIG_BCM_VIDEOCORE=y
CONFIG_INPUT_GPIO_BEEPER=y
CONFIG_ARCH_HAS_GENERIC_CRASHKERNEL_RESERVATION=y
CONFIG_PROC_CPU_RESCTRL=y
CONFIG_RESCTRL_FS_PSEUDO_LOCK=y
CONFIG_FW_LOADER=y
CONFIG_APPLE_DART=y
CONFIG_TI_ECAP_CAPTURE=y
CONFIG_INTERCONNECT_QCOM_OSM_L3=y
CONFIG_ACPI_PROCESSOR_CSTATE=y
CONFIG_SERIAL_DEV_CTRL_TTYPORT=y
CONFIG_FW_CFG_SYSFS_CMDLINE=y
CONFIG_FB_VIA_X_COMPATIBILITY=y
CONFIG_QCOM_TZMEM=y
CONFIG_BME680_I2C=y
CONFIG_FB_CONTROL=y
CONFIG_KEXEC_HANDOVER=y
CONFIG_SENSORS_W83793=y
CONFIG_GPIO_AMD8111=y
CONFIG_CLK_IMX8ULP=y
CONFIG_SCHED_INFO=y
CONFIG_COMMON_CLK_MT8188_VENCSYS=y
CONFIG_DA9062_THERMAL=y
CONFIG_COMMON_CLK_MT6779_CAMSYS=y
CONFIG_ARCH_SUPPORTS_LTO_CLANG=y
CONFIG_ARCH_HAS_ZONE_DMA_SET=y
CONFIG_SD_ADC_MODULATOR=y
CONFIG_COMEDI_ADV_PCI1723=y
CONFIG_QCOM_RAMP_CTRL=y
CONFIG_GPIO_WM8994=y
CONFIG_GENERIC_IRQ_ENTRY=y
CONFIG_HAVE_ARCH_SECCOMP=y
CONFIG_REGULATOR_88PG86X=y
CONFIG_OF_KOBJ=y
CONFIG_DA8XX_DDRCTL=y
CONFIG_REGULATOR_TPS65910=y
CONFIG_REGULATOR_S2MPS11=y
CONFIG_PCIE_ALTERA=y
CONFIG_X86_THERMAL_VECTOR=y
CONFIG_X86_CPU_RESCTRL=y
CONFIG_MFD_SPMI_PMIC=y
CONFIG_GOOGLE_MEMCONSOLE=y
CONFIG_PINCTRL_SM8450_LPASS_LPI=y
CONFIG_TICK_ONESHOT=y
CONFIG_CHARGER_MAX8997=y
CONFIG_X86_VMX_FEATURE_NAMES=y
CONFIG_ACPI_WMI_LEGACY_DEVICE_NAMES=y
CONFIG_SUN50I_A100_CCU=y
CONFIG_PINCTRL_MT8186=y
CONFIG_CRYPTO_LIB_SM3=y
CONFIG_RENESAS_INTC_IRQPIN=y
CONFIG_SENSORS_SBTSI=y
CONFIG_IOMMU_IO_PGTABLE=y
CONFIG_ALS31300=y
CONFIG_I2C_APPLE=y
CONFIG_COMPAT=y
CONFIG_HAVE_ARCH_TRACEHOOK=y
CONFIG_RESET_RZG2L_USBPHY_CTRL=y
CONFIG_SYSVIPC=y
CONFIG_FSL_MC_BUS=y
CONFIG_EXTCON_FSA9480=y
CONFIG_PARPORT_PANEL=y
CONFIG_EBC_C384_WDT=y
CONFIG_CC_IS_GCC=y
CONFIG_GPIO_CLPS711X=y
CONFIG_PHY_QCOM_QMP_COMBO=y
CONFIG_DYNAMIC_FTRACE_WITH_REGS=y
CONFIG_TIMER_PROBE=y
CONFIG_HSI_CHAR=y
CONFIG_NOA1305=y
CONFIG_GPIO_104_IDIO_16=y
CONFIG_QCOM_WCNSS_CTRL=y
CONFIG_SCHEDSTATS=y
CONFIG_SENSORS_TPS53679=y
CONFIG_CRYPTO_CCM=y
CONFIG_PRINTK=y
CONFIG_TYPEC_RT1719=y
CONFIG_X86_SUPPORTS_MEMORY_FAILURE=y
CONFIG_NVMEM_QORIQ_EFUSE=y
CONFIG_IIO_SW_DEVICE=y
CONFIG_TEGRA_HOST1X=y
CONFIG_PCI_KEYSTONE_TRISTATE=y
CONFIG_INPUT_AXP20X_PEK=y
CONFIG_GENERIC_ADC_THERMAL=y
CONFIG_POLARFIRE_SOC_MAILBOX=y
CONFIG_LEDS_BD2606MVV=y
CONFIG_STM32_DFSDM_ADC=y
CONFIG_CRYPTO_ENGINE=y
CONFIG_BCM2835_POWER=y
CONFIG_X86_REQUIRED_FEATURE_PAE=y
CONFIG_XGENE_PMU=y
CONFIG_DW_I3C_MASTER=y
CONFIG_PHY_MMP3_USB=y
CONFIG_BCMA_DEBUG=y
CONFIG_COMEDI_ADDI_APCI_2200=y
CONFIG_ARCH_SUPPORTS_ATOMIC_RMW=y
CONFIG_ARCH_MEMORY_ORDER_TSO=y
CONFIG_INTEL_SKL_INT3472=y
CONFIG_INPUT_PM8941_PWRKEY=y
CONFIG_BINFMT_ELF=y
CONFIG_USB_SERIAL_QUALCOMM=y
CONFIG_USB_CHAOSKEY=y
CONFIG_SENSORS_GL518SM=y
CONFIG_BACKLIGHT_LM3509=y
CONFIG_INPUT_IBM_PANEL=y
CONFIG_PINCTRL_SOPHGO_SG2042_OPS=y
CONFIG_PINCTRL_PFC_R8A77470=y
CONFIG_PINCTRL_MT6779=y
CONFIG_LEDS_PCA955X_GPIO=y
CONFIG_AUXILIARY_BUS=y
CONFIG_PCIE_DW_HOST=y
CONFIG_ARCH_HAS_PTDUMP=y
CONFIG_MMC35240=y
CONFIG_SENSORS_LM78=y
CONFIG_CC_HAS_NAMED_AS=y
CONFIG_X86_REQUIRED_FEATURE_SYSFAST32=y
CONFIG_SENSORS_MP2891=y
CONFIG_IPMI_HANDLER=y
CONFIG_REGULATOR_QCOM_SPMI=y
CONFIG_POWER_SEQUENCING_TH1520_GPU=y
CONFIG_I8254=y
CONFIG_USB_RENESAS_USBF=y
CONFIG_INSPUR_PLATFORM_PROFILE=y
CONFIG_TWL4030_CORE=y
CONFIG_TI_ADC081C=y
CONFIG_X86_REQUIRED_FEATURE_MSR=y
CONFIG_PINCTRL_SOPHGO_COMMON=y
CONFIG_COMMON_CLK_MT8196_IMP_IIC_WRAP=y
CONFIG_STIH407_RESET=y
CONFIG_BITLAND_MIFS_WMI=y
CONFIG_NLS_ISO8859_9=y
CONFIG_SENSORS_CHIPCAP2=y
CONFIG_FSI_SCOM=y
CONFIG_MCHP_LAN966X_PCI=y
CONFIG_GPIO_MLXBF=y
CONFIG_APPLE_RTKIT=y
CONFIG_LITEX_SOC_CONTROLLER=y
CONFIG_PANASONIC_LAPTOP=y
CONFIG_INTERCONNECT_QCOM_MAILI=y
CONFIG_DAVINCI_WATCHDOG=y
CONFIG_SPACEMIT_K1_CCU=y
CONFIG_ARCH_MIGHT_HAVE_PC_PARPORT=y
CONFIG_PINCTRL_MESON8=y
CONFIG_SUN8I_R_CCU=y
CONFIG_PINCTRL_PXA27X=y
CONFIG_BOOT_CONFIG=y
CONFIG_THERMAL_MMIO=y
CONFIG_PCIE_ROCKCHIP_DW=y
CONFIG_SENSORS_HTU31=y
CONFIG_GPIO_SIM=y
CONFIG_MITIGATION_MMIO_STALE_DATA=y
CONFIG_INTERCONNECT_QCOM_SDM670=y
CONFIG_SPARSEMEM_EXTREME=y
CONFIG_HW_RANDOM_CN10K=y
CONFIG_HAVE_FUNCTION_TRACER=y
CONFIG_COMMON_CLK_MT8196_MDPSYS=y
CONFIG_USB_GADGET_DEBUG=y
CONFIG_RESET_TI_TPS380X=y
CONFIG_SURFACE_HOTPLUG=y
CONFIG_SERIO_GPIO_PS2=y
CONFIG_CLK_IMX8MN=y
CONFIG_SENSORS_IR38064=y
CONFIG_VEML6075=y
CONFIG_FB_OMAP2_DSS_SLEEP_AFTER_VENC_RESET=y
CONFIG_GENERIC_CPU_DEVICES=y
CONFIG_TEST_IDA=y
CONFIG_PINCTRL_ULTRARISC=y
CONFIG_SENSORS_FSCHMD=y
CONFIG_PCIE_MEDIATEK=y
CONFIG_GENERIC_TRACER=y
CONFIG_MESON_WATCHDOG=y
CONFIG_HAVE_PERF_USER_STACK_DUMP=y
CONFIG_LEDS_MT6370_RGB=y
CONFIG_GPIO_MLXBF3=y
CONFIG_SENSORS_CORSAIR_CPRO=y
CONFIG_LIBFDT=y
CONFIG_HP_ILO=y
CONFIG_I2C_ST=y
CONFIG_INPUT_DA9055_ONKEY=y
CONFIG_PHY_SUNPLUS_USB=y
CONFIG_EXYNOS_THERMAL=y
CONFIG_MAX44000=y
CONFIG_ADXL355=y
CONFIG_ORANGEFS_FS=y
CONFIG_SERIAL_MILBEAUT_USIO=y
CONFIG_USER_DECRYPTED_DATA=y
CONFIG_MSI_WMI=y
CONFIG_LITEX=y
CONFIG_ARCH_USE_BUILTIN_BSWAP=y
CONFIG_PINCTRL_PFC_R8A77995=y
CONFIG_CPU_FREQ_GOV_ONDEMAND=y
CONFIG_IB700_WDT=y
CONFIG_USB_SERIAL_IPW=y
CONFIG_CRYPTO_CAMELLIA_AESNI_AVX_X86_64=y
CONFIG_IPMI_PLAT_DATA=y
CONFIG_I2C_DEBUG_CORE=y
CONFIG_PCIE_QCOM=y
CONFIG_PINCTRL_ASPEED_G5=y
CONFIG_SLUB=y
CONFIG_SUN9I_A80_CCU=y
CONFIG_MHP_DEFAULT_ONLINE_TYPE_ONLINE_MOVABLE=y
CONFIG_ARM_TEGRA_DEVFREQ=y
CONFIG_MTK_CPUX_TIMER=y
CONFIG_I2C_MT7621=y
CONFIG_PHY_UNIPHIER_PCIE=y
CONFIG_GENERIC_PENDING_IRQ=y
CONFIG_GXP_WATCHDOG=y
CONFIG_I2C_HID=y
CONFIG_TOUCHSCREEN_IQS7211=y
CONFIG_X86_REQUIRED_FEATURE_FXSR=y
CONFIG_SIEMENS_SIMATIC_IPC_WDT=y
CONFIG_RETU_WATCHDOG=y
CONFIG_IOMMU_PT_RISCV64=y
CONFIG_FB_CFB_COPYAREA=y
CONFIG_COMMON_CLK_APPLE_NCO=y
CONFIG_SPS30_I2C=y
CONFIG_CRYPTO_SKCIPHER=y
CONFIG_IRQ_WORK=y
CONFIG_COMMON_CLK_STM32MP157=y
CONFIG_DW_APB_TIMER=y
CONFIG_COMMON_CLK_MEDIATEK_FHCTL=y
CONFIG_ATMEL_SSC=y
CONFIG_PINCTRL_SX150X=y
CONFIG_OF_IOMMU=y
CONFIG_COMEDI_DAS08=y
CONFIG_STM32_TIMER_CNT=y
CONFIG_USB_WDM=y
CONFIG_EXTCON_MAX8997=y
CONFIG_W1_SLAVE_DS28E17=y
CONFIG_SENSORS_IBMPEX=y
CONFIG_RMI4_F03=y
CONFIG_COMMON_CLK_SI5341=y
CONFIG_FB_KYRO=y
CONFIG_PCI_V3_SEMI=y
CONFIG_HOTPLUG_CORE_SYNC_DEAD=y
CONFIG_ROHM_BD79124=y
CONFIG_PINCTRL_RENESAS=y
CONFIG_MFD_ACT8945A=y
CONFIG_RELOCATABLE=y
CONFIG_LV0104CS=y
CONFIG_ASUS_WIRELESS=y
CONFIG_COMMON_CLK_FIXED_MMIO=y
CONFIG_HW_RANDOM=y
CONFIG_INTEL_TH_GTH=y
CONFIG_FB_MACMODES=y
CONFIG_TEGRA_BPMP_THERMAL=y
CONFIG_EDD=y
CONFIG_CLKEVT_I8253=y
CONFIG_REGULATOR_RTQ2208=y
CONFIG_AD7746=y
CONFIG_LEDS_S2M_RGB=y
CONFIG_DEBUG_NOTIFIERS=y
CONFIG_INGENIC_CGU_JZ4760=y
CONFIG_KEY_DH_OPERATIONS=y
CONFIG_RCU_NOCB_CPU_CB_BOOST=y
CONFIG_COMPILE_TEST=y
CONFIG_HID_UDRAW_PS3=y
CONFIG_AS_HAS_NON_CONST_ULEB128=y
CONFIG_OF_ADDRESS=y
CONFIG_CRYPTO_LIB_AES_CBC_MACS=y
CONFIG_ARCH_STACKWALK=y
CONFIG_COMMON_CLK_HI3519=y
CONFIG_IRQCHIP=y
CONFIG_USB_ISIGHTFW=y
CONFIG_QCOM_RMTFS_MEM=y
CONFIG_ARCH_SUPPORTS_LTO_CLANG_THIN=y
CONFIG_COMEDI_MF6X4=y
CONFIG_GPIO_GENERIC_PLATFORM=y
CONFIG_GPIO_USBIO=y
CONFIG_FW_CFG_SYSFS=y
CONFIG_GPIO_KEMPLD=y
CONFIG_RCU_LAZY=y
CONFIG_DETECT_HUNG_TASK_BLOCKER=y
CONFIG_COMMON_CLK_MT8188_CAMSYS=y
CONFIG_TEST_OBJAGG=y
CONFIG_HID_GOOGLE_STADIA_FF=y
CONFIG_COMMON_CLK_IPROC=y
CONFIG_SERIO_LIBPS2=y
CONFIG_IMX_SCMI_MISC_DRV=y
CONFIG_CRYPTO_DEV_HISI_HPRE=y
CONFIG_FB_GOLDFISH=y
CONFIG_GPIO_SIFIVE=y
CONFIG_TEST_FPU=y
CONFIG_PHY_QCOM_IPQ4019_USB=y
CONFIG_RING_BUFFER_PERSISTENT_INJECT=y
CONFIG_GPIO_WINBOND=y
CONFIG_MUTEX_SPIN_ON_OWNER=y
CONFIG_ARCH_WANTS_DYNAMIC_TASK_STRUCT=y
CONFIG_COMEDI_AMPLC_PC263_PCI=y
CONFIG_HID_BATTERY_STRENGTH=y
CONFIG_GPIO_DA9052=y
CONFIG_SENSORS_IT87=y
CONFIG_EXPORTFS=y
CONFIG_COMEDI=y
CONFIG_UNWIND_USER=y
CONFIG_I2C_PCI1XXXX=y
CONFIG_USB_PCI_AMD=y
CONFIG_COMMON_CLK_MAX77686=y
CONFIG_SENSORS_LTC4215=y
CONFIG_PINCTRL_MTK_V2=y
CONFIG_PCI_AARDVARK=y
CONFIG_AD7291=y
CONFIG_HAVE_ARCH_KASAN_VMALLOC=y
CONFIG_INTERCONNECT_QCOM_SMD_RPM=y
CONFIG_RESET_UNIPHIER_GLUE=y
CONFIG_BMA220_I2C=y
CONFIG_TEST_KEXEC_HANDOVER=y
CONFIG_RESET_TENSTORRENT_ATLANTIS=y
CONFIG_ACPI_WMI=y
CONFIG_COMMON_CLK_MT8188_IMGSYS=y
CONFIG_AD3552R_LIB=y
CONFIG_SERIAL_PIC32=y
CONFIG_HID_GFRM=y
CONFIG_IIO_ST_LSM6DSX_I2C=y
CONFIG_USB_SERIAL_GENERIC=y
CONFIG_AXIADO_MAILBOX=y
