CONFIG_LEGACY_TIOCSTI=n
CONFIG_HAVE_MIXED_BREAKPOINTS_REGS=n
CONFIG_PADATA=n
CONFIG_HID_PID=n
CONFIG_INIT_STACK_ALL_ZERO=n
CONFIG_DRM_BRIDGE=n
CONFIG_CRYPTO_LIB_AES=n
CONFIG_WLAN_VENDOR_MEDIATEK=n
CONFIG_CC_HAS_KASAN_SW_TAGS=n
CONFIG_CRC16=n
CONFIG_CRYPTO_LIB_SHA512_ARCH=n
CONFIG_AUDIT_ARCH=n
CONFIG_DRM_DISPLAY_HELPER=n
CONFIG_NF_CONNTRACK_SIP=n
CONFIG_MMU_GATHER_RCU_TABLE_FREE=n
CONFIG_X86_CHECK_BIOS_CORRUPTION=n
CONFIG_CRYPTO_LIB_SHA1=n
CONFIG_THREAD_INFO_IN_TASK=n
CONFIG_CC_HAS_ASSUME=n
CONFIG_FW_LOADER=n
CONFIG_HAVE_KERNEL_XZ=n
CONFIG_X86_REQUIRED_FEATURE_LM=n
CONFIG_SERIO_SERPORT=n
CONFIG_CGROUP_SCHED=n
CONFIG_ETHERNET=n
CONFIG_UID16=n
CONFIG_NET_VENDOR_3COM=n
CONFIG_CRYPTO_ALGAPI2=n
CONFIG_ARCH_HAS_ELFCORE_COMPAT=n
CONFIG_VIRTIO_PCI=n
CONFIG_X86_VMX_FEATURE_NAMES=n
CONFIG_NETFILTER_XT_MATCH_STATE=n
CONFIG_GENERIC_BITREVERSE=n
CONFIG_BLK_DEV_IO_TRACE=n
CONFIG_DEBUG_WX=n
CONFIG_HAVE_KRETPROBES=n
CONFIG_WLAN_VENDOR_RALINK=n
CONFIG_HAVE_ARCH_KASAN_VMALLOC=n
CONFIG_RELOCATABLE=n
CONFIG_WLAN_VENDOR_INTERSIL=n
CONFIG_TASKSTATS=n
CONFIG_HAVE_MOVE_PUD=n
CONFIG_PER_VMA_LOCK=n
CONFIG_FUTEX_ROBUST_UNLOCK=n
CONFIG_SERIAL_8250_CONSOLE=n
CONFIG_COMPAT_32BIT_TIME=n
CONFIG_DST_CACHE=n
CONFIG_INTEL_IOMMU=n
CONFIG_CGROUP_FREEZER=n
CONFIG_IP_PIMSM_V1=n
CONFIG_QUOTA_NETLINK_INTERFACE=n
CONFIG_PKCS7_MESSAGE_PARSER=n
CONFIG_GENERIC_VDSO_OVERFLOW_PROTECT=n
CONFIG_ARCH_HAS_NMI_SAFE_THIS_CPU_OPS=n
CONFIG_9P_FS=n
CONFIG_XFRM=n
CONFIG_X86_CMOV=n
CONFIG_PM_SLEEP_SMP=n
CONFIG_NET_VENDOR_ATHEROS=n
CONFIG_HAVE_ARCH_TRACEHOOK=n
CONFIG_SERIO_I8042=n
CONFIG_HAVE_BUILDTIME_MCOUNT_SORT=n
CONFIG_PCI_QUIRKS=n
CONFIG_CRYPTO_HASH2=n
CONFIG_NET_VENDOR_NVIDIA=n
CONFIG_IOMMU_PT_AMDV1=n
CONFIG_AMD_NUMA=n
CONFIG_VMAP_PFN=n
CONFIG_AMD_NB=n
CONFIG_ARCH_HAS_SYSCALL_WRAPPER=n
CONFIG_RTC_DRV_CMOS=n
CONFIG_HAVE_PCI=n
CONFIG_ARCH_HAS_DEVMEM_IS_ALLOWED=n
CONFIG_ZLIB_DEFLATE=n
CONFIG_HAVE_KPROBES_ON_FTRACE=n
CONFIG_STACKPROTECTOR=n
CONFIG_PATA_AMD=n
CONFIG_HAVE_PREEMPT_DYNAMIC=n
CONFIG_NET_VENDOR_AQUANTIA=n
CONFIG_SERIAL_8250_EXAR=n
CONFIG_MITIGATION_TSA=n
CONFIG_X86_DEBUG_FPU=n
CONFIG_NETCONSOLE=n
CONFIG_THERMAL=n
CONFIG_STACKDEPOT=n
CONFIG_DECOMPRESS_BZIP2=n
CONFIG_HAVE_RUST=n
CONFIG_CRYPTO_GENIV=n
CONFIG_IOMMU_DMA=n
CONFIG_NVMEM_SYSFS=n
CONFIG_HAVE_OBJTOOL_NOP_MCOUNT=n
CONFIG_RANDSTRUCT_NONE=n
CONFIG_BLK_MQ_STACKING=n
CONFIG_ACPI_LEGACY_TABLES_LOOKUP=n
CONFIG_DECOMPRESS_LZO=n
CONFIG_HAVE_KLP_BUILD=n
CONFIG_CC_HAS_COUNTED_BY=n
CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE=n
CONFIG_HALTPOLL_CPUIDLE=n
CONFIG_SND_JACK=n
CONFIG_HOTPLUG_CORE_SYNC_DEAD=n
CONFIG_HUGETLB_PMD_PAGE_TABLE_SHARING=n
CONFIG_CRYPTO_CBC=n
CONFIG_SERIAL_EARLYCON=n
CONFIG_NET_9P_FD=n
CONFIG_IPV6_NDISC_NODETYPE=n
CONFIG_LD_IS_BFD=n
CONFIG_ARCH_SUPPORTS_KMAP_LOCAL_FORCE_MAP=n
CONFIG_DEVMEM=n
CONFIG_SND_DMA_SGBUF=n
CONFIG_DRM_DISPLAY_DSC_HELPER=n
CONFIG_NETFILTER_XT_MATCH_ADDRTYPE=n
CONFIG_DRM_VIRTIO_GPU_KMS=n
CONFIG_MOUSE_PS2_LIFEBOOK=n
CONFIG_FREEZER=n
CONFIG_TRACING_SUPPORT=n
CONFIG_X86_PAT=n
CONFIG_IRQ_REMAP=n
CONFIG_LD_ORPHAN_WARN=n
CONFIG_GENERIC_STRNLEN_USER=n
CONFIG_GENERIC_IRQ_SHOW=n
CONFIG_MITIGATION_SPECTRE_V2=n
CONFIG_SND_SEQUENCER=n
CONFIG_SND_SEQ_DEVICE=n
CONFIG_HAVE_FUNCTION_ARG_ACCESS_API=n
CONFIG_MOUSE_PS2_SMBUS=n
CONFIG_NF_CONNTRACK_SECMARK=n
CONFIG_NET_VENDOR_HUAWEI=n
CONFIG_MAC80211_RC_MINSTREL=n
CONFIG_CRYPTO_SKCIPHER2=n
CONFIG_NF_NAT_FTP=n
CONFIG_NET_VENDOR_NETRONOME=n
CONFIG_PRINTK=n
CONFIG_X86_DISABLED_FEATURE_FRED=n
CONFIG_MQ_IOSCHED_KYBER=n
CONFIG_CPU_FREQ_DEFAULT_GOV_USERSPACE=n
CONFIG_NET_FAILOVER=n
CONFIG_CFG80211_REQUIRE_SIGNED_REGDB=n
CONFIG_IP_MROUTE=n
CONFIG_MITIGATION_RETHUNK=n
CONFIG_USB_STORAGE=n
CONFIG_MODULES=n
CONFIG_EXT4_FS=n
CONFIG_USB_EHCI_TT_NEWSCHED=n
CONFIG_I2C_I801=n
CONFIG_SERIAL_8250_MID=n
CONFIG_ARCH_HAS_MEMBARRIER_SYNC_CORE=n
CONFIG_GPIOLIB_LEGACY=n
CONFIG_KEXEC=n
CONFIG_I3C_OR_I2C=n
CONFIG_NFS_USE_KERNEL_DNS=n
CONFIG_X86_REQUIRED_FEATURE_XMM2=n
CONFIG_NET_VENDOR_CORTINA=n
CONFIG_HW_RANDOM_VIA=n
CONFIG_HAVE_FUNCTION_ERROR_INJECTION=n
CONFIG_PCMCIA_LOAD_CIS=n
CONFIG_HAVE_PERF_EVENTS_NMI=n
CONFIG_DYNAMIC_SIGFRAME=n
CONFIG_NET_VENDOR_ADAPTEC=n
CONFIG_X86_REQUIRED_FEATURE_CMOV=n
CONFIG_EXPORTFS=n
CONFIG_HAVE_ALIGNED_STRUCT_PAGE=n
CONFIG_AS_HAS_NON_CONST_ULEB128=n
CONFIG_SECURITY_SELINUX_DEVELOP=n
CONFIG_ARCH_SUPPORTS_KEXEC_BZIMAGE_VERIFY_SIG=n
CONFIG_CC_IS_GCC=n
CONFIG_CC_HAS_ASM_GOTO_TIED_OUTPUT=n
CONFIG_PREEMPT_BUILD=n
CONFIG_CRYPTO_LIB_MD5=n
CONFIG_NETFILTER=n
CONFIG_SLAB_MERGE_DEFAULT=n
CONFIG_POSIX_MQUEUE_SYSCTL=n
CONFIG_HAVE_PREEMPT_DYNAMIC_CALL=n
CONFIG_TCP_MD5SIG=n
CONFIG_GENERIC_EARLY_IOREMAP=n
CONFIG_MAC80211_HAS_RC=n
CONFIG_SPLIT_PTE_PTLOCKS=n
CONFIG_HAVE_FUTEX_ROBUST_UNLOCK=n
CONFIG_INPUT_KEYBOARD=n
CONFIG_NETFILTER_XT_TARGET_TCPMSS=n
CONFIG_HOTPLUG_SMT=n
CONFIG_SYSCTL=n
CONFIG_HID_TOPSEED=n
CONFIG_NET_VENDOR_SIS=n
CONFIG_X86_VSYSCALL_EMULATION=n
CONFIG_SND_HRTIMER=n
CONFIG_ARCH_VMLINUX_NEEDS_RELOCS=n
CONFIG_SATA_HOST=n
CONFIG_MAC80211_LEDS=n
CONFIG_SCHED_HRTICK=n
CONFIG_E1000=n
CONFIG_NET_VENDOR_SOLARFLARE=n
CONFIG_FUNCTION_ALIGNMENT_4B=n
CONFIG_DEBUG_MEMORY_INIT=n
CONFIG_ARCH_SUPPORTS_ATOMIC_RMW=n
CONFIG_SND_HDA_HWDEP=n
CONFIG_ASYMMETRIC_KEY_TYPE=n
CONFIG_DMI_SCAN_MACHINE_NON_EFI_FALLBACK=n
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_JMP=n
CONFIG_SCHED_MC_PRIO=n
CONFIG_CC_HAS_ASM_GOTO_OUTPUT=n
CONFIG_DNOTIFY=n
CONFIG_STANDALONE=n
CONFIG_GENERIC_IRQ_RESERVATION_MODE=n
CONFIG_SPARSEMEM_VMEMMAP_PREINIT=n
CONFIG_EFI_RUNTIME_WRAPPERS=n
CONFIG_ARCH_SUPPORTS_KEXEC_HANDOVER=n
CONFIG_MITIGATION_CALL_DEPTH_TRACKING=n
CONFIG_IP_PNP=n
CONFIG_ARCH_CORRECT_STACKTRACE_ON_KRETPROBE=n
CONFIG_MODULES_TREE_LOOKUP=n
CONFIG_NET_VENDOR_GOOGLE=n
CONFIG_MD_BITMAP_FILE=n
CONFIG_WERROR=n
CONFIG_FIRMWARE_TABLE=n
CONFIG_RCU_NEED_SEGCBLIST=n
CONFIG_RTC_MC146818_LIB=n
CONFIG_VDSO_GETRANDOM=n
CONFIG_CRYPTO=n
CONFIG_BUILDTIME_TABLE_SORT=n
CONFIG_DECOMPRESS_ZSTD=n
CONFIG_IO_WQ=n
CONFIG_X86_REQUIRED_FEATURE_CX8=n
CONFIG_NETFILTER_XT_MARK=n
CONFIG_GENERIC_MSI_IRQ=n
CONFIG_VIRTIO_PCI_ADMIN_LEGACY=n
CONFIG_CPU_IDLE_GOV_MENU=n
CONFIG_CC_HAS_MARCH_NATIVE=n
CONFIG_ACPI_PROCESSOR_IDLE=n
CONFIG_FUTEX_MPOL=n
CONFIG_EARLY_PRINTK_DBGP=n
CONFIG_IP_PNP_DHCP=n
CONFIG_BLOCK=n
CONFIG_PREEMPT_RCU=n
CONFIG_ACPI_PROCESSOR=n
CONFIG_HAVE_ARCH_JUMP_LABEL_RELATIVE=n
CONFIG_HAVE_SAMPLE_FTRACE_DIRECT_MULTI=n
CONFIG_PCI_PRI=n
CONFIG_NFS_COMMON=n
CONFIG_AGP_INTEL=n
CONFIG_XFRM_AH=n
CONFIG_WLAN_VENDOR_QUANTENNA=n
CONFIG_XZ_DEC_RISCV=n
CONFIG_WLAN_VENDOR_INTEL=n
CONFIG_HOTPLUG_CORE_SYNC_FULL=n
CONFIG_TOOLS_SUPPORT_RELR=n
CONFIG_LOCK_DEBUGGING_SUPPORT=n
CONFIG_RTC_INTF_DEV=n
CONFIG_XPS=n
CONFIG_HAS_IOPORT_MAP=n
CONFIG_NET_VENDOR_SILAN=n
CONFIG_CPU_SUP_CENTAUR=n
CONFIG_MUTEX_SPIN_ON_OWNER=n
CONFIG_PTP_1588_CLOCK=n
CONFIG_MITIGATION_RETBLEED=n
CONFIG_HID_PETALYNX=n
CONFIG_ARCH_WANT_LD_ORPHAN_WARN=n
CONFIG_ATA_PIIX=n
CONFIG_IOMMU_SUPPORT=n
CONFIG_CRYPTO_ACOMP2=n
CONFIG_SND_HDA_INTEL=n
CONFIG_NETFILTER_XT_TARGET_NFLOG=n
CONFIG_SYSCTL_EXCEPTION_TRACE=n
CONFIG_LOCKD=n
CONFIG_CRYPTO_LIB_AES_ARCH=n
CONFIG_DEVTMPFS=n
CONFIG_HAVE_VIRT_CPU_ACCOUNTING_GEN=n
CONFIG_LEDS_CLASS=n
CONFIG_GENERIC_PENDING_IRQ=n
CONFIG_EEPROM_93CX6=n
CONFIG_ARCH_USE_QUEUED_SPINLOCKS=n
CONFIG_USB_DEFAULT_PERSIST=n
CONFIG_HAVE_PERF_EVENTS=n
CONFIG_CRASH_HOTPLUG=n
CONFIG_X86_MCE=n
CONFIG_ARCH_SUPPORTS_KEXEC_JUMP=n
CONFIG_SCHED_MC=n
CONFIG_HIDRAW=n
CONFIG_ACPI_MDIO=n
CONFIG_CLZ_TAB=n
CONFIG_NET_VENDOR_ALACRITECH=n
CONFIG_ARCH_HAS_DEBUG_WX=n
CONFIG_DEBUG_INFO_NONE=n
CONFIG_MAC80211=n
CONFIG_RTC_LIB=n
CONFIG_NET_CLS_ACT=n
CONFIG_PATA_OLDPIIX=n
CONFIG_CRYPTO_KRB5ENC=n
CONFIG_CRYPTO_SIG=n
CONFIG_BINARY_PRINTF=n
CONFIG_LOCK_SPIN_ON_OWNER=n
CONFIG_CC_HAS_NAMED_AS=n
CONFIG_NUMA=n
CONFIG_INPUT_MISC=n
CONFIG_SND_PCM_TIMER=n
CONFIG_HAVE_KERNEL_LZMA=n
CONFIG_SND_USB=n
CONFIG_NET_VENDOR_MYRI=n
CONFIG_GENERIC_BUG_RELATIVE_POINTERS=n
CONFIG_WLAN_VENDOR_ADMTEK=n
