CONFIG_PCIE_MEDIATEK_GEN3=n
CONFIG_TI_K3_AM65_CPSW_NUSS=n
CONFIG_PINCTRL_MSM8996=n
CONFIG_BLOCK=n
CONFIG_PCIE_RCAR_HOST=n
CONFIG_POWER_RESET_QCOM_PON=n
CONFIG_COMMON_CLK_MT8365_VENC=n
CONFIG_SUN50I_DE2_BUS=n
CONFIG_PHYLINK=n
CONFIG_HAVE_FUNCTION_TRACER=n
CONFIG_WLAN_VENDOR_SILABS=n
CONFIG_SND_SOC_TLV320AIC3X=n
CONFIG_POWER_RESET_GPIO_RESTART=n
CONFIG_SWIOTLB=n
CONFIG_RESET_IMX7=n
CONFIG_INPUT_BBNSM_PWRKEY=n
CONFIG_IWLMVM=n
CONFIG_MTD_CFI_ADV_OPTIONS=n
CONFIG_ACPI_HED=n
CONFIG_HISI_THERMAL=n
CONFIG_MEDIA_TUNER_TDA8290=n
CONFIG_PHY_ROCKCHIP_SAMSUNG_HDPTX=n
CONFIG_SND_SOC_SC7280=n
CONFIG_PROFILING=n
CONFIG_SND_SOC_WCD_CLASSH=n
CONFIG_SND_SOC_SC7180=n
CONFIG_NET_VENDOR_SOCIONEXT=n
CONFIG_HAVE_ARCH_SECCOMP_FILTER=n
CONFIG_AF_UNIX_OOB=n
CONFIG_ARCH_R8A77961=n
CONFIG_RSEQ=n
CONFIG_GENERIC_CSUM=n
CONFIG_ARCH_THUNDER2=n
CONFIG_SERIAL_OF_PLATFORM=n
CONFIG_SC_CAMCC_7280=n
CONFIG_LEDS_GPIO=n
CONFIG_ARCH_BCMBCA=n
CONFIG_NVMEM_UNIPHIER_EFUSE=n
CONFIG_PINCTRL_PFC_R8A774E1=n
CONFIG_DRM_TTM=n
CONFIG_CPU_FREQ_THERMAL=n
CONFIG_ARCH_SUPPORTS_LTO_CLANG_THIN=n
CONFIG_VFIO_PCI_INTX=n
CONFIG_HAVE_ARCH_MMAP_RND_COMPAT_BITS=n
CONFIG_CGROUPS=n
CONFIG_MAC80211_RC_DEFAULT_MINSTREL=n
CONFIG_KEYBOARD_ATKBD=n
CONFIG_COUNTER=n
CONFIG_ARCH_HAS_SYNC_DMA_FOR_CPU=n
CONFIG_PINCTRL_IPQ9574=n
CONFIG_GCC_NO_STRINGOP_OVERFLOW=n
CONFIG_OMAP_USB2=n
CONFIG_SND_SOC_WM_HUBS=n
CONFIG_MMC_ARMMMCI=n
CONFIG_NUMA_MEMBLKS=n
CONFIG_HW_RANDOM_MTK=n
CONFIG_QCOM_TZMEM=n
CONFIG_ROCKCHIP_DW_MIPI_DSI=n
CONFIG_SCREEN_INFO=n
CONFIG_PCIE_VISCONTI_HOST=n
CONFIG_FAILOVER=n
CONFIG_SOC_TEGRA_POWERGATE_BPMP=n
CONFIG_BLK_DEV_WRITE_MOUNTED=n
CONFIG_QCOM_SCM=n
CONFIG_SPI_FSL_DSPI=n
CONFIG_ARCH_ZYNQMP=n
CONFIG_HAVE_ASM_MODVERSIONS=n
CONFIG_PINCTRL_TEGRA210=n
CONFIG_IPMI_DEVICE_INTERFACE=n
CONFIG_ARM64_ERRATUM_1319367=n
CONFIG_XEN_COMPAT_XENFS=n
CONFIG_ASPEED_P2A_CTRL=n
CONFIG_BCM_SBA_RAID=n
CONFIG_COMMON_CLK_MT8186_IMP_IIC_WRAP=n
CONFIG_USB_PHY=n
CONFIG_SND_SOC_QDSP6_ASM_DAI=n
CONFIG_PINCTRL_MT7986=n
CONFIG_NVMEM_SNVS_LPGPR=n
CONFIG_KALLSYMS_ALL=n
CONFIG_INTERCONNECT_QCOM_QDU1000=n
CONFIG_MHP_DEFAULT_ONLINE_TYPE_OFFLINE=n
CONFIG_FB_IOMEM_HELPERS=n
CONFIG_NVMEM_RMEM=n
CONFIG_HID_MULTITOUCH=n
CONFIG_PWM_BRCMSTB=n
CONFIG_HAVE_ARCH_HUGE_VMALLOC=n
CONFIG_ROCKCHIP_INNO_HDMI=n
CONFIG_NVMEM_MESON_EFUSE=n
CONFIG_PCIEASPM_DEFAULT=n
CONFIG_PHY_NS2_PCIE=n
CONFIG_CRYPTO_DEV_FSL_DPAA2_CAAM=n
CONFIG_MTD_CFI_INTELEXT=n
CONFIG_QCOM_PMIC_GLINK=n
CONFIG_BT_MRVL=n
CONFIG_PINCTRL_MESON_G12A=n
CONFIG_VIDEO_RENESAS_FCP=n
CONFIG_ARCH_XGENE=n
CONFIG_SND_SOC_IMX_AUDMUX=n
CONFIG_DRM_GEM_DMA_HELPER=n
CONFIG_PATA_PLATFORM=n
CONFIG_ACPI_PROCESSOR_IDLE=n
CONFIG_MLX5_CORE=n
CONFIG_XEN_NETDEV_FRONTEND=n
CONFIG_HIBERNATION_SNAPSHOT_DEV=n
CONFIG_PHY_EXYNOS5_USBDRD=n
CONFIG_LEDS_QCOM_FLASH=n
CONFIG_HWMON=n
CONFIG_USB_CONFIGFS_OBEX=n
CONFIG_HARDIRQS_SW_RESEND=n
CONFIG_XOR_BLOCKS=n
CONFIG_SND_SOC_XILINX_I2S=n
CONFIG_TI_EQEP=n
CONFIG_SYSC_R8A77965=n
CONFIG_V4L2_MEM2MEM_DEV=n
CONFIG_PINCTRL_MTK_MOORE=n
CONFIG_XILINX_WATCHDOG=n
CONFIG_RPMSG_QCOM_GLINK_SMEM=n
CONFIG_PINCTRL_RTD1619B=n
CONFIG_NEED_KVM_DIRTY_RING_WITH_BITMAP=n
CONFIG_CLK_X1P42100_GPUCC=n
CONFIG_DEVFREQ_GOV_SIMPLE_ONDEMAND=n
CONFIG_WATCHDOG=n
CONFIG_COMMON_CLK_IPROC=n
CONFIG_I2C_BCM_IPROC=n
CONFIG_ARM64_ERRATUM_1024718=n
CONFIG_EC_LENOVO_YOGA_C630=n
CONFIG_MTD_NAND_ECC=n
CONFIG_MOUSE_ELAN_I2C=n
CONFIG_LS_SCFG_MSI=n
CONFIG_NFS_V4_2_SSC_HELPER=n
CONFIG_SND_HDA_TEGRA=n
CONFIG_ARM64_PA_BITS_52=n
CONFIG_HAVE_GIGANTIC_FOLIOS=n
CONFIG_ACPI_PRMT=n
CONFIG_ARCH_WANTS_THP_SWAP=n
CONFIG_PINCTRL_SM6115_LPASS_LPI=n
CONFIG_PINCTRL_MT8516=n
CONFIG_DRM_TI_SN65DSI86=n
CONFIG_SCSI_SAS_ATA=n
CONFIG_COMMON_CLK_MT8188=n
CONFIG_COMMON_CLK_APPLE_NCO=n
CONFIG_IMX_SCMI_LMM_EXT=n
CONFIG_KEXEC_FILE=n
CONFIG_PHY_SAMSUNG_UFS=n
CONFIG_MMC_BLOCK=n
CONFIG_PINCTRL_VISCONTI=n
CONFIG_PHY_FSL_IMX8M_PCIE=n
CONFIG_MTD_CFI=n
CONFIG_DRM_ETNAVIV_THERMAL=n
CONFIG_ZSTD_COMPRESS=n
CONFIG_I2C_OMAP=n
CONFIG_VIDEOBUF2_DMA_SG=n
CONFIG_MMC_DW_ROCKCHIP=n
CONFIG_FPGA_BRIDGE=n
CONFIG_SND_SOC_QDSP6_AFE=n
CONFIG_B53_SRAB_DRIVER=n
CONFIG_SUN50I_A100_CCU=n
CONFIG_VIRTUALIZATION=n
CONFIG_HAS_IOPORT=n
CONFIG_DWMAC_GENERIC=n
CONFIG_STRICT_DEVMEM=n
CONFIG_PINCTRL_MT6765=n
CONFIG_TI_AM335X_ADC=n
CONFIG_DRM_PANEL_SUMMIT=n
CONFIG_PINCTRL_SX150X=n
CONFIG_GENERIC_IRQ_IPI_MUX=n
CONFIG_MQ_IOSCHED_DEADLINE=n
CONFIG_IMX_REMOTEPROC=n
CONFIG_SOC_BUS=n
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST=n
CONFIG_ARM64_PTR_AUTH_KERNEL=n
CONFIG_DRM_PANEL_KHADAS_TS050=n
CONFIG_ARCH_R8A77960=n
CONFIG_OF_FPGA_REGION=n
CONFIG_OWL_DMA=n
CONFIG_CLK_IMX8ULP=n
CONFIG_SM_GCC_8650=n
CONFIG_USB_CDNS3_PCI_WRAP=n
CONFIG_COMMON_CLK_STM32MP215=n
CONFIG_ARCH_HAS_GCOV_PROFILE_ALL=n
CONFIG_SND_SOC_TLV320AIC32X4=n
CONFIG_DRM_MSM_MDP5=n
CONFIG_PINCTRL_PFC_R8A779A0=n
CONFIG_PHYLIB=n
CONFIG_QCOM_HIDMA=n
CONFIG_PINCTRL_SC8280XP_LPASS_LPI=n
CONFIG_SND_SOC_LPASS_WSA_MACRO=n
CONFIG_PCIE_TEGRA194_HOST=n
CONFIG_PHY_ROCKCHIP_NANENG_COMBO_PHY=n
CONFIG_CRYPTO_BENCHMARK=n
CONFIG_IO_URING_ZCRX=n
CONFIG_NET_SCH_INGRESS=n
CONFIG_USB_MXS_PHY=n
CONFIG_GPIO_PL061=n
CONFIG_SND_HDA_CORE=n
CONFIG_MTD_MAP_BANK_WIDTH_2=n
CONFIG_USB_CONFIGFS_RNDIS=n
CONFIG_USB_NET_NET1080=n
CONFIG_NETFILTER_XT_MATCH_CONNTRACK=n
CONFIG_EFIVAR_FS=n
CONFIG_SCSI_UFS_HISI=n
CONFIG_SND_SOC_SM8250=n
CONFIG_HAVE_KVM_VCPU_RUN_PID_CHANGE=n
CONFIG_RASPBERRYPI_FIRMWARE=n
CONFIG_THP_SWAP=n
CONFIG_ARCH_WANT_DEFAULT_TOPDOWN_MMAP_LAYOUT=n
CONFIG_GENERIC_LIB_DEVMEM_IS_ALLOWED=n
CONFIG_DRM_PANEL_ORIENTATION_QUIRKS=n
CONFIG_DRM_DW_HDMI_I2S_AUDIO=n
CONFIG_DRM_TI_TFP410=n
CONFIG_SND_SOC_QDSP6_APM_LPASS_DAI=n
CONFIG_USB_HID=n
CONFIG_MTD_NAND_QCOM=n
CONFIG_MEDIA_TUNER_XC2028=n
CONFIG_SH_TIMER_CMT=n
CONFIG_MLX4_CORE_GEN2=n
CONFIG_MMC_TMIO_CORE=n
CONFIG_LEGACY_TIOCSTI=n
CONFIG_INTERCONNECT_QCOM_X1E80100=n
CONFIG_QCOM_FALKOR_ERRATUM_E1041=n
CONFIG_I2C_DESIGNWARE_CORE=n
CONFIG_MOUSE_PS2_SMBUS=n
CONFIG_PHY_QCOM_QMP_COMBO=n
CONFIG_INOTIFY_USER=n
CONFIG_MMC_SDHCI_F_SDH30=n
CONFIG_DRM_NOUVEAU_BACKLIGHT=n
CONFIG_SND_CTL_FAST_LOOKUP=n
CONFIG_NET_DSA_TAG_BRCM_COMMON=n
CONFIG_HAVE_LIVEPATCH=n
CONFIG_CC_HAVE_STACKPROTECTOR_SYSREG=n
CONFIG_PINCTRL_SDX75=n
CONFIG_PCI_HISI=n
CONFIG_PHY_MTK_TPHY=n
CONFIG_COMMON_CLK_MT8192_MSDC=n
CONFIG_DRM_MXSFB=n
CONFIG_POWER_RESET_XGENE=n
CONFIG_CAN_CALC_BITTIMING=n
CONFIG_SND_SOC_QDSP6_PRM_LPASS_CLOCKS=n
CONFIG_MTD_HYPERBUS=n
CONFIG_REGULATOR_ROHM=n
CONFIG_MTD_CFI_I2=n
CONFIG_ARCH_SUPPORTS_KEXEC_IMAGE_VERIFY_SIG=n
CONFIG_MEDIA_PLATFORM_SUPPORT=n
CONFIG_HAVE_CLK_PREPARE=n
CONFIG_SG_POOL=n
CONFIG_USB_F_FS=n
CONFIG_V4L2_FWNODE=n
CONFIG_ARM_SP805_WATCHDOG=n
CONFIG_USB_SNP_UDC_PLAT=n
CONFIG_SLAB_OBJ_EXT=n
CONFIG_RESET_GPIO=n
CONFIG_ARM_SMC_WATCHDOG=n
CONFIG_VT_CONSOLE_SLEEP=n
CONFIG_ARM_SCMI_CPUFREQ=n
CONFIG_VIDEO_IMX8_ISI_M2M=n
CONFIG_PHY_ROCKCHIP_TYPEC=n
CONFIG_ATH10K_SDIO=n
CONFIG_DRM_MSM_DSI_28NM_8960_PHY=n
CONFIG_STACKDEPOT=n
CONFIG_VFIO_VIRQFD=n
CONFIG_QCOM_SPMI_ADC5=n
CONFIG_BLK_DEV_BSG=n
CONFIG_QCOM_IPA=n
CONFIG_PCIE_IPROC=n
CONFIG_IPQ_NSSCC_5424=n
CONFIG_VIDEO_E5010_JPEG_ENC=n
CONFIG_REED_SOLOMON_DEC8=n
CONFIG_SND_SOC_TEGRA210_SFC=n
CONFIG_BLK_DEV_DM_BUILTIN=n
CONFIG_MTK_DEVAPC=n
CONFIG_VIDEO_SYNOPSYS_HDMIRX_LOAD_DEFAULT_EDID=n
CONFIG_LIBFDT=n
CONFIG_CAN_RCAR_CANFD=n
CONFIG_PINCTRL_IMX8MP=n
CONFIG_VIDEO_CAMERA_SENSOR=n
CONFIG_INTERCONNECT_IMX8MN=n
CONFIG_IRQ_MSI_LIB=n
CONFIG_CLK_OWL_S700=n
CONFIG_CRYPTO_USER_API=n
CONFIG_RTC_HCTOSYS=n
CONFIG_OF_OVERLAY=n
CONFIG_ARCH_SPARSEMEM_ENABLE=n
CONFIG_DRM_LONTIUM_LT9611UXC=n
CONFIG_NET_VENDOR_PENSANDO=n
CONFIG_MDIO_THUNDER=n
CONFIG_PNPACPI=n
CONFIG_PINCTRL_MESON_GXBB=n
CONFIG_SND_SOC_ADAU7002=n
CONFIG_SOC_TEGRA_CBB=n
CONFIG_PINCTRL_X1E80100=n
CONFIG_PWM_MESON=n
CONFIG_UNION_FIND=n
CONFIG_MMC_SDHCI_XENON=n
CONFIG_SND_SOC_TI_UDMA_PCM=n
CONFIG_PINCTRL_QCS615=n
CONFIG_BPF_JIT_DEFAULT_ON=n
CONFIG_CRYPTO_SHA3=n
CONFIG_NVMEM_REBOOT_MODE=n
CONFIG_SMP=n
CONFIG_MUX_MMIO=n
