CONFIG_REGULATOR_TPS51632=y
CONFIG_SMI330_I2C=y
CONFIG_DLHL60D=y
CONFIG_ARCH_WANTS_NO_INSTR=y
CONFIG_UNINLINE_SPIN_UNLOCK=y
CONFIG_QCOM_PBS=y
CONFIG_MFD_MAX8997=y
CONFIG_RESET_HSDK=y
CONFIG_VIRTIO_BALLOON=y
CONFIG_PHY_EXYNOS_MIPI_VIDEO=y
CONFIG_COMMON_CLK_MT8186=y
CONFIG_GPIO_LJCA=y
CONFIG_PCIE_RCAR_EP=y
CONFIG_INPUT_MOUSEDEV_PSAUX=y
CONFIG_SENSORS_ZL6100=y
CONFIG_IIO_TRIGGER=y
CONFIG_TI_ADC081C=y
CONFIG_CXL_MEM=y
CONFIG_SENSORS_LTC2978=y
CONFIG_CRC8=y
CONFIG_LOCKUP_DETECTOR=y
CONFIG_PCIE_RCAR_GEN4_EP=y
CONFIG_SC27XX_ADC=y
CONFIG_PATA_CS5520=y
CONFIG_REGULATOR_MAX20086=y
CONFIG_PINCTRL_PFC_R8A774C0=y
CONFIG_USB_CDNS3=y
CONFIG_MFD_CS40L50_I2C=y
CONFIG_GPIO_NPCM_SGPIO=y
CONFIG_SENSORS_NCT7802=y
CONFIG_FB_GEODE_GX1=y
CONFIG_CRYPTO_DEV_OMAP=y
CONFIG_BOOT_VESA_SUPPORT=y
CONFIG_COMMON_CLK_MT8188_MFGCFG=y
CONFIG_X86_REQUIRED_FEATURE_LM=y
CONFIG_GPIB_COMMON=y
CONFIG_FB_SM501=y
CONFIG_ATCWDT200_WATCHDOG=y
CONFIG_GPIO_TN48M_CPLD=y
CONFIG_SUN50I_H6_CCU=y
CONFIG_PM_QOS_CPU_SYSTEM_WAKEUP=y
CONFIG_LTRF216A=y
CONFIG_USB_GADGETFS=y
CONFIG_USB_CHIPIDEA=y
CONFIG_GENERIC_PINMUX_FUNCTIONS=y
CONFIG_ASYNC_KERNEL_PGTABLE_FREE=y
CONFIG_LRU_GEN_STATS=y
CONFIG_SENSORS_FSCHMD=y
CONFIG_ICS932S401=y
CONFIG_COMMON_CLK_MT6779=y
CONFIG_DMA_ACPI=y
CONFIG_FB_BROADSHEET=y
CONFIG_QCOM_PMIC_PDCHARGER_ULOG=y
CONFIG_SCSI_FLASHPOINT=y
CONFIG_AD3552R_HS=y
CONFIG_SENSORS_KFAN=y
CONFIG_PCIE_RENESAS_RZG3S_HOST=y
CONFIG_CRYPTO_DEV_ZYNQMP_AES=y
CONFIG_DA311=y
CONFIG_MOUSE_GPIO=y
CONFIG_MEDIATEK_MT6370_ADC=y
CONFIG_HAVE_KCSAN_COMPILER=y
CONFIG_CHARGER_BQ24190=y
CONFIG_ARCH_HAS_GIGANTIC_PAGE=y
CONFIG_X86_DISABLED_FEATURE_USER_SHSTK=y
CONFIG_INTERCONNECT_IMX8MM=y
CONFIG_X86_DISABLED_FEATURE_SGX=y
CONFIG_POWERCAP=y
CONFIG_CLKSRC_LOONGSON1_PWM=y
CONFIG_ADXL367=y
CONFIG_HPET_EMULATE_RTC=y
CONFIG_ARCH_HAS_PARANOID_L1D_FLUSH=y
CONFIG_I2C_AT91=y
CONFIG_PCIE_TEGRA194_EP=y
CONFIG_REGMAP_W1=y
CONFIG_PCIE_TEGRA194=y
CONFIG_PINCONF=y
CONFIG_CRYPTO_SHA512=y
CONFIG_USB_MASS_STORAGE=y
CONFIG_MMC35240=y
CONFIG_NO_HZ_COMMON=y
CONFIG_APERTURE_HELPERS=y
CONFIG_TIMERLAT_TRACER=y
CONFIG_LD_IS_BFD=y
CONFIG_VIRT_XFER_TO_GUEST_WORK=y
CONFIG_JOYSTICK_ANALOG=y
CONFIG_SENSORS_W83627EHF=y
CONFIG_CLK_R8A77960=y
CONFIG_ACPI_MRRM=y
CONFIG_I2C_WMT=y
CONFIG_REALTEK_OTTO_TIMER=y
CONFIG_COMMON_CLK_PISTACHIO=y
CONFIG_X86_DISABLED_FEATURE_OSPKE=y
CONFIG_FB_VESA=y
CONFIG_LATENCYTOP=y
CONFIG_IOMMU_IO_PGTABLE_LPAE=y
CONFIG_PINCTRL_TANGIER=y
CONFIG_EXTCON_GPIO=y
CONFIG_IPMI_WATCHDOG=y
CONFIG_LEDS_OT200=y
CONFIG_VT=y
CONFIG_PARTITION_ADVANCED=y
CONFIG_INTERVAL_TREE_SPAN_ITER=y
CONFIG_PINCTRL_PFC_SH7786=y
CONFIG_MCHP_CLK_MPFS=y
CONFIG_SENSORS_POWERZ=y
CONFIG_PC104=y
CONFIG_SENSORS_ARM_SCPI=y
CONFIG_LOONGSON2_GUTS=y
CONFIG_XXHASH=y
CONFIG_IPACK_BUS=y
CONFIG_SENSORS_PXE1610=y
CONFIG_GPIO_ZYNQMP_MODEPIN=y
CONFIG_PCIE_VISCONTI_HOST=y
CONFIG_NLS_MAC_CROATIAN=y
CONFIG_QCOM_SCM=y
CONFIG_VIRTIO_PCI_LIB=y
CONFIG_SENSORS_RASPBERRYPI_HWMON=y
CONFIG_EROFS_FS_ZIP_ACCEL=y
CONFIG_CHR_DEV_SG=y
CONFIG_BUILDTIME_TABLE_SORT=y
CONFIG_PCI_KEYSTONE_TRISTATE=y
CONFIG_REGULATOR_RT4803=y
CONFIG_COMMON_CLK_LOONGSON2=y
CONFIG_INTEL_PUNIT_IPC=y
CONFIG_REGULATOR_QCOM_RPMH=y
CONFIG_CLK_BCM_CYGNUS=y
CONFIG_KEYBOARD_OPENCORES=y
CONFIG_INV_ICM45600_I3C=y
CONFIG_HAVE_ARCH_TRACEHOOK=y
CONFIG_CRYPTO_SKCIPHER=y
CONFIG_FB_BACKLIGHT=y
CONFIG_MFD_ATC260X=y
CONFIG_CLK_R8A7740=y
CONFIG_MFD_SUN4I_GPADC=y
CONFIG_FB_ARK=y
CONFIG_NVME_HOST_AUTH=y
CONFIG_VFIO_PLATFORM_BCMFLEXRM_RESET=y
CONFIG_CRYPTO_HASH2=y
CONFIG_MFD_MAX8998=y
CONFIG_CRYPTO_SIG2=y
CONFIG_I3C_OR_I2C=y
CONFIG_GPIO_ARIZONA=y
CONFIG_ARM_SUN8I_A33_MBUS_DEVFREQ=y
CONFIG_LEDS_PCA995X=y
CONFIG_ADFS_FS=y
CONFIG_CC_HAS_NO_PROFILE_FN_ATTR=y
CONFIG_AM2315=y
CONFIG_IA32_FEAT_CTL=y
CONFIG_FB_RADEON_I2C=y
CONFIG_COMMON_RESET_HI6220=y
CONFIG_IOMMU_PT_AMDV1=y
CONFIG_MAX31827=y
CONFIG_PCI_NPEM=y
CONFIG_IIO_SW_DEVICE=y
CONFIG_DEBUG_LIST=y
CONFIG_CRYPTO_AEGIS128_AESNI_SSE2=y
CONFIG_PATA_EFAR=y
CONFIG_MFD_MX25_TSADC=y
CONFIG_USB_XHCI_HISTB=y
CONFIG_CONTEXT_TRACKING_IDLE=y
CONFIG_ZLIB_DEFLATE=y
CONFIG_USB_ISP1301=y
CONFIG_CLK_RK3568=y
CONFIG_60XX_WDT=y
CONFIG_SUN50I_H6_R_CCU=y
CONFIG_REGULATOR_88PM8607=y
CONFIG_PCI_ECAM=y
CONFIG_MINIX_SUBPARTITION=y
CONFIG_TYPEC_MUX_PI3USB30532=y
CONFIG_COMMON_CLK_MT2712_VDECSYS=y
CONFIG_I2C_MUX_PCA9541=y
CONFIG_BACKLIGHT_QCOM_WLED=y
CONFIG_FORCE_TASKS_RCU=y
CONFIG_GPIO_QIXIS_FPGA=y
CONFIG_AS73211=y
CONFIG_IMX_SCMI_MISC_DRV=y
CONFIG_SERIO_PS2MULT=y
CONFIG_COMMON_CLK_MT8167=y
CONFIG_REGULATOR_PV88060=y
CONFIG_RDC321X_WDT=y
CONFIG_PM_DEVFREQ=y
CONFIG_IOSF_MBI=y
CONFIG_ROCKCHIP_MBOX=y
CONFIG_ACER_WIRELESS=y
CONFIG_ARCH_MEMORY_ORDER_TSO=y
CONFIG_SCSI_HISI_SAS=y
CONFIG_EP93XX_DMA=y
CONFIG_FB=y
CONFIG_PHY_QCOM_USB_HS=y
CONFIG_BMI088_ACCEL=y
CONFIG_X86_INTEL_MID=y
CONFIG_PINCTRL_PFC_R8A77960=y
CONFIG_RESET_BRCMSTB_RESCAL=y
CONFIG_RING_BUFFER_BENCHMARK=y
CONFIG_ARCH_SUPPORTS_KEXEC=y
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST_IDLE=y
CONFIG_JOLIET=y
CONFIG_PCMCIA=y
CONFIG_BLK_DEV_BSG_COMMON=y
CONFIG_PATA_CYPRESS=y
CONFIG_TWL6030_GPADC=y
CONFIG_GPIO_MPSSE=y
CONFIG_PCIPCWATCHDOG=y
CONFIG_LEGACY_PTYS=y
CONFIG_RTC_DRV_PCF85363=y
CONFIG_X86_DISABLED_FEATURE_CYRIX_ARR=y
CONFIG_TI_AM335X_ADC=y
CONFIG_SENSORS_LTC4283=y
CONFIG_GAMEPORT_EMU10K1=y
CONFIG_STM32_LPTIMER_CNT=y
CONFIG_COMMON_CLK_MT6779_VDECSYS=y
CONFIG_DECOMPRESS_GZIP=y
CONFIG_COMMON_CLK_HI655X=y
CONFIG_LINEAR_RANGES=y
CONFIG_RTC_DRV_RTD119X=y
CONFIG_MPRLS0025PA=y
CONFIG_MFD_TN48M_CPLD=y
CONFIG_CLK_R8A774C0=y
CONFIG_DEBUG_GPIO=y
CONFIG_ASM9260_TIMER=y
CONFIG_USB_XHCI_RCAR=y
CONFIG_MXC_CLK=y
CONFIG_BLK_DEV_BSG=y
CONFIG_HAVE_KVM_DIRTY_RING_ACQ_REL=y
CONFIG_GOLDFISH_PIPE=y
CONFIG_EFS_FS=y
CONFIG_ACPI_DPTF=y
CONFIG_INTEL_EHL_PSE_IO=y
CONFIG_RENESAS_WDT=y
CONFIG_CLK_HSDK=y
CONFIG_PHY_MMP3_USB=y
CONFIG_RTC_DRV_S5M=y
CONFIG_GPIO_MAX732X_IRQ=y
CONFIG_DMA_ENGINE=y
CONFIG_IBM_ASM=y
CONFIG_NLS_MAC_GREEK=y
CONFIG_MFD_SUN6I_PRCM=y
CONFIG_REGULATOR_MAX8952=y
CONFIG_GENERIC_IRQ_RESERVATION_MODE=y
CONFIG_SENSORS_LTC3815=y
CONFIG_RTC_HCTOSYS=y
CONFIG_SENSORS_HIH6130=y
CONFIG_SCSI_STEX=y
CONFIG_CC_HAS_ENTRY_PADDING=y
CONFIG_MEMBARRIER=y
CONFIG_COMMON_CLK_NUVOTON=y
CONFIG_MFD_MAX77541=y
CONFIG_ADXL367_I2C=y
CONFIG_COMMON_CLK_MT8186_VENCSYS=y
CONFIG_FUTEX_ROBUST_UNLOCK=y
CONFIG_KXSD9=y
CONFIG_COMMON_CLK_AST2700=y
CONFIG_ARM_SCMI_RAW_MODE_SUPPORT_COEX=y
CONFIG_KRETPROBE_ON_RETHOOK=y
CONFIG_ACORN_PARTITION_POWERTEC=y
CONFIG_ENCLOSURE_SERVICES=y
CONFIG_GENERIC_SMP_IDLE_THREAD=y
CONFIG_MMU_GATHER_TABLE_FREE=y
CONFIG_ARCH_HAS_KCOV=y
CONFIG_SENSORS_MP2891=y
CONFIG_I2C_ALI1563=y
CONFIG_NTB_SWITCHTEC=y
CONFIG_KVM_MMU_LOCKLESS_AGING=y
CONFIG_SENSORS_LM92=y
CONFIG_MFD_EXYNOS_LPASS=y
CONFIG_CRYPTO_LZ4=y
CONFIG_NLS_ISO8859_15=y
CONFIG_POWER_SEQUENCING=y
CONFIG_CLK_R8A77961=y
CONFIG_OSNOISE_TRACER=y
CONFIG_W1_SLAVE_THERM=y
CONFIG_SOPHGO_CV1800_RTCSYS=y
CONFIG_CHARGER_BQ256XX=y
CONFIG_GENERIC_IRQ_MATRIX_ALLOCATOR=y
CONFIG_FB_VOODOO1=y
CONFIG_ACPI_WMI_LEGACY_DEVICE_NAMES=y
CONFIG_ARCH_CORRECT_STACKTRACE_ON_KRETPROBE=y
CONFIG_GENERIC_ISA_DMA=y
CONFIG_PCIE_RCAR_GEN4=y
CONFIG_COMMON_CLK_MT8195_VPPSYS=y
CONFIG_COMMON_CLK_HI3519=y
CONFIG_PDC_ADMA=y
CONFIG_HAVE_ASM_MODVERSIONS=y
CONFIG_PHY_RTK_RTD_USB3PHY=y
CONFIG_K3_THERMAL=y
CONFIG_IPMI_KCS_BMC_CDEV_IPMI=y
CONFIG_LINEDISP=y
CONFIG_COMMON_CLK_MT2712_VENCSYS=y
CONFIG_KVFREE_RCU_BATCHED=y
CONFIG_HAVE_NOINSTR_HACK=y
CONFIG_SENSORS_UCD9200=y
CONFIG_WPCM450_SOC=y
CONFIG_QCOM_RPMH=y
CONFIG_CONTEXT_TRACKING_USER_FORCE=y
CONFIG_REGULATOR_ISL9305=y
CONFIG_SIGNALFD=y
CONFIG_COMMON_CLK_MT8188=y
CONFIG_PATA_FTIDE010=y
CONFIG_INGENIC_CGU_JZ4760=y
CONFIG_TIMER_PROBE=y
CONFIG_DMA_JZ4780=y
CONFIG_DA9055_WATCHDOG=y
CONFIG_QCOM_SPMI_ADC5=y
CONFIG_SATA_PROMISE=y
CONFIG_FB_S3C=y
CONFIG_SERIO_OLPC_APSP=y
CONFIG_REGULATOR_STM32_VREFBUF=y
CONFIG_I2C_RTL9300=y
CONFIG_KEYBOARD_QT2160=y
CONFIG_POWER_SUPPLY=y
CONFIG_RTC_DRV_MAX8907=y
CONFIG_COMMON_CLK=y
CONFIG_X86_X32_ABI=y
CONFIG_GPIO_AMD_FCH=y
CONFIG_CHROMEOS_ACPI=y
CONFIG_LEDS_NS2=y
CONFIG_PHY_ST_SPEAR1340_MIPHY=y
CONFIG_CLK_R8A77995=y
CONFIG_BCM_NS_THERMAL=y
CONFIG_THERMAL_GOV_STEP_WISE=y
CONFIG_COMMON_CLK_MT8192_IMP_IIC_WRAP=y
CONFIG_KEYBOARD_GPIO_POLLED=y
CONFIG_CRYPTO_AUTHENC=y
CONFIG_INGENIC_CGU_JZ4770=y
CONFIG_NAU7802=y
CONFIG_W1_MASTER_UART=y
CONFIG_HW_RANDOM_JH7110=y
CONFIG_PATA_HPT3X3=y
CONFIG_FB_I740=y
CONFIG_BOOT_CONFIG=y
CONFIG_IA32_EMULATION=y
CONFIG_USB_DWC3_GOOGLE=y
CONFIG_I2C_IMX=y
CONFIG_W1_SLAVE_DS250X=y
CONFIG_PCI_KEYSTONE_HOST=y
CONFIG_HAVE_ACPI_APEI=y
CONFIG_COMEDI_USBDUXFAST=y
CONFIG_HAS_IOPORT=y
CONFIG_ARM_DMA350=y
CONFIG_ADV_SWBUTTON=y
CONFIG_RCU_SCALE_TEST=y
CONFIG_BUFFER_HEAD=y
CONFIG_RTC_DRV_PCF2127=y
CONFIG_IRQ_SIM=y
CONFIG_COMEDI_PCL812=y
CONFIG_MOUSE_PS2_SYNAPTICS_SMBUS=y
CONFIG_HW_RANDOM_EXYNOS=y
CONFIG_FORTIFY_SOURCE=y
CONFIG_STACKTRACE_SUPPORT=y
CONFIG_BMC150_MAGN=y
CONFIG_QCOM_RPM_MASTER_STATS=y
CONFIG_GENERIC_IRQ_INJECTION=y
CONFIG_VCNL3020=y
CONFIG_EFI_HANDOVER_PROTOCOL=y
CONFIG_LAN966X_OIC=y
CONFIG_RCU_EQS_DEBUG=y
CONFIG_NVMEM_BRCM_NVRAM=y
CONFIG_HAVE_KVM_DIRTY_RING=y
CONFIG_SENSORS_SMSC47B397=y
CONFIG_I2C_MXS=y
CONFIG_CONTEXT_TRACKING_USER=y
CONFIG_RESET_CONTROLLER=y
CONFIG_MITIGATION_VMSCAPE=y
CONFIG_SENSORS_Q54SJ108A2=y
CONFIG_SUN6I_RTC_CCU=y
CONFIG_HAVE_ARCH_KMSAN=y
CONFIG_I2C_VIPERBOARD=y
CONFIG_GPIO_PCIE_IDIO_24=y
CONFIG_SUN8I_V3S_CCU=y
CONFIG_HWMON_DEBUG_CHIP=y
CONFIG_MFD_MAX77693=y
CONFIG_I2C_ASPEED=y
CONFIG_DEBUG_FORCE_WEAK_PER_CPU=y
CONFIG_F2FS_IOSTAT=y
CONFIG_MOUSE_SYNAPTICS_I2C=y
CONFIG_COMMON_CLK_STM32MP257=y
CONFIG_EXCLUSIVE_SYSTEM_RAM=y
CONFIG_COMMON_CLK_MT8186_IMGSYS=y
CONFIG_USB_XHCI_HCD=y
CONFIG_CLK_RENESAS_CPG_MSSR=y
CONFIG_PSTORE_CONSOLE=y
CONFIG_HTS221=y
CONFIG_DMA_FENCE_TRACE=y
CONFIG_LENOVO_WMI_HOTKEY_UTILITIES=y
CONFIG_ZLIB_INFLATE=y
CONFIG_TIMER_OF=y
CONFIG_SUN4I_A10_CCU=y
CONFIG_PCI_DIRECT=y
CONFIG_GPIO_PMIC_EIC_SPRD=y
CONFIG_X86_REQUIRED_FEATURE_XMM=y
CONFIG_FSL_MX25_ADC=y
CONFIG_CUSE=y
CONFIG_COMMON_RESET_HI3660=y
CONFIG_CRYPTO_SHA1=y
CONFIG_LEDS_EXPRESSWIRE=y
CONFIG_TSL2591=y
CONFIG_RTC_DRV_GOLDFISH=y
CONFIG_ISA_DMA_API=y
CONFIG_BALLOON=y
CONFIG_KVM_ASYNC_PF=y
CONFIG_JOYSTICK_XPAD=y
CONFIG_W1_SLAVE_DS2413=y
CONFIG_BCM_KONA_USB2_PHY=y
CONFIG_TYPEC_HD3SS3220=y
CONFIG_JOYSTICK_IFORCE_USB=y
CONFIG_ISA_BUS_API=y
CONFIG_COMMON_CLK_HI3516CV300=y
CONFIG_SENSORS_EMC1812=y
CONFIG_MFD_CGBC=y
CONFIG_ACPI_THERMAL_LIB=y
CONFIG_GPIO_MOCKUP=y
CONFIG_HAVE_KVM_IRQCHIP=y
CONFIG_BCM2835_TIMER=y
CONFIG_CC_HAS_ASM_INLINE=y
CONFIG_USB_EZUSB_FX2=y
CONFIG_SENSORS_LT3074=y
CONFIG_GPIO_EIC_SPRD=y
CONFIG_INPUT=y
CONFIG_BME680=y
CONFIG_MCP3422=y
CONFIG_TIFM_CORE=y
CONFIG_KEYBOARD_NEWTON=y
CONFIG_HP_WATCHDOG=y
CONFIG_SENSORS_PT5161L=y
CONFIG_I2C_MUX_MLXCPLD=y
CONFIG_I2C_AT91_SLAVE_EXPERIMENTAL=y
CONFIG_PXA_DMA=y
CONFIG_FB_CFB_IMAGEBLIT=y
CONFIG_ARCH_HAS_SET_DIRECT_MAP=y
CONFIG_HZ_1000=y
CONFIG_DEBUG_VM_IRQSOFF=y
CONFIG_USB_OHCI_LITTLE_ENDIAN=y
CONFIG_GPIO_LP3943=y
CONFIG_INSTRUCTION_DECODER=y
CONFIG_LEDS_MENF21BMC=y
CONFIG_SCD30_CORE=y
CONFIG_COMMON_CLK_MT8195_MFGCFG=y
CONFIG_X86_REQUIRED_FEATURE_ALWAYS=y
CONFIG_NVMEM_SPMI_SDAM=y
CONFIG_COMMON_CLK_MT8188_IMP_IIC_WRAP=y
CONFIG_USERIO=y
CONFIG_EROFS_FS=y
CONFIG_ASYNC_TX_ENABLE_CHANNEL_SWITCH=y
CONFIG_IOMMU_PT_RISCV64=y
CONFIG_QCOM_GSBI=y
CONFIG_GPIO_DS4520=y
CONFIG_COMEDI_DAS08=y
CONFIG_PREEMPT_BUILD=y
CONFIG_SPS30_SERIAL=y
CONFIG_SENSORS_ADC128D818=y
CONFIG_AL3320A=y
CONFIG_I2C_NFORCE2=y
CONFIG_RTC_DRV_RV3029_HWMON=y
CONFIG_HAVE_KVM_DIRTY_RING_TSO=y
CONFIG_ISCSI_IBFT=y
CONFIG_HAVE_KERNEL_GZIP=y
CONFIG_MEMORY=y
CONFIG_INGENIC_SYSOST=y
CONFIG_X86_DISABLED_FEATURE_RETPOLINE=y
CONFIG_W1_MASTER_MATROX=y
CONFIG_PNPACPI=y
CONFIG_OID_REGISTRY=y
CONFIG_SPMI_HISI3670=y
CONFIG_HAVE_PERF_USER_STACK_DUMP=y
CONFIG_GENERIC_MSI_IRQ=y
CONFIG_IMX_SCMI_BBM_EXT=y
CONFIG_RESET_QCOM_PDC=y
CONFIG_GPIO_LOONGSON_64BIT=y
CONFIG_USB_DWC2_TRACK_MISSED_SOFS=y
CONFIG_COMMON_CLK_IPROC=y
CONFIG_ARCH_HAS_NONLEAF_PMD_YOUNG=y
CONFIG_NMI_CHECK_CPU=y
CONFIG_DEBUG_VM_PGTABLE=y
CONFIG_ARCH_WANT_LD_ORPHAN_WARN=y
CONFIG_ROMFS_ON_BLOCK=y
CONFIG_COMMON_CLK_HI3559A=y
CONFIG_GIGABYTE_WMI=y
CONFIG_IE6XX_WDT=y
CONFIG_PATA_IT8213=y
CONFIG_COMEDI_MULTIQ3=y
CONFIG_SENSORS_DA9055=y
CONFIG_USB_MTU3=y
CONFIG_FB_SYSMEM_HELPERS_DEFERRED=y
CONFIG_RTC_DRV_STK17TA8=y
CONFIG_EXTCON_RT8973A=y
CONFIG_CLK_RK3368=y
CONFIG_REGULATOR_MT6359=y
CONFIG_REGULATOR_TPS6507X=y
CONFIG_AHCI_BRCM=y
CONFIG_MPU3050_I2C=y
CONFIG_I2C_STM32F7=y
CONFIG_I2C_CADENCE=y
CONFIG_SF_PDMA=y
CONFIG_CLK_EMEV2=y
CONFIG_BACKLIGHT_LV5207LP=y
CONFIG_RTC_DRV_MV=y
CONFIG_MFD_ENE_KB3930=y
CONFIG_HMC6352=y
CONFIG_CHARGER_BQ24735=y
