CONFIG_VIRT_XFER_TO_GUEST_WORK=y
CONFIG_CRYPTO_ZSTD=y
CONFIG_RTC_CLASS=y
CONFIG_SENSORS_MCP3021=y
CONFIG_TEST_MEMCAT_P=y
CONFIG_SPI_INTEL_PCI=y
CONFIG_MFD_INTEL_QUARK_I2C_GPIO=y
CONFIG_HAVE_FUNCTION_GRAPH_FREGS=y
CONFIG_SERIAL_LANTIQ=y
CONFIG_DMA_DECLARE_COHERENT=y
CONFIG_MMC_SDHCI_MILBEAUT=y
CONFIG_SGETMASK_SYSCALL=y
CONFIG_HAVE_KERNEL_GZIP=y
CONFIG_GENERIC_GETTIMEOFDAY=y
CONFIG_MICROCODE_INITRD32=y
CONFIG_CRYPTO_SERPENT=y
CONFIG_COMEDI_ADL_PCI7X3X=y
CONFIG_OF_MDIO=y
CONFIG_I2C_MUX=y
CONFIG_SENSORS_NCT6775_I2C=y
CONFIG_SENSORS_G762=y
CONFIG_LEDS_LP5562=y
CONFIG_USB4_CONFIGFS=y
CONFIG_TOUCHSCREEN_PIXCIR=y
CONFIG_MMU_NOTIFIER=y
CONFIG_PROVE_RAW_LOCK_NESTING=y
CONFIG_SERIAL_CONEXANT_DIGICOLOR=y
CONFIG_ARCH_USE_QUEUED_RWLOCKS=y
CONFIG_I2C_SIMTEC=y
CONFIG_RTC_DRV_DA9052=y
CONFIG_TERANETICS_PHY=y
CONFIG_SENSORS_MCP9982=y
CONFIG_ARCH_SUPPORTS_LTO_CLANG_THIN=y
CONFIG_PCIE_DW_HOST=y
CONFIG_I2C_MUX_GPMUX=y
CONFIG_ASYNC_RAID6_TEST=y
CONFIG_MTD_SST25L=y
CONFIG_FB_MB862XX_I2C=y
CONFIG_TEST_BITMAP=y
CONFIG_LEDS_TPS6131X=y
CONFIG_COMEDI_MPC624=y
CONFIG_SENSORS_PM6764TR=y
CONFIG_NLS_MAC_CENTEURO=y
CONFIG_WQ_WATCHDOG=y
CONFIG_CRYPTO_CBC=y
CONFIG_COMEDI_AMPLC_PC236_PCI=y
CONFIG_FB_NVIDIA_DEBUG=y
CONFIG_IRQ_FORCED_THREADING=y
CONFIG_ARCH_WANTS_NO_INSTR=y
CONFIG_FORTIFY_SOURCE=y
CONFIG_ARCH_HAS_STRICT_MODULE_RWX=y
CONFIG_LZ4HC_COMPRESS=y
CONFIG_MTD_SM_COMMON=y
CONFIG_NEED_PER_CPU_EMBED_FIRST_CHUNK=y
CONFIG_NET=y
CONFIG_JOYSTICK_PXRC=y
CONFIG_HAVE_ARCH_JUMP_LABEL=y
CONFIG_RTC_DRV_MC13XXX=y
CONFIG_CRYPTO_RSA=y
CONFIG_MTD_CFI_I2=y
CONFIG_RTC_DRV_CROS_EC=y
CONFIG_CRC16=y
CONFIG_MTD_COMPLEX_MAPPINGS=y
CONFIG_OF_EARLY_FLATTREE=y
CONFIG_PROC_FS=y
CONFIG_HAVE_ALIGNED_STRUCT_PAGE=y
CONFIG_VFIO_GROUP=y
CONFIG_TCM_PSCSI=y
CONFIG_PREEMPTION=y
CONFIG_FB_SYS_IMAGEBLIT=y
CONFIG_SENSORS_MP2888=y
CONFIG_MTD_MAP_BANK_WIDTH_4=y
CONFIG_BACKLIGHT_ARCXCNN=y
CONFIG_MHI_BUS=y
CONFIG_MTD_PHYSMAP_COMPAT=y
CONFIG_PINCTRL_CS47L92=y
CONFIG_NTFS_FS=y
CONFIG_SERIAL_SPRD=y
CONFIG_IKCONFIG_PROC=y
CONFIG_COMEDI_MULTIQ3=y
CONFIG_CRYPTO_DH=y
CONFIG_KVM_XEN=y
CONFIG_SENSORS_MP5023=y
CONFIG_PUNIT_ATOM_DEBUG=y
CONFIG_LEDS_MLXCPLD=y
CONFIG_LIBFDT=y
CONFIG_IO_URING_MOCK_FILE=y
CONFIG_SPI_SC18IS602=y
CONFIG_MTRR=y
CONFIG_COMEDI_PCL818=y
CONFIG_SCF_TORTURE_TEST=y
CONFIG_DM_DELAY=y
CONFIG_JOYSTICK_SENSEHAT=y
CONFIG_MMC_SDHCI_OF_ARASAN=y
CONFIG_EDAC_I7CORE=y
CONFIG_NLS_ISO8859_4=y
CONFIG_SENSORS_DS620=y
CONFIG_SECURITY_YAMA=y
CONFIG_MIPI_I3C_HCI=y
CONFIG_PCIE_CADENCE_PLAT=y
CONFIG_PTP_1588_CLOCK_OPTIONAL=y
CONFIG_GPIO_TANGIER=y
CONFIG_MFD_TI_LMU=y
CONFIG_OLD_SIGACTION=y
CONFIG_PINCTRL_MICROCHIP_SGPIO=y
CONFIG_LZ4_DECOMPRESS=y
CONFIG_X86_PLATFORM_DRIVERS_UNIWILL=y
CONFIG_HAVE_KVM_IRQCHIP=y
CONFIG_FW_UPLOAD=y
CONFIG_TOSHIBA=y
CONFIG_USB_SUPPORT=y
CONFIG_LEDS_TRIGGER_GPIO=y
CONFIG_FPGA_MGR_XILINX_SPI=y
CONFIG_INPUT=y
CONFIG_MEMTEST=y
CONFIG_FS_STACK=y
CONFIG_TYPEC=y
CONFIG_FSI_SCOM=y
CONFIG_MFD_LP3943=y
CONFIG_FSI_MASTER_ASPEED=y
CONFIG_USB_G_MULTI_CDC=y
CONFIG_COMEDI_ADV_PCI1710=y
CONFIG_PREEMPT_RT=y
CONFIG_JFFS2_RUBIN=y
CONFIG_CONNECTOR=y
CONFIG_CPU_IDLE_GOV_TEO=y
CONFIG_CRYPTO_HASH2=y
CONFIG_HAVE_CMPXCHG_LOCAL=y
CONFIG_ADFS_FS_RW=y
CONFIG_SENSORS_NCT6775_CORE=y
CONFIG_EDD_OFF=y
CONFIG_TRUSTED_KEYS_TEE=y
CONFIG_IRQ_DOMAIN=y
CONFIG_SMSC_PHY=y
CONFIG_RCU_STRICT_GRACE_PERIOD=y
CONFIG_MFD_DA9063=y
CONFIG_CGROUP_DMEM=y
CONFIG_PINCTRL_MCP23S08=y
CONFIG_SERIAL_JSM=y
CONFIG_SYSCTL_EXCEPTION_TRACE=y
CONFIG_FB_ATY_GX=y
CONFIG_LEDS_LM3532=y
CONFIG_SENSORS_LTC4222=y
CONFIG_CONFIGFS_FS=y
CONFIG_COMEDI_JR3_PCI=y
CONFIG_DM_ERA=y
CONFIG_SENSORS_MAX31790=y
CONFIG_RCU_SCALE_TEST=y
CONFIG_SERIAL_8250_CS=y
CONFIG_MTRR_SANITIZER=y
CONFIG_REGULATOR_ACT8865=y
CONFIG_EXTCON_MAX3355=y
CONFIG_X86_DISABLED_FEATURE_UNRET=y
CONFIG_SENSORS_LIS3_SPI=y
CONFIG_IKHEADERS=y
CONFIG_REGULATOR_PF9453=y
CONFIG_I2C_ALGOBIT=y
CONFIG_X86_CPA_STATISTICS=y
CONFIG_APDS9802ALS=y
CONFIG_VFIO_CONTAINER=y
CONFIG_IO_URING=y
CONFIG_XOR_BLOCKS_ARCH=y
CONFIG_MFD_AAT2870_CORE=y
CONFIG_XXHASH=y
CONFIG_ARCH_SUPPORTS_LTO_CLANG=y
CONFIG_ARCH_HAVE_EXTRA_ELF_NOTES=y
CONFIG_HAVE_MOD_ARCH_SPECIFIC=y
CONFIG_USB_PRINTER=y
CONFIG_ARCH_HAS_SET_MEMORY=y
CONFIG_FB_S3=y
CONFIG_I2C_VIAPRO=y
CONFIG_PPPOX=y
CONFIG_SCHED_OMIT_FRAME_POINTER=y
CONFIG_HAVE_KVM_PFNCACHE=y
CONFIG_NLS_CODEPAGE_775=y
CONFIG_GPIO_ML_IOH=y
CONFIG_INTEL_RAPL=y
CONFIG_JOYSTICK_JOYDUMP=y
CONFIG_GPIB_COMMON=y
CONFIG_PERCPU_STATS=y
CONFIG_SECURITY_LANDLOCK=y
CONFIG_RCU_DYNTICKS_TORTURE=y
CONFIG_NTFS_DEBUG=y
CONFIG_X86_ANCIENT_MCE=y
CONFIG_YENTA_TOSHIBA=y
CONFIG_STATIC_USERMODEHELPER=y
CONFIG_FUSION=y
CONFIG_TOUCHSCREEN_EDT_FT5X06=y
CONFIG_MD_RAID10=y
CONFIG_CHROME_PLATFORMS=y
CONFIG_KVM_AMD=y
CONFIG_RTC_DRV_CADENCE=y
CONFIG_ARCH_HAS_PREEMPT_LAZY=y
CONFIG_FB_IOMEM_HELPERS=y
CONFIG_DMA_SHARED_BUFFER=y
CONFIG_USB_OHCI_HCD_PLATFORM=y
CONFIG_USB_F_PHONET=y
CONFIG_842_DECOMPRESS=y
CONFIG_GENERIC_EARLY_IOREMAP=y
CONFIG_ARCH_WANT_IRQS_OFF_ACTIVATE_MM=y
CONFIG_HAVE_MIXED_BREAKPOINTS_REGS=y
CONFIG_USB_DWC3_GENERIC_PLAT=y
CONFIG_REGULATOR_RT5033=y
CONFIG_CGROUP_PIDS=y
CONFIG_CRYPTO_MD4=y
CONFIG_COMMON_CLK_VC3=y
CONFIG_SCSI_DH_ALUA=y
CONFIG_CLKEVT_I8253=y
CONFIG_DEBUG_LOCK_ALLOC=y
CONFIG_USB_CONFIGFS=y
CONFIG_TABLET_USB_HANWANG=y
CONFIG_NET_DEVMEM=y
CONFIG_HAVE_EXIT_THREAD=y
CONFIG_MEMFD_CREATE=y
CONFIG_FB_CFB_IMAGEBLIT=y
CONFIG_RTC_DRV_X1205=y
CONFIG_DEBUG_KMAP_LOCAL=y
CONFIG_COMEDI_DMM32AT=y
CONFIG_CHARGER_BQ24190=y
CONFIG_X86_REQUIRED_FEATURE_FPU=y
CONFIG_EXTCON_MAX14526=y
CONFIG_MCTP=y
CONFIG_CC_OPTIMIZE_FOR_SIZE=y
CONFIG_SCSI_SPI_ATTRS=y
CONFIG_CRYPTO_LIB_SHA512=y
CONFIG_MMC_CQHCI=y
CONFIG_MICROCODE=y
CONFIG_FUNCTION_ALIGNMENT_4B=y
CONFIG_KMAP_LOCAL=y
CONFIG_SENSORS_SPD5118=y
CONFIG_REGULATOR_MC13892=y
CONFIG_SENSORS_PECI_CPUTEMP=y
CONFIG_SILICOM_PLATFORM=y
CONFIG_VMGENID=y
CONFIG_BLK_DEV_BSGLIB=y
CONFIG_FB_TRIDENT=y
CONFIG_REGULATOR_TPS51632=y
CONFIG_MTD_SLRAM=y
CONFIG_ARCH_HAS_PTE_SPECIAL=y
CONFIG_EXCLUSIVE_SYSTEM_RAM=y
CONFIG_NOZOMI=y
CONFIG_USB_EHCI_HCD_PLATFORM=y
CONFIG_PDC_ADMA=y
CONFIG_LEDS_BLINKM=y
CONFIG_PCI_DEBUG=y
CONFIG_HAVE_RSEQ=y
CONFIG_REGULATOR_ROHM=y
CONFIG_SATA_AHCI_PLATFORM=y
CONFIG_REGULATOR_MAX8649=y
CONFIG_DM_MULTIPATH=y
CONFIG_FS_POSIX_ACL=y
CONFIG_HAVE_MOVE_PMD=y
CONFIG_CHARGER_MANAGER=y
CONFIG_QCOM_PMIC_PDCHARGER_ULOG=y
CONFIG_GPIO_XRA1403=y
CONFIG_PATA_OPTI=y
CONFIG_DEBUG_ATOMIC_LARGEST_ALIGN=y
CONFIG_ZLIB_INFLATE=y
CONFIG_KVM_VFIO=y
CONFIG_TOUCHSCREEN_SX8654=y
CONFIG_ARCH_MIGHT_HAVE_PC_PARPORT=y
CONFIG_MTD_NAND_DISKONCHIP_PROBE_ADVANCED=y
CONFIG_GPIB=y
CONFIG_USB_STORAGE_FREECOM=y
CONFIG_MTD_MAP_BANK_WIDTH_1=y
CONFIG_COMEDI_ADV_PCI1720=y
CONFIG_FB_ARC=y
CONFIG_X86_DISABLED_FEATURE_RETPOLINE_LFENCE=y
CONFIG_REGULATOR_MAX77802=y
CONFIG_EDAC_SUPPORT=y
CONFIG_HAVE_NMI=y
CONFIG_COMEDI_8255=y
CONFIG_SYSVIPC_SYSCTL=y
CONFIG_MTD_CFI_AMDSTD=y
CONFIG_MFD_CS47L85=y
CONFIG_LEDS_LM3530=y
CONFIG_RAID6_PQ_BENCHMARK=y
CONFIG_RTC_DRV_PCF8583=y
CONFIG_SENSORS_LTC2947=y
CONFIG_MCB_PCI=y
CONFIG_FS_IOMAP=y
CONFIG_HYPERVISOR_GUEST=y
CONFIG_HAVE_FUNCTION_GRAPH_TRACER=y
CONFIG_REGULATOR_AW37503=y
CONFIG_SENSORS_XDPE152=y
CONFIG_CRYPTO_XCBC=y
CONFIG_VIRT_DRIVERS=y
CONFIG_SENSORS_CRPS=y
CONFIG_VIRTUALIZATION=y
CONFIG_LEDS_SY7802=y
CONFIG_COMEDI_QUATECH_DAQP_CS=y
CONFIG_RENESAS_PHY=y
CONFIG_ARCH_HAS_MEM_ENCRYPT=y
CONFIG_PATA_CMD640_PCI=y
CONFIG_REGMAP_IRQ=y
CONFIG_SENSORS_ADM1026=y
CONFIG_NVME_CORE=y
CONFIG_SENSORS_LTC4283=y
CONFIG_LEDS_EXPRESSWIRE=y
CONFIG_HAVE_ARCH_JUMP_LABEL_RELATIVE=y
CONFIG_REGULATOR_PF530X=y
CONFIG_HAVE_SYSCALL_TRACEPOINTS=y
CONFIG_JOLIET=y
CONFIG_RTC_DRV_DA9063=y
CONFIG_ARCH_HAS_ELF_RANDOMIZE=y
CONFIG_USB_GADGET=y
CONFIG_HAVE_PERF_REGS=y
CONFIG_SPI_FSL_LIB=y
CONFIG_NVMEM_SYSFS=y
CONFIG_ATOMIC64_SELFTEST=y
CONFIG_COMEDI_NI_LABPC_ISADMA=y
CONFIG_BLK_CGROUP_IOPRIO=y
CONFIG_DECOMPRESS_LZO=y
CONFIG_MFD_TPS6594_I2C=y
CONFIG_FB_BACKLIGHT=y
CONFIG_USB_DWC3_HOST=y
CONFIG_USB_OTG_PRODUCTLIST=y
CONFIG_PHY_OCELOT_SERDES=y
CONFIG_FW_LOADER_PAGED_BUF=y
CONFIG_SENSORS_ADC128D818=y
CONFIG_FB_MATROX_MILLENIUM=y
CONFIG_ICPLUS_PHY=y
CONFIG_PPPOE=y
CONFIG_SERIAL_8250_PERICOM=y
CONFIG_NLS_ISO8859_2=y
CONFIG_CGROUPS=y
CONFIG_NO_HZ=y
CONFIG_BLK_CGROUP_IOLATENCY=y
CONFIG_X86_DISABLED_FEATURE_IBT=y
CONFIG_COMMON_CLK_CS2000_CP=y
CONFIG_I2C_ALI15X3=y
CONFIG_INPUT_JOYSTICK=y
CONFIG_LEDS_SGM3140=y
CONFIG_C101=y
CONFIG_CPU_SUP_TRANSMETA_32=y
CONFIG_SENSORS_MAX31760=y
CONFIG_GENERIC_BITREVERSE=y
CONFIG_MFD_WCD934X=y
CONFIG_SENSORS_MAX8688=y
CONFIG_RTC_DRV_FTRTC010=y
CONFIG_GPIB_INES=y
CONFIG_MERAKI_MX100=y
CONFIG_USB_GADGET_DEBUG=y
CONFIG_GPIO_POLARFIRE_SOC=y
CONFIG_SIOX=y
CONFIG_SENSORS_VT8231=y
CONFIG_HAVE_DMA_CONTIGUOUS=y
CONFIG_RTC_DRV_ISL1208=y
CONFIG_CC_HAS_NO_PROFILE_FN_ATTR=y
CONFIG_MFD_PF1550=y
CONFIG_RFKILL=y
CONFIG_REGULATOR_MAX77675=y
CONFIG_VFIO_VIRQFD=y
CONFIG_BALLOON=y
CONFIG_CEC_CORE=y
CONFIG_GENERIC_VDSO_OVERFLOW_PROTECT=y
CONFIG_SENSORS_ADCXX=y
CONFIG_AL_FIC=y
CONFIG_FB_PM3=y
CONFIG_SENSORS_INSPUR_IPSPS=y
CONFIG_PROC_EVENTS=y
CONFIG_MFD_AXP20X_I2C=y
CONFIG_GENERIC_PINCONF=y
CONFIG_X86_DISABLED_FEATURE_PTI=y
CONFIG_CRYPTO_KRB5ENC=y
CONFIG_NLS_CODEPAGE_737=y
CONFIG_RTC_DRV_S5M=y
CONFIG_CRYPTO_USER_API_SKCIPHER=y
CONFIG_REGULATOR_LTC3589=y
CONFIG_TOUCHSCREEN_HIMAX_HX83112B=y
CONFIG_HAVE_FUNCTION_ERROR_INJECTION=y
CONFIG_AD525X_DPOT=y
CONFIG_SENSORS_I5K_AMB=y
CONFIG_MDIO_BUS_MUX_GPIO=y
CONFIG_FW_CS_DSP=y
CONFIG_SQUASHFS_LZ4=y
CONFIG_CRYPTO_LIB_SHA256=y
CONFIG_SERIAL_PCH_UART=y
CONFIG_W1_MASTER_MATROX=y
CONFIG_PWRSEQ_SIMPLE=y
CONFIG_CRYPTO_LZ4=y
CONFIG_MFD_ATMEL_FLEXCOM=y
CONFIG_CHROMEOS_PSTORE=y
CONFIG_MFD_ATC260X_I2C=y
CONFIG_GPIO_MC33880=y
CONFIG_CB710_CORE=y
CONFIG_GPIO_GRGPIO=y
CONFIG_FB_IOMEM_FOPS=y
CONFIG_RAID6_PQ=y
CONFIG_LEDS_CPCAP=y
CONFIG_ALTERA_PR_IP_CORE_PLAT=y
CONFIG_MMU_GATHER_MERGE_VMAS=y
CONFIG_XILINX_SDFEC=y
CONFIG_ARCH_HAS_SYSCALL_WRAPPER=y
CONFIG_REGULATOR_RT4803=y
CONFIG_RD_XZ=y
CONFIG_LEDS_USER=y
CONFIG_DEBUG_VFS=y
CONFIG_SPI_MICROCHIP_CORE_QSPI=y
CONFIG_TOUCHSCREEN_WACOM_W9000=y
CONFIG_ACCESSIBILITY=y
CONFIG_PHYLIB_LEDS=y
CONFIG_SERIAL_8250_PCI=y
CONFIG_USB_CONFIGFS_PHONET=y
CONFIG_TWL6040_CORE=y
CONFIG_JOYSTICK_WARRIOR=y
CONFIG_SERIO=y
CONFIG_HAVE_GENERIC_VDSO=y
CONFIG_CHARGER_RT9467=y
CONFIG_KVM_COMMON=y
CONFIG_DEVFREQ_GOV_POWERSAVE=y
CONFIG_RFKILL_GPIO=y
CONFIG_TOUCHSCREEN_MAX11801=y
CONFIG_PAGE_EXTENSION=y
CONFIG_REGMAP_I2C=y
CONFIG_HAVE_KVM_DIRTY_RING_ACQ_REL=y
CONFIG_GPIO_TPS65912=y
CONFIG_FB_SYSMEM_HELPERS=y
CONFIG_CRYPTO_ECB=y
CONFIG_HAVE_KRETPROBES=y
CONFIG_GCC_ASM_GOTO_OUTPUT_BROKEN=y
CONFIG_TASKS_RCU_GENERIC=y
CONFIG_W1_CON=y
CONFIG_PPS_DEBUG=y
CONFIG_HAVE_DYNAMIC_FTRACE=y
CONFIG_PSE_SI3474=y
CONFIG_INTEL_MEI_TXE=y
CONFIG_OPTEE_STATIC_PROTMEM_POOL=y
CONFIG_PCI_PWRCTRL_GENERIC=y
CONFIG_SQUASHFS_4K_DEVBLK_SIZE=y
CONFIG_PINCTRL_OCELOT=y
CONFIG_BACKLIGHT_ADP8860=y
CONFIG_USB_SNP_CORE=y
CONFIG_RTC_DRV_PCF8523=y
CONFIG_LATTICE_ECP3_CONFIG=y
CONFIG_FPGA=y
CONFIG_HAVE_ARCH_KFENCE=y
CONFIG_PANIC_ON_OOPS=y
CONFIG_FAIL_FUNCTION=y
CONFIG_SERIAL_8250_PCI1XXXX=y
CONFIG_BATTERY_CHAGALL=y
CONFIG_MAC_EMUMOUSEBTN=y
CONFIG_TEE_DMABUF_HEAPS=y
CONFIG_REGULATOR_MAX77686=y
CONFIG_RTC_DRV_ABB5ZES3=y
CONFIG_HAVE_ARCH_PREL32_RELOCATIONS=y
CONFIG_BTRFS_FS_POSIX_ACL=y
CONFIG_IO_URING_BPF=y
CONFIG_VT=y
CONFIG_FORCE_NR_CPUS=y
CONFIG_PCI_PWRCTRL=y
CONFIG_SCREEN_INFO=y
CONFIG_BPF_JIT=y
CONFIG_WWAN=y
CONFIG_PAGE_COUNTER=y
CONFIG_X86=y
CONFIG_NLS_CODEPAGE_1250=y
CONFIG_CHARGER_MT6360=y
CONFIG_ARCH_HAS_GCOV_PROFILE_ALL=y
CONFIG_CRC_OPTIMIZATIONS=y
CONFIG_DWC_PCIE_PMU=y
CONFIG_FPGA_MGR_LATTICE_SYSCONFIG_SPI=y
CONFIG_CLOCKSOURCE_WATCHDOG=y
CONFIG_VFIO_NOIOMMU=y
CONFIG_NLATTR=y
CONFIG_SENSORS_MAX17616=y
CONFIG_USB_G_SERIAL=y
CONFIG_RTC_DRV_DS1307=y
CONFIG_X86_GOLDFISH=y
CONFIG_COMEDI_CB_PCIMDDA=y
CONFIG_W1_SLAVE_DS250X=y
CONFIG_SENSORS_TMP513=y
CONFIG_DEBUG_PLIST=y
CONFIG_SENSORS_G760A=y
CONFIG_HAVE_BUILDTIME_MCOUNT_SORT=y
CONFIG_REGULATOR_TPS62360=y
CONFIG_USB_STORAGE_ENE_UB6250=y
CONFIG_EVENTFD=y
CONFIG_ARCH_SUPPORTS_ACPI=y
CONFIG_NSC_GPIO=y
CONFIG_SCSI_FC_ATTRS=y
CONFIG_LEGACY_DIRECT_IO=y
CONFIG_DEBUG_PINCTRL=y
CONFIG_COMEDI_AMPLC_PC236=y
CONFIG_MDIO_IPQ8064=y
CONFIG_GPIO_VX855=y
CONFIG_DEVTMPFS=y
CONFIG_CHARGER_SMB347=y
CONFIG_ARCH_HAS_SYNC_CORE_BEFORE_USERMODE=y
CONFIG_HDLC_FR=y
CONFIG_KVM_GENERIC_PRE_FAULT_MEMORY=y
CONFIG_RC_CORE=y
CONFIG_BITREVERSE=y
CONFIG_LEDS_LP5812=y
CONFIG_WAN=y
CONFIG_NLS_MAC_INUIT=y
CONFIG_BLK_CGROUP=y
CONFIG_ARCH_CPUIDLE_HALTPOLL=y
CONFIG_HAVE_KERNEL_LZ4=y
CONFIG_OF_RECONFIG_NOTIFIER_ERROR_INJECT=y
