CONFIG_SPLIT_PMD_PTLOCKS=n
CONFIG_CLK_STARFIVE_JH7110_AON=n
CONFIG_USB_U_SERIAL=n
CONFIG_NET_VENDOR_SMSC=n
CONFIG_TTY=n
CONFIG_CRYPTO_LIB_AES=n
CONFIG_AF_UNIX_OOB=n
CONFIG_THERMAL_HWMON=n
CONFIG_PM_OPP=n
CONFIG_POLARFIRE_SOC_IRQ_MUX=n
CONFIG_SPACEMIT_CCU=n
CONFIG_ARCH_OPTIONAL_KERNEL_RWX_DEFAULT=n
CONFIG_XXHASH=n
CONFIG_INPUT_MOUSEDEV=n
CONFIG_UCS2_STRING=n
CONFIG_ARCH_HAS_MMIOWB=n
CONFIG_CRYPTO=n
CONFIG_IRQ_DOMAIN_HIERARCHY=n
CONFIG_DT_IDLE_GENPD=n
CONFIG_ACPI_DEBUG=n
CONFIG_NET_VENDOR_REALTEK=n
CONFIG_NET_DEVMEM=n
CONFIG_RCU_STALL_COMMON=n
CONFIG_USB_CDNS3_STARFIVE=n
CONFIG_VIRTIO_PCI_LEGACY=n
CONFIG_PTP_1588_CLOCK_OPTIONAL=n
CONFIG_DWMAC_SUN55I=n
CONFIG_NET_VENDOR_MYRI=n
CONFIG_NET_9P_VIRTIO=n
CONFIG_MMC_SDHCI_IO_ACCESSORS=n
CONFIG_CLK_THEAD_TH1520_AP=n
CONFIG_SPI_DYNAMIC=n
CONFIG_DEBUG_FS=n
CONFIG_GENERIC_CPU_VULNERABILITIES=n
CONFIG_CGROUP_NET_PRIO=n
CONFIG_NET_VENDOR_SIS=n
CONFIG_PINCTRL_SOPHGO_SG2000=n
CONFIG_SUNXI_WATCHDOG=n
CONFIG_HAVE_64BIT_ALIGNED_ACCESS=n
CONFIG_IOSCHED_BFQ=n
CONFIG_CPU_IDLE_GOV_MENU=n
CONFIG_RESET_POLARFIRE_SOC=n
CONFIG_ARCH_HAS_KERNEL_FPU_SUPPORT=n
CONFIG_SERIAL_CORE=n
CONFIG_INET=n
CONFIG_SECURITYFS=n
CONFIG_ARCH_MICROCHIP_POLARFIRE=n
CONFIG_OF_IRQ=n
CONFIG_MMC_DW_STARFIVE=n
CONFIG_RISCV_PMU=n
CONFIG_NFS_V3=n
CONFIG_TASKS_TRACE_RCU=n
CONFIG_HID=n
CONFIG_EXECMEM=n
CONFIG_GPIO_ACPI=n
CONFIG_NET_CORE=n
CONFIG_CC_NO_STRINGOP_OVERFLOW=n
CONFIG_HAVE_IRQ_TIME_ACCOUNTING=n
CONFIG_SUNRPC=n
CONFIG_CC_HAS_INT128=n
CONFIG_CC_HAVE_STACKPROTECTOR_TLS=n
CONFIG_BLK_CGROUP_RWSTAT=n
CONFIG_VIDEO=n
CONFIG_BINARY_PRINTF=n
CONFIG_ARCH_DEFAULT_CRASH_DUMP=n
CONFIG_NET_VENDOR_AGERE=n
CONFIG_DQL=n
CONFIG_HAVE_PERF_USER_STACK_DUMP=n
CONFIG_RISCV_ALTERNATIVE=n
CONFIG_SPI_SUN6I=n
CONFIG_MII=n
CONFIG_FS_STACK=n
CONFIG_CRYPTO_LIB_SHA256=n
CONFIG_SOCK_RX_QUEUE_MAPPING=n
CONFIG_EXTCON=n
CONFIG_RCU_TRACE=n
CONFIG_VIRTIO_BLK=n
CONFIG_VIDEO_V4L2_SUBDEV_API=n
CONFIG_RISCV_ISA_SUPM=n
CONFIG_SKB_EXTENSIONS=n
CONFIG_DRM_CLIENT=n
CONFIG_IO_URING_ZCRX=n
CONFIG_NET_VENDOR_I825XX=n
CONFIG_SYSCTL=n
CONFIG_NETFILTER_XT_MATCH_IPVS=n
CONFIG_PCI_MSI=n
CONFIG_RFS_ACCEL=n
CONFIG_RAID6_PQ_BENCHMARK=n
CONFIG_ERRATA_SIFIVE_CIP_453=n
CONFIG_CC_HAS_WORKING_NOSANITIZE_ADDRESS=n
CONFIG_DEVMEM=n
CONFIG_FB_SYS_FILLRECT=n
CONFIG_ARCH_ANDES=n
CONFIG_CPU_FREQ_DEFAULT_GOV_PERFORMANCE=n
CONFIG_GENERIC_SMP_IDLE_THREAD=n
CONFIG_FAT_FS=n
CONFIG_CLK_ANALOGBITS_WRPLL_CLN28HPC=n
CONFIG_CRYPTO_AKCIPHER=n
CONFIG_CRYPTO_CTR=n
CONFIG_TMPFS_XATTR=n
CONFIG_NET_VENDOR_SAMSUNG=n
CONFIG_HAVE_GIGANTIC_FOLIOS=n
CONFIG_ARCH_STARFIVE=n
CONFIG_ARCH_HAS_SYSCALL_WRAPPER=n
CONFIG_SERIAL_EARLYCON=n
CONFIG_CAN_CALC_BITTIMING=n
CONFIG_MEDIA_HIDE_ANCILLARY_SUBDRV=n
CONFIG_USB_F_SUBSET=n
CONFIG_MEDIA_SUPPORT=n
CONFIG_GENERIC_PHY_MIPI_DPHY=n
CONFIG_COMPACTION=n
CONFIG_NET_9P_FD=n
CONFIG_TRACING=n
CONFIG_HAVE_KERNEL_XZ=n
CONFIG_MTD_GEN_PROBE=n
CONFIG_DTC=n
CONFIG_ND_BTT=n
CONFIG_NET_VENDOR_STMICRO=n
CONFIG_IP_MULTICAST=n
CONFIG_GENERIC_IRQ_SHOW_LEVEL=n
CONFIG_NET_VENDOR_ROCKER=n
CONFIG_NET_VENDOR_8390=n
CONFIG_SND_JACK=n
CONFIG_CRYPTO_ECHAINIV=n
CONFIG_HAVE_CLK_PREPARE=n
CONFIG_DEVPORT=n
CONFIG_CLK_SIFIVE=n
CONFIG_SND_SPI=n
CONFIG_BLK_DEV_THROTTLING=n
CONFIG_IP_VS=n
CONFIG_REGMAP_IRQ=n
CONFIG_DRM_CLIENT_SETUP=n
CONFIG_HID_GENERIC=n
CONFIG_MOUSE_PS2_SMBUS=n
CONFIG_HAVE_REGS_AND_STACK_ACCESS_API=n
CONFIG_LIBFDT=n
CONFIG_UTS_NS=n
CONFIG_IRQ_WORK=n
CONFIG_GPIOLIB_IRQCHIP=n
CONFIG_MMP_PDMA=n
CONFIG_SCHED_INFO=n
CONFIG_MFD_SIMPLE_MFD_I2C=n
CONFIG_DMA_DECLARE_COHERENT=n
CONFIG_DUMMY_CONSOLE=n
CONFIG_CRYPTO_MANAGER2=n
CONFIG_FB_IOMEM_HELPERS=n
CONFIG_NET_VENDOR_SOLARFLARE=n
CONFIG_ACPI_FAN=n
CONFIG_DRM_PANEL_BRIDGE=n
CONFIG_INTEGRITY=n
CONFIG_USB_CONFIGFS=n
CONFIG_RD_LZO=n
CONFIG_HW_RANDOM_JH7110=n
CONFIG_CPUFREQ_DT_PLATDEV=n
CONFIG_NET_SELFTESTS=n
CONFIG_GENERIC_STRNCPY_FROM_USER=n
CONFIG_ARCH_SUPPORTS_CFI=n
CONFIG_LEGACY_TIOCSTI=n
CONFIG_SECRETMEM=n
CONFIG_OF_MDIO=n
CONFIG_CRYPTO_ALGAPI=n
CONFIG_SPACEMIT_K1_EMAC=n
CONFIG_HAVE_RSEQ=n
CONFIG_RPS=n
CONFIG_HAVE_GCC_PLUGINS=n
CONFIG_MFD_AXP20X=n
CONFIG_BINFMT_SCRIPT=n
CONFIG_DRM_PANEL=n
CONFIG_DMA_SHARED_BUFFER=n
CONFIG_RISCV_PROBE_UNALIGNED_ACCESS=n
CONFIG_HAVE_KPROBES=n
CONFIG_DIMLIB=n
CONFIG_PREEMPT_COUNT=n
CONFIG_IP_PNP_DHCP=n
CONFIG_NETFILTER_FAMILY_BRIDGE=n
CONFIG_LTO_NONE=n
CONFIG_BPF_SYSCALL=n
CONFIG_RD_BZIP2=n
CONFIG_ARCH_HAS_CURRENT_STACK_POINTER=n
CONFIG_RISCV_RPMI_SYSMSI=n
CONFIG_SECURITY_APPARMOR_INTROSPECT_POLICY=n
CONFIG_HAVE_ARCH_JUMP_LABEL_RELATIVE=n
CONFIG_HAVE_ARCH_AUDITSYSCALL=n
CONFIG_NET_VENDOR_SUN=n
CONFIG_SYMBOLIC_ERRNAME=n
CONFIG_VIRTIO_ANCHOR=n
CONFIG_XZ_DEC_BCJ=n
CONFIG_EXT4_FS_SECURITY=n
CONFIG_NETLINK_DIAG=n
CONFIG_EFI_EARLYCON=n
CONFIG_NET_VENDOR_HUAWEI=n
CONFIG_HAVE_MOVE_PUD=n
CONFIG_CAN_NETLINK=n
CONFIG_MD=n
CONFIG_RISCV_ISA_ZAWRS=n
CONFIG_OF_PMEM=n
CONFIG_PHY_STARFIVE_JH7110_USB=n
CONFIG_DW_AXI_DMAC=n
CONFIG_GENERIC_STRNLEN_USER=n
CONFIG_PCI_DOMAINS=n
CONFIG_DEVFREQ_THERMAL=n
CONFIG_HAVE_ARCH_MMAP_RND_COMPAT_BITS=n
CONFIG_NVME_CORE=n
CONFIG_USB_CDNS3_HOST=n
CONFIG_BRIDGE=n
CONFIG_EDAC_SUPPORT=n
CONFIG_DMA_DIRECT_REMAP=n
CONFIG_REGMAP=n
CONFIG_GPIO_CDEV=n
CONFIG_ARCH_SUPPORTS_ATOMIC_RMW=n
CONFIG_ARCH_TENSTORRENT=n
CONFIG_CRYPTO_KPP2=n
CONFIG_QUEUED_RWLOCKS=n
CONFIG_RAID6_PQ_ARCH=n
CONFIG_FB_CFB_IMAGEBLIT=n
CONFIG_USB_SUPPORT=n
CONFIG_GENERIC_BUG_RELATIVE_POINTERS=n
CONFIG_FWNODE_MDIO=n
CONFIG_STACKTRACE_SUPPORT=n
CONFIG_AUXILIARY_BUS=n
CONFIG_DRM_SCHED=n
CONFIG_NLS=n
CONFIG_HAVE_CONTEXT_TRACKING_USER=n
CONFIG_ARCH_WANT_FRAME_POINTERS=n
CONFIG_LINEAR_RANGES=n
CONFIG_ACPI_PROCESSOR_IDLE=n
CONFIG_LOCKD=n
CONFIG_TIMERFD=n
CONFIG_USB_CONFIGFS_NCM=n
CONFIG_BLK_MQ_STACKING=n
CONFIG_NET_INGRESS=n
CONFIG_HAVE_FUNCTION_ERROR_INJECTION=n
CONFIG_ATA_ACPI=n
CONFIG_TRACEFS_AUTOMOUNT_DEPRECATED=n
CONFIG_POSIX_MQUEUE=n
CONFIG_FB_DEVICE=n
CONFIG_ZSTD_COMMON=n
CONFIG_NET_VENDOR_MUCSE=n
CONFIG_INET_TCP_DIAG=n
CONFIG_USB_COMMON=n
CONFIG_NET_L3_MASTER_DEV=n
CONFIG_NFS_COMMON=n
CONFIG_REGULATOR_SPACEMIT_P1=n
CONFIG_NET_VENDOR_SPACEMIT=n
CONFIG_OF_EARLY_FLATTREE=n
CONFIG_GROUP_SCHED_BANDWIDTH=n
CONFIG_INTERVAL_TREE=n
CONFIG_RTC_NVMEM=n
CONFIG_BFQ_GROUP_IOSCHED=n
CONFIG_UNION_FIND=n
CONFIG_BLK_DEV_WRITE_MOUNTED=n
CONFIG_CONTEXT_TRACKING_IDLE=n
CONFIG_HAVE_ARCH_BITREVERSE=n
CONFIG_USER_STACKTRACE_SUPPORT=n
CONFIG_NET_HANDSHAKE=n
CONFIG_THERMAL=n
CONFIG_OVERLAY_FS_REDIRECT_ALWAYS_FOLLOW=n
CONFIG_PRINTK=n
CONFIG_PINCTRL_STARFIVE_JH7110_AON=n
CONFIG_NETFS_SUPPORT=n
CONFIG_DMA_BOUNCE_UNALIGNED_KMALLOC=n
CONFIG_NET_FLOW_LIMIT=n
CONFIG_POWER_SUPPLY_HWMON=n
CONFIG_DEBUG_MISC=n
CONFIG_RISCV_ISA_ZACAS=n
CONFIG_NET_VENDOR_INTEL=n
CONFIG_INPUT=n
CONFIG_RISCV_PMU_LEGACY=n
CONFIG_BRIDGE_VLAN_FILTERING=n
CONFIG_PWRSEQ_SIMPLE=n
CONFIG_DRM_NOUVEAU_CH7006=n
CONFIG_SND_SOC=n
CONFIG_LOCKDEP_SUPPORT=n
CONFIG_NVMEM_SYSFS=n
CONFIG_RWSEM_SPIN_ON_OWNER=n
CONFIG_HAVE_KERNEL_GZIP=n
CONFIG_ERRATA_THEAD_PMU=n
CONFIG_RATIONAL=n
CONFIG_NFS_V4_SECURITY_LABEL=n
CONFIG_OVERLAY_FS=n
CONFIG_NET_VENDOR_LITEX=n
CONFIG_SND_SOC_JH7110_PWMDAC=n
CONFIG_BQL=n
CONFIG_SERIO_SERPORT=n
CONFIG_NET_XGRESS=n
CONFIG_MEMCG=n
CONFIG_CC_HAS_ASM_INLINE=n
CONFIG_CLKSRC_MMIO=n
CONFIG_COMMON_CLK_EIC7700=n
CONFIG_BLK_DEV_PMEM=n
CONFIG_RISCV_ISA_VENDOR_EXT_MIPS=n
CONFIG_NF_DEFRAG_IPV4=n
CONFIG_IKCONFIG=n
CONFIG_NET_VENDOR_SOCIONEXT=n
CONFIG_USB_DEFAULT_PERSIST=n
CONFIG_IOMMU_API=n
CONFIG_RISCV_APLIC_MSI=n
CONFIG_MOUSE_PS2_FOCALTECH=n
CONFIG_VDSO_GETRANDOM=n
CONFIG_SPLIT_PTE_PTLOCKS=n
