CONFIG_CRYPTO_SIG2=n
CONFIG_MQ_IOSCHED_KYBER=n
CONFIG_NET_VENDOR_MYRI=n
CONFIG_ZLIB_INFLATE=n
CONFIG_HAVE_STATIC_CALL=n
CONFIG_CROSS_MEMORY_ATTACH=n
CONFIG_HAVE_STACKPROTECTOR=n
CONFIG_X86_REQUIRED_FEATURE_PGE=n
CONFIG_SKB_EXTENSIONS=n
CONFIG_ASYMMETRIC_PUBLIC_KEY_SUBTYPE=n
CONFIG_DRM_TTM=n
CONFIG_RTC_MC146818_LIB=n
CONFIG_MITIGATION_SRBDS=n
CONFIG_VIRTIO_NET=n
CONFIG_DRM_PANEL=n
CONFIG_TOOLS_SUPPORT_RELR=n
CONFIG_WATCHDOG_HANDLE_BOOT_ENABLED=n
CONFIG_X86_EXTENDED_PLATFORM=n
CONFIG_CRYPTO_LIB_SHA512=n
CONFIG_BLK_DEV_BSG=n
CONFIG_VMAP_PFN=n
CONFIG_ARCH_HIBERNATION_HEADER=n
CONFIG_HAVE_ARCH_MMAP_RND_BITS=n
CONFIG_ATA_ACPI=n
CONFIG_TRACING=n
CONFIG_PAGE_COUNTER=n
CONFIG_MUTEX_SPIN_ON_OWNER=n
CONFIG_ARCH_USES_HIGH_VMA_FLAGS=n
CONFIG_HAVE_ALIGNED_STRUCT_PAGE=n
CONFIG_ATA_VERBOSE_ERROR=n
CONFIG_INITRAMFS_PRESERVE_MTIME=n
CONFIG_NET_VENDOR_MELLANOX=n
CONFIG_CRYPTO_AEAD=n
CONFIG_WLAN_VENDOR_PURELIFI=n
CONFIG_DEBUG_WX=n
CONFIG_SERIAL_8250_PCILIB=n
CONFIG_HAVE_KPROBES=n
CONFIG_EPOLL=n
CONFIG_CFG80211=n
CONFIG_SERIAL_8250_RSA=n
CONFIG_LEDS_CLASS=n
CONFIG_NET_VENDOR_BROCADE=n
CONFIG_EFI_STUB=n
CONFIG_SATA_PMP=n
CONFIG_BLK_CGROUP_IOPRIO=n
CONFIG_CRYPTO_LIB_SHA1=n
CONFIG_HID_NTRIG=n
CONFIG_KPROBE_EVENTS=n
CONFIG_PHY_PACKAGE=n
CONFIG_ARCH_VMLINUX_NEEDS_RELOCS=n
CONFIG_SCHED_HRTICK=n
CONFIG_ARCH_HAS_NMI_SAFE_THIS_CPU_OPS=n
CONFIG_DMI=n
CONFIG_X86_REQUIRED_FEATURE_NOPL=n
CONFIG_LEDS_TRIGGERS=n
CONFIG_X86_SUPPORTS_MEMORY_FAILURE=n
CONFIG_PAGE_SIZE_LESS_THAN_64KB=n
CONFIG_NET_HANDSHAKE=n
CONFIG_SCHED_MC=n
CONFIG_BLK_DEBUG_FS=n
CONFIG_NEED_PER_CPU_EMBED_FIRST_CHUNK=n
CONFIG_SND_SEQUENCER=n
CONFIG_CRYPTO_GCM=n
CONFIG_NETFILTER_XT_TARGET_TCPMSS=n
CONFIG_WLAN=n
CONFIG_MOUSE_PS2_LIFEBOOK=n
CONFIG_HAVE_OPTPROBES=n
CONFIG_HAVE_NOINSTR_VALIDATION=n
CONFIG_HAVE_FUNCTION_TRACER=n
CONFIG_SND_HDA_I915=n
CONFIG_HID_GENERIC=n
CONFIG_ATA_FORCE=n
CONFIG_NETFILTER_XT_MATCH_POLICY=n
CONFIG_CPU_FREQ_DEFAULT_GOV_USERSPACE=n
CONFIG_BQL=n
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_ARGS=n
CONFIG_MODULE_FORCE_UNLOAD=n
CONFIG_PROVIDE_OHCI1394_DMA_INIT=n
CONFIG_NET_VENDOR_3COM=n
CONFIG_PCMCIA_LOAD_CIS=n
CONFIG_PNP=n
CONFIG_NET_VENDOR_LITEX=n
CONFIG_FIRMWARE_MEMMAP=n
CONFIG_MODULES=n
CONFIG_AIO=n
CONFIG_AGP_AMD64=n
CONFIG_CRC16=n
CONFIG_MOUSE_PS2_BYD=n
CONFIG_PREEMPT_DYNAMIC=n
CONFIG_NFS_V4=n
CONFIG_CC_NO_STRINGOP_OVERFLOW=n
CONFIG_X86_REROUTE_FOR_BROKEN_BOOT_IRQS=n
CONFIG_X86_CHECK_BIOS_CORRUPTION=n
CONFIG_SYSVIPC=n
CONFIG_MSDOS_PARTITION=n
CONFIG_TIMERFD=n
CONFIG_MAGIC_SYSRQ_SERIAL=n
CONFIG_NET_EGRESS=n
CONFIG_HAVE_SOFTIRQ_ON_OWN_STACK=n
CONFIG_RPCSEC_GSS_KRB5=n
CONFIG_ARCH_CLOCKSOURCE_INIT=n
CONFIG_NET_IP_TUNNEL=n
CONFIG_CC_HAS_KASAN_GENERIC=n
CONFIG_SERIO_I8042=n
CONFIG_MITIGATION_TSA=n
CONFIG_AF_UNIX_OOB=n
CONFIG_HAVE_ARCH_WITHIN_STACK_FRAMES=n
CONFIG_HAVE_ACPI_APEI_NMI=n
CONFIG_POWER_SUPPLY=n
CONFIG_PNPACPI=n
CONFIG_PM_TRACE=n
CONFIG_ARCH_USES_PG_ARCH_2=n
CONFIG_MOUSE_PS2_LOGIPS2PP=n
CONFIG_ARCH_SUPPORTS_LTO_CLANG=n
CONFIG_ARCH_HAS_CPU_FINALIZE_INIT=n
CONFIG_HAVE_ARCH_VMAP_STACK=n
CONFIG_SCSI_DMA=n
CONFIG_HAVE_KERNEL_ZSTD=n
CONFIG_LD_IS_BFD=n
CONFIG_ARCH_SUPPORTS_KEXEC_SIG_FORCE=n
CONFIG_IRQ_REMAP=n
CONFIG_FUTEX_PRIVATE_HASH=n
CONFIG_HID_SUNPLUS=n
CONFIG_INPUT_MISC=n
CONFIG_HAVE_HW_BREAKPOINT=n
CONFIG_CRYPTO_CCM=n
CONFIG_CGROUP_FREEZER=n
CONFIG_TMPFS_XATTR=n
CONFIG_BLK_DEV_LOOP=n
CONFIG_ARCH_HAS_ELF_RANDOMIZE=n
CONFIG_HAVE_JUMP_LABEL_HACK=n
CONFIG_CRYPTO_LIB_SHA256_ARCH=n
CONFIG_ARCH_SUPPORTS_CRASH_HOTPLUG=n
CONFIG_ARCH_MEMORY_ORDER_TSO=n
CONFIG_XFRM_ALGO=n
CONFIG_VIDEO=n
CONFIG_ACPI_LEGACY_TABLES_LOOKUP=n
CONFIG_RWSEM_SPIN_ON_OWNER=n
CONFIG_WLAN_VENDOR_MEDIATEK=n
CONFIG_X86_DISABLED_FEATURE_SGX=n
CONFIG_X86_DISABLED_FEATURE_USER_SHSTK=n
CONFIG_RANDSTRUCT_NONE=n
CONFIG_KERNFS=n
CONFIG_PCIEPORTBUS=n
CONFIG_NET_VENDOR_SYNOPSYS=n
CONFIG_LOCK_SPIN_ON_OWNER=n
CONFIG_ARCH_WANT_LD_ORPHAN_WARN=n
CONFIG_DRM_GEM_SHMEM_HELPER=n
CONFIG_ARCH_SUPPORTS_CFI=n
CONFIG_ACPI_THERMAL=n
CONFIG_GRACE_PERIOD=n
CONFIG_HAVE_MOD_ARCH_SPECIFIC=n
CONFIG_USB_HID=n
CONFIG_SERIO=n
CONFIG_ARCH_HAS_GCOV_PROFILE_ALL=n
CONFIG_CRYPTO_KRB5ENC=n
CONFIG_CRYPTO_CAMELLIA=n
CONFIG_DECOMPRESS_GZIP=n
CONFIG_DEBUG_FS_ALLOW_ALL=n
CONFIG_IPC_NS=n
CONFIG_XFRM_AH=n
CONFIG_INTEL_MEI=n
CONFIG_CPU_IDLE_GOV_MENU=n
CONFIG_TASKS_TRACE_RCU=n
CONFIG_NETCONSOLE=n
CONFIG_BLOCK=n
CONFIG_ARCH_HAS_DEBUG_VIRTUAL=n
CONFIG_HAVE_PCI=n
CONFIG_SND_HWDEP=n
CONFIG_MMU_GATHER_MERGE_VMAS=n
CONFIG_ARCH_HAS_GENERIC_CRASHKERNEL_RESERVATION=n
CONFIG_IP_PIMSM_V2=n
CONFIG_FONT_SUPPORT=n
CONFIG_DRM_DISPLAY_DSC_HELPER=n
CONFIG_MTRR=n
CONFIG_UNION_FIND=n
CONFIG_PCI_PASID=n
CONFIG_SCHED_OMIT_FRAME_POINTER=n
CONFIG_MACINTOSH_DRIVERS=n
CONFIG_ARCH_SUPPORTS_KEXEC_BZIMAGE_VERIFY_SIG=n
CONFIG_NETFILTER_XT_MATCH_STATE=n
CONFIG_CPU_MITIGATIONS=n
CONFIG_RELOCATABLE=n
CONFIG_CHECK_SIGNATURE=n
CONFIG_SND_HDA_COMPONENT=n
CONFIG_SERIAL_CORE_CONSOLE=n
CONFIG_PHYLIB=n
CONFIG_CRYPTO_LIB_SHA256=n
CONFIG_ARCH_HAS_MEMBARRIER_SYNC_CORE=n
CONFIG_EXPORTFS=n
CONFIG_HAVE_PV_STEAL_CLOCK_GEN=n
CONFIG_HAVE_DYNAMIC_FTRACE_NO_PATCHABLE=n
CONFIG_VT_CONSOLE_SLEEP=n
CONFIG_X86_REQUIRED_FEATURE_MSR=n
CONFIG_VHOST_ENABLE_FORK_OWNER_CONTROL=n
CONFIG_X86_PLATFORM_DEVICES=n
CONFIG_NET_VENDOR_QLOGIC=n
CONFIG_GCC_ASM_GOTO_OUTPUT_BROKEN=n
CONFIG_HAVE_FUTEX_ROBUST_UNLOCK=n
CONFIG_HID_GYRATION=n
CONFIG_DNS_RESOLVER=n
CONFIG_YENTA_ENE_TUNE=n
CONFIG_DEBUG_INFO_NONE=n
CONFIG_PCI_PRI=n
CONFIG_LOCK_MM_AND_FIND_VMA=n
CONFIG_NAMESPACES=n
CONFIG_RFKILL=n
CONFIG_PM=n
CONFIG_PCI_DIRECT=n
CONFIG_XFRM_USER=n
CONFIG_ARCH_HAS_PARANOID_L1D_FLUSH=n
CONFIG_NO_HZ=n
CONFIG_CPU_SUP_INTEL=n
CONFIG_SOCK_RX_QUEUE_MAPPING=n
CONFIG_USB_UHCI_HCD=n
CONFIG_HVC_DRIVER=n
CONFIG_X86_MSR=n
CONFIG_8139TOO=n
CONFIG_GENERIC_STRNCPY_FROM_USER=n
CONFIG_FSNOTIFY=n
CONFIG_INTEGRITY_AUDIT=n
CONFIG_PCI_MMCONFIG=n
CONFIG_CRYPTO_LIB_GF128HASH=n
CONFIG_GENERIC_BITREVERSE=n
CONFIG_NF_CONNTRACK_SIP=n
CONFIG_I2C_ALGOBIT=n
CONFIG_ARCH_WANT_OLD_COMPAT_IPC=n
CONFIG_X86_BUS_LOCK_DETECT=n
CONFIG_GENERIC_TRACER=n
CONFIG_SECCOMP_FILTER=n
CONFIG_GENERIC_NET_UTILS=n
CONFIG_HAS_IOPORT_MAP=n
CONFIG_IOMMU_IOVA=n
CONFIG_SYSVIPC_SYSCTL=n
CONFIG_CC_HAS_INT128=n
CONFIG_ATA_PIIX=n
CONFIG_EXT4_FS=n
CONFIG_X86_REQUIRED_FEATURE_CX8=n
CONFIG_CC_NO_ARRAY_BOUNDS=n
CONFIG_IOMMU_IOPF=n
CONFIG_SERIAL_8250_MANY_PORTS=n
CONFIG_ACPI_BUTTON=n
CONFIG_NET_RX_BUSY_POLL=n
CONFIG_MD=n
CONFIG_MAC80211_RC_MINSTREL=n
CONFIG_MICROCODE=n
CONFIG_CC_HAS_IBT=n
CONFIG_PM_DEBUG=n
CONFIG_ARCH_HAS_ADD_PAGES=n
CONFIG_TASKS_RCU_GENERIC=n
CONFIG_X86_PM_TIMER=n
CONFIG_FUTEX_ROBUST_UNLOCK=n
CONFIG_HAVE_SAMPLE_FTRACE_DIRECT_MULTI=n
CONFIG_SUNRPC_BACKCHANNEL=n
CONFIG_POSIX_TIMERS=n
CONFIG_CFG80211_REQUIRE_SIGNED_REGDB=n
CONFIG_BUFFER_HEAD=n
CONFIG_RSEQ=n
CONFIG_X86_REQUIRED_FEATURE_SYSFAST32=n
CONFIG_NFS_V3_ACL=n
CONFIG_SERIO_SERPORT=n
CONFIG_ARCH_SUPPORTS_SCHED_MC=n
CONFIG_USB_PCI=n
CONFIG_MOUSE_PS2_SMBUS=n
CONFIG_X86_THERMAL_VECTOR=n
CONFIG_ZSTD_DECOMPRESS=n
CONFIG_USB_MON=n
CONFIG_IP_MULTICAST=n
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO_BARE=n
CONFIG_VIRTIO_PCI_ADMIN_LEGACY=n
CONFIG_SND_JACK_INPUT_DEV=n
CONFIG_GENERIC_CLOCKEVENTS_COUPLED=n
CONFIG_FUTEX_MPOL=n
CONFIG_ACPI_NHLT=n
CONFIG_DRM_I915_USERPTR=n
CONFIG_SECURITY=n
CONFIG_KEYS=n
CONFIG_FONT_AUTOSELECT=n
CONFIG_CPU_IDLE=n
CONFIG_CPU_FREQ_GOV_SCHEDUTIL=n
CONFIG_SECURITY_SELINUX_DEVELOP=n
CONFIG_HAVE_ARCH_HUGE_VMALLOC=n
CONFIG_STACKPROTECTOR=n
CONFIG_DMA_OPS_HELPERS=n
CONFIG_WLAN_VENDOR_RSI=n
CONFIG_DECOMPRESS_LZO=n
CONFIG_HARDLOCKUP_CHECK_TIMESTAMP=n
CONFIG_SERIAL_8250_PCI=n
CONFIG_RFKILL_LEDS=n
CONFIG_TRACING_SUPPORT=n
CONFIG_ELF_CORE=n
CONFIG_MITIGATION_UNRET_ENTRY=n
CONFIG_VIRTIO=n
CONFIG_SYSTEM_DATA_VERIFICATION=n
CONFIG_ARCH_WANT_OPTIMIZE_HUGETLB_VMEMMAP=n
CONFIG_USB_XHCI_PCI=n
CONFIG_X86_INTEL_TSX_MODE_AUTO=n
CONFIG_ACPI_WMI=n
CONFIG_WMI_BMOF=n
CONFIG_GENERIC_CMOS_UPDATE=n
