CONFIG_COMMON_CLK_VC3=y
CONFIG_IIO_TRIGGER=y
CONFIG_CRYPTO_LIB_CHACHA_ARCH=y
CONFIG_ALTERA_PR_IP_CORE_PLAT=y
CONFIG_HMC425=y
CONFIG_ACPI_PFRUT=y
CONFIG_SX9324=y
CONFIG_ARCH_HAS_RESET_CONTROLLER=y
CONFIG_GROUP_SCHED_WEIGHT=y
CONFIG_MHI_BUS_EP=y
CONFIG_CPU_PM=y
CONFIG_HW_RANDOM_AIROHA=y
CONFIG_APDS9306=y
CONFIG_VM_EVENT_COUNTERS=y
CONFIG_PHYS_ADDR_T_64BIT=y
CONFIG_IIO_BUFFER_CB=y
CONFIG_CRYPTO_CTR=y
CONFIG_COMMON_CLK_MT8365=y
CONFIG_IR_ENE=y
CONFIG_I2C_AT91_SLAVE_EXPERIMENTAL=y
CONFIG_ACPI_REDUCED_HARDWARE_ONLY=y
CONFIG_DEBUG_SECTION_MISMATCH=y
CONFIG_LEDS_TRIGGER_GPIO=y
CONFIG_SX_COMMON=y
CONFIG_I2C_ALGOBIT=y
CONFIG_DTPM=y
CONFIG_IR_GPIO_CIR=y
CONFIG_SUN50I_H6_PRCM_PPU=y
CONFIG_STACKTRACE=y
CONFIG_SUSPEND_FREEZER=y
CONFIG_LEDS_TRIGGER_MTD=y
CONFIG_MAG3110=y
CONFIG_I2C_RK3X=y
CONFIG_PARPORT=y
CONFIG_ASSOCIATIVE_ARRAY=y
CONFIG_MFD_AAT2870_CORE=y
CONFIG_REBOOT_MODE=y
CONFIG_RTC_DRV_BBNSM=y
CONFIG_XZ_DEC_POWERPC=y
CONFIG_PINCTRL_SPRD_SC9860=y
CONFIG_REGULATOR_MAX8973=y
CONFIG_NET_VENDOR_AMAZON=y
CONFIG_ARM64_GCS=y
CONFIG_EFI=y
CONFIG_RTC_DRV_FTRTC010=y
CONFIG_SENSEAIR_SUNRISE_CO2=y
CONFIG_BLK_DEV_INTEGRITY=y
CONFIG_PHY_COMMON_PROPS=y
CONFIG_SECCOMP_FILTER=y
CONFIG_COMMON_CLK_AST2700=y
CONFIG_MMU_GATHER_TABLE_FREE=y
CONFIG_SUN50I_H616_CCU=y
CONFIG_BACKLIGHT_LM3509=y
CONFIG_ACPI_BATTERY=y
CONFIG_DMABUF_HEAPS_CMA=y
CONFIG_REGULATOR_MAX77503=y
CONFIG_VCPU_STALL_DETECTOR=y
CONFIG_HARDIRQS_SW_RESEND=y
CONFIG_ARCH_HAS_KCOV=y
CONFIG_CGROUP_RDMA=y
CONFIG_LOCALVERSION_AUTO=y
CONFIG_OPT4060=y
CONFIG_MDIO_HISI_FEMAC=y
CONFIG_QNX4FS_FS=y
CONFIG_LEDS_ADP5520=y
CONFIG_SERIAL_CORE=y
CONFIG_REGULATOR_S2MPA01=y
CONFIG_NET_VENDOR_SOLARFLARE=y
CONFIG_NET_VENDOR_MICROCHIP=y
CONFIG_AQUANTIA_PHY=y
CONFIG_EFI_CAPSULE_LOADER=y
CONFIG_DUMMY=y
CONFIG_PHY_MTK_XSPHY=y
CONFIG_LITEX_SOC_CONTROLLER=y
CONFIG_CHARGER_PF1550=y
CONFIG_DS4424=y
CONFIG_TI_EQEP=y
CONFIG_SIOX=y
CONFIG_ACPI_CONTAINER=y
CONFIG_DYNAMIC_DEBUG=y
CONFIG_MRP=y
CONFIG_TOOLS_SUPPORT_RELR=y
CONFIG_PINCTRL_SOPHGO_SG2042_OPS=y
CONFIG_FEC=y
CONFIG_PHY_ROCKCHIP_SAMSUNG_HDPTX=y
CONFIG_IIO_ST_SENSORS_I2C=y
CONFIG_I2C_HISI=y
CONFIG_TPS6594_ESM=y
CONFIG_COMMON_CLK_MESON_CLKC_UTILS=y
CONFIG_MFD_TI_LP873X=y
CONFIG_LEDS_QNAP_MCU=y
CONFIG_PINCTRL_MICROCHIP_SGPIO=y
CONFIG_PHY_ROCKCHIP_DPHY_RX0=y
CONFIG_CRYPTO_AKCIPHER2=y
CONFIG_UTS_NS=y
CONFIG_LINEAR_RANGES=y
CONFIG_IMX_DMA=y
CONFIG_EEPROM_EE1004=y
CONFIG_HAVE_EFFICIENT_UNALIGNED_ACCESS=y
CONFIG_I2C_ATR=y
CONFIG_ARCH_HAS_SYNC_DMA_FOR_CPU=y
CONFIG_CHARGER_RT9471=y
CONFIG_TI_ECAP_CAPTURE=y
CONFIG_PRINTK_INDEX=y
CONFIG_INPUT_XEN_KBDDEV_FRONTEND=y
CONFIG_GPIO_WM8994=y
CONFIG_CRYPTO_HASH2=y
CONFIG_DMA_OPS_HELPERS=y
CONFIG_DEFAULT_SECURITY_DAC=y
CONFIG_INTEL_TH_PTI=y
CONFIG_MAX5432=y
CONFIG_ELF_CORE=y
CONFIG_BCH=y
CONFIG_ARM_SDE_INTERFACE=y
CONFIG_ARCH_HAS_HW_PTE_YOUNG=y
CONFIG_GCC_NO_STRINGOP_OVERFLOW=y
CONFIG_CHARGER_MAX77705=y
CONFIG_PHY_CAN_TRANSCEIVER=y
CONFIG_HW_RANDOM_XGENE=y
CONFIG_DW_AXI_DMAC=y
CONFIG_DMA_SHARED_BUFFER=y
CONFIG_CRC_CCITT=y
CONFIG_BT_MSFTEXT=y
CONFIG_SECURITY_PATH=y
CONFIG_VIRTIO_BLK=y
CONFIG_PM_USERSPACE_AUTOSLEEP=y
CONFIG_ARMADA_37XX_CLK=y
CONFIG_ZLIB_DEFLATE=y
CONFIG_MFD_WM8994=y
CONFIG_PECI=y
CONFIG_REGULATOR_MAX77686=y
CONFIG_NOA1305=y
CONFIG_COMMON_CLK_MT6765_MFGSYS=y
CONFIG_IRQ_MSI_LIB=y
CONFIG_AD5696_I2C=y
CONFIG_CRYPTO_LRW=y
CONFIG_ACPI_NFIT=y
CONFIG_PINCTRL_MTK_MOORE=y
CONFIG_ACPI_CCA_REQUIRED=y
CONFIG_SI7210=y
CONFIG_W1_MASTER_DS2482=y
CONFIG_SUNXI_SRAM=y
CONFIG_OF_PARTITION=y
CONFIG_MMC_ARMMMCI=y
CONFIG_NSM=y
CONFIG_CRYPTO_AUTHENC=y
CONFIG_MUX_MMIO=y
CONFIG_ZONE_DMA32=y
CONFIG_GPIO_74XX_MMIO=y
CONFIG_HAVE_KCSAN_COMPILER=y
CONFIG_PINCTRL_SUNXI=y
CONFIG_NO_IOPORT_MAP=y
CONFIG_CHARGER_AXP20X=y
CONFIG_ASYMMETRIC_PUBLIC_KEY_SUBTYPE=y
CONFIG_SSIF_IPMI_BMC=y
CONFIG_LEDS_LM3601X=y
CONFIG_REGULATOR_RT5739=y
CONFIG_ADXL380_I2C=y
CONFIG_CLK_SOPHGO_SG2042_RPGATE=y
CONFIG_REED_SOLOMON_ENC8=y
CONFIG_COMMON_CLK_MT8192_IMP_IIC_WRAP=y
CONFIG_GPIO_EN7523=y
CONFIG_INPUT_WM831X_ON=y
CONFIG_DMABUF_HEAPS=y
CONFIG_INPUT_MMA8450=y
CONFIG_DMA_NONCOHERENT_MMAP=y
CONFIG_PINCTRL_ARMADA_37XX=y
CONFIG_SPMI=y
CONFIG_REGULATOR_RT5133=y
CONFIG_ARCH_REALTEK=y
CONFIG_MFD_TPS65912_I2C=y
CONFIG_GPIO_TPS65086=y
CONFIG_IPC_NS=y
CONFIG_LEDS_LM3697=y
CONFIG_LEDS_TRIGGER_ONESHOT=y
CONFIG_XFS_ONLINE_SCRUB=y
CONFIG_MFD_MADERA=y
CONFIG_PINCTRL_MT7986=y
CONFIG_SPEAKUP_SYNTH_ACNTSA=y
CONFIG_PHY_CADENCE_DPHY=y
CONFIG_HD44780_COMMON=y
CONFIG_WERROR=y
CONFIG_SERIO_RAW=y
CONFIG_COMMON_CLK_AXG=y
CONFIG_SQUASHFS=y
CONFIG_PHY_PACKAGE=y
CONFIG_CRYPTO_KPP=y
CONFIG_GPIO_SIFIVE=y
CONFIG_GPIO_BLZP1600=y
CONFIG_ARCH_WANT_FRAME_POINTERS=y
CONFIG_COMMON_CLK_MT8365_CAM=y
CONFIG_ABP060MG=y
CONFIG_ARM_SCMI_TRANSPORT_SMC_ATOMIC_ENABLE=y
CONFIG_BPF_JIT_DEFAULT_ON=y
CONFIG_EROFS_FS_BACKED_BY_FILE=y
CONFIG_APDS9160=y
CONFIG_NVMEM=y
CONFIG_XZ_DEC_ARM=y
CONFIG_MFD_PF1550=y
CONFIG_I2C_IMX_LPI2C=y
CONFIG_FS_ENCRYPTION_ALGS=y
CONFIG_GENERIC_CSUM=y
CONFIG_GPIO_FXL6408=y
CONFIG_PHY_FSL_IMX8MQ_USB=y
CONFIG_SECURITY_APPARMOR_PARANOID_LOAD=y
CONFIG_MUX_GPIO=y
CONFIG_PHY_ROCKCHIP_DP=y
CONFIG_NULL_TTY=y
CONFIG_NEED_SG_DMA_LENGTH=y
CONFIG_RESET_CONTROLLER=y
CONFIG_PHY_HI3670_PCIE=y
CONFIG_LD_CAN_USE_KEEP_IN_OVERLAY=y
CONFIG_NET_VENDOR_WIZNET=y
CONFIG_FPGA_DFL=y
CONFIG_PINCTRL_PIC64GX=y
CONFIG_842_DECOMPRESS=y
CONFIG_PINCTRL_MTK_V2=y
CONFIG_NATIONAL_PHY=y
CONFIG_NLS_CODEPAGE_932=y
CONFIG_HW_RANDOM_ATMEL=y
CONFIG_LEDS_TRIGGER_NETDEV=y
CONFIG_AIR_NET_PHYLIB=y
CONFIG_COMMON_CLK_MT8365_MFG=y
CONFIG_OPT3001=y
CONFIG_SPLIT_PMD_PTLOCKS=y
CONFIG_ARCH_UNIPHIER=y
CONFIG_CPU_FREQ_GOV_ONDEMAND=y
CONFIG_GENERIC_IRQ_DEBUGFS=y
CONFIG_COMMON_CLK_MT6795_MFGCFG=y
CONFIG_SPMI_MTK_PMIF=y
CONFIG_ACPI_HOTPLUG_CPU=y
CONFIG_IMX_MU_MSI=y
CONFIG_IIO_TRIGGERED_BUFFER=y
CONFIG_GPIO_EIC_SPRD=y
CONFIG_MFD_MAX77541=y
CONFIG_CLK_IMX8MP=y
CONFIG_BLK_PM=y
CONFIG_NVMEM_ROCKCHIP_OTP=y
CONFIG_FSNOTIFY=y
CONFIG_AMBA_PL08X=y
CONFIG_PINCTRL_MT8365=y
CONFIG_POLARFIRE_SOC_MAILBOX=y
CONFIG_REGULATOR_MT6397=y
CONFIG_AUDIT_ARCH_COMPAT_GENERIC=y
CONFIG_UBIFS_FS_LZO=y
CONFIG_AK8974=y
CONFIG_HZ_1000=y
CONFIG_SUSPEND=y
CONFIG_PAGE_SIZE_LESS_THAN_256KB=y
CONFIG_SGL_ALLOC=y
CONFIG_EFS_FS=y
CONFIG_VEML6075=y
CONFIG_ROCKCHIP_IODOMAIN=y
CONFIG_NLS_MAC_GAELIC=y
CONFIG_MFD_ADP5585=y
CONFIG_KEYBOARD_ADC=y
CONFIG_MIGRATION=y
CONFIG_TEE=y
CONFIG_PINCTRL_POLARFIRE_SOC=y
CONFIG_OF_GPIO=y
CONFIG_AFFS_FS=y
CONFIG_REGULATOR_AD5398=y
CONFIG_ARM_ARCH_TIMER=y
CONFIG_RD_LZ4=y
CONFIG_NET_VENDOR_XILINX=y
CONFIG_MTD_UBI=y
CONFIG_VIRTIO_BALLOON=y
CONFIG_CHARGER_MAX77976=y
CONFIG_ALTERA_MSGDMA=y
CONFIG_STUB_CLK_HI3660=y
CONFIG_GENERIC_IDLE_POLL_SETUP=y
CONFIG_XFS_DRAIN_INTENTS=y
CONFIG_COMMON_CLK_MT8173_VDECSYS=y
CONFIG_CRYPTO_WP512=y
CONFIG_PROC_FS=y
CONFIG_GPIO_ACPI=y
CONFIG_HVC_XEN=y
CONFIG_MAX1363=y
CONFIG_MTD_CFI_I1=y
CONFIG_MARVELL_PHY=y
CONFIG_MFD_SM501_GPIO=y
CONFIG_JBD2_DEBUG=y
CONFIG_LEDS_LT3593=y
CONFIG_INTEL_TH_GTH=y
CONFIG_HW_RANDOM_XIPHERA=y
CONFIG_ARCH_HAS_BATCHED_DMA_SYNC=y
CONFIG_RTC_DRV_ISL1208=y
CONFIG_HW_RANDOM_ARM_SMCCC_TRNG=y
CONFIG_CM32181=y
CONFIG_AIO=y
CONFIG_NET_VENDOR_ALACRITECH=y
CONFIG_COMMON_CLK_MT7988=y
CONFIG_AD5110=y
CONFIG_HAVE_PERF_REGS=y
CONFIG_ISL29125=y
CONFIG_M62332=y
CONFIG_ARM_ARMADA_8K_CPUFREQ=y
CONFIG_DMABUF_HEAPS_SYSTEM_CC_SHARED=y
CONFIG_ARM64_ERRATUM_843419=y
CONFIG_ENCRYPTED_KEYS=y
CONFIG_MMC_USDHI6ROL0=y
CONFIG_LEDS_IS31FL319X=y
CONFIG_NLS_ISO8859_9=y
CONFIG_NLS_CODEPAGE_874=y
CONFIG_HOTPLUG_CORE_SYNC=y
CONFIG_ASN1=y
CONFIG_MFD_RC5T583=y
CONFIG_RAVE_SP_CORE=y
CONFIG_COMMON_CLK_MT8188=y
CONFIG_REGULATOR_LTC3676=y
CONFIG_REGULATOR_BD71828=y
CONFIG_CGROUPS=y
CONFIG_WM831X_POWER=y
CONFIG_COMMON_CLK_FSL_SAI=y
CONFIG_MFD_ROHM_BD718XX=y
CONFIG_DEVFREQ_GOV_SIMPLE_ONDEMAND=y
CONFIG_OF=y
CONFIG_DEVFREQ_THERMAL=y
CONFIG_CPU_RMAP=y
CONFIG_SATA_ZPODD=y
CONFIG_CORESIGHT=y
CONFIG_UIO_PDRV_GENIRQ=y
CONFIG_FUEL_GAUGE_STC3117=y
CONFIG_SSB=y
CONFIG_PINCTRL_MT8516=y
CONFIG_POWER_RESET_GPIO=y
CONFIG_RTC_DRV_RV3032=y
CONFIG_NET_FLOW_LIMIT=y
CONFIG_COMMON_CLK_C3_PLL=y
CONFIG_AS_HAS_NON_CONST_ULEB128=y
CONFIG_ARCH_DEFAULT_KEXEC_IMAGE_VERIFY_SIG=y
CONFIG_IMA_KEXEC=y
CONFIG_ARCH_USE_SYM_ANNOTATIONS=y
CONFIG_ARCH_SUPPORTS_PAGE_TABLE_CHECK=y
CONFIG_XEN_BALLOON=y
CONFIG_VFIO_PLATFORM_AMDXGBE_RESET=y
CONFIG_CHARGER_BD71828=y
CONFIG_JUMP_LABEL=y
CONFIG_MFD_TPS65086=y
CONFIG_PINCTRL_BM1880=y
CONFIG_THREAD_INFO_IN_TASK=y
CONFIG_HAVE_ARCH_KASAN=y
CONFIG_PMIC_DA9052=y
CONFIG_HVC_XEN_FRONTEND=y
CONFIG_AD525X_DPOT=y
CONFIG_CRYPTO_AES_ARM64_CE_CCM=y
CONFIG_PINCTRL_MT8183=y
CONFIG_BINFMT_MISC=y
CONFIG_BCMA_DRIVER_GPIO=y
CONFIG_GPIO_PCF857X=y
CONFIG_MTD_UBI_GLUEBI=y
CONFIG_IR_SERIAL=y
CONFIG_MEMFD_CREATE=y
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST=y
CONFIG_RTC_DRV_AS3722=y
CONFIG_INPUT_GPIO_DECODER=y
CONFIG_LEDS_CLASS_FLASH=y
CONFIG_INPUT_TWL4030_VIBRA=y
CONFIG_COMMON_CLK_MT8192_VDECSYS=y
CONFIG_SQUASHFS_DECOMP_SINGLE=y
CONFIG_HAVE_ARCH_SECCOMP_FILTER=y
CONFIG_BCM54140_PHY=y
CONFIG_VFIO_CONTAINER=y
CONFIG_RTC_DRV_RS5C372=y
CONFIG_CORESIGHT_LINKS_AND_SINKS=y
CONFIG_RUSTC_SUPPORTS_ARM64=y
CONFIG_THERMAL_DEBUGFS=y
CONFIG_LEDS_LP8860=y
CONFIG_REGULATOR_TPS51632=y
CONFIG_CM36651=y
CONFIG_CONTIG_ALLOC=y
CONFIG_VL53L0X_I2C=y
CONFIG_MTD_OTP=y
CONFIG_GPIO_MB86S7X=y
CONFIG_HIGH_RES_TIMERS=y
CONFIG_PANIC_ON_OOPS=y
CONFIG_PINCTRL_AC5=y
CONFIG_EZCHIP_NPS_MANAGEMENT_ENET=y
CONFIG_GENERIC_IRQ_SHOW=y
CONFIG_GENERIC_PINMUX_FUNCTIONS=y
CONFIG_TIME_NS=y
CONFIG_SUN20I_GPADC=y
CONFIG_CHARGER_MP2629=y
CONFIG_HAVE_CMPXCHG_DOUBLE=y
CONFIG_RC_MAP=y
CONFIG_LEDS_BLINKM=y
CONFIG_IMA=y
CONFIG_DECOMPRESS_XZ=y
CONFIG_PSE_CONTROLLER=y
CONFIG_NVMEM_LAYOUT_ONIE_TLV=y
CONFIG_IO_WQ=y
CONFIG_PHY_PXA_28NM_HSIC=y
CONFIG_PHY_SUN50I_USB3=y
CONFIG_COMMON_CLK_MT7981=y
CONFIG_UIO_DFL=y
CONFIG_SLAB_OBJ_EXT=y
CONFIG_SENSORS_BH1770=y
CONFIG_EXTCON_LC824206XA=y
CONFIG_REGULATOR=y
CONFIG_ARCH_SUPPORTS_LTO_CLANG=y
CONFIG_GPIO_MAX730X=y
CONFIG_REGULATOR_UNIPHIER=y
CONFIG_AIROHA_CPU_PM_DOMAIN=y
CONFIG_KERNFS=y
CONFIG_POWER_RESET=y
CONFIG_CLK_VEXPRESS_OSC=y
CONFIG_SECURITY_TOMOYO=y
CONFIG_MFD_SUN4I_GPADC=y
CONFIG_MMU_GATHER_RCU_TABLE_FREE=y
CONFIG_GPIOLIB_LEGACY=y
CONFIG_CORTINA_PHY=y
CONFIG_INPUT=y
CONFIG_PHYLIB_LEDS=y
CONFIG_REGULATOR_ANATOP=y
CONFIG_IMA_READ_POLICY=y
CONFIG_QCOM_FALKOR_ERRATUM_1009=y
CONFIG_KEYBOARD_MAX7359=y
CONFIG_ARM64_BRBE=y
CONFIG_AHCI_MTK=y
CONFIG_SSB_POSSIBLE=y
CONFIG_POWER_RESET_AS3722=y
CONFIG_ARCH_XGENE=y
CONFIG_REGMAP_MMIO=y
CONFIG_I2C_MUX=y
CONFIG_GPIO_HLWD=y
CONFIG_FIPS_SIGNATURE_SELFTEST_RSA=y
CONFIG_ARCH_STACKWALK=y
CONFIG_QCA83XX_PHY=y
CONFIG_REGULATOR_ISL9305=y
CONFIG_PINCTRL_UNIPHIER=y
CONFIG_MFD_CS40L50_CORE=y
CONFIG_CRYPTO_SIG=y
CONFIG_ARM64_ERRATUM_1463225=y
CONFIG_LEDS_AW2013=y
CONFIG_SUN50I_DE2_BUS=y
CONFIG_ST_UVIS25=y
CONFIG_HAVE_REGS_AND_STACK_ACCESS_API=y
CONFIG_MEMCG=y
CONFIG_RTC_CLASS=y
CONFIG_CRYPTO_CBC=y
CONFIG_NLS_UCS2_UTILS=y
CONFIG_GENERIC_ALLOCATOR=y
CONFIG_BLOCK=y
CONFIG_SERIAL_ATMEL=y
CONFIG_ADFS_FS=y
CONFIG_HAVE_PV_STEAL_CLOCK_GEN=y
CONFIG_LZO_COMPRESS=y
CONFIG_HAVE_ACPI_APEI=y
CONFIG_IMA_LSM_RULES=y
CONFIG_GPIO_BD71815=y
CONFIG_PLIP=y
CONFIG_ARM_MEDIATEK_CPUFREQ_HW=y
CONFIG_SERIAL_UARTLITE=y
CONFIG_MTD_GEN_PROBE=y
CONFIG_PHYLINK=y
CONFIG_FPGA=y
CONFIG_MOUSE_SERIAL=y
CONFIG_SCSI_UFSHCD_PLATFORM=y
CONFIG_LEDS_LP55XX_COMMON=y
CONFIG_RTC_DRV_RX6110=y
CONFIG_REGULATOR_PV88090=y
CONFIG_ARM_SCMI_QUIRKS=y
CONFIG_LEDS_S2M_FLASH=y
CONFIG_PTP_1588_CLOCK_MOCK=y
CONFIG_FSL_IMX9_DDR_PMU=y
CONFIG_RTC_DRV_S5M=y
CONFIG_APDS9960=y
CONFIG_RTC_DRV_RV3029C2=y
CONFIG_NET_VENDOR_SAMSUNG=y
CONFIG_MISC_FILESYSTEMS=y
CONFIG_NEW_LEDS=y
CONFIG_CRYPTO_JITTERENTROPY=y
CONFIG_MFD_TI_LP87565=y
CONFIG_HDC2010=y
CONFIG_DP83822_PHY=y
CONFIG_COMMON_CLK_A1_PLL=y
CONFIG_MTK_SCPSYS_PM_DOMAINS=y
CONFIG_PL320_MBOX=y
CONFIG_LEDS_LP8501=y
CONFIG_MTD_NAND_DISKONCHIP=y
CONFIG_SYSFB_SIMPLEFB=y
CONFIG_USER_STACKTRACE_SUPPORT=y
CONFIG_HAVE_RUST=y
CONFIG_DP83640_PHY=y
CONFIG_PINCTRL_RTD1315E=y
CONFIG_MMC_TEST=y
CONFIG_GAMEPORT=y
CONFIG_CMA_SIZE_SEL_PERCENTAGE=y
CONFIG_DCB=y
CONFIG_MTD_NAND_HISI504=y
CONFIG_SERIO_SERPORT=y
CONFIG_ARCH_MMP=y
CONFIG_ADJD_S311=y
CONFIG_KEYBOARD_IQS62X=y
CONFIG_MFD_CORE=y
CONFIG_THERMAL_CORE_TESTING=y
CONFIG_ARCH_HAS_PTE_SPECIAL=y
CONFIG_COMMON_CLK_MT8192_SCP_ADSP=y
CONFIG_ACPI_IORT=y
CONFIG_BALLOON=y
