CONFIG_PATA_PCMCIA=y
CONFIG_PCI_HOST_GENERIC=y
CONFIG_PINCTRL_METEORLAKE=y
CONFIG_PHY_MESON_G12A_USB2=y
CONFIG_PSTORE_PMSG=y
CONFIG_SM_GCC_7150=y
CONFIG_CRYPTO_SKCIPHER2=y
CONFIG_NET_VENDOR_MARVELL=y
CONFIG_CLK_BCM_63XX_GATE=y
CONFIG_MM_ID=y
CONFIG_POWER_RESET_SC27XX=y
CONFIG_CRYPTO_AKCIPHER=y
CONFIG_PPPOX=y
CONFIG_COMEDI_TESTS=y
CONFIG_TMPFS_POSIX_ACL=y
CONFIG_INITRAMFS_PRESERVE_MTIME=y
CONFIG_MARVELL_88X2222_PHY=y
CONFIG_VFIO_NOIOMMU=y
CONFIG_DMI=y
CONFIG_HID_APPLETB_BL=y
CONFIG_UNWIND_USER=y
CONFIG_HW_RANDOM_TIMERIOMEM=y
CONFIG_SCSI_AIC79XX=y
CONFIG_UACCE=y
CONFIG_HAVE_SAMPLE_FTRACE_DIRECT_MULTI=y
CONFIG_TOUCHSCREEN_TSC_SERIO=y
CONFIG_RESET_HISI=y
CONFIG_HAVE_IOREMAP_PROT=y
CONFIG_HID_SENSOR_HUB=y
CONFIG_GXP_TIMER=y
CONFIG_GPIO_LATCH=y
CONFIG_MHI_WWAN_CTRL=y
CONFIG_NET_VENDOR_VIA=y
CONFIG_ATL1C=y
CONFIG_HD44780=y
CONFIG_FB_SM501=y
CONFIG_COMEDI_DT2811=y
CONFIG_NVSW_SN2201=y
CONFIG_COMEDI_PCL730=y
CONFIG_NXP_PIT_TIMER=y
CONFIG_DECOMPRESS_ZSTD=y
CONFIG_CLK_RENESAS_CPG_MSTP=y
CONFIG_SENSORS_XDP710=y
CONFIG_QCOM_COINCELL=y
CONFIG_PINCTRL_IMX25=y
CONFIG_IMX_SCMI_BBM_EXT=y
CONFIG_NET_SCH_MULTIQ=y
CONFIG_ARCH_SUPPORTS_UPROBES=y
CONFIG_CAN_RX_OFFLOAD=y
CONFIG_RTC_DRV_M48T59=y
CONFIG_LEDS_AW200XX=y
CONFIG_VFIO_PLATFORM_BASE=y
CONFIG_SLIP_MODE_SLIP6=y
CONFIG_EDAC_ECS=y
CONFIG_COMMON_CLK_MT8186_VENCSYS=y
CONFIG_NLS_CODEPAGE_874=y
CONFIG_RD_LZMA=y
CONFIG_PPS_CLIENT_PARPORT=y
CONFIG_PINCTRL_SH_FUNC_GPIO=y
CONFIG_TMPFS=y
CONFIG_PINCTRL_SM8250=y
CONFIG_ALIBABA_UNCORE_DRW_PMU=y
CONFIG_CONTEXT_TRACKING_USER=y
CONFIG_CLK_BCM2711_DVP=y
CONFIG_ROMFS_FS=y
CONFIG_REED_SOLOMON_DEC8=y
CONFIG_LEDS_IS31FL32XX=y
CONFIG_HAVE_MMIOTRACE_SUPPORT=y
CONFIG_GPIO_XLP=y
CONFIG_PINCTRL_PFC_R8A77980=y
CONFIG_PPP_MPPE=y
CONFIG_MCHP_LAN966X_PCI=y
CONFIG_CHARGER_RT9756=y
CONFIG_COMMON_CLK_MT8186_MFGCFG=y
CONFIG_FB_CLPS711X=y
CONFIG_COMEDI_PCMCIA_DRIVERS=y
CONFIG_LRU_GEN_WALKS_MMU=y
CONFIG_NLS_CODEPAGE_1250=y
CONFIG_NVMEM_RMEM=y
CONFIG_MFD_ACT8945A=y
CONFIG_SG_POOL=y
CONFIG_NET_VENDOR_CISCO=y
CONFIG_CLK_KAANAPALI_TCSRCC=y
CONFIG_TOUCHSCREEN_PIXCIR=y
CONFIG_KEY_DH_OPERATIONS=y
CONFIG_NTP_PPS=y
CONFIG_INTEL_SCU_IPC_UTIL=y
CONFIG_COMEDI_RTI800=y
CONFIG_COMEDI_ADDI_APCI_1516=y
CONFIG_SENSORS_ADT7411=y
CONFIG_MTRR_SANITIZER=y
CONFIG_PARPORT=y
CONFIG_TASKS_TRACE_RCU_NO_MB=y
CONFIG_ICPLUS_PHY=y
CONFIG_I2C_SLAVE_TESTUNIT=y
CONFIG_CAN_VXCAN=y
CONFIG_PCS_LYNX=y
CONFIG_GPIO_MOCKUP=y
CONFIG_CC_HAS_NAMED_AS=y
CONFIG_RTC_DRV_MSM6242=y
CONFIG_IOMMU_PT_AMDV1=y
CONFIG_SENSORS_I5K_AMB=y
CONFIG_W1_SLAVE_DS2423=y
CONFIG_GAMEPORT=y
CONFIG_GPIO_ATH79=y
CONFIG_REGULATOR_RASPBERRYPI_TOUCHSCREEN_V2=y
CONFIG_NVRAM=y
CONFIG_THERMAL_GOV_BANG_BANG=y
CONFIG_X86_REQUIRED_FEATURE_CMOV=y
CONFIG_KEYS=y
CONFIG_PHY_OCELOT_SERDES=y
CONFIG_PINCTRL_VISCONTI=y
CONFIG_PINCTRL_TEGRA210=y
CONFIG_PINCTRL_STARFIVE_JH7100=y
CONFIG_CC_HAS_NO_PROFILE_FN_ATTR=y
CONFIG_HAVE_ARCH_COMPAT_MMAP_BASES=y
CONFIG_DMI_SYSFS=y
CONFIG_FSL_DPAA=y
CONFIG_RAPIDIO_RXS_GEN3=y
CONFIG_X86_DIRECT_GBPAGES=y
CONFIG_ARCH_SUPPORTS_HUGE_PFNMAP=y
CONFIG_COMEDI_8255=y
CONFIG_RTC_LIB=y
CONFIG_NVDIMM_KEYS=y
CONFIG_IPMI_SSIF=y
CONFIG_PAGE_SIZE_LESS_THAN_64KB=y
CONFIG_HID_ACRUX=y
CONFIG_NFC_MRVL=y
CONFIG_HAVE_PREEMPT_DYNAMIC=y
CONFIG_PINCTRL_VF610=y
CONFIG_ZRAM_WRITEBACK=y
CONFIG_FB_ATY=y
CONFIG_GENERIC_PHY=y
CONFIG_CMA=y
CONFIG_NET_VENDOR_MICROCHIP=y
CONFIG_ARCH_HAS_COPY_MC=y
CONFIG_MISC_RTSX=y
CONFIG_LEDS_BD2802=y
CONFIG_PM_GENERIC_DOMAINS_SLEEP=y
CONFIG_SATA_AHCI_SEATTLE=y
CONFIG_SENSORS_ASPEED=y
CONFIG_CLK_R8A774A1=y
CONFIG_DEVFREQ_GOV_PASSIVE=y
CONFIG_RTC_DRV_MC13XXX=y
CONFIG_LEDS_GROUP_MULTICOLOR=y
CONFIG_HID_GENERIC=y
CONFIG_MIPI_I3C_HCI_PCI=y
CONFIG_I2C_SLAVE_EEPROM=y
CONFIG_EARLY_PRINTK=y
CONFIG_X86_REQUIRED_FEATURE_MSR=y
CONFIG_SQUASHFS_LZO=y
CONFIG_PHY_UNIPHIER_PCIE=y
CONFIG_COMMON_CLK_QCOM=y
CONFIG_LEDS_LP50XX=y
CONFIG_HAVE_IRQ_TIME_ACCOUNTING=y
CONFIG_LINEDISP=y
CONFIG_SENSORS_MP5990=y
CONFIG_RPMSG_NS=y
CONFIG_INTERCONNECT=y
CONFIG_SENSORS_W83791D=y
CONFIG_PHY_SUNPLUS_USB=y
CONFIG_HAVE_PERF_USER_STACK_DUMP=y
CONFIG_ARCH_HAS_CURRENT_STACK_POINTER=y
CONFIG_TASKS_RCU_GENERIC=y
CONFIG_BUILTIN_MODULE_RANGES=y
CONFIG_GPIO_74XX_MMIO=y
CONFIG_GENERIC_CPU_DEVICES=y
CONFIG_FB_MATROX_I2C=y
CONFIG_ENCLOSURE_SERVICES=y
CONFIG_MMU=y
CONFIG_PINCONF=y
CONFIG_HAVE_SETUP_PER_CPU_AREA=y
CONFIG_MDIO_MSCC_MIIM=y
CONFIG_COMEDI_8255_SA=y
CONFIG_LEDS_NIC78BX=y
CONFIG_POWER_RESET_EP93XX=y
CONFIG_SCSI_SAS_LIBSAS=y
CONFIG_SCSI_BNX2_ISCSI=y
CONFIG_SENSORS_TSL2550=y
CONFIG_SKY2_DEBUG=y
CONFIG_AUXILIARY_BUS=y
CONFIG_SENSORS_QNAP_MCU_HWMON=y
CONFIG_PCI_PWRCTRL_GENERIC=y
CONFIG_HAVE_REGS_AND_STACK_ACCESS_API=y
CONFIG_LEDS_TRIGGER_TRANSIENT=y
CONFIG_REGULATOR_MT6380=y
CONFIG_DCB=y
CONFIG_PINCTRL_SDX65=y
CONFIG_MFD_TIMBERDALE=y
CONFIG_BCM_PDC_MBOX=y
CONFIG_MSM_MMCC_8996=y
CONFIG_NET_VENDOR_RDC=y
CONFIG_EEPROM_IDT_89HPESX=y
CONFIG_BATTERY_GOLDFISH=y
CONFIG_RISCV_IOMMU=y
CONFIG_PINCTRL_STARFIVE_JH7110_SYS=y
CONFIG_BFS_FS=y
CONFIG_HAVE_STATIC_CALL_INLINE=y
CONFIG_CRASH_DUMP=y
CONFIG_VFIO_PCI=y
CONFIG_CHARGER_LP8727=y
CONFIG_FIRMWARE_EDID=y
CONFIG_CRC64_ARCH=y
CONFIG_FB_OMAP2_CONNECTOR_ANALOG_TV=y
CONFIG_SCSI_INIA100=y
CONFIG_ASPEED_LPC_CTRL=y
CONFIG_PINCTRL_BCM6358=y
CONFIG_SENSORS_IT87=y
CONFIG_HSI_CHAR=y
CONFIG_TASKS_RCU=y
CONFIG_AQUANTIA_PHY=y
CONFIG_XFS_MEMORY_BUFS=y
CONFIG_CRYPTO_LIB_UTILS=y
CONFIG_RCAR_THERMAL=y
CONFIG_TIFM_CORE=y
CONFIG_IPMI_HANDLER=y
CONFIG_SC_GCC_7280=y
CONFIG_IRQ_SIM=y
CONFIG_ARCH_HAS_CACHE_LINE_SIZE=y
CONFIG_W1_MASTER_AMD_AXI=y
CONFIG_AMD_HSMP_PLAT=y
CONFIG_BLK_WBT=y
CONFIG_PINCTRL_IMX8MP=y
CONFIG_DEBUG_DEVRES=y
CONFIG_ARCNET=y
CONFIG_REGULATOR=y
CONFIG_REALTEK_PHY=y
CONFIG_REGULATOR_PCA9450=y
CONFIG_EXTCON_USB_GPIO=y
CONFIG_ARCH_HAS_STRICT_KERNEL_RWX=y
CONFIG_FAULT_INJECTION_USERCOPY=y
CONFIG_ADFS_FS=y
CONFIG_DEBUG_PERF_USE_VMALLOC=y
CONFIG_COMEDI_ADL_PCI9111=y
CONFIG_I2C_HIGHLANDER=y
CONFIG_IBM_RTL=y
CONFIG_IRQ_FORCED_THREADING=y
CONFIG_OF_RESOLVE=y
CONFIG_COMEDI_ADV_PCI1720=y
CONFIG_HPET_TIMER=y
CONFIG_MFD_SL28CPLD=y
CONFIG_NVMEM_MXS_OCOTP=y
CONFIG_HID_VRC2=y
CONFIG_ASN1=y
CONFIG_ATA_SFF=y
CONFIG_SENSORS_CORSAIR_CPRO=y
CONFIG_CRYPTO_ECB=y
CONFIG_NVME_FABRICS=y
CONFIG_GPIO_ADP5585=y
CONFIG_TOUCHSCREEN_CYTTSP5=y
CONFIG_HAVE_CMPXCHG_DOUBLE=y
CONFIG_ARCH_SUPPORTS_PER_VMA_LOCK=y
CONFIG_ARM_SCMI_HAVE_SHMEM=y
CONFIG_I2C_RTL9300=y
CONFIG_GPIO_ZYNQ=y
CONFIG_LEDS_COBALT_QUBE=y
CONFIG_CRYPTO_LIB_GF128HASH_ARCH=y
CONFIG_QCS_CAMCC_615=y
CONFIG_SUN5I_HSTIMER=y
CONFIG_PERSISTENT_HUGE_ZERO_FOLIO=y
CONFIG_SENSORS_MAX15301=y
CONFIG_SKY2=y
CONFIG_REGULATOR_MT6357=y
CONFIG_FPGA_MGR_XILINX_SELECTMAP=y
CONFIG_RTC_DRV_RX8025=y
CONFIG_CAN_RAW=y
CONFIG_TOUCHSCREEN_SILEAD=y
CONFIG_CRC64=y
CONFIG_INTEL_IXP4XX_EB=y
CONFIG_MFD_SKY81452=y
CONFIG_MTD_NAND_ECC_MXIC=y
CONFIG_CLK_RK3308=y
CONFIG_HAVE_KERNEL_LZMA=y
CONFIG_ARCH_SUPPORTS_ATOMIC_RMW=y
CONFIG_FUNCTION_ALIGNMENT_4B=y
CONFIG_SATA_FSL=y
CONFIG_ARCH_HAS_MEMBARRIER_SYNC_CORE=y
CONFIG_HAVE_FENTRY=y
CONFIG_RESET_SIMPLE=y
CONFIG_X86_CET=y
CONFIG_CLK_R9A07G044=y
CONFIG_TI_SYSCON_CLK=y
CONFIG_RTC_DRV_LPC24XX=y
CONFIG_FB_RADEON=y
CONFIG_MTD_VIRT_CONCAT=y
CONFIG_FTL=y
CONFIG_DPAA2_CONSOLE=y
CONFIG_COMMON_CLK_MT8192_VENCSYS=y
CONFIG_SILICOM_PLATFORM=y
CONFIG_NET_SCH_FQ=y
CONFIG_OWL_EMAC=y
CONFIG_RCAR_GEN3_THERMAL=y
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE_PUD=y
CONFIG_SENSORS_TPS25990=y
CONFIG_LEDS_PCA955X_GPIO=y
CONFIG_CRYPTO_SHA1=y
CONFIG_CRC32=y
CONFIG_ARCH_HAS_PKEYS=y
CONFIG_CRYPTO_USER_API_HASH=y
CONFIG_SERIAL_XILINX_PS_UART=y
CONFIG_FB_BACKLIGHT=y
CONFIG_GENERIC_SMP_IDLE_THREAD=y
CONFIG_TOUCHSCREEN_EDT_FT5X06=y
CONFIG_X86_X32_ABI=y
CONFIG_SERIAL_MCTRL_GPIO=y
CONFIG_LOCKUP_DETECTOR=y
CONFIG_LAN966X_OIC=y
CONFIG_SENSORS_VIA_CPUTEMP=y
CONFIG_REGULATOR_RT5759=y
CONFIG_CRYPTO_ECHAINIV=y
CONFIG_ARCH_HAS_CPU_RELAX=y
CONFIG_FB_MATROX=y
CONFIG_ARCH_HAS_KERNEL_FPU_SUPPORT=y
CONFIG_SPRD_SC9860_CLK=y
CONFIG_SHRINKER_DEBUG=y
CONFIG_QCOM_TSENS=y
CONFIG_SENSORS_LTC4261=y
CONFIG_SYSC_R8A779F0=y
CONFIG_SATA_AHCI_PLATFORM=y
CONFIG_REGULATOR_MT6370=y
CONFIG_CB710_CORE=y
CONFIG_NVME_TARGET_LOOP=y
CONFIG_MTD_SHARPSL_PARTS=y
CONFIG_CAN_NETLINK=y
CONFIG_LEDS_SUN50I_A100=y
CONFIG_OMAP2PLUS_MBOX=y
CONFIG_HYPERVISOR_GUEST=y
CONFIG_GPIO_IXP4XX=y
CONFIG_PINCTRL_MSM8960=y
CONFIG_MOST=y
CONFIG_HUGETLB_PAGE=y
CONFIG_ADIN_PHY=y
CONFIG_PCIE_ESWIN=y
CONFIG_CLK_R8A7742=y
CONFIG_CLK_NORD_GCC=y
CONFIG_CLK_RK3562=y
CONFIG_HAVE_ALIGNED_STRUCT_PAGE=y
CONFIG_PINCTRL_IPQ8064=y
CONFIG_VM_EVENT_COUNTERS=y
CONFIG_CLK_RENESAS_CPG_MSSR=y
CONFIG_TOUCHSCREEN_PENMOUNT=y
CONFIG_TOOLS_SUPPORT_RELR=y
CONFIG_X86_DISABLED_FEATURE_RETPOLINE_LFENCE=y
CONFIG_HAVE_ASM_MODVERSIONS=y
CONFIG_PATA_IXP4XX_CF=y
CONFIG_LEDS_PCA995X=y
CONFIG_CRYPTO_ARIA=y
CONFIG_HID_AUREAL=y
CONFIG_COMMON_CLK_MT8183_IPU_CORE1=y
CONFIG_PINCTRL_MT2712=y
CONFIG_RTC_DRV_MOXART=y
CONFIG_MTD_QINFO_PROBE=y
CONFIG_MTD_RAM=y
CONFIG_PINCTRL_DA850_PUPD=y
CONFIG_TCM_PSCSI=y
CONFIG_NLS_ISO8859_14=y
CONFIG_SERIAL_VT8500_CONSOLE=y
CONFIG_SENSORS_PECI_DIMMTEMP=y
CONFIG_SENSORS_ZL6100=y
CONFIG_SENSORS_ADM1031=y
CONFIG_PT_RECLAIM=y
CONFIG_BCM63XX_POWER=y
CONFIG_NVMEM_SC27XX_EFUSE=y
CONFIG_SECURITYFS=y
CONFIG_GPIO_MVEBU=y
CONFIG_XOR_BLOCKS_ARCH=y
CONFIG_INPUT_MOUSE=y
CONFIG_KS0108=y
CONFIG_HW_RANDOM=y
CONFIG_CRYPTO_SM4_AESNI_AVX2_X86_64=y
CONFIG_NET_VENDOR_NI=y
CONFIG_MOUSE_PS2_ELANTECH_SMBUS=y
CONFIG_PCIE_DW_HOST=y
CONFIG_ARCH_USE_QUEUED_RWLOCKS=y
CONFIG_MTK_IOMMU=y
CONFIG_HAS_IOPORT=y
CONFIG_MLXBF_GIGE=y
CONFIG_AMD_HSMP=y
CONFIG_TOUCHSCREEN_WACOM_W9000=y
CONFIG_LZ4HC_COMPRESS=y
CONFIG_NLS_MAC_CELTIC=y
CONFIG_PINCTRL_MT8192=y
CONFIG_LPC_ENET=y
CONFIG_PINCTRL_QCS615=y
CONFIG_HID_RMI=y
CONFIG_REGULATOR_QCOM_PM8008=y
CONFIG_CLKSRC_DBX500_PRCMU=y
CONFIG_GENERIC_EARLY_IOREMAP=y
CONFIG_SC_VIDEOCC_7180=y
CONFIG_PAGE_SIZE_LESS_THAN_256KB=y
CONFIG_I2C_STM32F7=y
CONFIG_NLS_MAC_ROMAN=y
CONFIG_TMPFS_QUOTA=y
CONFIG_COMMON_CLK_MT8365_VENC=y
CONFIG_VHOST_RING=y
CONFIG_BLK_SED_OPAL=y
CONFIG_NET_CLS_FLOWER=y
CONFIG_REGULATOR_AXP20X=y
CONFIG_BLK_DEV_PMEM=y
CONFIG_MFD_AT91_USART=y
CONFIG_CRYPTO_LIB_GF128MUL=y
CONFIG_W1_SLAVE_DS28E04=y
CONFIG_NET_SCH_FIFO=y
CONFIG_TOUCHSCREEN_RM_TS=y
CONFIG_CRYPTO_LIB_MD5=y
CONFIG_STMPE_I2C=y
CONFIG_RELAY=y
CONFIG_GPIO_RASPBERRYPI_EXP=y
CONFIG_FPGA_REGION=y
CONFIG_NETWORK_SECMARK=y
CONFIG_SLUB_DEBUG=y
CONFIG_EXT4_FS_SECURITY=y
CONFIG_VIDEO=y
CONFIG_BNXT_HWMON=y
CONFIG_PINCTRL_STARFIVE_JH7110=y
CONFIG_EFS_FS=y
CONFIG_COMMON_CLK_CS2000_CP=y
CONFIG_NET_VENDOR_8390=y
CONFIG_BITREVERSE=y
CONFIG_COMEDI_DAS08_PCI=y
CONFIG_HAVE_SCHED_AVG_IRQ=y
CONFIG_PCI_LOONGSON=y
CONFIG_PANTHERLORD_FF=y
CONFIG_CHECK_SIGNATURE=y
CONFIG_GPIO_MAX7300=y
CONFIG_FB_OMAP2_ENCODER_OPA362=y
CONFIG_PINCTRL_PFC_SHX3=y
CONFIG_I2C_SIS630=y
CONFIG_RCU_NEED_SEGCBLIST=y
CONFIG_TS4800_IRQ=y
CONFIG_EXTCON_MAX14526=y
CONFIG_HARDENED_USERCOPY=y
CONFIG_FTTMR010_TIMER=y
CONFIG_ARCH_MEMORY_ORDER_TSO=y
CONFIG_CRYPTO_RSA=y
CONFIG_SENSORS_MAX17616=y
CONFIG_CHARGER_BQ24735=y
CONFIG_INTEL_UNCORE_FREQ_CONTROL=y
CONFIG_RTC_DRV_PIC32=y
CONFIG_EDD=y
CONFIG_MSM_LCC_8960=y
CONFIG_HAVE_ARCH_WITHIN_STACK_FRAMES=y
CONFIG_SENSORS_CRPS=y
CONFIG_NET_VENDOR_RENESAS=y
CONFIG_SC_LPASS_CORECC_7280=y
CONFIG_ARM_SCMI_HAVE_MSG=y
CONFIG_COMEDI_DAS08=y
CONFIG_CRYPTO_LIB_DES=y
CONFIG_FB_VIRTUAL=y
CONFIG_SERIAL_SIFIVE=y
CONFIG_COMEDI_ME_DAQ=y
CONFIG_REGULATOR_PV88080=y
CONFIG_XPS=y
CONFIG_CRYPTO_LIB_SHA3=y
CONFIG_PREEMPTION=y
CONFIG_CPUMASK_OFFSTACK=y
CONFIG_MFD_WCD934X=y
CONFIG_RAPIDIO=y
CONFIG_SPARSEMEM_VMEMMAP_PREINIT=y
CONFIG_NET_VENDOR_AGERE=y
CONFIG_GPIO_MLXBF3=y
CONFIG_SLIP=y
CONFIG_ARCH_SUPPORTS_CFI=y
CONFIG_XZ_DEC_POWERPC=y
CONFIG_RTC_DRV_SUNXI=y
CONFIG_ARM_SMMU_MMU_500_CPRE_ERRATA=y
CONFIG_DAMON=y
CONFIG_BTRFS_FS=y
CONFIG_REGULATOR_SY8824X=y
CONFIG_TOUCHSCREEN_MX25=y
CONFIG_ALTERA_TSE=y
CONFIG_TEST_XARRAY=y
CONFIG_IBM_ASM=y
CONFIG_FPGA_MGR_ZYNQMP_FPGA=y
CONFIG_CRC_T10DIF=y
CONFIG_MDIO_BUS_MUX=y
CONFIG_HAVE_NOINSTR_VALIDATION=y
CONFIG_CRYPTO_ECDH=y
CONFIG_SPRD_SC9863A_CLK=y
CONFIG_BLK_PM=y
CONFIG_PINCTRL_SPRD=y
CONFIG_WWAN_HWSIM=y
CONFIG_MFD_MC13XXX=y
CONFIG_XFS_FS=y
CONFIG_CRYPTO_LIB_SHA256=y
CONFIG_SENSORS_LT7182S=y
CONFIG_MFD_MX25_TSADC=y
CONFIG_SM_DISPCC_6125=y
CONFIG_SENSORS_ADM1275=y
CONFIG_I2C_EG20T=y
CONFIG_PINCTRL_GENERIC_MUX=y
CONFIG_HW_RANDOM_INGENIC_RNG=y
CONFIG_CLKSRC_STM32_LP=y
CONFIG_MTD_NAND_QCOM=y
CONFIG_ARCH_HAS_GCOV_PROFILE_ALL=y
CONFIG_SYSVIPC=y
CONFIG_SM_DISPCC_8250=y
CONFIG_SYSFS_SYSCALL=y
CONFIG_TULIP_NAPI=y
CONFIG_QCOM_SCM=y
