CONFIG_COMMON_CLK_MT8167=y
CONFIG_IMX_WEIM=y
CONFIG_I2C_JZ4780=y
CONFIG_POSIX_TIMERS=y
CONFIG_NFC_PN533=y
CONFIG_CEC_CORE=y
CONFIG_TOUCHSCREEN_ROHM_BU21023=y
CONFIG_RAID_ATTRS=y
CONFIG_I2C_NOMADIK=y
CONFIG_BCM_NET_PHYLIB=y
CONFIG_RMI4_F55=y
CONFIG_HOTPLUG_SMT=y
CONFIG_SENSORS_SPARX5=y
CONFIG_PINCTRL_WMT=y
CONFIG_SERIAL_MXS_AUART=y
CONFIG_MUX_CORE=y
CONFIG_SENSORS_TMP108=y
CONFIG_NFC_MRVL_USB=y
CONFIG_RATIONAL=y
CONFIG_ENCLOSURE_SERVICES=y
CONFIG_IR_MESON_TX=y
CONFIG_GPIO_MB86S7X=y
CONFIG_INTERCONNECT_SAMSUNG=y
CONFIG_COMEDI_DAS800=y
CONFIG_USB_SERIAL_QT2=y
CONFIG_JOYSTICK_TMDC=y
CONFIG_MPL3115=y
CONFIG_DEBUG_PLIST=y
CONFIG_CRC7=y
CONFIG_CM32181=y
CONFIG_PHY_PACKAGE=y
CONFIG_FLATMEM=y
CONFIG_MFD_TPS65086=y
CONFIG_BMI088_ACCEL_I2C=y
CONFIG_USB_MDC800=y
CONFIG_SPRD_UMS512_CLK=y
CONFIG_GENERIC_PINCTRL_GROUPS=y
CONFIG_PINCTRL_PFC_R8A7740=y
CONFIG_HAVE_ARCH_MMAP_RND_BITS=y
CONFIG_DEBUG_FS=y
CONFIG_CRYPTO_DEV_QCOM_RNG=y
CONFIG_COMMON_CLK_HI3516CV300=y
CONFIG_IR_TTUSBIR=y
CONFIG_REGULATOR_TPS65912=y
CONFIG_RENESAS_RZG2LWDT=y
CONFIG_PPS_CLIENT_GPIO=y
CONFIG_CRYPTO_CTR=y
CONFIG_ARCH_CORRECT_STACKTRACE_ON_KRETPROBE=y
CONFIG_PINCTRL_TEGRA114=y
CONFIG_MSA311=y
CONFIG_CRYPTO_SELFTESTS=y
CONFIG_REGULATOR_TPS6105X=y
CONFIG_CRYPTO_AEAD=y
CONFIG_GENERIC_CLOCKEVENTS_MIN_ADJUST=y
CONFIG_SUN50I_H6_R_CCU=y
CONFIG_REGULATOR_RT5739=y
CONFIG_EP93XX_ADC=y
CONFIG_SENSORS_SHTC1=y
CONFIG_GPIB_LPVO=y
CONFIG_MEM_ALLOC_PROFILING_ENABLED_BY_DEFAULT=y
CONFIG_MLX_WDT=y
CONFIG_MFD_MP2629=y
CONFIG_BATTERY_BQ27XXX=y
CONFIG_VIRT_XFER_TO_GUEST_WORK=y
CONFIG_HAVE_GENERIC_VDSO=y
CONFIG_ENCRYPTED_KEYS=y
CONFIG_TOUCHSCREEN_MSG2638=y
CONFIG_PINCTRL_PFC_R8A77980=y
CONFIG_CRYPTO_BLOWFISH_COMMON=y
CONFIG_SERIAL_ATMEL_CONSOLE=y
CONFIG_ARCH_SPLIT_ARG64=y
CONFIG_DIBS=y
CONFIG_TI_TMAG5273=y
CONFIG_TICK_ONESHOT=y
CONFIG_SENSORS_HIH6130=y
CONFIG_SECURITYFS=y
CONFIG_PAGE_IDLE_FLAG=y
CONFIG_GNSS=y
CONFIG_JOYSTICK_PXRC=y
CONFIG_FB_MODE_HELPERS=y
CONFIG_RESET_ATH79=y
CONFIG_REGULATOR_MAX77802=y
CONFIG_PINCTRL_PFC_SH7757=y
CONFIG_GPIO_GENERIC_PLATFORM=y
CONFIG_SENSORS_EMC6W201=y
CONFIG_PINCTRL_CY8C95X0=y
CONFIG_REGULATOR_WM8994=y
CONFIG_COMMON_CLK_MT8186_CAMSYS=y
CONFIG_FB_SYS_IMAGEBLIT=y
CONFIG_HID_RAZER=y
CONFIG_I2C_ALGOBIT=y
CONFIG_TEGRA_EMC_COMMON=y
CONFIG_COMEDI_PCM3724=y
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO_BARE=y
CONFIG_COMMON_CLK_MT2712_MMSYS=y
CONFIG_HAVE_PREEMPT_DYNAMIC=y
CONFIG_HID_SENSOR_HUMIDITY=y
CONFIG_NVME_HWMON=y
CONFIG_RESET_BCM6345=y
CONFIG_USB_M66592=y
CONFIG_GPIO_PCF857X=y
CONFIG_USB_SERIAL_WWAN=y
CONFIG_KCMP=y
CONFIG_SCSI_FC_ATTRS=y
CONFIG_NLS_CODEPAGE_857=y
CONFIG_IO_URING=y
CONFIG_PINCTRL_SH_PFC=y
CONFIG_CPU_SUP_AMD=y
CONFIG_HAVE_KERNEL_LZ4=y
CONFIG_CRYPTO_LZ4=y
CONFIG_RESET_STARFIVE_JH7100=y
CONFIG_ARCH_SUPPORTS_SCHED_MC=y
CONFIG_RMI4_F12=y
CONFIG_SCSI_SPI_ATTRS=y
CONFIG_ARCH_WANTS_DYNAMIC_TASK_STRUCT=y
CONFIG_COMMON_CLK_MT8195_VPPSYS=y
CONFIG_PATA_PARPORT_ON20=y
CONFIG_IR_NUVOTON=y
CONFIG_KVM_MMIO=y
CONFIG_DEVMEM=y
CONFIG_GPIO_TPS65086=y
CONFIG_MTD_GEN_PROBE=y
CONFIG_POSIX_MQUEUE=y
CONFIG_COMMON_CLK_WM831X=y
CONFIG_HAVE_C_RECORDMCOUNT=y
CONFIG_PECI_CPU=y
CONFIG_LIRC=y
CONFIG_CRYPTO_LIB_SHA1=y
CONFIG_MCP4531=y
CONFIG_COMMON_CLK_CDCE706=y
CONFIG_IIO_SIMPLE_DUMMY=y
CONFIG_SENSORS_MLXREG_FAN=y
CONFIG_CLK_R8A779A0=y
CONFIG_I2C_SH_MOBILE=y
CONFIG_ATMEL_SSC=y
CONFIG_TOUCHSCREEN_BU21013=y
CONFIG_KVM_VFIO=y
CONFIG_LOCKDEP=y
CONFIG_TOUCHSCREEN_GOODIX=y
CONFIG_DMI_SCAN_MACHINE_NON_EFI_FALLBACK=y
CONFIG_CRYPTO_ECB=y
CONFIG_CRYPTO_HASH2=y
CONFIG_INPUT_SPARSEKMAP=y
CONFIG_CEC_GPIO=y
CONFIG_CLK_IMX8MQ=y
CONFIG_USB_SERIAL_KOBIL_SCT=y
CONFIG_NPCM7XX_WATCHDOG=y
CONFIG_ASPEED_UART_ROUTING=y
CONFIG_STACKTRACE_SUPPORT=y
CONFIG_GPIO_WM831X=y
CONFIG_CC_HAS_NO_PROFILE_FN_ATTR=y
CONFIG_SPMI_MTK_PMIF=y
CONFIG_ARCH_HAS_NON_OVERLAPPING_ADDRESS_SPACE=y
CONFIG_X86_DISABLED_FEATURE_PKU=y
CONFIG_STIH407_RESET=y
CONFIG_BLK_DEV_BSG_COMMON=y
CONFIG_PATA_LEGACY=y
CONFIG_HW_RANDOM_NPCM=y
CONFIG_ARCH_SUPPORTS_CRASH_HOTPLUG=y
CONFIG_CRYPTO_XXHASH=y
CONFIG_INPUT_TABLET=y
CONFIG_SENSIRION_SGP30=y
CONFIG_JOYSTICK_SENSEHAT=y
CONFIG_PHY_HISI_INNO_USB2=y
CONFIG_CRYPTO_DH=y
CONFIG_PM_DEVFREQ_EVENT=y
CONFIG_PAGE_EXTENSION=y
CONFIG_MXC6255=y
CONFIG_SENSORS_W83627HF=y
CONFIG_INGENIC_CGU_COMMON=y
CONFIG_AD7091R5=y
CONFIG_LEDS_SUN50I_A100=y
CONFIG_JOYSTICK_ADI=y
CONFIG_HAVE_ARCH_WITHIN_STACK_FRAMES=y
CONFIG_DA9052_WATCHDOG=y
CONFIG_VIRTIO_FS=y
CONFIG_TELCLOCK=y
CONFIG_NFC_HCI=y
CONFIG_BCM_KONA_WDT=y
CONFIG_SENSORS_CORSAIR_PSU=y
CONFIG_SENSORS_INA209=y
CONFIG_COMMON_RESET_HI3660=y
CONFIG_ARM64_PLATFORM_DEVICES=y
CONFIG_CRYPTO_FIPS=y
CONFIG_STACKDEPOT=y
CONFIG_I2C_HIX5HD2=y
CONFIG_JOYSTICK_SPACEORB=y
CONFIG_CLK_RCAR_GEN2_CPG=y
CONFIG_FUSE_FS=y
CONFIG_THERMAL_NETLINK=y
CONFIG_GCC10_NO_ARRAY_BOUNDS=y
CONFIG_TASKS_RCU=y
CONFIG_KALLSYMS_SELFTEST=y
CONFIG_REGULATOR_PCA9450=y
CONFIG_ADIN1100_PHY=y
CONFIG_SENSORS_F71805F=y
CONFIG_CLK_RZG2L=y
CONFIG_AT91RM9200_WATCHDOG=y
CONFIG_USB_TEGRA_PHY=y
CONFIG_GPIO_XLP=y
CONFIG_LEDS_TRIGGER_TIMER=y
CONFIG_PHY_DA8XX_USB=y
CONFIG_CLK_RENESAS_DIV6=y
CONFIG_HW_RANDOM_AIROHA=y
CONFIG_GPIO_MENZ127=y
CONFIG_ARCH_SUPPORTS_KMAP_LOCAL_FORCE_MAP=y
CONFIG_REMOTEPROC_CDEV=y
CONFIG_MMC_MXC=y
CONFIG_FB_OPENCORES=y
CONFIG_COMMON_CLK_MT8186_MCUSYS=y
CONFIG_ARCH_HAS_PTE_SPECIAL=y
CONFIG_SENSORS_MCP3021=y
CONFIG_PERF_USE_VMALLOC=y
CONFIG_RESET_BRCMSTB_RESCAL=y
CONFIG_SENSORS_ABITUGURU=y
CONFIG_COMMON_CLK_SI5351=y
CONFIG_NLS_CODEPAGE_775=y
CONFIG_MMC_CQHCI=y
CONFIG_RPMSG=y
CONFIG_HID_REDRAGON=y
CONFIG_DDR=y
CONFIG_DECOMPRESS_LZ4=y
CONFIG_CHARGER_MAX77705=y
CONFIG_PREEMPT_COUNT=y
CONFIG_USB_XHCI_MTK=y
CONFIG_MTD_MAP_BANK_WIDTH_2=y
CONFIG_NFTL=y
CONFIG_FB_VESA=y
CONFIG_HAVE_ARCH_KSTACK_ERASE=y
CONFIG_SOC_IMX9=y
CONFIG_OVERLAY_FS_DEBUG=y
CONFIG_ARCH_MHP_MEMMAP_ON_MEMORY_ENABLE=y
CONFIG_MTD_BLOCK=y
CONFIG_COMPILE_TEST=y
CONFIG_MAXLINEAR_GPHY=y
CONFIG_BALLOON=y
CONFIG_ADXL355_I2C=y
CONFIG_REGULATOR_FIXED_VOLTAGE=y
CONFIG_SCSI_LOWLEVEL=y
CONFIG_CLK_R9A09G057=y
CONFIG_GUEST_PERF_EVENTS=y
CONFIG_PINCTRL_PFC_R8A77995=y
CONFIG_GCOV_PROFILE_RDS=y
CONFIG_PINMUX=y
CONFIG_COMMON_CLK_HI3559A=y
CONFIG_CRYPTO_AEAD2=y
CONFIG_GPIB_NI_USB=y
CONFIG_TOUCHSCREEN_USB_ETT_TC45USB=y
CONFIG_RD_LZMA=y
CONFIG_DECOMPRESS_ZSTD=y
CONFIG_GENERIC_BITREVERSE=y
CONFIG_DIMLIB=y
CONFIG_IIO_TRIGGERED_BUFFER=y
CONFIG_MOUSE_ELAN_I2C=y
CONFIG_COMEDI_8254=y
CONFIG_REGULATOR_MAX77826=y
CONFIG_CEC_NOTIFIER=y
CONFIG_DEBUG_OBJECTS_RCU_HEAD=y
CONFIG_LTC2497=y
CONFIG_HARDENED_USERCOPY=y
CONFIG_EXTCON=y
CONFIG_CRYPTO=y
CONFIG_IIO_ADC_HELPER=y
CONFIG_CRYPTO_DRBG=y
CONFIG_SUN8I_R_CCU=y
CONFIG_HAS_IOPORT=y
CONFIG_WDT=y
CONFIG_GP2AP020A00F=y
CONFIG_T5403=y
CONFIG_LOONGSON1_APB_DMA=y
CONFIG_RPMSG_QCOM_GLINK=y
CONFIG_BMP280_I2C=y
CONFIG_COMMON_CLK_ESWIN=y
CONFIG_X86_PAE=y
CONFIG_GPIO_RASPBERRYPI_EXP=y
CONFIG_USB_DUMMY_HCD=y
CONFIG_SECCOMP_FILTER=y
CONFIG_SAMPLE_TSM_MR=y
CONFIG_PM_SLEEP_SMP=y
CONFIG_COMEDI_II_PCI20KC=y
CONFIG_X86=y
CONFIG_RESET_BRCMSTB=y
CONFIG_STATIC_USERMODEHELPER=y
CONFIG_SATA_GEMINI=y
CONFIG_AD5380=y
CONFIG_I2C_GPIO=y
CONFIG_ZSTD_COMMON=y
CONFIG_SERIAL_8250_OMAP=y
CONFIG_MMA7455=y
CONFIG_NFTL_RW=y
CONFIG_INTEL_POWERCLAMP=y
CONFIG_HIGHMEM=y
CONFIG_REGULATOR_PF0900=y
CONFIG_REGULATOR_RT4801=y
CONFIG_RMI4_I2C=y
CONFIG_NLATTR=y
CONFIG_REGULATOR_LP8755=y
CONFIG_HAVE_PERF_REGS=y
CONFIG_CRYPTO_DEV_ATMEL_SHA204A=y
CONFIG_IIO_SW_DEVICE=y
CONFIG_RPMSG_TTY=y
CONFIG_SUN20I_D1_R_CCU=y
CONFIG_LEDS_TLC591XX=y
CONFIG_REGULATOR_MAX8649=y
CONFIG_SENSORS_SPD5118=y
CONFIG_LCD_CLASS_DEVICE=y
CONFIG_M62332=y
CONFIG_TEST_KSTRTOX=y
CONFIG_SPMI=y
CONFIG_SERIAL_ALTERA_JTAGUART=y
CONFIG_KEYS=y
CONFIG_MFD_TN48M_CPLD=y
CONFIG_IRQ_DOMAIN=y
CONFIG_SENSORS_SHT15=y
CONFIG_HAVE_TRUSTED_KEYS_DEBUG=y
CONFIG_ARCH_HAS_ZONE_DMA_SET=y
CONFIG_ADVANTECH_EC_WDT=y
CONFIG_VIDEO=y
CONFIG_REGULATOR_S5M8767=y
CONFIG_HSC030PA=y
CONFIG_PTP_1588_CLOCK_INES=y
CONFIG_RCAR_GYRO_ADC=y
CONFIG_TOUCHSCREEN_TSC200X_CORE=y
CONFIG_CODE_TAGGING=y
CONFIG_REGULATOR_MT6370=y
CONFIG_SOFT_WATCHDOG_PRETIMEOUT=y
CONFIG_HID_SENSOR_CUSTOM_INTEL_HINGE=y
CONFIG_QUOTACTL=y
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO=y
CONFIG_HAVE_ARCH_THREAD_STRUCT_WHITELIST=y
CONFIG_MICROCODE_INITRD32=y
CONFIG_USB_G_DBGP=y
CONFIG_ADXL313_I2C=y
CONFIG_ZSTD_COMPRESS=y
CONFIG_SPRD_TIMER=y
CONFIG_NETLINK_DIAG=y
CONFIG_PINCTRL_GEMINILAKE=y
CONFIG_DEBUG_IRQFLAGS=y
CONFIG_DAVINCI_WATCHDOG=y
CONFIG_BACKLIGHT_KTZ8866=y
CONFIG_CLK_RK3562=y
CONFIG_AW96103=y
CONFIG_IR_SUNXI=y
CONFIG_REGULATOR_MT6363=y
CONFIG_MPILIB=y
CONFIG_SUN6I_RTC_CCU=y
CONFIG_HW_RANDOM_XGENE=y
CONFIG_ZPA2326=y
CONFIG_SLIM_QCOM_NGD_CTRL=y
CONFIG_DA280=y
CONFIG_PCPU_DEV_REFCNT=y
CONFIG_AHCI_ST=y
CONFIG_RMI4_CORE=y
CONFIG_CRYPTO_SKCIPHER=y
CONFIG_ADC_BATTERY_HELPER=y
CONFIG_HAVE_NMI=y
CONFIG_RESET_NUVOTON_MA35D1=y
CONFIG_SENSORS_GPIO_FAN=y
CONFIG_CRC32=y
CONFIG_PAC1921=y
CONFIG_RENESAS_OSTM=y
CONFIG_INV_MPU6050_I2C=y
CONFIG_ARCH_ENABLE_SPLIT_PMD_PTLOCK=y
CONFIG_LEDS_COBALT_QUBE=y
CONFIG_LOCK_MM_AND_FIND_VMA=y
CONFIG_GPIO_MPSSE=y
CONFIG_COMMON_CLK_FSL_SAI=y
CONFIG_REGULATOR_LP3971=y
CONFIG_MT7621_WDT=y
CONFIG_HDC100X=y
CONFIG_HW_RANDOM_POLARFIRE_SOC=y
CONFIG_COMMON_CLK_MT8188=y
CONFIG_NVMEM_BCM_OCOTP=y
CONFIG_BT_MTK=y
CONFIG_REED_SOLOMON_TEST=y
CONFIG_REGULATOR_RT6190=y
CONFIG_ARCH_USE_CMPXCHG_LOCKREF=y
CONFIG_PINCTRL_PFC_SH7264=y
CONFIG_PAGE_OWNER=y
CONFIG_GPIO_LOONGSON1=y
CONFIG_ARCH_HAS_CURRENT_STACK_POINTER=y
CONFIG_CLK_IMX8MN=y
CONFIG_W83627HF_WDT=y
CONFIG_HAVE_ALIGNED_STRUCT_PAGE=y
CONFIG_USB_SERIAL_CYPRESS_M8=y
CONFIG_HAVE_KVM_IRQCHIP=y
CONFIG_DMA_ENGINE_RAID=y
CONFIG_USB_SERIAL_METRO=y
CONFIG_GPIO_ADP5520=y
CONFIG_ARCH_SUPPORTS_KEXEC=y
CONFIG_SCSI_AHA1740=y
CONFIG_COMMON_CLK_MT6765_GCESYS=y
CONFIG_RPMSG_QCOM_GLINK_RPM=y
CONFIG_TOUCHSCREEN_PENMOUNT=y
CONFIG_MTD_NAND_ECC=y
CONFIG_QCOM_VADC_COMMON=y
CONFIG_ALS31300=y
CONFIG_PINCTRL_PFC_R8A774A1=y
CONFIG_USB_U_SERIAL=y
CONFIG_CRYPTO_HW=y
CONFIG_HID_SENSOR_GYRO_3D=y
CONFIG_HID_GFRM=y
CONFIG_TS72XX_WATCHDOG=y
CONFIG_ARCH_STACKWALK=y
CONFIG_SDP500=y
CONFIG_SERIAL_ATMEL_TTYAT=y
CONFIG_CC_CAN_LINK=y
CONFIG_HAVE_KVM_PM_NOTIFIER=y
CONFIG_INTEL_IXP4XX_EB=y
CONFIG_HDLC=y
CONFIG_XILINX_ZYNQMP_DMA=y
CONFIG_COMMON_CLK_MT2712_MFGCFG=y
CONFIG_GCC_ASM_GOTO_OUTPUT_BROKEN=y
CONFIG_PATA_PARPORT_ATEN=y
CONFIG_RMI4_F1A=y
CONFIG_KS0108=y
CONFIG_PINCTRL_TEGRA30=y
CONFIG_CHARGER_SC2731=y
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST=y
CONFIG_BT_SELFTEST=y
CONFIG_REGULATOR_MT6315=y
CONFIG_ROCKCHIP_SARADC=y
CONFIG_RANDOM32_SELFTEST=y
CONFIG_SENSORS_PT5161L=y
CONFIG_REGULATOR_S2MPS11=y
CONFIG_D3323AA=y
CONFIG_TORTURE_TEST=y
CONFIG_REGULATOR_RT6160=y
CONFIG_CHECKPOINT_RESTORE=y
CONFIG_COMEDI_8255=y
CONFIG_HRTIMER_REARM_DEFERRED=y
CONFIG_CPU_SUP_INTEL=y
CONFIG_RTC_MC146818_LIB=y
CONFIG_IRQ_DOMAIN_HIERARCHY=y
CONFIG_TCG_TIS_I2C_INFINEON=y
CONFIG_HVC_DRIVER=y
CONFIG_SATA_AHCI_SEATTLE=y
CONFIG_OVERLAY_FS_REDIRECT_DIR=y
CONFIG_HID_LENOVO=y
CONFIG_PHY_STM32_COMBOPHY=y
CONFIG_HID_PANTHERLORD=y
CONFIG_HSR=y
CONFIG_DMA_SUN6I=y
CONFIG_MMC_USHC=y
CONFIG_NLS_ISO8859_7=y
CONFIG_VIRTIO_CONSOLE=y
CONFIG_REGULATOR_LTC3676=y
CONFIG_TREE_RCU=y
CONFIG_MMC_DAVINCI=y
CONFIG_COMEDI_ISADMA=y
CONFIG_USB_SERIAL_IPAQ=y
CONFIG_LEDS_LP3944=y
CONFIG_HID_RMI=y
CONFIG_PPS_CLIENT_PARPORT=y
CONFIG_APDS9306=y
CONFIG_USB_SERIAL_EMPEG=y
CONFIG_C101=y
CONFIG_CLK_SOPHGO_SG2042_CLKGEN=y
CONFIG_DMI=y
CONFIG_SENSORS_EMC2103=y
CONFIG_MFD_WM8997=y
CONFIG_PINCTRL_PFC_R8A779A0=y
CONFIG_RCU_DOUBLE_CHECK_CB_TIME=y
CONFIG_SCHED_INFO=y
CONFIG_USB_ISP1301=y
CONFIG_SCSI_DMA=y
CONFIG_VIRTIO_VDPA=y
CONFIG_NLS_CODEPAGE_866=y
CONFIG_USB_DWC3_AM62=y
CONFIG_FAT_DEFAULT_UTF8=y
CONFIG_ARCH_USE_QUEUED_SPINLOCKS=y
CONFIG_STM32_DMA3=y
CONFIG_TCG_TIS=y
CONFIG_HID_TWINHAN=y
CONFIG_RCU_STALL_COMMON=y
CONFIG_RENESAS_I3C=y
CONFIG_VEML6040=y
CONFIG_SGL_ALLOC=y
CONFIG_MLX90632=y
CONFIG_GPIO_RC5T583=y
CONFIG_IT8712F_WDT=y
CONFIG_CLK_R9A09G047=y
CONFIG_DLN2_ADC=y
CONFIG_COMMON_CLK_IPROC=y
CONFIG_COMEDI_DT282X=y
CONFIG_USB_SERIAL_MOS7720=y
CONFIG_SENSORS_MAX6639=y
CONFIG_MUTEX_SPIN_ON_OWNER=y
CONFIG_HID_PETALYNX=y
CONFIG_RMI4_F03=y
CONFIG_QSEMI_PHY=y
CONFIG_XZ_DEC_X86=y
CONFIG_I2C_CBUS_GPIO=y
CONFIG_HID_LOGITECH=y
CONFIG_CRYPTO_DEV_JH7110=y
CONFIG_CRYPTO_CRC32C=y
CONFIG_MODIFY_LDT_SYSCALL=y
CONFIG_AQUANTIA_PHY=y
CONFIG_DEBUG_FS_ALLOW_NONE=y
CONFIG_HID_PICOLCD=y
