CONFIG_MEMFD_CREATE=n
CONFIG_SBITMAP=n
CONFIG_PWRSEQ_SIMPLE=n
CONFIG_ARCH_HAS_DEBUG_VIRTUAL=n
CONFIG_CGROUP_CPUACCT=n
CONFIG_PCI_DOMAINS_GENERIC=n
CONFIG_NVMEM_SUNXI_SID=n
CONFIG_DRM_RADEON=n
CONFIG_FB_DEFERRED_IO=n
CONFIG_ARCH_SUNXI=n
CONFIG_USB_OHCI_HCD_PCI=n
CONFIG_NET_L3_MASTER_DEV=n
CONFIG_CRYPTO_LIB_AES_CBC_MACS=n
CONFIG_VIRTIO_ANCHOR=n
CONFIG_CPU_FREQ_GOV_COMMON=n
CONFIG_STACKTRACE_SUPPORT=n
CONFIG_PCC=n
CONFIG_COMPAT_32BIT_TIME=n
CONFIG_LZO_COMPRESS=n
CONFIG_NVMEM_LAYOUTS=n
CONFIG_CAN_GW=n
CONFIG_ARCH_SUPPORTS_KEXEC_FILE=n
CONFIG_DMA_DIRECT_REMAP=n
CONFIG_GENERIC_PINMUX_FUNCTIONS=n
CONFIG_LTO_NONE=n
CONFIG_NET_VENDOR_8390=n
CONFIG_CLK_STARFIVE_JH7100_AUDIO=n
CONFIG_DM_PERSISTENT_DATA=n
CONFIG_USB_MUSB_HDRC=n
CONFIG_AIO=n
CONFIG_PROC_PAGE_MONITOR=n
CONFIG_RSEQ=n
CONFIG_USB_CONFIGFS_F_FS=n
CONFIG_PATA_TIMINGS=n
CONFIG_USB_STORAGE=n
CONFIG_USB_MUSB_DUAL_ROLE=n
CONFIG_WLAN_VENDOR_TI=n
CONFIG_RISCV_ISA_ZBC=n
CONFIG_HAVE_GIGANTIC_FOLIOS=n
CONFIG_RISCV_COMBO_SPINLOCKS=n
CONFIG_REGULATOR_SPACEMIT_P1=n
CONFIG_SND=n
CONFIG_HAVE_ARCH_JUMP_LABEL=n
CONFIG_PHYLIB=n
CONFIG_INET_TUNNEL=n
CONFIG_CGROUP_HUGETLB=n
CONFIG_INET_ESP=n
CONFIG_REALTEK_PHY=n
CONFIG_HAVE_PCI=n
CONFIG_HAVE_GENERIC_TIF_BITS=n
CONFIG_DRM_GPUVM=n
CONFIG_9P_FS=n
CONFIG_I2C_K1=n
CONFIG_LZ4_DECOMPRESS=n
CONFIG_POWER_SUPPLY_HWMON=n
CONFIG_PADATA=n
CONFIG_BLK_ICQ=n
CONFIG_MOUSE_PS2_SMBUS=n
CONFIG_PHY_SUN4I_USB=n
CONFIG_PCIE_SPACEMIT_K1=n
CONFIG_BLK_DEV_DM=n
CONFIG_INET_DIAG=n
CONFIG_PNFS_FLEXFILE_LAYOUT=n
CONFIG_VIDEO_DEV=n
CONFIG_BPF=n
CONFIG_NLS_ISO8859_1=n
CONFIG_SUNRPC_BACKCHANNEL=n
CONFIG_RATIONAL=n
CONFIG_COMPACTION=n
CONFIG_KVFREE_RCU_BATCHED=n
CONFIG_SND_SOC_SPDIF=n
CONFIG_BACKLIGHT_CLASS_DEVICE=n
CONFIG_NET_9P_VIRTIO=n
CONFIG_RISCV_INTC=n
CONFIG_SECURITY_NETWORK=n
CONFIG_PREEMPT_LAZY=n
CONFIG_PINCTRL_STARFIVE_JH7110_AON=n
CONFIG_HAVE_KERNEL_LZMA=n
CONFIG_BPF_UNPRIV_DEFAULT_OFF=n
CONFIG_CLK_STARFIVE_JH7110_ISP=n
CONFIG_SCSI_PROC_FS=n
CONFIG_XZ_DEC_ARMTHUMB=n
CONFIG_DRM_CLIENT=n
CONFIG_CRYPTO_DEV_VIRTIO=n
CONFIG_CGROUP_NET_PRIO=n
CONFIG_IPVLAN=n
CONFIG_NEED_TASKS_RCU=n
CONFIG_ARCH_HAS_PTDUMP=n
CONFIG_BLK_DEV=n
CONFIG_SCHED_HRTICK=n
CONFIG_SECURITY_APPARMOR_HASH_DEFAULT=n
CONFIG_SPARSEMEM_MANUAL=n
CONFIG_IP_PNP=n
CONFIG_CRYPTO_HASH2=n
CONFIG_PINCTRL_SOPHGO_SG2000=n
CONFIG_RTC_DRV_SUN6I=n
CONFIG_EFI_RUNTIME_WRAPPERS=n
CONFIG_DRM_NOUVEAU=n
CONFIG_DMA_SUN6I=n
CONFIG_MTD_CFI_NOSWAP=n
CONFIG_NET=n
CONFIG_ZSTD_COMPRESS=n
CONFIG_RISCV_SCALAR_MISALIGNED=n
CONFIG_RISCV_ISA_VENDOR_EXT_ANDES=n
CONFIG_VIDEO_V4L2_SUBDEV_API=n
CONFIG_CLK_STARFIVE_JH7110_VOUT=n
CONFIG_IP_VS_NFCT=n
CONFIG_MEMREGION=n
CONFIG_HAVE_ARCH_MMAP_RND_COMPAT_BITS=n
CONFIG_NFS_COMMON=n
CONFIG_MMC_SDHCI_OF_DWCMSHC=n
CONFIG_DECOMPRESS_XZ=n
CONFIG_ACPI_BATTERY=n
CONFIG_CRYPTO_CTS=n
CONFIG_GRACE_PERIOD=n
CONFIG_ARCH_WANT_OPTIMIZE_HUGETLB_VMEMMAP=n
CONFIG_TASKS_RCU_GENERIC=n
CONFIG_MEDIA_PLATFORM_SUPPORT=n
CONFIG_HRTIMER_REARM_DEFERRED=n
CONFIG_CLK_STARFIVE_JH7110_AON=n
CONFIG_VIRTIO_NET=n
CONFIG_NAMESPACES=n
CONFIG_PAGE_POOL=n
CONFIG_GENERIC_PENDING_IRQ=n
CONFIG_KEYS=n
CONFIG_IRQ_FORCED_THREADING=n
CONFIG_FS_MBCACHE=n
CONFIG_RISCV_ISA_ZAWRS=n
CONFIG_NET_VENDOR_MICROSOFT=n
CONFIG_HAVE_KVM_MSI=n
CONFIG_DEBUG_MEMORY_INIT=n
CONFIG_SND_PROC_FS=n
CONFIG_SERIAL_8250_DMA=n
CONFIG_HAVE_ARCH_TRACEHOOK=n
CONFIG_GPIOLIB=n
CONFIG_EFI_GENERIC_STUB=n
CONFIG_HAVE_64BIT_ALIGNED_ACCESS=n
CONFIG_CLK_STARFIVE_JH71X0=n
CONFIG_SPI_FSL_QUADSPI=n
CONFIG_LOCK_DEBUGGING_SUPPORT=n
CONFIG_RISCV_PROBE_VECTOR_UNALIGNED_ACCESS=n
CONFIG_RESET_SPACEMIT_K1=n
CONFIG_ACPI_I2C_OPREGION=n
CONFIG_IPVLAN_L3S=n
CONFIG_DRM_SCHED=n
CONFIG_CRYPTO_KRB5=n
CONFIG_MOUSE_PS2_ALPS=n
CONFIG_DEBUG_KERNEL=n
CONFIG_NET_VENDOR_NI=n
CONFIG_BCMA_POSSIBLE=n
CONFIG_SPLIT_PTE_PTLOCKS=n
CONFIG_NET_VENDOR_XILINX=n
CONFIG_DMA_ENGINE=n
CONFIG_I2C_CHARDEV=n
CONFIG_EDAC_SUPPORT=n
CONFIG_USB_HID=n
CONFIG_SOCK_CGROUP_DATA=n
CONFIG_HAVE_KPROBES=n
CONFIG_VMAP_STACK=n
CONFIG_VLAN_8021Q=n
CONFIG_CRYPTO_SHA512=n
CONFIG_ARCH_USE_SYM_ANNOTATIONS=n
CONFIG_BRANCH_PROFILE_NONE=n
CONFIG_NET_VENDOR_AMD=n
CONFIG_FB_IOMEM_HELPERS=n
CONFIG_ARCH_HAS_ELF_RANDOMIZE=n
CONFIG_LEGACY_PTYS=n
CONFIG_IOMMU_PT=n
CONFIG_NET_VENDOR_NVIDIA=n
CONFIG_FB=n
CONFIG_RD_LZMA=n
CONFIG_PM_CLK=n
CONFIG_SERIO_LIBPS2=n
CONFIG_JOLIET=n
CONFIG_DYNAMIC_EVENTS=n
CONFIG_IRQ_WORK=n
CONFIG_ARCH_HAS_STRICT_MODULE_RWX=n
CONFIG_GCC_ASM_GOTO_OUTPUT_BROKEN=n
CONFIG_IPC_NS=n
CONFIG_SERIAL_SIFIVE=n
CONFIG_WLAN_VENDOR_ADMTEK=n
CONFIG_NET_VENDOR_WIZNET=n
CONFIG_GLOB=n
CONFIG_HAVE_KVM_IRQ_ROUTING=n
CONFIG_RESET_STARFIVE_JH7110=n
CONFIG_NETDEVICES=n
CONFIG_ARCH_DMA_ADDR_T_64BIT=n
CONFIG_USB_XHCI_PCI=n
CONFIG_DECOMPRESS_BZIP2=n
CONFIG_SUNXI_CCU=n
CONFIG_ARCH_SUPPORTS_ACPI=n
CONFIG_NFS_USE_KERNEL_DNS=n
CONFIG_NET_SELFTESTS=n
CONFIG_NET_9P_FD=n
CONFIG_ARCH_STARFIVE=n
CONFIG_ARCH_SUPPORTS_RT=n
CONFIG_PAGE_COUNTER=n
CONFIG_PRINTK_TIME=n
CONFIG_BLK_DEV_INITRD=n
CONFIG_PGTABLE_HAS_HUGE_LEAVES=n
CONFIG_HID_GENERIC=n
CONFIG_RCU_TRACE=n
CONFIG_LEGACY_TIOCSTI=n
CONFIG_RTC_I2C_AND_SPI=n
CONFIG_SUSPEND=n
CONFIG_NET_VENDOR_SPACEMIT=n
CONFIG_HAVE_ARCH_RANDOMIZE_KSTACK_OFFSET=n
CONFIG_CRYPTO_ENGINE=n
CONFIG_SYSVIPC_SYSCTL=n
CONFIG_SATA_PMP=n
CONFIG_ARCH_HAS_CURRENT_STACK_POINTER=n
CONFIG_POWER_RESET=n
CONFIG_GENERIC_CLOCKEVENTS=n
CONFIG_HAVE_KERNEL_XZ=n
CONFIG_TRACING_SUPPORT=n
CONFIG_SND_JACK=n
CONFIG_FB_SYSMEM_HELPERS=n
CONFIG_OID_REGISTRY=n
CONFIG_CRYPTO_CMAC=n
CONFIG_MTD_CFI_UTIL=n
CONFIG_RTC_LIB=n
CONFIG_FB_SYSMEM_HELPERS_DEFERRED=n
CONFIG_COMMON_CLK_ESWIN=n
CONFIG_KEYBOARD_ATKBD=n
CONFIG_RESET_SPACEMIT_COMMON=n
CONFIG_TASKS_RCU=n
CONFIG_NFS_V4_0=n
CONFIG_PM_GENERIC_DOMAINS_OF=n
CONFIG_GENERIC_STRNLEN_USER=n
CONFIG_SUN20I_D1_R_CCU=n
CONFIG_MMC_SDHCI=n
CONFIG_MMU_LAZY_TLB_REFCOUNT=n
CONFIG_NET_VENDOR_ASIX=n
CONFIG_EVENTFD=n
CONFIG_PNPACPI=n
CONFIG_RISCV_ISA_VENDOR_EXT_THEAD=n
CONFIG_NET_VENDOR_EZCHIP=n
CONFIG_FONT_SUPPORT=n
CONFIG_PINCTRL_TH1520=n
CONFIG_HAVE_REGS_AND_STACK_ACCESS_API=n
CONFIG_HAVE_PREEMPT_DYNAMIC_KEY=n
CONFIG_FIX_EARLYCON_MEM=n
CONFIG_CRYPTO_LIB_AES=n
CONFIG_USB_OHCI_HCD=n
CONFIG_DRM_DISPLAY_DP_HELPER=n
CONFIG_MFD_AXP20X=n
CONFIG_NET_VENDOR_VIA=n
CONFIG_DM_THIN_PROVISIONING=n
CONFIG_POWER_RESET_SPACEMIT_P1=n
CONFIG_NET_VENDOR_SOCIONEXT=n
CONFIG_WLAN_VENDOR_ATMEL=n
CONFIG_XZ_DEC_SPARC=n
CONFIG_NOP_TRACER=n
CONFIG_WLAN_VENDOR_REALTEK=n
CONFIG_CPU_PM=n
CONFIG_SND_VERBOSE_PROCFS=n
CONFIG_ERRATA_THEAD=n
CONFIG_MODULES_TREE_LOOKUP=n
CONFIG_ARCH_DMA_DEFAULT_COHERENT=n
CONFIG_BUG=n
CONFIG_TASKS_TRACE_RCU=n
CONFIG_XZ_DEC_RISCV=n
CONFIG_MEDIA_CONTROLLER=n
CONFIG_CRYPTO_SKCIPHER=n
CONFIG_RESET_STARFIVE_JH71X0=n
CONFIG_USB_OHCI_LITTLE_ENDIAN=n
CONFIG_ACPI_MCFG=n
CONFIG_PROC_FS=n
CONFIG_GENERIC_SYSCALL=n
CONFIG_RISCV_ISA_C=n
CONFIG_IP_VS_PROTO_TCP=n
CONFIG_NET_VENDOR_DAVICOM=n
CONFIG_CRYPTO_CAMELLIA=n
CONFIG_KEYBOARD_GPIO=n
CONFIG_ACPI_BUTTON=n
CONFIG_COMPAT_BINFMT_ELF=n
CONFIG_ACPI_SPCR_TABLE=n
CONFIG_NET_NS=n
CONFIG_DRM_NOUVEAU_BACKLIGHT=n
CONFIG_NET_VENDOR_RDC=n
CONFIG_ARCH_HAS_SYNC_DMA_FOR_CPU=n
CONFIG_CRYPTO_GENIV=n
CONFIG_ZSTD_COMMON=n
CONFIG_SERIAL_EARLYCON=n
CONFIG_STACKTRACE=n
CONFIG_PM_GENERIC_DOMAINS_SLEEP=n
CONFIG_BTRFS_FS=n
CONFIG_ATA=n
CONFIG_ARCH_HAS_STRICT_KERNEL_RWX=n
CONFIG_VIRT_XFER_TO_GUEST_WORK=n
CONFIG_SYSCTL_ARCH_UNALIGN_ALLOW=n
CONFIG_IIO=n
CONFIG_SECURITY_PATH=n
CONFIG_WLAN_VENDOR_SILABS=n
CONFIG_ACPI_MDIO=n
CONFIG_SSB_POSSIBLE=n
CONFIG_CRYPTO_LIB_UTILS=n
CONFIG_TOOLCHAIN_HAS_ZBC=n
CONFIG_MMC_SDHCI_OF_K1=n
CONFIG_SERIAL_8250_DWLIB=n
