CONFIG_RISCV_PMU_LEGACY=n
CONFIG_THREAD_INFO_IN_TASK=n
CONFIG_IPVLAN=n
CONFIG_GENERIC_PCI_IOMAP=n
CONFIG_WLAN_VENDOR_ATMEL=n
CONFIG_IPV6=n
CONFIG_ACPI_BUTTON=n
CONFIG_FB_DMAMEM_HELPERS=n
CONFIG_USB_CDNS_SUPPORT=n
CONFIG_DEBUG_MEMORY_INIT=n
CONFIG_STMMAC_ETH=n
CONFIG_COMPAT_BINFMT_ELF=n
CONFIG_OF_GPIO=n
CONFIG_CPU_FREQ=n
CONFIG_WLAN_VENDOR_ATH=n
CONFIG_USB_XHCI_PCI=n
CONFIG_GENERIC_PINCONF=n
CONFIG_BRANCH_PROFILE_NONE=n
CONFIG_HAVE_KERNEL_XZ=n
CONFIG_MMU_NOTIFIER=n
CONFIG_DRM_CLIENT_SETUP=n
CONFIG_RISCV_ISA_V_DEFAULT_ENABLE=n
CONFIG_DRM_FBDEV_EMULATION=n
CONFIG_GPIO_ACPI=n
CONFIG_PINCTRL_SOPHGO_SG2000=n
CONFIG_XFRM_ALGO=n
CONFIG_CC_NO_ARRAY_BOUNDS=n
CONFIG_RESET_CONTROLLER=n
CONFIG_DRM_SCHED=n
CONFIG_FRAMEBUFFER_CONSOLE_DETECT_PRIMARY=n
CONFIG_CRYPTO_AUTHENC=n
CONFIG_EFIVAR_FS=n
CONFIG_CRYPTO_RSA=n
CONFIG_NET_VENDOR_ATHEROS=n
CONFIG_NF_LOG_IPV6=n
CONFIG_HAVE_DEBUG_KMEMLEAK=n
CONFIG_TIME_NS=n
CONFIG_OVERLAY_FS=n
CONFIG_DRM_NOUVEAU_SIL164=n
CONFIG_CRYPTO_SKCIPHER=n
CONFIG_MTD_CFI_NOSWAP=n
CONFIG_MOUSE_PS2_FOCALTECH=n
CONFIG_SECURITYFS=n
CONFIG_CPU_RMAP=n
CONFIG_USB_CDNS3=n
CONFIG_RISCV_ISA_V=n
CONFIG_RISCV_IOMMU_PCI=n
CONFIG_FPU=n
CONFIG_PADATA=n
CONFIG_CRYPTO_DEV_VIRTIO=n
CONFIG_ARCH_HAS_DEBUG_WX=n
CONFIG_MTD_SPI_NOR=n
CONFIG_ATA=n
CONFIG_PNP_DEBUG_MESSAGES=n
CONFIG_XOR_BLOCKS_ARCH=n
CONFIG_SPI_MASTER=n
CONFIG_GPIO_DWAPB=n
CONFIG_DMIID=n
CONFIG_DIMLIB=n
CONFIG_EXT4_FS_SECURITY=n
CONFIG_CRYPTO_SIG=n
CONFIG_HAVE_LD_DEAD_CODE_DATA_ELIMINATION=n
CONFIG_CRYPTO_HASH_INFO=n
CONFIG_CLK_STARFIVE_JH7100=n
CONFIG_HAS_IOPORT_MAP=n
CONFIG_JH71XX_PMU=n
CONFIG_VIRTIO_PCI=n
CONFIG_NAMESPACES=n
CONFIG_NET_VENDOR_SMSC=n
CONFIG_PROFILING=n
CONFIG_NET_VENDOR_WANGXUN=n
CONFIG_CC_IS_GCC=n
CONFIG_NFS_V4_SECURITY_LABEL=n
CONFIG_MQ_IOSCHED_DEADLINE=n
CONFIG_ZISOFS=n
CONFIG_INPUT_KEYBOARD=n
CONFIG_LIBFDT=n
CONFIG_ZSTD_COMPRESS=n
CONFIG_DWMAC_SUN8I=n
CONFIG_MISC_FILESYSTEMS=n
CONFIG_ERRATA_ANDES=n
CONFIG_MTD_CFI_I2=n
CONFIG_SERIO_SERPORT=n
CONFIG_FB_SYSMEM_HELPERS_DEFERRED=n
CONFIG_WLAN_VENDOR_INTERSIL=n
CONFIG_NET_SCHED=n
CONFIG_MFD_CORE=n
CONFIG_DRM_DISPLAY_DP_HELPER=n
CONFIG_RISCV_ISA_ZBA=n
CONFIG_ARCH_HAS_GCOV_PROFILE_ALL=n
CONFIG_DT_IDLE_STATES=n
CONFIG_DECOMPRESS_LZ4=n
CONFIG_SECURITY_APPARMOR=n
CONFIG_MMC_SUNXI=n
CONFIG_CLK_SOPHGO_SG2042_CLKGEN=n
CONFIG_POWER_RESET_SPACEMIT_P1=n
CONFIG_INET_DIAG=n
CONFIG_I2C_ALGOBIT=n
CONFIG_NET_VENDOR_I825XX=n
CONFIG_CPU_PM=n
CONFIG_GENERIC_IRQ_IPI=n
CONFIG_PCIE_ULTRARISC=n
CONFIG_NETDEVICES=n
CONFIG_STACKDEPOT=n
CONFIG_PAGE_MAPCOUNT=n
CONFIG_GENERIC_EARLY_IOREMAP=n
CONFIG_CRYPTO_CTS=n
CONFIG_NET_VENDOR_BROADCOM=n
CONFIG_WIRELESS=n
CONFIG_CLONE_BACKWARDS=n
CONFIG_DEBUG_MISC=n
CONFIG_PT_RECLAIM=n
CONFIG_CC_HAS_INT128=n
CONFIG_GENERIC_IRQ_MULTI_HANDLER=n
CONFIG_DRM_SUN8I_MIXER=n
CONFIG_SWIOTLB=n
CONFIG_USB_EHCI_HCD_PLATFORM=n
CONFIG_MFD_AXP20X_I2C=n
CONFIG_ARCH_HAS_NON_OVERLAPPING_ADDRESS_SPACE=n
CONFIG_USB_F_ACM=n
CONFIG_IOMMU_PT=n
CONFIG_RTC_I2C_AND_SPI=n
CONFIG_NVME_CORE=n
CONFIG_POLARFIRE_SOC_SYSCONS=n
CONFIG_XXHASH=n
CONFIG_MEDIA_HIDE_ANCILLARY_SUBDRV=n
CONFIG_NET_VENDOR_SILAN=n
CONFIG_NET_VENDOR_CAVIUM=n
CONFIG_TENSTORRENT_ATLANTIS_PRCM=n
CONFIG_CPU_FREQ_STAT=n
CONFIG_MTD_SPI_NOR_USE_4K_SECTORS=n
CONFIG_NLS=n
CONFIG_MMC_CQHCI=n
CONFIG_MSDOS_PARTITION=n
CONFIG_PINCTRL_STARFIVE_JH7110_SYS=n
CONFIG_CPU_MITIGATIONS=n
CONFIG_HIGH_RES_TIMERS=n
CONFIG_SND_SOC_JH7110_PWMDAC=n
CONFIG_USB_CDNSP_PCI=n
CONFIG_CPU_FREQ_GOV_POWERSAVE=n
CONFIG_DMA_NEED_SYNC=n
CONFIG_CACHESTAT_SYSCALL=n
CONFIG_SND_SIMPLE_CARD=n
CONFIG_SCHED_MC=n
CONFIG_OF_FLATTREE=n
CONFIG_HAVE_64BIT_ALIGNED_ACCESS=n
CONFIG_MEMCG=n
CONFIG_SCHED_HRTICK=n
CONFIG_CPU_FREQ_DEFAULT_GOV_PERFORMANCE=n
CONFIG_RISCV_DMA_NONCOHERENT=n
CONFIG_XFRM_ESP=n
CONFIG_TREE_RCU=n
CONFIG_STACKPROTECTOR_PER_TASK=n
CONFIG_SERIAL_8250_PCI=n
CONFIG_POWER_SUPPLY_HWMON=n
CONFIG_ARCH_KEEP_MEMBLOCK=n
CONFIG_STACKTRACE_SUPPORT=n
CONFIG_MOUSE_PS2_CYPRESS=n
CONFIG_EPROBE_EVENTS=n
CONFIG_USB_SUPPORT=n
CONFIG_RISCV_IOMMU=n
CONFIG_USB_F_RNDIS=n
CONFIG_PREEMPT_NOTIFIERS=n
CONFIG_NET_VENDOR_STMICRO=n
CONFIG_CRYPTO_SKCIPHER2=n
CONFIG_ARCH_SUPPORTS_KEXEC=n
CONFIG_ARCH_SUPPORTS_PER_VMA_LOCK=n
CONFIG_NET_L3_MASTER_DEV=n
CONFIG_ND_BTT=n
CONFIG_CC_HAS_KASAN_GENERIC=n
CONFIG_MOUSE_PS2_LOGIPS2PP=n
CONFIG_CRYPTO_SIG2=n
CONFIG_USB_F_EEM=n
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO_BARE=n
CONFIG_ZSTD_COMMON=n
CONFIG_CC_HAS_ASM_INLINE=n
CONFIG_SPI_FSL_QUADSPI=n
CONFIG_NET_VENDOR_WIZNET=n
CONFIG_MOUSE_PS2_TRACKPOINT=n
CONFIG_GENERIC_MSI_IRQ=n
CONFIG_BUILDTIME_TABLE_SORT=n
CONFIG_FRAMEBUFFER_CONSOLE=n
CONFIG_USB_CDNS3_PCI_WRAP=n
CONFIG_FB_CFB_IMAGEBLIT=n
CONFIG_HW_RANDOM_VIRTIO=n
CONFIG_GENERIC_CPU_VULNERABILITIES=n
CONFIG_HAVE_ARCH_HUGE_VMALLOC=n
CONFIG_WLAN_VENDOR_PURELIFI=n
CONFIG_BFQ_GROUP_IOSCHED=n
CONFIG_NF_LOG_ARP=n
CONFIG_SUN55I_PCK600=n
CONFIG_NET_VENDOR_REALTEK=n
CONFIG_ARCH_SUPPORTS_UPROBES=n
CONFIG_PM_SLEEP_SMP=n
CONFIG_RD_LZ4=n
CONFIG_OF_IRQ=n
CONFIG_RISCV_ISA_VENDOR_EXT_THEAD=n
CONFIG_FAIR_GROUP_SCHED=n
CONFIG_DEBUG_INFO_NONE=n
CONFIG_NET_VENDOR_AMAZON=n
CONFIG_PNFS_FLEXFILE_LAYOUT=n
CONFIG_FB_SYSMEM_HELPERS=n
CONFIG_PNFS_BLOCK=n
CONFIG_COMMON_CLK_EIC7700=n
CONFIG_ARCH_SUPPORTS_DEBUG_PAGEALLOC=n
CONFIG_CHECKPOINT_RESTORE=n
CONFIG_SCSI=n
CONFIG_SND_SOC_SPDIF=n
CONFIG_SECCOMP_FILTER=n
CONFIG_MIGRATION=n
CONFIG_DRM_NOUVEAU=n
CONFIG_NET_VENDOR_ARC=n
CONFIG_SND_JACK=n
CONFIG_NET_VENDOR_SUN=n
CONFIG_TOOLCHAIN_NEEDS_EXPLICIT_ZICSR_ZIFENCEI=n
CONFIG_NET_DEVLINK=n
CONFIG_HAVE_ARCH_KASAN=n
CONFIG_ARCH_ULTRARISC=n
CONFIG_RISCV_SBI=n
CONFIG_PINCTRL_SUNXI=n
CONFIG_SOCK_RX_QUEUE_MAPPING=n
CONFIG_RPMSG=n
CONFIG_RTC_SYSTOHC=n
CONFIG_RPMSG_VIRTIO=n
CONFIG_GENERIC_PT=n
CONFIG_NF_CONNTRACK_FTP=n
CONFIG_VIRTIO_BLK=n
CONFIG_IO_URING=n
CONFIG_SERIAL_8250_PCILIB=n
CONFIG_SECURITY_SELINUX=n
CONFIG_PWRSEQ_SIMPLE=n
CONFIG_RESET_SPACEMIT_COMMON=n
CONFIG_MTD=n
CONFIG_BUFFER_HEAD=n
CONFIG_PHY_SPACEMIT_K1_PCIE=n
CONFIG_HRTIMER_REARM_DEFERRED=n
CONFIG_XZ_DEC_ARM64=n
CONFIG_HWMON=n
CONFIG_NET_VENDOR_PENSANDO=n
CONFIG_TOOLCHAIN_HAS_ZBKB=n
CONFIG_OVERLAY_FS_REDIRECT_ALWAYS_FOLLOW=n
CONFIG_DM_THIN_PROVISIONING=n
CONFIG_ARCH_HAS_SETUP_DMA_OPS=n
CONFIG_VIRTIO_PCI_LEGACY=n
CONFIG_WLAN_VENDOR_MICROCHIP=n
CONFIG_SPACEMIT_K1_CCU=n
CONFIG_DRM_TTM=n
CONFIG_BQL=n
CONFIG_BINFMT_ELF=n
CONFIG_RD_LZMA=n
CONFIG_POWER_RESET_SYSCON_POWEROFF=n
CONFIG_SOFTIRQ_ON_OWN_STACK=n
CONFIG_I2C_DESIGNWARE_CORE=n
CONFIG_FS_STACK=n
CONFIG_RISCV_ISA_FALLBACK=n
CONFIG_GENERIC_BUG=n
CONFIG_MEDIA_PLATFORM_DRIVERS=n
CONFIG_TASKS_RCU_GENERIC=n
CONFIG_CRYPTO_KPP2=n
CONFIG_GRACE_PERIOD=n
CONFIG_HAVE_HARDLOCKUP_DETECTOR_BUDDY=n
CONFIG_IP_VS_PROTO_TCP=n
CONFIG_PCI=n
CONFIG_TICK_CPU_ACCOUNTING=n
CONFIG_ARCH_HAS_SYNC_CORE_BEFORE_USERMODE=n
CONFIG_DRM_GEM_DMA_HELPER=n
CONFIG_RISCV_ISA_V_PREEMPTIVE=n
CONFIG_DWMAC_GENERIC=n
CONFIG_ARCH_HAS_PMEM_API=n
CONFIG_LD_IS_BFD=n
CONFIG_HAVE_KVM_IRQCHIP=n
CONFIG_DNS_RESOLVER=n
CONFIG_PCI_PWRCTRL_GENERIC=n
CONFIG_RISCV_SBI_CPUIDLE=n
CONFIG_SECURITY_SELINUX_DEVELOP=n
CONFIG_KVM_GENERIC_HARDWARE_ENABLING=n
CONFIG_MMC_SDHCI_OF_K1=n
CONFIG_GENERIC_STRNCPY_FROM_USER=n
CONFIG_WATCHDOG_HANDLE_BOOT_ENABLED=n
CONFIG_CACHEMAINT_FOR_DMA=n
CONFIG_ARCH_HAS_STRICT_KERNEL_RWX=n
CONFIG_GENERIC_PINMUX_FUNCTIONS=n
CONFIG_MFD_SIMPLE_MFD_I2C=n
CONFIG_CRYPTO_ECHAINIV=n
CONFIG_FTRACE=n
CONFIG_SUSPEND_FREEZER=n
CONFIG_IP_VS_PROTO_UDP=n
CONFIG_INTEGRITY=n
CONFIG_VIRTIO_ANCHOR=n
CONFIG_SECURITY_APPARMOR_HASH_DEFAULT=n
CONFIG_GPIO_SIFIVE=n
CONFIG_SKB_EXTENSIONS=n
CONFIG_PGTABLE_HAS_HUGE_LEAVES=n
CONFIG_ARCH_WANTS_NO_INSTR=n
CONFIG_RPS=n
CONFIG_EXT4_FS=n
CONFIG_STRICT_MODULE_RWX=n
CONFIG_DECOMPRESS_BZIP2=n
CONFIG_XPS=n
CONFIG_MOUSE_PS2_ALPS=n
