CONFIG_NFS_FS=n
CONFIG_I2C=n
CONFIG_SUN8I_H3_CCU=n
CONFIG_COMMON_CLK_MT7981=n
CONFIG_COMMON_CLK_VC3=n
CONFIG_ATL1C=n
CONFIG_POWER_RESET_SYSCON=n
CONFIG_RTC_LIB=n
CONFIG_CLK_X1E80100_GPUCC=n
CONFIG_PWM_IMX27=n
CONFIG_MEGARAID_SAS=n
CONFIG_DWMAC_SOPHGO=n
CONFIG_TI_ADS1015=n
CONFIG_DRM_MSM_GPU_STATE=n
CONFIG_PCIE_DW_EP=n
CONFIG_ASPEED_LPC_SNOOP=n
CONFIG_COMMON_CLK_RP1=n
CONFIG_IMX8MM_THERMAL=n
CONFIG_USB_DWC3_EXYNOS=n
CONFIG_DRM_PANEL_BRIDGE=n
CONFIG_MMC_DW_EXYNOS=n
CONFIG_MEDIA_TUNER_TDA8290=n
CONFIG_ARCH_BINFMT_ELF_STATE=n
CONFIG_DRM_DISPLAY_DSC_HELPER=n
CONFIG_FSL_ERRATUM_A008585=n
CONFIG_COMMON_CLK_MT8196_MMSYS=n
CONFIG_PHY_TEGRA_XUSB=n
CONFIG_SUN55I_A523_CCU=n
CONFIG_USB_ULPI=n
CONFIG_PINCTRL_SM8450_LPASS_LPI=n
CONFIG_APPLE_M1_CPU_PMU=n
CONFIG_CORESIGHT_CTI=n
CONFIG_VIRTUALIZATION=n
CONFIG_ARCH_SUPPORTS_SCHED_SMT=n
CONFIG_ARM_SCMI_TRANSPORT_SMC=n
CONFIG_USE_PERCPU_NUMA_NODE_ID=n
CONFIG_TI_K3_DSP_REMOTEPROC=n
CONFIG_ATA_VERBOSE_ERROR=n
CONFIG_DEBUG_INFO=n
CONFIG_PINCTRL_PFC_R8A779A0=n
CONFIG_HISI_PMU=n
CONFIG_SCSI_SAS_ATTRS=n
CONFIG_IO_URING=n
CONFIG_SENSORS_INA3221=n
CONFIG_GPIO_ADP5585=n
CONFIG_DRM_ZYNQMP_DPSUB_AUDIO=n
CONFIG_LIBFDT=n
CONFIG_NET_VENDOR_RENESAS=n
CONFIG_SECURITYFS=n
CONFIG_CEC_NXP_TDA9950=n
CONFIG_POWER_RESET_MACSMC=n
CONFIG_VIDEO_AMPHION_VPU=n
CONFIG_USB_RTL8153_ECM=n
CONFIG_INOTIFY_USER=n
CONFIG_TEE_DMABUF_HEAPS=n
CONFIG_TCG_TPM=n
CONFIG_INTERCONNECT_QCOM_SM8750=n
CONFIG_TRANSPARENT_HUGEPAGE_TMPFS_HUGE_NEVER=n
CONFIG_DRM_IMX8MP_DW_HDMI_BRIDGE=n
CONFIG_GREYBUS_BEAGLEPLAY=n
CONFIG_BT_HCIRSI=n
CONFIG_IMX_SCMI_MISC_EXT=n
CONFIG_NLS=n
CONFIG_POWER_RESET=n
CONFIG_KEYBOARD_SNVS_PWRKEY=n
CONFIG_NET_SCH_TAPRIO=n
CONFIG_CRYPTO_LIB_SM3=n
CONFIG_SCSI_UFS_BSG=n
CONFIG_REGULATOR_GPIO=n
CONFIG_QCA808X_PHY=n
CONFIG_XZ_DEC=n
CONFIG_I2C_SMBUS=n
CONFIG_NFC=n
CONFIG_COMMON_CLK_MT8196_MCUSYS=n
CONFIG_PINCTRL_PFC_R8A77970=n
CONFIG_SM_GPUCC_8350=n
CONFIG_BLOCK_HOLDER_DEPRECATED=n
CONFIG_SH_TIMER_CMT=n
CONFIG_PINCTRL_MT8173=n
CONFIG_TASKSTATS=n
CONFIG_MFD_MAX77620=n
CONFIG_ROCKCHIP_PM_DOMAINS=n
CONFIG_ARCH_ASPEED=n
CONFIG_GENERIC_CLOCKEVENTS=n
CONFIG_MD=n
CONFIG_BTRFS_FS=n
CONFIG_DRM_EXYNOS7_DECON=n
CONFIG_PINCTRL_SUN50I_H6=n
CONFIG_TIMER_PROBE=n
CONFIG_PINCTRL_IPROC_GPIO=n
CONFIG_ARCH_HAS_GENERIC_CRASHKERNEL_RESERVATION=n
CONFIG_CLK_RENESAS_VBATTB=n
CONFIG_DRM_ITE_IT6263=n
CONFIG_SND_SOC_SC7180=n
CONFIG_POWER_SEQUENCING_QCOM_WCN=n
CONFIG_PINCTRL_IMX91=n
CONFIG_V4L_MEM2MEM_DRIVERS=n
CONFIG_DRM_PANEL_SIMPLE=n
CONFIG_OF_GPIO=n
CONFIG_TI_AM335X_ADC=n
CONFIG_PWRSEQ_SIMPLE=n
CONFIG_BCM_SBA_RAID=n
CONFIG_COMMON_CLK_EN7523=n
CONFIG_SERIAL_8250_DW=n
CONFIG_TEGRA_ACONNECT=n
CONFIG_ARCH_R9A09G087=n
CONFIG_MFD_CORE=n
CONFIG_TASK_XACCT=n
CONFIG_SPI_DYNAMIC=n
CONFIG_V4L2_FWNODE=n
CONFIG_CLK_R8A774A1=n
CONFIG_MMC_SDHCI_OF_SPARX5=n
CONFIG_ARCH_TEGRA_194_SOC=n
CONFIG_PINCTRL_RZG2L=n
CONFIG_CLK_KAANAPALI_VIDEOCC=n
CONFIG_SND_SOC_SPDIF=n
CONFIG_ARM_PMU_ACPI=n
CONFIG_SND_SOC_WCD_MBHC=n
CONFIG_INTERCONNECT_IMX=n
CONFIG_NET_SOCK_MSG=n
CONFIG_CRYPTO_LZO=n
CONFIG_TI_K3_SOCINFO=n
CONFIG_ROCKCHIP_DW_DP=n
CONFIG_PCI_PWRCTRL_PWRSEQ=n
CONFIG_S3C2410_WATCHDOG=n
CONFIG_SND_SOC_SOF_IPC3=n
CONFIG_NEED_SG_DMA_LENGTH=n
CONFIG_PINCTRL_MT7622=n
CONFIG_CLK_R8A779G0=n
CONFIG_PRU_REMOTEPROC=n
CONFIG_TYPEC_TCPCI_MAXIM=n
CONFIG_CAN_RX_OFFLOAD=n
CONFIG_ARCH_WANTS_EXECMEM_LATE=n
CONFIG_SND_HDA_CODEC_HDMI=n
CONFIG_LOCALVERSION_AUTO=n
CONFIG_USB_MUSB_HDRC=n
CONFIG_MTD_SST25L=n
CONFIG_DRM_I2C_NXP_TDA998X=n
CONFIG_TIME_NS=n
CONFIG_PCIE_ROCKCHIP_HOST=n
CONFIG_MODULE_UNLOAD=n
CONFIG_DWMAC_GENERIC=n
CONFIG_PCI_XGENE_MSI=n
CONFIG_I2C_HELPER_AUTO=n
CONFIG_PHY_MTK_TPHY=n
CONFIG_DRM_TOSHIBA_TC358768=n
CONFIG_CRYPTO_DEV_FSL_CAAM=n
CONFIG_NET_VENDOR_MARVELL=n
CONFIG_PINCTRL_MESON=n
CONFIG_RTC_DRV_RK808=n
CONFIG_KEYBOARD_GPIO=n
CONFIG_MOUSE_PS2_LOGIPS2PP=n
CONFIG_NVMEM_SPMI_SDAM=n
CONFIG_USB_STORAGE=n
CONFIG_POLARFIRE_SOC_SYSCONS=n
CONFIG_COMMON_CLK_S4_PERIPHERALS=n
CONFIG_ARCH_BERLIN=n
CONFIG_SYSC_R8A779H0=n
CONFIG_CRYPTO_ENGINE=n
CONFIG_PADATA=n
CONFIG_RTC_DRV_RV3028=n
CONFIG_PCIE_CADENCE_HOST=n
CONFIG_PINCTRL_IMX8MN=n
CONFIG_VIDEO_RENESAS_FCP=n
CONFIG_IMX8M_BLK_CTRL=n
CONFIG_PM_CLK=n
CONFIG_USB_NET_CDCETHER=n
CONFIG_TREE_RCU=n
CONFIG_CRYPTO_KRB5=n
CONFIG_MFD_WM8994=n
CONFIG_XZ_DEC_SPARC=n
CONFIG_IMX_SCMI_LMM_DRV=n
CONFIG_XEN_BLKDEV_FRONTEND=n
CONFIG_STM32_TIMER_CNT=n
CONFIG_DWMAC_TEGRA=n
CONFIG_I2C_CHARDEV=n
CONFIG_FSL_ENETC_QOS=n
CONFIG_MFD_SPMI_PMIC=n
CONFIG_PCIE_QCOM_COMMON=n
CONFIG_USB_GADGET=n
CONFIG_MTK_IOMMU=n
CONFIG_WANT_DEV_COREDUMP=n
CONFIG_APERTURE_HELPERS=n
CONFIG_COMMON_CLK_MT8188_VDECSYS=n
CONFIG_PCI_DOMAINS_GENERIC=n
CONFIG_RZG2L_ADC=n
CONFIG_DW_EDMA=n
CONFIG_DRM_PANEL_HIMAX_HX83112A=n
CONFIG_TIME_NS_VDSO=n
CONFIG_MRP=n
CONFIG_SUSPEND_FREEZER=n
CONFIG_SND_SOC_WSA881X=n
CONFIG_SL28CPLD_INTC=n
CONFIG_INTERCONNECT_QCOM_SM6350=n
CONFIG_OVERLAY_FS_REDIRECT_ALWAYS_FOLLOW=n
CONFIG_RTC_HCTOSYS=n
CONFIG_PCI_PASID=n
CONFIG_QCOM_Q6V5_MSS=n
CONFIG_VIDEO_QCOM_IRIS=n
CONFIG_DRM_ETNAVIV_THERMAL=n
CONFIG_MT76_CONNAC_LIB=n
CONFIG_SND_SOC_RT5645=n
CONFIG_IP_PNP_BOOTP=n
CONFIG_RESET_MESON_AUDIO_ARB=n
CONFIG_SDM_DISPCC_845=n
CONFIG_PCIE_DW_HOST=n
CONFIG_XEN_PCIDEV_STUB=n
CONFIG_FB_NOTIFY=n
CONFIG_BLK_DEV_DM_BUILTIN=n
CONFIG_THERMAL_DEFAULT_GOV_STEP_WISE=n
CONFIG_SCSI_MOD=n
CONFIG_ATA=n
CONFIG_DRM_LIMA=n
CONFIG_PINCTRL_PFC_R8A779G0=n
CONFIG_NETFILTER_SKIP_EGRESS=n
CONFIG_PINCTRL_BRCMSTB=n
CONFIG_SUNXI_NMI_INTC=n
CONFIG_CMA_SIZE_SEL_MBYTES=n
CONFIG_REGULATOR_MT6357=n
CONFIG_CLK_R9A09G077=n
CONFIG_REGULATOR_MP8859=n
CONFIG_CC_NO_ARRAY_BOUNDS=n
CONFIG_USB_CONFIGFS=n
CONFIG_TASK_IO_ACCOUNTING=n
CONFIG_HAVE_GENERIC_VDSO=n
CONFIG_SND_SOC_WM8962=n
CONFIG_FPGA_REGION=n
CONFIG_ARCH_USE_QUEUED_SPINLOCKS=n
CONFIG_DRM_MESON_DW_MIPI_DSI=n
CONFIG_PWM_ROCKCHIP=n
CONFIG_NFS_V3=n
CONFIG_XZ_DEC_RISCV=n
CONFIG_K3_THERMAL=n
CONFIG_MICROSEMI_PHY=n
CONFIG_SPI_FSL_LPSPI=n
CONFIG_RFKILL_GPIO=n
CONFIG_CROS_TYPEC_SWITCH=n
CONFIG_ACPI_BATTERY=n
CONFIG_IIO_ST_MAGN_I2C_3AXIS=n
CONFIG_PCIE_ROCKCHIP=n
CONFIG_USB_CHIPIDEA=n
CONFIG_ROCKCHIP_SARADC=n
CONFIG_CRYPTO_SHA3=n
CONFIG_RFKILL_LEDS=n
CONFIG_ATH10K_SDIO=n
CONFIG_GRO_CELLS=n
CONFIG_COMMON_CLK_C3_PERIPHERALS=n
CONFIG_ARCH_SUPPORTS_SCHED_CLUSTER=n
CONFIG_CONFIGFS_FS=n
CONFIG_SND_SOC_SOF_OF_DEV=n
CONFIG_BCM_VIDEOCORE=n
CONFIG_DRM_RCAR_DU=n
CONFIG_STUB_CLK_HI3660=n
CONFIG_USB_CONFIGFS_ACM=n
CONFIG_MUTEX_SPIN_ON_OWNER=n
CONFIG_EC_LENOVO_YOGA_C630=n
CONFIG_PCIE_RCAR_GEN4=n
CONFIG_GPIO_UNIPHIER=n
CONFIG_COMMON_CLK_MT6765=n
CONFIG_MTK_DEVAPC=n
CONFIG_SOC_IMX8M=n
CONFIG_MTK_THERMAL=n
CONFIG_OMAP_USB2=n
CONFIG_PHY_ROCKCHIP_EMMC=n
CONFIG_DRM_NOUVEAU_SIL164=n
CONFIG_AUDIT=n
CONFIG_SC_CAMCC_7280=n
CONFIG_MAX9611=n
CONFIG_SYSC_R8A779A0=n
CONFIG_SPI_MT65XX=n
CONFIG_VCHIQ_CDEV=n
CONFIG_QCOM_WCNSS_CTRL=n
CONFIG_VIDEO_QCOM_VENUS=n
CONFIG_BATTERY_BQ27XXX_I2C=n
CONFIG_DRM_NOUVEAU_CH7006=n
CONFIG_THERMAL=n
CONFIG_DRM_PANEL_ORIENTATION_QUIRKS=n
CONFIG_NEED_DMA_MAP_STATE=n
CONFIG_NXP_ENETC4=n
CONFIG_VEXPRESS_CONFIG=n
CONFIG_RENESAS_RZV2H_ICU=n
CONFIG_FUSE_FS=n
CONFIG_SERIAL_AMBA_PL011=n
CONFIG_PNFS_FLEXFILE_LAYOUT=n
CONFIG_INPUT_XEN_KBDDEV_FRONTEND=n
CONFIG_CRYPTO_LIB_GF128MUL=n
CONFIG_FAT_FS=n
CONFIG_VIDEO_IMX8_ISI_M2M=n
CONFIG_PM=n
CONFIG_SND_SOC_SGTL5000=n
CONFIG_NET_VENDOR_REALTEK=n
CONFIG_SND_SOC_RCAR=n
CONFIG_PCI_SYSCALL=n
CONFIG_HAVE_STACKPROTECTOR=n
CONFIG_V4L2_MEM2MEM_DEV=n
CONFIG_REGULATOR_LP873X=n
CONFIG_MTD_NAND_DENALI=n
CONFIG_HAVE_ARCH_PREL32_RELOCATIONS=n
CONFIG_DTC=n
CONFIG_INPUT_LEDS=n
