CONFIG_NET_DSA_TAG_RZN1_A5PSW=y
CONFIG_DNS_RESOLVER=y
CONFIG_FS_POSIX_ACL=y
CONFIG_LOGO=y
CONFIG_FPGA_DFL_PCI=y
CONFIG_BLK_SED_OPAL=y
CONFIG_COMMON_CLK_MT6795_VDECSYS=y
CONFIG_HAVE_ARCH_PREL32_RELOCATIONS=y
CONFIG_GPIB_NEC7210=y
CONFIG_ASYMMETRIC_KEY_TYPE=y
CONFIG_VIDEOMODE_HELPERS=y
CONFIG_NPCM7XX_KCS_IPMI_BMC=y
CONFIG_FPGA_DFL=y
CONFIG_FS_IOMAP=y
CONFIG_TIMER_PROBE=y
CONFIG_MFD_STM32_TIMERS=y
CONFIG_COMMON_CLK_MT6765_MIPI0ASYS=y
CONFIG_CLK_RASPBERRYPI=y
CONFIG_SPI_HISI_SFC_V3XX=y
CONFIG_I2C_CGBC=y
CONFIG_HAVE_EBPF_JIT=y
CONFIG_NLS_KOI8_R=y
CONFIG_MFD_TPS6594=y
CONFIG_MFD_ROHM_BD957XMUF=y
CONFIG_REGULATOR_88PM886=y
CONFIG_INET_UDP_DIAG=y
CONFIG_USB_PHY=y
CONFIG_CRYPTO_KRB5ENC=y
CONFIG_KALLSYMS=y
CONFIG_USB_CONN_GPIO=y
CONFIG_B53_SPI_DRIVER=y
CONFIG_NET_DSA_TAG_BRCM=y
CONFIG_CRYPTO_CMAC=y
CONFIG_BATTERY_SBS=y
CONFIG_SONYPI=y
CONFIG_PHY_SPACEMIT_K1_USB2=y
CONFIG_SENSORS_MAX6639=y
CONFIG_BCM2711_THERMAL=y
CONFIG_PINCTRL_MTK_MOORE=y
CONFIG_MFD_MAX77693=y
CONFIG_DEVFREQ_THERMAL=y
CONFIG_HAVE_ARCH_KGDB=y
CONFIG_HAVE_NMI=y
CONFIG_GPIO_VIPERBOARD=y
CONFIG_CRYPTO_ECB=y
CONFIG_LEDS_MC13783=y
CONFIG_NLS_MAC_TURKISH=y
CONFIG_OF_IRQ=y
CONFIG_THREAD_INFO_IN_TASK=y
CONFIG_INPUT_DA9052_ONKEY=y
CONFIG_SPARSEMEM=y
CONFIG_SPI_ST_SSC4=y
CONFIG_SENSORS_ADT7411=y
CONFIG_BT_HCIBTUSB_BCM=y
CONFIG_GPIO_RDA=y
CONFIG_SENSORS_MP5990=y
CONFIG_NLS_MAC_CYRILLIC=y
CONFIG_SUNIV_F1C100S_CCU=y
CONFIG_SPI_TLE62X0=y
CONFIG_GPIO_SHARED=y
CONFIG_RMI4_2D_SENSOR=y
CONFIG_PINCTRL_SINGLE=y
CONFIG_GPIO_DA9055=y
CONFIG_GPIO_DS4520=y
CONFIG_LTO_NONE=y
CONFIG_ARCH_USE_SYM_ANNOTATIONS=y
CONFIG_MFD_DA9150=y
CONFIG_CACHEFILES=y
CONFIG_EDAC_E7XXX=y
CONFIG_SOFTIRQ_ON_OWN_STACK=y
CONFIG_INET_XFRM_TUNNEL=y
CONFIG_GENERIC_IRQ_DEBUGFS=y
CONFIG_BACKLIGHT_LM3639=y
CONFIG_COMMON_CLK_MT8195_VDOSYS=y
CONFIG_PHY_OCELOT_SERDES=y
CONFIG_NET_SOCK_MSG=y
CONFIG_I2C_SLAVE_EEPROM=y
CONFIG_LMK04832=y
CONFIG_EDAC_MEM_REPAIR=y
CONFIG_PERF_EVENTS_AMD_BRS=y
CONFIG_FB_GEODE_GX1=y
CONFIG_SENSORS_PWM_FAN=y
CONFIG_USB_SERIAL_FTDI_SIO=y
CONFIG_ARCH_STACKWALK=y
CONFIG_PM_OPP=y
CONFIG_TLS=y
CONFIG_HEADERS_INSTALL=y
CONFIG_ARCH_HAS_PREEMPT_LAZY=y
CONFIG_RESET_UNIPHIER=y
CONFIG_USB_DWC2_DUAL_ROLE=y
CONFIG_MFD_MAX77650=y
CONFIG_SERIO_ALTERA_PS2=y
CONFIG_CC_HAS_RETURN_THUNK=y
CONFIG_CLK_R8A779H0=y
CONFIG_CC_HAS_WORKING_NOSANITIZE_ADDRESS=y
CONFIG_MFD_TPS65217=y
CONFIG_AF_RXRPC=y
CONFIG_XFRM_MIGRATE=y
CONFIG_JZ4780_NEMC=y
CONFIG_SERIAL_VT8500=y
CONFIG_USB_NET_CDC_MBIM=y
CONFIG_CHARGER_MAX77976=y
CONFIG_HAVE_SETUP_PER_CPU_AREA=y
CONFIG_PHY_FSL_LYNX_CORE=y
CONFIG_APPLE_DART=y
CONFIG_IPMI_WATCHDOG=y
CONFIG_USB_XHCI_PCI_PROM21=y
CONFIG_RESET_PISTACHIO=y
CONFIG_SUN4I_A10_CCU=y
CONFIG_CC_HAS_NAMED_AS=y
CONFIG_RTC_LIB=y
CONFIG_MFD_MAX7360=y
CONFIG_GPIO_XGENE_SB=y
CONFIG_ALTERA_PR_IP_CORE=y
CONFIG_SERIO_I8042=y
CONFIG_HAVE_GENERIC_VDSO=y
CONFIG_TEST_HEXDUMP=y
CONFIG_SERIAL_OMAP=y
CONFIG_TCG_ATMEL=y
CONFIG_IMX_GPCV2_PM_DOMAINS=y
CONFIG_PHY_HI6220_USB=y
CONFIG_LEDS_LM3532=y
CONFIG_GENERIC_GETTIMEOFDAY=y
CONFIG_INPUT_DA7280_HAPTICS=y
CONFIG_REGULATOR_RTMV20=y
CONFIG_PHY_MAPPHONE_MDM6600=y
CONFIG_NET_DSA_MICROCHIP_KSZ8863_SMI=y
CONFIG_MFD_88PM886_PMIC=y
CONFIG_RANDOMIZE_BASE=y
CONFIG_SENSORS_MAX16065=y
CONFIG_GENERIC_PHY=y
CONFIG_F2FS_FS_XATTR=y
CONFIG_QCOM_RAMP_CTRL=y
CONFIG_LEDS_LP3944=y
CONFIG_CRYPTO_AKCIPHER2=y
CONFIG_ENCRYPTED_KEYS=y
CONFIG_NFC_ST_NCI_SPI=y
CONFIG_PINCTRL_PFC_R8A77995=y
CONFIG_USB_SERIAL_OTI6858=y
CONFIG_MFD_TPS65090=y
CONFIG_ASPEED_AST2700_INTC=y
CONFIG_HAVE_POSIX_CPU_TIMERS_TASK_WORK=y
CONFIG_RPMSG_QCOM_GLINK=y
CONFIG_I2C_TAOS_EVM=y
CONFIG_NVRAM=y
CONFIG_FIRMWARE_EDID=y
CONFIG_FB_SYS_FILLRECT=y
CONFIG_MDIO_XGENE=y
CONFIG_I2C_NOMADIK=y
CONFIG_REGULATOR_TPS6594=y
CONFIG_LCD_CLASS_DEVICE=y
CONFIG_PINCTRL_AS3722=y
CONFIG_MFD_SEC_I2C=y
CONFIG_BT_HCIUART_AG6XX=y
CONFIG_USB_F_SUBSET=y
CONFIG_GENERIC_NET_UTILS=y
CONFIG_PAGE_POOL_STATS=y
CONFIG_SMBFS=y
CONFIG_GPIO_MAX77650=y
CONFIG_CRYPTO_CAMELLIA=y
CONFIG_USB_AMD5536UDC=y
CONFIG_PINCTRL_IMX6SL=y
CONFIG_SENSORS_I5K_AMB=y
CONFIG_OMAP5_THERMAL=y
CONFIG_I2C_MUX_PCA9541=y
CONFIG_ARCH_SUPPORTS_KEXEC_BZIMAGE_VERIFY_SIG=y
CONFIG_PINCTRL_TEGRA186=y
CONFIG_MFD_VIPERBOARD=y
CONFIG_NFC_HCI=y
CONFIG_MFD_TQMX86=y
CONFIG_SENSORS_LAN966X=y
CONFIG_PCS_RZN1_MIIC=y
CONFIG_REGULATOR_TPS51632=y
CONFIG_SENSORS_MAX20730=y
CONFIG_MSTAR_MSC313_MPLL=y
CONFIG_INGENIC_CGU_JZ4755=y
CONFIG_INPUT_FF_MEMLESS=y
CONFIG_FDDI=y
CONFIG_PHY_RZ_G3E_USB3=y
CONFIG_PINCTRL_MESON_A1=y
CONFIG_SERIAL_SAMSUNG_CONSOLE=y
CONFIG_MFD_RK8XX=y
CONFIG_PVPANIC=y
CONFIG_PINCTRL_TI_IODELAY=y
CONFIG_I2C_UNIPHIER_F=y
CONFIG_COMMON_CLK_MT6735_MFGCFG=y
CONFIG_MFD_CPCAP=y
CONFIG_SENSORS_XDPE122=y
CONFIG_USB_PULSE8_CEC=y
CONFIG_MOXTET=y
CONFIG_SENSORS_IT87=y
CONFIG_I2C_DAVINCI=y
CONFIG_TEST_MAPLE_TREE=y
CONFIG_DCB=y
CONFIG_SAMPLE_PIDFD=y
CONFIG_COMMON_CLK_MT8173_VDECSYS=y
CONFIG_HAVE_KERNEL_XZ=y
CONFIG_HZ_300=y
CONFIG_USB_EPSON2888=y
CONFIG_OWL_TIMER=y
CONFIG_COMMON_CLK_MT8186_IMGSYS=y
CONFIG_SENSORS_LTC2978_REGULATOR=y
CONFIG_MDIO_BUS_MUX_MMIOREG=y
CONFIG_ARCH_CONFIGURES_CPU_MITIGATIONS=y
CONFIG_RESET_MESON=y
CONFIG_USB_SNP_UDC_PLAT=y
CONFIG_USE_X86_SEG_SUPPORT=y
CONFIG_SPI_ATCSPI200=y
CONFIG_PINCTRL_STARFIVE_JH7110_SYS=y
CONFIG_INTEL_HFI_THERMAL=y
CONFIG_CRYPTO_XCBC=y
CONFIG_PINCTRL_SPRD=y
CONFIG_COMMON_CLK_ESWIN=y
CONFIG_BACKLIGHT_MAX25014=y
CONFIG_HAVE_KRETPROBES=y
CONFIG_USB_F_MASS_STORAGE=y
CONFIG_LEDS_TI_LMU_COMMON=y
CONFIG_PCI_EXYNOS=y
CONFIG_DAMON_RECLAIM=y
CONFIG_COMMON_CLK_MT8183_IPU_ADL=y
CONFIG_GPIO_MAX7301=y
CONFIG_REGULATOR_RT6245=y
CONFIG_I2C_MUX=y
CONFIG_OCFS2_FS=y
CONFIG_QCA83XX_PHY=y
CONFIG_ARCH_HAS_GCOV_PROFILE_ALL=y
CONFIG_NF_REJECT_IPV4=y
CONFIG_CRYPTO_LIB_SHA3=y
CONFIG_SCHED_OMIT_FRAME_POINTER=y
CONFIG_RD_LZMA=y
CONFIG_BACKLIGHT_MAX8925=y
CONFIG_CRYPTO_MLDSA=y
CONFIG_PHY_MESON_G12A_MIPI_DPHY_ANALOG=y
CONFIG_CRYPTO_NULL=y
CONFIG_MODULES_USE_ELF_REL=y
CONFIG_INTEL_TH=y
CONFIG_VT=y
CONFIG_W1_MASTER_GPIO=y
CONFIG_DNOTIFY=y
CONFIG_VT_CONSOLE=y
CONFIG_PRIME_NUMBERS=y
CONFIG_NFC_PN533_I2C=y
CONFIG_INGENIC_CGU_COMMON=y
CONFIG_CPU_SUP_ZHAOXIN=y
CONFIG_SERIAL_JSM=y
CONFIG_I2C_ALGOBIT=y
CONFIG_OPENVSWITCH=y
CONFIG_PHY_HISI_INNO_USB2=y
CONFIG_AIO=y
CONFIG_CLK_R8A7792=y
CONFIG_SPI_RB4XX=y
CONFIG_COMMON_CLK_MT8195_IMGSYS=y
CONFIG_PCIE_CADENCE_PLAT_HOST=y
CONFIG_PINCTRL_CEDARFORK=y
CONFIG_HAVE_DYNAMIC_FTRACE_NO_PATCHABLE=y
CONFIG_SPI_LANTIQ_SSC=y
CONFIG_INPUT_KEYSPAN_REMOTE=y
CONFIG_GENERIC_IRQ_CHIP=y
CONFIG_REGULATOR_RT8092=y
CONFIG_MTK_SVS=y
CONFIG_MDIO_REALTEK_RTL9300=y
CONFIG_AD525X_DPOT_I2C=y
CONFIG_NFC_MRVL_SPI=y
CONFIG_MTK_TIMER=y
CONFIG_NETWORK_FILESYSTEMS=y
CONFIG_REGULATOR_MPQ7920=y
CONFIG_CLK_BCM_NSP=y
CONFIG_HAVE_MMIOTRACE_SUPPORT=y
CONFIG_GPIO_VX855=y
CONFIG_PHY_ROCKCHIP_DPHY_RX0=y
CONFIG_ARCH_SUPPORTS_UPROBES=y
CONFIG_CB710_CORE=y
CONFIG_CIFS_XATTR=y
CONFIG_FB_CFB_IMAGEBLIT=y
CONFIG_NLS_KOI8_U=y
CONFIG_ADC_BATTERY_HELPER=y
CONFIG_USB_ADUTUX=y
CONFIG_FHANDLE=y
CONFIG_COMMON_CLK_ROCKCHIP=y
CONFIG_RANDSTRUCT_NONE=y
CONFIG_INPUT_AD714X_SPI=y
CONFIG_PHY_ROCKCHIP_SAMSUNG_HDPTX=y
CONFIG_MFD_MAX77843=y
CONFIG_SCSI_MVUMI=y
CONFIG_USB_TMC=y
CONFIG_ARCH_HAS_SET_MEMORY=y
CONFIG_HTE=y
CONFIG_SENSORS_LX1308=y
CONFIG_MFD_TPS65912=y
CONFIG_BCM_PMB=y
CONFIG_LEDS_IS31FL32XX=y
CONFIG_COMMON_CLK_MT6765_IMGSYS=y
CONFIG_MFD_WM8350=y
CONFIG_ARCH_HAVE_EXTRA_ELF_NOTES=y
CONFIG_GPIO_FXL6408=y
CONFIG_LOCKDEP_SUPPORT=y
CONFIG_QCOM_SCM=y
CONFIG_REGULATOR_PF0900=y
CONFIG_NET_DSA_TAG_MXL_862XX=y
CONFIG_REGULATOR_MAX8907=y
CONFIG_SCSI_SPI_ATTRS=y
CONFIG_NETFILTER=y
CONFIG_SSB_PCIHOST_POSSIBLE=y
CONFIG_PAGE_SIZE_LESS_THAN_256KB=y
CONFIG_CLK_SUNXI_CLOCKS=y
CONFIG_GPIO_BD9571MWV=y
CONFIG_ARCH_HAS_DEBUG_VIRTUAL=y
CONFIG_COMMON_CLK_VC5=y
CONFIG_USB_HSIC_USB4604=y
CONFIG_PCI_HOST_THUNDER_ECAM=y
CONFIG_104_QUAD_8=y
CONFIG_SPI_XLP=y
CONFIG_STM_SOURCE_CONSOLE=y
CONFIG_ARMV7M_SYSTICK=y
CONFIG_SUN50I_H6_CCU=y
CONFIG_HWMON=y
CONFIG_MTK_VCP_MBOX=y
CONFIG_USB_SL811_HCD=y
CONFIG_PHY_ROCKCHIP_INNO_CSIDPHY=y
CONFIG_DAMON_PADDR=y
CONFIG_PINCTRL_IMX=y
CONFIG_PHY_MESON_G12A_USB3_PCIE=y
CONFIG_IBM_ASM=y
CONFIG_USB_MTU3_DUAL_ROLE=y
CONFIG_DEFXX=y
CONFIG_X86_DEBUGCTLMSR=y
CONFIG_PINCTRL_SOPHGO_SG2042=y
CONFIG_FB_SH_MOBILE_LCDC=y
CONFIG_I2C_VIPERBOARD=y
CONFIG_USB_ATM=y
CONFIG_NVME_FC=y
CONFIG_VIRTIO_NET=y
CONFIG_PCI_HOST_COMMON=y
CONFIG_XARRAY_MULTI=y
CONFIG_ARCNET_RAW=y
CONFIG_NEED_SG_DMA_LENGTH=y
CONFIG_STM_PROTO_SYS_T=y
CONFIG_MTK_CMDQ_MBOX=y
CONFIG_EXCLUSIVE_SYSTEM_RAM=y
CONFIG_GPIO_IMX_SCU=y
CONFIG_NET_DSA_REALTEK=y
CONFIG_EXTCON_GPIO=y
CONFIG_FB_ATMEL=y
CONFIG_PCI=y
CONFIG_BRCMSTB_MEMC=y
CONFIG_HAVE_KERNEL_BZIP2=y
CONFIG_SERIAL_UARTLITE=y
CONFIG_CRYPTO_USER_API_HASH=y
CONFIG_CEC_SECO=y
CONFIG_SSIF_IPMI_BMC=y
CONFIG_BINFMT_ELF=y
CONFIG_NLS_ISO8859_5=y
CONFIG_GOOGLE_FRAMEBUFFER_COREBOOT=y
CONFIG_EEPROM_AT24=y
CONFIG_PCIE_RCAR_GEN4_HOST=y
CONFIG_SPI_AMLOGIC_SPISG=y
CONFIG_SERIAL_TEGRA_UTC=y
CONFIG_HAVE_ARCH_THREAD_STRUCT_WHITELIST=y
CONFIG_SENSORS_ACBEL_FSG032=y
CONFIG_ARCH_SUPPORTS_HUGETLBFS=y
CONFIG_REGULATOR_PFUZE100=y
CONFIG_MFD_TWL4030_AUDIO=y
CONFIG_RD_GZIP=y
CONFIG_PERF_EVENTS_INTEL_RAPL=y
CONFIG_GPIO_LATCH=y
CONFIG_SWPHY=y
CONFIG_RESET_TEGRA_BPMP=y
CONFIG_USB_F_SS_LB=y
CONFIG_MFD_STPMIC1=y
CONFIG_CLK_EMEV2=y
CONFIG_SPRD_SC9860_CLK=y
CONFIG_L2TP_V3=y
CONFIG_COMMON_CLK_MT8196_MCUSYS=y
CONFIG_USB_SERIAL_QUALCOMM=y
CONFIG_LEDS_MAX5970=y
CONFIG_RZG3E_THERMAL=y
CONFIG_HAVE_REGS_AND_STACK_ACCESS_API=y
CONFIG_MISC_RTSX=y
CONFIG_W1_MASTER_MATROX=y
CONFIG_ARCH_USE_QUEUED_RWLOCKS=y
CONFIG_RESET_EYEQ=y
CONFIG_X86_DISABLED_FEATURE_RETPOLINE_LFENCE=y
CONFIG_THERMAL_MMIO=y
CONFIG_CRYPTO_DH_RFC7919_GROUPS=y
CONFIG_PUNIT_ATOM_DEBUG=y
CONFIG_SUN20I_D1_CCU=y
CONFIG_HAVE_FUNCTION_GRAPH_FREGS=y
CONFIG_TRANSPARENT_HUGEPAGE_SHMEM_HUGE_ADVISE=y
CONFIG_LEDS_REGULATOR=y
CONFIG_CRYPTO_CHACHA20=y
CONFIG_RESET_K230=y
CONFIG_CC_NO_ARRAY_BOUNDS=y
CONFIG_INTEL_MEI_LB=y
CONFIG_ZRAM_MULTI_COMP=y
CONFIG_I2C_ASPEED=y
CONFIG_SPI_HISI_KUNPENG=y
CONFIG_USB_SERIAL_F8153X=y
CONFIG_GPIO_LPC32XX=y
CONFIG_IOMMU_PT_RISCV64=y
CONFIG_PINCTRL_BERLIN=y
CONFIG_FORCE_NR_CPUS=y
CONFIG_CLK_PX30=y
CONFIG_PINCTRL_TEGRA114=y
CONFIG_TIMER_OF=y
CONFIG_PCIE_MOBIVEIL_HOST=y
CONFIG_USB_SERIAL_KLSI=y
CONFIG_SENSORS_LM77=y
CONFIG_NET_DSA_TAG_BRCM_COMMON=y
CONFIG_USB_OHCI_HCD_S3C2410=y
CONFIG_PM_GENERIC_DOMAINS=y
CONFIG_LEDS_SY7802=y
CONFIG_BACKLIGHT_QCOM_WLED=y
CONFIG_PHY_ST_SPEAR1340_MIPHY=y
CONFIG_SENSORS_MP2856=y
CONFIG_SCSI_PM8001=y
CONFIG_TELCLOCK=y
CONFIG_CLZ_TAB=y
CONFIG_PHY_FSL_IMX8M_PCIE=y
CONFIG_EDAC_I5100=y
CONFIG_PINCTRL_PFC_R8A7778=y
CONFIG_X86_DISABLED_FEATURE_LASS=y
CONFIG_ARCH_HAS_CURRENT_STACK_POINTER=y
CONFIG_HUGETLBFS=y
CONFIG_USB_OHCI_HCD_AT91=y
CONFIG_SLUB_DEBUG=y
CONFIG_GPIB_LPVO=y
CONFIG_USB_OHCI_LITTLE_ENDIAN=y
CONFIG_COMMON_CLK_MT8195_WPESYS=y
CONFIG_MFD_SYSCON=y
CONFIG_MLXREG_HOTPLUG=y
CONFIG_INET_TUNNEL=y
CONFIG_PINCTRL_PFC_SHX3=y
CONFIG_ZRAM_DEF_COMP_LZORLE=y
CONFIG_PM_DEVFREQ=y
CONFIG_PCI_DOMAINS=y
CONFIG_SENSORS_INA238=y
CONFIG_RAS=y
CONFIG_USB_SL811_HCD_ISO=y
CONFIG_FB_DDC=y
CONFIG_SYMBOLIC_ERRNAME=y
CONFIG_VM_EVENT_COUNTERS=y
CONFIG_ARCH_HAVE_NMI_SAFE_CMPXCHG=y
CONFIG_SPI=y
CONFIG_SCSI_ACARD=y
CONFIG_NEW_LEDS=y
CONFIG_SENSORS_SPARX5=y
CONFIG_MFD_DA9062=y
CONFIG_ISA_BUS_API=y
CONFIG_W1_SLAVE_DS250X=y
CONFIG_COMMON_RESET_HI6220=y
CONFIG_CHROMEOS_PSTORE=y
CONFIG_SUN8I_DE2_CCU=y
CONFIG_IO_WQ=y
CONFIG_PINCTRL=y
CONFIG_NVSW_SN2201=y
CONFIG_DMI_SCAN_MACHINE_NON_EFI_FALLBACK=y
CONFIG_SAMPLE_KOBJECT=y
CONFIG_SENSORS_FSP_3Y=y
CONFIG_NET_DSA_REALTEK_RTL8366RB=y
CONFIG_PCIE_MOBIVEIL_PLAT=y
CONFIG_SERIAL_LITEUART_CONSOLE=y
CONFIG_TIFM_7XX1=y
CONFIG_TOOLS_SUPPORT_RELR=y
CONFIG_PHY_SOPHGO_CV1800_USB2=y
CONFIG_SENSORS_DS1621=y
CONFIG_NLS_ISO8859_1=y
CONFIG_SENSORS_XDPE152=y
CONFIG_SENSORS_MAX1668=y
CONFIG_SCSI_AHA1740=y
CONFIG_FB_PM2=y
CONFIG_INPUT_VIVALDIFMAP=y
CONFIG_JOYSTICK_IFORCE=y
CONFIG_BT_AOSPEXT=y
CONFIG_SENSORS_ADM1031=y
CONFIG_MFD_MXS_LRADC=y
CONFIG_IOMMU_DEFAULT_DMA_STRICT=y
CONFIG_SOPHGO_CV1800_RTCSYS=y
CONFIG_ARCH_HAS_ELF_RANDOMIZE=y
CONFIG_IPVLAN=y
CONFIG_RFKILL=y
CONFIG_MFD_MAX5970=y
CONFIG_INTEL_MEI_GSC=y
CONFIG_GENERIC_PINMUX_FUNCTIONS=y
CONFIG_GPIO_IT87=y
CONFIG_CRYPTO_CAST5=y
CONFIG_ARCH_HAS_CACHE_LINE_SIZE=y
CONFIG_RAID6_PQ=y
CONFIG_EXTCON_QCOM_SPMI_MISC=y
CONFIG_PINCTRL_MT7988=y
CONFIG_SYSTEM_EXTRA_CERTIFICATE=y
CONFIG_CORTINA_PHY=y
CONFIG_I2C_AMD8111=y
CONFIG_USB_XHCI_HCD=y
CONFIG_X86_IO_APIC=y
CONFIG_NVMEM_VF610_OCOTP=y
CONFIG_PINCTRL_MT8192=y
CONFIG_ARM_SMMU_DISABLE_BYPASS_BY_DEFAULT=y
CONFIG_SIGNALFD=y
CONFIG_FS_STACK=y
CONFIG_USB_MTU3=y
