CONFIG_SERIAL_IMX_EARLYCON=y
CONFIG_LCD_PLATFORM=y
CONFIG_TRACE_IRQFLAGS_NMI_SUPPORT=y
CONFIG_INPUT_AD714X_SPI=y
CONFIG_ARCH_SUSPEND_POSSIBLE=y
CONFIG_NLS=y
CONFIG_GPIO_CADENCE=y
CONFIG_PWM_RENESAS_TPU=y
CONFIG_IPMI_DMI_DECODE=y
CONFIG_VGASTATE=y
CONFIG_REGULATOR_MAX77650=y
CONFIG_GPIO_LATCH=y
CONFIG_INPUT_PCF8574=y
CONFIG_COMMON_CLK_MT6735=y
CONFIG_SUNXI_MBUS=y
CONFIG_KEEMBAY_WATCHDOG=y
CONFIG_COMMON_CLK_MT7986=y
CONFIG_PWM_FSL_FTM=y
CONFIG_CLK_BCM_KONA=y
CONFIG_PINCTRL_AMDISP=y
CONFIG_BATTERY_RT5033=y
CONFIG_BITREVERSE=y
CONFIG_ALTERA_PR_IP_CORE_PLAT=y
CONFIG_VIRT_DRIVERS=y
CONFIG_DA9062_WATCHDOG=y
CONFIG_RESET_GPIO=y
CONFIG_POWER_RESET_QEMU_VIRT_CTRL=y
CONFIG_QCOM_PBS=y
CONFIG_VFIO=y
CONFIG_PINCTRL_PFC_R8A779H0=y
CONFIG_DMA_SHARED_BUFFER=y
CONFIG_GPIO_VISCONTI=y
CONFIG_PINCTRL_SC8280XP_LPASS_LPI=y
CONFIG_HAVE_ALIGNED_STRUCT_PAGE=y
CONFIG_HAVE_ARCH_MMAP_RND_BITS=y
CONFIG_PINCTRL_STM32F429=y
CONFIG_INPUT_PM8XXX_VIBRATOR=y
CONFIG_PINCTRL_MERRIFIELD=y
CONFIG_NO_PAGE_MAPCOUNT=y
CONFIG_MFD_QNAP_MCU=y
CONFIG_REGULATOR_UNIPHIER=y
CONFIG_PM=y
CONFIG_COMMON_CLK_MT2712_JPGDECSYS=y
CONFIG_I2C_NVIDIA_GPU=y
CONFIG_W1_MASTER_MATROX=y
CONFIG_BRCMSTB_L2_IRQ=y
CONFIG_REGULATOR_TPS6594=y
CONFIG_PCIE_MOBIVEIL_PLAT=y
CONFIG_IRQ_BYPASS_MANAGER=y
CONFIG_CC_HAS_WORKING_NOSANITIZE_ADDRESS=y
CONFIG_SWIOTLB=y
CONFIG_PMIC_DA9052=y
CONFIG_DMA_NONCOHERENT_MMAP=y
CONFIG_IR_SONY_DECODER=y
CONFIG_FUTEX_PI=y
CONFIG_SPI_XLP=y
CONFIG_CORESIGHT_LINK_AND_SINK_TMC=y
CONFIG_TMPFS=y
CONFIG_FB_OMAP2_DEBUG_SUPPORT=y
CONFIG_TEGRA_HOST1X_CONTEXT_BUS=y
CONFIG_SERIAL_CORE=y
CONFIG_REGULATOR_STM32_BOOSTER=y
CONFIG_ARCH_HAVE_NMI_SAFE_CMPXCHG=y
CONFIG_PHY_QCOM_QMP=y
CONFIG_IOMMU_SUPPORT=y
CONFIG_EXECMEM=y
CONFIG_IOMMU_IOPF=y
CONFIG_SENSORS_DS620=y
CONFIG_ZYNQMP_PM_DOMAINS=y
CONFIG_NTSYNC=y
CONFIG_MEMSTICK_R592=y
CONFIG_CPU_FREQ_GOV_ONDEMAND=y
CONFIG_COMPRESSED_INSTALL=y
CONFIG_ARCH_MEDIATEK=y
CONFIG_XILINX_PR_DECOUPLER=y
CONFIG_PCCARD=y
CONFIG_HWMON=y
CONFIG_SENSORS_MR75203=y
CONFIG_MFD_88PM886_PMIC=y
CONFIG_FW_UPLOAD=y
CONFIG_COMMON_CLK_GEMINI=y
CONFIG_INPUT_GPIO_VIBRA=y
CONFIG_IPC_NS=y
CONFIG_MOUSE_ELAN_I2C=y
CONFIG_MFD_WM5110=y
CONFIG_RENESAS_WDT=y
CONFIG_ARM_CCI400_COMMON=y
CONFIG_LEDS_TURRIS_OMNIA=y
CONFIG_MISC_RP1=y
CONFIG_PWM_SPEAR=y
CONFIG_ARCH_SUPPORTS_KEXEC_SIG=y
CONFIG_BCM_PDC_MBOX=y
CONFIG_HW_RANDOM=y
CONFIG_FSI_MASTER_I2CR=y
CONFIG_SCHED_MC=y
CONFIG_WQ_CPU_INTENSIVE_REPORT=y
CONFIG_I2C_ALI1535=y
CONFIG_POWER_SUPPLY=y
CONFIG_CLK_R8A7745=y
CONFIG_JOYSTICK_ZHENHUA=y
CONFIG_POWER_SUPPLY_HWMON=y
CONFIG_PINCTRL_SUN50I_A64=y
CONFIG_BROKEN_GAS_INST=y
CONFIG_CLKSRC_STM32_LP=y
CONFIG_W1_MASTER_MXC=y
CONFIG_APPLE_WATCHDOG=y
CONFIG_STARFIVE_WATCHDOG=y
CONFIG_EFI_ESRT=y
CONFIG_BACKLIGHT_ADP8870=y
CONFIG_HW_RANDOM_CN10K=y
CONFIG_GPIO_NPCM_SGPIO=y
CONFIG_MTK_MMSYS=y
CONFIG_IPMB_DEVICE_INTERFACE=y
CONFIG_KEXEC_FILE=y
CONFIG_NPCM7XX_TIMER=y
CONFIG_BATTERY_UG3105=y
CONFIG_FB_PXA168=y
CONFIG_SERIAL_XILINX_PS_UART=y
CONFIG_CLK_STARFIVE_JH7100=y
CONFIG_PM_OPP=y
CONFIG_STM32_FMC2_EBI=y
CONFIG_SPACEMIT_K3_CCU=y
CONFIG_QCOM_WCNSS_CTRL=y
CONFIG_PINCTRL_WM8650=y
CONFIG_SPI_MESON_SPICC=y
CONFIG_CLK_IMX93=y
CONFIG_BCM74110_MAILBOX=y
CONFIG_ARCH_SUPPORTS_ATOMIC_RMW=y
CONFIG_EUROTECH_WDT=y
CONFIG_PINCTRL_SOPHGO_CV1812H=y
CONFIG_COMPACTION=y
CONFIG_REF_TRACKER=y
CONFIG_HAVE_SAMPLE_FTRACE_DIRECT=y
CONFIG_PWM_CRC=y
CONFIG_TEST_REF_TRACKER=y
CONFIG_PINCTRL_BERLIN_BG4CT=y
CONFIG_LEDS_DAC124S085=y
CONFIG_PINCTRL_EQUILIBRIUM=y
CONFIG_I2C_QCOM_CCI=y
CONFIG_MFD_OCELOT=y
CONFIG_MTD_NAND_ECC_REALTEK=y
CONFIG_PINCTRL_SUN55I_A523_R=y
CONFIG_CLK_RCAR_GEN4_CPG=y
CONFIG_CORESIGHT=y
CONFIG_LEDS_LM3692X=y
CONFIG_PINCTRL_CY8C95X0=y
CONFIG_NLS_UTF8=y
CONFIG_EXTCON_MAX3355=y
CONFIG_SERIAL_FSL_LPUART_CONSOLE=y
CONFIG_CXL_PORT=y
CONFIG_BATTERY_BQ27XXX=y
CONFIG_PINCTRL_PFC_SH7757=y
CONFIG_MFD_KEMPLD=y
CONFIG_PINCTRL_VT8500=y
CONFIG_ARM_INTEGRATOR_LM=y
CONFIG_PCIE_PME=y
CONFIG_VFIO_IOMMU_TYPE1=y
CONFIG_I2C_AT91_SLAVE_EXPERIMENTAL=y
CONFIG_SPI_XCOMM=y
CONFIG_DMABUF_HEAPS_SYSTEM_CC_SHARED=y
CONFIG_INTERRUPT_CNT=y
CONFIG_RESET_STARFIVE_JH7110=y
CONFIG_HAVE_CLK_PREPARE=y
CONFIG_SERIAL_DEV_BUS=y
CONFIG_PHY_MESON_G12A_MIPI_DPHY_ANALOG=y
CONFIG_SPI_ARMADA_3700=y
CONFIG_PINCTRL_ARMADA_AP806=y
CONFIG_DEBUG_VM_PGFLAGS=y
CONFIG_LEDS_LM3697=y
CONFIG_ARCH_SPARX5=y
CONFIG_PCIE_THERMAL=y
CONFIG_I2C_MUX_GPMUX=y
CONFIG_VT_HW_CONSOLE_BINDING=y
CONFIG_I2C_MUX_REG=y
CONFIG_PINCTRL_MLXBF3=y
CONFIG_AS_HAS_CFI_NEGATE_RA_STATE=y
CONFIG_GPIO_ML_IOH=y
CONFIG_ARCH_WANT_DEFAULT_TOPDOWN_MMAP_LAYOUT=y
CONFIG_REGULATOR_WM8350=y
CONFIG_REGULATOR_BD71815=y
CONFIG_MFD_AT91_USART=y
CONFIG_GPIO_MSC313=y
CONFIG_REGULATOR_MAX20411=y
CONFIG_GPIOLIB_LEGACY=y
CONFIG_REGULATOR_SY7636A=y
CONFIG_MTK_ADSP_IPC=y
CONFIG_PCIE_TPH=y
CONFIG_TEST_FIRMWARE=y
CONFIG_KCMP=y
CONFIG_MFD_ATMEL_HLCDC=y
CONFIG_PCIE_MOBIVEIL_HOST=y
CONFIG_CHARGER_RT5033=y
CONFIG_ARM64_RAS_EXTN=y
CONFIG_SPI_SG2044_NOR=y
CONFIG_LEDS_TRIGGER_DEFAULT_ON=y
CONFIG_F71808E_WDT=y
CONFIG_CLK_BCM_HR2=y
CONFIG_BUILTIN_RETURN_ADDRESS_STRIPS_PAC=y
CONFIG_CHARGER_GPIO=y
CONFIG_LDISC_AUTOLOAD=y
CONFIG_WATCHDOG_PRETIMEOUT_GOV_PANIC=y
CONFIG_REGULATOR_ROHM=y
CONFIG_RPMSG=y
CONFIG_NLS_MAC_CELTIC=y
CONFIG_COMMON_CLK_ESWIN=y
CONFIG_SPI_STM32_OSPI=y
CONFIG_RENESAS_RZN1WDT=y
CONFIG_SERIAL_CLPS711X=y
CONFIG_SPI_SC18IS602=y
CONFIG_HAVE_SAMPLE_FTRACE_DIRECT_MULTI=y
CONFIG_COMMON_CLK_AXI_CLKGEN=y
CONFIG_ARM_SCMI_HAVE_SHMEM=y
CONFIG_HTE_TEGRA194_TEST=y
CONFIG_PHY_EXYNOS_DP_VIDEO=y
CONFIG_FB_IOMEM_HELPERS=y
CONFIG_REGULATOR_SKY81452=y
CONFIG_REGULATOR_MT6316=y
CONFIG_PHY_STM32_COMBOPHY=y
CONFIG_MOUSE_CYAPA=y
CONFIG_PINCTRL_PFC_R8A7778=y
CONFIG_RANDOMIZE_BASE=y
CONFIG_QCOM_LLCC=y
CONFIG_GPIO_TPS65219=y
CONFIG_W1_SLAVE_DS2405=y
CONFIG_COMMON_CLK_MT8173_MMSYS=y
CONFIG_PINCTRL_SOPHGO_CV18XX_OPS=y
CONFIG_PINCTRL_TEGRA186=y
CONFIG_FB_LITTLE_ENDIAN=y
CONFIG_POWER_RESET_RMOBILE=y
CONFIG_FB_SYSMEM_FOPS=y
CONFIG_REGULATOR_ISL9305=y
CONFIG_KEYBOARD_OPENCORES=y
CONFIG_PINCTRL_MESON8_PMX=y
CONFIG_PWM_SPRD=y
CONFIG_CLKSRC_LOONGSON1_PWM=y
CONFIG_I2C_I801=y
CONFIG_RESET_BCM6345=y
CONFIG_MUX_ADGS1408=y
CONFIG_MTK_INFRACFG=y
CONFIG_TQMX86_WDT=y
CONFIG_JOYSTICK_JOYDUMP=y
CONFIG_FB_XILINX=y
CONFIG_PCI_ECAM=y
CONFIG_QFMT_V2=y
CONFIG_FSL_IFC=y
CONFIG_ARM64_ERRATUM_1508412=y
CONFIG_ARC_TIMERS=y
CONFIG_C2PORT=y
CONFIG_IR_JVC_DECODER=y
CONFIG_INPUT_88PM80X_ONKEY=y
CONFIG_SENSORS_LM90=y
CONFIG_KEXEC_CORE=y
CONFIG_ARCH_HAS_PTDUMP=y
CONFIG_COMMON_CLK_MT8196=y
CONFIG_INPUT_QNAP_MCU=y
CONFIG_PINCTRL_TEGRA_XUSB=y
CONFIG_INGENIC_CGU_JZ4760=y
CONFIG_ARCH_SUPPORTS_RT=y
CONFIG_VT=y
CONFIG_PCI_RCAR_GEN2=y
CONFIG_PINCTRL_MCP23S08=y
CONFIG_BCM_PMB=y
CONFIG_NLS_CODEPAGE_874=y
CONFIG_KEYBOARD_STOWAWAY=y
CONFIG_FUSE_FS=y
CONFIG_PECI_CPU=y
CONFIG_MFD_TPS6594=y
CONFIG_TASKS_TRACE_RCU=y
CONFIG_MAGIC_SYSRQ_SERIAL=y
CONFIG_SENSORS_W83781D=y
CONFIG_HAVE_FUNCTION_ARG_ACCESS_API=y
CONFIG_MFD_ATC260X_I2C=y
CONFIG_PHY_SUNPLUS_USB=y
CONFIG_PCIE_LAYERSCAPE_GEN4=y
CONFIG_CPU_LITTLE_ENDIAN=y
CONFIG_DEBUG_KOBJECT=y
CONFIG_GPIO_PL061=y
CONFIG_FIX_EARLYCON_MEM=y
CONFIG_ARCH_BERLIN=y
CONFIG_RENESAS_WWDT=y
CONFIG_CGROUP_FAVOR_DYNMODS=y
CONFIG_DYNAMIC_DEBUG=y
CONFIG_SERIAL_SH_SCI=y
CONFIG_LEDS_AW2013=y
CONFIG_SPI_SIFIVE=y
CONFIG_IMX_MBOX=y
CONFIG_PWM_SUNPLUS=y
CONFIG_OF_IOMMU=y
CONFIG_INGENIC_OST=y
CONFIG_PREEMPTION=y
CONFIG_QCOM_CPUCP_MBOX=y
CONFIG_TI_MESSAGE_MANAGER=y
CONFIG_SECCOMP=y
CONFIG_CHARGER_ADP5061=y
CONFIG_NV_TCO=y
CONFIG_COMMON_CLK_SCMI=y
CONFIG_HW_RANDOM_CCTRNG=y
CONFIG_KEYBOARD_ST_KEYSCAN=y
CONFIG_SENSORS_LTC4282=y
CONFIG_JZ4780_NEMC=y
CONFIG_CLK_RZA1=y
CONFIG_MTD_SPI_NOR=y
CONFIG_INPUT_BMA150=y
CONFIG_NLS_CODEPAGE_775=y
CONFIG_ARM64_WORKAROUND_TRBE_OVERWRITE_FILL_MODE=y
CONFIG_SERIAL_TIMBERDALE=y
CONFIG_PHY_MMP3_HSIC=y
CONFIG_LEDS_PM8058=y
CONFIG_LEDS_IS31FL32XX=y
CONFIG_POWER_SUPPLY_DEBUG=y
CONFIG_SPI_FSI=y
CONFIG_GPIO_MVEBU=y
CONFIG_DYNAMIC_DEBUG_CORE=y
CONFIG_ARCH_SUPPORTS_KEXEC_HANDOVER=y
CONFIG_FB_OMAP2_CONNECTOR_HDMI=y
CONFIG_DCACHE_WORD_ACCESS=y
CONFIG_TOOLS_SUPPORT_RELR=y
CONFIG_HAS_IOPORT=y
CONFIG_IT87_WDT=y
CONFIG_EXYNOS_PMU=y
CONFIG_PHY_MTK_PCIE=y
CONFIG_PWM_TEGRA=y
CONFIG_DEBUG_OBJECTS_SELFTEST=y
CONFIG_GENERIC_EARLY_IOREMAP=y
CONFIG_MFD_SUN6I_PRCM=y
CONFIG_TIMER_PROBE=y
CONFIG_ELFCORE=y
CONFIG_PINCTRL_IMX8MN=y
CONFIG_ALTERA_STAPL=y
CONFIG_SPRD_COMMON_CLK=y
CONFIG_PCIE_RCAR_GEN4=y
CONFIG_XILLYBUS_OF=y
CONFIG_ARCH_HAS_CPU_RESCTRL=y
CONFIG_FS_IOMAP=y
CONFIG_MTD_PHYSMAP_COMPAT=y
CONFIG_GENERIC_PHY=y
CONFIG_MTD_DATAFLASH=y
CONFIG_CONTEXT_TRACKING_IDLE=y
CONFIG_COMMON_CLK_A1_PLL=y
CONFIG_SPI_TEGRA210_QUAD=y
CONFIG_POLARFIRE_SOC_SYS_CTRL=y
CONFIG_PWM_IQS620A=y
CONFIG_I2C_EG20T=y
CONFIG_PHY_BRCM_SATA=y
CONFIG_CPU_FREQ_GOV_ATTR_SET=y
CONFIG_FPGA_MGR_XILINX_SPI=y
CONFIG_LEDS_TRIGGER_INPUT_EVENTS=y
CONFIG_COMMON_CLK_MT7622_AUDSYS=y
CONFIG_DWC_PCIE_PMU=y
CONFIG_SERIAL_TEGRA_TCU=y
CONFIG_SUN4I_TIMER=y
CONFIG_PCIE_ROCKCHIP_DW=y
CONFIG_DEBUG_SG=y
CONFIG_ARM64_ERRATUM_2224489=y
CONFIG_RC_DECODERS=y
CONFIG_MFD_DA9062=y
CONFIG_SOC_TEGRA_PMC=y
CONFIG_GPIO_MAX3191X=y
CONFIG_PWM_ATMEL_TCB=y
CONFIG_I2C_AMD8111=y
CONFIG_CLK_IMX95_BLK_CTL=y
CONFIG_ARCH_SUPPORTS_NUMA_BALANCING=y
CONFIG_NLS_ISO8859_14=y
CONFIG_PINMUX=y
CONFIG_TTY_PRINTK=y
CONFIG_SSB_POSSIBLE=y
CONFIG_SPI_SLAVE_SYSTEM_CONTROL=y
CONFIG_COMEDI_KCOMEDILIB=y
CONFIG_CLK_TWL6040=y
CONFIG_SUNXI_CCU=y
CONFIG_INPUT_TPS6594_PWRBUTTON=y
CONFIG_IE6XX_WDT=y
CONFIG_MTD_CFI_NOSWAP=y
CONFIG_BACKLIGHT_ATMEL_LCDC=y
CONFIG_RESET_MESON=y
CONFIG_MFD_CS40L50_SPI=y
CONFIG_MTK_TIMER=y
CONFIG_HISI_PTT=y
CONFIG_ARCH_SPARSEMEM_ENABLE=y
CONFIG_PINCTRL_PFC_R8A779A0=y
CONFIG_CLK_IMX8MQ=y
CONFIG_NITRO_ENCLAVES=y
CONFIG_PHY_QCOM_USB_SS=y
CONFIG_PINCTRL_SM8250_LPASS_LPI=y
CONFIG_GPIO_DAVINCI=y
CONFIG_TS72XX_WATCHDOG=y
CONFIG_KDB_KEYBOARD=y
CONFIG_I2C_THUNDERX=y
CONFIG_HAVE_FUNCTION_TRACER=y
CONFIG_SPARSE_IRQ=y
CONFIG_ARCH_INTEL_SOCFPGA=y
CONFIG_PINCTRL_K210=y
CONFIG_NLS_ISO8859_8=y
CONFIG_DA9062_THERMAL=y
CONFIG_ARCH_ACTIONS=y
CONFIG_MVEBU_ODMI=y
CONFIG_FSI=y
CONFIG_CRYPTO_HASH_INFO=y
CONFIG_HAVE_PCI=y
CONFIG_SENSORS_ADM1025=y
CONFIG_IRQ_DOMAIN=y
CONFIG_SENSORS_ADS7828=y
CONFIG_SENSORS_DA9052_ADC=y
CONFIG_SP5100_TCO=y
CONFIG_INPUT_IQS269A=y
CONFIG_ORANGEFS_FS=y
CONFIG_ARCH_HAVE_TRACE_MMIO_ACCESS=y
CONFIG_QUEUED_RWLOCKS=y
CONFIG_REGULATOR_DEBUG=y
CONFIG_ARM_SCMI_DEBUG_COUNTERS=y
CONFIG_LEDS_PCA963X=y
CONFIG_ASPEED_WATCHDOG=y
CONFIG_FB_CFB_IMAGEBLIT=y
CONFIG_PWM_MICROCHIP_CORE=y
CONFIG_GPIO_MAX77650=y
CONFIG_MESON_CANVAS=y
CONFIG_PWM_MXS=y
CONFIG_COMMON_CLK_VC7=y
CONFIG_HAVE_CMPXCHG_LOCAL=y
CONFIG_DEBUG_KERNEL=y
CONFIG_KEYBOARD_SNVS_PWRKEY=y
CONFIG_PINCTRL_SM8650_LPASS_LPI=y
CONFIG_JOYSTICK_TURBOGRAFX=y
CONFIG_PD6729=y
CONFIG_CONTEXT_TRACKING=y
CONFIG_NLS_KOI8_U=y
CONFIG_POWER_RESET_MT6323=y
CONFIG_SPI_SPACEMIT_K1=y
CONFIG_LEDS_TRIGGER_BACKLIGHT=y
CONFIG_SENSORS_SMSC47M1=y
CONFIG_KERNEL_MODE_NEON=y
CONFIG_TIMER_OF=y
CONFIG_PINCTRL_TEGRA264=y
CONFIG_CLK_R9A09G057=y
CONFIG_LOGO_LINUX_CLUT224=y
CONFIG_SERIAL_OMAP_CONSOLE=y
CONFIG_HVC_DRIVER=y
CONFIG_PHY_QCOM_SGMII_ETH=y
CONFIG_ARM_SMCCC_SOC_ID=y
CONFIG_FB_NOTIFY=y
CONFIG_KEMPLD_WDT=y
CONFIG_GENERIC_STRNLEN_USER=y
CONFIG_FW_LOADER_DEBUG=y
CONFIG_HAVE_ARCH_PREL32_RELOCATIONS=y
CONFIG_PINCTRL_SUN5I=y
CONFIG_MVEBU_SEI=y
CONFIG_REGULATOR_PF0900=y
CONFIG_POWER_RESET_MACSMC=y
CONFIG_FB_VIA=y
CONFIG_TI_K3_R5_REMOTEPROC=y
CONFIG_CPUFREQ_VIRT=y
CONFIG_LEDS_MAX5970=y
CONFIG_FUSE_IO_URING=y
CONFIG_COMMON_CLK_MT8183_IMGSYS=y
CONFIG_DMABUF_HEAPS_SYSTEM=y
CONFIG_LEGACY_TIOCSTI=y
CONFIG_CLK_RENESAS_DIV6=y
CONFIG_REGULATOR_RTQ2134=y
CONFIG_TEST_KEXEC_HANDOVER=y
CONFIG_CRASH_DUMP=y
CONFIG_PINCTRL_SH_FUNC_GPIO=y
CONFIG_BACKLIGHT_LED=y
CONFIG_DEVFREQ_GOV_SIMPLE_ONDEMAND=y
CONFIG_GPIO_BRCMSTB=y
CONFIG_FB_IMX=y
CONFIG_LEDS_IP30=y
CONFIG_SERIAL_SCCNXP=y
CONFIG_ARM64_ERRATUM_2253138=y
CONFIG_SLIMBUS=y
CONFIG_CLK_R7S9210=y
CONFIG_LEDS_LP5562=y
CONFIG_CV1800_MBOX=y
CONFIG_RESET_LANTIQ=y
CONFIG_XARRAY_MULTI=y
CONFIG_TRACING_SUPPORT=y
CONFIG_NLS_CODEPAGE_850=y
CONFIG_LEDS_LGM=y
CONFIG_CXL_EDAC_MEM_FEATURES=y
CONFIG_PINCTRL_SOPHGO_CV1800B=y
CONFIG_PCI_MESON=y
CONFIG_ROCKCHIP_TIMER=y
CONFIG_MTD_SPI_NOR_USE_4K_SECTORS=y
CONFIG_PHY_RALINK_USB=y
CONFIG_REGULATOR_MCP16502=y
CONFIG_PHY_ROCKCHIP_SAMSUNG_HDPTX=y
CONFIG_GPIO_EN7523=y
CONFIG_MFD_MAX77714=y
CONFIG_ARCH_SUPPORTS_INT128=y
CONFIG_CLKSRC_TI_32K=y
CONFIG_ARCH_USE_MEMREMAP_PROT=y
CONFIG_ARCH_USE_SYM_ANNOTATIONS=y
CONFIG_PINCTRL_PFC_R8A77961=y
CONFIG_PINCTRL_SUN50I_H5=y
CONFIG_REGULATOR_LM363X=y
CONFIG_SERIAL_OMAP=y
CONFIG_SPI_TOPCLIFF_PCH=y
CONFIG_SERIAL_ST_ASC=y
CONFIG_HAVE_ARM_SMCCC=y
CONFIG_INPUT_CPCAP_PWRBUTTON=y
CONFIG_POLARFIRE_SOC_MAILBOX=y
