CONFIG_ACPI_DEBUG=n
CONFIG_HIBERNATION_SNAPSHOT_DEV=n
CONFIG_NET_VENDOR_QLOGIC=n
CONFIG_CGROUP_HUGETLB=n
CONFIG_MODULE_FORCE_UNLOAD=n
CONFIG_CC_HAS_MULTIDIMENSIONAL_NONSTRING=n
CONFIG_TIGON3=n
CONFIG_VMAP_PFN=n
CONFIG_VT=n
CONFIG_HAVE_ARCH_COMPAT_MMAP_BASES=n
CONFIG_EPROBE_EVENTS=n
CONFIG_CC_HAS_KASAN_SW_TAGS=n
CONFIG_HAVE_PV_STEAL_CLOCK_GEN=n
CONFIG_ARCH_WANT_LD_ORPHAN_WARN=n
CONFIG_GENERIC_CALIBRATE_DELAY=n
CONFIG_MPILIB=n
CONFIG_MOUSE_PS2_BYD=n
CONFIG_SPARSEMEM_VMEMMAP=n
CONFIG_SMP=n
CONFIG_NFS_DISABLE_UDP_SUPPORT=n
CONFIG_USB=n
CONFIG_CRYPTO_LIB_SHA1_ARCH=n
CONFIG_PCIEASPM_DEFAULT=n
CONFIG_CRYPTO_AEAD=n
CONFIG_8139TOO_PIO=n
CONFIG_NETFILTER_XT_TARGET_TCPMSS=n
CONFIG_MOUSE_PS2_LOGIPS2PP=n
CONFIG_HID_PID=n
CONFIG_MAC80211=n
CONFIG_POWER_SUPPLY=n
CONFIG_LOCKD=n
CONFIG_SYMBOLIC_ERRNAME=n
CONFIG_HID_SUNPLUS=n
CONFIG_X509_CERTIFICATE_PARSER=n
CONFIG_HAVE_ARCH_MMAP_RND_BITS=n
CONFIG_X86_REQUIRED_FEATURE_PAE=n
CONFIG_CFG80211_DEFAULT_PS=n
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST_IDLE=n
CONFIG_ACPI_DOCK=n
CONFIG_ARCH_WANT_HUGE_PMD_SHARE=n
CONFIG_DRM_PANEL_ORIENTATION_QUIRKS=n
CONFIG_DEBUG_BUGVERBOSE=n
CONFIG_INTEL_IOMMU_PERF_EVENTS=n
CONFIG_NETFILTER_XT_MATCH_STATE=n
CONFIG_NET_VENDOR_WANGXUN=n
CONFIG_ARCH_HAS_DEVMEM_IS_ALLOWED=n
CONFIG_NET_XGRESS=n
CONFIG_WLAN_VENDOR_ATH=n
CONFIG_NOINSTR_VALIDATION=n
CONFIG_CC_HAS_NO_PROFILE_FN_ATTR=n
CONFIG_CRYPTO_LIB_AES=n
CONFIG_NEED_PER_CPU_PAGE_FIRST_CHUNK=n
CONFIG_ARCH_SUPPORTS_DEBUG_PAGEALLOC=n
CONFIG_X86_DISABLED_FEATURE_LAM=n
CONFIG_CPU_FREQ_GOV_SCHEDUTIL=n
CONFIG_DRM_MIPI_DSI=n
CONFIG_WLAN_VENDOR_MARVELL=n
CONFIG_ARCH_HAS_STRICT_MODULE_RWX=n
CONFIG_ARCH_SUPPORTS_KEXEC_FILE=n
CONFIG_HAVE_ARCH_KASAN=n
CONFIG_GROUP_SCHED_WEIGHT=n
CONFIG_DEFAULT_CUBIC=n
CONFIG_X86_MPPARSE=n
CONFIG_ACPI_PROCESSOR_IDLE=n
CONFIG_ACPI_THERMAL=n
CONFIG_IOMMU_DMA=n
CONFIG_IP_MROUTE=n
CONFIG_ISA_DMA_API=n
CONFIG_KCMP=n
CONFIG_INTEGRITY_AUDIT=n
CONFIG_PKCS7_MESSAGE_PARSER=n
CONFIG_PER_VMA_LOCK=n
CONFIG_CPU_FREQ_GOV_USERSPACE=n
CONFIG_SYSCTL=n
CONFIG_VIRTIO_PCI=n
CONFIG_NET_VENDOR_RDC=n
CONFIG_PCI_MSI=n
CONFIG_HDMI=n
CONFIG_ARCH_HAS_CPU_CACHE_INVALIDATE_MEMREGION=n
CONFIG_PRINTK=n
CONFIG_NUMA_MIGRATION=n
CONFIG_MMU_GATHER_MERGE_VMAS=n
CONFIG_HOTPLUG_PARALLEL=n
CONFIG_CRYPTO_LIB_GF128HASH=n
CONFIG_NETWORK_FILESYSTEMS=n
CONFIG_NF_DEFRAG_IPV6=n
CONFIG_MAC80211_RC_DEFAULT_MINSTREL=n
CONFIG_IOMMU_IOVA=n
CONFIG_ARCH_HIBERNATION_HEADER=n
CONFIG_ZLIB_INFLATE=n
CONFIG_XZ_DEC_ARMTHUMB=n
CONFIG_HAVE_RSEQ=n
CONFIG_I3C_OR_I2C=n
CONFIG_NET_VENDOR_DLINK=n
CONFIG_MIGRATION=n
CONFIG_PHYS_ADDR_T_64BIT=n
CONFIG_HAVE_FUNCTION_ARG_ACCESS_API=n
CONFIG_X86_REQUIRED_FEATURE_FPU=n
CONFIG_HID_TOPSEED=n
CONFIG_ARCH_SUPPORTS_CRASH_HOTPLUG=n
CONFIG_NET_VENDOR_FUNGIBLE=n
CONFIG_X86_DISABLED_FEATURE_USER_SHSTK=n
CONFIG_IP6_NF_MATCH_IPV6HEADER=n
CONFIG_E1000E_HWTS=n
CONFIG_PERF_EVENTS_INTEL_UNCORE=n
CONFIG_NET_SELFTESTS=n
CONFIG_EXT4_FS=n
CONFIG_ACPI_REV_OVERRIDE_POSSIBLE=n
CONFIG_CRYPTO_SIG=n
CONFIG_TCP_MD5SIG=n
CONFIG_CC_HAS_ASSUME=n
CONFIG_FIX_EARLYCON_MEM=n
CONFIG_TIMERFD=n
CONFIG_IOMMU_SUPPORT=n
CONFIG_ARCH_USE_QUEUED_RWLOCKS=n
CONFIG_XZ_DEC=n
CONFIG_NF_LOG_SYSLOG=n
CONFIG_MOUSE_PS2_SYNAPTICS_SMBUS=n
CONFIG_VIRTUALIZATION=n
CONFIG_TICK_ONESHOT=n
CONFIG_PNFS_FLEXFILE_LAYOUT=n
CONFIG_HVC_DRIVER=n
CONFIG_X86_REQUIRED_FEATURE_PGE=n
CONFIG_NO_HZ_IDLE=n
CONFIG_SCHED_CLUSTER=n
CONFIG_AGP_AMD64=n
CONFIG_HAVE_ALIGNED_STRUCT_PAGE=n
CONFIG_ARCH_WANT_IRQS_OFF_ACTIVATE_MM=n
CONFIG_NET_VENDOR_TEHUTI=n
CONFIG_WLAN_VENDOR_QUANTENNA=n
CONFIG_LD_ORPHAN_WARN=n
CONFIG_HIGH_RES_TIMERS=n
CONFIG_XFRM_ALGO=n
CONFIG_CROSS_MEMORY_ATTACH=n
CONFIG_CARDBUS=n
CONFIG_X86_64_ACPI_NUMA=n
CONFIG_HAVE_ARCH_PREL32_RELOCATIONS=n
CONFIG_IPV6=n
CONFIG_UNWINDER_ORC=n
CONFIG_SERIAL_EARLYCON=n
CONFIG_ZONE_DMA=n
CONFIG_HAVE_ARCH_VMAP_STACK=n
CONFIG_ACPI_NUMA=n
CONFIG_RUSTC_HAS_SPAN_FILE=n
CONFIG_DECOMPRESS_LZO=n
CONFIG_HAVE_IRQ_EXIT_ON_IRQ_STACK=n
CONFIG_PERF_EVENTS=n
CONFIG_ACPI_SYSTEM_POWER_STATES_SUPPORT=n
CONFIG_XZ_DEC_X86=n
CONFIG_X86_DISABLED_FEATURE_XENPV=n
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_REGS=n
CONFIG_MITIGATION_SRBDS=n
CONFIG_MODULE_UNLOAD=n
CONFIG_DEBUG_MEMORY_INIT=n
CONFIG_CRYPTO_SKCIPHER=n
CONFIG_CRYPTO_SIG2=n
CONFIG_CPU_FREQ_GOV_ONDEMAND=n
CONFIG_IO_URING_ZCRX=n
CONFIG_NET_CLS_ACT=n
CONFIG_AIO=n
CONFIG_MODULES_USE_ELF_RELA=n
CONFIG_FORCEDETH=n
CONFIG_BINFMT_ELF=n
CONFIG_HAVE_NOINSTR_HACK=n
CONFIG_UNION_FIND=n
CONFIG_HAVE_UID16=n
CONFIG_HAVE_IRQ_TIME_ACCOUNTING=n
CONFIG_I8253_LOCK=n
CONFIG_RSEQ=n
CONFIG_X86_REQUIRED_FEATURE_XMM=n
CONFIG_NET_VENDOR_DEC=n
CONFIG_FUTEX_MPOL=n
CONFIG_RTC_NVMEM=n
CONFIG_ARCH_HAS_GENERIC_CRASHKERNEL_RESERVATION=n
CONFIG_FUTEX_PRIVATE_HASH=n
CONFIG_ASN1=n
CONFIG_CHR_DEV_SG=n
CONFIG_ARCH_HIBERNATION_POSSIBLE=n
CONFIG_IP_ADVANCED_ROUTER=n
CONFIG_AGP=n
CONFIG_ARCH_SUPPORTS_KMAP_LOCAL_FORCE_MAP=n
CONFIG_CONTEXT_SWITCH_TRACER=n
CONFIG_AUTOFS_FS=n
CONFIG_PCIEASPM=n
CONFIG_NF_CONNTRACK_SECMARK=n
CONFIG_PCI=n
CONFIG_GENERIC_CPU_DEVICES=n
CONFIG_CACHESTAT_SYSCALL=n
CONFIG_JOLIET=n
CONFIG_TASK_DELAY_ACCT=n
CONFIG_SERIAL_8250_CONSOLE=n
CONFIG_HAVE_KPROBES_ON_FTRACE=n
CONFIG_SERIAL_8250_PCI=n
CONFIG_NUMA_MEMBLKS=n
CONFIG_HAVE_STATIC_CALL=n
CONFIG_IP_PIMSM_V1=n
CONFIG_X86_HAVE_PAE=n
CONFIG_GENERIC_CLOCKEVENTS_COUPLED_INLINE=n
CONFIG_CRYPTO_LIB_UTILS=n
CONFIG_EXT4_USE_FOR_EXT2=n
CONFIG_DRM_PANEL=n
CONFIG_PM_SLEEP_SMP=n
CONFIG_E100=n
CONFIG_PCI_DOMAINS=n
CONFIG_ARCH_VMLINUX_NEEDS_RELOCS=n
CONFIG_GENERIC_CLOCKEVENTS_COUPLED=n
CONFIG_HAVE_CALL_THUNKS=n
CONFIG_CRYPTO_LIB_SHA1=n
CONFIG_ARCH_PROC_KCORE_TEXT=n
CONFIG_IOMMU_IOPF=n
CONFIG_BQL=n
CONFIG_PCCARD=n
CONFIG_ARCH_SUPPORTS_MEMORY_FAILURE=n
CONFIG_KRETPROBES=n
CONFIG_DRM_DISPLAY_DP_HELPER=n
CONFIG_SND_HWDEP=n
CONFIG_NLATTR=n
CONFIG_X86_ACPI_CPUFREQ=n
CONFIG_HID_PANTHERLORD=n
CONFIG_HAVE_PAGE_SIZE_4KB=n
CONFIG_HAVE_OBJTOOL_NOP_MCOUNT=n
CONFIG_X86_IOPL_IOPERM=n
CONFIG_SND_VERBOSE_PROCFS=n
CONFIG_SECURITY_SELINUX_AVC_STATS=n
CONFIG_CONSOLE_TRANSLATIONS=n
CONFIG_GENERIC_IRQ_SHOW=n
CONFIG_HAVE_KERNEL_BZIP2=n
CONFIG_SPARSEMEM=n
CONFIG_NET_VENDOR_EMULEX=n
CONFIG_BLK_DEV_BSG_COMMON=n
CONFIG_BROADCAST_TLB_FLUSH=n
CONFIG_SCHED_CACHE=n
CONFIG_AS_IS_GNU=n
CONFIG_NET_VENDOR_ALIBABA=n
CONFIG_DEBUG_FS=n
CONFIG_X86_X2APIC=n
CONFIG_BLK_DEBUG_FS=n
CONFIG_SCHED_HRTICK=n
CONFIG_ARCH_SUPPORTS_SCHED_MC=n
CONFIG_SND_PCM=n
CONFIG_X86_CHECK_BIOS_CORRUPTION=n
CONFIG_X86_REQUIRED_FEATURE_XMM2=n
CONFIG_SCSI_DMA=n
CONFIG_BLK_DEV_BSG=n
CONFIG_PACKET=n
CONFIG_INTERVAL_TREE=n
CONFIG_CDROM=n
CONFIG_HAVE_GIGANTIC_FOLIOS=n
CONFIG_LOCALVERSION_AUTO=n
CONFIG_CRYPTO_HMAC=n
CONFIG_MITIGATION_SPECTRE_V2=n
CONFIG_DEBUG_STACK_USAGE=n
CONFIG_PM_TRACE_RTC=n
CONFIG_ARCH_SUPPORTS_CRASH_DUMP=n
CONFIG_HAVE_OBJTOOL=n
CONFIG_HAVE_HARDLOCKUP_DETECTOR_PERF=n
CONFIG_HOTPLUG_PCI=n
CONFIG_X86_VERBOSE_BOOTUP=n
CONFIG_ACPI_PCC=n
CONFIG_NF_NAT_MASQUERADE=n
CONFIG_MMU_LAZY_TLB_REFCOUNT=n
CONFIG_HAS_IOPORT=n
CONFIG_IOMMU_PT_VTDSS=n
CONFIG_IRQ_DOMAIN_HIERARCHY=n
CONFIG_NVRAM=n
CONFIG_NET_DEVMEM=n
CONFIG_IP_MULTIPLE_TABLES=n
CONFIG_MSDOS_PARTITION=n
CONFIG_MITIGATION_SRSO=n
CONFIG_MQ_IOSCHED_DEADLINE=n
CONFIG_HAS_IOPORT_MAP=n
CONFIG_HWMON=n
CONFIG_IA32_EMULATION=n
CONFIG_CRC32=n
CONFIG_GENERIC_IOMAP=n
CONFIG_PROC_PAGE_MONITOR=n
CONFIG_INIT_STACK_ALL_ZERO=n
CONFIG_ARCH_HAS_UBSAN=n
CONFIG_HAVE_FUNCTION_ERROR_INJECTION=n
CONFIG_STANDALONE=n
CONFIG_PTP_1588_CLOCK_VMCLOCK=n
CONFIG_X86_NEED_RELOCS=n
CONFIG_IOMMU_PT=n
CONFIG_SND_HDA_I915=n
CONFIG_RCU_STALL_COMMON=n
CONFIG_WLAN_VENDOR_BROADCOM=n
CONFIG_TREE_SRCU=n
CONFIG_NETFILTER_XTABLES=n
CONFIG_ACPI_BGRT=n
CONFIG_GENERIC_CPU_VULNERABILITIES=n
CONFIG_ARCH_WANT_COMPAT_IPC_PARSE_VERSION=n
CONFIG_SERIAL_8250=n
CONFIG_HAVE_ARCH_KMSAN=n
CONFIG_NETFILTER_XT_TARGET_MASQUERADE=n
CONFIG_X86_REROUTE_FOR_BROKEN_BOOT_IRQS=n
CONFIG_DYNAMIC_EVENTS=n
CONFIG_COMPAT_32=n
CONFIG_MITIGATION_IBRS_ENTRY=n
CONFIG_X86_INTEL_MEMORY_PROTECTION_KEYS=n
CONFIG_HAVE_POSIX_CPU_TIMERS_TASK_WORK=n
