CONFIG_CRYPTO_CRC32C=y
CONFIG_INV_ICM45600_SPI=y
CONFIG_NLS_CODEPAGE_864=y
CONFIG_CGROUP_DEBUG=y
CONFIG_GPIO_MENZ127=y
CONFIG_MMC35240=y
CONFIG_SENSORS_EMC6W201=y
CONFIG_SERIAL_8250_NI=y
CONFIG_GFS2_FS=y
CONFIG_GPIO_F7188X=y
CONFIG_RV_MON_SLEEP=y
CONFIG_ARCH_SUPPORTS_KEXEC_SIG=y
CONFIG_CPU_FREQ_GOV_ONDEMAND=y
CONFIG_DA9150_GPADC=y
CONFIG_KEYBOARD_CAP11XX=y
CONFIG_OPTEE_STATIC_PROTMEM_POOL=y
CONFIG_SCSI_SAS_LIBSAS=y
CONFIG_BATTERY_MAX1721X=y
CONFIG_LRU_GEN_WALKS_MMU=y
CONFIG_SERIAL_CONEXANT_DIGICOLOR_CONSOLE=y
CONFIG_F2FS_FS_SECURITY=y
CONFIG_IIO_TRIGGER=y
CONFIG_SCHED_MC=y
CONFIG_RPR0521=y
CONFIG_RV_MON_MAINTENANCE_EVENTS=y
CONFIG_LEDS_TPS6105X=y
CONFIG_SPI_BITBANG=y
CONFIG_DEBUG_BOOT_PARAMS=y
CONFIG_GPIO_LATCH=y
CONFIG_FSNOTIFY=y
CONFIG_MTD_ONENAND_OTP=y
CONFIG_HAVE_KPROBES_ON_FTRACE=y
CONFIG_PM_ADVANCED_DEBUG=y
CONFIG_CRYPTO_SHA512=y
CONFIG_HUGETLB_PAGE_OPTIMIZE_VMEMMAP=y
CONFIG_SENSORS_ADM1025=y
CONFIG_MFD_88PM805=y
CONFIG_X86_INTEL_TSX_MODE_OFF=y
CONFIG_BLK_DEV_UBLK=y
CONFIG_OMFS_FS=y
CONFIG_AD7293=y
CONFIG_ADA4250=y
CONFIG_RD_ZSTD=y
CONFIG_STATIC_CALL_SELFTEST=y
CONFIG_KEYBOARD_GPIO_POLLED=y
CONFIG_SENSORS_POWR1220=y
CONFIG_ZPA2326=y
CONFIG_MFD_SIMPLE_MFD_I2C=y
CONFIG_I2C_OCORES=y
CONFIG_SERIAL_SC16IS7XX_I2C=y
CONFIG_CHARGER_BD71828=y
CONFIG_SENSORS_LIS3LV02D=y
CONFIG_HAVE_ARCH_TRACEHOOK=y
CONFIG_LOCK_EVENT_COUNTS=y
CONFIG_NFTL_RW=y
CONFIG_GENERIC_IRQ_EFFECTIVE_AFF_MASK=y
CONFIG_ATA_FORCE=y
CONFIG_CRYPTO_ACOMP2=y
CONFIG_CACHESTAT_SYSCALL=y
CONFIG_SPI_LM70_LLP=y
CONFIG_DMA_API_DEBUG=y
CONFIG_X86_ESPFIX64=y
CONFIG_ASN1=y
CONFIG_CRC_T10DIF=y
CONFIG_PT_RECLAIM=y
CONFIG_USER_RETURN_NOTIFIER=y
CONFIG_CRYPTO_CAST5=y
CONFIG_STACKPROTECTOR=y
CONFIG_EXT4_DEBUG=y
CONFIG_ADIS16400=y
CONFIG_OVERLAY_FS_REDIRECT_DIR=y
CONFIG_ARCH_HAS_NON_OVERLAPPING_ADDRESS_SPACE=y
CONFIG_ARCH_HAS_PTE_SPECIAL=y
CONFIG_HAVE_PREEMPT_DYNAMIC=y
CONFIG_PACKING=y
CONFIG_RV_MON_NOMISS=y
CONFIG_HAVE_KRETPROBES=y
CONFIG_MAX1363=y
CONFIG_SENSORS_IIO_HWMON=y
CONFIG_DYNAMIC_FTRACE_WITH_ARGS=y
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_JMP=y
CONFIG_REGULATOR_LP3972=y
CONFIG_ADXL355_I2C=y
CONFIG_MMA7455_SPI=y
CONFIG_FSI_MASTER_I2CR=y
CONFIG_MFD_TPS65912_I2C=y
CONFIG_BACKLIGHT_PWM=y
CONFIG_BME680_SPI=y
CONFIG_HAVE_HW_BREAKPOINT=y
CONFIG_X86_REQUIRED_FEATURE_CPUID=y
CONFIG_DECOMPRESS_GZIP=y
CONFIG_PINMUX=y
CONFIG_SUSPEND_FREEZER=y
CONFIG_GENERIC_BITREVERSE=y
CONFIG_CRYPTO_SHA256=y
CONFIG_ARCH_HAVE_EXTRA_ELF_NOTES=y
CONFIG_RV_MON_RTAPP=y
CONFIG_JFFS2_FS=y
CONFIG_ZSTD_DECOMPRESS=y
CONFIG_MFD_BQ257XX=y
CONFIG_PM_AUTOSLEEP=y
CONFIG_ARCH_MIGHT_HAVE_PC_PARPORT=y
CONFIG_CRYPTO_XCBC=y
CONFIG_ADXL367=y
CONFIG_CRYPTO_SERPENT_SSE2_X86_64=y
CONFIG_IIO_HRTIMER_TRIGGER=y
CONFIG_FW_LOADER=y
CONFIG_AD525X_DPOT=y
CONFIG_SYSFB=y
CONFIG_MFD_STMPE=y
CONFIG_BMA400=y
CONFIG_GOLDFISH=y
CONFIG_SENSORS_TMP108=y
CONFIG_SCSI_UFSHCD_PLATFORM=y
CONFIG_SENSORS_LINEAGE=y
CONFIG_SENSORS_EMC2103=y
CONFIG_HAVE_CONTEXT_TRACKING_USER=y
CONFIG_ORANGEFS_FS=y
CONFIG_HAVE_SINGLE_FTRACE_DIRECT_OPS=y
CONFIG_FPGA_DFL_FME_REGION=y
CONFIG_LDM_PARTITION=y
CONFIG_X86_DISABLED_FEATURE_VME=y
CONFIG_TI_ADS7924=y
CONFIG_BMI270_I2C=y
CONFIG_SENSORS_TMP102=y
CONFIG_OVERLAY_FS_XINO_AUTO=y
CONFIG_HAVE_RSEQ=y
CONFIG_FUEL_GAUGE_STC3117=y
CONFIG_CC_HAS_KASAN_GENERIC=y
CONFIG_SCREEN_INFO=y
CONFIG_ZOPT2201=y
CONFIG_DMA_FENCE_TRACE=y
CONFIG_BLK_DEV_NULL_BLK=y
CONFIG_X86_PMEM_LEGACY=y
CONFIG_KVM_MMIO=y
CONFIG_FPGA_MGR_XILINX_CORE=y
CONFIG_UNIX98_PTYS=y
CONFIG_SATA_AHCI_PLATFORM=y
CONFIG_SPARSE_IRQ=y
CONFIG_CHARGER_UCS1002=y
CONFIG_SENSORS_LM95241=y
CONFIG_MEMSTICK_UNSAFE_RESUME=y
CONFIG_KEYBOARD_QT1070=y
CONFIG_AFFS_FS=y
CONFIG_VDSO_GETRANDOM=y
CONFIG_TOUCHSCREEN_WDT87XX_I2C=y
CONFIG_GPIOLIB_LEGACY=y
CONFIG_SENSORS_NCT6775_I2C=y
CONFIG_MFD_WM8994=y
CONFIG_GENERIC_GETTIMEOFDAY=y
CONFIG_ALTERA_MBOX=y
CONFIG_MAX77541_ADC=y
CONFIG_NVMEM=y
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE=y
CONFIG_SHMEM=y
CONFIG_IIO=y
CONFIG_POWER_RESET_GPIO_RESTART=y
CONFIG_NLS_MAC_GREEK=y
CONFIG_PM_OPP=y
CONFIG_ZPA2326_I2C=y
CONFIG_SGETMASK_SYSCALL=y
CONFIG_MMA7455=y
CONFIG_AM2315=y
CONFIG_AD7779=y
CONFIG_ARCH_SUPPORTS_LTO_CLANG=y
CONFIG_TOUCHSCREEN_EDT_FT5X06=y
CONFIG_CRC32=y
CONFIG_ROHM_BU27034=y
CONFIG_FXOS8700_I2C=y
CONFIG_ARCH_SUPPORTS_SCHED_MC=y
CONFIG_PARPORT_PC=y
CONFIG_SCD30_CORE=y
CONFIG_AD7780=y
CONFIG_SIMPLE_RING_BUFFER=y
CONFIG_EROFS_FS=y
CONFIG_SENSORS_W83795=y
CONFIG_X86=y
CONFIG_PPS_CLIENT_LDISC=y
CONFIG_CRYPTO_LRW=y
CONFIG_MS5611_SPI=y
CONFIG_HAVE_PERF_EVENTS_NMI=y
CONFIG_LEDS_LP3944=y
CONFIG_HAVE_POSIX_CPU_TIMERS_TASK_WORK=y
CONFIG_BACKLIGHT_AAT2870=y
CONFIG_PWM_TWL=y
CONFIG_GPIO_TWL6040=y
CONFIG_CRYPTO_AEAD=y
CONFIG_REGULATOR_88PM800=y
CONFIG_MMC5983=y
CONFIG_TRACE_PREEMPT_TOGGLE=y
CONFIG_POWER_SEQUENCING=y
CONFIG_CRYPTO_SKCIPHER=y
CONFIG_BROADCAST_TLB_FLUSH=y
CONFIG_CRYPTO_HMAC=y
CONFIG_GENERIC_IOMAP=y
CONFIG_RMI4_F03_SERIO=y
CONFIG_KEYBOARD_MATRIX=y
CONFIG_PAHOLE_HAS_LANG_EXCLUDE=y
CONFIG_SYSCON_REBOOT_MODE=y
CONFIG_MFD_AXP20X=y
CONFIG_MODULES_USE_ELF_RELA=y
CONFIG_DEBUG_FORCE_WEAK_PER_CPU=y
CONFIG_X86_DISABLED_FEATURE_RETPOLINE_LFENCE=y
CONFIG_CM3323=y
CONFIG_OF_DYNAMIC=y
CONFIG_BOSCH_BNO055=y
CONFIG_AD74413R=y
CONFIG_CRC32_ARCH=y
CONFIG_TI_ADS131M02=y
CONFIG_INPUT_ADXL34X_SPI=y
CONFIG_SENSORS_W83791D=y
CONFIG_LEDS_TI_LMU_COMMON=y
CONFIG_HAVE_ARCH_KASAN_VMALLOC=y
CONFIG_XZ_DEC_X86=y
CONFIG_EEPROM_IDT_89HPESX=y
CONFIG_MFD_TI_LP87565=y
CONFIG_AD5593R=y
CONFIG_ARCH_HAS_SET_MEMORY=y
CONFIG_SENSORS_SHT15=y
CONFIG_CC_HAS_NO_PROFILE_FN_ATTR=y
CONFIG_IIO_SYSFS_TRIGGER=y
CONFIG_MLXREG_LC=y
CONFIG_AD5504=y
CONFIG_REGULATOR_MT6331=y
CONFIG_REGULATOR_LP8788=y
CONFIG_SCHEDSTATS=y
CONFIG_ADXL355=y
CONFIG_MFD_MAX77693=y
CONFIG_CHARGER_MT6370=y
CONFIG_SERIAL_EARLYCON=y
CONFIG_HAVE_DYNAMIC_FTRACE=y
CONFIG_QUOTACTL=y
CONFIG_GENERIC_NET_UTILS=y
CONFIG_FW_UPLOAD=y
CONFIG_WANT_DEV_COREDUMP=y
CONFIG_STK8312=y
CONFIG_SPI_AXI_SPI_ENGINE=y
CONFIG_SENSORS_ADM1026=y
CONFIG_TOUCHSCREEN_GUNZE=y
CONFIG_KALLSYMS_SELFTEST=y
CONFIG_PAGE_OWNER=y
CONFIG_SENSORS_MAX1668=y
CONFIG_PROFILE_ANNOTATED_BRANCHES=y
CONFIG_HTS221_SPI=y
CONFIG_NVMEM_MAX77759=y
CONFIG_ABP2030PA_SPI=y
CONFIG_SRF08=y
CONFIG_AD74115=y
CONFIG_PLATFORM_MHU=y
CONFIG_LATTICE_ECP3_CONFIG=y
CONFIG_SYMBOLIC_ERRNAME=y
CONFIG_PWM_TWL_LED=y
CONFIG_MFD_AS3722=y
CONFIG_HAVE_NOINSTR_HACK=y
CONFIG_X86_DIRECT_GBPAGES=y
CONFIG_BMI270_SPI=y
CONFIG_SENSORS_FSCHMD=y
CONFIG_SENSORS_AD7418=y
CONFIG_CRYPTO_CAST6=y
CONFIG_DUMMY_CONSOLE=y
CONFIG_TRACE_REMOTE=y
CONFIG_MTD_CFI_STAA=y
CONFIG_CONTEXT_TRACKING=y
CONFIG_PWM_ARGON_FAN_HAT=y
CONFIG_HAVE_KERNEL_LZO=y
CONFIG_LIVEUPDATE=y
CONFIG_REGULATOR_AXP20X=y
CONFIG_ND_BTT=y
CONFIG_CHR_DEV_SCH=y
CONFIG_SENSORS_RM3100_I2C=y
CONFIG_BLK_PM=y
CONFIG_SPI_TLE62X0=y
CONFIG_INPUT_AXP20X_PEK=y
CONFIG_IPACK_BUS=y
CONFIG_HSC030PA_I2C=y
CONFIG_I2C_CHARDEV=y
CONFIG_W1_SLAVE_DS2781=y
CONFIG_MFD_MAX77541=y
CONFIG_CPU_FREQ_GOV_ATTR_SET=y
CONFIG_X86_INTEL_MEMORY_PROTECTION_KEYS=y
CONFIG_DMA_OPS_HELPERS=y
CONFIG_CRYPTO_SM3=y
CONFIG_LEDS_SPI_BYTE=y
CONFIG_CRYPTO_KPP2=y
CONFIG_HAVE_PREEMPT_DYNAMIC_CALL=y
CONFIG_LEDS_LP3952=y
CONFIG_ENVELOPE_DETECTOR=y
CONFIG_CRYPTO_LIB_MD5=y
CONFIG_ZRAM_BACKEND_ZSTD=y
CONFIG_RMI4_F1A=y
CONFIG_CRYPTO_LIB_AES_CBC_MACS=y
CONFIG_VIRTIO_FS=y
CONFIG_HAVE_ARCH_KFENCE=y
CONFIG_FXAS21002C_I2C=y
CONFIG_BLK_DEV_LOOP=y
CONFIG_REGULATOR_PALMAS=y
CONFIG_ARCH_HAS_ELF_RANDOMIZE=y
CONFIG_TOUCHSCREEN_AD7879=y
CONFIG_MFD_TPS6594=y
CONFIG_MICROCODE=y
CONFIG_SERIO_ALTERA_PS2=y
CONFIG_W1_SLAVE_DS250X=y
CONFIG_SCSI_UFSHCD=y
CONFIG_LTC2496=y
CONFIG_CC_HAS_COUNTED_BY_PTR=y
CONFIG_TIMERFD=y
CONFIG_PPS_CLIENT_GPIO=y
CONFIG_HZ_250=y
CONFIG_ARCH_SUPPORTS_PAGE_TABLE_CHECK=y
CONFIG_INPUT_VIVALDIFMAP=y
CONFIG_VCNL4000=y
CONFIG_PVPANIC_MMIO=y
CONFIG_MFD_MT6360=y
CONFIG_GPIO_MAX77650=y
CONFIG_IIO_ST_GYRO_SPI_3AXIS=y
CONFIG_MTD_CFI_AMDSTD=y
CONFIG_TMP117=y
CONFIG_CPU_SUP_CENTAUR=y
CONFIG_SENSORS_MAX31760=y
CONFIG_BCMA_POSSIBLE=y
CONFIG_CRC_ITU_T=y
CONFIG_KMALLOC_PARTITION_RANDOM=y
CONFIG_UDF_FS=y
CONFIG_IRQ_DOMAIN_HIERARCHY=y
CONFIG_FSI_MASTER_ASPEED=y
CONFIG_HAVE_KERNEL_GZIP=y
CONFIG_LEDS_BCM6358=y
CONFIG_HAVE_KVM_DIRTY_RING_ACQ_REL=y
CONFIG_X86_REQUIRED_FEATURE_CMOV=y
CONFIG_TOUCHSCREEN_DYNAPRO=y
CONFIG_SENSORS_NCT6775=y
CONFIG_SCA3000=y
CONFIG_CRYPTO_LIB_DES=y
CONFIG_ARCH_HAS_NMI_SAFE_THIS_CPU_OPS=y
CONFIG_HAVE_GENERIC_TIF_BITS=y
CONFIG_MFD_WCD934X=y
CONFIG_BLK_DEV_INITRD=y
CONFIG_SQUASHFS_DECOMP_MULTI=y
CONFIG_BLOCK=y
CONFIG_PPS_GENERATOR=y
CONFIG_IRQCHIP=y
CONFIG_PALMAS_GPADC=y
CONFIG_SENSORS_INA2XX=y
CONFIG_JFS_DEBUG=y
CONFIG_JFS_SECURITY=y
CONFIG_INTEL_IDLE=y
CONFIG_GPIO_BD71815=y
CONFIG_AD4691=y
CONFIG_TOUCHSCREEN_ADC=y
CONFIG_REGULATOR_BD96801=y
CONFIG_LD_ORPHAN_WARN=y
CONFIG_MEMBLOCK_KHO_SCRATCH=y
CONFIG_BUILDTIME_MCOUNT_SORT=y
CONFIG_FPGA_MGR_ICE40_SPI=y
CONFIG_HAVE_KPROBES=y
CONFIG_MFD_AXP20X_I2C=y
CONFIG_CGROUP_HUGETLB=y
CONFIG_HAVE_UACCESS_VALIDATION=y
CONFIG_INV_MPU6050_IIO=y
CONFIG_NLS_ASCII=y
CONFIG_HAVE_REGS_AND_STACK_ACCESS_API=y
CONFIG_SQUASHFS_FILE_CACHE=y
CONFIG_TOUCHSCREEN_MMS114=y
CONFIG_PER_VMA_LOCK=y
CONFIG_DECOMPRESS_BZIP2=y
CONFIG_HAVE_PERF_REGS=y
CONFIG_FW_LOADER_PAGED_BUF=y
CONFIG_RPMSG=y
CONFIG_NSM=y
CONFIG_CC_HAS_ASM_GOTO_OUTPUT=y
CONFIG_HAVE_PCSPKR_PLATFORM=y
CONFIG_HWLAT_TRACER=y
CONFIG_DEBUG_SPINLOCK=y
CONFIG_TRACER_SNAPSHOT_PER_CPU_SWAP=y
CONFIG_SENSORS_W83627HF=y
CONFIG_XZ_DEC_RISCV=y
CONFIG_PHY_CADENCE_DPHY=y
CONFIG_DEBUG_BUGVERBOSE=y
CONFIG_TI_DAC7311=y
CONFIG_SERIAL_ALTERA_UART=y
CONFIG_MPL115_SPI=y
CONFIG_DEBUG_SG=y
CONFIG_HAVE_GCC_PLUGINS=y
CONFIG_RT_GROUP_SCHED=y
CONFIG_MHI_BUS=y
CONFIG_MLX90635=y
CONFIG_PAGE_SIZE_LESS_THAN_256KB=y
CONFIG_PERF_EVENTS_AMD_BRS=y
CONFIG_MEN_Z188_ADC=y
CONFIG_PRINTK=y
CONFIG_DEBUG_IRQFLAGS=y
CONFIG_GPIO_IT87=y
CONFIG_FXLS8962AF=y
CONFIG_TOUCHSCREEN_GOODIX_BERLIN_CORE=y
CONFIG_HAVE_ARCH_RANDOMIZE_KSTACK_OFFSET=y
CONFIG_ADIS16136=y
CONFIG_CRYPTO_LIB_CHACHA_ARCH=y
CONFIG_REGULATOR_LP87565=y
CONFIG_RMI4_F03=y
CONFIG_REGULATOR_FIXED_VOLTAGE=y
CONFIG_HAS_IOMEM=y
CONFIG_LCD_AMS369FG06=y
CONFIG_LTO_NONE=y
CONFIG_MCP4728=y
CONFIG_SPI_SN_F_OSPI=y
CONFIG_PHY_TI_DS125DF111=y
CONFIG_SENSORS_MAX6697=y
CONFIG_SPARSEMEM_VMEMMAP_PREINIT=y
CONFIG_TRACE_CLOCK=y
CONFIG_EROFS_FS_DEBUG=y
CONFIG_REGULATOR_RT5739=y
CONFIG_MAX14001=y
CONFIG_UACCE=y
CONFIG_CC_NO_STRINGOP_OVERFLOW=y
CONFIG_SERIAL_SIFIVE=y
CONFIG_ADIS16130=y
CONFIG_AS_HAS_NON_CONST_ULEB128=y
CONFIG_ARCH_DMA_ADDR_T_64BIT=y
CONFIG_AD5686=y
CONFIG_HSI_BOARDINFO=y
CONFIG_REGULATOR_TPS65086=y
CONFIG_TOUCHSCREEN_HYCON_HY46XX=y
CONFIG_BATTERY_CHAGALL=y
CONFIG_HAVE_MIXED_BREAKPOINTS_REGS=y
CONFIG_SCHED_OMIT_FRAME_POINTER=y
CONFIG_ROMFS_FS=y
CONFIG_DEBUG_CGROUP_REF=y
CONFIG_GENERIC_IRQ_ENTRY=y
CONFIG_ARCH_WANTS_CLOCKSOURCE_READ_INLINE=y
CONFIG_PINCTRL_GENERIC_MUX=y
CONFIG_SERIAL_8250_DFL=y
CONFIG_BLK_DEV_PMEM=y
CONFIG_RCU_NEED_SEGCBLIST=y
CONFIG_CRYPTO_LIB_GF128HASH=y
CONFIG_CC_HAS_ENTRY_PADDING=y
CONFIG_MAXSMP=y
CONFIG_TSL2583=y
CONFIG_IIO_ST_SENSORS_CORE=y
CONFIG_CRYPTO_LIB_GF128HASH_ARCH=y
CONFIG_IRQ_BYPASS_MANAGER=y
CONFIG_LEDS_LP8788=y
CONFIG_LRU_GEN=y
CONFIG_SENSORS_LM90=y
CONFIG_MTD_CFI_INTELEXT=y
CONFIG_AD3552R_LIB=y
CONFIG_KSTACK_ERASE_RUNTIME_DISABLE=y
CONFIG_PROC_FS=y
CONFIG_MFD_QCOM_PM8008=y
CONFIG_SPI_MEM=y
CONFIG_ARCH_HAS_ELFCORE_COMPAT=y
CONFIG_LCD_VGG2432A4=y
CONFIG_AHCI_CEVA=y
CONFIG_SPI_OFFLOAD=y
CONFIG_BATTERY_CW2015=y
CONFIG_MTD_SPI_NOR_SWP_DISABLE_ON_VOLATILE=y
CONFIG_GPIO_MAX7300=y
CONFIG_MCP4131=y
CONFIG_RTC_LIB=y
CONFIG_KMALLOC_PARTITION_CACHES=y
CONFIG_TASKS_RCU=y
CONFIG_HAS_IOPORT_MAP=y
CONFIG_SCSI_SAS_ATTRS=y
CONFIG_GENERIC_ADC_BATTERY=y
CONFIG_HOTPLUG_SMT=y
CONFIG_FAT_DEFAULT_UTF8=y
CONFIG_IOMMU_IOVA=y
CONFIG_NVMEM_RMEM=y
CONFIG_GPIO_TPIC2810=y
CONFIG_ALTERA_PR_IP_CORE_PLAT=y
CONFIG_GREYBUS=y
CONFIG_HAVE_KVM_IRQ_BYPASS=y
CONFIG_TOUCHSCREEN_CYTTSP5=y
CONFIG_REGULATOR_MP886X=y
CONFIG_SVC_I3C_MASTER=y
CONFIG_MFD_BD9571MWV=y
CONFIG_IOSCHED_BFQ=y
CONFIG_SENSORS_TC74=y
CONFIG_AK8975=y
CONFIG_LATENCYTOP=y
CONFIG_MAC_PARTITION=y
CONFIG_RV=y
CONFIG_X86_DISABLED_FEATURE_CYRIX_ARR=y
CONFIG_HAVE_ARCH_VMAP_STACK=y
CONFIG_MTRR=y
CONFIG_PCSPKR_PLATFORM=y
CONFIG_X86_FRED=y
CONFIG_ARCH_USE_CMPXCHG_LOCKREF=y
CONFIG_GENERIC_CALIBRATE_DELAY=y
CONFIG_ADXL372=y
CONFIG_HAVE_NMI=y
CONFIG_PINCTRL_STMFX=y
CONFIG_RFD_FTL=y
CONFIG_TOUCHSCREEN_IMAGIS=y
CONFIG_GPIO_MAX730X=y
CONFIG_FAULT_INJECTION=y
CONFIG_PM=y
CONFIG_ARCH_MIGHT_HAVE_PC_SERIO=y
CONFIG_AD4030=y
CONFIG_MELLANOX_PLATFORM=y
CONFIG_X86_REQUIRED_FEATURE_CX8=y
