CONFIG_RISCV_SBI=n
CONFIG_ACPI_REDUCED_HARDWARE_ONLY=n
CONFIG_PINCTRL_STARFIVE_JH7110_SYS=n
CONFIG_GENERIC_HWEIGHT=n
CONFIG_MTD_SPI_NOR_USE_4K_SECTORS=n
CONFIG_LD_IS_BFD=n
CONFIG_MOUSE_PS2_LOGIPS2PP=n
CONFIG_HAVE_ARCH_AUDITSYSCALL=n
CONFIG_ARCH_STARFIVE=n
CONFIG_RTC_CLASS=n
CONFIG_DQL=n
CONFIG_HAVE_KERNEL_XZ=n
CONFIG_BLK_DEV_THROTTLING=n
CONFIG_NET_VENDOR_DEC=n
CONFIG_RPMSG_VIRTIO=n
CONFIG_AS_IS_GNU=n
CONFIG_RISCV_IOMMU_PCI=n
CONFIG_ARCH_ENABLE_HUGEPAGE_MIGRATION=n
CONFIG_HAS_IOPORT=n
CONFIG_MMC_DW_PLTFM=n
CONFIG_SYSCTL=n
CONFIG_MMU_LAZY_TLB_REFCOUNT=n
CONFIG_IPV6=n
CONFIG_RESET_STARFIVE_JH7110=n
CONFIG_FB_DEVICE=n
CONFIG_IOMMU_SUPPORT=n
CONFIG_NFS_COMMON=n
CONFIG_EFI_RUNTIME_WRAPPERS=n
CONFIG_FB_SYSMEM_HELPERS_DEFERRED=n
CONFIG_SG_POOL=n
CONFIG_NET_VENDOR_INTEL=n
CONFIG_CAN_CALC_BITTIMING=n
CONFIG_FW_LOADER=n
CONFIG_RISCV_SBI_MPXY_MBOX=n
CONFIG_RANDSTRUCT_NONE=n
CONFIG_PAGE_COUNTER=n
CONFIG_HAVE_ARCH_KGDB=n
CONFIG_HAS_SECURITY_AUDIT=n
CONFIG_PINCTRL_STARFIVE_JH7110=n
CONFIG_THREAD_INFO_IN_TASK=n
CONFIG_RD_GZIP=n
CONFIG_GROUP_SCHED_WEIGHT=n
CONFIG_ARCH_CC_CAN_LINK=n
CONFIG_SERIAL_8250_DW=n
CONFIG_SECURITY_SELINUX_DEVELOP=n
CONFIG_BPF_EVENTS=n
CONFIG_BRIDGE_NETFILTER=n
CONFIG_NLATTR=n
CONFIG_SCHED_HRTICK=n
CONFIG_NF_CT_PROTO_SCTP=n
CONFIG_MTD_BLKDEVS=n
CONFIG_ARCH_SUPPORTS_HUGETLBFS=n
CONFIG_SERIO=n
CONFIG_FB=n
CONFIG_DRM_DISPLAY_HELPER=n
CONFIG_RISCV_APLIC=n
CONFIG_MEMREGION=n
CONFIG_TRACE_IRQFLAGS_SUPPORT=n
CONFIG_ARCH_FLATMEM_ENABLE=n
CONFIG_CGROUP_FREEZER=n
CONFIG_SND_VERBOSE_PROCFS=n
CONFIG_GENERIC_STRNLEN_USER=n
CONFIG_BINARY_PRINTF=n
CONFIG_ARCH_WANTS_NO_INSTR=n
CONFIG_ARCH_HAS_PREEMPT_LAZY=n
CONFIG_USB_OHCI_HCD_PCI=n
CONFIG_ARCH_DEFAULT_CRASH_DUMP=n
CONFIG_CLK_STARFIVE_JH71X0=n
CONFIG_VT_HW_CONSOLE_BINDING=n
CONFIG_ARCH_SUPPORTS_CFI=n
CONFIG_HAVE_PERF_REGS=n
CONFIG_MDIO_BUS_MUX=n
CONFIG_ND_BTT=n
CONFIG_COMMON_CLK=n
CONFIG_IPV6_NDISC_NODETYPE=n
CONFIG_SND_PCM_TIMER=n
CONFIG_RISCV_IMSIC=n
CONFIG_PROC_SYSCTL=n
CONFIG_MEMBARRIER=n
CONFIG_RCU_NEED_SEGCBLIST=n
CONFIG_VIRTIO_DMA_SHARED_BUFFER=n
CONFIG_PHYLIB=n
CONFIG_BTT=n
CONFIG_RISCV_IOMMU=n
CONFIG_SUNXI_SRAM=n
CONFIG_REGULATOR_SPACEMIT_P1=n
CONFIG_NET_NS=n
CONFIG_DRM_KMS_HELPER=n
CONFIG_SWPHY=n
CONFIG_RISCV_ISA_ZABHA=n
CONFIG_ACPI_BATTERY=n
CONFIG_SECURITY_APPARMOR_PARANOID_LOAD=n
CONFIG_HAVE_KRETPROBES=n
CONFIG_RUSTC_HAS_SPAN_FILE=n
CONFIG_GENERIC_IRQ_IPI=n
CONFIG_USB_U_ETHER=n
CONFIG_INTERVAL_TREE=n
CONFIG_PHY_STARFIVE_JH7110_DPHY_RX=n
CONFIG_ARCH_TENSTORRENT=n
CONFIG_I2C=n
CONFIG_CRYPTO_SHA256=n
CONFIG_SATA_PMP=n
CONFIG_ARCH_ULTRARISC=n
CONFIG_KALLSYMS=n
CONFIG_CRYPTO_CMAC=n
CONFIG_SELECT_MEMORY_MODEL=n
CONFIG_FB_SYS_IMAGEBLIT=n
CONFIG_SATA_HOST=n
CONFIG_ARCH_HAS_STRICT_MODULE_RWX=n
CONFIG_NFS_V4_SECURITY_LABEL=n
CONFIG_BLK_DEV_NVME=n
CONFIG_KERNFS=n
CONFIG_RISCV_ISA_V_PREEMPTIVE=n
CONFIG_JOLIET=n
CONFIG_FRAMEBUFFER_CONSOLE=n
CONFIG_HIGH_RES_TIMERS=n
CONFIG_IPC_NS=n
CONFIG_MMC_SDHCI=n
CONFIG_CONSOLE_TRANSLATIONS=n
CONFIG_ELF_CORE=n
CONFIG_SCHED_MC=n
CONFIG_BCMA_POSSIBLE=n
CONFIG_AS_HAS_INSN=n
CONFIG_E1000E=n
CONFIG_IOMMU_PT=n
CONFIG_ERRATA_ANDES=n
CONFIG_DRM_MIPI_DSI=n
CONFIG_HAVE_KVM_IRQ_ROUTING=n
CONFIG_QUEUED_SPINLOCKS=n
CONFIG_MEDIA_CONTROLLER=n
CONFIG_GROUP_SCHED_BANDWIDTH=n
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO_BARE=n
CONFIG_CRYPTO_MANAGER=n
CONFIG_NVMEM_LAYOUTS=n
CONFIG_CC_NO_STRINGOP_OVERFLOW=n
CONFIG_ERRATA_SIFIVE=n
CONFIG_ARCH_SUPPORTS_SCHED_MC=n
CONFIG_LINEAR_RANGES=n
CONFIG_USB_CONFIGFS_ECM=n
CONFIG_DMA_COHERENT_POOL=n
CONFIG_HAVE_FUNCTION_TRACER=n
CONFIG_GENERIC_IRQ_SHOW_LEVEL=n
CONFIG_PINCTRL_SUNXI=n
CONFIG_VHOST_MENU=n
CONFIG_PAGE_SIZE_LESS_THAN_64KB=n
CONFIG_CC_HAS_COUNTED_BY=n
CONFIG_CRYPTO_ENGINE=n
CONFIG_HUGETLBFS=n
CONFIG_PHY_SUN6I_MIPI_DPHY=n
CONFIG_CONTEXT_TRACKING_IDLE=n
CONFIG_XZ_DEC_BCJ=n
CONFIG_COMPAT=n
CONFIG_CROSS_MEMORY_ATTACH=n
CONFIG_DEVMEM=n
CONFIG_CC_HAVE_STACKPROTECTOR_TLS=n
CONFIG_MOUSE_PS2_SYNAPTICS=n
CONFIG_USB_F_SERIAL=n
CONFIG_USB_OTG=n
CONFIG_SPARSEMEM_MANUAL=n
CONFIG_USB_CDNS3=n
CONFIG_ARCH_SPARSEMEM_ENABLE=n
CONFIG_RESET_POLARFIRE_SOC=n
CONFIG_DEBUG_INFO_NONE=n
CONFIG_MTD_BLOCK=n
CONFIG_AIO=n
CONFIG_RAMDAX=n
CONFIG_HAVE_PERF_USER_STACK_DUMP=n
CONFIG_NET_VENDOR_QUALCOMM=n
CONFIG_HAVE_ARCH_MMAP_RND_COMPAT_BITS=n
CONFIG_FB_CFB_IMAGEBLIT=n
CONFIG_GPIO_CDEV=n
CONFIG_PCPU_DEV_REFCNT=n
CONFIG_MQ_IOSCHED_DEADLINE=n
CONFIG_I2C_DESIGNWARE_PLATFORM=n
CONFIG_AS_HAS_NON_CONST_ULEB128=n
CONFIG_PM_GENERIC_DOMAINS_OF=n
CONFIG_VGA_ARB=n
CONFIG_SPI_PL022=n
CONFIG_DST_CACHE=n
CONFIG_HAVE_POSIX_CPU_TIMERS_TASK_WORK=n
CONFIG_NFS_V4_2_SSC_HELPER=n
CONFIG_PINCTRL_SOPHGO_CV1812H=n
CONFIG_WLAN_VENDOR_ATH=n
CONFIG_DMA_ACPI=n
CONFIG_MTD_CFI_NOSWAP=n
CONFIG_KVM_GENERIC_HARDWARE_ENABLING=n
CONFIG_CAN_GW=n
CONFIG_PHY_SPACEMIT_K1_PCIE=n
CONFIG_ACPI_THERMAL_LIB=n
CONFIG_SPACEMIT_CCU=n
CONFIG_SATA_AHCI=n
CONFIG_RING_BUFFER=n
CONFIG_KVM_COMMON=n
CONFIG_VIRTUALIZATION=n
CONFIG_MTD_OF_PARTS=n
CONFIG_USB_PCI=n
CONFIG_DRM_PANEL=n
CONFIG_PINCTRL_ULTRARISC_DP1000=n
CONFIG_EDAC_SUPPORT=n
CONFIG_ARCH_HAS_CC_CAN_LINK=n
CONFIG_IP6_NF_IPTABLES=n
CONFIG_TRACEPOINTS=n
CONFIG_LZ4_DECOMPRESS=n
CONFIG_RISCV_PMU_SBI=n
CONFIG_PINCTRL_STARFIVE_JH7100=n
CONFIG_V4L2_ASYNC=n
CONFIG_AS_HAS_ULEB128=n
CONFIG_THERMAL_OF=n
CONFIG_GPIO_DWAPB=n
CONFIG_SPACEMIT_K3_CCU=n
CONFIG_DRM_SUN4I=n
CONFIG_SPI_DYNAMIC=n
CONFIG_PINCTRL_SUN20I_D1=n
CONFIG_BLK_CGROUP_RWSTAT=n
CONFIG_INPUT_MOUSEDEV=n
CONFIG_SECURITY_APPARMOR_EXPORT_BINARY=n
CONFIG_USB_NET_DRIVERS=n
CONFIG_ARCH_SUPPORTS_CRASH_DUMP=n
CONFIG_CC_HAS_SANE_FUNCTION_ALIGNMENT=n
CONFIG_SUN8I_DE2_CCU=n
CONFIG_JUMP_LABEL=n
CONFIG_FW_CACHE=n
CONFIG_ARCH_WANTS_THP_SWAP=n
CONFIG_SERIAL_8250_PNP=n
CONFIG_ARCH_WANT_OPTIMIZE_HUGETLB_VMEMMAP=n
CONFIG_COMPAT_BINFMT_ELF=n
CONFIG_NFS_V4_0=n
CONFIG_FUTEX_PI=n
CONFIG_COMMON_CLK_EIC7700=n
CONFIG_NETFILTER_EGRESS=n
CONFIG_CRYPTO_USER_API=n
CONFIG_BPF=n
CONFIG_NET_VENDOR_3COM=n
CONFIG_MODULES_TREE_LOOKUP=n
CONFIG_MMU_GATHER_RCU_TABLE_FREE=n
CONFIG_SECURITY_APPARMOR_HASH_DEFAULT=n
CONFIG_IOMMU_DEFAULT_DMA_STRICT=n
CONFIG_POLARFIRE_SOC_IRQ_MUX=n
CONFIG_SND_PCM=n
CONFIG_WLAN_VENDOR_QUANTENNA=n
CONFIG_I2C_HID=n
CONFIG_PINCTRL_STARFIVE_JH7110_AON=n
CONFIG_DWMAC_GENERIC=n
CONFIG_NET_VENDOR_FUNGIBLE=n
CONFIG_STMMAC_ETH=n
CONFIG_MTD_CFI=n
CONFIG_LIBNVDIMM=n
CONFIG_RATIONAL=n
CONFIG_MMC_SDHCI_CADENCE=n
CONFIG_CHECKPOINT_RESTORE=n
CONFIG_ARCH_OPTIONAL_KERNEL_RWX_DEFAULT=n
CONFIG_ERRATA_THEAD_CMO=n
CONFIG_DW_AXI_DMAC=n
CONFIG_GENERIC_LIB_DEVMEM_IS_ALLOWED=n
CONFIG_FSNOTIFY=n
CONFIG_RISCV_APLIC_MSI=n
CONFIG_LD_CAN_USE_KEEP_IN_OVERLAY=n
CONFIG_GOLDFISH=n
CONFIG_NO_HZ_IDLE=n
CONFIG_HOTPLUG_CPU=n
CONFIG_MISC_FILESYSTEMS=n
CONFIG_VIDEO=n
CONFIG_PROC_CHILDREN=n
CONFIG_ACPI_DEBUG=n
CONFIG_ACPI_AC=n
CONFIG_CRC_OPTIMIZATIONS=n
CONFIG_HAVE_SOFTIRQ_ON_OWN_STACK=n
CONFIG_DECOMPRESS_ZSTD=n
CONFIG_SERIAL_8250_PERICOM=n
CONFIG_NAMESPACES=n
CONFIG_SERIAL_8250_PCILIB=n
CONFIG_EFIVAR_FS=n
CONFIG_USB_F_OBEX=n
CONFIG_MOTORCOMM_PHY=n
CONFIG_MMU_NOTIFIER=n
CONFIG_PINCTRL_SOPHGO_CV18XX_OPS=n
CONFIG_RISCV_ISA_VENDOR_EXT_ANDES=n
CONFIG_UCS2_STRING=n
CONFIG_RAID6_PQ_BENCHMARK=n
CONFIG_NET_VENDOR_ALACRITECH=n
CONFIG_MTD_CFI_I2=n
CONFIG_PAGE_SIZE_LESS_THAN_256KB=n
CONFIG_UPROBES=n
CONFIG_ARCH_HAS_SYNC_DMA_FOR_DEVICE=n
CONFIG_I2C_DESIGNWARE_CORE=n
CONFIG_DECOMPRESS_GZIP=n
CONFIG_SUN4I_TIMER=n
CONFIG_CLK_ANALOGBITS_WRPLL_CLN28HPC=n
CONFIG_HAVE_BUILDTIME_MCOUNT_SORT=n
CONFIG_CRYPTO_AUTHENC=n
CONFIG_ARCH_DMA_ADDR_T_64BIT=n
CONFIG_CGROUP_WRITEBACK=n
CONFIG_HAVE_ARCH_SECCOMP=n
CONFIG_NET_VENDOR_META=n
CONFIG_IP6_NF_MATCH_IPV6HEADER=n
CONFIG_USB_CDNS_SUPPORT=n
CONFIG_USB_F_FS=n
CONFIG_IRQ_MSI_LIB=n
CONFIG_ARCH_HAS_KCOV=n
CONFIG_SYSVIPC=n
