CONFIG_HAVE_STATIC_CALL=n
CONFIG_GLOB=n
CONFIG_AUDIT_ARCH=n
CONFIG_MOUSE_PS2=n
CONFIG_PCI_PASID=n
CONFIG_UNWINDER_ORC=n
CONFIG_POSIX_MQUEUE_SYSCTL=n
CONFIG_KRETPROBES=n
CONFIG_X86_REQUIRED_FEATURE_LM=n
CONFIG_X86_REQUIRED_FEATURE_XMM2=n
CONFIG_PCIE_PME=n
CONFIG_NEED_PER_CPU_PAGE_FIRST_CHUNK=n
CONFIG_HAVE_RUST=n
CONFIG_CPU_FREQ_GOV_ONDEMAND=n
CONFIG_RPS=n
CONFIG_NF_LOG_IPV4=n
CONFIG_GENERIC_TRACER=n
CONFIG_LZ4_COMPRESS=n
CONFIG_X86_REQUIRED_FEATURE_NOPL=n
CONFIG_TRACING=n
CONFIG_OPTPROBES=n
CONFIG_CRYPTO_MANAGER2=n
CONFIG_NET_VENDOR_BROADCOM=n
CONFIG_PROFILING=n
CONFIG_MAC_EMUMOUSEBTN=n
CONFIG_MITIGATION_SRSO=n
CONFIG_EARLY_PRINTK_DBGP=n
CONFIG_VIRTIO_PCI_LIB=n
CONFIG_LOCALVERSION_AUTO=n
CONFIG_HIBERNATION_COMP_LZO=n
CONFIG_HAS_DMA=n
CONFIG_DRM_BUDDY=n
CONFIG_PNFS_FLEXFILE_LAYOUT=n
CONFIG_X86_UMIP=n
CONFIG_CLZ_TAB=n
CONFIG_INTERVAL_TREE=n
CONFIG_X86_REQUIRED_FEATURE_CPUID=n
CONFIG_HAVE_ARCH_HUGE_VMALLOC=n
CONFIG_BINFMT_SCRIPT=n
CONFIG_SWAP=n
CONFIG_CROSS_MEMORY_ATTACH=n
CONFIG_HAVE_REGS_AND_STACK_ACCESS_API=n
CONFIG_HID_GENERIC=n
CONFIG_QUEUED_SPINLOCKS=n
CONFIG_ARCH_USE_BUILTIN_BSWAP=n
CONFIG_CRYPTO_LIB_SHA256_ARCH=n
CONFIG_ACPI_HOTPLUG_IOAPIC=n
CONFIG_NF_LOG_IPV6=n
CONFIG_WLAN_VENDOR_REALTEK=n
CONFIG_WLAN_VENDOR_PURELIFI=n
CONFIG_SND_TIMER=n
CONFIG_CRYPTO_SIG=n
CONFIG_ARCH_SUPPORTS_KMAP_LOCAL_FORCE_MAP=n
CONFIG_IOMMU_SUPPORT=n
CONFIG_X86_ACPI_CPUFREQ_CPB=n
CONFIG_CRYPTO_KRB5=n
CONFIG_RUSTC_HAS_UNNECESSARY_TRANSMUTES=n
CONFIG_VT_CONSOLE=n
CONFIG_ZSTD_COMMON=n
CONFIG_TASK_XACCT=n
CONFIG_X86_SUPPORTS_MEMORY_FAILURE=n
CONFIG_PM_DEBUG=n
CONFIG_FUTEX_ROBUST_UNLOCK=n
CONFIG_NET_VENDOR_AQUANTIA=n
CONFIG_ACPI_PROCESSOR=n
CONFIG_SERIAL_8250_LPSS=n
CONFIG_X86_CX8=n
CONFIG_EFI_RUNTIME_MAP=n
CONFIG_NET_VENDOR_MICROCHIP=n
CONFIG_HAVE_ARCH_SECCOMP_FILTER=n
CONFIG_ARCH_HAS_FORTIFY_SOURCE=n
CONFIG_NET_VENDOR_TEHUTI=n
CONFIG_MITIGATION_GDS=n
CONFIG_HIBERNATION=n
CONFIG_NET_VENDOR_CORTINA=n
CONFIG_ARCH_ENABLE_MEMORY_HOTPLUG=n
CONFIG_ARCH_SPARSEMEM_DEFAULT=n
CONFIG_SCSI_COMMON=n
CONFIG_NF_CONNTRACK=n
CONFIG_GENERIC_CPU_VULNERABILITIES=n
CONFIG_ARCH_HAS_GENERIC_CRASHKERNEL_RESERVATION=n
CONFIG_X86_DISABLED_FEATURE_XENPV=n
CONFIG_NFS_COMMON=n
CONFIG_X86_REQUIRED_FEATURE_FPU=n
CONFIG_NET_VENDOR_NVIDIA=n
CONFIG_SCHED_SMT=n
CONFIG_HAVE_ASM_MODVERSIONS=n
CONFIG_MMU_GATHER_MERGE_VMAS=n
CONFIG_SND_HDA=n
CONFIG_RELAY=n
CONFIG_PADATA=n
CONFIG_VDSO_GETRANDOM=n
CONFIG_VMAP_STACK=n
CONFIG_NET_VENDOR_ARC=n
CONFIG_TMPFS_POSIX_ACL=n
CONFIG_INPUT=n
CONFIG_IP_PNP_RARP=n
CONFIG_KRETPROBE_ON_RETHOOK=n
CONFIG_DRM_PANEL_ORIENTATION_QUIRKS=n
CONFIG_ELF_CORE=n
CONFIG_WLAN_VENDOR_MICROCHIP=n
CONFIG_ACPI_SLEEP=n
CONFIG_FW_CACHE=n
CONFIG_EVENTFD=n
CONFIG_CRYPTO_LZ4=n
CONFIG_RETHOOK=n
CONFIG_ELFCORE=n
CONFIG_SUNRPC=n
CONFIG_PREEMPT_RCU=n
CONFIG_AGP=n
CONFIG_ACPI_SPCR_TABLE=n
CONFIG_ASSOCIATIVE_ARRAY=n
CONFIG_RING_BUFFER=n
CONFIG_ARCH_WANT_HUGETLB_VMEMMAP_PREINIT=n
CONFIG_HAVE_RSEQ=n
CONFIG_NET_CLS_CGROUP=n
CONFIG_XFRM_AH=n
CONFIG_DEBUG_MISC=n
CONFIG_POSIX_TIMERS=n
CONFIG_SLAB_MERGE_DEFAULT=n
CONFIG_ARCH_SUPPORTS_MEMORY_FAILURE=n
CONFIG_GENERIC_IRQ_ENTRY=n
CONFIG_MOUSE_PS2_SYNAPTICS_SMBUS=n
CONFIG_YENTA_RICOH=n
CONFIG_FWNODE_MDIO=n
CONFIG_ARCH_HAS_KERNEL_FPU_SUPPORT=n
CONFIG_NET_VENDOR_TI=n
CONFIG_FUNCTION_ALIGNMENT_4B=n
CONFIG_X86_DISABLED_FEATURE_CENTAUR_MCR=n
CONFIG_MPILIB=n
CONFIG_NETFILTER_EGRESS=n
CONFIG_MITIGATION_TAA=n
CONFIG_HAVE_DEBUG_KMEMLEAK=n
CONFIG_MITIGATION_SPECTRE_V1=n
CONFIG_AUTOFS_FS=n
CONFIG_USB_XHCI_PCI=n
CONFIG_COMPACTION=n
CONFIG_HAVE_ARCH_SECCOMP=n
CONFIG_AMD_NODE=n
CONFIG_IP_PIMSM_V1=n
CONFIG_BLK_DEV_LOOP=n
CONFIG_SBITMAP=n
CONFIG_HIGH_RES_TIMERS=n
CONFIG_NET_VENDOR_DLINK=n
CONFIG_HAVE_RETHOOK=n
CONFIG_VIRTIO_PCI_LIB_LEGACY=n
CONFIG_ACPI_PRMT=n
CONFIG_XXHASH=n
CONFIG_MISC_FILESYSTEMS=n
CONFIG_UCS2_STRING=n
CONFIG_ARCH_HAS_PTE_SPECIAL=n
CONFIG_EEEPC_LAPTOP=n
CONFIG_HOTPLUG_CORE_SYNC_DEAD=n
CONFIG_LD_IS_BFD=n
CONFIG_HAVE_ARCH_MMAP_RND_COMPAT_BITS=n
CONFIG_COMPAT_32BIT_TIME=n
CONFIG_INPUT_LEDS=n
CONFIG_CHECK_SIGNATURE=n
CONFIG_GRO_CELLS=n
CONFIG_DRM_DISPLAY_HDCP_HELPER=n
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO_BARE=n
CONFIG_DRM_DISPLAY_DSC_HELPER=n
CONFIG_HAVE_PV_STEAL_CLOCK_GEN=n
CONFIG_DMA_OPS_HELPERS=n
CONFIG_GROUP_SCHED_WEIGHT=n
CONFIG_ARCH_HAS_DEBUG_WX=n
CONFIG_INET=n
CONFIG_CRYPTO_HASH=n
CONFIG_VFAT_FS=n
CONFIG_ARCH_USE_QUEUED_RWLOCKS=n
CONFIG_GPU_BUDDY=n
CONFIG_DRM_I915=n
CONFIG_CRYPTO_ECHAINIV=n
CONFIG_SERIO_SERPORT=n
CONFIG_FW_LOADER=n
CONFIG_SPARSEMEM_VMEMMAP=n
CONFIG_RUSTC_HAS_FILE_WITH_NUL=n
CONFIG_HAVE_FUNCTION_ERROR_INJECTION=n
CONFIG_UPROBES=n
CONFIG_HAVE_DYNAMIC_FTRACE=n
CONFIG_TTY=n
CONFIG_EXT4_FS=n
CONFIG_SECURITY_NETWORK=n
CONFIG_PPS=n
CONFIG_HAVE_KERNEL_GZIP=n
CONFIG_DMA_VIRTUAL_CHANNELS=n
CONFIG_HAVE_SETUP_PER_CPU_AREA=n
CONFIG_HAVE_KRETPROBES=n
CONFIG_SCHED_HRTICK=n
CONFIG_BRANCH_PROFILE_NONE=n
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE=n
CONFIG_MMU_GATHER_TABLE_FREE=n
CONFIG_PTP_1588_CLOCK_VMCLOCK=n
CONFIG_CC_NO_STRINGOP_OVERFLOW=n
CONFIG_ARCH_WANT_OLD_COMPAT_IPC=n
CONFIG_CRYPTO_AEAD2=n
CONFIG_DUMMY_CONSOLE=n
CONFIG_FUTEX_PI=n
CONFIG_MD_BITMAP=n
CONFIG_ACPI_MDIO=n
CONFIG_HAVE_SOFTIRQ_ON_OWN_STACK=n
CONFIG_PATA_AMD=n
CONFIG_USB_HID=n
CONFIG_XZ_DEC_ARM=n
CONFIG_IP_PNP=n
CONFIG_I2C_HELPER_AUTO=n
CONFIG_NET_CLS_ACT=n
CONFIG_ARCH_HAS_PKEYS=n
CONFIG_CC_HAS_COUNTED_BY_PTR=n
CONFIG_MD_BITMAP_FILE=n
CONFIG_SOCK_RX_QUEUE_MAPPING=n
CONFIG_CRYPTO_HMAC=n
CONFIG_X86_IO_APIC=n
CONFIG_NET_VENDOR_EMULEX=n
CONFIG_ACPI_REV_OVERRIDE_POSSIBLE=n
CONFIG_KEXEC=n
CONFIG_SCHED_MC=n
CONFIG_I2C_BOARDINFO=n
CONFIG_BLK_DEBUG_FS=n
CONFIG_NO_HZ_COMMON=n
CONFIG_EPROBE_EVENTS=n
CONFIG_EXCLUSIVE_SYSTEM_RAM=n
CONFIG_E1000E_HWTS=n
CONFIG_UTS_NS=n
CONFIG_CGROUP_PERF=n
CONFIG_ARCH_HAS_PREEMPT_LAZY=n
CONFIG_SCHEDSTATS=n
CONFIG_SECCOMP=n
CONFIG_AUDITSYSCALL=n
CONFIG_IP6_NF_IPTABLES=n
CONFIG_ARCH_HAS_GIGANTIC_PAGE=n
CONFIG_SND_HDA_INTEL=n
CONFIG_NF_LOG_SYSLOG=n
CONFIG_GENERIC_IRQ_SHOW=n
CONFIG_PCI_DIRECT=n
CONFIG_DEBUG_FS=n
CONFIG_ARCH_MIGHT_HAVE_PC_PARPORT=n
CONFIG_CRYPTO_LIB_SHA512=n
CONFIG_ARCH_USE_CMPXCHG_LOCKREF=n
CONFIG_NF_CONNTRACK_SECMARK=n
CONFIG_HAVE_MOVE_PMD=n
CONFIG_USER_STACKTRACE_SUPPORT=n
CONFIG_CGROUPS=n
CONFIG_TICK_CPU_ACCOUNTING=n
CONFIG_ARCH_CLOCKSOURCE_INIT=n
CONFIG_MOUSE_PS2_LIFEBOOK=n
CONFIG_NFS_DISABLE_UDP_SUPPORT=n
CONFIG_ARCH_SUPPORTS_LTO_CLANG_THIN=n
CONFIG_PROVIDE_OHCI1394_DMA_INIT=n
CONFIG_SND_JACK_INPUT_DEV=n
CONFIG_ARCH_SUPPORTS_KEXEC_JUMP=n
CONFIG_X86_INTEL_MEMORY_PROTECTION_KEYS=n
CONFIG_YENTA_ENE_TUNE=n
CONFIG_DYNAMIC_SIGFRAME=n
CONFIG_PRINTK=n
CONFIG_MITIGATION_RFDS=n
CONFIG_SPARSEMEM=n
CONFIG_I8253_LOCK=n
CONFIG_CRYPTO_CTR=n
CONFIG_NET_POLL_CONTROLLER=n
CONFIG_SECTION_MISMATCH_WARN_ONLY=n
CONFIG_NET_9P_VIRTIO=n
CONFIG_HAVE_KERNEL_BZIP2=n
CONFIG_PNPACPI=n
CONFIG_NF_NAT_IRC=n
CONFIG_COMPAT_OLD_SIGACTION=n
CONFIG_X86_DISABLED_FEATURE_SGX=n
CONFIG_NF_NAT=n
CONFIG_CPU_FREQ_GOV_COMMON=n
CONFIG_MAILBOX=n
CONFIG_EXT4_FS_SECURITY=n
CONFIG_ARCH_SUPPORTS_SCHED_CLUSTER=n
CONFIG_CC_HAS_MARCH_NATIVE=n
CONFIG_GENERIC_CLOCKEVENTS_COUPLED_INLINE=n
CONFIG_NF_CONNTRACK_SIP=n
CONFIG_GENERIC_CPU_AUTOPROBE=n
CONFIG_NET_VENDOR_QUALCOMM=n
CONFIG_HAVE_ARCH_PREL32_RELOCATIONS=n
CONFIG_CORE_DUMP_DEFAULT_ELF_HEADERS=n
CONFIG_NET_9P=n
CONFIG_QUOTA_NETLINK_INTERFACE=n
CONFIG_HAVE_VIRT_CPU_ACCOUNTING_GEN=n
CONFIG_INTEL_GTT=n
CONFIG_SND_PCI=n
CONFIG_DMA_SHARED_BUFFER=n
CONFIG_MMU_GATHER_RCU_TABLE_FREE=n
CONFIG_KEYS=n
CONFIG_X86_REQUIRED_FEATURE_MSR=n
CONFIG_HAVE_FENTRY=n
CONFIG_ATA_BMDMA=n
CONFIG_INOTIFY_USER=n
CONFIG_NET_VENDOR_GOOGLE=n
CONFIG_INET6_AH=n
CONFIG_RTC_I2C_AND_SPI=n
CONFIG_KPROBE_EVENTS=n
CONFIG_64BIT=n
CONFIG_X509_CERTIFICATE_PARSER=n
CONFIG_GENERIC_STRNLEN_USER=n
CONFIG_AMD_NUMA=n
CONFIG_SND_INTEL_SOUNDWIRE_ACPI=n
