CONFIG_GPIO_WM831X=y
CONFIG_LOCKDEP=y
CONFIG_IIO_BACKEND=y
CONFIG_B53_SRAB_DRIVER=y
CONFIG_PCIE_PME=y
CONFIG_PINCTRL_KAANAPALI=y
CONFIG_ARCH_HAS_PTE_SPECIAL=y
CONFIG_TIMER_PROBE=y
CONFIG_PID_NS=y
CONFIG_ISL29003=y
CONFIG_DMA_BOUNCE_UNALIGNED_KMALLOC=y
CONFIG_ARCH_TESLA_FSD=y
CONFIG_BACKLIGHT_CLASS_DEVICE=y
CONFIG_F2FS_FS_COMPRESSION=y
CONFIG_SERIAL_8250_IOC3=y
CONFIG_SPI_LANTIQ_SSC=y
CONFIG_STK8312=y
CONFIG_SPI_INTEL_PCI=y
CONFIG_COMMON_CLK_MT8516=y
CONFIG_NET_DSA_SMSC_LAN9303=y
CONFIG_COMMON_CLK_MT8188_IMP_IIC_WRAP=y
CONFIG_MTD_RAM=y
CONFIG_HAVE_ARM_SMCCC_DISCOVERY=y
CONFIG_PINCTRL_ULTRARISC=y
CONFIG_STM=y
CONFIG_TCP_AO=y
CONFIG_IIO_KFIFO_BUF=y
CONFIG_GPIO_MAX7300=y
CONFIG_SENSORS_MAX1668=y
CONFIG_HW_RANDOM_INGENIC_RNG=y
CONFIG_GPIO_XLP=y
CONFIG_DEBUG_PREEMPT=y
CONFIG_GENERIC_CPU_VULNERABILITIES=y
CONFIG_PCI_MSI=y
CONFIG_MFD_AT91_USART=y
CONFIG_XILINX_XADC=y
CONFIG_SENSORS_ADM1025=y
CONFIG_STM32_TIMER_CNT=y
CONFIG_MOUSE_SERIAL=y
CONFIG_NETLINK_DIAG=y
CONFIG_STARFIVE_JHB100_INTC=y
CONFIG_SERIAL_8250_EXAR=y
CONFIG_PREEMPT_RCU=y
CONFIG_VFIO_DEBUGFS=y
CONFIG_IOMMU_IO_PGTABLE_DART=y
CONFIG_PCIE_DW=y
CONFIG_NET_DSA_QCA8K_LEDS_SUPPORT=y
CONFIG_ADXL372_SPI=y
CONFIG_SOC_TEGRA_FUSE=y
CONFIG_WANXL_BUILD_FIRMWARE=y
CONFIG_SERIAL_8250_OMAP=y
CONFIG_CRYPTO_GENIV=y
CONFIG_AD5766=y
CONFIG_RMI4_SPI=y
CONFIG_KEYBOARD_ADP5588=y
CONFIG_PRINTK=y
CONFIG_VIRTIO_VSOCKETS_COMMON=y
CONFIG_THREAD_INFO_IN_TASK=y
CONFIG_VFIO_MDEV=y
CONFIG_EXYNOS_5410_COMMON_CLK=y
CONFIG_SPI_ALTERA_CORE=y
CONFIG_AD7780=y
CONFIG_DAMON_LRU_SORT=y
CONFIG_STATIC_KEYS_SELFTEST=y
CONFIG_CRYPTO_USER_API_RNG=y
CONFIG_AS_HAS_NON_CONST_ULEB128=y
CONFIG_EXT4_DEBUG=y
CONFIG_COMMON_CLK_FSL_FLEXSPI=y
CONFIG_QRTR=y
CONFIG_ND_BTT=y
CONFIG_PCIE_QCOM_COMMON=y
CONFIG_SUN50I_A100_CCU=y
CONFIG_LTC2471=y
CONFIG_RT_MUTEXES=y
CONFIG_CRC_T10DIF_ARCH=y
CONFIG_ARCH_SUPPORTS_LTO_CLANG=y
CONFIG_SERIAL_ICOM=y
CONFIG_VSI_IOMMU=y
CONFIG_AK8974=y
CONFIG_SPI_ATMEL_QUADSPI=y
CONFIG_PINCTRL_STM32F429=y
CONFIG_PHY_HISI_INNO_USB2=y
CONFIG_CPU_THERMAL=y
CONFIG_PPP_SYNC_TTY=y
CONFIG_I2C_HIX5HD2=y
CONFIG_BLOCK=y
CONFIG_CRYPTO_BENCHMARK=y
CONFIG_CHARGER_QCOM_SMBB=y
CONFIG_BLK_DEV_RBD=y
CONFIG_SERIAL_ALTERA_UART=y
CONFIG_LEDS_TRIGGER_TIMER=y
CONFIG_HP_WATCHDOG=y
CONFIG_SPARSEMEM_EXTREME=y
CONFIG_PHY_MTK_DP=y
CONFIG_PROVE_RCU_LIST=y
CONFIG_64BIT=y
CONFIG_AD2S90=y
CONFIG_SM_GCC_8450=y
CONFIG_REGULATOR_AXP20X=y
CONFIG_RESET_RZV2H_USB2PHY=y
CONFIG_NVME_HWMON=y
CONFIG_ARCH_HAS_FORCE_DMA_UNENCRYPTED=y
CONFIG_VSOCKETS_LOOPBACK=y
CONFIG_CLK_RCAR_GEN4_CPG=y
CONFIG_RESET_UNIPHIER=y
CONFIG_MCHP_EIC=y
CONFIG_SYS_R9A09G057=y
CONFIG_CC_HAS_AUTO_VAR_INIT_PATTERN=y
CONFIG_CRYPTO_RNG2=y
CONFIG_NLS_MAC_GREEK=y
CONFIG_SERIAL_FSL_LPUART=y
CONFIG_XILLYBUS=y
CONFIG_PINCTRL_AC5=y
CONFIG_RICHTEK_RTQ6056=y
CONFIG_SENSORS_OCC_P8_I2C=y
CONFIG_SENSORS_SPD5118_DETECT=y
CONFIG_QCS_GCC_615=y
CONFIG_SPI_TEGRA20_SLINK=y
CONFIG_RATIONAL=y
CONFIG_REGULATOR_MAX8907=y
CONFIG_SPI_LOONGSON_PCI=y
CONFIG_F2FS_FS_LZO=y
CONFIG_I2C_OWL=y
CONFIG_ADMV4420=y
CONFIG_MCB=y
CONFIG_AD5110=y
CONFIG_COMMON_CLK_MT8196_UFSSYS=y
CONFIG_SC_VIDEOCC_7280=y
CONFIG_SENSORS_LTC2991=y
CONFIG_ALS31300=y
CONFIG_CLK_TWL6040=y
CONFIG_MFD_CPCAP=y
CONFIG_ARM64_SW_TTBR0_PAN=y
CONFIG_GPIOLIB_LEGACY=y
CONFIG_CLK_R8A7778=y
CONFIG_SERIAL_8250_DW=y
CONFIG_MAX5481=y
CONFIG_CRYPTO_LIB_DES=y
CONFIG_DEBUG_FS=y
CONFIG_PINCTRL_QCS8300=y
CONFIG_REGULATOR_PF1550=y
CONFIG_CRYPTO_LIB_NH_ARCH=y
CONFIG_JFS_POSIX_ACL=y
CONFIG_B53_MDIO_DRIVER=y
CONFIG_SMSC37B787_WDT=y
CONFIG_IPQ_LCC_806X=y
CONFIG_MAX44000=y
CONFIG_NLS_ISO8859_2=y
CONFIG_HAVE_ARCH_KGDB=y
CONFIG_MODULES_USE_ELF_RELA=y
CONFIG_BMI323_SPI=y
CONFIG_ULTRIX_PARTITION=y
CONFIG_CHARGER_BQ24735=y
CONFIG_REF_TRACKER=y
CONFIG_CHR_DEV_SG=y
CONFIG_CHARGER_BQ24257=y
CONFIG_COMMON_CLK_MT8192_MSDC=y
CONFIG_BLK_DEV_BSG=y
CONFIG_NEED_SG_DMA_FLAGS=y
CONFIG_LIBNVDIMM=y
CONFIG_GCC_NO_STRINGOP_OVERFLOW=y
CONFIG_IIO_DUMMY_EVGEN=y
CONFIG_WW_MUTEX_SELFTEST=y
CONFIG_ADXL380_I2C=y
CONFIG_ZPA2326_SPI=y
CONFIG_OVERLAY_FS=y
CONFIG_ARCH_HAS_FORTIFY_SOURCE=y
CONFIG_SCSI_UFS_RENESAS=y
CONFIG_DMABUF_HEAPS_SYSTEM=y
CONFIG_RENESAS_RZN1WDT=y
CONFIG_OMAP_SSI=y
CONFIG_SENSORS_VIA686A=y
CONFIG_TS4800_IRQ=y
CONFIG_ARCH_DMA_ADDR_T_64BIT=y
CONFIG_ARCH_USE_SYM_ANNOTATIONS=y
CONFIG_PINCTRL_BCM6358=y
CONFIG_PPP_ASYNC=y
CONFIG_ARCH_HAS_HW_PTE_YOUNG=y
CONFIG_HDQ_MASTER_OMAP=y
CONFIG_NET_DSA_QCA8K=y
CONFIG_MFD_PM8XXX=y
CONFIG_ARM_GIC=y
CONFIG_MSM_GCC_8916=y
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO=y
CONFIG_SCSI_UFS_DWC_TC_PCI=y
CONFIG_TRACE_GPU_MEM=y
CONFIG_INET_DIAG_DESTROY=y
CONFIG_AD7791=y
CONFIG_MDIO_THUNDER=y
CONFIG_SERIAL_PIC32=y
CONFIG_HAVE_C_RECORDMCOUNT=y
CONFIG_BMI160_SPI=y
CONFIG_CEPH_LIB=y
CONFIG_KEYS=y
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO_BARE=y
CONFIG_AT803X_PHY=y
CONFIG_TRUSTED_KEYS_DEBUG=y
CONFIG_PCI_PWRCTRL_TC9563=y
CONFIG_GENERIC_MSI_IRQ=y
CONFIG_ARCH_HAVE_NMI_SAFE_CMPXCHG=y
CONFIG_BT_INTEL=y
CONFIG_RESET_TI_TPS380X=y
CONFIG_GENERIC_PINCONF=y
CONFIG_MEMSTICK_R592=y
CONFIG_ARM_SMMU_V3_PMU=y
CONFIG_I2C_SLAVE=y
CONFIG_JOYSTICK_COBRA=y
CONFIG_GPIO_ADNP=y
CONFIG_PPPOL2TP=y
CONFIG_POWER_RESET_PIIX4_POWEROFF=y
CONFIG_CRYPTO_LIB_MD5=y
CONFIG_NO_HZ_IDLE=y
CONFIG_FW_LOADER=y
CONFIG_IOMMU_DEBUGFS=y
CONFIG_SOCK_RX_QUEUE_MAPPING=y
CONFIG_CRYPTO_TWOFISH=y
CONFIG_I2C_HISI=y
CONFIG_PHY_QCOM_SGMII_ETH=y
CONFIG_DEBUG_RT_MUTEXES=y
CONFIG_ARM_DMC620_PMU=y
CONFIG_SERIAL_STM32=y
CONFIG_PINCTRL_S900=y
CONFIG_PAGE_COUNTER=y
CONFIG_COMMON_CLK_MT8188_CAMSYS=y
CONFIG_USB4_CONFIGFS=y
CONFIG_LIVEUPDATE=y
CONFIG_PHY_NXP_TJA1145=y
CONFIG_SENSORS_AD7314=y
CONFIG_COMMON_CLK_MT6779_CAMSYS=y
CONFIG_COMMON_CLK_MT2712=y
CONFIG_SENSIRION_SGP40=y
CONFIG_SDM_VIDEOCC_845=y
CONFIG_COMMON_CLK_MT7986_ETHSYS=y
CONFIG_MFD_SPACEMIT_P1=y
CONFIG_MFD_WM831X_I2C=y
CONFIG_SCSI_MOD=y
CONFIG_FIXED_PHY=y
CONFIG_MSM_GCC_8976=y
CONFIG_CRYPTO_CAST5=y
CONFIG_COMMON_CLK_MT8192_VDECSYS=y
CONFIG_POWER_RESET_LTC2952=y
CONFIG_LV0104CS=y
CONFIG_I2C_LPC2K=y
CONFIG_REGULATOR_BD957XMUF=y
CONFIG_LTC2309=y
CONFIG_SENSORS_NCT6683=y
CONFIG_RESET_UNIPHIER_GLUE=y
CONFIG_VCPU_STALL_DETECTOR=y
CONFIG_COMMON_CLK_GXBB=y
CONFIG_W1_SLAVE_DS28E04=y
CONFIG_CLONE_BACKWARDS=y
CONFIG_NVME_TARGET=y
CONFIG_AHCI_TEGRA=y
CONFIG_OPTEE_STATIC_PROTMEM_POOL=y
CONFIG_LEDS_TRIGGER_ACTIVITY=y
CONFIG_STP=y
CONFIG_ARMADA_THERMAL=y
CONFIG_SPRD_UMS512_CLK=y
CONFIG_SPI_SUN4I=y
CONFIG_OF_RESOLVE=y
CONFIG_QUEUED_SPINLOCKS=y
CONFIG_COMMON_CLK_MT8192_MMSYS=y
CONFIG_POWER_RESET_RMOBILE=y
CONFIG_INET_DIAG=y
CONFIG_LEDS_TRIGGER_MTD=y
CONFIG_COMMON_CLK_RPMI=y
CONFIG_PSI=y
CONFIG_SA_GCC_8775P=y
CONFIG_PHY_MESON_AXG_PCIE=y
CONFIG_REGULATOR_QCOM_RPMH=y
CONFIG_WDTPCI=y
CONFIG_REGULATOR_MT6380=y
CONFIG_PCIE_ROCKCHIP_DW_EP=y
CONFIG_XZ_DEC_BCJ=y
CONFIG_PINCTRL_SH_PFC_GPIO=y
CONFIG_SW_SYNC=y
CONFIG_ARM_SCMI_PERF_DOMAIN=y
CONFIG_SERIAL_ST_ASC=y
CONFIG_MISC_ALCOR_PCI=y
CONFIG_SX9500=y
CONFIG_BATTERY_ACT8945A=y
CONFIG_PINCTRL_SM8650=y
CONFIG_CRYPTO_DH=y
CONFIG_DEVFREQ_GOV_PASSIVE=y
CONFIG_POWER_RESET_SYSCON=y
CONFIG_PATA_CMD640_PCI=y
CONFIG_ARCH_TEGRA_210_SOC=y
CONFIG_PCIE_SOPHGO_DW=y
CONFIG_RCU_NEED_SEGCBLIST=y
CONFIG_INIT_STACK_ALL_PATTERN=y
CONFIG_COMMON_CLK_MT2701_IMGSYS=y
CONFIG_PINCTRL_IMX8MQ=y
CONFIG_PHY_ECONET_PCIE=y
CONFIG_CLK_KAANAPALI_VIDEOCC=y
CONFIG_SERIAL_FSL_LINFLEXUART=y
CONFIG_NCN26000_PHY=y
CONFIG_ARCH_SUPPORTS_UPROBES=y
CONFIG_BATTERY_DA9052=y
CONFIG_HI6421V600_IRQ=y
CONFIG_COMMON_CLK_SI5341=y
CONFIG_SCHED_CACHE=y
CONFIG_PINCTRL_BRCMSTB=y
CONFIG_ARCH_SPARSEMEM_ENABLE=y
CONFIG_ARCNET=y
CONFIG_INGENIC_TIMER=y
CONFIG_PCIE_LAYERSCAPE_GEN4=y
CONFIG_SERIAL_MESON_CONSOLE=y
CONFIG_MFD_STMFX=y
CONFIG_DEBUG_ATOMIC_SLEEP=y
CONFIG_ARCH_HAS_PTDUMP=y
CONFIG_MAX1241=y
CONFIG_ARM_SCMI_POWER_CONTROL=y
CONFIG_SPI_RPCIF=y
CONFIG_USB4_DEBUGFS_WRITE=y
CONFIG_REGULATOR_MAX77503=y
CONFIG_NLS_MAC_ICELAND=y
CONFIG_MFD_SKY81452=y
CONFIG_DECOMPRESS_LZO=y
CONFIG_ARCH_HAS_PKEYS=y
CONFIG_AD7091R=y
CONFIG_LDISC_AUTOLOAD=y
CONFIG_SPI_ALTERA=y
CONFIG_MMU_GATHER_RCU_TABLE_FREE=y
CONFIG_ARCH_ENABLE_HUGEPAGE_MIGRATION=y
CONFIG_SYS_SUPPORTS_SH_CMT=y
CONFIG_TREE_RCU=y
CONFIG_SYSC_RCAR_GEN4=y
CONFIG_XFS_ONLINE_SCRUB_STATS=y
CONFIG_HSI_BOARDINFO=y
CONFIG_SERIAL_MXS_AUART=y
CONFIG_CRYPTO_SHA3=y
CONFIG_SPI_POLARFIRE_SOC=y
CONFIG_I2C_KEBA=y
CONFIG_CRYPTO_NULL=y
CONFIG_HAVE_ARCH_HUGE_VMAP=y
CONFIG_KXSD9=y
CONFIG_PHY_EXYNOS_PCIE=y
CONFIG_ROCKCHIP_ERRATUM_3568002=y
CONFIG_FSL_MC_UAPI_SUPPORT=y
CONFIG_CV1800_MBOX=y
CONFIG_ATMEL_SSC=y
CONFIG_BCM_KONA_USB2_PHY=y
CONFIG_I2C_DAVINCI=y
CONFIG_SC_CAMCC_7280=y
CONFIG_HBMC_AM654=y
CONFIG_CMA_SIZE_SEL_MAX=y
CONFIG_SENSORS_SMSC47B397=y
CONFIG_ATMEL_EBI=y
CONFIG_TI_ADS8344=y
CONFIG_I2C_EG20T=y
CONFIG_SENSORS_LM73=y
CONFIG_GPIO_PCF857X=y
CONFIG_PCIE_KIRIN=y
CONFIG_CLK_UNIPHIER=y
CONFIG_NVME_TARGET_AUTH=y
CONFIG_VHOST_IOTLB=y
CONFIG_SYSC_R8A77960=y
CONFIG_MCP4821=y
CONFIG_SPI_ATMEL=y
CONFIG_SERIAL_8250_SHARE_IRQ=y
CONFIG_CRYPTO_HMAC=y
CONFIG_VCNL4000=y
CONFIG_CPUMASK_OFFSTACK=y
CONFIG_RESET_QCOM_AOSS=y
CONFIG_DEBUG_LOCKING_API_SELFTESTS=y
CONFIG_NLS_ISO8859_13=y
CONFIG_SUN5I_HSTIMER=y
CONFIG_CORESIGHT_CPU_DEBUG=y
CONFIG_OPENVSWITCH=y
CONFIG_SPI_AT91_USART=y
CONFIG_BMA220_SPI=y
CONFIG_MFD_STPMIC1=y
CONFIG_HAVE_ARCH_HUGE_VMALLOC=y
CONFIG_TI_FPC202=y
CONFIG_ARM64=y
CONFIG_HAVE_MOVE_PMD=y
CONFIG_MAX11100=y
CONFIG_EXT2_FS_POSIX_ACL=y
CONFIG_CRYPTO_USER_API_SKCIPHER=y
CONFIG_ARCH_SPARX5=y
CONFIG_GPIB_CB7210=y
CONFIG_RESET_TI_SCI=y
CONFIG_BT=y
CONFIG_ARCH_HAS_GENERIC_CRASHKERNEL_RESERVATION=y
CONFIG_LEDS_LM3530=y
CONFIG_SENSORS_TSL2563=y
CONFIG_CLK_SUNXI_PRCM_SUN6I=y
CONFIG_TI_TMAG5273=y
CONFIG_AIR_AN8801_PHY=y
CONFIG_REGULATOR_MAX20411=y
CONFIG_CRYPTO_SM4_GENERIC=y
CONFIG_BCMA_PFLASH=y
CONFIG_NET_DSA_TAG_BRCM_COMMON=y
CONFIG_HAVE_EXTRA_IPI_TRACEPOINTS=y
CONFIG_SM_GCC_8550=y
CONFIG_PINCTRL_RK805=y
CONFIG_CAN_DEBUG_DEVICES=y
CONFIG_HAVE_FTRACE_GRAPH_FUNC=y
CONFIG_SERIAL_8250_LPSS=y
CONFIG_CLK_R8A779H0=y
CONFIG_CAN_HI311X=y
CONFIG_RENESAS_RPCIF=y
CONFIG_PREEMPT_COUNT=y
CONFIG_PSE_SI3474=y
CONFIG_SCSI_DMA=y
CONFIG_GPIO_MSC313=y
CONFIG_BLK_DEV=y
CONFIG_CRYPTO_LIB_GF128MUL=y
CONFIG_I2C_MICROCHIP_CORE=y
CONFIG_SERIAL_IPOCTAL=y
CONFIG_ISCSI_TARGET=y
CONFIG_SPI_THUNDERX=y
CONFIG_ICPLUS_PHY=y
CONFIG_MFD_EXYNOS_LPASS=y
CONFIG_IXP4XX_QMGR=y
CONFIG_OF_EARLY_FLATTREE=y
CONFIG_NETDEVICES=y
CONFIG_THERMAL=y
CONFIG_CRYPTO_RSA=y
CONFIG_L2TP_DEBUGFS=y
CONFIG_ATARI_PARTITION=y
CONFIG_PINCTRL_MA35D1=y
CONFIG_IPQ_GCC_8074=y
CONFIG_NLS_ISO8859_4=y
CONFIG_ATMEL_ST=y
CONFIG_FORCE_TASKS_RUDE_RCU=y
CONFIG_HWMON=y
CONFIG_I2C_BOARDINFO=y
CONFIG_MPRLS0025PA=y
CONFIG_MTK_SMI=y
CONFIG_GPIO_RCAR=y
CONFIG_MPRLS0025PA_SPI=y
CONFIG_GPIO_MB86S7X=y
CONFIG_LOCK_MM_AND_FIND_VMA=y
CONFIG_NPCM7XX_WATCHDOG=y
CONFIG_CONTEXT_TRACKING=y
CONFIG_PTP_1588_CLOCK_OPTIONAL=y
CONFIG_TSL2583=y
CONFIG_KEYBOARD_MATRIX=y
CONFIG_EM_TIMER_STI=y
CONFIG_SUN8I_R_CCU=y
CONFIG_COMMON_CLK_MT8195=y
CONFIG_RPMB=y
CONFIG_RN5T618_WATCHDOG=y
CONFIG_HAVE_ARCH_KSTACK_ERASE=y
CONFIG_TEGRA_MC=y
CONFIG_CLK_SOPHGO_CV1800=y
CONFIG_AD9467=y
CONFIG_TCM_IBLOCK=y
CONFIG_PINCTRL_SM6375=y
CONFIG_FSL_MC_BUS=y
CONFIG_DS1803=y
CONFIG_MFD_MXS_LRADC=y
CONFIG_LEDS_TRIGGER_GPIO=y
CONFIG_SPMI_PMIC_CLKDIV=y
CONFIG_ADXL313_SPI=y
CONFIG_GPIO_MAX7301=y
CONFIG_EC_HUAWEI_GAOKUN=y
CONFIG_CRYPTO_CCM=y
CONFIG_SP5100_TCO=y
CONFIG_I2C_SIS96X=y
CONFIG_VSOCKETS_DIAG=y
CONFIG_BATTERY_SBS=y
CONFIG_CLK_R9A07G043=y
CONFIG_SM_GCC_8250=y
CONFIG_XFS_LIVE_HOOKS=y
CONFIG_ADIS16475=y
CONFIG_MTK_NET_PHYLIB=y
CONFIG_PCIE_ROCKCHIP_DW=y
CONFIG_PINCTRL_NORD=y
CONFIG_AD525X_DPOT_SPI=y
CONFIG_CRYPTO_LIB_AES=y
CONFIG_SENSORS_LM92=y
CONFIG_LEDS_LP3952=y
CONFIG_AL3010=y
CONFIG_PPS_CLIENT_GPIO=y
CONFIG_PINCTRL_SPACEMIT_K1=y
CONFIG_AD7949=y
CONFIG_SERIAL_OMAP=y
CONFIG_SENSORS_W83627HF=y
CONFIG_NET_DSA_TAG_GSWIP=y
CONFIG_ARC_TIMERS_64BIT=y
CONFIG_IIO_KX022A_SPI=y
CONFIG_PCI_LAYERSCAPE=y
CONFIG_POWER_RESET_SC27XX=y
CONFIG_BUG_ON_DATA_CORRUPTION=y
CONFIG_CHARGER_MAX14577=y
CONFIG_COMMON_CLK_MT8192_VENCSYS=y
CONFIG_MFD_WM831X_SPI=y
CONFIG_I2C_LS2X=y
CONFIG_IMX8MM_THERMAL=y
CONFIG_SPI_DYNAMIC=y
CONFIG_QCOM_TZMEM=y
CONFIG_BACKLIGHT_LED=y
CONFIG_LZ4_COMPRESS=y
CONFIG_PCIE_AL=y
CONFIG_SYSC_R8A774B1=y
CONFIG_QCS_GCC_404=y
CONFIG_TEE_DMABUF_HEAPS=y
CONFIG_PAGE_SIZE_LESS_THAN_256KB=y
