CONFIG_DEBUG_SG=y
CONFIG_I2C_ALI15X3=y
CONFIG_TCG_NSC=y
CONFIG_FAIL_PAGE_ALLOC=y
CONFIG_TOUCHSCREEN_IQS5XX=y
CONFIG_HID_PID=y
CONFIG_EDAC_ECS=y
CONFIG_LEDS_TRIGGER_GPIO=y
CONFIG_STACKPROTECTOR=y
CONFIG_INTEL_PMT_CRASHLOG=y
CONFIG_CRYPTO_DEV_QAT_C3XXXVF=y
CONFIG_MMU_LAZY_TLB_REFCOUNT=y
CONFIG_CRYPTO_LIB_DES=y
CONFIG_CRC_ITU_T=y
CONFIG_HANGCHECK_TIMER=y
CONFIG_USB_CHAOSKEY=y
CONFIG_FB_PM3=y
CONFIG_X86_THERMAL_VECTOR=y
CONFIG_IOSF_MBI_DEBUG=y
CONFIG_EEPROM_M24LR=y
CONFIG_ARCH_WANT_COMPAT_IPC_PARSE_VERSION=y
CONFIG_AXP20X_POWER=y
CONFIG_HAVE_OBJTOOL_MCOUNT=y
CONFIG_AUXILIARY_BUS=y
CONFIG_PINCTRL_BAYTRAIL=y
CONFIG_RTC_DRV_ABEOZ9=y
CONFIG_CRYPTO_DH=y
CONFIG_HW_RANDOM_TIMERIOMEM=y
CONFIG_DLN2_ADC=y
CONFIG_PCI=y
CONFIG_USB_ROLES_INTEL_XHCI=y
CONFIG_ACPI_PROCESSOR_CSTATE=y
CONFIG_HAVE_CMPXCHG_LOCAL=y
CONFIG_PWM_PROVIDE_GPIO=y
CONFIG_BMI088_ACCEL_I2C=y
CONFIG_SENSORS_MP5920=y
CONFIG_FXLS8962AF=y
CONFIG_ATLAS_PH_SENSOR=y
CONFIG_I2C_XILINX=y
CONFIG_AMD_HSMP_PLAT=y
CONFIG_CRYPTO_SM3=y
CONFIG_ARCH_HAS_ELFCORE_COMPAT=y
CONFIG_GPIO_WM8994=y
CONFIG_MAX1363=y
CONFIG_HAVE_ARCH_RANDOMIZE_KSTACK_OFFSET=y
CONFIG_SX9500=y
CONFIG_TYPEC_TBT_ALTMODE=y
CONFIG_PCI_NPEM=y
CONFIG_MFD_CS47L92=y
CONFIG_RTC_DRV_FM3130=y
CONFIG_HOTPLUG_PCI_SHPC=y
CONFIG_X86_CMOV=y
CONFIG_PAC1934=y
CONFIG_RTC_DRV_DS1685_FAMILY=y
CONFIG_X86_DISABLED_FEATURE_RETHUNK=y
CONFIG_EXTCON_PALMAS=y
CONFIG_SENSORS_INA2XX=y
CONFIG_MUX_ADG792A=y
CONFIG_BMI270=y
CONFIG_RTC_DRV_DS1374=y
CONFIG_INTEL_ISH_HID=y
CONFIG_HAVE_NOINSTR_VALIDATION=y
CONFIG_EXTCON_SM5502=y
CONFIG_USB_ADUTUX=y
CONFIG_SENSORS_LTC4286=y
CONFIG_CRYPTO_LIB_SM3=y
CONFIG_SENSORS_TPS25990=y
CONFIG_HW_RANDOM_VIRTIO=y
CONFIG_DMA_SHARED_BUFFER=y
CONFIG_MFD_TI_LMU=y
CONFIG_MFD_AXP20X=y
CONFIG_POWER_SUPPLY_HWMON=y
CONFIG_PREEMPT_BUILD=y
CONFIG_CC_HAS_ASM_GOTO_OUTPUT=y
CONFIG_USB_CDNS3_HOST=y
CONFIG_TOUCHSCREEN_INEXIO=y
CONFIG_LP_CONSOLE=y
CONFIG_SENSORS_LINEAGE=y
CONFIG_ARCH_HAS_FORTIFY_SOURCE=y
CONFIG_ARCH_HAS_COPY_MC=y
CONFIG_X86_REQUIRED_FEATURE_CPUID=y
CONFIG_BATTERY_MAX17040=y
CONFIG_DEBUG_KERNEL=y
CONFIG_COMEDI_8254=y
CONFIG_PWM_PCA9685=y
CONFIG_CRYPTO_CRC32=y
CONFIG_BACKLIGHT_ADP8860=y
CONFIG_I2C_BOARDINFO=y
CONFIG_SENSORS_MAX16065=y
CONFIG_MMA9551_CORE=y
CONFIG_CHECK_SIGNATURE=y
CONFIG_CM3605=y
CONFIG_HAVE_IRQ_TIME_ACCOUNTING=y
CONFIG_SMI330_I2C=y
CONFIG_CRYPTO_MANAGER=y
CONFIG_INPUT_ATI_REMOTE2=y
CONFIG_RD_GZIP=y
CONFIG_USB_USS720=y
CONFIG_ARCH_SUPPORTS_MSEAL_SYSTEM_MAPPINGS=y
CONFIG_ARCH_HAS_CPU_RELAX=y
CONFIG_SCD4X=y
CONFIG_LTC2309=y
CONFIG_CRYPTO_LIB_GF128HASH_ARCH=y
CONFIG_HAVE_KERNEL_LZ4=y
CONFIG_SENSORS_W83L786NG=y
CONFIG_SENSORS_PIM4328=y
CONFIG_LEDS_CLASS_FLASH=y
CONFIG_ARCH_SUPPORTS_UPROBES=y
CONFIG_MULTIPLEXER=y
CONFIG_ZONE_DMA=y
CONFIG_SYSFB=y
CONFIG_IRSD200=y
CONFIG_SENSORS_LT3074=y
CONFIG_GPIO_VIRTUSER=y
CONFIG_BMA400=y
CONFIG_CRYPTO_ECDSA=y
CONFIG_TOUCHSCREEN_ELO=y
CONFIG_X86_DISABLED_FEATURE_CYRIX_ARR=y
CONFIG_ARCH_HAS_MEM_ENCRYPT=y
CONFIG_INTEL_BXTWC_PMIC_TMU=y
CONFIG_IOMMU_PT_X86_64=y
CONFIG_I2C_GPIO=y
CONFIG_SENSORS_LTC4282=y
CONFIG_FB_NVIDIA_BACKLIGHT=y
CONFIG_IIO_TRIGGERED_EVENT=y
CONFIG_PAGE_EXTENSION=y
CONFIG_IIO_GTS_HELPER=y
CONFIG_DEBUG_KMAP_LOCAL_FORCE_MAP=y
CONFIG_IIO_BUFFER_CB=y
CONFIG_DEBUG_INFO_DWARF4=y
CONFIG_AMD_3D_VCACHE=y
CONFIG_W1_MASTER_UART=y
CONFIG_RPR0521=y
CONFIG_SENSORS_TSL2550=y
CONFIG_GPIO_ML_IOH=y
CONFIG_TI_ADS1015=y
CONFIG_USB_IOWARRIOR=y
CONFIG_SENSORS_THMC50=y
CONFIG_DEBUG_FORCE_WEAK_PER_CPU=y
CONFIG_SWIOTLB=y
CONFIG_MIGRATION=y
CONFIG_AD5592R_BASE=y
CONFIG_CRYPTO_TWOFISH_X86_64_3WAY=y
CONFIG_RTC_DRV_PCF8563=y
CONFIG_WQ_CPU_INTENSIVE_REPORT=y
CONFIG_ARCH_WANT_HUGETLB_VMEMMAP_PREINIT=y
CONFIG_I2C_OCORES=y
CONFIG_GPIO_WATCHDOG=y
CONFIG_LEDS_RT8515=y
CONFIG_COMMON_CLK_PWM=y
CONFIG_ISA_BUS_API=y
CONFIG_DW_EDMA=y
CONFIG_SURFACE_AGGREGATOR=y
CONFIG_FXLS8962AF_I2C=y
CONFIG_INPUT_ATC260X_ONKEY=y
CONFIG_X86_MCE_AMD=y
CONFIG_MITIGATION_TSA=y
CONFIG_PHY_CAN_TRANSCEIVER=y
CONFIG_HID_APPLE=y
CONFIG_SERIO_ARC_PS2=y
CONFIG_TWL6040_CORE=y
CONFIG_DMARD10=y
CONFIG_RTC_DRV_RV3028=y
CONFIG_MISC_RTSX_PCI=y
CONFIG_SENSORS_DELTA_AHE50DC_FAN=y
CONFIG_SENSORS_MAX1619=y
CONFIG_ABP2030PA_I2C=y
CONFIG_COMEDI_KE_COUNTER=y
CONFIG_GPIO_XILINX=y
CONFIG_BINARY_PRINTF=y
CONFIG_HAVE_ARCH_PREL32_RELOCATIONS=y
CONFIG_RESET_TI_TPS380X=y
CONFIG_BACKLIGHT_KTZ8866=y
CONFIG_VIRTIO_IOMMU=y
CONFIG_HW_RANDOM_INTEL=y
CONFIG_GP_PCI1XXXX=y
CONFIG_EXTCON_MAX3355=y
CONFIG_MXM_WMI=y
CONFIG_USER_NS=y
CONFIG_USB_UHCI_HCD=y
CONFIG_GENERIC_CPU_DEVICES=y
CONFIG_NVMEM_RAVE_SP_EEPROM=y
CONFIG_CRYPTO_TWOFISH_AVX_X86_64=y
CONFIG_COMPACTION=y
CONFIG_COMEDI_ADV_PCI1724=y
CONFIG_PINCTRL_CS47L85=y
CONFIG_COMPAT_FOR_U64_ALIGNMENT=y
CONFIG_IO_DELAY_0XED=y
CONFIG_PINCTRL_CS47L15=y
CONFIG_CRYPTO_AUTHENC=y
CONFIG_GPIO_WHISKEY_COVE=y
CONFIG_ARCH_WANT_OLD_COMPAT_IPC=y
CONFIG_X86_REQUIRED_FEATURE_PAE=y
CONFIG_HYPERVISOR_GUEST=y
CONFIG_PPDEV=y
CONFIG_TOUCHSCREEN_TOUCHRIGHT=y
CONFIG_SENSORS_VIA686A=y
CONFIG_FPGA_DFL=y
CONFIG_SENSORS_HDAPS=y
CONFIG_FAULT_INJECTION_USERCOPY=y
CONFIG_EDAC_ATOMIC_SCRUB=y
CONFIG_SENSORS_MAX15301=y
CONFIG_IIO_ST_GYRO_3AXIS=y
CONFIG_X86_REQUIRED_FEATURE_XMM=y
CONFIG_SENSORS_XDP720=y
CONFIG_REGMAP_SLIMBUS=y
CONFIG_BOOT_CONFIG=y
CONFIG_MCP4018=y
CONFIG_DEBUG_ATOMIC=y
CONFIG_XIAOMI_WMI=y
CONFIG_USB_EZUSB_FX2=y
CONFIG_RCU_NEED_SEGCBLIST=y
CONFIG_CC_HAS_KASAN_SW_TAGS=y
CONFIG_MAX517=y
CONFIG_SENSORS_STTS751=y
CONFIG_TSM=y
CONFIG_GPIB_NEC7210=y
CONFIG_GCC_NO_STRINGOP_OVERFLOW=y
CONFIG_CRYPTO_CHACHA20=y
CONFIG_USB4=y
CONFIG_BACKLIGHT_88PM860X=y
CONFIG_USB_HSIC_USB3503=y
CONFIG_CC_HAS_ASM_GOTO_TIED_OUTPUT=y
CONFIG_ARCH_HAS_ELF_RANDOMIZE=y
CONFIG_HAVE_ARCH_TRACEHOOK=y
CONFIG_CHARGER_BQ24257=y
CONFIG_FAULT_INJECTION=y
CONFIG_TI_ADS1119=y
CONFIG_DEBUG_LOCKDEP=y
CONFIG_MFD_UPBOARD_FPGA=y
CONFIG_CRYPTO_ARIA=y
CONFIG_SENSORS_AS370=y
CONFIG_USB_PCI=y
CONFIG_HID_WALTOP=y
CONFIG_HAVE_FUNCTION_TRACER=y
CONFIG_VIRTIO=y
CONFIG_NLS_ISO8859_9=y
CONFIG_USB_SUPPORT=y
CONFIG_SERIAL_ALTERA_JTAGUART=y
CONFIG_INTEL_HID_EVENT=y
CONFIG_CRYPTO_ENGINE=y
CONFIG_RTC_DRV_88PM860X=y
CONFIG_COMEDI_NI_PCIDIO=y
CONFIG_FB_CYBER2000=y
CONFIG_LEDS_SIEMENS_SIMATIC_IPC=y
CONFIG_DW_XDATA_PCIE=y
CONFIG_NLS_CODEPAGE_950=y
CONFIG_LV0104CS=y
CONFIG_GCC_PLUGIN_LATENT_ENTROPY=y
CONFIG_BMG160=y
CONFIG_SLAB_MERGE_DEFAULT=y
CONFIG_SENSORS_ZL6100=y
CONFIG_COMMON_CLK_CDCE706=y
CONFIG_SENSORS_PC87427=y
CONFIG_BOSCH_BNO055=y
CONFIG_DMI_SCAN_MACHINE_NON_EFI_FALLBACK=y
CONFIG_IE6XX_WDT=y
CONFIG_X86_VSYSCALL_EMULATION=y
CONFIG_IKCONFIG=y
CONFIG_VIRT_CPU_ACCOUNTING=y
CONFIG_SENSORS_MAX20751=y
CONFIG_I2C_TAOS_EVM=y
CONFIG_VIRTIO_ANCHOR=y
CONFIG_X86_MSR=y
CONFIG_SENSORS_I5500=y
CONFIG_MFD_CGBC=y
CONFIG_TRACING_SUPPORT=y
CONFIG_PARPORT_PC_SUPERIO=y
CONFIG_PCI_DEBUG=y
CONFIG_RING_BUFFER=y
CONFIG_GPIO_RDC321X=y
CONFIG_FB_SYS_FILLRECT=y
CONFIG_RTC_LIB=y
CONFIG_VCNL4035=y
CONFIG_HID_KEYTOUCH=y
CONFIG_LENOVO_SE10_WDT=y
CONFIG_HAVE_SAMPLE_FTRACE_DIRECT=y
CONFIG_CORDIC=y
CONFIG_EXPORTFS=y
CONFIG_LEGACY_VSYSCALL_NONE=y
CONFIG_W1_SLAVE_DS2413=y
CONFIG_INTEL_TXT=y
CONFIG_FB_IMSTT=y
CONFIG_PINCTRL_UPBOARD=y
CONFIG_LEDS_BD2606MVV=y
CONFIG_NTB_PERF=y
CONFIG_CRYPTO_CAST5_AVX_X86_64=y
CONFIG_CRYPTO_KPP2=y
CONFIG_X86_X2APIC=y
CONFIG_ARCH_WANTS_DYNAMIC_TASK_STRUCT=y
CONFIG_SERIAL_8250_NI=y
CONFIG_ZERO_CALL_USED_REGS=y
CONFIG_SRF04=y
CONFIG_HID_NTI=y
CONFIG_RETHOOK=y
CONFIG_BOSCH_BNO055_I2C=y
CONFIG_CRYPTO_NULL=y
CONFIG_TRACE_CLOCK=y
CONFIG_SYSCTL_EXCEPTION_TRACE=y
CONFIG_USB=y
CONFIG_PCI_LOCKLESS_CONFIG=y
CONFIG_IOMMU_DMA=y
CONFIG_HID_PLANTRONICS=y
CONFIG_FORCE_NR_CPUS=y
CONFIG_BCMA_DRIVER_GPIO=y
CONFIG_VF610_DAC=y
CONFIG_CC_CAN_LINK=y
CONFIG_TOSHIBA_BT_RFKILL=y
CONFIG_SENSORS_AMC6821=y
CONFIG_MFD_NCT6694=y
CONFIG_NTB_AMD=y
CONFIG_TOUCHSCREEN_HYNITRON_CSTXXX=y
CONFIG_SENSORS_APPLESMC=y
CONFIG_EXTCON_FSA9480=y
CONFIG_FW_LOADER_COMPRESS=y
CONFIG_GENERIC_ADC_BATTERY=y
CONFIG_FANOTIFY=y
CONFIG_CHARGER_BQ256XX=y
CONFIG_CGBC_WDT=y
CONFIG_UEFI_CPER_X86=y
CONFIG_LTO_NONE=y
CONFIG_KEYS_REQUEST_CACHE=y
CONFIG_X86_MCELOG_LEGACY=y
CONFIG_RTC_DRV_TEST=y
CONFIG_SENSORS_MP9941=y
CONFIG_RESET_CONTROLLER=y
CONFIG_BITLAND_MIFS_WMI=y
CONFIG_I2C_PCI1XXXX=y
CONFIG_DS1682=y
CONFIG_LEDS_PCA963X=y
CONFIG_PCI_REALLOC_ENABLE_AUTO=y
CONFIG_SENSORS_LTC2978=y
CONFIG_ZPA2326_I2C=y
CONFIG_COMEDI_NI_ROUTING=y
CONFIG_WW_MUTEX_SELFTEST=y
CONFIG_SENSORS_MAX16601=y
CONFIG_CRYPTO_ECDH=y
CONFIG_ZLIB_DEFLATE=y
CONFIG_REED_SOLOMON_DEC8=y
CONFIG_DA311=y
CONFIG_PINCTRL_SUNRISEPOINT=y
CONFIG_MFD_INTEL_M10_BMC_PMCI=y
CONFIG_GCC_PLUGIN_STACKLEAK_VERBOSE=y
CONFIG_RMI4_F12=y
CONFIG_SECTION_MISMATCH_WARN_ONLY=y
CONFIG_PINCTRL_CS42L43=y
CONFIG_KEYBOARD_LKKBD=y
CONFIG_AXP20X_ADC=y
CONFIG_WATCHDOG_CORE=y
CONFIG_I2C_CP2615=y
CONFIG_GPIB_HP82335=y
CONFIG_NTB_TOOL=y
CONFIG_GPIO_ALTERA=y
CONFIG_X86_REQUIRED_FEATURE_LM=y
CONFIG_LEDS_PCA955X=y
CONFIG_T5403=y
CONFIG_PCI_ENDPOINT_TEST=y
CONFIG_SCD30_CORE=y
CONFIG_SENSORS_UCD9200=y
CONFIG_XXHASH=y
CONFIG_IRQ_WORK=y
CONFIG_LEDS_TRIGGER_TRANSIENT=y
CONFIG_TCG_TPM=y
CONFIG_MFD_MAX77693=y
CONFIG_BINFMT_SCRIPT=y
CONFIG_CRYPTO_JITTERENTROPY=y
CONFIG_CRYPTO_AES=y
CONFIG_ACPI_APEI_EINJ=y
CONFIG_I2C_AMD8111=y
CONFIG_FW_LOADER_COMPRESS_ZSTD=y
CONFIG_USB_LEGOTOWER=y
CONFIG_BCMA_POSSIBLE=y
CONFIG_I2C_ZHAOXIN=y
CONFIG_PROVIDE_OHCI1394_DMA_INIT=y
CONFIG_MFD_DLN2=y
CONFIG_MFD_88PM800=y
CONFIG_HID_LED=y
CONFIG_GPIB_NI_PCI_ISA=y
CONFIG_RTC_DRV_DS1553=y
CONFIG_PANTHERLORD_FF=y
CONFIG_CRYPTO_LIB_GF128MUL=y
CONFIG_OVERLAY_FS=y
CONFIG_SIOX=y
CONFIG_SENSORS_GPD=y
CONFIG_VIRTIO_CONSOLE=y
CONFIG_AD5593R=y
CONFIG_SERIAL_8250_RSA=y
CONFIG_SENSORS_CORETEMP=y
CONFIG_IIO_BUFFER_DMAENGINE=y
CONFIG_X86_MCE=y
CONFIG_ST_UVIS25=y
CONFIG_DMA_ENGINE=y
CONFIG_SENSORS_TPS23861=y
CONFIG_HID_CMEDIA=y
CONFIG_INTEL_SCU_IPC=y
CONFIG_HAVE_PERF_EVENTS=y
CONFIG_HID_SENSOR_GYRO_3D=y
CONFIG_EXTCON_MAX14577=y
CONFIG_X86_AMD_PLATFORM_DEVICE=y
CONFIG_TOUCHSCREEN_TSC200X_CORE=y
CONFIG_HAVE_CLK_PREPARE=y
CONFIG_PCI_MMCONFIG=y
CONFIG_GENERIC_IOMAP=y
CONFIG_PREVENT_FIRMWARE_BUILD=y
CONFIG_ARCH_MIGHT_HAVE_ACPI_PDC=y
CONFIG_CRYPTO_DEV_QAT_4XXX=y
CONFIG_CC_HAS_NAMED_AS_FIXED_SANITIZERS=y
CONFIG_ACPI_PROCESSOR_AGGREGATOR=y
CONFIG_IOMMU_PT_AMDV1=y
CONFIG_THERMAL=y
CONFIG_CONFIGFS_FS=y
CONFIG_ARCH_SUPPORTS_MEMORY_FAILURE=y
CONFIG_CRYPTO_SM4_AESNI_AVX_X86_64=y
CONFIG_APDS9960=y
CONFIG_SENSORS_K10TEMP=y
CONFIG_TSYS01=y
CONFIG_PINCTRL_ELKHARTLAKE=y
CONFIG_INPUT_MISC=y
CONFIG_60XX_WDT=y
CONFIG_BACKLIGHT_LP855X=y
CONFIG_LEDS_TRIGGER_HEARTBEAT=y
CONFIG_CHARGER_RT9756=y
CONFIG_CRYPTO_DEV_VIRTIO=y
CONFIG_ARCH_HAS_CPU_RESCTRL=y
CONFIG_USB_MUSB_HDRC=y
CONFIG_TOUCHSCREEN_TSC2004=y
CONFIG_ARCH_HAS_SYNC_CORE_BEFORE_USERMODE=y
CONFIG_COMEDI_NI_TIO=y
CONFIG_DYNAMIC_SIGFRAME=y
CONFIG_LEDS_MAX5970=y
CONFIG_MITIGATION_MMIO_STALE_DATA=y
CONFIG_MTRR=y
CONFIG_HAVE_KERNEL_ZSTD=y
CONFIG_INPUT_UINPUT=y
CONFIG_CRYPTO_DEV_PADLOCK_SHA=y
CONFIG_SERIAL_8250_PCILIB=y
CONFIG_INPUT_PALMAS_PWRBUTTON=y
CONFIG_LEDS_LT3593=y
CONFIG_SENSORS_MP2925=y
CONFIG_ALS31300=y
CONFIG_CHARGER_SBS=y
CONFIG_ACER_WIRELESS=y
CONFIG_64BIT=y
CONFIG_FONT_SUPPORT=y
CONFIG_HAVE_NOINSTR_HACK=y
CONFIG_HVC_DRIVER=y
CONFIG_CRYPTO_CMAC=y
CONFIG_SENSORS_NCT6683=y
CONFIG_HAVE_INTEL_TXT=y
CONFIG_I2C_PARPORT=y
CONFIG_SENSORS_SY7636A=y
CONFIG_NLS_ISO8859_7=y
CONFIG_MFD_CS42L43_I2C=y
CONFIG_RTC_DRV_RX8581=y
CONFIG_WM8350_POWER=y
CONFIG_IIO_TRIGGERED_BUFFER=y
CONFIG_I2C_CCGX_UCSI=y
CONFIG_TMP007=y
CONFIG_HAVE_ARCH_SECCOMP_FILTER=y
CONFIG_X86_DISABLED_FEATURE_RETPOLINE=y
CONFIG_SENSORS_ASB100=y
CONFIG_GPIB_CEC_PCI=y
CONFIG_ACPI_DPTF=y
CONFIG_ARCH_HAS_PTDUMP=y
CONFIG_GENERIC_STRNCPY_FROM_USER=y
CONFIG_CRYPTO_CAMELLIA=y
CONFIG_DMABUF_HEAPS=y
CONFIG_TYPEC=y
CONFIG_IRQ_MSI_LIB=y
CONFIG_USB_EMI26=y
CONFIG_SENSORS_LTC3815=y
CONFIG_SENSORS_LTC2991=y
CONFIG_USB_ISP1301=y
CONFIG_NLS_ISO8859_2=y
CONFIG_MMU_GATHER_MERGE_VMAS=y
CONFIG_SENSORS_IR38064=y
CONFIG_GPIO_F7188X=y
CONFIG_I2C_KEBA=y
CONFIG_VMWARE_BALLOON=y
CONFIG_EDAC_I7300=y
CONFIG_HAVE_ARCH_MMAP_RND_COMPAT_BITS=y
CONFIG_NLS_CODEPAGE_949=y
CONFIG_ACPI_BUTTON=y
CONFIG_LIDAR_LITE_V2=y
CONFIG_FB_IOMEM_FOPS=y
CONFIG_AS73211=y
CONFIG_MISC_RTSX=y
CONFIG_INV_ICM45600_I2C=y
CONFIG_USB_OXU210HP_HCD=y
CONFIG_NEED_PER_CPU_PAGE_FIRST_CHUNK=y
CONFIG_GPIO_WINBOND=y
CONFIG_REGMAP_W1=y
CONFIG_GPIO_PCIE_IDIO_24=y
CONFIG_MLX90632=y
CONFIG_USB_KBD=y
CONFIG_HAVE_PERF_USER_STACK_DUMP=y
CONFIG_XARRAY_MULTI=y
CONFIG_PCI_PF_STUB=y
CONFIG_ENS160=y
CONFIG_SENSORS_TC654=y
