CONFIG_NF_DEFRAG_IPV6=n
CONFIG_VIRTIO_PCI=n
CONFIG_THERMAL=n
CONFIG_CRYPTO_LZO=n
CONFIG_DRM_DISPLAY_HELPER=n
CONFIG_INTEGRITY=n
CONFIG_NF_NAT_FTP=n
CONFIG_FS_POSIX_ACL=n
CONFIG_CLOCKSOURCE_WATCHDOG=n
CONFIG_HAVE_KERNEL_LZ4=n
CONFIG_DRM_PANEL_ORIENTATION_QUIRKS=n
CONFIG_THERMAL_HWMON=n
CONFIG_GENERIC_PENDING_IRQ=n
CONFIG_GRACE_PERIOD=n
CONFIG_CPU_FREQ_GOV_USERSPACE=n
CONFIG_HAVE_PREEMPT_DYNAMIC=n
CONFIG_BLK_DEV_WRITE_MOUNTED=n
CONFIG_ASSOCIATIVE_ARRAY=n
CONFIG_HAS_SECURITY_AUDIT=n
CONFIG_HWMON=n
CONFIG_QUOTA_TREE=n
CONFIG_ACPI_I2C_OPREGION=n
CONFIG_RCU_TRACE=n
CONFIG_CC_NO_STRINGOP_OVERFLOW=n
CONFIG_RTC_I2C_AND_SPI=n
CONFIG_X86_DISABLED_FEATURE_RETHUNK=n
CONFIG_NET_VENDOR_HUAWEI=n
CONFIG_PTP_1588_CLOCK=n
CONFIG_CPUFREQ_ARCH_CUR_FREQ=n
CONFIG_SMP=n
CONFIG_HAVE_FUNCTION_ARG_ACCESS_API=n
CONFIG_STACKPROTECTOR_STRONG=n
CONFIG_GENERIC_CPU_VULNERABILITIES=n
CONFIG_RD_GZIP=n
CONFIG_NE2K_PCI=n
CONFIG_SCHED_MC_PRIO=n
CONFIG_MITIGATION_SPECTRE_V2=n
CONFIG_PCSPKR_PLATFORM=n
CONFIG_INIT_STACK_ALL_ZERO=n
CONFIG_NEED_SG_DMA_LENGTH=n
CONFIG_SUNRPC_GSS=n
CONFIG_CPU_FREQ_GOV_PERFORMANCE=n
CONFIG_HAVE_KCSAN_COMPILER=n
CONFIG_PNFS_FLEXFILE_LAYOUT=n
CONFIG_NET_VENDOR_AGERE=n
CONFIG_DM_ZERO=n
CONFIG_EXPORTFS=n
CONFIG_MAC_EMUMOUSEBTN=n
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST_IDLE=n
CONFIG_X86_DISABLED_FEATURE_FRED=n
CONFIG_WLAN_VENDOR_RSI=n
CONFIG_TRACE_IRQFLAGS_NMI_SUPPORT=n
CONFIG_HID_SUNPLUS=n
CONFIG_AUDITSYSCALL=n
CONFIG_ARCH_USE_SYM_ANNOTATIONS=n
CONFIG_HAVE_KERNEL_ZSTD=n
CONFIG_ARCH_HAS_PREEMPT_LAZY=n
CONFIG_CC_HAS_KASAN_GENERIC=n
CONFIG_IP_NF_IPTABLES=n
CONFIG_RANDOMIZE_KSTACK_OFFSET=n
CONFIG_HOTPLUG_PCI=n
CONFIG_HW_RANDOM_GEODE=n
CONFIG_SND_VMASTER=n
CONFIG_ASN1=n
CONFIG_NET_CLS=n
CONFIG_SECURITY=n
CONFIG_NETFILTER_XT_TARGET_NFLOG=n
CONFIG_SECURITY_SELINUX_DEVELOP=n
CONFIG_DEVTMPFS=n
CONFIG_PID_NS=n
CONFIG_DQL=n
CONFIG_HOTPLUG_CORE_SYNC_DEAD=n
CONFIG_EXT4_USE_FOR_EXT2=n
CONFIG_HAVE_REGS_AND_STACK_ACCESS_API=n
CONFIG_RETHOOK=n
CONFIG_CPU_SUP_VORTEX_32=n
CONFIG_HW_RANDOM=n
CONFIG_IP_PNP_RARP=n
CONFIG_ARCH_HAS_NON_OVERLAPPING_ADDRESS_SPACE=n
CONFIG_PCIEASPM_DEFAULT=n
CONFIG_SCSI=n
CONFIG_HAVE_HW_BREAKPOINT=n
CONFIG_ACPI_PROCESSOR_CSTATE=n
CONFIG_EFI_CAPSULE_QUIRK_QUARK_CSH=n
CONFIG_HAVE_CMPXCHG_LOCAL=n
CONFIG_NFS_V4=n
CONFIG_EFI_RUNTIME_MAP=n
CONFIG_BINFMT_ELF=n
CONFIG_PNP=n
CONFIG_OPENSSL_SUPPORTS_ML_DSA=n
CONFIG_GPIOLIB_LEGACY=n
CONFIG_KEXEC_CORE=n
CONFIG_HAVE_ARCH_SECCOMP_FILTER=n
CONFIG_CGROUP_PIDS=n
CONFIG_JUMP_LABEL=n
CONFIG_FSNOTIFY=n
CONFIG_NFS_V3=n
CONFIG_ARCH_HAS_ACPI_TABLE_UPGRADE=n
CONFIG_AMD_NODE=n
CONFIG_I8253_LOCK=n
CONFIG_HAVE_ARCH_PREL32_RELOCATIONS=n
CONFIG_DECOMPRESS_XZ=n
CONFIG_JOLIET=n
CONFIG_CC_IS_GCC=n
CONFIG_NET_9P_VIRTIO=n
CONFIG_STACKTRACE=n
CONFIG_RUSTC_HAS_UNNECESSARY_TRANSMUTES=n
CONFIG_SATA_PMP=n
CONFIG_ISA_DMA_API=n
CONFIG_HID_PID=n
CONFIG_CGROUP_DEBUG=n
CONFIG_MAGIC_SYSRQ_SERIAL=n
CONFIG_HAVE_MIXED_BREAKPOINTS_REGS=n
CONFIG_X86_DEBUGCTLMSR=n
CONFIG_PCI=n
CONFIG_UCS2_STRING=n
CONFIG_GENERIC_CPU_DEVICES=n
CONFIG_ARCH_HAS_STRICT_KERNEL_RWX=n
CONFIG_DRM_VIRTIO_GPU=n
CONFIG_MSDOS_FS=n
CONFIG_DEFAULT_CUBIC=n
CONFIG_NETFILTER_XT_MATCH_CONNTRACK=n
CONFIG_HID=n
CONFIG_I2C_ALGOBIT=n
CONFIG_CGROUP_HUGETLB=n
CONFIG_IRQ_WORK=n
CONFIG_CC_HAS_NO_PROFILE_FN_ATTR=n
CONFIG_CFG80211=n
CONFIG_CLONE_BACKWARDS=n
CONFIG_MQ_IOSCHED_DEADLINE=n
CONFIG_TIME_NS_VDSO=n
CONFIG_YENTA_TOSHIBA=n
CONFIG_DNOTIFY=n
CONFIG_HAVE_UNSTABLE_SCHED_CLOCK=n
CONFIG_NET_9P_FD=n
CONFIG_X86_DISABLED_FEATURE_UNRET=n
CONFIG_TRACEFS_AUTOMOUNT_DEPRECATED=n
CONFIG_MAGIC_SYSRQ=n
CONFIG_SND_HDA_I915=n
CONFIG_ACPI_BUTTON=n
CONFIG_EFIVAR_FS=n
CONFIG_CRYPTO_LIB_SHA1=n
CONFIG_AS_IS_GNU=n
CONFIG_HAVE_ARCH_JUMP_LABEL=n
CONFIG_XARRAY_MULTI=n
CONFIG_AGP_AMD64=n
CONFIG_SCSI_VIRTIO=n
CONFIG_NEW_LEDS=n
CONFIG_VMAP_PFN=n
CONFIG_INPUT_VIVALDIFMAP=n
CONFIG_HOTPLUG_SMT=n
CONFIG_HAVE_ARCH_KSTACK_ERASE=n
CONFIG_RD_LZMA=n
CONFIG_MQ_IOSCHED_KYBER=n
CONFIG_HAVE_UID16=n
CONFIG_SECURITY_SELINUX_AVC_STATS=n
CONFIG_NET_VENDOR_TEHUTI=n
CONFIG_SND_JACK_INPUT_DEV=n
CONFIG_CRYPTO_LIB_SHA256=n
CONFIG_HAVE_USER_RETURN_NOTIFIER=n
CONFIG_CRYPTO_SIG=n
CONFIG_ARCH_SUPPORTS_SCHED_CLUSTER=n
CONFIG_NET_VENDOR_VIA=n
CONFIG_NET_VENDOR_ROCKER=n
CONFIG_HAVE_RETHOOK=n
CONFIG_CONNECTOR=n
CONFIG_ARCH_HAS_DEVMEM_IS_ALLOWED=n
CONFIG_NLS_CODEPAGE_437=n
CONFIG_FIRMWARE_TABLE=n
CONFIG_JBD2=n
CONFIG_HAVE_PCSPKR_PLATFORM=n
CONFIG_HAVE_ARCH_KFENCE=n
CONFIG_PROC_PID_ARCH_STATUS=n
CONFIG_CGROUP_FREEZER=n
CONFIG_CGROUP_SCHED=n
CONFIG_NVMEM=n
CONFIG_IA32_FEAT_CTL=n
CONFIG_IRQ_FORCED_THREADING=n
CONFIG_SND_INTEL_SOUNDWIRE_ACPI=n
CONFIG_PERF_EVENTS=n
CONFIG_E1000=n
CONFIG_X86_AMD_PSTATE=n
CONFIG_SERIO=n
CONFIG_USB_HID=n
CONFIG_PAGE_POOL=n
CONFIG_CPU_FREQ_GOV_COMMON=n
CONFIG_LEGACY_DIRECT_IO=n
CONFIG_P2SB=n
CONFIG_GENERIC_IRQ_EFFECTIVE_AFF_MASK=n
CONFIG_CONTEXT_TRACKING=n
CONFIG_NFS_V3_ACL=n
CONFIG_SATA_AHCI=n
CONFIG_HDMI=n
CONFIG_PM_DEBUG=n
CONFIG_SECCOMP=n
CONFIG_SND_USB=n
CONFIG_SCHED_OMIT_FRAME_POINTER=n
CONFIG_NET_VENDOR_OKI=n
CONFIG_HAVE_OPTPROBES=n
CONFIG_PATA_TIMINGS=n
CONFIG_NETFILTER_XT_MATCH_ADDRTYPE=n
CONFIG_VIDEO=n
CONFIG_GENERIC_BUG_RELATIVE_POINTERS=n
CONFIG_GENERIC_IRQ_MATRIX_ALLOCATOR=n
CONFIG_VHOST_ENABLE_FORK_OWNER_CONTROL=n
CONFIG_HAVE_POSIX_CPU_TIMERS_TASK_WORK=n
CONFIG_SCREEN_INFO=n
CONFIG_XFRM_USER=n
CONFIG_LTO_NONE=n
CONFIG_TMPFS_XATTR=n
CONFIG_SPARSE_IRQ=n
CONFIG_SGETMASK_SYSCALL=n
CONFIG_E1000E_HWTS=n
CONFIG_CRYPTO_ALGAPI2=n
CONFIG_TRACE_CLOCK=n
CONFIG_ARCH_SUPPORTS_KEXEC_SIG_FORCE=n
CONFIG_PTP_1588_CLOCK_OPTIONAL=n
CONFIG_FRAME_POINTER=n
CONFIG_ARCH_SUPPORTS_DEBUG_PAGEALLOC=n
CONFIG_GENERIC_IRQ_PROBE=n
CONFIG_CRYPTO_MANAGER2=n
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE=n
CONFIG_CLKSRC_I8253=n
CONFIG_COMPAT_32=n
CONFIG_NET_VENDOR_QUALCOMM=n
CONFIG_SPLIT_PTE_PTLOCKS=n
CONFIG_MMU=n
CONFIG_SND_INTEL_DSP_CONFIG=n
CONFIG_CC_HAS_MARCH_NATIVE=n
CONFIG_TASKS_TRACE_RCU=n
CONFIG_SOUND=n
CONFIG_NET_VENDOR_ALACRITECH=n
CONFIG_HAVE_ARCH_JUMP_LABEL_RELATIVE=n
CONFIG_PREEMPT_COUNT=n
CONFIG_INPUT_TOUCHSCREEN=n
CONFIG_HW_RANDOM_VIA=n
CONFIG_ACPI=n
CONFIG_MITIGATION_GDS=n
CONFIG_USB_SUPPORT=n
CONFIG_MD_BITMAP=n
CONFIG_USB_MON=n
CONFIG_BINFMT_MISC=n
CONFIG_TOOLS_SUPPORT_RELR=n
CONFIG_SECCOMP_FILTER=n
CONFIG_ACPI_THERMAL=n
CONFIG_USER_STACKTRACE_SUPPORT=n
CONFIG_ZLIB_INFLATE=n
CONFIG_NET_VENDOR_NI=n
CONFIG_CHECK_SIGNATURE=n
CONFIG_IP_ROUTE_VERBOSE=n
CONFIG_FUTEX_PI=n
CONFIG_MITIGATION_MMIO_STALE_DATA=n
CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE=n
CONFIG_GENERIC_CLOCKEVENTS_MIN_ADJUST=n
CONFIG_EXT4_FS_SECURITY=n
CONFIG_EFI_CAPSULE_LOADER=n
CONFIG_USE_X86_SEG_SUPPORT=n
CONFIG_FORCEDETH=n
CONFIG_DW_DMAC_CORE=n
CONFIG_NLS_ISO8859_1=n
CONFIG_FONT_SUPPORT=n
CONFIG_CRYPTO_MANAGER=n
CONFIG_GCC_NO_STRINGOP_OVERFLOW=n
CONFIG_IP_MULTICAST=n
CONFIG_PREEMPT_RCU=n
CONFIG_X86_UMIP=n
CONFIG_GENERIC_IRQ_MIGRATION=n
CONFIG_RANDSTRUCT_NONE=n
CONFIG_STRICT_MODULE_RWX=n
CONFIG_LZO_COMPRESS=n
CONFIG_NET_VENDOR_8390=n
CONFIG_OLD_SIGACTION=n
CONFIG_PAGE_MAPCOUNT=n
CONFIG_ARCH_STACKWALK=n
CONFIG_IP_PIMSM_V1=n
CONFIG_NF_NAT=n
CONFIG_CACHESTAT_SYSCALL=n
CONFIG_XFRM_ALGO=n
CONFIG_RTC_INTF_PROC=n
CONFIG_PCMCIA=n
CONFIG_SND_HDA_CORE=n
CONFIG_SYNC_FILE=n
CONFIG_NEED_PER_CPU_PAGE_FIRST_CHUNK=n
CONFIG_SCSI_PROC_FS=n
CONFIG_DRM_CLIENT_SELECTION=n
CONFIG_HAVE_FUNCTION_TRACER=n
CONFIG_SERIAL_8250_EXAR=n
CONFIG_NET_VENDOR_ASIX=n
CONFIG_LOCKDEP_SUPPORT=n
CONFIG_NET_VENDOR_MARVELL=n
CONFIG_QUOTA_NETLINK_INTERFACE=n
CONFIG_BLK_DEV_SR=n
CONFIG_XZ_DEC=n
CONFIG_BUFFER_HEAD=n
CONFIG_CGROUP_DEVICE=n
CONFIG_HOTPLUG_CORE_SYNC_FULL=n
CONFIG_HRTIMER_REARM_DEFERRED=n
CONFIG_POWER_SUPPLY_HWMON=n
CONFIG_DECOMPRESS_BZIP2=n
CONFIG_HZ_1000=n
