CONFIG_NEED_SG_DMA_LENGTH=y
CONFIG_ARM64_PTR_AUTH_KERNEL=y
CONFIG_PCI_MSI=y
CONFIG_MTD_SPI_NAND=y
CONFIG_INPUT_STPMIC1_ONKEY=y
CONFIG_RTC_DRV_DS1374=y
CONFIG_SG_POOL=y
CONFIG_LS_EXTIRQ=y
CONFIG_CRYPTO_RNG2=y
CONFIG_NET_VENDOR_CHELSIO=y
CONFIG_LIBWX=y
CONFIG_VT_CONSOLE=y
CONFIG_DEBUG_LOCK_ALLOC=y
CONFIG_KEYBOARD_IMX_BBM_SCMI=y
CONFIG_MTK_CMDQ_MBOX=y
CONFIG_MTD_OOPS=y
CONFIG_HAVE_ARCH_KASAN_SW_TAGS=y
CONFIG_MARVELL_CN10K_TAD_PMU=y
CONFIG_COMMON_CLK_MT2712_JPGDECSYS=y
CONFIG_NLS_CODEPAGE_855=y
CONFIG_HID_PLANTRONICS=y
CONFIG_IOMMU_SVA=y
CONFIG_NLS_CODEPAGE_1251=y
CONFIG_BT_FEATURE_DEBUG=y
CONFIG_GPIO_DS4520=y
CONFIG_KEYBOARD_SUN4I_LRADC=y
CONFIG_HAVE_IOREMAP_PROT=y
CONFIG_HID_GFRM=y
CONFIG_DRAGONRISE_FF=y
CONFIG_COMMON_CLK_C3_PLL=y
CONFIG_I2C_MUX_REG=y
CONFIG_GENERIC_ARCH_TOPOLOGY=y
CONFIG_NVMEM_LAYOUTS=y
CONFIG_SNI_AVE=y
CONFIG_RTC_DRV_DS1742=y
CONFIG_DEFERRED_STRUCT_PAGE_INIT=y
CONFIG_MTD_MAP_BANK_WIDTH_4=y
CONFIG_REGULATOR_HI655X=y
CONFIG_IPMI_IPMB=y
CONFIG_SENSORS_INA3221=y
CONFIG_BINFMT_SCRIPT=y
CONFIG_SSB_PCMCIAHOST_POSSIBLE=y
CONFIG_SERIAL_8250_FSL=y
CONFIG_SUN50I_H6_CCU=y
CONFIG_NVIDIA_CARMEL_CNP_ERRATUM=y
CONFIG_HAVE_IRQ_TIME_ACCOUNTING=y
CONFIG_MTD_MTDRAM=y
CONFIG_COMMON_CLK_MT8188_VDECSYS=y
CONFIG_DEVFREQ_GOV_PASSIVE=y
CONFIG_SENSORS_LTC2947_I2C=y
CONFIG_VALIDATE_FS_PARSER=y
CONFIG_CRYPTO_SHA1=y
CONFIG_RTC_DRV_EFI=y
CONFIG_LEDS_MAX77693=y
CONFIG_HID_MAGICMOUSE=y
CONFIG_TIME_NS=y
CONFIG_MTD_CFI_AMDSTD=y
CONFIG_SPI_AIROHA_SNFI=y
CONFIG_COMMON_CLK_MT8192_IPESYS=y
CONFIG_GPIO_WATCHDOG=y
CONFIG_POWER_RESET_QEMU_VIRT_CTRL=y
CONFIG_MFD_TPS65086=y
CONFIG_PCIEAER_INJECT=y
CONFIG_BCM_VK=y
CONFIG_UCS2_STRING=y
CONFIG_ARCH_ENABLE_MEMORY_HOTPLUG=y
CONFIG_RTC_DRV_SD3078=y
CONFIG_MII=y
CONFIG_NET_SOCK_MSG=y
CONFIG_SENSORS_PECI_CPUTEMP=y
CONFIG_NET_FC=y
CONFIG_SPI_ALTERA_CORE=y
CONFIG_SENSORS_TSC1641=y
CONFIG_HAVE_ARCH_USERFAULTFD_WP=y
CONFIG_VDPA_USER=y
CONFIG_SUN50I_DE2_BUS=y
CONFIG_REED_SOLOMON_ENC8=y
CONFIG_MTD_GEN_PROBE=y
CONFIG_TI_MESSAGE_MANAGER=y
CONFIG_GENERIC_CPU_VULNERABILITIES=y
CONFIG_APPLE_RTKIT=y
CONFIG_MMC_SDRICOH_CS=y
CONFIG_TSM_REPORTS=y
CONFIG_CRYPTO_TWOFISH_COMMON=y
CONFIG_SENSORS_LTC4260=y
CONFIG_ARCH_SUPPORTS_SCHED_CLUSTER=y
CONFIG_LOCKDEP=y
CONFIG_TCG_TPM=y
CONFIG_SSB_PCIHOST_POSSIBLE=y
CONFIG_FSL_IMX9_DDR_PMU=y
CONFIG_EEPROM_93CX6=y
CONFIG_NVMEM_ROCKCHIP_EFUSE=y
CONFIG_NET_INGRESS=y
CONFIG_IGBVF=y
CONFIG_ARM_ARCH_TIMER=y
CONFIG_SCSI=y
CONFIG_CRYPTO_GCM=y
CONFIG_CHELSIO_T1=y
CONFIG_SERIO_APBPS2=y
CONFIG_HAVE_FUNCTION_GRAPH_TRACER=y
CONFIG_CRYPTO_RSA=y
CONFIG_CORTINA_PHY=y
CONFIG_SENSORS_PCF8591=y
CONFIG_TCG_TIS_CORE=y
CONFIG_INPUT_CMA3000_I2C=y
CONFIG_OPTEE=y
CONFIG_LIBETH=y
CONFIG_PHY_SUN50I_USB3=y
CONFIG_CPU_FREQ=y
CONFIG_WATCHDOG_NOWAYOUT=y
CONFIG_SPI_SG2044_NOR=y
CONFIG_BACKLIGHT_LM3630A=y
CONFIG_PPP_ASYNC=y
CONFIG_SPI_SPIDEV=y
CONFIG_CRYPTO_HCTR2=y
CONFIG_NET_VENDOR_WANGXUN=y
CONFIG_MISC_RTSX_PCI=y
CONFIG_LAN966X_OIC=y
CONFIG_EDAC=y
CONFIG_CC_CAN_LINK=y
CONFIG_APPLE_MAILBOX=y
CONFIG_SECURITY_DMESG_RESTRICT=y
CONFIG_RMI4_F21=y
CONFIG_MACSMC_POWER=y
CONFIG_BACKLIGHT_LED=y
CONFIG_GENERIC_IRQ_IPI_MUX=y
CONFIG_GLOB=y
CONFIG_VSI_IOMMU=y
CONFIG_TEST_MEMCAT_P=y
CONFIG_ARCH_UNIPHIER=y
CONFIG_PWM_IQS620A=y
CONFIG_FAT_FS=y
CONFIG_HID_GLORIOUS=y
CONFIG_LEDS_TRIGGERS=y
CONFIG_MMC_SDHCI=y
CONFIG_MFD_IQS62X=y
CONFIG_NET_DEVMEM=y
CONFIG_PRU_REMOTEPROC=y
CONFIG_PCIE_DW=y
CONFIG_COMMON_CLK_IPROC=y
CONFIG_SENSORS_LIS3_I2C=y
CONFIG_SENSORS_SMSC47M192=y
CONFIG_RTC_DRV_CV1800=y
CONFIG_INPUT_EVDEV=y
CONFIG_SENSORS_MAX16065=y
CONFIG_TI_PRUSS=y
CONFIG_IXGBE=y
CONFIG_PINCTRL_MICROCHIP_SGPIO=y
CONFIG_COMMON_CLK_VC5=y
CONFIG_INPUT_TPS65219_PWRBUTTON=y
CONFIG_TEE=y
CONFIG_SERIAL_8250_DWLIB=y
CONFIG_LEDS_SGM3140=y
CONFIG_XFS_DEBUG=y
CONFIG_PROC_FS=y
CONFIG_PINCTRL_MT8183=y
CONFIG_HAVE_MOVE_PMD=y
CONFIG_OF_MDIO=y
CONFIG_HAVE_PREEMPT_DYNAMIC=y
CONFIG_ARCH_SUPPORTS_ATOMIC_RMW=y
CONFIG_SERIAL_DEV_CTRL_TTYPORT=y
CONFIG_ISL29020=y
CONFIG_HAVE_CONTEXT_TRACKING_USER=y
CONFIG_E1000=y
CONFIG_CRYPTO_MANAGER2=y
CONFIG_GPIO_BD9571MWV=y
CONFIG_RTC_DRV_DA9055=y
CONFIG_HVC_DRIVER=y
CONFIG_REGULATOR_FIXED_VOLTAGE=y
CONFIG_EXFAT_FS=y
CONFIG_SERIAL_SPRD=y
CONFIG_NLS_KOI8_R=y
CONFIG_HIX5HD2_GMAC=y
CONFIG_JOYSTICK_INTERACT=y
CONFIG_RAID6_PQ=y
CONFIG_PHY_ROCKCHIP_USB=y
CONFIG_REALTEK_PHY=y
CONFIG_CRYPTO_LIB_BLAKE2B=y
CONFIG_LEDS_TRIGGER_TIMER=y
CONFIG_ARCH_MVEBU=y
CONFIG_SAMPLE_AUXDISPLAY=y
CONFIG_ARM64_ERRATUM_832075=y
CONFIG_COMMON_CLK_HI3670=y
CONFIG_JFS_STATISTICS=y
CONFIG_THERMAL_CORE_TESTING=y
CONFIG_PERF_USE_VMALLOC=y
CONFIG_TIME_NS_VDSO=y
CONFIG_NLS_UTF8=y
CONFIG_COMMON_CLK_MT7622_HIFSYS=y
CONFIG_COMMON_CLK_MT8365=y
CONFIG_PHY_NXP_PTN3222=y
CONFIG_DEBUG_FS=y
CONFIG_POWER_SEQUENCING_PCIE_M2=y
CONFIG_RPMSG_VIRTIO=y
CONFIG_MFD_WM8997=y
CONFIG_HAVE_SYSCALL_TRACEPOINTS=y
CONFIG_PECI_ASPEED=y
CONFIG_REGULATOR_MAX5970=y
CONFIG_COMMON_RESET_HI3660=y
CONFIG_KALLSYMS_ALL=y
CONFIG_SPI_SPRD=y
CONFIG_CEC_MESON_AO=y
CONFIG_NET_VENDOR_QLOGIC=y
CONFIG_SSB_SPROM=y
CONFIG_SERIAL_8250=y
CONFIG_HID_SUNPLUS=y
CONFIG_SENSORS_TMP108=y
CONFIG_THERMAL_OF=y
CONFIG_W1_SLAVE_DS2423=y
CONFIG_MTD_NAND_MARVELL=y
CONFIG_MTD_NAND_ECC_MXIC=y
CONFIG_FS_STACK=y
CONFIG_ARM64_WORKAROUND_CLEAN_CACHE=y
CONFIG_SYSCTL_EXCEPTION_TRACE=y
CONFIG_AMIGA_PARTITION=y
CONFIG_MTK_NET_PHYLIB=y
CONFIG_GENERIC_LIB_DEVMEM_IS_ALLOWED=y
CONFIG_CHARGER_DETECTOR_MAX14656=y
CONFIG_HWMON=y
CONFIG_MTD_CFI_STAA=y
CONFIG_PINCTRL_MESON=y
CONFIG_ARCH_USE_MEMTEST=y
CONFIG_GCC_PLUGINS=y
CONFIG_BLK_PM=y
CONFIG_RTC_DRV_RV3032=y
CONFIG_REF_TRACKER=y
CONFIG_I2C_ALGOPCA=y
CONFIG_HDLC_RAW=y
CONFIG_MFD_MACSMC=y
CONFIG_NET_VENDOR_VERTEXCOM=y
CONFIG_MTD_BLOCK2MTD=y
CONFIG_MPILIB=y
CONFIG_XOR_BLOCKS=y
CONFIG_FUTEX=y
CONFIG_CC_HAS_INT128=y
CONFIG_PHY_MTK_DP=y
CONFIG_SQUASHFS_ZLIB=y
CONFIG_POWER_RESET_GPIO_RESTART=y
CONFIG_MFD_ROHM_BD957XMUF=y
CONFIG_CRYPTO_ECHAINIV=y
CONFIG_VHOST_IOTLB=y
CONFIG_LEGACY_DIRECT_IO=y
CONFIG_BLK_DEV_NBD=y
CONFIG_REGULATOR_FAN53555=y
CONFIG_PID_IN_CONTEXTIDR=y
CONFIG_SERIAL_8250_KEBA=y
CONFIG_GPIO_WM831X=y
CONFIG_PINCTRL_SX150X=y
CONFIG_LEDS_AW200XX=y
CONFIG_CC_HAS_ASSUME=y
CONFIG_NLS_UCS2_UTILS=y
CONFIG_PWM_MESON=y
CONFIG_HAVE_ARCH_SECCOMP_FILTER=y
CONFIG_PM_WAKELOCKS=y
CONFIG_COMMON_CLK_MT2712_MMSYS=y
CONFIG_FW_LOADER_SYSFS=y
CONFIG_CC_HAS_ASM_GOTO_OUTPUT=y
CONFIG_ARM64_MPAM_DRIVER_DEBUG=y
CONFIG_ENIC=y
CONFIG_JFS_SECURITY=y
CONFIG_FB_SYSMEM_FOPS=y
CONFIG_JBD2=y
CONFIG_SERIO_LIBPS2=y
CONFIG_EXTCON_PTN5150=y
CONFIG_CLK_QORIQ=y
CONFIG_ARCH_SUPPORTS_NUMA_BALANCING=y
CONFIG_BLK_RQ_ALLOC_TIME=y
CONFIG_PM_USERSPACE_AUTOSLEEP=y
CONFIG_FSI_OCC=y
CONFIG_EDAC_SYNOPSYS=y
CONFIG_NVMEM=y
CONFIG_GPIO_SYSCON=y
CONFIG_SERIO_GPIO_PS2=y
CONFIG_NET_VENDOR_DAVICOM=y
CONFIG_MTK_SCPSYS_PM_DOMAINS=y
CONFIG_ARCH_HAS_KEEPINITRD=y
CONFIG_LIST_HARDENED=y
CONFIG_FB_TRIDENT=y
CONFIG_APPLE_AIC=y
CONFIG_FW_LOADER_COMPRESS_ZSTD=y
CONFIG_MMU_GATHER_RCU_TABLE_FREE=y
CONFIG_IOMMU_MM_DATA=y
CONFIG_CRYPTO_USER_API_ENABLE_OBSOLETE=y
CONFIG_RUSTC_SUPPORTS_ARM64=y
CONFIG_ARCH_SPARSEMEM_ENABLE=y
CONFIG_LINEDISP=y
CONFIG_SENSORS_G762=y
CONFIG_W1_CON=y
CONFIG_AMD_SBRMI_I2C=y
CONFIG_FB_SYSMEM_HELPERS=y
CONFIG_JFS_DEBUG=y
CONFIG_RTC_DRV_DS1307=y
CONFIG_PREEMPT_RCU=y
CONFIG_BLOCK_LEGACY_AUTOLOAD=y
CONFIG_SENSORS_SMPRO=y
CONFIG_PINCTRL_SOPHGO_CV1812H=y
CONFIG_PCIE_DW_HOST=y
CONFIG_VMGENID=y
CONFIG_INIT_STACK_ALL_ZERO=y
CONFIG_CRYPTO_KRB5ENC=y
CONFIG_PCI_ATS=y
CONFIG_SENSORS_SPD5118=y
CONFIG_SECURITYFS=y
CONFIG_DIBS=y
CONFIG_MTD_NAND_ROCKCHIP=y
CONFIG_PCIE_ALTERA_MSI=y
CONFIG_CHARGER_GPIO=y
CONFIG_BCM7120_L2_IRQ=y
CONFIG_CRYPTO_LIB_AES=y
CONFIG_CPU_IDLE_GOV_TEO=y
CONFIG_SDIO_UART=y
CONFIG_COMMON_CLK_SI5351=y
CONFIG_BE2NET=y
CONFIG_DMA_API_DEBUG=y
CONFIG_MEDIA_CEC_SUPPORT=y
CONFIG_YENTA=y
CONFIG_PCI_SW_SWITCHTEC=y
CONFIG_I2C_TAOS_EVM=y
CONFIG_GPIO_VIRTUSER=y
CONFIG_RPMSG_QCOM_GLINK=y
CONFIG_RTC_DRV_MAX8907=y
CONFIG_RCU_TRACE=y
CONFIG_MFD_LP3943=y
CONFIG_CRYPTO_HASH2=y
CONFIG_CRYPTO_LIB_AES_ARCH=y
CONFIG_MMC_SDHCI_UHS2=y
CONFIG_BLK_WBT=y
CONFIG_SENSORS_SCH5627=y
CONFIG_RD_LZO=y
CONFIG_NL80211_TESTMODE=y
CONFIG_NET_VENDOR_MICROCHIP=y
CONFIG_CRYPTO_JITTERENTROPY=y
CONFIG_SUN50I_IOMMU=y
CONFIG_STEAM_FF=y
CONFIG_XLNX_R5_REMOTEPROC=y
CONFIG_B44_PCI=y
CONFIG_MDIO_ASPEED=y
CONFIG_PM_DEVFREQ=y
CONFIG_LD_ORPHAN_WARN=y
CONFIG_ARCH_NXP=y
CONFIG_SERIAL_AMBA_PL011=y
CONFIG_PCMCIA=y
CONFIG_REGULATOR_TPS65218=y
CONFIG_VMCORE_INFO=y
CONFIG_PPS_CLIENT_KTIMER=y
CONFIG_BCH=y
CONFIG_YENTA_O2=y
CONFIG_QCOM_EMAC=y
CONFIG_KUSER_HELPERS=y
CONFIG_COMPAT=y
CONFIG_IMX_DSP=y
CONFIG_MFD_ARIZONA_SPI=y
CONFIG_PINCTRL_MT8192=y
CONFIG_HW_RANDOM_HISI=y
CONFIG_MTD_NAND_PLATFORM=y
CONFIG_MTD_NAND_OMAP_BCH_BUILD=y
CONFIG_PAGE_OWNER=y
CONFIG_WATCHDOG_CORE=y
CONFIG_IRQ_DOMAIN=y
CONFIG_REGULATOR_TPS65217=y
CONFIG_PHY_ROCKCHIP_EMMC=y
CONFIG_CC_HAS_MIN_FUNCTION_ALIGNMENT=y
CONFIG_CHARLCD_BL_ON=y
CONFIG_INPUT_ATMEL_CAPTOUCH=y
CONFIG_APDS9802ALS=y
CONFIG_DCACHE_WORD_ACCESS=y
CONFIG_INPUT_ADXL34X=y
CONFIG_RESET_SIMPLE=y
CONFIG_BLK_DEV_LOOP=y
CONFIG_TEST_MEMINIT=y
CONFIG_PINCTRL_MT7622=y
CONFIG_CRYPTO_LIB_AES_CBC_MACS=y
CONFIG_VFIO_MDEV=y
CONFIG_SENSORS_LM90=y
CONFIG_COMMON_CLK_MT8365_VENC=y
CONFIG_LEDS_MENF21BMC=y
CONFIG_SAMPLE_VFIO_MDEV_MTTY=y
CONFIG_LEDS_LP5812=y
CONFIG_HFSPLUS_FS=y
CONFIG_NLS_CODEPAGE_857=y
CONFIG_I2C_SIS96X=y
CONFIG_PWM_DWC=y
CONFIG_LEDS_GPIO=y
CONFIG_REMOTEPROC=y
CONFIG_CXL_PORT=y
CONFIG_MDIO_MSCC_MIIM=y
CONFIG_RUSTC_HAS_FILE_WITH_NUL=y
CONFIG_STACKDEPOT_ALWAYS_INIT=y
CONFIG_ARCH_HAS_SET_MEMORY=y
CONFIG_FB_MODE_HELPERS=y
CONFIG_COMMON_CLK_SI570=y
CONFIG_COMMON_CLK_MT8167_MMSYS=y
CONFIG_NLS_MAC_CELTIC=y
CONFIG_KHADAS_MCU_FAN_THERMAL=y
CONFIG_SENSORS_AD7314=y
CONFIG_OF_ADDRESS=y
CONFIG_MFD_PALMAS=y
CONFIG_MMC_MXC=y
CONFIG_SOFT_WATCHDOG=y
CONFIG_INPUT_GPIO_BEEPER=y
CONFIG_OF_IRQ=y
CONFIG_PINCTRL_SOPHGO_SG2000=y
CONFIG_SLIC_DS26522=y
CONFIG_MMC_MESON_MX_SDIO=y
CONFIG_CAN_VCAN=y
CONFIG_MMC_MESON_GX=y
CONFIG_TREE_RCU=y
CONFIG_GENERIC_EARLY_IOREMAP=y
CONFIG_HID_LENOVO=y
CONFIG_ARCH_USES_HIGH_VMA_FLAGS=y
CONFIG_ARMADA_37XX_RWTM_MBOX=y
CONFIG_RANDSTRUCT_PERFORMANCE=y
CONFIG_PCI_ECAM=y
CONFIG_PCI200SYN=y
CONFIG_RPMSG_MTK_SCP=y
CONFIG_QUOTA_NETLINK_INTERFACE=y
CONFIG_QNX6FS_FS=y
CONFIG_SPI_DEBUG=y
CONFIG_SENSORS_QNAP_MCU_HWMON=y
CONFIG_I2C_HID=y
CONFIG_MUX_CORE=y
CONFIG_LEDS_NCP5623=y
CONFIG_LEDS_TPS6131X=y
CONFIG_RTC_DRV_SUN6I=y
CONFIG_SERIAL_8250_OMAP=y
CONFIG_REED_SOLOMON_DEC8=y
CONFIG_PROC_CHILDREN=y
CONFIG_PWM_MTK_DISP=y
CONFIG_RT_MUTEXES=y
CONFIG_PINCTRL_MCP23S08=y
CONFIG_LCD_L4F00242T03=y
CONFIG_CRYPTO_KHAZAD=y
CONFIG_FUSE_IO_URING=y
CONFIG_SOCK_RX_QUEUE_MAPPING=y
CONFIG_FUSE_PASSTHROUGH=y
CONFIG_SUN55I_A523_CCU=y
CONFIG_SCSI_UFSHCD_PCI=y
CONFIG_SCSI_UFS_CRYPTO=y
CONFIG_COMMON_CLK_T7_PERIPHERALS=y
CONFIG_GPIO_MOXTET=y
CONFIG_LEDS_QNAP_MCU=y
CONFIG_SENSORS_ADS7871=y
CONFIG_SERIAL_SC16IS7XX_I2C=y
CONFIG_CFG80211_REG_CELLULAR_HINTS=y
CONFIG_NLS_ISO8859_8=y
CONFIG_CRYPTO_SKCIPHER2=y
CONFIG_ARCH_SUPPORTS_PER_VMA_LOCK=y
CONFIG_REGULATOR_SY8827N=y
CONFIG_INPUT_AXP20X_PEK=y
CONFIG_TI_FPC202=y
CONFIG_W1_SLAVE_DS2430=y
CONFIG_RTC_DRV_ASPEED=y
CONFIG_NET_VENDOR_CISCO=y
CONFIG_MFD_CORE=y
CONFIG_RCU_LAZY_DEFAULT_OFF=y
CONFIG_SENSORS_ADT7411=y
CONFIG_MDIO_BUS_MUX_MMIOREG=y
CONFIG_MFD_ARIZONA=y
CONFIG_PHY_SPARX5_SERDES=y
CONFIG_ARCH_HAS_NON_OVERLAPPING_ADDRESS_SPACE=y
CONFIG_HAVE_GENERIC_VDSO=y
CONFIG_XILINX_GMII2RGMII=y
CONFIG_CHARGER_LP8727=y
CONFIG_BLK_DEV_PMEM=y
CONFIG_EFI_DISABLE_RUNTIME=y
CONFIG_PHY_MVEBU_A3700_UTMI=y
CONFIG_IRQ_WORK=y
CONFIG_PINCTRL_SUN9I_A80=y
CONFIG_SLIMBUS=y
CONFIG_SLAB_OBJ_EXT=y
CONFIG_ARCH_SUPPORTS_KEXEC_IMAGE_VERIFY_SIG=y
CONFIG_HID_VIVALDI=y
CONFIG_RETU_WATCHDOG=y
CONFIG_PCI_HOST_THUNDER_PEM=y
CONFIG_NO_HZ_FULL=y
CONFIG_ARM_SUN8I_A33_MBUS_DEVFREQ=y
CONFIG_PINCTRL_MTK_MOORE=y
CONFIG_BCMA_HOST_PCI=y
CONFIG_KEYBOARD_MATRIX=y
CONFIG_PCI_J721E=y
CONFIG_DAMON_PADDR=y
CONFIG_CLK_SOPHGO_SG2044_PLL=y
CONFIG_I2C_MUX_MULE=y
CONFIG_SERIAL_SIFIVE=y
CONFIG_SPI_UNIPHIER=y
CONFIG_PM_GENERIC_DOMAINS_OF=y
CONFIG_FUNCTION_ERROR_INJECTION=y
CONFIG_ARCH_BCM=y
CONFIG_LMK04832=y
CONFIG_EXTCON=y
CONFIG_RTC_DRV_BQ32K=y
CONFIG_HAVE_ARCH_KSTACK_ERASE=y
CONFIG_CXL_REGION=y
CONFIG_FB_PM3=y
CONFIG_COMMON_CLK_HI3516CV300=y
CONFIG_FB_SIS_300=y
CONFIG_FUEL_GAUGE_STC3117=y
CONFIG_REGULATOR_TPS6524X=y
CONFIG_REGULATOR_ISL6271A=y
CONFIG_ARM64_SVE=y
