CONFIG_SUNRPC_GSS=n
CONFIG_SND_SOC_WM8524=n
CONFIG_PINCTRL_RZT2H=n
CONFIG_DRM_PANEL_EDP=n
CONFIG_PINCTRL_MT8516=n
CONFIG_EXYNOS_CHIPID=n
CONFIG_SATA_SIL24=n
CONFIG_DRM_RCAR_VSP=n
CONFIG_COMMON_CLK_HI655X=n
CONFIG_DRM_DISPLAY_HDMI_STATE_HELPER=n
CONFIG_DW_APB_ICTL=n
CONFIG_BRCMFMAC_SDIO=n
CONFIG_ASPEED_P2A_CTRL=n
CONFIG_PCI_HOST_COMMON=n
CONFIG_SND_SOC_NAU8315=n
CONFIG_RTC_DRV_TEGRA=n
CONFIG_BRCMFMAC_PROTO_BCDC=n
CONFIG_SND_SOC_SC8280XP=n
CONFIG_SND_SOC_RK817=n
CONFIG_RSI_DEBUGFS=n
CONFIG_USB_CONFIGFS_RNDIS=n
CONFIG_MVNETA=n
CONFIG_DRM_ITE_IT6263=n
CONFIG_IIO_ST_LSM6DSX_SPI=n
CONFIG_STMMAC_PLATFORM=n
CONFIG_PHY_HISI_INNO_USB2=n
CONFIG_NET_DEVMEM=n
CONFIG_LIBFDT=n
CONFIG_SND_PCM=n
CONFIG_ARM64_ERRATUM_2054223=n
CONFIG_MV_XOR=n
CONFIG_SPRD_SC9860_CLK=n
CONFIG_PM_OPP=n
CONFIG_MQ_IOSCHED_KYBER=n
CONFIG_ACPI_APEI_MEMORY_FAILURE=n
CONFIG_INPUT_FF_MEMLESS=n
CONFIG_CAN_M_CAN_PLATFORM=n
CONFIG_UCSI_PMIC_GLINK=n
CONFIG_SND_SOC_GENERIC_DMAENGINE_PCM=n
CONFIG_IR_SUNXI=n
CONFIG_PWRSEQ_EMMC=n
CONFIG_PCI_SKY1_HOST=n
CONFIG_CPU_FREQ_GOV_CONSERVATIVE=n
CONFIG_MHP_MEMMAP_ON_MEMORY=n
CONFIG_HISILICON_ERRATUM_161600802=n
CONFIG_NFS_V4_2_READ_PLUS=n
CONFIG_ARCH_MESON=n
CONFIG_CC_HAS_SANE_FUNCTION_ALIGNMENT=n
CONFIG_COMMON_CLK_MT8167_MMSYS=n
CONFIG_RENESAS_RPCIF=n
CONFIG_HW_RANDOM=n
CONFIG_AUDIT=n
CONFIG_RTC_DRV_IMX_SC=n
CONFIG_BT_HCIUART_LL=n
CONFIG_I2C_XILINX=n
CONFIG_CLK_TEGRA_BPMP=n
CONFIG_POWER_RESET_SYSCON_POWEROFF=n
CONFIG_PHYLIB=n
CONFIG_NVMEM_LAYERSCAPE_SFP=n
CONFIG_IPQ_GCC_8074=n
CONFIG_ARCH_HAVE_ELF_PROT=n
CONFIG_NET_VENDOR_CADENCE=n
CONFIG_TI_ICSS_IEP=n
CONFIG_CLK_X1E80100_GCC=n
CONFIG_SA_GCC_8775P=n
CONFIG_DPAA2_CONSOLE=n
CONFIG_SWIOTLB_XEN=n
CONFIG_DRM_PANEL_NOVATEK_NT37801=n
CONFIG_SOC_TEGRA_POWERGATE_BPMP=n
CONFIG_BCM2835_WDT=n
CONFIG_ARCH_TEGRA_241_SOC=n
CONFIG_ARCH_SUPPORTS_HUGETLBFS=n
CONFIG_QCOM_SPMI_ADC_TM5=n
CONFIG_ARCH_SUPPORTS_CFI=n
CONFIG_PINCTRL_SINGLE=n
CONFIG_GENERIC_BUG_RELATIVE_POINTERS=n
CONFIG_COMMON_CLK_MT8186_WPESYS=n
CONFIG_RTC_DRV_TI_K3=n
CONFIG_XILINX_AXI_EMAC=n
CONFIG_GPIO_SL28CPLD=n
CONFIG_SPMI_MTK_PMIF=n
CONFIG_CROSS_MEMORY_ATTACH=n
CONFIG_RATIONAL=n
CONFIG_SND_SOC_QDSP6_CORE=n
CONFIG_FANOTIFY_ACCESS_PERMISSIONS=n
CONFIG_SDM_LPASSCC_845=n
CONFIG_HIBERNATION=n
CONFIG_SOC_TEGRA_PMC=n
CONFIG_UNIX=n
CONFIG_ARCH_HAS_CC_PLATFORM=n
CONFIG_MTK_THERMAL=n
CONFIG_NET_VENDOR_QUALCOMM=n
CONFIG_PINCTRL_SUN50I_H616_R=n
CONFIG_MCHP_CLK_MPFS=n
CONFIG_USB_F_MASS_STORAGE=n
CONFIG_SND_BCM2835=n
CONFIG_SUN8I_R_CCU=n
CONFIG_DRM_TOSHIBA_TC358767=n
CONFIG_PCIE_HISI_STB=n
CONFIG_ARM64_WORKAROUND_SPECULATIVE_AT=n
CONFIG_PHY_UNIPHIER_USB3=n
CONFIG_PINCTRL_MESON8_PMX=n
CONFIG_INPUT_PWM_BEEPER=n
CONFIG_ARM_SMMU_V3_PMU=n
CONFIG_CPUFREQ_DT=n
CONFIG_DRM_ETNAVIV_THERMAL=n
CONFIG_TYPEC_QCOM_PMIC=n
CONFIG_REGULATOR_MT6315=n
CONFIG_SERIAL_MSM_CONSOLE=n
CONFIG_SERIAL_8250_16550A_VARIANTS=n
CONFIG_HW_RANDOM_ARM_SMCCC_TRNG=n
CONFIG_RENESAS_RZV2H_ICU=n
CONFIG_SERIAL_FSL_LPUART_CONSOLE=n
CONFIG_PHY_CADENCE_SIERRA=n
CONFIG_MEDIA_TUNER_SIMPLE=n
CONFIG_FSNOTIFY=n
CONFIG_ACPI_PPTT=n
CONFIG_CRYPTO_GHASH_ARM64_CE=n
CONFIG_RCAR_THERMAL=n
CONFIG_SA_CAMCC_8775P=n
CONFIG_CLK_R9A09G011=n
CONFIG_I2C_RIIC=n
CONFIG_DWMAC_MEDIATEK=n
CONFIG_MICROCHIP_PHY=n
CONFIG_QCOM_PDR_MSG=n
CONFIG_SERIAL_CORE=n
CONFIG_QCOM_IPA=n
CONFIG_PHY_MVEBU_A3700_UTMI=n
CONFIG_VGA_ARB=n
CONFIG_COMMON_CLK_MT8183_VDECSYS=n
CONFIG_RTC_DRV_CROS_EC=n
CONFIG_KEYBOARD_IMX_BBM_SCMI=n
CONFIG_QCOM_HIDMA_MGMT=n
CONFIG_PINCTRL_TPS6594=n
CONFIG_MAILBOX=n
CONFIG_PCIEAER=n
CONFIG_VIDEO_HANTRO_SUNXI=n
CONFIG_HAVE_UID16=n
CONFIG_ARM64_TLB_RANGE=n
CONFIG_CRYPTO_DEV_FSL_CAAM_JR=n
CONFIG_CRYPTO_LIB_SHA512_ARCH=n
CONFIG_COMMON_CLK_HI3660=n
CONFIG_COMMON_CLK_MT8186=n
CONFIG_DRM_NWL_MIPI_DSI=n
CONFIG_CRYPTO_DEV_AMLOGIC_GXL=n
CONFIG_RTC_DRV_DS3232_HWMON=n
CONFIG_I2C_MESON=n
CONFIG_MTD_NAND_DENALI_DT=n
CONFIG_FRAME_POINTER=n
CONFIG_RTC_DRV_BRCMSTB=n
CONFIG_CLK_R8A779F0=n
CONFIG_QCOM_COINCELL=n
CONFIG_HWSPINLOCK_OMAP=n
CONFIG_FWNODE_MDIO=n
CONFIG_PHY_EXYNOS5_USBDRD=n
CONFIG_CLK_KAANAPALI_GCC=n
CONFIG_PINCTRL_IPQ6018=n
CONFIG_SND_SOC_FSL_UTILS=n
CONFIG_IPQ_GCC_5332=n
CONFIG_SYSC_R9A08G046=n
CONFIG_MHI_WWAN_CTRL=n
CONFIG_PHY_QCOM_EUSB2_REPEATER=n
CONFIG_VIDEO=n
CONFIG_PINCTRL_TEGRA_XUSB=n
CONFIG_I2C_CADENCE=n
CONFIG_CAN_CALC_BITTIMING=n
CONFIG_CLK_RASPBERRYPI=n
CONFIG_TRACE_IRQFLAGS_NMI_SUPPORT=n
CONFIG_ARM64_SVE=n
CONFIG_PNFS_FILE_LAYOUT=n
CONFIG_HAVE_MOVE_PMD=n
CONFIG_VIDEO_QCOM_CAMSS=n
CONFIG_ATH11K_PCI=n
CONFIG_DMA_OPS_HELPERS=n
CONFIG_COMMON_CLK_MT8192_IPESYS=n
CONFIG_CRYPTO_LIB_CHACHA_ARCH=n
CONFIG_COMMON_CLK_MT8167_VDECSYS=n
CONFIG_COMMON_CLK_MT8365_VDEC=n
CONFIG_ARCH_HAS_GCOV_PROFILE_ALL=n
CONFIG_USB_NET_PLUSB=n
CONFIG_QCOM_L2_PMU=n
CONFIG_FB_DEFERRED_IO=n
CONFIG_PHYLIB_LEDS=n
CONFIG_SH_ETH=n
CONFIG_RZT2H_ADC=n
CONFIG_I2C_EXYNOS5=n
CONFIG_GENERIC_IRQ_CHIP=n
CONFIG_USB_CHIPIDEA_MSM=n
CONFIG_WLAN_VENDOR_ATH=n
CONFIG_RTC_DRV_MACSMC=n
CONFIG_COMMON_CLK_RK808=n
CONFIG_ARM_GIC_V3=n
CONFIG_USB_XHCI_PLATFORM=n
CONFIG_SCHED_INFO=n
CONFIG_DMIID=n
CONFIG_SQUASHFS_DECOMP_SINGLE=n
CONFIG_GPIO_BD9571MWV=n
CONFIG_WLAN_VENDOR_MEDIATEK=n
CONFIG_DWMAC_IMX8=n
CONFIG_PREVENT_FIRMWARE_BUILD=n
CONFIG_BITREVERSE=n
CONFIG_CGROUPS=n
CONFIG_SCSI_UFS_VARIABLE_SG_ENTRY_SIZE=n
CONFIG_XEN_SCRUB_PAGES_DEFAULT=n
CONFIG_SHMEM=n
CONFIG_SENSORS_ISL29018=n
CONFIG_SYSC_R8A774E1=n
CONFIG_SCSI_SAS_LIBSAS=n
CONFIG_CPU_ISOLATION=n
CONFIG_XEN_SYS_HYPERVISOR=n
CONFIG_THUNDER_NIC_RGX=n
CONFIG_SND_SOC_WSA884X=n
CONFIG_AMPERE_ERRATUM_AC04_CPU_23=n
CONFIG_CAN_BCM=n
CONFIG_STACKPROTECTOR_PER_TASK=n
CONFIG_HAVE_KVM_MSI=n
CONFIG_SM_CAMCC_8750=n
CONFIG_EXYNOS_USI=n
CONFIG_VIDEO_SAMSUNG_EXYNOS_GSC=n
CONFIG_VIDEO_AMPHION_VPU=n
CONFIG_CPU_FREQ_GOV_POWERSAVE=n
CONFIG_SND_SOC_LPASS_APQ8016=n
CONFIG_USB_CHIPIDEA_UDC=n
CONFIG_REGULATOR_PFUZE100=n
CONFIG_SND_SOC_WCD_COMMON=n
CONFIG_ATH11K_AHB=n
CONFIG_SND_SOC_QDSP6_APM_LPASS_DAI=n
CONFIG_MACB=n
CONFIG_PHY_NS2_PCIE=n
CONFIG_ARM64_ERRATUM_4193714=n
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE=n
CONFIG_COMMON_CLK_PWM=n
CONFIG_MSM_GCC_8998=n
CONFIG_GPIO_ROCKCHIP=n
CONFIG_PINCTRL_MT6779=n
CONFIG_USB_ISP1760_DUAL_ROLE=n
CONFIG_NVMEM_QCOM_QFPROM=n
CONFIG_SM_GPUCC_8150=n
CONFIG_PAGE_MAPCOUNT=n
CONFIG_SCSI_UFS_TI_J721E=n
CONFIG_CRC_CCITT=n
CONFIG_SERIAL_MCTRL_GPIO=n
CONFIG_MFD_SEC_I2C=n
CONFIG_DRM_PANEL=n
CONFIG_ARCH_ARTPEC=n
CONFIG_CPUSETS=n
CONFIG_OWL_PM_DOMAINS_HELPER=n
CONFIG_SERIAL_8250_CONSOLE=n
CONFIG_USB_RENESAS_USBHS_HCD=n
CONFIG_IIO_ST_SENSORS_CORE=n
CONFIG_TI_K3_M4_REMOTEPROC=n
CONFIG_COMMON_CLK_MT8195_VDECSYS=n
CONFIG_NVMEM_SNVS_LPGPR=n
CONFIG_ARM64_ERRATUM_3117295=n
CONFIG_RESET_SIMPLE=n
CONFIG_LZO_COMPRESS=n
CONFIG_PINCTRL_MT6893=n
CONFIG_MLX5_EN_RXNFC=n
CONFIG_TMPFS_POSIX_ACL=n
CONFIG_HNS3_ENET=n
CONFIG_DRM_TIDSS=n
CONFIG_MRP=n
CONFIG_SND_HDA_CORE=n
CONFIG_CORESIGHT_SINK_ETBV10=n
CONFIG_CLK_VEXPRESS_OSC=n
CONFIG_SCSI_DMA=n
CONFIG_DEBUG_BUGVERBOSE=n
CONFIG_ARM_SCPI_POWER_DOMAIN=n
CONFIG_HW_RANDOM_CAVIUM=n
CONFIG_PCI=n
CONFIG_PINCTRL_STM32_HDP=n
CONFIG_QCOM_TZMEM=n
CONFIG_AHCI_DWC=n
CONFIG_CLK_BCM_NS2=n
CONFIG_HBMC_AM654=n
CONFIG_PCI_IOV=n
CONFIG_COMMON_CLK_MT8186_MDPSYS=n
CONFIG_PCI_HOST_THUNDER_PEM=n
CONFIG_CRYPTO_DEV_HISI_HPRE=n
CONFIG_PINCTRL_SM8450_LPASS_LPI=n
CONFIG_COMMON_CLK_ZYNQMP=n
CONFIG_ARCH_BCM=n
CONFIG_COMMON_CLK_HI6220=n
CONFIG_QCOM_NET_PHYLIB=n
CONFIG_SND_PCM_TIMER=n
CONFIG_PINCTRL_MSM8994=n
CONFIG_DRM_MEDIATEK_DP=n
CONFIG_PINCTRL_TEGRA234=n
CONFIG_PINCTRL_RP1=n
CONFIG_DEBUG_FS_ALLOW_ALL=n
CONFIG_FSL_DPAA=n
CONFIG_PHY_QCOM_PCIE2=n
CONFIG_LEDS_TRIGGER_CPU=n
CONFIG_PPS=n
CONFIG_PM_GENERIC_DOMAINS_OF=n
CONFIG_HAVE_KRETPROBES=n
CONFIG_CPU_MITIGATIONS=n
CONFIG_QCOM_SPMI_TEMP_ALARM=n
CONFIG_ARM_TEGRA20_CPUFREQ=n
CONFIG_AIROHA_CPU_PM_DOMAIN=n
