CONFIG_CRYPTO_HMAC=n
CONFIG_PPS=n
CONFIG_RWSEM_SPIN_ON_OWNER=n
CONFIG_NET_VENDOR_WANGXUN=n
CONFIG_X86_MCE_INTEL=n
CONFIG_FUTEX=n
CONFIG_POWER_SUPPLY=n
CONFIG_CONTEXT_SWITCH_TRACER=n
CONFIG_HID_NTRIG=n
CONFIG_IP_NF_IPTABLES=n
CONFIG_X86_IOPL_IOPERM=n
CONFIG_LOCKD=n
CONFIG_COMPAT_32BIT_TIME=n
CONFIG_X86_MCE_THRESHOLD=n
CONFIG_COMPAT_32=n
CONFIG_TRACING_SUPPORT=n
CONFIG_NF_DEFRAG_IPV6=n
CONFIG_ARCH_USE_CMPXCHG_LOCKREF=n
CONFIG_NET_VENDOR_ALIBABA=n
CONFIG_SECURITY_SELINUX=n
CONFIG_IOMMU_DMA=n
CONFIG_SERIAL_8250_SHARE_IRQ=n
CONFIG_SPARSEMEM_STATIC=n
CONFIG_KEYS=n
CONFIG_IO_URING_ZCRX=n
CONFIG_X86_EXTENDED_PLATFORM=n
CONFIG_BACKLIGHT_CLASS_DEVICE=n
CONFIG_ACPI_VIDEO=n
CONFIG_PREEMPT_BUILD=n
CONFIG_MSDOS_FS=n
CONFIG_PCI_GOANY=n
CONFIG_RFKILL_LEDS=n
CONFIG_EXT4_FS=n
CONFIG_DECOMPRESS_ZSTD=n
CONFIG_RTC_CLASS=n
CONFIG_ZONE_DMA=n
CONFIG_NETFILTER_NETLINK=n
CONFIG_ARCH_FLATMEM_ENABLE=n
CONFIG_SGL_ALLOC=n
CONFIG_WLAN=n
CONFIG_NETWORK_SECMARK=n
CONFIG_EDAC_ATOMIC_SCRUB=n
CONFIG_KPROBE_EVENTS=n
CONFIG_KEXEC=n
CONFIG_SYSCTL_EXCEPTION_TRACE=n
CONFIG_X86_DISABLED_FEATURE_LASS=n
CONFIG_GROUP_SCHED_WEIGHT=n
CONFIG_CRYPTO_CTR=n
CONFIG_STRICT_MODULE_RWX=n
CONFIG_EPOLL=n
CONFIG_MITIGATION_L1TF=n
CONFIG_SLAB_MERGE_DEFAULT=n
CONFIG_XZ_DEC_ARMTHUMB=n
CONFIG_CLONE_BACKWARDS=n
CONFIG_EXT4_USE_FOR_EXT2=n
CONFIG_NETDEVICES=n
CONFIG_MODULES_TREE_LOOKUP=n
CONFIG_AGP_AMD64=n
CONFIG_DM_ZERO=n
CONFIG_BINARY_PRINTF=n
CONFIG_NET_VENDOR_AMD=n
CONFIG_EFI_EARLYCON=n
CONFIG_AS_IS_GNU=n
CONFIG_DECOMPRESS_LZO=n
CONFIG_NET_VENDOR_GOOGLE=n
CONFIG_NET_FAILOVER=n
CONFIG_RD_LZMA=n
CONFIG_HAVE_PV_STEAL_CLOCK_GEN=n
CONFIG_IRQ_DOMAIN=n
CONFIG_HAVE_ARCH_THREAD_STRUCT_WHITELIST=n
CONFIG_HAVE_ACPI_APEI_NMI=n
CONFIG_DQL=n
CONFIG_VIDEO=n
CONFIG_CPU_SUP_ZHAOXIN=n
CONFIG_VMAP_PFN=n
CONFIG_MMU_GATHER_TABLE_FREE=n
CONFIG_MAC_EMUMOUSEBTN=n
CONFIG_8139TOO=n
CONFIG_ARCH_CORRECT_STACKTRACE_ON_KRETPROBE=n
CONFIG_JBD2=n
CONFIG_X86_BUS_LOCK_DETECT=n
CONFIG_X86=n
CONFIG_PCI_MSI=n
CONFIG_INTERVAL_TREE=n
CONFIG_HAVE_KCSAN_COMPILER=n
CONFIG_XFRM_AH=n
CONFIG_RUSTC_HAS_FILE_WITH_NUL=n
CONFIG_PCI=n
CONFIG_CRC32=n
CONFIG_PCMCIA=n
CONFIG_X86_REROUTE_FOR_BROKEN_BOOT_IRQS=n
CONFIG_SHMEM=n
CONFIG_USB_ARCH_HAS_HCD=n
CONFIG_CGROUP_NET_PRIO=n
CONFIG_FTRACE=n
CONFIG_CRC_OPTIMIZATIONS=n
CONFIG_FAT_FS=n
CONFIG_PCI_BIOS=n
CONFIG_EVENTFD=n
CONFIG_ACPI_DEBUG=n
CONFIG_SWAP=n
CONFIG_ARCH_USE_BUILTIN_BSWAP=n
CONFIG_INET=n
CONFIG_GENERIC_GETTIMEOFDAY=n
CONFIG_X86_VERBOSE_BOOTUP=n
CONFIG_NET_CLS_ACT=n
CONFIG_IOMMU_DEFAULT_DMA_LAZY=n
CONFIG_CPU_SUP_INTEL=n
CONFIG_EXECMEM=n
CONFIG_HAVE_RETHOOK=n
CONFIG_DUMMY_CONSOLE=n
CONFIG_AIO=n
CONFIG_HAVE_KERNEL_LZMA=n
CONFIG_XZ_DEC_ARM64=n
CONFIG_LEGACY_TIOCSTI=n
CONFIG_PERF_EVENTS_AMD_UNCORE=n
CONFIG_NET_VENDOR_NI=n
CONFIG_ARCH_SUPPORTS_RT=n
CONFIG_GENERIC_SYSCALL=n
CONFIG_CRC16=n
CONFIG_X86_REQUIRED_FEATURE_FPU=n
CONFIG_USB_UHCI_HCD=n
CONFIG_X86_PAT=n
CONFIG_HID_SAMSUNG=n
CONFIG_CPU_ISOLATION=n
CONFIG_MEMBARRIER=n
CONFIG_CPU_RMAP=n
CONFIG_NET_VENDOR_ROCKER=n
CONFIG_LZO_COMPRESS=n
CONFIG_SYSTEM_TRUSTED_KEYRING=n
CONFIG_HAVE_DEBUG_KMEMLEAK=n
CONFIG_DRM_I915_CAPTURE_ERROR=n
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE=n
CONFIG_INPUT_SPARSEKMAP=n
CONFIG_DEBUG_BUGVERBOSE=n
CONFIG_X86_DISABLED_FEATURE_PKU=n
CONFIG_HAVE_ARCH_KFENCE=n
CONFIG_TRACEFS_AUTOMOUNT_DEPRECATED=n
CONFIG_R8169=n
CONFIG_HAVE_PREEMPT_DYNAMIC_CALL=n
CONFIG_SECURITY=n
CONFIG_SCHEDSTATS=n
CONFIG_CRYPTO_SHA256=n
CONFIG_EFI_PARTITION=n
CONFIG_PID_NS=n
CONFIG_NETFILTER_XT_TARGET_NFLOG=n
CONFIG_CRYPTO_CCM=n
CONFIG_PCIE_PME=n
CONFIG_SCSI_MOD=n
CONFIG_CRYPTO_KRB5=n
CONFIG_GCC_PLUGINS=n
CONFIG_INPUT_JOYSTICK=n
CONFIG_CRYPTO_ECHAINIV=n
CONFIG_CFG80211_CRDA_SUPPORT=n
CONFIG_TRACE_CLOCK=n
CONFIG_SND_INTEL_SOUNDWIRE_ACPI=n
CONFIG_NO_HZ_COMMON=n
CONFIG_WMI_BMOF=n
CONFIG_ACPI_CPU_FREQ_PSS=n
CONFIG_SND_PCM_TIMER=n
CONFIG_NF_NAT_MASQUERADE=n
CONFIG_ARCH_SUPPORTS_HUGETLBFS=n
CONFIG_X86_DEBUG_FPU=n
CONFIG_CGROUP_NET_CLASSID=n
CONFIG_PNFS_FILE_LAYOUT=n
CONFIG_PNFS_FLEXFILE_LAYOUT=n
CONFIG_SYSTEM_DATA_VERIFICATION=n
CONFIG_THERMAL_DEFAULT_GOV_STEP_WISE=n
CONFIG_SERIAL_8250_MANY_PORTS=n
CONFIG_GENERIC_EARLY_IOREMAP=n
CONFIG_ATA_SFF=n
CONFIG_TCP_MD5SIG=n
CONFIG_CRYPTO_SHA512=n
CONFIG_PTP_1588_CLOCK_OPTIONAL=n
CONFIG_FUTEX_PRIVATE_HASH=n
CONFIG_INPUT_KEYBOARD=n
CONFIG_PRINTK=n
CONFIG_NETFILTER_EGRESS=n
CONFIG_ARCH_HAS_PARANOID_L1D_FLUSH=n
CONFIG_ARCH_HAVE_NMI_SAFE_CMPXCHG=n
CONFIG_SERIO_LIBPS2=n
CONFIG_NET_VENDOR_QLOGIC=n
CONFIG_CRYPTO_CAMELLIA=n
CONFIG_FLATMEM_MANUAL=n
CONFIG_HAVE_EISA=n
CONFIG_HAVE_FUNCTION_GRAPH_TRACER=n
CONFIG_NET_VENDOR_REALTEK=n
CONFIG_UNINLINE_SPIN_UNLOCK=n
CONFIG_DEFAULT_CUBIC=n
CONFIG_ARCH_HAS_CPU_FINALIZE_INIT=n
CONFIG_INTEGRITY=n
CONFIG_SSB_POSSIBLE=n
CONFIG_PNP_DEBUG_MESSAGES=n
CONFIG_HIGH_RES_TIMERS=n
CONFIG_ARCH_HAS_FORTIFY_SOURCE=n
CONFIG_X86_DISABLED_FEATURE_LAM=n
CONFIG_FSNOTIFY=n
CONFIG_VIRTIO_NET=n
CONFIG_FUTEX_ROBUST_UNLOCK=n
CONFIG_RFKILL_INPUT=n
CONFIG_AUDITSYSCALL=n
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_REGS=n
CONFIG_CACHESTAT_SYSCALL=n
CONFIG_MPILIB=n
CONFIG_DECOMPRESS_LZ4=n
CONFIG_HUGETLB_PAGE=n
CONFIG_NETFS_SUPPORT=n
CONFIG_SCHED_CLUSTER=n
CONFIG_SERIAL_8250_DWLIB=n
CONFIG_CROSS_MEMORY_ATTACH=n
CONFIG_NF_LOG_ARP=n
CONFIG_ARCH_SUPPORTS_ATOMIC_RMW=n
CONFIG_BLOCK_LEGACY_AUTOLOAD=n
CONFIG_CC_HAS_ASSUME=n
CONFIG_ARCH_HAS_STRICT_KERNEL_RWX=n
CONFIG_VIRTIO_BLK=n
CONFIG_X86_LOCAL_APIC=n
CONFIG_VIRTIO_PCI_LEGACY=n
CONFIG_INPUT=n
CONFIG_NET_VENDOR_SOLARFLARE=n
CONFIG_CGROUP_HUGETLB=n
CONFIG_EXT4_FS_SECURITY=n
CONFIG_HAVE_FUTEX_ROBUST_UNLOCK=n
CONFIG_RD_LZ4=n
CONFIG_NET_VENDOR_CHELSIO=n
CONFIG_NET_VENDOR_3COM=n
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO=n
CONFIG_INPUT_LEDS=n
CONFIG_USB_NET_DRIVERS=n
CONFIG_NET_VENDOR_MICROSEMI=n
CONFIG_ARCH_SUPPORTS_LTO_CLANG=n
CONFIG_SERIAL_8250_CONSOLE=n
CONFIG_NET_VENDOR_LITEX=n
CONFIG_PAGE_SIZE_LESS_THAN_256KB=n
CONFIG_CPU_FREQ_GOV_PERFORMANCE=n
CONFIG_NF_NAT=n
CONFIG_NET_VENDOR_MICREL=n
CONFIG_YENTA_O2=n
CONFIG_MODIFY_LDT_SYSCALL=n
CONFIG_INIT_STACK_ALL_ZERO=n
CONFIG_DMA_ACPI=n
CONFIG_SND_JACK_INPUT_DEV=n
CONFIG_X86_VMX_FEATURE_NAMES=n
CONFIG_WLAN_VENDOR_ZYDAS=n
CONFIG_GENERIC_IRQ_EFFECTIVE_AFF_MASK=n
CONFIG_MQ_IOSCHED_KYBER=n
CONFIG_HAVE_SOFTIRQ_ON_OWN_STACK=n
CONFIG_ROOT_NFS=n
CONFIG_USB_DEFAULT_PERSIST=n
CONFIG_CGROUP_MISC=n
CONFIG_USB_PCI_AMD=n
CONFIG_ACPI_I2C_OPREGION=n
CONFIG_XZ_DEC=n
CONFIG_ACPI_CONTAINER=n
CONFIG_ARCH_USE_QUEUED_SPINLOCKS=n
CONFIG_HAVE_ARCH_JUMP_LABEL_RELATIVE=n
CONFIG_ACPI_PROCESSOR_IDLE=n
CONFIG_HAVE_KERNEL_XZ=n
CONFIG_HAVE_ARCH_GET_SECUREBOOT=n
CONFIG_CPU_MITIGATIONS=n
CONFIG_PM=n
CONFIG_ARCH_HAS_CURRENT_STACK_POINTER=n
CONFIG_RD_GZIP=n
CONFIG_LOCK_SPIN_ON_OWNER=n
CONFIG_STACKTRACE_SUPPORT=n
CONFIG_XFRM_ESP=n
CONFIG_CRYPTO_LIB_UTILS=n
CONFIG_HIBERNATION_COMP_LZO=n
CONFIG_EFI_CUSTOM_SSDT_OVERLAYS=n
CONFIG_RTC_NVMEM=n
CONFIG_ISA_DMA_API=n
CONFIG_HAVE_OPTPROBES=n
CONFIG_ARCH_HAS_DEBUG_VM_PGTABLE=n
CONFIG_USB_SUPPORT=n
CONFIG_RTC_SYSTOHC=n
CONFIG_TMPFS_XATTR=n
CONFIG_DECOMPRESS_XZ=n
CONFIG_ACPI_LEGACY_TABLES_LOOKUP=n
CONFIG_HAVE_ARCH_WITHIN_STACK_FRAMES=n
CONFIG_NET_VENDOR_SMSC=n
CONFIG_DECOMPRESS_BZIP2=n
CONFIG_SERIAL_CORE=n
CONFIG_UPROBES=n
CONFIG_NETFILTER_XT_MATCH_CONNTRACK=n
CONFIG_SMP=n
CONFIG_TMPFS=n
CONFIG_USB_XHCI_HCD=n
CONFIG_NET_VENDOR_SILAN=n
CONFIG_MQ_IOSCHED_DEADLINE=n
CONFIG_CRYPTO_SIG2=n
CONFIG_GENERIC_IRQ_PROBE=n
CONFIG_LDISC_AUTOLOAD=n
CONFIG_OPENSSL_SUPPORTS_ML_DSA=n
CONFIG_ARCH_SUSPEND_POSSIBLE=n
CONFIG_PARAVIRT_CLOCK=n
CONFIG_EXT4_FS_POSIX_ACL=n
CONFIG_COMPACTION=n
CONFIG_MAC80211_LEDS=n
CONFIG_HAVE_FUNCTION_ARG_ACCESS_API=n
CONFIG_QFMT_V2=n
