CONFIG_PER_VMA_LOCK=n
CONFIG_EARLY_PRINTK=n
CONFIG_DECOMPRESS_BZIP2=n
CONFIG_NET_VENDOR_PENSANDO=n
CONFIG_SOFTIRQ_ON_OWN_STACK=n
CONFIG_NOINSTR_VALIDATION=n
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO_BARE=n
CONFIG_I8253_LOCK=n
CONFIG_SYSVIPC_SYSCTL=n
CONFIG_SECURITY_SELINUX_AVC_STATS=n
CONFIG_INPUT_FF_MEMLESS=n
CONFIG_X86_REQUIRED_FEATURE_SYSFAST32=n
CONFIG_NF_CT_NETLINK=n
CONFIG_MAGIC_SYSRQ=n
CONFIG_HAVE_ARCH_SECCOMP=n
CONFIG_SERIAL_8250_PCI=n
CONFIG_NET_DEVMEM=n
CONFIG_ACPI_MRRM=n
CONFIG_SCSI_CONSTANTS=n
CONFIG_DMA_OPS_HELPERS=n
CONFIG_CC_HAS_MIN_FUNCTION_ALIGNMENT=n
CONFIG_VIRTIO_BLK=n
CONFIG_LD_ORPHAN_WARN=n
CONFIG_PRINTK_TIME=n
CONFIG_ARCH_HAS_GENERIC_CRASHKERNEL_RESERVATION=n
CONFIG_MAC80211_RC_DEFAULT_MINSTREL=n
CONFIG_RTC_SYSTOHC=n
CONFIG_AUTOFS_FS=n
CONFIG_NO_HZ=n
CONFIG_NET_VENDOR_3COM=n
CONFIG_X86_X2APIC=n
CONFIG_HARDIRQS_SW_RESEND=n
CONFIG_IPV6_SIT=n
CONFIG_NLS_CODEPAGE_437=n
CONFIG_ARCH_WANT_DEFAULT_BPF_JIT=n
CONFIG_NET_VENDOR_SEEQ=n
CONFIG_YENTA=n
CONFIG_DECOMPRESS_LZMA=n
CONFIG_SPARSEMEM=n
CONFIG_NET_VENDOR_XILINX=n
CONFIG_SND_HDA_COMPONENT=n
CONFIG_E1000E=n
CONFIG_CRYPTO_CMAC=n
CONFIG_INPUT_VIVALDIFMAP=n
CONFIG_BLK_DEV_LOOP=n
CONFIG_X86_DISABLED_FEATURE_ENQCMD=n
CONFIG_NF_LOG_ARP=n
CONFIG_ARCH_HAS_COPY_MC=n
CONFIG_NET_VENDOR_ARC=n
CONFIG_CRYPTO_MANAGER2=n
CONFIG_MITIGATION_L1TF=n
CONFIG_HAVE_KLP_BUILD=n
CONFIG_CLKBLD_I8253=n
CONFIG_I2C_BOARDINFO=n
CONFIG_MITIGATION_RETBLEED=n
CONFIG_X86_PM_TIMER=n
CONFIG_CC_HAS_NAMED_AS_FIXED_SANITIZERS=n
CONFIG_COMPAT_BINFMT_ELF=n
CONFIG_X86_ACPI_CPUFREQ=n
CONFIG_MD_BITMAP_FILE=n
CONFIG_TIMERFD=n
CONFIG_NET_VENDOR_CAVIUM=n
CONFIG_ZSTD_COMMON=n
CONFIG_TASKS_RCU=n
CONFIG_DCACHE_WORD_ACCESS=n
CONFIG_LOCALVERSION_AUTO=n
CONFIG_CALL_THUNKS=n
CONFIG_NET_VENDOR_REALTEK=n
CONFIG_NF_DEFRAG_IPV4=n
CONFIG_X86_16BIT=n
CONFIG_VT=n
CONFIG_ARCH_HAS_MEMBARRIER_SYNC_CORE=n
CONFIG_HAVE_ACPI_APEI_NMI=n
CONFIG_NETFILTER_XTABLES=n
CONFIG_CRYPTO_CTS=n
CONFIG_XXHASH=n
CONFIG_NLS_ASCII=n
CONFIG_FIX_EARLYCON_MEM=n
CONFIG_ACPI_EC=n
CONFIG_X86_MCE_AMD=n
CONFIG_ARCH_HAS_FAST_MULTIPLIER=n
CONFIG_SPARSEMEM_VMEMMAP_ENABLE=n
CONFIG_CRYPTO_LZO=n
CONFIG_FILE_LOCKING=n
CONFIG_FUTEX_MPOL=n
CONFIG_MUTEX_SPIN_ON_OWNER=n
CONFIG_IP_PIMSM_V2=n
CONFIG_CRYPTO_AUTHENC=n
CONFIG_CRYPTO=n
CONFIG_TASK_XACCT=n
CONFIG_STANDALONE=n
CONFIG_CRYPTO_LIB_ARC4=n
CONFIG_PHY_PACKAGE=n
CONFIG_SND_SEQ_HRTIMER_DEFAULT=n
CONFIG_NET_NS=n
CONFIG_ARCH_HAS_PREEMPT_LAZY=n
CONFIG_SCREEN_INFO=n
CONFIG_SECURITY_SELINUX_BOOTPARAM=n
CONFIG_IOMMU_IOVA=n
CONFIG_IRQ_DOMAIN_HIERARCHY=n
CONFIG_MMU_GATHER_TABLE_FREE=n
CONFIG_SUSPEND=n
CONFIG_YENTA_TI=n
CONFIG_IP_MROUTE=n
CONFIG_CRYPTO_ALGAPI=n
CONFIG_LZ4_COMPRESS=n
CONFIG_WLAN_VENDOR_SILABS=n
CONFIG_CC_HAS_ASSUME=n
CONFIG_PCI_ATS=n
CONFIG_HIDRAW=n
CONFIG_FIB_RULES=n
CONFIG_ACPI_SPCR_TABLE=n
CONFIG_ARCH_SUPPORTS_LTO_CLANG_THIN=n
CONFIG_BPF=n
CONFIG_TOOLS_SUPPORT_RELR=n
CONFIG_X86_TSC=n
CONFIG_UNIX=n
CONFIG_AGP=n
CONFIG_MOUSE_PS2=n
CONFIG_NET_VENDOR_ADAPTEC=n
CONFIG_IP_ROUTE_VERBOSE=n
CONFIG_MITIGATION_TSA=n
CONFIG_IRQ_FORCED_THREADING=n
CONFIG_HIBERNATE_CALLBACKS=n
CONFIG_INET_TUNNEL=n
CONFIG_ARCH_USE_QUEUED_RWLOCKS=n
CONFIG_TRACEPOINTS=n
CONFIG_ARCH_HAS_GIGANTIC_PAGE=n
CONFIG_BLK_DEV_DM_BUILTIN=n
CONFIG_SYSVIPC=n
CONFIG_QUOTACTL=n
CONFIG_KALLSYMS_ALL=n
CONFIG_ARCH_WANT_HUGE_PMD_SHARE=n
CONFIG_LOCKDEP_SUPPORT=n
CONFIG_NET_VENDOR_MICROCHIP=n
CONFIG_INTEL_TCC=n
CONFIG_IRQ_DOMAIN=n
CONFIG_NET_VENDOR_META=n
CONFIG_BLK_DEV_DM=n
CONFIG_PROC_PID_ARCH_STATUS=n
CONFIG_NET_VENDOR_SOCIONEXT=n
CONFIG_AIO=n
CONFIG_UNWINDER_ORC=n
CONFIG_MOUSE_PS2_ALPS=n
CONFIG_SPLIT_PTE_PTLOCKS=n
CONFIG_CRC32_ARCH=n
CONFIG_DRM_I915_COMPRESS_ERROR=n
CONFIG_NETFILTER_XT_TARGET_CONNSECMARK=n
CONFIG_PERF_EVENTS_INTEL_CSTATE=n
CONFIG_HAVE_PAGE_SIZE_4KB=n
CONFIG_ELFCORE=n
CONFIG_ARCH_SUPPORTS_KMAP_LOCAL_FORCE_MAP=n
CONFIG_SCSI_DMA=n
CONFIG_POSIX_MQUEUE_SYSCTL=n
CONFIG_CGROUP_CPUACCT=n
CONFIG_NET_VENDOR_SUN=n
CONFIG_HAVE_MMIOTRACE_SUPPORT=n
CONFIG_CRYPTO_LIB_BLAKE2S_ARCH=n
CONFIG_RANDOMIZE_MEMORY=n
CONFIG_MSDOS_PARTITION=n
CONFIG_CC_HAS_KASAN_GENERIC=n
CONFIG_GENERIC_ALLOCATOR=n
CONFIG_INTEL_IOMMU_PERF_EVENTS=n
CONFIG_8139TOO=n
CONFIG_ACPI_SYSTEM_POWER_STATES_SUPPORT=n
CONFIG_MODULE_UNLOAD=n
CONFIG_STACKTRACE=n
CONFIG_IOMMU_PT_VTDSS=n
CONFIG_BINFMT_MISC=n
CONFIG_ACPI_LPIT=n
CONFIG_MAILBOX=n
CONFIG_SERIAL_CORE_CONSOLE=n
CONFIG_GENERIC_CPU_DEVICES=n
CONFIG_CPU_SUP_ZHAOXIN=n
CONFIG_BLOCK_LEGACY_AUTOLOAD=n
CONFIG_USE_PERCPU_NUMA_NODE_ID=n
CONFIG_CPU_FREQ_GOV_ATTR_SET=n
CONFIG_SUNRPC=n
CONFIG_RWSEM_SPIN_ON_OWNER=n
CONFIG_CPU_SUP_INTEL=n
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO=n
CONFIG_PNP_DEBUG_MESSAGES=n
CONFIG_ARCH_HAS_CURRENT_STACK_POINTER=n
CONFIG_FONT_SUPPORT=n
CONFIG_ACPI_PROCESSOR=n
CONFIG_SWAP=n
CONFIG_RATIONAL=n
CONFIG_PNFS_BLOCK=n
CONFIG_GENERIC_CLOCKEVENTS_COUPLED_INLINE=n
CONFIG_HAVE_ASM_MODVERSIONS=n
CONFIG_BUILDTIME_TABLE_SORT=n
CONFIG_GENERIC_GETTIMEOFDAY=n
CONFIG_CRYPTO_MANAGER=n
CONFIG_NETDEVICES=n
CONFIG_CFG80211=n
CONFIG_IO_URING_ZCRX=n
CONFIG_X86_64=n
CONFIG_X86=n
CONFIG_SCHEDSTATS=n
CONFIG_HAS_DMA=n
CONFIG_HW_RANDOM_VIA=n
CONFIG_NLS=n
CONFIG_X86_DEBUG_FPU=n
CONFIG_NET_CLS_ACT=n
CONFIG_HOTPLUG_CORE_SYNC_DEAD=n
CONFIG_CC_CAN_LINK=n
CONFIG_INPUT_MOUSE=n
CONFIG_ATA_PIIX=n
CONFIG_SND_HDA=n
CONFIG_IP6_NF_IPTABLES=n
CONFIG_GENERIC_PENDING_IRQ=n
CONFIG_CRYPTO_LIB_SHA512=n
CONFIG_VMAP_PFN=n
CONFIG_THERMAL_DEFAULT_GOV_STEP_WISE=n
CONFIG_USB_EHCI_PCI=n
CONFIG_X86_IOPL_IOPERM=n
CONFIG_EXT4_USE_FOR_EXT2=n
CONFIG_DEBUG_KERNEL=n
CONFIG_TIME_NS_VDSO=n
CONFIG_HAVE_ARCH_KCSAN=n
CONFIG_BLK_CGROUP_IOCOST=n
CONFIG_HAVE_CMPXCHG_DOUBLE=n
CONFIG_SND_VMASTER=n
CONFIG_HOTPLUG_PARALLEL=n
CONFIG_MMCONF_FAM10H=n
CONFIG_ARCH_CORRECT_STACKTRACE_ON_KRETPROBE=n
CONFIG_BLK_DEV_SD=n
CONFIG_X86_AMD_PSTATE=n
CONFIG_DECOMPRESS_LZO=n
CONFIG_CRYPTO_AEAD2=n
CONFIG_SERIO_SERPORT=n
CONFIG_HUGETLB_PAGE_OPTIMIZE_VMEMMAP=n
CONFIG_SND_PROC_FS=n
CONFIG_X86_ACPI_CPUFREQ_CPB=n
CONFIG_MITIGATION_SSB=n
CONFIG_R8169=n
CONFIG_BLK_DEV_MD=n
CONFIG_PCC=n
CONFIG_CGROUP_HUGETLB=n
CONFIG_PROC_MEM_FORCE_PTRACE=n
CONFIG_HAS_IOPORT=n
CONFIG_RFKILL=n
CONFIG_PARAVIRT=n
CONFIG_GENERIC_IRQ_ENTRY=n
CONFIG_SUSPEND_FREEZER=n
CONFIG_PHYS_ADDR_T_64BIT=n
CONFIG_HAVE_KERNEL_BZIP2=n
CONFIG_SND_DMA_SGBUF=n
CONFIG_REALTEK_PHY=n
CONFIG_PM_SLEEP=n
CONFIG_CRYPTO_LIB_AES_ARCH=n
CONFIG_X86_HAVE_PAE=n
CONFIG_BINFMT_ELF=n
CONFIG_GENERIC_IRQ_RESERVATION_MODE=n
CONFIG_ARCH_VMLINUX_NEEDS_RELOCS=n
CONFIG_KALLSYMS=n
CONFIG_LOCK_MM_AND_FIND_VMA=n
CONFIG_CPU_FREQ_GOV_ONDEMAND=n
CONFIG_X86_REQUIRED_FEATURE_FPU=n
CONFIG_GENERIC_EARLY_IOREMAP=n
CONFIG_IP_ADVANCED_ROUTER=n
CONFIG_TASK_IO_ACCOUNTING=n
CONFIG_CRYPTO_SKCIPHER=n
CONFIG_DST_CACHE=n
CONFIG_PADATA=n
CONFIG_X86_NEED_RELOCS=n
CONFIG_CORE_DUMP_DEFAULT_ELF_HEADERS=n
CONFIG_PCIE_PME=n
CONFIG_NUMA_MIGRATION=n
CONFIG_IP_PNP_RARP=n
CONFIG_QFMT_V2=n
CONFIG_PERF_EVENTS_INTEL_RAPL=n
CONFIG_X86_MCE_THRESHOLD=n
CONFIG_HDMI=n
CONFIG_ARCH_MHP_MEMMAP_ON_MEMORY_ENABLE=n
CONFIG_KCMP=n
CONFIG_HOTPLUG_SPLIT_STARTUP=n
CONFIG_RD_XZ=n
CONFIG_ARCH_HAS_FORTIFY_SOURCE=n
CONFIG_NF_NAT_FTP=n
CONFIG_X86_EXTENDED_PLATFORM=n
CONFIG_HAVE_ARCH_RANDOMIZE_KSTACK_OFFSET=n
CONFIG_LEGACY_DIRECT_IO=n
CONFIG_ARCH_SUPPORTS_RT=n
CONFIG_ARCH_WANT_OPTIMIZE_HUGETLB_VMEMMAP=n
CONFIG_NET_VENDOR_INTEL=n
CONFIG_TMPFS=n
CONFIG_HAVE_FUTEX_ROBUST_UNLOCK=n
CONFIG_MITIGATION_SPECTRE_V1=n
CONFIG_INTEL_MEI_ME=n
CONFIG_XZ_DEC_ARM64=n
CONFIG_ARCH_HAS_GCOV_PROFILE_ALL=n
CONFIG_HAVE_KRETPROBES=n
CONFIG_IOMMU_API=n
CONFIG_WLAN_VENDOR_MEDIATEK=n
CONFIG_NETFILTER_XT_MATCH_POLICY=n
CONFIG_HAVE_ARCH_JUMP_LABEL_RELATIVE=n
CONFIG_NETFILTER_XT_MATCH_STATE=n
CONFIG_RD_ZSTD=n
CONFIG_ARCH_CLOCKSOURCE_INIT=n
