CONFIG_INTERCONNECT_QCOM_RPMH_POSSIBLE=n
CONFIG_SERIAL_FSL_LPUART=n
CONFIG_MFD_RK8XX_SPI=n
CONFIG_SND_SOC_HDMI_CODEC=n
CONFIG_BT_HCIBTUSB_RTL=n
CONFIG_MEDIATEK_WATCHDOG=n
CONFIG_NET_VENDOR_RENESAS=n
CONFIG_SND_COMPRESS_OFFLOAD=n
CONFIG_SND_SOC_DMIC=n
CONFIG_RTC_DRV_RV3028=n
CONFIG_ASN1=n
CONFIG_NVMEM_SNVS_LPGPR=n
CONFIG_MTK_SVS=n
CONFIG_INPUT_TOUCHSCREEN=n
CONFIG_ACPI_HOTPLUG_CPU=n
CONFIG_DEV_COREDUMP=n
CONFIG_SYSC_R8A77960=n
CONFIG_RENESAS_RZV2HWDT=n
CONFIG_CLK_R9A07G054=n
CONFIG_SND_SOC_QDSP6_CORE=n
CONFIG_KVM_GUEST_MEMFD=n
CONFIG_ARM_SCMI_POWER_DOMAIN=n
CONFIG_FSL_ENETC_CORE=n
CONFIG_DRM_MXSFB=n
CONFIG_RPMSG_QCOM_GLINK_RPM=n
CONFIG_PINCTRL_SM6125=n
CONFIG_AUXILIARY_BUS=n
CONFIG_TI_SYSC=n
CONFIG_PREEMPTION=n
CONFIG_SND_SOC_SOF_IPC3=n
CONFIG_NPCM7XX_WATCHDOG=n
CONFIG_HAVE_ACPI_APEI=n
CONFIG_ARCH_QCOM=n
CONFIG_PINCTRL_MT8188=n
CONFIG_RANDOMIZE_KSTACK_OFFSET=n
CONFIG_CC_HAS_ASM_GOTO_TIED_OUTPUT=n
CONFIG_FSL_DPAA_ETH=n
CONFIG_DRM_CDNS_DSI_J721E=n
CONFIG_COMMON_CLK_RP1=n
CONFIG_INTERCONNECT_QCOM_QCS615=n
CONFIG_PID_NS=n
CONFIG_MEMFD_CREATE=n
CONFIG_PCI_PASID=n
CONFIG_SPI_RZV2H_RSPI=n
CONFIG_ARM_CCI400_PMU=n
CONFIG_SND_SOC_WCD_CLASSH=n
CONFIG_SERIO_LIBPS2=n
CONFIG_CRYPTO_DEV_TEGRA=n
CONFIG_CRYPTO_HASH2=n
CONFIG_MTK_SCPSYS_PM_DOMAINS=n
CONFIG_PCI=n
CONFIG_CROS_EC=n
CONFIG_DEVTMPFS=n
CONFIG_DRM_IMX8MP_HDMI_PVI=n
CONFIG_CGROUP_CPUACCT=n
CONFIG_PINCTRL_PFC_R8A779G0=n
CONFIG_DRM_PANEL_HIMAX_HX83112B=n
CONFIG_SM_GCC_8650=n
CONFIG_V4L2_ASYNC=n
CONFIG_DRM_SUN8I_MIXER=n
CONFIG_UCS2_STRING=n
CONFIG_FPGA_BRIDGE=n
CONFIG_USB_DWC3_RTK=n
CONFIG_SYSC_R8A774B1=n
CONFIG_CRYPTO_CMAC=n
CONFIG_SND_SOC_SOF_XTENSA=n
CONFIG_ARCH_R8A77965=n
CONFIG_MSM_GCC_8998=n
CONFIG_ALLOW_DEV_COREDUMP=n
CONFIG_HAVE_ARCH_KSTACK_ERASE=n
CONFIG_USB_CHIPIDEA_TEGRA=n
CONFIG_USB_ACM=n
CONFIG_REGMAP_SOUNDWIRE=n
CONFIG_CRYPTO_HASH_INFO=n
CONFIG_LEDS_TRIGGER_CPU=n
CONFIG_SND_SOC_TOPOLOGY=n
CONFIG_HAVE_RSEQ=n
CONFIG_PHY_MTK_TPHY=n
CONFIG_FPGA_MGR_ZYNQMP_FPGA=n
CONFIG_CHROMEOS_OF_HW_PROBER=n
CONFIG_ARM_SMMU_DISABLE_BYPASS_BY_DEFAULT=n
CONFIG_IMX_GPCV2=n
CONFIG_IMX_INTMUX=n
CONFIG_MTD_PHYSMAP=n
CONFIG_CORESIGHT_SINK_ETBV10=n
CONFIG_COMMON_CLK_MT8173_MMSYS=n
CONFIG_HW_RANDOM_OMAP=n
CONFIG_CRYPTO_XTS=n
CONFIG_USB_ARCH_HAS_HCD=n
CONFIG_DRM_RCAR_VSP=n
CONFIG_PINCTRL_PFC_R8A77951=n
CONFIG_USB_F_NCM=n
CONFIG_COMMON_CLK_MT8188_MFGCFG=n
CONFIG_SPRD_UMS512_CLK=n
CONFIG_HAVE_ARCH_BITREVERSE=n
CONFIG_RTC_DRV_DS1307=n
CONFIG_RTC_DRV_MESON_VRTC=n
CONFIG_PINCTRL_RTD1625=n
CONFIG_STAGING=n
CONFIG_ARM64_GCS=n
CONFIG_SL28CPLD_INTC=n
CONFIG_COMMON_CLK_MT8188_ADSP_AUDIO26M=n
CONFIG_COMMON_CLK_APPLE_NCO=n
CONFIG_ROOT_NFS=n
CONFIG_B53=n
CONFIG_HAVE_DEBUG_KMEMLEAK=n
CONFIG_BCM_NET_PHYLIB=n
CONFIG_CLK_R9A07G044=n
CONFIG_PINCTRL_SUN50I_A100_R=n
CONFIG_SND_SOC_SGTL5000=n
CONFIG_MDIO_BUS_MUX_MMIOREG=n
CONFIG_PINCTRL_UNIPHIER=n
CONFIG_MITIGATE_SPECTRE_BRANCH_HISTORY=n
CONFIG_CROS_EC_RPMSG=n
CONFIG_POWER_RESET_MSM=n
CONFIG_RASPBERRYPI_FIRMWARE=n
CONFIG_SENSORS_PWM_FAN=n
CONFIG_MVMDIO=n
CONFIG_EC_LENOVO_THINKPAD_T14S=n
CONFIG_DRM_MEDIATEK_DP=n
CONFIG_HOTPLUG_CORE_SYNC=n
CONFIG_SND_SOC_TI_UDMA_PCM=n
CONFIG_DRM_PANEL_MANTIX_MLAF057WE51=n
CONFIG_TI_EQEP=n
CONFIG_MFD_TPS65219=n
CONFIG_XEN_SCRUB_PAGES_DEFAULT=n
CONFIG_QRTR=n
CONFIG_HW_RANDOM_OPTEE=n
CONFIG_ARM_ALLWINNER_SUN50I_CPUFREQ_NVMEM=n
CONFIG_PWM_TEGRA=n
CONFIG_PCI_XGENE_MSI=n
CONFIG_GENERIC_STRNLEN_USER=n
CONFIG_BCM_VIDEOCORE=n
CONFIG_BLK_DEV_BSGLIB=n
CONFIG_CRYPTO_LIB_CHACHA=n
CONFIG_PHY_TEGRA_XUSB=n
CONFIG_CRYPTO_AKCIPHER=n
CONFIG_PINCTRL_QCS404=n
CONFIG_REGMAP_SLIMBUS=n
CONFIG_RESET_NPCM=n
CONFIG_HAVE_POSIX_CPU_TIMERS_TASK_WORK=n
CONFIG_SOUNDWIRE=n
CONFIG_STAGING_MEDIA=n
CONFIG_QCOMTEE=n
CONFIG_CLK_MA35D1=n
CONFIG_SCHED_HW_PRESSURE=n
CONFIG_CC_IS_GCC=n
CONFIG_DRM_TI_TFP410=n
CONFIG_RTC_DRV_TEGRA=n
CONFIG_OF_FLATTREE=n
CONFIG_IMX_SCMI_CPU_DRV=n
CONFIG_DEBUG_MEMORY_INIT=n
CONFIG_NET_SCH_INGRESS=n
CONFIG_CAN_CALC_BITTIMING=n
CONFIG_SECTION_MISMATCH_WARN_ONLY=n
CONFIG_NET_ACT_GATE=n
CONFIG_COMMON_CLK_MESON_CLKC_UTILS=n
CONFIG_I2C_MV64XXX=n
CONFIG_ARCH_HAS_STRICT_KERNEL_RWX=n
CONFIG_IPQ_NSSCC_5424=n
CONFIG_MSM_MMCC_8998=n
CONFIG_PINCTRL_SOPHGO_SG2000=n
CONFIG_NET_SCH_TAPRIO=n
CONFIG_SOC_TI=n
CONFIG_STRICT_KERNEL_RWX=n
CONFIG_PHY_MTK_PCIE=n
CONFIG_ARCH_HAS_NMI_SAFE_THIS_CPU_OPS=n
CONFIG_TRANSPARENT_HUGEPAGE_ALWAYS=n
CONFIG_CRYPTO_AEAD=n
CONFIG_PINCTRL_RTD1619B=n
CONFIG_DRM_PANEL_BOE_TV101WUM_NL6=n
CONFIG_PCIE_TEGRA194_EP=n
CONFIG_EFI_PARAMS_FROM_FDT=n
CONFIG_SND_SOC_SDCA_OPTIONAL=n
CONFIG_CAN_M_CAN=n
CONFIG_LEDS_CLASS_MULTICOLOR=n
CONFIG_CRYPTO_DEV_FSL_CAAM_JR=n
CONFIG_PINCTRL_EXYNOS=n
CONFIG_PCIE_RCAR_GEN4_HOST=n
CONFIG_ARCH_WANT_HUGE_PMD_SHARE=n
CONFIG_SND_SOC_USB=n
CONFIG_PHY_MVEBU_CP110_COMPHY=n
CONFIG_BPF_SYSCALL=n
CONFIG_ARM64_LPA2=n
CONFIG_RTL_CARDS=n
CONFIG_CRYPTO_LIB_SHA512_ARCH=n
CONFIG_PINCTRL_IPQ9574=n
CONFIG_CRYPTO_DEV_QCE=n
CONFIG_QCOM_SMEM_STATE=n
CONFIG_SM_CAMCC_MILOS=n
CONFIG_COMMON_CLK_MT8183=n
CONFIG_KHADAS_MCU_FAN_THERMAL=n
CONFIG_COMMON_CLK_MESON_PHASE=n
CONFIG_ARCH_R9A08G046=n
CONFIG_DRM_SAMSUNG_DSIM=n
CONFIG_COMMON_CLK_MESON_AO_CLKC=n
CONFIG_SND_SOC_TLV320AIC32X4_I2C=n
CONFIG_INTERCONNECT_QCOM_ELIZA=n
CONFIG_CRYPTO_DEV_FSL_CAAM=n
CONFIG_COMMON_CLK_GXBB=n
CONFIG_CAVIUM_TX2_ERRATUM_219=n
CONFIG_SYSC_R8A779G0=n
CONFIG_SPI_DW_MMIO=n
CONFIG_ACPI_HED=n
CONFIG_EXT4_FS_POSIX_ACL=n
CONFIG_QCOM_IPCC=n
CONFIG_PINCTRL_IPQ9650=n
CONFIG_PINCTRL_MT6795=n
CONFIG_FUTEX=n
CONFIG_VIRT_XFER_TO_GUEST_WORK=n
CONFIG_ARM_PMU=n
CONFIG_FW_LOADER_PAGED_BUF=n
CONFIG_POWER_RESET_MACSMC=n
CONFIG_STANDALONE=n
CONFIG_USB_ULPI_BUS=n
CONFIG_DRM_DISPLAY_HDMI_HELPER=n
CONFIG_COMMON_CLK_MT8173_VENCSYS=n
CONFIG_RZG2L_ADC=n
CONFIG_XEN_BALLOON=n
CONFIG_ACPI_CCA_REQUIRED=n
CONFIG_NET_DSA_TAG_BRCM_PREPEND=n
CONFIG_VIDEO_CAMERA_SENSOR=n
CONFIG_RESET_RASPBERRYPI=n
CONFIG_IMX9_BLK_CTRL=n
CONFIG_CLK_R8A779H0=n
CONFIG_BATTERY_SBS=n
CONFIG_TIMER_PROBE=n
CONFIG_STM32MP_EXTI=n
CONFIG_CLK_RK3576=n
CONFIG_CLK_KAANAPALI_VIDEOCC=n
CONFIG_SND_SOC_TI_SDMA_PCM=n
CONFIG_CORESIGHT_CTI=n
CONFIG_RD_LZMA=n
CONFIG_INTERCONNECT_IMX8MN=n
CONFIG_SPARSEMEM_VMEMMAP_ENABLE=n
CONFIG_ARM64_ERRATUM_4193714=n
CONFIG_SM_GPUCC_6350=n
CONFIG_FS_POSIX_ACL=n
CONFIG_ARCH_BINFMT_ELF_STATE=n
CONFIG_ARCH_HAS_CURRENT_STACK_POINTER=n
CONFIG_HAVE_ARCH_PREL32_RELOCATIONS=n
CONFIG_UBIFS_FS=n
CONFIG_IMX_MBOX=n
CONFIG_PINCTRL_QDU1000=n
CONFIG_AIROHA_CPU_PM_DOMAIN=n
CONFIG_ARCH_WANT_LD_ORPHAN_WARN=n
CONFIG_IPMI_HANDLER=n
CONFIG_MICREL_PHY=n
CONFIG_DMA_BCM2835=n
CONFIG_RSI_COEX=n
CONFIG_REGULATOR_MAX77620=n
CONFIG_XZ_DEC_ARMTHUMB=n
CONFIG_SND_SOC_RT1015=n
CONFIG_LD_CAN_USE_KEEP_IN_OVERLAY=n
CONFIG_USB_EHCI_HCD_ORION=n
CONFIG_NET_SCH_FIFO=n
CONFIG_SND_SOC_NAU8822=n
CONFIG_FW_UPLOAD=n
CONFIG_DRM_CDNS_MHDP8546=n
CONFIG_PINCTRL_TEGRA264=n
CONFIG_MTK_CMDQ_MBOX=n
CONFIG_SIGNALFD=n
CONFIG_INTERCONNECT_QCOM_SC7280=n
CONFIG_INTERCONNECT_QCOM_SC8280XP=n
CONFIG_FW_LOADER_SYSFS=n
CONFIG_RC_CORE=n
CONFIG_CRYPTO_SHA512=n
CONFIG_TEGRA186_GPC_DMA=n
CONFIG_LS_SCFG_MSI=n
CONFIG_SM_GCC_8250=n
CONFIG_MFD_SEC_ACPM=n
CONFIG_HWSPINLOCK_QCOM=n
CONFIG_PHY_QCOM_QMP_USB=n
CONFIG_NET_VENDOR_I825XX=n
CONFIG_SC_GCC_7180=n
CONFIG_SCSI=n
CONFIG_SND_SOC_TAS571X=n
CONFIG_SND_SOC_SOF_MT8186=n
CONFIG_CAN_BCM=n
CONFIG_RTC_DRV_MAX77686=n
CONFIG_MLX5_BRIDGE=n
CONFIG_PHY_NXP_PTN3222=n
CONFIG_VIDEO_IMX219=n
CONFIG_HAVE_HARDLOCKUP_DETECTOR_BUDDY=n
CONFIG_PINCTRL_MSM8994=n
CONFIG_AUDITSYSCALL=n
CONFIG_TYPEC_MUX_PTN36502=n
CONFIG_COMMON_CLK_MT7981_ETHSYS=n
CONFIG_REGULATOR_AXP20X=n
CONFIG_PHY_XILINX_ZYNQMP=n
CONFIG_RESET_SIMPLE=n
CONFIG_USB_MTU3_DUAL_ROLE=n
CONFIG_DRM_DISPLAY_HDCP_HELPER=n
CONFIG_PINCTRL_MILOS_LPASS_LPI=n
CONFIG_XILINX_AMS=n
CONFIG_RPMSG_CTRL=n
CONFIG_NET_SWITCHDEV=n
CONFIG_SND_SOC_MAX98390=n
CONFIG_SND_SOC_QCOM_SDW=n
CONFIG_GENERIC_CLOCKEVENTS=n
