CONFIG_SOC_BUS=y
CONFIG_NAU7802=y
CONFIG_SENSORS_SHT21=y
CONFIG_ARCH_USE_SYM_ANNOTATIONS=y
CONFIG_TRANSPARENT_HUGEPAGE=y
CONFIG_GENERIC_TRACER=y
CONFIG_PERF_EVENTS=y
CONFIG_CRYPTO_STREEBOG=y
CONFIG_I2C=y
CONFIG_MFD_RN5T618=y
CONFIG_KEYBOARD_MATRIX=y
CONFIG_LEDS_LGM=y
CONFIG_HID_WALTOP=y
CONFIG_PERF_EVENTS_INTEL_CSTATE=y
CONFIG_SERIO_GPIO_PS2=y
CONFIG_I2C_EG20T=y
CONFIG_KEYBOARD_PINEPHONE=y
CONFIG_RETHOOK=y
CONFIG_MFD_ROHM_BD957XMUF=y
CONFIG_AD3552R_HS=y
CONFIG_ARCH_SUPPORTS_KEXEC_SIG_FORCE=y
CONFIG_BACKLIGHT_ADP8870=y
CONFIG_IIO_ADIS_LIB=y
CONFIG_HAVE_MOD_ARCH_SPECIFIC=y
CONFIG_SPI_ALTERA=y
CONFIG_OLD_SIGSUSPEND3=y
CONFIG_TYPEC_MUX_GPIO_SBU=y
CONFIG_MUX_ADGS1408=y
CONFIG_FB_TRIDENT=y
CONFIG_BATTERY_MAX17040=y
CONFIG_REGULATOR_RT5739=y
CONFIG_SENSORS_MAX197=y
CONFIG_GNSS_USB=y
CONFIG_AD5360=y
CONFIG_HARDIRQS_SW_RESEND=y
CONFIG_HAVE_ARCH_KSTACK_ERASE=y
CONFIG_AD7380=y
CONFIG_FPGA_MGR_XILINX_CORE=y
CONFIG_NLS_CODEPAGE_1251=y
CONFIG_IIO_BUFFER_DMA=y
CONFIG_FXLS8962AF_SPI=y
CONFIG_REGULATOR_LP872X=y
CONFIG_CHARGER_SMB347=y
CONFIG_OPTEE_STATIC_PROTMEM_POOL=y
CONFIG_MFD_MT6370=y
CONFIG_GPIO_RDC321X=y
CONFIG_FB_PM2=y
CONFIG_CC_HAS_RETURN_THUNK=y
CONFIG_MFD_WM8400=y
CONFIG_HIST_TRIGGERS=y
CONFIG_MWINCHIP3D=y
CONFIG_CRYPTO_KRB5ENC=y
CONFIG_SENSORS_ADC128D818=y
CONFIG_ROHM_BM1390=y
CONFIG_BINARY_PRINTF=y
CONFIG_GP_PCI1XXXX=y
CONFIG_GENERIC_SYSCALL=y
CONFIG_WM8350_WATCHDOG=y
CONFIG_REGULATOR_SKY81452=y
CONFIG_IBM_ASM=y
CONFIG_HID_HUAWEI=y
CONFIG_LEDS_DA9052=y
CONFIG_LRU_GEN_WALKS_MMU=y
CONFIG_AD7091R5=y
CONFIG_LEDS_MAX77650=y
CONFIG_CRYPTO_LIB_AES_ARCH=y
CONFIG_FB_SYS_COPYAREA=y
CONFIG_TI_DAC5571=y
CONFIG_USB_OHCI_HCD_PLATFORM=y
CONFIG_QCOM_PMIC_PDCHARGER_ULOG=y
CONFIG_NO_HZ_IDLE=y
CONFIG_W1_SLAVE_SMEM=y
CONFIG_HAVE_ARCH_SECCOMP=y
CONFIG_SUSPEND=y
CONFIG_HARDLOCKUP_DETECTOR=y
CONFIG_FW_CACHE=y
CONFIG_EDAC_I3200=y
CONFIG_HID_ROCCAT=y
CONFIG_TMPFS_POSIX_ACL=y
CONFIG_MFD_RK8XX_I2C=y
CONFIG_JOYSTICK_JOYDUMP=y
CONFIG_SPI_MICROCHIP_CORE_SPI=y
CONFIG_BOOT_VESA_SUPPORT=y
CONFIG_LEDS_TRIGGER_TIMER=y
CONFIG_VFIO_PCI_INTX=y
CONFIG_PT_RECLAIM=y
CONFIG_SENSORS_TC654=y
CONFIG_HAVE_SOFTIRQ_ON_OWN_STACK=y
CONFIG_TRUSTED_KEYS=y
CONFIG_SMI240=y
CONFIG_COMEDI_VMK80XX=y
CONFIG_OF=y
CONFIG_MFD_OCELOT=y
CONFIG_HAVE_ARCH_JUMP_LABEL=y
CONFIG_BMP280_I2C=y
CONFIG_HAVE_DMA_CONTIGUOUS=y
CONFIG_HID_SEMITEK=y
CONFIG_VFIO_CONTAINER=y
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE=y
CONFIG_NVME_TARGET_LOOP=y
CONFIG_FIRMWARE_MEMMAP=y
CONFIG_HAVE_DEBUG_STACKOVERFLOW=y
CONFIG_PMIC_ADP5520=y
CONFIG_SPI_SPIDEV=y
CONFIG_ISA=y
CONFIG_TYPEC_ANX7411=y
CONFIG_GPIO_WM831X=y
CONFIG_SENSORS_W83793=y
CONFIG_TIFM_7XX1=y
CONFIG_IRQ_TIME_ACCOUNTING=y
CONFIG_REGULATOR_RTQ2208=y
CONFIG_CRYPTO_MLDSA=y
CONFIG_FUNCTION_TRACER=y
CONFIG_TICK_CPU_ACCOUNTING=y
CONFIG_SENSORS_BH1770=y
CONFIG_RAPIDIO_RXS_GEN3=y
CONFIG_ADMV1013=y
CONFIG_PCIEAER=y
CONFIG_VIRTIO_BALLOON=y
CONFIG_GENERIC_PINMUX_FUNCTIONS=y
CONFIG_ZONE_DMA=y
CONFIG_TI_ADS124S08=y
CONFIG_LEDS_CLASS=y
CONFIG_LEDS_AW200XX=y
CONFIG_ARCH_HAS_GCOV_PROFILE_ALL=y
CONFIG_JOYSTICK_XPAD_LEDS=y
CONFIG_IKHEADERS=y
CONFIG_PINCTRL_CS47L92=y
CONFIG_MUTEX_SPIN_ON_OWNER=y
CONFIG_TI_ADC0832=y
CONFIG_ARCH_MIGHT_HAVE_PC_PARPORT=y
CONFIG_X86_DISABLED_FEATURE_TDX_GUEST=y
CONFIG_KPROBES_ON_FTRACE=y
CONFIG_HID_GENERIC=y
CONFIG_OPEN_DICE=y
CONFIG_TYPEC_STUSB160X=y
CONFIG_CC_HAS_ASM_INLINE=y
CONFIG_GPIO_CDEV=y
CONFIG_FPGA_DFL_PCI=y
CONFIG_CRYPTO_AKCIPHER2=y
CONFIG_PREVENT_FIRMWARE_BUILD=y
CONFIG_JOYSTICK_STINGER=y
CONFIG_BATTERY_GOLDFISH=y
CONFIG_REGULATOR_DA9211=y
CONFIG_REGULATOR_RTQ6752=y
CONFIG_CHARGER_RT9467=y
CONFIG_SENSORS_W83791D=y
CONFIG_INOTIFY_USER=y
CONFIG_NOTIFIER_ERROR_INJECTION=y
CONFIG_QFMT_V1=y
CONFIG_MMU_GATHER_MERGE_VMAS=y
CONFIG_FB_CARMINE_DRAM_EVAL=y
CONFIG_GENERIC_CPU_VULNERABILITIES=y
CONFIG_CRYPTO_XTS=y
CONFIG_ARCH_SUPPORTS_RT=y
CONFIG_HAVE_STATIC_CALL=y
CONFIG_CRYPTO_HASH2=y
CONFIG_REGULATOR_DA9055=y
CONFIG_LEDS_TRIGGER_PATTERN=y
CONFIG_X86_LONGRUN=y
CONFIG_GPIO_WM8994=y
CONFIG_SDP500=y
CONFIG_IIO_TRIGGERED_BUFFER=y
CONFIG_DMA_NEED_SYNC=y
CONFIG_NLS_CODEPAGE_869=y
CONFIG_USB_SERIAL_SAFE=y
CONFIG_BLK_WBT=y
CONFIG_W1_SLAVE_DS2431=y
CONFIG_GPIO_DS4520=y
CONFIG_ZLIB_DEFLATE=y
CONFIG_NVMEM_LAYOUT_SL28_VPD=y
CONFIG_X9250=y
CONFIG_BTRFS_FS_POSIX_ACL=y
CONFIG_OPENSSL_SUPPORTS_ML_DSA=y
CONFIG_HAVE_ARCH_AUDITSYSCALL=y
CONFIG_USB_OTG_FSM=y
CONFIG_USB_OTG_DISABLE_EXTERNAL_HUB=y
CONFIG_IPMI_DMI_DECODE=y
CONFIG_FPGA_MGR_LATTICE_SYSCONFIG_SPI=y
CONFIG_ATLAS_EZO_SENSOR=y
CONFIG_REGULATOR_MAX14577=y
CONFIG_EXTCON=y
CONFIG_USB_R8A66597_HCD=y
CONFIG_MFD_MADERA_SPI=y
CONFIG_IIO_ST_SENSORS_CORE=y
CONFIG_PINCTRL_MAX77620=y
CONFIG_USB_CHIPIDEA=y
CONFIG_LEDS_PCA9532=y
CONFIG_FB_DDC=y
CONFIG_OPT3001=y
CONFIG_CPU_SUP_ZHAOXIN=y
CONFIG_INPUT_ATMEL_CAPTOUCH=y
CONFIG_SENSORS_XDP720=y
CONFIG_AL3000A=y
CONFIG_USB_CYPRESS_CY7C63=y
CONFIG_GENERIC_STRNLEN_USER=y
CONFIG_PCI_STUB=y
CONFIG_MOST_USB_HDM=y
CONFIG_MCP4922=y
CONFIG_LEDS_LP55XX_COMMON=y
CONFIG_APPLICOM=y
CONFIG_CC_HAS_WORKING_NOSANITIZE_ADDRESS=y
CONFIG_FUNCTION_ALIGNMENT_16B=y
CONFIG_NLS_ISO8859_3=y
CONFIG_MFD_CORE=y
CONFIG_VFIO=y
CONFIG_SENSORS_MAX17616=y
CONFIG_RING_BUFFER_ALLOW_SWAP=y
CONFIG_CC_CAN_LINK=y
CONFIG_RMI4_F21=y
CONFIG_SRAM=y
CONFIG_ARCH_SUPPORTS_CRASH_DUMP=y
CONFIG_VIRTIO_MMIO=y
CONFIG_GENERIC_ENTRY=y
CONFIG_DM_FLAKEY=y
CONFIG_SUSPEND_FREEZER=y
CONFIG_DEBUG_VFS=y
CONFIG_LCD_LMS283GF05=y
CONFIG_FB_IOMEM_HELPERS=y
CONFIG_I2C_MUX_REG=y
CONFIG_DEBUG_CGROUP_REF=y
CONFIG_CLOCKSOURCE_WATCHDOG=y
CONFIG_IIO_SIMPLE_DUMMY=y
CONFIG_JSA1212=y
CONFIG_BACKLIGHT_LM3509=y
CONFIG_EDAC_SCRUB=y
CONFIG_VIRTIO_PCI_ADMIN_LEGACY=y
CONFIG_PCIE_CADENCE_PLAT=y
CONFIG_MAGIC_SYSRQ=y
CONFIG_AD3552R=y
CONFIG_XILINX_SDFEC=y
CONFIG_WQ_WATCHDOG=y
CONFIG_AD525X_DPOT_SPI=y
CONFIG_NTFS_DEBUG=y
CONFIG_FB_RIVA_BACKLIGHT=y
CONFIG_LMP91000=y
CONFIG_ARCH_SUPPORTS_LTO_CLANG_THIN=y
CONFIG_WW_MUTEX_SELFTEST=y
CONFIG_HOLTEK_FF=y
CONFIG_FS_ENCRYPTION_ALGS=y
CONFIG_ARCH_HAS_UBSAN=y
CONFIG_GPIO_SIFIVE=y
CONFIG_SENSORS_MAX34440=y
CONFIG_PM_SLEEP_SMP=y
CONFIG_KEYS_REQUEST_CACHE=y
CONFIG_IDLE_PAGE_TRACKING=y
CONFIG_USB_SERIAL_MXUPORT=y
CONFIG_AD5592R=y
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST_IDLE=y
CONFIG_APDS9960=y
CONFIG_SENSORS_INA233=y
CONFIG_EXTCON_LC824206XA=y
CONFIG_HID_LED=y
CONFIG_AD5110=y
CONFIG_SECURITYFS=y
CONFIG_MEN_Z188_ADC=y
CONFIG_ARCH_WANT_GENERAL_HUGETLB=y
CONFIG_OPTPROBES=y
CONFIG_CRYPTO_SM4_GENERIC=y
CONFIG_EXTCON_SM5502=y
CONFIG_POWER_SEQUENCING_QCOM_WCN=y
CONFIG_ARCH_SUPPORTS_ATOMIC_RMW=y
CONFIG_STRICT_SIGALTSTACK_SIZE=y
CONFIG_HSC030PA_I2C=y
CONFIG_NLS_CODEPAGE_855=y
CONFIG_USB_SERIAL_CONSOLE=y
CONFIG_SENSORS_SCH56XX_COMMON=y
CONFIG_AD7091R8=y
CONFIG_OF_FPGA_REGION=y
CONFIG_MFD_MAX77541=y
CONFIG_LEDS_TRIGGER_DEFAULT_ON=y
CONFIG_GENERIC_STRNCPY_FROM_USER=y
CONFIG_OF_RESERVED_MEM=y
CONFIG_FB_SYSMEM_HELPERS_DEFERRED=y
CONFIG_NLS_MAC_CYRILLIC=y
CONFIG_HAVE_ARCH_JUMP_LABEL_RELATIVE=y
CONFIG_SERIAL_SC16IS7XX_I2C=y
CONFIG_PINCTRL_CS47L85=y
CONFIG_USB_SERIAL_IPAQ=y
CONFIG_WATCHDOG_SYSFS=y
CONFIG_ARCH_HAS_SET_DIRECT_MAP=y
CONFIG_USB_SERIAL_IR=y
CONFIG_TPL0102=y
CONFIG_SERIAL_SC16IS7XX_SPI=y
CONFIG_MFD_DA9055=y
CONFIG_IPMI_IPMB=y
CONFIG_REGULATOR_MT6370=y
CONFIG_HAVE_FUNCTION_GRAPH_FREGS=y
CONFIG_INPUT_DA9055_ONKEY=y
CONFIG_REGULATOR_BQ257XX=y
CONFIG_REGULATOR_TPS65023=y
CONFIG_CC_HAS_MIN_FUNCTION_ALIGNMENT=y
CONFIG_REGULATOR_MC13892=y
CONFIG_QCOM_SPMI_ADC5_GEN3=y
CONFIG_REGULATOR_TPS65132=y
CONFIG_FB_GEODE=y
CONFIG_LEDS_ADP5520=y
CONFIG_PECI_CPU=y
CONFIG_RTC_MC146818_LIB=y
CONFIG_HAVE_PREEMPT_DYNAMIC=y
CONFIG_FPGA_DFL_FME_BRIDGE=y
CONFIG_SGETMASK_SYSCALL=y
CONFIG_RAS=y
CONFIG_VFAT_FS=y
CONFIG_GENERIC_IRQ_EFFECTIVE_AFF_MASK=y
CONFIG_SCHED_STACK_END_CHECK=y
CONFIG_CRYPTO_RMD160=y
CONFIG_I2C_MUX_PINCTRL=y
CONFIG_X86_USE_PPRO_CHECKSUM=y
CONFIG_CPU_SUP_CENTAUR=y
CONFIG_NLS_CODEPAGE_852=y
CONFIG_EXTCON_MAX14577=y
CONFIG_SENSORS_INTEL_M10_BMC_HWMON=y
CONFIG_EXECMEM=y
CONFIG_DM_PERSISTENT_DATA=y
CONFIG_PCI_PASID=y
CONFIG_MFD_RC5T583=y
CONFIG_PM_NOTIFIER_ERROR_INJECT=y
CONFIG_PCCARD=y
CONFIG_TOOLS_SUPPORT_RELR=y
CONFIG_I2C_DESIGNWARE_CORE=y
CONFIG_TYPEC_TCPM=y
CONFIG_FW_LOADER_COMPRESS=y
CONFIG_INPUT_WISTRON_BTNS=y
CONFIG_RN5T618_ADC=y
CONFIG_TRACER_SNAPSHOT_PER_CPU_SWAP=y
CONFIG_HID_EZKEY=y
CONFIG_HID_ELECOM=y
CONFIG_FUSION=y
CONFIG_FXAS21002C_SPI=y
CONFIG_DM_ZERO=y
CONFIG_CGROUP_DEBUG=y
CONFIG_SENSORS_MAX31785=y
CONFIG_SGL_ALLOC=y
CONFIG_TIFM_CORE=y
CONFIG_MPRLS0025PA=y
CONFIG_LEDS_ST1202=y
CONFIG_IQS620AT_TEMP=y
CONFIG_REGULATOR_MPQ7920=y
CONFIG_REGULATOR_PALMAS=y
CONFIG_W1_SLAVE_DS2408=y
CONFIG_MAX44000=y
CONFIG_BLK_SED_OPAL=y
CONFIG_X86_ANCIENT_MCE=y
CONFIG_FW_LOADER_SYSFS=y
CONFIG_REGULATOR_BD96801=y
CONFIG_DEBUG_NOTIFIERS=y
CONFIG_TRACE_IRQFLAGS_NMI=y
CONFIG_USB_EHCI_TT_NEWSCHED=y
CONFIG_FAT_FS=y
CONFIG_HID_CREATIVE_SB0540=y
CONFIG_PAGE_SIZE_LESS_THAN_64KB=y
CONFIG_BATTERY_DS2782=y
CONFIG_LCD_HX8357=y
CONFIG_COMEDI_TESTS=y
CONFIG_ARCH_HAS_PTE_SPECIAL=y
CONFIG_CFS_BANDWIDTH=y
CONFIG_OF_KOBJ=y
CONFIG_NLS_CODEPAGE_949=y
CONFIG_SERIO_PCIPS2=y
CONFIG_STATIC_CALL_SELFTEST=y
CONFIG_INPUT_KEYBOARD=y
CONFIG_ARCH_USE_MEMTEST=y
CONFIG_X86_SPEEDSTEP_LIB=y
CONFIG_IPMI_SSIF=y
CONFIG_NTFS_FS=y
CONFIG_PAGE_IDLE_FLAG=y
CONFIG_GPIOLIB=y
CONFIG_FPGA=y
CONFIG_ADIS16480=y
CONFIG_CHARGER_BQ2515X=y
CONFIG_LEDS_SYSCON=y
CONFIG_DEBUG_FS=y
CONFIG_SENSORS_NCT7363=y
CONFIG_ALLOW_DEV_COREDUMP=y
CONFIG_X86_DISABLED_FEATURE_SYSCALL32=y
CONFIG_YAMAHA_YAS530=y
CONFIG_DA9055_WATCHDOG=y
CONFIG_ARCH_WANT_IRQS_OFF_ACTIVATE_MM=y
CONFIG_GPIO_AMD8111=y
CONFIG_INPUT_UINPUT=y
CONFIG_GENERIC_EARLY_IOREMAP=y
CONFIG_MFD_TPS6586X=y
CONFIG_TRACEFS_AUTOMOUNT_DEPRECATED=y
CONFIG_AUTOFS_FS=y
CONFIG_HID_LENOVO=y
CONFIG_PREEMPT_RCU=y
CONFIG_VFIO_IOMMU_TYPE1=y
CONFIG_IIO_BUFFER_CB=y
CONFIG_REGULATOR_TPS6594=y
CONFIG_FPGA_M10_BMC_SEC_UPDATE=y
CONFIG_CEC_CORE=y
CONFIG_RCU_BOOST=y
CONFIG_HID_MCP2221=y
CONFIG_USB_SL811_CS=y
CONFIG_GCC_PLUGINS=y
CONFIG_REGULATOR_PV88060=y
CONFIG_FUEL_GAUGE_MM8013=y
CONFIG_VHOST_MENU=y
CONFIG_GPIO_74X164=y
CONFIG_REGULATOR_LM363X=y
CONFIG_FHANDLE=y
CONFIG_PROVE_RCU=y
CONFIG_KEYBOARD_QT2160=y
CONFIG_CEC_NOTIFIER=y
CONFIG_TYPEC_UCSI=y
CONFIG_SENSORS_GIGABYTE_WATERFORCE=y
CONFIG_ADF4350=y
CONFIG_GENERIC_PINCONF=y
CONFIG_EDAC_E752X=y
CONFIG_DEBUG_PAGEALLOC=y
CONFIG_FW_CFG_SYSFS_CMDLINE=y
CONFIG_DA311=y
CONFIG_NTB=y
CONFIG_GPIO_QIXIS_FPGA=y
CONFIG_SENSORS_GL520SM=y
CONFIG_HID_SAITEK=y
CONFIG_X86=y
CONFIG_INV_MPU6050_IIO=y
CONFIG_CRYPTO_AES=y
CONFIG_HID_PID=y
CONFIG_GPIO_BD9571MWV=y
CONFIG_SENSORS_VT1211=y
CONFIG_GPIO_GRANITERAPIDS=y
CONFIG_CRYPTO_ZSTD=y
CONFIG_HID_RMI=y
CONFIG_ARCH_VMLINUX_NEEDS_RELOCS=y
CONFIG_HANGCHECK_TIMER=y
CONFIG_GEODE_WDT=y
CONFIG_LEDS_LM3692X=y
CONFIG_IPMI_HANDLER=y
CONFIG_INV_MPU6050_SPI=y
CONFIG_NTB_EPF=y
CONFIG_HAVE_EXIT_THREAD=y
CONFIG_FSI_MASTER_I2CR=y
CONFIG_AD74115=y
CONFIG_XZ_DEC_X86=y
CONFIG_HRTIMER_REARM_DEFERRED=y
CONFIG_MCB_PCI=y
CONFIG_COMMON_CLK_S2MPS11=y
CONFIG_X86_ESPFIX32=y
CONFIG_RANDOMIZE_BASE=y
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST=y
CONFIG_FB_PM2_FIFO_DISCONNECT=y
CONFIG_DECOMPRESS_GZIP=y
CONFIG_MFD_VIPERBOARD=y
CONFIG_USB_LGM_PHY=y
CONFIG_REGULATOR_MT6315=y
CONFIG_APM=y
CONFIG_ARCH_HAS_STRICT_MODULE_RWX=y
CONFIG_REGULATOR_RTQ2134=y
CONFIG_PM_DEBUG=y
CONFIG_IIO_ADIS_LIB_BUFFER=y
CONFIG_ADXL345_SPI=y
CONFIG_SERIAL_MAX310X=y
CONFIG_CRYPTO_LRW=y
CONFIG_RD_XZ=y
CONFIG_CC_OPTIMIZE_FOR_SIZE=y
CONFIG_RD_GZIP=y
CONFIG_KXSD9_SPI=y
CONFIG_EEPROM_AT24=y
CONFIG_MFD_MAX77686=y
CONFIG_HAVE_USER_RETURN_NOTIFIER=y
CONFIG_INPUT_FF_MEMLESS=y
CONFIG_GPIO_WS16C48=y
CONFIG_SECTION_MISMATCH_WARN_ONLY=y
CONFIG_IRQ_DOMAIN=y
CONFIG_COMMON_CLK_SI570=y
CONFIG_SENSORS_THMC50=y
CONFIG_LEDS_LP5812=y
CONFIG_DM_BIO_PRISON=y
CONFIG_CHARGER_MAX14577=y
CONFIG_LEDS_WM831X_STATUS=y
CONFIG_XZ_DEC_MICROLZMA=y
CONFIG_SENSORS_STEF48H28=y
CONFIG_HAVE_FUNCTION_ARG_ACCESS_API=y
CONFIG_MS5611=y
CONFIG_HID_NINTENDO=y
CONFIG_PROC_VMCORE_DEVICE_DUMP=y
CONFIG_PM_SLEEP=y
CONFIG_ADA4250=y
CONFIG_SPI_SLAVE_TIME=y
CONFIG_FB_VESA=y
CONFIG_DEBUG_ATOMIC_SLEEP=y
CONFIG_DW_I3C_MASTER=y
CONFIG_DMA_API_DEBUG=y
CONFIG_GENERIC_BUG=y
CONFIG_VMSPLIT_1G=y
CONFIG_USB_SERIAL_EMPEG=y
CONFIG_MFD_LOCHNAGAR=y
CONFIG_MFD_TPS65912_I2C=y
CONFIG_JOYSTICK_MAGELLAN=y
CONFIG_GPIO_SYSCON=y
CONFIG_MFD_IQS62X=y
CONFIG_CRYPTO_ALGAPI2=y
CONFIG_MFD_MAX77693=y
CONFIG_SENSORS_LTC4260=y
CONFIG_DM_VERITY=y
CONFIG_AS3935=y
CONFIG_SBC_FITPC2_WATCHDOG=y
