CONFIG_CGROUP_FREEZER=n
CONFIG_CPU_FREQ_GOV_PERFORMANCE=n
CONFIG_HAVE_ARCH_HUGE_VMAP=n
CONFIG_NVMEM=n
CONFIG_WLAN_VENDOR_RALINK=n
CONFIG_PCIE_DW_HOST=n
CONFIG_DRM_GEM_DMA_HELPER=n
CONFIG_CRYPTO_SKCIPHER2=n
CONFIG_RISCV_SBI_MPXY_MBOX=n
CONFIG_AUDIT_GENERIC=n
CONFIG_REGULATOR=n
CONFIG_BLK_DEBUG_FS=n
CONFIG_TUNE_GENERIC=n
CONFIG_NETFILTER_XT_MATCH_CONNTRACK=n
CONFIG_ARCH_WANT_OPTIMIZE_HUGETLB_VMEMMAP=n
CONFIG_NET_VENDOR_ASIX=n
CONFIG_NET_VENDOR_SEEQ=n
CONFIG_MFD_CORE=n
CONFIG_BTRFS_FS_POSIX_ACL=n
CONFIG_ZSTD_COMPRESS=n
CONFIG_DMA_DIRECT_REMAP=n
CONFIG_ARCH_KEEP_MEMBLOCK=n
CONFIG_NET_VENDOR_HUAWEI=n
CONFIG_DECOMPRESS_GZIP=n
CONFIG_HAVE_ARCH_SECCOMP_FILTER=n
CONFIG_NET_VENDOR_MICROSEMI=n
CONFIG_IRQ_MSI_LIB=n
CONFIG_MISC_FILESYSTEMS=n
CONFIG_KERNFS=n
CONFIG_DRM_RADEON=n
CONFIG_HAVE_KCSAN_COMPILER=n
CONFIG_HOTPLUG_CORE_SYNC=n
CONFIG_CLK_SIFIVE_PRCI=n
CONFIG_POWER_SEQUENCING=n
CONFIG_CLK_STARFIVE_JH7100=n
CONFIG_HAS_IOMEM=n
CONFIG_I2C_HELPER_AUTO=n
CONFIG_XZ_DEC=n
CONFIG_JBD2=n
CONFIG_CGROUP_BPF=n
CONFIG_NET_VENDOR_VERTEXCOM=n
CONFIG_NET_XGRESS=n
CONFIG_OF_IRQ=n
CONFIG_CMODEL_MEDANY=n
CONFIG_GUEST_PERF_EVENTS=n
CONFIG_NF_LOG_IPV4=n
CONFIG_CRYPTO_AEAD=n
CONFIG_BINARY_PRINTF=n
CONFIG_RAID6_PQ_BENCHMARK=n
CONFIG_ARCH_WANTS_NO_INSTR=n
CONFIG_DECOMPRESS_LZO=n
CONFIG_RTC_I2C_AND_SPI=n
CONFIG_USB_MUSB_HDRC=n
CONFIG_SOFTIRQ_ON_OWN_STACK=n
CONFIG_ZSTD_COMMON=n
CONFIG_USB_XHCI_PCI=n
CONFIG_RESET_SPACEMIT_COMMON=n
CONFIG_SPARSE_IRQ=n
CONFIG_IKCONFIG_PROC=n
CONFIG_USB_F_SERIAL=n
CONFIG_DNOTIFY=n
CONFIG_DMADEVICES=n
CONFIG_ARCH_HAS_PREPARE_SYNC_CORE_CMD=n
CONFIG_NET_VENDOR_BROCADE=n
CONFIG_IPV6=n
CONFIG_REGULATOR_SPACEMIT_P1=n
CONFIG_ARCH_WANT_OPTIMIZE_DAX_VMEMMAP=n
CONFIG_KVM_GENERIC_DIRTYLOG_READ_PROTECT=n
CONFIG_BLK_DEV_INITRD=n
CONFIG_SUNXI_WATCHDOG=n
CONFIG_CRC_ITU_T=n
CONFIG_INTEGRITY=n
CONFIG_PCI=n
CONFIG_GENERIC_LIB_DEVMEM_IS_ALLOWED=n
CONFIG_VLAN_8021Q=n
CONFIG_CC_HAS_MULTIDIMENSIONAL_NONSTRING=n
CONFIG_EXTCON=n
CONFIG_ARCH_SPARSEMEM_ENABLE=n
CONFIG_NETWORK_SECMARK=n
CONFIG_INIT_STACK_ALL_ZERO=n
CONFIG_MMU_GATHER_RCU_TABLE_FREE=n
CONFIG_RESET_POLARFIRE_SOC=n
CONFIG_BQL=n
CONFIG_GPIO_ACPI=n
CONFIG_SPARSEMEM_VMEMMAP_ENABLE=n
CONFIG_NETFS_SUPPORT=n
CONFIG_RISCV_ISA_VENDOR_EXT_THEAD=n
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE_PUD=n
CONFIG_INET_ESP=n
CONFIG_NET_NS=n
CONFIG_LEGACY_DIRECT_IO=n
CONFIG_MMU=n
CONFIG_UTS_NS=n
CONFIG_HAVE_LD_DEAD_CODE_DATA_ELIMINATION=n
CONFIG_SELECT_MEMORY_MODEL=n
CONFIG_HAVE_64BIT_ALIGNED_ACCESS=n
CONFIG_ATA_FORCE=n
CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE=n
CONFIG_HAVE_KVM_MSI=n
CONFIG_ARCH_HAS_GIGANTIC_PAGE=n
CONFIG_ACPI_REDUCED_HARDWARE_ONLY=n
CONFIG_THERMAL_GOV_STEP_WISE=n
CONFIG_NFS_V4_2=n
CONFIG_ARCH_HAS_PTDUMP=n
CONFIG_RISCV_ISA_FALLBACK=n
CONFIG_HAVE_GENERIC_TIF_BITS=n
CONFIG_MTD_MAP_BANK_WIDTH_1=n
CONFIG_PINMUX=n
CONFIG_GPIO_CDEV=n
CONFIG_CONFIGFS_FS=n
CONFIG_ZLIB_DEFLATE=n
CONFIG_NET_VENDOR_INTEL=n
CONFIG_PCI_QUIRKS=n
CONFIG_VFAT_FS=n
CONFIG_SECURITY_APPARMOR_HASH_DEFAULT=n
CONFIG_CONTEXT_SWITCH_TRACER=n
CONFIG_HW_RANDOM_ATMEL=n
CONFIG_MMC_SDHCI_CADENCE=n
CONFIG_REGULATOR_AXP20X=n
CONFIG_NETWORK_FILESYSTEMS=n
CONFIG_RTC_INTF_SYSFS=n
CONFIG_MOUSE_PS2_CYPRESS=n
CONFIG_STRICT_KERNEL_RWX=n
CONFIG_VIDEO_V4L2_SUBDEV_API=n
CONFIG_USB_CDNS_HOST=n
CONFIG_VIRTIO_NET=n
CONFIG_GENERIC_IRQ_EFFECTIVE_AFF_MASK=n
CONFIG_PRINTK=n
CONFIG_SATA_AHCI=n
CONFIG_RTC_HCTOSYS=n
CONFIG_DRM_CLIENT_LIB=n
CONFIG_NET_VENDOR_SUN=n
CONFIG_HAVE_PERF_USER_STACK_DUMP=n
CONFIG_POWER_SUPPLY_HWMON=n
CONFIG_SERIAL_CORE_CONSOLE=n
CONFIG_VDSO_GETRANDOM=n
CONFIG_HAVE_KRETPROBES=n
CONFIG_NET_VENDOR_SOCIONEXT=n
CONFIG_USB_OHCI_HCD_PCI=n
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO_BARE=n
CONFIG_MMC_SDHCI=n
CONFIG_SYSCTL_ARCH_UNALIGN_ALLOW=n
CONFIG_ARCH_SUPPORTS_KEXEC_FILE=n
CONFIG_SLUB=n
CONFIG_RING_BUFFER=n
CONFIG_SOCK_CGROUP_DATA=n
CONFIG_ND_CLAIM=n
CONFIG_ATA_VERBOSE_ERROR=n
CONFIG_NET_EGRESS=n
CONFIG_CRYPTO_SHA256=n
CONFIG_CROSS_MEMORY_ATTACH=n
CONFIG_ARCH_HAS_BINFMT_FLAT=n
CONFIG_PCC=n
CONFIG_PAGE_MAPCOUNT=n
CONFIG_NET_VENDOR_REALTEK=n
CONFIG_RT_MUTEXES=n
CONFIG_FS_STACK=n
CONFIG_GCC_SUPPORTS_DYNAMIC_FTRACE=n
CONFIG_AF_UNIX_OOB=n
CONFIG_VIRTIO_ANCHOR=n
CONFIG_SND_SOC_WM8978=n
CONFIG_INET=n
CONFIG_FRAMEBUFFER_CONSOLE=n
CONFIG_CRYPTO_USER_API_ENABLE_OBSOLETE=n
CONFIG_PRINTK_TIME=n
CONFIG_ACPI_CPPC_CPUFREQ_FIE=n
CONFIG_CRYPTO_AUTHENC=n
CONFIG_RPMSG_CTRL=n
CONFIG_ARCH_HAS_TICK_BROADCAST=n
CONFIG_SUN20I_PPU=n
CONFIG_ELFCORE=n
CONFIG_RISCV_IOMMU_PCI=n
CONFIG_NET_VENDOR_MICREL=n
CONFIG_RISCV_PMU_LEGACY=n
CONFIG_MODULES_TREE_LOOKUP=n
CONFIG_ALLOW_DEV_COREDUMP=n
CONFIG_CLK_ANALOGBITS_WRPLL_CLN28HPC=n
CONFIG_HAVE_PREEMPT_DYNAMIC=n
CONFIG_HAVE_KVM_IRQCHIP=n
CONFIG_ARCH_OPTIONAL_KERNEL_RWX_DEFAULT=n
CONFIG_HAVE_ALIGNED_STRUCT_PAGE=n
CONFIG_CORE_DUMP_DEFAULT_ELF_HEADERS=n
CONFIG_VIRTIO_PCI_LIB_LEGACY=n
CONFIG_BLK_DEV_BSG_COMMON=n
CONFIG_USB_OTG=n
CONFIG_NET_VENDOR_QUALCOMM=n
CONFIG_CRC7=n
CONFIG_SCHED_MM_CID=n
CONFIG_ARCH_HAS_SYNC_DMA_FOR_CPU=n
CONFIG_MOUSE_PS2_TRACKPOINT=n
CONFIG_MTD_CFI_I2=n
CONFIG_NLS_ISO8859_1=n
CONFIG_ACPI_MDIO=n
CONFIG_CRYPTO_CBC=n
CONFIG_XXHASH=n
CONFIG_RISCV_TIMER=n
CONFIG_ARCH_HAS_SET_DIRECT_MAP=n
CONFIG_RISCV_IMSIC=n
CONFIG_NFS_V4_SECURITY_LABEL=n
CONFIG_PCI_MSI=n
CONFIG_RISCV_ISA_VENDOR_EXT_ANDES=n
CONFIG_RCU_NEED_SEGCBLIST=n
CONFIG_IPV6_NDISC_NODETYPE=n
CONFIG_DW_AXI_DMAC=n
CONFIG_MEDIA_SUBDRV_AUTOSELECT=n
CONFIG_ACPI_RIMT=n
CONFIG_CRYPTO_ALGAPI2=n
CONFIG_IRQ_FORCED_THREADING=n
CONFIG_GENERIC_EARLY_IOREMAP=n
CONFIG_MEDIA_PLATFORM_SUPPORT=n
CONFIG_BLOCK=n
CONFIG_SERIAL_8250_PNP=n
CONFIG_DM_THIN_PROVISIONING=n
CONFIG_USB_PHY=n
CONFIG_MEDIA_CONTROLLER=n
CONFIG_PNPACPI=n
CONFIG_VIRTUALIZATION=n
CONFIG_ACPI_PROCESSOR_IDLE=n
CONFIG_VT_HW_CONSOLE_BINDING=n
CONFIG_SND_SOC_JH7110_PWMDAC=n
CONFIG_BRIDGE=n
CONFIG_RISCV_NONSTANDARD_CACHE_OPS=n
CONFIG_RISCV_ISA_VENDOR_EXT_SIFIVE=n
CONFIG_NETFILTER_EGRESS=n
CONFIG_HAVE_FUNCTION_GRAPH_FREGS=n
CONFIG_IP_PNP_RARP=n
CONFIG_VIRTIO_PCI_LIB=n
CONFIG_MEMREGION=n
CONFIG_TIMER_OF=n
CONFIG_MMC_DW_PLTFM=n
CONFIG_PCPU_DEV_REFCNT=n
CONFIG_CLK_STARFIVE_JH7110_VOUT=n
CONFIG_SUN50I_IOMMU=n
CONFIG_CAN_CALC_BITTIMING=n
CONFIG_PCIE_PME=n
CONFIG_FONT_SUPPORT=n
CONFIG_MOUSE_PS2_ALPS=n
CONFIG_PNFS_BLOCK=n
CONFIG_DWMAC_SUN8I=n
CONFIG_HAVE_IOREMAP_PROT=n
CONFIG_WLAN_VENDOR_INTERSIL=n
CONFIG_TOOLCHAIN_HAS_V=n
CONFIG_HAVE_PERF_REGS=n
CONFIG_SHMEM=n
CONFIG_VIDEO_V4L2_I2C=n
CONFIG_CRYPTO_SEQIV=n
CONFIG_THERMAL_HWMON=n
CONFIG_SOC_STARFIVE=n
CONFIG_NET_VENDOR_AQUANTIA=n
CONFIG_IP6_NF_MATCH_IPV6HEADER=n
CONFIG_DM_BIO_PRISON=n
CONFIG_TOOLCHAIN_HAS_ZABHA=n
CONFIG_ARCH_SUPPORTS_CFI=n
CONFIG_MEDIA_HIDE_ANCILLARY_SUBDRV=n
CONFIG_OF_ADDRESS=n
CONFIG_USB_CONFIGFS_ACM=n
CONFIG_USB_XHCI_HCD=n
CONFIG_SCHED_MC=n
CONFIG_RISCV_PROBE_VECTOR_UNALIGNED_ACCESS=n
CONFIG_STANDALONE=n
CONFIG_MMIOWB=n
CONFIG_HAVE_ARCH_KASAN=n
CONFIG_LZ4_DECOMPRESS=n
CONFIG_SND_DRIVERS=n
CONFIG_STACKPROTECTOR=n
CONFIG_DECOMPRESS_ZSTD=n
CONFIG_SUNRPC=n
CONFIG_SND_PROC_FS=n
CONFIG_REGMAP_MMIO=n
CONFIG_HAVE_ARCH_MMAP_RND_BITS=n
CONFIG_GENERIC_BUG_RELATIVE_POINTERS=n
CONFIG_PCIE_SPACEMIT_K1=n
CONFIG_PCIE_FU740=n
CONFIG_NET_VENDOR_STMICRO=n
CONFIG_SERIAL_SIFIVE_CONSOLE=n
CONFIG_CRYPTO_LIB_BLAKE2B=n
CONFIG_ACPI_THERMAL=n
CONFIG_ARCH_HAS_DEBUG_VIRTUAL=n
CONFIG_PINCTRL_STARFIVE_JH7110=n
CONFIG_PAGE_COUNTER=n
CONFIG_VHOST_MENU=n
CONFIG_MEDIA_PLATFORM_DRIVERS=n
CONFIG_VIRTIO_MMIO=n
CONFIG_GENERIC_PINMUX_FUNCTIONS=n
CONFIG_HAVE_FTRACE_GRAPH_FUNC=n
CONFIG_IP6_NF_IPTABLES=n
CONFIG_BUFFER_HEAD=n
CONFIG_GENERIC_IRQ_MIGRATION=n
CONFIG_CAN_RAW=n
CONFIG_USB_CDNS3_PCI_WRAP=n
CONFIG_PHY_STARFIVE_JH7110_DPHY_RX=n
CONFIG_BLK_MQ_STACKING=n
CONFIG_XFRM_ESP=n
CONFIG_PT_RECLAIM=n
CONFIG_AS_IS_GNU=n
CONFIG_VIDEO=n
CONFIG_PM_CLK=n
CONFIG_CACHEMAINT_FOR_DMA=n
CONFIG_FB_IOMEM_HELPERS=n
CONFIG_ARCH_HAVE_NMI_SAFE_CMPXCHG=n
