CONFIG_X86_LOCAL_APIC=n
CONFIG_ARCH_HAS_NONLEAF_PMD_YOUNG=n
CONFIG_INTEL_IOMMU_PERF_EVENTS=n
CONFIG_HAVE_ALIGNED_STRUCT_PAGE=n
CONFIG_NF_NAT_IRC=n
CONFIG_GENERIC_IRQ_PROBE=n
CONFIG_BROADCAST_TLB_FLUSH=n
CONFIG_ARCH_HAS_CPU_ATTACK_VECTORS=n
CONFIG_HAVE_SYSCALL_TRACEPOINTS=n
CONFIG_ARCH_HAS_UACCESS_FLUSHCACHE=n
CONFIG_MITIGATION_CALL_DEPTH_TRACKING=n
CONFIG_BACKLIGHT_CLASS_DEVICE=n
CONFIG_NET_VENDOR_DLINK=n
CONFIG_CFG80211_DEFAULT_PS=n
CONFIG_PAGE_SIZE_LESS_THAN_64KB=n
CONFIG_PREEMPTION=n
CONFIG_ETHERNET=n
CONFIG_NETFILTER_XT_TARGET_MASQUERADE=n
CONFIG_HAVE_HARDLOCKUP_DETECTOR_BUDDY=n
CONFIG_NET_VENDOR_GOOGLE=n
CONFIG_RTC_LIB=n
CONFIG_FIRMWARE_TABLE=n
CONFIG_X86_VERBOSE_BOOTUP=n
CONFIG_ARCH_SUPPORTS_PAGE_TABLE_CHECK=n
CONFIG_LOCKDEP_SUPPORT=n
CONFIG_NETFILTER=n
CONFIG_ARCH_WANT_LD_ORPHAN_WARN=n
CONFIG_CGROUP_NET_CLASSID=n
CONFIG_UNIX=n
CONFIG_SIGNALFD=n
CONFIG_GENERIC_CLOCKEVENTS_COUPLED=n
CONFIG_ACPI_SPCR_TABLE=n
CONFIG_MAC80211_RC_MINSTREL=n
CONFIG_BLK_CGROUP_IOCOST=n
CONFIG_X86_VMX_FEATURE_NAMES=n
CONFIG_HAVE_PV_STEAL_CLOCK_GEN=n
CONFIG_CC_HAS_ZERO_CALL_USED_REGS=n
CONFIG_IOMMU_IOPF=n
CONFIG_BLK_CGROUP_IOLATENCY=n
CONFIG_X86_DEBUG_FPU=n
CONFIG_QUOTA=n
CONFIG_PCC=n
CONFIG_EDAC_ATOMIC_SCRUB=n
CONFIG_NET_VENDOR_HUAWEI=n
CONFIG_QUOTA_TREE=n
CONFIG_SLUB=n
CONFIG_VMCORE_INFO=n
CONFIG_I2C_HID=n
CONFIG_ARCH_HAS_DEBUG_VIRTUAL=n
CONFIG_CRYPTO_SKCIPHER2=n
CONFIG_BINFMT_MISC=n
CONFIG_INET=n
CONFIG_NET_TULIP=n
CONFIG_XZ_DEC_ARM64=n
CONFIG_SWAP=n
CONFIG_ZLIB_DEFLATE=n
CONFIG_LOCK_MM_AND_FIND_VMA=n
CONFIG_TRACEPOINTS=n
CONFIG_CPU_FREQ_GOV_PERFORMANCE=n
CONFIG_PM_TRACE_RTC=n
CONFIG_ACPI_BGRT=n
CONFIG_CRC_CCITT=n
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST_IDLE=n
CONFIG_MITIGATION_GDS=n
CONFIG_NET_VENDOR_SMSC=n
CONFIG_SECCOMP=n
CONFIG_WATCHDOG=n
CONFIG_AUXILIARY_BUS=n
CONFIG_MITIGATION_ITS=n
CONFIG_DMA_OPS_HELPERS=n
CONFIG_BLK_DEV=n
CONFIG_CGROUP_FREEZER=n
CONFIG_POSIX_TIMERS=n
CONFIG_HAVE_ARCH_KMSAN=n
CONFIG_DEBUG_WX=n
CONFIG_CRYPTO_LZO=n
CONFIG_IO_URING_ZCRX=n
CONFIG_NET_SCH_FIFO=n
CONFIG_MAC80211_LEDS=n
CONFIG_NET_VENDOR_ROCKER=n
CONFIG_HAVE_ARCH_KASAN=n
CONFIG_AMD_NB=n
CONFIG_SYSVIPC=n
CONFIG_SYSTEM_TRUSTED_KEYRING=n
CONFIG_ACPI_LPIT=n
CONFIG_SYSCTL_EXCEPTION_TRACE=n
CONFIG_CC_HAS_KASAN_SW_TAGS=n
CONFIG_GCC_PLUGINS=n
CONFIG_ARCH_WANT_HUGE_PMD_SHARE=n
CONFIG_PREFIX_SYMBOLS=n
CONFIG_BUILDTIME_TABLE_SORT=n
CONFIG_ATA_FORCE=n
CONFIG_ARCH_SUPPORTS_KEXEC_SIG=n
CONFIG_CLKBLD_I8253=n
CONFIG_OPTPROBES=n
CONFIG_PCIEASPM_DEFAULT=n
CONFIG_CPU_SUP_CENTAUR=n
CONFIG_MODULE_FORCE_UNLOAD=n
CONFIG_CC_HAS_NAMED_AS_FIXED_SANITIZERS=n
CONFIG_DEBUG_MISC=n
CONFIG_NET_VENDOR_FUNGIBLE=n
CONFIG_NFS_DISABLE_UDP_SUPPORT=n
CONFIG_PROC_PAGE_MONITOR=n
CONFIG_EFI_ESRT=n
CONFIG_HOTPLUG_SMT=n
CONFIG_X86_REQUIRED_FEATURE_PSE=n
CONFIG_NET_VENDOR_EZCHIP=n
CONFIG_X86_REQUIRED_FEATURE_NOPL=n
CONFIG_GENERIC_CLOCKEVENTS_MIN_ADJUST=n
CONFIG_CC_HAS_INT128=n
CONFIG_HAVE_MOVE_PUD=n
CONFIG_E1000E_HWTS=n
CONFIG_UNINLINE_SPIN_UNLOCK=n
CONFIG_HAVE_OBJTOOL_MCOUNT=n
CONFIG_LOCK_SPIN_ON_OWNER=n
CONFIG_SYMBOLIC_ERRNAME=n
CONFIG_SND_DRIVERS=n
CONFIG_ARCH_VMLINUX_NEEDS_RELOCS=n
CONFIG_PCI_ATS=n
CONFIG_CC_HAS_SLS=n
CONFIG_USB_ARCH_HAS_HCD=n
CONFIG_VHOST_MENU=n
CONFIG_HAVE_FUNCTION_ERROR_INJECTION=n
CONFIG_CGROUP_CPUACCT=n
CONFIG_CORE_DUMP_DEFAULT_ELF_HEADERS=n
CONFIG_GENERIC_TIME_VSYSCALL=n
CONFIG_HAVE_NMI=n
CONFIG_TRACE_IRQFLAGS_SUPPORT=n
CONFIG_FUTEX_MPOL=n
CONFIG_DRM_DISPLAY_HELPER=n
CONFIG_WLAN_VENDOR_INTERSIL=n
CONFIG_X86=n
CONFIG_PM_SLEEP_SMP=n
CONFIG_NETFILTER_XT_TARGET_TCPMSS=n
CONFIG_ATA_ACPI=n
CONFIG_CC_HAS_IBT=n
CONFIG_VIRTIO_PCI_LEGACY=n
CONFIG_ARCH_HAS_DEBUG_VM_PGTABLE=n
CONFIG_RTC_NVMEM=n
CONFIG_DEVTMPFS_MOUNT=n
CONFIG_I8253_LOCK=n
CONFIG_CPU_MITIGATIONS=n
CONFIG_DYNAMIC_EVENTS=n
CONFIG_KEXEC=n
CONFIG_X86_REQUIRED_FEATURE_XMM2=n
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE_PUD=n
CONFIG_BLK_DEBUG_FS=n
CONFIG_ARCH_HAS_ELFCORE_COMPAT=n
CONFIG_HAVE_RELIABLE_STACKTRACE=n
CONFIG_ACPI_VIDEO=n
CONFIG_PHY_PACKAGE=n
CONFIG_HAVE_FTRACE_REGS_HAVING_PT_REGS=n
CONFIG_QUOTA_NETLINK_INTERFACE=n
CONFIG_NET_VENDOR_NVIDIA=n
CONFIG_ARCH_SUPPORTS_CFI=n
CONFIG_CFG80211_REQUIRE_SIGNED_REGDB=n
CONFIG_HAVE_CONTEXT_TRACKING_USER=n
CONFIG_WLAN_VENDOR_MICROCHIP=n
CONFIG_COREDUMP=n
CONFIG_HAVE_ARCH_PREL32_RELOCATIONS=n
CONFIG_AS_WRUSS=n
CONFIG_HAVE_ARCH_HUGE_VMALLOC=n
CONFIG_HAVE_CMPXCHG_LOCAL=n
CONFIG_GENERIC_ENTRY=n
CONFIG_CGROUP_PERF=n
CONFIG_ARCH_SPARSEMEM_ENABLE=n
CONFIG_RFKILL_INPUT=n
CONFIG_SLAB_MERGE_DEFAULT=n
CONFIG_64BIT=n
CONFIG_KRETPROBES=n
CONFIG_KEXEC_CORE=n
CONFIG_CPU_FREQ=n
CONFIG_INITRAMFS_PRESERVE_MTIME=n
CONFIG_X86_DIRECT_GBPAGES=n
CONFIG_DRM_DISPLAY_HDMI_HELPER=n
CONFIG_HID_GENERIC=n
CONFIG_INTERVAL_TREE=n
CONFIG_NET_VENDOR_MARVELL=n
CONFIG_AGP_INTEL=n
CONFIG_PERF_EVENTS_INTEL_RAPL=n
CONFIG_TASKS_TRACE_RCU=n
CONFIG_FORCEDETH=n
CONFIG_EPROBE_EVENTS=n
CONFIG_NETFS_SUPPORT=n
CONFIG_USB_EHCI_TT_NEWSCHED=n
CONFIG_FONT_AUTOSELECT=n
CONFIG_HAVE_DYNAMIC_FTRACE_NO_PATCHABLE=n
CONFIG_IP6_NF_MATCH_IPV6HEADER=n
CONFIG_CRYPTO_LIB_SHA256_ARCH=n
CONFIG_ARCH_HAS_CPU_FINALIZE_INIT=n
CONFIG_ARCH_SUPPORTS_AUTOFDO_CLANG=n
CONFIG_DECOMPRESS_LZMA=n
CONFIG_ARCH_WANT_IRQS_OFF_ACTIVATE_MM=n
CONFIG_BINARY_PRINTF=n
CONFIG_PCCARD_NONSTATIC=n
CONFIG_HIDRAW=n
CONFIG_NETWORK_SECMARK=n
CONFIG_RING_BUFFER=n
CONFIG_CC_HAS_KASAN_GENERIC=n
CONFIG_POWER_SUPPLY_HWMON=n
CONFIG_EFIVAR_FS=n
CONFIG_CRYPTO_GCM=n
CONFIG_USB_XHCI_HCD=n
CONFIG_MMU_GATHER_RCU_TABLE_FREE=n
CONFIG_PM=n
CONFIG_HAVE_UNWIND_USER_FP=n
CONFIG_GENERIC_STRNCPY_FROM_USER=n
CONFIG_DEBUG_INFO_NONE=n
CONFIG_PT_RECLAIM=n
CONFIG_USB_OHCI_LITTLE_ENDIAN=n
CONFIG_HYPERVISOR_GUEST=n
CONFIG_PCI_PASID=n
CONFIG_ARCH_HAS_KERNEL_FPU_SUPPORT=n
CONFIG_ARCH_HAS_CPU_CACHE_INVALIDATE_MEMREGION=n
CONFIG_ARCH_USE_CMPXCHG_LOCKREF=n
CONFIG_INTEGRITY_AUDIT=n
CONFIG_SATA_HOST=n
CONFIG_LD_IS_BFD=n
CONFIG_HAVE_UID16=n
CONFIG_HAVE_DEBUG_KMEMLEAK=n
CONFIG_BLK_DEV_DM_BUILTIN=n
CONFIG_DMADEVICES=n
CONFIG_MD=n
CONFIG_NET_VENDOR_BROCADE=n
CONFIG_WERROR=n
CONFIG_BLK_DEV_DM=n
CONFIG_NET=n
CONFIG_ARCH_HAS_ACPI_TABLE_UPGRADE=n
CONFIG_CDROM=n
CONFIG_MITIGATION_MMIO_STALE_DATA=n
CONFIG_CRYPTO_CBC=n
CONFIG_SND_PCI=n
CONFIG_CRYPTO_SEQIV=n
CONFIG_RUNTIME_TESTING_MENU=n
CONFIG_X86_X2APIC=n
CONFIG_LDISC_AUTOLOAD=n
CONFIG_NET_VENDOR_SOCIONEXT=n
CONFIG_ARCH_MIGHT_HAVE_ACPI_PDC=n
CONFIG_PM_SLEEP_DEBUG=n
CONFIG_SERIAL_8250_DMA=n
CONFIG_FSNOTIFY=n
CONFIG_VFAT_FS=n
CONFIG_FIB_RULES=n
CONFIG_DEBUG_FS_ALLOW_ALL=n
CONFIG_LTO_NONE=n
CONFIG_CPU_SUP_AMD=n
CONFIG_IOMMU_DMA=n
CONFIG_NET_VENDOR_NI=n
CONFIG_PCI_DOMAINS=n
CONFIG_DRM_CLIENT_SELECTION=n
CONFIG_NETFILTER_XT_TARGET_CONNSECMARK=n
CONFIG_MAC80211=n
CONFIG_USB_STORAGE=n
CONFIG_SND_PCM=n
CONFIG_PCI_DIRECT=n
CONFIG_HAS_DMA=n
CONFIG_TRACE_CLOCK=n
CONFIG_HAVE_JUMP_LABEL_HACK=n
CONFIG_NETFILTER_XT_TARGET_NFLOG=n
CONFIG_HAVE_STACKPROTECTOR=n
CONFIG_DMIID=n
CONFIG_HAVE_ARCH_HUGE_VMAP=n
CONFIG_X86_MCE_THRESHOLD=n
CONFIG_HAVE_KERNEL_LZMA=n
CONFIG_EXT4_FS=n
CONFIG_FAILOVER=n
CONFIG_SERIAL_CORE=n
CONFIG_RTC_MC146818_LIB=n
CONFIG_NET_VENDOR_MYRI=n
CONFIG_NOINSTR_VALIDATION=n
CONFIG_EVENTFD=n
CONFIG_SERIAL_8250_PCI=n
CONFIG_SPARSEMEM_VMEMMAP=n
CONFIG_HPET_TIMER=n
CONFIG_RTC_INTF_PROC=n
CONFIG_SCSI_SPI_ATTRS=n
CONFIG_MITIGATION_SPECTRE_V2=n
CONFIG_UNWIND_USER=n
CONFIG_USB_COMMON=n
CONFIG_NET_VENDOR_QUALCOMM=n
CONFIG_EEPROM_93CX6=n
CONFIG_HAVE_KERNEL_XZ=n
CONFIG_ARCH_WANTS_DYNAMIC_TASK_STRUCT=n
CONFIG_SND_PROC_FS=n
CONFIG_HAVE_STACK_VALIDATION=n
CONFIG_THERMAL_NETLINK=n
CONFIG_USB_NET_DRIVERS=n
CONFIG_ARCH_HAS_FORTIFY_SOURCE=n
CONFIG_GENERIC_PCI_IOMAP=n
CONFIG_USB_HID=n
CONFIG_PROC_FS=n
CONFIG_MOUSE_PS2_LIFEBOOK=n
CONFIG_XFRM=n
CONFIG_SPARSEMEM_VMEMMAP_PREINIT=n
CONFIG_MITIGATION_SPECTRE_V1=n
CONFIG_VIRTIO_DMA_SHARED_BUFFER=n
CONFIG_AS_IS_GNU=n
CONFIG_HID_SUPPORT=n
CONFIG_SUNRPC_GSS=n
CONFIG_HIBERNATE_CALLBACKS=n
