CONFIG_PSTORE_RAM=n
CONFIG_SND_SOC_SC8280XP=n
CONFIG_CRYPTO_ALGAPI=n
CONFIG_RESET_SCMI=n
CONFIG_QCS_DISPCC_615=n
CONFIG_CRYPTO_DEV_FSL_CAAM_PRNG_API=n
CONFIG_NET_VENDOR_MUCSE=n
CONFIG_COMMON_CLK_HI3519=n
CONFIG_DRM_MSM_DSI=n
CONFIG_NFS_V4_2_SSC_HELPER=n
CONFIG_GCC_SUPPORTS_DYNAMIC_FTRACE_WITH_ARGS=n
CONFIG_SND_SOC_QDSP6_AFE_DAI=n
CONFIG_BNX2X_SRIOV=n
CONFIG_QCOM_CLK_APCC_MSM8996=n
CONFIG_SND_SOC_WCD938X=n
CONFIG_MMC_ARMMMCI=n
CONFIG_ACPI_SPCR_TABLE=n
CONFIG_PINCTRL_MT6765=n
CONFIG_DRM_PANEL_ORIENTATION_QUIRKS=n
CONFIG_KVFREE_RCU_BATCHED=n
CONFIG_VIRT_XFER_TO_GUEST_WORK=n
CONFIG_DWMAC_S32=n
CONFIG_GPIO_ACPI=n
CONFIG_CRYPTO_DEV_XILINX_TRNG=n
CONFIG_ZYNQMP_FIRMWARE_DEBUG=n
CONFIG_CROS_TYPEC_SWITCH=n
CONFIG_PINCTRL_PFC_R8A77951=n
CONFIG_TYPEC=n
CONFIG_PINCTRL_BRCMSTB=n
CONFIG_SND_SOC_WM8994=n
CONFIG_EDAC_GHES=n
CONFIG_BLK_CGROUP_PUNT_BIO=n
CONFIG_PINCTRL_QCS8300=n
CONFIG_ETHTOOL_NETLINK=n
CONFIG_ARM64_ERRATUM_2457168=n
CONFIG_PCI_HOST_THUNDER_ECAM=n
CONFIG_ACPI_APEI_MEMORY_FAILURE=n
CONFIG_COMMON_RESET_HI6220=n
CONFIG_DRM_EXEC=n
CONFIG_ACPI_TABLE_UPGRADE=n
CONFIG_RAID6_PQ_BENCHMARK=n
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_ARGS=n
CONFIG_BATTERY_SBS=n
CONFIG_SG_SPLIT=n
CONFIG_USB_MXS_PHY=n
CONFIG_FANOTIFY=n
CONFIG_IOMMU_IOVA=n
CONFIG_ARM_GIC_V2M=n
CONFIG_BCM2712_MIP=n
CONFIG_HISILICON_ERRATUM_161600802=n
CONFIG_NET_VENDOR_MICROCHIP=n
CONFIG_SYSC_R8A779A0=n
CONFIG_PINCONF=n
CONFIG_DRM_ANALOGIX_DP=n
CONFIG_HAVE_KVM_IRQCHIP=n
CONFIG_TIME_NS=n
CONFIG_SQUASHFS=n
CONFIG_ARCH_R8A77990=n
CONFIG_ROCKCHIP_ANALOGIX_DP=n
CONFIG_COMMON_CLK_MT8192_MFGCFG=n
CONFIG_DEBUG_MEMORY_INIT=n
CONFIG_TCP_CONG_CUBIC=n
CONFIG_THERMAL_GOV_POWER_ALLOCATOR=n
CONFIG_HAVE_MOVE_PUD=n
CONFIG_SL28CPLD_INTC=n
CONFIG_HAVE_SCHED_AVG_IRQ=n
CONFIG_SND_SOC_QDSP6_ASM=n
CONFIG_NVMEM_REBOOT_MODE=n
CONFIG_ARM64_ERRATUM_2658417=n
CONFIG_TEGRA_HOST1X_FIREWALL=n
CONFIG_SYSTEM_TRUSTED_KEYRING=n
CONFIG_ARM_SMC_WATCHDOG=n
CONFIG_RFKILL=n
CONFIG_NETFILTER_XT_TARGET_LOG=n
CONFIG_IMX8MM_THERMAL=n
CONFIG_XEN_FBDEV_FRONTEND=n
CONFIG_COMMON_CLK_MT8186_IMGSYS=n
CONFIG_ARM_SCPI_CPUFREQ=n
CONFIG_MFD_SYSCON=n
CONFIG_HAS_IOMEM=n
CONFIG_REGULATOR_QCOM_SMD_RPM=n
CONFIG_TI_K3_PSIL=n
CONFIG_MMC_SDHCI_OF_ESDHC=n
CONFIG_DW_APB_TIMER=n
CONFIG_PINCTRL_RZV2M=n
CONFIG_QCOM_APR=n
CONFIG_INOTIFY_USER=n
CONFIG_TRACE_CLOCK=n
CONFIG_PINCTRL_QCS615=n
CONFIG_DEVTMPFS_MOUNT=n
CONFIG_ARCH_DMA_ADDR_T_64BIT=n
CONFIG_FSL_XGMAC_MDIO=n
CONFIG_FUNCTION_ALIGNMENT_4B=n
CONFIG_COMMON_CLK_APPLE_NCO=n
CONFIG_LEDS_QCOM_LPG=n
CONFIG_DRM_RZG2L_USE_MIPI_DSI=n
CONFIG_IWLMVM=n
CONFIG_EFI_VARS_PSTORE=n
CONFIG_QCOM_SPMI_ADC_TM5=n
CONFIG_ARCH_HAS_ELF_RANDOMIZE=n
CONFIG_PINCTRL_MESON8_PMX=n
CONFIG_DWMAC_QCOM_ETHQOS=n
CONFIG_EPOLL=n
CONFIG_SPI_SH_MSIOF=n
CONFIG_NVMEM_SNVS_LPGPR=n
CONFIG_SCSI_SAS_LIBSAS=n
CONFIG_DRM_V3D=n
CONFIG_MTD_SPI_NOR_USE_4K_SECTORS=n
CONFIG_KEYBOARD_MTK_PMIC=n
CONFIG_NET_VENDOR_DAVICOM=n
CONFIG_QCOM_AOSS_QMP=n
CONFIG_CPU_FREQ_STAT=n
CONFIG_TPS6594_PFSM=n
CONFIG_PINCTRL_PFC_R8A77970=n
CONFIG_MTK_SVS=n
CONFIG_XZ_DEC_ARM64=n
CONFIG_NET_CLS_FLOWER=n
CONFIG_TOUCHSCREEN_ELAN=n
CONFIG_NVMEM_SYSFS=n
CONFIG_REGULATOR_ROHM=n
CONFIG_SENSORS_SL28CPLD=n
CONFIG_TEGRA_AHB=n
CONFIG_QCOM_MPM=n
CONFIG_DCACHE_WORD_ACCESS=n
CONFIG_FS_POSIX_ACL=n
CONFIG_RTC_DRV_M41T80=n
CONFIG_USB_DWC3_MESON_G12A=n
CONFIG_UCSI_PMIC_GLINK=n
CONFIG_RD_BZIP2=n
CONFIG_QCOM_L2_PMU=n
CONFIG_K3_DMA=n
CONFIG_PRINTK=n
CONFIG_VEXPRESS_CONFIG=n
CONFIG_RESET_GPIO=n
CONFIG_GENERIC_STRNLEN_USER=n
CONFIG_MFD_DA9062=n
CONFIG_SMSC911X=n
CONFIG_TRANSPARENT_HUGEPAGE=n
CONFIG_TRANS_TABLE=n
CONFIG_MEDIA_TUNER_MC44S803=n
CONFIG_MESON_GXL_PHY=n
CONFIG_DRM_SCHED=n
CONFIG_DRM_TOSHIBA_TC358768=n
CONFIG_NET_VENDOR_MARVELL=n
CONFIG_DEBUG_INFO_DWARF_TOOLCHAIN_DEFAULT=n
CONFIG_SUNRPC_BACKCHANNEL=n
CONFIG_SC_GPUCC_8280XP=n
CONFIG_PHY_XILINX_ZYNQMP=n
CONFIG_DRM_CLIENT_DEFAULT_FBDEV=n
CONFIG_DRM_IMX8MP_HDMI_PAI=n
CONFIG_QRTR=n
CONFIG_ARM64_HAFT=n
CONFIG_SYS_SUPPORTS_SH_CMT=n
CONFIG_USB_DWC3_EXYNOS=n
CONFIG_BCM2835_MBOX=n
CONFIG_RPCSEC_GSS_KRB5=n
CONFIG_SND_SUN8I_ADDA_PR_REGMAP=n
CONFIG_ARM_TEGRA186_CPUFREQ=n
CONFIG_MTD_NAND_BRCMNAND=n
CONFIG_MTD_NAND_BRCMNAND_BCMBCA=n
CONFIG_ARCH_HAS_SYNC_DMA_FOR_CPU=n
CONFIG_TYPEC_MUX_FSA4480=n
CONFIG_NET_SCH_CBS=n
CONFIG_AS_HAS_ARMV8_5=n
CONFIG_REGULATOR_BD9571MWV=n
CONFIG_MFD_MT6397=n
CONFIG_TCG_TIS_CORE=n
CONFIG_NVMEM_RMEM=n
CONFIG_BT_HCIUART_LL=n
CONFIG_64BIT=n
CONFIG_PCI_SYSCALL=n
CONFIG_MTD_CFI_ADV_OPTIONS=n
CONFIG_QCS_GPUCC_615=n
CONFIG_SM_GCC_4450=n
CONFIG_CLZ_TAB=n
CONFIG_QCOM_HFPLL=n
CONFIG_ARCH_TEGRA_234_SOC=n
CONFIG_MEDIA_CAMERA_SUPPORT=n
CONFIG_COMMON_CLK_MESON_PLL=n
CONFIG_DRM_MEDIATEK_HDMI_COMMON=n
CONFIG_USB_NET_CDC_SUBSET=n
CONFIG_RZ_MTU3_CNT=n
CONFIG_KUSER_HELPERS=n
CONFIG_CLK_OWL_S900=n
CONFIG_SND_MESON_G12A_TOHDMITX=n
CONFIG_PWM_APPLE=n
CONFIG_RTC_DRV_EFI=n
CONFIG_USB_DWC3_KEYSTONE=n
CONFIG_I2C_HID_ACPI=n
CONFIG_SND_SOC_TEGRA210_MIXER=n
CONFIG_SND_SOC_RT5514_SPI=n
CONFIG_SND_SOC_LPASS_HDMI=n
CONFIG_MEMREGION=n
CONFIG_SWAP=n
CONFIG_NF_DEFRAG_IPV6=n
CONFIG_COMMON_CLK_MT8192_VDECSYS=n
CONFIG_USB_RTL8153_ECM=n
CONFIG_USB_F_NCM=n
CONFIG_CLK_IMX8MQ=n
CONFIG_CLK_RV1126B=n
CONFIG_TEGRA186_TIMER=n
CONFIG_VIDEOMODE_HELPERS=n
CONFIG_CLK_BCM2711_DVP=n
CONFIG_SATA_AHCI_PLATFORM=n
CONFIG_MODULE_UNLOAD=n
CONFIG_BT_HCIBTUSB_MTK=n
CONFIG_MOUSE_PS2_BYD=n
CONFIG_MMC_DW_PLTFM=n
CONFIG_PINCTRL_QCS404=n
CONFIG_PHY_ROCKCHIP_INNO_DSIDPHY=n
CONFIG_CLKSRC_STM32_LP=n
CONFIG_VIDEO_MESON_VDEC=n
CONFIG_NF_CONNTRACK=n
CONFIG_PINCTRL_TEGRA186=n
CONFIG_MLX5_HW_STEERING=n
CONFIG_DMA_SHARED_BUFFER=n
CONFIG_SPI_ORION=n
CONFIG_OF_IRQ=n
CONFIG_PWM_TEGRA=n
CONFIG_DRM_PANEL_SAMSUNG_ATNA33XC20=n
CONFIG_STACKPROTECTOR_PER_TASK=n
CONFIG_BT_BREDR=n
CONFIG_ARCH_USE_QUEUED_SPINLOCKS=n
CONFIG_SCSI_HISI_SAS=n
CONFIG_MFD_ADP5585=n
CONFIG_ARCH_RCAR_GEN3=n
CONFIG_HAVE_SHARED_GPIOS=n
CONFIG_REGULATOR_FIXED_VOLTAGE=n
CONFIG_CLK_UNIPHIER=n
CONFIG_VFIO_PCI=n
CONFIG_NET_CORE=n
CONFIG_DRM_PANEL_NOVATEK_NT36672E=n
CONFIG_SUN50I_A100_CCU=n
CONFIG_ARCH_HAS_PKEYS=n
CONFIG_PINCTRL_SC8280XP=n
CONFIG_IMX_GPCV2_PM_DOMAINS=n
CONFIG_QCOM_CLK_APCS_MSM8916=n
CONFIG_DRM_RCAR_USE_CMM=n
CONFIG_INTEGRITY_AUDIT=n
CONFIG_ARCH_HAS_DEBUG_WX=n
CONFIG_MEDIATEK_WATCHDOG=n
CONFIG_RESET_IMX7=n
CONFIG_RTC_DRV_BQ32K=n
CONFIG_RATIONAL=n
CONFIG_APPLE_SART=n
CONFIG_SND_SOC_PCM3168A_I2C=n
CONFIG_ARM64_ERRATUM_3117295=n
CONFIG_CROS_EC_LIGHTBAR=n
CONFIG_SPMI_MSM_PMIC_ARB=n
CONFIG_DRM_PANEL_BRIDGE=n
CONFIG_CLK_R9A07G054=n
CONFIG_HAVE_ARCH_SECCOMP_FILTER=n
CONFIG_NET_FLOW_LIMIT=n
CONFIG_DVB_DYNAMIC_MINORS=n
CONFIG_RANDOMIZE_KSTACK_OFFSET=n
CONFIG_PINCTRL_AMLOGIC_C3=n
CONFIG_VIDEO_RENESAS_FDP1=n
CONFIG_CRYPTO_LIB_AES=n
CONFIG_MTD_CFI_INTELEXT=n
CONFIG_DRM_CDNS_MHDP8546=n
CONFIG_CLK_R8A77990=n
CONFIG_RZ_DMAC=n
CONFIG_HAVE_POSIX_CPU_TIMERS_TASK_WORK=n
CONFIG_CC_HAS_INT128=n
CONFIG_SND_SOC_WM8960=n
CONFIG_DRM_RCAR_LVDS=n
CONFIG_HAVE_RUST=n
CONFIG_ARCH_SUPPORTS_ATOMIC_RMW=n
CONFIG_OF_RESERVED_MEM=n
CONFIG_ARCH_XGENE=n
CONFIG_SUNXI_WATCHDOG=n
CONFIG_PHY_EXYNOS5_USBDRD=n
CONFIG_USB_NET_AX88179_178A=n
CONFIG_ASYMMETRIC_PUBLIC_KEY_SUBTYPE=n
CONFIG_BLK_DEV_SD=n
CONFIG_MTD_UBI=n
CONFIG_CLK_QCM2290_GPUCC=n
CONFIG_NF_CT_PROTO_SCTP=n
CONFIG_CGROUP_PERF=n
CONFIG_TI_K3_R5_REMOTEPROC=n
CONFIG_USB_RZV2M_USB3DRD=n
CONFIG_RESET_RASPBERRYPI=n
CONFIG_QCOM_WDT=n
CONFIG_I2C_BCM_IPROC=n
CONFIG_CLK_R9A07G044=n
CONFIG_SND_SOC_TEGRA210_AMX=n
CONFIG_SND_SOC_ADAU7002=n
CONFIG_UNMAP_KERNEL_AT_EL0=n
CONFIG_SUN20I_PPU=n
CONFIG_GPIO_REGMAP=n
CONFIG_RFKILL_INPUT=n
CONFIG_POSIX_MQUEUE_SYSCTL=n
CONFIG_MTD_GEN_PROBE=n
CONFIG_MESON_SECURE_PM_DOMAINS=n
CONFIG_ROOT_NFS=n
CONFIG_PCI_PWRCTRL_TC9563=n
CONFIG_USB_EHCI_HCD=n
CONFIG_DEBUG_BUGVERBOSE=n
CONFIG_BCM_NS_THERMAL=n
CONFIG_ARCH_HAS_SYNC_DMA_FOR_DEVICE=n
