CONFIG_E1000E=n
CONFIG_ZSTD_COMMON=n
CONFIG_VIRTIO_ANCHOR=n
CONFIG_FB_DEVICE=n
CONFIG_ARCH_USE_CMPXCHG_LOCKREF=n
CONFIG_DRM_SUN4I=n
CONFIG_CLK_SOPHGO_SG2042_PLL=n
CONFIG_DEVMEM=n
CONFIG_EXECMEM=n
CONFIG_FHANDLE=n
CONFIG_MODULE_UNLOAD=n
CONFIG_WATCHDOG=n
CONFIG_SUNXI_WATCHDOG=n
CONFIG_KVM_MMIO=n
CONFIG_NEED_TASKS_RCU=n
CONFIG_ARCH_HAS_MMIOWB=n
CONFIG_PCIEASPM=n
CONFIG_KERNFS=n
CONFIG_ARCH_WANT_FRAME_POINTERS=n
CONFIG_NET_VENDOR_AMD=n
CONFIG_ARCH_HAS_DMA_PREP_COHERENT=n
CONFIG_PROC_MEM_FORCE_PTRACE=n
CONFIG_UNIX=n
CONFIG_USB_CONFIGFS_MASS_STORAGE=n
CONFIG_HRTIMER_REARM_DEFERRED=n
CONFIG_MTD_CFI_I2=n
CONFIG_NET_VENDOR_3COM=n
CONFIG_NFS_V4_2_READ_PLUS=n
CONFIG_STANDALONE=n
CONFIG_DECOMPRESS_LZ4=n
CONFIG_ACPI_CPPC_LIB=n
CONFIG_IPV6_SIT=n
CONFIG_PCI_DOMAINS=n
CONFIG_PCI_HOST_GENERIC=n
CONFIG_WLAN_VENDOR_INTEL=n
CONFIG_LZO_COMPRESS=n
CONFIG_MMC_SDHCI=n
CONFIG_IOMMU_SUPPORT=n
CONFIG_DRM_DW_HDMI=n
CONFIG_GENERIC_PHY=n
CONFIG_SATA_PMP=n
CONFIG_ARCH_SUPPORTS_KEXEC_FILE=n
CONFIG_DEBUG_FS=n
CONFIG_GENERIC_CSUM=n
CONFIG_RISCV_SBI=n
CONFIG_MTD_SPI_NOR=n
CONFIG_PINCTRL_SUN20I_D1=n
CONFIG_DRM_EXEC=n
CONFIG_MEDIA_SUPPORT=n
CONFIG_CGROUP_DEVICE=n
CONFIG_HAVE_GENERIC_VDSO=n
CONFIG_GENERIC_IRQ_MATRIX_ALLOCATOR=n
CONFIG_USB_CONFIGFS_SERIAL=n
CONFIG_HAVE_KVM_DIRTY_RING=n
CONFIG_PHYLIB=n
CONFIG_NET_VENDOR_ASIX=n
CONFIG_NET_VENDOR_CAVIUM=n
CONFIG_STARFIVE_WATCHDOG=n
CONFIG_ARCH_RV64I=n
CONFIG_RESET_K230=n
CONFIG_NF_LOG_IPV4=n
CONFIG_HOTPLUG_CORE_SYNC_FULL=n
CONFIG_NET_VENDOR_ENGLEDER=n
CONFIG_MMC_SDHCI_PLTFM=n
CONFIG_PAGE_MAPCOUNT=n
CONFIG_PINCTRL_SUNXI=n
CONFIG_CC_IS_GCC=n
CONFIG_ARCH_SUPPORTS_SCHED_MC=n
CONFIG_SECURITY_SELINUX=n
CONFIG_MD=n
CONFIG_IOSCHED_BFQ=n
CONFIG_PROBE_EVENTS=n
CONFIG_SSB_POSSIBLE=n
CONFIG_DWMAC_SOPHGO=n
CONFIG_VIRTIO_PCI_LIB_LEGACY=n
CONFIG_RISCV_ISA_V=n
CONFIG_PHY_STARFIVE_JH7110_PCIE=n
CONFIG_EEPROM_93CX6=n
CONFIG_NET_VENDOR_ADI=n
CONFIG_SERIAL_8250_DW=n
CONFIG_ARCH_HAS_SYNC_CORE_BEFORE_USERMODE=n
CONFIG_GENERIC_IRQ_SHOW_LEVEL=n
CONFIG_PCI_ECAM=n
CONFIG_PREVENT_FIRMWARE_BUILD=n
CONFIG_SLAB_OBJ_EXT=n
CONFIG_USB_GADGET=n
CONFIG_BLK_CGROUP_PUNT_BIO=n
CONFIG_MMC_SPI=n
CONFIG_HOTPLUG_CORE_SYNC_DEAD=n
CONFIG_ARCH_HIBERNATION_POSSIBLE=n
CONFIG_MFD_SYSCON=n
CONFIG_ERRATA_THEAD_CMO=n
CONFIG_KALLSYMS=n
CONFIG_QUEUED_SPINLOCKS=n
CONFIG_DRM_TTM=n
CONFIG_STMMAC_ETH=n
CONFIG_RTC_CLASS=n
CONFIG_SND_SPI=n
CONFIG_DECOMPRESS_LZO=n
CONFIG_USB_CONFIGFS_EEM=n
CONFIG_HAVE_ALIGNED_STRUCT_PAGE=n
CONFIG_PINCTRL_STARFIVE_JH7100=n
CONFIG_NET_VENDOR_WIZNET=n
CONFIG_SPI_DYNAMIC=n
CONFIG_SYSVIPC_SYSCTL=n
CONFIG_TOOLCHAIN_HAS_ZBC=n
CONFIG_ARCH_HAS_VDSO_ARCH_DATA=n
CONFIG_PAGE_POOL=n
CONFIG_SOCK_CGROUP_DATA=n
CONFIG_RESET_TENSTORRENT_ATLANTIS=n
CONFIG_NET_VENDOR_MICROCHIP=n
CONFIG_RISCV_PMU_LEGACY=n
CONFIG_CACHEMAINT_FOR_DMA=n
CONFIG_SUN50I_IOMMU=n
CONFIG_USER_STACKTRACE_SUPPORT=n
CONFIG_ARCH_HAS_SETUP_DMA_OPS=n
CONFIG_RISCV_DMA_NONCOHERENT=n
CONFIG_SUN6I_RTC_CCU=n
CONFIG_HOTPLUG_CPU=n
CONFIG_DRM_NOUVEAU_SIL164=n
CONFIG_SYSVIPC_COMPAT=n
CONFIG_RISCV_ISA_VENDOR_EXT=n
CONFIG_LIBNVDIMM=n
CONFIG_NET_VENDOR_QUALCOMM=n
CONFIG_USB_DEFAULT_PERSIST=n
CONFIG_NET_VENDOR_CISCO=n
CONFIG_NET_SCHED=n
CONFIG_SECURITY_APPARMOR_HASH=n
CONFIG_GENERIC_SYSCALL=n
CONFIG_BLK_CGROUP_RWSTAT=n
CONFIG_VHOST_MENU=n
CONFIG_TENSTORRENT_ATLANTIS_PRCM=n
CONFIG_SELECT_MEMORY_MODEL=n
CONFIG_INPUT_KEYBOARD=n
CONFIG_GENERIC_ENTRY=n
CONFIG_CPU_FREQ_DEFAULT_GOV_PERFORMANCE=n
CONFIG_ACPI_SPCR_TABLE=n
CONFIG_NET_VENDOR_QLOGIC=n
CONFIG_CLK_SOPHGO_CV1800=n
CONFIG_OVERLAY_FS=n
CONFIG_ARCH_HAS_MEMBARRIER_SYNC_CORE=n
CONFIG_POWER_SUPPLY=n
CONFIG_CC_HAS_AUTO_VAR_INIT_PATTERN=n
CONFIG_CRYPTO_ENGINE=n
CONFIG_FRAMEBUFFER_CONSOLE=n
CONFIG_IPV6_NDISC_NODETYPE=n
CONFIG_ARCH_HAS_FORTIFY_SOURCE=n
CONFIG_USB_XHCI_PLATFORM=n
CONFIG_ACPI_CPPC_CPUFREQ_FIE=n
CONFIG_DM_BIO_PRISON=n
CONFIG_MTD_CFI_NOSWAP=n
CONFIG_FIXED_PHY=n
CONFIG_SND_VERBOSE_PROCFS=n
CONFIG_SCHED_HRTICK=n
CONFIG_HIGH_RES_TIMERS=n
CONFIG_PCIE_DW=n
CONFIG_DRM_CLIENT_SELECTION=n
CONFIG_CRYPTO_MANAGER=n
CONFIG_PINCTRL_STARFIVE_JH7110_AON=n
CONFIG_THREAD_INFO_IN_TASK=n
CONFIG_RISCV_ISA_SUPM=n
CONFIG_MFD_SIMPLE_MFD_I2C=n
CONFIG_DAX=n
CONFIG_PCIE_SPACEMIT_K1=n
CONFIG_SCSI_VIRTIO=n
CONFIG_ACPI_PCC=n
CONFIG_DMA_COHERENT_POOL=n
CONFIG_VIRTIO_MENU=n
CONFIG_LD_CAN_USE_KEEP_IN_OVERLAY=n
CONFIG_USB_F_SERIAL=n
CONFIG_GENERIC_PT=n
CONFIG_ARCH_ANDES=n
CONFIG_RISCV_PROBE_UNALIGNED_ACCESS=n
CONFIG_PT_RECLAIM=n
CONFIG_ARCH_HAS_KCOV=n
CONFIG_MMC_DW=n
CONFIG_USB_CDNS3_GADGET=n
CONFIG_MODULES=n
CONFIG_NET_VENDOR_SYNOPSYS=n
CONFIG_OF_PMEM=n
CONFIG_PINCTRL_SOPHGO_CV1812H=n
CONFIG_CRYPTO_HASH=n
CONFIG_HAVE_ARCH_TRACEHOOK=n
CONFIG_ARCH_HAS_STRICT_MODULE_RWX=n
CONFIG_NET_VENDOR_ATHEROS=n
CONFIG_INIT_STACK_ALL_ZERO=n
CONFIG_DRM_TTM_HELPER=n
CONFIG_NETFILTER_BPF_LINK=n
CONFIG_CLK_SIFIVE_PRCI=n
CONFIG_VM_EVENT_COUNTERS=n
CONFIG_NETLINK_DIAG=n
CONFIG_GENERIC_PENDING_IRQ=n
CONFIG_ADVISE_SYSCALLS=n
CONFIG_OF_IOMMU=n
CONFIG_DRM=n
CONFIG_UPROBE_EVENTS=n
CONFIG_NFS_DISABLE_UDP_SUPPORT=n
CONFIG_SLAB_MERGE_DEFAULT=n
CONFIG_USB_PCI=n
CONFIG_CRYPTO_HASH2=n
CONFIG_VIDEO_V4L2_SUBDEV_API=n
CONFIG_CAN_NETLINK=n
CONFIG_DNOTIFY=n
CONFIG_MOUSE_PS2_CYPRESS=n
CONFIG_CRYPTO_CTR=n
CONFIG_SPI_SIFIVE=n
CONFIG_CPU_FREQ_GOV_ATTR_SET=n
CONFIG_HAVE_ARCH_KGDB=n
CONFIG_CRYPTO_AEAD2=n
CONFIG_IP_PNP=n
CONFIG_MMC_DW_PLTFM=n
CONFIG_BALLOON_MIGRATION=n
CONFIG_PWM_PXA=n
CONFIG_VDSO_GETRANDOM=n
CONFIG_BLK_DEV_LOOP=n
CONFIG_R8169=n
CONFIG_NET_VENDOR_SPACEMIT=n
CONFIG_NET_VENDOR_MARVELL=n
CONFIG_ARCH_HAS_DEBUG_WX=n
CONFIG_OF_EARLY_FLATTREE=n
CONFIG_SPARSEMEM_VMEMMAP_ENABLE=n
CONFIG_DECOMPRESS_BZIP2=n
CONFIG_XZ_DEC_RISCV=n
CONFIG_ARCH_WEAK_RELEASE_ACQUIRE=n
CONFIG_DMADEVICES=n
CONFIG_DWMAC_SPACEMIT=n
CONFIG_ACPI_RIMT=n
CONFIG_IP_MULTICAST=n
CONFIG_SND_SIMPLE_CARD=n
CONFIG_BUG=n
CONFIG_NETFILTER_XT_MATCH_CONNTRACK=n
CONFIG_HW_RANDOM=n
CONFIG_BPF_SYSCALL=n
CONFIG_SND_SOC_GENERIC_DMAENGINE_PCM=n
CONFIG_OF=n
CONFIG_GENERIC_EARLY_IOREMAP=n
CONFIG_NET_CLS=n
CONFIG_AUDIT=n
CONFIG_GENERIC_BUG=n
CONFIG_POSIX_CPU_TIMERS_TASK_WORK=n
CONFIG_NET_CLS_CGROUP=n
CONFIG_NETFILTER_XT_MATCH_ADDRTYPE=n
CONFIG_XZ_DEC_POWERPC=n
CONFIG_SND_SOC_SPDIF=n
CONFIG_USB_CDNS3=n
CONFIG_CRYPTO_RSA=n
CONFIG_RCU_STALL_COMMON=n
CONFIG_AIO=n
CONFIG_RFS_ACCEL=n
CONFIG_RISCV_RPMI_SYSMSI=n
CONFIG_NET_VENDOR_MICREL=n
CONFIG_PROC_FS=n
CONFIG_TOOLCHAIN_HAS_V=n
CONFIG_CC_HAS_ZERO_CALL_USED_REGS=n
CONFIG_BCMA_POSSIBLE=n
CONFIG_NFS_USE_KERNEL_DNS=n
CONFIG_MACB=n
CONFIG_RISCV_ISA_XTHEADVECTOR=n
CONFIG_NET_VENDOR_SILAN=n
CONFIG_SECCOMP=n
CONFIG_POLARFIRE_SOC_IRQ_MUX=n
CONFIG_INET_TUNNEL=n
CONFIG_IKCONFIG=n
CONFIG_MMC=n
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE=n
CONFIG_IOMMU_PT=n
CONFIG_GENERIC_IRQ_MULTI_HANDLER=n
CONFIG_VMAP_STACK=n
CONFIG_DWMAC_SUN55I=n
CONFIG_BALLOON=n
CONFIG_PROFILING=n
CONFIG_RATIONAL=n
CONFIG_SHMEM=n
CONFIG_DRM_CLIENT=n
CONFIG_USB_MUSB_DUAL_ROLE=n
CONFIG_SERIO_SERPORT=n
CONFIG_USB_CONFIGFS_RNDIS=n
CONFIG_ARCH_SUPPORTS_MSEAL_SYSTEM_MAPPINGS=n
CONFIG_TMPFS_XATTR=n
CONFIG_GROUP_SCHED_BANDWIDTH=n
CONFIG_RTC_DRV_GOLDFISH=n
CONFIG_NFS_FS=n
CONFIG_SUN20I_D1_R_CCU=n
CONFIG_MFD_AXP20X=n
CONFIG_DRM_PANEL=n
CONFIG_COMMON_CLK=n
CONFIG_ARCH_WANTS_NO_INSTR=n
CONFIG_NFS_V4_0=n
CONFIG_GLOB=n
CONFIG_RTC_INTF_PROC=n
CONFIG_HAVE_KERNEL_LZMA=n
CONFIG_HAVE_PERF_REGS=n
CONFIG_USER_NS=n
CONFIG_CPUFREQ_DT_PLATDEV=n
CONFIG_ACPI_AC=n
CONFIG_CC_HAS_ASM_INLINE=n
CONFIG_GENERIC_PHY_MIPI_DPHY=n
CONFIG_DRM_DISPLAY_HDMI_HELPER=n
CONFIG_EFI_EARLYCON=n
CONFIG_CRC_CCITT=n
