CONFIG_VIDEOBUF2_DMA_CONTIG=n
CONFIG_EXYNOS_ACPM_CLK=n
CONFIG_COMMON_CLK_MT8365_CAM=n
CONFIG_PINCTRL_IPQ9574=n
CONFIG_9P_FS=n
CONFIG_SND_SOC_WCD939X=n
CONFIG_ARCH_KEEP_MEMBLOCK=n
CONFIG_USB_SERIAL_WWAN=n
CONFIG_DVB_DYNAMIC_MINORS=n
CONFIG_I2C_EXYNOS5=n
CONFIG_SPARSE_IRQ=n
CONFIG_NET_VENDOR_MICROSOFT=n
CONFIG_CPU_FREQ_GOV_CONSERVATIVE=n
CONFIG_IMX_SCU=n
CONFIG_USB_OTG=n
CONFIG_RTC_DRV_PM8XXX=n
CONFIG_TEGRA_CLK_DFLL=n
CONFIG_DRM_EXYNOS_HDMI=n
CONFIG_SUN55I_A523_MCU_CCU=n
CONFIG_SCSI_UFS_MEDIATEK=n
CONFIG_USB_EHCI_BRCMSTB=n
CONFIG_NET_VENDOR_META=n
CONFIG_CLK_R8A779A0=n
CONFIG_SERIAL_8250_DWLIB=n
CONFIG_CPU_FREQ_GOV_USERSPACE=n
CONFIG_FSL_ENETC_VF=n
CONFIG_CRYPTO_HASH_INFO=n
CONFIG_USB_NET_NET1080=n
CONFIG_RTC_SYSTOHC=n
CONFIG_MEMORY=n
CONFIG_VIDEO_HANTRO_IMX8M=n
CONFIG_CLK_RK3588=n
CONFIG_OVERLAY_FS_REDIRECT_ALWAYS_FOLLOW=n
CONFIG_ARM_SMMU_QCOM=n
CONFIG_PHY_FSL_IMX8M_PCIE=n
CONFIG_TI_SCI_INTR_IRQCHIP=n
CONFIG_GPIO_MAX732X=n
CONFIG_PCIE_VISCONTI_HOST=n
CONFIG_DRM_PANEL_NOVATEK_NT36672E=n
CONFIG_NET_VENDOR_CORTINA=n
CONFIG_BPF=n
CONFIG_SERIAL_FSL_LINFLEXUART=n
CONFIG_RSI_USB=n
CONFIG_IMX8MM_THERMAL=n
CONFIG_IIO_CROS_EC_SENSORS_CORE=n
CONFIG_MEMFD_CREATE=n
CONFIG_I2C_BRCMSTB=n
CONFIG_USB_DWC3_EXYNOS=n
CONFIG_CACHESTAT_SYSCALL=n
CONFIG_HOTPLUG_SMT=n
CONFIG_RZG3S_THERMAL=n
CONFIG_WLAN_VENDOR_ZYDAS=n
CONFIG_HAVE_KVM_IRQ_ROUTING=n
CONFIG_CC_NO_STRINGOP_OVERFLOW=n
CONFIG_PINCTRL_SC7180=n
CONFIG_ARCH_R8A774B1=n
CONFIG_CRYPTO_DEV_FSL_CAAM_CRYPTO_API_DESC=n
CONFIG_AUDIT_COMPAT_GENERIC=n
CONFIG_CRC8=n
CONFIG_ARM64_CNP=n
CONFIG_NFS_V3=n
CONFIG_ENA_ETHERNET=n
CONFIG_ARCH_HAS_TICK_BROADCAST=n
CONFIG_TRANS_TABLE=n
CONFIG_STP=n
CONFIG_NET_VENDOR_MUCSE=n
CONFIG_ACPI_APEI_EINJ=n
CONFIG_PCIE_LAYERSCAPE_GEN4=n
CONFIG_PHY_CADENCE_SIERRA=n
CONFIG_COMMON_CLK_SAMSUNG=n
CONFIG_CLK_RENESAS=n
CONFIG_CIX_MBOX=n
CONFIG_APPLE_MAILBOX=n
CONFIG_COMMON_CLK_MT8196=n
CONFIG_ARCH_SUSPEND_POSSIBLE=n
CONFIG_SOCIONEXT_SYNQUACER_PREITS=n
CONFIG_SYSC_RCAR=n
CONFIG_SND_SOC_RZ=n
CONFIG_PINCTRL_SM8350=n
CONFIG_DRM_DW_DP=n
CONFIG_HWSPINLOCK=n
CONFIG_CPUFREQ_DT=n
CONFIG_CRYPTO_DEV_QCOM_RNG=n
CONFIG_PINCTRL_MT6765=n
CONFIG_QRTR_TUN=n
CONFIG_DEVFREQ_EVENT_ROCKCHIP_DFI=n
CONFIG_BCM54140_PHY=n
CONFIG_COMMON_CLK_HI3660=n
CONFIG_IPQ_APSS_6018=n
CONFIG_PINCTRL_MILOS_LPASS_LPI=n
CONFIG_IOMMU_SUPPORT=n
CONFIG_INPUT_PM8XXX_VIBRATOR=n
CONFIG_RESET_TEGRA_BPMP=n
CONFIG_RPS=n
CONFIG_MTD_NAND_DENALI=n
CONFIG_MIGRATION=n
CONFIG_USB_RTL8152=n
CONFIG_QCOM_PD_MAPPER=n
CONFIG_PINCTRL_APPLE_GPIO=n
CONFIG_SND_SOC_SOF_XTENSA=n
CONFIG_SM_DISPCC_8450=n
CONFIG_ATH10K_PCI=n
CONFIG_TYPEC_QCOM_PMIC=n
CONFIG_USB_NET_SMSC95XX=n
CONFIG_TEGRA210_ADMA=n
CONFIG_CLK_RENESAS_DIV6=n
CONFIG_DRM_MEDIATEK_HDMI_V2=n
CONFIG_HAVE_RSEQ=n
CONFIG_PINCTRL_RP1=n
CONFIG_GPIO_TEGRA=n
CONFIG_HID_MULTITOUCH=n
CONFIG_HIBERNATE_CALLBACKS=n
CONFIG_PHY_PACKAGE=n
CONFIG_OWL_PM_DOMAINS=n
CONFIG_GPIO_ZYNQMP_MODEPIN=n
CONFIG_HID_GENERIC=n
CONFIG_COMMON_CLK_MT8195_APUSYS=n
CONFIG_UNIX98_PTYS=n
CONFIG_SND_MESON_AXG_TDM_FORMATTER=n
CONFIG_PINCTRL_ARMADA_CP110=n
CONFIG_TESLA_FSD_COMMON_CLK=n
CONFIG_DRM_PANEL_SIMPLE=n
CONFIG_SND_SOC_MT8192=n
CONFIG_SND_SOC_QDSP6_APM_DAI=n
CONFIG_CLK_R9A07G043=n
CONFIG_GENERIC_CPU_DEVICES=n
CONFIG_CRYPTO_LIB_SM3_ARCH=n
CONFIG_RENESAS_RZG2L_IRQC=n
CONFIG_ARM_CCI=n
CONFIG_RENESAS_ETHER_SWITCH=n
CONFIG_TEGRA_HOST1X=n
CONFIG_ARCH_R9A09G011=n
CONFIG_DP83TD510_PHY=n
CONFIG_PWC_RZV2M=n
CONFIG_GPIO_XGENE=n
CONFIG_DRM_MSM_DSI_10NM_PHY=n
CONFIG_ARCH_BRCMSTB=n
CONFIG_GPIO_CDEV=n
CONFIG_MTD_CFI_INTELEXT=n
CONFIG_CRYPTO_LIB_GF128HASH=n
CONFIG_QCOM_NET_PHYLIB=n
CONFIG_ARCH_TEGRA_210_SOC=n
CONFIG_PCIE_PME=n
CONFIG_XEN_SYS_HYPERVISOR=n
CONFIG_COMMON_CLK_ZYNQMP=n
CONFIG_CROS_TYPEC_SWITCH=n
CONFIG_NET_DSA_TAG_OCELOT_8021Q=n
CONFIG_POWER_SUPPLY_HWMON=n
CONFIG_ARCH_MHP_MEMMAP_ON_MEMORY_ENABLE=n
CONFIG_STACKPROTECTOR=n
CONFIG_PINCTRL_SUN8I_H3_R=n
CONFIG_CLK_R9A09G011=n
CONFIG_VIRTIO_NET=n
CONFIG_ARCH_HISI=n
CONFIG_CLK_BCM_NS2=n
CONFIG_BT_MRVL=n
CONFIG_PINCTRL_MVEBU=n
CONFIG_DRM_PANEL_EDP=n
CONFIG_REGULATOR_PF8X00=n
CONFIG_GPIO_TPS65219=n
CONFIG_MFD_RK8XX=n
CONFIG_SND_SOC_ES8328=n
CONFIG_CRYPTO_ENGINE=n
CONFIG_IPV6_SIT=n
CONFIG_CRYPTO_USER_API_ENABLE_OBSOLETE=n
CONFIG_HW_RANDOM_ARM_SMCCC_TRNG=n
CONFIG_SND_SUN8I_CODEC=n
CONFIG_ROCKCHIP_GRF=n
CONFIG_QCOM_IOMMU=n
CONFIG_XILINX_ZYNQMP_DPDMA=n
CONFIG_THUNDER_NIC_PF=n
CONFIG_PHY_ROCKCHIP_TYPEC=n
CONFIG_RANDOMIZE_MODULE_REGION_FULL=n
CONFIG_ARM_SCMI_QUIRKS=n
CONFIG_QUOTA=n
CONFIG_REGULATOR_FAN53555=n
CONFIG_QUEUED_SPINLOCKS=n
CONFIG_BT_HCIUART_MRVL=n
CONFIG_CPU_FREQ=n
CONFIG_ARM64_ERRATUM_1508412=n
CONFIG_NET_DSA_BCM_SF2=n
CONFIG_PNFS_FLEXFILE_LAYOUT=n
CONFIG_CHARGER_MT6360=n
CONFIG_KEYBOARD_IMX_SC_KEY=n
CONFIG_NET_VENDOR_AMD=n
CONFIG_PCS_XPCS=n
CONFIG_SND_SOC_LPASS_PLATFORM=n
CONFIG_INTERCONNECT_QCOM_SA8775P=n
CONFIG_FUSE_FS=n
CONFIG_MLX5_BRIDGE=n
CONFIG_CRYPTO_DEV_FSL_CAAM_PKC_API=n
CONFIG_ACPI_BATTERY=n
CONFIG_KERNFS=n
CONFIG_SIGNALFD=n
CONFIG_PHY_RCAR_GEN3_USB2=n
CONFIG_PINCTRL_SM6115=n
CONFIG_SND_SUN50I_CODEC_ANALOG=n
CONFIG_CRYPTO_MD5=n
CONFIG_USB_CONFIGFS_ECM_SUBSET=n
CONFIG_IWLWIFI=n
CONFIG_LEDS_CLASS_MULTICOLOR=n
CONFIG_RD_LZ4=n
CONFIG_COMMON_CLK_HI3559A=n
CONFIG_QCOM_HFPLL=n
CONFIG_MTK_SCP=n
CONFIG_DRM_ITE_IT66121=n
CONFIG_MFD_VEXPRESS_SYSREG=n
CONFIG_BLK_DEV_MD=n
CONFIG_KSM=n
CONFIG_INTEL_STRATIX10_RSU=n
CONFIG_CLK_X1E80100_DISPCC=n
CONFIG_LOCK_MM_AND_FIND_VMA=n
CONFIG_SND_SOC_QDSP6_APM_LPASS_DAI=n
CONFIG_EDAC_VERSAL=n
CONFIG_SND_SOC_LPASS_SC7180=n
CONFIG_ARCH_ENABLE_SPLIT_PMD_PTLOCK=n
CONFIG_BACKLIGHT_CLASS_DEVICE=n
CONFIG_DRM_SAMSUNG_DSIM=n
CONFIG_USB_CHIPIDEA_NPCM=n
CONFIG_MSM_GCC_8994=n
CONFIG_KEYBOARD_MTK_PMIC=n
CONFIG_CRYPTO_DEV_HISI_SEC2=n
CONFIG_NO_HZ_IDLE=n
CONFIG_BT_INTEL=n
CONFIG_NET_VENDOR_SAMSUNG=n
CONFIG_REGULATOR_QCOM_REFGEN=n
CONFIG_AIROHA_CPU_PM_DOMAIN=n
CONFIG_ARCH_TEGRA=n
CONFIG_GPIO_PL061=n
CONFIG_AUDITSYSCALL=n
CONFIG_CRYPTO_DEFLATE=n
CONFIG_RESET_TI_SCI=n
CONFIG_INET=n
CONFIG_RTC_DRV_S3C=n
CONFIG_CEC_CORE=n
CONFIG_PCIE_QCOM=n
CONFIG_IP_PNP_DHCP=n
CONFIG_PINCTRL_PFC_R8A779H0=n
CONFIG_RFS_ACCEL=n
CONFIG_INTERCONNECT_QCOM_SC8180X=n
CONFIG_CPU_IDLE_MULTIPLE_DRIVERS=n
CONFIG_TI_K3_UDMA_GLUE_LAYER=n
CONFIG_IMX_IRQSTEER=n
CONFIG_QCOM_SPMI_ADC5=n
CONFIG_I2C_IMX_LPI2C=n
CONFIG_NET_ACT_GATE=n
CONFIG_IMX_SCMI_MISC_EXT=n
CONFIG_QCS_CAMCC_615=n
CONFIG_EFI_SOFT_RESERVE=n
CONFIG_USB_CONFIGFS_NCM=n
CONFIG_PINCTRL_TPS6594=n
CONFIG_ARCH_USE_QUEUED_RWLOCKS=n
CONFIG_PINCTRL_PFC_R8A779F0=n
CONFIG_ARM64_AMU_EXTN=n
CONFIG_SERIAL_IMX_EARLYCON=n
CONFIG_IP6_NF_IPTABLES=n
CONFIG_OLD_SIGSUSPEND3=n
CONFIG_CRYPTO_DF80090A=n
CONFIG_SPI_BCM_QSPI=n
CONFIG_LEDS_LM3692X=n
CONFIG_WATCHDOG_CORE=n
CONFIG_DRM_MSM_DSI=n
CONFIG_MFD_TPS6594_I2C=n
CONFIG_VLAN_8021Q_GVRP=n
CONFIG_REGULATOR_MT6358=n
CONFIG_PINCTRL_SUN50I_A100=n
CONFIG_HAVE_PREEMPT_DYNAMIC_KEY=n
CONFIG_QCOM_EMAC=n
CONFIG_COMPAT_BINFMT_ELF=n
CONFIG_DRM_IMX8MP_DW_HDMI_BRIDGE=n
CONFIG_PHYS_ADDR_T_64BIT=n
CONFIG_PINCTRL_UNIPHIER=n
CONFIG_NPCM7XX_TIMER=n
CONFIG_ARM64_POE=n
CONFIG_IO_URING=n
CONFIG_PHY_BCM_SR_PCIE=n
CONFIG_MFD_MAX77759=n
CONFIG_VIDEO_IMX8_ISI=n
CONFIG_CLK_BCM2711_DVP=n
CONFIG_NET_VENDOR_EZCHIP=n
CONFIG_PNFS_FILE_LAYOUT=n
CONFIG_ARCH_RCAR_GEN4=n
CONFIG_VIDEO_RCAR_DRIF=n
CONFIG_APPLE_WATCHDOG=n
CONFIG_MD=n
CONFIG_ARCH_HAS_KERNEL_FPU_SUPPORT=n
CONFIG_CPU_ISOLATION=n
CONFIG_INTERCONNECT_IMX=n
CONFIG_AS_HAS_CFI_NEGATE_RA_STATE=n
CONFIG_PCIE_ROCKCHIP_DW_HOST=n
CONFIG_PINCTRL_AMLOGIC_C3=n
CONFIG_RTC_DRV_RX8581=n
CONFIG_PINCTRL_TEGRA210=n
CONFIG_USB_OHCI_HCD=n
CONFIG_IOMMU_DMA=n
CONFIG_PCIE_RCAR_GEN4=n
CONFIG_VFIO=n
CONFIG_FSL_ENETC_QOS=n
CONFIG_CRYPTO_DEV_TEGRA=n
CONFIG_SENSORS_ARM_SCMI=n
