CONFIG_MACINTOSH_DRIVERS=n
CONFIG_R8169=n
CONFIG_BLK_DEV_MD=n
CONFIG_BLK_DEV_BSG_COMMON=n
CONFIG_ACPI_VIDEO=n
CONFIG_X86_DISABLED_FEATURE_LASS=n
CONFIG_SCSI_DMA=n
CONFIG_X86_AMD_PSTATE=n
CONFIG_CRYPTO_AKCIPHER=n
CONFIG_IPV6=n
CONFIG_NET_VENDOR_I825XX=n
CONFIG_RCU_TRACE=n
CONFIG_VIRTIO_PCI=n
CONFIG_ARCH_SUPPORTS_SCHED_CLUSTER=n
CONFIG_SND_SEQ_HRTIMER_DEFAULT=n
CONFIG_WLAN_VENDOR_RSI=n
CONFIG_HID_SUNPLUS=n
CONFIG_PARAVIRT=n
CONFIG_HW_RANDOM_INTEL=n
CONFIG_SND_DRIVERS=n
CONFIG_PARAVIRT_CLOCK=n
CONFIG_TRACE_IRQFLAGS_NMI_SUPPORT=n
CONFIG_HDMI=n
CONFIG_GCC10_NO_ARRAY_BOUNDS=n
CONFIG_NET_VENDOR_BROCADE=n
CONFIG_ARCH_HAS_KERNEL_FPU_SUPPORT=n
CONFIG_X86_DISABLED_FEATURE_LAM=n
CONFIG_HAVE_ARCH_SECCOMP=n
CONFIG_ARCH_HAS_PTDUMP=n
CONFIG_VIRTIO_DMA_SHARED_BUFFER=n
CONFIG_IP_MULTIPLE_TABLES=n
CONFIG_VMSPLIT_3G=n
CONFIG_CRYPTO_AEAD=n
CONFIG_CPU_SUP_ZHAOXIN=n
CONFIG_MOUSE_PS2_SMBUS=n
CONFIG_CC_HAS_SLS=n
CONFIG_STACKPROTECTOR=n
CONFIG_HAVE_IRQ_TIME_ACCOUNTING=n
CONFIG_NET_VENDOR_HISILICON=n
CONFIG_NETDEVICES=n
CONFIG_IP_PIMSM_V2=n
CONFIG_HAVE_ARCH_KSTACK_ERASE=n
CONFIG_GENERIC_IRQ_PROBE=n
CONFIG_HAS_IOPORT=n
CONFIG_ROOT_NFS=n
CONFIG_XZ_DEC_RISCV=n
CONFIG_M686=n
CONFIG_YENTA_ENE_TUNE=n
CONFIG_ARCH_HAS_GCOV_PROFILE_ALL=n
CONFIG_ACPI_MDIO=n
CONFIG_DRM_PANEL_ORIENTATION_QUIRKS=n
CONFIG_CONTEXT_TRACKING_IDLE=n
CONFIG_NFS_V4=n
CONFIG_SECURITY_SELINUX_BOOTPARAM=n
CONFIG_NET_VENDOR_SIS=n
CONFIG_ATA=n
CONFIG_MMU_GATHER_RCU_TABLE_FREE=n
CONFIG_TOOLS_SUPPORT_RELR=n
CONFIG_UNINLINE_SPIN_UNLOCK=n
CONFIG_USB_OHCI_HCD_PCI=n
CONFIG_MITIGATION_GDS=n
CONFIG_HAVE_ARCH_THREAD_STRUCT_WHITELIST=n
CONFIG_ARCH_SUPPORTS_SCHED_SMT=n
CONFIG_HIBERNATE_CALLBACKS=n
CONFIG_POSIX_CPU_TIMERS_TASK_WORK=n
CONFIG_NET_9P_VIRTIO=n
CONFIG_DEBUG_MEMORY_INIT=n
CONFIG_SND_SEQ_DUMMY=n
CONFIG_PKCS7_MESSAGE_PARSER=n
CONFIG_PROC_SYSCTL=n
CONFIG_SYSTEM_DATA_VERIFICATION=n
CONFIG_FHANDLE=n
CONFIG_NETFILTER_XT_TARGET_NFLOG=n
CONFIG_HW_RANDOM=n
CONFIG_CPU_IDLE_GOV_MENU=n
CONFIG_DRM_I915=n
CONFIG_PREEMPT_COUNT=n
CONFIG_WLAN_VENDOR_INTEL=n
CONFIG_HALTPOLL_CPUIDLE=n
CONFIG_HAVE_MMIOTRACE_SUPPORT=n
CONFIG_ARCH_MIGHT_HAVE_ACPI_PDC=n
CONFIG_SYSVIPC_SYSCTL=n
CONFIG_PERF_EVENTS_INTEL_UNCORE=n
CONFIG_SELECT_MEMORY_MODEL=n
CONFIG_X86_DISABLED_FEATURE_SEV_SNP=n
CONFIG_DM_MIRROR=n
CONFIG_BINFMT_ELF=n
CONFIG_RANDSTRUCT_NONE=n
CONFIG_SATA_PMP=n
CONFIG_NET_FLOW_LIMIT=n
CONFIG_SIGNALFD=n
CONFIG_NETLABEL=n
CONFIG_X86_DEBUGCTLMSR=n
CONFIG_INOTIFY_USER=n
CONFIG_ACPI_REV_OVERRIDE_POSSIBLE=n
CONFIG_SUNRPC_BACKCHANNEL=n
CONFIG_USER_STACKTRACE_SUPPORT=n
CONFIG_YENTA_RICOH=n
CONFIG_ARCH_HAS_NMI_SAFE_THIS_CPU_OPS=n
CONFIG_LZO_DECOMPRESS=n
CONFIG_IPV6_SIT=n
CONFIG_I2C=n
CONFIG_GENERIC_IRQ_MIGRATION=n
CONFIG_STRICT_KERNEL_RWX=n
CONFIG_NEW_LEDS=n
CONFIG_POSIX_TIMERS=n
CONFIG_ASYMMETRIC_PUBLIC_KEY_SUBTYPE=n
CONFIG_WLAN_VENDOR_REALTEK=n
CONFIG_FS_POSIX_ACL=n
CONFIG_PRINTK=n
CONFIG_ARCH_WANTS_NO_INSTR=n
CONFIG_HAVE_PCSPKR_PLATFORM=n
CONFIG_HAVE_KCSAN_COMPILER=n
CONFIG_X86_DISABLED_FEATURE_CALL_DEPTH=n
CONFIG_CFG80211=n
CONFIG_TASK_XACCT=n
CONFIG_HAVE_STACKPROTECTOR=n
CONFIG_PROC_EVENTS=n
CONFIG_USB_DEFAULT_PERSIST=n
CONFIG_USB_PCI_AMD=n
CONFIG_SCHED_MC_PRIO=n
CONFIG_JOLIET=n
CONFIG_INPUT_MISC=n
CONFIG_PATA_MPIIX=n
CONFIG_MITIGATION_RFDS=n
CONFIG_MITIGATION_RETPOLINE=n
CONFIG_DRM_CLIENT_SELECTION=n
CONFIG_GENERIC_STRNCPY_FROM_USER=n
CONFIG_NET_IP_TUNNEL=n
CONFIG_SERIAL_8250_MID=n
CONFIG_NET_RX_BUSY_POLL=n
CONFIG_CC_HAS_ASM_INLINE=n
CONFIG_HAVE_NMI=n
CONFIG_NLS_UTF8=n
CONFIG_IP_PNP_RARP=n
CONFIG_ARCH_HAS_FAST_MULTIPLIER=n
CONFIG_PAGE_SIZE_LESS_THAN_256KB=n
CONFIG_MOUSE_PS2_TRACKPOINT=n
CONFIG_NET_VENDOR_MELLANOX=n
CONFIG_ARCH_CLOCKSOURCE_INIT=n
CONFIG_XFRM_AH=n
CONFIG_NF_NAT_MASQUERADE=n
CONFIG_NET_VENDOR_EZCHIP=n
CONFIG_CRYPTO_ALGAPI=n
CONFIG_HAVE_EBPF_JIT=n
CONFIG_ATA_SFF=n
CONFIG_IA32_FEAT_CTL=n
CONFIG_NEED_PER_CPU_EMBED_FIRST_CHUNK=n
CONFIG_CC_HAS_KASAN_GENERIC=n
CONFIG_USB=n
CONFIG_AS_HAS_NON_CONST_ULEB128=n
CONFIG_SUSPEND_FREEZER=n
CONFIG_NET_VENDOR_RDC=n
CONFIG_PERF_EVENTS=n
CONFIG_EFI_CAPSULE_LOADER=n
CONFIG_NET_VENDOR_EMULEX=n
CONFIG_NVMEM=n
CONFIG_BLK_DEV_DM=n
CONFIG_IOMMU_DMA=n
CONFIG_USB_OHCI_LITTLE_ENDIAN=n
CONFIG_HAVE_ALIGNED_STRUCT_PAGE=n
CONFIG_HID=n
CONFIG_VIRTIO_BLK=n
CONFIG_BINFMT_SCRIPT=n
CONFIG_PID_NS=n
CONFIG_ARCH_HAS_NON_OVERLAPPING_ADDRESS_SPACE=n
CONFIG_HID_TOPSEED=n
CONFIG_DST_CACHE=n
CONFIG_USB_XHCI_PCI=n
CONFIG_HAVE_ARCH_JUMP_LABEL_RELATIVE=n
CONFIG_TASK_DELAY_ACCT=n
CONFIG_ACPI_BUTTON=n
CONFIG_USE_X86_SEG_SUPPORT=n
CONFIG_CGROUP_DEBUG=n
CONFIG_WATCHDOG=n
CONFIG_NET_DEVMEM=n
CONFIG_NFS_USE_KERNEL_DNS=n
CONFIG_STRICT_MODULE_RWX=n
CONFIG_PROBE_EVENTS=n
CONFIG_NF_NAT=n
CONFIG_ARCH_CORRECT_STACKTRACE_ON_KRETPROBE=n
CONFIG_I2C_HID=n
CONFIG_MITIGATION_SSB=n
CONFIG_STACKTRACE_SUPPORT=n
CONFIG_NF_CONNTRACK_FTP=n
CONFIG_NET_CORE=n
CONFIG_SCHED_CLUSTER=n
CONFIG_EFI_STUB=n
CONFIG_NLATTR=n
CONFIG_KEXEC=n
CONFIG_NET_VENDOR_SUN=n
CONFIG_MISC_FILESYSTEMS=n
CONFIG_RTC_SYSTOHC=n
CONFIG_HAVE_DMA_CONTIGUOUS=n
CONFIG_CC_HAS_NAMED_AS=n
CONFIG_HZ_1000=n
CONFIG_9P_FS=n
CONFIG_POSIX_MQUEUE_SYSCTL=n
CONFIG_NFS_COMMON=n
CONFIG_MMU=n
CONFIG_NF_LOG_ARP=n
CONFIG_RTC_MC146818_LIB=n
CONFIG_CRC16=n
CONFIG_IOMMU_SUPPORT=n
CONFIG_MD_BITMAP=n
CONFIG_ARCH_HAS_SET_DIRECT_MAP=n
CONFIG_HID_SUPPORT=n
CONFIG_DNS_RESOLVER=n
CONFIG_VT_CONSOLE_SLEEP=n
CONFIG_ARCH_HAS_CPU_FINALIZE_INIT=n
CONFIG_CGROUP_HUGETLB=n
CONFIG_DECOMPRESS_LZ4=n
CONFIG_MAC80211_LEDS=n
CONFIG_DYNAMIC_SIGFRAME=n
CONFIG_SND=n
CONFIG_PCSPKR_PLATFORM=n
CONFIG_INTEL_TCC=n
CONFIG_NETFILTER_XTABLES=n
CONFIG_DRM_TTM=n
CONFIG_GENERIC_PCI_IOMAP=n
CONFIG_ARCH_HAS_UBSAN=n
CONFIG_GENERIC_IRQ_ENTRY=n
CONFIG_BLK_DEV_LOOP=n
CONFIG_NETFILTER_EGRESS=n
CONFIG_MTRR=n
CONFIG_NETFILTER=n
CONFIG_QUEUED_RWLOCKS=n
CONFIG_CRYPTO_SHA256=n
CONFIG_SERIO_LIBPS2=n
CONFIG_CONNECTOR=n
CONFIG_X86_CHECK_BIOS_CORRUPTION=n
CONFIG_TRACEFS_AUTOMOUNT_DEPRECATED=n
CONFIG_ARCH_VMLINUX_NEEDS_RELOCS=n
CONFIG_NETFILTER_INGRESS=n
CONFIG_X86_32=n
CONFIG_HAS_IOPORT_MAP=n
CONFIG_VT=n
CONFIG_DEVMEM=n
CONFIG_PADATA=n
CONFIG_DRM_DISPLAY_DP_HELPER=n
CONFIG_VIRTIO_PCI_LIB_LEGACY=n
CONFIG_THERMAL=n
CONFIG_WLAN_VENDOR_PURELIFI=n
CONFIG_I2C_ALGOBIT=n
CONFIG_BINARY_PRINTF=n
CONFIG_OID_REGISTRY=n
CONFIG_CRYPTO_ECHAINIV=n
CONFIG_IRQ_WORK=n
CONFIG_CGROUP_PIDS=n
CONFIG_CRC_OPTIMIZATIONS=n
CONFIG_USB_PCI=n
CONFIG_XFRM=n
CONFIG_LEGACY_TIOCSTI=n
CONFIG_INET=n
CONFIG_CC_NO_ARRAY_BOUNDS=n
CONFIG_IP_MULTICAST=n
CONFIG_KEYS=n
CONFIG_MPILIB=n
CONFIG_INPUT_VIVALDIFMAP=n
CONFIG_AUXILIARY_BUS=n
CONFIG_NET_VENDOR_SILAN=n
CONFIG_MODULES_TREE_LOOKUP=n
CONFIG_SECURITY_NETWORK=n
CONFIG_CC_HAS_NO_PROFILE_FN_ATTR=n
CONFIG_BLK_CGROUP_IOCOST=n
CONFIG_PREVENT_FIRMWARE_BUILD=n
CONFIG_PANTHERLORD_FF=n
CONFIG_AUDIT_GENERIC=n
CONFIG_VM_EVENT_COUNTERS=n
CONFIG_ARCH_SPARSEMEM_ENABLE=n
CONFIG_BLK_DEV_INITRD=n
CONFIG_EFI_CAPSULE_QUIRK_QUARK_CSH=n
CONFIG_SCHEDSTATS=n
CONFIG_RELAY=n
CONFIG_X86_DISABLED_FEATURE_SYSCALL32=n
CONFIG_X86_THERMAL_VECTOR=n
CONFIG_SERIAL_8250_DETECT_IRQ=n
CONFIG_NLS_CODEPAGE_437=n
CONFIG_SERIAL_8250_PERICOM=n
CONFIG_HAVE_ATOMIC_IOMAP=n
CONFIG_BLK_PM=n
CONFIG_LZ4_DECOMPRESS=n
CONFIG_NET_VENDOR_STMICRO=n
CONFIG_CRYPTO_HASH=n
CONFIG_NF_DEFRAG_IPV4=n
CONFIG_ARCH_HAS_PTE_SPECIAL=n
CONFIG_HAVE_ACPI_APEI=n
CONFIG_FW_CACHE=n
CONFIG_HAVE_DYNAMIC_FTRACE=n
CONFIG_NEED_SG_DMA_LENGTH=n
CONFIG_FAILOVER=n
CONFIG_GROUP_SCHED_WEIGHT=n
CONFIG_NET_VENDOR_WIZNET=n
CONFIG_HAVE_GUP_FAST=n
CONFIG_HOTPLUG_SPLIT_STARTUP=n
CONFIG_I2C_BOARDINFO=n
CONFIG_LD_IS_BFD=n
CONFIG_HAVE_PV_STEAL_CLOCK_GEN=n
CONFIG_CLKEVT_I8253=n
CONFIG_CGROUP_NET_CLASSID=n
