CONFIG_COMMON_CLK_MT7622=y
CONFIG_GOOGLE_VPD=y
CONFIG_SLIMBUS=y
CONFIG_MFD_CS42L43=y
CONFIG_GENERIC_IRQ_CHIP=y
CONFIG_LCD_LTV350QV=y
CONFIG_TI_LMP92064=y
CONFIG_LEDS_TRIGGER_PATTERN=y
CONFIG_I2C_AXXIA=y
CONFIG_SI7005=y
CONFIG_BCM_PMB=y
CONFIG_NVMEM_SPRD_EFUSE=y
CONFIG_MEMFD_CREATE=y
CONFIG_FSL_FTM_TIMER=y
CONFIG_PWM_BRCMSTB=y
CONFIG_MSA311=y
CONFIG_SPI_HISI_KUNPENG=y
CONFIG_REGULATOR_RTQ2134=y
CONFIG_CLK_BCM_SR=y
CONFIG_PINCTRL_SX150X=y
CONFIG_HWSPINLOCK=y
CONFIG_PROVE_RCU=y
CONFIG_GPIO_ZYNQ=y
CONFIG_DECOMPRESS_LZ4=y
CONFIG_SERIAL_STM32_CONSOLE=y
CONFIG_ARCH_DEFAULT_CRASH_DUMP=y
CONFIG_PWM_MICROCHIP_CORE=y
CONFIG_SM_VIDEOCC_8250=y
CONFIG_BH1780=y
CONFIG_MFD_STW481X=y
CONFIG_FUTEX=y
CONFIG_ASPEED_KCS_IPMI_BMC=y
CONFIG_BMC150_ACCEL_SPI=y
CONFIG_RTC_DRV_PIC32=y
CONFIG_MFD_DA9063=y
CONFIG_CRC7=y
CONFIG_LTO_NONE=y
CONFIG_SH_TIMER_TMU=y
CONFIG_FSL_QMAN_TEST=y
CONFIG_SGL_ALLOC=y
CONFIG_BINFMT_SCRIPT=y
CONFIG_QCOM_SOCINFO=y
CONFIG_I2C_K1=y
CONFIG_COMMON_CLK_MT2712_JPGDECSYS=y
CONFIG_PHY_FSL_IMX8QM_HSIO=y
CONFIG_OF_FPGA_REGION=y
CONFIG_BACKLIGHT_KTD253=y
CONFIG_MSTAR_MSC313_MPLL=y
CONFIG_SPI_KSPI2=y
CONFIG_DEBUG_LOCKDEP=y
CONFIG_QCOM_STATS=y
CONFIG_TI_ADC081C=y
CONFIG_RANDSTRUCT_NONE=y
CONFIG_SPI_AMLOGIC_SPISG=y
CONFIG_PHY_UNIPHIER_USB3=y
CONFIG_ALTERA_STAPL=y
CONFIG_ZOPT2201=y
CONFIG_AIO=y
CONFIG_CLK_MA35D1=y
CONFIG_CLK_KAANAPALI_TCSRCC=y
CONFIG_CLK_NORD_TCSRCC=y
CONFIG_PHY_CADENCE_TORRENT=y
CONFIG_COMMON_CLK_SI544=y
CONFIG_PAGE_SIZE_4KB=y
CONFIG_FPGA_MGR_MICROCHIP_SPI=y
CONFIG_FORCE_NR_CPUS=y
CONFIG_FB_DEFERRED_IO=y
CONFIG_PINCTRL_EXYNOS_ARM64=y
CONFIG_MPU3050=y
CONFIG_PHY_QCOM_USB_HS_28NM=y
CONFIG_CRYPTO_CHACHA20=y
CONFIG_LEDS_ARIEL=y
CONFIG_IMX_SCMI_LMM_DRV=y
CONFIG_PINCTRL_PXA=y
CONFIG_THREAD_INFO_IN_TASK=y
CONFIG_MEMSTICK=y
CONFIG_ARCH_HAS_DMA_PREP_COHERENT=y
CONFIG_BCM63XX_POWER=y
CONFIG_GENERIC_IRQ_DEBUGFS=y
CONFIG_IIO_ST_LSM6DSX_I3C=y
CONFIG_RTC_HCTOSYS=y
CONFIG_I2C_CHARDEV=y
CONFIG_MFD_SY7636A=y
CONFIG_BACKLIGHT_PANDORA=y
CONFIG_RESET_RZV2H_USB2PHY=y
CONFIG_COMMON_CLK_MT8188_VDECSYS=y
CONFIG_HAVE_MOVE_PUD=y
CONFIG_MFD_ARIZONA_I2C=y
CONFIG_PHY_HISTB_COMBPHY=y
CONFIG_AD4170_4=y
CONFIG_MFD_ACT8945A=y
CONFIG_HAVE_CONTEXT_TRACKING_USER=y
CONFIG_PINCTRL_STM32_HDP=y
CONFIG_MEMSTICK_DEBUG=y
CONFIG_GENERIC_SYSCALL=y
CONFIG_SERIAL_8250_MEN_MCB=y
CONFIG_BMI160=y
CONFIG_CGROUP_DMEM=y
CONFIG_LCD_LMS283GF05=y
CONFIG_PINCTRL_IMX93=y
CONFIG_VL53L0X_I2C=y
CONFIG_EXYNOS_USI=y
CONFIG_HAVE_SAMPLE_FTRACE_DIRECT=y
CONFIG_SPI_OMAP24XX=y
CONFIG_CRYPTO_LZ4=y
CONFIG_MB1232=y
CONFIG_PPS_GENERATOR_DUMMY=y
CONFIG_ARCH_WANT_OPTIMIZE_HUGETLB_VMEMMAP=y
CONFIG_TTY=y
CONFIG_MAX31856=y
CONFIG_DMAPOOL_TEST=y
CONFIG_CC_OPTIMIZE_FOR_SIZE=y
CONFIG_EXYNOS_5260_COMMON_CLK=y
CONFIG_MS5637=y
CONFIG_REGULATOR_PF8X00=y
CONFIG_CLK_R8A77960=y
CONFIG_SPI_QUP=y
CONFIG_HW_RANDOM_INGENIC_RNG=y
CONFIG_VIRTIO_RTC=y
CONFIG_SOC_REALVIEW=y
CONFIG_I2C_IMX=y
CONFIG_COMMON_CLK_MT8167_IMGSYS=y
CONFIG_DAMON_DEBUG_SANITY=y
CONFIG_ARCH_WANT_HUGE_PMD_SHARE=y
CONFIG_NVMEM_QORIQ_EFUSE=y
CONFIG_ARCH_SUPPORTS_ATOMIC_RMW=y
CONFIG_ALTERA_MBOX=y
CONFIG_SPI_ARMADA_3700=y
CONFIG_DEBUG_FS_ALLOW_ALL=y
CONFIG_BACKLIGHT_MT6370=y
CONFIG_RTC_DRV_DS1672=y
CONFIG_RTC_DRV_CPCAP=y
CONFIG_CLK_R8A77980=y
CONFIG_RTC_DRV_LP8788=y
CONFIG_ADP810=y
CONFIG_PWM_BERLIN=y
CONFIG_I2C_LS2X=y
CONFIG_KMX61=y
CONFIG_BMI323=y
CONFIG_REGULATOR=y
CONFIG_MFD_RT4831=y
CONFIG_THERMAL_STATISTICS=y
CONFIG_SERIAL_TEGRA_UTC=y
CONFIG_NLS_MAC_ROMAN=y
CONFIG_COMMON_CLK_MT6797=y
CONFIG_SM_VIDEOCC_7150=y
CONFIG_MS5611_I2C=y
CONFIG_CRYPTO_SERPENT=y
CONFIG_GPIO_VIRTUSER=y
CONFIG_AD7298=y
CONFIG_I2C_SLAVE_TESTUNIT=y
CONFIG_RTC_DRV_DS3232=y
CONFIG_LEDS_TRIGGER_CAMERA=y
CONFIG_AD7746=y
CONFIG_GENERIC_CPU_DEVICES=y
CONFIG_SPI_ATH79=y
CONFIG_STK8BA50=y
CONFIG_HW_RANDOM_BCM74110=y
CONFIG_LP8788_ADC=y
CONFIG_COMMON_CLK_AST2700=y
CONFIG_CLK_SOPHGO_SG2042_PLL=y
CONFIG_AD525X_DPOT_I2C=y
CONFIG_CRYPTO_LIB_AES=y
CONFIG_CRYPTO_DEV_QCE_ENABLE_SKCIPHER=y
CONFIG_TWL4030_CORE=y
CONFIG_HRTIMER_REARM_DEFERRED=y
CONFIG_APQ_MMCC_8084=y
CONFIG_PHY_PXA_28NM_USB2=y
CONFIG_REGULATOR_LP3972=y
CONFIG_CRYPTO_RNG2=y
CONFIG_MMC35240=y
CONFIG_GPIO_PALMAS=y
CONFIG_COMMON_CLK_MT6795_MMSYS=y
CONFIG_ASYMMETRIC_KEY_TYPE=y
CONFIG_LZ4_COMPRESS=y
CONFIG_CRYPTO_SEQIV=y
CONFIG_PREEMPT_COUNT=y
CONFIG_I2C_SMBUS=y
CONFIG_REGULATOR_RAA215300=y
CONFIG_RISCV_APLIC_MSI=y
CONFIG_PINCTRL_TH1520=y
CONFIG_FXLS8962AF_I2C=y
CONFIG_GENERIC_STRNLEN_USER=y
CONFIG_AT91_SOC_SFR=y
CONFIG_BASE_SMALL=y
CONFIG_DEVFREQ_EVENT_EXYNOS_NOCP=y
CONFIG_REGULATOR_MAX14577=y
CONFIG_CRYPTO_AKCIPHER=y
CONFIG_INITRAMFS_PRESERVE_MTIME=y
CONFIG_I2C_DESIGNWARE_PLATFORM=y
CONFIG_PHY_MTK_MIPI_CSI_0_5=y
CONFIG_RTC_DRV_DS1347=y
CONFIG_LD_IS_BFD=y
CONFIG_PHY_CADENCE_SALVO=y
CONFIG_AD2S1200=y
CONFIG_TRACE_CLOCK=y
CONFIG_SM_DISPCC_4450=y
CONFIG_CLK_R8A77990=y
CONFIG_IMX9_BLK_CTRL=y
CONFIG_FPGA_REGION=y
CONFIG_HIGH_RES_TIMERS=y
CONFIG_REGULATOR_TPS6586X=y
CONFIG_MTK_CMDQ=y
CONFIG_APDS9160=y
CONFIG_AD3552R_LIB=y
CONFIG_MPRLS0025PA=y
CONFIG_REGULATOR_MCP16502=y
CONFIG_MFD_BD9571MWV=y
CONFIG_CLK_IMXRT1050=y
CONFIG_GPIO_IXP4XX=y
CONFIG_LEDS_88PM860X=y
CONFIG_SPI_BCM63XX_HSSPI=y
CONFIG_I2C_WMT=y
CONFIG_AS3935=y
CONFIG_XXHASH=y
CONFIG_REGULATOR_PF9453=y
CONFIG_HW_RANDOM_NOMADIK=y
CONFIG_DEVMEM=y
CONFIG_PWM_INTEL_LGM=y
CONFIG_GP2AP002=y
CONFIG_PINCONF=y
CONFIG_SPI_SN_F_OSPI=y
CONFIG_MESON6_TIMER=y
CONFIG_SERIAL_PIC32=y
CONFIG_RTC_DRV_RX8025=y
CONFIG_SPI_CLPS711X=y
CONFIG_LEDS_SY7802=y
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO_BARE=y
CONFIG_CM3323=y
CONFIG_CLK_R8A7743=y
CONFIG_CC_HAS_WORKING_NOSANITIZE_ADDRESS=y
CONFIG_IIO_BUFFER_DMA=y
CONFIG_DECOMPRESS_XZ=y
CONFIG_DMA_API_DEBUG=y
CONFIG_BCM47XX_NVRAM=y
CONFIG_OVERLAY_FS_XINO_AUTO=y
CONFIG_POWER_RESET_RMOBILE=y
CONFIG_CRYPTO_SIG2=y
CONFIG_NEED_TASKS_RCU=y
CONFIG_RTC_DRV_DS1742=y
CONFIG_CRYPTO_DEV_AMLOGIC_GXL=y
CONFIG_REGULATOR_STW481X_VMMC=y
CONFIG_PINCTRL_POLARFIRE_SOC=y
CONFIG_PINCTRL_PFC_R8A7779=y
CONFIG_CRYPTO_ALGAPI=y
CONFIG_RSEQ_STATS=y
CONFIG_COMMON_CLK_SI5351=y
CONFIG_RENESAS_RPCIF=y
CONFIG_REGULATOR_RTQ2208=y
CONFIG_COMMON_CLK_BOSTON=y
CONFIG_WMT_SOCINFO=y
CONFIG_EXYNOS_AUDSS_CLK_CON=y
CONFIG_PHY_ST_SPEAR1340_MIPHY=y
CONFIG_MAX77541_ADC=y
CONFIG_IAQCORE=y
CONFIG_HAVE_ARCH_SECCOMP_FILTER=y
CONFIG_FW_UPLOAD=y
CONFIG_IPQ_GCC_5018=y
CONFIG_OF=y
CONFIG_CGROUP_DEVICE=y
CONFIG_COMMON_CLK_EIC7700=y
CONFIG_ADUX1020=y
CONFIG_AL3010=y
CONFIG_I2C_RK3X=y
CONFIG_CRYPTO_DEV_SL3516_DEBUG=y
CONFIG_HAVE_ARCH_JUMP_LABEL_RELATIVE=y
CONFIG_TEGRA_AHB=y
CONFIG_BERLIN2_ADC=y
CONFIG_GPIO_SHARED=y
CONFIG_GPIO_ADP5585=y
CONFIG_ARM_SCMI_TRANSPORT_VIRTIO=y
CONFIG_COMPAT_32BIT_TIME=y
CONFIG_REGULATOR_ACT8945A=y
CONFIG_SM_GPUCC_8250=y
CONFIG_CRC16=y
CONFIG_AD5504=y
CONFIG_COMMON_CLK_MMP2_AUDIO=y
CONFIG_PINCTRL_MESON_GXL=y
CONFIG_COMMON_CLK_MT6779_MFGCFG=y
CONFIG_TI_AM335X_ADC=y
CONFIG_SAR_GPUCC_2130P=y
CONFIG_XILINX_AMS=y
CONFIG_CLK_SIFIVE=y
CONFIG_GDB_SCRIPTS=y
CONFIG_MFD_TPS65219=y
CONFIG_RTC_DRV_MSM6242=y
CONFIG_EXYNOS5422_DMC=y
CONFIG_CLK_GLYMUR_GCC=y
CONFIG_PINCTRL_PIC64GX=y
CONFIG_GPIB_NEC7210=y
CONFIG_PINCTRL_SH_PFC=y
CONFIG_SC_GCC_8280XP=y
CONFIG_GPIB=y
CONFIG_PWM_EP93XX=y
CONFIG_PINCTRL_TANGIER=y
CONFIG_COMMON_CLK_MAX77686=y
CONFIG_HAVE_MOVE_PMD=y
CONFIG_COMMON_CLK_MT8195_CAMSYS=y
CONFIG_RTC_DRV_DIGICOLOR=y
CONFIG_RTC_DRV_PCF8563=y
CONFIG_SC_LPASS_CORECC_7280=y
CONFIG_COMMON_CLK_FSL_SAI=y
CONFIG_MCP4531=y
CONFIG_CRYPTO_DEV_SUN8I_CE_HASH=y
CONFIG_GENERIC_IRQ_INJECTION=y
CONFIG_XILLYBUS=y
CONFIG_IIO_KFIFO_BUF=y
CONFIG_PINCTRL_MT7622=y
CONFIG_SPI_MASTER=y
CONFIG_SPI_XCOMM=y
CONFIG_SPI_ATMEL_QUADSPI=y
CONFIG_KEBA_LAN9252=y
CONFIG_MFD_LP3943=y
CONFIG_PINCTRL_MT8127=y
CONFIG_SM_GCC_8450=y
CONFIG_PWM_IMX_TPM=y
CONFIG_PHY_ATH79_USB=y
CONFIG_PHY_FSL_SAMSUNG_HDMI_PHY=y
CONFIG_MFD_TPS6594_SPI=y
CONFIG_CRYPTO_KRB5_SELFTESTS=y
CONFIG_MTK_SMI=y
CONFIG_MUX_CORE=y
CONFIG_PWM_SUN4I=y
CONFIG_AD7791=y
CONFIG_REGULATOR_MAX77503=y
CONFIG_PHY_MMP3_HSIC=y
CONFIG_SERIO_SUN4I_PS2=y
CONFIG_CRYPTO_SM4=y
CONFIG_HAVE_GCC_PLUGINS=y
CONFIG_DEBUG_ATOMIC=y
CONFIG_BACKLIGHT_LM3639=y
CONFIG_MFD_TI_LP87565=y
CONFIG_BMP280_SPI=y
CONFIG_GENERIC_CLOCKEVENTS=y
CONFIG_REGULATOR_DA903X=y
CONFIG_SERIAL_OMAP=y
CONFIG_ARCH_HAS_KCOV=y
CONFIG_MESON_MX_SOCINFO=y
CONFIG_SLUB=y
CONFIG_I2C_UNIPHIER=y
CONFIG_NVMEM_ROCKCHIP_EFUSE=y
CONFIG_TIMER_PROBE=y
CONFIG_DEBUG_IRQFLAGS=y
CONFIG_COMMON_CLK_MT2701_HIFSYS=y
CONFIG_RISCV_RPMI_SYSMSI=y
CONFIG_INGENIC_CGU_JZ4755=y
CONFIG_IIO_ST_GYRO_3AXIS=y
CONFIG_RESET_A10SR=y
CONFIG_IMX_GPCV2_PM_DOMAINS=y
CONFIG_RTC_DRV_RK808=y
CONFIG_XILINX_VCU=y
CONFIG_VIRTIO=y
CONFIG_AL3320A=y
CONFIG_TI_DAC082S085=y
CONFIG_FPGA_DFL_AFU=y
CONFIG_PINCTRL_IMX8QXP=y
CONFIG_RISCV_ISA_ZAWRS=y
CONFIG_FB_S3C=y
CONFIG_ISL76682=y
CONFIG_REGMAP_IRQ=y
CONFIG_SM_TCSRCC_8650=y
CONFIG_CRYPTO_DEV_SUN8I_CE=y
CONFIG_PANEL_CHANGE_MESSAGE=y
CONFIG_ARCH_RV64I=y
CONFIG_ARM_SCMI_PROTOCOL=y
CONFIG_VFIO_PLATFORM_CALXEDAXGMAC_RESET=y
CONFIG_ALTERA_FREEZE_BRIDGE=y
CONFIG_PINCTRL_QCOM_SSBI_PMIC=y
CONFIG_NLS_CODEPAGE_850=y
CONFIG_INTEL_TH=y
CONFIG_COMMON_CLK_MEDIATEK_FHCTL=y
CONFIG_DTPM=y
CONFIG_SERIAL_8250_CONSOLE=y
CONFIG_QCOM_IPCC=y
CONFIG_CRAMFS=y
CONFIG_EVENTFD=y
CONFIG_AD4130=y
CONFIG_TSL2591=y
CONFIG_SPRD_MBOX=y
CONFIG_NLS_ISO8859_5=y
CONFIG_MFD_WM8350=y
CONFIG_IIO_ST_SENSORS_CORE=y
CONFIG_RCAR_GYRO_ADC=y
CONFIG_IPQ_GCC_806X=y
CONFIG_PHY_CANAAN_USB=y
CONFIG_ZERO_CALL_USED_REGS=y
CONFIG_CLZ_TAB=y
CONFIG_PINCTRL_PFC_R8A779A0=y
CONFIG_SPI_LOONGSON_CORE=y
CONFIG_PINCTRL_SH_PFC_GPIO=y
CONFIG_AD74115=y
CONFIG_FB_SYSMEM_FOPS=y
CONFIG_QCOM_A53PLL=y
CONFIG_GPIO_LINE_MUX=y
CONFIG_AL_FIC=y
CONFIG_GPIO_SIM=y
CONFIG_RISCV_TICKET_SPINLOCKS=y
CONFIG_AD7303=y
CONFIG_HAVE_STACKPROTECTOR=y
CONFIG_GNSS_SERIAL=y
CONFIG_FW_LOADER=y
CONFIG_RTC_DRV_PALMAS=y
CONFIG_I2C_HIX5HD2=y
CONFIG_HW_RANDOM_CCTRNG=y
CONFIG_PINCTRL_PFC_R8A774A1=y
CONFIG_IIO_BUFFER_CB=y
CONFIG_FB_METRONOME=y
CONFIG_ORANGEFS_FS=y
CONFIG_TI_TMAG5273=y
CONFIG_SERIAL_MEN_Z135=y
CONFIG_SM_GPUCC_4450=y
CONFIG_REGMAP_SPI_AVMM=y
CONFIG_SSB=y
CONFIG_CRYPTO_DEV_ALLWINNER=y
CONFIG_SERIAL_FSL_LPUART=y
CONFIG_MEMORY=y
CONFIG_DEBUG_INFO_COMPRESSED_NONE=y
CONFIG_I2C_SLAVE_EEPROM=y
CONFIG_AXP288_ADC=y
CONFIG_IQS624_POS=y
CONFIG_SPI_ST_SSC4=y
CONFIG_LOGO_LINUX_MONO=y
CONFIG_LMP91000=y
CONFIG_REGULATOR_MAX1586=y
CONFIG_CRYPTO_DEV_CCREE=y
CONFIG_GCC10_NO_ARRAY_BOUNDS=y
CONFIG_SC_GPUCC_7280=y
CONFIG_LOCK_DEBUGGING_SUPPORT=y
CONFIG_CRYPTO_LIB_SHA3=y
CONFIG_SERIAL_8250_SHARE_IRQ=y
CONFIG_SPI_INGENIC=y
CONFIG_SECTION_MISMATCH_WARN_ONLY=y
CONFIG_GCC_ASM_GOTO_OUTPUT_BROKEN=y
CONFIG_SERIAL_8250_DWLIB=y
CONFIG_INV_ICM45600_I2C=y
CONFIG_XZ_DEC_POWERPC=y
CONFIG_SUNPLUS_SP7021_INTC=y
CONFIG_ARCH_DMA_DEFAULT_COHERENT=y
CONFIG_PINCTRL_MTK_V2=y
CONFIG_CM3605=y
CONFIG_RZG2L_THERMAL=y
CONFIG_COMMON_CLK_MT8196_VDECSYS=y
CONFIG_MAX31865=y
CONFIG_ARCH_HIBERNATION_POSSIBLE=y
CONFIG_FHANDLE=y
CONFIG_FB_OMAP2_DSS=y
CONFIG_PHY_CADENCE_SIERRA=y
CONFIG_I2C_MUX_PINCTRL=y
CONFIG_PHY_QCOM_QMP_USB=y
CONFIG_PINCTRL_SOPHGO_SG2042=y
CONFIG_AS73211=y
CONFIG_SPI_SC18IS602=y
CONFIG_MFD_STM32_LPTIMER=y
CONFIG_MFD_TI_AM335X_TSCADC=y
CONFIG_RISCV_ISA_VENDOR_EXT_THEAD=y
CONFIG_TI_ADC161S626=y
CONFIG_SERIAL_SPRD=y
CONFIG_GPIO_AGGREGATOR=y
CONFIG_PHY_LANTIQ_VRX200_PCIE=y
CONFIG_I2C_DEBUG_CORE=y
CONFIG_GNSS=y
CONFIG_POLARFIRE_SOC_IRQ_MUX=y
CONFIG_AW96103=y
CONFIG_RESET_SOCFPGA=y
CONFIG_STK3310=y
CONFIG_MFD_MC13XXX=y
CONFIG_VCNL3020=y
CONFIG_RESET_ZYNQMP=y
CONFIG_PINCTRL_IMX27=y
CONFIG_SCHED_PROXY_EXEC=y
CONFIG_FPGA_BRIDGE=y
CONFIG_TI_ADS1298=y
CONFIG_SM_GCC_8650=y
CONFIG_SMI330=y
CONFIG_CLK_KAANAPALI_DISPCC=y
CONFIG_MESON_EE_PM_DOMAINS=y
CONFIG_PINCTRL_STARFIVE_JH7110_AON=y
CONFIG_TORTURE_TEST=y
CONFIG_MESON_SARADC=y
CONFIG_CC_HAS_ASM_INLINE=y
CONFIG_PHY_MVEBU_A38X_COMPHY=y
CONFIG_COMMON_CLK_MT8188_CAMSYS=y
CONFIG_REGMAP_SPI=y
CONFIG_CLK_RCAR_CPG_LIB=y
CONFIG_RESET_HISI=y
CONFIG_GPIO_MAX3191X=y
CONFIG_CLK_RENESAS_VBATTB=y
CONFIG_PWM_SAMSUNG=y
CONFIG_REGULATOR_BCM590XX=y
CONFIG_HAVE_IRQ_TIME_ACCOUNTING=y
CONFIG_SM_GCC_8550=y
CONFIG_TASKS_TRACE_RCU=y
CONFIG_DEVFREQ_GOV_POWERSAVE=y
CONFIG_CRYPTO_ECRDSA=y
CONFIG_SUN55I_PCK600=y
CONFIG_GENERIC_SCHED_CLOCK=y
CONFIG_PINCTRL_EMMITSBURG=y
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO=y
CONFIG_SUN4I_TIMER=y
CONFIG_COMMON_CLK_MT7622_HIFSYS=y
