CONFIG_KVM_COMMON=n
CONFIG_DECOMPRESS_LZMA=n
CONFIG_REGMAP_I2C=n
CONFIG_NET_HANDSHAKE=n
CONFIG_ARCH_WANT_LD_ORPHAN_WARN=n
CONFIG_PM_DEVFREQ=n
CONFIG_BPF_SYSCALL=n
CONFIG_SND_SOC=n
CONFIG_NET_VENDOR_SOLARFLARE=n
CONFIG_HAVE_GUP_FAST=n
CONFIG_WLAN_VENDOR_ZYDAS=n
CONFIG_BLK_DEV_SD=n
CONFIG_ARCH_WANT_OPTIMIZE_DAX_VMEMMAP=n
CONFIG_NET_VENDOR_INTEL=n
CONFIG_USB_CONFIGFS_RNDIS=n
CONFIG_VIRTIO_PCI=n
CONFIG_CC_NO_STRINGOP_OVERFLOW=n
CONFIG_HAVE_KVM_DIRTY_RING=n
CONFIG_USB_F_OBEX=n
CONFIG_PAGE_COUNTER=n
CONFIG_BLK_DEV_WRITE_MOUNTED=n
CONFIG_ATA_FORCE=n
CONFIG_COMPAT_32BIT_TIME=n
CONFIG_GPIO_GENERIC=n
CONFIG_SERIAL_8250_16550A_VARIANTS=n
CONFIG_PINMUX=n
CONFIG_PM_SLEEP_SMP=n
CONFIG_DRM_NOUVEAU_BACKLIGHT=n
CONFIG_HID_SUPPORT=n
CONFIG_PRINTK_TIME=n
CONFIG_SUN20I_PPU=n
CONFIG_MMC_SPI=n
CONFIG_NFS_USE_KERNEL_DNS=n
CONFIG_NETFILTER_EGRESS=n
CONFIG_RTC_DRV_SPACEMIT_P1=n
CONFIG_ARCH_SUPPORTS_CFI=n
CONFIG_FB_DEVICE=n
CONFIG_MMU=n
CONFIG_NET_VENDOR_CHELSIO=n
CONFIG_RAID6_PQ_BENCHMARK=n
CONFIG_SLUB=n
CONFIG_NET_VENDOR_LITEX=n
CONFIG_HAVE_MOVE_PMD=n
CONFIG_GENERIC_NET_UTILS=n
CONFIG_VETH=n
CONFIG_GENERIC_EARLY_IOREMAP=n
CONFIG_PCI=n
CONFIG_TASKS_RCU=n
CONFIG_HAVE_POSIX_CPU_TIMERS_TASK_WORK=n
CONFIG_XFRM=n
CONFIG_MTD_CFI=n
CONFIG_SCSI_PROC_FS=n
CONFIG_ARCH_SUPPORTS_CRASH_DUMP=n
CONFIG_THERMAL_HWMON=n
CONFIG_IOMMU_SUPPORT=n
CONFIG_BINARY_PRINTF=n
CONFIG_CRYPTO_RSA=n
CONFIG_ELF_CORE=n
CONFIG_RSEQ=n
CONFIG_USB_CONFIGFS_SERIAL=n
CONFIG_OF_PMEM=n
CONFIG_I2C_MV64XXX=n
CONFIG_NETFILTER_XTABLES=n
CONFIG_SND_JACK=n
CONFIG_XZ_DEC=n
CONFIG_SND_VERBOSE_PROCFS=n
CONFIG_FB_CFB_IMAGEBLIT=n
CONFIG_SPARSEMEM=n
CONFIG_DRM_VIRTIO_GPU_KMS=n
CONFIG_RESET_CONTROLLER=n
CONFIG_HAVE_ARCH_KSTACK_ERASE=n
CONFIG_INTEGRITY=n
CONFIG_SCSI_MOD=n
CONFIG_HAVE_KERNEL_UNCOMPRESSED=n
CONFIG_HAVE_GENERIC_VDSO=n
CONFIG_SECURITYFS=n
CONFIG_NETFILTER_XT_MATCH_ADDRTYPE=n
CONFIG_NET_VENDOR_ROCKER=n
CONFIG_CC_CAN_LINK=n
CONFIG_CRYPTO_SHA512=n
CONFIG_REGULATOR_AXP20X=n
CONFIG_VMAP_STACK=n
CONFIG_FB=n
CONFIG_CC_HAS_WORKING_NOSANITIZE_ADDRESS=n
CONFIG_HAVE_KVM_READONLY_MEM=n
CONFIG_USB_ROLE_SWITCH=n
CONFIG_MEMREGION=n
CONFIG_WLAN=n
CONFIG_PCIE_STARFIVE_HOST=n
CONFIG_IIO=n
CONFIG_ERRATA_SIFIVE_CIP_1200=n
CONFIG_CAN=n
CONFIG_ACPI_PPTT=n
CONFIG_CPUFREQ_DT=n
CONFIG_POWER_RESET_SPACEMIT_P1=n
CONFIG_FS_STACK=n
CONFIG_PHYS_ADDR_T_64BIT=n
CONFIG_PREEMPT_BUILD=n
CONFIG_MMC_CQHCI=n
CONFIG_ACPI_THERMAL=n
CONFIG_AUXILIARY_BUS=n
CONFIG_USB_CONFIGFS_NCM=n
CONFIG_SPACEMIT_K1_EMAC=n
CONFIG_COMMON_CLK=n
CONFIG_NET_VENDOR_CAVIUM=n
CONFIG_XXHASH=n
CONFIG_GENERIC_BITREVERSE=n
CONFIG_HAS_DMA=n
CONFIG_UTS_NS=n
CONFIG_BLK_DEV_BSG=n
CONFIG_MTD_OF_PARTS=n
CONFIG_AF_UNIX_OOB=n
CONFIG_HW_RANDOM=n
CONFIG_TCP_CONG_CUBIC=n
CONFIG_SECURITY_NETWORK=n
CONFIG_MDIO_BUS_MUX=n
CONFIG_TREE_RCU=n
CONFIG_I2C_HID=n
CONFIG_RPMSG_NS=n
CONFIG_GENERIC_CLOCKEVENTS=n
CONFIG_CRYPTO_KPP=n
CONFIG_ND_BTT=n
CONFIG_HUGETLB_PMD_PAGE_TABLE_SHARING=n
CONFIG_GCC10_NO_ARRAY_BOUNDS=n
CONFIG_ARCH_HAS_PREEMPT_LAZY=n
CONFIG_XZ_DEC_POWERPC=n
CONFIG_DWMAC_THEAD=n
CONFIG_REGULATOR_SPACEMIT_P1=n
CONFIG_VIRTIO_ANCHOR=n
CONFIG_DRM_VIRTIO_GPU=n
CONFIG_NETLINK_DIAG=n
CONFIG_INET_TCP_DIAG=n
CONFIG_CRC16=n
CONFIG_RING_BUFFER=n
CONFIG_FB_IOMEM_HELPERS=n
CONFIG_FAT_FS=n
CONFIG_BLK_DEV_NVME=n
CONFIG_ARCH_HAS_STRICT_KERNEL_RWX=n
CONFIG_PCIE_PME=n
CONFIG_CC_IS_GCC=n
CONFIG_EXT4_FS_SECURITY=n
CONFIG_KEYBOARD_SUN4I_LRADC=n
CONFIG_ARCH_THEAD=n
CONFIG_SWPHY=n
CONFIG_TIME_NS_VDSO=n
CONFIG_SPI_SIFIVE=n
CONFIG_USB_CONFIGFS_F_FS=n
CONFIG_GENERIC_IOREMAP=n
CONFIG_NET_VENDOR_VERTEXCOM=n
CONFIG_FHANDLE=n
CONFIG_PHY_SUN4I_USB=n
CONFIG_MTD_MAP_BANK_WIDTH_1=n
CONFIG_NF_CT_PROTO_SCTP=n
CONFIG_ARCH_HAS_PTE_SPECIAL=n
CONFIG_IP_PNP_RARP=n
CONFIG_REGMAP_IRQ=n
CONFIG_VHOST_ENABLE_FORK_OWNER_CONTROL=n
CONFIG_SSB_POSSIBLE=n
CONFIG_HAS_IOPORT_MAP=n
CONFIG_TOOLCHAIN_NEEDS_EXPLICIT_ZICSR_ZIFENCEI=n
CONFIG_GENERIC_MSI_IRQ=n
CONFIG_PCI_HOST_GENERIC=n
CONFIG_STRICT_KERNEL_RWX=n
CONFIG_RISCV_ISA_V_DEFAULT_ENABLE=n
CONFIG_SND_PCM_TIMER=n
CONFIG_TMPFS_XATTR=n
CONFIG_PROC_CHILDREN=n
CONFIG_CMODEL_MEDANY=n
CONFIG_KCMP=n
CONFIG_WLAN_VENDOR_REALTEK=n
CONFIG_RTC_LIB=n
CONFIG_USB_XHCI_PCI=n
CONFIG_MTD=n
CONFIG_PER_VMA_LOCK=n
CONFIG_ZSTD_COMPRESS=n
CONFIG_NET_VENDOR_MARVELL=n
CONFIG_PCI_LABEL=n
CONFIG_WLAN_VENDOR_QUANTENNA=n
CONFIG_CRYPTO_SHA256=n
CONFIG_HAVE_KRETPROBES=n
CONFIG_ACPI_GENERIC_GSI=n
CONFIG_USB_OHCI_LITTLE_ENDIAN=n
CONFIG_ARCH_MICROCHIP_POLARFIRE=n
CONFIG_CRYPTO_HW=n
CONFIG_WLAN_VENDOR_INTERSIL=n
CONFIG_STACKTRACE=n
CONFIG_UPROBES=n
CONFIG_ARCH_DMA_DEFAULT_COHERENT=n
CONFIG_WATCHDOG=n
CONFIG_SND_DRIVERS=n
CONFIG_GENERIC_IRQ_EFFECTIVE_AFF_MASK=n
CONFIG_GENERIC_IRQ_MIGRATION=n
CONFIG_BTRFS_FS=n
CONFIG_CRYPTO_CAMELLIA=n
CONFIG_INPUT_EVDEV=n
CONFIG_PM_SLEEP=n
CONFIG_ARCH_WANTS_NO_INSTR=n
CONFIG_MQ_IOSCHED_KYBER=n
CONFIG_NET_VENDOR_AMD=n
CONFIG_PAGE_POOL=n
CONFIG_GENERIC_IDLE_POLL_SETUP=n
CONFIG_USB_CDNSP_PCI=n
CONFIG_NET_VENDOR_SPACEMIT=n
CONFIG_POLARFIRE_SOC_IRQ_MUX=n
CONFIG_NET_VENDOR_SEEQ=n
CONFIG_XZ_DEC_ARMTHUMB=n
CONFIG_MODULES=n
CONFIG_CRYPTO_ECB=n
CONFIG_SYSCTL_ARCH_UNALIGN_ALLOW=n
CONFIG_UNION_FIND=n
CONFIG_PINCTRL_ULTRARISC=n
CONFIG_FILE_LOCKING=n
CONFIG_CRYPTO_ALGAPI=n
CONFIG_PCS_XPCS=n
CONFIG_VIRTIO=n
CONFIG_CRYPTO_USER_API_ENABLE_OBSOLETE=n
CONFIG_DTC=n
CONFIG_NLS=n
CONFIG_DWMAC_STARFIVE=n
CONFIG_SOCK_CGROUP_DATA=n
CONFIG_XFRM_ESP=n
CONFIG_NET_VENDOR_HUAWEI=n
CONFIG_NET_SELFTESTS=n
CONFIG_ARCH_HAS_MEMBARRIER_CALLBACKS=n
CONFIG_RESET_SIMPLE=n
CONFIG_ARCH_WANT_HUGE_PMD_SHARE=n
CONFIG_IP6_NF_MATCH_IPV6HEADER=n
CONFIG_INTERVAL_TREE=n
CONFIG_LZ4_DECOMPRESS=n
CONFIG_INTEGRITY_AUDIT=n
CONFIG_BRIDGE_VLAN_FILTERING=n
CONFIG_MFD_SIMPLE_MFD_I2C=n
CONFIG_ALLOW_DEV_COREDUMP=n
CONFIG_NET_VENDOR_NI=n
CONFIG_GENERIC_BUG=n
CONFIG_DEBUG_KERNEL=n
CONFIG_PM_CLK=n
CONFIG_FRAMEBUFFER_CONSOLE=n
CONFIG_OF_IRQ=n
CONFIG_NET_SOCK_MSG=n
CONFIG_CPU_FREQ=n
CONFIG_RD_GZIP=n
CONFIG_NF_CONNTRACK_FTP=n
CONFIG_PINCTRL_SPACEMIT_K1=n
CONFIG_ACPI_PCC=n
CONFIG_CAN_NETLINK=n
CONFIG_EXPORTFS=n
CONFIG_USB_F_FS=n
CONFIG_NETFILTER_BPF_LINK=n
CONFIG_FIXED_PHY=n
CONFIG_MACVLAN=n
CONFIG_VIDEO_V4L2_I2C=n
CONFIG_SECURITY_APPARMOR_HASH_DEFAULT=n
CONFIG_IRQ_FORCED_THREADING=n
CONFIG_PACKET=n
CONFIG_INPUT=n
CONFIG_DW_AXI_DMAC=n
CONFIG_PAGE_MAPCOUNT=n
CONFIG_HOTPLUG_SPLIT_STARTUP=n
CONFIG_MOUSE_PS2_FOCALTECH=n
CONFIG_SYSCTL=n
CONFIG_NETDEVICES=n
CONFIG_TRACE_IRQFLAGS_SUPPORT=n
CONFIG_RWSEM_SPIN_ON_OWNER=n
CONFIG_OF_RESERVED_MEM=n
CONFIG_PINCTRL_SOPHGO_SG2002=n
CONFIG_NVMEM_SUNXI_SID=n
CONFIG_WLAN_VENDOR_RALINK=n
CONFIG_EFIVAR_FS=n
CONFIG_HAVE_BUILDTIME_MCOUNT_SORT=n
CONFIG_HAVE_SOFTIRQ_ON_OWN_STACK=n
CONFIG_PM=n
CONFIG_PT_RECLAIM=n
CONFIG_DRM_KMS_HELPER=n
CONFIG_VIDEO_V4L2_SUBDEV_API=n
CONFIG_INPUT_KEYBOARD=n
CONFIG_PNP_DEBUG_MESSAGES=n
CONFIG_FIRMWARE_TABLE=n
CONFIG_GPIO_ACPI=n
CONFIG_NET_VENDOR_PENSANDO=n
CONFIG_HW_RANDOM_ATMEL=n
CONFIG_USB_F_SUBSET=n
CONFIG_NET_9P_VIRTIO=n
CONFIG_HAVE_IRQ_TIME_ACCOUNTING=n
CONFIG_DRM_SUN4I=n
CONFIG_GENERIC_IRQ_IPI_MUX=n
CONFIG_HAVE_ARCH_AUDITSYSCALL=n
CONFIG_HAVE_VIRT_CPU_ACCOUNTING_GEN=n
CONFIG_ARCH_VIRT=n
CONFIG_SECURITY_APPARMOR_EXPORT_BINARY=n
CONFIG_PM_GENERIC_DOMAINS_SLEEP=n
CONFIG_ARCH_WANT_FRAME_POINTERS=n
CONFIG_BLK_DEV_DM=n
CONFIG_ARCH_CC_CAN_LINK=n
CONFIG_SG_POOL=n
CONFIG_TRACEPOINTS=n
CONFIG_SERIO_SERPORT=n
CONFIG_BTT=n
CONFIG_UNIX98_PTYS=n
CONFIG_HUGETLB_PAGE=n
