CONFIG_REGULATOR_ISL9305=y
CONFIG_HAVE_FUNCTION_GRAPH_TRACER=y
CONFIG_ARCH_USE_MEMREMAP_PROT=y
CONFIG_VIRTIO_VSOCKETS_COMMON=y
CONFIG_PER_VMA_LOCK=y
CONFIG_TCP_CONG_BBR=y
CONFIG_SLHC=y
CONFIG_HUGETLBFS=y
CONFIG_NET_VENDOR_MARVELL=y
CONFIG_MFD_ATC260X=y
CONFIG_CRYPTO_SERPENT_SSE2_X86_64=y
CONFIG_SATA_PMP=y
CONFIG_SENSORS_MP2856=y
CONFIG_NVRAM=y
CONFIG_GENERIC_PCI_IOMAP=y
CONFIG_SENSORS_SCH56XX_COMMON=y
CONFIG_OF_FLATTREE=y
CONFIG_SPI_FSI=y
CONFIG_SENSORS_UCD9000=y
CONFIG_SENSORS_MP5920=y
CONFIG_PREEMPT_RCU=y
CONFIG_KALLSYMS=y
CONFIG_ACPI_CONFIGFS=y
CONFIG_SLUB_TINY=y
CONFIG_GENERIC_SMP_IDLE_THREAD=y
CONFIG_FSI_MASTER_GPIO=y
CONFIG_SPI_DW_DMA=y
CONFIG_STM_SOURCE_CONSOLE=y
CONFIG_CRYPTO_LIB_SHA512_ARCH=y
CONFIG_X86_REQUIRED_FEATURE_NOPL=y
CONFIG_I2C_VIRTIO=y
CONFIG_SENSORS_LM63=y
CONFIG_LEDS_TPS6131X=y
CONFIG_TCP_CONG_VENO=y
CONFIG_CEPH_FS_POSIX_ACL=y
CONFIG_ARCH_HAS_MEM_ENCRYPT=y
CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE=y
CONFIG_SCSI_DH=y
CONFIG_ARCH_PROC_KCORE_TEXT=y
CONFIG_OID_REGISTRY=y
CONFIG_X86_CMOV=y
CONFIG_ARCH_SUPPORTS_MSEAL_SYSTEM_MAPPINGS=y
CONFIG_PINCTRL_RK805=y
CONFIG_SCHED_TRACER=y
CONFIG_OF_ADDRESS=y
CONFIG_BACKLIGHT_LP8788=y
CONFIG_SCSI_ISCSI_ATTRS=y
CONFIG_PAGE_MAPCOUNT=y
CONFIG_PER_VMA_LOCK_STATS=y
CONFIG_SENSORS_CRPS=y
CONFIG_ACPI_WMI=y
CONFIG_EXPORTFS=y
CONFIG_RATIONAL=y
CONFIG_LEDS_UPBOARD=y
CONFIG_BLK_ICQ=y
CONFIG_HAVE_GIGANTIC_FOLIOS=y
CONFIG_LEDS_DA9052=y
CONFIG_SENSORS_PLI1209BC=y
CONFIG_CAN_M_CAN_TCAN4X5X=y
CONFIG_EDD=y
CONFIG_GPIO_GRGPIO=y
CONFIG_CAN_PEAK_PCMCIA=y
CONFIG_TWL6040_CORE=y
CONFIG_RD_BZIP2=y
CONFIG_INET=y
CONFIG_CRYPTO_USER_API_SKCIPHER=y
CONFIG_GENERIC_IRQ_MATRIX_ALLOCATOR=y
CONFIG_SATA_HOST=y
CONFIG_MFD_UPBOARD_FPGA=y
CONFIG_GPIOLIB_IRQCHIP=y
CONFIG_LEDS_TRIGGER_PANIC=y
CONFIG_REGULATOR_MAX8952=y
CONFIG_CRC32_ARCH=y
CONFIG_MLX5_VDPA=y
CONFIG_AF_RXRPC=y
CONFIG_X86_DISABLED_FEATURE_UNRET=y
CONFIG_ARCH_SELECTS_KEXEC_FILE=y
CONFIG_TCG_TPM2_HMAC=y
CONFIG_FUTEX_ROBUST_UNLOCK=y
CONFIG_CRYPTO=y
CONFIG_PPPOATM=y
CONFIG_ZSTD_COMMON=y
CONFIG_NET_IP_TUNNEL=y
CONFIG_NLS_CODEPAGE_850=y
CONFIG_NOP_TRACER=y
CONFIG_ARCH_CORRECT_STACKTRACE_ON_KRETPROBE=y
CONFIG_ARCH_HAS_NON_OVERLAPPING_ADDRESS_SPACE=y
CONFIG_GPIO_MB86S7X=y
CONFIG_CRYPTO_LIB_SHA3=y
CONFIG_XFRM_STATISTICS=y
CONFIG_PHY_COMMON_PROPS=y
CONFIG_REGULATOR_PF1550=y
CONFIG_SENSORS_TMP421=y
CONFIG_ACPI_EC=y
CONFIG_GPIO_BY_PINCTRL=y
CONFIG_IO_URING_ZCRX=y
CONFIG_APPLE_PROPERTIES=y
CONFIG_TRACER_SNAPSHOT=y
CONFIG_REGULATOR_BD71828=y
CONFIG_ARCH_WANT_OLD_COMPAT_IPC=y
CONFIG_ARCH_SUPPORTS_KEXEC_HANDOVER=y
CONFIG_OVERLAY_FS_METACOPY=y
CONFIG_HAVE_ARCH_PREL32_RELOCATIONS=y
CONFIG_SENSORS_TMP464=y
CONFIG_SENSORS_INA3221=y
CONFIG_CAN_DUMMY=y
CONFIG_SPI_CS42L43=y
CONFIG_DEBUG_MEMORY_INIT=y
CONFIG_SCSI_UFS_BSG=y
CONFIG_MFD_LP8788=y
CONFIG_MFD_WM8350_I2C=y
CONFIG_HIBERNATION=y
CONFIG_X86_REQUIRED_FEATURE_MSR=y
CONFIG_NLS_CODEPAGE_869=y
CONFIG_ORANGEFS_FS=y
CONFIG_RFKILL_LEDS=y
CONFIG_DEBUG_RT_MUTEXES=y
CONFIG_MFD_MAX77620=y
CONFIG_W1_SLAVE_DS2408_READBACK=y
CONFIG_REGULATOR_RT4803=y
CONFIG_QUOTACTL=y
CONFIG_INTEL_TCC=y
CONFIG_REGULATOR_LP8788=y
CONFIG_ARCH_CLOCKSOURCE_INIT=y
CONFIG_TCP_CONG_ILLINOIS=y
CONFIG_NET_UDP_TUNNEL=y
CONFIG_BACKLIGHT_AS3711=y
CONFIG_NET_IFE=y
CONFIG_CAN_MCP251X=y
CONFIG_REGULATOR_LP3972=y
CONFIG_SENSORS_MAX16065=y
CONFIG_GCOV_KERNEL=y
CONFIG_PVPANIC=y
CONFIG_REGULATOR_DEBUG=y
CONFIG_CAN_C_CAN=y
CONFIG_SYSFB_SIMPLEFB=y
CONFIG_ALTERA_PR_IP_CORE=y
CONFIG_SMSC911X=y
CONFIG_GPIO_NOVALAKE=y
CONFIG_CORTINA_PHY=y
CONFIG_SYSCTL_EXCEPTION_TRACE=y
CONFIG_SPI_CADENCE=y
CONFIG_SCSI_MOD=y
CONFIG_MFD_TPS65912_I2C=y
CONFIG_REGULATOR_MAX77802=y
CONFIG_NFC_PN533_I2C=y
CONFIG_CRYPTO_ADIANTUM=y
CONFIG_COMPAT_32=y
CONFIG_SENSORS_HAC300S=y
CONFIG_MFD_DA9150=y
CONFIG_X86_CX8=y
CONFIG_MUX_CORE=y
CONFIG_REGULATOR_RTQ2134=y
CONFIG_MMU=y
CONFIG_EXPORTFS_BLOCK_OPS=y
CONFIG_X86_DISABLED_FEATURE_CYRIX_ARR=y
CONFIG_MOUSE_PS2_SYNAPTICS_SMBUS=y
CONFIG_PERSISTENT_KEYRINGS=y
CONFIG_GENERIC_EARLY_IOREMAP=y
CONFIG_CLZ_TAB=y
CONFIG_SUSPEND_FREEZER=y
CONFIG_ZL3073X=y
CONFIG_GPIB=y
CONFIG_PWM_INTEL_LGM=y
CONFIG_EVENT_TRACING=y
CONFIG_SENSORS_E50SN12051=y
CONFIG_SOCK_CGROUP_DATA=y
CONFIG_TRACE_GPU_MEM=y
CONFIG_HWMON=y
CONFIG_REGULATOR_LOCHNAGAR=y
CONFIG_BPF=y
CONFIG_SENSORS_NCT7904=y
CONFIG_CRYPTO_ECB=y
CONFIG_HA_MON_EVENTS_ID=y
CONFIG_ARCH_SUPPORTS_KEXEC_SIG=y
CONFIG_RTC_MC146818_LIB=y
CONFIG_XILLYBUS_CLASS=y
CONFIG_THERMAL_GOV_FAIR_SHARE=y
CONFIG_VIRT_DRIVERS=y
CONFIG_SCREEN_INFO=y
CONFIG_CPU_IDLE=y
CONFIG_ISL29020=y
CONFIG_XFRM=y
CONFIG_CRYPTO_ARIA=y
CONFIG_GPIO_WS16C48=y
CONFIG_VIRTIO=y
CONFIG_BACKLIGHT_LM3630A=y
CONFIG_HAVE_ARCH_KASAN_VMALLOC=y
CONFIG_CONTIG_ALLOC=y
CONFIG_SENSORS_MAX20860A=y
CONFIG_PM_USERSPACE_AUTOSLEEP=y
CONFIG_BLK_DEV_BSGLIB=y
CONFIG_ARCH_HAS_DEBUG_VM_PGTABLE=y
CONFIG_W1=y
CONFIG_X86_REQUIRED_FEATURE_CMOV=y
CONFIG_NLS_CODEPAGE_775=y
CONFIG_HAVE_FTRACE_REGS_HAVING_PT_REGS=y
CONFIG_NET_VENDOR_GOOGLE=y
CONFIG_X25=y
CONFIG_DP83640_PHY=y
CONFIG_MDIO_BUS_MUX=y
CONFIG_HAVE_UNWIND_USER_FP=y
CONFIG_HAVE_SOFTIRQ_ON_OWN_STACK=y
CONFIG_TWL4030_CORE=y
CONFIG_REGULATOR_MP886X=y
CONFIG_CC_HAS_ENTRY_PADDING=y
CONFIG_EXTCON_USB_GPIO=y
CONFIG_ARCH_USE_SYM_ANNOTATIONS=y
CONFIG_FANOTIFY_ACCESS_PERMISSIONS=y
CONFIG_PHY_INTEL_LGM_EMMC=y
CONFIG_MFD_MAX5970=y
CONFIG_PM=y
CONFIG_QFMT_V1=y
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO=y
CONFIG_SENSORS_ADM9240=y
CONFIG_MTK_NET_PHYLIB=y
CONFIG_CC_HAS_KASAN_GENERIC=y
CONFIG_BOOT_VESA_SUPPORT=y
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE=y
CONFIG_PPDEV=y
CONFIG_CIFS_COMPRESSION=y
CONFIG_SPI_BITBANG=y
CONFIG_FW_CS_DSP=y
CONFIG_REGULATOR_MT6397=y
CONFIG_IO_URING_BPF=y
CONFIG_CC_CAN_LINK=y
CONFIG_I2C_CHT_WC=y
CONFIG_HIBERNATION_COMP_LZO=y
CONFIG_MHI_BUS=y
CONFIG_HAVE_DYNAMIC_FTRACE_NO_PATCHABLE=y
CONFIG_FANOTIFY=y
CONFIG_CAN_DEV=y
CONFIG_NI903X_WDT=y
CONFIG_X86_REQUIRED_FEATURE_PSE=y
CONFIG_PREEMPT_COUNT=y
CONFIG_RPMSG_NS=y
CONFIG_SENSORS_MAX20830=y
CONFIG_ACPI_MDIO=y
CONFIG_GPIO_LATCH=y
CONFIG_NET_VENDOR_LITEX=y
CONFIG_SENSORS_XDPE122_REGULATOR=y
CONFIG_SPARSEMEM_VMEMMAP_PREINIT=y
CONFIG_SCHED_STACK_END_CHECK=y
CONFIG_PINCTRL_ELKHARTLAKE=y
CONFIG_EXECMEM=y
CONFIG_SENSORS_TPS25990=y
CONFIG_NEED_SRCU_NMI_SAFE=y
CONFIG_TREE_RCU=y
CONFIG_PT_RECLAIM=y
CONFIG_LINEAR_RANGES=y
CONFIG_GENERIC_STRNLEN_USER=y
CONFIG_COMMON_CLK_CS2000_CP=y
CONFIG_EXTCON_INTEL_INT3496=y
CONFIG_WLAN_VENDOR_INTEL=y
CONFIG_CAN_M_CAN_PLATFORM=y
CONFIG_ARCH_HAS_GCOV_PROFILE_ALL=y
CONFIG_COMEDI_NI_LABPC=y
CONFIG_REGULATOR_BD71815=y
CONFIG_NUMA=y
CONFIG_DYNAMIC_DEBUG=y
CONFIG_GNSS=y
CONFIG_DP83TC811_PHY=y
CONFIG_DEBUG_VIRTUAL=y
CONFIG_EXPERT=y
CONFIG_LIST_HARDENED=y
CONFIG_LEGACY_VSYSCALL_XONLY=y
CONFIG_CLKEVT_I8253=y
CONFIG_LZ4_DECOMPRESS=y
CONFIG_COMEDI_TESTS_NI_ROUTES=y
CONFIG_COMEDI_NI_DAQ_DIO24_CS=y
CONFIG_INPUT_MOUSE=y
CONFIG_REGULATOR_PF0900=y
CONFIG_VMLINUX_MAP=y
CONFIG_HAVE_SETUP_PER_CPU_AREA=y
CONFIG_FB_ARC=y
CONFIG_DPLL=y
CONFIG_PCS_LYNX=y
CONFIG_CRYPTO_LIB_UTILS=y
CONFIG_TCG_TPM=y
CONFIG_SWIOTLB=y
CONFIG_WW_MUTEX_SELFTEST=y
CONFIG_OMFS_FS=y
CONFIG_FAILOVER=y
CONFIG_ADFS_FS_RW=y
CONFIG_PINCONF=y
CONFIG_CIFS_UPCALL=y
CONFIG_BUILDTIME_TABLE_SORT=y
CONFIG_MFD_MC13XXX=y
CONFIG_MFD_LP3943=y
CONFIG_SENSORS_MAX6650=y
CONFIG_CC_HAS_NAMED_AS=y
CONFIG_PECI=y
CONFIG_MFD_BCM590XX=y
CONFIG_BCMA_DEBUG=y
CONFIG_CRYPTO_HASH_INFO=y
CONFIG_EXT4_FS_SECURITY=y
CONFIG_PREEMPTIRQ_TRACEPOINTS=y
CONFIG_REGULATOR_MP8859=y
CONFIG_HOTPLUG_CPU=y
CONFIG_FUNCTION_ALIGNMENT_16B=y
CONFIG_FB_CFB_IMAGEBLIT=y
CONFIG_RD_LZMA=y
CONFIG_DECOMPRESS_ZSTD=y
CONFIG_BLK_DEV_INTEGRITY=y
CONFIG_ARCH_HAS_DEBUG_VIRTUAL=y
CONFIG_CRYPTO_CMAC=y
CONFIG_HAVE_ARCH_USERFAULTFD_MINOR=y
CONFIG_ARCH_HAS_CPU_CACHE_INVALIDATE_MEMREGION=y
CONFIG_EDAC_ATOMIC_SCRUB=y
CONFIG_UEFI_CPER=y
CONFIG_CRYPTO_842=y
CONFIG_HAVE_ARCH_HUGE_VMAP=y
CONFIG_PRINTER=y
CONFIG_CAN_DEBUG_DEVICES=y
CONFIG_FB_SYS_COPYAREA=y
CONFIG_PANEL=y
CONFIG_FPGA_MGR_XILINX_SPI=y
CONFIG_HWMON_VID=y
CONFIG_ARCH_WANT_BATCHED_UNMAP_TLB_FLUSH=y
CONFIG_I2C=y
CONFIG_REGULATOR_QCOM_PM8008=y
CONFIG_GENERIC_IRQ_RESERVATION_MODE=y
CONFIG_COMEDI_CB_DAS16_CS=y
CONFIG_FB_HECUBA=y
CONFIG_NET_FOU=y
CONFIG_HWLAT_TRACER=y
CONFIG_RV_MON_DEADLINE=y
CONFIG_DMA_DECLARE_COHERENT=y
CONFIG_REGULATOR_88PG86X=y
CONFIG_SENSORS_W83791D=y
CONFIG_UNINLINE_SPIN_UNLOCK=y
CONFIG_SPI_SLAVE_SYSTEM_CONTROL=y
CONFIG_REGULATOR_MAX77541=y
CONFIG_RETU_WATCHDOG=y
CONFIG_ETHERNET=y
CONFIG_RANDSTRUCT_NONE=y
CONFIG_SENSORS_IBM_CFFPS=y
CONFIG_I2C_GPIO=y
CONFIG_LTO_NONE=y
CONFIG_HAVE_IOREMAP_PROT=y
CONFIG_X86_REQUIRED_FEATURE_PGE=y
CONFIG_CRYPTO_HMAC=y
CONFIG_LOCK_MM_AND_FIND_VMA=y
CONFIG_SENSORS_AD7314=y
CONFIG_PRINTK=y
CONFIG_MFD_RT5033=y
CONFIG_SENSORS_VT1211=y
CONFIG_CAN_EMS_PCMCIA=y
CONFIG_NET_VENDOR_8390=y
CONFIG_ACPI_FFH=y
CONFIG_SENSORS_DA9055=y
CONFIG_ARCH_HAS_DEBUG_WX=y
CONFIG_SENSORS_MP29502=y
CONFIG_PHY_CADENCE_TORRENT=y
CONFIG_GENERIC_IRQ_INJECTION=y
CONFIG_SOFT_WATCHDOG=y
CONFIG_HAVE_KPROBES=y
CONFIG_DST_CACHE=y
CONFIG_EXAR_WDT=y
CONFIG_RV_MON_EVENTS=y
CONFIG_X86_DISABLED_FEATURE_LAM=y
CONFIG_RCU_NEED_SEGCBLIST=y
CONFIG_BLK_INLINE_ENCRYPTION=y
CONFIG_I2C_SIMTEC=y
CONFIG_XILLYBUS=y
CONFIG_NET_FAILOVER=y
CONFIG_GCC_NO_STRINGOP_OVERFLOW=y
CONFIG_LEDS_AAT1290=y
CONFIG_FB_IBM_GXT4500=y
CONFIG_ACPI_LEGACY_TABLES_LOOKUP=y
CONFIG_SKB_EXTENSIONS=y
CONFIG_ALLOW_DEV_COREDUMP=y
CONFIG_GPIO_GRANITERAPIDS=y
CONFIG_ATA_BMDMA=y
CONFIG_KEYBOARD_ATKBD=y
CONFIG_ARCH_HAS_CACHE_LINE_SIZE=y
CONFIG_GPIO_MAX77650=y
CONFIG_CRYPTO_TWOFISH_X86_64=y
CONFIG_AHCI_CEVA=y
CONFIG_F71808E_WDT=y
CONFIG_SENSORS_WM8350=y
CONFIG_SENSORS_LM93=y
CONFIG_SENSORS_PM6764TR=y
CONFIG_LEDS_TRIGGERS=y
CONFIG_SENSORS_MP5926=y
CONFIG_REGULATOR_DA9210=y
CONFIG_GPIO_LP87565=y
CONFIG_MFD_MT6360=y
CONFIG_CRYPTO_SHA3=y
CONFIG_CRYPTO_SHA256=y
CONFIG_HPET_MMAP=y
CONFIG_GPIO_PCF857X=y
CONFIG_GPIO_WM831X=y
CONFIG_CRC64=y
CONFIG_BLK_PM=y
CONFIG_CLKBLD_I8253=y
CONFIG_PAGE_SIZE_4KB=y
CONFIG_REGULATOR_MAX20086=y
CONFIG_WWAN=y
CONFIG_NVME_FABRICS=y
CONFIG_CAN=y
CONFIG_CRYPTO_BLOWFISH_COMMON=y
CONFIG_CRYPTO_STREEBOG=y
CONFIG_JFS_SECURITY=y
CONFIG_I2C_PCA_PLATFORM=y
CONFIG_MEMFD_CREATE=y
CONFIG_CMA_SIZE_SEL_MAX=y
CONFIG_PINCTRL_INTEL_PLATFORM=y
CONFIG_INTEL_SOC_PMIC_CHTDC_TI=y
CONFIG_PINCTRL_CHERRYVIEW=y
CONFIG_ADI_I3C_MASTER=y
CONFIG_BACKLIGHT_SAHARA=y
CONFIG_NLS_ISO8859_8=y
CONFIG_IOSCHED_BFQ=y
CONFIG_SENSORS_INA233=y
CONFIG_PM_SLEEP_SMP=y
CONFIG_GPIO_74XX_MMIO=y
CONFIG_SYNTH_EVENTS=y
CONFIG_MFD_MT6370=y
CONFIG_GENERIC_CMOS_UPDATE=y
CONFIG_SLAB_OBJ_EXT=y
CONFIG_CC_HAS_MARCH_NATIVE=y
CONFIG_GPIO_TPS6586X=y
CONFIG_REGULATOR_RC5T583=y
CONFIG_NET=y
CONFIG_CRYPTO_MANAGER2=y
CONFIG_SENSORS_SMSC47B397=y
CONFIG_NET_VENDOR_ALIBABA=y
CONFIG_LD_ORPHAN_WARN=y
CONFIG_I2C_CHARDEV=y
CONFIG_HAVE_UID16=y
CONFIG_GPIO_MAX77620=y
CONFIG_REGULATOR_LTC3676=y
CONFIG_CPU_MITIGATIONS=y
CONFIG_CRYPTO_LIB_MD5=y
CONFIG_PMBUS=y
CONFIG_CRYPTO_HASH2=y
CONFIG_MARVELL_10G_PHY=y
CONFIG_LEDS_LP8864=y
CONFIG_MFD_DA9052_SPI=y
CONFIG_ENCLOSURE_SERVICES=y
CONFIG_HAVE_ARCH_KGDB=y
CONFIG_COMEDI_QUATECH_DAQP_CS=y
CONFIG_SSB_PCMCIAHOST=y
CONFIG_SPI_DESIGNWARE=y
CONFIG_CGROUP_PERF=y
CONFIG_THERMAL=y
CONFIG_PSTORE_RAM=y
CONFIG_BLK_DEV_INITRD=y
CONFIG_SWAP=y
CONFIG_FPROBE=y
CONFIG_SYSTEM_BLACKLIST_KEYRING=y
CONFIG_WDAT_WDT=y
CONFIG_FIXED_PHY=y
CONFIG_ARCH_SUPPORTS_CFI=y
CONFIG_HID_GENERIC=y
CONFIG_LEDS_PCA955X=y
CONFIG_HAVE_ARCH_KASAN=y
CONFIG_W1_SLAVE_DS2805=y
CONFIG_SENSORS_PC87427=y
CONFIG_NET_PTP_CLASSIFY=y
CONFIG_HIST_TRIGGERS=y
CONFIG_W1_MASTER_GPIO=y
CONFIG_SCSI_UFSHCD_PLATFORM=y
CONFIG_TMPFS=y
CONFIG_PGTABLE_HAS_HUGE_LEAVES=y
CONFIG_DEVFREQ_GOV_USERSPACE=y
CONFIG_HAVE_OPTPROBES=y
CONFIG_FB_DEFERRED_IO=y
CONFIG_TRACE_EVENT_INJECT=y
CONFIG_SENSORS_ISL28022=y
CONFIG_BACKLIGHT_LM3509=y
CONFIG_SENSORS_TPS546D24=y
CONFIG_CRYPTO_XXHASH=y
CONFIG_SENSORS_LTC4215=y
CONFIG_SCSI_LOGGING=y
CONFIG_OPEN_ALLIANCE_HELPERS=y
CONFIG_RANDOMIZE_BASE=y
CONFIG_ARCH_HAS_SET_DIRECT_MAP=y
CONFIG_W1_SLAVE_THERM=y
CONFIG_GENERIC_IRQ_PROBE=y
CONFIG_BACKLIGHT_LM3639=y
CONFIG_SENSORS_TSC1641=y
CONFIG_MFD_RC5T583=y
CONFIG_USB_OHCI_LITTLE_ENDIAN=y
CONFIG_AF_RXRPC_DEBUG=y
CONFIG_LEDS_BRIGHTNESS_HW_CHANGED=y
CONFIG_MODULES_USE_ELF_RELA=y
CONFIG_IO_WQ=y
CONFIG_ACPI_HOTPLUG_CPU=y
CONFIG_SENSORS_MP2888=y
CONFIG_NOTIFIER_ERROR_INJECTION=y
CONFIG_REGULATOR_MT6315=y
CONFIG_OF_EARLY_FLATTREE=y
CONFIG_W1_MASTER_AMD_AXI=y
CONFIG_RXKAD=y
CONFIG_CRYPTO_CAST_COMMON=y
CONFIG_WLAN_VENDOR_PURELIFI=y
CONFIG_XZ_DEC_BCJ=y
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST_IDLE=y
