CONFIG_PINCTRL_NORD=y
CONFIG_SERIAL_MPS2_UART_CONSOLE=y
CONFIG_APDS9300=y
CONFIG_KEY_DH_OPERATIONS=y
CONFIG_SM_GCC_4450=y
CONFIG_W1_MASTER_GPIO=y
CONFIG_HW_RANDOM_STM32=y
CONFIG_SM_FTL=y
CONFIG_INPUT_88PM80X_ONKEY=y
CONFIG_TI_AEMIF=y
CONFIG_CRAMFS_BLOCKDEV=y
CONFIG_POWER_SEQUENCING=y
CONFIG_REGULATOR_LTC3589=y
CONFIG_GENERIC_BUG=y
CONFIG_ARM_SCMI_HAVE_SHMEM=y
CONFIG_SENSORS_NTC_THERMISTOR=y
CONFIG_SERIO_PS2MULT=y
CONFIG_SENSORS_TPS25990_REGULATOR=y
CONFIG_PINCTRL_SM8650=y
CONFIG_SOC_TEGRA30_VOLTAGE_COUPLER=y
CONFIG_MTD_NAND_FSL_IFC=y
CONFIG_INPUT_FF_MEMLESS=y
CONFIG_INFINEON_TLV493D=y
CONFIG_MEM_ALLOC_PROFILING=y
CONFIG_RTC_DRV_RS5C372=y
CONFIG_BCMA_SFLASH=y
CONFIG_HAVE_PERF_USER_STACK_DUMP=y
CONFIG_COMMON_CLK_VC7=y
CONFIG_HOTPLUG_CORE_SYNC=y
CONFIG_PHY_MTK_DP=y
CONFIG_CEC_PIN_ERROR_INJ=y
CONFIG_CLK_NORD_TCSRCC=y
CONFIG_MTD_UBI_GLUEBI=y
CONFIG_PKCS8_PRIVATE_KEY_PARSER=y
CONFIG_SLUB=y
CONFIG_BATTERY_MAX17042=y
CONFIG_OF_GPIO=y
CONFIG_AHCI_SUNXI=y
CONFIG_SENSORS_IBMAEM=y
CONFIG_SELECT_MEMORY_MODEL=y
CONFIG_SERIAL_STM32=y
CONFIG_REGULATOR_GPIO=y
CONFIG_EXTCON_LC824206XA=y
CONFIG_PHY_ROCKCHIP_INNO_CSIDPHY=y
CONFIG_SENSORS_G760A=y
CONFIG_INOTIFY_USER=y
CONFIG_COMMON_CLK_MT8365_APU=y
CONFIG_PINCTRL_ROCKCHIP=y
CONFIG_BATTERY_S2MU005=y
CONFIG_SERIO_APBPS2=y
CONFIG_RISCV_ISA_VENDOR_EXT_MIPS=y
CONFIG_CRYPTO_ADIANTUM=y
CONFIG_SOCK_CGROUP_DATA=y
CONFIG_PHY_FSL_IMX8M_PCIE=y
CONFIG_CRYPTO_DEFLATE=y
CONFIG_PINCTRL_PFC_R8A774A1=y
CONFIG_RPMSG_VIRTIO=y
CONFIG_GENERIC_PT=y
CONFIG_SENSORS_DME1737=y
CONFIG_PARPORT_PANEL=y
CONFIG_BATTERY_RT5033=y
CONFIG_RISCV_ISA_C=y
CONFIG_SM_VIDEOCC_6350=y
CONFIG_AHCI_QORIQ=y
CONFIG_PINCTRL_TEGRA238=y
CONFIG_COMMON_CLK_MT8516=y
CONFIG_REGULATOR_MAX77826=y
CONFIG_XFS_WARN=y
CONFIG_PA12203001=y
CONFIG_BOSCH_BNO055_I2C=y
CONFIG_GPIO_SL28CPLD=y
CONFIG_BCM74110_MAILBOX=y
CONFIG_PINCTRL_TI_IODELAY=y
CONFIG_PINCTRL_MDM9607=y
CONFIG_DPS310=y
CONFIG_CODE_TAGGING=y
CONFIG_MFD_WM5110=y
CONFIG_MFD_MP2629=y
CONFIG_BMG160=y
CONFIG_SC_DISPCC_7180=y
CONFIG_SYSTEM_TRUSTED_KEYRING=y
CONFIG_POWER_RESET_GEMINI_POWEROFF=y
CONFIG_INTERCONNECT=y
CONFIG_LOCK_EVENT_COUNTS=y
CONFIG_REGULATOR_MT6359=y
CONFIG_WPCM450_SOC=y
CONFIG_STRICT_KERNEL_RWX=y
CONFIG_TIME_NS_VDSO=y
CONFIG_QCOM_RPMPD=y
CONFIG_PINCTRL_S3C64XX=y
CONFIG_CGROUP_FAVOR_DYNMODS=y
CONFIG_INPUT_AW86927=y
CONFIG_REGULATOR_MT6331=y
CONFIG_ENCRYPTED_KEYS=y
CONFIG_CLKSRC_MPS2=y
CONFIG_MFD_STMFX=y
CONFIG_RISCV_ISA_VENDOR_EXT_ANDES=y
CONFIG_PHY_UNIPHIER_AHCI=y
CONFIG_VIRT_CPU_ACCOUNTING=y
CONFIG_GENERIC_IRQ_MULTI_HANDLER=y
CONFIG_AHCI_TEGRA=y
CONFIG_PHY_PXA_28NM_USB2=y
CONFIG_INPUT_GPIO_VIBRA=y
CONFIG_IMX_SCMI_MISC_DRV=y
CONFIG_ADXL313_I2C=y
CONFIG_AHCI_DWC=y
CONFIG_REGULATOR_SY7636A=y
CONFIG_SM_GCC_8550=y
CONFIG_BATTERY_BQ27XXX_DT_UPDATES_NVM=y
CONFIG_LEDS_BRIGHTNESS_HW_CHANGED=y
CONFIG_SCSI_UFS_TI_J721E=y
CONFIG_SC_CAMCC_7180=y
CONFIG_W1_SLAVE_DS2413=y
CONFIG_SCSI_SRP_ATTRS=y
CONFIG_PPDEV=y
CONFIG_RTC_NVMEM=y
CONFIG_PHY_FSL_LYNX_CORE=y
CONFIG_MFD_AC100=y
CONFIG_ROCKCHIP_SARADC=y
CONFIG_I2C_STM32F4=y
CONFIG_MTD_NAND_ECC_SW_HAMMING_SMC=y
CONFIG_LEDS_ARIEL=y
CONFIG_BLK_DEV_SR=y
CONFIG_MFD_WM8994=y
CONFIG_MTD_ONENAND=y
CONFIG_KEXEC_CORE=y
CONFIG_MSDOS_PARTITION=y
CONFIG_MFD_ATMEL_SMC=y
CONFIG_LEDS_EXPRESSWIRE=y
CONFIG_PINCTRL_MT8167=y
CONFIG_ISL29020=y
CONFIG_SENSORS_LM95234=y
CONFIG_CEC_PIN=y
CONFIG_MFD_MC13XXX=y
CONFIG_THEAD_TH1520_MBOX=y
CONFIG_ERRATA_SIFIVE=y
CONFIG_NFTL=y
CONFIG_REGULATOR_ANATOP=y
CONFIG_NEED_DMA_MAP_STATE=y
CONFIG_SHMEM=y
CONFIG_SC_DISPCC_8280XP=y
CONFIG_TI_PRUSS=y
CONFIG_HOTPLUG_PARALLEL=y
CONFIG_FW_CS_DSP=y
CONFIG_TI_K3_R5_REMOTEPROC=y
CONFIG_PINCTRL_DA9062=y
CONFIG_EP93XX_ADC=y
CONFIG_SENSORS_SMSC47B397=y
CONFIG_GPIO_SIFIVE=y
CONFIG_QCS_GPUCC_615=y
CONFIG_POWER_RESET_RESTART=y
CONFIG_SERIAL_CORE=y
CONFIG_PHY_EIC7700_SATA=y
CONFIG_PINCTRL_EXYNOS_ARM=y
CONFIG_SENSORS_LM83=y
CONFIG_IOMMU_PT_AMDV1=y
CONFIG_SM_CAMCC_8150=y
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO_BARE=y
CONFIG_BALLOON=y
CONFIG_MAILBOX_TEST=y
CONFIG_UNIX98_PTYS=y
CONFIG_SENSORS_XDPE122_REGULATOR=y
CONFIG_NVMEM_QORIQ_EFUSE=y
CONFIG_MTD_COMPLEX_MAPPINGS=y
CONFIG_IPMI_POWEROFF=y
CONFIG_FHANDLE=y
CONFIG_REGULATOR_STM32_BOOSTER=y
CONFIG_I2C_HIGHLANDER=y
CONFIG_ERRATA_SIFIVE_CIP_1200=y
CONFIG_RTC_DRV_RK808=y
CONFIG_I2C_DEMUX_PINCTRL=y
CONFIG_RAID6_PQ_BENCHMARK=y
CONFIG_CRC4=y
CONFIG_REGULATOR_QCOM_SPMI=y
CONFIG_IO_URING=y
CONFIG_PHY_UNIPHIER_USB2=y
CONFIG_HOTPLUG_CORE_SYNC_FULL=y
CONFIG_STM32_IPCC=y
CONFIG_I2C_LS2X_V2=y
CONFIG_INPUT_TPS6594_PWRBUTTON=y
CONFIG_SENSORS_F71882FG=y
CONFIG_PINCTRL_ASPEED=y
CONFIG_SPARSEMEM_VMEMMAP=y
CONFIG_NVMEM_LAYOUT_SL28_VPD=y
CONFIG_IIO_SW_DEVICE=y
CONFIG_CEC_CORE=y
CONFIG_LEDS_ACER_A500=y
CONFIG_MFD_CORE=y
CONFIG_MTD_PCMCIA=y
CONFIG_MUX_ADG792A=y
CONFIG_GENERIC_PENDING_IRQ=y
CONFIG_INPUT_ADXL34X_I2C=y
CONFIG_ARCH_STACKWALK=y
CONFIG_CLKSRC_STM32_LP=y
CONFIG_MFD_CS40L50_I2C=y
CONFIG_SENSORS_W83773G=y
CONFIG_VL53L0X_I2C=y
CONFIG_CRYPTO_XTS=y
CONFIG_ARCH_HAS_SETUP_DMA_OPS=y
CONFIG_RALINK_TIMER=y
CONFIG_INPUT_DA9063_ONKEY=y
CONFIG_NAU7802=y
CONFIG_CRYPTO_CAST_COMMON=y
CONFIG_BATTERY_DA9150=y
CONFIG_PINCTRL_SCMI=y
CONFIG_PREEMPT_LAZY=y
CONFIG_SOC_TI=y
CONFIG_SENSORS_ZL6100=y
CONFIG_LD_CAN_USE_KEEP_IN_OVERLAY=y
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE_PUD=y
CONFIG_HAVE_KVM_READONLY_MEM=y
CONFIG_CLK_STARFIVE_JH7110_SYS=y
CONFIG_BACKLIGHT_KTZ8866=y
CONFIG_BLK_CGROUP_PUNT_BIO=y
CONFIG_MFD_NTXEC=y
CONFIG_HDQ_MASTER_OMAP=y
CONFIG_MTD_CFI_UTIL=y
CONFIG_SM_DISPCC_8250=y
CONFIG_SC_GCC_8180X=y
CONFIG_HARDENED_USERCOPY=y
CONFIG_JSA1212=y
CONFIG_COMMON_CLK_MT8192_IMP_IIC_WRAP=y
CONFIG_NLS_CODEPAGE_437=y
CONFIG_MFD_TPS6594_I2C=y
CONFIG_RTC_DRV_MA35D1=y
CONFIG_RTC_DRV_SUNXI=y
CONFIG_ALLOW_DEV_COREDUMP=y
CONFIG_LEDS_LP8501=y
CONFIG_MFD_SM501=y
CONFIG_ECRYPT_FS=y
CONFIG_OVERLAY_FS=y
CONFIG_MTD_CFI=y
CONFIG_CRYPTO_SM4_GENERIC=y
CONFIG_POWER_SUPPLY_DEBUG=y
CONFIG_MFD_KHADAS_MCU=y
CONFIG_COMMON_CLK_MT8365_VENC=y
CONFIG_CMA=y
CONFIG_OF_IOMMU=y
CONFIG_KEYBOARD_IMX_BBM_SCMI=y
CONFIG_PRINTK_CALLER=y
CONFIG_CRYPTO_LIB_GF128MUL=y
CONFIG_REGULATOR_MAX77838=y
CONFIG_EXYNOS_USI=y
CONFIG_EROFS_FS_ZIP=y
CONFIG_SHRINKER_DEBUG=y
CONFIG_PINCTRL_SC7280=y
CONFIG_REGULATOR_DA9210=y
CONFIG_LZ4_DECOMPRESS=y
CONFIG_I2C_GPIO=y
CONFIG_BTRFS_DEBUG=y
CONFIG_HAVE_GCC_PLUGINS=y
CONFIG_TMP117=y
CONFIG_ARCH_OPTIONAL_KERNEL_RWX=y
CONFIG_COMMON_CLK_RP1=y
CONFIG_PREEMPT_NOTIFIERS=y
CONFIG_FW_LOADER_PAGED_BUF=y
CONFIG_HWMON_VID=y
CONFIG_CRYPTO_AEAD=y
CONFIG_SM_DISPCC_8750=y
CONFIG_SMI330=y
CONFIG_PINCTRL_SUN6I_A31_R=y
CONFIG_UDF_FS=y
CONFIG_REGULATOR_DA9121=y
CONFIG_GENERIC_CPU_DEVICES=y
CONFIG_INPUT_VIVALDIFMAP=y
CONFIG_BATTERY_ACT8945A=y
CONFIG_RTC_DRV_RX8111=y
CONFIG_CRYPTO_HMAC=y
CONFIG_ISL76682=y
CONFIG_BCMA_DEBUG=y
CONFIG_COMMON_CLK_MT8192_MDPSYS=y
CONFIG_VT_CONSOLE=y
CONFIG_SERIAL_MVEBU_UART=y
CONFIG_LEDS_CLASS=y
CONFIG_RTC_INTF_DEV=y
CONFIG_SEG_LED_GPIO=y
CONFIG_OLPC_XO175=y
CONFIG_PINCTRL_BM1880=y
CONFIG_SENSORS_OCC_P9_SBE=y
CONFIG_HW_RANDOM_INGENIC_RNG=y
CONFIG_MEMORY=y
CONFIG_GPIO_ZYNQMP_MODEPIN=y
CONFIG_LIDAR_LITE_V2=y
CONFIG_REGULATOR_RK808=y
CONFIG_PARAVIRT=y
CONFIG_HIBERNATION=y
CONFIG_PAC1934=y
CONFIG_MTD_CFI_NOSWAP=y
CONFIG_MTD_PARSER_IMAGETAG=y
CONFIG_REGULATOR_PV88080=y
CONFIG_CLONE_BACKWARDS=y
CONFIG_OF_FLATTREE=y
CONFIG_TSYS02D=y
CONFIG_I2C_BCM_KONA=y
CONFIG_MMU_GATHER_TABLE_FREE=y
CONFIG_RCU_NEED_SEGCBLIST=y
CONFIG_REGULATOR_88PM800=y
CONFIG_CMA_SYSFS=y
CONFIG_RTC_DRV_M48T35=y
CONFIG_LINEDISP=y
CONFIG_PINCTRL_SINGLE=y
CONFIG_HAVE_BUILDTIME_MCOUNT_SORT=y
CONFIG_BLOCK=y
CONFIG_CLK_IMX93=y
CONFIG_LEDS_LP5562=y
CONFIG_HW_RANDOM_BA431=y
CONFIG_SENSORS_SMSC47M1=y
CONFIG_PINCTRL_AIROHA=y
CONFIG_ARM_SCMI_PERF_DOMAIN=y
CONFIG_COMMON_CLK_MT6797_VDECSYS=y
CONFIG_PHY_NXP_PTN3222=y
CONFIG_PHY_STARFIVE_JH7110_DPHY_TX=y
CONFIG_IPMB_DEVICE_INTERFACE=y
CONFIG_POWER_SEQUENCING_QCOM_WCN=y
CONFIG_SX9310=y
CONFIG_RTC_DRV_LPC32XX=y
CONFIG_DEVFREQ_EVENT_EXYNOS_PPMU=y
CONFIG_PINCTRL_IMX8QM=y
CONFIG_SSIF_IPMI_BMC=y
CONFIG_INPUT_MMA8450=y
CONFIG_GENERIC_SYSCALL=y
CONFIG_EXTCON=y
CONFIG_CPU_PM=y
CONFIG_KEYBOARD_NEWTON=y
CONFIG_PINCTRL_SUN55I_A523_R=y
CONFIG_SENSORS_XDP710=y
CONFIG_INPUT_BBNSM_PWRKEY=y
CONFIG_BCM2835_TIMER=y
CONFIG_PINCTRL_LAKEFIELD=y
CONFIG_PINCTRL_SDM670=y
CONFIG_LEDS_NCP5623=y
CONFIG_REGULATOR_RT4803=y
CONFIG_MAX517=y
CONFIG_BLOCK_HOLDER_DEPRECATED=y
CONFIG_ARCH_SUPPORTS_ATOMIC_RMW=y
CONFIG_CRYPTO_NULL=y
CONFIG_ARCH_HAS_GENERIC_CRASHKERNEL_RESERVATION=y
CONFIG_PHY_SUN6I_MIPI_DPHY=y
CONFIG_PECI=y
CONFIG_PHY_ST_SPEAR1340_MIPHY=y
CONFIG_GROUP_SCHED_WEIGHT=y
CONFIG_MFD_TPS65219=y
CONFIG_TSL4531=y
CONFIG_PINCTRL_SH_PFC_GPIO=y
CONFIG_RESET_RASPBERRYPI=y
CONFIG_BTRFS_ASSERT=y
CONFIG_W1_MASTER_DS2482=y
CONFIG_QUEUED_RWLOCKS=y
CONFIG_RISCV_ISA_VENDOR_EXT_SIFIVE=y
CONFIG_SENSORS_IRPS5401=y
CONFIG_BACKLIGHT_LM3509=y
CONFIG_MULTIUSER=y
CONFIG_MTD_HYPERBUS=y
CONFIG_HAVE_RETHOOK=y
CONFIG_CRC_ITU_T=y
CONFIG_REGULATOR_TPS68470=y
CONFIG_IPQ_GCC_806X=y
CONFIG_PECI_NPCM=y
CONFIG_HAS_IOMEM=y
CONFIG_BATTERY_UG3105=y
CONFIG_PINCTRL_MILOS=y
CONFIG_FS_IOMAP=y
CONFIG_I2C_NOMADIK=y
CONFIG_HAVE_KRETPROBES=y
CONFIG_ERRATA_THEAD=y
CONFIG_IPQ_NSSCC_5424=y
CONFIG_NLS_CODEPAGE_737=y
CONFIG_DMA_CMA=y
CONFIG_POWER_RESET_GPIO=y
CONFIG_COMMON_CLK_MT8167_MFGCFG=y
CONFIG_SENSORS_PCF8591=y
CONFIG_QCOM_SMD_RPM=y
CONFIG_PINCTRL_TEGRA20=y
CONFIG_IOMMU_PT=y
CONFIG_PINCTRL_OWL=y
CONFIG_PM_DEBUG=y
CONFIG_NVMEM_APPLE_EFUSES=y
CONFIG_MST_IRQ=y
CONFIG_CRYPTO_SKCIPHER2=y
CONFIG_CLK_IMX8MM=y
CONFIG_CHARGER_QCOM_SMBB=y
CONFIG_REGULATOR_MAX77675=y
CONFIG_MHI_BUS_DEBUG=y
CONFIG_COMMON_CLK_MT8196_MDPSYS=y
CONFIG_UBIFS_FS_ZSTD=y
CONFIG_REGULATOR_MAX8907=y
CONFIG_SHUFFLE_PAGE_ALLOCATOR=y
CONFIG_REGULATOR_SGM3804=y
CONFIG_RCU_STALL_COMMON=y
CONFIG_QNX4FS_FS=y
CONFIG_PINCTRL_SPRD_SC9860=y
CONFIG_SERIAL_EARLYCON=y
CONFIG_RTC_DRV_DS17285=y
CONFIG_PRINTK=y
CONFIG_HAVE_CLK_PREPARE=y
CONFIG_MTD_NAND_ECC=y
CONFIG_COMEDI_8255=y
CONFIG_ARCH_HAS_HW_PTE_YOUNG=y
CONFIG_KEYBOARD_TEGRA=y
CONFIG_CRYPTO_LIB_CHACHA=y
CONFIG_IMX_SCMI_BBM_EXT=y
CONFIG_REGULATOR=y
CONFIG_MTD_ABSENT=y
CONFIG_MTD_NAND_PLATFORM=y
CONFIG_PINCTRL_MT8516=y
CONFIG_EXTCON_USB_GPIO=y
CONFIG_MFD_PM8XXX=y
CONFIG_MESON_EE_PM_DOMAINS=y
CONFIG_QCOM_COINCELL=y
CONFIG_KMALLOC_PARTITION_RANDOM=y
CONFIG_MTK_IOMMU_V1=y
CONFIG_RESET_SUNXI=y
CONFIG_TOOLS_SUPPORT_RELR=y
CONFIG_PHY_QCOM_QMP_PCIE=y
CONFIG_MTD_NAND_JZ4725B_BCH=y
CONFIG_BPF_JIT=y
CONFIG_INPUT_PM8XXX_VIBRATOR=y
CONFIG_HAVE_STACKPROTECTOR=y
CONFIG_IPMI_PANIC_STRING=y
CONFIG_MD_BITMAP=y
CONFIG_IRQ_POLL=y
CONFIG_TCG_TIS_I2C=y
CONFIG_GPIO_SHARED_PROXY=y
CONFIG_LEDS_PCA955X_GPIO=y
CONFIG_HAVE_ARCH_MMAP_RND_COMPAT_BITS=y
CONFIG_GPIO_IXP4XX=y
CONFIG_EXYNOS_CHIPID=y
CONFIG_WMT_SOCINFO=y
CONFIG_RSEQ=y
CONFIG_PHY_SAMSUNG_USB2=y
CONFIG_IIO_STM32_TIMER_TRIGGER=y
CONFIG_BMA220_I2C=y
CONFIG_DEBUG_FS_ALLOW_ALL=y
CONFIG_SENSORS_MP2925=y
CONFIG_CLK_BCM_CYGNUS=y
CONFIG_RTC_DRV_ABX80X=y
CONFIG_IIO_TRIGGERED_EVENT=y
CONFIG_MTD_NAND_NUVOTON_MA35=y
CONFIG_I2C_AT91=y
CONFIG_MCP4728=y
CONFIG_BMG160_I2C=y
CONFIG_PINCTRL_BAYTRAIL=y
CONFIG_COMEDI_BOND=y
CONFIG_GPIO_LINE_MUX=y
CONFIG_PINCTRL_EXYNOS=y
CONFIG_IOMMU_DEBUGFS=y
CONFIG_I2C_SMBUS=y
CONFIG_DEBUG_MEMORY_INIT=y
CONFIG_PHY_BCM_SR_USB=y
CONFIG_SQUASHFS_MOUNT_DECOMP_THREADS=y
CONFIG_PINCTRL_QCOM_SSBI_PMIC=y
CONFIG_LEDS_TI_LMU_COMMON=y
CONFIG_BSD_PROCESS_ACCT_V3=y
CONFIG_CLK_ELIZA_TCSRCC=y
CONFIG_NO_HZ=y
CONFIG_REGULATOR_MAX1586=y
CONFIG_QCS_TURING_404=y
CONFIG_SDM_DISPCC_845=y
CONFIG_HAVE_KERNEL_GZIP=y
CONFIG_RESET_STARFIVE_JH7110=y
CONFIG_PHY_QCOM_USB_HS_28NM=y
CONFIG_PHY_ROCKCHIP_PCIE=y
CONFIG_PINCTRL=y
CONFIG_SQUASHFS_DECOMP_SINGLE=y
CONFIG_ZSWAP_SHRINKER_DEFAULT_ON=y
CONFIG_GPIO_VIRTIO=y
CONFIG_PINCTRL_MA35D1=y
CONFIG_BATTERY_HUAWEI_GAOKUN=y
CONFIG_MFD_MAX8907=y
CONFIG_NLS_ISO8859_13=y
CONFIG_XFS_POSIX_ACL=y
CONFIG_SERIO_GPIO_PS2=y
CONFIG_QCOM_QSEECOM_UEFISECAPP=y
CONFIG_MCP4531=y
CONFIG_PM=y
CONFIG_LEDS_LM3532=y
CONFIG_FIX_EARLYCON_MEM=y
CONFIG_MHI_BUS_EP=y
CONFIG_RESET_RZG2L_USBPHY_CTRL=y
CONFIG_COMEDI_PARPORT=y
CONFIG_MTK_SCPSYS_PM_DOMAINS=y
CONFIG_MEMTEST=y
CONFIG_DA8XX_DDRCTL=y
CONFIG_COMMON_CLK_MT8173=y
CONFIG_I2C_MUX_PINCTRL=y
CONFIG_RPMSG_CTRL=y
CONFIG_I2C_MICROCHIP_CORE=y
CONFIG_REGULATOR_RT6245=y
CONFIG_REGMAP_MMIO=y
CONFIG_PINCTRL_MT6779=y
CONFIG_COMEDI_CB_DAS16_CS=y
CONFIG_REGULATOR_TPS51632=y
CONFIG_PHY_TI_DS125DF111=y
CONFIG_LEDS_LM3697=y
CONFIG_TMPFS_QUOTA=y
CONFIG_SERIAL_MCTRL_GPIO=y
CONFIG_MB1232=y
CONFIG_PINCTRL_QCS404=y
CONFIG_PINCTRL_WMT=y
CONFIG_QCS_DISPCC_615=y
