CONFIG_SOC_SAMSUNG=n
CONFIG_GENERIC_IRQ_EFFECTIVE_AFF_MASK=n
CONFIG_PINCTRL_IMX8QM=n
CONFIG_ARCH_HISI=n
CONFIG_TICK_ONESHOT=n
CONFIG_RTC_DRV_PM8XXX=n
CONFIG_CAN_NETLINK=n
CONFIG_USB_GADGET=n
CONFIG_ARCH_R8A77965=n
CONFIG_SERIAL_IMX=n
CONFIG_PAGE_SIZE_4KB=n
CONFIG_USB_CDNS3=n
CONFIG_SPI_RZV2H_RSPI=n
CONFIG_NETFILTER_EGRESS=n
CONFIG_CLK_INTEL_SOCFPGA=n
CONFIG_DRM_ANALOGIX_ANX7625=n
CONFIG_PCI_HOST_COMMON=n
CONFIG_TESLA_FSD_COMMON_CLK=n
CONFIG_BT_MRVL=n
CONFIG_REGULATOR_QCOM_SPMI=n
CONFIG_EFI_EARLYCON=n
CONFIG_ARM_SMMU_V3_PMU=n
CONFIG_BNX2X=n
CONFIG_PCI_BRIDGE_EMUL=n
CONFIG_DRM_MEDIATEK_HDMI=n
CONFIG_SPI_QCOM_GENI=n
CONFIG_COMMON_CLK_RK808=n
CONFIG_HISILICON_ERRATUM_162100125=n
CONFIG_DRM_HISI_KIRIN=n
CONFIG_COMMON_CLK_MT6779=n
CONFIG_CRYPTO_LIB_CHACHA=n
CONFIG_CRYPTO_LIB_SHA1=n
CONFIG_USB_F_OBEX=n
CONFIG_PINCTRL_STM32=n
CONFIG_PID_NS=n
CONFIG_SPI_SH_MSIOF=n
CONFIG_ARCH_BRCMSTB=n
CONFIG_INTERCONNECT_QCOM_SA8775P=n
CONFIG_CRASH_DUMP=n
CONFIG_V4L2_ASYNC=n
CONFIG_ARCH_R8A774B1=n
CONFIG_PCI_IMX6_HOST=n
CONFIG_SCSI_UFS_QCOM=n
CONFIG_OMAP_USB2=n
CONFIG_TOUCHSCREEN_EDT_FT5X06=n
CONFIG_PHY_MTK_DP=n
CONFIG_PINCTRL_IMX=n
CONFIG_SND_SOC_TS3A227E=n
CONFIG_PCI_J721E=n
CONFIG_SL28CPLD_INTC=n
CONFIG_HAVE_FUNCTION_GRAPH_TRACER=n
CONFIG_NFS_V3=n
CONFIG_QCOM_EBI2=n
CONFIG_IPMI_SI=n
CONFIG_HAVE_ARCH_MMAP_RND_COMPAT_BITS=n
CONFIG_INPUT_PM8941_PWRKEY=n
CONFIG_SUN8I_DE2_CCU=n
CONFIG_PINCTRL_ARMADA_AP806=n
CONFIG_PHY_QCOM_QMP=n
CONFIG_XEN_FBDEV_FRONTEND=n
CONFIG_VIDEO_RENESAS_FCP=n
CONFIG_DRM_ZYNQMP_DPSUB=n
CONFIG_USB_OHCI_EXYNOS=n
CONFIG_DMA_COHERENT_POOL=n
CONFIG_SUN55I_PCK600=n
CONFIG_SCSI_SAS_LIBSAS=n
CONFIG_ARCH_ASPEED=n
CONFIG_ARCH_R9A09G087=n
CONFIG_SND_MESON_AXG_SPDIFIN=n
CONFIG_SGL_ALLOC=n
CONFIG_SPRD_COMMON_CLK=n
CONFIG_EXYNOS_THERMAL=n
CONFIG_DRM_ETNAVIV=n
CONFIG_CRYPTO_LIB_SHA1_ARCH=n
CONFIG_PCIE_DW=n
CONFIG_PINCTRL_SC7180=n
CONFIG_VDSO_GETRANDOM=n
CONFIG_DRM_MSM_KMS_FBDEV=n
CONFIG_USB_ULPI=n
CONFIG_RPMSG_QCOM_SMD=n
CONFIG_EDAC_LAYERSCAPE=n
CONFIG_CRC_ITU_T=n
CONFIG_CLK_R8A77990=n
CONFIG_PINCTRL_SM8350=n
CONFIG_PINCTRL_MT6795=n
CONFIG_PHY_NS2_PCIE=n
CONFIG_SND_HDA_CODEC_HDMI=n
CONFIG_CAN_FLEXCAN=n
CONFIG_ATH10K_SNOC=n
CONFIG_VIDEO_IMX219=n
CONFIG_NET_DEVMEM=n
CONFIG_CLK_RK3308=n
CONFIG_CRYPTO_DEV_ZYNQMP_AES=n
CONFIG_FB=n
CONFIG_USB_XHCI_MTK=n
CONFIG_SND_SOC_LPASS_VA_MACRO=n
CONFIG_HWSPINLOCK=n
CONFIG_SERIAL_8250_PCI=n
CONFIG_SM_GPUCC_6350=n
CONFIG_AUDIT_GENERIC=n
CONFIG_SC_GCC_8280XP=n
CONFIG_QDU_GCC_1000=n
CONFIG_CPU_RMAP=n
CONFIG_CRYPTO_LIB_SHA256=n
CONFIG_HID_GENERIC=n
CONFIG_REBOOT_MODE=n
CONFIG_EXTCON_USB_GPIO=n
CONFIG_DEVTMPFS_MOUNT=n
CONFIG_GENERIC_CPU_VULNERABILITIES=n
CONFIG_NVMEM_MTK_EFUSE=n
CONFIG_VF_TIMER_NONE=n
CONFIG_CRYPTO_AES_ARM64_CE_CCM=n
CONFIG_HAVE_RUST=n
CONFIG_SLIM_QCOM_NGD_CTRL=n
CONFIG_MSM_GCC_8916=n
CONFIG_HNS_MDIO=n
CONFIG_ARCH_R8A77960=n
CONFIG_COMMON_CLK_MT7986=n
CONFIG_INTERCONNECT_QCOM_QCM2290=n
CONFIG_CROSS_MEMORY_ATTACH=n
CONFIG_IPQ_CMN_PLL=n
CONFIG_ARCH_APPLE=n
CONFIG_SERIAL_OWL_CONSOLE=n
CONFIG_SND_SOC_SOF=n
CONFIG_SPI_NXP_FLEXSPI=n
CONFIG_QCOM_QSEECOM=n
CONFIG_PINCTRL_TEGRA210=n
CONFIG_USB_BDC_UDC=n
CONFIG_REGULATOR_MAX8973=n
CONFIG_CRYPTO_LIB_SHA512_ARCH=n
CONFIG_ARCH_USE_MEMTEST=n
CONFIG_RFKILL_GPIO=n
CONFIG_WLAN_VENDOR_RALINK=n
CONFIG_CRYPTO_KRB5=n
CONFIG_DWMAC_MEDIATEK=n
CONFIG_CROS_EC_TYPEC=n
CONFIG_CRYPTO_HW=n
CONFIG_PINCTRL_UNIPHIER_NX1=n
CONFIG_USB_DWC2_DUAL_ROLE=n
CONFIG_PINCTRL_IPQ6018=n
CONFIG_CPU_THERMAL=n
CONFIG_AMLOGIC_THERMAL=n
CONFIG_DRM_CLIENT_SETUP=n
CONFIG_SND_SOC_J721E_EVM=n
CONFIG_SND_BCM2835_SOC_I2S=n
CONFIG_PWM_XILINX=n
CONFIG_SND_SUN8I_ADDA_PR_REGMAP=n
CONFIG_NET_VENDOR_FREESCALE=n
CONFIG_USB_CONFIGFS_RNDIS=n
CONFIG_BT_BREDR=n
CONFIG_COMMON_CLK_MESON_CLKC_UTILS=n
CONFIG_SND_SOC_MT8188=n
CONFIG_ARCH_HAS_GCOV_PROFILE_ALL=n
CONFIG_SUN55I_A523_MCU_CCU=n
CONFIG_CPU_IDLE_MULTIPLE_DRIVERS=n
CONFIG_USB_OTG=n
CONFIG_USB_U_SERIAL=n
CONFIG_IIO_ST_LSM6DSX=n
CONFIG_QCOM_HIDMA_MGMT=n
CONFIG_RFKILL_LEDS=n
CONFIG_COMMON_CLK_MT6795_VENCSYS=n
CONFIG_NFS_FS=n
CONFIG_PWM_TIECAP=n
CONFIG_PAGE_SIZE_LESS_THAN_64KB=n
CONFIG_MTD_CFI_I2=n
CONFIG_TIMER_PROBE=n
CONFIG_PINCTRL_TEGRA124=n
CONFIG_GPIO_IMX_SCU=n
CONFIG_HAVE_GCC_PLUGINS=n
CONFIG_RC_DEVICES=n
CONFIG_CRYPTO_RNG=n
CONFIG_CLK_R9A09G011=n
CONFIG_INTERCONNECT_QCOM_X1E80100=n
CONFIG_IPQ_NSSCC_5424=n
CONFIG_I2C_GPIO=n
CONFIG_HAVE_KVM_DIRTY_RING_ACQ_REL=n
CONFIG_FW_LOADER_PAGED_BUF=n
CONFIG_PM_GENERIC_DOMAINS_SLEEP=n
CONFIG_DRM_DISPLAY_HELPER=n
CONFIG_PINCTRL_ARMADA_CP110=n
CONFIG_MFD_SIMPLE_MFD_I2C=n
CONFIG_ARCH_R9A07G054=n
CONFIG_MITIGATE_SPECTRE_BRANCH_HISTORY=n
CONFIG_ARCH_R9A09G057=n
CONFIG_PCIE_QCOM_COMMON=n
CONFIG_SOUNDWIRE_QCOM=n
CONFIG_I2C_SLAVE=n
CONFIG_BATTERY_MAX17042=n
CONFIG_COMMON_CLK_MESON_MPLL=n
CONFIG_RENESAS_USB_DMAC=n
CONFIG_IMX_SCMI_CPU_DRV=n
CONFIG_BCM_SBA_RAID=n
CONFIG_MLX4_EN=n
CONFIG_PINCTRL_SA8775P=n
CONFIG_SYSC_R8A779G0=n
CONFIG_CUSE=n
CONFIG_COMMON_CLK_MT8188_CAMSYS=n
CONFIG_ARMADA_AP_CP_HELPER=n
CONFIG_USB_CHIPIDEA_TEGRA=n
CONFIG_COMMON_CLK_MT8186_IMP_IIC_WRAP=n
CONFIG_RZG3S_THERMAL=n
CONFIG_CGROUP_DEVICE=n
CONFIG_PINCTRL_MT8189=n
CONFIG_PINCTRL_S700=n
CONFIG_GNSS_MTK_SERIAL=n
CONFIG_IPQ_APSS_PLL=n
CONFIG_CGROUPS=n
CONFIG_MFD_SEC_I2C=n
CONFIG_PHY_RCAR_GEN3_USB3=n
CONFIG_GPIO_ROCKCHIP=n
CONFIG_DRM_SUN8I_DW_HDMI=n
CONFIG_PCIEASPM_DEFAULT=n
CONFIG_SND_SOC_RK817=n
CONFIG_TCG_TIS_SPI=n
CONFIG_MMC_SDHCI_BST=n
CONFIG_QCS_DISPCC_615=n
CONFIG_ARCH_BLAIZE=n
CONFIG_HW_RANDOM_HISI_TRNG=n
CONFIG_INPUT_VIVALDIFMAP=n
CONFIG_BLK_DEV_SD=n
CONFIG_NET_NS=n
CONFIG_CROS_USBPD_NOTIFY=n
CONFIG_SM_DISPCC_8250=n
CONFIG_ARCH_HAS_STRICT_KERNEL_RWX=n
CONFIG_ARM_RASPBERRYPI_CPUFREQ=n
CONFIG_DRM_RCAR_WRITEBACK=n
CONFIG_STUB_CLK_HI3660=n
CONFIG_ARCH_HAS_STRICT_MODULE_RWX=n
CONFIG_BCM_NS_THERMAL=n
CONFIG_ARM_APPLE_SOC_CPUFREQ=n
CONFIG_USB_F_SERIAL=n
CONFIG_MHI_BUS=n
CONFIG_GRACE_PERIOD=n
CONFIG_PINCTRL_IMX8MM=n
CONFIG_IIO_ST_MAGN_3AXIS=n
CONFIG_PM_SLEEP=n
CONFIG_KALLSYMS=n
CONFIG_ARM64_ERRATUM_1418040=n
CONFIG_XILINX_INTC=n
CONFIG_USB_OHCI_HCD=n
CONFIG_PAGE_COUNTER=n
CONFIG_SYSVIPC_COMPAT=n
CONFIG_SYS_HYPERVISOR=n
CONFIG_CLK_RENESAS_DIV6=n
CONFIG_CPU_FREQ_GOV_ONDEMAND=n
CONFIG_ZYNQMP_POWER=n
CONFIG_COMMON_CLK_MT8195_SCP_ADSP=n
CONFIG_MDIO_REGMAP=n
CONFIG_TRANSPARENT_HUGEPAGE_SHMEM_HUGE_NEVER=n
CONFIG_SURFACE_PLATFORMS=n
CONFIG_PINCTRL_MT6797=n
CONFIG_R8169=n
CONFIG_ARM_SCPI_PROTOCOL=n
CONFIG_QCOM_STATS=n
CONFIG_NVMEM_LAYOUT_SL28_VPD=n
CONFIG_NET_9P_FD=n
CONFIG_HAVE_ARCH_JUMP_LABEL_RELATIVE=n
CONFIG_THERMAL_GOV_POWER_ALLOCATOR=n
CONFIG_MFD_TI_AM335X_TSCADC=n
CONFIG_COMMON_CLK_MT8192_IMP_IIC_WRAP=n
CONFIG_PINCTRL_SC7280_LPASS_LPI=n
CONFIG_OMAP_DM_TIMER=n
CONFIG_RESET_CONTROLLER=n
CONFIG_PINCTRL_IMX_SCU=n
CONFIG_VLAN_8021Q=n
CONFIG_HAVE_LIVEPATCH=n
CONFIG_MAC80211_HAS_RC=n
CONFIG_DRM_STM_LVDS=n
CONFIG_MFD_RK8XX_SPI=n
CONFIG_INTEGRITY=n
CONFIG_PINCTRL_MT8188=n
CONFIG_BT_MRVL_SDIO=n
CONFIG_PINCTRL_SM6375=n
CONFIG_GPIO_GENERIC=n
CONFIG_SND_HDA_CODEC_HDMI_GENERIC=n
CONFIG_COMMON_CLK_MT8167=n
CONFIG_QUOTA=n
CONFIG_RTC_DRV_MESON_VRTC=n
CONFIG_SND_SOC_WCD939X=n
CONFIG_USB_SNP_UDC_PLAT=n
CONFIG_PINCTRL_PFC_R8A77951=n
CONFIG_BLOCK=n
CONFIG_SA_VIDEOCC_8775P=n
CONFIG_PINCTRL_NS2_MUX=n
CONFIG_COMMON_CLK_AXG_AUDIO=n
CONFIG_PAHOLE_HAS_LANG_EXCLUDE=n
CONFIG_MTD_NAND_ECC=n
CONFIG_SG_POOL=n
CONFIG_VIRTIO_BALLOON=n
CONFIG_QCOM_LMH=n
CONFIG_CAN_RX_OFFLOAD=n
CONFIG_COMMON_CLK_MT8186_MDPSYS=n
CONFIG_PROC_PAGE_MONITOR=n
CONFIG_CRC32_ARCH=n
CONFIG_MICROSEMI_PHY=n
CONFIG_LEDS_PWM=n
CONFIG_EXYNOS_ADC=n
CONFIG_CRYPTO_DEV_HISI_QM=n
CONFIG_IPQ_GCC_9574=n
CONFIG_SND_SOC_TOPOLOGY=n
