CONFIG_ARCH_BRCMSTB=n
CONFIG_AHCI_XGENE=n
CONFIG_WLAN_VENDOR_BROADCOM=n
CONFIG_SPI_SUN6I=n
CONFIG_RPCSEC_GSS_KRB5=n
CONFIG_ARM_MEDIATEK_CPUFREQ_HW=n
CONFIG_SCSI_HISI_SAS_PCI=n
CONFIG_SND_MESON_G12A_TOHDMITX=n
CONFIG_ARMADA_AP_CP_HELPER=n
CONFIG_DECOMPRESS_XZ=n
CONFIG_INTERCONNECT_QCOM_SM8550=n
CONFIG_VIDEO_ROCKCHIP_CIF=n
CONFIG_USB_CONN_GPIO=n
CONFIG_SND_SOC_WM8904=n
CONFIG_ARCH_TEGRA_186_SOC=n
CONFIG_BLK_DEV_MD=n
CONFIG_I2C_IMX_LPI2C=n
CONFIG_INTERCONNECT_QCOM_QCS615=n
CONFIG_SND_SOC_WCD939X=n
CONFIG_ARCH_HAS_UBSAN=n
CONFIG_ACPI_DEBUG=n
CONFIG_HWMON=n
CONFIG_DMA_BOUNCE_UNALIGNED_KMALLOC=n
CONFIG_I2C_OMAP=n
CONFIG_USB_DWC3_HAPS=n
CONFIG_NETFILTER_XT_MARK=n
CONFIG_SUNRPC=n
CONFIG_POWER_SEQUENCING=n
CONFIG_FONT_SUPPORT=n
CONFIG_NETFILTER_BPF_LINK=n
CONFIG_ARCH_R8A774E1=n
CONFIG_HAVE_KVM_DIRTY_RING_ACQ_REL=n
CONFIG_PER_VMA_LOCK=n
CONFIG_DMA_SHARED_BUFFER=n
CONFIG_DMA_BCM2835=n
CONFIG_PHY_ROCKCHIP_PCIE=n
CONFIG_SC_CAMCC_7280=n
CONFIG_DRM_PANEL_ILITEK_ILI9882T=n
CONFIG_PWM_ADP5585=n
CONFIG_NET_SCH_MQPRIO_LIB=n
CONFIG_RESET_MESON_AUX=n
CONFIG_ARCH_HIBERNATION_POSSIBLE=n
CONFIG_QUEUED_SPINLOCKS=n
CONFIG_ARM_SCMI_HAVE_TRANSPORT=n
CONFIG_PTP_1588_CLOCK_OPTIONAL=n
CONFIG_ACPI_CPPC_CPUFREQ_FIE=n
CONFIG_MESON_GXBB_WATCHDOG=n
CONFIG_CORESIGHT_CTI=n
CONFIG_SERIAL_AMBA_PL011_CONSOLE=n
CONFIG_COMMON_CLK_HI3519=n
CONFIG_USB_COMMON=n
CONFIG_CPUFREQ_DT_PLATDEV=n
CONFIG_SENSORS_CROS_EC=n
CONFIG_SERIAL_8250_OMAP=n
CONFIG_CRYPTO_ECDH=n
CONFIG_DRM_MSM_DSI_7NM_PHY=n
CONFIG_FB_CFB_IMAGEBLIT=n
CONFIG_CLK_KAANAPALI_GCC=n
CONFIG_REGULATOR_QCOM_SMD_RPM=n
CONFIG_ARCH_HAS_PTDUMP=n
CONFIG_GPIO_GENERIC_PLATFORM=n
CONFIG_SND_MESON_AXG_FIFO=n
CONFIG_CRYPTO_LIB_GF128HASH_ARCH=n
CONFIG_MEDIA_TUNER_TDA9887=n
CONFIG_SERIAL_OWL=n
CONFIG_MTD_NAND_BRCMNAND_BRCMSTB=n
CONFIG_MMC_DW_ROCKCHIP=n
CONFIG_PINCTRL_RZT2H=n
CONFIG_GENERIC_CPU_CACHE_MAINTENANCE=n
CONFIG_SND_SOC_RT5682_I2C=n
CONFIG_HW_RANDOM_BCM2835=n
CONFIG_RTC_DRV_PCF2127=n
CONFIG_TEGRA_MC=n
CONFIG_GENERIC_IDLE_POLL_SETUP=n
CONFIG_DMA_VIRTUAL_CHANNELS=n
CONFIG_ARM64=n
CONFIG_SND_SOC_TEGRA210_ADMAIF=n
CONFIG_DRM_TI_SN65DSI83=n
CONFIG_GENERIC_IRQ_CHIP=n
CONFIG_SERIAL_CORE_CONSOLE=n
CONFIG_SERIAL_SAMSUNG_CONSOLE=n
CONFIG_NVMEM_ROCKCHIP_OTP=n
CONFIG_VIDEO_CAMERA_LENS=n
CONFIG_SERIAL_BCM63XX=n
CONFIG_RCU_STALL_COMMON=n
CONFIG_XEN_BACKEND=n
CONFIG_I3C_OR_I2C=n
CONFIG_INTERVAL_TREE=n
CONFIG_QCOM_IPA=n
CONFIG_PINCTRL_SC8280XP=n
CONFIG_USB_MTU3=n
CONFIG_IOMMU_API=n
CONFIG_TI_AM335X_ADC=n
CONFIG_ARCH_THUNDER2=n
CONFIG_PNP_DEBUG_MESSAGES=n
CONFIG_CRYPTO_DEV_ALLWINNER=n
CONFIG_RTC_DRV_MESON_VRTC=n
CONFIG_WWAN_DEBUGFS=n
CONFIG_BRIDGE_IGMP_SNOOPING=n
CONFIG_REGMAP_IRQ=n
CONFIG_IMX_REMOTEPROC=n
CONFIG_PHY_BRCM_SATA=n
CONFIG_MRP=n
CONFIG_SND_SOC_RT5682=n
CONFIG_MAC80211_RC_MINSTREL=n
CONFIG_HW_RANDOM=n
CONFIG_HWSPINLOCK_QCOM=n
CONFIG_VIDEO_RCAR_DRIF=n
CONFIG_RESET_SCMI=n
CONFIG_EC_ACER_ASPIRE1=n
CONFIG_CRYPTO_AES_ARM64_BS=n
CONFIG_ARCH_WANT_HUGE_PMD_SHARE=n
CONFIG_SPI_MTK_NOR=n
CONFIG_IIO_ADC_HELPER=n
CONFIG_MTD_NAND_QCOM=n
CONFIG_USB=n
CONFIG_SM_CAMCC_8650=n
CONFIG_EXTCON=n
CONFIG_BROADCOM_PHY=n
CONFIG_JUMP_LABEL=n
CONFIG_MMC_SDHI=n
CONFIG_RZ_MTU3=n
CONFIG_USB_RTL8153_ECM=n
CONFIG_REGULATOR_S2MPS11=n
CONFIG_ARCH_HAS_PTE_SPECIAL=n
CONFIG_CLZ_TAB=n
CONFIG_ROCKCHIP_LVDS=n
CONFIG_SERIAL_IMX=n
CONFIG_SND_SOC_MESON_T9015=n
CONFIG_FW_LOADER=n
CONFIG_NEED_SG_DMA_FLAGS=n
CONFIG_ARCH_KEEP_MEMBLOCK=n
CONFIG_ARCH_SUPPORTS_INT128=n
CONFIG_ARCH_SUPPORTS_SCHED_CLUSTER=n
CONFIG_NETFILTER_XT_MATCH_IPVS=n
CONFIG_PINCTRL_IPQ9574=n
CONFIG_VIDEO_QCOM_IRIS=n
CONFIG_REGULATOR_QCOM_USB_VBUS=n
CONFIG_ARM_TEGRA124_CPUFREQ=n
CONFIG_PHY_MTK_PCIE=n
CONFIG_CAVIUM_ERRATUM_23144=n
CONFIG_CRYPTO_ACOMP2=n
CONFIG_PINCTRL_SC8180X=n
CONFIG_ARM_TEGRA186_CPUFREQ=n
CONFIG_SERIAL_MESON=n
CONFIG_USB_CDNS3_PCI_WRAP=n
CONFIG_REBOOT_MODE=n
CONFIG_RENESAS_RZG2L_IRQC=n
CONFIG_SND_SOC_DMIC=n
CONFIG_RTC_INTF_DEV=n
CONFIG_I2C_QCOM_GENI=n
CONFIG_XEN_AUTO_XLATE=n
CONFIG_DRM_RCAR_USE_CMM=n
CONFIG_WLAN_VENDOR_ATH=n
CONFIG_LOCK_SPIN_ON_OWNER=n
CONFIG_OMAP_DM_TIMER=n
CONFIG_INTERCONNECT_QCOM_OSM_L3=n
CONFIG_HAVE_PERF_REGS=n
CONFIG_MMC_SDHCI_MSM=n
CONFIG_TIME_NS_VDSO=n
CONFIG_PHY_AM654_SERDES=n
CONFIG_I2C_RK3X=n
CONFIG_MEDIA_TUNER_TDA18271=n
CONFIG_EFI_SOFT_RESERVE=n
CONFIG_VIDEO_V4L2_I2C=n
CONFIG_INTERCONNECT_QCOM_BCM_VOTER=n
CONFIG_CRYPTO_CHACHA20=n
CONFIG_FWNODE_MDIO=n
CONFIG_BTRFS_FS_POSIX_ACL=n
CONFIG_SPI_ROCKCHIP_SFC=n
CONFIG_I2C_HID_CORE=n
CONFIG_USB_SERIAL_WWAN=n
CONFIG_APPLE_MAILBOX=n
CONFIG_USB_DWC2_DUAL_ROLE=n
CONFIG_MESON_CLK_MEASURE=n
CONFIG_VIDEO_DEV=n
CONFIG_INPUT_TPS6594_PWRBUTTON=n
CONFIG_RTC_INTF_PROC=n
CONFIG_ALLOW_DEV_COREDUMP=n
CONFIG_ACPI_I2C_OPREGION=n
CONFIG_DWMAC_SOCFPGA=n
CONFIG_NAMESPACES=n
CONFIG_PINCTRL_AC5=n
CONFIG_BCM2835_POWER=n
CONFIG_SND_SOC_ES7134=n
CONFIG_MESON_EE_PM_DOMAINS=n
CONFIG_VLAN_8021Q=n
CONFIG_USB_LIBCOMPOSITE=n
CONFIG_COMMON_CLK_MT8183_IPU_CONN=n
CONFIG_PCI_QUIRKS=n
CONFIG_K3_RTI_WATCHDOG=n
CONFIG_SYSC_RCAR_GEN4=n
CONFIG_MMC_BLOCK=n
CONFIG_TPS6594_PFSM=n
CONFIG_THUNDER_NIC_RGX=n
CONFIG_SM_VIDEOCC_MILOS=n
CONFIG_SND_SOC_LPASS_SC7180=n
CONFIG_RD_LZMA=n
CONFIG_PINCTRL_PFC_R8A77995=n
CONFIG_IRQ_UNIPHIER_AIDET=n
CONFIG_MTD_GEN_PROBE=n
CONFIG_ROCKCHIP_CDN_DP=n
CONFIG_PINCTRL_MT6397=n
CONFIG_EXYNOS_CLKOUT=n
CONFIG_VIDEO_ROCKCHIP_RGA=n
CONFIG_CAN_MCP251XFD=n
CONFIG_MDIO_BCM_IPROC=n
CONFIG_SERIAL_8250_SHARE_IRQ=n
CONFIG_RZG2L_THERMAL=n
CONFIG_COMMON_CLK_MT8192_IMP_IIC_WRAP=n
CONFIG_HAVE_MOVE_PUD=n
CONFIG_RESET_BRCMSTB_RESCAL=n
CONFIG_TOUCHSCREEN_ATMEL_MXT=n
CONFIG_IPMI_DMI_DECODE=n
CONFIG_CLK_QORIQ=n
CONFIG_GPIO_ZYNQMP_MODEPIN=n
CONFIG_SND_SOC_SOF_OF=n
CONFIG_THERMAL_OF=n
CONFIG_CRYPTO_DEV_QCE_SHA=n
CONFIG_USB_DWC3_DUAL_ROLE=n
CONFIG_PINCTRL_MESON8_PMX=n
CONFIG_COREDUMP=n
CONFIG_SERIAL_8250_PNP=n
CONFIG_INPUT_RK805_PWRKEY=n
CONFIG_SM_CAMCC_8750=n
CONFIG_PCI_SKY1_HOST=n
CONFIG_USB_CONFIGFS_OBEX=n
CONFIG_SUNRPC_BACKCHANNEL=n
CONFIG_SCHED_MC=n
CONFIG_ARM_SPE_PMU=n
CONFIG_QUOTA=n
CONFIG_PCIE_KIRIN=n
CONFIG_QCM_DISPCC_2290=n
CONFIG_SND_HDA_CODEC_HDMI_NVIDIA=n
CONFIG_NVMEM_MAX77759=n
CONFIG_MTK_UART_APDMA=n
CONFIG_USB_DEFAULT_PERSIST=n
CONFIG_MPL3115=n
CONFIG_GCC_NO_STRINGOP_OVERFLOW=n
CONFIG_SND_SOC_IMX_SGTL5000=n
CONFIG_BCMGENET=n
CONFIG_MEMFD_CREATE=n
CONFIG_IIO_ST_SENSORS_I2C=n
CONFIG_RESET_ZYNQMP=n
CONFIG_EDAC_VERSAL=n
CONFIG_COMMON_CLK_S2MPS11=n
CONFIG_BRCMSTB_THERMAL=n
CONFIG_SPI_MEM=n
CONFIG_DRM_MSM_DP=n
CONFIG_COMMON_CLK_MT8192=n
CONFIG_USB_CDNSP_PCI=n
CONFIG_DRM_VRAM_HELPER=n
CONFIG_SERIAL_8250_PCI=n
CONFIG_IPQ_GCC_5210=n
CONFIG_MEDIA_TUNER=n
CONFIG_ARCH_SUNXI=n
CONFIG_LZ4_DECOMPRESS=n
CONFIG_FRAMEBUFFER_CONSOLE_DETECT_PRIMARY=n
CONFIG_ARM64_WORKAROUND_TSB_FLUSH_FAILURE=n
CONFIG_PHY_QCOM_USB_SS=n
CONFIG_PINCTRL_HAWI=n
CONFIG_USB_BELKIN=n
CONFIG_PWM_TIECAP=n
CONFIG_DRM_PANEL_EDP=n
CONFIG_IO_URING_BPF=n
CONFIG_I2C_QUP=n
CONFIG_NVMEM_IMX_OCOTP_SCU=n
CONFIG_PHY_NXP_PTN3222=n
CONFIG_NVME_APPLE=n
CONFIG_USB_MUSB_DUAL_ROLE=n
CONFIG_FUTEX_PI=n
CONFIG_SERIAL_FSL_LINFLEXUART_CONSOLE=n
CONFIG_AS_IS_GNU=n
CONFIG_MEDIA_ATTACH=n
CONFIG_SPI_IMX=n
CONFIG_ARCH_SUPPORTS_SHADOW_CALL_STACK=n
CONFIG_VIDEO_CADENCE_CSI2RX=n
CONFIG_BLK_MQ_STACKING=n
CONFIG_CLK_R8A77960=n
CONFIG_MTD_NAND_FSL_IFC=n
CONFIG_NUMA_BALANCING=n
CONFIG_SND_MESON_AXG_TODDR=n
CONFIG_CEC_CORE=n
CONFIG_TOUCHSCREEN_GOODIX_BERLIN_CORE=n
CONFIG_SND_SOC_WCD_CLASSH=n
CONFIG_GPIO_BLZP1600=n
CONFIG_MTD_NAND_ECC_SW_HAMMING=n
CONFIG_GPIO_PCA953X_IRQ=n
CONFIG_NET_ACT_MIRRED=n
CONFIG_NUMA_BALANCING_DEFAULT_ENABLED=n
CONFIG_HISILICON_ERRATUM_162100801=n
CONFIG_ROCKCHIP_ERRATUM_3588001=n
CONFIG_RTC_DRV_TEGRA=n
CONFIG_QCOM_COMMAND_DB=n
CONFIG_COMMON_CLK_MT8365=n
CONFIG_SND_MESON_CARD_UTILS=n
CONFIG_COMMON_CLK_MT8196_PEXTPSYS=n
CONFIG_QCS_VIDEOCC_615=n
CONFIG_QCOM_APR=n
CONFIG_DRM_IMX_LCDIF=n
