CONFIG_ARCH_USE_QUEUED_SPINLOCKS=n
CONFIG_SMP=n
CONFIG_MITIGATION_SPECTRE_V1=n
CONFIG_X86_TSC=n
CONFIG_LOCKDEP_SUPPORT=n
CONFIG_RD_XZ=n
CONFIG_TMPFS=n
CONFIG_GENERIC_BUG=n
CONFIG_ARCH_WANT_IRQS_OFF_ACTIVATE_MM=n
CONFIG_NET_VENDOR_QLOGIC=n
CONFIG_SOUND=n
CONFIG_HIGH_RES_TIMERS=n
CONFIG_COREDUMP=n
CONFIG_IO_DELAY_0X80=n
CONFIG_NET_VENDOR_CHELSIO=n
CONFIG_HAVE_DMA_CONTIGUOUS=n
CONFIG_EFI_EARLYCON=n
CONFIG_HAVE_IRQ_EXIT_ON_IRQ_STACK=n
CONFIG_HAVE_SETUP_PER_CPU_AREA=n
CONFIG_NVRAM=n
CONFIG_PACKET=n
CONFIG_ARCH_HAS_EXECMEM_ROX=n
CONFIG_UPROBE_EVENTS=n
CONFIG_SKB_EXTENSIONS=n
CONFIG_POSIX_MQUEUE=n
CONFIG_FUTEX=n
CONFIG_ARCH_SUPPORTS_SCHED_SMT=n
CONFIG_PROC_PID_ARCH_STATUS=n
CONFIG_EFI_PARTITION=n
CONFIG_CGROUP_CPUACCT=n
CONFIG_NFS_ACL_SUPPORT=n
CONFIG_FIX_EARLYCON_MEM=n
CONFIG_GCC10_NO_ARRAY_BOUNDS=n
CONFIG_IOMMU_DEFAULT_DMA_LAZY=n
CONFIG_NF_LOG_IPV6=n
CONFIG_ARCH_HAS_SYNC_CORE_BEFORE_USERMODE=n
CONFIG_SKY2=n
CONFIG_CPU_IDLE_GOV_MENU=n
CONFIG_HAVE_KERNEL_LZ4=n
CONFIG_HSU_DMA=n
CONFIG_POSIX_MQUEUE_SYSCTL=n
CONFIG_HAVE_SYSCALL_TRACEPOINTS=n
CONFIG_YENTA_ENE_TUNE=n
CONFIG_CRC_OPTIMIZATIONS=n
CONFIG_CHECK_SIGNATURE=n
CONFIG_CPU_SUP_INTEL=n
CONFIG_CRASH_DUMP=n
CONFIG_MOUSE_PS2_BYD=n
CONFIG_ACPI=n
CONFIG_DECOMPRESS_LZ4=n
CONFIG_CC_HAS_KASAN_GENERIC=n
CONFIG_CRYPTO_AUTHENC=n
CONFIG_RTC_INTF_DEV=n
CONFIG_IO_URING_ZCRX=n
CONFIG_RTC_MC146818_LIB=n
CONFIG_GENERIC_PCI_IOMAP=n
CONFIG_ARCH_HAS_CACHE_LINE_SIZE=n
CONFIG_KRETPROBE_ON_RETHOOK=n
CONFIG_USER_STACKTRACE_SUPPORT=n
CONFIG_RD_LZMA=n
CONFIG_MOUSE_PS2_SYNAPTICS_SMBUS=n
CONFIG_NET_VENDOR_SUN=n
CONFIG_DYNAMIC_EVENTS=n
CONFIG_NET_EMATCH=n
CONFIG_IP_MULTIPLE_TABLES=n
CONFIG_GENERIC_EARLY_IOREMAP=n
CONFIG_CALL_THUNKS=n
CONFIG_AUDITSYSCALL=n
CONFIG_SND_PCMCIA=n
CONFIG_CPU_SUP_HYGON=n
CONFIG_AGP_INTEL=n
CONFIG_X86_BOOTPARAM_MEMORY_CORRUPTION_CHECK=n
CONFIG_MOUSE_PS2_SMBUS=n
CONFIG_IP_PNP_BOOTP=n
CONFIG_X86_DISABLED_FEATURE_SEV_SNP=n
CONFIG_PKCS7_MESSAGE_PARSER=n
CONFIG_HAVE_ARCH_KFENCE=n
CONFIG_DRM_GEM_SHMEM_HELPER=n
CONFIG_ARCH_SUPPORTS_UPROBES=n
CONFIG_X86_DISABLED_FEATURE_XENPV=n
CONFIG_NET_VENDOR_DLINK=n
CONFIG_CGROUP_RDMA=n
CONFIG_EXT4_FS=n
CONFIG_NFS_V3_ACL=n
CONFIG_SERIAL_CORE_CONSOLE=n
CONFIG_PROC_FS=n
CONFIG_XZ_DEC_RISCV=n
CONFIG_HAVE_ARCH_MMAP_RND_BITS=n
CONFIG_DMA_OPS_HELPERS=n
CONFIG_NETCONSOLE=n
CONFIG_CLZ_TAB=n
CONFIG_FUTEX_PI=n
CONFIG_LZO_DECOMPRESS=n
CONFIG_GENERIC_NET_UTILS=n
CONFIG_NET_VENDOR_CAVIUM=n
CONFIG_BINFMT_ELF=n
CONFIG_CC_HAS_AUTO_VAR_INIT_PATTERN=n
CONFIG_PCCARD_NONSTATIC=n
CONFIG_GROUP_SCHED_WEIGHT=n
CONFIG_ARCH_SPARSEMEM_DEFAULT=n
CONFIG_NET=n
CONFIG_EFI_RUNTIME_WRAPPERS=n
CONFIG_HAVE_KCSAN_COMPILER=n
CONFIG_HAVE_KRETPROBES=n
CONFIG_QUOTACTL=n
CONFIG_GPIOLIB_LEGACY=n
CONFIG_HAVE_KERNEL_LZO=n
CONFIG_VIRTIO_INPUT=n
CONFIG_IOMMU_MM_DATA=n
CONFIG_XZ_DEC_ARM=n
CONFIG_DRM_CLIENT_SELECTION=n
CONFIG_CRYPTO_SHA256=n
CONFIG_SECURITY=n
CONFIG_ARCH_WANTS_CLOCKSOURCE_READ_INLINE=n
CONFIG_HAVE_ARCH_COMPAT_MMAP_BASES=n
CONFIG_HAVE_KERNEL_BZIP2=n
CONFIG_NET_VENDOR_WIZNET=n
CONFIG_HID_PETALYNX=n
CONFIG_LD_CAN_USE_KEEP_IN_OVERLAY=n
CONFIG_PROBE_EVENTS=n
CONFIG_ARCH_SUPPORTS_PAGE_TABLE_CHECK=n
CONFIG_OLD_SIGSUSPEND3=n
CONFIG_HAVE_ARCH_VMAP_STACK=n
CONFIG_PNFS_FILE_LAYOUT=n
CONFIG_BLOCK_LEGACY_AUTOLOAD=n
CONFIG_X86_REQUIRED_FEATURE_ALWAYS=n
CONFIG_NET_SCHED=n
CONFIG_INPUT=n
CONFIG_COMPACTION=n
CONFIG_WLAN=n
CONFIG_DRM_DISPLAY_HELPER=n
CONFIG_X86_ACPI_CPUFREQ=n
CONFIG_LOCK_MM_AND_FIND_VMA=n
CONFIG_DECOMPRESS_LZMA=n
CONFIG_WLAN_VENDOR_RSI=n
CONFIG_CFG80211_CRDA_SUPPORT=n
CONFIG_CRYPTO_LIB_MD5=n
CONFIG_KERNFS=n
CONFIG_HAVE_FENTRY=n
CONFIG_IP_ROUTE_MULTIPATH=n
CONFIG_NO_HZ_COMMON=n
CONFIG_ACPI_DEBUG=n
CONFIG_HAVE_KPROBES=n
CONFIG_NET_VENDOR_ROCKER=n
CONFIG_SND_JACK=n
CONFIG_NET_FAILOVER=n
CONFIG_CGROUP_MISC=n
CONFIG_DW_DMAC_CORE=n
CONFIG_HAVE_SAMPLE_FTRACE_DIRECT=n
CONFIG_9P_FS=n
CONFIG_CC_HAS_SLS=n
CONFIG_NET_VENDOR_RDC=n
CONFIG_KPROBES=n
CONFIG_CRYPTO_ACOMP2=n
CONFIG_CC_HAS_MARCH_NATIVE=n
CONFIG_SECURITY_SELINUX_DEVELOP=n
CONFIG_AUXILIARY_BUS=n
CONFIG_PREEMPTION=n
CONFIG_TRACE_CLOCK=n
CONFIG_HIDRAW=n
CONFIG_CRC_CCITT=n
CONFIG_ARCH_SUPPORTS_KEXEC=n
CONFIG_X86_HAVE_PAE=n
CONFIG_INET=n
CONFIG_SERIAL_NONSTANDARD=n
CONFIG_NET_VENDOR_MELLANOX=n
CONFIG_WATCHDOG_HANDLE_BOOT_ENABLED=n
CONFIG_MITIGATION_TSA=n
CONFIG_DRM_PANEL_BRIDGE=n
CONFIG_MISC_FILESYSTEMS=n
CONFIG_FUTEX_MPOL=n
CONFIG_NET_VENDOR_ADAPTEC=n
CONFIG_HWMON=n
CONFIG_ARCH_WANT_OLD_COMPAT_IPC=n
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_DIRECT_CALLS=n
CONFIG_NET_CLS_CGROUP=n
CONFIG_SND_HDA_COMPONENT=n
CONFIG_HAVE_HARDLOCKUP_DETECTOR_BUDDY=n
CONFIG_NET_VENDOR_DAVICOM=n
CONFIG_IA32_EMULATION=n
CONFIG_PCSPKR_PLATFORM=n
CONFIG_CPU_RMAP=n
CONFIG_ARCH_WANT_OPTIMIZE_DAX_VMEMMAP=n
CONFIG_PM=n
CONFIG_EFI_DXE_MEM_ATTRIBUTES=n
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE=n
CONFIG_VT_CONSOLE_SLEEP=n
CONFIG_GENERIC_BUG_RELATIVE_POINTERS=n
CONFIG_ARCH_WANTS_DYNAMIC_TASK_STRUCT=n
CONFIG_HAVE_NOINSTR_VALIDATION=n
CONFIG_SCHED_MM_CID=n
CONFIG_XFRM=n
CONFIG_VIRTIO_NET=n
CONFIG_FW_LOADER=n
CONFIG_XZ_DEC_SPARC=n
CONFIG_WLAN_VENDOR_ATH=n
CONFIG_IO_URING=n
CONFIG_SND_DRIVERS=n
CONFIG_DRM_I915=n
CONFIG_SND_PCM_TIMER=n
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST=n
CONFIG_SUNRPC_GSS=n
CONFIG_NET_VENDOR_LITEX=n
CONFIG_GENERIC_TIME_VSYSCALL=n
CONFIG_MACINTOSH_DRIVERS=n
CONFIG_ATA_PIIX=n
CONFIG_NETFILTER_XT_MATCH_STATE=n
CONFIG_ARCH_CLOCKSOURCE_INIT=n
CONFIG_HOTPLUG_CORE_SYNC=n
CONFIG_EXECMEM=n
CONFIG_HAVE_EXIT_THREAD=n
CONFIG_ARCH_WANT_GENERAL_HUGETLB=n
CONFIG_VMCORE_INFO=n
CONFIG_I2C=n
CONFIG_SYSTEM_TRUSTED_KEYRING=n
CONFIG_ARCH_WANT_COMPAT_IPC_PARSE_VERSION=n
CONFIG_HAVE_DYNAMIC_FTRACE=n
CONFIG_SND_SEQUENCER=n
CONFIG_X86_CX8=n
CONFIG_PTP_1588_CLOCK=n
CONFIG_X86_LOCAL_APIC=n
CONFIG_X86_DISABLED_FEATURE_TDX_GUEST=n
CONFIG_AGP_AMD64=n
CONFIG_BQL=n
CONFIG_SPLIT_PMD_PTLOCKS=n
CONFIG_MODIFY_LDT_SYSCALL=n
CONFIG_MMCONF_FAM10H=n
CONFIG_HAVE_ACPI_APEI_NMI=n
CONFIG_MODULES=n
CONFIG_GENERIC_IRQ_MIGRATION=n
CONFIG_ARCH_HAS_ELFCORE_COMPAT=n
CONFIG_PAGE_POOL=n
CONFIG_COMPAT_32BIT_TIME=n
CONFIG_ELFCORE=n
CONFIG_CPU_FREQ_GOV_ATTR_SET=n
CONFIG_SND_SEQ_DEVICE=n
CONFIG_CRC16=n
CONFIG_MAGIC_SYSRQ_SERIAL=n
CONFIG_KVFREE_RCU_BATCHED=n
CONFIG_TASK_IO_ACCOUNTING=n
CONFIG_GENERIC_STRNCPY_FROM_USER=n
CONFIG_PNFS_BLOCK=n
CONFIG_CHR_DEV_SG=n
CONFIG_TASKS_TRACE_RCU=n
CONFIG_ARCH_HAS_ELF_RANDOMIZE=n
CONFIG_AUDIT_ARCH=n
CONFIG_NET_VENDOR_MYRI=n
CONFIG_AF_UNIX_OOB=n
CONFIG_HAVE_KERNEL_XZ=n
CONFIG_HARDLOCKUP_CHECK_TIMESTAMP=n
CONFIG_ARCH_SUPPORTS_HUGETLBFS=n
CONFIG_NET_VENDOR_MICREL=n
CONFIG_SYSVIPC_SYSCTL=n
CONFIG_HAVE_RETHOOK=n
CONFIG_THERMAL_HWMON=n
CONFIG_ZISOFS=n
CONFIG_ARCH_PROC_KCORE_TEXT=n
CONFIG_TASK_XACCT=n
CONFIG_AS_WRUSS=n
CONFIG_CFG80211_DEFAULT_PS=n
CONFIG_POWER_SUPPLY=n
CONFIG_YENTA_O2=n
CONFIG_PCI_ATS=n
CONFIG_SERIAL_EARLYCON=n
CONFIG_CRYPTO_LIB_UTILS=n
CONFIG_NET_INGRESS=n
CONFIG_SSB_POSSIBLE=n
CONFIG_I2C_BOARDINFO=n
CONFIG_EFI_STUB=n
CONFIG_MODULE_UNLOAD=n
CONFIG_NET_VENDOR_CISCO=n
CONFIG_TRACEPOINTS=n
CONFIG_PNPACPI=n
CONFIG_XFRM_ALGO=n
CONFIG_MULTIUSER=n
CONFIG_IPC_NS=n
CONFIG_HAVE_PREEMPT_DYNAMIC_CALL=n
CONFIG_EPOLL=n
CONFIG_NET_SELFTESTS=n
CONFIG_WLAN_VENDOR_ZYDAS=n
CONFIG_NETFILTER_XT_MATCH_CONNTRACK=n
CONFIG_ACPI_BATTERY=n
CONFIG_XZ_DEC_ARMTHUMB=n
CONFIG_PERF_EVENTS_INTEL_UNCORE=n
CONFIG_SERIAL_8250_PCILIB=n
CONFIG_CRYPTO_ECB=n
CONFIG_PNP_DEBUG_MESSAGES=n
CONFIG_NETFILTER_SKIP_EGRESS=n
CONFIG_ARCH_HAS_FAST_MULTIPLIER=n
CONFIG_NF_LOG_SYSLOG=n
CONFIG_BPF=n
CONFIG_USB_XHCI_HCD=n
CONFIG_BLK_MQ_STACKING=n
CONFIG_DMA_VIRTUAL_CHANNELS=n
CONFIG_PAGE_SIZE_LESS_THAN_64KB=n
CONFIG_OBJTOOL=n
CONFIG_IOMMU_PT_X86_64=n
CONFIG_HAVE_CALL_THUNKS=n
CONFIG_IOMMU_PT=n
CONFIG_ARCH_WANT_LD_ORPHAN_WARN=n
