CONFIG_GPIO_ASPEED_SGPIO=y
CONFIG_MEMSTICK_DEBUG=y
CONFIG_LCD_OTM3225A=y
CONFIG_BITREVERSE=y
CONFIG_LEDS_TRIGGER_INPUT_EVENTS=y
CONFIG_WANT_DEV_COREDUMP=y
CONFIG_RC_MAP=y
CONFIG_NLS_ISO8859_2=y
CONFIG_SATA_AHCI_PLATFORM=y
CONFIG_LIBFDT=y
CONFIG_RCU_NOCB_CPU=y
CONFIG_SENSORS_LM90=y
CONFIG_XFS_RT=y
CONFIG_NVMEM_STM32_ROMEM=y
CONFIG_GENERIC_IRQ_EFFECTIVE_AFF_MASK=y
CONFIG_GENERIC_CPU_DEVICES=y
CONFIG_I2C_PXA_SLAVE=y
CONFIG_TRACING_SUPPORT=y
CONFIG_MCB=y
CONFIG_MTD_ONENAND_VERIFY_WRITE=y
CONFIG_LD_ORPHAN_WARN=y
CONFIG_MQ_IOSCHED_KYBER=y
CONFIG_XOR_BLOCKS=y
CONFIG_NVMEM_APPLE_EFUSES=y
CONFIG_SENSORS_EMC2305=y
CONFIG_CRYPTO_SIG2=y
CONFIG_LEDS_DAC124S085=y
CONFIG_REGMAP_MMIO=y
CONFIG_HAVE_GCC_PLUGINS=y
CONFIG_QCOM_SMSM=y
CONFIG_ARCH_SUPPORTS_UPROBES=y
CONFIG_FPGA_MGR_LATTICE_SYSCONFIG_SPI=y
CONFIG_BLK_DEV_INITRD=y
CONFIG_SOC_BUS=y
CONFIG_ARCH_HAS_UBSAN=y
CONFIG_HAVE_GUP_FAST=y
CONFIG_FS_VERITY=y
CONFIG_PINCTRL_SM8550_LPASS_LPI=y
CONFIG_W1_SLAVE_DS2405=y
CONFIG_SPI_REALTEK_SNAND=y
CONFIG_GPIO_RTD=y
CONFIG_I2C_MUX_REG=y
CONFIG_SPI_MUX=y
CONFIG_AUDIT_ARCH=y
CONFIG_OID_REGISTRY=y
CONFIG_MFD_WM8400=y
CONFIG_HAVE_JUMP_LABEL_HACK=y
CONFIG_I2C_MT65XX=y
CONFIG_REGULATOR_MAX8925=y
CONFIG_MTD_BLKDEVS=y
CONFIG_FPGA_MGR_ZYNQMP_FPGA=y
CONFIG_CRYPTO_AEGIS128_AESNI_SSE2=y
CONFIG_HW_RANDOM_TPM=y
CONFIG_REGULATOR_ANATOP=y
CONFIG_CRYPTO_LIB_NH_ARCH=y
CONFIG_HPET_EMULATE_RTC=y
CONFIG_CDROM=y
CONFIG_STACKTRACE_SUPPORT=y
CONFIG_SENSORS_LTC2990=y
CONFIG_MFD_CS40L50_CORE=y
CONFIG_GPIO_ROCKCHIP=y
CONFIG_RESET_ASPEED=y
CONFIG_PINCTRL_PFC_R8A7790=y
CONFIG_PHY_RZ_G3E_USB3=y
CONFIG_XZ_DEC_RISCV=y
CONFIG_RTC_DRV_RS5C372=y
CONFIG_LEDS_TPS6105X=y
CONFIG_MTD_NAND_BRCMNAND=y
CONFIG_EEPROM_IDT_89HPESX=y
CONFIG_HAVE_HARDLOCKUP_DETECTOR_BUDDY=y
CONFIG_EEPROM_AT25=y
CONFIG_GPIO_KEMPLD=y
CONFIG_PINCTRL_PFC_SH73A0=y
CONFIG_POWER_SUPPLY_HWMON=y
CONFIG_ARCH_HAS_DEBUG_VM_PGTABLE=y
CONFIG_SERIAL_BCM63XX_CONSOLE=y
CONFIG_FIX_EARLYCON_MEM=y
CONFIG_NVME_TARGET_FC=y
CONFIG_BFQ_GROUP_IOSCHED=y
CONFIG_MFD_MAX77541=y
CONFIG_EPOLL=y
CONFIG_CONSTRUCTORS=y
CONFIG_SENSORS_ADM1026=y
CONFIG_JFFS2_RTIME=y
CONFIG_SQUASHFS_COMPILE_DECOMP_MULTI=y
CONFIG_PROC_PAGE_MONITOR=y
CONFIG_MTRR=y
CONFIG_RN5T618_WATCHDOG=y
CONFIG_HAVE_EFFICIENT_UNALIGNED_ACCESS=y
CONFIG_MTD_NAND_BRCMNAND_IPROC=y
CONFIG_CPU_SUP_AMD=y
CONFIG_SENSORS_PCF8591=y
CONFIG_MLXREG_DPU=y
CONFIG_OWL_TIMER=y
CONFIG_CRYPTO_RNG=y
CONFIG_HW_RANDOM_IPROC_RNG200=y
CONFIG_FW_LOADER_USER_HELPER=y
CONFIG_HAVE_STATIC_CALL=y
CONFIG_MESON_MX_AO_ARC_REMOTEPROC=y
CONFIG_GPIO_AGGREGATOR=y
CONFIG_VIRTIO_MENU=y
CONFIG_CRYPTO_SKCIPHER=y
CONFIG_SENSORS_MAX1668=y
CONFIG_MFD_RT5120=y
CONFIG_SERIAL_QCOM_GENI=y
CONFIG_RTC_DRV_S5M=y
CONFIG_LEDS_LP3944=y
CONFIG_MEMBLOCK_KHO_SCRATCH=y
CONFIG_HAVE_GIGANTIC_FOLIOS=y
CONFIG_CRYPTO_CTS=y
CONFIG_PWM_MEDIATEK=y
CONFIG_HOTPLUG_SPLIT_STARTUP=y
CONFIG_ASN1=y
CONFIG_BATTERY_GAUGE_LTC2941=y
CONFIG_EEPROM_MAX6875=y
CONFIG_PMIC_DA9052=y
CONFIG_NEED_PER_CPU_PAGE_FIRST_CHUNK=y
CONFIG_ARCH_SUPPORTS_AUTOFDO_CLANG=y
CONFIG_W1_SLAVE_THERM=y
CONFIG_CRYPTO_ALGAPI2=y
CONFIG_MEMSTICK=y
CONFIG_BLK_DEV_RAM=y
CONFIG_GPIO_SPRD=y
CONFIG_GPIO_IT87=y
CONFIG_HAVE_OBJTOOL_MCOUNT=y
CONFIG_SECONDARY_TRUSTED_KEYRING=y
CONFIG_HAVE_ARCH_HUGE_VMAP=y
CONFIG_NLS_ISO8859_1=y
CONFIG_I2C_HISI=y
CONFIG_SPI_S3C64XX=y
CONFIG_SPRD_MBOX=y
CONFIG_SECONDARY_TRUSTED_KEYRING_SIGNED_BY_BUILTIN=y
CONFIG_NXP_PIT_TIMER=y
CONFIG_ICS932S401=y
CONFIG_HAVE_DMA_CONTIGUOUS=y
CONFIG_MAX77620_WATCHDOG=y
CONFIG_HAVE_ARCH_SECCOMP=y
CONFIG_SERIAL_TEGRA_UTC=y
CONFIG_DEBUG_WX=y
CONFIG_PWM_RENESAS_RZG2L_GPT=y
CONFIG_MFD_WM8998=y
CONFIG_BACKLIGHT_KTD2801=y
CONFIG_HAVE_KERNEL_LZO=y
CONFIG_W1_SLAVE_DS2406=y
CONFIG_PREEMPT_COUNT=y
CONFIG_ARCH_SUPPORTS_RT=y
CONFIG_ASSOCIATIVE_ARRAY=y
CONFIG_COMPILE_TEST=y
CONFIG_INTEL_TH_DEBUG=y
CONFIG_SENSORS_LENOVO_EC=y
CONFIG_INPUT_ATC260X_ONKEY=y
CONFIG_ARCH_STACKWALK=y
CONFIG_IRQ_TIME_ACCOUNTING=y
CONFIG_HAVE_ARCH_AUDITSYSCALL=y
CONFIG_SERIAL_MAX310X=y
CONFIG_LOONGSON1_WDT=y
CONFIG_FW_CFG_SYSFS=y
CONFIG_IPMI_KCS_BMC_CDEV_IPMI=y
CONFIG_I2C_BRCMSTB=y
CONFIG_GCC10_NO_ARRAY_BOUNDS=y
CONFIG_TRACE_IRQFLAGS_SUPPORT=y
CONFIG_SPI_BITBANG=y
CONFIG_RCAR_REMOTEPROC=y
CONFIG_IOMMU_IO_PGTABLE=y
CONFIG_DMI_SYSFS=y
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_REGS=y
CONFIG_CC_HAS_MARCH_NATIVE=y
CONFIG_BACKLIGHT_DA9052=y
CONFIG_FB_SSD1307=y
CONFIG_SPI_ATH79=y
CONFIG_GUP_TEST=y
CONFIG_SENSORS_LM63=y
CONFIG_NLS_CODEPAGE_950=y
CONFIG_STACKTRACE=y
CONFIG_ARCH_DEFAULT_CRASH_DUMP=y
CONFIG_TCG_TIS=y
CONFIG_CHARGER_MANAGER=y
CONFIG_FS_STACK=y
CONFIG_SCSI_DEBUG=y
CONFIG_CGROUP_WRITEBACK=y
CONFIG_GENERIC_IRQ_RESERVATION_MODE=y
CONFIG_IMX_SCMI_LMM_DRV=y
CONFIG_X86_DIRECT_GBPAGES=y
CONFIG_HW_RANDOM_OMAP3_ROM=y
CONFIG_MFD_WM5102=y
CONFIG_ARCH_SUPPORTS_KEXEC_PURGATORY=y
CONFIG_THREAD_INFO_IN_TASK=y
CONFIG_REGULATOR_TPS51632=y
CONFIG_WARN_MISSING_DOCUMENTS=y
CONFIG_TCG_TIS_ST33ZP24_SPI=y
CONFIG_FAIR_GROUP_SCHED=y
CONFIG_SENSORS_EMC6W201=y
CONFIG_PATA_IXP4XX_CF=y
CONFIG_MFD_MP2629=y
CONFIG_ARCH_SUPPORTS_KEXEC_BZIMAGE_VERIFY_SIG=y
CONFIG_SPI_MICROCHIP_CORE_SPI=y
CONFIG_INPUT_WM831X_ON=y
CONFIG_ARCH_HAS_STRICT_KERNEL_RWX=y
CONFIG_BATTERY_MAX1720X=y
CONFIG_C2PORT_DURAMAR_2150=y
CONFIG_FB_HECUBA=y
CONFIG_MTD_ONENAND_GENERIC=y
CONFIG_MTK_ADSP_MBOX=y
CONFIG_SUN4I_TIMER=y
CONFIG_CRYPTO_LIB_CHACHA_ARCH=y
CONFIG_PINCTRL_SM4250_LPASS_LPI=y
CONFIG_SQUASHFS_FILE_DIRECT=y
CONFIG_GPIO_LOONGSON_64BIT=y
CONFIG_KCMP=y
CONFIG_W1_SLAVE_DS2781=y
CONFIG_SENSORS_LTC4222=y
CONFIG_SERIAL_8250_MEN_MCB=y
CONFIG_UNIX98_PTYS=y
CONFIG_PINCTRL_PFC_R8A774E1=y
CONFIG_REMOTE_TARGET=y
CONFIG_ARCH_SUPPORTS_SCHED_CLUSTER=y
CONFIG_CRYPTO_LIB_AES=y
CONFIG_CRYPTO_LIB_BLAKE2B=y
CONFIG_BATTERY_ACT8945A=y
CONFIG_QCOM_WCNSS_CTRL=y
CONFIG_PWM_BERLIN=y
CONFIG_ADFS_FS_RW=y
CONFIG_OMAP_CONTROL_PHY=y
CONFIG_PWM_AXI_PWMGEN=y
CONFIG_VIRTIO_RTC=y
CONFIG_ARCH_USE_BUILTIN_BSWAP=y
CONFIG_XXHASH=y
CONFIG_CRAMFS_BLOCKDEV=y
CONFIG_LCD_PLATFORM=y
CONFIG_OBJAGG=y
CONFIG_QCOM_APCS_IPC=y
CONFIG_MTD_NAND_AMS_DELTA=y
CONFIG_GPIO_NPCM_SGPIO=y
CONFIG_PINCTRL_PXA25X=y
CONFIG_RANDOMIZE_KSTACK_OFFSET_DEFAULT=y
CONFIG_PINCTRL_JASPERLAKE=y
CONFIG_IPMI_PLAT_DATA=y
CONFIG_HAVE_RELIABLE_STACKTRACE=y
CONFIG_PWM_APPLE=y
CONFIG_HAVE_KPROBES_ON_FTRACE=y
CONFIG_CPU_IDLE=y
CONFIG_HW_RANDOM_TIMERIOMEM=y
CONFIG_SENSORS_TPS23861=y
CONFIG_SENSORS_G762=y
CONFIG_POWER_RESET_SPACEMIT_P1=y
CONFIG_IO_WQ=y
CONFIG_CRYPTO_CTR=y
CONFIG_POSIX_TIMERS=y
CONFIG_I2C_QCOM_GENI=y
CONFIG_PWM_SL28CPLD=y
CONFIG_DECOMPRESS_GZIP=y
CONFIG_MFD_TI_LMU=y
CONFIG_TCG_TIS_ST33ZP24_I2C=y
CONFIG_GPIO_WCD934X=y
CONFIG_REGULATOR_LTC3589=y
CONFIG_EXPORTFS_BLOCK_OPS=y
CONFIG_MFD_LM3533=y
CONFIG_GENERIC_BUG=y
CONFIG_MTD_NAND_MTK=y
CONFIG_REED_SOLOMON=y
CONFIG_ISA_BUS_API=y
CONFIG_NLS_CODEPAGE_1250=y
CONFIG_GPIO_DA9055=y
CONFIG_REGULATOR_MAX20086=y
CONFIG_QNX4FS_FS=y
CONFIG_CONSOLE_TRANSLATIONS=y
CONFIG_I2C_DESIGNWARE_PLATFORM=y
CONFIG_PRINTK=y
CONFIG_FSNOTIFY=y
CONFIG_CRYPTO_SHA1=y
CONFIG_MFD_TPS6594_SPI=y
CONFIG_CRYPTO_DEV_FSL_CAAM_RNG_API=y
CONFIG_LEDS_QNAP_MCU=y
CONFIG_INPUT_EVDEV=y
CONFIG_PAGE_TABLE_CHECK_ENFORCED=y
CONFIG_GPIO_LOONGSON1=y
CONFIG_SPARSEMEM_VMEMMAP_PREINIT=y
CONFIG_842_COMPRESS=y
CONFIG_INPUT_TWL6040_VIBRA=y
CONFIG_PHY_RCAR_GEN3_USB3=y
CONFIG_HAVE_PERF_USER_STACK_DUMP=y
CONFIG_I2C_SUN6I_P2WI=y
CONFIG_MTD_NAND_NANDSIM=y
CONFIG_MTD_UBI_NVMEM=y
CONFIG_PHY_ST_SPEAR1340_MIPHY=y
CONFIG_MTD_DATAFLASH=y
CONFIG_CRYPTO_BLAKE2B=y
CONFIG_ASPEED_WATCHDOG=y
CONFIG_INTEL_TH=y
CONFIG_RTC_INTF_PROC=y
CONFIG_ARCH_WANT_IRQS_OFF_ACTIVATE_MM=y
CONFIG_SENSORS_AD7314=y
CONFIG_CORDIC=y
CONFIG_INPUT_RETU_PWRBUTTON=y
CONFIG_RTC_DRV_BRCMSTB=y
CONFIG_HAVE_ARCH_JUMP_LABEL_RELATIVE=y
CONFIG_EXTCON_USBC_CROS_EC=y
CONFIG_LEDS_USER=y
CONFIG_TEGRA_WATCHDOG=y
CONFIG_FB_IOMEM_FOPS=y
CONFIG_PAGE_SIZE_LESS_THAN_64KB=y
CONFIG_X86_REQUIRED_FEATURE_FXSR=y
CONFIG_CC_HAS_IBT=y
CONFIG_MEMCG=y
CONFIG_PAGE_EXTENSION=y
CONFIG_PER_VMA_LOCK_STATS=y
CONFIG_SCHED_HRTICK=y
CONFIG_MFD_TPS65086=y
CONFIG_FW_CS_DSP=y
CONFIG_TEST_FIRMWARE=y
CONFIG_MFD_KEMPLD=y
CONFIG_JFFS2_FS=y
CONFIG_K3_RTI_WATCHDOG=y
CONFIG_POWERCAP=y
CONFIG_RTC_DRV_M41T93=y
CONFIG_SENSORS_LTC4260=y
CONFIG_EXT2_FS_XATTR=y
CONFIG_LEDS_TCA6507=y
CONFIG_BACKLIGHT_PANDORA=y
CONFIG_KEXEC_CORE=y
CONFIG_W1_SLAVE_DS2805=y
CONFIG_SPI_PXA2XX=y
CONFIG_GPIO_SNPS_CREG=y
CONFIG_IRQ_DOMAIN=y
CONFIG_ARCH_CLOCKSOURCE_INIT=y
CONFIG_RTC_DRV_PCF2123=y
CONFIG_XZ_DEC_ARMTHUMB=y
CONFIG_ARCH_HAS_DEBUG_WX=y
CONFIG_SENSORS_LTC4282=y
CONFIG_ATA_BMDMA=y
CONFIG_MFD_TPS65910=y
CONFIG_ARCH_HAS_NONLEAF_PMD_YOUNG=y
CONFIG_REGULATOR_MT6370=y
CONFIG_INPUT_MAX8997_HAPTIC=y
CONFIG_REGMAP=y
CONFIG_SENSORS_ISL28022=y
CONFIG_FRAME_POINTER=y
CONFIG_HWSPINLOCK_STM32=y
CONFIG_REGULATOR_MAX77541=y
CONFIG_UNWIND_USER=y
CONFIG_CRYPTO_DH_RFC7919_GROUPS=y
CONFIG_SPI_SPIDEV=y
CONFIG_PGTABLE_HAS_HUGE_LEAVES=y
CONFIG_REF_TRACKER=y
CONFIG_HW_RANDOM_INGENIC_TRNG=y
CONFIG_MTD_DATAFLASH_OTP=y
CONFIG_X86_DISABLED_FEATURE_RETPOLINE_LFENCE=y
CONFIG_TIMER_PROBE=y
CONFIG_LINEDISP=y
CONFIG_RSEQ_SLICE_EXTENSION=y
CONFIG_CHARGER_BQ24190=y
CONFIG_64BIT=y
CONFIG_REGULATOR_TPS6507X=y
CONFIG_NVMEM_ROCKCHIP_OTP=y
CONFIG_SENSORS_ADM1031=y
CONFIG_HAVE_MIXED_BREAKPOINTS_REGS=y
CONFIG_QUOTACTL=y
CONFIG_I2C_ASPEED=y
CONFIG_TEST_FREE_PAGES=y
CONFIG_NLS_CODEPAGE_857=y
CONFIG_MSPRO_BLOCK=y
CONFIG_I3C=y
CONFIG_PWM_STM32_LP=y
CONFIG_HAVE_PREEMPT_DYNAMIC=y
CONFIG_VIRTIO=y
CONFIG_QCOM_LLCC=y
CONFIG_STM32_WATCHDOG=y
CONFIG_PATA_FTIDE010=y
CONFIG_GPIOLIB_IRQCHIP=y
CONFIG_ECONET_EN751221_TIMER=y
CONFIG_HOTPLUG_PARALLEL=y
CONFIG_HAVE_FENTRY=y
CONFIG_I3C_OR_I2C=y
CONFIG_BTRFS_ASSERT=y
CONFIG_SERIAL_8250_NI=y
CONFIG_MTD_PARTITIONED_MASTER=y
CONFIG_RENESAS_RZAWDT=y
CONFIG_IPMI_SI=y
CONFIG_QCOM_SMP2P=y
CONFIG_XILINX_SDFEC=y
CONFIG_SENSORS_APPLESMC=y
CONFIG_SENSORS_GL520SM=y
CONFIG_RTC_DRV_XGENE=y
CONFIG_VGASTATE=y
CONFIG_NO_HZ_FULL=y
CONFIG_XFS_POSIX_ACL=y
CONFIG_TMPFS=y
CONFIG_CRYPTO_HASH=y
CONFIG_BCM_KONA_USB2_PHY=y
CONFIG_SENSORS_MR75203=y
CONFIG_MICROCODE=y
CONFIG_ARCH_SUPPORTS_LTO_CLANG_THIN=y
CONFIG_RTC_DRV_RX8025=y
CONFIG_CMA_SIZE_SEL_MBYTES=y
CONFIG_PKCS7_WAIVE_AUTHATTRS_REJECTION_FOR_MLDSA=y
CONFIG_BLK_DEV_WRITE_MOUNTED=y
CONFIG_IOSCHED_BFQ=y
CONFIG_HAVE_SAMPLE_FTRACE_DIRECT=y
CONFIG_ARCH_SUPPORTS_DEBUG_PAGEALLOC=y
CONFIG_MFD_TPS6594_I2C=y
CONFIG_PINCTRL_PFC_R8A77961=y
CONFIG_RESET_A10SR=y
CONFIG_CPU_ISOLATION=y
CONFIG_CRYPTO_842=y
CONFIG_CRYPTO_ECB=y
CONFIG_ARCH_SUPPORTS_KEXEC_HANDOVER=y
CONFIG_SERIAL_CLPS711X=y
CONFIG_MICROCODE_LATE_LOADING=y
CONFIG_INTEL_IFS=y
CONFIG_MFD_ARIZONA_SPI=y
CONFIG_SBC_FITPC2_WATCHDOG=y
CONFIG_NUMA_EMU=y
CONFIG_BARCO_P50_GPIO=y
CONFIG_CRYPTO_CHACHA20=y
CONFIG_GPIB_NEC7210=y
CONFIG_RPMSG_QCOM_GLINK_SMEM=y
CONFIG_AUXILIARY_BUS=y
CONFIG_HW_RANDOM_XIPHERA=y
CONFIG_LEDS_TRIGGER_PANIC=y
CONFIG_RD_GZIP=y
CONFIG_KEXEC_SIG=y
CONFIG_TCG_TIS_I2C_NUVOTON=y
CONFIG_I2C_DEBUG_ALGO=y
CONFIG_HAS_IOPORT_MAP=y
CONFIG_EXTCON_MAX14577=y
CONFIG_SENSORS_APDS990X=y
CONFIG_SERIAL_8250_FINTEK=y
CONFIG_DA9063_WATCHDOG=y
CONFIG_LEDS_LM3530=y
CONFIG_X86_DISABLED_FEATURE_CYRIX_ARR=y
CONFIG_SPI_ORION=y
CONFIG_BATTERY_UG3105=y
CONFIG_CGROUP_DMEM=y
CONFIG_SVC_I3C_MASTER=y
CONFIG_HWSPINLOCK=y
CONFIG_LEDS_PM8058=y
CONFIG_RENESAS_RPCIF=y
CONFIG_SATA_AHCI_SEATTLE=y
CONFIG_FB_CFB_COPYAREA=y
CONFIG_SYSFS_SYSCALL=y
CONFIG_MFD_AXP20X_I2C=y
CONFIG_VFIO_CONTAINER=y
CONFIG_REGULATOR_AXP20X=y
CONFIG_ARCH_SUPPORTS_KEXEC_FILE=y
CONFIG_SILICOM_PLATFORM=y
CONFIG_DMI_SCAN_MACHINE_NON_EFI_FALLBACK=y
CONFIG_MULTIUSER=y
CONFIG_SPI_APPLE=y
CONFIG_X86_DISABLED_FEATURE_CALL_DEPTH=y
CONFIG_AHCI_MVEBU=y
CONFIG_X86_DISABLED_FEATURE_SEV_SNP=y
CONFIG_SENSORS_NCT6775_CORE=y
CONFIG_STRICT_KERNEL_RWX=y
CONFIG_MFD_MAX77843=y
CONFIG_BCM_PDC_MBOX=y
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_DIRECT_CALLS=y
CONFIG_ARCH_HAS_CURRENT_STACK_POINTER=y
CONFIG_CRYPTO_RNG2=y
CONFIG_ARCH_HAS_ELF_RANDOMIZE=y
CONFIG_BACKLIGHT_OMAP1=y
CONFIG_BUFFER_HEAD=y
CONFIG_SENSORS_SCH5627=y
CONFIG_SPRD_WATCHDOG=y
CONFIG_GPIO_NOMADIK=y
CONFIG_CRYPTO_LIB_POLY1305_ARCH=y
CONFIG_XZ_DEC_MICROLZMA=y
CONFIG_SENSORS_LTC2947_I2C=y
CONFIG_FW_LOADER_SYSFS=y
CONFIG_SCHED_MC=y
CONFIG_PACKING=y
CONFIG_X86_REQUIRED_FEATURE_SYSFAST32=y
CONFIG_CRYPTO_DEV_QCE_SHA=y
CONFIG_DMABUF_SELFTESTS=y
CONFIG_X86_CHECK_BIOS_CORRUPTION=y
CONFIG_CHARGER_SBS=y
CONFIG_FB_BACKLIGHT=y
CONFIG_PINCTRL_TANGIER=y
CONFIG_NLS_CODEPAGE_860=y
CONFIG_MTK_CMDQ=y
CONFIG_SENSORS_ADT7411=y
CONFIG_GPIO_WM831X=y
CONFIG_SENSORS_SMSC47M1=y
CONFIG_MTD_NAND_ECC=y
CONFIG_SWIOTLB=y
CONFIG_SHUFFLE_PAGE_ALLOCATOR=y
CONFIG_X86_DEBUGCTLMSR=y
CONFIG_ENCRYPTED_KEYS=y
CONFIG_STACK_VALIDATION=y
CONFIG_RTC_DRV_SC27XX=y
CONFIG_LCD_L4F00242T03=y
CONFIG_RTC_DRV_RV3029C2=y
CONFIG_I2C_UNIPHIER=y
CONFIG_REGULATOR_LP3971=y
CONFIG_MFD_MX25_TSADC=y
CONFIG_ARCH_HAS_FAST_MULTIPLIER=y
CONFIG_INPUT_MISC=y
CONFIG_IOMMU_API=y
CONFIG_TWL4030_CORE=y
CONFIG_BLOCK=y
CONFIG_SPI_ROCKCHIP=y
