CONFIG_PHYLIB=n
CONFIG_SND_PCM_TIMER=n
CONFIG_NET_VENDOR_NVIDIA=n
CONFIG_MOUSE_PS2_TRACKPOINT=n
CONFIG_I2C_ALGOBIT=n
CONFIG_NETLINK_DIAG=n
CONFIG_CGROUP_FREEZER=n
CONFIG_NET_IP_TUNNEL=n
CONFIG_I2C_MUX=n
CONFIG_COMPAT_BINFMT_ELF=n
CONFIG_CAN_DEV=n
CONFIG_NET_EGRESS=n
CONFIG_RCU_NEED_SEGCBLIST=n
CONFIG_INPUT_VIVALDIFMAP=n
CONFIG_HAVE_ARCH_HUGE_VMALLOC=n
CONFIG_CGROUP_NET_CLASSID=n
CONFIG_ATA_VERBOSE_ERROR=n
CONFIG_CGROUP_HUGETLB=n
CONFIG_AUTOFS_FS=n
CONFIG_EXT4_USE_FOR_EXT2=n
CONFIG_XPS=n
CONFIG_IPV6_NDISC_NODETYPE=n
CONFIG_SND_SOC_SDCA_OPTIONAL=n
CONFIG_USB_MUSB_DUAL_ROLE=n
CONFIG_VIRTIO_PCI_LIB=n
CONFIG_SPI_DYNAMIC=n
CONFIG_MEDIA_SUPPORT_FILTER=n
CONFIG_GENERIC_IRQ_SHOW_LEVEL=n
CONFIG_HUGETLB_PAGE=n
CONFIG_TASKS_TRACE_RCU=n
CONFIG_DRM_TTM_HELPER=n
CONFIG_STARFIVE_JH8100_INTC=n
CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE=n
CONFIG_USB_GADGET=n
CONFIG_SPI_MASTER=n
CONFIG_SOCK_RX_QUEUE_MAPPING=n
CONFIG_RCU_TRACE=n
CONFIG_MTD_GEN_PROBE=n
CONFIG_PADATA=n
CONFIG_NET_VENDOR_EZCHIP=n
CONFIG_SPACEMIT_K1_CCU=n
CONFIG_I2C=n
CONFIG_ARCH_SUSPEND_POSSIBLE=n
CONFIG_NETDEVICES=n
CONFIG_EXPORTFS=n
CONFIG_MMC_DW_PLTFM=n
CONFIG_ARCH_SUPPORTS_PER_VMA_LOCK=n
CONFIG_SLUB=n
CONFIG_NF_CT_PROTO_SCTP=n
CONFIG_VDSO_GETRANDOM=n
CONFIG_FRAME_POINTER=n
CONFIG_CRC32=n
CONFIG_PROC_CHILDREN=n
CONFIG_SYSCTL=n
CONFIG_PAGE_SIZE_LESS_THAN_256KB=n
CONFIG_PHYS_ADDR_T_64BIT=n
CONFIG_E1000E=n
CONFIG_USB_PCI=n
CONFIG_PAGE_POOL=n
CONFIG_CAN_BCM=n
CONFIG_MACB=n
CONFIG_SERIAL_8250_DW=n
CONFIG_RISCV_ISA_ZBA=n
CONFIG_SCSI_VIRTIO=n
CONFIG_NET_VENDOR_QUALCOMM=n
CONFIG_BLK_DEV_PMEM=n
CONFIG_PNP_DEBUG_MESSAGES=n
CONFIG_SUNRPC=n
CONFIG_IOMMU_DEFAULT_DMA_STRICT=n
CONFIG_FRAMEBUFFER_CONSOLE_DETECT_PRIMARY=n
CONFIG_TOOLCHAIN_HAS_ZBB=n
CONFIG_VMAP_STACK=n
CONFIG_EXTCON=n
CONFIG_CRYPTO_ECB=n
CONFIG_64BIT=n
CONFIG_CAN_GW=n
CONFIG_DECOMPRESS_LZMA=n
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO_BARE=n
CONFIG_PNPACPI=n
CONFIG_ARCH_SUPPORTS_UPROBES=n
CONFIG_NVMEM_SYSFS=n
CONFIG_EDAC_SUPPORT=n
CONFIG_ARCH_HAS_GCOV_PROFILE_ALL=n
CONFIG_GENERIC_PHY=n
CONFIG_ADVISE_SYSCALLS=n
CONFIG_MOUSE_PS2_SYNAPTICS_SMBUS=n
CONFIG_ARCH_HAVE_NMI_SAFE_CMPXCHG=n
CONFIG_PWM=n
CONFIG_DRM_CLIENT=n
CONFIG_COMPACTION=n
CONFIG_NVMEM_LAYOUTS=n
CONFIG_PREEMPT_LAZY=n
CONFIG_MTD=n
CONFIG_SWIOTLB=n
CONFIG_HAVE_CLK_PREPARE=n
CONFIG_DRM_NOUVEAU_BACKLIGHT=n
CONFIG_HAVE_KVM_MSI=n
CONFIG_PINCTRL_STARFIVE_JH7110_AON=n
CONFIG_KVFREE_RCU_BATCHED=n
CONFIG_BLK_DEV_BSG=n
CONFIG_RANDSTRUCT_NONE=n
CONFIG_ARCH_THEAD=n
CONFIG_ARCH_HAS_PMEM_API=n
CONFIG_TICK_ONESHOT=n
CONFIG_USB_CONFIGFS_ECM=n
CONFIG_TRACEPOINTS=n
CONFIG_NET_VENDOR_CISCO=n
CONFIG_WLAN_VENDOR_ADMTEK=n
CONFIG_CPU_FREQ_GOV_ONDEMAND=n
CONFIG_PORTABLE=n
CONFIG_KCMP=n
CONFIG_POLARFIRE_SOC_IRQ_MUX=n
CONFIG_XZ_DEC=n
CONFIG_MCHP_CLK_MPFS=n
CONFIG_HZ_250=n
CONFIG_R8169=n
CONFIG_RESET_TENSTORRENT_ATLANTIS=n
CONFIG_HAVE_IRQ_TIME_ACCOUNTING=n
CONFIG_MTD_CFI_UTIL=n
CONFIG_USB_CONFIGFS_SERIAL=n
CONFIG_HAVE_ARCH_KSTACK_ERASE=n
CONFIG_ARCH_CANAAN=n
CONFIG_DRM_SCHED=n
CONFIG_IP6_NF_IPTABLES=n
CONFIG_MTD_SPI_NOR_SWP_DISABLE_ON_VOLATILE=n
CONFIG_VIRTIO=n
CONFIG_ATA=n
CONFIG_TOOLCHAIN_HAS_ZBA=n
CONFIG_ARCH_WANT_OPTIMIZE_HUGETLB_VMEMMAP=n
CONFIG_GENERIC_IRQ_MULTI_HANDLER=n
CONFIG_MSDOS_FS=n
CONFIG_RSEQ=n
CONFIG_FHANDLE=n
CONFIG_EFI_EARLYCON=n
CONFIG_NET_VENDOR_VIA=n
CONFIG_FS_STACK=n
CONFIG_SND_SPI=n
CONFIG_DM_BIO_PRISON=n
CONFIG_EEPROM_93CX6=n
CONFIG_MEMBARRIER=n
CONFIG_RISCV_ISA_SVRSW60T59B=n
CONFIG_CGROUP_SCHED=n
CONFIG_HAVE_PAGE_SIZE_4KB=n
CONFIG_TOOLCHAIN_NEEDS_EXPLICIT_ZICSR_ZIFENCEI=n
CONFIG_USB_CONFIGFS_EEM=n
CONFIG_DUMMY_CONSOLE=n
CONFIG_NETFILTER_ADVANCED=n
CONFIG_CPU_RMAP=n
CONFIG_PRINTK=n
CONFIG_PCIE_SPACEMIT_K1=n
CONFIG_DWMAC_THEAD=n
CONFIG_LEGACY_TIOCSTI=n
CONFIG_BLK_DEV_SD=n
CONFIG_CRYPTO_LIB_SHA1=n
CONFIG_IOMMU_API=n
CONFIG_GENERIC_IDLE_POLL_SETUP=n
CONFIG_DWMAC_SUNXI=n
CONFIG_SOFTIRQ_ON_OWN_STACK=n
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE=n
CONFIG_CLK_SOPHGO_SG2042_RPGATE=n
CONFIG_USB_F_MASS_STORAGE=n
CONFIG_ACPI_BUTTON=n
CONFIG_PREVENT_FIRMWARE_BUILD=n
CONFIG_BTRFS_FS=n
CONFIG_CC_HAS_ZERO_CALL_USED_REGS=n
CONFIG_TOOLCHAIN_HAS_ZBKB=n
CONFIG_RPMSG_VIRTIO=n
CONFIG_HAVE_64BIT_ALIGNED_ACCESS=n
CONFIG_SERIAL_OF_PLATFORM=n
CONFIG_DMADEVICES=n
CONFIG_LZO_COMPRESS=n
CONFIG_CC_NO_STRINGOP_OVERFLOW=n
CONFIG_VIDEO_V4L2_I2C=n
CONFIG_FB_SYS_COPYAREA=n
CONFIG_CPU_MITIGATIONS=n
CONFIG_PHY_STARFIVE_JH7110_DPHY_RX=n
CONFIG_USB_EHCI_HCD=n
CONFIG_PHY_STARFIVE_JH7110_USB=n
CONFIG_ELF_CORE=n
CONFIG_CRYPTO_MANAGER=n
CONFIG_VIRTIO_BLK=n
CONFIG_DM_THIN_PROVISIONING=n
CONFIG_SND_TIMER=n
CONFIG_SECURITY_APPARMOR_PARANOID_LOAD=n
CONFIG_XFRM_ESP=n
CONFIG_GENERIC_PINCTRL_GROUPS=n
CONFIG_MACVLAN=n
CONFIG_HAVE_GENERIC_VDSO=n
CONFIG_BPF_SYSCALL=n
CONFIG_FW_CACHE=n
CONFIG_CRYPTO_ENGINE=n
CONFIG_RISCV_ISA_C=n
CONFIG_SIGNALFD=n
CONFIG_ATA_ACPI=n
CONFIG_NFS_V4_2_SSC_HELPER=n
CONFIG_FTRACE=n
CONFIG_ARCH_SUPPORTS_KEXEC_PURGATORY=n
CONFIG_BLK_DEV_WRITE_MOUNTED=n
CONFIG_CFS_BANDWIDTH=n
CONFIG_PTP_1588_CLOCK_OPTIONAL=n
CONFIG_PCIE_PME=n
CONFIG_SYSVIPC_SYSCTL=n
CONFIG_COMPAT_32BIT_TIME=n
CONFIG_CLK_STARFIVE_JH7110_ISP=n
CONFIG_AUDIT_GENERIC=n
CONFIG_SWPHY=n
CONFIG_CRYPTO=n
CONFIG_HAVE_HARDLOCKUP_DETECTOR_BUDDY=n
CONFIG_RISCV_ISA_ZAWRS=n
CONFIG_MEMFD_CREATE=n
CONFIG_SCHED_HRTICK=n
CONFIG_NEED_TASKS_RCU=n
CONFIG_CRYPTO_LIB_UTILS=n
CONFIG_MICREL_PHY=n
CONFIG_HW_RANDOM_ATMEL=n
CONFIG_SPI_CADENCE_QUADSPI=n
CONFIG_ARCH_WANT_LD_ORPHAN_WARN=n
CONFIG_ARCH_HAS_VDSO_ARCH_DATA=n
CONFIG_NETFILTER_XT_MATCH_CONNTRACK=n
CONFIG_RISCV_ISA_V_DEFAULT_ENABLE=n
CONFIG_HAVE_ARCH_MMAP_RND_BITS=n
CONFIG_BUG=n
CONFIG_SPACEMIT_CCU=n
CONFIG_NET_VENDOR_CADENCE=n
CONFIG_FIXED_PHY=n
CONFIG_MODULES_TREE_LOOKUP=n
CONFIG_COMMON_CLK_RPMI=n
CONFIG_MMU_GATHER_TABLE_FREE=n
CONFIG_AS_IS_GNU=n
CONFIG_HAS_IOPORT_MAP=n
CONFIG_HAVE_POSIX_CPU_TIMERS_TASK_WORK=n
CONFIG_SELECT_MEMORY_MODEL=n
CONFIG_WLAN=n
CONFIG_SYNC_FILE=n
CONFIG_HID_SUPPORT=n
CONFIG_SND_PCI=n
CONFIG_CRYPTO_LIB_GF128HASH=n
CONFIG_DMA_ENGINE=n
CONFIG_WLAN_VENDOR_REALTEK=n
CONFIG_REGMAP_MMIO=n
CONFIG_HAS_IOMEM=n
CONFIG_NET_VENDOR_MICROSEMI=n
CONFIG_HUGETLBFS=n
CONFIG_NET_VENDOR_ENGLEDER=n
CONFIG_ACPI_MCFG=n
CONFIG_PM_DEVFREQ=n
CONFIG_PINMUX=n
CONFIG_DRM_SUN8I_DW_HDMI=n
CONFIG_NET_FAILOVER=n
CONFIG_NET_VENDOR_MICREL=n
CONFIG_HAVE_KVM_DIRTY_RING_ACQ_REL=n
CONFIG_ALLOW_DEV_COREDUMP=n
CONFIG_PROBE_EVENTS=n
CONFIG_SECURITY_APPARMOR=n
CONFIG_SPLIT_PMD_PTLOCKS=n
CONFIG_DRM_GPUVM=n
CONFIG_RAID6_PQ=n
CONFIG_SND_SOC_JH7110_PWMDAC=n
CONFIG_KVM_MMIO=n
CONFIG_ARCH_HAS_MMIOWB=n
CONFIG_RTC_CLASS=n
CONFIG_SCSI_PROC_FS=n
CONFIG_USB_CDNS_SUPPORT=n
CONFIG_WLAN_VENDOR_ATMEL=n
CONFIG_PCIEPORTBUS=n
CONFIG_HID=n
CONFIG_VLAN_8021Q=n
CONFIG_XFRM_ALGO=n
CONFIG_ARCH_USE_SYM_ANNOTATIONS=n
CONFIG_HAVE_GENERIC_TIF_BITS=n
CONFIG_DECOMPRESS_LZO=n
CONFIG_OF_MDIO=n
CONFIG_MTD_CFI_NOSWAP=n
CONFIG_SERIAL_8250=n
CONFIG_IPVLAN=n
CONFIG_ARCH_HAS_SYNC_DMA_FOR_CPU=n
CONFIG_REALTEK_PHY=n
CONFIG_USB_STORAGE=n
CONFIG_GENERIC_IRQ_EFFECTIVE_AFF_MASK=n
CONFIG_CRC32_ARCH=n
CONFIG_DRM_PANEL=n
CONFIG_POLARFIRE_SOC_SYSCONS=n
CONFIG_MFD_AXP20X_I2C=n
CONFIG_RISCV_VECTOR_MISALIGNED=n
CONFIG_MMC_CQHCI=n
CONFIG_HAVE_PCI=n
CONFIG_SCSI_MOD=n
CONFIG_LLC=n
CONFIG_NLS_ISO8859_1=n
CONFIG_SERIO_SERPORT=n
CONFIG_NFS_COMMON=n
CONFIG_PER_VMA_LOCK=n
CONFIG_ARCH_FLATMEM_ENABLE=n
CONFIG_HAVE_ARCH_HUGE_VMAP=n
CONFIG_DECOMPRESS_LZ4=n
CONFIG_BLK_DEV_DM_BUILTIN=n
CONFIG_USB_F_EEM=n
CONFIG_RING_BUFFER=n
CONFIG_CRYPTO_GENIV=n
CONFIG_ND_CLAIM=n
