CONFIG_NET_EGRESS=n
CONFIG_CPU_THERMAL=n
CONFIG_GPIO_SIFIVE=n
CONFIG_INET_ESP=n
CONFIG_PWM_PXA=n
CONFIG_SCHED_MC=n
CONFIG_GENERIC_IRQ_MATRIX_ALLOCATOR=n
CONFIG_ISO9660_FS=n
CONFIG_BLK_ICQ=n
CONFIG_DM_BUFIO=n
CONFIG_IP_VS_PROTO_UDP=n
CONFIG_SND_SIMPLE_CARD=n
CONFIG_LZO_DECOMPRESS=n
CONFIG_PCIE_DW_HOST=n
CONFIG_PCIE_DW=n
CONFIG_I3C_OR_I2C=n
CONFIG_NETLINK_DIAG=n
CONFIG_MODULE_UNLOAD=n
CONFIG_DEVPORT=n
CONFIG_RESET_SPACEMIT_K3=n
CONFIG_USB=n
CONFIG_RTC_NVMEM=n
CONFIG_USB_LIBCOMPOSITE=n
CONFIG_GENERIC_ARCH_TOPOLOGY=n
CONFIG_GENERIC_IRQ_ENTRY=n
CONFIG_RISCV_MISALIGNED=n
CONFIG_GENERIC_CPU_VULNERABILITIES=n
CONFIG_GENERIC_SYSCALL=n
CONFIG_SECURITY_SELINUX=n
CONFIG_NET_VENDOR_ASIX=n
CONFIG_PHYLINK=n
CONFIG_IO_WQ=n
CONFIG_DRM_SUN6I_DSI=n
CONFIG_USB_COMMON=n
CONFIG_SUN4I_TIMER=n
CONFIG_FAT_FS=n
CONFIG_MTD_SPI_NOR=n
CONFIG_OF=n
CONFIG_DWMAC_SUNXI=n
CONFIG_ACPI_GENERIC_GSI=n
CONFIG_CGROUP_FREEZER=n
CONFIG_JBD2=n
CONFIG_DRM_CLIENT=n
CONFIG_CACHESTAT_SYSCALL=n
CONFIG_USB_CDNS3_HOST=n
CONFIG_NET_VENDOR_NI=n
CONFIG_FTRACE=n
CONFIG_V4L2_FWNODE=n
CONFIG_RISCV_ISA_VENDOR_EXT_ANDES=n
CONFIG_STARFIVE_JH8100_INTC=n
CONFIG_SND_DMAENGINE_PCM=n
CONFIG_TOOLCHAIN_HAS_ZBKB=n
CONFIG_ACPI_THERMAL_LIB=n
CONFIG_GENERIC_CSUM=n
CONFIG_IRQCHIP=n
CONFIG_HAVE_SOFTIRQ_ON_OWN_STACK=n
CONFIG_UPROBE_EVENTS=n
CONFIG_CAN=n
CONFIG_DTC=n
CONFIG_NET_VENDOR_EZCHIP=n
CONFIG_I2C_BOARDINFO=n
CONFIG_ALLOW_DEV_COREDUMP=n
CONFIG_CRC_CCITT=n
CONFIG_USB_XHCI_PLATFORM=n
CONFIG_IP_MULTICAST=n
CONFIG_RTC_SYSTOHC=n
CONFIG_PAGE_COUNTER=n
CONFIG_BLK_DEV_BSG=n
CONFIG_XZ_DEC_ARM=n
CONFIG_CC_HAS_INT128=n
CONFIG_FB_CORE=n
CONFIG_BRIDGE_VLAN_FILTERING=n
CONFIG_ARCH_SUPPORTS_INT128=n
CONFIG_MEDIA_PLATFORM_DRIVERS=n
CONFIG_DWMAC_SOPHGO=n
CONFIG_PCIE_PLDA_HOST=n
CONFIG_SPACEMIT_CCU=n
CONFIG_RISCV_DMA_NONCOHERENT=n
CONFIG_USB_XHCI_PCI=n
CONFIG_XOR_BLOCKS_ARCH=n
CONFIG_SND_SOC_JH7110_TDM=n
CONFIG_OF_EARLY_FLATTREE=n
CONFIG_GENERIC_ENTRY=n
CONFIG_LTO_NONE=n
CONFIG_ACPI_DEBUG=n
CONFIG_PREEMPT_NOTIFIERS=n
CONFIG_HAVE_KCSAN_COMPILER=n
CONFIG_COREDUMP=n
CONFIG_NET_VENDOR_ARC=n
CONFIG_USB_OHCI_HCD_PCI=n
CONFIG_CLK_STARFIVE_JH7110_AON=n
CONFIG_ATA_VERBOSE_ERROR=n
CONFIG_EFI=n
CONFIG_DECOMPRESS_GZIP=n
CONFIG_LEGACY_TIOCSTI=n
CONFIG_USB_U_SERIAL=n
CONFIG_BLK_CGROUP_PUNT_BIO=n
CONFIG_CC_HAS_WORKING_NOSANITIZE_ADDRESS=n
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST=n
CONFIG_ARCH_HAS_PMEM_API=n
CONFIG_INPUT_EVDEV=n
CONFIG_RPMSG_NS=n
CONFIG_ARCH_SUPPORTS_CRASH_DUMP=n
CONFIG_ARCH_HAS_GCOV_PROFILE_ALL=n
CONFIG_EPOLL=n
CONFIG_PCI_ECAM=n
CONFIG_HAVE_ARCH_KGDB_QXFER_PKT=n
CONFIG_DYNAMIC_EVENTS=n
CONFIG_DRM_DW_HDMI=n
CONFIG_BITREVERSE=n
CONFIG_CRYPTO=n
CONFIG_NET_UDP_TUNNEL=n
CONFIG_MTD_CFI_I2=n
CONFIG_PCIEASPM=n
CONFIG_TRACEFS_AUTOMOUNT_DEPRECATED=n
CONFIG_DMA_VIRTUAL_CHANNELS=n
CONFIG_MEDIA_SUPPORT_FILTER=n
CONFIG_RISCV_PMU_SBI=n
CONFIG_CRYPTO_MANAGER=n
CONFIG_BPF_SYSCALL=n
CONFIG_FAILOVER=n
CONFIG_ACPI_RIMT=n
CONFIG_FHANDLE=n
CONFIG_CRYPTO_DEV_VIRTIO=n
CONFIG_SND_DRIVERS=n
CONFIG_MOUSE_PS2_ALPS=n
CONFIG_BLK_DEV_WRITE_MOUNTED=n
CONFIG_ARM_AMBA=n
CONFIG_HAVE_ARCH_RANDOMIZE_KSTACK_OFFSET=n
CONFIG_NFS_V4=n
CONFIG_MD=n
CONFIG_CPU_MITIGATIONS=n
CONFIG_DWMAC_SUN55I=n
CONFIG_IO_URING=n
CONFIG_MPILIB=n
CONFIG_VIRTIO_PCI_LEGACY=n
CONFIG_NET_VENDOR_AMAZON=n
CONFIG_DEBUG_BUGVERBOSE=n
CONFIG_SOCK_CGROUP_DATA=n
CONFIG_USB_CONFIGFS_RNDIS=n
CONFIG_STP=n
CONFIG_SCSI=n
CONFIG_DRM_PANEL_BRIDGE=n
CONFIG_XZ_DEC_POWERPC=n
CONFIG_HOTPLUG_PARALLEL=n
CONFIG_HAVE_ARCH_GET_SECUREBOOT=n
CONFIG_LIBFDT=n
CONFIG_NET_VENDOR_NVIDIA=n
CONFIG_RESET_SIMPLE=n
CONFIG_CC_HAS_NO_PROFILE_FN_ATTR=n
CONFIG_VIDEO=n
CONFIG_RISCV_IOMMU=n
CONFIG_ACPI_MDIO=n
CONFIG_XPS=n
CONFIG_ARCH_KEEP_MEMBLOCK=n
CONFIG_GCC10_NO_ARRAY_BOUNDS=n
CONFIG_SATA_HOST=n
CONFIG_OID_REGISTRY=n
CONFIG_ARCH_HIBERNATION_POSSIBLE=n
CONFIG_IRQ_MSI_LIB=n
CONFIG_MTD_OF_PARTS=n
CONFIG_RANDSTRUCT_NONE=n
CONFIG_CHECKPOINT_RESTORE=n
CONFIG_RISCV_RPMI_SYSMSI=n
CONFIG_DRM_SUN8I_DW_HDMI=n
CONFIG_SND_SPI=n
CONFIG_LD_CAN_USE_KEEP_IN_OVERLAY=n
CONFIG_I2C_DESIGNWARE_CORE=n
CONFIG_CRC7=n
CONFIG_MTD_CFI_UTIL=n
CONFIG_ARCH_HAS_VDSO_ARCH_DATA=n
CONFIG_TREE_RCU=n
CONFIG_NET_SCHED=n
CONFIG_POWER_RESET_SYSCON=n
CONFIG_MOUSE_PS2_TRACKPOINT=n
CONFIG_SENSORS_SFCTEMP=n
CONFIG_EXECMEM=n
CONFIG_STMMAC_ETH=n
CONFIG_ACPI_AC=n
CONFIG_ARCH_HAS_NON_OVERLAPPING_ADDRESS_SPACE=n
CONFIG_HUGETLB_PMD_PAGE_TABLE_SHARING=n
CONFIG_INTERVAL_TREE=n
CONFIG_GENERIC_IRQ_SHOW_LEVEL=n
CONFIG_CGROUP_DEVICE=n
CONFIG_SND_SIMPLE_CARD_UTILS=n
CONFIG_CRYPTO_ECB=n
CONFIG_RWSEM_SPIN_ON_OWNER=n
CONFIG_HARDIRQS_SW_RESEND=n
CONFIG_NET_VENDOR_HISILICON=n
CONFIG_NET_VENDOR_QLOGIC=n
CONFIG_RTC_I2C_AND_SPI=n
CONFIG_E1000E=n
CONFIG_GPIO_SPACEMIT_K1=n
CONFIG_BINFMT_SCRIPT=n
CONFIG_HRTIMER_REARM_DEFERRED=n
CONFIG_FUTEX=n
CONFIG_POWER_RESET_GPIO_RESTART=n
CONFIG_IRQ_STACKS=n
CONFIG_ERRATA_THEAD_PMU=n
CONFIG_ARCH_SUPPORTS_KEXEC_FILE=n
CONFIG_RISCV_ISA_ZBKB=n
CONFIG_SUN6I_RTC_CCU=n
CONFIG_PINCONF=n
CONFIG_RING_BUFFER=n
CONFIG_CPU_FREQ_GOV_USERSPACE=n
CONFIG_HAVE_GIGANTIC_FOLIOS=n
CONFIG_FB_CFB_IMAGEBLIT=n
CONFIG_SCHED_INFO=n
CONFIG_REGULATOR_AXP20X=n
CONFIG_HAVE_ARCH_KASAN_VMALLOC=n
CONFIG_FIRMWARE_TABLE=n
CONFIG_VIRTIO_MMIO=n
CONFIG_MTD_MAP_BANK_WIDTH_4=n
CONFIG_NF_DEFRAG_IPV6=n
CONFIG_RPMSG_CHAR=n
CONFIG_PHY_STARFIVE_JH7110_PCIE=n
CONFIG_SERIAL_8250_DMA=n
CONFIG_BLK_CGROUP=n
CONFIG_INET_DIAG=n
CONFIG_CRC_OPTIMIZATIONS=n
CONFIG_TRACE_CLOCK=n
CONFIG_EDAC_SUPPORT=n
CONFIG_HAVE_ARCH_SECCOMP_FILTER=n
CONFIG_RESET_SUNXI=n
CONFIG_MTD_SPI_NOR_USE_4K_SECTORS=n
CONFIG_GPIO_GENERIC=n
CONFIG_RD_LZMA=n
CONFIG_HAVE_PERF_EVENTS=n
CONFIG_ARCH_SUPPORTS_ATOMIC_RMW=n
CONFIG_EFI_PARTITION=n
CONFIG_AUDIT_GENERIC=n
CONFIG_THERMAL=n
CONFIG_PCI_PWRCTRL_GENERIC=n
CONFIG_CRYPTO_MANAGER2=n
CONFIG_DUMMY_CONSOLE=n
CONFIG_HAVE_FTRACE_GRAPH_FUNC=n
CONFIG_CC_IS_GCC=n
CONFIG_CRYPTO_ECHAINIV=n
CONFIG_CLK_SIFIVE_PRCI=n
CONFIG_MULTIUSER=n
CONFIG_SBITMAP=n
CONFIG_DRM_DISPLAY_HDMI_HELPER=n
CONFIG_USB_CDNS3_STARFIVE=n
CONFIG_IOMMU_DEFAULT_DMA_STRICT=n
CONFIG_ADVISE_SYSCALLS=n
CONFIG_PHY_SPACEMIT_K1_PCIE=n
CONFIG_NET_NS=n
CONFIG_USB_UAS=n
CONFIG_CMODEL_MEDANY=n
CONFIG_MMC=n
CONFIG_SYSCTL=n
CONFIG_PROC_FS=n
CONFIG_NET_VENDOR_3COM=n
CONFIG_ARCH_HAS_TICK_BROADCAST=n
CONFIG_PCI_LABEL=n
CONFIG_VIDEO_V4L2_I2C=n
CONFIG_NET_VENDOR_NATSEMI=n
CONFIG_NET_VENDOR_CADENCE=n
CONFIG_DRM_KMS_HELPER=n
CONFIG_USB_F_RNDIS=n
CONFIG_HAVE_KRETPROBES=n
CONFIG_HVC_DRIVER=n
CONFIG_MFD_CORE=n
CONFIG_ARCH_HAS_SET_DIRECT_MAP=n
CONFIG_GCC_ASM_GOTO_OUTPUT_BROKEN=n
CONFIG_FAIR_GROUP_SCHED=n
CONFIG_ARCH_DEFAULT_CRASH_DUMP=n
CONFIG_NFS_DISABLE_UDP_SUPPORT=n
CONFIG_GENERIC_LIB_DEVMEM_IS_ALLOWED=n
CONFIG_NET_IP_TUNNEL=n
CONFIG_NFS_COMMON=n
CONFIG_CPU_IDLE_MULTIPLE_DRIVERS=n
CONFIG_MEDIA_SUPPORT=n
CONFIG_MACVLAN=n
CONFIG_HAVE_CLK=n
CONFIG_AF_UNIX_OOB=n
CONFIG_GENERIC_SMP_IDLE_THREAD=n
CONFIG_CLONE_BACKWARDS=n
CONFIG_64BIT=n
CONFIG_ARCH_MICROCHIP=n
CONFIG_SPARSEMEM_VMEMMAP=n
CONFIG_HAVE_CLK_PREPARE=n
CONFIG_SND_SOC_SPDIF=n
CONFIG_SOC_STARFIVE=n
CONFIG_SND_PCM=n
CONFIG_EFI_EARLYCON=n
CONFIG_SECRETMEM=n
CONFIG_DT_IDLE_STATES=n
CONFIG_RD_ZSTD=n
CONFIG_ERRATA_THEAD_MAE=n
CONFIG_POWER_SUPPLY=n
CONFIG_RISCV_ISA_V_DEFAULT_ENABLE=n
CONFIG_XFRM_USER=n
CONFIG_PINCTRL_SPACEMIT_K1=n
CONFIG_RAID6_PQ=n
CONFIG_ARCH_SELECT_MEMORY_MODEL=n
CONFIG_SELECT_MEMORY_MODEL=n
CONFIG_PCIE_STARFIVE_HOST=n
CONFIG_ETHERNET=n
CONFIG_TUNE_GENERIC=n
