CONFIG_ARCH_HAS_CPU_FINALIZE_INIT=n
CONFIG_USB_OHCI_HCD_PCI=n
CONFIG_ATA_BMDMA=n
CONFIG_CRYPTO_LIB_SHA1=n
CONFIG_SND_HDA_COMPONENT=n
CONFIG_NETFILTER=n
CONFIG_MAC_EMUMOUSEBTN=n
CONFIG_NF_CONNTRACK_SIP=n
CONFIG_IPV6_NDISC_NODETYPE=n
CONFIG_PARAVIRT_CLOCK=n
CONFIG_NET_VENDOR_SEEQ=n
CONFIG_ARCH_SUSPEND_POSSIBLE=n
CONFIG_PID_NS=n
CONFIG_RSEQ=n
CONFIG_CLOCKSOURCE_WATCHDOG=n
CONFIG_CHR_DEV_SG=n
CONFIG_RFKILL_INPUT=n
CONFIG_ARCH_WANT_COMPAT_IPC_PARSE_VERSION=n
CONFIG_ARCH_CLOCKSOURCE_INIT=n
CONFIG_ACPI_LEGACY_TABLES_LOOKUP=n
CONFIG_CHECK_SIGNATURE=n
CONFIG_HAVE_MIXED_BREAKPOINTS_REGS=n
CONFIG_ARCH_HAS_PTDUMP=n
CONFIG_X86_REQUIRED_FEATURE_MSR=n
CONFIG_NET=n
CONFIG_NET_VENDOR_VIA=n
CONFIG_RANDOMIZE_MEMORY=n
CONFIG_PCIEPORTBUS=n
CONFIG_ACPI_SPCR_TABLE=n
CONFIG_ARCH_HAS_PREEMPT_LAZY=n
CONFIG_PAGE_SIZE_LESS_THAN_256KB=n
CONFIG_SCSI_COMMON=n
CONFIG_KERNFS=n
CONFIG_UID16=n
CONFIG_X86_AMD_PSTATE=n
CONFIG_HAS_DMA=n
CONFIG_HAVE_UNSTABLE_SCHED_CLOCK=n
CONFIG_ACPI_SLEEP=n
CONFIG_BLK_DEBUG_FS=n
CONFIG_SND_PCI=n
CONFIG_MOUSE_PS2_LIFEBOOK=n
CONFIG_IP_ADVANCED_ROUTER=n
CONFIG_IOMMU_DEFAULT_DMA_LAZY=n
CONFIG_SECURITY_SELINUX_AVC_STATS=n
CONFIG_ARCH_SUPPORTS_RT=n
CONFIG_ARCH_ENABLE_MEMORY_HOTPLUG=n
CONFIG_NET_VENDOR_AMAZON=n
CONFIG_INTERVAL_TREE=n
CONFIG_CRASH_DUMP=n
CONFIG_ELFCORE=n
CONFIG_VIRTIO_DMA_SHARED_BUFFER=n
CONFIG_HAVE_KERNEL_LZO=n
CONFIG_NET_9P_FD=n
CONFIG_NET_VENDOR_MICROSEMI=n
CONFIG_HAVE_FUNCTION_ERROR_INJECTION=n
CONFIG_ARCH_HAS_DEBUG_WX=n
CONFIG_SECTION_MISMATCH_WARN_ONLY=n
CONFIG_NETCONSOLE=n
CONFIG_ARCH_MHP_MEMMAP_ON_MEMORY_ENABLE=n
CONFIG_NETLABEL=n
CONFIG_IP_MROUTE=n
CONFIG_ARCH_HAVE_NMI_SAFE_CMPXCHG=n
CONFIG_AGP_INTEL=n
CONFIG_SPLIT_PTE_PTLOCKS=n
CONFIG_NET_VENDOR_ADAPTEC=n
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_JMP=n
CONFIG_CPU_FREQ_GOV_SCHEDUTIL=n
CONFIG_DRM_PANEL=n
CONFIG_NETFS_SUPPORT=n
CONFIG_I2C_BOARDINFO=n
CONFIG_X86_64=n
CONFIG_USB_EHCI_TT_NEWSCHED=n
CONFIG_NETFILTER_XT_MARK=n
CONFIG_X86_INTEL_PSTATE=n
CONFIG_ATA_ACPI=n
CONFIG_POWER_SUPPLY=n
CONFIG_HAVE_ARCH_GET_SECUREBOOT=n
CONFIG_ARCH_SUPPORTS_KEXEC=n
CONFIG_ARCH_SUPPORTS_KEXEC_BZIMAGE_VERIFY_SIG=n
CONFIG_USB_PCI=n
CONFIG_PCI_DIRECT=n
CONFIG_HAVE_HW_BREAKPOINT=n
CONFIG_MITIGATION_RFDS=n
CONFIG_HAVE_STACK_VALIDATION=n
CONFIG_RTC_I2C_AND_SPI=n
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE_PUD=n
CONFIG_RWSEM_SPIN_ON_OWNER=n
CONFIG_CC_HAS_ENTRY_PADDING=n
CONFIG_INET6_ESP=n
CONFIG_CC_HAS_RETURN_THUNK=n
CONFIG_X86_CPUID=n
CONFIG_CFG80211_CRDA_SUPPORT=n
CONFIG_SLUB=n
CONFIG_X86_DIRECT_GBPAGES=n
CONFIG_ACPI_CONTAINER=n
CONFIG_WLAN_VENDOR_REALTEK=n
CONFIG_MITIGATION_CALL_DEPTH_TRACKING=n
CONFIG_HDMI=n
CONFIG_X86_VMX_FEATURE_NAMES=n
CONFIG_NET_VENDOR_STMICRO=n
CONFIG_HAVE_SETUP_PER_CPU_AREA=n
CONFIG_MOUSE_PS2_SYNAPTICS=n
CONFIG_ACPI_NUMA=n
CONFIG_XZ_DEC_X86=n
CONFIG_CRYPTO_ACOMP2=n
CONFIG_USB_NET_DRIVERS=n
CONFIG_INPUT_MOUSE=n
CONFIG_CRC32=n
CONFIG_X86_CHECK_BIOS_CORRUPTION=n
CONFIG_SERIAL_8250_DMA=n
CONFIG_NETFILTER_XT_TARGET_LOG=n
CONFIG_HAVE_ARCH_KSTACK_ERASE=n
CONFIG_TASKSTATS=n
CONFIG_MUTEX_SPIN_ON_OWNER=n
CONFIG_HAVE_ARCH_SOFT_DIRTY=n
CONFIG_PCCARD_NONSTATIC=n
CONFIG_X86_TSC=n
CONFIG_NF_CONNTRACK_SECMARK=n
CONFIG_EPROBE_EVENTS=n
CONFIG_X86_PM_TIMER=n
CONFIG_X86_REQUIRED_FEATURE_CMOV=n
CONFIG_THERMAL_HWMON=n
CONFIG_X86_ESPFIX64=n
CONFIG_NFS_V3=n
CONFIG_MEMFD_CREATE=n
CONFIG_SUSPEND=n
CONFIG_MISC_FILESYSTEMS=n
CONFIG_HAVE_KERNEL_GZIP=n
CONFIG_HAVE_ACPI_APEI=n
CONFIG_ARCH_HAS_DEBUG_VM_PGTABLE=n
CONFIG_HAVE_EFFICIENT_UNALIGNED_ACCESS=n
CONFIG_ARCH_HAS_CPU_PASID=n
CONFIG_HAVE_RUST=n
CONFIG_NEW_LEDS=n
CONFIG_I2C_HID=n
CONFIG_NET_VENDOR_TEHUTI=n
CONFIG_HOTPLUG_SPLIT_STARTUP=n
CONFIG_HAVE_ARCH_MMAP_RND_COMPAT_BITS=n
CONFIG_DMA_NEED_SYNC=n
CONFIG_ACPI_NHLT=n
CONFIG_NEED_PER_CPU_PAGE_FIRST_CHUNK=n
CONFIG_NLS_ASCII=n
CONFIG_DMA_VIRTUAL_CHANNELS=n
CONFIG_NET_VENDOR_MELLANOX=n
CONFIG_HAVE_IOREMAP_PROT=n
CONFIG_IRQ_MSI_LIB=n
CONFIG_I2C_SMBUS=n
CONFIG_HAVE_KERNEL_LZ4=n
CONFIG_VDSO_GETRANDOM=n
CONFIG_TCP_CONG_CUBIC=n
CONFIG_HAVE_ARCH_KFENCE=n
CONFIG_SOFTIRQ_ON_OWN_STACK=n
CONFIG_DMAR_TABLE=n
CONFIG_VIRTUALIZATION=n
CONFIG_HAVE_C_RECORDMCOUNT=n
CONFIG_NET_VENDOR_DLINK=n
CONFIG_NF_LOG_IPV4=n
CONFIG_NET_VENDOR_AQUANTIA=n
CONFIG_HAVE_CMPXCHG_DOUBLE=n
CONFIG_HALTPOLL_CPUIDLE=n
CONFIG_CC_HAS_KASAN_GENERIC=n
CONFIG_HAVE_HARDLOCKUP_DETECTOR_BUDDY=n
CONFIG_SERIAL_8250_CONSOLE=n
CONFIG_MOUSE_PS2_FOCALTECH=n
CONFIG_HIBERNATION=n
CONFIG_X86_IO_APIC=n
CONFIG_FUTEX=n
CONFIG_X86_REQUIRED_FEATURE_FXSR=n
CONFIG_APERTURE_HELPERS=n
CONFIG_CRYPTO_SKCIPHER=n
CONFIG_AGP_AMD64=n
CONFIG_CC_HAS_NO_PROFILE_FN_ATTR=n
CONFIG_SND_INTEL_SOUNDWIRE_ACPI=n
CONFIG_HAVE_ARCH_KASAN_VMALLOC=n
CONFIG_NET_HANDSHAKE=n
CONFIG_NLS_ISO8859_1=n
CONFIG_HAVE_KLP_BUILD=n
CONFIG_HOTPLUG_CPU=n
CONFIG_SECURITY_SELINUX_BOOTPARAM=n
CONFIG_INPUT_KEYBOARD=n
CONFIG_OLD_SIGSUSPEND3=n
CONFIG_DEBUG_STACK_USAGE=n
CONFIG_SERIAL_8250_MANY_PORTS=n
CONFIG_MITIGATION_SRBDS=n
CONFIG_NET_CLS_ACT=n
CONFIG_X86_DEBUG_FPU=n
CONFIG_EVENT_TRACING=n
CONFIG_DMIID=n
CONFIG_EFI_DXE_MEM_ATTRIBUTES=n
CONFIG_DEVTMPFS=n
CONFIG_PREVENT_FIRMWARE_BUILD=n
CONFIG_MOUSE_PS2_ALPS=n
CONFIG_ACPI_FAN=n
CONFIG_PADATA=n
CONFIG_CPU_IDLE_GOV_MENU=n
CONFIG_ATA_VERBOSE_ERROR=n
CONFIG_CRASH_RESERVE=n
CONFIG_NF_CONNTRACK_FTP=n
CONFIG_HAVE_OBJTOOL=n
CONFIG_FONT_SUPPORT=n
CONFIG_HAVE_ARCH_JUMP_LABEL=n
CONFIG_ARCH_HAS_ELF_RANDOMIZE=n
CONFIG_CRC_OPTIMIZATIONS=n
CONFIG_SPARSEMEM_VMEMMAP_PREINIT=n
CONFIG_PROC_FS=n
CONFIG_SCHED_HRTICK=n
CONFIG_VIRTIO_NET=n
CONFIG_SGL_ALLOC=n
CONFIG_GENERIC_CPU_VULNERABILITIES=n
CONFIG_E100=n
CONFIG_INTEL_GTT=n
CONFIG_CGROUP_CPUACCT=n
CONFIG_NFS_FS=n
CONFIG_HAVE_ARCH_MMAP_RND_BITS=n
CONFIG_CRYPTO_LIB_SHA1_ARCH=n
CONFIG_DYNAMIC_SIGFRAME=n
CONFIG_ARCH_SUPPORTS_NUMA_BALANCING=n
CONFIG_DMI=n
CONFIG_HAVE_ARCH_KCSAN=n
CONFIG_INPUT_JOYSTICK=n
CONFIG_X86_REQUIRED_FEATURE_XMM2=n
CONFIG_STANDALONE=n
CONFIG_EEEPC_LAPTOP=n
CONFIG_IO_WQ=n
CONFIG_IOMMU_IOPF=n
CONFIG_XZ_DEC_RISCV=n
CONFIG_X86_HAVE_PAE=n
CONFIG_REGMAP=n
CONFIG_NF_LOG_IPV6=n
CONFIG_RD_LZ4=n
CONFIG_DMA_ENGINE=n
CONFIG_IP_ROUTE_VERBOSE=n
CONFIG_HAVE_ARCH_AUDITSYSCALL=n
CONFIG_XFRM_USER=n
CONFIG_HAVE_STACKPROTECTOR=n
CONFIG_CRYPTO_SKCIPHER2=n
CONFIG_IP_PNP_BOOTP=n
CONFIG_MOUSE_PS2_LOGIPS2PP=n
CONFIG_ASYMMETRIC_KEY_TYPE=n
CONFIG_FWNODE_MDIO=n
CONFIG_AUDITSYSCALL=n
CONFIG_X86_REQUIRED_FEATURE_CPUID=n
CONFIG_BLK_DEV_BSG_COMMON=n
CONFIG_GENERIC_TIME_VSYSCALL=n
CONFIG_SCHED_INFO=n
CONFIG_CRYPTO_AKCIPHER2=n
CONFIG_FHANDLE=n
CONFIG_MITIGATION_PAGE_TABLE_ISOLATION=n
CONFIG_MITIGATION_RETHUNK=n
CONFIG_BLK_DEV=n
CONFIG_DECOMPRESS_BZIP2=n
CONFIG_X86_EXTENDED_PLATFORM=n
CONFIG_EFIVAR_FS=n
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST=n
CONFIG_PNFS_FILE_LAYOUT=n
CONFIG_SPARSE_IRQ=n
CONFIG_HAVE_OBJTOOL_NOP_MCOUNT=n
CONFIG_ARCH_SUPPORTS_LTO_CLANG=n
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO_BARE=n
CONFIG_HAVE_PERF_REGS=n
CONFIG_TIMERFD=n
CONFIG_MD_BITMAP=n
CONFIG_WLAN_VENDOR_PURELIFI=n
CONFIG_NVRAM=n
CONFIG_ACPI_BATTERY=n
CONFIG_INPUT_TOUCHSCREEN=n
CONFIG_SND=n
CONFIG_PREEMPT_RCU=n
CONFIG_NET_VENDOR_RENESAS=n
CONFIG_ARCH_HAS_MEMBARRIER_SYNC_CORE=n
CONFIG_ARCH_HAS_EXECMEM_ROX=n
CONFIG_IO_URING_ZCRX=n
CONFIG_NFS_DISABLE_UDP_SUPPORT=n
CONFIG_GENERIC_ENTRY=n
CONFIG_CGROUP_SCHED=n
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST_IDLE=n
CONFIG_AF_UNIX_OOB=n
CONFIG_ACPI_LPIT=n
CONFIG_IP_MROUTE_COMMON=n
CONFIG_DMADEVICES=n
CONFIG_CRYPTO_SEQIV=n
CONFIG_HAVE_FUNCTION_TRACER=n
CONFIG_ASSOCIATIVE_ARRAY=n
CONFIG_X86_REQUIRED_FEATURE_PAE=n
CONFIG_SND_SEQ_HRTIMER_DEFAULT=n
CONFIG_HAVE_STATIC_CALL_INLINE=n
CONFIG_SERIO=n
CONFIG_LD_ORPHAN_WARN=n
CONFIG_IPV6_SIT=n
CONFIG_HID_SUNPLUS=n
CONFIG_CRYPTO_AKCIPHER=n
CONFIG_BINFMT_ELF=n
CONFIG_PCI_ATS=n
CONFIG_SND_CTL_FAST_LOOKUP=n
CONFIG_ARCH_WANT_GENERAL_HUGETLB=n
CONFIG_XZ_DEC_SPARC=n
CONFIG_NET_9P=n
CONFIG_GENERIC_SYSCALL=n
CONFIG_ARCH_SUPPORTS_UPROBES=n
CONFIG_X86_DISABLED_FEATURE_CYRIX_ARR=n
