CONFIG_DRM_EXYNOS=n
CONFIG_REED_SOLOMON_ENC8=n
CONFIG_PCIE_RCAR_HOST=n
CONFIG_CROS_EC_VBC=n
CONFIG_ARM_SCMI_HAVE_MSG=n
CONFIG_PM_GENERIC_DOMAINS_OF=n
CONFIG_ZSTD_DECOMPRESS=n
CONFIG_QCOM_IOMMU=n
CONFIG_ARCH_R8A779H0=n
CONFIG_ARM_SCMI_HAVE_SHMEM=n
CONFIG_ARCH_HAS_RELR=n
CONFIG_NET_DSA_TAG_BRCM_LEGACY=n
CONFIG_UID16=n
CONFIG_ARM_PMU=n
CONFIG_LEGACY_TIOCSTI=n
CONFIG_SOC_BUS=n
CONFIG_COMMON_CLK_MT8516=n
CONFIG_HW_PERF_EVENTS=n
CONFIG_STRICT_DEVMEM=n
CONFIG_MLX4_CORE=n
CONFIG_TI_K3_SOCINFO=n
CONFIG_SPI_ROCKCHIP_SFC=n
CONFIG_ARCH_HAS_KCOV=n
CONFIG_ARM64=n
CONFIG_COMMON_CLK_VISCONTI=n
CONFIG_XILINX_DMA=n
CONFIG_DRM_MEDIATEK_HDMI_V2=n
CONFIG_SM_VIDEOCC_8450=n
CONFIG_NET_SELFTESTS=n
CONFIG_EXTCON_USB_GPIO=n
CONFIG_SSB_POSSIBLE=n
CONFIG_INPUT_TOUCHSCREEN=n
CONFIG_BT_BREDR=n
CONFIG_HOTPLUG_CORE_SYNC_DEAD=n
CONFIG_ATA_FORCE=n
CONFIG_SCSI_DMA=n
CONFIG_USB_SERIAL=n
CONFIG_NAMESPACES=n
CONFIG_KEXEC=n
CONFIG_CRYPTO_AEAD2=n
CONFIG_SERIAL_SAMSUNG_CONSOLE=n
CONFIG_TI_ICSSG_PRUETH=n
CONFIG_XEN_GNTDEV=n
CONFIG_TYPEC_RT1711H=n
CONFIG_SURFACE_PLATFORMS=n
CONFIG_HW_RANDOM_CN10K=n
CONFIG_NET_SCH_ETF=n
CONFIG_PWM_MEDIATEK=n
CONFIG_PINCTRL_LPASS_LPI=n
CONFIG_POWER_RESET_GPIO=n
CONFIG_ARM_ARCH_TIMER_OOL_WORKAROUND=n
CONFIG_SLUB=n
CONFIG_DEVTMPFS_MOUNT=n
CONFIG_SERIAL_8250_TEGRA=n
CONFIG_CC_HAS_BRANCH_PROT_PAC_RET=n
CONFIG_ARM64_ERRATUM_845719=n
CONFIG_BT_LEDS=n
CONFIG_NXP_ENETC_PF_COMMON=n
CONFIG_QORIQ_THERMAL=n
CONFIG_PINCTRL_IPQ5332=n
CONFIG_SND_SOC_WCD9335=n
CONFIG_SERIAL_SH_SCI_CONSOLE=n
CONFIG_BLK_DEV_DM=n
CONFIG_CRYPTO_AES_ARM64_CE_CCM=n
CONFIG_ARCH_HAS_GCOV_PROFILE_ALL=n
CONFIG_DRM_LONTIUM_LT9611=n
CONFIG_EXYNOS_ACPM_CLK=n
CONFIG_COMPAT=n
CONFIG_USB_DWC3_APPLE=n
CONFIG_PCI_PASID=n
CONFIG_REGULATOR_PF8X00=n
CONFIG_LD_CAN_USE_KEEP_IN_OVERLAY=n
CONFIG_VIDEO_RENESAS_FDP1=n
CONFIG_ARCH_SUPPORTS_MEMORY_FAILURE=n
CONFIG_USB_DWC3_MESON_G12A=n
CONFIG_PREEMPTION=n
CONFIG_CRYPTO_CMAC=n
CONFIG_NET_VENDOR_SILAN=n
CONFIG_HI3660_MBOX=n
CONFIG_E1000=n
CONFIG_CRYPTO_CTR=n
CONFIG_PWM_IMX27=n
CONFIG_QCOM_Q6V5_ADSP=n
CONFIG_INITRAMFS_PRESERVE_MTIME=n
CONFIG_NET_FAILOVER=n
CONFIG_CRYPTO_DEV_FSL_CAAM_CRYPTO_API=n
CONFIG_ARM64_ERRATUM_843419=n
CONFIG_SPI=n
CONFIG_MTD_CFI=n
CONFIG_RTC_DRV_S32G=n
CONFIG_PINCTRL_SINGLE=n
CONFIG_DRM_RCAR_DW_HDMI=n
CONFIG_ACPI_FAN=n
CONFIG_SND_SOC_SM8250=n
CONFIG_EXPORTFS=n
CONFIG_VIDEO_MESON_VDEC=n
CONFIG_ARM_CCI400_PMU=n
CONFIG_USB_DWC3_HAPS=n
CONFIG_ARCH_HAS_STRICT_KERNEL_RWX=n
CONFIG_PHY_ROCKCHIP_EMMC=n
CONFIG_HW_RANDOM_CAVIUM=n
CONFIG_COMMON_CLK_FSL_FLEXSPI=n
CONFIG_SND_SOC_WCD_MBHC=n
CONFIG_COMMON_CLK_MT8196_PEXTPSYS=n
CONFIG_OF_OVERLAY=n
CONFIG_PCIE_LAYERSCAPE_GEN4=n
CONFIG_ARCH_R8A77990=n
CONFIG_GCC_NO_STRINGOP_OVERFLOW=n
CONFIG_MT7921E=n
CONFIG_RENESAS_GEN4_PTP=n
CONFIG_SND_SOC_SC7280=n
CONFIG_GPIO_XILINX=n
CONFIG_CRYPTO_DEV_FSL_CAAM_AHASH_API=n
CONFIG_ARCH_SUPPORTS_SCHED_MC=n
CONFIG_CRYPTO_AKCIPHER2=n
CONFIG_SERIAL_RSCI=n
CONFIG_RCAR_THERMAL=n
CONFIG_GENERIC_HWEIGHT=n
CONFIG_COMMON_CLK_MT8365_CAM=n
CONFIG_PNPACPI=n
CONFIG_HAVE_KVM_VCPU_RUN_PID_CHANGE=n
CONFIG_FUJITSU_ERRATUM_010001=n
CONFIG_MEDIA_TUNER_MT20XX=n
CONFIG_SND_SOC_TAS571X=n
CONFIG_ADVISE_SYSCALLS=n
CONFIG_CRYPTO_DEV_HISI_QM=n
CONFIG_UNION_FIND=n
CONFIG_BCM_PMB=n
CONFIG_RST_RCAR=n
CONFIG_PCIE_CADENCE_HOST=n
CONFIG_SOC_IMX9=n
CONFIG_BLOCK_LEGACY_AUTOLOAD=n
CONFIG_STRICT_KERNEL_RWX=n
CONFIG_SCSI_HISI_SAS_PCI=n
CONFIG_VIDEO_HANTRO=n
CONFIG_FIRMWARE_TABLE=n
CONFIG_USB_F_OBEX=n
CONFIG_PCI_AARDVARK=n
CONFIG_QUEUED_SPINLOCKS=n
CONFIG_SQUASHFS_ZLIB=n
CONFIG_VIRTIO_PCI_LEGACY=n
CONFIG_CLK_IMX8MM=n
CONFIG_RTC_DRV_BRCMSTB=n
CONFIG_ARCH_HAS_UBSAN=n
CONFIG_BATTERY_BQ27XXX=n
CONFIG_SERIAL_8250_UNIPHIER=n
CONFIG_SA_CAMCC_8775P=n
CONFIG_MVEBU_ICU=n
CONFIG_CC_HAS_ZERO_CALL_USED_REGS=n
CONFIG_BTRFS_FS=n
CONFIG_CRYPTO_SHA3=n
CONFIG_SND_SOC_SOF_OF_DEV=n
CONFIG_NET_VENDOR_ALLWINNER=n
CONFIG_LEDS_TRIGGER_CPU=n
CONFIG_VFIO_GROUP=n
CONFIG_GREYBUS=n
CONFIG_SND_SOC_FSL_UTILS=n
CONFIG_BINARY_PRINTF=n
CONFIG_ARM64_ERRATUM_1418040=n
CONFIG_MD_BITMAP=n
CONFIG_HAVE_ARCH_RANDOMIZE_KSTACK_OFFSET=n
CONFIG_PHY_MTK_MIPI_DSI=n
CONFIG_RTC_DRV_ISL1208=n
CONFIG_DRM_CLIENT_DEFAULT_FBDEV=n
CONFIG_COMMON_CLK_MT8186_IMP_IIC_WRAP=n
CONFIG_SCSI_UFS_QCOM=n
CONFIG_CRYPTO_SM4=n
CONFIG_GENERIC_LIB_DEVMEM_IS_ALLOWED=n
CONFIG_RESET_MESON_AUX=n
CONFIG_QCOM_CPUCP_MBOX=n
CONFIG_NUMA_BALANCING_DEFAULT_ENABLED=n
CONFIG_ARM_TEGRA194_CPUFREQ=n
CONFIG_SM_VIDEOCC_8750=n
CONFIG_ARCH_NXP=n
CONFIG_MEDIA_SUPPORT_FILTER=n
CONFIG_VFIO_CONTAINER=n
CONFIG_PCIE_ARMADA_8K=n
CONFIG_SND_SOC_RT5659=n
CONFIG_BT_HCIUART_SERDEV=n
CONFIG_ARCH_EXYNOS=n
CONFIG_ACPI_MDIO=n
CONFIG_SND_SOC_NAU8825=n
CONFIG_INTERCONNECT_QCOM_MSM8953=n
CONFIG_NUMA=n
CONFIG_MIGRATION=n
CONFIG_INTERCONNECT_QCOM_QDU1000=n
CONFIG_NET_VENDOR_CHELSIO=n
CONFIG_FW_UPLOAD=n
CONFIG_MLX5_BRIDGE=n
CONFIG_IMX_SCMI_BBM_EXT=n
CONFIG_HAVE_HW_BREAKPOINT=n
CONFIG_PINCTRL_IMX8ULP=n
CONFIG_RENESAS_OSTM=n
CONFIG_RESET_MESON_COMMON=n
CONFIG_SND_SOC_PCM3168A_I2C=n
CONFIG_ARCH_SUPPORTS_SHADOW_CALL_STACK=n
CONFIG_ARCH_AXIADO=n
CONFIG_DWMAC_IMX8=n
CONFIG_PATA_TIMINGS=n
CONFIG_PHY_BRCM_SATA=n
CONFIG_TEE_BNXT_FW=n
CONFIG_ELFCORE=n
CONFIG_EXT4_FS=n
CONFIG_COMMON_CLK_MT8192_CAMSYS=n
CONFIG_TYPEC_TCPCI=n
CONFIG_RESET_IMX8MP_AUDIOMIX=n
CONFIG_ARCH_HAS_USER_SHADOW_STACK=n
CONFIG_ARCH_ENABLE_THP_MIGRATION=n
CONFIG_NET_VENDOR_ROCKER=n
CONFIG_PTP_1588_CLOCK_OPTIONAL=n
CONFIG_GPIO_MVEBU=n
CONFIG_FIND_NORMAL_PAGE=n
CONFIG_SCSI_UFS_BSG=n
CONFIG_LEDS_GPIO=n
CONFIG_SUNRPC=n
CONFIG_SND_SUN50I_CODEC_ANALOG=n
CONFIG_PCIE_IPROC=n
CONFIG_CRYPTO_XTS=n
CONFIG_AUDIT_COMPAT_GENERIC=n
CONFIG_SYS_HYPERVISOR=n
CONFIG_SUN50I_DE2_BUS=n
CONFIG_BCM_SBA_RAID=n
CONFIG_MOUSE_PS2_BYD=n
CONFIG_ARCH_VEXPRESS=n
CONFIG_NETFILTER_XTABLES=n
CONFIG_NET_VENDOR_TEHUTI=n
CONFIG_WLAN_VENDOR_SILABS=n
CONFIG_64BIT=n
CONFIG_RD_LZMA=n
CONFIG_XZ_DEC_BCJ=n
CONFIG_CLKSRC_STM32_LP=n
CONFIG_DVB_CORE=n
CONFIG_CAN_M_CAN=n
CONFIG_SND_SOC_ROCKCHIP_SAI=n
CONFIG_SND_HWDEP=n
CONFIG_BNX2X=n
CONFIG_PINCTRL_SH_PFC=n
CONFIG_VIDEOBUF2_DMA_CONTIG=n
CONFIG_ARCH_R8A77960=n
CONFIG_SBITMAP=n
CONFIG_HAVE_C_RECORDMCOUNT=n
CONFIG_COMMON_CLK_MT8188_IMGSYS=n
CONFIG_PHY_ROCKCHIP_INNO_HDMI=n
CONFIG_NET_VENDOR_VERTEXCOM=n
CONFIG_DQL=n
CONFIG_RTC_CLASS=n
CONFIG_EFI_STUB=n
CONFIG_COMMON_CLK_T7_PERIPHERALS=n
CONFIG_VCNL4000=n
CONFIG_ARM64_POE=n
CONFIG_MEDIA_PLATFORM_SUPPORT=n
CONFIG_NET_VENDOR_DEC=n
CONFIG_DWMAC_SUN8I=n
CONFIG_MFD_RK8XX_I2C=n
CONFIG_IOSCHED_BFQ=n
CONFIG_ARM_SCMI_TRANSPORT_MAILBOX=n
CONFIG_IMX_GPCV2_PM_DOMAINS=n
CONFIG_WATCHDOG=n
CONFIG_RENESAS_RZV2HWDT=n
CONFIG_BLK_DEV_NVME=n
CONFIG_SYSC_R8A7795=n
CONFIG_RTC_DRV_MACSMC=n
CONFIG_RENESAS_RZT2H_ICU=n
CONFIG_CLK_R8A7795=n
CONFIG_UBIFS_FS_XATTR=n
CONFIG_CLK_R9A09G057=n
CONFIG_MFD_SEC_I2C=n
CONFIG_ACPI_DEBUG=n
CONFIG_PHY_UNIPHIER_AHCI=n
CONFIG_RFKILL_INPUT=n
CONFIG_DRM_PARADE_PS8640=n
CONFIG_TEGRA_CLK_DFLL=n
CONFIG_LZO_DECOMPRESS=n
CONFIG_CLK_R9A09G011=n
CONFIG_PINCTRL_ARMADA_AP806=n
CONFIG_PINCTRL_MT6779=n
CONFIG_V4L2_ASYNC=n
CONFIG_ARCH_HAS_SET_MEMORY=n
CONFIG_PNFS_BLOCK=n
CONFIG_USB_XHCI_RCAR=n
CONFIG_PAGE_MAPCOUNT=n
CONFIG_MXC_CLK=n
CONFIG_EXT4_FS_POSIX_ACL=n
CONFIG_DRM_PANEL_EDP=n
CONFIG_USB_DWC3_IMX=n
CONFIG_HISILICON_IRQ_MBIGEN=n
CONFIG_COMMON_CLK_MT7988=n
CONFIG_DRM_RCAR_USE_MIPI_DSI=n
CONFIG_MVNETA=n
CONFIG_BCM_NS_THERMAL=n
CONFIG_USB_OTG=n
CONFIG_SLIM_QCOM_NGD_CTRL=n
CONFIG_COMMON_CLK_MT6795_VENCSYS=n
CONFIG_MMU_LAZY_TLB_REFCOUNT=n
CONFIG_SND_SOC_MAX98090=n
CONFIG_DWMAC_SUNXI=n
CONFIG_DW_APB_ICTL=n
CONFIG_VIDEO_ROCKCHIP_CIF=n
CONFIG_SYSCON_REBOOT_MODE=n
CONFIG_REGULATOR_RZG2L_VBCTRL=n
