CONFIG_SPI_MT65XX=n
CONFIG_MEDIA_SUPPORT_FILTER=n
CONFIG_CLK_IMX93=n
CONFIG_SPI_RZV2M_CSI=n
CONFIG_NFS_V3=n
CONFIG_TI_K3_AM65_CPSW_NUSS=n
CONFIG_ARM_PSCI_FW=n
CONFIG_I2C_QCOM_CCI=n
CONFIG_CLK_OWL_S500=n
CONFIG_RTC_DRV_PCF85363=n
CONFIG_SPI_ZYNQMP_GQSPI=n
CONFIG_DRM_ANALOGIX_ANX7625=n
CONFIG_GPIO_PL061=n
CONFIG_OMAP2PLUS_MBOX=n
CONFIG_SPMI_MSM_PMIC_ARB=n
CONFIG_ATA_BMDMA=n
CONFIG_RESET_TI_SCI=n
CONFIG_GENERIC_CLOCKEVENTS=n
CONFIG_TI_SCI_INTA_MSI_DOMAIN=n
CONFIG_WLAN_VENDOR_ATMEL=n
CONFIG_TCG_TIS_SPI=n
CONFIG_USB_CDNS_HOST=n
CONFIG_PINCTRL_QCS615=n
CONFIG_SUN55I_A523_R_CCU=n
CONFIG_HAVE_KPROBES=n
CONFIG_CRYPTO_DEV_AMLOGIC_GXL=n
CONFIG_DRM_FSL_LDB=n
CONFIG_CRYPTO_LIB_BLAKE2B=n
CONFIG_QCM_DISPCC_2290=n
CONFIG_PINCTRL_MESON_AXG_PMX=n
CONFIG_USB_DWC3_RTK=n
CONFIG_ARM_TIMER_SP804=n
CONFIG_ARCH_TEGRA_238_SOC=n
CONFIG_CRYPTO_DEV_TEGRA=n
CONFIG_THUNDER_NIC_RGX=n
CONFIG_SERIAL_8250_PCI=n
CONFIG_SPARSEMEM_EXTREME=n
CONFIG_SPRD_SC9860_CLK=n
CONFIG_REGULATOR_MT6357=n
CONFIG_NET_VENDOR_EMULEX=n
CONFIG_UTS_NS=n
CONFIG_QCOM_FALKOR_ERRATUM_1003=n
CONFIG_GENERIC_BUG_RELATIVE_POINTERS=n
CONFIG_KEYBOARD_ADC=n
CONFIG_COMMON_CLK_MT8167_MMSYS=n
CONFIG_CROS_USBPD_NOTIFY=n
CONFIG_ASYNC_TX_DISABLE_PQ_VAL_DMA=n
CONFIG_ARCH_HAS_RELR=n
CONFIG_I2C_CHARDEV=n
CONFIG_TYPEC_QCOM_PMIC=n
CONFIG_CPU_PM=n
CONFIG_FANOTIFY=n
CONFIG_ARCH_USE_MEMTEST=n
CONFIG_SERIAL_8250_CONSOLE=n
CONFIG_PINCTRL_SM8350=n
CONFIG_SND_SOC_FSL_UTILS=n
CONFIG_MXC_CLK_SCU=n
CONFIG_PHY_NXP_PTN3222=n
CONFIG_DRM_RCAR_VSP=n
CONFIG_CRYPTO_LIB_SHA1=n
CONFIG_ARCH_SUPPORTS_HUGE_PFNMAP=n
CONFIG_CLK_GLYMUR_DISPCC=n
CONFIG_I2C_HID_OF=n
CONFIG_LEDS_PCA9532=n
CONFIG_CPU_IDLE_MULTIPLE_DRIVERS=n
CONFIG_SND_SOC_LPASS_PLATFORM=n
CONFIG_XPS=n
CONFIG_TI_DAVINCI_MDIO=n
CONFIG_OF_OVERLAY=n
CONFIG_IPQ_APSS_5424=n
CONFIG_SND_SOC_WSA881X=n
CONFIG_ARM_QCOM_CPUFREQ_NVMEM=n
CONFIG_SND_SOC_RZ=n
CONFIG_PINCTRL_PFC_R8A77961=n
CONFIG_ZYNQMP_FIRMWARE=n
CONFIG_NLS_ISO8859_1=n
CONFIG_REGULATOR_AXP20X=n
CONFIG_HTE=n
CONFIG_INDIRECT_PIO=n
CONFIG_ARM_TEGRA20_CPUFREQ=n
CONFIG_INPUT_AW86927=n
CONFIG_NET_HANDSHAKE=n
CONFIG_SA_GPUCC_8775P=n
CONFIG_ARCH_HIBERNATION_POSSIBLE=n
CONFIG_MTD_BLKDEVS=n
CONFIG_EXTCON_PTN5150=n
CONFIG_MVMDIO=n
CONFIG_QCOM_SCM=n
CONFIG_FREEZER=n
CONFIG_TREE_RCU=n
CONFIG_HAVE_GENERIC_VDSO=n
CONFIG_BROADCOM_PHY=n
CONFIG_SND_HDA_CODEC_HDMI_GENERIC=n
CONFIG_COMMON_CLK_AXG_AUDIO=n
CONFIG_SCSI_UFS_RENESAS=n
CONFIG_VIDEO_HANTRO_STM32MP25=n
CONFIG_FB_DMAMEM_HELPERS=n
CONFIG_MTD_CFI_INTELEXT=n
CONFIG_IPMI_HANDLER=n
CONFIG_DRM_PANEL_MANTIX_MLAF057WE51=n
CONFIG_PHY_QCOM_M31_USB=n
CONFIG_ARCH_DMA_ADDR_T_64BIT=n
CONFIG_DEBUG_MISC=n
CONFIG_SND_SOC_LPASS_HDMI=n
CONFIG_GENERIC_EARLY_IOREMAP=n
CONFIG_MTD_NAND_ECC=n
CONFIG_LOCALVERSION_AUTO=n
CONFIG_RESET_MESON_AUDIO_ARB=n
CONFIG_ARCH_HAS_SUBPAGE_FAULTS=n
CONFIG_CRYPTO_DEV_ALLWINNER=n
CONFIG_SND_SOC_RK3308=n
CONFIG_UNIPHIER_WATCHDOG=n
CONFIG_RPMSG_QCOM_GLINK=n
CONFIG_PM_GENERIC_DOMAINS_SLEEP=n
CONFIG_USB_DWC2_DUAL_ROLE=n
CONFIG_PHY_RCAR_GEN3_PCIE=n
CONFIG_HAVE_ARCH_JUMP_LABEL_RELATIVE=n
CONFIG_USB_ISP1761_UDC=n
CONFIG_ARCH_SUPPORTS_DEBUG_PAGEALLOC=n
CONFIG_ARCH_BCMBCA=n
CONFIG_CPU_FREQ_GOV_SCHEDUTIL=n
CONFIG_PINCTRL_PFC_R8A774E1=n
CONFIG_CRYPTO_CBC=n
CONFIG_ARM_CCI_PMU=n
CONFIG_SND_SOC_MAX98090=n
CONFIG_RTC_DRV_IMX_SC=n
CONFIG_NET_VENDOR_DEC=n
CONFIG_DRM_TI_SN65DSI86=n
CONFIG_BACKLIGHT_PWM=n
CONFIG_COMMON_CLK_MT8173_VENCSYS=n
CONFIG_EXPORTFS=n
CONFIG_HAVE_CMPXCHG_LOCAL=n
CONFIG_XILINX_ZYNQMP_DMA=n
CONFIG_HID_MULTITOUCH=n
CONFIG_SND_SOC_NAU8822=n
CONFIG_MMC_SDHCI_OF_ESDHC=n
CONFIG_PACKET=n
CONFIG_NET_VENDOR_MICREL=n
CONFIG_USB_ULPI_BUS=n
CONFIG_LEGACY_DIRECT_IO=n
CONFIG_GREYBUS_BEAGLEPLAY=n
CONFIG_PHY_MTK_MIPI_DSI=n
CONFIG_NVMEM_MTK_EFUSE=n
CONFIG_ARCH_SUPPORTS_PAGE_TABLE_CHECK=n
CONFIG_TEGRA210_ADMA=n
CONFIG_STRICT_KERNEL_RWX=n
CONFIG_ARCH_R8A779G0=n
CONFIG_ARM_PMU=n
CONFIG_ARM64_PA_BITS_52=n
CONFIG_MFD_HI655X_PMIC=n
CONFIG_ARM64_VA_BITS_52=n
CONFIG_CPU_MITIGATIONS=n
CONFIG_NET_VENDOR_SEEQ=n
CONFIG_PCS_RZN1_MIIC=n
CONFIG_BPF=n
CONFIG_HAVE_SYSCALL_TRACEPOINTS=n
CONFIG_SPRD_TIMER=n
CONFIG_ARCH_HAS_FORTIFY_SOURCE=n
CONFIG_COMMON_CLK_MT6795_MFGCFG=n
CONFIG_BT_HCIUART_QCA=n
CONFIG_VIRTIO_PCI_LEGACY=n
CONFIG_STACKTRACE_SUPPORT=n
CONFIG_USB_CONFIGFS_F_FS=n
CONFIG_DRM_DISPLAY_CONNECTOR=n
CONFIG_MTD_DATAFLASH=n
CONFIG_I2C_SMBUS=n
CONFIG_VIDEOBUF2_V4L2=n
CONFIG_PSTORE_COMPRESS=n
CONFIG_SND_SOC_RT5663=n
CONFIG_BT_HCIBTUSB_RTL=n
CONFIG_TI_ICSS_IEP=n
CONFIG_FB_SYSMEM_HELPERS_DEFERRED=n
CONFIG_CLK_RCAR_CPG_LIB=n
CONFIG_MTK_DEVAPC=n
CONFIG_MHI_NET=n
CONFIG_MHI_BUS_PCI_GENERIC=n
CONFIG_VIDEO_OV5645=n
CONFIG_USB_CHIPIDEA_GENERIC=n
CONFIG_COMMON_CLK_STM32MP257=n
CONFIG_DRM_IMX_DCSS=n
CONFIG_FUSE_IO_URING=n
CONFIG_FS_IOMAP=n
CONFIG_CLK_R9A09G087=n
CONFIG_HAS_IOPORT=n
CONFIG_CLK_R8A779G0=n
CONFIG_CRYPTO_LIB_SM3=n
CONFIG_MEDIATEK_WATCHDOG=n
CONFIG_GPIO_TEGRA=n
CONFIG_COMMON_CLK_MT8195_VENCSYS=n
CONFIG_SND_HDA_CODEC_HDMI_NVIDIA_MCP=n
CONFIG_HW_RANDOM_NPCM=n
CONFIG_HAVE_ARCH_TRACEHOOK=n
CONFIG_SQUASHFS=n
CONFIG_DRM_MSM_DSI_14NM_PHY=n
CONFIG_ARCH_R9A07G054=n
CONFIG_QCOM_PDR_HELPERS=n
CONFIG_POSIX_CPU_TIMERS_TASK_WORK=n
CONFIG_PINCTRL_MSM8998=n
CONFIG_ARCH_HAS_DEBUG_VIRTUAL=n
CONFIG_PCIE_CADENCE_HOST=n
CONFIG_EDAC_LAYERSCAPE=n
CONFIG_CLK_R8A77970=n
CONFIG_QCOM_IPA=n
CONFIG_SDR_PLATFORM_DRIVERS=n
CONFIG_MTK_LVTS_THERMAL=n
CONFIG_USB_F_ACM=n
CONFIG_MTD_MAP_BANK_WIDTH_1=n
CONFIG_CAN_BCM=n
CONFIG_ARCH_HAS_NON_OVERLAPPING_ADDRESS_SPACE=n
CONFIG_CC_HAS_ASM_INLINE=n
CONFIG_DRM_INNO_HDMI=n
CONFIG_DMA_SUN6I=n
CONFIG_NET_VENDOR_SIS=n
CONFIG_ASYMMETRIC_PUBLIC_KEY_SUBTYPE=n
CONFIG_WLAN=n
CONFIG_CRYPTO_LIB_SHA3=n
CONFIG_HNS_ENET=n
CONFIG_AUDIT_COMPAT_GENERIC=n
CONFIG_ARCH_HAVE_NMI_SAFE_CMPXCHG=n
CONFIG_USB_XHCI_RCAR=n
CONFIG_WLAN_VENDOR_RALINK=n
CONFIG_USB_NET_DRIVERS=n
CONFIG_CRYPTO_LIB_CHACHA_ARCH=n
CONFIG_USB_OHCI_HCD_PCI=n
CONFIG_PCC=n
CONFIG_GENERIC_IRQ_MIGRATION=n
CONFIG_ARCH_SUPPORTS_LTO_CLANG=n
CONFIG_IOMMU_IO_PGTABLE_ARMV7S=n
CONFIG_SCHED_AUTOGROUP=n
CONFIG_PINCTRL_MSM8916=n
CONFIG_ARM_SMMU=n
CONFIG_AHCI_XGENE=n
CONFIG_ZYNQMP_IPI_MBOX=n
CONFIG_MFD_STM32_TIMERS=n
CONFIG_REGULATOR_RAA215300=n
CONFIG_ARM_SCMI_CPUFREQ=n
CONFIG_DRM_ETNAVIV=n
CONFIG_COMMON_CLK_C3_PERIPHERALS=n
CONFIG_ARCH_HAS_KERNEL_FPU_SUPPORT=n
CONFIG_BCM7120_L2_IRQ=n
CONFIG_LEDS_TRIGGER_HEARTBEAT=n
CONFIG_SCSI_UFS_BSG=n
CONFIG_GPIO_MACSMC=n
CONFIG_ARCH_SUPPORTS_CFI=n
CONFIG_GENERIC_CSUM=n
CONFIG_VIDEOBUF2_CORE=n
CONFIG_HAVE_IOREMAP_PROT=n
CONFIG_ARCH_R8A774E1=n
CONFIG_SND_SOC_MT6358=n
CONFIG_SERIAL_FSL_LPUART=n
CONFIG_PCIE_ROCKCHIP_DW=n
CONFIG_PINCTRL_IMX8QM=n
CONFIG_DWMAC_STM32=n
CONFIG_PHY_MESON_AXG_PCIE=n
CONFIG_BRIDGE_NETFILTER=n
CONFIG_IIO_ST_LSM6DSX_SPI=n
CONFIG_EDAC_ZYNQMP=n
CONFIG_RESET_GPIO=n
CONFIG_HNS3_HCLGE=n
CONFIG_I2C_BRCMSTB=n
CONFIG_TIMER_IMX_SYS_CTR=n
CONFIG_INITRAMFS_PRESERVE_MTIME=n
CONFIG_SND_SOC_QDSP6_ASM_DAI=n
CONFIG_COMMON_CLK_MT8192_IPESYS=n
CONFIG_SPI_ROCKCHIP=n
CONFIG_CRYPTO_DEFLATE=n
CONFIG_RTC_HCTOSYS=n
CONFIG_GENERIC_GETTIMEOFDAY=n
CONFIG_GNSS_MTK_SERIAL=n
CONFIG_RESET_RZG2L_USBPHY_CTRL=n
CONFIG_BLK_DEV_DM_BUILTIN=n
CONFIG_PCIE_DW_EP=n
CONFIG_DRM_EXYNOS7_DECON=n
CONFIG_BATTERY_BQ27XXX=n
CONFIG_SND_SOC_X1E80100=n
CONFIG_USB_DWC3_OF_SIMPLE=n
CONFIG_COMMON_CLK_MT8188_WPESYS=n
CONFIG_PINCTRL_PFC_R8A774A1=n
CONFIG_ATA_ACPI=n
CONFIG_GENERIC_MSI_IRQ=n
CONFIG_SC_GPUCC_7280=n
CONFIG_RTD119X_WATCHDOG=n
CONFIG_XILINX_GMII2RGMII=n
CONFIG_MVPP2=n
CONFIG_COMMON_CLK_MT7981_ETHSYS=n
CONFIG_IRQ_DOMAIN=n
CONFIG_ARCH_SUPPORTS_HUGETLBFS=n
CONFIG_DMA_NONCOHERENT_MMAP=n
CONFIG_MLX4_CORE=n
CONFIG_PINCTRL_UNIPHIER_PXS3=n
CONFIG_QCM_GCC_2290=n
CONFIG_GPIO_TPIC2810=n
CONFIG_INTERCONNECT_IMX8MM=n
CONFIG_PINCTRL_SC8180X=n
CONFIG_PINCTRL_IMX=n
CONFIG_HAVE_SCHED_AVG_IRQ=n
CONFIG_PHY_MESON_G12A_USB2=n
CONFIG_CORESIGHT_STM=n
CONFIG_CHARGER_RK817=n
CONFIG_PINCTRL_IMX91=n
