CONFIG_CRYPTO_TWOFISH=y
CONFIG_IRQ_DOMAIN=y
CONFIG_SPARSEMEM=y
CONFIG_CRYPTO_AUTHENC=y
CONFIG_I2C_CADENCE=y
CONFIG_SENSORS_MCP3021=y
CONFIG_FIRMWARE_EDID=y
CONFIG_ARCH_SUPPORTS_NUMA_BALANCING=y
CONFIG_CRYPTO_DEFLATE=y
CONFIG_HAVE_ARCH_KGDB=y
CONFIG_REGULATOR_RT8092=y
CONFIG_ARCH_HAS_ELF_CORE_EFLAGS=y
CONFIG_FW_LOADER_SYSFS=y
CONFIG_AT_XDMAC=y
CONFIG_SERIAL_MAX310X=y
CONFIG_CC_HAS_KASAN_GENERIC=y
CONFIG_JOYSTICK_MAGELLAN=y
CONFIG_CRYPTO_ECB=y
CONFIG_GENERIC_IRQ_MIGRATION=y
CONFIG_KEXEC=y
CONFIG_NLS_ISO8859_5=y
CONFIG_LEDS_PCA955X=y
CONFIG_I2C_ATR=y
CONFIG_ARCH_SELECTS_KEXEC=y
CONFIG_LEDS_TRIGGER_PATTERN=y
CONFIG_AD5686=y
CONFIG_CRYPTO_ECDH=y
CONFIG_COMMON_CLK_RPMI=y
CONFIG_SECURITY_LOCKDOWN_LSM=y
CONFIG_USB_CONFIGFS_SERIAL=y
CONFIG_GPIO_AMD_FCH=y
CONFIG_REGULATOR_MC13783=y
CONFIG_FW_UPLOAD=y
CONFIG_HOTPLUG_CORE_SYNC_FULL=y
CONFIG_HIST_TRIGGERS_DEBUG=y
CONFIG_EEPROM_MAX6875=y
CONFIG_THERMAL_GOV_STEP_WISE=y
CONFIG_PSI=y
CONFIG_HWMON_DEBUG_CHIP=y
CONFIG_RT_GROUP_SCHED_DEFAULT_DISABLED=y
CONFIG_HAVE_ARCH_TRACEHOOK=y
CONFIG_IO_WQ=y
CONFIG_USB_DWC2_HOST=y
CONFIG_RTC_DRV_PCF8583=y
CONFIG_DW_DMAC_CORE=y
CONFIG_ARCH_SUPPORTS_CRASH_DUMP=y
CONFIG_HAVE_CONTEXT_TRACKING_USER=y
CONFIG_AM2315=y
CONFIG_HAVE_FUNCTION_ARG_ACCESS_API=y
CONFIG_PMBUS=y
CONFIG_MFD_RT5120=y
CONFIG_CC_HAS_ZERO_CALL_USED_REGS=y
CONFIG_GOLDFISH_TTY=y
CONFIG_RTC_DRV_NCT3018Y=y
CONFIG_PROC_PAGE_MONITOR=y
CONFIG_MFD_AT91_USART=y
CONFIG_ARCH_VIRT=y
CONFIG_PINCTRL_EIC7700=y
CONFIG_XILINX_DMA=y
CONFIG_SENSORS_STPDDC60=y
CONFIG_SENSORS_MAX127=y
CONFIG_SERIAL_UARTLITE_CONSOLE=y
CONFIG_CRYPTO_SM4=y
CONFIG_SERIAL_CORE_CONSOLE=y
CONFIG_THERMAL_HWMON=y
CONFIG_SENSORS_TSC1641=y
CONFIG_DNOTIFY=y
CONFIG_MFD_RT5033=y
CONFIG_FXAS21002C_I2C=y
CONFIG_AD7606_IFACE_PARALLEL=y
CONFIG_PAGE_POISONING=y
CONFIG_GPIO_GRGPIO=y
CONFIG_SENSORS_LTC4286=y
CONFIG_PINCTRL_CS42L43=y
CONFIG_GENERIC_ALLOCATOR=y
CONFIG_CC_HAS_NO_PROFILE_FN_ATTR=y
CONFIG_RTC_DRV_MSM6242=y
CONFIG_USB=y
CONFIG_I2C_OCORES=y
CONFIG_MFD_RN5T618=y
CONFIG_AS_IS_GNU=y
CONFIG_GENERIC_ARCH_TOPOLOGY=y
CONFIG_REGULATOR_TPS65219=y
CONFIG_ARCH_USE_MEMTEST=y
CONFIG_HAVE_MOVE_PMD=y
CONFIG_MAX517=y
CONFIG_JOYSTICK_IFORCE_USB=y
CONFIG_NLS_CODEPAGE_775=y
CONFIG_CHARGER_BQ25890=y
CONFIG_ARCH_SUPPORTS_LTO_CLANG_THIN=y
CONFIG_CC_NO_ARRAY_BOUNDS=y
CONFIG_LEDS_BCM6358=y
CONFIG_GOLDFISH_PIPE=y
CONFIG_CRYPTO_DEV_ATMEL_I2C=y
CONFIG_DAMON_VADDR=y
CONFIG_BINARY_PRINTF=y
CONFIG_MAG3110=y
CONFIG_W1_SLAVE_DS2405=y
CONFIG_MFD_VIPERBOARD=y
CONFIG_VFAT_FS=y
CONFIG_FUTEX=y
CONFIG_CRYPTO_AEAD2=y
CONFIG_TSYS01=y
CONFIG_UNINLINE_SPIN_UNLOCK=y
CONFIG_GENERIC_IRQ_MATRIX_ALLOCATOR=y
CONFIG_RESET_TI_TPS380X=y
CONFIG_RISCV_ISA_VENDOR_EXT_THEAD=y
CONFIG_KSM=y
CONFIG_GENERIC_IRQ_SHOW=y
CONFIG_TYPEC_MUX_WCD939X_USBSS=y
CONFIG_HAVE_IOREMAP_PROT=y
CONFIG_RTC_DRV_DS1672=y
CONFIG_BMA220_I2C=y
CONFIG_RTC_DRV_DS1307=y
CONFIG_XILLYBUS_CLASS=y
CONFIG_SYSCTL_EXCEPTION_TRACE=y
CONFIG_RISCV_RPMI_SYSMSI=y
CONFIG_HMC6352=y
CONFIG_CC_HAS_ASM_INLINE=y
CONFIG_CRYPTO_LIB_POLY1305_GENERIC=y
CONFIG_USB_DUMMY_HCD=y
CONFIG_HAVE_GUP_FAST=y
CONFIG_SENSORS_XDP710=y
CONFIG_SLUB=y
CONFIG_PROBE_EVENTS=y
CONFIG_SUN_PARTITION=y
CONFIG_DEBUG_BUGVERBOSE=y
CONFIG_CRYPTO_ESSIV=y
CONFIG_IOSCHED_BFQ=y
CONFIG_SERIO_PARKBD=y
CONFIG_TI_ADS1015=y
CONFIG_QCOM_SPMI_VADC=y
CONFIG_SENSORS_MAX20730=y
CONFIG_RTC_DEBUG=y
CONFIG_SCHED_AUTOGROUP=y
CONFIG_BOOTTIME_TRACING=y
CONFIG_DEBUG_WX=y
CONFIG_SI7020=y
CONFIG_GENERIC_ADC_THERMAL=y
CONFIG_NOP_TRACER=y
CONFIG_MSA311=y
CONFIG_JBD2=y
CONFIG_MFD_CS47L15=y
CONFIG_RTC_DRV_ABEOZ9=y
CONFIG_NVMEM_LAYOUTS=y
CONFIG_SRF04=y
CONFIG_FXOS8700_I2C=y
CONFIG_ULTRIX_PARTITION=y
CONFIG_COMEDI_MISC_DRIVERS=y
CONFIG_REGULATOR_FAN53555=y
CONFIG_SECURITY_DMESG_RESTRICT=y
CONFIG_UCS2_STRING=y
CONFIG_SPARSEMEM_MANUAL=y
CONFIG_CONSOLE_TRANSLATIONS=y
CONFIG_MFD_SMPRO=y
CONFIG_NO_HZ_COMMON=y
CONFIG_IOMMU_DEFAULT_DMA_STRICT=y
CONFIG_OF_GPIO=y
CONFIG_SENSORS_MP5920=y
CONFIG_SENSORS_AHT10=y
CONFIG_HAVE_ARCH_SECCOMP_FILTER=y
CONFIG_TI_ADS7138=y
CONFIG_RANDOMIZE_KSTACK_OFFSET=y
CONFIG_THERMAL_GOV_BANG_BANG=y
CONFIG_EVENT_TRACING=y
CONFIG_SENSORS_LTC2992=y
CONFIG_SENSORS_LM93=y
CONFIG_STACKTRACE=y
CONFIG_TOOLS_SUPPORT_RELR=y
CONFIG_MFD_MAX77686=y
CONFIG_LEDS_NCP5623=y
CONFIG_MHZ19B=y
CONFIG_SG_POOL=y
CONFIG_MOST_CDEV=y
CONFIG_EXTCON_USB_GPIO=y
CONFIG_REMOTEPROC=y
CONFIG_RESET_ATTACK_MITIGATION=y
CONFIG_HAS_IOPORT=y
CONFIG_SENSORS_LTC2990=y
CONFIG_IIO_MUX=y
CONFIG_SM_FTL=y
CONFIG_EXTCON_MAX14526=y
CONFIG_RTC_DRV_DS3232=y
CONFIG_EXTCON=y
CONFIG_NAMESPACES=y
CONFIG_REGULATOR_SGM3804=y
CONFIG_TRACE_GPU_MEM=y
CONFIG_SENSORS_FSP_3Y=y
CONFIG_HAVE_DMA_CONTIGUOUS=y
CONFIG_RING_BUFFER_ALLOW_SWAP=y
CONFIG_MFD_STMFX=y
CONFIG_NLS_CODEPAGE_865=y
CONFIG_HSC030PA=y
CONFIG_AD3552R_HS=y
CONFIG_TI_ADS7924=y
CONFIG_SENSORS_ATXP1=y
CONFIG_REED_SOLOMON_DEC16=y
CONFIG_TYPEC_MUX_IT5205=y
CONFIG_VL6180=y
CONFIG_JOYSTICK_GRIP=y
CONFIG_SERIO=y
CONFIG_TYPEC=y
CONFIG_ZISOFS=y
CONFIG_LEDS_ST1202=y
CONFIG_HARDENED_USERCOPY=y
CONFIG_XFS_DEBUG=y
CONFIG_SPLIT_PTE_PTLOCKS=y
CONFIG_SYSFS=y
CONFIG_PINCTRL_MADERA=y
CONFIG_PWM_FSL_FTM=y
CONFIG_REGULATOR_MP886X=y
CONFIG_OF_EARLY_FLATTREE=y
CONFIG_USB_GR_UDC=y
CONFIG_SENSORS_MR75203=y
CONFIG_SERIAL_8250_DFL=y
CONFIG_CRYPTO_ENGINE=y
CONFIG_CRYPTO_LIB_SM3=y
CONFIG_REGULATOR_SY8106A=y
CONFIG_MFD_MAX7360=y
CONFIG_BIG_KEYS=y
CONFIG_HAVE_KERNEL_GZIP=y
CONFIG_MAX30100=y
CONFIG_SENSORS_LINEAGE=y
CONFIG_USB_HUB_USB251XB=y
CONFIG_BLK_DEBUG_FS=y
CONFIG_MCHP_SBI_IPC_MBOX=y
CONFIG_XZ_DEC_SPARC=y
CONFIG_ST_UVIS25_I2C=y
CONFIG_TI_TMAG5273=y
CONFIG_REGULATOR_MT6331=y
CONFIG_RMI4_CORE=y
CONFIG_SENSORS_AD7418=y
CONFIG_I2C_VIRTIO=y
CONFIG_GOOGLE_FIRMWARE=y
CONFIG_DEV_COREDUMP=y
CONFIG_PINCTRL_MCP23S08=y
CONFIG_REGULATOR_MAX5970=y
CONFIG_MTD_NAND_CADENCE=y
CONFIG_MCHP_CLK_MPFS=y
CONFIG_CRYPTO_CHACHA20POLY1305=y
CONFIG_GPIO_PCA9570=y
CONFIG_SENSORS_Q54SJ108A2=y
CONFIG_SENSORS_PC87427=y
CONFIG_BPF_LSM=y
CONFIG_REGULATOR_MT6359=y
CONFIG_UIO=y
CONFIG_MTD_RAW_NAND=y
CONFIG_LIBFDT=y
CONFIG_SENSORS_STTS751=y
CONFIG_REGULATOR_LP872X=y
CONFIG_UDF_FS=y
CONFIG_TRACE_EVENT_INJECT=y
CONFIG_HAVE_PAGE_SIZE_4KB=y
CONFIG_COMEDI_USBDUXFAST=y
CONFIG_AD5593R=y
CONFIG_FPGA_REGION=y
CONFIG_GPIO_GENERIC=y
CONFIG_MFD_QNAP_MCU=y
CONFIG_MFD_RK8XX=y
CONFIG_TYPEC_RT1719=y
CONFIG_TREE_SRCU=y
CONFIG_DAMON=y
CONFIG_JBD2_DEBUG=y
CONFIG_TRACE_REMOTE_TEST=y
CONFIG_POWER_RESET_GPIO=y
CONFIG_SX9360=y
CONFIG_CRYPTO_RNG=y
CONFIG_MOST=y
CONFIG_XFS_POSIX_ACL=y
CONFIG_MFD_AXP20X_I2C=y
CONFIG_CHARGER_MAX77693=y
CONFIG_TIMER_OF=y
CONFIG_JOYSTICK_SPACEBALL=y
CONFIG_SENSORS_ADM1266=y
CONFIG_USB_XHCI_PLATFORM=y
CONFIG_SERIAL_XILINX_PS_UART_CONSOLE=y
CONFIG_PWM_PXA=y
CONFIG_RTC_INTF_PROC=y
CONFIG_DPOT_DAC=y
CONFIG_DS4424=y
CONFIG_ARCH_CANAAN=y
CONFIG_RC_ATI_REMOTE=y
CONFIG_THREAD_INFO_IN_TASK=y
CONFIG_REGULATOR_RTQ6752=y
CONFIG_INV_MPU6050_I2C=y
CONFIG_FSL_EDMA=y
CONFIG_MTD_NAND_ARASAN=y
CONFIG_REGULATOR_MCP16502=y
CONFIG_SENSORS_MAX15301=y
CONFIG_MTD_QINFO_PROBE=y
CONFIG_SERIAL_ALTERA_JTAGUART_CONSOLE=y
CONFIG_SERIAL_ALTERA_JTAGUART=y
CONFIG_XFS_SUPPORT_ASCII_CI=y
CONFIG_EXTCON_MAX3355=y
CONFIG_FUTEX_PRIVATE_HASH=y
CONFIG_SENSORS_XDPE152=y
CONFIG_HAVE_ARCH_RANDOMIZE_KSTACK_OFFSET=y
CONFIG_GPIOLIB_IRQCHIP=y
CONFIG_EXTCON_RT8973A=y
CONFIG_RISCV_PMU_SBI=y
CONFIG_SIMPLE_RING_BUFFER=y
CONFIG_CHARGER_GPIO=y
CONFIG_JOYSTICK_A3D=y
CONFIG_REGULATOR_TPS62360=y
CONFIG_GENERIC_MSI_IRQ=y
CONFIG_SENSORS_GL518SM=y
CONFIG_PHY_EIC7700_SATA=y
CONFIG_RISCV_ISA_ZICBOP=y
CONFIG_RMI4_I2C=y
CONFIG_ARCH_HAS_PMEM_API=y
CONFIG_HAVE_ASM_MODVERSIONS=y
CONFIG_DUMMY_CONSOLE=y
CONFIG_RC_DEVICES=y
CONFIG_HAVE_ARCH_KGDB_QXFER_PKT=y
CONFIG_XFS_SUPPORT_V4=y
CONFIG_RTC_DRV_DS1742=y
CONFIG_REGULATOR_ISL9305=y
CONFIG_HAVE_POSIX_CPU_TIMERS_TASK_WORK=y
CONFIG_USB_G_SERIAL=y
CONFIG_GENERIC_PHY_MIPI_DPHY=y
CONFIG_RTC_DRV_DS1374=y
CONFIG_SOCK_CGROUP_DATA=y
CONFIG_REGULATOR_RTMV20=y
CONFIG_SENSORS_ADP1050_REGULATOR=y
CONFIG_EEPROM_93CX6=y
CONFIG_PREEMPT_BUILD=y
CONFIG_REGULATOR_PV88080=y
CONFIG_MCP4018=y
CONFIG_COMPAT_BRK=y
CONFIG_ARCH_HAS_GIGANTIC_PAGE=y
CONFIG_COMEDI_USBDUXSIGMA=y
CONFIG_NEED_PER_CPU_EMBED_FIRST_CHUNK=y
CONFIG_USB_CDNS3_HOST=y
CONFIG_RESET_K230=y
CONFIG_I2C=y
CONFIG_HOTPLUG_CORE_SYNC=y
CONFIG_NVMEM_REBOOT_MODE=y
CONFIG_CRYPTO_HASH_INFO=y
CONFIG_OF_IRQ=y
CONFIG_ROHM_BU27034=y
CONFIG_MEDIA_CEC_SUPPORT=y
CONFIG_CM3323=y
CONFIG_SENSORS_W83L786NG=y
CONFIG_I2C_PARPORT=y
CONFIG_CRYPTO_DRBG=y
CONFIG_REGULATOR_FAN53880=y
CONFIG_ARCH_USE_QUEUED_RWLOCKS=y
CONFIG_IOMMU_API=y
CONFIG_W1_SLAVE_THERM=y
CONFIG_MTD_BLOCK=y
CONFIG_MFD_TPS6594=y
CONFIG_FS_IOMAP=y
CONFIG_IIO_GTS_HELPER=y
CONFIG_SRF08=y
CONFIG_AD5380=y
CONFIG_RD_XZ=y
CONFIG_COMEDI_TESTS_NI_ROUTES=y
CONFIG_ARCH_HAS_FORTIFY_SOURCE=y
CONFIG_QCOM_HIDMA_MGMT=y
CONFIG_MFD_SIMPLE_MFD_I2C=y
CONFIG_SENSORS_ISL29018=y
CONFIG_FPGA=y
CONFIG_MTD_OTP=y
CONFIG_EEPROM_M24LR=y
CONFIG_MFD_HI6421_PMIC=y
CONFIG_FUEL_GAUGE_MM8013=y
CONFIG_SENSORS_IR38064_REGULATOR=y
CONFIG_I2C_AT91_SLAVE_EXPERIMENTAL=y
CONFIG_MHI_BUS=y
CONFIG_BMI270_I2C=y
CONFIG_SENSORS_DME1737=y
CONFIG_MFD_NTXEC=y
CONFIG_OF_NUMA=y
CONFIG_SENSORS_D1U74T=y
CONFIG_SERIO_GPIO_PS2=y
CONFIG_IR_XMP_DECODER=y
CONFIG_RTC_DRV_RS5C372=y
CONFIG_REGULATOR_PFUZE100=y
CONFIG_RTC_DRV_DS1511=y
CONFIG_TCS3472=y
CONFIG_MTD_NAND_DISKONCHIP_BBTWRITE=y
CONFIG_CM3605=y
CONFIG_REGULATOR_RN5T618=y
CONFIG_POWER_RESET_TPS65086=y
CONFIG_HSI_BOARDINFO=y
CONFIG_PARTITION_ADVANCED=y
CONFIG_LEDS_LP8864=y
CONFIG_TRACING_MAP=y
CONFIG_GPIO_DWAPB=y
CONFIG_QCOM_SPMI_ADC5_GEN3=y
CONFIG_TIME_NS=y
CONFIG_MTD_PHYSMAP=y
CONFIG_RD_BZIP2=y
CONFIG_SENSORS_ISL29028=y
CONFIG_VCPU_STALL_DETECTOR=y
CONFIG_APPLE_MFI_FASTCHARGE=y
CONFIG_USE_PERCPU_NUMA_NODE_ID=y
CONFIG_USB_SNP_CORE=y
CONFIG_BATTERY_CHAGALL=y
CONFIG_SPMI=y
CONFIG_PWM_PROVIDE_GPIO=y
CONFIG_PREEMPT=y
CONFIG_ALS31300=y
CONFIG_USER_DECRYPTED_DATA=y
CONFIG_LEDS_LT3593=y
CONFIG_NTSYNC=y
CONFIG_CRYPTO_CTS=y
CONFIG_RTC_DRV_ISL12026=y
CONFIG_CRYPTO_LIB_UTILS=y
CONFIG_ST_UVIS25=y
CONFIG_DAMON_STAT=y
CONFIG_BLK_DEV_NULL_BLK=y
CONFIG_RPMSG=y
CONFIG_SENSORS_PMBUS=y
CONFIG_NUMA_MIGRATION=y
CONFIG_TYPEC_MUX_PS883X=y
CONFIG_MTD_MTDRAM=y
CONFIG_MFD_TPS65219=y
CONFIG_AOSONG_AGS02MA=y
CONFIG_AD7746=y
CONFIG_NUMA_MEMBLKS=y
CONFIG_PROC_FS=y
CONFIG_LEDS_BCM6328=y
CONFIG_MFD_SPACEMIT_P1=y
CONFIG_BACKLIGHT_ARCXCNN=y
CONFIG_USB_TRANCEVIBRATOR=y
CONFIG_842_DECOMPRESS=y
CONFIG_POSIX_CPU_TIMERS_TASK_WORK=y
CONFIG_RANDOMIZE_KSTACK_OFFSET_DEFAULT=y
CONFIG_ARCH_SUSPEND_POSSIBLE=y
CONFIG_CRYPTO_LIB_MD5=y
CONFIG_SMPRO_ERRMON=y
CONFIG_DAMON_PADDR=y
CONFIG_STACKPROTECTOR=y
CONFIG_USB_GADGET_TARGET=y
CONFIG_XZ_DEC_ARM64=y
CONFIG_POWER_RESET_SYSCON=y
CONFIG_CHARGER_ADP5061=y
CONFIG_SENSORS_RM3100_I2C=y
CONFIG_CRYPTO_SHA1=y
CONFIG_GREYBUS_ES2=y
CONFIG_RTC_DRV_DS1286=y
CONFIG_PWM_ATMEL_TCB=y
CONFIG_LZ4HC_COMPRESS=y
CONFIG_EFI_STUB=y
CONFIG_LOCK_DOWN_KERNEL_FORCE_CONFIDENTIALITY=y
CONFIG_HAVE_ARCH_SECCOMP=y
CONFIG_SERIO_SERPORT=y
CONFIG_REGULATOR_ISL6271A=y
CONFIG_OF_OVERLAY=y
CONFIG_SENSORS_SMPRO=y
CONFIG_ARCH_RV32I=y
CONFIG_COMMON_CLK_VC3=y
CONFIG_JOYSTICK_JOYDUMP=y
CONFIG_XFS_ONLINE_REPAIR=y
CONFIG_RTC_DRV_S35390A=y
CONFIG_RISCV_ISA_VENDOR_EXT=y
CONFIG_SENSORS_ADM9240=y
CONFIG_PINCTRL_CS47L92=y
CONFIG_ZLIB_INFLATE=y
CONFIG_I2C_TINY_USB=y
CONFIG_TAHVO_USB=y
CONFIG_MFD_WM8994=y
CONFIG_SENSORS_SBTSI=y
CONFIG_MPILIB=y
CONFIG_AD5592R_BASE=y
CONFIG_HOTPLUG_PARALLEL=y
CONFIG_CM36651=y
CONFIG_LINEAR_RANGES=y
CONFIG_MFD_CS47L85=y
CONFIG_XZ_DEC_RISCV=y
CONFIG_IIO_CONFIGFS=y
CONFIG_OF_DYNAMIC=y
CONFIG_ASYMMETRIC_PUBLIC_KEY_SUBTYPE=y
CONFIG_CRYPTO_SM3=y
CONFIG_CRC64=y
CONFIG_HAVE_PREEMPT_DYNAMIC=y
CONFIG_ZSMALLOC_STAT=y
CONFIG_SENSORS_MPQ7932_REGULATOR=y
CONFIG_VHOST_CROSS_ENDIAN_LEGACY=y
CONFIG_ARCH_MICROCHIP=y
CONFIG_LEDS_MC13783=y
CONFIG_JOYSTICK_PXRC=y
CONFIG_A11Y_BRAILLE_CONSOLE=y
CONFIG_PERCPU_STATS=y
CONFIG_MFD_BCM590XX=y
CONFIG_W1_MASTER_GPIO=y
CONFIG_F2FS_FS_COMPRESSION=y
CONFIG_BLK_DEV_INITRD=y
CONFIG_CRC7=y
CONFIG_CRYPTO_BLOWFISH=y
CONFIG_NLS_ISO8859_7=y
CONFIG_IIO_ST_SENSORS_I2C=y
CONFIG_DUMMY_IRQ=y
CONFIG_CGROUPS=y
CONFIG_MPL115=y
CONFIG_LEDS_TRIGGER_MTD=y
CONFIG_EXPORTFS=y
CONFIG_BMA180=y
CONFIG_CRYPTO_MD5=y
