CONFIG_CRC16=y
CONFIG_HAVE_ARCH_KASAN_SW_TAGS=y
CONFIG_GENERIC_TRACER=y
CONFIG_MFD_MT6370=y
CONFIG_ARCH_MVEBU=y
CONFIG_ARM_SCMI_POWER_DOMAIN=y
CONFIG_BCM_NS_THERMAL=y
CONFIG_REGULATOR_RT5133=y
CONFIG_SENSORS_LTC2947_I2C=y
CONFIG_IR_IMON_DECODER=y
CONFIG_JUMP_LABEL=y
CONFIG_REGULATOR_RT5120=y
CONFIG_USB_SEVSEG=y
CONFIG_GENERIC_IRQ_SHOW=y
CONFIG_BACKLIGHT_DA903X=y
CONFIG_CROS_EC_DEBUGFS=y
CONFIG_COMMON_CLK_HI6220=y
CONFIG_NVME_TARGET_AUTH=y
CONFIG_MSEAL_SYSTEM_MAPPINGS=y
CONFIG_ARM64_ERRATUM_3194386=y
CONFIG_ATARI_PARTITION=y
CONFIG_HAVE_RUST=y
CONFIG_ARCH_DEFAULT_CRASH_DUMP=y
CONFIG_KVM_GENERIC_HARDWARE_ENABLING=y
CONFIG_COMMON_CLK_MESON_VCLK=y
CONFIG_CLK_INTEL_SOCFPGA64=y
CONFIG_CRC_OPTIMIZATIONS=y
CONFIG_BITREVERSE=y
CONFIG_PTDUMP=y
CONFIG_REGULATOR_ATC260X=y
CONFIG_XFS_RT=y
CONFIG_NLS=y
CONFIG_PINCTRL_SUN8I_A83T=y
CONFIG_W1=y
CONFIG_REGULATOR_S2DOS05=y
CONFIG_HWMON_DEBUG_CHIP=y
CONFIG_BACKLIGHT_MAX25014=y
CONFIG_EXYNOS_USI=y
CONFIG_MFD_TPS65086=y
CONFIG_LEDS_DA9052=y
CONFIG_STM_PROTO_SYS_T=y
CONFIG_ARCH_INTEL_SOCFPGA=y
CONFIG_GPIO_CROS_EC=y
CONFIG_BACKLIGHT_WM831X=y
CONFIG_MTD_UBI_GLUEBI=y
CONFIG_REED_SOLOMON_DEC16=y
CONFIG_TRACE_REMOTE=y
CONFIG_MFD_CS42L43_I2C=y
CONFIG_SUNXI_NMI_INTC=y
CONFIG_REGULATOR_MAX77541=y
CONFIG_ARCH_BCM=y
CONFIG_ACCESSIBILITY=y
CONFIG_USB_SERIAL_OTI6858=y
CONFIG_ARM64_ERRATUM_1165522=y
CONFIG_RMI4_2D_SENSOR=y
CONFIG_ARCH_WANT_LD_ORPHAN_WARN=y
CONFIG_NLS_CODEPAGE_1251=y
CONFIG_COMEDI_TEST=y
CONFIG_PM_SLEEP_SMP=y
CONFIG_NEED_PER_CPU_PAGE_FIRST_CHUNK=y
CONFIG_BSD_PROCESS_ACCT=y
CONFIG_CC_HAS_KASAN_GENERIC=y
CONFIG_SOCK_CGROUP_DATA=y
CONFIG_HAS_IOPORT=y
CONFIG_VFIO_CONTAINER=y
CONFIG_HEADERS_INSTALL=y
CONFIG_SERIAL_NONSTANDARD=y
CONFIG_PANEL_CHANGE_MESSAGE=y
CONFIG_TOUCHSCREEN_CYTTSP5=y
CONFIG_I2C_SMBUS=y
CONFIG_ARCH_ENABLE_HUGEPAGE_MIGRATION=y
CONFIG_LEDS_LM3533=y
CONFIG_SENSORS_VT1211=y
CONFIG_LOCKDEP_SUPPORT=y
CONFIG_FTL=y
CONFIG_FPROBE=y
CONFIG_TOUCHSCREEN_ADS7846=y
CONFIG_TOUCHSCREEN_AD7879=y
CONFIG_I2C_CHARDEV=y
CONFIG_IRQ_MSI_LIB=y
CONFIG_BACKLIGHT_CLASS_DEVICE=y
CONFIG_HAVE_BUILDTIME_MCOUNT_SORT=y
CONFIG_LEDS_IS31FL319X=y
CONFIG_SUNXI_MBUS=y
CONFIG_SPI_NPCM_PSPI=y
CONFIG_REGMAP_I2C=y
CONFIG_GENERIC_PINCTRL_GROUPS=y
CONFIG_SENSORS_MAX31722=y
CONFIG_CLK_BCM2835=y
CONFIG_UIO=y
CONFIG_EXTCON_PALMAS=y
CONFIG_NLS_CODEPAGE_1250=y
CONFIG_CORESIGHT=y
CONFIG_NVMEM_SPMI_SDAM=y
CONFIG_MFD_SMPRO=y
CONFIG_BATTERY_CW2015=y
CONFIG_OF_ADDRESS=y
CONFIG_CORESIGHT_SOURCE_ETM4X=y
CONFIG_ARCH_HAVE_ELF_PROT=y
CONFIG_COMEDI_MISC_DRIVERS=y
CONFIG_XEN_PRIVCMD_EVENTFD=y
CONFIG_GPIO_SPRD=y
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO_BARE=y
CONFIG_SOCIONEXT_SYNQUACER_PREITS=y
CONFIG_I2C_MESON=y
CONFIG_XEN_VIRTIO_FORCE_GRANT=y
CONFIG_USB_TEST=y
CONFIG_REGULATOR_PF9453=y
CONFIG_SPI_PL022=y
CONFIG_CRYPTO_SHA1=y
CONFIG_GENERIC_CPU_VULNERABILITIES=y
CONFIG_GENERIC_STRNCPY_FROM_USER=y
CONFIG_VFIO_PLATFORM_CALXEDAXGMAC_RESET=y
CONFIG_REGULATOR_MAX77503=y
CONFIG_MESON_CANVAS=y
CONFIG_TASKS_RUDE_RCU=y
CONFIG_COMMON_CLK_MESON_MPLL=y
CONFIG_PHY_CADENCE_TORRENT=y
CONFIG_CRYPTO_DRBG=y
CONFIG_USER_STACKTRACE_SUPPORT=y
CONFIG_ARCH_WANTS_NO_INSTR=y
CONFIG_TRACER_MAX_TRACE=y
CONFIG_TTY=y
CONFIG_KVFREE_RCU_BATCHED=y
CONFIG_CRYPTO_RNG=y
CONFIG_SENSORS_SPD5118_DETECT=y
CONFIG_REGULATOR=y
CONFIG_COMEDI_CB_DAS16_CS=y
CONFIG_EPOLL=y
CONFIG_PINCTRL_EXYNOS=y
CONFIG_MULTIUSER=y
CONFIG_TOUCHSCREEN_GOODIX_BERLIN_I2C=y
CONFIG_ARM64_PA_BITS_52=y
CONFIG_GPIOLIB_IRQCHIP=y
CONFIG_MTD_SPI_NOR=y
CONFIG_GPIB_LPVO=y
CONFIG_DYNAMIC_FTRACE_WITH_CALL_OPS=y
CONFIG_SPI_MICROCHIP_CORE_QSPI=y
CONFIG_SLAB_MERGE_DEFAULT=y
CONFIG_TOUCHSCREEN_INEXIO=y
CONFIG_MFD_WM5102=y
CONFIG_CRYPTO_GCM=y
CONFIG_COMEDI=y
CONFIG_CHARGER_SMB347=y
CONFIG_I2C_BCM2835=y
CONFIG_FTRACE=y
CONFIG_GPIO_UNIPHIER=y
CONFIG_VIRT_CPU_ACCOUNTING_GEN=y
CONFIG_FHANDLE=y
CONFIG_CLK_SOPHGO_SG2044_PLL=y
CONFIG_TOUCHSCREEN_STMFTS=y
CONFIG_MESON_GX_SOCINFO=y
CONFIG_SPARSEMEM=y
CONFIG_MTD_ABSENT=y
CONFIG_FSI_MASTER_I2CR=y
CONFIG_HD44780_COMMON=y
CONFIG_REGULATOR_BD71815=y
CONFIG_ARM_GIC_V5=y
CONFIG_SENSORS_W83L785TS=y
CONFIG_FW_LOADER=y
CONFIG_RANDSTRUCT_NONE=y
CONFIG_REGULATOR_MAX20086=y
CONFIG_STACKPROTECTOR_STRONG=y
CONFIG_CHARGER_BQ24735=y
CONFIG_XFS_ONLINE_SCRUB=y
CONFIG_CONTEXT_SWITCH_TRACER=y
CONFIG_ARCH_BCM_IPROC=y
CONFIG_CC_HAS_ZERO_CALL_USED_REGS=y
CONFIG_LEDS_TRIGGERS=y
CONFIG_HAVE_ARCH_VMAP_STACK=y
CONFIG_FSI_NEW_DEV_NODE=y
CONFIG_VIRT_XFER_TO_GUEST_WORK=y
CONFIG_USB_SUPPORT=y
CONFIG_IRQ_DOMAIN_HIERARCHY=y
CONFIG_USB_EHCI_ROOT_HUB_TT=y
CONFIG_ETM4X_IMPDEF_FEATURE=y
CONFIG_MTD_NAND_HISI504=y
CONFIG_RING_BUFFER=y
CONFIG_ARM64_ERRATUM_834220=y
CONFIG_CHARGER_GPIO=y
CONFIG_NTFS_FS=y
CONFIG_SMPRO_MISC=y
CONFIG_PHY_SUN4I_USB=y
CONFIG_REGULATOR_UNIPHIER=y
CONFIG_ARCH_WANT_FRAME_POINTERS=y
CONFIG_MFD_TPS6594_I2C=y
CONFIG_IR_JVC_DECODER=y
CONFIG_CORESIGHT_SINK_TPIU=y
CONFIG_PCCARD=y
CONFIG_SUN55I_A523_MCU_CCU=y
CONFIG_ARM64_ERRATUM_832075=y
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_ARGS=y
CONFIG_SENSORS_ADM1029=y
CONFIG_BCM2712_MIP=y
CONFIG_MFD_WM8994=y
CONFIG_CRYPTO_CTR=y
CONFIG_DEVTMPFS=y
CONFIG_VFIO_PLATFORM=y
CONFIG_FW_UPLOAD=y
CONFIG_GAMEPORT=y
CONFIG_REGULATOR_PF1550=y
CONFIG_ARCH_STACKWALK=y
CONFIG_LD_IS_BFD=y
CONFIG_ARM64_WORKAROUND_SPECULATIVE_UNPRIV_LOAD=y
CONFIG_ARCH_HAS_PTE_SPECIAL=y
CONFIG_HAVE_CMPXCHG_LOCAL=y
CONFIG_CROS_EC_PROTO=y
CONFIG_I2C_GPIO_FAULT_INJECTOR=y
CONFIG_REGULATOR_ROHM=y
CONFIG_I2C_MUX_MULE=y
CONFIG_ARCH_HAS_PTDUMP=y
CONFIG_TOUCHSCREEN_HIMAX_HX852X=y
CONFIG_I2C_NPCM=y
CONFIG_PINCTRL_ARMADA_37XX=y
CONFIG_PINCTRL_BCM2712=y
CONFIG_XZ_DEC_ARM64=y
CONFIG_REGULATOR_STPMIC1=y
CONFIG_CRYPTO_GENIV=y
CONFIG_BRCMSTB_L2_IRQ=y
CONFIG_PHY_MVEBU_CP110_COMPHY=y
CONFIG_LEDS_SYSCON=y
CONFIG_REGMAP_SPMI=y
CONFIG_VIRTIO_MMIO=y
CONFIG_LEDS_DAC124S085=y
CONFIG_RSEQ=y
CONFIG_SENSORS_MCP9982=y
CONFIG_GPIO_PCF857X=y
CONFIG_USB_SERIAL_WISHBONE=y
CONFIG_ARM_SMCCC_SOC_ID=y
CONFIG_I2C_HIX5HD2=y
CONFIG_PHY_PXA_USB=y
CONFIG_COMMON_CLK_PALMAS=y
CONFIG_TMPFS=y
CONFIG_W1_SLAVE_DS2780=y
CONFIG_ARCH_USE_GNU_PROPERTY=y
CONFIG_SPI_LM70_LLP=y
CONFIG_CRYPTO_TWOFISH=y
CONFIG_SSB_POSSIBLE=y
CONFIG_PECI_CPU=y
CONFIG_MTD_ONENAND_GENERIC=y
CONFIG_USB_SERIAL_WWAN=y
CONFIG_EVENTFD=y
CONFIG_MEMCG=y
CONFIG_REGULATOR_WM831X=y
CONFIG_CAVIUM_ERRATUM_27456=y
CONFIG_DEVPORT=y
CONFIG_MUTEX_SPIN_ON_OWNER=y
CONFIG_MFD_ROHM_BD71828=y
CONFIG_SPI_MESON_SPICC=y
CONFIG_HOTPLUG_CORE_SYNC=y
CONFIG_ENCRYPTED_KEYS=y
CONFIG_LEDS_TPS6105X=y
CONFIG_FUNCTION_TRACER=y
CONFIG_ARM_CCN=y
CONFIG_QUEUED_RWLOCKS=y
CONFIG_CACHEMAINT_FOR_HOTPLUG=y
CONFIG_PINCTRL_CY8C95X0=y
CONFIG_ARCH_PROC_KCORE_TEXT=y
CONFIG_FUNCTION_ALIGNMENT_4B=y
CONFIG_PINCTRL_AS3722=y
CONFIG_MTD_UBI=y
CONFIG_IPMI_KCS_BMC_CDEV_IPMI=y
CONFIG_ARCH_SUPPORTS_LTO_CLANG=y
CONFIG_CMDLINE_PARTITION=y
CONFIG_USB_SERIAL_CP210X=y
CONFIG_GPIO_MAX77759=y
CONFIG_I2C_EMEV2=y
CONFIG_ARCH_HAS_GCOV_PROFILE_ALL=y
CONFIG_USB_MAX3421_HCD=y
CONFIG_EEPROM_AT24=y
CONFIG_HAVE_HW_BREAKPOINT=y
CONFIG_CORESIGHT_CTCU=y
CONFIG_CHARLCD=y
CONFIG_ARCH_WANT_DEFAULT_BPF_JIT=y
CONFIG_NVME_AUTH=y
CONFIG_SUN_PARTITION=y
CONFIG_IR_IMON=y
CONFIG_BLK_PM=y
CONFIG_SCHED_INFO=y
CONFIG_HW_RANDOM_VIRTIO=y
CONFIG_PREEMPTIRQ_TRACEPOINTS=y
CONFIG_RING_BUFFER_BENCHMARK=y
CONFIG_COMMON_CLK_MESON_PLL=y
CONFIG_KEXEC_SIG=y
CONFIG_MFD_MAX77705=y
CONFIG_COMEDI_TESTS=y
CONFIG_GPIO_ARIZONA=y
CONFIG_VFIO_PLATFORM_AMDXGBE_RESET=y
CONFIG_COMEDI_NI_LABPC=y
CONFIG_VIRTIO_MMIO_CMDLINE_DEVICES=y
CONFIG_USB_CHIPIDEA=y
CONFIG_MFD_HI6421_PMIC=y
CONFIG_TPS6105X=y
CONFIG_NLS_CODEPAGE_863=y
CONFIG_SOPHGO_CV1800_RTCSYS=y
CONFIG_MTD_REDBOOT_PARTS_READONLY=y
CONFIG_PINCTRL_ARMADA_AP806=y
CONFIG_I2C_DEBUG_ALGO=y
CONFIG_GPIO_PCA9570=y
CONFIG_DA_MON_EVENTS_IMPLICIT=y
CONFIG_REGULATOR_AS3722=y
CONFIG_GENERIC_ARCH_NUMA=y
CONFIG_XZ_DEC_ARM=y
CONFIG_HAVE_CONTEXT_TRACKING_USER=y
CONFIG_REGULATOR_RT5190A=y
CONFIG_SSB_DRIVER_GPIO=y
CONFIG_MFD_LOCHNAGAR=y
CONFIG_RAID_ATTRS=y
CONFIG_TOUCHSCREEN_ROHM_BU21023=y
CONFIG_IR_SUNXI=y
CONFIG_SERIAL_8250_DETECT_IRQ=y
CONFIG_HAVE_ARM_SMCCC=y
CONFIG_CRYPTO_SM4_ARM64_NEON_BLK=y
CONFIG_REGMAP_W1=y
CONFIG_CLK_SP810=y
CONFIG_ARCH_HAS_DEBUG_VIRTUAL=y
CONFIG_USB_SERIAL_SYMBOL=y
CONFIG_CRYPTO_HASH=y
CONFIG_RMI4_F30=y
CONFIG_TRACE_IRQFLAGS_NMI_SUPPORT=y
CONFIG_ARCH_ENABLE_SPLIT_PMD_PTLOCK=y
CONFIG_ARCH_SUPPORTS_KEXEC_FILE=y
CONFIG_USB_SERIAL_SAFE=y
CONFIG_SENSORS_PECI=y
CONFIG_IRQCHIP=y
CONFIG_CRYPTO_LIB_AES_CBC_MACS=y
CONFIG_NLS_MAC_CENTEURO=y
CONFIG_W1_MASTER_DS2482=y
CONFIG_HAVE_STACKPROTECTOR=y
CONFIG_SERIAL_XILINX_PS_UART_CONSOLE=y
CONFIG_CLK_OWL_S500=y
CONFIG_CLK_ACTIONS=y
CONFIG_MUX_MMIO=y
CONFIG_EXYNOS_MBOX=y
CONFIG_HISI_THERMAL=y
CONFIG_SENSORS_ADM1025=y
CONFIG_MTD_PCMCIA=y
CONFIG_GPIO_BLZP1600=y
CONFIG_MTD_BRCM_U_BOOT=y
CONFIG_VFIO_GROUP=y
CONFIG_SENSORS_PC87360=y
CONFIG_EEPROM_MAX6875=y
CONFIG_ARM_SCMI_TRANSPORT_VIRTIO=y
CONFIG_RPMSG_NS=y
CONFIG_PHY_XILINX_ZYNQMP=y
CONFIG_GENERIC_CALIBRATE_DELAY=y
CONFIG_MTD_BLKDEVS=y
CONFIG_TOOLS_SUPPORT_RELR=y
CONFIG_CPU_ISOLATION=y
CONFIG_ICS932S401=y
CONFIG_SENSORS_TMP464=y
CONFIG_CHARGER_SBS=y
CONFIG_SENSORS_MAX127=y
CONFIG_MFD_MAX77620=y
CONFIG_NVMEM_LAYOUTS=y
CONFIG_REGULATOR_MAX8998=y
CONFIG_NVME_TARGET_PASSTHRU=y
CONFIG_MTD_GEN_PROBE=y
CONFIG_REGULATOR_PF530X=y
CONFIG_TOUCHSCREEN_TSC2005=y
CONFIG_AS_HAS_CFI_NEGATE_RA_STATE=y
CONFIG_XZ_DEC_RISCV=y
CONFIG_SENSORS_NCT6775_I2C=y
CONFIG_SUN50I_H616_CCU=y
CONFIG_SERIAL_8250_CS=y
CONFIG_PINCTRL_SOPHGO_CV18XX_OPS=y
CONFIG_GPIO_PL061=y
CONFIG_W1_MASTER_AMD_AXI=y
CONFIG_EEPROM_EE1004=y
CONFIG_RC_XBOX_DVD=y
CONFIG_SENSORS_NCT6775_CORE=y
CONFIG_RCU_STALL_COMMON=y
CONFIG_HAVE_KRETPROBES=y
CONFIG_TOUCHSCREEN_S6SY761=y
CONFIG_NLS_ISO8859_3=y
CONFIG_COMEDI_USBDUX=y
CONFIG_MFD_RSMU_I2C=y
CONFIG_KVM_VFIO=y
CONFIG_SUN55I_PCK600=y
CONFIG_SUN6I_R_INTC=y
CONFIG_MFD_AC100=y
CONFIG_TOUCHSCREEN_BU21029=y
CONFIG_SENSORS_XGENE=y
CONFIG_CRYPTO_HCTR2=y
CONFIG_ALTERA_STAPL=y
CONFIG_MTD_MCHP48L640=y
CONFIG_ARCH_HAS_SYNC_DMA_FOR_CPU=y
CONFIG_SPI_DESIGNWARE=y
CONFIG_ARCH_HAS_SET_DIRECT_MAP=y
CONFIG_ARCH_SUPPORTS_HUGETLBFS=y
CONFIG_MFD_MAX77759=y
CONFIG_GENERIC_NET_UTILS=y
CONFIG_USB_ADUTUX=y
CONFIG_IRQ_SIM=y
CONFIG_CC_NO_STRINGOP_OVERFLOW=y
CONFIG_DEBUG_BUGVERBOSE=y
CONFIG_STACKPROTECTOR=y
CONFIG_EXTCON_PTN5150=y
CONFIG_CROS_EC_CHARDEV=y
CONFIG_CRYPTO_LIB_POLY1305_ARCH=y
CONFIG_APPLE_MFI_FASTCHARGE=y
CONFIG_GENERIC_IRQ_SHOW_LEVEL=y
CONFIG_SERIAL_8250_EXTENDED=y
CONFIG_RD_BZIP2=y
CONFIG_I2C_MUX=y
CONFIG_SLAB_FREELIST_RANDOM=y
CONFIG_EXTCON=y
CONFIG_CRYPTO_CTS=y
CONFIG_PINCTRL_BCM4908=y
CONFIG_COREDUMP=y
CONFIG_SENSORS_LM78=y
CONFIG_GPIO_POLARFIRE_SOC=y
CONFIG_NEED_KVM_DIRTY_RING_WITH_BITMAP=y
CONFIG_SENSORS_LTC4215=y
CONFIG_ARM64_WORKAROUND_SPECULATIVE_AT=y
CONFIG_SENSORS_ADS7828=y
CONFIG_COMEDI_8254=y
CONFIG_MVEBU_GICP=y
CONFIG_CRYPTO_RNG2=y
CONFIG_SENSORS_W83L786NG=y
CONFIG_THERMAL_HWMON=y
CONFIG_TEST_MEMCAT_P=y
CONFIG_SENSORS_AHT10=y
CONFIG_CHARGER_BQ24257=y
CONFIG_GPIO_SYSCON=y
CONFIG_BPF=y
CONFIG_SUN4I_TIMER=y
CONFIG_FS_STACK=y
CONFIG_REGULATOR_AD5398=y
CONFIG_I2C=y
CONFIG_CLK_BCM_NS2=y
CONFIG_CRYPTO_MANAGER=y
CONFIG_OWL_TIMER=y
CONFIG_CHARGER_RT9455=y
CONFIG_LEDS_TRIGGER_GPIO=y
CONFIG_CHARGER_MAX77650=y
CONFIG_HAVE_NMI=y
CONFIG_GPIO_WAVESHARE_DSI_TOUCH=y
CONFIG_RC_LOOPBACK=y
CONFIG_SERIAL_8250_RSA=y
CONFIG_MFD_AS3711=y
CONFIG_MFD_MAX77843=y
CONFIG_USB_CYTHERM=y
CONFIG_NO_IOPORT_MAP=y
CONFIG_NVMEM_UNIPHIER_EFUSE=y
CONFIG_TOUCHSCREEN_IQS7211=y
CONFIG_PINCTRL_SUN8I_H3_R=y
CONFIG_PM_DEBUG=y
CONFIG_THERMAL_DEFAULT_GOV_STEP_WISE=y
CONFIG_BLK_DEV_INITRD=y
CONFIG_LEDS_TRIGGER_HEARTBEAT=y
CONFIG_CRYPTO_HASH2=y
CONFIG_CROS_EC_SPI=y
CONFIG_BATTERY_SBS=y
CONFIG_DMA_MAP_BENCHMARK=y
CONFIG_RANDOMIZE_KSTACK_OFFSET_DEFAULT=y
CONFIG_KERNEL_MODE_NEON=y
CONFIG_SENSORS_MAX6697=y
CONFIG_CRYPTO_HASH_INFO=y
CONFIG_CRYPTO_LIB_AES=y
CONFIG_EFI_PARTITION=y
CONFIG_I2C_DEBUG_CORE=y
CONFIG_USB_SERIAL_F8153X=y
CONFIG_RESET_TN48M_CPLD=y
CONFIG_TOUCHSCREEN_HYNITRON_CST816X=y
CONFIG_CRC8=y
CONFIG_CRYPTO_LIB_SHA3_ARCH=y
CONFIG_TRACE_IRQFLAGS=y
CONFIG_HIBERNATE_CALLBACKS=y
CONFIG_OF_RESERVED_MEM=y
CONFIG_I2C_MUX_LTC4306=y
CONFIG_DEFAULT_SECURITY_DAC=y
CONFIG_PHY_UNIPHIER_AHCI=y
CONFIG_PANEL=y
CONFIG_CRYPTO_SM4_GENERIC=y
CONFIG_SENSORS_OCC=y
CONFIG_USB_OTG_FSM=y
CONFIG_PHY_HISTB_COMBPHY=y
CONFIG_GNSS_SERIAL=y
CONFIG_HAVE_SYSCALL_TRACEPOINTS=y
CONFIG_RESET_ZYNQMP=y
CONFIG_CRYPTO_PCRYPT=y
CONFIG_SUN6I_MSGBOX=y
CONFIG_TRACE_REMOTE_TEST=y
CONFIG_CLK_VEXPRESS_OSC=y
CONFIG_SERIAL_8250_PXA=y
CONFIG_MFD_ATMEL_FLEXCOM=y
CONFIG_USB_HSIC_USB3503=y
CONFIG_ARCH_SPARSEMEM_ENABLE=y
CONFIG_REGULATOR_MT6359=y
CONFIG_IO_WQ=y
CONFIG_TOUCHSCREEN_WM831X=y
CONFIG_CRC_CCITT=y
CONFIG_ARMADA_AP806_SYSCON=y
CONFIG_LEDS_PCA963X=y
CONFIG_REGULATOR_RT5759=y
CONFIG_GENERIC_IRQ_PROBE=y
CONFIG_DMA_OPS_HELPERS=y
CONFIG_REGULATOR_MT6397=y
CONFIG_HAVE_ARCH_JUMP_LABEL_RELATIVE=y
