CONFIG_USB_OHCI_LITTLE_ENDIAN=y
CONFIG_STRICT_KERNEL_RWX=y
CONFIG_KVM_XEN=y
CONFIG_CC_HAS_IBT=y
CONFIG_IMG_ASCII_LCD=y
CONFIG_INPUT_AW86927=y
CONFIG_REGULATOR_RT5759=y
CONFIG_FB_SM712=y
CONFIG_FS_VERITY=y
CONFIG_HWMON_VID=y
CONFIG_PCI_DIRECT=y
CONFIG_VFIO_PCI_INTX=y
CONFIG_HWSPINLOCK=y
CONFIG_HAVE_OBJTOOL=y
CONFIG_X86_DEBUG_FPU=y
CONFIG_ACPI_PLATFORM_PROFILE=y
CONFIG_COMEDI_USBDUXFAST=y
CONFIG_BACKLIGHT_ADP8860=y
CONFIG_SENSORS_MR75203=y
CONFIG_SENSORS_ADT7470=y
CONFIG_FWCTL=y
CONFIG_DYNAMIC_FTRACE=y
CONFIG_BCMA_HOST_PCI_POSSIBLE=y
CONFIG_TRACE_REMOTE=y
CONFIG_ACPI_VIDEO=y
CONFIG_MTD_ROM=y
CONFIG_MITIGATION_SSB=y
CONFIG_ARCH_USE_QUEUED_RWLOCKS=y
CONFIG_PARPORT_PC=y
CONFIG_SENSORS_NCT6775_I2C=y
CONFIG_PERF_EVENTS_AMD_POWER=y
CONFIG_SENSORS_EMC2305=y
CONFIG_MFD_IQS62X=y
CONFIG_BACKLIGHT_TPS65217=y
CONFIG_BITREVERSE=y
CONFIG_BATTERY_MAX1721X=y
CONFIG_FB_NOTIFY=y
CONFIG_SENSORS_ATXP1=y
CONFIG_SENSORS_IR38064=y
CONFIG_X86_REQUIRED_FEATURE_LM=y
CONFIG_NLS_CODEPAGE_1251=y
CONFIG_SENSORS_SMSC47B397=y
CONFIG_INPUT_88PM80X_ONKEY=y
CONFIG_EXCLUSIVE_SYSTEM_RAM=y
CONFIG_HAVE_IRQ_EXIT_ON_IRQ_STACK=y
CONFIG_HAVE_NMI=y
CONFIG_REGULATOR_SY8824X=y
CONFIG_GPIO_MAX730X=y
CONFIG_LEDS_MAX8997=y
CONFIG_USB_IDMOUSE=y
CONFIG_PARPORT_PANEL=y
CONFIG_I2C_PARPORT=y
CONFIG_SENSORS_LM83=y
CONFIG_VIRTIO_ANCHOR=y
CONFIG_MTD_OF_PARTS=y
CONFIG_REGULATOR_MAX8997=y
CONFIG_SENSORS_MAX6639=y
CONFIG_I2C_NFORCE2=y
CONFIG_ARCH_SUPPORTS_SCHED_SMT=y
CONFIG_HAVE_EXIT_THREAD=y
CONFIG_INTEL_SPEED_SELECT_INTERFACE=y
CONFIG_W1_MASTER_UART=y
CONFIG_GENERIC_IRQ_MATRIX_ALLOCATOR=y
CONFIG_I2C_SMBUS=y
CONFIG_REGULATOR_RAA215300=y
CONFIG_INPUT_PF1550_ONKEY=y
CONFIG_RV_REACT_PANIC=y
CONFIG_LPC_SCH=y
CONFIG_TOUCHSCREEN_DYNAPRO=y
CONFIG_LEDS_PCA9532=y
CONFIG_LEDS_LGM=y
CONFIG_HAVE_HARDLOCKUP_DETECTOR_BUDDY=y
CONFIG_PM_USERSPACE_AUTOSLEEP=y
CONFIG_X86_TSC=y
CONFIG_MTD_QINFO_PROBE=y
CONFIG_MFD_ARIZONA=y
CONFIG_UDMABUF=y
CONFIG_KVM_GUEST_MEMFD=y
CONFIG_JOYSTICK_JOYDUMP=y
CONFIG_SERIAL_DEV_CTRL_TTYPORT=y
CONFIG_NSM=y
CONFIG_HAVE_RELIABLE_STACKTRACE=y
CONFIG_USB_MAX3420_UDC=y
CONFIG_MFD_ARIZONA_SPI=y
CONFIG_HAVE_NOINSTR_VALIDATION=y
CONFIG_MTD_ONENAND_OTP=y
CONFIG_NLS_CODEPAGE_852=y
CONFIG_SENSORS_W83627EHF=y
CONFIG_ARCH_WANT_HUGE_PMD_SHARE=y
CONFIG_MFD_WM831X_SPI=y
CONFIG_THERMAL_GOV_BANG_BANG=y
CONFIG_ARCH_WANT_LD_ORPHAN_WARN=y
CONFIG_FB_DEVICE=y
CONFIG_FB_S1D13XXX=y
CONFIG_USB_GR_UDC=y
CONFIG_INPUT_E3X0_BUTTON=y
CONFIG_MFD_AS3722=y
CONFIG_TOUCHSCREEN_ADS7846=y
CONFIG_MTD_COMPLEX_MAPPINGS=y
CONFIG_PARPORT_PC_SUPERIO=y
CONFIG_RESCTRL_FS_PSEUDO_LOCK=y
CONFIG_GPIO_MAX7300=y
CONFIG_HAVE_STACK_VALIDATION=y
CONFIG_NVMEM_LAYOUTS=y
CONFIG_APPLE_PROPERTIES=y
CONFIG_MFD_TPS65086=y
CONFIG_SENSORS_SURFACE_TEMP=y
CONFIG_VGA_CONSOLE=y
CONFIG_ARCH_WANT_COMPAT_IPC_PARSE_VERSION=y
CONFIG_ARCH_HAS_PMEM_API=y
CONFIG_CC_HAS_NAMED_AS=y
CONFIG_QAT_VFIO_PCI=y
CONFIG_MFD_NCT6694=y
CONFIG_CHARGER_MT6360=y
CONFIG_DEBUG_BUGVERBOSE_DETAILED=y
CONFIG_MFD_STMPE=y
CONFIG_REGULATOR_RTQ6752=y
CONFIG_GENERIC_CLOCKEVENTS_COUPLED_INLINE=y
CONFIG_HAVE_UID16=y
CONFIG_FB_SYSMEM_FOPS=y
CONFIG_MFD_QNAP_MCU=y
CONFIG_HAVE_SYSCALL_TRACEPOINTS=y
CONFIG_REGULATOR_DEBUG=y
CONFIG_HAVE_UNWIND_USER_FP=y
CONFIG_ARCH_HAS_CPU_RELAX=y
CONFIG_SENSORS_NCT7802=y
CONFIG_COMEDI_USBDUX=y
CONFIG_ARCH_WANT_BATCHED_UNMAP_TLB_FLUSH=y
CONFIG_TOUCHSCREEN_HYNITRON_CST816X=y
CONFIG_PINCTRL_SINGLE=y
CONFIG_DEBUG_SG=y
CONFIG_SSB_SPROM=y
CONFIG_ARCH_HAS_MEM_ENCRYPT=y
CONFIG_EFI_RUNTIME_WRAPPERS=y
CONFIG_PCIE_CADENCE_PLAT_EP=y
CONFIG_SENSORS_LTC2992=y
CONFIG_INPUT_IDEAPAD_SLIDEBAR=y
CONFIG_X86_X2APIC=y
CONFIG_SENSORS_TDA38640=y
CONFIG_REGULATOR_DA9052=y
CONFIG_LEDS_CLASS_MULTICOLOR=y
CONFIG_NO_HZ=y
CONFIG_VIRT_XFER_TO_GUEST_WORK=y
CONFIG_GENERIC_VDSO_OVERFLOW_PROTECT=y
CONFIG_REGULATOR_88PG86X=y
CONFIG_FW_UPLOAD=y
CONFIG_ORANGEFS_FS=y
CONFIG_USB=y
CONFIG_BATTERY_BQ27XXX_HDQ=y
CONFIG_EXTCON_MAX77843=y
CONFIG_X86_REQUIRED_FEATURE_CX8=y
CONFIG_MFD_DA9052_I2C=y
CONFIG_ELFCORE=y
CONFIG_LCD_LTV350QV=y
CONFIG_HAVE_KVM_IRQCHIP=y
CONFIG_ZSTD_COMMON=y
CONFIG_HAVE_ARCH_KCSAN=y
CONFIG_CRYPTO_DEV_QAT_420XX=y
CONFIG_MFD_RK8XX_I2C=y
CONFIG_LOGO_LINUX_CLUT224=y
CONFIG_DEBUG_TEST_DRIVER_REMOVE=y
CONFIG_GPIO_FXL6408=y
CONFIG_BATTERY_DS2760=y
CONFIG_CRYPTO_RNG2=y
CONFIG_SENSORS_ATK0110=y
CONFIG_USB_EHCI_FSL=y
CONFIG_LD_CAN_USE_KEEP_IN_OVERLAY=y
CONFIG_GENERIC_BUG_RELATIVE_POINTERS=y
CONFIG_TEE_DMABUF_HEAPS=y
CONFIG_ARCH_SUPPORTS_ACPI=y
CONFIG_SURFACE_HOTPLUG=y
CONFIG_THERMAL=y
CONFIG_MTD_MAP_BANK_WIDTH_4=y
CONFIG_PARPORT_NOT_PC=y
CONFIG_NLS_CODEPAGE_950=y
CONFIG_PHY_TI_DS125DF111=y
CONFIG_PHANTOM=y
CONFIG_TOUCHSCREEN_WM831X=y
CONFIG_TABLET_USB_HANWANG=y
CONFIG_MFD_MC13XXX_SPI=y
CONFIG_GIGABYTE_WMI=y
CONFIG_RESCTRL_FS=y
CONFIG_DEBUG_OBJECTS=y
CONFIG_EVENT_TRACING=y
CONFIG_LEDS_BCM6358=y
CONFIG_BPF_SYSCALL=y
CONFIG_LCD_ILI922X=y
CONFIG_ARCH_SUPPORTS_ATOMIC_RMW=y
CONFIG_HAVE_STACKPROTECTOR=y
CONFIG_SAMSUNG_GALAXYBOOK=y
CONFIG_EFI_DXE_MEM_ATTRIBUTES=y
CONFIG_TCG_TIS_ST33ZP24_I2C=y
CONFIG_X86_CPA_STATISTICS=y
CONFIG_SENSORS_PXE1610=y
CONFIG_ARCH_WANT_OPTIMIZE_HUGETLB_VMEMMAP=y
CONFIG_PCI_ENDPOINT=y
CONFIG_PECI_CPU=y
CONFIG_MFD_TPS65219=y
CONFIG_BACKLIGHT_ADP8870=y
CONFIG_SURFACE_PRO3_BUTTON=y
CONFIG_PINCTRL_GENERIC_MUX=y
CONFIG_X86_AMD_PLATFORM_DEVICE=y
CONFIG_REGULATOR_RC5T583=y
CONFIG_CRYPTO_LIB_POLY1305_GENERIC=y
CONFIG_HZ_100=y
CONFIG_RCU_NEED_SEGCBLIST=y
CONFIG_MFD_MAX77541=y
CONFIG_SENSORS_IR36021=y
CONFIG_LEDS_OSRAM_AMS_AS3668=y
CONFIG_CHARGER_SURFACE=y
CONFIG_CRYPTO_TWOFISH_AVX_X86_64=y
CONFIG_PSTORE=y
CONFIG_STM_DUMMY=y
CONFIG_W1_SLAVE_DS2423=y
CONFIG_SYSFB_SIMPLEFB=y
CONFIG_W1_SLAVE_DS28E04=y
CONFIG_NLS_ISO8859_13=y
CONFIG_LEDS_TRIGGER_DEFAULT_ON=y
CONFIG_FB_PM3=y
CONFIG_THERMAL_GOV_USER_SPACE=y
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST_IDLE=y
CONFIG_COMMON_CLK_MAX9485=y
CONFIG_LOCK_MM_AND_FIND_VMA=y
CONFIG_GPIO_NCT6694=y
CONFIG_GPIO_WHISKEY_COVE=y
CONFIG_NEED_DMA_MAP_STATE=y
CONFIG_PM_WAKELOCKS_GC=y
CONFIG_BATTERY_GOLDFISH=y
CONFIG_LOCK_SPIN_ON_OWNER=y
CONFIG_SENSORS_DME1737=y
CONFIG_PCIE_TPH=y
CONFIG_CRYPTO_SHA256=y
CONFIG_REGULATOR_RTQ2134=y
CONFIG_GPIO_LINE_MUX=y
CONFIG_NLS_MAC_CROATIAN=y
CONFIG_I2C_ALI15X3=y
CONFIG_ARCH_HAS_KCOV=y
CONFIG_GPIO_MAX7301=y
CONFIG_REGULATOR_USERSPACE_CONSUMER=y
CONFIG_INPUT_TABLET=y
CONFIG_MTD_MCHP48L640=y
CONFIG_MISC_FILESYSTEMS=y
CONFIG_MFD_WM8997=y
CONFIG_ARCH_SELECTS_KEXEC_FILE=y
CONFIG_BACKLIGHT_ARCXCNN=y
CONFIG_PCIEASPM=y
CONFIG_XILLYBUS=y
CONFIG_XZ_DEC_BCJ=y
CONFIG_INPUT_DRV260X_HAPTICS=y
CONFIG_NLS_UTF8=y
CONFIG_JOYSTICK_SIDEWINDER=y
CONFIG_HAVE_KVM_IRQ_ROUTING=y
CONFIG_GENERIC_CLOCKEVENTS_COUPLED=y
CONFIG_INIT_STACK_NONE=y
CONFIG_I2C_OCORES=y
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_JMP=y
CONFIG_PINCTRL_EQUILIBRIUM=y
CONFIG_KVM=y
CONFIG_MSEAL_SYSTEM_MAPPINGS=y
CONFIG_BALLOON_MIGRATION=y
CONFIG_USB_CHIPIDEA_HOST=y
CONFIG_SENSORS_ADM1026=y
CONFIG_P2SB=y
CONFIG_CRYPTO_DEV_ATMEL_I2C=y
CONFIG_TOUCHSCREEN_MTOUCH=y
CONFIG_FB_NVIDIA_DEBUG=y
CONFIG_PCI_IOV=y
CONFIG_REGULATOR_MAX77541=y
CONFIG_TOUCHSCREEN_ILITEK=y
CONFIG_RD_ZSTD=y
CONFIG_KEXEC_FILE=y
CONFIG_USB_F_PRINTER=y
CONFIG_ARCH_SPARSEMEM_ENABLE=y
CONFIG_BACKLIGHT_MAX25014=y
CONFIG_VT=y
CONFIG_MTD_DATAFLASH_WRITE_VERIFY=y
CONFIG_LIBFDT=y
CONFIG_ARCH_HAS_COPY_MC=y
CONFIG_REGULATOR_TPS6524X=y
CONFIG_MTD_SPI_NAND=y
CONFIG_SENSORS_DELTA_AHE50DC_FAN=y
CONFIG_MODULES_USE_ELF_RELA=y
CONFIG_TRACEFS_AUTOMOUNT_DEPRECATED=y
CONFIG_CRYPTO_DEV_ATMEL_ECC=y
CONFIG_TMPFS_XATTR=y
CONFIG_HW_RANDOM_TPM=y
CONFIG_SOFTLOCKUP_DETECTOR=y
CONFIG_KVM_MMIO=y
CONFIG_HAVE_KERNEL_LZMA=y
CONFIG_PREEMPT_RT=y
CONFIG_LEDS_BCM6328=y
CONFIG_HAVE_HW_BREAKPOINT=y
CONFIG_TCG_CRB=y
CONFIG_SURFACE_AGGREGATOR_HUB=y
CONFIG_TCG_TIS_I2C_ATMEL=y
CONFIG_USB_CYTHERM=y
CONFIG_SPI_AMD=y
CONFIG_RANDOMIZE_BASE=y
CONFIG_OVERLAY_FS=y
CONFIG_MSI_WMI=y
CONFIG_INTEL_RAPL=y
CONFIG_DECOMPRESS_XZ=y
CONFIG_SENSORS_PLI1209BC=y
CONFIG_SERIO_SERPORT=y
CONFIG_ARCH_SUPPORTS_KEXEC_PURGATORY=y
CONFIG_PM=y
CONFIG_KALLSYMS=y
CONFIG_IRQSOFF_TRACER=y
CONFIG_INTEL_TH=y
CONFIG_GPIO_IDIO_16=y
CONFIG_MFD_KEMPLD=y
CONFIG_USB_PXA27X=y
CONFIG_PVPANIC=y
CONFIG_PHY_CADENCE_DPHY_RX=y
CONFIG_PNP_DEBUG_MESSAGES=y
CONFIG_AUDIT_ARCH=y
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO_BARE=y
CONFIG_MFD_SIMPLE_MFD_I2C=y
CONFIG_ARCH_HAS_GCOV_PROFILE_ALL=y
CONFIG_HAVE_FUNCTION_GRAPH_TRACER=y
CONFIG_HAVE_DYNAMIC_FTRACE=y
CONFIG_CRYPTO_TWOFISH_X86_64=y
CONFIG_JOYSTICK_QWIIC=y
CONFIG_COMMON_CLK_BD718XX=y
CONFIG_NVMEM_REBOOT_MODE=y
CONFIG_SBC_EPX_C3_WATCHDOG=y
CONFIG_REDMI_WMI=y
CONFIG_DMA_SHARED_BUFFER=y
CONFIG_X86_DISABLED_FEATURE_IBT=y
CONFIG_COMPAT_32=y
CONFIG_CRYPTO_XXHASH=y
CONFIG_HAVE_CLK=y
CONFIG_MAILBOX_TEST=y
CONFIG_CPU_IDLE=y
CONFIG_XZ_DEC=y
CONFIG_X86_REQUIRED_FEATURE_XMM=y
CONFIG_WINMATE_FM07_KEYS=y
CONFIG_ROMFS_ON_MTD=y
CONFIG_LEDS_PCA995X=y
CONFIG_CRYPTO_ESSIV=y
CONFIG_MFD_ROHM_BD96801=y
CONFIG_GENERIC_PCI_IOMAP=y
CONFIG_SERIAL_DEV_BUS=y
CONFIG_X86_MEM_ENCRYPT=y
CONFIG_MAX6959=y
CONFIG_ARCH_SUPPORTS_SCHED_CLUSTER=y
CONFIG_TIMERLAT_TRACER=y
CONFIG_HAVE_IRQ_TIME_ACCOUNTING=y
CONFIG_SPI_FSL_SPI=y
CONFIG_TRACE_REMOTE_TEST=y
CONFIG_DEFAULT_SECURITY_DAC=y
CONFIG_SENSORS_TPS40422=y
CONFIG_I2C_RK3X=y
CONFIG_CRYPTO_AKCIPHER=y
CONFIG_MTD_NAND_ECC_MXIC=y
CONFIG_SHMEM=y
CONFIG_IA32_EMULATION=y
CONFIG_DMA_COHERENT_POOL=y
CONFIG_USB_LINK_LAYER_TEST=y
CONFIG_SPARSEMEM_VMEMMAP=y
CONFIG_TWL4030_WATCHDOG=y
CONFIG_ARCH_HAS_HW_PTE_YOUNG=y
CONFIG_INTEL_PMC_SSRAM_TELEMETRY=y
CONFIG_JOYSTICK_GRIP=y
CONFIG_INTEL_UNCORE_FREQ_CONTROL=y
CONFIG_PHYS_ADDR_T_64BIT=y
CONFIG_SERIO_PCIPS2=y
CONFIG_EXTCON=y
CONFIG_LD_ORPHAN_WARN=y
CONFIG_MMC_VUB300=y
CONFIG_POWER_SEQUENCING_QCOM_WCN=y
CONFIG_ARCH_HAS_PTE_SPECIAL=y
CONFIG_USB_CDNS_SUPPORT=y
CONFIG_UIO_PDRV_GENIRQ=y
CONFIG_USER_RETURN_NOTIFIER=y
CONFIG_TOUCHSCREEN_ELO=y
CONFIG_STM_SOURCE_FTRACE=y
CONFIG_GPIO_WATCHDOG=y
CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE=y
CONFIG_MFD_JANZ_CMODIO=y
CONFIG_COMEDI_DEBUG=y
CONFIG_SPI_ZYNQMP_GQSPI=y
CONFIG_INPUT_IQS7222=y
CONFIG_GPIOLIB_LEGACY=y
CONFIG_MFD_AXP20X=y
CONFIG_LOCKDEP=y
CONFIG_LIST_HARDENED=y
CONFIG_MULTIPLEXER=y
CONFIG_X86_HV_CALLBACK_VECTOR=y
CONFIG_TOUCHSCREEN_TSC_SERIO=y
CONFIG_ZONE_DMA32=y
CONFIG_OF_KOBJ=y
CONFIG_TRACE_EVAL_MAP_FILE=y
CONFIG_USB_DWC3_DUAL_ROLE=y
CONFIG_ARCH_USE_BUILTIN_BSWAP=y
CONFIG_X86_DISABLED_FEATURE_RETPOLINE=y
CONFIG_MFD_WCD934X=y
CONFIG_FUNCTION_ALIGNMENT_16B=y
CONFIG_FANOTIFY=y
CONFIG_MMC_ALCOR=y
CONFIG_POWER_RESET=y
CONFIG_ROMFS_FS=y
CONFIG_VT_CONSOLE_SLEEP=y
CONFIG_IPMI_SI=y
CONFIG_POWER_SUPPLY=y
CONFIG_TOUCHSCREEN_PENMOUNT=y
CONFIG_TEE=y
CONFIG_XZ_DEC_MICROLZMA=y
CONFIG_ARCH_HAS_SET_DIRECT_MAP=y
CONFIG_TOUCHSCREEN_USB_ETURBO=y
CONFIG_HAVE_PERF_EVENTS_NMI=y
CONFIG_NLS_CODEPAGE_775=y
CONFIG_OVERLAY_FS_METACOPY=y
CONFIG_MISC_RTSX=y
CONFIG_HARDENED_USERCOPY=y
CONFIG_ASUS_LAPTOP=y
CONFIG_PLATFORM_MHU=y
CONFIG_IPMI_PLAT_DATA=y
CONFIG_WDTPCI=y
CONFIG_REGULATOR_MP886X=y
CONFIG_DMABUF_HEAPS_CMA=y
CONFIG_USB_GADGETFS=y
CONFIG_I2C_KEMPLD=y
CONFIG_CHARGER_BQ256XX=y
CONFIG_HAVE_ARCH_JUMP_LABEL_RELATIVE=y
CONFIG_SENSORS_LTC4261=y
CONFIG_LEDS_CLASS=y
CONFIG_LEDS_ST1202=y
CONFIG_UIO_MF624=y
CONFIG_CRYPTO_JITTERENTROPY=y
CONFIG_TRACE_IRQFLAGS_NMI=y
CONFIG_SENSORS_ADP1050_REGULATOR=y
CONFIG_EFI_BOOTLOADER_CONTROL=y
CONFIG_SENSORS_ADM1266=y
CONFIG_SPI_SC18IS602=y
CONFIG_NLS_MAC_GAELIC=y
CONFIG_CHARGER_BQ2415X=y
CONFIG_CRYPTO_SELFTESTS=y
CONFIG_SPI_MEM=y
CONFIG_X86_VERBOSE_BOOTUP=y
CONFIG_SENSORS_DPS920AB=y
CONFIG_GENERIC_IRQ_SHOW=y
CONFIG_NTB=y
CONFIG_INTEL_UNCORE_FREQ_CONTROL_TPMI=y
CONFIG_MTD_PLATRAM=y
CONFIG_VMLINUX_MAP=y
CONFIG_EXPORTFS_BLOCK_OPS=y
CONFIG_PPDEV=y
CONFIG_SENSORS_TPS546D24=y
CONFIG_CONSOLE_TRANSLATIONS=y
CONFIG_LEDS_GROUP_MULTICOLOR=y
CONFIG_CPU_SUP_CENTAUR=y
CONFIG_HAVE_ARCH_SOFT_DIRTY=y
CONFIG_ACPI_BATTERY=y
CONFIG_SENSORS_XDP710=y
CONFIG_PREEMPT=y
CONFIG_USB4_CONFIGFS=y
CONFIG_SENSORS_IRPS5401=y
CONFIG_GPIO_MAX732X_IRQ=y
CONFIG_TWL6040_CORE=y
CONFIG_BACKLIGHT_AW99706=y
CONFIG_MTD_ONENAND_GENERIC=y
CONFIG_REGULATOR_FP9931=y
CONFIG_ACPI_PFRUT=y
CONFIG_ARCH_HAS_DEVMEM_IS_ALLOWED=y
CONFIG_USB_G_PRINTER=y
CONFIG_BRANCH_PROFILE_NONE=y
CONFIG_MEN_A21_WDT=y
CONFIG_SENSORS_MP2888=y
CONFIG_ARCH_HAS_SET_MEMORY=y
CONFIG_ARCH_SUPPORTS_CRASH_DUMP=y
CONFIG_FTRACE_MCOUNT_USE_CC=y
CONFIG_SURFACE_PLATFORMS=y
CONFIG_USB_CHAOSKEY=y
CONFIG_HPET_TIMER=y
CONFIG_CHARGER_MAX8997=y
CONFIG_FB_SYSMEM_HELPERS_DEFERRED=y
CONFIG_LG_LAPTOP=y
CONFIG_CC_HAS_RETURN_THUNK=y
CONFIG_IRQCHIP=y
CONFIG_X86_HAVE_PAE=y
CONFIG_LINEAR_RANGES=y
CONFIG_TCG_ATMEL=y
CONFIG_PMIC_DA9052=y
CONFIG_ACRN_GUEST=y
CONFIG_TI_FPC202=y
CONFIG_DEBUG_RODATA_TEST=y
CONFIG_WM831X_POWER=y
CONFIG_INPUT_YEALINK=y
CONFIG_GAMEPORT=y
CONFIG_SSB_POSSIBLE=y
CONFIG_SPI_CADENCE_QUADSPI=y
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE=y
CONFIG_FB_SYSMEM_HELPERS=y
CONFIG_HAVE_DMA_CONTIGUOUS=y
CONFIG_USB_USS720=y
CONFIG_MEEGOPAD_ANX7428=y
CONFIG_NLS_ISO8859_3=y
CONFIG_USB_ULPI_BUS=y
CONFIG_ARCH_WANT_HUGETLB_VMEMMAP_PREINIT=y
