CONFIG_SERIAL_8250_PCILIB=n
CONFIG_COMMON_CLK_RPMI=n
CONFIG_ETHTOOL_NETLINK=n
CONFIG_TOOLCHAIN_HAS_ZBC=n
CONFIG_MOUSE_PS2_SYNAPTICS=n
CONFIG_USB_MUSB_DUAL_ROLE=n
CONFIG_LD_CAN_USE_KEEP_IN_OVERLAY=n
CONFIG_BFQ_GROUP_IOSCHED=n
CONFIG_USB_NET_DRIVERS=n
CONFIG_DRM_GEM_DMA_HELPER=n
CONFIG_USB_OHCI_HCD_PLATFORM=n
CONFIG_SPARSEMEM_VMEMMAP_ENABLE=n
CONFIG_IPC_NS=n
CONFIG_EFI_EARLYCON=n
CONFIG_CRYPTO_KPP=n
CONFIG_SELECT_MEMORY_MODEL=n
CONFIG_CC_HAS_ZERO_CALL_USED_REGS=n
CONFIG_DMA_SUN6I=n
CONFIG_WATCHDOG_CORE=n
CONFIG_CC_HAS_INT128=n
CONFIG_HAS_IOPORT_MAP=n
CONFIG_RTC_I2C_AND_SPI=n
CONFIG_GENERIC_MSI_IRQ=n
CONFIG_ARCH_USE_CMPXCHG_LOCKREF=n
CONFIG_RANDSTRUCT_NONE=n
CONFIG_ARCH_HAS_BINFMT_FLAT=n
CONFIG_FIXED_PHY=n
CONFIG_ACPI_MCFG=n
CONFIG_USB_F_MASS_STORAGE=n
CONFIG_RISCV_DMA_NONCOHERENT=n
CONFIG_SYSVIPC=n
CONFIG_PCIE_PLDA_HOST=n
CONFIG_FREEZER=n
CONFIG_CRYPTO_AEAD=n
CONFIG_BTRFS_FS=n
CONFIG_HAVE_KVM_IRQ_ROUTING=n
CONFIG_AUDITSYSCALL=n
CONFIG_VHOST_ENABLE_FORK_OWNER_CONTROL=n
CONFIG_WLAN_VENDOR_MICROCHIP=n
CONFIG_OF_IRQ=n
CONFIG_SPACEMIT_K1_EMAC=n
CONFIG_RT_MUTEXES=n
CONFIG_DRM_SUN8I_DW_HDMI=n
CONFIG_GENERIC_CPU_VULNERABILITIES=n
CONFIG_SKB_EXTENSIONS=n
CONFIG_IOMMU_PT=n
CONFIG_NVMEM_SUNXI_SID=n
CONFIG_RISCV_PROBE_VECTOR_UNALIGNED_ACCESS=n
CONFIG_VIRTIO_INPUT=n
CONFIG_ARCH_HAS_FAST_MULTIPLIER=n
CONFIG_NET_VENDOR_NI=n
CONFIG_PNFS_FILE_LAYOUT=n
CONFIG_PCIE_SPACEMIT_K1=n
CONFIG_GENERIC_IRQ_IPI=n
CONFIG_WATCHDOG_HANDLE_BOOT_ENABLED=n
CONFIG_PINCTRL_SOPHGO_COMMON=n
CONFIG_ERRATA_THEAD_GHOSTWRITE=n
CONFIG_OF_IOMMU=n
CONFIG_VIRTIO_NET=n
CONFIG_CGROUPS=n
CONFIG_SMP=n
CONFIG_VFAT_FS=n
CONFIG_FRAMEBUFFER_CONSOLE=n
CONFIG_ARCH_MICROCHIP_POLARFIRE=n
CONFIG_DTC=n
CONFIG_KEYBOARD_ATKBD=n
CONFIG_CLK_SOPHGO_SG2042_PLL=n
CONFIG_GPIO_ACPI=n
CONFIG_HAVE_DMA_CONTIGUOUS=n
CONFIG_JH71XX_PMU=n
CONFIG_IP_PNP=n
CONFIG_NF_CONNTRACK=n
CONFIG_FWNODE_MDIO=n
CONFIG_DQL=n
CONFIG_DMA_BOUNCE_UNALIGNED_KMALLOC=n
CONFIG_IP_ADVANCED_ROUTER=n
CONFIG_TMPFS_POSIX_ACL=n
CONFIG_XFRM=n
CONFIG_PCI_ECAM=n
CONFIG_WLAN_VENDOR_INTEL=n
CONFIG_BTT=n
CONFIG_INET_TCP_DIAG=n
CONFIG_HIGH_RES_TIMERS=n
CONFIG_GCC10_NO_ARRAY_BOUNDS=n
CONFIG_USB_CDNS3_GADGET=n
CONFIG_RUSTC_SUPPORTS_RISCV=n
CONFIG_GENERIC_IRQ_IPI_MUX=n
CONFIG_HAVE_KERNEL_LZ4=n
CONFIG_JUMP_LABEL=n
CONFIG_NET_VENDOR_TEHUTI=n
CONFIG_GPIO_DWAPB=n
CONFIG_BLK_DEV_BSG=n
CONFIG_DM_BUFIO=n
CONFIG_AS_IS_GNU=n
CONFIG_NET_VENDOR_ALACRITECH=n
CONFIG_DRM=n
CONFIG_NF_CONNTRACK_FTP=n
CONFIG_ARCH_SUPPORTS_INT128=n
CONFIG_CC_NO_STRINGOP_OVERFLOW=n
CONFIG_SCHED_MM_CID=n
CONFIG_ZISOFS=n
CONFIG_HAVE_KVM_IRQCHIP=n
CONFIG_SCSI_LOWLEVEL=n
CONFIG_SLAB_MERGE_DEFAULT=n
CONFIG_PCI_DOMAINS=n
CONFIG_PINCTRL_SOPHGO_SG2000=n
CONFIG_NET_VENDOR_MICREL=n
CONFIG_BLK_PM=n
CONFIG_NLATTR=n
CONFIG_ZSTD_COMMON=n
CONFIG_ISO9660_FS=n
CONFIG_RD_BZIP2=n
CONFIG_SPI_CADENCE_QUADSPI=n
CONFIG_HAVE_PERF_REGS=n
CONFIG_TIME_NS=n
CONFIG_CRC_OPTIMIZATIONS=n
CONFIG_SECURITY_APPARMOR=n
CONFIG_ARCH_SUPPORTS_UPROBES=n
CONFIG_NF_LOG_SYSLOG=n
CONFIG_PM_SLEEP=n
CONFIG_THERMAL_DEFAULT_GOV_STEP_WISE=n
CONFIG_CPU_FREQ_DEFAULT_GOV_PERFORMANCE=n
CONFIG_GENERIC_PHY_MIPI_DPHY=n
CONFIG_EXT4_USE_FOR_EXT2=n
CONFIG_USB_CONFIGFS_EEM=n
CONFIG_SERIAL_MCTRL_GPIO=n
CONFIG_SCHED_HRTICK=n
CONFIG_HAVE_IRQ_TIME_ACCOUNTING=n
CONFIG_NET_VENDOR_CISCO=n
CONFIG_XOR_BLOCKS=n
CONFIG_RD_LZO=n
CONFIG_PCIE_STARFIVE_HOST=n
CONFIG_USB_UAS=n
CONFIG_NET_9P=n
CONFIG_UPROBES=n
CONFIG_SUNRPC=n
CONFIG_DRM_PANEL_ORIENTATION_QUIRKS=n
CONFIG_VT_CONSOLE=n
CONFIG_DUMMY=n
CONFIG_FTRACE=n
CONFIG_PNFS_FLEXFILE_LAYOUT=n
CONFIG_CC_HAS_WORKING_NOSANITIZE_ADDRESS=n
CONFIG_SPI_SPACEMIT_K1=n
CONFIG_FB_CFB_FILLRECT=n
CONFIG_PM_CLK=n
CONFIG_NVMEM=n
CONFIG_SERIAL_8250_DMA=n
CONFIG_MACVLAN=n
CONFIG_VIDEO_V4L2_I2C=n
CONFIG_LZO_DECOMPRESS=n
CONFIG_PNP_DEBUG_MESSAGES=n
CONFIG_SPARSEMEM_VMEMMAP=n
CONFIG_DRM_CLIENT_SETUP=n
CONFIG_GENERIC_SYSCALL=n
CONFIG_FSNOTIFY=n
CONFIG_ARCH_SUPPORTS_CRASH_DUMP=n
CONFIG_PM_GENERIC_DOMAINS=n
CONFIG_EXT4_FS=n
CONFIG_V4L2_FWNODE=n
CONFIG_USB_EHCI_HCD=n
CONFIG_SPACEMIT_CCU=n
CONFIG_SCHED_MC=n
CONFIG_BLK_DEV_BSG_COMMON=n
CONFIG_RAID6_PQ=n
CONFIG_INPUT_MOUSEDEV=n
CONFIG_CRYPTO_ECHAINIV=n
CONFIG_USB_STORAGE=n
CONFIG_ARCH_USE_MEMREMAP_PROT=n
CONFIG_CRYPTO_SHA256=n
CONFIG_NET_VENDOR_RDC=n
CONFIG_FW_CACHE=n
CONFIG_CPU_MITIGATIONS=n
CONFIG_LZ4_DECOMPRESS=n
CONFIG_POWER_RESET_GPIO_RESTART=n
CONFIG_RISCV_NONSTANDARD_CACHE_OPS=n
CONFIG_DEBUG_BUGVERBOSE=n
CONFIG_TOOLCHAIN_HAS_V=n
CONFIG_FS_MBCACHE=n
CONFIG_IO_URING=n
CONFIG_LD_ORPHAN_WARN=n
CONFIG_DW_AXI_DMAC=n
CONFIG_ROOT_NFS=n
CONFIG_SPARSEMEM_MANUAL=n
CONFIG_SECURITY_APPARMOR_INTROSPECT_POLICY=n
CONFIG_USB_F_EEM=n
CONFIG_USB_CDNS3_STARFIVE=n
CONFIG_CLK_SIFIVE_PRCI=n
CONFIG_GENERIC_NET_UTILS=n
CONFIG_MOUSE_PS2_ALPS=n
CONFIG_FB=n
CONFIG_ARCH_HAS_ELF_RANDOMIZE=n
CONFIG_NET_XGRESS=n
CONFIG_NET_VENDOR_DLINK=n
CONFIG_ASSOCIATIVE_ARRAY=n
CONFIG_XARRAY_MULTI=n
CONFIG_USB_F_RNDIS=n
CONFIG_FB_DEFERRED_IO=n
CONFIG_NET_VENDOR_HISILICON=n
CONFIG_NET_VENDOR_OKI=n
CONFIG_NF_DEFRAG_IPV4=n
CONFIG_MULTIUSER=n
CONFIG_INTERVAL_TREE=n
CONFIG_INPUT=n
CONFIG_TRACE_IRQFLAGS_SUPPORT=n
CONFIG_LOCKD_V4=n
CONFIG_RTC_NVMEM=n
CONFIG_DEBUG_MISC=n
CONFIG_OF=n
CONFIG_SECURITY_SELINUX=n
CONFIG_ARCH_HAVE_NMI_SAFE_CMPXCHG=n
CONFIG_ARCH_DEFAULT_CRASH_DUMP=n
CONFIG_NFS_USE_KERNEL_DNS=n
CONFIG_TOOLCHAIN_HAS_ZBB=n
CONFIG_CRC_CCITT=n
CONFIG_ACPI_DEBUG=n
CONFIG_GENERIC_PCI_IOMAP=n
CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE=n
CONFIG_CRYPTO_LIB_GF128HASH=n
CONFIG_GENERIC_PINMUX_FUNCTIONS=n
CONFIG_NETLINK_DIAG=n
CONFIG_EXT4_FS_POSIX_ACL=n
CONFIG_PHY_STARFIVE_JH7110_PCIE=n
CONFIG_MOUSE_PS2_FOCALTECH=n
CONFIG_FRAME_POINTER=n
CONFIG_GENERIC_CSUM=n
CONFIG_LEGACY_PTYS=n
CONFIG_VMAP_STACK=n
CONFIG_REGMAP_MMIO=n
CONFIG_INITRAMFS_PRESERVE_MTIME=n
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST=n
CONFIG_GRACE_PERIOD=n
CONFIG_HWMON=n
CONFIG_RISCV_APLIC_MSI=n
CONFIG_ARCH_SPARSEMEM_ENABLE=n
CONFIG_RISCV_SBI_MPXY_MBOX=n
CONFIG_GENERIC_BITREVERSE=n
CONFIG_PHY_STARFIVE_JH7110_DPHY_RX=n
CONFIG_ARCH_HAS_CURRENT_STACK_POINTER=n
CONFIG_I2C_MUX=n
CONFIG_ARCH_ENABLE_HUGEPAGE_MIGRATION=n
CONFIG_PATA_TIMINGS=n
CONFIG_MTD_SPI_NOR_SWP_DISABLE_ON_VOLATILE=n
CONFIG_HRTIMER_REARM_DEFERRED=n
CONFIG_SECURITYFS=n
CONFIG_MSDOS_PARTITION=n
CONFIG_XZ_DEC_POWERPC=n
CONFIG_SUNXI_CCU=n
CONFIG_SERIAL_EARLYCON=n
CONFIG_NETWORK_SECMARK=n
CONFIG_DRM_NOUVEAU=n
CONFIG_SND_DESIGNWARE_I2S=n
CONFIG_CLKSRC_MMIO=n
CONFIG_DMA_NEED_SYNC=n
CONFIG_HDMI=n
CONFIG_NET_VENDOR_ARC=n
CONFIG_XZ_DEC_X86=n
CONFIG_ACPI_RIMT=n
CONFIG_PINCTRL_STARFIVE_JH7110=n
CONFIG_PINCTRL=n
CONFIG_MISC_FILESYSTEMS=n
CONFIG_INIT_STACK_ALL_ZERO=n
CONFIG_GENERIC_CLOCKEVENTS=n
CONFIG_ARCH_ANDES=n
CONFIG_DMIID=n
CONFIG_RISCV_ISA_ZICBOM=n
CONFIG_HAVE_PCI=n
CONFIG_HAVE_ARCH_KFENCE=n
CONFIG_CRYPTO_LIB_BLAKE2B=n
CONFIG_NETFILTER_XT_MATCH_CONNTRACK=n
CONFIG_CPU_IDLE=n
CONFIG_FILE_LOCKING=n
CONFIG_NVMEM_LAYOUTS=n
CONFIG_ACPI_PPTT=n
CONFIG_CGROUP_DEVICE=n
CONFIG_NET_VENDOR_SOCIONEXT=n
CONFIG_SOCK_RX_QUEUE_MAPPING=n
CONFIG_MICROSEMI_PHY=n
CONFIG_DEBUG_FS_ALLOW_ALL=n
CONFIG_NET_VENDOR_DEC=n
CONFIG_WLAN_VENDOR_RALINK=n
CONFIG_ARCH_WANT_OPTIMIZE_HUGETLB_VMEMMAP=n
CONFIG_ARCH_SUPPORTS_PER_VMA_LOCK=n
CONFIG_DWMAC_GENERIC=n
CONFIG_SND_DRIVERS=n
CONFIG_NETFILTER_FAMILY_BRIDGE=n
CONFIG_NET_VENDOR_I825XX=n
CONFIG_CPU_FREQ_GOV_USERSPACE=n
CONFIG_NFS_V4_SECURITY_LABEL=n
CONFIG_VIRTIO_BALLOON=n
CONFIG_CRYPTO_ALGAPI2=n
CONFIG_RISCV_ISA_VENDOR_EXT_MIPS=n
CONFIG_NET_VENDOR_BROCADE=n
CONFIG_CAN_NETLINK=n
CONFIG_ARCH_SIFIVE=n
CONFIG_USB_F_FS=n
CONFIG_HAVE_ASM_MODVERSIONS=n
CONFIG_CACHEMAINT_FOR_DMA=n
CONFIG_CLK_STARFIVE_JH7110_ISP=n
CONFIG_HVC_DRIVER=n
CONFIG_RUNTIME_KERNEL_TESTING_MENU=n
