CONFIG_I2C_APPLE=n
CONFIG_REMOTEPROC=n
CONFIG_RTC_DRV_BQ32K=n
CONFIG_EDAC_LAYERSCAPE=n
CONFIG_SND_PCM_TIMER=n
CONFIG_IMX7ULP_WDT=n
CONFIG_NUMA_BALANCING=n
CONFIG_MHP_MEMMAP_ON_MEMORY=n
CONFIG_USB_PHY=n
CONFIG_ARM64_MTE=n
CONFIG_SWPHY=n
CONFIG_ARM_DMC620_PMU=n
CONFIG_DCACHE_WORD_ACCESS=n
CONFIG_POWER_RESET_SYSCON=n
CONFIG_XEN_SCRUB_PAGES_DEFAULT=n
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO_BARE=n
CONFIG_RTC_CLASS=n
CONFIG_ARM64_HW_AFDBM=n
CONFIG_SND_SOC_TEGRA=n
CONFIG_SA_CAMCC_8775P=n
CONFIG_FS_MBCACHE=n
CONFIG_OF_EARLY_FLATTREE=n
CONFIG_DRM_MEDIATEK_DP=n
CONFIG_DWMAC_SUN55I=n
CONFIG_HAVE_ARCH_JUMP_LABEL_RELATIVE=n
CONFIG_SND_SOC_RT1015P=n
CONFIG_ARM64_ERRATUM_1319367=n
CONFIG_PHY_QCOM_QMP_PCIE_8996=n
CONFIG_MESON_GXL_PHY=n
CONFIG_FUSE_FS=n
CONFIG_SQUASHFS_COMPILE_DECOMP_SINGLE=n
CONFIG_FS_POSIX_ACL=n
CONFIG_MTD_BLKDEVS=n
CONFIG_CHROMEOS_OF_HW_PROBER=n
CONFIG_USB_EHCI_HCD_NPCM7XX=n
CONFIG_MVEBU_ICU=n
CONFIG_DRM_MSM_HDMI=n
CONFIG_HID_GENERIC=n
CONFIG_PCIE_ROCKCHIP_DW_HOST=n
CONFIG_MESON_SM=n
CONFIG_XENFS=n
CONFIG_RD_BZIP2=n
CONFIG_SERIAL_MSM_CONSOLE=n
CONFIG_PREEMPT_NOTIFIERS=n
CONFIG_QCOM_SPMI_ADC5=n
CONFIG_SND_SOC_COMPRESS=n
CONFIG_SND_SOC_RK3399_GRU_SOUND=n
CONFIG_SERIAL_8250_TEGRA=n
CONFIG_PINCTRL_RTD1315E=n
CONFIG_PINCTRL_SC8280XP_LPASS_LPI=n
CONFIG_COMMON_CLK_MT8186_IMP_IIC_WRAP=n
CONFIG_PCI_QUIRKS=n
CONFIG_MMC_SDHCI_IPROC=n
CONFIG_ARCH_R8A78000=n
CONFIG_VT_CONSOLE=n
CONFIG_USB_ROLE_SWITCH=n
CONFIG_SND_SOC_TEGRA210_ADMAIF=n
CONFIG_PHYLIB=n
CONFIG_ROCKCHIP_SARADC=n
CONFIG_CAVIUM_ERRATUM_30115=n
CONFIG_USB_DWC3_MESON_G12A=n
CONFIG_USB_TEGRA_PHY=n
CONFIG_PINCTRL_PFC_R8A77970=n
CONFIG_LZO_DECOMPRESS=n
CONFIG_BT_LEDS=n
CONFIG_ARCH_HAS_DEBUG_VM_PGTABLE=n
CONFIG_CLK_IMX8MQ=n
CONFIG_OVERLAY_FS=n
CONFIG_DMI=n
CONFIG_MAC80211_LEDS=n
CONFIG_DRM_DISPLAY_HDMI_STATE_HELPER=n
CONFIG_OVERLAY_FS_REDIRECT_ALWAYS_FOLLOW=n
CONFIG_ARM64_ERRATUM_2966298=n
CONFIG_REGMAP_SLIMBUS=n
CONFIG_EXT4_USE_FOR_EXT2=n
CONFIG_SND_SOC_ADAU7002=n
CONFIG_SM_GPUCC_8450=n
CONFIG_DMA_ENGINE=n
CONFIG_RSI_SDIO=n
CONFIG_INDIRECT_PIO=n
CONFIG_ARM64_CONTPTE=n
CONFIG_CLK_SOPHGO_CV1800=n
CONFIG_PHY_MTK_TPHY=n
CONFIG_CLK_UNIPHIER=n
CONFIG_CLK_R8A774A1=n
CONFIG_SM_CAMCC_6350=n
CONFIG_ASPEED_UART_ROUTING=n
CONFIG_LEDS_TRIGGER_CPU=n
CONFIG_PINCTRL_UNIPHIER=n
CONFIG_SND_MESON_AXG_TDMIN=n
CONFIG_CRC64=n
CONFIG_ATL1C=n
CONFIG_MTD_NAND_FSL_IFC=n
CONFIG_MAGIC_SYSRQ_SERIAL=n
CONFIG_INTERCONNECT_QCOM_SC7280=n
CONFIG_GPIO_GENERIC_PLATFORM=n
CONFIG_PINCTRL_SM8750=n
CONFIG_PHY_MTK_DP=n
CONFIG_ARCH_KEEMBAY=n
CONFIG_QCOM_QMI_HELPERS=n
CONFIG_CRYPTO_LIB_SHA512_ARCH=n
CONFIG_CRYPTO_LIB_SHA256=n
CONFIG_MEDIA_TUNER_SIMPLE=n
CONFIG_ASYNC_TX_DISABLE_PQ_VAL_DMA=n
CONFIG_VT=n
CONFIG_PINCTRL_ELIZA=n
CONFIG_PCPU_DEV_REFCNT=n
CONFIG_SERIAL_8250_UNIPHIER=n
CONFIG_ARCH_THUNDER2=n
CONFIG_IMX_SC_THERMAL=n
CONFIG_VFIO_IOMMU_TYPE1=n
CONFIG_SERIAL_DEV_CTRL_TTYPORT=n
CONFIG_DP83869_PHY=n
CONFIG_I2C_SLAVE=n
CONFIG_SYSC_R8A774A1=n
CONFIG_WWAN_DEBUGFS=n
CONFIG_FPGA_MGR_ALTERA_CVP=n
CONFIG_CEC_NXP_TDA9950=n
CONFIG_KVM_MMIO=n
CONFIG_RTC_DRV_MAX77686=n
CONFIG_ARM_GIC_PM=n
CONFIG_ARM_SMMU=n
CONFIG_TCG_TIS_SPI_CR50=n
CONFIG_CROS_EC_RPMSG=n
CONFIG_REGMAP_SPMI=n
CONFIG_IP_PNP=n
CONFIG_RPS=n
CONFIG_IPMI_PLAT_DATA=n
CONFIG_STP=n
CONFIG_V4L_PLATFORM_DRIVERS=n
CONFIG_MFD_STM32_TIMERS=n
CONFIG_RANDOMIZE_MODULE_REGION_FULL=n
CONFIG_USB_SERIAL=n
CONFIG_HW_RANDOM_ARM_SMCCC_TRNG=n
CONFIG_COMMON_CLK_MESON_MPLL=n
CONFIG_PINCTRL_SUNXI=n
CONFIG_SCREEN_INFO=n
CONFIG_USB_F_RNDIS=n
CONFIG_VIDEO=n
CONFIG_AT803X_PHY=n
CONFIG_ROCKCHIP_CDN_DP=n
CONFIG_TEE_DMABUF_HEAPS=n
CONFIG_ARCH_R9A07G054=n
CONFIG_PINCTRL_MT7981=n
CONFIG_BROADCOM_PHY=n
CONFIG_OMAP_USB2=n
CONFIG_PINCTRL_PFC_R8A77960=n
CONFIG_NET_SCHED=n
CONFIG_SND_SOC_SOF_COMPRESS=n
CONFIG_DRM_INNO_HDMI=n
CONFIG_DRM_GEM_DMA_HELPER=n
CONFIG_RESET_CONTROLLER=n
CONFIG_MFD_SL28CPLD=n
CONFIG_REGMAP_I2C=n
CONFIG_BCM54140_PHY=n
CONFIG_CLK_BCM_SR=n
CONFIG_MTD_SPI_NAND=n
CONFIG_COMMON_CLK_MT8196=n
CONFIG_PHY_MESON_AXG_PCIE=n
CONFIG_COMMON_CLK_IPROC=n
CONFIG_SMSC_PHY=n
CONFIG_DRM_NWL_MIPI_DSI=n
CONFIG_ARCH_LG1K=n
CONFIG_ARM64_BRBE=n
CONFIG_PGTABLE_HAS_HUGE_LEAVES=n
CONFIG_IPQ_APSS_5424=n
CONFIG_CRYPTO_ZSTD=n
CONFIG_SERIAL_8250_PERICOM=n
CONFIG_OF_OVERLAY=n
CONFIG_QCOM_PDR_MSG=n
CONFIG_KERNFS=n
CONFIG_ARCH_R8A77995=n
CONFIG_DWMAC_MESON=n
CONFIG_CHROME_PLATFORMS=n
CONFIG_USB_OHCI_HCD_PCI=n
CONFIG_ARCH_SUPPORTS_ACPI=n
CONFIG_AUTOFS_FS=n
CONFIG_MDIO_THUNDER=n
CONFIG_NFC=n
CONFIG_COMMON_CLK_RP1=n
CONFIG_CROS_EC_DEBUGFS=n
CONFIG_E1000=n
CONFIG_SND_SOC_ROCKCHIP_SPDIF=n
CONFIG_SND_HDA_CODEC_HDMI_SIMPLE=n
CONFIG_INPUT_RK805_PWRKEY=n
CONFIG_VIRTIO_BLK=n
CONFIG_SERIAL_8250_DMA=n
CONFIG_MSM_GCC_8996=n
CONFIG_IMX8MM_THERMAL=n
CONFIG_QCOM_COINCELL=n
CONFIG_FB_CFB_FILLRECT=n
CONFIG_MV_XOR_V2=n
CONFIG_PM_SLEEP_SMP=n
CONFIG_HAVE_ARCH_KASAN_VMALLOC=n
CONFIG_ARCH_DMA_ADDR_T_64BIT=n
CONFIG_FAT_FS=n
CONFIG_TIMERFD=n
CONFIG_SYS_R9A09G057=n
CONFIG_COMPACTION=n
CONFIG_BLK_DEV_BSG_COMMON=n
CONFIG_IPQ_GCC_8074=n
CONFIG_PHY_QCOM_QUSB2=n
CONFIG_PCI_ECAM=n
CONFIG_I2C_HID_CORE=n
CONFIG_SND_SOC_DA7219=n
CONFIG_GENERIC_CPU_VULNERABILITIES=n
CONFIG_BLOCK=n
CONFIG_SENSORS_AMC6821=n
CONFIG_VIRT_XFER_TO_GUEST_WORK=n
CONFIG_ARM64_4K_PAGES=n
CONFIG_INET_DIAG=n
CONFIG_DRM_TIDSS=n
CONFIG_SYS_SUPPORTS_SH_CMT=n
CONFIG_SH_ETH=n
CONFIG_DRM_LONTIUM_LT8912B=n
CONFIG_ARM64_SME=n
CONFIG_RESET_RASPBERRYPI=n
CONFIG_PHY_QCOM_PCIE2=n
CONFIG_MMC_SDHCI_BST=n
CONFIG_NET_SCH_ETF=n
CONFIG_CRYPTO_ALGAPI2=n
CONFIG_ARCH_HAS_FORTIFY_SOURCE=n
CONFIG_MFD_SPMI_PMIC=n
CONFIG_MTK_PMIC_WRAP=n
CONFIG_EXYNOS_THERMAL=n
CONFIG_ARM_GIC_ITS_PARENT=n
CONFIG_REGULATOR_ARM_SCMI=n
CONFIG_NET_VENDOR_HISILICON=n
CONFIG_CRYPTO_DEV_QCE_ENABLE_ALL=n
CONFIG_PHY_FSL_IMX8M_PCIE=n
CONFIG_MFD_RK8XX=n
CONFIG_COMMON_CLK_QCOM=n
CONFIG_FB_EFI=n
CONFIG_SC_GPUCC_8280XP=n
CONFIG_XEN_COMPAT_XENFS=n
CONFIG_SND_SOC_TEGRA_AUDIO_GRAPH_CARD=n
CONFIG_STACKPROTECTOR=n
CONFIG_FRAMEBUFFER_CONSOLE=n
CONFIG_V4L2_JPEG_HELPER=n
CONFIG_QCOM_CPUCP_MBOX=n
CONFIG_MARVELL_10G_PHY=n
CONFIG_MDIO_BUS_MUX_BCM_IPROC=n
CONFIG_BLK_CGROUP=n
CONFIG_PTP_1588_CLOCK_QORIQ=n
CONFIG_NET_CORE=n
CONFIG_CRYPTO_ECDH=n
CONFIG_CPU_ISOLATION=n
CONFIG_NET_SELFTESTS=n
CONFIG_SENSORS_RASPBERRYPI_HWMON=n
CONFIG_TI_K3_PSIL=n
CONFIG_MARVELL_88Q2XXX_PHY=n
CONFIG_SND_SOC_PCM3168A=n
CONFIG_MLX5_ESWITCH=n
CONFIG_DW_APB_ICTL=n
CONFIG_HW_RANDOM_OMAP=n
CONFIG_PCIE_MOBIVEIL_HOST=n
CONFIG_SCSI_COMMON=n
CONFIG_RUSTC_SUPPORTS_ARM64=n
CONFIG_GCC_SUPPORTS_DYNAMIC_FTRACE_WITH_ARGS=n
CONFIG_EXYNOS_ACPM_CLK=n
CONFIG_KEYBOARD_GPIO_POLLED=n
CONFIG_CRYPTO_LIB_GF128HASH_ARCH=n
CONFIG_PINCTRL_SUN50I_H6=n
CONFIG_ARM64_ERRATUM_827319=n
CONFIG_CROS_EC_PROTO=n
CONFIG_SND_HDA_CODEC_HDMI_NVIDIA=n
CONFIG_SOC_IMX9=n
CONFIG_DP83TG720_PHY=n
CONFIG_SDM_CAMCC_845=n
CONFIG_PKCS7_MESSAGE_PARSER=n
CONFIG_TAP=n
CONFIG_PINCTRL_SAMSUNG=n
CONFIG_CRYPTO_DEFLATE=n
CONFIG_MEMTEST=n
CONFIG_TI_SCI_INTA_IRQCHIP=n
CONFIG_ARM_AMBA=n
CONFIG_NFS_USE_KERNEL_DNS=n
CONFIG_SPI_ROCKCHIP=n
CONFIG_PHY_CADENCE_SALVO=n
CONFIG_SHMEM=n
CONFIG_AHCI_CEVA=n
CONFIG_SND_SOC_WCD9335=n
CONFIG_NET_VENDOR_XILINX=n
CONFIG_COMMON_CLK_MT8192=n
CONFIG_GNSS_MTK_SERIAL=n
CONFIG_ARCH_ENABLE_SPLIT_PMD_PTLOCK=n
CONFIG_ACPI_PCC=n
CONFIG_ARM64_ERRATUM_858921=n
CONFIG_MAILBOX=n
CONFIG_COMMON_CLK_GXBB=n
CONFIG_RPMSG_QCOM_GLINK_SMEM=n
CONFIG_HI3660_MBOX=n
CONFIG_SND_SOC_SOF_OF=n
CONFIG_CRYPTO_RNG2=n
CONFIG_SENSORS_LM90=n
CONFIG_PCI_IMX6_HOST=n
CONFIG_ACPI_CPPC_CPUFREQ_FIE=n
CONFIG_PM_DEVFREQ_EVENT=n
CONFIG_PINCTRL_MTK=n
CONFIG_COMPAT_32BIT_TIME=n
