CONFIG_POWER_SUPPLY=n
CONFIG_VIDEO=n
CONFIG_BRANCH_PROFILE_NONE=n
CONFIG_E1000=n
CONFIG_THERMAL_GOV_STEP_WISE=n
CONFIG_DST_CACHE=n
CONFIG_UNINLINE_SPIN_UNLOCK=n
CONFIG_NETFILTER_XT_TARGET_NFLOG=n
CONFIG_UCS2_STRING=n
CONFIG_HID_PETALYNX=n
CONFIG_VIRTUALIZATION=n
CONFIG_NET_HANDSHAKE=n
CONFIG_GCC_NO_STRINGOP_OVERFLOW=n
CONFIG_SERIAL_8250_DMA=n
CONFIG_NET_VENDOR_ARC=n
CONFIG_DEBUG_KERNEL=n
CONFIG_ARCH_HAS_DEVMEM_IS_ALLOWED=n
CONFIG_ACPI_BGRT=n
CONFIG_SND_HDA=n
CONFIG_DEBUG_MISC=n
CONFIG_PAGE_SIZE_LESS_THAN_256KB=n
CONFIG_CRYPTO_SKCIPHER=n
CONFIG_NF_DEFRAG_IPV4=n
CONFIG_ARCH_HAS_PREEMPT_LAZY=n
CONFIG_CRYPTO_CCM=n
CONFIG_EDAC_ATOMIC_SCRUB=n
CONFIG_SLUB=n
CONFIG_CRC16=n
CONFIG_X86_ACPI_CPUFREQ=n
CONFIG_CRYPTO_LIB_GF128HASH=n
CONFIG_NLS_CODEPAGE_437=n
CONFIG_X86_CPUID=n
CONFIG_NET_VENDOR_SEEQ=n
CONFIG_SND_PCI=n
CONFIG_MEMBARRIER=n
CONFIG_CRC_OPTIMIZATIONS=n
CONFIG_KEYS=n
CONFIG_LD_IS_BFD=n
CONFIG_CGROUPS=n
CONFIG_SECRETMEM=n
CONFIG_GCC_PLUGINS=n
CONFIG_NET_NS=n
CONFIG_HOTPLUG_CPU=n
CONFIG_PAGE_SIZE_4KB=n
CONFIG_HAVE_OBJTOOL=n
CONFIG_HVC_DRIVER=n
CONFIG_NF_CONNTRACK_FTP=n
CONFIG_XZ_DEC_RISCV=n
CONFIG_WLAN_VENDOR_SILABS=n
CONFIG_MITIGATION_SRBDS=n
CONFIG_MQ_IOSCHED_KYBER=n
CONFIG_DRM_DISPLAY_DSC_HELPER=n
CONFIG_USB_ANNOUNCE_NEW_DEVICES=n
CONFIG_PATA_SCH=n
CONFIG_MITIGATION_GDS=n
CONFIG_NET_VENDOR_META=n
CONFIG_X86_INTEL_PSTATE=n
CONFIG_NEED_SG_DMA_LENGTH=n
CONFIG_TMPFS=n
CONFIG_SERIO_SERPORT=n
CONFIG_QUOTA_TREE=n
CONFIG_HAVE_RELIABLE_STACKTRACE=n
CONFIG_VT_CONSOLE=n
CONFIG_NLS_ASCII=n
CONFIG_DMA_ACPI=n
CONFIG_X86_IOPL_IOPERM=n
CONFIG_MAC80211_LEDS=n
CONFIG_PACKET=n
CONFIG_ARCH_HAS_MEMBARRIER_SYNC_CORE=n
CONFIG_PROC_SYSCTL=n
CONFIG_HW_RANDOM=n
CONFIG_MITIGATION_L1TF=n
CONFIG_DRM_I915_CAPTURE_ERROR=n
CONFIG_LZO_COMPRESS=n
CONFIG_INOTIFY_USER=n
CONFIG_NET_VENDOR_MICREL=n
CONFIG_MD=n
CONFIG_DEBUG_FS=n
CONFIG_ARCH_SUPPORTS_KEXEC_SIG_FORCE=n
CONFIG_I2C_I801=n
CONFIG_XZ_DEC_ARMTHUMB=n
CONFIG_HAVE_VIRT_CPU_ACCOUNTING_GEN=n
CONFIG_HAVE_ARCH_PREL32_RELOCATIONS=n
CONFIG_LOCKDEP_SUPPORT=n
CONFIG_EPROBE_EVENTS=n
CONFIG_INTEL_TCC=n
CONFIG_SND_DRIVERS=n
CONFIG_IOMMU_IOVA=n
CONFIG_TRACEFS_AUTOMOUNT_DEPRECATED=n
CONFIG_ARCH_HAVE_EXTRA_ELF_NOTES=n
CONFIG_RPS=n
CONFIG_PERF_EVENTS_INTEL_UNCORE=n
CONFIG_TASK_XACCT=n
CONFIG_STANDALONE=n
CONFIG_NET_VENDOR_HISILICON=n
CONFIG_ARCH_HAS_CPU_FINALIZE_INIT=n
CONFIG_ARCH_HAVE_NMI_SAFE_CMPXCHG=n
CONFIG_CRYPTO_HMAC=n
CONFIG_MPILIB=n
CONFIG_SG_POOL=n
CONFIG_XFRM_AH=n
CONFIG_KCMP=n
CONFIG_MODULE_FORCE_UNLOAD=n
CONFIG_SLUB_DEBUG=n
CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE=n
CONFIG_CALL_THUNKS=n
CONFIG_GENERIC_PCI_IOMAP=n
CONFIG_AS_HAS_NON_CONST_ULEB128=n
CONFIG_TRACE_IRQFLAGS_NMI_SUPPORT=n
CONFIG_ATA_PIIX=n
CONFIG_IRQ_FORCED_THREADING=n
CONFIG_PROC_VMCORE=n
CONFIG_SERIAL_CORE_CONSOLE=n
CONFIG_MODULES=n
CONFIG_NO_HZ_COMMON=n
CONFIG_HAS_IOPORT_MAP=n
CONFIG_HAVE_SOFTIRQ_ON_OWN_STACK=n
CONFIG_XFRM_USER=n
CONFIG_X86_DISABLED_FEATURE_USER_SHSTK=n
CONFIG_FUTEX=n
CONFIG_SERIAL_8250_PCILIB=n
CONFIG_SPARSEMEM_VMEMMAP_ENABLE=n
CONFIG_RTC_INTF_PROC=n
CONFIG_PANTHERLORD_FF=n
CONFIG_CORE_DUMP_DEFAULT_ELF_HEADERS=n
CONFIG_ARCH_SUPPORTS_KEXEC_SIG=n
CONFIG_NET_DEVMEM=n
CONFIG_FUTEX_MPOL=n
CONFIG_SND_HDA_COMPONENT=n
CONFIG_MITIGATION_ITS=n
CONFIG_DMIID=n
CONFIG_GENERIC_ENTRY=n
CONFIG_EXT4_USE_FOR_EXT2=n
CONFIG_NET_VENDOR_BROCADE=n
CONFIG_ARCH_WANT_HUGETLB_VMEMMAP_PREINIT=n
CONFIG_X86_VMX_FEATURE_NAMES=n
CONFIG_HAVE_UACCESS_VALIDATION=n
CONFIG_THERMAL=n
CONFIG_WLAN_VENDOR_ST=n
CONFIG_CPU_ISOLATION=n
CONFIG_CRYPTO_HASH=n
CONFIG_NF_NAT_MASQUERADE=n
CONFIG_NET_VENDOR_STMICRO=n
CONFIG_ARCH_VMLINUX_NEEDS_RELOCS=n
CONFIG_FW_CACHE=n
CONFIG_ARCH_SUPPORTS_HUGETLBFS=n
CONFIG_X86_REQUIRED_FEATURE_PGE=n
CONFIG_RANDOMIZE_KSTACK_OFFSET=n
CONFIG_SND_INTEL_DSP_CONFIG=n
CONFIG_CRYPTO_GENIV=n
CONFIG_ARCH_SUPPORTS_KEXEC_PURGATORY=n
CONFIG_LD_ORPHAN_WARN=n
CONFIG_WLAN_VENDOR_ADMTEK=n
CONFIG_NET_VENDOR_ENGLEDER=n
CONFIG_MAILBOX=n
CONFIG_HAVE_EBPF_JIT=n
CONFIG_ARCH_HAS_KERNEL_FPU_SUPPORT=n
CONFIG_CRC32_ARCH=n
CONFIG_EARLY_PRINTK_DBGP=n
CONFIG_ARCH_SUPPORTS_KMAP_LOCAL_FORCE_MAP=n
CONFIG_SCSI_COMMON=n
CONFIG_HID_GENERIC=n
CONFIG_USB_OHCI_HCD=n
CONFIG_INPUT_KEYBOARD=n
CONFIG_MITIGATION_CALL_DEPTH_TRACKING=n
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST_IDLE=n
CONFIG_LDISC_AUTOLOAD=n
CONFIG_ARCH_SUPPORTS_PER_VMA_LOCK=n
CONFIG_POSIX_TIMERS=n
CONFIG_EXPORTFS=n
CONFIG_NOINSTR_VALIDATION=n
CONFIG_BLK_CGROUP_IOLATENCY=n
CONFIG_ELFCORE=n
CONFIG_ARCH_SUPPORTS_KEXEC=n
CONFIG_HAVE_ARCH_KFENCE=n
CONFIG_NETDEVICES=n
CONFIG_COMPACTION=n
CONFIG_NF_CONNTRACK_SECMARK=n
CONFIG_DCACHE_WORD_ACCESS=n
CONFIG_USB=n
CONFIG_ARCH_WANT_DEFAULT_BPF_JIT=n
CONFIG_MOUSE_PS2_LIFEBOOK=n
CONFIG_HAVE_FUNCTION_ARG_ACCESS_API=n
CONFIG_IA32_EMULATION=n
CONFIG_SERIAL_NONSTANDARD=n
CONFIG_CC_HAS_SANE_FUNCTION_ALIGNMENT=n
CONFIG_ASN1=n
CONFIG_BLK_DEV_DM=n
CONFIG_MITIGATION_SSB=n
CONFIG_X86_MSR=n
CONFIG_STACKDEPOT=n
CONFIG_HAVE_KERNEL_LZMA=n
CONFIG_X86_DISABLED_FEATURE_ENQCMD=n
CONFIG_IOMMU_DMA=n
CONFIG_HOTPLUG_PCI=n
CONFIG_SERIAL_8250_RSA=n
CONFIG_PNP_DEBUG_MESSAGES=n
CONFIG_HAVE_HARDLOCKUP_DETECTOR_BUDDY=n
CONFIG_GENERIC_BUG=n
CONFIG_SND_PCM_TIMER=n
CONFIG_X86_IO_APIC=n
CONFIG_CRYPTO_HW=n
CONFIG_WLAN_VENDOR_INTEL=n
CONFIG_ACPI_SPCR_TABLE=n
CONFIG_SSB_POSSIBLE=n
CONFIG_NETLABEL=n
CONFIG_X86_X2APIC=n
CONFIG_USB_DEFAULT_PERSIST=n
CONFIG_DMADEVICES=n
CONFIG_PID_NS=n
CONFIG_SCHED_INFO=n
CONFIG_PNPACPI=n
CONFIG_RTC_NVMEM=n
CONFIG_RFKILL=n
CONFIG_IOMMU_IOPF=n
CONFIG_JOLIET=n
CONFIG_DRM_PANEL_BRIDGE=n
CONFIG_VIRTIO_PCI_LIB_LEGACY=n
CONFIG_ARCH_HAS_MEM_ENCRYPT=n
CONFIG_TRACEPOINTS=n
CONFIG_CC_HAS_NAMED_AS_FIXED_SANITIZERS=n
CONFIG_NET_VENDOR_MARVELL=n
CONFIG_PKCS7_MESSAGE_PARSER=n
CONFIG_CRYPTO_LZ4=n
CONFIG_MUTEX_SPIN_ON_OWNER=n
CONFIG_ISO9660_FS=n
CONFIG_YENTA_ENE_TUNE=n
CONFIG_NET_VENDOR_NI=n
CONFIG_TMPFS_POSIX_ACL=n
CONFIG_SERIAL_8250_CONSOLE=n
CONFIG_DEVPORT=n
CONFIG_STACKPROTECTOR_STRONG=n
CONFIG_PCI_MSI=n
CONFIG_PCIE_PME=n
CONFIG_LEGACY_TIOCSTI=n
CONFIG_CONTEXT_TRACKING_IDLE=n
CONFIG_I2C_ALGOBIT=n
CONFIG_DRM_DISPLAY_HDMI_HELPER=n
CONFIG_EARLY_PRINTK=n
CONFIG_ACPI_SLEEP=n
CONFIG_GENERIC_IRQ_RESERVATION_MODE=n
CONFIG_ACPI_SYSTEM_POWER_STATES_SUPPORT=n
CONFIG_CHR_DEV_SG=n
CONFIG_ARCH_WANT_GENERAL_HUGETLB=n
CONFIG_IO_WQ=n
CONFIG_ASYNC_KERNEL_PGTABLE_FREE=n
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_DIRECT_CALLS=n
CONFIG_AUDIT_ARCH=n
CONFIG_CRC_CCITT=n
CONFIG_IP6_NF_MATCH_IPV6HEADER=n
CONFIG_DECOMPRESS_XZ=n
CONFIG_IP_PNP_BOOTP=n
CONFIG_ACPI_MRRM=n
CONFIG_X86_DISABLED_FEATURE_FRED=n
CONFIG_PHY_PACKAGE=n
CONFIG_MITIGATION_RFDS=n
CONFIG_CPU_FREQ_DEFAULT_GOV_USERSPACE=n
CONFIG_UNIX=n
CONFIG_MITIGATION_SPECTRE_V1=n
CONFIG_COREDUMP=n
CONFIG_SECCOMP=n
CONFIG_CGROUP_DEBUG=n
CONFIG_CRYPTO_LIB_BLAKE2S_ARCH=n
CONFIG_NET_TULIP=n
CONFIG_NET_VENDOR_ALIBABA=n
CONFIG_X86_REQUIRED_FEATURE_ALWAYS=n
CONFIG_PM_TRACE=n
CONFIG_HID_SUPPORT=n
CONFIG_MAC80211_RC_DEFAULT_MINSTREL=n
CONFIG_CC_HAS_ASM_GOTO_TIED_OUTPUT=n
CONFIG_AGP_INTEL=n
CONFIG_X86_REQUIRED_FEATURE_MSR=n
CONFIG_ACPI_I2C_OPREGION=n
CONFIG_BLOCK_HOLDER_DEPRECATED=n
CONFIG_SWIOTLB=n
CONFIG_E1000E_HWTS=n
CONFIG_EFI_STUB=n
CONFIG_SCHED_MC_PRIO=n
CONFIG_FIB_RULES=n
CONFIG_QUOTACTL=n
CONFIG_ARCH_HAS_PMEM_API=n
CONFIG_HAVE_IRQ_TIME_ACCOUNTING=n
CONFIG_PCI_MMCONFIG=n
CONFIG_ARCH_HAS_GENERIC_CRASHKERNEL_RESERVATION=n
CONFIG_WLAN_VENDOR_MEDIATEK=n
CONFIG_HAVE_OPTPROBES=n
CONFIG_KALLSYMS=n
CONFIG_PCSPKR_PLATFORM=n
CONFIG_X86_CX8=n
CONFIG_CPU_IDLE_GOV_HALTPOLL=n
CONFIG_ACPI_PROCESSOR_CSTATE=n
CONFIG_X86_UMIP=n
CONFIG_X86_MCE_AMD=n
CONFIG_CC_HAS_ASM_GOTO_OUTPUT=n
CONFIG_NUMA=n
CONFIG_LTO_NONE=n
CONFIG_NFS_V3_ACL=n
CONFIG_KPROBES=n
CONFIG_CRYPTO_LIB_UTILS=n
CONFIG_NF_NAT_IRC=n
