CONFIG_DEBUG_INFO_COMPRESSED_NONE=n
CONFIG_ARM64_ERRATUM_2658417=n
CONFIG_BT_HCIBTUSB=n
CONFIG_HIBERNATION_SNAPSHOT_DEV=n
CONFIG_IPMI_PLAT_DATA=n
CONFIG_HAVE_MOVE_PUD=n
CONFIG_CRC32_ARCH=n
CONFIG_LEGACY_DIRECT_IO=n
CONFIG_ARM64_WORKAROUND_REPEAT_TLBI=n
CONFIG_DMABUF_HEAPS_SYSTEM=n
CONFIG_SM_GCC_8250=n
CONFIG_GENERIC_IRQ_KEXEC_CLEAR_VM_FORWARD=n
CONFIG_SND_SOC_MESON_T9015=n
CONFIG_VCHIQ_CDEV=n
CONFIG_CGROUPS=n
CONFIG_DRM_SAMSUNG_DSIM=n
CONFIG_ARCH_SUNXI=n
CONFIG_CRYPTO_SKCIPHER2=n
CONFIG_NXP_NETC_BLK_CTRL=n
CONFIG_REGMAP=n
CONFIG_BT_HIDP=n
CONFIG_COMMON_CLK_MT8186_IMP_IIC_WRAP=n
CONFIG_NOP_USB_XCEIV=n
CONFIG_FB_CFB_COPYAREA=n
CONFIG_BT_HCIRSI=n
CONFIG_COMMON_CLK_S4_PERIPHERALS=n
CONFIG_ARCH_HAS_SYNC_DMA_FOR_DEVICE=n
CONFIG_DMA_VIRTUAL_CHANNELS=n
CONFIG_COMMON_CLK_MT8173_MMSYS=n
CONFIG_I2C_HID_OF=n
CONFIG_IIO_KFIFO_BUF=n
CONFIG_ACPI_CPPC_CPUFREQ_FIE=n
CONFIG_PCI_ECAM=n
CONFIG_PHY_QCOM_QMP=n
CONFIG_GENERIC_PINCTRL_GROUPS=n
CONFIG_REGMAP_SLIMBUS=n
CONFIG_ARCH_R8A779A0=n
CONFIG_DM_MIRROR=n
CONFIG_RTC_DRV_SNVS=n
CONFIG_XILINX_DMA=n
CONFIG_BALLOON=n
CONFIG_LEDS_PCA9532=n
CONFIG_ARM64_WORKAROUND_SPECULATIVE_UNPRIV_LOAD=n
CONFIG_INPUT_PWM_BEEPER=n
CONFIG_INTERVAL_TREE=n
CONFIG_DMA_COHERENT_POOL=n
CONFIG_SC_GCC_7180=n
CONFIG_HAVE_MOD_ARCH_SPECIFIC=n
CONFIG_COMMON_CLK_MT8195_IMP_IIC_WRAP=n
CONFIG_CLKSRC_EXYNOS_MCT=n
CONFIG_COMMON_CLK_T7_PLL=n
CONFIG_BLK_DEV_NVME=n
CONFIG_USB_CDNS_SUPPORT=n
CONFIG_MTD_BLOCK=n
CONFIG_SND_SOC_APQ8016_SBC=n
CONFIG_PHY_BRCM_USB=n
CONFIG_DRM_MIPI_DSI=n
CONFIG_ZLIB_DEFLATE=n
CONFIG_BITREVERSE=n
CONFIG_LD_CAN_USE_KEEP_IN_OVERLAY=n
CONFIG_BLOCK_LEGACY_AUTOLOAD=n
CONFIG_TI_K3_PSIL=n
CONFIG_INTERCONNECT_QCOM_SM6115=n
CONFIG_DRM_RZG2L_MIPI_DSI=n
CONFIG_ARM64_CONTPTE=n
CONFIG_USB_MASS_STORAGE=n
CONFIG_PINCTRL_SM8450_LPASS_LPI=n
CONFIG_KALLSYMS=n
CONFIG_PINCTRL_MT7986=n
CONFIG_MOUSE_PS2=n
CONFIG_ARM_GIC_ITS_PARENT=n
CONFIG_SND_SOC_WM_HUBS=n
CONFIG_MEDIA_TUNER_XC4000=n
CONFIG_IO_URING_ZCRX=n
CONFIG_PHY_CADENCE_DPHY_RX=n
CONFIG_ARCH_XGENE=n
CONFIG_COMMON_CLK_HI3516CV300=n
CONFIG_SG_SPLIT=n
CONFIG_ARCH_DEFAULT_CRASH_DUMP=n
CONFIG_SND_SOC_RT5663=n
CONFIG_QORIQ_CPUFREQ=n
CONFIG_SND_SOC_SOF_COMPRESS=n
CONFIG_IMX_SCMI_BBM_EXT=n
CONFIG_PINCTRL_UNIPHIER=n
CONFIG_HOTPLUG_PCI_ACPI=n
CONFIG_CORESIGHT_SINK_ETBV10=n
CONFIG_HAVE_MOVE_PMD=n
CONFIG_SM_TCSRCC_8550=n
CONFIG_CLZ_TAB=n
CONFIG_MMC_SDHCI_F_SDH30=n
CONFIG_SND_SOC_MT8183=n
CONFIG_COMMON_RESET_HI3660=n
CONFIG_PINCTRL_PFC_R8A77970=n
CONFIG_SCSI_HISI_SAS_PCI=n
CONFIG_RANDOMIZE_MODULE_REGION_FULL=n
CONFIG_OPTEE_STATIC_PROTMEM_POOL=n
CONFIG_DEVFREQ_EVENT_ROCKCHIP_DFI=n
CONFIG_ARCH_ALPINE=n
CONFIG_SND_SOC_ES8328=n
CONFIG_SURFACE_PLATFORMS=n
CONFIG_XOR_BLOCKS_ARCH=n
CONFIG_DWMAC_VISCONTI=n
CONFIG_HOTPLUG_SMT=n
CONFIG_DRM_CLIENT_SETUP=n
CONFIG_VIDEO_AMPHION_VPU=n
CONFIG_SERIAL_8250_EM=n
CONFIG_MMC_TMIO_CORE=n
CONFIG_VFAT_FS=n
CONFIG_NEED_SG_DMA_FLAGS=n
CONFIG_QDU_GCC_1000=n
CONFIG_DRM_HISI_KIRIN=n
CONFIG_ARM_SCMI_TRANSPORT_OPTEE=n
CONFIG_SND_AUDIO_GRAPH_CARD2=n
CONFIG_SND_SOC_MT8195=n
CONFIG_SYS_R9A09G057=n
CONFIG_ARM_ALLWINNER_SUN50I_CPUFREQ_NVMEM=n
CONFIG_QCOM_SPMI_ADC5=n
CONFIG_PTP_1588_CLOCK_VMCLOCK=n
CONFIG_EEPROM_AT25=n
CONFIG_CLK_R8A779H0=n
CONFIG_PINCTRL_PFC_R8A77961=n
CONFIG_MPILIB=n
CONFIG_MEDIATEK_MT6577_AUXADC=n
CONFIG_CLK_X1P42100_CAMCC=n
CONFIG_IIO_ST_SENSORS_I2C=n
CONFIG_GPIO_MPC8XXX=n
CONFIG_PCI_MESON=n
CONFIG_THERMAL=n
CONFIG_CROS_EC_PROTO=n
CONFIG_ARCH_HAS_CACHE_LINE_SIZE=n
CONFIG_PCIE_BRCMSTB=n
CONFIG_GPIO_SHARED=n
CONFIG_TEGRA_SOCTHERM=n
CONFIG_POWER_SEQUENCING_QCOM_WCN=n
CONFIG_SND_SOC_USB=n
CONFIG_I2C_SLAVE=n
CONFIG_CRYPTO_CMAC=n
CONFIG_BT_HCIUART_SERDEV=n
CONFIG_PINCTRL_SUN55I_A523_R=n
CONFIG_CROS_USBPD_NOTIFY=n
CONFIG_SENSORS_ARM_SCMI=n
CONFIG_EFI_PARAMS_FROM_FDT=n
CONFIG_USB_ISP1760_DUAL_ROLE=n
CONFIG_ELF_CORE=n
CONFIG_MSM_GCC_8994=n
CONFIG_GENERIC_CALIBRATE_DELAY=n
CONFIG_QCOM_INLINE_CRYPTO_ENGINE=n
CONFIG_DRM_DISPLAY_HDMI_HELPER=n
CONFIG_PINCTRL_SUN8I_H3_R=n
CONFIG_PINCTRL_PFC_R8A77990=n
CONFIG_WLCORE_SDIO=n
CONFIG_SND_SOC_NAU8825=n
CONFIG_VIDEO_MEDIATEK_VCODEC_SCP=n
CONFIG_SM_TCSRCC_8750=n
CONFIG_PCIE_MEDIATEK_GEN3=n
CONFIG_THREAD_INFO_IN_TASK=n
CONFIG_PCIE_ALTERA=n
CONFIG_CFG80211_REQUIRE_SIGNED_REGDB=n
CONFIG_HAVE_NMI=n
CONFIG_CPU_LITTLE_ENDIAN=n
CONFIG_PHY_RCAR_GEN3_USB2=n
CONFIG_DRM_MALI_DISPLAY=n
CONFIG_SCHED_HW_PRESSURE=n
CONFIG_SND_SOC_SPDIF=n
CONFIG_INPUT_MOUSE=n
CONFIG_ACPI_THERMAL=n
CONFIG_FPGA_MGR_STRATIX10_SOC=n
CONFIG_CRYPTO_DEV_QCOM_RNG=n
CONFIG_FB_SYSMEM_FOPS=n
CONFIG_VIDEO_IMX8_ISI_M2M=n
CONFIG_SND_SOC_NAU8315=n
CONFIG_ARM_SCMI_QUIRKS=n
CONFIG_ARM_AIROHA_SOC_CPUFREQ=n
CONFIG_SYSTEMPORT=n
CONFIG_EVENTFD=n
CONFIG_GPIO_MAX77620=n
CONFIG_RAID_ATTRS=n
CONFIG_CLK_R9A09G011=n
CONFIG_MFD_SYSCON=n
CONFIG_NVMEM_SYSFS=n
CONFIG_STUB_CLK_HI6220=n
CONFIG_DMABUF_HEAPS_CMA=n
CONFIG_DRM_DW_HDMI_I2S_AUDIO=n
CONFIG_MMC=n
CONFIG_USB_F_OBEX=n
CONFIG_SPI_ZYNQMP_GQSPI=n
CONFIG_GPIO_MVEBU=n
CONFIG_XEN_GNTDEV=n
CONFIG_USB_CONFIGFS_F_FS=n
CONFIG_ARM_GIC=n
CONFIG_RANDSTRUCT_NONE=n
CONFIG_SND_SOC_SOF_IPC3=n
CONFIG_ARCH_WANT_COMPAT_IPC_PARSE_VERSION=n
CONFIG_SERIAL_MSM_CONSOLE=n
CONFIG_ZSTD_COMPRESS=n
CONFIG_PINCTRL_SOPHGO_COMMON=n
CONFIG_IR_GPIO_CIR=n
CONFIG_NET_DSA_TAG_BRCM_PREPEND=n
CONFIG_XOR_BLOCKS=n
CONFIG_CRYPTO_USER=n
CONFIG_USB_CONFIGFS_SERIAL=n
CONFIG_USB_DWC3_GENERIC_PLAT=n
CONFIG_USB_DWC2=n
CONFIG_PHY_MTK_PCIE=n
CONFIG_SLIM_QCOM_NGD_CTRL=n
CONFIG_PINCTRL_MT7988=n
CONFIG_IOMMU_IO_PGTABLE_LPAE=n
CONFIG_ARM_MEDIATEK_CCI_DEVFREQ=n
CONFIG_IIO_ST_LSM6DSX=n
CONFIG_SERIAL_SH_SCI_CONSOLE=n
CONFIG_SND_SOC_TLV320AIC3X_I2C=n
CONFIG_BCM74110_MAILBOX=n
CONFIG_COMMON_CLK_ASPEED=n
CONFIG_GPIO_CDEV=n
CONFIG_FB_IOMEM_HELPERS=n
CONFIG_FSL_DPAA_ETH=n
CONFIG_CONTEXT_TRACKING=n
CONFIG_SYS_SUPPORTS_SH_CMT=n
CONFIG_CEC_NXP_TDA9950=n
CONFIG_NET_RX_BUSY_POLL=n
CONFIG_BT_HCIBTUSB_RTL=n
CONFIG_CFG80211_USE_KERNEL_REGDB_KEYS=n
CONFIG_PWM_MEDIATEK=n
CONFIG_ARCH_HAS_SET_MEMORY=n
CONFIG_NET_DSA_BCM_SF2=n
CONFIG_SND_SOC_LPASS_MACRO_COMMON=n
CONFIG_ARCH_SUPPORTS_PER_VMA_LOCK=n
CONFIG_UCS2_STRING=n
CONFIG_COMMON_CLK_XLNX_CLKWZRD=n
CONFIG_MFD_STM32_TIMERS=n
CONFIG_HARDIRQS_SW_RESEND=n
CONFIG_DRM_POWERVR=n
CONFIG_XILINX_VCU=n
CONFIG_STUB_CLK_HI3660=n
CONFIG_DRM_I2C_NXP_TDA998X=n
CONFIG_COMMON_CLK_MT8365_VDEC=n
CONFIG_PWM_ROCKCHIP=n
CONFIG_I2C_SH_MOBILE=n
CONFIG_USB_ONBOARD_DEV=n
CONFIG_SND_SOC_SOF_OF=n
CONFIG_ARM_SCMI_HAVE_TRANSPORT=n
CONFIG_SOC_TEGRA_FLOWCTRL=n
CONFIG_USB_DWC3_OF_SIMPLE=n
CONFIG_COMMON_CLK_MT8365_MFG=n
CONFIG_TEGRA210_ADMA=n
CONFIG_REGULATOR_PF8X00=n
CONFIG_MAX9611=n
CONFIG_INTERCONNECT_QCOM_SC8280XP=n
CONFIG_RD_XZ=n
CONFIG_MFD_MAX77759=n
CONFIG_MFD_MAX77620=n
CONFIG_MT7921E=n
CONFIG_CLK_IMX8MQ=n
CONFIG_DRM_MSM_DP=n
CONFIG_LEDS_LM3692X=n
CONFIG_SND_SOC_ROCKCHIP_RT5645=n
CONFIG_USB_CDNS3=n
CONFIG_CROS_EC_I2C=n
CONFIG_CRYPTO_HW=n
CONFIG_IPV6_SIT=n
CONFIG_NO_HZ_COMMON=n
CONFIG_CC_NO_ARRAY_BOUNDS=n
CONFIG_SA_DISPCC_8775P=n
CONFIG_ACPI_SPCR_TABLE=n
CONFIG_PINCTRL_SUN55I_A523=n
CONFIG_NET_DSA_TAG_OCELOT_8021Q=n
CONFIG_COMMON_CLK_MT7986_ETHSYS=n
CONFIG_ARM_SBSA_WATCHDOG=n
CONFIG_SND_MESON_G12A_TOACODEC=n
CONFIG_QCS_CAMCC_615=n
CONFIG_QRTR_SMD=n
CONFIG_PINCTRL_UNIPHIER_LD11=n
CONFIG_INTERCONNECT_QCOM_MSM8916=n
CONFIG_VIDEO_MAX96712=n
CONFIG_PINCTRL_SM8150=n
CONFIG_MMC_SDHCI_XENON=n
CONFIG_KVM_VFIO=n
CONFIG_PINCTRL_SM7150=n
CONFIG_PHY_EXYNOS_DP_VIDEO=n
CONFIG_SYSC_RZ=n
CONFIG_SUN55I_PCK600=n
CONFIG_OF_EARLY_FLATTREE=n
CONFIG_RTC_DRV_DS1307=n
CONFIG_FONT_SUPPORT=n
CONFIG_SUN55I_A523_R_CCU=n
CONFIG_SUN55I_A523_CCU=n
CONFIG_HW_RANDOM_BCM74110=n
CONFIG_PINCTRL_PFC_R8A774B1=n
CONFIG_VIDEO_E5010_JPEG_ENC=n
CONFIG_AHCI_XGENE=n
CONFIG_CLK_R8A779G0=n
CONFIG_CRYPTO_ECC=n
CONFIG_PINCTRL_BCM2712=n
CONFIG_REGULATOR_HI655X=n
CONFIG_ARCH_R9A09G056=n
CONFIG_QCOM_Q6V5_PAS=n
CONFIG_SUN6I_R_INTC=n
CONFIG_SND_HDA_CODEC_HDMI_NVIDIA_MCP=n
CONFIG_ARCH_SOPHGO=n
CONFIG_CRYPTO_ECDH=n
