CONFIG_VXLAN=n
CONFIG_FUTEX_PRIVATE_HASH=n
CONFIG_NET_VENDOR_MARVELL=n
CONFIG_WLAN=n
CONFIG_IP_PNP_RARP=n
CONFIG_NFS_FS=n
CONFIG_CPU_IDLE=n
CONFIG_ARCH_HAS_DEBUG_VM_PGTABLE=n
CONFIG_SERIAL_8250_PERICOM=n
CONFIG_HAVE_ARCH_GET_SECUREBOOT=n
CONFIG_EDAC_SUPPORT=n
CONFIG_HDMI=n
CONFIG_INTERVAL_TREE=n
CONFIG_GENERIC_PINCTRL=n
CONFIG_CRYPTO_GCM=n
CONFIG_HAVE_ALIGNED_STRUCT_PAGE=n
CONFIG_CRC32_ARCH=n
CONFIG_CRYPTO_RSA=n
CONFIG_SCHED_CACHE=n
CONFIG_CRYPTO_LIB_SHA512=n
CONFIG_VLAN_8021Q=n
CONFIG_HID_GENERIC=n
CONFIG_NET_SCH_FIFO=n
CONFIG_CAN_RAW=n
CONFIG_MOUSE_PS2_SYNAPTICS=n
CONFIG_HAVE_MOVE_PUD=n
CONFIG_DWMAC_GENERIC=n
CONFIG_CONSOLE_TRANSLATIONS=n
CONFIG_DRM_MIPI_DSI=n
CONFIG_SUNXI_SRAM=n
CONFIG_CRYPTO_HASH=n
CONFIG_NET_VENDOR_SOLARFLARE=n
CONFIG_DRM_DISPLAY_HDMI_HELPER=n
CONFIG_PM_CLK=n
CONFIG_ARCH_SUPPORTS_MSEAL_SYSTEM_MAPPINGS=n
CONFIG_USB_PHY=n
CONFIG_PAGE_REPORTING=n
CONFIG_SND_DRIVERS=n
CONFIG_KVM_GENERIC_HARDWARE_ENABLING=n
CONFIG_VIRTIO_PCI_LIB=n
CONFIG_IP_MULTICAST=n
CONFIG_REGULATOR_AXP20X=n
CONFIG_KEYBOARD_SUN4I_LRADC=n
CONFIG_HAVE_CONTEXT_TRACKING_USER=n
CONFIG_DWMAC_STARFIVE=n
CONFIG_GENERIC_PCI_IOMAP=n
CONFIG_SECCOMP_FILTER=n
CONFIG_SERIAL_OF_PLATFORM=n
CONFIG_RANDOMIZE_KSTACK_OFFSET=n
CONFIG_NET_VENDOR_MICREL=n
CONFIG_GENERIC_PINCONF=n
CONFIG_FS_STACK=n
CONFIG_HAVE_ARCH_SECCOMP=n
CONFIG_IRQ_DOMAIN=n
CONFIG_REGMAP=n
CONFIG_JBD2=n
CONFIG_RISCV_ISA_VENDOR_EXT_SIFIVE=n
CONFIG_USB_MUSB_SUNXI=n
CONFIG_NVMEM_LAYOUTS=n
CONFIG_DMA_OF=n
CONFIG_DEVTMPFS_MOUNT=n
CONFIG_HAVE_BUILDTIME_MCOUNT_SORT=n
CONFIG_OF_EARLY_FLATTREE=n
CONFIG_RISCV_ISA_V_DEFAULT_ENABLE=n
CONFIG_ARCH_SUNXI=n
CONFIG_PINMUX=n
CONFIG_XFRM_USER=n
CONFIG_DM_PERSISTENT_DATA=n
CONFIG_XZ_DEC_RISCV=n
CONFIG_RISCV_RPMI_SYSMSI=n
CONFIG_USB_F_OBEX=n
CONFIG_RISCV_MISALIGNED=n
CONFIG_ARCH_SUPPORTS_DEBUG_PAGEALLOC=n
CONFIG_OF_PMEM=n
CONFIG_QUEUED_SPINLOCKS=n
CONFIG_COMPAT=n
CONFIG_NET_VENDOR_CISCO=n
CONFIG_NET_9P_FD=n
CONFIG_HAVE_GIGANTIC_FOLIOS=n
CONFIG_NET_VENDOR_CORTINA=n
CONFIG_FUTEX_PI=n
CONFIG_SND_PCM=n
CONFIG_ARCH_SUPPORTS_CFI=n
CONFIG_USB_F_MASS_STORAGE=n
CONFIG_STACKTRACE_SUPPORT=n
CONFIG_CPU_FREQ_GOV_ONDEMAND=n
CONFIG_SPI_CADENCE_QUADSPI=n
CONFIG_MTD=n
CONFIG_HAVE_KVM_IRQCHIP=n
CONFIG_COMPAT_32BIT_TIME=n
CONFIG_SYNC_FILE=n
CONFIG_DRM_NOUVEAU_BACKLIGHT=n
CONFIG_BLK_DEV=n
CONFIG_DM_BIO_PRISON=n
CONFIG_RCU_NEED_SEGCBLIST=n
CONFIG_PHY_SPACEMIT_K1_PCIE=n
CONFIG_FB_IOMEM_FOPS=n
CONFIG_DEVFREQ_THERMAL=n
CONFIG_HAVE_ARCH_MMAP_RND_COMPAT_BITS=n
CONFIG_STACKPROTECTOR=n
CONFIG_REGMAP_SPI=n
CONFIG_MMC_SDHCI_PLTFM=n
CONFIG_DMA_NONCOHERENT_MMAP=n
CONFIG_STARFIVE_JHB100_INTC=n
CONFIG_BLK_DEV_THROTTLING=n
CONFIG_BLK_DEV_SR=n
CONFIG_SERIAL_8250_DMA=n
CONFIG_SND_SOC_JH7110_TDM=n
CONFIG_FONT_SUPPORT=n
CONFIG_SOUND=n
CONFIG_DM_THIN_PROVISIONING=n
CONFIG_GENERIC_SCHED_CLOCK=n
CONFIG_TRACING=n
CONFIG_TREE_SRCU=n
CONFIG_ARCH_WANT_FRAME_POINTERS=n
CONFIG_ARCH_HAS_DMA_PREP_COHERENT=n
CONFIG_HZ_250=n
CONFIG_GENERIC_IRQ_SHOW_LEVEL=n
CONFIG_IOMMU_SUPPORT=n
CONFIG_ARCH_USE_MEMREMAP_PROT=n
CONFIG_SERIAL_8250_DW=n
CONFIG_MUTEX_SPIN_ON_OWNER=n
CONFIG_HAVE_SOFTIRQ_ON_OWN_STACK=n
CONFIG_SPI=n
CONFIG_INET_ESP=n
CONFIG_ARCH_USE_SYM_ANNOTATIONS=n
CONFIG_CMODEL_MEDANY=n
CONFIG_PNFS_FLEXFILE_LAYOUT=n
CONFIG_USB_CONFIGFS_SERIAL=n
CONFIG_BLK_DEV_DM=n
CONFIG_SCSI_LOWLEVEL=n
CONFIG_ROOT_NFS=n
CONFIG_RESET_K230=n
CONFIG_ERRATA_THEAD_CMO=n
CONFIG_POWER_SUPPLY_HWMON=n
CONFIG_DEVPORT=n
CONFIG_I2C_HID=n
CONFIG_LINEAR_RANGES=n
CONFIG_I2C_HELPER_AUTO=n
CONFIG_WATCHDOG_HANDLE_BOOT_ENABLED=n
CONFIG_SUN6I_RTC_CCU=n
CONFIG_HAVE_HARDLOCKUP_DETECTOR_BUDDY=n
CONFIG_NF_CT_PROTO_SCTP=n
CONFIG_CRYPTO_LIB_AES=n
CONFIG_ARCH_DEFAULT_CRASH_DUMP=n
CONFIG_CAN_CALC_BITTIMING=n
CONFIG_TOOLCHAIN_HAS_V=n
CONFIG_ERRATA_ANDES=n
CONFIG_FAT_FS=n
CONFIG_USB_OHCI_HCD_PCI=n
CONFIG_IKCONFIG_PROC=n
CONFIG_SECURITY_APPARMOR_HASH_DEFAULT=n
CONFIG_NETFILTER_XT_MARK=n
CONFIG_HAVE_KERNEL_BZIP2=n
CONFIG_PCC=n
CONFIG_INET_TUNNEL=n
CONFIG_I2C_ALGOBIT=n
CONFIG_PCIEASPM=n
CONFIG_ZSTD_COMPRESS=n
CONFIG_HAVE_ARCH_SECCOMP_FILTER=n
CONFIG_ARCH_HAS_PREPARE_SYNC_CORE_CMD=n
CONFIG_RISCV_ISA_ZBKB=n
CONFIG_USB_OTG=n
CONFIG_NET_VENDOR_HISILICON=n
CONFIG_HAVE_MOVE_PMD=n
CONFIG_RTC_DRV_GOLDFISH=n
CONFIG_DWMAC_THEAD=n
CONFIG_PAGE_COUNTER=n
CONFIG_MMC_SDHCI=n
CONFIG_NOP_TRACER=n
CONFIG_NET_VENDOR_QLOGIC=n
CONFIG_GENERIC_IRQ_ENTRY=n
CONFIG_SCHED_HRTICK=n
CONFIG_COMPACTION=n
CONFIG_CAN_NETLINK=n
CONFIG_CGROUP_CPUACCT=n
CONFIG_SECURITY_APPARMOR_EXPORT_BINARY=n
CONFIG_SND_JACK_INPUT_DEV=n
CONFIG_ARCH_WANT_OPTIMIZE_DAX_VMEMMAP=n
CONFIG_MACVLAN=n
CONFIG_REGMAP_IRQ=n
CONFIG_BTRFS_FS=n
CONFIG_AUXILIARY_BUS=n
CONFIG_HAVE_KERNEL_UNCOMPRESSED=n
CONFIG_USB_CONFIGFS_ACM=n
CONFIG_SECURITY_APPARMOR_HASH=n
CONFIG_MIGRATION=n
CONFIG_AUDITSYSCALL=n
CONFIG_POLARFIRE_SOC_IRQ_MUX=n
CONFIG_WLAN_VENDOR_RSI=n
CONFIG_ACPI_PCC=n
CONFIG_HAVE_ARCH_KGDB=n
CONFIG_GCC_NO_STRINGOP_OVERFLOW=n
CONFIG_CRYPTO_ENGINE=n
CONFIG_SOC_STARFIVE=n
CONFIG_POWER_RESET=n
CONFIG_RD_ZSTD=n
CONFIG_NET_EGRESS=n
CONFIG_RCU_TRACE=n
CONFIG_XFRM_ESP=n
CONFIG_WIRELESS=n
CONFIG_TTY=n
CONFIG_CRC_OPTIMIZATIONS=n
CONFIG_SPACEMIT_K1_CCU=n
CONFIG_ARCH_HAS_SYNC_CORE_BEFORE_USERMODE=n
CONFIG_CRYPTO_SIG=n
CONFIG_VT_HW_CONSOLE_BINDING=n
CONFIG_CGROUP_DEVICE=n
CONFIG_MOUSE_PS2_CYPRESS=n
CONFIG_FS_MBCACHE=n
CONFIG_CRYPTO_LIB_GF128HASH=n
CONFIG_BUFFER_HEAD=n
CONFIG_STP=n
CONFIG_MTD_CFI_I1=n
CONFIG_XZ_DEC_BCJ=n
CONFIG_USB_ROLE_SWITCH=n
CONFIG_MMC_SPI=n
CONFIG_HVC_DRIVER=n
CONFIG_USB_COMMON=n
CONFIG_USB_CDNSP_PCI=n
CONFIG_DRM_SUN6I_DSI=n
CONFIG_VIRTIO_DMA_SHARED_BUFFER=n
CONFIG_NET_VENDOR_ALACRITECH=n
CONFIG_LEGACY_PTYS=n
CONFIG_ARCH_HAS_ELF_RANDOMIZE=n
CONFIG_TIMER_OF=n
CONFIG_TREE_RCU=n
CONFIG_XOR_BLOCKS_ARCH=n
CONFIG_GCC_ASM_GOTO_OUTPUT_BROKEN=n
CONFIG_DRM_SUBALLOC_HELPER=n
CONFIG_NET_VENDOR_STMICRO=n
CONFIG_PCIE_DW_HOST=n
CONFIG_ARCH_ANLOGIC=n
CONFIG_SUN50I_IOMMU=n
CONFIG_SERIAL_8250_EXAR=n
CONFIG_BITREVERSE=n
CONFIG_ARCH_WANTS_NO_INSTR=n
CONFIG_SECURITY_SELINUX=n
CONFIG_RANDSTRUCT_NONE=n
CONFIG_CONFIGFS_FS=n
CONFIG_EPOLL=n
CONFIG_FB=n
CONFIG_SERIAL_SIFIVE=n
CONFIG_I2C_K1=n
CONFIG_PCI_MSI=n
CONFIG_NET_VENDOR_ROCKER=n
CONFIG_ARM_AMBA=n
CONFIG_IP_PNP_DHCP=n
CONFIG_OF_GPIO=n
CONFIG_GENERIC_IOREMAP=n
CONFIG_FB_DMAMEM_HELPERS=n
CONFIG_PNP_DEBUG_MESSAGES=n
CONFIG_NFS_DISABLE_UDP_SUPPORT=n
CONFIG_EXTCON=n
CONFIG_HAVE_PCI=n
CONFIG_USB_UAS=n
CONFIG_GENERIC_BUG=n
CONFIG_SUSPEND=n
CONFIG_TIMER_PROBE=n
CONFIG_DEBUG_INFO_NONE=n
CONFIG_AS_IS_GNU=n
CONFIG_IP_ADVANCED_ROUTER=n
CONFIG_ARCH_MHP_MEMMAP_ON_MEMORY_ENABLE=n
CONFIG_NET_SELFTESTS=n
CONFIG_XZ_DEC_SPARC=n
CONFIG_DMIID=n
CONFIG_NET_VENDOR_DLINK=n
CONFIG_MMC_SDHCI_IO_ACCESSORS=n
CONFIG_LTO_NONE=n
CONFIG_HAVE_KVM_DIRTY_RING=n
CONFIG_PWRSEQ_EMMC=n
CONFIG_CRC_ITU_T=n
CONFIG_USB_F_ECM=n
CONFIG_SPI_SUN6I=n
CONFIG_DIMLIB=n
CONFIG_ND_CLAIM=n
CONFIG_DRM_GPUVM=n
CONFIG_XZ_DEC_POWERPC=n
CONFIG_DNOTIFY=n
CONFIG_RTC_INTF_PROC=n
CONFIG_ATA_VERBOSE_ERROR=n
CONFIG_SND_SOC_GENERIC_DMAENGINE_PCM=n
CONFIG_PCI_PWRCTRL=n
CONFIG_CRYPTO_SKCIPHER2=n
CONFIG_HAVE_ARCH_JUMP_LABEL=n
CONFIG_ARCH_HAS_SET_DIRECT_MAP=n
CONFIG_OF_IRQ=n
CONFIG_MTD_SPI_NOR_USE_4K_SECTORS=n
CONFIG_USB_CONFIGFS_MASS_STORAGE=n
CONFIG_EFIVAR_FS=n
CONFIG_MODULES_TREE_LOOKUP=n
CONFIG_PCI_PWRCTRL_GENERIC=n
CONFIG_DMA_NEED_SYNC=n
CONFIG_BLOCK_LEGACY_AUTOLOAD=n
CONFIG_CDROM=n
CONFIG_MFD_SIMPLE_MFD_I2C=n
CONFIG_MODULES=n
CONFIG_HAS_DMA=n
CONFIG_RISCV_INTC=n
CONFIG_CRYPTO_MANAGER=n
