CONFIG_DMA_ENGINE=y
CONFIG_CRYPTO_GENIV=y
CONFIG_AX88796B_PHY=y
CONFIG_EXTCON_LC824206XA=y
CONFIG_GPIO_PCF857X=y
CONFIG_AD5766=y
CONFIG_USB_LEDS_TRIGGER_USBPORT=y
CONFIG_SENSORS_MAX1619=y
CONFIG_AD5592R=y
CONFIG_SOC_REALVIEW=y
CONFIG_HAVE_EXIT_THREAD=y
CONFIG_MFD_88PM800=y
CONFIG_UEVENT_HELPER=y
CONFIG_NVMEM_ROCKCHIP_OTP=y
CONFIG_HW_RANDOM_NPCM=y
CONFIG_TYPEC=y
CONFIG_I2C_DESIGNWARE_CORE=y
CONFIG_NLS_CODEPAGE_857=y
CONFIG_CLK_IMX8MQ=y
CONFIG_RESET_ZYNQMP=y
CONFIG_AL3000A=y
CONFIG_MCP9600=y
CONFIG_COMMON_CLK_MT8186_IMP_IIC_WRAP=y
CONFIG_I2C_MUX_PCA9541=y
CONFIG_NEED_TASKS_RCU=y
CONFIG_TCG_INFINEON=y
CONFIG_CRYPTO_SKCIPHER2=y
CONFIG_SLAB_MERGE_DEFAULT=y
CONFIG_INTERCONNECT_IMX8MP=y
CONFIG_UNINLINE_SPIN_UNLOCK=y
CONFIG_THERMAL_GOV_BANG_BANG=y
CONFIG_XZ_DEC_RISCV=y
CONFIG_NET_SCH_PLUG=y
CONFIG_BATTERY_DS2781=y
CONFIG_ARCH_HAS_NON_OVERLAPPING_ADDRESS_SPACE=y
CONFIG_HAVE_SOFTIRQ_ON_OWN_STACK=y
CONFIG_NET_DSA_TAG_MTK=y
CONFIG_GPIB_NEC7210=y
CONFIG_TI_ADS1298=y
CONFIG_SENSORS_PT5161L=y
CONFIG_NET_PKTGEN=y
CONFIG_JUMP_LABEL=y
CONFIG_DEBUG_OBJECTS_SELFTEST=y
CONFIG_FANOTIFY=y
CONFIG_HAVE_ASM_MODVERSIONS=y
CONFIG_LOCK_SPIN_ON_OWNER=y
CONFIG_FB_N411=y
CONFIG_NET_DSA_XRS700X=y
CONFIG_GENERIC_PENDING_IRQ=y
CONFIG_MFD_MP2629=y
CONFIG_REGULATOR_SY7636A=y
CONFIG_CLK_R7S9210=y
CONFIG_SMI330=y
CONFIG_RESET_MESON_AUDIO_ARB=y
CONFIG_GPIO_GRANITERAPIDS=y
CONFIG_COMMON_CLK_AST2700=y
CONFIG_REGULATOR_ISL6271A=y
CONFIG_REGULATOR_TPS62360=y
CONFIG_GENEVE=y
CONFIG_MCTP_FLOWS=y
CONFIG_RESET_LANTIQ=y
CONFIG_BATTERY_INGENIC=y
CONFIG_ADXL380_I2C=y
CONFIG_MSTAR_MSC313_CPUPLL=y
CONFIG_FPGA_DFL_FME=y
CONFIG_NET_DSA_MV88E6XXX_LEDS=y
CONFIG_GPIO_AGGREGATOR=y
CONFIG_PHY_CPCAP_USB=y
CONFIG_BACKLIGHT_KTD2801=y
CONFIG_CLK_R8A73A4=y
CONFIG_GPIO_PALMAS=y
CONFIG_TICK_CPU_ACCOUNTING=y
CONFIG_SUN9I_A80_CCU=y
CONFIG_DEFAULT_CDG=y
CONFIG_CLKSRC_I8253=y
CONFIG_RENESAS_RZA1_IRQC=y
CONFIG_NET_NS_REFCNT_TRACKER=y
CONFIG_IIO_BUFFER_DMAENGINE=y
CONFIG_USB_HSIC_USB4604=y
CONFIG_BT=y
CONFIG_GPIO_CDEV=y
CONFIG_TPS6594_PFSM=y
CONFIG_PINCTRL_DA9062=y
CONFIG_SENSORS_ADT7X10=y
CONFIG_CRYPTO_SEED=y
CONFIG_USB_OHCI_HCD_SPEAR=y
CONFIG_BUG=y
CONFIG_GPIO_VIRTUSER=y
CONFIG_LEDS_MC13783=y
CONFIG_BATTERY_CHARGER_SURFACE_RT=y
CONFIG_COMEDI_DAS1800=y
CONFIG_I2C_XILINX=y
CONFIG_GPIO_UNIPHIER=y
CONFIG_EEPROM_AT24=y
CONFIG_CLK_BCM_CYGNUS=y
CONFIG_LTO_NONE=y
CONFIG_TI_ADC128S052=y
CONFIG_SENSORS_TSL2563=y
CONFIG_ARCH_SUPPORTS_KEXEC=y
CONFIG_SOCK_CGROUP_DATA=y
CONFIG_SENSORS_LATTEPANDA_SIGMA_EC=y
CONFIG_MMU_GATHER_TABLE_FREE=y
CONFIG_LOONGSON1_APB_DMA=y
CONFIG_SENSORS_POWERZ=y
CONFIG_MAC80211_MESH_SYNC_DEBUG=y
CONFIG_HAVE_ARCH_SECCOMP=y
CONFIG_SENSORS_HMC5843_SPI=y
CONFIG_GPIB_AGILENT_82357A=y
CONFIG_NET_SCH_CHOKE=y
CONFIG_MEDIATEK_2P5GE_PHY=y
CONFIG_PHY_RZ_G3E_USB3=y
CONFIG_SENSORS_HP_WMI=y
CONFIG_HSC030PA_I2C=y
CONFIG_DEBUG_PAGEALLOC_ENABLE_DEFAULT=y
CONFIG_PHY_R8A779F0_ETHERNET_SERDES=y
CONFIG_PA12203001=y
CONFIG_HAVE_FUNCTION_ARG_ACCESS_API=y
CONFIG_TI_ADS131M02=y
CONFIG_SPI_BCM63XX=y
CONFIG_REGULATOR_USERSPACE_CONSUMER=y
CONFIG_CHARGER_MT6370=y
CONFIG_OPENVSWITCH=y
CONFIG_COMMON_RESET_HI6220=y
CONFIG_TI_ADS1018=y
CONFIG_NVMEM_BRCM_NVRAM=y
CONFIG_PHY_PISTACHIO_USB=y
CONFIG_MISC_RTSX_USB=y
CONFIG_COMMON_CLK_MT8188_IMP_IIC_WRAP=y
CONFIG_BT_HCIVHCI=y
CONFIG_COMEDI_MULTIQ3=y
CONFIG_CRYPTO_KRB5ENC=y
CONFIG_DMABUF_HEAPS_SYSTEM=y
CONFIG_REGULATOR_WM8994=y
CONFIG_AD4695=y
CONFIG_SENSORS_DME1737=y
CONFIG_CLK_SH73A0=y
CONFIG_HI8435=y
CONFIG_CRYPTO_ZSTD=y
CONFIG_FWCTL=y
CONFIG_THERMAL_NETLINK=y
CONFIG_ARCH_SUPPORTS_SCHED_MC=y
CONFIG_X86_16BIT=y
CONFIG_MMC5983=y
CONFIG_LTC1660=y
CONFIG_CC_HAS_NAMED_AS=y
CONFIG_VHOST=y
CONFIG_RENESAS_RPCIF=y
CONFIG_IEEE802154_HWSIM=y
CONFIG_CLKBLD_I8253=y
CONFIG_BCM_IPROC_ADC=y
CONFIG_BAREUDP=y
CONFIG_AD74115=y
CONFIG_NETLABEL=y
CONFIG_TSYS01=y
CONFIG_MISC_RTSX=y
CONFIG_CRYPTO_AEAD2=y
CONFIG_DMARD10=y
CONFIG_FW_LOADER_COMPRESS_ZSTD=y
CONFIG_AD7606=y
CONFIG_AD2S90=y
CONFIG_SENSORS_DA9055=y
CONFIG_PCSPKR_PLATFORM=y
CONFIG_EQUALIZER=y
CONFIG_CLK_STARFIVE_JH7110_SYS=y
CONFIG_FB_CFB_COPYAREA=y
CONFIG_CPU_SUP_AMD=y
CONFIG_SPRD_DMA=y
CONFIG_DEBUG_OBJECTS_TIMERS=y
CONFIG_LEDS_MLXREG=y
CONFIG_MFD_ARIZONA_I2C=y
CONFIG_ARCH_SUSPEND_POSSIBLE=y
CONFIG_SENSORS_YOGAFAN=y
CONFIG_USB_SEVSEG=y
CONFIG_ARCH_HAS_ZONE_DMA_SET=y
CONFIG_HPET_TIMER=y
CONFIG_HAVE_UNSTABLE_SCHED_CLOCK=y
CONFIG_X86_DISABLED_FEATURE_RETHUNK=y
CONFIG_IRQ_WORK=y
CONFIG_COMEDI_DAC02=y
CONFIG_GPIO_NPCM_SGPIO=y
CONFIG_EEPROM_93XX46=y
CONFIG_INIT_STACK_ALL_ZERO=y
CONFIG_LED_TRIGGER_PHY=y
CONFIG_INTEL_TH_GTH=y
CONFIG_I8K=y
CONFIG_NCN26000_PHY=y
CONFIG_GENERIC_IRQ_PROBE=y
CONFIG_ATM_BR2684=y
CONFIG_INTEL_IDMA64=y
CONFIG_CLK_STARFIVE_JH7110_AON=y
CONFIG_CPU_ISOLATION=y
CONFIG_RESET_STARFIVE_JH7100=y
CONFIG_TYPEC_FUSB302=y
CONFIG_L2TP=y
CONFIG_I2C_IOP3XX=y
CONFIG_ASPEED_P2A_CTRL=y
CONFIG_USB_SL811_HCD_ISO=y
CONFIG_RAVE_SP_CORE=y
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO_BARE=y
CONFIG_LEDS_ACER_A500=y
CONFIG_PPS_GENERATOR_TIO=y
CONFIG_GENERIC_GETTIMEOFDAY=y
CONFIG_SPI_INGENIC=y
CONFIG_MFD_UPBOARD_FPGA=y
CONFIG_MMC_CQHCI=y
CONFIG_HW_RANDOM_XIPHERA=y
CONFIG_AD7192=y
CONFIG_STM_SOURCE_CONSOLE=y
CONFIG_DEBUG_INFO_DWARF4=y
CONFIG_POWER_SUPPLY=y
CONFIG_BINFMT_MISC=y
CONFIG_AD9467=y
CONFIG_ACPI_BUTTON=y
CONFIG_CHARGER_MAX8971=y
CONFIG_ST_UVIS25_SPI=y
CONFIG_CLZ_TAB=y
CONFIG_BMI160_I2C=y
CONFIG_REGULATOR_PCA9450=y
CONFIG_BROADCOM_PHY=y
CONFIG_SPLIT_PTE_PTLOCKS=y
CONFIG_IIO=y
CONFIG_C2PORT=y
CONFIG_BACKLIGHT_SAHARA=y
CONFIG_CRC8=y
CONFIG_MTK_CMDQ_MBOX=y
CONFIG_I2C_HIX5HD2=y
CONFIG_GPIO_SHARED=y
CONFIG_HW_RANDOM_EXYNOS=y
CONFIG_BMP280_I2C=y
CONFIG_MFD_KHADAS_MCU=y
CONFIG_USB_MUSB_POLARFIRE_SOC=y
CONFIG_IPMI_HANDLER=y
CONFIG_REGMAP_MMIO=y
CONFIG_TWL6040_CORE=y
CONFIG_MESON_GX_SOCINFO=y
CONFIG_HID=y
CONFIG_TELCLOCK=y
CONFIG_DEVFREQ_GOV_PERFORMANCE=y
CONFIG_COMEDI_NI_ATMIO16D=y
CONFIG_RESET_HISI=y
CONFIG_AXI_DMAC=y
CONFIG_DEBUG_INFO_REDUCED=y
CONFIG_MMC_MOXART=y
CONFIG_TI_ADC081C=y
CONFIG_RESET_SUNPLUS=y
CONFIG_ASYMMETRIC_PUBLIC_KEY_SUBTYPE=y
CONFIG_ARCH_SUPPORTS_SCHED_SMT=y
CONFIG_HOTPLUG_SMT=y
CONFIG_IPV6_SEG6_BPF=y
CONFIG_AD7780=y
CONFIG_CLK_IMX8MM=y
CONFIG_SPI_ALTERA_CORE=y
CONFIG_GPIO_TWL4030=y
CONFIG_USBIP_CORE=y
CONFIG_NLS_ISO8859_2=y
CONFIG_REGULATOR_RT4831=y
CONFIG_SENSORS_MLXREG_FAN=y
CONFIG_NET_FAILOVER=y
CONFIG_PPS_CLIENT_KTIMER=y
CONFIG_BT_SELFTEST=y
CONFIG_CRYPTO_KRB5=y
CONFIG_INET_PSP=y
CONFIG_QCOM_TZMEM_MODE_SHMBRIDGE=y
CONFIG_BACKLIGHT_APPLE=y
CONFIG_SLIMBUS=y
CONFIG_PINCTRL_SKY1=y
CONFIG_SENSORS_LM87=y
CONFIG_CRYPTO_TWOFISH=y
CONFIG_DEBUG_STACKOVERFLOW=y
CONFIG_REGULATOR_AXP20X=y
CONFIG_MOUSE_PS2_ALPS=y
CONFIG_MOUSE_PS2_CYPRESS=y
CONFIG_PHY_MMP3_USB=y
CONFIG_SENSORS_W83795_FANCTRL=y
CONFIG_NLS_ISO8859_5=y
CONFIG_MFD_TPS65090=y
CONFIG_SPARSEMEM=y
CONFIG_SPI_XILINX=y
CONFIG_INTEL_LDMA=y
CONFIG_INGENIC_CGU_COMMON=y
CONFIG_BT_QCOMSMD=y
CONFIG_CPU_FREQ_GOV_ATTR_SET=y
CONFIG_PHY_INGENIC_USB=y
CONFIG_MESON_MX_AO_ARC_REMOTEPROC=y
CONFIG_LEGACY_TIOCSTI=y
CONFIG_MMC_SPI=y
CONFIG_IPV6_SIT=y
CONFIG_PHY_STIH407_USB=y
CONFIG_CLK_OWL_S900=y
CONFIG_TI_K3_DSP_REMOTEPROC=y
CONFIG_X86_DISABLED_FEATURE_FRED=y
CONFIG_DS4424=y
CONFIG_REGULATOR_STM32_VREFBUF=y
CONFIG_MOST=y
CONFIG_BT_HCIBTUSB_MTK=y
CONFIG_KGDB_LOW_LEVEL_TRAP=y
CONFIG_DECOMPRESS_XZ=y
CONFIG_MS5611_SPI=y
CONFIG_HRTIMER_REARM_DEFERRED=y
CONFIG_IPV6_MULTIPLE_TABLES=y
CONFIG_ARCH_HAS_EARLY_DEBUG=y
CONFIG_MMC_HSQ=y
CONFIG_USB_OHCI_LITTLE_ENDIAN=y
CONFIG_NTSYNC=y
CONFIG_MOUSE_PS2_LIFEBOOK=y
CONFIG_XZ_DEC_X86=y
CONFIG_SOC_BUS=y
CONFIG_CRYPTO_CAST6=y
CONFIG_COMMON_CLK_MT8195=y
CONFIG_UID16=y
CONFIG_BT_MTK=y
CONFIG_AD8366=y
CONFIG_GPIO_HISI=y
CONFIG_GPIO_LTC4283=y
CONFIG_6LOWPAN=y
CONFIG_VLAN_8021Q_MVRP=y
CONFIG_MFD_MAX77541=y
CONFIG_REGULATOR=y
CONFIG_SPI_PXA2XX=y
CONFIG_MTK_SOCINFO=y
CONFIG_VM_EVENT_COUNTERS=y
CONFIG_NOA1305=y
CONFIG_CLOCKSOURCE_WATCHDOG=y
CONFIG_NVMEM_UNIPHIER_EFUSE=y
CONFIG_COMMON_CLK_TPS68470=y
CONFIG_CHARGER_ISP1704=y
CONFIG_MFD_AXP20X=y
CONFIG_USB_OXU210HP_HCD=y
CONFIG_SERIO_SERPORT=y
CONFIG_STM_SOURCE_HEARTBEAT=y
CONFIG_LV0104CS=y
CONFIG_SCTP_DEFAULT_COOKIE_HMAC_SHA256=y
CONFIG_SENSORS_SPARX5=y
CONFIG_IA32_FEAT_CTL=y
CONFIG_MFD_CS40L50_SPI=y
CONFIG_COMEDI_TEST=y
CONFIG_GPIO_NCT6694=y
CONFIG_QCOM_CPR=y
CONFIG_AD7606_IFACE_SPI=y
CONFIG_X86_CMOV=y
CONFIG_USB_ADUTUX=y
CONFIG_REGULATOR_FIXED_VOLTAGE=y
CONFIG_CRYPTO_RSA=y
CONFIG_SPRD_IOMMU=y
CONFIG_POWER_RESET_SPACEMIT_P1=y
CONFIG_PINCTRL_VT8500=y
CONFIG_FPGA_BRIDGE=y
CONFIG_W1_MASTER_GPIO=y
CONFIG_SCHED_MM_CID=y
CONFIG_PAGE_POOL=y
CONFIG_CHARGER_BQ24190=y
CONFIG_MMA9551_CORE=y
CONFIG_TRACING_SUPPORT=y
CONFIG_REGULATOR_MAX77826=y
CONFIG_PARPORT_PC=y
CONFIG_MDIO_BCM_UNIMAC=y
CONFIG_NOP_USB_XCEIV=y
CONFIG_AD7293=y
CONFIG_COMMON_CLK_MT6735=y
CONFIG_IPMI_POWEROFF=y
CONFIG_SENSORS_PWM_FAN=y
CONFIG_COMMON_CLK_MT8192_MFGCFG=y
CONFIG_MULTIPLEXER=y
CONFIG_DPLL=y
CONFIG_STUB_CLK_HI6220=y
CONFIG_IKCONFIG=y
CONFIG_HPET=y
CONFIG_ARCH_HAS_FORTIFY_SOURCE=y
CONFIG_KEYBOARD_ATKBD=y
CONFIG_MMP_TDMA=y
CONFIG_PHY_HI3670_PCIE=y
CONFIG_ARCH_MIGHT_HAVE_PC_SERIO=y
CONFIG_DEBUG_VM=y
CONFIG_LEDS_TCA6507=y
CONFIG_GENERIC_CALIBRATE_DELAY=y
CONFIG_INTEL_HFI_THERMAL=y
CONFIG_MMC_LOONGSON2=y
CONFIG_NVMEM_APPLE_SPMI=y
CONFIG_SENSORS_ACPI_POWER=y
CONFIG_IPMI_IPMB=y
CONFIG_EDAC_SUPPORT=y
CONFIG_CRYPTO_DH_RFC7919_GROUPS=y
CONFIG_SPI_NXP_FLEXSPI=y
CONFIG_CLK_MTMIPS=y
CONFIG_CLK_RENESAS_CPG_MSTP=y
CONFIG_COMEDI_DT2814=y
CONFIG_BATTERY_DS2760=y
CONFIG_SF_PDMA=y
CONFIG_CEC_GPIO=y
CONFIG_TI_DAC5571=y
CONFIG_GPIO_ARIZONA=y
CONFIG_REMOTEPROC=y
CONFIG_I2C_QCOM_CCI=y
CONFIG_INTERCONNECT=y
CONFIG_BCM7038_L1_IRQ=y
CONFIG_SURFACE_HOTPLUG=y
CONFIG_AD3552R_LIB=y
CONFIG_DEBUG_TLBFLUSH=y
CONFIG_BT_HCIBFUSB=y
CONFIG_SPI_FSL_QUADSPI=y
CONFIG_SERIO_RAW=y
CONFIG_MFD_ENE_KB3930=y
CONFIG_NET_DSA_TAG_NONE=y
CONFIG_NET_SCH_SFB=y
CONFIG_SENSORS_EMC6W201=y
CONFIG_FAULT_INJECTION_DEBUG_FS=y
CONFIG_6LOWPAN_GHC_ICMPV6=y
CONFIG_INFINEON_TLV493D=y
CONFIG_REGULATOR_MAX20411=y
CONFIG_IIO_ST_SENSORS_I2C=y
CONFIG_SCF_TORTURE_TEST=y
CONFIG_SENSORS_AS370=y
CONFIG_PREEMPTIRQ_TRACEPOINTS=y
CONFIG_WW_MUTEX_SELFTEST=y
CONFIG_SENSORS_LTC4260=y
CONFIG_CPU_SUP_TRANSMETA_32=y
CONFIG_HAS_IOPORT=y
CONFIG_CRYPTO_BLOWFISH_COMMON=y
CONFIG_QCOM_PDR_MSG=y
CONFIG_HAVE_ALIGNED_STRUCT_PAGE=y
CONFIG_NLS_MAC_TURKISH=y
CONFIG_COMMON_CLK_MT8192_VDECSYS=y
CONFIG_GPIO_LOONGSON_64BIT=y
CONFIG_CRYPTO_LIB_BLAKE2B=y
CONFIG_FAULT_INJECTION=y
CONFIG_VFIO_PLATFORM_BCMFLEXRM_RESET=y
CONFIG_REGULATOR_LP3972=y
CONFIG_IO_URING_ZCRX=y
CONFIG_ISA_BUS=y
CONFIG_NET_SCH_CBS=y
CONFIG_HW_RANDOM_BCM2835=y
CONFIG_FB_WMT_GE_ROPS=y
CONFIG_VL6180=y
CONFIG_IIO_INV_SENSORS_TIMESTAMP=y
CONFIG_THERMAL_GOV_USER_SPACE=y
CONFIG_TCG_TIS=y
CONFIG_CC_HAS_KASAN_GENERIC=y
CONFIG_AD5761=y
CONFIG_RING_BUFFER=y
CONFIG_EVENT_TRACING=y
CONFIG_MLX90632=y
CONFIG_CIO_DAC=y
CONFIG_TCP_CONG_HYBLA=y
CONFIG_MP2629_ADC=y
CONFIG_HAVE_KCSAN_COMPILER=y
CONFIG_GOOGLE_COREBOOT_TABLE=y
CONFIG_CLK_RK3328=y
CONFIG_AD_SIGMA_DELTA=y
CONFIG_BMC150_MAGN=y
CONFIG_SC27XX_ADC=y
CONFIG_HAVE_ARCH_KSTACK_ERASE=y
CONFIG_NLATTR=y
CONFIG_HAVE_ARCH_WITHIN_STACK_FRAMES=y
CONFIG_DEBUG_MEMORY_INIT=y
CONFIG_ARM_SCPI_PROTOCOL=y
CONFIG_RENESAS_USB_DMAC=y
CONFIG_NLS_ISO8859_1=y
CONFIG_EXTCON_PTN5150=y
CONFIG_CLK_STARFIVE_JH7110_STG=y
CONFIG_I2C_MUX_MLXCPLD=y
CONFIG_SENSORS_LTC4245=y
CONFIG_CGROUP_CPUACCT=y
CONFIG_VHOST_VSOCK=y
CONFIG_X86_AMD_FREQ_SENSITIVITY=y
CONFIG_PHY_RCAR_GEN3_USB3=y
CONFIG_IO_URING=y
CONFIG_RDS_DEBUG=y
CONFIG_ARCH_USE_SYM_ANNOTATIONS=y
CONFIG_NET_DSA_MXL_GSW1XX=y
CONFIG_CRC_CCITT=y
CONFIG_MCP4821=y
CONFIG_QUEUED_SPINLOCKS=y
CONFIG_W1_MASTER_AMD_AXI=y
CONFIG_SENSORS_LM73=y
CONFIG_LAPB=y
CONFIG_CEC_CORE=y
CONFIG_FPGA_MGR_XILINX_SELECTMAP=y
CONFIG_LZO_COMPRESS=y
CONFIG_PMIC_OPREGION=y
CONFIG_ARM_S3C64XX_CPUFREQ=y
CONFIG_PHY_STARFIVE_JH7110_USB=y
CONFIG_CRYPTO_LIB_CURVE25519_GENERIC=y
CONFIG_GENERIC_IRQ_MIGRATION=y
CONFIG_X86_ESPFIX32=y
CONFIG_USB_ULPI_VIEWPORT=y
CONFIG_GPIO_ZEVIO=y
CONFIG_MFD_TQMX86=y
CONFIG_IIO_ST_ACCEL_SPI_3AXIS=y
CONFIG_MFD_RETU=y
CONFIG_SPI=y
CONFIG_TIPC_CRYPTO=y
CONFIG_SPI_ARMADA_3700=y
CONFIG_AK8975=y
CONFIG_PHY_QCOM_USB_HS=y
CONFIG_SENSORS_LTC2990=y
CONFIG_TICK_ONESHOT=y
CONFIG_REGULATOR_TPS51632=y
CONFIG_BONDING=y
CONFIG_KGDB_TESTS=y
CONFIG_X86_DISABLED_FEATURE_RETPOLINE=y
