CONFIG_HAVE_FTRACE_REGS_HAVING_PT_REGS=n
CONFIG_XARRAY_MULTI=n
CONFIG_WLAN_VENDOR_MICROCHIP=n
CONFIG_ARCH_HAS_CACHE_LINE_SIZE=n
CONFIG_TICK_ONESHOT=n
CONFIG_GENERIC_PCI_IOMAP=n
CONFIG_WLAN_VENDOR_ST=n
CONFIG_EXT4_USE_FOR_EXT2=n
CONFIG_ARCH_WANT_LD_ORPHAN_WARN=n
CONFIG_IOMMU_PT_X86_64=n
CONFIG_ARCH_MEMORY_ORDER_TSO=n
CONFIG_CC_CAN_LINK=n
CONFIG_NET=n
CONFIG_NETFILTER_XT_MATCH_POLICY=n
CONFIG_SND_HDA_HWDEP=n
CONFIG_UCS2_STRING=n
CONFIG_NETFILTER_SKIP_EGRESS=n
CONFIG_GENERIC_PT=n
CONFIG_NET_VENDOR_ROCKER=n
CONFIG_HAVE_PAGE_SIZE_4KB=n
CONFIG_HAVE_STATIC_CALL=n
CONFIG_CGROUP_HUGETLB=n
CONFIG_NET_XGRESS=n
CONFIG_SERIAL_8250_SHARE_IRQ=n
CONFIG_BLK_CGROUP_IOPRIO=n
CONFIG_X86_TSC=n
CONFIG_HAVE_KPROBES=n
CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE=n
CONFIG_NLATTR=n
CONFIG_MAILBOX=n
CONFIG_HAVE_IRQ_EXIT_ON_IRQ_STACK=n
CONFIG_NEED_PER_CPU_EMBED_FIRST_CHUNK=n
CONFIG_SERIAL_CORE=n
CONFIG_DYNAMIC_SIGFRAME=n
CONFIG_NF_CONNTRACK=n
CONFIG_VIRTIO_PCI_ADMIN_LEGACY=n
CONFIG_ARCH_HAS_FORTIFY_SOURCE=n
CONFIG_PROVIDE_OHCI1394_DMA_INIT=n
CONFIG_INET6_ESP=n
CONFIG_ACPI_THERMAL_LIB=n
CONFIG_ARCH_CORRECT_STACKTRACE_ON_KRETPROBE=n
CONFIG_FONT_AUTOSELECT=n
CONFIG_ELF_CORE=n
CONFIG_MITIGATION_TSA=n
CONFIG_SGETMASK_SYSCALL=n
CONFIG_NET_VENDOR_VERTEXCOM=n
CONFIG_DRM_DISPLAY_HDCP_HELPER=n
CONFIG_HAVE_GENERIC_VDSO=n
CONFIG_NET_VENDOR_CISCO=n
CONFIG_SERIAL_8250_DETECT_IRQ=n
CONFIG_BLK_MQ_STACKING=n
CONFIG_DRM_GEM_SHMEM_HELPER=n
CONFIG_DECOMPRESS_GZIP=n
CONFIG_NET_VENDOR_OKI=n
CONFIG_LZO_COMPRESS=n
CONFIG_ARCH_HAS_SET_MEMORY=n
CONFIG_AMD_NUMA=n
CONFIG_TASKS_RCU_GENERIC=n
CONFIG_CFG80211_REQUIRE_SIGNED_REGDB=n
CONFIG_NET_VENDOR_SIS=n
CONFIG_KERNEL_GZIP=n
CONFIG_LOCK_DEBUGGING_SUPPORT=n
CONFIG_STACKDEPOT=n
CONFIG_SECURITY=n
CONFIG_NF_NAT_IRC=n
CONFIG_GCC_ASM_GOTO_OUTPUT_BROKEN=n
CONFIG_EXT4_FS_SECURITY=n
CONFIG_IRQ_DOMAIN_HIERARCHY=n
CONFIG_SND_PCI=n
CONFIG_X86_CX8=n
CONFIG_TASKSTATS=n
CONFIG_NF_REJECT_IPV4=n
CONFIG_HAVE_KERNEL_GZIP=n
CONFIG_SND=n
CONFIG_ARCH_HAS_CPU_PASID=n
CONFIG_TTY=n
CONFIG_IP_ROUTE_VERBOSE=n
CONFIG_X86_MCE_AMD=n
CONFIG_IA32_EMULATION=n
CONFIG_CRYPTO_SHA1=n
CONFIG_IO_URING_ZCRX=n
CONFIG_X86_MCE=n
CONFIG_HAVE_ARCH_SOFT_DIRTY=n
CONFIG_CRYPTO_LIB_SHA256=n
CONFIG_GENERIC_IRQ_SHOW=n
CONFIG_ARCH_HAS_HW_PTE_YOUNG=n
CONFIG_HAVE_KERNEL_LZMA=n
CONFIG_HAVE_ARCH_JUMP_LABEL=n
CONFIG_E1000=n
CONFIG_USB_PRINTER=n
CONFIG_HID=n
CONFIG_ACPI_HOTPLUG_CPU=n
CONFIG_HAVE_KERNEL_ZSTD=n
CONFIG_FAILOVER=n
CONFIG_CRYPTO_LIB_SHA1_ARCH=n
CONFIG_VM_EVENT_COUNTERS=n
CONFIG_NETFILTER_XT_TARGET_CONNSECMARK=n
CONFIG_GENERIC_CLOCKEVENTS_MIN_ADJUST=n
CONFIG_MITIGATION_IBPB_ENTRY=n
CONFIG_LD_IS_BFD=n
CONFIG_SKY2=n
CONFIG_YENTA=n
CONFIG_DMA_VIRTUAL_CHANNELS=n
CONFIG_E100=n
CONFIG_XZ_DEC=n
CONFIG_X86_REROUTE_FOR_BROKEN_BOOT_IRQS=n
CONFIG_TASK_DELAY_ACCT=n
CONFIG_CPU_SUP_AMD=n
CONFIG_SND_CTL_FAST_LOOKUP=n
CONFIG_CRYPTO_LIB_SHA1=n
CONFIG_PATA_SCH=n
CONFIG_GENERIC_VDSO_OVERFLOW_PROTECT=n
CONFIG_KPROBES=n
CONFIG_DMA_OPS_HELPERS=n
CONFIG_ARCH_HAS_PMEM_API=n
CONFIG_CRYPTO_LIB_UTILS=n
CONFIG_8139TOO_PIO=n
CONFIG_USB_DEFAULT_PERSIST=n
CONFIG_I8253_LOCK=n
CONFIG_STACKTRACE_SUPPORT=n
CONFIG_INET6_AH=n
CONFIG_PROC_SYSCTL=n
CONFIG_NET_VENDOR_DLINK=n
CONFIG_PERF_EVENTS_INTEL_CSTATE=n
CONFIG_HOTPLUG_PCI=n
CONFIG_NETCONSOLE=n
CONFIG_HAVE_KERNEL_XZ=n
CONFIG_POSIX_TIMERS=n
CONFIG_SURFACE_PLATFORMS=n
CONFIG_PREEMPT_COUNT=n
CONFIG_RELOCATABLE=n
CONFIG_VIRTIO_BLK=n
CONFIG_CRYPTO_LZ4=n
CONFIG_FIX_EARLYCON_MEM=n
CONFIG_COMPACTION=n
CONFIG_IOMMU_PT_VTDSS=n
CONFIG_HW_RANDOM_VIA=n
CONFIG_NF_LOG_ARP=n
CONFIG_PGTABLE_HAS_HUGE_LEAVES=n
CONFIG_RD_GZIP=n
CONFIG_GCC_NO_STRINGOP_OVERFLOW=n
CONFIG_INET_TUNNEL=n
CONFIG_CONTEXT_TRACKING_IDLE=n
CONFIG_NETFILTER_XT_TARGET_NFLOG=n
CONFIG_RTC_DRV_CMOS=n
CONFIG_ACPI_HOTPLUG_IOAPIC=n
CONFIG_VGA_ARB=n
CONFIG_NET_VENDOR_TEHUTI=n
CONFIG_SCSI_MOD=n
CONFIG_DECOMPRESS_BZIP2=n
CONFIG_ARCH_CONFIGURES_CPU_MITIGATIONS=n
CONFIG_NVMEM=n
CONFIG_PAGE_MAPCOUNT=n
CONFIG_NF_DEFRAG_IPV4=n
CONFIG_ZONE_DMA32=n
CONFIG_INTERVAL_TREE=n
CONFIG_HAVE_ARCH_KGDB=n
CONFIG_SERIAL_8250=n
CONFIG_CGROUP_NET_PRIO=n
CONFIG_POWER_SUPPLY_HWMON=n
CONFIG_ARCH_WANT_OPTIMIZE_DAX_VMEMMAP=n
CONFIG_KVM_GUEST=n
CONFIG_NET_VENDOR_SMSC=n
CONFIG_X86_REQUIRED_FEATURE_PAE=n
CONFIG_EFI_ESRT=n
CONFIG_COMPAT_32BIT_TIME=n
CONFIG_DMA_ACPI=n
CONFIG_MAC80211_HAS_RC=n
CONFIG_BLK_DEV_DM_BUILTIN=n
CONFIG_SND_HDA_CORE=n
CONFIG_ASYMMETRIC_PUBLIC_KEY_SUBTYPE=n
CONFIG_NET_VENDOR_AGERE=n
CONFIG_PCCARD_NONSTATIC=n
CONFIG_STRICT_MODULE_RWX=n
CONFIG_SPLIT_PMD_PTLOCKS=n
CONFIG_ARCH_MAY_HAVE_PC_FDC=n
CONFIG_ACPI=n
CONFIG_SERIAL_8250_PCILIB=n
CONFIG_FREEZER=n
CONFIG_DM_MIRROR=n
CONFIG_GROUP_SCHED_WEIGHT=n
CONFIG_PCIEASPM=n
CONFIG_GENERIC_BUG_RELATIVE_POINTERS=n
CONFIG_ARCH_HAS_MEM_ENCRYPT=n
CONFIG_DEBUG_STACK_USAGE=n
CONFIG_HAVE_ARCH_THREAD_STRUCT_WHITELIST=n
CONFIG_CRYPTO_ALGAPI2=n
CONFIG_HID_PANTHERLORD=n
CONFIG_TRACE_CLOCK=n
CONFIG_NET_DEVMEM=n
CONFIG_PCI_LABEL=n
CONFIG_CRYPTO_SKCIPHER2=n
CONFIG_ARCH_HAS_GIGANTIC_PAGE=n
CONFIG_SERIAL_8250_EXTENDED=n
CONFIG_DECOMPRESS_LZ4=n
CONFIG_BLK_DEV_WRITE_MOUNTED=n
CONFIG_BLK_RQ_ALLOC_TIME=n
CONFIG_MOUSE_PS2_TRACKPOINT=n
CONFIG_NETFILTER_EGRESS=n
CONFIG_NET_VENDOR_8390=n
CONFIG_RFKILL=n
CONFIG_GENERIC_GETTIMEOFDAY=n
CONFIG_USB_PCI_AMD=n
CONFIG_SERIAL_8250_LPSS=n
CONFIG_FUNCTION_ALIGNMENT_16B=n
CONFIG_PER_VMA_LOCK=n
CONFIG_X86_REQUIRED_FEATURE_XMM=n
CONFIG_NET_VENDOR_CORTINA=n
CONFIG_MEMBARRIER=n
CONFIG_DRM_DISPLAY_HDMI_HELPER=n
CONFIG_DRM_KMS_HELPER=n
CONFIG_NETFILTER_INGRESS=n
CONFIG_GENERIC_ISA_DMA=n
CONFIG_CPU_FREQ_GOV_USERSPACE=n
CONFIG_SERIAL_8250_PERICOM=n
CONFIG_REGMAP=n
CONFIG_MMU_GATHER_RCU_TABLE_FREE=n
CONFIG_X86_MPPARSE=n
CONFIG_INPUT_SPARSEKMAP=n
CONFIG_NET_VENDOR_INTEL=n
CONFIG_NET_VENDOR_HUAWEI=n
CONFIG_FUTEX_PRIVATE_HASH=n
CONFIG_CC_HAS_NAMED_AS=n
CONFIG_X86_CHECK_BIOS_CORRUPTION=n
CONFIG_SERIAL_8250_DMA=n
CONFIG_IP_MROUTE_COMMON=n
CONFIG_AMD_IOMMU=n
CONFIG_CGROUP_NET_CLASSID=n
CONFIG_GENERIC_CLOCKEVENTS_COUPLED=n
CONFIG_BPF=n
CONFIG_ARCH_HAVE_EXTRA_ELF_NOTES=n
CONFIG_NETFILTER_XT_TARGET_LOG=n
CONFIG_NET_VENDOR_XILINX=n
CONFIG_NET_CORE=n
CONFIG_ACPI_PRMT=n
CONFIG_HAVE_ARCH_GET_SECUREBOOT=n
CONFIG_CPU_FREQ_GOV_ATTR_SET=n
CONFIG_UID16=n
CONFIG_CRYPTO_ECB=n
CONFIG_HAVE_ARCH_SECCOMP=n
CONFIG_MOUSE_PS2=n
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_REGS=n
CONFIG_HAVE_C_RECORDMCOUNT=n
CONFIG_WLAN_VENDOR_RALINK=n
CONFIG_X86_DISABLED_FEATURE_XENPV=n
CONFIG_SND_DRIVERS=n
CONFIG_X86_MCE_THRESHOLD=n
CONFIG_NET_CLS_ACT=n
CONFIG_TASKS_TRACE_RCU=n
CONFIG_BROADCAST_TLB_FLUSH=n
CONFIG_X86_REQUIRED_FEATURE_PSE=n
CONFIG_DQL=n
CONFIG_CRYPTO_SEQIV=n
CONFIG_X86_THERMAL_VECTOR=n
CONFIG_CONTEXT_TRACKING=n
CONFIG_SECURITY_SELINUX_BOOTPARAM=n
CONFIG_X86_HAVE_PAE=n
CONFIG_LEGACY_TIOCSTI=n
CONFIG_CPU_IDLE_GOV_MENU=n
CONFIG_FS_MBCACHE=n
CONFIG_SOUND=n
CONFIG_NF_NAT_FTP=n
CONFIG_DEBUG_WX=n
CONFIG_RD_LZ4=n
CONFIG_SND_PROC_FS=n
CONFIG_HAVE_ARCH_KSTACK_ERASE=n
CONFIG_ARCH_HAS_CPU_RELAX=n
CONFIG_X86_SUPPORTS_MEMORY_FAILURE=n
CONFIG_SERIO_SERPORT=n
CONFIG_HAVE_NMI=n
CONFIG_ARCH_MIGHT_HAVE_PC_SERIO=n
CONFIG_IP_MULTIPLE_TABLES=n
CONFIG_TRACING_SUPPORT=n
CONFIG_ATA=n
CONFIG_ACPI_PROCESSOR_CSTATE=n
CONFIG_CGROUP_RDMA=n
CONFIG_CRYPTO_LIB_AES=n
CONFIG_THERMAL_NETLINK=n
CONFIG_CRYPTO_LIB_SHA256_ARCH=n
CONFIG_RING_BUFFER=n
CONFIG_CFG80211_CRDA_SUPPORT=n
CONFIG_HAVE_PV_STEAL_CLOCK_GEN=n
CONFIG_HAVE_IOREMAP_PROT=n
CONFIG_DMI=n
CONFIG_SSB_POSSIBLE=n
CONFIG_PTP_1588_CLOCK_VMCLOCK=n
CONFIG_SND_X86=n
CONFIG_HAVE_CONTEXT_TRACKING_USER=n
CONFIG_GENERIC_CPU_DEVICES=n
CONFIG_CPU_FREQ_GOV_SCHEDUTIL=n
CONFIG_NET_VENDOR_STMICRO=n
CONFIG_PRINTK=n
CONFIG_NLS_ISO8859_1=n
CONFIG_HIDRAW=n
CONFIG_LEDS_CLASS=n
CONFIG_NET_HANDSHAKE=n
CONFIG_SND_VMASTER=n
CONFIG_CC_HAS_KASAN_GENERIC=n
CONFIG_BLK_DEV_LOOP=n
CONFIG_VIRTIO_PCI=n
