CONFIG_AMD_SBRMI_HWMON=y
CONFIG_TIMER_PROBE=y
CONFIG_BLK_WBT=y
CONFIG_BROKEN_GAS_INST=y
CONFIG_MFD_SI476X_CORE=y
CONFIG_PROC_PAGE_MONITOR=y
CONFIG_ARCH_SUPPORTS_DEBUG_PAGEALLOC=y
CONFIG_CLK_X1P42100_GPUCC=y
CONFIG_SENSORS_MCP3021=y
CONFIG_PHY_AX3000_EMMC=y
CONFIG_QUOTA_TREE=y
CONFIG_OF_RESERVED_MEM=y
CONFIG_EVENTFD=y
CONFIG_REGULATOR_ADP5055=y
CONFIG_ARM64_WORKAROUND_DISABLE_CNP=y
CONFIG_HID_REDRAGON=y
CONFIG_PAGE_REPORTING=y
CONFIG_PINCTRL_SM8450_LPASS_LPI=y
CONFIG_CXL_REGION=y
CONFIG_CRYPTO_CTS=y
CONFIG_MHI_BUS_DEBUG=y
CONFIG_SCSI_SNIC_DEBUG_FS=y
CONFIG_BINFMT_MISC=y
CONFIG_DAX=y
CONFIG_CPU_PM=y
CONFIG_OVMF_DEBUG_LOG=y
CONFIG_CRYPTO_LIB_CHACHA20POLY1305=y
CONFIG_PINCTRL_QCOM_SSBI_PMIC=y
CONFIG_STANDALONE=y
CONFIG_SECURITY_YAMA=y
CONFIG_HID_GEMBIRD=y
CONFIG_PREEMPT=y
CONFIG_HAVE_CLK_PREPARE=y
CONFIG_MS_BLOCK=y
CONFIG_SENSORS_MPQ7932=y
CONFIG_SUN4I_TIMER=y
CONFIG_LEDS_SY7802=y
CONFIG_HID_GENERIC=y
CONFIG_ARM_GIC_V5=y
CONFIG_MFD_TI_LMU=y
CONFIG_PCIEASPM=y
CONFIG_IR_ENE=y
CONFIG_SC_CAMCC_7180=y
CONFIG_PWM_DWC_CORE=y
CONFIG_COMMON_CLK_LOCHNAGAR=y
CONFIG_MFD_LOCHNAGAR=y
CONFIG_PCIE_NXP_S32G=y
CONFIG_PINCTRL_MILOS_LPASS_LPI=y
CONFIG_KRETPROBES=y
CONFIG_FPGA=y
CONFIG_CLOSURES=y
CONFIG_FW_LOADER_SYSFS=y
CONFIG_ARCH_HAS_NMI_SAFE_THIS_CPU_OPS=y
CONFIG_RAS=y
CONFIG_SCSI_FDOMAIN_PCI=y
CONFIG_PADATA=y
CONFIG_HAVE_SOFTIRQ_ON_OWN_STACK=y
CONFIG_ARCH_HAVE_ELF_PROT=y
CONFIG_SDM_GPUCC_845=y
CONFIG_SM_CAMCC_8450=y
CONFIG_PHY_SAMSUNG_UFS=y
CONFIG_FB_SIS_300=y
CONFIG_ARM_SCMI_POWER_CONTROL=y
CONFIG_GFS2_FS=y
CONFIG_SENSORS_TSC1641=y
CONFIG_RAPIDIO_MPORT_CDEV=y
CONFIG_ARCH_SUPPORTS_RT=y
CONFIG_DMABUF_DEBUG=y
CONFIG_ARCH_HAS_SET_DIRECT_MAP=y
CONFIG_NEED_SG_DMA_FLAGS=y
CONFIG_MFD_CORE=y
CONFIG_HAVE_ARCH_TRACEHOOK=y
CONFIG_REGULATOR_S2DOS05=y
CONFIG_QCOM_WCNSS_CTRL=y
CONFIG_FPGA_DFL_NIOS_INTEL_PAC_N3000=y
CONFIG_WATCH_QUEUE=y
CONFIG_TASKS_RCU=y
CONFIG_GPIO_WM8994=y
CONFIG_EFI_BOOTLOADER_CONTROL=y
CONFIG_REGULATOR_FAN53880=y
CONFIG_ARM_SMCCC_SOC_ID=y
CONFIG_HAVE_ARCH_JUMP_LABEL_RELATIVE=y
CONFIG_SERIO_LIBPS2=y
CONFIG_BACKLIGHT_LM3509=y
CONFIG_YENTA_ENE_TUNE=y
CONFIG_CORE_DUMP_DEFAULT_ELF_HEADERS=y
CONFIG_LZO_COMPRESS=y
CONFIG_SCSI=y
CONFIG_PCIE_ALTERA=y
CONFIG_I2C_EXYNOS5=y
CONFIG_FB_ASILIANT=y
CONFIG_ARM_GIC_V2M=y
CONFIG_SMP=y
CONFIG_CC_HAS_INT128=y
CONFIG_SENSORS_PC87427=y
CONFIG_PCIE_MOBIVEIL_HOST=y
CONFIG_RTC_DRV_RTD119X=y
CONFIG_YENTA_TI=y
CONFIG_ARM64_WORKAROUND_TSB_FLUSH_FAILURE=y
CONFIG_EXECMEM=y
CONFIG_CXL_PMEM=y
CONFIG_RESET_QCOM_AOSS=y
CONFIG_ARM64=y
CONFIG_ARCH_DMA_ADDR_T_64BIT=y
CONFIG_NLS_CODEPAGE_860=y
CONFIG_CRYPTO_DEV_ZYNQMP_SHA3=y
CONFIG_CRYPTO_ZSTD=y
CONFIG_NVMEM_LAYOUT_U_BOOT_ENV=y
CONFIG_XOR_BLOCKS_ARCH=y
CONFIG_HD44780_COMMON=y
CONFIG_SUNXI_RSB=y
CONFIG_EDAC_MEM_REPAIR=y
CONFIG_DEVFREQ_GOV_POWERSAVE=y
CONFIG_CRYPTO_LIB_SHA256_ARCH=y
CONFIG_SENSORS_LIS3LV02D=y
CONFIG_PARPORT_PANEL=y
CONFIG_MFD_ATMEL_HLCDC=y
CONFIG_BLOCK=y
CONFIG_FS_STACK=y
CONFIG_ARM_SCMI_HAVE_SHMEM=y
CONFIG_ARCH_USE_MEMREMAP_PROT=y
CONFIG_CHARGER_GPIO=y
CONFIG_NVMEM_LAYOUTS=y
CONFIG_SENSORS_AD7418=y
CONFIG_BCACHE_ASYNC_REGISTRATION=y
CONFIG_PINCTRL_SM7150=y
CONFIG_PARAVIRT=y
CONFIG_FPGA_MGR_ALTERA_CVP=y
CONFIG_MMU_NOTIFIER=y
CONFIG_QCOM_SCM=y
CONFIG_MEMSTICK_JMICRON_38X=y
CONFIG_REGULATOR_RAA215300=y
CONFIG_REGULATOR_AS3722=y
CONFIG_REGULATOR_QCOM_PM8008=y
CONFIG_MFD_ROHM_BD71828=y
CONFIG_POWER_RESET_AS3722=y
CONFIG_FB_BACKLIGHT=y
CONFIG_LEDS_LP3952=y
CONFIG_HAVE_DEBUG_KMEMLEAK=y
CONFIG_FB_DDC=y
CONFIG_OF_KOBJ=y
CONFIG_REGULATOR_LTC3589=y
CONFIG_CLKSRC_MMIO=y
CONFIG_SCSI_AIC7XXX=y
CONFIG_IRQ_FASTEOI_HIERARCHY_HANDLERS=y
CONFIG_CROS_EC_SENSORHUB=y
CONFIG_SPEAKUP_SYNTH_SOFT=y
CONFIG_REGULATOR_AD5398=y
CONFIG_BUILDTIME_TABLE_SORT=y
CONFIG_SM_GCC_6115=y
CONFIG_PM_DEVFREQ_EVENT=y
CONFIG_REGULATOR_QCOM_USB_VBUS=y
CONFIG_COMMON_CLK_QCOM=y
CONFIG_THREAD_INFO_IN_TASK=y
CONFIG_FSI_MASTER_GPIO=y
CONFIG_ARCH_HAS_SET_MEMORY=y
CONFIG_PINCTRL_EXYNOS=y
CONFIG_COMEDI_NI_660X=y
CONFIG_GPIO_LATCH=y
CONFIG_ARM_SCMI_HAVE_TRANSPORT=y
CONFIG_FB_3DFX=y
CONFIG_REGULATOR_VEXPRESS=y
CONFIG_VIRTIO=y
CONFIG_REGULATOR_RT6190=y
CONFIG_EXYNOS_PMU=y
CONFIG_HAVE_SAMPLE_FTRACE_DIRECT_MULTI=y
CONFIG_MUX_MMIO=y
CONFIG_ARCH_ZYNQMP=y
CONFIG_ACPI_TABLE_UPGRADE=y
CONFIG_HID_SUPPORT=y
CONFIG_GLOB=y
CONFIG_REGULATOR_PV88080=y
CONFIG_QCOM_MPM=y
CONFIG_ARCH_SUPPORTS_LTO_CLANG_THIN=y
CONFIG_MFD_MAX77650=y
CONFIG_CRYPTO_DEV_NITROX_CNN55XX=y
CONFIG_PWM_SAMSUNG=y
CONFIG_POLARFIRE_SOC_IRQ_MUX=y
CONFIG_INPUT_LEDS=y
CONFIG_CRYPTO_SHA512=y
CONFIG_I2CR_SCOM=y
CONFIG_HAVE_DYNAMIC_FTRACE=y
CONFIG_BATTERY_SBS=y
CONFIG_HAVE_MOVE_PMD=y
CONFIG_KEYBOARD_STOWAWAY=y
CONFIG_HAVE_ALIGNED_STRUCT_PAGE=y
CONFIG_UCC=y
CONFIG_TEST_MEMCAT_P=y
CONFIG_SG_SPLIT=y
CONFIG_I2C_QCOM_GENI=y
CONFIG_CRYPTO_DEV_QAT_ERROR_INJECTION=y
CONFIG_ARCH_HAS_GCOV_PROFILE_ALL=y
CONFIG_PCIE_XILINX=y
CONFIG_BTRFS_FS=y
CONFIG_CRYPTO=y
CONFIG_I2C_DEBUG_BUS=y
CONFIG_SWAP=y
CONFIG_GENERIC_IRQ_KEXEC_CLEAR_VM_FORWARD=y
CONFIG_SENSORS_XDPE122=y
CONFIG_EDAC_QCOM=y
CONFIG_NLS_CODEPAGE_775=y
CONFIG_USERFAULTFD=y
CONFIG_MFD_MAX8998=y
CONFIG_SEG_LED_GPIO=y
CONFIG_SM_TCSRCC_8750=y
CONFIG_CRYPTO_CAST6=y
CONFIG_ARCH_SUPPORTS_SCHED_SMT=y
CONFIG_ARCH_USE_QUEUED_SPINLOCKS=y
CONFIG_CHARGER_BQ2515X=y
CONFIG_REGULATOR_RT5190A=y
CONFIG_SPARSE_IRQ=y
CONFIG_SCSI_SNIC=y
CONFIG_CONFIGFS_FS=y
CONFIG_DAMON_PADDR=y
CONFIG_IPQ_GCC_5018=y
CONFIG_NXP_PIT_TIMER=y
CONFIG_BACKLIGHT_PANDORA=y
CONFIG_AUDIT_ARCH_COMPAT_GENERIC=y
CONFIG_PINCONF=y
CONFIG_RTC_DRV_RV3029C2=y
CONFIG_EXYNOS_AUDSS_CLK_CON=y
CONFIG_PM=y
CONFIG_STATIC_KEYS_SELFTEST=y
CONFIG_WM831X_POWER=y
CONFIG_SERIAL_CORE=y
CONFIG_SA_VIDEOCC_8775P=y
CONFIG_PCI_HYPERV_INTERFACE=y
CONFIG_ARCH_BST=y
CONFIG_SHMEM=y
CONFIG_NO_HZ_IDLE=y
CONFIG_HAVE_ARCH_USERFAULTFD_MINOR=y
CONFIG_MEMORY_FAILURE=y
CONFIG_CLK_SOPHGO_SG2044_PLL=y
CONFIG_GPIB_NI_PCI_ISA=y
CONFIG_PCI_FTPCI100=y
CONFIG_REGULATOR_RT8092=y
CONFIG_GENERIC_PHY_MIPI_DPHY=y
CONFIG_BUG_ON_DATA_CORRUPTION=y
CONFIG_ARM64_ERRATUM_2077057=y
CONFIG_I2C_BRCMSTB=y
CONFIG_F2FS_FS_LZO=y
CONFIG_ARM64_PSEUDO_NMI=y
CONFIG_SDM_GCC_845=y
CONFIG_MFD_VX855=y
CONFIG_SUN6I_MSGBOX=y
CONFIG_DEVFREQ_GOV_USERSPACE=y
CONFIG_SOFTIRQ_ON_OWN_STACK=y
CONFIG_SENSORS_LT3074=y
CONFIG_KEYBOARD_MATRIX=y
CONFIG_CRYPTO_DEV_QCE=y
CONFIG_CRYPTO_ECC=y
CONFIG_SECURITYFS=y
CONFIG_NLS_UTF8=y
CONFIG_IPMI_SI=y
CONFIG_SOC_SAMSUNG=y
CONFIG_ARCH_MA35=y
CONFIG_CRYPTO_LIB_NH=y
CONFIG_KEYBOARD_SUNKBD=y
CONFIG_PWM_SOPHGO_SG2042=y
CONFIG_DUMMY_CONSOLE=y
CONFIG_CLK_GLYMUR_VIDEOCC=y
CONFIG_HAVE_PERF_REGS=y
CONFIG_PHY_QCOM_EDP=y
CONFIG_INTEL_TH_GTH=y
CONFIG_TEST_KSTRTOX=y
CONFIG_CMA=y
CONFIG_CRYPTO_SM4_GENERIC=y
CONFIG_GPIO_STMPE=y
CONFIG_BCM2712_MIP=y
CONFIG_GPIO_PL061=y
CONFIG_HAVE_HARDLOCKUP_DETECTOR_BUDDY=y
CONFIG_CHARGER_MAX8903=y
CONFIG_LOCKDEP_SUPPORT=y
CONFIG_SENSORS_EMC2305=y
CONFIG_CRYPTO_LZ4=y
CONFIG_CRYPTO_GCM=y
CONFIG_ARM_SMMU_V3=y
CONFIG_PINCTRL_SDM670=y
CONFIG_PHY_QCOM_SGMII_ETH=y
CONFIG_MOUSE_GPIO=y
CONFIG_RSEQ=y
CONFIG_HID_ITE=y
CONFIG_SENSORS_ADM9240=y
CONFIG_SENSORS_LIS3_I2C=y
CONFIG_CRYPTO_SHA1=y
CONFIG_I2C_AMD8111=y
CONFIG_SERIAL_MSM=y
CONFIG_HTE=y
CONFIG_ARCH_HAS_SYNC_DMA_FOR_DEVICE=y
CONFIG_RUSTC_HAS_FILE_WITH_NUL=y
CONFIG_LZ4HC_COMPRESS=y
CONFIG_CRYPTO_ECRDSA=y
CONFIG_SCSI_ESAS2R=y
CONFIG_KEYBOARD_PINEPHONE=y
CONFIG_CRYPTO_MD4=y
CONFIG_RUNTIME_TESTING_MENU=y
CONFIG_RTC_DRV_MT6397=y
CONFIG_ARMADA_CP110_SYSCON=y
CONFIG_SDM_CAMCC_845=y
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_ARGS=y
CONFIG_CRYPTO_DEV_AMLOGIC_GXL=y
CONFIG_I2C_ALGOBIT=y
CONFIG_VIRTIO_CONSOLE=y
CONFIG_ARM64_PLATFORM_DEVICES=y
CONFIG_ACPI_EC=y
CONFIG_BACKLIGHT_LP855X=y
CONFIG_CRYPTO_JITTERENTROPY=y
CONFIG_SENSORS_MAX20830=y
CONFIG_SENSORS_SPD5118=y
CONFIG_PCIE_TPH=y
CONFIG_RTC_DRV_DS1685_FAMILY=y
CONFIG_CXL_SUSPEND=y
CONFIG_RD_LZO=y
CONFIG_PCI_PWRCTRL_TC9563=y
CONFIG_LPC_SCH=y
CONFIG_DAMON_DEBUG_SANITY=y
CONFIG_AIC79XX_REG_PRETTY_PRINT=y
CONFIG_FIRMWARE_TABLE=y
CONFIG_MFD_PF1550=y
CONFIG_PINCTRL_MADERA=y
CONFIG_PCI_HYPERV=y
CONFIG_TIMER_OF=y
CONFIG_NLS_MAC_CROATIAN=y
CONFIG_STEAM_FF=y
CONFIG_SM_CAMCC_7150=y
CONFIG_CRYPTO_ADIANTUM=y
CONFIG_ACPI_BATTERY=y
CONFIG_GOLDFISH=y
CONFIG_KEYBOARD_IQS62X=y
CONFIG_BCMA_HOST_PCI_POSSIBLE=y
CONFIG_SENSORS_APS_379=y
CONFIG_KEY_NOTIFICATIONS=y
CONFIG_CRC_OPTIMIZATIONS=y
CONFIG_I2C_THUNDERX=y
CONFIG_REGULATOR_MP8859=y
CONFIG_EDAC_SYNOPSYS=y
CONFIG_RESET_SUNXI=y
CONFIG_QCOM_RMTFS_MEM=y
CONFIG_DEBUG_FS=y
CONFIG_RTC_DRV_M48T35=y
CONFIG_EXYNOS_PM_DOMAINS=y
CONFIG_HAVE_LIVEPATCH=y
CONFIG_ARCH_AXIADO=y
CONFIG_SM_DISPCC_6350=y
CONFIG_GENERIC_SMP_IDLE_THREAD=y
CONFIG_CRYPTO_LIB_BLAKE2B=y
CONFIG_SENSORS_LTC4282=y
CONFIG_LEDS_CLASS_FLASH=y
CONFIG_HAVE_FUNCTION_ERROR_INJECTION=y
CONFIG_ARCH_SUPPORTS_MSEAL_SYSTEM_MAPPINGS=y
CONFIG_CRC64=y
CONFIG_PANEL=y
CONFIG_TEST_RHASHTABLE=y
CONFIG_ARM_GIC_V3_ITS=y
CONFIG_HID_XIAOMI=y
CONFIG_BINFMT_SCRIPT=y
CONFIG_ARCH_HAS_PKEYS=y
CONFIG_ACPI_REDUCED_HARDWARE_ONLY=y
CONFIG_GPIO_PCIE_IDIO_24=y
CONFIG_PINCTRL_GLYMUR=y
CONFIG_MQ_IOSCHED_DEADLINE=y
CONFIG_MFD_TPS65912=y
CONFIG_ASPEED_LPC_SNOOP=y
CONFIG_PINCTRL_CS42L43=y
CONFIG_HAVE_GENERIC_VDSO=y
CONFIG_MOUSE_PS2_SENTELIC=y
CONFIG_SENSORS_GL520SM=y
CONFIG_ARM_SCMI_POWER_DOMAIN=y
CONFIG_USER_NS=y
CONFIG_OF_GPIO=y
CONFIG_LEDS_REGULATOR=y
CONFIG_MD_AUTODETECT=y
CONFIG_REGULATOR_QCOM_RPM=y
CONFIG_MHI_BUS=y
CONFIG_ARM64_WORKAROUND_CLEAN_CACHE=y
CONFIG_ARCH_SUPPORTS_KEXEC_HANDOVER=y
CONFIG_SENSORS_LM92=y
CONFIG_PARPORT_PC_PCMCIA=y
CONFIG_FB_NOTIFY=y
CONFIG_QCOM_TSENS=y
CONFIG_CRYPTO_DEV_CCP_DD=y
CONFIG_FILE_LOCKING=y
CONFIG_AMD_SBRMI_I2C=y
CONFIG_GCC_PLUGIN_LATENT_ENTROPY=y
CONFIG_ACPI_I2C_OPREGION=y
CONFIG_LEGACY_PTYS=y
CONFIG_SCSI_MVSAS_TASKLET=y
CONFIG_SUN20I_PPU=y
CONFIG_PHY_SUN6I_MIPI_DPHY=y
CONFIG_ARCH_SUPPORTS_INT128=y
CONFIG_KEYBOARD_TM2_TOUCHKEY=y
CONFIG_EXTCON_FSA9480=y
CONFIG_TEST_XARRAY=y
CONFIG_RAPIDIO_CPS_GEN2=y
CONFIG_POWER_RESET_GPIO=y
CONFIG_FPGA_DFL=y
CONFIG_PHY_MVEBU_A3700_UTMI=y
CONFIG_MFD_MAX77714=y
CONFIG_SENSORS_MP2925=y
CONFIG_REGULATOR_PF0900=y
CONFIG_GPIO_RTD=y
CONFIG_MOUSE_PS2_FOCALTECH=y
CONFIG_INPUT_MATRIXKMAP=y
CONFIG_KEYBOARD_SUN4I_LRADC=y
CONFIG_AMPERE_ERRATUM_AC04_CPU_23=y
CONFIG_HAVE_KVM_IRQCHIP=y
CONFIG_VIRTIO_PCI_LIB=y
CONFIG_CRYPTO_DEV_HISI_QM=y
CONFIG_SERIO_ALTERA_PS2=y
CONFIG_RTC_DRV_SUN6I=y
CONFIG_ATA=y
CONFIG_PWM_IQS620A=y
CONFIG_FPGA_BRIDGE=y
CONFIG_NLS_CODEPAGE_874=y
CONFIG_ASPEED_UART_ROUTING=y
CONFIG_CRYPTO_MANAGER2=y
CONFIG_PCIE_CADENCE_HOST=y
CONFIG_FIREWIRE_SBP2=y
CONFIG_COMMON_CLK=y
CONFIG_COMEDI_GSC_HPDI=y
CONFIG_BATTERY_MAX1721X=y
CONFIG_NTB=y
CONFIG_SM_GCC_8650=y
CONFIG_CRYPTO_SM4_ARM64_CE_GCM=y
CONFIG_SERIAL_MSM_CONSOLE=y
CONFIG_FW_CS_DSP=y
CONFIG_COMEDI_NI_DAQ_DIO24_CS=y
CONFIG_AHCI_CEVA=y
CONFIG_EXCLUSIVE_SYSTEM_RAM=y
CONFIG_FB_VT8623=y
CONFIG_RC_CORE=y
CONFIG_SERIO_RAW=y
CONFIG_I2C_AMD_MP2=y
CONFIG_SAR_GCC_2130P=y
CONFIG_VFIO_PCI_CORE=y
CONFIG_GPIO_FTGPIO010=y
CONFIG_RPMSG_VIRTIO=y
CONFIG_INTERVAL_TREE_SPAN_ITER=y
CONFIG_SENSORS_ASUS_ROG_RYUJIN=y
CONFIG_LEDS_QCOM_FLASH=y
CONFIG_MQ_IOSCHED_KYBER=y
CONFIG_HAVE_ARM_SMCCC_DISCOVERY=y
CONFIG_HAVE_MOD_ARCH_SPECIFIC=y
CONFIG_XLNX_EVENT_MANAGER=y
CONFIG_REGULATOR_LP3972=y
CONFIG_MITIGATE_SPECTRE_BRANCH_HISTORY=y
CONFIG_CRYPTO_DEV_QAT_C62X=y
CONFIG_PATA_TIMINGS=y
CONFIG_INDIRECT_PIO=y
CONFIG_PCI_J721E_HOST=y
CONFIG_PHY_CADENCE_TORRENT=y
CONFIG_LEDS_IS31FL32XX=y
CONFIG_SENSORS_MAX6650=y
CONFIG_FUNCTION_ALIGNMENT_4B=y
CONFIG_LEDS_PCA955X=y
CONFIG_USB_OHCI_LITTLE_ENDIAN=y
CONFIG_ARM64_WORKAROUND_SPECULATIVE_UNPRIV_LOAD=y
CONFIG_CRYPTO_ECB=y
CONFIG_HOTPLUG_SMT=y
CONFIG_IRQ_BYPASS_MANAGER=y
CONFIG_PHY_AM654_SERDES=y
CONFIG_FB_SVGALIB=y
CONFIG_SENSORS_STPDDC60=y
CONFIG_SENSORS_SBTSI=y
CONFIG_ARCH_ENABLE_MEMORY_HOTPLUG=y
CONFIG_MFD_RDC321X=y
CONFIG_PM_CLK=y
CONFIG_SENSORS_IBM_CFFPS=y
CONFIG_ARCH_DEFAULT_KEXEC_IMAGE_VERIFY_SIG=y
CONFIG_SERIAL_SPRD=y
CONFIG_CHARGER_TPS65217=y
CONFIG_SERIAL_XILINX_PS_UART=y
CONFIG_BCM74110_MAILBOX=y
CONFIG_ZSMALLOC_STAT=y
CONFIG_STACKTRACE=y
CONFIG_QCOM_CLK_RPM=y
CONFIG_RAPIDIO_RXS_GEN3=y
CONFIG_ARM_SCMI_PROTOCOL=y
CONFIG_SPEAKUP_SYNTH_AUDPTR=y
CONFIG_PINCTRL_MAX7360=y
CONFIG_PINCTRL_SDM660_LPASS_LPI=y
CONFIG_CLK_KAANAPALI_GCC=y
CONFIG_SUN6I_RTC_CCU=y
CONFIG_GPIO_TPS6586X=y
CONFIG_ASYNC_PQ=y
CONFIG_FWCTL=y
CONFIG_ARCH_SUSPEND_POSSIBLE=y
CONFIG_SENSORS_ASPEED=y
CONFIG_SM_DISPCC_7150=y
CONFIG_PINCTRL_SDM670_LPASS_LPI=y
CONFIG_HYPERV_TESTING=y
CONFIG_SENSORS_LOCHNAGAR=y
CONFIG_ARM64_ERRATUM_4118414=y
CONFIG_IRQ_WORK=y
CONFIG_RTC_CLASS=y
CONFIG_RTC_DRV_RC5T619=y
CONFIG_CRYPTO_SM4_ARM64_NEON_BLK=y
CONFIG_SENSORS_ZL6100=y
CONFIG_ZRAM=y
CONFIG_LEDS_RT8515=y
