CONFIG_CRYPTO_LIB_SHA1_ARCH=n
CONFIG_ARCH_MICROCHIP=n
CONFIG_SC_GPUCC_8280XP=n
CONFIG_RENESAS_IRQC=n
CONFIG_NET_VENDOR_INTEL=n
CONFIG_MMC_SDHCI_OF_ESDHC=n
CONFIG_MSM_GCC_8996=n
CONFIG_FUSE_IO_URING=n
CONFIG_MTD_MAP_BANK_WIDTH_2=n
CONFIG_CGROUP_DEVICE=n
CONFIG_FUTEX_PI=n
CONFIG_ARCH_HAS_MEM_ENCRYPT=n
CONFIG_SUN8I_DE2_CCU=n
CONFIG_APPLE_ADMAC=n
CONFIG_IMX_INTMUX=n
CONFIG_USB_CDNS3=n
CONFIG_CLONE_BACKWARDS=n
CONFIG_MFD_STM32_TIMERS=n
CONFIG_NVMEM_SYSFS=n
CONFIG_CLK_R8A77990=n
CONFIG_QCOM_TSENS=n
CONFIG_SND_MESON_AXG_SPDIFOUT=n
CONFIG_PINCTRL_AMLOGIC_A4=n
CONFIG_SYSC_R8A779A0=n
CONFIG_USB_CDNS3_HOST=n
CONFIG_MESON_SARADC=n
CONFIG_ARCH_HAS_SYNC_DMA_FOR_DEVICE=n
CONFIG_PWM_BCM2835=n
CONFIG_GPIO_GENERIC=n
CONFIG_USB_OHCI_HCD_PCI=n
CONFIG_WLAN=n
CONFIG_NET_ACT_GACT=n
CONFIG_COMMON_CLK_MT8183_VENCSYS=n
CONFIG_USB_U_ETHER=n
CONFIG_APPLE_SART=n
CONFIG_IPQ_GCC_9650=n
CONFIG_DRM_PL111=n
CONFIG_HAVE_SOFTIRQ_ON_OWN_STACK=n
CONFIG_BT_HCIUART_QCA=n
CONFIG_COMMON_CLK_MT8173_IMGSYS=n
CONFIG_SND_SOC_TEGRA=n
CONFIG_WLAN_VENDOR_MARVELL=n
CONFIG_VIDEO_DEV=n
CONFIG_PHY_MTK_UFS=n
CONFIG_TYPEC_MT6360=n
CONFIG_CRYPTO_DEV_AMLOGIC_GXL=n
CONFIG_PWM_VISCONTI=n
CONFIG_TEGRA_ACONNECT=n
CONFIG_DWMAC_SUN8I=n
CONFIG_USB=n
CONFIG_SND_SOC_MSIOF=n
CONFIG_IMX_SCMI_MISC_EXT=n
CONFIG_COMMON_CLK_SCMI=n
CONFIG_CRYPTO_LIB_AES_ARCH=n
CONFIG_NET_SCH_ETF=n
CONFIG_VIDEO_TI_J721E_CSI2RX=n
CONFIG_COMMON_CLK_MT8192_VDECSYS=n
CONFIG_DMA_CMA=n
CONFIG_SND_HDA_CODEC_HDMI_NVIDIA_MCP=n
CONFIG_SND_MESON_AXG_TDMIN=n
CONFIG_USB_QCOM_EUD=n
CONFIG_USB_CONFIGFS_F_FS=n
CONFIG_SM_GCC_6350=n
CONFIG_HNS3_HCLGE=n
CONFIG_INTERCONNECT_QCOM_SM8750=n
CONFIG_SYSC_R8A77995=n
CONFIG_PINCTRL_IMX8QM=n
CONFIG_DEV_COREDUMP=n
CONFIG_SND_SOC_SM8250=n
CONFIG_XEN_COMPAT_XENFS=n
CONFIG_PINCTRL_PFC_R8A779F0=n
CONFIG_HAVE_LIVEPATCH=n
CONFIG_IP_NF_IPTABLES=n
CONFIG_SC_GPUCC_7280=n
CONFIG_EFI_SOFT_RESERVE=n
CONFIG_BATTERY_BQ27XXX_I2C=n
CONFIG_GENERIC_BUG=n
CONFIG_SND_HDA_CODEC_HDMI_SIMPLE=n
CONFIG_WLAN_VENDOR_ZYDAS=n
CONFIG_RAID6_PQ=n
CONFIG_ARCH_SUPPORTS_MSEAL_SYSTEM_MAPPINGS=n
CONFIG_CRYPTO_DEV_FSL_CAAM_AHASH_API=n
CONFIG_DVB_CORE=n
CONFIG_DRM_DW_DP=n
CONFIG_GPIO_PCA953X_IRQ=n
CONFIG_HAVE_ARCH_JUMP_LABEL_RELATIVE=n
CONFIG_ARM_SCMI_HAVE_TRANSPORT=n
CONFIG_ARCH_HAVE_NMI_SAFE_CMPXCHG=n
CONFIG_DRM_TTM=n
CONFIG_NVMEM_REBOOT_MODE=n
CONFIG_CPU_FREQ_GOV_PERFORMANCE=n
CONFIG_ACPI_CPPC_CPUFREQ_FIE=n
CONFIG_REGMAP_MMIO=n
CONFIG_DWMAC_VISCONTI=n
CONFIG_GENERIC_CPU_AUTOPROBE=n
CONFIG_POSIX_MQUEUE_SYSCTL=n
CONFIG_SND_SOC_SOF_TOPLEVEL=n
CONFIG_AHCI_BRCM=n
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO=n
CONFIG_PWM_SL28CPLD=n
CONFIG_MDIO_BITBANG=n
CONFIG_HAVE_KVM_READONLY_MEM=n
CONFIG_DRM_PANEL_TRULY_NT35597_WQXGA=n
CONFIG_VIDEO_ROCKCHIP_CIF=n
CONFIG_CRYPTO_DEV_HISI_HPRE=n
CONFIG_SND_SOC_SAMSUNG=n
CONFIG_ARCH_HAS_SETUP_DMA_OPS=n
CONFIG_DP83867_PHY=n
CONFIG_QCOM_SMEM_STATE=n
CONFIG_NXP_NETC_BLK_CTRL=n
CONFIG_EXYNOS_ACPM_CLK=n
CONFIG_DWMAC_SOCFPGA=n
CONFIG_INET_TCP_DIAG=n
CONFIG_SND_CTL_LED=n
CONFIG_CGROUP_CPUACCT=n
CONFIG_PCIE_TEGRA194=n
CONFIG_MAC80211_RC_DEFAULT_MINSTREL=n
CONFIG_USB_RENESAS_USBHS_UDC=n
CONFIG_AS_HAS_MOPS=n
CONFIG_USB_F_OBEX=n
CONFIG_POWER_RESET_GPIO_RESTART=n
CONFIG_IOMMU_API=n
CONFIG_BT_HCIUART_SERDEV=n
CONFIG_PWM_SAMSUNG=n
CONFIG_GRACE_PERIOD=n
CONFIG_COMMON_CLK_MT6795_VDECSYS=n
CONFIG_MLX5_HW_STEERING=n
CONFIG_RELOCATABLE=n
CONFIG_SERIAL_DEV_CTRL_TTYPORT=n
CONFIG_RUSTC_SUPPORTS_ARM64=n
CONFIG_XEN_DOM0=n
CONFIG_ARM_CORESIGHT_PMU_ARCH_SYSTEM_PMU=n
CONFIG_LEDS_PWM=n
CONFIG_NET_DSA_TAG_BRCM_LEGACY=n
CONFIG_PM_SLEEP=n
CONFIG_POWER_RESET_BRCMSTB=n
CONFIG_PHY_MESON_AXG_MIPI_PCIE_ANALOG=n
CONFIG_HW_RANDOM_XGENE=n
CONFIG_TYPEC_MUX_PS883X=n
CONFIG_SPI_FSL_DSPI=n
CONFIG_MFD_SPMI_PMIC=n
CONFIG_MAC80211_LEDS=n
CONFIG_PINCTRL_SM6115=n
CONFIG_SND_SOC_WSA883X=n
CONFIG_PINCTRL_SUN50I_A100_R=n
CONFIG_SQUASHFS=n
CONFIG_ARM64_BRBE=n
CONFIG_CROSS_MEMORY_ATTACH=n
CONFIG_VIDEO_CADENCE_CSI2RX=n
CONFIG_ARCH_HAS_MEMBARRIER_SYNC_CORE=n
CONFIG_CROS_EC_VBC=n
CONFIG_COMMON_CLK_MT8183_IMGSYS=n
CONFIG_PINCTRL_PFC_R8A774A1=n
CONFIG_ATH11K=n
CONFIG_SERIAL_8250_OMAP=n
CONFIG_NET=n
CONFIG_ACPI_GTDT=n
CONFIG_GPIO_XGENE=n
CONFIG_TMPFS_XATTR=n
CONFIG_CRYPTO_DEV_FSL_CAAM_PRNG_API=n
CONFIG_COMMON_CLK_MT8192_MMSYS=n
CONFIG_SPI_FSL_LPSPI=n
CONFIG_LEDS_TRIGGER_PANIC=n
CONFIG_ARCH_LG1K=n
CONFIG_CC_HAS_KASAN_SW_TAGS=n
CONFIG_CLK_RK3562=n
CONFIG_MOUSE_PS2_ALPS=n
CONFIG_GPIO_MPC8XXX=n
CONFIG_HAVE_KVM_IRQCHIP=n
CONFIG_SND_VMASTER=n
CONFIG_MLX5_CORE=n
CONFIG_PINCTRL_RTD1315E=n
CONFIG_TICK_ONESHOT=n
CONFIG_PHY_EXYNOS5_USBDRD=n
CONFIG_UNIX98_PTYS=n
CONFIG_GOOGLE_COREBOOT_TABLE=n
CONFIG_CLKSRC_MMIO=n
CONFIG_INTERCONNECT_QCOM_MSM8916=n
CONFIG_USB_DWC3_RTK=n
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST=n
CONFIG_PCIE_TEGRA194_EP=n
CONFIG_PCI=n
CONFIG_USB_CHIPIDEA_TEGRA=n
CONFIG_SYSC_RCAR=n
CONFIG_ACPI_PPTT=n
CONFIG_PINCTRL_SKY1=n
CONFIG_RESET_SCMI=n
CONFIG_ARCH_HAS_STRICT_MODULE_RWX=n
CONFIG_OPTEE_STATIC_PROTMEM_POOL=n
CONFIG_RTC_HCTOSYS=n
CONFIG_EC_LENOVO_THINKPAD_T14S=n
CONFIG_BT_RTL=n
CONFIG_PINCTRL_IPQ5332=n
CONFIG_HAVE_ARCH_KSTACK_ERASE=n
CONFIG_DW_APB_TIMER=n
CONFIG_TI_K3_CPPI_DESC_POOL=n
CONFIG_ARM_MEDIATEK_CPUFREQ_HW=n
CONFIG_SERIAL_MESON_CONSOLE=n
CONFIG_DEBUG_INFO_COMPRESSED_NONE=n
CONFIG_FSL_ENETC_QOS=n
CONFIG_DT_IDLE_STATES=n
CONFIG_PCI_HOST_GENERIC=n
CONFIG_QCOM_STATS=n
CONFIG_DRM_LONTIUM_LT8713SX=n
CONFIG_SND_SOC_TI_EDMA_PCM=n
CONFIG_NFC_S3FWRN5=n
CONFIG_UACCE=n
CONFIG_VIDEO_MEDIATEK_JPEG=n
CONFIG_CAVIUM_ERRATUM_27456=n
CONFIG_HAVE_KVM_CPU_RELAX_INTERCEPT=n
CONFIG_PINCTRL_PFC_R8A77961=n
CONFIG_USB_BDC_UDC=n
CONFIG_GPIO_RCAR=n
CONFIG_ARCH_R9A07G043=n
CONFIG_CRYPTO_LIB_SHA256=n
CONFIG_MFD_MAX77620=n
CONFIG_MMC_SDHCI_CADENCE=n
CONFIG_WANT_DEV_COREDUMP=n
CONFIG_RSI_SDIO=n
CONFIG_REGULATOR_DA9211=n
CONFIG_QCOM_VADC_COMMON=n
CONFIG_SND_SOC_RT5682S=n
CONFIG_PWM_SUN4I=n
CONFIG_ARCH_SUPPORTS_KEXEC_HANDOVER=n
CONFIG_INTEL_STRATIX10_RSU=n
CONFIG_I2C_UNIPHIER_F=n
CONFIG_SND_SOC_MT8183_DA7219_MAX98357A=n
CONFIG_PINCTRL_PFC_R8A774C0=n
CONFIG_LS_SCFG_MSI=n
CONFIG_CC_NO_STRINGOP_OVERFLOW=n
CONFIG_PREEMPT=n
CONFIG_COMMON_CLK_MT8365_VDEC=n
CONFIG_HAVE_UID16=n
CONFIG_TI_SYSCON_CLK=n
CONFIG_SND_SOC_WCD_COMMON=n
CONFIG_RTC_DRV_SUN6I=n
CONFIG_TOUCHSCREEN_ILI210X=n
CONFIG_SND_SOC_TI_UDMA_PCM=n
CONFIG_DRM_MSM_DSI_10NM_PHY=n
CONFIG_CRYPTO_LIB_CHACHA_ARCH=n
CONFIG_VIDEO_IMX_MIPI_CSIS=n
CONFIG_COMMON_CLK_MESON_REGMAP=n
CONFIG_NFS_V4=n
CONFIG_ARCH_ENABLE_THP_MIGRATION=n
CONFIG_SND_SOC_TEGRA186_DSPK=n
CONFIG_RTC_DRV_XGENE=n
CONFIG_SND_SOC_ROCKCHIP_RT5645=n
CONFIG_OVERLAY_FS_REDIRECT_ALWAYS_FOLLOW=n
CONFIG_PINCTRL_IMX8MM=n
CONFIG_ARMADA_37XX_CLK=n
CONFIG_TYPEC_MUX_NB7VPQ904M=n
CONFIG_DRM_EXEC=n
CONFIG_LEDS_TRIGGER_HEARTBEAT=n
CONFIG_PINCONF=n
CONFIG_AS_IS_GNU=n
CONFIG_MFD_EXYNOS_LPASS=n
CONFIG_LEDS_TRIGGERS=n
CONFIG_MESON_GX_SOCINFO=n
CONFIG_HAVE_ARCH_HUGE_VMALLOC=n
CONFIG_MFD_STM32_LPTIMER=n
CONFIG_ARCH_ARTPEC=n
CONFIG_NET_VENDOR_ALIBABA=n
CONFIG_VIRTIO_PCI_LEGACY=n
CONFIG_PINCTRL_VISCONTI=n
CONFIG_SCHED_SMT=n
CONFIG_COMMON_CLK_MT8188_VDOSYS=n
CONFIG_PINCTRL_ARMADA_CP110=n
CONFIG_SYS_R9A09G057=n
CONFIG_RTC_DRV_RV3028=n
CONFIG_SERIAL_OWL=n
CONFIG_QCOM_CPUCP_MBOX=n
CONFIG_RTC_DRV_ZYNQMP=n
CONFIG_HISILICON_ERRATUM_162100125=n
CONFIG_CMA_SIZE_SEL_MBYTES=n
CONFIG_DRM_ROCKCHIP=n
CONFIG_SPARSEMEM_VMEMMAP_ENABLE=n
CONFIG_NFC_S3FWRN5_I2C=n
CONFIG_SERIAL_MVEBU_UART=n
CONFIG_USB_EHCI_ROOT_HUB_TT=n
CONFIG_DMABUF_HEAPS=n
CONFIG_IMX_GPCV2=n
CONFIG_SDM_CAMCC_845=n
CONFIG_USB_XHCI_RZV2M=n
CONFIG_USB_U_SERIAL=n
CONFIG_IMX_SDMA=n
CONFIG_EEPROM_AT25=n
CONFIG_ELFCORE=n
CONFIG_ACPI_APEI_MEMORY_FAILURE=n
CONFIG_PCIE_QCOM=n
CONFIG_LOCKD_V4=n
CONFIG_MFD_TPS6594_I2C=n
CONFIG_IMX_AIPSTZ=n
CONFIG_VIRTIO_PCI=n
CONFIG_PHY_R8A779F0_ETHERNET_SERDES=n
CONFIG_UCSI_CCG=n
CONFIG_SND_SOC_FSL_AUDMIX=n
CONFIG_CLK_RK3328=n
CONFIG_RESET_MESON_AUX=n
CONFIG_CLK_RK3576=n
CONFIG_SND_SOC_LPASS_CPU=n
