CONFIG_ARCH_CPUIDLE_HALTPOLL=n
CONFIG_SCHED_CACHE=n
CONFIG_PCI_MMCONFIG=n
CONFIG_X86=n
CONFIG_WLAN_VENDOR_ATH=n
CONFIG_HW_RANDOM_AMD=n
CONFIG_RUNTIME_TESTING_MENU=n
CONFIG_RTC_CLASS=n
CONFIG_CRYPTO_LIB_ARC4=n
CONFIG_ZISOFS=n
CONFIG_EARLY_PRINTK_DBGP=n
CONFIG_ARCH_HAS_CPU_CACHE_INVALIDATE_MEMREGION=n
CONFIG_MOUSE_PS2_CYPRESS=n
CONFIG_X86_DISABLED_FEATURE_ENQCMD=n
CONFIG_XZ_DEC_ARMTHUMB=n
CONFIG_HAVE_MMIOTRACE_SUPPORT=n
CONFIG_AUXILIARY_BUS=n
CONFIG_TMPFS=n
CONFIG_ATA_GENERIC=n
CONFIG_SBITMAP=n
CONFIG_NETWORK_SECMARK=n
CONFIG_MOUSE_PS2_SMBUS=n
CONFIG_NET_CLS_ACT=n
CONFIG_XFRM_AH=n
CONFIG_PROC_MEM_FORCE_PTRACE=n
CONFIG_NLS_CODEPAGE_437=n
CONFIG_NLS_ASCII=n
CONFIG_MMU_LAZY_TLB_REFCOUNT=n
CONFIG_PARAVIRT_CLOCK=n
CONFIG_MEMBARRIER=n
CONFIG_CRYPTO_ACOMP2=n
CONFIG_PCCARD_NONSTATIC=n
CONFIG_SYSFS=n
CONFIG_ELF_CORE=n
CONFIG_DRM_PANEL_BRIDGE=n
CONFIG_PROC_EVENTS=n
CONFIG_IPV6_SIT=n
CONFIG_NVRAM=n
CONFIG_PNP=n
CONFIG_BUFFER_HEAD=n
CONFIG_MII=n
CONFIG_WLAN_VENDOR_REALTEK=n
CONFIG_DMI_SCAN_MACHINE_NON_EFI_FALLBACK=n
CONFIG_FUTEX_ROBUST_UNLOCK=n
CONFIG_POWER_SUPPLY_HWMON=n
CONFIG_BUILDTIME_TABLE_SORT=n
CONFIG_NET_FLOW_LIMIT=n
CONFIG_CRYPTO_AES=n
CONFIG_ARCH_HIBERNATION_POSSIBLE=n
CONFIG_CRYPTO_AEAD=n
CONFIG_NET_VENDOR_EZCHIP=n
CONFIG_CC_HAS_AUTO_VAR_INIT_PATTERN=n
CONFIG_HAVE_CMPXCHG_LOCAL=n
CONFIG_NOP_TRACER=n
CONFIG_RTC_INTF_DEV=n
CONFIG_FLATMEM=n
CONFIG_SECURITY_SELINUX_AVC_STATS=n
CONFIG_ARCH_SUPPORTS_KEXEC_BZIMAGE_VERIFY_SIG=n
CONFIG_USB_EHCI_HCD=n
CONFIG_MD_BITMAP=n
CONFIG_CPU_SUP_VORTEX_32=n
CONFIG_DRM_I915_USERPTR=n
CONFIG_SND_TIMER=n
CONFIG_HAVE_EXIT_THREAD=n
CONFIG_HAVE_POSIX_CPU_TIMERS_TASK_WORK=n
CONFIG_X86_THERMAL_VECTOR=n
CONFIG_HAVE_PCI=n
CONFIG_X86_DISABLED_FEATURE_SGX=n
CONFIG_DRM_I915_COMPRESS_ERROR=n
CONFIG_X86_MCE=n
CONFIG_NETFILTER_XT_MARK=n
CONFIG_ARCH_HAS_PTDUMP=n
CONFIG_PREEMPT_BUILD=n
CONFIG_ARCH_CLOCKSOURCE_INIT=n
CONFIG_GENERIC_IRQ_RESERVATION_MODE=n
CONFIG_SCSI_DMA=n
CONFIG_HAVE_PAGE_SIZE_4KB=n
CONFIG_BLK_DEV_DM=n
CONFIG_GENERIC_IRQ_EFFECTIVE_AFF_MASK=n
CONFIG_CRYPTO_LZO=n
CONFIG_CLKBLD_I8253=n
CONFIG_HOTPLUG_SMT=n
CONFIG_NF_NAT=n
CONFIG_WLAN_VENDOR_ATMEL=n
CONFIG_NET_VENDOR_META=n
CONFIG_CRYPTO_CAMELLIA=n
CONFIG_TMPFS_XATTR=n
CONFIG_X86_EXTENDED_PLATFORM=n
CONFIG_IP_PIMSM_V2=n
CONFIG_HWMON=n
CONFIG_MODULES_TREE_LOOKUP=n
CONFIG_SND_HDA_INTEL=n
CONFIG_CRC_CCITT=n
CONFIG_POWER_SUPPLY=n
CONFIG_PM_DEBUG=n
CONFIG_IOMMU_SUPPORT=n
CONFIG_ISO9660_FS=n
CONFIG_NETFILTER_NETLINK_LOG=n
CONFIG_HAVE_KERNEL_BZIP2=n
CONFIG_IP_PNP_RARP=n
CONFIG_ARCH_SUPPORTS_KEXEC_PURGATORY=n
CONFIG_HZ_1000=n
CONFIG_CC_HAS_ENTRY_PADDING=n
CONFIG_PCSPKR_PLATFORM=n
CONFIG_KRETPROBE_ON_RETHOOK=n
CONFIG_HAS_IOMEM=n
CONFIG_ARCH_32BIT_OFF_T=n
CONFIG_AUTOFS_FS=n
CONFIG_STRICT_MODULE_RWX=n
CONFIG_ARCH_WANT_IRQS_OFF_ACTIVATE_MM=n
CONFIG_BLOCK_LEGACY_AUTOLOAD=n
CONFIG_ARCH_HAS_MEMBARRIER_SYNC_CORE=n
CONFIG_HIBERNATION=n
CONFIG_HAVE_SOFTIRQ_ON_OWN_STACK=n
CONFIG_PROC_PID_ARCH_STATUS=n
CONFIG_HAVE_DEBUG_STACKOVERFLOW=n
CONFIG_BLK_CGROUP_IOCOST=n
CONFIG_ARCH_SUPPORTS_KEXEC_SIG_FORCE=n
CONFIG_HAVE_KERNEL_XZ=n
CONFIG_VIRTIO_NET=n
CONFIG_NF_NAT_IRC=n
CONFIG_LOCKD_V4=n
CONFIG_SERIO_LIBPS2=n
CONFIG_HW_RANDOM=n
CONFIG_HOTPLUG_SPLIT_STARTUP=n
CONFIG_KVFREE_RCU_BATCHED=n
CONFIG_DMADEVICES=n
CONFIG_ARCH_HAS_STRICT_KERNEL_RWX=n
CONFIG_FS_IOMAP=n
CONFIG_ACPI_MDIO=n
CONFIG_WLAN=n
CONFIG_BLK_DEV_MD=n
CONFIG_PAGE_SIZE_LESS_THAN_64KB=n
CONFIG_MITIGATION_L1TF=n
CONFIG_USB_OHCI_LITTLE_ENDIAN=n
CONFIG_X86_PM_TIMER=n
CONFIG_QUOTACTL=n
CONFIG_CRYPTO_CBC=n
CONFIG_SERIAL_8250_SHARE_IRQ=n
CONFIG_MAC80211=n
CONFIG_CLKEVT_I8253=n
CONFIG_ARCH_WANT_LD_ORPHAN_WARN=n
CONFIG_XZ_DEC_POWERPC=n
CONFIG_ACPI_SYSTEM_POWER_STATES_SUPPORT=n
CONFIG_NET_VENDOR_SAMSUNG=n
CONFIG_MITIGATION_MDS=n
CONFIG_RFKILL_INPUT=n
CONFIG_THERMAL_HWMON=n
CONFIG_ZSTD_DECOMPRESS=n
CONFIG_YENTA=n
CONFIG_HUGETLBFS=n
CONFIG_CPU_FREQ_GOV_USERSPACE=n
CONFIG_SERIAL_8250_MANY_PORTS=n
CONFIG_NAMESPACES=n
CONFIG_KALLSYMS=n
CONFIG_YENTA_ENE_TUNE=n
CONFIG_RFS_ACCEL=n
CONFIG_SUNRPC_BACKCHANNEL=n
CONFIG_DM_ZERO=n
CONFIG_X86_TSC=n
CONFIG_CGROUP_DEVICE=n
CONFIG_HAVE_ARCH_WITHIN_STACK_FRAMES=n
CONFIG_DRM_I915_CAPTURE_ERROR=n
CONFIG_LTO_NONE=n
CONFIG_X86_SUPPORTS_MEMORY_FAILURE=n
CONFIG_ZLIB_INFLATE=n
CONFIG_X86_MCE_THRESHOLD=n
CONFIG_ARCH_HAS_CPU_RELAX=n
CONFIG_JUMP_LABEL=n
CONFIG_REALTEK_PHY=n
CONFIG_AGP_AMD64=n
CONFIG_ARCH_HAS_CPU_FINALIZE_INIT=n
CONFIG_MOUSE_PS2_SYNAPTICS=n
CONFIG_BPF=n
CONFIG_ACPI_FAN=n
CONFIG_USE_X86_SEG_SUPPORT=n
CONFIG_WLAN_VENDOR_MEDIATEK=n
CONFIG_SND_INTEL_DSP_CONFIG=n
CONFIG_WLAN_VENDOR_PURELIFI=n
CONFIG_WATCHDOG_HANDLE_BOOT_ENABLED=n
CONFIG_MITIGATION_RETPOLINE=n
CONFIG_ARCH_HAS_FAST_MULTIPLIER=n
CONFIG_RD_LZO=n
CONFIG_DEBUG_STACK_USAGE=n
CONFIG_DRM_DISPLAY_DSC_HELPER=n
CONFIG_CC_HAS_RETURN_THUNK=n
CONFIG_HIBERNATE_CALLBACKS=n
CONFIG_NETFILTER_XT_TARGET_SECMARK=n
CONFIG_HID_NTRIG=n
CONFIG_DRM_BUDDY=n
CONFIG_SKB_EXTENSIONS=n
CONFIG_NET_TULIP=n
CONFIG_FLATMEM_MANUAL=n
CONFIG_INTEGRITY=n
CONFIG_QUEUED_SPINLOCKS=n
CONFIG_PPS=n
CONFIG_DEFAULT_SECURITY_SELINUX=n
CONFIG_CFG80211_USE_KERNEL_REGDB_KEYS=n
CONFIG_NET_VENDOR_CORTINA=n
CONFIG_SYMBOLIC_ERRNAME=n
CONFIG_HAVE_KERNEL_GZIP=n
CONFIG_ARCH_USE_BUILTIN_BSWAP=n
CONFIG_NET_VENDOR_HISILICON=n
CONFIG_ARCH_SUPPORTS_ATOMIC_RMW=n
CONFIG_HAVE_EBPF_JIT=n
CONFIG_CRYPTO_LIB_GF128HASH=n
CONFIG_GLOB=n
CONFIG_M686=n
CONFIG_X86_DEBUG_FPU=n
CONFIG_CC_HAS_NAMED_AS=n
CONFIG_NLS=n
CONFIG_SYSTEM_TRUSTED_KEYRING=n
CONFIG_GENERIC_BUG=n
CONFIG_MMU=n
CONFIG_HAVE_KPROBES_ON_FTRACE=n
CONFIG_POSIX_MQUEUE_SYSCTL=n
CONFIG_DECOMPRESS_LZO=n
CONFIG_GENERIC_CLOCKEVENTS=n
CONFIG_PTP_1588_CLOCK=n
CONFIG_CGROUP_SCHED=n
CONFIG_WLAN_VENDOR_ADMTEK=n
CONFIG_ARCH_HAS_STRICT_MODULE_RWX=n
CONFIG_CRYPTO_SIG2=n
CONFIG_BINARY_PRINTF=n
CONFIG_BUG=n
CONFIG_HID_SAMSUNG=n
CONFIG_NFS_V4=n
CONFIG_SPARSE_IRQ=n
CONFIG_FONT_AUTOSELECT=n
CONFIG_HAVE_ARCH_KFENCE=n
CONFIG_RANDSTRUCT_NONE=n
CONFIG_SND_JACK=n
CONFIG_SCSI_SPI_ATTRS=n
CONFIG_WLAN_VENDOR_INTEL=n
CONFIG_CC_HAS_WORKING_NOSANITIZE_ADDRESS=n
CONFIG_X86_IO_APIC=n
CONFIG_THERMAL_DEFAULT_GOV_STEP_WISE=n
CONFIG_NET_VENDOR_WANGXUN=n
CONFIG_GENERIC_IRQ_SHOW=n
CONFIG_RING_BUFFER=n
CONFIG_FAILOVER=n
CONFIG_HAVE_KERNEL_LZMA=n
CONFIG_HAVE_NMI=n
CONFIG_INPUT_EVDEV=n
CONFIG_MICROCODE=n
CONFIG_HIBERNATION_COMP_LZO=n
CONFIG_TRACEPOINTS=n
CONFIG_RTC_INTF_SYSFS=n
CONFIG_EFI_DXE_MEM_ATTRIBUTES=n
CONFIG_WLAN_VENDOR_INTERSIL=n
CONFIG_SND=n
CONFIG_GENERIC_IOMAP=n
CONFIG_STACKTRACE=n
CONFIG_BINFMT_MISC=n
CONFIG_ACPI_PLATFORM_PROFILE=n
CONFIG_X86_REQUIRED_FEATURE_CMOV=n
CONFIG_NET_VENDOR_ADAPTEC=n
CONFIG_RTC_NVMEM=n
CONFIG_SCSI_VIRTIO=n
CONFIG_X86_DISABLED_FEATURE_FRED=n
CONFIG_CGROUP_PIDS=n
CONFIG_ATA_BMDMA=n
CONFIG_PCI_QUIRKS=n
CONFIG_CPU_FREQ_GOV_ATTR_SET=n
CONFIG_ARCH_WANTS_NO_INSTR=n
CONFIG_ARCH_USE_MEMTEST=n
CONFIG_RPCSEC_GSS_KRB5=n
CONFIG_BLK_DEV_INITRD=n
CONFIG_SCHED_CLUSTER=n
CONFIG_FIRMWARE_TABLE=n
CONFIG_RTC_SYSTOHC=n
CONFIG_ARCH_SUPPORTS_ACPI=n
CONFIG_HAVE_DMA_CONTIGUOUS=n
CONFIG_ARCH_HAS_NMI_SAFE_THIS_CPU_OPS=n
CONFIG_ATA_SFF=n
CONFIG_OLD_SIGACTION=n
CONFIG_MD_AUTODETECT=n
CONFIG_MITIGATION_RETBLEED=n
CONFIG_SND_PCI=n
CONFIG_NET_VENDOR_ARC=n
CONFIG_NETPOLL=n
CONFIG_CRYPTO_ECB=n
CONFIG_BLK_DEV_IO_TRACE=n
CONFIG_MAC80211_LEDS=n
CONFIG_NET_VENDOR_BROADCOM=n
CONFIG_NF_LOG_SYSLOG=n
CONFIG_MMU_GATHER_TABLE_FREE=n
CONFIG_EFI_CUSTOM_SSDT_OVERLAYS=n
CONFIG_PAGE_SIZE_4KB=n
CONFIG_CC_HAS_NAMED_AS_FIXED_SANITIZERS=n
CONFIG_CRYPTO_LIB_SHA256=n
CONFIG_CC_HAS_SLS=n
CONFIG_ARCH_SUPPORTS_KEXEC_JUMP=n
CONFIG_NFS_FS=n
CONFIG_NET_VENDOR_REALTEK=n
CONFIG_KEXEC=n
CONFIG_HAVE_CMPXCHG_DOUBLE=n
CONFIG_MITIGATION_SPECTRE_V1=n
CONFIG_USB_EHCI_PCI=n
CONFIG_SYSVIPC_SYSCTL=n
