CONFIG_PAGE_REPORTING=n
CONFIG_MULTIUSER=n
CONFIG_HAVE_KVM_DIRTY_RING_ACQ_REL=n
CONFIG_FB_DMAMEM_HELPERS=n
CONFIG_USB_DEFAULT_PERSIST=n
CONFIG_ERRATA_THEAD_PMU=n
CONFIG_UNIX98_PTYS=n
CONFIG_I2C_HELPER_AUTO=n
CONFIG_NOP_TRACER=n
CONFIG_PINCTRL_SOPHGO_CV1812H=n
CONFIG_USB_OHCI_HCD_PCI=n
CONFIG_IPV6_NDISC_NODETYPE=n
CONFIG_ZLIB_INFLATE=n
CONFIG_FREEZER=n
CONFIG_EFI_EARLYCON=n
CONFIG_NET_RX_BUSY_POLL=n
CONFIG_PREEMPT_LAZY=n
CONFIG_NF_CONNTRACK=n
CONFIG_CFS_BANDWIDTH=n
CONFIG_MMU=n
CONFIG_LDISC_AUTOLOAD=n
CONFIG_ARM_AMBA=n
CONFIG_WIRELESS=n
CONFIG_PCI_QUIRKS=n
CONFIG_MMC_DW_STARFIVE=n
CONFIG_NET_VENDOR_OKI=n
CONFIG_MFD_SIMPLE_MFD_I2C=n
CONFIG_GENERIC_IOREMAP=n
CONFIG_SND_SOC=n
CONFIG_HAVE_KERNEL_XZ=n
CONFIG_PREEMPTION=n
CONFIG_PNP_DEBUG_MESSAGES=n
CONFIG_CACHEMAINT_FOR_DMA=n
CONFIG_NET_9P=n
CONFIG_WLAN_VENDOR_REALTEK=n
CONFIG_SPARSEMEM_EXTREME=n
CONFIG_MODULES=n
CONFIG_SND_SOC_SDCA_OPTIONAL=n
CONFIG_GENERIC_IRQ_ENTRY=n
CONFIG_STMMAC_PLATFORM=n
CONFIG_RTC_DRV_SPACEMIT_P1=n
CONFIG_CPU_FREQ_THERMAL=n
CONFIG_PCI_ECAM=n
CONFIG_XFRM_ALGO=n
CONFIG_MQ_IOSCHED_KYBER=n
CONFIG_SLAB_OBJ_EXT=n
CONFIG_COMPAT_BRK=n
CONFIG_SERIAL_8250_16550A_VARIANTS=n
CONFIG_CAN_RAW=n
CONFIG_NET_VENDOR_SMSC=n
CONFIG_NET_VENDOR_LITEX=n
CONFIG_DRM_TTM_HELPER=n
CONFIG_FB=n
CONFIG_HAVE_ARCH_HUGE_VMAP=n
CONFIG_VIRTIO_PCI_LEGACY=n
CONFIG_MTD_SPI_NOR=n
CONFIG_DMA_DIRECT_REMAP=n
CONFIG_USB_ARCH_HAS_HCD=n
CONFIG_SUN55I_PCK600=n
CONFIG_NET_VENDOR_QLOGIC=n
CONFIG_VM_EVENT_COUNTERS=n
CONFIG_INOTIFY_USER=n
CONFIG_ARCH_SUSPEND_POSSIBLE=n
CONFIG_HAVE_KERNEL_LZO=n
CONFIG_ACPI_I2C_OPREGION=n
CONFIG_USB_F_NCM=n
CONFIG_I2C=n
CONFIG_NET_VENDOR_SEEQ=n
CONFIG_HAVE_PAGE_SIZE_4KB=n
CONFIG_NETFILTER_FAMILY_BRIDGE=n
CONFIG_FB_SYS_COPYAREA=n
CONFIG_IP_VS_PROTO_UDP=n
CONFIG_DTC=n
CONFIG_RUNTIME_KERNEL_TESTING_MENU=n
CONFIG_CLK_STARFIVE_JH7110_VOUT=n
CONFIG_CLK_SOPHGO_SG2042_PLL=n
CONFIG_MEMREGION=n
CONFIG_INET=n
CONFIG_SPARSEMEM_VMEMMAP=n
CONFIG_ERRATA_THEAD_CMO=n
CONFIG_CAN_CALC_BITTIMING=n
CONFIG_NVMEM_SUNXI_SID=n
CONFIG_JH71XX_PMU=n
CONFIG_RISCV_ISA_FALLBACK=n
CONFIG_NFS_V4=n
CONFIG_RATIONAL=n
CONFIG_RESET_TENSTORRENT_ATLANTIS=n
CONFIG_SPLIT_PMD_PTLOCKS=n
CONFIG_CRYPTO_KPP=n
CONFIG_USB_CDNS_SUPPORT=n
CONFIG_NET_VENDOR_BROADCOM=n
CONFIG_ARCH_HAS_SYNC_DMA_FOR_DEVICE=n
CONFIG_ARCH_SUPPORTS_RT=n
CONFIG_FTRACE=n
CONFIG_MMC=n
CONFIG_HAVE_GCC_PLUGINS=n
CONFIG_REGULATOR_SUN20I=n
CONFIG_NET_INGRESS=n
CONFIG_NET_VENDOR_CISCO=n
CONFIG_VIRTIO_ANCHOR=n
CONFIG_MEMTEST=n
CONFIG_RANDSTRUCT_NONE=n
CONFIG_WLAN_VENDOR_SILABS=n
CONFIG_GENERIC_IRQ_IPI_MUX=n
CONFIG_ACPI_DEBUG=n
CONFIG_ISO9660_FS=n
CONFIG_BCMA_POSSIBLE=n
CONFIG_CRYPTO_HMAC=n
CONFIG_MISC_FILESYSTEMS=n
CONFIG_PINCTRL_ULTRARISC=n
CONFIG_KEYS=n
CONFIG_ARCH_SUPPORTS_MSEAL_SYSTEM_MAPPINGS=n
CONFIG_MUTEX_SPIN_ON_OWNER=n
CONFIG_SATA_AHCI_PLATFORM=n
CONFIG_NET_VENDOR_SILAN=n
CONFIG_IP_MULTICAST=n
CONFIG_NO_HZ_COMMON=n
CONFIG_HAVE_ARCH_THREAD_STRUCT_WHITELIST=n
CONFIG_CRYPTO_SHA256=n
CONFIG_HAVE_ARCH_AUDITSYSCALL=n
CONFIG_TRACE_CLOCK=n
CONFIG_TIMER_PROBE=n
CONFIG_PERF_EVENTS=n
CONFIG_V4L2_FWNODE=n
CONFIG_DMA_ACPI=n
CONFIG_WLAN_VENDOR_INTERSIL=n
CONFIG_AIO=n
CONFIG_CLK_STARFIVE_JH7110_SYS=n
CONFIG_HW_RANDOM_VIRTIO=n
CONFIG_LEGACY_DIRECT_IO=n
CONFIG_ARCH_USE_SYM_ANNOTATIONS=n
CONFIG_HAVE_RETHOOK=n
CONFIG_FPU=n
CONFIG_NETDEVICES=n
CONFIG_BRIDGE=n
CONFIG_AUDITSYSCALL=n
CONFIG_WLAN_VENDOR_TI=n
CONFIG_STARFIVE_JHB100_INTC=n
CONFIG_OVERLAY_FS=n
CONFIG_NET_CLS=n
CONFIG_CGROUP_DEVICE=n
CONFIG_SOFTIRQ_ON_OWN_STACK=n
CONFIG_MTD=n
CONFIG_DEBUG_MEMORY_INIT=n
CONFIG_PINCTRL_SOPHGO_SG2000=n
CONFIG_GCC_ASM_GOTO_OUTPUT_BROKEN=n
CONFIG_DRM_DISPLAY_DP_HELPER=n
CONFIG_ARCH_HAS_PREEMPT_LAZY=n
CONFIG_ARCH_SIFIVE=n
CONFIG_GENERIC_STRNLEN_USER=n
CONFIG_SECURITY_SELINUX=n
CONFIG_PCI=n
CONFIG_PM_DEVFREQ=n
CONFIG_DNOTIFY=n
CONFIG_POWER_SEQUENCING=n
CONFIG_QUEUED_RWLOCKS=n
CONFIG_LOCK_SPIN_ON_OWNER=n
CONFIG_NET_VENDOR_ADAPTEC=n
CONFIG_SLUB_DEBUG=n
CONFIG_DRM_GPUVM=n
CONFIG_DT_IDLE_STATES=n
CONFIG_GPIO_SPACEMIT_K1=n
CONFIG_HAVE_KERNEL_GZIP=n
CONFIG_COMMON_CLK_RPMI=n
CONFIG_RISCV_DMA_NONCOHERENT=n
CONFIG_PINCTRL=n
CONFIG_GENERIC_HWEIGHT=n
CONFIG_DECOMPRESS_LZO=n
CONFIG_FB_IOMEM_FOPS=n
CONFIG_SERIO=n
CONFIG_DRM_PANEL_BRIDGE=n
CONFIG_CGROUP_NET_PRIO=n
CONFIG_CRYPTO_DEV_ALLWINNER=n
CONFIG_CRYPTO_SKCIPHER2=n
CONFIG_XZ_DEC_ARMTHUMB=n
CONFIG_NETFILTER_XT_MATCH_IPVS=n
CONFIG_COMMON_CLK_ESWIN=n
CONFIG_TOOLCHAIN_HAS_ZBB=n
CONFIG_HAS_SECURITY_AUDIT=n
CONFIG_MEDIA_HIDE_ANCILLARY_SUBDRV=n
CONFIG_HAVE_PERF_REGS=n
CONFIG_STACKPROTECTOR_PER_TASK=n
CONFIG_CRC_OPTIMIZATIONS=n
CONFIG_IKCONFIG=n
CONFIG_NET_VENDOR_MICROSEMI=n
CONFIG_FHANDLE=n
CONFIG_BTT=n
CONFIG_WLAN_VENDOR_INTEL=n
CONFIG_AS_HAS_OPTION_ARCH=n
CONFIG_DIMLIB=n
CONFIG_ERRATA_SIFIVE_CIP_1200=n
CONFIG_STANDALONE=n
CONFIG_XZ_DEC_SPARC=n
CONFIG_NAMESPACES=n
CONFIG_SERIAL_8250_DW=n
CONFIG_SUN6I_RTC_CCU=n
CONFIG_MIGRATION=n
CONFIG_KEYBOARD_GPIO=n
CONFIG_XXHASH=n
CONFIG_JUMP_LABEL=n
CONFIG_GPIO_ACPI=n
CONFIG_LD_CAN_USE_KEEP_IN_OVERLAY=n
CONFIG_NETFILTER_INGRESS=n
CONFIG_SENSORS_SFCTEMP=n
CONFIG_SPI=n
CONFIG_PM_GENERIC_DOMAINS=n
CONFIG_NET_VENDOR_MUCSE=n
CONFIG_FB_SYS_IMAGEBLIT=n
CONFIG_NET_FLOW_LIMIT=n
CONFIG_CLONE_BACKWARDS=n
CONFIG_CC_HAS_ZERO_CALL_USED_REGS=n
CONFIG_EFI=n
CONFIG_RPMSG_CTRL=n
CONFIG_NET_VENDOR_VERTEXCOM=n
CONFIG_FWNODE_MDIO=n
CONFIG_EXTCON=n
CONFIG_NET_VENDOR_ENGLEDER=n
CONFIG_ARCH_SUPPORTS_LTO_CLANG=n
CONFIG_CGROUP_BPF=n
CONFIG_BRIDGE_IGMP_SNOOPING=n
CONFIG_PINCTRL_SOPHGO_COMMON=n
CONFIG_TASKS_RCU=n
CONFIG_I2C_ALGOBIT=n
CONFIG_TMPFS_XATTR=n
CONFIG_HW_RANDOM_JH7110=n
CONFIG_VIDEO_CADENCE_CSI2RX=n
CONFIG_TENSTORRENT_ATLANTIS_PRCM=n
CONFIG_NFS_V4_SECURITY_LABEL=n
CONFIG_ARCH_SELECT_MEMORY_MODEL=n
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE=n
CONFIG_PHY_STARFIVE_JH7110_USB=n
CONFIG_NET_VENDOR_DEC=n
CONFIG_RISCV_PMU_SBI=n
CONFIG_PRINTK_TIME=n
CONFIG_I2C_MUX=n
CONFIG_GOLDFISH=n
CONFIG_SND_DRIVERS=n
CONFIG_CRYPTO_LIB_SHA1=n
CONFIG_HAVE_PERF_USER_STACK_DUMP=n
CONFIG_VETH=n
CONFIG_OF_GPIO=n
CONFIG_HAVE_ARCH_KGDB=n
CONFIG_KERNEL_GZIP=n
CONFIG_CRYPTO_KPP2=n
CONFIG_ARCH_SUPPORTS_INT128=n
CONFIG_RTC_SYSTOHC=n
CONFIG_VMAP_STACK=n
CONFIG_CPU_FREQ_GOV_PERFORMANCE=n
CONFIG_SERIAL_8250_CONSOLE=n
CONFIG_RISCV_ISA_ZICBOZ=n
CONFIG_DMA_SHARED_BUFFER=n
CONFIG_RISCV_MISALIGNED=n
CONFIG_NETWORK_SECMARK=n
CONFIG_MTD_GEN_PROBE=n
CONFIG_CLK_SOPHGO_SG2042_CLKGEN=n
CONFIG_RISCV_PROBE_VECTOR_UNALIGNED_ACCESS=n
CONFIG_PTP_1588_CLOCK_OPTIONAL=n
CONFIG_TRACEPOINTS=n
CONFIG_VFAT_FS=n
CONFIG_DEBUG_BUGVERBOSE=n
CONFIG_ELF_CORE=n
CONFIG_I2C_DESIGNWARE_CORE=n
CONFIG_ARCH_HAS_STRICT_MODULE_RWX=n
CONFIG_USB_MUSB_HDRC=n
CONFIG_ARCH_HAS_NON_OVERLAPPING_ADDRESS_SPACE=n
CONFIG_NET_VENDOR_ALLWINNER=n
CONFIG_MTD_CFI_I2=n
CONFIG_ARCH_SUPPORTS_UPROBES=n
CONFIG_FB_DEFERRED_IO=n
CONFIG_POSIX_TIMERS=n
CONFIG_MMC_SDHCI_IO_ACCESSORS=n
CONFIG_ARCH_ENABLE_HUGEPAGE_MIGRATION=n
CONFIG_HID=n
CONFIG_ARCH_TENSTORRENT=n
CONFIG_RESET_CONTROLLER=n
CONFIG_RD_ZSTD=n
CONFIG_NETLINK_DIAG=n
CONFIG_SPI_DYNAMIC=n
CONFIG_PCI_DOMAINS_GENERIC=n
CONFIG_PM_OPP=n
CONFIG_SERIAL_8250_PCILIB=n
CONFIG_RING_BUFFER=n
CONFIG_GENERIC_IRQ_EFFECTIVE_AFF_MASK=n
CONFIG_RTC_DRV_GOLDFISH=n
CONFIG_NET_9P_VIRTIO=n
CONFIG_CRYPTO_CAMELLIA=n
CONFIG_DRM_CLIENT_DEFAULT_FBDEV=n
CONFIG_SATA_HOST=n
CONFIG_CPU_THERMAL=n
CONFIG_PWM_PXA=n
CONFIG_DST_CACHE=n
CONFIG_DECOMPRESS_BZIP2=n
CONFIG_NET_VENDOR_META=n
CONFIG_WATCHDOG_CORE=n
CONFIG_MFD_AXP20X=n
CONFIG_RTC_DRV_SUN6I=n
CONFIG_ERRATA_THEAD_MAE=n
CONFIG_SPARSE_IRQ=n
CONFIG_CPU_IDLE_GOV_MENU=n
CONFIG_WLAN_VENDOR_RALINK=n
