CONFIG_ADIS16130=y
CONFIG_HAVE_EISA=y
CONFIG_SERIAL_8250_EXTENDED=y
CONFIG_XZ_DEC_SPARC=y
CONFIG_MAX6959=y
CONFIG_SENSORS_PECI_DIMMTEMP=y
CONFIG_HAVE_KERNEL_XZ=y
CONFIG_GENERIC_ISA_DMA=y
CONFIG_ARCH_HAS_PTE_SPECIAL=y
CONFIG_PREEMPT_DYNAMIC=y
CONFIG_UIO_CIF=y
CONFIG_MLXREG_HOTPLUG=y
CONFIG_USB_SERIAL_FTDI_SIO=y
CONFIG_NET_SCH_QFQ=y
CONFIG_UIO=y
CONFIG_IP_ADVANCED_ROUTER=y
CONFIG_HAVE_MOD_ARCH_SPECIFIC=y
CONFIG_SENSORS_LINEAGE=y
CONFIG_CPU_FREQ_GOV_COMMON=y
CONFIG_NF_CONNTRACK_SIP=y
CONFIG_USB_DUMMY_HCD=y
CONFIG_BATTERY_BQ27XXX_I2C=y
CONFIG_PINCTRL_SX150X=y
CONFIG_EEPROM_MAX6875=y
CONFIG_TOUCHSCREEN_AUO_PIXCIR=y
CONFIG_TI_ADS1119=y
CONFIG_SPI_GPIO=y
CONFIG_PANIC_ON_OOPS=y
CONFIG_SONYPI=y
CONFIG_HAVE_HARDLOCKUP_DETECTOR_PERF=y
CONFIG_I2C_TAOS_EVM=y
CONFIG_GPIO_TPIC2810=y
CONFIG_PCI=y
CONFIG_MAX11205=y
CONFIG_DEVTMPFS=y
CONFIG_USB_OHCI_LITTLE_ENDIAN=y
CONFIG_MAX5432=y
CONFIG_APPLE_MFI_FASTCHARGE=y
CONFIG_NF_LOG_ARP=y
CONFIG_SENSORS_DS620=y
CONFIG_BACKLIGHT_ADP5520=y
CONFIG_NF_DEFRAG_IPV4=y
CONFIG_SERIAL_JSM=y
CONFIG_CRYPTO_KRB5=y
CONFIG_SENSORS_INA2XX=y
CONFIG_STK3310=y
CONFIG_SENSORS_ADM1026=y
CONFIG_DST_CACHE=y
CONFIG_MFD_MAX77693=y
CONFIG_REGULATOR_WM8994=y
CONFIG_SGETMASK_SYSCALL=y
CONFIG_SPI_ZYNQMP_GQSPI=y
CONFIG_COMEDI_NI_USB6501=y
CONFIG_HANGCHECK_TIMER=y
CONFIG_842_DECOMPRESS=y
CONFIG_MCP9600=y
CONFIG_PWM_MAX7360=y
CONFIG_VALIDATE_FS_PARSER=y
CONFIG_INFINEON_TLV493D=y
CONFIG_TOUCHSCREEN_ZFORCE=y
CONFIG_INPUT_DA7280_HAPTICS=y
CONFIG_MFD_WM8998=y
CONFIG_ARCH_HAS_UBSAN=y
CONFIG_BT_HCIUART_AG6XX=y
CONFIG_RPMSG_VIRTIO=y
CONFIG_INPUT_SPARSEKMAP=y
CONFIG_DEBUG_PAGEALLOC_ENABLE_DEFAULT=y
CONFIG_USB_SUPPORT=y
CONFIG_EXTCON_MAX14577=y
CONFIG_CRC7=y
CONFIG_LOCK_DEBUGGING_SUPPORT=y
CONFIG_NLS_MAC_ICELAND=y
CONFIG_VIRTIO_VSOCKETS_COMMON=y
CONFIG_TYPEC_TBT_ALTMODE=y
CONFIG_TOUCHSCREEN_HYNITRON_CST816X=y
CONFIG_NET_SCHED=y
CONFIG_HAVE_ARCH_KSTACK_ERASE=y
CONFIG_LEDS_PWM=y
CONFIG_ADXRS290=y
CONFIG_LTC2632=y
CONFIG_HAVE_RETHOOK=y
CONFIG_REGULATOR_MT6363=y
CONFIG_SENSORS_NCT6683=y
CONFIG_COMEDI_AMPLC_DIO200_PCI=y
CONFIG_REGULATOR_LP8755=y
CONFIG_RTC_DRV_DS1672=y
CONFIG_MTD_ONENAND_2X_PROGRAM=y
CONFIG_I2C_SLAVE=y
CONFIG_KALLSYMS_SELFTEST=y
CONFIG_COMEDI_NI_660X=y
CONFIG_NFT_SOCKET=y
CONFIG_ARCH_HAS_CURRENT_STACK_POINTER=y
CONFIG_RTC_DRV_TEST=y
CONFIG_KEYBOARD_IQS62X=y
CONFIG_HZ_PERIODIC=y
CONFIG_ARCH_SUPPORTS_ACPI=y
CONFIG_BT_LE_L2CAP_ECRED=y
CONFIG_DW_I3C_MASTER=y
CONFIG_FB_IOMEM_FOPS=y
CONFIG_SERIAL_MCTRL_GPIO=y
CONFIG_TEST_IDA=y
CONFIG_X86_DISABLED_FEATURE_PCID=y
CONFIG_VIRTIO_PCI_LIB_LEGACY=y
CONFIG_HIGH_RES_TIMERS=y
CONFIG_IP_SET_HASH_NETPORTNET=y
CONFIG_TREE_SRCU=y
CONFIG_NFC_MRVL_SPI=y
CONFIG_USBIP_HOST=y
CONFIG_BT_LE=y
CONFIG_X86_INTEL_USERCOPY=y
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE=y
CONFIG_GCC10_NO_ARRAY_BOUNDS=y
CONFIG_BPF_JIT_ALWAYS_ON=y
CONFIG_GCC_NO_STRINGOP_OVERFLOW=y
CONFIG_USB_DEFAULT_PERSIST=y
CONFIG_SERIAL_8250_DETECT_IRQ=y
CONFIG_RTC_DRV_MAX6916=y
CONFIG_CHARGER_MAX77705=y
CONFIG_RPMSG_QCOM_GLINK_RPM=y
CONFIG_TOUCHSCREEN_MSG2638=y
CONFIG_TEST_POWER=y
CONFIG_IIO_TRIGGERED_EVENT=y
CONFIG_COMEDI_S526=y
CONFIG_VFIO_CONTAINER=y
CONFIG_IP_MROUTE_MULTIPLE_TABLES=y
CONFIG_GENERIC_IRQ_EFFECTIVE_AFF_MASK=y
CONFIG_MTD_HYPERBUS=y
CONFIG_COMEDI_8255_SA=y
CONFIG_RD_LZO=y
CONFIG_NF_CONNTRACK_OVS=y
CONFIG_LEGACY_TIOCSTI=y
CONFIG_SENSORS_MAX6697=y
CONFIG_AD799X=y
CONFIG_MTD_SCB2_FLASH=y
CONFIG_EDAC_E7XXX=y
CONFIG_IP5XXX_POWER=y
CONFIG_CHARGER_LP8727=y
CONFIG_CRYPTO_USER_API=y
CONFIG_PCI_PRI=y
CONFIG_PUNIT_ATOM_DEBUG=y
CONFIG_TYPEC_HD3SS3220=y
CONFIG_REGULATOR_PV88090=y
CONFIG_CRYPTO_MANAGER=y
CONFIG_X86_CMOV=y
CONFIG_IP_PNP_BOOTP=y
CONFIG_MLXREG_IO=y
CONFIG_RTC_DRV_SD3078=y
CONFIG_INPUT_MAX77693_HAPTIC=y
CONFIG_ARCH_SUPPORTS_LTO_CLANG=y
CONFIG_CRYPTO_LRW=y
CONFIG_AD7780=y
CONFIG_X86_DISABLED_FEATURE_INVLPGB=y
CONFIG_GPIO_MAX732X=y
CONFIG_HAVE_ARCH_SECCOMP=y
CONFIG_IPMI_DEVICE_INTERFACE=y
CONFIG_CC_HAS_KASAN_GENERIC=y
CONFIG_AD7476=y
CONFIG_AD5791=y
CONFIG_ARCH_HIBERNATION_POSSIBLE=y
CONFIG_LEDS_LP8788=y
CONFIG_ADIS16550=y
CONFIG_SENSORS_ADT7462=y
CONFIG_LP8788_ADC=y
CONFIG_MIGRATION=y
CONFIG_CRYPTO_ALGAPI=y
CONFIG_USB_SERIAL_WWAN=y
CONFIG_FB_IBM_GXT4500=y
CONFIG_NOA1305=y
CONFIG_LRU_GEN_WALKS_MMU=y
CONFIG_RD_ZSTD=y
CONFIG_HW_RANDOM_VIA=y
CONFIG_HAVE_USER_RETURN_NOTIFIER=y
CONFIG_ARCH_HAS_CPU_FINALIZE_INIT=y
CONFIG_NTB_EPF=y
CONFIG_RELAY=y
CONFIG_DEBUG_WQ_FORCE_RR_CPU=y
CONFIG_SOCK_RX_QUEUE_MAPPING=y
CONFIG_NMI_CHECK_CPU=y
CONFIG_MPU3050=y
CONFIG_SPI_MASTER=y
CONFIG_BATTERY_DA9030=y
CONFIG_NET5501=y
CONFIG_REGMAP_SPI=y
CONFIG_TOUCHSCREEN_SX8654=y
CONFIG_TOUCHSCREEN_RM_TS=y
CONFIG_BT_MSFTEXT=y
CONFIG_MISC_RTSX_USB=y
CONFIG_SENSORS_ADM9240=y
CONFIG_TOUCHSCREEN_HIMAX_HX852X=y
CONFIG_POWER_SEQUENCING=y
CONFIG_EXCLUSIVE_SYSTEM_RAM=y
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_DIRECT_CALLS=y
CONFIG_XARRAY_MULTI=y
CONFIG_SERIAL_8250_SHARE_IRQ=y
CONFIG_NLS_ISO8859_6=y
CONFIG_AD7303=y
CONFIG_DEBUG_MISC=y
CONFIG_USB_DWC3_ULPI=y
CONFIG_HW_RANDOM=y
CONFIG_USB_F_PHONET=y
CONFIG_MFD_CGBC=y
CONFIG_ROHM_BD79124=y
CONFIG_EDAC_X38=y
CONFIG_HPET_TIMER=y
CONFIG_X86_LONGRUN=y
CONFIG_CRYPTO_GCM=y
CONFIG_IIO=y
CONFIG_GPIO_SCH311X=y
CONFIG_L2TP_DEBUGFS=y
CONFIG_MMA9553=y
CONFIG_IIO_KFIFO_BUF=y
CONFIG_BATTERY_DS2780=y
CONFIG_SPI_BITBANG=y
CONFIG_IP_SCTP=y
CONFIG_LEDS_AW200XX=y
CONFIG_USB_G_DBGP_PRINTK=y
CONFIG_PREVENT_FIRMWARE_BUILD=y
CONFIG_CAN_RAW=y
CONFIG_X86_REBOOTFIXUPS=y
CONFIG_INSTRUCTION_DECODER=y
CONFIG_TOUCHSCREEN_NOVATEK_NVT_TS=y
CONFIG_SERIAL_MAX3100=y
CONFIG_RTC_HCTOSYS=y
CONFIG_HWSPINLOCK=y
CONFIG_HAVE_ARCH_THREAD_STRUCT_WHITELIST=y
CONFIG_CRYPTO_USER_API_RNG=y
CONFIG_MOXA_INTELLIO=y
CONFIG_RTC_DRV_RV8803=y
CONFIG_NEW_LEDS=y
CONFIG_INET_AH=y
CONFIG_GPIO_GENERIC_PLATFORM=y
CONFIG_AUXILIARY_BUS=y
CONFIG_ENS160_SPI=y
CONFIG_FB_IOMEM_HELPERS=y
CONFIG_APERTURE_HELPERS=y
CONFIG_SENSORS_TC74=y
CONFIG_TOOLS_SUPPORT_RELR=y
CONFIG_I2C=y
CONFIG_RD_LZ4=y
CONFIG_NFC_ST_NCI_I2C=y
CONFIG_SPI_LM70_LLP=y
CONFIG_IIO_BUFFER_CB=y
CONFIG_BT_HCIUART_H4=y
CONFIG_HAVE_CMPXCHG_LOCAL=y
CONFIG_RTC_DRV_ISL1208=y
CONFIG_CRYPTO_LZO=y
CONFIG_X86_INTEL_PSTATE=y
CONFIG_REGULATOR_FP9931=y
CONFIG_LRU_GEN_ENABLED=y
CONFIG_TCS3414=y
CONFIG_BT=y
CONFIG_SENSORS_MAX6639=y
CONFIG_FIX_EARLYCON_MEM=y
CONFIG_SENSORS_NCT7802=y
CONFIG_AD_SIGMA_DELTA=y
CONFIG_GPIB_AGILENT_82350B=y
CONFIG_EVENT_TRACING=y
CONFIG_CRYPTO_DEFLATE=y
CONFIG_SENSORS_SHT21=y
CONFIG_HW_RANDOM_TIMERIOMEM=y
CONFIG_MLXREG_DPU=y
CONFIG_USB_CHIPIDEA_GENERIC=y
CONFIG_PM_OPP=y
CONFIG_INTEL_EHL_PSE_IO=y
CONFIG_NSM=y
CONFIG_USB_SERIAL_MCT_U232=y
CONFIG_LTC2983=y
CONFIG_USB_CONFIGFS_ECM_SUBSET=y
CONFIG_GCOV_KERNEL=y
CONFIG_EXTCON_RT8973A=y
CONFIG_DELL_SMBIOS=y
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST_IDLE=y
CONFIG_MTD_ROM=y
CONFIG_CRYPTO=y
CONFIG_HAVE_ALIGNED_STRUCT_PAGE=y
CONFIG_PCMCIA=y
CONFIG_BINARY_PRINTF=y
CONFIG_HAVE_HARDLOCKUP_DETECTOR_BUDDY=y
CONFIG_I2C_MUX_LTC4306=y
CONFIG_PHY_PXA_28NM_USB2=y
CONFIG_REGULATOR_MAX77838=y
CONFIG_ALTERA_FREEZE_BRIDGE=y
CONFIG_FB_DEFERRED_IO=y
CONFIG_SERIAL_FSL_LPUART=y
CONFIG_SPI_LANTIQ_SSC=y
CONFIG_RTC_DRV_RS5C372=y
CONFIG_PCI_MSI=y
CONFIG_MTD_AMD76XROM=y
CONFIG_GPIO_NCT6694=y
CONFIG_ARCH_HAS_SYSCALL_WRAPPER=y
CONFIG_XZ_DEC_ARM64=y
CONFIG_TOUCHSCREEN_ATMEL_MXT=y
CONFIG_HAVE_REGS_AND_STACK_ACCESS_API=y
CONFIG_HAVE_BUILDTIME_MCOUNT_SORT=y
CONFIG_AD7192=y
CONFIG_MFD_MAX77541=y
CONFIG_SENSORS_LM63=y
CONFIG_DEBUG_TEST_DRIVER_REMOVE=y
CONFIG_DEBUG_NET_SMALL_RTNL=y
CONFIG_RWSEM_SPIN_ON_OWNER=y
CONFIG_TOUCHSCREEN_GOODIX_BERLIN_SPI=y
CONFIG_BATTERY_SBS=y
CONFIG_PAGE_POISONING=y
CONFIG_ADL8113=y
CONFIG_AD7768_1=y
CONFIG_TEST_XARRAY=y
CONFIG_LEDS_DA903X=y
CONFIG_DELL_RBU=y
CONFIG_RTC_DRV_ABB5ZES3=y
CONFIG_COMPAT_32=y
CONFIG_W1_SLAVE_DS2405=y
CONFIG_SENSORS_HMC5843_I2C=y
CONFIG_STM_SOURCE_CONSOLE=y
CONFIG_HAVE_POSIX_CPU_TIMERS_TASK_WORK=y
CONFIG_USB_COMMON=y
CONFIG_USB_SERIAL_MOS7715_PARPORT=y
CONFIG_SSB_PCMCIAHOST_POSSIBLE=y
CONFIG_ISA_BUS=y
CONFIG_USB_SERIAL_QT2=y
CONFIG_BCMA_DRIVER_GPIO=y
CONFIG_GAMEPORT_EMU10K1=y
CONFIG_LEDS_TRIGGER_NETDEV=y
CONFIG_LZO_COMPRESS=y
CONFIG_MS5611=y
CONFIG_TICK_ONESHOT=y
CONFIG_IRQ_DOMAIN=y
CONFIG_IRQ_FORCED_THREADING=y
CONFIG_CB710_CORE=y
CONFIG_842_COMPRESS=y
CONFIG_TI_ADS8344=y
CONFIG_CONTEXT_TRACKING=y
CONFIG_BACKLIGHT_CGBC=y
CONFIG_SLUB=y
CONFIG_ASN1=y
CONFIG_TOUCHSCREEN_MTOUCH=y
CONFIG_SENSORS_DA9052_ADC=y
CONFIG_SIEMENS_SIMATIC_IPC=y
CONFIG_BMC150_MAGN=y
CONFIG_ARCH_SUPPORTS_SCHED_MC=y
CONFIG_BT_HCIUART_SERDEV=y
CONFIG_ITG3200=y
CONFIG_BT_HCIBFUSB=y
CONFIG_W1_MASTER_UART=y
CONFIG_ARCH_SUPPORTS_RT=y
CONFIG_PWM_GPIO=y
CONFIG_SENSORS_ISL28022=y
CONFIG_I2C_OCORES=y
CONFIG_ARCH_HAVE_NMI_SAFE_CMPXCHG=y
CONFIG_VL53L1X_I2C=y
CONFIG_RTC_DRV_PCF8583=y
CONFIG_CRYPTO_KDF800108_CTR=y
CONFIG_ARCH_HAS_CPU_RELAX=y
CONFIG_SERIAL_ALTERA_UART_CONSOLE=y
CONFIG_CRYPTO_TWOFISH_COMMON=y
CONFIG_SENSORS_QNAP_MCU_HWMON=y
CONFIG_EDAC_I3200=y
CONFIG_SENSORS_PWM_FAN=y
CONFIG_RTC_DRV_RV3029_HWMON=y
CONFIG_MFD_MAX8907=y
CONFIG_N_HDLC=y
CONFIG_IP_VS_LC=y
CONFIG_MITIGATION_SRBDS=y
CONFIG_TRANSPARENT_HUGEPAGE_NEVER=y
CONFIG_ARCH_HAS_GCOV_PROFILE_ALL=y
CONFIG_DEBUG_NMI_SELFTEST=y
CONFIG_DECOMPRESS_LZ4=y
CONFIG_SPI_INTEL=y
CONFIG_MFD_SIMPLE_MFD_I2C=y
CONFIG_STACKDEPOT=y
CONFIG_MFD_OCELOT=y
CONFIG_PROVIDE_OHCI1394_DMA_INIT=y
CONFIG_VFIO=y
CONFIG_CHARGER_BQ24190=y
CONFIG_ARCH_HAS_NONLEAF_PMD_YOUNG=y
CONFIG_LP_CONSOLE=y
CONFIG_AD74115=y
CONFIG_INTEL_ATOMISP2_LED=y
CONFIG_FB_BACKLIGHT=y
CONFIG_COMEDI_ADV_PCI_DIO=y
CONFIG_AD4062=y
CONFIG_CHARGER_MAX14577=y
CONFIG_CEPH_LIB_PRETTYDEBUG=y
CONFIG_MMC5633=y
CONFIG_MTD_MCHP48L640=y
CONFIG_USB_R8A66597_HCD=y
CONFIG_ARCH_WANT_IPC_PARSE_VERSION=y
CONFIG_RMI4_F55=y
CONFIG_CROS_EC_CHARDEV=y
CONFIG_CLOCKSOURCE_WATCHDOG=y
CONFIG_ZL3073X_I2C=y
CONFIG_REGULATOR_MAX20411=y
CONFIG_GENERIC_CPU_VULNERABILITIES=y
CONFIG_ZLIB_INFLATE=y
CONFIG_CLK_TWL6040=y
CONFIG_COMEDI_NI_DAQ_DIO24_CS=y
CONFIG_LZO_DECOMPRESS=y
CONFIG_CRYPTO_842=y
CONFIG_HTS221_SPI=y
CONFIG_ADA4250=y
CONFIG_SENSORS_MAX6650=y
CONFIG_SERIAL_SC16IS7XX=y
CONFIG_USB_SERIAL_DIGI_ACCELEPORT=y
CONFIG_GPIOLIB_LEGACY=y
CONFIG_GPIO_WAVESHARE_DSI_TOUCH=y
CONFIG_MXC6255=y
CONFIG_SCHED_SMT=y
CONFIG_VL6180=y
CONFIG_TRACE_IRQFLAGS=y
CONFIG_HAVE_OPTPROBES=y
CONFIG_AUXDISPLAY=y
CONFIG_XZ_DEC_ARMTHUMB=y
CONFIG_STM_DUMMY=y
CONFIG_I3C_OR_I2C=y
CONFIG_NTB_TRANSPORT=y
CONFIG_GPIO_TIMBERDALE=y
CONFIG_KGDB=y
CONFIG_GENERIC_IOMAP=y
CONFIG_MFD_TI_LMU=y
CONFIG_LEDS_MAX5970=y
CONFIG_ADF4377=y
CONFIG_TRACE_IRQFLAGS_NMI=y
CONFIG_SENSORS_ADM1031=y
CONFIG_VIPERBOARD_ADC=y
CONFIG_HAVE_SETUP_PER_CPU_AREA=y
CONFIG_CROS_USBPD_LOGGER=y
CONFIG_TASKS_RCU_GENERIC=y
CONFIG_FB_OPENCORES=y
CONFIG_FIND_BIT_BENCHMARK=y
CONFIG_PCIE_DW_HOST=y
CONFIG_COMEDI_RTD520=y
CONFIG_TOUCHSCREEN_GOODIX=y
CONFIG_ARCH_USE_MEMTEST=y
CONFIG_CRC32_ARCH=y
CONFIG_CC_NO_ARRAY_BOUNDS=y
CONFIG_EDAC_DEBUG=y
CONFIG_COMEDI_NI_TIO=y
CONFIG_CRYPTO_BENCHMARK=y
CONFIG_AD2S1200=y
CONFIG_INPUT_CM109=y
CONFIG_SPI_PXA2XX_PCI=y
CONFIG_REGMAP_IRQ=y
CONFIG_COMMON_CLK_SI5341=y
CONFIG_DECOMPRESS_BZIP2=y
CONFIG_EDAC_ATOMIC_SCRUB=y
CONFIG_HAVE_ATOMIC_IOMAP=y
CONFIG_QCOM_PMIC_PDCHARGER_ULOG=y
CONFIG_TEST_FPU=y
CONFIG_COMEDI_AMPLC_PC236_ISA=y
CONFIG_IIO_ST_LSM6DSX=y
CONFIG_I2C_DEBUG_ALGO=y
CONFIG_CRYPTO_LZ4HC=y
CONFIG_USB_F_NCM=y
CONFIG_SERIAL_ARC=y
CONFIG_SCHED_HRTICK=y
CONFIG_CDNS_I3C_MASTER=y
CONFIG_MFD_QNAP_MCU=y
CONFIG_RTC_DRV_RX8025=y
CONFIG_BACKLIGHT_QCOM_WLED=y
CONFIG_GCOV_PROFILE_RDS=y
CONFIG_FB_ARC=y
CONFIG_INTERVAL_TREE_TEST=y
CONFIG_TOUCHSCREEN_ZINITIX=y
CONFIG_AL3000A=y
CONFIG_ZLIB_DEFLATE=y
CONFIG_COMMON_CLK_SI5351=y
CONFIG_NLS_MAC_CROATIAN=y
CONFIG_HAVE_KPROBES_ON_FTRACE=y
CONFIG_W1_SLAVE_DS28E04=y
CONFIG_COMEDI_ADV_PCI1724=y
CONFIG_USB_F_PRINTER=y
CONFIG_NFC_S3FWRN5=y
CONFIG_DECOMPRESS_GZIP=y
CONFIG_BATTERY_S2MU005=y
CONFIG_MTD_PMC551_DEBUG=y
CONFIG_MLX90614=y
CONFIG_NEED_TASKS_RCU=y
CONFIG_NF_CONNTRACK_IRC=y
CONFIG_REGULATOR_RTQ6752=y
CONFIG_SERIAL_UARTLITE_CONSOLE=y
CONFIG_USB4_DEBUGFS_MARGINING=y
CONFIG_CRYPTO_AKCIPHER2=y
CONFIG_TOUCHSCREEN_WDT87XX_I2C=y
CONFIG_SENSORS_MCP3021=y
CONFIG_ARCH_WANTS_NO_INSTR=y
CONFIG_RBTREE_TEST=y
CONFIG_LD_ORPHAN_WARN=y
CONFIG_VHOST_CROSS_ENDIAN_LEGACY=y
CONFIG_MAG3110=y
CONFIG_AD7191=y
CONFIG_USB4_STREAM=y
CONFIG_LEDS_TRIGGER_ONESHOT=y
CONFIG_NLS_CODEPAGE_936=y
CONFIG_COMEDI_NI_6527=y
CONFIG_BMA180=y
CONFIG_INPUT_TOUCHSCREEN=y
CONFIG_TOUCHSCREEN_TSC2007=y
CONFIG_CONTEXT_SWITCH_TRACER=y
CONFIG_OPTPROBES=y
CONFIG_PHYS_ADDR_T_64BIT=y
CONFIG_MTD_PHRAM=y
