CONFIG_CC_HAS_ENTRY_PADDING=y
CONFIG_TRACER_SNAPSHOT=y
CONFIG_ARCH_STACKWALK=y
CONFIG_FW_LOADER=y
CONFIG_W1_SLAVE_DS2431=y
CONFIG_MFD_RT5120=y
CONFIG_TRUSTED_KEYS=y
CONFIG_DCACHE_WORD_ACCESS=y
CONFIG_USB_OHCI_LITTLE_ENDIAN=y
CONFIG_BMG160=y
CONFIG_CRYPTO_RNG2=y
CONFIG_RTC_DRV_BQ32K=y
CONFIG_LEDS_TRIGGER_TTY=y
CONFIG_MFD_AXP20X_I2C=y
CONFIG_ARCH_HAVE_EXTRA_ELF_NOTES=y
CONFIG_ACERHDF=y
CONFIG_GCOV_KERNEL=y
CONFIG_W1_SLAVE_DS2438=y
CONFIG_FB_CORE=y
CONFIG_CROS_EC_LIGHTBAR=y
CONFIG_TIMERLAT_TRACER=y
CONFIG_BOOT_CONFIG=y
CONFIG_ARCH_HAS_ACPI_TABLE_UPGRADE=y
CONFIG_EXTCON_MAX3355=y
CONFIG_MAX5821=y
CONFIG_WQ_CPU_INTENSIVE_REPORT=y
CONFIG_MITIGATION_RETHUNK=y
CONFIG_CRYPTO_KPP=y
CONFIG_REGULATOR_TPS6507X=y
CONFIG_CHARGER_BQ24735=y
CONFIG_DEBUG_SPINLOCK=y
CONFIG_HARDLOCKUP_DETECTOR_COUNTS_HRTIMER=y
CONFIG_ACPI_BUTTON=y
CONFIG_GENERIC_STRNCPY_FROM_USER=y
CONFIG_MODULES_USE_ELF_RELA=y
CONFIG_LZ4HC_COMPRESS=y
CONFIG_PREEMPT_COUNT=y
CONFIG_IIO_CONFIGFS=y
CONFIG_HAVE_KCSAN_COMPILER=y
CONFIG_VHOST_TASK=y
CONFIG_CM3605=y
CONFIG_UIO_PDRV_GENIRQ=y
CONFIG_USB_F_OBEX=y
CONFIG_HMC6352=y
CONFIG_CRYPTO_DEFLATE=y
CONFIG_DEFAULT_SECURITY_DAC=y
CONFIG_HARDLOCKUP_DETECTOR_BUDDY=y
CONFIG_HAVE_ARCH_PREL32_RELOCATIONS=y
CONFIG_CRYPTO_CAST_COMMON=y
CONFIG_REGULATOR_TPS65912=y
CONFIG_IIO_GTS_HELPER=y
CONFIG_LOGO=y
CONFIG_MTRR_SANITIZER=y
CONFIG_RTC_DRV_DS1742=y
CONFIG_ADXL380_I2C=y
CONFIG_CRYPTO_HASH=y
CONFIG_FW_LOADER_PAGED_BUF=y
CONFIG_INTEL_TH=y
CONFIG_REGULATOR_PF1550=y
CONFIG_SPARSEMEM=y
CONFIG_HAVE_STATIC_CALL_INLINE=y
CONFIG_CRYPTO_CAMELLIA_AESNI_AVX_X86_64=y
CONFIG_DEBUG_FS_ALLOW_NONE=y
CONFIG_HAVE_NOINSTR_HACK=y
CONFIG_ARCH_SUPPORTS_SCHED_SMT=y
CONFIG_I2C_CBUS_GPIO=y
CONFIG_FB_CFB_IMAGEBLIT=y
CONFIG_HAVE_OPTPROBES=y
CONFIG_GAMEPORT=y
CONFIG_VT=y
CONFIG_BOOT_CONFIG_FORCE=y
CONFIG_CRC_OPTIMIZATIONS=y
CONFIG_ARCH_SUPPORTS_ACPI=y
CONFIG_ACPI_CONTAINER=y
CONFIG_MFD_MAX5970=y
CONFIG_FUNCTION_PROFILER=y
CONFIG_HAVE_KVM_IRQ_BYPASS=y
CONFIG_LOCK_SPIN_ON_OWNER=y
CONFIG_RMI4_F03=y
CONFIG_TYPEC_ANX7411=y
CONFIG_X86_IOPL_IOPERM=y
CONFIG_KGDB=y
CONFIG_SDP500=y
CONFIG_PACKING=y
CONFIG_XILLYBUS_CLASS=y
CONFIG_CRYPTO_CAST5_AVX_X86_64=y
CONFIG_LWQ_TEST=y
CONFIG_LEDS_LM3642=y
CONFIG_MFD_ARIZONA_I2C=y
CONFIG_HPET_MMAP=y
CONFIG_PRINTK_CALLER=y
CONFIG_REGULATOR_MAX77620=y
CONFIG_LEDS_NIC78BX=y
CONFIG_X86_PLATFORM_DRIVERS_DELL=y
CONFIG_UNIX98_PTYS=y
CONFIG_SERIO_ARC_PS2=y
CONFIG_IRQ_TIME_ACCOUNTING=y
CONFIG_CC10001_ADC=y
CONFIG_NLS_CODEPAGE_950=y
CONFIG_CRYPTO_HW=y
CONFIG_AD7091R5=y
CONFIG_REGULATOR_RTQ2134=y
CONFIG_HAVE_FTRACE_GRAPH_FUNC=y
CONFIG_SERIAL_SPRD=y
CONFIG_CRYPTO_TWOFISH_X86_64_3WAY=y
CONFIG_TYPEC_MUX_FSA4480=y
CONFIG_USB_PXA27X=y
CONFIG_W1_SLAVE_DS28E17=y
CONFIG_BRANCH_TRACER=y
CONFIG_GENERIC_SMP_IDLE_THREAD=y
CONFIG_NVMEM_LAYOUTS=y
CONFIG_HPET_EMULATE_RTC=y
CONFIG_I2C_GPIO=y
CONFIG_AD7291=y
CONFIG_SCD30_CORE=y
CONFIG_IQS621_ALS=y
CONFIG_GPIO_PCF857X=y
CONFIG_ICP10100=y
CONFIG_STACKPROTECTOR=y
CONFIG_USB_M66592=y
CONFIG_GPIO_LP3943=y
CONFIG_EFI_RUNTIME_MAP=y
CONFIG_TSYS02D=y
CONFIG_MP2629_ADC=y
CONFIG_COMMON_CLK_VC5=y
CONFIG_X86_DISABLED_FEATURE_XENPV=y
CONFIG_GPIOLIB_IRQCHIP=y
CONFIG_FTRACE=y
CONFIG_MPU3050=y
CONFIG_WILCO_EC=y
CONFIG_MUX_CORE=y
CONFIG_GPIOLIB_LEGACY=y
CONFIG_AL3320A=y
CONFIG_NSM=y
CONFIG_REGULATOR_FP9931=y
CONFIG_PCMCIA=y
CONFIG_DEBUG_TLBFLUSH=y
CONFIG_DECOMPRESS_XZ=y
CONFIG_LEDS_MAX77693=y
CONFIG_ARCH_HAS_KCOV=y
CONFIG_SCHED_STACK_END_CHECK=y
CONFIG_X86_HAVE_PAE=y
CONFIG_CHARGER_RK817=y
CONFIG_HAVE_BOOTMEM_INFO_NODE=y
CONFIG_MFD_AXP20X=y
CONFIG_X86_DISABLED_FEATURE_SGX=y
CONFIG_DCDBAS=y
CONFIG_PSTORE=y
CONFIG_OF_FLATTREE=y
CONFIG_AM2315=y
CONFIG_USERIO=y
CONFIG_MFD_MP2629=y
CONFIG_LINEAR_RANGES=y
CONFIG_RTC_DRV_DS1286=y
CONFIG_PT_RECLAIM=y
CONFIG_GPIO_ADNP=y
CONFIG_TRACER_SNAPSHOT_PER_CPU_SWAP=y
CONFIG_MFD_MC13XXX=y
CONFIG_MCB_LPC=y
CONFIG_CRYPTO_SM4_GENERIC=y
CONFIG_LD_CAN_USE_KEEP_IN_OVERLAY=y
CONFIG_MAX30102=y
CONFIG_SOC_BUS=y
CONFIG_CONTEXT_TRACKING_IDLE=y
CONFIG_ARCH_WANT_BATCHED_UNMAP_TLB_FLUSH=y
CONFIG_CRYPTO_GENIV=y
CONFIG_RTC_DRV_MSM6242=y
CONFIG_GPIO_GENERIC_PLATFORM=y
CONFIG_DMA_NEED_SYNC=y
CONFIG_SURFACE_PLATFORMS=y
CONFIG_GCC10_NO_ARRAY_BOUNDS=y
CONFIG_HAVE_GUP_FAST=y
CONFIG_MFD_TPS65090=y
CONFIG_W1_SLAVE_SMEM=y
CONFIG_COMMON_CLK_FIXED_MMIO=y
CONFIG_PINCTRL_SUNRISEPOINT=y
CONFIG_GPIO_SIFIVE=y
CONFIG_VIRTIO_RTC=y
CONFIG_PREEMPT_RT=y
CONFIG_RV_HA_MONITOR=y
CONFIG_INV_ICM45600_I2C=y
CONFIG_I2C_MUX_GPMUX=y
CONFIG_CC_HAS_ASM_INLINE=y
CONFIG_HAVE_KLP_BUILD=y
CONFIG_REGULATOR_ADP5055=y
CONFIG_CROS_EC_PROTO=y
CONFIG_CRYPTO_CAMELLIA_X86_64=y
CONFIG_PSTORE_CONSOLE=y
CONFIG_X86_DISABLED_FEATURE_UNRET=y
CONFIG_SMPRO_MISC=y
CONFIG_ACPI_SLEEP=y
CONFIG_ARCH_HAS_DEBUG_WX=y
CONFIG_MAXSMP=y
CONFIG_USB_ROLE_SWITCH=y
CONFIG_BCMA_DRIVER_GMAC_CMN=y
CONFIG_MFD_UPBOARD_FPGA=y
CONFIG_MFD_ACT8945A=y
CONFIG_ARCH_HAS_HW_PTE_YOUNG=y
CONFIG_NULL_TTY=y
CONFIG_LEDS_ADP5520=y
CONFIG_LEDS_TRIGGER_DEFAULT_ON=y
CONFIG_CRYPTO_BLAKE2B=y
CONFIG_PPS_CLIENT_GPIO=y
CONFIG_FW_LOADER_USER_HELPER=y
CONFIG_REGULATOR_DA903X=y
CONFIG_BUG_ON_DATA_CORRUPTION=y
CONFIG_RTC_DRV_DS1685=y
CONFIG_BACKLIGHT_LED=y
CONFIG_REGULATOR_MAX77826=y
CONFIG_TYPEC_MUX_IT5205=y
CONFIG_MFD_TQMX86=y
CONFIG_ARCH_HAS_PTE_SPECIAL=y
CONFIG_AL3000A=y
CONFIG_MFD_CS42L43_I2C=y
CONFIG_SSB_POSSIBLE=y
CONFIG_COMMON_CLK_CS2000_CP=y
CONFIG_DEBUG_WW_MUTEX_SLOWPATH=y
CONFIG_LEDS_BLINKM=y
CONFIG_PROC_CHILDREN=y
CONFIG_ARCH_HAS_MEMBARRIER_SYNC_CORE=y
CONFIG_DEFERRED_STRUCT_PAGE_INIT=y
CONFIG_STK8BA50=y
CONFIG_REMOTEPROC=y
CONFIG_MCB=y
CONFIG_CRYPTO_ZSTD=y
CONFIG_TPL0102=y
CONFIG_BPF=y
CONFIG_OF_RESERVED_MEM=y
CONFIG_USB_GADGET_DEBUG_FILES=y
CONFIG_ARCH_HAS_SET_DIRECT_MAP=y
CONFIG_CRYPTO_ECHAINIV=y
CONFIG_PHY_OCELOT_SERDES=y
CONFIG_HUGETLB_PAGE_OPTIMIZE_VMEMMAP=y
CONFIG_HAVE_ASM_MODVERSIONS=y
CONFIG_WIRELESS_HOTKEY=y
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE_PUD=y
CONFIG_AD7405=y
CONFIG_WILCO_EC_EVENTS=y
CONFIG_THERMAL_MMIO=y
CONFIG_FUEL_GAUGE_STC3117=y
CONFIG_OF_OVERLAY=y
CONFIG_MEMBARRIER=y
CONFIG_I2C_SCMI=y
CONFIG_HAVE_FUNCTION_GRAPH_TRACER=y
CONFIG_CHARGER_CROS_USBPD=y
CONFIG_HAVE_ARCH_SOFT_DIRTY=y
CONFIG_NLS_ISO8859_4=y
CONFIG_LEDS_AAT1290=y
CONFIG_GOLDFISH=y
CONFIG_GENERIC_ALLOCATOR=y
CONFIG_X86_REQUIRED_FEATURE_CMOV=y
CONFIG_GCOV_PROFILE_FTRACE=y
CONFIG_HAVE_FUNCTION_ERROR_INJECTION=y
CONFIG_STM_SOURCE_FTRACE=y
CONFIG_HAVE_PERF_REGS=y
CONFIG_NLS_MAC_ROMAN=y
CONFIG_MMA9551=y
CONFIG_TI_ADC081C=y
CONFIG_CONSTRUCTORS=y
CONFIG_ACPI_APEI=y
CONFIG_HAVE_EFFICIENT_UNALIGNED_ACCESS=y
CONFIG_PHY_CPCAP_USB=y
CONFIG_SX_COMMON=y
CONFIG_VIRTIO_IOMMU=y
CONFIG_RCU_NEED_SEGCBLIST=y
CONFIG_BACKLIGHT_LV5207LP=y
CONFIG_COMMON_CLK_XLNX_CLKWZRD=y
CONFIG_HAVE_ARCH_KMSAN=y
CONFIG_TRACING_SUPPORT=y
CONFIG_LD_IS_BFD=y
CONFIG_BATTERY_BQ27XXX_I2C=y
CONFIG_REGULATOR_LP873X=y
CONFIG_TMP117=y
CONFIG_REGULATOR_MT6359=y
CONFIG_REGULATOR_SGM3804=y
CONFIG_OF_IRQ=y
CONFIG_ARCH_HAS_EARLY_DEBUG=y
CONFIG_SRAM=y
CONFIG_REGULATOR_MAX77650=y
CONFIG_HAVE_ARCH_MMAP_RND_BITS=y
CONFIG_CC_NO_ARRAY_BOUNDS=y
CONFIG_INTERVAL_TREE=y
CONFIG_DEBUG_IRQFLAGS=y
CONFIG_REGULATOR_DA9210=y
CONFIG_UCSI_STM32G0=y
CONFIG_BITREVERSE=y
CONFIG_LEDS_TRIGGER_INPUT_EVENTS=y
CONFIG_CRC4=y
CONFIG_CC_HAS_SLS=y
CONFIG_GPIB_CB7210=y
CONFIG_RTC_DRV_DS3232=y
CONFIG_RTC_DRV_ABEOZ9=y
CONFIG_WANT_DEV_COREDUMP=y
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_ARGS=y
CONFIG_W1_SLAVE_DS2430=y
CONFIG_JUMP_LABEL=y
CONFIG_GPIO_MOCKUP=y
CONFIG_DA311=y
CONFIG_MMU_LAZY_TLB_REFCOUNT=y
CONFIG_RTC_DRV_TPS65910=y
CONFIG_PM_DEVFREQ=y
CONFIG_TYPEC_MUX_PI3USB30532=y
CONFIG_CRYPTO_ARIA_GFNI_AVX512_X86_64=y
CONFIG_PHY_INTEL_LGM_EMMC=y
CONFIG_PINCTRL_MCP23S08=y
CONFIG_RTC_DRV_MAX6900=y
CONFIG_PINCTRL_EMMITSBURG=y
CONFIG_LEDS_LM3692X=y
CONFIG_MEMORY=y
CONFIG_PAGE_SIZE_4KB=y
CONFIG_REGULATOR_RT6190=y
CONFIG_LEDS_TLC591XX=y
CONFIG_CC_HAS_COUNTED_BY=y
CONFIG_HAVE_IRQ_TIME_ACCOUNTING=y
CONFIG_BPF_JIT_DEFAULT_ON=y
CONFIG_CROS_EC_LPC=y
CONFIG_VGA_CONSOLE=y
CONFIG_ACPI_PROCESSOR=y
CONFIG_GPIO_FTGPIO010=y
CONFIG_ARCH_CONFIGURES_CPU_MITIGATIONS=y
CONFIG_MFD_SMPRO=y
CONFIG_LOCKUP_DETECTOR=y
CONFIG_GENERIC_IRQ_ENTRY=y
CONFIG_COMMON_CLK_S2MPS11=y
CONFIG_USB_ISP1301=y
CONFIG_RTC_DRV_FTRTC010=y
CONFIG_PINCTRL_CS47L85=y
CONFIG_REGULATOR_RT5133=y
CONFIG_RTC_DRV_X1205=y
CONFIG_MFD_WM831X_I2C=y
CONFIG_AK8975=y
CONFIG_US5182D=y
CONFIG_X86_SUPPORTS_MEMORY_FAILURE=y
CONFIG_USER_STACKTRACE_SUPPORT=y
CONFIG_HAVE_LIVEPATCH=y
CONFIG_GENERIC_CLOCKEVENTS_MIN_ADJUST=y
CONFIG_GPIO_PCA953X_IRQ=y
CONFIG_FW_LOADER_COMPRESS=y
CONFIG_LEDS_TPS6131X=y
CONFIG_SERIAL_8250_DW=y
CONFIG_HAVE_PERF_EVENTS=y
CONFIG_GPIO_LINE_MUX=y
CONFIG_X86_TSC=y
CONFIG_KALLSYMS_SELFTEST=y
CONFIG_HARDLOCKUP_DETECTOR=y
CONFIG_RTC_DRV_M48T35=y
CONFIG_LIVEUPDATE_MEMFD=y
CONFIG_NVMEM_LAYOUT_U_BOOT_ENV=y
CONFIG_MFD_ROHM_BD96801=y
CONFIG_RV_MON_EVENTS=y
CONFIG_CHARGER_MAX8971=y
CONFIG_DEV_COREDUMP=y
CONFIG_X86_PLATFORM_DEVICES=y
CONFIG_ARCH_SELECTS_KEXEC_FILE=y
CONFIG_HIST_TRIGGERS=y
CONFIG_IOMMU_DEFAULT_DMA_LAZY=y
CONFIG_HT16K33=y
CONFIG_INTEL_SCU_PLATFORM=y
CONFIG_SERIAL_CONEXANT_DIGICOLOR=y
CONFIG_AD7091R=y
CONFIG_HAVE_ARCH_AUDITSYSCALL=y
CONFIG_W1=y
CONFIG_KGDB_TESTS=y
CONFIG_KRETPROBE_ON_RETHOOK=y
CONFIG_THERMAL_GOV_BANG_BANG=y
CONFIG_RTC_DRV_GOLDFISH=y
CONFIG_X86_DEBUG_FPU=y
CONFIG_FW_CS_DSP=y
CONFIG_MAG3110=y
CONFIG_PINCTRL_BAYTRAIL=y
CONFIG_MITIGATION_RETPOLINE=y
CONFIG_PROC_MEM_NO_FORCE=y
CONFIG_CHECKPOINT_RESTORE=y
CONFIG_HAVE_ARCH_WITHIN_STACK_FRAMES=y
CONFIG_DECOMPRESS_BZIP2=y
CONFIG_STM_SOURCE_HEARTBEAT=y
CONFIG_PROC_FS=y
CONFIG_INTEL_TH_GTH=y
CONFIG_SIGNALFD=y
CONFIG_CROS_EC=y
CONFIG_FB_SSD1307=y
CONFIG_STACKTRACE_SUPPORT=y
CONFIG_GLOB=y
CONFIG_ACPI_PROCESSOR_AGGREGATOR=y
CONFIG_CRYPTO_STREEBOG=y
CONFIG_KSM=y
CONFIG_LEDS_CLASS=y
CONFIG_RICHTEK_RTQ6056=y
CONFIG_ACPI_THERMAL=y
CONFIG_X86_REQUIRED_FEATURE_XMM=y
CONFIG_PINCTRL_GENERIC_MUX=y
CONFIG_OSNOISE_TRACER=y
CONFIG_LEDS_BRIGHTNESS_HW_CHANGED=y
CONFIG_WM831X_POWER=y
CONFIG_GENERIC_IRQ_INJECTION=y
CONFIG_CRYPTO_CRYPTD=y
CONFIG_GENERIC_TRACER=y
CONFIG_RTC_DRV_SD2405AL=y
CONFIG_OVERLAY_FS=y
CONFIG_VF610_DAC=y
CONFIG_NO_HZ_COMMON=y
CONFIG_MAX5432=y
CONFIG_BCMA_SFLASH=y
CONFIG_AMD_ISP_PLATFORM=y
CONFIG_IIO_BUFFER_DMA=y
CONFIG_CC_HAS_NO_PROFILE_FN_ATTR=y
CONFIG_PNPACPI=y
CONFIG_USB_DWC2=y
CONFIG_LOGO_LINUX_CLUT224=y
CONFIG_TRACE_IRQFLAGS_NMI_SUPPORT=y
CONFIG_X86_MCE_THRESHOLD=y
CONFIG_RUSTC_HAS_SPAN_FILE=y
CONFIG_BATTERY_DS2760=y
CONFIG_ARCH_MHP_MEMMAP_ON_MEMORY_ENABLE=y
CONFIG_REGULATOR_VCTRL=y
CONFIG_ARCH_MEMORY_ORDER_TSO=y
CONFIG_CM3323=y
CONFIG_INV_MPU6050_IIO=y
CONFIG_PKCS8_PRIVATE_KEY_PARSER=y
CONFIG_ARCH_WANT_HUGE_PMD_SHARE=y
CONFIG_USE_X86_SEG_SUPPORT=y
CONFIG_HAVE_KERNEL_LZO=y
CONFIG_HAVE_TRUSTED_KEYS=y
CONFIG_PMIC_DA903X=y
CONFIG_FSI=y
CONFIG_XZ_DEC_POWERPC=y
CONFIG_MFD_INTEL_LPSS=y
CONFIG_ACCESSIBILITY=y
CONFIG_HAVE_ARCH_KASAN=y
CONFIG_REGULATOR_DA9121=y
CONFIG_PINCTRL_CHERRYVIEW=y
CONFIG_HAVE_MOVE_PMD=y
CONFIG_HAVE_UACCESS_VALIDATION=y
CONFIG_HAVE_SAMPLE_FTRACE_DIRECT=y
CONFIG_HAVE_ARCH_JUMP_LABEL=y
CONFIG_HAVE_KERNEL_LZ4=y
CONFIG_TCG_TIS_I2C_INFINEON=y
CONFIG_DEVFREQ_GOV_PASSIVE=y
CONFIG_CRYPTO_LIB_SHA256=y
CONFIG_MFD_MAX77714=y
CONFIG_FS_DAX=y
CONFIG_CRYPTO_LIB_UTILS=y
CONFIG_LTR501=y
CONFIG_I2C_DESIGNWARE_CORE=y
CONFIG_LEDS_IS31FL32XX=y
CONFIG_GENERIC_IRQ_STAT_SNAPSHOT=y
CONFIG_TCG_TIS_CORE=y
CONFIG_CRYPTO_ESSIV=y
CONFIG_ARCH_WANT_DEFAULT_BPF_JIT=y
CONFIG_MS5611=y
CONFIG_BACKLIGHT_KTD253=y
CONFIG_ARCH_WANTS_CLOCKSOURCE_READ_INLINE=y
CONFIG_NEED_SRCU_NMI_SAFE=y
CONFIG_ADXL367_I2C=y
CONFIG_ALS31300=y
CONFIG_LEDS_EXPRESSWIRE=y
CONFIG_CRYPTO_SIG=y
CONFIG_HDC3020=y
CONFIG_AD7606_IFACE_PARALLEL=y
CONFIG_CC_HAS_IBT=y
CONFIG_HAVE_DYNAMIC_FTRACE_NO_PATCHABLE=y
CONFIG_COMEDI_NI_TIO=y
CONFIG_HAVE_ARCH_HUGE_VMALLOC=y
CONFIG_KMX61=y
CONFIG_THERMAL_CORE_TESTING=y
CONFIG_CRYPTO_CAST6_AVX_X86_64=y
CONFIG_GPIO_WAVESHARE_DSI_TOUCH=y
CONFIG_USB_LIBCOMPOSITE=y
CONFIG_LEDS_DA903X=y
CONFIG_HAVE_IOREMAP_PROT=y
CONFIG_FB_SYS_FILLRECT=y
CONFIG_I2C_DEBUG_BUS=y
CONFIG_FB=y
CONFIG_ARCH_HAS_DEBUG_VM_PGTABLE=y
CONFIG_MFD_TPS65910=y
CONFIG_OVERLAY_FS_INDEX=y
CONFIG_CRYPTO_MD5=y
CONFIG_AD5272=y
CONFIG_CRC32_ARCH=y
CONFIG_CRYPTO_KRB5=y
CONFIG_TTY_PRINTK=y
CONFIG_FB_ARC=y
CONFIG_CRYPTO_SHA512=y
CONFIG_COMEDI_8255_SA=y
CONFIG_CROS_EC_UCSI=y
CONFIG_IOMMU_API=y
CONFIG_TRACER_MAX_TRACE=y
CONFIG_DYNAMIC_FTRACE_WITH_REGS=y
CONFIG_RTC_DRV_STK17TA8=y
CONFIG_ACPI_HED=y
CONFIG_X86_CX8=y
CONFIG_USB_DWC3=y
CONFIG_NUMA=y
CONFIG_REGULATOR_SY7636A=y
CONFIG_ATLAS_EZO_SENSOR=y
CONFIG_ARCH_SUPPORTS_ATOMIC_RMW=y
CONFIG_W1_SLAVE_DS2423=y
CONFIG_USB_ULPI_BUS=y
CONFIG_GPIO_VIRTIO=y
CONFIG_CRYPTO_XXHASH=y
