CONFIG_CRYPTO_GENIV=y
CONFIG_PCIEASPM=y
CONFIG_I2C_VIA=y
CONFIG_SCSI_INITIO=y
CONFIG_SATA_AHCI_PLATFORM=y
CONFIG_TASKS_RCU=y
CONFIG_DEBUG_BUGVERBOSE_DETAILED=y
CONFIG_XILINX_DMA=y
CONFIG_REGULATOR_MAX1586=y
CONFIG_USB_EHCI_HCD_PLATFORM=y
CONFIG_HAVE_ARCH_RANDOMIZE_KSTACK_OFFSET=y
CONFIG_MTD_NAND_NANDSIM=y
CONFIG_REGULATOR_PFUZE100=y
CONFIG_PUNIT_ATOM_DEBUG=y
CONFIG_PINCTRL=y
CONFIG_SENSORS_AD7414=y
CONFIG_BMP280=y
CONFIG_NLS_MAC_INUIT=y
CONFIG_GAMEPORT_EMU10K1=y
CONFIG_CRYPTO_ECC=y
CONFIG_QUOTA_DEBUG=y
CONFIG_ACPI_HED=y
CONFIG_GPIO_SYSCON=y
CONFIG_MFD_TI_LP873X=y
CONFIG_REGMAP_MMIO=y
CONFIG_CRYPTO_LZ4HC=y
CONFIG_ARCH_HAS_SYNC_CORE_BEFORE_USERMODE=y
CONFIG_NLS=y
CONFIG_CHARGER_MAX8971=y
CONFIG_CC_HAS_COUNTED_BY=y
CONFIG_ARCH_HAS_STRICT_KERNEL_RWX=y
CONFIG_SCSI_DMA=y
CONFIG_PCI_REALLOC_ENABLE_AUTO=y
CONFIG_VM86=y
CONFIG_DTC=y
CONFIG_SENSORS_NTC_THERMISTOR=y
CONFIG_INTEL_ATOMISP2_PDX86=y
CONFIG_CXL_PORT=y
CONFIG_ZONE_DMA=y
CONFIG_GPD_POCKET_FAN=y
CONFIG_USB_DWC3_HOST=y
CONFIG_MULTIUSER=y
CONFIG_TEE=y
CONFIG_SECURITYFS=y
CONFIG_MFD_KEMPLD=y
CONFIG_NEED_SG_DMA_LENGTH=y
CONFIG_ADXL372=y
CONFIG_COMEDI_DT9812=y
CONFIG_POSIX_CPU_TIMERS_TASK_WORK=y
CONFIG_SERIAL_SC16IS7XX_SPI=y
CONFIG_USB_SERIAL=y
CONFIG_DMA_ENGINE=y
CONFIG_TABLET_USB_KBTAB=y
CONFIG_SENSORS_DS1621=y
CONFIG_PHY_TI_DS125DF111=y
CONFIG_MTD_ONENAND=y
CONFIG_BMA220_SPI=y
CONFIG_SENSORS_AS370=y
CONFIG_LEDS_LT3593=y
CONFIG_SENSORS_GPD=y
CONFIG_SENSORS_NPCM7XX=y
CONFIG_PINCTRL_STMFX=y
CONFIG_IIO_ST_MAGN_SPI_3AXIS=y
CONFIG_REGULATOR_RT5739=y
CONFIG_SERIO_SERPORT=y
CONFIG_REGULATOR_LP873X=y
CONFIG_HAVE_FUTEX_ROBUST_UNLOCK=y
CONFIG_BMI270_I2C=y
CONFIG_MFD_DA9150=y
CONFIG_CHARGER_SMB347=y
CONFIG_AGP_VIA=y
CONFIG_INTEL_SCU_PLATFORM=y
CONFIG_I2C_ALGOPCA=y
CONFIG_CRYPTO_SHA256=y
CONFIG_ATA_VERBOSE_ERROR=y
CONFIG_HAVE_PERF_USER_STACK_DUMP=y
CONFIG_RANDOMIZE_KSTACK_OFFSET_DEFAULT=y
CONFIG_INPUT_AD714X_SPI=y
CONFIG_SERIO_LIBPS2=y
CONFIG_VL53L1X_I2C=y
CONFIG_SCSI_MVSAS_DEBUG=y
CONFIG_GENERIC_IRQ_MIGRATION=y
CONFIG_CC_HAS_MULTIDIMENSIONAL_NONSTRING=y
CONFIG_STPMIC1_WATCHDOG=y
CONFIG_ADIS16080=y
CONFIG_PCI_DOE=y
CONFIG_HAVE_MIXED_BREAKPOINTS_REGS=y
CONFIG_NVME_TARGET_DEBUGFS=y
CONFIG_PCIE_DW_PLAT_HOST=y
CONFIG_PINCTRL_AXP209=y
CONFIG_FUSE_FS=y
CONFIG_SYSCTL=y
CONFIG_UBIFS_ATIME_SUPPORT=y
CONFIG_MAX5432=y
CONFIG_X86_THERMAL_VECTOR=y
CONFIG_MFD_GATEWORKS_GSC=y
CONFIG_SCSI_ARCMSR=y
CONFIG_DECOMPRESS_LZMA=y
CONFIG_MEMSTICK_DEBUG=y
CONFIG_X86_GOLDFISH=y
CONFIG_KEYBOARD_SAMSUNG=y
CONFIG_SERIO_APBPS2=y
CONFIG_GPIO_REGMAP=y
CONFIG_RETU_WATCHDOG=y
CONFIG_COMEDI_DYNA_PCI10XX=y
CONFIG_LEDS_PCA955X=y
CONFIG_MTD_NAND_MXIC=y
CONFIG_SYSFS=y
CONFIG_IIO_SSP_SENSORHUB=y
CONFIG_RD_LZ4=y
CONFIG_HAVE_FUNCTION_TRACER=y
CONFIG_MPRLS0025PA_I2C=y
CONFIG_FUNCTION_ALIGNMENT_4B=y
CONFIG_COMEDI_VMK80XX=y
CONFIG_CHARGER_BQ24190=y
CONFIG_KEYBOARD_BCM=y
CONFIG_INPUT_CMA3000_I2C=y
CONFIG_CC_NO_ARRAY_BOUNDS=y
CONFIG_CONSTRUCTORS=y
CONFIG_USB_USBIO=y
CONFIG_USB_SERIAL_XR=y
CONFIG_INPUT_AXP20X_PEK=y
CONFIG_COMEDI_AMPLC_PC236=y
CONFIG_SPEAKUP=y
CONFIG_RFD77402=y
CONFIG_HW_RANDOM=y
CONFIG_BACKLIGHT_AW99706=y
CONFIG_MCP47FEB02=y
CONFIG_INPUT_FF_MEMLESS=y
CONFIG_SERIAL_MULTI_INSTANTIATE=y
CONFIG_SENSORS_SCH56XX_COMMON=y
CONFIG_BMI270_SPI=y
CONFIG_HP_WATCHDOG=y
CONFIG_EXT2_FS=y
CONFIG_MAX31827=y
CONFIG_CRYPTO_SKCIPHER=y
CONFIG_SERIAL_UARTLITE_CONSOLE=y
CONFIG_AK8974=y
CONFIG_ROMFS_BACKED_BY_BLOCK=y
CONFIG_PINCTRL_CHERRYVIEW=y
CONFIG_LOCK_DEBUGGING_SUPPORT=y
CONFIG_CRYPTO_LIB_AES=y
CONFIG_ADFS_FS_RW=y
CONFIG_TOUCHSCREEN_AD7879_I2C=y
CONFIG_IIO_ST_PRESS_SPI=y
CONFIG_W1_SLAVE_DS2780=y
CONFIG_SPS30_I2C=y
CONFIG_MEM_ALLOC_PROFILING=y
CONFIG_NLS_CODEPAGE_437=y
CONFIG_VT_CONSOLE=y
CONFIG_EARLY_PRINTK=y
CONFIG_CRYPTO_KRB5ENC=y
CONFIG_SENSORS_HIH6130=y
CONFIG_PRIME_NUMBERS=y
CONFIG_AS_WRUSS=y
CONFIG_HIBERNATION=y
CONFIG_PRINTK=y
CONFIG_TOUCHSCREEN_WACOM_W8001=y
CONFIG_MUX_ADG792A=y
CONFIG_SCSI_WD719X=y
CONFIG_INTEL_ATOMISP2_LED=y
CONFIG_COMEDI_DAQBOARD2000=y
CONFIG_TCG_TIS_ST33ZP24=y
CONFIG_SPI_SIFIVE=y
CONFIG_SPEAKUP_SYNTH_DECTLK=y
CONFIG_MOUSE_PS2_SENTELIC=y
CONFIG_VEML6046X00=y
CONFIG_USB_SEVSEG=y
CONFIG_CRYPTO_DEFLATE=y
CONFIG_SENSORS_AD7418=y
CONFIG_USB_ARCH_HAS_HCD=y
CONFIG_KRETPROBE_ON_RETHOOK=y
CONFIG_MFD_AXP20X_I2C=y
CONFIG_LEDS_PCA963X=y
CONFIG_NVME_TARGET_LOOP=y
CONFIG_GPIO_BD72720=y
CONFIG_SMI240=y
CONFIG_TWL4030_CORE=y
CONFIG_MTD_PCMCIA=y
CONFIG_DEVMEM=y
CONFIG_EXAR_WDT=y
CONFIG_TOUCHSCREEN_EGALAX_SERIAL=y
CONFIG_SCSI=y
CONFIG_PHY_CPCAP_USB=y
CONFIG_ACQUIRE_WDT=y
CONFIG_PVH=y
CONFIG_VGA_ARB=y
CONFIG_WATCHDOG=y
CONFIG_USB_XHCI_PLATFORM=y
CONFIG_CHARGER_RT9471=y
CONFIG_GENERIC_PINMUX_FUNCTIONS=y
CONFIG_GPIB_CEC_PCI=y
CONFIG_COMMON_CLK_RS9_PCIE=y
CONFIG_CRYPTO_LZ4=y
CONFIG_REGULATOR_RK808=y
CONFIG_WM831X_BACKUP=y
CONFIG_REGULATOR_MAX8952=y
CONFIG_BME680_I2C=y
CONFIG_TMPFS=y
CONFIG_INOTIFY_USER=y
CONFIG_ZPA2326_I2C=y
CONFIG_X86_LEGACY_VM86=y
CONFIG_IIO_ADIS_LIB_BUFFER=y
CONFIG_AM2315=y
CONFIG_LWQ_TEST=y
CONFIG_REGULATOR_ACT8945A=y
CONFIG_REGULATOR_AW37503=y
CONFIG_I2C_I801=y
CONFIG_GENERIC_PENDING_IRQ=y
CONFIG_TOUCHSCREEN_CYTTSP_I2C=y
CONFIG_NI903X_WDT=y
CONFIG_CHARGER_BD99954=y
CONFIG_SERIAL_SC16IS7XX=y
CONFIG_MFD_ATMEL_FLEXCOM=y
CONFIG_EFI_PARTITION=y
CONFIG_INTEL_IDLE=y
CONFIG_CRYPTO_DEV_QAT_4XXX=y
CONFIG_REGULATOR_RT5133=y
CONFIG_SSB_PCIHOST_POSSIBLE=y
CONFIG_COMEDI_ADV_PCI_DIO=y
CONFIG_SLUB_DEBUG=y
CONFIG_SENSORS_MPQ7932_REGULATOR=y
CONFIG_HAVE_KPROBES_ON_FTRACE=y
CONFIG_SENSORS_IIO_HWMON=y
CONFIG_MMA8452=y
CONFIG_SCSI_UFSHCD_PCI=y
CONFIG_LEDS_IS31FL32XX=y
CONFIG_HAVE_ARCH_AUDITSYSCALL=y
CONFIG_SENSORS_PLI1209BC_REGULATOR=y
CONFIG_KERNFS=y
CONFIG_W1=y
CONFIG_CRYPTO_CTS=y
CONFIG_TOUCHSCREEN_MAX11801=y
CONFIG_BMA220_I2C=y
CONFIG_TTY=y
CONFIG_NLS_ASCII=y
CONFIG_TOUCHSCREEN_USB_IRTOUCH=y
CONFIG_SYSTEM_TRUSTED_KEYRING=y
CONFIG_AMD_NODE=y
CONFIG_USB_SERIAL_DEBUG=y
CONFIG_REGULATOR_LP87565=y
CONFIG_HAS_IOPORT_MAP=y
CONFIG_GPIO_ML_IOH=y
CONFIG_ZSTD_COMPRESS=y
CONFIG_TOUCHSCREEN_GOODIX_BERLIN_I2C=y
CONFIG_MEMSTICK=y
CONFIG_INPUT_RK805_PWRKEY=y
CONFIG_IIO_ST_ACCEL_SPI_3AXIS=y
CONFIG_MTD_NAND_DENALI=y
CONFIG_FHANDLE=y
CONFIG_PAGE_SIZE_LESS_THAN_256KB=y
CONFIG_IR_HIX5HD2=y
CONFIG_KEYBOARD_GOLDFISH_EVENTS=y
CONFIG_LV0104CS=y
CONFIG_DELL_WMI_DESCRIPTOR=y
CONFIG_FAT_FS=y
CONFIG_PCIEPORTBUS=y
CONFIG_SCHED_CORE=y
CONFIG_INPUT_PF1550_ONKEY=y
CONFIG_ADXRS290=y
CONFIG_LENOVO_WMI_CAMERA=y
CONFIG_UNWINDER_FRAME_POINTER=y
CONFIG_PAGE_SIZE_LESS_THAN_64KB=y
CONFIG_CADENCE_WATCHDOG=y
CONFIG_CRYPTO_DEV_QAT_C62XVF=y
CONFIG_PAGE_MAPCOUNT=y
CONFIG_FSI_MASTER_GPIO=y
CONFIG_SI7020=y
CONFIG_TOUCHSCREEN_ELO=y
CONFIG_WATCHDOG_PRETIMEOUT_GOV_PANIC=y
CONFIG_I2C_VIAPRO=y
CONFIG_ARCH_HAS_UBSAN=y
CONFIG_STRICT_KERNEL_RWX=y
CONFIG_BMI160=y
CONFIG_SENSORS_MAX31760=y
CONFIG_AD8801=y
CONFIG_SENSORS_OCC_P8_I2C=y
CONFIG_INPUT_TOUCHSCREEN=y
CONFIG_SENSORS_E50SN12051=y
CONFIG_MMC5633=y
CONFIG_REDMI_WMI=y
CONFIG_CRYPTO_XTS=y
CONFIG_CRYPTO_LIB_SHA1=y
CONFIG_ARCH_USE_SYM_ANNOTATIONS=y
CONFIG_I2C_ROBOTFUZZ_OSIF=y
CONFIG_IQS621_ALS=y
CONFIG_USB_SERIAL_EDGEPORT=y
CONFIG_USB_MDC800=y
CONFIG_MTD_PCI=y
CONFIG_USB_STORAGE_ENE_UB6250=y
CONFIG_CONTEXT_TRACKING=y
CONFIG_MXC6255=y
CONFIG_ATA_ACPI=y
CONFIG_ARCH_SUPPORTS_KEXEC_SIG_FORCE=y
CONFIG_SECURITY_LOADPIN=y
CONFIG_DEBUG_RODATA_TEST=y
CONFIG_RDC321X_WDT=y
CONFIG_MULTIPLEXER=y
CONFIG_CC_HAS_KASAN_SW_TAGS=y
CONFIG_SENSORS_PLI1209BC=y
CONFIG_SENSORS_SHT21=y
CONFIG_INPUT_PALMAS_PWRBUTTON=y
CONFIG_CRYPTO_ECDH=y
CONFIG_REGULATOR_88PM886=y
CONFIG_SEL3350_PLATFORM=y
CONFIG_IIO_HRTIMER_TRIGGER=y
CONFIG_W1_SLAVE_DS2413=y
CONFIG_THERMAL_GOV_STEP_WISE=y
CONFIG_IIO_KFIFO_BUF=y
CONFIG_SENSORS_AXI_FAN_CONTROL=y
CONFIG_KEYBOARD_PINEPHONE=y
CONFIG_IIO_ST_SENSORS_I2C=y
CONFIG_NLS_CODEPAGE_932=y
CONFIG_IOSF_MBI=y
CONFIG_SENSORS_MAX6621=y
CONFIG_GPIO_74XX_MMIO=y
CONFIG_INSPUR_PLATFORM_PROFILE=y
CONFIG_PHY_CADENCE_SALVO=y
CONFIG_GPIB_NEC7210=y
CONFIG_USB_CYTHERM=y
CONFIG_CRC_T10DIF_ARCH=y
CONFIG_MFD_TI_LMU=y
CONFIG_MISC_RP1=y
CONFIG_MEMBARRIER=y
CONFIG_USB_SERIAL_MOS7840=y
CONFIG_ACER_WIRELESS=y
CONFIG_HWMON_VID=y
CONFIG_X86_DISABLED_FEATURE_FRED=y
CONFIG_TOUCHSCREEN_USB_ETT_TC45USB=y
CONFIG_PROC_FS=y
CONFIG_TRACE_IRQFLAGS_NMI_SUPPORT=y
CONFIG_SPEAKUP_SYNTH_DECEXT=y
CONFIG_SENSORS_NCT7904=y
CONFIG_ARCH_HAS_DEBUG_WX=y
CONFIG_PCI=y
CONFIG_GPIO_ELKHARTLAKE=y
CONFIG_TI_ADC108S102=y
CONFIG_REGULATOR_LTC3676=y
CONFIG_DELL_SMBIOS=y
CONFIG_THERMAL_STATISTICS=y
CONFIG_GPIO_MC33880=y
CONFIG_ASN1_ENCODER=y
CONFIG_MMU=y
CONFIG_EDD_OFF=y
CONFIG_COMEDI_ADDI_APCI_16XX=y
CONFIG_PNP=y
CONFIG_MFD_MAX8907=y
CONFIG_CHARGER_LT3651=y
CONFIG_REGULATOR_PV88090=y
CONFIG_KEY_NOTIFICATIONS=y
CONFIG_MTD_BLOCK2MTD=y
CONFIG_US5182D=y
CONFIG_PAC1921=y
CONFIG_MOUSE_PS2_LOGIPS2PP=y
CONFIG_NLS_MAC_ROMAN=y
CONFIG_SENSORS_HS3001=y
CONFIG_SENSORS_W83795=y
CONFIG_VMWARE_VMCI=y
CONFIG_USB_SERIAL_PL2303=y
CONFIG_BH1780=y
CONFIG_CC_HAS_ASM_INLINE=y
CONFIG_TCG_VTPM_PROXY=y
CONFIG_ARCH_HAS_CPU_RELAX=y
CONFIG_GCC_PLUGIN_RANDSTRUCT=y
CONFIG_ARCH_WANT_IPC_PARSE_VERSION=y
CONFIG_MICROCODE=y
CONFIG_VFAT_FS=y
CONFIG_AD5064=y
CONFIG_SCHED_HRTICK=y
CONFIG_COMEDI_NI_670X=y
CONFIG_SENSORS_TPS25990=y
CONFIG_XILINX_WATCHDOG=y
CONFIG_LEDS_TRIGGER_TTY=y
CONFIG_X86_CPUID=y
CONFIG_BCMA_DRIVER_PCI=y
CONFIG_DECOMPRESS_GZIP=y
CONFIG_EXTCON_RT8973A=y
CONFIG_MFD_TPS6594_I2C=y
CONFIG_CRYPTO_RSA=y
CONFIG_COMEDI_USB_DRIVERS=y
CONFIG_REGULATOR_ACT8865=y
CONFIG_MFD_WM831X_SPI=y
CONFIG_RANDSTRUCT=y
CONFIG_SERIAL_MEN_Z135=y
CONFIG_I2C_I801_MUX=y
CONFIG_SPMI=y
CONFIG_NVMEM_U_BOOT_ENV=y
CONFIG_GENERIC_PHY_MIPI_DPHY=y
CONFIG_TOUCHSCREEN_USB_GOTOP=y
CONFIG_SSB=y
CONFIG_DMA_VIRTUAL_CHANNELS=y
CONFIG_PERF_EVENTS_AMD_POWER=y
CONFIG_MTD_NAND_RICOH=y
CONFIG_THREAD_INFO_IN_TASK=y
CONFIG_VT_CONSOLE_SLEEP=y
CONFIG_SCSI_LOGGING=y
CONFIG_NCT7201=y
CONFIG_PCIE_CADENCE_EP=y
CONFIG_SENSEAIR_SUNRISE_CO2=y
CONFIG_CHARGER_ISP1704=y
CONFIG_SENSORS_LTC4151=y
CONFIG_X86_DISABLED_FEATURE_TDX_GUEST=y
CONFIG_SENSORS_ADS7871=y
CONFIG_MPU3050=y
CONFIG_BMA220=y
CONFIG_YOGABOOK=y
CONFIG_SYSTEM_EXTRA_CERTIFICATE=y
CONFIG_DPTF_POWER=y
CONFIG_ARCH_SUPPORTS_DEBUG_PAGEALLOC=y
CONFIG_HAVE_HW_BREAKPOINT=y
CONFIG_SGL_ALLOC=y
CONFIG_GENERIC_ISA_DMA=y
CONFIG_LEDS_SIEMENS_SIMATIC_IPC=y
CONFIG_AL3010=y
CONFIG_MISC_ALCOR_PCI=y
CONFIG_EDAC_SUPPORT=y
CONFIG_INTEL_WMI_SBL_FW_UPDATE=y
CONFIG_COMEDI_8255_SA=y
CONFIG_COMEDI_ADDI_APCI_3501=y
CONFIG_BACKLIGHT_MAX25014=y
CONFIG_DMI_SYSFS=y
CONFIG_COREDUMP=y
CONFIG_MSI_WMI=y
CONFIG_LEDS_EL15203000=y
CONFIG_FIREWIRE=y
CONFIG_LEDS_TRIGGER_CAMERA=y
CONFIG_QCOM_HIDMA=y
CONFIG_ISL76682=y
CONFIG_FIPS_SIGNATURE_SELFTEST_ECDSA=y
CONFIG_HTS221_I2C=y
CONFIG_REGULATOR_TPS65132=y
CONFIG_USB_SERIAL_IPAQ=y
CONFIG_RESET_INTEL_GW=y
CONFIG_HAVE_KPROBES=y
CONFIG_DEBUG_SECTION_MISMATCH=y
CONFIG_STACKPROTECTOR=y
CONFIG_TOUCHSCREEN_DMI=y
CONFIG_SSIF_IPMI_BMC=y
CONFIG_RETHOOK=y
CONFIG_RCU_CPU_STALL_CPUTIME=y
CONFIG_VEML6070=y
CONFIG_RCU_LAZY=y
CONFIG_AD7768_1=y
CONFIG_X86_PAT=y
CONFIG_TWL6030_GPADC=y
CONFIG_CRC64=y
CONFIG_PCIE_CADENCE=y
CONFIG_I2C_MUX_MLXCPLD=y
CONFIG_QUEUED_RWLOCKS=y
CONFIG_ACPI=y
CONFIG_LEDS_TRIGGERS=y
CONFIG_SCSI_ACARD=y
CONFIG_KEYBOARD_IQS62X=y
CONFIG_INPUT_ADXL34X=y
CONFIG_COMEDI_USBDUXSIGMA=y
CONFIG_UTS_NS=y
CONFIG_IQS624_POS=y
CONFIG_BIG_KEYS=y
CONFIG_ARCH_FLATMEM_ENABLE=y
CONFIG_SMP=y
CONFIG_STACKDEPOT=y
CONFIG_X86_UMIP=y
CONFIG_REGULATOR_MT6359=y
CONFIG_MPL3115=y
CONFIG_BMP280_SPI=y
CONFIG_SLAB_FREELIST_RANDOM=y
CONFIG_HWMON=y
CONFIG_REED_SOLOMON=y
CONFIG_WM8350_WATCHDOG=y
CONFIG_AD7606_IFACE_PARALLEL=y
CONFIG_DEBUG_IRQFLAGS=y
CONFIG_REGULATOR_MAX8907=y
CONFIG_GPIO_PCA953X=y
CONFIG_BUILDTIME_TABLE_SORT=y
CONFIG_INPUT_MATRIXKMAP=y
CONFIG_HAVE_KERNEL_GZIP=y
CONFIG_PM_DEVFREQ=y
CONFIG_BATTERY_DS2782=y
CONFIG_STATIC_USERMODEHELPER=y
CONFIG_HAVE_EFFICIENT_UNALIGNED_ACCESS=y
CONFIG_LEDS_LGM=y
CONFIG_INV_MPU6050_I2C=y
CONFIG_PCI_ENDPOINT_TEST=y
CONFIG_UNINLINE_SPIN_UNLOCK=y
CONFIG_REGMAP_SPMI=y
CONFIG_ARCH_HAS_ACPI_TABLE_UPGRADE=y
CONFIG_DCACHE_WORD_ACCESS=y
CONFIG_IR_MCE_KBD_DECODER=y
CONFIG_INPUT_IQS269A=y
CONFIG_REGULATOR_RTMV20=y
CONFIG_MPL115_I2C=y
CONFIG_VIRTIO_ANCHOR=y
CONFIG_COMEDI_ADV_PCI1724=y
CONFIG_VEML3235=y
CONFIG_IIO_ST_SENSORS_CORE=y
CONFIG_CC_HAS_ASSUME=y
CONFIG_COMPAT_VDSO=y
CONFIG_MFD_MAX77693=y
CONFIG_INPUT_ADXL34X_SPI=y
CONFIG_SPI_PXA2XX=y
