CONFIG_PCI=n
CONFIG_CPU_IDLE_MULTIPLE_DRIVERS=n
CONFIG_PINCTRL_SOPHGO_CV1800B=n
CONFIG_RISCV_ALTERNATIVE=n
CONFIG_SECCOMP=n
CONFIG_SERIAL_8250=n
CONFIG_WLAN_VENDOR_ATMEL=n
CONFIG_MICREL_PHY=n
CONFIG_NET_VENDOR_XILINX=n
CONFIG_JH71XX_PMU=n
CONFIG_MFD_SIMPLE_MFD_I2C=n
CONFIG_NET_VENDOR_AMD=n
CONFIG_ARCH_HAS_DEBUG_WX=n
CONFIG_MOUSE_PS2_FOCALTECH=n
CONFIG_STRICT_KERNEL_RWX=n
CONFIG_GPIO_CDEV=n
CONFIG_MEMBARRIER=n
CONFIG_SERIAL_8250_PCILIB=n
CONFIG_USB_HID=n
CONFIG_IOMMU_SUPPORT=n
CONFIG_NET_VENDOR_SMSC=n
CONFIG_FB_NOTIFY=n
CONFIG_SERIAL_CORE=n
CONFIG_NET_VENDOR_I825XX=n
CONFIG_PCI_PWRCTRL_GENERIC=n
CONFIG_SUNXI_WATCHDOG=n
CONFIG_AF_UNIX_OOB=n
CONFIG_PWRSEQ_EMMC=n
CONFIG_INPUT_EVDEV=n
CONFIG_RESET_SPACEMIT_COMMON=n
CONFIG_FSNOTIFY=n
CONFIG_GENERIC_PINMUX_FUNCTIONS=n
CONFIG_GROUP_SCHED_BANDWIDTH=n
CONFIG_MOUSE_PS2_SMBUS=n
CONFIG_BCMA_POSSIBLE=n
CONFIG_SECURITY_APPARMOR=n
CONFIG_DEVMEM=n
CONFIG_ACPI_RIMT=n
CONFIG_MTD_SPI_NOR=n
CONFIG_PAGE_MAPCOUNT=n
CONFIG_BTT=n
CONFIG_UPROBE_EVENTS=n
CONFIG_INTEGRITY_AUDIT=n
CONFIG_USB_MUSB_SUNXI=n
CONFIG_SUNRPC_BACKCHANNEL=n
CONFIG_VGA_ARB=n
CONFIG_ACPI_PROCESSOR_IDLE=n
CONFIG_USB_CDNS3=n
CONFIG_PROFILING=n
CONFIG_OF_GPIO=n
CONFIG_SLAB_MERGE_DEFAULT=n
CONFIG_TOOLCHAIN_HAS_ZBB=n
CONFIG_CLK_SOPHGO_SG2042_CLKGEN=n
CONFIG_GLOB=n
CONFIG_BRIDGE_VLAN_FILTERING=n
CONFIG_IO_URING_ZCRX=n
CONFIG_SCHED_MM_CID=n
CONFIG_PWRSEQ_SIMPLE=n
CONFIG_MOUSE_PS2_SYNAPTICS_SMBUS=n
CONFIG_CC_HAS_ZERO_CALL_USED_REGS=n
CONFIG_MMU_NOTIFIER=n
CONFIG_CRC_OPTIMIZATIONS=n
CONFIG_PAGE_COUNTER=n
CONFIG_GUEST_PERF_EVENTS=n
CONFIG_ARCH_WANT_DEFAULT_TOPDOWN_MMAP_LAYOUT=n
CONFIG_PNFS_FILE_LAYOUT=n
CONFIG_GCC_PLUGINS=n
CONFIG_WLAN_VENDOR_TI=n
CONFIG_BRANCH_PROFILE_NONE=n
CONFIG_CONSOLE_TRANSLATIONS=n
CONFIG_PHY_PACKAGE=n
CONFIG_RTC_SYSTOHC=n
CONFIG_HARDIRQS_SW_RESEND=n
CONFIG_IP6_NF_IPTABLES=n
CONFIG_KEYS=n
CONFIG_NETFILTER_BPF_LINK=n
CONFIG_IOMMU_PT_RISCV64=n
CONFIG_SECCOMP_FILTER=n
CONFIG_ARCH_WANT_OPTIMIZE_DAX_VMEMMAP=n
CONFIG_CPUFREQ_DT_PLATDEV=n
CONFIG_ACPI_SPCR_TABLE=n
CONFIG_NET_CLS_CGROUP=n
CONFIG_CRYPTO_HASH=n
CONFIG_OVERLAY_FS=n
CONFIG_FB_SYS_COPYAREA=n
CONFIG_NETDEVICES=n
CONFIG_CPU_FREQ_GOV_ONDEMAND=n
CONFIG_BALLOON_MIGRATION=n
CONFIG_ARCH_HAS_PMEM_API=n
CONFIG_ACPI_PPTT=n
CONFIG_OF_ADDRESS=n
CONFIG_SELECT_MEMORY_MODEL=n
CONFIG_SND_DMAENGINE_PCM=n
CONFIG_DWMAC_SOPHGO=n
CONFIG_TOOLCHAIN_HAS_V=n
CONFIG_FB_CFB_COPYAREA=n
CONFIG_TRACE_IRQFLAGS_SUPPORT=n
CONFIG_MMC_SDHCI_OF_K1=n
CONFIG_USB_MUSB_HDRC=n
CONFIG_MTD_MAP_BANK_WIDTH_1=n
CONFIG_HAVE_KERNEL_XZ=n
CONFIG_SPARSEMEM_VMEMMAP_ENABLE=n
CONFIG_IPV6=n
CONFIG_USB_EHCI_TT_NEWSCHED=n
CONFIG_FB_CFB_FILLRECT=n
CONFIG_NET_VENDOR_ADI=n
CONFIG_IKCONFIG=n
CONFIG_SECURITYFS=n
CONFIG_XFRM_ALGO=n
CONFIG_GENERIC_IRQ_MULTI_HANDLER=n
CONFIG_IRQ_DOMAIN=n
CONFIG_HAVE_PERF_REGS=n
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE=n
CONFIG_ARCH_HAS_KCOV=n
CONFIG_ERRATA_SIFIVE=n
CONFIG_FB_SYSMEM_HELPERS_DEFERRED=n
CONFIG_VFAT_FS=n
CONFIG_ARCH_SUPPORTS_DEBUG_PAGEALLOC=n
CONFIG_NET_VENDOR_SILAN=n
CONFIG_SYSCTL_ARCH_UNALIGN_ALLOW=n
CONFIG_SERIO=n
CONFIG_BLK_MQ_STACKING=n
CONFIG_OF_RESERVED_MEM=n
CONFIG_HAVE_ARCH_KSTACK_ERASE=n
CONFIG_HAVE_KRETPROBES=n
CONFIG_HAVE_ARCH_SECCOMP_FILTER=n
CONFIG_NF_LOG_SYSLOG=n
CONFIG_HAVE_IOREMAP_PROT=n
CONFIG_HAVE_SOFTIRQ_ON_OWN_STACK=n
CONFIG_MUTEX_SPIN_ON_OWNER=n
CONFIG_PROC_FS=n
CONFIG_HAVE_KVM_DIRTY_RING=n
CONFIG_IP_PNP_BOOTP=n
CONFIG_SMP=n
CONFIG_NET_VENDOR_CAVIUM=n
CONFIG_RSEQ=n
CONFIG_HAVE_EBPF_JIT=n
CONFIG_PINCTRL_STARFIVE_JH7100=n
CONFIG_GENERIC_PINCONF=n
CONFIG_ARCH_HAS_ELF_RANDOMIZE=n
CONFIG_MMC_SPI=n
CONFIG_CLKSRC_MMIO=n
CONFIG_BLK_ICQ=n
CONFIG_MEDIA_SUPPORT_FILTER=n
CONFIG_RISCV_ISA_FALLBACK=n
CONFIG_DT_IDLE_STATES=n
CONFIG_ERRATA_THEAD_PMU=n
CONFIG_FUTEX_PI=n
CONFIG_DRM_DW_HDMI=n
CONFIG_PCI_PWRCTRL=n
CONFIG_PINCTRL_SPACEMIT_K1=n
CONFIG_CRYPTO_CMAC=n
CONFIG_ARCH_SUPPORTS_PER_VMA_LOCK=n
CONFIG_RISCV_PMU=n
CONFIG_LOCKD_V4=n
CONFIG_NET_IP_TUNNEL=n
CONFIG_MMC_SDHCI_PLTFM=n
CONFIG_HAVE_ARCH_RANDOMIZE_KSTACK_OFFSET=n
CONFIG_SECURITY=n
CONFIG_ARCH_USE_MEMREMAP_PROT=n
CONFIG_MMC=n
CONFIG_DEBUG_INFO_NONE=n
CONFIG_HAVE_PAGE_SIZE_4KB=n
CONFIG_WLAN_VENDOR_MARVELL=n
CONFIG_NET_VENDOR_ADAPTEC=n
CONFIG_GENERIC_LIB_DEVMEM_IS_ALLOWED=n
CONFIG_INTERVAL_TREE=n
CONFIG_ARCH_SUNXI=n
CONFIG_PT_RECLAIM=n
CONFIG_IOMMU_DEFAULT_DMA_STRICT=n
CONFIG_XFRM_USER=n
CONFIG_ELF_CORE=n
CONFIG_INET_TCP_DIAG=n
CONFIG_MTD=n
CONFIG_POSIX_MQUEUE=n
CONFIG_HAVE_ARCH_KGDB_QXFER_PKT=n
CONFIG_POWER_RESET_SYSCON=n
CONFIG_CRC_ITU_T=n
CONFIG_WLAN_VENDOR_RALINK=n
CONFIG_SOCK_CGROUP_DATA=n
CONFIG_RISCV_PROBE_VECTOR_UNALIGNED_ACCESS=n
CONFIG_INOTIFY_USER=n
CONFIG_NET_VENDOR_BROCADE=n
CONFIG_ARCH_HAS_PTE_SPECIAL=n
CONFIG_STACKTRACE_SUPPORT=n
CONFIG_PWM_PXA=n
CONFIG_EXTCON=n
CONFIG_NET_VENDOR_ARC=n
CONFIG_NET_VENDOR_ALLWINNER=n
CONFIG_GENERIC_PHY_MIPI_DPHY=n
CONFIG_POLARFIRE_SOC_SYSCONS=n
CONFIG_AS_HAS_ULEB128=n
CONFIG_SERIO_SERPORT=n
CONFIG_NETFILTER_XT_MATCH_ADDRTYPE=n
CONFIG_THERMAL_DEFAULT_GOV_STEP_WISE=n
CONFIG_GPIO_SIFIVE=n
CONFIG_VT_CONSOLE=n
CONFIG_SND_SOC_JH7110_PWMDAC=n
CONFIG_CRYPTO_HW=n
CONFIG_NET_VENDOR_ALIBABA=n
CONFIG_RISCV_MISALIGNED=n
CONFIG_ARCH_OPTIONAL_KERNEL_RWX_DEFAULT=n
CONFIG_XFRM=n
CONFIG_FHANDLE=n
CONFIG_IP_MULTICAST=n
CONFIG_HAVE_ARCH_VMAP_STACK=n
CONFIG_ARCH_STACKWALK=n
CONFIG_SERIAL_CORE_CONSOLE=n
CONFIG_FUTEX_PRIVATE_HASH=n
CONFIG_USB_U_SERIAL=n
CONFIG_PCI_ECAM=n
CONFIG_MTD_MAP_BANK_WIDTH_2=n
CONFIG_MTD_CFI_UTIL=n
CONFIG_MSDOS_FS=n
CONFIG_GENERIC_STRNCPY_FROM_USER=n
CONFIG_NET_VENDOR_WIZNET=n
CONFIG_CC_HAS_COUNTED_BY=n
CONFIG_RESET_STARFIVE_JH7110=n
CONFIG_ACPI_MDIO=n
CONFIG_NET_VENDOR_AMAZON=n
CONFIG_NETFILTER_XT_MATCH_IPVS=n
CONFIG_RESET_SPACEMIT_K1=n
CONFIG_PORTABLE=n
CONFIG_DM_BIO_PRISON=n
CONFIG_RISCV_ISA_VENDOR_EXT_THEAD=n
CONFIG_SND_JACK=n
CONFIG_SCHED_CACHE=n
CONFIG_RUNTIME_KERNEL_TESTING_MENU=n
CONFIG_SPARSEMEM_VMEMMAP=n
CONFIG_LOCKDEP_SUPPORT=n
CONFIG_NETWORK_SECMARK=n
CONFIG_XOR_BLOCKS=n
CONFIG_NLS_CODEPAGE_437=n
CONFIG_PINMUX=n
CONFIG_RISCV_ISA_ZAWRS=n
CONFIG_HAVE_REGS_AND_STACK_ACCESS_API=n
CONFIG_HW_RANDOM=n
CONFIG_RANDSTRUCT_NONE=n
CONFIG_GPIO_DWAPB=n
CONFIG_DRM_CLIENT=n
CONFIG_MTD_CFI_I1=n
CONFIG_DRM_SUN8I_MIXER=n
CONFIG_CRYPTO_AKCIPHER=n
CONFIG_BLK_DEV_LOOP=n
CONFIG_HAVE_CLK_PREPARE=n
CONFIG_LIBFDT=n
CONFIG_RISCV_ISA_ZBKB=n
CONFIG_XZ_DEC_BCJ=n
CONFIG_ACPI_BUTTON=n
CONFIG_RISCV_ISA_ZICBOP=n
CONFIG_TOOLCHAIN_HAS_ZABHA=n
CONFIG_PHY_SUN4I_USB=n
CONFIG_HAVE_IRQ_TIME_ACCOUNTING=n
CONFIG_MEDIA_PLATFORM_SUPPORT=n
CONFIG_MFD_CORE=n
CONFIG_PHY_STARFIVE_JH7110_USB=n
CONFIG_RTC_INTF_DEV=n
CONFIG_NLS=n
CONFIG_ATA_BMDMA=n
CONFIG_NET_VENDOR_HISILICON=n
CONFIG_OF=n
CONFIG_PRINTK_TIME=n
CONFIG_RISCV_ISA_VENDOR_EXT=n
CONFIG_ERRATA_THEAD_CMO=n
CONFIG_COMMON_CLK_EIC7700=n
CONFIG_BRIDGE=n
CONFIG_BALLOON=n
CONFIG_VIRT_XFER_TO_GUEST_WORK=n
CONFIG_TRACEFS_AUTOMOUNT_DEPRECATED=n
CONFIG_EPROBE_EVENTS=n
CONFIG_COMPAT_BINFMT_ELF=n
CONFIG_DRM_FBDEV_EMULATION=n
CONFIG_HIGH_RES_TIMERS=n
CONFIG_WIRELESS=n
CONFIG_CACHESTAT_SYSCALL=n
CONFIG_SOUND=n
CONFIG_NETFILTER_XTABLES=n
CONFIG_ND_CLAIM=n
CONFIG_BLK_DEV=n
CONFIG_DUMMY=n
CONFIG_SYMBOLIC_ERRNAME=n
CONFIG_SYSVIPC_COMPAT=n
CONFIG_IP_PNP=n
CONFIG_MMC_CQHCI=n
CONFIG_HAVE_KERNEL_ZSTD=n
CONFIG_DWMAC_SUNXI=n
CONFIG_IRQCHIP=n
CONFIG_DRM_NOUVEAU_CH7006=n
CONFIG_ARCH_HAS_FORTIFY_SOURCE=n
CONFIG_SECRETMEM=n
CONFIG_MTD_CFI_NOSWAP=n
CONFIG_NET_VENDOR_GOOGLE=n
CONFIG_CRC7=n
CONFIG_NETFILTER_XT_MARK=n
CONFIG_CGROUP_HUGETLB=n
CONFIG_CRC16=n
CONFIG_COREDUMP=n
CONFIG_RPMSG_CHAR=n
CONFIG_DECOMPRESS_GZIP=n
CONFIG_INPUT_VIVALDIFMAP=n
