CONFIG_USB_TMC=y
CONFIG_NOP_USB_XCEIV=y
CONFIG_HSI=y
CONFIG_LCD2S=y
CONFIG_NO_HZ=y
CONFIG_HAVE_SETUP_PER_CPU_AREA=y
CONFIG_PINCTRL_CS47L35=y
CONFIG_USB_HCD_SSB=y
CONFIG_TEST_BITMAP=y
CONFIG_MTD_COMPLEX_MAPPINGS=y
CONFIG_SENSORS_TMP102=y
CONFIG_ARCH_SUPPORTS_KEXEC_BZIMAGE_VERIFY_SIG=y
CONFIG_MEMORY_FAILURE=y
CONFIG_USB_PXA27X=y
CONFIG_SENSORS_LM80=y
CONFIG_HAVE_UNSTABLE_SCHED_CLOCK=y
CONFIG_PROC_VMCORE=y
CONFIG_I2C_PCA_PLATFORM=y
CONFIG_SCSI_UFSHCD=y
CONFIG_ARCH_SUPPORTS_KEXEC_SIG=y
CONFIG_REGULATOR_TWL4030=y
CONFIG_MFD_SMPRO=y
CONFIG_USB_U_SERIAL=y
CONFIG_KVFREE_RCU_BATCHED=y
CONFIG_RMI4_F03=y
CONFIG_HAVE_SYSCALL_TRACEPOINTS=y
CONFIG_RESET_TI_TPS380X=y
CONFIG_FS_POSIX_ACL=y
CONFIG_REGULATOR_QCOM_SPMI=y
CONFIG_REGULATOR_MPQ7920=y
CONFIG_GPIO_MAX732X_IRQ=y
CONFIG_MTD_RAM=y
CONFIG_ARCH_HIBERNATION_POSSIBLE=y
CONFIG_GPIO_AGGREGATOR=y
CONFIG_REGULATOR_MAX8649=y
CONFIG_HID_PICOLCD_LEDS=y
CONFIG_MODIFY_LDT_SYSCALL=y
CONFIG_DEBUG_MUTEXES=y
CONFIG_THERMAL_DEFAULT_GOV_USER_SPACE=y
CONFIG_REGULATOR_DA9121=y
CONFIG_USB_DWC3_OF_SIMPLE=y
CONFIG_PINCTRL_MAX77620=y
CONFIG_SERIO_ALTERA_PS2=y
CONFIG_W1_SLAVE_DS2430=y
CONFIG_VIRTIO_DEBUG=y
CONFIG_EVENTFD=y
CONFIG_TCG_VTPM_PROXY=y
CONFIG_GPIO_SCH311X=y
CONFIG_LEGACY_VSYSCALL_XONLY=y
CONFIG_FUEL_GAUGE_MM8013=y
CONFIG_HID_NTI=y
CONFIG_HAVE_GUP_FAST=y
CONFIG_USB_SERIAL_EDGEPORT=y
CONFIG_MMC_VUB300=y
CONFIG_RMI4_2D_SENSOR=y
CONFIG_BLOCK=y
CONFIG_INPUT_AXP20X_PEK=y
CONFIG_INTEL_TCC=y
CONFIG_CRYPTO_LIB_BLAKE2B=y
CONFIG_I2C=y
CONFIG_IMA_DEFAULT_HASH_SHA256=y
CONFIG_USB_SERIAL_MCT_U232=y
CONFIG_ANON_VMA_NAME=y
CONFIG_REGMAP_SPMI=y
CONFIG_LEDS_ST1202=y
CONFIG_MFD_MAX8907=y
CONFIG_CRYPTO_CRC32=y
CONFIG_NLS_ISO8859_15=y
CONFIG_SENSORS_MAX6650=y
CONFIG_REGULATOR_TPS65132=y
CONFIG_RUSTC_HAS_UNNECESSARY_TRANSMUTES=y
CONFIG_DEFAULT_SECURITY_DAC=y
CONFIG_USB_ISIGHTFW=y
CONFIG_HID_ALPS=y
CONFIG_CRYPTO_HASH2=y
CONFIG_USB_SNP_UDC_PLAT=y
CONFIG_IMA_NG_TEMPLATE=y
CONFIG_PCMCIA_LOAD_CIS=y
CONFIG_X86_THERMAL_VECTOR=y
CONFIG_LEDS_QNAP_MCU=y
CONFIG_USB_SERIAL_IR=y
CONFIG_X86_DISABLED_FEATURE_CALL_DEPTH=y
CONFIG_ARCH_SUPPORTS_KEXEC_SIG_FORCE=y
CONFIG_ARCH_SUPPORTS_CRASH_DUMP=y
CONFIG_BACKLIGHT_SAHARA=y
CONFIG_HID_UDRAW_PS3=y
CONFIG_EEPROM_93CX6=y
CONFIG_EDAC_SUPPORT=y
CONFIG_ARCH_SUPPORTS_CRASH_HOTPLUG=y
CONFIG_LOCK_STAT=y
CONFIG_X86_MCELOG_LEGACY=y
CONFIG_MMC_SDHCI_OF_DWCMSHC=y
CONFIG_HID_PICOLCD_BACKLIGHT=y
CONFIG_PHY_CADENCE_DPHY=y
CONFIG_USB_SERIAL_BELKIN=y
CONFIG_X86_INTEL_TSX_MODE_OFF=y
CONFIG_ARCH_MHP_MEMMAP_ON_MEMORY_ENABLE=y
CONFIG_GNSS_UBX_SERIAL=y
CONFIG_NLS_CODEPAGE_737=y
CONFIG_CHARLCD_BL_FLASH=y
CONFIG_MTD_CFI=y
CONFIG_MFD_CS47L35=y
CONFIG_CLK_TWL=y
CONFIG_DAMON=y
CONFIG_IR_STREAMZAP=y
CONFIG_MFD_RT5033=y
CONFIG_MHP_MEMMAP_ON_MEMORY=y
CONFIG_SCSI_SAS_ATTRS=y
CONFIG_CRC_ITU_T=y
CONFIG_PROC_SYSCTL=y
CONFIG_MFD_STMPE=y
CONFIG_X86_DISABLED_FEATURE_K6_MTRR=y
CONFIG_LEDS_BD2606MVV=y
CONFIG_JOYSTICK_TWIDJOY=y
CONFIG_USB_LEDS_TRIGGER_USBPORT=y
CONFIG_HAVE_ARCH_KASAN_VMALLOC=y
CONFIG_I2C_EMEV2=y
CONFIG_STMPE_I2C=y
CONFIG_REGULATOR_PFUZE100=y
CONFIG_HAVE_CONTEXT_TRACKING_USER=y
CONFIG_ALTERA_MBOX=y
CONFIG_MTD_NAND_MXIC=y
CONFIG_RCU_LAZY=y
CONFIG_JFS_STATISTICS=y
CONFIG_HAVE_KERNEL_ZSTD=y
CONFIG_HAVE_ARCH_RANDOMIZE_KSTACK_OFFSET=y
CONFIG_IP5XXX_POWER=y
CONFIG_SENSORS_INA2XX=y
CONFIG_TRACE_REMOTE=y
CONFIG_WQ_CPU_INTENSIVE_REPORT=y
CONFIG_USB_SERIAL_OTI6858=y
CONFIG_MFD_CS42L43=y
CONFIG_MFD_AXP20X=y
CONFIG_BACKLIGHT_CLASS_DEVICE=y
CONFIG_BLK_DEV_SD=y
CONFIG_GPIO_MAX732X=y
CONFIG_REGULATOR_MAX77802=y
CONFIG_HAVE_ALIGNED_STRUCT_PAGE=y
CONFIG_JOYSTICK_WARRIOR=y
CONFIG_TRACE_CLOCK=y
CONFIG_GPIO_PCF857X=y
CONFIG_INPUT_CMA3000_I2C=y
CONFIG_PERF_USE_VMALLOC=y
CONFIG_ARCH_WANT_LD_ORPHAN_WARN=y
CONFIG_NLS_ISO8859_7=y
CONFIG_REGULATOR_RTQ2208=y
CONFIG_IO_URING=y
CONFIG_GUP_TEST=y
CONFIG_CHARGER_MAX77705=y
CONFIG_ARCH_SUPPORTS_UPROBES=y
CONFIG_SATA_HOST=y
CONFIG_NLS_ISO8859_4=y
CONFIG_CRYPTO_MD4=y
CONFIG_SECURITYFS=y
CONFIG_GENERIC_CPU_AUTOPROBE=y
CONFIG_KEYBOARD_SUNKBD=y
CONFIG_DEBUG_KMEMLEAK=y
CONFIG_MFD_QNAP_MCU=y
CONFIG_OF_FLATTREE=y
CONFIG_CC_HAS_ASSUME=y
CONFIG_GPIO_DS4520=y
CONFIG_MTD_GEN_PROBE=y
CONFIG_TEST_CLOCKSOURCE_WATCHDOG=y
CONFIG_MTD_PCMCIA=y
CONFIG_USB_DEFAULT_PERSIST=y
CONFIG_REGULATOR_ACT8865=y
CONFIG_NTSYNC=y
CONFIG_SENSORS_QNAP_MCU_HWMON=y
CONFIG_HARDIRQS_SW_RESEND=y
CONFIG_SENSORS_PC87360=y
CONFIG_IRQ_POLL=y
CONFIG_HID_ITE=y
CONFIG_INPUT_GPIO_BEEPER=y
CONFIG_KEXEC_HANDOVER=y
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_ARGS=y
CONFIG_ARCH_HAS_HW_PTE_YOUNG=y
CONFIG_BACKLIGHT_AAT2870=y
CONFIG_CRYPTO_SHA256=y
CONFIG_QUOTA=y
CONFIG_TEST_KSTRTOX=y
CONFIG_IPMI_PANIC_EVENT=y
CONFIG_PHY_PXA_28NM_USB2=y
CONFIG_ARCH_HAS_SET_DIRECT_MAP=y
CONFIG_SENSORS_LM87=y
CONFIG_REGULATOR_MAX77675=y
CONFIG_EARLY_PRINTK=y
CONFIG_TOUCHSCREEN_FUJITSU=y
CONFIG_MFD_DA9062=y
CONFIG_XZ_DEC_BCJ=y
CONFIG_SENSORS_LM95234=y
CONFIG_PREEMPT_RCU=y
CONFIG_DEFERRED_STRUCT_PAGE_INIT=y
CONFIG_FTRACE=y
CONFIG_CRYPTO_CAMELLIA_X86_64=y
CONFIG_HID_GREENASIA=y
CONFIG_HAVE_HARDLOCKUP_DETECTOR_BUDDY=y
CONFIG_RUNTIME_TESTING_MENU=y
CONFIG_HAVE_ARCH_KFENCE=y
CONFIG_X86_MCE_INJECT=y
CONFIG_USB_ONBOARD_DEV_USB5744=y
CONFIG_MTD_CFI_I1=y
CONFIG_ARCH_HAS_COPY_MC=y
CONFIG_NLS_CODEPAGE_950=y
CONFIG_CRYPTO_DEFLATE=y
CONFIG_GENERIC_EARLY_IOREMAP=y
CONFIG_SENSORS_LM95245=y
CONFIG_CHARGER_MAX77976=y
CONFIG_SSB=y
CONFIG_TOUCHSCREEN_AR1021_I2C=y
CONFIG_CRC16=y
CONFIG_BTRFS_ASSERT=y
CONFIG_RCU_EQS_DEBUG=y
CONFIG_TEST_KEXEC_HANDOVER=y
CONFIG_PCMCIA=y
CONFIG_VIRTIO_ANCHOR=y
CONFIG_PROC_PID_ARCH_STATUS=y
CONFIG_CRYPTO_ARIA_GFNI_AVX512_X86_64=y
CONFIG_CRYPTO_DH=y
CONFIG_HID_ORTEK=y
CONFIG_HID_XINMO=y
CONFIG_EXCLUSIVE_SYSTEM_RAM=y
CONFIG_CRYPTO_SHA3=y
CONFIG_MMC_USDHI6ROL0=y
CONFIG_CC_HAS_NAMED_AS=y
CONFIG_BATTERY_CHARGER_SURFACE_RT=y
CONFIG_SYSCTL=y
CONFIG_GPIO_F7188X=y
CONFIG_INPUT_JOYSTICK=y
CONFIG_BACKTRACE_SELF_TEST=y
CONFIG_DEBUG_FS_ALLOW_ALL=y
CONFIG_MFD_IQS62X=y
CONFIG_ARCH_USE_QUEUED_SPINLOCKS=y
CONFIG_MMC_CRYPTO=y
CONFIG_DEBUG_LOCKDEP=y
CONFIG_TCG_TIS_ST33ZP24_I2C=y
CONFIG_NLS_MAC_CYRILLIC=y
CONFIG_IRQ_DOMAIN_HIERARCHY=y
CONFIG_SLUB=y
CONFIG_TOUCHSCREEN_CHIPONE_ICN8318=y
CONFIG_MTD_UBI_FASTMAP=y
CONFIG_USB_MDC800=y
CONFIG_USB_UAS=y
CONFIG_NLS_UCS2_UTILS=y
CONFIG_CRYPTO_LIB_NH=y
CONFIG_I2C_SLAVE=y
CONFIG_RV_MON_SLEEP=y
CONFIG_PAGE_SIZE_LESS_THAN_64KB=y
CONFIG_STEAM_FF=y
CONFIG_HID_TWINHAN=y
CONFIG_MMC_TEST=y
CONFIG_LEDS_LP8864=y
CONFIG_ARCH_SUPPORTS_SCHED_CLUSTER=y
CONFIG_CRYPTO_CRYPTD=y
CONFIG_CHARGER_MAX8903=y
CONFIG_HID_SPEEDLINK=y
CONFIG_REGULATOR_MAX77503=y
CONFIG_USB_STORAGE_ISD200=y
CONFIG_GPIOLIB_IRQCHIP=y
CONFIG_SCSI_MOD=y
CONFIG_FSI_SBEFIFO=y
CONFIG_USB_ROLE_SWITCH=y
CONFIG_SENSORS_LENOVO_EC=y
CONFIG_ARCH_WANT_IRQS_OFF_ACTIVATE_MM=y
CONFIG_USB_SERIAL_WISHBONE=y
CONFIG_SCSI_SAS_HOST_SMP=y
CONFIG_CRYPTO_KRB5_SELFTESTS=y
CONFIG_SECURITY_LANDLOCK=y
CONFIG_DAMON_VADDR=y
CONFIG_RV_LTL_MONITOR=y
CONFIG_ARCH_HAS_EARLY_DEBUG=y
CONFIG_TOUCHSCREEN_IQS5XX=y
CONFIG_HAVE_PERF_USER_STACK_DUMP=y
CONFIG_PREEMPT_TRACER=y
CONFIG_CRYPTO_HASH_INFO=y
CONFIG_TCG_TIS_I2C_INFINEON=y
CONFIG_GENERIC_IRQ_RESERVATION_MODE=y
CONFIG_THERMAL_DEBUGFS=y
CONFIG_HAVE_OBJTOOL=y
CONFIG_IR_REDRAT3=y
CONFIG_INTERRUPT_CNT=y
CONFIG_REGULATOR_MAX8998=y
CONFIG_CRC_CCITT=y
CONFIG_ARCH_SUPPORTS_PAGE_TABLE_CHECK=y
CONFIG_NLS_ISO8859_9=y
CONFIG_PM_OPP=y
CONFIG_TOUCHSCREEN_EKTF2127=y
CONFIG_RD_LZMA=y
CONFIG_TOUCHSCREEN_HYNITRON_CST816X=y
CONFIG_CRYPTO_LIB_GF128MUL=y
CONFIG_SCSI_UFS_DWC_TC_PLATFORM=y
CONFIG_REGULATOR_SY8106A=y
CONFIG_SYNC_FILE=y
CONFIG_INPUT_KEYBOARD=y
CONFIG_W1_SLAVE_DS2408=y
CONFIG_INPUT_RAVE_SP_PWRBUTTON=y
CONFIG_KVM=y
CONFIG_MITIGATION_SPECTRE_V2=y
CONFIG_PAGE_SIZE_LESS_THAN_256KB=y
CONFIG_CRYPTO_ACOMP2=y
CONFIG_GENERIC_IRQ_EFFECTIVE_AFF_MASK=y
CONFIG_BCH_CONST_PARAMS=y
CONFIG_NEED_SG_DMA_FLAGS=y
CONFIG_NLS_MAC_CELTIC=y
CONFIG_CRYPTO_LIB_SM3_ARCH=y
CONFIG_HAVE_RETHOOK=y
CONFIG_HW_RANDOM_VIRTIO=y
CONFIG_HAVE_IRQ_TIME_ACCOUNTING=y
CONFIG_BACKLIGHT_KTD2801=y
CONFIG_REGULATOR_SGM3804=y
CONFIG_NVMEM_LAYOUT_SL28_VPD=y
CONFIG_CHARGER_ISP1704=y
CONFIG_MTD_REDBOOT_PARTS_UNALLOCATED=y
CONFIG_MTD_CFI_AMDSTD=y
CONFIG_GENERIC_IRQ_SHOW=y
CONFIG_USB_EHCI_FSL=y
CONFIG_SCSI_CONSTANTS=y
CONFIG_NLS_CODEPAGE_850=y
CONFIG_LZO_DECOMPRESS=y
CONFIG_GFS2_FS=y
CONFIG_W1=y
CONFIG_SENSORS_CHIPCAP2=y
CONFIG_COMMON_CLK_SI544=y
CONFIG_RANDOMIZE_KSTACK_OFFSET=y
CONFIG_HAVE_JUMP_LABEL_HACK=y
CONFIG_I2C_DEBUG_CORE=y
CONFIG_SERIO_I8042=y
CONFIG_NLS_KOI8_R=y
CONFIG_ADC_BATTERY_HELPER=y
CONFIG_I2C_MUX_LTC4306=y
CONFIG_TOUCHSCREEN_HYCON_HY46XX=y
CONFIG_CRYPTO_LIB_GF128HASH_ARCH=y
CONFIG_INPUT_GPIO_VIBRA=y
CONFIG_USB_MICROTEK=y
CONFIG_BATTERY_CHAGALL=y
CONFIG_MTD_NAND_CADENCE=y
CONFIG_INTEGRITY=y
CONFIG_PLATFORM_MHU=y
CONFIG_FUTEX_PI=y
CONFIG_REGULATOR_DA903X=y
CONFIG_FW_CFG_SYSFS=y
CONFIG_TRACE_IRQFLAGS_SUPPORT=y
CONFIG_ZLIB_INFLATE=y
CONFIG_GENERIC_PINMUX_FUNCTIONS=y
CONFIG_SENSORS_ATXP1=y
CONFIG_EVENT_TRACING=y
CONFIG_CC_HAS_RETURN_THUNK=y
CONFIG_X86_REQUIRED_FEATURE_NOPL=y
CONFIG_CC_HAS_KASAN_GENERIC=y
CONFIG_KGDB_KDB=y
CONFIG_GREYBUS_ES2=y
CONFIG_SIGNATURE=y
CONFIG_TRACE_IRQFLAGS=y
CONFIG_DEBUG_KERNEL=y
CONFIG_REGULATOR_RT6245=y
CONFIG_SCSI_SPI_ATTRS=y
CONFIG_XXHASH=y
CONFIG_SENSORS_STTS751=y
CONFIG_DUMMY_IRQ=y
CONFIG_LD_ORPHAN_WARN=y
CONFIG_HAVE_ARCH_PREL32_RELOCATIONS=y
CONFIG_PREEMPT_COUNT=y
CONFIG_DAX=y
CONFIG_SENSORS_LM78=y
CONFIG_USB_SERIAL_ARK3116=y
CONFIG_REGULATOR_MAX8893=y
CONFIG_LEDS_LP8860=y
CONFIG_MISC_RTSX_USB=y
CONFIG_MMU_GATHER_TABLE_FREE=y
CONFIG_GENERIC_TRACER=y
CONFIG_LEDS_EXPRESSWIRE=y
CONFIG_USB_LEGOTOWER=y
CONFIG_X86_REQUIRED_FEATURE_PSE=y
CONFIG_FAULT_INJECTION_DEBUG_FS=y
CONFIG_GPIO_TC3589X=y
CONFIG_X86_SUPPORTS_MEMORY_FAILURE=y
CONFIG_SERIO=y
CONFIG_USB_SERIAL_NAVMAN=y
CONFIG_XILLYUSB=y
CONFIG_USB_OHCI_HCD=y
CONFIG_REGULATOR_MAX20086=y
CONFIG_TOUCHSCREEN_GOODIX=y
CONFIG_GENERIC_PHY_MIPI_DPHY=y
CONFIG_USB_SERIAL_XSENS_MT=y
CONFIG_USB_CHIPIDEA_NPCM=y
CONFIG_GENERIC_VDSO_OVERFLOW_PROTECT=y
CONFIG_CC_IS_GCC=y
CONFIG_X86_LOCAL_APIC=y
CONFIG_NLS_MAC_INUIT=y
CONFIG_INPUT_IQS626A=y
CONFIG_CRYPTO_AES=y
CONFIG_SWIOTLB=y
CONFIG_HAVE_KERNEL_GZIP=y
CONFIG_KEYBOARD_OMAP4=y
CONFIG_ARCH_HAS_DEBUG_VIRTUAL=y
CONFIG_LOCK_DEBUGGING_SUPPORT=y
CONFIG_REGULATOR_MP8859=y
CONFIG_DECOMPRESS_GZIP=y
CONFIG_X86=y
CONFIG_X86_64=y
CONFIG_JFS_FS=y
CONFIG_W1_SLAVE_DS2431=y
CONFIG_LEDS_MC13783=y
CONFIG_GENERIC_SYSCALL=y
CONFIG_HARDLOCKUP_DETECTOR_PERF=y
CONFIG_IR_RCMM_DECODER=y
CONFIG_LEDS_OSRAM_AMS_AS3668=y
CONFIG_RC_DEVICES=y
CONFIG_PWRSEQ_EMMC=y
CONFIG_SENSORS_ADM1026=y
CONFIG_POWER_SEQUENCING=y
CONFIG_SENSORS_LM95241=y
CONFIG_TOUCHSCREEN_PIXCIR=y
CONFIG_CRYPTO_LZO=y
CONFIG_LEDS_GROUP_MULTICOLOR=y
CONFIG_CHARGER_BQ2415X=y
CONFIG_TOUCHSCREEN_GOODIX_BERLIN_CORE=y
CONFIG_OF_RECONFIG_NOTIFIER_ERROR_INJECT=y
CONFIG_I2C_MUX_PCA9541=y
CONFIG_CPU_SUP_AMD=y
CONFIG_XOR_BLOCKS=y
CONFIG_GNSS=y
CONFIG_SENSORS_NCT6775_I2C=y
CONFIG_I2C_GPIO=y
CONFIG_MFD_CORE=y
CONFIG_CRYPTO=y
CONFIG_TYPEC_WUSB3801=y
CONFIG_TCG_ATMEL=y
CONFIG_USB_SISUSBVGA=y
CONFIG_REGULATOR_MT6316=y
CONFIG_USB_SERIAL_GARMIN=y
CONFIG_USB_R8A66597_HCD=y
CONFIG_HAVE_BUILDTIME_MCOUNT_SORT=y
CONFIG_NLS_CODEPAGE_864=y
CONFIG_USB_ARCH_HAS_HCD=y
CONFIG_EXTCON_MAX3355=y
CONFIG_TEST_DYNAMIC_DEBUG=y
CONFIG_JOYSTICK_FSIA6B=y
CONFIG_MFD_AXP20X_I2C=y
CONFIG_REGULATOR_TPS62360=y
CONFIG_USB_WDM=y
CONFIG_HARDLOCKUP_CHECK_TIMESTAMP=y
CONFIG_TOUCHSCREEN_AD7879=y
CONFIG_NLS_MAC_GREEK=y
CONFIG_HID_MULTITOUCH=y
CONFIG_USB_SERIAL_CH341=y
CONFIG_X86_CMOV=y
CONFIG_RC_MAP=y
CONFIG_HAS_IOMEM=y
CONFIG_IOMMU_IOVA=y
CONFIG_I2C_SIMTEC=y
CONFIG_BUFFER_HEAD=y
CONFIG_DECOMPRESS_LZO=y
CONFIG_MMC_REALTEK_USB=y
CONFIG_NLS_CODEPAGE_949=y
CONFIG_RFD_FTL=y
CONFIG_LRU_GEN=y
CONFIG_TCG_TIS=y
CONFIG_CRYPTO_SIG2=y
CONFIG_MOUSE_SERIAL=y
CONFIG_HAVE_KPROBES_ON_FTRACE=y
CONFIG_X86_DISABLED_FEATURE_ENQCMD=y
CONFIG_CRYPTO_LIB_POLY1305_GENERIC=y
CONFIG_TOUCHSCREEN_IMAGIS=y
CONFIG_COMMON_CLK_SI5351=y
CONFIG_USB_DWC2_DEBUG_PERIODIC=y
CONFIG_HAVE_USER_RETURN_NOTIFIER=y
CONFIG_TOUCHSCREEN_DA9034=y
CONFIG_USB_F_HID=y
CONFIG_CHARGER_RT9756=y
CONFIG_REBOOT_MODE=y
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST_IDLE=y
CONFIG_REGULATOR_MAX77693=y
CONFIG_SENSORS_ADM1025=y
CONFIG_ARCH_USE_CMPXCHG_LOCKREF=y
CONFIG_FUTEX_PRIVATE_HASH=y
CONFIG_USB_CONFIGFS_ACM=y
CONFIG_INPUT_MISC=y
CONFIG_USB_SERIAL_EMPEG=y
CONFIG_X86_DIRECT_GBPAGES=y
CONFIG_I2C_MUX_MLXCPLD=y
CONFIG_GENERIC_STRNCPY_FROM_USER=y
CONFIG_RMI4_CORE=y
CONFIG_TIMERFD=y
CONFIG_HID_COUGAR=y
CONFIG_COMMON_CLK_SI570=y
CONFIG_KGDB=y
CONFIG_USB_SERIAL_IPW=y
CONFIG_BLOCK_LEGACY_AUTOLOAD=y
CONFIG_INPUT_MAX7360_ROTARY=y
CONFIG_PPS=y
CONFIG_USB_CONFIGFS_F_PRINTER=y
CONFIG_HAVE_GENERIC_TIF_BITS=y
CONFIG_REGULATOR_MC13XXX_CORE=y
CONFIG_QUOTA_TREE=y
CONFIG_HW_RANDOM=y
CONFIG_NVMEM_QNAP_MCU_EEPROM=y
CONFIG_LEDS_DA903X=y
CONFIG_X86_REROUTE_FOR_BROKEN_BOOT_IRQS=y
CONFIG_X86_REQUIRED_FEATURE_MSR=y
CONFIG_HID_RAZER=y
