CONFIG_UCS2_STRING=n
CONFIG_RSEQ=n
CONFIG_ASYMMETRIC_PUBLIC_KEY_SUBTYPE=n
CONFIG_HAVE_HARDLOCKUP_DETECTOR_PERF=n
CONFIG_TREE_RCU=n
CONFIG_SCHED_MC=n
CONFIG_HW_RANDOM_INTEL=n
CONFIG_BLK_RQ_ALLOC_TIME=n
CONFIG_NET_VENDOR_FUNGIBLE=n
CONFIG_FWNODE_MDIO=n
CONFIG_PADATA=n
CONFIG_BUFFER_HEAD=n
CONFIG_NET_VENDOR_CAVIUM=n
CONFIG_CRYPTO_SHA256=n
CONFIG_NET_VENDOR_XIRCOM=n
CONFIG_SHMEM=n
CONFIG_HAVE_PERF_EVENTS_NMI=n
CONFIG_SND_SEQ_DEVICE=n
CONFIG_AUXILIARY_BUS=n
CONFIG_REALTEK_PHY=n
CONFIG_NET_VENDOR_LITEX=n
CONFIG_HAVE_ARCH_GET_SECUREBOOT=n
CONFIG_NET=n
CONFIG_LOCK_MM_AND_FIND_VMA=n
CONFIG_ACPI_PROCESSOR=n
CONFIG_FRAME_POINTER=n
CONFIG_ARCH_HAS_PTDUMP=n
CONFIG_PCI_GOANY=n
CONFIG_HAVE_KRETPROBES=n
CONFIG_DUMMY_CONSOLE=n
CONFIG_SERIAL_8250_PCI=n
CONFIG_ARCH_HAS_DEVMEM_IS_ALLOWED=n
CONFIG_IO_URING_BPF=n
CONFIG_X86_MCE_INTEL=n
CONFIG_SND_HDA_HWDEP=n
CONFIG_IP6_NF_IPTABLES=n
CONFIG_CRYPTO_SKCIPHER2=n
CONFIG_CC_HAS_MULTIDIMENSIONAL_NONSTRING=n
CONFIG_X86_BOOTPARAM_MEMORY_CORRUPTION_CHECK=n
CONFIG_IOMMU_API=n
CONFIG_E1000E_HWTS=n
CONFIG_HAS_IOPORT_MAP=n
CONFIG_X86_DISABLED_FEATURE_XENPV=n
CONFIG_CRC_OPTIMIZATIONS=n
CONFIG_BLK_DEV_MD=n
CONFIG_DYNAMIC_EVENTS=n
CONFIG_HID_GYRATION=n
CONFIG_ASSOCIATIVE_ARRAY=n
CONFIG_CC_HAS_IBT=n
CONFIG_RUSTC_HAS_FILE_WITH_NUL=n
CONFIG_NET_VENDOR_PENSANDO=n
CONFIG_RELOCATABLE=n
CONFIG_PACKET=n
CONFIG_SCHED_CLUSTER=n
CONFIG_EFI_RUNTIME_MAP=n
CONFIG_NETFILTER_INGRESS=n
CONFIG_NET_VENDOR_MELLANOX=n
CONFIG_KALLSYMS_ALL=n
CONFIG_NFS_ACL_SUPPORT=n
CONFIG_RD_XZ=n
CONFIG_CC_HAS_SANE_FUNCTION_ALIGNMENT=n
CONFIG_LD_CAN_USE_KEEP_IN_OVERLAY=n
CONFIG_NET_VENDOR_SOLARFLARE=n
CONFIG_USB_COMMON=n
CONFIG_DEBUG_MEMORY_INIT=n
CONFIG_PHY_PACKAGE=n
CONFIG_HAVE_KERNEL_BZIP2=n
CONFIG_TRACING_SUPPORT=n
CONFIG_PM=n
CONFIG_WIRELESS=n
CONFIG_X86_CX8=n
CONFIG_SECCOMP=n
CONFIG_RTC_SYSTOHC=n
CONFIG_ACPI_SYSTEM_POWER_STATES_SUPPORT=n
CONFIG_MITIGATION_GDS=n
CONFIG_CC_HAS_NO_PROFILE_FN_ATTR=n
CONFIG_PCI_BIOS=n
CONFIG_IP_PIMSM_V2=n
CONFIG_MOUSE_PS2_CYPRESS=n
CONFIG_PTP_1588_CLOCK_OPTIONAL=n
CONFIG_CRYPTO_KRB5=n
CONFIG_SCSI_VIRTIO=n
CONFIG_PATA_SCH=n
CONFIG_NET_VENDOR_CISCO=n
CONFIG_NFS_FS=n
CONFIG_FSNOTIFY=n
CONFIG_PREEMPT_COUNT=n
CONFIG_NF_NAT=n
CONFIG_RD_ZSTD=n
CONFIG_EARLY_PRINTK=n
CONFIG_IP_PNP_BOOTP=n
CONFIG_COMPAT_32BIT_TIME=n
CONFIG_NETFILTER_XT_TARGET_SECMARK=n
CONFIG_MOUSE_PS2_LOGIPS2PP=n
CONFIG_CRC_CCITT=n
CONFIG_HAVE_PV_STEAL_CLOCK_GEN=n
CONFIG_MITIGATION_L1TF=n
CONFIG_SERIAL_8250_DETECT_IRQ=n
CONFIG_FIX_EARLYCON_MEM=n
CONFIG_AMD_NODE=n
CONFIG_HAVE_PCSPKR_PLATFORM=n
CONFIG_CRYPTO_SHA512=n
CONFIG_SYNC_FILE=n
CONFIG_CPU_IDLE_GOV_MENU=n
CONFIG_GENERIC_ISA_DMA=n
CONFIG_NET_VENDOR_GOOGLE=n
CONFIG_X86_REQUIRED_FEATURE_ALWAYS=n
CONFIG_HAVE_CMPXCHG_LOCAL=n
CONFIG_BLK_DEV_INITRD=n
CONFIG_CONSOLE_TRANSLATIONS=n
CONFIG_USB_HID=n
CONFIG_IOMMU_SUPPORT=n
CONFIG_BLK_CGROUP_IOLATENCY=n
CONFIG_ARCH_SUPPORTS_SCHED_SMT=n
CONFIG_USB_XHCI_PCI=n
CONFIG_PCMCIA=n
CONFIG_ARCH_SUPPORTS_ATOMIC_RMW=n
CONFIG_NET_VENDOR_NETRONOME=n
CONFIG_GLOB=n
CONFIG_ARCH_HAS_NON_OVERLAPPING_ADDRESS_SPACE=n
CONFIG_USB_MON=n
CONFIG_IP_NF_IPTABLES=n
CONFIG_NET_INGRESS=n
CONFIG_HAVE_ATOMIC_IOMAP=n
CONFIG_NETFILTER_XT_MATCH_POLICY=n
CONFIG_PREEMPTION=n
CONFIG_I2C_BOARDINFO=n
CONFIG_CGROUP_PERF=n
CONFIG_NF_REJECT_IPV4=n
CONFIG_PARAVIRT_CLOCK=n
CONFIG_HID_SUPPORT=n
CONFIG_SND_PCM=n
CONFIG_TICK_ONESHOT=n
CONFIG_RD_BZIP2=n
CONFIG_USER_STACKTRACE_SUPPORT=n
CONFIG_ARCH_USE_MEMREMAP_PROT=n
CONFIG_SERIAL_8250_DWLIB=n
CONFIG_SCSI_DMA=n
CONFIG_USB_STORAGE=n
CONFIG_XZ_DEC_ARM=n
CONFIG_SCSI_CONSTANTS=n
CONFIG_VGA_ARB=n
CONFIG_SND_PCMCIA=n
CONFIG_FONT_SUPPORT=n
CONFIG_ARCH_SPLIT_ARG64=n
CONFIG_SND_HRTIMER=n
CONFIG_SERIO_LIBPS2=n
CONFIG_NET_VENDOR_CADENCE=n
CONFIG_FS_MBCACHE=n
CONFIG_CPU_SUP_INTEL=n
CONFIG_X86_CHECK_BIOS_CORRUPTION=n
CONFIG_GENERIC_BUG=n
CONFIG_HAVE_PERF_USER_STACK_DUMP=n
CONFIG_GENERIC_SYSCALL=n
CONFIG_GENERIC_IRQ_PROBE=n
CONFIG_LOCKD=n
CONFIG_TCP_MD5SIG=n
CONFIG_ARCH_WANT_GENERAL_HUGETLB=n
CONFIG_HAVE_ARCH_AUDITSYSCALL=n
CONFIG_CLOCKSOURCE_WATCHDOG=n
CONFIG_VIRTIO_PCI_ADMIN_LEGACY=n
CONFIG_E1000E=n
CONFIG_ISA_DMA_API=n
CONFIG_VIRTIO_BLK=n
CONFIG_X86=n
CONFIG_EXT4_FS_SECURITY=n
CONFIG_KVM_GUEST=n
CONFIG_HAVE_ARCH_TRACEHOOK=n
CONFIG_FS_POSIX_ACL=n
CONFIG_IP_ADVANCED_ROUTER=n
CONFIG_WERROR=n
CONFIG_VIRTIO_DMA_SHARED_BUFFER=n
CONFIG_GENERIC_TRACER=n
CONFIG_CACHESTAT_SYSCALL=n
CONFIG_ARCH_USE_MEMTEST=n
CONFIG_INITRAMFS_PRESERVE_MTIME=n
CONFIG_SUSPEND_FREEZER=n
CONFIG_ARCH_HAS_CACHE_LINE_SIZE=n
CONFIG_X86_MPPARSE=n
CONFIG_USB_EHCI_TT_NEWSCHED=n
CONFIG_DEVMEM=n
CONFIG_NVMEM_SYSFS=n
CONFIG_KMAP_LOCAL=n
CONFIG_MITIGATION_TAA=n
CONFIG_CC_HAS_SLS=n
CONFIG_WMI_BMOF=n
CONFIG_DEBUG_MISC=n
CONFIG_RD_LZ4=n
CONFIG_ARCH_SUPPORTS_KEXEC_BZIMAGE_VERIFY_SIG=n
CONFIG_RCU_TRACE=n
CONFIG_XZ_DEC_X86=n
CONFIG_KEYBOARD_ATKBD=n
CONFIG_SND_SEQ_DUMMY=n
CONFIG_NET_DEVMEM=n
CONFIG_HAVE_SYSCALL_TRACEPOINTS=n
CONFIG_CHR_DEV_SG=n
CONFIG_HID_PETALYNX=n
CONFIG_KERNEL_GZIP=n
CONFIG_ACPI_WMI=n
CONFIG_EXCLUSIVE_SYSTEM_RAM=n
CONFIG_INET6_AH=n
CONFIG_EVENT_TRACING=n
CONFIG_NF_LOG_ARP=n
CONFIG_HAVE_SOFTIRQ_ON_OWN_STACK=n
CONFIG_ARCH_SELECT_MEMORY_MODEL=n
CONFIG_IP_MROUTE_COMMON=n
CONFIG_CC_CAN_LINK=n
CONFIG_WLAN_VENDOR_INTERSIL=n
CONFIG_PROVIDE_OHCI1394_DMA_INIT=n
CONFIG_ARCH_SUPPORTS_CRASH_HOTPLUG=n
CONFIG_X86_REROUTE_FOR_BROKEN_BOOT_IRQS=n
CONFIG_CRYPTO_LIB_AES_ARCH=n
CONFIG_PCIEPORTBUS=n
CONFIG_POWER_SUPPLY_HWMON=n
CONFIG_ARCH_HAS_SYSCALL_WRAPPER=n
CONFIG_X86_MCE=n
CONFIG_DMA_ACPI=n
CONFIG_HAVE_UNSTABLE_SCHED_CLOCK=n
CONFIG_CC_HAS_MARCH_NATIVE=n
CONFIG_X86_MCE_THRESHOLD=n
CONFIG_USB_XHCI_HCD=n
CONFIG_DEBUG_STACK_USAGE=n
CONFIG_TASK_XACCT=n
CONFIG_NET_RX_BUSY_POLL=n
CONFIG_ARCH_HAS_CPU_ATTACK_VECTORS=n
CONFIG_PPS=n
CONFIG_KEXEC_CORE=n
CONFIG_MD_BITMAP=n
CONFIG_HAVE_POSIX_CPU_TIMERS_TASK_WORK=n
CONFIG_ELFCORE=n
CONFIG_ARCH_WANTS_NO_INSTR=n
CONFIG_ATA_FORCE=n
CONFIG_ARCH_USE_SYM_ANNOTATIONS=n
CONFIG_HAVE_EXIT_THREAD=n
CONFIG_SCSI_COMMON=n
CONFIG_IRQ_FORCED_THREADING=n
CONFIG_INPUT_VIVALDIFMAP=n
CONFIG_NET_PTP_CLASSIFY=n
CONFIG_HW_RANDOM=n
CONFIG_BINFMT_MISC=n
CONFIG_FW_CACHE=n
CONFIG_BRANCH_PROFILE_NONE=n
CONFIG_GRACE_PERIOD=n
CONFIG_X86_DISABLED_FEATURE_PCID=n
CONFIG_BLK_DEV_IO_TRACE=n
CONFIG_NET_VENDOR_NI=n
CONFIG_HAVE_PERF_EVENTS=n
CONFIG_ARCH_HAVE_EXTRA_ELF_NOTES=n
CONFIG_CGROUP_NET_CLASSID=n
CONFIG_PCIEASPM_DEFAULT=n
CONFIG_IP_MULTICAST=n
CONFIG_STACKTRACE_SUPPORT=n
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE=n
CONFIG_SECURITY_SELINUX=n
CONFIG_SCSI_SPI_ATTRS=n
CONFIG_X86_DEBUGCTLMSR=n
CONFIG_DRM_PANEL_BRIDGE=n
CONFIG_RETHOOK=n
CONFIG_PAGE_SIZE_LESS_THAN_64KB=n
CONFIG_CLZ_TAB=n
CONFIG_ACPI_NHLT=n
CONFIG_CPU_MITIGATIONS=n
CONFIG_CRYPTO_AUTHENC=n
CONFIG_CRYPTO_HW=n
CONFIG_ACPI_TABLE_UPGRADE=n
CONFIG_HAVE_PCI=n
CONFIG_MITIGATION_TSA=n
CONFIG_SYSVIPC=n
CONFIG_X86_DISABLED_FEATURE_SYSCALL32=n
CONFIG_SUNRPC_BACKCHANNEL=n
CONFIG_ARCH_HAS_CPU_CACHE_INVALIDATE_MEMREGION=n
CONFIG_PCI_MSI=n
CONFIG_NET_VENDOR_MYRI=n
CONFIG_STRICT_MODULE_RWX=n
CONFIG_POSIX_MQUEUE=n
CONFIG_ARCH_HAS_PREEMPT_LAZY=n
CONFIG_CFG80211_USE_KERNEL_REGDB_KEYS=n
CONFIG_CC_HAS_ASM_GOTO_TIED_OUTPUT=n
CONFIG_HAVE_KERNEL_GZIP=n
CONFIG_CRYPTO_LIB_AES_CBC_MACS=n
CONFIG_RD_LZO=n
CONFIG_AS_HAS_NON_CONST_ULEB128=n
CONFIG_INTEGRITY=n
CONFIG_UNIX98_PTYS=n
CONFIG_CRYPTO_ALGAPI2=n
CONFIG_PTP_1588_CLOCK_KVM=n
CONFIG_FIRMWARE_TABLE=n
CONFIG_MAC80211_RC_MINSTREL=n
CONFIG_FONT_AUTOSELECT=n
CONFIG_SERIAL_CORE=n
CONFIG_ARCH_CLOCKSOURCE_INIT=n
CONFIG_XFRM=n
CONFIG_SND_SEQ_HRTIMER_DEFAULT=n
CONFIG_MOUSE_PS2_BYD=n
CONFIG_XFRM_USER=n
CONFIG_SURFACE_PLATFORMS=n
CONFIG_KRETPROBES=n
CONFIG_WLAN_VENDOR_BROADCOM=n
CONFIG_SSB_POSSIBLE=n
CONFIG_RTC_CLASS=n
