CONFIG_CHARGER_BQ25890=n
CONFIG_HAVE_ACPI_APEI=n
CONFIG_QCOM_WCNSS_PIL=n
CONFIG_IPMI_SI=n
CONFIG_FB_DMAMEM_HELPERS_DEFERRED=n
CONFIG_GPIO_ADP5585=n
CONFIG_SM_GCC_8750=n
CONFIG_PREEMPT_BUILD=n
CONFIG_MTD_NAND_FSL_IFC=n
CONFIG_VIDEOMODE_HELPERS=n
CONFIG_CLK_BCM_NS2=n
CONFIG_PINCTRL_SM8350=n
CONFIG_EDAC_ZYNQMP=n
CONFIG_NVMEM_MAX77759=n
CONFIG_CRYPTO_ECDH=n
CONFIG_HIBERNATION=n
CONFIG_FIRMWARE_TABLE=n
CONFIG_ACPI_PPTT=n
CONFIG_SOC_TEGRA_POWERGATE_BPMP=n
CONFIG_QCOM_CLK_APCC_MSM8996=n
CONFIG_CLK_RK3368=n
CONFIG_ARM_TEGRA186_CPUFREQ=n
CONFIG_ARCH_SUPPORTS_ATOMIC_RMW=n
CONFIG_HISILICON_ERRATUM_162100125=n
CONFIG_CLK_INTEL_SOCFPGA64=n
CONFIG_INTEGRITY_AUDIT=n
CONFIG_INTERCONNECT_QCOM_RPMH=n
CONFIG_DRM_ETNAVIV_THERMAL=n
CONFIG_IPQ_GCC_9650=n
CONFIG_PINCTRL_MESON8_PMX=n
CONFIG_LEDS_PWM=n
CONFIG_PM=n
CONFIG_BLOCK=n
CONFIG_DRM_NOUVEAU_CH7006=n
CONFIG_NET_VENDOR_ATHEROS=n
CONFIG_CRYPTO_DEV_QCE_SHA=n
CONFIG_GPIO_PCA953X_IRQ=n
CONFIG_XXHASH=n
CONFIG_USER_NS=n
CONFIG_ARCH_SUPPORTS_ACPI=n
CONFIG_CLK_RCAR_GEN4_CPG=n
CONFIG_PCI_LABEL=n
CONFIG_SERIAL_8250_PCI=n
CONFIG_MESON_CLK_MEASURE=n
CONFIG_DRM_DW_HDMI_QP=n
CONFIG_BLK_DEV_DM=n
CONFIG_AMPERE_ERRATUM_AC03_CPU_38=n
CONFIG_FRAMEBUFFER_CONSOLE_DETECT_PRIMARY=n
CONFIG_RESET_NUVOTON_MA35D1=n
CONFIG_RANDOMIZE_BASE=n
CONFIG_DRM_HISI_HIBMC=n
CONFIG_PINCTRL_MESON_A1=n
CONFIG_CRYPTO_LZ4=n
CONFIG_RFS_ACCEL=n
CONFIG_PCIE_RCAR_GEN4_HOST=n
CONFIG_RZT2H_ADC=n
CONFIG_I2C_QUP=n
CONFIG_ASYNC_TX_DISABLE_XOR_VAL_DMA=n
CONFIG_SND_VMASTER=n
CONFIG_RD_LZMA=n
CONFIG_XILINX_AXI_EMAC=n
CONFIG_ACPI_THERMAL=n
CONFIG_ARCH_USE_QUEUED_SPINLOCKS=n
CONFIG_IO_URING_BPF=n
CONFIG_PINCTRL_SC7280=n
CONFIG_ARM64_WORKAROUND_SPECULATIVE_AT=n
CONFIG_SERIAL_STM32_CONSOLE=n
CONFIG_CRYPTO_GCM=n
CONFIG_USB_F_SERIAL=n
CONFIG_SERIAL_SH_SCI_CONSOLE=n
CONFIG_TEGRA186_TIMER=n
CONFIG_PINCTRL_QDU1000=n
CONFIG_EDAC_GHES=n
CONFIG_ARCH_R9A08G045=n
CONFIG_BRIDGE_VLAN_FILTERING=n
CONFIG_ARCH_R8A77951=n
CONFIG_SND_SOC_WM8962=n
CONFIG_POWER_RESET_MSM=n
CONFIG_INTERCONNECT_QCOM_SDX75=n
CONFIG_QCOM_CLK_APCS_MSM8916=n
CONFIG_BRCMFMAC_SDIO=n
CONFIG_LEGACY_PTYS=n
CONFIG_SYSCON_REBOOT_MODE=n
CONFIG_DWMAC_SUN55I=n
CONFIG_CRC64_ARCH=n
CONFIG_CPU_MITIGATIONS=n
CONFIG_HNS3_HCLGE=n
CONFIG_COMMON_CLK_MT6795_VDECSYS=n
CONFIG_DRM_FSL_LDB=n
CONFIG_EEPROM_AT25=n
CONFIG_USB_U_ETHER=n
CONFIG_PRU_REMOTEPROC=n
CONFIG_SM_GCC_4450=n
CONFIG_MMC_SDHCI_PLTFM=n
CONFIG_SPI_BITBANG=n
CONFIG_MESON_EE_PM_DOMAINS=n
CONFIG_SERIAL_OWL=n
CONFIG_PCI_HOST_GENERIC=n
CONFIG_CGROUP_WRITEBACK=n
CONFIG_ARCH_SUPPORTS_LTO_CLANG=n
CONFIG_PHY_MTK_HDMI=n
CONFIG_QCS_VIDEOCC_615=n
CONFIG_FUSE_IO_URING=n
CONFIG_EFIVAR_FS=n
CONFIG_PACKET=n
CONFIG_PCI_MSI=n
CONFIG_SPMI_MSM_PMIC_ARB=n
CONFIG_PHY_MESON_G12A_USB3_PCIE=n
CONFIG_MTK_PMIC_WRAP=n
CONFIG_ARM64_SVE=n
CONFIG_GPIO_TEGRA=n
CONFIG_RTC_HCTOSYS=n
CONFIG_SND_SOC_WM8524=n
CONFIG_DRM_DISPLAY_DP_HELPER=n
CONFIG_PINCTRL_SUN50I_A100_R=n
CONFIG_HW_RANDOM_HISI=n
CONFIG_MMC_MTK=n
CONFIG_TI_SCI_PM_DOMAINS=n
CONFIG_MTD_SST25L=n
CONFIG_MVMDIO=n
CONFIG_REGULATOR_MT6359=n
CONFIG_COMMON_CLK_MT8195_IMGSYS=n
CONFIG_MTD_CFI_UTIL=n
CONFIG_ARCH_BINFMT_ELF_EXTRA_PHDRS=n
CONFIG_SERIAL_8250_MT6577=n
CONFIG_PWM_APPLE=n
CONFIG_BT_HCIBTUSB_BCM=n
CONFIG_SECRETMEM=n
CONFIG_CRYPTO_RNG=n
CONFIG_BT_HCIUART_LL=n
CONFIG_QCOM_HIDMA=n
CONFIG_UBIFS_FS_ZLIB=n
CONFIG_SND_SOC_LPASS_RX_MACRO=n
CONFIG_DRM_CLIENT_SETUP=n
CONFIG_DEV_COREDUMP=n
CONFIG_HAVE_ARCH_KASAN=n
CONFIG_PCIE_RCAR_EP=n
CONFIG_GPIO_XILINX=n
CONFIG_SERIAL_QCOM_GENI=n
CONFIG_SERIAL_BCM63XX=n
CONFIG_CLK_UNIPHIER=n
CONFIG_VIRTIO_PCI=n
CONFIG_STM32_FIREWALL=n
CONFIG_DRM_ITE_IT6263=n
CONFIG_TI_K3_AM65_CPSW_NUSS=n
CONFIG_USB_NET_PLUSB=n
CONFIG_COMMON_CLK_T7_PLL=n
CONFIG_DMA_ENGINE=n
CONFIG_MEMREGION=n
CONFIG_LD_ORPHAN_WARN=n
CONFIG_CROS_EC_PROTO=n
CONFIG_RESET_TI_SCI=n
CONFIG_SND_SOC_QCOM=n
CONFIG_PINCTRL_SUN50I_A100=n
CONFIG_SND_SOC_MEDIATEK=n
CONFIG_COMMON_CLK_MT8186_CAMSYS=n
CONFIG_STM32MP_EXTI=n
CONFIG_NETFILTER_EGRESS=n
CONFIG_ARCH_RCAR_GEN4=n
CONFIG_DRM_PANEL_HIMAX_HX8279=n
CONFIG_FS_IOMAP=n
CONFIG_RESET_TI_SYSCON=n
CONFIG_LEDS_TRIGGER_HEARTBEAT=n
CONFIG_VIRTIO_MENU=n
CONFIG_MMU=n
CONFIG_ARCH_RENESAS=n
CONFIG_PCIEASPM_DEFAULT=n
CONFIG_USB_DWC3_KEYSTONE=n
CONFIG_CLK_X1E80100_GCC=n
CONFIG_DRM_RCAR_LVDS=n
CONFIG_INPUT_MISC=n
CONFIG_NET_VENDOR_FREESCALE=n
CONFIG_CLK_R9A09G011=n
CONFIG_HAVE_FTRACE_GRAPH_FUNC=n
CONFIG_INTERCONNECT_QCOM_SDM845=n
CONFIG_SERIAL_XILINX_PS_UART=n
CONFIG_ARCH_R8A774B1=n
CONFIG_HAVE_CLK=n
CONFIG_USB_DWC3_GENERIC_PLAT=n
CONFIG_VIDEOBUF2_DMA_SG=n
CONFIG_PCI_PWRCTRL=n
CONFIG_FB_PROVIDE_GET_FB_UNMAPPED_AREA=n
CONFIG_QCS_GCC_615=n
CONFIG_CRYPTO_LIB_GF128HASH_ARCH=n
CONFIG_USB_ISP1760_DUAL_ROLE=n
CONFIG_RD_LZ4=n
CONFIG_NET_CLS=n
CONFIG_HTE_TEGRA194=n
CONFIG_SYSC_R8A77980=n
CONFIG_HAVE_KVM_IRQ_ROUTING=n
CONFIG_BACKLIGHT_GPIO=n
CONFIG_MMC_SDHCI_MSM=n
CONFIG_IMX_MU_MSI=n
CONFIG_GNSS=n
CONFIG_HAVE_ARCH_MMAP_RND_COMPAT_BITS=n
CONFIG_DRM_DW_HDMI_AHB_AUDIO=n
CONFIG_USB_MTU3_DUAL_ROLE=n
CONFIG_TI_ADS1015=n
CONFIG_NEED_PER_CPU_PAGE_FIRST_CHUNK=n
CONFIG_IPV6_NDISC_NODETYPE=n
CONFIG_FPGA_MGR_STRATIX10_SOC=n
CONFIG_KEXEC_FILE=n
CONFIG_ARCH_R9A09G087=n
CONFIG_RWSEM_SPIN_ON_OWNER=n
CONFIG_VIDEO_SUN6I_CSI=n
CONFIG_I2C_CHARDEV=n
CONFIG_IP_MULTICAST=n
CONFIG_FUSE_FS=n
CONFIG_DMIID=n
CONFIG_QCOM_PDR_HELPERS=n
CONFIG_UNIPHIER_SYSTEM_BUS=n
CONFIG_OWL_TIMER=n
CONFIG_PINCTRL_SDX75=n
CONFIG_MODULES_TREE_LOOKUP=n
CONFIG_V4L_MEM2MEM_DRIVERS=n
CONFIG_STACKTRACE=n
CONFIG_HOTPLUG_SMT=n
CONFIG_HW_RANDOM_OMAP=n
CONFIG_MSDOS_PARTITION=n
CONFIG_DWMAC_QCOM_ETHQOS=n
CONFIG_MII=n
CONFIG_HAVE_KVM_IRQ_BYPASS=n
CONFIG_QCOM_RPROC_COMMON=n
CONFIG_REGULATOR_RZG2L_VBCTRL=n
CONFIG_QCOM_QSEECOM_UEFISECAPP=n
CONFIG_CRYPTO_DEV_FSL_CAAM_CRYPTO_API_QI=n
CONFIG_PHY_MESON_GXL_USB2=n
CONFIG_SM_VIDEOCC_8750=n
CONFIG_ROCKCHIP_GRF=n
CONFIG_DRM_RCAR_USE_LVDS=n
CONFIG_RTC_I2C_AND_SPI=n
CONFIG_USB_OTG=n
CONFIG_SND_SOC_PCM3168A=n
CONFIG_COMMON_CLK_MT8192_MMSYS=n
CONFIG_DWMAC_SUN8I=n
CONFIG_DRM_MSM_MDP5=n
CONFIG_CRYPTO_DEV_HISI_HPRE=n
CONFIG_SND_SOC_ES8316=n
CONFIG_PHY_QCOM_M31_EUSB=n
CONFIG_ARCH_REALTEK=n
CONFIG_RTC_DRV_XGENE=n
CONFIG_ARCH_HAVE_TRACE_MMIO_ACCESS=n
CONFIG_PTP_1588_CLOCK_DTE=n
CONFIG_BACKLIGHT_CLASS_DEVICE=n
CONFIG_COMMON_CLK_MT8188_WPESYS=n
CONFIG_PHY_CADENCE_DPHY=n
CONFIG_CLK_RCAR_CPG_LIB=n
CONFIG_QCOM_SPM=n
CONFIG_NFC_NXP_NCI=n
CONFIG_COMMON_CLK_ASPEED=n
CONFIG_MV_XOR_V2=n
CONFIG_ARM64_WORKAROUND_SPECULATIVE_UNPRIV_LOAD=n
CONFIG_GPIO_MVEBU=n
CONFIG_MTK_THERMAL=n
CONFIG_RZG2L_THERMAL=n
CONFIG_INET_DIAG=n
CONFIG_DRM_DISPLAY_HDMI_STATE_HELPER=n
CONFIG_INIT_STACK_ALL_ZERO=n
CONFIG_ZLIB_DEFLATE=n
CONFIG_USB_ISP1760=n
CONFIG_NET_DSA_MSCC_FELIX_DSA_LIB=n
CONFIG_HVC_DRIVER=n
CONFIG_ARM_TI_CPUFREQ=n
CONFIG_SERIO_AMBAKMI=n
CONFIG_DRM_VRAM_HELPER=n
CONFIG_DRM_SUN8I_TCON_TOP=n
CONFIG_HAVE_KVM_DIRTY_RING=n
CONFIG_MWIFIEX_USB=n
CONFIG_SND_SOC_MT6357=n
CONFIG_SPI_MT65XX=n
CONFIG_GCC10_NO_ARRAY_BOUNDS=n
CONFIG_PHY_UNIPHIER_USB2=n
CONFIG_EXTCON=n
CONFIG_PM_OPP=n
CONFIG_COMMON_CLK_XLNX_CLKWZRD=n
CONFIG_CRYPTO_CMAC=n
CONFIG_QORIQ_THERMAL=n
CONFIG_PINCTRL_MSM8916=n
CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE=n
CONFIG_RTC_DRV_MESON_VRTC=n
CONFIG_GCC_SUPPORTS_DYNAMIC_FTRACE_WITH_ARGS=n
CONFIG_CAN_RCAR=n
CONFIG_MWIFIEX=n
CONFIG_SERIAL_8250_PCILIB=n
CONFIG_ARCH_R8A779H0=n
CONFIG_RCAR_THERMAL=n
CONFIG_DWMAC_SOCFPGA=n
CONFIG_DMA_ENGINE_RAID=n
CONFIG_ARM64_ERRATUM_1319367=n
CONFIG_THUNDER_NIC_RGX=n
CONFIG_BT_NXPUART=n
CONFIG_ARM_SMC_WATCHDOG=n
CONFIG_SCHED_MM_CID=n
CONFIG_BLK_DEV_WRITE_MOUNTED=n
CONFIG_I2C_CROS_EC_TUNNEL=n
CONFIG_SPI_SPIDEV=n
CONFIG_MVNETA=n
CONFIG_I2C_ALGOBIT=n
CONFIG_SC_GCC_8180X=n
CONFIG_VIDEOBUF2_V4L2=n
