CONFIG_MAC80211_HAS_RC=n
CONFIG_HAS_IOMEM=n
CONFIG_CC_HAS_ZERO_CALL_USED_REGS=n
CONFIG_PTDUMP=n
CONFIG_STACKTRACE=n
CONFIG_BUILDTIME_TABLE_SORT=n
CONFIG_EXT4_FS_SECURITY=n
CONFIG_RD_BZIP2=n
CONFIG_ISA_DMA_API=n
CONFIG_DIMLIB=n
CONFIG_IOMMU_DEFAULT_DMA_LAZY=n
CONFIG_PCIEASPM_DEFAULT=n
CONFIG_HID_SAMSUNG=n
CONFIG_ACPI_PROCESSOR=n
CONFIG_SERIAL_8250=n
CONFIG_HAVE_DMA_CONTIGUOUS=n
CONFIG_PREEMPT_LAZY=n
CONFIG_DYNAMIC_SIGFRAME=n
CONFIG_DMAR_TABLE=n
CONFIG_FSNOTIFY=n
CONFIG_SND_HDA_I915=n
CONFIG_OPTPROBES=n
CONFIG_DRM_I915_CAPTURE_ERROR=n
CONFIG_ACPI_LEGACY_TABLES_LOOKUP=n
CONFIG_UNWIND_USER=n
CONFIG_CROSS_MEMORY_ATTACH=n
CONFIG_TMPFS_POSIX_ACL=n
CONFIG_CRYPTO_LZO=n
CONFIG_CRYPTO_SIG=n
CONFIG_BINFMT_SCRIPT=n
CONFIG_BLK_DEV_MD=n
CONFIG_VIRTIO_PCI=n
CONFIG_LZO_COMPRESS=n
CONFIG_GENERIC_TRACER=n
CONFIG_SCSI_LOWLEVEL=n
CONFIG_NET_VENDOR_TEHUTI=n
CONFIG_PROC_PID_ARCH_STATUS=n
CONFIG_UNION_FIND=n
CONFIG_SERIAL_8250_SHARE_IRQ=n
CONFIG_EFI_PARTITION=n
CONFIG_VT=n
CONFIG_NET_VENDOR_NVIDIA=n
CONFIG_NVRAM=n
CONFIG_CLOCKSOURCE_WATCHDOG=n
CONFIG_SND_SEQ_HRTIMER_DEFAULT=n
CONFIG_IP_ROUTE_MULTIPATH=n
CONFIG_NET_VENDOR_MICROCHIP=n
CONFIG_COMPAT_32=n
CONFIG_X86_REQUIRED_FEATURE_ALWAYS=n
CONFIG_ARCH_WANT_BATCHED_UNMAP_TLB_FLUSH=n
CONFIG_MODULES_USE_ELF_RELA=n
CONFIG_X86_REQUIRED_FEATURE_CX8=n
CONFIG_HAVE_MOD_ARCH_SPECIFIC=n
CONFIG_ARCH_HAS_CACHE_LINE_SIZE=n
CONFIG_ARCH_HAS_PKEYS=n
CONFIG_CC_HAS_ASM_GOTO_TIED_OUTPUT=n
CONFIG_I2C_HELPER_AUTO=n
CONFIG_SERIO_I8042=n
CONFIG_RD_ZSTD=n
CONFIG_HAVE_ARCH_THREAD_STRUCT_WHITELIST=n
CONFIG_NET=n
CONFIG_RANDOMIZE_BASE=n
CONFIG_MOUSE_PS2=n
CONFIG_CRYPTO_CTR=n
CONFIG_CPU_SUP_CENTAUR=n
CONFIG_USB_DEFAULT_PERSIST=n
CONFIG_HAVE_KERNEL_XZ=n
CONFIG_SND_HDA_CORE=n
CONFIG_MODIFY_LDT_SYSCALL=n
CONFIG_HAVE_ACPI_APEI=n
CONFIG_LEGACY_TIOCSTI=n
CONFIG_USB_HID=n
CONFIG_HPET_EMULATE_RTC=n
CONFIG_SCHED_INFO=n
CONFIG_X86_DISABLED_FEATURE_TDX_GUEST=n
CONFIG_PREEMPT_COUNT=n
CONFIG_CGROUP_NET_CLASSID=n
CONFIG_NET_VENDOR_ASIX=n
CONFIG_HAVE_FUNCTION_TRACER=n
CONFIG_ARCH_STACKWALK=n
CONFIG_DEVMEM=n
CONFIG_ACPI_WMI=n
CONFIG_DEBUG_INFO_NONE=n
CONFIG_RSEQ=n
CONFIG_TASK_IO_ACCOUNTING=n
CONFIG_X86_INTEL_MEMORY_PROTECTION_KEYS=n
CONFIG_VIRTIO_MENU=n
CONFIG_IO_WQ=n
CONFIG_NET_VENDOR_AMAZON=n
CONFIG_PERF_EVENTS_INTEL_CSTATE=n
CONFIG_UNINLINE_SPIN_UNLOCK=n
CONFIG_NET_VENDOR_ARC=n
CONFIG_NET_VENDOR_VERTEXCOM=n
CONFIG_ARCH_MAY_HAVE_PC_FDC=n
CONFIG_HAVE_DYNAMIC_FTRACE_NO_PATCHABLE=n
CONFIG_CPU_FREQ_GOV_USERSPACE=n
CONFIG_TCP_CONG_ADVANCED=n
CONFIG_OPENSSL_SUPPORTS_ML_DSA=n
CONFIG_X86_EXTENDED_PLATFORM=n
CONFIG_ARCH_USE_MEMTEST=n
CONFIG_SYSVIPC=n
CONFIG_ARCH_SUPPORTS_KEXEC_FILE=n
CONFIG_CC_HAS_AUTO_VAR_INIT_PATTERN=n
CONFIG_NF_NAT_SIP=n
CONFIG_WLAN_VENDOR_REALTEK=n
CONFIG_ARCH_USE_SYM_ANNOTATIONS=n
CONFIG_EARLY_PRINTK_DBGP=n
CONFIG_HID_GENERIC=n
CONFIG_PREEMPT_BUILD=n
CONFIG_PCI_LABEL=n
CONFIG_ASYMMETRIC_PUBLIC_KEY_SUBTYPE=n
CONFIG_CRYPTO=n
CONFIG_MSDOS_PARTITION=n
CONFIG_SPARSEMEM_EXTREME=n
CONFIG_SOUND=n
CONFIG_NF_CONNTRACK_IRC=n
CONFIG_BRANCH_PROFILE_NONE=n
CONFIG_HOTPLUG_CORE_SYNC_DEAD=n
CONFIG_HAVE_MMIOTRACE_SUPPORT=n
CONFIG_COMPAT_32BIT_TIME=n
CONFIG_ACPI_CPU_FREQ_PSS=n
CONFIG_BLK_DEV_IO_TRACE=n
CONFIG_SND_HDA_COMPONENT=n
CONFIG_IP_MULTICAST=n
CONFIG_NETFILTER_XT_TARGET_NFLOG=n
CONFIG_X86_MSR=n
CONFIG_NET_PTP_CLASSIFY=n
CONFIG_HAVE_PERF_USER_STACK_DUMP=n
CONFIG_ARCH_WANT_HUGETLB_VMEMMAP_PREINIT=n
CONFIG_HAVE_PAGE_SIZE_4KB=n
CONFIG_NET_VENDOR_NETRONOME=n
CONFIG_NF_CONNTRACK=n
CONFIG_SUNRPC_BACKCHANNEL=n
CONFIG_WLAN_VENDOR_TI=n
CONFIG_CLKEVT_I8253=n
CONFIG_TASKSTATS=n
CONFIG_NET_VENDOR_ALIBABA=n
CONFIG_RTC_INTF_DEV=n
CONFIG_BLK_DEV_DM=n
CONFIG_INPUT_EVDEV=n
CONFIG_BUG=n
CONFIG_HAVE_PV_STEAL_CLOCK_GEN=n
CONFIG_QUOTACTL=n
CONFIG_INTEL_MEI_ME=n
CONFIG_CRYPTO_HASH=n
CONFIG_MAILBOX=n
CONFIG_X86_REQUIRED_FEATURE_CMOV=n
CONFIG_FORCEDETH=n
CONFIG_DECOMPRESS_LZMA=n
CONFIG_MOUSE_PS2_LOGIPS2PP=n
CONFIG_IPV6=n
CONFIG_MAC_EMUMOUSEBTN=n
CONFIG_SERIAL_8250_DETECT_IRQ=n
CONFIG_CRYPTO_CCM=n
CONFIG_HID_PETALYNX=n
CONFIG_SCHED_CLUSTER=n
CONFIG_OBJTOOL=n
CONFIG_BLK_CGROUP_IOLATENCY=n
CONFIG_ARCH_SUPPORTS_SCHED_MC=n
CONFIG_MODULE_UNLOAD=n
CONFIG_NF_NAT=n
CONFIG_DRM_BUDDY=n
CONFIG_R8169=n
CONFIG_CPU_ISOLATION=n
CONFIG_FS_MBCACHE=n
CONFIG_DMI_SCAN_MACHINE_NON_EFI_FALLBACK=n
CONFIG_SGETMASK_SYSCALL=n
CONFIG_SND_PROC_FS=n
CONFIG_HAVE_OPTPROBES=n
CONFIG_CRC_OPTIMIZATIONS=n
CONFIG_SGL_ALLOC=n
CONFIG_LEDS_CLASS=n
CONFIG_ARCH_SUSPEND_POSSIBLE=n
CONFIG_KERNFS=n
CONFIG_MITIGATION_RFDS=n
CONFIG_SND_SEQ_DUMMY=n
CONFIG_INET=n
CONFIG_CRYPTO_ACOMP2=n
CONFIG_BLK_CGROUP=n
CONFIG_CRYPTO_SIG2=n
CONFIG_E1000=n
CONFIG_ACPI_AC=n
CONFIG_EPROBE_EVENTS=n
CONFIG_HOTPLUG_PCI=n
CONFIG_RANDOMIZE_MEMORY=n
CONFIG_TASK_XACCT=n
CONFIG_X86_AMD_PSTATE=n
CONFIG_X86_THERMAL_VECTOR=n
CONFIG_X86_NEED_RELOCS=n
CONFIG_IRQ_REMAP=n
CONFIG_NEED_SG_DMA_FLAGS=n
CONFIG_RELOCATABLE=n
CONFIG_BLOCK_LEGACY_AUTOLOAD=n
CONFIG_DRM_CLIENT_SELECTION=n
CONFIG_CC_HAS_NAMED_AS_FIXED_SANITIZERS=n
CONFIG_X86_MCE_INTEL=n
CONFIG_INTEL_TCC=n
CONFIG_COMPAT_OLD_SIGACTION=n
CONFIG_DEBUG_FS=n
CONFIG_BACKLIGHT_CLASS_DEVICE=n
CONFIG_ACPI_NHLT=n
CONFIG_CRYPTO_KRB5ENC=n
CONFIG_HIBERNATE_CALLBACKS=n
CONFIG_FUTEX_PRIVATE_HASH=n
CONFIG_FUNCTION_ALIGNMENT_16B=n
CONFIG_SBITMAP=n
CONFIG_ARCH_WANT_OPTIMIZE_HUGETLB_VMEMMAP=n
CONFIG_ACPI_CONTAINER=n
CONFIG_SUNRPC_GSS=n
CONFIG_IRQ_FORCED_THREADING=n
CONFIG_NUMA=n
CONFIG_ACPI_LPIT=n
CONFIG_WLAN_VENDOR_ATH=n
CONFIG_X86_REROUTE_FOR_BROKEN_BOOT_IRQS=n
CONFIG_X86_ACPI_CPUFREQ_CPB=n
CONFIG_HAVE_ARCH_JUMP_LABEL_RELATIVE=n
CONFIG_GENERIC_EARLY_IOREMAP=n
CONFIG_ARCH_SUPPORTS_MSEAL_SYSTEM_MAPPINGS=n
CONFIG_GENERIC_SYSCALL=n
CONFIG_IRQ_WORK=n
CONFIG_I2C_BOARDINFO=n
CONFIG_ARCH_ENABLE_SPLIT_PMD_PTLOCK=n
CONFIG_NET_VENDOR_CHELSIO=n
CONFIG_ARCH_HAS_STRICT_KERNEL_RWX=n
CONFIG_AGP_AMD64=n
CONFIG_RFS_ACCEL=n
CONFIG_DRM=n
CONFIG_DEBUG_ENTRY=n
CONFIG_MITIGATION_SRSO=n
CONFIG_EPOLL=n
CONFIG_DMI=n
CONFIG_USB_STORAGE=n
CONFIG_NET_VENDOR_WIZNET=n
CONFIG_CLKBLD_I8253=n
CONFIG_WLAN_VENDOR_RSI=n
CONFIG_DEVTMPFS_MOUNT=n
CONFIG_CFG80211_REQUIRE_SIGNED_REGDB=n
CONFIG_DUMMY_CONSOLE=n
CONFIG_KEYBOARD_ATKBD=n
CONFIG_USB_OHCI_HCD_PCI=n
CONFIG_DECOMPRESS_LZ4=n
CONFIG_NFS_ACL_SUPPORT=n
CONFIG_SND_VMASTER=n
CONFIG_HAVE_KCSAN_COMPILER=n
CONFIG_CRYPTO_AKCIPHER=n
CONFIG_MITIGATION_L1TF=n
CONFIG_IP6_NF_IPTABLES=n
CONFIG_BLK_CGROUP_IOCOST=n
CONFIG_PNFS_FLEXFILE_LAYOUT=n
CONFIG_NETFILTER_XT_TARGET_TCPMSS=n
CONFIG_STACKTRACE_SUPPORT=n
CONFIG_SND_HDA_HWDEP=n
CONFIG_CC_HAS_KASAN_SW_TAGS=n
CONFIG_SCHED_SMT=n
CONFIG_GENERIC_ALLOCATOR=n
CONFIG_CC_HAS_ASM_GOTO_OUTPUT=n
CONFIG_ARCH_HAS_ACPI_TABLE_UPGRADE=n
CONFIG_NEED_PER_CPU_PAGE_FIRST_CHUNK=n
CONFIG_UCS2_STRING=n
CONFIG_HARDIRQS_SW_RESEND=n
CONFIG_PRINTK=n
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_REGS=n
CONFIG_LZ4_COMPRESS=n
CONFIG_CC_HAS_WORKING_NOSANITIZE_ADDRESS=n
CONFIG_QUEUED_SPINLOCKS=n
CONFIG_MQ_IOSCHED_KYBER=n
CONFIG_HAVE_PREEMPT_DYNAMIC=n
CONFIG_UPROBES=n
CONFIG_MOUSE_PS2_FOCALTECH=n
CONFIG_SYSTEM_DATA_VERIFICATION=n
CONFIG_VIRTIO_NET=n
CONFIG_SND_X86=n
CONFIG_CFG80211_DEFAULT_PS=n
CONFIG_NET_VENDOR_SILAN=n
CONFIG_HAVE_SOFTIRQ_ON_OWN_STACK=n
CONFIG_ACPI_THERMAL=n
CONFIG_STRICT_KERNEL_RWX=n
CONFIG_RANDSTRUCT_NONE=n
CONFIG_X86_DEBUG_FPU=n
CONFIG_VIRTIO_PCI_LIB_LEGACY=n
CONFIG_CPU_IDLE_GOV_HALTPOLL=n
CONFIG_TIME_NS=n
CONFIG_SND_JACK=n
CONFIG_SOCK_CGROUP_DATA=n
CONFIG_RTC_SYSTOHC=n
CONFIG_NET_VENDOR_SYNOPSYS=n
CONFIG_STACKPROTECTOR_STRONG=n
CONFIG_IO_DELAY_0X80=n
CONFIG_NETFILTER_EGRESS=n
CONFIG_ETHTOOL_NETLINK=n
CONFIG_XZ_DEC=n
CONFIG_EXECMEM=n
CONFIG_I8253_LOCK=n
CONFIG_ARCH_HAS_CPU_CACHE_INVALIDATE_MEMREGION=n
CONFIG_CRYPTO_SHA256=n
CONFIG_SPARSEMEM_VMEMMAP_ENABLE=n
CONFIG_VIRTIO_CONSOLE=n
CONFIG_X86_MCE_AMD=n
CONFIG_HAVE_UACCESS_VALIDATION=n
CONFIG_AS_IS_GNU=n
