CONFIG_COMMON_CLK_MT6765_MIPI2BSYS=y
CONFIG_PADATA=y
CONFIG_ACPI_FAN=y
CONFIG_SENSORS_SHT15=y
CONFIG_I2C_IMX=y
CONFIG_CRYPTO_KPP2=y
CONFIG_INOTIFY_USER=y
CONFIG_EC_LENOVO_YOGA_C630=y
CONFIG_SENSORS_ADM9240=y
CONFIG_CRYPTO_HASH2=y
CONFIG_INTEL_SCU=y
CONFIG_SENSORS_W83781D=y
CONFIG_PHY_HI3660_USB=y
CONFIG_HAVE_ARCH_KGDB=y
CONFIG_TC1100_WMI=y
CONFIG_KVM_COMMON=y
CONFIG_INGENIC_TCU_IRQ=y
CONFIG_PINCTRL_PFC_R8A7742=y
CONFIG_PINCTRL_CY8C95X0=y
CONFIG_MFD_LP3943=y
CONFIG_RTC_DRV_MAX8907=y
CONFIG_SENSORS_ADM1025=y
CONFIG_DASHARO_ACPI=y
CONFIG_MFD_CORE=y
CONFIG_GPIO_LOONGSON_64BIT=y
CONFIG_ARCH_SUPPORTS_SCHED_SMT=y
CONFIG_RMI4_I2C=y
CONFIG_CLK_IMX95_BLK_CTL=y
CONFIG_NEW_LEDS=y
CONFIG_SPI_ST_SSC4=y
CONFIG_AGP_INTEL=y
CONFIG_SCHED_MM_CID=y
CONFIG_BUILDTIME_TABLE_SORT=y
CONFIG_SENSORS_QNAP_MCU_HWMON=y
CONFIG_RTC_DRV_RV3029_HWMON=y
CONFIG_HWSPINLOCK_SUN6I=y
CONFIG_JOYSTICK_TWIDJOY=y
CONFIG_CPU_FREQ_GOV_ONDEMAND=y
CONFIG_COMMON_CLK_MT7622_AUDSYS=y
CONFIG_ARCH_HAS_MEMBARRIER_SYNC_CORE=y
CONFIG_ACPI_I2C_OPREGION=y
CONFIG_REGULATOR_USERSPACE_CONSUMER=y
CONFIG_MTRR=y
CONFIG_CLK_BCM63268_TIMER=y
CONFIG_TCG_TIS_I2C=y
CONFIG_RTC_DRV_EP93XX=y
CONFIG_CLK_STARFIVE_JH7110_PLL=y
CONFIG_SAMSUNG_Q10=y
CONFIG_IRQ_SIM=y
CONFIG_PCI_ATS=y
CONFIG_SPI_ORION=y
CONFIG_X86_DISABLED_FEATURE_PTI=y
CONFIG_INTEL_MEI_HDCP=y
CONFIG_SYSTEM_EXTRA_CERTIFICATE=y
CONFIG_OID_REGISTRY=y
CONFIG_BCM7038_L1_IRQ=y
CONFIG_USB_RENESAS_USBHS=y
CONFIG_KS0108=y
CONFIG_TABLET_USB_HANWANG=y
CONFIG_LEDS_NIC78BX=y
CONFIG_PHY_SOPHGO_CV1800_USB2=y
CONFIG_PHY_NXP_TJA1145=y
CONFIG_BSD_PROCESS_ACCT_V3=y
CONFIG_CPU_FREQ_STAT=y
CONFIG_DEBUG_OBJECTS_RCU_HEAD=y
CONFIG_REGULATOR_ADP5055=y
CONFIG_SSIF_IPMI_BMC=y
CONFIG_SPI_TEGRA20_SLINK=y
CONFIG_IR_IMG_SHARP=y
CONFIG_SIOX=y
CONFIG_HAVE_PERF_EVENTS=y
CONFIG_MEDIA_CEC_RC=y
CONFIG_CADENCE_TTC_TIMER=y
CONFIG_REGULATOR_MAX77693=y
CONFIG_ARCH_MIGHT_HAVE_PC_SERIO=y
CONFIG_JOYSTICK_IFORCE_232=y
CONFIG_HISILICON_LPC=y
CONFIG_HW_RANDOM_OMAP3_ROM=y
CONFIG_I2C_UNIPHIER_F=y
CONFIG_DYNAMIC_FTRACE_WITH_REGS=y
CONFIG_ARCH_SUPPORTS_SCHED_CLUSTER=y
CONFIG_NSPIRE_TIMER=y
CONFIG_ACPI_TINY_POWER_BUTTON=y
CONFIG_PCIE_ALTERA_MSI=y
CONFIG_ACPI_VIOT=y
CONFIG_TREE_RCU=y
CONFIG_CRYPTO_MD5=y
CONFIG_COMMON_CLK_MT2712=y
CONFIG_USB_MTU3_DUAL_ROLE=y
CONFIG_PARPORT=y
CONFIG_STM32_OMM=y
CONFIG_FPGA_DFL_FME=y
CONFIG_PCI_ECAM=y
CONFIG_RESET_SUNPLUS=y
CONFIG_GENERIC_CPU_VULNERABILITIES=y
CONFIG_RMI4_2D_SENSOR=y
CONFIG_OSNOISE_TRACER=y
CONFIG_SRAM=y
CONFIG_CFS_BANDWIDTH=y
CONFIG_SPI_ATCSPI200=y
CONFIG_USE_X86_SEG_SUPPORT=y
CONFIG_CPU_FREQ_DEFAULT_GOV_POWERSAVE=y
CONFIG_RCU_NOCB_CPU_DEFAULT_ALL=y
CONFIG_CHARGER_SC2731=y
CONFIG_SPI_SPRD=y
CONFIG_FTRACE_MCOUNT_USE_CC=y
CONFIG_NLS_ISO8859_7=y
CONFIG_QUOTA=y
CONFIG_USB_XHCI_PLATFORM=y
CONFIG_CLK_SIFIVE_PRCI=y
CONFIG_SENSORS_AHT10=y
CONFIG_SENSORS_W83627HF=y
CONFIG_CLK_SOPHGO_SG2042_PLL=y
CONFIG_RESET_LPC18XX=y
CONFIG_CLK_IMX8ULP=y
CONFIG_I2C_SCMI=y
CONFIG_PCIE_KEEMBAY_EP=y
CONFIG_RMI4_F34=y
CONFIG_ARCH_HAS_CACHE_LINE_SIZE=y
CONFIG_PHY_RTK_RTD_USB2PHY=y
CONFIG_USB4=y
CONFIG_RAPIDIO=y
CONFIG_I3C=y
CONFIG_I2C_CADENCE=y
CONFIG_CPUSETS=y
CONFIG_COMMON_CLK_MT6795_VENCSYS=y
CONFIG_JOYSTICK_DB9=y
CONFIG_MSI_WMI_PLATFORM=y
CONFIG_KALLSYMS_SELFTEST=y
CONFIG_TIMER_PROBE=y
CONFIG_USB_G_HID=y
CONFIG_NO_HZ=y
CONFIG_PHY_RALINK_USB=y
CONFIG_FANOTIFY=y
CONFIG_X86_POWERNOW_K7_ACPI=y
CONFIG_BACKLIGHT_ARCXCNN=y
CONFIG_RTC_DRV_DS1343=y
CONFIG_REGULATOR_RT4831=y
CONFIG_I2C_MUX_MLXCPLD=y
CONFIG_QFMT_V2=y
CONFIG_PANEL=y
CONFIG_CLKSRC_PISTACHIO=y
CONFIG_MFD_DA9062=y
CONFIG_NEED_PER_CPU_PAGE_FIRST_CHUNK=y
CONFIG_PRINTK_TIME=y
CONFIG_PCI_EPF_TEST=y
CONFIG_PINCTRL_TEGRA30=y
CONFIG_I2C_BRCMSTB=y
CONFIG_HAVE_CLK_PREPARE=y
CONFIG_RPMSG_QCOM_GLINK=y
CONFIG_RTC_DRV_RX8111=y
CONFIG_IR_TOY=y
CONFIG_MFD_ARIZONA_I2C=y
CONFIG_USB_HCD_SSB=y
CONFIG_PHY_STARFIVE_JH7110_PCIE=y
CONFIG_QCOM_RPM_MASTER_STATS=y
CONFIG_RAPIDIO_RXS_GEN3=y
CONFIG_I2C_MUX_REG=y
CONFIG_PHY_MIPHY28LP=y
CONFIG_SPI_LANTIQ_SSC=y
CONFIG_GAMEPORT_FM801=y
CONFIG_ARCH_DMA_ADDR_T_64BIT=y
CONFIG_NVMEM=y
CONFIG_IMX_SCMI_MISC_DRV=y
CONFIG_I2C_ALI15X3=y
CONFIG_ASPEED_SOCINFO=y
CONFIG_CRYPTO_LIB_MD5=y
CONFIG_X86_AMD_PSTATE=y
CONFIG_RESET_QCOM_PDC=y
CONFIG_RTC_DRV_RX8010=y
CONFIG_SENSORS_AXI_FAN_CONTROL=y
CONFIG_USB_ISIGHTFW=y
CONFIG_EXTCON_PALMAS=y
CONFIG_DELL_WMI_SYSMAN=y
CONFIG_APDS9802ALS=y
CONFIG_JOYSTICK_ZHENHUA=y
CONFIG_SPI_LM70_LLP=y
CONFIG_SUN55I_A523_CCU=y
CONFIG_RTC_DRV_MESON=y
CONFIG_IMX_IRQSTEER=y
CONFIG_RTC_DRV_MOXART=y
CONFIG_CROS_EC_LPC=y
CONFIG_SPI_HISI_KUNPENG=y
CONFIG_FPGA_MGR_XILINX_CORE=y
CONFIG_MFD_AAT2870_CORE=y
CONFIG_SCHED_STACK_END_CHECK=y
CONFIG_I2C=y
CONFIG_COMMON_CLK_SI5351=y
CONFIG_PINCTRL_TEGRA124=y
CONFIG_REGULATOR_ACT8865=y
CONFIG_ARCH_WANT_GENERAL_HUGETLB=y
CONFIG_ARM64_PLATFORM_DEVICES=y
CONFIG_GPIO_CLPS711X=y
CONFIG_USB_GADGET_DEBUG_FS=y
CONFIG_MFD_TPS6594_I2C=y
CONFIG_W1_SLAVE_THERM=y
CONFIG_HAVE_KERNEL_LZO=y
CONFIG_QCOM_PMIC_PDCHARGER_ULOG=y
CONFIG_KMAP_LOCAL=y
CONFIG_GPIO_ASPEED_SGPIO=y
CONFIG_LEDS_TRIGGER_TRANSIENT=y
CONFIG_IOMMU_SUPPORT=y
CONFIG_RTC_DRV_ABX80X=y
CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE=y
CONFIG_SENSORS_SBTSI=y
CONFIG_RTC_DRV_88PM80X=y
CONFIG_PM_QOS_CPU_SYSTEM_WAKEUP=y
CONFIG_LEDS_LP8788=y
CONFIG_I2C_SYNQUACER=y
CONFIG_RV_MON_STALL=y
CONFIG_SENSORS_LTC4282=y
CONFIG_ACPI_PLATFORM_PROFILE=y
CONFIG_COMMON_CLK_MT8186_MDPSYS=y
CONFIG_POWER_MLXBF=y
CONFIG_SYSC_R8A77980=y
CONFIG_RESET_TH1520=y
CONFIG_KVFREE_RCU_BATCHED=y
CONFIG_SENSORS_EMC1812=y
CONFIG_HDQ_MASTER_OMAP=y
CONFIG_MFD_TIMBERDALE=y
CONFIG_SERIAL_DEV_CTRL_TTYPORT=y
CONFIG_BOOT_PRINTK_DELAY=y
CONFIG_CHARGER_LP8727=y
CONFIG_DEVFREQ_EVENT_EXYNOS_PPMU=y
CONFIG_CC_NO_STRINGOP_OVERFLOW=y
CONFIG_HAVE_DMA_CONTIGUOUS=y
CONFIG_W1_SLAVE_DS2438=y
CONFIG_DEBUG_ATOMIC_LARGEST_ALIGN=y
CONFIG_USB_LJCA=y
CONFIG_RTC_DRV_SPACEMIT_P1=y
CONFIG_TASKS_TRACE_RCU=y
CONFIG_MMC_OWL=y
CONFIG_ARCH_SUPPORTS_KEXEC_SIG_FORCE=y
CONFIG_AGP_ALI=y
CONFIG_MMU_GATHER_RCU_TABLE_FREE=y
CONFIG_GPIO_F7188X=y
CONFIG_CMA_DEBUGFS=y
CONFIG_PINCTRL_MAX7360=y
CONFIG_SECONDARY_TRUSTED_KEYRING_SIGNED_BY_BUILTIN=y
CONFIG_GPIO_REGMAP=y
CONFIG_CEC_CORE=y
CONFIG_TCG_TIS_I2C_INFINEON=y
CONFIG_MCB=y
CONFIG_POSIX_AUX_CLOCKS=y
CONFIG_TCG_TIS_ST33ZP24=y
CONFIG_CHARGER_MAX14577=y
CONFIG_SCHED_PROXY_EXEC=y
CONFIG_SSB_POSSIBLE=y
CONFIG_CHARLCD=y
CONFIG_IMX_SCU=y
CONFIG_CLK_RK3588=y
CONFIG_CRYPTO_TWOFISH_586=y
CONFIG_EXPERT=y
CONFIG_GENERIC_PCI_IOMAP=y
CONFIG_CRYPTO_CTR=y
CONFIG_COMMON_CLK_MT7622_HIFSYS=y
CONFIG_SPI_DW_MMIO=y
CONFIG_OMAP_USB2=y
CONFIG_PCI_EPF_NTB=y
CONFIG_COMMON_CLK_MT6765_MIPI0BSYS=y
CONFIG_INTERCONNECT=y
CONFIG_TASKS_RUDE_RCU=y
CONFIG_HW_RANDOM_INTEL=y
CONFIG_CHARGER_SBS=y
CONFIG_GPIO_PCH=y
CONFIG_MEMORY=y
CONFIG_UIO_DFL=y
CONFIG_CLK_BCM_KONA=y
CONFIG_INTERVAL_TREE=y
CONFIG_PINCTRL_PFC_R8A7790=y
CONFIG_GENERIC_GETTIMEOFDAY=y
CONFIG_MFD_SIMPLE_MFD_I2C=y
CONFIG_KVM_ASYNC_PF=y
CONFIG_LEDS_REGULATOR=y
CONFIG_AGP_VIA=y
CONFIG_COMMON_CLK_RPMI=y
CONFIG_FSNOTIFY=y
CONFIG_DMA_SHARED_BUFFER=y
CONFIG_ACPI_PROCESSOR=y
CONFIG_MMP_PANEL_TPOHVGA=y
CONFIG_USB_COMMON=y
CONFIG_MFD_CS47L35=y
CONFIG_SPI_RSPI=y
CONFIG_ARM_MEDIATEK_CCI_DEVFREQ=y
CONFIG_INTERCONNECT_QCOM_OSM_L3=y
CONFIG_PHY_PXA_USB=y
CONFIG_SLUB=y
CONFIG_ACERHDF=y
CONFIG_SPI_ALTERA_DFL=y
CONFIG_REGULATOR_S5M8767=y
CONFIG_POWER_RESET_SC27XX=y
CONFIG_COMMON_CLK_MT2712_VDECSYS=y
CONFIG_FORCE_DYNAMIC_FTRACE=y
CONFIG_QCOM_LMH=y
CONFIG_X86_CPUFREQ_NFORCE2=y
CONFIG_SPI_SPRD_ADI=y
CONFIG_I2C_VIRTIO=y
CONFIG_MMC_SH_MMCIF=y
CONFIG_CRYPTO_DH=y
CONFIG_MFD_INTEL_QUARK_I2C_GPIO=y
CONFIG_NVMEM_BRCM_NVRAM=y
CONFIG_USB_PRINTER=y
CONFIG_SPI_CADENCE=y
CONFIG_CRYPTO_SHA1=y
CONFIG_GPIO_OMAP=y
CONFIG_HAVE_KERNEL_LZMA=y
CONFIG_FTRACE_SELFTEST=y
CONFIG_HP_ACCEL=y
CONFIG_PINCTRL_PFC_R8A7744=y
CONFIG_BCMA_HOST_PCI_POSSIBLE=y
CONFIG_SENSORS_OCC_P8_I2C=y
CONFIG_CRYPTO_MD4=y
CONFIG_HAVE_STACKPROTECTOR=y
CONFIG_RTC_DRV_M41T80_WDT=y
CONFIG_USB_CHIPIDEA_MSM=y
CONFIG_CLK_BCM2835=y
CONFIG_I2C_DEBUG_CORE=y
CONFIG_CLK_RK322X=y
CONFIG_AGP_SIS=y
CONFIG_TRACE_REMOTE_TEST=y
CONFIG_PCI=y
CONFIG_SERIO_PARKBD=y
CONFIG_PHY_PXA_28NM_USB2=y
CONFIG_KPROBES_ON_FTRACE=y
CONFIG_PCI_IMX6_EP=y
CONFIG_CRYPTO_LIB_AESCFB=y
CONFIG_DEVFREQ_GOV_SIMPLE_ONDEMAND=y
CONFIG_HAVE_FUNCTION_GRAPH_TRACER=y
CONFIG_DEBUG_VM=y
CONFIG_VGA_ARB=y
CONFIG_MMC_SUNXI=y
CONFIG_RESET_BERLIN=y
CONFIG_I2C_OWL=y
CONFIG_INTEL_SCU_IPC=y
CONFIG_MFD_CS40L50_CORE=y
CONFIG_JOYSTICK_GF2K=y
CONFIG_BATTERY_LENOVO_YOGA_C630=y
CONFIG_PREEMPT_LAZY=y
CONFIG_PNPACPI=y
CONFIG_ARCH_SUPPORTS_KEXEC=y
CONFIG_PAGE_COUNTER=y
CONFIG_HW_RANDOM_NPCM=y
CONFIG_LEDS_LP3944=y
CONFIG_SPI_LOONGSON_PCI=y
CONFIG_SENSORS_LENOVO_EC=y
CONFIG_CHARGER_RT9455=y
CONFIG_RTC_DRV_CV1800=y
CONFIG_PERF_EVENTS_AMD_BRS=y
CONFIG_ACER_WIRELESS=y
CONFIG_EDAC_ATOMIC_SCRUB=y
CONFIG_I2C_MT7621=y
CONFIG_RV_MON_MAINTENANCE_EVENTS=y
CONFIG_GPIO_RTD=y
CONFIG_VFIO_PLATFORM_BCMFLEXRM_RESET=y
CONFIG_QCOM_SMP2P=y
CONFIG_KPROBES=y
CONFIG_MHI_BUS=y
CONFIG_X86_LONGRUN=y
CONFIG_MFD_SPACEMIT_P1=y
CONFIG_GPIO_MAX732X=y
CONFIG_BATTERY_DS2781=y
CONFIG_LOCK_DEBUGGING_SUPPORT=y
CONFIG_DEVFREQ_GOV_USERSPACE=y
CONFIG_HAVE_ARCH_RANDOMIZE_KSTACK_OFFSET=y
CONFIG_UNWINDER_FRAME_POINTER=y
CONFIG_REGULATOR_PV88090=y
CONFIG_X86_MCE_INTEL=y
CONFIG_IRQ_BYPASS_MANAGER=y
CONFIG_SPI_CS42L43=y
CONFIG_TCG_TIS_ST33ZP24_I2C=y
CONFIG_MANAGER_SBS=y
CONFIG_RC_LOOPBACK=y
CONFIG_EEPROM_MAX6875=y
CONFIG_RTC_DRV_MAX6916=y
CONFIG_RTC_DRV_88PM860X=y
CONFIG_X86_REQUIRED_FEATURE_CX8=y
CONFIG_I2C_TEGRA=y
CONFIG_JOYSTICK_TMDC=y
CONFIG_RTC_NVMEM=y
CONFIG_IR_IMON=y
CONFIG_NVMEM_QNAP_MCU_EEPROM=y
CONFIG_IR_HIX5HD2=y
CONFIG_POWER_RESET_BRCMSTB=y
CONFIG_REGULATOR_88PM8607=y
CONFIG_USB_F_PRINTER=y
CONFIG_RTC_DRV_M41T93=y
CONFIG_I2C_MUX_GPIO=y
CONFIG_I2C_RCAR=y
CONFIG_GPIO_VF610=y
CONFIG_PINCTRL_CEDARFORK=y
CONFIG_BATTERY_HUAWEI_GAOKUN=y
CONFIG_SENSORS_LM95245=y
CONFIG_ISAPNP=y
CONFIG_MFD_BD9571MWV=y
CONFIG_NLS_ISO8859_1=y
CONFIG_HW_RANDOM_PIC32=y
CONFIG_CROS_EC_PROTO=y
CONFIG_MOST=y
CONFIG_USB_EHCI_ROOT_HUB_TT=y
CONFIG_X86_SPEEDSTEP_CENTRINO_TABLE=y
CONFIG_EC_QCOM_HAMOA=y
CONFIG_NVMEM_QORIQ_EFUSE=y
CONFIG_IR_ENE=y
CONFIG_UNINLINE_SPIN_UNLOCK=y
CONFIG_THERMAL_GOV_FAIR_SHARE=y
CONFIG_X86_DISABLED_FEATURE_OSPKE=y
CONFIG_CRYPTO_LIB_CHACHA=y
CONFIG_CRYPTO_LIB_GF128HASH=y
CONFIG_CMA=y
CONFIG_INTEL_SCU_IPC_UTIL=y
CONFIG_FAIL_FUTEX=y
CONFIG_HAVE_KVM_DIRTY_RING_TSO=y
CONFIG_CRYPTO_ECDSA=y
CONFIG_CLK_IMX8MN=y
CONFIG_LTO_NONE=y
CONFIG_REGULATOR_AW37503=y
CONFIG_USB_F_FS=y
CONFIG_KVM_VFIO=y
CONFIG_CROS_EC_SPI=y
CONFIG_CLKSRC_I8253=y
CONFIG_MFD_SM501_GPIO=y
CONFIG_STANDALONE=y
CONFIG_EPROBE_EVENTS=y
CONFIG_COMMON_CLK_MT8183_MFGCFG=y
CONFIG_KEBA_LAN9252=y
CONFIG_RPMSG_QCOM_GLINK_RPM=y
CONFIG_COMMON_CLK_S2MPS11=y
CONFIG_MMC_DW_HI3798MV200=y
CONFIG_SENSORS_LTC4260=y
CONFIG_ARCH_MAY_HAVE_PC_FDC=y
CONFIG_QUEUED_RWLOCKS=y
CONFIG_PINCTRL_PFC_R8A779A0=y
CONFIG_IOMMU_IOVA=y
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO_BARE=y
CONFIG_CLK_RV1103B=y
CONFIG_CPU_IDLE=y
CONFIG_CC_HAS_KASAN_GENERIC=y
CONFIG_GPIO_TQMX86=y
CONFIG_W1_MASTER_AMD_AXI=y
CONFIG_CEC_NXP_TDA9950=y
CONFIG_TTY=y
CONFIG_RD_LZO=y
CONFIG_EXTCON_MAX14577=y
CONFIG_MFD_SKY81452=y
CONFIG_IOMMU_PT=y
CONFIG_RESET_SPACEMIT_K1=y
CONFIG_PREEMPT_NOTIFIERS=y
CONFIG_BATTERY_ACT8945A=y
CONFIG_TRACEFS_AUTOMOUNT_DEPRECATED=y
CONFIG_PHY_INTEL_LGM_EMMC=y
CONFIG_MMC_SDHCI_MICROCHIP_PIC32=y
CONFIG_GPIO_STP_XWAY=y
CONFIG_HAVE_ARCH_KSTACK_ERASE=y
CONFIG_HAVE_KPROBES=y
CONFIG_REGULATOR_BD9571MWV=y
CONFIG_MTK_VCP_MBOX=y
CONFIG_THERMAL_GOV_BANG_BANG=y
CONFIG_PCI_DOMAINS=y
CONFIG_PCI_KEYSTONE_TRISTATE=y
CONFIG_CONTEXT_SWITCH_TRACER=y
CONFIG_EISA=y
CONFIG_ACPI_CONTAINER=y
CONFIG_SENSORS_LM78=y
CONFIG_PINCTRL_PFC_R8A7743=y
CONFIG_MUX_ADG792A=y
CONFIG_BINFMT_ELF=y
CONFIG_RESET_NPCM=y
CONFIG_ALLOW_DEV_COREDUMP=y
CONFIG_CC_HAS_COUNTED_BY=y
CONFIG_UDMABUF=y
CONFIG_SCHED_CORE=y
CONFIG_USB_EHSET_TEST_FIXTURE=y
CONFIG_PARMAN=y
CONFIG_FIPS_SIGNATURE_SELFTEST_ECDSA=y
CONFIG_USER_EVENTS=y
CONFIG_MMC_SDHCI_NPCM=y
CONFIG_TRACING_MAP=y
CONFIG_SENSORS_INA209=y
CONFIG_CRYPTO_LIB_SHA1=y
CONFIG_MFD_SMPRO=y
CONFIG_GPIO_GRANITERAPIDS=y
CONFIG_W1_SLAVE_DS2408=y
CONFIG_FPGA_DFL_NIOS_INTEL_PAC_N3000=y
CONFIG_RESET_RASPBERRYPI=y
CONFIG_NLS_CODEPAGE_949=y
CONFIG_REGULATOR_LP8788=y
CONFIG_TCG_CRB=y
CONFIG_KVM_GENERIC_DIRTYLOG_READ_PROTECT=y
CONFIG_SPI_QCOM_QSPI=y
CONFIG_REGULATOR_PCA9450=y
CONFIG_MTK_INFRACFG=y
CONFIG_SPRD_IOMMU=y
CONFIG_CRYPTO_CMAC=y
CONFIG_CRYPTO_SKCIPHER=y
CONFIG_RANDOM32_SELFTEST=y
CONFIG_ARCH_HAS_ACPI_TABLE_UPGRADE=y
CONFIG_REGMAP_SPI_AVMM=y
CONFIG_RTC_DRV_MAX31335=y
CONFIG_RTC_DRV_SSD202D=y
CONFIG_COMMON_CLK_PISTACHIO=y
