CONFIG_APDS9960=y
CONFIG_PINCTRL_PFC_SH7269=y
CONFIG_USB_SERIAL_KOBIL_SCT=y
CONFIG_HAVE_RSEQ=y
CONFIG_SUNPLUS_SP7021_INTC=y
CONFIG_MFD_RETU=y
CONFIG_LEDS_LP3952=y
CONFIG_HAVE_ARCH_MMAP_RND_BITS=y
CONFIG_I2C_ALGOBIT=y
CONFIG_STM32_TIMER_CNT=y
CONFIG_X86_DISABLED_FEATURE_OSPKE=y
CONFIG_NXP_PIT_TIMER=y
CONFIG_USB_MTU3_DEBUG=y
CONFIG_GPIO_XLP=y
CONFIG_X86_CET=y
CONFIG_HID_PICOLCD_BACKLIGHT=y
CONFIG_RTC_LIB=y
CONFIG_TI_PIPE3=y
CONFIG_LEDS_PWM_MULTICOLOR=y
CONFIG_SL28CPLD_INTC=y
CONFIG_USB_ULPI=y
CONFIG_RTC_DRV_SD3078=y
CONFIG_SENSORS_MCP3021=y
CONFIG_NETDEV_NOTIFIER_ERROR_INJECT=y
CONFIG_DMABUF_HEAPS=y
CONFIG_LEDS_PCA963X=y
CONFIG_FSNOTIFY=y
CONFIG_MFD_WM831X=y
CONFIG_SENSORS_CROS_EC=y
CONFIG_ARCH_DMA_ADDR_T_64BIT=y
CONFIG_USB=y
CONFIG_I2C_SLAVE=y
CONFIG_ROHM_BD79124=y
CONFIG_HAVE_ARCH_USERFAULTFD_MINOR=y
CONFIG_HAVE_STATIC_CALL=y
CONFIG_TEGRA30_TSENSOR=y
CONFIG_PSI=y
CONFIG_APDS9160=y
CONFIG_CRYPTO_NULL=y
CONFIG_SPRD_THERMAL=y
CONFIG_REGULATOR_MAX14577=y
CONFIG_A11Y_BRAILLE_CONSOLE=y
CONFIG_DYNAMIC_FTRACE=y
CONFIG_DEBUG_TLBFLUSH=y
CONFIG_IRQ_UNIPHIER_AIDET=y
CONFIG_CLK_R9A07G044=y
CONFIG_I2C_RZV2M=y
CONFIG_PROC_VMCORE=y
CONFIG_GPIO_ZEVIO=y
CONFIG_GPIO_MB86S7X=y
CONFIG_FW_LOADER_PAGED_BUF=y
CONFIG_QUEUED_RWLOCKS=y
CONFIG_X86_X32_ABI=y
CONFIG_DEVFREQ_GOV_PASSIVE=y
CONFIG_I2C_QUP=y
CONFIG_IR_IGORPLUGUSB=y
CONFIG_FSL_IFC=y
CONFIG_SERIAL_OWL_CONSOLE=y
CONFIG_LEDS_WM8350=y
CONFIG_PHY_EIC7700_SATA=y
CONFIG_COMMON_CLK_VISCONTI=y
CONFIG_FW_CFG_SYSFS=y
CONFIG_SERIAL_OWL=y
CONFIG_CROS_EC_LIGHTBAR=y
CONFIG_DEVTMPFS_MOUNT=y
CONFIG_NET_PTP_CLASSIFY=y
CONFIG_SCSI_NETLINK=y
CONFIG_ATMEL_SSC=y
CONFIG_CRYPTO_KPP=y
CONFIG_NLS_KOI8_U=y
CONFIG_CFG80211_CRDA_SUPPORT=y
CONFIG_EXECMEM=y
CONFIG_PPS=y
CONFIG_RTC_DRV_RX8010=y
CONFIG_NET_CLS_FW=y
CONFIG_MICROCODE_DBG=y
CONFIG_SENSORS_ADT7X10=y
CONFIG_HID_ELAN=y
CONFIG_BACKLIGHT_KTD2801=y
CONFIG_RICHTEK_RTQ6056=y
CONFIG_INPUT_MISC=y
CONFIG_NLS_CODEPAGE_936=y
CONFIG_COMMON_CLK_MT8186_MCUSYS=y
CONFIG_NET_TC_SKB_EXT=y
CONFIG_FUEL_GAUGE_SC27XX=y
CONFIG_PHY_MMP3_USB=y
CONFIG_USB_STORAGE_KARMA=y
CONFIG_USB_SERIAL_KEYSPAN_PDA=y
CONFIG_REGULATOR_RT5739=y
CONFIG_RESET_BERLIN=y
CONFIG_XZ_DEC_RISCV=y
CONFIG_USE_PERCPU_NUMA_NODE_ID=y
CONFIG_ARCH_SUPPORTS_CRASH_DUMP=y
CONFIG_IRQ_POLL=y
CONFIG_CLK_RENESAS_CPG_MSSR=y
CONFIG_TH1520_AON_PROTOCOL=y
CONFIG_USB_OTG_DISABLE_EXTERNAL_HUB=y
CONFIG_RING_BUFFER_VALIDATE_TIME_DELTAS=y
CONFIG_PWM_IMX27=y
CONFIG_X509_CERTIFICATE_PARSER=y
CONFIG_CHARGER_MP2629=y
CONFIG_I2C_RIIC=y
CONFIG_XILLYUSB=y
CONFIG_HID_MONTEREY=y
CONFIG_FW_CS_DSP=y
CONFIG_ISL29003=y
CONFIG_COMMON_CLK_IPROC=y
CONFIG_IIO_BUFFER_HW_CONSUMER=y
CONFIG_CRYPTO_DEV_SUN8I_CE_DEBUG=y
CONFIG_TRACE_CLOCK=y
CONFIG_PPDEV=y
CONFIG_PINCTRL_MADERA=y
CONFIG_REGULATOR_TPS62360=y
CONFIG_MTK_SCPSYS_PM_DOMAINS=y
CONFIG_LEDS_PCA9532=y
CONFIG_USB_TEST=y
CONFIG_HID=y
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE_PUD=y
CONFIG_OBJTOOL=y
CONFIG_ARCH_WANT_OPTIMIZE_HUGETLB_VMEMMAP=y
CONFIG_CHARGER_DA9150=y
CONFIG_RZN1_IRQMUX=y
CONFIG_EXYNOS_IRQ_COMBINER=y
CONFIG_ZL3073X_I2C=y
CONFIG_SPARSE_IRQ=y
CONFIG_LEDS_EXPRESSWIRE=y
CONFIG_RESET_BCM6345=y
CONFIG_ARCH_DEFAULT_CRASH_DUMP=y
CONFIG_BQL=y
CONFIG_SERIAL_8250_EXTENDED=y
CONFIG_X86_CHECK_BIOS_CORRUPTION=y
CONFIG_MAC_EMUMOUSEBTN=y
CONFIG_BUILDTIME_MCOUNT_SORT=y
CONFIG_SERIAL_MESON=y
CONFIG_SATA_AHCI_SEATTLE=y
CONFIG_HID_SIGMAMICRO=y
CONFIG_HID_SAITEK=y
CONFIG_PROC_KCORE=y
CONFIG_HW_RANDOM_BA431=y
CONFIG_RTC_DRV_WM8350=y
CONFIG_IRQ_DOMAIN_HIERARCHY=y
CONFIG_ARCH_WANT_COMPAT_IPC_PARSE_VERSION=y
CONFIG_CRYPTO_DEV_TEGRA=y
CONFIG_ENS160_I2C=y
CONFIG_IIO_ADC_HELPER=y
CONFIG_NLS_CODEPAGE_863=y
CONFIG_EXYNOS_ASV_ARM=y
CONFIG_XARRAY_MULTI=y
CONFIG_SENSORS_VIA_CPUTEMP=y
CONFIG_DEBUG_INFO=y
CONFIG_ISL29501=y
CONFIG_I2C_CADENCE=y
CONFIG_IIO_GTS_HELPER=y
CONFIG_BUILDTIME_TABLE_SORT=y
CONFIG_SENSORS_LIS3LV02D=y
CONFIG_HAVE_ARCH_SECCOMP_FILTER=y
CONFIG_ZSTD_COMMON=y
CONFIG_HID_PICOLCD_CIR=y
CONFIG_X86_DISABLED_FEATURE_VME=y
CONFIG_MMA9553=y
CONFIG_SERIAL_SH_SCI_CONSOLE=y
CONFIG_COMMON_CLK_MT8186=y
CONFIG_ROCKCHIP_MBOX=y
CONFIG_USB_OHCI_HCD_S3C2410=y
CONFIG_EVENT_TRACING=y
CONFIG_NLS_CODEPAGE_1251=y
CONFIG_GOOGLE_FIRMWARE=y
CONFIG_LEGACY_VSYSCALL_NONE=y
CONFIG_HAVE_KERNEL_LZ4=y
CONFIG_STM32_RPROC=y
CONFIG_CHARGER_MAX8903=y
CONFIG_ARCH_HAS_FORTIFY_SOURCE=y
CONFIG_HID_LENOVO_GO_S=y
CONFIG_RTC_DRV_RX6110=y
CONFIG_MPL115=y
CONFIG_SENSORS_PECI=y
CONFIG_SERIAL_ARC_CONSOLE=y
CONFIG_RTC_DRV_DA9055=y
CONFIG_PINCTRL_CY8C95X0=y
CONFIG_CEC_NOTIFIER=y
CONFIG_RPMSG_QCOM_GLINK_RPM=y
CONFIG_QCOM_RPMH=y
CONFIG_HAVE_CLK=y
CONFIG_CHARGER_RT9455=y
CONFIG_MESON_CLK_MEASURE=y
CONFIG_STACKTRACE_BUILD_ID=y
CONFIG_CRYPTO_WP512=y
CONFIG_EDAC_ATOMIC_SCRUB=y
CONFIG_IOMMU_API=y
CONFIG_BT_HCIUART=y
CONFIG_AS_WRUSS=y
CONFIG_CRYPTO_USER_API=y
CONFIG_CRYPTO_AES_NI_INTEL=y
CONFIG_RTC_DRV_CV1800=y
CONFIG_NVME_HOST_AUTH=y
CONFIG_X86_ESPFIX64=y
CONFIG_ARCH_SUPPORTS_KEXEC_SIG=y
CONFIG_X86_DISABLED_FEATURE_SGX=y
CONFIG_SHRINKER_DEBUG=y
CONFIG_USB_XHCI_HCD=y
CONFIG_CRC_OPTIMIZATIONS=y
CONFIG_MFD_DLN2=y
CONFIG_CLK_RZG2L=y
CONFIG_MTK_HSDMA=y
CONFIG_GENERIC_PINCTRL_GROUPS=y
CONFIG_EXTCON_MAX77693=y
CONFIG_LZ4_COMPRESS=y
CONFIG_NET_SCH_TBF=y
CONFIG_HID_LENOVO_GO=y
CONFIG_ARCH_HAS_GIGANTIC_PAGE=y
CONFIG_SENSORS_LTC2947=y
CONFIG_KEXEC_CORE=y
CONFIG_PWM_PROVIDE_GPIO=y
CONFIG_OWL_TIMER=y
CONFIG_I2C_QCOM_CCI=y
CONFIG_INTERCONNECT_SAMSUNG=y
CONFIG_EXYNOS_PM_DOMAINS=y
CONFIG_I2C_TAOS_EVM=y
CONFIG_REGULATOR_STM32_VREFBUF=y
CONFIG_INPUT_DRV260X_HAPTICS=y
CONFIG_PINCTRL_TEGRA30=y
CONFIG_HAVE_LIVEPATCH=y
CONFIG_HAVE_DYNAMIC_FTRACE=y
CONFIG_GENERIC_EARLY_IOREMAP=y
CONFIG_ARCH_SUPPORTS_PMD_PFNMAP=y
CONFIG_RD_LZO=y
CONFIG_PROC_PAGE_MONITOR=y
CONFIG_I2C_HID=y
CONFIG_TRANSPARENT_HUGEPAGE_ALWAYS=y
CONFIG_REGULATOR_MT6357=y
CONFIG_COMMON_CLK_HI3559A=y
CONFIG_RESET_SCMI=y
CONFIG_MFD_ARIZONA=y
CONFIG_ARCH_WANT_HUGETLB_VMEMMAP_PREINIT=y
CONFIG_AT_HDMAC=y
CONFIG_VFIO_CONTAINER=y
CONFIG_X86_CX8=y
CONFIG_SPEAKUP_SYNTH_ACNTPC=y
CONFIG_IPMB_DEVICE_INTERFACE=y
CONFIG_COMMON_CLK_RPMI=y
CONFIG_MAILBOX=y
CONFIG_RESET_RZG2L_USBPHY_CTRL=y
CONFIG_PARPORT_PANEL=y
CONFIG_DS1803=y
CONFIG_TI_EMIF=y
CONFIG_SENSORS_ARM_SCMI=y
CONFIG_CGROUPS=y
CONFIG_PHY_SOPHGO_CV1800_USB2=y
CONFIG_VT=y
CONFIG_DUMMY_CONSOLE=y
CONFIG_MAX1363=y
CONFIG_AD7625=y
CONFIG_SERIAL_STM32_CONSOLE=y
CONFIG_USB_SERIAL_ARK3116=y
CONFIG_DS1682=y
CONFIG_MFD_TN48M_CPLD=y
CONFIG_USB_MON=y
CONFIG_VL53L1X_I2C=y
CONFIG_DEVPORT=y
CONFIG_ARCH_SUPPORTS_CFI=y
CONFIG_RTC_DRV_RTD119X=y
CONFIG_ARCH_HAS_KERNEL_FPU_SUPPORT=y
CONFIG_UX500_SOC_ID=y
CONFIG_CLK_R8A77470=y
CONFIG_FUTEX_PRIVATE_HASH=y
CONFIG_NET_9P=y
CONFIG_IMX7D_ADC=y
CONFIG_LEDS_CLASS=y
CONFIG_CGROUP_CPUACCT=y
CONFIG_REGULATOR_FIXED_VOLTAGE=y
CONFIG_GENERIC_CLOCKEVENTS=y
CONFIG_WIRELESS=y
CONFIG_COMMON_CLK_TPS68470=y
CONFIG_PM_DEVFREQ=y
CONFIG_COMMON_CLK_MT8192_MDPSYS=y
CONFIG_ISA_BUS_API=y
CONFIG_SI1145=y
CONFIG_HAVE_SYSCALL_TRACEPOINTS=y
CONFIG_SENSORS_GIGABYTE_WATERFORCE=y
CONFIG_ARCH_HAS_STRICT_MODULE_RWX=y
CONFIG_HAVE_ARCH_JUMP_LABEL=y
CONFIG_RPS=y
CONFIG_REGULATOR_DA9211=y
CONFIG_TICK_CPU_ACCOUNTING=y
CONFIG_ASSOCIATIVE_ARRAY=y
CONFIG_ARCH_USE_MEMTEST=y
CONFIG_CRYPTO_XTS=y
CONFIG_IRQ_SIM=y
CONFIG_HID_BATTERY_STRENGTH=y
CONFIG_VIRTIO_BALLOON=y
CONFIG_PHY_HI6220_USB=y
CONFIG_NLS_ISO8859_2=y
CONFIG_SLAB_FREELIST_HARDENED=y
CONFIG_TEGRA20_APB_DMA=y
CONFIG_IR_HIX5HD2=y
CONFIG_BLK_DEV_BSG=y
CONFIG_TPL0102=y
CONFIG_NET_SCH_FQ=y
CONFIG_CLK_RENESAS_DIV6=y
CONFIG_BT_ATH3K=y
CONFIG_HARDIRQS_SW_RESEND=y
CONFIG_CRYPTO_LIB_SHA3=y
CONFIG_FILE_LOCKING=y
CONFIG_ISL29020=y
CONFIG_TRACE_REMOTE=y
CONFIG_IPMI_SSIF=y
CONFIG_USB_EHSET_TEST_FIXTURE=y
CONFIG_NVMEM_QNAP_MCU_EEPROM=y
CONFIG_REGULATOR_BQ257XX=y
CONFIG_CLK_R8A7792=y
CONFIG_FIX_EARLYCON_MEM=y
CONFIG_GPIO_POLARFIRE_SOC=y
CONFIG_LEDS_TI_LMU_COMMON=y
CONFIG_DYNAMIC_SIGFRAME=y
CONFIG_SENSORS_NTC_THERMISTOR=y
CONFIG_RTC_MC146818_LIB=y
CONFIG_GXP_TIMER=y
CONFIG_COMPAT_FOR_U64_ALIGNMENT=y
CONFIG_COMMON_CLK_MT2712_JPGDECSYS=y
CONFIG_VLAN_8021Q_MVRP=y
CONFIG_IOSCHED_BFQ=y
CONFIG_MPL115_I2C=y
CONFIG_RST_RCAR=y
CONFIG_FW_UPLOAD=y
CONFIG_SENSORS_RM3100_I2C=y
CONFIG_PRU_REMOTEPROC=y
CONFIG_SSB=y
CONFIG_COMPACTION=y
CONFIG_ARCH_HAS_ELF_RANDOMIZE=y
CONFIG_SOC_BUS=y
CONFIG_NET_CLS_BASIC=y
CONFIG_ARCH_CLOCKSOURCE_INIT=y
CONFIG_PAGE_IDLE_FLAG=y
CONFIG_USB_SERIAL_IPW=y
CONFIG_USB_XHCI_MTK=y
CONFIG_NET_SCH_INGRESS=y
CONFIG_GPIO_GE_FPGA=y
CONFIG_HAVE_DEBUG_KMEMLEAK=y
CONFIG_RTC_DRV_ISL1208=y
CONFIG_IQS621_ALS=y
CONFIG_NLS_MAC_ROMAN=y
CONFIG_USB_SERIAL_SIERRAWIRELESS=y
CONFIG_BT_HCIBTUSB=y
CONFIG_RTC_DRV_DS1374=y
CONFIG_MMU_GATHER_TABLE_FREE=y
CONFIG_CRYPTO_ECDH=y
CONFIG_HAVE_ARCH_RANDOMIZE_KSTACK_OFFSET=y
CONFIG_NET_ACT_BPF=y
CONFIG_TI_SYSCON_CLK=y
CONFIG_DEBUG_OBJECTS_FREE=y
CONFIG_PINCTRL_EMMITSBURG=y
CONFIG_RZG3E_THERMAL=y
CONFIG_RESET_LPC18XX=y
CONFIG_PWM_TIEHRPWM=y
CONFIG_MFD_AS3711=y
CONFIG_COMMON_CLK_K230=y
CONFIG_HAVE_FUNCTION_ARG_ACCESS_API=y
CONFIG_SLUB=y
CONFIG_X86_MSR=y
CONFIG_XILINX_AMS=y
CONFIG_HAVE_KERNEL_GZIP=y
CONFIG_TEGRA210_EMC=y
CONFIG_USB_ISIGHTFW=y
CONFIG_HAVE_HARDLOCKUP_DETECTOR_BUDDY=y
CONFIG_PAGE_COUNTER=y
CONFIG_COMMON_CLK_SP7021=y
CONFIG_DIGICOLOR_TIMER=y
CONFIG_HID_MACALLY=y
CONFIG_HID_XINMO=y
CONFIG_USB_XHCI_DBGCAP=y
CONFIG_NET_SCHED=y
CONFIG_MCHP_EIC=y
CONFIG_PWM_KEEMBAY=y
CONFIG_IIO_MS_SENSORS_I2C=y
CONFIG_TORTURE_TEST=y
CONFIG_REGULATOR_RT4803=y
CONFIG_HYPERV_TIMER=y
CONFIG_PWM_IMX_TPM=y
CONFIG_USB_OHCI_HCD_SSB=y
CONFIG_GPIO_MPSSE=y
CONFIG_GPIO_SHARED=y
CONFIG_BMI323_I2C=y
CONFIG_USB_STORAGE_SDDR09=y
CONFIG_RTC_DRV_CROS_EC=y
CONFIG_DMABUF_DEBUG=y
CONFIG_BMC150_MAGN_I2C=y
CONFIG_INPUT_WM831X_ON=y
CONFIG_USB_OTG=y
CONFIG_CLK_RENESAS=y
CONFIG_COMMON_CLK_MT8183_IPU_ADL=y
CONFIG_NET_EGRESS=y
CONFIG_INPUT_IQS7222=y
CONFIG_BPF_JIT_DEFAULT_ON=y
CONFIG_INGENIC_CGU_JZ4770=y
CONFIG_COMMON_CLK_BOSTON=y
CONFIG_I2C_ATR=y
CONFIG_TRACER_MAX_TRACE=y
CONFIG_TCM_IBLOCK=y
CONFIG_MFD_SYSCON=y
CONFIG_SENSORS_MC34VR500=y
CONFIG_INGENIC_CGU_JZ4780=y
CONFIG_REGULATOR_PWM=y
CONFIG_CRYPTO_LIB_SHA256_ARCH=y
CONFIG_USB_SERIAL_UPD78F0730=y
CONFIG_SENSORS_LTC2992=y
CONFIG_PANTHERLORD_FF=y
CONFIG_GENERIC_CALIBRATE_DELAY=y
CONFIG_LEDS_TRIGGER_ACTIVITY=y
CONFIG_MEDIA_CEC_SUPPORT=y
CONFIG_IIO_SYSFS_TRIGGER=y
CONFIG_X86_REQUIRED_FEATURE_PSE=y
CONFIG_LEGACY_PTYS=y
CONFIG_STK3310=y
CONFIG_SENSORS_W83773G=y
CONFIG_CRYPTO_TWOFISH_X86_64_3WAY=y
CONFIG_BCMA_POSSIBLE=y
CONFIG_CEC_STM32=y
CONFIG_ATA=y
CONFIG_SENSORS_CHIPCAP2=y
CONFIG_HAS_IOPORT=y
CONFIG_AK8975=y
CONFIG_SYSC_RMOBILE=y
CONFIG_HW_RANDOM_OMAP=y
CONFIG_CRYPTO_LIB_CHACHA_ARCH=y
CONFIG_EDAC_XGENE=y
CONFIG_DEBUG_LOCK_ALLOC=y
CONFIG_MAC802154=y
CONFIG_SKB_EXTENSIONS=y
CONFIG_RTC_DRV_CMOS=y
CONFIG_TRACE_IRQFLAGS_SUPPORT=y
CONFIG_RTC_DRV_RV8803=y
CONFIG_ZISOFS=y
CONFIG_CONTEXT_SWITCH_TRACER=y
CONFIG_PTP_1588_CLOCK=y
CONFIG_IIO_BUFFER_CB=y
CONFIG_USB_MUSB_POLARFIRE_SOC=y
CONFIG_SERIAL_RDA_CONSOLE=y
CONFIG_CRYPTO_LIB_AES_CBC_MACS=y
CONFIG_REGULATOR_MAX8998=y
CONFIG_NLS_CODEPAGE_437=y
CONFIG_PCPU_DEV_REFCNT=y
CONFIG_PINCTRL_METEORLAKE=y
CONFIG_ARCH_HAS_GENERIC_CRASHKERNEL_RESERVATION=y
CONFIG_GPIO_ARIZONA=y
CONFIG_REGULATOR_MT6323=y
CONFIG_BATTERY_MAX17042=y
CONFIG_MFD_SM501=y
CONFIG_CRYPTO_TWOFISH_COMMON=y
CONFIG_ARCH_PROC_KCORE_TEXT=y
CONFIG_NEED_PER_CPU_EMBED_FIRST_CHUNK=y
CONFIG_TEGRA186_GPC_DMA=y
CONFIG_LEDS_LM3530=y
CONFIG_NPCM7XX_KCS_IPMI_BMC=y
CONFIG_LOONGSON1_APB_DMA=y
CONFIG_LRU_GEN_WALKS_MMU=y
CONFIG_PRINTK_TIME=y
CONFIG_PINCTRL_SH_PFC=y
CONFIG_SENSORS_ATXP1=y
CONFIG_KXSD9=y
CONFIG_RTC_DRV_SD2405AL=y
CONFIG_PWM_MTK_DISP=y
CONFIG_BT_HCIUART_H4=y
CONFIG_HAVE_REGS_AND_STACK_ACCESS_API=y
CONFIG_SERIAL_8250_PXA=y
CONFIG_GPIO_MOCKUP=y
CONFIG_MLXREG_DPU=y
CONFIG_SYSC_RZ=y
CONFIG_DEBUG_NOTIFIERS=y
CONFIG_X86_VERBOSE_BOOTUP=y
CONFIG_ARCH_WANT_HUGE_PMD_SHARE=y
CONFIG_AD7150=y
CONFIG_GPIO_LOONGSON1=y
CONFIG_REGULATOR_TPS65132=y
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_ARGS=y
CONFIG_REGULATOR_AXP20X=y
CONFIG_IIO_CROS_EC_SENSORS_CORE=y
CONFIG_CLK_BCM_CYGNUS=y
CONFIG_PMIC_ADP5520=y
CONFIG_SENSORS_LM73=y
CONFIG_CAN_GW=y
CONFIG_DEBUG_SG=y
CONFIG_LEDS_GPIO=y
CONFIG_CRYPTO_CAMELLIA_X86_64=y
CONFIG_HTS221_I2C=y
CONFIG_PAC1921=y
CONFIG_TREE_SRCU=y
CONFIG_SATA_RCAR=y
CONFIG_FSL_DPAA=y
CONFIG_ARM_SCMI_PERF_DOMAIN=y
CONFIG_LEDS_TRIGGER_ONESHOT=y
CONFIG_PHY_PISTACHIO_USB=y
CONFIG_COMMON_CLK_PWM=y
CONFIG_FSL_QMAN_TEST=y
CONFIG_NET_SCH_HFSC=y
CONFIG_SERIAL_NONSTANDARD=y
CONFIG_AD5064=y
CONFIG_HID_DRAGONRISE=y
CONFIG_MFD_MT6360=y
CONFIG_GOLDFISH_TIMER=y
CONFIG_X86_CPA_STATISTICS=y
