CONFIG_FB=n
CONFIG_QCA808X_PHY=n
CONFIG_EXYNOS_PMU=n
CONFIG_DRM_POWERVR=n
CONFIG_FSL_ENETC_VF=n
CONFIG_I2C_OWL=n
CONFIG_BCMA_POSSIBLE=n
CONFIG_PHY_RCAR_GEN3_USB3=n
CONFIG_IMX_AIPSTZ=n
CONFIG_NET_RX_BUSY_POLL=n
CONFIG_MTD_NAND_QCOM=n
CONFIG_MMC_SDHI=n
CONFIG_NEED_PER_CPU_EMBED_FIRST_CHUNK=n
CONFIG_NLS=n
CONFIG_XOR_BLOCKS=n
CONFIG_GPIO_SHARED_PROXY=n
CONFIG_FS_IOMAP=n
CONFIG_SND_SOC_SDCA_OPTIONAL=n
CONFIG_ASPEED_LPC_SNOOP=n
CONFIG_SND_USB_AUDIO_QMI=n
CONFIG_MTK_IOMMU=n
CONFIG_ROCKCHIP_ERRATUM_3588001=n
CONFIG_PINCTRL_SUN50I_H5=n
CONFIG_SATA_AHCI=n
CONFIG_CLK_BCM_SR=n
CONFIG_FSL_RCPM=n
CONFIG_CIX_MBOX=n
CONFIG_USB_EHCI_EXYNOS=n
CONFIG_TUN=n
CONFIG_COMMON_CLK_ASPEED=n
CONFIG_BINARY_PRINTF=n
CONFIG_MMC_DW_ROCKCHIP=n
CONFIG_MEMORY_HOTREMOVE=n
CONFIG_NET_IP_TUNNEL=n
CONFIG_I2C_CROS_EC_TUNNEL=n
CONFIG_GOOGLE_COREBOOT_TABLE=n
CONFIG_SCSI_LOWLEVEL=n
CONFIG_ARCH_AIROHA=n
CONFIG_SND_SOC_MT8192=n
CONFIG_PCIE_LAYERSCAPE_GEN4=n
CONFIG_XZ_DEC_SPARC=n
CONFIG_USB_DWC3_IMX=n
CONFIG_SND_SOC_HDMI_CODEC=n
CONFIG_CRYPTO_DEV_FSL_CAAM_CRYPTO_API=n
CONFIG_CLK_R8A774B1=n
CONFIG_NET_SCH_MQPRIO=n
CONFIG_ETHTOOL_NETLINK=n
CONFIG_SYSC_R8A779F0=n
CONFIG_WLAN_VENDOR_INTERSIL=n
CONFIG_ARCH_RENESAS=n
CONFIG_DRM_CDNS_DSI=n
CONFIG_SERIAL_RSCI=n
CONFIG_SC_GCC_8180X=n
CONFIG_COMMON_CLK_MT8167_VDECSYS=n
CONFIG_FB_DMAMEM_HELPERS_DEFERRED=n
CONFIG_SM_GCC_8150=n
CONFIG_PAGE_REPORTING=n
CONFIG_CLK_R9A07G044=n
CONFIG_NETFILTER_XT_TARGET_LOG=n
CONFIG_MTD_OF_PARTS_BCM4908=n
CONFIG_TEGRA_TIMER=n
CONFIG_HW_RANDOM_OMAP=n
CONFIG_PINCTRL_TPS6594=n
CONFIG_GPIO_SL28CPLD=n
CONFIG_COMMON_CLK_MESON_AO_CLKC=n
CONFIG_COMMON_CLK_SCMI=n
CONFIG_GPIO_MPC8XXX=n
CONFIG_USB_NET_CDC_NCM=n
CONFIG_PINCTRL_TEGRA=n
CONFIG_COMMON_CLK_T7_PLL=n
CONFIG_PHY_MIXEL_MIPI_DPHY=n
CONFIG_CEC_NXP_TDA9950=n
CONFIG_DW_WATCHDOG=n
CONFIG_GPIO_GENERIC_PLATFORM=n
CONFIG_GENERIC_PHY_MIPI_DPHY=n
CONFIG_DRM_TTM_HELPER=n
CONFIG_CAN_CALC_BITTIMING=n
CONFIG_SCSI_UFS_ROCKCHIP=n
CONFIG_SERIAL_8250_16550A_VARIANTS=n
CONFIG_SND_SOC_RT5682_I2C=n
CONFIG_PINCTRL_RZV2M=n
CONFIG_SERIAL_MVEBU_UART=n
CONFIG_USB_RENESAS_USBHS=n
CONFIG_VIDEOBUF2_V4L2=n
CONFIG_FSL_DPAA=n
CONFIG_AS_IS_GNU=n
CONFIG_STM_PROTO_SYS_T=n
CONFIG_KEYBOARD_IMX_SC_KEY=n
CONFIG_MTD_CFI_I2=n
CONFIG_CRYPTO=n
CONFIG_SOC_SAMSUNG=n
CONFIG_PCI_AARDVARK=n
CONFIG_VIDEO_HANTRO_STM32MP25=n
CONFIG_MSM_GCC_8994=n
CONFIG_MEDIA_TUNER_TDA8290=n
CONFIG_ATH11K_AHB=n
CONFIG_CRYPTO_DEV_HISI_HPRE=n
CONFIG_GPIO_TPIC2810=n
CONFIG_STRICT_DEVMEM=n
CONFIG_DRM_RCAR_VSP=n
CONFIG_MTD_DATAFLASH=n
CONFIG_ARCH_ALPINE=n
CONFIG_SPI_DYNAMIC=n
CONFIG_TIMER_ACPI=n
CONFIG_USB_DWC3_IMX8MP=n
CONFIG_REGULATOR_QCOM_RPMH=n
CONFIG_KVM_GUEST_MEMFD=n
CONFIG_I2C_MESON=n
CONFIG_RTC_DRV_MT6397=n
CONFIG_CLK_KAANAPALI_GCC=n
CONFIG_CPU_LITTLE_ENDIAN=n
CONFIG_THERMAL_GOV_POWER_ALLOCATOR=n
CONFIG_HAS_SECURITY_AUDIT=n
CONFIG_HW_RANDOM_TPM=n
CONFIG_CC_HAS_KASAN_GENERIC=n
CONFIG_SND_SOC_RT1015P=n
CONFIG_SMP=n
CONFIG_CLK_IMX8ULP=n
CONFIG_DRM_DW_HDMI_QP=n
CONFIG_HAVE_STACKPROTECTOR=n
CONFIG_SYSFB=n
CONFIG_MODULES_TREE_LOOKUP=n
CONFIG_TYPEC_MUX_NB7VPQ904M=n
CONFIG_MARVELL_GTI_WDT=n
CONFIG_IKCONFIG_PROC=n
CONFIG_HAVE_KVM_IRQCHIP=n
CONFIG_SERIAL_OWL_CONSOLE=n
CONFIG_CFG80211_REQUIRE_SIGNED_REGDB=n
CONFIG_SWPHY=n
CONFIG_ARCH_R9A09G047=n
CONFIG_ARCH_HAS_DMA_OPS=n
CONFIG_SCSI_UFSHCD_PLATFORM=n
CONFIG_DRM_ETNAVIV=n
CONFIG_ARCH_TEGRA_264_SOC=n
CONFIG_COMMON_CLK_IPROC=n
CONFIG_ARCH_HAS_CURRENT_STACK_POINTER=n
CONFIG_RCU_NEED_SEGCBLIST=n
CONFIG_RESET_MESON_AUDIO_ARB=n
CONFIG_CORESIGHT=n
CONFIG_PCIE_ROCKCHIP=n
CONFIG_TIMER_PROBE=n
CONFIG_SYS_R9A09G057=n
CONFIG_TICK_ONESHOT=n
CONFIG_CRYPTO_SKCIPHER2=n
CONFIG_PAGE_COUNTER=n
CONFIG_QCOM_RMTFS_MEM=n
CONFIG_PCC=n
CONFIG_CLK_BCM2835=n
CONFIG_PINCTRL_SM8250_LPASS_LPI=n
CONFIG_DRM_MESON_DW_MIPI_DSI=n
CONFIG_VETH=n
CONFIG_NET_CLS_BASIC=n
CONFIG_PINCTRL_PFC_R8A77980=n
CONFIG_PINCTRL_SKY1=n
CONFIG_CPU_IDLE=n
CONFIG_COMMON_CLK_MT8167=n
CONFIG_COMMON_CLK_VC5=n
CONFIG_KERNFS=n
CONFIG_ASSOCIATIVE_ARRAY=n
CONFIG_LZ4_DECOMPRESS=n
CONFIG_DRM_TTM=n
CONFIG_EFI_EARLYCON=n
CONFIG_SND_SOC_XILINX_AUDIO_FORMATTER=n
CONFIG_HAVE_VIRT_CPU_ACCOUNTING_GEN=n
CONFIG_SND_SOC_FSL_ESAI=n
CONFIG_DWMAC_STM32=n
CONFIG_EXTCON_PTN5150=n
CONFIG_REGULATOR_RAA215300=n
CONFIG_THERMAL_DEFAULT_GOV_STEP_WISE=n
CONFIG_MISC_RP1=n
CONFIG_BCM2711_THERMAL=n
CONFIG_ARCH_ZYNQMP=n
CONFIG_MTD_MAP_BANK_WIDTH_2=n
CONFIG_SND_SOC_WM8960=n
CONFIG_ARM64_ERRATUM_832075=n
CONFIG_USB_ARMLINUX=n
CONFIG_GCC_SUPPORTS_DYNAMIC_FTRACE_WITH_ARGS=n
CONFIG_HW_RANDOM_HISI_TRNG=n
CONFIG_IOMMU_DMA=n
CONFIG_CRYPTO_DEV_FSL_CAAM_JR=n
CONFIG_SND_DYNAMIC_MINORS=n
CONFIG_EXT4_USE_FOR_EXT2=n
CONFIG_CAN_MCP251XFD=n
CONFIG_PHY_FSL_SAMSUNG_HDMI_PHY=n
CONFIG_PRINTK_TIME=n
CONFIG_CRYPTO_GENIV=n
CONFIG_CRYPTO_DEV_HISI_ZIP=n
CONFIG_QCOM_SPMI_VADC=n
CONFIG_SND_SOC_TLV320AIC32X4=n
CONFIG_NET_DSA_TAG_OCELOT_8021Q=n
CONFIG_CAN_RCAR_CANFD=n
CONFIG_PCI_HOST_COMMON=n
CONFIG_HNS3_HCLGE=n
CONFIG_MT7921E=n
CONFIG_SND_SOC_DA7219=n
CONFIG_PHY_TI_GMII_SEL=n
CONFIG_GPIO_MACSMC=n
CONFIG_MTK_REGULATOR_COUPLER=n
CONFIG_MTD_OF_PARTS=n
CONFIG_OF_RESOLVE=n
CONFIG_BT_QCOMSMD=n
CONFIG_MSM_GCC_8998=n
CONFIG_MMC_SDHCI_OF_DWCMSHC=n
CONFIG_V4L2_VP9=n
CONFIG_SND_SOC_TEGRA186_DSPK=n
CONFIG_HAVE_ALIGNED_STRUCT_PAGE=n
CONFIG_VIDEO_E5010_JPEG_ENC=n
CONFIG_PINCTRL_PFC_R8A774C0=n
CONFIG_I2C_IMX_LPI2C=n
CONFIG_SPI_MTK_NOR=n
CONFIG_MFD_SEC_ACPM=n
CONFIG_ARCH_HAS_RELR=n
CONFIG_QRTR_MHI=n
CONFIG_IGBVF=n
CONFIG_SND_MESON_AXG_TDM_FORMATTER=n
CONFIG_SCHED_CACHE=n
CONFIG_ARCH_R9A09G011=n
CONFIG_SPI_MESON_SPICC=n
CONFIG_RTC_DRV_S5M=n
CONFIG_BT_HCIBTUSB=n
CONFIG_LEDS_BCM63138=n
CONFIG_KSM=n
CONFIG_PHY_MTK_PCIE=n
CONFIG_DVB_CORE=n
CONFIG_TI_PRUSS=n
CONFIG_PHY_QCOM_USB_SNPS_FEMTO_V2=n
CONFIG_SPI_SUN6I=n
CONFIG_DRM_NOUVEAU_SIL164=n
CONFIG_VIDEO_MEDIATEK_VCODEC_SCP=n
CONFIG_I2C_UNIPHIER_F=n
CONFIG_COMPAT_BINFMT_ELF=n
CONFIG_CLK_R9A09G011=n
CONFIG_SM_VIDEOCC_MILOS=n
CONFIG_ADVISE_SYSCALLS=n
CONFIG_PWC_RZV2M=n
CONFIG_EINT_MTK=n
CONFIG_SND_SOC_ES8328=n
CONFIG_ARCH_SUPPORTS_INT128=n
CONFIG_MMC_DW=n
CONFIG_SND_SOC_LPASS_WSA_MACRO=n
CONFIG_HOTPLUG_PCI_ACPI=n
CONFIG_MFD_TI_AM335X_TSCADC=n
CONFIG_SND_SOC_WCD938X_SDW=n
CONFIG_SYSC_R8A779G0=n
CONFIG_IRQ_TIME_ACCOUNTING=n
CONFIG_PINCTRL_SM8250=n
CONFIG_SND_SOC_MSIOF=n
CONFIG_CLKSRC_MMIO=n
CONFIG_USB_F_MASS_STORAGE=n
CONFIG_NETFILTER=n
CONFIG_UBIFS_FS_SECURITY=n
CONFIG_SND_SOC_TEGRA210_AHUB=n
CONFIG_BCM_SR_THERMAL=n
CONFIG_GENERIC_IRQ_IPI_MUX=n
CONFIG_CAN_GW=n
CONFIG_NET_VENDOR_MARVELL=n
CONFIG_TASKS_RCU=n
CONFIG_XEN_BACKEND=n
CONFIG_ARM_SMMU_V3_PMU=n
CONFIG_XILINX_PR_DECOUPLER=n
CONFIG_NET_DSA_TAG_BRCM=n
CONFIG_DRM_KOMEDA=n
CONFIG_SECURITY=n
CONFIG_HAVE_MOD_ARCH_SPECIFIC=n
CONFIG_MFD_SEC_CORE=n
CONFIG_PWM_ROCKCHIP=n
CONFIG_NET_VENDOR_XILINX=n
CONFIG_SND_SOC_TI_EDMA_PCM=n
CONFIG_VFIO_PCI_CORE=n
CONFIG_EXYNOS_THERMAL=n
CONFIG_PM_GENERIC_DOMAINS=n
CONFIG_SND_SOC_LPASS_CDC_DMA=n
CONFIG_USB_EHCI_BRCMSTB=n
CONFIG_DRM_DISPLAY_HDMI_CEC_NOTIFIER_HELPER=n
CONFIG_SPARSEMEM_VMEMMAP=n
CONFIG_I2C_SMBUS=n
CONFIG_ARM_SP805_WATCHDOG=n
CONFIG_HISILICON_ERRATUM_162100801=n
CONFIG_PINCTRL_PFC_R8A77961=n
CONFIG_SM_GPUCC_8250=n
CONFIG_NET_CRC32C=n
CONFIG_V4L_MEM2MEM_DRIVERS=n
CONFIG_ARCH_ENABLE_MEMORY_HOTPLUG=n
CONFIG_MFD_SPMI_PMIC=n
CONFIG_TI_K3_UDMA=n
CONFIG_INTERCONNECT_QCOM_SM8150=n
CONFIG_WLAN_VENDOR_QUANTENNA=n
CONFIG_FUTEX_MPOL=n
CONFIG_REGULATOR_MAX8973=n
CONFIG_SND_SOC_IMX_SGTL5000=n
CONFIG_PINCTRL_MVEBU=n
CONFIG_AMPERE_ERRATUM_AC03_CPU_38=n
CONFIG_IPQ_GCC_5210=n
CONFIG_BLK_DEV_BSG_COMMON=n
CONFIG_INTERCONNECT_QCOM_SA8775P=n
CONFIG_ATH10K=n
CONFIG_NET_VENDOR_INTEL=n
CONFIG_EFI_PARAMS_FROM_FDT=n
CONFIG_LEDS_QCOM_FLASH=n
CONFIG_ARCH_MVEBU=n
