CONFIG_X86_DISABLED_FEATURE_LASS=n
CONFIG_X86_BUS_LOCK_DETECT=n
CONFIG_NET_VENDOR_BROADCOM=n
CONFIG_LEGACY_DIRECT_IO=n
CONFIG_SUNRPC_BACKCHANNEL=n
CONFIG_HAVE_DMA_CONTIGUOUS=n
CONFIG_DRM_I915_COMPRESS_ERROR=n
CONFIG_CRC16=n
CONFIG_KVFREE_RCU_BATCHED=n
CONFIG_ARCH_HAVE_NMI_SAFE_CMPXCHG=n
CONFIG_FUTEX_PI=n
CONFIG_SERIAL_8250_PERICOM=n
CONFIG_FAIR_GROUP_SCHED=n
CONFIG_NET_VENDOR_ALACRITECH=n
CONFIG_ARCH_MEMORY_ORDER_TSO=n
CONFIG_CGROUP_PERF=n
CONFIG_BINFMT_MISC=n
CONFIG_X86_INTEL_TSX_MODE_AUTO=n
CONFIG_DRM_I915_USERPTR=n
CONFIG_ARCH_SUPPORTS_KEXEC_JUMP=n
CONFIG_DECOMPRESS_BZIP2=n
CONFIG_X86_CMOV=n
CONFIG_QUOTA=n
CONFIG_ARCH_CPUIDLE_HALTPOLL=n
CONFIG_CC_HAS_KASAN_GENERIC=n
CONFIG_DMA_ENGINE=n
CONFIG_SND_DMA_SGBUF=n
CONFIG_IO_URING_BPF=n
CONFIG_DECOMPRESS_ZSTD=n
CONFIG_BLK_DEV_BSG=n
CONFIG_CRYPTO_SIG=n
CONFIG_ARCH_HAS_PARANOID_L1D_FLUSH=n
CONFIG_RELOCATABLE=n
CONFIG_NET_VENDOR_TEHUTI=n
CONFIG_MOUSE_PS2_LIFEBOOK=n
CONFIG_FS_IOMAP=n
CONFIG_POWER_SUPPLY=n
CONFIG_NET_VENDOR_WANGXUN=n
CONFIG_RD_LZMA=n
CONFIG_CC_HAS_AUTO_VAR_INIT_PATTERN=n
CONFIG_CLKSRC_I8253=n
CONFIG_LOCKDEP_SUPPORT=n
CONFIG_SND_X86=n
CONFIG_X86_PKG_TEMP_THERMAL=n
CONFIG_MSDOS_PARTITION=n
CONFIG_FS_MBCACHE=n
CONFIG_PROC_SYSCTL=n
CONFIG_PNFS_FLEXFILE_LAYOUT=n
CONFIG_HW_RANDOM_INTEL=n
CONFIG_NET_CORE=n
CONFIG_LTO_NONE=n
CONFIG_X86_DISABLED_FEATURE_PCID=n
CONFIG_NET_VENDOR_SEEQ=n
CONFIG_IRQ_FORCED_THREADING=n
CONFIG_DEBUG_ENTRY=n
CONFIG_YENTA=n
CONFIG_HIBERNATION_COMP_LZO=n
CONFIG_MITIGATION_TAA=n
CONFIG_CRYPTO_ECHAINIV=n
CONFIG_BINARY_PRINTF=n
CONFIG_XFRM=n
CONFIG_NETFILTER_XT_TARGET_NFLOG=n
CONFIG_X86_IO_APIC=n
CONFIG_INOTIFY_USER=n
CONFIG_CPU_SUP_VORTEX_32=n
CONFIG_MQ_IOSCHED_DEADLINE=n
CONFIG_USB_HID=n
CONFIG_HAVE_HW_BREAKPOINT=n
CONFIG_X86_ACPI_CPUFREQ=n
CONFIG_HAVE_HARDLOCKUP_DETECTOR_PERF=n
CONFIG_SERIAL_8250_PCILIB=n
CONFIG_SELECT_MEMORY_MODEL=n
CONFIG_ROOT_NFS=n
CONFIG_NET_VENDOR_ALIBABA=n
CONFIG_EARLY_PRINTK=n
CONFIG_SIGNALFD=n
CONFIG_NVMEM_SYSFS=n
CONFIG_KPROBE_EVENTS=n
CONFIG_HAS_SECURITY_AUDIT=n
CONFIG_CRYPTO_LIB_SHA256=n
CONFIG_X86_PLATFORM_DEVICES=n
CONFIG_LDISC_AUTOLOAD=n
CONFIG_SCREEN_INFO=n
CONFIG_X86_REROUTE_FOR_BROKEN_BOOT_IRQS=n
CONFIG_CLONE_BACKWARDS=n
CONFIG_ACPI_PLATFORM_PROFILE=n
CONFIG_MOUSE_PS2_SYNAPTICS_SMBUS=n
CONFIG_SLUB_DEBUG=n
CONFIG_ACPI_TABLE_UPGRADE=n
CONFIG_GENERIC_IRQ_PROBE=n
CONFIG_PCIEPORTBUS=n
CONFIG_MD_BITMAP=n
CONFIG_PCI=n
CONFIG_FTRACE=n
CONFIG_GENERIC_BUG=n
CONFIG_NET_VENDOR_AMD=n
CONFIG_CORE_DUMP_DEFAULT_ELF_HEADERS=n
CONFIG_ZSTD_COMMON=n
CONFIG_CONNECTOR=n
CONFIG_ARCH_USE_QUEUED_SPINLOCKS=n
CONFIG_UCS2_STRING=n
CONFIG_EVENTFD=n
CONFIG_NET_9P=n
CONFIG_BLK_DEV_LOOP=n
CONFIG_AF_UNIX_OOB=n
CONFIG_BINFMT_ELF=n
CONFIG_CLKEVT_I8253=n
CONFIG_ACPI_AC=n
CONFIG_NET_SELFTESTS=n
CONFIG_NF_DEFRAG_IPV6=n
CONFIG_USB_EHCI_TT_NEWSCHED=n
CONFIG_HAVE_FUNCTION_ARG_ACCESS_API=n
CONFIG_CPU_RMAP=n
CONFIG_RPCSEC_GSS_KRB5=n
CONFIG_ARCH_CORRECT_STACKTRACE_ON_KRETPROBE=n
CONFIG_ARCH_HAS_FAST_MULTIPLIER=n
CONFIG_NF_CONNTRACK_IRC=n
CONFIG_NETDEVICES=n
CONFIG_SERIAL_8250_MID=n
CONFIG_NET_FLOW_LIMIT=n
CONFIG_BLK_DEV_IO_TRACE=n
CONFIG_NETFILTER_INGRESS=n
CONFIG_ARCH_DEFAULT_CRASH_DUMP=n
CONFIG_TTY=n
CONFIG_XZ_DEC_RISCV=n
CONFIG_IOMMU_DMA=n
CONFIG_PAGE_MAPCOUNT=n
CONFIG_FAT_FS=n
CONFIG_LD_CAN_USE_KEEP_IN_OVERLAY=n
CONFIG_SND_USB=n
CONFIG_NET_VENDOR_MICREL=n
CONFIG_CGROUP_SCHED=n
CONFIG_UPROBE_EVENTS=n
CONFIG_NET_VENDOR_AQUANTIA=n
CONFIG_HAVE_DEBUG_STACKOVERFLOW=n
CONFIG_HAVE_FUNCTION_GRAPH_TRACER=n
CONFIG_USB_SUPPORT=n
CONFIG_MEMFD_CREATE=n
CONFIG_ARCH_SUPPORTS_SCHED_SMT=n
CONFIG_SECURITY_NETWORK=n
CONFIG_MODULES_TREE_LOOKUP=n
CONFIG_CPU_SUP_AMD=n
CONFIG_CC_HAS_ASM_INLINE=n
CONFIG_PREEMPT_LAZY=n
CONFIG_NET_VENDOR_MARVELL=n
CONFIG_SND_JACK=n
CONFIG_HAVE_MOVE_PUD=n
CONFIG_ACPI_EC=n
CONFIG_SND_SEQ_DEVICE=n
CONFIG_NETFILTER_XT_MARK=n
CONFIG_AGP_AMD64=n
CONFIG_DRM_BUDDY=n
CONFIG_GCC_NO_STRINGOP_OVERFLOW=n
CONFIG_HAVE_BUILDTIME_MCOUNT_SORT=n
CONFIG_VIRTIO_BLK=n
CONFIG_PATA_SCH=n
CONFIG_CGROUP_FREEZER=n
CONFIG_GENERIC_CPU_AUTOPROBE=n
CONFIG_PERF_EVENTS_INTEL_CSTATE=n
CONFIG_DECOMPRESS_GZIP=n
CONFIG_LZ4_COMPRESS=n
CONFIG_LEDS_TRIGGERS=n
CONFIG_INTERVAL_TREE=n
CONFIG_HAVE_NMI=n
CONFIG_SND_HDA_HWDEP=n
CONFIG_ARCH_SELECT_MEMORY_MODEL=n
CONFIG_LD_ORPHAN_WARN=n
CONFIG_NET_CLS_CGROUP=n
CONFIG_HAVE_ARCH_TRACEHOOK=n
CONFIG_IPV6=n
CONFIG_SND_PCI=n
CONFIG_WLAN_VENDOR_TI=n
CONFIG_TMPFS_XATTR=n
CONFIG_NET_SCHED=n
CONFIG_HARDIRQS_SW_RESEND=n
CONFIG_ARCH_USE_SYM_ANNOTATIONS=n
CONFIG_XFRM_USER=n
CONFIG_SND_SEQ_DUMMY=n
CONFIG_ARCH_HAS_NON_OVERLAPPING_ADDRESS_SPACE=n
CONFIG_NETFILTER_XT_TARGET_LOG=n
CONFIG_IP_PIMSM_V2=n
CONFIG_COMPAT_32=n
CONFIG_NFS_V4=n
CONFIG_EFI_PARTITION=n
CONFIG_CRYPTO_CCM=n
CONFIG_SERIAL_CORE=n
CONFIG_SND_SEQ_HRTIMER_DEFAULT=n
CONFIG_SND_PROC_FS=n
CONFIG_IOMMU_SUPPORT=n
CONFIG_SCSI_CONSTANTS=n
CONFIG_BLOCK_LEGACY_AUTOLOAD=n
CONFIG_WLAN_VENDOR_BROADCOM=n
CONFIG_BLK_DEV_SD=n
CONFIG_NET_VENDOR_ADAPTEC=n
CONFIG_JUMP_LABEL=n
CONFIG_OID_REGISTRY=n
CONFIG_MD=n
CONFIG_ARCH_HAS_SYSCALL_WRAPPER=n
CONFIG_IP_MROUTE=n
CONFIG_CPU_SUP_ZHAOXIN=n
CONFIG_ELF_CORE=n
CONFIG_GENERIC_SYSCALL=n
CONFIG_MOUSE_PS2_SMBUS=n
CONFIG_EFI_CAPSULE_QUIRK_QUARK_CSH=n
CONFIG_QUOTACTL=n
CONFIG_PADATA=n
CONFIG_X86_DISABLED_FEATURE_ENQCMD=n
CONFIG_ARCH_HAS_ACPI_TABLE_UPGRADE=n
CONFIG_GLOB=n
CONFIG_X86_REQUIRED_FEATURE_FPU=n
CONFIG_CRYPTO_AEAD2=n
CONFIG_TASKS_RCU_GENERIC=n
CONFIG_YENTA_O2=n
CONFIG_EXCLUSIVE_SYSTEM_RAM=n
CONFIG_MAC80211_HAS_RC=n
CONFIG_CRYPTO_AEAD=n
CONFIG_SERIAL_8250=n
CONFIG_CPU_SUP_CENTAUR=n
CONFIG_MIGRATION=n
CONFIG_SCHED_MC_PRIO=n
CONFIG_XFRM_AH=n
CONFIG_PERF_EVENTS_AMD_UNCORE=n
CONFIG_CRYPTO_CTR=n
CONFIG_EFI_CUSTOM_SSDT_OVERLAYS=n
CONFIG_ACPI_REV_OVERRIDE_POSSIBLE=n
CONFIG_KALLSYMS_ALL=n
CONFIG_IPC_NS=n
CONFIG_EFI_DXE_MEM_ATTRIBUTES=n
CONFIG_RSEQ=n
CONFIG_X86_DISABLED_FEATURE_RETHUNK=n
CONFIG_MITIGATION_MDS=n
CONFIG_CGROUP_NET_PRIO=n
CONFIG_NET_INGRESS=n
CONFIG_HIGH_RES_TIMERS=n
CONFIG_BLK_CGROUP_IOPRIO=n
CONFIG_MOUSE_PS2_TRACKPOINT=n
CONFIG_KALLSYMS=n
CONFIG_GENERIC_IRQ_MATRIX_ALLOCATOR=n
CONFIG_ETHERNET=n
CONFIG_IP6_NF_IPTABLES=n
CONFIG_PAGE_SIZE_4KB=n
CONFIG_ACPI_NHLT=n
CONFIG_NET_VENDOR_SIS=n
CONFIG_CPU_ISOLATION=n
CONFIG_CRYPTO_SEQIV=n
CONFIG_CGROUP_CPUACCT=n
CONFIG_ETHTOOL_NETLINK=n
CONFIG_PCSPKR_PLATFORM=n
CONFIG_MODULE_FORCE_UNLOAD=n
CONFIG_PCI_DOMAINS=n
CONFIG_VIRTIO_PCI_LIB_LEGACY=n
CONFIG_CGROUP_MISC=n
CONFIG_DRM_KMS_HELPER=n
CONFIG_DRM_BRIDGE=n
CONFIG_HOTPLUG_SPLIT_STARTUP=n
CONFIG_NET_VENDOR_SYNOPSYS=n
CONFIG_ARCH_WANTS_DYNAMIC_TASK_STRUCT=n
CONFIG_MMU=n
CONFIG_PREVENT_FIRMWARE_BUILD=n
CONFIG_PROC_PAGE_MONITOR=n
CONFIG_HAVE_ALIGNED_STRUCT_PAGE=n
CONFIG_FS_POSIX_ACL=n
CONFIG_ASSOCIATIVE_ARRAY=n
CONFIG_SND_CTL_FAST_LOOKUP=n
CONFIG_HAVE_ARCH_MMAP_RND_BITS=n
CONFIG_HAVE_ARCH_WITHIN_STACK_FRAMES=n
CONFIG_DMIID=n
CONFIG_PROC_FS=n
CONFIG_X86_DISABLED_FEATURE_UNRET=n
CONFIG_MITIGATION_SPECTRE_V2=n
CONFIG_PROBE_EVENTS=n
CONFIG_PNFS_BLOCK=n
CONFIG_INET_TUNNEL=n
CONFIG_CRYPTO_GCM=n
CONFIG_NET_VENDOR_DLINK=n
CONFIG_RTC_INTF_SYSFS=n
CONFIG_KEYBOARD_ATKBD=n
CONFIG_RANDOMIZE_KSTACK_OFFSET=n
CONFIG_X86_DISABLED_FEATURE_LAM=n
CONFIG_MEMBARRIER=n
CONFIG_MOUSE_PS2_LOGIPS2PP=n
CONFIG_BLK_DEV_DM_BUILTIN=n
CONFIG_ARCH_SUPPORTS_DEBUG_PAGEALLOC=n
CONFIG_RTC_I2C_AND_SPI=n
CONFIG_CPU_MITIGATIONS=n
CONFIG_PM_SLEEP=n
CONFIG_MACINTOSH_DRIVERS=n
CONFIG_CC_HAS_RETURN_THUNK=n
CONFIG_HAVE_ARCH_JUMP_LABEL_RELATIVE=n
CONFIG_DMA_VIRTUAL_CHANNELS=n
CONFIG_AUDIT_GENERIC=n
CONFIG_HAVE_KERNEL_BZIP2=n
CONFIG_DRM_DISPLAY_HDMI_HELPER=n
CONFIG_X86_DISABLED_FEATURE_SYSCALL32=n
CONFIG_JBD2=n
CONFIG_SERIAL_8250_PNP=n
CONFIG_DEVPORT=n
CONFIG_KPROBES=n
CONFIG_ACPI_THERMAL=n
CONFIG_VIRTIO_PCI_LEGACY=n
