CONFIG_SC_VIDEOCC_7280=n
CONFIG_DRM_PANEL_RAYDIUM_RM692E5=n
CONFIG_PHY_HISI_INNO_USB2=n
CONFIG_PHY_EXYNOS_DP_VIDEO=n
CONFIG_SND_HDA_CODEC_HDMI_TEGRA=n
CONFIG_CRYPTO_XTS=n
CONFIG_MST_IRQ=n
CONFIG_MPL3115=n
CONFIG_RZG3S_THERMAL=n
CONFIG_VGA_ARB=n
CONFIG_INTERCONNECT_QCOM=n
CONFIG_GPIO_XGENE=n
CONFIG_PINCTRL_EXYNOS_ARM64=n
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_ARGS=n
CONFIG_THERMAL_OF=n
CONFIG_PINCTRL_MTK_MOORE=n
CONFIG_OLD_SIGSUSPEND3=n
CONFIG_SND_SOC_QDSP6_PRM_LPASS_CLOCKS=n
CONFIG_MDIO_BUS_MUX=n
CONFIG_GPIO_ZYNQMP_MODEPIN=n
CONFIG_INPUT_KEYBOARD=n
CONFIG_HSR=n
CONFIG_CONTIG_ALLOC=n
CONFIG_ARCH_SUNXI=n
CONFIG_MOUSE_PS2_SYNAPTICS_SMBUS=n
CONFIG_DRM_SII902X=n
CONFIG_LS_SCFG_MSI=n
CONFIG_ARCH_R9A07G054=n
CONFIG_MOUSE_ELAN_I2C_I2C=n
CONFIG_CLK_IMX8MN=n
CONFIG_SND_SOC_TI_SDMA_PCM=n
CONFIG_NET_XGENE=n
CONFIG_DRM_DISPLAY_HDMI_CEC_NOTIFIER_HELPER=n
CONFIG_LEDS_PCA9532=n
CONFIG_HAVE_CMPXCHG_DOUBLE=n
CONFIG_NET_VENDOR_MICROSEMI=n
CONFIG_COMPACTION=n
CONFIG_CLK_R9A08G045=n
CONFIG_COMMON_CLK_S4_PLL=n
CONFIG_SND_SOC_QDSP6_AFE_DAI=n
CONFIG_SND_SOC_TEGRA=n
CONFIG_CHROMEOS_OF_HW_PROBER=n
CONFIG_MFD_STM32_LPTIMER=n
CONFIG_COMMON_CLK_MEDIATEK=n
CONFIG_IMX_INTMUX=n
CONFIG_MAC80211_RC_DEFAULT_MINSTREL=n
CONFIG_DRM_TIDSS=n
CONFIG_PWM_TIEHRPWM=n
CONFIG_NET_VENDOR_CAVIUM=n
CONFIG_WLAN_VENDOR_ATH=n
CONFIG_ACPI_REDUCED_HARDWARE_ONLY=n
CONFIG_PINCTRL_SUNXI=n
CONFIG_XXHASH=n
CONFIG_SCSI_UFS_CRYPTO=n
CONFIG_IO_WQ=n
CONFIG_LOCK_MM_AND_FIND_VMA=n
CONFIG_DRM_MSM_DSI_28NM_PHY=n
CONFIG_SG_SPLIT=n
CONFIG_VIDEO_HANTRO_SUNXI=n
CONFIG_PINCTRL_MSM=n
CONFIG_ALTERA_FREEZE_BRIDGE=n
CONFIG_USB_RZV2M_USB3DRD=n
CONFIG_BRCMFMAC_SDIO=n
CONFIG_GENERIC_PINMUX_FUNCTIONS=n
CONFIG_TI_SYSC=n
CONFIG_CLK_ACTIONS=n
CONFIG_PINCTRL_PFC_R8A77961=n
CONFIG_GPIO_MPC8XXX=n
CONFIG_ARM64_WORKAROUND_DISABLE_CNP=n
CONFIG_MFD_WCD934X=n
CONFIG_CRYPTO_HASH_INFO=n
CONFIG_DWMAC_ROCKCHIP=n
CONFIG_WLAN_VENDOR_MICROCHIP=n
CONFIG_CLK_X1P42100_VIDEOCC=n
CONFIG_CPU_FREQ_THERMAL=n
CONFIG_CLK_GFM_LPASS_SM8250=n
CONFIG_V4L2_ASYNC=n
CONFIG_DRM_SUN4I=n
CONFIG_HAS_IOPORT_MAP=n
CONFIG_SND_MESON_AXG_SPDIFIN=n
CONFIG_NFS_V4_0=n
CONFIG_ARCH_HAS_DEBUG_VIRTUAL=n
CONFIG_QCOM_MDT_LOADER=n
CONFIG_SUN6I_MSGBOX=n
CONFIG_USB_CHIPIDEA_MSM=n
CONFIG_HAVE_ARCH_VMAP_STACK=n
CONFIG_COMMON_CLK_MT8173_MMSYS=n
CONFIG_MMC_UNIPHIER=n
CONFIG_DP83822_PHY=n
CONFIG_SM_GPUCC_MILOS=n
CONFIG_NET=n
CONFIG_HAVE_PERF_EVENTS=n
CONFIG_DRM_STM_LVDS=n
CONFIG_FSL_GUTS=n
CONFIG_MSM_MMCC_8996=n
CONFIG_FEC=n
CONFIG_PHY_SAMSUNG_USB2=n
CONFIG_COMMON_CLK_MT8195_APUSYS=n
CONFIG_PINCTRL_VISCONTI=n
CONFIG_NVMEM_MTK_EFUSE=n
CONFIG_COMMON_CLK_MT8186_VENCSYS=n
CONFIG_ARM64_ERRATUM_3194386=n
CONFIG_BT_HCIBTUSB_MTK=n
CONFIG_SERIAL_8250_OMAP_TTYO_FIXUP=n
CONFIG_FSL_DPAA2_PTP_CLOCK=n
CONFIG_SPRD_UMS512_CLK=n
CONFIG_PWRSEQ_SIMPLE=n
CONFIG_ARCH_THUNDER=n
CONFIG_SQUASHFS_COMPILE_DECOMP_SINGLE=n
CONFIG_CPU_FREQ_GOV_USERSPACE=n
CONFIG_DECOMPRESS_XZ=n
CONFIG_PHY_MESON8B_USB2=n
CONFIG_ARM64_ERRATUM_1530923=n
CONFIG_ARCH_R8A774C0=n
CONFIG_ARCH_HAS_LAZY_MMU_MODE=n
CONFIG_PTP_1588_CLOCK=n
CONFIG_ARM_GIC_PM=n
CONFIG_NET_HANDSHAKE=n
CONFIG_COMMON_CLK_MT8192_MMSYS=n
CONFIG_MTD_NAND_BRCMNAND_IPROC=n
CONFIG_LOCKDEP_SUPPORT=n
CONFIG_MTD_SPI_NOR_SWP_DISABLE_ON_VOLATILE=n
CONFIG_SM_TCSRCC_8650=n
CONFIG_PCI_DOMAINS=n
CONFIG_IWLWIFI=n
CONFIG_SM_DISPCC_8750=n
CONFIG_COMMON_CLK_MT8365_CAM=n
CONFIG_SND_SOC_TEGRA210_OPE=n
CONFIG_VDSO_GETRANDOM=n
CONFIG_ATA_ACPI=n
CONFIG_IPQ_APSS_6018=n
CONFIG_PHY_QCOM_QMP_COMBO=n
CONFIG_SERIAL_SH_SCI=n
CONFIG_PNFS_BLOCK=n
CONFIG_XILINX_WATCHDOG=n
CONFIG_GPIO_AGGREGATOR=n
CONFIG_PCIE_QCOM_COMMON=n
CONFIG_SND_SOC_MSM8916_WCD_DIGITAL=n
CONFIG_SATA_PMP=n
CONFIG_NVMEM_RMEM=n
CONFIG_RTC_DRV_FSL_FTM_ALARM=n
CONFIG_RZG3E_THERMAL=n
CONFIG_SQUASHFS_DECOMP_SINGLE=n
CONFIG_NF_LOG_IPV6=n
CONFIG_NET_DEVMEM=n
CONFIG_DRM_DW_HDMI_AHB_AUDIO=n
CONFIG_MMC_SDHI=n
CONFIG_MFD_SL28CPLD=n
CONFIG_KEYBOARD_ADC=n
CONFIG_MTK_UART_APDMA=n
CONFIG_SCHED_SMT=n
CONFIG_NET_IP_TUNNEL=n
CONFIG_CLK_R9A09G011=n
CONFIG_SND_SOC_I2C_AND_SPI=n
CONFIG_DRM_V3D=n
CONFIG_SND_DMAENGINE_PCM=n
CONFIG_DRM_GPUVM=n
CONFIG_NET_VENDOR_INTEL=n
CONFIG_PINCTRL_MT6878=n
CONFIG_ARCH_HAS_STRICT_KERNEL_RWX=n
CONFIG_FB_SYS_IMAGEBLIT=n
CONFIG_PINCTRL_MT8192=n
CONFIG_MEMORY_FAILURE=n
CONFIG_MDIO_GPIO=n
CONFIG_ARCH_R9A07G044=n
CONFIG_MTD_NAND_ECC=n
CONFIG_HAVE_KVM_DIRTY_RING=n
CONFIG_BCM7038_WDT=n
CONFIG_NEED_SG_DMA_LENGTH=n
CONFIG_HAVE_KVM_DIRTY_RING_ACQ_REL=n
CONFIG_INTERCONNECT_QCOM_X1E80100=n
CONFIG_HNS=n
CONFIG_ARCH_SUPPORTS_KEXEC_HANDOVER=n
CONFIG_CRYPTO_SM4_GENERIC=n
CONFIG_CAN_DEV=n
CONFIG_REGMAP_SPI=n
CONFIG_MMC_SDHCI_TEGRA=n
CONFIG_SM_GPUCC_6350=n
CONFIG_CFG80211=n
CONFIG_KVM_COMMON=n
CONFIG_DRM_SUN8I_TCON_TOP=n
CONFIG_MFD_MT6397=n
CONFIG_SENSORS_RASPBERRYPI_HWMON=n
CONFIG_RTC_DRV_MT6397=n
CONFIG_ARCH_MHP_MEMMAP_ON_MEMORY_ENABLE=n
CONFIG_HTE_TEGRA194=n
CONFIG_PINCTRL_MT8365=n
CONFIG_CPU_IDLE_MULTIPLE_DRIVERS=n
CONFIG_SND_SOC_SDCA_OPTIONAL=n
CONFIG_HAVE_ARCH_TRACEHOOK=n
CONFIG_SYSC_R9A08G046=n
CONFIG_VIDEOBUF2_VMALLOC=n
CONFIG_COMMON_CLK_BD718XX=n
CONFIG_CRC64_ARCH=n
CONFIG_CLK_R8A774B1=n
CONFIG_HID_SUPPORT=n
CONFIG_PHY_MIXEL_MIPI_DPHY=n
CONFIG_DWMAC_IMX8=n
CONFIG_CLK_RENESAS=n
CONFIG_PINCTRL_SM6375=n
CONFIG_MAX9611=n
CONFIG_ARCH_R8A78000=n
CONFIG_PHY_FSL_SAMSUNG_HDMI_PHY=n
CONFIG_WATCHDOG_CORE=n
CONFIG_SND_SOC_MT8188=n
CONFIG_INET_TCP_DIAG=n
CONFIG_USER_NS=n
CONFIG_DRM_EXYNOS_MIC=n
CONFIG_SIGNALFD=n
CONFIG_XILINX_PR_DECOUPLER=n
CONFIG_DT_IDLE_GENPD=n
CONFIG_RENESAS_OSTM=n
CONFIG_PCIE_MOBIVEIL=n
CONFIG_MFD_RK8XX_SPI=n
CONFIG_SND_SOC_USB=n
CONFIG_CLK_INTEL_SOCFPGA=n
CONFIG_TYPEC_MUX_PS883X=n
CONFIG_PWM_MEDIATEK=n
CONFIG_DEVTMPFS=n
CONFIG_VCHIQ_CDEV=n
CONFIG_CUSE=n
CONFIG_CLK_R9A09G047=n
CONFIG_VIRTIO_BALLOON=n
CONFIG_NFS_V3=n
CONFIG_SND_SOC_SOF_MT8186=n
CONFIG_ACPI_APEI_MEMORY_FAILURE=n
CONFIG_MEDIA_PLATFORM_SUPPORT=n
CONFIG_SCHED_MC=n
CONFIG_HAVE_FUNCTION_ARG_ACCESS_API=n
CONFIG_INPUT_SPARSEKMAP=n
CONFIG_SND_HDA_CODEC_HDMI_SIMPLE=n
CONFIG_ALLOW_DEV_COREDUMP=n
CONFIG_CROS_EC=n
CONFIG_I2C_TEGRA=n
CONFIG_MDIO_BUS_MUX_BCM_IPROC=n
CONFIG_IRQ_MSI_LIB=n
CONFIG_USB_ULPI_BUS=n
CONFIG_CC_HAS_KASAN_GENERIC=n
CONFIG_ARM_PSCI_CPUIDLE_DOMAIN=n
CONFIG_LEDS_TRIGGER_CPU=n
CONFIG_MTK_THERMAL=n
CONFIG_VIDEO_MEDIATEK_MDP3=n
CONFIG_VIDEO_MEDIATEK_VCODEC=n
CONFIG_MFD_CROS_EC_DEV=n
CONFIG_TICK_ONESHOT=n
CONFIG_CLK_R8A77965=n
CONFIG_XEN_COMPAT_XENFS=n
CONFIG_VFIO_PCI=n
CONFIG_AMLOGIC_THERMAL=n
CONFIG_ARM64_ERRATUM_819472=n
CONFIG_NETFILTER_SKIP_EGRESS=n
CONFIG_CLK_R8A77980=n
CONFIG_USB_CONFIGFS_MASS_STORAGE=n
CONFIG_DW_APB_TIMER_OF=n
CONFIG_USB_HID=n
CONFIG_IIO_ST_SENSORS_SPI=n
CONFIG_GREYBUS=n
CONFIG_CRYPTO_LIB_SHA512=n
CONFIG_SENSORS_INA3221=n
CONFIG_WLAN_VENDOR_RALINK=n
CONFIG_DMA_BOUNCE_UNALIGNED_KMALLOC=n
CONFIG_QCOM_IRQ_COMBINER=n
CONFIG_QCOM_CLK_RPMH=n
CONFIG_INPUT_XEN_KBDDEV_FRONTEND=n
CONFIG_SND_SOC_MT6357=n
CONFIG_QCS_DISPCC_615=n
CONFIG_SERIAL_FSL_LINFLEXUART_CONSOLE=n
CONFIG_BRIDGE_VLAN_FILTERING=n
CONFIG_SCSI_HISI_SAS=n
CONFIG_DRM_MSM_DSI_10NM_PHY=n
CONFIG_PTP_1588_CLOCK_QORIQ=n
CONFIG_CROS_EC_CHARDEV=n
CONFIG_GENERIC_EARLY_IOREMAP=n
CONFIG_CROS_EC_SPI=n
CONFIG_PT_RECLAIM=n
CONFIG_MTD_MAP_BANK_WIDTH_4=n
CONFIG_SM_DISPCC_8550=n
CONFIG_DRM_RCAR_MIPI_DSI=n
CONFIG_MTK_DEVAPC=n
CONFIG_COMMON_CLK_MT8183_IMGSYS=n
CONFIG_COMMON_CLK_MT8183_CAMSYS=n
CONFIG_SUN50I_A64_CCU=n
CONFIG_SM_VIDEOCC_MILOS=n
CONFIG_PCI_ENDPOINT=n
CONFIG_FPGA_MGR_ZYNQMP_FPGA=n
CONFIG_DRM_EXEC=n
CONFIG_KEYBOARD_MTK_PMIC=n
CONFIG_USB_LAN78XX=n
CONFIG_RTC_DRV_XGENE=n
CONFIG_CRYPTO_DEV_AMLOGIC_GXL=n
CONFIG_DRM_RCAR_USE_CMM=n
CONFIG_USB_OHCI_HCD=n
CONFIG_SCHED_HRTICK=n
CONFIG_VIDEOBUF2_CORE=n
CONFIG_DEBUG_FS_ALLOW_ALL=n
CONFIG_CLK_RK3588=n
CONFIG_ARM64_ERRATUM_845719=n
CONFIG_SUSPEND=n
CONFIG_QCOM_SPMI_ADC5=n
CONFIG_BRCMSTB_DPFE=n
