CONFIG_SYSVIPC_SYSCTL=n
CONFIG_RESET_SPACEMIT_K3=n
CONFIG_PROC_SYSCTL=n
CONFIG_MMU_NOTIFIER=n
CONFIG_CFS_BANDWIDTH=n
CONFIG_ARCH_HAS_SET_MEMORY=n
CONFIG_NET_9P_VIRTIO=n
CONFIG_ETHERNET=n
CONFIG_SERIAL_OF_PLATFORM=n
CONFIG_RD_LZ4=n
CONFIG_RESET_STARFIVE_JH7110=n
CONFIG_ACPI_GENERIC_GSI=n
CONFIG_DRM_NOUVEAU_CH7006=n
CONFIG_EFI_PARTITION=n
CONFIG_NET_NS=n
CONFIG_STMMAC_PLATFORM=n
CONFIG_NETFILTER_FAMILY_BRIDGE=n
CONFIG_FS_POSIX_ACL=n
CONFIG_V4L2_FWNODE=n
CONFIG_BFQ_GROUP_IOSCHED=n
CONFIG_GENERIC_STRNCPY_FROM_USER=n
CONFIG_VIRTIO_BALLOON=n
CONFIG_USB=n
CONFIG_NVME_CORE=n
CONFIG_EFIVAR_FS=n
CONFIG_ARCH_ENABLE_MEMORY_HOTPLUG=n
CONFIG_NET_VENDOR_ARC=n
CONFIG_CAN_CALC_BITTIMING=n
CONFIG_DT_IDLE_STATES=n
CONFIG_IPC_NS=n
CONFIG_MEDIA_PLATFORM_SUPPORT=n
CONFIG_PREEMPT_NOTIFIERS=n
CONFIG_ACPI_AC=n
CONFIG_ARCH_SUPPORTS_KEXEC_FILE=n
CONFIG_RESET_CONTROLLER=n
CONFIG_DMA_SUN6I=n
CONFIG_HAVE_EBPF_JIT=n
CONFIG_HAVE_MOVE_PUD=n
CONFIG_VIRTIO_INPUT=n
CONFIG_STACKPROTECTOR_STRONG=n
CONFIG_IO_URING_ZCRX=n
CONFIG_CPU_FREQ_GOV_PERFORMANCE=n
CONFIG_I2C_DESIGNWARE_PLATFORM=n
CONFIG_ACPI_PROCESSOR_IDLE=n
CONFIG_PCIE_XILINX=n
CONFIG_RESET_STARFIVE_JH71X0=n
CONFIG_SERIAL_8250_CONSOLE=n
CONFIG_AUTOFS_FS=n
CONFIG_THERMAL=n
CONFIG_CRYPTO=n
CONFIG_INPUT_EVDEV=n
CONFIG_RESET_TENSTORRENT_ATLANTIS=n
CONFIG_ARCH_STARFIVE=n
CONFIG_DMA_BOUNCE_UNALIGNED_KMALLOC=n
CONFIG_CRYPTO_LIB_BLAKE2B=n
CONFIG_INIT_STACK_ALL_ZERO=n
CONFIG_NET_VENDOR_DAVICOM=n
CONFIG_SCSI_DMA=n
CONFIG_CRYPTO_GENIV=n
CONFIG_DRM_EXEC=n
CONFIG_SPACEMIT_CCU=n
CONFIG_HOTPLUG_CORE_SYNC_DEAD=n
CONFIG_BITREVERSE=n
CONFIG_HAVE_REGS_AND_STACK_ACCESS_API=n
CONFIG_NET_VENDOR_REALTEK=n
CONFIG_USB_EHCI_HCD=n
CONFIG_SUNRPC=n
CONFIG_DWMAC_STARFIVE=n
CONFIG_OID_REGISTRY=n
CONFIG_FUTEX=n
CONFIG_GPIO_CDEV=n
CONFIG_SUN4I_TIMER=n
CONFIG_BLK_DEV_INITRD=n
CONFIG_CLK_SOPHGO_SG2042_RPGATE=n
CONFIG_DRM_CLIENT_LIB=n
CONFIG_RISCV_ISA_ZBA=n
CONFIG_WLAN=n
CONFIG_SECURITYFS=n
CONFIG_LEGACY_TIOCSTI=n
CONFIG_REGMAP_I2C=n
CONFIG_IRQ_FORCED_THREADING=n
CONFIG_I2C_K1=n
CONFIG_ARCH_THEAD=n
CONFIG_POSIX_TIMERS=n
CONFIG_OF=n
CONFIG_CRYPTO_CTS=n
CONFIG_CPU_FREQ_GOV_ATTR_SET=n
CONFIG_RTC_DRV_SUN6I=n
CONFIG_MMIOWB=n
CONFIG_CC_NO_STRINGOP_OVERFLOW=n
CONFIG_ELF_CORE=n
CONFIG_SERIAL_8250_DWLIB=n
CONFIG_MTD_CFI_I2=n
CONFIG_CGROUP_BPF=n
CONFIG_HAVE_HARDLOCKUP_DETECTOR_BUDDY=n
CONFIG_DRM_CLIENT_SETUP=n
CONFIG_I2C_MV64XXX=n
CONFIG_IO_WQ=n
CONFIG_DRM=n
CONFIG_ARCH_USE_CMPXCHG_LOCKREF=n
CONFIG_MMP_PDMA=n
CONFIG_ARCH_CANAAN=n
CONFIG_DRM_VIRTIO_GPU_KMS=n
CONFIG_SUSPEND=n
CONFIG_TICK_ONESHOT=n
CONFIG_SERIAL_8250_PCI=n
CONFIG_ARCH_SUSPEND_POSSIBLE=n
CONFIG_MOUSE_PS2_SYNAPTICS=n
CONFIG_ARCH_DMA_DEFAULT_COHERENT=n
CONFIG_USB_OTG=n
CONFIG_MOUSE_PS2_LOGIPS2PP=n
CONFIG_FHANDLE=n
CONFIG_SLAB_MERGE_DEFAULT=n
CONFIG_HAVE_RETHOOK=n
CONFIG_DRM_PANEL_BRIDGE=n
CONFIG_ATA=n
CONFIG_ACPI_I2C_OPREGION=n
CONFIG_GENERIC_EARLY_IOREMAP=n
CONFIG_NET_VENDOR_DEC=n
CONFIG_NET_VENDOR_QUALCOMM=n
CONFIG_SUN6I_RTC_CCU=n
CONFIG_ARCH_WANT_OPTIMIZE_DAX_VMEMMAP=n
CONFIG_HAVE_ARCH_TRACEHOOK=n
CONFIG_IKCONFIG_PROC=n
CONFIG_SPACEMIT_K1_CCU=n
CONFIG_ARCH_HAS_CC_CAN_LINK=n
CONFIG_CRYPTO_LIB_SHA1=n
CONFIG_MMC_SUNXI=n
CONFIG_BINARY_PRINTF=n
CONFIG_RWSEM_SPIN_ON_OWNER=n
CONFIG_ARCH_SUPPORTS_INT128=n
CONFIG_DYNAMIC_EVENTS=n
CONFIG_PHY_SUN4I_USB=n
CONFIG_XZ_DEC_SPARC=n
CONFIG_SOFTIRQ_ON_OWN_STACK=n
CONFIG_BLK_DEV_PMEM=n
CONFIG_RISCV_DMA_NONCOHERENT=n
CONFIG_ARCH_SUPPORTS_DEBUG_PAGEALLOC=n
CONFIG_UTS_NS=n
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE_PUD=n
CONFIG_CRYPTO_USER_API=n
CONFIG_RD_LZMA=n
CONFIG_PINCTRL_SPACEMIT_K1=n
CONFIG_HAVE_KRETPROBES=n
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE=n
CONFIG_FB_SYSMEM_HELPERS_DEFERRED=n
CONFIG_USB_F_NCM=n
CONFIG_DRM_TTM_HELPER=n
CONFIG_INET_TCP_DIAG=n
CONFIG_AS_HAS_INSN=n
CONFIG_CRYPTO_MANAGER2=n
CONFIG_PROFILING=n
CONFIG_SYNC_FILE=n
CONFIG_SND_JACK_INPUT_DEV=n
CONFIG_RISCV_ISA_V=n
CONFIG_LOCKDEP_SUPPORT=n
CONFIG_CRYPTO_AEAD=n
CONFIG_GENERIC_IRQ_IPI=n
CONFIG_PCI_LABEL=n
CONFIG_HAVE_KVM_IRQCHIP=n
CONFIG_SERIAL_8250_DMA=n
CONFIG_PCI_ECAM=n
CONFIG_DRM_GPUVM=n
CONFIG_NET_VENDOR_HISILICON=n
CONFIG_MMC_SDHCI_OF_K1=n
CONFIG_STANDALONE=n
CONFIG_VGA_ARB=n
CONFIG_USB_COMMON=n
CONFIG_WATCHDOG_CORE=n
CONFIG_RISCV_ISA_ZACAS=n
CONFIG_TMPFS_XATTR=n
CONFIG_PAGE_REPORTING=n
CONFIG_ND_CLAIM=n
CONFIG_USB_EHCI_TT_NEWSCHED=n
CONFIG_RSEQ=n
CONFIG_ARCH_WANTS_THP_SWAP=n
CONFIG_NET_VENDOR_NATSEMI=n
CONFIG_DRM_DISPLAY_HELPER=n
CONFIG_NFS_V4_2_SSC_HELPER=n
CONFIG_POSIX_MQUEUE_SYSCTL=n
CONFIG_PORTABLE=n
CONFIG_ARCH_SUPPORTS_CFI=n
CONFIG_HAVE_ARCH_KGDB_QXFER_PKT=n
CONFIG_DRM_VIRTIO_GPU=n
CONFIG_ARCH_HAS_FAST_MULTIPLIER=n
CONFIG_BLK_DEV_DM=n
CONFIG_WLAN_VENDOR_PURELIFI=n
CONFIG_WLAN_VENDOR_RSI=n
CONFIG_VHOST_ENABLE_FORK_OWNER_CONTROL=n
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO=n
CONFIG_REGULATOR_GPIO=n
CONFIG_ARCH_FLATMEM_ENABLE=n
CONFIG_RISCV_IOMMU=n
CONFIG_USB_PHY=n
CONFIG_GPIO_DWAPB=n
CONFIG_HAVE_ASM_MODVERSIONS=n
CONFIG_ERRATA_SIFIVE=n
CONFIG_KCMP=n
CONFIG_KVM_GENERIC_HARDWARE_ENABLING=n
CONFIG_IP_PNP=n
CONFIG_BLK_DEBUG_FS=n
CONFIG_TICK_CPU_ACCOUNTING=n
CONFIG_EVENTFD=n
CONFIG_NETFILTER_XT_MATCH_IPVS=n
CONFIG_DMA_ENGINE=n
CONFIG_FB_SYS_IMAGEBLIT=n
CONFIG_NOP_USB_XCEIV=n
CONFIG_MTD_BLKDEVS=n
CONFIG_CLK_STARFIVE_JH71X0=n
CONFIG_NF_LOG_SYSLOG=n
CONFIG_NET_VENDOR_ATHEROS=n
CONFIG_CRYPTO_HASH2=n
CONFIG_USB_EHCI_HCD_PLATFORM=n
CONFIG_WLAN_VENDOR_MEDIATEK=n
CONFIG_PINCTRL=n
CONFIG_PINCTRL_SOPHGO_CV1800B=n
CONFIG_RATIONAL=n
CONFIG_ARCH_SUPPORTS_PAGE_TABLE_CHECK=n
CONFIG_VIRTIO_BLK=n
CONFIG_HAVE_FUNCTION_ERROR_INJECTION=n
CONFIG_RESET_SPACEMIT_COMMON=n
CONFIG_HAVE_KVM_READONLY_MEM=n
CONFIG_VIRTIO_PCI_LIB=n
CONFIG_CRYPTO_ECHAINIV=n
CONFIG_HOTPLUG_CPU=n
CONFIG_NLS_ISO8859_1=n
CONFIG_INET_TUNNEL=n
CONFIG_CAN_BCM=n
CONFIG_ARCH_HAS_DEBUG_VM_PGTABLE=n
CONFIG_RTC_HCTOSYS=n
CONFIG_GRO_CELLS=n
CONFIG_RISCV_INTC=n
CONFIG_CC_HAS_NO_PROFILE_FN_ATTR=n
CONFIG_MEMBARRIER=n
CONFIG_ARCH_HAVE_NMI_SAFE_CMPXCHG=n
CONFIG_DMIID=n
CONFIG_PNFS_BLOCK=n
CONFIG_MTD_SPI_NOR_SWP_DISABLE_ON_VOLATILE=n
CONFIG_SPACEMIT_K3_CCU=n
CONFIG_UCS2_STRING=n
CONFIG_BLK_DEV_NVME=n
CONFIG_RISCV_ISA_VENDOR_EXT_SIFIVE=n
CONFIG_DM_BUFIO=n
CONFIG_WIRELESS=n
CONFIG_SND_TIMER=n
CONFIG_DEVFREQ_THERMAL=n
CONFIG_DEVMEM=n
CONFIG_LOCK_SPIN_ON_OWNER=n
CONFIG_VETH=n
CONFIG_FAILOVER=n
CONFIG_VIRTIO_CONSOLE=n
CONFIG_MTD_MAP_BANK_WIDTH_4=n
CONFIG_RCU_TRACE=n
CONFIG_SND_SPI=n
CONFIG_MODULE_UNLOAD=n
CONFIG_NETFILTER_BPF_LINK=n
CONFIG_PINCTRL_SUN20I_D1=n
CONFIG_IP_NF_IPTABLES=n
CONFIG_ARCH_HAS_SYNC_CORE_BEFORE_USERMODE=n
CONFIG_SERIAL_8250_16550A_VARIANTS=n
CONFIG_BLK_DEV_THROTTLING=n
CONFIG_INPUT_KEYBOARD=n
CONFIG_CAN=n
CONFIG_MOUSE_PS2_SMBUS=n
CONFIG_BLK_DEV_BSG_COMMON=n
CONFIG_PM_GENERIC_DOMAINS_OF=n
CONFIG_IP_MULTICAST=n
CONFIG_RISCV_ISA_SVPBMT=n
CONFIG_IPV6=n
CONFIG_RPMSG_VIRTIO=n
CONFIG_CPU_FREQ_GOV_COMMON=n
CONFIG_VIRT_XFER_TO_GUEST_WORK=n
CONFIG_NET_VENDOR_NI=n
CONFIG_CRYPTO_SIG=n
CONFIG_MCHP_CLK_MPFS=n
CONFIG_HAVE_ARCH_JUMP_LABEL_RELATIVE=n
CONFIG_SYSVIPC_COMPAT=n
CONFIG_GENERIC_CALIBRATE_DELAY=n
CONFIG_SECURITY_SELINUX=n
CONFIG_IP_VS_RR=n
CONFIG_PNFS_FILE_LAYOUT=n
CONFIG_RISCV_PROBE_VECTOR_UNALIGNED_ACCESS=n
CONFIG_PINCTRL_STARFIVE_JH7100=n
CONFIG_NET_VENDOR_RENESAS=n
CONFIG_AS_IS_GNU=n
CONFIG_EXT4_FS_SECURITY=n
CONFIG_ARCH_VIRT=n
CONFIG_PGTABLE_HAS_HUGE_LEAVES=n
CONFIG_ARCH_SUPPORTS_LTO_CLANG=n
CONFIG_SUNRPC_GSS=n
CONFIG_DECOMPRESS_LZO=n
CONFIG_DMA_VIRTUAL_CHANNELS=n
CONFIG_POWER_RESET_SYSCON_POWEROFF=n
CONFIG_DMA_ACPI=n
CONFIG_ACPI_THERMAL=n
CONFIG_NET_RX_BUSY_POLL=n
CONFIG_SUN50I_IOMMU=n
CONFIG_SCSI_COMMON=n
CONFIG_SIGNALFD=n
CONFIG_EPROBE_EVENTS=n
