CONFIG_ATA_ACPI=n
CONFIG_INITRAMFS_PRESERVE_MTIME=n
CONFIG_PINCTRL_SOPHGO_CV18XX_OPS=n
CONFIG_KEYBOARD_GPIO=n
CONFIG_PERF_EVENTS=n
CONFIG_IRQ_DOMAIN=n
CONFIG_CONTEXT_TRACKING=n
CONFIG_PINCTRL_SOPHGO_SG2002=n
CONFIG_SECURITY_NETWORK=n
CONFIG_PNP=n
CONFIG_USB_OHCI_HCD_PCI=n
CONFIG_COMMON_CLK_EIC7700=n
CONFIG_NETFILTER_BPF_LINK=n
CONFIG_LEGACY_PTYS=n
CONFIG_SYMBOLIC_ERRNAME=n
CONFIG_CPU_FREQ_DEFAULT_GOV_PERFORMANCE=n
CONFIG_RTC_HCTOSYS=n
CONFIG_NET_VENDOR_SOLARFLARE=n
CONFIG_CC_NO_ARRAY_BOUNDS=n
CONFIG_HAVE_IOREMAP_PROT=n
CONFIG_ND_CLAIM=n
CONFIG_DRM_SUN8I_TCON_TOP=n
CONFIG_BLK_DEBUG_FS=n
CONFIG_SYSCTL_ARCH_UNALIGN_ALLOW=n
CONFIG_VT_CONSOLE=n
CONFIG_AIO=n
CONFIG_SUN20I_D1_CCU=n
CONFIG_NVMEM_SUNXI_SID=n
CONFIG_INTEGRITY=n
CONFIG_PCIE_FU740=n
CONFIG_ARCH_HAS_DEBUG_VM_PGTABLE=n
CONFIG_AUDIT_GENERIC=n
CONFIG_GCC_NO_STRINGOP_OVERFLOW=n
CONFIG_FAILOVER=n
CONFIG_VGA_ARB=n
CONFIG_FUTEX=n
CONFIG_MMU_GATHER_TABLE_FREE=n
CONFIG_ARCH_HAS_SYNC_CORE_BEFORE_USERMODE=n
CONFIG_POWER_RESET=n
CONFIG_NVME_CORE=n
CONFIG_XFRM_ALGO=n
CONFIG_GENERIC_PENDING_IRQ=n
CONFIG_USB_EHCI_HCD_PLATFORM=n
CONFIG_USB_OHCI_HCD_PLATFORM=n
CONFIG_LINEAR_RANGES=n
CONFIG_NF_LOG_IPV4=n
CONFIG_RD_XZ=n
CONFIG_USB_OTG=n
CONFIG_ARCH_SUPPORTS_CFI=n
CONFIG_AUTOFS_FS=n
CONFIG_SUN20I_D1_R_CCU=n
CONFIG_RTC_DRV_GOLDFISH=n
CONFIG_VM_EVENT_COUNTERS=n
CONFIG_PER_VMA_LOCK=n
CONFIG_CRYPTO_SKCIPHER2=n
CONFIG_HAVE_ARCH_RANDOMIZE_KSTACK_OFFSET=n
CONFIG_PHY_STARFIVE_JH7110_USB=n
CONFIG_HAVE_ASM_MODVERSIONS=n
CONFIG_HAVE_ARCH_SOFT_DIRTY=n
CONFIG_USB_CONFIGFS_NCM=n
CONFIG_SPI_FSL_QUADSPI=n
CONFIG_HAVE_KVM_DIRTY_RING=n
CONFIG_LOCKD=n
CONFIG_RISCV_ISA_SVPBMT=n
CONFIG_RISCV_NONSTANDARD_CACHE_OPS=n
CONFIG_HAVE_KERNEL_ZSTD=n
CONFIG_ERRATA_SIFIVE_CIP_453=n
CONFIG_I2C_K1=n
CONFIG_HAVE_MOVE_PMD=n
CONFIG_SPLIT_PMD_PTLOCKS=n
CONFIG_GENERIC_ENTRY=n
CONFIG_ARCH_HAVE_NMI_SAFE_CMPXCHG=n
CONFIG_KVM_MMIO=n
CONFIG_RPMSG_NS=n
CONFIG_RESET_STARFIVE_JH7110=n
CONFIG_PT_RECLAIM=n
CONFIG_BUG=n
CONFIG_SERIAL_EARLYCON_RISCV_SBI=n
CONFIG_RPS=n
CONFIG_SWAP=n
CONFIG_CPUFREQ_DT=n
CONFIG_SPI_PL022=n
CONFIG_HIGH_RES_TIMERS=n
CONFIG_ARCH_HAS_DMA_PREP_COHERENT=n
CONFIG_SMP=n
CONFIG_TIME_NS=n
CONFIG_VETH=n
CONFIG_SECURITY=n
CONFIG_PINCTRL_ULTRARISC_DP1000=n
CONFIG_PRINTK_TIME=n
CONFIG_OF_IRQ=n
CONFIG_MFD_SPACEMIT_P1=n
CONFIG_GENERIC_PHY_MIPI_DPHY=n
CONFIG_LOCK_DEBUGGING_SUPPORT=n
CONFIG_ARCH_ULTRARISC=n
CONFIG_HAVE_CLK_PREPARE=n
CONFIG_ACPI_DEBUG=n
CONFIG_SERIAL_SIFIVE_CONSOLE=n
CONFIG_ARCH_ANDES=n
CONFIG_MTD_CFI_I2=n
CONFIG_RD_ZSTD=n
CONFIG_DRM_MIPI_DSI=n
CONFIG_SECRETMEM=n
CONFIG_TICK_CPU_ACCOUNTING=n
CONFIG_CGROUP_WRITEBACK=n
CONFIG_PCI_DOMAINS=n
CONFIG_RISCV_APLIC=n
CONFIG_GENERIC_IRQ_MULTI_HANDLER=n
CONFIG_SBITMAP=n
CONFIG_CONFIGFS_FS=n
CONFIG_HAVE_KERNEL_UNCOMPRESSED=n
CONFIG_CLK_SIFIVE_PRCI=n
CONFIG_KVFREE_RCU_BATCHED=n
CONFIG_SUN55I_PCK600=n
CONFIG_HAVE_ARCH_KSTACK_ERASE=n
CONFIG_USB_MUSB_SUNXI=n
CONFIG_WLAN_VENDOR_PURELIFI=n
CONFIG_MAILBOX=n
CONFIG_SERIAL_8250_CONSOLE=n
CONFIG_VIDEOMODE_HELPERS=n
CONFIG_ARCH_WANT_LD_ORPHAN_WARN=n
CONFIG_GENERIC_IRQ_MATRIX_ALLOCATOR=n
CONFIG_PNFS_FLEXFILE_LAYOUT=n
CONFIG_NFS_USE_KERNEL_DNS=n
CONFIG_POWER_RESET_SPACEMIT_P1=n
CONFIG_REGMAP_MMIO=n
CONFIG_NET_VENDOR_MICROSEMI=n
CONFIG_SUNRPC_GSS=n
CONFIG_COMPAT=n
CONFIG_SIFIVE_CCACHE=n
CONFIG_TOOLCHAIN_NEEDS_EXPLICIT_ZICSR_ZIFENCEI=n
CONFIG_HAVE_ARCH_BITREVERSE=n
CONFIG_NET_VENDOR_NETRONOME=n
CONFIG_GROUP_SCHED_WEIGHT=n
CONFIG_NF_CONNTRACK_FTP=n
CONFIG_VHOST_ENABLE_FORK_OWNER_CONTROL=n
CONFIG_JUMP_LABEL=n
CONFIG_THERMAL_DEFAULT_GOV_STEP_WISE=n
CONFIG_WLAN_VENDOR_RSI=n
CONFIG_ERRATA_THEAD=n
CONFIG_INPUT_EVDEV=n
CONFIG_PHY_SUN4I_USB=n
CONFIG_TASKS_TRACE_RCU=n
CONFIG_CHECKPOINT_RESTORE=n
CONFIG_FB_CFB_IMAGEBLIT=n
CONFIG_IO_URING_ZCRX=n
CONFIG_LOCK_MM_AND_FIND_VMA=n
CONFIG_BRIDGE_VLAN_FILTERING=n
CONFIG_SPI_MASTER=n
CONFIG_CFS_BANDWIDTH=n
CONFIG_SERIAL_8250_EXAR=n
CONFIG_CRYPTO_HASH_INFO=n
CONFIG_FB_SYSMEM_FOPS=n
CONFIG_XZ_DEC_ARM64=n
CONFIG_USB_CONFIGFS_ECM=n
CONFIG_IO_WQ=n
CONFIG_HAVE_FUNCTION_GRAPH_FREGS=n
CONFIG_NET_VENDOR_MICREL=n
CONFIG_ARCH_DMA_DEFAULT_COHERENT=n
CONFIG_HAVE_ARCH_KGDB=n
CONFIG_GENERIC_IRQ_SHOW_LEVEL=n
CONFIG_DRM_CLIENT_DEFAULT_FBDEV=n
CONFIG_RESET_TENSTORRENT_ATLANTIS=n
CONFIG_CGROUP_BPF=n
CONFIG_ARCH_SUPPORTS_HUGETLBFS=n
CONFIG_GPIOLIB_LEGACY=n
CONFIG_IRQ_DOMAIN_HIERARCHY=n
CONFIG_JOLIET=n
CONFIG_ROOT_NFS=n
CONFIG_PTP_1588_CLOCK_OPTIONAL=n
CONFIG_HZ_250=n
CONFIG_ARCH_WANT_FRAME_POINTERS=n
CONFIG_NF_CT_PROTO_SCTP=n
CONFIG_NET_CLS=n
CONFIG_SCSI_PROC_FS=n
CONFIG_LDISC_AUTOLOAD=n
CONFIG_HAVE_KERNEL_LZO=n
CONFIG_ARCH_ANLOGIC=n
CONFIG_PCIE_PLDA_HOST=n
CONFIG_GENERIC_EARLY_IOREMAP=n
CONFIG_ASN1=n
CONFIG_CPU_MITIGATIONS=n
CONFIG_DRM_CLIENT=n
CONFIG_SND_SOC_JH7110_PWMDAC=n
CONFIG_CONSOLE_TRANSLATIONS=n
CONFIG_DNOTIFY=n
CONFIG_USB_GADGET=n
CONFIG_XARRAY_MULTI=n
CONFIG_GENERIC_IRQ_MIGRATION=n
CONFIG_HAVE_IRQ_TIME_ACCOUNTING=n
CONFIG_SYSVIPC=n
CONFIG_AUDIT=n
CONFIG_SUNXI_CCU=n
CONFIG_PWRSEQ_SIMPLE=n
CONFIG_PREEMPT_COUNT=n
CONFIG_ACPI=n
CONFIG_HOTPLUG_CPU=n
CONFIG_CRYPTO_LIB_SHA256=n
CONFIG_PINCTRL_SOPHGO_SG2000=n
CONFIG_NET_VENDOR_ALIBABA=n
CONFIG_KVM_GENERIC_HARDWARE_ENABLING=n
CONFIG_UNION_FIND=n
CONFIG_STACKTRACE=n
CONFIG_GENERIC_CSUM=n
CONFIG_ARCH_SPACEMIT=n
CONFIG_CRYPTO=n
CONFIG_DTC=n
CONFIG_ARCH_SUSPEND_POSSIBLE=n
CONFIG_NET_VENDOR_AGERE=n
CONFIG_NET_SCH_FIFO=n
CONFIG_RD_LZO=n
CONFIG_PAGE_SIZE_LESS_THAN_64KB=n
CONFIG_DMA_DECLARE_COHERENT=n
CONFIG_HAVE_GIGANTIC_FOLIOS=n
CONFIG_USB_EHCI_PCI=n
CONFIG_FB_CORE=n
CONFIG_BLK_DEV_NVME=n
CONFIG_SERIAL_8250_PCILIB=n
CONFIG_MMU_NOTIFIER=n
CONFIG_USB_XHCI_PLATFORM=n
CONFIG_I2C_DESIGNWARE_PLATFORM=n
CONFIG_FIRMWARE_TABLE=n
CONFIG_CACHESTAT_SYSCALL=n
CONFIG_SECURITY_SELINUX_DEVELOP=n
CONFIG_NLS=n
CONFIG_RISCV_ISA_ZBC=n
CONFIG_KEYS=n
CONFIG_CRYPTO_CTS=n
CONFIG_DRM=n
CONFIG_NET_CORE=n
CONFIG_I2C_BOARDINFO=n
CONFIG_MEDIA_PLATFORM_DRIVERS=n
CONFIG_DRM_DISPLAY_HDMI_HELPER=n
CONFIG_EXECMEM=n
CONFIG_PROC_SYSCTL=n
CONFIG_ARCH_DEFAULT_CRASH_DUMP=n
CONFIG_SUNRPC=n
CONFIG_POWER_SEQUENCING=n
CONFIG_MMC_SDHCI_OF_K1=n
CONFIG_SND_SOC_SDCA_OPTIONAL=n
CONFIG_HW_RANDOM_VIRTIO=n
CONFIG_CLK_STARFIVE_JH7110_SYS=n
CONFIG_NF_DEFRAG_IPV4=n
CONFIG_OF_PMEM=n
CONFIG_HAVE_POSIX_CPU_TIMERS_TASK_WORK=n
CONFIG_CRYPTO_DEV_ALLWINNER=n
CONFIG_MACVLAN=n
CONFIG_PNFS_BLOCK=n
CONFIG_SLAB_OBJ_EXT=n
CONFIG_HOTPLUG_SPLIT_STARTUP=n
CONFIG_NET_VENDOR_AQUANTIA=n
CONFIG_NET_XGRESS=n
CONFIG_SIFIVE_PLIC=n
CONFIG_ARCH_SUPPORTS_UPROBES=n
CONFIG_ELFCORE=n
CONFIG_CRYPTO_SEQIV=n
CONFIG_ARCH_FLATMEM_ENABLE=n
CONFIG_PCI_HOST_GENERIC=n
CONFIG_MTD_GEN_PROBE=n
CONFIG_ARCH_HAS_SET_DIRECT_MAP=n
CONFIG_JBD2=n
CONFIG_USB_CONFIGFS_MASS_STORAGE=n
CONFIG_USB_CDNS_SUPPORT=n
CONFIG_NETLINK_DIAG=n
CONFIG_DRM_FBDEV_EMULATION=n
CONFIG_INET=n
CONFIG_NET_VENDOR_DEC=n
CONFIG_PM_SLEEP=n
CONFIG_PCIE_XILINX=n
CONFIG_DEBUG_INFO_NONE=n
CONFIG_MFD_AXP20X_I2C=n
CONFIG_CRYPTO_CAMELLIA=n
CONFIG_ARCH_THEAD=n
CONFIG_DYNAMIC_SIGFRAME=n
CONFIG_DRM_GEM_SHMEM_HELPER=n
CONFIG_IPVLAN=n
CONFIG_SND_DESIGNWARE_I2S=n
CONFIG_SERIAL_EARLYCON=n
CONFIG_USB_CDNS3=n
CONFIG_SUN20I_PPU=n
CONFIG_LOCKDEP_SUPPORT=n
CONFIG_PORTABLE=n
CONFIG_V4L2_ASYNC=n
CONFIG_ISO9660_FS=n
CONFIG_PCI=n
CONFIG_GPIO_SIFIVE=n
CONFIG_CRYPTO_GCM=n
CONFIG_PROBE_EVENTS=n
CONFIG_ACPI_MDIO=n
CONFIG_USB_CDNSP_PCI=n
CONFIG_BLK_DEV_SR=n
CONFIG_FRAME_POINTER=n
CONFIG_EXT4_FS_SECURITY=n
CONFIG_SUN6I_MSGBOX=n
CONFIG_BRANCH_PROFILE_NONE=n
CONFIG_DMIID=n
CONFIG_ACPI_FAN=n
CONFIG_OF_ADDRESS=n
CONFIG_HAVE_PERF_EVENTS=n
CONFIG_IP_MULTICAST=n
