CONFIG_SERIAL_ALTERA_JTAGUART_CONSOLE=y
CONFIG_CPU_SUP_CENTAUR=y
CONFIG_HAVE_PERF_EVENTS_NMI=y
CONFIG_LEDS_PCA9532=y
CONFIG_FPGA_MGR_XILINX_SELECTMAP=y
CONFIG_FXLS8962AF_I2C=y
CONFIG_SENSORS_AD7414=y
CONFIG_PINCTRL_UPBOARD=y
CONFIG_HAVE_ARCH_KSTACK_ERASE=y
CONFIG_YT2_1380=y
CONFIG_EXPORTFS=y
CONFIG_IIO_BUFFER=y
CONFIG_PINCTRL_INTEL=y
CONFIG_DMARD10=y
CONFIG_GPIO_LATCH=y
CONFIG_EFI_COCO_SECRET=y
CONFIG_SENSORS_NPCM7XX=y
CONFIG_ADXL380_I2C=y
CONFIG_GPIO_LTC4283=y
CONFIG_DYNAMIC_DEBUG_CORE=y
CONFIG_IIO_TRIGGERED_EVENT=y
CONFIG_ARCH_WANT_IRQS_OFF_ACTIVATE_MM=y
CONFIG_HAVE_IOREMAP_PROT=y
CONFIG_SOC_BUS=y
CONFIG_BT_BNEP=y
CONFIG_HAVE_FUNCTION_TRACER=y
CONFIG_FB_N411=y
CONFIG_FUNCTION_ALIGNMENT_4B=y
CONFIG_GPIO_SCH311X=y
CONFIG_DAX=y
CONFIG_CRYPTO_KRB5ENC=y
CONFIG_ARCH_HAS_PTE_SPECIAL=y
CONFIG_ACPI_EC_DEBUGFS=y
CONFIG_CRYPTO_RNG=y
CONFIG_SENSORS_LM75=y
CONFIG_XILINX_GMII2RGMII=y
CONFIG_ARCH_SUPPORTS_ACPI=y
CONFIG_MFD_CS47L92=y
CONFIG_POWER_RESET=y
CONFIG_BMI160_I2C=y
CONFIG_ACPI_BUTTON=y
CONFIG_I2C_SCMI=y
CONFIG_X86_DISABLED_FEATURE_LASS=y
CONFIG_ARCH_SUPPORTS_KMAP_LOCAL_FORCE_MAP=y
CONFIG_I2C_TAOS_EVM=y
CONFIG_NFC_NXP_NCI=y
CONFIG_JFS_STATISTICS=y
CONFIG_X86_DISABLED_FEATURE_RETPOLINE=y
CONFIG_MUX_CORE=y
CONFIG_NLS_ISO8859_4=y
CONFIG_REGMAP_MMIO=y
CONFIG_I2C=y
CONFIG_AUXILIARY_BUS=y
CONFIG_ATA_SFF=y
CONFIG_WLAN_VENDOR_ZYDAS=y
CONFIG_AD7091R=y
CONFIG_KXCJK1013=y
CONFIG_TI_ADS1015=y
CONFIG_CM3605=y
CONFIG_UBIFS_FS=y
CONFIG_HAVE_UID16=y
CONFIG_ZONE_DMA=y
CONFIG_MHZ19B=y
CONFIG_CHARGER_MAX8903=y
CONFIG_LIST_HARDENED=y
CONFIG_HDLC=y
CONFIG_SENSORS_MAX1619=y
CONFIG_INPUT_CMA3000=y
CONFIG_MANAGER_SBS=y
CONFIG_CRYPTO_AEAD=y
CONFIG_MTD_PLATRAM=y
CONFIG_PINCTRL_CS47L15=y
CONFIG_DMARD06=y
CONFIG_VGA_CONSOLE=y
CONFIG_SENSORS_ADT7470=y
CONFIG_CRYPTO_ARIA=y
CONFIG_MTD_MAP_BANK_WIDTH_4=y
CONFIG_LEDS_BD2606MVV=y
CONFIG_PTP_1588_CLOCK_FC3W=y
CONFIG_FB_HECUBA=y
CONFIG_GPIO_FXL6408=y
CONFIG_LZO_DECOMPRESS=y
CONFIG_SCSI_DEBUG=y
CONFIG_MFD_DA9062=y
CONFIG_SIOX_BUS_GPIO=y
CONFIG_PRIME_NUMBERS=y
CONFIG_GENERIC_IRQ_SHOW=y
CONFIG_TCG_VTPM_PROXY=y
CONFIG_ABP2030PA=y
CONFIG_SMI330_I2C=y
CONFIG_X25=y
CONFIG_STK8BA50=y
CONFIG_PPP_DEFLATE=y
CONFIG_CAN=y
CONFIG_NETDEVICES=y
CONFIG_NFC_SIM=y
CONFIG_RANDSTRUCT_NONE=y
CONFIG_HDLC_X25=y
CONFIG_NET_DEVLINK=y
CONFIG_MCP4531=y
CONFIG_HAVE_ACPI_APEI_NMI=y
CONFIG_UNINLINE_SPIN_UNLOCK=y
CONFIG_MLXREG_LC=y
CONFIG_SENSORS_RM3100_I2C=y
CONFIG_HAVE_ARCH_GET_SECUREBOOT=y
CONFIG_LINEAR_RANGES=y
CONFIG_STM_SOURCE_HEARTBEAT=y
CONFIG_TCG_TIS=y
CONFIG_HAVE_PERF_EVENTS=y
CONFIG_MTD_UBI_GLUEBI=y
CONFIG_ADIN1100_PHY=y
CONFIG_GPIO_WHISKEY_COVE=y
CONFIG_PVPANIC=y
CONFIG_MFD_SY7636A=y
CONFIG_CRYPTO_LIB_BLAKE2B=y
CONFIG_GPIO_MAX7300=y
CONFIG_SCHED_INFO=y
CONFIG_MFD_SIMPLE_MFD_I2C=y
CONFIG_PPP_MULTILINK=y
CONFIG_ADXL355_I2C=y
CONFIG_MFD_TPS6594_I2C=y
CONFIG_STK3310=y
CONFIG_ARCH_HAS_DEBUG_VIRTUAL=y
CONFIG_SENSORS_MENF21BMC_HWMON=y
CONFIG_ECRYPT_FS=y
CONFIG_VIRTIO_ANCHOR=y
CONFIG_HAVE_FUNCTION_ERROR_INJECTION=y
CONFIG_LXT_PHY=y
CONFIG_PSTORE_RAM=y
CONFIG_CONSOLE_TRANSLATIONS=y
CONFIG_WATCHDOG_HANDLE_BOOT_ENABLED=y
CONFIG_SOFTIRQ_ON_OWN_STACK=y
CONFIG_HPET_MMAP=y
CONFIG_IOMMUFD=y
CONFIG_OPT4060=y
CONFIG_HAVE_UNSTABLE_SCHED_CLOCK=y
CONFIG_HWMON=y
CONFIG_STACKDEPOT=y
CONFIG_FB_SYS_COPYAREA=y
CONFIG_FUJITSU_LAPTOP=y
CONFIG_SENSORS_LM3533=y
CONFIG_X86_DISABLED_FEATURE_RETPOLINE_LFENCE=y
CONFIG_HAVE_PAGE_SIZE_4KB=y
CONFIG_COMPAT_BRK=y
CONFIG_BACKLIGHT_APPLE=y
CONFIG_ARCH_HAS_DEVMEM_IS_ALLOWED=y
CONFIG_MTD_QINFO_PROBE=y
CONFIG_MFD_88PM800=y
CONFIG_SERIAL_ALTERA_JTAGUART=y
CONFIG_EFIVAR_FS=y
CONFIG_SERIAL_CORE=y
CONFIG_IRQ_FORCED_THREADING=y
CONFIG_EXTCON_FSA9480=y
CONFIG_LTO_NONE=y
CONFIG_842_COMPRESS=y
CONFIG_BT_AOSPEXT=y
CONFIG_VM_EVENT_COUNTERS=y
CONFIG_SENSORS_POWR1220=y
CONFIG_INPUT_AD714X=y
CONFIG_CRYPTO_ARC4=y
CONFIG_AD5272=y
CONFIG_TPS6507X=y
CONFIG_LEDS_LM3642=y
CONFIG_PKCS7_TEST_KEY=y
CONFIG_VM86=y
CONFIG_IIO_TRIGGER=y
CONFIG_CRYPTO_MANAGER=y
CONFIG_STP=y
CONFIG_ACPI_PROCESSOR=y
CONFIG_SPEAKUP_SYNTH_SOFT=y
CONFIG_X86_UMIP=y
CONFIG_ARCH_HAS_SYNC_CORE_BEFORE_USERMODE=y
CONFIG_IIO_ST_MAGN_3AXIS=y
CONFIG_MEN_A21_WDT=y
CONFIG_EXTCON_MAX77843=y
CONFIG_CC_HAS_ZERO_CALL_USED_REGS=y
CONFIG_CRYPTO_LRW=y
CONFIG_SURFACE_GPE=y
CONFIG_DP83TD510_PHY=y
CONFIG_HAVE_RSEQ=y
CONFIG_DMAPOOL_TEST=y
CONFIG_TCS3472=y
CONFIG_CM36651=y
CONFIG_X86_HV_CALLBACK_VECTOR=y
CONFIG_PAGE_IDLE_FLAG=y
CONFIG_NET_DEVMEM=y
CONFIG_SCD30_CORE=y
CONFIG_DMA_SHARED_BUFFER=y
CONFIG_EDD_OFF=y
CONFIG_BMI270=y
CONFIG_PT_RECLAIM=y
CONFIG_PINCTRL_MAX7360=y
CONFIG_XZ_DEC_ARM=y
CONFIG_TEE_DMABUF_HEAPS=y
CONFIG_VHOST_TASK=y
CONFIG_TPS65010=y
CONFIG_CRYPTO_CHACHA20=y
CONFIG_EROFS_FS_SECURITY=y
CONFIG_SENSORS_ATXP1=y
CONFIG_IRSD200=y
CONFIG_SCSI_ENCLOSURE=y
CONFIG_IDLE_INJECT=y
CONFIG_DPS310=y
CONFIG_PHY_PXA_28NM_USB2=y
CONFIG_EFI_BOOTLOADER_CONTROL=y
CONFIG_PC87413_WDT=y
CONFIG_ROMFS_FS=y
CONFIG_CPU_IDLE_GOV_MENU=y
CONFIG_TCG_TIS_I2C_INFINEON=y
CONFIG_INTEL_BXT_PMIC_THERMAL=y
CONFIG_CRYPTO_SKCIPHER=y
CONFIG_THERMAL_EMULATION=y
CONFIG_ARCH_HAS_MEM_ENCRYPT=y
CONFIG_POSIX_CPU_TIMERS_TASK_WORK=y
CONFIG_OPTEE_STATIC_PROTMEM_POOL=y
CONFIG_SENSORS_RM3100=y
CONFIG_NFC_NCI=y
CONFIG_POWER_SEQUENCING=y
CONFIG_NLS_MAC_ROMANIAN=y
CONFIG_LD_CAN_USE_KEEP_IN_OVERLAY=y
CONFIG_NO_HZ_IDLE=y
CONFIG_INTEL_OC_WATCHDOG=y
CONFIG_ZOPT2201=y
CONFIG_FS_STACK=y
CONFIG_PARAVIRT_TIME_ACCOUNTING=y
CONFIG_CPU_SUP_INTEL=y
CONFIG_HAVE_MMIOTRACE_SUPPORT=y
CONFIG_GPIO_PCF857X=y
CONFIG_SENSORS_SCH5636=y
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO=y
CONFIG_ROHM_BD79124=y
CONFIG_FS_POSIX_ACL=y
CONFIG_WATCHDOG_CORE=y
CONFIG_SENSORS_MAX6620=y
CONFIG_IPMI_DMI_DECODE=y
CONFIG_GOOGLE_MEMCONSOLE=y
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_REGS=y
CONFIG_MFD_CS47L35=y
CONFIG_PPS_CLIENT_LDISC=y
CONFIG_DS1803=y
CONFIG_BATTERY_BQ27XXX=y
CONFIG_ACPI_BATTERY=y
CONFIG_OSF_PARTITION=y
CONFIG_SENSORS_W83627HF=y
CONFIG_ARCH_USE_CMPXCHG_LOCKREF=y
CONFIG_I2C_OCORES=y
CONFIG_MTD_BLKDEVS=y
CONFIG_ARCH_SUPPORTS_RT=y
CONFIG_BLK_WBT=y
CONFIG_BTRFS_FS=y
CONFIG_W1_SLAVE_DS2438=y
CONFIG_CRYPTO_LIB_GF128MUL=y
CONFIG_HAVE_FUNCTION_ARG_ACCESS_API=y
CONFIG_ACPI_CONFIGFS=y
CONFIG_GENERIC_IOMAP=y
CONFIG_TQMX86_WDT=y
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO_BARE=y
CONFIG_FHANDLE=y
CONFIG_INFINEON_TLV493D=y
CONFIG_TELCLOCK=y
CONFIG_HAVE_KERNEL_ZSTD=y
CONFIG_SENSORS_MAX31790=y
CONFIG_LEDS_TRIGGER_ACTIVITY=y
CONFIG_DP83869_PHY=y
CONFIG_SCD4X=y
CONFIG_HAVE_CLK_PREPARE=y
CONFIG_AOSONG_AGS02MA=y
CONFIG_CRC32=y
CONFIG_SQUASHFS_XZ=y
CONFIG_HAVE_ARCH_KFENCE=y
CONFIG_CHARGER_DA9150=y
CONFIG_CM32181=y
CONFIG_PNPACPI=y
CONFIG_CFG80211=y
CONFIG_MMA7660=y
CONFIG_NVMEM=y
CONFIG_SLAB_OBJ_EXT=y
CONFIG_BUG_ON_DATA_CORRUPTION=y
CONFIG_INPUT=y
CONFIG_PAGE_POOL=y
CONFIG_ARCH_HAS_CACHE_LINE_SIZE=y
CONFIG_CRYPTO_ECHAINIV=y
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_DIRECT_CALLS=y
CONFIG_HAVE_DEBUG_KMEMLEAK=y
CONFIG_NLS_CODEPAGE_775=y
CONFIG_CRYPTO_CRYPTD=y
CONFIG_HAVE_GUP_FAST=y
CONFIG_QRTR=y
CONFIG_BMA220_I2C=y
CONFIG_SENSORS_ATK0110=y
CONFIG_CLZ_TAB=y
CONFIG_GPIO_AMDPT=y
CONFIG_X86_32=y
CONFIG_IKCONFIG=y
CONFIG_AD7746=y
CONFIG_SENSORS_VIA_CPUTEMP=y
CONFIG_LRU_GEN_WALKS_MMU=y
CONFIG_INTEL_SOC_PMIC_BXTWC=y
CONFIG_HAVE_ARCH_WITHIN_STACK_FRAMES=y
CONFIG_GENERIC_BITREVERSE=y
CONFIG_SENSORS_LM63=y
CONFIG_HAVE_C_RECORDMCOUNT=y
CONFIG_COMMON_CLK_SI544=y
CONFIG_SENSORS_AMC6821=y
CONFIG_HARDENED_USERCOPY=y
CONFIG_ARCH_HAS_MEMBARRIER_SYNC_CORE=y
CONFIG_HDLC_FR=y
CONFIG_MTD_UBI=y
CONFIG_SMI330=y
CONFIG_ARCH_HAS_NMI_SAFE_THIS_CPU_OPS=y
CONFIG_MCP4725=y
CONFIG_RSEQ=y
CONFIG_GENERIC_VDSO_OVERFLOW_PROTECT=y
CONFIG_CPU_SUP_AMD=y
CONFIG_BACKLIGHT_MAX25014=y
CONFIG_LEDS_MENF21BMC=y
CONFIG_NFC_S3FWRN82_UART=y
CONFIG_ULTRIX_PARTITION=y
CONFIG_EXT4_FS_SECURITY=y
CONFIG_CRYPTO_BLAKE2B=y
CONFIG_TOSHIBA_BT_RFKILL=y
CONFIG_PROC_EVENTS=y
CONFIG_ACPI_ALS=y
CONFIG_X86_PM_TIMER=y
CONFIG_GPIOLIB_IRQCHIP=y
CONFIG_CRYPTO_DH=y
CONFIG_MFD_ARIZONA=y
CONFIG_CRYPTO_CAST6=y
CONFIG_CRC_OPTIMIZATIONS=y
CONFIG_NLS_CODEPAGE_950=y
CONFIG_FONT_AUTOSELECT=y
CONFIG_NCT7201=y
CONFIG_REGMAP_IRQ=y
CONFIG_RT_MUTEXES=y
CONFIG_FB_EFI=y
CONFIG_PANIC_ON_OOPS=y
CONFIG_ACPI_DEBUGGER=y
CONFIG_CC_HAS_KASAN_GENERIC=y
CONFIG_AD5446=y
CONFIG_NET_EGRESS=y
CONFIG_FB_IBM_GXT4500=y
CONFIG_CRYPTO_KPP2=y
CONFIG_SENSORS_MAX127=y
CONFIG_CHARGER_BQ24190=y
CONFIG_W1_SLAVE_DS250X=y
CONFIG_GPIB_COMMON=y
CONFIG_HAVE_NMI=y
CONFIG_SPEAKUP_SYNTH_DECEXT=y
CONFIG_CRYPTO_ECDH=y
CONFIG_LEDS_LM3532=y
CONFIG_NLS_CODEPAGE_936=y
CONFIG_FB_CFB_COPYAREA=y
CONFIG_SCREEN_INFO=y
CONFIG_SENSORS_TSC1641=y
CONFIG_HAVE_OPTPROBES=y
CONFIG_CC_HAS_WORKING_NOSANITIZE_ADDRESS=y
CONFIG_SENSORS_LTC4245=y
CONFIG_SENSORS_MR75203=y
CONFIG_LTC2485=y
CONFIG_SENSORS_DS620=y
CONFIG_CRC_T10DIF=y
CONFIG_TI_DAC5571=y
CONFIG_ACPI_REV_OVERRIDE_POSSIBLE=y
CONFIG_SENSORS_MAX6697=y
CONFIG_ASYMMETRIC_PUBLIC_KEY_SUBTYPE=y
CONFIG_SCSI_SRP_ATTRS=y
CONFIG_BT_HCIUART=y
CONFIG_STM_PROTO_SYS_T=y
CONFIG_EXT4_DEBUG=y
CONFIG_MFD_ATC260X=y
CONFIG_AD5686=y
CONFIG_MTRR_SANITIZER=y
CONFIG_MULTIPLEXER=y
CONFIG_RELAY=y
CONFIG_SERIAL_SC16IS7XX_I2C=y
CONFIG_NET_PTP_CLASSIFY=y
CONFIG_TASKS_RCU_GENERIC=y
CONFIG_ARCH_WANT_IPC_PARSE_VERSION=y
CONFIG_GPIO_WAVESHARE_DSI_TOUCH=y
CONFIG_ACQUIRE_WDT=y
CONFIG_POWER_RESET_TPS65086=y
CONFIG_ZLIB_DEFLATE=y
CONFIG_SENSORS_LM85=y
CONFIG_SCHED_HRTICK=y
CONFIG_FONT_SUPPORT=y
CONFIG_PTP_1588_CLOCK_OPTIONAL=y
CONFIG_LEDS_CLASS_FLASH=y
CONFIG_LEDS_WM8350=y
CONFIG_CC_HAS_SLS=y
CONFIG_EFI_RCI2_TABLE=y
CONFIG_APERTURE_HELPERS=y
CONFIG_NET_TEAM_MODE_ROUNDROBIN=y
CONFIG_SCD30_I2C=y
CONFIG_TERANETICS_PHY=y
CONFIG_KEYS=y
CONFIG_NAMESPACES=y
CONFIG_FPGA_BRIDGE=y
CONFIG_GPIO_BY_PINCTRL=y
CONFIG_INPUT_GPIO_DECODER=y
CONFIG_THERMAL_STATISTICS=y
CONFIG_HAVE_STATIC_CALL=y
CONFIG_NLMON=y
CONFIG_SENSORS_NCT6775=y
CONFIG_AX88796B_PHY=y
CONFIG_CONTEXT_TRACKING_IDLE=y
CONFIG_ARCH_MIGHT_HAVE_ACPI_PDC=y
CONFIG_EFI_DISABLE_RUNTIME=y
CONFIG_ATA=y
CONFIG_SG_POOL=y
CONFIG_MTD_RAM=y
CONFIG_GENERIC_CPU_AUTOPROBE=y
CONFIG_INTEL_HID_EVENT=y
CONFIG_HAVE_KERNEL_LZO=y
CONFIG_HAVE_MOVE_PMD=y
CONFIG_LZO_COMPRESS=y
CONFIG_SPARSE_IRQ=y
CONFIG_SCSI_VIRTIO=y
CONFIG_FSCACHE_STATS=y
CONFIG_BLK_DEV=y
CONFIG_LEDS_WRAP=y
CONFIG_MICROCODE=y
CONFIG_ARCH_WANTS_DYNAMIC_TASK_STRUCT=y
CONFIG_IEEE802154=y
CONFIG_EUROTECH_WDT=y
CONFIG_X86_DISABLED_FEATURE_PCID=y
CONFIG_X86_ALIGNMENT_16=y
CONFIG_IIO_BACKEND=y
CONFIG_X86_DISABLED_FEATURE_SYSCALL32=y
CONFIG_RSEQ_SLICE_EXTENSION=y
CONFIG_PM_DEVFREQ=y
CONFIG_SCHEDSTATS=y
CONFIG_BT_MRVL=y
CONFIG_SENSORS_LATTEPANDA_SIGMA_EC=y
CONFIG_RC_MAP=y
CONFIG_IOMMU_IOVA=y
CONFIG_TRACE_IRQFLAGS_SUPPORT=y
CONFIG_STACKTRACE=y
CONFIG_RATIONAL=y
CONFIG_GENERIC_ISA_DMA=y
CONFIG_INPUT_ATC260X_ONKEY=y
CONFIG_CORTINA_PHY=y
CONFIG_SENSORS_ASC7621=y
CONFIG_MFD_CS42L43_I2C=y
CONFIG_SYSTEM_TRUSTED_KEYRING=y
CONFIG_MCP3422=y
CONFIG_SYSV68_PARTITION=y
CONFIG_NET=y
CONFIG_MFD_LP3943=y
CONFIG_NLS_KOI8_U=y
CONFIG_CLONE_BACKWARDS=y
CONFIG_MFD_MAX14577=y
CONFIG_CHARGER_MP2629=y
CONFIG_MFD_WM8350=y
CONFIG_BEFS_FS=y
CONFIG_DMABUF_HEAPS=y
CONFIG_GOOGLE_FIRMWARE=y
CONFIG_IRQ_SIM=y
CONFIG_VHOST_MENU=y
CONFIG_LEDS_NET48XX=y
CONFIG_TMP007=y
CONFIG_CFG80211_WEXT=y
CONFIG_X86_BOOTPARAM_MEMORY_CORRUPTION_CHECK=y
CONFIG_PCCARD=y
CONFIG_LEDS_SIEMENS_SIMATIC_IPC_APOLLOLAKE=y
CONFIG_SERIO=y
CONFIG_EXTCON=y
CONFIG_BMC150_ACCEL=y
CONFIG_MEDIATEK_GE_PHY=y
CONFIG_HDLC_PPP=y
CONFIG_W1_SLAVE_DS2408=y
CONFIG_SYSCTL_EXCEPTION_TRACE=y
CONFIG_IPMI_PLAT_DATA=y
CONFIG_EXTCON_PTN5150=y
CONFIG_SGL_ALLOC=y
CONFIG_TOSHIBA=y
CONFIG_SENSORS_SMPRO=y
CONFIG_MTD_LPDDR=y
CONFIG_STACKPROTECTOR=y
CONFIG_HAVE_PERF_USER_STACK_DUMP=y
CONFIG_SMSC_SCH311X_WDT=y
CONFIG_MODULES_USE_ELF_REL=y
CONFIG_TCG_TIS_I2C_CR50=y
CONFIG_W1_SLAVE_DS2805=y
CONFIG_GP2AP002=y
CONFIG_HW_RANDOM_TPM=y
CONFIG_MTD_OOPS=y
CONFIG_SENSORS_ADM1177=y
CONFIG_ARCH_HAS_STRICT_KERNEL_RWX=y
CONFIG_CRYPTO_SM4=y
CONFIG_HAVE_MIXED_BREAKPOINTS_REGS=y
CONFIG_GPIO_CDEV_V1=y
CONFIG_FANOTIFY=y
CONFIG_EXTCON_USB_GPIO=y
CONFIG_NL80211_TESTMODE=y
CONFIG_HAVE_EFFICIENT_UNALIGNED_ACCESS=y
CONFIG_SI7005=y
CONFIG_SENSORS_TMP401=y
CONFIG_PINMUX=y
CONFIG_ATA_BMDMA=y
CONFIG_BT_HCIUART_LL=y
