CONFIG_BTRFS_FS_POSIX_ACL=n
CONFIG_PCIE_IPROC_PLATFORM=n
CONFIG_RPMSG_MTK_SCP=n
CONFIG_USB_SERIAL_FTDI_SIO=n
CONFIG_INTERCONNECT_QCOM_RPMH_POSSIBLE=n
CONFIG_MT76_LEDS=n
CONFIG_COMMON_CLK_MT8186_IMGSYS=n
CONFIG_ATA=n
CONFIG_CRYPTO_DEFLATE=n
CONFIG_NVMEM_IMX_OCOTP_ELE=n
CONFIG_CLK_KAANAPALI_DISPCC=n
CONFIG_SOPHGO_CV1800B_ADC=n
CONFIG_GENERIC_MSI_IRQ=n
CONFIG_IIO_BUFFER=n
CONFIG_CRYPTO_LIB_GF128HASH_ARCH=n
CONFIG_COMMON_CLK_MT8167_AUDSYS=n
CONFIG_SCREEN_INFO=n
CONFIG_SND_SOC_HDMI_CODEC=n
CONFIG_SERIAL_8250_TEGRA=n
CONFIG_MHI_WWAN_CTRL=n
CONFIG_QCOM_QMI_HELPERS=n
CONFIG_MEDIA_TUNER_TDA827X=n
CONFIG_STACKTRACE_SUPPORT=n
CONFIG_LOCALVERSION_AUTO=n
CONFIG_HAVE_PV_STEAL_CLOCK_GEN=n
CONFIG_SM_GPUCC_MILOS=n
CONFIG_KVM_GENERIC_HARDWARE_ENABLING=n
CONFIG_PHY_RCAR_GEN3_PCIE=n
CONFIG_ARCH_TEGRA_264_SOC=n
CONFIG_PCI_HOST_GENERIC=n
CONFIG_CLK_INTEL_SOCFPGA=n
CONFIG_SC_DISPCC_7280=n
CONFIG_SND_MESON_AXG_TODDR=n
CONFIG_PINCTRL_SUN55I_A523_R=n
CONFIG_QCOM_STATS=n
CONFIG_COMMON_CLK_RP1=n
CONFIG_HAVE_SETUP_PER_CPU_AREA=n
CONFIG_NVMEM=n
CONFIG_VFAT_FS=n
CONFIG_WLAN_VENDOR_ZYDAS=n
CONFIG_SM_CAMCC_8250=n
CONFIG_ROCKCHIP_PHY=n
CONFIG_PINCTRL_PFC_R8A774A1=n
CONFIG_NETFILTER_SKIP_EGRESS=n
CONFIG_SERIAL_8250_16550A_VARIANTS=n
CONFIG_SENSORS_INA3221=n
CONFIG_INTERCONNECT_QCOM_GLYMUR=n
CONFIG_IIO_STM32_TIMER_TRIGGER=n
CONFIG_SM_GPUCC_8150=n
CONFIG_GENERIC_ADC_THERMAL=n
CONFIG_CRYPTO_AUTHENC=n
CONFIG_ARM_SCMI_POWER_DOMAIN=n
CONFIG_PL330_DMA=n
CONFIG_SND_SOC_MT6357=n
CONFIG_NET_ACT_GACT=n
CONFIG_WQ_POWER_EFFICIENT_DEFAULT=n
CONFIG_USB_ISP1760_HCD=n
CONFIG_USB_EHCI_TT_NEWSCHED=n
CONFIG_SC_CAMCC_8280XP=n
CONFIG_RPS=n
CONFIG_XEN_BALLOON_MEMORY_HOTPLUG=n
CONFIG_MAILBOX=n
CONFIG_HISI_PMU=n
CONFIG_PINCTRL_QCS615=n
CONFIG_USB_CONFIGFS_F_FS=n
CONFIG_NVMEM_SNVS_LPGPR=n
CONFIG_SCHED_INFO=n
CONFIG_INTERCONNECT_QCOM_SA8775P=n
CONFIG_DP83822_PHY=n
CONFIG_REGULATOR_PWM=n
CONFIG_BRCMSTB_GISB_ARB=n
CONFIG_SERIAL_8250_MT6577=n
CONFIG_IPQ_APSS_6018=n
CONFIG_PINCTRL_SDM660=n
CONFIG_PINCTRL_MT8167=n
CONFIG_IMX_INTMUX=n
CONFIG_INPUT_KEYBOARD=n
CONFIG_ARM_QCOM_CPUFREQ_NVMEM=n
CONFIG_CRYPTO_SHA1=n
CONFIG_AS_HAS_NON_CONST_ULEB128=n
CONFIG_SND_SOC_MT8183_MT6358_TS3A227E_MAX98357A=n
CONFIG_SND_SUN4I_I2S=n
CONFIG_SND_SOC_QDSP6_AFE=n
CONFIG_STM32_OMM=n
CONFIG_SND_SOC_RK3399_GRU_SOUND=n
CONFIG_ARCH_R9A09G011=n
CONFIG_STM=n
CONFIG_USB_NET_CDC_SUBSET_ENABLE=n
CONFIG_COMMON_CLK_HI3660=n
CONFIG_CLK_IMX8MM=n
CONFIG_COMPAT_OLD_SIGACTION=n
CONFIG_STM32_TIMER_CNT=n
CONFIG_POWER_RESET_GPIO=n
CONFIG_SENSORS_MACSMC_HWMON=n
CONFIG_I2C_MT65XX=n
CONFIG_ROCKCHIP_TIMER=n
CONFIG_HAVE_ARCH_JUMP_LABEL=n
CONFIG_ARM_SMCCC_SOC_ID=n
CONFIG_PINCTRL_ROCKCHIP=n
CONFIG_STMP_DEVICE=n
CONFIG_GPIO_ZYNQMP_MODEPIN=n
CONFIG_DMA_SUN6I=n
CONFIG_COMMON_CLK_SCPI=n
CONFIG_GCC10_NO_ARRAY_BOUNDS=n
CONFIG_TCP_CONG_CUBIC=n
CONFIG_NF_LOG_SYSLOG=n
CONFIG_SNI_NETSEC=n
CONFIG_DRM_ITE_IT6263=n
CONFIG_EVENTFD=n
CONFIG_PHY_QCOM_USB_SS=n
CONFIG_VIDEO_RCAR_DRIF=n
CONFIG_IMX_REMOTEPROC=n
CONFIG_GPIO_SHARED=n
CONFIG_ARCH_HAS_PTE_SPECIAL=n
CONFIG_XEN_DOM0=n
CONFIG_GROUP_SCHED_WEIGHT=n
CONFIG_SND_SOC_QDSP6_AFE_DAI=n
CONFIG_LOCK_DEBUGGING_SUPPORT=n
CONFIG_XILINX_VCU=n
CONFIG_HAVE_ARCH_GET_SECUREBOOT=n
CONFIG_CRYPTO_BENCHMARK=n
CONFIG_PCIE_MOBIVEIL=n
CONFIG_SND_SOC_WCD9335=n
CONFIG_VIDEO_HANTRO_SUNXI=n
CONFIG_FW_LOADER_USER_HELPER=n
CONFIG_PINCTRL_BCM4908=n
CONFIG_SCSI_MOD=n
CONFIG_XENFS=n
CONFIG_CLK_RZG2L=n
CONFIG_LEDS_CLASS_FLASH=n
CONFIG_UBIFS_FS_XATTR=n
CONFIG_GCC_NO_STRINGOP_OVERFLOW=n
CONFIG_NFS_V3=n
CONFIG_CRYPTO_RNG=n
CONFIG_HWSPINLOCK_OMAP=n
CONFIG_PINCTRL_UNIPHIER_PXS3=n
CONFIG_IMX_SCMI_BBM_EXT=n
CONFIG_HAVE_ARCH_SECCOMP=n
CONFIG_SMC91X=n
CONFIG_DRM=n
CONFIG_SERIO_LIBPS2=n
CONFIG_SND_SOC_SIMPLE_MUX=n
CONFIG_EFI_VARS_PSTORE=n
CONFIG_SND_SOC_XILINX_I2S=n
CONFIG_PHY_ROCKCHIP_USBDP=n
CONFIG_PREEMPT_BUILD=n
CONFIG_REGMAP_SOUNDWIRE=n
CONFIG_SND_HDA_CODEC_HDMI_TEGRA=n
CONFIG_SND_SOC_MAX98927=n
CONFIG_CROS_EC_TYPEC_ALTMODES=n
CONFIG_INTERCONNECT_QCOM_SDX75=n
CONFIG_HAVE_SAMPLE_FTRACE_DIRECT=n
CONFIG_KVM_COMMON=n
CONFIG_HID_MULTITOUCH=n
CONFIG_BCM2711_THERMAL=n
CONFIG_TOUCHSCREEN_EDT_FT5X06=n
CONFIG_DWMAC_GENERIC=n
CONFIG_EXPORTFS=n
CONFIG_MEDIA_TUNER_XC4000=n
CONFIG_WLAN_VENDOR_PURELIFI=n
CONFIG_MOUSE_PS2_FOCALTECH=n
CONFIG_PINCTRL_BCM2835=n
CONFIG_SND_SOC_DAVINCI_MCASP=n
CONFIG_NLATTR=n
CONFIG_COMMON_CLK_MT8192_MSDC=n
CONFIG_OPEN_ALLIANCE_HELPERS=n
CONFIG_SCSI_UFS_BSG=n
CONFIG_SND_DRIVERS=n
CONFIG_RD_ZSTD=n
CONFIG_QCOM_FALKOR_ERRATUM_1009=n
CONFIG_CFG80211_CRDA_SUPPORT=n
CONFIG_CPU_IDLE_MULTIPLE_DRIVERS=n
CONFIG_VIDEO_SYNOPSYS_HDMIRX_LOAD_DEFAULT_EDID=n
CONFIG_QCOM_TZMEM_MODE_SHMBRIDGE=n
CONFIG_SND_JACK=n
CONFIG_ARM64_ERRATUM_2051678=n
CONFIG_IKCONFIG=n
CONFIG_PWM_TIEHRPWM=n
CONFIG_PHY_NXP_PTN3222=n
CONFIG_XZ_DEC_ARM64=n
CONFIG_STAGING=n
CONFIG_SND_SOC_FSL_ASRC=n
CONFIG_SUN8I_H3_CCU=n
CONFIG_SND_SOC_TLV320AIC3X_I2C=n
CONFIG_SCSI_SAS_LIBSAS=n
CONFIG_RTC_DRV_XGENE=n
CONFIG_SND_SOC_WCD937X=n
CONFIG_OF_GPIO=n
CONFIG_GPIO_MPC8XXX=n
CONFIG_QCOM_SMSM=n
CONFIG_MCHP_CLK_MPFS=n
CONFIG_COMMON_CLK_MT8183_IMGSYS=n
CONFIG_LEDS_PCA9532=n
CONFIG_PHY_MESON_AXG_MIPI_DPHY=n
CONFIG_DMA_VIRTUAL_CHANNELS=n
CONFIG_PATA_TIMINGS=n
CONFIG_I2C_EXYNOS5=n
CONFIG_INPUT_PWM_VIBRA=n
CONFIG_SND_SOC_RT1015=n
CONFIG_IP_MULTICAST=n
CONFIG_MESON_IRQ_GPIO=n
CONFIG_SND_SOC_SOF_MTK_TOPLEVEL=n
CONFIG_PINCTRL_QDF2XXX=n
CONFIG_SND_SOC_LPASS_CDC_DMA=n
CONFIG_SPI_TEGRA114=n
CONFIG_INTERCONNECT_QCOM_SM8450=n
CONFIG_REGULATOR_MAX20411=n
CONFIG_DRM_VRAM_HELPER=n
CONFIG_SATA_RCAR=n
CONFIG_QCOM_CLK_APCS_MSM8916=n
CONFIG_CAVIUM_TX2_ERRATUM_219=n
CONFIG_SND_SOC_X1E80100=n
CONFIG_SERIAL_8250_SHARE_IRQ=n
CONFIG_VIDEO_RCAR_ISP=n
CONFIG_PWM=n
CONFIG_ARCH_SUPPORTS_PAGE_TABLE_CHECK=n
CONFIG_COMMON_CLK_MT6795_MFGCFG=n
CONFIG_DRM_ROCKCHIP=n
CONFIG_PINCTRL_MT8196=n
CONFIG_HAVE_RUST=n
CONFIG_ARCH_R8A78000=n
CONFIG_SND_SOC_MEDIATEK=n
CONFIG_MDIO_BUS_MUX_MMIOREG=n
CONFIG_PINCTRL_PFC_R8A77961=n
CONFIG_DRM_CLIENT_SETUP=n
CONFIG_COMMON_CLK_MT8192_AUDSYS=n
CONFIG_LDISC_AUTOLOAD=n
CONFIG_SND_SOC_WCD939X=n
CONFIG_SCSI_SAS_HOST_SMP=n
CONFIG_SM_GCC_MILOS=n
CONFIG_USB_CHIPIDEA_PCI=n
CONFIG_BT_RTL=n
CONFIG_MMC_UNIPHIER=n
CONFIG_ATA_VERBOSE_ERROR=n
CONFIG_ARM64_ERRATUM_2054223=n
CONFIG_XZ_DEC_ARM=n
CONFIG_SUN50I_A64_CCU=n
CONFIG_INTERCONNECT_QCOM_QCS615=n
CONFIG_SM_GCC_4450=n
CONFIG_SL28CPLD_WATCHDOG=n
CONFIG_CC_HAS_KASAN_SW_TAGS=n
CONFIG_NLS=n
CONFIG_SND_SOC_RT5663=n
CONFIG_STACKPROTECTOR=n
CONFIG_DRM_DISPLAY_HDMI_STATE_HELPER=n
CONFIG_PHY_CAN_TRANSCEIVER=n
CONFIG_HW_RANDOM_HISI_TRNG=n
CONFIG_INPUT_MOUSE=n
CONFIG_ARCH_USE_CMPXCHG_LOCKREF=n
CONFIG_STM32MP_EXTI=n
CONFIG_ARM64_ERRATUM_827319=n
CONFIG_ARM64_WORKAROUND_DISABLE_CNP=n
CONFIG_ARCH_WANTS_THP_SWAP=n
CONFIG_CLK_IMX95_BLK_CTL=n
CONFIG_DRM_CLIENT_SELECTION=n
CONFIG_XEN_NETDEV_FRONTEND=n
CONFIG_MTD_PHYSMAP=n
CONFIG_INTERCONNECT_QCOM_BCM_VOTER=n
CONFIG_SND_BCM2835_SOC_I2S=n
CONFIG_WWAN=n
CONFIG_MLX5_CORE=n
CONFIG_ARM_GIC_V3=n
CONFIG_TCG_TIS_I2C_INFINEON=n
CONFIG_SECCOMP=n
CONFIG_PWM_ADP5585=n
CONFIG_FIXED_PHY=n
CONFIG_PINCTRL_SM8750=n
CONFIG_RESET_MESON=n
CONFIG_SATA_HOST=n
CONFIG_SERIAL_MCTRL_GPIO=n
CONFIG_ARCH_QCOM=n
CONFIG_ATA_BMDMA=n
CONFIG_TEGRA_HOST1X_FIREWALL=n
CONFIG_SYSC_R8A77990=n
CONFIG_NXP_ENETC4=n
CONFIG_PAGE_MAPCOUNT=n
CONFIG_ATA_FORCE=n
CONFIG_DECOMPRESS_XZ=n
CONFIG_SCSI_UFS_CDNS_PLATFORM=n
CONFIG_EXYNOS_USI=n
CONFIG_CRYPTO_CCM=n
CONFIG_COMMON_CLK_MESON_SCLK_DIV=n
CONFIG_NET_VENDOR_AMAZON=n
CONFIG_RENESAS_RZV2HWDT=n
CONFIG_XZ_DEC_ARMTHUMB=n
CONFIG_ARCH_DEFAULT_CRASH_DUMP=n
CONFIG_PCI_J721E=n
CONFIG_PCIE_RCAR_GEN4=n
CONFIG_NET_XGENE=n
CONFIG_SPI_ARMADA_3700=n
CONFIG_SPLIT_PTE_PTLOCKS=n
CONFIG_NET_DSA_TAG_OCELOT=n
CONFIG_PINCTRL_MT7988=n
CONFIG_ARCH_SEATTLE=n
CONFIG_SND_MESON_AXG_FRDDR=n
CONFIG_REGULATOR_RK808=n
CONFIG_HVC_DRIVER=n
CONFIG_SND_HWDEP=n
CONFIG_ARMADA_AP806_SYSCON=n
CONFIG_PWM_RENESAS_RZG2L_GPT=n
