CONFIG_USB_OHCI_HCD=n
CONFIG_NET_VENDOR_SOLARFLARE=n
CONFIG_HAVE_KERNEL_LZO=n
CONFIG_HAVE_PERF_EVENTS_NMI=n
CONFIG_CGROUP_CPUACCT=n
CONFIG_GENERIC_BUG=n
CONFIG_SERIAL_NONSTANDARD=n
CONFIG_CRYPTO_GENIV=n
CONFIG_HARDIRQS_SW_RESEND=n
CONFIG_NET_CORE=n
CONFIG_HID_SONY=n
CONFIG_NFS_USE_KERNEL_DNS=n
CONFIG_NEED_TASKS_RCU=n
CONFIG_VIDEO=n
CONFIG_ATA_ACPI=n
CONFIG_I2C_HELPER_AUTO=n
CONFIG_PANTHERLORD_FF=n
CONFIG_ATA=n
CONFIG_TASKS_TRACE_RCU=n
CONFIG_NFS_V4_0=n
CONFIG_CC_HAS_NAMED_AS=n
CONFIG_SCHED_MC_PRIO=n
CONFIG_NET_VENDOR_ALACRITECH=n
CONFIG_INPUT=n
CONFIG_E1000E=n
CONFIG_HVC_DRIVER=n
CONFIG_GENERIC_NET_UTILS=n
CONFIG_SERIO_LIBPS2=n
CONFIG_X86_DISABLED_FEATURE_SEV_SNP=n
CONFIG_CPU_FREQ_DEFAULT_GOV_USERSPACE=n
CONFIG_GENERIC_IRQ_SHOW=n
CONFIG_GENERIC_ENTRY=n
CONFIG_HAVE_MIXED_BREAKPOINTS_REGS=n
CONFIG_ARCH_HAS_KERNEL_FPU_SUPPORT=n
CONFIG_IO_DELAY_0X80=n
CONFIG_ARCH_CLOCKSOURCE_INIT=n
CONFIG_SND_HRTIMER=n
CONFIG_CRYPTO_CBC=n
CONFIG_BINARY_PRINTF=n
CONFIG_EFI_EARLYCON=n
CONFIG_CLKEVT_I8253=n
CONFIG_ARCH_WANT_LD_ORPHAN_WARN=n
CONFIG_AUTOFS_FS=n
CONFIG_RATIONAL=n
CONFIG_GRO_CELLS=n
CONFIG_SSB_POSSIBLE=n
CONFIG_HAVE_ARCH_GET_SECUREBOOT=n
CONFIG_SND_TIMER=n
CONFIG_ARCH_USE_SYM_ANNOTATIONS=n
CONFIG_EXT4_FS_POSIX_ACL=n
CONFIG_SYNC_FILE=n
CONFIG_HAVE_KPROBES_ON_FTRACE=n
CONFIG_SECRETMEM=n
CONFIG_USB_ANNOUNCE_NEW_DEVICES=n
CONFIG_CC_HAS_ZERO_CALL_USED_REGS=n
CONFIG_FUTEX_PRIVATE_HASH=n
CONFIG_NE2K_PCI=n
CONFIG_ACPI_REV_OVERRIDE_POSSIBLE=n
CONFIG_SND_DRIVERS=n
CONFIG_NF_LOG_ARP=n
CONFIG_NETFILTER_XTABLES=n
CONFIG_ARCH_SUPPORTS_LTO_CLANG_THIN=n
CONFIG_INPUT_MISC=n
CONFIG_MOUSE_PS2_LIFEBOOK=n
CONFIG_NET_VENDOR_MARVELL=n
CONFIG_CPUFREQ_ARCH_CUR_FREQ=n
CONFIG_SURFACE_PLATFORMS=n
CONFIG_HAVE_KERNEL_LZMA=n
CONFIG_CPU_IDLE_GOV_HALTPOLL=n
CONFIG_NET_VENDOR_AMAZON=n
CONFIG_DST_CACHE=n
CONFIG_HWMON=n
CONFIG_SYSFS=n
CONFIG_MODULES_USE_ELF_REL=n
CONFIG_XZ_DEC_ARM=n
CONFIG_ACPI_WMI=n
CONFIG_HAVE_IOREMAP_PROT=n
CONFIG_HIGH_RES_TIMERS=n
CONFIG_PCI_BIOS=n
CONFIG_SERIAL_8250_DWLIB=n
CONFIG_ARCH_CONFIGURES_CPU_MITIGATIONS=n
CONFIG_CRYPTO_CTR=n
CONFIG_NVMEM_SYSFS=n
CONFIG_PERF_EVENTS_AMD_UNCORE=n
CONFIG_NET_DEVMEM=n
CONFIG_RTC_CLASS=n
CONFIG_FUNCTION_ALIGNMENT_4B=n
CONFIG_ZONE_DMA=n
CONFIG_ARCH_CPUIDLE_HALTPOLL=n
CONFIG_STRICT_MODULE_RWX=n
CONFIG_X86_CMOV=n
CONFIG_MICROCODE=n
CONFIG_TRACING=n
CONFIG_PCI_GOANY=n
CONFIG_PT_RECLAIM=n
CONFIG_USB_PCI_AMD=n
CONFIG_SPARSEMEM_STATIC=n
CONFIG_HAVE_KERNEL_ZSTD=n
CONFIG_X86_EXTENDED_PLATFORM=n
CONFIG_DMA_OPS_HELPERS=n
CONFIG_MQ_IOSCHED_DEADLINE=n
CONFIG_CC_HAS_COUNTED_BY_PTR=n
CONFIG_GENERIC_CPU_AUTOPROBE=n
CONFIG_IOMMU_API=n
CONFIG_CC_HAS_ASSUME=n
CONFIG_NET_VENDOR_XILINX=n
CONFIG_ARCH_HAS_MEMBARRIER_SYNC_CORE=n
CONFIG_OPENSSL_SUPPORTS_ML_DSA=n
CONFIG_USB_XHCI_HCD=n
CONFIG_HID_PID=n
CONFIG_X86_ACPI_CPUFREQ=n
CONFIG_HOTPLUG_CORE_SYNC_FULL=n
CONFIG_ACPI_HOTPLUG_CPU=n
CONFIG_GENERIC_GETTIMEOFDAY=n
CONFIG_ARCH_HAVE_NMI_SAFE_CMPXCHG=n
CONFIG_WLAN_VENDOR_REALTEK=n
CONFIG_SND_PCI=n
CONFIG_GENERIC_IRQ_ENTRY=n
CONFIG_NET_VENDOR_MELLANOX=n
CONFIG_WLAN_VENDOR_MEDIATEK=n
CONFIG_X86_MSR=n
CONFIG_HAVE_FUNCTION_GRAPH_FREGS=n
CONFIG_PACKET=n
CONFIG_X86_MPPARSE=n
CONFIG_LOCKDEP_SUPPORT=n
CONFIG_PARAVIRT_CLOCK=n
CONFIG_ACPI_BATTERY=n
CONFIG_MODULE_FORCE_UNLOAD=n
CONFIG_CRYPTO_AKCIPHER=n
CONFIG_STRICT_DEVMEM=n
CONFIG_NET_VENDOR_I825XX=n
CONFIG_GPIOLIB_LEGACY=n
CONFIG_USB_NET_DRIVERS=n
CONFIG_ISO9660_FS=n
CONFIG_DRM=n
CONFIG_NET_VENDOR_WIZNET=n
CONFIG_CRYPTO_ACOMP2=n
CONFIG_SND_USB=n
CONFIG_USB_COMMON=n
CONFIG_KALLSYMS=n
CONFIG_HAVE_PERF_EVENTS=n
CONFIG_X86_DISABLED_FEATURE_PCID=n
CONFIG_MOUSE_PS2_LOGIPS2PP=n
CONFIG_DMI_SCAN_MACHINE_NON_EFI_FALLBACK=n
CONFIG_NET_VENDOR_ENGLEDER=n
CONFIG_NET_VENDOR_LITEX=n
CONFIG_HIBERNATION=n
CONFIG_MPILIB=n
CONFIG_COMPAT_32BIT_TIME=n
CONFIG_CRYPTO_LIB_AES_CBC_MACS=n
CONFIG_I8253_LOCK=n
CONFIG_IP_PNP_BOOTP=n
CONFIG_DEBUG_MEMORY_INIT=n
CONFIG_X86_DEBUGCTLMSR=n
CONFIG_ARCH_HAS_ELF_RANDOMIZE=n
CONFIG_ACPI_EC=n
CONFIG_RD_GZIP=n
CONFIG_NO_HZ=n
CONFIG_X86_DISABLED_FEATURE_PKU=n
CONFIG_X86=n
CONFIG_RTL_CARDS=n
CONFIG_BLK_CGROUP_IOCOST=n
CONFIG_CPU_RMAP=n
CONFIG_RT_MUTEXES=n
CONFIG_NET_VENDOR_SAMSUNG=n
CONFIG_INET_TUNNEL=n
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE=n
CONFIG_CHR_DEV_SG=n
CONFIG_SERIAL_8250_PERICOM=n
CONFIG_X86_REQUIRED_FEATURE_ALWAYS=n
CONFIG_FORCEDETH=n
CONFIG_PAGE_MAPCOUNT=n
CONFIG_ARCH_USES_PG_ARCH_2=n
CONFIG_NET_VENDOR_NI=n
CONFIG_INPUT_TOUCHSCREEN=n
CONFIG_HW_RANDOM_INTEL=n
CONFIG_HAVE_ACPI_APEI_NMI=n
CONFIG_PNFS_FILE_LAYOUT=n
CONFIG_GENERIC_STRNCPY_FROM_USER=n
CONFIG_KEYBOARD_ATKBD=n
CONFIG_EARLY_PRINTK_USB=n
CONFIG_ACPI_VIDEO=n
CONFIG_HAVE_CMPXCHG_LOCAL=n
CONFIG_QUEUED_SPINLOCKS=n
CONFIG_CC_NO_ARRAY_BOUNDS=n
CONFIG_DEBUG_DEVRES=n
CONFIG_HAVE_POSIX_CPU_TIMERS_TASK_WORK=n
CONFIG_IO_URING_BPF=n
CONFIG_MAC80211_LEDS=n
CONFIG_KPROBE_EVENTS=n
CONFIG_ARCH_SUPPORTS_SCHED_CLUSTER=n
CONFIG_FIB_RULES=n
CONFIG_HAVE_ARCH_THREAD_STRUCT_WHITELIST=n
CONFIG_BLK_DEBUG_FS=n
CONFIG_THREAD_INFO_IN_TASK=n
CONFIG_X86_DISABLED_FEATURE_SGX=n
CONFIG_QUEUED_RWLOCKS=n
CONFIG_HAVE_HARDLOCKUP_DETECTOR_BUDDY=n
CONFIG_CRYPTO_RSA=n
CONFIG_SND_HDA_CORE=n
CONFIG_MOUSE_PS2_FOCALTECH=n
CONFIG_PROC_EVENTS=n
CONFIG_QUOTA=n
CONFIG_RSEQ=n
CONFIG_DNOTIFY=n
CONFIG_HAVE_GENERIC_TIF_BITS=n
CONFIG_NET_VENDOR_NETRONOME=n
CONFIG_ARCH_SUPPORTS_HUGETLBFS=n
CONFIG_BLK_DEV_BSG=n
CONFIG_PAGE_SIZE_LESS_THAN_64KB=n
CONFIG_ARCH_MHP_MEMMAP_ON_MEMORY_ENABLE=n
CONFIG_SECURITY=n
CONFIG_ARCH_USE_CMPXCHG_LOCKREF=n
CONFIG_CC_HAS_KASAN_SW_TAGS=n
CONFIG_LZ4_COMPRESS=n
CONFIG_X86_AMD_PSTATE=n
CONFIG_MD_BITMAP_FILE=n
CONFIG_MITIGATION_RETPOLINE=n
CONFIG_TMPFS=n
CONFIG_DEVTMPFS_MOUNT=n
CONFIG_YENTA_O2=n
CONFIG_IRQ_FORCED_THREADING=n
CONFIG_PCI_QUIRKS=n
CONFIG_NETFILTER_XT_MARK=n
CONFIG_SERIAL_8250_DETECT_IRQ=n
CONFIG_GCC_NO_STRINGOP_OVERFLOW=n
CONFIG_MEMFD_CREATE=n
CONFIG_WLAN_VENDOR_RALINK=n
CONFIG_X86_DISABLED_FEATURE_CALL_DEPTH=n
CONFIG_NF_NAT_MASQUERADE=n
CONFIG_SND_HDA=n
CONFIG_USB_DEFAULT_PERSIST=n
CONFIG_HAVE_MOD_ARCH_SPECIFIC=n
CONFIG_HW_RANDOM_AMD=n
CONFIG_PTP_1588_CLOCK=n
CONFIG_X86_DISABLED_FEATURE_ENQCMD=n
CONFIG_RWSEM_SPIN_ON_OWNER=n
CONFIG_MQ_IOSCHED_KYBER=n
CONFIG_NLATTR=n
CONFIG_I2C_HID=n
CONFIG_ARCH_MAY_HAVE_PC_FDC=n
CONFIG_MITIGATION_MDS=n
CONFIG_DRM_I915_CAPTURE_ERROR=n
CONFIG_I2C_BOARDINFO=n
CONFIG_MITIGATION_MMIO_STALE_DATA=n
CONFIG_APERTURE_HELPERS=n
CONFIG_BLK_DEV_DM_BUILTIN=n
CONFIG_DEFAULT_SECURITY_SELINUX=n
CONFIG_CPU_SUP_CENTAUR=n
CONFIG_ACPI=n
CONFIG_ACPI_THERMAL_LIB=n
CONFIG_TIMERFD=n
CONFIG_NETFILTER_XT_MATCH_CONNTRACK=n
CONFIG_SERIAL_8250_LPSS=n
CONFIG_NET_CLS_ACT=n
CONFIG_IRQ_DOMAIN=n
CONFIG_XZ_DEC_RISCV=n
CONFIG_IOMMU_DMA=n
CONFIG_GENERIC_BITREVERSE=n
CONFIG_UNIX=n
CONFIG_NET_VENDOR_REALTEK=n
CONFIG_VMAP_PFN=n
CONFIG_ETHTOOL_NETLINK=n
CONFIG_LDISC_AUTOLOAD=n
CONFIG_MMU=n
CONFIG_XZ_DEC_SPARC=n
CONFIG_SYSCTL_EXCEPTION_TRACE=n
CONFIG_CRYPTO_CAMELLIA=n
CONFIG_KPROBES=n
CONFIG_BACKLIGHT_CLASS_DEVICE=n
CONFIG_HAVE_DMA_CONTIGUOUS=n
CONFIG_NET_VENDOR_SIS=n
CONFIG_SKY2=n
CONFIG_DYNAMIC_SIGFRAME=n
CONFIG_PNPACPI=n
CONFIG_MICROCODE_INITRD32=n
CONFIG_FONT_AUTOSELECT=n
CONFIG_VGA_CONSOLE=n
CONFIG_EFI_RUNTIME_WRAPPERS=n
CONFIG_HAVE_ARCH_AUDITSYSCALL=n
CONFIG_DEBUG_ENTRY=n
CONFIG_RD_XZ=n
CONFIG_CRYPTO_SEQIV=n
CONFIG_HAVE_PREEMPT_DYNAMIC=n
CONFIG_GENERIC_PENDING_IRQ=n
CONFIG_HAVE_RETHOOK=n
CONFIG_HAS_DMA=n
CONFIG_DEVMEM=n
CONFIG_CRYPTO_LIB_MD5=n
CONFIG_VIRTIO_BLK=n
CONFIG_BPF=n
CONFIG_NETDEVICES=n
CONFIG_HID_SUPPORT=n
CONFIG_PID_NS=n
CONFIG_CGROUP_NET_CLASSID=n
CONFIG_USER_STACKTRACE_SUPPORT=n
CONFIG_RD_LZ4=n
CONFIG_CRYPTO_LIB_AES_ARCH=n
CONFIG_CRYPTO_LIB_ARC4=n
CONFIG_ARCH_SUPPORTS_DEBUG_PAGEALLOC=n
