CONFIG_DRM_DISPLAY_HDCP_HELPER=n
CONFIG_DEBUG_MISC=n
CONFIG_X86_CHECK_BIOS_CORRUPTION=n
CONFIG_NETFILTER_INGRESS=n
CONFIG_ARCH_HAS_UBSAN=n
CONFIG_AMD_NB=n
CONFIG_NF_CONNTRACK_SIP=n
CONFIG_YENTA_ENE_TUNE=n
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE_PUD=n
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE=n
CONFIG_WLAN_VENDOR_MEDIATEK=n
CONFIG_TIGON3=n
CONFIG_CRYPTO_HASH_INFO=n
CONFIG_EXPORTFS=n
CONFIG_CRYPTO_MANAGER2=n
CONFIG_HAVE_GENERIC_TIF_BITS=n
CONFIG_WIRELESS=n
CONFIG_SLUB=n
CONFIG_INPUT=n
CONFIG_TRACEPOINTS=n
CONFIG_DRM_GEM_SHMEM_HELPER=n
CONFIG_IRQ_MSI_LIB=n
CONFIG_IP_PNP_RARP=n
CONFIG_CRYPTO_CCM=n
CONFIG_INTERVAL_TREE=n
CONFIG_CPU_IDLE=n
CONFIG_AUDIT_ARCH=n
CONFIG_CC_HAS_RETURN_THUNK=n
CONFIG_X86_CET=n
CONFIG_LOCKD=n
CONFIG_PARAVIRT_CLOCK=n
CONFIG_SERIAL_8250_PNP=n
CONFIG_MOUSE_PS2_SYNAPTICS_SMBUS=n
CONFIG_BLK_CGROUP_IOLATENCY=n
CONFIG_HZ_1000=n
CONFIG_X86_PLATFORM_DEVICES=n
CONFIG_X86_64_ACPI_NUMA=n
CONFIG_ACPI=n
CONFIG_RETHOOK=n
CONFIG_DEBUG_ENTRY=n
CONFIG_HAVE_ARCH_RANDOMIZE_KSTACK_OFFSET=n
CONFIG_EEPROM_93CX6=n
CONFIG_FONT_SUPPORT=n
CONFIG_NET_VENDOR_NI=n
CONFIG_ARCH_HAS_DEBUG_WX=n
CONFIG_SPLIT_PTE_PTLOCKS=n
CONFIG_SYSVIPC=n
CONFIG_CRYPTO_AES=n
CONFIG_ARCH_HAS_KERNEL_FPU_SUPPORT=n
CONFIG_NET_VENDOR_QLOGIC=n
CONFIG_BLK_CGROUP=n
CONFIG_EFI=n
CONFIG_X86_INTEL_TSX_MODE_AUTO=n
CONFIG_ATA_VERBOSE_ERROR=n
CONFIG_PROC_FS=n
CONFIG_SCSI_COMMON=n
CONFIG_XZ_DEC=n
CONFIG_ARCH_WANT_GENERAL_HUGETLB=n
CONFIG_FUTEX_PI=n
CONFIG_CGROUP_SCHED=n
CONFIG_GENERIC_CPU_DEVICES=n
CONFIG_LTO_NONE=n
CONFIG_WLAN_VENDOR_SILABS=n
CONFIG_PM_SLEEP=n
CONFIG_RANDSTRUCT_NONE=n
CONFIG_GENERIC_IRQ_SHOW=n
CONFIG_WMI_BMOF=n
CONFIG_PRINTK=n
CONFIG_HAVE_FENTRY=n
CONFIG_USB_EHCI_TT_NEWSCHED=n
CONFIG_ARCH_MIGHT_HAVE_PC_PARPORT=n
CONFIG_VIRTIO_ANCHOR=n
CONFIG_X86_REQUIRED_FEATURE_PGE=n
CONFIG_X86_DISABLED_FEATURE_CYRIX_ARR=n
CONFIG_SGL_ALLOC=n
CONFIG_PCI_MSI=n
CONFIG_IOMMU_DEFAULT_DMA_LAZY=n
CONFIG_HAVE_PERF_USER_STACK_DUMP=n
CONFIG_CRC32_ARCH=n
CONFIG_SND_HDA_I915=n
CONFIG_ARCH_SUPPORTS_NUMA_BALANCING=n
CONFIG_MMU=n
CONFIG_ARCH_SUPPORTS_LTO_CLANG_THIN=n
CONFIG_MOUSE_PS2_LOGIPS2PP=n
CONFIG_X86_EXTENDED_PLATFORM=n
CONFIG_ARCH_SUPPORTS_MSEAL_SYSTEM_MAPPINGS=n
CONFIG_MAC80211_LEDS=n
CONFIG_KALLSYMS=n
CONFIG_CRC_OPTIMIZATIONS=n
CONFIG_PERF_EVENTS_INTEL_CSTATE=n
CONFIG_GRO_CELLS=n
CONFIG_CONNECTOR=n
CONFIG_HW_RANDOM_VIA=n
CONFIG_SYSCTL=n
CONFIG_COMPAT_FOR_U64_ALIGNMENT=n
CONFIG_NETWORK_FILESYSTEMS=n
CONFIG_ARCH_WANT_HUGETLB_VMEMMAP_PREINIT=n
CONFIG_IRQ_DOMAIN=n
CONFIG_EFI_EARLYCON=n
CONFIG_ARCH_WANTS_NO_INSTR=n
CONFIG_PKCS7_MESSAGE_PARSER=n
CONFIG_GENERIC_CLOCKEVENTS=n
CONFIG_MOUSE_PS2_BYD=n
CONFIG_KEXEC=n
CONFIG_NEED_PER_CPU_EMBED_FIRST_CHUNK=n
CONFIG_EVENTFD=n
CONFIG_CLOCKSOURCE_WATCHDOG=n
CONFIG_DRM_KMS_HELPER=n
CONFIG_ACPI_PROCESSOR=n
CONFIG_IPV6=n
CONFIG_CPU_SUP_HYGON=n
CONFIG_HAVE_VIRT_CPU_ACCOUNTING_GEN=n
CONFIG_AGP_INTEL=n
CONFIG_NEED_DMA_MAP_STATE=n
CONFIG_SYSFS=n
CONFIG_EDAC_ATOMIC_SCRUB=n
CONFIG_POWER_SUPPLY_HWMON=n
CONFIG_HAVE_PAGE_SIZE_4KB=n
CONFIG_ARCH_SUPPORTS_INT128=n
CONFIG_LZO_DECOMPRESS=n
CONFIG_WLAN_VENDOR_BROADCOM=n
CONFIG_DM_ZERO=n
CONFIG_CRYPTO_ALGAPI=n
CONFIG_THERMAL_NETLINK=n
CONFIG_LD_IS_BFD=n
CONFIG_HAVE_GCC_PLUGINS=n
CONFIG_SND_SEQ_HRTIMER_DEFAULT=n
CONFIG_CGROUP_CPUACCT=n
CONFIG_MOUSE_PS2_FOCALTECH=n
CONFIG_PTDUMP=n
CONFIG_ARCH_SUPPORTS_UPROBES=n
CONFIG_OBJTOOL=n
CONFIG_IO_DELAY_0X80=n
CONFIG_CPU_RMAP=n
CONFIG_CPU_FREQ_GOV_PERFORMANCE=n
CONFIG_X86_CX8=n
CONFIG_SERIO_SERPORT=n
CONFIG_HAS_DMA=n
CONFIG_WLAN_VENDOR_ST=n
CONFIG_PHYLIB=n
CONFIG_EEEPC_LAPTOP=n
CONFIG_USB_PCI_AMD=n
CONFIG_SERIAL_8250_DMA=n
CONFIG_XZ_DEC_ARM=n
CONFIG_DEBUG_FS_ALLOW_ALL=n
CONFIG_HID_PID=n
CONFIG_IOMMU_PT=n
CONFIG_COMPAT_BINFMT_ELF=n
CONFIG_HID_GYRATION=n
CONFIG_NET_VENDOR_CADENCE=n
CONFIG_CRC32=n
CONFIG_HID_GENERIC=n
CONFIG_CONTEXT_SWITCH_TRACER=n
CONFIG_ARCH_CORRECT_STACKTRACE_ON_KRETPROBE=n
CONFIG_X86_ACPI_CPUFREQ_CPB=n
CONFIG_INIT_STACK_ALL_ZERO=n
CONFIG_INOTIFY_USER=n
CONFIG_ACPI_MADT_WAKEUP=n
CONFIG_DMIID=n
CONFIG_SIGNALFD=n
CONFIG_SYMBOLIC_ERRNAME=n
CONFIG_HAVE_STACK_VALIDATION=n
CONFIG_I2C_ALGOBIT=n
CONFIG_DST_CACHE=n
CONFIG_RWSEM_SPIN_ON_OWNER=n
CONFIG_NET_VENDOR_MICROSEMI=n
CONFIG_HAVE_ARCH_KFENCE=n
CONFIG_DMA_OPS_HELPERS=n
CONFIG_X86_DIRECT_GBPAGES=n
CONFIG_PCI_LABEL=n
CONFIG_ARCH_HAS_CPU_FINALIZE_INIT=n
CONFIG_POSIX_MQUEUE=n
CONFIG_SBITMAP=n
CONFIG_NET_VENDOR_AMAZON=n
CONFIG_X86_DISABLED_FEATURE_FRED=n
CONFIG_HAVE_ARCH_KSTACK_ERASE=n
CONFIG_HAVE_PERF_EVENTS_NMI=n
CONFIG_AUXILIARY_BUS=n
CONFIG_HAVE_RSEQ=n
CONFIG_LEGACY_TIOCSTI=n
CONFIG_X86_CPUID=n
CONFIG_ARCH_ENABLE_HUGEPAGE_MIGRATION=n
CONFIG_USB_MON=n
CONFIG_MITIGATION_SPECTRE_V1=n
CONFIG_BLK_MQ_STACKING=n
CONFIG_PM_SLEEP_DEBUG=n
CONFIG_HAVE_EFFICIENT_UNALIGNED_ACCESS=n
CONFIG_HAVE_PERF_REGS=n
CONFIG_HAVE_PERF_EVENTS=n
CONFIG_NEED_SG_DMA_FLAGS=n
CONFIG_X86_REQUIRED_FEATURE_SYSFAST32=n
CONFIG_KERNFS=n
CONFIG_DRM_I915_USERPTR=n
CONFIG_HAVE_DMA_CONTIGUOUS=n
CONFIG_NET_VENDOR_LITEX=n
CONFIG_NETFILTER_XT_TARGET_TCPMSS=n
CONFIG_NLS_ISO8859_1=n
CONFIG_HAVE_GIGANTIC_FOLIOS=n
CONFIG_NETFILTER_NETLINK_LOG=n
CONFIG_SND_INTEL_NHLT=n
CONFIG_ACPI_PRMT=n
CONFIG_MMU_GATHER_RCU_TABLE_FREE=n
CONFIG_ACPI_PROCESSOR_CSTATE=n
CONFIG_HAVE_ARCH_SECCOMP_FILTER=n
CONFIG_PCIEASPM_DEFAULT=n
CONFIG_NET_INGRESS=n
CONFIG_LD_ORPHAN_WARN=n
CONFIG_X86_DISABLED_FEATURE_LAM=n
CONFIG_MODIFY_LDT_SYSCALL=n
CONFIG_NET_VENDOR_MARVELL=n
CONFIG_NET_VENDOR_REALTEK=n
CONFIG_X86_UMIP=n
CONFIG_ATA_PIIX=n
CONFIG_CRASH_DUMP=n
CONFIG_ARCH_SUPPORTS_KEXEC_HANDOVER=n
CONFIG_SND_PCMCIA=n
CONFIG_PROC_SYSCTL=n
CONFIG_FUNCTION_ALIGNMENT_4B=n
CONFIG_BUILDTIME_TABLE_SORT=n
CONFIG_PROC_EVENTS=n
CONFIG_NET_EMATCH=n
CONFIG_DYNAMIC_EVENTS=n
CONFIG_ARCH_SUPPORTS_PAGE_TABLE_CHECK=n
CONFIG_ARCH_SUPPORTS_HUGETLBFS=n
CONFIG_NF_CONNTRACK=n
CONFIG_ARCH_ENABLE_SPLIT_PMD_PTLOCK=n
CONFIG_EFI_MIXED=n
CONFIG_SERIAL_EARLYCON=n
CONFIG_CRYPTO_LIB_ARC4=n
CONFIG_ARCH_SPARSEMEM_ENABLE=n
CONFIG_DEBUG_BUGVERBOSE=n
CONFIG_PROFILING=n
CONFIG_CFG80211=n
CONFIG_ARCH_WANTS_DYNAMIC_TASK_STRUCT=n
CONFIG_SECURITY_SELINUX_DEVELOP=n
CONFIG_ARCH_HAS_STRICT_KERNEL_RWX=n
CONFIG_CFG80211_REQUIRE_SIGNED_REGDB=n
CONFIG_NET_VENDOR_VIA=n
CONFIG_DRM_VIRTIO_GPU=n
CONFIG_HAVE_ARCH_GET_SECUREBOOT=n
CONFIG_USB_OHCI_LITTLE_ENDIAN=n
CONFIG_X86_REQUIRED_FEATURE_MSR=n
CONFIG_PROC_KCORE=n
CONFIG_CGROUP_HUGETLB=n
CONFIG_HALTPOLL_CPUIDLE=n
CONFIG_RD_LZO=n
CONFIG_PTP_1588_CLOCK_VMCLOCK=n
CONFIG_NET_VENDOR_MELLANOX=n
CONFIG_EXT4_USE_FOR_EXT2=n
CONFIG_NOP_TRACER=n
CONFIG_SERIAL_NONSTANDARD=n
CONFIG_SURFACE_PLATFORMS=n
CONFIG_OPTPROBES=n
CONFIG_FIRMWARE_TABLE=n
CONFIG_MITIGATION_UNRET_ENTRY=n
CONFIG_ACPI_AC=n
CONFIG_MOUSE_PS2_LIFEBOOK=n
CONFIG_CRYPTO_SIG=n
CONFIG_KCMP=n
CONFIG_MOUSE_PS2_SMBUS=n
CONFIG_RTC_I2C_AND_SPI=n
CONFIG_SCSI_MOD=n
CONFIG_EPROBE_EVENTS=n
CONFIG_ARCH_SUPPORTS_SCHED_MC=n
CONFIG_RSEQ=n
CONFIG_DEVMEM=n
CONFIG_HAVE_NOINSTR_VALIDATION=n
CONFIG_NF_NAT_SIP=n
CONFIG_TASK_XACCT=n
CONFIG_PAGE_SIZE_4KB=n
CONFIG_NET_VENDOR_WANGXUN=n
CONFIG_EARLY_PRINTK_USB=n
CONFIG_FS_IOMAP=n
CONFIG_QUOTA=n
CONFIG_LEDS_CLASS=n
CONFIG_ARCH_USE_MEMTEST=n
CONFIG_RTL_CARDS=n
CONFIG_CPU_SUP_INTEL=n
CONFIG_X86_LOCAL_APIC=n
CONFIG_HUGETLBFS=n
CONFIG_GENERIC_IOMAP=n
CONFIG_GENERIC_CLOCKEVENTS_COUPLED=n
CONFIG_VIRTIO_PCI=n
CONFIG_GENERIC_ENTRY=n
CONFIG_FORCEDETH=n
CONFIG_MITIGATION_SSB=n
CONFIG_CC_IS_GCC=n
CONFIG_NFS_V3=n
CONFIG_MITIGATION_RETHUNK=n
CONFIG_ARCH_SUPPORTS_DEBUG_PAGEALLOC=n
CONFIG_EDAC_SUPPORT=n
CONFIG_HAVE_GUP_FAST=n
CONFIG_RFKILL_INPUT=n
CONFIG_GENERIC_VDSO_OVERFLOW_PROTECT=n
CONFIG_BUFFER_HEAD=n
CONFIG_GPIOLIB_LEGACY=n
CONFIG_QUEUED_SPINLOCKS=n
CONFIG_USB_PRINTER=n
CONFIG_MISC_FILESYSTEMS=n
CONFIG_USB_XHCI_HCD=n
