CONFIG_FSL_DPAA2_PTP_CLOCK=n
CONFIG_LOCKD_V4=n
CONFIG_FRAME_POINTER=n
CONFIG_PHY_UNIPHIER_AHCI=n
CONFIG_SND_SOC_MT8365=n
CONFIG_EFI_STUB=n
CONFIG_ARCH_USE_MEMREMAP_PROT=n
CONFIG_OWL_PM_DOMAINS_HELPER=n
CONFIG_BT_HCIUART_QCA=n
CONFIG_PREEMPT_BUILD=n
CONFIG_PARAVIRT=n
CONFIG_FAILOVER=n
CONFIG_CRYPTO_LIB_SHA256_ARCH=n
CONFIG_SYS_HYPERVISOR=n
CONFIG_LEDS_CROS_EC=n
CONFIG_STRICT_DEVMEM=n
CONFIG_USB_OHCI_HCD_PCI=n
CONFIG_PINCTRL_SX150X=n
CONFIG_RESET_IMX8MP_AUDIOMIX=n
CONFIG_HAVE_PWRCTRL=n
CONFIG_STM_PROTO_SYS_T=n
CONFIG_PINCTRL_MT8195=n
CONFIG_ARCH_R8A77960=n
CONFIG_PINCTRL_PFC_R8A77995=n
CONFIG_ARCH_SUPPORTS_LTO_CLANG_THIN=n
CONFIG_SH_TIMER_CMT=n
CONFIG_SND_PCM_TIMER=n
CONFIG_ARM_AIROHA_SOC_CPUFREQ=n
CONFIG_MTD_NAND_DENALI_DT=n
CONFIG_PINCTRL_TEGRA124=n
CONFIG_DRM_DISPLAY_CONNECTOR=n
CONFIG_SM_CAMCC_8250=n
CONFIG_WLAN_VENDOR_RALINK=n
CONFIG_VIRTIO_PCI=n
CONFIG_PHY_FSL_SAMSUNG_HDMI_PHY=n
CONFIG_VIRTIO_ANCHOR=n
CONFIG_MTD_CFI_UTIL=n
CONFIG_SND_HDA=n
CONFIG_BT_HCIBTUSB_BCM=n
CONFIG_SCHED_INFO=n
CONFIG_SND_SOC_SOF_MT8186=n
CONFIG_ARCH_R9A09G047=n
CONFIG_KVM=n
CONFIG_WLAN_VENDOR_SILABS=n
CONFIG_RTC_DRV_XGENE=n
CONFIG_ROCKCHIP_PM_DOMAINS=n
CONFIG_GPIO_TPIC2810=n
CONFIG_MISC_RP1=n
CONFIG_I2C_RIIC=n
CONFIG_SERIAL_MCTRL_GPIO=n
CONFIG_SND_SOC_MSM8916_WCD_ANALOG=n
CONFIG_ACPI_APEI_SEA=n
CONFIG_GENERIC_PHY=n
CONFIG_NO_HZ_IDLE=n
CONFIG_EFI_ESRT=n
CONFIG_ARCH_HAS_SUBPAGE_FAULTS=n
CONFIG_HISILICON_ERRATUM_162100125=n
CONFIG_DUMMY_CONSOLE=n
CONFIG_VIDEO_RCAR_DRIF=n
CONFIG_NXP_ENETC_PF_COMMON=n
CONFIG_FANOTIFY_ACCESS_PERMISSIONS=n
CONFIG_HAVE_KVM_DIRTY_RING_ACQ_REL=n
CONFIG_SYSC_R8A77960=n
CONFIG_ASPEED_LPC_CTRL=n
CONFIG_IOMMU_IO_PGTABLE_DART=n
CONFIG_COMMON_CLK_MT7986=n
CONFIG_MVEBU_PIC=n
CONFIG_ATA_ACPI=n
CONFIG_SND_SOC_QDSP6=n
CONFIG_CRYPTO_LIB_GF128MUL=n
CONFIG_VIDEO_OV5645=n
CONFIG_SND_SOC_SAMSUNG=n
CONFIG_SENSORS_ARM_SCMI=n
CONFIG_RESET_TI_SCI=n
CONFIG_XEN_NETDEV_FRONTEND=n
CONFIG_REGULATOR_TPS65219=n
CONFIG_MTK_CMDQ=n
CONFIG_DRM_NWL_MIPI_DSI=n
CONFIG_CONTIG_ALLOC=n
CONFIG_SM_CAMCC_8650=n
CONFIG_ARCH_HAS_BATCHED_DMA_SYNC=n
CONFIG_COMMON_CLK_AXG=n
CONFIG_MEDIA_TUNER_TDA9887=n
CONFIG_SND_DRIVERS=n
CONFIG_RTC_DRV_MAX77686=n
CONFIG_PINCTRL_APPLE_GPIO=n
CONFIG_ARCH_HAS_PTE_SPECIAL=n
CONFIG_PINCTRL_SC7280_LPASS_LPI=n
CONFIG_EEPROM_AT24=n
CONFIG_INTERCONNECT_QCOM_SM8650=n
CONFIG_CRYPTO_DEV_BCM_SPU=n
CONFIG_PCIE_TEGRA194_EP=n
CONFIG_POWER_RESET_MACSMC=n
CONFIG_VIDEO_IMX7_CSI=n
CONFIG_GPIO_RCAR=n
CONFIG_PINCTRL_UNIPHIER_LD20=n
CONFIG_PCPU_DEV_REFCNT=n
CONFIG_ARM_SCMI_HAVE_TRANSPORT=n
CONFIG_DRM_HISI_HIBMC=n
CONFIG_DRM_PANFROST=n
CONFIG_SPI_BCM2835AUX=n
CONFIG_CRYPTO_SM4_GENERIC=n
CONFIG_RENESAS_USB_DMAC=n
CONFIG_EDAC_ZYNQMP=n
CONFIG_PTP_1588_CLOCK=n
CONFIG_SND_SOC_TI_SDMA_PCM=n
CONFIG_DTC=n
CONFIG_GPIO_IMX_SCU=n
CONFIG_MFD_ROHM_BD718XX=n
CONFIG_CLK_R9A09G057=n
CONFIG_CC_HAS_ZERO_CALL_USED_REGS=n
CONFIG_NO_HZ_COMMON=n
CONFIG_HAVE_KVM_IRQCHIP=n
CONFIG_LOCKDEP_SUPPORT=n
CONFIG_PINCTRL_MESON=n
CONFIG_NVME_APPLE=n
CONFIG_BPF=n
CONFIG_EXTCON_PTN5150=n
CONFIG_ARM64_WORKAROUND_SPECULATIVE_AT=n
CONFIG_RTC_INTF_PROC=n
CONFIG_PCIE_KIRIN=n
CONFIG_DRM_MSM_DSI_10NM_PHY=n
CONFIG_IRQ_DOMAIN=n
CONFIG_SND_MESON_G12A_TOHDMITX=n
CONFIG_DRM_CDNS_DSI_J721E=n
CONFIG_PHY_UNIPHIER_USB2=n
CONFIG_MPL3115=n
CONFIG_NFS_V4_SECURITY_LABEL=n
CONFIG_PINCTRL_UNIPHIER_LD11=n
CONFIG_TRACE_IRQFLAGS_SUPPORT=n
CONFIG_EFI_CUSTOM_SSDT_OVERLAYS=n
CONFIG_MDIO_BUS_MUX_MULTIPLEXER=n
CONFIG_CORESIGHT_CATU=n
CONFIG_BCMASP=n
CONFIG_SOC_TI=n
CONFIG_TYPEC_MUX_PTN36502=n
CONFIG_BRIDGE_NETFILTER=n
CONFIG_VIDEO_RCAR_CSI2=n
CONFIG_OF_FPGA_REGION=n
CONFIG_HAVE_FUNCTION_GRAPH_FREGS=n
CONFIG_COMMON_CLK_MT8167=n
CONFIG_LD_ORPHAN_WARN=n
CONFIG_SPMI=n
CONFIG_APPLE_M1_CPU_PMU=n
CONFIG_RTC_DRV_RENESAS_RTCA3=n
CONFIG_CLK_MA35D1=n
CONFIG_XEN_GNTDEV=n
CONFIG_PWRSEQ_SIMPLE=n
CONFIG_COMMON_CLK_MT6795_MFGCFG=n
CONFIG_QRTR_MHI=n
CONFIG_TYPEC_DP_ALTMODE=n
CONFIG_FUSE_FS=n
CONFIG_CRYPTO_HASH_INFO=n
CONFIG_GPIO_TPS65219=n
CONFIG_DRM_ITE_IT6263=n
CONFIG_QCOM_CPR=n
CONFIG_PHY_CADENCE_DPHY=n
CONFIG_DRM_PANEL_SAMSUNG_ATNA33XC20=n
CONFIG_MEMCG=n
CONFIG_VIDEOBUF2_MEMOPS=n
CONFIG_SND_SOC_WM_HUBS=n
CONFIG_RPMSG_CTRL=n
CONFIG_DRM_DISPLAY_DP_AUX_BUS=n
CONFIG_GPIO_CDEV=n
CONFIG_PINCTRL_STM32MP257=n
CONFIG_SCREEN_INFO=n
CONFIG_MARVELL_GTI_WDT=n
CONFIG_HBMC_AM654=n
CONFIG_ARCH_DEFAULT_CRASH_DUMP=n
CONFIG_DRM_DW_HDMI_AHB_AUDIO=n
CONFIG_SPI_SUN6I=n
CONFIG_PINCTRL_SM7150=n
CONFIG_SND_SOC_TLV320AIC31XX=n
CONFIG_GCC_NO_STRINGOP_OVERFLOW=n
CONFIG_DW_APB_TIMER_OF=n
CONFIG_QCOM_COMMAND_DB=n
CONFIG_SM_GCC_8550=n
CONFIG_SM_GPUCC_8650=n
CONFIG_CRYPTO_LIB_AES_ARCH=n
CONFIG_VIDEO_MEDIATEK_VCODEC_SCP=n
CONFIG_GPIO_XGENE_SB=n
CONFIG_PCI_LAYERSCAPE=n
CONFIG_ASPEED_UART_ROUTING=n
CONFIG_MT76_CONNAC_LIB=n
CONFIG_MESON_GXBB_WATCHDOG=n
CONFIG_ARCH_R8A77965=n
CONFIG_IMX_REMOTEPROC=n
CONFIG_RT_MUTEXES=n
CONFIG_DMA_NONCOHERENT_MMAP=n
CONFIG_PINCTRL_RTD1619B=n
CONFIG_BLK_INLINE_ENCRYPTION=n
CONFIG_PHY_TI_GMII_SEL=n
CONFIG_SM_DISPCC_MILOS=n
CONFIG_USB_OHCI_HCD=n
CONFIG_CRYPTO_LIB_SHA256=n
CONFIG_HAVE_ARCH_VMAP_STACK=n
CONFIG_PINCTRL_MT6878=n
CONFIG_RFKILL_GPIO=n
CONFIG_FSL_ENETC_VF=n
CONFIG_MMC_SPI=n
CONFIG_RENESAS_OSTM=n
CONFIG_TEGRA_AHB=n
CONFIG_CFG80211=n
CONFIG_SND_MESON_AXG_SPDIFOUT=n
CONFIG_MESON_SARADC=n
CONFIG_DW_EDMA=n
CONFIG_HAVE_STACKPROTECTOR=n
CONFIG_DEVFREQ_THERMAL=n
CONFIG_SENSORS_LM90=n
CONFIG_MESON_WATCHDOG=n
CONFIG_CLK_R8A774A1=n
CONFIG_IRQ_POLL=n
CONFIG_HAVE_KVM_IRQ_ROUTING=n
CONFIG_COUNTER=n
CONFIG_VIDEO_IMX_MIPI_CSIS=n
CONFIG_SYSTEMPORT=n
CONFIG_SG_SPLIT=n
CONFIG_XEN_AUTO_XLATE=n
CONFIG_OF_RESOLVE=n
CONFIG_MWIFIEX_SDIO=n
CONFIG_STM=n
CONFIG_HW_RANDOM_IPROC_RNG200=n
CONFIG_RPS=n
CONFIG_USB_XHCI_PCI=n
CONFIG_SCSI_UFS_CDNS_PLATFORM=n
CONFIG_BRCMSTB_GISB_ARB=n
CONFIG_RESET_RASPBERRYPI=n
CONFIG_ARCH_ENABLE_THP_MIGRATION=n
CONFIG_INDIRECT_PIO=n
CONFIG_RENESAS_RPCIF=n
CONFIG_MACVLAN=n
CONFIG_V4L2_CCI=n
CONFIG_SUNRPC_BACKCHANNEL=n
CONFIG_TI_AM335X_ADC=n
CONFIG_NETFS_SUPPORT=n
CONFIG_SERIAL_BCM63XX=n
CONFIG_ARCH_HAS_FAST_MULTIPLIER=n
CONFIG_MSM_MMCC_8998=n
CONFIG_SYSC_R8A774C0=n
CONFIG_POWER_RESET_GPIO_RESTART=n
CONFIG_SCHED_SMT=n
CONFIG_HAVE_HARDLOCKUP_DETECTOR_BUDDY=n
CONFIG_XEN_BACKEND=n
CONFIG_NET_DSA_MSCC_FELIX_DSA_LIB=n
CONFIG_MEDIA_PLATFORM_DRIVERS=n
CONFIG_RUSTC_HAS_FILE_WITH_NUL=n
CONFIG_BGMAC_PLATFORM=n
CONFIG_ACPI_REDUCED_HARDWARE_ONLY=n
CONFIG_DEBUG_INFO_DWARF_TOOLCHAIN_DEFAULT=n
CONFIG_DNOTIFY=n
CONFIG_PCS_LYNX=n
CONFIG_COMMON_CLK_IPROC=n
CONFIG_ARCH_APPLE=n
CONFIG_ARCH_SUPPORTS_INT128=n
CONFIG_PINCTRL_SUN50I_H6_R=n
CONFIG_CRYPTO_DEV_HISI_ZIP=n
CONFIG_ARCH_HIBERNATION_POSSIBLE=n
CONFIG_RENESAS_RZV2H_ICU=n
CONFIG_CC_IS_GCC=n
CONFIG_KSM=n
CONFIG_QCOM_HFPLL=n
CONFIG_MTK_DEVAPC=n
CONFIG_HID_MULTITOUCH=n
CONFIG_USE_PERCPU_NUMA_NODE_ID=n
CONFIG_COMMON_CLK_FSL_FLEXSPI=n
CONFIG_CRYPTO_USER_API=n
CONFIG_RTC_HCTOSYS=n
CONFIG_ARCH_HAS_GCOV_PROFILE_ALL=n
CONFIG_FB_SYS_IMAGEBLIT=n
CONFIG_NUMA_MIGRATION=n
CONFIG_FHANDLE=n
CONFIG_SND_SOC_TEGRA210_I2S=n
CONFIG_CIX_MBOX=n
CONFIG_ARCH_SUPPORTS_CRASH_DUMP=n
CONFIG_DMI=n
CONFIG_RTC_DRV_IMX_BBM_SCMI=n
CONFIG_NVMEM_MAX77759=n
CONFIG_PCI_XGENE=n
CONFIG_NET_DSA_TAG_BRCM_COMMON=n
CONFIG_ACPI_FAN=n
CONFIG_SND_DYNAMIC_MINORS=n
CONFIG_ARCH_RCAR_GEN4=n
CONFIG_ARCH_SUPPORTS_SCHED_SMT=n
CONFIG_IRQ_DOMAIN_HIERARCHY=n
CONFIG_RPMSG=n
CONFIG_TEGRA186_GPC_DMA=n
CONFIG_R8169=n
CONFIG_MLX5_BRIDGE=n
CONFIG_NOP_USB_XCEIV=n
CONFIG_MEDIA_TUNER_TDA8290=n
CONFIG_CROS_EC_RPMSG=n
CONFIG_DWMAC_MEDIATEK=n
CONFIG_IOMMU_IO_PGTABLE_ARMV7S=n
CONFIG_IPQ_APSS_6018=n
CONFIG_SND_SOC_RK3399_GRU_SOUND=n
CONFIG_QRTR_TUN=n
CONFIG_FIND_NORMAL_PAGE=n
CONFIG_PCIE_CADENCE=n
CONFIG_WCN36XX=n
CONFIG_SERIAL_STM32_CONSOLE=n
