CONFIG_GPIO_MAX732X_IRQ=y
CONFIG_COMMON_CLK_MT8192_IPESYS=y
CONFIG_DEVICE_PRIVATE=y
CONFIG_GPIO_TEGRA=y
CONFIG_TCG_TPM=y
CONFIG_SERIO_GPIO_PS2=y
CONFIG_ALTERA_MSGDMA=y
CONFIG_RESET_TENSTORRENT_ATLANTIS=y
CONFIG_CPU_SUP_AMD=y
CONFIG_ADC_BATTERY_HELPER=y
CONFIG_CMA_DEBUGFS=y
CONFIG_TOUCHSCREEN_WDT87XX_I2C=y
CONFIG_COMMON_CLK_MT8186_VDECSYS=y
CONFIG_USB_OHCI_LITTLE_ENDIAN=y
CONFIG_HAVE_ARCH_HUGE_VMAP=y
CONFIG_TOUCHSCREEN_ZINITIX=y
CONFIG_TEST_HMM=y
CONFIG_ADV_SWBUTTON=y
CONFIG_WATCHDOG_PRETIMEOUT_GOV_SEL=y
CONFIG_SLAB_OBJ_EXT=y
CONFIG_APPLE_WATCHDOG=y
CONFIG_SPACEMIT_CCU=y
CONFIG_MFD_BCM590XX=y
CONFIG_CHARGER_BQ24735=y
CONFIG_ARCH_ENABLE_SPLIT_PMD_PTLOCK=y
CONFIG_CLK_R8A774A1=y
CONFIG_SENSORS_MP2993=y
CONFIG_HAVE_CONTEXT_TRACKING_USER=y
CONFIG_HAVE_EXIT_THREAD=y
CONFIG_PINCTRL_PFC_R8A779F0=y
CONFIG_SENSORS_ADC128D818=y
CONFIG_PWM_RENESAS_RCAR=y
CONFIG_PER_VMA_LOCK=y
CONFIG_ARM_SCMI_HAVE_TRANSPORT=y
CONFIG_ST_FDMA=y
CONFIG_COMMON_CLK_MT6779_MMSYS=y
CONFIG_FORTIFY_SOURCE=y
CONFIG_TOUCHSCREEN_MELFAS_MIP4=y
CONFIG_SECURITY=y
CONFIG_I2C_PXA=y
CONFIG_RESET_NPCM=y
CONFIG_TOOLS_SUPPORT_RELR=y
CONFIG_WATCHDOG=y
CONFIG_ARCH_SUPPORTS_ACPI=y
CONFIG_EXTCON_MAX14526=y
CONFIG_CRAMFS_BLOCKDEV=y
CONFIG_SERIAL_CORE_CONSOLE=y
CONFIG_WATCHDOG_NOWAYOUT=y
CONFIG_QFMT_V1=y
CONFIG_SCHED_CLUSTER=y
CONFIG_UNWINDER_FRAME_POINTER=y
CONFIG_VIDEO=y
CONFIG_DMADEVICES=y
CONFIG_BUG_ON_DATA_CORRUPTION=y
CONFIG_ARCH_USE_CMPXCHG_LOCKREF=y
CONFIG_ARCH_SELECTS_KEXEC_FILE=y
CONFIG_FSL_DPAA_CHECKING=y
CONFIG_BACKLIGHT_AW99706=y
CONFIG_INPUT_MOUSEDEV=y
CONFIG_TOUCHSCREEN_EDT_FT5X06=y
CONFIG_PINCTRL_PFC_SH73A0=y
CONFIG_CLK_HSDK=y
CONFIG_HAVE_PERF_EVENTS_NMI=y
CONFIG_X86_REQUIRED_FEATURE_ALWAYS=y
CONFIG_FUTEX_PRIVATE_HASH=y
CONFIG_SAMPLE_TPS6594_PFSM=y
CONFIG_ARCH_HAS_DEVMEM_IS_ALLOWED=y
CONFIG_X86_ESPFIX64=y
CONFIG_CRYPTO_AES_NI_INTEL=y
CONFIG_ECRYPT_FS=y
CONFIG_HAVE_FUNCTION_TRACER=y
CONFIG_CRYPTO_HASH_INFO=y
CONFIG_MM_ID=y
CONFIG_XZ_DEC_X86=y
CONFIG_X86_DISABLED_FEATURE_RETPOLINE_LFENCE=y
CONFIG_HAVE_PCSPKR_PLATFORM=y
CONFIG_ARCH_HAS_SET_DIRECT_MAP=y
CONFIG_TS4800_IRQ=y
CONFIG_GPIO_IMX_SCU=y
CONFIG_BACKLIGHT_ARCXCNN=y
CONFIG_REGMAP_IRQ=y
CONFIG_SENSORS_ADM1026=y
CONFIG_CRYPTO_STREEBOG=y
CONFIG_LEDS_LM36274=y
CONFIG_UEFI_CPER=y
CONFIG_SYSC_R8A77970=y
CONFIG_MFD_DA9063=y
CONFIG_CLK_R9A08G046=y
CONFIG_CRC_T10DIF=y
CONFIG_RANDOM32_SELFTEST=y
CONFIG_MFD_MXS_LRADC=y
CONFIG_RPMSG=y
CONFIG_ASN1=y
CONFIG_ZSWAP_SHRINKER_DEFAULT_ON=y
CONFIG_TOUCHSCREEN_PIXCIR=y
CONFIG_SLIMBUS=y
CONFIG_XEN_COMPAT_XENFS=y
CONFIG_LRU_GEN_ENABLED=y
CONFIG_FB_IBM_GXT4500=y
CONFIG_MANAGER_SBS=y
CONFIG_EXTCON_FSA9480=y
CONFIG_GPD_POCKET_FAN=y
CONFIG_ARCH_USE_SYM_ANNOTATIONS=y
CONFIG_HW_RANDOM_TIMERIOMEM=y
CONFIG_SENSORS_XDPE1A2G7B=y
CONFIG_SENSORS_PMBUS=y
CONFIG_SOC_TEGRA20_VOLTAGE_COUPLER=y
CONFIG_REGULATOR_MT6358=y
CONFIG_DEVICE_MIGRATION=y
CONFIG_GPIO_WATCHDOG=y
CONFIG_GPIO_BLZP1600=y
CONFIG_TPS6105X=y
CONFIG_ARCH_MHP_MEMMAP_ON_MEMORY_ENABLE=y
CONFIG_VT_CONSOLE=y
CONFIG_SENSORS_VIA_CPUTEMP=y
CONFIG_RD_ZSTD=y
CONFIG_BATTERY_GOLDFISH=y
CONFIG_SENSORS_INSPUR_IPSPS=y
CONFIG_COMMON_CLK_MT7629=y
CONFIG_TOUCHSCREEN_MXS_LRADC=y
CONFIG_THREAD_INFO_IN_TASK=y
CONFIG_SECURITY_LOCKDOWN_LSM_EARLY=y
CONFIG_COMMON_CLK_MT6735=y
CONFIG_IR_MESON=y
CONFIG_NLS_CODEPAGE_437=y
CONFIG_EXT4_FS_SECURITY=y
CONFIG_MIGRATION=y
CONFIG_BLK_PM=y
CONFIG_SENSORS_LATTEPANDA_SIGMA_EC=y
CONFIG_NLS_MAC_CENTEURO=y
CONFIG_MINIX_SUBPARTITION=y
CONFIG_RC_DEVICES=y
CONFIG_CRYPTO_LIB_SHA256_ARCH=y
CONFIG_SATA_ZPODD=y
CONFIG_I2C_NOMADIK=y
CONFIG_TEGRA124_EMC=y
CONFIG_INTEL_SMARTCONNECT=y
CONFIG_NTFS_FS_POSIX_ACL=y
CONFIG_GENERIC_STRNCPY_FROM_USER=y
CONFIG_SUN6I_RTC_CCU=y
CONFIG_HAVE_DEBUG_KMEMLEAK=y
CONFIG_REGULATOR_MT6359=y
CONFIG_FB_TILEBLITTING=y
CONFIG_BINFMT_MISC=y
CONFIG_DECOMPRESS_ZSTD=y
CONFIG_PWM_LOONGSON=y
CONFIG_GPIO_LATCH=y
CONFIG_SENSORS_SPD5118_DETECT=y
CONFIG_CRYPTO_CTR=y
CONFIG_REGULATOR_S5M8767=y
CONFIG_SENSORS_LTC3815=y
CONFIG_TOUCHSCREEN_TOUCHIT213=y
CONFIG_ARM_SCMI_TRANSPORT_VIRTIO=y
CONFIG_STM=y
CONFIG_X86_DIRECT_GBPAGES=y
CONFIG_I2C_TAOS_EVM=y
CONFIG_ASPEED_LPC_CTRL=y
CONFIG_GPIO_AGGREGATOR=y
CONFIG_GENERIC_CLOCKEVENTS_MIN_ADJUST=y
CONFIG_DMAPOOL_TEST=y
CONFIG_PHY_STARFIVE_JH7110_PCIE=y
CONFIG_NVMEM_MESON_MX_EFUSE=y
CONFIG_ARM_APPLE_SOC_CPUFREQ=y
CONFIG_SECURITY_LOADPIN=y
CONFIG_ARM_SCMI_RAW_MODE_SUPPORT_COEX=y
CONFIG_LEGACY_TIOCSTI=y
CONFIG_GENERIC_IRQ_RESERVATION_MODE=y
CONFIG_I2C_SLAVE_TESTUNIT=y
CONFIG_HTE=y
CONFIG_COMPAT_32=y
CONFIG_LEDS_AS3645A=y
CONFIG_HAVE_EBPF_JIT=y
CONFIG_BUG=y
CONFIG_JH71XX_PMU=y
CONFIG_TRUSTED_KEYS=y
CONFIG_OMAP_WATCHDOG=y
CONFIG_XEN_ACPI=y
CONFIG_INTEL_SAR_INT1092=y
CONFIG_REGULATOR_QCOM_LABIBB=y
CONFIG_W83977F_WDT=y
CONFIG_INGENIC_CGU_JZ4740=y
CONFIG_X86_INTEL_MEMORY_PROTECTION_KEYS=y
CONFIG_HWSPINLOCK_OMAP=y
CONFIG_CDNS_I3C_MASTER=y
CONFIG_JFS_STATISTICS=y
CONFIG_CRYPTO_ECB=y
CONFIG_SENSORS_LTC4222=y
CONFIG_TOUCHSCREEN_HIMAX_HX83112B=y
CONFIG_FPGA_MGR_ZYNQ_FPGA=y
CONFIG_GPIO_MAX7360=y
CONFIG_SURFACE_ACPI_NOTIFY=y
CONFIG_BATTERY_DS2782=y
CONFIG_SYSFB=y
CONFIG_ARM_SUN8I_A33_MBUS_DEVFREQ=y
CONFIG_ARCH_WANT_LD_ORPHAN_WARN=y
CONFIG_SOPHGO_SG2044_TOPSYS=y
CONFIG_HAVE_ARCH_PREL32_RELOCATIONS=y
CONFIG_REGULATOR_MAX77838=y
CONFIG_CHARLCD=y
CONFIG_CLK_R8A77990=y
CONFIG_HAVE_OBJTOOL=y
CONFIG_SERIAL_FSL_LINFLEXUART=y
CONFIG_MEMBARRIER=y
CONFIG_CRC_ITU_T=y
CONFIG_INGENIC_CGU_JZ4760=y
CONFIG_MACINTOSH_DRIVERS=y
CONFIG_HAVE_ACPI_APEI_NMI=y
CONFIG_CC_HAS_KASAN_SW_TAGS=y
CONFIG_SERIAL_MCTRL_GPIO=y
CONFIG_POWER_RESET_TPS65086=y
CONFIG_REGULATOR_TPS68470=y
CONFIG_REGULATOR_TPS62360=y
CONFIG_MFD_MP2629=y
CONFIG_TRANSPARENT_HUGEPAGE_MADVISE=y
CONFIG_ATA_ACPI=y
CONFIG_ECRYPT_FS_MESSAGING=y
CONFIG_IPMI_HANDLER=y
CONFIG_KS0108=y
CONFIG_SCSI_UFS_AMD_VERSAL2=y
CONFIG_REGULATOR_MT6331=y
CONFIG_SENSORS_MP9941=y
CONFIG_GPIO_ASPEED_SGPIO=y
CONFIG_NVME_HOST_AUTH=y
CONFIG_MFD_WM8350=y
CONFIG_X86_DISABLED_FEATURE_LAM=y
CONFIG_NVMEM_LPC18XX_EEPROM=y
CONFIG_NLS_MAC_ICELAND=y
CONFIG_CC_IS_GCC=y
CONFIG_EVENTFD=y
CONFIG_SAMPLE_CHECK_EXEC=y
CONFIG_CRYPTO_KRB5ENC=y
CONFIG_GPIO_LP873X=y
CONFIG_GPIOLIB_IRQCHIP=y
CONFIG_MV_XOR=y
CONFIG_EXTCON_PTN5150=y
CONFIG_CHARGER_MAX77693=y
CONFIG_CHARGER_MAX77976=y
CONFIG_TRACE_GPU_MEM=y
CONFIG_PINCTRL_BROXTON=y
CONFIG_GPIO_IT87=y
CONFIG_GPIO_WM831X=y
CONFIG_KEYBOARD_OPENCORES=y
CONFIG_W1_SLAVE_DS2781=y
CONFIG_COMMON_CLK_MT6779=y
CONFIG_TEST_MEMINIT=y
CONFIG_MFD_AXP20X_I2C=y
CONFIG_BLK_DEV_BSGLIB=y
CONFIG_SENSORS_DME1737=y
CONFIG_ARCH_HAS_ADD_PAGES=y
CONFIG_WATCHDOG_CORE=y
CONFIG_NLS_UTF8=y
CONFIG_PRIME_NUMBERS=y
CONFIG_ST_SLIM_REMOTEPROC=y
CONFIG_LEDS_USER=y
CONFIG_SPLIT_PMD_PTLOCKS=y
CONFIG_CRYPTO_SM4_AESNI_AVX2_X86_64=y
CONFIG_ASPEED_BT_IPMI_BMC=y
CONFIG_I2C_DESIGNWARE_CORE=y
CONFIG_HAVE_C_RECORDMCOUNT=y
CONFIG_SOPHGO_CV1800_RTCSYS=y
CONFIG_TEST_BITOPS=y
CONFIG_REGULATOR_RT6245=y
CONFIG_TEST_KEXEC_HANDOVER=y
CONFIG_DMA_SA11X0=y
CONFIG_QCOM_AOSS_QMP=y
CONFIG_COMMON_CLK_MT6765_MIPI1ASYS=y
CONFIG_SENSORS_F71882FG=y
CONFIG_MFD_TI_LMU=y
CONFIG_MFD_INTEL_LPSS=y
CONFIG_EEPROM_93CX6=y
CONFIG_ORANGEFS_FS=y
CONFIG_REGULATOR_SPACEMIT_P1=y
CONFIG_FPGA_MGR_VERSAL_FPGA=y
CONFIG_ARCH_SUPPORTS_KEXEC_JUMP=y
CONFIG_SENSORS_ADS7828=y
CONFIG_SENSORS_ACBEL_FSG032=y
CONFIG_VIRTIO=y
CONFIG_HAVE_ARCH_HUGE_VMALLOC=y
CONFIG_COMMON_CLK_MT8186_CAMSYS=y
CONFIG_SEG_LED_GPIO=y
CONFIG_ARCH_SUPPORTS_KEXEC=y
CONFIG_PARPORT_1284=y
CONFIG_GPIB_PCMCIA=y
CONFIG_SENSORS_IR35221=y
CONFIG_GPIO_LP3943=y
CONFIG_CRC8=y
CONFIG_HW_RANDOM=y
CONFIG_TEGRA_HOST1X=y
CONFIG_ARCH_MIGHT_HAVE_ACPI_PDC=y
CONFIG_HW_RANDOM_XIPHERA=y
CONFIG_NIC7018_WDT=y
CONFIG_PINCTRL_PFC_R8A7793=y
CONFIG_X86_DISABLED_FEATURE_UNRET=y
CONFIG_MOST=y
CONFIG_HAVE_ARCH_SOFT_DIRTY=y
CONFIG_SENSORS_MAX6697=y
CONFIG_MESON_CANVAS=y
CONFIG_NLS_CODEPAGE_861=y
CONFIG_GIGABYTE_WMI=y
CONFIG_LEDS_PCA995X=y
CONFIG_SWAP=y
CONFIG_FPGA_DFL_FME_MGR=y
CONFIG_HOTPLUG_CORE_SYNC=y
CONFIG_APPLE_PMGR_PWRSTATE=y
CONFIG_SAMPLE_TSM_MR=y
CONFIG_COMMON_CLK_MEDIATEK=y
CONFIG_CLK_RENESAS=y
CONFIG_ENCRYPTED_KEYS=y
CONFIG_PARPORT_PC=y
CONFIG_QCOM_TSENS=y
CONFIG_OMAP_DM_TIMER=y
CONFIG_SENSORS_PC87360=y
CONFIG_PINCTRL_SX150X=y
CONFIG_FB_ARC=y
CONFIG_ACPI=y
CONFIG_EXT4_DEBUG=y
CONFIG_CLK_RZA1=y
CONFIG_ACPI_APEI_EINJ=y
CONFIG_RENESAS_RZN1WDT=y
CONFIG_MFD_SMPRO=y
CONFIG_ARCH_WANT_DEFAULT_BPF_JIT=y
CONFIG_PECI=y
CONFIG_PINCTRL_AMDISP=y
CONFIG_CRYPTO_HASH2=y
CONFIG_RESET_QCOM_PDC=y
CONFIG_GENERIC_BUG=y
CONFIG_TEE=y
CONFIG_MFD_RC5T583=y
CONFIG_X86_DISABLED_FEATURE_ENQCMD=y
CONFIG_MFD_MAX7360=y
CONFIG_ASYNC_TX_DMA=y
CONFIG_REGULATOR_TPS65132=y
CONFIG_MEDIATEK_WATCHDOG=y
CONFIG_REGULATOR_MAX8952=y
CONFIG_LOONGSON2_GUTS=y
CONFIG_COMMON_CLK_APPLE_NCO=y
CONFIG_SENSORS_STTS751=y
CONFIG_PTP_1588_CLOCK_OPTIONAL=y
CONFIG_HAVE_ACPI_APEI=y
CONFIG_LOCK_DEBUGGING_SUPPORT=y
CONFIG_ARCH_HAS_CACHE_LINE_SIZE=y
CONFIG_AHCI_SUNXI=y
CONFIG_FSL_QMAN_TEST=y
CONFIG_ARM_SCMI_POWERCAP=y
CONFIG_BACKLIGHT_PWM=y
CONFIG_ACPI_MADT_WAKEUP=y
CONFIG_OPTPROBES=y
CONFIG_NVMEM_RAVE_SP_EEPROM=y
CONFIG_COMMON_CLK_MT6735_VDECSYS=y
CONFIG_SENSORS_MAX31760=y
CONFIG_TEGRA210_EMC=y
CONFIG_ARCH_HAS_MEMBARRIER_SYNC_CORE=y
CONFIG_TOUCHSCREEN_DMI=y
CONFIG_EXT2_FS_POSIX_ACL=y
CONFIG_CRYPTO_LZO=y
CONFIG_PERF_EVENTS_AMD_UNCORE=y
CONFIG_SYSTEM_BLACKLIST_KEYRING=y
CONFIG_DMA_ENGINE_RAID=y
CONFIG_QCOM_SMSM=y
CONFIG_GPIO_SL28CPLD=y
CONFIG_PCCARD=y
CONFIG_ARCH_HAS_PTDUMP=y
CONFIG_HDQ_MASTER_OMAP=y
CONFIG_NVMEM_AN8855_EFUSE=y
CONFIG_ACORN_PARTITION_ADFS=y
CONFIG_SENSORS_STEF48H28=y
CONFIG_SENSORS_JC42=y
CONFIG_LEDS_LT3593=y
CONFIG_DEVFREQ_GOV_POWERSAVE=y
CONFIG_MUTEX_SPIN_ON_OWNER=y
CONFIG_STACKTRACE=y
CONFIG_REGULATOR_LP8755=y
CONFIG_CRYPTO_BLAKE2B=y
CONFIG_PROC_CPU_RESCTRL=y
CONFIG_TCG_TIS_I2C_ATMEL=y
CONFIG_HAVE_UNWIND_USER_FP=y
CONFIG_ARCH_USE_QUEUED_RWLOCKS=y
CONFIG_ARCH_SUPPORTS_DEBUG_PAGEALLOC=y
CONFIG_IXP4XX_NPE=y
CONFIG_LRU_GEN=y
CONFIG_SENSORS_PECI_DIMMTEMP=y
CONFIG_IMGPDC_WDT=y
CONFIG_REGULATOR_LP872X=y
CONFIG_SUN50I_A100_CCU=y
CONFIG_GENERIC_PINCONF=y
CONFIG_RESET_STARFIVE_JH7110=y
CONFIG_SENSORS_MR75203=y
CONFIG_ARCH_WANT_COMPAT_IPC_PARSE_VERSION=y
CONFIG_GPIOLIB_LEGACY=y
CONFIG_COMMON_CLK_RP1=y
CONFIG_THERMAL_GOV_STEP_WISE=y
CONFIG_HAVE_BOOTMEM_INFO_NODE=y
CONFIG_RESET_MESON_COMMON=y
CONFIG_RZ_MTU3=y
CONFIG_INSPUR_PLATFORM_PROFILE=y
CONFIG_W1_SLAVE_DS2405=y
CONFIG_SPACEMIT_K1_CCU=y
CONFIG_SENSORS_EMC6W201=y
CONFIG_ATARI_PARTITION=y
CONFIG_RCU_NEED_SEGCBLIST=y
CONFIG_BACKLIGHT_CLASS_DEVICE=y
CONFIG_POWER_RESET_TH1520_AON=y
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_DIRECT_CALLS=y
CONFIG_MS_BLOCK=y
CONFIG_C2PORT=y
CONFIG_ARCH_WANT_HUGE_PMD_SHARE=y
CONFIG_X86_REQUIRED_FEATURE_XMM=y
CONFIG_RZN1_DMAMUX=y
CONFIG_FTWDT010_WATCHDOG=y
CONFIG_IRQ_DOMAIN_HIERARCHY=y
CONFIG_ISL29020=y
CONFIG_HAVE_NOINSTR_HACK=y
CONFIG_GPIO_OMAP=y
CONFIG_PSTORE=y
CONFIG_KVFREE_RCU_BATCHED=y
CONFIG_GPIO_IDT3243X=y
CONFIG_X86_PMEM_LEGACY=y
CONFIG_FB_DEFERRED_IO=y
CONFIG_CRYPTO_DEFLATE=y
CONFIG_SOC_BUS=y
CONFIG_RANDOMIZE_KSTACK_OFFSET=y
CONFIG_SAMPLE_VFIO_MDEV_MDPY_FB=y
CONFIG_HAVE_STACK_VALIDATION=y
CONFIG_PHY_ROCKCHIP_SNPS_PCIE3=y
CONFIG_GPIO_XILINX=y
CONFIG_ACPI_WMI_LEGACY_DEVICE_NAMES=y
CONFIG_SENSORS_UCD9000=y
CONFIG_LEDS_OSRAM_AMS_AS3668=y
CONFIG_ROCKCHIP_MBOX=y
CONFIG_HEADERS_INSTALL=y
CONFIG_HAVE_MIXED_BREAKPOINTS_REGS=y
CONFIG_PINCTRL_LYNXPOINT=y
CONFIG_GENERIC_BITREVERSE=y
CONFIG_COMMON_CLK_ZYNQMP=y
CONFIG_TEE_DMABUF_HEAPS=y
CONFIG_VIRTIO_FS=y
CONFIG_ZLIB_DEFLATE=y
CONFIG_I2C_MESON=y
CONFIG_CRYPTO_SHA1=y
CONFIG_W1_SLAVE_DS2406=y
CONFIG_TEST_FREE_PAGES=y
CONFIG_PINCTRL_SKY1=y
CONFIG_LZO_COMPRESS=y
CONFIG_SERIAL_IMX_CONSOLE=y
CONFIG_LZ4HC_COMPRESS=y
CONFIG_ARCH_HAS_FORTIFY_SOURCE=y
CONFIG_TIMB_DMA=y
CONFIG_CC_HAS_COUNTED_BY_PTR=y
CONFIG_BLK_DEV_ZONED_LOOP=y
CONFIG_PINCTRL_PFC_R8A774C0=y
CONFIG_FW_CFG_SYSFS_CMDLINE=y
CONFIG_CRYPTO_ECC=y
CONFIG_IPMI_DMI_DECODE=y
CONFIG_CC_NO_ARRAY_BOUNDS=y
CONFIG_TOUCHSCREEN_IQS5XX=y
CONFIG_HZ_PERIODIC=y
CONFIG_IBMASR=y
CONFIG_BATTERY_MAX1720X=y
CONFIG_MFD_WCD934X=y
CONFIG_SATA_AHCI_SEATTLE=y
CONFIG_HMM_MIRROR=y
CONFIG_TCG_VTPM_PROXY=y
CONFIG_ISA_BUS_API=y
CONFIG_STM32_FMC2_EBI=y
CONFIG_GENERIC_IRQ_SHOW=y
CONFIG_KEYBOARD_IMX_BBM_SCMI=y
CONFIG_COMMON_CLK_HI3516CV300=y
CONFIG_PRINTER=y
CONFIG_COMPAT_BINFMT_ELF=y
CONFIG_PIC32_WDT=y
CONFIG_MEMORY_HOTPLUG=y
CONFIG_REGULATOR_QCOM_REFGEN=y
CONFIG_KEYBOARD_EP93XX=y
CONFIG_MFD_KEMPLD=y
CONFIG_RESET_CONTROLLER=y
CONFIG_AMD_ISP_PLATFORM=y
CONFIG_TOUCHSCREEN_DA9034=y
CONFIG_PINCTRL_PFC_R8A7745=y
CONFIG_CRYPTO_LIB_SHA512_ARCH=y
CONFIG_SYSTEM_TRUSTED_KEYRING=y
CONFIG_GPIO_LOONGSON1=y
CONFIG_NO_PAGE_MAPCOUNT=y
CONFIG_104_QUAD_8=y
CONFIG_TOUCHSCREEN_HIDEEP=y
CONFIG_XILINX_VCU=y
CONFIG_EXT2_FS_SECURITY=y
CONFIG_I2C_CGBC=y
CONFIG_CRYPTO_RSA=y
CONFIG_PROC_CHILDREN=y
CONFIG_PINCTRL_UPBOARD=y
CONFIG_GENERIC_PHY_MIPI_DPHY=y
CONFIG_PINCTRL_RENESAS=y
CONFIG_SERIAL_SC16IS7XX=y
CONFIG_INTEL_TH_STH=y
CONFIG_IOMMU_API=y
CONFIG_CHARGER_MAX8997=y
CONFIG_CRYPTO_LIB_CHACHA_ARCH=y
CONFIG_COMMON_CLK_MT2712_MMSYS=y
CONFIG_X86_SPEEDSTEP_CENTRINO=y
CONFIG_FSNOTIFY=y
