CONFIG_X86_16BIT=y
CONFIG_HAVE_EXIT_THREAD=y
CONFIG_BME680_I2C=y
CONFIG_AD7291=y
CONFIG_MFD_MAX8907=y
CONFIG_PHY_CAN_TRANSCEIVER=y
CONFIG_ARCH_USE_BUILTIN_BSWAP=y
CONFIG_REGULATOR_TPS65132=y
CONFIG_REGULATOR_MAX8952=y
CONFIG_AD4134=y
CONFIG_MUTEX_SPIN_ON_OWNER=y
CONFIG_PM_DEVFREQ_EVENT=y
CONFIG_CRYPTO_LIB_SM3=y
CONFIG_TOUCHSCREEN_MTOUCH=y
CONFIG_BMI270=y
CONFIG_X86_EXTENDED_PLATFORM=y
CONFIG_SENSORS_LM95234=y
CONFIG_TI_LMP92064=y
CONFIG_HID_PICOLCD_LEDS=y
CONFIG_REGMAP_W1=y
CONFIG_NAMESPACES=y
CONFIG_SERIAL_FSL_LPUART=y
CONFIG_SMSC_SCH311X_WDT=y
CONFIG_CRYPTO_ESSIV=y
CONFIG_HID_NTI=y
CONFIG_OBJTOOL=y
CONFIG_ARCH_HAS_STRICT_KERNEL_RWX=y
CONFIG_REGULATOR_MAX77857=y
CONFIG_RMI4_F03_SERIO=y
CONFIG_TOUCHSCREEN_ZET6223=y
CONFIG_I3C=y
CONFIG_JOYSTICK_A3D=y
CONFIG_INTEL_UNCORE_FREQ_CONTROL=y
CONFIG_I3C_OR_I2C=y
CONFIG_REGULATOR_DA903X=y
CONFIG_HID_LED=y
CONFIG_ARCH_HAS_MEM_ENCRYPT=y
CONFIG_SENSORS_LTC4215=y
CONFIG_SENSORS_NCT7904=y
CONFIG_VCNL3020=y
CONFIG_CHARGER_MAX8997=y
CONFIG_SENSORS_LM73=y
CONFIG_SENSORS_PECI=y
CONFIG_ELFCORE=y
CONFIG_STACKDEPOT=y
CONFIG_ARCH_SUPPORTS_LTO_CLANG=y
CONFIG_BACKLIGHT_BD6107=y
CONFIG_REGULATOR_88PM800=y
CONFIG_SENSORS_MAX6650=y
CONFIG_CHARGER_BQ24257=y
CONFIG_NEW_LEDS=y
CONFIG_CRYPTO_AES=y
CONFIG_IIO_BUFFER_CB=y
CONFIG_SENSORS_OCC_P8_I2C=y
CONFIG_LEDS_MAX8997=y
CONFIG_DECOMPRESS_XZ=y
CONFIG_FUEL_GAUGE_STC3117=y
CONFIG_CHARGER_RT9467=y
CONFIG_ARCH_CONFIGURES_CPU_MITIGATIONS=y
CONFIG_TREE_RCU=y
CONFIG_VZ89X=y
CONFIG_BOOT_CONFIG_EMBED=y
CONFIG_CRYPTO_CAMELLIA=y
CONFIG_HAVE_ARCH_KMSAN=y
CONFIG_GPIO_FXL6408=y
CONFIG_HX711=y
CONFIG_SENSORS_RM3100=y
CONFIG_XZ_DEC_TEST=y
CONFIG_BH1750=y
CONFIG_MODULES_USE_ELF_RELA=y
CONFIG_LOCK_MM_AND_FIND_VMA=y
CONFIG_FB_IOMEM_FOPS=y
CONFIG_TOUCHSCREEN_SX8654=y
CONFIG_SENSORS_TC654=y
CONFIG_PRINTK=y
CONFIG_CRYPTO_TWOFISH_COMMON=y
CONFIG_MPL115_SPI=y
CONFIG_BACKLIGHT_LM3639=y
CONFIG_ARCH_HAS_SET_MEMORY=y
CONFIG_X86_IO_APIC=y
CONFIG_USE_X86_SEG_SUPPORT=y
CONFIG_REGULATOR_RT5739=y
CONFIG_ARCH_HAS_CPU_FINALIZE_INIT=y
CONFIG_IT87_WDT=y
CONFIG_IIO_ST_SENSORS_CORE=y
CONFIG_ARCH_HAS_DEBUG_VM_PGTABLE=y
CONFIG_SENSORS_ADT7410=y
CONFIG_KEXEC_SIG=y
CONFIG_LD_IS_BFD=y
CONFIG_X86_KERNEL_IBT=y
CONFIG_MAXSMP=y
CONFIG_SERIO_LIBPS2=y
CONFIG_ADXL380=y
CONFIG_LIDAR_LITE_V2=y
CONFIG_HID_PRIMAX=y
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_DIRECT_CALLS=y
CONFIG_DMA_SHARED_BUFFER=y
CONFIG_ARCH_SUPPORTS_KEXEC_JUMP=y
CONFIG_SAMPLE_KOBJECT=y
CONFIG_TELCLOCK=y
CONFIG_CRYPTO_LIB_DES=y
CONFIG_CRYPTO_ACOMP2=y
CONFIG_AD5592R=y
CONFIG_CRYPTO_CAST5=y
CONFIG_REGULATOR_VIRTUAL_CONSUMER=y
CONFIG_ARCH_HAS_HW_PTE_YOUNG=y
CONFIG_CRYPTO_XCTR=y
CONFIG_HAVE_ARCH_VMAP_STACK=y
CONFIG_CRYPTO_MD5=y
CONFIG_SENSORS_SBTSI=y
CONFIG_REGULATOR_TPS6507X=y
CONFIG_MFD_MAX8998=y
CONFIG_HAVE_GCC_PLUGINS=y
CONFIG_BINFMT_ELF=y
CONFIG_INPUT_VIVALDIFMAP=y
CONFIG_HID_WIIMOTE=y
CONFIG_SW_SYNC=y
CONFIG_HAVE_KPROBES_ON_FTRACE=y
CONFIG_SPLIT_PTE_PTLOCKS=y
CONFIG_GPIO_MB86S7X=y
CONFIG_FB=y
CONFIG_HUGETLBFS=y
CONFIG_PPS_GENERATOR_DUMMY=y
CONFIG_PALMAS_GPADC=y
CONFIG_HID_ZYDACRON=y
CONFIG_SENSORS_W83795=y
CONFIG_MMC_DEBUG=y
CONFIG_SENSORS_EMC2305=y
CONFIG_HAVE_RETHOOK=y
CONFIG_VHOST_MENU=y
CONFIG_AD7779=y
CONFIG_MOUSE_PS2_CYPRESS=y
CONFIG_DEBUG_INFO_DWARF5=y
CONFIG_MULTIPLEXER=y
CONFIG_HID_EMS_FF=y
CONFIG_LEDS_PCA955X_GPIO=y
CONFIG_FUTEX=y
CONFIG_ADIS16201=y
CONFIG_TOUCHSCREEN_MELFAS_MIP4=y
CONFIG_X86_DISABLED_FEATURE_RETHUNK=y
CONFIG_FUNCTION_ALIGNMENT_16B=y
CONFIG_XILINX_XDMA=y
CONFIG_ABP060MG=y
CONFIG_SENSORS_PCF8591=y
CONFIG_VMLINUX_MAP=y
CONFIG_HAVE_ARCH_KGDB=y
CONFIG_X86_DISABLED_FEATURE_K6_MTRR=y
CONFIG_FPGA_MGR_XILINX_CORE=y
CONFIG_SERIAL_LANTIQ_CONSOLE=y
CONFIG_SPI_OFFLOAD=y
CONFIG_IQS620AT_TEMP=y
CONFIG_GPIB_NI_PCI_ISA=y
CONFIG_W83877F_WDT=y
CONFIG_LEDS_BD2606MVV=y
CONFIG_DEBUG_STACK_USAGE=y
CONFIG_KEYBOARD_MPR121=y
CONFIG_SENSORS_JC42=y
CONFIG_BITREVERSE=y
CONFIG_IIO_SIMPLE_DUMMY_BUFFER=y
CONFIG_SYNC_FILE=y
CONFIG_HID_CMEDIA=y
CONFIG_GENERIC_IRQ_RESERVATION_MODE=y
CONFIG_QCOM_HIDMA=y
CONFIG_IIO_MS_SENSORS_I2C=y
CONFIG_SENSORS_AD7414=y
CONFIG_XZ_DEC_BCJ=y
CONFIG_GPIB_CB7210=y
CONFIG_GPIO_TQMX86=y
CONFIG_ARCH_DMA_ADDR_T_64BIT=y
CONFIG_REGMAP_I2C=y
CONFIG_NLS_MAC_CELTIC=y
CONFIG_HAVE_IOREMAP_PROT=y
CONFIG_TOUCHSCREEN_DA9052=y
CONFIG_SENSORS_ADT7470=y
CONFIG_ARCH_SUPPORTS_CFI=y
CONFIG_NLS_CODEPAGE_857=y
CONFIG_LOCKUP_DETECTOR=y
CONFIG_ADXL367=y
CONFIG_CONTEXT_TRACKING_IDLE=y
CONFIG_TOUCHSCREEN_GOODIX_BERLIN_SPI=y
CONFIG_ACCESSIBILITY=y
CONFIG_ARCH_WANT_HUGE_PMD_SHARE=y
CONFIG_CRYPTO_STREEBOG=y
CONFIG_CRYPTO_ALGAPI2=y
CONFIG_ARCH_MHP_MEMMAP_ON_MEMORY_ENABLE=y
CONFIG_MMC5983=y
CONFIG_LEDS_PWM_MULTICOLOR=y
CONFIG_SD_ADC_MODULATOR=y
CONFIG_PREEMPT_BUILD=y
CONFIG_PPS_DEBUG=y
CONFIG_IRQ_FORCED_THREADING=y
CONFIG_MFD_WM8997=y
CONFIG_ARCH_CLOCKSOURCE_INIT=y
CONFIG_KEYBOARD_GPIO=y
CONFIG_CHARGER_RT9756=y
CONFIG_TOUCHSCREEN_EKTF2127=y
CONFIG_PAGE_TABLE_CHECK=y
CONFIG_X86_64=y
CONFIG_RCU_LAZY_DEFAULT_OFF=y
CONFIG_SENSORS_ADM1025=y
CONFIG_DEBUG_INFO_SPLIT=y
CONFIG_TOUCHSCREEN_TSC2007_IIO=y
CONFIG_BATTERY_CHAGALL=y
CONFIG_CRYPTO_KRB5=y
CONFIG_VCNL4035=y
CONFIG_USE_PERCPU_NUMA_NODE_ID=y
CONFIG_CRYPTO_AEAD=y
CONFIG_ADA4250=y
CONFIG_ADXL372_SPI=y
CONFIG_FPGA_MGR_XILINX_SELECTMAP=y
CONFIG_GDB_SCRIPTS=y
CONFIG_USER_STACKTRACE_SUPPORT=y
CONFIG_HT16K33=y
CONFIG_BME680=y
CONFIG_HAVE_KERNEL_GZIP=y
CONFIG_SSB_POSSIBLE=y
CONFIG_AD7606=y
CONFIG_SAMPLE_HUNG_TASK=y
CONFIG_NLS_KOI8_R=y
CONFIG_AD5706R=y
CONFIG_ZPA2326=y
CONFIG_REGULATOR_MT6397=y
CONFIG_REGULATOR_WM8994=y
CONFIG_CRYPTO_SERPENT_AVX_X86_64=y
CONFIG_DEVTMPFS=y
CONFIG_THERMAL_GOV_USER_SPACE=y
CONFIG_ADIS16130=y
CONFIG_INV_MPU6050_IIO=y
CONFIG_MFD_CS40L50_SPI=y
CONFIG_SENSORS_SMSC47B397=y
CONFIG_TMPFS_INODE64=y
CONFIG_REGULATOR_TPS6586X=y
CONFIG_SPI_SC18IS602=y
CONFIG_EEPROM_IDT_89HPESX=y
CONFIG_CRC_CCITT=y
CONFIG_CORE_DUMP_DEFAULT_ELF_HEADERS=y
CONFIG_W1=y
CONFIG_SENSORS_LTC4222=y
CONFIG_FW_LOADER_COMPRESS=y
CONFIG_AD4851=y
CONFIG_OVERLAY_FS_DEBUG=y
CONFIG_LEDS_APU=y
CONFIG_AS3935=y
CONFIG_ARCH_ENABLE_SPLIT_PMD_PTLOCK=y
CONFIG_MMA7455=y
CONFIG_LCD_ILI922X=y
CONFIG_NO_HZ_COMMON=y
CONFIG_SENSORS_EMC1812=y
CONFIG_IIO_BUFFER_DMA=y
CONFIG_CRYPTO_KRB5ENC=y
CONFIG_NLS_CODEPAGE_874=y
CONFIG_KEYBOARD_GPIO_POLLED=y
CONFIG_INPUT_TOUCHSCREEN=y
CONFIG_SPARSEMEM_EXTREME=y
CONFIG_PAGE_TABLE_CHECK_ENFORCED=y
CONFIG_CRYPTO_TWOFISH_X86_64=y
CONFIG_DEBUG_DRIVER=y
CONFIG_NOINSTR_VALIDATION=y
CONFIG_SENSORS_MCP3021=y
CONFIG_FB_SSD1307=y
CONFIG_NLS_ISO8859_7=y
CONFIG_ENS160_SPI=y
CONFIG_CMA_SIZE_SEL_MBYTES=y
CONFIG_X86_REQUIRED_FEATURE_LM=y
CONFIG_LD_ORPHAN_WARN=y
CONFIG_NLS_CODEPAGE_855=y
CONFIG_HAVE_ARCH_JUMP_LABEL=y
CONFIG_TI_TSC2046=y
CONFIG_LEDS_QNAP_MCU=y
CONFIG_LWQ_TEST=y
CONFIG_FB_SYSMEM_HELPERS_DEFERRED=y
CONFIG_SENSORS_IT87=y
CONFIG_RMI4_F30=y
CONFIG_GOOGLE_FIRMWARE=y
CONFIG_SPI_XCOMM=y
CONFIG_UIO=y
CONFIG_HAVE_KRETPROBES=y
CONFIG_GPIOLIB=y
CONFIG_STM_SOURCE_CONSOLE=y
CONFIG_GPIO_BY_PINCTRL=y
CONFIG_SENSORS_CORETEMP=y
CONFIG_SI7210=y
CONFIG_GENERIC_IRQ_MIGRATION=y
CONFIG_REGULATOR_RT4831=y
CONFIG_MCP4725=y
CONFIG_PINCTRL_MCP23S08=y
CONFIG_SPI_MUX=y
CONFIG_HID_MULTITOUCH=y
CONFIG_TOUCHSCREEN_DYNAPRO=y
CONFIG_HID_RAKK=y
CONFIG_LEDS_LP8788=y
CONFIG_CEC_PIN=y
CONFIG_ADXL313=y
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST=y
CONFIG_DEBUG_WW_MUTEX_SLOWPATH=y
CONFIG_BINARY_PRINTF=y
CONFIG_BACKLIGHT_KTD253=y
CONFIG_MOUSE_SYNAPTICS_I2C=y
CONFIG_HAVE_ALIGNED_STRUCT_PAGE=y
CONFIG_MFD_TPS6594_SPI=y
CONFIG_CEC_GPIO=y
CONFIG_HAVE_UNSTABLE_SCHED_CLOCK=y
CONFIG_DW_DMAC=y
CONFIG_BACKLIGHT_ADP8860=y
CONFIG_BACKLIGHT_LM3509=y
CONFIG_X86_CPA_STATISTICS=y
CONFIG_CRYPTO_SKCIPHER2=y
CONFIG_SBC_FITPC2_WATCHDOG=y
CONFIG_PROVE_RAW_LOCK_NESTING=y
CONFIG_HID=y
CONFIG_IRQ_WORK=y
CONFIG_HAVE_NOINSTR_HACK=y
CONFIG_SENSORS_LM63=y
CONFIG_AD7292=y
CONFIG_MFD_LP8788=y
CONFIG_LEGACY_VSYSCALL_XONLY=y
CONFIG_GPIO_WAVESHARE_DSI_TOUCH=y
CONFIG_X86_CX8=y
CONFIG_MFD_TPS6594_I2C=y
CONFIG_AD3552R_LIB=y
CONFIG_RCU_STALL_COMMON=y
CONFIG_HID_KENSINGTON=y
CONFIG_TOOLS_SUPPORT_RELR=y
CONFIG_MMC_HSQ=y
CONFIG_LEDS_CLASS_MULTICOLOR=y
CONFIG_CRYPTO_LIB_SHA3=y
CONFIG_MFD_TPS6586X=y
CONFIG_COMMON_CLK=y
CONFIG_TRACING=y
CONFIG_HAVE_PAGE_SIZE_4KB=y
CONFIG_ADMV1014=y
CONFIG_HID_MACALLY=y
CONFIG_PM_AUTOSLEEP=y
CONFIG_ARCH_WANTS_CLOCKSOURCE_READ_INLINE=y
CONFIG_JUMP_LABEL=y
CONFIG_SCD30_CORE=y
CONFIG_HAVE_ARCH_SECCOMP=y
CONFIG_GPIO_PCA953X=y
CONFIG_SENSORS_LIS3_SPI=y
CONFIG_POWER_RESET=y
CONFIG_VIRTIO_RTC=y
CONFIG_STK8312=y
CONFIG_CRC_ITU_T=y
CONFIG_BMI160=y
CONFIG_STACKTRACE_BUILD_ID=y
CONFIG_ADMV8818=y
CONFIG_HZ_100=y
CONFIG_PINCTRL_MCP23S08_I2C=y
CONFIG_SWIOTLB_DYNAMIC=y
CONFIG_SPLIT_PMD_PTLOCKS=y
CONFIG_RCU_NEED_SEGCBLIST=y
CONFIG_MFD_SYSCON=y
CONFIG_MFD_TQMX86=y
CONFIG_CRYPTO_KPP2=y
CONFIG_DEBUG_FORCE_FUNCTION_ALIGN_64B=y
CONFIG_ARCH_HAS_SYNC_CORE_BEFORE_USERMODE=y
CONFIG_WATCHDOG_HANDLE_BOOT_ENABLED=y
CONFIG_FB_DEVICE=y
CONFIG_SAMPLE_WATCH_QUEUE=y
CONFIG_DEBUG_TEST_DRIVER_REMOVE=y
CONFIG_PREEMPT_COUNT=y
CONFIG_BOOT_VESA_SUPPORT=y
CONFIG_IPMI_POWEROFF=y
CONFIG_AD5446=y
CONFIG_SPI_ALTERA_CORE=y
CONFIG_MFD_MAX8925=y
CONFIG_MFD_DA9150=y
CONFIG_PINCONF=y
CONFIG_FW_CS_DSP=y
CONFIG_TPS6594_PFSM=y
CONFIG_HAVE_GENERIC_VDSO=y
CONFIG_CRYPTO_SIG2=y
CONFIG_RMI4_CORE=y
CONFIG_SSB_PCMCIAHOST_POSSIBLE=y
CONFIG_PM_SLEEP_SMP=y
CONFIG_ELF_CORE=y
CONFIG_HAVE_FUTEX_ROBUST_UNLOCK=y
CONFIG_MIPI_I3C_HCI=y
CONFIG_X86_DISABLED_FEATURE_VME=y
CONFIG_INPUT=y
CONFIG_ISL76682=y
CONFIG_CHARGER_LTC4162L=y
CONFIG_HID_COUGAR=y
CONFIG_HAVE_GIGANTIC_FOLIOS=y
CONFIG_DS1682=y
CONFIG_CRYPTO_SM4_AESNI_AVX_X86_64=y
CONFIG_JOYSTICK_QWIIC=y
CONFIG_W1_MASTER_SGI=y
CONFIG_SX9360=y
CONFIG_PINCTRL_CS47L90=y
CONFIG_CRYPTO_SHA256=y
CONFIG_KEYBOARD_IQS62X=y
CONFIG_TI_TLC4541=y
CONFIG_YAMAHA_YAS530=y
CONFIG_PAC1921=y
CONFIG_STANDALONE=y
CONFIG_PERF_EVENTS_AMD_POWER=y
CONFIG_SUSPEND_FREEZER=y
CONFIG_HAVE_C_RECORDMCOUNT=y
CONFIG_KEYBOARD_SUNKBD=y
CONFIG_REGULATOR_TPS65086=y
CONFIG_TOUCHSCREEN_GOODIX_BERLIN_I2C=y
CONFIG_CRYPTO_LIB_BLAKE2B=y
CONFIG_SPI_ALTERA=y
CONFIG_KEXEC_HANDOVER_DEBUGFS=y
CONFIG_JOYSTICK_TWIDJOY=y
CONFIG_SAMPLE_VFIO_MDEV_MDPY_FB=y
CONFIG_SENSORS_W83L785TS=y
CONFIG_MCP3564=y
CONFIG_SENSORS_W83781D=y
CONFIG_HID_ALPS=y
CONFIG_SERIAL_MAX310X=y
CONFIG_CMA_DEBUGFS=y
CONFIG_MHI_BUS_DEBUG=y
CONFIG_REGULATOR_PWM=y
CONFIG_BARCO_P50_GPIO=y
CONFIG_I2C_SIMTEC=y
CONFIG_DA9052_WATCHDOG=y
CONFIG_IIO_SW_TRIGGER=y
CONFIG_VIDEO=y
CONFIG_MSEAL_SYSTEM_MAPPINGS=y
CONFIG_SAMPLE_TSM_MR=y
CONFIG_HAVE_CONTEXT_TRACKING_USER_OFFSTACK=y
CONFIG_GPIO_DWAPB=y
CONFIG_LEDS_CLASS_FLASH=y
CONFIG_HID_WALTOP=y
CONFIG_PRINTK_INDEX=y
CONFIG_DEBUG_KERNEL=y
CONFIG_ARCH_SUPPORTS_DEBUG_PAGEALLOC=y
CONFIG_GP2AP002=y
CONFIG_CC_HAS_MARCH_NATIVE=y
CONFIG_DAMON_VADDR=y
CONFIG_SPS30=y
CONFIG_HID_REDRAGON=y
CONFIG_HAVE_ARCH_HUGE_VMALLOC=y
CONFIG_SENSORS_LTC2947_SPI=y
CONFIG_X86_REQUIRED_FEATURE_PAE=y
CONFIG_INPUT_MOUSEDEV_PSAUX=y
CONFIG_FPGA_REGION=y
CONFIG_GENERIC_SMP_IDLE_THREAD=y
CONFIG_CRYPTO_LIB_GF128MUL=y
CONFIG_WATCHDOG_PRETIMEOUT_GOV_NOOP=y
CONFIG_RWSEM_SPIN_ON_OWNER=y
CONFIG_BMI088_ACCEL_I2C=y
CONFIG_CRYPTO_SKCIPHER=y
CONFIG_HAVE_RSEQ=y
CONFIG_X86_DISABLED_FEATURE_USER_SHSTK=y
CONFIG_DEVTMPFS_SAFE=y
CONFIG_LTRF216A=y
CONFIG_NLS_CODEPAGE_949=y
CONFIG_AL3010=y
CONFIG_X86_DISABLED_FEATURE_RETPOLINE_LFENCE=y
CONFIG_GENERIC_STRNCPY_FROM_USER=y
CONFIG_ARCH_DEFAULT_CRASH_DUMP=y
CONFIG_SERIAL_CORE_CONSOLE=y
CONFIG_MFD_PALMAS=y
CONFIG_JOYSTICK_GF2K=y
CONFIG_DEVFREQ_GOV_PASSIVE=y
CONFIG_TASKS_TRACE_RCU=y
CONFIG_LEDS_MAX5970=y
CONFIG_NO_HZ_FULL=y
CONFIG_HID_VIEWSONIC=y
CONFIG_LEDS_BD2802=y
CONFIG_WATCHDOG_HRTIMER_PRETIMEOUT=y
CONFIG_SHMEM=y
CONFIG_CRYPTO_LIB_GF128HASH_ARCH=y
CONFIG_ENERGY_MODEL=y
CONFIG_ARCH_SUSPEND_POSSIBLE=y
CONFIG_LEDS_AS3645A=y
CONFIG_AD5592R_BASE=y
CONFIG_LCD_VGG2432A4=y
CONFIG_KERNEL_GZIP=y
CONFIG_TTY=y
CONFIG_MFD_TPS65912=y
CONFIG_SAMPLE_LANDLOCK=y
CONFIG_PAGE_EXTENSION=y
CONFIG_FW_LOADER_COMPRESS_XZ=y
CONFIG_CC_CAN_LINK=y
CONFIG_CRYPTO_CTR=y
CONFIG_DMABUF_HEAPS=y
CONFIG_VIRTIO_MENU=y
CONFIG_SENSORS_HTU31=y
CONFIG_TOUCHSCREEN_MMS114=y
CONFIG_HAVE_JUMP_LABEL_HACK=y
CONFIG_X86_DISABLED_FEATURE_CENTAUR_MCR=y
CONFIG_CM3232=y
CONFIG_TI_DAC5571=y
CONFIG_WATCHDOG_PRETIMEOUT_DEFAULT_GOV_NOOP=y
CONFIG_CROSS_MEMORY_ATTACH=y
CONFIG_CEC_CORE=y
CONFIG_VEML6046X00=y
CONFIG_WATCHDOG_PRETIMEOUT_GOV_SEL=y
CONFIG_GPIO_TPS65086=y
CONFIG_DEFAULT_SECURITY_DAC=y
CONFIG_VIRTIO_INPUT=y
CONFIG_ARCH_WANT_HUGETLB_VMEMMAP_PREINIT=y
CONFIG_CRYPTO_DEFLATE=y
CONFIG_HAVE_ARCH_JUMP_LABEL_RELATIVE=y
CONFIG_WATCHDOG_PRETIMEOUT_GOV_PANIC=y
CONFIG_MAX11100=y
