CONFIG_MUTEX_SPIN_ON_OWNER=n
CONFIG_IPV6=n
CONFIG_COMMON_CLK_APPLE_NCO=n
CONFIG_COMMON_CLK_MT6795_VDECSYS=n
CONFIG_FSL_DPAA2_PTP_CLOCK=n
CONFIG_AUDIT=n
CONFIG_PCIE_MOBIVEIL=n
CONFIG_REGULATOR_MT6359=n
CONFIG_MTK_IOMMU=n
CONFIG_INPUT_HISI_POWERKEY=n
CONFIG_SND_SOC_ROCKCHIP_RT5645=n
CONFIG_DCACHE_WORD_ACCESS=n
CONFIG_SND_SOC_LPASS_MACRO_COMMON=n
CONFIG_ARM64_CNP=n
CONFIG_GPIO_ZYNQMP_MODEPIN=n
CONFIG_DRM_MSM_DSI_10NM_PHY=n
CONFIG_SATA_SIL24=n
CONFIG_NVMEM_RMEM=n
CONFIG_IMX_SC_THERMAL=n
CONFIG_OWL_TIMER=n
CONFIG_IPQ_NSSCC_5424=n
CONFIG_ARM64_SME=n
CONFIG_VIRTIO_PCI=n
CONFIG_BT_HCIUART_LL=n
CONFIG_PCI_PWRCTRL_PWRSEQ=n
CONFIG_INTERCONNECT_IMX=n
CONFIG_PTP_1588_CLOCK_VMCLOCK=n
CONFIG_NETFS_SUPPORT=n
CONFIG_FREEZER=n
CONFIG_DRM_MIPI_DSI=n
CONFIG_PHY_MTK_UFS=n
CONFIG_SND_SOC_WM_HUBS=n
CONFIG_QCOM_CLK_APCC_MSM8996=n
CONFIG_XEN=n
CONFIG_COMMON_CLK_MT7986=n
CONFIG_HW_RANDOM_HISI_TRNG=n
CONFIG_SND_SOC_ROCKCHIP_I2S_TDM=n
CONFIG_MDIO_BITBANG=n
CONFIG_MTK_DEVAPC=n
CONFIG_CRYPTO_ACOMP2=n
CONFIG_LEGACY_TIOCSTI=n
CONFIG_USB_EHCI_HCD=n
CONFIG_XZ_DEC_ARMTHUMB=n
CONFIG_QCOM_Q6V5_ADSP=n
CONFIG_CRYPTO_AES_ARM64_CE_BLK=n
CONFIG_ARCH_SOPHGO=n
CONFIG_PCI_PWRCTRL=n
CONFIG_QCOM_QSEECOM=n
CONFIG_TASK_IO_ACCOUNTING=n
CONFIG_GOOGLE_COREBOOT_TABLE=n
CONFIG_SCSI_UFS_CRYPTO=n
CONFIG_CROS_EC_LIGHTBAR=n
CONFIG_MLX5_MPFS=n
CONFIG_SYSC_R9A08G046=n
CONFIG_PINCTRL_MILOS=n
CONFIG_CC_NO_ARRAY_BOUNDS=n
CONFIG_DW_APB_TIMER=n
CONFIG_QCOM_SPMI_VADC=n
CONFIG_PHY_QCOM_USB_HS=n
CONFIG_CLK_RK3368=n
CONFIG_RESET_ZYNQMP=n
CONFIG_TOUCHSCREEN_HIMAX_HX83112B=n
CONFIG_MLX5_EN_RXNFC=n
CONFIG_MEDIA_SUBDRV_AUTOSELECT=n
CONFIG_ATA_ACPI=n
CONFIG_CLK_RCAR_CPG_LIB=n
CONFIG_CLK_GLYMUR_DISPCC=n
CONFIG_MTD_NAND_BRCMNAND_BRCMSTB=n
CONFIG_PHY_CADENCE_SALVO=n
CONFIG_FS_MBCACHE=n
CONFIG_PINCTRL_UNIPHIER_LD11=n
CONFIG_HARDIRQS_SW_RESEND=n
CONFIG_TI_ADS1015=n
CONFIG_SLUB_DEBUG=n
CONFIG_SND_SOC_DAVINCI_MCASP=n
CONFIG_ATH11K=n
CONFIG_XILINX_ZYNQMP_DMA=n
CONFIG_NVIDIA_CORESIGHT_PMU_ARCH_SYSTEM_PMU=n
CONFIG_HW_RANDOM_ARM_SMCCC_TRNG=n
CONFIG_BT_RTL=n
CONFIG_CLK_R9A07G054=n
CONFIG_PWM_TEGRA=n
CONFIG_UBIFS_FS_ZSTD=n
CONFIG_PCIEASPM=n
CONFIG_LD_ORPHAN_WARN=n
CONFIG_CRYPTO_DEFLATE=n
CONFIG_CAN_RX_OFFLOAD=n
CONFIG_PCIE_ROCKCHIP_DW=n
CONFIG_ACPI_NUMA=n
CONFIG_MTK_CMDQ_MBOX=n
CONFIG_SCSI_UFS_RENESAS=n
CONFIG_PINCTRL_MT6779=n
CONFIG_CRC_OPTIMIZATIONS=n
CONFIG_REGMAP_IRQ=n
CONFIG_ARCH_R9A09G056=n
CONFIG_QCOM_TSENS=n
CONFIG_SPRD_COMMON_CLK=n
CONFIG_IRQ_DOMAIN_HIERARCHY=n
CONFIG_RTC_DRV_TEGRA=n
CONFIG_COMMON_CLK_MT8192_VDECSYS=n
CONFIG_MTD_DATAFLASH=n
CONFIG_REGULATOR_BD718XX=n
CONFIG_V4L2_MEM2MEM_DEV=n
CONFIG_IOMMU_IO_PGTABLE_ARMV7S=n
CONFIG_DMIID=n
CONFIG_HIBERNATION=n
CONFIG_DRM_MSM_KMS_FBDEV=n
CONFIG_ARM64_WORKAROUND_SPECULATIVE_UNPRIV_LOAD=n
CONFIG_SND_SOC_WCD_COMMON=n
CONFIG_GRACE_PERIOD=n
CONFIG_PHY_ROCKCHIP_INNO_HDMI=n
CONFIG_NET_SCHED=n
CONFIG_BATTERY_MAX17042=n
CONFIG_HAVE_KVM_READONLY_MEM=n
CONFIG_VIDEO_SYNOPSYS_HDMIRX_LOAD_DEFAULT_EDID=n
CONFIG_FPGA_MGR_ALTERA_CVP=n
CONFIG_VFIO_GROUP=n
CONFIG_IPQ_CMN_PLL=n
CONFIG_CRYPTO_SM3=n
CONFIG_CRYPTO_LIB_GF128HASH_ARCH=n
CONFIG_FB_CFB_IMAGEBLIT=n
CONFIG_MEDIA_TUNER_TDA18271=n
CONFIG_SPRD_SC9863A_CLK=n
CONFIG_SND_SOC_MT8183=n
CONFIG_REGULATOR_VCTRL=n
CONFIG_FSL_XGMAC_MDIO=n
CONFIG_QCOM_GENI_SE=n
CONFIG_COMMON_CLK_MT8196_IMP_IIC_WRAP=n
CONFIG_SWAP=n
CONFIG_RMNET=n
CONFIG_TRANSPARENT_HUGEPAGE_ALWAYS=n
CONFIG_ARCH_R8A77965=n
CONFIG_SYSVIPC_COMPAT=n
CONFIG_CROS_EC_SPI=n
CONFIG_PINCTRL_MSM8996=n
CONFIG_ROCKCHIP_DW_DP=n
CONFIG_MOUSE_PS2=n
CONFIG_IR_SUNXI=n
CONFIG_QCS_GCC_404=n
CONFIG_XEN_BLKDEV_FRONTEND=n
CONFIG_COMMON_CLK=n
CONFIG_PM_DEVFREQ_EVENT=n
CONFIG_THUNDER_NIC_RGX=n
CONFIG_TYPEC_TCPCI=n
CONFIG_SND_SOC_TEGRA210_AHUB=n
CONFIG_RAVB=n
CONFIG_FHANDLE=n
CONFIG_HW_PERF_EVENTS=n
CONFIG_PINCTRL_TPS6594=n
CONFIG_RASPBERRYPI_POWER=n
CONFIG_RTC_DRV_EFI=n
CONFIG_INTERCONNECT_QCOM_SM8350=n
CONFIG_SUNXI_MBUS=n
CONFIG_PHY_QCOM_QMP=n
CONFIG_QCOM_PIL_INFO=n
CONFIG_NETFILTER_XT_MATCH_IPVS=n
CONFIG_HW_RANDOM_OMAP=n
CONFIG_PINCTRL_S700=n
CONFIG_PINCTRL_MTK_MOORE=n
CONFIG_MAC80211_LEDS=n
CONFIG_EXT4_FS_POSIX_ACL=n
CONFIG_PINCTRL_TEGRA238=n
CONFIG_GPIO_PL061=n
CONFIG_ARCH_HAS_NONLEAF_PMD_YOUNG=n
CONFIG_USB_F_NCM=n
CONFIG_ARCH_XGENE=n
CONFIG_GCC_NO_STRINGOP_OVERFLOW=n
CONFIG_CRYPTO_LIB_SHA512_ARCH=n
CONFIG_PCIE_PME=n
CONFIG_HW_RANDOM_AIROHA=n
CONFIG_SND_SOC_LPASS_VA_MACRO=n
CONFIG_PINCTRL_PFC_R8A779G0=n
CONFIG_SCSI_COMMON=n
CONFIG_DRM_SUN6I_DSI=n
CONFIG_ARCH_HAS_SYSCALL_WRAPPER=n
CONFIG_SECURITY=n
CONFIG_COMMON_CLK_MT8192_MFGCFG=n
CONFIG_ATL1C=n
CONFIG_DRM_CDNS_DSI=n
CONFIG_TCP_CONG_CUBIC=n
CONFIG_TUN=n
CONFIG_NUMA_BALANCING_DEFAULT_ENABLED=n
CONFIG_COMMON_CLK_MT8188_WPESYS=n
CONFIG_IIO_BUFFER=n
CONFIG_NET_HANDSHAKE=n
CONFIG_TI_ICSS_IEP=n
CONFIG_MFD_WCD934X=n
CONFIG_STANDALONE=n
CONFIG_ROCKCHIP_LVDS=n
CONFIG_SPLIT_PMD_PTLOCKS=n
CONFIG_XZ_DEC_POWERPC=n
CONFIG_SND_SOC_PCM3168A_I2C=n
CONFIG_WLAN_VENDOR_ADMTEK=n
CONFIG_PINCTRL_LPASS_LPI=n
CONFIG_IWLDVM=n
CONFIG_SYSFS=n
CONFIG_MARVELL_10G_PHY=n
CONFIG_DRM_RCAR_MIPI_DSI=n
CONFIG_PINCTRL_QCOM_SPMI_PMIC=n
CONFIG_ARM_MEDIATEK_CPUFREQ=n
CONFIG_NF_CONNTRACK_EVENTS=n
CONFIG_JUMP_LABEL=n
CONFIG_DRM_ZYNQMP_DPSUB=n
CONFIG_COMMON_CLK_MT6797=n
CONFIG_CAN_M_CAN=n
CONFIG_VIRTIO=n
CONFIG_SND_SOC_SPDIF=n
CONFIG_SPI_STM32_OSPI=n
CONFIG_PHY_UNIPHIER_USB3=n
CONFIG_QCOM_L3_PMU=n
CONFIG_PHY_MESON_G12A_MIPI_DPHY_ANALOG=n
CONFIG_CLK_INTEL_SOCFPGA=n
CONFIG_ARCH_TEGRA_241_SOC=n
CONFIG_ARM_QCOM_CPUFREQ_HW=n
CONFIG_OVERLAY_FS_REDIRECT_ALWAYS_FOLLOW=n
CONFIG_KEYBOARD_IMX_SC_KEY=n
CONFIG_RASPBERRYPI_FIRMWARE=n
CONFIG_PINCTRL_PFC_R8A774C0=n
CONFIG_CLK_R9A09G087=n
CONFIG_QCOM_SPMI_ADC_TM5=n
CONFIG_NET_VENDOR_STMICRO=n
CONFIG_R8169=n
CONFIG_RPMSG_CTRL=n
CONFIG_PHY_MVEBU_A3700_COMPHY=n
CONFIG_ARCH_R8A779F0=n
CONFIG_FSNOTIFY=n
CONFIG_DRM_DISPLAY_HDMI_CEC_NOTIFIER_HELPER=n
CONFIG_COMMON_CLK_EN7523=n
CONFIG_CORESIGHT_SINK_ETBV10=n
CONFIG_NET_DSA_TAG_BRCM_LEGACY_FCS=n
CONFIG_SYSC_R8A77961=n
CONFIG_SND_HDA_ALIGNED_MMIO=n
CONFIG_SND_SOC_RT5659=n
CONFIG_RFKILL=n
CONFIG_SUN50I_H6_R_CCU=n
CONFIG_DEVMEM=n
CONFIG_MODULES=n
CONFIG_NETFILTER_XT_MATCH_CONNTRACK=n
CONFIG_FSL_DPAA2_ETH=n
CONFIG_ROCKCHIP_VOP2=n
CONFIG_COMMON_CLK_MT2712=n
CONFIG_SND_VERBOSE_PROCFS=n
CONFIG_MOUSE_PS2_TRACKPOINT=n
CONFIG_CPU_IDLE_MULTIPLE_DRIVERS=n
CONFIG_NVMEM=n
CONFIG_INTERCONNECT_QCOM_SM8150=n
CONFIG_SDX_GCC_75=n
CONFIG_SPI_DESIGNWARE=n
CONFIG_SND_SOC_XILINX_AUDIO_FORMATTER=n
CONFIG_TYPEC=n
CONFIG_NET_ACT_GATE=n
CONFIG_UBIFS_FS_XATTR=n
CONFIG_EXCLUSIVE_SYSTEM_RAM=n
CONFIG_DEVFREQ_GOV_PASSIVE=n
CONFIG_HW_RANDOM_IPROC_RNG200=n
CONFIG_NFS_FS=n
CONFIG_I2C_RK3X=n
CONFIG_VIRTIO_BALLOON=n
CONFIG_HAVE_SHARED_GPIOS=n
CONFIG_SENSORS_CROS_EC=n
CONFIG_COMMON_CLK_MT8188_VDOSYS=n
CONFIG_QCOM_COMMAND_DB=n
CONFIG_PNFS_BLOCK=n
CONFIG_TI_K3_UDMA=n
CONFIG_SND_MESON_AXG_TDMIN=n
CONFIG_HAVE_PWRCTRL=n
CONFIG_USB_ISP1760_DUAL_ROLE=n
CONFIG_SND_SOC_LPASS_CPU=n
CONFIG_SM_GCC_8650=n
CONFIG_HAVE_PREEMPT_DYNAMIC=n
CONFIG_TEGRA_IOMMU_SMMU=n
CONFIG_NET_XGENE=n
CONFIG_PINCTRL_SHIKRA=n
CONFIG_PINCTRL_SM8550=n
CONFIG_TI_SYSC=n
CONFIG_LEDS_PWM=n
CONFIG_SND_MESON_AXG_SPDIFOUT=n
CONFIG_CRYPTO_AKCIPHER2=n
CONFIG_PHY_ROCKCHIP_TYPEC=n
CONFIG_UCS2_STRING=n
CONFIG_AUDIT_GENERIC=n
CONFIG_GENERIC_ARCH_TOPOLOGY=n
CONFIG_INPUT_BBNSM_PWRKEY=n
CONFIG_QCOM_SMP2P=n
CONFIG_ARCH_HAS_PTE_SPECIAL=n
CONFIG_SM_GCC_8450=n
CONFIG_HAVE_KVM_IRQ_BYPASS=n
CONFIG_NLS=n
CONFIG_DWMAC_NUVOTON=n
CONFIG_CRYPTO_DEV_FSL_DPAA2_CAAM=n
CONFIG_EVENTFD=n
CONFIG_MTK_SVS=n
CONFIG_SND_SOC_LPASS_APQ8016=n
CONFIG_CRYPTO_RSA=n
CONFIG_ARCH_HAS_ACPI_TABLE_UPGRADE=n
CONFIG_APPLE_WATCHDOG=n
CONFIG_PCI_ATS=n
CONFIG_HNS3=n
CONFIG_PCI_SYSCALL=n
CONFIG_RESET_QCOM_AOSS=n
