CONFIG_USB_MUSB_SUNXI=n
CONFIG_DRM_MSM_DSI=n
CONFIG_EFI_CUSTOM_SSDT_OVERLAYS=n
CONFIG_STRICT_DEVMEM=n
CONFIG_DRM_MSM_DSI_14NM_PHY=n
CONFIG_PCI_PWRCTRL_PWRSEQ=n
CONFIG_ARCH_HIBERNATION_POSSIBLE=n
CONFIG_MFD_KHADAS_MCU=n
CONFIG_RD_LZ4=n
CONFIG_SDM_DISPCC_845=n
CONFIG_FUSE_IO_URING=n
CONFIG_ACPI_PPTT=n
CONFIG_TI_PRUSS_INTC=n
CONFIG_QCOM_PDR_HELPERS=n
CONFIG_INET_DIAG=n
CONFIG_ARM64_SME=n
CONFIG_PINCTRL_SINGLE=n
CONFIG_ARM64_ERRATUM_2054223=n
CONFIG_CRYPTO_DEV_FSL_CAAM_JR=n
CONFIG_DRM_PANEL_SUMMIT=n
CONFIG_USB_QCOM_EUD=n
CONFIG_SM_GPUCC_8450=n
CONFIG_LEDS_CLASS_FLASH=n
CONFIG_LOGO=n
CONFIG_BT_MTK=n
CONFIG_VLAN_8021Q=n
CONFIG_CLK_BCM2835=n
CONFIG_COMMON_CLK_MT8196=n
CONFIG_TREE_SRCU=n
CONFIG_UBIFS_FS_ZSTD=n
CONFIG_SND_SOC_J721E_EVM=n
CONFIG_GPIO_BLZP1600=n
CONFIG_CAN_NETLINK=n
CONFIG_CAN=n
CONFIG_LEDS_QCOM_FLASH=n
CONFIG_ARCH_THUNDER=n
CONFIG_COMMON_CLK_MT8183_MFGCFG=n
CONFIG_INTERCONNECT_QCOM_SM6115=n
CONFIG_COMMON_CLK_HI3660=n
CONFIG_ACPI_CPPC_CPUFREQ=n
CONFIG_PHY_HISI_INNO_USB2=n
CONFIG_CRYPTO_HASH=n
CONFIG_IPV6=n
CONFIG_KVM_VFIO=n
CONFIG_ARM64_ERRATUM_827319=n
CONFIG_SYSC_R8A779F0=n
CONFIG_SYSC_RCAR_GEN4=n
CONFIG_HW_RANDOM_BCM2835=n
CONFIG_HAVE_CLK=n
CONFIG_MMC_DW_K3=n
CONFIG_SND_AUDIO_GRAPH_CARD=n
CONFIG_QCOM_IOMMU=n
CONFIG_USB_F_MASS_STORAGE=n
CONFIG_IIO_CROS_EC_SENSORS_CORE=n
CONFIG_SND_PCM_ELD=n
CONFIG_SND_SOC_SOF_COMPRESS=n
CONFIG_COMMON_CLK_HI3519=n
CONFIG_PINCTRL_OWL=n
CONFIG_IPQ_GCC_8074=n
CONFIG_SND_PCM_TIMER=n
CONFIG_SND_SOC_SOF_OF=n
CONFIG_CPU_FREQ_GOV_CONSERVATIVE=n
CONFIG_CLK_R8A77990=n
CONFIG_HOTPLUG_PCI_ACPI=n
CONFIG_USB_DWC2_DUAL_ROLE=n
CONFIG_NVMEM_MAX77759=n
CONFIG_GPIO_SL28CPLD=n
CONFIG_CONTIG_ALLOC=n
CONFIG_HAVE_ARCH_VMAP_STACK=n
CONFIG_SLUB_DEBUG=n
CONFIG_SND_DYNAMIC_MINORS=n
CONFIG_ARCH_NPCM=n
CONFIG_QCOM_RPMHPD=n
CONFIG_REGULATOR_QCOM_RPMH=n
CONFIG_DRM_PANEL_HIMAX_HX83112B=n
CONFIG_DRM_DW_HDMI_AHB_AUDIO=n
CONFIG_ARM64_SVE=n
CONFIG_PNFS_BLOCK=n
CONFIG_PINCTRL_SUNXI=n
CONFIG_COMMON_CLK_RK808=n
CONFIG_CLK_X1E80100_CAMCC=n
CONFIG_PWM_MESON=n
CONFIG_DWMAC_IMX8=n
CONFIG_TRANSPARENT_HUGEPAGE_SHMEM_HUGE_NEVER=n
CONFIG_SND_SOC_MT6357=n
CONFIG_CGROUP_BPF=n
CONFIG_SERIAL_FSL_LPUART_CONSOLE=n
CONFIG_DRM_MXS=n
CONFIG_PHY_ROCKCHIP_EMMC=n
CONFIG_I2C_RK3X=n
CONFIG_SERIAL_MSM_CONSOLE=n
CONFIG_SPI_SPIDEV=n
CONFIG_CLK_QORIQ=n
CONFIG_HAVE_ARCH_JUMP_LABEL_RELATIVE=n
CONFIG_UACCE=n
CONFIG_ARCH_SEATTLE=n
CONFIG_BRIDGE_IGMP_SNOOPING=n
CONFIG_VIDEO_IMX8_JPEG=n
CONFIG_MEDIA_SUBDRV_AUTOSELECT=n
CONFIG_CLK_R9A09G087=n
CONFIG_MEDIA_TUNER_XC5000=n
CONFIG_IRQ_UNIPHIER_AIDET=n
CONFIG_FIND_NORMAL_PAGE=n
CONFIG_VIDEO_CADENCE_CSI2RX=n
CONFIG_MMC_DW=n
CONFIG_COMMON_CLK_C3_PLL=n
CONFIG_COMMON_CLK_MT8173_IMGSYS=n
CONFIG_USB_EHCI_TT_NEWSCHED=n
CONFIG_PHY_FSL_IMX8M_PCIE=n
CONFIG_USB_XHCI_PLATFORM=n
CONFIG_SERIAL_QCOM_GENI_CONSOLE=n
CONFIG_REGULATOR_TPS65132=n
CONFIG_TI_DAVINCI_MDIO=n
CONFIG_SM_GCC_8250=n
CONFIG_DP83TG720_PHY=n
CONFIG_PHY_NS2_PCIE=n
CONFIG_VIDEO_IR_I2C=n
CONFIG_DRM_PANEL_ILITEK_ILI9882T=n
CONFIG_ARM_MHU=n
CONFIG_HIBERNATION_COMP_LZO=n
CONFIG_SND_USB_AUDIO=n
CONFIG_DWMAC_ROCKCHIP=n
CONFIG_DRM_I2C_ADV7511_AUDIO=n
CONFIG_PINCTRL_IPROC_GPIO=n
CONFIG_AT803X_PHY=n
CONFIG_PWM_SUN4I=n
CONFIG_USB_ULPI_VIEWPORT=n
CONFIG_MHI_NET=n
CONFIG_DRM_RCAR_WRITEBACK=n
CONFIG_PWM_ADP5585=n
CONFIG_CLK_X1E80100_TCSRCC=n
CONFIG_IMX2_WDT=n
CONFIG_RPS=n
CONFIG_REGULATOR_RAA215300=n
CONFIG_HAVE_FUNCTION_ERROR_INJECTION=n
CONFIG_CPU_IDLE_GOV_MENU=n
CONFIG_SGL_ALLOC=n
CONFIG_MTD_MAP_BANK_WIDTH_1=n
CONFIG_TRACE_IRQFLAGS_NMI_SUPPORT=n
CONFIG_TYPEC_TCPCI=n
CONFIG_PINCTRL_SC7280_LPASS_LPI=n
CONFIG_SND_HDA=n
CONFIG_QRTR_SMD=n
CONFIG_PREEMPT_NOTIFIERS=n
CONFIG_DECOMPRESS_LZMA=n
CONFIG_COMMON_CLK_MT8167_MFGCFG=n
CONFIG_CLK_KAANAPALI_TCSRCC=n
CONFIG_ROCKCHIP_CDN_DP=n
CONFIG_ARM64_AMU_EXTN=n
CONFIG_TI_SCI_INTA_MSI_DOMAIN=n
CONFIG_UID16=n
CONFIG_IPQ_NSSCC_9574=n
CONFIG_PCIE_XILINX=n
CONFIG_SERIAL_8250_BCM7271=n
CONFIG_FAT_FS=n
CONFIG_SND_SOC_SC7280=n
CONFIG_PWM_SL28CPLD=n
CONFIG_POWER_SUPPLY_HWMON=n
CONFIG_ARCH_HAS_MEMBARRIER_SYNC_CORE=n
CONFIG_CRYPTO_CTR=n
CONFIG_FUTEX_PI=n
CONFIG_BGMAC_PLATFORM=n
CONFIG_MTK_THERMAL=n
CONFIG_DRM_MSM_KMS_FBDEV=n
CONFIG_TEE_DMABUF_HEAPS=n
CONFIG_RENESAS_RZV2H_ICU=n
CONFIG_BATTERY_SBS=n
CONFIG_ARM_SCPI_CPUFREQ=n
CONFIG_COMMON_CLK_MT8195_IMGSYS=n
CONFIG_SPARSEMEM_VMEMMAP_ENABLE=n
CONFIG_ARCH_SUPPORTS_DEBUG_PAGEALLOC=n
CONFIG_MTD_SST25L=n
CONFIG_HAVE_ARCH_HUGE_VMALLOC=n
CONFIG_SND_COMPRESS_OFFLOAD=n
CONFIG_TEGRA210_ADMA=n
CONFIG_SND_MESON_AXG_TDMIN=n
CONFIG_TI_SCI_PM_DOMAINS=n
CONFIG_ARCH_USES_PG_ARCH_2=n
CONFIG_DEBUG_INFO_COMPRESSED_NONE=n
CONFIG_V4L_PLATFORM_DRIVERS=n
CONFIG_MAC80211_HAS_RC=n
CONFIG_SERIAL_8250_CONSOLE=n
CONFIG_NET_VENDOR_ALIBABA=n
CONFIG_ARCH_BRCMSTB=n
CONFIG_HAVE_KCSAN_COMPILER=n
CONFIG_COMMON_CLK_MT8183_IPU_CORE0=n
CONFIG_USB_CONFIGFS_MASS_STORAGE=n
CONFIG_PCIE_QCOM=n
CONFIG_TCG_TPM=n
CONFIG_9P_FS=n
CONFIG_EXYNOS_ACPM_PROTOCOL=n
CONFIG_USB_F_FS=n
CONFIG_CRYPTO_USER_API=n
CONFIG_FUSE_PASSTHROUGH=n
CONFIG_NVMEM_LAYOUT_SL28_VPD=n
CONFIG_GPIO_PCF857X=n
CONFIG_PINCTRL_AMLOGIC_C3=n
CONFIG_MMC_OWL=n
CONFIG_MTK_CPUX_TIMER=n
CONFIG_FB_SYSMEM_HELPERS=n
CONFIG_DRM_DW_HDMI=n
CONFIG_IOMMU_IO_PGTABLE_LPAE=n
CONFIG_IPMI_PLAT_DATA=n
CONFIG_FANOTIFY=n
CONFIG_REGULATOR_MT6360=n
CONFIG_DRM_ZYNQMP_DPSUB_AUDIO=n
CONFIG_PATA_OF_PLATFORM=n
CONFIG_PCIE_ALTERA=n
CONFIG_STM_PROTO_SYS_T=n
CONFIG_ARM_AMBA=n
CONFIG_SND_SOC_RT1011=n
CONFIG_SND_MESON_AXG_SPDIFIN=n
CONFIG_PCI_HOST_THUNDER_ECAM=n
CONFIG_CLK_X1E80100_GPUCC=n
CONFIG_CRYPTO_LIB_SHA256=n
CONFIG_CAN_XILINXCAN=n
CONFIG_PHY_MIXEL_MIPI_DPHY=n
CONFIG_ARM_QCOM_CPUFREQ_NVMEM=n
CONFIG_COUNTER=n
CONFIG_CRYPTO_USER_API_RNG=n
CONFIG_FPGA_REGION=n
CONFIG_CC_CAN_LINK=n
CONFIG_GPIO_PCA953X_IRQ=n
CONFIG_NVMEM_MESON_EFUSE=n
CONFIG_COMMON_CLK_SCPI=n
CONFIG_VIDEOMODE_HELPERS=n
CONFIG_SH_TIMER_TMU=n
CONFIG_NFS_V4_SECURITY_LABEL=n
CONFIG_PHY_MESON_AXG_MIPI_PCIE_ANALOG=n
CONFIG_COMMON_CLK_MT8188_VDOSYS=n
CONFIG_PCIE_RCAR_GEN4_HOST=n
CONFIG_REGULATOR_PCA9450=n
CONFIG_DRM_STM_LVDS=n
CONFIG_BCM54140_PHY=n
CONFIG_COMMON_CLK_MESON_DUALDIV=n
CONFIG_SENSORS_GPIO_FAN=n
CONFIG_PHY_RCAR_GEN3_USB3=n
CONFIG_ARCH_USE_GNU_PROPERTY=n
CONFIG_HTE_TEGRA194_TEST=n
CONFIG_BT_QCA=n
CONFIG_STACKPROTECTOR_STRONG=n
CONFIG_COMMON_CLK_HI655X=n
CONFIG_GPIO_TPS65219=n
CONFIG_ARM_SCMI_QUIRKS=n
CONFIG_SERIAL_FSL_LINFLEXUART=n
CONFIG_NET_VENDOR_INTEL=n
CONFIG_BRCMSTB_THERMAL=n
CONFIG_DRM_CLIENT_SETUP=n
CONFIG_ARM_DSU_PMU=n
CONFIG_WLAN_VENDOR_MICROCHIP=n
CONFIG_BCMASP=n
CONFIG_PINMUX=n
CONFIG_OF_MDIO=n
CONFIG_FB_SYS_FILLRECT=n
CONFIG_IPQ_APSS_5424=n
CONFIG_SPI_QUP=n
CONFIG_NF_DEFRAG_IPV4=n
CONFIG_DRM_INNO_HDMI=n
CONFIG_PM_GENERIC_DOMAINS_OF=n
CONFIG_COMMON_CLK_HI6220=n
CONFIG_PCIEASPM_DEFAULT=n
CONFIG_PCI_ATS=n
CONFIG_ARM64_HW_AFDBM=n
CONFIG_DRM_DISPLAY_DP_AUX_BUS=n
CONFIG_PINCTRL_ROCKCHIP=n
CONFIG_OMAP2PLUS_MBOX=n
CONFIG_SND_SOC_IMX_AUDMUX=n
CONFIG_CLK_R9A08G046=n
CONFIG_USB_BELKIN=n
CONFIG_HAVE_ARCH_AUDITSYSCALL=n
CONFIG_NETFILTER_SKIP_EGRESS=n
CONFIG_MEMTEST=n
CONFIG_SND_SOC_TEGRA=n
CONFIG_SND_DRIVERS=n
CONFIG_XZ_DEC_X86=n
CONFIG_FSL_ENETC=n
CONFIG_ARCH_HAS_KEEPINITRD=n
CONFIG_TOUCHSCREEN_ELAN=n
CONFIG_HAVE_RUST=n
CONFIG_PINCTRL_MTK_PARIS=n
CONFIG_NUMA_MEMBLKS=n
CONFIG_PCS_RZN1_MIIC=n
CONFIG_SND_SOC_LPASS_HDMI=n
CONFIG_MFD_AXP20X=n
CONFIG_VIRTIO_NET=n
CONFIG_I2C_BOARDINFO=n
CONFIG_PLATFORM_MHU=n
CONFIG_IOMMU_SUPPORT=n
CONFIG_USB_SUPPORT=n
CONFIG_PWRSEQ_EMMC=n
CONFIG_RENESAS_RZV2HWDT=n
CONFIG_SND_SOC_CROS_EC_CODEC=n
CONFIG_INTERCONNECT_QCOM_KAANAPALI=n
CONFIG_GREYBUS_BEAGLEPLAY=n
CONFIG_ARM_ALLWINNER_SUN50I_CPUFREQ_NVMEM=n
CONFIG_PINCTRL_ARMADA_CP110=n
CONFIG_HAVE_KVM_DIRTY_RING=n
CONFIG_AUTOFS_FS=n
CONFIG_SERIAL_8250_DW=n
CONFIG_STUB_CLK_HI6220=n
