CONFIG_CORE_DUMP_DEFAULT_ELF_HEADERS=n
CONFIG_IO_URING_ZCRX=n
CONFIG_PATA_MPIIX=n
CONFIG_GENERIC_SYSCALL=n
CONFIG_NLS_ASCII=n
CONFIG_ARCH_SUPPORTS_KEXEC_SIG_FORCE=n
CONFIG_CPU_FREQ_GOV_SCHEDUTIL=n
CONFIG_XFRM_USER=n
CONFIG_EFI=n
CONFIG_POWER_SUPPLY=n
CONFIG_NETFILTER_XTABLES=n
CONFIG_MITIGATION_SRBDS=n
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_DIRECT_CALLS=n
CONFIG_SBITMAP=n
CONFIG_MOUSE_PS2=n
CONFIG_TRACE_IRQFLAGS_SUPPORT=n
CONFIG_TICK_CPU_ACCOUNTING=n
CONFIG_CRYPTO_AES=n
CONFIG_NF_CONNTRACK=n
CONFIG_HVC_DRIVER=n
CONFIG_HAVE_ARCH_THREAD_STRUCT_WHITELIST=n
CONFIG_GCC10_NO_ARRAY_BOUNDS=n
CONFIG_SND_X86=n
CONFIG_EPOLL=n
CONFIG_INTEGRITY_AUDIT=n
CONFIG_PACKET=n
CONFIG_PROC_MEM_FORCE_PTRACE=n
CONFIG_PERF_EVENTS=n
CONFIG_DUMMY_CONSOLE=n
CONFIG_PM_SLEEP=n
CONFIG_INTEGRITY=n
CONFIG_X86=n
CONFIG_ARCH_HAS_PTE_SPECIAL=n
CONFIG_PNFS_FLEXFILE_LAYOUT=n
CONFIG_RPS=n
CONFIG_ACPI_EC=n
CONFIG_DRM_KMS_HELPER=n
CONFIG_DEBUG_STACK_USAGE=n
CONFIG_FLATMEM_MANUAL=n
CONFIG_MAGIC_SYSRQ_SERIAL=n
CONFIG_CGROUPS=n
CONFIG_NET_SELFTESTS=n
CONFIG_NETFILTER_XT_TARGET_NFLOG=n
CONFIG_VIRTIO_MENU=n
CONFIG_CRYPTO_ALGAPI=n
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO=n
CONFIG_SERIAL_8250_CONSOLE=n
CONFIG_PROC_SYSCTL=n
CONFIG_IP_ADVANCED_ROUTER=n
CONFIG_DECOMPRESS_LZO=n
CONFIG_WLAN_VENDOR_PURELIFI=n
CONFIG_GCC_ASM_GOTO_OUTPUT_BROKEN=n
CONFIG_ARCH_HAS_DEBUG_VM_PGTABLE=n
CONFIG_NET_VENDOR_PENSANDO=n
CONFIG_ACPI_PROCESSOR_IDLE=n
CONFIG_SYSTEM_DATA_VERIFICATION=n
CONFIG_EFI_STUB=n
CONFIG_FW_LOADER=n
CONFIG_YENTA_TI=n
CONFIG_CGROUP_CPUACCT=n
CONFIG_ARCH_HAS_SYSCALL_WRAPPER=n
CONFIG_HALTPOLL_CPUIDLE=n
CONFIG_NOP_TRACER=n
CONFIG_GENERIC_PENDING_IRQ=n
CONFIG_NET_POLL_CONTROLLER=n
CONFIG_RELOCATABLE=n
CONFIG_KRETPROBE_ON_RETHOOK=n
CONFIG_MOUSE_PS2_LIFEBOOK=n
CONFIG_CRYPTO_HASH_INFO=n
CONFIG_SND_CTL_FAST_LOOKUP=n
CONFIG_EXT4_FS_POSIX_ACL=n
CONFIG_POSIX_MQUEUE_SYSCTL=n
CONFIG_X86_DISABLED_FEATURE_SYSCALL32=n
CONFIG_X86_DISABLED_FEATURE_CALL_DEPTH=n
CONFIG_FORCEDETH=n
CONFIG_LOCKDEP_SUPPORT=n
CONFIG_NET_IP_TUNNEL=n
CONFIG_NETWORK_FILESYSTEMS=n
CONFIG_SERIO_LIBPS2=n
CONFIG_ATA_BMDMA=n
CONFIG_ARCH_HAS_CACHE_LINE_SIZE=n
CONFIG_BLK_CGROUP=n
CONFIG_ARCH_WANTS_DYNAMIC_TASK_STRUCT=n
CONFIG_NETFILTER_XT_MATCH_ADDRTYPE=n
CONFIG_EFIVAR_FS=n
CONFIG_HAVE_FUNCTION_GRAPH_FREGS=n
CONFIG_ELF_CORE=n
CONFIG_PID_NS=n
CONFIG_X86_16BIT=n
CONFIG_GENERIC_VDSO_OVERFLOW_PROTECT=n
CONFIG_ARCH_HAS_PARANOID_L1D_FLUSH=n
CONFIG_EFI_CUSTOM_SSDT_OVERLAYS=n
CONFIG_GENERIC_EARLY_IOREMAP=n
CONFIG_SYN_COOKIES=n
CONFIG_NET_VENDOR_CORTINA=n
CONFIG_NAMESPACES=n
CONFIG_X86_DEBUGCTLMSR=n
CONFIG_NET_VENDOR_LITEX=n
CONFIG_X86_CPUID=n
CONFIG_NET_VENDOR_AQUANTIA=n
CONFIG_EFI_RUNTIME_WRAPPERS=n
CONFIG_SERIAL_CORE=n
CONFIG_UPROBES=n
CONFIG_NET_CLS_CGROUP=n
CONFIG_HAVE_PREEMPT_DYNAMIC_CALL=n
CONFIG_DRM_I915=n
CONFIG_SERIAL_NONSTANDARD=n
CONFIG_DRM_MIPI_DSI=n
CONFIG_HAVE_ARCH_GET_SECUREBOOT=n
CONFIG_SYMBOLIC_ERRNAME=n
CONFIG_SCSI=n
CONFIG_MMU=n
CONFIG_VIRTIO_DMA_SHARED_BUFFER=n
CONFIG_HAVE_ARCH_KGDB=n
CONFIG_SND_PCM=n
CONFIG_NET_VENDOR_RENESAS=n
CONFIG_MD_BITMAP=n
CONFIG_ACPI_AC=n
CONFIG_EEEPC_LAPTOP=n
CONFIG_NETFILTER=n
CONFIG_TMPFS_XATTR=n
CONFIG_DRM_VIRTIO_GPU=n
CONFIG_PROC_FS=n
CONFIG_MOUSE_PS2_ALPS=n
CONFIG_TTY=n
CONFIG_BINFMT_ELF=n
CONFIG_HAVE_GENERIC_TIF_BITS=n
CONFIG_KALLSYMS=n
CONFIG_X86_ACPI_CPUFREQ=n
CONFIG_VIRTIO_PCI_LIB=n
CONFIG_SERIO_SERPORT=n
CONFIG_ARCH_SUPPORTS_CRASH_HOTPLUG=n
CONFIG_FUTEX=n
CONFIG_STANDALONE=n
CONFIG_X86_REQUIRED_FEATURE_CMOV=n
CONFIG_HZ_1000=n
CONFIG_GENERIC_STRNLEN_USER=n
CONFIG_IOMMU_API=n
CONFIG_HAVE_USER_RETURN_NOTIFIER=n
CONFIG_NET_VENDOR_CISCO=n
CONFIG_MAC80211_RC_MINSTREL=n
CONFIG_ARCH_HAS_FORTIFY_SOURCE=n
CONFIG_SECCOMP_FILTER=n
CONFIG_HAVE_FTRACE_GRAPH_FUNC=n
CONFIG_PAGE_COUNTER=n
CONFIG_X86_PLATFORM_DEVICES=n
CONFIG_ARCH_SUPPORTS_KMAP_LOCAL_FORCE_MAP=n
CONFIG_DNOTIFY=n
CONFIG_SECURITY_SELINUX=n
CONFIG_HIBERNATION_COMP_LZO=n
CONFIG_PCI_LOCKLESS_CONFIG=n
CONFIG_DEVTMPFS_MOUNT=n
CONFIG_DM_MIRROR=n
CONFIG_STACKPROTECTOR_STRONG=n
CONFIG_ARCH_HAVE_NMI_SAFE_CMPXCHG=n
CONFIG_NETWORK_SECMARK=n
CONFIG_QUOTACTL=n
CONFIG_CC_HAS_WORKING_NOSANITIZE_ADDRESS=n
CONFIG_CRC_OPTIMIZATIONS=n
CONFIG_CPU_SUP_ZHAOXIN=n
CONFIG_HAS_IOPORT=n
CONFIG_ARCH_HAS_MEMBARRIER_SYNC_CORE=n
CONFIG_X86_PKG_TEMP_THERMAL=n
CONFIG_CLKEVT_I8253=n
CONFIG_HAVE_PERF_REGS=n
CONFIG_RWSEM_SPIN_ON_OWNER=n
CONFIG_PCIE_PME=n
CONFIG_CGROUP_NET_PRIO=n
CONFIG_RSEQ=n
CONFIG_NET_CORE=n
CONFIG_DRM_DISPLAY_DP_HELPER=n
CONFIG_FAIR_GROUP_SCHED=n
CONFIG_NEW_LEDS=n
CONFIG_GENERIC_IRQ_SHOW=n
CONFIG_HAVE_KCSAN_COMPILER=n
CONFIG_DEBUG_BUGVERBOSE=n
CONFIG_SERIAL_8250_PCILIB=n
CONFIG_NET_VENDOR_DEC=n
CONFIG_INOTIFY_USER=n
CONFIG_EXT4_FS_SECURITY=n
CONFIG_VGA_CONSOLE=n
CONFIG_DRM_GEM_SHMEM_HELPER=n
CONFIG_PTP_1588_CLOCK_OPTIONAL=n
CONFIG_ASSOCIATIVE_ARRAY=n
CONFIG_BLK_DEV_DM_BUILTIN=n
CONFIG_MITIGATION_RFDS=n
CONFIG_SND_PCM_TIMER=n
CONFIG_X86_BOOTPARAM_MEMORY_CORRUPTION_CHECK=n
CONFIG_MMU_GATHER_RCU_TABLE_FREE=n
CONFIG_MII=n
CONFIG_EXT4_FS=n
CONFIG_UNIX98_PTYS=n
CONFIG_CRYPTO_SEQIV=n
CONFIG_SCHED_CLUSTER=n
CONFIG_USB_HIDDEV=n
CONFIG_X86_CMOV=n
CONFIG_WLAN_VENDOR_QUANTENNA=n
CONFIG_ARCH_MHP_MEMMAP_ON_MEMORY_ENABLE=n
CONFIG_ACPI_SPCR_TABLE=n
CONFIG_USB_ARCH_HAS_HCD=n
CONFIG_ATA_VERBOSE_ERROR=n
CONFIG_NET_VENDOR_MYRI=n
CONFIG_MAC80211=n
CONFIG_SELECT_MEMORY_MODEL=n
CONFIG_NET_VENDOR_AGERE=n
CONFIG_IP6_NF_MATCH_IPV6HEADER=n
CONFIG_X86_MCE=n
CONFIG_SCSI_LOWLEVEL=n
CONFIG_NEED_SG_DMA_LENGTH=n
CONFIG_LD_IS_BFD=n
CONFIG_PREEMPT_LAZY=n
CONFIG_PM_DEBUG=n
CONFIG_SND_SEQ_HRTIMER_DEFAULT=n
CONFIG_DRM_I915_USERPTR=n
CONFIG_WLAN_VENDOR_ADMTEK=n
CONFIG_SCHED_SMT=n
CONFIG_ARCH_USE_MEMTEST=n
CONFIG_MAGIC_SYSRQ=n
CONFIG_ZISOFS=n
CONFIG_MOUSE_PS2_LOGIPS2PP=n
CONFIG_AGP=n
CONFIG_X86_DISABLED_FEATURE_PKU=n
CONFIG_HW_RANDOM=n
CONFIG_CRYPTO_RSA=n
CONFIG_HOTPLUG_CORE_SYNC=n
CONFIG_INPUT_LEDS=n
CONFIG_ATA_FORCE=n
CONFIG_CGROUP_RDMA=n
CONFIG_NETFILTER_EGRESS=n
CONFIG_MITIGATION_MDS=n
CONFIG_PM_SLEEP_SMP=n
CONFIG_NETFILTER_XT_MATCH_CONNTRACK=n
CONFIG_HAVE_ARCH_WITHIN_STACK_FRAMES=n
CONFIG_SERIAL_8250_PCI=n
CONFIG_TASKS_RCU=n
CONFIG_NETFILTER_XT_MATCH_POLICY=n
CONFIG_DEBUG_MEMORY_INIT=n
CONFIG_EARLY_PRINTK=n
CONFIG_AUDITSYSCALL=n
CONFIG_SCHED_INFO=n
CONFIG_MODIFY_LDT_SYSCALL=n
CONFIG_USB_XHCI_PCI=n
CONFIG_NET_VENDOR_XIRCOM=n
CONFIG_CACHESTAT_SYSCALL=n
CONFIG_ARCH_HIBERNATION_POSSIBLE=n
CONFIG_PCI_DIRECT=n
CONFIG_FWNODE_MDIO=n
CONFIG_DRM_PANEL_BRIDGE=n
CONFIG_I2C_ALGOBIT=n
CONFIG_BUILDTIME_TABLE_SORT=n
CONFIG_ARCH_USE_CMPXCHG_LOCKREF=n
CONFIG_AUDIT=n
CONFIG_HAVE_PERF_EVENTS=n
CONFIG_HAVE_DMA_CONTIGUOUS=n
CONFIG_X86_DEBUG_FPU=n
CONFIG_GENERIC_BITREVERSE=n
CONFIG_MOUSE_PS2_SYNAPTICS_SMBUS=n
CONFIG_CRYPTO_HMAC=n
CONFIG_CRYPTO_LIB_AES=n
CONFIG_BRANCH_PROFILE_NONE=n
CONFIG_MMU_GATHER_TABLE_FREE=n
CONFIG_SND_VERBOSE_PROCFS=n
CONFIG_DRM=n
CONFIG_SGETMASK_SYSCALL=n
CONFIG_CPU_SUP_TRANSMETA_32=n
CONFIG_CPU_RMAP=n
CONFIG_SHMEM=n
CONFIG_HYPERVISOR_GUEST=n
CONFIG_STRICT_MODULE_RWX=n
CONFIG_HW_RANDOM_GEODE=n
CONFIG_DRM_PANEL_ORIENTATION_QUIRKS=n
CONFIG_BINFMT_MISC=n
CONFIG_DIMLIB=n
CONFIG_X86_MSR=n
CONFIG_AS_IS_GNU=n
CONFIG_ACPI_THERMAL_LIB=n
CONFIG_INPUT_VIVALDIFMAP=n
CONFIG_NET_RX_BUSY_POLL=n
CONFIG_JBD2=n
CONFIG_ARCH_HAS_DEBUG_VIRTUAL=n
CONFIG_USB_XHCI_HCD=n
CONFIG_DEFAULT_CUBIC=n
CONFIG_THERMAL_GOV_STEP_WISE=n
CONFIG_ACPI_CPU_FREQ_PSS=n
CONFIG_SND_HDA_CORE=n
CONFIG_PAGE_SIZE_LESS_THAN_64KB=n
CONFIG_IP_PNP=n
CONFIG_GENERIC_IRQ_MATRIX_ALLOCATOR=n
CONFIG_IPV6_SIT=n
CONFIG_RFKILL=n
CONFIG_ARCH_HAS_FAST_MULTIPLIER=n
CONFIG_POSIX_CPU_TIMERS_TASK_WORK=n
CONFIG_DST_CACHE=n
CONFIG_SGL_ALLOC=n
CONFIG_FONT_SUPPORT=n
CONFIG_NET_VENDOR_DLINK=n
CONFIG_NET_VENDOR_TEHUTI=n
CONFIG_NETCONSOLE=n
CONFIG_CRC_CCITT=n
CONFIG_NETFILTER_XT_MATCH_STATE=n
