CONFIG_PHY_SUN6I_MIPI_DPHY=n
CONFIG_SND_PCM_TIMER=n
CONFIG_TOOLCHAIN_NEEDS_EXPLICIT_ZICSR_ZIFENCEI=n
CONFIG_ARCH_WANT_OPTIMIZE_DAX_VMEMMAP=n
CONFIG_CRYPTO_SHA1=n
CONFIG_FW_LOADER=n
CONFIG_GRACE_PERIOD=n
CONFIG_RISCV_ISA_ZBKB=n
CONFIG_NET_VENDOR_CORTINA=n
CONFIG_BRIDGE_IGMP_SNOOPING=n
CONFIG_QUEUED_RWLOCKS=n
CONFIG_NETLINK_DIAG=n
CONFIG_SLAB_OBJ_EXT=n
CONFIG_EFI_EARLYCON=n
CONFIG_SERIAL_MCTRL_GPIO=n
CONFIG_HAVE_GIGANTIC_FOLIOS=n
CONFIG_SPLIT_PMD_PTLOCKS=n
CONFIG_FB_SYS_FILLRECT=n
CONFIG_SPARSEMEM_VMEMMAP=n
CONFIG_OID_REGISTRY=n
CONFIG_RPMSG_NS=n
CONFIG_RISCV_PMU_SBI=n
CONFIG_RUNTIME_KERNEL_TESTING_MENU=n
CONFIG_REGMAP_MMIO=n
CONFIG_CPU_FREQ_GOV_POWERSAVE=n
CONFIG_SECRETMEM=n
CONFIG_NET_VENDOR_ALIBABA=n
CONFIG_TIMER_PROBE=n
CONFIG_MFD_AXP20X_I2C=n
CONFIG_ARCH_HAS_DEBUG_VM_PGTABLE=n
CONFIG_USB_OHCI_HCD=n
CONFIG_PNFS_BLOCK=n
CONFIG_PID_NS=n
CONFIG_DT_IDLE_GENPD=n
CONFIG_NETFILTER_XT_MARK=n
CONFIG_SERIAL_8250_DWLIB=n
CONFIG_GENERIC_PENDING_IRQ=n
CONFIG_NET_VENDOR_LITEX=n
CONFIG_SATA_AHCI=n
CONFIG_PNPACPI=n
CONFIG_SND_PCI=n
CONFIG_INOTIFY_USER=n
CONFIG_SND_DESIGNWARE_I2S=n
CONFIG_NET_VENDOR_AGERE=n
CONFIG_KVM_GENERIC_DIRTYLOG_READ_PROTECT=n
CONFIG_SECURITY=n
CONFIG_VIRTIO_MENU=n
CONFIG_WLAN_VENDOR_ADMTEK=n
CONFIG_NET_VENDOR_NATSEMI=n
CONFIG_CLK_ANALOGBITS_WRPLL_CLN28HPC=n
CONFIG_USB_CONFIGFS_F_FS=n
CONFIG_GPIOLIB_IRQCHIP=n
CONFIG_KEYS=n
CONFIG_FB_CFB_FILLRECT=n
CONFIG_KALLSYMS=n
CONFIG_GPIO_DWAPB=n
CONFIG_RISCV_VECTOR_MISALIGNED=n
CONFIG_JOLIET=n
CONFIG_SUN55I_PCK600=n
CONFIG_DMADEVICES=n
CONFIG_CRYPTO_HW=n
CONFIG_GENERIC_PHY=n
CONFIG_BITREVERSE=n
CONFIG_SERIAL_8250_CONSOLE=n
CONFIG_CACHESTAT_SYSCALL=n
CONFIG_VDSO_GETRANDOM=n
CONFIG_DEBUG_FS=n
CONFIG_NEED_DMA_MAP_STATE=n
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST=n
CONFIG_WLAN_VENDOR_MEDIATEK=n
CONFIG_ARCH_HAS_VDSO_ARCH_DATA=n
CONFIG_ATA_BMDMA=n
CONFIG_COMMON_CLK=n
CONFIG_EXT4_USE_FOR_EXT2=n
CONFIG_PHY_STARFIVE_JH7110_PCIE=n
CONFIG_CRYPTO_LIB_SHA256=n
CONFIG_CAN_CALC_BITTIMING=n
CONFIG_WLAN_VENDOR_RALINK=n
CONFIG_GROUP_SCHED_WEIGHT=n
CONFIG_BACKLIGHT_CLASS_DEVICE=n
CONFIG_POLARFIRE_SOC_SYSCONS=n
CONFIG_IOMMU_PT=n
CONFIG_GPIO_GENERIC=n
CONFIG_HAVE_KERNEL_XZ=n
CONFIG_DEBUG_FS_ALLOW_ALL=n
CONFIG_NETDEVICES=n
CONFIG_USB_ARCH_HAS_HCD=n
CONFIG_ARCH_HAS_STRICT_KERNEL_RWX=n
CONFIG_USB_CONFIGFS_ECM_SUBSET=n
CONFIG_VT_CONSOLE_SLEEP=n
CONFIG_CAN_BCM=n
CONFIG_IOMMU_DEFAULT_DMA_STRICT=n
CONFIG_FW_CACHE=n
CONFIG_FIXED_PHY=n
CONFIG_USB_F_ACM=n
CONFIG_NET_VENDOR_AQUANTIA=n
CONFIG_ARCH_SUPPORTS_MSEAL_SYSTEM_MAPPINGS=n
CONFIG_CC_CAN_LINK=n
CONFIG_SND_TIMER=n
CONFIG_NET_L3_MASTER_DEV=n
CONFIG_SPARSEMEM_EXTREME=n
CONFIG_PINCTRL_ULTRARISC_DP1000=n
CONFIG_BLK_DEV=n
CONFIG_HOTPLUG_CORE_SYNC=n
CONFIG_POSIX_TIMERS=n
CONFIG_ACPI=n
CONFIG_INET_TUNNEL=n
CONFIG_BINFMT_ELF=n
CONFIG_V4L2_FWNODE=n
CONFIG_MMC_SDHCI_OF_K1=n
CONFIG_ARCH_OPTIONAL_KERNEL_RWX_DEFAULT=n
CONFIG_NET_VENDOR_ENGLEDER=n
CONFIG_SG_POOL=n
CONFIG_RTC_DRV_GOLDFISH=n
CONFIG_HAVE_DMA_CONTIGUOUS=n
CONFIG_SOFTIRQ_ON_OWN_STACK=n
CONFIG_NET_VENDOR_PENSANDO=n
CONFIG_NO_HZ_COMMON=n
CONFIG_USB_CONFIGFS_ACM=n
CONFIG_SPLIT_PTE_PTLOCKS=n
CONFIG_PAGE_REPORTING=n
CONFIG_WLAN_VENDOR_ZYDAS=n
CONFIG_RPMSG=n
CONFIG_NOP_USB_XCEIV=n
CONFIG_ARCH_STACKWALK=n
CONFIG_LTO_NONE=n
CONFIG_INPUT_MOUSE=n
CONFIG_USB_EHCI_HCD=n
CONFIG_RCU_NEED_SEGCBLIST=n
CONFIG_FB_DMAMEM_HELPERS_DEFERRED=n
CONFIG_LEGACY_DIRECT_IO=n
CONFIG_PNFS_FILE_LAYOUT=n
CONFIG_FUTEX_PI=n
CONFIG_EXT4_FS=n
CONFIG_CRYPTO_ECHAINIV=n
CONFIG_64BIT=n
CONFIG_CPUFREQ_DT=n
CONFIG_ACPI_DEBUG=n
CONFIG_DRM_KMS_HELPER=n
CONFIG_HAVE_POSIX_CPU_TIMERS_TASK_WORK=n
CONFIG_ARCH_SELECT_MEMORY_MODEL=n
CONFIG_ARCH_WANT_BATCHED_UNMAP_TLB_FLUSH=n
CONFIG_NETFILTER_XT_MATCH_ADDRTYPE=n
CONFIG_ARCH_SUPPORTS_ATOMIC_RMW=n
CONFIG_RCU_STALL_COMMON=n
CONFIG_RISCV_ISA_ZICBOM=n
CONFIG_CRYPTO_USER_API=n
CONFIG_ARCH_HAS_PMEM_API=n
CONFIG_ARCH_USE_QUEUED_SPINLOCKS=n
CONFIG_HAVE_PAGE_SIZE_4KB=n
CONFIG_GENERIC_ALLOCATOR=n
CONFIG_RISCV_RPMI_SYSMSI=n
CONFIG_DRM_CLIENT_DEFAULT_FBDEV=n
CONFIG_NVME_CORE=n
CONFIG_ERRATA_SIFIVE=n
CONFIG_EXPORTFS=n
CONFIG_DRM_PANEL_ORIENTATION_QUIRKS=n
CONFIG_BLK_DEV_SR=n
CONFIG_ARCH_CC_CAN_LINK=n
CONFIG_I2C_K1=n
CONFIG_INITRAMFS_PRESERVE_MTIME=n
CONFIG_WATCHDOG_HANDLE_BOOT_ENABLED=n
CONFIG_RISCV_SBI=n
CONFIG_BLOCK=n
CONFIG_SIFIVE_CCACHE=n
CONFIG_DRM_MIPI_DSI=n
CONFIG_RISCV_ISA_ZBC=n
CONFIG_I2C_BOARDINFO=n
CONFIG_VHOST_ENABLE_FORK_OWNER_CONTROL=n
CONFIG_RISCV_ISA_ZACAS=n
CONFIG_RTC_LIB=n
CONFIG_PCIEPORTBUS=n
CONFIG_ARCH_SUPPORTS_LTO_CLANG_THIN=n
CONFIG_CLK_SOPHGO_SG2042_CLKGEN=n
CONFIG_IRQ_WORK=n
CONFIG_MISC_FILESYSTEMS=n
CONFIG_DT_IDLE_STATES=n
CONFIG_REGULATOR_GPIO=n
CONFIG_SND_USB=n
CONFIG_DRM_SCHED=n
CONFIG_KERNFS=n
CONFIG_DIMLIB=n
CONFIG_MICREL_PHY=n
CONFIG_BTT=n
CONFIG_GCC_NO_STRINGOP_OVERFLOW=n
CONFIG_SYMBOLIC_ERRNAME=n
CONFIG_MTD_MAP_BANK_WIDTH_2=n
CONFIG_PNP_DEBUG_MESSAGES=n
CONFIG_CRYPTO_LIB_AES=n
CONFIG_EXT4_FS_POSIX_ACL=n
CONFIG_HOTPLUG_PARALLEL=n
CONFIG_RPS=n
CONFIG_NOP_TRACER=n
CONFIG_NVMEM_SYSFS=n
CONFIG_RPCSEC_GSS_KRB5=n
CONFIG_MOUSE_PS2_SYNAPTICS_SMBUS=n
CONFIG_NLS=n
CONFIG_GENERIC_EARLY_IOREMAP=n
CONFIG_SECURITYFS=n
CONFIG_HOTPLUG_SPLIT_STARTUP=n
CONFIG_OF_IRQ=n
CONFIG_MTD_MAP_BANK_WIDTH_4=n
CONFIG_ATA_VERBOSE_ERROR=n
CONFIG_TOOLCHAIN_HAS_ZBC=n
CONFIG_ARCH_HAS_SYNC_DMA_FOR_CPU=n
CONFIG_NET_INGRESS=n
CONFIG_RISCV_ISA_FALLBACK=n
CONFIG_ARCH_SUPPORTS_DEBUG_PAGEALLOC=n
CONFIG_CPU_THERMAL=n
CONFIG_NVMEM_SUNXI_SID=n
CONFIG_HAVE_SAMPLE_FTRACE_DIRECT=n
CONFIG_MEDIA_PLATFORM_SUPPORT=n
CONFIG_FB_IOMEM_HELPERS=n
CONFIG_XOR_BLOCKS=n
CONFIG_DMA_DIRECT_REMAP=n
CONFIG_STACKPROTECTOR=n
CONFIG_CLK_STARFIVE_JH7110_STG=n
CONFIG_SYSVIPC_COMPAT=n
CONFIG_GENERIC_CLOCKEVENTS=n
CONFIG_NETFILTER_BPF_LINK=n
CONFIG_PROC_CHILDREN=n
CONFIG_WLAN=n
CONFIG_CRYPTO_MANAGER2=n
CONFIG_NET_VENDOR_SYNOPSYS=n
CONFIG_RISCV_ISA_VENDOR_EXT_ANDES=n
CONFIG_EVENT_TRACING=n
CONFIG_TENSTORRENT_ATLANTIS_PRCM=n
CONFIG_SPACEMIT_K3_CCU=n
CONFIG_FB_IOMEM_FOPS=n
CONFIG_MEMCG=n
CONFIG_SND_SOC_SPDIF=n
CONFIG_MTD_SPI_NOR_SWP_DISABLE_ON_VOLATILE=n
CONFIG_HID=n
CONFIG_SND_SOC_JH7110_PWMDAC=n
CONFIG_RISCV_ISA_SVPBMT=n
CONFIG_SLUB=n
CONFIG_DRM_GPUVM=n
CONFIG_ARCH_HAS_BINFMT_FLAT=n
CONFIG_BLOCK_HOLDER_DEPRECATED=n
CONFIG_DWMAC_GENERIC=n
CONFIG_BLK_DEBUG_FS=n
CONFIG_USB_MUSB_SUNXI=n
CONFIG_CPU_IDLE_MULTIPLE_DRIVERS=n
CONFIG_JH71XX_PMU=n
CONFIG_NETFILTER_FAMILY_BRIDGE=n
CONFIG_REGULATOR=n
CONFIG_XZ_DEC_ARMTHUMB=n
CONFIG_GENERIC_STRNCPY_FROM_USER=n
CONFIG_SPACEMIT_K1_EMAC=n
CONFIG_NET_VENDOR_AMD=n
CONFIG_V4L2_ASYNC=n
CONFIG_SECTION_MISMATCH_WARN_ONLY=n
CONFIG_DRM_DISPLAY_HDMI_HELPER=n
CONFIG_CRYPTO_AEAD2=n
CONFIG_PCPU_DEV_REFCNT=n
CONFIG_ARCH_USE_MEMREMAP_PROT=n
CONFIG_VIRTIO_DMA_SHARED_BUFFER=n
CONFIG_SHMEM=n
CONFIG_CRYPTO_LIB_AES_CBC_MACS=n
CONFIG_USB_CONFIGFS_MASS_STORAGE=n
CONFIG_BRIDGE_VLAN_FILTERING=n
CONFIG_SPI=n
CONFIG_NET_VENDOR_VERTEXCOM=n
CONFIG_CLK_SOPHGO_CV1800=n
CONFIG_VIDEO_V4L2_I2C=n
CONFIG_MOUSE_PS2_SYNAPTICS=n
CONFIG_PROC_SYSCTL=n
CONFIG_ARCH_SPACEMIT=n
CONFIG_SATA_PMP=n
CONFIG_DYNAMIC_SIGFRAME=n
CONFIG_ARCH_STARFIVE=n
CONFIG_CRYPTO_SKCIPHER=n
CONFIG_EFI_STUB=n
CONFIG_IP6_NF_MATCH_IPV6HEADER=n
CONFIG_ARCH_DEFAULT_CRASH_DUMP=n
CONFIG_PGTABLE_HAS_HUGE_LEAVES=n
CONFIG_AS_IS_GNU=n
CONFIG_HAVE_ALIGNED_STRUCT_PAGE=n
CONFIG_HAS_DMA=n
CONFIG_RISCV_ISA_ZAWRS=n
CONFIG_ARCH_FLATMEM_ENABLE=n
CONFIG_NET_VENDOR_RDC=n
CONFIG_NET_VENDOR_QLOGIC=n
CONFIG_DRM_SUN6I_DSI=n
CONFIG_NET_VENDOR_SAMSUNG=n
CONFIG_IRQ_DOMAIN=n
CONFIG_FB_DEFERRED_IO=n
CONFIG_MTD_OF_PARTS=n
CONFIG_NFS_FS=n
CONFIG_USB_CONFIGFS_SERIAL=n
CONFIG_REGULATOR_SPACEMIT_P1=n
CONFIG_MOUSE_PS2_BYD=n
CONFIG_ERRATA_THEAD_CMO=n
CONFIG_BLK_DEV_NVME=n
CONFIG_ACPI_PROCESSOR=n
CONFIG_FB_SYSMEM_HELPERS=n
CONFIG_LDISC_AUTOLOAD=n
CONFIG_ARCH_SUPPORTS_KEXEC_PURGATORY=n
CONFIG_BTRFS_FS=n
CONFIG_HAVE_ARCH_KGDB_QXFER_PKT=n
