CONFIG_SENSORS_LTC4222=y
CONFIG_TCG_TIS_I2C_ATMEL=y
CONFIG_HAVE_ACPI_APEI_NMI=y
CONFIG_SCSI_SRP_ATTRS=y
CONFIG_EXFAT_FS=y
CONFIG_DMI_SCAN_MACHINE_NON_EFI_FALLBACK=y
CONFIG_SENSORS_MAX20751=y
CONFIG_VT=y
CONFIG_HAVE_REGS_AND_STACK_ACCESS_API=y
CONFIG_CRYPTO_CMAC=y
CONFIG_SERIAL_SC16IS7XX_I2C=y
CONFIG_NTB_SWITCHTEC=y
CONFIG_XOR_BLOCKS_ARCH=y
CONFIG_HAVE_KERNEL_LZ4=y
CONFIG_PHY_GOOGLE_USB=y
CONFIG_LEDS_SIEMENS_SIMATIC_IPC_APOLLOLAKE=y
CONFIG_CHARGER_CROS_PCHG=y
CONFIG_SENSORS_LTC4151=y
CONFIG_PCI_REALLOC_ENABLE_AUTO=y
CONFIG_DCACHE_WORD_ACCESS=y
CONFIG_GPIOLIB_IRQCHIP=y
CONFIG_MAGIC_SYSRQ=y
CONFIG_W1_SLAVE_DS2413=y
CONFIG_UNINLINE_SPIN_UNLOCK=y
CONFIG_RTC_DRV_PCF8583=y
CONFIG_TAHVO_USB_HOST_BY_DEFAULT=y
CONFIG_AMD_PMC=y
CONFIG_X86_DISABLED_FEATURE_RETPOLINE_LFENCE=y
CONFIG_DEBUG_RWSEMS=y
CONFIG_COMPAT_FOR_U64_ALIGNMENT=y
CONFIG_GPIO_NOVALAKE=y
CONFIG_SW_SYNC=y
CONFIG_GPIO_FXL6408=y
CONFIG_CRYPTO_BLOWFISH_X86_64=y
CONFIG_SENSORS_MPQ7932=y
CONFIG_CHROMEOS_ACPI=y
CONFIG_USB_USBIO=y
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO=y
CONFIG_CRYPTO_ECRDSA=y
CONFIG_REGULATOR_MAX20086=y
CONFIG_I2C_USBIO=y
CONFIG_I3C=y
CONFIG_PCIE_DW_DEBUGFS=y
CONFIG_BATTERY_GAUGE_LTC2941=y
CONFIG_PWM_TWL=y
CONFIG_ARCH_HAS_NONLEAF_PMD_YOUNG=y
CONFIG_CRYPTO_NULL=y
CONFIG_SENSORS_MPQ7932_REGULATOR=y
CONFIG_SENSORS_W83L786NG=y
CONFIG_CRYPTO_SM4_AESNI_AVX_X86_64=y
CONFIG_GENERIC_IRQ_CHIP=y
CONFIG_NLS_MAC_ICELAND=y
CONFIG_TEST_KSTRTOX=y
CONFIG_IRQ_POLL=y
CONFIG_GPIO_AGGREGATOR=y
CONFIG_CONTEXT_TRACKING_USER_FORCE=y
CONFIG_ARCH_SUPPORTS_KEXEC_SIG=y
CONFIG_BATTERY_SBS=y
CONFIG_PERF_EVENTS_AMD_UNCORE=y
CONFIG_MMC_CB710=y
CONFIG_REGULATOR_PCA9450=y
CONFIG_MEMORY=y
CONFIG_HAVE_KVM_CPU_RELAX_INTERCEPT=y
CONFIG_I2C_DEBUG_CORE=y
CONFIG_GPIO_QIXIS_FPGA=y
CONFIG_REGULATOR_MT6332=y
CONFIG_AS_IS_GNU=y
CONFIG_CRYPTO_AKCIPHER2=y
CONFIG_HD44780=y
CONFIG_CRYPTO_XCBC=y
CONFIG_X86_DISABLED_FEATURE_RETPOLINE=y
CONFIG_RAID6_PQ_BENCHMARK=y
CONFIG_LENOVO_WMI_EVENTS=y
CONFIG_I2C_ATR=y
CONFIG_HD44780_COMMON=y
CONFIG_EFI_RUNTIME_WRAPPERS=y
CONFIG_KALLSYMS_ALL=y
CONFIG_ARCH_HAS_CURRENT_STACK_POINTER=y
CONFIG_MFD_SYSCON=y
CONFIG_XZ_DEC_RISCV=y
CONFIG_TOOLS_SUPPORT_RELR=y
CONFIG_USB_ROLE_SWITCH=y
CONFIG_HPET_TIMER=y
CONFIG_GPIO_PCA953X=y
CONFIG_INSTRUCTION_DECODER=y
CONFIG_ASUS_LAPTOP=y
CONFIG_INPUT_TOUCHSCREEN=y
CONFIG_ARCH_MIGHT_HAVE_PC_SERIO=y
CONFIG_MISC_ALCOR_PCI=y
CONFIG_STRICT_KERNEL_RWX=y
CONFIG_HID_EVISION=y
CONFIG_ARCH_HAS_KCOV=y
CONFIG_MISC_FILESYSTEMS=y
CONFIG_USB_COMMON=y
CONFIG_PCI_NPEM=y
CONFIG_RAID6_PQ=y
CONFIG_PREEMPT_NOTIFIERS=y
CONFIG_GAMEPORT_FM801=y
CONFIG_BACKLIGHT_ARCXCNN=y
CONFIG_SENSORS_MAX15301=y
CONFIG_F2FS_FAULT_INJECTION=y
CONFIG_LEDS_LP3944=y
CONFIG_SHRINKER_DEBUG=y
CONFIG_CRYPTO_CAMELLIA_X86_64=y
CONFIG_SENSORS_EMC6W201=y
CONFIG_DAMON_VADDR=y
CONFIG_FW_ATTR_CLASS=y
CONFIG_SURFACE_PRO3_BUTTON=y
CONFIG_X86_REQUIRED_FEATURE_PGE=y
CONFIG_PINCTRL_TANGIER=y
CONFIG_LG_LAPTOP=y
CONFIG_PROC_PAGE_MONITOR=y
CONFIG_PAGE_REPORTING=y
CONFIG_FB_TRIDENT=y
CONFIG_BATTERY_CHARGER_SURFACE_RT=y
CONFIG_SENSORS_FSCHMD=y
CONFIG_PAGE_POISONING=y
CONFIG_PHY_PXA_28NM_HSIC=y
CONFIG_WPCM450_SOC=y
CONFIG_CRYPTO_XTS=y
CONFIG_X86_EXTENDED_PLATFORM=y
CONFIG_HID_GENERIC=y
CONFIG_BEFS_FS=y
CONFIG_BUG=y
CONFIG_HAVE_PCSPKR_PLATFORM=y
CONFIG_SENSORS_INA3221=y
CONFIG_BATTERY_MAX1721X=y
CONFIG_GPIO_XILINX=y
CONFIG_SUN_PARTITION=y
CONFIG_RTC_DRV_X1205=y
CONFIG_REGULATOR_AAT2870=y
CONFIG_MMC_HSQ=y
CONFIG_HAVE_ARCH_KGDB=y
CONFIG_GENERIC_CLOCKEVENTS_COUPLED=y
CONFIG_HAVE_DYNAMIC_FTRACE=y
CONFIG_USB_RAINSHADOW_CEC=y
CONFIG_RTC_NVMEM=y
CONFIG_C2PORT=y
CONFIG_RTC_LIB=y
CONFIG_HAVE_KVM_NO_POLL=y
CONFIG_FB_VGA16=y
CONFIG_ARCH_HAS_COPY_MC=y
CONFIG_INPUT_UINPUT=y
CONFIG_UEFI_CPER=y
CONFIG_RTC_DRV_GOLDFISH=y
CONFIG_LRU_GEN_WALKS_MMU=y
CONFIG_SOFTIRQ_ON_OWN_STACK=y
CONFIG_PARTITION_ADVANCED=y
CONFIG_FONTS=y
CONFIG_LEDS_BD2606MVV=y
CONFIG_MFD_88PM805=y
CONFIG_BPF=y
CONFIG_SENSORS_LTC2990=y
CONFIG_USB_FUNCTIONFS_GENERIC=y
CONFIG_RD_GZIP=y
CONFIG_X86_DISABLED_FEATURE_LAM=y
CONFIG_HAVE_MIXED_BREAKPOINTS_REGS=y
CONFIG_FORCE_TASKS_RUDE_RCU=y
CONFIG_INPUT_E3X0_BUTTON=y
CONFIG_LEDS_TRIGGER_HEARTBEAT=y
CONFIG_FS_ENCRYPTION=y
CONFIG_SURFACE_3_POWER_OPREGION=y
CONFIG_I2C_EMEV2=y
CONFIG_UIO_DFL=y
CONFIG_USB_STORAGE_DATAFAB=y
CONFIG_SQUASHFS_ZSTD=y
CONFIG_ARCH_SUPPORTS_MSEAL_SYSTEM_MAPPINGS=y
CONFIG_XILINX_VCU=y
CONFIG_IO_DELAY_UDELAY=y
CONFIG_PNPACPI=y
CONFIG_HAVE_C_RECORDMCOUNT=y
CONFIG_BACKLIGHT_LM3639=y
CONFIG_WATCHDOG_PRETIMEOUT_GOV_PANIC=y
CONFIG_MFD_AS3711=y
CONFIG_I2C_SIS96X=y
CONFIG_DEBUG_MAPLE_TREE=y
CONFIG_SATA_SIL24=y
CONFIG_QUEUED_SPINLOCKS=y
CONFIG_WAFER_WDT=y
CONFIG_STACKTRACE=y
CONFIG_X86_FRED=y
CONFIG_BATTERY_GOLDFISH=y
CONFIG_REGULATOR_MAX14577=y
CONFIG_KVFREE_RCU_BATCHED=y
CONFIG_REGULATOR_FAN53555=y
CONFIG_CRYPTO_HASH2=y
CONFIG_TWL4030_WATCHDOG=y
CONFIG_HID_PLAYSTATION=y
CONFIG_HIGH_RES_TIMERS=y
CONFIG_INTEL_POWERCLAMP=y
CONFIG_SENSORS_LTC4215=y
CONFIG_INPUT_YEALINK=y
CONFIG_GPIO_ALTERA=y
CONFIG_MHP_MEMMAP_ON_MEMORY=y
CONFIG_INTEL_RAPL=y
CONFIG_HAS_IOPORT=y
CONFIG_CXL_MEM=y
CONFIG_ARCH_HAS_DEBUG_VM_PGTABLE=y
CONFIG_MMC_TIFM_SD=y
CONFIG_SURFACE_GPE=y
CONFIG_SWAP=y
CONFIG_CHROME_PLATFORMS=y
CONFIG_HOTPLUG_CPU=y
CONFIG_INPUT_VIVALDIFMAP=y
CONFIG_CRYPTO_LIB_SHA1=y
CONFIG_QUEUED_RWLOCKS=y
CONFIG_SENSORS_MCP3021=y
CONFIG_USB_LD=y
CONFIG_TPS65010=y
CONFIG_SENSORS_XDP720=y
CONFIG_REGULATOR_DA903X=y
CONFIG_HAVE_FTRACE_REGS_HAVING_PT_REGS=y
CONFIG_VIRTIO=y
CONFIG_CRYPTO_ECDSA=y
CONFIG_PCI_TSM=y
CONFIG_CSD_LOCK_WAIT_DEBUG_DEFAULT=y
CONFIG_THERMAL_CORE_TESTING=y
CONFIG_HAVE_MOVE_PUD=y
CONFIG_CRYPTO_LRW=y
CONFIG_ACPI_PROCESSOR_IDLE=y
CONFIG_FB_ATY_GX=y
CONFIG_TMPFS_XATTR=y
CONFIG_HAVE_KRETPROBES=y
CONFIG_HID_GT683R=y
CONFIG_NLS_MAC_CENTEURO=y
CONFIG_PCI=y
CONFIG_NTB_MSI=y
CONFIG_RELAY=y
CONFIG_PREEMPT_BUILD=y
CONFIG_GPIO_WM8994=y
CONFIG_GPIOLIB=y
CONFIG_PCI_ENDPOINT=y
CONFIG_FB_MB862XX=y
CONFIG_PER_VMA_LOCK=y
CONFIG_WM831X_POWER=y
CONFIG_X86_P4_CLOCKMOD=y
CONFIG_EPOLL=y
CONFIG_CRYPTO_PCRYPT=y
CONFIG_PINCTRL_TIGERLAKE=y
CONFIG_HSI=y
CONFIG_MFD_MENF21BMC=y
CONFIG_TRUSTED_KEYS=y
CONFIG_USB_HCD_TEST_MODE=y
CONFIG_RTC_DRV_RX8581=y
CONFIG_CHARGER_GPIO=y
CONFIG_TOUCHSCREEN_USB_ETURBO=y
CONFIG_SMPRO_ERRMON=y
CONFIG_LEDS_TRIGGERS=y
CONFIG_USB_CONFIGFS_ACM=y
CONFIG_IRQ_DOMAIN_HIERARCHY=y
CONFIG_SOFTLOCKUP_DETECTOR=y
CONFIG_SENSORS_PLI1209BC=y
CONFIG_SENSORS_ADM1029=y
CONFIG_USB_F_PRINTER=y
CONFIG_PROC_FS=y
CONFIG_NLS_CODEPAGE_850=y
CONFIG_CLZ_TAB=y
CONFIG_CMA_DEBUGFS=y
CONFIG_RTC_DRV_DS1374_WDT=y
CONFIG_ARCH_ENABLE_HUGEPAGE_MIGRATION=y
CONFIG_ARCH_WANT_OLD_COMPAT_IPC=y
CONFIG_FIREWIRE=y
CONFIG_CRC32=y
CONFIG_SENSORS_W83L785TS=y
CONFIG_TOUCHSCREEN_CY8CTMG110=y
CONFIG_PCI_PWRCTRL_GENERIC=y
CONFIG_FB_ATY_BACKLIGHT=y
CONFIG_MFD_TQMX86=y
CONFIG_CEC_CROS_EC=y
CONFIG_HUGETLB_PAGE=y
CONFIG_APPLE_GMUX=y
CONFIG_X86_IO_APIC=y
CONFIG_LOCK_SPIN_ON_OWNER=y
CONFIG_CROS_EC_SYSFS=y
CONFIG_HAVE_EBPF_JIT=y
CONFIG_SOFT_WATCHDOG=y
CONFIG_REGULATOR_BD9571MWV=y
CONFIG_FB_NEOMAGIC=y
CONFIG_FUNCTION_ALIGNMENT_16B=y
CONFIG_CRYPTO_CTR=y
CONFIG_IOSCHED_BFQ=y
CONFIG_HAVE_USER_RETURN_NOTIFIER=y
CONFIG_ARCH_HAS_SYNC_CORE_BEFORE_USERMODE=y
CONFIG_GREYBUS=y
CONFIG_INTEL_SCU_IPC=y
CONFIG_SSB_DRIVER_GPIO=y
CONFIG_LZ4_DECOMPRESS=y
CONFIG_SIEMENS_SIMATIC_IPC_WDT=y
CONFIG_NO_HZ_COMMON=y
CONFIG_MEMORY_HOTREMOVE=y
CONFIG_CHARGER_MAX8971=y
CONFIG_TSM=y
CONFIG_LEDS_INTEL_SS4200=y
CONFIG_HAS_DMA=y
CONFIG_CONTEXT_TRACKING_USER=y
CONFIG_GPIB_INES=y
CONFIG_DW_WATCHDOG=y
CONFIG_SOC_TI=y
CONFIG_FB_MATROX_G=y
CONFIG_SENSORS_LIS3LV02D=y
CONFIG_HAS_IOPORT_MAP=y
CONFIG_CRYPTO_KRB5=y
CONFIG_SENSORS_MAX20730=y
CONFIG_GENERIC_BITREVERSE=y
CONFIG_QCOM_PBS=y
CONFIG_ITCO_WDT=y
CONFIG_DEBUG_IRQFLAGS=y
CONFIG_REGULATOR_DEBUG=y
CONFIG_MMC_SDHCI=y
CONFIG_TOUCHSCREEN_USB_NEXIO=y
CONFIG_USB_ISP1760_HCD=y
CONFIG_ISA_BUS_API=y
CONFIG_TOUCHSCREEN_TSC_SERIO=y
CONFIG_CRYPTO_ALGAPI2=y
CONFIG_XILLYUSB=y
CONFIG_REGULATOR_SKY81452=y
CONFIG_SENSORS_ADT7475=y
CONFIG_TOUCHSCREEN_AUO_PIXCIR=y
CONFIG_HOTPLUG_CORE_SYNC=y
CONFIG_REGULATOR_RT4801=y
CONFIG_MMU=y
CONFIG_MFD_SKY81452=y
CONFIG_NUMA_MEMBLKS=y
CONFIG_TOUCHSCREEN_CHIPONE_ICN8505=y
CONFIG_LEDS_LM3532=y
CONFIG_DMABUF_DEBUG=y
CONFIG_FB_SYSMEM_FOPS=y
CONFIG_IRQ_FORCED_THREADING=y
CONFIG_ARCH_SPARSEMEM_DEFAULT=y
CONFIG_SSB_DRIVER_PCICORE_POSSIBLE=y
CONFIG_CROS_HPS_I2C=y
CONFIG_WDTPCI=y
CONFIG_I2C_NVIDIA_GPU=y
CONFIG_POWERCAP=y
CONFIG_PCI_LABEL=y
CONFIG_FB_MATROX_MILLENIUM=y
CONFIG_FB_MB862XX_PCI_GDC=y
CONFIG_X86_DEBUGCTLMSR=y
CONFIG_VIRTUALIZATION=y
CONFIG_CRYPTO_BLOWFISH=y
CONFIG_ACPI_CMPC=y
CONFIG_HID_BELKIN=y
CONFIG_INTEL_WMI=y
CONFIG_SENSORS_G762=y
CONFIG_PCIE_DW_HOST=y
CONFIG_ARCH_SUPPORTS_SCHED_CLUSTER=y
CONFIG_TYPEC_TPS6598X=y
CONFIG_STACKTRACE_SUPPORT=y
CONFIG_CMDLINE_PARTITION=y
CONFIG_RATIONAL=y
CONFIG_CPU_FREQ_GOV_COMMON=y
CONFIG_I2C_ALGOBIT=y
CONFIG_LEDS_NIC78BX=y
CONFIG_COMMON_CLK_WM831X=y
CONFIG_OBJTOOL=y
CONFIG_SENSORS_MAX20860A=y
CONFIG_TOUCHSCREEN_EETI=y
CONFIG_DEBUG_KMEMLEAK_VERBOSE=y
CONFIG_CRYPTO_LIB_POLY1305=y
CONFIG_TYPEC_TBT_ALTMODE=y
CONFIG_EFI_DISABLE_PCI_DMA=y
CONFIG_USB=y
CONFIG_ARCH_WANT_COMPAT_IPC_PARSE_VERSION=y
CONFIG_HID_LED=y
CONFIG_HID_STEELSERIES=y
CONFIG_REGULATOR_RT6160=y
CONFIG_SENSORS_ADT7411=y
CONFIG_SECURITY_YAMA=y
CONFIG_X86_REQUIRED_FEATURE_ALWAYS=y
CONFIG_HAVE_ARCH_KFENCE=y
CONFIG_HARDENED_USERCOPY_DEFAULT_ON=y
CONFIG_CPU_IDLE=y
CONFIG_SENSORS_SBTSI=y
CONFIG_LINEAR_RANGES=y
CONFIG_TOUCHSCREEN_MTOUCH=y
CONFIG_SCSI_DH_EMC=y
CONFIG_ACPI_THERMAL_LIB=y
CONFIG_FW_UPLOAD=y
CONFIG_MMC_SDHCI_ACPI=y
CONFIG_HAVE_OPTPROBES=y
CONFIG_HAVE_ARCH_RANDOMIZE_KSTACK_OFFSET=y
CONFIG_ZLIB_DEFLATE=y
CONFIG_USB_ISP1301=y
CONFIG_CRYPTO_LIB_BLAKE2S_ARCH=y
CONFIG_HID_UNIVERSAL_PIDFF=y
CONFIG_INPUT_IQS269A=y
CONFIG_I8253_LOCK=y
CONFIG_VT_HW_CONSOLE_BINDING=y
CONFIG_BCM_VK=y
CONFIG_GPIO_RDC321X=y
CONFIG_HOTPLUG_CORE_SYNC_DEAD=y
CONFIG_BSD_PROCESS_ACCT=y
CONFIG_ZSWAP=y
CONFIG_BATTERY_BQ27XXX_I2C=y
CONFIG_TEST_MULDIV64=y
CONFIG_I2C_GPIO=y
CONFIG_HID_WALTOP=y
CONFIG_UNWINDER_ORC=y
CONFIG_HID_CORSAIR=y
CONFIG_MAX6959=y
CONFIG_SENSORS_SPD5118=y
CONFIG_HID_ELO=y
CONFIG_REGULATOR_MAX8649=y
CONFIG_CRYPTO_LIB_CHACHA_ARCH=y
CONFIG_EXT4_FS_POSIX_ACL=y
CONFIG_RTC_SYSTOHC=y
CONFIG_HAVE_GUP_FAST=y
CONFIG_KVM=y
CONFIG_CRYPTO_LIB_SHA256=y
CONFIG_HAVE_ACPI_APEI=y
CONFIG_LEDS_MT6370_RGB=y
CONFIG_POSIX_CPU_TIMERS_TASK_WORK=y
CONFIG_SENSORS_GPD=y
CONFIG_REGULATOR_TPS51632=y
CONFIG_MFD_WM8400=y
CONFIG_MEMBARRIER=y
CONFIG_GPIO_TPS68470=y
CONFIG_TRANSPARENT_HUGEPAGE=y
CONFIG_DECOMPRESS_ZSTD=y
CONFIG_RWSEM_SPIN_ON_OWNER=y
CONFIG_GENERIC_IRQ_ENTRY=y
CONFIG_LEDS_PCA955X=y
CONFIG_CRYPTO_CAST_COMMON=y
CONFIG_INIT_ON_FREE_DEFAULT_ON=y
CONFIG_SCSI_ENCLOSURE=y
CONFIG_X86_MCE_INJECT=y
CONFIG_KVM_COMMON=y
CONFIG_ACPI_AC=y
CONFIG_PINCTRL_CY8C95X0=y
CONFIG_TYPEC_ANX7411=y
CONFIG_PWM_DWC=y
CONFIG_POWER_SEQUENCING=y
CONFIG_HAVE_EFFICIENT_UNALIGNED_ACCESS=y
CONFIG_SYSFS=y
CONFIG_RTC_DRV_WM8350=y
CONFIG_TRUSTED_KEYS_DEBUG=y
CONFIG_GPIO_PCA953X_IRQ=y
CONFIG_UIO_AEC=y
CONFIG_W1_SLAVE_DS2405=y
CONFIG_SCSI_LOGGING=y
CONFIG_CPU_SUP_INTEL=y
CONFIG_JOLIET=y
CONFIG_INTEL_EHL_PSE_IO=y
CONFIG_ARCH_SUPPORTS_NUMA_BALANCING=y
CONFIG_SENSORS_ATK0110=y
CONFIG_CC_HAS_KASAN_GENERIC=y
CONFIG_SOC_BUS=y
CONFIG_KVM_GUEST_MEMFD=y
CONFIG_MISC_RTSX=y
CONFIG_GPIO_WINBOND=y
CONFIG_PERF_EVENTS_AMD_POWER=y
CONFIG_MEMCG=y
CONFIG_BLK_DEV_BSG_COMMON=y
CONFIG_ARCH_HAS_MEMBARRIER_SYNC_CORE=y
CONFIG_EXTCON_MAX14577=y
CONFIG_QUOTACTL=y
CONFIG_HAVE_KERNEL_ZSTD=y
CONFIG_REGULATOR_SLG51000=y
CONFIG_SSB_SDIOHOST_POSSIBLE=y
CONFIG_WANT_DEV_COREDUMP=y
CONFIG_MFD_CS47L90=y
CONFIG_CADENCE_WATCHDOG=y
CONFIG_BLK_DEV_WRITE_MOUNTED=y
CONFIG_HOTPLUG_CORE_SYNC_FULL=y
CONFIG_CHARGER_MAX77705=y
CONFIG_TOUCHSCREEN_USB_EASYTOUCH=y
CONFIG_USB_TEST=y
CONFIG_RAPIDIO_CHMAN=y
CONFIG_FUTEX_ROBUST_UNLOCK=y
CONFIG_SENSORS_DS1621=y
CONFIG_USB_STORAGE_SDDR09=y
CONFIG_MFD_TPS65912=y
CONFIG_I3C_OR_I2C=y
CONFIG_CHARGER_BQ2415X=y
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_REGS=y
CONFIG_USB_HUB_USB251XB=y
CONFIG_USB_F_FS=y
CONFIG_LEDS_TRIGGER_INPUT_EVENTS=y
CONFIG_FIRMWARE_EDID=y
CONFIG_REGMAP_MMIO=y
CONFIG_HID_MEGAWORLD_FF=y
CONFIG_IBM_ASM=y
CONFIG_IRQ_DOMAIN=y
CONFIG_PINCTRL_AMD=y
CONFIG_HARDENED_USERCOPY=y
CONFIG_GENERIC_STRNLEN_USER=y
CONFIG_EFI_EMBEDDED_FIRMWARE=y
CONFIG_FW_LOADER_PAGED_BUF=y
CONFIG_HID_GOOGLE_STADIA_FF=y
CONFIG_NLS_MAC_CYRILLIC=y
CONFIG_EDAC_ATOMIC_SCRUB=y
CONFIG_HAVE_ALIGNED_STRUCT_PAGE=y
CONFIG_TOUCHSCREEN_GOODIX_BERLIN_CORE=y
CONFIG_FB_CFB_FILLRECT=y
CONFIG_ISA_DMA_API=y
CONFIG_FB_IOMEM_HELPERS=y
CONFIG_AMD_HSMP=y
CONFIG_FB=y
CONFIG_DEBUG_VM_PGTABLE=y
CONFIG_TCG_TIS_ST33ZP24_I2C=y
