CONFIG_COMMON_CLK_CS2000_CP=n
CONFIG_ARCH_HAS_RELR=n
CONFIG_MEMORY_HOTREMOVE=n
CONFIG_COMMON_CLK_MT8188_IMP_IIC_WRAP=n
CONFIG_HVC_DRIVER=n
CONFIG_SND_SUN8I_CODEC_ANALOG=n
CONFIG_LOCKD_V4=n
CONFIG_HW_RANDOM_EXYNOS=n
CONFIG_PNFS_FILE_LAYOUT=n
CONFIG_TYPEC_UCSI=n
CONFIG_ACPI_APEI_EINJ=n
CONFIG_PCI_ENDPOINT_TEST=n
CONFIG_VFIO_GROUP=n
CONFIG_PCI_SYSCALL=n
CONFIG_ARCH_R8A77961=n
CONFIG_SERIAL_8250_OMAP=n
CONFIG_HAVE_SCHED_AVG_IRQ=n
CONFIG_PINCTRL_PFC_R8A77970=n
CONFIG_RESET_MESON=n
CONFIG_FSNOTIFY=n
CONFIG_MEDIA_TUNER_TDA827X=n
CONFIG_RTC_DRV_IMX_BBM_SCMI=n
CONFIG_HW_RANDOM_ROCKCHIP=n
CONFIG_I2C_EXYNOS5=n
CONFIG_ARCH_SUPPORTS_LTO_CLANG=n
CONFIG_SOC_IMX8M=n
CONFIG_PCI=n
CONFIG_SYSC_R8A77965=n
CONFIG_BPF_SYSCALL=n
CONFIG_MEMORY=n
CONFIG_SERIAL_IMX=n
CONFIG_BCM7038_WDT=n
CONFIG_USB_OHCI_HCD_PLATFORM=n
CONFIG_ARCH_HAS_GIGANTIC_PAGE=n
CONFIG_TYPEC_HD3SS3220=n
CONFIG_HAVE_PAGE_SIZE_4KB=n
CONFIG_PCI_HOST_THUNDER_PEM=n
CONFIG_QCOM_UBWC_CONFIG=n
CONFIG_SND_SOC_TLV320AIC32X4_I2C=n
CONFIG_DRM_DISPLAY_CONNECTOR=n
CONFIG_DRM_PL111=n
CONFIG_REGULATOR_PCA9450=n
CONFIG_HAVE_ARCH_KSTACK_ERASE=n
CONFIG_PTP_1588_CLOCK_DTE=n
CONFIG_BT_MRVL=n
CONFIG_QCOM_WDT=n
CONFIG_RPMSG_QCOM_GLINK=n
CONFIG_HI6220_MBOX=n
CONFIG_MT76_LEDS=n
CONFIG_TRANSPARENT_HUGEPAGE_ALWAYS=n
CONFIG_RTC_INTF_PROC=n
CONFIG_SERIAL_8250_BCM7271=n
CONFIG_SND_SOC_NAU8825=n
CONFIG_USB_NET_ZAURUS=n
CONFIG_SMSC911X=n
CONFIG_CRYPTO_CCM=n
CONFIG_SND_SOC_TLV320AIC32X4=n
CONFIG_ATH12K=n
CONFIG_HAVE_PV_STEAL_CLOCK_GEN=n
CONFIG_PHY_MESON_G12A_USB3_PCIE=n
CONFIG_MT7921E=n
CONFIG_COMMON_CLK_MT7622=n
CONFIG_XXHASH=n
CONFIG_B53_SRAB_DRIVER=n
CONFIG_SCSI_UFS_HISI=n
CONFIG_SWPHY=n
CONFIG_SATA_HOST=n
CONFIG_ARM64_ERRATUM_1165522=n
CONFIG_BT_RTL=n
CONFIG_ARCH_VISCONTI=n
CONFIG_GCC_NO_STRINGOP_OVERFLOW=n
CONFIG_GENERIC_BUG=n
CONFIG_CLK_X1E80100_CAMCC=n
CONFIG_ARCH_HAS_PREEMPT_LAZY=n
CONFIG_IO_WQ=n
CONFIG_SPARSEMEM_EXTREME=n
CONFIG_SND_SOC_QCOM_OFFLOAD_UTILS=n
CONFIG_TRACE_IRQFLAGS_SUPPORT=n
CONFIG_SND_SOC_QDSP6_APM=n
CONFIG_PHY_XGENE=n
CONFIG_PINCTRL_KAANAPALI=n
CONFIG_CHARGER_BQ25980=n
CONFIG_INOTIFY_USER=n
CONFIG_SERIAL_DEV_BUS=n
CONFIG_KVM=n
CONFIG_SERIAL_SH_SCI_DMA=n
CONFIG_SCSI_MOD=n
CONFIG_MFD_RK8XX_I2C=n
CONFIG_REGULATOR_DA9211=n
CONFIG_HAVE_KVM_CPU_RELAX_INTERCEPT=n
CONFIG_DT_IDLE_STATES=n
CONFIG_KSM=n
CONFIG_MSM_GCC_8996=n
CONFIG_SND_SOC_RT1015P=n
CONFIG_PCI_XGENE_MSI=n
CONFIG_USER_NS=n
CONFIG_SA_GCC_8775P=n
CONFIG_ARCH_HAS_SET_DIRECT_MAP=n
CONFIG_ARCH_HAS_KEEPINITRD=n
CONFIG_IPV6_NDISC_NODETYPE=n
CONFIG_SND_SOC_LPASS_WSA_MACRO=n
CONFIG_TI_K3_UDMA=n
CONFIG_NVMEM_SNVS_LPGPR=n
CONFIG_MDIO=n
CONFIG_SND_SOC_TEGRA186_DSPK=n
CONFIG_IMX_SC_THERMAL=n
CONFIG_HAVE_ARCH_KGDB=n
CONFIG_INTERCONNECT_QCOM_SDX75=n
CONFIG_PSTORE_COMPRESS=n
CONFIG_IPC_NS=n
CONFIG_BPF_JIT=n
CONFIG_SND_SOC_QDSP6_CORE=n
CONFIG_PROC_FS=n
CONFIG_NVMEM_MAX77759=n
CONFIG_QCS_GCC_8300=n
CONFIG_COMMON_CLK_MT8192_SCP_ADSP=n
CONFIG_IO_URING_BPF=n
CONFIG_OPEN_ALLIANCE_HELPERS=n
CONFIG_NVME_APPLE=n
CONFIG_BPF_JIT_DEFAULT_ON=n
CONFIG_COMMON_CLK_MT8186_VDECSYS=n
CONFIG_INTEL_STRATIX10_SERVICE=n
CONFIG_MSM_GCC_8953=n
CONFIG_HAVE_PERF_REGS=n
CONFIG_PINCTRL_TEGRA186=n
CONFIG_CHARGER_CROS_PCHG=n
CONFIG_ARM64_ERRATUM_2054223=n
CONFIG_TASKS_TRACE_RCU=n
CONFIG_CRYPTO_LIB_AES=n
CONFIG_GPIO_XILINX=n
CONFIG_QCOM_SPMI_VADC=n
CONFIG_UNIX=n
CONFIG_CLK_ELIZA_DISPCC=n
CONFIG_SND_SOC_TEGRA186_ASRC=n
CONFIG_STANDALONE=n
CONFIG_GENERIC_PHY=n
CONFIG_TICK_CPU_ACCOUNTING=n
CONFIG_SOC_BRCMSTB=n
CONFIG_PINCTRL_MT2712=n
CONFIG_QCOM_WCNSS_PIL=n
CONFIG_ARCH_TEGRA=n
CONFIG_ENERGY_MODEL=n
CONFIG_CAN=n
CONFIG_NVMEM_APPLE_SPMI=n
CONFIG_HAS_IOMEM=n
CONFIG_GPIO_AGGREGATOR=n
CONFIG_MESON_IRQ_GPIO=n
CONFIG_ARCH_HAVE_ELF_PROT=n
CONFIG_XZ_DEC_ARM=n
CONFIG_TYPEC_TPS6598X=n
CONFIG_COMMON_CLK_VISCONTI=n
CONFIG_DRM_DISPLAY_HDMI_STATE_HELPER=n
CONFIG_ARM64_ERRATUM_824069=n
CONFIG_IP_PNP=n
CONFIG_IO_URING=n
CONFIG_ARM64_ERRATUM_1508412=n
CONFIG_PINCTRL_ARMADA_AP806=n
CONFIG_TEGRA210_ADMA=n
CONFIG_SCSI_MPT3SAS=n
CONFIG_IIO_CROS_EC_BARO=n
CONFIG_REGULATOR=n
CONFIG_I2C_GPIO=n
CONFIG_PHY_FSL_IMX8MQ_USB=n
CONFIG_ARCH_KEEP_MEMBLOCK=n
CONFIG_QCOM_GPI_DMA=n
CONFIG_DRM_GPUVM=n
CONFIG_MTD_HYPERBUS=n
CONFIG_ARM_GIC=n
CONFIG_GPIO_VISCONTI=n
CONFIG_PINCTRL_PFC_R8A779G0=n
CONFIG_DRM_PANEL_LVDS=n
CONFIG_SND_SOC_FSL_AUDMIX=n
CONFIG_COMMON_CLK_MT8188_VDOSYS=n
CONFIG_RENESAS_RZG2LWDT=n
CONFIG_SUN55I_PCK600=n
CONFIG_PINCTRL_MTK_MOORE=n
CONFIG_KVM_GENERIC_HARDWARE_ENABLING=n
CONFIG_VFIO_VIRQFD=n
CONFIG_SERIAL_8250_MT6577=n
CONFIG_NET_VENDOR_HISILICON=n
CONFIG_RTC_DRV_RX8581=n
CONFIG_PHYLIB_LEDS=n
CONFIG_TRACE_GPU_MEM=n
CONFIG_CRYPTO_DEV_FSL_DPAA2_CAAM=n
CONFIG_ARCH_QCOM=n
CONFIG_NVME_CORE=n
CONFIG_PINCTRL_MT8196=n
CONFIG_BLK_CGROUP_RWSTAT=n
CONFIG_PINCTRL_MESON_AXG=n
CONFIG_BT_BCM=n
CONFIG_ROCKCHIP_ERRATUM_3568002=n
CONFIG_PINCTRL_IPQ9650=n
CONFIG_MEDIA_TUNER_XC2028=n
CONFIG_PINCTRL_IPQ8074=n
CONFIG_ALPINE_MSI=n
CONFIG_MTD_NAND_DENALI_DT=n
CONFIG_SCSI_UFSHCD=n
CONFIG_RESET_IMX8MP_AUDIOMIX=n
CONFIG_MFD_HI655X_PMIC=n
CONFIG_AHCI_DWC=n
CONFIG_HW_RANDOM_HISTB=n
CONFIG_PWM_STM32=n
CONFIG_USB_CHIPIDEA_NPCM=n
CONFIG_RTC_DRV_PCF8563=n
CONFIG_SND_SOC_TEGRA210_ADMAIF=n
CONFIG_DRM_DISPLAY_DSC_HELPER=n
CONFIG_EXYNOS_MBOX=n
CONFIG_VIDEO_CADENCE_CSI2RX=n
CONFIG_REGULATOR_GPIO=n
CONFIG_ARCH_APPLE=n
CONFIG_PTP_1588_CLOCK_KVM=n
CONFIG_PHY_BCM_SR_USB=n
CONFIG_PINCTRL_TEGRA124=n
CONFIG_REGULATOR_TPS65132=n
CONFIG_COMMON_CLK_MT8192_IMP_IIC_WRAP=n
CONFIG_ARCH_RCAR_GEN4=n
CONFIG_IIO_CROS_EC_SENSORS_CORE=n
CONFIG_USB_F_MASS_STORAGE=n
CONFIG_SATA_AHCI=n
CONFIG_CAN_FLEXCAN=n
CONFIG_POWER_RESET_MACSMC=n
CONFIG_NETWORK_FILESYSTEMS=n
CONFIG_PHY_XILINX_ZYNQMP=n
CONFIG_IP_NF_IPTABLES=n
CONFIG_HTE_TEGRA194=n
CONFIG_CRC_T10DIF=n
CONFIG_PINCTRL_SM4450=n
CONFIG_MMC_SDHCI_ACPI=n
CONFIG_COMMON_CLK_MT8183_MFGCFG=n
CONFIG_COMMON_CLK_SCMI=n
CONFIG_COMMON_CLK_AXG=n
CONFIG_SDM_VIDEOCC_845=n
CONFIG_DRM_MSM_DSI=n
CONFIG_VIDEO_IMX412=n
CONFIG_SM_GPUCC_MILOS=n
CONFIG_MAILBOX=n
CONFIG_BITREVERSE=n
CONFIG_BPF=n
CONFIG_COMMON_CLK_BD718XX=n
CONFIG_ARM_ARCH_TIMER_OOL_WORKAROUND=n
CONFIG_NEED_KVM_DIRTY_RING_WITH_BITMAP=n
CONFIG_VIDEO_OV5640=n
CONFIG_COMMON_CLK_SAMSUNG=n
CONFIG_PROC_VMCORE=n
CONFIG_DW_EDMA=n
CONFIG_CLK_R9A07G043=n
CONFIG_MMC_SDHCI=n
CONFIG_TTY=n
CONFIG_NET_SOCK_MSG=n
CONFIG_VIDEO_CAMERA_LENS=n
CONFIG_ARCH_SUNXI=n
CONFIG_SND_SOC_QDSP6=n
CONFIG_STACKPROTECTOR_STRONG=n
CONFIG_MAX9611=n
CONFIG_PREEMPTION=n
CONFIG_NOP_USB_XCEIV=n
CONFIG_COMMON_CLK_HI655X=n
CONFIG_DWMAC_VISCONTI=n
CONFIG_EXYNOS_ACPM_PROTOCOL=n
CONFIG_VIRT_XFER_TO_GUEST_WORK=n
CONFIG_FB_CFB_IMAGEBLIT=n
CONFIG_GROUP_SCHED_WEIGHT=n
CONFIG_USB_F_SERIAL=n
CONFIG_FB_SYS_IMAGEBLIT=n
CONFIG_NFS_V4_SECURITY_LABEL=n
CONFIG_TOUCHSCREEN_GOODIX_BERLIN_CORE=n
CONFIG_UBIFS_FS_LZO=n
CONFIG_ROCKCHIP_THERMAL=n
CONFIG_PINCTRL_BCM2712=n
CONFIG_PINCTRL_SDM660=n
CONFIG_MMC=n
CONFIG_KEYBOARD_GPIO_POLLED=n
CONFIG_MTD_PHYSMAP=n
CONFIG_ZYNQMP_FIRMWARE_DEBUG=n
CONFIG_TRANSPARENT_HUGEPAGE=n
CONFIG_BT_HCIUART_QCA=n
CONFIG_PHY_BCM_SR_PCIE=n
CONFIG_SUN6I_RTC_CCU=n
CONFIG_SERIAL_8250_DMA=n
CONFIG_VIDEO_TI_J721E_CSI2RX=n
CONFIG_CLK_KAANAPALI_VIDEOCC=n
CONFIG_ARM64_ERRATUM_2051678=n
CONFIG_REGULATOR_MT6357=n
CONFIG_SUN8I_H3_CCU=n
CONFIG_APPLE_PMGR_PWRSTATE=n
CONFIG_PCIE_RENESAS_RZG3S_HOST=n
CONFIG_REGMAP=n
CONFIG_ARCH_SEATTLE=n
CONFIG_MMC_SDHI=n
CONFIG_LEDS_PCA9532=n
CONFIG_SND_SOC_ES8316=n
CONFIG_I2C_SH_MOBILE=n
CONFIG_MFD_STM32_LPTIMER=n
CONFIG_PINCTRL_IMX8MN=n
CONFIG_CRYPTO_DEV_FSL_CAAM_CRYPTO_API_QI=n
CONFIG_NETFILTER_XT_MATCH_IPVS=n
CONFIG_TEGRA186_GPC_DMA=n
CONFIG_COMPAT_32BIT_TIME=n
CONFIG_SERIAL_8250_FSL=n
CONFIG_TEGRA_BPMP_THERMAL=n
