CONFIG_REGULATOR_SLG51000=y
CONFIG_CRYPTO=y
CONFIG_OF_GPIO=y
CONFIG_QCOM_FALKOR_ERRATUM_E1041=y
CONFIG_ARCH_HAS_PREEMPT_LAZY=y
CONFIG_XILINX_ZYNQMP_DMA=y
CONFIG_PANTHERLORD_FF=y
CONFIG_HID_SMARTJOYPLUS=y
CONFIG_HAVE_GCC_PLUGINS=y
CONFIG_EEPROM_M24LR=y
CONFIG_ZSTD_COMMON=y
CONFIG_NLS_ISO8859_5=y
CONFIG_DEVTMPFS_MOUNT=y
CONFIG_CXL_PORT=y
CONFIG_CUSE=y
CONFIG_ATA_FORCE=y
CONFIG_EXTCON=y
CONFIG_HID_LCPOWER=y
CONFIG_TEST_IDA=y
CONFIG_I2C_NOMADIK=y
CONFIG_CGROUP_DEVICE=y
CONFIG_TEST_HEXDUMP=y
CONFIG_MITIGATE_SPECTRE_BRANCH_HISTORY=y
CONFIG_ARCH_DEFAULT_CRASH_DUMP=y
CONFIG_DEBUG_WW_MUTEX_SLOWPATH=y
CONFIG_DEBUG_PLIST=y
CONFIG_LIST_HARDENED=y
CONFIG_REGULATOR_TPS6594=y
CONFIG_FSNOTIFY=y
CONFIG_HAVE_TRUSTED_KEYS=y
CONFIG_FIX_EARLYCON_MEM=y
CONFIG_KEYBOARD_MTK_PMIC=y
CONFIG_MFD_MAX77759=y
CONFIG_CRYPTO_SHA512=y
CONFIG_PREEMPT_RCU=y
CONFIG_PINCTRL_ASPEED=y
CONFIG_SCSI_ENCLOSURE=y
CONFIG_SPEAKUP_SYNTH_AUDPTR=y
CONFIG_TREE_RCU=y
CONFIG_TOUCHSCREEN_HIMAX_HX83112B=y
CONFIG_HW_RANDOM_MESON=y
CONFIG_HID_SEMITEK=y
CONFIG_REGULATOR_MAX8907=y
CONFIG_ARM_SCMI_PROTOCOL=y
CONFIG_RESCTRL_FS=y
CONFIG_LITEX=y
CONFIG_PCI_ATS=y
CONFIG_DMA_BOUNCE_UNALIGNED_KMALLOC=y
CONFIG_JFS_STATISTICS=y
CONFIG_GENERIC_CPU_DEVICES=y
CONFIG_GENERIC_CPU_AUTOPROBE=y
CONFIG_GOLDFISH_TTY_EARLY_CONSOLE=y
CONFIG_COMMON_CLK_C3_PERIPHERALS=y
CONFIG_ARCH_HAS_UBSAN=y
CONFIG_REGMAP_I2C=y
CONFIG_CXL_BUS=y
CONFIG_ARCH_K3=y
CONFIG_CRYPTO_ARIA=y
CONFIG_PCIE_PME=y
CONFIG_PARAVIRT=y
CONFIG_GPIB_CB7210=y
CONFIG_MFD_RN5T618=y
CONFIG_ISO9660_FS=y
CONFIG_NVME_CORE=y
CONFIG_GET_FREE_REGION=y
CONFIG_GPIO_HLWD=y
CONFIG_DECOMPRESS_GZIP=y
CONFIG_ARCH_HAS_PTDUMP=y
CONFIG_NLS_CODEPAGE_1251=y
CONFIG_CRYPTO_DEV_TI_DTHEV2=y
CONFIG_HOTPLUG_CORE_SYNC_DEAD=y
CONFIG_TOUCHSCREEN_DYNAPRO=y
CONFIG_QCOM_TZMEM_MODE_GENERIC=y
CONFIG_PCI_IOV=y
CONFIG_ARCH_BITMAIN=y
CONFIG_PM_DEBUG=y
CONFIG_COMMON_CLK_CS2000_CP=y
CONFIG_GPIO_MAX730X=y
CONFIG_HAVE_STACKPROTECTOR=y
CONFIG_CLK_OWL_S700=y
CONFIG_REGULATOR_MT6360=y
CONFIG_PHY_SNPS_EUSB2=y
CONFIG_ARM64_ERRATUM_1286807=y
CONFIG_CRYPTO_DES=y
CONFIG_GPIO_FTGPIO010=y
CONFIG_ARCH_WANT_PMD_MKWRITE=y
CONFIG_GPIO_REGMAP=y
CONFIG_MUX_GPIO=y
CONFIG_NLS_ASCII=y
CONFIG_CONTEXT_TRACKING=y
CONFIG_SM_DISPCC_6375=y
CONFIG_SM_GCC_MILOS=y
CONFIG_MFD_RETU=y
CONFIG_PCIEASPM=y
CONFIG_HAVE_GUP_FAST=y
CONFIG_I2C_ALI1563=y
CONFIG_DEV_COREDUMP=y
CONFIG_ARCH_PENSANDO=y
CONFIG_HAVE_ARCH_SECCOMP=y
CONFIG_MSM_GCC_8994=y
CONFIG_KALLSYMS=y
CONFIG_WQ_POWER_EFFICIENT_DEFAULT=y
CONFIG_ARCH_SUPPORTS_KEXEC=y
CONFIG_PHY_ROCKCHIP_TYPEC=y
CONFIG_PCI_SYSCALL=y
CONFIG_CRYPTO_LIB_SHA1=y
CONFIG_GNSS=y
CONFIG_GENERIC_EARLY_IOREMAP=y
CONFIG_VT_CONSOLE=y
CONFIG_ARM64_ERRATUM_1165522=y
CONFIG_ARM_SCMI_TRANSPORT_OPTEE=y
CONFIG_SERIAL_8250_DW=y
CONFIG_IR_XMP_DECODER=y
CONFIG_ARM_SCMI_HAVE_TRANSPORT=y
CONFIG_I2C_ALGOBIT=y
CONFIG_USER_STACKTRACE_SUPPORT=y
CONFIG_XZ_DEC_MICROLZMA=y
CONFIG_NLS_CODEPAGE_861=y
CONFIG_QCOM_BAM_DMA=y
CONFIG_KEY_DH_OPERATIONS=y
CONFIG_SERIAL_8250_CS=y
CONFIG_NLS_KOI8_U=y
CONFIG_REGULATOR_TPS6507X=y
CONFIG_CRYPTO_MANAGER=y
CONFIG_UTS_NS=y
CONFIG_TRACE_IRQFLAGS_NMI_SUPPORT=y
CONFIG_FB_SYS_FILLRECT=y
CONFIG_XILINX_SDFEC=y
CONFIG_TRUSTED_KEYS=y
CONFIG_MOUSE_PS2_SMBUS=y
CONFIG_DETECT_HUNG_TASK=y
CONFIG_TTY=y
CONFIG_GAMEPORT_FM801=y
CONFIG_SAR_GCC_2130P=y
CONFIG_MSM_GCC_8998=y
CONFIG_W1_SLAVE_DS2781=y
CONFIG_DYNAMIC_DEBUG=y
CONFIG_HAVE_GIGANTIC_FOLIOS=y
CONFIG_SM_GPUCC_8450=y
CONFIG_GENERIC_CLOCKEVENTS=y
CONFIG_GOLDFISH=y
CONFIG_GCC10_NO_ARRAY_BOUNDS=y
CONFIG_KPROBES=y
CONFIG_RT_MUTEXES=y
CONFIG_PHY_QCOM_PCIE2=y
CONFIG_IPQ_GCC_5210=y
CONFIG_ARCH_SEATTLE=y
CONFIG_CRYPTO_DEV_QAT=y
CONFIG_W1_SLAVE_DS250X=y
CONFIG_CRYPTO_JITTERENTROPY=y
CONFIG_MOUSE_PS2_ALPS=y
CONFIG_FB_CARMINE_DRAM_EVAL=y
CONFIG_SCSI_SPI_ATTRS=y
CONFIG_GENERIC_BUG_RELATIVE_POINTERS=y
CONFIG_SUSPEND_FREEZER=y
CONFIG_ARCH_HAS_BATCHED_DMA_SYNC=y
CONFIG_I2C_VIAPRO=y
CONFIG_ARM_CCA_GUEST=y
CONFIG_I2C_VIRTIO=y
CONFIG_ARCH_HAS_GIGANTIC_PAGE=y
CONFIG_QCOM_OCMEM=y
CONFIG_LRU_GEN_WALKS_MMU=y
CONFIG_INTEGRITY_ASYMMETRIC_KEYS=y
CONFIG_DMA_FENCE_TRACE=y
CONFIG_CRYPTO_RSA=y
CONFIG_RTC_DRV_ISL12022=y
CONFIG_CRYPTO_DEV_CCP_CRYPTO=y
CONFIG_REGULATOR_DA9121=y
CONFIG_ARCH_HAS_CPU_CACHE_INVALIDATE_MEMREGION=y
CONFIG_SHMEM=y
CONFIG_DEBUG_INFO_COMPRESSED_ZLIB=y
CONFIG_HARDLOCKUP_DETECTOR=y
CONFIG_CPU_PM=y
CONFIG_DEBUG_LIST=y
CONFIG_TOUCHSCREEN_CYTTSP5=y
CONFIG_JOYSTICK_GAMECON=y
CONFIG_CRYPTO_AEAD2=y
CONFIG_TOUCHSCREEN_WACOM_W9000=y
CONFIG_CRYPTO_DEV_QAT_4XXX=y
CONFIG_REGULATOR_LP873X=y
CONFIG_PREEMPT_BUILD=y
CONFIG_IO_URING=y
CONFIG_HW_RANDOM_BA431=y
CONFIG_CRAMFS_BLOCKDEV=y
CONFIG_RESET_MESON_AUDIO_ARB=y
CONFIG_ARCH_USE_QUEUED_RWLOCKS=y
CONFIG_VIRT_DRIVERS=y
CONFIG_GPIB_NI_PCI_ISA=y
CONFIG_FSL_QDMA=y
CONFIG_CRYPTO_GHASH_ARM64_CE=y
CONFIG_HAVE_GENERIC_VDSO=y
CONFIG_LZO_DECOMPRESS=y
CONFIG_FRAMEBUFFER_CONSOLE_DETECT_PRIMARY=y
CONFIG_MISC_FILESYSTEMS=y
CONFIG_QCOM_LLCC=y
CONFIG_REGULATOR_RT5759=y
CONFIG_CGROUP_SCHED=y
CONFIG_CLONE_BACKWARDS=y
CONFIG_HID_MICROSOFT=y
CONFIG_IPQ_GCC_8074=y
CONFIG_NXP_STM_TIMER=y
CONFIG_CRYPTO_SM4_ARM64_CE_CCM=y
CONFIG_VHOST_CROSS_ENDIAN_LEGACY=y
CONFIG_PCI_STUB=y
CONFIG_REGULATOR_FP9931=y
CONFIG_ECRYPT_FS_MESSAGING=y
CONFIG_PINCTRL_CS47L92=y
CONFIG_CSD_LOCK_WAIT_DEBUG=y
CONFIG_RTC_DRV_PL030=y
CONFIG_HID_ICADE=y
CONFIG_CEC_NXP_TDA9950=y
CONFIG_IKCONFIG=y
CONFIG_HAVE_ARCH_KASAN_SW_TAGS=y
CONFIG_ARCH_WANT_BATCHED_UNMAP_TLB_FLUSH=y
CONFIG_F2FS_FAULT_INJECTION=y
CONFIG_COMMON_CLK_AXG=y
CONFIG_PROC_SYSCTL=y
CONFIG_PCI_SW_SWITCHTEC=y
CONFIG_ARCH_HAS_SYNC_DMA_FOR_DEVICE=y
CONFIG_COMMON_CLK_T7_PERIPHERALS=y
CONFIG_PROC_PAGE_MONITOR=y
CONFIG_HAVE_EFFICIENT_UNALIGNED_ACCESS=y
CONFIG_HUGETLBFS=y
CONFIG_JOYSTICK_SEESAW=y
CONFIG_TSM_GUEST=y
CONFIG_SM_GCC_6350=y
CONFIG_CHARGER_BD99954=y
CONFIG_CRYPTO_LIB_AES=y
CONFIG_REGULATOR_MAX77826=y
CONFIG_FSI=y
CONFIG_SPEAKUP_SYNTH_BNS=y
CONFIG_HOTPLUG_CORE_SYNC=y
CONFIG_REGULATOR_MAX77838=y
CONFIG_ARM64_POE=y
CONFIG_ARM_GIC_ITS_PARENT=y
CONFIG_SCSI_COMMON=y
CONFIG_ARM_GIC_V3_ITS=y
CONFIG_GPIO_MOCKUP=y
CONFIG_QCOM_RPROC_COMMON=y
CONFIG_GENERIC_IRQ_PROBE=y
CONFIG_GPIO_ASPEED_SGPIO=y
CONFIG_TOUCHSCREEN_CY8CTMG110=y
CONFIG_QCOM_GPI_DMA=y
CONFIG_COMMON_CLK_VC5=y
CONFIG_PCIE_THERMAL=y
CONFIG_PHY_ROCKCHIP_INNO_HDMI=y
CONFIG_PCIE_XILINX=y
CONFIG_ARCH_SUPPORTS_RT=y
CONFIG_RAID_ATTRS=y
CONFIG_GENERIC_PINCTRL=y
CONFIG_ARCH_SUPPORTS_CRASH_DUMP=y
CONFIG_CHARGER_MAX77693=y
CONFIG_HID_DRAGONRISE=y
CONFIG_ELFCORE=y
CONFIG_I2C_AT91=y
CONFIG_ARM64_MPAM_RESCTRL_FS=y
CONFIG_TOUCHSCREEN_PIXCIR=y
CONFIG_TOUCHSCREEN_WACOM_W8001=y
CONFIG_KEXEC=y
CONFIG_CLK_QCM2290_GPUCC=y
CONFIG_SM_GPUCC_6375=y
CONFIG_BATTERY_GAUGE_LTC2941=y
CONFIG_MIGRATION=y
CONFIG_IPQ_GCC_5332=y
CONFIG_REGULATOR_QCOM_LABIBB=y
CONFIG_CRYPTO_KDF800108_CTR=y
CONFIG_TOUCHSCREEN_SILEAD=y
CONFIG_ARCH_USES_HIGH_VMA_FLAGS=y
CONFIG_ARM_PKVM_GUEST=y
CONFIG_ARCH_HAS_DEBUG_VIRTUAL=y
CONFIG_CHARGER_LTC4162L=y
CONFIG_HID_PRIMAX=y
CONFIG_FANOTIFY=y
CONFIG_I2C_SLAVE_EEPROM=y
CONFIG_HID_KENSINGTON=y
CONFIG_HAVE_ARCH_KSTACK_ERASE=y
CONFIG_ARM64_BRBE=y
CONFIG_POWER_RESET_SYSCON=y
CONFIG_PCI_DEBUG=y
CONFIG_MHI_BUS=y
CONFIG_MFD_AXP20X=y
CONFIG_FIPS_SIGNATURE_SELFTEST=y
CONFIG_GENERIC_IRQ_IPI=y
CONFIG_PINCTRL_SKY1_BASE=y
CONFIG_JBD2=y
CONFIG_HID_UDRAW_PS3=y
CONFIG_HOTPLUG_CPU=y
CONFIG_PTP_1588_CLOCK_OPTIONAL=y
CONFIG_SOCIONEXT_SYNQUACER_PREITS=y
CONFIG_MFD_ATMEL_HLCDC=y
CONFIG_SCSI_UFSHCD_PCI=y
CONFIG_DYNAMIC_DEBUG_CORE=y
CONFIG_RTC_LIB=y
CONFIG_PHY_MA35_USB=y
CONFIG_HAVE_MOVE_PUD=y
CONFIG_ARCH_HAS_FAST_MULTIPLIER=y
CONFIG_HAVE_EXTRA_IPI_TRACEPOINTS=y
CONFIG_SM_TCSRCC_8650=y
CONFIG_CC_HAS_NO_PROFILE_FN_ATTR=y
CONFIG_USB_OHCI_LITTLE_ENDIAN=y
CONFIG_QCS_Q6SSTOP_404=y
CONFIG_XZ_DEC_TEST=y
CONFIG_CRYPTO_LIB_SHA3_ARCH=y
CONFIG_WATCH_QUEUE=y
CONFIG_EFI_GENERIC_STUB=y
CONFIG_DW_APB_ICTL=y
CONFIG_GPIO_PCA9570=y
CONFIG_REGULATOR_BCM590XX=y
CONFIG_RTC_CLASS=y
CONFIG_CLK_KAANAPALI_CAMCC=y
CONFIG_QCOM_FALKOR_ERRATUM_1009=y
CONFIG_MFD_88PM800=y
CONFIG_MIPI_I3C_HCI_PCI=y
CONFIG_MFD_LM3533=y
CONFIG_HAVE_PAGE_SIZE_16KB=y
CONFIG_SERIAL_OWL_CONSOLE=y
CONFIG_CC_HAS_AUTO_VAR_INIT_PATTERN=y
CONFIG_COMMON_CLK_MESON_REGMAP=y
CONFIG_RTC_DRV_TEST=y
CONFIG_TSM_REPORTS=y
CONFIG_CRYPTO_LIB_AES_ARCH=y
CONFIG_SM_DISPCC_MILOS=y
CONFIG_PHY_QCOM_USB_SNPS_FEMTO_V2=y
CONFIG_GENERIC_LIB_DEVMEM_IS_ALLOWED=y
CONFIG_GPIB_COMMON=y
CONFIG_CRYPTO_MD5=y
CONFIG_KERNEL_GZIP=y
CONFIG_ARM_SCMI_POWER_DOMAIN=y
CONFIG_BUG_ON_DATA_CORRUPTION=y
CONFIG_RESET_MESON=y
CONFIG_CRYPTO_SKCIPHER=y
CONFIG_PROC_VMCORE=y
CONFIG_REGULATOR_RT5190A=y
CONFIG_FB_CFB_IMAGEBLIT=y
CONFIG_FB_METRONOME=y
CONFIG_ARCH_HAS_MEM_ENCRYPT=y
CONFIG_NLS_ISO8859_2=y
CONFIG_LTO_NONE=y
CONFIG_ARCH_MESON=y
CONFIG_EXT2_FS=y
CONFIG_BOARD_TPCI200=y
CONFIG_SERIAL_8250_ASPEED_VUART=y
CONFIG_TARGET_CORE=y
CONFIG_NVMEM_LAYOUT_ONIE_TLV=y
CONFIG_SDM_CAMCC_845=y
CONFIG_HAVE_TRUSTED_KEYS_DEBUG=y
CONFIG_SYSVIPC_SYSCTL=y
CONFIG_PCIE_KEEMBAY_HOST=y
CONFIG_LCD_PLATFORM=y
CONFIG_PCIE_ROCKCHIP_DW_HOST=y
CONFIG_HID_TWINHAN=y
CONFIG_COMMON_CLK_MAX9485=y
CONFIG_HAVE_SAMPLE_FTRACE_DIRECT_MULTI=y
CONFIG_IRQ_SIM=y
CONFIG_SCSI_DH_HP_SW=y
CONFIG_CRASH_RESERVE=y
CONFIG_CLZ_TAB=y
CONFIG_UNIXWARE_DISKLABEL=y
CONFIG_PHY_MESON_G12A_USB2=y
CONFIG_QCOM_RAMP_CTRL=y
CONFIG_SM_VIDEOCC_8450=y
CONFIG_FB_SIS=y
CONFIG_PAGE_COUNTER=y
CONFIG_CRYPTO_AEAD=y
CONFIG_ENCRYPTED_KEYS=y
CONFIG_EEPROM_IDT_89HPESX=y
CONFIG_W1_MASTER_SGI=y
CONFIG_SYSFS=y
CONFIG_CRYPTO_AES=y
CONFIG_N_HDLC=y
CONFIG_TI_ECAP_CAPTURE=y
CONFIG_CRYPTO_ECB=y
CONFIG_CRYPTO_LIB_GF128MUL=y
CONFIG_ARCH_SUPPORTS_NUMA_BALANCING=y
CONFIG_RD_LZMA=y
CONFIG_SCHED_INFO=y
CONFIG_ARCH_HAS_DEBUG_VM_PGTABLE=y
CONFIG_SERIAL_ARC=y
CONFIG_HP_ILO=y
CONFIG_IRQCHIP=y
CONFIG_ARCH_HAS_NON_OVERLAPPING_ADDRESS_SPACE=y
CONFIG_GPIO_SYSCON=y
CONFIG_HAVE_ARCH_BITREVERSE=y
CONFIG_SLAB_OBJ_EXT=y
CONFIG_CLK_X1E80100_GPUCC=y
CONFIG_SERIAL_AMBA_PL011=y
CONFIG_UNINLINE_SPIN_UNLOCK=y
CONFIG_RANDOMIZE_KSTACK_OFFSET=y
CONFIG_QCS_CAMCC_615=y
CONFIG_ARCH_HAS_SET_DIRECT_MAP=y
CONFIG_KALLSYMS_ALL=y
CONFIG_TSM=y
CONFIG_IMG_ASCII_LCD=y
CONFIG_EXPORTFS_BLOCK_OPS=y
CONFIG_ARM64_WORKAROUND_SPECULATIVE_AT=y
CONFIG_VXFS_FS=y
CONFIG_GENERIC_IRQ_MIGRATION=y
CONFIG_SSB_PCIHOST_POSSIBLE=y
CONFIG_ARM64_16K_PAGES=y
CONFIG_PINCTRL_MESON_G12A=y
CONFIG_FB_MB862XX_I2C=y
CONFIG_FB_S1D13XXX=y
CONFIG_CORESIGHT_DUMMY=y
CONFIG_PCIE_ECRC=y
CONFIG_STACKTRACE=y
CONFIG_POSIX_TIMERS=y
CONFIG_SC_GCC_8180X=y
CONFIG_GENERIC_IRQ_DEBUGFS=y
CONFIG_HAVE_ARCH_COMPILER_H=y
CONFIG_DEBUG_LOCKDEP=y
CONFIG_HID_XINMO=y
CONFIG_CRYPTO_CAST5=y
CONFIG_IRQ_TIME_ACCOUNTING=y
CONFIG_XILINX_ZYNQMP_DPDMA=y
CONFIG_PINCONF=y
CONFIG_PHY_MESON_G12A_MIPI_DPHY_ANALOG=y
CONFIG_RPMSG=y
CONFIG_PHY_ROCKCHIP_DPHY_RX0=y
CONFIG_DEBUG_ATOMIC=y
CONFIG_BLK_ICQ=y
CONFIG_REGULATOR_TPS51632=y
CONFIG_ARM64_ERRATUM_4118414=y
CONFIG_RTC_I2C_AND_SPI=y
CONFIG_GCOV_KERNEL=y
CONFIG_FB_DDC=y
CONFIG_PCI_DOMAINS=y
CONFIG_EFI_RUNTIME_WRAPPERS=y
CONFIG_TRANSPARENT_HUGEPAGE_NEVER=y
CONFIG_UAPI_HEADER_TEST=y
CONFIG_DMA_NEED_SYNC=y
CONFIG_KEYS=y
CONFIG_DEBUG_KERNEL=y
CONFIG_ASYMMETRIC_KEY_TYPE=y
CONFIG_ARCH_HAS_NMI_SAFE_THIS_CPU_OPS=y
CONFIG_PERF_USE_VMALLOC=y
CONFIG_SC_GCC_8280XP=y
CONFIG_PCIE_KEEMBAY=y
CONFIG_HD44780_COMMON=y
CONFIG_ARCH_HAVE_TRACE_MMIO_ACCESS=y
CONFIG_HID_PICOLCD_FB=y
CONFIG_DEBUG_BUGVERBOSE=y
CONFIG_AS_HAS_NON_CONST_ULEB128=y
CONFIG_CRYPTO_HCTR2=y
CONFIG_INPUT_JOYDEV=y
CONFIG_CXL_MEM=y
CONFIG_ARCH_THUNDER=y
CONFIG_INIT_ON_FREE_DEFAULT_ON=y
CONFIG_CRYPTO_SIG=y
CONFIG_EXT4_FS=y
CONFIG_REGULATOR_SGM3804=y
CONFIG_JOYSTICK_GRIP=y
CONFIG_SM_DISPCC_8750=y
CONFIG_CRYPTO_SM3=y
CONFIG_RD_BZIP2=y
CONFIG_CHARGER_MT6360=y
CONFIG_GPIOLIB_LEGACY=y
CONFIG_HAVE_FUNCTION_GRAPH_FREGS=y
CONFIG_SECURITY_LOADPIN=y
CONFIG_STM_PROTO_BASIC=y
CONFIG_HAVE_PV_STEAL_CLOCK_GEN=y
CONFIG_PHY_ROCKCHIP_EMMC=y
CONFIG_BUG=y
CONFIG_CRYPTO_SM4_ARM64_NEON_BLK=y
CONFIG_QDU_ECPRICC_1000=y
CONFIG_CRYPTO_KRB5ENC=y
CONFIG_CONFIGFS_FS=y
CONFIG_SM_DISPCC_8450=y
CONFIG_QFMT_V1=y
CONFIG_KEYBOARD_TCA8418=y
CONFIG_SSB=y
CONFIG_HW_RANDOM_VIRTIO=y
CONFIG_RMI4_F03=y
CONFIG_REGULATOR_RK808=y
CONFIG_COMMON_CLK_VISCONTI=y
CONFIG_PINCTRL_BERLIN=y
CONFIG_VT_CONSOLE_SLEEP=y
CONFIG_SERIAL_SCCNXP_CONSOLE=y
CONFIG_BTRFS_FS_RUN_SANITY_TESTS=y
CONFIG_CPU_FREQ_GOV_USERSPACE=y
CONFIG_RTC_DRV_SD2405AL=y
CONFIG_ARM64_MPAM_DRIVER=y
CONFIG_CHARLCD=y
CONFIG_DMA_VIRTUAL_CHANNELS=y
CONFIG_PINCTRL_AMLOGIC_A4=y
CONFIG_CONSOLE_TRANSLATIONS=y
CONFIG_ARCH_KEEP_MEMBLOCK=y
CONFIG_CRC64_ARCH=y
CONFIG_XILINX_VCU=y
CONFIG_I2C=y
CONFIG_MFD_BQ257XX=y
CONFIG_COMPAT_BRK=y
CONFIG_GPIO_ASPEED=y
CONFIG_FUSE_FS=y
CONFIG_HAVE_ARCH_KFENCE=y
CONFIG_PHY_INTEL_KEEMBAY_USB=y
CONFIG_VIRTIO_FS=y
CONFIG_NLS_MAC_CENTEURO=y
CONFIG_SM_CAMCC_8650=y
CONFIG_KEYS_REQUEST_CACHE=y
CONFIG_EXT4_FS_POSIX_ACL=y
