CONFIG_HAVE_ACPI_APEI_NMI=n
CONFIG_MITIGATION_MMIO_STALE_DATA=n
CONFIG_SIGNALFD=n
CONFIG_ARCH_HAS_CPU_ATTACK_VECTORS=n
CONFIG_HAVE_IOREMAP_PROT=n
CONFIG_WLAN_VENDOR_QUANTENNA=n
CONFIG_RFKILL=n
CONFIG_ROOT_NFS=n
CONFIG_PROBE_EVENTS=n
CONFIG_HAVE_ARCH_SECCOMP_FILTER=n
CONFIG_CPU_SUP_HYGON=n
CONFIG_NET_VENDOR_NATSEMI=n
CONFIG_NET_VENDOR_8390=n
CONFIG_MODULES_USE_ELF_REL=n
CONFIG_E1000E_HWTS=n
CONFIG_PROC_PID_ARCH_STATUS=n
CONFIG_SERIO_I8042=n
CONFIG_ARCH_WANT_GENERAL_HUGETLB=n
CONFIG_X86_INTEL_PSTATE=n
CONFIG_ARCH_USES_PG_ARCH_2=n
CONFIG_SURFACE_PLATFORMS=n
CONFIG_NETWORK_FILESYSTEMS=n
CONFIG_XZ_DEC_POWERPC=n
CONFIG_X86_DISABLED_FEATURE_SYSCALL32=n
CONFIG_CC_HAS_MARCH_NATIVE=n
CONFIG_ARCH_HAS_MEMBARRIER_SYNC_CORE=n
CONFIG_NET_VENDOR_SIS=n
CONFIG_PAGE_SIZE_LESS_THAN_64KB=n
CONFIG_CRYPTO_LZ4=n
CONFIG_SLAB_MERGE_DEFAULT=n
CONFIG_PATA_AMD=n
CONFIG_NET_VENDOR_INTEL=n
CONFIG_XZ_DEC_BCJ=n
CONFIG_THERMAL_GOV_STEP_WISE=n
CONFIG_CARDBUS=n
CONFIG_DRM_BUDDY=n
CONFIG_CRYPTO_AEAD=n
CONFIG_CGROUP_RDMA=n
CONFIG_NET_VENDOR_ATHEROS=n
CONFIG_ARCH_CPUIDLE_HALTPOLL=n
CONFIG_SECURITY=n
CONFIG_SERIAL_8250_SHARE_IRQ=n
CONFIG_QUOTACTL=n
CONFIG_SERIAL_8250_MID=n
CONFIG_EDAC_SUPPORT=n
CONFIG_PAGE_MAPCOUNT=n
CONFIG_SND_TIMER=n
CONFIG_NETFILTER_XT_TARGET_NFLOG=n
CONFIG_EDAC_ATOMIC_SCRUB=n
CONFIG_ARCH_USE_MEMREMAP_PROT=n
CONFIG_EXT4_FS=n
CONFIG_PM_DEBUG=n
CONFIG_ZLIB_INFLATE=n
CONFIG_BLK_RQ_ALLOC_TIME=n
CONFIG_FUTEX_PI=n
CONFIG_LZ4_COMPRESS=n
CONFIG_TASKS_TRACE_RCU=n
CONFIG_SBITMAP=n
CONFIG_HAVE_REGS_AND_STACK_ACCESS_API=n
CONFIG_USB_UHCI_HCD=n
CONFIG_SERIAL_8250_DMA=n
CONFIG_HAVE_FUNCTION_ERROR_INJECTION=n
CONFIG_PM_TRACE_RTC=n
CONFIG_ARCH_SUPPORTS_SCHED_MC=n
CONFIG_GENERIC_CMOS_UPDATE=n
CONFIG_RTC_NVMEM=n
CONFIG_ACPI_BATTERY=n
CONFIG_NET_VENDOR_META=n
CONFIG_IO_URING_ZCRX=n
CONFIG_UTS_NS=n
CONFIG_ARCH_HAS_FAST_MULTIPLIER=n
CONFIG_CC_HAS_WORKING_NOSANITIZE_ADDRESS=n
CONFIG_MD=n
CONFIG_THERMAL_HWMON=n
CONFIG_ARCH_CORRECT_STACKTRACE_ON_KRETPROBE=n
CONFIG_HAVE_ARCH_KGDB=n
CONFIG_CC_NO_ARRAY_BOUNDS=n
CONFIG_HAVE_CMPXCHG_LOCAL=n
CONFIG_FTRACE=n
CONFIG_HAVE_OPTPROBES=n
CONFIG_NETFILTER_XT_TARGET_CONNSECMARK=n
CONFIG_EFI_RUNTIME_MAP=n
CONFIG_IP_ADVANCED_ROUTER=n
CONFIG_WMI_BMOF=n
CONFIG_NETFS_SUPPORT=n
CONFIG_HAVE_KERNEL_GZIP=n
CONFIG_HAVE_MIXED_BREAKPOINTS_REGS=n
CONFIG_HAVE_ARCH_TRACEHOOK=n
CONFIG_HOTPLUG_SMT=n
CONFIG_NET_VENDOR_MELLANOX=n
CONFIG_RING_BUFFER=n
CONFIG_NET_VENDOR_SMSC=n
CONFIG_DRM_GEM_SHMEM_HELPER=n
CONFIG_NF_DEFRAG_IPV4=n
CONFIG_CGROUPS=n
CONFIG_ATA_SFF=n
CONFIG_CRYPTO_SIG2=n
CONFIG_AMD_NB=n
CONFIG_SND_SEQ_HRTIMER_DEFAULT=n
CONFIG_CPU_FREQ_GOV_USERSPACE=n
CONFIG_NFS_V3_ACL=n
CONFIG_SSB_POSSIBLE=n
CONFIG_ARCH_HAS_DEBUG_VM_PGTABLE=n
CONFIG_NET_VENDOR_TI=n
CONFIG_BCMA_POSSIBLE=n
CONFIG_PROC_PAGE_MONITOR=n
CONFIG_X86_DISABLED_FEATURE_USER_SHSTK=n
CONFIG_CRYPTO_AKCIPHER2=n
CONFIG_DMA_ACPI=n
CONFIG_IP_PIMSM_V1=n
CONFIG_MODULES_TREE_LOOKUP=n
CONFIG_ACPI_I2C_OPREGION=n
CONFIG_I2C=n
CONFIG_MD_BITMAP=n
CONFIG_DMI=n
CONFIG_HAVE_EBPF_JIT=n
CONFIG_X86_DEBUGCTLMSR=n
CONFIG_NO_HZ=n
CONFIG_NF_CONNTRACK_SECMARK=n
CONFIG_X86_DISABLED_FEATURE_SGX=n
CONFIG_NETFILTER_NETLINK_LOG=n
CONFIG_FAIR_GROUP_SCHED=n
CONFIG_ARCH_SUPPORTS_LTO_CLANG=n
CONFIG_EEEPC_LAPTOP=n
CONFIG_NET_9P_VIRTIO=n
CONFIG_NET_VENDOR_QUALCOMM=n
CONFIG_PCI_BIOS=n
CONFIG_SECTION_MISMATCH_WARN_ONLY=n
CONFIG_RTC_LIB=n
CONFIG_USB_PCI=n
CONFIG_HAVE_KERNEL_LZMA=n
CONFIG_ALLOW_DEV_COREDUMP=n
CONFIG_VIRTIO_BLK=n
CONFIG_PAGE_SIZE_4KB=n
CONFIG_PREEMPTION=n
CONFIG_HUGETLBFS=n
CONFIG_ACPI_BGRT=n
CONFIG_HAVE_FUTEX_ROBUST_UNLOCK=n
CONFIG_COMPAT_32=n
CONFIG_X86_MCE_INTEL=n
CONFIG_ARCH_MIGHT_HAVE_PC_SERIO=n
CONFIG_FS_IOMAP=n
CONFIG_HAVE_ALIGNED_STRUCT_PAGE=n
CONFIG_WLAN_VENDOR_REALTEK=n
CONFIG_HAVE_PERF_REGS=n
CONFIG_SND_USB=n
CONFIG_BITREVERSE=n
CONFIG_HAVE_GUP_FAST=n
CONFIG_USB_XHCI_PCI=n
CONFIG_INPUT_FF_MEMLESS=n
CONFIG_SCHED_OMIT_FRAME_POINTER=n
CONFIG_EARLY_PRINTK_DBGP=n
CONFIG_HAVE_SYSCALL_TRACEPOINTS=n
CONFIG_EXT4_USE_FOR_EXT2=n
CONFIG_NET_VENDOR_ADAPTEC=n
CONFIG_IA32_FEAT_CTL=n
CONFIG_ZSTD_COMMON=n
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST=n
CONFIG_NET_VENDOR_BROCADE=n
CONFIG_HAVE_POSIX_CPU_TIMERS_TASK_WORK=n
CONFIG_SPARSE_IRQ=n
CONFIG_NET_VENDOR_ROCKER=n
CONFIG_DEVTMPFS=n
CONFIG_BLK_DEV_LOOP=n
CONFIG_X86_EXTENDED_PLATFORM=n
CONFIG_CGROUP_PERF=n
CONFIG_EARLY_PRINTK=n
CONFIG_PCIEASPM_DEFAULT=n
CONFIG_CPU_ISOLATION=n
CONFIG_DECOMPRESS_ZSTD=n
CONFIG_DRM=n
CONFIG_PROC_EVENTS=n
CONFIG_CRYPTO_CBC=n
CONFIG_NVRAM=n
CONFIG_SND_HDA=n
CONFIG_CROSS_MEMORY_ATTACH=n
CONFIG_DMA_ENGINE=n
CONFIG_MOUSE_PS2_ALPS=n
CONFIG_SCHED_CACHE=n
CONFIG_HOTPLUG_CORE_SYNC=n
CONFIG_FLATMEM_MANUAL=n
CONFIG_SCHED_SMT=n
CONFIG_MITIGATION_RETBLEED=n
CONFIG_NET_VENDOR_WANGXUN=n
CONFIG_NET_XGRESS=n
CONFIG_CPU_RMAP=n
CONFIG_PCIE_PME=n
CONFIG_NET_VENDOR_STMICRO=n
CONFIG_IP_ROUTE_MULTIPATH=n
CONFIG_RFKILL_LEDS=n
CONFIG_IP_MROUTE=n
CONFIG_CDROM=n
CONFIG_HWMON=n
CONFIG_PCMCIA_LOAD_CIS=n
CONFIG_ZLIB_DEFLATE=n
CONFIG_X86_REQUIRED_FEATURE_ALWAYS=n
CONFIG_GENERIC_IOMAP=n
CONFIG_GENERIC_VDSO_OVERFLOW_PROTECT=n
CONFIG_HOTPLUG_SPLIT_STARTUP=n
CONFIG_CRYPTO_SEQIV=n
CONFIG_X86_LOCAL_APIC=n
CONFIG_SND_JACK=n
CONFIG_IP_NF_IPTABLES=n
CONFIG_ARCH_SELECT_MEMORY_MODEL=n
CONFIG_DECOMPRESS_LZMA=n
CONFIG_HIDRAW=n
CONFIG_ARCH_HAVE_EXTRA_ELF_NOTES=n
CONFIG_ZSTD_DECOMPRESS=n
CONFIG_CRYPTO_CMAC=n
CONFIG_PERF_EVENTS_INTEL_RAPL=n
CONFIG_PCSPKR_PLATFORM=n
CONFIG_ARCH_VMLINUX_NEEDS_RELOCS=n
CONFIG_EXCLUSIVE_SYSTEM_RAM=n
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO_BARE=n
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_REGS=n
CONFIG_SND_VERBOSE_PROCFS=n
CONFIG_POSIX_TIMERS=n
CONFIG_IO_URING=n
CONFIG_TREE_RCU=n
CONFIG_MEMFD_CREATE=n
CONFIG_AUDIT_GENERIC=n
CONFIG_GENERIC_IRQ_MATRIX_ALLOCATOR=n
CONFIG_EPOLL=n
CONFIG_CONTEXT_TRACKING=n
CONFIG_BINARY_PRINTF=n
CONFIG_CPU_FREQ_GOV_ONDEMAND=n
CONFIG_STRICT_MODULE_RWX=n
CONFIG_CRYPTO_LIB_UTILS=n
CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE=n
CONFIG_X86_DISABLED_FEATURE_LASS=n
CONFIG_X86_BUS_LOCK_DETECT=n
CONFIG_XXHASH=n
CONFIG_ACPI_PROCESSOR_IDLE=n
CONFIG_ARCH_HAS_ELF_RANDOMIZE=n
CONFIG_HOTPLUG_PCI=n
CONFIG_USB_EHCI_PCI=n
CONFIG_MICROCODE_INITRD32=n
CONFIG_NF_NAT=n
CONFIG_PHYLIB=n
CONFIG_NFS_V4_0=n
CONFIG_I2C_BOARDINFO=n
CONFIG_FONT_AUTOSELECT=n
CONFIG_ARCH_HAS_DEBUG_VIRTUAL=n
CONFIG_DMA_OPS_HELPERS=n
CONFIG_APERTURE_HELPERS=n
CONFIG_FUTEX=n
CONFIG_PATA_OLDPIIX=n
CONFIG_ACPI_THERMAL_LIB=n
CONFIG_USB_OHCI_HCD=n
CONFIG_SATA_PMP=n
CONFIG_ACPI_SLEEP=n
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST_IDLE=n
CONFIG_SYSTEM_TRUSTED_KEYRING=n
CONFIG_BLK_DEV_SD=n
CONFIG_NET_HANDSHAKE=n
CONFIG_HW_RANDOM_VIA=n
CONFIG_SND_PCMCIA=n
CONFIG_NETFILTER_NETLINK=n
CONFIG_USB_COMMON=n
CONFIG_X86_MCE=n
CONFIG_SCHED_MC_PRIO=n
CONFIG_INPUT_KEYBOARD=n
CONFIG_ARCH_SUPPORTS_KEXEC_SIG_FORCE=n
CONFIG_HID_SUNPLUS=n
CONFIG_GENERIC_GETTIMEOFDAY=n
CONFIG_IRQ_WORK=n
CONFIG_NET_PTP_CLASSIFY=n
CONFIG_NET_VENDOR_PENSANDO=n
CONFIG_CRYPTO_HW=n
CONFIG_HAVE_FTRACE_GRAPH_FUNC=n
CONFIG_QUOTA_TREE=n
CONFIG_NET_VENDOR_EMULEX=n
CONFIG_HAVE_BUILDTIME_MCOUNT_SORT=n
CONFIG_HW_RANDOM=n
CONFIG_GCC10_NO_ARRAY_BOUNDS=n
CONFIG_ARCH_SUPPORTS_KEXEC_SIG=n
CONFIG_INSTRUCTION_DECODER=n
CONFIG_GENERIC_CPU_AUTOPROBE=n
CONFIG_ARCH_HAS_DEVMEM_IS_ALLOWED=n
CONFIG_NETFILTER_XT_MATCH_POLICY=n
CONFIG_HAVE_DMA_CONTIGUOUS=n
CONFIG_HAVE_STACKPROTECTOR=n
CONFIG_NET_VENDOR_VERTEXCOM=n
CONFIG_PREVENT_FIRMWARE_BUILD=n
CONFIG_CC_HAS_NO_PROFILE_FN_ATTR=n
CONFIG_HID_GENERIC=n
CONFIG_ARCH_HAS_SYNC_CORE_BEFORE_USERMODE=n
CONFIG_RFS_ACCEL=n
CONFIG_CRYPTO_SKCIPHER2=n
CONFIG_SND_JACK_INPUT_DEV=n
CONFIG_HID_SAMSUNG=n
CONFIG_IOMMU_DEFAULT_DMA_LAZY=n
CONFIG_XZ_DEC_ARM=n
CONFIG_VIRTIO_PCI_LEGACY=n
CONFIG_NLS_ASCII=n
CONFIG_NETFILTER_XT_MATCH_CONNTRACK=n
CONFIG_MSDOS_PARTITION=n
CONFIG_INPUT_TABLET=n
CONFIG_X86=n
CONFIG_RD_LZ4=n
