CONFIG_E100=n
CONFIG_WLAN_VENDOR_RALINK=n
CONFIG_ARCH_SUPPORTS_KEXEC_SIG=n
CONFIG_CRYPTO_CTR=n
CONFIG_GENERIC_VDSO_OVERFLOW_PROTECT=n
CONFIG_DRM_I915_COMPRESS_ERROR=n
CONFIG_X86_CMOV=n
CONFIG_NF_REJECT_IPV4=n
CONFIG_ARCH_HAS_PTDUMP=n
CONFIG_SCHED_CACHE=n
CONFIG_I8253_LOCK=n
CONFIG_FSNOTIFY=n
CONFIG_CRYPTO_LIB_SHA512=n
CONFIG_SYSFS=n
CONFIG_HUGETLBFS=n
CONFIG_XZ_DEC_ARMTHUMB=n
CONFIG_QUOTACTL=n
CONFIG_CRYPTO_GENIV=n
CONFIG_CRYPTO_SIG2=n
CONFIG_PAGE_COUNTER=n
CONFIG_AUDITSYSCALL=n
CONFIG_PTP_1588_CLOCK_KVM=n
CONFIG_BNX2=n
CONFIG_SERIAL_8250_PCI=n
CONFIG_SWAP=n
CONFIG_TASKS_RCU_GENERIC=n
CONFIG_X86_DISABLED_FEATURE_SEV_SNP=n
CONFIG_HIGH_RES_TIMERS=n
CONFIG_MOUSE_PS2_FOCALTECH=n
CONFIG_HAVE_USER_RETURN_NOTIFIER=n
CONFIG_R8169=n
CONFIG_SYNC_FILE=n
CONFIG_CC_HAS_KASAN_GENERIC=n
CONFIG_X86_REQUIRED_FEATURE_ALWAYS=n
CONFIG_CGROUP_RDMA=n
CONFIG_INPUT_LEDS=n
CONFIG_SND_SEQ_DUMMY=n
CONFIG_X86_PKG_TEMP_THERMAL=n
CONFIG_HAVE_HARDLOCKUP_DETECTOR_BUDDY=n
CONFIG_RTC_I2C_AND_SPI=n
CONFIG_HIBERNATION=n
CONFIG_PROC_SYSCTL=n
CONFIG_PERF_EVENTS_AMD_UNCORE=n
CONFIG_NETWORK_FILESYSTEMS=n
CONFIG_PAGE_POOL=n
CONFIG_ARCH_SUPPORTS_RT=n
CONFIG_KERNEL_GZIP=n
CONFIG_LDISC_AUTOLOAD=n
CONFIG_IP_MROUTE=n
CONFIG_MITIGATION_SPECTRE_V1=n
CONFIG_NET_VENDOR_EMULEX=n
CONFIG_NET_VENDOR_ROCKER=n
CONFIG_HW_RANDOM=n
CONFIG_ARCH_SUPPORTS_CRASH_HOTPLUG=n
CONFIG_WLAN_VENDOR_TI=n
CONFIG_TREE_RCU=n
CONFIG_SIGNALFD=n
CONFIG_PCI_DIRECT=n
CONFIG_NET_VENDOR_EZCHIP=n
CONFIG_XPS=n
CONFIG_ARCH_HAS_PARANOID_L1D_FLUSH=n
CONFIG_HID_SAMSUNG=n
CONFIG_USB_XHCI_PCI=n
CONFIG_NF_REJECT_IPV6=n
CONFIG_VM_EVENT_COUNTERS=n
CONFIG_TRACEFS_AUTOMOUNT_DEPRECATED=n
CONFIG_EPROBE_EVENTS=n
CONFIG_DYNAMIC_EVENTS=n
CONFIG_SND_HDA_COMPONENT=n
CONFIG_IP_ADVANCED_ROUTER=n
CONFIG_RELOCATABLE=n
CONFIG_CC_HAS_SLS=n
CONFIG_NFS_DISABLE_UDP_SUPPORT=n
CONFIG_TMPFS_POSIX_ACL=n
CONFIG_CGROUPS=n
CONFIG_FRAME_POINTER=n
CONFIG_CPU_IDLE=n
CONFIG_VIDEO=n
CONFIG_HAVE_KERNEL_LZ4=n
CONFIG_CRYPTO_ACOMP2=n
CONFIG_TMPFS_XATTR=n
CONFIG_NF_NAT_MASQUERADE=n
CONFIG_DMA_ENGINE=n
CONFIG_HAVE_ARCH_WITHIN_STACK_FRAMES=n
CONFIG_GENERIC_CPU_DEVICES=n
CONFIG_THERMAL=n
CONFIG_SATA_AHCI=n
CONFIG_HOTPLUG_SMT=n
CONFIG_DCACHE_WORD_ACCESS=n
CONFIG_WLAN_VENDOR_SILABS=n
CONFIG_HAVE_RETHOOK=n
CONFIG_SERIAL_8250_LPSS=n
CONFIG_X86_DISABLED_FEATURE_PCID=n
CONFIG_X86_MCE_AMD=n
CONFIG_IPV6_SIT=n
CONFIG_PATA_TIMINGS=n
CONFIG_RPCSEC_GSS_KRB5=n
CONFIG_CRYPTO_LZO=n
CONFIG_MMU_LAZY_TLB_REFCOUNT=n
CONFIG_NET_VENDOR_MICROCHIP=n
CONFIG_SND_PCMCIA=n
CONFIG_X86_DISABLED_FEATURE_CALL_DEPTH=n
CONFIG_SND=n
CONFIG_ARCH_HAVE_NMI_SAFE_CMPXCHG=n
CONFIG_NETFILTER=n
CONFIG_X86_REQUIRED_FEATURE_CX8=n
CONFIG_CC_CAN_LINK=n
CONFIG_BUFFER_HEAD=n
CONFIG_KPROBE_EVENTS=n
CONFIG_MQ_IOSCHED_DEADLINE=n
CONFIG_NET_FAILOVER=n
CONFIG_CRYPTO_LIB_SHA1=n
CONFIG_ACPI_PLATFORM_PROFILE=n
CONFIG_DNOTIFY=n
CONFIG_HAVE_PV_STEAL_CLOCK_GEN=n
CONFIG_DMA_SHARED_BUFFER=n
CONFIG_PNFS_FILE_LAYOUT=n
CONFIG_CPU_MITIGATIONS=n
CONFIG_BLK_DEV=n
CONFIG_NETFILTER_NETLINK=n
CONFIG_X86_INTEL_TSX_MODE_AUTO=n
CONFIG_GENERIC_BITREVERSE=n
CONFIG_TIGON3=n
CONFIG_ACPI_PROCESSOR=n
CONFIG_ATA_SFF=n
CONFIG_IPV6_NDISC_NODETYPE=n
CONFIG_SND_VERBOSE_PROCFS=n
CONFIG_NET_TULIP=n
CONFIG_CPU_SUP_INTEL=n
CONFIG_PREEMPT_RCU=n
CONFIG_NET_VENDOR_BROCADE=n
CONFIG_PCCARD=n
CONFIG_DRM_GEM_SHMEM_HELPER=n
CONFIG_MOUSE_PS2_LOGIPS2PP=n
CONFIG_CGROUP_NET_PRIO=n
CONFIG_PNP_DEBUG_MESSAGES=n
CONFIG_QUOTA=n
CONFIG_USB_OHCI_LITTLE_ENDIAN=n
CONFIG_SCSI_COMMON=n
CONFIG_OID_REGISTRY=n
CONFIG_GENERIC_CMOS_UPDATE=n
CONFIG_ARCH_HIBERNATION_HEADER=n
CONFIG_IO_DELAY_0X80=n
CONFIG_ARCH_HAS_ELF_RANDOMIZE=n
CONFIG_DRM_DISPLAY_DSC_HELPER=n
CONFIG_HPET=n
CONFIG_PNP=n
CONFIG_SERIAL_CORE=n
CONFIG_P2SB=n
CONFIG_NET_VENDOR_AQUANTIA=n
CONFIG_IP_PIMSM_V1=n
CONFIG_KRETPROBE_ON_RETHOOK=n
CONFIG_IOMMU_SUPPORT=n
CONFIG_X86_DISABLED_FEATURE_IBT=n
CONFIG_SOCK_CGROUP_DATA=n
CONFIG_PROC_FS=n
CONFIG_DEBUG_BOOT_PARAMS=n
CONFIG_INTEGRITY_AUDIT=n
CONFIG_HAVE_UID16=n
CONFIG_ARCH_STACKWALK=n
CONFIG_ARCH_HAVE_EXTRA_ELF_NOTES=n
CONFIG_HAVE_ARCH_KFENCE=n
CONFIG_GENERIC_ISA_DMA=n
CONFIG_NET_VENDOR_WIZNET=n
CONFIG_RTC_INTF_DEV=n
CONFIG_HAVE_CMPXCHG_DOUBLE=n
CONFIG_NETFILTER_XT_TARGET_CONNSECMARK=n
CONFIG_INPUT_EVDEV=n
CONFIG_HAVE_POSIX_CPU_TIMERS_TASK_WORK=n
CONFIG_HAVE_KERNEL_LZO=n
CONFIG_NET_VENDOR_SIS=n
CONFIG_SHMEM=n
CONFIG_HAVE_ARCH_GET_SECUREBOOT=n
CONFIG_CRC_CCITT=n
CONFIG_ARCH_HAS_CACHE_LINE_SIZE=n
CONFIG_ARCH_FLATMEM_ENABLE=n
CONFIG_SCHED_MC=n
CONFIG_SND_INTEL_DSP_CONFIG=n
CONFIG_NET_VENDOR_MELLANOX=n
CONFIG_CRYPTO_GCM=n
CONFIG_NET_IP_TUNNEL=n
CONFIG_CONNECTOR=n
CONFIG_TASK_DELAY_ACCT=n
CONFIG_ARCH_MIGHT_HAVE_PC_PARPORT=n
CONFIG_VIRTIO_INPUT=n
CONFIG_NET_VENDOR_WANGXUN=n
CONFIG_RATIONAL=n
CONFIG_HVC_DRIVER=n
CONFIG_IP_ROUTE_VERBOSE=n
CONFIG_HAVE_FUNCTION_TRACER=n
CONFIG_EFI_CAPSULE_LOADER=n
CONFIG_HAVE_KPROBES_ON_FTRACE=n
CONFIG_BLK_MQ_STACKING=n
CONFIG_HW_RANDOM_VIA=n
CONFIG_ARCH_HAS_GCOV_PROFILE_ALL=n
CONFIG_HAVE_GENERIC_TIF_BITS=n
CONFIG_ARCH_HAS_HW_PTE_YOUNG=n
CONFIG_RTC_MC146818_LIB=n
CONFIG_DRM_BUDDY=n
CONFIG_INET6_ESP=n
CONFIG_UTS_NS=n
CONFIG_IP_MULTICAST=n
CONFIG_SERIAL_8250=n
CONFIG_MICROCODE_INITRD32=n
CONFIG_BCMA_POSSIBLE=n
CONFIG_SND_VMASTER=n
CONFIG_MISC_FILESYSTEMS=n
CONFIG_GENERIC_PCI_IOMAP=n
CONFIG_VIRTUALIZATION=n
CONFIG_CRYPTO_LZ4=n
CONFIG_USB_OHCI_HCD=n
CONFIG_BINFMT_SCRIPT=n
CONFIG_NF_LOG_IPV4=n
CONFIG_PCI_DOMAINS=n
CONFIG_DMI_SCAN_MACHINE_NON_EFI_FALLBACK=n
CONFIG_NF_NAT_IRC=n
CONFIG_JBD2=n
CONFIG_INPUT_TOUCHSCREEN=n
CONFIG_INPUT_TABLET=n
CONFIG_ARCH_HIBERNATION_POSSIBLE=n
CONFIG_INTERVAL_TREE=n
CONFIG_X86_DISABLED_FEATURE_RETHUNK=n
CONFIG_NET_VENDOR_ENGLEDER=n
CONFIG_ARCH_SUPPORTS_LTO_CLANG_THIN=n
CONFIG_CRYPTO_HW=n
CONFIG_HAVE_IRQ_TIME_ACCOUNTING=n
CONFIG_I2C_ALGOBIT=n
CONFIG_HAVE_KCSAN_COMPILER=n
CONFIG_BINFMT_MISC=n
CONFIG_CGROUP_FREEZER=n
CONFIG_ARCH_HAS_NON_OVERLAPPING_ADDRESS_SPACE=n
CONFIG_MMU_GATHER_RCU_TABLE_FREE=n
CONFIG_SUNRPC=n
CONFIG_CRYPTO_CCM=n
CONFIG_INTEGRITY=n
CONFIG_IRQ_WORK=n
CONFIG_GENERIC_CLOCKEVENTS=n
CONFIG_MODIFY_LDT_SYSCALL=n
CONFIG_HAVE_REGS_AND_STACK_ACCESS_API=n
CONFIG_SERIO_LIBPS2=n
CONFIG_CPU_FREQ_GOV_USERSPACE=n
CONFIG_QUEUED_SPINLOCKS=n
CONFIG_HOTPLUG_CORE_SYNC=n
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_REGS=n
CONFIG_QUOTA_TREE=n
CONFIG_USB_PCI=n
CONFIG_ACPI_WMI=n
CONFIG_NET_VENDOR_ALIBABA=n
CONFIG_HAVE_GUP_FAST=n
CONFIG_KEXEC_CORE=n
CONFIG_MMU_NOTIFIER=n
CONFIG_EXPORTFS=n
CONFIG_SOUND=n
CONFIG_NET_VENDOR_ALACRITECH=n
CONFIG_EEPROM_93CX6=n
CONFIG_HAVE_EFFICIENT_UNALIGNED_ACCESS=n
CONFIG_RCU_TRACE=n
CONFIG_LOCALVERSION_AUTO=n
CONFIG_IPV6=n
CONFIG_SUSPEND_FREEZER=n
CONFIG_SCHED_MM_CID=n
CONFIG_ARCH_SUPPORTS_UPROBES=n
CONFIG_ELF_CORE=n
CONFIG_FAILOVER=n
CONFIG_DEVTMPFS=n
CONFIG_PCI_MSI=n
CONFIG_THREAD_INFO_IN_TASK=n
CONFIG_NET_VENDOR_TEHUTI=n
CONFIG_ARCH_HAS_CPU_CACHE_INVALIDATE_MEMREGION=n
CONFIG_KVFREE_RCU_BATCHED=n
CONFIG_NVMEM=n
CONFIG_NEW_LEDS=n
CONFIG_CPU_FREQ_GOV_ATTR_SET=n
CONFIG_DMA_VIRTUAL_CHANNELS=n
CONFIG_RD_ZSTD=n
CONFIG_TICK_ONESHOT=n
CONFIG_XFRM_AH=n
CONFIG_IP6_NF_IPTABLES=n
CONFIG_ARCH_HAS_CPU_FINALIZE_INIT=n
CONFIG_HID_PANTHERLORD=n
CONFIG_PROBE_EVENTS=n
CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE=n
CONFIG_DRM_I915_CAPTURE_ERROR=n
CONFIG_USB_COMMON=n
CONFIG_ARCH_USE_CMPXCHG_LOCKREF=n
CONFIG_DEBUG_STACK_USAGE=n
CONFIG_DST_CACHE=n
CONFIG_CC_HAS_NAMED_AS=n
CONFIG_GENERIC_STRNCPY_FROM_USER=n
CONFIG_AGP_AMD64=n
CONFIG_DRM_DISPLAY_HELPER=n
CONFIG_X86_VERBOSE_BOOTUP=n
CONFIG_I2C_SMBUS=n
CONFIG_BLK_CGROUP_IOPRIO=n
CONFIG_HAVE_C_RECORDMCOUNT=n
CONFIG_MITIGATION_SSB=n
CONFIG_PERF_EVENTS_INTEL_RAPL=n
CONFIG_BLK_DEBUG_FS=n
CONFIG_JUMP_LABEL=n
CONFIG_MOUSE_PS2_CYPRESS=n
