CONFIG_EEPROM_93CX6=n
CONFIG_CRYPTO_LIB_SHA256=n
CONFIG_MOUSE_PS2_LIFEBOOK=n
CONFIG_GENERIC_PCI_IOMAP=n
CONFIG_PROC_SYSCTL=n
CONFIG_PROC_FS=n
CONFIG_SERIAL_8250_PCILIB=n
CONFIG_X86_16BIT=n
CONFIG_ALLOW_DEV_COREDUMP=n
CONFIG_PCI_DIRECT=n
CONFIG_ACPI_HOTPLUG_CPU=n
CONFIG_HWMON=n
CONFIG_X86_DISABLED_FEATURE_K6_MTRR=n
CONFIG_CPU_FREQ_GOV_COMMON=n
CONFIG_NF_DEFRAG_IPV4=n
CONFIG_PPS=n
CONFIG_NET_VENDOR_MUCSE=n
CONFIG_HAVE_ARCH_KASAN_VMALLOC=n
CONFIG_PAGE_SIZE_LESS_THAN_64KB=n
CONFIG_CRYPTO_LIB_AES=n
CONFIG_ARCH_HAS_SYNC_CORE_BEFORE_USERMODE=n
CONFIG_CRYPTO_LIB_UTILS=n
CONFIG_MACINTOSH_DRIVERS=n
CONFIG_ARCH_SUPPORTS_KEXEC_HANDOVER=n
CONFIG_SUNRPC_GSS=n
CONFIG_BLK_DEV_MD=n
CONFIG_NET_VENDOR_SILAN=n
CONFIG_P2SB=n
CONFIG_NET_VENDOR_DLINK=n
CONFIG_GENERIC_CPU_DEVICES=n
CONFIG_NET_VENDOR_ARC=n
CONFIG_NET_9P_FD=n
CONFIG_PREEMPT_BUILD=n
CONFIG_LTO_NONE=n
CONFIG_HID_PANTHERLORD=n
CONFIG_HAVE_ARCH_TRACEHOOK=n
CONFIG_SYN_COOKIES=n
CONFIG_E1000E=n
CONFIG_PTP_1588_CLOCK_OPTIONAL=n
CONFIG_PM_SLEEP=n
CONFIG_USB_HIDDEV=n
CONFIG_CONTEXT_SWITCH_TRACER=n
CONFIG_HAVE_STACKPROTECTOR=n
CONFIG_CRYPTO_ALGAPI=n
CONFIG_HAVE_KERNEL_LZO=n
CONFIG_CRYPTO_SEQIV=n
CONFIG_MITIGATION_CALL_DEPTH_TRACKING=n
CONFIG_MMU=n
CONFIG_SCHED_CLUSTER=n
CONFIG_ARCH_HAS_MEM_ENCRYPT=n
CONFIG_ARCH_CPUIDLE_HALTPOLL=n
CONFIG_ARCH_HAS_PARANOID_L1D_FLUSH=n
CONFIG_HAVE_PREEMPT_DYNAMIC_CALL=n
CONFIG_KALLSYMS=n
CONFIG_ACPI_THERMAL=n
CONFIG_USB_SUPPORT=n
CONFIG_VIRTIO=n
CONFIG_FAILOVER=n
CONFIG_IRQ_REMAP=n
CONFIG_ADVISE_SYSCALLS=n
CONFIG_RD_LZ4=n
CONFIG_PROC_EVENTS=n
CONFIG_FS_POSIX_ACL=n
CONFIG_GENERIC_TRACER=n
CONFIG_INTEL_IOMMU_SCALABLE_MODE_DEFAULT_ON=n
CONFIG_DRM_KMS_HELPER=n
CONFIG_PACKET=n
CONFIG_HAVE_GIGANTIC_FOLIOS=n
CONFIG_CRYPTO_GENIV=n
CONFIG_X86_REQUIRED_FEATURE_XMM2=n
CONFIG_ACPI_TABLE_UPGRADE=n
CONFIG_EXT4_FS_SECURITY=n
CONFIG_CONNECTOR=n
CONFIG_HAVE_FUNCTION_ARG_ACCESS_API=n
CONFIG_SERIAL_CORE_CONSOLE=n
CONFIG_VIRTIO_ANCHOR=n
CONFIG_RCU_STALL_COMMON=n
CONFIG_NET_VENDOR_NVIDIA=n
CONFIG_NF_CONNTRACK_FTP=n
CONFIG_MITIGATION_SPECTRE_V1=n
CONFIG_ARCH_SPARSEMEM_ENABLE=n
CONFIG_HAVE_DYNAMIC_FTRACE_NO_PATCHABLE=n
CONFIG_HAVE_ARCH_KGDB=n
CONFIG_SCSI_COMMON=n
CONFIG_XFRM_USER=n
CONFIG_NET_EMATCH=n
CONFIG_WLAN_VENDOR_MICROCHIP=n
CONFIG_NETWORK_SECMARK=n
CONFIG_INPUT_TOUCHSCREEN=n
CONFIG_CFG80211_REQUIRE_SIGNED_REGDB=n
CONFIG_ACPI_CPPC_LIB=n
CONFIG_CRYPTO_HASH=n
CONFIG_X86_CHECK_BIOS_CORRUPTION=n
CONFIG_SND_VERBOSE_PROCFS=n
CONFIG_MODULES_TREE_LOOKUP=n
CONFIG_HAS_DMA=n
CONFIG_APERTURE_HELPERS=n
CONFIG_ACPI_SLEEP=n
CONFIG_MITIGATION_TAA=n
CONFIG_HUGETLB_PMD_PAGE_TABLE_SHARING=n
CONFIG_NET_VENDOR_MELLANOX=n
CONFIG_EXT4_FS_POSIX_ACL=n
CONFIG_I2C_HID=n
CONFIG_CHR_DEV_SG=n
CONFIG_HAS_IOPORT=n
CONFIG_IP_MROUTE=n
CONFIG_CGROUP_NET_PRIO=n
CONFIG_VIRTIO_PCI=n
CONFIG_GENERIC_IRQ_ENTRY=n
CONFIG_ARCH_HAS_DEBUG_VIRTUAL=n
CONFIG_NET_SELFTESTS=n
CONFIG_STRICT_DEVMEM=n
CONFIG_USB_XHCI_PCI=n
CONFIG_NET_VENDOR_STMICRO=n
CONFIG_TASKSTATS=n
CONFIG_HAVE_ARCH_SECCOMP_FILTER=n
CONFIG_STACKPROTECTOR=n
CONFIG_NET_VENDOR_NETRONOME=n
CONFIG_HPET_TIMER=n
CONFIG_X86=n
CONFIG_VIRTIO_CONSOLE=n
CONFIG_X86_DISABLED_FEATURE_SEV_SNP=n
CONFIG_DEFAULT_CUBIC=n
CONFIG_ACPI_I2C_OPREGION=n
CONFIG_DEBUG_KERNEL=n
CONFIG_SCSI_CONSTANTS=n
CONFIG_SCHED_MC=n
CONFIG_MD_AUTODETECT=n
CONFIG_X86_CMOV=n
CONFIG_HPET=n
CONFIG_NOP_TRACER=n
CONFIG_PATA_OLDPIIX=n
CONFIG_CDROM=n
CONFIG_X86_MCE=n
CONFIG_HAVE_DEBUG_KMEMLEAK=n
CONFIG_HID_SUNPLUS=n
CONFIG_MODIFY_LDT_SYSCALL=n
CONFIG_NET_VENDOR_CORTINA=n
CONFIG_SKB_EXTENSIONS=n
CONFIG_PATA_TIMINGS=n
CONFIG_XARRAY_MULTI=n
CONFIG_SECURITY_SELINUX_BOOTPARAM=n
CONFIG_PAGE_SIZE_4KB=n
CONFIG_UNIX=n
CONFIG_WLAN_VENDOR_PURELIFI=n
CONFIG_ARCH_SUPPORTS_SCHED_CLUSTER=n
CONFIG_WLAN_VENDOR_INTERSIL=n
CONFIG_EFI_PARTITION=n
CONFIG_DRM_PANEL_ORIENTATION_QUIRKS=n
CONFIG_INTEGRITY=n
CONFIG_CC_HAS_AUTO_VAR_INIT_PATTERN=n
CONFIG_YENTA_RICOH=n
CONFIG_FW_CACHE=n
CONFIG_INPUT_MISC=n
CONFIG_GCC_ASM_GOTO_OUTPUT_BROKEN=n
CONFIG_HAVE_FUTEX_ROBUST_UNLOCK=n
CONFIG_CONSOLE_TRANSLATIONS=n
CONFIG_REALTEK_PHY=n
CONFIG_NET_VENDOR_ROCKER=n
CONFIG_AUTOFS_FS=n
CONFIG_CPU_FREQ_GOV_ONDEMAND=n
CONFIG_X86_MSR=n
CONFIG_LZ4_COMPRESS=n
CONFIG_MODULE_FORCE_UNLOAD=n
CONFIG_MAGIC_SYSRQ_SERIAL=n
CONFIG_WLAN_VENDOR_ATH=n
CONFIG_IRQ_DOMAIN=n
CONFIG_VM_EVENT_COUNTERS=n
CONFIG_KEYS=n
CONFIG_SECTION_MISMATCH_WARN_ONLY=n
CONFIG_ARCH_MIGHT_HAVE_PC_PARPORT=n
CONFIG_INTERVAL_TREE=n
CONFIG_HAVE_FUNCTION_TRACER=n
CONFIG_SLUB_DEBUG=n
CONFIG_CPU_FREQ_GOV_ATTR_SET=n
CONFIG_CRYPTO_CCM=n
CONFIG_MULTIUSER=n
CONFIG_CGROUP_RDMA=n
CONFIG_ARCH_SUPPORTS_HUGETLBFS=n
CONFIG_BLK_DEV_IO_TRACE=n
CONFIG_DIMLIB=n
CONFIG_OID_REGISTRY=n
CONFIG_PNFS_FLEXFILE_LAYOUT=n
CONFIG_NF_NAT_MASQUERADE=n
CONFIG_GENERIC_BUG_RELATIVE_POINTERS=n
CONFIG_ACPI_HOTPLUG_IOAPIC=n
CONFIG_PCI_ATS=n
CONFIG_GRACE_PERIOD=n
CONFIG_ZLIB_DEFLATE=n
CONFIG_DRM_DISPLAY_DP_HELPER=n
CONFIG_NET_POLL_CONTROLLER=n
CONFIG_PTP_1588_CLOCK=n
CONFIG_CRYPTO_HMAC=n
CONFIG_PROVIDE_OHCI1394_DMA_INIT=n
CONFIG_HRTIMER_REARM_DEFERRED=n
CONFIG_PROC_PAGE_MONITOR=n
CONFIG_GENERIC_IRQ_MATRIX_ALLOCATOR=n
CONFIG_PANTHERLORD_FF=n
CONFIG_X86_REQUIRED_FEATURE_CX8=n
CONFIG_UID16=n
CONFIG_64BIT=n
CONFIG_ACPI_PLATFORM_PROFILE=n
CONFIG_SERIAL_8250=n
CONFIG_KEXEC=n
CONFIG_MSDOS_FS=n
CONFIG_ARCH_CLOCKSOURCE_INIT=n
CONFIG_NET_VENDOR_NATSEMI=n
CONFIG_WLAN_VENDOR_RALINK=n
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST=n
CONFIG_HAVE_EBPF_JIT=n
CONFIG_X86_BUS_LOCK_DETECT=n
CONFIG_DMA_OPS_HELPERS=n
CONFIG_HID_PID=n
CONFIG_SND_USB=n
CONFIG_CRYPTO_GCM=n
CONFIG_SND_PCMCIA=n
CONFIG_FS_IOMAP=n
CONFIG_TASK_DELAY_ACCT=n
CONFIG_DRM_DISPLAY_HDMI_HELPER=n
CONFIG_CRYPTO_ECB=n
CONFIG_KRETPROBE_ON_RETHOOK=n
CONFIG_HAVE_ARCH_KCSAN=n
CONFIG_NUMA=n
CONFIG_LD_IS_BFD=n
CONFIG_POWER_SUPPLY=n
CONFIG_EFI_RUNTIME_MAP=n
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_DIRECT_CALLS=n
CONFIG_WLAN_VENDOR_TI=n
CONFIG_NET_VENDOR_CISCO=n
CONFIG_USB_DEFAULT_PERSIST=n
CONFIG_ACPI_AC=n
CONFIG_E1000=n
CONFIG_DEBUG_ENTRY=n
CONFIG_NET_VENDOR_NI=n
CONFIG_ARCH_SUPPORTS_PER_VMA_LOCK=n
CONFIG_RATIONAL=n
CONFIG_GENERIC_MSI_IRQ=n
CONFIG_X86_X2APIC=n
CONFIG_HID_TOPSEED=n
CONFIG_THERMAL_HWMON=n
CONFIG_RELOCATABLE=n
CONFIG_NET_RX_BUSY_POLL=n
CONFIG_VIRTIO_DMA_SHARED_BUFFER=n
CONFIG_CPU_SUP_ZHAOXIN=n
CONFIG_HAVE_ARCH_PREL32_RELOCATIONS=n
CONFIG_PNFS_BLOCK=n
CONFIG_HAVE_KERNEL_XZ=n
CONFIG_NET_HANDSHAKE=n
CONFIG_NFS_FS=n
CONFIG_INPUT_LEDS=n
CONFIG_BLOCK=n
CONFIG_IPV6_NDISC_NODETYPE=n
CONFIG_CRYPTO_RSA=n
CONFIG_HAVE_PERF_EVENTS_NMI=n
CONFIG_PHYLIB=n
CONFIG_HAVE_ARCH_GET_SECUREBOOT=n
CONFIG_ARCH_HAS_GCOV_PROFILE_ALL=n
CONFIG_CPU_RMAP=n
CONFIG_HID_GYRATION=n
CONFIG_CONTEXT_TRACKING_IDLE=n
CONFIG_PM_SLEEP_DEBUG=n
CONFIG_SYSCTL_EXCEPTION_TRACE=n
CONFIG_YENTA=n
CONFIG_ARCH_HAS_SET_MEMORY=n
CONFIG_NETFILTER_EGRESS=n
CONFIG_ARCH_HAS_NON_OVERLAPPING_ADDRESS_SPACE=n
CONFIG_ARCH_USE_MEMREMAP_PROT=n
CONFIG_YENTA_TI=n
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE=n
CONFIG_TMPFS_XATTR=n
CONFIG_HAVE_ARCH_JUMP_LABEL_RELATIVE=n
CONFIG_ARCH_HAS_HW_PTE_YOUNG=n
CONFIG_ACPI_PROCESSOR_IDLE=n
CONFIG_NETFILTER_XT_MATCH_POLICY=n
CONFIG_CC_HAS_NAMED_AS_FIXED_SANITIZERS=n
CONFIG_HAVE_CONTEXT_TRACKING_USER=n
CONFIG_HAVE_UACCESS_VALIDATION=n
CONFIG_QUOTA_TREE=n
CONFIG_ARCH_ENABLE_SPLIT_PMD_PTLOCK=n
CONFIG_ARCH_SUPPORTS_RT=n
CONFIG_TIME_NS_VDSO=n
CONFIG_CC_HAS_ENTRY_PADDING=n
CONFIG_UPROBE_EVENTS=n
CONFIG_PAGE_POOL=n
CONFIG_EVENTFD=n
CONFIG_RTC_INTF_DEV=n
CONFIG_DST_CACHE=n
CONFIG_ARCH_SUPPORTS_SCHED_MC=n
CONFIG_PTDUMP=n
CONFIG_CGROUP_PIDS=n
CONFIG_8139TOO=n
CONFIG_HAVE_KERNEL_BZIP2=n
CONFIG_TICK_CPU_ACCOUNTING=n
CONFIG_NVRAM=n
CONFIG_XZ_DEC_RISCV=n
CONFIG_NET_VENDOR_3COM=n
CONFIG_MITIGATION_MMIO_STALE_DATA=n
CONFIG_PCI_MMCONFIG=n
CONFIG_ACPI_EC=n
CONFIG_PATA_SCH=n
