CONFIG_USB_NET_RNDIS_HOST=y
CONFIG_INFTL=y
CONFIG_RESET_GPIO=y
CONFIG_CROS_EC_SENSORHUB=y
CONFIG_GOLDFISH=y
CONFIG_W1_SLAVE_THERM=y
CONFIG_ARCH_DEFAULT_CRASH_DUMP=y
CONFIG_ARCH_HAS_CPU_FINALIZE_INIT=y
CONFIG_FONT_SUPPORT=y
CONFIG_MTD_CFI_I2=y
CONFIG_CHROME_PLATFORMS=y
CONFIG_EEPROM_93CX6=y
CONFIG_CRYPTO_USER=y
CONFIG_NLS_ISO8859_5=y
CONFIG_STACKTRACE=y
CONFIG_WLAN_VENDOR_ADMTEK=y
CONFIG_VHOST_SCSI=y
CONFIG_SCSI=y
CONFIG_POSIX_MQUEUE=y
CONFIG_CROS_USBPD_NOTIFY=y
CONFIG_MMU_LAZY_TLB_REFCOUNT=y
CONFIG_CC_NO_ARRAY_BOUNDS=y
CONFIG_USB_SERIAL_CP210X=y
CONFIG_TOUCHSCREEN_ST1232=y
CONFIG_USB_SERIAL_WWAN=y
CONFIG_HAVE_EBPF_JIT=y
CONFIG_MTD_UBI_GLUEBI=y
CONFIG_MITIGATION_SPECTRE_BHI=y
CONFIG_QCOM_PBS=y
CONFIG_CRYPTO_USER_API_HASH=y
CONFIG_BITREVERSE=y
CONFIG_HAVE_KERNEL_XZ=y
CONFIG_REGULATOR_AXP20X=y
CONFIG_BATTERY_CHARGER_SURFACE_RT=y
CONFIG_PAGE_SIZE_LESS_THAN_64KB=y
CONFIG_TASKS_RUDE_RCU=y
CONFIG_X86_DISABLED_FEATURE_LASS=y
CONFIG_BATTERY_DA9030=y
CONFIG_SENSORS_ABITUGURU=y
CONFIG_I2C_ATR=y
CONFIG_WATCHDOG_PRETIMEOUT_GOV_PANIC=y
CONFIG_SENSORS_LTC4245=y
CONFIG_X86_E_POWERSAVER=y
CONFIG_CC_HAS_NAMED_AS_FIXED_SANITIZERS=y
CONFIG_ARCH_HAS_SYNC_CORE_BEFORE_USERMODE=y
CONFIG_HSI=y
CONFIG_SENSORS_MAX6650=y
CONFIG_BT=y
CONFIG_TI_FPC202=y
CONFIG_I2C_VIRTIO=y
CONFIG_REMOTE_TARGET=y
CONFIG_COMEDI_DAS08=y
CONFIG_CRYPTO_USER_API=y
CONFIG_REGULATOR_LTC3589=y
CONFIG_CHARGER_RT9471=y
CONFIG_HAVE_ACPI_APEI_NMI=y
CONFIG_CGROUP_NET_PRIO=y
CONFIG_NET_XGRESS=y
CONFIG_HWMON_VID=y
CONFIG_INPUT_AXP20X_PEK=y
CONFIG_KERNFS=y
CONFIG_INTEL_XWAY_PHY=y
CONFIG_MFD_SM501=y
CONFIG_CPU_FREQ_GOV_ONDEMAND=y
CONFIG_MFD_CS40L50_CORE=y
CONFIG_GPIB_NI_PCI_ISA=y
CONFIG_CRYPTO_ECHAINIV=y
CONFIG_PAGE_COUNTER=y
CONFIG_SERIAL_TIMBERDALE=y
CONFIG_JFS_SECURITY=y
CONFIG_SOC_TI=y
CONFIG_SPI_OFFLOAD=y
CONFIG_REGULATOR_FIXED_VOLTAGE=y
CONFIG_NLS_CODEPAGE_861=y
CONFIG_X86_DISABLED_FEATURE_CALL_DEPTH=y
CONFIG_ISL29003=y
CONFIG_AMD_PHY=y
CONFIG_MCB=y
CONFIG_WILCO_EC=y
CONFIG_LEDS_RT8515=y
CONFIG_XILINX_VCU=y
CONFIG_EDAC_SUPPORT=y
CONFIG_CC_HAS_ASM_INLINE=y
CONFIG_X86_F00F_BUG=y
CONFIG_REGULATOR_RTMV20=y
CONFIG_TOUCHSCREEN_MAX11801=y
CONFIG_STRICT_KERNEL_RWX=y
CONFIG_MMC_BLOCK=y
CONFIG_LEDS_APU=y
CONFIG_JFS_STATISTICS=y
CONFIG_PMIC_DA903X=y
CONFIG_SENSORS_ADM1177=y
CONFIG_GPIO_KEMPLD=y
CONFIG_CRYPTO_LRW=y
CONFIG_TOUCHSCREEN_WACOM_W8001=y
CONFIG_LEDS_DA9052=y
CONFIG_GPIO_WS16C48=y
CONFIG_USB_ROLE_SWITCH=y
CONFIG_CROS_EC_TYPEC=y
CONFIG_N_GSM=y
CONFIG_NET=y
CONFIG_CRC_OPTIMIZATIONS=y
CONFIG_STM_SOURCE_CONSOLE=y
CONFIG_SCSI_QLOGIC_FAS=y
CONFIG_I2C_KEMPLD=y
CONFIG_GENERIC_CPU_DEVICES=y
CONFIG_USB_NET_PLUSB=y
CONFIG_MEMCG=y
CONFIG_CHARLCD=y
CONFIG_PAGE_OWNER=y
CONFIG_SENSORS_LM25066_REGULATOR=y
CONFIG_USB_SERIAL_CYPRESS_M8=y
CONFIG_CRC_T10DIF_ARCH=y
CONFIG_SENSORS_INTEL_M10_BMC_HWMON=y
CONFIG_MTD_CFI_GEOMETRY=y
CONFIG_TASKS_RCU_GENERIC=y
CONFIG_IO_URING_BPF=y
CONFIG_ZSMALLOC=y
CONFIG_REGULATOR_MC13892=y
CONFIG_W1_MASTER_AMD_AXI=y
CONFIG_SENSORS_IR38064=y
CONFIG_HAVE_CLK=y
CONFIG_CHARGER_BQ24735=y
CONFIG_COMMON_CLK=y
CONFIG_SENSORS_TMP401=y
CONFIG_SENSORS_ZL6100=y
CONFIG_ARCH_32BIT_OFF_T=y
CONFIG_GPIOLIB_LEGACY=y
CONFIG_SENSORS_LTC3815=y
CONFIG_MODULES_USE_ELF_REL=y
CONFIG_MFD_MAX77705=y
CONFIG_CRYPTO_MANAGER=y
CONFIG_PECI_CPU=y
CONFIG_VALIDATE_FS_PARSER=y
CONFIG_SMSC_PHY=y
CONFIG_MDIO_MVUSB=y
CONFIG_BOOT_CONFIG_FORCE=y
CONFIG_USB_SERIAL_CH341=y
CONFIG_RCU_STALL_COMMON=y
CONFIG_HIGH_RES_TIMERS=y
CONFIG_CRYPTO_XCTR=y
CONFIG_USB_SERIAL_CONSOLE=y
CONFIG_MTD_ONENAND_OTP=y
CONFIG_STACKPROTECTOR_STRONG=y
CONFIG_GPIO_CDEV_V1=y
CONFIG_HAVE_ARCH_WITHIN_STACK_FRAMES=y
CONFIG_SENSORS_BPA_RS600=y
CONFIG_PINCTRL_CS47L35=y
CONFIG_PANEL_CHANGE_MESSAGE=y
CONFIG_DEBUG_FORCE_WEAK_PER_CPU=y
CONFIG_HAVE_ARCH_RANDOMIZE_KSTACK_OFFSET=y
CONFIG_REGULATOR_LP8755=y
CONFIG_CRYPTO_SEED=y
CONFIG_NET_PTP_CLASSIFY=y
CONFIG_ACPI_CPU_FREQ_PSS=y
CONFIG_FW_LOADER_USER_HELPER=y
CONFIG_CLOCKSOURCE_WATCHDOG=y
CONFIG_EXECMEM=y
CONFIG_DCACHE_WORD_ACCESS=y
CONFIG_TOUCHSCREEN_AD7879_I2C=y
CONFIG_IRQ_FORCED_THREADING=y
CONFIG_HAVE_ARCH_KGDB=y
CONFIG_ARCH_HIBERNATION_POSSIBLE=y
CONFIG_RUSTC_HAS_UNNECESSARY_TRANSMUTES=y
CONFIG_USB_SERIAL_IUU=y
CONFIG_MICROCHIP_T1S_PHY=y
CONFIG_INPUT_IQS626A=y
CONFIG_SENSORS_TPS25990=y
CONFIG_GENERIC_SYSCALL=y
CONFIG_MFD_TPS65086=y
CONFIG_CRYPTO_LIB_SHA1=y
CONFIG_LOCKDEP_SUPPORT=y
CONFIG_SCREEN_INFO=y
CONFIG_COMMON_CLK_MAX9485=y
CONFIG_CHARGER_BQ25980=y
CONFIG_INITRAMFS_PRESERVE_MTIME=y
CONFIG_DMI=y
CONFIG_MTD_CFI_UTIL=y
CONFIG_F2FS_IOSTAT=y
CONFIG_INTEL_TH_DEBUG=y
CONFIG_USB_NET_DM9601=y
CONFIG_GPIO_ARIZONA=y
CONFIG_BT_HCIBCM203X=y
CONFIG_RENESAS_PHY=y
CONFIG_SCSI_AIC7XXX=y
CONFIG_XFS_ONLINE_SCRUB=y
CONFIG_I2C_SIMTEC=y
CONFIG_MITIGATION_GDS=y
CONFIG_HAS_IOPORT_MAP=y
CONFIG_USERIO=y
CONFIG_HZ_250=y
CONFIG_RPMSG_CTRL=y
CONFIG_FW_CS_DSP=y
CONFIG_SENSORS_DELTA_AHE50DC_FAN=y
CONFIG_LEDS_88PM860X=y
CONFIG_RUSTC_HAS_FILE_WITH_NUL=y
CONFIG_TCG_TIS_I2C=y
CONFIG_XILLYUSB=y
CONFIG_PINCTRL_ICELAKE=y
CONFIG_USB_SERIAL_GARMIN=y
CONFIG_X86_CHECK_BIOS_CORRUPTION=y
CONFIG_SYMBOLIC_ERRNAME=y
CONFIG_ARCH_SELECT_MEMORY_MODEL=y
CONFIG_TOUCHSCREEN_USB_E2I=y
CONFIG_HAVE_ARCH_GET_SECUREBOOT=y
CONFIG_REGULATOR_MC13XXX_CORE=y
CONFIG_SENSORS_MAX6620=y
CONFIG_MTD_NAND_ECC_MXIC=y
CONFIG_MFD_WM8997=y
CONFIG_ARCH_HAS_ZONE_DMA_SET=y
CONFIG_BT_HCIUART_INTEL=y
CONFIG_MTK_NET_PHYLIB=y
CONFIG_TCG_TIS_ST33ZP24_SPI=y
CONFIG_ARCH_HAS_MEM_ENCRYPT=y
CONFIG_CRYPTO_KPP=y
CONFIG_INPUT_IMS_PCU=y
CONFIG_X86_CPUID=y
CONFIG_REGULATOR_RT6245=y
CONFIG_HAS_DMA=y
CONFIG_NULL_TTY_DEFAULT_CONSOLE=y
CONFIG_ADIN_PHY=y
CONFIG_MFD_RT4831=y
CONFIG_PHYLINK=y
CONFIG_GENERIC_EARLY_IOREMAP=y
CONFIG_M586MMX=y
CONFIG_WATCHDOG_PRETIMEOUT_GOV_NOOP=y
CONFIG_CRYPTO_DH_RFC7919_GROUPS=y
CONFIG_NLS_MAC_GREEK=y
CONFIG_MFD_TPS65912_SPI=y
CONFIG_DMA_API_DEBUG=y
CONFIG_NET_DEVMEM=y
CONFIG_SERIAL_8250_CS=y
CONFIG_CHARGER_LTC4162L=y
CONFIG_PINMUX=y
CONFIG_REGULATOR_AD5398=y
CONFIG_PCMCIA=y
CONFIG_GPIO_PCF857X=y
CONFIG_PINCTRL_MCP23S08_I2C=y
CONFIG_REGULATOR_MC13783=y
CONFIG_WLAN_VENDOR_PURELIFI=y
CONFIG_LEGACY_PTYS=y
CONFIG_NETLINK_DIAG=y
CONFIG_HAVE_DYNAMIC_FTRACE_NO_PATCHABLE=y
CONFIG_SENSORS_ADCXX=y
CONFIG_IRQ_WORK=y
CONFIG_GPIO_USBIO=y
CONFIG_FRAMER=y
CONFIG_TRACE_IRQFLAGS_NMI_SUPPORT=y
CONFIG_X86_BOOTPARAM_MEMORY_CORRUPTION_CHECK=y
CONFIG_SLUB=y
CONFIG_CC_HAS_COUNTED_BY_PTR=y
CONFIG_TOUCHSCREEN_ROHM_BU21023=y
CONFIG_HAVE_ARCH_KFENCE=y
CONFIG_SERIAL_8250_SHARE_IRQ=y
CONFIG_INPUT_MAX7360_ROTARY=y
CONFIG_GPIO_MAX730X=y
CONFIG_PTP_1588_CLOCK_OPTIONAL=y
CONFIG_TOUCHSCREEN_AD7879_SPI=y
CONFIG_AS_IS_GNU=y
CONFIG_JUMP_LABEL=y
CONFIG_PAGE_SIZE_4KB=y
CONFIG_REMOTEPROC_CDEV=y
CONFIG_WLAN_VENDOR_RSI=y
CONFIG_MEMTEST=y
CONFIG_LOCALVERSION_AUTO=y
CONFIG_DEBUG_MAPLE_TREE=y
CONFIG_X86_POWERNOW_K7_ACPI=y
CONFIG_RANDSTRUCT_NONE=y
CONFIG_EFI_DISABLE_PCI_DMA=y
CONFIG_SENSORS_MAX127=y
CONFIG_CRC8=y
CONFIG_REGULATOR_MT6331=y
CONFIG_FS_IOMAP=y
CONFIG_COMEDI_DT2801=y
CONFIG_TOUCHSCREEN_IMAGIS=y
CONFIG_HARDIRQS_SW_RESEND=y
CONFIG_ACPI_SYSTEM_POWER_STATES_SUPPORT=y
CONFIG_ACPI_PROCESSOR=y
CONFIG_SENSORS_INSPUR_IPSPS=y
CONFIG_COMEDI_NI_ROUTING=y
CONFIG_SENSORS_TPS23861=y
CONFIG_MQ_IOSCHED_DEADLINE=y
CONFIG_USB_TEST=y
CONFIG_SENSORS_XDP710=y
CONFIG_USB_TMC=y
CONFIG_BACKLIGHT_ARCXCNN=y
CONFIG_USB_OHCI_HCD=y
CONFIG_ARCH_MAY_HAVE_PC_FDC=y
CONFIG_USB_SERIAL_METRO=y
CONFIG_CRYPTO_ECB=y
CONFIG_SERIAL_8250_MANY_PORTS=y
CONFIG_ARCH_SUPPORTS_RT=y
CONFIG_SLIP=y
CONFIG_TOUCHSCREEN_MTOUCH=y
CONFIG_CPA_DEBUG=y
CONFIG_ZSTD_COMMON=y
CONFIG_MMC_USHC=y
CONFIG_MICROCODE_INITRD32=y
CONFIG_REGULATOR_DEBUG=y
CONFIG_RD_LZMA=y
CONFIG_BUILTIN_MODULE_RANGES=y
CONFIG_CRYPTO_ZSTD=y
CONFIG_CRYPTO_LIB_GF128HASH=y
CONFIG_COMEDI_DAS16M1=y
CONFIG_MCTP_SERIAL=y
CONFIG_PINCTRL_INTEL=y
CONFIG_ARCH_HAS_SET_DIRECT_MAP=y
CONFIG_X86_INTEL_TSX_MODE_AUTO=y
CONFIG_SECURITYFS=y
CONFIG_NLS_MAC_ICELAND=y
CONFIG_TOUCHSCREEN_AD7879=y
CONFIG_SENSORS_ASC7621=y
CONFIG_MFD_RETU=y
CONFIG_LKDTM=y
CONFIG_GPIB_NEC7210=y
CONFIG_X86_REQUIRED_FEATURE_ALWAYS=y
CONFIG_ARCH_USE_BUILTIN_BSWAP=y
CONFIG_SERIO_LIBPS2=y
CONFIG_DIBS=y
CONFIG_X86_DISABLED_FEATURE_UMIP=y
CONFIG_TOOLS_SUPPORT_RELR=y
CONFIG_TOUCHSCREEN_GOODIX=y
CONFIG_VIRT_DRIVERS=y
CONFIG_PTDUMP=y
CONFIG_MTD_CFI_INTELEXT=y
CONFIG_RPMSG_WWAN_CTRL=y
CONFIG_ARCH_SUPPORTS_KEXEC_SIG_FORCE=y
CONFIG_UDF_FS=y
CONFIG_SERIAL_LANTIQ_CONSOLE=y
CONFIG_REGMAP_I3C=y
CONFIG_SERIAL_MEN_Z135=y
CONFIG_F71808E_WDT=y
CONFIG_WDT=y
CONFIG_VMSPLIT_1G=y
CONFIG_MFD_OCELOT=y
CONFIG_EDAC_ATOMIC_SCRUB=y
CONFIG_MFD_MAX7360=y
CONFIG_SPI_PXA2XX=y
CONFIG_ISA_BUS=y
CONFIG_SENSORS_INA2XX=y
CONFIG_GENERIC_IRQ_SHOW=y
CONFIG_CHARGER_RT9455=y
CONFIG_TIMERFD=y
CONFIG_F2FS_FS=y
CONFIG_IPMI_SSIF=y
CONFIG_COMEDI_DT2814=y
CONFIG_UCSI_STM32G0=y
CONFIG_ARCH_HAS_SYSCALL_WRAPPER=y
CONFIG_BATTERY_88PM860X=y
CONFIG_COMPAT_32BIT_TIME=y
CONFIG_I2C_XILINX=y
CONFIG_TOUCHSCREEN_CYTTSP_I2C=y
CONFIG_CHARGER_MAX77705=y
CONFIG_SYSFB=y
CONFIG_SENSORS_TMP102=y
CONFIG_TOUCHSCREEN_CHIPONE_ICN8505=y
CONFIG_SLIP_MODE_SLIP6=y
CONFIG_MPILIB=y
CONFIG_EXTCON_RT8973A=y
CONFIG_WW_MUTEX_SELFTEST=y
CONFIG_RAID6_PQ_BENCHMARK=y
CONFIG_ARCH_SUPPORTS_UPROBES=y
CONFIG_USB_NET_CDC_MBIM=y
CONFIG_EVENTFD=y
CONFIG_BCM_NET_PHYLIB=y
CONFIG_ARCH_CORRECT_STACKTRACE_ON_KRETPROBE=y
CONFIG_EFI_CAPSULE_QUIRK_QUARK_CSH=y
CONFIG_LEDS_REGULATOR=y
CONFIG_ARCH_MHP_MEMMAP_ON_MEMORY_ENABLE=y
CONFIG_X86_INTEL_USERCOPY=y
CONFIG_CRYPTO_GCM=y
CONFIG_GPIO_TWL4030=y
CONFIG_X86_CPUFREQ_NFORCE2=y
CONFIG_VIRTIO_DEBUG=y
CONFIG_BACKLIGHT_CGBC=y
CONFIG_WIRELESS=y
CONFIG_UDMABUF=y
CONFIG_USB_NET_CX82310_ETH=y
CONFIG_X86_ALIGNMENT_16=y
CONFIG_CHARGER_SBS=y
CONFIG_WILCO_EC_TELEMETRY=y
CONFIG_COMEDI_ISADMA=y
CONFIG_EXTCON_LC824206XA=y
CONFIG_POWER_SUPPLY_DEBUG=y
CONFIG_COMEDI_PCMMIO=y
CONFIG_USB_SERIAL_WISHBONE=y
CONFIG_BINFMT_ELF=y
CONFIG_PNP_DEBUG_MESSAGES=y
CONFIG_MTD_MAP_BANK_WIDTH_1=y
CONFIG_USB_SERIAL_BELKIN=y
CONFIG_TOUCHSCREEN_CY8CTMA140=y
CONFIG_USB_CDNS3=y
CONFIG_ARCH_HAS_STRICT_KERNEL_RWX=y
CONFIG_ZSWAP_DEFAULT_ON=y
CONFIG_ACPI_WATCHDOG=y
CONFIG_PINCTRL_DENVERTON=y
CONFIG_BT_HCIBTSDIO=y
CONFIG_BTRFS_ASSERT=y
CONFIG_CC_HAS_ASM_GOTO_TIED_OUTPUT=y
CONFIG_PTP_1588_CLOCK_IDTCM=y
CONFIG_SPI_XCOMM=y
CONFIG_MFD_AXP20X=y
CONFIG_MMU_GATHER_RCU_TABLE_FREE=y
CONFIG_USB_SERIAL_OTI6858=y
CONFIG_CRC7=y
CONFIG_CRYPTO_AEAD=y
CONFIG_TCM_FILEIO=y
CONFIG_HAVE_ARCH_TRACEHOOK=y
CONFIG_CLKEVT_I8253=y
CONFIG_GPIOLIB=y
CONFIG_SCSI_UFSHCD_PLATFORM=y
CONFIG_CRYPTO_AES=y
CONFIG_SENSORS_NCT7363=y
CONFIG_HAVE_KERNEL_BZIP2=y
CONFIG_SCSI_FDOMAIN_ISA=y
CONFIG_GPIO_TPS65086=y
CONFIG_EXT4_FS=y
CONFIG_REGULATOR_RT4801=y
CONFIG_ARCH_SUPPORTS_ATOMIC_RMW=y
CONFIG_HAVE_RETHOOK=y
CONFIG_ACPI_BATTERY=y
CONFIG_USB_XHCI_DBGCAP=y
CONFIG_BACKLIGHT_MAX25014=y
CONFIG_NEED_PER_CPU_EMBED_FIRST_CHUNK=y
CONFIG_TCM_FC=y
CONFIG_UNWINDER_FRAME_POINTER=y
CONFIG_X86_DISABLED_FEATURE_XENPV=y
CONFIG_USB_SERIAL_SPCP8X5=y
CONFIG_HAVE_HW_BREAKPOINT=y
CONFIG_CC_HAS_WORKING_NOSANITIZE_ADDRESS=y
CONFIG_GPIB=y
CONFIG_INTEL_TH_GTH=y
CONFIG_CRYPTO_SERPENT=y
CONFIG_USB_SL811_HCD=y
CONFIG_MCTP_TRANSPORT_I2C=y
CONFIG_HAVE_REGS_AND_STACK_ACCESS_API=y
CONFIG_MMC_SDHCI_F_SDH30=y
CONFIG_WATCHDOG_PRETIMEOUT_DEFAULT_GOV_NOOP=y
CONFIG_STM_PROTO_BASIC=y
CONFIG_TOUCHSCREEN_USB_ETURBO=y
CONFIG_CORDIC=y
CONFIG_SERIAL_SCCNXP_CONSOLE=y
CONFIG_MFD_CS40L50_SPI=y
CONFIG_PPS_DEBUG=y
CONFIG_REGULATOR_DA9052=y
CONFIG_PINCTRL_GEMINILAKE=y
CONFIG_NVMEM=y
CONFIG_COMEDI_DAS6402=y
CONFIG_KALLSYMS=y
CONFIG_HAVE_DEBUG_STACKOVERFLOW=y
CONFIG_FHANDLE=y
CONFIG_TOUCHSCREEN_IQS7211=y
CONFIG_CRYPTO_LIB_SHA256=y
CONFIG_I2C_ALGOPCA=y
CONFIG_XFS_MEMORY_BUFS=y
CONFIG_LEDS_BD2802=y
CONFIG_REGULATOR_RT8092=y
CONFIG_SHRINKER_DEBUG=y
CONFIG_W83977F_WDT=y
CONFIG_SPI_MEM=y
CONFIG_VIRTIO_ANCHOR=y
CONFIG_MFD_DA9052_I2C=y
CONFIG_ARCH_HAS_HW_PTE_YOUNG=y
CONFIG_CHTCRC_PMIC_OPREGION=y
CONFIG_RD_BZIP2=y
CONFIG_SENSORS_TPS53679=y
CONFIG_SENSORS_ADM1275=y
CONFIG_LEDS_AS3645A=y
CONFIG_EXTCON_PALMAS=y
CONFIG_INPUT_CM109=y
CONFIG_USB_MON=y
CONFIG_ARCH_HAS_DEBUG_VIRTUAL=y
CONFIG_SENSORS_LTC4151=y
CONFIG_SMPRO_MISC=y
CONFIG_SPI_MICROCHIP_CORE_QSPI=y
CONFIG_ENERGY_MODEL=y
CONFIG_NLS_ISO8859_7=y
CONFIG_INPUT_EVDEV=y
CONFIG_X86_TSC=y
CONFIG_ATA_SFF=y
CONFIG_SENSORS_TC74=y
CONFIG_MCTP_TRANSPORT_USB=y
CONFIG_AX88796B_PHY=y
CONFIG_LEDS_EXPRESSWIRE=y
CONFIG_MTD_REDBOOT_PARTS=y
CONFIG_FW_LOADER_PAGED_BUF=y
CONFIG_CHARGER_CROS_CONTROL=y
CONFIG_PPS_GENERATOR_TIO=y
CONFIG_MFD_RT5120=y
CONFIG_LEDS_MT6323=y
CONFIG_SENSORS_GL518SM=y
CONFIG_PCS_XPCS=y
CONFIG_XZ_DEC=y
CONFIG_SENSORS_LM73=y
CONFIG_PARPORT=y
CONFIG_COMEDI_USBDUX=y
CONFIG_ACPI=y
CONFIG_SPI_INTEL_PLATFORM=y
CONFIG_INPUT_MAX8925_ONKEY=y
CONFIG_CHECK_SIGNATURE=y
