CONFIG_GPIO_ML_IOH=y
CONFIG_SENSORS_INA238=y
CONFIG_RTC_DRV_ISL12022=y
CONFIG_I2C_ISMT=y
CONFIG_HAVE_GENERIC_TIF_BITS=y
CONFIG_FPGA_DFL_EMIF=y
CONFIG_BINFMT_SCRIPT=y
CONFIG_NFC_TRF7970A=y
CONFIG_NET_SCH_RED=y
CONFIG_COMEDI_PCM3724=y
CONFIG_PKCS7_MESSAGE_PARSER=y
CONFIG_IIO_ST_SENSORS_SPI=y
CONFIG_ASSOCIATIVE_ARRAY=y
CONFIG_SPI_PCI1XXXX=y
CONFIG_AD5761=y
CONFIG_PAHOLE_HAS_LANG_EXCLUDE=y
CONFIG_DETECT_HUNG_TASK=y
CONFIG_CGROUP_MISC=y
CONFIG_ARCH_HAS_SYNC_CORE_BEFORE_USERMODE=y
CONFIG_BACKLIGHT_AW99706=y
CONFIG_TOUCHSCREEN_MC13783=y
CONFIG_MAX31865=y
CONFIG_X86_MCE_AMD=y
CONFIG_FPGA_MGR_ALTERA_PS_SPI=y
CONFIG_VIRT_CPU_ACCOUNTING_GEN=y
CONFIG_CHARGER_BQ256XX=y
CONFIG_LEDS_TCA6507=y
CONFIG_CRYPTO_KPP2=y
CONFIG_CRYPTO_DEV_QAT_C3XXXVF=y
CONFIG_XXHASH=y
CONFIG_REGULATOR_RTQ2134=y
CONFIG_QCOM_PMIC_PDCHARGER_ULOG=y
CONFIG_FS_STACK=y
CONFIG_RCU_STALL_COMMON=y
CONFIG_CRYPTO_DEV_NITROX=y
CONFIG_FB_PM3=y
CONFIG_ARCH_USE_MEMTEST=y
CONFIG_I2C_VIAPRO=y
CONFIG_NET_SCH_TEQL=y
CONFIG_X86_CHECK_BIOS_CORRUPTION=y
CONFIG_SENSORS_VT8231=y
CONFIG_EDAC_ECS=y
CONFIG_AGP=y
CONFIG_REGULATOR_SLG51000=y
CONFIG_FB_SYS_COPYAREA=y
CONFIG_EXTCON=y
CONFIG_CRYPTO_ARIA_AESNI_AVX_X86_64=y
CONFIG_MC3230=y
CONFIG_TOUCHSCREEN_TSC_SERIO=y
CONFIG_SENSORS_MP2856=y
CONFIG_PARPORT_PC_FIFO=y
CONFIG_ARCH_SUPPORTS_KEXEC_FILE=y
CONFIG_VSOCKETS_LOOPBACK=y
CONFIG_JFFS2_FS_XATTR=y
CONFIG_SSB_PCIHOST=y
CONFIG_COMPAT_BRK=y
CONFIG_ARCH_HAS_ELFCORE_COMPAT=y
CONFIG_PARPORT_PC=y
CONFIG_RTC_DRV_DS1305=y
CONFIG_ASYNC_TX_DMA=y
CONFIG_PINCTRL_SX150X=y
CONFIG_LOCK_STAT=y
CONFIG_CRYPTO_LIB_GF128HASH_ARCH=y
CONFIG_CC_HAS_ASSUME=y
CONFIG_D3323AA=y
CONFIG_EXTCON_MAX8997=y
CONFIG_XZ_DEC_ARM64=y
CONFIG_FB_VT8623=y
CONFIG_COMEDI_DAS08=y
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST_IDLE=y
CONFIG_REGULATOR_MT6397=y
CONFIG_MFD_BD9571MWV=y
CONFIG_REGULATOR_RC5T583=y
CONFIG_IIO_ST_MAGN_3AXIS=y
CONFIG_BCMA=y
CONFIG_SENSORS_MAX16065=y
CONFIG_SECURITY_APPARMOR_DEBUG=y
CONFIG_ARCH_HAS_PREEMPT_LAZY=y
CONFIG_I2C_PARPORT=y
CONFIG_BASE_SMALL=y
CONFIG_CRC_ITU_T=y
CONFIG_SENSORS_XDPE1A2G7B=y
CONFIG_RBTREE_TEST=y
CONFIG_MFD_WM8998=y
CONFIG_RTC_DRV_RX8581=y
CONFIG_VIRTIO_VSOCKETS_COMMON=y
CONFIG_ARCH_MHP_MEMMAP_ON_MEMORY_ENABLE=y
CONFIG_SECURITY_TOMOYO=y
CONFIG_STM=y
CONFIG_CRYPTO_DEV_PADLOCK=y
CONFIG_PTP_1588_CLOCK_IDT82P33=y
CONFIG_X86_HV_CALLBACK_VECTOR=y
CONFIG_TOUCHSCREEN_TOUCHRIGHT=y
CONFIG_LEDS_CLASS_MULTICOLOR=y
CONFIG_PINCTRL_MCP23S08_SPI=y
CONFIG_MFD_MADERA_I2C=y
CONFIG_CGROUP_NET_PRIO=y
CONFIG_SENSORS_EMC2103=y
CONFIG_FB_BOTH_ENDIAN=y
CONFIG_BATTERY_UG3105=y
CONFIG_GPIO_GRANITERAPIDS=y
CONFIG_SENSORS_SHTC1=y
CONFIG_SIGNATURE=y
CONFIG_STM_SOURCE_HEARTBEAT=y
CONFIG_DEBUG_OBJECTS_RCU_HEAD=y
CONFIG_SI1133=y
CONFIG_SHRINKER_DEBUG=y
CONFIG_DEBUG_NET=y
CONFIG_REGULATOR_PCA9450=y
CONFIG_CRYPTO_DEV_VIRTIO=y
CONFIG_SENSORS_ABITUGURU3=y
CONFIG_TOUCHSCREEN_TSC2007=y
CONFIG_EVENT_TRACING=y
CONFIG_SENSORS_PXE1610=y
CONFIG_BCM_VK=y
CONFIG_GPIO_F7188X=y
CONFIG_MCB=y
CONFIG_UNWIND_USER=y
CONFIG_COMMON_CLK=y
CONFIG_CRYPTO_DEV_AMLOGIC_GXL=y
CONFIG_IIO_ST_LSM6DSX=y
CONFIG_ARCH_HAS_DEVMEM_IS_ALLOWED=y
CONFIG_HOTPLUG_CORE_SYNC_DEAD=y
CONFIG_HAVE_ARCH_RANDOMIZE_KSTACK_OFFSET=y
CONFIG_PCI_LOCKLESS_CONFIG=y
CONFIG_LTC2983=y
CONFIG_STM_PROTO_BASIC=y
CONFIG_CRYPTO_CHACHA20POLY1305=y
CONFIG_BATTERY_DS2782=y
CONFIG_DEBUG_LIST=y
CONFIG_IR_MCE_KBD_DECODER=y
CONFIG_SENSORS_TPS25990=y
CONFIG_CROS_EC_DEBUGFS=y
CONFIG_NET_CLS_MATCHALL=y
CONFIG_GPIO_QIXIS_FPGA=y
CONFIG_SLAB_MERGE_DEFAULT=y
CONFIG_HRTIMER_REARM_DEFERRED=y
CONFIG_ADXL367_I2C=y
CONFIG_SCHED_SMT=y
CONFIG_NET_ACT_SAMPLE=y
CONFIG_HAVE_ARCH_MMAP_RND_BITS=y
CONFIG_RMI4_2D_SENSOR=y
CONFIG_FXLS8962AF_I2C=y
CONFIG_HAVE_STATIC_CALL_INLINE=y
CONFIG_LINEAR_RANGES=y
CONFIG_XZ_DEC=y
CONFIG_ARCH_HAS_DEBUG_VM_PGTABLE=y
CONFIG_ENS160=y
CONFIG_KEYS_REQUEST_CACHE=y
CONFIG_CRYPTO_SERPENT_AVX2_X86_64=y
CONFIG_CRYPTO_LIB_AES_CBC_MACS=y
CONFIG_COMEDI_DAS08_CS=y
CONFIG_MTD_NAND_CORE=y
CONFIG_RMI4_CORE=y
CONFIG_IIO_ADIS_LIB_BUFFER=y
CONFIG_VL6180=y
CONFIG_CHARGER_BQ24735=y
CONFIG_FW_CFG_SYSFS=y
CONFIG_I3C_OR_I2C=y
CONFIG_HAVE_FENTRY=y
CONFIG_STRICT_DEVMEM=y
CONFIG_INPUT_TABLET=y
CONFIG_SENSORS_HTU31=y
CONFIG_TOUCHSCREEN_ATMEL_MXT=y
CONFIG_KVM_ASYNC_PF=y
CONFIG_X86_DISABLED_FEATURE_VME=y
CONFIG_ZSTD_COMMON=y
CONFIG_TI_DAC7612=y
CONFIG_DEBUG_DEVRES=y
CONFIG_PROC_PID_ARCH_STATUS=y
CONFIG_EVM_ATTR_FSUUID=y
CONFIG_INPUT_APANEL=y
CONFIG_CRYPTO_DH=y
CONFIG_ARCH_SUPPORTS_KEXEC_SIG=y
CONFIG_BUG_ON_DATA_CORRUPTION=y
CONFIG_GPIOLIB=y
CONFIG_X86_INTEL_TSX_MODE_OFF=y
CONFIG_NEED_SRCU_NMI_SAFE=y
CONFIG_BATTERY_GAUGE_LTC2941=y
CONFIG_NLS_MAC_CENTEURO=y
CONFIG_PROC_VMCORE_DEVICE_DUMP=y
CONFIG_GPIO_SIM=y
CONFIG_RT_MUTEXES=y
CONFIG_X86_DISABLED_FEATURE_K6_MTRR=y
CONFIG_SENSORS_VIA_CPUTEMP=y
CONFIG_RTC_DRV_FM3130=y
CONFIG_CRYPTO_USER_API_RNG_CAVP=y
CONFIG_HAVE_IOREMAP_PROT=y
CONFIG_AMD_AE4DMA=y
CONFIG_DW_XDATA_PCIE=y
CONFIG_HAVE_ARCH_TRACEHOOK=y
CONFIG_IP5XXX_POWER=y
CONFIG_HAVE_CMPXCHG_LOCAL=y
CONFIG_SI1145=y
CONFIG_TOUCHSCREEN_S6SY761=y
CONFIG_TOUCHSCREEN_ZINITIX=y
CONFIG_I2C_PCA_PLATFORM=y
CONFIG_SPI_XCOMM=y
CONFIG_GPIO_CDEV=y
CONFIG_REGULATOR_BCM590XX=y
CONFIG_FS_VERITY=y
CONFIG_ADMV1014=y
CONFIG_BMI160=y
CONFIG_BMC150_MAGN_I2C=y
CONFIG_ARCH_WANTS_CLOCKSOURCE_READ_INLINE=y
CONFIG_RD_XZ=y
CONFIG_SYSTEM_DATA_VERIFICATION=y
CONFIG_RD_LZ4=y
CONFIG_HEADERS_INSTALL=y
CONFIG_EDAC_I5400=y
CONFIG_CRYPTO_MD4=y
CONFIG_RMI4_F55=y
CONFIG_VDSO_GETRANDOM=y
CONFIG_CC_HAS_ENTRY_PADDING=y
CONFIG_GPIO_IDIO_16=y
CONFIG_IA32_FEAT_CTL=y
CONFIG_GPIO_SCH311X=y
CONFIG_I2C_EMEV2=y
CONFIG_SENSORS_PC87427=y
CONFIG_NET_SCH_CHOKE=y
CONFIG_MFD_LP3943=y
CONFIG_MAX5432=y
CONFIG_X86_MPPARSE=y
CONFIG_HAVE_CLK=y
CONFIG_CRC32=y
CONFIG_CRYPTO_CRYPTD=y
CONFIG_ROMFS_ON_MTD=y
CONFIG_I2C_I801=y
CONFIG_IIO_ST_LSM6DSX_SPI=y
CONFIG_IIO_SYSFS_TRIGGER=y
CONFIG_SPI_MXIC=y
CONFIG_COMEDI_DMM32AT=y
CONFIG_SENSORS_MPQ7932_REGULATOR=y
CONFIG_DEVFREQ_GOV_PERFORMANCE=y
CONFIG_TOUCHSCREEN_COLIBRI_VF50=y
CONFIG_AUDITSYSCALL=y
CONFIG_X86_DISABLED_FEATURE_TDX_GUEST=y
CONFIG_ISL76682=y
CONFIG_MICROCODE_LATE_LOADING=y
CONFIG_COMEDI_BOND=y
CONFIG_SIGNED_PE_FILE_VERIFICATION=y
CONFIG_HWSPINLOCK=y
CONFIG_IIO_CROS_EC_ACTIVITY=y
CONFIG_X86_MCE=y
CONFIG_GPIO_MAX732X_IRQ=y
CONFIG_NLS_CODEPAGE_850=y
CONFIG_ASYMMETRIC_PUBLIC_KEY_SUBTYPE=y
CONFIG_CRYPTO_RMD160=y
CONFIG_CPU_FREQ_STAT=y
CONFIG_YENTA_TOSHIBA=y
CONFIG_SAMPLE_VFIO_MDEV_MDPY_FB=y
CONFIG_SPI_VIRTIO=y
CONFIG_RPMSG_CHAR=y
CONFIG_ECRYPT_FS_MESSAGING=y
CONFIG_SENSORS_MP2869=y
CONFIG_REGULATOR_MAX8660=y
CONFIG_TIFM_CORE=y
CONFIG_INTEL_IDXD_BUS=y
CONFIG_X25=y
CONFIG_BUILDTIME_TABLE_SORT=y
CONFIG_IIO_BUFFER=y
CONFIG_AXP20X_ADC=y
CONFIG_INTERVAL_TREE_SPAN_ITER=y
CONFIG_DEBUG_OBJECTS=y
CONFIG_LCD2S=y
CONFIG_RTC_CLASS=y
CONFIG_ALTERA_STAPL=y
CONFIG_REGULATOR_RTQ6752=y
CONFIG_HAVE_ARCH_KSTACK_ERASE=y
CONFIG_VMWARE_VMCI_VSOCKETS=y
CONFIG_SMPRO_ERRMON=y
CONFIG_NET_SCH_FQ_CODEL=y
CONFIG_SCF_TORTURE_TEST=y
CONFIG_GPIO_AGGREGATOR=y
CONFIG_IOMMU_SUPPORT=y
CONFIG_FW_DEVLINK_SYNC_STATE_TIMEOUT=y
CONFIG_ARCH_SPARSEMEM_ENABLE=y
CONFIG_TCS3414=y
CONFIG_IIO_SSP_SENSORHUB=y
CONFIG_DMABUF_DEBUG=y
CONFIG_AD5380=y
CONFIG_US5182D=y
CONFIG_LEDS_88PM860X=y
CONFIG_AD3530R=y
CONFIG_HAVE_NMI=y
CONFIG_RUSTC_HAS_UNNECESSARY_TRANSMUTES=y
CONFIG_CLKBLD_I8253=y
CONFIG_LEDS_ADP5520=y
CONFIG_NLS_MAC_CELTIC=y
CONFIG_EXPORTFS_BLOCK_OPS=y
CONFIG_MTD_SLRAM=y
CONFIG_AK8974=y
CONFIG_GENERIC_ADC_BATTERY=y
CONFIG_AD7779=y
CONFIG_BMI088_ACCEL=y
CONFIG_PCI_ECAM=y
CONFIG_REGULATOR_PV88090=y
CONFIG_MITIGATION_SRBDS=y
CONFIG_EDAC_MEM_REPAIR=y
CONFIG_CRYPTO_DEV_PADLOCK_AES=y
CONFIG_STACKDEPOT=y
CONFIG_AD4000=y
CONFIG_BATTERY_GOLDFISH=y
CONFIG_LTC2485=y
CONFIG_ARCH_SUPPORTS_HUGE_PFNMAP=y
CONFIG_CRYPTO_ARC4=y
CONFIG_PAGE_MAPCOUNT=y
CONFIG_LOCKUP_DETECTOR=y
CONFIG_MTD_ONENAND_VERIFY_WRITE=y
CONFIG_CHARGER_LTC4162L=y
CONFIG_NO_HZ_COMMON=y
CONFIG_TI_ADS124S08=y
CONFIG_ARCH_HAS_NONLEAF_PMD_YOUNG=y
CONFIG_LOCK_DEBUGGING_SUPPORT=y
CONFIG_FB_S3_DDC=y
CONFIG_INTEL_LDMA=y
CONFIG_FB_DDC=y
CONFIG_HAVE_RUST=y
CONFIG_I2C=y
CONFIG_REGULATOR_QCOM_LABIBB=y
CONFIG_KVM_SW_PROTECTED_VM=y
CONFIG_SYSFS_SYSCALL=y
CONFIG_ARCH_WANT_OPTIMIZE_HUGETLB_VMEMMAP=y
CONFIG_NEED_DMA_MAP_STATE=y
CONFIG_PROC_KCORE=y
CONFIG_REGULATOR_LP872X=y
CONFIG_HIGH_RES_TIMERS=y
CONFIG_KVM_MMU_LOCKLESS_AGING=y
CONFIG_DECOMPRESS_ZSTD=y
CONFIG_ARCH_HAS_ZONE_DMA_SET=y
CONFIG_QCOM_SPMI_ADC5_GEN3=y
CONFIG_NVMEM=y
CONFIG_BMG160_I2C=y
CONFIG_TORTURE_TEST=y
CONFIG_MTD_ONENAND_GENERIC=y
CONFIG_PCI_ENDPOINT_TEST=y
CONFIG_REGULATOR_MT6363=y
CONFIG_CRYPTO_BENCHMARK=y
CONFIG_RTC_DRV_DS1286=y
CONFIG_NFC_ST_NCI_I2C=y
CONFIG_NLS_MAC_ROMANIAN=y
CONFIG_INPUT_PCSPKR=y
CONFIG_NET_CLS_BPF=y
CONFIG_MFD_MT6370=y
CONFIG_SENSORS_TMP513=y
CONFIG_RANDSTRUCT_NONE=y
CONFIG_PMBUS=y
CONFIG_SAMPLE_INTEL_MEI=y
CONFIG_HAVE_PERF_EVENTS_NMI=y
CONFIG_X86_UMIP=y
CONFIG_INPUT_AW86927=y
CONFIG_PCIEPORTBUS=y
CONFIG_HAVE_DEBUG_KMEMLEAK=y
CONFIG_NET_EGRESS=y
CONFIG_GPIO_PCI_IDIO_16=y
CONFIG_INTEL_TH=y
CONFIG_ZLIB_INFLATE=y
CONFIG_ADXL355_I2C=y
CONFIG_CRYPTO_AES=y
CONFIG_COMPAT_32BIT_TIME=y
CONFIG_CHARGER_BQ2415X=y
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE=y
CONFIG_BMI088_ACCEL_I2C=y
CONFIG_ADXL313_I2C=y
CONFIG_FB_ASILIANT=y
CONFIG_NET_SCH_ETS=y
CONFIG_SW_SYNC=y
CONFIG_ARCH_SUPPORTS_CFI=y
CONFIG_PRINTER=y
CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE=y
CONFIG_FB_CORE=y
CONFIG_CRYPTO_DEV_QAT_ERROR_INJECTION=y
CONFIG_ARCH_SUSPEND_POSSIBLE=y
CONFIG_DCACHE_WORD_ACCESS=y
CONFIG_SDP500=y
CONFIG_FW_LOADER=y
CONFIG_REGULATOR_PF0900=y
CONFIG_APERTURE_HELPERS=y
CONFIG_X86_DISABLED_FEATURE_SGX=y
CONFIG_FB_RIVA=y
CONFIG_CSD_LOCK_WAIT_DEBUG=y
CONFIG_SENSORS_INTEL_M10_BMC_HWMON=y
CONFIG_RTC_DRV_M41T93=y
CONFIG_WM831X_BACKUP=y
CONFIG_REGULATOR_RT4803=y
CONFIG_RTC_DRV_SD3078=y
CONFIG_SENSORS_TC654=y
CONFIG_IIO_BACKEND=y
CONFIG_QCOM_VADC_COMMON=y
CONFIG_MFD_WM831X_SPI=y
CONFIG_AD9523=y
CONFIG_REGULATOR_QCOM_USB_VBUS=y
CONFIG_LEDS_MLXREG=y
CONFIG_TMPFS_QUOTA=y
CONFIG_CC_HAS_NO_PROFILE_FN_ATTR=y
CONFIG_MFD_RDC321X=y
CONFIG_SIOX=y
CONFIG_ARCH_DMA_ADDR_T_64BIT=y
CONFIG_GPIO_TPS65912=y
CONFIG_TOUCHSCREEN_AD7879_I2C=y
CONFIG_DS4424=y
CONFIG_MTD_HYPERBUS=y
CONFIG_IIO_CROS_EC_LIGHT_PROX=y
CONFIG_AD7293=y
CONFIG_FB_NOTIFY=y
CONFIG_FXLS8962AF=y
CONFIG_INIT_ON_FREE_DEFAULT_ON=y
CONFIG_REGULATOR_RT6160=y
CONFIG_NLS_KOI8_U=y
CONFIG_ARCH_HAS_GENERIC_CRASHKERNEL_RESERVATION=y
CONFIG_X86_IO_APIC=y
CONFIG_CRYPTO_LIB_GF128MUL=y
CONFIG_PARAVIRT=y
CONFIG_HAVE_HARDLOCKUP_DETECTOR_PERF=y
CONFIG_NEED_PER_CPU_PAGE_FIRST_CHUNK=y
CONFIG_SSB_POSSIBLE=y
CONFIG_EXTCON_MAX14526=y
CONFIG_RTC_DRV_MC13XXX=y
CONFIG_KGDB_TESTS_ON_BOOT=y
CONFIG_SENSORS_LM87=y
CONFIG_TOUCHSCREEN_ROHM_BU21023=y
CONFIG_GENERIC_SMP_IDLE_THREAD=y
CONFIG_I2C_SMBUS=y
CONFIG_ISL29020=y
CONFIG_APDS9802ALS=y
CONFIG_DW_DMAC_CORE=y
CONFIG_BATMAN_ADV=y
CONFIG_FXAS21002C_I2C=y
CONFIG_JSA1212=y
CONFIG_GENERIC_IOMAP=y
CONFIG_CRYPTO_XXHASH=y
CONFIG_EXCLUSIVE_SYSTEM_RAM=y
CONFIG_GET_FREE_REGION=y
CONFIG_NEW_LEDS=y
CONFIG_TRACE_CLOCK=y
CONFIG_PCI_ATS=y
CONFIG_DIMLIB=y
CONFIG_VM_EVENT_COUNTERS=y
CONFIG_FB_SYSMEM_HELPERS_DEFERRED=y
CONFIG_SENSORS_SMPRO=y
CONFIG_NET_CLS_CGROUP=y
CONFIG_PTP_1588_CLOCK=y
CONFIG_AD7766=y
CONFIG_VHOST=y
CONFIG_PD6729=y
CONFIG_CRYPTO_LIB_SHA512_ARCH=y
CONFIG_ADIS16260=y
CONFIG_I2C_DESIGNWARE_PCI=y
CONFIG_NLS_CODEPAGE_936=y
CONFIG_SENSORS_LM73=y
CONFIG_MMC5983=y
CONFIG_KEXEC_CORE=y
CONFIG_OID_REGISTRY=y
CONFIG_INPUT_MISC=y
CONFIG_AS_IS_GNU=y
CONFIG_IIO_INV_SENSORS_TIMESTAMP=y
CONFIG_RTC_DEBUG=y
CONFIG_CPU_SUP_ZHAOXIN=y
CONFIG_RTC_DRV_PCF85063=y
CONFIG_INTEL_GTT=y
CONFIG_DEBUG_STACK_USAGE=y
CONFIG_NEED_SG_DMA_LENGTH=y
CONFIG_AL3320A=y
CONFIG_BCMA_HOST_PCI=y
CONFIG_INTEL_MEI_TXE=y
CONFIG_VALIDATE_FS_PARSER=y
CONFIG_CRYPTO_BLOWFISH=y
CONFIG_AD7793=y
CONFIG_FB_RADEON=y
CONFIG_GENERIC_MSI_IRQ=y
CONFIG_SECONDARY_TRUSTED_KEYRING_SIGNED_BY_BUILTIN=y
CONFIG_CRC16=y
CONFIG_MFD_MAX5970=y
CONFIG_SPI_DEBUG=y
CONFIG_SPI_MICROCHIP_CORE_SPI=y
CONFIG_TOUCHSCREEN_GOODIX=y
CONFIG_BATTERY_CHAGALL=y
CONFIG_ZL3073X=y
CONFIG_MTD_SST25L=y
CONFIG_I2C_CGBC=y
CONFIG_REGULATOR_MAX77826=y
CONFIG_MFD_WM8400=y
CONFIG_MTD_CFI_I1=y
CONFIG_RELAY=y
CONFIG_NLS=y
CONFIG_DEBUG_IRQFLAGS=y
CONFIG_RD_LZO=y
CONFIG_TI_ADS8688=y
CONFIG_W1_SLAVE_SMEM=y
CONFIG_FPGA_MGR_LATTICE_SYSCONFIG_SPI=y
CONFIG_ZSTD_COMPRESS=y
CONFIG_SPI_LM70_LLP=y
CONFIG_TOUCHSCREEN_HIDEEP=y
CONFIG_CPU_MITIGATIONS=y
CONFIG_RTC_DRV_DS3232_HWMON=y
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_DIRECT_CALLS=y
CONFIG_CRYPTO_MANAGER=y
CONFIG_RMI4_F03=y
CONFIG_CRYPTO_DEV_CCP=y
CONFIG_TSL4531=y
