CONFIG_AOSONG_AGS02MA=y
CONFIG_CDROM=y
CONFIG_REGULATOR_SY8824X=y
CONFIG_ARCH_SUPPORTS_PER_VMA_LOCK=y
CONFIG_GPIB_TMS9914=y
CONFIG_MFD_WM5110=y
CONFIG_CHR_DEV_ST=y
CONFIG_COMMON_CLK_MAX77686=y
CONFIG_CACHEFILES_ERROR_INJECTION=y
CONFIG_RTC_DRV_MC13XXX=y
CONFIG_UIO_DMEM_GENIRQ=y
CONFIG_BACKLIGHT_AS3711=y
CONFIG_SENSORS_SMSC47M192=y
CONFIG_CRYPTO_LIB_SM3_ARCH=y
CONFIG_IRQ_DOMAIN=y
CONFIG_GENERIC_PCI_IOMAP=y
CONFIG_CRYPTO_LZO=y
CONFIG_UNWIND_USER=y
CONFIG_CRYPTO_SHA1=y
CONFIG_HAVE_IRQ_TIME_ACCOUNTING=y
CONFIG_ARCH_MIGHT_HAVE_PC_SERIO=y
CONFIG_AD7949=y
CONFIG_XZ_DEC_BCJ=y
CONFIG_CRYPTO_SKCIPHER2=y
CONFIG_RSEQ_DEBUG_DEFAULT_ENABLE=y
CONFIG_DM_FLAKEY=y
CONFIG_SENSORS_HMC5843_I2C=y
CONFIG_CRYPTO_GCM=y
CONFIG_AD2S1200=y
CONFIG_REGULATOR_MT6397=y
CONFIG_DEBUG_VFS=y
CONFIG_AD5696_I2C=y
CONFIG_SENSORS_DRIVETEMP=y
CONFIG_LEDS_LGM=y
CONFIG_USB_G_DBGP=y
CONFIG_SENSEAIR_SUNRISE_CO2=y
CONFIG_NFC=y
CONFIG_HID_APPLETB_BL=y
CONFIG_ROHM_BD79124=y
CONFIG_BMA400_I2C=y
CONFIG_COREDUMP=y
CONFIG_CRYPTO_USER=y
CONFIG_CRYPTO_HASH2=y
CONFIG_I2C_DEBUG_ALGO=y
CONFIG_CROS_EC_MKBP_PROXIMITY=y
CONFIG_HID_SUNPLUS=y
CONFIG_HAVE_KRETPROBES=y
CONFIG_BATMAN_ADV=y
CONFIG_SGL_ALLOC=y
CONFIG_GENERIC_NET_UTILS=y
CONFIG_ADXL355=y
CONFIG_MTD_PHYSMAP=y
CONFIG_CRYPTO_MANAGER2=y
CONFIG_NET_SCH_FIFO=y
CONFIG_VIRTIO_VSOCKETS_COMMON=y
CONFIG_GDB_SCRIPTS=y
CONFIG_BLK_CGROUP_IOLATENCY=y
CONFIG_MOUSE_ELAN_I2C_I2C=y
CONFIG_GENERIC_IOMAP=y
CONFIG_PAGE_EXTENSION=y
CONFIG_SGETMASK_SYSCALL=y
CONFIG_GENERIC_PINMUX_FUNCTIONS=y
CONFIG_IIO_ADIS_LIB=y
CONFIG_SYSTEM_REVOCATION_LIST=y
CONFIG_REBOOT_MODE=y
CONFIG_TPL0102=y
CONFIG_MFD_ROHM_BD71828=y
CONFIG_BACKLIGHT_LM3630A=y
CONFIG_BLK_DEV_DM_BUILTIN=y
CONFIG_EXT4_FS=y
CONFIG_CRYPTO_LIB_BLAKE2B=y
CONFIG_BPF_JIT=y
CONFIG_NFC_PN544_I2C=y
CONFIG_ARCH_HAS_GIGANTIC_PAGE=y
CONFIG_SERIAL_LITEUART=y
CONFIG_CC_HAS_ASM_INLINE=y
CONFIG_MAILBOX=y
CONFIG_SPARSE_IRQ=y
CONFIG_TOOLS_SUPPORT_RELR=y
CONFIG_ARCH_HAS_ELF_RANDOMIZE=y
CONFIG_PVPANIC_MMIO=y
CONFIG_GROUP_SCHED_WEIGHT=y
CONFIG_FB_SYSMEM_HELPERS_DEFERRED=y
CONFIG_CRYPTO_CHACHA20POLY1305=y
CONFIG_MCP4531=y
CONFIG_HAVE_UACCESS_VALIDATION=y
CONFIG_NET_ACT_PEDIT=y
CONFIG_SENSORS_CORSAIR_PSU=y
CONFIG_SENSORS_LENOVO_EC=y
CONFIG_USB_ROLES_INTEL_XHCI=y
CONFIG_RTC_DRV_DA9063=y
CONFIG_BATTERY_MAX1721X=y
CONFIG_COMEDI_8255=y
CONFIG_LOCK_SPIN_ON_OWNER=y
CONFIG_BLK_CGROUP=y
CONFIG_FPGA_MGR_EFINIX_SPI=y
CONFIG_CPU_IDLE_GOV_TEO=y
CONFIG_RTC_DRV_DS1553=y
CONFIG_CROS_EC_SENSORHUB=y
CONFIG_ADRF6780=y
CONFIG_FSL_EDMA=y
CONFIG_MFD_DA9055=y
CONFIG_SPI_AXI_SPI_ENGINE=y
CONFIG_HID_SENSOR_HUB=y
CONFIG_MAX31865=y
CONFIG_VIRTIO_CONSOLE=y
CONFIG_VCNL4035=y
CONFIG_W1_SLAVE_THERM=y
CONFIG_STACKDEPOT_ALWAYS_INIT=y
CONFIG_DM_UNSTRIPED=y
CONFIG_SENSORS_NCT7802=y
CONFIG_ARCH_HAS_STRICT_KERNEL_RWX=y
CONFIG_PINCTRL_TPS6594=y
CONFIG_VM_EVENT_COUNTERS=y
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST_IDLE=y
CONFIG_USB_G_MULTI_RNDIS=y
CONFIG_VSOCKETS_LOOPBACK=y
CONFIG_GPIO_XRA1403=y
CONFIG_MICROCODE=y
CONFIG_X86_DISABLED_FEATURE_ENQCMD=y
CONFIG_ZSTD_COMMON=y
CONFIG_IIO_KX022A_SPI=y
CONFIG_WATCH_QUEUE=y
CONFIG_MFD_TPS65910=y
CONFIG_ADIS16201=y
CONFIG_MFD_DA9062=y
CONFIG_FB_CFB_FILLRECT=y
CONFIG_COMMON_CLK_PWM=y
CONFIG_INFTL=y
CONFIG_REGULATOR_MT6316=y
CONFIG_SYSTEM_TRUSTED_KEYRING=y
CONFIG_KXSD9=y
CONFIG_NET_SCH_ETF=y
CONFIG_COMEDI_DEBUG=y
CONFIG_PERF_GUEST_MEDIATED_PMU=y
CONFIG_SENSORS_LM95241=y
CONFIG_MAX5487=y
CONFIG_NVME_TARGET_AUTH_DEBUG=y
CONFIG_WM831X_BACKUP=y
CONFIG_SWIOTLB=y
CONFIG_SECURITYFS=y
CONFIG_NLS_MAC_GREEK=y
CONFIG_SPI_ALTERA_DFL=y
CONFIG_GPIO_GRANITERAPIDS=y
CONFIG_RAID6_PQ_BENCHMARK=y
CONFIG_SPI_OC_TINY=y
CONFIG_ISO9660_FS=y
CONFIG_SENSORS_LM78=y
CONFIG_HOTPLUG_CPU=y
CONFIG_GENERIC_CPU_DEVICES=y
CONFIG_SENSORS_SY7636A=y
CONFIG_DMADEVICES=y
CONFIG_REGMAP_IRQ=y
CONFIG_BOSCH_BNO055=y
CONFIG_USB_EHSET_TEST_FIXTURE=y
CONFIG_CC_OPTIMIZE_FOR_SIZE=y
CONFIG_SENSORS_LTC2947=y
CONFIG_MEMSTICK_REALTEK_USB=y
CONFIG_I2C=y
CONFIG_SERIAL_ARC_CONSOLE=y
CONFIG_XZ_DEC_ARMTHUMB=y
CONFIG_SYSVIPC_SYSCTL=y
CONFIG_ANON_VMA_NAME=y
CONFIG_CACHEFILES=y
CONFIG_NFC_NCI=y
CONFIG_HOTPLUG_PARALLEL=y
CONFIG_GCC10_NO_ARRAY_BOUNDS=y
CONFIG_REGULATOR_MAX77838=y
CONFIG_ADJD_S311=y
CONFIG_HDC3020=y
CONFIG_RWSEM_SPIN_ON_OWNER=y
CONFIG_BUG_ON_DATA_CORRUPTION=y
CONFIG_SLUB=y
CONFIG_USB_ADUTUX=y
CONFIG_SENSORS_LM75=y
CONFIG_GENERIC_PINCONF=y
CONFIG_VL6180=y
CONFIG_LEDS_RT4505=y
CONFIG_GCC_NO_STRINGOP_OVERFLOW=y
CONFIG_BPF_PRELOAD=y
CONFIG_FS_ENCRYPTION_ALGS=y
CONFIG_ADVISE_SYSCALLS=y
CONFIG_FB_TILEBLITTING=y
CONFIG_AD5446_SPI=y
CONFIG_INV_ICM42600_I2C=y
CONFIG_GPIO_STMPE=y
CONFIG_MHI_BUS=y
CONFIG_EXTCON=y
CONFIG_HID_PLANTRONICS=y
CONFIG_RMI4_F12=y
CONFIG_SENSORS_MAX1668=y
CONFIG_BLK_DEV_PMEM=y
CONFIG_PINCTRL_CS47L90=y
CONFIG_QCOM_PAS=y
CONFIG_MS_BLOCK=y
CONFIG_MMA7660=y
CONFIG_RTC_DRV_M48T35=y
CONFIG_SOC_TI=y
CONFIG_BFQ_CGROUP_DEBUG=y
CONFIG_SI1133=y
CONFIG_CGROUP_PIDS=y
CONFIG_HID_LOGITECH_HIDPP=y
CONFIG_GPIO_74XX_MMIO=y
CONFIG_CRYPTO_LIB_GF128HASH_ARCH=y
CONFIG_MEMFD_CREATE=y
CONFIG_REED_SOLOMON_DEC8=y
CONFIG_HAVE_UID16=y
CONFIG_ARCH_SUPPORTS_UPROBES=y
CONFIG_MFD_ACT8945A=y
CONFIG_COMEDI_QUATECH_DAQP_CS=y
CONFIG_LEDS_AW200XX=y
CONFIG_NET_XGRESS=y
CONFIG_QCOM_VADC_COMMON=y
CONFIG_RTC_DRV_DS2404=y
CONFIG_FW_DEVLINK_SYNC_STATE_TIMEOUT=y
CONFIG_BTRFS_EXPERIMENTAL=y
CONFIG_X86_P4_CLOCKMOD=y
CONFIG_X86_DISABLED_FEATURE_LAM=y
CONFIG_SPI_PXA2XX=y
CONFIG_NFC_VIRTUAL_NCI=y
CONFIG_ROMFS_ON_MTD=y
CONFIG_HAVE_PERF_EVENTS=y
CONFIG_ARCH_USE_MEMTEST=y
CONFIG_CM32181=y
CONFIG_STM_PROTO_BASIC=y
CONFIG_X86_MSR=y
CONFIG_GCOV_KERNEL=y
CONFIG_HAVE_KVM_PFNCACHE=y
CONFIG_MB1232=y
CONFIG_MFD_RK8XX_SPI=y
CONFIG_EARLY_PRINTK=y
CONFIG_AD5624R_SPI=y
CONFIG_CRYPTO_SIG2=y
CONFIG_CRYPTO_LIB_AES=y
CONFIG_W1_SLAVE_DS2430=y
CONFIG_RMI4_F03=y
CONFIG_EXPORTFS_BLOCK_OPS=y
CONFIG_ADMV1014=y
CONFIG_IRQ_FORCED_THREADING=y
CONFIG_SENSORS_ADS7871=y
CONFIG_USB_CONFIGFS_F_TCM=y
CONFIG_DM_VDO=y
CONFIG_MFD_GATEWORKS_GSC=y
CONFIG_NLS_MAC_CENTEURO=y
CONFIG_GPIO_TPS65219=y
CONFIG_ACPI_AC=y
CONFIG_PRINTK=y
CONFIG_LEDS_MT6360=y
CONFIG_AD7291=y
CONFIG_BLOCK_HOLDER_DEPRECATED=y
CONFIG_MEMBARRIER=y
CONFIG_USB_LED_TRIG=y
CONFIG_X86_CX8=y
CONFIG_CORDIC=y
CONFIG_DEBUG_STACK_USAGE=y
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO=y
CONFIG_NLS_CODEPAGE_863=y
CONFIG_REGULATOR_MC13892=y
CONFIG_CRYPTO_SHA512=y
CONFIG_STM_DUMMY=y
CONFIG_BMP280_I2C=y
CONFIG_HUGETLB_PAGE_OPTIMIZE_VMEMMAP=y
CONFIG_CRYPTO_CCM=y
CONFIG_LOCKDEP_SUPPORT=y
CONFIG_CRYPTO_LIB_AES_GCM=y
CONFIG_GUEST_PERF_EVENTS=y
CONFIG_LZO_COMPRESS=y
CONFIG_HID_SUPPORT=y
CONFIG_COMMON_CLK_XLNX_CLKWZRD=y
CONFIG_GPIO_WAVESHARE_DSI_TOUCH=y
CONFIG_MAX30100=y
CONFIG_SCSI=y
CONFIG_HAVE_KERNEL_BZIP2=y
CONFIG_EXPORTFS=y
CONFIG_HAVE_PREEMPT_DYNAMIC_CALL=y
CONFIG_PMIC_ADP5520=y
CONFIG_ACPI_IPMI=y
CONFIG_MQ_IOSCHED_DEADLINE=y
CONFIG_RTC_DRV_DS1685_FAMILY=y
CONFIG_BLK_DEV_NBD=y
CONFIG_CRYPTO_LIB_CHACHA=y
CONFIG_X86_DISABLED_FEATURE_RETHUNK=y
CONFIG_CRYPTO_SM4_GENERIC=y
CONFIG_MTD_NAND_DISKONCHIP_PROBE_HIGH=y
CONFIG_NLS_ISO8859_5=y
CONFIG_SPARSEMEM_VMEMMAP=y
CONFIG_FANOTIFY=y
CONFIG_REGULATOR_S2DOS05=y
CONFIG_ADXL355_SPI=y
CONFIG_MFD_STPMIC1=y
CONFIG_HZ_PERIODIC=y
CONFIG_HAVE_MIXED_BREAKPOINTS_REGS=y
CONFIG_ARCH_WANT_HUGE_PMD_SHARE=y
CONFIG_XFS_LIVE_HOOKS=y
CONFIG_OPTEE_STATIC_PROTMEM_POOL=y
CONFIG_DPTF_PCH_FIVR=y
CONFIG_IIO_SSP_SENSORHUB=y
CONFIG_PWM_DEBUG=y
CONFIG_GENERIC_IRQ_RESERVATION_MODE=y
CONFIG_MAX30102=y
CONFIG_RTC_DRV_88PM886=y
CONFIG_MFD_WM8997=y
CONFIG_ARCH_HAS_SET_MEMORY=y
CONFIG_PNPACPI=y
CONFIG_LAPB=y
CONFIG_HAVE_KVM_DIRTY_RING_ACQ_REL=y
CONFIG_COMMON_CLK_VC3=y
CONFIG_CC_HAS_KASAN_SW_TAGS=y
CONFIG_GENERIC_IRQ_MIGRATION=y
CONFIG_IPACK_BUS=y
CONFIG_DM_BIO_PRISON=y
CONFIG_CRYPTO_ACOMP2=y
CONFIG_ARCH_SUPPORTS_PAGE_TABLE_CHECK=y
CONFIG_THERMAL_GOV_POWER_ALLOCATOR=y
CONFIG_BACKLIGHT_AAT2870=y
CONFIG_IIO_INV_SENSORS_TIMESTAMP=y
CONFIG_RTC_DRV_PCF8583=y
CONFIG_KEXEC_SIG=y
CONFIG_MFD_MC13XXX=y
CONFIG_MFD_CGBC=y
CONFIG_EXECMEM=y
CONFIG_AD9523=y
CONFIG_GCOV_PROFILE_ALL=y
CONFIG_TAHVO_USB=y
CONFIG_SENSORS_CORETEMP=y
CONFIG_REGULATOR_LTC3676=y
CONFIG_X86_VMX_FEATURE_NAMES=y
CONFIG_XILINX_ZYNQMP_DPDMA=y
CONFIG_CHARGER_MAX77693=y
CONFIG_GPIO_NOVALAKE=y
CONFIG_ROMFS_BACKED_BY_BOTH=y
CONFIG_MFD_TC3589X=y
CONFIG_HAVE_KPROBES_ON_FTRACE=y
CONFIG_CMA_DEBUGFS=y
CONFIG_GPIB_HP82335=y
CONFIG_FXOS8700=y
CONFIG_CRYPTO_SELFTESTS=y
CONFIG_W1_SLAVE_DS2408=y
CONFIG_USB_R8A66597=y
CONFIG_ZSMALLOC_STAT=y
CONFIG_HAVE_MOD_ARCH_SPECIFIC=y
CONFIG_SERIO_LIBPS2=y
CONFIG_SENSORS_PECI=y
CONFIG_REGULATOR_QCOM_SPMI=y
CONFIG_PA12203001=y
CONFIG_NFTL=y
CONFIG_BACKLIGHT_PWM=y
CONFIG_HID_ICADE=y
CONFIG_ZRAM_TRACK_ENTRY_ACTIME=y
CONFIG_LEGACY_PTYS=y
CONFIG_PREEMPTIRQ_TRACEPOINTS=y
CONFIG_HID_ITE=y
CONFIG_MTD_L440GX=y
CONFIG_DTC=y
CONFIG_MFD_UPBOARD_FPGA=y
CONFIG_LTC2632=y
CONFIG_USB_GPIO_VBUS=y
CONFIG_LEDS_TRIGGER_PATTERN=y
CONFIG_ST_UVIS25_SPI=y
CONFIG_REGULATOR_BQ257XX=y
CONFIG_HID_SENSOR_IIO_COMMON=y
CONFIG_QCOM_SPMI_IADC=y
CONFIG_NET_SCH_CHOKE=y
CONFIG_CRYPTO_LIB_BLAKE2S_ARCH=y
CONFIG_CC_HAS_NO_PROFILE_FN_ATTR=y
CONFIG_SENSORS_ASB100=y
CONFIG_GENERIC_BUG_RELATIVE_POINTERS=y
CONFIG_LCD_AMS369FG06=y
CONFIG_CRYPTO_LIB_CHACHA_ARCH=y
CONFIG_TI_ADS8688=y
CONFIG_SENSORS_TMP108=y
CONFIG_ROMFS_FS=y
CONFIG_BCACHE=y
CONFIG_BINFMT_ELF=y
CONFIG_PINCTRL_CANNONLAKE=y
CONFIG_MFD_VIPERBOARD=y
CONFIG_ARCH_CONFIGURES_CPU_MITIGATIONS=y
CONFIG_USB_G_DBGP_PRINTK=y
CONFIG_PINCTRL_MADERA=y
CONFIG_ROMFS_ON_BLOCK=y
CONFIG_GPIO_NCT6694=y
CONFIG_CC_CAN_LINK=y
CONFIG_ZONE_DMA32=y
CONFIG_BTRFS_FS=y
CONFIG_MTD_CFI_I1=y
CONFIG_EXT4_FS_POSIX_ACL=y
CONFIG_SENSORS_RM3100_I2C=y
CONFIG_X86_INTEL_TSX_MODE_AUTO=y
CONFIG_LEDS_LP8864=y
CONFIG_HAVE_OBJTOOL_MCOUNT=y
CONFIG_UBIFS_FS_ADVANCED_COMPR=y
CONFIG_CRASH_DUMP=y
CONFIG_HUGETLBFS=y
CONFIG_SENSORS_LM80=y
CONFIG_SENSORS_INA209=y
CONFIG_PM_DEVFREQ=y
CONFIG_HID_APPLE=y
CONFIG_ARCH_USE_QUEUED_RWLOCKS=y
CONFIG_ADF4377=y
CONFIG_GPIO_TWL6040=y
CONFIG_CRYPTO_LIB_AES_ECB=y
CONFIG_MFD_AS3722=y
CONFIG_PCC=y
CONFIG_MISC_RTSX_USB=y
CONFIG_LIBFDT=y
CONFIG_MPL3115=y
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_JMP=y
CONFIG_GPIO_F7188X=y
CONFIG_CC10001_ADC=y
CONFIG_DEBUG_FS_ALLOW_ALL=y
CONFIG_AL3320A=y
CONFIG_GENERIC_CMOS_UPDATE=y
CONFIG_HID_LCPOWER=y
CONFIG_AD3552R_LIB=y
CONFIG_HAVE_DEBUG_KMEMLEAK=y
CONFIG_PHY_PXA_28NM_HSIC=y
CONFIG_BATTERY_DS2780=y
CONFIG_CRC32=y
CONFIG_HDC100X=y
CONFIG_DLHL60D=y
CONFIG_NVMEM_REBOOT_MODE=y
CONFIG_LLC=y
CONFIG_CRYPTO_CRC32=y
CONFIG_AL_FIC=y
CONFIG_CPA_DEBUG=y
CONFIG_SENSORS_IBMAEM=y
CONFIG_ARCH_SUPPORTS_LTO_CLANG_THIN=y
CONFIG_BLK_DEV_INTEGRITY=y
CONFIG_MFD_WM831X_SPI=y
CONFIG_SENSORS_TMP421=y
CONFIG_LEDS_AW2013=y
CONFIG_RTC_DRV_DS1302=y
CONFIG_BPF_PRELOAD_UMD=y
CONFIG_FXAS21002C_SPI=y
CONFIG_HAVE_DYNAMIC_FTRACE_NO_PATCHABLE=y
CONFIG_CRYPTO_LZ4HC=y
CONFIG_DEBUG_MAPLE_TREE=y
CONFIG_SCHED_AUTOGROUP=y
CONFIG_CRYPTO_ARIA_AESNI_AVX_X86_64=y
CONFIG_BH1745=y
CONFIG_CRYPTO_SM4_AESNI_AVX_X86_64=y
CONFIG_CRYPTO_CRYPTD=y
CONFIG_BLK_DEV_DM=y
CONFIG_GPIO_TWL4030=y
CONFIG_HARDLOCKUP_CHECK_TIMESTAMP=y
CONFIG_THERMAL_CORE_TESTING=y
CONFIG_REGULATOR_MAX5970=y
CONFIG_CRYPTO_CAMELLIA=y
CONFIG_HAVE_SAMPLE_FTRACE_DIRECT=y
CONFIG_CRYPTO_LIB_AESCFB=y
CONFIG_MFD_WM831X_I2C=y
CONFIG_MPRLS0025PA=y
CONFIG_DEBUG_INFO_COMPRESSED_ZLIB=y
CONFIG_FS_ENCRYPTION=y
CONFIG_CMA=y
CONFIG_IRQ_WORK=y
CONFIG_BACKLIGHT_CGBC=y
CONFIG_IIO_ST_PRESS_I2C=y
CONFIG_MTD_PLATRAM=y
CONFIG_IIO_MS_SENSORS_I2C=y
CONFIG_TI_ADS1298=y
CONFIG_BCACHE_ASYNC_REGISTRATION=y
CONFIG_DM_THIN_PROVISIONING=y
CONFIG_SENSORS_LTC2990=y
CONFIG_ADIS16400=y
CONFIG_MFD_CS40L50_SPI=y
CONFIG_MAC80211=y
CONFIG_NFC_PN533=y
CONFIG_AD7292=y
CONFIG_MAX31856=y
CONFIG_BLK_DEV_BSGLIB=y
CONFIG_HAVE_KVM_IRQ_ROUTING=y
CONFIG_SENSORS_HMC5843_SPI=y
CONFIG_KVM_MMIO=y
CONFIG_NET_EMATCH_U32=y
CONFIG_MAC80211_RC_DEFAULT_MINSTREL=y
CONFIG_HAVE_EFFICIENT_UNALIGNED_ACCESS=y
CONFIG_LOCKDEP=y
CONFIG_REGULATOR_AD5398=y
CONFIG_LCD2S=y
CONFIG_MMA7455_I2C=y
CONFIG_UCLAMP_TASK=y
CONFIG_HAVE_ARCH_THREAD_STRUCT_WHITELIST=y
CONFIG_HID_NTRIG=y
CONFIG_NET_ACT_GACT=y
CONFIG_RMI4_F55=y
CONFIG_NET_ACT_SIMP=y
CONFIG_MOUSE_ELAN_I2C_SMBUS=y
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO_BARE=y
CONFIG_CRC64_ARCH=y
CONFIG_BMA400_SPI=y
CONFIG_PRINTER=y
CONFIG_INTEL_TCC_COOLING=y
CONFIG_STMPE_I2C=y
CONFIG_CHARGER_RK817=y
CONFIG_MFD_RK8XX=y
CONFIG_REGULATOR_RT6190=y
CONFIG_MPRLS0025PA_I2C=y
CONFIG_EXTCON_LC824206XA=y
CONFIG_CRYPTO_BLAKE2B=y
