CONFIG_NF_NAT_IRC=n
CONFIG_INTEGRITY_AUDIT=n
CONFIG_KPROBE_EVENTS=n
CONFIG_HARDIRQS_SW_RESEND=n
CONFIG_RTC_CLASS=n
CONFIG_ARCH_HAS_DEVMEM_IS_ALLOWED=n
CONFIG_POWER_SUPPLY_HWMON=n
CONFIG_HAVE_ARCH_VMAP_STACK=n
CONFIG_X86_REQUIRED_FEATURE_CPUID=n
CONFIG_CC_HAS_ASSUME=n
CONFIG_CRYPTO_RSA=n
CONFIG_X86_MCE_AMD=n
CONFIG_HAVE_MIXED_BREAKPOINTS_REGS=n
CONFIG_DRM_BRIDGE=n
CONFIG_DMA_VIRTUAL_CHANNELS=n
CONFIG_ARCH_MEMORY_ORDER_TSO=n
CONFIG_RD_XZ=n
CONFIG_BROADCAST_TLB_FLUSH=n
CONFIG_PREEMPTION=n
CONFIG_GENERIC_BUG=n
CONFIG_HAVE_ARCH_PREL32_RELOCATIONS=n
CONFIG_HAVE_KERNEL_GZIP=n
CONFIG_SKY2=n
CONFIG_ARCH_HAS_NMI_SAFE_THIS_CPU_OPS=n
CONFIG_XZ_DEC_X86=n
CONFIG_RTL_CARDS=n
CONFIG_IOMMU_IOVA=n
CONFIG_SLAB_MERGE_DEFAULT=n
CONFIG_ARCH_SUPPORTS_ATOMIC_RMW=n
CONFIG_NETFILTER_XT_TARGET_LOG=n
CONFIG_ARCH_USE_MEMTEST=n
CONFIG_ACPI_PROCESSOR_IDLE=n
CONFIG_TMPFS_XATTR=n
CONFIG_XZ_DEC_SPARC=n
CONFIG_LEGACY_VSYSCALL_XONLY=n
CONFIG_ZSTD_COMMON=n
CONFIG_PERF_EVENTS=n
CONFIG_SND_JACK=n
CONFIG_IP_PIMSM_V2=n
CONFIG_PRINTK=n
CONFIG_EXT4_USE_FOR_EXT2=n
CONFIG_HAVE_ARCH_GET_SECUREBOOT=n
CONFIG_SND_HWDEP=n
CONFIG_NVMEM=n
CONFIG_WLAN_VENDOR_TI=n
CONFIG_ARCH_HAS_CPU_CACHE_INVALIDATE_MEMREGION=n
CONFIG_ARCH_SUPPORTS_KEXEC_BZIMAGE_VERIFY_SIG=n
CONFIG_NET_VENDOR_I825XX=n
CONFIG_VHOST_MENU=n
CONFIG_ARCH_SPARSEMEM_ENABLE=n
CONFIG_NVMEM_SYSFS=n
CONFIG_HAVE_KERNEL_ZSTD=n
CONFIG_SCHEDSTATS=n
CONFIG_RD_LZO=n
CONFIG_ARCH_HIBERNATION_HEADER=n
CONFIG_HID_SAMSUNG=n
CONFIG_XFRM_ESP=n
CONFIG_HAVE_KPROBES=n
CONFIG_BINFMT_ELF=n
CONFIG_VMCORE_INFO=n
CONFIG_PROC_PAGE_MONITOR=n
CONFIG_MQ_IOSCHED_DEADLINE=n
CONFIG_MITIGATION_TSA=n
CONFIG_SPARSEMEM_EXTREME=n
CONFIG_INPUT_JOYSTICK=n
CONFIG_NET_HANDSHAKE=n
CONFIG_HID_GENERIC=n
CONFIG_DNS_RESOLVER=n
CONFIG_NET=n
CONFIG_X86_DISABLED_FEATURE_FRED=n
CONFIG_USB_HID=n
CONFIG_ARCH_STACKWALK=n
CONFIG_TMPFS_POSIX_ACL=n
CONFIG_IRQ_MSI_LIB=n
CONFIG_ACPI_SLEEP=n
CONFIG_ARCH_HAS_GCOV_PROFILE_ALL=n
CONFIG_MOUSE_PS2_LOGIPS2PP=n
CONFIG_ARCH_HAS_SET_MEMORY=n
CONFIG_INPUT_SPARSEKMAP=n
CONFIG_PAGE_SIZE_4KB=n
CONFIG_INPUT=n
CONFIG_OPTPROBES=n
CONFIG_GENERIC_VDSO_OVERFLOW_PROTECT=n
CONFIG_X86_REQUIRED_FEATURE_FPU=n
CONFIG_NFS_COMMON=n
CONFIG_STANDALONE=n
CONFIG_HPET_TIMER=n
CONFIG_ARCH_SUPPORTS_SCHED_MC=n
CONFIG_CC_HAS_ENTRY_PADDING=n
CONFIG_NET_EMATCH=n
CONFIG_ACPI_THERMAL=n
CONFIG_I2C_HELPER_AUTO=n
CONFIG_FUTEX_MPOL=n
CONFIG_JOLIET=n
CONFIG_SCHED_CLUSTER=n
CONFIG_TRACING_SUPPORT=n
CONFIG_ARCH_USE_QUEUED_SPINLOCKS=n
CONFIG_EARLY_PRINTK_DBGP=n
CONFIG_NET_VENDOR_CHELSIO=n
CONFIG_DECOMPRESS_LZO=n
CONFIG_XFRM_AH=n
CONFIG_WLAN_VENDOR_QUANTENNA=n
CONFIG_STACKTRACE_SUPPORT=n
CONFIG_HIBERNATION_SNAPSHOT_DEV=n
CONFIG_ARCH_MHP_MEMMAP_ON_MEMORY_ENABLE=n
CONFIG_SPLIT_PMD_PTLOCKS=n
CONFIG_SERIO=n
CONFIG_USB_OHCI_LITTLE_ENDIAN=n
CONFIG_CRYPTO_HASH=n
CONFIG_GENERIC_TRACER=n
CONFIG_ARCH_HAS_STRICT_MODULE_RWX=n
CONFIG_BLK_DEV_LOOP=n
CONFIG_EARLY_PRINTK=n
CONFIG_NETFILTER_XT_TARGET_NFLOG=n
CONFIG_BLK_RQ_ALLOC_TIME=n
CONFIG_NET_VENDOR_CAVIUM=n
CONFIG_I2C_ALGOBIT=n
CONFIG_IP_PNP_RARP=n
CONFIG_ARCH_SUPPORTS_KEXEC_JUMP=n
CONFIG_X86_PLATFORM_DEVICES=n
CONFIG_X86_REROUTE_FOR_BROKEN_BOOT_IRQS=n
CONFIG_UNION_FIND=n
CONFIG_FUTEX_PRIVATE_HASH=n
CONFIG_HID_TOPSEED=n
CONFIG_ZONE_DMA=n
CONFIG_64BIT=n
CONFIG_ACPI_BUTTON=n
CONFIG_PCIE_PME=n
CONFIG_CGROUP_SCHED=n
CONFIG_SYSVIPC_SYSCTL=n
CONFIG_ADVISE_SYSCALLS=n
CONFIG_SGL_ALLOC=n
CONFIG_NET_VENDOR_HISILICON=n
CONFIG_ARCH_SUPPORTS_KEXEC_PURGATORY=n
CONFIG_CPUSETS=n
CONFIG_ISA_DMA_API=n
CONFIG_HAVE_FUNCTION_ERROR_INJECTION=n
CONFIG_COMPAT=n
CONFIG_GENERIC_MSI_IRQ=n
CONFIG_HAVE_STACKPROTECTOR=n
CONFIG_VIRTIO_CONSOLE=n
CONFIG_HAVE_MOD_ARCH_SPECIFIC=n
CONFIG_PCIEASPM_DEFAULT=n
CONFIG_HAVE_UID16=n
CONFIG_SECRETMEM=n
CONFIG_PAGE_MAPCOUNT=n
CONFIG_ACPI_HOTPLUG_CPU=n
CONFIG_ARCH_WANT_COMPAT_IPC_PARSE_VERSION=n
CONFIG_PT_RECLAIM=n
CONFIG_CRC_OPTIMIZATIONS=n
CONFIG_NET_VENDOR_SAMSUNG=n
CONFIG_SECURITY=n
CONFIG_WATCHDOG_HANDLE_BOOT_ENABLED=n
CONFIG_NET_VENDOR_ATHEROS=n
CONFIG_SUNRPC_GSS=n
CONFIG_GROUP_SCHED_WEIGHT=n
CONFIG_RD_BZIP2=n
CONFIG_FW_CACHE=n
CONFIG_SKB_EXTENSIONS=n
CONFIG_PCCARD=n
CONFIG_SND_SEQ_DUMMY=n
CONFIG_FUTEX_ROBUST_UNLOCK=n
CONFIG_WLAN_VENDOR_MARVELL=n
CONFIG_CC_HAS_RETURN_THUNK=n
CONFIG_INPUT_LEDS=n
CONFIG_X86_MPPARSE=n
CONFIG_GENERIC_PCI_IOMAP=n
CONFIG_AUTOFS_FS=n
CONFIG_PTP_1588_CLOCK=n
CONFIG_CC_CAN_LINK=n
CONFIG_MMU_LAZY_TLB_REFCOUNT=n
CONFIG_NET_VENDOR_MICROCHIP=n
CONFIG_EVENTFD=n
CONFIG_KEXEC=n
CONFIG_HAVE_FTRACE_REGS_HAVING_PT_REGS=n
CONFIG_NET_VENDOR_CADENCE=n
CONFIG_NETFILTER_EGRESS=n
CONFIG_HAVE_SOFTIRQ_ON_OWN_STACK=n
CONFIG_ATA_FORCE=n
CONFIG_THERMAL_HWMON=n
CONFIG_CRYPTO_LIB_MD5=n
CONFIG_WMI_BMOF=n
CONFIG_ASYMMETRIC_PUBLIC_KEY_SUBTYPE=n
CONFIG_HUGETLB_PAGE=n
CONFIG_X86_MCE_INTEL=n
CONFIG_STACKPROTECTOR=n
CONFIG_NET_CLS=n
CONFIG_SND_INTEL_DSP_CONFIG=n
CONFIG_9P_FS=n
CONFIG_GENERIC_IRQ_ENTRY=n
CONFIG_XZ_DEC_ARM64=n
CONFIG_CRYPTO_HASH2=n
CONFIG_NLS_ASCII=n
CONFIG_NET_VENDOR_META=n
CONFIG_IRQ_REMAP=n
CONFIG_NET_VENDOR_DAVICOM=n
CONFIG_ACPI_AC=n
CONFIG_BLK_CGROUP_IOPRIO=n
CONFIG_PERF_EVENTS_INTEL_UNCORE=n
CONFIG_SECURITY_SELINUX_AVC_STATS=n
CONFIG_ARCH_CONFIGURES_CPU_MITIGATIONS=n
CONFIG_NEED_SG_DMA_LENGTH=n
CONFIG_ACPI_NHLT=n
CONFIG_ARCH_HAS_NONLEAF_PMD_YOUNG=n
CONFIG_CPU_FREQ_GOV_USERSPACE=n
CONFIG_DEBUG_FS_ALLOW_ALL=n
CONFIG_HAVE_ALIGNED_STRUCT_PAGE=n
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_ARGS=n
CONFIG_SERIAL_8250_EXTENDED=n
CONFIG_BLK_DEBUG_FS=n
CONFIG_RTC_INTF_SYSFS=n
CONFIG_HIBERNATION=n
CONFIG_LD_IS_BFD=n
CONFIG_AMD_NUMA=n
CONFIG_ARCH_SUSPEND_POSSIBLE=n
CONFIG_WLAN_VENDOR_ST=n
CONFIG_PERF_EVENTS_INTEL_RAPL=n
CONFIG_NET_VENDOR_NETRONOME=n
CONFIG_ACPI_VIDEO=n
CONFIG_PREEMPT_COUNT=n
CONFIG_BLK_DEV_IO_TRACE=n
CONFIG_HAVE_JUMP_LABEL_HACK=n
CONFIG_EVENT_TRACING=n
CONFIG_RTC_LIB=n
CONFIG_CGROUPS=n
CONFIG_DECOMPRESS_BZIP2=n
CONFIG_BACKLIGHT_CLASS_DEVICE=n
CONFIG_IOMMU_PT=n
CONFIG_SYSCTL=n
CONFIG_FIB_RULES=n
CONFIG_CPU_FREQ_DEFAULT_GOV_USERSPACE=n
CONFIG_HAVE_PERF_EVENTS_NMI=n
CONFIG_ARCH_HAS_SET_DIRECT_MAP=n
CONFIG_FONT_AUTOSELECT=n
CONFIG_SND_SEQUENCER=n
CONFIG_MAGIC_SYSRQ=n
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE=n
CONFIG_NFS_V3_ACL=n
CONFIG_VIDEO=n
CONFIG_AS_IS_GNU=n
CONFIG_PACKET=n
CONFIG_THERMAL_NETLINK=n
CONFIG_DQL=n
CONFIG_NF_CONNTRACK_SIP=n
CONFIG_HAVE_ARCH_HUGE_VMALLOC=n
CONFIG_FW_LOADER=n
CONFIG_ARCH_WANT_BATCHED_UNMAP_TLB_FLUSH=n
CONFIG_SPARSE_IRQ=n
CONFIG_CC_NO_STRINGOP_OVERFLOW=n
CONFIG_SCSI_VIRTIO=n
CONFIG_ARCH_HAS_ACPI_TABLE_UPGRADE=n
CONFIG_NET_VENDOR_ASIX=n
CONFIG_GENERIC_CPU_VULNERABILITIES=n
CONFIG_WLAN_VENDOR_SILABS=n
CONFIG_ARCH_HAS_KERNEL_FPU_SUPPORT=n
CONFIG_USB_MON=n
CONFIG_ARCH_MIGHT_HAVE_PC_PARPORT=n
CONFIG_KERNEL_GZIP=n
CONFIG_USB_PCI=n
CONFIG_DMI_SCAN_MACHINE_NON_EFI_FALLBACK=n
CONFIG_ACPI_MADT_WAKEUP=n
CONFIG_PATA_AMD=n
CONFIG_DRM_I915_COMPRESS_ERROR=n
CONFIG_XARRAY_MULTI=n
CONFIG_HID_SONY=n
CONFIG_DRM_DISPLAY_DSC_HELPER=n
CONFIG_MITIGATION_IBPB_ENTRY=n
CONFIG_IA32_EMULATION=n
CONFIG_HAVE_DEBUG_KMEMLEAK=n
CONFIG_QUOTA=n
CONFIG_YENTA_O2=n
CONFIG_COMPAT_BINFMT_ELF=n
CONFIG_HAS_DMA=n
CONFIG_X86_AMD_PSTATE=n
CONFIG_RD_LZMA=n
CONFIG_ALLOW_DEV_COREDUMP=n
CONFIG_E1000E_HWTS=n
CONFIG_BLK_DEV_INITRD=n
CONFIG_FHANDLE=n
CONFIG_DEBUG_FS=n
CONFIG_NET_XGRESS=n
CONFIG_CRYPTO_LIB_SHA1_ARCH=n
CONFIG_HAVE_ARCH_KFENCE=n
CONFIG_HAVE_HARDLOCKUP_DETECTOR_BUDDY=n
CONFIG_E1000=n
CONFIG_STACKPROTECTOR_STRONG=n
CONFIG_ARCH_SUPPORTS_NUMA_BALANCING=n
CONFIG_IRQ_DOMAIN_HIERARCHY=n
CONFIG_VM_EVENT_COUNTERS=n
CONFIG_NF_NAT_MASQUERADE=n
CONFIG_YENTA_ENE_TUNE=n
CONFIG_HID_GYRATION=n
CONFIG_X86_INTEL_MEMORY_PROTECTION_KEYS=n
CONFIG_USB_SUPPORT=n
CONFIG_X86_DIRECT_GBPAGES=n
CONFIG_ARCH_CPUIDLE_HALTPOLL=n
CONFIG_NFS_V4_0=n
CONFIG_NEED_PER_CPU_PAGE_FIRST_CHUNK=n
CONFIG_HAVE_REGS_AND_STACK_ACCESS_API=n
CONFIG_BQL=n
