CONFIG_MFD_AXP20X=y
CONFIG_I2C_PCA_PLATFORM=y
CONFIG_RUSTC_HAS_SPAN_FILE=y
CONFIG_LITEX=y
CONFIG_MTD_CFI=y
CONFIG_REGULATOR_SY8106A=y
CONFIG_PWM_FSL_FTM=y
CONFIG_ASYMMETRIC_PUBLIC_KEY_SUBTYPE=y
CONFIG_RTC_DRV_TPS6586X=y
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE=y
CONFIG_CRYPTO_DEV_PADLOCK=y
CONFIG_TABLET_USB_HANWANG=y
CONFIG_REGULATOR_RT6160=y
CONFIG_TIMERLAT_TRACER=y
CONFIG_LATENCYTOP=y
CONFIG_HAVE_EISA=y
CONFIG_HYPERV_TIMER=y
CONFIG_W1_SLAVE_DS2781=y
CONFIG_USB_EZUSB_FX2=y
CONFIG_GPIO_TQMX86=y
CONFIG_PPS_GENERATOR_TIO=y
CONFIG_INPUT_AXP20X_PEK=y
CONFIG_SLAB_MERGE_DEFAULT=y
CONFIG_INPUT_TPS6594_PWRBUTTON=y
CONFIG_RMI4_F11=y
CONFIG_CRYPTO_ECDSA=y
CONFIG_USB_DWC2_TRACK_MISSED_SOFS=y
CONFIG_CRYPTO_DEV_PADLOCK_AES=y
CONFIG_FIRMWARE_EDID=y
CONFIG_NLS_CODEPAGE_857=y
CONFIG_SCHED_OMIT_FRAME_POINTER=y
CONFIG_CPU_FREQ_GOV_CONSERVATIVE=y
CONFIG_FILE_LOCKING=y
CONFIG_CRYPTO_SHA1=y
CONFIG_USB_ISIGHTFW=y
CONFIG_MFD_TPS65218=y
CONFIG_NLS_KOI8_U=y
CONFIG_HID_CYPRESS=y
CONFIG_RTC_SYSTOHC=y
CONFIG_ARCH_SUPPORTS_CRASH_DUMP=y
CONFIG_GENERIC_PINCTRL=y
CONFIG_APDS9802ALS=y
CONFIG_MFD_SM501_GPIO=y
CONFIG_TCG_TPM2_HMAC=y
CONFIG_GCC_PLUGIN_RANDSTRUCT=y
CONFIG_DS1682=y
CONFIG_ARCH_HAS_HW_PTE_YOUNG=y
CONFIG_RTC_DRV_RV8803=y
CONFIG_FW_LOADER_SYSFS=y
CONFIG_ISL29003=y
CONFIG_CRC32=y
CONFIG_HID_LENOVO_GO=y
CONFIG_HAVE_EXIT_THREAD=y
CONFIG_FORCE_TASKS_TRACE_RCU=y
CONFIG_SYSTEM_BLACKLIST_AUTH_UPDATE=y
CONFIG_CRYPTO_ALGAPI=y
CONFIG_IOMMUFD_DRIVER_CORE=y
CONFIG_USB_ONBOARD_DEV=y
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO_BARE=y
CONFIG_HID_SMARTJOYPLUS=y
CONFIG_OSNOISE_TRACER=y
CONFIG_PPS=y
CONFIG_TOUCHSCREEN_EXC3000=y
CONFIG_DEBUG_BUGVERBOSE=y
CONFIG_HID_GT683R=y
CONFIG_ARCH_HAS_CPU_FINALIZE_INIT=y
CONFIG_CHARGER_BD99954=y
CONFIG_GPIO_MENZ127=y
CONFIG_X86_32_IRIS=y
CONFIG_LEDS_NIC78BX=y
CONFIG_PSI=y
CONFIG_ARCH_SUPPORTS_KEXEC=y
CONFIG_TOUCHSCREEN_USB_3M=y
CONFIG_SERIO_LIBPS2=y
CONFIG_MTD_ROM=y
CONFIG_RMI4_F1A=y
CONFIG_I2C_ALGOPCF=y
CONFIG_IR_RCMM_DECODER=y
CONFIG_BATTERY_DS2781=y
CONFIG_ENCRYPTED_KEYS=y
CONFIG_REGULATOR_MAX77838=y
CONFIG_ARCH_WANT_GENERAL_HUGETLB=y
CONFIG_CC_HAS_AUTO_VAR_INIT_PATTERN=y
CONFIG_XILINX_XDMA=y
CONFIG_MFD_RN5T618=y
CONFIG_FB_VIRTUAL=y
CONFIG_HID_HUAWEI=y
CONFIG_SUSPEND_SKIP_SYNC=y
CONFIG_FW_LOADER_PAGED_BUF=y
CONFIG_TYPEC_MUX_GPIO_SBU=y
CONFIG_CRYPTO_CAST_COMMON=y
CONFIG_DEBUG_VIRTUAL=y
CONFIG_LEDS_KTD202X=y
CONFIG_TOUCHSCREEN_AUO_PIXCIR=y
CONFIG_GENERIC_NET_UTILS=y
CONFIG_CRYPTO_LIB_AES_CBC_MACS=y
CONFIG_LOCKDEP_SUPPORT=y
CONFIG_HAVE_MMIOTRACE_SUPPORT=y
CONFIG_ARCH_SUPPORTS_DEBUG_PAGEALLOC=y
CONFIG_SELECT_MEMORY_MODEL=y
CONFIG_KEYBOARD_ATKBD=y
CONFIG_LOCK_MM_AND_FIND_VMA=y
CONFIG_DMAPOOL_TEST=y
CONFIG_MFD_BD9571MWV=y
CONFIG_TASKS_RCU_GENERIC=y
CONFIG_KEYBOARD_QT1070=y
CONFIG_TOUCHSCREEN_CY8CTMA140=y
CONFIG_INTEL_TH_GTH=y
CONFIG_REGULATOR_AXP20X=y
CONFIG_HAVE_CMPXCHG_DOUBLE=y
CONFIG_PARPORT_PC_FIFO=y
CONFIG_IO_WQ=y
CONFIG_CRYPTO_LIB_SHA3=y
CONFIG_LOCKDEP=y
CONFIG_BPF_JIT_DEFAULT_ON=y
CONFIG_LEDS_OSRAM_AMS_AS3668=y
CONFIG_FPGA_MGR_XILINX_SELECTMAP=y
CONFIG_ARCH_WANTS_DYNAMIC_TASK_STRUCT=y
CONFIG_USER_DECRYPTED_DATA=y
CONFIG_USB_FEW_INIT_RETRIES=y
CONFIG_PREEMPT_LAZY=y
CONFIG_DEBUG_LOCKING_API_SELFTESTS=y
CONFIG_EISA_VLB_PRIMING=y
CONFIG_PARPORT_NOT_PC=y
CONFIG_TYPEC=y
CONFIG_HAVE_KCSAN_COMPILER=y
CONFIG_LEDS_USER=y
CONFIG_LEDS_LM3533=y
CONFIG_X86_REQUIRED_FEATURE_FPU=y
CONFIG_FS_POSIX_ACL=y
CONFIG_DNOTIFY=y
CONFIG_MFD_ARIZONA_I2C=y
CONFIG_MMU_GATHER_RCU_TABLE_FREE=y
CONFIG_RESET_CONTROLLER=y
CONFIG_GPIO_CADENCE=y
CONFIG_RTC_DRV_DS1672=y
CONFIG_RMI4_F55=y
CONFIG_HAVE_KERNEL_BZIP2=y
CONFIG_CRYPTO_ECHAINIV=y
CONFIG_FB_SYSMEM_HELPERS=y
CONFIG_LEDS_ST1202=y
CONFIG_REGULATOR_MAX77857=y
CONFIG_CRYPTO_ENGINE=y
CONFIG_TOUCHSCREEN_USB_NEXIO=y
CONFIG_APM=y
CONFIG_LEDS_PWM=y
CONFIG_MFD_ROHM_BD96801=y
CONFIG_REGULATOR_MAX77503=y
CONFIG_FUEL_GAUGE_MM8013=y
CONFIG_I2C_MUX_GPMUX=y
CONFIG_HID_ELECOM=y
CONFIG_ROMFS_ON_MTD=y
CONFIG_CACHESTAT_SYSCALL=y
CONFIG_MTD_MAP_BANK_WIDTH_2=y
CONFIG_CRYPTO_HW=y
CONFIG_FB_SYSMEM_HELPERS_DEFERRED=y
CONFIG_C2PORT_DURAMAR_2150=y
CONFIG_TI_FPC202=y
CONFIG_RPMSG_NS=y
CONFIG_TRUSTED_KEYS=y
CONFIG_CHARLCD=y
CONFIG_INPUT_FF_MEMLESS=y
CONFIG_SERIO=y
CONFIG_NLS_ISO8859_7=y
CONFIG_MTD_SLRAM=y
CONFIG_TOUCHSCREEN_HAMPSHIRE=y
CONFIG_KMAP_LOCAL=y
CONFIG_HAVE_PREEMPT_DYNAMIC=y
CONFIG_CRYPTO_LIB_MD5=y
CONFIG_CONTEXT_TRACKING=y
CONFIG_CHARGER_BQ24735=y
CONFIG_CROSS_MEMORY_ATTACH=y
CONFIG_GCOV_PROFILE_FTRACE=y
CONFIG_MFD_TPS65219=y
CONFIG_GPIOLIB=y
CONFIG_CRYPTO_WP512=y
CONFIG_SERIAL_CORE_CONSOLE=y
CONFIG_RCU_CPU_STALL_NOTIFIER=y
CONFIG_X86_BUS_LOCK_DETECT=y
CONFIG_MTRR=y
CONFIG_WERROR=y
CONFIG_FREEZER=y
CONFIG_CRYPTO_ALGAPI2=y
CONFIG_REGMAP_IRQ=y
CONFIG_HAVE_TRUSTED_KEYS_DEBUG=y
CONFIG_GPIO_WM8994=y
CONFIG_USB_LCD=y
CONFIG_COMEDI_USB_DRIVERS=y
CONFIG_RTC_DRV_S35390A=y
CONFIG_HAVE_SYSCALL_TRACEPOINTS=y
CONFIG_HID_NINTENDO=y
CONFIG_PINCTRL_OCELOT=y
CONFIG_BATTERY_DA9030=y
CONFIG_NVMEM_SYSFS=y
CONFIG_TYPEC_FUSB302=y
CONFIG_POWER_RESET_TPS65086=y
CONFIG_PHY_INTEL_LGM_EMMC=y
CONFIG_HID_MCP2221=y
CONFIG_TOUCHSCREEN_WACOM_W9000=y
CONFIG_I2C_ALGOBIT=y
CONFIG_CLKBLD_I8253=y
CONFIG_VIRTIO_ANCHOR=y
CONFIG_RTC_DRV_RX8111=y
CONFIG_DEBUG_VFS=y
CONFIG_MTD_RAM=y
CONFIG_TMPFS=y
CONFIG_GLOB=y
CONFIG_XZ_DEC=y
CONFIG_LEDS_LP3952=y
CONFIG_COMEDI_TESTS=y
CONFIG_USB_DWC3_HOST=y
CONFIG_REGULATOR_RT4803=y
CONFIG_COMPAT_32=y
CONFIG_DYNAMIC_DEBUG_CORE=y
CONFIG_CC_HAS_SANE_FUNCTION_ALIGNMENT=y
CONFIG_GPIO_WS16C48=y
CONFIG_CRC16=y
CONFIG_FB_DEFERRED_IO=y
CONFIG_POWER_RESET_RESTART=y
CONFIG_CLZ_TAB=y
CONFIG_RTC_DRV_X1205=y
CONFIG_CC_IS_GCC=y
CONFIG_TRACING_MAP=y
CONFIG_GPIO_TPS65912=y
CONFIG_RMI4_F30=y
CONFIG_INPUT_CS40L50_VIBRA=y
CONFIG_LEDS_LP8864=y
CONFIG_AL_FIC=y
CONFIG_CRYPTO_KRB5ENC=y
CONFIG_BATTERY_OLPC=y
CONFIG_LEDS_LT3593=y
CONFIG_ARCH_HAS_FORTIFY_SOURCE=y
CONFIG_IOMMU_DEFAULT_DMA_LAZY=y
CONFIG_ARCH_MHP_MEMMAP_ON_MEMORY_ENABLE=y
CONFIG_LEDS_TRIGGER_CAMERA=y
CONFIG_GPIO_TWL6040=y
CONFIG_RTC_HCTOSYS=y
CONFIG_RPMSG_QCOM_GLINK_RPM=y
CONFIG_PWM_ATMEL_TCB=y
CONFIG_CLKSRC_I8253=y
CONFIG_FW_LOADER=y
CONFIG_RMI4_F03=y
CONFIG_DAMON=y
CONFIG_HAVE_KPROBES=y
CONFIG_TOUCHSCREEN_CYTTSP_CORE=y
CONFIG_CC_HAS_IBT=y
CONFIG_VT_CONSOLE_SLEEP=y
CONFIG_MUX_GPIO=y
CONFIG_CC_HAS_SLS=y
CONFIG_DMA_DECLARE_COHERENT=y
CONFIG_JFFS2_FS=y
CONFIG_DEBUG_KMAP_LOCAL_FORCE_MAP=y
CONFIG_RANDSTRUCT=y
CONFIG_LEDS_TRIGGER_MTD=y
CONFIG_ARCH_SUPPORTS_KEXEC_JUMP=y
CONFIG_PREEMPTION=y
CONFIG_RTC_DRV_RS5C372=y
CONFIG_CHARGER_MT6360=y
CONFIG_ARCH_WANTS_NO_INSTR=y
CONFIG_REGULATOR_ACT8865=y
CONFIG_X509_CERTIFICATE_PARSER=y
CONFIG_HID_VRC2=y
CONFIG_CRYPTO_AUTHENC=y
CONFIG_DMADEVICES=y
CONFIG_BACKLIGHT_LM3533=y
CONFIG_MIGRATION=y
CONFIG_HID_SUNPLUS=y
CONFIG_ICS932S401=y
CONFIG_MFD_MADERA=y
CONFIG_BOOT_CONFIG_EMBED=y
CONFIG_INPUT_TPS65219_PWRBUTTON=y
CONFIG_FORCE_TASKS_RUDE_RCU=y
CONFIG_DEFAULT_SECURITY_DAC=y
CONFIG_LEDS_TRIGGER_HEARTBEAT=y
CONFIG_ARCH_HAS_SYSCALL_WRAPPER=y
CONFIG_TOUCHSCREEN_S6SY761=y
CONFIG_LEDS_LP8860=y
CONFIG_I2C_MUX_GPIO=y
CONFIG_FB_MODE_HELPERS=y
CONFIG_TOUCHSCREEN_HYNITRON_CSTXXX=y
CONFIG_OF_EARLY_FLATTREE=y
CONFIG_MTD_OTP=y
CONFIG_USB_COMMON=y
CONFIG_VT=y
CONFIG_INITRAMFS_PRESERVE_MTIME=y
CONFIG_DEBUG_WQ_FORCE_RR_CPU=y
CONFIG_MFD_CS40L50_CORE=y
CONFIG_LEDS_LP5860_CORE=y
CONFIG_REGULATOR_TPS6507X=y
CONFIG_REGULATOR_DA9211=y
CONFIG_ARCH_32BIT_OFF_T=y
CONFIG_SYSCTL_EXCEPTION_TRACE=y
CONFIG_RCU_SCALE_TEST=y
CONFIG_PREVENT_FIRMWARE_BUILD=y
CONFIG_RUSTC_HAS_FILE_WITH_NUL=y
CONFIG_TOUCHSCREEN_ATMEL_MXT=y
CONFIG_HID_MULTITOUCH=y
CONFIG_TOUCHSCREEN_GUNZE=y
CONFIG_CHECK_SIGNATURE=y
CONFIG_MADERA_IRQ=y
CONFIG_HAVE_ARCH_SECCOMP=y
CONFIG_HID_KYSONA=y
CONFIG_REGULATOR_MAX8649=y
CONFIG_USB_APPLEDISPLAY=y
CONFIG_MICROCODE=y
CONFIG_HSI=y
CONFIG_CRYPTO_AKCIPHER2=y
CONFIG_RESET_TI_TPS380X=y
CONFIG_DMADEVICES_DEBUG=y
CONFIG_BACKLIGHT_GPIO=y
CONFIG_REGULATOR_PFUZE100=y
CONFIG_HAVE_IRQ_TIME_ACCOUNTING=y
CONFIG_MPILIB=y
CONFIG_GCC_PLUGIN_STACKLEAK=y
CONFIG_FW_LOADER_USER_HELPER=y
CONFIG_APPLE_MFI_FASTCHARGE=y
CONFIG_TCG_TIS_CORE=y
CONFIG_TOUCHSCREEN_USB_ELO=y
CONFIG_AS_WRUSS=y
CONFIG_KEYBOARD_MATRIX=y
CONFIG_CHARGER_ADP5061=y
CONFIG_REGULATOR_RTQ6752=y
CONFIG_FORCE_TASKS_RCU=y
CONFIG_MTD_CFI_UTIL=y
CONFIG_REGULATOR_MAX8925=y
CONFIG_SERIO_ALTERA_PS2=y
CONFIG_TOUCHSCREEN_IMX6UL_TSC=y
CONFIG_IPMI_WATCHDOG=y
CONFIG_IPMI_SSIF=y
CONFIG_CRYPTO_RMD160=y
CONFIG_SPARSEMEM=y
CONFIG_HAVE_CMPXCHG_LOCAL=y
CONFIG_HID_GOOGLE_STADIA_FF=y
CONFIG_CRYPTO_MLDSA=y
CONFIG_TOUCHSCREEN_ZFORCE=y
CONFIG_REGULATOR_TPS65132=y
CONFIG_INPUT_TABLET=y
CONFIG_PROC_MEM_NO_FORCE=y
CONFIG_OF_IRQ=y
CONFIG_SYSTEM_REVOCATION_LIST=y
CONFIG_LEDS_TPS6131X=y
CONFIG_CRYPTO_LIB_AESCFB=y
CONFIG_X86_EXTENDED_PLATFORM=y
CONFIG_TOUCHSCREEN_ZINITIX=y
CONFIG_CHARGER_RT5033=y
CONFIG_CRYPTO_LIB_CHACHA=y
CONFIG_HID_ZYDACRON=y
CONFIG_GPIO_SCH311X=y
CONFIG_CHARGER_BQ2515X=y
CONFIG_HAVE_DYNAMIC_FTRACE=y
CONFIG_HID_REDRAGON=y
CONFIG_COMPAT_BRK=y
CONFIG_SURFACE_PLATFORMS=y
CONFIG_I2C_MUX_REG=y
CONFIG_USB_WDM=y
CONFIG_PHY_SAMSUNG_USB2=y
CONFIG_HAVE_KERNEL_LZO=y
CONFIG_CRYPTO_KDF800108_CTR=y
CONFIG_W1_SLAVE_SMEM=y
CONFIG_CRYPTO_CTS=y
CONFIG_SERIO_ARC_PS2=y
CONFIG_HUGETLBFS=y
CONFIG_CHARGER_BQ25980=y
CONFIG_USB_ADUTUX=y
CONFIG_X86_REQUIRED_FEATURE_ALWAYS=y
CONFIG_BACKLIGHT_ADP8870=y
CONFIG_RTC_DRV_DS2404=y
CONFIG_REGULATOR_MAX77686=y
CONFIG_COMEDI_8255_SA=y
CONFIG_KRETPROBES=y
CONFIG_HID_CMEDIA=y
CONFIG_OID_REGISTRY=y
CONFIG_PHY_GOOGLE_USB=y
CONFIG_X86_IO_APIC=y
CONFIG_USB_DWC3_GOOGLE=y
CONFIG_REGULATOR_RN5T618=y
CONFIG_REGULATOR_RTMV20=y
CONFIG_X86_MCE_INJECT=y
CONFIG_QCOM_HIDMA=y
CONFIG_SCHED_TRACER=y
CONFIG_POWER_RESET_QEMU_VIRT_CTRL=y
CONFIG_CRYPTO_SM4=y
CONFIG_CRYPTO_MD4=y
CONFIG_W1=y
CONFIG_NLS_MAC_CENTEURO=y
CONFIG_CRYPTO_SHA3=y
CONFIG_DAMON_VADDR=y
CONFIG_INIT_STACK_NONE=y
CONFIG_FB_CORE=y
CONFIG_PINCTRL_CS47L90=y
CONFIG_REGULATOR_PF530X=y
CONFIG_LEDS_PCA963X=y
CONFIG_CRYPTO_NULL=y
CONFIG_PROFILING=y
CONFIG_FB_S1D13XXX=y
CONFIG_FB_METRONOME=y
CONFIG_CEC_NOTIFIER=y
CONFIG_INPUT_PWM_VIBRA=y
CONFIG_HID_KENSINGTON=y
CONFIG_INPUT_LEDS=y
CONFIG_GPIO_NCT6694=y
CONFIG_X86_SPEEDSTEP_LIB=y
CONFIG_FB_TILEBLITTING=y
CONFIG_BPF=y
CONFIG_ALTERA_PR_IP_CORE=y
CONFIG_MFD_STMFX=y
CONFIG_VMGENID=y
CONFIG_CRYPTO_CAMELLIA=y
CONFIG_MTD_PHYSMAP_OF=y
CONFIG_FB_CFB_IMAGEBLIT=y
CONFIG_CPU_SUP_INTEL=y
CONFIG_ARCH_MIGHT_HAVE_PC_SERIO=y
CONFIG_REGULATOR_MAX20411=y
CONFIG_CRYPTO_DEV_ATMEL_ECC=y
CONFIG_CRYPTO_MANAGER2=y
CONFIG_I2C_MUX_PCA9541=y
CONFIG_GENERIC_EARLY_IOREMAP=y
CONFIG_FB_IOMEM_FOPS=y
CONFIG_RTC_DRV_STK17TA8=y
CONFIG_UNIX98_PTYS=y
CONFIG_I2C_SIMTEC=y
CONFIG_MFD_AS3711=y
CONFIG_X86_DISABLED_FEATURE_IBT=y
CONFIG_VT_CONSOLE=y
CONFIG_MANAGER_SBS=y
CONFIG_RMI4_CORE=y
CONFIG_TOUCHSCREEN_TSC200X_CORE=y
CONFIG_CRYPTO_KPP=y
CONFIG_IRQ_TIME_ACCOUNTING=y
CONFIG_TRACING_BRANCHES=y
CONFIG_NLS_CODEPAGE_855=y
CONFIG_IOMMU_API=y
CONFIG_TCG_TIS_I2C_ATMEL=y
CONFIG_MFD_RETU=y
CONFIG_TOUCHSCREEN_AR1021_I2C=y
CONFIG_REGULATOR_MC13783=y
CONFIG_TRACE_IRQFLAGS=y
CONFIG_ISA_DMA_API=y
CONFIG_APERTURE_HELPERS=y
CONFIG_DEBUG_FS_ALLOW_ALL=y
CONFIG_JFFS2_CMODE_NONE=y
CONFIG_ARCH_HAS_PREEMPT_LAZY=y
CONFIG_RUSTC_HAS_UNNECESSARY_TRANSMUTES=y
CONFIG_MFD_CS47L24=y
CONFIG_USB_IDMOUSE=y
CONFIG_ARCH_SUPPORTS_ACPI=y
CONFIG_INPUT_KEYBOARD=y
CONFIG_CC_HAS_ENTRY_PADDING=y
CONFIG_KSTACK_ERASE_RUNTIME_DISABLE=y
CONFIG_CRC_CCITT=y
CONFIG_ARCH_SUPPORTS_HUGETLBFS=y
CONFIG_REGULATOR_MT6397=y
CONFIG_MFD_MC13XXX_I2C=y
CONFIG_CEC_GPIO=y
CONFIG_MICROCODE_DBG=y
CONFIG_MEMFD_CREATE=y
CONFIG_PSTORE_RAM=y
CONFIG_FPGA=y
CONFIG_BPF_JIT=y
CONFIG_NLS_ISO8859_5=y
CONFIG_CRYPTO_SM4_GENERIC=y
CONFIG_BACKLIGHT_MAX25014=y
CONFIG_X86_INTEL_USERCOPY=y
CONFIG_DEBUG_VM_PGFLAGS=y
CONFIG_INPUT_IDEAPAD_SLIDEBAR=y
CONFIG_GPIO_GRGPIO=y
CONFIG_FANOTIFY=y
CONFIG_RING_BUFFER_ALLOW_SWAP=y
CONFIG_DMABUF_HEAPS=y
CONFIG_NEW_LEDS=y
CONFIG_LINEAR_RANGES=y
CONFIG_LEDS_EXPRESSWIRE=y
CONFIG_DMA_SHARED_BUFFER=y
CONFIG_CHARGER_BQ2415X=y
CONFIG_TYPEC_HD3SS3220=y
CONFIG_ARCH_USES_PG_ARCH_2=y
CONFIG_KVM_GUEST=y
CONFIG_HAVE_HW_BREAKPOINT=y
CONFIG_PREEMPT_COUNT=y
CONFIG_MHI_BUS_EP=y
CONFIG_ARCH_WANT_IRQS_OFF_ACTIVATE_MM=y
CONFIG_X86_DISABLED_FEATURE_SGX=y
CONFIG_MEMSTICK=y
CONFIG_MTD_GEN_PROBE=y
CONFIG_X86_P4_CLOCKMOD=y
CONFIG_GENERIC_ENTRY=y
CONFIG_COMEDI=y
CONFIG_IR_MCE_KBD_DECODER=y
CONFIG_BPF_EVENTS=y
CONFIG_TWL6040_CORE=y
CONFIG_HID_WINWING=y
CONFIG_RTC_DRV_SD3078=y
CONFIG_MFD_TI_LP87565=y
CONFIG_TRACE_IRQFLAGS_SUPPORT=y
CONFIG_GPIO_PCF857X=y
CONFIG_CRYPTO_LIB_MLDSA=y
CONFIG_SGETMASK_SYSCALL=y
CONFIG_OF_IOMMU=y
CONFIG_POWER_RESET_REGULATOR=y
CONFIG_HAS_DMA=y
