CONFIG_MODULES_TREE_LOOKUP=n
CONFIG_HVC_DRIVER=n
CONFIG_FHANDLE=n
CONFIG_DMADEVICES=n
CONFIG_PROFILING=n
CONFIG_SUSPEND_FREEZER=n
CONFIG_EFI_EARLYCON=n
CONFIG_NET_HANDSHAKE=n
CONFIG_TIMERFD=n
CONFIG_HAVE_KERNEL_GZIP=n
CONFIG_DW_DMAC_CORE=n
CONFIG_AUDIT=n
CONFIG_PCI_BIOS=n
CONFIG_HAVE_POSIX_CPU_TIMERS_TASK_WORK=n
CONFIG_MITIGATION_RFDS=n
CONFIG_HIBERNATION_SNAPSHOT_DEV=n
CONFIG_VGA_ARB=n
CONFIG_SND_INTEL_NHLT=n
CONFIG_X86_SUPPORTS_MEMORY_FAILURE=n
CONFIG_GENERIC_ALLOCATOR=n
CONFIG_GENERIC_CPU_AUTOPROBE=n
CONFIG_CPUSETS=n
CONFIG_GENERIC_NET_UTILS=n
CONFIG_SECURITY=n
CONFIG_THERMAL_DEFAULT_GOV_STEP_WISE=n
CONFIG_INPUT_MISC=n
CONFIG_MMU_GATHER_TABLE_FREE=n
CONFIG_TRACEFS_AUTOMOUNT_DEPRECATED=n
CONFIG_QFMT_V2=n
CONFIG_CRYPTO_LIB_SHA256=n
CONFIG_DECOMPRESS_GZIP=n
CONFIG_PREVENT_FIRMWARE_BUILD=n
CONFIG_BLK_DEV_SD=n
CONFIG_I2C_BOARDINFO=n
CONFIG_USB_EHCI_PCI=n
CONFIG_USB=n
CONFIG_PRINTK_TIME=n
CONFIG_MOUSE_PS2_LIFEBOOK=n
CONFIG_I3C_OR_I2C=n
CONFIG_ACPI_BATTERY=n
CONFIG_ZONE_DMA=n
CONFIG_BLK_DEV=n
CONFIG_TIME_NS=n
CONFIG_NET=n
CONFIG_SYSVIPC=n
CONFIG_PROC_MEM_FORCE_PTRACE=n
CONFIG_ISA_DMA_API=n
CONFIG_X86_INTEL_PSTATE=n
CONFIG_VHOST_ENABLE_FORK_OWNER_CONTROL=n
CONFIG_CRYPTO_ACOMP2=n
CONFIG_TRACE_IRQFLAGS_NMI_SUPPORT=n
CONFIG_HAVE_PERF_USER_STACK_DUMP=n
CONFIG_XFRM_ESP=n
CONFIG_AGP_AMD64=n
CONFIG_NET_VENDOR_VIA=n
CONFIG_CDROM=n
CONFIG_X86_DISABLED_FEATURE_PCID=n
CONFIG_BLK_DEV_MD=n
CONFIG_HAVE_MOVE_PUD=n
CONFIG_SND_PCMCIA=n
CONFIG_CPU_IDLE=n
CONFIG_SND_SEQ_HRTIMER_DEFAULT=n
CONFIG_CC_HAS_NAMED_AS_FIXED_SANITIZERS=n
CONFIG_NET_DEVMEM=n
CONFIG_HID_SONY=n
CONFIG_INTERVAL_TREE=n
CONFIG_X86_VERBOSE_BOOTUP=n
CONFIG_ACPI_BUTTON=n
CONFIG_NET_VENDOR_ARC=n
CONFIG_SCSI_MOD=n
CONFIG_STRICT_KERNEL_RWX=n
CONFIG_GENERIC_IRQ_SHOW=n
CONFIG_CGROUPS=n
CONFIG_DEFAULT_CUBIC=n
CONFIG_X86_DISABLED_FEATURE_SEV_SNP=n
CONFIG_NET_SCH_FIFO=n
CONFIG_SERIAL_8250_MID=n
CONFIG_PERF_EVENTS_INTEL_RAPL=n
CONFIG_DMI_SCAN_MACHINE_NON_EFI_FALLBACK=n
CONFIG_SSB_POSSIBLE=n
CONFIG_CACHESTAT_SYSCALL=n
CONFIG_I2C_SMBUS=n
CONFIG_GRACE_PERIOD=n
CONFIG_CRYPTO_CBC=n
CONFIG_NET_VENDOR_MARVELL=n
CONFIG_RTC_INTF_SYSFS=n
CONFIG_ACPI_I2C_OPREGION=n
CONFIG_ACPI_WMI=n
CONFIG_RELOCATABLE=n
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_REGS=n
CONFIG_ACPI_BGRT=n
CONFIG_CC_HAS_KASAN_GENERIC=n
CONFIG_FONT_AUTOSELECT=n
CONFIG_GENERIC_ENTRY=n
CONFIG_NET_VENDOR_I825XX=n
CONFIG_HAVE_KERNEL_LZ4=n
CONFIG_RD_LZO=n
CONFIG_WLAN_VENDOR_ST=n
CONFIG_ARCH_SUPPORTS_MEMORY_FAILURE=n
CONFIG_ARCH_SUPPORTS_AUTOFDO_CLANG=n
CONFIG_BLOCK_LEGACY_AUTOLOAD=n
CONFIG_SND_JACK_INPUT_DEV=n
CONFIG_MITIGATION_GDS=n
CONFIG_SG_POOL=n
CONFIG_CPU_FREQ=n
CONFIG_HID_TOPSEED=n
CONFIG_DECOMPRESS_LZMA=n
CONFIG_MPILIB=n
CONFIG_EFIVAR_FS=n
CONFIG_MODULES=n
CONFIG_ARCH_HAS_SYNC_CORE_BEFORE_USERMODE=n
CONFIG_SCHED_MC=n
CONFIG_TCP_CONG_ADVANCED=n
CONFIG_SND_USB=n
CONFIG_SERIAL_8250=n
CONFIG_FIRMWARE_TABLE=n
CONFIG_SECURITY_SELINUX_BOOTPARAM=n
CONFIG_REGMAP=n
CONFIG_IO_WQ=n
CONFIG_WMI_BMOF=n
CONFIG_LTO_NONE=n
CONFIG_SECTION_MISMATCH_WARN_ONLY=n
CONFIG_RANDOMIZE_KSTACK_OFFSET=n
CONFIG_HAVE_EBPF_JIT=n
CONFIG_CRYPTO_ECB=n
CONFIG_NETFILTER_XT_MATCH_POLICY=n
CONFIG_NET_VENDOR_MICROSEMI=n
CONFIG_XZ_DEC_ARMTHUMB=n
CONFIG_ACPI_THERMAL=n
CONFIG_RWSEM_SPIN_ON_OWNER=n
CONFIG_X86_PAT=n
CONFIG_X86_MSR=n
CONFIG_NET_VENDOR_XIRCOM=n
CONFIG_CRYPTO_HASH_INFO=n
CONFIG_PCI_DOMAINS=n
CONFIG_QUOTA_NETLINK_INTERFACE=n
CONFIG_ARCH_HAS_STRICT_KERNEL_RWX=n
CONFIG_RUNTIME_TESTING_MENU=n
CONFIG_CRC32=n
CONFIG_NLS_ASCII=n
CONFIG_X86_DISABLED_FEATURE_RETHUNK=n
CONFIG_STACKTRACE=n
CONFIG_NET_VENDOR_NETRONOME=n
CONFIG_POSIX_CPU_TIMERS_TASK_WORK=n
CONFIG_IPV6_NDISC_NODETYPE=n
CONFIG_DM_MIRROR=n
CONFIG_PID_NS=n
CONFIG_IP6_NF_IPTABLES=n
CONFIG_HAVE_GENERIC_TIF_BITS=n
CONFIG_WLAN_VENDOR_MARVELL=n
CONFIG_RFKILL_INPUT=n
CONFIG_CC_CAN_LINK=n
CONFIG_SCREEN_INFO=n
CONFIG_INPUT_FF_MEMLESS=n
CONFIG_ARCH_SUPPORTS_ACPI=n
CONFIG_VIRTIO_ANCHOR=n
CONFIG_EXECMEM=n
CONFIG_INET6_ESP=n
CONFIG_MITIGATION_SPECTRE_V2=n
CONFIG_NETWORK_SECMARK=n
CONFIG_HARDIRQS_SW_RESEND=n
CONFIG_HAVE_EFFICIENT_UNALIGNED_ACCESS=n
CONFIG_NEW_LEDS=n
CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE=n
CONFIG_GENERIC_SYSCALL=n
CONFIG_BUG=n
CONFIG_MOUSE_PS2_SMBUS=n
CONFIG_XZ_DEC_ARM=n
CONFIG_ARCH_MIGHT_HAVE_PC_SERIO=n
CONFIG_X86_PKG_TEMP_THERMAL=n
CONFIG_SND_CTL_FAST_LOOKUP=n
CONFIG_ARCH_HAS_ELF_RANDOMIZE=n
CONFIG_PHYLIB=n
CONFIG_USB_XHCI_PCI=n
CONFIG_USB_STORAGE=n
CONFIG_CONSOLE_TRANSLATIONS=n
CONFIG_FS_IOMAP=n
CONFIG_TASKS_RCU_GENERIC=n
CONFIG_DRM_TTM=n
CONFIG_CGROUP_NET_CLASSID=n
CONFIG_RD_LZ4=n
CONFIG_MAC_EMUMOUSEBTN=n
CONFIG_HAVE_STATIC_CALL=n
CONFIG_XFRM_ALGO=n
CONFIG_ATA_VERBOSE_ERROR=n
CONFIG_R8169=n
CONFIG_USB_OHCI_HCD=n
CONFIG_AGP=n
CONFIG_CRYPTO=n
CONFIG_MULTIUSER=n
CONFIG_DNS_RESOLVER=n
CONFIG_HAVE_EXIT_THREAD=n
CONFIG_NET_VENDOR_MUCSE=n
CONFIG_NET_VENDOR_QUALCOMM=n
CONFIG_NF_REJECT_IPV4=n
CONFIG_ARCH_VMLINUX_NEEDS_RELOCS=n
CONFIG_GENERIC_CLOCKEVENTS=n
CONFIG_BLK_CGROUP_IOLATENCY=n
CONFIG_WATCHDOG_HANDLE_BOOT_ENABLED=n
CONFIG_RANDOMIZE_BASE=n
CONFIG_HAVE_GENERIC_VDSO=n
CONFIG_NF_REJECT_IPV6=n
CONFIG_FTRACE=n
CONFIG_PCI_GOANY=n
CONFIG_X86_DISABLED_FEATURE_UNRET=n
CONFIG_HAVE_ALIGNED_STRUCT_PAGE=n
CONFIG_PCI_MSI=n
CONFIG_DRM_I915=n
CONFIG_ARCH_SPLIT_ARG64=n
CONFIG_ALLOW_DEV_COREDUMP=n
CONFIG_USB_PRINTER=n
CONFIG_AUDITSYSCALL=n
CONFIG_CC_NO_ARRAY_BOUNDS=n
CONFIG_SMP=n
CONFIG_MSDOS_PARTITION=n
CONFIG_MII=n
CONFIG_LD_CAN_USE_KEEP_IN_OVERLAY=n
CONFIG_USB_HID=n
CONFIG_NET_VENDOR_WIZNET=n
CONFIG_MD_BITMAP=n
CONFIG_RFS_ACCEL=n
CONFIG_BINFMT_MISC=n
CONFIG_EVENT_TRACING=n
CONFIG_ARCH_HAS_FORTIFY_SOURCE=n
CONFIG_QUOTACTL=n
CONFIG_CRYPTO_HW=n
CONFIG_POWER_SUPPLY_HWMON=n
CONFIG_NET_VENDOR_XILINX=n
CONFIG_LEGACY_DIRECT_IO=n
CONFIG_PATA_OLDPIIX=n
CONFIG_HAVE_PREEMPT_DYNAMIC_CALL=n
CONFIG_NET_VENDOR_MICROCHIP=n
CONFIG_HAVE_GUP_FAST=n
CONFIG_ARCH_MAY_HAVE_PC_FDC=n
CONFIG_SECURITY_SELINUX_DEVELOP=n
CONFIG_PREEMPT_BUILD=n
CONFIG_POSIX_MQUEUE=n
CONFIG_HW_RANDOM_AMD=n
CONFIG_SERIAL_8250_DWLIB=n
CONFIG_MAGIC_SYSRQ_SERIAL=n
CONFIG_SND_HDA_I915=n
CONFIG_MITIGATION_TSA=n
CONFIG_PTP_1588_CLOCK_OPTIONAL=n
CONFIG_NFS_FS=n
CONFIG_DRM_PANEL_ORIENTATION_QUIRKS=n
CONFIG_PAGE_COUNTER=n
CONFIG_I2C_I801=n
CONFIG_TMPFS=n
CONFIG_HAVE_EISA=n
CONFIG_ARCH_32BIT_OFF_T=n
CONFIG_ARCH_MHP_MEMMAP_ON_MEMORY_ENABLE=n
CONFIG_SURFACE_PLATFORMS=n
CONFIG_YENTA_ENE_TUNE=n
CONFIG_X86_CX8=n
CONFIG_CRYPTO_CTR=n
CONFIG_RTC_NVMEM=n
CONFIG_NET_VENDOR_SOLARFLARE=n
CONFIG_HAVE_ARCH_KSTACK_ERASE=n
CONFIG_PNFS_FILE_LAYOUT=n
CONFIG_ARCH_HAS_PTDUMP=n
CONFIG_NET_VENDOR_ROCKER=n
CONFIG_RCU_NEED_SEGCBLIST=n
CONFIG_ARCH_USE_SYM_ANNOTATIONS=n
CONFIG_CRYPTO_HASH2=n
CONFIG_ARCH_MIGHT_HAVE_ACPI_PDC=n
CONFIG_NVRAM=n
CONFIG_KPROBES=n
CONFIG_VIRTIO_PCI_LIB=n
CONFIG_NET_VENDOR_RDC=n
CONFIG_DEVPORT=n
CONFIG_SECURITY_NETWORK=n
CONFIG_ARCH_WANT_IPC_PARSE_VERSION=n
CONFIG_UNIX98_PTYS=n
CONFIG_HAVE_MIXED_BREAKPOINTS_REGS=n
CONFIG_DRM_KMS_HELPER=n
CONFIG_HAVE_FUNCTION_TRACER=n
CONFIG_GENERIC_EARLY_IOREMAP=n
CONFIG_XZ_DEC_POWERPC=n
CONFIG_CRYPTO_CCM=n
CONFIG_HUGETLBFS=n
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE=n
CONFIG_LOCK_DEBUGGING_SUPPORT=n
CONFIG_SCSI=n
CONFIG_SND_HWDEP=n
CONFIG_THERMAL_NETLINK=n
CONFIG_NFS_ACL_SUPPORT=n
CONFIG_CPU_IDLE_GOV_HALTPOLL=n
CONFIG_PCCARD_NONSTATIC=n
CONFIG_X86_16BIT=n
CONFIG_VMAP_PFN=n
CONFIG_ROOT_NFS=n
CONFIG_ARCH_CONFIGURES_CPU_MITIGATIONS=n
CONFIG_SYN_COOKIES=n
CONFIG_BLK_CGROUP_IOPRIO=n
CONFIG_DECOMPRESS_ZSTD=n
CONFIG_NF_LOG_SYSLOG=n
CONFIG_ACPI_THERMAL_LIB=n
CONFIG_PREEMPT_COUNT=n
CONFIG_PM_SLEEP_DEBUG=n
CONFIG_IRQ_WORK=n
