CONFIG_ARCH_HAS_CPU_CACHE_INVALIDATE_MEMREGION=n
CONFIG_BT_BREDR=n
CONFIG_NET_DSA_TAG_BRCM_LEGACY=n
CONFIG_LOCK_SPIN_ON_OWNER=n
CONFIG_STRICT_KERNEL_RWX=n
CONFIG_ARM_AIROHA_SOC_CPUFREQ=n
CONFIG_SUNXI_RSB=n
CONFIG_MEDIA_TUNER_TDA18271=n
CONFIG_KCMP=n
CONFIG_RTD119X_WATCHDOG=n
CONFIG_SCSI_UFSHCD_PLATFORM=n
CONFIG_HSR=n
CONFIG_NFS_V4_0=n
CONFIG_INTERCONNECT_QCOM_GLYMUR=n
CONFIG_INTERCONNECT_QCOM_SM8450=n
CONFIG_ARM64_PTR_AUTH=n
CONFIG_DMA_OF=n
CONFIG_MFD_MAX77759=n
CONFIG_SM_GCC_8150=n
CONFIG_ARM_SCMI_HAVE_SHMEM=n
CONFIG_PHY_RCAR_GEN3_USB3=n
CONFIG_SERIAL_BCM63XX=n
CONFIG_MFD_WCD934X=n
CONFIG_SOCK_RX_QUEUE_MAPPING=n
CONFIG_R8169=n
CONFIG_BATTERY_BQ27XXX=n
CONFIG_TYPEC_QCOM_PMIC=n
CONFIG_CRYPTO_AES_ARM64_CE_BLK=n
CONFIG_NET_SCH_FIFO=n
CONFIG_SYSC_R8A77970=n
CONFIG_EFI_EARLYCON=n
CONFIG_MIGRATION=n
CONFIG_EINT_MTK=n
CONFIG_SND_SOC_LPASS_RX_MACRO=n
CONFIG_REED_SOLOMON_ENC8=n
CONFIG_MICROSEMI_PHY=n
CONFIG_SYSTEM_TRUSTED_KEYRING=n
CONFIG_MMC_QCOM_DML=n
CONFIG_REALTEK_PHY=n
CONFIG_HW_RANDOM_OPTEE=n
CONFIG_HOTPLUG_SMT=n
CONFIG_DWMAC_S32=n
CONFIG_SOUND=n
CONFIG_PCS_LYNX=n
CONFIG_PHY_QCOM_USB_HS_28NM=n
CONFIG_NET_VENDOR_WIZNET=n
CONFIG_GPIO_MXC=n
CONFIG_SND_SOC_TI_SDMA_PCM=n
CONFIG_MEDIATEK_MT6577_AUXADC=n
CONFIG_CPUSETS=n
CONFIG_RPMSG_QCOM_GLINK_RPM=n
CONFIG_MODULES=n
CONFIG_PNPACPI=n
CONFIG_SND_SOC_TEGRA186_ASRC=n
CONFIG_SYSCTL=n
CONFIG_DECOMPRESS_LZ4=n
CONFIG_SM_GCC_8450=n
CONFIG_HW_RANDOM_CAVIUM=n
CONFIG_ARCH_WANT_FRAME_POINTERS=n
CONFIG_PINCTRL_MT6893=n
CONFIG_FB_SYSMEM_HELPERS=n
CONFIG_INTERCONNECT=n
CONFIG_IWLWIFI_LEDS=n
CONFIG_BLK_DEV_LOOP=n
CONFIG_QCOM_FALKOR_ERRATUM_1003=n
CONFIG_DRM_DISPLAY_HDMI_AUDIO_HELPER=n
CONFIG_HISILICON_IRQ_MBIGEN=n
CONFIG_SND_SUN4I_SPDIF=n
CONFIG_GENERIC_ALLOCATOR=n
CONFIG_CPU_FREQ_GOV_ONDEMAND=n
CONFIG_NET_VENDOR_HISILICON=n
CONFIG_USB_BELKIN=n
CONFIG_NVMEM_ROCKCHIP_EFUSE=n
CONFIG_MTD_DATAFLASH=n
CONFIG_CRYPTO_LIB_SHA3=n
CONFIG_I2C_BCM_IPROC=n
CONFIG_CRYPTO_USER_API_RNG=n
CONFIG_SPI_FSL_LPSPI=n
CONFIG_REGULATOR_ARM_SCMI=n
CONFIG_DRM_MSM_MDP5=n
CONFIG_SND_SOC_QDSP6_ROUTING=n
CONFIG_SCSI_UFSHCD=n
CONFIG_DRM_DISPLAY_HDMI_HELPER=n
CONFIG_RTC_DRV_RX8581=n
CONFIG_ARM64_LPA2=n
CONFIG_CRYPTO_DES=n
CONFIG_SOC_IMX9=n
CONFIG_FUSE_IO_URING=n
CONFIG_SND_SOC_RT5682S=n
CONFIG_REED_SOLOMON=n
CONFIG_SERIAL_8250_PCILIB=n
CONFIG_SND_MESON_G12A_TOHDMITX=n
CONFIG_ARCH_USE_QUEUED_SPINLOCKS=n
CONFIG_HIBERNATION_COMP_LZO=n
CONFIG_TI_K3_AM65_CPSW_NUSS=n
CONFIG_MMC_STM32_SDMMC=n
CONFIG_ARCH_HAS_SET_DIRECT_MAP=n
CONFIG_CLK_RK3568=n
CONFIG_PACKET=n
CONFIG_MMC_SDHCI_OF_ARASAN=n
CONFIG_SPI_MESON_SPIFC=n
CONFIG_ARCH_SUPPORTS_CRASH_DUMP=n
CONFIG_SND_SOC_SDCA_OPTIONAL=n
CONFIG_MTD_CFI_ADV_OPTIONS=n
CONFIG_ARCH_HAS_PTE_SPECIAL=n
CONFIG_INPUT_XEN_KBDDEV_FRONTEND=n
CONFIG_USB_ISP1760_DUAL_ROLE=n
CONFIG_SENSORS_ISL29018=n
CONFIG_NPCM7XX_TIMER=n
CONFIG_I2C_QCOM_CCI=n
CONFIG_CRYPTO_DEV_HISI_HPRE=n
CONFIG_HAVE_ARCH_KFENCE=n
CONFIG_REGULATOR_QCOM_USB_VBUS=n
CONFIG_UVC_COMMON=n
CONFIG_REGULATOR_BD9571MWV=n
CONFIG_INOTIFY_USER=n
CONFIG_CPU_RMAP=n
CONFIG_LEDS_TRIGGER_DISK=n
CONFIG_TYPEC_TPS6598X=n
CONFIG_VIDEO_DEV=n
CONFIG_ARCH_HAVE_ELF_PROT=n
CONFIG_MARVELL_PHY=n
CONFIG_SERIAL_8250_EXAR=n
CONFIG_INPUT_PM8XXX_VIBRATOR=n
CONFIG_QCOM_ICC_BWMON=n
CONFIG_MV_XOR_V2=n
CONFIG_SERIAL_MESON=n
CONFIG_MTK_CPUX_TIMER=n
CONFIG_SPI_RSPI=n
CONFIG_COMMON_CLK_MT8188_IMP_IIC_WRAP=n
CONFIG_OID_REGISTRY=n
CONFIG_PINCTRL_MESON=n
CONFIG_NET_VENDOR_EMULEX=n
CONFIG_HW_RANDOM_ROCKCHIP=n
CONFIG_HAVE_RSEQ=n
CONFIG_CLK_IMX93=n
CONFIG_ARM64_PA_BITS_52=n
CONFIG_IRQ_BYPASS_MANAGER=n
CONFIG_QCS_VIDEOCC_615=n
CONFIG_CRYPTO_MANAGER2=n
CONFIG_PINCTRL_SM6350=n
CONFIG_SUN50I_A100_R_CCU=n
CONFIG_BPF_UNPRIV_DEFAULT_OFF=n
CONFIG_PINCTRL_TMPV7700=n
CONFIG_SPI_MT65XX=n
CONFIG_STM_PROTO_BASIC=n
CONFIG_GENERIC_BUG_RELATIVE_POINTERS=n
CONFIG_BRCMSTB_MEMC=n
CONFIG_PNFS_FILE_LAYOUT=n
CONFIG_GPIO_MAX77759=n
CONFIG_CRYPTO_LIB_AES_CBC_MACS=n
CONFIG_SPRD_TIMER=n
CONFIG_CRYPTO_LIB_BLAKE2B=n
CONFIG_CRYPTO_DEV_FSL_CAAM_COMMON=n
CONFIG_NVME_APPLE=n
CONFIG_DRM_PARADE_PS8640=n
CONFIG_PINCTRL_SUN50I_A64_R=n
CONFIG_MTD_NAND_MARVELL=n
CONFIG_USB_MUSB_DUAL_ROLE=n
CONFIG_PKCS7_MESSAGE_PARSER=n
CONFIG_USB_CHIPIDEA_HOST=n
CONFIG_SPI_MASTER=n
CONFIG_MESON_GXL_PHY=n
CONFIG_E1000=n
CONFIG_THP_SWAP=n
CONFIG_USB_LIBCOMPOSITE=n
CONFIG_OMAP_DM_TIMER=n
CONFIG_AUDIT_COMPAT_GENERIC=n
CONFIG_COMMON_CLK_XLNX_CLKWZRD=n
CONFIG_MLX5_SW_STEERING=n
CONFIG_ARCH_SOPHGO=n
CONFIG_ROCKCHIP_DW_HDMI=n
CONFIG_USB_DWC3_OF_SIMPLE=n
CONFIG_PHY_TI_GMII_SEL=n
CONFIG_INTERCONNECT_QCOM_SA8775P=n
CONFIG_SND_SOC_MT8183=n
CONFIG_ARCH_ENABLE_THP_MIGRATION=n
CONFIG_ARM_GIC_V3_ITS_FSL_MC=n
CONFIG_CHARGER_MT6360=n
CONFIG_CRYPTO_KPP2=n
CONFIG_TAP=n
CONFIG_SWIOTLB_XEN=n
CONFIG_QCA808X_PHY=n
CONFIG_QCOM_MPM=n
CONFIG_RPMSG_QCOM_GLINK=n
CONFIG_REGULATOR_BD718XX=n
CONFIG_HW_RANDOM=n
CONFIG_DRM_PANEL_SITRONIX_ST7703=n
CONFIG_ARCH_HAS_FAST_MULTIPLIER=n
CONFIG_EDAC_LAYERSCAPE=n
CONFIG_ETHTOOL_NETLINK=n
CONFIG_WCN36XX=n
CONFIG_TI_ADS1015=n
CONFIG_SYSVIPC_COMPAT=n
CONFIG_PCIE_ROCKCHIP=n
CONFIG_HAVE_PERF_USER_STACK_DUMP=n
CONFIG_NETFILTER_XT_MARK=n
CONFIG_COMMON_CLK_MT7988=n
CONFIG_HAVE_SHARED_GPIOS=n
CONFIG_BT_LEDS=n
CONFIG_SERIAL_STM32_CONSOLE=n
CONFIG_APERTURE_HELPERS=n
CONFIG_PCIE_ROCKCHIP_HOST=n
CONFIG_CRYPTO_DEV_HISI_SEC2=n
CONFIG_NEED_TASKS_RCU=n
CONFIG_COMMON_CLK_MT8173_MMSYS=n
CONFIG_PINCTRL_STM32=n
CONFIG_MTD_PHYSMAP=n
CONFIG_SQUASHFS_FILE_CACHE=n
CONFIG_TEGRA_HSP_MBOX=n
CONFIG_IP_VS=n
CONFIG_PHY_CADENCE_DPHY_RX=n
CONFIG_SND_SOC_SC7180=n
CONFIG_USB_XHCI_HCD=n
CONFIG_PM_SLEEP_SMP=n
CONFIG_CRYPTO_DEV_XILINX_TRNG=n
CONFIG_SYSCTL_EXCEPTION_TRACE=n
CONFIG_VIRTUALIZATION=n
CONFIG_PTP_1588_CLOCK_OPTIONAL=n
CONFIG_TOUCHSCREEN_GOODIX=n
CONFIG_RTC_DRV_MAX77686=n
CONFIG_SM_GPUCC_6115=n
CONFIG_CLK_RK3576=n
CONFIG_IPQ_GCC_9574=n
CONFIG_SERIAL_MESON_CONSOLE=n
CONFIG_DRM_HISI_HIBMC=n
CONFIG_GROUP_SCHED_WEIGHT=n
CONFIG_COMMON_CLK_MT7981_ETHSYS=n
CONFIG_USB_ISP1761_UDC=n
CONFIG_SND_SOC_SC8280XP=n
CONFIG_RESET_MESON_COMMON=n
CONFIG_CLK_KAANAPALI_TCSRCC=n
CONFIG_FONT_SUPPORT=n
CONFIG_LZ4_COMPRESS=n
CONFIG_KEYBOARD_MTK_PMIC=n
CONFIG_I2C_CADENCE=n
CONFIG_GENERIC_ADC_THERMAL=n
CONFIG_MTD_SPI_NAND=n
CONFIG_FSL_ENETC_IERB=n
CONFIG_DECOMPRESS_ZSTD=n
CONFIG_IRQ_DOMAIN_HIERARCHY=n
CONFIG_CRYPTO_CBC=n
CONFIG_SM_GPUCC_8750=n
CONFIG_PAGE_POOL_STATS=n
CONFIG_SND_SOC_QDSP6_COMMON=n
CONFIG_SM_GCC_6115=n
CONFIG_PINCTRL_TEGRA194=n
CONFIG_RZ_MTU3_CNT=n
CONFIG_TI_ICSSG_PRUETH=n
CONFIG_WLCORE_SDIO=n
CONFIG_PHY_QCOM_M31_EUSB=n
CONFIG_PCI_PWRCTRL_GENERIC=n
CONFIG_CAVIUM_ERRATUM_22375=n
CONFIG_SND_SOC_MT6358=n
CONFIG_DRM_ITE_IT6263=n
CONFIG_RTC_DRV_PCF85363=n
CONFIG_SCSI_UFS_ROCKCHIP=n
CONFIG_PADATA=n
CONFIG_I2C_EXYNOS5=n
CONFIG_SND_SOC_WCD_COMMON=n
CONFIG_IIO_CROS_EC_LIGHT_PROX=n
CONFIG_INTERCONNECT_QCOM_KAANAPALI=n
CONFIG_IR_GPIO_CIR=n
CONFIG_MFD_STM32_LPTIMER=n
CONFIG_DRM_MEDIATEK_HDMI=n
CONFIG_SND_PCI=n
CONFIG_IMX2_WDT=n
CONFIG_REGULATOR_MAX8973=n
CONFIG_DRM_NWL_MIPI_DSI=n
CONFIG_BRCMFMAC=n
CONFIG_PINCTRL_IPQ6018=n
CONFIG_GENERIC_IRQ_SHOW_LEVEL=n
CONFIG_SCSI_UFS_VARIABLE_SG_ENTRY_SIZE=n
CONFIG_MTD_CFI_NOSWAP=n
CONFIG_PHY_ROCKCHIP_INNO_HDMI=n
CONFIG_PINCTRL_TEGRA186=n
CONFIG_PHY_MVEBU_A3700_COMPHY=n
CONFIG_NET_VENDOR_I825XX=n
CONFIG_ARCH_SUPPORTS_LTO_CLANG_THIN=n
CONFIG_CRYPTO_DEV_ALLWINNER=n
CONFIG_TCG_TIS_I2C_INFINEON=n
CONFIG_RZG3E_THERMAL=n
CONFIG_MWIFIEX=n
CONFIG_BSD_PROCESS_ACCT=n
CONFIG_FSL_MC_DPIO=n
CONFIG_FSL_MC_BUS=n
CONFIG_COMMON_CLK_PWM=n
CONFIG_NF_CONNTRACK=n
CONFIG_ARCH_SELECTS_KEXEC_FILE=n
CONFIG_CRYPTO_LZO=n
CONFIG_INTERCONNECT_QCOM_SDM845=n
CONFIG_NETFILTER_BPF_LINK=n
CONFIG_DP83869_PHY=n
CONFIG_ROCKCHIP_LVDS=n
CONFIG_COMMON_CLK_MT8195_CAMSYS=n
CONFIG_POWER_RESET_SYSCON_POWEROFF=n
CONFIG_OF_DYNAMIC=n
CONFIG_PAHOLE_HAS_LANG_EXCLUDE=n
CONFIG_VIDEO_CAMERA_LENS=n
CONFIG_NET_9P_VIRTIO=n
