CONFIG_PNP=n
CONFIG_HAVE_HARDLOCKUP_DETECTOR_BUDDY=n
CONFIG_HAVE_KVM_IRQ_ROUTING=n
CONFIG_NET_VENDOR_NVIDIA=n
CONFIG_PACKET=n
CONFIG_RISCV_APLIC_MSI=n
CONFIG_HAVE_PREEMPT_DYNAMIC=n
CONFIG_FB_SYS_COPYAREA=n
CONFIG_PINCTRL_STARFIVE_JH7110_AON=n
CONFIG_DST_CACHE=n
CONFIG_HAVE_VIRT_CPU_ACCOUNTING_GEN=n
CONFIG_USB_F_ACM=n
CONFIG_ARCH_SUPPORTS_KEXEC_FILE=n
CONFIG_EDAC_SUPPORT=n
CONFIG_MEDIA_SUPPORT_FILTER=n
CONFIG_RESET_POLARFIRE_SOC=n
CONFIG_USB_CDNS_HOST=n
CONFIG_ACPI_GENERIC_GSI=n
CONFIG_VDSO_GETRANDOM=n
CONFIG_STP=n
CONFIG_TOOLCHAIN_HAS_V=n
CONFIG_OF_GPIO=n
CONFIG_USB_ARCH_HAS_HCD=n
CONFIG_USB_MUSB_HDRC=n
CONFIG_SND_VERBOSE_PROCFS=n
CONFIG_GPIO_CDEV=n
CONFIG_POLARFIRE_SOC_IRQ_MUX=n
CONFIG_CC_HAS_ASM_INLINE=n
CONFIG_KERNFS=n
CONFIG_INPUT_MOUSEDEV=n
CONFIG_HAS_DMA=n
CONFIG_ARCH_FLATMEM_ENABLE=n
CONFIG_SERIAL_8250_DW=n
CONFIG_MMC_DW_PLTFM=n
CONFIG_COMMON_CLK=n
CONFIG_ARCH_SUPPORTS_INT128=n
CONFIG_CRYPTO_AEAD2=n
CONFIG_HW_RANDOM_ATMEL=n
CONFIG_IRQCHIP=n
CONFIG_SUNRPC_GSS=n
CONFIG_PCS_XPCS=n
CONFIG_AUTOFS_FS=n
CONFIG_THERMAL_GOV_STEP_WISE=n
CONFIG_RFS_ACCEL=n
CONFIG_EEPROM_93CX6=n
CONFIG_VIRTIO_PCI=n
CONFIG_IRQ_DOMAIN_HIERARCHY=n
CONFIG_CAN_BCM=n
CONFIG_SCSI_DMA=n
CONFIG_BLK_MQ_STACKING=n
CONFIG_REGULATOR_AXP20X=n
CONFIG_NET_SCH_FIFO=n
CONFIG_HAVE_FUNCTION_ERROR_INJECTION=n
CONFIG_GENERIC_TIME_VSYSCALL=n
CONFIG_I2C_CHARDEV=n
CONFIG_CRYPTO_KPP2=n
CONFIG_RATIONAL=n
CONFIG_NLS_CODEPAGE_437=n
CONFIG_ARCH_CANAAN=n
CONFIG_ZONE_DMA32=n
CONFIG_DMA_SHARED_BUFFER=n
CONFIG_ACPI_MCFG=n
CONFIG_ARCH_HAS_MEMBARRIER_CALLBACKS=n
CONFIG_ARCH_SUSPEND_POSSIBLE=n
CONFIG_BALLOON=n
CONFIG_FB_SYSMEM_HELPERS=n
CONFIG_CRYPTO_SHA256=n
CONFIG_MFD_SIMPLE_MFD_I2C=n
CONFIG_SIGNALFD=n
CONFIG_SPI_MEM=n
CONFIG_VIRTIO_BALLOON=n
CONFIG_AS_IS_GNU=n
CONFIG_RT_MUTEXES=n
CONFIG_DRM_PANEL_BRIDGE=n
CONFIG_NET_VENDOR_XILINX=n
CONFIG_JUMP_LABEL=n
CONFIG_COMMON_CLK_RPMI=n
CONFIG_USB_GADGET=n
CONFIG_MTD_CFI_UTIL=n
CONFIG_LIBNVDIMM=n
CONFIG_HAVE_SOFTIRQ_ON_OWN_STACK=n
CONFIG_NET_VENDOR_FUNGIBLE=n
CONFIG_EFI_STUB=n
CONFIG_KALLSYMS=n
CONFIG_SECURITY_APPARMOR=n
CONFIG_NET_CORE=n
CONFIG_VIDEO_V4L2_SUBDEV_API=n
CONFIG_FB_SYSMEM_FOPS=n
CONFIG_ERRATA_THEAD=n
CONFIG_JBD2=n
CONFIG_NET_VENDOR_3COM=n
CONFIG_PCIE_PLDA_HOST=n
CONFIG_DWMAC_GENERIC=n
CONFIG_USB_CDNS3_PCI_WRAP=n
CONFIG_WLAN_VENDOR_PURELIFI=n
CONFIG_NF_LOG_SYSLOG=n
CONFIG_SUN55I_PCK600=n
CONFIG_STMMAC_ETH=n
CONFIG_THERMAL_DEFAULT_GOV_STEP_WISE=n
CONFIG_SND_SOC_SPDIF=n
CONFIG_SERIAL_OF_PLATFORM=n
CONFIG_FIRMWARE_TABLE=n
CONFIG_ACPI_PROCESSOR_IDLE=n
CONFIG_POLARFIRE_SOC_SYSCONS=n
CONFIG_SERIAL_8250_EXAR=n
CONFIG_ARCH_ANLOGIC=n
CONFIG_RISCV_PMU=n
CONFIG_SND_USB=n
CONFIG_HAVE_ARCH_JUMP_LABEL_RELATIVE=n
CONFIG_USB_OHCI_LITTLE_ENDIAN=n
CONFIG_DECOMPRESS_XZ=n
CONFIG_IOMMU_SUPPORT=n
CONFIG_DEVTMPFS_MOUNT=n
CONFIG_IP6_NF_IPTABLES=n
CONFIG_SHMEM=n
CONFIG_I2C_BOARDINFO=n
CONFIG_NET_VENDOR_DEC=n
CONFIG_KEYBOARD_SUN4I_LRADC=n
CONFIG_ERRATA_ANDES=n
CONFIG_XZ_DEC_POWERPC=n
CONFIG_NFS_V4_2_READ_PLUS=n
CONFIG_GENERIC_CSUM=n
CONFIG_CC_HAS_AUTO_VAR_INIT_PATTERN=n
CONFIG_QUEUED_RWLOCKS=n
CONFIG_KEYS=n
CONFIG_NAMESPACES=n
CONFIG_HAVE_DEBUG_KMEMLEAK=n
CONFIG_GENERIC_IRQ_IPI_MUX=n
CONFIG_ARCH_DMA_DEFAULT_COHERENT=n
CONFIG_DRM=n
CONFIG_VIDEOMODE_HELPERS=n
CONFIG_STACKTRACE_SUPPORT=n
CONFIG_CGROUP_HUGETLB=n
CONFIG_RISCV_NONSTANDARD_CACHE_OPS=n
CONFIG_LOCKD_V4=n
CONFIG_PINCTRL_SOPHGO_COMMON=n
CONFIG_EFIVAR_FS=n
CONFIG_PINCTRL_STARFIVE_JH7110=n
CONFIG_ARCH_HAS_KERNEL_FPU_SUPPORT=n
CONFIG_PROC_PAGE_MONITOR=n
CONFIG_JOLIET=n
CONFIG_FB_DEFERRED_IO=n
CONFIG_CRYPTO_LIB_SHA256=n
CONFIG_HAVE_SAMPLE_FTRACE_DIRECT_MULTI=n
CONFIG_CFS_BANDWIDTH=n
CONFIG_FSNOTIFY=n
CONFIG_COMPAT_32BIT_TIME=n
CONFIG_GCC10_NO_ARRAY_BOUNDS=n
CONFIG_DMI=n
CONFIG_FUTEX_PRIVATE_HASH=n
CONFIG_SND_PROC_FS=n
CONFIG_MEDIA_SUBDRV_AUTOSELECT=n
CONFIG_WLAN_VENDOR_REALTEK=n
CONFIG_NET_VENDOR_CISCO=n
CONFIG_BPF_EVENTS=n
CONFIG_MODULES_TREE_LOOKUP=n
CONFIG_VXLAN=n
CONFIG_CGROUP_PERF=n
CONFIG_AS_HAS_OPTION_ARCH=n
CONFIG_TIMER_PROBE=n
CONFIG_ARCH_HAS_VDSO_ARCH_DATA=n
CONFIG_NET_VENDOR_ALACRITECH=n
CONFIG_MODULES=n
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE_PUD=n
CONFIG_PCC=n
CONFIG_USB_OHCI_HCD=n
CONFIG_SND_DESIGNWARE_I2S=n
CONFIG_OVERLAY_FS=n
CONFIG_MEMTEST=n
CONFIG_NET_VENDOR_SOCIONEXT=n
CONFIG_WLAN_VENDOR_ST=n
CONFIG_OVERLAY_FS_REDIRECT_ALWAYS_FOLLOW=n
CONFIG_CRYPTO_AUTHENC=n
CONFIG_COMPAT=n
CONFIG_ARCH_HAS_PTE_SPECIAL=n
CONFIG_PORTABLE=n
CONFIG_SYSCTL=n
CONFIG_RTC_HCTOSYS=n
CONFIG_MTD_BLKDEVS=n
CONFIG_BUG=n
CONFIG_WIRELESS=n
CONFIG_BLK_DEV_BSG_COMMON=n
CONFIG_ARCH_SUPPORTS_HUGETLBFS=n
CONFIG_REGULATOR_SUN20I=n
CONFIG_DRM_CLIENT=n
CONFIG_USB_MUSB_SUNXI=n
CONFIG_GENERIC_IRQ_ENTRY=n
CONFIG_EXT4_FS=n
CONFIG_CRYPTO_DEV_ALLWINNER=n
CONFIG_EXT4_FS_SECURITY=n
CONFIG_SPI_SUN6I=n
CONFIG_QUEUED_SPINLOCKS=n
CONFIG_NET_VENDOR_ADI=n
CONFIG_AS_HAS_INSN=n
CONFIG_CPU_IDLE=n
CONFIG_PHY_SPACEMIT_K1_PCIE=n
CONFIG_CPU_FREQ_THERMAL=n
CONFIG_MTD_CFI_NOSWAP=n
CONFIG_GENERIC_PENDING_IRQ=n
CONFIG_VIRTIO=n
CONFIG_SERIAL_8250_DMA=n
CONFIG_CRYPTO_HASH=n
CONFIG_PCI_PWRCTRL=n
CONFIG_EXT4_FS_POSIX_ACL=n
CONFIG_IP_PNP_RARP=n
CONFIG_CRYPTO_LIB_AES=n
CONFIG_PCI_HOST_GENERIC=n
CONFIG_HAVE_PCI=n
CONFIG_RISCV=n
CONFIG_NET_VENDOR_EMULEX=n
CONFIG_NET_VENDOR_MELLANOX=n
CONFIG_VETH=n
CONFIG_BLK_DEV_PMEM=n
CONFIG_SERIAL_8250_PCI=n
CONFIG_RESET_TENSTORRENT_ATLANTIS=n
CONFIG_CLK_SIFIVE=n
CONFIG_RD_ZSTD=n
CONFIG_NET_SOCK_MSG=n
CONFIG_CPU_MITIGATIONS=n
CONFIG_FILE_LOCKING=n
CONFIG_USB_XHCI_HCD=n
CONFIG_FTRACE=n
CONFIG_SMP=n
CONFIG_XZ_DEC_SPARC=n
CONFIG_RISCV_ISA_SVNAPOT=n
CONFIG_ARCH_HAS_FORTIFY_SOURCE=n
CONFIG_RTC_DRV_GOLDFISH=n
CONFIG_RISCV_ISA_ZBA=n
CONFIG_HAVE_ARCH_GET_SECUREBOOT=n
CONFIG_LOCK_MM_AND_FIND_VMA=n
CONFIG_USB_CONFIGFS_MASS_STORAGE=n
CONFIG_GENERIC_IRQ_MATRIX_ALLOCATOR=n
CONFIG_REALTEK_PHY=n
CONFIG_ND_CLAIM=n
CONFIG_GENERIC_ALLOCATOR=n
CONFIG_CRYPTO_GCM=n
CONFIG_ARCH_ENABLE_HUGEPAGE_MIGRATION=n
CONFIG_PROBE_EVENTS=n
CONFIG_ACPI_DEBUG=n
CONFIG_CGROUP_BPF=n
CONFIG_VHOST_ENABLE_FORK_OWNER_CONTROL=n
CONFIG_ARCH_HIBERNATION_POSSIBLE=n
CONFIG_CPU_IDLE_MULTIPLE_DRIVERS=n
CONFIG_RTC_I2C_AND_SPI=n
CONFIG_CRYPTO_CBC=n
CONFIG_WLAN_VENDOR_QUANTENNA=n
CONFIG_KERNEL_GZIP=n
CONFIG_DEVPORT=n
CONFIG_FB=n
CONFIG_BLK_DEBUG_FS=n
CONFIG_USB_CONFIGFS_F_FS=n
CONFIG_FB_NOTIFY=n
CONFIG_PNFS_BLOCK=n
CONFIG_PAGE_SIZE_LESS_THAN_64KB=n
CONFIG_ACPI_AC=n
CONFIG_BLK_CGROUP_RWSTAT=n
CONFIG_RISCV_ISA_FALLBACK=n
CONFIG_XOR_BLOCKS_ARCH=n
CONFIG_CLK_ANALOGBITS_WRPLL_CLN28HPC=n
CONFIG_HAVE_ARCH_TRACEHOOK=n
CONFIG_WLAN_VENDOR_INTERSIL=n
CONFIG_POSIX_TIMERS=n
CONFIG_DMA_COHERENT_POOL=n
CONFIG_LZO_DECOMPRESS=n
CONFIG_MPILIB=n
CONFIG_PINCTRL=n
CONFIG_ARCH_HAS_SYNC_CORE_BEFORE_USERMODE=n
CONFIG_MQ_IOSCHED_KYBER=n
CONFIG_CRYPTO_AEAD=n
CONFIG_REGMAP_I2C=n
CONFIG_SG_POOL=n
CONFIG_SUN20I_PPU=n
CONFIG_NET_VENDOR_SMSC=n
CONFIG_ARCH_HAS_SYNC_DMA_FOR_DEVICE=n
CONFIG_CRYPTO_SKCIPHER=n
CONFIG_UNIX=n
CONFIG_RTC_DRV_SPACEMIT_P1=n
CONFIG_GPIO_GENERIC=n
CONFIG_DM_THIN_PROVISIONING=n
CONFIG_SPARSEMEM_MANUAL=n
CONFIG_SECCOMP=n
CONFIG_PAGE_POOL=n
CONFIG_ACPI_CPPC_LIB=n
CONFIG_RISCV_ISA_ZACAS=n
CONFIG_ARCH_HAVE_NMI_SAFE_CMPXCHG=n
CONFIG_DRM_DISPLAY_HDMI_HELPER=n
CONFIG_MMC_SDHCI_PLTFM=n
CONFIG_NFS_COMMON=n
CONFIG_EPOLL=n
CONFIG_CRC7=n
CONFIG_NET_VENDOR_SPACEMIT=n
CONFIG_BLK_DEV_DM=n
CONFIG_USB_LIBCOMPOSITE=n
CONFIG_BLK_DEV=n
CONFIG_HAVE_RSEQ=n
CONFIG_NET_DEVMEM=n
CONFIG_RWSEM_SPIN_ON_OWNER=n
CONFIG_SERIAL_MCTRL_GPIO=n
CONFIG_ARCH_HAS_GCOV_PROFILE_ALL=n
CONFIG_VFAT_FS=n
