CONFIG_NET_VENDOR_RDC=n
CONFIG_ARCH_CLOCKSOURCE_INIT=n
CONFIG_KEXEC=n
CONFIG_HAVE_FUNCTION_ARG_ACCESS_API=n
CONFIG_ZONE_DMA=n
CONFIG_PROC_MEM_FORCE_PTRACE=n
CONFIG_LEGACY_DIRECT_IO=n
CONFIG_CRYPTO_LIB_MD5=n
CONFIG_NET_VENDOR_STMICRO=n
CONFIG_RTC_LIB=n
CONFIG_PCSPKR_PLATFORM=n
CONFIG_TREE_SRCU=n
CONFIG_HIBERNATION_SNAPSHOT_DEV=n
CONFIG_RCU_NEED_SEGCBLIST=n
CONFIG_KALLSYMS=n
CONFIG_MOUSE_PS2_TRACKPOINT=n
CONFIG_EDAC_ATOMIC_SCRUB=n
CONFIG_NET_VENDOR_AGERE=n
CONFIG_CLZ_TAB=n
CONFIG_CRYPTO_SIG2=n
CONFIG_X86_DISABLED_FEATURE_LAM=n
CONFIG_BINFMT_ELF=n
CONFIG_YENTA_ENE_TUNE=n
CONFIG_PNP=n
CONFIG_INOTIFY_USER=n
CONFIG_ARCH_SUPPORTS_KEXEC_JUMP=n
CONFIG_NET_VENDOR_SOCIONEXT=n
CONFIG_XFRM=n
CONFIG_HAVE_GENERIC_VDSO=n
CONFIG_SPLIT_PTE_PTLOCKS=n
CONFIG_USB_HID=n
CONFIG_IRQ_WORK=n
CONFIG_WLAN_VENDOR_ZYDAS=n
CONFIG_NET_DEVMEM=n
CONFIG_ACPI_PROCESSOR_IDLE=n
CONFIG_FRAME_POINTER=n
CONFIG_KVFREE_RCU_BATCHED=n
CONFIG_KPROBE_EVENTS=n
CONFIG_MICROCODE=n
CONFIG_NETLABEL=n
CONFIG_PM=n
CONFIG_NETDEVICES=n
CONFIG_LOCKD_V4=n
CONFIG_CPUSETS=n
CONFIG_GENERIC_BUG=n
CONFIG_HAVE_ARCH_THREAD_STRUCT_WHITELIST=n
CONFIG_TIGON3_HWMON=n
CONFIG_ARCH_USE_BUILTIN_BSWAP=n
CONFIG_PERF_EVENTS_INTEL_RAPL=n
CONFIG_VHOST_ENABLE_FORK_OWNER_CONTROL=n
CONFIG_CC_NO_STRINGOP_OVERFLOW=n
CONFIG_X86_MPPARSE=n
CONFIG_CRYPTO_LIB_SHA256=n
CONFIG_INPUT_TABLET=n
CONFIG_SERIAL_NONSTANDARD=n
CONFIG_CDROM=n
CONFIG_SIGNALFD=n
CONFIG_SOCK_CGROUP_DATA=n
CONFIG_IOMMU_IOVA=n
CONFIG_BLK_DEBUG_FS=n
CONFIG_ARCH_HAS_STRICT_KERNEL_RWX=n
CONFIG_IP_PIMSM_V2=n
CONFIG_HAVE_ACPI_APEI=n
CONFIG_CHECK_SIGNATURE=n
CONFIG_TIMERFD=n
CONFIG_CRYPTO_CBC=n
CONFIG_GRACE_PERIOD=n
CONFIG_REALTEK_PHY=n
CONFIG_CPU_FREQ=n
CONFIG_VMCORE_INFO=n
CONFIG_ACPI_BGRT=n
CONFIG_SND_HDA_CORE=n
CONFIG_NET_VENDOR_ROCKER=n
CONFIG_HAVE_PERF_REGS=n
CONFIG_RTL_CARDS=n
CONFIG_ACPI_PLATFORM_PROFILE=n
CONFIG_SCSI_VIRTIO=n
CONFIG_BCMA_POSSIBLE=n
CONFIG_PNP_DEBUG_MESSAGES=n
CONFIG_STACKTRACE=n
CONFIG_ATA=n
CONFIG_SND_HWDEP=n
CONFIG_RUNTIME_TESTING_MENU=n
CONFIG_NF_CONNTRACK_IRC=n
CONFIG_AS_WRUSS=n
CONFIG_CGROUP_DEBUG=n
CONFIG_PHY_PACKAGE=n
CONFIG_GPIOLIB_LEGACY=n
CONFIG_DEBUG_MISC=n
CONFIG_HUGETLBFS=n
CONFIG_HAVE_KERNEL_LZMA=n
CONFIG_PREEMPT_BUILD=n
CONFIG_GENERIC_CLOCKEVENTS=n
CONFIG_HW_RANDOM_VIA=n
CONFIG_BACKLIGHT_CLASS_DEVICE=n
CONFIG_HAVE_ARCH_KFENCE=n
CONFIG_X86_DISABLED_FEATURE_TDX_GUEST=n
CONFIG_GENERIC_MSI_IRQ=n
CONFIG_USB_EHCI_TT_NEWSCHED=n
CONFIG_DRM_VIRTIO_GPU_KMS=n
CONFIG_I2C_HID=n
CONFIG_MOUSE_PS2_LOGIPS2PP=n
CONFIG_USB_DEFAULT_PERSIST=n
CONFIG_ARCH_HAS_SYSCALL_WRAPPER=n
CONFIG_GENERIC_CPU_DEVICES=n
CONFIG_ARCH_HAS_DEBUG_VM_PGTABLE=n
CONFIG_ARCH_SUSPEND_POSSIBLE=n
CONFIG_PADATA=n
CONFIG_SND_HRTIMER=n
CONFIG_RD_GZIP=n
CONFIG_NET_VENDOR_ADAPTEC=n
CONFIG_GENERIC_PCI_IOMAP=n
CONFIG_USB_STORAGE=n
CONFIG_ACPI=n
CONFIG_ARCH_USE_QUEUED_RWLOCKS=n
CONFIG_PROBE_EVENTS=n
CONFIG_XARRAY_MULTI=n
CONFIG_NET_VENDOR_GOOGLE=n
CONFIG_VIRTIO_DMA_SHARED_BUFFER=n
CONFIG_PCMCIA=n
CONFIG_CRYPTO_SIG=n
CONFIG_PREVENT_FIRMWARE_BUILD=n
CONFIG_SYSVIPC_SYSCTL=n
CONFIG_DRM_GEM_SHMEM_HELPER=n
CONFIG_WATCHDOG=n
CONFIG_NF_NAT_SIP=n
CONFIG_NLS_ISO8859_1=n
CONFIG_NET_EMATCH=n
CONFIG_VT_CONSOLE_SLEEP=n
CONFIG_BLOCK_HOLDER_DEPRECATED=n
CONFIG_GENERIC_ALLOCATOR=n
CONFIG_NF_NAT=n
CONFIG_EFI_EARLYCON=n
CONFIG_NLS_CODEPAGE_437=n
CONFIG_MITIGATION_TSA=n
CONFIG_NET_VENDOR_8390=n
CONFIG_NET_VENDOR_SAMSUNG=n
CONFIG_IRQ_DOMAIN=n
CONFIG_HAVE_PERF_EVENTS=n
CONFIG_FIRMWARE_TABLE=n
CONFIG_MICROCODE_INITRD32=n
CONFIG_NEW_LEDS=n
CONFIG_ARCH_SUPPORTS_SCHED_SMT=n
CONFIG_ARCH_HAS_CPU_RELAX=n
CONFIG_NET_XGRESS=n
CONFIG_GRO_CELLS=n
CONFIG_NET_VENDOR_I825XX=n
CONFIG_TASKS_RCU_GENERIC=n
CONFIG_SUNRPC=n
CONFIG_TASKSTATS=n
CONFIG_SND_INTEL_NHLT=n
CONFIG_ATA_BMDMA=n
CONFIG_DECOMPRESS_GZIP=n
CONFIG_CONSOLE_TRANSLATIONS=n
CONFIG_STRICT_KERNEL_RWX=n
CONFIG_GENERIC_IRQ_RESERVATION_MODE=n
CONFIG_CRYPTO_CTR=n
CONFIG_PAGE_SIZE_LESS_THAN_256KB=n
CONFIG_EXT4_FS=n
CONFIG_X86_DISABLED_FEATURE_PTI=n
CONFIG_TASK_DELAY_ACCT=n
CONFIG_DMI_SCAN_MACHINE_NON_EFI_FALLBACK=n
CONFIG_HAVE_ARCH_JUMP_LABEL_RELATIVE=n
CONFIG_MIGRATION=n
CONFIG_HAVE_KPROBES=n
CONFIG_HID_SONY=n
CONFIG_TICK_CPU_ACCOUNTING=n
CONFIG_NO_HZ_COMMON=n
CONFIG_X86_PM_TIMER=n
CONFIG_CLKEVT_I8253=n
CONFIG_CRYPTO_CMAC=n
CONFIG_SND_HDA_HWDEP=n
CONFIG_DECOMPRESS_BZIP2=n
CONFIG_STRICT_DEVMEM=n
CONFIG_NF_CONNTRACK_FTP=n
CONFIG_BUILDTIME_TABLE_SORT=n
CONFIG_ACPI_AC=n
CONFIG_PROC_PAGE_MONITOR=n
CONFIG_ARCH_CORRECT_STACKTRACE_ON_KRETPROBE=n
CONFIG_NET_VENDOR_NATSEMI=n
CONFIG_VGA_ARB=n
CONFIG_SYSTEM_DATA_VERIFICATION=n
CONFIG_INPUT_SPARSEKMAP=n
CONFIG_MITIGATION_SPECTRE_V2=n
CONFIG_POWER_SUPPLY=n
CONFIG_DEBUG_FS=n
CONFIG_ATA_GENERIC=n
CONFIG_SPARSE_IRQ=n
CONFIG_ARCH_SUPPORTS_ATOMIC_RMW=n
CONFIG_KEXEC_CORE=n
CONFIG_OPTPROBES=n
CONFIG_ACPI_PROCESSOR_CSTATE=n
CONFIG_HAS_IOMEM=n
CONFIG_X86_REQUIRED_FEATURE_CX8=n
CONFIG_IP_PNP=n
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST_IDLE=n
CONFIG_MACINTOSH_DRIVERS=n
CONFIG_IP6_NF_MATCH_IPV6HEADER=n
CONFIG_CRYPTO_HASH2=n
CONFIG_ARCH_WANT_GENERAL_HUGETLB=n
CONFIG_WATCHDOG_HANDLE_BOOT_ENABLED=n
CONFIG_ARCH_DEFAULT_CRASH_DUMP=n
CONFIG_HOTPLUG_SPLIT_STARTUP=n
CONFIG_CLKBLD_I8253=n
CONFIG_HAVE_UNSTABLE_SCHED_CLOCK=n
CONFIG_NET_VENDOR_MUCSE=n
CONFIG_ACPI_THERMAL=n
CONFIG_ARCH_USE_QUEUED_SPINLOCKS=n
CONFIG_NET_VENDOR_BROCADE=n
CONFIG_BLK_CGROUP_IOCOST=n
CONFIG_CPU_FREQ_GOV_ONDEMAND=n
CONFIG_LZO_COMPRESS=n
CONFIG_EEPROM_93CX6=n
CONFIG_HAVE_PCI=n
CONFIG_SND_PCMCIA=n
CONFIG_ARCH_HAS_PTDUMP=n
CONFIG_MD_BITMAP=n
CONFIG_SERIAL_8250_EXAR=n
CONFIG_SERIAL_8250_EXTENDED=n
CONFIG_IP_PNP_DHCP=n
CONFIG_HAVE_MOVE_PMD=n
CONFIG_QUEUED_RWLOCKS=n
CONFIG_ARCH_HAS_DEBUG_WX=n
CONFIG_CRYPTO_LIB_ARC4=n
CONFIG_ARCH_WANT_LD_ORPHAN_WARN=n
CONFIG_CGROUP_SCHED=n
CONFIG_KCMP=n
CONFIG_CRYPTO_ECHAINIV=n
CONFIG_HIDRAW=n
CONFIG_HAVE_ARCH_GET_SECUREBOOT=n
CONFIG_DRM_BUDDY=n
CONFIG_CPU_IDLE_GOV_MENU=n
CONFIG_STACKPROTECTOR_STRONG=n
CONFIG_ISA_DMA_API=n
CONFIG_HAVE_STATIC_CALL=n
CONFIG_TRACE_IRQFLAGS_SUPPORT=n
CONFIG_X86_VERBOSE_BOOTUP=n
CONFIG_NLS_ASCII=n
CONFIG_ARCH_HAS_NMI_SAFE_THIS_CPU_OPS=n
CONFIG_SERIO_LIBPS2=n
CONFIG_YENTA=n
CONFIG_GENERIC_SYSCALL=n
CONFIG_NET_VENDOR_AMAZON=n
CONFIG_RELAY=n
CONFIG_CPU_FREQ_GOV_COMMON=n
CONFIG_PID_NS=n
CONFIG_BLK_CGROUP_IOPRIO=n
CONFIG_ACPI_WMI=n
CONFIG_ARCH_HAS_CURRENT_STACK_POINTER=n
CONFIG_CC_HAS_MARCH_NATIVE=n
CONFIG_HAVE_ARCH_KGDB=n
CONFIG_BLK_DEV_SD=n
CONFIG_HAVE_KERNEL_ZSTD=n
CONFIG_SERIO_I8042=n
CONFIG_ARCH_MIGHT_HAVE_PC_SERIO=n
CONFIG_WLAN_VENDOR_QUANTENNA=n
CONFIG_NETFILTER_XTABLES=n
CONFIG_X86_SUPPORTS_MEMORY_FAILURE=n
CONFIG_EFI_CUSTOM_SSDT_OVERLAYS=n
CONFIG_VIRTIO_PCI=n
CONFIG_ETHTOOL_NETLINK=n
CONFIG_DEBUG_ENTRY=n
CONFIG_I8253_LOCK=n
CONFIG_KPROBES=n
CONFIG_ARCH_HAS_MEMBARRIER_SYNC_CORE=n
CONFIG_NET_NS=n
CONFIG_EVENT_TRACING=n
CONFIG_PROC_EVENTS=n
CONFIG_NET_VENDOR_WANGXUN=n
CONFIG_DM_MIRROR=n
CONFIG_IO_URING_ZCRX=n
CONFIG_ARCH_HAS_HW_PTE_YOUNG=n
CONFIG_USB_ARCH_HAS_HCD=n
CONFIG_SCHED_MC_PRIO=n
CONFIG_CFG80211_CRDA_SUPPORT=n
CONFIG_ACPI_FAN=n
CONFIG_HAVE_NMI=n
CONFIG_PM_TRACE_RTC=n
CONFIG_PM_SLEEP_SMP=n
CONFIG_NET_9P_FD=n
CONFIG_EXT4_USE_FOR_EXT2=n
CONFIG_MOUSE_PS2_SYNAPTICS_SMBUS=n
CONFIG_ARCH_HAS_STRICT_MODULE_RWX=n
CONFIG_SCHED_SMT=n
CONFIG_NET_VENDOR_TEHUTI=n
CONFIG_DMA_ENGINE=n
CONFIG_FUTEX_ROBUST_UNLOCK=n
CONFIG_CONTEXT_SWITCH_TRACER=n
CONFIG_XXHASH=n
CONFIG_BQL=n
CONFIG_SELECT_MEMORY_MODEL=n
CONFIG_VIRTIO_PCI_LIB=n
CONFIG_CRYPTO_SKCIPHER=n
CONFIG_SND_VERBOSE_PROCFS=n
CONFIG_MQ_IOSCHED_KYBER=n
CONFIG_FUTEX_PRIVATE_HASH=n
CONFIG_IP_NF_IPTABLES=n
CONFIG_ARCH_SUPPORTS_ACPI=n
CONFIG_NET_VENDOR_NI=n
CONFIG_ARCH_USE_SYM_ANNOTATIONS=n
