CONFIG_PHY_NS2_USB_DRD=n
CONFIG_QCOM_Q6V5_COMMON=n
CONFIG_SPI_ZYNQMP_GQSPI=n
CONFIG_SCSI_HISI_SAS=n
CONFIG_DEBUG_INFO_COMPRESSED_NONE=n
CONFIG_SND_SOC_FSL_MICFIL=n
CONFIG_PINCTRL_SC8280XP=n
CONFIG_OWL_PM_DOMAINS=n
CONFIG_IP_PNP_BOOTP=n
CONFIG_SERIAL_MCTRL_GPIO=n
CONFIG_UBIFS_FS_ZLIB=n
CONFIG_ARM_SMMU=n
CONFIG_ARCH_TEGRA_194_SOC=n
CONFIG_ACPI_APEI_PCIEAER=n
CONFIG_XEN_DEV_EVTCHN=n
CONFIG_DEBUG_FS_ALLOW_ALL=n
CONFIG_HAVE_POSIX_CPU_TIMERS_TASK_WORK=n
CONFIG_HAVE_ARCH_HUGE_VMALLOC=n
CONFIG_RTSN=n
CONFIG_BT_HCIBTUSB_POLL_SYNC=n
CONFIG_SND_SOC_SM8250=n
CONFIG_INPUT_PM8941_PWRKEY=n
CONFIG_PAGE_POOL=n
CONFIG_GENERIC_SMP_IDLE_THREAD=n
CONFIG_DEV_COREDUMP=n
CONFIG_XILINX_WATCHDOG=n
CONFIG_SUN8I_DE2_CCU=n
CONFIG_SND_MESON_AXG_TDMIN=n
CONFIG_USB_XHCI_PCI=n
CONFIG_PCS_RZN1_MIIC=n
CONFIG_RFKILL_LEDS=n
CONFIG_USB_OTG=n
CONFIG_PHY_AM654_SERDES=n
CONFIG_E1000E=n
CONFIG_EDAC_VERSAL=n
CONFIG_USB_XHCI_PCI_RENESAS=n
CONFIG_WLAN_VENDOR_SILABS=n
CONFIG_CLK_RK3588=n
CONFIG_PINCTRL_UNIPHIER_LD11=n
CONFIG_REGULATOR_RZG2L_VBCTRL=n
CONFIG_ARM_SMMU_V3_PMU=n
CONFIG_ARCH_TEGRA_264_SOC=n
CONFIG_XZ_DEC_POWERPC=n
CONFIG_COMMON_CLK_MT8186_VDECSYS=n
CONFIG_SND_SOC_MSM8916_WCD_ANALOG=n
CONFIG_ARCH_HAS_TICK_BROADCAST=n
CONFIG_SND_JACK=n
CONFIG_MFD_TPS6594_I2C=n
CONFIG_DRM_EXYNOS_MIC=n
CONFIG_MLX5_ESWITCH=n
CONFIG_NEED_TASKS_RCU=n
CONFIG_PINCTRL_RP1=n
CONFIG_INPUT_TPS6594_PWRBUTTON=n
CONFIG_SM_DISPCC_6350=n
CONFIG_CRYPTO_DEV_TEGRA=n
CONFIG_NXP_NTMP=n
CONFIG_CLK_KAANAPALI_TCSRCC=n
CONFIG_ARCH_BST=n
CONFIG_OWL_PM_DOMAINS_HELPER=n
CONFIG_NEED_SG_DMA_FLAGS=n
CONFIG_FRAMEBUFFER_CONSOLE=n
CONFIG_VIRTIO_PCI_LIB=n
CONFIG_HAS_IOPORT_MAP=n
CONFIG_HAVE_ARCH_MMAP_RND_COMPAT_BITS=n
CONFIG_ROCKCHIP_IOMMU=n
CONFIG_NVMEM_IMX_OCOTP_ELE=n
CONFIG_USB_F_OBEX=n
CONFIG_CLK_OWL_S700=n
CONFIG_ARCH_USE_MEMREMAP_PROT=n
CONFIG_GENERIC_CALIBRATE_DELAY=n
CONFIG_MULTIPLEXER=n
CONFIG_TEE_BNXT_FW=n
CONFIG_ACPI_MDIO=n
CONFIG_RESET_MESON=n
CONFIG_IPQ_GCC_6018=n
CONFIG_SYSVIPC_COMPAT=n
CONFIG_RENESAS_RZV2H_ICU=n
CONFIG_MSM_MMCC_8998=n
CONFIG_VIRTIO_BALLOON=n
CONFIG_ARM_DMC620_PMU=n
CONFIG_QCOM_QSEECOM=n
CONFIG_COMMON_CLK_C3_PERIPHERALS=n
CONFIG_ACPI_APEI_MEMORY_FAILURE=n
CONFIG_V4L2_CCI=n
CONFIG_GENERIC_IRQ_EFFECTIVE_AFF_MASK=n
CONFIG_64BIT=n
CONFIG_MFD_STM32_TIMERS=n
CONFIG_TRANSPARENT_HUGEPAGE_ALWAYS=n
CONFIG_CRYPTO_LZO=n
CONFIG_ARM64_4K_PAGES=n
CONFIG_ARCH_R9A08G045=n
CONFIG_CORESIGHT_CATU=n
CONFIG_SPI_QUP=n
CONFIG_CRYPTO_DEV_FSL_DPAA2_CAAM=n
CONFIG_SND_SOC_WSA881X=n
CONFIG_HAVE_KVM_MSI=n
CONFIG_GENERIC_NET_UTILS=n
CONFIG_NET_DSA=n
CONFIG_ARCH_SUPPORTS_PAGE_TABLE_CHECK=n
CONFIG_PTP_1588_CLOCK_VMCLOCK=n
CONFIG_INPUT_VIVALDIFMAP=n
CONFIG_XILINX_WINDOW_WATCHDOG=n
CONFIG_IOMMU_IO_PGTABLE=n
CONFIG_ACPI_PROCESSOR=n
CONFIG_USB_F_RNDIS=n
CONFIG_USB_VIDEO_CLASS=n
CONFIG_PWC_RZV2M=n
CONFIG_DRM_MEDIATEK_HDMI_COMMON=n
CONFIG_CRYPTO_LIB_CHACHA_ARCH=n
CONFIG_DRM_I2C_ADV7511_CEC=n
CONFIG_SUN55I_PCK600=n
CONFIG_HAVE_FTRACE_GRAPH_FUNC=n
CONFIG_LINEAR_RANGES=n
CONFIG_SKB_EXTENSIONS=n
CONFIG_RTC_DRV_CROS_EC=n
CONFIG_B53_SRAB_DRIVER=n
CONFIG_CRYPTO_SKCIPHER2=n
CONFIG_USB_MXS_PHY=n
CONFIG_SND_SOC_FSL_SAI=n
CONFIG_USB_NET_CDCETHER=n
CONFIG_QCOM_WCNSS_CTRL=n
CONFIG_NET_DSA_TAG_BRCM_PREPEND=n
CONFIG_ASYNC_TX_ENABLE_CHANNEL_SWITCH=n
CONFIG_UTS_NS=n
CONFIG_KEYBOARD_MTK_PMIC=n
CONFIG_CRYPTO_CHACHA20=n
CONFIG_TYPEC_RT1711H=n
CONFIG_PINCTRL_MT6797=n
CONFIG_APPLE_SART=n
CONFIG_ARCH_ARTPEC=n
CONFIG_CC_HAS_BRANCH_PROT_PAC_RET_BTI=n
CONFIG_PERF_EVENTS=n
CONFIG_CLK_GLYMUR_TCSRCC=n
CONFIG_KVM_GENERIC_DIRTYLOG_READ_PROTECT=n
CONFIG_SYSCON_REBOOT_MODE=n
CONFIG_WLAN_VENDOR_MEDIATEK=n
CONFIG_TEE=n
CONFIG_RCAR_DMAC=n
CONFIG_MEDIA_SUPPORT_FILTER=n
CONFIG_IP_PNP=n
CONFIG_PINCTRL_PFC_R8A779F0=n
CONFIG_SND_SOC_WCD939X=n
CONFIG_FWNODE_MDIO=n
CONFIG_QCOM_SMP2P=n
CONFIG_UNMAP_KERNEL_AT_EL0=n
CONFIG_MLX4_CORE=n
CONFIG_BLK_DEV_DM=n
CONFIG_HISILICON_ERRATUM_161010101=n
CONFIG_REGULATOR_ROHM=n
CONFIG_BITREVERSE=n
CONFIG_CLK_KAANAPALI_GCC=n
CONFIG_DWMAC_STM32=n
CONFIG_CRYPTO_CTR=n
CONFIG_RESET_RZV2H_USB2PHY=n
CONFIG_ARM_SCPI_PROTOCOL=n
CONFIG_CRYPTO_RSA=n
CONFIG_CLK_RASPBERRYPI=n
CONFIG_QCOM_SCM=n
CONFIG_MARVELL_GTI_WDT=n
CONFIG_PCI_AARDVARK=n
CONFIG_SND_SOC_MAX98357A=n
CONFIG_SND_SOC_SIMPLE_MUX=n
CONFIG_MDIO_BITBANG=n
CONFIG_SPI_S3C64XX=n
CONFIG_BCM7038_L1_IRQ=n
CONFIG_UNION_FIND=n
CONFIG_ZONE_DMA32=n
CONFIG_FRAMEBUFFER_CONSOLE_DETECT_PRIMARY=n
CONFIG_PHY_QCOM_QMP_PCIE_8996=n
CONFIG_HAVE_FUNCTION_TRACER=n
CONFIG_FIND_NORMAL_PAGE=n
CONFIG_PINCTRL_MESON8_PMX=n
CONFIG_COMMON_CLK_MT8196_MFGCFG=n
CONFIG_SND_SOC_QDSP6_PRM_LPASS_CLOCKS=n
CONFIG_CRC32=n
CONFIG_MMC_MESON_GX=n
CONFIG_STMP_DEVICE=n
CONFIG_MTD_NAND_ECC_SW_HAMMING=n
CONFIG_PCIE_XILINX_CPM=n
CONFIG_PINCTRL_RTD1319D=n
CONFIG_TEGRA_HOST1X=n
CONFIG_MTD_CFI_AMDSTD=n
CONFIG_I2C_DESIGNWARE_CORE=n
CONFIG_MMC_SDHI=n
CONFIG_GPIO_TEGRA=n
CONFIG_SPI_ARMADA_3700=n
CONFIG_TYPEC_UCSI=n
CONFIG_USB_CHIPIDEA_HOST=n
CONFIG_REGULATOR_HI6421V530=n
CONFIG_RENESAS_DMA=n
CONFIG_ARM64_MTE=n
CONFIG_PHY_RCAR_GEN3_PCIE=n
CONFIG_PHY_R8A779F0_ETHERNET_SERDES=n
CONFIG_COMMON_CLK_MT8516=n
CONFIG_DRM_MSM_DSI_7NM_PHY=n
CONFIG_I2C_SLAVE=n
CONFIG_ARCH_APPLE=n
CONFIG_SYSC_R8A77995=n
CONFIG_SUNXI_MBUS=n
CONFIG_HNS3_ENET=n
CONFIG_GENERIC_ALLOCATOR=n
CONFIG_BPF_JIT_DEFAULT_ON=n
CONFIG_ARM_AMBA=n
CONFIG_BT_MRVL_SDIO=n
CONFIG_QCM_GCC_2290=n
CONFIG_REGULATOR_TPS65132=n
CONFIG_NF_CONNTRACK=n
CONFIG_AS_IS_GNU=n
CONFIG_NVMEM=n
CONFIG_CFG80211_CRDA_SUPPORT=n
CONFIG_INTERCONNECT_IMX8MM=n
CONFIG_GPIO_MPC8XXX=n
CONFIG_ARM_CCI_PMU=n
CONFIG_MHI_BUS_PCI_GENERIC=n
CONFIG_CRYPTO_GCM=n
CONFIG_COMMON_CLK_GXBB=n
CONFIG_USB_EHCI_BRCMSTB=n
CONFIG_DMA_SUN6I=n
CONFIG_SCHED_MM_CID=n
CONFIG_APPLE_MAILBOX=n
CONFIG_STP=n
CONFIG_CLK_IMX8MP=n
CONFIG_VIDEO_CAMERA_LENS=n
CONFIG_LOGO=n
CONFIG_RCU_TRACE=n
CONFIG_UACCE=n
CONFIG_PINCTRL_BCM4908=n
CONFIG_ACPI_DEBUG=n
CONFIG_DW_APB_TIMER=n
CONFIG_GRACE_PERIOD=n
CONFIG_PAGE_REPORTING=n
CONFIG_THERMAL=n
CONFIG_NFC_S3FWRN5_I2C=n
CONFIG_PINCTRL_RENESAS=n
CONFIG_PM8916_WATCHDOG=n
CONFIG_CLK_RK3562=n
CONFIG_BLK_CGROUP_PUNT_BIO=n
CONFIG_SND_PCM_TIMER=n
CONFIG_CEC_CORE=n
CONFIG_HAVE_ARCH_MMAP_RND_BITS=n
CONFIG_QCOM_OCMEM=n
CONFIG_BQL=n
CONFIG_DMA_CMA=n
CONFIG_OF_OVERLAY=n
CONFIG_AHCI_QORIQ=n
CONFIG_SC_VIDEOCC_7280=n
CONFIG_SPI_RSPI=n
CONFIG_NFS_V4=n
CONFIG_CLKSRC_EXYNOS_MCT=n
CONFIG_PCIE_ALTERA_MSI=n
CONFIG_OF_FLATTREE=n
CONFIG_MTD_NAND_MARVELL=n
CONFIG_SUN6I_R_INTC=n
CONFIG_COMMON_CLK_MT6795_VDECSYS=n
CONFIG_DRM_IMX8MP_DW_HDMI_BRIDGE=n
CONFIG_SOUNDWIRE_QCOM=n
CONFIG_SND_SOC_TI_EDMA_PCM=n
CONFIG_SPI_MTK_NOR=n
CONFIG_ATA_FORCE=n
CONFIG_NET=n
CONFIG_NET_9P=n
CONFIG_SCSI_UFS_CDNS_PLATFORM=n
CONFIG_CLK_KAANAPALI_DISPCC=n
CONFIG_ARMADA_THERMAL=n
CONFIG_IPQ_NSSCC_5424=n
CONFIG_COMMON_CLK_AXG_AUDIO=n
CONFIG_DRM_CLIENT_SELECTION=n
CONFIG_BT_HCIUART_LL=n
CONFIG_HAVE_KVM_VCPU_RUN_PID_CHANGE=n
CONFIG_COMMON_CLK_MT8365=n
CONFIG_PHY_MTK_UFS=n
CONFIG_GPIO_DWAPB=n
CONFIG_PCIE_RCAR_GEN4_EP=n
CONFIG_XZ_DEC_ARM=n
CONFIG_COMMON_CLK_MT8365_CAM=n
CONFIG_COMMON_CLK_MT7988=n
CONFIG_IIO_ST_LSM6DSX_I2C=n
CONFIG_SCSI_UFS_TI_J721E=n
CONFIG_ARCH_SUPPORTS_SHADOW_CALL_STACK=n
CONFIG_UCSI_CCG=n
CONFIG_CORESIGHT_STM=n
CONFIG_SERIAL_MVEBU_CONSOLE=n
CONFIG_SND_SOC_AK4613=n
CONFIG_HW_RANDOM_HISI=n
CONFIG_ARCH_REALTEK=n
CONFIG_CRYPTO_HW=n
CONFIG_MFD_TI_AM335X_TSCADC=n
CONFIG_DECOMPRESS_BZIP2=n
CONFIG_QCOM_IPCC=n
CONFIG_PHY_QCOM_USB_HS_28NM=n
CONFIG_COMMON_CLK_MT8183_VDECSYS=n
CONFIG_SERIAL_DEV_BUS=n
CONFIG_MDIO_BUS_MUX_MESON_GXL=n
CONFIG_COMMON_CLK_MT8173=n
CONFIG_HW_RANDOM_STM32=n
CONFIG_XOR_BLOCKS=n
CONFIG_CRYPTO_MANAGER=n
CONFIG_PINCTRL_SUNXI=n
CONFIG_THERMAL_EMULATION=n
CONFIG_CLK_R8A77961=n
