CONFIG_DECOMPRESS_XZ=n
CONFIG_CGROUP_FREEZER=n
CONFIG_X86_SUPPORTS_MEMORY_FAILURE=n
CONFIG_INPUT_TOUCHSCREEN=n
CONFIG_CPU_SUP_INTEL=n
CONFIG_RANDOMIZE_KSTACK_OFFSET=n
CONFIG_CPU_SUP_AMD=n
CONFIG_E1000=n
CONFIG_SOCK_CGROUP_DATA=n
CONFIG_GENERIC_BUG_RELATIVE_POINTERS=n
CONFIG_SND_VERBOSE_PROCFS=n
CONFIG_BLK_DEV_WRITE_MOUNTED=n
CONFIG_HAVE_ARCH_KSTACK_ERASE=n
CONFIG_HAS_SECURITY_AUDIT=n
CONFIG_CRYPTO_ALGAPI2=n
CONFIG_SECURITY_SELINUX_DEVELOP=n
CONFIG_WLAN_VENDOR_REALTEK=n
CONFIG_ACPI_LPIT=n
CONFIG_NET_VENDOR_SYNOPSYS=n
CONFIG_CPU_SUP_ZHAOXIN=n
CONFIG_NETFILTER_XT_MATCH_STATE=n
CONFIG_ATA_VERBOSE_ERROR=n
CONFIG_WLAN_VENDOR_ST=n
CONFIG_FIB_RULES=n
CONFIG_SERIAL_EARLYCON=n
CONFIG_BUILDTIME_TABLE_SORT=n
CONFIG_PATA_OLDPIIX=n
CONFIG_IO_URING_BPF=n
CONFIG_RPCSEC_GSS_KRB5=n
CONFIG_PCPU_DEV_REFCNT=n
CONFIG_ACPI_AC=n
CONFIG_HAVE_INTEL_TXT=n
CONFIG_VIRTIO_PCI_LIB_LEGACY=n
CONFIG_PM_DEBUG=n
CONFIG_XZ_DEC_SPARC=n
CONFIG_X86_MPPARSE=n
CONFIG_NEED_DMA_MAP_STATE=n
CONFIG_LOCK_MM_AND_FIND_VMA=n
CONFIG_PHYLIB=n
CONFIG_SCSI_VIRTIO=n
CONFIG_SYSVIPC_SYSCTL=n
CONFIG_CRYPTO_LIB_AES_CBC_MACS=n
CONFIG_VIDEO=n
CONFIG_DRM_PANEL_BRIDGE=n
CONFIG_DRM_GEM_SHMEM_HELPER=n
CONFIG_IA32_EMULATION=n
CONFIG_GENERIC_IRQ_PROBE=n
CONFIG_CRASH_HOTPLUG=n
CONFIG_ARCH_HAS_CPU_RELAX=n
CONFIG_RD_GZIP=n
CONFIG_CFG80211=n
CONFIG_PCI_DIRECT=n
CONFIG_USB_NET_DRIVERS=n
CONFIG_BLK_CGROUP_IOCOST=n
CONFIG_X86_VERBOSE_BOOTUP=n
CONFIG_HAVE_ARCH_SECCOMP=n
CONFIG_LD_IS_BFD=n
CONFIG_EFI=n
CONFIG_ACPI_PROCESSOR=n
CONFIG_RTC_MC146818_LIB=n
CONFIG_ARCH_WANT_GENERAL_HUGETLB=n
CONFIG_NAMESPACES=n
CONFIG_STACKPROTECTOR=n
CONFIG_X86_DISABLED_FEATURE_ENQCMD=n
CONFIG_USB_COMMON=n
CONFIG_PROC_MEM_FORCE_PTRACE=n
CONFIG_CPUFREQ_ARCH_CUR_FREQ=n
CONFIG_UNINLINE_SPIN_UNLOCK=n
CONFIG_BLK_DEV_LOOP=n
CONFIG_USB_XHCI_HCD=n
CONFIG_OPTPROBES=n
CONFIG_HID_NTRIG=n
CONFIG_IP_MROUTE=n
CONFIG_SND_X86=n
CONFIG_SYSVIPC_COMPAT=n
CONFIG_INTEL_IOMMU=n
CONFIG_BUG=n
CONFIG_ACPI_MRRM=n
CONFIG_MITIGATION_SRSO=n
CONFIG_CPU_FREQ_GOV_USERSPACE=n
CONFIG_SERIAL_8250_CONSOLE=n
CONFIG_WLAN_VENDOR_SILABS=n
CONFIG_INPUT_TABLET=n
CONFIG_HID_SUPPORT=n
CONFIG_CRYPTO_LIB_AES=n
CONFIG_ACPI_PCC=n
CONFIG_ATA_FORCE=n
CONFIG_WLAN_VENDOR_RALINK=n
CONFIG_CRYPTO_CMAC=n
CONFIG_ZISOFS=n
CONFIG_ARCH_WANTS_CLOCKSOURCE_READ_INLINE=n
CONFIG_X86_DISABLED_FEATURE_LAM=n
CONFIG_ACPI_NUMA=n
CONFIG_NUMA_MEMBLKS=n
CONFIG_NFS_DISABLE_UDP_SUPPORT=n
CONFIG_IOSF_MBI=n
CONFIG_TOOLS_SUPPORT_RELR=n
CONFIG_CRYPTO_SHA512=n
CONFIG_IOMMU_SUPPORT=n
CONFIG_BLK_CGROUP_IOPRIO=n
CONFIG_QUOTA=n
CONFIG_NETFILTER_XT_MATCH_POLICY=n
CONFIG_RTL_CARDS=n
CONFIG_CPU_FREQ=n
CONFIG_ACPI_BUTTON=n
CONFIG_SERIO_LIBPS2=n
CONFIG_EPOLL=n
CONFIG_KVM_GUEST=n
CONFIG_ARCH_HAS_STRICT_MODULE_RWX=n
CONFIG_GENERIC_CPU_VULNERABILITIES=n
CONFIG_PROC_FS=n
CONFIG_FUTEX_PRIVATE_HASH=n
CONFIG_INITRAMFS_PRESERVE_MTIME=n
CONFIG_DMA_VIRTUAL_CHANNELS=n
CONFIG_CC_HAS_NO_PROFILE_FN_ATTR=n
CONFIG_HAVE_FTRACE_REGS_HAVING_PT_REGS=n
CONFIG_HAVE_ARCH_HUGE_VMALLOC=n
CONFIG_CRYPTO_ECB=n
CONFIG_MAGIC_SYSRQ=n
CONFIG_HAVE_REGS_AND_STACK_ACCESS_API=n
CONFIG_IPV6=n
CONFIG_CRYPTO_AES=n
CONFIG_ARCH_SUPPORTS_KEXEC_SIG_FORCE=n
CONFIG_ARCH_SUPPORTS_KEXEC_BZIMAGE_VERIFY_SIG=n
CONFIG_MAC80211_LEDS=n
CONFIG_AGP_INTEL=n
CONFIG_EFI_EARLYCON=n
CONFIG_PREEMPT_BUILD=n
CONFIG_CFG80211_DEFAULT_PS=n
CONFIG_CRYPTO_CTS=n
CONFIG_SERIAL_8250_DETECT_IRQ=n
CONFIG_CHR_DEV_SG=n
CONFIG_ARCH_HAS_HW_PTE_YOUNG=n
CONFIG_AS_HAS_NON_CONST_ULEB128=n
CONFIG_DRM_PANEL_ORIENTATION_QUIRKS=n
CONFIG_HAS_IOPORT=n
CONFIG_USB_ARCH_HAS_HCD=n
CONFIG_X86_PAT=n
CONFIG_MOUSE_PS2_SYNAPTICS_SMBUS=n
CONFIG_X86_REQUIRED_FEATURE_CX8=n
CONFIG_SCHED_MC=n
CONFIG_NVMEM_SYSFS=n
CONFIG_CC_IS_GCC=n
CONFIG_AUDIT_ARCH=n
CONFIG_EDAC_ATOMIC_SCRUB=n
CONFIG_PERF_EVENTS_INTEL_RAPL=n
CONFIG_ARCH_HAS_PTE_SPECIAL=n
CONFIG_KVFREE_RCU_BATCHED=n
CONFIG_MD_AUTODETECT=n
CONFIG_CACHESTAT_SYSCALL=n
CONFIG_NF_NAT_FTP=n
CONFIG_EARLY_PRINTK_USB=n
CONFIG_FUNCTION_ALIGNMENT_16B=n
CONFIG_ARCH_ENABLE_HUGEPAGE_MIGRATION=n
CONFIG_USB_SUPPORT=n
CONFIG_VIRTIO_DMA_SHARED_BUFFER=n
CONFIG_ACPI_CONTAINER=n
CONFIG_NLATTR=n
CONFIG_INIT_STACK_ALL_ZERO=n
CONFIG_CRYPTO_CCM=n
CONFIG_X86_REQUIRED_FEATURE_FPU=n
CONFIG_CPU_FREQ_DEFAULT_GOV_USERSPACE=n
CONFIG_NET_VENDOR_SOCIONEXT=n
CONFIG_MQ_IOSCHED_DEADLINE=n
CONFIG_BQL=n
CONFIG_NETWORK_SECMARK=n
CONFIG_NETFILTER=n
CONFIG_HAVE_BUILDTIME_MCOUNT_SORT=n
CONFIG_NET_VENDOR_AQUANTIA=n
CONFIG_X86_LOCAL_APIC=n
CONFIG_MUTEX_SPIN_ON_OWNER=n
CONFIG_CRYPTO_AKCIPHER=n
CONFIG_HVC_DRIVER=n
CONFIG_USB_HID=n
CONFIG_I2C_BOARDINFO=n
CONFIG_DRM_I915=n
CONFIG_PCIE_PME=n
CONFIG_ACPI_NHLT=n
CONFIG_IRQ_DOMAIN=n
CONFIG_CRYPTO_AEAD2=n
CONFIG_ARCH_HAS_DEBUG_WX=n
CONFIG_BROADCAST_TLB_FLUSH=n
CONFIG_NET=n
CONFIG_ARCH_USE_MEMTEST=n
CONFIG_ACPI_MADT_WAKEUP=n
CONFIG_SND_JACK_INPUT_DEV=n
CONFIG_VHOST_MENU=n
CONFIG_MITIGATION_ITS=n
CONFIG_NVRAM=n
CONFIG_INPUT_KEYBOARD=n
CONFIG_CC_HAS_ASM_INLINE=n
CONFIG_GENERIC_CLOCKEVENTS=n
CONFIG_IRQ_DOMAIN_HIERARCHY=n
CONFIG_GENERIC_ALLOCATOR=n
CONFIG_QUEUED_RWLOCKS=n
CONFIG_TASKS_RCU_GENERIC=n
CONFIG_ARCH_HAS_FORTIFY_SOURCE=n
CONFIG_GENERIC_CLOCKEVENTS_COUPLED=n
CONFIG_TICK_ONESHOT=n
CONFIG_HAVE_ARCH_HUGE_VMAP=n
CONFIG_CPU_FREQ_GOV_COMMON=n
CONFIG_INPUT_JOYSTICK=n
CONFIG_X86_ACPI_CPUFREQ=n
CONFIG_NET_VENDOR_QUALCOMM=n
CONFIG_HAVE_OBJTOOL_NOP_MCOUNT=n
CONFIG_FIRMWARE_TABLE=n
CONFIG_ARCH_HAS_DEBUG_VIRTUAL=n
CONFIG_I2C_I801=n
CONFIG_ARCH_CPUIDLE_HALTPOLL=n
CONFIG_SPARSEMEM_EXTREME=n
CONFIG_HAVE_OPTPROBES=n
CONFIG_HYPERVISOR_GUEST=n
CONFIG_SUNRPC_GSS=n
CONFIG_ARCH_SUPPORTS_LTO_CLANG=n
CONFIG_NET_VENDOR_XILINX=n
CONFIG_NET_VENDOR_RDC=n
CONFIG_STRICT_DEVMEM=n
CONFIG_NET_VENDOR_ENGLEDER=n
CONFIG_SCREEN_INFO=n
CONFIG_INTEL_MEI=n
CONFIG_RPS=n
CONFIG_SND_SEQUENCER=n
CONFIG_SCHED_MC_PRIO=n
CONFIG_X86_ESPFIX64=n
CONFIG_CPUSETS=n
CONFIG_DEFAULT_CUBIC=n
CONFIG_QUOTACTL=n
CONFIG_NET_VENDOR_CHELSIO=n
CONFIG_INPUT_FF_MEMLESS=n
CONFIG_ARCH_USES_PG_ARCH_2=n
CONFIG_IOMMU_IOVA=n
CONFIG_CRYPTO_CBC=n
CONFIG_SCHED_HRTICK=n
CONFIG_HAVE_NOINSTR_VALIDATION=n
CONFIG_ELF_CORE=n
CONFIG_HAVE_PREEMPT_DYNAMIC=n
CONFIG_NF_DEFRAG_IPV6=n
CONFIG_X86_DIRECT_GBPAGES=n
CONFIG_NETFILTER_XT_TARGET_MASQUERADE=n
CONFIG_RCU_TRACE=n
CONFIG_NET_VENDOR_MICROSEMI=n
CONFIG_HAVE_CONTEXT_TRACKING_USER=n
CONFIG_ARCH_HAS_SYNC_CORE_BEFORE_USERMODE=n
CONFIG_HAVE_GENERIC_TIF_BITS=n
CONFIG_DECOMPRESS_LZ4=n
CONFIG_LEGACY_VSYSCALL_XONLY=n
CONFIG_CLZ_TAB=n
CONFIG_RING_BUFFER=n
CONFIG_WATCHDOG_HANDLE_BOOT_ENABLED=n
CONFIG_IP_ROUTE_MULTIPATH=n
CONFIG_HAVE_UNSTABLE_SCHED_CLOCK=n
CONFIG_ARCH_DEFAULT_CRASH_DUMP=n
CONFIG_COMPAT_FOR_U64_ALIGNMENT=n
CONFIG_HOTPLUG_PARALLEL=n
CONFIG_CALL_THUNKS=n
CONFIG_SCHEDSTATS=n
CONFIG_EFI_RUNTIME_WRAPPERS=n
CONFIG_SND_HDA_COMPONENT=n
CONFIG_HAVE_ARCH_TRACEHOOK=n
CONFIG_NF_CT_NETLINK=n
CONFIG_KPROBES=n
CONFIG_ARCH_SUPPORTS_KMAP_LOCAL_FORCE_MAP=n
CONFIG_HAVE_STATIC_CALL_INLINE=n
CONFIG_ARCH_HAS_NON_OVERLAPPING_ADDRESS_SPACE=n
CONFIG_EFI_ESRT=n
CONFIG_AF_UNIX_OOB=n
CONFIG_X86_DISABLED_FEATURE_SGX=n
CONFIG_SATA_AHCI=n
CONFIG_DUMMY_CONSOLE=n
CONFIG_ARCH_HAS_KERNEL_FPU_SUPPORT=n
CONFIG_HAVE_RSEQ=n
CONFIG_FUTEX_MPOL=n
CONFIG_CRYPTO_ALGAPI=n
CONFIG_I2C_ALGOBIT=n
CONFIG_X86_THERMAL_VECTOR=n
CONFIG_X86_CPUID=n
CONFIG_CONTEXT_SWITCH_TRACER=n
CONFIG_INSTRUCTION_DECODER=n
CONFIG_HID_GYRATION=n
CONFIG_NET_CORE=n
CONFIG_NEED_PER_CPU_EMBED_FIRST_CHUNK=n
CONFIG_SERIAL_8250_RSA=n
CONFIG_TIME_NS_VDSO=n
CONFIG_INET6_ESP=n
CONFIG_HAVE_KERNEL_BZIP2=n
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_JMP=n
CONFIG_ARCH_WANT_DEFAULT_BPF_JIT=n
CONFIG_DECOMPRESS_ZSTD=n
CONFIG_MOUSE_PS2_LOGIPS2PP=n
CONFIG_ACPI_FAN=n
CONFIG_ARCH_HAS_UACCESS_FLUSHCACHE=n
CONFIG_MODULE_UNLOAD=n
CONFIG_ACPI_BGRT=n
CONFIG_DEBUG_BOOT_PARAMS=n
CONFIG_KEXEC_CORE=n
CONFIG_SYSTEM_TRUSTED_KEYRING=n
CONFIG_ARCH_PROC_KCORE_TEXT=n
CONFIG_AMD_NODE=n
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_REGS=n
CONFIG_FORCEDETH=n
