CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO=y
CONFIG_CRYPTO_DEV_KEEMBAY_OCS_AES_SM4_ECB=y
CONFIG_ARCH_HAS_PTE_SPECIAL=y
CONFIG_MSM_MMCC_8994=y
CONFIG_CRYPTO_DEV_ASPEED=y
CONFIG_NLS_CODEPAGE_852=y
CONFIG_CRYPTO_GENIV=y
CONFIG_AL3320A=y
CONFIG_SUN50I_H6_PRCM_PPU=y
CONFIG_MTK_VCP_MBOX=y
CONFIG_DPAA2_CONSOLE=y
CONFIG_GENERIC_IDLE_POLL_SETUP=y
CONFIG_RZG3E_THERMAL=y
CONFIG_PINCTRL_PFC_R8A779F0=y
CONFIG_PHY_MTK_XSPHY=y
CONFIG_DS1803=y
CONFIG_RESET_ASPEED=y
CONFIG_CHROME_PLATFORMS=y
CONFIG_SENSORS_AMC6821=y
CONFIG_DEBUG_FS_ALLOW_NONE=y
CONFIG_MAX5821=y
CONFIG_ADXL313=y
CONFIG_RISCV_SCALAR_MISALIGNED=y
CONFIG_BMG160=y
CONFIG_TRACER_SNAPSHOT=y
CONFIG_QCOM_GENI_SE=y
CONFIG_PINCTRL_ASPEED=y
CONFIG_SENSORS_MAX6650=y
CONFIG_HW_RANDOM_VIRTIO=y
CONFIG_MSM_GCC_8998=y
CONFIG_MFD_MAX5970=y
CONFIG_FB_OMAP2=y
CONFIG_REGULATOR_SY8824X=y
CONFIG_SERIO_ARC_PS2=y
CONFIG_MFD_MXS_LRADC=y
CONFIG_QCOM_CLK_SMD_RPM=y
CONFIG_MTD_CFI_AMDSTD=y
CONFIG_GPIO_RTD=y
CONFIG_SENSORS_BH1770=y
CONFIG_CRYPTO_DEV_FSL_CAAM_RNG_API=y
CONFIG_SM_GPUCC_6350=y
CONFIG_QCOM_SPM=y
CONFIG_QCOM_CPR=y
CONFIG_RZG2L_THERMAL=y
CONFIG_ENCLOSURE_SERVICES=y
CONFIG_PAGE_SIZE_LESS_THAN_64KB=y
CONFIG_RCU_TRACE=y
CONFIG_HAVE_ARCH_KSTACK_ERASE=y
CONFIG_PINCTRL_TMPV7700=y
CONFIG_CRYPTO_HASH=y
CONFIG_RTC_DRV_M48T35=y
CONFIG_DEBUG_LOCKDEP=y
CONFIG_CRYPTO_SKCIPHER=y
CONFIG_TIMB_DMA=y
CONFIG_UACCESS_MEMCPY=y
CONFIG_GENERIC_STRNCPY_FROM_USER=y
CONFIG_PMIC_DA9052=y
CONFIG_COREDUMP=y
CONFIG_PWM_BCM_IPROC=y
CONFIG_PXA_DMA=y
CONFIG_PINCTRL_STARFIVE_JH7110_SYS=y
CONFIG_PINCTRL_TH1520=y
CONFIG_MSM_GCC_8996=y
CONFIG_CROS_EC=y
CONFIG_APDS9999=y
CONFIG_BOSCH_BNO055_I2C=y
CONFIG_MFD_STM32_TIMERS=y
CONFIG_PINCTRL_SINGLE=y
CONFIG_FWCTL=y
CONFIG_SUN20I_GPADC=y
CONFIG_MFD_SPACEMIT_P1=y
CONFIG_EDAC_SUPPORT=y
CONFIG_DMARD09=y
CONFIG_FUNCTION_ALIGNMENT_64B=y
CONFIG_PHY_QCOM_USB_SS=y
CONFIG_CRYPTO_DEV_IXP4XX=y
CONFIG_REGULATOR_FIXED_VOLTAGE=y
CONFIG_PINCTRL_BERLIN=y
CONFIG_HAVE_PAGE_SIZE_4KB=y
CONFIG_PINCTRL_PALMAS=y
CONFIG_SENSORS_ISL29018=y
CONFIG_MUX_MMIO=y
CONFIG_CLK_BCM_63XX=y
CONFIG_PINCTRL_MESON_GXL=y
CONFIG_I2C_JZ4780=y
CONFIG_BITREVERSE=y
CONFIG_RTC_INTF_DEV=y
CONFIG_CRYPTO_RNG2=y
CONFIG_GPIO_IDT3243X=y
CONFIG_REGULATOR_QCOM_PM8008=y
CONFIG_REGULATOR_PV88060=y
CONFIG_PINCTRL_MESON_GXBB=y
CONFIG_RPMSG_QCOM_GLINK_RPM=y
CONFIG_SG_SPLIT=y
CONFIG_RESET_AXS10X=y
CONFIG_GPIO_MSC313=y
CONFIG_TEST_UDELAY=y
CONFIG_I2C_QUP=y
CONFIG_GENERIC_ARCH_TOPOLOGY=y
CONFIG_COMPILE_TEST=y
CONFIG_LPC32XX_ADC=y
CONFIG_I2C_CADENCE=y
CONFIG_ARCH_CANAAN=y
CONFIG_HAVE_KERNEL_LZMA=y
CONFIG_PERCPU_STATS=y
CONFIG_THERMAL_MMIO=y
CONFIG_FB_IMX=y
CONFIG_TRACE_PREEMPT_TOGGLE=y
CONFIG_PINCONF=y
CONFIG_PINCTRL_MTK=y
CONFIG_PROFILING=y
CONFIG_PMIC_DA903X=y
CONFIG_RTC_LIB=y
CONFIG_FTRACE=y
CONFIG_PINCTRL_IMX6SX=y
CONFIG_PINCTRL_SM8250_LPASS_LPI=y
CONFIG_QCOM_CLK_APCS_SDX55=y
CONFIG_S3C64XX_COMMON_CLK=y
CONFIG_NXP_STM_TIMER=y
CONFIG_SC_GCC_8280XP=y
CONFIG_CLKSRC_VERSATILE=y
CONFIG_CRYPTO_AKCIPHER2=y
CONFIG_REGULATOR_MT6332=y
CONFIG_INTERCONNECT_QCOM_OSM_L3=y
CONFIG_GPIO_REGMAP=y
CONFIG_VIRTIO=y
CONFIG_I2C_ALGOPCA=y
CONFIG_ARCH_HAS_MEMBARRIER_CALLBACKS=y
CONFIG_PINCTRL_MERRIFIELD=y
CONFIG_FPGA=y
CONFIG_REGULATOR_MAX77675=y
CONFIG_LEDS_TRIGGER_CPU=y
CONFIG_SAR_GPUCC_2130P=y
CONFIG_NOP_TRACER=y
CONFIG_ASPEED_ADC=y
CONFIG_MOUSE_PS2_TRACKPOINT=y
CONFIG_APDS9306=y
CONFIG_STACKDEPOT=y
CONFIG_MFD_DA9150=y
CONFIG_TEST_FREE_PAGES=y
CONFIG_BPF_SYSCALL=y
CONFIG_REGULATOR_RTQ6752=y
CONFIG_LEDS_TRIGGER_MTD=y
CONFIG_GPIO_TEGRA=y
CONFIG_ASPEED_KCS_IPMI_BMC=y
CONFIG_SOC_BUS=y
CONFIG_IMX93_ADC=y
CONFIG_JFFS2_FS_XATTR=y
CONFIG_TUNE_GENERIC=y
CONFIG_GPIO_VISCONTI=y
CONFIG_I2C_LS2X=y
CONFIG_RTC_DRV_BRCMSTB=y
CONFIG_COMMON_CLK_VC3=y
CONFIG_PINCTRL_WM8850=y
CONFIG_NLS_CODEPAGE_437=y
CONFIG_POWER_RESET=y
CONFIG_REGULATOR_S5M8767=y
CONFIG_RSEQ_SLICE_EXTENSION=y
CONFIG_SCD30_I2C=y
CONFIG_SC_DISPCC_8280XP=y
CONFIG_SENSORS_ADT7475=y
CONFIG_OF_RESERVED_MEM=y
CONFIG_DMARD10=y
CONFIG_PINCTRL_PFC_R8A77951=y
CONFIG_AXP288_ADC=y
CONFIG_RTC_DRV_NCT3018Y=y
CONFIG_RTC_DRV_MESON=y
CONFIG_DMADEVICES_VDEBUG=y
CONFIG_GPIO_VIRTIO=y
CONFIG_MXS_TIMER=y
CONFIG_REGULATOR_QCOM_RPMH=y
CONFIG_PROC_CHILDREN=y
CONFIG_GPIO_TQMX86=y
CONFIG_CROS_EC_PROTO=y
CONFIG_STM32_ADC_CORE=y
CONFIG_CC_HAS_AUTO_VAR_INIT_PATTERN=y
CONFIG_CLKSRC_PISTACHIO=y
CONFIG_MMC35240=y
CONFIG_PINCTRL_IMX1=y
CONFIG_KEY_DH_OPERATIONS=y
CONFIG_CLK_SIFIVE_PRCI=y
CONFIG_GPIO_EP93XX=y
CONFIG_RISCV_EMULATED_UNALIGNED_ACCESS=y
CONFIG_DEBUG_FORCE_WEAK_PER_CPU=y
CONFIG_REGULATOR_SY8827N=y
CONFIG_BACKLIGHT_SKY81452=y
CONFIG_PHY_LAN966X_SERDES=y
CONFIG_SH_TIMER_MTU2=y
CONFIG_AD7091R5=y
CONFIG_MFD_TI_AM335X_TSCADC=y
CONFIG_COMMON_CLK_TPS68470=y
CONFIG_RTC_DRV_SC27XX=y
CONFIG_PINCTRL_BROXTON=y
CONFIG_SCF_TORTURE_TEST=y
CONFIG_GENERIC_CALIBRATE_DELAY=y
CONFIG_MOST=y
CONFIG_SENSORS_W83795=y
CONFIG_OF_RESOLVE=y
CONFIG_TOOLCHAIN_NEEDS_EXPLICIT_ZICSR_ZIFENCEI=y
CONFIG_ARCH_HAS_NON_OVERLAPPING_ADDRESS_SPACE=y
CONFIG_QCS_Q6SSTOP_404=y
CONFIG_OBJAGG=y
CONFIG_NLS_MAC_GREEK=y
CONFIG_COMMON_CLK_ESWIN=y
CONFIG_PREEMPT_BUILD=y
CONFIG_LEDS_LP3944=y
CONFIG_SENSORS_ARM_SCPI=y
CONFIG_CRYPTO_LIB_UTILS=y
CONFIG_OID_REGISTRY=y
CONFIG_RD_XZ=y
CONFIG_SENSORS_MR75203=y
CONFIG_POWER_RESET_SPACEMIT_P1=y
CONFIG_CRYPTO_CRC32C=y
CONFIG_PHY_FSL_SAMSUNG_HDMI_PHY=y
CONFIG_GPIO_DS4520=y
CONFIG_NLS_CODEPAGE_874=y
CONFIG_PHY_QCOM_EDP=y
CONFIG_PHY_ATH79_USB=y
CONFIG_XZ_DEC_TEST=y
CONFIG_LEDS_CLASS=y
CONFIG_SENSORS_EMC1403=y
CONFIG_FB_BACKLIGHT=y
CONFIG_CLK_X1E80100_TCSRCC=y
CONFIG_PWM_STM32_LP=y
CONFIG_MMC5983=y
CONFIG_BACKLIGHT_DA903X=y
CONFIG_MFD_RETU=y
CONFIG_ALTERA_PR_IP_CORE=y
CONFIG_IPMB_DEVICE_INTERFACE=y
CONFIG_CRYPTO_LIB_POLY1305_ARCH=y
CONFIG_IIO_SIMPLE_DUMMY_BUFFER=y
CONFIG_ICP10100=y
CONFIG_EINT_MTK=y
CONFIG_HAVE_CLK=y
CONFIG_IIO_BUFFER_CB=y
CONFIG_TEST_MEMCAT_P=y
CONFIG_PINCTRL_IMX8QM=y
CONFIG_HAS_DMA=y
CONFIG_REGULATOR_MAX77826=y
CONFIG_COMMON_CLK_MT7622=y
CONFIG_MFD_SIMPLE_MFD_I2C=y
CONFIG_LEDS_PCA963X=y
CONFIG_LEDS_LM3601X=y
CONFIG_I2C_SLAVE_EEPROM=y
CONFIG_PHY_QCOM_SGMII_ETH=y
CONFIG_OF=y
CONFIG_REGULATOR_UNIPHIER=y
CONFIG_RTC_DRV_ABB5ZES3=y
CONFIG_REGULATOR_MT6363=y
CONFIG_RISCV_IMSIC=y
CONFIG_PINCTRL_TEGRA30=y
CONFIG_ARCH_DEFAULT_CRASH_DUMP=y
CONFIG_REGULATOR_TPS51632=y
CONFIG_RCU_NEED_SEGCBLIST=y
CONFIG_GENERIC_LIB_DEVMEM_IS_ALLOWED=y
CONFIG_COMMON_CLK_SI5341=y
CONFIG_MFD_RN5T618=y
CONFIG_QCOM_QSEECOM=y
CONFIG_GPIO_RASPBERRYPI_EXP=y
CONFIG_GPIO_BCM_XGS_IPROC=y
CONFIG_KPSS_XCC=y
CONFIG_REGMAP=y
CONFIG_SDM_GCC_845=y
CONFIG_GEHC_PMC_ADC=y
CONFIG_GENERIC_PINCONF=y
CONFIG_SENSORS_NCT6775_CORE=y
CONFIG_MTD_ONENAND_SAMSUNG=y
CONFIG_HW_RANDOM_KEYSTONE=y
CONFIG_I2C_ST=y
CONFIG_SLAB_FREELIST_HARDENED=y
CONFIG_PINCTRL_SAMSUNG=y
CONFIG_DW_I3C_MASTER=y
CONFIG_HW_RANDOM_MESON=y
CONFIG_ARCH_STACKWALK=y
CONFIG_MFD_PF1550=y
CONFIG_SC_DISPCC_7180=y
CONFIG_SPMI_HISI3670=y
CONFIG_PAC1934=y
CONFIG_COMMON_CLK_SI5351=y
CONFIG_XZ_DEC_SPARC=y
CONFIG_VIDEOMODE_HELPERS=y
CONFIG_DMA_DECLARE_COHERENT=y
CONFIG_TEGRA_HOST1X=y
CONFIG_PRINTK_TIME=y
CONFIG_IIO_MS_SENSORS_I2C=y
CONFIG_RTC_DRV_RV3029_HWMON=y
CONFIG_DEFAULT_SECURITY_DAC=y
CONFIG_RING_BUFFER_ALLOW_SWAP=y
CONFIG_QCOM_FASTRPC=y
CONFIG_COMMON_CLK_PISTACHIO=y
CONFIG_REGULATOR_PF9453=y
CONFIG_RTC_DRV_RV3029C2=y
CONFIG_REALTEK_OTTO_TIMER=y
CONFIG_REGULATOR_S2MPS11=y
CONFIG_FIPS_SIGNATURE_SELFTEST_RSA=y
CONFIG_I2C_FSI=y
CONFIG_RISCV_TICKET_SPINLOCKS=y
CONFIG_INTEL_TH=y
CONFIG_RISCV_ISA_VENDOR_EXT=y
CONFIG_GPIO_HISI=y
CONFIG_CRYPTO_SHA512=y
CONFIG_LEDS_LT3593=y
CONFIG_REGULATOR_SUN20I=y
CONFIG_CRYPTO_DEV_OMAP=y
CONFIG_LEDS_RT4505=y
CONFIG_PHY_MESON8_HDMI_TX=y
CONFIG_MXC_CLK=y
CONFIG_RESET_SKY1=y
CONFIG_PINCTRL_BCM6358=y
CONFIG_ARCH_WANT_FRAME_POINTERS=y
CONFIG_SA_CAMCC_8775P=y
CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE=y
CONFIG_FB_OMAP2_PANEL_SHARP_LS037V7DW01=y
CONFIG_PINCTRL_MCP23S08_I2C=y
CONFIG_PHY_PXA_USB=y
CONFIG_SM_LPASSCC_6115=y
CONFIG_SM_GCC_4450=y
CONFIG_FB_SYS_FILLRECT=y
CONFIG_CRYPTO_DEV_HISI_SEC=y
CONFIG_TCS3472=y
CONFIG_TEST_DHRY=y
CONFIG_MTK_TIMER=y
CONFIG_HW_RANDOM=y
CONFIG_GPIO_BRCMSTB=y
CONFIG_MTD_NAND_BRCMNAND=y
CONFIG_RTC_DRV_OMAP=y
CONFIG_LEDS_DA903X=y
CONFIG_NO_HZ_COMMON=y
CONFIG_GPIO_OMAP=y
CONFIG_PECI=y
CONFIG_THERMAL_HWMON=y
CONFIG_PINCTRL=y
CONFIG_MULTIUSER=y
CONFIG_LTC2485=y
CONFIG_SPS30_I2C=y
CONFIG_I2C_SH_MOBILE=y
CONFIG_TI_PRUSS_INTC=y
CONFIG_PWM_RENESAS_RZ_MTU3=y
CONFIG_SENSORS_TMP464=y
CONFIG_PINCTRL_IMXRT1050=y
CONFIG_PHY_HI3660_USB=y
CONFIG_COMMON_CLK_SCMI=y
CONFIG_MFD_MAX77693=y
CONFIG_I2C_ALGOBIT=y
CONFIG_TIMER_OF=y
CONFIG_PINCTRL_METEORPOINT=y
CONFIG_CLK_KAANAPALI_GCC=y
CONFIG_GNSS=y
CONFIG_TSL2583=y
CONFIG_MFD_TPS65219=y
CONFIG_IPQ_GCC_806X=y
CONFIG_FB_WM8505=y
CONFIG_PWM_SPEAR=y
CONFIG_QCOM_HIDMA_MGMT=y
CONFIG_AIO=y
CONFIG_CRYPTO_RSA=y
CONFIG_RESET_HISI=y
CONFIG_REGULATOR_PALMAS=y
CONFIG_COMMON_CLK_MT8516=y
CONFIG_MCP47FEB02=y
CONFIG_GPIO_CROS_EC=y
CONFIG_COMMON_CLK_MT8183_MMSYS=y
CONFIG_PINCTRL_MT8135=y
CONFIG_COMMON_CLK_MT6779_VENCSYS=y
CONFIG_ARCH_RV32I=y
CONFIG_MTD_NAND_SHARPSL=y
CONFIG_XGENE_DMA=y
CONFIG_IRQ_POLL=y
CONFIG_SENSEAIR_SUNRISE_CO2=y
CONFIG_PINCTRL_PFC_R8A7743=y
CONFIG_IIO_CONFIGFS=y
CONFIG_ERRATA_ANDES=y
CONFIG_BACKLIGHT_MAX25014=y
CONFIG_INV_ICM45600=y
CONFIG_RESET_MCHP_SPARX5=y
CONFIG_RTC_DRV_PCF8523=y
CONFIG_DEBUG_INFO_NONE=y
CONFIG_CRYPTO_DEV_FSL_CAAM_JR=y
CONFIG_RCU_SCALE_TEST=y
CONFIG_COMMON_CLK_MT8183_CAMSYS=y
CONFIG_LEDS_BRIGHTNESS_HW_CHANGED=y
CONFIG_BINARY_PRINTF=y
CONFIG_HAVE_GCC_PLUGINS=y
CONFIG_PINCTRL_BM1880=y
CONFIG_NEED_PER_CPU_KM=y
CONFIG_PHY_SUNPLUS_USB=y
CONFIG_BACKLIGHT_LV5207LP=y
CONFIG_CRYPTO_LRW=y
CONFIG_CLK_SOPHGO_CV1800=y
CONFIG_PHY_MESON_AXG_MIPI_DPHY=y
CONFIG_SOC_INTEGRATOR_CM=y
CONFIG_MTD_NAND_MARVELL=y
CONFIG_CONTEXT_ANALYSIS_TEST=y
CONFIG_GENERIC_MSI_IRQ=y
CONFIG_AK09911=y
CONFIG_MFD_STM32_LPTIMER=y
CONFIG_CRYPTO_DEV_QCE=y
CONFIG_RTC_DRV_DA9052=y
CONFIG_REGULATOR_SKY81452=y
CONFIG_PANIC_ON_OOPS=y
CONFIG_PINCTRL_BCM6328=y
CONFIG_RTC_DRV_ATCRTC100=y
CONFIG_AMD_SBRMI_I2C=y
CONFIG_MMA7660=y
CONFIG_CLK_IMX8MM=y
CONFIG_PROC_FS=y
CONFIG_ARM_SCMI_POWER_DOMAIN=y
CONFIG_I2C_CHARDEV=y
CONFIG_MSM_GCC_8909=y
CONFIG_PHY_FSL_IMX8MQ_USB=y
CONFIG_HIST_TRIGGERS_DEBUG=y
CONFIG_SENSORS_ADM1026=y
CONFIG_THERMAL_DEFAULT_GOV_USER_SPACE=y
CONFIG_MTD_CMDLINE_PARTS=y
CONFIG_COMMON_CLK_LAN966X=y
CONFIG_PECI_CPU=y
CONFIG_DW_AXI_DMAC=y
CONFIG_VIRTIO_ANCHOR=y
CONFIG_MMP_PDMA=y
CONFIG_PHY_MTK_TPHY=y
CONFIG_PHY_BCM63XX_USBH=y
CONFIG_READABLE_ASM=y
CONFIG_NLS_UTF8=y
CONFIG_LEDS_LM3697=y
CONFIG_RCAR_DMAC=y
CONFIG_CONSOLE_TRANSLATIONS=y
CONFIG_OVERLAY_FS_METACOPY=y
CONFIG_JFFS2_FS=y
CONFIG_PINCTRL_MT6893=y
CONFIG_PWM_MTK_DISP=y
CONFIG_CRYPTO_CHACHA20POLY1305=y
CONFIG_IIO_DUMMY_EVGEN=y
CONFIG_SM_DISPCC_4450=y
CONFIG_GENERIC_CPU_DEVICES=y
CONFIG_REGULATOR_TI_ABB=y
CONFIG_RTC_DRV_SD3078=y
CONFIG_PINCTRL_PXA27X=y
CONFIG_VFIO_PLATFORM_BASE=y
CONFIG_FSI_MASTER_AST_CF=y
CONFIG_PHY_MIXEL_LVDS_PHY=y
CONFIG_GENERIC_NET_UTILS=y
CONFIG_COMMON_CLK_VC7=y
CONFIG_TI_SYSCON_CLK=y
CONFIG_SENSORS_LM78=y
CONFIG_GPIO_ADNP=y
CONFIG_ADXL345_I2C=y
CONFIG_SYSTEM_TRUSTED_KEYRING=y
CONFIG_RING_BUFFER_STARTUP_TEST=y
CONFIG_CLK_X1E80100_DISPCC=y
CONFIG_LD_ORPHAN_WARN=y
CONFIG_HI3660_MBOX=y
CONFIG_REGULATOR_MC13892=y
CONFIG_FPGA_MGR_SOCFPGA=y
CONFIG_MTK_MFG_PM_DOMAIN=y
CONFIG_SRAM=y
CONFIG_PINCTRL_MT8127=y
CONFIG_REGULATOR_RT5739=y
CONFIG_VMGENID=y
CONFIG_DEBUG_FS=y
CONFIG_PINCTRL_MESON_AXG=y
CONFIG_PINCTRL_SH_PFC_GPIO=y
CONFIG_EXTCON_MAX8997=y
CONFIG_INTERCONNECT_CLK=y
CONFIG_GENERIC_ALLOCATOR=y
CONFIG_MTD_MAP_BANK_WIDTH_2=y
CONFIG_AD5380=y
CONFIG_QCOM_RAMP_CTRL=y
CONFIG_RTC_DRV_CROS_EC=y
CONFIG_CRYPTO_XTS=y
CONFIG_GENERIC_ATOMIC64=y
CONFIG_DPOT_DAC=y
CONFIG_MHI_BUS_EP=y
CONFIG_CM3323=y
CONFIG_MFD_TWL4030_AUDIO=y
CONFIG_REGULATOR_88PG86X=y
CONFIG_GPIO_SPACEMIT_K1=y
CONFIG_PAGE_OWNER=y
CONFIG_CRYPTO_DEV_FSL_CAAM=y
CONFIG_COMMON_CLK_MT8173_IMGSYS=y
CONFIG_SC27XX_ADC=y
CONFIG_LZO_DECOMPRESS=y
CONFIG_SENSORS_LTC4245=y
CONFIG_LEDS_LGM=y
CONFIG_PINCTRL_LOONGSON2=y
CONFIG_LEDS_MAX8997=y
CONFIG_SPMI=y
CONFIG_AL_FIC=y
CONFIG_I2C_PXA=y
CONFIG_CRYPTO_SELFTESTS_FULL=y
CONFIG_PWM_JZ4740=y
CONFIG_GENERIC_IRQ_DEBUGFS=y
CONFIG_LEDS_BD2606MVV=y
CONFIG_CRYPTO_ECC=y
CONFIG_REGULATOR_RT4803=y
CONFIG_QCOM_SMD_RPM=y
CONFIG_ARCH_WANT_LD_ORPHAN_WARN=y
CONFIG_CLK_IMX95_BLK_CTL=y
CONFIG_REGULATOR_MAX8893=y
CONFIG_MPRLS0025PA_I2C=y
CONFIG_MFD_WM831X=y
