CONFIG_IPVLAN=n
CONFIG_PCI_LABEL=n
CONFIG_CPU_IDLE_MULTIPLE_DRIVERS=n
CONFIG_TREE_SRCU=n
CONFIG_MTD_CFI=n
CONFIG_THREAD_INFO_IN_TASK=n
CONFIG_BLK_DEV_THROTTLING=n
CONFIG_WIRELESS=n
CONFIG_THERMAL_OF=n
CONFIG_NET_CLS=n
CONFIG_I2C_MUX=n
CONFIG_USB_CONFIGFS_F_FS=n
CONFIG_SND_TIMER=n
CONFIG_HAVE_REGS_AND_STACK_ACCESS_API=n
CONFIG_CC_HAS_ZERO_CALL_USED_REGS=n
CONFIG_COMPAT_BRK=n
CONFIG_ERRATA_SIFIVE_CIP_453=n
CONFIG_USB_CONFIGFS_ACM=n
CONFIG_RD_LZO=n
CONFIG_EFI=n
CONFIG_WATCHDOG_HANDLE_BOOT_ENABLED=n
CONFIG_NET_VENDOR_SILAN=n
CONFIG_PCIE_FU740=n
CONFIG_ARCH_MHP_MEMMAP_ON_MEMORY_ENABLE=n
CONFIG_CLK_SOPHGO_SG2042_CLKGEN=n
CONFIG_SYMBOLIC_ERRNAME=n
CONFIG_HAVE_DEBUG_KMEMLEAK=n
CONFIG_SND_SIMPLE_CARD=n
CONFIG_RISCV_ISA_FALLBACK=n
CONFIG_OID_REGISTRY=n
CONFIG_HAVE_KVM_READONLY_MEM=n
CONFIG_PCIEASPM_DEFAULT=n
CONFIG_IP_ADVANCED_ROUTER=n
CONFIG_HAVE_ARCH_JUMP_LABEL_RELATIVE=n
CONFIG_ARCH_SUPPORTS_UPROBES=n
CONFIG_HAVE_KERNEL_LZ4=n
CONFIG_CRYPTO_AKCIPHER2=n
CONFIG_COMPAT_BINFMT_ELF=n
CONFIG_HUGETLBFS=n
CONFIG_MOUSE_PS2_SYNAPTICS=n
CONFIG_SPI_MASTER=n
CONFIG_QUEUED_SPINLOCKS=n
CONFIG_ARCH_HAVE_NMI_SAFE_CMPXCHG=n
CONFIG_GENERIC_IRQ_SHOW=n
CONFIG_NET_VENDOR_ATHEROS=n
CONFIG_VIDEO_V4L2_I2C=n
CONFIG_LOCKDEP_SUPPORT=n
CONFIG_HAVE_SAMPLE_FTRACE_DIRECT_MULTI=n
CONFIG_HAVE_EBPF_JIT=n
CONFIG_RESET_STARFIVE_JH7100=n
CONFIG_OF_KOBJ=n
CONFIG_DRM_CLIENT_LIB=n
CONFIG_GLOB=n
CONFIG_ERRATA_SIFIVE_CIP_1200=n
CONFIG_ARCH_HAS_VDSO_ARCH_DATA=n
CONFIG_ACPI_THERMAL_LIB=n
CONFIG_ASN1=n
CONFIG_PRINTK_TIME=n
CONFIG_SKB_EXTENSIONS=n
CONFIG_SECURITY_PATH=n
CONFIG_HAVE_ARCH_KFENCE=n
CONFIG_USB_HID=n
CONFIG_PWRSEQ_EMMC=n
CONFIG_CRYPTO_DEV_VIRTIO=n
CONFIG_SPI_CADENCE_QUADSPI=n
CONFIG_NETWORK_FILESYSTEMS=n
CONFIG_CRYPTO_DEV_ALLWINNER=n
CONFIG_ARCH_WEAK_RELEASE_ACQUIRE=n
CONFIG_SUN20I_D1_CCU=n
CONFIG_DM_BIO_PRISON=n
CONFIG_EFI_ESRT=n
CONFIG_INTERVAL_TREE=n
CONFIG_SUN55I_PCK600=n
CONFIG_BLOCK_LEGACY_AUTOLOAD=n
CONFIG_XZ_DEC_SPARC=n
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO_BARE=n
CONFIG_GENERIC_BUG=n
CONFIG_ARCH_DMA_ADDR_T_64BIT=n
CONFIG_MOUSE_PS2_ALPS=n
CONFIG_XZ_DEC_BCJ=n
CONFIG_ARCH_ULTRARISC=n
CONFIG_CLK_STARFIVE_JH7110_STG=n
CONFIG_HAVE_KCSAN_COMPILER=n
CONFIG_ARCH_RV64I=n
CONFIG_IPC_NS=n
CONFIG_RISCV_ISA_V_PREEMPTIVE=n
CONFIG_SYNC_FILE=n
CONFIG_IIO=n
CONFIG_CRC_CCITT=n
CONFIG_FB_DEVICE=n
CONFIG_VIRTIO_NET=n
CONFIG_AS_HAS_INSN=n
CONFIG_RISCV_IOMMU_PCI=n
CONFIG_RISCV_TIMER=n
CONFIG_NET_9P_VIRTIO=n
CONFIG_SUN4I_TIMER=n
CONFIG_BFQ_GROUP_IOSCHED=n
CONFIG_FTRACE=n
CONFIG_SATA_PMP=n
CONFIG_HAVE_SOFTIRQ_ON_OWN_STACK=n
CONFIG_NVME_CORE=n
CONFIG_CRYPTO_GCM=n
CONFIG_ARCH_HAS_SET_MEMORY=n
CONFIG_RISCV_SCALAR_MISALIGNED=n
CONFIG_RISCV_MISALIGNED=n
CONFIG_DECOMPRESS_XZ=n
CONFIG_INIT_STACK_ALL_ZERO=n
CONFIG_CRYPTO_LIB_UTILS=n
CONFIG_MTD_CFI_UTIL=n
CONFIG_NET_9P_FD=n
CONFIG_USB_ROLE_SWITCH=n
CONFIG_CRYPTO_CBC=n
CONFIG_HAVE_KERNEL_ZSTD=n
CONFIG_DWMAC_THEAD=n
CONFIG_NLATTR=n
CONFIG_DEBUG_BUGVERBOSE=n
CONFIG_USB_CONFIGFS_ECM_SUBSET=n
CONFIG_USER_STACKTRACE_SUPPORT=n
CONFIG_CRYPTO_GENIV=n
CONFIG_ND_BTT=n
CONFIG_POLARFIRE_SOC_IRQ_MUX=n
CONFIG_LLC=n
CONFIG_SPARSEMEM=n
CONFIG_ARCH_SUPPORTS_SCHED_MC=n
CONFIG_DRM=n
CONFIG_PINCTRL_ULTRARISC_DP1000=n
CONFIG_ARCH_HAS_DEBUG_VIRTUAL=n
CONFIG_SATA_HOST=n
CONFIG_SERIAL_MCTRL_GPIO=n
CONFIG_ARCH_HAS_DEBUG_VM_PGTABLE=n
CONFIG_USB_PCI=n
CONFIG_VIRTIO_DMA_SHARED_BUFFER=n
CONFIG_XZ_DEC_ARM=n
CONFIG_HAVE_PREEMPT_DYNAMIC=n
CONFIG_TOOLCHAIN_HAS_ZBB=n
CONFIG_NETDEVICES=n
CONFIG_HID=n
CONFIG_NVMEM_SUNXI_SID=n
CONFIG_ADVISE_SYSCALLS=n
CONFIG_ARCH_SUPPORTS_HUGETLBFS=n
CONFIG_CRYPTO_SHA1=n
CONFIG_MMC_SDHCI_CADENCE=n
CONFIG_PAGE_REPORTING=n
CONFIG_SERIAL_SIFIVE_CONSOLE=n
CONFIG_USB_CDNS3_STARFIVE=n
CONFIG_FRAME_POINTER=n
CONFIG_KALLSYMS=n
CONFIG_SERIAL_8250_16550A_VARIANTS=n
CONFIG_NET_VENDOR_AQUANTIA=n
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE=n
CONFIG_LIBNVDIMM=n
CONFIG_NFS_V4_2_SSC_HELPER=n
CONFIG_GENERIC_PCI_IOMAP=n
CONFIG_BLK_CGROUP=n
CONFIG_POWER_RESET_SYSCON=n
CONFIG_ARCH_HAS_MEMBARRIER_SYNC_CORE=n
CONFIG_NET=n
CONFIG_REGMAP_SPI=n
CONFIG_SYSVIPC_COMPAT=n
CONFIG_ERRATA_ANDES=n
CONFIG_VDSO_GETRANDOM=n
CONFIG_BRIDGE_VLAN_FILTERING=n
CONFIG_POWER_RESET_SYSCON_POWEROFF=n
CONFIG_HARDIRQS_SW_RESEND=n
CONFIG_PCIE_PME=n
CONFIG_SUN50I_IOMMU=n
CONFIG_MEDIA_PLATFORM_DRIVERS=n
CONFIG_SOC_STARFIVE=n
CONFIG_DRM_SUN6I_DSI=n
CONFIG_DRM_CLIENT_SELECTION=n
CONFIG_NET_VENDOR_TEHUTI=n
CONFIG_ARCH_WANT_FRAME_POINTERS=n
CONFIG_GENERIC_PINCTRL_GROUPS=n
CONFIG_GENERIC_HWEIGHT=n
CONFIG_MEMBARRIER=n
CONFIG_PROC_MEM_FORCE_PTRACE=n
CONFIG_NF_LOG_SYSLOG=n
CONFIG_DWMAC_SOPHGO=n
CONFIG_STARFIVE_JHB100_INTC=n
CONFIG_RISCV_PMU_LEGACY=n
CONFIG_E1000E=n
CONFIG_VT_CONSOLE_SLEEP=n
CONFIG_RISCV_ISA_V_DEFAULT_ENABLE=n
CONFIG_SPI_DYNAMIC=n
CONFIG_NET_VENDOR_EMULEX=n
CONFIG_PID_NS=n
CONFIG_HAVE_ARCH_THREAD_STRUCT_WHITELIST=n
CONFIG_IOMMU_PT=n
CONFIG_NET_VENDOR_ALLWINNER=n
CONFIG_PERF_EVENTS=n
CONFIG_RPS=n
CONFIG_ARCH_WANT_OPTIMIZE_DAX_VMEMMAP=n
CONFIG_MII=n
CONFIG_BLK_CGROUP_PUNT_BIO=n
CONFIG_IRQ_MSI_LIB=n
CONFIG_MTD_CFI_I1=n
CONFIG_DM_THIN_PROVISIONING=n
CONFIG_SPACEMIT_CCU=n
CONFIG_PINCTRL_ULTRARISC=n
CONFIG_ARCH_SPARSEMEM_ENABLE=n
CONFIG_LZO_COMPRESS=n
CONFIG_MOUSE_PS2_FOCALTECH=n
CONFIG_PM_SLEEP_SMP=n
CONFIG_DEVMEM=n
CONFIG_CC_HAS_AUTO_VAR_INIT_PATTERN=n
CONFIG_GCC10_NO_ARRAY_BOUNDS=n
CONFIG_PINMUX=n
CONFIG_TOOLCHAIN_HAS_ZBA=n
CONFIG_MOUSE_PS2_LOGIPS2PP=n
CONFIG_MTD_OF_PARTS=n
CONFIG_MOUSE_PS2=n
CONFIG_ARCH_STACKWALK=n
CONFIG_FS_IOMAP=n
CONFIG_XZ_DEC_RISCV=n
CONFIG_NETFILTER_XT_MATCH_ADDRTYPE=n
CONFIG_HAVE_FUNCTION_GRAPH_FREGS=n
CONFIG_SND_DESIGNWARE_I2S=n
CONFIG_CROSS_MEMORY_ATTACH=n
CONFIG_GPIOLIB=n
CONFIG_OF_IRQ=n
CONFIG_HAVE_GUP_FAST=n
CONFIG_AIO=n
CONFIG_HAVE_KVM_DIRTY_RING=n
CONFIG_USB_MUSB_HDRC=n
CONFIG_PINCTRL_SOPHGO_SG2000=n
CONFIG_BLOCK=n
CONFIG_NF_CONNTRACK=n
CONFIG_NET_VENDOR_CHELSIO=n
CONFIG_GENERIC_IRQ_MIGRATION=n
CONFIG_LTO_NONE=n
CONFIG_BLOCK_HOLDER_DEPRECATED=n
CONFIG_CPU_FREQ_GOV_USERSPACE=n
CONFIG_WLAN_VENDOR_INTERSIL=n
CONFIG_SIGNALFD=n
CONFIG_OVERLAY_FS=n
CONFIG_RCU_STALL_COMMON=n
CONFIG_XZ_DEC=n
CONFIG_CPU_THERMAL=n
CONFIG_ARCH_HAS_CC_CAN_LINK=n
CONFIG_ARCH_HAS_PTE_SPECIAL=n
CONFIG_SOCK_CGROUP_DATA=n
CONFIG_NET_VENDOR_VERTEXCOM=n
CONFIG_ARCH_CC_CAN_LINK=n
CONFIG_ACPI_CPPC_LIB=n
CONFIG_STRICT_MODULE_RWX=n
CONFIG_USB_F_SERIAL=n
CONFIG_PINCTRL_SOPHGO_CV1800B=n
CONFIG_TRACEFS_AUTOMOUNT_DEPRECATED=n
CONFIG_R8169=n
CONFIG_EXTCON=n
CONFIG_MFD_AXP20X=n
CONFIG_CRYPTO_SHA512=n
CONFIG_HAVE_KERNEL_LZMA=n
CONFIG_RTC_LIB=n
CONFIG_HAVE_BUILDTIME_MCOUNT_SORT=n
CONFIG_MMC_SDHCI_OF_K1=n
CONFIG_SUNRPC_GSS=n
CONFIG_USB_F_RNDIS=n
CONFIG_USB_F_NCM=n
CONFIG_SERIAL_8250_CONSOLE=n
CONFIG_RT_MUTEXES=n
CONFIG_DT_IDLE_GENPD=n
CONFIG_CONTEXT_TRACKING=n
CONFIG_ATA_FORCE=n
CONFIG_REGULATOR_GPIO=n
CONFIG_CRYPTO_ALGAPI=n
CONFIG_UPROBES=n
CONFIG_LOCK_SPIN_ON_OWNER=n
CONFIG_USB_OTG=n
CONFIG_HAVE_KERNEL_BZIP2=n
CONFIG_USB_CONFIGFS_SERIAL=n
CONFIG_TRACING=n
CONFIG_NF_CONNTRACK_FTP=n
CONFIG_CMODEL_MEDANY=n
CONFIG_TASKS_RCU_GENERIC=n
CONFIG_ARCH_WANT_LD_ORPHAN_WARN=n
CONFIG_GENERIC_SMP_IDLE_THREAD=n
CONFIG_I2C_ALGOBIT=n
CONFIG_EXECMEM=n
CONFIG_DRM_TTM=n
CONFIG_CGROUP_FREEZER=n
CONFIG_TRACEPOINTS=n
CONFIG_NET_VENDOR_SMSC=n
CONFIG_SWAP=n
CONFIG_HAVE_ARCH_HUGE_VMALLOC=n
CONFIG_HUGETLB_PMD_PAGE_TABLE_SHARING=n
CONFIG_CORE_DUMP_DEFAULT_ELF_HEADERS=n
CONFIG_USB_LIBCOMPOSITE=n
CONFIG_MIGRATION=n
CONFIG_FS_POSIX_ACL=n
CONFIG_USB_CDNSP_PCI=n
CONFIG_RESET_STARFIVE_JH7110=n
CONFIG_LINEAR_RANGES=n
CONFIG_RESET_CONTROLLER=n
CONFIG_NFS_DISABLE_UDP_SUPPORT=n
CONFIG_USB_F_FS=n
CONFIG_FRAMEBUFFER_CONSOLE_DETECT_PRIMARY=n
CONFIG_CAN=n
CONFIG_DMA_NONCOHERENT_MMAP=n
CONFIG_WLAN_VENDOR_ATH=n
