CONFIG_SND_PROC_FS=n
CONFIG_ARCH_SUPPORTS_CRASH_DUMP=n
CONFIG_VHOST_ENABLE_FORK_OWNER_CONTROL=n
CONFIG_CHECKPOINT_RESTORE=n
CONFIG_MFD_SIMPLE_MFD_I2C=n
CONFIG_HAVE_BUILDTIME_MCOUNT_SORT=n
CONFIG_HW_RANDOM=n
CONFIG_USB_NET_DRIVERS=n
CONFIG_PROC_SYSCTL=n
CONFIG_ARCH_WEAK_RELEASE_ACQUIRE=n
CONFIG_HAVE_CLK_PREPARE=n
CONFIG_IRQCHIP=n
CONFIG_DEBUG_MEMORY_INIT=n
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE_PUD=n
CONFIG_BLOCK_HOLDER_DEPRECATED=n
CONFIG_OF_ADDRESS=n
CONFIG_NLS_CODEPAGE_437=n
CONFIG_MODULES_USE_ELF_RELA=n
CONFIG_DM_PERSISTENT_DATA=n
CONFIG_CC_HAS_ASM_INLINE=n
CONFIG_XZ_DEC_ARM64=n
CONFIG_SUNRPC_GSS=n
CONFIG_PCPU_DEV_REFCNT=n
CONFIG_LZO_DECOMPRESS=n
CONFIG_SERIAL_EARLYCON_RISCV_SBI=n
CONFIG_VFAT_FS=n
CONFIG_MEMFD_CREATE=n
CONFIG_ARCH_DEFAULT_CRASH_DUMP=n
CONFIG_MOUSE_PS2_SMBUS=n
CONFIG_ARCH_SUPPORTS_LTO_CLANG_THIN=n
CONFIG_RISCV_TIMER=n
CONFIG_ARCH_ANLOGIC=n
CONFIG_PHY_STARFIVE_JH7110_DPHY_RX=n
CONFIG_ARCH_HAS_SET_MEMORY=n
CONFIG_INET=n
CONFIG_NET_VENDOR_CAVIUM=n
CONFIG_NETWORK_SECMARK=n
CONFIG_NET_VENDOR_SOCIONEXT=n
CONFIG_NET_VENDOR_ADAPTEC=n
CONFIG_PHY_SUN6I_MIPI_DPHY=n
CONFIG_FB_SYSMEM_HELPERS_DEFERRED=n
CONFIG_GENERIC_PHY=n
CONFIG_SND_SOC_I2C_AND_SPI=n
CONFIG_RTC_CLASS=n
CONFIG_VMAP_STACK=n
CONFIG_ACPI_CPPC_CPUFREQ_FIE=n
CONFIG_RISCV_ISA_V_DEFAULT_ENABLE=n
CONFIG_SPI_SIFIVE=n
CONFIG_HAVE_ARCH_BITREVERSE=n
CONFIG_TOOLCHAIN_HAS_ZBKB=n
CONFIG_SATA_AHCI_PLATFORM=n
CONFIG_OPENSSL_SUPPORTS_ML_DSA=n
CONFIG_ACPI_PROCESSOR=n
CONFIG_NF_DEFRAG_IPV6=n
CONFIG_ARCH_SUPPORTS_ACPI=n
CONFIG_REGMAP=n
CONFIG_MFD_CORE=n
CONFIG_MPILIB=n
CONFIG_DIMLIB=n
CONFIG_EFI_STUB=n
CONFIG_RISCV_ISA_V=n
CONFIG_FIX_EARLYCON_MEM=n
CONFIG_IP_MULTICAST=n
CONFIG_GENERIC_SYSCALL=n
CONFIG_DEBUG_INFO_NONE=n
CONFIG_IO_URING_ZCRX=n
CONFIG_CRYPTO_CBC=n
CONFIG_USB_CONFIGFS_MASS_STORAGE=n
CONFIG_CAN_DEV=n
CONFIG_MTD_CFI_I2=n
CONFIG_PCIE_PLDA_HOST=n
CONFIG_VT_CONSOLE=n
CONFIG_MEDIA_SUBDRV_AUTOSELECT=n
CONFIG_MTD_BLKDEVS=n
CONFIG_PCI_PWRCTRL=n
CONFIG_NET_VENDOR_INTEL=n
CONFIG_IPV6_SIT=n
CONFIG_STACKTRACE_SUPPORT=n
CONFIG_MTD_CFI_UTIL=n
CONFIG_SPACEMIT_K1_CCU=n
CONFIG_MACB=n
CONFIG_COMPACTION=n
CONFIG_NF_CONNTRACK_FTP=n
CONFIG_USB_EHCI_TT_NEWSCHED=n
CONFIG_INTERVAL_TREE=n
CONFIG_MEMTEST=n
CONFIG_RISCV_ISA_ZACAS=n
CONFIG_OF=n
CONFIG_FB=n
CONFIG_RISCV_ISA_ZBKB=n
CONFIG_HOTPLUG_CORE_SYNC_FULL=n
CONFIG_ARCH_HAS_TICK_BROADCAST=n
CONFIG_USB_MUSB_SUNXI=n
CONFIG_PM_OPP=n
CONFIG_NET_VENDOR_NETRONOME=n
CONFIG_DEVPORT=n
CONFIG_STMMAC_ETH=n
CONFIG_CRC_CCITT=n
CONFIG_SYSFS=n
CONFIG_USB_F_MASS_STORAGE=n
CONFIG_REGULATOR_FIXED_VOLTAGE=n
CONFIG_HAVE_STACKPROTECTOR=n
CONFIG_LOCK_MM_AND_FIND_VMA=n
CONFIG_OF_FLATTREE=n
CONFIG_PCIE_STARFIVE_HOST=n
CONFIG_RISCV_ISA_ZICBOP=n
CONFIG_USB_EHCI_HCD=n
CONFIG_ARCH_HAS_BINFMT_FLAT=n
CONFIG_OID_REGISTRY=n
CONFIG_USB_OHCI_LITTLE_ENDIAN=n
CONFIG_SIFIVE_PLIC=n
CONFIG_CGROUP_BPF=n
CONFIG_BPF_EVENTS=n
CONFIG_HID_SUPPORT=n
CONFIG_XFRM_ALGO=n
CONFIG_DRM_SUBALLOC_HELPER=n
CONFIG_NET_VENDOR_NI=n
CONFIG_GROUP_SCHED_BANDWIDTH=n
CONFIG_CPU_FREQ_THERMAL=n
CONFIG_USB_ROLE_SWITCH=n
CONFIG_KVM_GENERIC_HARDWARE_ENABLING=n
CONFIG_XARRAY_MULTI=n
CONFIG_MACVLAN=n
CONFIG_BLK_DEV_DM_BUILTIN=n
CONFIG_GENERIC_STRNLEN_USER=n
CONFIG_HAVE_PERF_REGS=n
CONFIG_OF_GPIO=n
CONFIG_ARCH_HAS_FAST_MULTIPLIER=n
CONFIG_CMODEL_MEDANY=n
CONFIG_CRYPTO_AEAD2=n
CONFIG_BRIDGE_IGMP_SNOOPING=n
CONFIG_RUSTC_HAS_SPAN_FILE=n
CONFIG_EFI_GENERIC_STUB=n
CONFIG_FB_CFB_FILLRECT=n
CONFIG_BLK_ICQ=n
CONFIG_DWMAC_THEAD=n
CONFIG_MMC_SDHCI_PLTFM=n
CONFIG_DEBUG_BUGVERBOSE=n
CONFIG_ACPI_VIDEO=n
CONFIG_ZSTD_COMPRESS=n
CONFIG_HUGETLBFS=n
CONFIG_XXHASH=n
CONFIG_HAVE_ARCH_VMAP_STACK=n
CONFIG_NET_VENDOR_MICROSEMI=n
CONFIG_NET_VENDOR_HISILICON=n
CONFIG_SND_CTL_FAST_LOOKUP=n
CONFIG_CORE_DUMP_DEFAULT_ELF_HEADERS=n
CONFIG_DRM_VIRTIO_GPU=n
CONFIG_HAVE_SAMPLE_FTRACE_DIRECT=n
CONFIG_EFIVAR_FS=n
CONFIG_RISCV_PMU_LEGACY=n
CONFIG_PCI_PWRCTRL_GENERIC=n
CONFIG_MMC_SUNXI=n
CONFIG_RISCV_ISA_VENDOR_EXT=n
CONFIG_XFRM_ESP=n
CONFIG_CLK_STARFIVE_JH71X0=n
CONFIG_CRYPTO=n
CONFIG_RANDSTRUCT_NONE=n
CONFIG_NET_VENDOR_NVIDIA=n
CONFIG_RISCV_PROBE_VECTOR_UNALIGNED_ACCESS=n
CONFIG_MTD_CFI_NOSWAP=n
CONFIG_USB_CONFIGFS_EEM=n
CONFIG_ARCH_WANT_HUGE_PMD_SHARE=n
CONFIG_XOR_BLOCKS=n
CONFIG_ARCH_SUPPORTS_HUGETLBFS=n
CONFIG_SUN6I_RTC_CCU=n
CONFIG_IPVLAN=n
CONFIG_VIDEO_CADENCE_CSI2RX=n
CONFIG_IP_PNP_BOOTP=n
CONFIG_KALLSYMS=n
CONFIG_RISCV_PMU=n
CONFIG_PNFS_FILE_LAYOUT=n
CONFIG_KEYBOARD_GPIO=n
CONFIG_USB_EHCI_HCD_PLATFORM=n
CONFIG_DM_THIN_PROVISIONING=n
CONFIG_CRYPTO_HASH2=n
CONFIG_RISCV_PROBE_UNALIGNED_ACCESS=n
CONFIG_NET_VENDOR_MYRI=n
CONFIG_USB_CDNS3=n
CONFIG_SCSI_DMA=n
CONFIG_SERIAL_8250=n
CONFIG_ATA_ACPI=n
CONFIG_ARCH_WANTS_NO_INSTR=n
CONFIG_ELF_CORE=n
CONFIG_NET_VENDOR_3COM=n
CONFIG_USB_OTG=n
CONFIG_ARCH_MICROCHIP_POLARFIRE=n
CONFIG_MEDIA_HIDE_ANCILLARY_SUBDRV=n
CONFIG_HAVE_FUNCTION_ERROR_INJECTION=n
CONFIG_FB_DMAMEM_HELPERS=n
CONFIG_PCIE_SPACEMIT_K1=n
CONFIG_DWMAC_SUN55I=n
CONFIG_CPU_FREQ_GOV_ATTR_SET=n
CONFIG_SYNC_FILE=n
CONFIG_CC_HAS_WORKING_NOSANITIZE_ADDRESS=n
CONFIG_GENERIC_IRQ_IPI=n
CONFIG_PHY_PACKAGE=n
CONFIG_SUN20I_D1_R_CCU=n
CONFIG_ARCH_WANT_OPTIMIZE_DAX_VMEMMAP=n
CONFIG_HAS_IOPORT=n
CONFIG_NOP_TRACER=n
CONFIG_RANDOMIZE_KSTACK_OFFSET=n
CONFIG_VIRTIO_NET=n
CONFIG_LEGACY_PTYS=n
CONFIG_VIRTIO_MMIO=n
CONFIG_BLK_DEV_SD=n
CONFIG_ACPI_CPPC_CPUFREQ=n
CONFIG_ARCH_FLATMEM_ENABLE=n
CONFIG_SERIAL_CORE_CONSOLE=n
CONFIG_NET_DEVMEM=n
CONFIG_QUEUED_SPINLOCKS=n
CONFIG_CRYPTO_DEV_ALLWINNER=n
CONFIG_PGTABLE_HAS_HUGE_LEAVES=n
CONFIG_PNP_DEBUG_MESSAGES=n
CONFIG_PHYS_ADDR_T_64BIT=n
CONFIG_ARCH_SUSPEND_POSSIBLE=n
CONFIG_SND_SIMPLE_CARD=n
CONFIG_ATA_SFF=n
CONFIG_SYSVIPC_SYSCTL=n
CONFIG_I2C_HID=n
CONFIG_CRC_ITU_T=n
CONFIG_BALLOON=n
CONFIG_ETHERNET=n
CONFIG_IO_URING_BPF=n
CONFIG_PCI=n
CONFIG_PRINTK_TIME=n
CONFIG_HAVE_ARCH_MMAP_RND_BITS=n
CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE=n
CONFIG_PCIE_DW=n
CONFIG_MTD_GEN_PROBE=n
CONFIG_KEYBOARD_ATKBD=n
CONFIG_RISCV_NONSTANDARD_CACHE_OPS=n
CONFIG_FSNOTIFY=n
CONFIG_DRM_CLIENT_SETUP=n
CONFIG_USB=n
CONFIG_OF_IOMMU=n
CONFIG_WLAN_VENDOR_ATH=n
CONFIG_BLK_PM=n
CONFIG_DQL=n
CONFIG_DECOMPRESS_LZ4=n
CONFIG_REALTEK_PHY=n
CONFIG_ACPI_SPCR_TABLE=n
CONFIG_IOMMU_PT=n
CONFIG_CRYPTO_ENGINE=n
CONFIG_USB_F_ACM=n
CONFIG_SIGNALFD=n
CONFIG_BLK_DEV_DM=n
CONFIG_NETFILTER=n
CONFIG_MMC_SDHCI_OF_K1=n
CONFIG_HUGETLB_PAGE_OPTIMIZE_VMEMMAP=n
CONFIG_SND_SIMPLE_CARD_UTILS=n
CONFIG_HAVE_GCC_PLUGINS=n
CONFIG_CPUFREQ_DT_PLATDEV=n
CONFIG_SERIAL_8250_CONSOLE=n
CONFIG_VIRTIO_MENU=n
CONFIG_SSB_POSSIBLE=n
CONFIG_IRQ_WORK=n
CONFIG_MFD_SYSCON=n
CONFIG_RESET_CONTROLLER=n
CONFIG_FIXED_PHY=n
CONFIG_SPARSEMEM_VMEMMAP=n
CONFIG_FB_SYS_IMAGEBLIT=n
CONFIG_GENERIC_CALIBRATE_DELAY=n
CONFIG_XZ_DEC_ARM=n
CONFIG_NET_9P_FD=n
CONFIG_MTD_OF_PARTS=n
CONFIG_HAVE_FUNCTION_GRAPH_FREGS=n
CONFIG_STACKPROTECTOR=n
CONFIG_ARCH_HAS_PMEM_API=n
CONFIG_AS_HAS_ULEB128=n
CONFIG_SATA_PMP=n
CONFIG_DRM_DW_HDMI=n
CONFIG_HAS_IOPORT_MAP=n
CONFIG_HAVE_ARCH_AUDITSYSCALL=n
CONFIG_MSDOS_FS=n
CONFIG_PM_SLEEP=n
CONFIG_SECURITY_SELINUX_AVC_STATS=n
CONFIG_VIRTIO_BLK=n
CONFIG_FPU=n
CONFIG_WLAN_VENDOR_ZYDAS=n
CONFIG_SPARSEMEM_EXTREME=n
CONFIG_NET_VENDOR_8390=n
CONFIG_INET_TUNNEL=n
CONFIG_LIBFDT=n
CONFIG_PWRSEQ_SIMPLE=n
CONFIG_GPIO_SPACEMIT_K1=n
CONFIG_HUGETLB_PMD_PAGE_TABLE_SHARING=n
CONFIG_NET_9P_VIRTIO=n
CONFIG_PNFS_BLOCK=n
CONFIG_CRYPTO_RSA=n
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST=n
CONFIG_MODULES=n
CONFIG_BRIDGE=n
CONFIG_PREVENT_FIRMWARE_BUILD=n
CONFIG_QUEUED_RWLOCKS=n
CONFIG_WLAN_VENDOR_RSI=n
CONFIG_FILE_LOCKING=n
CONFIG_SND_SPI=n
CONFIG_FS_IOMAP=n
CONFIG_CGROUP_FREEZER=n
