CONFIG_ROOT_NFS=n
CONFIG_PCI_LOCKLESS_CONFIG=n
CONFIG_MMU_GATHER_TABLE_FREE=n
CONFIG_DYNAMIC_EVENTS=n
CONFIG_CRYPTO_LIB_AES_CBC_MACS=n
CONFIG_HOTPLUG_PCI=n
CONFIG_WLAN_VENDOR_ZYDAS=n
CONFIG_CPU_SUP_CENTAUR=n
CONFIG_WLAN_VENDOR_QUANTENNA=n
CONFIG_AMD_NB=n
CONFIG_USB_HID=n
CONFIG_BLK_CGROUP_IOLATENCY=n
CONFIG_ARCH_SPLIT_ARG64=n
CONFIG_NLS_CODEPAGE_437=n
CONFIG_RUNTIME_TESTING_MENU=n
CONFIG_HAVE_SOFTIRQ_ON_OWN_STACK=n
CONFIG_DMA_ENGINE=n
CONFIG_JBD2=n
CONFIG_AUDITSYSCALL=n
CONFIG_DMADEVICES=n
CONFIG_USB_UHCI_HCD=n
CONFIG_X86_32=n
CONFIG_X86_HAVE_PAE=n
CONFIG_SERIAL_8250_PCILIB=n
CONFIG_NET_INGRESS=n
CONFIG_IP6_NF_IPTABLES=n
CONFIG_VIDEO=n
CONFIG_NET_VENDOR_SEEQ=n
CONFIG_NEED_PER_CPU_EMBED_FIRST_CHUNK=n
CONFIG_PCSPKR_PLATFORM=n
CONFIG_SERIAL_8250_PCI=n
CONFIG_CPU_FREQ=n
CONFIG_IP_PNP_RARP=n
CONFIG_INET6_ESP=n
CONFIG_ASN1=n
CONFIG_NET_SCHED=n
CONFIG_CRYPTO_CCM=n
CONFIG_SERIAL_CORE_CONSOLE=n
CONFIG_HAVE_ARCH_JUMP_LABEL=n
CONFIG_GENERIC_IRQ_SHOW=n
CONFIG_KEYBOARD_ATKBD=n
CONFIG_CRYPTO_LIB_ARC4=n
CONFIG_RPCSEC_GSS_KRB5=n
CONFIG_NET_VENDOR_CHELSIO=n
CONFIG_HAVE_PAGE_SIZE_4KB=n
CONFIG_SND_HDA_COMPONENT=n
CONFIG_NET_VENDOR_REALTEK=n
CONFIG_PM_SLEEP_DEBUG=n
CONFIG_UTS_NS=n
CONFIG_HIBERNATION_SNAPSHOT_DEV=n
CONFIG_MICROCODE=n
CONFIG_DEBUG_DEVRES=n
CONFIG_THERMAL_DEFAULT_GOV_STEP_WISE=n
CONFIG_SERIAL_8250_SHARE_IRQ=n
CONFIG_NET_VENDOR_ADAPTEC=n
CONFIG_NET_VENDOR_VIA=n
CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE=n
CONFIG_X86_PKG_TEMP_THERMAL=n
CONFIG_CRYPTO_SEQIV=n
CONFIG_TASK_XACCT=n
CONFIG_CPU_RMAP=n
CONFIG_LD_CAN_USE_KEEP_IN_OVERLAY=n
CONFIG_MODULES_USE_ELF_REL=n
CONFIG_NLATTR=n
CONFIG_HW_RANDOM_AMD=n
CONFIG_CRYPTO_HMAC=n
CONFIG_PNFS_BLOCK=n
CONFIG_HW_RANDOM_INTEL=n
CONFIG_DEBUG_STACK_USAGE=n
CONFIG_HAVE_DEBUG_KMEMLEAK=n
CONFIG_NF_LOG_ARP=n
CONFIG_NET_VENDOR_LITEX=n
CONFIG_NETDEVICES=n
CONFIG_SWAP=n
CONFIG_USB_XHCI_PCI=n
CONFIG_CRYPTO_AKCIPHER=n
CONFIG_EXT4_FS=n
CONFIG_GENERIC_IRQ_MIGRATION=n
CONFIG_PM_TRACE_RTC=n
CONFIG_PREVENT_FIRMWARE_BUILD=n
CONFIG_CFG80211=n
CONFIG_MEMBARRIER=n
CONFIG_USB=n
CONFIG_SIGNALFD=n
CONFIG_CRYPTO_CTS=n
CONFIG_TMPFS_XATTR=n
CONFIG_FILE_LOCKING=n
CONFIG_INOTIFY_USER=n
CONFIG_CRYPTO_AES=n
CONFIG_RCU_NEED_SEGCBLIST=n
CONFIG_EDAC_SUPPORT=n
CONFIG_FUTEX_ROBUST_UNLOCK=n
CONFIG_ARCH_WANTS_DYNAMIC_TASK_STRUCT=n
CONFIG_INPUT_JOYSTICK=n
CONFIG_HIBERNATE_CALLBACKS=n
CONFIG_XZ_DEC_SPARC=n
CONFIG_WLAN=n
CONFIG_ARCH_SUPPORTS_KEXEC_SIG_FORCE=n
CONFIG_DRM_DISPLAY_HDMI_HELPER=n
CONFIG_RANDSTRUCT_NONE=n
CONFIG_USB_OHCI_LITTLE_ENDIAN=n
CONFIG_RTC_CLASS=n
CONFIG_INSTRUCTION_DECODER=n
CONFIG_YENTA_ENE_TUNE=n
CONFIG_STACKDEPOT=n
CONFIG_ARCH_HAS_CPU_CACHE_INVALIDATE_MEMREGION=n
CONFIG_BLK_DEV_LOOP=n
CONFIG_USE_X86_SEG_SUPPORT=n
CONFIG_MITIGATION_L1TF=n
CONFIG_NET_VENDOR_DAVICOM=n
CONFIG_CPU_FREQ_GOV_USERSPACE=n
CONFIG_NET_VENDOR_VERTEXCOM=n
CONFIG_CPU_SUP_AMD=n
CONFIG_PREEMPT_BUILD=n
CONFIG_EDAC_ATOMIC_SCRUB=n
CONFIG_IP6_NF_MATCH_IPV6HEADER=n
CONFIG_STACKTRACE_SUPPORT=n
CONFIG_SATA_AHCI=n
CONFIG_SATA_HOST=n
CONFIG_CARDBUS=n
CONFIG_EFI_CAPSULE_LOADER=n
CONFIG_HAVE_BUILDTIME_MCOUNT_SORT=n
CONFIG_MOUSE_PS2_ALPS=n
CONFIG_KEXEC=n
CONFIG_SECURITY_SELINUX_AVC_STATS=n
CONFIG_HAVE_DYNAMIC_FTRACE=n
CONFIG_SCHED_CLUSTER=n
CONFIG_HAVE_PERF_REGS=n
CONFIG_CRYPTO_CBC=n
CONFIG_MOUSE_PS2_TRACKPOINT=n
CONFIG_NET_DEVMEM=n
CONFIG_CLONE_BACKWARDS=n
CONFIG_TASKSTATS=n
CONFIG_MAC80211_LEDS=n
CONFIG_XFRM_AH=n
CONFIG_HAVE_SYSCALL_TRACEPOINTS=n
CONFIG_ZSTD_DECOMPRESS=n
CONFIG_SND_USB=n
CONFIG_INET_TUNNEL=n
CONFIG_NET_VENDOR_FUNGIBLE=n
CONFIG_USB_EHCI_TT_NEWSCHED=n
CONFIG_CPU_IDLE_GOV_HALTPOLL=n
CONFIG_NET_VENDOR_NETRONOME=n
CONFIG_EXPORTFS=n
CONFIG_CGROUP_DEBUG=n
CONFIG_X509_CERTIFICATE_PARSER=n
CONFIG_TIME_NS=n
CONFIG_X86_PAT=n
CONFIG_INET=n
CONFIG_HAVE_ARCH_RANDOMIZE_KSTACK_OFFSET=n
CONFIG_FW_LOADER=n
CONFIG_VGA_ARB=n
CONFIG_NF_NAT_MASQUERADE=n
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO=n
CONFIG_CC_HAS_SLS=n
CONFIG_SMP=n
CONFIG_NF_CONNTRACK_SIP=n
CONFIG_SYSCTL_EXCEPTION_TRACE=n
CONFIG_FW_CACHE=n
CONFIG_VMAP_PFN=n
CONFIG_CRC16=n
CONFIG_PATA_SCH=n
CONFIG_QUEUED_RWLOCKS=n
CONFIG_MITIGATION_MDS=n
CONFIG_HID_PID=n
CONFIG_VT_CONSOLE_SLEEP=n
CONFIG_RD_LZO=n
CONFIG_TTY=n
CONFIG_SOUND=n
CONFIG_POWER_SUPPLY_HWMON=n
CONFIG_NET_SELFTESTS=n
CONFIG_STACKPROTECTOR=n
CONFIG_NF_DEFRAG_IPV4=n
CONFIG_TRACE_IRQFLAGS_NMI_SUPPORT=n
CONFIG_PARAVIRT=n
CONFIG_FAILOVER=n
CONFIG_CC_NO_STRINGOP_OVERFLOW=n
CONFIG_USB_XHCI_HCD=n
CONFIG_DECOMPRESS_BZIP2=n
CONFIG_SND_HDA_CORE=n
CONFIG_CC_HAS_IBT=n
CONFIG_NET_VENDOR_SOCIONEXT=n
CONFIG_ACPI_LEGACY_TABLES_LOOKUP=n
CONFIG_HAVE_ATOMIC_IOMAP=n
CONFIG_SND_HDA_HWDEP=n
CONFIG_QUOTA=n
CONFIG_I2C=n
CONFIG_CGROUP_PERF=n
CONFIG_DM_ZERO=n
CONFIG_MITIGATION_MMIO_STALE_DATA=n
CONFIG_HAVE_NMI=n
CONFIG_NF_CT_NETLINK=n
CONFIG_ACPI_DEBUG=n
CONFIG_NET_POLL_CONTROLLER=n
CONFIG_ACPI_PROCESSOR=n
CONFIG_NET_VENDOR_EZCHIP=n
CONFIG_RUSTC_HAS_UNNECESSARY_TRANSMUTES=n
CONFIG_MMU=n
CONFIG_EFI_CAPSULE_QUIRK_QUARK_CSH=n
CONFIG_LTO_NONE=n
CONFIG_CRYPTO_KRB5ENC=n
CONFIG_GENERIC_IOMAP=n
CONFIG_BLK_DEV_SR=n
CONFIG_PERF_EVENTS_INTEL_RAPL=n
CONFIG_X86_ACPI_CPUFREQ_CPB=n
CONFIG_UCS2_STRING=n
CONFIG_ARCH_HAS_HW_PTE_YOUNG=n
CONFIG_ARCH_SUPPORTS_DEBUG_PAGEALLOC=n
CONFIG_DEBUG_MISC=n
CONFIG_NETWORK_FILESYSTEMS=n
CONFIG_HYPERVISOR_GUEST=n
CONFIG_IO_WQ=n
CONFIG_RELOCATABLE=n
CONFIG_GENERIC_STRNLEN_USER=n
CONFIG_RTC_I2C_AND_SPI=n
CONFIG_ALLOW_DEV_COREDUMP=n
CONFIG_GENERIC_CPU_VULNERABILITIES=n
CONFIG_XFRM_ALGO=n
CONFIG_UNWINDER_FRAME_POINTER=n
CONFIG_DECOMPRESS_XZ=n
CONFIG_MOUSE_PS2_SYNAPTICS_SMBUS=n
CONFIG_HAVE_PERF_EVENTS=n
CONFIG_X86_ESPFIX32=n
CONFIG_IO_URING=n
CONFIG_IPV6=n
CONFIG_NET_EGRESS=n
CONFIG_SOCK_CGROUP_DATA=n
CONFIG_POSIX_MQUEUE=n
CONFIG_CGROUP_HUGETLB=n
CONFIG_WLAN_VENDOR_INTERSIL=n
CONFIG_MQ_IOSCHED_DEADLINE=n
CONFIG_PCMCIA_LOAD_CIS=n
CONFIG_USB_SUPPORT=n
CONFIG_HAVE_ARCH_KFENCE=n
CONFIG_BLK_DEV_WRITE_MOUNTED=n
CONFIG_ARCH_USE_MEMREMAP_PROT=n
CONFIG_MD=n
CONFIG_INPUT_EVDEV=n
CONFIG_SCHED_INFO=n
CONFIG_PROC_EVENTS=n
CONFIG_OLD_SIGSUSPEND3=n
CONFIG_SERIAL_8250_LPSS=n
CONFIG_SECTION_MISMATCH_WARN_ONLY=n
CONFIG_FUTEX=n
CONFIG_NET_VENDOR_INTEL=n
CONFIG_QUOTA_NETLINK_INTERFACE=n
CONFIG_USB_PRINTER=n
CONFIG_WLAN_VENDOR_PURELIFI=n
CONFIG_CHECK_SIGNATURE=n
CONFIG_EARLY_PRINTK_USB=n
CONFIG_PTP_1588_CLOCK_OPTIONAL=n
CONFIG_HID_PANTHERLORD=n
CONFIG_ARCH_HAS_PTDUMP=n
CONFIG_DNOTIFY=n
CONFIG_X86_INTEL_TSX_MODE_AUTO=n
CONFIG_HAVE_PCI=n
CONFIG_ARCH_HAVE_EXTRA_ELF_NOTES=n
CONFIG_CRYPTO_ECB=n
CONFIG_CONTEXT_TRACKING=n
CONFIG_GENERIC_SYSCALL=n
CONFIG_HAVE_OPTPROBES=n
CONFIG_ARCH_SUSPEND_POSSIBLE=n
CONFIG_P2SB=n
CONFIG_EARLY_PRINTK=n
CONFIG_EPOLL=n
CONFIG_SURFACE_PLATFORMS=n
CONFIG_MUTEX_SPIN_ON_OWNER=n
CONFIG_PROC_PID_ARCH_STATUS=n
CONFIG_BITREVERSE=n
CONFIG_HUGETLB_PAGE=n
CONFIG_IRQ_WORK=n
CONFIG_HAVE_KRETPROBES=n
CONFIG_CGROUPS=n
CONFIG_FS_MBCACHE=n
CONFIG_IP_PNP_BOOTP=n
CONFIG_SPLIT_PTE_PTLOCKS=n
CONFIG_ARCH_CLOCKSOURCE_INIT=n
CONFIG_MQ_IOSCHED_KYBER=n
CONFIG_X86_DISABLED_FEATURE_FRED=n
CONFIG_CPUSETS=n
CONFIG_FORCEDETH=n
CONFIG_NET_VENDOR_NATSEMI=n
CONFIG_HAVE_KCSAN_COMPILER=n
CONFIG_CGROUP_FREEZER=n
CONFIG_SCHED_OMIT_FRAME_POINTER=n
CONFIG_POSIX_CPU_TIMERS_TASK_WORK=n
CONFIG_EFI_PARTITION=n
CONFIG_TASK_DELAY_ACCT=n
CONFIG_PID_NS=n
CONFIG_KPROBES=n
CONFIG_DCACHE_WORD_ACCESS=n
CONFIG_NET_VENDOR_WIZNET=n
CONFIG_NET_VENDOR_CAVIUM=n
CONFIG_RFS_ACCEL=n
CONFIG_HAVE_RETHOOK=n
CONFIG_USB_MON=n
CONFIG_HAVE_ACPI_APEI_NMI=n
CONFIG_RPS=n
CONFIG_RD_BZIP2=n
CONFIG_THREAD_INFO_IN_TASK=n
