CONFIG_EDAC_NPCM=y
CONFIG_SENSORS_AD7418=y
CONFIG_PINCTRL_SKY1=y
CONFIG_MEDIATEK_MT6370_ADC=y
CONFIG_VEML6075=y
CONFIG_DYNAMIC_FTRACE_WITH_DIRECT_CALLS=y
CONFIG_GPIO_LINE_MUX=y
CONFIG_PINCTRL_WPCM450=y
CONFIG_LEDS_NETXBIG=y
CONFIG_ADXL355=y
CONFIG_ARM_DMC620_PMU=y
CONFIG_SENSORS_UCD9200=y
CONFIG_TCG_TIS_I2C_ATMEL=y
CONFIG_IIO_GTS_HELPER=y
CONFIG_CHARGER_BQ25980=y
CONFIG_PINCTRL_GEMINILAKE=y
CONFIG_HW_RANDOM_ATMEL=y
CONFIG_JOYSTICK_MAGELLAN=y
CONFIG_OPENSSL_SUPPORTS_ML_DSA=y
CONFIG_IRQ_FASTEOI_HIERARCHY_HANDLERS=y
CONFIG_LEDS_LP8864=y
CONFIG_EXYNOS_ADC=y
CONFIG_SENSORS_FSP_3Y=y
CONFIG_LEDS_LM3601X=y
CONFIG_RAVE_SP_CORE=y
CONFIG_SENSORS_APPLESMC=y
CONFIG_DEBUG_KERNEL=y
CONFIG_GENERIC_IRQ_MIGRATION=y
CONFIG_MFD_CROS_EC_DEV=y
CONFIG_MS5611=y
CONFIG_FAULT_INJECTION=y
CONFIG_MTD_NAND_ECC_MEDIATEK=y
CONFIG_SENSORS_MAX20860A=y
CONFIG_SG_POOL=y
CONFIG_SENSORS_TMP102=y
CONFIG_JSA1212=y
CONFIG_BLOCK_LEGACY_AUTOLOAD=y
CONFIG_MOUSE_PS2_SENTELIC=y
CONFIG_PINCTRL_DENVERTON=y
CONFIG_PWM_LPC18XX_SCT=y
CONFIG_HAVE_SAMPLE_FTRACE_DIRECT=y
CONFIG_I2C=y
CONFIG_LEDS_PCA963X=y
CONFIG_PINCTRL_TEGRA=y
CONFIG_REGMAP=y
CONFIG_HAVE_C_RECORDMCOUNT=y
CONFIG_HW_RANDOM_HISI=y
CONFIG_RESET_TI_SYSCON=y
CONFIG_PINCTRL_LEWISBURG=y
CONFIG_CRYPTO_CCM=y
CONFIG_SENSORS_LT3074=y
CONFIG_TORTURE_TEST=y
CONFIG_PINCTRL_IMX7D=y
CONFIG_RCAR_MFIS=y
CONFIG_I2C_RTL9300=y
CONFIG_EEPROM_AT24=y
CONFIG_ARCH_SUPPORTS_CFI=y
CONFIG_USER_STACKTRACE_SUPPORT=y
CONFIG_PHY_INTEL_KEEMBAY_EMMC=y
CONFIG_MPL115_I2C=y
CONFIG_CONFIGFS_FS=y
CONFIG_PROBE_EVENTS=y
CONFIG_X86_DISABLED_FEATURE_SEV_SNP=y
CONFIG_GPIO_IT87=y
CONFIG_PINCTRL_K210=y
CONFIG_PINCTRL_SPACEMIT_K1=y
CONFIG_OF_EARLY_FLATTREE=y
CONFIG_GPIO_PCA9570=y
CONFIG_X86_LOCAL_APIC=y
CONFIG_CRASH_DUMP=y
CONFIG_HAVE_ARCH_PREL32_RELOCATIONS=y
CONFIG_QCOM_STATS=y
CONFIG_MFD_TPS65218=y
CONFIG_ARCH_HAS_FORTIFY_SOURCE=y
CONFIG_HAVE_STATIC_CALL=y
CONFIG_GPIO_XGENE_SB=y
CONFIG_DEBUG_PER_CPU_MAPS=y
CONFIG_SCSI_LOGGING=y
CONFIG_SUN6I_MSGBOX=y
CONFIG_HOTPLUG_CORE_SYNC_DEAD=y
CONFIG_GENERIC_PT=y
CONFIG_BCM_VIDEOCORE=y
CONFIG_CRYPTO_LIB_SHA1=y
CONFIG_VIRTIO_BLK=y
CONFIG_FPROBE_EVENTS=y
CONFIG_VM_EVENT_COUNTERS=y
CONFIG_LEDS_LT3593=y
CONFIG_MFD_MP2629=y
CONFIG_GENERIC_BITREVERSE=y
CONFIG_PINCTRL_STM32=y
CONFIG_IRQ_DOMAIN=y
CONFIG_QUEUED_SPINLOCKS=y
CONFIG_FAULT_INJECTION_CONFIGFS=y
CONFIG_PINCTRL_SKY1_BASE=y
CONFIG_CC_HAS_AUTO_VAR_INIT_PATTERN=y
CONFIG_PHY_MTK_XFI_TPHY=y
CONFIG_CRYPTO_CBC=y
CONFIG_SENSORS_TDA38640=y
CONFIG_PINCTRL_MSM8X74=y
CONFIG_SENSORS_ABITUGURU3=y
CONFIG_PWM_INTEL_LGM=y
CONFIG_HW_RANDOM_VIA=y
CONFIG_BACKLIGHT_SAHARA=y
CONFIG_PINCTRL_MSM8917=y
CONFIG_LPC32XX_ADC=y
CONFIG_DEBUG_INFO_SPLIT=y
CONFIG_IRQ_POLL=y
CONFIG_BATTERY_DS2781=y
CONFIG_XZ_DEC_ARM64=y
CONFIG_NSM=y
CONFIG_CRYPTO_ECHAINIV=y
CONFIG_FSI=y
CONFIG_MFD_STMPE=y
CONFIG_CONTEXT_TRACKING=y
CONFIG_SCSI_UFS_SPRD=y
CONFIG_LEDS_TRIGGER_PATTERN=y
CONFIG_MTD_BLKDEVS=y
CONFIG_NOA1305=y
CONFIG_HAVE_ALIGNED_STRUCT_PAGE=y
CONFIG_SATA_HOST=y
CONFIG_ARCH_WANT_FRAME_POINTERS=y
CONFIG_ASYMMETRIC_KEY_TYPE=y
CONFIG_GENERIC_SYSCALL=y
CONFIG_CRYPTO_SIG=y
CONFIG_RUSTC_HAS_UNNECESSARY_TRANSMUTES=y
CONFIG_ARCH_HAS_FAST_MULTIPLIER=y
CONFIG_REMOTEPROC=y
CONFIG_GPIO_UNIPHIER=y
CONFIG_RC_MAP=y
CONFIG_PWM_IQS620A=y
CONFIG_DEBUG_FORCE_WEAK_PER_CPU=y
CONFIG_I2C_MUX_LTC4306=y
CONFIG_PHY_CANAAN_USB=y
CONFIG_CHARGER_SBS=y
CONFIG_EXYNOS_MBOX=y
CONFIG_MEMORY_ISOLATION=y
CONFIG_EXTCON_MAX77693=y
CONFIG_ISL29020=y
CONFIG_PINCTRL_IPQ4019=y
CONFIG_IMX_INTMUX=y
CONFIG_ARCH_HAS_DEVMEM_IS_ALLOWED=y
CONFIG_HAVE_FUNCTION_GRAPH_FREGS=y
CONFIG_SENSORS_LTC2991=y
CONFIG_CRYPTO_ARIA=y
CONFIG_LEDS_LP55XX_COMMON=y
CONFIG_CRYPTO_SHA3=y
CONFIG_SCSI_UFS_DWC_TC_PLATFORM=y
CONFIG_ARCH_SUPPORTS_DEBUG_PAGEALLOC=y
CONFIG_MTD_ONENAND_GENERIC=y
CONFIG_BACKLIGHT_LM3630A=y
CONFIG_POWER_SUPPLY=y
CONFIG_INA2XX_ADC=y
CONFIG_JFS_FS=y
CONFIG_I2C_XILINX=y
CONFIG_CPU_SUP_ZHAOXIN=y
CONFIG_NLS_MAC_ROMAN=y
CONFIG_PINCTRL_SDX55=y
CONFIG_RCU_NEED_SEGCBLIST=y
CONFIG_X86_KERNEL_IBT=y
CONFIG_SENSORS_ADM1266=y
CONFIG_STM=y
CONFIG_BROADCAST_TLB_FLUSH=y
CONFIG_HAVE_EFFICIENT_UNALIGNED_ACCESS=y
CONFIG_CRYPTO_CAMELLIA=y
CONFIG_X86_DISABLED_FEATURE_UNRET=y
CONFIG_SEG_LED_GPIO=y
CONFIG_CDX_CONTROLLER=y
CONFIG_CHROMEOS_LAPTOP=y
CONFIG_IIO_TRIGGERED_BUFFER=y
CONFIG_PWM_OMAP_DMTIMER=y
CONFIG_QCOM_SMEM=y
CONFIG_NVMEM=y
CONFIG_FAT_FS=y
CONFIG_HAS_IOPORT=y
CONFIG_ADXL345=y
CONFIG_GPIO_DWAPB=y
CONFIG_APPLE_SART=y
CONFIG_MESON_IRQ_GPIO=y
CONFIG_DEVFREQ_GOV_PASSIVE=y
CONFIG_HAVE_ARCH_SECCOMP=y
CONFIG_SYSFB_SIMPLEFB=y
CONFIG_HW_RANDOM_MXC_RNGA=y
CONFIG_ARCH_WANT_OPTIMIZE_DAX_VMEMMAP=y
CONFIG_PHY_QCOM_USB_HS_28NM=y
CONFIG_IO_WQ=y
CONFIG_MFD_TPS65912=y
CONFIG_I2C_HIGHLANDER=y
CONFIG_PHY_CADENCE_DPHY=y
CONFIG_BACKLIGHT_LM3509=y
CONFIG_AHCI_BRCM=y
CONFIG_DDR=y
CONFIG_SENSIRION_SGP40=y
CONFIG_ISA_BUS=y
CONFIG_SPARSE_IRQ=y
CONFIG_MFD_TQMX86=y
CONFIG_FUEL_GAUGE_STC3117=y
CONFIG_I2C_IMG=y
CONFIG_GENERIC_IRQ_SHOW=y
CONFIG_VZ89X=y
CONFIG_DEBUG_FS_ALLOW_NONE=y
CONFIG_OF_RECONFIG_NOTIFIER_ERROR_INJECT=y
CONFIG_HAVE_MOVE_PMD=y
CONFIG_GOOGLE_COREBOOT_TABLE=y
CONFIG_LEDS_LM3697=y
CONFIG_PINCTRL_PISTACHIO=y
CONFIG_HOTPLUG_CORE_SYNC_FULL=y
CONFIG_MTK_GPUEB_MBOX=y
CONFIG_ARCH_WANT_DEFAULT_BPF_JIT=y
CONFIG_RESET_MESON=y
CONFIG_LEDS_MAX77693=y
CONFIG_NVMEM_BCM_OCOTP=y
CONFIG_ZLIB_DEFLATE=y
CONFIG_CLKSRC_PXA=y
CONFIG_MCB_LPC=y
CONFIG_SYSCTL_EXCEPTION_TRACE=y
CONFIG_NVMEM_SYSFS=y
CONFIG_NVMEM_QCOM_SEC_QFPROM=y
CONFIG_X86_REQUIRED_FEATURE_MSR=y
CONFIG_F2FS_UNFAIR_RWSEM=y
CONFIG_TI_K3_DSP_REMOTEPROC=y
CONFIG_PINCTRL_OWL=y
CONFIG_HSI=y
CONFIG_MTD_CFI_STAA=y
CONFIG_HAVE_OBJTOOL=y
CONFIG_RWSEM_SPIN_ON_OWNER=y
CONFIG_CRYPTO_SM4_AESNI_AVX2_X86_64=y
CONFIG_HWSPINLOCK_STM32=y
CONFIG_TS4800_IRQ=y
CONFIG_SENSORS_EMC6W201=y
CONFIG_CROS_EC_LIGHTBAR=y
CONFIG_X86_DISABLED_FEATURE_USER_SHSTK=y
CONFIG_XZ_DEC_TEST=y
CONFIG_DMA_SHARED_BUFFER=y
CONFIG_CRYPTO=y
CONFIG_RESET_UNIPHIER_GLUE=y
CONFIG_PINCTRL_SOPHGO_SG2002=y
CONFIG_W1_MASTER_SGI=y
CONFIG_GPIO_SHARED=y
CONFIG_SCD30_SERIAL=y
CONFIG_FSI_MASTER_AST_CF=y
CONFIG_I2C_PARPORT=y
CONFIG_I2C_TEGRA_BPMP=y
CONFIG_X86_TSC=y
CONFIG_GPIO_TB10X=y
CONFIG_IIO_CROS_EC_SENSORS_CORE=y
CONFIG_FTRACE=y
CONFIG_SCREEN_INFO=y
CONFIG_MEMFD_CREATE=y
CONFIG_GPIO_SIFIVE=y
CONFIG_DEBUG_OBJECTS_PERCPU_COUNTER=y
CONFIG_VFIO=y
CONFIG_LOCK_DOWN_KERNEL_FORCE_INTEGRITY=y
CONFIG_GPIO_VIRTUSER=y
CONFIG_FTRACE_SYSCALLS=y
CONFIG_ARM_IMX_BUS_DEVFREQ=y
CONFIG_BERLIN2_ADC=y
CONFIG_STACKTRACE_SUPPORT=y
CONFIG_HAVE_ARCH_RANDOMIZE_KSTACK_OFFSET=y
CONFIG_EDAC_AL_MC=y
CONFIG_TEGRA_HOST1X=y
CONFIG_FSI_MASTER_HUB=y
CONFIG_HAVE_ARCH_MMAP_RND_COMPAT_BITS=y
CONFIG_PINCTRL_IMX8ULP=y
CONFIG_PINCTRL_SM6350=y
CONFIG_PAGE_SIZE_4KB=y
CONFIG_ND_CLAIM=y
CONFIG_HAVE_ARCH_MMAP_RND_BITS=y
CONFIG_TMP006=y
CONFIG_ARCH_HAS_SET_MEMORY=y
CONFIG_PING=y
CONFIG_ADI_AXI_ADC=y
CONFIG_SENSORS_NCT6775=y
CONFIG_GEHC_PMC_ADC=y
CONFIG_BME680_I2C=y
CONFIG_NEED_TASKS_RCU=y
CONFIG_FAULT_INJECTION_USERCOPY=y
CONFIG_SENSORS_SG2042_MCU=y
CONFIG_BATTERY_CW2015=y
CONFIG_ARCH_USE_CMPXCHG_LOCKREF=y
CONFIG_CRYPTO_LIB_MD5=y
CONFIG_MS5611_I2C=y
CONFIG_TCG_TIS_I2C_CR50=y
CONFIG_CRYPTO_SIG2=y
CONFIG_DMARD10=y
CONFIG_LEDS_BRIGHTNESS_HW_CHANGED=y
CONFIG_CRYPTO_SHA256=y
CONFIG_RZN1_ADC=y
CONFIG_ARCH_HAS_ELFCORE_COMPAT=y
CONFIG_LEGACY_VSYSCALL_XONLY=y
CONFIG_MTD_PHYSMAP_VERSATILE=y
CONFIG_SENSORS_MAX1668=y
CONFIG_BACKLIGHT_KTD2801=y
CONFIG_HAVE_KLP_BUILD=y
CONFIG_CLKSRC_MMIO=y
CONFIG_GENERIC_IRQ_CHIP=y
CONFIG_LEDS_TRIGGER_PANIC=y
CONFIG_ARM_MHU_V3=y
CONFIG_SENSORS_HMC5843_I2C=y
CONFIG_HAVE_GUP_FAST=y
CONFIG_I2C_ALGOPCA=y
CONFIG_BUILDTIME_TABLE_SORT=y
CONFIG_MMU=y
CONFIG_QCOM_COMMAND_DB=y
CONFIG_HAVE_NOINSTR_HACK=y
CONFIG_W1_MASTER_MXC=y
CONFIG_PINCTRL_CYGNUS_MUX=y
CONFIG_PROC_MEM_ALWAYS_FORCE=y
CONFIG_QCOM_SOCINFO=y
CONFIG_PROFILING=y
CONFIG_BLK_CGROUP_IOLATENCY=y
CONFIG_SCSI_DH_RDAC=y
CONFIG_PINCTRL_IMXRT1170=y
CONFIG_BINARY_PRINTF=y
CONFIG_GPIO_MAX77759=y
CONFIG_RPMSG_CTRL=y
CONFIG_HAVE_ARCH_HUGE_VMAP=y
CONFIG_HAVE_ARCH_WITHIN_STACK_FRAMES=y
CONFIG_CRYPTO_BLOWFISH_COMMON=y
CONFIG_SERIO_GPIO_PS2=y
CONFIG_KEXEC_CORE=y
CONFIG_X86_IO_APIC=y
CONFIG_USB_OHCI_LITTLE_ENDIAN=y
CONFIG_FAILSLAB=y
CONFIG_BPF=y
CONFIG_PINCTRL_MESON_S4=y
CONFIG_CRYPTO_ZSTD=y
CONFIG_TEE_DMABUF_HEAPS=y
CONFIG_HIST_TRIGGERS=y
CONFIG_PINCTRL_SM6115=y
CONFIG_TMP117=y
CONFIG_MTK_INFRACFG=y
CONFIG_INPUT_FF_MEMLESS=y
CONFIG_SYSFS=y
CONFIG_X86_DISABLED_FEATURE_SGX=y
CONFIG_SYSFB=y
CONFIG_CRYPTO_LIB_AES_ARCH=y
CONFIG_I2C_BCM_KONA=y
CONFIG_BRCMSTB_MEMC=y
CONFIG_X86_DISABLED_FEATURE_FRED=y
CONFIG_RESET_MESON_AUDIO_ARB=y
CONFIG_VEML6040=y
CONFIG_GPIO_EN7523=y
CONFIG_W1_MASTER_DS2482=y
CONFIG_HAVE_OPTPROBES=y
CONFIG_KCMP=y
CONFIG_CRASH_HOTPLUG=y
CONFIG_GOOGLE_FIRMWARE=y
CONFIG_CROSS_MEMORY_ATTACH=y
CONFIG_PWM_PXA=y
CONFIG_SX9324=y
CONFIG_ARCH_SPARSEMEM_ENABLE=y
CONFIG_HAVE_TRUSTED_KEYS=y
CONFIG_PINCTRL_S700=y
CONFIG_DMIID=y
CONFIG_PHY_ECONET_PCIE=y
CONFIG_PPS_GENERATOR=y
CONFIG_PINCTRL_AMDISP=y
CONFIG_CRYPTO_ARIA_GFNI_AVX512_X86_64=y
CONFIG_PINCTRL_NS=y
CONFIG_X86_REQUIRED_FEATURE_CX8=y
CONFIG_FORTIFY_SOURCE=y
CONFIG_ARCH_SUPPORTS_PER_VMA_LOCK=y
CONFIG_HTS221=y
CONFIG_SENSORS_NCT6683=y
CONFIG_ARCH_HIBERNATION_POSSIBLE=y
CONFIG_SENSORS_EMC2103=y
CONFIG_GPIO_DS4520=y
CONFIG_HAVE_PERF_EVENTS=y
CONFIG_GENERIC_CLOCKEVENTS_COUPLED=y
CONFIG_I2C_QUP=y
CONFIG_ENS160_I2C=y
CONFIG_SYSC_RCAR=y
CONFIG_SATA_AHCI_PLATFORM=y
CONFIG_PINCTRL_AT91=y
CONFIG_MTD_GEN_PROBE=y
CONFIG_ZSTD_DECOMPRESS=y
CONFIG_AL3000A=y
CONFIG_CRYPTO_AEAD2=y
CONFIG_VFAT_FS=y
CONFIG_PROFILE_ANNOTATED_BRANCHES=y
CONFIG_MFD_CORE=y
CONFIG_SLAB_MERGE_DEFAULT=y
CONFIG_RESET_TN48M_CPLD=y
CONFIG_PINCTRL_NSP_GPIO=y
CONFIG_RAMDAX=y
CONFIG_GENERIC_PHY=y
CONFIG_ARM_EXYNOS_BUS_DEVFREQ=y
CONFIG_XZ_DEC=y
CONFIG_SSB=y
CONFIG_MMA9553=y
CONFIG_INPUT_JOYDEV=y
CONFIG_MTK_DEVAPC=y
CONFIG_BME680=y
CONFIG_NPCM_ADC=y
CONFIG_HAVE_SCHED_AVG_IRQ=y
CONFIG_DPAA2_CONSOLE=y
CONFIG_I2C_ASPEED=y
CONFIG_GENERIC_IRQ_DEBUGFS=y
CONFIG_TCG_TIS_ST33ZP24=y
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO=y
CONFIG_CGROUP_DEVICE=y
CONFIG_MESON6_TIMER=y
CONFIG_PINCTRL_MSM8226=y
CONFIG_MEDIATEK_MT6577_AUXADC=y
CONFIG_W1_SLAVE_SMEM=y
CONFIG_GPIO_SCH311X=y
CONFIG_PINCTRL_CEDARFORK=y
CONFIG_ARCH_MHP_MEMMAP_ON_MEMORY_ENABLE=y
CONFIG_GPIO_CADENCE=y
CONFIG_X86_REQUIRED_FEATURE_LM=y
CONFIG_OMAP_DM_TIMER=y
CONFIG_SAMPLE_VFIO_MDEV_MDPY=y
CONFIG_IIO_ST_PRESS=y
CONFIG_BLK_DEV_LOOP=y
CONFIG_CRYPTO_LIB_SHA256=y
CONFIG_INPUT_TABLET=y
CONFIG_IIO_ST_PRESS_I2C=y
CONFIG_DEBUG_VM=y
CONFIG_HAVE_PCI=y
CONFIG_I2C_EXYNOS5=y
CONFIG_MMC5983=y
CONFIG_GENERIC_CLOCKEVENTS_MIN_ADJUST=y
CONFIG_STMP_DEVICE=y
CONFIG_USERFAULTFD=y
CONFIG_OMAP_GPMC_DEBUG=y
CONFIG_TRUSTED_KEYS=y
CONFIG_PINCTRL_LAKEFIELD=y
CONFIG_ARCH_SUPPORTS_LTO_CLANG_THIN=y
CONFIG_STK8312=y
CONFIG_HAVE_ARCH_KASAN=y
CONFIG_RELAY=y
CONFIG_CC_HAS_MULTIDIMENSIONAL_NONSTRING=y
CONFIG_POLYNOMIAL=y
CONFIG_GPIO_TQMX86=y
CONFIG_PINCTRL_SOPHGO_COMMON=y
CONFIG_NLS_CODEPAGE_437=y
CONFIG_DEBUG_MUTEXES=y
CONFIG_CC_HAS_SLS=y
CONFIG_COUNTER=y
CONFIG_PERF_EVENTS_AMD_POWER=y
CONFIG_HAVE_SINGLE_FTRACE_DIRECT_OPS=y
CONFIG_NLS_CODEPAGE_864=y
CONFIG_PINCTRL_PFC_R8A779G0=y
CONFIG_REGMAP_MMIO=y
CONFIG_PWM_BRCMSTB=y
CONFIG_DETECT_HUNG_TASK=y
CONFIG_F2FS_STAT_FS=y
CONFIG_HOTPLUG_SPLIT_STARTUP=y
CONFIG_ARCH_HAS_DEBUG_WX=y
CONFIG_SENSORS_LATTEPANDA_SIGMA_EC=y
CONFIG_MMU_GATHER_RCU_TABLE_FREE=y
CONFIG_GPIOLIB_IRQCHIP=y
CONFIG_T5403=y
CONFIG_PINCTRL_SM8350=y
CONFIG_ARCH_SUPPORTS_LTO_CLANG=y
CONFIG_IIO_BUFFER_DMAENGINE=y
CONFIG_NVMEM_APPLE_EFUSES=y
CONFIG_CC_HAS_NAMED_AS=y
CONFIG_IPACK_BUS=y
CONFIG_CRYPTO_LIB_SHA1_ARCH=y
CONFIG_PHY_SPARX5_SERDES=y
CONFIG_CC_HAS_COUNTED_BY=y
CONFIG_PINCTRL_PFC_R8A7743=y
CONFIG_LEDS_PCA995X=y
CONFIG_GENERIC_ALLOCATOR=y
CONFIG_ARCH_HAS_PARANOID_L1D_FLUSH=y
CONFIG_AD7746=y
CONFIG_MPU3050=y
CONFIG_SENSORS_VIA_CPUTEMP=y
CONFIG_GENERIC_GETTIMEOFDAY=y
CONFIG_ST_UVIS25_I2C=y
CONFIG_ASN1=y
CONFIG_AS_WRUSS=y
CONFIG_XILINX_XADC=y
CONFIG_FPGA_MGR_VERSAL_FPGA=y
CONFIG_WATCH_QUEUE=y
CONFIG_LEDS_TRIGGER_CPU=y
CONFIG_I2C_SIMTEC=y
CONFIG_IRQ_WORK=y
CONFIG_SENSORS_MP2888=y
CONFIG_SENSORS_STTS751=y
CONFIG_MEMBARRIER=y
CONFIG_GENERIC_CLOCKEVENTS=y
CONFIG_CRYPTO_ECB=y
CONFIG_BLK_PM=y
CONFIG_TI_EQEP=y
CONFIG_GPIO_REGMAP=y
CONFIG_MUX_CORE=y
CONFIG_PINCTRL_BRCMSTB=y
CONFIG_HAVE_FUNCTION_TRACER=y
CONFIG_GPIO_NOMADIK=y
CONFIG_CRYPTO_AKCIPHER=y
CONFIG_PINCTRL_AMLOGIC_C3=y
CONFIG_RANDSTRUCT_NONE=y
CONFIG_BATTERY_MAX1720X=y
CONFIG_GPIO_EP93XX=y
CONFIG_X86_DEBUG_FPU=y
CONFIG_GENERIC_CLOCKEVENTS_COUPLED_INLINE=y
CONFIG_BSD_PROCESS_ACCT_V3=y
CONFIG_ARCH_SUPPORTS_KEXEC_BZIMAGE_VERIFY_SIG=y
