CONFIG_PCIE_SPACEMIT_K1=n
CONFIG_ARCH_HAS_SYNC_DMA_FOR_CPU=n
CONFIG_NETFILTER_XT_MATCH_IPVS=n
CONFIG_CC_HAS_INT128=n
CONFIG_DYNAMIC_EVENTS=n
CONFIG_USB_GADGET=n
CONFIG_USB_PCI=n
CONFIG_CRC32_ARCH=n
CONFIG_VIRTIO_MENU=n
CONFIG_HAVE_GIGANTIC_FOLIOS=n
CONFIG_USB_CDNS3=n
CONFIG_NET_VENDOR_GOOGLE=n
CONFIG_IPVLAN_L3S=n
CONFIG_KVM=n
CONFIG_UCS2_STRING=n
CONFIG_FB_SYSMEM_FOPS=n
CONFIG_DEBUG_MEMORY_INIT=n
CONFIG_RESET_SIMPLE=n
CONFIG_SND_CTL_FAST_LOOKUP=n
CONFIG_ELF_CORE=n
CONFIG_DM_THIN_PROVISIONING=n
CONFIG_BLK_DEV_DM_BUILTIN=n
CONFIG_HUGETLB_PAGE_OPTIMIZE_VMEMMAP=n
CONFIG_TMPFS_POSIX_ACL=n
CONFIG_SND_SIMPLE_CARD_UTILS=n
CONFIG_CC_CAN_LINK=n
CONFIG_NO_HZ_COMMON=n
CONFIG_GENERIC_IRQ_EFFECTIVE_AFF_MASK=n
CONFIG_HAVE_PERF_EVENTS=n
CONFIG_ARCH_SUPPORTS_SCHED_MC=n
CONFIG_DRM_CLIENT_SETUP=n
CONFIG_EFI_EARLYCON=n
CONFIG_SATA_AHCI_PLATFORM=n
CONFIG_HOTPLUG_CORE_SYNC_FULL=n
CONFIG_HAVE_SAMPLE_FTRACE_DIRECT=n
CONFIG_SUN6I_RTC_CCU=n
CONFIG_RTC_DRV_SUN6I=n
CONFIG_AUDITSYSCALL=n
CONFIG_PAGE_COUNTER=n
CONFIG_TIME_NS_VDSO=n
CONFIG_ARCH_HAS_STRICT_KERNEL_RWX=n
CONFIG_GENERIC_LIB_DEVMEM_IS_ALLOWED=n
CONFIG_CC_HAVE_STACKPROTECTOR_TLS=n
CONFIG_MTD_CFI=n
CONFIG_FB_CFB_IMAGEBLIT=n
CONFIG_SPI_PL022=n
CONFIG_SERIAL_OF_PLATFORM=n
CONFIG_HAVE_LD_DEAD_CODE_DATA_ELIMINATION=n
CONFIG_RAID6_PQ_BENCHMARK=n
CONFIG_RD_LZ4=n
CONFIG_BLK_DEV_WRITE_MOUNTED=n
CONFIG_RAID6_PQ_ARCH=n
CONFIG_HAVE_PERF_USER_STACK_DUMP=n
CONFIG_CGROUP_HUGETLB=n
CONFIG_VFAT_FS=n
CONFIG_RISCV_APLIC_MSI=n
CONFIG_PAGE_SIZE_LESS_THAN_64KB=n
CONFIG_PROC_CHILDREN=n
CONFIG_PCS_XPCS=n
CONFIG_RD_ZSTD=n
CONFIG_FRAME_POINTER=n
CONFIG_PHY_STARFIVE_JH7110_USB=n
CONFIG_DMADEVICES=n
CONFIG_ARCH_WANT_FRAME_POINTERS=n
CONFIG_EDAC_SUPPORT=n
CONFIG_POSIX_MQUEUE=n
CONFIG_HAS_SECURITY_AUDIT=n
CONFIG_SYSVIPC_COMPAT=n
CONFIG_SPI_SPACEMIT_K1=n
CONFIG_CC_HAS_NO_PROFILE_FN_ATTR=n
CONFIG_PINCTRL_STARFIVE_JH7110_SYS=n
CONFIG_VIDEO_V4L2_SUBDEV_API=n
CONFIG_USB_EHCI_HCD=n
CONFIG_HZ_250=n
CONFIG_USB_OTG=n
CONFIG_VIRTIO_BALLOON=n
CONFIG_ARCH_THEAD=n
CONFIG_RISCV_ISA_V=n
CONFIG_CRYPTO_ECB=n
CONFIG_IIO=n
CONFIG_NFS_COMMON=n
CONFIG_CLK_STARFIVE_JH7100_AUDIO=n
CONFIG_HAVE_SYSCALL_TRACEPOINTS=n
CONFIG_ZSTD_DECOMPRESS=n
CONFIG_RISCV_ISA_V_DEFAULT_ENABLE=n
CONFIG_OF_IOMMU=n
CONFIG_PAGE_REPORTING=n
CONFIG_ARCH_SIFIVE=n
CONFIG_DEVFREQ_THERMAL=n
CONFIG_BLK_DEV_PMEM=n
CONFIG_ELFCORE=n
CONFIG_USB_CDNS3_PCI_WRAP=n
CONFIG_INET_TCP_DIAG=n
CONFIG_E1000E=n
CONFIG_PINCTRL_TH1520=n
CONFIG_CRYPTO_AES=n
CONFIG_BLK_MQ_STACKING=n
CONFIG_MTD_SPI_NOR_USE_4K_SECTORS=n
CONFIG_CRYPTO_CMAC=n
CONFIG_NET_FAILOVER=n
CONFIG_PWRSEQ_SIMPLE=n
CONFIG_NET_VENDOR_I825XX=n
CONFIG_PHY_STARFIVE_JH7110_PCIE=n
CONFIG_NF_LOG_IPV4=n
CONFIG_PM_GENERIC_DOMAINS=n
CONFIG_CLK_SOPHGO_CV1800=n
CONFIG_HOTPLUG_PARALLEL=n
CONFIG_DRM_NOUVEAU_SIL164=n
CONFIG_PCIE_DW_HOST=n
CONFIG_USB_STORAGE=n
CONFIG_RISCV_ISA_ZICBOZ=n
CONFIG_MODULE_UNLOAD=n
CONFIG_NET_VENDOR_TI=n
CONFIG_MMC_BLOCK=n
CONFIG_MFD_CORE=n
CONFIG_FUTEX=n
CONFIG_INET_TUNNEL=n
CONFIG_SERIAL_8250=n
CONFIG_CRC32=n
CONFIG_VIRTIO_NET=n
CONFIG_ARCH_OPTIONAL_KERNEL_RWX=n
CONFIG_LD_ORPHAN_WARN=n
CONFIG_ARCH_HAS_KERNEL_FPU_SUPPORT=n
CONFIG_NETFILTER_XTABLES=n
CONFIG_I2C_ALGOBIT=n
CONFIG_PM_GENERIC_DOMAINS_SLEEP=n
CONFIG_USB_CONFIGFS_F_FS=n
CONFIG_SERIAL_SIFIVE=n
CONFIG_RESET_STARFIVE_JH7100=n
CONFIG_PINCTRL_SOPHGO_SG2000=n
CONFIG_CPU_FREQ_STAT=n
CONFIG_ARCH_ENABLE_MEMORY_HOTPLUG=n
CONFIG_USB_MUSB_SUNXI=n
CONFIG_PHYS_ADDR_T_64BIT=n
CONFIG_ACPI_THERMAL=n
CONFIG_RTC_HCTOSYS=n
CONFIG_RD_LZMA=n
CONFIG_SKB_EXTENSIONS=n
CONFIG_DRM_TTM_HELPER=n
CONFIG_NFS_V4=n
CONFIG_HAVE_ARCH_SOFT_DIRTY=n
CONFIG_JOLIET=n
CONFIG_USB_CONFIGFS_ECM=n
CONFIG_DYNAMIC_SIGFRAME=n
CONFIG_VIDEO_CADENCE_CSI2RX=n
CONFIG_SUNRPC_GSS=n
CONFIG_HAVE_ARCH_SECCOMP=n
CONFIG_HAVE_STACKPROTECTOR=n
CONFIG_STMMAC_PLATFORM=n
CONFIG_INET=n
CONFIG_SOUND=n
CONFIG_FUTEX_PI=n
CONFIG_RISCV_IOMMU_PCI=n
CONFIG_ARCH_WANT_OPTIMIZE_HUGETLB_VMEMMAP=n
CONFIG_KVM_GENERIC_DIRTYLOG_READ_PROTECT=n
CONFIG_GENERIC_IDLE_POLL_SETUP=n
CONFIG_ACPI_AC=n
CONFIG_HOTPLUG_SPLIT_STARTUP=n
CONFIG_USB_CONFIGFS_NCM=n
CONFIG_ARCH_MICROCHIP=n
CONFIG_THERMAL=n
CONFIG_ARCH_SUPPORTS_UPROBES=n
CONFIG_VLAN_8021Q=n
CONFIG_I2C_CHARDEV=n
CONFIG_HAVE_KVM_IRQ_ROUTING=n
CONFIG_MTD_CFI_I2=n
CONFIG_CONFIGFS_FS=n
CONFIG_DMA_DECLARE_COHERENT=n
CONFIG_DRM_DISPLAY_DP_HELPER=n
CONFIG_DST_CACHE=n
CONFIG_GPIO_CDEV=n
CONFIG_KALLSYMS=n
CONFIG_ARCH_DEFAULT_CRASH_DUMP=n
CONFIG_ARCH_USE_SYM_ANNOTATIONS=n
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE=n
CONFIG_ARCH_VIRT=n
CONFIG_PCIE_STARFIVE_HOST=n
CONFIG_INET_ESP=n
CONFIG_USB=n
CONFIG_DMIID=n
CONFIG_R8169=n
CONFIG_DRM_PANEL=n
CONFIG_ARCH_SUPPORTS_CRASH_DUMP=n
CONFIG_COREDUMP=n
CONFIG_ARCH_HAS_DEBUG_VM_PGTABLE=n
CONFIG_COMMON_CLK=n
CONFIG_FB_CFB_FILLRECT=n
CONFIG_SND_SOC_WM8978=n
CONFIG_THERMAL_OF=n
CONFIG_OVERLAY_FS=n
CONFIG_IP_PNP=n
CONFIG_MOUSE_PS2_ALPS=n
CONFIG_MTD_GEN_PROBE=n
CONFIG_HRTIMER_REARM_DEFERRED=n
CONFIG_ACPI_BUTTON=n
CONFIG_ARCH_DMA_ADDR_T_64BIT=n
CONFIG_MCHP_CLK_MPFS=n
CONFIG_CHECKPOINT_RESTORE=n
CONFIG_CLK_STARFIVE_JH7110_PLL=n
CONFIG_HAVE_ASM_MODVERSIONS=n
CONFIG_ARCH_HAS_CC_CAN_LINK=n
CONFIG_LDISC_AUTOLOAD=n
CONFIG_PCI_HOST_COMMON=n
CONFIG_USB_PHY=n
CONFIG_NOP_TRACER=n
CONFIG_DRM_VIRTIO_GPU_KMS=n
CONFIG_CRYPTO_USER_API_HASH=n
CONFIG_IOMMU_SUPPORT=n
CONFIG_DMA_BOUNCE_UNALIGNED_KMALLOC=n
CONFIG_MQ_IOSCHED_DEADLINE=n
CONFIG_IPV6_NDISC_NODETYPE=n
CONFIG_NLS=n
CONFIG_USB_F_RNDIS=n
CONFIG_NF_CT_PROTO_SCTP=n
CONFIG_NF_LOG_SYSLOG=n
CONFIG_LOCALVERSION_AUTO=n
CONFIG_NET_DEVLINK=n
CONFIG_RTC_INTF_DEV=n
CONFIG_QUEUED_SPINLOCKS=n
CONFIG_FB_CORE=n
CONFIG_CRC_OPTIMIZATIONS=n
CONFIG_ARCH_WANT_LD_ORPHAN_WARN=n
CONFIG_COMPAT=n
CONFIG_PATA_TIMINGS=n
CONFIG_MMC_SDHCI_OF_DWCMSHC=n
CONFIG_NET_VENDOR_CORTINA=n
CONFIG_RESET_CONTROLLER=n
CONFIG_HAVE_IRQ_EXIT_ON_IRQ_STACK=n
CONFIG_RPMSG_CHAR=n
CONFIG_NET_VENDOR_CADENCE=n
CONFIG_DEVPORT=n
CONFIG_CRYPTO_ENGINE=n
CONFIG_BPF=n
CONFIG_SPARSEMEM=n
CONFIG_LTO_NONE=n
CONFIG_DWMAC_SUN8I=n
CONFIG_INIT_STACK_ALL_ZERO=n
CONFIG_MFD_AXP20X_I2C=n
CONFIG_PHY_SUN4I_USB=n
CONFIG_NFS_V4_2=n
CONFIG_TOOLCHAIN_NEEDS_EXPLICIT_ZICSR_ZIFENCEI=n
CONFIG_SHMEM=n
CONFIG_MD=n
CONFIG_SMP=n
CONFIG_RESET_K230=n
CONFIG_NET_VENDOR_SUN=n
CONFIG_FONT_SUPPORT=n
CONFIG_I2C=n
CONFIG_ACPI_FAN=n
CONFIG_FB_SYS_FILLRECT=n
CONFIG_COMPAT_BINFMT_ELF=n
CONFIG_PNP=n
CONFIG_USB_CONFIGFS=n
CONFIG_NET_VENDOR_RDC=n
CONFIG_SPACEMIT_K1_CCU=n
CONFIG_TIME_NS=n
CONFIG_TUNE_GENERIC=n
CONFIG_NET_VENDOR_REALTEK=n
CONFIG_MFD_AXP20X=n
CONFIG_BRANCH_PROFILE_NONE=n
CONFIG_VIDEO=n
CONFIG_PRINTK_TIME=n
CONFIG_I3C_OR_I2C=n
CONFIG_MOUSE_PS2_BYD=n
CONFIG_ARCH_STARFIVE=n
CONFIG_DEVMEM=n
CONFIG_DRM_DISPLAY_HDMI_HELPER=n
CONFIG_NFS_V4_SECURITY_LABEL=n
CONFIG_DEBUG_FS_ALLOW_ALL=n
CONFIG_TRACEFS_AUTOMOUNT_DEPRECATED=n
CONFIG_MEDIA_PLATFORM_DRIVERS=n
CONFIG_NET_VENDOR_AGERE=n
CONFIG_IP_PNP_DHCP=n
CONFIG_MEDIA_HIDE_ANCILLARY_SUBDRV=n
CONFIG_POSIX_TIMERS=n
CONFIG_INITRAMFS_PRESERVE_MTIME=n
CONFIG_SECURITY_NETWORK=n
CONFIG_USB_CDNS3_HOST=n
CONFIG_SCSI_DMA=n
CONFIG_BLK_DEV_INITRD=n
CONFIG_GCC10_NO_ARRAY_BOUNDS=n
CONFIG_POLARFIRE_SOC_SYSCONS=n
CONFIG_SECURITY_SELINUX_AVC_STATS=n
CONFIG_ACPI_PROCESSOR_IDLE=n
CONFIG_SERIAL_8250_CONSOLE=n
CONFIG_PWM=n
CONFIG_MTD_OF_PARTS=n
CONFIG_MMC_SDHCI_OF_K1=n
CONFIG_SND_TIMER=n
CONFIG_POWER_SUPPLY=n
CONFIG_MULTIUSER=n
CONFIG_GENERIC_CLOCKEVENTS=n
CONFIG_SND_SPI=n
CONFIG_NET_VENDOR_XILINX=n
CONFIG_CC_NO_ARRAY_BOUNDS=n
CONFIG_CACHESTAT_SYSCALL=n
CONFIG_VIRTIO_BLK=n
CONFIG_FUTEX_PRIVATE_HASH=n
CONFIG_HAS_DMA=n
CONFIG_SND_SOC_I2C_AND_SPI=n
