CONFIG_USB_ULPI_BUS=n
CONFIG_CAN_RCAR=n
CONFIG_DRM=n
CONFIG_SND_SOC_LPASS_HDMI=n
CONFIG_PATA_PLATFORM=n
CONFIG_MESON_GXL_PHY=n
CONFIG_RPMSG_QCOM_GLINK_RPM=n
CONFIG_MFD_ADP5585=n
CONFIG_GPIO_MAX732X=n
CONFIG_MMC_SDHCI_IO_ACCESSORS=n
CONFIG_HAVE_SAMPLE_FTRACE_DIRECT=n
CONFIG_QORIQ_THERMAL=n
CONFIG_DRM_ZYNQMP_DPSUB=n
CONFIG_ARM64_POE=n
CONFIG_NET_VENDOR_AMD=n
CONFIG_ARCH_HAS_MEMBARRIER_SYNC_CORE=n
CONFIG_IPQ_APSS_PLL=n
CONFIG_USB_CONFIGFS_ECM=n
CONFIG_HAVE_KRETPROBES=n
CONFIG_SYS_R9A09G047=n
CONFIG_CLK_RK3328=n
CONFIG_TI_K3_M4_REMOTEPROC=n
CONFIG_PINCTRL_RZT2H=n
CONFIG_PAGE_SIZE_LESS_THAN_64KB=n
CONFIG_SYS_SUPPORTS_SH_TMU=n
CONFIG_CLK_QCM2290_GPUCC=n
CONFIG_SPI_OMAP24XX=n
CONFIG_PINCTRL_SX150X=n
CONFIG_ARCH_R8A77990=n
CONFIG_ARCH_SUPPORTS_CFI=n
CONFIG_DWMAC_SOCFPGA=n
CONFIG_NPCM7XX_TIMER=n
CONFIG_BT_HCIBTUSB=n
CONFIG_COMMON_CLK_MT8195_MFGCFG=n
CONFIG_MTD_BLKDEVS=n
CONFIG_MTD_SST25L=n
CONFIG_REGMAP=n
CONFIG_ARM64_SVE=n
CONFIG_XEN_BACKEND=n
CONFIG_DRM_MSM_DSI_28NM_PHY=n
CONFIG_MMC_ARMMMCI=n
CONFIG_ARCH_MA35=n
CONFIG_VIDEO_IMX7_CSI=n
CONFIG_IRQ_FORCED_THREADING=n
CONFIG_BLK_DEV_BSGLIB=n
CONFIG_SERIAL_MSM=n
CONFIG_PHY_MIXEL_MIPI_DPHY=n
CONFIG_ARM64_ERRATUM_4118414=n
CONFIG_VFIO_PCI_INTX=n
CONFIG_PCS_RZN1_MIIC=n
CONFIG_LEDS_SYSCON=n
CONFIG_USB_TEGRA_PHY=n
CONFIG_USB_DWC3_EXYNOS=n
CONFIG_CRYPTO_DEV_SA2UL=n
CONFIG_PINCTRL_RZV2M=n
CONFIG_SDM_DISPCC_845=n
CONFIG_SND_SOC_ES7241=n
CONFIG_SUN50I_H616_CCU=n
CONFIG_WLAN_VENDOR_QUANTENNA=n
CONFIG_PCIE_ROCKCHIP_HOST=n
CONFIG_USB_EHCI_EXYNOS=n
CONFIG_USB_CONFIGFS=n
CONFIG_DRM_RCAR_DU=n
CONFIG_PACKET=n
CONFIG_PCI_TEGRA=n
CONFIG_ARM_PSCI_CPUIDLE_DOMAIN=n
CONFIG_IMX8M_BLK_CTRL=n
CONFIG_MFD_SL28CPLD=n
CONFIG_HW_RANDOM_NPCM=n
CONFIG_NFS_V3=n
CONFIG_BCM_NET_PHYLIB=n
CONFIG_I2C_OMAP=n
CONFIG_TI_K3_SOCINFO=n
CONFIG_MTK_REGULATOR_COUPLER=n
CONFIG_GENERIC_IRQ_IPI_MUX=n
CONFIG_PINCTRL_SUN8I_H3_R=n
CONFIG_DM_MIRROR=n
CONFIG_DRM_MESON_DW_MIPI_DSI=n
CONFIG_INTERCONNECT_QCOM_SM8250=n
CONFIG_COMMON_CLK_MT8365=n
CONFIG_TIMER_ACPI=n
CONFIG_BITREVERSE=n
CONFIG_ARM64=n
CONFIG_SPI_QCOM_QSPI=n
CONFIG_RCU_TRACE=n
CONFIG_COMMON_CLK_MESON_AO_CLKC=n
CONFIG_SND_SOC_SIMPLE_MUX=n
CONFIG_MFD_AXP20X_RSB=n
CONFIG_USB_NET_AX88179_178A=n
CONFIG_COMMON_CLK_MT8195_SCP_ADSP=n
CONFIG_USB_RTL8150=n
CONFIG_REGULATOR_QCOM_USB_VBUS=n
CONFIG_HW_RANDOM_OPTEE=n
CONFIG_HAVE_SHARED_GPIOS=n
CONFIG_ARM_SCMI_TRANSPORT_MAILBOX=n
CONFIG_IWLWIFI_LEDS=n
CONFIG_REGULATOR_ROHM=n
CONFIG_PCIEASPM_DEFAULT=n
CONFIG_FB_CORE=n
CONFIG_ARCH_ENABLE_THP_MIGRATION=n
CONFIG_LOCKD=n
CONFIG_ARM_SCMI_TRANSPORT_OPTEE=n
CONFIG_GENERIC_IRQ_IPI=n
CONFIG_PCI=n
CONFIG_APERTURE_HELPERS=n
CONFIG_USB_CHIPIDEA_PCI=n
CONFIG_SA_CAMCC_8775P=n
CONFIG_REED_SOLOMON=n
CONFIG_IMX7ULP_WDT=n
CONFIG_CLK_QORIQ=n
CONFIG_SPMI_MTK_PMIF=n
CONFIG_SND_SOC_ROCKCHIP_I2S_TDM=n
CONFIG_SPARSEMEM_EXTREME=n
CONFIG_V4L_MEM2MEM_DRIVERS=n
CONFIG_SND_AUDIO_GRAPH_CARD2=n
CONFIG_PINCTRL_TEGRA186=n
CONFIG_GREYBUS=n
CONFIG_MMC_OWL=n
CONFIG_ACPI_HED=n
CONFIG_ATH11K=n
CONFIG_SND_SOC_TI_EDMA_PCM=n
CONFIG_CLK_IMX8QXP=n
CONFIG_COMMON_CLK_XLNX_CLKWZRD=n
CONFIG_BLK_DEBUG_FS=n
CONFIG_MMC_SDHI_INTERNAL_DMAC=n
CONFIG_DRM_CDNS_MHDP8546_J721E=n
CONFIG_CLK_BCM2835=n
CONFIG_GENERIC_IRQ_SHOW_LEVEL=n
CONFIG_COMMON_CLK_MT8196_UFSSYS=n
CONFIG_BT_HCIUART_SERDEV=n
CONFIG_PCIE_LAYERSCAPE_GEN4=n
CONFIG_PINCTRL_PFC_R8A779A0=n
CONFIG_ARCH_RENESAS=n
CONFIG_SYS_HYPERVISOR=n
CONFIG_XEN_GNTDEV=n
CONFIG_EDAC_ZYNQMP=n
CONFIG_ARM_GIC_V3=n
CONFIG_SND_SOC_ES8328=n
CONFIG_HID=n
CONFIG_SCSI_HISI_SAS_PCI=n
CONFIG_QCOM_NET_PHYLIB=n
CONFIG_RD_LZ4=n
CONFIG_ASYMMETRIC_KEY_TYPE=n
CONFIG_MHP_DEFAULT_ONLINE_TYPE_OFFLINE=n
CONFIG_CROS_EC_TYPEC=n
CONFIG_SATA_HOST=n
CONFIG_USB_NET_MCS7830=n
CONFIG_NVME_CORE=n
CONFIG_MEDIA_TUNER_MC44S803=n
CONFIG_GENERIC_ARCH_TOPOLOGY=n
CONFIG_TYPEC_DP_ALTMODE=n
CONFIG_PINCTRL_SM6125=n
CONFIG_CONFIGFS_FS=n
CONFIG_HW_RANDOM_XGENE=n
CONFIG_CRYPTO_AUTHENC=n
CONFIG_CRYPTO_ECC=n
CONFIG_CROS_EC_RPMSG=n
CONFIG_SPARSEMEM=n
CONFIG_HIBERNATE_CALLBACKS=n
CONFIG_NAMESPACES=n
CONFIG_ACPI_SPCR_TABLE=n
CONFIG_OID_REGISTRY=n
CONFIG_MAC80211_RC_DEFAULT_MINSTREL=n
CONFIG_VIDEO_MEDIATEK_VCODEC_SCP=n
CONFIG_RTC_DRV_BRCMSTB=n
CONFIG_PHY_QCOM_SGMII_ETH=n
CONFIG_ARCH_HAS_UBSAN=n
CONFIG_DMA_DECLARE_COHERENT=n
CONFIG_DRM_LONTIUM_LT8713SX=n
CONFIG_SCSI_LOWLEVEL=n
CONFIG_SH_TIMER_CMT=n
CONFIG_ARM_SCMI_HAVE_MSG=n
CONFIG_FSL_ERRATUM_A008585=n
CONFIG_GPIO_PCA953X=n
CONFIG_DW_APB_TIMER=n
CONFIG_ATH10K=n
CONFIG_MULTIPLEXER=n
CONFIG_DRM_MSM_HDMI_HDCP=n
CONFIG_CIX_MBOX=n
CONFIG_SND_SOC_QDSP6_APM=n
CONFIG_MFD_MT6360=n
CONFIG_USER_NS=n
CONFIG_HAVE_IOREMAP_PROT=n
CONFIG_FSL_ENETC=n
CONFIG_CRYPTO_DEV_BCM_SPU=n
CONFIG_HW_RANDOM_BCM74110=n
CONFIG_CRYPTO_KRB5=n
CONFIG_ARM64_ERRATUM_2077057=n
CONFIG_ARM_DSU_PMU=n
CONFIG_ARM_MEDIATEK_CPUFREQ_HW=n
CONFIG_INTERCONNECT_QCOM_SM6115=n
CONFIG_TI_K3_DSP_REMOTEPROC=n
CONFIG_DRM_MSM_DSI=n
CONFIG_DEVFREQ_GOV_PASSIVE=n
CONFIG_I3C_OR_I2C=n
CONFIG_SM_DISPCC_8250=n
CONFIG_NET_VENDOR_REALTEK=n
CONFIG_MV_XOR_V2=n
CONFIG_DWMAC_TEGRA=n
CONFIG_IRQ_MSI_IOMMU=n
CONFIG_MTD_CFI_AMDSTD=n
CONFIG_RTC_INTF_DEV=n
CONFIG_PINCTRL_MESON_AXG_PMX=n
CONFIG_MMC_DW_ROCKCHIP=n
CONFIG_CRYPTO_USER_API=n
CONFIG_UBIFS_FS_ZLIB=n
CONFIG_ARCH_R9A09G057=n
CONFIG_BLK_INLINE_ENCRYPTION=n
CONFIG_SND_USB_AUDIO_USE_MEDIA_CONTROLLER=n
CONFIG_HAVE_HARDLOCKUP_DETECTOR_BUDDY=n
CONFIG_ALLOW_DEV_COREDUMP=n
CONFIG_ASPEED_LPC_SNOOP=n
CONFIG_FB_EFI=n
CONFIG_VIDEO_CAMERA_LENS=n
CONFIG_SND_SOC_MT8188=n
CONFIG_COMMON_CLK_MT2712=n
CONFIG_PINCTRL_MT8183=n
CONFIG_USB_EHCI_ROOT_HUB_TT=n
CONFIG_SND_SOC_RT5514=n
CONFIG_MTK_ADSP_MBOX=n
CONFIG_TYPEC_UCSI=n
CONFIG_RESET_NPCM=n
CONFIG_SG_SPLIT=n
CONFIG_SCSI_UFS_VARIABLE_SG_ENTRY_SIZE=n
CONFIG_PINCTRL_RENESAS=n
CONFIG_PINCTRL_SOPHGO_CV18XX_OPS=n
CONFIG_PINCTRL_BRCMSTB=n
CONFIG_MAC80211_LEDS=n
CONFIG_PHY_QCOM_PCIE2=n
CONFIG_ETHERNET=n
CONFIG_CRYPTO_SHA256=n
CONFIG_I2C_RIIC=n
CONFIG_RPMSG_QCOM_GLINK=n
CONFIG_HAVE_DEBUG_KMEMLEAK=n
CONFIG_HAVE_ARCH_HUGE_VMALLOC=n
CONFIG_PHY_QCOM_USB_SNPS_FEMTO_V2=n
CONFIG_USB_HID=n
CONFIG_QUEUED_SPINLOCKS=n
CONFIG_USB_SUPPORT=n
CONFIG_MTD_OF_PARTS_BCM4908=n
CONFIG_TI_K3_AM65_CPSW_NUSS=n
CONFIG_INPUT_MISC=n
CONFIG_PHY_MESON_G12A_USB2=n
CONFIG_PHY_MVEBU_CP110_COMPHY=n
CONFIG_HAVE_FUNCTION_ARG_ACCESS_API=n
CONFIG_MTD_NAND_BRCMNAND_BRCMSTB=n
CONFIG_IP_PNP_BOOTP=n
CONFIG_RENESAS_WDT=n
CONFIG_QCOM_A53PLL=n
CONFIG_SNI_NETSEC=n
CONFIG_TOUCHSCREEN_EDT_FT5X06=n
CONFIG_LOCK_MM_AND_FIND_VMA=n
CONFIG_DRM_DISPLAY_DSC_HELPER=n
CONFIG_DEVPORT=n
CONFIG_LEDS_PCA9532=n
CONFIG_BUILDTIME_TABLE_SORT=n
CONFIG_XEN_PCI_STUB=n
CONFIG_DRM_DISPLAY_DP_AUX_BUS=n
CONFIG_REGULATOR_FIXED_VOLTAGE=n
CONFIG_ARCH_MESON=n
CONFIG_COMMON_CLK_MT8173_IMGSYS=n
CONFIG_HUGETLB_PAGE=n
CONFIG_ARCH_ALPINE=n
CONFIG_MHI_NET=n
CONFIG_COMMON_CLK_FSL_FLEXSPI=n
CONFIG_VIDEO_ROCKCHIP_CIF=n
CONFIG_USB_BDC_UDC=n
CONFIG_COMMON_CLK_SCMI=n
CONFIG_SND_HDA_CORE=n
CONFIG_QCOM_RPMH=n
CONFIG_HAVE_NMI=n
CONFIG_MACVTAP=n
CONFIG_CLK_R9A07G054=n
CONFIG_SLAB_OBJ_EXT=n
CONFIG_PATA_OF_PLATFORM=n
CONFIG_NET_9P_FD=n
CONFIG_ARM64_SME=n
CONFIG_MUX_GPIO=n
CONFIG_XILINX_WINDOW_WATCHDOG=n
CONFIG_GPIO_TEGRA=n
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO_BARE=n
CONFIG_SM_GCC_8250=n
CONFIG_SND_SOC_TEGRA_AUDIO_GRAPH_CARD=n
CONFIG_IIO_BUFFER=n
CONFIG_CLK_ELIZA_GCC=n
CONFIG_ROCKCHIP_ANALOGIX_DP=n
CONFIG_HAVE_PERF_EVENTS=n
CONFIG_MMC_STM32_SDMMC=n
CONFIG_LEDS_TRIGGER_DISK=n
CONFIG_PINCTRL_SUN50I_H6=n
CONFIG_UID16=n
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST=n
CONFIG_ARCH_DEFAULT_KEXEC_IMAGE_VERIFY_SIG=n
CONFIG_VIDEO_TI_J721E_CSI2RX=n
CONFIG_DEBUG_BUGVERBOSE=n
CONFIG_BACKLIGHT_LP855X=n
CONFIG_SPI_RPCIF=n
CONFIG_SPARSEMEM_VMEMMAP=n
CONFIG_COMMON_CLK_STM32MP=n
CONFIG_INTEGRITY=n
