CONFIG_WLAN_VENDOR_RSI=n
CONFIG_M686=n
CONFIG_NFS_V4=n
CONFIG_HAVE_ARCH_RANDOMIZE_KSTACK_OFFSET=n
CONFIG_CRYPTO_ACOMP2=n
CONFIG_MAGIC_SYSRQ_SERIAL=n
CONFIG_MICROCODE_INITRD32=n
CONFIG_FS_IOMAP=n
CONFIG_HAVE_KERNEL_BZIP2=n
CONFIG_ARCH_HAVE_NMI_SAFE_CMPXCHG=n
CONFIG_VIRTIO_PCI=n
CONFIG_HAVE_KERNEL_LZMA=n
CONFIG_INPUT_KEYBOARD=n
CONFIG_NETFILTER_XT_MATCH_STATE=n
CONFIG_NET_VENDOR_NI=n
CONFIG_MMU_GATHER_RCU_TABLE_FREE=n
CONFIG_NETFILTER_SKIP_EGRESS=n
CONFIG_TASKS_RCU=n
CONFIG_NET_VENDOR_WIZNET=n
CONFIG_HAVE_ARCH_THREAD_STRUCT_WHITELIST=n
CONFIG_GCC_ASM_GOTO_OUTPUT_BROKEN=n
CONFIG_NFS_FS=n
CONFIG_GENERIC_IRQ_EFFECTIVE_AFF_MASK=n
CONFIG_MOUSE_PS2_TRACKPOINT=n
CONFIG_MAC_EMUMOUSEBTN=n
CONFIG_NFS_USE_KERNEL_DNS=n
CONFIG_IRQ_WORK=n
CONFIG_X86_ACPI_CPUFREQ_CPB=n
CONFIG_ISO9660_FS=n
CONFIG_LD_ORPHAN_WARN=n
CONFIG_PROVIDE_OHCI1394_DMA_INIT=n
CONFIG_EFI_DXE_MEM_ATTRIBUTES=n
CONFIG_CRYPTO_AEAD=n
CONFIG_NET_CLS_CGROUP=n
CONFIG_SLAB_MERGE_DEFAULT=n
CONFIG_E1000E_HWTS=n
CONFIG_NET_VENDOR_ENGLEDER=n
CONFIG_CC_HAS_ASM_INLINE=n
CONFIG_BLK_DEV_DM_BUILTIN=n
CONFIG_CC_HAS_KASAN_GENERIC=n
CONFIG_BLOCK_HOLDER_DEPRECATED=n
CONFIG_XFRM_USER=n
CONFIG_SECTION_MISMATCH_WARN_ONLY=n
CONFIG_RELAY=n
CONFIG_SND=n
CONFIG_RPS=n
CONFIG_NETFILTER_XT_MARK=n
CONFIG_X86_16BIT=n
CONFIG_RTC_SYSTOHC=n
CONFIG_NETFILTER_XT_TARGET_CONNSECMARK=n
CONFIG_LEGACY_TIOCSTI=n
CONFIG_HAVE_DEBUG_STACKOVERFLOW=n
CONFIG_DEVPORT=n
CONFIG_BNX2=n
CONFIG_GPIOLIB_LEGACY=n
CONFIG_VGA_CONSOLE=n
CONFIG_DM_ZERO=n
CONFIG_SERIO_I8042=n
CONFIG_PARAVIRT_CLOCK=n
CONFIG_WLAN_VENDOR_REALTEK=n
CONFIG_THERMAL_NETLINK=n
CONFIG_AGP_INTEL=n
CONFIG_DEBUG_STACK_USAGE=n
CONFIG_LEGACY_DIRECT_IO=n
CONFIG_HAVE_MOD_ARCH_SPECIFIC=n
CONFIG_NET_VENDOR_EZCHIP=n
CONFIG_SCHED_OMIT_FRAME_POINTER=n
CONFIG_HAVE_MIXED_BREAKPOINTS_REGS=n
CONFIG_HAVE_ALIGNED_STRUCT_PAGE=n
CONFIG_EFI=n
CONFIG_HRTIMER_REARM_DEFERRED=n
CONFIG_AUDITSYSCALL=n
CONFIG_NLS_ASCII=n
CONFIG_CRYPTO_LZO=n
CONFIG_NET_VENDOR_SOCIONEXT=n
CONFIG_PAGE_POOL=n
CONFIG_X86_NEED_RELOCS=n
CONFIG_ADVISE_SYSCALLS=n
CONFIG_HAVE_USER_RETURN_NOTIFIER=n
CONFIG_STACKTRACE=n
CONFIG_DRM_I915_COMPRESS_ERROR=n
CONFIG_NET_VENDOR_HUAWEI=n
CONFIG_BLK_DEV_BSG_COMMON=n
CONFIG_YENTA_ENE_TUNE=n
CONFIG_SCSI_MOD=n
CONFIG_MITIGATION_L1TF=n
CONFIG_CONTEXT_TRACKING_IDLE=n
CONFIG_PM=n
CONFIG_NETLABEL=n
CONFIG_BLK_DEV_BSG=n
CONFIG_NET_VENDOR_RENESAS=n
CONFIG_EFI_CUSTOM_SSDT_OVERLAYS=n
CONFIG_VIRTIO=n
CONFIG_X86_DEBUG_FPU=n
CONFIG_ARCH_CONFIGURES_CPU_MITIGATIONS=n
CONFIG_CRYPTO_AEAD2=n
CONFIG_VIRTIO_INPUT=n
CONFIG_VIRTIO_PCI_LIB_LEGACY=n
CONFIG_BLK_DEV=n
CONFIG_PROC_FS=n
CONFIG_SYSTEM_TRUSTED_KEYRING=n
CONFIG_MOUSE_PS2_BYD=n
CONFIG_ASN1=n
CONFIG_STACKPROTECTOR=n
CONFIG_NET_NS=n
CONFIG_EFI_STUB=n
CONFIG_NET_HANDSHAKE=n
CONFIG_ARCH_SUPPORTS_UPROBES=n
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST_IDLE=n
CONFIG_NFS_V3_ACL=n
CONFIG_I3C_OR_I2C=n
CONFIG_LOCK_DEBUGGING_SUPPORT=n
CONFIG_MOUSE_PS2_LIFEBOOK=n
CONFIG_NF_DEFRAG_IPV6=n
CONFIG_RD_LZMA=n
CONFIG_UNIX=n
CONFIG_SCSI_CONSTANTS=n
CONFIG_ARCH_USE_MEMTEST=n
CONFIG_ARCH_HAS_FAST_MULTIPLIER=n
CONFIG_LZO_DECOMPRESS=n
CONFIG_BINFMT_ELF=n
CONFIG_IP6_NF_IPTABLES=n
CONFIG_ELFCORE=n
CONFIG_ACPI_CONTAINER=n
CONFIG_SND_INTEL_NHLT=n
CONFIG_PREEMPTION=n
CONFIG_QFMT_V2=n
CONFIG_X86_DISABLED_FEATURE_TDX_GUEST=n
CONFIG_EVENT_TRACING=n
CONFIG_SND_PCM_TIMER=n
CONFIG_NET_SCHED=n
CONFIG_WLAN_VENDOR_RALINK=n
CONFIG_MTRR=n
CONFIG_XZ_DEC=n
CONFIG_CFG80211_REQUIRE_SIGNED_REGDB=n
CONFIG_MITIGATION_RFDS=n
CONFIG_PREEMPT_COUNT=n
CONFIG_CRC16=n
CONFIG_ACPI_BUTTON=n
CONFIG_E1000E=n
CONFIG_CDROM=n
CONFIG_PM_TRACE_RTC=n
CONFIG_TRACING=n
CONFIG_NET_EMATCH=n
CONFIG_VT_CONSOLE=n
CONFIG_MQ_IOSCHED_DEADLINE=n
CONFIG_IOMMU_DMA=n
CONFIG_GENERIC_CPU_VULNERABILITIES=n
CONFIG_SERIAL_8250_PERICOM=n
CONFIG_ARCH_SUPPORTS_KEXEC=n
CONFIG_PCI_MSI=n
CONFIG_X86_DISABLED_FEATURE_UNRET=n
CONFIG_ARCH_MAY_HAVE_PC_FDC=n
CONFIG_USB_OHCI_LITTLE_ENDIAN=n
CONFIG_HAVE_PREEMPT_DYNAMIC=n
CONFIG_TREE_SRCU=n
CONFIG_USB_ANNOUNCE_NEW_DEVICES=n
CONFIG_NET_IP_TUNNEL=n
CONFIG_YENTA_TOSHIBA=n
CONFIG_MAC80211_RC_DEFAULT_MINSTREL=n
CONFIG_DRM_I915_USERPTR=n
CONFIG_EARLY_PRINTK_USB=n
CONFIG_HOTPLUG_SPLIT_STARTUP=n
CONFIG_DEBUG_KERNEL=n
CONFIG_ARCH_USE_QUEUED_RWLOCKS=n
CONFIG_KEYS=n
CONFIG_NFS_ACL_SUPPORT=n
CONFIG_NETWORK_SECMARK=n
CONFIG_DRM_DISPLAY_HDMI_HELPER=n
CONFIG_NFS_COMMON=n
CONFIG_TIGON3_HWMON=n
CONFIG_HAVE_ARCH_SECCOMP_FILTER=n
CONFIG_INPUT_JOYSTICK=n
CONFIG_CC_HAS_SLS=n
CONFIG_USB_UHCI_HCD=n
CONFIG_NET_9P=n
CONFIG_NET_VENDOR_XIRCOM=n
CONFIG_CFG80211=n
CONFIG_HAVE_STACKPROTECTOR=n
CONFIG_ZSTD_COMMON=n
CONFIG_ACPI_MDIO=n
CONFIG_IRQ_FORCED_THREADING=n
CONFIG_NET_VENDOR_8390=n
CONFIG_INTERVAL_TREE=n
CONFIG_SOCK_CGROUP_DATA=n
CONFIG_MD_BITMAP=n
CONFIG_INET_TUNNEL=n
CONFIG_GENERIC_NET_UTILS=n
CONFIG_DEVTMPFS=n
CONFIG_X86_SUPPORTS_MEMORY_FAILURE=n
CONFIG_PGTABLE_HAS_HUGE_LEAVES=n
CONFIG_NET_VENDOR_CAVIUM=n
CONFIG_NETFILTER_XT_MATCH_ADDRTYPE=n
CONFIG_DEBUG_MISC=n
CONFIG_ARCH_USE_BUILTIN_BSWAP=n
CONFIG_ZSTD_DECOMPRESS=n
CONFIG_NET_VENDOR_NATSEMI=n
CONFIG_ATA_SFF=n
CONFIG_ZLIB_INFLATE=n
CONFIG_X86_REQUIRED_FEATURE_CMOV=n
CONFIG_SYSTEM_DATA_VERIFICATION=n
CONFIG_GENERIC_BITREVERSE=n
CONFIG_PREVENT_FIRMWARE_BUILD=n
CONFIG_HVC_DRIVER=n
CONFIG_CGROUP_SCHED=n
CONFIG_RUNTIME_TESTING_MENU=n
CONFIG_FLATMEM=n
CONFIG_NET_VENDOR_MELLANOX=n
CONFIG_HID_PID=n
CONFIG_PNFS_FLEXFILE_LAYOUT=n
CONFIG_ARCH_HAS_SET_MEMORY=n
CONFIG_PCIEPORTBUS=n
CONFIG_ATA_FORCE=n
CONFIG_ACPI_CPU_FREQ_PSS=n
CONFIG_HAS_SECURITY_AUDIT=n
CONFIG_HAVE_KERNEL_LZO=n
CONFIG_GENERIC_CLOCKEVENTS=n
CONFIG_INIT_STACK_ALL_ZERO=n
CONFIG_DEBUG_ENTRY=n
CONFIG_HAVE_ACPI_APEI=n
CONFIG_DMIID=n
CONFIG_DCACHE_WORD_ACCESS=n
CONFIG_BLK_DEV_SD=n
CONFIG_X86_INTEL_TSX_MODE_AUTO=n
CONFIG_I2C_I801=n
CONFIG_CRYPTO_ECB=n
CONFIG_KEXEC_CORE=n
CONFIG_ARCH_USE_SYM_ANNOTATIONS=n
CONFIG_HID_SUPPORT=n
CONFIG_UTS_NS=n
CONFIG_NET_VENDOR_HISILICON=n
CONFIG_THREAD_INFO_IN_TASK=n
CONFIG_BACKLIGHT_CLASS_DEVICE=n
CONFIG_ARCH_HIBERNATION_HEADER=n
CONFIG_HAVE_DEBUG_KMEMLEAK=n
CONFIG_NET_VENDOR_AQUANTIA=n
CONFIG_CRYPTO_AKCIPHER=n
CONFIG_SUSPEND_FREEZER=n
CONFIG_ARCH_HAS_STRICT_MODULE_RWX=n
CONFIG_NET_VENDOR_DAVICOM=n
CONFIG_EDAC_SUPPORT=n
CONFIG_CRYPTO_CTR=n
CONFIG_HIGH_RES_TIMERS=n
CONFIG_X86_DISABLED_FEATURE_PTI=n
CONFIG_NET_VENDOR_AMAZON=n
CONFIG_X86_MSR=n
CONFIG_ARCH_HAS_CACHE_LINE_SIZE=n
CONFIG_LOCALVERSION_AUTO=n
CONFIG_MITIGATION_SPECTRE_V2=n
CONFIG_HAVE_FUNCTION_ARG_ACCESS_API=n
CONFIG_FORCEDETH=n
CONFIG_HOTPLUG_CPU=n
CONFIG_SECCOMP_FILTER=n
CONFIG_HALTPOLL_CPUIDLE=n
CONFIG_SECURITY_SELINUX_AVC_STATS=n
CONFIG_XZ_DEC_POWERPC=n
CONFIG_TRACING_SUPPORT=n
CONFIG_FUTEX_PRIVATE_HASH=n
CONFIG_ARCH_SUPPORTS_LTO_CLANG_THIN=n
CONFIG_IOMMU_DEFAULT_DMA_LAZY=n
CONFIG_NET_VENDOR_MICREL=n
CONFIG_SCHED_CLUSTER=n
CONFIG_PNFS_BLOCK=n
CONFIG_HAVE_CMPXCHG_LOCAL=n
CONFIG_HPET=n
CONFIG_FIRMWARE_MEMMAP=n
CONFIG_CPU_FREQ_DEFAULT_GOV_USERSPACE=n
CONFIG_NEED_TASKS_RCU=n
CONFIG_GENERIC_CPU_DEVICES=n
CONFIG_INPUT_SPARSEKMAP=n
CONFIG_GENERIC_STRNCPY_FROM_USER=n
CONFIG_SWAP=n
CONFIG_SND_PCMCIA=n
CONFIG_NLS_ISO8859_1=n
CONFIG_BQL=n
CONFIG_ZISOFS=n
CONFIG_UCS2_STRING=n
CONFIG_SUNRPC_BACKCHANNEL=n
CONFIG_WLAN_VENDOR_MICROCHIP=n
CONFIG_NET_DEVMEM=n
CONFIG_IP_PNP=n
CONFIG_X86_DISABLED_FEATURE_IBT=n
CONFIG_NET_VENDOR_META=n
CONFIG_SND_INTEL_DSP_CONFIG=n
CONFIG_SCHED_MM_CID=n
CONFIG_DMI_SCAN_MACHINE_NON_EFI_FALLBACK=n
CONFIG_INET6_ESP=n
CONFIG_FIRMWARE_TABLE=n
CONFIG_ROOT_NFS=n
CONFIG_DEFAULT_SECURITY_SELINUX=n
CONFIG_NET_VENDOR_SUN=n
CONFIG_PHYLIB=n
CONFIG_FIB_RULES=n
CONFIG_NET_VENDOR_ADAPTEC=n
CONFIG_PROFILING=n
CONFIG_NETFILTER_XT_TARGET_NFLOG=n
CONFIG_ATA=n
CONFIG_DRM_DISPLAY_DP_HELPER=n
CONFIG_DEFAULT_CUBIC=n
CONFIG_ARCH_HAS_CURRENT_STACK_POINTER=n
