CONFIG_CRYPTO_SM4_ARM64_CE_BLK=y
CONFIG_EXYNOS_PM_DOMAINS=y
CONFIG_SCSI_MVSAS_TASKLET=y
CONFIG_VEML3235=y
CONFIG_RTC_DRV_MESON_VRTC=y
CONFIG_ASN1=y
CONFIG_SOC_TEGRA_FUSE=y
CONFIG_EDAC=y
CONFIG_KEYBOARD_SUN4I_LRADC=y
CONFIG_SENSORS_NCT7363=y
CONFIG_PHY_J721E_WIZ=y
CONFIG_TRACER_MAX_TRACE=y
CONFIG_SCD4X=y
CONFIG_RESET_SIMPLE=y
CONFIG_RV_MON_STALL=y
CONFIG_EEPROM_AT24=y
CONFIG_DEBUG_SHIRQ=y
CONFIG_AXP288_ADC=y
CONFIG_CRYPTO_CAST_COMMON=y
CONFIG_ENS160_I2C=y
CONFIG_USB_STORAGE_CYPRESS_ATACB=y
CONFIG_IIO_SIMPLE_DUMMY_BUFFER=y
CONFIG_BINARY_PRINTF=y
CONFIG_SCHED_MC=y
CONFIG_PHY_MTK_XSPHY=y
CONFIG_W1_SLAVE_DS250X=y
CONFIG_TEST_DIV64=y
CONFIG_COMPACTION=y
CONFIG_GCOV_KERNEL=y
CONFIG_INPUT_GPIO_BEEPER=y
CONFIG_THREAD_INFO_IN_TASK=y
CONFIG_FPGA_DFL_EMIF=y
CONFIG_QCOM_FALKOR_ERRATUM_1009=y
CONFIG_PHY_TEGRA194_P2U=y
CONFIG_HAVE_PV_STEAL_CLOCK_GEN=y
CONFIG_MHP_MEMMAP_ON_MEMORY=y
CONFIG_ZONE_DMA32=y
CONFIG_ARCH_HAS_LAZY_MMU_MODE=y
CONFIG_INV_MPU6050_I2C=y
CONFIG_TABLET_USB_HANWANG=y
CONFIG_LEDS_ST1202=y
CONFIG_ARCH_HAS_ELF_RANDOMIZE=y
CONFIG_ACORN_PARTITION_CUMANA=y
CONFIG_PINCTRL_GENERIC_MUX=y
CONFIG_SENSORS_F71805F=y
CONFIG_JUMP_LABEL=y
CONFIG_USB_LIBCOMPOSITE=y
CONFIG_NTB_TRANSPORT=y
CONFIG_PINCTRL_TEGRA=y
CONFIG_VT=y
CONFIG_ARM_TEGRA_DEVFREQ=y
CONFIG_HAVE_ARM_SMCCC_DISCOVERY=y
CONFIG_BRANCH_PROFILE_NONE=y
CONFIG_GPIB_NI_USB=y
CONFIG_HID_CHERRY=y
CONFIG_SERIAL_ALTERA_UART=y
CONFIG_MC3230=y
CONFIG_CPU_LITTLE_ENDIAN=y
CONFIG_CC_HAS_ASM_INLINE=y
CONFIG_MFD_BCM590XX=y
CONFIG_DEBUG_INFO_DWARF5=y
CONFIG_IR_MESON=y
CONFIG_SCSI_AIC94XX=y
CONFIG_REGULATOR_RT6190=y
CONFIG_MFD_MADERA=y
CONFIG_FIREWIRE=y
CONFIG_HWMON=y
CONFIG_ARCH_KEEP_MEMBLOCK=y
CONFIG_DMAPOOL_TEST=y
CONFIG_MEMORY_HOTPLUG=y
CONFIG_USB_SNP_CORE=y
CONFIG_INPUT_TWL4030_VIBRA=y
CONFIG_IIO_ST_MAGN_I2C_3AXIS=y
CONFIG_SENSORS_TPS25990=y
CONFIG_TEST_IDA=y
CONFIG_NVMEM_LAYOUT_ONIE_TLV=y
CONFIG_RTC_DRV_STK17TA8=y
CONFIG_SENSORS_PLI1209BC_REGULATOR=y
CONFIG_ALTERA_MBOX=y
CONFIG_PARPORT_PANEL=y
CONFIG_ARCH_SUPPORTS_ATOMIC_RMW=y
CONFIG_MQ_IOSCHED_KYBER=y
CONFIG_PCIE_DW_HOST=y
CONFIG_CRYPTO_LIB_SM3_ARCH=y
CONFIG_COMMON_CLK_MT6765_MIPI0BSYS=y
CONFIG_REGULATOR_PF8X00=y
CONFIG_SOLARIS_X86_PARTITION=y
CONFIG_NPCM7XX_KCS_IPMI_BMC=y
CONFIG_TSL2772=y
CONFIG_SERIAL_8250_FINTEK=y
CONFIG_SECURITY_LOCKDOWN_LSM=y
CONFIG_ARM64_CNP=y
CONFIG_ARCH_TEGRA=y
CONFIG_FRAME_POINTER=y
CONFIG_KEYBOARD_MPR121=y
CONFIG_SCHED_INFO=y
CONFIG_TRACE_MMIO_ACCESS=y
CONFIG_GPIO_PCF857X=y
CONFIG_LOCK_DEBUGGING_SUPPORT=y
CONFIG_I2C_HID_OF_GOODIX=y
CONFIG_REGULATOR_RASPBERRYPI_TOUCHSCREEN_V2=y
CONFIG_CRYPTO_SHA1=y
CONFIG_AD525X_DPOT_I2C=y
CONFIG_TOUCHSCREEN_ATMEL_MXT=y
CONFIG_LPC_ICH=y
CONFIG_SIOX=y
CONFIG_PM_DEVFREQ_EVENT=y
CONFIG_RPMSG_TTY=y
CONFIG_IRQ_UNIPHIER_AIDET=y
CONFIG_ARCH_MICROCHIP=y
CONFIG_CRYPTO_LIB_POLY1305=y
CONFIG_PM_WAKELOCKS_GC=y
CONFIG_TEST_POWER=y
CONFIG_RTC_DRV_M41T80=y
CONFIG_MFD_LOCHNAGAR=y
CONFIG_RESET_SUNXI=y
CONFIG_SCSI_SNIC=y
CONFIG_RV_HA_MONITOR=y
CONFIG_REGULATOR_MAX20411=y
CONFIG_SLUB_STATS=y
CONFIG_REGULATOR_MAX8649=y
CONFIG_STACKDEPOT_ALWAYS_INIT=y
CONFIG_AUDIT_ARCH_COMPAT_GENERIC=y
CONFIG_TEST_FREE_PAGES=y
CONFIG_HID_SONY=y
CONFIG_SENSORS_LOCHNAGAR=y
CONFIG_CHARGER_MANAGER=y
CONFIG_TOUCHSCREEN_USB_ZYTRONIC=y
CONFIG_NVDIMM_KEYS=y
CONFIG_SCSI_MPT3SAS=y
CONFIG_CRYPTO_KPP2=y
CONFIG_TOUCHSCREEN_PENMOUNT=y
CONFIG_PTP_1588_CLOCK_OPTIONAL=y
CONFIG_CRYPTO_AES_ARM64_BS=y
CONFIG_I2C_MESON=y
CONFIG_USB_GADGET_VERBOSE=y
CONFIG_RESET_MESON_COMMON=y
CONFIG_USB_GADGET_XILINX=y
CONFIG_USB_SERIAL_IR=y
CONFIG_TEGRA_ACONNECT=y
CONFIG_HWMON_DEBUG_CHIP=y
CONFIG_VIRTIO=y
CONFIG_GENERIC_NET_UTILS=y
CONFIG_PCIE_CADENCE_HOST=y
CONFIG_PINCTRL_OCELOT=y
CONFIG_PCIE_UNIPHIER_EP=y
CONFIG_KEY_DH_OPERATIONS=y
CONFIG_APPLE_SART=y
CONFIG_REGULATOR_DA9063=y
CONFIG_OPTEE=y
CONFIG_USB_SERIAL_WISHBONE=y
CONFIG_MAILBOX=y
CONFIG_SERIAL_MAX310X=y
CONFIG_ATOMIC64_SELFTEST=y
CONFIG_VFIO_PCI_CORE=y
CONFIG_SIOX_BUS_GPIO=y
CONFIG_TYPEC_WUSB3801=y
CONFIG_IRQ_MSI_IOMMU=y
CONFIG_EXTCON_USB_GPIO=y
CONFIG_SBITMAP=y
CONFIG_VFIO_CONTAINER=y
CONFIG_RAID_ATTRS=y
CONFIG_HW_RANDOM_TIMERIOMEM=y
CONFIG_NLS_CODEPAGE_861=y
CONFIG_PARPORT=y
CONFIG_CRYPTO_DEV_CCP=y
CONFIG_TWL4030_MADC=y
CONFIG_TICK_ONESHOT=y
CONFIG_ARM64_WORKAROUND_REPEAT_TLBI=y
CONFIG_MAX5821=y
CONFIG_USB_MUSB_DUAL_ROLE=y
CONFIG_SENSORS_LTC2978=y
CONFIG_CRYPTO_LIB_SHA256=y
CONFIG_PINCTRL_TEGRA_XUSB=y
CONFIG_RTC_DRV_S35390A=y
CONFIG_IOMMU_API=y
CONFIG_ARCH_HAS_DEBUG_WX=y
CONFIG_RTC_DRV_EFI=y
CONFIG_THERMAL_DEBUGFS=y
CONFIG_TOUCHSCREEN_EGALAX_SERIAL=y
CONFIG_PCI_PWRCTRL_TC9563=y
CONFIG_HSI_BOARDINFO=y
CONFIG_NVME_CORE=y
CONFIG_I2C_ROBOTFUZZ_OSIF=y
CONFIG_HID_CP2112=y
CONFIG_BMI270=y
CONFIG_COMMON_CLK_MT6765_MIPI2BSYS=y
CONFIG_SENSORS_MAX31760=y
CONFIG_SCSI_MPT2SAS=y
CONFIG_LEDS_BRIGHTNESS_HW_CHANGED=y
CONFIG_MTK_ADSP_IPC=y
CONFIG_BLK_DEV_RAM=y
CONFIG_ARCH_SUPPORTS_KEXEC_IMAGE_VERIFY_SIG=y
CONFIG_TOUCHSCREEN_BU21013=y
CONFIG_USB_LEGOTOWER=y
CONFIG_LKDTM=y
CONFIG_EXTCON_GPIO=y
CONFIG_ARM_SCMI_HAVE_SHMEM=y
CONFIG_TCG_ATMEL=y
CONFIG_DMA_NEED_SYNC=y
CONFIG_SENSORS_ADM1026=y
CONFIG_HAVE_CONTEXT_TRACKING_USER=y
CONFIG_SYSTEM_DATA_VERIFICATION=y
CONFIG_PHY_SUN50I_USB3=y
CONFIG_I3C_OR_I2C=y
CONFIG_INPUT_DRV2667_HAPTICS=y
CONFIG_COMMON_CLK_MT7622_AUDSYS=y
CONFIG_SERIAL_FSL_LINFLEXUART=y
CONFIG_PM=y
CONFIG_COMMON_CLK_MT8196_PEXTPSYS=y
CONFIG_PINCTRL_POLARFIRE_SOC=y
CONFIG_ARCH_SUPPORTS_KEXEC_FILE=y
CONFIG_CRYPTO_DEV_QAT_C62X=y
CONFIG_ARCH_EXYNOS=y
CONFIG_FSL_ERRATUM_A008585=y
CONFIG_ARCH_HAS_KCOV=y
CONFIG_REGULATOR_BD96801=y
CONFIG_TRACE_EVENT_INJECT=y
CONFIG_SCHED_TRACER=y
CONFIG_SENSORS_W83791D=y
CONFIG_LIST_HARDENED=y
CONFIG_MTK_DVFSRC=y
CONFIG_A11Y_BRAILLE_CONSOLE=y
CONFIG_PINCTRL_CS42L43=y
CONFIG_PHY_CADENCE_DPHY_RX=y
CONFIG_PHY_MESON_AXG_MIPI_DPHY=y
CONFIG_PCI_SYSCALL=y
CONFIG_OSNOISE_TRACER=y
CONFIG_USB_DWC2_DUAL_ROLE=y
CONFIG_EEPROM_IDT_89HPESX=y
CONFIG_CRYPTO_DEV_SAFEXCEL=y
CONFIG_IRQCHIP=y
CONFIG_USB_HCD_TEST_MODE=y
CONFIG_SENSORS_MAX20830=y
CONFIG_PINCTRL_MESON_AXG_PMX=y
CONFIG_GPIO_LATCH=y
CONFIG_RTC_DRV_DS3232=y
CONFIG_USB_SNP_UDC_PLAT=y
CONFIG_PM_OPP=y
CONFIG_KALLSYMS_ALL=y
CONFIG_MTK_DEVAPC=y
CONFIG_GENERIC_CPU_CACHE_MAINTENANCE=y
CONFIG_NLS_CODEPAGE_852=y
CONFIG_ARCH_SUPPORTS_SCHED_MC=y
CONFIG_TOUCHSCREEN_IMX6UL_TSC=y
CONFIG_CHARGER_PF1550=y
CONFIG_ZRAM_BACKEND_ZSTD=y
CONFIG_MFD_CS47L92=y
CONFIG_ARCH_K3=y
CONFIG_PCIE_DW_PLAT_EP=y
CONFIG_SCHEDSTATS=y
CONFIG_USB_F_SS_LB=y
CONFIG_TI_TMAG5273=y
CONFIG_DMA_NONCOHERENT_MMAP=y
CONFIG_COMMON_CLK_MT7622_HIFSYS=y
CONFIG_DEV_COREDUMP=y
CONFIG_DMARD09=y
CONFIG_SERIAL_PXA=y
CONFIG_TRACE_REMOTE=y
CONFIG_DEBUG_BUGVERBOSE_DETAILED=y
CONFIG_TREE_RCU=y
CONFIG_CC_NO_STRINGOP_OVERFLOW=y
CONFIG_COMMON_CLK_MT8173_IMGSYS=y
CONFIG_NEED_DMA_MAP_STATE=y
CONFIG_RC_CORE=y
CONFIG_LMP91000=y
CONFIG_RTC_DRV_88PM80X=y
CONFIG_SCSI_INIA100=y
CONFIG_MQ_IOSCHED_DEADLINE=y
CONFIG_SERIAL_MCTRL_GPIO=y
CONFIG_GENERIC_PINCTRL=y
CONFIG_GPIO_TEGRA=y
CONFIG_I2C_ATR=y
CONFIG_ARM64_EPAN=y
CONFIG_DM_VERITY=y
CONFIG_SENSORS_D1U74T=y
CONFIG_COMMON_CLK_MESON_CLKC_UTILS=y
CONFIG_RANDSTRUCT_NONE=y
CONFIG_HAVE_C_RECORDMCOUNT=y
CONFIG_CRYPTO_LRW=y
CONFIG_NLS_CODEPAGE_864=y
CONFIG_PHY_MTK_PCIE=y
CONFIG_SERIAL_SPRD=y
CONFIG_MFD_RT5120=y
CONFIG_REGULATOR_BD957XMUF=y
CONFIG_SENSORS_LTC4245=y
CONFIG_CRYPTO_BLOWFISH_COMMON=y
CONFIG_STK8BA50=y
CONFIG_TOUCHSCREEN_ADC=y
CONFIG_KERNEL_MODE_NEON=y
CONFIG_UPROBE_EVENTS=y
CONFIG_LOCK_SPIN_ON_OWNER=y
CONFIG_BLOCK_HOLDER_DEPRECATED=y
CONFIG_KMALLOC_PARTITION_RANDOM=y
CONFIG_PMBUS=y
CONFIG_MFD_INTEL_M10_BMC_CORE=y
CONFIG_BATTERY_MAX1720X=y
CONFIG_PM_GENERIC_DOMAINS_SLEEP=y
CONFIG_USB_LED_TRIG=y
CONFIG_PINCTRL_EXYNOS=y
CONFIG_ARCH_HAS_NMI_SAFE_THIS_CPU_OPS=y
CONFIG_TCG_TIS=y
CONFIG_TOUCHSCREEN_HYNITRON_CSTXXX=y
CONFIG_HSI=y
CONFIG_PINCTRL_TEGRA238=y
CONFIG_COMMON_CLK_A1_PERIPHERALS=y
CONFIG_SCSI_MPI3MR=y
CONFIG_BOARD_TPCI200=y
CONFIG_USB4_CONFIGFS=y
CONFIG_SX9360=y
CONFIG_TEGRA_CLK_DFLL=y
CONFIG_EFI_COCO_SECRET=y
CONFIG_MOXA_INTELLIO=y
CONFIG_EXTCON=y
CONFIG_COMMON_CLK_MESON_SCLK_DIV=y
CONFIG_HYPERV=y
CONFIG_NEED_TASKS_RCU=y
CONFIG_ARCH_PENSANDO=y
CONFIG_RTC_DRV_NTXEC=y
CONFIG_PCIEAER=y
CONFIG_HAVE_MOVE_PUD=y
CONFIG_LEDS_TLC591XX=y
CONFIG_BACKLIGHT_SKY81452=y
CONFIG_ARCH_SUPPORTS_PER_VMA_LOCK=y
CONFIG_IIO_BACKEND=y
CONFIG_SENSORS_ADM1025=y
CONFIG_SIMPLE_RING_BUFFER=y
CONFIG_TOUCHSCREEN_USB_ITM=y
CONFIG_DEBUG_WW_MUTEX_SLOWPATH=y
CONFIG_MEMORY_FAILURE=y
CONFIG_ARM64_PTR_AUTH=y
CONFIG_MHP_DEFAULT_ONLINE_TYPE_OFFLINE=y
CONFIG_DA280=y
CONFIG_W1_MASTER_UART=y
CONFIG_RCU_NEED_SEGCBLIST=y
CONFIG_AD7606_IFACE_PARALLEL=y
CONFIG_TIMER_PROBE=y
CONFIG_SENSORS_TMP464=y
CONFIG_COMMON_CLK_MT8183_MMSYS=y
CONFIG_MUX_ADG792A=y
CONFIG_ARM64_ERRATUM_1319367=y
CONFIG_MIN_HEAP=y
CONFIG_MFD_PF1550=y
CONFIG_FTRACE_SORT_STARTUP_TEST=y
CONFIG_IIO_SCMI=y
CONFIG_HID_THINGM=y
CONFIG_HID_NTI=y
CONFIG_UIO_MF624=y
CONFIG_USB_SERIAL_SAFE=y
CONFIG_I2C_KEMPLD=y
CONFIG_PCI_PWRCTRL=y
CONFIG_NVMEM_LAYOUT_SL28_VPD=y
CONFIG_VFIO_PCI_INTX=y
CONFIG_LEDS_TRIGGER_ACTIVITY=y
CONFIG_USB_DWC3_HAPS=y
CONFIG_MEN_Z188_ADC=y
CONFIG_PINCTRL_MTK_MOORE=y
CONFIG_BLK_DEV_SD=y
CONFIG_SENSORS_TPS53679=y
CONFIG_COMMON_CLK_SCMI=y
CONFIG_HAVE_MOD_ARCH_SPECIFIC=y
CONFIG_LEDS_USER=y
CONFIG_CHR_DEV_SCH=y
CONFIG_CRC32=y
CONFIG_PINCTRL=y
CONFIG_SERIAL_8250_PERICOM=y
CONFIG_REED_SOLOMON_TEST=y
CONFIG_APPLE_PMGR_PWRSTATE=y
CONFIG_COMMON_CLK_MT6765_MFGSYS=y
CONFIG_REGMAP=y
CONFIG_CRYPTO_HCTR2=y
CONFIG_VHOST_CROSS_ENDIAN_LEGACY=y
CONFIG_HSC030PA_I2C=y
CONFIG_IRQ_POLL=y
CONFIG_I2C_BOARDINFO=y
CONFIG_REGULATOR_USERSPACE_CONSUMER=y
CONFIG_QCOM_PMIC_PDCHARGER_ULOG=y
CONFIG_REGULATOR_LP3972=y
CONFIG_CRYPTO_TWOFISH_COMMON=y
CONFIG_PAGE_SIZE_64KB=y
CONFIG_ST_UVIS25=y
CONFIG_SENSORS_W83795=y
CONFIG_K3_THERMAL=y
CONFIG_TI_SCI_PROTOCOL=y
CONFIG_STACKTRACE_SUPPORT=y
CONFIG_RCU_STALL_COMMON=y
CONFIG_USB_SERIAL_OMNINET=y
CONFIG_TOUCHSCREEN_S6SY761=y
CONFIG_USB_OXU210HP_HCD=y
CONFIG_SI7005=y
CONFIG_LEDS_TCA6507=y
CONFIG_CHARLCD=y
CONFIG_SERIAL_RP2=y
CONFIG_SENSORS_LM95245=y
CONFIG_SENSORS_AXI_FAN_CONTROL=y
CONFIG_RESET_UNIPHIER_GLUE=y
CONFIG_GPIO_TPIC2810=y
CONFIG_APPLE_TUNABLE=y
CONFIG_USB_DWC3_GOOGLE=y
CONFIG_I2C_ALI1563=y
CONFIG_GENERIC_STRNLEN_USER=y
CONFIG_RTC_DRV_PL031=y
CONFIG_LIBNVDIMM=y
CONFIG_CONSOLE_TRANSLATIONS=y
CONFIG_MTK_CMDQ=y
CONFIG_ARCH_BINFMT_ELF_EXTRA_PHDRS=y
CONFIG_MFD_HI6421_PMIC=y
CONFIG_SLAB_MERGE_DEFAULT=y
CONFIG_RTC_DRV_TI_K3=y
CONFIG_DM_FLAKEY=y
CONFIG_MEMORY_ISOLATION=y
CONFIG_TEGRA_GMI=y
CONFIG_HAVE_KERNEL_ZSTD=y
CONFIG_MMA9551_CORE=y
CONFIG_PINCTRL_SUN8I_H3=y
CONFIG_SI1145=y
CONFIG_SCSI_AIC79XX=y
CONFIG_ARM64_RAS_EXTN=y
CONFIG_SENSEAIR_SUNRISE_CO2=y
CONFIG_SPLIT_PTE_PTLOCKS=y
CONFIG_CRC32_ARCH=y
CONFIG_KEYBOARD_IQS62X=y
CONFIG_NTFS_FS=y
CONFIG_USB_ARCH_HAS_HCD=y
CONFIG_UNIPHIER_SYSTEM_BUS=y
CONFIG_DMA_RESTRICTED_POOL=y
CONFIG_ZRAM_DEF_COMP_ZSTD=y
CONFIG_PCIE_MICROCHIP_HOST=y
CONFIG_USB_DWC3_OF_SIMPLE=y
CONFIG_INTERVAL_TREE=y
CONFIG_NLS_KOI8_U=y
CONFIG_MFD_TN48M_CPLD=y
CONFIG_SENSORS_NCT6775_CORE=y
CONFIG_NLS=y
CONFIG_ARCH_HAS_DEBUG_VM_PGTABLE=y
CONFIG_HOTPLUG_CORE_SYNC_DEAD=y
CONFIG_ARCH_SEATTLE=y
CONFIG_USB_SERIAL_IPAQ=y
CONFIG_ARM_GIC_V3=y
CONFIG_ARCH_WANTS_NO_INSTR=y
CONFIG_RAPIDIO_TSI721=y
CONFIG_MFD_SIMPLE_MFD_I2C=y
CONFIG_REGULATOR_TPS65023=y
CONFIG_TOOLS_SUPPORT_RELR=y
CONFIG_MFD_QNAP_MCU=y
CONFIG_USB_LEDS_TRIGGER_USBPORT=y
CONFIG_GENERIC_CSUM=y
CONFIG_LZ4_COMPRESS=y
CONFIG_COMMON_CLK_MT8183_VDECSYS=y
CONFIG_CRYPTO_LIB_CHACHA20POLY1305=y
CONFIG_IPMB_DEVICE_INTERFACE=y
CONFIG_USB_RAW_GADGET=y
CONFIG_BLK_DEV_IO_TRACE=y
CONFIG_DPOT_DAC=y
CONFIG_COMMON_CLK_MT6735_IMGSYS=y
CONFIG_RMI4_F03=y
CONFIG_KEYBOARD_TM2_TOUCHKEY=y
CONFIG_SENSORS_MC13783_ADC=y
CONFIG_CRYPTO_LZO=y
CONFIG_HAVE_IRQ_TIME_ACCOUNTING=y
CONFIG_CRYPTO_KRB5ENC=y
CONFIG_ENS160=y
CONFIG_CC_CAN_LINK=y
CONFIG_RTC_DRV_ARMADA38X=y
CONFIG_USB_G_SERIAL=y
CONFIG_USB_ULPI=y
CONFIG_SPARSEMEM_EXTREME=y
CONFIG_PINCTRL_OWL=y
CONFIG_QCOM_SPMI_VADC=y
CONFIG_GPIO_BD71815=y
CONFIG_ZRAM_TRACK_ENTRY_ACTIME=y
CONFIG_APPLE_MFI_FASTCHARGE=y
CONFIG_GPIO_WAVESHARE_DSI_TOUCH=y
CONFIG_RTC_DRV_BQ32K=y
CONFIG_HYPERV_VTL_MODE=y
CONFIG_LINEDISP=y
CONFIG_MCP9600=y
CONFIG_RMI4_F3A=y
CONFIG_HAVE_ARCH_KASAN_VMALLOC=y
CONFIG_CRYPTO_SIG=y
CONFIG_REGULATOR_ISL6271A=y
CONFIG_USB_SERIAL_SIERRAWIRELESS=y
CONFIG_USB_SERIAL_CONSOLE=y
CONFIG_COMMON_CLK_MT8195_VDECSYS=y
CONFIG_D3323AA=y
CONFIG_HOTPLUG_CORE_SYNC=y
CONFIG_CRYPTO_LIB_SHA3_ARCH=y
CONFIG_GENERIC_IDLE_POLL_SETUP=y
CONFIG_HOTPLUG_CPU=y
CONFIG_PINCTRL_MT7622=y
CONFIG_MFD_MAX77759=y
CONFIG_VHOST_ENABLE_FORK_OWNER_CONTROL=y
CONFIG_SOFTLOCKUP_DETECTOR=y
CONFIG_COMMON_CLK_MT6765_IMGSYS=y
CONFIG_KEXEC_CORE=y
CONFIG_PHY_MVEBU_A3700_COMPHY=y
CONFIG_ZSMALLOC=y
CONFIG_SPEAKUP_SYNTH_ACNTSA=y
CONFIG_HA_MON_EVENTS_ID=y
CONFIG_SCSI_3W_SAS=y
