CONFIG_MFD_STPMIC1=y
CONFIG_MARVELL_88X2222_PHY=y
CONFIG_EXYNOS_ADC=y
CONFIG_RV_MON_PAGEFAULT=y
CONFIG_CRYPTO_DEV_ATMEL_I2C=y
CONFIG_TCG_NSC=y
CONFIG_GNSS_UBX_SERIAL=y
CONFIG_ARCH_SUSPEND_POSSIBLE=y
CONFIG_MFD_SKY81452=y
CONFIG_COMMON_CLK_MT6797_VDECSYS=y
CONFIG_PCI_AARDVARK=y
CONFIG_NET_SCH_PRIO=y
CONFIG_8139CP=y
CONFIG_CLK_KAANAPALI_DISPCC=y
CONFIG_THERMAL_NETLINK=y
CONFIG_FW_LOADER_PAGED_BUF=y
CONFIG_PWM_IQS620A=y
CONFIG_ARM_SCMI_HAVE_MSG=y
CONFIG_PINCTRL_PISTACHIO=y
CONFIG_REGULATOR_RASPBERRYPI_TOUCHSCREEN_V2=y
CONFIG_DYNAMIC_FTRACE=y
CONFIG_PHY_EYEQ5_ETH=y
CONFIG_EXPORTFS=y
CONFIG_CRYPTO_DEV_PADLOCK=y
CONFIG_XZ_DEC=y
CONFIG_MFD_SEC_ACPM=y
CONFIG_SENSORS_AD7414=y
CONFIG_SENSORS_SG2042_MCU=y
CONFIG_X509_CERTIFICATE_PARSER=y
CONFIG_SYSC_RCAR=y
CONFIG_VSOCKETS=y
CONFIG_QCS_Q6SSTOP_404=y
CONFIG_COMPACTION=y
CONFIG_HAVE_BUILDTIME_MCOUNT_SORT=y
CONFIG_PATA_ALI=y
CONFIG_SENSORS_NCT6683=y
CONFIG_SUNPLUS_SP7021_INTC=y
CONFIG_SYSFS_SYSCALL=y
CONFIG_MICROCODE_DBG=y
CONFIG_EXTCON_RT8973A=y
CONFIG_RESET_TEGRA_BPMP=y
CONFIG_LEDS_PCA9532=y
CONFIG_PATA_SIL680=y
CONFIG_CRYPTO_WP512=y
CONFIG_ARM_CMN=y
CONFIG_SERIAL_SCCNXP_CONSOLE=y
CONFIG_SENSORS_UCD9000=y
CONFIG_UFS_DEBUG=y
CONFIG_CRYPTO_CCM=y
CONFIG_NLS_MAC_ICELAND=y
CONFIG_I2C_QUP=y
CONFIG_SM_GPUCC_8150=y
CONFIG_PINCTRL_SOPHGO_SG2042_OPS=y
CONFIG_USB_G_NOKIA=y
CONFIG_RENESAS_RZG2LWDT=y
CONFIG_REGULATOR_MAX77857=y
CONFIG_PHY_ST_SPEAR1310_MIPHY=y
CONFIG_JOYSTICK_TMDC=y
CONFIG_RZT2H_ADC=y
CONFIG_MTD_LPDDR=y
CONFIG_TCG_TIS_ST33ZP24=y
CONFIG_IPMI_KCS_BMC_CDEV_IPMI=y
CONFIG_IIO_TRIGGER=y
CONFIG_SERIAL_NONSTANDARD=y
CONFIG_XZ_DEC_ARM64=y
CONFIG_PINCTRL_PFC_R8A77960=y
CONFIG_ZRAM_BACKEND_DEFLATE=y
CONFIG_JOYSTICK_GAMECON=y
CONFIG_UBIFS_ATIME_SUPPORT=y
CONFIG_RTC_DRV_SD2405AL=y
CONFIG_CICADA_PHY=y
CONFIG_NLS_CODEPAGE_865=y
CONFIG_PATA_SCH=y
CONFIG_PINCTRL_PFC_R8A77970=y
CONFIG_PCIE_MEDIATEK=y
CONFIG_MFD_TPS65912_I2C=y
CONFIG_VFIO_PLATFORM_BASE=y
CONFIG_SDM_GCC_845=y
CONFIG_ARCH_HAS_CPU_RELAX=y
CONFIG_MTD_UBI_FASTMAP=y
CONFIG_USB_STORAGE_ISD200=y
CONFIG_USB_DWC3_XILINX=y
CONFIG_SOCK_RX_QUEUE_MAPPING=y
CONFIG_CHARGER_MAX8903=y
CONFIG_PHY_MVEBU_A38X_COMPHY=y
CONFIG_I2C_HIGHLANDER=y
CONFIG_SX9324=y
CONFIG_HOTPLUG_CORE_SYNC_FULL=y
CONFIG_CPU_SUP_AMD=y
CONFIG_SUN50I_A100_R_CCU=y
CONFIG_SYSTEM_DATA_VERIFICATION=y
CONFIG_MFD_TPS65912=y
CONFIG_DP83TD510_PHY=y
CONFIG_MFD_BCM590XX=y
CONFIG_T5403=y
CONFIG_DAVICOM_PHY=y
CONFIG_POWER_RESET_ODROID_GO_ULTRA_POWEROFF=y
CONFIG_VT_CONSOLE=y
CONFIG_LEDS_LP8864=y
CONFIG_MODIFY_LDT_SYSCALL=y
CONFIG_SAMPLE_VFS=y
CONFIG_FB_SYS_COPYAREA=y
CONFIG_MTK_MMSYS=y
CONFIG_GENERIC_CMOS_UPDATE=y
CONFIG_QSEMI_PHY=y
CONFIG_FB_IOMEM_HELPERS=y
CONFIG_GPIO_REALTEK_OTTO=y
CONFIG_MMU_GATHER_TABLE_FREE=y
CONFIG_DEBUG_VFS=y
CONFIG_LEDS_TRIGGER_CPU=y
CONFIG_PINCTRL_OCELOT=y
CONFIG_HW_RANDOM_PIC32=y
CONFIG_ARCH_MIGHT_HAVE_PC_PARPORT=y
CONFIG_CRYPTO_DEFLATE=y
CONFIG_HYPERV_NET=y
CONFIG_FSI_MASTER_AST_CF=y
CONFIG_MICROCODE_INITRD32=y
CONFIG_GENERIC_PHY_MIPI_DPHY=y
CONFIG_I3C=y
CONFIG_VIA_WDT=y
CONFIG_PAGE_POOL=y
CONFIG_X86_THERMAL_VECTOR=y
CONFIG_ARCH_CLOCKSOURCE_INIT=y
CONFIG_PINCTRL_MT7988=y
CONFIG_MXC_CLK=y
CONFIG_DAX=y
CONFIG_PHY_HI6220_USB=y
CONFIG_CC_HAS_RETURN_THUNK=y
CONFIG_CRYPTO_KPP=y
CONFIG_TEST_RHASHTABLE=y
CONFIG_RAID_ATTRS=y
CONFIG_RTC_DRV_RP5C01=y
CONFIG_WLAN_VENDOR_REALTEK=y
CONFIG_CRYPTO_ECC=y
CONFIG_PMBUS=y
CONFIG_NXP_PIT_TIMER=y
CONFIG_I2C_EXYNOS5=y
CONFIG_MFD_PF1550=y
CONFIG_MTD_SBC_GXX=y
CONFIG_PHY_QCOM_EUSB2_REPEATER=y
CONFIG_LD_IS_BFD=y
CONFIG_I2C_SLAVE_TESTUNIT=y
CONFIG_TYPEC_MUX_PS883X=y
CONFIG_PCIEPORTBUS=y
CONFIG_JFFS2_FS_XATTR=y
CONFIG_I2C_MUX=y
CONFIG_NLS_MAC_GAELIC=y
CONFIG_ZSTD_COMMON=y
CONFIG_RESET_K230=y
CONFIG_MTD_NAND_ECC_MXIC=y
CONFIG_WLAN_VENDOR_SILABS=y
CONFIG_PHY_MVEBU_A3700_UTMI=y
CONFIG_CRC_OPTIMIZATIONS=y
CONFIG_MPC5200_WDT=y
CONFIG_BLK_DEV_BSG_COMMON=y
CONFIG_MFD_TPS65219=y
CONFIG_LV0104CS=y
CONFIG_CRYPTO_ECHAINIV=y
CONFIG_USB_DWC3_GENERIC_PLAT=y
CONFIG_NATIONAL_PHY=y
CONFIG_EEPROM_EE1004=y
CONFIG_QUOTACTL=y
CONFIG_LEDS_S2M_RGB=y
CONFIG_IPQ_GCC_5210=y
CONFIG_FAILOVER=y
CONFIG_SATA_HOST=y
CONFIG_COMMON_CLK_MT6765_MIPI2BSYS=y
CONFIG_AD3552R_HS=y
CONFIG_MPLS=y
CONFIG_HAVE_RSEQ=y
CONFIG_CLKSRC_SAMSUNG_PWM=y
CONFIG_BLOCK_HOLDER_DEPRECATED=y
CONFIG_FTRACE_SELFTEST=y
CONFIG_TSL2772=y
CONFIG_AK8974=y
CONFIG_AMD_PHY=y
CONFIG_PINCTRL_TEGRA20=y
CONFIG_BNGE=y
CONFIG_SENSORS_DS1621=y
CONFIG_BLK_SED_OPAL=y
CONFIG_CRYPTO_HASH=y
CONFIG_SERIAL_8250_EXAR=y
CONFIG_TOUCHSCREEN_IPROC=y
CONFIG_TCG_VTPM_PROXY=y
CONFIG_RZN1_ADC=y
CONFIG_FB_CARMINE=y
CONFIG_SAMPLE_TPS6594_PFSM=y
CONFIG_REGULATOR_MAX77802=y
CONFIG_PINCTRL_PIC32=y
CONFIG_I2C_ALGOPCF=y
CONFIG_CUSE=y
CONFIG_PWM_SL28CPLD=y
CONFIG_ATMEL_SSC=y
CONFIG_GENERIC_IOMAP=y
CONFIG_COMMON_CLK_MT2712=y
CONFIG_EXPORTFS_BLOCK_OPS=y
CONFIG_SCSI_AIC79XX=y
CONFIG_GPIO_TC3589X=y
CONFIG_DELL_SMBIOS=y
CONFIG_EROFS_FS_ZIP_ACCEL=y
CONFIG_USB_CONFIGFS_F_HID=y
CONFIG_NET_VENDOR_WANGXUN=y
CONFIG_JOYSTICK_GF2K=y
CONFIG_PINCTRL_EIC7700=y
CONFIG_STIH407_RESET=y
CONFIG_SM_GCC_6350=y
CONFIG_MDIO_XGENE=y
CONFIG_COMMON_CLK_MT8196_MFGCFG=y
CONFIG_PATA_ATIIXP=y
CONFIG_LEDS_TPS6131X=y
CONFIG_HID_PID=y
CONFIG_CPU_FREQ_GOV_ATTR_SET=y
CONFIG_RTC_DRV_MV=y
CONFIG_CRYPTO_LIB_GF128HASH=y
CONFIG_OPEN_DICE=y
CONFIG_BATTERY_UG3105=y
CONFIG_POWER_RESET_BRCMSTB=y
CONFIG_STMMAC_ETH=y
CONFIG_INIT_ON_ALLOC_DEFAULT_ON=y
CONFIG_RENESAS_I3C=y
CONFIG_CNIC=y
CONFIG_DP83TG720_PHY=y
CONFIG_X86_PLATFORM_DRIVERS_UNIWILL=y
CONFIG_LOCKDEP_SUPPORT=y
CONFIG_GPIO_TPS65218=y
CONFIG_SENSORS_MP2975=y
CONFIG_LIBWX=y
CONFIG_RTC_DRV_RV3029C2=y
CONFIG_FEALNX=y
CONFIG_GPIO_LOONGSON1=y
CONFIG_RESET_MESON=y
CONFIG_TXGBE=y
CONFIG_PWM_RENESAS_TPU=y
CONFIG_GPIO_VISCONTI=y
CONFIG_RTC_DRV_DS1742=y
CONFIG_FUNCTION_ALIGNMENT_16B=y
CONFIG_VHOST=y
CONFIG_BMG160_I2C=y
CONFIG_HOTPLUG_SMT=y
CONFIG_HP206C=y
CONFIG_IOMMU_DEFAULT_PASSTHROUGH=y
CONFIG_TOUCHSCREEN_IQS7211=y
CONFIG_I2C_PIIX4=y
CONFIG_HAVE_ARCH_MMAP_RND_BITS=y
CONFIG_KHADAS_MCU_FAN_THERMAL=y
CONFIG_XFS_LIVE_HOOKS=y
CONFIG_REGULATOR_ACT8945A=y
CONFIG_CRYPTO_DH_RFC7919_GROUPS=y
CONFIG_GPIO_VIPERBOARD=y
CONFIG_SENSORS_ADP1050=y
CONFIG_HYPERV_TIMER=y
CONFIG_USB_EHCI_HCD_PLATFORM=y
CONFIG_USB_EHCI_HCD_ORION=y
CONFIG_ARCH_WANT_FRAME_POINTERS=y
CONFIG_RTC_DRV_RV3028=y
CONFIG_HAVE_ARCH_SECCOMP=y
CONFIG_SENSORS_PIM4328=y
CONFIG_BACKLIGHT_ARCXCNN=y
CONFIG_SMSC_PHY=y
CONFIG_EXYNOS_IOMMU=y
CONFIG_USB_STORAGE_USBAT=y
CONFIG_REGULATOR_QCOM_LABIBB=y
CONFIG_RTC_DRV_MT7622=y
CONFIG_PHY_STARFIVE_JH7110_PCIE=y
CONFIG_TRACEPOINTS=y
CONFIG_MS5611=y
CONFIG_CRYPTO_LIB_GF128MUL=y
CONFIG_BOOT_PRINTK_DELAY=y
CONFIG_SENSORS_Q54SJ108A2=y
CONFIG_TYPEC_ANX7411=y
CONFIG_SENSORS_MP2856=y
CONFIG_STMMAC_LIBPCI=y
CONFIG_IIO_SIMPLE_DUMMY=y
CONFIG_PINCTRL_TEGRA234=y
CONFIG_LEDS_PWM=y
CONFIG_PHY_BRCM_SATA=y
CONFIG_PINCTRL_MT8183=y
CONFIG_I2C_TINY_USB=y
CONFIG_QCOM_PDR_MSG=y
CONFIG_I2C_RCAR=y
CONFIG_HANGCHECK_TIMER=y
CONFIG_HTS221=y
CONFIG_CRYPTO_CHACHA20=y
CONFIG_RTC_DRV_RX8010=y
CONFIG_HAVE_USER_RETURN_NOTIFIER=y
CONFIG_PINCTRL_STARFIVE_JH7100=y
CONFIG_SPACEMIT_K1_CCU=y
CONFIG_SM_VIDEOCC_8150=y
CONFIG_MMA9551=y
CONFIG_PCS_LYNX=y
CONFIG_ZSMALLOC=y
CONFIG_RD_LZO=y
CONFIG_RTC_DRV_MXC_V2=y
CONFIG_VFIO_VIRQFD=y
CONFIG_IIO_KFIFO_BUF=y
CONFIG_SM_DISPCC_8250=y
CONFIG_IIO_BACKEND=y
CONFIG_PINCTRL_IMX6SL=y
CONFIG_SENSORS_CHIPCAP2=y
CONFIG_PINCTRL_PFC_SH7722=y
CONFIG_RTC_DRV_RX8111=y
CONFIG_MQ_IOSCHED_DEADLINE=y
CONFIG_UIO_CIF=y
CONFIG_MARVELL_PHY=y
CONFIG_ATA_FORCE=y
CONFIG_RAVB=y
CONFIG_PPS_CLIENT_LDISC=y
CONFIG_PCIE_STM32_HOST=y
CONFIG_SC_LPASSCC_8280XP=y
CONFIG_W1_SLAVE_DS2408=y
CONFIG_CLKBLD_I8253=y
CONFIG_COMMON_CLK_MT6735=y
CONFIG_LITEX_SOC_CONTROLLER=y
CONFIG_PCIE_ESWIN=y
CONFIG_PHY_BERLIN_SATA=y
CONFIG_GPIO_IT87=y
CONFIG_SM_CAMCC_8250=y
CONFIG_BCM87XX_PHY=y
CONFIG_ARCH_USE_QUEUED_SPINLOCKS=y
CONFIG_MTD_MAP_BANK_WIDTH_2=y
CONFIG_SM_VIDEOCC_8550=y
CONFIG_RESET_IMX8MP_AUDIOMIX=y
CONFIG_ARCH_HAS_SYNC_CORE_BEFORE_USERMODE=y
CONFIG_PWM_INTEL_LGM=y
CONFIG_LEDS_TRIGGER_CAMERA=y
CONFIG_IMX2_WDT=y
CONFIG_IRQ_POLL=y
CONFIG_MTD_ONENAND_GENERIC=y
CONFIG_CRYPTO_XCBC=y
CONFIG_RTC_DRV_RV3032=y
CONFIG_IOMMU_API=y
CONFIG_VIRTIO_MMIO=y
CONFIG_IPMI_KCS_BMC=y
CONFIG_GENERIC_EARLY_IOREMAP=y
CONFIG_ARM_BRCMSTB_AVS_CPUFREQ=y
CONFIG_REGULATOR_FIXED_VOLTAGE=y
CONFIG_UBIFS_FS_LZO=y
CONFIG_COMMON_CLK_MT8167=y
CONFIG_MPILIB=y
CONFIG_VIRTIO_IOMMU=y
CONFIG_FAT_DEFAULT_UTF8=y
CONFIG_COMPAT_VDSO=y
CONFIG_STACKTRACE=y
CONFIG_MFD_RC5T583=y
CONFIG_CLK_RV1126=y
CONFIG_XZ_DEC_POWERPC=y
CONFIG_REGULATOR_LTC3589=y
CONFIG_SENSORS_LTC2991=y
CONFIG_W1_MASTER_AMD_AXI=y
CONFIG_EP93XX_ADC=y
CONFIG_TI_SOC_THERMAL=y
CONFIG_I2C_XILINX=y
CONFIG_PINCTRL_SH_PFC=y
CONFIG_RTC_DRV_S5M=y
CONFIG_NET_SCH_MULTIQ=y
CONFIG_QCOM_QSEECOM=y
CONFIG_W1_MASTER_DS2490=y
CONFIG_SENSORS_W83627EHF=y
CONFIG_F2FS_FS_SECURITY=y
CONFIG_X86_LEGACY_VM86=y
CONFIG_HW_RANDOM_XGENE=y
CONFIG_FB_CORE=y
CONFIG_REGMAP_IRQ=y
CONFIG_PHY_QCOM_QMP_USB_LEGACY=y
CONFIG_USB_MICROTEK=y
CONFIG_MTD_CFI_I1=y
CONFIG_BLOCK=y
CONFIG_TEST_IDA=y
CONFIG_X86_EXTENDED_PLATFORM=y
CONFIG_YENTA_RICOH=y
CONFIG_TI_EMIF=y
CONFIG_EDAC_SUPPORT=y
CONFIG_IRSD200=y
CONFIG_NIU=y
CONFIG_RAID6_PQ_ARCH=y
CONFIG_EROFS_FS_PAGE_CACHE_SHARE=y
CONFIG_REGULATOR_RTQ2208=y
CONFIG_SCSI_SCAN_ASYNC=y
CONFIG_W1_SLAVE_THERM=y
CONFIG_TSM_MEASUREMENTS=y
CONFIG_PATA_MARVELL=y
CONFIG_SERIAL_CORE_CONSOLE=y
CONFIG_DLHL60D=y
CONFIG_REGULATOR_88PM800=y
CONFIG_XFS_RT=y
CONFIG_ARM_MEDIATEK_CPUFREQ_HW=y
CONFIG_REGULATOR_TPS65023=y
CONFIG_JFFS2_ZLIB=y
CONFIG_BCM7120_L2_IRQ=y
CONFIG_MFD_SI476X_CORE=y
CONFIG_TOUCHSCREEN_IMX6UL_TSC=y
CONFIG_COMMON_CLK_APPLE_NCO=y
CONFIG_IMX93_ADC=y
CONFIG_SUN50I_H6_CCU=y
CONFIG_SECURITYFS=y
CONFIG_PCI_LOCKLESS_CONFIG=y
CONFIG_USB_U_SERIAL=y
CONFIG_I2C_MUX_GPMUX=y
CONFIG_PROC_CPU_RESCTRL=y
CONFIG_COMMON_CLK_SI5341=y
CONFIG_X86_CPU_RESCTRL=y
CONFIG_I2C_AXXIA=y
CONFIG_YENTA_O2=y
CONFIG_SECURITY_IPE=y
CONFIG_SECTION_MISMATCH_WARN_ONLY=y
CONFIG_FB_SYSMEM_HELPERS=y
CONFIG_USB_CONFIGFS_RNDIS=y
CONFIG_PWM_VISCONTI=y
CONFIG_PINCTRL_TEGRA=y
CONFIG_PCS_RZN1_MIIC=y
CONFIG_COMMON_CLK_MT8186_CAMSYS=y
CONFIG_PINCTRL_MT6765=y
CONFIG_ADC_BATTERY_HELPER=y
CONFIG_DAMON_DEBUG_SANITY=y
CONFIG_CRC_CCITT=y
CONFIG_SENSORS_IBMAEM=y
CONFIG_BACKLIGHT_ATMEL_LCDC=y
CONFIG_BCMA_DEBUG=y
CONFIG_PATA_CMD640_PCI=y
CONFIG_CRYPTO_TWOFISH=y
CONFIG_SM_DISPCC_8450=y
CONFIG_USB_CDNS_SUPPORT=y
CONFIG_X86_DISABLED_FEATURE_USER_SHSTK=y
CONFIG_CC10001_ADC=y
CONFIG_TAHVO_USB=y
CONFIG_QUEUED_RWLOCKS=y
CONFIG_X86_REQUIRED_FEATURE_ALWAYS=y
CONFIG_AS21XXX_PHY=y
CONFIG_INTERCONNECT=y
CONFIG_PHY_FSL_SAMSUNG_HDMI_PHY=y
CONFIG_SHMEM=y
CONFIG_MADERA_IRQ=y
CONFIG_PERF_EVENTS_AMD_BRS=y
CONFIG_PPPOX=y
CONFIG_GPIO_ZYNQ=y
CONFIG_PINCTRL_IMX27=y
CONFIG_LEDS_CLASS_FLASH=y
CONFIG_UACCE=y
CONFIG_SRAM=y
CONFIG_ASPEED_BT_IPMI_BMC=y
CONFIG_INTEL_TH_STH=y
CONFIG_RTC_DRV_DS1685_FAMILY=y
CONFIG_PHY_DM816X_USB=y
CONFIG_LLC=y
CONFIG_NGBEVF=y
CONFIG_IIO_SW_DEVICE=y
CONFIG_CRYPTO_HASH_INFO=y
CONFIG_RTC_DRV_HYM8563=y
CONFIG_CRYPTO_RMD160=y
CONFIG_INPUT_MATRIXKMAP=y
CONFIG_SYSFB_SIMPLEFB=y
CONFIG_RENESAS_RZA1_IRQC=y
CONFIG_VIDEO=y
CONFIG_SENSORS_STTS751=y
CONFIG_SL28CPLD_WATCHDOG=y
CONFIG_USB_MON=y
CONFIG_X86_CPUID=y
CONFIG_PHY_SAMSUNG_UFS=y
CONFIG_SENSORS_ISL29018=y
CONFIG_SENSORS_OCC=y
CONFIG_PATA_SERVERWORKS=y
CONFIG_SCSI_PMCRAID=y
CONFIG_SENSORS_SL28CPLD=y
CONFIG_IRQSOFF_TRACER=y
CONFIG_SCSI_SPI_ATTRS=y
CONFIG_RT_MUTEXES=y
CONFIG_MTD_CFI=y
CONFIG_CLK_RV1126B=y
CONFIG_PHY_CADENCE_SALVO=y
CONFIG_USB_F_EEM=y
CONFIG_MFD_SMPRO=y
CONFIG_REALTEK_PHY=y
CONFIG_SERIAL_LITEUART_CONSOLE=y
CONFIG_OF_RESOLVE=y
CONFIG_PINCTRL_PFC_R8A7793=y
CONFIG_IDLE_PAGE_TRACKING=y
CONFIG_IIO_DUMMY_EVGEN=y
CONFIG_IIO_ST_MAGN_I2C_3AXIS=y
CONFIG_SYSC_R8A774C0=y
CONFIG_VGA_CONSOLE=y
CONFIG_COMMON_CLK_PXA1908=y
CONFIG_GNSS=y
CONFIG_MICROCHIP_T1S_PHY=y
CONFIG_COMMON_CLK_STM32MP257=y
CONFIG_PINCTRL_PFC_R8A779G0=y
CONFIG_SC_DISPCC_8280XP=y
CONFIG_COMMON_CLK_MT8173=y
CONFIG_HAS_IOMEM=y
CONFIG_ARCH_SUPPORTS_UPROBES=y
CONFIG_HAVE_MOD_ARCH_SPECIFIC=y
CONFIG_EXYNOS_CLKOUT=y
CONFIG_X86_DISABLED_FEATURE_IBT=y
CONFIG_XFS_ONLINE_REPAIR=y
CONFIG_SC_VIDEOCC_7180=y
CONFIG_EXFAT_FS=y
CONFIG_HAVE_KERNEL_LZMA=y
CONFIG_COMMON_CLK_MT6779_MFGCFG=y
CONFIG_LEDS_GROUP_MULTICOLOR=y
CONFIG_CRYPTO_DEV_FSL_CAAM_RNG_API=y
CONFIG_LEDS_TI_LMU_COMMON=y
