CONFIG_TIME_NS_VDSO=n
CONFIG_JBD2=n
CONFIG_NET_VENDOR_WANGXUN=n
CONFIG_PCI_HOST_GENERIC=n
CONFIG_SOC_STARFIVE=n
CONFIG_KERNFS=n
CONFIG_INET_TUNNEL=n
CONFIG_XZ_DEC_POWERPC=n
CONFIG_NET_9P_FD=n
CONFIG_SLUB_DEBUG=n
CONFIG_CRYPTO_CTS=n
CONFIG_GENERIC_SMP_IDLE_THREAD=n
CONFIG_ZSTD_COMMON=n
CONFIG_WATCHDOG_CORE=n
CONFIG_REGMAP_SPI=n
CONFIG_ARCH_HAS_UBSAN=n
CONFIG_DWMAC_SOPHGO=n
CONFIG_MEDIA_SUPPORT_FILTER=n
CONFIG_RD_XZ=n
CONFIG_HAVE_ARCH_THREAD_STRUCT_WHITELIST=n
CONFIG_NET_DEVLINK=n
CONFIG_ARCH_HAS_GIGANTIC_PAGE=n
CONFIG_MTD_CFI_NOSWAP=n
CONFIG_RISCV_PMU=n
CONFIG_REALTEK_PHY=n
CONFIG_VDSO_GETRANDOM=n
CONFIG_RISCV_ISA_ZICBOM=n
CONFIG_FB_CFB_FILLRECT=n
CONFIG_MEMFD_CREATE=n
CONFIG_ARCH_HAS_SYNC_DMA_FOR_DEVICE=n
CONFIG_RING_BUFFER=n
CONFIG_ERRATA_THEAD=n
CONFIG_GENERIC_PINMUX_FUNCTIONS=n
CONFIG_PGTABLE_HAS_HUGE_LEAVES=n
CONFIG_AS_HAS_INSN=n
CONFIG_ACPI_GENERIC_GSI=n
CONFIG_DM_BIO_PRISON=n
CONFIG_SYSCTL_ARCH_UNALIGN_ALLOW=n
CONFIG_NF_LOG_ARP=n
CONFIG_MTD_MAP_BANK_WIDTH_4=n
CONFIG_DRM_EXEC=n
CONFIG_CRYPTO_MANAGER=n
CONFIG_ARCH_SUPPORTS_UPROBES=n
CONFIG_DRM_GPUVM=n
CONFIG_PROC_PAGE_MONITOR=n
CONFIG_CRYPTO_CTR=n
CONFIG_USB_EHCI_PCI=n
CONFIG_GPIO_GENERIC=n
CONFIG_DRM_CLIENT_DEFAULT_FBDEV=n
CONFIG_HAVE_KERNEL_GZIP=n
CONFIG_HAVE_PERF_REGS=n
CONFIG_ARCH_SOPHGO=n
CONFIG_PHY_PACKAGE=n
CONFIG_COMMON_CLK_ESWIN=n
CONFIG_MUTEX_SPIN_ON_OWNER=n
CONFIG_WLAN_VENDOR_QUANTENNA=n
CONFIG_HOTPLUG_CORE_SYNC_FULL=n
CONFIG_RD_BZIP2=n
CONFIG_GPIO_SIFIVE=n
CONFIG_NET_VENDOR_MYRI=n
CONFIG_LTO_NONE=n
CONFIG_HAVE_RETHOOK=n
CONFIG_IRQCHIP=n
CONFIG_OF_KOBJ=n
CONFIG_MFD_AXP20X_I2C=n
CONFIG_CLK_STARFIVE_JH7110_STG=n
CONFIG_MTD_MAP_BANK_WIDTH_1=n
CONFIG_CGROUP_NET_CLASSID=n
CONFIG_NVMEM_LAYOUTS=n
CONFIG_BACKLIGHT_CLASS_DEVICE=n
CONFIG_RCU_STALL_COMMON=n
CONFIG_ERRATA_THEAD_CMO=n
CONFIG_TIMER_OF=n
CONFIG_HAVE_ARCH_HUGE_VMAP=n
CONFIG_MQ_IOSCHED_KYBER=n
CONFIG_SERIAL_8250_DWLIB=n
CONFIG_FIXED_PHY=n
CONFIG_TIMER_PROBE=n
CONFIG_ARCH_DMA_DEFAULT_COHERENT=n
CONFIG_DECOMPRESS_GZIP=n
CONFIG_SCSI_COMMON=n
CONFIG_CLK_STARFIVE_JH7100=n
CONFIG_DEBUG_FS=n
CONFIG_HAVE_ARCH_GET_SECUREBOOT=n
CONFIG_ARCH_SUNXI=n
CONFIG_WIRELESS=n
CONFIG_HAVE_RSEQ=n
CONFIG_ARCH_HAS_PREEMPT_LAZY=n
CONFIG_USB_CDNSP_PCI=n
CONFIG_COMMON_CLK=n
CONFIG_NFS_V4_0=n
CONFIG_RESET_K230=n
CONFIG_BLK_CGROUP=n
CONFIG_ELF_CORE=n
CONFIG_NET_VENDOR_CORTINA=n
CONFIG_PINCTRL_SUN20I_D1=n
CONFIG_ERRATA_THEAD_GHOSTWRITE=n
CONFIG_HAVE_SAMPLE_FTRACE_DIRECT=n
CONFIG_INITRAMFS_PRESERVE_MTIME=n
CONFIG_USB_PCI=n
CONFIG_SUNXI_SRAM=n
CONFIG_BUFFER_HEAD=n
CONFIG_HOTPLUG_PARALLEL=n
CONFIG_SPI_CADENCE_QUADSPI=n
CONFIG_POSIX_CPU_TIMERS_TASK_WORK=n
CONFIG_FS_IOMAP=n
CONFIG_VHOST_MENU=n
CONFIG_ARCH_HAS_PTE_SPECIAL=n
CONFIG_ARCH_SUPPORTS_KEXEC_PURGATORY=n
CONFIG_PCIE_FU740=n
CONFIG_GENERIC_IRQ_IPI_MUX=n
CONFIG_RD_GZIP=n
CONFIG_STARFIVE_JHB100_INTC=n
CONFIG_LEGACY_PTYS=n
CONFIG_ARCH_SIFIVE=n
CONFIG_BINFMT_SCRIPT=n
CONFIG_POWER_SUPPLY_HWMON=n
CONFIG_WLAN_VENDOR_BROADCOM=n
CONFIG_GENERIC_CPU_VULNERABILITIES=n
CONFIG_SECURITY_NETWORK=n
CONFIG_GENERIC_SYSCALL=n
CONFIG_SPACEMIT_CCU=n
CONFIG_USB_OHCI_HCD=n
CONFIG_FS_STACK=n
CONFIG_OVERLAY_FS=n
CONFIG_HRTIMER_REARM_DEFERRED=n
CONFIG_HAVE_PERF_EVENTS=n
CONFIG_NET_VENDOR_TEHUTI=n
CONFIG_INET_TCP_DIAG=n
CONFIG_NO_HZ_COMMON=n
CONFIG_MEMCG=n
CONFIG_RISCV_APLIC=n
CONFIG_RUNTIME_KERNEL_TESTING_MENU=n
CONFIG_ARCH_HAS_FORTIFY_SOURCE=n
CONFIG_ACPI=n
CONFIG_NET_VENDOR_ALACRITECH=n
CONFIG_THERMAL_DEFAULT_GOV_STEP_WISE=n
CONFIG_CONTEXT_SWITCH_TRACER=n
CONFIG_GENERIC_PINCONF=n
CONFIG_VIRTIO_NET=n
CONFIG_DRM_SCHED=n
CONFIG_HAVE_FUNCTION_GRAPH_FREGS=n
CONFIG_NVME_CORE=n
CONFIG_LOCKD=n
CONFIG_VGA_ARB=n
CONFIG_ARCH_OPTIONAL_KERNEL_RWX_DEFAULT=n
CONFIG_PM_CLK=n
CONFIG_TASKS_TRACE_RCU=n
CONFIG_MEDIA_PLATFORM_DRIVERS=n
CONFIG_DMA_BOUNCE_UNALIGNED_KMALLOC=n
CONFIG_DEVTMPFS_MOUNT=n
CONFIG_WLAN_VENDOR_MEDIATEK=n
CONFIG_TOOLCHAIN_HAS_ZBC=n
CONFIG_IP_VS=n
CONFIG_INTEGRITY_AUDIT=n
CONFIG_PCIEASPM_DEFAULT=n
CONFIG_REGMAP=n
CONFIG_SND_PCM=n
CONFIG_SERIO_SERPORT=n
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO=n
CONFIG_MMIOWB=n
CONFIG_NET_VENDOR_CISCO=n
CONFIG_DMA_ENGINE=n
CONFIG_ARCH_USE_MEMTEST=n
CONFIG_PCIE_STARFIVE_HOST=n
CONFIG_OF_ADDRESS=n
CONFIG_THERMAL_GOV_STEP_WISE=n
CONFIG_NFS_V4_2_SSC_HELPER=n
CONFIG_ARCH_WANT_HUGE_PMD_SHARE=n
CONFIG_NET_VENDOR_BROADCOM=n
CONFIG_PINCTRL_SOPHGO_SG2002=n
CONFIG_SLAB_OBJ_EXT=n
CONFIG_SERIAL_8250_DMA=n
CONFIG_FUTEX=n
CONFIG_NET_VENDOR_CADENCE=n
CONFIG_ACPI_THERMAL_LIB=n
CONFIG_VIRTIO_BLK=n
CONFIG_MMC_SDHCI_CADENCE=n
CONFIG_RESET_SPACEMIT_K1=n
CONFIG_HAVE_KCSAN_COMPILER=n
CONFIG_ARCH_ANDES=n
CONFIG_PM_DEVFREQ=n
CONFIG_NF_CONNTRACK_FTP=n
CONFIG_USB_F_SERIAL=n
CONFIG_BLOCK=n
CONFIG_CGROUP_HUGETLB=n
CONFIG_TOOLCHAIN_HAS_ZBKB=n
CONFIG_USB_F_ECM=n
CONFIG_USB_CONFIGFS_RNDIS=n
CONFIG_SUN20I_D1_R_CCU=n
CONFIG_PNFS_BLOCK=n
CONFIG_STACKDEPOT=n
CONFIG_CAN_DEV=n
CONFIG_SOFTIRQ_ON_OWN_STACK=n
CONFIG_CRYPTO_AKCIPHER=n
CONFIG_NET_VENDOR_SAMSUNG=n
CONFIG_ARCH_USE_MEMREMAP_PROT=n
CONFIG_CC_NO_STRINGOP_OVERFLOW=n
CONFIG_NET_VENDOR_RDC=n
CONFIG_INIT_STACK_ALL_ZERO=n
CONFIG_CGROUP_BPF=n
CONFIG_GENERIC_IRQ_SHOW_LEVEL=n
CONFIG_CGROUP_SCHED=n
CONFIG_SOCK_RX_QUEUE_MAPPING=n
CONFIG_SERIAL_8250_PCILIB=n
CONFIG_RISCV_ISA_V_PREEMPTIVE=n
CONFIG_CRYPTO_LIB_BLAKE2B=n
CONFIG_TOOLCHAIN_HAS_ZBB=n
CONFIG_I2C_HID=n
CONFIG_GENERIC_IRQ_SHOW=n
CONFIG_CRYPTO_KPP=n
CONFIG_BLK_CGROUP_RWSTAT=n
CONFIG_PWRSEQ_SIMPLE=n
CONFIG_GOLDFISH=n
CONFIG_BALLOON=n
CONFIG_NVMEM_SYSFS=n
CONFIG_NET_VENDOR_ASIX=n
CONFIG_ARCH_RV64I=n
CONFIG_NET_VENDOR_NETRONOME=n
CONFIG_TOOLCHAIN_NEEDS_EXPLICIT_ZICSR_ZIFENCEI=n
CONFIG_SERIAL_8250=n
CONFIG_MODULES_USE_ELF_RELA=n
CONFIG_MEMREGION=n
CONFIG_RISCV_MISALIGNED=n
CONFIG_CRYPTO_ENGINE=n
CONFIG_SPI_SPACEMIT_K1=n
CONFIG_NET_VENDOR_CHELSIO=n
CONFIG_UCS2_STRING=n
CONFIG_ARCH_HAS_STRICT_KERNEL_RWX=n
CONFIG_DRM_NOUVEAU_BACKLIGHT=n
CONFIG_CGROUPS=n
CONFIG_NO_HZ_IDLE=n
CONFIG_PCIE_ULTRARISC=n
CONFIG_OF=n
CONFIG_CRYPTO_LIB_AES_CBC_MACS=n
CONFIG_ARCH_SELECT_MEMORY_MODEL=n
CONFIG_CRYPTO_USER_API=n
CONFIG_STACKPROTECTOR_STRONG=n
CONFIG_NET_VENDOR_SIS=n
CONFIG_GENERIC_CALIBRATE_DELAY=n
CONFIG_USB_XHCI_HCD=n
CONFIG_CRYPTO_CBC=n
CONFIG_USB_CONFIGFS_F_FS=n
CONFIG_ISO9660_FS=n
CONFIG_IP_NF_IPTABLES=n
CONFIG_HAVE_GENERIC_VDSO=n
CONFIG_SND_SOC_WM8978=n
CONFIG_SPI_PL022=n
CONFIG_HWMON=n
CONFIG_DRM_CLIENT_SETUP=n
CONFIG_CONTEXT_TRACKING_IDLE=n
CONFIG_CRC_OPTIMIZATIONS=n
CONFIG_HAVE_ARCH_VMAP_STACK=n
CONFIG_MPILIB=n
CONFIG_TICK_CPU_ACCOUNTING=n
CONFIG_USB_U_SERIAL=n
CONFIG_WLAN_VENDOR_MICROCHIP=n
CONFIG_SND_SOC_JH7110_PWMDAC=n
CONFIG_CPU_THERMAL=n
CONFIG_CLK_STARFIVE_JH7100_AUDIO=n
CONFIG_NLS_CODEPAGE_437=n
CONFIG_TRACE_CLOCK=n
CONFIG_MODULE_UNLOAD=n
CONFIG_NET_VENDOR_ALIBABA=n
CONFIG_MTD_SPI_NOR_SWP_DISABLE_ON_VOLATILE=n
CONFIG_VIDEO_DEV=n
CONFIG_CPU_FREQ_GOV_COMMON=n
CONFIG_HAVE_LD_DEAD_CODE_DATA_ELIMINATION=n
CONFIG_PER_VMA_LOCK=n
CONFIG_NET_VENDOR_ARC=n
CONFIG_SPACEMIT_K1_CCU=n
CONFIG_POWER_RESET_SYSCON_POWEROFF=n
CONFIG_DRM_NOUVEAU_SIL164=n
CONFIG_NLATTR=n
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE_PUD=n
CONFIG_IPVLAN_L3S=n
CONFIG_CC_HAS_ASM_INLINE=n
CONFIG_RISCV_ISA_C=n
CONFIG_CRYPTO_SKCIPHER=n
CONFIG_PHY_SPACEMIT_K1_PCIE=n
CONFIG_RAID6_PQ_BENCHMARK=n
CONFIG_WLAN_VENDOR_ATH=n
CONFIG_FB_CFB_IMAGEBLIT=n
CONFIG_DRM_SUN8I_MIXER=n
CONFIG_SERIAL_CORE=n
CONFIG_ERRATA_THEAD_MAE=n
CONFIG_NETFILTER_XTABLES=n
CONFIG_ACPI_PPTT=n
CONFIG_ARCH_SUPPORTS_LTO_CLANG=n
CONFIG_ACPI_MCFG=n
CONFIG_FB=n
CONFIG_NET_FAILOVER=n
CONFIG_MIGRATION=n
CONFIG_HZ_250=n
CONFIG_IRQ_STACKS=n
CONFIG_DIMLIB=n
CONFIG_CDROM=n
CONFIG_RISCV_APLIC_MSI=n
CONFIG_NET_SOCK_MSG=n
CONFIG_PM_OPP=n
