CONFIG_HAVE_PREEMPT_DYNAMIC=n
CONFIG_VT=n
CONFIG_CPUFREQ_ARCH_CUR_FREQ=n
CONFIG_MODULES=n
CONFIG_X86_ACPI_CPUFREQ=n
CONFIG_EXCLUSIVE_SYSTEM_RAM=n
CONFIG_BINFMT_SCRIPT=n
CONFIG_ARCH_HAS_DEBUG_VIRTUAL=n
CONFIG_FIRMWARE_TABLE=n
CONFIG_X86_REQUIRED_FEATURE_XMM2=n
CONFIG_SCSI_PROC_FS=n
CONFIG_BINFMT_MISC=n
CONFIG_HAVE_UNWIND_USER_FP=n
CONFIG_ARCH_WANTS_CLOCKSOURCE_READ_INLINE=n
CONFIG_EFI_ESRT=n
CONFIG_LDISC_AUTOLOAD=n
CONFIG_NET_EMATCH=n
CONFIG_PERF_EVENTS_AMD_UNCORE=n
CONFIG_CRYPTO_HASH_INFO=n
CONFIG_NET_VENDOR_MICROCHIP=n
CONFIG_WLAN_VENDOR_INTERSIL=n
CONFIG_SPARSEMEM_EXTREME=n
CONFIG_ARCH_WANT_COMPAT_IPC_PARSE_VERSION=n
CONFIG_NET_VENDOR_HUAWEI=n
CONFIG_NEED_PER_CPU_EMBED_FIRST_CHUNK=n
CONFIG_X86_VERBOSE_BOOTUP=n
CONFIG_SND_HDA_HWDEP=n
CONFIG_I8253_LOCK=n
CONFIG_CRYPTO_AEAD=n
CONFIG_NET_VENDOR_SUN=n
CONFIG_IA32_FEAT_CTL=n
CONFIG_WATCHDOG_HANDLE_BOOT_ENABLED=n
CONFIG_MMU=n
CONFIG_GENERIC_PCI_IOMAP=n
CONFIG_X86_DISABLED_FEATURE_SEV_SNP=n
CONFIG_USB_SUPPORT=n
CONFIG_PREEMPT_RCU=n
CONFIG_NFS_FS=n
CONFIG_ARCH_SUPPORTS_SCHED_MC=n
CONFIG_MD_BITMAP=n
CONFIG_NET_VENDOR_AMD=n
CONFIG_NET_VENDOR_ALACRITECH=n
CONFIG_SECCOMP_FILTER=n
CONFIG_X86_REQUIRED_FEATURE_NOPL=n
CONFIG_HAVE_PAGE_SIZE_4KB=n
CONFIG_CPU_IDLE=n
CONFIG_ARCH_SUPPORTS_NUMA_BALANCING=n
CONFIG_HAVE_USER_RETURN_NOTIFIER=n
CONFIG_X86_HAVE_PAE=n
CONFIG_SOUND=n
CONFIG_NETFILTER_XT_MATCH_STATE=n
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO_BARE=n
CONFIG_CRASH_RESERVE=n
CONFIG_THERMAL_GOV_STEP_WISE=n
CONFIG_IP_PIMSM_V2=n
CONFIG_HAVE_ALIGNED_STRUCT_PAGE=n
CONFIG_ACPI_BATTERY=n
CONFIG_ARCH_HAS_FORTIFY_SOURCE=n
CONFIG_XXHASH=n
CONFIG_ATA=n
CONFIG_ARCH_SUPPORTS_LTO_CLANG=n
CONFIG_NFS_COMMON=n
CONFIG_ARCH_USE_CMPXCHG_LOCKREF=n
CONFIG_WLAN_VENDOR_ATH=n
CONFIG_AS_HAS_NON_CONST_ULEB128=n
CONFIG_MOUSE_PS2_SMBUS=n
CONFIG_NET_VENDOR_EZCHIP=n
CONFIG_PCI_PRI=n
CONFIG_CRYPTO_CCM=n
CONFIG_HPET_EMULATE_RTC=n
CONFIG_DECOMPRESS_LZMA=n
CONFIG_XZ_DEC_X86=n
CONFIG_ARCH_HAS_STRICT_MODULE_RWX=n
CONFIG_ETHTOOL_NETLINK=n
CONFIG_I2C_SMBUS=n
CONFIG_IRQ_DOMAIN_HIERARCHY=n
CONFIG_HAVE_CMPXCHG_DOUBLE=n
CONFIG_NEED_DMA_MAP_STATE=n
CONFIG_KALLSYMS=n
CONFIG_ARCH_SUPPORTS_PAGE_TABLE_CHECK=n
CONFIG_DM_MIRROR=n
CONFIG_PT_RECLAIM=n
CONFIG_ARCH_HAS_PTDUMP=n
CONFIG_XZ_DEC_SPARC=n
CONFIG_NFS_V3_ACL=n
CONFIG_ARCH_HAS_DEBUG_VM_PGTABLE=n
CONFIG_NLS=n
CONFIG_SYSCTL_EXCEPTION_TRACE=n
CONFIG_NET_IP_TUNNEL=n
CONFIG_KVM_GUEST=n
CONFIG_X86_REQUIRED_FEATURE_CMOV=n
CONFIG_CRYPTO_AEAD2=n
CONFIG_INPUT_EVDEV=n
CONFIG_TMPFS_POSIX_ACL=n
CONFIG_ZISOFS=n
CONFIG_UTS_NS=n
CONFIG_STACKPROTECTOR_STRONG=n
CONFIG_IP_PNP_DHCP=n
CONFIG_ARCH_CONFIGURES_CPU_MITIGATIONS=n
CONFIG_ARCH_HAS_SYSCALL_WRAPPER=n
CONFIG_X86_EXTENDED_PLATFORM=n
CONFIG_NET_VENDOR_GOOGLE=n
CONFIG_X86_BOOTPARAM_MEMORY_CORRUPTION_CHECK=n
CONFIG_TICK_CPU_ACCOUNTING=n
CONFIG_HUGETLBFS=n
CONFIG_BLK_DEV_WRITE_MOUNTED=n
CONFIG_MMCONF_FAM10H=n
CONFIG_PTDUMP=n
CONFIG_TRACE_IRQFLAGS_NMI_SUPPORT=n
CONFIG_SERIO=n
CONFIG_COMPAT_32BIT_TIME=n
CONFIG_SND_USB=n
CONFIG_FWNODE_MDIO=n
CONFIG_COMPAT_FOR_U64_ALIGNMENT=n
CONFIG_CGROUP_SCHED=n
CONFIG_SND_INTEL_NHLT=n
CONFIG_IOSF_MBI=n
CONFIG_VDSO_GETRANDOM=n
CONFIG_ARCH_HAS_DEBUG_WX=n
CONFIG_ARCH_USE_QUEUED_RWLOCKS=n
CONFIG_HAVE_ARCH_SECCOMP=n
CONFIG_X86_16BIT=n
CONFIG_ARCH_MIGHT_HAVE_ACPI_PDC=n
CONFIG_ZLIB_INFLATE=n
CONFIG_XZ_DEC_POWERPC=n
CONFIG_FUTEX=n
CONFIG_SPLIT_PMD_PTLOCKS=n
CONFIG_ARCH_USE_QUEUED_SPINLOCKS=n
CONFIG_PRINTK=n
CONFIG_XFRM_ESP=n
CONFIG_SECTION_MISMATCH_WARN_ONLY=n
CONFIG_SERIAL_8250_EXAR=n
CONFIG_ARCH_SUSPEND_POSSIBLE=n
CONFIG_ZLIB_DEFLATE=n
CONFIG_HAVE_NOINSTR_VALIDATION=n
CONFIG_HAVE_GCC_PLUGINS=n
CONFIG_PROC_EVENTS=n
CONFIG_NET_VENDOR_MICROSOFT=n
CONFIG_HAVE_SAMPLE_FTRACE_DIRECT_MULTI=n
CONFIG_HAVE_KPROBES_ON_FTRACE=n
CONFIG_MACINTOSH_DRIVERS=n
CONFIG_KEXEC=n
CONFIG_ARCH_USES_HIGH_VMA_FLAGS=n
CONFIG_NET_VENDOR_MELLANOX=n
CONFIG_ARCH_HAS_CACHE_LINE_SIZE=n
CONFIG_PROC_PID_ARCH_STATUS=n
CONFIG_CRYPTO_SIG2=n
CONFIG_ARCH_SUPPORTS_CRASH_HOTPLUG=n
CONFIG_AMD_NODE=n
CONFIG_PCI=n
CONFIG_FW_CACHE=n
CONFIG_NETFILTER_XT_TARGET_CONNSECMARK=n
CONFIG_SERIAL_8250_MANY_PORTS=n
CONFIG_VMAP_PFN=n
CONFIG_NF_DEFRAG_IPV6=n
CONFIG_ARCH_HAS_ADD_PAGES=n
CONFIG_X86_KERNEL_IBT=n
CONFIG_INTERVAL_TREE=n
CONFIG_ACPI_MDIO=n
CONFIG_HID_PETALYNX=n
CONFIG_USB_PRINTER=n
CONFIG_NETFILTER_SKIP_EGRESS=n
CONFIG_GCC10_NO_ARRAY_BOUNDS=n
CONFIG_RFKILL=n
CONFIG_BLK_DEV_BSG_COMMON=n
CONFIG_SECURITY_SELINUX_DEVELOP=n
CONFIG_PHY_PACKAGE=n
CONFIG_LEGACY_VSYSCALL_XONLY=n
CONFIG_HARDLOCKUP_CHECK_TIMESTAMP=n
CONFIG_RANDOMIZE_KSTACK_OFFSET=n
CONFIG_UPROBES=n
CONFIG_HOTPLUG_CORE_SYNC_FULL=n
CONFIG_ARCH_SUPPORTS_LTO_CLANG_THIN=n
CONFIG_SERIO_LIBPS2=n
CONFIG_PROC_PAGE_MONITOR=n
CONFIG_PROC_VMCORE=n
CONFIG_MMU_GATHER_RCU_TABLE_FREE=n
CONFIG_CRYPTO_CTR=n
CONFIG_SND=n
CONFIG_AGP_AMD64=n
CONFIG_VIRTIO_DMA_SHARED_BUFFER=n
CONFIG_IPV6_SIT=n
CONFIG_TASK_DELAY_ACCT=n
CONFIG_ACPI_PLATFORM_PROFILE=n
CONFIG_E1000=n
CONFIG_SYNC_FILE=n
CONFIG_HOTPLUG_PCI=n
CONFIG_CRC32=n
CONFIG_VIRTIO_PCI_LIB_LEGACY=n
CONFIG_MOUSE_PS2_SYNAPTICS=n
CONFIG_NETFILTER_XT_TARGET_LOG=n
CONFIG_PROC_KCORE=n
CONFIG_PANTHERLORD_FF=n
CONFIG_X86_DISABLED_FEATURE_XENPV=n
CONFIG_PKCS7_MESSAGE_PARSER=n
CONFIG_NET_VENDOR_BROADCOM=n
CONFIG_HAVE_PV_STEAL_CLOCK_GEN=n
CONFIG_BLK_RQ_ALLOC_TIME=n
CONFIG_CRYPTO_MANAGER=n
CONFIG_VGA_CONSOLE=n
CONFIG_KPROBES=n
CONFIG_PM_SLEEP_DEBUG=n
CONFIG_HAVE_ARCH_KASAN_VMALLOC=n
CONFIG_NET_EGRESS=n
CONFIG_BLK_DEV_DM=n
CONFIG_HIBERNATE_CALLBACKS=n
CONFIG_ACPI_BGRT=n
CONFIG_CRYPTO_LIB_ARC4=n
CONFIG_HAVE_ARCH_KFENCE=n
CONFIG_ARCH_SUPPORTS_MEMORY_FAILURE=n
CONFIG_LOCALVERSION_AUTO=n
CONFIG_USB_OHCI_HCD=n
CONFIG_X86_DISABLED_FEATURE_SGX=n
CONFIG_PROC_SYSCTL=n
CONFIG_SCHEDSTATS=n
CONFIG_ARCH_WANTS_THP_SWAP=n
CONFIG_ARCH_HAS_MEM_ENCRYPT=n
CONFIG_IRQ_MSI_LIB=n
CONFIG_SHMEM=n
CONFIG_GCC_ASM_GOTO_OUTPUT_BROKEN=n
CONFIG_ARCH_HAS_SYNC_CORE_BEFORE_USERMODE=n
CONFIG_POSIX_CPU_TIMERS_TASK_WORK=n
CONFIG_MOUSE_PS2=n
CONFIG_PCI_LOCKLESS_CONFIG=n
CONFIG_ARCH_HAS_CPU_ATTACK_VECTORS=n
CONFIG_NET_VENDOR_SOCIONEXT=n
CONFIG_CRYPTO_LIB_GF128HASH_ARCH=n
CONFIG_BLK_CGROUP_IOLATENCY=n
CONFIG_VT_CONSOLE=n
CONFIG_LOCKD=n
CONFIG_HAVE_SYSCALL_TRACEPOINTS=n
CONFIG_HID=n
CONFIG_HAVE_KCSAN_COMPILER=n
CONFIG_NEED_TASKS_RCU=n
CONFIG_REALTEK_PHY=n
CONFIG_UNWIND_USER=n
CONFIG_NET_VENDOR_RDC=n
CONFIG_NET_SCH_FIFO=n
CONFIG_ARCH_SUPPORTS_KEXEC_PURGATORY=n
CONFIG_FS_IOMAP=n
CONFIG_AGP=n
CONFIG_HAVE_OBJTOOL_MCOUNT=n
CONFIG_SPARSE_IRQ=n
CONFIG_XZ_DEC_ARMTHUMB=n
CONFIG_HDMI=n
CONFIG_RTC_INTF_PROC=n
CONFIG_HOTPLUG_PARALLEL=n
CONFIG_HRTIMER_REARM_DEFERRED=n
CONFIG_MEMFD_CREATE=n
CONFIG_CARDBUS=n
CONFIG_X86_NEED_RELOCS=n
CONFIG_SYSCTL=n
CONFIG_DM_ZERO=n
CONFIG_PNP_DEBUG_MESSAGES=n
CONFIG_X86_REQUIRED_FEATURE_PGE=n
CONFIG_FONT_AUTOSELECT=n
CONFIG_EEEPC_LAPTOP=n
CONFIG_ACPI_THERMAL_LIB=n
CONFIG_ARCH_SPARSEMEM_DEFAULT=n
CONFIG_GENERIC_CPU_AUTOPROBE=n
CONFIG_HAVE_POSIX_CPU_TIMERS_TASK_WORK=n
CONFIG_NFS_V4_0=n
CONFIG_VMAP_STACK=n
CONFIG_LOCKD_V4=n
CONFIG_MITIGATION_RETHUNK=n
CONFIG_HAVE_LIVEPATCH=n
CONFIG_X86_REQUIRED_FEATURE_FPU=n
CONFIG_X86_DISABLED_FEATURE_LAM=n
CONFIG_GENERIC_PENDING_IRQ=n
CONFIG_WMI_BMOF=n
CONFIG_NF_DEFRAG_IPV4=n
CONFIG_ACPI_VIDEO=n
CONFIG_EDAC_SUPPORT=n
CONFIG_EXT4_FS=n
CONFIG_SERIAL_8250_DWLIB=n
CONFIG_ASYMMETRIC_KEY_TYPE=n
CONFIG_X86_DISABLED_FEATURE_K6_MTRR=n
CONFIG_CRC_OPTIMIZATIONS=n
CONFIG_CPU_RMAP=n
CONFIG_UNION_FIND=n
CONFIG_CC_HAS_AUTO_VAR_INIT_PATTERN=n
CONFIG_HAVE_ARCH_COMPAT_MMAP_BASES=n
CONFIG_8139TOO_PIO=n
CONFIG_CRYPTO_SIG=n
CONFIG_FAT_FS=n
CONFIG_HAVE_KPROBES=n
CONFIG_DRM_BUDDY=n
CONFIG_ACPI_PROCESSOR_CSTATE=n
CONFIG_CC_HAS_NO_PROFILE_FN_ATTR=n
CONFIG_IRQ_FORCED_THREADING=n
CONFIG_PNP=n
CONFIG_PADATA=n
CONFIG_EFIVAR_FS=n
CONFIG_ZSTD_COMMON=n
CONFIG_NET_VENDOR_WIZNET=n
CONFIG_ARCH_HAS_ELFCORE_COMPAT=n
CONFIG_HAVE_ARCH_TRACEHOOK=n
CONFIG_MUTEX_SPIN_ON_OWNER=n
CONFIG_GENERIC_BUG=n
CONFIG_MODULES_TREE_LOOKUP=n
