CONFIG_NO_HZ_COMMON=n
CONFIG_NETFS_SUPPORT=n
CONFIG_NET_VENDOR_INTEL=n
CONFIG_DEBUG_BUGVERBOSE=n
CONFIG_NF_LOG_IPV6=n
CONFIG_NOP_TRACER=n
CONFIG_DYNAMIC_SIGFRAME=n
CONFIG_INTEL_TCC=n
CONFIG_UCS2_STRING=n
CONFIG_ARCH_SELECT_MEMORY_MODEL=n
CONFIG_XARRAY_MULTI=n
CONFIG_LZ4_DECOMPRESS=n
CONFIG_HAVE_FUNCTION_GRAPH_FREGS=n
CONFIG_NF_NAT_FTP=n
CONFIG_HAVE_FTRACE_GRAPH_FUNC=n
CONFIG_MULTIUSER=n
CONFIG_CC_HAS_RETURN_THUNK=n
CONFIG_X86_EXTENDED_PLATFORM=n
CONFIG_CRYPTO_GCM=n
CONFIG_SERIAL_8250_DMA=n
CONFIG_SGL_ALLOC=n
CONFIG_IP_MULTIPLE_TABLES=n
CONFIG_NET_VENDOR_SYNOPSYS=n
CONFIG_AGP_INTEL=n
CONFIG_THERMAL_DEFAULT_GOV_STEP_WISE=n
CONFIG_ARCH_HAS_SET_MEMORY=n
CONFIG_SCSI=n
CONFIG_SERIAL_CORE_CONSOLE=n
CONFIG_MTRR=n
CONFIG_HAVE_KERNEL_XZ=n
CONFIG_ARCH_HAS_CPU_CACHE_INVALIDATE_MEMREGION=n
CONFIG_CRYPTO_SIG=n
CONFIG_SELECT_MEMORY_MODEL=n
CONFIG_SCREEN_INFO=n
CONFIG_MOUSE_PS2_LOGIPS2PP=n
CONFIG_FS_IOMAP=n
CONFIG_IP_PNP=n
CONFIG_CFG80211_USE_KERNEL_REGDB_KEYS=n
CONFIG_YENTA=n
CONFIG_HAVE_MMIOTRACE_SUPPORT=n
CONFIG_HAVE_GCC_PLUGINS=n
CONFIG_PAGE_SIZE_LESS_THAN_64KB=n
CONFIG_CRYPTO_LIB_GF128HASH=n
CONFIG_CC_HAS_IBT=n
CONFIG_NET_VENDOR_ATHEROS=n
CONFIG_COREDUMP=n
CONFIG_BLK_DEBUG_FS=n
CONFIG_ARCH_HAS_CPU_FINALIZE_INIT=n
CONFIG_WLAN_VENDOR_INTEL=n
CONFIG_DRM_I915=n
CONFIG_VIRTIO=n
CONFIG_HAVE_IOREMAP_PROT=n
CONFIG_AUDITSYSCALL=n
CONFIG_ARCH_MAY_HAVE_PC_FDC=n
CONFIG_HID_SAMSUNG=n
CONFIG_ARCH_MIGHT_HAVE_ACPI_PDC=n
CONFIG_GLOB=n
CONFIG_SND_INTEL_NHLT=n
CONFIG_INPUT_KEYBOARD=n
CONFIG_UTS_NS=n
CONFIG_ATA=n
CONFIG_BITREVERSE=n
CONFIG_VGA_ARB=n
CONFIG_HIBERNATION_COMP_LZO=n
CONFIG_ACPI_REV_OVERRIDE_POSSIBLE=n
CONFIG_CRYPTO_LIB_UTILS=n
CONFIG_MOUSE_PS2_ALPS=n
CONFIG_SND_PCM=n
CONFIG_RELAY=n
CONFIG_ARCH_HAS_PARANOID_L1D_FLUSH=n
CONFIG_ARCH_HAS_DEBUG_VIRTUAL=n
CONFIG_FLATMEM_MANUAL=n
CONFIG_LDISC_AUTOLOAD=n
CONFIG_ARCH_SUPPORTS_HUGETLBFS=n
CONFIG_ARCH_WANTS_DYNAMIC_TASK_STRUCT=n
CONFIG_E1000E=n
CONFIG_EFIVAR_FS=n
CONFIG_INET6_AH=n
CONFIG_CC_HAS_NO_PROFILE_FN_ATTR=n
CONFIG_ARCH_HAS_CACHE_LINE_SIZE=n
CONFIG_CRYPTO_MANAGER=n
CONFIG_ZSTD_COMMON=n
CONFIG_NF_DEFRAG_IPV4=n
CONFIG_SCHED_SMT=n
CONFIG_IP_MULTICAST=n
CONFIG_HAVE_SYSCALL_TRACEPOINTS=n
CONFIG_IOSF_MBI=n
CONFIG_SATA_HOST=n
CONFIG_X86_PKG_TEMP_THERMAL=n
CONFIG_ARCH_USE_CMPXCHG_LOCKREF=n
CONFIG_ARCH_WANT_LD_ORPHAN_WARN=n
CONFIG_HAVE_NMI=n
CONFIG_CRYPTO_LIB_SHA1=n
CONFIG_SLAB_MERGE_DEFAULT=n
CONFIG_MICROCODE_INITRD32=n
CONFIG_AUDIT=n
CONFIG_FWNODE_MDIO=n
CONFIG_MITIGATION_TAA=n
CONFIG_UNION_FIND=n
CONFIG_FUNCTION_ALIGNMENT_4B=n
CONFIG_CPU_IDLE_GOV_MENU=n
CONFIG_ACPI_BGRT=n
CONFIG_BRANCH_PROFILE_NONE=n
CONFIG_HOTPLUG_CPU=n
CONFIG_PCI_LABEL=n
CONFIG_CDROM=n
CONFIG_TASK_XACCT=n
CONFIG_BLK_CGROUP=n
CONFIG_SERIO_LIBPS2=n
CONFIG_ARCH_SUPPORTS_KEXEC=n
CONFIG_BLK_CGROUP_IOCOST=n
CONFIG_NET_VENDOR_CHELSIO=n
CONFIG_EFI_CUSTOM_SSDT_OVERLAYS=n
CONFIG_NET_TULIP=n
CONFIG_VM_EVENT_COUNTERS=n
CONFIG_DRM_TTM=n
CONFIG_KCMP=n
CONFIG_ARCH_HAS_MEMBARRIER_SYNC_CORE=n
CONFIG_BPF=n
CONFIG_CPU_SUP_HYGON=n
CONFIG_HAVE_KERNEL_LZ4=n
CONFIG_GENERIC_GETTIMEOFDAY=n
CONFIG_PATA_OLDPIIX=n
CONFIG_X86_DISABLED_FEATURE_SGX=n
CONFIG_SND_SEQ_HRTIMER_DEFAULT=n
CONFIG_MITIGATION_TSA=n
CONFIG_PREVENT_FIRMWARE_BUILD=n
CONFIG_DMI=n
CONFIG_CGROUP_PIDS=n
CONFIG_MAGIC_SYSRQ=n
CONFIG_IP_PNP_DHCP=n
CONFIG_WLAN_VENDOR_INTERSIL=n
CONFIG_ASN1=n
CONFIG_CC_NO_ARRAY_BOUNDS=n
CONFIG_MIGRATION=n
CONFIG_ARCH_USE_BUILTIN_BSWAP=n
CONFIG_INPUT_TABLET=n
CONFIG_MOUSE_PS2_SYNAPTICS=n
CONFIG_SERIAL_NONSTANDARD=n
CONFIG_CC_NO_STRINGOP_OVERFLOW=n
CONFIG_NET_VENDOR_BROADCOM=n
CONFIG_PROC_PAGE_MONITOR=n
CONFIG_YENTA_O2=n
CONFIG_ARCH_SUPPORTS_SCHED_MC=n
CONFIG_NEED_PER_CPU_PAGE_FIRST_CHUNK=n
CONFIG_USB_EHCI_TT_NEWSCHED=n
CONFIG_X86_REQUIRED_FEATURE_FPU=n
CONFIG_INPUT_LEDS=n
CONFIG_GENERIC_STRNCPY_FROM_USER=n
CONFIG_WERROR=n
CONFIG_SLUB_DEBUG=n
CONFIG_AMD_NB=n
CONFIG_MMU_LAZY_TLB_REFCOUNT=n
CONFIG_EFI=n
CONFIG_USB_NET_DRIVERS=n
CONFIG_USB_PRINTER=n
CONFIG_PNP=n
CONFIG_RANDOMIZE_KSTACK_OFFSET=n
CONFIG_SERIAL_8250_PCI=n
CONFIG_PCIEASPM=n
CONFIG_NETFILTER_NETLINK_LOG=n
CONFIG_DRM_GEM_SHMEM_HELPER=n
CONFIG_CLKSRC_I8253=n
CONFIG_HAVE_UNSTABLE_SCHED_CLOCK=n
CONFIG_GENERIC_NET_UTILS=n
CONFIG_HAVE_HARDLOCKUP_DETECTOR_PERF=n
CONFIG_X86_DISABLED_FEATURE_RETHUNK=n
CONFIG_SND_VERBOSE_PROCFS=n
CONFIG_GENERIC_ENTRY=n
CONFIG_FLATMEM=n
CONFIG_SND_USB=n
CONFIG_SERIAL_EARLYCON=n
CONFIG_CRYPTO_LIB_AES_ARCH=n
CONFIG_GPIOLIB_LEGACY=n
CONFIG_ARCH_WANT_BATCHED_UNMAP_TLB_FLUSH=n
CONFIG_NET_IP_TUNNEL=n
CONFIG_X86_ACPI_CPUFREQ=n
CONFIG_DEBUG_KERNEL=n
CONFIG_BLOCK_HOLDER_DEPRECATED=n
CONFIG_GENERIC_IRQ_MIGRATION=n
CONFIG_WLAN_VENDOR_ADMTEK=n
CONFIG_IRQ_WORK=n
CONFIG_AMD_NODE=n
CONFIG_XZ_DEC=n
CONFIG_HAVE_ARCH_WITHIN_STACK_FRAMES=n
CONFIG_TIME_NS=n
CONFIG_IOMMU_API=n
CONFIG_EFI_RUNTIME_MAP=n
CONFIG_X86_MSR=n
CONFIG_ACPI_VIDEO=n
CONFIG_KPROBE_EVENTS=n
CONFIG_CPU_SUP_CENTAUR=n
CONFIG_VIRTUALIZATION=n
CONFIG_SND_HDA_I915=n
CONFIG_MAC80211_RC_MINSTREL=n
CONFIG_VHOST_ENABLE_FORK_OWNER_CONTROL=n
CONFIG_BLK_DEV_MD=n
CONFIG_DRM_DISPLAY_DP_HELPER=n
CONFIG_PATA_AMD=n
CONFIG_HAVE_OPTPROBES=n
CONFIG_CRYPTO_SKCIPHER=n
CONFIG_PCI_LOCKLESS_CONFIG=n
CONFIG_RFKILL=n
CONFIG_HALTPOLL_CPUIDLE=n
CONFIG_DM_ZERO=n
CONFIG_SND_VMASTER=n
CONFIG_TREE_RCU=n
CONFIG_KALLSYMS=n
CONFIG_PNFS_FILE_LAYOUT=n
CONFIG_X86_CHECK_BIOS_CORRUPTION=n
CONFIG_ACPI_MDIO=n
CONFIG_HWMON=n
CONFIG_HAVE_FUNCTION_ERROR_INJECTION=n
CONFIG_RD_LZMA=n
CONFIG_CPU_RMAP=n
CONFIG_NET_VENDOR_RDC=n
CONFIG_X86_INTEL_TSX_MODE_AUTO=n
CONFIG_MOUSE_PS2_BYD=n
CONFIG_GENERIC_PENDING_IRQ=n
CONFIG_I2C_HELPER_AUTO=n
CONFIG_EARLY_PRINTK=n
CONFIG_NLS_UTF8=n
CONFIG_SECURITY_SELINUX_AVC_STATS=n
CONFIG_SERIAL_8250_SHARE_IRQ=n
CONFIG_NET_VENDOR_SILAN=n
CONFIG_ACPI_PLATFORM_PROFILE=n
CONFIG_CRYPTO_CBC=n
CONFIG_IP_PNP_RARP=n
CONFIG_CPU_FREQ_GOV_COMMON=n
CONFIG_HAVE_CMPXCHG_LOCAL=n
CONFIG_UNWINDER_FRAME_POINTER=n
CONFIG_FSNOTIFY=n
CONFIG_NET_CLS_CGROUP=n
CONFIG_NET_VENDOR_MICROSOFT=n
CONFIG_HIBERNATE_CALLBACKS=n
CONFIG_KERNFS=n
CONFIG_GENERIC_CLOCKEVENTS=n
CONFIG_GENERIC_CMOS_UPDATE=n
CONFIG_CRYPTO_AKCIPHER2=n
CONFIG_ARCH_HAS_PTE_SPECIAL=n
CONFIG_INTEL_GTT=n
CONFIG_NET_VENDOR_SIS=n
CONFIG_LOCKDEP_SUPPORT=n
CONFIG_IPC_NS=n
CONFIG_X86=n
CONFIG_QUEUED_RWLOCKS=n
CONFIG_WMI_BMOF=n
CONFIG_ARCH_HAS_SYSCALL_WRAPPER=n
CONFIG_NF_CT_NETLINK=n
CONFIG_SCSI_VIRTIO=n
CONFIG_PTP_1588_CLOCK_OPTIONAL=n
CONFIG_HAVE_ACPI_APEI=n
CONFIG_NETFILTER_XT_TARGET_SECMARK=n
CONFIG_INPUT_VIVALDIFMAP=n
CONFIG_RING_BUFFER=n
CONFIG_CFG80211_DEFAULT_PS=n
CONFIG_STACKTRACE_SUPPORT=n
CONFIG_GENERIC_PCI_IOMAP=n
CONFIG_X86_DISABLED_FEATURE_OSPKE=n
CONFIG_ZISOFS=n
CONFIG_FIX_EARLYCON_MEM=n
CONFIG_ACPI_I2C_OPREGION=n
CONFIG_PATA_SCH=n
CONFIG_X86_DISABLED_FEATURE_PTI=n
CONFIG_NF_REJECT_IPV6=n
CONFIG_PCMCIA=n
CONFIG_CRYPTO_ACOMP2=n
CONFIG_PCIEASPM_DEFAULT=n
CONFIG_SUNRPC=n
CONFIG_KEYBOARD_ATKBD=n
CONFIG_HOTPLUG_CORE_SYNC_DEAD=n
CONFIG_TMPFS_POSIX_ACL=n
CONFIG_ARCH_SUPPORTS_KMAP_LOCAL_FORCE_MAP=n
CONFIG_STACKDEPOT=n
CONFIG_NFS_DISABLE_UDP_SUPPORT=n
CONFIG_TASKS_RCU_GENERIC=n
CONFIG_NETFILTER_NETLINK=n
CONFIG_SERIO_SERPORT=n
CONFIG_NET_DEVMEM=n
CONFIG_SECCOMP_FILTER=n
CONFIG_HUGETLB_PAGE=n
CONFIG_TRACING_SUPPORT=n
CONFIG_CPUFREQ_ARCH_CUR_FREQ=n
CONFIG_BLK_PM=n
CONFIG_ISO9660_FS=n
CONFIG_CRYPTO_LIB_SHA256=n
CONFIG_KVFREE_RCU_BATCHED=n
CONFIG_X86_PLATFORM_DEVICES=n
CONFIG_MOUSE_PS2_SMBUS=n
CONFIG_DNS_RESOLVER=n
CONFIG_HAVE_PERF_EVENTS_NMI=n
CONFIG_AUXILIARY_BUS=n
CONFIG_SECURITY_NETWORK=n
CONFIG_USB_PCI=n
CONFIG_GENERIC_STRNLEN_USER=n
CONFIG_SND_CTL_FAST_LOOKUP=n
CONFIG_SCHEDSTATS=n
CONFIG_CC_HAS_ENTRY_PADDING=n
CONFIG_FUTEX_PRIVATE_HASH=n
CONFIG_CPUSETS=n
