CONFIG_ARCH_USE_CMPXCHG_LOCKREF=n
CONFIG_ARCH_HAS_FAST_MULTIPLIER=n
CONFIG_X86_REQUIRED_FEATURE_PGE=n
CONFIG_BLK_DEV_IO_TRACE=n
CONFIG_HAVE_KPROBES_ON_FTRACE=n
CONFIG_NEED_PER_CPU_PAGE_FIRST_CHUNK=n
CONFIG_NEED_SG_DMA_LENGTH=n
CONFIG_INIT_STACK_ALL_ZERO=n
CONFIG_ASYMMETRIC_PUBLIC_KEY_SUBTYPE=n
CONFIG_X86_REQUIRED_FEATURE_FXSR=n
CONFIG_DECOMPRESS_LZO=n
CONFIG_UNIX=n
CONFIG_BROADCAST_TLB_FLUSH=n
CONFIG_WLAN_VENDOR_INTERSIL=n
CONFIG_NETFILTER_XTABLES=n
CONFIG_ARCH_WANT_HUGETLB_VMEMMAP_PREINIT=n
CONFIG_MQ_IOSCHED_KYBER=n
CONFIG_ARCH_HAS_PARANOID_L1D_FLUSH=n
CONFIG_IP_NF_IPTABLES=n
CONFIG_KRETPROBES=n
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST=n
CONFIG_BLK_CGROUP=n
CONFIG_SND_HDA_INTEL=n
CONFIG_TRACE_IRQFLAGS_NMI_SUPPORT=n
CONFIG_ALLOW_DEV_COREDUMP=n
CONFIG_NFS_FS=n
CONFIG_HAVE_POSIX_CPU_TIMERS_TASK_WORK=n
CONFIG_GENERIC_ISA_DMA=n
CONFIG_NET_SCHED=n
CONFIG_FUNCTION_ALIGNMENT_4B=n
CONFIG_HAVE_CMPXCHG_DOUBLE=n
CONFIG_INPUT_MISC=n
CONFIG_GENERIC_CPU_DEVICES=n
CONFIG_MSDOS_FS=n
CONFIG_CRYPTO_HASH=n
CONFIG_HAVE_IOREMAP_PROT=n
CONFIG_I2C_I801=n
CONFIG_X86_MPPARSE=n
CONFIG_SERIAL_CORE=n
CONFIG_CGROUP_RDMA=n
CONFIG_SERIAL_8250_EXTENDED=n
CONFIG_CRYPTO_LIB_AES_CBC_MACS=n
CONFIG_MIGRATION=n
CONFIG_NETFILTER_EGRESS=n
CONFIG_HYPERVISOR_GUEST=n
CONFIG_BLK_DEV_LOOP=n
CONFIG_DRM_BRIDGE=n
CONFIG_SPARSEMEM_EXTREME=n
CONFIG_CRYPTO_LIB_ARC4=n
CONFIG_RTC_NVMEM=n
CONFIG_NET_VENDOR_DEC=n
CONFIG_MITIGATION_MDS=n
CONFIG_NET_VENDOR_XILINX=n
CONFIG_NET_VENDOR_8390=n
CONFIG_SYSCTL=n
CONFIG_NF_NAT_MASQUERADE=n
CONFIG_RD_LZMA=n
CONFIG_AMD_NODE=n
CONFIG_SCSI_SPI_ATTRS=n
CONFIG_ACPI_CPU_FREQ_PSS=n
CONFIG_PCCARD_NONSTATIC=n
CONFIG_SWAP=n
CONFIG_ARCH_HAS_NONLEAF_PMD_YOUNG=n
CONFIG_NET_CLS=n
CONFIG_CRYPTO_LIB_UTILS=n
CONFIG_PCCARD=n
CONFIG_MODIFY_LDT_SYSCALL=n
CONFIG_LOCK_SPIN_ON_OWNER=n
CONFIG_NETFILTER_NETLINK=n
CONFIG_CC_IS_GCC=n
CONFIG_SND_PCM_TIMER=n
CONFIG_PERF_EVENTS_INTEL_UNCORE=n
CONFIG_IRQ_FORCED_THREADING=n
CONFIG_PTDUMP=n
CONFIG_OLD_SIGSUSPEND3=n
CONFIG_SECURITY_NETWORK=n
CONFIG_ARCH_HAS_PREEMPT_LAZY=n
CONFIG_USB_PCI=n
CONFIG_UNIX98_PTYS=n
CONFIG_IP_MROUTE_COMMON=n
CONFIG_CC_HAS_INT128=n
CONFIG_SND_HDA_I915=n
CONFIG_CRYPTO_AES=n
CONFIG_HRTIMER_REARM_DEFERRED=n
CONFIG_USB_DEFAULT_PERSIST=n
CONFIG_ARCH_HAS_ACPI_TABLE_UPGRADE=n
CONFIG_SERIAL_EARLYCON=n
CONFIG_ACPI_MDIO=n
CONFIG_PREEMPT_COUNT=n
CONFIG_GENERIC_EARLY_IOREMAP=n
CONFIG_HID_TOPSEED=n
CONFIG_HAVE_REGS_AND_STACK_ACCESS_API=n
CONFIG_NET_VENDOR_MARVELL=n
CONFIG_CRYPTO_AKCIPHER2=n
CONFIG_HAVE_RUST=n
CONFIG_BLK_CGROUP_IOPRIO=n
CONFIG_PCI_QUIRKS=n
CONFIG_SOCK_RX_QUEUE_MAPPING=n
CONFIG_HAVE_UID16=n
CONFIG_HUGETLB_PAGE_OPTIMIZE_VMEMMAP=n
CONFIG_GLOB=n
CONFIG_EFI_EARLYCON=n
CONFIG_HAVE_KRETPROBES=n
CONFIG_HAVE_GENERIC_VDSO=n
CONFIG_TASKS_RCU=n
CONFIG_MOUSE_PS2_ALPS=n
CONFIG_CC_HAS_ENTRY_PADDING=n
CONFIG_INPUT_TABLET=n
CONFIG_CC_HAS_IBT=n
CONFIG_CGROUP_FREEZER=n
CONFIG_DRM_KMS_HELPER=n
CONFIG_X86_VERBOSE_BOOTUP=n
CONFIG_CPU_SUP_HYGON=n
CONFIG_X86_REQUIRED_FEATURE_PAE=n
CONFIG_PCI_DOMAINS=n
CONFIG_INSTRUCTION_DECODER=n
CONFIG_PM_SLEEP=n
CONFIG_HAVE_DYNAMIC_FTRACE_NO_PATCHABLE=n
CONFIG_IP_PNP=n
CONFIG_AGP_AMD64=n
CONFIG_SCREEN_INFO=n
CONFIG_ARCH_HAS_STRICT_KERNEL_RWX=n
CONFIG_INTEGRITY_AUDIT=n
CONFIG_RCU_STALL_COMMON=n
CONFIG_HAVE_ARCH_KMSAN=n
CONFIG_CRYPTO_HMAC=n
CONFIG_NET_VENDOR_RENESAS=n
CONFIG_HAVE_JUMP_LABEL_HACK=n
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST_IDLE=n
CONFIG_ZISOFS=n
CONFIG_IP_MULTIPLE_TABLES=n
CONFIG_HAVE_EXIT_THREAD=n
CONFIG_BLOCK_LEGACY_AUTOLOAD=n
CONFIG_SECCOMP=n
CONFIG_X86_16BIT=n
CONFIG_GENERIC_IRQ_SHOW=n
CONFIG_BLK_DEV_INITRD=n
CONFIG_LEDS_CLASS=n
CONFIG_VMAP_STACK=n
CONFIG_CC_HAS_ASM_INLINE=n
CONFIG_USB_HIDDEV=n
CONFIG_ARCH_HAS_MEMBARRIER_SYNC_CORE=n
CONFIG_PANTHERLORD_FF=n
CONFIG_CRYPTO_LIB_SHA512_ARCH=n
CONFIG_GENERIC_PENDING_IRQ=n
CONFIG_IOMMU_IOPF=n
CONFIG_ARCH_USES_HIGH_VMA_FLAGS=n
CONFIG_CHECK_SIGNATURE=n
CONFIG_CGROUP_SCHED=n
CONFIG_EFI_STUB=n
CONFIG_PATA_SCH=n
CONFIG_ARCH_HAS_DEVMEM_IS_ALLOWED=n
CONFIG_ARCH_HAS_CURRENT_STACK_POINTER=n
CONFIG_TCP_CONG_CUBIC=n
CONFIG_SCSI_VIRTIO=n
CONFIG_CFG80211_DEFAULT_PS=n
CONFIG_AMD_NUMA=n
CONFIG_EPOLL=n
CONFIG_CRC_CCITT=n
CONFIG_VIRTIO_DMA_SHARED_BUFFER=n
CONFIG_LOCKD_V4=n
CONFIG_SCHED_MC=n
CONFIG_ARCH_USE_BUILTIN_BSWAP=n
CONFIG_CRYPTO_CTS=n
CONFIG_ARCH_HAS_KCOV=n
CONFIG_X86_AMD_PSTATE=n
CONFIG_BLOCK=n
CONFIG_NF_LOG_IPV6=n
CONFIG_JUMP_LABEL=n
CONFIG_HIDRAW=n
CONFIG_NETCONSOLE=n
CONFIG_RUNTIME_TESTING_MENU=n
CONFIG_DEVTMPFS=n
CONFIG_DM_ZERO=n
CONFIG_ACPI_PROCESSOR_IDLE=n
CONFIG_AS_HAS_NON_CONST_ULEB128=n
CONFIG_SND_X86=n
CONFIG_CPUSETS=n
CONFIG_ARCH_MIGHT_HAVE_ACPI_PDC=n
CONFIG_CGROUP_PERF=n
CONFIG_BQL=n
CONFIG_CRYPTO_SIG2=n
CONFIG_VIRTIO_PCI=n
CONFIG_XZ_DEC=n
CONFIG_USER_STACKTRACE_SUPPORT=n
CONFIG_NET_VENDOR_AMAZON=n
CONFIG_CRYPTO_LZ4=n
CONFIG_CRYPTO_SHA1=n
CONFIG_TRACE_CLOCK=n
CONFIG_NET_VENDOR_NVIDIA=n
CONFIG_BLK_CGROUP_IOLATENCY=n
CONFIG_MITIGATION_MMIO_STALE_DATA=n
CONFIG_GENERIC_SYSCALL=n
CONFIG_X86_PKG_TEMP_THERMAL=n
CONFIG_ARCH_WANT_LD_ORPHAN_WARN=n
CONFIG_MITIGATION_IBRS_ENTRY=n
CONFIG_CONNECTOR=n
CONFIG_WLAN=n
CONFIG_CRYPTO_HASH2=n
CONFIG_KALLSYMS=n
CONFIG_ACPI_FAN=n
CONFIG_PADATA=n
CONFIG_TCP_MD5SIG=n
CONFIG_HIBERNATION_COMP_LZO=n
CONFIG_ARCH_CONFIGURES_CPU_MITIGATIONS=n
CONFIG_CC_HAS_SLS=n
CONFIG_HAVE_CONTEXT_TRACKING_USER_OFFSTACK=n
CONFIG_MACINTOSH_DRIVERS=n
CONFIG_CRASH_RESERVE=n
CONFIG_HAVE_ARCH_KSTACK_ERASE=n
CONFIG_MODULE_FORCE_UNLOAD=n
CONFIG_NOP_TRACER=n
CONFIG_NET_VENDOR_ENGLEDER=n
CONFIG_ARCH_HAS_PMEM_API=n
CONFIG_NETFILTER_XT_MATCH_ADDRTYPE=n
CONFIG_MAGIC_SYSRQ_SERIAL=n
CONFIG_EFI_RUNTIME_WRAPPERS=n
CONFIG_POSIX_MQUEUE=n
CONFIG_PATA_OLDPIIX=n
CONFIG_FUTEX=n
CONFIG_RANDOMIZE_BASE=n
CONFIG_IPC_NS=n
CONFIG_PARAVIRT=n
CONFIG_NLS_ASCII=n
CONFIG_HAVE_KERNEL_LZMA=n
CONFIG_SERIAL_8250_MID=n
CONFIG_DRM_DISPLAY_HDCP_HELPER=n
CONFIG_SCHEDSTATS=n
CONFIG_USB_ANNOUNCE_NEW_DEVICES=n
CONFIG_NET_VENDOR_QUALCOMM=n
CONFIG_EFI=n
CONFIG_MICROCODE=n
CONFIG_SKB_EXTENSIONS=n
CONFIG_HAVE_OBJTOOL=n
CONFIG_FORCEDETH=n
CONFIG_NET_VENDOR_MICROCHIP=n
CONFIG_NET_VENDOR_OKI=n
CONFIG_CPU_FREQ_GOV_SCHEDUTIL=n
CONFIG_TASKSTATS=n
CONFIG_HAVE_ARCH_PREL32_RELOCATIONS=n
CONFIG_ARCH_WANT_COMPAT_IPC_PARSE_VERSION=n
CONFIG_CRYPTO_LIB_SHA256_ARCH=n
CONFIG_NET_VENDOR_NI=n
CONFIG_UNWIND_USER=n
CONFIG_INET=n
CONFIG_CRYPTO_CCM=n
CONFIG_DEBUG_STACK_USAGE=n
CONFIG_UCS2_STRING=n
CONFIG_SND_DMA_SGBUF=n
CONFIG_TREE_RCU=n
CONFIG_NET_CORE=n
CONFIG_RANDOMIZE_KSTACK_OFFSET=n
CONFIG_CPU_FREQ_DEFAULT_GOV_USERSPACE=n
CONFIG_INPUT_KEYBOARD=n
CONFIG_NET_9P=n
CONFIG_ROOT_NFS=n
CONFIG_AUDIT=n
CONFIG_MMCONF_FAM10H=n
CONFIG_IP_ROUTE_VERBOSE=n
CONFIG_WLAN_VENDOR_RSI=n
CONFIG_HAVE_KERNEL_BZIP2=n
CONFIG_BUG=n
CONFIG_KEXEC_CORE=n
CONFIG_VHOST_MENU=n
CONFIG_HALTPOLL_CPUIDLE=n
CONFIG_HAVE_ARCH_HUGE_VMAP=n
CONFIG_NET_VENDOR_VERTEXCOM=n
CONFIG_DRM_DISPLAY_HDMI_HELPER=n
CONFIG_SND_SEQ_DUMMY=n
CONFIG_ARCH_SUPPORTS_MEMORY_FAILURE=n
CONFIG_WLAN_VENDOR_INTEL=n
CONFIG_ARCH_HAS_UACCESS_FLUSHCACHE=n
CONFIG_MAC80211_HAS_RC=n
CONFIG_AS_WRUSS=n
CONFIG_GROUP_SCHED_WEIGHT=n
CONFIG_GENERIC_VDSO_OVERFLOW_PROTECT=n
CONFIG_GENERIC_ALLOCATOR=n
CONFIG_NET_VENDOR_SOLARFLARE=n
CONFIG_X86_MCE_INTEL=n
CONFIG_USB_ARCH_HAS_HCD=n
CONFIG_NET_9P_VIRTIO=n
CONFIG_THERMAL_DEFAULT_GOV_STEP_WISE=n
CONFIG_LOCKD=n
CONFIG_ZSTD_COMMON=n
CONFIG_PACKET=n
CONFIG_DMIID=n
CONFIG_NET_VENDOR_SOCIONEXT=n
CONFIG_UNINLINE_SPIN_UNLOCK=n
CONFIG_CRYPTO_HASH_INFO=n
CONFIG_KALLSYMS_ALL=n
CONFIG_DNOTIFY=n
CONFIG_ARCH_SUPPORTS_KEXEC_PURGATORY=n
CONFIG_SCSI_DMA=n
CONFIG_DRM_PANEL_ORIENTATION_QUIRKS=n
CONFIG_PATA_AMD=n
CONFIG_GENERIC_MSI_IRQ=n
CONFIG_SCHED_INFO=n
CONFIG_ACPI_REV_OVERRIDE_POSSIBLE=n
CONFIG_USB_COMMON=n
CONFIG_SCHED_HRTICK=n
