CONFIG_PHY_CADENCE_DPHY=n
CONFIG_DMA_DIRECT_REMAP=n
CONFIG_PWM=n
CONFIG_I2C_RK3X=n
CONFIG_RESET_MESON=n
CONFIG_DRM_PANEL_NOVATEK_NT36672A=n
CONFIG_SND_SIMPLE_CARD_UTILS=n
CONFIG_QCOM_PDR_HELPERS=n
CONFIG_NET_VENDOR_CADENCE=n
CONFIG_COMMON_CLK_MT8365_APU=n
CONFIG_MTD_NAND_BRCMNAND_BCMBCA=n
CONFIG_PHY_MTK_DP=n
CONFIG_EEPROM_93CX6=n
CONFIG_INTERCONNECT_QCOM_MSM8916=n
CONFIG_ARM_SMMU_V3_PMU=n
CONFIG_DRM_RZG2L_DU=n
CONFIG_IPV6_SIT=n
CONFIG_COMMON_CLK_MT8192_IMP_IIC_WRAP=n
CONFIG_ROCKCHIP_ERRATUM_3568002=n
CONFIG_TI_ADS1015=n
CONFIG_ARCH_SUPPORTS_KEXEC_HANDOVER=n
CONFIG_MESON_SARADC=n
CONFIG_UBIFS_FS_XATTR=n
CONFIG_USER_NS=n
CONFIG_USB_CHIPIDEA_IMX=n
CONFIG_COMMON_CLK_MT8365_CAM=n
CONFIG_PINCTRL_MESON_AXG=n
CONFIG_NF_CONNTRACK=n
CONFIG_SATA_RCAR=n
CONFIG_CRYPTO_DEV_ZYNQMP_AES=n
CONFIG_MMC_SDHCI_TEGRA=n
CONFIG_CLK_R9A09G087=n
CONFIG_PINCTRL_MESON_AXG_PMX=n
CONFIG_PINCTRL_MILOS=n
CONFIG_NET_SCH_MQPRIO_LIB=n
CONFIG_SND_PCI=n
CONFIG_SND_SOC_FSL_UTILS=n
CONFIG_PINCTRL_SM7150=n
CONFIG_HAVE_ARCH_KASAN_VMALLOC=n
CONFIG_IPV6_NDISC_NODETYPE=n
CONFIG_CLK_SOPHGO_CV1800=n
CONFIG_TMPFS_POSIX_ACL=n
CONFIG_PHY_RCAR_GEN3_USB3=n
CONFIG_BPF_JIT=n
CONFIG_QCOM_FALKOR_ERRATUM_1009=n
CONFIG_ARCH_HAS_GCOV_PROFILE_ALL=n
CONFIG_SUN50I_A100_CCU=n
CONFIG_SND_AUDIO_GRAPH_CARD=n
CONFIG_DRM_MESON_DW_MIPI_DSI=n
CONFIG_LOCK_DEBUGGING_SUPPORT=n
CONFIG_NOUVEAU_PLATFORM_DRIVER=n
CONFIG_EFI_SOFT_RESERVE=n
CONFIG_TEGRA_IOMMU_SMMU=n
CONFIG_NETFILTER_XT_MARK=n
CONFIG_HAVE_KVM_DIRTY_RING=n
CONFIG_RTL_CARDS=n
CONFIG_ZLIB_INFLATE=n
CONFIG_USB_CONFIGFS=n
CONFIG_PINCTRL_RP1=n
CONFIG_NVMEM_UNIPHIER_EFUSE=n
CONFIG_ARCH_HISI=n
CONFIG_I2C_HELPER_AUTO=n
CONFIG_PINCTRL_SC7280_LPASS_LPI=n
CONFIG_PINCTRL_SUN50I_A64=n
CONFIG_SERIAL_RSCI=n
CONFIG_QCOM_GDSC=n
CONFIG_HW_PERF_EVENTS=n
CONFIG_SND_CTL_LED=n
CONFIG_MVEBU_GICP=n
CONFIG_HAVE_EFFICIENT_UNALIGNED_ACCESS=n
CONFIG_NF_DEFRAG_IPV6=n
CONFIG_CLK_IMX8QXP=n
CONFIG_DRM_GEM_SHMEM_HELPER=n
CONFIG_SM_GCC_MILOS=n
CONFIG_USB_OHCI_HCD=n
CONFIG_CROS_EC=n
CONFIG_USB_CHIPIDEA_UDC=n
CONFIG_VIDEO_RZG2L_CRU=n
CONFIG_HAS_IOPORT=n
CONFIG_SYS_SUPPORTS_SH_CMT=n
CONFIG_CRYPTO_LIB_SHA1_ARCH=n
CONFIG_SATA_PMP=n
CONFIG_ARM_SP805_WATCHDOG=n
CONFIG_FB_CFB_COPYAREA=n
CONFIG_CRC_CCITT=n
CONFIG_NETFILTER_SKIP_EGRESS=n
CONFIG_BACKLIGHT_GPIO=n
CONFIG_INTERCONNECT_QCOM_SM8450=n
CONFIG_DRM_KMS_HELPER=n
CONFIG_CFG80211=n
CONFIG_QCOM_RPROC_COMMON=n
CONFIG_HW_RANDOM_STM32=n
CONFIG_COMMON_CLK_MT6795_VENCSYS=n
CONFIG_COMMON_CLK_CS2000_CP=n
CONFIG_CRYPTO_CTS=n
CONFIG_CLK_UNIPHIER=n
CONFIG_DRM_RZG2L_USE_MIPI_DSI=n
CONFIG_CRYPTO_LIB_ARC4=n
CONFIG_SMP=n
CONFIG_PAGE_SIZE_LESS_THAN_64KB=n
CONFIG_MFD_TI_AM335X_TSCADC=n
CONFIG_SERIAL_8250_EXAR=n
CONFIG_LEGACY_DIRECT_IO=n
CONFIG_GENERIC_PINMUX_FUNCTIONS=n
CONFIG_EXYNOS_CLKOUT=n
CONFIG_CRC64=n
CONFIG_DRM_RCAR_MIPI_DSI=n
CONFIG_ARCH_VEXPRESS=n
CONFIG_PCIE_ALTERA=n
CONFIG_ATA_BMDMA=n
CONFIG_DMA_ENGINE_RAID=n
CONFIG_SERIAL_8250_DWLIB=n
CONFIG_HAVE_ARCH_JUMP_LABEL_RELATIVE=n
CONFIG_CORESIGHT_LINKS_AND_SINKS=n
CONFIG_CAN_RCAR=n
CONFIG_NUMA_KEEP_MEMINFO=n
CONFIG_BRCMUTIL=n
CONFIG_COMMON_CLK_MT8173_VENCSYS=n
CONFIG_MEDIA_TUNER_TDA18271=n
CONFIG_CLK_GLYMUR_TCSRCC=n
CONFIG_REGULATOR_SUN20I=n
CONFIG_BT_BCM=n
CONFIG_SYSC_R8A77990=n
CONFIG_BT_HCIRSI=n
CONFIG_NETDEVICES=n
CONFIG_B53=n
CONFIG_QCOM_CLK_APCS_MSM8916=n
CONFIG_NET_SELFTESTS=n
CONFIG_LOCKDEP_SUPPORT=n
CONFIG_ARCH_HAS_KERNEL_FPU_SUPPORT=n
CONFIG_ACPI_CCA_REQUIRED=n
CONFIG_WLAN_VENDOR_INTERSIL=n
CONFIG_DRM_PANEL_VISIONOX_VTDR6130=n
CONFIG_MACVLAN=n
CONFIG_SUN55I_PCK600=n
CONFIG_FB_SYS_COPYAREA=n
CONFIG_SND_SOC_RCAR=n
CONFIG_MEDIA_ATTACH=n
CONFIG_PAGE_POOL=n
CONFIG_USB_OHCI_HCD_PCI=n
CONFIG_CRYPTO_LIB_SHA512_ARCH=n
CONFIG_MFD_STM32_LPTIMER=n
CONFIG_RTC_DRV_MT6397=n
CONFIG_DRM_TI_SN65DSI83=n
CONFIG_PINCTRL_TEGRA124=n
CONFIG_MAILBOX=n
CONFIG_SECCOMP=n
CONFIG_COMMON_CLK_MT8516=n
CONFIG_SCSI_SAS_ATA=n
CONFIG_BRCMSTB_THERMAL=n
CONFIG_SYSC_RCAR_GEN4=n
CONFIG_PREEMPT=n
CONFIG_FPGA_REGION=n
CONFIG_SND_SOC_COMPRESS=n
CONFIG_ASPEED_P2A_CTRL=n
CONFIG_QCS_DISPCC_615=n
CONFIG_VIDEO_IMX7_CSI=n
CONFIG_MTK_UART_APDMA=n
CONFIG_USB_F_ECM=n
CONFIG_CLK_RCAR_GEN4_CPG=n
CONFIG_STRICT_MODULE_RWX=n
CONFIG_ARCH_USE_QUEUED_RWLOCKS=n
CONFIG_ARM_SCPI_PROTOCOL=n
CONFIG_SYSC_RZ=n
CONFIG_EDAC=n
CONFIG_GENERIC_PINCONF=n
CONFIG_IMX8M_BLK_CTRL=n
CONFIG_RESET_MESON_COMMON=n
CONFIG_BLK_DEV_BSG=n
CONFIG_SPLIT_PMD_PTLOCKS=n
CONFIG_ASN1=n
CONFIG_ARM64_E0PD=n
CONFIG_PINCTRL_MESON_GXBB=n
CONFIG_NET_FLOW_LIMIT=n
CONFIG_SERIAL_MVEBU_UART=n
CONFIG_ATH10K=n
CONFIG_ARCH_HAS_NON_OVERLAPPING_ADDRESS_SPACE=n
CONFIG_XARRAY_MULTI=n
CONFIG_B53_SRAB_DRIVER=n
CONFIG_RAID6_PQ_ARCH=n
CONFIG_HW_RANDOM_BCM2835=n
CONFIG_HAVE_KVM_CPU_RELAX_INTERCEPT=n
CONFIG_PINCTRL_SH_PFC=n
CONFIG_REGMAP_SPMI=n
CONFIG_CLK_RK3588=n
CONFIG_CROS_EC_SPI=n
CONFIG_DRM_LONTIUM_LT8713SX=n
CONFIG_MMC_ARMMMCI=n
CONFIG_REGULATOR_PCA9450=n
CONFIG_USB_NET_SMSC75XX=n
CONFIG_OF_ADDRESS=n
CONFIG_RTC_DRV_XGENE=n
CONFIG_DWMAC_ROCKCHIP=n
CONFIG_CLK_QORIQ=n
CONFIG_ARCH_BLAIZE=n
CONFIG_STMMAC_ETH=n
CONFIG_IMX7ULP_WDT=n
CONFIG_SM_GCC_8450=n
CONFIG_USB_CONFIGFS_ECM=n
CONFIG_SND_SOC_SOF_MT8195=n
CONFIG_I2C_BCM_IPROC=n
CONFIG_UCS2_STRING=n
CONFIG_PHY_SNPS_EUSB2=n
CONFIG_PWM_BCM_IPROC=n
CONFIG_GPIO_DWAPB=n
CONFIG_RANDOMIZE_KSTACK_OFFSET=n
CONFIG_ARCH_R9A09G047=n
CONFIG_COMMON_CLK_RP1=n
CONFIG_DRM_LONTIUM_LT9611UXC=n
CONFIG_ARMADA_AP_CP_HELPER=n
CONFIG_ARCH_USES_PG_ARCH_3=n
CONFIG_RTC_DRV_RK808=n
CONFIG_IMX_SDMA=n
CONFIG_RTC_I2C_AND_SPI=n
CONFIG_CHARGER_RK817=n
CONFIG_USB_LAN78XX=n
CONFIG_PCI_PWRCTRL_PWRSEQ=n
CONFIG_PINCTRL_ARMADA_37XX=n
CONFIG_SC_GPUCC_8280XP=n
CONFIG_CAVIUM_ERRATUM_23154=n
CONFIG_CRYPTO_DEV_FSL_CAAM_CRYPTO_API=n
CONFIG_COMMON_CLK_C3_PLL=n
CONFIG_LD_CAN_USE_KEEP_IN_OVERLAY=n
CONFIG_COMMON_CLK_FSL_FLEXSPI=n
CONFIG_DMA_SHARED_BUFFER=n
CONFIG_SND_HDA_CODEC_HDMI=n
CONFIG_SND_SOC_LPASS_CDC_DMA=n
CONFIG_IIO_ST_MAGN_I2C_3AXIS=n
CONFIG_PINCTRL_QCS8300=n
CONFIG_HISI_PMU=n
CONFIG_COMMON_CLK_MT8167_MFGCFG=n
CONFIG_FPGA=n
CONFIG_PINCTRL_NORD=n
CONFIG_SND_SOC_LPASS_WSA_MACRO=n
CONFIG_GPIO_BRCMSTB=n
CONFIG_PROFILING=n
CONFIG_PINCTRL_SX150X=n
CONFIG_PINCTRL_MTK_PARIS=n
CONFIG_ARM_SMMU=n
CONFIG_SND_CTL_FAST_LOOKUP=n
CONFIG_PINCTRL_IMX8ULP=n
CONFIG_MODULES_USE_ELF_RELA=n
CONFIG_QCOM_PMIC_GLINK=n
CONFIG_HNS=n
CONFIG_POWER_SUPPLY_HWMON=n
CONFIG_ATH11K_AHB=n
CONFIG_PINCTRL_SKY1=n
CONFIG_SERIAL_TEGRA_TCU_CONSOLE=n
CONFIG_WATCHDOG_CORE=n
CONFIG_PNP=n
CONFIG_ARCH_R8A77960=n
CONFIG_DRM_MESON=n
CONFIG_MOUSE_PS2=n
CONFIG_I2C_UNIPHIER_F=n
CONFIG_DRM_MXS=n
CONFIG_RESET_SCMI=n
CONFIG_SH_TIMER_TMU=n
CONFIG_INTEGRITY_AUDIT=n
CONFIG_COMMON_CLK_C3_PERIPHERALS=n
CONFIG_FB_DEFERRED_IO=n
CONFIG_BATTERY_QCOM_BATTMGR=n
CONFIG_USB_CONFIGFS_NCM=n
CONFIG_ARCH_APPLE=n
CONFIG_CRYPTO_SKCIPHER2=n
CONFIG_SUNXI_MBUS=n
CONFIG_VLAN_8021Q_MVRP=n
CONFIG_DRM_MSM_DSI=n
CONFIG_VFIO_PCI_CORE=n
CONFIG_ARCH_R8A779G0=n
CONFIG_ZSTD_COMPRESS=n
CONFIG_I2C_S3C2410=n
CONFIG_VIDEO_QCOM_VENUS=n
CONFIG_MTK_IOMMU=n
CONFIG_DRM_ZYNQMP_DPSUB_AUDIO=n
CONFIG_SM_DISPCC_6350=n
CONFIG_NET_VENDOR_FREESCALE=n
CONFIG_ARCH_WANT_DEFAULT_BPF_JIT=n
CONFIG_REGULATOR_PFUZE100=n
CONFIG_CPU_PM=n
CONFIG_PHY_CADENCE_SIERRA=n
CONFIG_DRM_PANEL_NOVATEK_NT37801=n
CONFIG_HAVE_KVM_MSI=n
CONFIG_SCSI_UFS_MEDIATEK=n
CONFIG_DRM_DW_HDMI_QP_CEC=n
CONFIG_SLIMBUS=n
CONFIG_GENERIC_ADC_THERMAL=n
CONFIG_HAVE_DMA_CONTIGUOUS=n
CONFIG_SPI_TEGRA210_QUAD=n
CONFIG_HW_RANDOM_XGENE=n
CONFIG_XZ_DEC_SPARC=n
CONFIG_CRYPTO_KPP=n
CONFIG_GPIO_XGENE_SB=n
CONFIG_DRM_SUN8I_MIXER=n
CONFIG_HW_RANDOM_ATMEL=n
CONFIG_RFKILL=n
CONFIG_GPIO_RASPBERRYPI_EXP=n
CONFIG_PINCTRL_SUN55I_A523=n
CONFIG_DWMAC_IMX8=n
CONFIG_PT_RECLAIM=n
CONFIG_SCSI_UFS_EXYNOS=n
