CONFIG_HAVE_ARCH_AUDITSYSCALL=n
CONFIG_INPUT_MOUSE=n
CONFIG_ARCH_CPUIDLE_HALTPOLL=n
CONFIG_RTC_CLASS=n
CONFIG_GENERIC_IRQ_EFFECTIVE_AFF_MASK=n
CONFIG_NETFILTER_NETLINK=n
CONFIG_MITIGATION_SPECTRE_V1=n
CONFIG_DNS_RESOLVER=n
CONFIG_HAVE_KERNEL_GZIP=n
CONFIG_NETWORK_SECMARK=n
CONFIG_PAGE_MAPCOUNT=n
CONFIG_CGROUP_FREEZER=n
CONFIG_EFI_EARLYCON=n
CONFIG_NET_VENDOR_CADENCE=n
CONFIG_SERIAL_8250_PCILIB=n
CONFIG_NET_VENDOR_AQUANTIA=n
CONFIG_UNWINDER_FRAME_POINTER=n
CONFIG_GENERIC_CLOCKEVENTS_MIN_ADJUST=n
CONFIG_FORCEDETH=n
CONFIG_CC_HAS_MARCH_NATIVE=n
CONFIG_CRYPTO_GCM=n
CONFIG_SCHED_INFO=n
CONFIG_SND_PCMCIA=n
CONFIG_RWSEM_SPIN_ON_OWNER=n
CONFIG_GENERIC_IRQ_MIGRATION=n
CONFIG_NOP_TRACER=n
CONFIG_SERIO_LIBPS2=n
CONFIG_SECURITY=n
CONFIG_TRACEFS_AUTOMOUNT_DEPRECATED=n
CONFIG_CPU_MITIGATIONS=n
CONFIG_RCU_TRACE=n
CONFIG_NFS_COMMON=n
CONFIG_EXT4_FS_SECURITY=n
CONFIG_DEVMEM=n
CONFIG_PERF_EVENTS_INTEL_CSTATE=n
CONFIG_NET_VENDOR_MYRI=n
CONFIG_HAVE_CMPXCHG_LOCAL=n
CONFIG_NET_FAILOVER=n
CONFIG_ARCH_HAS_HW_PTE_YOUNG=n
CONFIG_ARCH_USE_MEMTEST=n
CONFIG_NFS_FS=n
CONFIG_ARCH_HAVE_EXTRA_ELF_NOTES=n
CONFIG_IRQ_DOMAIN=n
CONFIG_ARCH_CLOCKSOURCE_INIT=n
CONFIG_SECTION_MISMATCH_WARN_ONLY=n
CONFIG_PKCS7_MESSAGE_PARSER=n
CONFIG_ACPI_DOCK=n
CONFIG_CRYPTO_SEQIV=n
CONFIG_DEFAULT_CUBIC=n
CONFIG_X86_DISABLED_FEATURE_LASS=n
CONFIG_HAVE_UID16=n
CONFIG_HSU_DMA=n
CONFIG_SND_HDA=n
CONFIG_HIBERNATE_CALLBACKS=n
CONFIG_EFI_RUNTIME_MAP=n
CONFIG_WLAN_VENDOR_SILABS=n
CONFIG_SECURITY_SELINUX_DEVELOP=n
CONFIG_HAVE_POSIX_CPU_TIMERS_TASK_WORK=n
CONFIG_DEBUG_MISC=n
CONFIG_LZ4_DECOMPRESS=n
CONFIG_X86_AMD_PSTATE=n
CONFIG_NET_9P=n
CONFIG_LOCALVERSION_AUTO=n
CONFIG_NET_VENDOR_3COM=n
CONFIG_FW_LOADER=n
CONFIG_SYMBOLIC_ERRNAME=n
CONFIG_AS_IS_GNU=n
CONFIG_PCIEASPM=n
CONFIG_AMD_NODE=n
CONFIG_IP6_NF_MATCH_IPV6HEADER=n
CONFIG_DUMMY_CONSOLE=n
CONFIG_HAVE_HARDLOCKUP_DETECTOR_BUDDY=n
CONFIG_QUOTA=n
CONFIG_PID_NS=n
CONFIG_NET_9P_VIRTIO=n
CONFIG_PM_TRACE_RTC=n
CONFIG_BLK_DEV_IO_TRACE=n
CONFIG_ATA_GENERIC=n
CONFIG_BSD_PROCESS_ACCT=n
CONFIG_NETFILTER_INGRESS=n
CONFIG_DMA_VIRTUAL_CHANNELS=n
CONFIG_ARCH_USE_SYM_ANNOTATIONS=n
CONFIG_HIDRAW=n
CONFIG_NET_VENDOR_ROCKER=n
CONFIG_CRYPTO_CTS=n
CONFIG_TCP_CONG_CUBIC=n
CONFIG_NET=n
CONFIG_HID_SUNPLUS=n
CONFIG_PROVIDE_OHCI1394_DMA_INIT=n
CONFIG_X86_32=n
CONFIG_ETHERNET=n
CONFIG_SPLIT_PTE_PTLOCKS=n
CONFIG_GENERIC_CMOS_UPDATE=n
CONFIG_MAC80211_LEDS=n
CONFIG_CPU_SUP_HYGON=n
CONFIG_NETFILTER_SKIP_EGRESS=n
CONFIG_IRQ_FORCED_THREADING=n
CONFIG_CRYPTO_AKCIPHER=n
CONFIG_INSTRUCTION_DECODER=n
CONFIG_NFS_V3_ACL=n
CONFIG_CRYPTO_SIG2=n
CONFIG_WLAN_VENDOR_RALINK=n
CONFIG_DMI_SCAN_MACHINE_NON_EFI_FALLBACK=n
CONFIG_CPU_IDLE=n
CONFIG_IPV6_SIT=n
CONFIG_ARCH_WANT_LD_ORPHAN_WARN=n
CONFIG_PATA_OLDPIIX=n
CONFIG_MITIGATION_RETPOLINE=n
CONFIG_E1000=n
CONFIG_ARCH_HAS_CPU_CACHE_INVALIDATE_MEMREGION=n
CONFIG_ARCH_USE_QUEUED_RWLOCKS=n
CONFIG_SURFACE_PLATFORMS=n
CONFIG_BLK_DEV_INITRD=n
CONFIG_GENERIC_BUG=n
CONFIG_SERIAL_8250_DWLIB=n
CONFIG_HAVE_UNSTABLE_SCHED_CLOCK=n
CONFIG_ACPI_CONTAINER=n
CONFIG_X86_VERBOSE_BOOTUP=n
CONFIG_NET_VENDOR_SYNOPSYS=n
CONFIG_EVENT_TRACING=n
CONFIG_IOMMU_DMA=n
CONFIG_EFI_DXE_MEM_ATTRIBUTES=n
CONFIG_SND_HDA_INTEL=n
CONFIG_BACKLIGHT_CLASS_DEVICE=n
CONFIG_USB_STORAGE=n
CONFIG_HAS_IOPORT=n
CONFIG_RELAY=n
CONFIG_HAS_IOMEM=n
CONFIG_NLS_CODEPAGE_437=n
CONFIG_USB_COMMON=n
CONFIG_SERIAL_8250_EXTENDED=n
CONFIG_BLK_DEV_SD=n
CONFIG_BLK_DEV_LOOP=n
CONFIG_X86_TSC=n
CONFIG_SYSVIPC_SYSCTL=n
CONFIG_HZ_1000=n
CONFIG_GENERIC_IRQ_PROBE=n
CONFIG_ATA_BMDMA=n
CONFIG_IO_DELAY_0X80=n
CONFIG_INET6_AH=n
CONFIG_NET_VENDOR_OKI=n
CONFIG_DEBUG_BUGVERBOSE=n
CONFIG_PAGE_SIZE_LESS_THAN_256KB=n
CONFIG_MMU_GATHER_TABLE_FREE=n
CONFIG_CPU_FREQ_DEFAULT_GOV_USERSPACE=n
CONFIG_NF_DEFRAG_IPV4=n
CONFIG_X86_INTEL_PSTATE=n
CONFIG_P2SB=n
CONFIG_HAVE_KERNEL_XZ=n
CONFIG_NET_VENDOR_TI=n
CONFIG_ACPI_MDIO=n
CONFIG_NEED_PER_CPU_EMBED_FIRST_CHUNK=n
CONFIG_X86_REQUIRED_FEATURE_ALWAYS=n
CONFIG_JUMP_LABEL=n
CONFIG_DRM_GEM_SHMEM_HELPER=n
CONFIG_HAVE_DYNAMIC_FTRACE_NO_PATCHABLE=n
CONFIG_SND_HDA_HWDEP=n
CONFIG_ARCH_SUPPORTS_KEXEC_SIG=n
CONFIG_DEBUG_INFO_NONE=n
CONFIG_IP_ADVANCED_ROUTER=n
CONFIG_EFI_RUNTIME_WRAPPERS=n
CONFIG_ARCH_VMLINUX_NEEDS_RELOCS=n
CONFIG_WLAN_VENDOR_ZYDAS=n
CONFIG_AUDIT_GENERIC=n
CONFIG_BLOCK_LEGACY_AUTOLOAD=n
CONFIG_X86_PAT=n
CONFIG_AS_WRUSS=n
CONFIG_NET_FLOW_LIMIT=n
CONFIG_MAGIC_SYSRQ_SERIAL=n
CONFIG_HAVE_GENERIC_VDSO=n
CONFIG_IP_PNP_DHCP=n
CONFIG_RATIONAL=n
CONFIG_DM_MIRROR=n
CONFIG_PREEMPT_COUNT=n
CONFIG_GENERIC_CLOCKEVENTS=n
CONFIG_GENERIC_CPU_DEVICES=n
CONFIG_KEYBOARD_ATKBD=n
CONFIG_X86_CX8=n
CONFIG_HAVE_PREEMPT_DYNAMIC_CALL=n
CONFIG_X86_ACPI_CPUFREQ=n
CONFIG_NET_VENDOR_SIS=n
CONFIG_NF_LOG_IPV6=n
CONFIG_GENERIC_CPU_VULNERABILITIES=n
CONFIG_MMU=n
CONFIG_HAVE_ARCH_SECCOMP_FILTER=n
CONFIG_NET_VENDOR_VERTEXCOM=n
CONFIG_HAVE_ARCH_SECCOMP=n
CONFIG_NF_NAT_MASQUERADE=n
CONFIG_RSEQ=n
CONFIG_MAC_EMUMOUSEBTN=n
CONFIG_HAVE_EXIT_THREAD=n
CONFIG_I3C_OR_I2C=n
CONFIG_CPU_SUP_ZHAOXIN=n
CONFIG_ARCH_MHP_MEMMAP_ON_MEMORY_ENABLE=n
CONFIG_FUTEX_PI=n
CONFIG_THERMAL=n
CONFIG_MOUSE_PS2_BYD=n
CONFIG_EFI_CAPSULE_LOADER=n
CONFIG_HAVE_KPROBES=n
CONFIG_GENERIC_IRQ_RESERVATION_MODE=n
CONFIG_SELECT_MEMORY_MODEL=n
CONFIG_ACPI_NHLT=n
CONFIG_CRYPTO_LIB_SHA1=n
CONFIG_SND_HDA_COMPONENT=n
CONFIG_DEBUG_MEMORY_INIT=n
CONFIG_CC_HAS_NAMED_AS_FIXED_SANITIZERS=n
CONFIG_MITIGATION_SSB=n
CONFIG_SECRETMEM=n
CONFIG_INPUT_VIVALDIFMAP=n
CONFIG_ELF_CORE=n
CONFIG_MEMFD_CREATE=n
CONFIG_NET_VENDOR_ARC=n
CONFIG_AIO=n
CONFIG_PANTHERLORD_FF=n
CONFIG_HW_RANDOM_GEODE=n
CONFIG_DRM_I915_USERPTR=n
CONFIG_VIRTIO_INPUT=n
CONFIG_INET_TUNNEL=n
CONFIG_INTEL_TCC=n
CONFIG_DRM_BUDDY=n
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO_BARE=n
CONFIG_ARCH_HAS_DEBUG_WX=n
CONFIG_MAC80211_RC_DEFAULT_MINSTREL=n
CONFIG_CRYPTO_LIB_MD5=n
CONFIG_HOTPLUG_SMT=n
CONFIG_SCSI_COMMON=n
CONFIG_X86_DEBUG_FPU=n
CONFIG_X86_IOPL_IOPERM=n
CONFIG_CGROUPS=n
CONFIG_CRYPTO_HASH=n
CONFIG_STACKTRACE=n
CONFIG_SECURITY_SELINUX_BOOTPARAM=n
CONFIG_MQ_IOSCHED_KYBER=n
CONFIG_CRYPTO_KRB5ENC=n
CONFIG_FWNODE_MDIO=n
CONFIG_NF_NAT=n
CONFIG_GENERIC_STRNCPY_FROM_USER=n
CONFIG_PERF_EVENTS_INTEL_RAPL=n
CONFIG_RCU_STALL_COMMON=n
CONFIG_DRM_DISPLAY_HDMI_HELPER=n
CONFIG_RTC_LIB=n
CONFIG_AMD_NB=n
CONFIG_CC_HAS_RETURN_THUNK=n
CONFIG_RD_XZ=n
CONFIG_CLKBLD_I8253=n
CONFIG_CGROUP_MISC=n
CONFIG_ARCH_FLATMEM_ENABLE=n
CONFIG_IP_MULTICAST=n
CONFIG_X86_DISABLED_FEATURE_LAM=n
CONFIG_PCIEPORTBUS=n
CONFIG_ARCH_HIBERNATION_POSSIBLE=n
CONFIG_CRYPTO_MANAGER2=n
CONFIG_ACPI_EC=n
CONFIG_NET_PTP_CLASSIFY=n
CONFIG_ZONE_DMA=n
CONFIG_KPROBES=n
CONFIG_SCSI=n
CONFIG_NO_HZ_COMMON=n
CONFIG_SCHED_SMT=n
CONFIG_ARCH_SUPPORTS_SCHED_CLUSTER=n
CONFIG_INTEGRITY_AUDIT=n
CONFIG_CPUFREQ_ARCH_CUR_FREQ=n
CONFIG_SND_USB=n
CONFIG_CRYPTO_ECHAINIV=n
CONFIG_DRM_PANEL_BRIDGE=n
CONFIG_HAVE_ARCH_RANDOMIZE_KSTACK_OFFSET=n
CONFIG_VHOST_ENABLE_FORK_OWNER_CONTROL=n
CONFIG_USB_ANNOUNCE_NEW_DEVICES=n
CONFIG_LEDS_CLASS=n
CONFIG_VIDEO=n
CONFIG_NETFILTER_XT_MATCH_CONNTRACK=n
CONFIG_SND_PROC_FS=n
CONFIG_I2C_ALGOBIT=n
CONFIG_ACPI_DEBUG=n
CONFIG_SCHED_CACHE=n
CONFIG_FIB_RULES=n
CONFIG_NET_VENDOR_MUCSE=n
CONFIG_X86_UMIP=n
CONFIG_EDAC_ATOMIC_SCRUB=n
CONFIG_ZSTD_COMMON=n
CONFIG_VIRTIO_PCI_ADMIN_LEGACY=n
CONFIG_CPU_FREQ_GOV_USERSPACE=n
CONFIG_ARCH_SUPPORTS_LTO_CLANG_THIN=n
CONFIG_TRACE_IRQFLAGS_NMI_SUPPORT=n
CONFIG_INTEGRITY=n
CONFIG_MITIGATION_L1TF=n
CONFIG_NETFILTER_XT_TARGET_SECMARK=n
CONFIG_ARCH_HAS_STRICT_MODULE_RWX=n
CONFIG_GENERIC_BUG_RELATIVE_POINTERS=n
CONFIG_SUNRPC_GSS=n
CONFIG_NF_LOG_SYSLOG=n
CONFIG_HAVE_USER_RETURN_NOTIFIER=n
CONFIG_TASK_XACCT=n
CONFIG_PCMCIA_LOAD_CIS=n
CONFIG_MAC80211=n
CONFIG_HAVE_MOD_ARCH_SPECIFIC=n
CONFIG_ARCH_HAS_MEM_ENCRYPT=n
CONFIG_NET_HANDSHAKE=n
CONFIG_DEBUG_FS=n
CONFIG_ARCH_HAS_SYNC_CORE_BEFORE_USERMODE=n
