CONFIG_ARM64_ERRATUM_1418040=n
CONFIG_USB_DWC3_IMX8MP=n
CONFIG_PINCTRL_TEGRA_XUSB=n
CONFIG_SERIAL_AMBA_PL011=n
CONFIG_SCSI_UFS_ROCKCHIP=n
CONFIG_SND_SOC_RT5514_SPI=n
CONFIG_PINCTRL_MSM=n
CONFIG_PINCTRL_QDF2XXX=n
CONFIG_RTC_DRV_PCF85363=n
CONFIG_PWM_MESON=n
CONFIG_COMMON_CLK_MT7986_ETHSYS=n
CONFIG_X509_CERTIFICATE_PARSER=n
CONFIG_BLK_DEV_WRITE_MOUNTED=n
CONFIG_SM_DISPCC_8550=n
CONFIG_ARCH_SUPPORTS_KEXEC_SIG=n
CONFIG_REGULATOR_BD9571MWV=n
CONFIG_SND_SOC_QDSP6_COMMON=n
CONFIG_RTC_DRV_SNVS=n
CONFIG_ARCH_ENABLE_MEMORY_HOTPLUG=n
CONFIG_SND_SOC_IMX_AUDMUX=n
CONFIG_NET_CLS_ACT=n
CONFIG_HIX5HD2_GMAC=n
CONFIG_PINCTRL_MT6795=n
CONFIG_IPQ_APSS_6018=n
CONFIG_ARCH_SUPPORTS_KEXEC_HANDOVER=n
CONFIG_NETFILTER_XTABLES=n
CONFIG_MSM_GCC_8953=n
CONFIG_COMMON_CLK_MT8186_VDECSYS=n
CONFIG_PINCTRL_SUN50I_A64=n
CONFIG_FIX_EARLYCON_MEM=n
CONFIG_PHY_MIXEL_MIPI_DPHY=n
CONFIG_RTC_DRV_S32G=n
CONFIG_NVME_CORE=n
CONFIG_CLK_ACTIONS=n
CONFIG_PHY_NS2_PCIE=n
CONFIG_ARCH_MA35=n
CONFIG_DRM_RCAR_DW_HDMI=n
CONFIG_CLK_X1P42100_GPUCC=n
CONFIG_ARCH_SUPPORTS_KEXEC_FILE=n
CONFIG_PATA_PLATFORM=n
CONFIG_MODULES=n
CONFIG_VIDEO_IMX8_JPEG=n
CONFIG_QCA808X_PHY=n
CONFIG_BCM2835_VCHIQ=n
CONFIG_CLK_R8A77960=n
CONFIG_CLK_OWL_S500=n
CONFIG_CAN_RCAR_CANFD=n
CONFIG_CC_HAVE_STACKPROTECTOR_SYSREG=n
CONFIG_DMA_COHERENT_POOL=n
CONFIG_DRM_NWL_MIPI_DSI=n
CONFIG_PINCTRL_PFC_R8A77990=n
CONFIG_ARCH_STM32=n
CONFIG_PINCTRL_SM8750=n
CONFIG_ARCH_TEGRA_194_SOC=n
CONFIG_OF_FLATTREE=n
CONFIG_ARCH_KEEMBAY=n
CONFIG_SERIO=n
CONFIG_MAGIC_SYSRQ=n
CONFIG_LEGACY_DIRECT_IO=n
CONFIG_MEMBARRIER=n
CONFIG_NET_DSA_TAG_OCELOT=n
CONFIG_CLK_GLYMUR_DISPCC=n
CONFIG_EFI_ARMSTUB_DTB_LOADER=n
CONFIG_BRCMFMAC=n
CONFIG_SM_CAMCC_8250=n
CONFIG_PHY_SUN4I_USB=n
CONFIG_HISILICON_ERRATUM_161010101=n
CONFIG_PHY_MTK_DP=n
CONFIG_FUTEX_MPOL=n
CONFIG_PINCTRL_SM8250_LPASS_LPI=n
CONFIG_BRCM_USB_PINMAP=n
CONFIG_DRM_DISPLAY_HDCP_HELPER=n
CONFIG_BNX2X_SRIOV=n
CONFIG_SPI_MTK_NOR=n
CONFIG_DRM_PANEL_LVDS=n
CONFIG_PINCTRL_SKY1_BASE=n
CONFIG_DMA_SHARED_BUFFER=n
CONFIG_STM32_FIREWALL=n
CONFIG_WL18XX=n
CONFIG_GOOGLE_CBMEM=n
CONFIG_PHY_QCOM_EDP=n
CONFIG_ATH10K_SDIO=n
CONFIG_SND_SOC_WCD939X=n
CONFIG_MULTIPLEXER=n
CONFIG_FSL_ENETC_PTP_CLOCK=n
CONFIG_PINCTRL_ARMADA_37XX=n
CONFIG_PINCTRL_SUN50I_H5=n
CONFIG_REGULATOR_TPS6594=n
CONFIG_QCOM_INLINE_CRYPTO_ENGINE=n
CONFIG_RTC_DRV_EFI=n
CONFIG_CRC16=n
CONFIG_VIDEO_MESON_VDEC=n
CONFIG_SND_SOC_MESON_T9015=n
CONFIG_RT_MUTEXES=n
CONFIG_CLK_R9A07G044=n
CONFIG_CRYPTO_CCM=n
CONFIG_DRM_SUN4I=n
CONFIG_ATH11K_AHB=n
CONFIG_SM_GPUCC_8750=n
CONFIG_HW_RANDOM=n
CONFIG_PINCTRL_MT6893=n
CONFIG_SQUASHFS_ZLIB=n
CONFIG_INTERCONNECT_QCOM_SM8750=n
CONFIG_SND_SOC_RT5682S=n
CONFIG_ZSTD_DECOMPRESS=n
CONFIG_MDIO_BUS_MUX_BCM_IPROC=n
CONFIG_KEYBOARD_CROS_EC=n
CONFIG_RTC_DRV_TEGRA=n
CONFIG_RTC_DRV_S5M=n
CONFIG_GPIO_XGENE_SB=n
CONFIG_LEDS_GPIO=n
CONFIG_VIDEO_MAX96712=n
CONFIG_CLK_KAANAPALI_VIDEOCC=n
CONFIG_VIDEO_IMX219=n
CONFIG_QCOM_SCM=n
CONFIG_SND_SOC_ES8328=n
CONFIG_QCOM_Q6V5_MSS=n
CONFIG_PINCTRL_ROCKCHIP=n
CONFIG_VIDEOBUF2_VMALLOC=n
CONFIG_HTE=n
CONFIG_ALPINE_MSI=n
CONFIG_INTERCONNECT_QCOM_RPMH=n
CONFIG_MXC_CLK_SCU=n
CONFIG_REGULATOR_DA9211=n
CONFIG_TCG_TIS_I2C_INFINEON=n
CONFIG_VIDEO_MEDIATEK_VCODEC_SCP=n
CONFIG_PT_RECLAIM=n
CONFIG_VIDEO_RCAR_CSI2=n
CONFIG_BT_LEDS=n
CONFIG_PCIE_ALTERA=n
CONFIG_IPQ_GCC_9650=n
CONFIG_SND_SOC_XILINX_AUDIO_FORMATTER=n
CONFIG_INPUT_LEDS=n
CONFIG_PINCTRL_SM6115=n
CONFIG_TYPEC_QCOM_PMIC=n
CONFIG_PNPACPI=n
CONFIG_RZ_MTU3=n
CONFIG_RESET_UNIPHIER=n
CONFIG_DRM_TOSHIBA_TC358768=n
CONFIG_BCMASP=n
CONFIG_SYSC_R8A77960=n
CONFIG_SND_SOC_NAU8825=n
CONFIG_64BIT=n
CONFIG_ROCKCHIP_VOP=n
CONFIG_INPUT_VIVALDIFMAP=n
CONFIG_DM_MIRROR=n
CONFIG_PHY_RZ_G3E_USB3=n
CONFIG_SIGNALFD=n
CONFIG_UEFI_CPER=n
CONFIG_MTD_UBI=n
CONFIG_SERIAL_SH_SCI_CONSOLE=n
CONFIG_ARCH_BINFMT_ELF_STATE=n
CONFIG_TYPEC_MT6360=n
CONFIG_EDAC_LAYERSCAPE=n
CONFIG_SERIAL_SH_SCI_EARLYCON=n
CONFIG_FUTEX_PI=n
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_ARGS=n
CONFIG_GPIO_ZYNQMP_MODEPIN=n
CONFIG_RENESAS_USB_DMAC=n
CONFIG_PINCTRL_MSM8998=n
CONFIG_MFD_ROHM_BD718XX=n
CONFIG_HAVE_MOD_ARCH_SPECIFIC=n
CONFIG_PCI_PWRCTRL_TC9563=n
CONFIG_QCOM_RPMPD=n
CONFIG_MTD_CFI_AMDSTD=n
CONFIG_LLC=n
CONFIG_SYSC_R8A774E1=n
CONFIG_BT_MRVL=n
CONFIG_DRM_MEDIATEK_DP=n
CONFIG_SND_SOC_TEGRA=n
CONFIG_MMC_SDHCI_OF_ESDHC=n
CONFIG_REGULATOR_RK808=n
CONFIG_SND_SIMPLE_CARD_UTILS=n
CONFIG_COMMON_CLK_MT7981=n
CONFIG_USB_MUSB_HDRC=n
CONFIG_SCSI_UFS_HISI=n
CONFIG_EEPROM_AT24=n
CONFIG_TI_K3_PSIL=n
CONFIG_SND_COMPRESS_OFFLOAD=n
CONFIG_QCOM_SMD_RPM=n
CONFIG_V4L2_VP9=n
CONFIG_PINCTRL_ARMADA_CP110=n
CONFIG_RESET_MESON_COMMON=n
CONFIG_NVMEM_LAYOUT_SL28_VPD=n
CONFIG_HW_RANDOM_MTK=n
CONFIG_RANDOMIZE_MODULE_REGION_FULL=n
CONFIG_RESET_RASPBERRYPI=n
CONFIG_REGMAP=n
CONFIG_DRM_CLIENT_DEFAULT_FBDEV=n
CONFIG_ARCH_WANT_DEFAULT_BPF_JIT=n
CONFIG_MMC_SDHCI_ACPI=n
CONFIG_RTC_DRV_XGENE=n
CONFIG_CRYPTO_DEV_FSL_CAAM_RNG_API=n
CONFIG_SND_SOC_MT8188_MT6359=n
CONFIG_KSM=n
CONFIG_PCIE_QCOM_COMMON=n
CONFIG_SND_MESON_AXG_TODDR=n
CONFIG_NFS_V4_2_READ_PLUS=n
CONFIG_USB_MTU3_DUAL_ROLE=n
CONFIG_COMMON_CLK_MT8195_VDECSYS=n
CONFIG_DWMAC_MESON=n
CONFIG_VIDEO_IMX_MIPI_CSIS=n
CONFIG_ARCH_HAVE_TRACE_MMIO_ACCESS=n
CONFIG_IMX_MU_MSI=n
CONFIG_UNIPHIER_THERMAL=n
CONFIG_DRM_EXYNOS_DSI=n
CONFIG_SYS_HYPERVISOR=n
CONFIG_COMMON_CLK_MT8192_MDPSYS=n
CONFIG_USB_OHCI_EXYNOS=n
CONFIG_SM_GCC_8550=n
CONFIG_PCIE_TEGRA194_EP=n
CONFIG_HID_MULTITOUCH=n
CONFIG_IIO_ST_SENSORS_CORE=n
CONFIG_SA_VIDEOCC_8775P=n
CONFIG_TOUCHSCREEN_ATMEL_MXT=n
CONFIG_ROCKCHIP_ERRATUM_3568002=n
CONFIG_SCSI_UFS_MEDIATEK=n
CONFIG_SERIAL_XILINX_PS_UART=n
CONFIG_MMC_SDHCI_IO_ACCESSORS=n
CONFIG_PAGE_POOL=n
CONFIG_FUJITSU_ERRATUM_010001=n
CONFIG_VHOST_MENU=n
CONFIG_RENESAS_OSTM=n
CONFIG_DMIID=n
CONFIG_MEDIATEK_WATCHDOG=n
CONFIG_NUMA_KEEP_MEMINFO=n
CONFIG_CLK_R9A09G077=n
CONFIG_ACPI=n
CONFIG_DRM_RZG2L_MIPI_DSI=n
CONFIG_COMPAT_32BIT_TIME=n
CONFIG_IOMMU_SUPPORT=n
CONFIG_SCSI_COMMON=n
CONFIG_MTD_CFI=n
CONFIG_DRM_AUX_HPD_BRIDGE=n
CONFIG_GENERIC_ARCH_TOPOLOGY=n
CONFIG_SND_HWDEP=n
CONFIG_CRC64_ARCH=n
CONFIG_USB_USBNET=n
CONFIG_REGULATOR_FAN53555=n
CONFIG_NET_VENDOR_CADENCE=n
CONFIG_HBMC_AM654=n
CONFIG_MTK_INFRACFG=n
CONFIG_QCOM_CLK_APCC_MSM8996=n
CONFIG_XILINX_WINDOW_WATCHDOG=n
CONFIG_DRM_PANEL_RAYDIUM_RM67191=n
CONFIG_MTK_TIMER=n
CONFIG_MAILBOX=n
CONFIG_USB_F_RNDIS=n
CONFIG_COMMON_CLK_MT8173_VDECSYS=n
CONFIG_PHY_MESON8B_USB2=n
CONFIG_APPLE_PMGR_PWRSTATE=n
CONFIG_XEN_COMPAT_XENFS=n
CONFIG_COMMON_CLK_MT7988=n
CONFIG_ARM_SCMI_CPUFREQ=n
CONFIG_VIRTIO_PCI_LIB_LEGACY=n
CONFIG_MICREL_PHY=n
CONFIG_PINCTRL_PFC_R8A774C0=n
CONFIG_SQUASHFS_DECOMP_SINGLE=n
CONFIG_COMMON_CLK_MT8183_AUDIOSYS=n
CONFIG_CLK_RENESAS=n
CONFIG_FPGA_MGR_ALTERA_CVP=n
CONFIG_GPIO_ADP5585=n
CONFIG_TYPEC_MUX_GPIO_SBU=n
CONFIG_CRYPTO_LIB_SHA512_ARCH=n
CONFIG_MEDIA_ATTACH=n
CONFIG_ARM64_ERRATUM_858921=n
CONFIG_PNP_DEBUG_MESSAGES=n
CONFIG_ARCH_R8A774E1=n
CONFIG_RTC_CLASS=n
CONFIG_MEMORY=n
CONFIG_IOMMU_IO_PGTABLE_ARMV7S=n
CONFIG_OF_NUMA=n
CONFIG_DP83822_PHY=n
CONFIG_SND_SOC_FSL_ASRC=n
CONFIG_QCOM_LLCC=n
CONFIG_ARM_SMMU_QCOM=n
CONFIG_CLK_R8A779F0=n
CONFIG_DRM_MEDIATEK=n
CONFIG_SA_GPUCC_8775P=n
CONFIG_SERIAL_8250_EM=n
CONFIG_PHY_FSL_IMX8M_PCIE=n
CONFIG_HISILICON_ERRATUM_162100801=n
CONFIG_ARM64_TLB_RANGE=n
CONFIG_USB_ROLE_SWITCH=n
CONFIG_CROS_EC_SYSFS=n
CONFIG_PINCTRL_SOPHGO_SG2000=n
CONFIG_ARM64_ERRATUM_1165522=n
CONFIG_PHY_QCOM_QMP_UFS=n
CONFIG_PINCTRL_MESON_GXBB=n
CONFIG_ATA_SFF=n
CONFIG_ARM_TIMER_SP804=n
CONFIG_PINCTRL_MSM8976=n
CONFIG_MLX5_SW_STEERING=n
CONFIG_HAVE_C_RECORDMCOUNT=n
CONFIG_DRM_MSM_DSI_10NM_PHY=n
CONFIG_PCIE_APPLE=n
CONFIG_ARCH_BCM=n
CONFIG_SND_SOC_FSL_UTILS=n
CONFIG_SERIAL_STM32=n
CONFIG_BGMAC_PLATFORM=n
