CONFIG_ND_CLAIM=n
CONFIG_VDSO_GETRANDOM=n
CONFIG_IRQ_STACKS=n
CONFIG_GENERIC_LIB_DEVMEM_IS_ALLOWED=n
CONFIG_HAS_IOPORT_MAP=n
CONFIG_OID_REGISTRY=n
CONFIG_GPIOLIB=n
CONFIG_UNINLINE_SPIN_UNLOCK=n
CONFIG_HAS_SECURITY_AUDIT=n
CONFIG_HAVE_ARCH_BITREVERSE=n
CONFIG_CAN=n
CONFIG_CRYPTO_KRB5=n
CONFIG_MEDIA_SUPPORT_FILTER=n
CONFIG_BRIDGE=n
CONFIG_CDROM=n
CONFIG_DIMLIB=n
CONFIG_GENERIC_ALLOCATOR=n
CONFIG_HAVE_KERNEL_LZMA=n
CONFIG_DRM_DISPLAY_DP_HELPER=n
CONFIG_CRYPTO_LIB_BLAKE2B=n
CONFIG_WLAN=n
CONFIG_CPU_FREQ_GOV_USERSPACE=n
CONFIG_HAVE_ARCH_KGDB=n
CONFIG_EXT4_FS=n
CONFIG_RAID6_PQ=n
CONFIG_CRYPTO_LIB_SHA512=n
CONFIG_HID_SUPPORT=n
CONFIG_USB_CONFIGFS_MASS_STORAGE=n
CONFIG_FONT_SUPPORT=n
CONFIG_FB_CFB_IMAGEBLIT=n
CONFIG_COMPAT_32BIT_TIME=n
CONFIG_SYSCTL_ARCH_UNALIGN_ALLOW=n
CONFIG_DRM_PANEL_BRIDGE=n
CONFIG_EVENTFD=n
CONFIG_NET_CLS=n
CONFIG_SND_VERBOSE_PROCFS=n
CONFIG_NET_EGRESS=n
CONFIG_MOUSE_PS2_BYD=n
CONFIG_CRYPTO_SKCIPHER=n
CONFIG_OF_KOBJ=n
CONFIG_SUN6I_MSGBOX=n
CONFIG_TASKS_RCU_GENERIC=n
CONFIG_MTD_GEN_PROBE=n
CONFIG_NFS_V4_2_READ_PLUS=n
CONFIG_HAVE_CLK=n
CONFIG_DQL=n
CONFIG_PINCTRL_TH1520=n
CONFIG_BLK_MQ_STACKING=n
CONFIG_EXECMEM=n
CONFIG_MOUSE_PS2_TRACKPOINT=n
CONFIG_RTC_DRV_SUN6I=n
CONFIG_ACPI_GENERIC_GSI=n
CONFIG_VIRTIO_BLK=n
CONFIG_MQ_IOSCHED_KYBER=n
CONFIG_USB_ARCH_HAS_HCD=n
CONFIG_IO_URING_ZCRX=n
CONFIG_RISCV_ISA_FALLBACK=n
CONFIG_ARCH_CANAAN=n
CONFIG_CLK_SOPHGO_SG2042_CLKGEN=n
CONFIG_ACPI_PPTT=n
CONFIG_VFAT_FS=n
CONFIG_USB_EHCI_HCD_PLATFORM=n
CONFIG_NET_VENDOR_NVIDIA=n
CONFIG_IP_VS_RR=n
CONFIG_HAS_IOMEM=n
CONFIG_VIDEO_DEV=n
CONFIG_HAVE_SAMPLE_FTRACE_DIRECT=n
CONFIG_IP_PNP=n
CONFIG_ARM_AMBA=n
CONFIG_PROC_MEM_FORCE_PTRACE=n
CONFIG_GENERIC_PHY=n
CONFIG_NET_VENDOR_CORTINA=n
CONFIG_SERIAL_8250_CONSOLE=n
CONFIG_RISCV_ISA_ZBA=n
CONFIG_HOTPLUG_CPU=n
CONFIG_NETWORK_FILESYSTEMS=n
CONFIG_DWMAC_SUN55I=n
CONFIG_ARCH_DMA_DEFAULT_COHERENT=n
CONFIG_SPARSEMEM_VMEMMAP_ENABLE=n
CONFIG_CRYPTO_ECB=n
CONFIG_SND_DESIGNWARE_I2S=n
CONFIG_XXHASH=n
CONFIG_NOP_USB_XCEIV=n
CONFIG_ARCH_ENABLE_HUGEPAGE_MIGRATION=n
CONFIG_REGULATOR=n
CONFIG_EPROBE_EVENTS=n
CONFIG_CC_IS_GCC=n
CONFIG_PREEMPT_COUNT=n
CONFIG_RISCV_PMU=n
CONFIG_RING_BUFFER=n
CONFIG_ARCH_HAS_NON_OVERLAPPING_ADDRESS_SPACE=n
CONFIG_ARCH_SPACEMIT=n
CONFIG_ACPI_CPPC_LIB=n
CONFIG_NET_VENDOR_NI=n
CONFIG_ARCH_TENSTORRENT=n
CONFIG_SERIAL_8250_PCILIB=n
CONFIG_MTD_CFI=n
CONFIG_BITREVERSE=n
CONFIG_RTC_NVMEM=n
CONFIG_PINCTRL_SUNXI=n
CONFIG_PCI_DOMAINS=n
CONFIG_PINCTRL_SOPHGO_CV1812H=n
CONFIG_TCP_CONG_CUBIC=n
CONFIG_NF_DEFRAG_IPV4=n
CONFIG_NFS_COMMON=n
CONFIG_NET_9P_FD=n
CONFIG_SND_PCM_TIMER=n
CONFIG_DAX=n
CONFIG_CACHESTAT_SYSCALL=n
CONFIG_GENERIC_IRQ_EFFECTIVE_AFF_MASK=n
CONFIG_RISCV_ALTERNATIVE_EARLY=n
CONFIG_FB_IOMEM_FOPS=n
CONFIG_SECURITY_SELINUX=n
CONFIG_BRANCH_PROFILE_NONE=n
CONFIG_GPIO_SPACEMIT_K1=n
CONFIG_RISCV_PMU_SBI=n
CONFIG_CC_HAVE_STACKPROTECTOR_TLS=n
CONFIG_CRYPTO_DEV_ALLWINNER=n
CONFIG_MEDIA_HIDE_ANCILLARY_SUBDRV=n
CONFIG_NET_UDP_TUNNEL=n
CONFIG_SND_SOC_GENERIC_DMAENGINE_PCM=n
CONFIG_QUEUED_RWLOCKS=n
CONFIG_WLAN_VENDOR_INTERSIL=n
CONFIG_ARCH_SIFIVE=n
CONFIG_NET_VENDOR_ASIX=n
CONFIG_TREE_RCU=n
CONFIG_RTC_LIB=n
CONFIG_SUSPEND=n
CONFIG_NET_VENDOR_HISILICON=n
CONFIG_HW_RANDOM_VIRTIO=n
CONFIG_ARCH_SUSPEND_POSSIBLE=n
CONFIG_ARCH_HAS_SET_DIRECT_MAP=n
CONFIG_IPV6_SIT=n
CONFIG_RESET_SPACEMIT_K3=n
CONFIG_NET_VENDOR_NATSEMI=n
CONFIG_SIFIVE_PLIC=n
CONFIG_TOOLCHAIN_NEEDS_EXPLICIT_ZICSR_ZIFENCEI=n
CONFIG_I2C_HELPER_AUTO=n
CONFIG_CRYPTO_HW=n
CONFIG_FB_CFB_COPYAREA=n
CONFIG_XOR_BLOCKS_ARCH=n
CONFIG_POWER_SUPPLY=n
CONFIG_MMU=n
CONFIG_HAVE_GENERIC_TIF_BITS=n
CONFIG_DRM_CLIENT=n
CONFIG_SND_SOC_WM8978=n
CONFIG_ARCH_SUPPORTS_LTO_CLANG=n
CONFIG_PHYS_ADDR_T_64BIT=n
CONFIG_QUEUED_SPINLOCKS=n
CONFIG_I2C_HID=n
CONFIG_MTD_MAP_BANK_WIDTH_2=n
CONFIG_MFD_SPACEMIT_P1=n
CONFIG_ARCH_HIBERNATION_POSSIBLE=n
CONFIG_ERRATA_THEAD_PMU=n
CONFIG_ARCH_DMA_ADDR_T_64BIT=n
CONFIG_XZ_DEC_SPARC=n
CONFIG_ACPI_REDUCED_HARDWARE_ONLY=n
CONFIG_TMPFS_XATTR=n
CONFIG_DWMAC_THEAD=n
CONFIG_MOTORCOMM_PHY=n
CONFIG_USB_PHY=n
CONFIG_ARCH_HAS_KERNEL_FPU_SUPPORT=n
CONFIG_ARCH_HAS_SYNC_DMA_FOR_CPU=n
CONFIG_DEBUG_BUGVERBOSE=n
CONFIG_PHY_SUN4I_USB=n
CONFIG_CRYPTO_AES=n
CONFIG_VIRT_XFER_TO_GUEST_WORK=n
CONFIG_PCI_QUIRKS=n
CONFIG_STACKTRACE=n
CONFIG_EDAC_SUPPORT=n
CONFIG_PCIE_DW=n
CONFIG_RISCV_ISA_VENDOR_EXT_SIFIVE=n
CONFIG_HARDIRQS_SW_RESEND=n
CONFIG_FTRACE=n
CONFIG_FS_POSIX_ACL=n
CONFIG_HAVE_PERF_EVENTS=n
CONFIG_HAVE_KVM_MSI=n
CONFIG_DRM_BRIDGE=n
CONFIG_SND_JACK_INPUT_DEV=n
CONFIG_FRAMEBUFFER_CONSOLE_DETECT_PRIMARY=n
CONFIG_VGA_ARB=n
CONFIG_SYSVIPC=n
CONFIG_DRM_CLIENT_LIB=n
CONFIG_GENERIC_IOREMAP=n
CONFIG_ARCH_HAS_HW_PTE_YOUNG=n
CONFIG_TRACEPOINTS=n
CONFIG_BLK_CGROUP_PUNT_BIO=n
CONFIG_OF_MDIO=n
CONFIG_NET_VENDOR_ADI=n
CONFIG_USB_U_SERIAL=n
CONFIG_ETHERNET=n
CONFIG_NET_VENDOR_ROCKER=n
CONFIG_HAVE_ARCH_SOFT_DIRTY=n
CONFIG_INET_TCP_DIAG=n
CONFIG_PREEMPTION=n
CONFIG_CC_HAS_INT128=n
CONFIG_THERMAL_OF=n
CONFIG_IO_URING=n
CONFIG_CRYPTO_AEAD=n
CONFIG_RESET_EIC7700=n
CONFIG_EVENT_TRACING=n
CONFIG_PM_GENERIC_DOMAINS=n
CONFIG_IPC_NS=n
CONFIG_BLK_DEV_DM_BUILTIN=n
CONFIG_ELF_CORE=n
CONFIG_SWPHY=n
CONFIG_PCIEASPM_DEFAULT=n
CONFIG_LZO_DECOMPRESS=n
CONFIG_PHY_STARFIVE_JH7110_USB=n
CONFIG_REGMAP_SPI=n
CONFIG_NET_VENDOR_QUALCOMM=n
CONFIG_FB_DMAMEM_HELPERS_DEFERRED=n
CONFIG_NF_CONNTRACK_TFTP=n
CONFIG_SCSI_LOWLEVEL=n
CONFIG_NET_VENDOR_DEC=n
CONFIG_CRYPTO_HMAC=n
CONFIG_CONTEXT_SWITCH_TRACER=n
CONFIG_CLK_STARFIVE_JH71X0=n
CONFIG_NET_VENDOR_VIA=n
CONFIG_ARCH_USE_SYM_ANNOTATIONS=n
CONFIG_MEDIA_PLATFORM_SUPPORT=n
CONFIG_HW_RANDOM_JH7110=n
CONFIG_IPVLAN_L3S=n
CONFIG_HUGETLB_PMD_PAGE_TABLE_SHARING=n
CONFIG_RISCV_ISA_SVNAPOT=n
CONFIG_ARCH_WANT_BATCHED_UNMAP_TLB_FLUSH=n
CONFIG_ATA_VERBOSE_ERROR=n
CONFIG_AUXILIARY_BUS=n
CONFIG_ATA_FORCE=n
CONFIG_GENERIC_IRQ_IPI_MUX=n
CONFIG_CAN_CALC_BITTIMING=n
CONFIG_GPIO_DWAPB=n
CONFIG_MFD_AXP20X=n
CONFIG_NET_VENDOR_MYRI=n
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE_PUD=n
CONFIG_HUGETLB_PAGE=n
CONFIG_NET_XGRESS=n
CONFIG_LEGACY_TIOCSTI=n
CONFIG_CPUFREQ_DT_PLATDEV=n
CONFIG_IOSCHED_BFQ=n
CONFIG_NETDEVICES=n
CONFIG_PAGE_COUNTER=n
CONFIG_NET_VENDOR_ALIBABA=n
CONFIG_DNOTIFY=n
CONFIG_STACKTRACE_SUPPORT=n
CONFIG_DYNAMIC_EVENTS=n
CONFIG_STMMAC_PLATFORM=n
CONFIG_MIGRATION=n
CONFIG_USB_CONFIGFS_ECM_SUBSET=n
CONFIG_I3C_OR_I2C=n
CONFIG_SOUND=n
CONFIG_SERIAL_8250_16550A_VARIANTS=n
CONFIG_USB_EHCI_PCI=n
CONFIG_PREVENT_FIRMWARE_BUILD=n
CONFIG_PRINTK_TIME=n
CONFIG_REGULATOR_SUN20I=n
CONFIG_TRACING_SUPPORT=n
CONFIG_CRYPTO_SHA512=n
CONFIG_PAGE_SIZE_LESS_THAN_256KB=n
CONFIG_DRM_CLIENT_DEFAULT_FBDEV=n
CONFIG_SECURITYFS=n
CONFIG_ARCH_HAS_STRICT_KERNEL_RWX=n
CONFIG_HAVE_PREEMPT_DYNAMIC_KEY=n
CONFIG_ARCH_HAS_ELF_RANDOMIZE=n
CONFIG_REGMAP_MMIO=n
CONFIG_SUNRPC=n
CONFIG_RISCV_ISA_VENDOR_EXT_ANDES=n
CONFIG_USB_F_FS=n
CONFIG_ARCH_HAS_UBSAN=n
CONFIG_SSB_POSSIBLE=n
CONFIG_REGMAP_IRQ=n
CONFIG_SMP=n
CONFIG_INPUT_KEYBOARD=n
CONFIG_GENERIC_IDLE_POLL_SETUP=n
CONFIG_POWER_RESET_SYSCON_POWEROFF=n
CONFIG_NF_CT_PROTO_SCTP=n
CONFIG_SPARSE_IRQ=n
CONFIG_NVMEM=n
CONFIG_TREE_SRCU=n
CONFIG_SG_POOL=n
CONFIG_SPI_SIFIVE=n
CONFIG_DMA_ACPI=n
CONFIG_SERIAL_SIFIVE=n
CONFIG_ARCH_HAS_PMEM_API=n
CONFIG_HAVE_RSEQ=n
CONFIG_NET_VENDOR_ALLWINNER=n
CONFIG_SOCK_CGROUP_DATA=n
CONFIG_KVM=n
CONFIG_NET_VENDOR_MUCSE=n
CONFIG_MCHP_CLK_MPFS=n
CONFIG_PWM_PXA=n
CONFIG_USB_OHCI_LITTLE_ENDIAN=n
CONFIG_VIRTIO_INPUT=n
CONFIG_CRYPTO_GCM=n
CONFIG_USB_F_MASS_STORAGE=n
CONFIG_RD_LZO=n
CONFIG_SECURITY_PATH=n
CONFIG_RD_LZ4=n
CONFIG_SERIAL_OF_PLATFORM=n
CONFIG_ACPI_MCFG=n
