CONFIG_SCHED_MM_CID=n
CONFIG_DEVPORT=n
CONFIG_REGMAP_IRQ=n
CONFIG_SYSVIPC=n
CONFIG_RISCV_ISA_V=n
CONFIG_SND_SOC_WM8978=n
CONFIG_MMC_CQHCI=n
CONFIG_SERIAL_OF_PLATFORM=n
CONFIG_ACPI_GENERIC_GSI=n
CONFIG_VT_HW_CONSOLE_BINDING=n
CONFIG_MMC_DW_PLTFM=n
CONFIG_TIMER_PROBE=n
CONFIG_POSIX_MQUEUE_SYSCTL=n
CONFIG_INTEGRITY_AUDIT=n
CONFIG_HAVE_KVM_DIRTY_RING=n
CONFIG_MOUSE_PS2_ALPS=n
CONFIG_CPU_RMAP=n
CONFIG_BLK_MQ_STACKING=n
CONFIG_LOCALVERSION_AUTO=n
CONFIG_ACPI_MDIO=n
CONFIG_PM_GENERIC_DOMAINS_SLEEP=n
CONFIG_NO_HZ_IDLE=n
CONFIG_CLK_SOPHGO_SG2042_CLKGEN=n
CONFIG_RAID6_PQ=n
CONFIG_MTD_CFI_ADV_OPTIONS=n
CONFIG_CRC32=n
CONFIG_CRC_ITU_T=n
CONFIG_NFS_V4_2=n
CONFIG_LIBNVDIMM=n
CONFIG_ACPI_RIMT=n
CONFIG_DRM_NOUVEAU_BACKLIGHT=n
CONFIG_BPF_UNPRIV_DEFAULT_OFF=n
CONFIG_CRYPTO_GCM=n
CONFIG_GENERIC_PINMUX_FUNCTIONS=n
CONFIG_CRYPTO_SKCIPHER=n
CONFIG_BUFFER_HEAD=n
CONFIG_ARCH_SUPPORTS_PAGE_TABLE_CHECK=n
CONFIG_XZ_DEC_POWERPC=n
CONFIG_XPS=n
CONFIG_ARCH_HAS_PREPARE_SYNC_CORE_CMD=n
CONFIG_SECURITY_SELINUX_DEVELOP=n
CONFIG_CPU_FREQ_GOV_PERFORMANCE=n
CONFIG_CRYPTO_SHA256=n
CONFIG_NET_VENDOR_I825XX=n
CONFIG_NF_LOG_ARP=n
CONFIG_LD_CAN_USE_KEEP_IN_OVERLAY=n
CONFIG_DRM_SUN8I_TCON_TOP=n
CONFIG_MOUSE_PS2=n
CONFIG_HRTIMER_REARM_DEFERRED=n
CONFIG_NAMESPACES=n
CONFIG_ARCH_HAS_DMA_PREP_COHERENT=n
CONFIG_WLAN_VENDOR_INTERSIL=n
CONFIG_NOP_TRACER=n
CONFIG_SND_PROC_FS=n
CONFIG_SCSI_PROC_FS=n
CONFIG_SECURITY_APPARMOR_HASH_DEFAULT=n
CONFIG_IP_NF_IPTABLES=n
CONFIG_ARCH_SUPPORTS_PER_VMA_LOCK=n
CONFIG_INITRAMFS_PRESERVE_MTIME=n
CONFIG_GRACE_PERIOD=n
CONFIG_DMIID=n
CONFIG_HAVE_KVM_MSI=n
CONFIG_MTD_BLOCK=n
CONFIG_HAVE_PCI=n
CONFIG_SIFIVE_PLIC=n
CONFIG_DRM_SUN6I_DSI=n
CONFIG_AIO=n
CONFIG_CAN=n
CONFIG_LOCKDEP_SUPPORT=n
CONFIG_ERRATA_SIFIVE_CIP_453=n
CONFIG_NET_VENDOR_EZCHIP=n
CONFIG_UNION_FIND=n
CONFIG_ZONE_DMA32=n
CONFIG_HAVE_PERF_REGS=n
CONFIG_NET_VENDOR_SPACEMIT=n
CONFIG_GPIO_DWAPB=n
CONFIG_ACPI_THERMAL_LIB=n
CONFIG_LIBFDT=n
CONFIG_PERF_EVENTS=n
CONFIG_PAGE_MAPCOUNT=n
CONFIG_TICK_ONESHOT=n
CONFIG_NFS_DISABLE_UDP_SUPPORT=n
CONFIG_NETWORK_FILESYSTEMS=n
CONFIG_SERIAL_8250_PNP=n
CONFIG_UNIX=n
CONFIG_SOFTIRQ_ON_OWN_STACK=n
CONFIG_NET_VENDOR_DAVICOM=n
CONFIG_ARCH_SUPPORTS_RT=n
CONFIG_ARCH_HAS_DEBUG_VIRTUAL=n
CONFIG_DRM_MIPI_DSI=n
CONFIG_ERRATA_THEAD=n
CONFIG_SECURITYFS=n
CONFIG_DRM_NOUVEAU=n
CONFIG_MSDOS_PARTITION=n
CONFIG_FUTEX_PRIVATE_HASH=n
CONFIG_HAVE_PREEMPT_DYNAMIC=n
CONFIG_PCIE_SPACEMIT_K1=n
CONFIG_TENSTORRENT_ATLANTIS_PRCM=n
CONFIG_NET_VENDOR_TI=n
CONFIG_DECOMPRESS_LZO=n
CONFIG_DEBUG_FS_ALLOW_ALL=n
CONFIG_MEMTEST=n
CONFIG_TRACEPOINTS=n
CONFIG_V4L2_FWNODE=n
CONFIG_RISCV_RPMI_SYSMSI=n
CONFIG_GPIO_GENERIC=n
CONFIG_CPUFREQ_DT_PLATDEV=n
CONFIG_XZ_DEC_ARMTHUMB=n
CONFIG_NET_VENDOR_ROCKER=n
CONFIG_ATA_FORCE=n
CONFIG_DRM_CLIENT_SETUP=n
CONFIG_GRO_CELLS=n
CONFIG_HAVE_KERNEL_LZMA=n
CONFIG_IOMMU_DEFAULT_DMA_STRICT=n
CONFIG_PAGE_SIZE_4KB=n
CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE=n
CONFIG_PREEMPT_COUNT=n
CONFIG_TTY=n
CONFIG_PNPACPI=n
CONFIG_FB_SYS_COPYAREA=n
CONFIG_ARCH_HAS_SETUP_DMA_OPS=n
CONFIG_CACHESTAT_SYSCALL=n
CONFIG_PREEMPT_BUILD=n
CONFIG_TRACEFS_AUTOMOUNT_DEPRECATED=n
CONFIG_TREE_SRCU=n
CONFIG_ASN1=n
CONFIG_MTD_GEN_PROBE=n
CONFIG_SPACEMIT_CCU=n
CONFIG_SPI_FSL_QUADSPI=n
CONFIG_CRC16=n
CONFIG_GENERIC_HWEIGHT=n
CONFIG_HAVE_VIRT_CPU_ACCOUNTING_GEN=n
CONFIG_HAVE_ARCH_KSTACK_ERASE=n
CONFIG_PCI_HOST_GENERIC=n
CONFIG_KEYBOARD_SUN4I_LRADC=n
CONFIG_HAVE_FTRACE_GRAPH_FUNC=n
CONFIG_MTD_CFI_I1=n
CONFIG_MICREL_PHY=n
CONFIG_AS_HAS_OPTION_ARCH=n
CONFIG_HID_GENERIC=n
CONFIG_SCHED_MC=n
CONFIG_GENERIC_PENDING_IRQ=n
CONFIG_ARCH_SUPPORTS_MSEAL_SYSTEM_MAPPINGS=n
CONFIG_NET_VENDOR_MUCSE=n
CONFIG_UPROBES=n
CONFIG_POWER_SEQUENCING=n
CONFIG_NET_RX_BUSY_POLL=n
CONFIG_XZ_DEC_ARM=n
CONFIG_RISCV_ISA_ZBKB=n
CONFIG_USB_CONFIGFS_MASS_STORAGE=n
CONFIG_ARCH_HAS_NON_OVERLAPPING_ADDRESS_SPACE=n
CONFIG_NETDEVICES=n
CONFIG_CRYPTO_LIB_BLAKE2B=n
CONFIG_CPU_PM=n
CONFIG_RD_LZMA=n
CONFIG_VIDEO_V4L2_SUBDEV_API=n
CONFIG_SG_POOL=n
CONFIG_RTC_DRV_GOLDFISH=n
CONFIG_REGULATOR_SPACEMIT_P1=n
CONFIG_FHANDLE=n
CONFIG_UTS_NS=n
CONFIG_SERIAL_SIFIVE_CONSOLE=n
CONFIG_DRM_CLIENT_DEFAULT_FBDEV=n
CONFIG_DRM_SCHED=n
CONFIG_PROC_CHILDREN=n
CONFIG_REGMAP_I2C=n
CONFIG_HUGETLBFS=n
CONFIG_JBD2=n
CONFIG_MMC_DW=n
CONFIG_KEYS=n
CONFIG_ARCH_VIRT=n
CONFIG_DEVTMPFS_MOUNT=n
CONFIG_ARCH_PROC_KCORE_TEXT=n
CONFIG_DUMMY_CONSOLE=n
CONFIG_PNFS_FLEXFILE_LAYOUT=n
CONFIG_ACPI_CPPC_LIB=n
CONFIG_SPI_PL022=n
CONFIG_TOOLCHAIN_NEEDS_EXPLICIT_ZICSR_ZIFENCEI=n
CONFIG_GENERIC_BUG=n
CONFIG_RESET_SPACEMIT_K1=n
CONFIG_I3C_OR_I2C=n
CONFIG_ARCH_HAS_MMIOWB=n
CONFIG_NFS_V4_2_READ_PLUS=n
CONFIG_NF_DEFRAG_IPV4=n
CONFIG_SUN20I_D1_CCU=n
CONFIG_GCC_NO_STRINGOP_OVERFLOW=n
CONFIG_ZSTD_DECOMPRESS=n
CONFIG_NET_VENDOR_SOCIONEXT=n
CONFIG_USB_MUSB_SUNXI=n
CONFIG_GENERIC_IRQ_SHOW=n
CONFIG_RTC_SYSTOHC=n
CONFIG_ARCH_HAS_PTE_SPECIAL=n
CONFIG_RWSEM_SPIN_ON_OWNER=n
CONFIG_KALLSYMS=n
CONFIG_VIRTIO_PCI_LIB=n
CONFIG_CLK_STARFIVE_JH7100_AUDIO=n
CONFIG_BFQ_GROUP_IOSCHED=n
CONFIG_RISCV_ISA_SVPBMT=n
CONFIG_VIRTIO_ANCHOR=n
CONFIG_RISCV=n
CONFIG_MQ_IOSCHED_KYBER=n
CONFIG_WLAN_VENDOR_ZYDAS=n
CONFIG_DMA_OF=n
CONFIG_TOOLCHAIN_HAS_ZBB=n
CONFIG_VIRTIO=n
CONFIG_VIRTIO_MMIO=n
CONFIG_PINCTRL_TH1520=n
CONFIG_EXPORTFS=n
CONFIG_PCIE_DW=n
CONFIG_ARCH_STARFIVE=n
CONFIG_ARCH_KEEP_MEMBLOCK=n
CONFIG_GENERIC_BUG_RELATIVE_POINTERS=n
CONFIG_SND_SOC_JH7110_PWMDAC=n
CONFIG_VLAN_8021Q=n
CONFIG_ARCH_HAS_TICK_BROADCAST=n
CONFIG_NF_CONNTRACK=n
CONFIG_RISCV_ISA_ZAWRS=n
CONFIG_VIDEO_CADENCE_CSI2RX=n
CONFIG_BLK_DEV_DM=n
CONFIG_CRYPTO_LIB_UTILS=n
CONFIG_SIFIVE_CCACHE=n
CONFIG_VIRTIO_DMA_SHARED_BUFFER=n
CONFIG_SWAP=n
CONFIG_KVM=n
CONFIG_HAVE_ARCH_HUGE_VMALLOC=n
CONFIG_NO_HZ_COMMON=n
CONFIG_WLAN_VENDOR_MICROCHIP=n
CONFIG_STACKTRACE_SUPPORT=n
CONFIG_PROBE_EVENTS=n
CONFIG_PINCTRL_SOPHGO_CV1800B=n
CONFIG_CRYPTO_HMAC=n
CONFIG_HAVE_64BIT_ALIGNED_ACCESS=n
CONFIG_MIGRATION=n
CONFIG_NET_VENDOR_SYNOPSYS=n
CONFIG_ARCH_FLATMEM_ENABLE=n
CONFIG_RTC_NVMEM=n
CONFIG_DMA_VIRTUAL_CHANNELS=n
CONFIG_ARCH_ENABLE_SPLIT_PMD_PTLOCK=n
CONFIG_INPUT_KEYBOARD=n
CONFIG_CLK_STARFIVE_JH71X0=n
CONFIG_DT_IDLE_STATES=n
CONFIG_EXT4_FS_POSIX_ACL=n
CONFIG_GENERIC_IRQ_SHOW_LEVEL=n
CONFIG_PINCTRL_SUNXI=n
CONFIG_ARCH_HAS_PTDUMP=n
CONFIG_MFD_SIMPLE_MFD_I2C=n
CONFIG_DEBUG_MISC=n
CONFIG_BLK_DEBUG_FS=n
CONFIG_CPU_FREQ_STAT=n
CONFIG_RTC_CLASS=n
CONFIG_USB_XHCI_PLATFORM=n
CONFIG_RESET_STARFIVE_JH71X0=n
CONFIG_DRM_CLIENT_LIB=n
CONFIG_USB_UAS=n
CONFIG_RPMSG_CHAR=n
CONFIG_MAILBOX=n
CONFIG_USB_CDNS3=n
CONFIG_HAS_DMA=n
CONFIG_DRM_NOUVEAU_CH7006=n
CONFIG_CLK_SIFIVE_PRCI=n
CONFIG_NF_LOG_IPV6=n
CONFIG_CPU_FREQ=n
CONFIG_DMA_DECLARE_COHERENT=n
CONFIG_XFRM_ALGO=n
CONFIG_PAGE_COUNTER=n
CONFIG_SMP=n
CONFIG_ACPI_REDUCED_HARDWARE_ONLY=n
CONFIG_NET_VENDOR_AGERE=n
CONFIG_CPUSETS=n
CONFIG_ATA_ACPI=n
CONFIG_NVMEM_LAYOUTS=n
CONFIG_NVMEM_SYSFS=n
CONFIG_SND_DMAENGINE_PCM=n
CONFIG_ARCH_HAS_SET_MEMORY=n
CONFIG_RISCV_IOMMU_PCI=n
CONFIG_NET_VENDOR_LITEX=n
CONFIG_PAGE_REPORTING=n
CONFIG_AUDIT=n
CONFIG_BPF=n
CONFIG_USB_GADGET=n
CONFIG_CPU_FREQ_GOV_ONDEMAND=n
CONFIG_DMA_ACPI=n
CONFIG_ARCH_ENABLE_MEMORY_HOTPLUG=n
CONFIG_SCHED_HRTICK=n
CONFIG_RESET_STARFIVE_JH7110=n
CONFIG_MTD_SPI_NOR_SWP_DISABLE_ON_VOLATILE=n
CONFIG_TUNE_GENERIC=n
CONFIG_ARCH_SUPPORTS_UPROBES=n
CONFIG_KERNFS=n
CONFIG_RISCV_ISA_ZICBOP=n
CONFIG_NET=n
CONFIG_SELECT_MEMORY_MODEL=n
CONFIG_DRM_VIRTIO_GPU_KMS=n
CONFIG_NET_VENDOR_MELLANOX=n
CONFIG_HAVE_KERNEL_XZ=n
CONFIG_MEDIA_SUBDRV_AUTOSELECT=n
CONFIG_RTC_INTF_SYSFS=n
CONFIG_HOTPLUG_PARALLEL=n
CONFIG_DM_BIO_PRISON=n
CONFIG_DUMMY=n
