CONFIG_GENERIC_IDLE_POLL_SETUP=n
CONFIG_CLK_R9A08G046=n
CONFIG_PHY_ROCKCHIP_PCIE=n
CONFIG_VF_TIMER_NONE=n
CONFIG_PHY_HI6220_USB=n
CONFIG_FSL_XGMAC_MDIO=n
CONFIG_ARCH_SEATTLE=n
CONFIG_MICROCHIP_PHY=n
CONFIG_EFI_CAPSULE_LOADER=n
CONFIG_INPUT_HISI_POWERKEY=n
CONFIG_DRM_PANEL_SUMMIT=n
CONFIG_LOCKDEP_SUPPORT=n
CONFIG_PCIE_LAYERSCAPE_GEN4=n
CONFIG_ROCKCHIP_IODOMAIN=n
CONFIG_STRICT_MODULE_RWX=n
CONFIG_BRIDGE_IGMP_SNOOPING=n
CONFIG_ARM64_ERRATUM_4311569=n
CONFIG_PNFS_BLOCK=n
CONFIG_BT_RTL=n
CONFIG_APPLE_SART=n
CONFIG_NVMEM_IMX_OCOTP_SCU=n
CONFIG_CFG80211_USE_KERNEL_REGDB_KEYS=n
CONFIG_OID_REGISTRY=n
CONFIG_ETHTOOL_NETLINK=n
CONFIG_MEDIA_SUPPORT_FILTER=n
CONFIG_VIRTIO=n
CONFIG_PINCTRL_SDM845=n
CONFIG_WLAN_VENDOR_INTERSIL=n
CONFIG_PINCTRL_SUN50I_H616=n
CONFIG_RPMSG_CTRL=n
CONFIG_ARCH_WANTS_THP_SWAP=n
CONFIG_NFS_V4_2_SSC_HELPER=n
CONFIG_SND_SOC_TI_UDMA_PCM=n
CONFIG_SND_SOC_LPASS_HDMI=n
CONFIG_COMMON_CLK_VC3=n
CONFIG_PCIE_ROCKCHIP_HOST=n
CONFIG_DEBUG_FS=n
CONFIG_QCS_VIDEOCC_615=n
CONFIG_LEDS_TRIGGERS=n
CONFIG_RPMSG_QCOM_GLINK=n
CONFIG_CLK_RZV2H=n
CONFIG_PINCTRL_SINGLE=n
CONFIG_TYPEC_FUSB302=n
CONFIG_NET_VENDOR_RENESAS=n
CONFIG_CLK_R8A774B1=n
CONFIG_GARP=n
CONFIG_SDM_GCC_845=n
CONFIG_NET_9P_VIRTIO=n
CONFIG_ARCH_R8A77961=n
CONFIG_DRM_DISPLAY_HDMI_STATE_HELPER=n
CONFIG_IOMMU_DMA=n
CONFIG_INTERCONNECT_QCOM_SDM845=n
CONFIG_TI_SCI_PROTOCOL=n
CONFIG_MMC_SDHCI_XENON=n
CONFIG_DRM_IMX8MP_HDMI_PAI=n
CONFIG_NAMESPACES=n
CONFIG_PCIE_ROCKCHIP=n
CONFIG_FUTEX_MPOL=n
CONFIG_MTD_SPI_NOR=n
CONFIG_HAS_IOMEM=n
CONFIG_DRM_PANEL_HIMAX_HX83112A=n
CONFIG_ARCH_USE_MEMTEST=n
CONFIG_GPIO_VISCONTI=n
CONFIG_VIRTIO_BLK=n
CONFIG_CMA=n
CONFIG_DRM_MSM_GPU_STATE=n
CONFIG_TESLA_FSD_COMMON_CLK=n
CONFIG_GENERIC_IOREMAP=n
CONFIG_UID16=n
CONFIG_QCOM_SMSM=n
CONFIG_MMC_DW_ROCKCHIP=n
CONFIG_NET_VENDOR_SEEQ=n
CONFIG_CLK_R8A77961=n
CONFIG_IMX2_WDT=n
CONFIG_SPI_FSL_DSPI=n
CONFIG_REGULATOR_HI655X=n
CONFIG_MMC_BCM2835=n
CONFIG_PHY_UNIPHIER_USB3=n
CONFIG_KEXEC=n
CONFIG_SMSC911X=n
CONFIG_FUSE_FS=n
CONFIG_SUNRPC_GSS=n
CONFIG_USB_SUPPORT=n
CONFIG_HW_RANDOM_ROCKCHIP=n
CONFIG_CRYPTO_BENCHMARK=n
CONFIG_CLK_R8A774A1=n
CONFIG_PHY_QCOM_PCIE2=n
CONFIG_MUX_MMIO=n
CONFIG_AUDIT_COMPAT_GENERIC=n
CONFIG_GENERIC_GETTIMEOFDAY=n
CONFIG_OF_FLATTREE=n
CONFIG_MMC_STM32_SDMMC=n
CONFIG_ACPI_APEI_EINJ=n
CONFIG_ARCH_HAS_KCOV=n
CONFIG_PINCTRL_MESON=n
CONFIG_SND_SIMPLE_CARD=n
CONFIG_APPLE_AIC=n
CONFIG_GPIO_BCM_XGS_IPROC=n
CONFIG_QCM_DISPCC_2290=n
CONFIG_REGULATOR_MAX8973=n
CONFIG_QCOM_IPCC=n
CONFIG_PRINTK=n
CONFIG_DWMAC_NUVOTON=n
CONFIG_SND_SOC_SOF_MTK_TOPLEVEL=n
CONFIG_ARCH_TEGRA_132_SOC=n
CONFIG_PCIE_RCAR_GEN4_HOST=n
CONFIG_IIO_ST_SENSORS_CORE=n
CONFIG_SPLIT_PMD_PTLOCKS=n
CONFIG_64BIT=n
CONFIG_OF_KOBJ=n
CONFIG_QCOM_INLINE_CRYPTO_ENGINE=n
CONFIG_USB_BRCMSTB=n
CONFIG_SERIAL_TEGRA_TCU=n
CONFIG_TEGRA_BPMP=n
CONFIG_NET_DSA_TAG_BRCM_COMMON=n
CONFIG_CRC7=n
CONFIG_PINCTRL_IMX_SCMI=n
CONFIG_ARCH_HAS_PKEYS=n
CONFIG_CLK_GLYMUR_TCSRCC=n
CONFIG_EFI=n
CONFIG_I2C_BCM2835=n
CONFIG_ARM64_ERRATUM_858921=n
CONFIG_EXYNOS_CHIPID=n
CONFIG_ARM_QCOM_CPUFREQ_HW=n
CONFIG_VIDEO_DEV=n
CONFIG_QCOM_NET_PHYLIB=n
CONFIG_NET_CLS=n
CONFIG_NVMEM_SYSFS=n
CONFIG_DRM_MEDIATEK_HDMI_V2=n
CONFIG_VIDEO_V4L2_SUBDEV_API=n
CONFIG_PINCTRL_STM32MP257=n
CONFIG_IIO_ADC_HELPER=n
CONFIG_POWER_RESET_BRCMSTB=n
CONFIG_BT_HCIBTUSB_POLL_SYNC=n
CONFIG_SND_SOC_QDSP6_APM_LPASS_DAI=n
CONFIG_ARCH_UNIPHIER=n
CONFIG_CLK_QORIQ=n
CONFIG_CLK_KAANAPALI_TCSRCC=n
CONFIG_SND_SOC_USB=n
CONFIG_CRYPTO_AES_ARM64_NEON_BLK=n
CONFIG_LOCALVERSION_AUTO=n
CONFIG_MMC_SDHCI_OF_ARASAN=n
CONFIG_DRM_TOSHIBA_TC358768=n
CONFIG_SND_TIMER=n
CONFIG_COMMON_CLK_MT8183_VENCSYS=n
CONFIG_HARDIRQS_SW_RESEND=n
CONFIG_TI_SCI_CLK=n
CONFIG_ACPI_THERMAL_LIB=n
CONFIG_CAN_CALC_BITTIMING=n
CONFIG_MODULES_TREE_LOOKUP=n
CONFIG_ARM_TEGRA20_CPUFREQ=n
CONFIG_PROC_MEM_FORCE_PTRACE=n
CONFIG_SND_MESON_AXG_PDM=n
CONFIG_MFD_AXP20X_I2C=n
CONFIG_HAVE_FUNCTION_TRACER=n
CONFIG_NET_VENDOR_ALACRITECH=n
CONFIG_HAVE_PERF_REGS=n
CONFIG_BITREVERSE=n
CONFIG_SUNXI_SRAM=n
CONFIG_SND_BCM2835=n
CONFIG_DMA_ACPI=n
CONFIG_CRYPTO_USER_API_ENABLE_OBSOLETE=n
CONFIG_USB_CDNS_HOST=n
CONFIG_NFS_V4_0=n
CONFIG_RTC_DRV_RV3028=n
CONFIG_DRM_KMS_HELPER=n
CONFIG_USB_DWC2=n
CONFIG_ARCH_R9A07G054=n
CONFIG_TRANS_TABLE=n
CONFIG_NVMEM_ROCKCHIP_OTP=n
CONFIG_NET_VENDOR_MELLANOX=n
CONFIG_SND_RAWMIDI=n
CONFIG_CRYPTO_DES=n
CONFIG_ARCH_S32=n
CONFIG_HAVE_ARCH_KFENCE=n
CONFIG_PINCTRL_SM8250=n
CONFIG_CAN_BCM=n
CONFIG_BT_HCIBTUSB_MTK=n
CONFIG_IMX_IRQSTEER=n
CONFIG_SYSTEM_TRUSTED_KEYRING=n
CONFIG_DRM_RCAR_DU=n
CONFIG_HAVE_ARM_SMCCC_DISCOVERY=n
CONFIG_PINCTRL_TEGRA186=n
CONFIG_SCSI_UFS_VARIABLE_SG_ENTRY_SIZE=n
CONFIG_DRM_CLIENT_SETUP=n
CONFIG_PTP_1588_CLOCK_OPTIONAL=n
CONFIG_USB_NET_CDC_SUBSET=n
CONFIG_INTERCONNECT_QCOM_SC7280=n
CONFIG_GENERIC_CSUM=n
CONFIG_PINCTRL_SOPHGO_CV18XX_OPS=n
CONFIG_LEDS_CLASS_FLASH=n
CONFIG_ARCH_NXP=n
CONFIG_SND_SOC_HDMI_CODEC=n
CONFIG_IPQ_GCC_9574=n
CONFIG_SM_DISPCC_8550=n
CONFIG_FUNCTION_ALIGNMENT_4B=n
CONFIG_OPTEE=n
CONFIG_ACPI_BUTTON=n
CONFIG_SSB_POSSIBLE=n
CONFIG_ARM_ARCH_TIMER=n
CONFIG_ARCH_BRCMSTB=n
CONFIG_WLAN=n
CONFIG_PHY_TI_GMII_SEL=n
CONFIG_MTD_SST25L=n
CONFIG_HAVE_FUNCTION_GRAPH_TRACER=n
CONFIG_COMMON_CLK_RP1=n
CONFIG_BNX2X=n
CONFIG_ARCH_USE_QUEUED_RWLOCKS=n
CONFIG_POWER_SUPPLY_HWMON=n
CONFIG_GENERIC_PHY_MIPI_DPHY=n
CONFIG_SND_SOC_SOF_OF_DEV=n
CONFIG_VFIO_GROUP=n
CONFIG_CRYPTO_LIB_SHA256=n
CONFIG_PINCTRL_SM6125=n
CONFIG_SND_SOC_MEDIATEK=n
CONFIG_MFD_DA9062=n
CONFIG_MTK_SMI=n
CONFIG_COMMON_CLK_MT8167=n
CONFIG_QCS_CAMCC_615=n
CONFIG_SND_SOC_IMX_SGTL5000=n
CONFIG_DRM_PANEL_RAYDIUM_RM67191=n
CONFIG_USB_EHCI_HCD_ORION=n
CONFIG_CLK_R8A779H0=n
CONFIG_FSL_EDMA=n
CONFIG_MEMREGION=n
CONFIG_KEYBOARD_GPIO_POLLED=n
CONFIG_NET_9P=n
CONFIG_CLKSRC_MMIO=n
CONFIG_SCSI_SAS_LIBSAS=n
CONFIG_COMMON_CLK_MT8196_MFGCFG=n
CONFIG_FRAME_POINTER=n
CONFIG_TAP=n
CONFIG_FPGA_MGR_STRATIX10_SOC=n
CONFIG_PROC_FS=n
CONFIG_COMMON_CLK_MESON_PLL=n
CONFIG_CLK_KAANAPALI_GPUCC=n
CONFIG_COMMON_CLK_MT8195_VDECSYS=n
CONFIG_DRM_RCAR_LVDS=n
CONFIG_GENERIC_HWEIGHT=n
CONFIG_ASYNC_TX_DISABLE_PQ_VAL_DMA=n
CONFIG_CROS_EC_DEBUGFS=n
CONFIG_SWIOTLB=n
CONFIG_TRACE_GPU_MEM=n
CONFIG_PHY_HISTB_COMBPHY=n
CONFIG_COMMON_CLK_MT8196_MMSYS=n
CONFIG_RESET_RASPBERRYPI=n
CONFIG_QCOMTEE=n
CONFIG_HAVE_DEBUG_KMEMLEAK=n
CONFIG_CRYPTO_DEFLATE=n
CONFIG_ARM64_AMU_EXTN=n
CONFIG_I2C_CADENCE=n
CONFIG_DRM_AUX_HPD_BRIDGE=n
CONFIG_CHARGER_MT6360=n
CONFIG_MAC80211=n
CONFIG_PWM_TEGRA=n
CONFIG_GPIO_SYSCON=n
CONFIG_USB_ULPI=n
CONFIG_I2C_HID_CORE=n
CONFIG_PINCTRL_RZV2M=n
CONFIG_PINCTRL_BCM4908=n
CONFIG_SNI_NETSEC=n
CONFIG_FB_EFI=n
CONFIG_MTK_GPUEB_MBOX=n
CONFIG_HAVE_KRETPROBES=n
CONFIG_PHY_ROCKCHIP_INNO_USB2=n
CONFIG_USB_EHCI_PCI=n
CONFIG_COMMON_CLK_MT6795=n
CONFIG_PINCTRL_MSM8996=n
CONFIG_IP_PNP_DHCP=n
CONFIG_QCOM_EBI2=n
CONFIG_PINCTRL_SM8450=n
CONFIG_MDIO_THUNDER=n
CONFIG_I2C_TEGRA_BPMP=n
CONFIG_CLK_RENESAS_DIV6=n
CONFIG_USER_NS=n
CONFIG_CLK_RK3328=n
CONFIG_SND_SOC_MSM8916_WCD_DIGITAL=n
CONFIG_SDM_DISPCC_845=n
CONFIG_SERIAL_OWL_CONSOLE=n
CONFIG_ARM64_ERRATUM_4193714=n
CONFIG_PCIEAER=n
CONFIG_PINCTRL_IMX91=n
CONFIG_TOUCHSCREEN_GOODIX_BERLIN_CORE=n
CONFIG_COMMON_CLK_EN7523=n
CONFIG_SND_SOC_MSM8916_WCD_ANALOG=n
CONFIG_RTC_DRV_TEGRA=n
CONFIG_MESON_EE_PM_DOMAINS=n
CONFIG_MEDIA_SUPPORT=n
CONFIG_SCSI_UFSHCD=n
CONFIG_NFC_S3FWRN5=n
CONFIG_SCHED_HW_PRESSURE=n
CONFIG_CRYPTO_MD5=n
CONFIG_DRM_PANEL_ORIENTATION_QUIRKS=n
CONFIG_I2C_HID_OF=n
CONFIG_PINCTRL_MT6779=n
CONFIG_ARCH_SUPPORTS_MEMORY_FAILURE=n
CONFIG_SND_SOC_NAU8825=n
CONFIG_MHP_DEFAULT_ONLINE_TYPE_OFFLINE=n
CONFIG_BRCMUTIL=n
CONFIG_SYSC_R8A774E1=n
