CONFIG_YENTA_ENE_TUNE=n
CONFIG_ARCH_SUPPORTS_KMAP_LOCAL_FORCE_MAP=n
CONFIG_NLS=n
CONFIG_XARRAY_MULTI=n
CONFIG_DEBUG_INFO_NONE=n
CONFIG_FW_CACHE=n
CONFIG_VIRTIO_DMA_SHARED_BUFFER=n
CONFIG_HDMI=n
CONFIG_AUDITSYSCALL=n
CONFIG_DEBUG_ENTRY=n
CONFIG_MITIGATION_SPECTRE_BHI=n
CONFIG_EFI=n
CONFIG_NET_VENDOR_NATSEMI=n
CONFIG_AUTOFS_FS=n
CONFIG_ARCH_USE_SYM_ANNOTATIONS=n
CONFIG_X86_CPUID=n
CONFIG_TCP_CONG_CUBIC=n
CONFIG_HID_GYRATION=n
CONFIG_IP_MULTIPLE_TABLES=n
CONFIG_IPV6_SIT=n
CONFIG_ARCH_CONFIGURES_CPU_MITIGATIONS=n
CONFIG_INPUT_FF_MEMLESS=n
CONFIG_MD_BITMAP=n
CONFIG_PERF_EVENTS_AMD_UNCORE=n
CONFIG_ISA_DMA_API=n
CONFIG_MAC80211_RC_DEFAULT_MINSTREL=n
CONFIG_IOMMU_DEFAULT_DMA_LAZY=n
CONFIG_ARCH_SUPPORTS_KEXEC_BZIMAGE_VERIFY_SIG=n
CONFIG_ACPI_MDIO=n
CONFIG_HSU_DMA=n
CONFIG_TASKS_TRACE_RCU=n
CONFIG_CFG80211=n
CONFIG_NET_VENDOR_CISCO=n
CONFIG_ARCH_HAS_SYSCALL_WRAPPER=n
CONFIG_SND_JACK=n
CONFIG_NETFILTER_SKIP_EGRESS=n
CONFIG_PAGE_COUNTER=n
CONFIG_VMSPLIT_3G=n
CONFIG_ARCH_WANTS_NO_INSTR=n
CONFIG_FONT_SUPPORT=n
CONFIG_INTEL_GTT=n
CONFIG_PTP_1588_CLOCK_OPTIONAL=n
CONFIG_EXPORTFS=n
CONFIG_ARCH_USE_QUEUED_SPINLOCKS=n
CONFIG_SERIAL_8250_CONSOLE=n
CONFIG_PCI_MSI=n
CONFIG_CPU_FREQ_GOV_USERSPACE=n
CONFIG_YENTA_O2=n
CONFIG_NF_NAT_IRC=n
CONFIG_GCC10_NO_ARRAY_BOUNDS=n
CONFIG_CC_NO_ARRAY_BOUNDS=n
CONFIG_X86_BUS_LOCK_DETECT=n
CONFIG_PM_TRACE=n
CONFIG_AS_IS_GNU=n
CONFIG_HID_SAMSUNG=n
CONFIG_NETFILTER=n
CONFIG_NET_SCHED=n
CONFIG_X86_DISABLED_FEATURE_LASS=n
CONFIG_RD_GZIP=n
CONFIG_X86_DISABLED_FEATURE_SYSCALL32=n
CONFIG_NEED_PER_CPU_EMBED_FIRST_CHUNK=n
CONFIG_DYNAMIC_EVENTS=n
CONFIG_HAVE_PCI=n
CONFIG_INTEL_TCC=n
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE=n
CONFIG_MOUSE_PS2_LOGIPS2PP=n
CONFIG_ARCH_HAS_FAST_MULTIPLIER=n
CONFIG_HAVE_CMPXCHG_DOUBLE=n
CONFIG_NET_VENDOR_FUNGIBLE=n
CONFIG_PROFILING=n
CONFIG_CRYPTO_HASH2=n
CONFIG_HAVE_PCSPKR_PLATFORM=n
CONFIG_DMA_OPS_HELPERS=n
CONFIG_HAVE_ARCH_KGDB=n
CONFIG_CRYPTO_SIG=n
CONFIG_KMAP_LOCAL=n
CONFIG_RD_LZ4=n
CONFIG_CLOCKSOURCE_WATCHDOG=n
CONFIG_SYSVIPC_SYSCTL=n
CONFIG_X86_DISABLED_FEATURE_IBT=n
CONFIG_UNIX=n
CONFIG_RD_LZO=n
CONFIG_NETFILTER_XT_TARGET_MASQUERADE=n
CONFIG_SURFACE_PLATFORMS=n
CONFIG_NET_VENDOR_MELLANOX=n
CONFIG_NFS_V4=n
CONFIG_NF_NAT_SIP=n
CONFIG_SERIAL_8250_PCILIB=n
CONFIG_X509_CERTIFICATE_PARSER=n
CONFIG_SECCOMP_FILTER=n
CONFIG_ARCH_HAS_STRICT_MODULE_RWX=n
CONFIG_POWER_SUPPLY=n
CONFIG_X86_INTEL_PSTATE=n
CONFIG_UNIX98_PTYS=n
CONFIG_MITIGATION_SRBDS=n
CONFIG_MAC80211_HAS_RC=n
CONFIG_PERF_EVENTS_INTEL_UNCORE=n
CONFIG_X86_UMIP=n
CONFIG_IO_DELAY_0X80=n
CONFIG_NET_DEVMEM=n
CONFIG_SUNRPC=n
CONFIG_CONTEXT_TRACKING=n
CONFIG_RANDOMIZE_KSTACK_OFFSET=n
CONFIG_PGTABLE_HAS_HUGE_LEAVES=n
CONFIG_HAVE_ASM_MODVERSIONS=n
CONFIG_BLK_DEV_WRITE_MOUNTED=n
CONFIG_EPROBE_EVENTS=n
CONFIG_EFI_EARLYCON=n
CONFIG_IP_PNP_RARP=n
CONFIG_EDAC_ATOMIC_SCRUB=n
CONFIG_SND_HDA_HWDEP=n
CONFIG_NET_EGRESS=n
CONFIG_DMA_SHARED_BUFFER=n
CONFIG_EXT4_USE_FOR_EXT2=n
CONFIG_TASK_DELAY_ACCT=n
CONFIG_THERMAL_GOV_STEP_WISE=n
CONFIG_DEBUG_KERNEL=n
CONFIG_NET_VENDOR_ASIX=n
CONFIG_NET_RX_BUSY_POLL=n
CONFIG_SGL_ALLOC=n
CONFIG_WLAN=n
CONFIG_KVFREE_RCU_BATCHED=n
CONFIG_DECOMPRESS_ZSTD=n
CONFIG_GENERIC_SMP_IDLE_THREAD=n
CONFIG_HAVE_HARDLOCKUP_DETECTOR_PERF=n
CONFIG_X86_HV_CALLBACK_VECTOR=n
CONFIG_NET_VENDOR_CAVIUM=n
CONFIG_PROC_FS=n
CONFIG_USE_X86_SEG_SUPPORT=n
CONFIG_WLAN_VENDOR_MEDIATEK=n
CONFIG_NETFILTER_XT_MATCH_CONNTRACK=n
CONFIG_TIGON3=n
CONFIG_PROC_PID_ARCH_STATUS=n
CONFIG_BLK_DEV=n
CONFIG_THERMAL_HWMON=n
CONFIG_EVENTFD=n
CONFIG_USER_STACKTRACE_SUPPORT=n
CONFIG_SND_PCM=n
CONFIG_I2C_HELPER_AUTO=n
CONFIG_POSIX_TIMERS=n
CONFIG_SCHED_INFO=n
CONFIG_HAVE_STACKPROTECTOR=n
CONFIG_NF_CONNTRACK_SECMARK=n
CONFIG_CRYPTO_MANAGER=n
CONFIG_IP_MROUTE=n
CONFIG_SLUB=n
CONFIG_ARCH_32BIT_OFF_T=n
CONFIG_X86_ESPFIX32=n
CONFIG_X86_TSC=n
CONFIG_BPF=n
CONFIG_GENERIC_IRQ_RESERVATION_MODE=n
CONFIG_BNX2=n
CONFIG_DEVPORT=n
CONFIG_KEYS=n
CONFIG_NFS_V4_0=n
CONFIG_FREEZER=n
CONFIG_CPU_FREQ_GOV_ATTR_SET=n
CONFIG_DECOMPRESS_BZIP2=n
CONFIG_X86_MCE_INTEL=n
CONFIG_FAILOVER=n
CONFIG_NO_HZ_IDLE=n
CONFIG_NETWORK_FILESYSTEMS=n
CONFIG_MITIGATION_MDS=n
CONFIG_USB_HIDDEV=n
CONFIG_NETCONSOLE=n
CONFIG_HAVE_C_RECORDMCOUNT=n
CONFIG_NET_XGRESS=n
CONFIG_SERIAL_8250_LPSS=n
CONFIG_CRYPTO_SIG2=n
CONFIG_CC_HAS_ASM_INLINE=n
CONFIG_CPU_IDLE_GOV_HALTPOLL=n
CONFIG_X86_DISABLED_FEATURE_UNRET=n
CONFIG_QUEUED_RWLOCKS=n
CONFIG_HID_GENERIC=n
CONFIG_DRM_VIRTIO_GPU=n
CONFIG_E1000E_HWTS=n
CONFIG_PM_TRACE_RTC=n
CONFIG_CRYPTO_AES=n
CONFIG_GENERIC_IRQ_EFFECTIVE_AFF_MASK=n
CONFIG_ACPI_VIDEO=n
CONFIG_DRM_DISPLAY_HDMI_HELPER=n
CONFIG_I2C_HID=n
CONFIG_CGROUP_HUGETLB=n
CONFIG_HAVE_EISA=n
CONFIG_CRYPTO_SKCIPHER=n
CONFIG_FIRMWARE_MEMMAP=n
CONFIG_SERIAL_8250_RSA=n
CONFIG_KCMP=n
CONFIG_VIDEO=n
CONFIG_DRM_DISPLAY_HDCP_HELPER=n
CONFIG_CGROUPS=n
CONFIG_NET_VENDOR_TI=n
CONFIG_HAS_DMA=n
CONFIG_RD_XZ=n
CONFIG_CC_HAS_MARCH_NATIVE=n
CONFIG_MODULE_UNLOAD=n
CONFIG_HAVE_EXIT_THREAD=n
CONFIG_PAGE_SIZE_LESS_THAN_64KB=n
CONFIG_ARCH_SUPPORTS_DEBUG_PAGEALLOC=n
CONFIG_X86_DISABLED_FEATURE_PKU=n
CONFIG_NET_9P=n
CONFIG_GENERIC_IRQ_MATRIX_ALLOCATOR=n
CONFIG_PHY_PACKAGE=n
CONFIG_HID_SONY=n
CONFIG_CRYPTO_LIB_ARC4=n
CONFIG_MIGRATION=n
CONFIG_HAVE_SYSCALL_TRACEPOINTS=n
CONFIG_ARCH_WANTS_DYNAMIC_TASK_STRUCT=n
CONFIG_NET_VENDOR_NVIDIA=n
CONFIG_ARCH_HAS_NMI_SAFE_THIS_CPU_OPS=n
CONFIG_HOTPLUG_CPU=n
CONFIG_PRINTK_TIME=n
CONFIG_TIME_NS_VDSO=n
CONFIG_NET_VENDOR_SILAN=n
CONFIG_NET_VENDOR_PENSANDO=n
CONFIG_INPUT=n
CONFIG_PERF_EVENTS_INTEL_CSTATE=n
CONFIG_SERIAL_8250_SHARE_IRQ=n
CONFIG_NET_HANDSHAKE=n
CONFIG_NET_VENDOR_DAVICOM=n
CONFIG_X86_IOPL_IOPERM=n
CONFIG_WLAN_VENDOR_RSI=n
CONFIG_TOOLS_SUPPORT_RELR=n
CONFIG_PNP=n
CONFIG_SND_DMA_SGBUF=n
CONFIG_WERROR=n
CONFIG_SND_HWDEP=n
CONFIG_ARCH_HAS_DEVMEM_IS_ALLOWED=n
CONFIG_PCI_LABEL=n
CONFIG_GENERIC_CPU_DEVICES=n
CONFIG_NFS_ACL_SUPPORT=n
CONFIG_NET=n
CONFIG_KPROBE_EVENTS=n
CONFIG_SERIAL_8250_MID=n
CONFIG_HID_NTRIG=n
CONFIG_BINARY_PRINTF=n
CONFIG_PATA_AMD=n
CONFIG_HAVE_DYNAMIC_FTRACE=n
CONFIG_I2C=n
CONFIG_EEEPC_LAPTOP=n
CONFIG_X86_NEED_RELOCS=n
CONFIG_ACPI=n
CONFIG_MITIGATION_RETBLEED=n
CONFIG_RANDOMIZE_BASE=n
CONFIG_MODIFY_LDT_SYSCALL=n
CONFIG_TRACE_IRQFLAGS_NMI_SUPPORT=n
CONFIG_ARCH_HAS_MEMBARRIER_SYNC_CORE=n
CONFIG_CPU_SUP_TRANSMETA_32=n
CONFIG_IPV6_NDISC_NODETYPE=n
CONFIG_NET_IP_TUNNEL=n
CONFIG_INPUT_TOUCHSCREEN=n
CONFIG_WLAN_VENDOR_ATH=n
CONFIG_CRC_OPTIMIZATIONS=n
CONFIG_CONSOLE_TRANSLATIONS=n
CONFIG_NO_HZ_COMMON=n
CONFIG_HOTPLUG_PCI=n
CONFIG_SERIAL_8250_DWLIB=n
CONFIG_RFKILL_INPUT=n
CONFIG_ARCH_HIBERNATION_HEADER=n
CONFIG_RTC_DRV_CMOS=n
CONFIG_PCCARD=n
CONFIG_DRM_I915_USERPTR=n
CONFIG_ARCH_SUPPORTS_KEXEC_SIG=n
CONFIG_ARCH_HAS_CPU_RELAX=n
CONFIG_DEVTMPFS_MOUNT=n
CONFIG_AGP_INTEL=n
CONFIG_SCHED_OMIT_FRAME_POINTER=n
CONFIG_CRYPTO_LZO=n
CONFIG_GENERIC_IRQ_MIGRATION=n
CONFIG_CRYPTO_SKCIPHER2=n
CONFIG_NF_DEFRAG_IPV6=n
CONFIG_VIRTIO_CONSOLE=n
CONFIG_SSB_POSSIBLE=n
CONFIG_SPARSE_IRQ=n
CONFIG_MAGIC_SYSRQ_SERIAL=n
CONFIG_IO_URING=n
CONFIG_PATA_OLDPIIX=n
CONFIG_SND_INTEL_SOUNDWIRE_ACPI=n
CONFIG_NEED_PER_CPU_PAGE_FIRST_CHUNK=n
CONFIG_ARCH_HAS_UBSAN=n
CONFIG_INET6_ESP=n
CONFIG_IP_PNP_DHCP=n
CONFIG_MMU_GATHER_MERGE_VMAS=n
CONFIG_NET_VENDOR_MICROSOFT=n
CONFIG_ADVISE_SYSCALLS=n
CONFIG_NETFILTER_NETLINK_LOG=n
CONFIG_GENERIC_BUG=n
CONFIG_NET_VENDOR_MYRI=n
CONFIG_INET_TUNNEL=n
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO=n
CONFIG_NET_VENDOR_HISILICON=n
CONFIG_DECOMPRESS_LZO=n
CONFIG_HUGETLB_PAGE=n
CONFIG_BQL=n
CONFIG_SND_SEQ_DUMMY=n
CONFIG_ACPI_EC=n
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST_IDLE=n
CONFIG_ARCH_HAS_CPU_FINALIZE_INIT=n
CONFIG_SND_TIMER=n
CONFIG_MITIGATION_SPECTRE_V2=n
