CONFIG_BINFMT_MISC=n
CONFIG_ACPI_AC=n
CONFIG_AGP_AMD64=n
CONFIG_PM_TRACE=n
CONFIG_WLAN_VENDOR_MEDIATEK=n
CONFIG_KCMP=n
CONFIG_UNWINDER_ORC=n
CONFIG_NET_VENDOR_NATSEMI=n
CONFIG_ARCH_CONFIGURES_CPU_MITIGATIONS=n
CONFIG_RWSEM_SPIN_ON_OWNER=n
CONFIG_NET_VENDOR_BROCADE=n
CONFIG_XXHASH=n
CONFIG_ARCH_SUPPORTS_RT=n
CONFIG_USB_ARCH_HAS_HCD=n
CONFIG_HW_RANDOM=n
CONFIG_ARCH_SUPPORTS_AUTOFDO_CLANG=n
CONFIG_HIGH_RES_TIMERS=n
CONFIG_DMA_OPS_HELPERS=n
CONFIG_CRYPTO_ECB=n
CONFIG_FAILOVER=n
CONFIG_PCI_DIRECT=n
CONFIG_WLAN_VENDOR_MARVELL=n
CONFIG_X86_LOCAL_APIC=n
CONFIG_RTC_INTF_PROC=n
CONFIG_THERMAL_HWMON=n
CONFIG_HAVE_PCSPKR_PLATFORM=n
CONFIG_SWAP=n
CONFIG_IP_PNP_RARP=n
CONFIG_KERNEL_GZIP=n
CONFIG_YENTA_ENE_TUNE=n
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST=n
CONFIG_DECOMPRESS_LZMA=n
CONFIG_HAVE_BUILDTIME_MCOUNT_SORT=n
CONFIG_X86_DEBUG_FPU=n
CONFIG_HAVE_PERF_EVENTS_NMI=n
CONFIG_I2C_ALGOBIT=n
CONFIG_AUDIT=n
CONFIG_COMPAT=n
CONFIG_PREEMPTION=n
CONFIG_DEBUG_BOOT_PARAMS=n
CONFIG_HAVE_KERNEL_LZMA=n
CONFIG_CGROUP_RDMA=n
CONFIG_PCCARD_NONSTATIC=n
CONFIG_DNOTIFY=n
CONFIG_PCI_LABEL=n
CONFIG_JBD2=n
CONFIG_ARCH_CPUIDLE_HALTPOLL=n
CONFIG_NET_VENDOR_SAMSUNG=n
CONFIG_SND_X86=n
CONFIG_SMP=n
CONFIG_SND_SEQ_DEVICE=n
CONFIG_ARCH_WANT_OPTIMIZE_DAX_VMEMMAP=n
CONFIG_TREE_SRCU=n
CONFIG_SPARSEMEM=n
CONFIG_HAVE_FENTRY=n
CONFIG_ARCH_PROC_KCORE_TEXT=n
CONFIG_MODULE_FORCE_UNLOAD=n
CONFIG_SUNRPC_GSS=n
CONFIG_NET_PTP_CLASSIFY=n
CONFIG_VM_EVENT_COUNTERS=n
CONFIG_USB_EHCI_TT_NEWSCHED=n
CONFIG_HUGETLB_PMD_PAGE_TABLE_SHARING=n
CONFIG_NETFS_SUPPORT=n
CONFIG_EPROBE_EVENTS=n
CONFIG_GRACE_PERIOD=n
CONFIG_WLAN_VENDOR_ZYDAS=n
CONFIG_MAILBOX=n
CONFIG_CC_HAS_MARCH_NATIVE=n
CONFIG_IO_URING_BPF=n
CONFIG_HIDRAW=n
CONFIG_HAVE_CALL_THUNKS=n
CONFIG_GENERIC_EARLY_IOREMAP=n
CONFIG_CPUSETS=n
CONFIG_HAVE_HARDLOCKUP_DETECTOR_BUDDY=n
CONFIG_ATA=n
CONFIG_QUOTA_TREE=n
CONFIG_ACPI_REV_OVERRIDE_POSSIBLE=n
CONFIG_ARCH_HAS_STRICT_KERNEL_RWX=n
CONFIG_EFI_STUB=n
CONFIG_HAVE_POSIX_CPU_TIMERS_TASK_WORK=n
CONFIG_HID_GENERIC=n
CONFIG_HPET=n
CONFIG_ARCH_HAS_CACHE_LINE_SIZE=n
CONFIG_INPUT_TOUCHSCREEN=n
CONFIG_USB_STORAGE=n
CONFIG_EVENTFD=n
CONFIG_X86_TSC=n
CONFIG_RD_BZIP2=n
CONFIG_ARCH_USE_QUEUED_RWLOCKS=n
CONFIG_SECURITY_SELINUX=n
CONFIG_ATA_ACPI=n
CONFIG_RTC_I2C_AND_SPI=n
CONFIG_ARCH_HAS_CPU_ATTACK_VECTORS=n
CONFIG_SCHED_SMT=n
CONFIG_DEBUG_DEVRES=n
CONFIG_NET_VENDOR_RDC=n
CONFIG_CPU_FREQ_GOV_COMMON=n
CONFIG_HAS_IOPORT=n
CONFIG_ACPI_TABLE_UPGRADE=n
CONFIG_TIGON3_HWMON=n
CONFIG_NET_VENDOR_EMULEX=n
CONFIG_8139TOO=n
CONFIG_SHMEM=n
CONFIG_XZ_DEC_POWERPC=n
CONFIG_DRM_DISPLAY_HDMI_HELPER=n
CONFIG_ARCH_HAS_FAST_MULTIPLIER=n
CONFIG_BLK_DEV_LOOP=n
CONFIG_PHYLIB=n
CONFIG_ARCH_MIGHT_HAVE_PC_PARPORT=n
CONFIG_LOCK_DEBUGGING_SUPPORT=n
CONFIG_UNION_FIND=n
CONFIG_CRYPTO_AEAD=n
CONFIG_SND_INTEL_NHLT=n
CONFIG_X86_HV_CALLBACK_VECTOR=n
CONFIG_FUNCTION_ALIGNMENT_4B=n
CONFIG_HOTPLUG_CPU=n
CONFIG_FS_IOMAP=n
CONFIG_PAGE_POOL=n
CONFIG_ARCH_HAS_GIGANTIC_PAGE=n
CONFIG_SERIAL_8250_MANY_PORTS=n
CONFIG_X86_KERNEL_IBT=n
CONFIG_NAMESPACES=n
CONFIG_DRM_MIPI_DSI=n
CONFIG_DNS_RESOLVER=n
CONFIG_X86_CHECK_BIOS_CORRUPTION=n
CONFIG_ACPI_LEGACY_TABLES_LOOKUP=n
CONFIG_GCC10_NO_ARRAY_BOUNDS=n
CONFIG_VMCORE_INFO=n
CONFIG_NET_VENDOR_AMD=n
CONFIG_SECCOMP=n
CONFIG_MSDOS_FS=n
CONFIG_HAVE_ARCH_HUGE_VMAP=n
CONFIG_ARCH_SUPPORTS_ATOMIC_RMW=n
CONFIG_RTC_INTF_SYSFS=n
CONFIG_APERTURE_HELPERS=n
CONFIG_HALTPOLL_CPUIDLE=n
CONFIG_DRM_PANEL_BRIDGE=n
CONFIG_HAVE_FUNCTION_TRACER=n
CONFIG_HAVE_KERNEL_GZIP=n
CONFIG_GCC_ASM_GOTO_OUTPUT_BROKEN=n
CONFIG_ARCH_SUPPORTS_CRASH_HOTPLUG=n
CONFIG_NET_IP_TUNNEL=n
CONFIG_NET_VENDOR_XILINX=n
CONFIG_MODULES=n
CONFIG_NETFILTER_XT_MATCH_ADDRTYPE=n
CONFIG_MOUSE_PS2_LIFEBOOK=n
CONFIG_AUDITSYSCALL=n
CONFIG_HAVE_HW_BREAKPOINT=n
CONFIG_ARCH_VMLINUX_NEEDS_RELOCS=n
CONFIG_CRC_CCITT=n
CONFIG_BUILDTIME_TABLE_SORT=n
CONFIG_ARCH_HAS_CPU_RELAX=n
CONFIG_IOMMU_PT_AMDV1=n
CONFIG_PREEMPT_COUNT=n
CONFIG_XARRAY_MULTI=n
CONFIG_FHANDLE=n
CONFIG_MOUSE_PS2_TRACKPOINT=n
CONFIG_MICROCODE=n
CONFIG_X86_PLATFORM_DEVICES=n
CONFIG_HAVE_ARCH_TRACEHOOK=n
CONFIG_X86_MCE_THRESHOLD=n
CONFIG_ACPI_EC=n
CONFIG_EXPORTFS=n
CONFIG_FWNODE_MDIO=n
CONFIG_CPUFREQ_ARCH_CUR_FREQ=n
CONFIG_I2C=n
CONFIG_PATA_AMD=n
CONFIG_CGROUP_PERF=n
CONFIG_RUNTIME_TESTING_MENU=n
CONFIG_STACKPROTECTOR_STRONG=n
CONFIG_WLAN_VENDOR_TI=n
CONFIG_DECOMPRESS_LZ4=n
CONFIG_IRQ_REMAP=n
CONFIG_NET_FAILOVER=n
CONFIG_SND_USB=n
CONFIG_ARCH_WANT_IRQS_OFF_ACTIVATE_MM=n
CONFIG_SERIAL_8250_EXAR=n
CONFIG_NET_VENDOR_SOCIONEXT=n
CONFIG_XZ_DEC_ARMTHUMB=n
CONFIG_NET_VENDOR_SIS=n
CONFIG_IOMMU_PT_X86_64=n
CONFIG_DMA_NEED_SYNC=n
CONFIG_ARCH_SUPPORTS_LTO_CLANG_THIN=n
CONFIG_X86_MCE=n
CONFIG_IP_PNP_DHCP=n
CONFIG_PRINTK=n
CONFIG_NEED_PER_CPU_EMBED_FIRST_CHUNK=n
CONFIG_ISO9660_FS=n
CONFIG_SOCK_CGROUP_DATA=n
CONFIG_INET_TUNNEL=n
CONFIG_IRQ_DOMAIN_HIERARCHY=n
CONFIG_PT_RECLAIM=n
CONFIG_HAVE_REGS_AND_STACK_ACCESS_API=n
CONFIG_WATCHDOG_HANDLE_BOOT_ENABLED=n
CONFIG_DRM_KMS_HELPER=n
CONFIG_PCMCIA_LOAD_CIS=n
CONFIG_GENERIC_TRACER=n
CONFIG_AGP_INTEL=n
CONFIG_ARCH_WANTS_CLOCKSOURCE_READ_INLINE=n
CONFIG_MQ_IOSCHED_KYBER=n
CONFIG_BINARY_PRINTF=n
CONFIG_PAGE_SIZE_LESS_THAN_256KB=n
CONFIG_SND_VMASTER=n
CONFIG_FAT_FS=n
CONFIG_YENTA_TI=n
CONFIG_ARCH_HAS_DEVMEM_IS_ALLOWED=n
CONFIG_ARCH_HAS_UACCESS_FLUSHCACHE=n
CONFIG_UID16=n
CONFIG_MEMFD_CREATE=n
CONFIG_SWIOTLB=n
CONFIG_ARCH_USE_BUILTIN_BSWAP=n
CONFIG_NETFILTER_NETLINK_LOG=n
CONFIG_USB_PCI=n
CONFIG_RANDOMIZE_BASE=n
CONFIG_X86_REQUIRED_FEATURE_NOPL=n
CONFIG_ACPI_THERMAL_LIB=n
CONFIG_NFS_V4=n
CONFIG_PCI_ATS=n
CONFIG_NET_VENDOR_NI=n
CONFIG_AS_IS_GNU=n
CONFIG_X86_VSYSCALL_EMULATION=n
CONFIG_ETHERNET=n
CONFIG_PGTABLE_HAS_HUGE_LEAVES=n
CONFIG_NET_VENDOR_CISCO=n
CONFIG_CRYPTO=n
CONFIG_XZ_DEC_SPARC=n
CONFIG_PCSPKR_PLATFORM=n
CONFIG_X86_SUPPORTS_MEMORY_FAILURE=n
CONFIG_INET=n
CONFIG_VDSO_GETRANDOM=n
CONFIG_FONT_AUTOSELECT=n
CONFIG_IOMMU_SVA=n
CONFIG_PCI_DOMAINS=n
CONFIG_IOMMU_DMA=n
CONFIG_HAVE_CONTEXT_TRACKING_USER_OFFSTACK=n
CONFIG_MD=n
CONFIG_GENERIC_SYSCALL=n
CONFIG_ARCH_WANT_GENERAL_HUGETLB=n
CONFIG_ARCH_SUPPORTS_KMAP_LOCAL_FORCE_MAP=n
CONFIG_XZ_DEC=n
CONFIG_CC_HAS_ASM_INLINE=n
CONFIG_NET_VENDOR_QUALCOMM=n
CONFIG_VIRTIO=n
CONFIG_WLAN_VENDOR_REALTEK=n
CONFIG_ACPI_MRRM=n
CONFIG_LOCKDEP_SUPPORT=n
CONFIG_IO_WQ=n
CONFIG_SYSTEM_TRUSTED_KEYRING=n
CONFIG_HAVE_RELIABLE_STACKTRACE=n
CONFIG_HAVE_ARCH_KCSAN=n
CONFIG_MISC_FILESYSTEMS=n
CONFIG_HAVE_FUNCTION_ARG_ACCESS_API=n
CONFIG_CRYPTO_ECHAINIV=n
CONFIG_PCI_LOCKLESS_CONFIG=n
CONFIG_VIDEO=n
CONFIG_MMU_GATHER_MERGE_VMAS=n
CONFIG_CRYPTO_LIB_ARC4=n
CONFIG_NET_VENDOR_PENSANDO=n
CONFIG_RELOCATABLE=n
CONFIG_HAVE_FTRACE_REGS_HAVING_PT_REGS=n
CONFIG_HAVE_ARCH_PREL32_RELOCATIONS=n
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE=n
CONFIG_GENERIC_CLOCKEVENTS_COUPLED_INLINE=n
CONFIG_HAVE_PV_STEAL_CLOCK_GEN=n
CONFIG_MAC80211_RC_DEFAULT_MINSTREL=n
CONFIG_ARCH_HAS_SYNC_CORE_BEFORE_USERMODE=n
CONFIG_SERIO_LIBPS2=n
CONFIG_LEGACY_TIOCSTI=n
CONFIG_NFS_V3_ACL=n
CONFIG_SND_PROC_FS=n
CONFIG_HAVE_KERNEL_LZO=n
CONFIG_XZ_DEC_ARM=n
CONFIG_CRYPTO_AKCIPHER2=n
CONFIG_X86_REROUTE_FOR_BROKEN_BOOT_IRQS=n
CONFIG_XPS=n
CONFIG_PATA_OLDPIIX=n
CONFIG_MMU_GATHER_RCU_TABLE_FREE=n
CONFIG_MMU=n
CONFIG_NF_CONNTRACK_IRC=n
CONFIG_HAVE_FUNCTION_ERROR_INJECTION=n
CONFIG_IP_PNP_BOOTP=n
CONFIG_SND_INTEL_SOUNDWIRE_ACPI=n
CONFIG_HAVE_STACKPROTECTOR=n
CONFIG_ARCH_USE_MEMREMAP_PROT=n
CONFIG_FILE_LOCKING=n
CONFIG_HIBERNATION_SNAPSHOT_DEV=n
CONFIG_SND_HDA_CORE=n
CONFIG_USB_EHCI_HCD=n
CONFIG_WLAN_VENDOR_BROADCOM=n
CONFIG_PROBE_EVENTS=n
CONFIG_RETHOOK=n
CONFIG_BLK_CGROUP_IOPRIO=n
CONFIG_WLAN_VENDOR_QUANTENNA=n
CONFIG_NLS_CODEPAGE_437=n
CONFIG_ARCH_WANT_DEFAULT_BPF_JIT=n
CONFIG_9P_FS=n
CONFIG_USB_COMMON=n
CONFIG_POSIX_TIMERS=n
CONFIG_VMAP_STACK=n
CONFIG_HOTPLUG_CORE_SYNC_DEAD=n
