CONFIG_SYSC_R8A779H0=n
CONFIG_SND_USB_AUDIO_USE_MEDIA_CONTROLLER=n
CONFIG_CROS_TYPEC_SWITCH=n
CONFIG_RAID6_PQ_ARCH=n
CONFIG_SND_SOC_MT8192=n
CONFIG_TRANSPARENT_HUGEPAGE_TMPFS_HUGE_NEVER=n
CONFIG_MEMBARRIER=n
CONFIG_RESET_MESON_COMMON=n
CONFIG_CRYPTO_ALGAPI=n
CONFIG_DRM_VRAM_HELPER=n
CONFIG_RTC_HCTOSYS=n
CONFIG_VIDEO_OV5640=n
CONFIG_DRM_IMX_DCSS=n
CONFIG_MTK_MFG_PM_DOMAIN=n
CONFIG_TEGRA186_GPC_DMA=n
CONFIG_DRM_NOUVEAU_SIL164=n
CONFIG_INTERCONNECT_QCOM_SM8750=n
CONFIG_ARM64_ERRATUM_1508412=n
CONFIG_CAVIUM_ERRATUM_23144=n
CONFIG_CAN_RCAR_CANFD=n
CONFIG_QCOM_Q6V5_MSS=n
CONFIG_THUNDERX2_PMU=n
CONFIG_REGULATOR_CROS_EC=n
CONFIG_DRM_PANEL_SIMPLE=n
CONFIG_BINFMT_ELF=n
CONFIG_ARCH_NPCM=n
CONFIG_IPMI_HANDLER=n
CONFIG_LOCKD=n
CONFIG_MEDIA_SUPPORT_FILTER=n
CONFIG_SPI_APPLE=n
CONFIG_MDIO_GPIO=n
CONFIG_TRACE_IRQFLAGS_NMI_SUPPORT=n
CONFIG_ARM64_CONTPTE=n
CONFIG_SPI_RPCIF=n
CONFIG_ATH_COMMON=n
CONFIG_MOUSE_PS2=n
CONFIG_PHY_CADENCE_DPHY_RX=n
CONFIG_NAMESPACES=n
CONFIG_ARCH_BRCMSTB=n
CONFIG_CRYPTO_DEV_HISI_QM=n
CONFIG_ACPI_PROCESSOR=n
CONFIG_MSM_GCC_8916=n
CONFIG_SPI_MT65XX=n
CONFIG_ARCH_SUPPORTS_PAGE_TABLE_CHECK=n
CONFIG_REGMAP_SLIMBUS=n
CONFIG_SND_ALOOP=n
CONFIG_DCACHE_WORD_ACCESS=n
CONFIG_NETFILTER_XT_MARK=n
CONFIG_ACPI_GTDT=n
CONFIG_SOCK_CGROUP_DATA=n
CONFIG_PINCTRL_MESON_AXG_PMX=n
CONFIG_HAVE_KVM_MSI=n
CONFIG_BLK_DEV_SD=n
CONFIG_PCI_IMX6=n
CONFIG_ARCH_WANT_DEFAULT_TOPDOWN_MMAP_LAYOUT=n
CONFIG_SND_SOC_ES7134=n
CONFIG_USB_ULPI_BUS=n
CONFIG_PINCTRL_SUN50I_H6_R=n
CONFIG_MEDIA_SDR_SUPPORT=n
CONFIG_USB_PHY=n
CONFIG_REGULATOR_BD718XX=n
CONFIG_LZO_DECOMPRESS=n
CONFIG_SCSI_UFS_TI_J721E=n
CONFIG_ARCH_WANT_COMPAT_IPC_PARSE_VERSION=n
CONFIG_COMMON_CLK_MT8195_APUSYS=n
CONFIG_USB_EHCI_BRCMSTB=n
CONFIG_DRM_DISPLAY_DSC_HELPER=n
CONFIG_PWM_ROCKCHIP=n
CONFIG_PT_RECLAIM=n
CONFIG_FSL_XGMAC_MDIO=n
CONFIG_EXCLUSIVE_SYSTEM_RAM=n
CONFIG_ASYNC_TX_DISABLE_PQ_VAL_DMA=n
CONFIG_USB_F_ACM=n
CONFIG_IIO_ST_LSM6DSX_SPI=n
CONFIG_USB_EHCI_HCD_ORION=n
CONFIG_CAVIUM_ERRATUM_22375=n
CONFIG_USB_BRCMSTB=n
CONFIG_USB_LAN78XX=n
CONFIG_MMC_SDHCI_CADENCE=n
CONFIG_WLCORE=n
CONFIG_HAVE_PERF_USER_STACK_DUMP=n
CONFIG_BT_NXPUART=n
CONFIG_MDIO_BCM_IPROC=n
CONFIG_TYPEC_TCPCI=n
CONFIG_VIDEO_IMX8_JPEG=n
CONFIG_QCOM_CLK_SMD_RPM=n
CONFIG_SLIMBUS=n
CONFIG_EXTCON_PTN5150=n
CONFIG_ROCKCHIP_GRF=n
CONFIG_NET_INGRESS=n
CONFIG_INTERCONNECT_QCOM_SM8450=n
CONFIG_ARM64_ERRATUM_1463225=n
CONFIG_SND_SOC_AK4619=n
CONFIG_ASPEED_SOCINFO=n
CONFIG_PINCTRL_IPQ9574=n
CONFIG_PHY_XGENE=n
CONFIG_FSL_MC_DPIO=n
CONFIG_SND_SUN8I_ADDA_PR_REGMAP=n
CONFIG_OF_EARLY_FLATTREE=n
CONFIG_ARCH_SPARX5=n
CONFIG_FUSE_FS=n
CONFIG_MEDIA_CEC_SUPPORT=n
CONFIG_COMMON_CLK_MESON_CPU_DYNDIV=n
CONFIG_COMMON_CLK_MT8186_MDPSYS=n
CONFIG_PCI_HOST_THUNDER_PEM=n
CONFIG_CORESIGHT_SINK_TPIU=n
CONFIG_INPUT_FF_MEMLESS=n
CONFIG_SND_VERBOSE_PROCFS=n
CONFIG_ARCH_ENABLE_THP_MIGRATION=n
CONFIG_NET_VENDOR_MICROSEMI=n
CONFIG_SCSI_UFS_BSG=n
CONFIG_IPMI_PLAT_DATA=n
CONFIG_INPUT_TPS6594_PWRBUTTON=n
CONFIG_KALLSYMS_ALL=n
CONFIG_IMX8QXP_ADC=n
CONFIG_ARCH_BLAIZE=n
CONFIG_SYSC_R8A774C0=n
CONFIG_POWER_RESET_SYSCON=n
CONFIG_ARCH_MA35=n
CONFIG_VIDEO_HANTRO_SUNXI=n
CONFIG_UCSI_PMIC_GLINK=n
CONFIG_RTC_DRV_PM8XXX=n
CONFIG_MDIO_BCM_UNIMAC=n
CONFIG_CAVIUM_ERRATUM_30115=n
CONFIG_SM_DISPCC_8550=n
CONFIG_RENESAS_RZT2H_ICU=n
CONFIG_DMI=n
CONFIG_ARCH_SUSPEND_POSSIBLE=n
CONFIG_COMMON_CLK_MEDIATEK_FHCTL=n
CONFIG_PINCTRL_S900=n
CONFIG_NF_LOG_IPV6=n
CONFIG_USB_NET_CDC_NCM=n
CONFIG_SCSI_COMMON=n
CONFIG_CUSE=n
CONFIG_CRYPTO_ECC=n
CONFIG_VIDEO_IMX_MIPI_CSIS=n
CONFIG_CLK_MA35D1=n
CONFIG_SND_SOC_DMIC=n
CONFIG_COMMON_CLK_MT8195_SCP_ADSP=n
CONFIG_INET_DIAG=n
CONFIG_USB_XHCI_HCD=n
CONFIG_PHY_R8A779F0_ETHERNET_SERDES=n
CONFIG_BINFMT_SCRIPT=n
CONFIG_MEDIA_CONTROLLER=n
CONFIG_UNIX=n
CONFIG_USB_CONFIGFS_ACM=n
CONFIG_REGULATOR_PWM=n
CONFIG_RESET_QCOM_PDC=n
CONFIG_CC_HAS_AUTO_VAR_INIT_PATTERN=n
CONFIG_DUMMY_CONSOLE=n
CONFIG_SC_VIDEOCC_7280=n
CONFIG_CRYPTO_GCM=n
CONFIG_ARCH_HAS_GCOV_PROFILE_ALL=n
CONFIG_HAVE_KVM_DIRTY_RING=n
CONFIG_I2C_BRCMSTB=n
CONFIG_DRM_CLIENT_DEFAULT_FBDEV=n
CONFIG_CONFIGFS_FS=n
CONFIG_HAVE_SETUP_PER_CPU_AREA=n
CONFIG_PHY_MESON_G12A_MIPI_DPHY_ANALOG=n
CONFIG_MMC_ARMMMCI=n
CONFIG_PCI_PWRCTRL_TC9563=n
CONFIG_NUMA_MEMBLKS=n
CONFIG_SPI_MESON_SPIFC=n
CONFIG_INPUT_TOUCHSCREEN=n
CONFIG_MSM_GCC_8953=n
CONFIG_I2C_SLAVE=n
CONFIG_PINCTRL_MESON_AXG=n
CONFIG_CRYPTO_ZSTD=n
CONFIG_CLK_R8A774E1=n
CONFIG_PM_GENERIC_DOMAINS_OF=n
CONFIG_ACPI_TABLE_UPGRADE=n
CONFIG_MARVELL_GTI_WDT=n
CONFIG_PINCTRL_MSM8996=n
CONFIG_MT76_LEDS=n
CONFIG_HAVE_CLK_PREPARE=n
CONFIG_SND_SOC_MESON_T9015=n
CONFIG_SOC_TEGRA_POWERGATE_BPMP=n
CONFIG_INTERCONNECT_QCOM_SM8150=n
CONFIG_CEC_CORE=n
CONFIG_SUN55I_A523_R_CCU=n
CONFIG_DRM_DISPLAY_HDCP_HELPER=n
CONFIG_PINCTRL_RTD1315E=n
CONFIG_PCIE_XILINX=n
CONFIG_VIRTUALIZATION=n
CONFIG_CRC32_ARCH=n
CONFIG_HAVE_KVM_VCPU_RUN_PID_CHANGE=n
CONFIG_GENERIC_HWEIGHT=n
CONFIG_COMMON_CLK_HI3670=n
CONFIG_CAVIUM_TX2_ERRATUM_219=n
CONFIG_MMC_SDHCI_AM654=n
CONFIG_ARCH_SOPHGO=n
CONFIG_SND_SOC_RT5514=n
CONFIG_VIDEO_SYNOPSYS_HDMIRX_LOAD_DEFAULT_EDID=n
CONFIG_SND_SOC_TLV320AIC32X4=n
CONFIG_SND_SOC_SAMSUNG=n
CONFIG_PINCTRL_PFC_R8A779A0=n
CONFIG_CRYPTO_AKCIPHER2=n
CONFIG_PHY_ROCKCHIP_SAMSUNG_HDPTX=n
CONFIG_PINCTRL_IMX8ULP=n
CONFIG_ARM64_PTR_AUTH_KERNEL=n
CONFIG_ARCH_S32=n
CONFIG_CRYPTO_DEV_QCE_AEAD=n
CONFIG_SERIAL_8250_CONSOLE=n
CONFIG_FONT_SUPPORT=n
CONFIG_I2C_HID_OF_ELAN=n
CONFIG_MTD_NAND_BRCMNAND_BCMBCA=n
CONFIG_HAVE_ARCH_TRACEHOOK=n
CONFIG_GPIO_BLZP1600=n
CONFIG_SND_SOC_QDSP6_ROUTING=n
CONFIG_DRM_ITE_IT6263=n
CONFIG_INPUT_HISI_POWERKEY=n
CONFIG_SM_VIDEOCC_8550=n
CONFIG_CRC_CCITT=n
CONFIG_SC_GPUCC_8280XP=n
CONFIG_INTERCONNECT_QCOM_SC7280=n
CONFIG_CC_HAS_WORKING_NOSANITIZE_ADDRESS=n
CONFIG_SND_SOC_WSA883X=n
CONFIG_HZ_250=n
CONFIG_SERIAL_8250_FSL=n
CONFIG_SND_SOC_FSL_UTILS=n
CONFIG_RENESAS_OSTM=n
CONFIG_COMMON_CLK_MT8183_MMSYS=n
CONFIG_WL18XX=n
CONFIG_INITRAMFS_PRESERVE_MTIME=n
CONFIG_REGMAP_IRQ=n
CONFIG_HAVE_EBPF_JIT=n
CONFIG_MFD_AXP20X=n
CONFIG_CMA=n
CONFIG_COMMON_CLK_MT8192_MFGCFG=n
CONFIG_ARCH_USE_MEMTEST=n
CONFIG_DRM_MALI_DISPLAY=n
CONFIG_HAVE_IRQ_TIME_ACCOUNTING=n
CONFIG_MMU_GATHER_RCU_TABLE_FREE=n
CONFIG_SYSCTL=n
CONFIG_CLK_GLYMUR_TCSRCC=n
CONFIG_ARCH_HAS_SET_DIRECT_MAP=n
CONFIG_CLK_RK3588=n
CONFIG_ARCH_STACKWALK=n
CONFIG_REGMAP=n
CONFIG_HTE_TEGRA194=n
CONFIG_ARCH_USE_MEMREMAP_PROT=n
CONFIG_MVPP2=n
CONFIG_CGROUP_PIDS=n
CONFIG_INTERCONNECT=n
CONFIG_BPF_UNPRIV_DEFAULT_OFF=n
CONFIG_SUN50I_H616_CCU=n
CONFIG_PWM_VISCONTI=n
CONFIG_CLK_GFM_LPASS_SM8250=n
CONFIG_CLK_ELIZA_TCSRCC=n
CONFIG_ARM_SMMU=n
CONFIG_USB_CHIPIDEA_PCI=n
CONFIG_MPILIB=n
CONFIG_SND_SIMPLE_CARD_UTILS=n
CONFIG_AHCI_QORIQ=n
CONFIG_SCSI_UFS_VARIABLE_SG_ENTRY_SIZE=n
CONFIG_PINCTRL_IMX_SCMI=n
CONFIG_ARM64_ERRATUM_824069=n
CONFIG_MTK_SMI=n
CONFIG_COMMON_CLK_MT6797=n
CONFIG_REGULATOR_PFUZE100=n
CONFIG_SND_SOC_MT8188=n
CONFIG_QCOM_NET_PHYLIB=n
CONFIG_HAVE_MOVE_PUD=n
CONFIG_MLX4_DEBUG=n
CONFIG_SCSI_MPT3SAS=n
CONFIG_TYPEC_MUX_GPIO_SBU=n
CONFIG_LOGO_LINUX_CLUT224=n
CONFIG_I2C_MUX=n
CONFIG_SND_SOC_TLV320AIC32X4_I2C=n
CONFIG_KUSER_HELPERS=n
CONFIG_COMMON_CLK_XLNX_CLKWZRD=n
CONFIG_SND_SOC_RZ=n
CONFIG_CRYPTO_KPP2=n
CONFIG_FB_SYS_FILLRECT=n
CONFIG_MVEBU_ODMI=n
CONFIG_ARCH_HAS_DMA_OPS=n
CONFIG_I2C_RK3X=n
CONFIG_PINCTRL_TEGRA186=n
CONFIG_COMMON_CLK_HI3660=n
CONFIG_QCOM_BAM_DMA=n
CONFIG_MTK_ADSP_IPC=n
CONFIG_ACPI_IORT=n
CONFIG_PNP_DEBUG_MESSAGES=n
CONFIG_SNI_AVE=n
CONFIG_HAVE_KVM_CPU_RELAX_INTERCEPT=n
CONFIG_SERIAL_8250_UNIPHIER=n
CONFIG_USB_DWC3_IMX8MP=n
CONFIG_RTC_DRV_IMX_SC=n
CONFIG_VIDEO_HANTRO_STM32MP25=n
CONFIG_GPIO_ACPI=n
CONFIG_DMA_ENGINE_RAID=n
CONFIG_ARCH_R9A09G047=n
CONFIG_NET_ACT_GACT=n
CONFIG_ARCH_WANTS_THP_SWAP=n
CONFIG_SERIAL_MSM_CONSOLE=n
CONFIG_GENERIC_PHY_MIPI_DPHY=n
CONFIG_DRM_ANALOGIX_DP=n
CONFIG_SLUB=n
CONFIG_QUEUED_SPINLOCKS=n
CONFIG_QCOM_CLK_APCC_MSM8996=n
