CONFIG_COMPAT_32=y
CONFIG_USB_OHCI_LITTLE_ENDIAN=y
CONFIG_HW_RANDOM_VIRTIO=y
CONFIG_BLK_DEV_INITRD=y
CONFIG_KEYS_REQUEST_CACHE=y
CONFIG_CRYPTO_GENIV=y
CONFIG_MPLS_ROUTING=y
CONFIG_MFD_WM5110=y
CONFIG_SPEAKUP_SYNTH_TXPRT=y
CONFIG_ARCH_HAS_CACHE_LINE_SIZE=y
CONFIG_HID_GEMBIRD=y
CONFIG_CEC_NOTIFIER=y
CONFIG_TOUCHSCREEN_ELAN=y
CONFIG_HAVE_SETUP_PER_CPU_AREA=y
CONFIG_MAC_EMUMOUSEBTN=y
CONFIG_CHARGER_BQ2415X=y
CONFIG_NET_CLS=y
CONFIG_MACVLAN=y
CONFIG_CRYPTO_LIB_AES_ARCH=y
CONFIG_MFD_TPS65218=y
CONFIG_NLATTR=y
CONFIG_ARCH_WANT_BATCHED_UNMAP_TLB_FLUSH=y
CONFIG_FPGA_MGR_MICROCHIP_SPI=y
CONFIG_LWQ_TEST=y
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE=y
CONFIG_CHARGER_MAX77693=y
CONFIG_GPIB_COMMON=y
CONFIG_TREE_SRCU=y
CONFIG_NET_FAILOVER=y
CONFIG_BACKLIGHT_WM831X=y
CONFIG_RING_BUFFER_ALLOW_SWAP=y
CONFIG_CRYPTO_RSA=y
CONFIG_TOUCHSCREEN_HIDEEP=y
CONFIG_BT_HCIUART_H4=y
CONFIG_GENERIC_IRQ_CHIP=y
CONFIG_PMIC_DA903X=y
CONFIG_BACKLIGHT_88PM860X=y
CONFIG_NEED_TASKS_RCU=y
CONFIG_RESCTRL_FS=y
CONFIG_RV_MON_STALL=y
CONFIG_CRYPTO_USER_API_AEAD=y
CONFIG_INOTIFY_USER=y
CONFIG_TOUCHSCREEN_HYNITRON_CST816X=y
CONFIG_MTD_ROM=y
CONFIG_NET_EMATCH_META=y
CONFIG_MDIO_BCM_UNIMAC=y
CONFIG_MICROCHIP_PHY=y
CONFIG_MFD_MT6360=y
CONFIG_JOYSTICK_GRIP=y
CONFIG_NLS_CODEPAGE_874=y
CONFIG_SYSCTL_EXCEPTION_TRACE=y
CONFIG_VT=y
CONFIG_ARCH_HAVE_NMI_SAFE_CMPXCHG=y
CONFIG_ARCH_WANT_GENERAL_HUGETLB=y
CONFIG_PRINTK=y
CONFIG_IMA_LSM_RULES=y
CONFIG_X86=y
CONFIG_EEPROM_M24LR=y
CONFIG_F2FS_FS_POSIX_ACL=y
CONFIG_MOUSE_PS2_LIFEBOOK=y
CONFIG_LED_TRIGGER_PHY=y
CONFIG_MAXLINEAR_GPHY=y
CONFIG_ARCH_HIBERNATION_POSSIBLE=y
CONFIG_MFD_WM831X=y
CONFIG_TPS65010=y
CONFIG_MOUSE_PS2_TRACKPOINT=y
CONFIG_GPIO_PCA953X=y
CONFIG_I2C_MUX_MLXCPLD=y
CONFIG_LEDS_LP8864=y
CONFIG_PHY_NXP_PTN3222=y
CONFIG_RV=y
CONFIG_GENERIC_FRAMER=y
CONFIG_CICADA_PHY=y
CONFIG_EISA_VIRTUAL_ROOT=y
CONFIG_STACKDEPOT_ALWAYS_INIT=y
CONFIG_TCG_TPM=y
CONFIG_GENERIC_PHY=y
CONFIG_IRQ_WORK=y
CONFIG_NEW_LEDS=y
CONFIG_PCSPKR_PLATFORM=y
CONFIG_BATTERY_BQ27XXX=y
CONFIG_HAVE_ARCH_JUMP_LABEL=y
CONFIG_GPIO_LP3943=y
CONFIG_HAVE_BUILDTIME_MCOUNT_SORT=y
CONFIG_EDAC=y
CONFIG_HAVE_C_RECORDMCOUNT=y
CONFIG_NVMEM_LAYOUT_SL28_VPD=y
CONFIG_USER_STACKTRACE_SUPPORT=y
CONFIG_RTC_MC146818_LIB=y
CONFIG_ARCH_32BIT_OFF_T=y
CONFIG_CPUFREQ_ARCH_CUR_FREQ=y
CONFIG_GPIO_DWAPB=y
CONFIG_NXP_C45_TJA11XX_PHY=y
CONFIG_SXGBE_ETH=y
CONFIG_HTE=y
CONFIG_X509_CERTIFICATE_PARSER=y
CONFIG_NET_SCH_ETS=y
CONFIG_PERF_EVENTS_AMD_UNCORE=y
CONFIG_LEDS_BCM6358=y
CONFIG_NET_VENDOR_PENSANDO=y
CONFIG_MFD_WM831X_SPI=y
CONFIG_MOUSE_ELAN_I2C=y
CONFIG_CPU_FREQ_GOV_POWERSAVE=y
CONFIG_KEYBOARD_ATKBD=y
CONFIG_HAS_IOPORT=y
CONFIG_RESET_CONTROLLER=y
CONFIG_WM831X_BACKUP=y
CONFIG_CRC64=y
CONFIG_NLS_CODEPAGE_936=y
CONFIG_JOYSTICK_ZHENHUA=y
CONFIG_GLOB=y
CONFIG_PM_ADVANCED_DEBUG=y
CONFIG_GPIO_MAX7300=y
CONFIG_ASYMMETRIC_PUBLIC_KEY_SUBTYPE=y
CONFIG_FW_CS_DSP=y
CONFIG_JOYSTICK_STINGER=y
CONFIG_NET_VENDOR_3COM=y
CONFIG_RD_LZMA=y
CONFIG_HAVE_PREEMPT_DYNAMIC=y
CONFIG_NLS_MAC_INUIT=y
CONFIG_X86_REQUIRED_FEATURE_ALWAYS=y
CONFIG_INPUT_MATRIXKMAP=y
CONFIG_DP83TG720_PHY=y
CONFIG_IPMI_SSIF=y
CONFIG_HID_APPLETB_BL=y
CONFIG_JOYSTICK_ANALOG=y
CONFIG_LEDS_TRIGGER_PANIC=y
CONFIG_HAVE_STATIC_CALL=y
CONFIG_BLK_DEV_ZONED=y
CONFIG_BATTERY_GAUGE_LTC2941=y
CONFIG_HAVE_OPTPROBES=y
CONFIG_PM_SLEEP_DEBUG=y
CONFIG_MTD_ONENAND=y
CONFIG_NET_ACT_VLAN=y
CONFIG_FB_SYS_COPYAREA=y
CONFIG_IOSCHED_BFQ=y
CONFIG_MFD_TPS65086=y
CONFIG_HW_RANDOM_XIPHERA=y
CONFIG_CRYPTO_SERPENT_SSE2_586=y
CONFIG_PAGE_SIZE_LESS_THAN_64KB=y
CONFIG_OVERLAY_FS_REDIRECT_DIR=y
CONFIG_POWER_SEQUENCING_QCOM_WCN=y
CONFIG_QCA83XX_PHY=y
CONFIG_HID=y
CONFIG_HIBERNATION_COMP_LZ4=y
CONFIG_MFD_ARIZONA=y
CONFIG_MDIO=y
CONFIG_KEYBOARD_LM8323=y
CONFIG_RMI4_F30=y
CONFIG_OF_EARLY_FLATTREE=y
CONFIG_CRYPTO_CMAC=y
CONFIG_MOUSE_PS2_ELANTECH_SMBUS=y
CONFIG_MFD_TQMX86=y
CONFIG_SECURITY_SAFESETID=y
CONFIG_SENSORS_TSL2550=y
CONFIG_ARCH_SUPPORTS_KEXEC_PURGATORY=y
CONFIG_SECURITY_DMESG_RESTRICT=y
CONFIG_IOMMU_API=y
CONFIG_CPU_FREQ_DEFAULT_GOV_POWERSAVE=y
CONFIG_DEFAULT_SECURITY_APPARMOR=y
CONFIG_ALTERA_STAPL=y
CONFIG_BACKLIGHT_RT4831=y
CONFIG_PARPORT_PC_SUPERIO=y
CONFIG_FTRACE=y
CONFIG_MFD_TWL4030_AUDIO=y
CONFIG_SERIAL_UARTLITE=y
CONFIG_MFD_TPS65217=y
CONFIG_UPROBES=y
CONFIG_BT_HCIUART=y
CONFIG_SENSORS_LIS3_SPI=y
CONFIG_HIGHMEM=y
CONFIG_IO_WQ=y
CONFIG_MICROCHIP_T1S_PHY=y
CONFIG_SM_FTL=y
CONFIG_MOUSE_PS2_SMBUS=y
CONFIG_NLS_CODEPAGE_437=y
CONFIG_CRYPTO_LIB_POLY1305_GENERIC=y
CONFIG_SQUASHFS=y
CONFIG_X86_TSC=y
CONFIG_FB_VIRTUAL=y
CONFIG_WPCM450_SOC=y
CONFIG_INSTRUCTION_DECODER=y
CONFIG_ADC_BATTERY_HELPER=y
CONFIG_MOUSE_PS2_ELANTECH=y
CONFIG_TOUCHSCREEN_MMS114=y
CONFIG_CRYPTO_DES=y
CONFIG_HAVE_ARCH_PREL32_RELOCATIONS=y
CONFIG_LOCALVERSION_AUTO=y
CONFIG_TMPFS=y
CONFIG_CLONE_BACKWARDS=y
CONFIG_NET_SCH_FQ_CODEL=y
CONFIG_NLS_CODEPAGE_932=y
CONFIG_MFD_MAX77541=y
CONFIG_NETFS_STATS=y
CONFIG_CRYPTO_LIB_SHA256=y
CONFIG_ARCH_HAS_NMI_SAFE_THIS_CPU_OPS=y
CONFIG_HAVE_PCSPKR_PLATFORM=y
CONFIG_LEDS_BD2606MVV=y
CONFIG_CRC32_ARCH=y
CONFIG_OVERLAY_FS_REDIRECT_ALWAYS_FOLLOW=y
CONFIG_THREAD_INFO_IN_TASK=y
CONFIG_SQUASHFS_FILE_CACHE=y
CONFIG_FS_STACK=y
CONFIG_CHARGER_RT9455=y
CONFIG_MEMORY_ISOLATION=y
CONFIG_NET_VENDOR_ALACRITECH=y
CONFIG_ARCH_SUPPORTS_KEXEC_BZIMAGE_VERIFY_SIG=y
CONFIG_HAVE_SOFTIRQ_ON_OWN_STACK=y
CONFIG_SPEAKUP_SYNTH_DUMMY=y
CONFIG_GENERIC_SYSCALL=y
CONFIG_MOUSE_PS2_LOGIPS2PP=y
CONFIG_BACKLIGHT_LP8788=y
CONFIG_CC_HAS_MARCH_NATIVE=y
CONFIG_I2C_BOARDINFO=y
CONFIG_LOCK_MM_AND_FIND_VMA=y
CONFIG_DMA_VIRTUAL_CHANNELS=y
CONFIG_DMA_API_DEBUG=y
CONFIG_IO_URING_BPF=y
CONFIG_ARCH_WANTS_NO_INSTR=y
CONFIG_FSNOTIFY=y
CONFIG_TOUCHSCREEN_EDT_FT5X06=y
CONFIG_SERIAL_XILINX_PS_UART=y
CONFIG_TOUCHSCREEN_HIMAX_HX852X=y
CONFIG_MLXSW_I2C=y
CONFIG_EQUALIZER=y
CONFIG_GENERIC_IRQ_MATRIX_ALLOCATOR=y
CONFIG_PAGE_IDLE_FLAG=y
CONFIG_JOYSTICK_INTERACT=y
CONFIG_GPIO_PCF857X=y
CONFIG_FB_SYSMEM_HELPERS=y
CONFIG_SERIAL_8250=y
CONFIG_TEST_POWER=y
CONFIG_SPI_SC18IS602=y
CONFIG_NET_EMATCH=y
CONFIG_LOCK_DEBUGGING_SUPPORT=y
CONFIG_IRQ_POLL=y
CONFIG_PAGE_POOL_STATS=y
CONFIG_TOUCHSCREEN_SIS_I2C=y
CONFIG_HID_UDRAW_PS3=y
CONFIG_CRYPTO_RNG2=y
CONFIG_RMI4_CORE=y
CONFIG_HID_MAYFLASH=y
CONFIG_NLS_UTF8=y
CONFIG_EXTCON_USB_GPIO=y
CONFIG_SPI_OFFLOAD_TRIGGER_ADI_UTIL_SD=y
CONFIG_FB_BACKLIGHT=y
CONFIG_ZSTD_COMPRESS=y
CONFIG_NET_CLS_FLOW=y
CONFIG_RV_MON_WWNR=y
CONFIG_AUDIT=y
CONFIG_FB_HECUBA=y
CONFIG_RFKILL_GPIO=y
CONFIG_CC_HAS_ZERO_CALL_USED_REGS=y
CONFIG_NET_VENDOR_CAVIUM=y
CONFIG_GPIO_HLWD=y
CONFIG_FUNCTION_TRACER=y
CONFIG_MUX_GPIO=y
CONFIG_TOUCHSCREEN_GOODIX_BERLIN_CORE=y
CONFIG_WAN=y
CONFIG_HID_PICOLCD_FB=y
CONFIG_CRYPTO_KHAZAD=y
CONFIG_LEDS_TRIGGER_ONESHOT=y
CONFIG_FSCACHE=y
CONFIG_MFD_CS42L43=y
CONFIG_GENERIC_BUG_RELATIVE_POINTERS=y
CONFIG_SPI_SIFIVE=y
CONFIG_ARCH_CONFIGURES_CPU_MITIGATIONS=y
CONFIG_NLS_CODEPAGE_865=y
CONFIG_NLS_ISO8859_9=y
CONFIG_ISO9660_FS=y
CONFIG_NET_SCH_DRR=y
CONFIG_PRINTER=y
CONFIG_AD525X_DPOT_I2C=y
CONFIG_GENERIC_ISA_DMA=y
CONFIG_CPU_SUP_AMD=y
CONFIG_PROC_SYSCTL=y
CONFIG_HAVE_MIXED_BREAKPOINTS_REGS=y
CONFIG_VM_EVENT_COUNTERS=y
CONFIG_KMAP_LOCAL=y
CONFIG_TOUCHSCREEN_TSC2004=y
CONFIG_HAVE_FUTEX_ROBUST_UNLOCK=y
CONFIG_AD525X_DPOT=y
CONFIG_FUTEX_PI=y
CONFIG_HAVE_TRUSTED_KEYS_DEBUG=y
CONFIG_FS_ENCRYPTION=y
CONFIG_TRACER_SNAPSHOT=y
CONFIG_FB_CFB_FILLRECT=y
CONFIG_CACHESTAT_SYSCALL=y
CONFIG_TCM_USER2=y
CONFIG_LZ4_DECOMPRESS=y
CONFIG_LEDS_LT3593=y
CONFIG_ICS932S401=y
CONFIG_TEE_DMABUF_HEAPS=y
CONFIG_SELECT_MEMORY_MODEL=y
CONFIG_BFS_FS=y
CONFIG_PID_NS=y
CONFIG_CRYPTO_SM4=y
CONFIG_TASK_XACCT=y
CONFIG_CRYPTO_XCBC=y
CONFIG_NLS_MAC_ROMANIAN=y
CONFIG_RD_BZIP2=y
CONFIG_SLAB_FREELIST_HARDENED=y
CONFIG_VIRTIO=y
CONFIG_BLK_ERROR_INJECTION=y
CONFIG_MTD_DATAFLASH=y
CONFIG_PPP_MPPE=y
CONFIG_CC_CAN_LINK=y
CONFIG_MOUSE_PS2_SYNAPTICS_SMBUS=y
CONFIG_CRYPTO_HCTR2=y
CONFIG_UNWINDER_FRAME_POINTER=y
CONFIG_EXTCON_SM5502=y
CONFIG_RTC_LIB=y
CONFIG_DAMON_STAT=y
CONFIG_KS0108=y
CONFIG_JOYSTICK_TWIDJOY=y
CONFIG_MTD_SST25L=y
CONFIG_CRC_CCITT=y
CONFIG_ETHERNET=y
CONFIG_LEDS_ADP5520=y
CONFIG_X86_REQUIRED_FEATURE_CMOV=y
CONFIG_CACHEFILES_DEBUG=y
CONFIG_FW_UPLOAD=y
CONFIG_NLS_CODEPAGE_950=y
CONFIG_MTD_AMD76XROM=y
CONFIG_XOR_BLOCKS=y
CONFIG_GENERIC_CPU_AUTOPROBE=y
CONFIG_GPIO_MB86S7X=y
CONFIG_HID_BATTERY_STRENGTH=y
CONFIG_TOUCHSCREEN_HAMPSHIRE=y
CONFIG_HAVE_ARCH_KFENCE=y
CONFIG_NET_TULIP=y
CONFIG_FUTEX_PRIVATE_HASH=y
CONFIG_CRYPTO_ECDSA=y
CONFIG_HAVE_ATOMIC_IOMAP=y
CONFIG_SERIAL_CORE=y
CONFIG_CRC_ITU_T=y
CONFIG_PROC_KCORE=y
CONFIG_MTD_NAND_ECC_SW_BCH=y
CONFIG_INPUT_SPARSEKMAP=y
CONFIG_CLKBLD_I8253=y
CONFIG_SLUB=y
CONFIG_OF_DYNAMIC=y
CONFIG_X86_DISABLED_FEATURE_RETHUNK=y
CONFIG_CRYPTO_DEFLATE=y
CONFIG_MTD_CFI_I2=y
CONFIG_TOUCHSCREEN_CYTTSP5=y
CONFIG_UBIFS_FS_XATTR=y
CONFIG_MTD_NAND_CORE=y
CONFIG_CHARGER_PF1550=y
CONFIG_ALTERA_PR_IP_CORE=y
CONFIG_MFD_MAX8907=y
CONFIG_AUTOFS_FS=y
CONFIG_HW_RANDOM=y
CONFIG_HVC_DRIVER=y
CONFIG_X86_PAT=y
CONFIG_SPI_ALTERA=y
CONFIG_HAVE_PERF_REGS=y
CONFIG_I2C_ALGOBIT=y
CONFIG_NLS_MAC_CELTIC=y
CONFIG_X86_DISABLED_FEATURE_IBT=y
CONFIG_NEED_PER_CPU_PAGE_FIRST_CHUNK=y
CONFIG_UP_LATE_INIT=y
CONFIG_SPI_LANTIQ_SSC=y
CONFIG_CRYPTO_ECB=y
CONFIG_BACKLIGHT_LED=y
CONFIG_FB_CFB_COPYAREA=y
CONFIG_IP5XXX_POWER=y
CONFIG_ALTERA_TSE=y
CONFIG_CGROUP_FAVOR_DYNMODS=y
CONFIG_PRINTK_EXECUTION_CTX=y
CONFIG_ARCH_STACKWALK=y
CONFIG_DMA_ENGINE_RAID=y
CONFIG_QUOTA=y
CONFIG_GPIO_WS16C48=y
CONFIG_GPIB_FLUKE=y
CONFIG_NET_EMATCH_NBYTE=y
CONFIG_WLAN_VENDOR_RALINK=y
CONFIG_IPMI_PLAT_DATA=y
CONFIG_QFMT_V1=y
CONFIG_HAVE_MMIOTRACE_SUPPORT=y
CONFIG_KEYBOARD_OPENCORES=y
CONFIG_X86_DISABLED_FEATURE_OSPKE=y
CONFIG_NFTL=y
CONFIG_HW_RANDOM_BA431=y
CONFIG_ARCH_HAVE_EXTRA_ELF_NOTES=y
CONFIG_HID_TIVO=y
CONFIG_NTFS_FS=y
CONFIG_W1_SLAVE_DS2431=y
CONFIG_BATTERY_MAX1720X=y
CONFIG_X86_SPEEDSTEP_ICH=y
CONFIG_REGMAP_SPI=y
CONFIG_LITEX=y
CONFIG_IRQ_DOMAIN=y
CONFIG_NET_VENDOR_I825XX=y
CONFIG_HID_LENOVO=y
CONFIG_PRIME_NUMBERS=y
CONFIG_EDD_OFF=y
CONFIG_GFS2_FS=y
CONFIG_GPIO_MOCKUP=y
CONFIG_ZERO_CALL_USED_REGS=y
CONFIG_X86_DISABLED_FEATURE_RETPOLINE_LFENCE=y
CONFIG_MMU_LAZY_TLB_REFCOUNT=y
CONFIG_ARCH_HAS_SET_DIRECT_MAP=y
CONFIG_JOYSTICK_GAMECON=y
CONFIG_HAVE_GCC_PLUGINS=y
CONFIG_CHARGER_SBS=y
CONFIG_CRYPTO_CBC=y
CONFIG_LTO_NONE=y
CONFIG_HAVE_KERNEL_XZ=y
CONFIG_BT_BREDR=y
CONFIG_GAMEPORT=y
CONFIG_DMA_ENGINE=y
CONFIG_ARCH_WANTS_DYNAMIC_TASK_STRUCT=y
CONFIG_INTEGRITY_SIGNATURE=y
CONFIG_DIBS=y
CONFIG_HAVE_EBPF_JIT=y
CONFIG_NETDEVICES=y
CONFIG_TCG_NSC=y
CONFIG_TOUCHSCREEN_DYNAPRO=y
CONFIG_HIST_TRIGGERS=y
CONFIG_LLC=y
CONFIG_RUNTIME_TESTING_MENU=y
CONFIG_BLK_CGROUP_PUNT_BIO=y
CONFIG_TOUCHSCREEN_ZINITIX=y
CONFIG_ADFS_FS=y
CONFIG_CHARGER_MAX8903=y
CONFIG_DYNAMIC_DEBUG=y
CONFIG_EARLY_PRINTK=y
CONFIG_ARCH_SUSPEND_POSSIBLE=y
CONFIG_HAVE_PCI=y
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_REGS=y
CONFIG_PWM_ATMEL_TCB=y
CONFIG_W1_SLAVE_DS2780=y
CONFIG_INPUT_MOUSE=y
CONFIG_F2FS_CHECK_FS=y
CONFIG_IMA_QUEUE_EARLY_BOOT_KEYS=y
CONFIG_MTD_UBI=y
CONFIG_BATTERY_DS2782=y
CONFIG_UBIFS_FS_ZSTD=y
CONFIG_MDIO_MSCC_MIIM=y
CONFIG_EXT2_FS_POSIX_ACL=y
CONFIG_I2C_CHARDEV=y
CONFIG_I2C=y
CONFIG_REALTEK_PHY=y
CONFIG_BLK_DEV_IO_TRACE=y
CONFIG_NETWORK_SECMARK=y
CONFIG_EFS_FS=y
CONFIG_CRYPTO_MLDSA=y
CONFIG_ORANGEFS_FS=y
CONFIG_MFD_QCOM_PM8008=y
CONFIG_GENERIC_VDSO_OVERFLOW_PROTECT=y
CONFIG_MTD_CFI_INTELEXT=y
CONFIG_IRQ_BYPASS_MANAGER=y
CONFIG_ARCH_WANT_FRAME_POINTERS=y
CONFIG_DS1682=y
CONFIG_ARCH_HAS_KERNEL_FPU_SUPPORT=y
CONFIG_GENERIC_STRNCPY_FROM_USER=y
CONFIG_CRYPTO_SERPENT=y
CONFIG_NET_TEAM_MODE_RANDOM=y
CONFIG_SERIAL_LITEUART=y
CONFIG_HID_STEAM=y
CONFIG_HZ_PERIODIC=y
CONFIG_MTD_JEDECPROBE=y
CONFIG_RESCTRL_FS_PSEUDO_LOCK=y
CONFIG_GPIO_SIOX=y
CONFIG_I2C_XILINX=y
CONFIG_CORE_DUMP_DEFAULT_ELF_HEADERS=y
CONFIG_FB_DEFERRED_IO=y
CONFIG_MFD_CS40L50_SPI=y
CONFIG_OA_TC6=y
CONFIG_RV_HA_MONITOR=y
CONFIG_RD_ZSTD=y
CONFIG_F2FS_FS=y
CONFIG_QSEMI_PHY=y
CONFIG_SPARSE_IRQ=y
CONFIG_SLIP_COMPRESSED=y
CONFIG_BT_INTEL=y
CONFIG_DYNAMIC_DEBUG_CORE=y
CONFIG_OF_RESERVED_MEM=y
CONFIG_SECURITY_IPE=y
CONFIG_MDIO_GPIO=y
CONFIG_GPIO_DS4520=y
CONFIG_FTRACE_SYSCALLS=y
CONFIG_SERIO_I8042=y
CONFIG_BACKLIGHT_MT6370=y
CONFIG_NET_SCH_RED=y
CONFIG_I2C_GPIO_FAULT_INJECTOR=y
CONFIG_CRYPTO_SKCIPHER2=y
CONFIG_ASSOCIATIVE_ARRAY=y
CONFIG_SYSVIPC_SYSCTL=y
CONFIG_ARCH_USE_SYM_ANNOTATIONS=y
CONFIG_MFD_ROHM_BD718XX=y
CONFIG_PAGE_EXTENSION=y
CONFIG_MTD_CFI_UTIL=y
CONFIG_MMU=y
CONFIG_NLS_CODEPAGE_861=y
CONFIG_MULTIUSER=y
CONFIG_SERIO_LIBPS2=y
CONFIG_IOMMU_DMA=y
CONFIG_HAVE_ARCH_SECCOMP_FILTER=y
