CONFIG_ACPI_PROCESSOR=n
CONFIG_NF_CONNTRACK_IRC=n
CONFIG_HIBERNATION=n
CONFIG_VT=n
CONFIG_SCSI_VIRTIO=n
CONFIG_ARCH_WANT_BATCHED_UNMAP_TLB_FLUSH=n
CONFIG_ATA_FORCE=n
CONFIG_MEMBARRIER=n
CONFIG_SERIAL_8250_PERICOM=n
CONFIG_MOUSE_PS2=n
CONFIG_GENERIC_CMOS_UPDATE=n
CONFIG_X86_THERMAL_VECTOR=n
CONFIG_X86_MCE_THRESHOLD=n
CONFIG_TASKS_RCU_GENERIC=n
CONFIG_RTC_INTF_SYSFS=n
CONFIG_DEBUG_BUGVERBOSE=n
CONFIG_ACPI_FAN=n
CONFIG_SCSI_MOD=n
CONFIG_DRM_TTM=n
CONFIG_LOCK_DEBUGGING_SUPPORT=n
CONFIG_VIRTIO_CONSOLE=n
CONFIG_SERIAL_NONSTANDARD=n
CONFIG_CRYPTO_KRB5ENC=n
CONFIG_BINFMT_MISC=n
CONFIG_WLAN_VENDOR_RSI=n
CONFIG_HAVE_UID16=n
CONFIG_SLAB_MERGE_DEFAULT=n
CONFIG_FW_LOADER=n
CONFIG_NLS_ISO8859_1=n
CONFIG_RT_MUTEXES=n
CONFIG_TCP_MD5SIG=n
CONFIG_SND_HDA=n
CONFIG_SYSTEM_TRUSTED_KEYRING=n
CONFIG_HAVE_CMPXCHG_LOCAL=n
CONFIG_DRM_BRIDGE=n
CONFIG_SCHED_MC_PRIO=n
CONFIG_IP6_NF_IPTABLES=n
CONFIG_DRM_GEM_SHMEM_HELPER=n
CONFIG_NET_VENDOR_DEC=n
CONFIG_XFRM=n
CONFIG_X86_MPPARSE=n
CONFIG_RFKILL_INPUT=n
CONFIG_PROC_SYSCTL=n
CONFIG_ARCH_WANT_GENERAL_HUGETLB=n
CONFIG_HAVE_EXIT_THREAD=n
CONFIG_FAT_FS=n
CONFIG_MOUSE_PS2_SYNAPTICS_SMBUS=n
CONFIG_REGMAP=n
CONFIG_VIRTIO_PCI_LEGACY=n
CONFIG_X86_TSC=n
CONFIG_I3C_OR_I2C=n
CONFIG_TASKS_TRACE_RCU=n
CONFIG_THERMAL_GOV_STEP_WISE=n
CONFIG_CRYPTO_LIB_UTILS=n
CONFIG_NET_PTP_CLASSIFY=n
CONFIG_HAVE_MOVE_PUD=n
CONFIG_SLUB_DEBUG=n
CONFIG_NET_NS=n
CONFIG_SATA_AHCI=n
CONFIG_NET_VENDOR_AMAZON=n
CONFIG_SND_HDA_HWDEP=n
CONFIG_USB_OHCI_HCD_PCI=n
CONFIG_GENERIC_STRNLEN_USER=n
CONFIG_HAVE_NMI=n
CONFIG_RTC_I2C_AND_SPI=n
CONFIG_PCI_DIRECT=n
CONFIG_DECOMPRESS_BZIP2=n
CONFIG_HAVE_MOVE_PMD=n
CONFIG_ZSTD_DECOMPRESS=n
CONFIG_NET_VENDOR_CADENCE=n
CONFIG_CRYPTO_ALGAPI2=n
CONFIG_SYSTEM_DATA_VERIFICATION=n
CONFIG_TCP_CONG_CUBIC=n
CONFIG_NO_HZ_IDLE=n
CONFIG_FUTEX_PI=n
CONFIG_KRETPROBE_ON_RETHOOK=n
CONFIG_HWMON=n
CONFIG_EVENT_TRACING=n
CONFIG_SECTION_MISMATCH_WARN_ONLY=n
CONFIG_XZ_DEC_POWERPC=n
CONFIG_ROOT_NFS=n
CONFIG_PREEMPT_RCU=n
CONFIG_SYSVIPC_SYSCTL=n
CONFIG_IPV6=n
CONFIG_KPROBES=n
CONFIG_ARCH_FLATMEM_ENABLE=n
CONFIG_PROC_PID_ARCH_STATUS=n
CONFIG_CC_HAS_SLS=n
CONFIG_SGETMASK_SYSCALL=n
CONFIG_GENERIC_IRQ_PROBE=n
CONFIG_POSIX_MQUEUE_SYSCTL=n
CONFIG_CC_HAS_RETURN_THUNK=n
CONFIG_HAVE_EBPF_JIT=n
CONFIG_BLOCK_LEGACY_AUTOLOAD=n
CONFIG_CRYPTO_HMAC=n
CONFIG_NETFILTER_NETLINK=n
CONFIG_GRACE_PERIOD=n
CONFIG_PCCARD_NONSTATIC=n
CONFIG_MOUSE_PS2_ALPS=n
CONFIG_VMAP_PFN=n
CONFIG_SND_CTL_FAST_LOOKUP=n
CONFIG_USB_EHCI_TT_NEWSCHED=n
CONFIG_PCI_MSI=n
CONFIG_EFI_RUNTIME_MAP=n
CONFIG_HAVE_FUNCTION_ARG_ACCESS_API=n
CONFIG_CRYPTO_GCM=n
CONFIG_MOUSE_PS2_SMBUS=n
CONFIG_INPUT_KEYBOARD=n
CONFIG_GENERIC_IRQ_RESERVATION_MODE=n
CONFIG_NFS_USE_KERNEL_DNS=n
CONFIG_DST_CACHE=n
CONFIG_HAS_IOMEM=n
CONFIG_PT_RECLAIM=n
CONFIG_ARCH_USE_BUILTIN_BSWAP=n
CONFIG_PAGE_SIZE_LESS_THAN_256KB=n
CONFIG_HAVE_KERNEL_ZSTD=n
CONFIG_INPUT_TABLET=n
CONFIG_GENERIC_IRQ_EFFECTIVE_AFF_MASK=n
CONFIG_ADVISE_SYSCALLS=n
CONFIG_AS_HAS_NON_CONST_ULEB128=n
CONFIG_JUMP_LABEL=n
CONFIG_MITIGATION_TSA=n
CONFIG_NET_EMATCH=n
CONFIG_LTO_NONE=n
CONFIG_IRQ_FORCED_THREADING=n
CONFIG_NET_VENDOR_SMSC=n
CONFIG_BLK_DEBUG_FS=n
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE=n
CONFIG_HAVE_HW_BREAKPOINT=n
CONFIG_HAVE_ARCH_KGDB=n
CONFIG_ARCH_HAS_SET_DIRECT_MAP=n
CONFIG_DRM_I915=n
CONFIG_CACHESTAT_SYSCALL=n
CONFIG_ARCH_HAS_CACHE_LINE_SIZE=n
CONFIG_NET_VENDOR_RDC=n
CONFIG_NETFILTER_XT_MATCH_STATE=n
CONFIG_NET_VENDOR_QLOGIC=n
CONFIG_REALTEK_PHY=n
CONFIG_ARCH_SUPPORTS_ACPI=n
CONFIG_IOMMU_API=n
CONFIG_X86_DEBUGCTLMSR=n
CONFIG_NETPOLL=n
CONFIG_X86_REQUIRED_FEATURE_ALWAYS=n
CONFIG_HAVE_FUNCTION_GRAPH_FREGS=n
CONFIG_NET_VENDOR_SILAN=n
CONFIG_MMU_GATHER_TABLE_FREE=n
CONFIG_ACPI_NHLT=n
CONFIG_WLAN_VENDOR_MEDIATEK=n
CONFIG_VMSPLIT_3G=n
CONFIG_ACPI_PLATFORM_PROFILE=n
CONFIG_GENERIC_CPU_VULNERABILITIES=n
CONFIG_WLAN_VENDOR_ST=n
CONFIG_SERIAL_CORE_CONSOLE=n
CONFIG_MOUSE_PS2_BYD=n
CONFIG_SURFACE_PLATFORMS=n
CONFIG_BLK_MQ_STACKING=n
CONFIG_CRC_OPTIMIZATIONS=n
CONFIG_RTL_CARDS=n
CONFIG_NET_VENDOR_XIRCOM=n
CONFIG_ZONE_DMA=n
CONFIG_CRYPTO_MANAGER=n
CONFIG_NET_VENDOR_EMULEX=n
CONFIG_RD_BZIP2=n
CONFIG_FUNCTION_ALIGNMENT_4B=n
CONFIG_APERTURE_HELPERS=n
CONFIG_ACPI_DEBUG=n
CONFIG_NF_REJECT_IPV6=n
CONFIG_CROSS_MEMORY_ATTACH=n
CONFIG_NF_NAT=n
CONFIG_INPUT_VIVALDIFMAP=n
CONFIG_NET_VENDOR_WANGXUN=n
CONFIG_TASK_XACCT=n
CONFIG_NET_VENDOR_AMD=n
CONFIG_HAVE_DMA_CONTIGUOUS=n
CONFIG_X86_IO_APIC=n
CONFIG_CRYPTO_ECHAINIV=n
CONFIG_WMI_BMOF=n
CONFIG_MAC80211=n
CONFIG_DECOMPRESS_LZO=n
CONFIG_X86_CMOV=n
CONFIG_DECOMPRESS_LZMA=n
CONFIG_IOMMU_DMA=n
CONFIG_DM_MIRROR=n
CONFIG_ACPI_WMI=n
CONFIG_PCCARD=n
CONFIG_CRYPTO_AEAD=n
CONFIG_CRYPTO_AES=n
CONFIG_TRACEFS_AUTOMOUNT_DEPRECATED=n
CONFIG_ARCH_SPARSEMEM_ENABLE=n
CONFIG_FTRACE=n
CONFIG_DECOMPRESS_ZSTD=n
CONFIG_CORE_DUMP_DEFAULT_ELF_HEADERS=n
CONFIG_X86_DISABLED_FEATURE_SGX=n
CONFIG_NFS_V3=n
CONFIG_ARCH_HAVE_NMI_SAFE_CMPXCHG=n
CONFIG_CGROUP_DEVICE=n
CONFIG_USE_X86_SEG_SUPPORT=n
CONFIG_HAVE_SETUP_PER_CPU_AREA=n
CONFIG_PCIE_PME=n
CONFIG_MOUSE_PS2_FOCALTECH=n
CONFIG_NET_VENDOR_BROCADE=n
CONFIG_UNWINDER_FRAME_POINTER=n
CONFIG_CRYPTO_LIB_AES_ARCH=n
CONFIG_X86_CHECK_BIOS_CORRUPTION=n
CONFIG_WLAN_VENDOR_INTERSIL=n
CONFIG_PAGE_MAPCOUNT=n
CONFIG_CRYPTO_ECB=n
CONFIG_NET_VENDOR_REALTEK=n
CONFIG_TRACE_IRQFLAGS_NMI_SUPPORT=n
CONFIG_PPS=n
CONFIG_X86_DISABLED_FEATURE_IBT=n
CONFIG_BLK_RQ_ALLOC_TIME=n
CONFIG_PM_SLEEP_SMP=n
CONFIG_IO_DELAY_0X80=n
CONFIG_PCSPKR_PLATFORM=n
CONFIG_MICROCODE=n
CONFIG_CGROUPS=n
CONFIG_SUSPEND_FREEZER=n
CONFIG_NEED_SG_DMA_LENGTH=n
CONFIG_RTC_CLASS=n
CONFIG_AIO=n
CONFIG_PKCS7_MESSAGE_PARSER=n
CONFIG_NET_HANDSHAKE=n
CONFIG_ATA_SFF=n
CONFIG_HID_SAMSUNG=n
CONFIG_HAS_IOPORT=n
CONFIG_HOTPLUG_SMT=n
CONFIG_ARCH_WANT_IPC_PARSE_VERSION=n
CONFIG_CC_HAS_NAMED_AS_FIXED_SANITIZERS=n
CONFIG_NET_VENDOR_HISILICON=n
CONFIG_NET_FLOW_LIMIT=n
CONFIG_HAVE_DYNAMIC_FTRACE_NO_PATCHABLE=n
CONFIG_SND_VMASTER=n
CONFIG_PNFS_FLEXFILE_LAYOUT=n
CONFIG_MMU_LAZY_TLB_REFCOUNT=n
CONFIG_CRYPTO_AUTHENC=n
CONFIG_PERF_EVENTS_AMD_UNCORE=n
CONFIG_X86_PKG_TEMP_THERMAL=n
CONFIG_HOTPLUG_CPU=n
CONFIG_SCHED_MC=n
CONFIG_LOCK_SPIN_ON_OWNER=n
CONFIG_RTC_MC146818_LIB=n
CONFIG_HAS_DMA=n
CONFIG_CGROUP_RDMA=n
CONFIG_NF_CONNTRACK_FTP=n
CONFIG_NETFILTER_SKIP_EGRESS=n
CONFIG_NEED_TASKS_RCU=n
CONFIG_CC_NO_ARRAY_BOUNDS=n
CONFIG_INTEGRITY_AUDIT=n
CONFIG_SYSCTL=n
CONFIG_HID_GYRATION=n
CONFIG_GENERIC_SYSCALL=n
CONFIG_EFI_RUNTIME_WRAPPERS=n
CONFIG_CRC32_ARCH=n
CONFIG_ACPI_HOTPLUG_CPU=n
CONFIG_ARCH_STACKWALK=n
CONFIG_DNOTIFY=n
CONFIG_NET_VENDOR_DAVICOM=n
CONFIG_CGROUP_NET_CLASSID=n
CONFIG_HID_PETALYNX=n
CONFIG_RCU_STALL_COMMON=n
CONFIG_WATCHDOG=n
CONFIG_MITIGATION_RETBLEED=n
CONFIG_CRYPTO_SEQIV=n
CONFIG_CGROUP_FREEZER=n
CONFIG_NET_VENDOR_3COM=n
CONFIG_AF_UNIX_OOB=n
CONFIG_NET_VENDOR_CAVIUM=n
CONFIG_MOUSE_PS2_LIFEBOOK=n
CONFIG_XFRM_USER=n
CONFIG_BLOCK_HOLDER_DEPRECATED=n
CONFIG_I2C_I801=n
CONFIG_NET_VENDOR_ATHEROS=n
CONFIG_HW_RANDOM_GEODE=n
CONFIG_PATA_MPIIX=n
CONFIG_HAVE_POSIX_CPU_TIMERS_TASK_WORK=n
CONFIG_HOTPLUG_SPLIT_STARTUP=n
CONFIG_NET_VENDOR_8390=n
CONFIG_SND_PCM=n
CONFIG_CPU_SUP_ZHAOXIN=n
CONFIG_HAVE_ARCH_SECCOMP=n
CONFIG_NET_VENDOR_AGERE=n
CONFIG_ACPI_MDIO=n
CONFIG_DUMMY_CONSOLE=n
CONFIG_PERF_EVENTS_INTEL_RAPL=n
CONFIG_INET=n
CONFIG_ARCH_HAS_HW_PTE_YOUNG=n
CONFIG_NETFILTER_NETLINK_LOG=n
CONFIG_NET_VENDOR_MICROSOFT=n
CONFIG_STACKPROTECTOR_STRONG=n
CONFIG_RSEQ=n
CONFIG_PAGE_POOL=n
CONFIG_TRACE_IRQFLAGS_SUPPORT=n
CONFIG_SERIAL_8250_MANY_PORTS=n
CONFIG_CRYPTO_SIG2=n
CONFIG_SBITMAP=n
CONFIG_INPUT=n
CONFIG_PM_SLEEP_DEBUG=n
CONFIG_CPU_FREQ_GOV_ATTR_SET=n
CONFIG_GENERIC_IRQ_MIGRATION=n
