CONFIG_USB_GADGET=n
CONFIG_BLK_CGROUP_RWSTAT=n
CONFIG_GENERIC_IRQ_MULTI_HANDLER=n
CONFIG_CRC_ITU_T=n
CONFIG_SPARSE_IRQ=n
CONFIG_FAIR_GROUP_SCHED=n
CONFIG_SUNRPC_GSS=n
CONFIG_HAVE_ARCH_HUGE_VMAP=n
CONFIG_VIRT_XFER_TO_GUEST_WORK=n
CONFIG_PWRSEQ_SIMPLE=n
CONFIG_NET_VENDOR_DLINK=n
CONFIG_NETDEVICES=n
CONFIG_ARCH_SELECT_MEMORY_MODEL=n
CONFIG_CLK_SIFIVE_PRCI=n
CONFIG_BCMA_POSSIBLE=n
CONFIG_CPU_PM=n
CONFIG_DRM_GEM_SHMEM_HELPER=n
CONFIG_DEVPORT=n
CONFIG_REGULATOR_SPACEMIT_P1=n
CONFIG_HAVE_STACKPROTECTOR=n
CONFIG_TRACEFS_AUTOMOUNT_DEPRECATED=n
CONFIG_PT_RECLAIM=n
CONFIG_CPU_RMAP=n
CONFIG_BLK_DEV_SD=n
CONFIG_RD_BZIP2=n
CONFIG_DT_IDLE_STATES=n
CONFIG_RISCV_ISA_VENDOR_EXT=n
CONFIG_RFS_ACCEL=n
CONFIG_DWMAC_GENERIC=n
CONFIG_MEDIA_SUBDRV_AUTOSELECT=n
CONFIG_INET_TUNNEL=n
CONFIG_RAMDAX=n
CONFIG_CLK_STARFIVE_JH7110_STG=n
CONFIG_CRYPTO_KRB5ENC=n
CONFIG_DM_BUFIO=n
CONFIG_CONTEXT_TRACKING=n
CONFIG_HAVE_BUILDTIME_MCOUNT_SORT=n
CONFIG_HAVE_KERNEL_XZ=n
CONFIG_SG_POOL=n
CONFIG_FB_SYS_COPYAREA=n
CONFIG_SECCOMP=n
CONFIG_NET_VENDOR_MICROSEMI=n
CONFIG_HW_RANDOM_JH7110=n
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE=n
CONFIG_SPI=n
CONFIG_ACPI_GENERIC_GSI=n
CONFIG_MODULES_TREE_LOOKUP=n
CONFIG_CC_HAS_ZERO_CALL_USED_REGS=n
CONFIG_BLOCK_LEGACY_AUTOLOAD=n
CONFIG_ARCH_WEAK_RELEASE_ACQUIRE=n
CONFIG_GENERIC_IRQ_EFFECTIVE_AFF_MASK=n
CONFIG_DRM_PANEL=n
CONFIG_FAT_FS=n
CONFIG_NET_INGRESS=n
CONFIG_HAVE_ARCH_AUDITSYSCALL=n
CONFIG_IP_VS_PROTO_TCP=n
CONFIG_USB_EHCI_HCD_PLATFORM=n
CONFIG_FB_CFB_COPYAREA=n
CONFIG_STACKPROTECTOR=n
CONFIG_NFS_V4_2=n
CONFIG_RISCV_PMU_SBI=n
CONFIG_WATCHDOG=n
CONFIG_GENERIC_SYSCALL=n
CONFIG_FAILOVER=n
CONFIG_DRM_DISPLAY_HDMI_HELPER=n
CONFIG_UTS_NS=n
CONFIG_NET_FAILOVER=n
CONFIG_RD_LZ4=n
CONFIG_V4L2_FWNODE=n
CONFIG_THREAD_INFO_IN_TASK=n
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE_PUD=n
CONFIG_CLZ_TAB=n
CONFIG_RTC_INTF_SYSFS=n
CONFIG_CRYPTO_ALGAPI2=n
CONFIG_ARCH_HAS_CC_CAN_LINK=n
CONFIG_DRM_NOUVEAU_BACKLIGHT=n
CONFIG_FRAMEBUFFER_CONSOLE_DETECT_PRIMARY=n
CONFIG_OF_MDIO=n
CONFIG_ARCH_HAS_KERNEL_FPU_SUPPORT=n
CONFIG_SCSI_VIRTIO=n
CONFIG_CRYPTO_CTR=n
CONFIG_SERIAL_OF_PLATFORM=n
CONFIG_INPUT_VIVALDIFMAP=n
CONFIG_MEDIA_PLATFORM_DRIVERS=n
CONFIG_MODULES=n
CONFIG_COMMON_CLK_RPMI=n
CONFIG_STACKPROTECTOR_PER_TASK=n
CONFIG_USB_CDNSP_PCI=n
CONFIG_SND_SOC_SDCA_OPTIONAL=n
CONFIG_SND_SOC_GENERIC_DMAENGINE_PCM=n
CONFIG_HAVE_ARCH_MMAP_RND_COMPAT_BITS=n
CONFIG_HAVE_ARCH_RANDOMIZE_KSTACK_OFFSET=n
CONFIG_GPIO_SPACEMIT_K1=n
CONFIG_ARCH_HAS_TICK_BROADCAST=n
CONFIG_CRC_CCITT=n
CONFIG_RISCV_PMU_LEGACY=n
CONFIG_GENERIC_STRNLEN_USER=n
CONFIG_LEGACY_PTYS=n
CONFIG_RISCV_VECTOR_MISALIGNED=n
CONFIG_VIDEO_V4L2_SUBDEV_API=n
CONFIG_NEED_DMA_MAP_STATE=n
CONFIG_SND_SOC_WM8978=n
CONFIG_IP_PNP_RARP=n
CONFIG_CPU_IDLE=n
CONFIG_HAVE_KPROBES=n
CONFIG_MEMBARRIER=n
CONFIG_64BIT=n
CONFIG_BLK_MQ_STACKING=n
CONFIG_HAVE_SYSCALL_TRACEPOINTS=n
CONFIG_BINFMT_ELF=n
CONFIG_RESET_SPACEMIT_K1=n
CONFIG_RD_LZMA=n
CONFIG_ARCH_USE_QUEUED_SPINLOCKS=n
CONFIG_HAS_IOMEM=n
CONFIG_BLK_DEV_LOOP=n
CONFIG_POSIX_MQUEUE=n
CONFIG_MEDIA_SUPPORT_FILTER=n
CONFIG_NET_VENDOR_CORTINA=n
CONFIG_GENERIC_PINMUX_FUNCTIONS=n
CONFIG_OID_REGISTRY=n
CONFIG_RISCV_IMSIC=n
CONFIG_ARCH_HAS_MEMBARRIER_SYNC_CORE=n
CONFIG_GENERIC_STRNCPY_FROM_USER=n
CONFIG_WLAN_VENDOR_BROADCOM=n
CONFIG_GLOB=n
CONFIG_DRM_GPUVM=n
CONFIG_BLK_CGROUP=n
CONFIG_HAVE_KCSAN_COMPILER=n
CONFIG_PINCTRL_STARFIVE_JH7110_AON=n
CONFIG_DRM_BRIDGE=n
CONFIG_SERIO=n
CONFIG_USB_CONFIGFS_ECM=n
CONFIG_MTD=n
CONFIG_VIRTIO_PCI_LIB=n
CONFIG_OVERLAY_FS=n
CONFIG_XZ_DEC_ARM64=n
CONFIG_GENERIC_ENTRY=n
CONFIG_NET_VENDOR_SEEQ=n
CONFIG_PROFILING=n
CONFIG_USB_PHY=n
CONFIG_USB_F_RNDIS=n
CONFIG_CPU_FREQ_GOV_POWERSAVE=n
CONFIG_HAVE_PREEMPT_DYNAMIC_KEY=n
CONFIG_ARCH_SUPPORTS_PER_VMA_LOCK=n
CONFIG_SIFIVE_CCACHE=n
CONFIG_STACKPROTECTOR_STRONG=n
CONFIG_HIGH_RES_TIMERS=n
CONFIG_R8169=n
CONFIG_CPUFREQ_DT_PLATDEV=n
CONFIG_CONTEXT_SWITCH_TRACER=n
CONFIG_CRYPTO_SIG2=n
CONFIG_ARCH_SUPPORTS_SCHED_MC=n
CONFIG_ARCH_SUPPORTS_KEXEC_PURGATORY=n
CONFIG_RAID6_PQ=n
CONFIG_CAN_CALC_BITTIMING=n
CONFIG_TOOLCHAIN_NEEDS_EXPLICIT_ZICSR_ZIFENCEI=n
CONFIG_I2C_HID=n
CONFIG_JUMP_LABEL=n
CONFIG_WATCHDOG_HANDLE_BOOT_ENABLED=n
CONFIG_MDIO_BUS_MUX=n
CONFIG_BLK_DEV_INITRD=n
CONFIG_BLK_DEV_BSG=n
CONFIG_UPROBES=n
CONFIG_PM_GENERIC_DOMAINS_SLEEP=n
CONFIG_NFS_FS=n
CONFIG_USB_OHCI_HCD_PLATFORM=n
CONFIG_SERIAL_8250_DW=n
CONFIG_ARCH_HAS_STRICT_MODULE_RWX=n
CONFIG_ARCH_WANT_OPTIMIZE_DAX_VMEMMAP=n
CONFIG_SOCK_CGROUP_DATA=n
CONFIG_FB_CFB_FILLRECT=n
CONFIG_ATA_ACPI=n
CONFIG_VIRTIO_MMIO=n
CONFIG_RTC_I2C_AND_SPI=n
CONFIG_CLK_STARFIVE_JH7110_SYS=n
CONFIG_GENERIC_CLOCKEVENTS=n
CONFIG_DMA_BOUNCE_UNALIGNED_KMALLOC=n
CONFIG_CRYPTO_USER_API_HASH=n
CONFIG_SYSCTL=n
CONFIG_RISCV_PROBE_VECTOR_UNALIGNED_ACCESS=n
CONFIG_ARCH_HAS_NON_OVERLAPPING_ADDRESS_SPACE=n
CONFIG_NET_9P_FD=n
CONFIG_SPI_SPACEMIT_K1=n
CONFIG_HAVE_KVM_READONLY_MEM=n
CONFIG_GUEST_PERF_EVENTS=n
CONFIG_RAID6_PQ_ARCH=n
CONFIG_USB_LIBCOMPOSITE=n
CONFIG_HAVE_ARCH_MMAP_RND_BITS=n
CONFIG_RESET_STARFIVE_JH7100=n
CONFIG_EEPROM_93CX6=n
CONFIG_CLK_THEAD_TH1520_AP=n
CONFIG_BRIDGE_NETFILTER=n
CONFIG_SYSVIPC_SYSCTL=n
CONFIG_ACPI_VIDEO=n
CONFIG_GCC_ASM_GOTO_OUTPUT_BROKEN=n
CONFIG_SECURITY_APPARMOR_INTROSPECT_POLICY=n
CONFIG_RESET_K230=n
CONFIG_GPIO_ACPI=n
CONFIG_USB_F_ACM=n
CONFIG_DYNAMIC_EVENTS=n
CONFIG_WLAN_VENDOR_INTEL=n
CONFIG_RISCV_RPMI_SYSMSI=n
CONFIG_SERIAL_EARLYCON=n
CONFIG_BLK_ICQ=n
CONFIG_NET_VENDOR_SYNOPSYS=n
CONFIG_CRYPTO_AUTHENC=n
CONFIG_TIMER_OF=n
CONFIG_CLK_SOPHGO_SG2042_RPGATE=n
CONFIG_MOUSE_PS2_SYNAPTICS_SMBUS=n
CONFIG_SLAB_OBJ_EXT=n
CONFIG_MOTORCOMM_PHY=n
CONFIG_SATA_HOST=n
CONFIG_MMC_SPI=n
CONFIG_RESET_SUNXI=n
CONFIG_GENERIC_IOREMAP=n
CONFIG_IRQ_DOMAIN_HIERARCHY=n
CONFIG_I2C_ALGOBIT=n
CONFIG_NET_DEVLINK=n
CONFIG_RWSEM_SPIN_ON_OWNER=n
CONFIG_BLK_DEV_SR=n
CONFIG_ACPI_BATTERY=n
CONFIG_MEDIA_PLATFORM_SUPPORT=n
CONFIG_AUDIT=n
CONFIG_EVENT_TRACING=n
CONFIG_XZ_DEC_SPARC=n
CONFIG_IPV6=n
CONFIG_OF_ADDRESS=n
CONFIG_DRM_NOUVEAU=n
CONFIG_NET_VENDOR_STMICRO=n
CONFIG_ACPI_AC=n
CONFIG_NET_VENDOR_AQUANTIA=n
CONFIG_SUN6I_RTC_CCU=n
CONFIG_CRC32=n
CONFIG_RPMSG_VIRTIO=n
CONFIG_NET_VENDOR_META=n
CONFIG_ATA_FORCE=n
CONFIG_PROC_SYSCTL=n
CONFIG_XARRAY_MULTI=n
CONFIG_ARCH_SPARSEMEM_ENABLE=n
CONFIG_NO_HZ_COMMON=n
CONFIG_POLARFIRE_SOC_IRQ_MUX=n
CONFIG_IPVLAN=n
CONFIG_PINMUX=n
CONFIG_PHYLIB=n
CONFIG_PROC_PAGE_MONITOR=n
CONFIG_NETFILTER_ADVANCED=n
CONFIG_GPIOLIB_IRQCHIP=n
CONFIG_XZ_DEC_X86=n
CONFIG_DECOMPRESS_LZO=n
CONFIG_CGROUP_NET_PRIO=n
CONFIG_PCIEASPM_DEFAULT=n
CONFIG_CPU_FREQ_GOV_ATTR_SET=n
CONFIG_STP=n
CONFIG_FIX_EARLYCON_MEM=n
CONFIG_USB_CDNS3=n
CONFIG_PREEMPT_LAZY=n
CONFIG_IPC_NS=n
CONFIG_NET_SOCK_MSG=n
CONFIG_USB_SUPPORT=n
CONFIG_AF_UNIX_OOB=n
CONFIG_ERRATA_THEAD_CMO=n
CONFIG_ELFCORE=n
CONFIG_RISCV_ISA_ZICBOZ=n
CONFIG_SUNXI_WATCHDOG=n
CONFIG_CPU_FREQ_GOV_CONSERVATIVE=n
CONFIG_PCIE_DW=n
CONFIG_TICK_ONESHOT=n
CONFIG_SND_SPI=n
CONFIG_RISCV_ISA_ZBKB=n
CONFIG_CRYPTO_SHA1=n
CONFIG_SECURITY_SELINUX_AVC_STATS=n
CONFIG_BLK_DEV=n
CONFIG_OF=n
CONFIG_DIMLIB=n
CONFIG_PHYS_ADDR_T_64BIT=n
CONFIG_PINCTRL_STARFIVE_JH7110=n
CONFIG_BLK_DEV_WRITE_MOUNTED=n
CONFIG_HAS_IOPORT=n
CONFIG_USB_CONFIGFS_NCM=n
CONFIG_SYSCTL_EXCEPTION_TRACE=n
CONFIG_XZ_DEC_POWERPC=n
CONFIG_COMPAT=n
CONFIG_ARCH_MICROCHIP=n
CONFIG_HUGETLB_PAGE=n
CONFIG_MOUSE_PS2_ALPS=n
CONFIG_TMPFS_POSIX_ACL=n
CONFIG_FWNODE_MDIO=n
CONFIG_DRM_DW_HDMI=n
CONFIG_RESET_SPACEMIT_COMMON=n
CONFIG_NET_VENDOR_MUCSE=n
CONFIG_RISCV_ALTERNATIVE=n
CONFIG_NET_CORE=n
CONFIG_SND_TIMER=n
CONFIG_DECOMPRESS_LZMA=n
CONFIG_PINCTRL_TH1520=n
CONFIG_SERIAL_CORE_CONSOLE=n
CONFIG_SERIAL_8250_16550A_VARIANTS=n
CONFIG_NF_DEFRAG_IPV6=n
CONFIG_PINCTRL_STARFIVE_JH7110_SYS=n
CONFIG_GOLDFISH=n
