CONFIG_HAVE_MOVE_PUD=n
CONFIG_COMMON_CLK_RPMI=n
CONFIG_TOOLCHAIN_HAS_ZBC=n
CONFIG_GENERIC_IRQ_ENTRY=n
CONFIG_NET_CORE=n
CONFIG_SUN50I_IOMMU=n
CONFIG_WLAN=n
CONFIG_INPUT_MOUSEDEV=n
CONFIG_USB_GADGET=n
CONFIG_LINEAR_RANGES=n
CONFIG_XZ_DEC_BCJ=n
CONFIG_USB_EHCI_TT_NEWSCHED=n
CONFIG_VIRTIO_MENU=n
CONFIG_SND_SOC_I2C_AND_SPI=n
CONFIG_TENSTORRENT_ATLANTIS_PRCM=n
CONFIG_HOTPLUG_SPLIT_STARTUP=n
CONFIG_TASKS_TRACE_RCU=n
CONFIG_ARCH_HAS_PREEMPT_LAZY=n
CONFIG_USB_U_ETHER=n
CONFIG_SCSI_PROC_FS=n
CONFIG_CC_HAS_AUTO_VAR_INIT_PATTERN=n
CONFIG_NET_SCHED=n
CONFIG_NET_VENDOR_AMD=n
CONFIG_HID_SUPPORT=n
CONFIG_OF=n
CONFIG_CC_NO_STRINGOP_OVERFLOW=n
CONFIG_CRYPTO_HW=n
CONFIG_USB_F_SUBSET=n
CONFIG_DTC=n
CONFIG_VFAT_FS=n
CONFIG_STMMAC_ETH=n
CONFIG_NET_9P_FD=n
CONFIG_GPIO_CDEV=n
CONFIG_DM_THIN_PROVISIONING=n
CONFIG_CRC16=n
CONFIG_USB_MUSB_HDRC=n
CONFIG_DRM_PANEL_ORIENTATION_QUIRKS=n
CONFIG_ARCH_USE_MEMTEST=n
CONFIG_CONSOLE_TRANSLATIONS=n
CONFIG_RATIONAL=n
CONFIG_PNFS_FLEXFILE_LAYOUT=n
CONFIG_CLK_STARFIVE_JH7110_ISP=n
CONFIG_INOTIFY_USER=n
CONFIG_POLARFIRE_SOC_SYSCONS=n
CONFIG_VIDEO_V4L2_SUBDEV_API=n
CONFIG_CRYPTO_AKCIPHER2=n
CONFIG_TRACEPOINTS=n
CONFIG_COMMON_CLK_EIC7700=n
CONFIG_DST_CACHE=n
CONFIG_DUMMY=n
CONFIG_FW_CACHE=n
CONFIG_RISCV_ISA_SVPBMT=n
CONFIG_KERNEL_GZIP=n
CONFIG_CGROUP_HUGETLB=n
CONFIG_RISCV_SBI_CPUIDLE=n
CONFIG_WLAN_VENDOR_MEDIATEK=n
CONFIG_FB_SYSMEM_HELPERS=n
CONFIG_VT_HW_CONSOLE_BINDING=n
CONFIG_REGULATOR_AXP20X=n
CONFIG_EPROBE_EVENTS=n
CONFIG_CRYPTO_KPP2=n
CONFIG_DWMAC_SUNXI=n
CONFIG_ARCH_STACKWALK=n
CONFIG_EXT4_FS_POSIX_ACL=n
CONFIG_PWM=n
CONFIG_XZ_DEC_RISCV=n
CONFIG_PM_GENERIC_DOMAINS_OF=n
CONFIG_NET_9P=n
CONFIG_BFQ_GROUP_IOSCHED=n
CONFIG_PCIEASPM_DEFAULT=n
CONFIG_LZ4_DECOMPRESS=n
CONFIG_LEGACY_DIRECT_IO=n
CONFIG_CPU_FREQ_GOV_USERSPACE=n
CONFIG_USB_F_FS=n
CONFIG_PCIE_DW=n
CONFIG_PM_OPP=n
CONFIG_HAVE_KRETPROBES=n
CONFIG_NET_VENDOR_SIS=n
CONFIG_HARDIRQS_SW_RESEND=n
CONFIG_R8169=n
CONFIG_ACPI_PPTT=n
CONFIG_ARCH_SUPPORTS_MSEAL_SYSTEM_MAPPINGS=n
CONFIG_ACPI_VIDEO=n
CONFIG_XARRAY_MULTI=n
CONFIG_CC_NO_ARRAY_BOUNDS=n
CONFIG_SIFIVE_PLIC=n
CONFIG_ARCH_USE_QUEUED_SPINLOCKS=n
CONFIG_DECOMPRESS_XZ=n
CONFIG_RCU_STALL_COMMON=n
CONFIG_OF_FLATTREE=n
CONFIG_HUGETLB_PAGE_OPTIMIZE_VMEMMAP=n
CONFIG_MMC_DW=n
CONFIG_RISCV_ISA_VENDOR_EXT_ANDES=n
CONFIG_GENERIC_CPU_VULNERABILITIES=n
CONFIG_GENERIC_PT=n
CONFIG_SECURITY_APPARMOR_HASH=n
CONFIG_CRYPTO_USER_API=n
CONFIG_HAVE_PERF_REGS=n
CONFIG_RPMSG_CHAR=n
CONFIG_MMU_NOTIFIER=n
CONFIG_NET_VENDOR_SAMSUNG=n
CONFIG_VM_EVENT_COUNTERS=n
CONFIG_NEED_TASKS_RCU=n
CONFIG_RISCV_ISA_XTHEADVECTOR=n
CONFIG_VIRTUALIZATION=n
CONFIG_NET_UDP_TUNNEL=n
CONFIG_NET_VENDOR_ALIBABA=n
CONFIG_USB_UAS=n
CONFIG_COREDUMP=n
CONFIG_IRQCHIP=n
CONFIG_I2C_K1=n
CONFIG_FS_STACK=n
CONFIG_HAVE_SAMPLE_FTRACE_DIRECT=n
CONFIG_IP6_NF_MATCH_IPV6HEADER=n
CONFIG_NET_VENDOR_CADENCE=n
CONFIG_RESET_STARFIVE_JH71X0=n
CONFIG_NET_VENDOR_NATSEMI=n
CONFIG_I2C_MUX=n
CONFIG_SERIAL_EARLYCON_RISCV_SBI=n
CONFIG_STACKPROTECTOR_PER_TASK=n
CONFIG_ARCH_SUPPORTS_PAGE_TABLE_CHECK=n
CONFIG_ARCH_MICROCHIP_POLARFIRE=n
CONFIG_MMC_SDHCI_PLTFM=n
CONFIG_HAVE_EBPF_JIT=n
CONFIG_DRM_CLIENT_SETUP=n
CONFIG_DEVPORT=n
CONFIG_EFI_EARLYCON=n
CONFIG_RISCV_PMU=n
CONFIG_INIT_STACK_ALL_ZERO=n
CONFIG_NF_DEFRAG_IPV6=n
CONFIG_DAX=n
CONFIG_CC_HAS_WORKING_NOSANITIZE_ADDRESS=n
CONFIG_PCPU_DEV_REFCNT=n
CONFIG_PINCTRL_SOPHGO_SG2000=n
CONFIG_PHY_SUN4I_USB=n
CONFIG_NET_VENDOR_ARC=n
CONFIG_FIRMWARE_TABLE=n
CONFIG_MMC=n
CONFIG_SERIAL_8250_PCILIB=n
CONFIG_ARCH_ANLOGIC=n
CONFIG_IP_VS_NFCT=n
CONFIG_DMA_NEED_SYNC=n
CONFIG_NET_VENDOR_HISILICON=n
CONFIG_BLOCK_LEGACY_AUTOLOAD=n
CONFIG_NOP_USB_XCEIV=n
CONFIG_ARCH_WANT_LD_ORPHAN_WARN=n
CONFIG_GENERIC_SMP_IDLE_THREAD=n
CONFIG_DEVMEM=n
CONFIG_SUN6I_MSGBOX=n
CONFIG_FUTEX_PRIVATE_HASH=n
CONFIG_NET_VENDOR_EZCHIP=n
CONFIG_MOUSE_PS2_BYD=n
CONFIG_RCU_NEED_SEGCBLIST=n
CONFIG_AS_HAS_OPTION_ARCH=n
CONFIG_STP=n
CONFIG_MTD_SPI_NOR_SWP_DISABLE_ON_VOLATILE=n
CONFIG_NET_VENDOR_TI=n
CONFIG_NVMEM=n
CONFIG_ARCH_SUPPORTS_LTO_CLANG=n
CONFIG_ARCH_WANT_DEFAULT_TOPDOWN_MMAP_LAYOUT=n
CONFIG_RISCV_ISA_ZICBOM=n
CONFIG_ARCH_HAVE_NMI_SAFE_CMPXCHG=n
CONFIG_CRYPTO_SIG=n
CONFIG_ELF_CORE=n
CONFIG_MQ_IOSCHED_DEADLINE=n
CONFIG_SND_JACK=n
CONFIG_HAVE_RSEQ=n
CONFIG_CGROUP_DEVICE=n
CONFIG_CPU_MITIGATIONS=n
CONFIG_NET_VENDOR_ASIX=n
CONFIG_ERRATA_THEAD_MAE=n
CONFIG_ARCH_HAS_UBSAN=n
CONFIG_EXECMEM=n
CONFIG_ARCH_HAS_DMA_PREP_COHERENT=n
CONFIG_GENERIC_HWEIGHT=n
CONFIG_RTC_NVMEM=n
CONFIG_CRYPTO_GENIV=n
CONFIG_HAVE_SAMPLE_FTRACE_DIRECT_MULTI=n
CONFIG_NO_HZ_IDLE=n
CONFIG_CGROUP_WRITEBACK=n
CONFIG_CGROUP_BPF=n
CONFIG_MMC_SPI=n
CONFIG_MEMTEST=n
CONFIG_INPUT_EVDEV=n
CONFIG_CAN_DEV=n
CONFIG_NET_VENDOR_MELLANOX=n
CONFIG_NET_VENDOR_MICROCHIP=n
CONFIG_GENERIC_SCHED_CLOCK=n
CONFIG_NET_VENDOR_REALTEK=n
CONFIG_ARCH_KEEP_MEMBLOCK=n
CONFIG_RPCSEC_GSS_KRB5=n
CONFIG_MOTORCOMM_PHY=n
CONFIG_NETFS_SUPPORT=n
CONFIG_HVC_DRIVER=n
CONFIG_SOCK_RX_QUEUE_MAPPING=n
CONFIG_TMPFS=n
CONFIG_ARCH_SUPPORTS_PER_VMA_LOCK=n
CONFIG_RESET_SPACEMIT_K3=n
CONFIG_PAGE_SIZE_4KB=n
CONFIG_SERIAL_CORE_CONSOLE=n
CONFIG_SND_SOC_JH7110_TDM=n
CONFIG_MOUSE_PS2_SYNAPTICS_SMBUS=n
CONFIG_DNOTIFY=n
CONFIG_PCIEASPM=n
CONFIG_DECOMPRESS_GZIP=n
CONFIG_NET_VENDOR_OKI=n
CONFIG_IO_URING=n
CONFIG_FIX_EARLYCON_MEM=n
CONFIG_PRINTK_TIME=n
CONFIG_CONTEXT_TRACKING=n
CONFIG_SPI=n
CONFIG_MPILIB=n
CONFIG_FB_IOMEM_FOPS=n
CONFIG_ARCH_ULTRARISC=n
CONFIG_OF_KOBJ=n
CONFIG_ACPI_CPPC_CPUFREQ=n
CONFIG_NAMESPACES=n
CONFIG_KEYBOARD_ATKBD=n
CONFIG_USB_CDNS3=n
CONFIG_BALLOON_MIGRATION=n
CONFIG_IO_URING_ZCRX=n
CONFIG_ARCH_HAS_STRICT_MODULE_RWX=n
CONFIG_DRM_FBDEV_EMULATION=n
CONFIG_JUMP_LABEL=n
CONFIG_LZO_COMPRESS=n
CONFIG_NET_VENDOR_ADI=n
CONFIG_NET_VENDOR_MARVELL=n
CONFIG_IP_NF_IPTABLES=n
CONFIG_BLK_DEV_THROTTLING=n
CONFIG_INITRAMFS_PRESERVE_MTIME=n
CONFIG_DRM_CLIENT=n
CONFIG_MMC_SDHCI_IO_ACCESSORS=n
CONFIG_CRYPTO_ECB=n
CONFIG_PINCTRL_SOPHGO_SG2002=n
CONFIG_CRYPTO_CMAC=n
CONFIG_PCI=n
CONFIG_PREEMPT_NOTIFIERS=n
CONFIG_RANDOMIZE_KSTACK_OFFSET=n
CONFIG_NET_IP_TUNNEL=n
CONFIG_PAGE_POOL=n
CONFIG_ATA_ACPI=n
CONFIG_NET_NS=n
CONFIG_HOTPLUG_CORE_SYNC_FULL=n
CONFIG_PM_GENERIC_DOMAINS=n
CONFIG_SERIAL_8250_DWLIB=n
CONFIG_ARCH_HAS_PTE_SPECIAL=n
CONFIG_HAVE_DMA_CONTIGUOUS=n
CONFIG_CRYPTO_LIB_SHA512=n
CONFIG_ETHERNET=n
CONFIG_CRYPTO_AUTHENC=n
CONFIG_HZ_250=n
CONFIG_VIRTIO_PCI_LIB_LEGACY=n
CONFIG_BLK_CGROUP_RWSTAT=n
CONFIG_MFD_CORE=n
CONFIG_DMA_SUN6I=n
CONFIG_I2C_ALGOBIT=n
CONFIG_CRYPTO_USER_API_ENABLE_OBSOLETE=n
CONFIG_RESET_EIC7700=n
CONFIG_ACPI_REDUCED_HARDWARE_ONLY=n
CONFIG_ROOT_NFS=n
CONFIG_IKCONFIG_PROC=n
CONFIG_USB_CDNS3_GADGET=n
CONFIG_SECURITY_APPARMOR=n
CONFIG_PHY_STARFIVE_JH7110_PCIE=n
CONFIG_GPIOLIB_IRQCHIP=n
CONFIG_HAVE_KCSAN_COMPILER=n
CONFIG_SPI_DYNAMIC=n
CONFIG_GENERIC_STRNLEN_USER=n
CONFIG_BUG=n
CONFIG_USB_PCI=n
CONFIG_TMPFS_XATTR=n
CONFIG_IOMMU_API=n
CONFIG_BLK_ICQ=n
CONFIG_QUEUED_RWLOCKS=n
CONFIG_SUSPEND=n
CONFIG_DQL=n
CONFIG_BLK_DEV_DM_BUILTIN=n
CONFIG_SLUB=n
CONFIG_WLAN_VENDOR_REALTEK=n
CONFIG_ARCH_HAS_HW_PTE_YOUNG=n
CONFIG_DMA_SHARED_BUFFER=n
CONFIG_THREAD_INFO_IN_TASK=n
CONFIG_NET_VENDOR_ENGLEDER=n
CONFIG_SPI_CADENCE_QUADSPI=n
CONFIG_SUN55I_PCK600=n
CONFIG_DWMAC_SOPHGO=n
CONFIG_SND_VERBOSE_PROCFS=n
CONFIG_ACPI_THERMAL_LIB=n
CONFIG_RTC_INTF_SYSFS=n
CONFIG_RISCV_ALTERNATIVE_EARLY=n
CONFIG_WATCHDOG=n
CONFIG_THERMAL_GOV_STEP_WISE=n
CONFIG_HAVE_PCI=n
CONFIG_HAVE_KVM_DIRTY_RING=n
CONFIG_DEFAULT_SECURITY_DAC=n
CONFIG_RISCV_ISA_C=n
CONFIG_EVENT_TRACING=n
CONFIG_TICK_CPU_ACCOUNTING=n
CONFIG_HAVE_FUNCTION_ARG_ACCESS_API=n
CONFIG_XFRM=n
