CONFIG_EFI_CUSTOM_SSDT_OVERLAYS=n
CONFIG_PHY_CAN_TRANSCEIVER=n
CONFIG_SOC_TEGRA_CBB=n
CONFIG_SND_SOC_RT5682=n
CONFIG_RTC_DRV_RK808=n
CONFIG_TI_SCI_CLK=n
CONFIG_GPIO_PCA953X=n
CONFIG_TRANSPARENT_HUGEPAGE_SHMEM_HUGE_NEVER=n
CONFIG_CRC64=n
CONFIG_QCOM_QDF2400_ERRATUM_0065=n
CONFIG_CRYPTO_DEV_FSL_CAAM=n
CONFIG_SND_SOC_MESON_T9015=n
CONFIG_DRM_ITE_IT6263=n
CONFIG_COMMON_CLK_MT8195_IMP_IIC_WRAP=n
CONFIG_I2C_SLAVE=n
CONFIG_XZ_DEC_BCJ=n
CONFIG_LZO_COMPRESS=n
CONFIG_LOCALVERSION_AUTO=n
CONFIG_TCG_TPM=n
CONFIG_BRCMSTB_DPFE=n
CONFIG_SPMI_MSM_PMIC_ARB=n
CONFIG_NVMEM_RMEM=n
CONFIG_KVM_GENERIC_DIRTYLOG_READ_PROTECT=n
CONFIG_BT_MRVL_SDIO=n
CONFIG_MHP_DEFAULT_ONLINE_TYPE_OFFLINE=n
CONFIG_COMMON_CLK_MT8186_WPESYS=n
CONFIG_TCG_TIS_CORE=n
CONFIG_KALLSYMS=n
CONFIG_HAVE_EBPF_JIT=n
CONFIG_BRIDGE_NETFILTER=n
CONFIG_IOMMU_IO_PGTABLE_DART=n
CONFIG_PHY_QCOM_QMP_COMBO=n
CONFIG_GREYBUS=n
CONFIG_PCI_LAYERSCAPE=n
CONFIG_IRQ_FORCED_THREADING=n
CONFIG_MARVELL_PHY=n
CONFIG_HAVE_POSIX_CPU_TIMERS_TASK_WORK=n
CONFIG_BT_LEDS=n
CONFIG_SYSCTL=n
CONFIG_SM_DISPCC_8550=n
CONFIG_ARM_AIROHA_SOC_CPUFREQ=n
CONFIG_SBITMAP=n
CONFIG_SND_SOC_NAU8822=n
CONFIG_BCMA_POSSIBLE=n
CONFIG_SM_VIDEOCC_MILOS=n
CONFIG_SM_GPUCC_6115=n
CONFIG_ARCH_SUPPORTS_MEMORY_FAILURE=n
CONFIG_SND_SOC_SOF_XTENSA=n
CONFIG_SYSVIPC_SYSCTL=n
CONFIG_SYSC_R8A77990=n
CONFIG_USB_CHIPIDEA=n
CONFIG_PCIE_MOBIVEIL_HOST=n
CONFIG_DWMAC_SUN55I=n
CONFIG_NET_NS=n
CONFIG_NET_SELFTESTS=n
CONFIG_MFD_SIMPLE_MFD_I2C=n
CONFIG_COMMON_CLK_CS2000_CP=n
CONFIG_COMMON_CLK_MT8183_VENCSYS=n
CONFIG_GPIO_TEGRA=n
CONFIG_SND_HDA_CODEC_HDMI_GENERIC=n
CONFIG_SND_SOC_TOPOLOGY=n
CONFIG_ROCKCHIP_DW_MIPI_DSI=n
CONFIG_TYPEC_FUSB302=n
CONFIG_KEXEC=n
CONFIG_RAID6_PQ_BENCHMARK=n
CONFIG_CLK_IMX8MP=n
CONFIG_SND_SOC_QCOM_OFFLOAD_UTILS=n
CONFIG_TYPEC_TPS6598X=n
CONFIG_PCI_ENDPOINT_TEST=n
CONFIG_STM_PROTO_BASIC=n
CONFIG_COMPACTION=n
CONFIG_NVMEM_ZYNQMP=n
CONFIG_TI_K3_RINGACC=n
CONFIG_DRM_DISPLAY_HDCP_HELPER=n
CONFIG_GENERIC_HWEIGHT=n
CONFIG_USB_PEGASUS=n
CONFIG_RESET_TI_SYSCON=n
CONFIG_IPMI_DMI_DECODE=n
CONFIG_SM_GPUCC_8250=n
CONFIG_DRM_POWERVR=n
CONFIG_SND_MESON_AXG_TDMIN=n
CONFIG_MEDIATEK_WATCHDOG=n
CONFIG_CPU_FREQ_GOV_CONSERVATIVE=n
CONFIG_GPIO_ZYNQMP_MODEPIN=n
CONFIG_RENESAS_WDT=n
CONFIG_PHY_CADENCE_DPHY_RX=n
CONFIG_SUNXI_RSB=n
CONFIG_FSL_DPAA=n
CONFIG_INPUT_SPARSEKMAP=n
CONFIG_BACKLIGHT_APPLE_DWI=n
CONFIG_EXCLUSIVE_SYSTEM_RAM=n
CONFIG_IMX_SCU_PD=n
CONFIG_NFS_COMMON=n
CONFIG_POSIX_CPU_TIMERS_TASK_WORK=n
CONFIG_TRANS_TABLE=n
CONFIG_ARCH_MEDIATEK=n
CONFIG_I2C_BOARDINFO=n
CONFIG_XEN_GNTDEV=n
CONFIG_WLAN_VENDOR_TI=n
CONFIG_ARCH_PROC_KCORE_TEXT=n
CONFIG_PCIEAER=n
CONFIG_SLIM_QCOM_NGD_CTRL=n
CONFIG_PINCTRL_IMX=n
CONFIG_USB_QCOM_EUD=n
CONFIG_PHY_CADENCE_DPHY=n
CONFIG_PINCTRL_SC7180=n
CONFIG_COMMON_CLK_MT8188_IMGSYS=n
CONFIG_CRYPTO_DH=n
CONFIG_DECOMPRESS_LZO=n
CONFIG_SND_SOC_MT8188_MT6359=n
CONFIG_GPIO_TPIC2810=n
CONFIG_SERIAL_8250_DMA=n
CONFIG_PM8916_WATCHDOG=n
CONFIG_USB_OHCI_HCD=n
CONFIG_SPRD_COMMON_CLK=n
CONFIG_CAN_FLEXCAN=n
CONFIG_VIRTIO_BALLOON=n
CONFIG_USB_OTG=n
CONFIG_BINFMT_SCRIPT=n
CONFIG_GPIOLIB_LEGACY=n
CONFIG_ARCH_SUPPORTS_PER_VMA_LOCK=n
CONFIG_SERIAL_AMBA_PL011=n
CONFIG_PM_CLK=n
CONFIG_SND_MESON_AXG_TDMOUT=n
CONFIG_PINCTRL_IPROC_GPIO=n
CONFIG_INTERCONNECT_QCOM_MSM8916=n
CONFIG_IIO_ST_LSM6DSX_I2C=n
CONFIG_BT=n
CONFIG_USB_SNP_UDC_PLAT=n
CONFIG_CRC8=n
CONFIG_PROC_VMCORE=n
CONFIG_SYS_R9A09G056=n
CONFIG_COMMON_CLK_HI3670=n
CONFIG_REGULATOR_RAA215300=n
CONFIG_PINCTRL_SUN50I_H616_R=n
CONFIG_SND_SOC_SOF=n
CONFIG_ACPI_APEI_SEA=n
CONFIG_CLK_R8A77965=n
CONFIG_GENERIC_PINMUX_FUNCTIONS=n
CONFIG_USB_DWC3=n
CONFIG_V4L2_VP9=n
CONFIG_DRM_TI_SN65DSI83=n
CONFIG_ARM_CCI400_PMU=n
CONFIG_HAVE_ARCH_MMAP_RND_COMPAT_BITS=n
CONFIG_REGULATOR_QCOM_RPMH=n
CONFIG_ACPI_MCFG=n
CONFIG_PINCTRL_IPQ5332=n
CONFIG_ASPEED_P2A_CTRL=n
CONFIG_RENESAS_DMA=n
CONFIG_NVME_CORE=n
CONFIG_HW_PERF_EVENTS=n
CONFIG_PCIE_RCAR_GEN4_EP=n
CONFIG_PINCTRL_EXYNOS=n
CONFIG_SC_CAMCC_7280=n
CONFIG_ARM64_HW_AFDBM=n
CONFIG_USB_CDNS3_IMX=n
CONFIG_VIDEO_HANTRO_SUNXI=n
CONFIG_TRANSPARENT_HUGEPAGE_ALWAYS=n
CONFIG_COMMON_CLK_MT7986=n
CONFIG_EXT4_FS_POSIX_ACL=n
CONFIG_ARCH_HAS_SUBPAGE_FAULTS=n
CONFIG_FW_CACHE=n
CONFIG_RAVB=n
CONFIG_ARM_TIMER_SP804=n
CONFIG_I2C_MUX_PINCTRL=n
CONFIG_SND_SOC_LPASS_RX_MACRO=n
CONFIG_HAVE_PERF_USER_STACK_DUMP=n
CONFIG_MFD_VEXPRESS_SYSREG=n
CONFIG_NVMEM_IMX_OCOTP_SCU=n
CONFIG_ARCH_K3=n
CONFIG_DRM_RCAR_DU=n
CONFIG_DRM_DW_HDMI=n
CONFIG_NETFILTER_ADVANCED=n
CONFIG_MMC_TMIO_CORE=n
CONFIG_I2C_HID_OF=n
CONFIG_PHYLIB_LEDS=n
CONFIG_USB_RENESAS_USBHS_HCD=n
CONFIG_XZ_DEC_POWERPC=n
CONFIG_MUTEX_SPIN_ON_OWNER=n
CONFIG_PADATA=n
CONFIG_PINCTRL_STM32_HDP=n
CONFIG_ARCH_SYNQUACER=n
CONFIG_TEGRA_IOMMU_SMMU=n
CONFIG_NUMA_BALANCING=n
CONFIG_DP83822_PHY=n
CONFIG_PHY_QCOM_QMP_USB=n
CONFIG_ARCH_USE_MEMREMAP_PROT=n
CONFIG_DRM_EXEC=n
CONFIG_CRYPTO_DEV_QCE_ENABLE_ALL=n
CONFIG_ACPI_THERMAL=n
CONFIG_SERIAL_SH_SCI=n
CONFIG_DRM_SUN8I_DW_HDMI=n
CONFIG_PCI_HOST_THUNDER_ECAM=n
CONFIG_MACB_USE_HWSTAMP=n
CONFIG_ARM64_ERRATUM_3194386=n
CONFIG_SERIAL_OWL_CONSOLE=n
CONFIG_RTC_DRV_TEGRA=n
CONFIG_CRYPTO_DEV_ZYNQMP_SHA3=n
CONFIG_SKB_EXTENSIONS=n
CONFIG_MHI_WWAN_MBIM=n
CONFIG_ARCH_R9A09G077=n
CONFIG_PM_OPP=n
CONFIG_SYSVIPC_COMPAT=n
CONFIG_HAVE_ARCH_PREL32_RELOCATIONS=n
CONFIG_PINCTRL_PFC_R8A77970=n
CONFIG_THREAD_INFO_IN_TASK=n
CONFIG_DRM_CDNS_MHDP8546_J721E=n
CONFIG_SND_PROC_FS=n
CONFIG_GENERIC_SCHED_CLOCK=n
CONFIG_GENERIC_ARCH_NUMA=n
CONFIG_ARCH_SUPPORTS_KEXEC_HANDOVER=n
CONFIG_SND_SOC_FSL_SAI=n
CONFIG_ACPI_HOTPLUG_CPU=n
CONFIG_PINCTRL_SC8180X=n
CONFIG_IMX_SC_THERMAL=n
CONFIG_PHY_XGENE=n
CONFIG_OF_RESERVED_MEM=n
CONFIG_SUN55I_PCK600=n
CONFIG_INPUT=n
CONFIG_SND_SOC_AK4619=n
CONFIG_DRM_PANEL_BOE_TV101WUM_NL6=n
CONFIG_XILINX_DMA=n
CONFIG_SM_GCC_6115=n
CONFIG_COMMON_CLK_MT8195_CAMSYS=n
CONFIG_MTD_GEN_PROBE=n
CONFIG_STRICT_KERNEL_RWX=n
CONFIG_AUDIT_GENERIC=n
CONFIG_MLX5_CORE=n
CONFIG_MSDOS_PARTITION=n
CONFIG_DRM_DISPLAY_HDMI_CEC_NOTIFIER_HELPER=n
CONFIG_VIDEOBUF2_CORE=n
CONFIG_IPQ_NSSCC_5424=n
CONFIG_COMMON_CLK_G12A=n
CONFIG_RCAR_DMAC=n
CONFIG_IPMI_DEVICE_INTERFACE=n
CONFIG_NVMEM_REBOOT_MODE=n
CONFIG_DRM_MESON_DW_MIPI_DSI=n
CONFIG_SND_USB_AUDIO_QMI=n
CONFIG_MOUSE_ELAN_I2C_I2C=n
CONFIG_CC_HAS_KASAN_GENERIC=n
CONFIG_RANDSTRUCT_NONE=n
CONFIG_HAVE_KVM_IRQCHIP=n
CONFIG_SERIAL_8250_OMAP=n
CONFIG_PINCTRL_MT8365=n
CONFIG_VIDEO_IMX412=n
CONFIG_INTERCONNECT_QCOM_QCS8300=n
CONFIG_SM_GCC_8650=n
CONFIG_USB_RTL8152=n
CONFIG_DRM_MSM_GPU_STATE=n
CONFIG_RTC_DRV_RTD119X=n
CONFIG_HNS3=n
CONFIG_BT_HCIBTUSB_BCM=n
CONFIG_MESON_CLK_MEASURE=n
CONFIG_PINCTRL_RZG2L=n
CONFIG_SGL_ALLOC=n
CONFIG_IPQ_GCC_8074=n
CONFIG_PSTORE_COMPRESS=n
CONFIG_BCM_PMB=n
CONFIG_EFI_CAPSULE_LOADER=n
CONFIG_WLAN_VENDOR_BROADCOM=n
CONFIG_FUSE_IO_URING=n
CONFIG_HAVE_FTRACE_GRAPH_FUNC=n
CONFIG_DP83867_PHY=n
CONFIG_PINCTRL_SC8280XP=n
CONFIG_NOUVEAU_PLATFORM_DRIVER=n
CONFIG_HW_RANDOM_CN10K=n
CONFIG_PINCTRL_OWL=n
CONFIG_MLX5_CORE_EN=n
CONFIG_CLK_X1E80100_TCSRCC=n
CONFIG_PHY_QCOM_EUSB2_REPEATER=n
CONFIG_NETWORK_FILESYSTEMS=n
CONFIG_HAVE_SCHED_AVG_IRQ=n
CONFIG_SM_VIDEOCC_8250=n
CONFIG_DRM_PANEL=n
CONFIG_MFD_RK8XX_I2C=n
CONFIG_CRYPTO_DEV_HISI_HPRE=n
CONFIG_PCIE_XILINX=n
CONFIG_PCIE_RCAR_GEN4_HOST=n
CONFIG_PINCTRL_UNIPHIER_LD11=n
CONFIG_ARCH_SPARSEMEM_ENABLE=n
CONFIG_LEDS_LM3692X=n
CONFIG_DWMAC_VISCONTI=n
CONFIG_USB_F_ECM=n
CONFIG_COMMON_CLK_MEDIATEK_FHCTL=n
CONFIG_ASSOCIATIVE_ARRAY=n
CONFIG_PINCTRL_AMLOGIC_T7=n
CONFIG_QCOM_RPMPD=n
CONFIG_PHY_ROCKCHIP_SNPS_PCIE3=n
CONFIG_MTD_UBI=n
CONFIG_GPIO_GENERIC=n
CONFIG_TOUCHSCREEN_GOODIX=n
CONFIG_FSL_ENETC_IERB=n
CONFIG_DMA_ENGINE=n
CONFIG_HID_SUPPORT=n
CONFIG_QCOM_SYSMON=n
CONFIG_NVMEM_QCOM_QFPROM=n
CONFIG_ARM64_ERRATUM_2658417=n
CONFIG_IIO_ST_MAGN_I2C_3AXIS=n
CONFIG_SND_DRIVERS=n
CONFIG_SSB_POSSIBLE=n
