CONFIG_LZ4_COMPRESS=n
CONFIG_8139TOO_PIO=n
CONFIG_SND_JACK=n
CONFIG_SERIO_I8042=n
CONFIG_BLOCK=n
CONFIG_RETHOOK=n
CONFIG_HAVE_ARCH_COMPAT_MMAP_BASES=n
CONFIG_USB_HID=n
CONFIG_HAVE_KLP_BUILD=n
CONFIG_ACPI_SPCR_TABLE=n
CONFIG_ARCH_HAS_GENERIC_CRASHKERNEL_RESERVATION=n
CONFIG_AS_WRUSS=n
CONFIG_CRYPTO_ECHAINIV=n
CONFIG_CRYPTO_ALGAPI=n
CONFIG_USB_EHCI_TT_NEWSCHED=n
CONFIG_INTEL_IOMMU_SCALABLE_MODE_DEFAULT_ON=n
CONFIG_HAVE_EXIT_THREAD=n
CONFIG_QUEUED_RWLOCKS=n
CONFIG_INTEL_IOMMU_PERF_EVENTS=n
CONFIG_NET_VENDOR_QUALCOMM=n
CONFIG_DM_MIRROR=n
CONFIG_DRM_PANEL=n
CONFIG_CC_HAS_ZERO_CALL_USED_REGS=n
CONFIG_SCHED_MM_CID=n
CONFIG_VIRTIO_INPUT=n
CONFIG_MAC80211_LEDS=n
CONFIG_DRM_PANEL_BRIDGE=n
CONFIG_ARCH_WANT_DEFAULT_BPF_JIT=n
CONFIG_PTDUMP=n
CONFIG_CRYPTO_ACOMP2=n
CONFIG_EFI_CUSTOM_SSDT_OVERLAYS=n
CONFIG_NET_XGRESS=n
CONFIG_PROC_FS=n
CONFIG_DRM_I915_COMPRESS_ERROR=n
CONFIG_CGROUP_DEVICE=n
CONFIG_NET_PTP_CLASSIFY=n
CONFIG_NETPOLL=n
CONFIG_RD_LZO=n
CONFIG_COMPAT_FOR_U64_ALIGNMENT=n
CONFIG_NETFILTER_SKIP_EGRESS=n
CONFIG_UNIX98_PTYS=n
CONFIG_IP6_NF_IPTABLES=n
CONFIG_WLAN_VENDOR_ZYDAS=n
CONFIG_X86_PKG_TEMP_THERMAL=n
CONFIG_WLAN_VENDOR_MICROCHIP=n
CONFIG_CRYPTO_LIB_SHA1=n
CONFIG_HOTPLUG_PCI=n
CONFIG_XARRAY_MULTI=n
CONFIG_MUTEX_SPIN_ON_OWNER=n
CONFIG_TCP_MD5SIG=n
CONFIG_LOCK_MM_AND_FIND_VMA=n
CONFIG_X86_64_ACPI_NUMA=n
CONFIG_ATA_BMDMA=n
CONFIG_CPU_FREQ_GOV_USERSPACE=n
CONFIG_X86_REQUIRED_FEATURE_NOPL=n
CONFIG_INET=n
CONFIG_MAGIC_SYSRQ_SERIAL=n
CONFIG_NET_VENDOR_MICREL=n
CONFIG_CRYPTO_LIB_SHA256=n
CONFIG_HAVE_GUP_FAST=n
CONFIG_NF_LOG_ARP=n
CONFIG_GCC_ASM_GOTO_OUTPUT_BROKEN=n
CONFIG_CRYPTO_SKCIPHER2=n
CONFIG_CPU_FREQ_GOV_ONDEMAND=n
CONFIG_MITIGATION_SPECTRE_V1=n
CONFIG_ACPI_CPU_FREQ_PSS=n
CONFIG_DYNAMIC_EVENTS=n
CONFIG_NET_VENDOR_ALIBABA=n
CONFIG_TCP_CONG_CUBIC=n
CONFIG_CRYPTO_CTR=n
CONFIG_NET_VENDOR_NVIDIA=n
CONFIG_PHYS_ADDR_T_64BIT=n
CONFIG_NOINSTR_VALIDATION=n
CONFIG_ARCH_SUPPORTS_DEBUG_PAGEALLOC=n
CONFIG_ARCH_SUSPEND_POSSIBLE=n
CONFIG_IOMMU_IOVA=n
CONFIG_SKY2=n
CONFIG_BLOCK_LEGACY_AUTOLOAD=n
CONFIG_VIRTIO_ANCHOR=n
CONFIG_CPU_IDLE_GOV_MENU=n
CONFIG_IPV6_NDISC_NODETYPE=n
CONFIG_PRINTK_TIME=n
CONFIG_IP_MULTIPLE_TABLES=n
CONFIG_IOMMU_MM_DATA=n
CONFIG_X86_MCE_THRESHOLD=n
CONFIG_SND_TIMER=n
CONFIG_HAVE_KERNEL_GZIP=n
CONFIG_ROOT_NFS=n
CONFIG_ARCH_HAS_ADD_PAGES=n
CONFIG_TOOLS_SUPPORT_RELR=n
CONFIG_ADVISE_SYSCALLS=n
CONFIG_HUGETLB_PAGE=n
CONFIG_THERMAL_HWMON=n
CONFIG_HAS_SECURITY_AUDIT=n
CONFIG_SYMBOLIC_ERRNAME=n
CONFIG_EVENT_TRACING=n
CONFIG_PGTABLE_HAS_HUGE_LEAVES=n
CONFIG_EDAC_ATOMIC_SCRUB=n
CONFIG_PREEMPT_BUILD=n
CONFIG_HAVE_DMA_CONTIGUOUS=n
CONFIG_MOUSE_PS2_ALPS=n
CONFIG_TRACE_IRQFLAGS_NMI_SUPPORT=n
CONFIG_CRYPTO_SIG2=n
CONFIG_HAVE_RSEQ=n
CONFIG_MOUSE_PS2_CYPRESS=n
CONFIG_NET_FAILOVER=n
CONFIG_NET_VENDOR_SILAN=n
CONFIG_NET_VENDOR_CHELSIO=n
CONFIG_X86_ACPI_CPUFREQ=n
CONFIG_SPARSEMEM_VMEMMAP_ENABLE=n
CONFIG_VIRTIO_MENU=n
CONFIG_MOUSE_PS2_TRACKPOINT=n
CONFIG_MAC80211_RC_DEFAULT_MINSTREL=n
CONFIG_ACPI_SLEEP=n
CONFIG_CC_CAN_LINK=n
CONFIG_HAVE_ARCH_HUGE_VMALLOC=n
CONFIG_RANDOMIZE_MEMORY=n
CONFIG_KERNEL_GZIP=n
CONFIG_PCI_DOMAINS=n
CONFIG_CRYPTO_SEQIV=n
CONFIG_ARCH_HAS_CPU_FINALIZE_INIT=n
CONFIG_NET_VENDOR_VIA=n
CONFIG_STACKTRACE=n
CONFIG_YENTA_ENE_TUNE=n
CONFIG_NET_EMATCH=n
CONFIG_RTC_LIB=n
CONFIG_SERIAL_8250_EXAR=n
CONFIG_ACPI_PROCESSOR_IDLE=n
CONFIG_X86_ACPI_CPUFREQ_CPB=n
CONFIG_SLUB=n
CONFIG_DEBUG_MEMORY_INIT=n
CONFIG_HAVE_PERF_REGS=n
CONFIG_HAVE_ARCH_KCSAN=n
CONFIG_BLK_DEV_BSG=n
CONFIG_CRYPTO_LIB_SHA512=n
CONFIG_DQL=n
CONFIG_GENERIC_IRQ_ENTRY=n
CONFIG_NET_VENDOR_SAMSUNG=n
CONFIG_KALLSYMS=n
CONFIG_DRM_CLIENT_SELECTION=n
CONFIG_ARCH_WANTS_NO_INSTR=n
CONFIG_COREDUMP=n
CONFIG_SERIAL_8250_EXTENDED=n
CONFIG_SCSI_PROC_FS=n
CONFIG_PERF_EVENTS_INTEL_RAPL=n
CONFIG_NET_VENDOR_HISILICON=n
CONFIG_PERF_EVENTS_INTEL_UNCORE=n
CONFIG_SPARSE_IRQ=n
CONFIG_NET_VENDOR_ENGLEDER=n
CONFIG_MMCONF_FAM10H=n
CONFIG_CRYPTO_AEAD=n
CONFIG_SND_X86=n
CONFIG_SND_SEQ_DUMMY=n
CONFIG_REALTEK_PHY=n
CONFIG_HAVE_KPROBES_ON_FTRACE=n
CONFIG_IRQ_FORCED_THREADING=n
CONFIG_SND_SEQUENCER=n
CONFIG_NET_DEVMEM=n
CONFIG_EXT4_FS_SECURITY=n
CONFIG_X86_VERBOSE_BOOTUP=n
CONFIG_HAVE_REGS_AND_STACK_ACCESS_API=n
CONFIG_CRASH_DUMP=n
CONFIG_NETFILTER=n
CONFIG_CALL_PADDING=n
CONFIG_NET_CLS=n
CONFIG_CRYPTO_CTS=n
CONFIG_MQ_IOSCHED_KYBER=n
CONFIG_LEGACY_TIOCSTI=n
CONFIG_ARCH_WANT_OPTIMIZE_DAX_VMEMMAP=n
CONFIG_ARCH_MEMORY_ORDER_TSO=n
CONFIG_ARCH_WANTS_THP_SWAP=n
CONFIG_MISC_FILESYSTEMS=n
CONFIG_CRYPTO_AEAD2=n
CONFIG_FAT_FS=n
CONFIG_PROC_VMCORE=n
CONFIG_AMD_NUMA=n
CONFIG_GENERIC_ALLOCATOR=n
CONFIG_HID_GENERIC=n
CONFIG_HAVE_GCC_PLUGINS=n
CONFIG_INPUT_MOUSE=n
CONFIG_ARCH_SUPPORTS_CFI=n
CONFIG_ETHTOOL_NETLINK=n
CONFIG_HAVE_ARCH_KMSAN=n
CONFIG_DEBUG_MISC=n
CONFIG_ATA=n
CONFIG_CRYPTO_LIB_SHA256_ARCH=n
CONFIG_VIRTIO_PCI_LIB=n
CONFIG_KRETPROBE_ON_RETHOOK=n
CONFIG_PKCS7_MESSAGE_PARSER=n
CONFIG_SERIAL_8250_MANY_PORTS=n
CONFIG_MPILIB=n
CONFIG_NETFILTER_XT_TARGET_NFLOG=n
CONFIG_ARCH_SUPPORTS_PAGE_TABLE_CHECK=n
CONFIG_MTRR=n
CONFIG_DEVTMPFS_MOUNT=n
CONFIG_PCI_DIRECT=n
CONFIG_ACPI_THERMAL_LIB=n
CONFIG_POWER_SUPPLY_HWMON=n
CONFIG_ARCH_SUPPORTS_CRASH_HOTPLUG=n
CONFIG_ASYNC_KERNEL_PGTABLE_FREE=n
CONFIG_NEED_PER_CPU_EMBED_FIRST_CHUNK=n
CONFIG_HAVE_SAMPLE_FTRACE_DIRECT_MULTI=n
CONFIG_USB_ARCH_HAS_HCD=n
CONFIG_CONSOLE_TRANSLATIONS=n
CONFIG_HAVE_PCSPKR_PLATFORM=n
CONFIG_VT=n
CONFIG_X86_PLATFORM_DEVICES=n
CONFIG_NET_VENDOR_8390=n
CONFIG_ARCH_SUPPORTS_KEXEC_FILE=n
CONFIG_CPU_FREQ_GOV_PERFORMANCE=n
CONFIG_TREE_RCU=n
CONFIG_PCIE_PME=n
CONFIG_NET_VENDOR_MUCSE=n
CONFIG_ARCH_HAS_CPU_CACHE_INVALIDATE_MEMREGION=n
CONFIG_MITIGATION_ITS=n
CONFIG_SKB_EXTENSIONS=n
CONFIG_ARCH_SUPPORTS_MSEAL_SYSTEM_MAPPINGS=n
CONFIG_DRM_TTM=n
CONFIG_BLK_PM=n
CONFIG_X86_REROUTE_FOR_BROKEN_BOOT_IRQS=n
CONFIG_NET_VENDOR_INTEL=n
CONFIG_KCMP=n
CONFIG_HAVE_SYSCALL_TRACEPOINTS=n
CONFIG_NLS_CODEPAGE_437=n
CONFIG_CPU_FREQ_GOV_COMMON=n
CONFIG_NEED_SG_DMA_LENGTH=n
CONFIG_CRYPTO_CMAC=n
CONFIG_MITIGATION_MDS=n
CONFIG_JUMP_LABEL=n
CONFIG_IOMMU_PT=n
CONFIG_HAVE_ACPI_APEI=n
CONFIG_X86_DISABLED_FEATURE_SEV_SNP=n
CONFIG_HAVE_KCSAN_COMPILER=n
CONFIG_IOMMU_PT_AMDV1=n
CONFIG_SND_HDA=n
CONFIG_GENERIC_IRQ_MATRIX_ALLOCATOR=n
CONFIG_GLOB=n
CONFIG_HID_NTRIG=n
CONFIG_COMPAT_32BIT_TIME=n
CONFIG_HAVE_CONTEXT_TRACKING_USER=n
CONFIG_MITIGATION_RETBLEED=n
CONFIG_BLK_DEV_IO_TRACE=n
CONFIG_INPUT_KEYBOARD=n
CONFIG_XZ_DEC_ARM=n
CONFIG_DECOMPRESS_GZIP=n
CONFIG_IO_URING_ZCRX=n
CONFIG_SND_INTEL_NHLT=n
CONFIG_SERIAL_8250_DMA=n
CONFIG_PADATA=n
CONFIG_NET_SCH_FIFO=n
CONFIG_QUOTACTL=n
CONFIG_BLK_DEV_INITRD=n
CONFIG_NET_RX_BUSY_POLL=n
CONFIG_GENERIC_IRQ_SHOW=n
CONFIG_SND_PCI=n
CONFIG_ARCH_CLOCKSOURCE_INIT=n
CONFIG_CRC16=n
CONFIG_RTC_DRV_CMOS=n
CONFIG_SYSTEM_DATA_VERIFICATION=n
CONFIG_PROC_KCORE=n
CONFIG_VFAT_FS=n
CONFIG_PROC_PAGE_MONITOR=n
CONFIG_NF_CONNTRACK_SECMARK=n
CONFIG_DW_DMAC_CORE=n
CONFIG_EFIVAR_FS=n
CONFIG_INTEL_GTT=n
CONFIG_MAC_EMUMOUSEBTN=n
CONFIG_HAVE_STACK_VALIDATION=n
CONFIG_SECURITY_SELINUX_AVC_STATS=n
CONFIG_NF_NAT=n
CONFIG_SCHED_CACHE=n
CONFIG_QUOTA_TREE=n
CONFIG_INTEL_MEI=n
CONFIG_HAVE_HW_BREAKPOINT=n
CONFIG_SCHED_MC_PRIO=n
CONFIG_NET_FLOW_LIMIT=n
CONFIG_COMPACTION=n
CONFIG_DRM_DISPLAY_HDCP_HELPER=n
CONFIG_SECCOMP=n
CONFIG_MITIGATION_SPECTRE_BHI=n
CONFIG_IOMMU_SUPPORT=n
CONFIG_NET_VENDOR_CISCO=n
CONFIG_CRYPTO_HASH2=n
CONFIG_PCI_LABEL=n
CONFIG_UNIX=n
CONFIG_XZ_DEC_BCJ=n
CONFIG_NET_VENDOR_CAVIUM=n
CONFIG_IO_URING_BPF=n
CONFIG_ALLOW_DEV_COREDUMP=n
CONFIG_STACKPROTECTOR_STRONG=n
CONFIG_KPROBE_EVENTS=n
CONFIG_EXT4_FS=n
CONFIG_FONT_AUTOSELECT=n
CONFIG_RCU_NEED_SEGCBLIST=n
CONFIG_ACPI_PRMT=n
CONFIG_HAVE_GIGANTIC_FOLIOS=n
CONFIG_XZ_DEC_ARMTHUMB=n
CONFIG_HIDRAW=n
CONFIG_X86_DISABLED_FEATURE_LAM=n
CONFIG_HAVE_MOVE_PMD=n
