CONFIG_EFI_RUNTIME_MAP=n
CONFIG_HAVE_KPROBES=n
CONFIG_NET_VENDOR_REALTEK=n
CONFIG_HALTPOLL_CPUIDLE=n
CONFIG_STRICT_MODULE_RWX=n
CONFIG_NET_VENDOR_CADENCE=n
CONFIG_WLAN_VENDOR_MARVELL=n
CONFIG_YENTA_O2=n
CONFIG_LOCK_DEBUGGING_SUPPORT=n
CONFIG_GRACE_PERIOD=n
CONFIG_ISA_DMA_API=n
CONFIG_GRO_CELLS=n
CONFIG_NET_VENDOR_VERTEXCOM=n
CONFIG_ARCH_HAS_NMI_SAFE_THIS_CPU_OPS=n
CONFIG_INET=n
CONFIG_X86=n
CONFIG_NFS_V3=n
CONFIG_ARCH_HAS_DEBUG_VM_PGTABLE=n
CONFIG_SND_SEQ_DUMMY=n
CONFIG_ARCH_HAS_ELF_RANDOMIZE=n
CONFIG_NF_CONNTRACK_SECMARK=n
CONFIG_NET_CORE=n
CONFIG_ACPI_AC=n
CONFIG_USB_EHCI_TT_NEWSCHED=n
CONFIG_SERIAL_8250_SHARE_IRQ=n
CONFIG_LZ4_DECOMPRESS=n
CONFIG_SECURITY_SELINUX=n
CONFIG_HW_RANDOM_INTEL=n
CONFIG_NET_VENDOR_CHELSIO=n
CONFIG_EFI_PARTITION=n
CONFIG_ACPI_EC=n
CONFIG_NF_NAT_FTP=n
CONFIG_CRYPTO_ALGAPI2=n
CONFIG_FIRMWARE_MEMMAP=n
CONFIG_PRINTK=n
CONFIG_PERF_EVENTS_INTEL_CSTATE=n
CONFIG_CC_HAS_ENTRY_PADDING=n
CONFIG_CONSOLE_TRANSLATIONS=n
CONFIG_ARCH_CORRECT_STACKTRACE_ON_KRETPROBE=n
CONFIG_PERF_EVENTS_INTEL_RAPL=n
CONFIG_MICROCODE_INITRD32=n
CONFIG_ARCH_SUPPORTS_HUGETLBFS=n
CONFIG_IP_ADVANCED_ROUTER=n
CONFIG_ARCH_HAS_PTE_SPECIAL=n
CONFIG_INTEL_GTT=n
CONFIG_X86_UMIP=n
CONFIG_NFS_DISABLE_UDP_SUPPORT=n
CONFIG_NET_VENDOR_ROCKER=n
CONFIG_HAVE_ACPI_APEI=n
CONFIG_HAVE_DYNAMIC_FTRACE_NO_PATCHABLE=n
CONFIG_KERNFS=n
CONFIG_EFI_CAPSULE_QUIRK_QUARK_CSH=n
CONFIG_DEBUG_STACK_USAGE=n
CONFIG_PROC_EVENTS=n
CONFIG_RFS_ACCEL=n
CONFIG_PNPACPI=n
CONFIG_PCSPKR_PLATFORM=n
CONFIG_ARCH_HAS_CACHE_LINE_SIZE=n
CONFIG_ARCH_MAY_HAVE_PC_FDC=n
CONFIG_APERTURE_HELPERS=n
CONFIG_HAVE_BUILDTIME_MCOUNT_SORT=n
CONFIG_NET_SCH_FIFO=n
CONFIG_RTC_DRV_CMOS=n
CONFIG_GENERIC_NET_UTILS=n
CONFIG_BLK_DEV_WRITE_MOUNTED=n
CONFIG_E100=n
CONFIG_GENERIC_IRQ_PROBE=n
CONFIG_HAVE_STACKPROTECTOR=n
CONFIG_MPILIB=n
CONFIG_THERMAL=n
CONFIG_THERMAL_HWMON=n
CONFIG_VIRTIO_PCI_LIB_LEGACY=n
CONFIG_VIRTIO_MENU=n
CONFIG_MITIGATION_TAA=n
CONFIG_SERIAL_8250_DWLIB=n
CONFIG_PATA_TIMINGS=n
CONFIG_NET_VENDOR_AQUANTIA=n
CONFIG_IP_MULTICAST=n
CONFIG_DRM=n
CONFIG_CRYPTO_SEQIV=n
CONFIG_SND_PCM=n
CONFIG_EFI_HANDOVER_PROTOCOL=n
CONFIG_NET_VENDOR_EZCHIP=n
CONFIG_STACKDEPOT=n
CONFIG_X86_PLATFORM_DEVICES=n
CONFIG_WERROR=n
CONFIG_NET_VENDOR_SIS=n
CONFIG_WLAN_VENDOR_ADMTEK=n
CONFIG_VMSPLIT_3G=n
CONFIG_NF_LOG_SYSLOG=n
CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE=n
CONFIG_KCMP=n
CONFIG_HAVE_FUNCTION_ARG_ACCESS_API=n
CONFIG_NET_SELFTESTS=n
CONFIG_NF_NAT_MASQUERADE=n
CONFIG_MMU_GATHER_MERGE_VMAS=n
CONFIG_ARCH_SUPPORTS_KEXEC_JUMP=n
CONFIG_NET_VENDOR_WANGXUN=n
CONFIG_HAVE_ARCH_GET_SECUREBOOT=n
CONFIG_X86_MCE=n
CONFIG_NETFILTER_XT_TARGET_LOG=n
CONFIG_HAVE_KERNEL_LZO=n
CONFIG_PROFILING=n
CONFIG_SND_DRIVERS=n
CONFIG_X86_CMOV=n
CONFIG_BCMA_POSSIBLE=n
CONFIG_EFI_ESRT=n
CONFIG_SND_SEQ_DEVICE=n
CONFIG_STANDALONE=n
CONFIG_DUMMY_CONSOLE=n
CONFIG_CRYPTO_HMAC=n
CONFIG_HOTPLUG_CORE_SYNC_DEAD=n
CONFIG_ARCH_HAS_PREEMPT_LAZY=n
CONFIG_USB_PRINTER=n
CONFIG_PM_SLEEP_SMP=n
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST_IDLE=n
CONFIG_NET_VENDOR_MYRI=n
CONFIG_INOTIFY_USER=n
CONFIG_SOFTIRQ_ON_OWN_STACK=n
CONFIG_NET_VENDOR_ARC=n
CONFIG_OLD_SIGACTION=n
CONFIG_EXCLUSIVE_SYSTEM_RAM=n
CONFIG_ARCH_SUPPORTS_SCHED_SMT=n
CONFIG_SERIO_SERPORT=n
CONFIG_HAVE_KERNEL_BZIP2=n
CONFIG_TRACING=n
CONFIG_ZLIB_INFLATE=n
CONFIG_BLK_DEV_IO_TRACE=n
CONFIG_EVENTFD=n
CONFIG_IP_ROUTE_MULTIPATH=n
CONFIG_HAVE_KERNEL_ZSTD=n
CONFIG_NET_VENDOR_ATHEROS=n
CONFIG_SPARSEMEM_STATIC=n
CONFIG_CRYPTO_GCM=n
CONFIG_X86_EXTENDED_PLATFORM=n
CONFIG_X86_USE_PPRO_CHECKSUM=n
CONFIG_X509_CERTIFICATE_PARSER=n
CONFIG_RD_LZO=n
CONFIG_STACKPROTECTOR_STRONG=n
CONFIG_NET_9P=n
CONFIG_HAVE_ARCH_AUDITSYSCALL=n
CONFIG_PKCS7_MESSAGE_PARSER=n
CONFIG_RD_GZIP=n
CONFIG_MAGIC_SYSRQ=n
CONFIG_SND_SEQUENCER=n
CONFIG_USB_SUPPORT=n
CONFIG_NEED_PER_CPU_EMBED_FIRST_CHUNK=n
CONFIG_ETHERNET=n
CONFIG_I3C_OR_I2C=n
CONFIG_X86_MCE_THRESHOLD=n
CONFIG_MITIGATION_SSB=n
CONFIG_WLAN_VENDOR_RALINK=n
CONFIG_MD_BITMAP=n
CONFIG_KVFREE_RCU_BATCHED=n
CONFIG_NET_VENDOR_HISILICON=n
CONFIG_USE_X86_SEG_SUPPORT=n
CONFIG_PACKET=n
CONFIG_RFKILL_LEDS=n
CONFIG_CRYPTO_ALGAPI=n
CONFIG_MQ_IOSCHED_KYBER=n
CONFIG_NEED_TASKS_RCU=n
CONFIG_EFI_CAPSULE_LOADER=n
CONFIG_ARCH_MHP_MEMMAP_ON_MEMORY_ENABLE=n
CONFIG_NET_VENDOR_ASIX=n
CONFIG_PREVENT_FIRMWARE_BUILD=n
CONFIG_HAVE_ATOMIC_IOMAP=n
CONFIG_PATA_OLDPIIX=n
CONFIG_NET_VENDOR_FUNGIBLE=n
CONFIG_SCHEDSTATS=n
CONFIG_CC_CAN_LINK=n
CONFIG_FLATMEM=n
CONFIG_EXECMEM=n
CONFIG_KRETPROBE_ON_RETHOOK=n
CONFIG_OID_REGISTRY=n
CONFIG_USB_OHCI_LITTLE_ENDIAN=n
CONFIG_MODULES_USE_ELF_REL=n
CONFIG_NET_PTP_CLASSIFY=n
CONFIG_ARCH_SUPPORTS_MEMORY_FAILURE=n
CONFIG_ARCH_HIBERNATION_HEADER=n
CONFIG_EPOLL=n
CONFIG_MQ_IOSCHED_DEADLINE=n
CONFIG_INPUT_TOUCHSCREEN=n
CONFIG_XFRM_AH=n
CONFIG_X86_DEBUGCTLMSR=n
CONFIG_ARCH_HAVE_EXTRA_ELF_NOTES=n
CONFIG_NET_VENDOR_MICROSEMI=n
CONFIG_SCSI=n
CONFIG_LZO_DECOMPRESS=n
CONFIG_ALLOW_DEV_COREDUMP=n
CONFIG_HAVE_CMPXCHG_DOUBLE=n
CONFIG_GENERIC_BUG_RELATIVE_POINTERS=n
CONFIG_CC_HAS_NAMED_AS=n
CONFIG_OLD_SIGSUSPEND3=n
CONFIG_ACPI_THERMAL_LIB=n
CONFIG_REGMAP=n
CONFIG_CRYPTO=n
CONFIG_AS_WRUSS=n
CONFIG_INSTRUCTION_DECODER=n
CONFIG_WLAN_VENDOR_INTERSIL=n
CONFIG_DNOTIFY=n
CONFIG_CRYPTO_AES=n
CONFIG_PATA_MPIIX=n
CONFIG_NET_VENDOR_STMICRO=n
CONFIG_HDMI=n
CONFIG_MODULES_TREE_LOOKUP=n
CONFIG_ACPI_LEGACY_TABLES_LOOKUP=n
CONFIG_DRM_I915_CAPTURE_ERROR=n
CONFIG_KPROBES=n
CONFIG_DECOMPRESS_BZIP2=n
CONFIG_NFS_USE_KERNEL_DNS=n
CONFIG_MULTIUSER=n
CONFIG_ARCH_HAS_GCOV_PROFILE_ALL=n
CONFIG_ETHTOOL_NETLINK=n
CONFIG_CONNECTOR=n
CONFIG_NETFILTER=n
CONFIG_EARLY_PRINTK_USB=n
CONFIG_TCP_CONG_CUBIC=n
CONFIG_NET_9P_VIRTIO=n
CONFIG_PNFS_FILE_LAYOUT=n
CONFIG_LEGACY_DIRECT_IO=n
CONFIG_SCHED_SMT=n
CONFIG_HAVE_EBPF_JIT=n
CONFIG_HAVE_HW_BREAKPOINT=n
CONFIG_INPUT_JOYSTICK=n
CONFIG_PCI=n
CONFIG_BLK_DEV_SD=n
CONFIG_HAVE_PREEMPT_DYNAMIC=n
CONFIG_MITIGATION_SRBDS=n
CONFIG_VGA_ARB=n
CONFIG_DEVTMPFS=n
CONFIG_HYPERVISOR_GUEST=n
CONFIG_BLK_CGROUP_IOCOST=n
CONFIG_SECRETMEM=n
CONFIG_CC_NO_STRINGOP_OVERFLOW=n
CONFIG_NET_VENDOR_ENGLEDER=n
CONFIG_SG_POOL=n
CONFIG_TRACE_IRQFLAGS_NMI_SUPPORT=n
CONFIG_HAVE_ARCH_JUMP_LABEL=n
CONFIG_HAVE_UNSTABLE_SCHED_CLOCK=n
CONFIG_INTEGRITY_AUDIT=n
CONFIG_SYSCTL=n
CONFIG_RUNTIME_TESTING_MENU=n
CONFIG_ACPI_SYSTEM_POWER_STATES_SUPPORT=n
CONFIG_MITIGATION_MMIO_STALE_DATA=n
CONFIG_CRYPTO_SHA256=n
CONFIG_NEED_SG_DMA_LENGTH=n
CONFIG_ARCH_HAS_CURRENT_STACK_POINTER=n
CONFIG_RFKILL_INPUT=n
CONFIG_RPS=n
CONFIG_SND_HDA_CORE=n
CONFIG_FAIR_GROUP_SCHED=n
CONFIG_FS_MBCACHE=n
CONFIG_X86_DISABLED_FEATURE_PTI=n
CONFIG_MITIGATION_RETBLEED=n
CONFIG_KPROBE_EVENTS=n
CONFIG_LEDS_TRIGGERS=n
CONFIG_ACPI_PLATFORM_PROFILE=n
CONFIG_E1000E_HWTS=n
CONFIG_X86_DISABLED_FEATURE_USER_SHSTK=n
CONFIG_RTC_I2C_AND_SPI=n
CONFIG_HAVE_OPTPROBES=n
CONFIG_CFG80211_DEFAULT_PS=n
CONFIG_XZ_DEC_SPARC=n
CONFIG_VIRTIO_ANCHOR=n
CONFIG_ARCH_HAS_CPU_CACHE_INVALIDATE_MEMREGION=n
CONFIG_EFI_EARLYCON=n
CONFIG_PAGE_COUNTER=n
CONFIG_DRM_VIRTIO_GPU=n
CONFIG_SND_JACK=n
CONFIG_PAGE_SIZE_LESS_THAN_256KB=n
CONFIG_POSIX_CPU_TIMERS_TASK_WORK=n
CONFIG_VT=n
CONFIG_SATA_PMP=n
CONFIG_HID_PETALYNX=n
CONFIG_AS_HAS_NON_CONST_ULEB128=n
CONFIG_MODULE_UNLOAD=n
CONFIG_AF_UNIX_OOB=n
CONFIG_INPUT_SPARSEKMAP=n
CONFIG_CGROUP_CPUACCT=n
CONFIG_X86_REQUIRED_FEATURE_CMOV=n
CONFIG_SUNRPC_BACKCHANNEL=n
CONFIG_DEBUG_INFO_NONE=n
CONFIG_IO_URING=n
CONFIG_CRYPTO_SKCIPHER=n
CONFIG_HAVE_KERNEL_LZMA=n
CONFIG_EFIVAR_FS=n
CONFIG_YENTA_RICOH=n
CONFIG_RWSEM_SPIN_ON_OWNER=n
CONFIG_ARCH_MIGHT_HAVE_PC_SERIO=n
CONFIG_PROC_FS=n
CONFIG_ATA_FORCE=n
CONFIG_NET_VENDOR_MICREL=n
CONFIG_CC_HAS_SLS=n
CONFIG_HAVE_MOVE_PUD=n
CONFIG_LOCKD=n
CONFIG_BINFMT_ELF=n
CONFIG_PROC_PID_ARCH_STATUS=n
CONFIG_CPU_SUP_CENTAUR=n
CONFIG_SATA_HOST=n
CONFIG_DRM_GEM_SHMEM_HELPER=n
