CONFIG_BATTERY_DS2781=y
CONFIG_SPI_MUX=y
CONFIG_BOOTPARAM_HARDLOCKUP_PANIC=y
CONFIG_RTC_DRV_DS3232=y
CONFIG_RTC_DRV_DS1685_FAMILY=y
CONFIG_PREEMPT=y
CONFIG_USE_X86_SEG_SUPPORT=y
CONFIG_PM_GENERIC_DOMAINS=y
CONFIG_GENERIC_IRQ_ENTRY=y
CONFIG_LZO_COMPRESS=y
CONFIG_IR_GPIO_CIR=y
CONFIG_HW_RANDOM_TPM=y
CONFIG_FB_HECUBA=y
CONFIG_DECOMPRESS_LZ4=y
CONFIG_COMEDI_BOND=y
CONFIG_GCC_ASM_GOTO_OUTPUT_BROKEN=y
CONFIG_CPU_SUP_VORTEX_32=y
CONFIG_I2C_ATR=y
CONFIG_PINCTRL_MOOREFIELD=y
CONFIG_SENSORS_ADM1025=y
CONFIG_RN5T618_WATCHDOG=y
CONFIG_BLK_DEV_INITRD=y
CONFIG_PACKING=y
CONFIG_PNPBIOS=y
CONFIG_SPI_AXI_SPI_ENGINE=y
CONFIG_INOTIFY_USER=y
CONFIG_LCD_LMS501KF03=y
CONFIG_CROS_EC_PROTO=y
CONFIG_HW_RANDOM_VIA=y
CONFIG_SENSORS_LM87=y
CONFIG_BPF=y
CONFIG_LCD_PLATFORM=y
CONFIG_HAVE_FUNCTION_TRACER=y
CONFIG_REGULATOR_MP8859=y
CONFIG_CROS_EC_SPI=y
CONFIG_SENSORS_XDPE1A2G7B=y
CONFIG_CHARGER_MAX8971=y
CONFIG_I2C_ALGOPCA=y
CONFIG_SENSORS_MLXREG_FAN=y
CONFIG_NET_SCH_SFB=y
CONFIG_QCOM_SMEM=y
CONFIG_SENSORS_ARM_SCMI=y
CONFIG_BT_HCIUART_AG6XX=y
CONFIG_BROKEN_ON_SMP=y
CONFIG_I2C_NPCM=y
CONFIG_DEBUG_NOTIFIERS=y
CONFIG_RTC_DRV_GOLDFISH=y
CONFIG_CRYPTO_AEGIS128=y
CONFIG_SYSC_R8A7790=y
CONFIG_NLATTR=y
CONFIG_PARPORT=y
CONFIG_MSDOS_PARTITION=y
CONFIG_BACKLIGHT_GPIO=y
CONFIG_EDD=y
CONFIG_CPU_SUP_ZHAOXIN=y
CONFIG_LCD_L4F00242T03=y
CONFIG_JOYSTICK_JOYDUMP=y
CONFIG_SMPRO_MISC=y
CONFIG_GENERIC_ISA_DMA=y
CONFIG_ARCH_HAS_PTDUMP=y
CONFIG_SYSTEM_DATA_VERIFICATION=y
CONFIG_GENERIC_IRQ_INJECTION=y
CONFIG_INPUT_MOUSEDEV_PSAUX=y
CONFIG_AXI_DMAC=y
CONFIG_ARCH_WANT_IRQS_OFF_ACTIVATE_MM=y
CONFIG_SENSORS_W83627HF=y
CONFIG_REGMAP_SPI=y
CONFIG_REGULATOR_S2MPS11=y
CONFIG_COMEDI_DAS08_CS=y
CONFIG_PAGE_SIZE_4KB=y
CONFIG_SENSORS_PC87360=y
CONFIG_I8253_LOCK=y
CONFIG_EDAC_XGENE=y
CONFIG_ZL3073X=y
CONFIG_MTD_NAND_MLC_LPC32XX=y
CONFIG_SPI_TLE62X0=y
CONFIG_HW_RANDOM_ST=y
CONFIG_I2C_HISI=y
CONFIG_SERIAL_SUNPLUS=y
CONFIG_SGETMASK_SYSCALL=y
CONFIG_HW_RANDOM_TIMERIOMEM=y
CONFIG_SPI_HISI_KUNPENG=y
CONFIG_FTL=y
CONFIG_SERIAL_LANTIQ=y
CONFIG_LEDS_IP30=y
CONFIG_SERIAL_8250_IOC3=y
CONFIG_RTC_DRV_DS1672=y
CONFIG_GNSS=y
CONFIG_GPIO_TPIC2810=y
CONFIG_NET_EMATCH_CANID=y
CONFIG_CPU_SUP_TRANSMETA_32=y
CONFIG_CADENCE_WATCHDOG=y
CONFIG_GPIO_TS4900=y
CONFIG_FPGA_MGR_MICROCHIP_SPI=y
CONFIG_GPIO_SNPS_CREG=y
CONFIG_RTC_DRV_GENERIC=y
CONFIG_CRYPTO_CTS=y
CONFIG_RESET_MESON_COMMON=y
CONFIG_842_COMPRESS=y
CONFIG_BACKLIGHT_CLASS_DEVICE=y
CONFIG_TEST_MULDIV64=y
CONFIG_DEBUG_BUGVERBOSE=y
CONFIG_SPI_EP93XX=y
CONFIG_MTD_ROM=y
CONFIG_SENSORS_LM75=y
CONFIG_MTD_CFI_AMDSTD=y
CONFIG_SERIAL_8250_PNP=y
CONFIG_SENSORS_GL520SM=y
CONFIG_MIXCOMWD=y
CONFIG_CRYPTO_USER=y
CONFIG_BLOCK_LEGACY_AUTOLOAD=y
CONFIG_SERIAL_IPOCTAL=y
CONFIG_ASYNC_TX_DISABLE_XOR_VAL_DMA=y
CONFIG_NEED_TASKS_RCU=y
CONFIG_RTC_DRV_DS2404=y
CONFIG_MFD_WCD934X=y
CONFIG_PARMAN=y
CONFIG_GPIO_ZYNQMP_MODEPIN=y
CONFIG_TCM_IBLOCK=y
CONFIG_MTK_IOMMU=y
CONFIG_NVMEM_LAYERSCAPE_SFP=y
CONFIG_PINCTRL_SUNRISEPOINT=y
CONFIG_SENSORS_IBMAEM=y
CONFIG_MESON_DDR_PMU=y
CONFIG_NVME_HWMON=y
CONFIG_PHY_EXYNOS_MIPI_VIDEO=y
CONFIG_CRYPTO_CRC32=y
CONFIG_SERIAL_CORE=y
CONFIG_NLS_CODEPAGE_857=y
CONFIG_SENSORS_FSP_3Y=y
CONFIG_SBC8360_WDT=y
CONFIG_PROVE_RCU=y
CONFIG_SENSORS_IT87=y
CONFIG_BT_QCA=y
CONFIG_ARCH_HAVE_NMI_SAFE_CMPXCHG=y
CONFIG_RTC_DRV_SPACEMIT_P1=y
CONFIG_BINFMT_SCRIPT=y
CONFIG_CRYPTO_HASH=y
CONFIG_NET_SCH_DRR=y
CONFIG_DEBUG_VIRTUAL=y
CONFIG_MTD_CFI_I1=y
CONFIG_CRYPTO_DRBG=y
CONFIG_SPI_SIFIVE=y
CONFIG_TEGRA_HOST1X_CONTEXT_BUS=y
CONFIG_RESET_A10SR=y
CONFIG_CRC32_ARCH=y
CONFIG_SENSORS_AD7314=y
CONFIG_DEBUG_IRQFLAGS=y
CONFIG_MTD_PCMCIA=y
CONFIG_X509_CERTIFICATE_PARSER=y
CONFIG_REGULATOR_QCOM_RPMH=y
CONFIG_TRACEPOINTS=y
CONFIG_SPI_BITBANG=y
CONFIG_VFIO=y
CONFIG_ADVANTECH_EC_WDT=y
CONFIG_REGULATOR_MAX77620=y
CONFIG_CONTEXT_TRACKING=y
CONFIG_WMT_SOCINFO=y
CONFIG_MAX77620_WATCHDOG=y
CONFIG_PHY_PXA_28NM_USB2=y
CONFIG_OPTEE_STATIC_PROTMEM_POOL=y
CONFIG_MPC5200_WDT=y
CONFIG_SENSORS_GL518SM=y
CONFIG_BLK_DEV_BSG_COMMON=y
CONFIG_TRACING=y
CONFIG_GPIO_DS4520=y
CONFIG_ARCH_HAS_DEVMEM_IS_ALLOWED=y
CONFIG_BACKTRACE_SELF_TEST=y
CONFIG_KVM_ELIDE_TLB_FLUSH_IF_YOUNG=y
CONFIG_VFIO_PLATFORM_BASE=y
CONFIG_NTSYNC=y
CONFIG_LCD_LTV350QV=y
CONFIG_CRYPTO_SM4=y
CONFIG_SENSORS_TMP464=y
CONFIG_TRACE_IRQFLAGS_NMI_SUPPORT=y
CONFIG_SLUB_DEBUG_ON=y
CONFIG_PINCTRL_PXA=y
CONFIG_BACKLIGHT_BD6107=y
CONFIG_ARCH_SUPPORTS_HUGETLBFS=y
CONFIG_SECURITY_SAFESETID=y
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO_BARE=y
CONFIG_NET_SCH_MQPRIO=y
CONFIG_UML_WATCHDOG=y
CONFIG_LEDS_ARIEL=y
CONFIG_S3C2410_WATCHDOG=y
CONFIG_MTD_PARTITIONED_MASTER=y
CONFIG_RTC_DRV_S5M=y
CONFIG_LEDS_CLASS=y
CONFIG_LEDS_REGULATOR=y
CONFIG_SECURITY_PATH=y
CONFIG_INPUT=y
CONFIG_QUOTACTL=y
CONFIG_MAGIC_SYSRQ_SERIAL=y
CONFIG_VHOST_TASK=y
CONFIG_LEDS_LP3952=y
CONFIG_SENSORS_SG2042_MCU=y
CONFIG_SPI_LANTIQ_SSC=y
CONFIG_ATM=y
CONFIG_REGULATOR_RT6160=y
CONFIG_TIME_NS=y
CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE=y
CONFIG_SURFACE_PLATFORMS=y
CONFIG_PINCTRL_PFC_R8A774B1=y
CONFIG_SPI_SG2044_NOR=y
CONFIG_GENERIC_PT=y
CONFIG_REGULATOR_RT6190=y
CONFIG_MTD_DATAFLASH_WRITE_VERIFY=y
CONFIG_I2C_SIMTEC=y
CONFIG_BINFMT_MISC=y
CONFIG_SELECT_MEMORY_MODEL=y
CONFIG_NET_SCH_RED=y
CONFIG_SPI_BCM2835=y
CONFIG_ARM_CORESIGHT_PMU_ARCH_SYSTEM_PMU=y
CONFIG_MFD_SUN6I_PRCM=y
CONFIG_ARM_SCMI_PROTOCOL=y
CONFIG_SOC_IMX9=y
CONFIG_SENSORS_INA2XX=y
CONFIG_I2C_XILINX=y
CONFIG_MTD_MAP_BANK_WIDTH_2=y
CONFIG_ARCH_HAS_FORTIFY_SOURCE=y
CONFIG_CRYPTO_PCBC=y
CONFIG_SERIO_OLPC_APSP=y
CONFIG_LCD2S=y
CONFIG_SERIAL_MAX3100=y
CONFIG_FS_POSIX_ACL=y
CONFIG_ARCH_SUPPORTS_KMAP_LOCAL_FORCE_MAP=y
CONFIG_SPI_LP8841_RTC=y
CONFIG_GPIO_MAX7300=y
CONFIG_IR_MCE_KBD_DECODER=y
CONFIG_DW_WATCHDOG=y
CONFIG_VFIO_PLATFORM_CALXEDAXGMAC_RESET=y
CONFIG_SENSORS_LTC4260=y
CONFIG_NEW_LEDS=y
CONFIG_REGULATOR_LTC3589=y
CONFIG_SENSORS_SMSC47M1=y
CONFIG_PERF_EVENTS_AMD_BRS=y
CONFIG_INPUT_IQS7222=y
CONFIG_X86_EXTENDED_PLATFORM=y
CONFIG_CRYPTO_JITTERENTROPY=y
CONFIG_RD_LZO=y
CONFIG_BCM_PDC_MBOX=y
CONFIG_BINFMT_ELF=y
CONFIG_EDAC_AL_MC=y
CONFIG_X86_PAT=y
CONFIG_EXPORTFS=y
CONFIG_FRAME_POINTER=y
CONFIG_RTC_DRV_M48T86=y
CONFIG_GENERIC_CPU_VULNERABILITIES=y
CONFIG_REGMAP_SPI_AVMM=y
CONFIG_ACORN_PARTITION_POWERTEC=y
CONFIG_CHROME_PLATFORMS=y
CONFIG_NVMEM_MICROCHIP_OTPC=y
CONFIG_HAVE_SOFTIRQ_ON_OWN_STACK=y
CONFIG_GPIO_TN48M_CPLD=y
CONFIG_IPACK_BUS=y
CONFIG_ARCH_USE_QUEUED_RWLOCKS=y
CONFIG_MESON_GXBB_WATCHDOG=y
CONFIG_SECURITY_LOCKDOWN_LSM_EARLY=y
CONFIG_FHANDLE=y
CONFIG_PINCTRL_PFC_R8A779G0=y
CONFIG_CLKSRC_PXA=y
CONFIG_ARM_SMMU_MMU_500_CPRE_ERRATA=y
CONFIG_FS_ENCRYPTION=y
CONFIG_SSB_DRIVER_GPIO=y
CONFIG_REGMAP_SLIMBUS=y
CONFIG_RD_XZ=y
CONFIG_REGULATOR_MAX20411=y
CONFIG_KVM=y
CONFIG_SENSORS_NCT7802=y
CONFIG_CACHEFILES_ONDEMAND=y
CONFIG_IOMMU_IO_PGTABLE_LPAE=y
CONFIG_HAVE_PCI=y
CONFIG_RTC_DRV_CMOS=y
CONFIG_842_DECOMPRESS=y
CONFIG_FUNCTION_ALIGNMENT_4B=y
CONFIG_KVM_HYPERV=y
CONFIG_HIGH_RES_TIMERS=y
CONFIG_SENSORS_SY7636A=y
CONFIG_SERIAL_8250_RSA=y
CONFIG_HAVE_FUNCTION_GRAPH_TRACER=y
CONFIG_CRYPTO_LIB_SM3=y
CONFIG_DEBUG_RWSEMS=y
CONFIG_CC_NO_STRINGOP_OVERFLOW=y
CONFIG_BPF_JIT=y
CONFIG_REGULATOR_LM363X=y
CONFIG_SERIAL_ALTERA_JTAGUART=y
CONFIG_SYSTEM_TRUSTED_KEYRING=y
CONFIG_CRYPTO_HASH2=y
CONFIG_ARCH_WANT_LD_ORPHAN_WARN=y
CONFIG_TREE_RCU=y
CONFIG_UNINLINE_SPIN_UNLOCK=y
CONFIG_CAN_BCM=y
CONFIG_PHY_HI3670_USB=y
CONFIG_MFD_INTEL_M10_BMC_CORE=y
CONFIG_CHARGER_BQ24190=y
CONFIG_RD_GZIP=y
CONFIG_PINCTRL_MADERA=y
CONFIG_GENERIC_PHY_MIPI_DPHY=y
CONFIG_TI_FPC202=y
CONFIG_REGULATOR_FP9931=y
CONFIG_DIBS=y
CONFIG_NETDEV_NOTIFIER_ERROR_INJECT=y
CONFIG_DEVFREQ_EVENT_ROCKCHIP_DFI=y
CONFIG_PCCARD=y
CONFIG_NET_SCH_MQPRIO_LIB=y
CONFIG_GPIO_MOCKUP=y
CONFIG_GENERIC_CMOS_UPDATE=y
CONFIG_MTD_BLOCK=y
CONFIG_LEDS_TRIGGER_ONESHOT=y
CONFIG_X86_REBOOTFIXUPS=y
CONFIG_TIMER_PROBE=y
CONFIG_HAVE_PREEMPT_DYNAMIC_CALL=y
CONFIG_FPGA_BRIDGE=y
CONFIG_XFS_SUPPORT_ASCII_CI=y
CONFIG_MISC_FILESYSTEMS=y
CONFIG_MTD_GEN_PROBE=y
CONFIG_ARCH_HAS_SET_DIRECT_MAP=y
CONFIG_FB_IOMEM_HELPERS=y
CONFIG_WQ_POWER_EFFICIENT_DEFAULT=y
CONFIG_XFS_ONLINE_SCRUB_STATS=y
CONFIG_DA9055_WATCHDOG=y
CONFIG_NFC_SIM=y
CONFIG_PANIC_ON_OOPS=y
CONFIG_FB_GOLDFISH=y
CONFIG_I2C=y
CONFIG_AUDIT=y
CONFIG_ARM_SCMI_DEBUG_COUNTERS=y
CONFIG_NVMEM_BCM_OCOTP=y
CONFIG_MODULES_USE_ELF_REL=y
CONFIG_PROC_SYSCTL=y
CONFIG_SCSI_MOD=y
CONFIG_IR_FINTEK=y
CONFIG_IMX_IRQSTEER=y
CONFIG_PINCTRL_PFC_R8A779H0=y
CONFIG_PARTITION_ADVANCED=y
CONFIG_I2C_MV64XXX=y
CONFIG_REGULATOR_MAX77838=y
CONFIG_RTC_DRV_RV3032=y
CONFIG_KSM=y
CONFIG_CRC32=y
CONFIG_REGULATOR_ANATOP=y
CONFIG_CRYPTO_CRC32C=y
CONFIG_SPI_OFFLOAD=y
CONFIG_INIT_STACK_ALL_ZERO=y
CONFIG_FB_BOTH_ENDIAN=y
CONFIG_SOFTIRQ_ON_OWN_STACK=y
CONFIG_DUMMY_IRQ=y
CONFIG_QCOM_SCM=y
CONFIG_VMCORE_INFO=y
CONFIG_SERIAL_8250_BCM2835AUX=y
CONFIG_SENSORS_LM80=y
CONFIG_MTD_UBI=y
CONFIG_WATCH_QUEUE=y
CONFIG_SPI_AR934X=y
CONFIG_PROC_EVENTS=y
CONFIG_GPIO_PMIC_EIC_SPRD=y
CONFIG_X86_DISABLED_FEATURE_RETPOLINE=y
CONFIG_MMP_PDMA=y
CONFIG_NOTIFIER_ERROR_INJECTION=y
CONFIG_RTC_DRV_MOXART=y
CONFIG_MMU_GATHER_RCU_TABLE_FREE=y
CONFIG_X86_DISABLED_FEATURE_INVLPGB=y
CONFIG_HAVE_KVM_DIRTY_RING_TSO=y
CONFIG_SENSORS_PECI_CPUTEMP=y
CONFIG_INPUT_MATRIXKMAP=y
CONFIG_RTC_DRV_MAX6916=y
CONFIG_SENSORS_HS3001=y
CONFIG_GPIO_ICH=y
CONFIG_COMEDI_NI_DAQ_DIO24_CS=y
CONFIG_SYSCTL=y
CONFIG_INPUT_EVDEV=y
CONFIG_IR_JVC_DECODER=y
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE=y
CONFIG_MTD_MAP_BANK_WIDTH_4=y
CONFIG_POSIX_MQUEUE=y
CONFIG_ARM_CMN=y
CONFIG_HAVE_ARCH_MMAP_RND_BITS=y
CONFIG_RESET_NUVOTON_MA35D1=y
CONFIG_OID_REGISTRY=y
CONFIG_KVM_COMMON=y
CONFIG_DMA_ENGINE=y
CONFIG_SHMEM=y
CONFIG_TARGET_CORE=y
CONFIG_FSL_CORENET_CF=y
CONFIG_NET_SCH_PIE=y
CONFIG_SENSORS_LIS3_I2C=y
CONFIG_ALTERA_PR_IP_CORE=y
CONFIG_SERIAL_SH_SCI_CONSOLE=y
CONFIG_MTD_HYPERBUS=y
CONFIG_IA32_FEAT_CTL=y
CONFIG_ATARI_PARTITION=y
CONFIG_CRYPTO_USER_API_AEAD=y
CONFIG_RTC_DRV_ABEOZ9=y
CONFIG_SENSORS_GPD=y
CONFIG_SERIAL_AMBA_PL010=y
CONFIG_SPI_TEGRA20_SLINK=y
CONFIG_SENSORS_F71882FG=y
CONFIG_BACKLIGHT_SKY81452=y
CONFIG_BCACHE=y
CONFIG_BACKLIGHT_SAHARA=y
CONFIG_SENSORS_MAX31785=y
CONFIG_CRYPTO_CCM=y
CONFIG_SENSORS_LT7182S=y
CONFIG_RTC_DRV_MAX6900=y
CONFIG_HAVE_MOD_ARCH_SPECIFIC=y
CONFIG_SENSORS_LTC2990=y
CONFIG_MENZ069_WATCHDOG=y
CONFIG_PHY_HI3660_USB=y
CONFIG_SPI_MASTER=y
CONFIG_CONTEXT_TRACKING_IDLE=y
CONFIG_MTD_RAW_NAND=y
CONFIG_INPUT_PCSPKR=y
CONFIG_KVM_MMU_LOCKLESS_AGING=y
CONFIG_BACKLIGHT_KTD2801=y
CONFIG_ARCH_USE_BUILTIN_BSWAP=y
CONFIG_GXP_WATCHDOG=y
CONFIG_SENSORS_IR38064=y
CONFIG_TPS65010=y
CONFIG_SYSFB_SIMPLEFB=y
CONFIG_QNX6FS_FS=y
CONFIG_JFFS2_FS=y
CONFIG_SENSORS_TMP513=y
CONFIG_SENSORS_LTC4282=y
CONFIG_RCU_STALL_COMMON=y
CONFIG_FS_STACK=y
CONFIG_SQUASHFS_XZ=y
CONFIG_PC87413_WDT=y
CONFIG_PHY_STARFIVE_JH7110_DPHY_TX=y
CONFIG_CAN=y
CONFIG_BATMAN_ADV=y
CONFIG_MTD_INTEL_DG=y
CONFIG_W1_SLAVE_DS2430=y
CONFIG_W1_SLAVE_SMEM=y
CONFIG_SENSORS_W83627EHF=y
CONFIG_NLS_ISO8859_5=y
CONFIG_LIST_HARDENED=y
CONFIG_VIRT_XFER_TO_GUEST_WORK=y
CONFIG_IT87_WDT=y
CONFIG_SENSORS_AXI_FAN_CONTROL=y
CONFIG_ASYMMETRIC_PUBLIC_KEY_SUBTYPE=y
CONFIG_CRYPTO_CTR=y
CONFIG_BATMAN_ADV_TRACING=y
CONFIG_SENSORS_HAC300S=y
CONFIG_EDAC_SCRUB=y
CONFIG_CRYPTO_ECDH=y
CONFIG_NET_SCH_TAPRIO=y
CONFIG_HAVE_ATOMIC_IOMAP=y
CONFIG_NETFILTER=y
CONFIG_NLS_MAC_TURKISH=y
CONFIG_PINCTRL_CS47L35=y
CONFIG_BTRFS_FS_POSIX_ACL=y
CONFIG_CRYPTO_CAST_COMMON=y
CONFIG_RESET_MESON_AUDIO_ARB=y
CONFIG_SPI_SH_HSPI=y
CONFIG_SENSORS_ATXP1=y
CONFIG_GUEST_PERF_EVENTS=y
CONFIG_GPIO_TEGRA=y
CONFIG_SCSI_DH=y
CONFIG_TPS6594_PFSM=y
CONFIG_INPUT_MISC=y
CONFIG_RTC_DRV_ISL12022=y
CONFIG_ARCH_HAS_EARLY_DEBUG=y
CONFIG_MTD_MAP_BANK_WIDTH_1=y
CONFIG_MTD_CFI=y
CONFIG_CONTEXT_SWITCH_TRACER=y
CONFIG_IMX_INTMUX=y
CONFIG_MADERA_IRQ=y
CONFIG_PHY_HISI_INNO_USB2=y
CONFIG_QCOM_QMI_HELPERS=y
CONFIG_EDAC_MEM_REPAIR=y
CONFIG_NET_EMATCH_CMP=y
CONFIG_LEDS_MAX77705=y
CONFIG_INPUT_LEDS=y
CONFIG_TRANSPARENT_HUGEPAGE_SHMEM_HUGE_WITHIN_SIZE=y
CONFIG_SENSORS_FSCHMD=y
CONFIG_I2C_GXP=y
CONFIG_RTC_DRV_STMP=y
CONFIG_AS_HAS_NON_CONST_ULEB128=y
CONFIG_LOCKDEP_SUPPORT=y
CONFIG_INTEL_TH_PTI=y
CONFIG_FB_CFB_IMAGEBLIT=y
CONFIG_PINCTRL_PXA25X=y
CONFIG_X86_REQUIRED_FEATURE_ALWAYS=y
CONFIG_PAGE_IDLE_FLAG=y
CONFIG_BUG=y
CONFIG_SPI_MEM=y
CONFIG_SENSORS_F75375S=y
CONFIG_ATOMIC64_SELFTEST=y
CONFIG_JOYSTICK_ANALOG=y
CONFIG_LCD_CLASS_DEVICE=y
CONFIG_ZSTD_COMMON=y
CONFIG_PAGE_SIZE_LESS_THAN_256KB=y
CONFIG_HWSPINLOCK_OMAP=y
CONFIG_DECOMPRESS_LZO=y
CONFIG_HAVE_FTRACE_GRAPH_FUNC=y
CONFIG_PARPORT_PC_PCMCIA=y
CONFIG_FB_FOREIGN_ENDIAN=y
CONFIG_RESET_SUNXI=y
CONFIG_ELF_CORE=y
CONFIG_X86_MSR=y
