CONFIG_ARCH_HAS_UACCESS_FLUSHCACHE=n
CONFIG_SHMEM=n
CONFIG_NFS_FS=n
CONFIG_NET_VENDOR_SILAN=n
CONFIG_REGMAP=n
CONFIG_TIGON3=n
CONFIG_X86_REQUIRED_FEATURE_CMOV=n
CONFIG_BUG=n
CONFIG_8139TOO_PIO=n
CONFIG_X86_KERNEL_IBT=n
CONFIG_CRYPTO_LIB_MD5=n
CONFIG_WLAN_VENDOR_BROADCOM=n
CONFIG_PHY_PACKAGE=n
CONFIG_GENERIC_SMP_IDLE_THREAD=n
CONFIG_LD_IS_LLD=n
CONFIG_ARCH_CONFIGURES_CPU_MITIGATIONS=n
CONFIG_NET_TULIP=n
CONFIG_HZ_1000=n
CONFIG_HIBERNATION_COMP_LZO=n
CONFIG_NET_EGRESS=n
CONFIG_ARCH_ENABLE_SPLIT_PMD_PTLOCK=n
CONFIG_HAVE_ARCH_SOFT_DIRTY=n
CONFIG_HAVE_EBPF_JIT=n
CONFIG_SYN_COOKIES=n
CONFIG_ACPI_VIDEO=n
CONFIG_MITIGATION_RETHUNK=n
CONFIG_NFS_V3_ACL=n
CONFIG_X86_DISABLED_FEATURE_SEV_SNP=n
CONFIG_HAVE_HW_BREAKPOINT=n
CONFIG_SERIAL_8250_SHARE_IRQ=n
CONFIG_DRM_TTM=n
CONFIG_HAVE_ARCH_KSTACK_ERASE=n
CONFIG_POWER_SUPPLY_HWMON=n
CONFIG_MODULES_USE_ELF_RELA=n
CONFIG_BLK_CGROUP=n
CONFIG_ACPI_NHLT=n
CONFIG_DMA_SHARED_BUFFER=n
CONFIG_HAVE_BUILDTIME_MCOUNT_SORT=n
CONFIG_DM_ZERO=n
CONFIG_AUXILIARY_BUS=n
CONFIG_GCC10_NO_ARRAY_BOUNDS=n
CONFIG_NET_VENDOR_CHELSIO=n
CONFIG_BUFFER_HEAD=n
CONFIG_UNWIND_USER=n
CONFIG_NFS_V4=n
CONFIG_COMPAT_FOR_U64_ALIGNMENT=n
CONFIG_X86_CHECK_BIOS_CORRUPTION=n
CONFIG_DRM_DISPLAY_HDCP_HELPER=n
CONFIG_HAVE_KERNEL_LZMA=n
CONFIG_BLK_DEV_INITRD=n
CONFIG_SERIO_LIBPS2=n
CONFIG_HAS_IOPORT_MAP=n
CONFIG_CGROUP_SCHED=n
CONFIG_INTEL_MEI=n
CONFIG_LD_CAN_USE_KEEP_IN_OVERLAY=n
CONFIG_SYSTEM_DATA_VERIFICATION=n
CONFIG_GENERIC_ISA_DMA=n
CONFIG_CC_HAS_ASM_INLINE=n
CONFIG_TRACE_IRQFLAGS_SUPPORT=n
CONFIG_PTDUMP=n
CONFIG_MITIGATION_ITS=n
CONFIG_NETFILTER_NETLINK=n
CONFIG_USB_HID=n
CONFIG_RD_LZMA=n
CONFIG_ACPI_SLEEP=n
CONFIG_RETHOOK=n
CONFIG_CORE_DUMP_DEFAULT_ELF_HEADERS=n
CONFIG_KALLSYMS_ALL=n
CONFIG_CC_HAS_SANE_FUNCTION_ALIGNMENT=n
CONFIG_HIGH_RES_TIMERS=n
CONFIG_HAVE_MOVE_PUD=n
CONFIG_NET_VENDOR_NVIDIA=n
CONFIG_ARCH_CORRECT_STACKTRACE_ON_KRETPROBE=n
CONFIG_PTP_1588_CLOCK_OPTIONAL=n
CONFIG_PAGE_MAPCOUNT=n
CONFIG_NET_VENDOR_CISCO=n
CONFIG_MQ_IOSCHED_DEADLINE=n
CONFIG_HAVE_OBJTOOL_MCOUNT=n
CONFIG_TRACE_IRQFLAGS_NMI_SUPPORT=n
CONFIG_FONT_SUPPORT=n
CONFIG_GPU_BUDDY=n
CONFIG_SND_HDA_INTEL=n
CONFIG_FIX_EARLYCON_MEM=n
CONFIG_PATA_OLDPIIX=n
CONFIG_EXT4_FS_SECURITY=n
CONFIG_HOTPLUG_PCI=n
CONFIG_FW_CACHE=n
CONFIG_CLZ_TAB=n
CONFIG_CC_HAS_MIN_FUNCTION_ALIGNMENT=n
CONFIG_KEYBOARD_ATKBD=n
CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE=n
CONFIG_ARCH_MIGHT_HAVE_PC_SERIO=n
CONFIG_DEBUG_FS=n
CONFIG_MSDOS_PARTITION=n
CONFIG_CPU_FREQ_GOV_USERSPACE=n
CONFIG_HAVE_POSIX_CPU_TIMERS_TASK_WORK=n
CONFIG_POSIX_MQUEUE=n
CONFIG_RSEQ=n
CONFIG_X86_DEBUGCTLMSR=n
CONFIG_HOTPLUG_PARALLEL=n
CONFIG_CRYPTO_LIB_SHA512_ARCH=n
CONFIG_CRYPTO_MANAGER=n
CONFIG_NF_NAT_IRC=n
CONFIG_BLK_CGROUP_IOLATENCY=n
CONFIG_JUMP_LABEL=n
CONFIG_MEMBARRIER=n
CONFIG_HAVE_ARCH_GET_SECUREBOOT=n
CONFIG_DRM_PANEL=n
CONFIG_HAVE_USER_RETURN_NOTIFIER=n
CONFIG_LOCKD=n
CONFIG_CRYPTO_LIB_SHA256=n
CONFIG_DRM_DISPLAY_DSC_HELPER=n
CONFIG_FWNODE_MDIO=n
CONFIG_WATCHDOG=n
CONFIG_NETFILTER_INGRESS=n
CONFIG_SERIAL_8250_EXTENDED=n
CONFIG_PARAVIRT_CLOCK=n
CONFIG_ARCH_HAS_STRICT_MODULE_RWX=n
CONFIG_SLUB_DEBUG=n
CONFIG_X86_MCE_INTEL=n
CONFIG_ACPI_THERMAL=n
CONFIG_SATA_PMP=n
CONFIG_SCSI=n
CONFIG_ARCH_HAS_DEVMEM_IS_ALLOWED=n
CONFIG_X509_CERTIFICATE_PARSER=n
CONFIG_MITIGATION_GDS=n
CONFIG_X86_REQUIRED_FEATURE_MSR=n
CONFIG_CONTEXT_SWITCH_TRACER=n
CONFIG_BLK_DEV_WRITE_MOUNTED=n
CONFIG_INET6_AH=n
CONFIG_X86_VERBOSE_BOOTUP=n
CONFIG_CPU_ISOLATION=n
CONFIG_DEVMEM=n
CONFIG_HAVE_JUMP_LABEL_HACK=n
CONFIG_SECRETMEM=n
CONFIG_TRACEPOINTS=n
CONFIG_YENTA_ENE_TUNE=n
CONFIG_X86_AMD_PSTATE=n
CONFIG_SCHED_MC_PRIO=n
CONFIG_ARCH_VMLINUX_NEEDS_RELOCS=n
CONFIG_SBITMAP=n
CONFIG_CC_HAS_MARCH_NATIVE=n
CONFIG_X86_IOPL_IOPERM=n
CONFIG_RCU_STALL_COMMON=n
CONFIG_GENERIC_IRQ_EFFECTIVE_AFF_MASK=n
CONFIG_NAMESPACES=n
CONFIG_MMU_GATHER_TABLE_FREE=n
CONFIG_NET_VENDOR_SOCIONEXT=n
CONFIG_IRQ_DOMAIN_HIERARCHY=n
CONFIG_SPLIT_PTE_PTLOCKS=n
CONFIG_X86_DEBUG_FPU=n
CONFIG_ARCH_HAS_DEBUG_VIRTUAL=n
CONFIG_DRM_DISPLAY_HDMI_HELPER=n
CONFIG_NET_SCHED=n
CONFIG_VIRTUALIZATION=n
CONFIG_VMAP_STACK=n
CONFIG_X86_NEED_RELOCS=n
CONFIG_PAGE_SIZE_LESS_THAN_256KB=n
CONFIG_NFS_DISABLE_UDP_SUPPORT=n
CONFIG_EFIVAR_FS=n
CONFIG_NET_VENDOR_LITEX=n
CONFIG_SGETMASK_SYSCALL=n
CONFIG_USB_PCI_AMD=n
CONFIG_DEBUG_FS_ALLOW_ALL=n
CONFIG_TIMERFD=n
CONFIG_HAVE_FENTRY=n
CONFIG_PCI_MSI=n
CONFIG_MD_BITMAP=n
CONFIG_HOTPLUG_CORE_SYNC=n
CONFIG_SND_HDA_COMPONENT=n
CONFIG_NETFILTER_SKIP_EGRESS=n
CONFIG_HAVE_GENERIC_VDSO=n
CONFIG_BLK_DEV_SR=n
CONFIG_IP_MROUTE=n
CONFIG_SCSI_CONSTANTS=n
CONFIG_INOTIFY_USER=n
CONFIG_DECOMPRESS_ZSTD=n
CONFIG_COMPAT=n
CONFIG_I3C_OR_I2C=n
CONFIG_SECCOMP_FILTER=n
CONFIG_CRYPTO_HW=n
CONFIG_ARCH_HAS_GENERIC_CRASHKERNEL_RESERVATION=n
CONFIG_IRQ_DOMAIN=n
CONFIG_SYNC_FILE=n
CONFIG_ARCH_USE_SYM_ANNOTATIONS=n
CONFIG_WLAN_VENDOR_RALINK=n
CONFIG_PCCARD=n
CONFIG_NET_VENDOR_CAVIUM=n
CONFIG_X86_REQUIRED_FEATURE_CX8=n
CONFIG_CPU_SUP_HYGON=n
CONFIG_FW_LOADER=n
CONFIG_BLOCK_HOLDER_DEPRECATED=n
CONFIG_NF_CONNTRACK=n
CONFIG_NETFILTER_NETLINK_LOG=n
CONFIG_IP_PNP_BOOTP=n
CONFIG_HAVE_ARCH_VMAP_STACK=n
CONFIG_USB_PCI=n
CONFIG_PCI_DOMAINS=n
CONFIG_DRM_DISPLAY_HELPER=n
CONFIG_ARCH_CLOCKSOURCE_INIT=n
CONFIG_GENERIC_CALIBRATE_DELAY=n
CONFIG_CDROM=n
CONFIG_MITIGATION_TAA=n
CONFIG_X86_DISABLED_FEATURE_LAM=n
CONFIG_X86_LOCAL_APIC=n
CONFIG_LOCK_MM_AND_FIND_VMA=n
CONFIG_NET_VENDOR_NATSEMI=n
CONFIG_X86_MCE_THRESHOLD=n
CONFIG_WLAN_VENDOR_REALTEK=n
CONFIG_PM_SLEEP=n
CONFIG_I2C_HELPER_AUTO=n
CONFIG_MAC80211_LEDS=n
CONFIG_KVM_GUEST=n
CONFIG_RTC_INTF_SYSFS=n
CONFIG_LDISC_AUTOLOAD=n
CONFIG_MAILBOX=n
CONFIG_NET_HANDSHAKE=n
CONFIG_NET_VENDOR_INTEL=n
CONFIG_MAC80211_RC_MINSTREL=n
CONFIG_ATA_FORCE=n
CONFIG_HAVE_IRQ_TIME_ACCOUNTING=n
CONFIG_XFRM=n
CONFIG_SURFACE_PLATFORMS=n
CONFIG_PCI_LABEL=n
CONFIG_HOTPLUG_CORE_SYNC_FULL=n
CONFIG_IPV6_SIT=n
CONFIG_TRACING=n
CONFIG_HPET_TIMER=n
CONFIG_HAVE_MMIOTRACE_SUPPORT=n
CONFIG_RUNTIME_TESTING_MENU=n
CONFIG_GENERIC_CPU_AUTOPROBE=n
CONFIG_UNIX=n
CONFIG_CC_HAS_AUTO_VAR_INIT_PATTERN=n
CONFIG_PM=n
CONFIG_HAVE_LIVEPATCH=n
CONFIG_ARCH_SUPPORTS_HUGETLBFS=n
CONFIG_IP_PIMSM_V1=n
CONFIG_RELOCATABLE=n
CONFIG_HAVE_CMPXCHG_DOUBLE=n
CONFIG_CONNECTOR=n
CONFIG_USB_MON=n
CONFIG_ARCH_USE_BUILTIN_BSWAP=n
CONFIG_IOMMU_IOVA=n
CONFIG_EFI_CUSTOM_SSDT_OVERLAYS=n
CONFIG_GENERIC_CLOCKEVENTS_COUPLED_INLINE=n
CONFIG_GRO_CELLS=n
CONFIG_ACPI_DEBUG=n
CONFIG_X86_ACPI_CPUFREQ_CPB=n
CONFIG_RTC_DRV_CMOS=n
CONFIG_ACPI_SYSTEM_POWER_STATES_SUPPORT=n
CONFIG_X86_64_ACPI_NUMA=n
CONFIG_QUOTACTL=n
CONFIG_HAVE_PREEMPT_DYNAMIC_CALL=n
CONFIG_PCI_LOCKLESS_CONFIG=n
CONFIG_RD_LZO=n
CONFIG_ACPI_AC=n
CONFIG_NETFILTER_XT_MARK=n
CONFIG_ARCH_WANT_DEFAULT_BPF_JIT=n
CONFIG_NOP_TRACER=n
CONFIG_CC_HAS_ASM_GOTO_TIED_OUTPUT=n
CONFIG_CPU_SUP_INTEL=n
CONFIG_USE_PERCPU_NUMA_NODE_ID=n
CONFIG_ARCH_MAY_HAVE_PC_FDC=n
CONFIG_NET_VENDOR_AMD=n
CONFIG_KVFREE_RCU_BATCHED=n
CONFIG_WLAN_VENDOR_ST=n
CONFIG_SSB_POSSIBLE=n
CONFIG_CRYPTO_LIB_SHA1=n
CONFIG_WLAN_VENDOR_MARVELL=n
CONFIG_CLOCKSOURCE_WATCHDOG=n
CONFIG_CFG80211_USE_KERNEL_REGDB_KEYS=n
CONFIG_NETFS_SUPPORT=n
CONFIG_YENTA_RICOH=n
CONFIG_GENERIC_CMOS_UPDATE=n
CONFIG_CRYPTO_CCM=n
CONFIG_SUNRPC_GSS=n
CONFIG_SND_JACK_INPUT_DEV=n
CONFIG_BLK_MQ_STACKING=n
CONFIG_GENERIC_MSI_IRQ=n
CONFIG_NET_VENDOR_ARC=n
CONFIG_NET_VENDOR_MUCSE=n
CONFIG_NETFILTER_XT_MATCH_CONNTRACK=n
CONFIG_SUNRPC=n
CONFIG_HAVE_MOD_ARCH_SPECIFIC=n
CONFIG_SERIAL_8250_PCI=n
CONFIG_STACKTRACE_SUPPORT=n
CONFIG_SPLIT_PMD_PTLOCKS=n
CONFIG_CRYPTO=n
CONFIG_I8253_LOCK=n
CONFIG_ARCH_HAS_COPY_MC=n
CONFIG_VM_EVENT_COUNTERS=n
CONFIG_SCSI_VIRTIO=n
CONFIG_SCSI_PROC_FS=n
CONFIG_ASN1=n
CONFIG_NET_VENDOR_EMULEX=n
CONFIG_ARCH_SUPPORTS_PAGE_TABLE_CHECK=n
CONFIG_XZ_DEC_ARM64=n
CONFIG_GENERIC_NET_UTILS=n
CONFIG_RELAY=n
CONFIG_ARCH_HAS_MEM_ENCRYPT=n
