CONFIG_CRYPTO_GENIV=n
CONFIG_SND_HDA_COMPONENT=n
CONFIG_TTY=n
CONFIG_HAVE_OBJTOOL_NOP_MCOUNT=n
CONFIG_XZ_DEC_BCJ=n
CONFIG_XZ_DEC_ARM=n
CONFIG_IRQ_DOMAIN_HIERARCHY=n
CONFIG_INPUT_SPARSEKMAP=n
CONFIG_DMA_NEED_SYNC=n
CONFIG_RTC_DRV_CMOS=n
CONFIG_SYSVIPC_SYSCTL=n
CONFIG_NO_HZ_IDLE=n
CONFIG_SYN_COOKIES=n
CONFIG_HOTPLUG_CORE_SYNC_DEAD=n
CONFIG_COREDUMP=n
CONFIG_SCSI=n
CONFIG_NETFILTER=n
CONFIG_PM_SLEEP=n
CONFIG_CRYPTO_AEAD=n
CONFIG_AUDIT_ARCH=n
CONFIG_BITREVERSE=n
CONFIG_WLAN_VENDOR_ATMEL=n
CONFIG_CRYPTO_LIB_SHA512=n
CONFIG_CRYPTO_GCM=n
CONFIG_HAVE_VIRT_CPU_ACCOUNTING_GEN=n
CONFIG_THERMAL_GOV_STEP_WISE=n
CONFIG_NEED_SG_DMA_LENGTH=n
CONFIG_EFI_STUB=n
CONFIG_X86_IO_APIC=n
CONFIG_ARCH_SUPPORTS_MEMORY_FAILURE=n
CONFIG_IOMMU_IOPF=n
CONFIG_ARCH_WANTS_THP_SWAP=n
CONFIG_POWER_SUPPLY=n
CONFIG_CRYPTO_CTS=n
CONFIG_COMPACTION=n
CONFIG_X86_DISABLED_FEATURE_K6_MTRR=n
CONFIG_EXECMEM=n
CONFIG_HAVE_RUST=n
CONFIG_ISO9660_FS=n
CONFIG_AUTOFS_FS=n
CONFIG_NF_NAT_MASQUERADE=n
CONFIG_WLAN_VENDOR_ATH=n
CONFIG_VHOST_MENU=n
CONFIG_X86_THERMAL_VECTOR=n
CONFIG_GENERIC_PCI_IOMAP=n
CONFIG_MUTEX_SPIN_ON_OWNER=n
CONFIG_PCIE_PME=n
CONFIG_DRM_DISPLAY_HELPER=n
CONFIG_GENERIC_TRACER=n
CONFIG_PROC_SYSCTL=n
CONFIG_NET_VENDOR_CISCO=n
CONFIG_PTP_1588_CLOCK_KVM=n
CONFIG_BUFFER_HEAD=n
CONFIG_SYSTEM_DATA_VERIFICATION=n
CONFIG_PROC_EVENTS=n
CONFIG_USB_EHCI_HCD=n
CONFIG_PROC_VMCORE=n
CONFIG_NET_VENDOR_ALIBABA=n
CONFIG_GPU_BUDDY=n
CONFIG_HW_RANDOM_VIA=n
CONFIG_DECOMPRESS_GZIP=n
CONFIG_ARCH_USE_MEMREMAP_PROT=n
CONFIG_LD_CAN_USE_KEEP_IN_OVERLAY=n
CONFIG_PCI=n
CONFIG_TCP_MD5SIG=n
CONFIG_NETFILTER_XT_TARGET_SECMARK=n
CONFIG_NEED_PER_CPU_EMBED_FIRST_CHUNK=n
CONFIG_MITIGATION_UNRET_ENTRY=n
CONFIG_NETFILTER_XT_TARGET_CONNSECMARK=n
CONFIG_MODULE_UNLOAD=n
CONFIG_MOUSE_PS2_FOCALTECH=n
CONFIG_NF_NAT_IRC=n
CONFIG_CRYPTO_HASH2=n
CONFIG_X86_AMD_PSTATE=n
CONFIG_ARCH_PROC_KCORE_TEXT=n
CONFIG_CPU_RMAP=n
CONFIG_HAVE_FUNCTION_ERROR_INJECTION=n
CONFIG_CRYPTO_AUTHENC=n
CONFIG_ARCH_HAS_ELF_RANDOMIZE=n
CONFIG_SOFTIRQ_ON_OWN_STACK=n
CONFIG_RPCSEC_GSS_KRB5=n
CONFIG_NEED_PER_CPU_PAGE_FIRST_CHUNK=n
CONFIG_ARCH_SUPPORTS_PAGE_TABLE_CHECK=n
CONFIG_WATCHDOG_HANDLE_BOOT_ENABLED=n
CONFIG_FREEZER=n
CONFIG_WLAN_VENDOR_REALTEK=n
CONFIG_NET_VENDOR_QUALCOMM=n
CONFIG_ARCH_STACKWALK=n
CONFIG_CONTEXT_TRACKING_IDLE=n
CONFIG_ARCH_SUPPORTS_LTO_CLANG_THIN=n
CONFIG_MOUSE_PS2_LOGIPS2PP=n
CONFIG_X86_DIRECT_GBPAGES=n
CONFIG_FWNODE_MDIO=n
CONFIG_DMA_SHARED_BUFFER=n
CONFIG_CRYPTO_AEAD2=n
CONFIG_DRM_PANEL_BRIDGE=n
CONFIG_EDAC_ATOMIC_SCRUB=n
CONFIG_DRM_BRIDGE=n
CONFIG_USB_STORAGE=n
CONFIG_IP_PNP=n
CONFIG_SND_SEQ_DUMMY=n
CONFIG_WLAN_VENDOR_INTERSIL=n
CONFIG_CLOCKSOURCE_WATCHDOG=n
CONFIG_SND_HDA_INTEL=n
CONFIG_ARCH_SUPPORTS_CFI=n
CONFIG_ARCH_WANT_HUGE_PMD_SHARE=n
CONFIG_SERIO_LIBPS2=n
CONFIG_IOMMU_PT_VTDSS=n
CONFIG_RANDOMIZE_KSTACK_OFFSET=n
CONFIG_NET_VENDOR_MELLANOX=n
CONFIG_INTEL_TCC=n
CONFIG_PKCS7_MESSAGE_PARSER=n
CONFIG_NET_VENDOR_3COM=n
CONFIG_DEVPORT=n
CONFIG_DEBUG_MEMORY_INIT=n
CONFIG_HAVE_FUNCTION_ARG_ACCESS_API=n
CONFIG_SND_DRIVERS=n
CONFIG_ARCH_SUPPORTS_KEXEC_SIG_FORCE=n
CONFIG_SBITMAP=n
CONFIG_DEVMEM=n
CONFIG_NET_VENDOR_SILAN=n
CONFIG_CPUFREQ_ARCH_CUR_FREQ=n
CONFIG_VIRTIO_PCI=n
CONFIG_PCI_PASID=n
CONFIG_PM_SLEEP_DEBUG=n
CONFIG_AUXILIARY_BUS=n
CONFIG_MOUSE_PS2_ALPS=n
CONFIG_SCHED_INFO=n
CONFIG_CC_HAS_MARCH_NATIVE=n
CONFIG_X86_DISABLED_FEATURE_CENTAUR_MCR=n
CONFIG_PROBE_EVENTS=n
CONFIG_EFI_RUNTIME_MAP=n
CONFIG_HUGETLB_PMD_PAGE_TABLE_SHARING=n
CONFIG_PCI_MMCONFIG=n
CONFIG_KVFREE_RCU_BATCHED=n
CONFIG_NET_CLS_CGROUP=n
CONFIG_8139TOO_PIO=n
CONFIG_HAVE_FENTRY=n
CONFIG_NET_PTP_CLASSIFY=n
CONFIG_EEEPC_LAPTOP=n
CONFIG_KEYBOARD_ATKBD=n
CONFIG_SYMBOLIC_ERRNAME=n
CONFIG_PAGE_SIZE_4KB=n
CONFIG_ARCH_CLOCKSOURCE_INIT=n
CONFIG_NFS_V3_ACL=n
CONFIG_GENERIC_BITREVERSE=n
CONFIG_FONT_AUTOSELECT=n
CONFIG_SPARSE_IRQ=n
CONFIG_CRYPTO_CBC=n
CONFIG_UPROBES=n
CONFIG_WLAN_VENDOR_ST=n
CONFIG_RANDSTRUCT_NONE=n
CONFIG_SUNRPC_GSS=n
CONFIG_MMU_GATHER_RCU_TABLE_FREE=n
CONFIG_ARCH_SUPPORTS_KEXEC_SIG=n
CONFIG_USB_OHCI_HCD_PCI=n
CONFIG_SERIAL_8250_PCI=n
CONFIG_MQ_IOSCHED_KYBER=n
CONFIG_GENERIC_ALLOCATOR=n
CONFIG_X86_CMOV=n
CONFIG_IO_WQ=n
CONFIG_HAVE_PERF_EVENTS=n
CONFIG_DNOTIFY=n
CONFIG_NET_VENDOR_SYNOPSYS=n
CONFIG_ACPI_CPPC_LIB=n
CONFIG_X86_VERBOSE_BOOTUP=n
CONFIG_NET_VENDOR_WANGXUN=n
CONFIG_WLAN=n
CONFIG_PAGE_COUNTER=n
CONFIG_HAVE_RETHOOK=n
CONFIG_NETWORK_SECMARK=n
CONFIG_SCHED_CLUSTER=n
CONFIG_GENERIC_IRQ_ENTRY=n
CONFIG_BINARY_PRINTF=n
CONFIG_HAVE_OBJTOOL=n
CONFIG_X86_PAT=n
CONFIG_X86_PM_TIMER=n
CONFIG_NO_HZ=n
CONFIG_NF_CONNTRACK_IRC=n
CONFIG_VMCORE_INFO=n
CONFIG_NET_9P_FD=n
CONFIG_IOMMU_MM_DATA=n
CONFIG_CRYPTO_LIB_MD5=n
CONFIG_MODULE_FORCE_UNLOAD=n
CONFIG_DEFAULT_CUBIC=n
CONFIG_CRYPTO_LIB_SHA256_ARCH=n
CONFIG_NET_9P=n
CONFIG_GENERIC_IRQ_SHOW=n
CONFIG_NF_LOG_SYSLOG=n
CONFIG_TASK_IO_ACCOUNTING=n
CONFIG_X86_REROUTE_FOR_BROKEN_BOOT_IRQS=n
CONFIG_AMD_NUMA=n
CONFIG_OBJTOOL=n
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE_PUD=n
CONFIG_X86_REQUIRED_FEATURE_LM=n
CONFIG_WLAN_VENDOR_INTEL=n
CONFIG_X86_VSYSCALL_EMULATION=n
CONFIG_QUOTACTL=n
CONFIG_NET_VENDOR_SMSC=n
CONFIG_KEYS=n
CONFIG_NET_INGRESS=n
CONFIG_CRYPTO_CAMELLIA=n
CONFIG_RFS_ACCEL=n
CONFIG_DEBUG_ENTRY=n
CONFIG_USB_PCI_AMD=n
CONFIG_USB_HIDDEV=n
CONFIG_USE_PERCPU_NUMA_NODE_ID=n
CONFIG_HAVE_JUMP_LABEL_HACK=n
CONFIG_PERF_EVENTS=n
CONFIG_X86_DISABLED_FEATURE_SGX=n
CONFIG_HVC_DRIVER=n
CONFIG_HAVE_ASM_MODVERSIONS=n
CONFIG_ARCH_HIBERNATION_POSSIBLE=n
CONFIG_CFG80211=n
CONFIG_SCSI_VIRTIO=n
CONFIG_CRYPTO_CTR=n
CONFIG_USB=n
CONFIG_NET_VENDOR_VIA=n
CONFIG_X86_REQUIRED_FEATURE_ALWAYS=n
CONFIG_SYSCTL_EXCEPTION_TRACE=n
CONFIG_HAVE_ARCH_TRACEHOOK=n
CONFIG_ARCH_MEMORY_ORDER_TSO=n
CONFIG_HOTPLUG_SMT=n
CONFIG_ASYMMETRIC_KEY_TYPE=n
CONFIG_ARCH_HAVE_EXTRA_ELF_NOTES=n
CONFIG_IO_URING_BPF=n
CONFIG_SERIAL_8250_MANY_PORTS=n
CONFIG_PCPU_DEV_REFCNT=n
CONFIG_CPU_IDLE_GOV_MENU=n
CONFIG_HOTPLUG_CORE_SYNC=n
CONFIG_SND_PROC_FS=n
CONFIG_LD_IS_BFD=n
CONFIG_ACPI_NUMA=n
CONFIG_UPROBE_EVENTS=n
CONFIG_MITIGATION_MDS=n
CONFIG_FHANDLE=n
CONFIG_SMP=n
CONFIG_LTO_NONE=n
CONFIG_MODULES_TREE_LOOKUP=n
CONFIG_XZ_DEC=n
CONFIG_NF_REJECT_IPV4=n
CONFIG_SUSPEND=n
CONFIG_VIRTIO_ANCHOR=n
CONFIG_HAVE_ARCH_KCSAN=n
CONFIG_NETFILTER_NETLINK_LOG=n
CONFIG_MITIGATION_GDS=n
CONFIG_NETFILTER_EGRESS=n
CONFIG_RD_BZIP2=n
CONFIG_NET_9P_VIRTIO=n
CONFIG_PROFILING=n
CONFIG_CPU_FREQ_GOV_USERSPACE=n
CONFIG_ATA=n
CONFIG_NET_DEVMEM=n
CONFIG_X86_REQUIRED_FEATURE_XMM=n
CONFIG_FAILOVER=n
CONFIG_NET_SCHED=n
CONFIG_NLATTR=n
CONFIG_ACPI_PROCESSOR_CSTATE=n
CONFIG_XARRAY_MULTI=n
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST_IDLE=n
CONFIG_PCIEASPM_DEFAULT=n
CONFIG_HAVE_IOREMAP_PROT=n
CONFIG_IP_PIMSM_V2=n
CONFIG_MITIGATION_RETHUNK=n
CONFIG_PCI_DOMAINS=n
CONFIG_GENERIC_IRQ_EFFECTIVE_AFF_MASK=n
CONFIG_LD_ORPHAN_WARN=n
CONFIG_SECURITY_SELINUX_DEVELOP=n
CONFIG_CRYPTO_AES=n
CONFIG_ARCH_WANT_OLD_COMPAT_IPC=n
CONFIG_NET_VENDOR_MARVELL=n
CONFIG_SKB_EXTENSIONS=n
CONFIG_NET_VENDOR_INTEL=n
CONFIG_X86_ACPI_CPUFREQ_CPB=n
CONFIG_YENTA_TOSHIBA=n
CONFIG_RTC_NVMEM=n
CONFIG_DMADEVICES=n
CONFIG_E100=n
CONFIG_MODIFY_LDT_SYSCALL=n
CONFIG_ARCH_HAS_NONLEAF_PMD_YOUNG=n
CONFIG_SND_JACK=n
CONFIG_NET=n
CONFIG_X86_MCE_INTEL=n
CONFIG_MMCONF_FAM10H=n
CONFIG_SYSTEM_TRUSTED_KEYRING=n
CONFIG_CRYPTO_LIB_GF128HASH=n
CONFIG_GENERIC_IRQ_PROBE=n
CONFIG_SCSI_CONSTANTS=n
CONFIG_WLAN_VENDOR_TI=n
CONFIG_ARCH_HAS_UBSAN=n
CONFIG_TIGON3=n
CONFIG_SUSPEND_FREEZER=n
CONFIG_HAVE_CONTEXT_TRACKING_USER=n
CONFIG_NET_VENDOR_REALTEK=n
CONFIG_R8169=n
CONFIG_MOUSE_PS2_SYNAPTICS_SMBUS=n
CONFIG_VIRTIO_PCI_ADMIN_LEGACY=n
CONFIG_PHY_PACKAGE=n
CONFIG_HAVE_DYNAMIC_FTRACE=n
CONFIG_USB_XHCI_HCD=n
