CONFIG_NET_VENDOR_ENGLEDER=n
CONFIG_MMU=n
CONFIG_XFRM_AH=n
CONFIG_X86_DEBUG_FPU=n
CONFIG_MMU_NOTIFIER=n
CONFIG_XZ_DEC_X86=n
CONFIG_SYSFS=n
CONFIG_RD_BZIP2=n
CONFIG_HAVE_PCSPKR_PLATFORM=n
CONFIG_WATCHDOG_HANDLE_BOOT_ENABLED=n
CONFIG_CC_HAS_IBT=n
CONFIG_ARCH_HAS_DEBUG_VIRTUAL=n
CONFIG_NET_INGRESS=n
CONFIG_RUNTIME_TESTING_MENU=n
CONFIG_VIRTIO_NET=n
CONFIG_PID_NS=n
CONFIG_AIO=n
CONFIG_QUEUED_SPINLOCKS=n
CONFIG_DRM_BUDDY=n
CONFIG_PNPACPI=n
CONFIG_HIGH_RES_TIMERS=n
CONFIG_HAVE_ACPI_APEI_NMI=n
CONFIG_9P_FS=n
CONFIG_RSEQ=n
CONFIG_ARCH_HAS_STRICT_KERNEL_RWX=n
CONFIG_BLK_DEV_WRITE_MOUNTED=n
CONFIG_IP_PIMSM_V1=n
CONFIG_SCREEN_INFO=n
CONFIG_DEBUG_DEVRES=n
CONFIG_I3C_OR_I2C=n
CONFIG_INET6_ESP=n
CONFIG_NET_9P_FD=n
CONFIG_DMI_SCAN_MACHINE_NON_EFI_FALLBACK=n
CONFIG_NET_VENDOR_EZCHIP=n
CONFIG_FLATMEM=n
CONFIG_UCS2_STRING=n
CONFIG_HAS_DMA=n
CONFIG_DRM=n
CONFIG_MODULE_FORCE_UNLOAD=n
CONFIG_INPUT_KEYBOARD=n
CONFIG_NOP_TRACER=n
CONFIG_NET_VENDOR_AMAZON=n
CONFIG_ACPI_PROCESSOR_CSTATE=n
CONFIG_NF_NAT_IRC=n
CONFIG_NETFILTER_XT_MATCH_CONNTRACK=n
CONFIG_FS_POSIX_ACL=n
CONFIG_ARCH_HAS_STRICT_MODULE_RWX=n
CONFIG_PAGE_SIZE_4KB=n
CONFIG_NET_VENDOR_SUN=n
CONFIG_GENERIC_NET_UTILS=n
CONFIG_FSNOTIFY=n
CONFIG_NF_DEFRAG_IPV6=n
CONFIG_ARCH_HAS_DEBUG_WX=n
CONFIG_MIGRATION=n
CONFIG_CORE_DUMP_DEFAULT_ELF_HEADERS=n
CONFIG_TASKSTATS=n
CONFIG_BLOCK_HOLDER_DEPRECATED=n
CONFIG_SERIAL_8250_PCI=n
CONFIG_KRETPROBE_ON_RETHOOK=n
CONFIG_IP_PNP_BOOTP=n
CONFIG_HAVE_ARCH_AUDITSYSCALL=n
CONFIG_XZ_DEC_ARM64=n
CONFIG_TRACING_SUPPORT=n
CONFIG_ATA_PIIX=n
CONFIG_FUTEX_PI=n
CONFIG_DEBUG_MEMORY_INIT=n
CONFIG_HAVE_ARCH_SECCOMP_FILTER=n
CONFIG_SYNC_FILE=n
CONFIG_RTC_INTF_DEV=n
CONFIG_ARCH_HAS_SET_MEMORY=n
CONFIG_MODULES=n
CONFIG_NETFILTER_INGRESS=n
CONFIG_PCI_BIOS=n
CONFIG_USB_EHCI_PCI=n
CONFIG_LEDS_CLASS=n
CONFIG_BINFMT_MISC=n
CONFIG_LOCK_SPIN_ON_OWNER=n
CONFIG_HUGETLBFS=n
CONFIG_HAVE_MIXED_BREAKPOINTS_REGS=n
CONFIG_NEED_SG_DMA_LENGTH=n
CONFIG_NET_CLS_ACT=n
CONFIG_WLAN_VENDOR_ZYDAS=n
CONFIG_HOTPLUG_PCI=n
CONFIG_HID_PETALYNX=n
CONFIG_IPV6_SIT=n
CONFIG_CPU_SUP_VORTEX_32=n
CONFIG_CRYPTO_LIB_ARC4=n
CONFIG_ARCH_USE_SYM_ANNOTATIONS=n
CONFIG_GENERIC_ALLOCATOR=n
CONFIG_ARCH_CLOCKSOURCE_INIT=n
CONFIG_JUMP_LABEL=n
CONFIG_EFI_CAPSULE_QUIRK_QUARK_CSH=n
CONFIG_ZSTD_COMMON=n
CONFIG_ACPI_PLATFORM_PROFILE=n
CONFIG_MODULES_USE_ELF_REL=n
CONFIG_NET_VENDOR_SYNOPSYS=n
CONFIG_BLK_RQ_ALLOC_TIME=n
CONFIG_MUTEX_SPIN_ON_OWNER=n
CONFIG_EFI_STUB=n
CONFIG_X86_REQUIRED_FEATURE_CMOV=n
CONFIG_NET_CORE=n
CONFIG_MOUSE_PS2_CYPRESS=n
CONFIG_AUTOFS_FS=n
CONFIG_NF_LOG_IPV6=n
CONFIG_DM_MIRROR=n
CONFIG_SERIO_LIBPS2=n
CONFIG_SERIAL_8250_DMA=n
CONFIG_LD_IS_BFD=n
CONFIG_SERIAL_8250=n
CONFIG_DRM_BRIDGE=n
CONFIG_CRYPTO_AEAD2=n
CONFIG_X86_VMX_FEATURE_NAMES=n
CONFIG_HAS_SECURITY_AUDIT=n
CONFIG_GENERIC_IRQ_ENTRY=n
CONFIG_NET_CLS=n
CONFIG_RD_LZMA=n
CONFIG_MEMBARRIER=n
CONFIG_USB_UHCI_HCD=n
CONFIG_FS_IOMAP=n
CONFIG_BLK_MQ_STACKING=n
CONFIG_X86_DISABLED_FEATURE_SYSCALL32=n
CONFIG_NET_VENDOR_LITEX=n
CONFIG_FLATMEM_MANUAL=n
CONFIG_ACPI_NHLT=n
CONFIG_INOTIFY_USER=n
CONFIG_MMU_GATHER_MERGE_VMAS=n
CONFIG_ARCH_USE_CMPXCHG_LOCKREF=n
CONFIG_X86_BUS_LOCK_DETECT=n
CONFIG_HAVE_PERF_EVENTS_NMI=n
CONFIG_SYMBOLIC_ERRNAME=n
CONFIG_XFRM_USER=n
CONFIG_MMU_LAZY_TLB_REFCOUNT=n
CONFIG_ARCH_WANT_IRQS_OFF_ACTIVATE_MM=n
CONFIG_HAVE_ARCH_MMAP_RND_BITS=n
CONFIG_NLS_ISO8859_1=n
CONFIG_FIRMWARE_TABLE=n
CONFIG_PROC_EVENTS=n
CONFIG_ARCH_SUPPORTS_KEXEC_PURGATORY=n
CONFIG_X86_ESPFIX32=n
CONFIG_PERF_EVENTS_AMD_UNCORE=n
CONFIG_DMA_SHARED_BUFFER=n
CONFIG_NET_EMATCH=n
CONFIG_FORCEDETH=n
CONFIG_NET_VENDOR_QLOGIC=n
CONFIG_GENERIC_CMOS_UPDATE=n
CONFIG_CLONE_BACKWARDS=n
CONFIG_NET_VENDOR_RDC=n
CONFIG_ARCH_HAS_SYNC_CORE_BEFORE_USERMODE=n
CONFIG_INPUT_MISC=n
CONFIG_ATA_FORCE=n
CONFIG_PATA_AMD=n
CONFIG_USB_STORAGE=n
CONFIG_NVMEM_SYSFS=n
CONFIG_SATA_HOST=n
CONFIG_SND_PROC_FS=n
CONFIG_SERIAL_8250_RSA=n
CONFIG_X86_INTEL_PSTATE=n
CONFIG_X86_ACPI_CPUFREQ=n
CONFIG_DEVPORT=n
CONFIG_NET_VENDOR_BROCADE=n
CONFIG_IO_DELAY_0X80=n
CONFIG_NET_VENDOR_WIZNET=n
CONFIG_PACKET=n
CONFIG_DEBUG_ENTRY=n
CONFIG_INPUT_JOYSTICK=n
CONFIG_PCMCIA_LOAD_CIS=n
CONFIG_NET_VENDOR_SIS=n
CONFIG_MEMFD_CREATE=n
CONFIG_NET_RX_BUSY_POLL=n
CONFIG_ZONE_DMA=n
CONFIG_NET_VENDOR_WANGXUN=n
CONFIG_GENERIC_CPU_AUTOPROBE=n
CONFIG_STACKTRACE_SUPPORT=n
CONFIG_X86_DISABLED_FEATURE_CALL_DEPTH=n
CONFIG_I2C=n
CONFIG_HAVE_KERNEL_LZ4=n
CONFIG_NET_VENDOR_SILAN=n
CONFIG_FW_CACHE=n
CONFIG_NETFILTER_EGRESS=n
CONFIG_PCI=n
CONFIG_CPU_IDLE_GOV_MENU=n
CONFIG_HAVE_IOREMAP_PROT=n
CONFIG_PERF_EVENTS_INTEL_CSTATE=n
CONFIG_X86_DISABLED_FEATURE_SEV_SNP=n
CONFIG_X86=n
CONFIG_GCC10_NO_ARRAY_BOUNDS=n
CONFIG_NFS_FS=n
CONFIG_CRYPTO_GENIV=n
CONFIG_HAVE_OPTPROBES=n
CONFIG_ARCH_HAS_PTDUMP=n
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_DIRECT_CALLS=n
CONFIG_GENERIC_IRQ_RESERVATION_MODE=n
CONFIG_SPARSE_IRQ=n
CONFIG_GENERIC_SYSCALL=n
CONFIG_PATA_TIMINGS=n
CONFIG_IOMMU_DMA=n
CONFIG_UNION_FIND=n
CONFIG_NFS_V4=n
CONFIG_CRYPTO_CTR=n
CONFIG_PROVIDE_OHCI1394_DMA_INIT=n
CONFIG_X86_MPPARSE=n
CONFIG_HAVE_UID16=n
CONFIG_USB_ARCH_HAS_HCD=n
CONFIG_SND_USB=n
CONFIG_FILE_LOCKING=n
CONFIG_DMA_ACPI=n
CONFIG_HAVE_KERNEL_LZMA=n
CONFIG_PCI_GOANY=n
CONFIG_HAVE_SOFTIRQ_ON_OWN_STACK=n
CONFIG_ARCH_WANTS_NO_INSTR=n
CONFIG_INTEL_TCC=n
CONFIG_CRYPTO_MANAGER2=n
CONFIG_USB_PRINTER=n
CONFIG_ARCH_SUPPORTS_DEBUG_PAGEALLOC=n
CONFIG_WLAN_VENDOR_MICROCHIP=n
CONFIG_SCHED_CACHE=n
CONFIG_IOMMU_SUPPORT=n
CONFIG_ACPI_THERMAL_LIB=n
CONFIG_HAVE_EFFICIENT_UNALIGNED_ACCESS=n
CONFIG_X86_MCE_THRESHOLD=n
CONFIG_NETFILTER_XT_MATCH_STATE=n
CONFIG_CFG80211=n
CONFIG_HAVE_KERNEL_BZIP2=n
CONFIG_X86_ACPI_CPUFREQ_CPB=n
CONFIG_WLAN_VENDOR_MARVELL=n
CONFIG_MICROCODE=n
CONFIG_HIBERNATE_CALLBACKS=n
CONFIG_X86_IO_APIC=n
CONFIG_NET_VENDOR_XILINX=n
CONFIG_RING_BUFFER=n
CONFIG_GRO_CELLS=n
CONFIG_DRM_DISPLAY_HDMI_HELPER=n
CONFIG_DEBUG_BUGVERBOSE=n
CONFIG_EPOLL=n
CONFIG_PNFS_BLOCK=n
CONFIG_ACPI_I2C_OPREGION=n
CONFIG_INIT_STACK_ALL_ZERO=n
CONFIG_ARCH_HAS_MEM_ENCRYPT=n
CONFIG_MAC80211_RC_DEFAULT_MINSTREL=n
CONFIG_STACKDEPOT=n
CONFIG_ARCH_HIBERNATION_POSSIBLE=n
CONFIG_HAVE_PV_STEAL_CLOCK_GEN=n
CONFIG_SUSPEND=n
CONFIG_INTERVAL_TREE=n
CONFIG_RCU_NEED_SEGCBLIST=n
CONFIG_ARCH_HAS_ACPI_TABLE_UPGRADE=n
CONFIG_WERROR=n
CONFIG_XFRM_ALGO=n
CONFIG_CPU_SUP_INTEL=n
CONFIG_NLS=n
CONFIG_ARCH_HAS_CPU_ATTACK_VECTORS=n
CONFIG_GENERIC_CLOCKEVENTS=n
CONFIG_QFMT_V2=n
CONFIG_NET_VENDOR_ALACRITECH=n
CONFIG_AF_UNIX_OOB=n
CONFIG_CACHESTAT_SYSCALL=n
CONFIG_STACKPROTECTOR=n
CONFIG_NETFILTER_XT_TARGET_NFLOG=n
CONFIG_INPUT_SPARSEKMAP=n
CONFIG_X86_TSC=n
CONFIG_ARCH_HAS_PARANOID_L1D_FLUSH=n
CONFIG_NET_VENDOR_FUNGIBLE=n
CONFIG_LOCK_DEBUGGING_SUPPORT=n
CONFIG_WLAN_VENDOR_QUANTENNA=n
CONFIG_PM_DEBUG=n
CONFIG_BNX2=n
CONFIG_BLOCK=n
CONFIG_KEYBOARD_ATKBD=n
CONFIG_WLAN=n
CONFIG_HAVE_PERF_EVENTS=n
CONFIG_PERF_EVENTS_INTEL_RAPL=n
CONFIG_NET_DEVMEM=n
CONFIG_HAS_IOMEM=n
CONFIG_NF_CONNTRACK_FTP=n
CONFIG_NET_FAILOVER=n
CONFIG_AUDIT=n
CONFIG_EFI_ESRT=n
CONFIG_ARCH_USE_BUILTIN_BSWAP=n
CONFIG_IO_URING_ZCRX=n
CONFIG_WLAN_VENDOR_ST=n
CONFIG_WLAN_VENDOR_ATH=n
CONFIG_AGP=n
CONFIG_ARCH_HAS_CACHE_LINE_SIZE=n
CONFIG_PAGE_MAPCOUNT=n
CONFIG_TICK_CPU_ACCOUNTING=n
CONFIG_ARCH_SUPPORTS_RT=n
CONFIG_KVFREE_RCU_BATCHED=n
CONFIG_YENTA_TI=n
CONFIG_HAVE_ALIGNED_STRUCT_PAGE=n
CONFIG_GENERIC_VDSO_OVERFLOW_PROTECT=n
CONFIG_CRYPTO=n
CONFIG_USB_HIDDEV=n
CONFIG_USB_EHCI_TT_NEWSCHED=n
CONFIG_AMD_NODE=n
CONFIG_SYSTEM_TRUSTED_KEYRING=n
CONFIG_EFI_PARTITION=n
CONFIG_INPUT_FF_MEMLESS=n
CONFIG_DRM_I915_COMPRESS_ERROR=n
CONFIG_PROBE_EVENTS=n
CONFIG_KVM_GUEST=n
