CONFIG_SCSI_SCAN_ASYNC=y
CONFIG_LEGACY_DIRECT_IO=y
CONFIG_CHARGER_BQ256XX=y
CONFIG_CHARGER_MAX77976=y
CONFIG_GENERIC_STRNCPY_FROM_USER=y
CONFIG_REGULATOR_SKY81452=y
CONFIG_MFD_ATC260X=y
CONFIG_VCNL3020=y
CONFIG_NET_NSH=y
CONFIG_IOMMU_DMA=y
CONFIG_CLOCKSOURCE_WATCHDOG=y
CONFIG_IOMMU_API=y
CONFIG_MS5637=y
CONFIG_PERF_GUEST_MEDIATED_PMU=y
CONFIG_HAVE_C_RECORDMCOUNT=y
CONFIG_ZLIB_INFLATE=y
CONFIG_REGULATOR_PF530X=y
CONFIG_ZIIRAVE_WATCHDOG=y
CONFIG_SERIAL_EARLYCON=y
CONFIG_MAX31827=y
CONFIG_LEDS_SYSCON=y
CONFIG_PINCTRL_ELKHARTLAKE=y
CONFIG_BLK_DEV_DM_BUILTIN=y
CONFIG_HAVE_REGS_AND_STACK_ACCESS_API=y
CONFIG_ARCH_HAS_MEM_ENCRYPT=y
CONFIG_GPIO_DA9052=y
CONFIG_NLS_MAC_CENTEURO=y
CONFIG_X86_DISABLED_FEATURE_RETPOLINE=y
CONFIG_XFS_DRAIN_INTENTS=y
CONFIG_BACKLIGHT_LM3630A=y
CONFIG_SCSI=y
CONFIG_SENSORS_STTS751=y
CONFIG_REGULATOR_S2DOS05=y
CONFIG_BLK_DEV_MD=y
CONFIG_ARCH_MIGHT_HAVE_ACPI_PDC=y
CONFIG_DEBUG_VM_PGTABLE=y
CONFIG_FSI_OCC=y
CONFIG_ACPI_CONTAINER=y
CONFIG_BACKLIGHT_QCOM_WLED=y
CONFIG_NLS_ISO8859_5=y
CONFIG_GENERIC_SYSCALL=y
CONFIG_ELFCORE=y
CONFIG_SENSORS_LIS3_I2C=y
CONFIG_NLS_MAC_GREEK=y
CONFIG_SAMPLE_PIDFD=y
CONFIG_BATTERY_CW2015=y
CONFIG_ENVELOPE_DETECTOR=y
CONFIG_MTD_NAND_CS553X=y
CONFIG_ARCH_USES_PG_ARCH_2=y
CONFIG_GCC_NO_STRINGOP_OVERFLOW=y
CONFIG_REGULATOR=y
CONFIG_CONTIG_ALLOC=y
CONFIG_CPUFREQ_DT=y
CONFIG_MAX22007=y
CONFIG_ADIS16460=y
CONFIG_XZ_DEC_RISCV=y
CONFIG_TCG_VTPM_PROXY=y
CONFIG_LEDS_IS31FL32XX=y
CONFIG_BACKLIGHT_CGBC=y
CONFIG_VFAT_FS=y
CONFIG_GENERIC_PHY=y
CONFIG_REGULATOR_MAX77802=y
CONFIG_W1_SLAVE_DS2431=y
CONFIG_ATA_FORCE=y
CONFIG_FHANDLE=y
CONFIG_HAVE_UNSTABLE_SCHED_CLOCK=y
CONFIG_DECOMPRESS_ZSTD=y
CONFIG_MFD_MC13XXX_I2C=y
CONFIG_CRYPTO_LIB_POLY1305_GENERIC=y
CONFIG_ARCH_HAS_CPU_CACHE_INVALIDATE_MEMREGION=y
CONFIG_DMABUF_HEAPS=y
CONFIG_NLS_CODEPAGE_1251=y
CONFIG_HAVE_ARCH_KSTACK_ERASE=y
CONFIG_MFD_TPS6594_I2C=y
CONFIG_NLS_CODEPAGE_932=y
CONFIG_DEBUG_MEMORY_INIT=y
CONFIG_PSTORE_BLK=y
CONFIG_FAIR_GROUP_SCHED=y
CONFIG_NETFS_SUPPORT=y
CONFIG_LV0104CS=y
CONFIG_IIO_SW_TRIGGER=y
CONFIG_MFD_ADP5585=y
CONFIG_PM_OPP=y
CONFIG_MQ_IOSCHED_KYBER=y
CONFIG_W83627HF_WDT=y
CONFIG_AD7625=y
CONFIG_X86_DISABLED_FEATURE_XENPV=y
CONFIG_CHARGER_RT9455=y
CONFIG_FSI_NEW_DEV_NODE=y
CONFIG_CRC4=y
CONFIG_CRYPTO_SHA1=y
CONFIG_BATTERY_BQ27XXX_I2C=y
CONFIG_LZO_DECOMPRESS=y
CONFIG_HAVE_KVM_PM_NOTIFIER=y
CONFIG_ISL76682=y
CONFIG_ARCH_HAVE_EXTRA_ELF_NOTES=y
CONFIG_BPF_JIT=y
CONFIG_RMI4_F34=y
CONFIG_KEYBOARD_ADC=y
CONFIG_NFC_ST_NCI=y
CONFIG_IIO_KX022A_SPI=y
CONFIG_MUX_ADGS1408=y
CONFIG_VEML6030=y
CONFIG_ADVANTECH_WDT=y
CONFIG_SECURITY_LOADPIN=y
CONFIG_SENSORS_ADM1177=y
CONFIG_DECOMPRESS_BZIP2=y
CONFIG_SENSORS_LATTEPANDA_SIGMA_EC=y
CONFIG_FTL=y
CONFIG_SURFACE_AGGREGATOR_TABLET_SWITCH=y
CONFIG_NEED_SG_DMA_LENGTH=y
CONFIG_PINCTRL_GENERIC_MUX=y
CONFIG_SENSORS_LTC2947_I2C=y
CONFIG_NLS_ISO8859_7=y
CONFIG_I2C_CBUS_GPIO=y
CONFIG_SENSORS_AXI_FAN_CONTROL=y
CONFIG_PREEMPTIRQ_TRACEPOINTS=y
CONFIG_HAVE_KVM_CPU_RELAX_INTERCEPT=y
CONFIG_TRACING=y
CONFIG_GPIO_MB86S7X=y
CONFIG_FSI_MASTER_ASPEED=y
CONFIG_CHARGER_MT6370=y
CONFIG_SURFACE_AGGREGATOR=y
CONFIG_BATTERY_BQ27XXX_DT_UPDATES_NVM=y
CONFIG_CGROUP_CPUACCT=y
CONFIG_LEDS_DA903X=y
CONFIG_ACPI_SYSTEM_POWER_STATES_SUPPORT=y
CONFIG_PARPORT=y
CONFIG_IIO_MS_SENSORS_I2C=y
CONFIG_KEYBOARD_OMAP4=y
CONFIG_BMC150_ACCEL_I2C=y
CONFIG_AUXDISPLAY=y
CONFIG_THERMAL_NETLINK=y
CONFIG_BTRFS_DEBUG=y
CONFIG_SENSORS_LTC4245=y
CONFIG_HAS_IOMEM=y
CONFIG_TOSHIBA=y
CONFIG_SPI_MXIC=y
CONFIG_IIO_ST_SENSORS_I2C=y
CONFIG_MD_LINEAR=y
CONFIG_ARCH_SUPPORTS_RT=y
CONFIG_LEDS_QNAP_MCU=y
CONFIG_BMI323_SPI=y
CONFIG_TCG_TIS_I2C_CR50=y
CONFIG_MMU_GATHER_MERGE_VMAS=y
CONFIG_LEDS_TRIGGER_MTD=y
CONFIG_X86_UMIP=y
CONFIG_EDAC_ATOMIC_SCRUB=y
CONFIG_W1_SLAVE_DS28E04=y
CONFIG_BLK_DEV_BSGLIB=y
CONFIG_ASYMMETRIC_KEY_TYPE=y
CONFIG_CGROUP_PERF=y
CONFIG_88PM886_GPADC=y
CONFIG_W1_SLAVE_THERM=y
CONFIG_VIRTIO_VSOCKETS_COMMON=y
CONFIG_MCP41010=y
CONFIG_XZ_DEC=y
CONFIG_REBOOT_MODE=y
CONFIG_LEGACY_TIOCSTI=y
CONFIG_XFS_BTREE_IN_MEM=y
CONFIG_AD5766=y
CONFIG_SENSORS_OCC=y
CONFIG_CPU_FREQ_GOV_CONSERVATIVE=y
CONFIG_ACPI_FAN=y
CONFIG_GPIO_CROS_EC=y
CONFIG_TCS3472=y
CONFIG_RMI4_F3A=y
CONFIG_GPIO_LOGICVC=y
CONFIG_SENSORS_MCP9982=y
CONFIG_RD_BZIP2=y
CONFIG_SM_FTL=y
CONFIG_JOYSTICK_WARRIOR=y
CONFIG_CONTEXT_SWITCH_TRACER=y
CONFIG_CPU_THERMAL=y
CONFIG_MEMSTICK=y
CONFIG_SPS30_I2C=y
CONFIG_BATTERY_MAX17040=y
CONFIG_PKCS7_MESSAGE_PARSER=y
CONFIG_AD4134=y
CONFIG_THERMAL_MMIO=y
CONFIG_POSIX_MQUEUE=y
CONFIG_ACPI_PROCESSOR=y
CONFIG_SENSORS_ISL28022=y
CONFIG_BLK_CGROUP_PUNT_BIO=y
CONFIG_GENERIC_IRQ_ENTRY=y
CONFIG_MPRLS0025PA_SPI=y
CONFIG_DA9055_WATCHDOG=y
CONFIG_IIO_ST_GYRO_3AXIS=y
CONFIG_PINCTRL_CY8C95X0=y
CONFIG_X86_USE_PPRO_CHECKSUM=y
CONFIG_IT8712F_WDT=y
CONFIG_GREYBUS_BEAGLEPLAY=y
CONFIG_NTSYNC=y
CONFIG_QCOM_SPMI_ADC5=y
CONFIG_CRYPTO_SERPENT=y
CONFIG_OF_PROMTREE=y
CONFIG_BUFFER_HEAD=y
CONFIG_SYSTEM_BLACKLIST_KEYRING=y
CONFIG_HEADERS_INSTALL=y
CONFIG_SENSORS_G760A=y
CONFIG_ACPI_WMI_LEGACY_DEVICE_NAMES=y
CONFIG_MFD_TPS65086=y
CONFIG_UNIX98_PTYS=y
CONFIG_AD7173=y
CONFIG_IIO_CONFIGFS=y
CONFIG_AD7380=y
CONFIG_PAC1934=y
CONFIG_ZSTD_COMMON=y
CONFIG_PROC_CHILDREN=y
CONFIG_MODULES_USE_ELF_REL=y
CONFIG_ATA_ACPI=y
CONFIG_LOCK_MM_AND_FIND_VMA=y
CONFIG_NET=y
CONFIG_ADXL345_I2C=y
CONFIG_LEDS_MC13783=y
CONFIG_SENSORS_W83L786NG=y
CONFIG_RC_MAP=y
CONFIG_NFC_PN533_I2C=y
CONFIG_GENERIC_CALIBRATE_DELAY=y
CONFIG_LEDS_BD2606MVV=y
CONFIG_PROC_MEM_ALWAYS_FORCE=y
CONFIG_FS_POSIX_ACL=y
CONFIG_I2C_TAOS_EVM=y
CONFIG_GPIO_XRA1403=y
CONFIG_SENSORS_AHT10=y
CONFIG_SYSFB_SIMPLEFB=y
CONFIG_IO_URING_BPF=y
CONFIG_REGULATOR_MAX20411=y
CONFIG_WANT_DEV_COREDUMP=y
CONFIG_PM_SLEEP=y
CONFIG_ACPI_LEGACY_TABLES_LOOKUP=y
CONFIG_XZ_DEC_ARMTHUMB=y
CONFIG_ASN1=y
CONFIG_MTD_BLOCK=y
CONFIG_KPROBES=y
CONFIG_WDT=y
CONFIG_SERIAL_LITEUART=y
CONFIG_KEYBOARD_OPENCORES=y
CONFIG_GENERIC_ADC_BATTERY=y
CONFIG_HAVE_PCI=y
CONFIG_REGULATOR_TPS65086=y
CONFIG_PARAVIRT_TIME_ACCOUNTING=y
CONFIG_CGROUP_MISC=y
CONFIG_SEN0322=y
CONFIG_HAVE_PREEMPT_DYNAMIC=y
CONFIG_OMFS_FS=y
CONFIG_ARCH_WANT_IRQS_OFF_ACTIVATE_MM=y
CONFIG_BATMAN_ADV=y
CONFIG_GPIO_74XX_MMIO=y
CONFIG_DS1803=y
CONFIG_REGULATOR_MAX8893=y
CONFIG_ACPI_SBS=y
CONFIG_EVENTFD=y
CONFIG_PINCTRL_MCP23S08=y
CONFIG_SENSORS_INA238=y
CONFIG_HAS_IOPORT_MAP=y
CONFIG_PM_QOS_CPU_SYSTEM_WAKEUP=y
CONFIG_MPU3050=y
CONFIG_BATTERY_MAX17042=y
CONFIG_AD5755=y
CONFIG_KEYS=y
CONFIG_LEDS_LP50XX=y
CONFIG_GPIO_LATCH=y
CONFIG_CHARLCD_BL_ON=y
CONFIG_MCP4821=y
CONFIG_NFC_MICROREAD_I2C=y
CONFIG_MEM_ALLOC_PROFILING=y
CONFIG_AF8133J=y
CONFIG_SENSORS_EMC1812=y
CONFIG_MFD_88PM800=y
CONFIG_IA32_FEAT_CTL=y
CONFIG_AD5764=y
CONFIG_SENSORS_MAX127=y
CONFIG_CLK_TWL=y
CONFIG_REGULATOR_BD957XMUF=y
CONFIG_VCNL4035=y
CONFIG_INTERVAL_TREE=y
CONFIG_RPR0521=y
CONFIG_TWL6030_GPADC=y
CONFIG_BATTERY_GAUGE_LTC2941=y
CONFIG_ABP2030PA_I2C=y
CONFIG_NVME_VERBOSE_ERRORS=y
CONFIG_HAVE_ALIGNED_STRUCT_PAGE=y
CONFIG_SENSORS_ADM1031=y
CONFIG_COMMON_CLK_CS2000_CP=y
CONFIG_SENSORS_MAX1111=y
CONFIG_AD799X=y
CONFIG_CRAMFS_BLOCKDEV=y
CONFIG_REED_SOLOMON_DEC8=y
CONFIG_PHY_INTEL_LGM_EMMC=y
CONFIG_X86_PM_TIMER=y
CONFIG_REGULATOR_FP9931=y
CONFIG_BLK_MQ_STACKING=y
CONFIG_IIO_SSP_SENSORHUB=y
CONFIG_GPIO_PISOSR=y
CONFIG_AD5272=y
CONFIG_I2C_SCMI=y
CONFIG_IOMMUFD=y
CONFIG_REGULATOR_TPS65132=y
CONFIG_NVME_TARGET_FC=y
CONFIG_TASKS_RUDE_RCU=y
CONFIG_MTD_ONENAND=y
CONFIG_ARCH_SUPPORTS_KEXEC_SIG=y
CONFIG_REGULATOR_RT8092=y
CONFIG_SATA_PMP=y
CONFIG_ARCH_32BIT_OFF_T=y
CONFIG_FUNCTION_TRACER=y
CONFIG_CHARGER_LT3651=y
CONFIG_X86_REROUTE_FOR_BROKEN_BOOT_IRQS=y
CONFIG_BMI270=y
CONFIG_TPS6594_PFSM=y
CONFIG_BACKLIGHT_WM831X=y
CONFIG_EROFS_FS_POSIX_ACL=y
CONFIG_I2C_SMBUS=y
CONFIG_FS_IOMAP=y
CONFIG_SCSI_MOD=y
CONFIG_IPC_NS=y
CONFIG_COMMON_CLK_AXI_CLKGEN=y
CONFIG_LEDS_MAX77705=y
CONFIG_REGULATOR_LP87565=y
CONFIG_GPIOLIB=y
CONFIG_SENSORS_DME1737=y
CONFIG_VMCORE_INFO=y
CONFIG_KVM_MMIO=y
CONFIG_REGULATOR_TPS65218=y
CONFIG_RAVE_SP_WATCHDOG=y
CONFIG_VIRTIO_IOMMU=y
CONFIG_ENERGY_MODEL=y
CONFIG_DEV_DAX=y
CONFIG_SENSORS_W83627HF=y
CONFIG_JFFS2_FS=y
CONFIG_PPDEV=y
CONFIG_BLK_ICQ=y
CONFIG_HAVE_FUNCTION_GRAPH_FREGS=y
CONFIG_REGULATOR_MT6316=y
CONFIG_HAVE_PV_STEAL_CLOCK_GEN=y
CONFIG_BLK_DEV_INTEGRITY=y
CONFIG_MAX11410=y
CONFIG_RAID6_PQ_ARCH=y
CONFIG_PARTITION_ADVANCED=y
CONFIG_PACKET=y
CONFIG_KEYBOARD_BCM=y
CONFIG_JOYSTICK_ADC=y
CONFIG_SENSORS_ADT7410=y
CONFIG_SENSORS_LTC4215=y
CONFIG_BLOCK_LEGACY_AUTOLOAD=y
CONFIG_SI7020=y
CONFIG_LEDS_CLASS_MULTICOLOR=y
CONFIG_MMA7455=y
CONFIG_RMI4_SMB=y
CONFIG_ARCH_SUPPORTS_HUGETLBFS=y
CONFIG_MOUSE_GPIO=y
CONFIG_ARCH_SUPPORTS_KMAP_LOCAL_FORCE_MAP=y
CONFIG_OF_KOBJ=y
CONFIG_NO_PAGE_MAPCOUNT=y
CONFIG_MFD_CS40L50_SPI=y
CONFIG_842_DECOMPRESS=y
CONFIG_REGULATOR_FAN53555=y
CONFIG_CRYPTO_CMAC=y
CONFIG_AFE4404=y
CONFIG_CRYPTO_USER_API_ENABLE_OBSOLETE=y
CONFIG_CODE_TAGGING=y
CONFIG_LEDS_LM3533=y
CONFIG_XZ_DEC_ARM64=y
CONFIG_SCSI_LOWLEVEL=y
CONFIG_DEVPORT=y
CONFIG_ARCH_HAS_PTE_SPECIAL=y
CONFIG_BACKLIGHT_MP3309C=y
CONFIG_ARCH_HAS_NMI_SAFE_THIS_CPU_OPS=y
CONFIG_X86_DISABLED_FEATURE_RETHUNK=y
CONFIG_PM_SLEEP_DEBUG=y
CONFIG_SENSORS_BH1770=y
CONFIG_QCOM_SPMI_ADC5_GEN3=y
CONFIG_SENSORS_AMC6821=y
CONFIG_GUEST_PERF_EVENTS=y
CONFIG_MENF21BMC_WATCHDOG=y
CONFIG_OF_FLATTREE=y
CONFIG_MTD_MAP_BANK_WIDTH_2=y
CONFIG_BLK_DEV_BSG_COMMON=y
CONFIG_9P_FS_SECURITY=y
CONFIG_CROS_EC_MKBP_PROXIMITY=y
CONFIG_TI_ADC12138=y
CONFIG_F2FS_FS_COMPRESSION=y
CONFIG_HW_RANDOM=y
CONFIG_HAVE_CLK_PREPARE=y
CONFIG_IIO_ST_SENSORS_SPI=y
CONFIG_HAVE_ARCH_THREAD_STRUCT_WHITELIST=y
CONFIG_HAVE_KVM_DIRTY_RING=y
CONFIG_SPI_OFFLOAD=y
CONFIG_GPIO_LP873X=y
CONFIG_CLKEVT_I8253=y
CONFIG_PM_TRACE=y
CONFIG_SPARSEMEM=y
CONFIG_SENSORS_MAX6620=y
CONFIG_VIRTIO_CONSOLE=y
CONFIG_LEDS_TRIGGER_GPIO=y
CONFIG_MTD_GEN_PROBE=y
CONFIG_AD7280=y
CONFIG_CPU_IDLE_THERMAL=y
CONFIG_BACKLIGHT_LM3509=y
CONFIG_CRYPTO_SEQIV=y
CONFIG_RT_MUTEXES=y
CONFIG_BCACHE_ASYNC_REGISTRATION=y
CONFIG_CHARGER_RT9467=y
CONFIG_SX9360=y
CONFIG_CROS_USBPD_NOTIFY=y
CONFIG_MFD_LM3533=y
CONFIG_BMI270_I2C=y
CONFIG_ARCH_USE_QUEUED_RWLOCKS=y
CONFIG_COMMON_CLK_CDCE925=y
CONFIG_REGULATOR_TPS65910=y
CONFIG_JOYSTICK_GUILLEMOT=y
CONFIG_GPIO_TPS65218=y
CONFIG_NFC_NCI_UART=y
CONFIG_GPIO_TPS65086=y
CONFIG_MEDIA_CEC_RC=y
CONFIG_LEDS_LM36274=y
CONFIG_FILE_LOCKING=y
CONFIG_PINCTRL_EMMITSBURG=y
CONFIG_MAC_PARTITION=y
CONFIG_OF_IRQ=y
CONFIG_SENSORS_LM80=y
CONFIG_FREEZER=y
CONFIG_AD7923=y
CONFIG_MFD_TPS6586X=y
CONFIG_AD3552R=y
CONFIG_HAVE_ARCH_TRACEHOOK=y
CONFIG_ARCH_SPARSEMEM_ENABLE=y
CONFIG_MPL115_I2C=y
CONFIG_XILINX_VCU=y
CONFIG_LEDS_SPI_BYTE=y
CONFIG_MFD_INTEL_M10_BMC_SPI=y
CONFIG_CRYPTO_DEV_PADLOCK=y
CONFIG_PINCTRL_TPS6594=y
CONFIG_FIRMWARE_TABLE=y
CONFIG_SENSORS_NCT6775_CORE=y
CONFIG_MFD_TI_LP873X=y
CONFIG_PPS_CLIENT_KTIMER=y
CONFIG_LEDS_APU=y
CONFIG_FSNOTIFY=y
CONFIG_X86_DISABLED_FEATURE_SEV_SNP=y
CONFIG_ARCH_FLATMEM_ENABLE=y
CONFIG_MFD_BD9571MWV=y
CONFIG_CHARLCD=y
CONFIG_DNS_RESOLVER=y
CONFIG_ADXRS290=y
CONFIG_ARCH_HAS_PTDUMP=y
CONFIG_MEMSTICK_UNSAFE_RESUME=y
CONFIG_XZ_DEC_BCJ=y
CONFIG_OF=y
CONFIG_MD=y
CONFIG_SCSI_SAS_ATTRS=y
CONFIG_TREE_SRCU=y
CONFIG_GLOB=y
CONFIG_BUILDTIME_TABLE_SORT=y
CONFIG_MTD_CFI_STAA=y
CONFIG_UBIFS_FS_ZSTD=y
CONFIG_PROC_EVENTS=y
CONFIG_RMI4_F03_SERIO=y
CONFIG_ASYNC_XOR=y
CONFIG_VT=y
CONFIG_SAMPLES=y
CONFIG_BMA220=y
CONFIG_NLS_CODEPAGE_860=y
CONFIG_VHOST_MENU=y
CONFIG_IIO_INV_SENSORS_TIMESTAMP=y
CONFIG_DUMMY_IRQ=y
CONFIG_LEDS_BLINKM=y
CONFIG_BCACHE_DEBUG=y
CONFIG_USB_OHCI_LITTLE_ENDIAN=y
CONFIG_CPU_IDLE_GOV_MENU=y
CONFIG_SERIO_RAW=y
CONFIG_HAVE_STACKPROTECTOR=y
CONFIG_SENSORS_MC33XS2410=y
CONFIG_VEML6070=y
CONFIG_KARMA_PARTITION=y
CONFIG_REGULATOR_PF9453=y
CONFIG_TWL4030_CORE=y
CONFIG_MTD_CFI=y
CONFIG_IO_DELAY_NONE=y
CONFIG_KEYBOARD_CYPRESS_SF=y
CONFIG_MTD_QINFO_PROBE=y
CONFIG_JFFS2_RTIME=y
CONFIG_HAVE_TRUSTED_KEYS=y
CONFIG_KEYBOARD_CROS_EC=y
CONFIG_CRYPTO_DES=y
CONFIG_MFD_MAX77705=y
CONFIG_FRAME_POINTER=y
CONFIG_VT_CONSOLE=y
CONFIG_INV_MPU6050_I2C=y
CONFIG_PNP_DEBUG_MESSAGES=y
CONFIG_INPUT=y
CONFIG_VHOST_NET=y
CONFIG_ADF4350=y
CONFIG_CGBC_WDT=y
CONFIG_SPMI=y
CONFIG_BUG=y
CONFIG_PANEL=y
CONFIG_JOYSTICK_AS5011=y
CONFIG_REGULATOR_SLG51000=y
