CONFIG_COMMON_CLK_MT8186_MFGCFG=n
CONFIG_BINARY_PRINTF=n
CONFIG_GPIO_XGENE_SB=n
CONFIG_ARM_AIROHA_SOC_CPUFREQ=n
CONFIG_FB_DEVICE=n
CONFIG_CROSS_MEMORY_ATTACH=n
CONFIG_BLK_CGROUP_PUNT_BIO=n
CONFIG_MESON_SARADC=n
CONFIG_MEDIA_TUNER_TDA18271=n
CONFIG_CRYPTO_ALGAPI2=n
CONFIG_INPUT_SPARSEKMAP=n
CONFIG_RESET_RZV2H_USB2PHY=n
CONFIG_COMMON_CLK_MT8365_MMSYS=n
CONFIG_ARCH_R8A779G0=n
CONFIG_CC_HAS_INT128=n
CONFIG_SND_SOC_TEGRA210_I2S=n
CONFIG_DWMAC_IMX8=n
CONFIG_ARM_SCMI_QUIRKS=n
CONFIG_PTP_1588_CLOCK_VMCLOCK=n
CONFIG_HIGH_RES_TIMERS=n
CONFIG_PCIE_ROCKCHIP_HOST=n
CONFIG_SYSC_R8A774B1=n
CONFIG_FIX_EARLYCON_MEM=n
CONFIG_REGULATOR_MAX8973=n
CONFIG_ENERGY_MODEL=n
CONFIG_WLAN_VENDOR_MEDIATEK=n
CONFIG_SYSC_R8A77995=n
CONFIG_SDM_LPASSCC_845=n
CONFIG_RAS=n
CONFIG_IPQ_APSS_6018=n
CONFIG_RTC_DRV_S32G=n
CONFIG_CPU_FREQ_GOV_CONSERVATIVE=n
CONFIG_DRM_PARADE_PS8640=n
CONFIG_NET_VENDOR_RENESAS=n
CONFIG_CRYPTO_ENGINE=n
CONFIG_SDM_GPUCC_845=n
CONFIG_USB_CONFIGFS_SERIAL=n
CONFIG_I2C_MV64XXX=n
CONFIG_USB_MTU3_DUAL_ROLE=n
CONFIG_MMC_SDHI=n
CONFIG_ACPI=n
CONFIG_IR_MESON=n
CONFIG_PINCTRL_MT8195=n
CONFIG_PINCTRL_IMX8MP=n
CONFIG_ARCH_USE_QUEUED_SPINLOCKS=n
CONFIG_STM32_OMM=n
CONFIG_SPI_BCM2835AUX=n
CONFIG_UNIPHIER_SYSTEM_BUS=n
CONFIG_TASK_IO_ACCOUNTING=n
CONFIG_VHOST_MENU=n
CONFIG_ATH10K=n
CONFIG_GENERIC_HWEIGHT=n
CONFIG_MAILBOX=n
CONFIG_MWIFIEX_SDIO=n
CONFIG_MFD_MAX77759=n
CONFIG_VEXPRESS_CONFIG=n
CONFIG_SERIAL_SH_SCI_EARLYCON=n
CONFIG_PINCTRL_SOPHGO_CV18XX_OPS=n
CONFIG_FB_SYS_FILLRECT=n
CONFIG_PINCTRL_MTK_V2=n
CONFIG_CRYPTO_DEV_CCREE=n
CONFIG_CC_HAS_BRANCH_PROT_PAC_RET=n
CONFIG_PHY_BRCM_SATA=n
CONFIG_ACPI_APEI_PCIEAER=n
CONFIG_TYPEC_TCPM=n
CONFIG_SYSTEMPORT=n
CONFIG_I2C_S3C2410=n
CONFIG_COMMON_CLK_MT8516=n
CONFIG_MARVELL_PHY=n
CONFIG_SCSI_UFS_RENESAS=n
CONFIG_DWMAC_MESON=n
CONFIG_HOTPLUG_CORE_SYNC=n
CONFIG_CLK_SOPHGO_CV1800=n
CONFIG_SND_SOC_ES8326=n
CONFIG_PM_SLEEP_SMP=n
CONFIG_CC_HAS_WORKING_NOSANITIZE_ADDRESS=n
CONFIG_CRYPTO_LIB_SHA3_ARCH=n
CONFIG_NXP_ENETC4=n
CONFIG_IMX_MU_MSI=n
CONFIG_CRYPTO_DEV_QCE=n
CONFIG_ARCH_HAS_LAZY_MMU_MODE=n
CONFIG_SM_VIDEOCC_6350=n
CONFIG_PCIE_ALTERA=n
CONFIG_SND_SOC_BT_SCO=n
CONFIG_CRYPTO_DEV_ALLWINNER=n
CONFIG_ARMADA_AP_CP_HELPER=n
CONFIG_SCHED_INFO=n
CONFIG_FUTEX_MPOL=n
CONFIG_HAVE_ARCH_KFENCE=n
CONFIG_BTRFS_FS=n
CONFIG_RD_LZO=n
CONFIG_SND_DMAENGINE_PCM=n
CONFIG_THERMAL_EMULATION=n
CONFIG_XILINX_PR_DECOUPLER=n
CONFIG_BCM4908_ENET=n
CONFIG_RPMSG=n
CONFIG_IIO_KFIFO_BUF=n
CONFIG_CROS_EC_SPI=n
CONFIG_DRM_MIPI_DSI=n
CONFIG_SPI_ROCKCHIP_SFC=n
CONFIG_ALLOW_DEV_COREDUMP=n
CONFIG_USB_NET_CDC_SUBSET_ENABLE=n
CONFIG_VITESSE_PHY=n
CONFIG_TRANSPARENT_HUGEPAGE_ALWAYS=n
CONFIG_BACKLIGHT_PWM=n
CONFIG_SPI_TEGRA114=n
CONFIG_REGULATOR_QCOM_SPMI=n
CONFIG_USB_CDNS3=n
CONFIG_CRYPTO_ZSTD=n
CONFIG_SND_SOC_TEGRA=n
CONFIG_USB_OHCI_HCD_PLATFORM=n
CONFIG_PWM_IMX27=n
CONFIG_QCOM_LLCC=n
CONFIG_ARCH_TEGRA_238_SOC=n
CONFIG_STM32MP_EXTI=n
CONFIG_SND_SUN4I_SPDIF=n
CONFIG_MMC_DW_PLTFM=n
CONFIG_MTK_CPUX_TIMER=n
CONFIG_DNOTIFY=n
CONFIG_RPMSG_QCOM_SMD=n
CONFIG_PINCTRL_IPROC_GPIO=n
CONFIG_FSL_ENETC_PTP_CLOCK=n
CONFIG_IIO_ST_MAGN_3AXIS=n
CONFIG_RAID_ATTRS=n
CONFIG_LOGO=n
CONFIG_EFI_CUSTOM_SSDT_OVERLAYS=n
CONFIG_PINCONF=n
CONFIG_HOTPLUG_CPU=n
CONFIG_SND_SOC_PCM3168A_I2C=n
CONFIG_DRM_EXYNOS_HDMI=n
CONFIG_HW_RANDOM_HISI_TRNG=n
CONFIG_ACPI_HOTPLUG_CPU=n
CONFIG_REGULATOR_QCOM_SMD_RPM=n
CONFIG_SND_SOC_QDSP6_APM_LPASS_DAI=n
CONFIG_DMA_DECLARE_COHERENT=n
CONFIG_PHY_BRCM_USB=n
CONFIG_TI_DAVINCI_MDIO=n
CONFIG_EFI_RUNTIME_WRAPPERS=n
CONFIG_SPI_BCM_QSPI=n
CONFIG_SND_SOC_ROCKCHIP_RT5645=n
CONFIG_COMMON_CLK_MT8365_VDEC=n
CONFIG_MESON_WATCHDOG=n
CONFIG_PHY_TI_GMII_SEL=n
CONFIG_HW_RANDOM_MTK=n
CONFIG_PM_OPP=n
CONFIG_ARCH_HISI=n
CONFIG_DRM_RZG2L_MIPI_DSI=n
CONFIG_PCI_PWRCTRL_GENERIC=n
CONFIG_CORESIGHT_CPU_DEBUG=n
CONFIG_NVME_APPLE=n
CONFIG_HAVE_CMPXCHG_LOCAL=n
CONFIG_CLK_RENESAS_CPG_MSSR=n
CONFIG_EDAC=n
CONFIG_CLK_RK3588=n
CONFIG_GENERIC_PINMUX_FUNCTIONS=n
CONFIG_PHY_RZ_G3E_USB3=n
CONFIG_NETFILTER_XT_MATCH_IPVS=n
CONFIG_ARCH_TESLA_FSD=n
CONFIG_PINCTRL_ARMADA_CP110=n
CONFIG_PINCTRL_QCM2290=n
CONFIG_USB_STORAGE=n
CONFIG_ADVISE_SYSCALLS=n
CONFIG_CLK_R8A779A0=n
CONFIG_MMC_SDHCI_XENON=n
CONFIG_SPI_XILINX=n
CONFIG_DRM_SAMSUNG_DSIM=n
CONFIG_USB_ISP1760_HCD=n
CONFIG_PAGE_POOL_STATS=n
CONFIG_USB_ISP1760_DUAL_ROLE=n
CONFIG_ROCKCHIP_IOMMU=n
CONFIG_SND_SOC_RK3399_GRU_SOUND=n
CONFIG_SCSI_UFS_BSG=n
CONFIG_ARCH_R9A09G011=n
CONFIG_RPMSG_QCOM_GLINK_SMEM=n
CONFIG_DRM_NOUVEAU_BACKLIGHT=n
CONFIG_ARM64_WORKAROUND_SPECULATIVE_AT=n
CONFIG_KVM_COMMON=n
CONFIG_PINCTRL_PFC_R8A779F0=n
CONFIG_SCSI_SAS_ATA=n
CONFIG_SERIAL_AMBA_PL011_CONSOLE=n
CONFIG_LZ4_DECOMPRESS=n
CONFIG_USB_COMMON=n
CONFIG_MVPP2=n
CONFIG_UNMAP_KERNEL_AT_EL0=n
CONFIG_CFG80211_CRDA_SUPPORT=n
CONFIG_SERIAL_TEGRA_TCU_CONSOLE=n
CONFIG_USB_DWC3_XILINX=n
CONFIG_DRM_PANEL_VISIONOX_VTDR6130=n
CONFIG_CRYPTO_CTR=n
CONFIG_QCS_DISPCC_615=n
CONFIG_TI_K3_SOCINFO=n
CONFIG_COMMON_CLK_MT8195_SCP_ADSP=n
CONFIG_ROCKCHIP_INNO_HDMI=n
CONFIG_GPIO_AGGREGATOR=n
CONFIG_RTC_DRV_RV8803=n
CONFIG_PINCTRL_TEGRA=n
CONFIG_WLAN_VENDOR_TI=n
CONFIG_I2C_HID_ACPI=n
CONFIG_RUNTIME_TESTING_MENU=n
CONFIG_DP83TG720_PHY=n
CONFIG_CORESIGHT_CATU=n
CONFIG_NET_DSA_TAG_BRCM=n
CONFIG_DEBUG_INFO_COMPRESSED_NONE=n
CONFIG_SND_PROC_FS=n
CONFIG_I2C_TEGRA=n
CONFIG_SUN8I_R_CCU=n
CONFIG_QCOM_HIDMA=n
CONFIG_DRM_EXEC=n
CONFIG_CRYPTO_LIB_DES=n
CONFIG_COMMON_CLK_MT8183=n
CONFIG_IWLWIFI=n
CONFIG_PWM_TIEHRPWM=n
CONFIG_PINCTRL_IPQ6018=n
CONFIG_MTD_NAND_CORE=n
CONFIG_USB_DEFAULT_PERSIST=n
CONFIG_VMAP_STACK=n
CONFIG_CLK_RK3368=n
CONFIG_SGL_ALLOC=n
CONFIG_QCOM_QMI_HELPERS=n
CONFIG_USB_DWC3_PCI=n
CONFIG_REGULATOR_TPS65132=n
CONFIG_CORESIGHT_LINK_AND_SINK_TMC=n
CONFIG_RTC_DRV_MACSMC=n
CONFIG_USB_XHCI_SIDEBAND=n
CONFIG_MTK_ADSP_MBOX=n
CONFIG_HW_RANDOM_CAVIUM=n
CONFIG_COMMON_CLK_NUVOTON=n
CONFIG_VIDEO=n
CONFIG_PINCTRL=n
CONFIG_SND_SOC_MT8183_DA7219_MAX98357A=n
CONFIG_INTEGRITY_AUDIT=n
CONFIG_QCOM_RPMHPD=n
CONFIG_XZ_DEC_X86=n
CONFIG_CC_HAS_KASAN_GENERIC=n
CONFIG_VIDEOBUF2_V4L2=n
CONFIG_NET_VENDOR_PENSANDO=n
CONFIG_COMMON_CLK_STM32MP=n
CONFIG_SPI_OMAP24XX=n
CONFIG_SND_SOC_TEGRA210_ADMAIF=n
CONFIG_VIDEO_SUN6I_CSI=n
CONFIG_COMMON_CLK_SAMSUNG=n
CONFIG_COMMON_CLK_C3_PLL=n
CONFIG_UNION_FIND=n
CONFIG_RTC_DRV_MT6397=n
CONFIG_DEVFREQ_THERMAL=n
CONFIG_SERIAL_QCOM_GENI_CONSOLE=n
CONFIG_CLK_R9A09G057=n
CONFIG_FANOTIFY_ACCESS_PERMISSIONS=n
CONFIG_NF_LOG_SYSLOG=n
CONFIG_AUTOFS_FS=n
CONFIG_COMMON_CLK_MT8188_WPESYS=n
CONFIG_AHCI_BRCM=n
CONFIG_COMMON_CLK_MT8192_IMGSYS=n
CONFIG_PCIE_ROCKCHIP_DW=n
CONFIG_IIO=n
CONFIG_COMMON_CLK_ZYNQMP=n
CONFIG_RCAR_GEN3_THERMAL=n
CONFIG_CEC_MESON_G12A_AO=n
CONFIG_INTERCONNECT_QCOM_ELIZA=n
CONFIG_EFI_CAPSULE_LOADER=n
CONFIG_TI_K3_AM65_CPSW_NUSS=n
CONFIG_NET_INGRESS=n
CONFIG_PINCTRL_MESON=n
CONFIG_NET_VENDOR_ALIBABA=n
CONFIG_MTD_NAND_DENALI=n
CONFIG_REGULATOR_TPS65219=n
CONFIG_USB_XHCI_HCD=n
CONFIG_ARCH_RCAR_GEN3=n
CONFIG_PREEMPT_BUILD=n
CONFIG_ARCH_CIX=n
CONFIG_CFG80211=n
CONFIG_IO_URING_ZCRX=n
CONFIG_AF_UNIX_OOB=n
CONFIG_SM_VIDEOCC_MILOS=n
CONFIG_ARCH_INTEL_SOCFPGA=n
CONFIG_SND_MESON_G12A_TOHDMITX=n
CONFIG_INTERCONNECT_QCOM_GLYMUR=n
CONFIG_HW_RANDOM_VIRTIO=n
CONFIG_CPU_ISOLATION=n
CONFIG_CAN_RX_OFFLOAD=n
CONFIG_DMA_BOUNCE_UNALIGNED_KMALLOC=n
CONFIG_SYSC_R9A08G045=n
CONFIG_SND_SOC_TS3A227E=n
CONFIG_MESON_GXL_PHY=n
CONFIG_DRM_MESON=n
CONFIG_EEPROM_AT25=n
CONFIG_RESET_RZG2L_USBPHY_CTRL=n
CONFIG_USB_CDNS3_TI=n
CONFIG_XEN=n
CONFIG_INTERCONNECT_QCOM_BCM_VOTER=n
CONFIG_HAVE_STACKPROTECTOR=n
CONFIG_MSM_GCC_8996=n
CONFIG_DRM_TIDSS=n
CONFIG_CLK_RK3576=n
CONFIG_SND_SOC_LPASS_SC7280=n
CONFIG_USB_F_FS=n
CONFIG_QCOM_Q6V5_ADSP=n
CONFIG_POWER_RESET_GPIO=n
CONFIG_ZYNQMP_IPI_MBOX=n
CONFIG_SUN55I_A523_CCU=n
