CONFIG_MQ_IOSCHED_KYBER=n
CONFIG_GENERIC_IRQ_SHOW_LEVEL=n
CONFIG_MEDIA_SUBDRV_AUTOSELECT=n
CONFIG_NFS_V4_2=n
CONFIG_SND_JACK_INPUT_DEV=n
CONFIG_HAVE_REGS_AND_STACK_ACCESS_API=n
CONFIG_GPIO_ACPI=n
CONFIG_MAILBOX=n
CONFIG_ARCH_SUPPORTS_KEXEC=n
CONFIG_VIRTIO_BALLOON=n
CONFIG_XFRM=n
CONFIG_MEMFD_CREATE=n
CONFIG_DMADEVICES=n
CONFIG_NFS_V3=n
CONFIG_RTC_CLASS=n
CONFIG_RISCV_ISA_ZBB=n
CONFIG_NET_VENDOR_MYRI=n
CONFIG_NET_VENDOR_EZCHIP=n
CONFIG_CPU_RMAP=n
CONFIG_ISO9660_FS=n
CONFIG_PROFILING=n
CONFIG_CRYPTO_ALGAPI2=n
CONFIG_FONT_SUPPORT=n
CONFIG_CRYPTO_SKCIPHER2=n
CONFIG_CPU_PM=n
CONFIG_CLK_THEAD_TH1520_AP=n
CONFIG_TIMER_OF=n
CONFIG_USB_EHCI_HCD_PLATFORM=n
CONFIG_POWER_RESET_SYSCON=n
CONFIG_SCSI_PROC_FS=n
CONFIG_IP_VS=n
CONFIG_RISCV_IOMMU_PCI=n
CONFIG_HAVE_FUNCTION_ERROR_INJECTION=n
CONFIG_JBD2=n
CONFIG_ARCH_ESWIN=n
CONFIG_SOC_STARFIVE=n
CONFIG_BLK_DEV_BSG=n
CONFIG_TTY=n
CONFIG_SUSPEND_FREEZER=n
CONFIG_CAN=n
CONFIG_CRYPTO_KPP=n
CONFIG_DRM_CLIENT_DEFAULT_FBDEV=n
CONFIG_CRYPTO_SIG2=n
CONFIG_VIRTIO_BLK=n
CONFIG_I2C_MV64XXX=n
CONFIG_MMC_DW_STARFIVE=n
CONFIG_FB_SYSMEM_FOPS=n
CONFIG_STACKPROTECTOR=n
CONFIG_EXT4_USE_FOR_EXT2=n
CONFIG_NET_VENDOR_ATHEROS=n
CONFIG_ARCH_STACKWALK=n
CONFIG_SPLIT_PMD_PTLOCKS=n
CONFIG_USB_CONFIGFS_EEM=n
CONFIG_USB_CONFIGFS=n
CONFIG_RESET_K230=n
CONFIG_DM_BUFIO=n
CONFIG_NET_DEVLINK=n
CONFIG_MTD_CFI_ADV_OPTIONS=n
CONFIG_CGROUP_HUGETLB=n
CONFIG_VIDEOMODE_HELPERS=n
CONFIG_DMA_NONCOHERENT_MMAP=n
CONFIG_HAVE_KERNEL_ZSTD=n
CONFIG_RANDSTRUCT_NONE=n
CONFIG_SUNRPC_GSS=n
CONFIG_OF_IRQ=n
CONFIG_CC_NO_ARRAY_BOUNDS=n
CONFIG_CPU_ISOLATION=n
CONFIG_ARCH_WANT_LD_ORPHAN_WARN=n
CONFIG_RISCV_ISA_ZICBOP=n
CONFIG_USB_MUSB_SUNXI=n
CONFIG_RD_BZIP2=n
CONFIG_PCIE_PLDA_HOST=n
CONFIG_NET_VENDOR_RENESAS=n
CONFIG_SCSI_COMMON=n
CONFIG_CPU_FREQ_STAT=n
CONFIG_DRM_FBDEV_EMULATION=n
CONFIG_INTEGRITY=n
CONFIG_MMU=n
CONFIG_STRICT_MODULE_RWX=n
CONFIG_USB_CONFIGFS_MASS_STORAGE=n
CONFIG_IOMMU_DEFAULT_DMA_STRICT=n
CONFIG_PINCONF=n
CONFIG_IPV6_SIT=n
CONFIG_CLK_STARFIVE_JH7100_AUDIO=n
CONFIG_CRC_ITU_T=n
CONFIG_DRM_TTM_HELPER=n
CONFIG_CGROUP_DEVICE=n
CONFIG_NETFILTER_ADVANCED=n
CONFIG_FAIR_GROUP_SCHED=n
CONFIG_SERIAL_SIFIVE=n
CONFIG_ARCH_SUNXI=n
CONFIG_NET_VENDOR_SEEQ=n
CONFIG_USER_STACKTRACE_SUPPORT=n
CONFIG_BUILDTIME_TABLE_SORT=n
CONFIG_SCSI_MOD=n
CONFIG_9P_FS=n
CONFIG_MII=n
CONFIG_FRAME_POINTER=n
CONFIG_HAVE_ARCH_KSTACK_ERASE=n
CONFIG_AUDIT=n
CONFIG_NET_CRC32C=n
CONFIG_EFI_PARTITION=n
CONFIG_SPI_PL022=n
CONFIG_PHY_STARFIVE_JH7110_DPHY_RX=n
CONFIG_ARCH_HAS_SETUP_DMA_OPS=n
CONFIG_INPUT=n
CONFIG_CPU_FREQ_GOV_ATTR_SET=n
CONFIG_RISCV_ISA_ZBC=n
CONFIG_IPV6_NDISC_NODETYPE=n
CONFIG_POWER_RESET_SPACEMIT_P1=n
CONFIG_SND_SOC_I2C_AND_SPI=n
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO_BARE=n
CONFIG_HAVE_ARCH_HUGE_VMALLOC=n
CONFIG_PERF_EVENTS=n
CONFIG_WLAN_VENDOR_MEDIATEK=n
CONFIG_PINCTRL_STARFIVE_JH7110=n
CONFIG_NET_SCH_FIFO=n
CONFIG_RISCV_IMSIC=n
CONFIG_ARCH_DMA_ADDR_T_64BIT=n
CONFIG_XARRAY_MULTI=n
CONFIG_PINCTRL_SOPHGO_CV1800B=n
CONFIG_TOOLCHAIN_HAS_ZBKB=n
CONFIG_USB_CDNS3_HOST=n
CONFIG_GPIO_DWAPB=n
CONFIG_RISCV_ISA_SVNAPOT=n
CONFIG_ARCH_USE_MEMREMAP_PROT=n
CONFIG_NVMEM_LAYOUTS=n
CONFIG_CRYPTO_HMAC=n
CONFIG_GENERIC_PENDING_IRQ=n
CONFIG_IP6_NF_MATCH_IPV6HEADER=n
CONFIG_UPROBE_EVENTS=n
CONFIG_CLK_ANALOGBITS_WRPLL_CLN28HPC=n
CONFIG_NETFILTER_XT_MARK=n
CONFIG_GENERIC_STRNLEN_USER=n
CONFIG_ARCH_HAS_DEBUG_VM_PGTABLE=n
CONFIG_WLAN_VENDOR_MARVELL=n
CONFIG_SYNC_FILE=n
CONFIG_MOUSE_PS2_CYPRESS=n
CONFIG_PM_CLK=n
CONFIG_NFS_V4=n
CONFIG_FWNODE_MDIO=n
CONFIG_CLK_STARFIVE_JH7110_SYS=n
CONFIG_GENERIC_PT=n
CONFIG_CLK_STARFIVE_JH7110_AON=n
CONFIG_CAN_NETLINK=n
CONFIG_OF_PMEM=n
CONFIG_NFS_V4_2_READ_PLUS=n
CONFIG_SECRETMEM=n
CONFIG_SWPHY=n
CONFIG_USB_EHCI_PCI=n
CONFIG_CGROUP_BPF=n
CONFIG_ARCH_WANT_BATCHED_UNMAP_TLB_FLUSH=n
CONFIG_IRQ_WORK=n
CONFIG_BLK_DEV=n
CONFIG_COMPAT_BINFMT_ELF=n
CONFIG_WATCHDOG_HANDLE_BOOT_ENABLED=n
CONFIG_MTD_MAP_BANK_WIDTH_4=n
CONFIG_ACPI_REDUCED_HARDWARE_ONLY=n
CONFIG_STMMAC_PLATFORM=n
CONFIG_HAVE_KERNEL_BZIP2=n
CONFIG_VIRTIO_MENU=n
CONFIG_NET_VENDOR_MICROCHIP=n
CONFIG_NOP_TRACER=n
CONFIG_SPI_CADENCE_QUADSPI=n
CONFIG_RESET_SUNXI=n
CONFIG_SND_TIMER=n
CONFIG_PHYS_ADDR_T_64BIT=n
CONFIG_HOTPLUG_PARALLEL=n
CONFIG_GENERIC_IRQ_ENTRY=n
CONFIG_V4L2_ASYNC=n
CONFIG_ARCH_MICROCHIP=n
CONFIG_VIDEO_DEV=n
CONFIG_FPU=n
CONFIG_USB_CDNS3=n
CONFIG_HW_RANDOM_JH7110=n
CONFIG_ARCH_HAS_MEMBARRIER_CALLBACKS=n
CONFIG_SPARSE_IRQ=n
CONFIG_RESET_STARFIVE_JH7110=n
CONFIG_SPACEMIT_K1_EMAC=n
CONFIG_ERRATA_ANDES=n
CONFIG_GENERIC_IOREMAP=n
CONFIG_USB_XHCI_HCD=n
CONFIG_REGMAP=n
CONFIG_HAVE_KERNEL_GZIP=n
CONFIG_CC_HAS_AUTO_VAR_INIT_PATTERN=n
CONFIG_NET_NS=n
CONFIG_ERRATA_SIFIVE_CIP_453=n
CONFIG_ACPI_BUTTON=n
CONFIG_ARCH_HAS_DMA_PREP_COHERENT=n
CONFIG_CPU_FREQ=n
CONFIG_WLAN_VENDOR_REALTEK=n
CONFIG_ARCH_HAS_MEMBARRIER_SYNC_CORE=n
CONFIG_TICK_CPU_ACCOUNTING=n
CONFIG_LEGACY_PTYS=n
CONFIG_BALLOON_MIGRATION=n
CONFIG_NET_INGRESS=n
CONFIG_OF_RESERVED_MEM=n
CONFIG_XZ_DEC_RISCV=n
CONFIG_HAVE_KVM_READONLY_MEM=n
CONFIG_NET_VENDOR_QUALCOMM=n
CONFIG_WLAN_VENDOR_RSI=n
CONFIG_DMA_SHARED_BUFFER=n
CONFIG_GENERIC_SYSCALL=n
CONFIG_IKCONFIG=n
CONFIG_FRAMEBUFFER_CONSOLE_DETECT_PRIMARY=n
CONFIG_GENERIC_LIB_DEVMEM_IS_ALLOWED=n
CONFIG_NET_VENDOR_XILINX=n
CONFIG_NFS_V4_0=n
CONFIG_ARCH_KEEP_MEMBLOCK=n
CONFIG_I2C_DESIGNWARE_CORE=n
CONFIG_RISCV=n
CONFIG_NET_VENDOR_ASIX=n
CONFIG_MMC_DW_PLTFM=n
CONFIG_NF_LOG_IPV6=n
CONFIG_NET_CLS_CGROUP=n
CONFIG_ARCH_SPARSEMEM_ENABLE=n
CONFIG_RING_BUFFER=n
CONFIG_DEBUG_MEMORY_INIT=n
CONFIG_DRM_SUN6I_DSI=n
CONFIG_ARCH_ANDES=n
CONFIG_HW_RANDOM_VIRTIO=n
CONFIG_RTC_I2C_AND_SPI=n
CONFIG_CHECKPOINT_RESTORE=n
CONFIG_PM_SLEEP=n
CONFIG_OF_KOBJ=n
CONFIG_INET=n
CONFIG_PCI_DOMAINS=n
CONFIG_CRYPTO_USER_API_ENABLE_OBSOLETE=n
CONFIG_RTC_DRV_SPACEMIT_P1=n
CONFIG_SPLIT_PTE_PTLOCKS=n
CONFIG_I2C_HID=n
CONFIG_STRICT_KERNEL_RWX=n
CONFIG_SND_SPI=n
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO=n
CONFIG_NF_DEFRAG_IPV4=n
CONFIG_TIMER_PROBE=n
CONFIG_KEYBOARD_SUN4I_LRADC=n
CONFIG_CRYPTO_LIB_UTILS=n
CONFIG_VT_HW_CONSOLE_BINDING=n
CONFIG_CC_HAS_ZERO_CALL_USED_REGS=n
CONFIG_HAVE_GENERIC_VDSO=n
CONFIG_PGTABLE_HAS_HUGE_LEAVES=n
CONFIG_RESET_SPACEMIT_COMMON=n
CONFIG_FRAMEBUFFER_CONSOLE=n
CONFIG_PINCTRL_SPACEMIT_K1=n
CONFIG_WLAN_VENDOR_PURELIFI=n
CONFIG_SOCK_RX_QUEUE_MAPPING=n
CONFIG_POLARFIRE_SOC_IRQ_MUX=n
CONFIG_IOMMU_API=n
CONFIG_NET_VENDOR_TEHUTI=n
CONFIG_HAVE_EBPF_JIT=n
CONFIG_FB_CFB_IMAGEBLIT=n
CONFIG_FB_IOMEM_FOPS=n
CONFIG_RISCV_SCALAR_MISALIGNED=n
CONFIG_CC_HAS_INT128=n
CONFIG_BLK_DEV_INITRD=n
CONFIG_FS_POSIX_ACL=n
CONFIG_PREEMPT_COUNT=n
CONFIG_VIDEO=n
CONFIG_CRYPTO_ENGINE=n
CONFIG_OF_GPIO=n
CONFIG_CPU_FREQ_GOV_CONSERVATIVE=n
CONFIG_PINCTRL_SOPHGO_CV18XX_OPS=n
CONFIG_GENERIC_BUG=n
CONFIG_HAVE_HARDLOCKUP_DETECTOR_BUDDY=n
CONFIG_NET_FLOW_LIMIT=n
CONFIG_PINCTRL_TH1520=n
CONFIG_SECCOMP=n
CONFIG_GENERIC_PHY=n
CONFIG_RISCV_PROBE_UNALIGNED_ACCESS=n
CONFIG_NETLINK_DIAG=n
CONFIG_SATA_PMP=n
CONFIG_MTD=n
CONFIG_DQL=n
CONFIG_XZ_DEC_ARM64=n
CONFIG_ARCH_DEFAULT_CRASH_DUMP=n
CONFIG_GPIOLIB=n
CONFIG_RTC_SYSTOHC=n
CONFIG_CC_IS_GCC=n
CONFIG_HAVE_CONTEXT_TRACKING_USER=n
CONFIG_IO_URING=n
CONFIG_64BIT=n
CONFIG_MMC_DW=n
CONFIG_ERRATA_THEAD_MAE=n
CONFIG_DMA_SUN6I=n
CONFIG_RISCV_VECTOR_MISALIGNED=n
CONFIG_VIRTIO_MMIO=n
CONFIG_IP_MULTICAST=n
CONFIG_RISCV_APLIC=n
CONFIG_RESET_SIMPLE=n
CONFIG_SECURITY_APPARMOR=n
CONFIG_MOUSE_PS2=n
CONFIG_CONFIGFS_FS=n
CONFIG_POWER_RESET_GPIO_RESTART=n
CONFIG_CAN_BCM=n
CONFIG_NET_VENDOR_GOOGLE=n
CONFIG_HAVE_IRQ_EXIT_ON_IRQ_STACK=n
CONFIG_ARCH_OPTIONAL_KERNEL_RWX_DEFAULT=n
CONFIG_AUDIT_GENERIC=n
CONFIG_MMP_PDMA=n
