CONFIG_PROC_KCORE=y
CONFIG_MAX31856=y
CONFIG_CRYPTO_ALGAPI=y
CONFIG_RTC_DRV_AS3722=y
CONFIG_FPGA_DFL_NIOS_INTEL_PAC_N3000=y
CONFIG_IRQ_FORCED_THREADING=y
CONFIG_LATTICE_ECP3_CONFIG=y
CONFIG_SENSORS_XDP720=y
CONFIG_RING_BUFFER_ALLOW_SWAP=y
CONFIG_KS0108=y
CONFIG_INPUT_DRV2665_HAPTICS=y
CONFIG_MFD_TPS6594=y
CONFIG_GPIO_WAVESHARE_DSI_TOUCH=y
CONFIG_SENSORS_LT3074=y
CONFIG_FREEZER=y
CONFIG_SERIAL_EARLYCON=y
CONFIG_NETFS_SUPPORT=y
CONFIG_RAS=y
CONFIG_SENSORS_MAX8688=y
CONFIG_RT2X00_LIB_PCI=y
CONFIG_ATH_COMMON=y
CONFIG_MAX5821=y
CONFIG_HAVE_VIRT_CPU_ACCOUNTING_GEN=y
CONFIG_ARCH_WANTS_THP_SWAP=y
CONFIG_REGULATOR_WM8400=y
CONFIG_SDP500=y
CONFIG_PCIEASPM_DEFAULT=y
CONFIG_EXT4_USE_FOR_EXT2=y
CONFIG_SLUB_DEBUG=y
CONFIG_SERIO_ALTERA_PS2=y
CONFIG_IIO_CONFIGFS=y
CONFIG_VSOCKETS_LOOPBACK=y
CONFIG_MFD_QNAP_MCU=y
CONFIG_RTC_DRV_DS3232=y
CONFIG_PHY_CADENCE_TORRENT=y
CONFIG_VHOST_TASK=y
CONFIG_RTLBTCOEXIST=y
CONFIG_FB_SIMPLE=y
CONFIG_CONFIGFS_FS=y
CONFIG_CLKBLD_I8253=y
CONFIG_RTLWIFI_PCI=y
CONFIG_ARCH_HAVE_NMI_SAFE_CMPXCHG=y
CONFIG_ZSMALLOC_STAT=y
CONFIG_GPIO_VX855=y
CONFIG_EXTCON_RT8973A=y
CONFIG_NLS_CODEPAGE_850=y
CONFIG_842_COMPRESS=y
CONFIG_WATCHDOG=y
CONFIG_SI7020=y
CONFIG_DM_SWITCH=y
CONFIG_COMMON_CLK=y
CONFIG_ADIS16550=y
CONFIG_INPUT_SPARSEKMAP=y
CONFIG_AD7768_1=y
CONFIG_CRYPTO_MD5=y
CONFIG_GENERIC_PENDING_IRQ=y
CONFIG_CHARGER_RT5033=y
CONFIG_PTDUMP=y
CONFIG_NLS_ISO8859_15=y
CONFIG_ARCH_HAS_STRICT_KERNEL_RWX=y
CONFIG_MAXLINEAR_GPHY=y
CONFIG_ADMV8818=y
CONFIG_FHANDLE=y
CONFIG_AD7476=y
CONFIG_GOOGLE_MEMCONSOLE=y
CONFIG_DEBUG_RODATA_TEST=y
CONFIG_SPI_XILINX=y
CONFIG_CRYPTO_BLOWFISH_COMMON=y
CONFIG_CADENCE_WATCHDOG=y
CONFIG_X86_PLATFORM_DRIVERS_DELL=y
CONFIG_IIO_ST_GYRO_3AXIS=y
CONFIG_SWIOTLB=y
CONFIG_XEN_DEV_EVTCHN=y
CONFIG_RTC_DRV_TPS6586X=y
CONFIG_DEBUG_VM=y
CONFIG_JOYSTICK_STINGER=y
CONFIG_LTC1660=y
CONFIG_LTC2497=y
CONFIG_DA9062_THERMAL=y
CONFIG_RTC_LIB=y
CONFIG_PMBUS=y
CONFIG_W83627HF_WDT=y
CONFIG_HAVE_EFFICIENT_UNALIGNED_ACCESS=y
CONFIG_PORTWELL_EC=y
CONFIG_CPU_HOTPLUG_STATE_CONTROL=y
CONFIG_INPUT_MOUSEDEV_PSAUX=y
CONFIG_ARCH_USES_PG_ARCH_2=y
CONFIG_LEDS_LT3593=y
CONFIG_XZ_DEC=y
CONFIG_REGULATOR_GPIO=y
CONFIG_DMI_SYSFS=y
CONFIG_ARCH_WANT_OPTIMIZE_DAX_VMEMMAP=y
CONFIG_UIO_SERCOS3=y
CONFIG_GENERIC_IOMAP=y
CONFIG_SENSORS_MPQ7932=y
CONFIG_MDIO_CAVIUM=y
CONFIG_CC_HAS_SLS=y
CONFIG_FIXED_PHY=y
CONFIG_SATA_QSTOR=y
CONFIG_LEDS_PCA963X=y
CONFIG_SERIAL_DEV_CTRL_TTYPORT=y
CONFIG_CEC_GPIO=y
CONFIG_XILINX_DMA=y
CONFIG_INPUT_RK805_PWRKEY=y
CONFIG_NVME_CORE=y
CONFIG_AD5446=y
CONFIG_PVPANIC_PCI=y
CONFIG_PPPOE=y
CONFIG_CRYPTO_KDF800108_CTR=y
CONFIG_RTC_DRV_DA9063=y
CONFIG_RAPIDIO_MPORT_CDEV=y
CONFIG_NLATTR=y
CONFIG_TMP006=y
CONFIG_BACKLIGHT_ADP8870=y
CONFIG_LEDS_IS31FL32XX=y
CONFIG_JOYSTICK_ANALOG=y
CONFIG_ARCH_SUPPORTS_LTO_CLANG_THIN=y
CONFIG_GAMEPORT=y
CONFIG_USB4_DMA_TEST=y
CONFIG_TCG_TIS_I2C_INFINEON=y
CONFIG_INPUT_XEN_KBDDEV_FRONTEND=y
CONFIG_CRYPTO_DEFLATE=y
CONFIG_CMA=y
CONFIG_FB_NVIDIA_I2C=y
CONFIG_SENSORS_MP2888=y
CONFIG_HARDLOCKUP_CHECK_TIMESTAMP=y
CONFIG_WDTPCI=y
CONFIG_REGULATOR_DA9211=y
CONFIG_HSC030PA_I2C=y
CONFIG_ARCH_HAS_CPU_RELAX=y
CONFIG_FB_RADEON_I2C=y
CONFIG_SENSORS_MPQ8785=y
CONFIG_STK8BA50=y
CONFIG_C2PORT=y
CONFIG_ARCH_HAS_SET_DIRECT_MAP=y
CONFIG_GOOGLE_VPD=y
CONFIG_DEBUG_DEVRES=y
CONFIG_SENSORS_ADM1266=y
CONFIG_DMA_NEED_SYNC=y
CONFIG_SENSORS_MAX31730=y
CONFIG_DYNAMIC_DEBUG_CORE=y
CONFIG_FAULT_INJECTION_USERCOPY=y
CONFIG_BLK_DEV_WRITE_MOUNTED=y
CONFIG_SENSORS_W83627HF=y
CONFIG_GPIOLIB_LEGACY=y
CONFIG_SLUB_STATS=y
CONFIG_FUTEX=y
CONFIG_REMOTE_TARGET=y
CONFIG_NEED_SG_DMA_LENGTH=y
CONFIG_GPIO_VIRTUSER=y
CONFIG_SPS30_I2C=y
CONFIG_ZPA2326_I2C=y
CONFIG_DECOMPRESS_GZIP=y
CONFIG_SENSORS_LM77=y
CONFIG_BRCMFMAC_PCIE=y
CONFIG_CHARGER_TWL4030=y
CONFIG_RANDOMIZE_BASE=y
CONFIG_TI_ADS1100=y
CONFIG_W1_MASTER_SGI=y
CONFIG_KEYBOARD_QT1050=y
CONFIG_SX9500=y
CONFIG_HAVE_ASM_MODVERSIONS=y
CONFIG_SENSORS_TDA38640=y
CONFIG_CRYPTO_HW=y
CONFIG_SENSORS_INA3221=y
CONFIG_CRYPTO_ECDH=y
CONFIG_SENSORS_LTC4282=y
CONFIG_ALLOW_DEV_COREDUMP=y
CONFIG_RTW89_8852BT=y
CONFIG_I2C_ALI1535=y
CONFIG_YENTA_ENE_TUNE=y
CONFIG_I2C_TAOS_EVM=y
CONFIG_SENSORS_TPS53679=y
CONFIG_STPMIC1_WATCHDOG=y
CONFIG_SENSORS_MAX1668=y
CONFIG_BE2ISCSI=y
CONFIG_EXTCON_PTN5150=y
CONFIG_IIO_KFIFO_BUF=y
CONFIG_MISC_RTSX_PCI=y
CONFIG_PDC_ADMA=y
CONFIG_SENSORS_VT8231=y
CONFIG_COMPACTION=y
CONFIG_QCA83XX_PHY=y
CONFIG_OF_GPIO=y
CONFIG_PROC_CHILDREN=y
CONFIG_REGULATOR_SLG51000=y
CONFIG_CC_IS_GCC=y
CONFIG_SENSORS_NTC_THERMISTOR=y
CONFIG_W83977F_WDT=y
CONFIG_VSOCKETS_DIAG=y
CONFIG_GENERIC_CLOCKEVENTS=y
CONFIG_REGULATOR_RT5133=y
CONFIG_PPP_BSDCOMP=y
CONFIG_TOUCHSCREEN_MAX11801=y
CONFIG_PAGE_POOL=y
CONFIG_BMC150_MAGN_I2C=y
CONFIG_SBP_TARGET=y
CONFIG_FIREWIRE=y
CONFIG_PREEMPT_RCU=y
CONFIG_ADP810=y
CONFIG_SPI_MUX=y
CONFIG_SENSORS_ADT7411=y
CONFIG_SECONDARY_TRUSTED_KEYRING_SIGNED_BY_BUILTIN=y
CONFIG_9P_FS_SECURITY=y
CONFIG_DTPM=y
CONFIG_KVFREE_RCU_BATCHED=y
CONFIG_ADIS16475=y
CONFIG_MLX90635=y
CONFIG_CC_HAS_KASAN_GENERIC=y
CONFIG_DEBUG_RT_MUTEXES=y
CONFIG_GENERIC_EARLY_IOREMAP=y
CONFIG_ARCH_HAVE_EXTRA_ELF_NOTES=y
CONFIG_ADXL380_SPI=y
CONFIG_WLAN_VENDOR_INTERSIL=y
CONFIG_MFD_CORE=y
CONFIG_FB_SM712=y
CONFIG_LZO_DECOMPRESS=y
CONFIG_PCI=y
CONFIG_ATH9K_DYNACK=y
CONFIG_REGULATOR_MAX8952=y
CONFIG_SENSORS_W83773G=y
CONFIG_LEDS_LM3532=y
CONFIG_WLCORE_SPI=y
CONFIG_FB_NVIDIA=y
CONFIG_SYSFB_SIMPLEFB=y
CONFIG_I2C_VIA=y
CONFIG_CC_HAS_NAMED_AS=y
CONFIG_FIREWIRE_NOSY=y
CONFIG_HAVE_KCSAN_COMPILER=y
CONFIG_PATA_PARPORT=y
CONFIG_BATTERY_MAX17042=y
CONFIG_ARCH_SELECTS_KEXEC_FILE=y
CONFIG_CRYPTO_SERPENT_SSE2_X86_64=y
CONFIG_MEMREGION=y
CONFIG_LENOVO_SE10_WDT=y
CONFIG_SCSI_3W_9XXX=y
CONFIG_RAVE_SP_CORE=y
CONFIG_TOUCHSCREEN_EXC3000=y
CONFIG_REGULATOR_RT5759=y
CONFIG_BATTERY_GOLDFISH=y
CONFIG_RT2X00_DEBUG=y
CONFIG_RTC_DRV_FTRTC010=y
CONFIG_LEDS_TRIGGERS=y
CONFIG_GPIO_SIM=y
CONFIG_W1_SLAVE_DS2781=y
CONFIG_FW_LOADER_SYSFS=y
CONFIG_DEBUG_SPINLOCK=y
CONFIG_LTC2632=y
CONFIG_SWIOTLB_DYNAMIC=y
CONFIG_MLX90632=y
CONFIG_TOUCHSCREEN_TOUCHWIN=y
CONFIG_GENERIC_CLOCKEVENTS_MIN_ADJUST=y
CONFIG_AD525X_DPOT_I2C=y
CONFIG_CPU_FREQ_GOV_CONSERVATIVE=y
CONFIG_XILINX_INTC=y
CONFIG_SPI_MEM=y
CONFIG_SIGNED_PE_FILE_VERIFICATION=y
CONFIG_JOYSTICK_TMDC=y
CONFIG_INPUT_DRV260X_HAPTICS=y
CONFIG_TRACER_MAX_TRACE=y
CONFIG_MAX31865=y
CONFIG_PATA_PARPORT_KTTI=y
CONFIG_MAX22007=y
CONFIG_TOUCHSCREEN_DA9052=y
CONFIG_PATA_PARPORT_EPIA=y
CONFIG_SENSORS_I5500=y
CONFIG_RAPIDIO_CHMAN=y
CONFIG_SERIO=y
CONFIG_BACKLIGHT_SAHARA=y
CONFIG_SERIO_ARC_PS2=y
CONFIG_MMA7455_SPI=y
CONFIG_VFIO_GROUP=y
CONFIG_NVME_KEYRING=y
CONFIG_BLK_DEV_NVME=y
CONFIG_PID_NS=y
CONFIG_HW_RANDOM_TIMERIOMEM=y
CONFIG_CRYPTO_MD4=y
CONFIG_IIO_HRTIMER_TRIGGER=y
CONFIG_EXPORTFS=y
CONFIG_MCTP_TRANSPORT_I3C=y
CONFIG_HAVE_KERNEL_LZO=y
CONFIG_HZ_300=y
CONFIG_TOUCHSCREEN_TPS6507X=y
CONFIG_HWMON_DEBUG_CHIP=y
CONFIG_TOUCHSCREEN_WACOM_W9000=y
CONFIG_RTC_DRV_PCF85063=y
CONFIG_RTL8180=y
CONFIG_SCSI_DMA=y
CONFIG_HAVE_ARCH_MMAP_RND_COMPAT_BITS=y
CONFIG_CHARGER_BQ24190=y
CONFIG_YENTA_O2=y
CONFIG_ZLIB_DEFLATE=y
CONFIG_NLS_ASCII=y
CONFIG_WQ_CPU_INTENSIVE_REPORT=y
CONFIG_RFKILL=y
CONFIG_PCI_TSM=y
CONFIG_INTEL_IFS=y
CONFIG_IR_XMP_DECODER=y
CONFIG_EPOLL=y
CONFIG_PAGE_OWNER=y
CONFIG_THERMAL_HWMON=y
CONFIG_INTEL_IDXD_BUS=y
CONFIG_PCI_HOST_GENERIC=y
CONFIG_ADMV1014=y
CONFIG_STACKTRACE_BUILD_ID=y
CONFIG_HUGETLB_PAGE_OPTIMIZE_VMEMMAP=y
CONFIG_HOTPLUG_PCI_SHPC=y
CONFIG_KEYBOARD_STOWAWAY=y
CONFIG_CONSOLE_POLL=y
CONFIG_NO_HZ_IDLE=y
CONFIG_XILINX_VCU=y
CONFIG_CHARGER_SBS=y
CONFIG_EXTCON=y
CONFIG_WATCHDOG_SYSFS=y
CONFIG_TIME_NS_VDSO=y
CONFIG_FSI_MASTER_HUB=y
CONFIG_PCI_REALLOC_ENABLE_AUTO=y
CONFIG_XEN_XENBUS_FRONTEND=y
CONFIG_SENSORS_LM92=y
CONFIG_MFD_WM8350=y
CONFIG_STP=y
CONFIG_DMA_API_DEBUG=y
CONFIG_CPU_SUP_ZHAOXIN=y
CONFIG_MFD_CS40L50_I2C=y
CONFIG_PWM_ARGON_FAN_HAT=y
CONFIG_RTC_DRV_MAX6902=y
CONFIG_MFD_TPS65217=y
CONFIG_RMI4_F03=y
CONFIG_CRYPTO_DEV_QAT_4XXX=y
CONFIG_GENERIC_CPU_AUTOPROBE=y
CONFIG_ARCH_HAS_UACCESS_FLUSHCACHE=y
CONFIG_SCSI_ISCSI_ATTRS=y
CONFIG_NLS_CODEPAGE_869=y
CONFIG_INV_ICM42600=y
CONFIG_YAMAHA_YAS530=y
CONFIG_PKCS8_PRIVATE_KEY_PARSER=y
CONFIG_MFD_WCD934X=y
CONFIG_ARCH_HAS_FAST_MULTIPLIER=y
CONFIG_RTC_DRV_BD70528=y
CONFIG_NETDEVICES=y
CONFIG_UNIX98_PTYS=y
CONFIG_ATH9K_COMMON_SPECTRAL=y
CONFIG_CRC32=y
CONFIG_IRQ_DOMAIN_HIERARCHY=y
CONFIG_REGULATOR_LM363X=y
CONFIG_F2FS_FS_SECURITY=y
CONFIG_AD7405=y
CONFIG_CFG80211_REQUIRE_SIGNED_REGDB=y
CONFIG_PAGE_SIZE_4KB=y
CONFIG_PARPORT_1284=y
CONFIG_TMPFS_INODE64=y
CONFIG_VMWARE_BALLOON=y
CONFIG_SCSI_WD719X=y
CONFIG_SRF04=y
CONFIG_X86_DISABLED_FEATURE_SGX=y
CONFIG_BH1745=y
CONFIG_VT_HW_CONSOLE_BINDING=y
CONFIG_SCSI_MYRB=y
CONFIG_HAVE_ARCH_VMAP_STACK=y
CONFIG_VEML6046X00=y
CONFIG_UIO_DFL=y
CONFIG_NAMESPACES=y
CONFIG_CRYPTO_DEV_NITROX=y
CONFIG_IRQ_POLL=y
CONFIG_ARCH_HAS_KERNEL_FPU_SUPPORT=y
CONFIG_UIO=y
CONFIG_GENERIC_IRQ_MATRIX_ALLOCATOR=y
CONFIG_FTRACE=y
CONFIG_TCS3414=y
CONFIG_SENSORS_W83795_FANCTRL=y
CONFIG_RTW88_8822B=y
CONFIG_SCSI_SPI_ATTRS=y
CONFIG_TOUCHSCREEN_COLIBRI_VF50=y
CONFIG_MCTP_TRANSPORT_I2C=y
CONFIG_TOUCHSCREEN_GOODIX_BERLIN_I2C=y
CONFIG_MFD_88PM800=y
CONFIG_SCSI_SAS_ATTRS=y
CONFIG_CPU_SUP_HYGON=y
CONFIG_NLS_MAC_CYRILLIC=y
CONFIG_HAVE_ARCH_KSTACK_ERASE=y
CONFIG_INTEL_TH_DEBUG=y
CONFIG_MFD_INTEL_M10_BMC_SPI=y
CONFIG_CRYPTO_SIG=y
CONFIG_HOTPLUG_SPLIT_STARTUP=y
CONFIG_PPS=y
CONFIG_VCNL3020=y
CONFIG_I2C_SIMTEC=y
CONFIG_CRYPTO_CAST5=y
CONFIG_SENSORS_LM25066_REGULATOR=y
CONFIG_NEED_TASKS_RCU=y
CONFIG_ARCH_HAS_COPY_MC=y
CONFIG_INPUT_DA7280_HAPTICS=y
CONFIG_ARCH_HAS_PREEMPT_LAZY=y
CONFIG_UNIX=y
CONFIG_JOYSTICK_DB9=y
CONFIG_GDB_SCRIPTS=y
CONFIG_BT_MRVL=y
CONFIG_OF_MDIO=y
CONFIG_BD96801_WATCHDOG=y
CONFIG_ACORN_PARTITION=y
CONFIG_TRACE_IRQFLAGS_NMI_SUPPORT=y
CONFIG_TRACE_EVAL_MAP_FILE=y
CONFIG_INPUT_CS40L50_VIBRA=y
CONFIG_LZ4_COMPRESS=y
CONFIG_ARCH_HAS_GIGANTIC_PAGE=y
CONFIG_UIO_NETX=y
CONFIG_ATH10K_CE=y
CONFIG_GPIO_BD71828=y
CONFIG_ACRN_GUEST=y
CONFIG_IIO_ST_SENSORS_SPI=y
CONFIG_MFD_TPS6594_I2C=y
CONFIG_RTW89=y
CONFIG_TI_DAC082S085=y
CONFIG_HT16K33=y
CONFIG_AD7280=y
CONFIG_GART_IOMMU=y
CONFIG_POLYNOMIAL=y
CONFIG_EXTCON_LC824206XA=y
CONFIG_ADXL345_SPI=y
CONFIG_SENSORS_LT3074_REGULATOR=y
CONFIG_W1_SLAVE_SMEM=y
CONFIG_SX9324=y
CONFIG_SCSI_ARCMSR=y
CONFIG_BCM84881_PHY=y
CONFIG_NATIONAL_PHY=y
CONFIG_USB4=y
CONFIG_HAVE_FUNCTION_TRACER=y
CONFIG_ARCH_HAS_CACHE_LINE_SIZE=y
CONFIG_SCHED_MC=y
CONFIG_SENSORS_LM70=y
CONFIG_GPIO_VIRTIO=y
CONFIG_IIO_RESCALE=y
CONFIG_VIRTIO_MMIO=y
CONFIG_VMD=y
CONFIG_BCMA_DRIVER_PCI=y
CONFIG_SENSORS_LIS3_SPI=y
CONFIG_HAVE_EBPF_JIT=y
CONFIG_NVME_FC=y
CONFIG_SLAB_MERGE_DEFAULT=y
CONFIG_MEM_SOFT_DIRTY=y
CONFIG_BPF=y
CONFIG_GPIO_TPS6586X=y
CONFIG_HPET_TIMER=y
CONFIG_PHYLIB_LEDS=y
CONFIG_RING_BUFFER=y
CONFIG_MSDOS_FS=y
CONFIG_SPI_SLAVE=y
CONFIG_DPS310=y
CONFIG_INPUT_IQS626A=y
CONFIG_FB_MB862XX_PCI_GDC=y
CONFIG_SENSORS_ZL6100=y
CONFIG_CPU_FREQ_GOV_USERSPACE=y
CONFIG_UIO_MF624=y
CONFIG_SENSORS_ADT7470=y
CONFIG_X86_REQUIRED_FEATURE_FXSR=y
CONFIG_DM_SNAPSHOT=y
CONFIG_RING_BUFFER_BENCHMARK=y
CONFIG_F2FS_FS=y
CONFIG_CRC8=y
CONFIG_TI_ADS7924=y
CONFIG_TEST_DHRY=y
CONFIG_LWTUNNEL=y
CONFIG_OBJTOOL_WERROR=y
CONFIG_FAIL_MAKE_REQUEST=y
CONFIG_NLS_ISO8859_3=y
CONFIG_I2C_PARPORT=y
CONFIG_TOUCHSCREEN_SILEAD=y
CONFIG_CRYPTO_LIB_CHACHA=y
CONFIG_AX88796B_PHY=y
CONFIG_GENERIC_CALIBRATE_DELAY=y
CONFIG_SPI_DYNAMIC=y
CONFIG_X86_IO_APIC=y
CONFIG_HDC3020=y
CONFIG_TEST_MULDIV64=y
CONFIG_SCHED_MC_PRIO=y
CONFIG_AS_HAS_NON_CONST_ULEB128=y
CONFIG_X86_REQUIRED_FEATURE_ALWAYS=y
CONFIG_REGULATOR_AS3711=y
CONFIG_VIRTIO_VSOCKETS_COMMON=y
CONFIG_RTC_DRV_ISL1208=y
CONFIG_KEYBOARD_LM8333=y
CONFIG_HAVE_ARCH_SECCOMP=y
CONFIG_INTEL_ATOMISP2_PDX86=y
CONFIG_NVMEM_RMEM=y
CONFIG_MT7615_COMMON=y
CONFIG_SENSORS_SHT15=y
CONFIG_TMP117=y
CONFIG_OF=y
CONFIG_SSB=y
CONFIG_VHOST_MENU=y
CONFIG_SENSORS_MAX31785=y
CONFIG_IIO_TRIGGER=y
CONFIG_TEST_RHASHTABLE=y
CONFIG_ADXL380_I2C=y
CONFIG_FW_LOADER=y
CONFIG_SENSORS_HS3001=y
CONFIG_BACKTRACE_SELF_TEST=y
CONFIG_HAVE_KERNEL_LZ4=y
CONFIG_TOUCHSCREEN_CYTTSP_SPI=y
CONFIG_NET_9P=y
