CONFIG_SPLIT_PMD_PTLOCKS=y
CONFIG_COMMON_CLK_CDCE925=y
CONFIG_PHY_MVEBU_A3700_UTMI=y
CONFIG_I2C_ALGOBIT=y
CONFIG_ISO9660_FS=y
CONFIG_SENSORS_ADT7310=y
CONFIG_AD74115=y
CONFIG_SX9500=y
CONFIG_REGULATOR_MAX1586=y
CONFIG_SENSORS_EMC2305=y
CONFIG_PHY_QCOM_EUSB2_REPEATER=y
CONFIG_HAVE_LIVEPATCH=y
CONFIG_VEML6075=y
CONFIG_STMPE_ADC=y
CONFIG_GFS2_FS=y
CONFIG_REGULATOR_RT4831=y
CONFIG_ARCH_SUPPORTS_CFI=y
CONFIG_CORESIGHT_STM=y
CONFIG_CLK_RV1126B=y
CONFIG_ZISOFS=y
CONFIG_TASKS_RCU_GENERIC=y
CONFIG_LRU_GEN_ENABLED=y
CONFIG_NVME_CORE=y
CONFIG_PINCTRL_IPQ9650=y
CONFIG_DM_UNSTRIPED=y
CONFIG_AD7293=y
CONFIG_AL_FIC=y
CONFIG_PINCTRL_MSM8916=y
CONFIG_COMMON_CLK_MT2712_IMGSYS=y
CONFIG_LCD_LMS501KF03=y
CONFIG_PKCS7_TEST_KEY=y
CONFIG_MS5637=y
CONFIG_BACKLIGHT_RT4831=y
CONFIG_RTC_DRV_RV3029C2=y
CONFIG_W1_SLAVE_SMEM=y
CONFIG_HAVE_BUILDTIME_MCOUNT_SORT=y
CONFIG_UEVENT_HELPER=y
CONFIG_I2C_SIMTEC=y
CONFIG_TI_ADS7924=y
CONFIG_CRC_ITU_T=y
CONFIG_GCOV_PROFILE_RDS=y
CONFIG_KALLSYMS_SELFTEST=y
CONFIG_GENERIC_IRQ_CHIP=y
CONFIG_SENSORS_TPS53679=y
CONFIG_CPU_MITIGATIONS=y
CONFIG_HOTPLUG_CORE_SYNC=y
CONFIG_MD_RAID456=y
CONFIG_RTC_DRV_DS1374=y
CONFIG_SRF08=y
CONFIG_NLS_ISO8859_2=y
CONFIG_HAVE_SETUP_PER_CPU_AREA=y
CONFIG_ROHM_BM1390=y
CONFIG_DM_DELAY=y
CONFIG_KHADAS_MCU_FAN_THERMAL=y
CONFIG_IIO_ST_PRESS_I2C=y
CONFIG_EFIVAR_FS=y
CONFIG_INTERCONNECT_QCOM_SM6350=y
CONFIG_BLK_DEV_BSGLIB=y
CONFIG_TMPFS_XATTR=y
CONFIG_CRYPTO_KRB5ENC=y
CONFIG_NVMEM_U_BOOT_ENV=y
CONFIG_MTD_GEN_PROBE=y
CONFIG_NFTL=y
CONFIG_PINCTRL_MSM8976=y
CONFIG_IIO_ST_PRESS=y
CONFIG_AW96103=y
CONFIG_SERIAL_QE=y
CONFIG_CC_HAS_KASAN_GENERIC=y
CONFIG_CLK_RK3368=y
CONFIG_CRYPTO_WP512=y
CONFIG_FB_VIRTUAL=y
CONFIG_CC_HAS_ASM_INLINE=y
CONFIG_HX711=y
CONFIG_SENSORS_MP2975=y
CONFIG_GPIO_TPS65912=y
CONFIG_PRINTK=y
CONFIG_NET_SCH_TEQL=y
CONFIG_NFC_MRVL_SPI=y
CONFIG_IOMMU_IOVA=y
CONFIG_CORESIGHT_SOURCE_ETM4X=y
CONFIG_ARCH_SELECTS_KEXEC_FILE=y
CONFIG_TI_ADC161S626=y
CONFIG_XILLYBUS=y
CONFIG_AD5592R=y
CONFIG_JSA1212=y
CONFIG_TSL2591=y
CONFIG_ARCH_WANT_HUGE_PMD_SHARE=y
CONFIG_MMC_STM32_SDMMC=y
CONFIG_THERMAL_GOV_STEP_WISE=y
CONFIG_COMMON_CLK_SCMI=y
CONFIG_SENSORS_Q54SJ108A2=y
CONFIG_LIBFDT=y
CONFIG_CORESIGHT=y
CONFIG_CRYPTO_MANAGER2=y
CONFIG_ARCH_K3=y
CONFIG_FXAS21002C_SPI=y
CONFIG_FB=y
CONFIG_HAVE_GCC_PLUGINS=y
CONFIG_SYSCTL_EXCEPTION_TRACE=y
CONFIG_AD7746=y
CONFIG_VL53L0X_I2C=y
CONFIG_NVMEM_REBOOT_MODE=y
CONFIG_GOLDFISH_PIPE=y
CONFIG_PSI=y
CONFIG_ARM_TI_CPUFREQ=y
CONFIG_INITRAMFS_PRESERVE_MTIME=y
CONFIG_POWER_RESET_SYSCON_POWEROFF=y
CONFIG_COMMON_CLK=y
CONFIG_IIO_ST_SENSORS_CORE=y
CONFIG_PINCTRL_SOPHGO_SG2044=y
CONFIG_FW_LOADER=y
CONFIG_GPIO_PL061=y
CONFIG_NVMEM_UNIPHIER_EFUSE=y
CONFIG_IIO_ST_MAGN_3AXIS=y
CONFIG_RANDOMIZE_BASE=y
CONFIG_CPU_FREQ_GOV_USERSPACE=y
CONFIG_HW_RANDOM_VIRTIO=y
CONFIG_DM_VERITY_VERIFY_ROOTHASH_SIG=y
CONFIG_HAVE_ARCH_USERFAULTFD_MINOR=y
CONFIG_INPUT=y
CONFIG_NET_ACT_TUNNEL_KEY=y
CONFIG_RESET_ZYNQMP=y
CONFIG_SUSPEND_FREEZER=y
CONFIG_LKDTM=y
CONFIG_ROMFS_BACKED_BY_MTD=y
CONFIG_SENSORS_EMC1812=y
CONFIG_SENSEAIR_SUNRISE_CO2=y
CONFIG_CRYPTO_CTR=y
CONFIG_DM_SNAPSHOT=y
CONFIG_SENSORS_MAX31790=y
CONFIG_AD5770R=y
CONFIG_BOSCH_BNO055_I2C=y
CONFIG_TI_DAC082S085=y
CONFIG_MEMTEST=y
CONFIG_ARCH_BITMAIN=y
CONFIG_BPF=y
CONFIG_SENSORS_PECI_DIMMTEMP=y
CONFIG_STACKTRACE=y
CONFIG_INTERCONNECT_QCOM_SM8150=y
CONFIG_POLARFIRE_SOC_SYSCONS=y
CONFIG_THERMAL_DEBUGFS=y
CONFIG_PINCTRL_MT8189=y
CONFIG_MTD_NAND_ECC_SW_BCH=y
CONFIG_LCD2S=y
CONFIG_RMI4_F55=y
CONFIG_MTD_NAND_DISKONCHIP_PROBE_HIGH=y
CONFIG_ARCH_WANT_DEFAULT_TOPDOWN_MMAP_LAYOUT=y
CONFIG_LOCK_SPIN_ON_OWNER=y
CONFIG_PREEMPT_BUILD=y
CONFIG_COMMON_CLK_PXA1908=y
CONFIG_RESET_MESON=y
CONFIG_M62332=y
CONFIG_MTK_LVTS_THERMAL_DEBUGFS=y
CONFIG_BMI323_SPI=y
CONFIG_EROFS_FS_ZIP_DEFLATE=y
CONFIG_ZYNQMP_PM_DOMAINS=y
CONFIG_TOUCHSCREEN_ROHM_BU21023=y
CONFIG_ARCH_UNIPHIER=y
CONFIG_I2C_MUX_GPMUX=y
CONFIG_LEDS_LP8864=y
CONFIG_PHY_QCOM_QMP=y
CONFIG_CHARGER_BQ2415X=y
CONFIG_BLK_MQ_STACKING=y
CONFIG_REGULATOR_MAX77857=y
CONFIG_FB_BACKLIGHT=y
CONFIG_UCC_SLOW=y
CONFIG_RPMSG_VIRTIO=y
CONFIG_CHARGER_TPS65217=y
CONFIG_HAVE_ARCH_AUDITSYSCALL=y
CONFIG_MFD_MAX77714=y
CONFIG_QCOM_RPMPD=y
CONFIG_CRYPTO_XTS=y
CONFIG_IPMB_DEVICE_INTERFACE=y
CONFIG_SENSORS_UCD9000=y
CONFIG_PPS=y
CONFIG_LEDS_TRIGGER_CAMERA=y
CONFIG_COMMON_CLK_MESON_REGMAP=y
CONFIG_MXC4005=y
CONFIG_AD7780=y
CONFIG_PINCTRL_SOPHGO_SG2002=y
CONFIG_MFD_MT6370=y
CONFIG_RTC_DRV_M48T59=y
CONFIG_SENSORS_ASC7621=y
CONFIG_MTD_NAND_CORE=y
CONFIG_US5182D=y
CONFIG_CHARLCD=y
CONFIG_SD_ADC_MODULATOR=y
CONFIG_SENSORS_W83791D=y
CONFIG_RTC_DRV_MAX6902=y
CONFIG_INIT_STACK_ALL_ZERO=y
CONFIG_ADMV8818=y
CONFIG_MEMSTICK_DEBUG=y
CONFIG_LEDS_RT4505=y
CONFIG_SPI_SLAVE_TIME=y
CONFIG_NLS_ISO8859_5=y
CONFIG_DEVFREQ_GOV_PASSIVE=y
CONFIG_ARCH_HAS_UBSAN=y
CONFIG_PKCS8_PRIVATE_KEY_PARSER=y
CONFIG_MAX63XX_WATCHDOG=y
CONFIG_ARCH_SUPPORTS_KEXEC=y
CONFIG_GCC10_NO_ARRAY_BOUNDS=y
CONFIG_W1_SLAVE_DS2780=y
CONFIG_CRYPTO_CHACHA20POLY1305=y
CONFIG_HAVE_PREEMPT_DYNAMIC=y
CONFIG_REGULATOR_MAX8660=y
CONFIG_NVMEM_ROCKCHIP_OTP=y
CONFIG_CHARGER_LP8727=y
CONFIG_BLK_DEV_MD=y
CONFIG_ALS31300=y
CONFIG_SERIAL_8250_MT6577=y
CONFIG_HAVE_ARCH_MMAP_RND_BITS=y
CONFIG_ARCH_THUNDER=y
CONFIG_BLK_WBT_MQ=y
CONFIG_RTC_DRV_PM8XXX=y
CONFIG_FW_UPLOAD=y
CONFIG_SENSORS_MAX6620=y
CONFIG_SPI_ALTERA=y
CONFIG_RTC_DRV_RV8803=y
CONFIG_RT_MUTEXES=y
CONFIG_CRYPTO_LIB_BLAKE2B=y
CONFIG_PROC_SYSCTL=y
CONFIG_GPIO_XGENE=y
CONFIG_REGULATOR_MAX8907=y
CONFIG_BLK_INLINE_ENCRYPTION_FALLBACK=y
CONFIG_MAXIM_THERMOCOUPLE=y
CONFIG_SPI_XILINX=y
CONFIG_INTEL_TH=y
CONFIG_SOPHGO_SG2044_TOPSYS=y
CONFIG_MTD_MTDRAM=y
CONFIG_VIRT_CPU_ACCOUNTING_GEN=y
CONFIG_WANT_DEV_COREDUMP=y
CONFIG_LEDS_BD2606MVV=y
CONFIG_VCNL4035=y
CONFIG_QUICC_ENGINE=y
CONFIG_CRYPTO_DEV_ZYNQMP_SHA3=y
CONFIG_PARTITION_ADVANCED=y
CONFIG_TCG_TIS=y
CONFIG_CONFIGFS_FS=y
CONFIG_COMMON_CLK_MESON_PHASE=y
CONFIG_HIBERNATE_CALLBACKS=y
CONFIG_GENERIC_ALLOCATOR=y
CONFIG_POSIX_TIMERS=y
CONFIG_SENSORS_W83L785TS=y
CONFIG_AD7923=y
CONFIG_SERIAL_CORE_CONSOLE=y
CONFIG_INTERCONNECT_QCOM_SM8550=y
CONFIG_I2C_HISI=y
CONFIG_SPI_MTK_NOR=y
CONFIG_ISL76682=y
CONFIG_CONTIG_ALLOC=y
CONFIG_ARCH_HAS_FAST_MULTIPLIER=y
CONFIG_W1_SLAVE_DS250X=y
CONFIG_ASYNC_XOR=y
CONFIG_CRYPTO_HASH2=y
CONFIG_SENSORS_SPARX5=y
CONFIG_CRYPTO_AES_ARM64_CE_BLK=y
CONFIG_SPI_MUX=y
CONFIG_BT_MTKSDIO=y
CONFIG_EFI_PARTITION=y
CONFIG_REGULATOR_RASPBERRYPI_TOUCHSCREEN_V2=y
CONFIG_MTD_MAP_BANK_WIDTH_1=y
CONFIG_IO_URING_BPF=y
CONFIG_GPIO_TN48M_CPLD=y
CONFIG_ARM_MHU=y
CONFIG_PINCTRL_SDX75=y
CONFIG_MCP4728=y
CONFIG_NLS_MAC_CROATIAN=y
CONFIG_RTC_NVMEM=y
CONFIG_CC_HAS_ASM_GOTO_OUTPUT=y
CONFIG_XEN_GRANT_DMA_ALLOC=y
CONFIG_INTERCONNECT_QCOM_SM8750=y
CONFIG_TSYS01=y
CONFIG_MFD_MAX77686=y
CONFIG_RTC_DRV_DA9052=y
CONFIG_I2C_DEBUG_BUS=y
CONFIG_CRYPTO_SM4_ARM64_NEON_BLK=y
CONFIG_NET_SCH_NETEM=y
CONFIG_MAG3110=y
CONFIG_SQUASHFS_4K_DEVBLK_SIZE=y
CONFIG_CRYPTO_LIB_SM3_ARCH=y
CONFIG_LEDS_TRIGGER_TIMER=y
CONFIG_CRYPTO_DH_RFC7919_GROUPS=y
CONFIG_TTY=y
CONFIG_GPIO_ZYNQ=y
CONFIG_IPMI_POWEROFF=y
CONFIG_ARCH_KEEP_MEMBLOCK=y
CONFIG_COMMON_CLK_MT6735_IMGSYS=y
CONFIG_TOUCHSCREEN_MMS114=y
CONFIG_INTERCONNECT_QCOM=y
CONFIG_NVIDIA_CORESIGHT_PMU_ARCH_SYSTEM_PMU=y
CONFIG_BACKLIGHT_LV5207LP=y
CONFIG_REGULATOR_88PM800=y
CONFIG_SYSFS_SYSCALL=y
CONFIG_ARCH_USE_QUEUED_SPINLOCKS=y
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_ARGS=y
CONFIG_SERIAL_CONEXANT_DIGICOLOR_CONSOLE=y
CONFIG_CONTEXT_TRACKING_USER_FORCE=y
CONFIG_STM32_DFSDM_ADC=y
CONFIG_ARCH_HAS_NMI_SAFE_THIS_CPU_OPS=y
CONFIG_COMMON_CLK_MT8195_SCP_ADSP=y
CONFIG_COMMON_CLK_MT8365_VDEC=y
CONFIG_GENERIC_CPU_DEVICES=y
CONFIG_MMC_USDHI6ROL0=y
CONFIG_CEC_NXP_TDA9950=y
CONFIG_REGULATOR_VIRTUAL_CONSUMER=y
CONFIG_XILINX_WATCHDOG=y
CONFIG_SENSORS_LM73=y
CONFIG_MFD_CS47L15=y
CONFIG_ZSWAP_SHRINKER_DEFAULT_ON=y
CONFIG_HUGETLBFS=y
CONFIG_RUSTC_HAS_SPAN_FILE=y
CONFIG_FB_SYSMEM_HELPERS_DEFERRED=y
CONFIG_MTK_MFG_PM_DOMAIN=y
CONFIG_SENSORS_MPQ7932=y
CONFIG_HW_RANDOM_ARM_SMCCC_TRNG=y
CONFIG_MFD_INTEL_M10_BMC_CORE=y
CONFIG_PA12203001=y
CONFIG_NET_SCH_FQ_PIE=y
CONFIG_PHY_MESON_G12A_USB2=y
CONFIG_MARVELL_CN10K_TAD_PMU=y
CONFIG_BMC150_ACCEL_I2C=y
CONFIG_GENERIC_IRQ_SHOW_LEVEL=y
CONFIG_BCH=y
CONFIG_ZONE_DMA=y
CONFIG_MFD_TI_LP87565=y
CONFIG_SERIAL_FSL_LINFLEXUART=y
CONFIG_DEVFREQ_EVENT_ROCKCHIP_DFI=y
CONFIG_NET_ACT_MIRRED=y
CONFIG_CRYPTO_LIB_SHA1=y
CONFIG_MMU=y
CONFIG_CRYPTO_LIB_SHA3_ARCH=y
CONFIG_IOMMU_IO_PGTABLE_DART=y
CONFIG_PID_NS=y
CONFIG_INTERCONNECT_QCOM_RPMH_POSSIBLE=y
CONFIG_ROMFS_ON_MTD=y
CONFIG_CHARGER_ADP5061=y
CONFIG_IIO_BUFFER_HW_CONSUMER=y
CONFIG_ALTERA_MBOX=y
CONFIG_COMMON_CLK_VISCONTI=y
CONFIG_CRYPTO_LIB_SHA256_ARCH=y
CONFIG_ADXL367=y
CONFIG_BH1750=y
CONFIG_SPI_ROCKCHIP_SFC=y
CONFIG_SPI_OC_TINY=y
CONFIG_GENERIC_HWEIGHT=y
CONFIG_GAMEPORT=y
CONFIG_REED_SOLOMON_DEC8=y
CONFIG_HAVE_ARCH_KSTACK_ERASE=y
CONFIG_CRYPTO_BLOWFISH_COMMON=y
CONFIG_MLX90614=y
CONFIG_REGULATOR_HI6421V530=y
CONFIG_NET_ACT_SIMP=y
CONFIG_SENSORS_SY7636A=y
CONFIG_RTC_DRV_M48T86=y
CONFIG_MODULES_USE_ELF_RELA=y
CONFIG_COMMON_CLK_MT8365=y
CONFIG_SPI_SIFIVE=y
CONFIG_QNX6FS_FS=y
CONFIG_PM_WAKELOCKS=y
CONFIG_CLK_SOPHGO_SG2044_PLL=y
CONFIG_ARCH_SUPPORTS_KEXEC_IMAGE_VERIFY_SIG=y
CONFIG_DUMMY_CONSOLE=y
CONFIG_TI_MESSAGE_MANAGER=y
CONFIG_MD=y
CONFIG_STM_SOURCE_HEARTBEAT=y
CONFIG_CRYPTO_ZSTD=y
CONFIG_MTD_PHYSMAP_COMPAT=y
CONFIG_CAVIUM_TX2_ERRATUM_219=y
CONFIG_CRYPTO_KPP=y
CONFIG_SPI_AXIADO=y
CONFIG_GPIO_DA9052=y
CONFIG_MFD_DA9052_SPI=y
CONFIG_SERIAL_FSL_LPUART=y
CONFIG_RTC_DRV_DS3232=y
CONFIG_MAX1363=y
CONFIG_XEN_FBDEV_FRONTEND=y
CONFIG_SENSORS_XDP710=y
CONFIG_PINCTRL_MILOS=y
CONFIG_CPU_ISOLATION=y
CONFIG_REGULATOR_MAX8893=y
CONFIG_MPL115_SPI=y
CONFIG_ARCH_ENABLE_MEMORY_HOTPLUG=y
CONFIG_MFD_SIMPLE_MFD_I2C=y
CONFIG_CRASH_DM_CRYPT_CONFIGS=y
CONFIG_RTC_DRV_EFI=y
CONFIG_ADMFM2000=y
CONFIG_PINCTRL_MTK_V2=y
CONFIG_GENERIC_IOREMAP=y
CONFIG_INV_MPU6050_IIO=y
CONFIG_MAX1027=y
CONFIG_CC_HAS_AUTO_VAR_INIT_PATTERN=y
CONFIG_DM_VERITY=y
CONFIG_TOUCHSCREEN_AUO_PIXCIR=y
CONFIG_IIO=y
CONFIG_ADI_I3C_MASTER=y
CONFIG_CRYPTO_LIB_SHA256=y
CONFIG_GENERIC_CALIBRATE_DELAY=y
CONFIG_MITIGATE_SPECTRE_BRANCH_HISTORY=y
CONFIG_ADIS16209=y
CONFIG_PM_DEVFREQ=y
CONFIG_MCP320X=y
CONFIG_SERIAL_8250_DETECT_IRQ=y
CONFIG_RTC_LIB=y
CONFIG_CHARGER_PM8916_LBC=y
CONFIG_COMEDI_TESTS_NI_ROUTES=y
CONFIG_COMMON_CLK_MESON_MPLL=y
CONFIG_BACKLIGHT_QCOM_WLED=y
CONFIG_RD_LZ4=y
CONFIG_MTD_CFI_I2=y
CONFIG_TSL2772=y
CONFIG_JOYSTICK_WARRIOR=y
CONFIG_REGULATOR_GPIO=y
CONFIG_AD2S1200=y
CONFIG_CLK_SOPHGO_SG2042_PLL=y
CONFIG_MSPRO_BLOCK=y
CONFIG_PINCTRL_MT7988=y
CONFIG_CRC_CCITT=y
CONFIG_BLK_CGROUP_PUNT_BIO=y
CONFIG_GPIO_LINE_MUX=y
CONFIG_SERIAL_OF_PLATFORM=y
CONFIG_I2C_MV64XXX=y
CONFIG_SENSORS_SHT15=y
CONFIG_XZ_DEC_POWERPC=y
CONFIG_MFD_CS42L43_I2C=y
CONFIG_TI_ADS8344=y
CONFIG_HAVE_CLK_PREPARE=y
CONFIG_EEPROM_93XX46=y
CONFIG_CRYPTO_CCM=y
CONFIG_TMP007=y
CONFIG_REGULATOR_RASPBERRYPI_TOUCHSCREEN_ATTINY=y
CONFIG_SPRD_WATCHDOG=y
CONFIG_DM_ZONED=y
CONFIG_IEEE802154=y
CONFIG_RPMB=y
CONFIG_DEBUG_FS_ALLOW_NONE=y
CONFIG_QCOM_GENI_SE=y
CONFIG_XILLYBUS_CLASS=y
CONFIG_BEFS_FS=y
CONFIG_SENSORS_LM70=y
CONFIG_GPIO_SIM=y
CONFIG_LEDS_TRIGGER_PATTERN=y
CONFIG_CPM_TSA=y
CONFIG_COMMON_CLK_MEDIATEK=y
CONFIG_QCOM_SPMI_ADC5_GEN3=y
CONFIG_PINCTRL_IPQ5210=y
CONFIG_CROS_EC_WATCHDOG=y
CONFIG_BT_BNEP=y
CONFIG_FS_IOMAP=y
CONFIG_TOUCHSCREEN_ZINITIX=y
CONFIG_ARM_MHU_V3=y
CONFIG_CLKSRC_MMIO=y
CONFIG_I2C_PXA=y
CONFIG_CRYPTO_ESSIV=y
CONFIG_CRYPTO_DEV_TI_DTHEV2=y
CONFIG_HAVE_EFFICIENT_UNALIGNED_ACCESS=y
CONFIG_TI_DAC7612=y
CONFIG_PKCS7_MESSAGE_PARSER=y
CONFIG_STM32_DAC=y
CONFIG_MSDOS_FS=y
CONFIG_FILE_LOCKING=y
CONFIG_MTD_ONENAND_OTP=y
CONFIG_MAX30208=y
CONFIG_SENSORS_ADM1025=y
CONFIG_NEW_LEDS=y
CONFIG_LINEAR_RANGES=y
CONFIG_PHY_QCOM_QMP_UFS=y
CONFIG_UBIFS_FS_LZO=y
CONFIG_OPT3001=y
CONFIG_HP03=y
CONFIG_ARM_SCMI_PROTOCOL=y
CONFIG_CRYPTO_AEAD2=y
CONFIG_GENERIC_ARCH_NUMA=y
CONFIG_PERF_EVENTS=y
CONFIG_GCC_SUPPORTS_DYNAMIC_FTRACE_WITH_ARGS=y
CONFIG_MFD_SMPRO=y
CONFIG_RTC_DRV_DS1343=y
CONFIG_NET_ACT_NAT=y
CONFIG_CROS_EC_SENSORHUB=y
CONFIG_ENCRYPTED_KEYS=y
CONFIG_SENSORS_WM831X=y
CONFIG_MD_RAID1=y
CONFIG_MFD_GATEWORKS_GSC=y
CONFIG_SQUASHFS_FILE_DIRECT=y
CONFIG_PHY_STM32_COMBOPHY=y
CONFIG_ZPA2326_SPI=y
CONFIG_I2C_VIRTIO=y
CONFIG_NET=y
CONFIG_SENSORS_AXI_FAN_CONTROL=y
CONFIG_ENVELOPE_DETECTOR=y
CONFIG_CPUFREQ_VIRT=y
CONFIG_SENSORS_ADP1050=y
CONFIG_ROCKCHIP_IODOMAIN=y
CONFIG_NLS_MAC_INUIT=y
CONFIG_MS_BLOCK=y
CONFIG_NTSYNC=y
CONFIG_I2C_MUX_MULE=y
CONFIG_ARCH_HAS_KERNEL_FPU_SUPPORT=y
CONFIG_CRYPTO_SM4=y
CONFIG_ARM64_LPA2=y
CONFIG_MFD_MAX77759=y
