CONFIG_RTC_DRV_DS1307=n
CONFIG_DP83867_PHY=n
CONFIG_ARCH_HAS_KCOV=n
CONFIG_COMMON_CLK_MESON_CPU_DYNDIV=n
CONFIG_SYSCON_REBOOT_MODE=n
CONFIG_BACKLIGHT_APPLE_DWI=n
CONFIG_NEED_KVM_DIRTY_RING_WITH_BITMAP=n
CONFIG_BLK_DEV_BSG=n
CONFIG_DRM_VC4=n
CONFIG_IPQ_GCC_8074=n
CONFIG_EXYNOS_PM_DOMAINS=n
CONFIG_MOUSE_PS2=n
CONFIG_CRYPTO_GCM=n
CONFIG_DRM_RCAR_VSP=n
CONFIG_IOSCHED_BFQ=n
CONFIG_SECCOMP=n
CONFIG_SYSCTL_EXCEPTION_TRACE=n
CONFIG_CLK_X1E80100_DISPCC=n
CONFIG_RENESAS_WDT=n
CONFIG_ELFCORE=n
CONFIG_ATA_SFF=n
CONFIG_USB_DWC3_PCI=n
CONFIG_MEMORY=n
CONFIG_SM_GCC_8750=n
CONFIG_HAVE_SETUP_PER_CPU_AREA=n
CONFIG_SND_USB_AUDIO_USE_MEDIA_CONTROLLER=n
CONFIG_FPGA_MGR_VERSAL_FPGA=n
CONFIG_QCOM_RPROC_COMMON=n
CONFIG_MTD_CFI_STAA=n
CONFIG_SPI_QCOM_GENI=n
CONFIG_NF_DEFRAG_IPV6=n
CONFIG_DEVTMPFS_MOUNT=n
CONFIG_SPI_BITBANG=n
CONFIG_PER_VMA_LOCK=n
CONFIG_EFI_CUSTOM_SSDT_OVERLAYS=n
CONFIG_MMC_BLOCK=n
CONFIG_CRYPTO_CTR=n
CONFIG_SG_SPLIT=n
CONFIG_AS_HAS_NON_CONST_ULEB128=n
CONFIG_PCI_PWRCTRL=n
CONFIG_QCOM_OCMEM=n
CONFIG_INTERCONNECT_IMX8MN=n
CONFIG_COMMON_CLK_MT8188_MFGCFG=n
CONFIG_DEBUG_INFO_REDUCED=n
CONFIG_DRM_DISPLAY_CONNECTOR=n
CONFIG_ARM64_ERRATUM_4193714=n
CONFIG_SC_GCC_7180=n
CONFIG_SND_SOC_MSIOF=n
CONFIG_USB_F_NCM=n
CONFIG_BT_HCIRSI=n
CONFIG_VIDEO_WAVE_VPU=n
CONFIG_CMA_SIZE_SEL_MBYTES=n
CONFIG_FONT_SUPPORT=n
CONFIG_PHY_QCOM_EUSB2_REPEATER=n
CONFIG_HAVE_PREEMPT_DYNAMIC=n
CONFIG_RFKILL_LEDS=n
CONFIG_NVMEM_SNVS_LPGPR=n
CONFIG_VIDEO_SYNOPSYS_HDMIRX=n
CONFIG_RCU_STALL_COMMON=n
CONFIG_ARCH_ACTIONS=n
CONFIG_PHY_TI_GMII_SEL=n
CONFIG_UNION_FIND=n
CONFIG_SND_SOC_SOF_OF=n
CONFIG_HAS_DMA=n
CONFIG_EXYNOS_ARM64_COMMON_CLK=n
CONFIG_NETFILTER_XT_MATCH_CONNTRACK=n
CONFIG_NVMEM_MESON_EFUSE=n
CONFIG_BLK_DEV_INTEGRITY=n
CONFIG_DRM_TOSHIBA_TC358767=n
CONFIG_GENERIC_SMP_IDLE_THREAD=n
CONFIG_MTK_DEVAPC=n
CONFIG_PTP_1588_CLOCK=n
CONFIG_VIDEO_HANTRO_IMX8M=n
CONFIG_MFD_MACSMC=n
CONFIG_IPQ_GCC_9574=n
CONFIG_USB_CDNS3_HOST=n
CONFIG_NETFILTER_BPF_LINK=n
CONFIG_BT_QCOMSMD=n
CONFIG_COMMON_CLK_MT8196_VENCSYS=n
CONFIG_IMX_SCMI_CPU_DRV=n
CONFIG_USB_SERIAL_CP210X=n
CONFIG_SUN55I_A523_R_CCU=n
CONFIG_MISC_RP1=n
CONFIG_PINCTRL_S700=n
CONFIG_MVEBU_ODMI=n
CONFIG_SND_HDA_CODEC_HDMI_TEGRA=n
CONFIG_SYSC_R9A08G045=n
CONFIG_COMMON_CLK_MT8183_CAMSYS=n
CONFIG_ARCH_RCAR_GEN5=n
CONFIG_RPCSEC_GSS_KRB5=n
CONFIG_DRM_EXYNOS_HDMI=n
CONFIG_COMMON_CLK_MT8188_WPESYS=n
CONFIG_NET_SCH_CBS=n
CONFIG_PHY_EXYNOS_MIPI_VIDEO=n
CONFIG_SCSI_COMMON=n
CONFIG_ARCH_REALTEK=n
CONFIG_FEC=n
CONFIG_CLK_UNIPHIER=n
CONFIG_ASSOCIATIVE_ARRAY=n
CONFIG_VIDEO_E5010_JPEG_ENC=n
CONFIG_RANDOMIZE_BASE=n
CONFIG_MDIO_BCM_UNIMAC=n
CONFIG_PINCTRL_BCM4908=n
CONFIG_PINCTRL_TEGRA238=n
CONFIG_GENERIC_STRNCPY_FROM_USER=n
CONFIG_COMMON_CLK_QCOM=n
CONFIG_USB_PCI=n
CONFIG_ACPI_BATTERY=n
CONFIG_CAN_RX_OFFLOAD=n
CONFIG_IIO_ST_MAGN_I2C_3AXIS=n
CONFIG_CHARGER_BQ25890=n
CONFIG_MODULES=n
CONFIG_ARCH_WANT_LD_ORPHAN_WARN=n
CONFIG_SYSC_RZ=n
CONFIG_TI_SCI_INTA_MSI_DOMAIN=n
CONFIG_FPGA_MGR_ZYNQMP_FPGA=n
CONFIG_COMMON_RESET_HI6220=n
CONFIG_SND_SOC_WM8960=n
CONFIG_I2C_PXA=n
CONFIG_ARCH_R8A77995=n
CONFIG_IO_WQ=n
CONFIG_USB_NET_SMSC75XX=n
CONFIG_RTC_DRV_DS3232=n
CONFIG_MMC_SDHCI_BRCMSTB=n
CONFIG_ARCH_DEFAULT_KEXEC_IMAGE_VERIFY_SIG=n
CONFIG_SERIAL_CORE=n
CONFIG_SND_VMASTER=n
CONFIG_DRM_MEDIATEK_HDMI_V2=n
CONFIG_ETHTOOL_NETLINK=n
CONFIG_SND_SOC_QDSP6_PRM=n
CONFIG_ARCH_UNIPHIER=n
CONFIG_ARCH_SUPPORTS_ACPI=n
CONFIG_ATH11K_AHB=n
CONFIG_NFS_V4=n
CONFIG_ARCH_HAS_NON_OVERLAPPING_ADDRESS_SPACE=n
CONFIG_SA_GCC_8775P=n
CONFIG_TASK_IO_ACCOUNTING=n
CONFIG_GPIO_PCF857X=n
CONFIG_PCIEPORTBUS=n
CONFIG_NET_CRC32C=n
CONFIG_USB_STORAGE=n
CONFIG_SND_SOC_SOF_XTENSA=n
CONFIG_COMMON_CLK_MT8186_MMSYS=n
CONFIG_PHY_BRCM_SATA=n
CONFIG_MFD_AXP20X_I2C=n
CONFIG_USB_F_OBEX=n
CONFIG_HAVE_PAGE_SIZE_4KB=n
CONFIG_CRYPTO_LIB_SHA256=n
CONFIG_IMX_SCMI_MISC_DRV=n
CONFIG_IIO_ST_LSM6DSX_SPI=n
CONFIG_CC_HAS_BRANCH_PROT_PAC_RET=n
CONFIG_PL330_DMA=n
CONFIG_REGULATOR_UNIPHIER=n
CONFIG_DRM_EXYNOS7_DECON=n
CONFIG_NPCM7XX_TIMER=n
CONFIG_MTK_LVTS_THERMAL=n
CONFIG_LEGACY_DIRECT_IO=n
CONFIG_PINCTRL_MT8186=n
CONFIG_DRM_CLIENT_DEFAULT_FBDEV=n
CONFIG_BT_MRVL=n
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_ARGS=n
CONFIG_FHANDLE=n
CONFIG_RTC_DRV_BRCMSTB=n
CONFIG_CRYPTO_DEV_FSL_CAAM_CRYPTO_API=n
CONFIG_NVMEM_IMX_OCOTP=n
CONFIG_TYPEC_TPS6598X=n
CONFIG_ARM64_MTE=n
CONFIG_OPTEE_STATIC_PROTMEM_POOL=n
CONFIG_MFD_SEC_CORE=n
CONFIG_QCOM_SMEM_STATE=n
CONFIG_MMC_SPI=n
CONFIG_PATA_TIMINGS=n
CONFIG_SCSI_UFS_CRYPTO=n
CONFIG_ROCKCHIP_ERRATUM_3588001=n
CONFIG_PHY_FSL_SAMSUNG_HDMI_PHY=n
CONFIG_ARM64_ERRATUM_827319=n
CONFIG_ARM64_ERRATUM_1742098=n
CONFIG_COMMON_CLK_PWM=n
CONFIG_MARVELL_GTI_WDT=n
CONFIG_FRAMEBUFFER_CONSOLE=n
CONFIG_RTC_DRV_MT6397=n
CONFIG_CRYPTO_DEV_FSL_DPAA2_CAAM=n
CONFIG_IMX_SCMI_LMM_EXT=n
CONFIG_RZT2H_ADC=n
CONFIG_PINCTRL_DA9062=n
CONFIG_FSL_ENETC_VF=n
CONFIG_TRACE_IRQFLAGS_NMI_SUPPORT=n
CONFIG_RFKILL=n
CONFIG_AHCI_XGENE=n
CONFIG_CRYPTO_DEV_FSL_CAAM_JR=n
CONFIG_SM_DISPCC_8450=n
CONFIG_HID_MULTITOUCH=n
CONFIG_COMMON_CLK_GXBB=n
CONFIG_SND_SOC_COMPRESS=n
CONFIG_MTD_NAND_BRCMNAND_BCMBCA=n
CONFIG_NET_DSA_TAG_BRCM_PREPEND=n
CONFIG_MLX4_DEBUG=n
CONFIG_VT_CONSOLE=n
CONFIG_ARCH_SUPPORTS_UPROBES=n
CONFIG_JUMP_LABEL=n
CONFIG_MARVELL_10G_PHY=n
CONFIG_RPMSG_QCOM_GLINK=n
CONFIG_USB_XHCI_PLATFORM=n
CONFIG_SM_CAMCC_8550=n
CONFIG_MMC_SDHI=n
CONFIG_WATCHDOG_HANDLE_BOOT_ENABLED=n
CONFIG_SM_GPUCC_8150=n
CONFIG_DWMAC_IPQ806X=n
CONFIG_SOC_TI=n
CONFIG_ARCH_R8A77960=n
CONFIG_DMABUF_HEAPS_CMA=n
CONFIG_RENESAS_RPCIF=n
CONFIG_AS_HAS_ARMV8_5=n
CONFIG_PCIE_RCAR_GEN4_EP=n
CONFIG_HAVE_KVM_MSI=n
CONFIG_NET_XGENE=n
CONFIG_DRM_MXS=n
CONFIG_ARM_MHU=n
CONFIG_SERIAL_FSL_LPUART_CONSOLE=n
CONFIG_CRC64_ARCH=n
CONFIG_MTK_UART_APDMA=n
CONFIG_ATH12K=n
CONFIG_COMMON_CLK_HI3798CV200=n
CONFIG_PINCTRL_TEGRA=n
CONFIG_PCIE_MOBIVEIL=n
CONFIG_DRM_MSM_DP=n
CONFIG_CAVIUM_ERRATUM_22375=n
CONFIG_DRM_NOUVEAU_CH7006=n
CONFIG_PCI_MESON=n
CONFIG_MTK_GPUEB_MBOX=n
CONFIG_CONTIG_ALLOC=n
CONFIG_USB_NET_PLUSB=n
CONFIG_CLK_X1E80100_CAMCC=n
CONFIG_ARCH_HAS_SETUP_DMA_OPS=n
CONFIG_XEN_SYS_HYPERVISOR=n
CONFIG_IMX2_WDT=n
CONFIG_ARCH_SUPPORTS_DEBUG_PAGEALLOC=n
CONFIG_HIBERNATE_CALLBACKS=n
CONFIG_DWMAC_SUN55I=n
CONFIG_BRCMSTB_MEMC=n
CONFIG_PCIE_RENESAS_RZG3S_HOST=n
CONFIG_HAVE_SAMPLE_FTRACE_DIRECT_MULTI=n
CONFIG_BLK_DEV_NBD=n
CONFIG_SM_GCC_8350=n
CONFIG_ARM64_ERRATUM_2051678=n
CONFIG_SECTION_MISMATCH_WARN_ONLY=n
CONFIG_CPU_FREQ=n
CONFIG_MUTEX_SPIN_ON_OWNER=n
CONFIG_ZONE_DMA=n
CONFIG_CGROUPS=n
CONFIG_I2C_SMBUS=n
CONFIG_IP_NF_IPTABLES=n
CONFIG_SM_GPUCC_8350=n
CONFIG_COMMON_CLK_STM32MP=n
CONFIG_DRM_PANEL_VISIONOX_VTDR6130=n
CONFIG_SPI_NXP_FLEXSPI=n
CONFIG_COMMON_CLK_HI3519=n
CONFIG_HAS_IOMEM=n
CONFIG_SND_SOC_TEGRA210_SFC=n
CONFIG_ARCH_SUPPORTS_KEXEC_SIG=n
CONFIG_NET_CLS_FLOWER=n
CONFIG_CRYPTO_LIB_AES_ARCH=n
CONFIG_ARM64_ERRATUM_845719=n
CONFIG_CLK_RK3576=n
CONFIG_CRYPTO_DEV_FSL_CAAM=n
CONFIG_PINCTRL_SUN50I_H5=n
CONFIG_MDIO_REGMAP=n
CONFIG_USB_XHCI_PCI_RENESAS=n
CONFIG_COMMON_CLK_MT8183_IPU_CORE0=n
CONFIG_MFD_BD9571MWV=n
CONFIG_PCIE_LAYERSCAPE_GEN4=n
CONFIG_ARCH_BRCMSTB=n
CONFIG_COMMON_CLK_MT8188_ADSP_AUDIO26M=n
CONFIG_PCIE_XILINX_CPM=n
CONFIG_USB_BRCMSTB=n
CONFIG_PID_NS=n
CONFIG_I2C_BOARDINFO=n
CONFIG_ARCH_INTEL_SOCFPGA=n
CONFIG_IO_URING_ZCRX=n
CONFIG_MTD_RAW_NAND=n
CONFIG_UVC_COMMON=n
CONFIG_MFD_HI655X_PMIC=n
CONFIG_MESON_SARADC=n
CONFIG_COMMON_CLK_MESON_VCLK=n
CONFIG_RZG2L_ADC=n
CONFIG_QCOM_HIDMA=n
CONFIG_IRQ_BYPASS_MANAGER=n
CONFIG_COREDUMP=n
CONFIG_SND_SOC_RT5682=n
CONFIG_ARCH_R9A09G056=n
CONFIG_SENSORS_PWM_FAN=n
CONFIG_ARCH_RENESAS=n
CONFIG_IPC_NS=n
CONFIG_MFD_KHADAS_MCU=n
CONFIG_EXTCON=n
CONFIG_PTP_1588_CLOCK_KVM=n
CONFIG_BACKLIGHT_QCOM_WLED=n
CONFIG_DRM_PANEL_BRIDGE=n
CONFIG_NET_VENDOR_MARVELL=n
CONFIG_PINCTRL_QCS404=n
