CONFIG_WLAN_VENDOR_RSI=n
CONFIG_DEBUG_MISC=n
CONFIG_NET_CORE=n
CONFIG_CLK_SOPHGO_SG2042_PLL=n
CONFIG_CRYPTO_ECHAINIV=n
CONFIG_RANDSTRUCT_NONE=n
CONFIG_DECOMPRESS_LZ4=n
CONFIG_CRC16=n
CONFIG_NET_SELFTESTS=n
CONFIG_TIME_NS=n
CONFIG_DRM_DISPLAY_DP_HELPER=n
CONFIG_MMU_LAZY_TLB_REFCOUNT=n
CONFIG_DMA_DECLARE_COHERENT=n
CONFIG_ARCH_HAS_PMEM_API=n
CONFIG_LD_ORPHAN_WARN=n
CONFIG_ARCH_SUPPORTS_KEXEC_PURGATORY=n
CONFIG_CC_NO_STRINGOP_OVERFLOW=n
CONFIG_GENERIC_IOREMAP=n
CONFIG_VXLAN=n
CONFIG_XZ_DEC_SPARC=n
CONFIG_SECURITY_PATH=n
CONFIG_PHY_SUN6I_MIPI_DPHY=n
CONFIG_CRYPTO_SHA256=n
CONFIG_TICK_ONESHOT=n
CONFIG_RUSTC_HAS_SPAN_FILE=n
CONFIG_SND_PROC_FS=n
CONFIG_USB_F_FS=n
CONFIG_RESET_K230=n
CONFIG_PNFS_FLEXFILE_LAYOUT=n
CONFIG_LD_IS_BFD=n
CONFIG_CRYPTO_AKCIPHER2=n
CONFIG_ACPI_MDIO=n
CONFIG_GENERIC_CSUM=n
CONFIG_STACKPROTECTOR_PER_TASK=n
CONFIG_HAVE_ARCH_JUMP_LABEL=n
CONFIG_CPUFREQ_DT=n
CONFIG_ARCH_HAS_SETUP_DMA_OPS=n
CONFIG_CAN_RAW=n
CONFIG_SERIAL_OF_PLATFORM=n
CONFIG_INET_ESP=n
CONFIG_NET_VENDOR_CORTINA=n
CONFIG_GPIO_SPACEMIT_K1=n
CONFIG_MEMCG=n
CONFIG_FW_CACHE=n
CONFIG_PINCTRL_STARFIVE_JH7110=n
CONFIG_CPU_RMAP=n
CONFIG_ARCH_SUPPORTS_LTO_CLANG=n
CONFIG_GENERIC_IRQ_SHOW_LEVEL=n
CONFIG_BLK_DEV_DM=n
CONFIG_BLK_DEV_BSG=n
CONFIG_SERIO=n
CONFIG_NET_VENDOR_NATSEMI=n
CONFIG_KEYBOARD_ATKBD=n
CONFIG_XFRM=n
CONFIG_FS_IOMAP=n
CONFIG_CONSOLE_TRANSLATIONS=n
CONFIG_BPF_SYSCALL=n
CONFIG_ARCH_WANT_DEFAULT_TOPDOWN_MMAP_LAYOUT=n
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST=n
CONFIG_PNP=n
CONFIG_HAVE_CLK=n
CONFIG_NO_HZ_COMMON=n
CONFIG_NET_VENDOR_SOLARFLARE=n
CONFIG_SUSPEND_FREEZER=n
CONFIG_DWMAC_STARFIVE=n
CONFIG_ARCH_HAS_DMA_PREP_COHERENT=n
CONFIG_USB_PCI=n
CONFIG_PHY_SPACEMIT_K1_PCIE=n
CONFIG_HAVE_PREEMPT_DYNAMIC=n
CONFIG_SUN6I_MSGBOX=n
CONFIG_CPU_FREQ_STAT=n
CONFIG_RCU_STALL_COMMON=n
CONFIG_CPU_FREQ_GOV_USERSPACE=n
CONFIG_DEBUG_INFO_NONE=n
CONFIG_SND_JACK=n
CONFIG_IPV6_NDISC_NODETYPE=n
CONFIG_CRYPTO_KPP=n
CONFIG_SPARSEMEM_EXTREME=n
CONFIG_NET_VENDOR_RENESAS=n
CONFIG_WLAN_VENDOR_TI=n
CONFIG_REGULATOR_SUN20I=n
CONFIG_IIO=n
CONFIG_HAVE_KVM_DIRTY_RING=n
CONFIG_REGMAP_IRQ=n
CONFIG_CC_HAS_MULTIDIMENSIONAL_NONSTRING=n
CONFIG_EXT4_FS_POSIX_ACL=n
CONFIG_OF_ADDRESS=n
CONFIG_USB_U_ETHER=n
CONFIG_CC_HAS_KASAN_GENERIC=n
CONFIG_NET_VENDOR_CHELSIO=n
CONFIG_ATA_SFF=n
CONFIG_WLAN_VENDOR_ST=n
CONFIG_SHMEM=n
CONFIG_ARCH_ANDES=n
CONFIG_FTRACE=n
CONFIG_ARCH_DMA_ADDR_T_64BIT=n
CONFIG_HVC_DRIVER=n
CONFIG_TOOLCHAIN_HAS_ZACAS=n
CONFIG_SPARSEMEM_VMEMMAP_ENABLE=n
CONFIG_USB_CDNS3_HOST=n
CONFIG_CPU_FREQ_DEFAULT_GOV_PERFORMANCE=n
CONFIG_PID_NS=n
CONFIG_USB_HID=n
CONFIG_CRYPTO_KPP2=n
CONFIG_PAGE_POOL=n
CONFIG_CLK_ANALOGBITS_WRPLL_CLN28HPC=n
CONFIG_INTEGRITY_AUDIT=n
CONFIG_JH71XX_PMU=n
CONFIG_PROFILING=n
CONFIG_ARCH_ENABLE_HUGEPAGE_MIGRATION=n
CONFIG_ARCH_SUPPORTS_PER_VMA_LOCK=n
CONFIG_HAVE_FUNCTION_ERROR_INJECTION=n
CONFIG_IP_PNP_BOOTP=n
CONFIG_AS_HAS_OPTION_ARCH=n
CONFIG_MTD_OF_PARTS=n
CONFIG_PINCTRL_SUNXI=n
CONFIG_GROUP_SCHED_BANDWIDTH=n
CONFIG_WLAN_VENDOR_SILABS=n
CONFIG_SOFTIRQ_ON_OWN_STACK=n
CONFIG_PERF_EVENTS=n
CONFIG_RTC_LIB=n
CONFIG_REGULATOR_SPACEMIT_P1=n
CONFIG_MII=n
CONFIG_MTD_CFI_I1=n
CONFIG_CRYPTO_LIB_AES=n
CONFIG_SATA_AHCI=n
CONFIG_DMA_VIRTUAL_CHANNELS=n
CONFIG_CRYPTO_SEQIV=n
CONFIG_ACPI_SPCR_TABLE=n
CONFIG_TRACEFS_AUTOMOUNT_DEPRECATED=n
CONFIG_RCU_NEED_SEGCBLIST=n
CONFIG_BUG=n
CONFIG_SENSORS_SFCTEMP=n
CONFIG_SPI_FSL_QUADSPI=n
CONFIG_EXPORTFS=n
CONFIG_RISCV_ISA_V=n
CONFIG_R8169=n
CONFIG_PREEMPT_LAZY=n
CONFIG_PINCTRL=n
CONFIG_PCI_LABEL=n
CONFIG_BLK_CGROUP_PUNT_BIO=n
CONFIG_SERIAL_8250_PERICOM=n
CONFIG_ARCH_PROC_KCORE_TEXT=n
CONFIG_DRM_SCHED=n
CONFIG_USB_STORAGE=n
CONFIG_HAVE_DYNAMIC_FTRACE=n
CONFIG_FS_POSIX_ACL=n
CONFIG_USB_UAS=n
CONFIG_NET_FLOW_LIMIT=n
CONFIG_ACPI_PROCESSOR=n
CONFIG_CRYPTO_LIB_SHA1=n
CONFIG_ASSOCIATIVE_ARRAY=n
CONFIG_IP6_NF_MATCH_IPV6HEADER=n
CONFIG_IPC_NS=n
CONFIG_SECCOMP=n
CONFIG_CRYPTO=n
CONFIG_NLS_CODEPAGE_437=n
CONFIG_IRQ_STACKS=n
CONFIG_SPI_SUN6I=n
CONFIG_HAVE_STACKPROTECTOR=n
CONFIG_LZ4_DECOMPRESS=n
CONFIG_FB_DMAMEM_HELPERS_DEFERRED=n
CONFIG_RESET_TENSTORRENT_ATLANTIS=n
CONFIG_IPVLAN=n
CONFIG_RISCV_APLIC_MSI=n
CONFIG_NET_EGRESS=n
CONFIG_NET_VENDOR_ENGLEDER=n
CONFIG_ARCH_HAS_TICK_BROADCAST=n
CONFIG_MFD_CORE=n
CONFIG_DECOMPRESS_XZ=n
CONFIG_HAVE_KCSAN_COMPILER=n
CONFIG_NVMEM_LAYOUTS=n
CONFIG_REGULATOR=n
CONFIG_ARCH_WANT_BATCHED_UNMAP_TLB_FLUSH=n
CONFIG_DMA_ENGINE=n
CONFIG_DWMAC_THEAD=n
CONFIG_ARCH_HAS_KERNEL_FPU_SUPPORT=n
CONFIG_SND_SOC_SPDIF=n
CONFIG_ARCH_WANT_LD_ORPHAN_WARN=n
CONFIG_PAGE_SIZE_4KB=n
CONFIG_MEDIA_SUPPORT=n
CONFIG_CC_HAS_WORKING_NOSANITIZE_ADDRESS=n
CONFIG_AUDITSYSCALL=n
CONFIG_EFI_RUNTIME_WRAPPERS=n
CONFIG_PCI_DOMAINS_GENERIC=n
CONFIG_BPF_EVENTS=n
CONFIG_PATA_TIMINGS=n
CONFIG_HAVE_ARCH_MMAP_RND_COMPAT_BITS=n
CONFIG_SERIAL_8250=n
CONFIG_DWMAC_SUN55I=n
CONFIG_IP_VS_PROTO_UDP=n
CONFIG_NETWORK_FILESYSTEMS=n
CONFIG_SLAB_OBJ_EXT=n
CONFIG_FB_DMAMEM_HELPERS=n
CONFIG_SND=n
CONFIG_RISCV_ISA_VENDOR_EXT_SIFIVE=n
CONFIG_CRYPTO_DEV_ALLWINNER=n
CONFIG_SND_SPI=n
CONFIG_CLK_SOPHGO_SG2042_CLKGEN=n
CONFIG_USB_CONFIGFS_F_FS=n
CONFIG_MMC_SPI=n
CONFIG_TRACING_SUPPORT=n
CONFIG_SPACEMIT_CCU=n
CONFIG_ARCH_FLATMEM_ENABLE=n
CONFIG_NET_VENDOR_SAMSUNG=n
CONFIG_HOTPLUG_CORE_SYNC_DEAD=n
CONFIG_CRYPTO_SKCIPHER=n
CONFIG_GRACE_PERIOD=n
CONFIG_GENERIC_PT=n
CONFIG_MMC_SDHCI_CADENCE=n
CONFIG_DEBUG_KERNEL=n
CONFIG_RPMSG=n
CONFIG_PCIE_DW_HOST=n
CONFIG_PCI_PWRCTRL_GENERIC=n
CONFIG_NOP_USB_XCEIV=n
CONFIG_XZ_DEC_POWERPC=n
CONFIG_ARCH_STARFIVE=n
CONFIG_ZLIB_INFLATE=n
CONFIG_HOTPLUG_PARALLEL=n
CONFIG_CRYPTO_HASH=n
CONFIG_I2C_CHARDEV=n
CONFIG_EXT4_FS_SECURITY=n
CONFIG_PROC_FS=n
CONFIG_SECRETMEM=n
CONFIG_NET_CLS=n
CONFIG_SND_SOC_JH7110_TDM=n
CONFIG_VIRTIO=n
CONFIG_HOTPLUG_CORE_SYNC=n
CONFIG_LEGACY_TIOCSTI=n
CONFIG_FB_IOMEM_FOPS=n
CONFIG_ACPI_THERMAL=n
CONFIG_GENERIC_LIB_DEVMEM_IS_ALLOWED=n
CONFIG_OVERLAY_FS=n
CONFIG_PM_CLK=n
CONFIG_POLARFIRE_SOC_SYSCONS=n
CONFIG_DUMMY=n
CONFIG_USB_XHCI_HCD=n
CONFIG_PNFS_FILE_LAYOUT=n
CONFIG_DTC=n
CONFIG_CGROUP_FREEZER=n
CONFIG_CGROUP_SCHED=n
CONFIG_RISCV_ISA_ZBKB=n
CONFIG_CLK_SIFIVE=n
CONFIG_LDISC_AUTOLOAD=n
CONFIG_NET_VENDOR_MARVELL=n
CONFIG_SMP=n
CONFIG_NET_VENDOR_REALTEK=n
CONFIG_SUN50I_IOMMU=n
CONFIG_TRACEPOINTS=n
CONFIG_CGROUP_CPUACCT=n
CONFIG_FUTEX=n
CONFIG_LINEAR_RANGES=n
CONFIG_HAVE_GIGANTIC_FOLIOS=n
CONFIG_KVM=n
CONFIG_NET_VENDOR_ATHEROS=n
CONFIG_FS_MBCACHE=n
CONFIG_MMU_GATHER_RCU_TABLE_FREE=n
CONFIG_CRYPTO_GCM=n
CONFIG_IP6_NF_IPTABLES=n
CONFIG_DQL=n
CONFIG_GENERIC_STRNLEN_USER=n
CONFIG_SECURITY_APPARMOR_EXPORT_BINARY=n
CONFIG_PCIEASPM_DEFAULT=n
CONFIG_NET_VENDOR_INTEL=n
CONFIG_REGMAP=n
CONFIG_SECURITY_APPARMOR_PARANOID_LOAD=n
CONFIG_USB_OHCI_HCD=n
CONFIG_ERRATA_SIFIVE_CIP_453=n
CONFIG_MTD_SPI_NOR_USE_4K_SECTORS=n
CONFIG_NET_VENDOR_OKI=n
CONFIG_SECCOMP_FILTER=n
CONFIG_PCIE_SPACEMIT_K1=n
CONFIG_SPI_MEM=n
CONFIG_CGROUP_DEVICE=n
CONFIG_NET_VENDOR_META=n
CONFIG_NET_VENDOR_TI=n
CONFIG_COMMON_CLK=n
CONFIG_GPIO_GENERIC=n
CONFIG_HAVE_SAMPLE_FTRACE_DIRECT=n
CONFIG_CRYPTO_USER_API_ENABLE_OBSOLETE=n
CONFIG_LOCKD_V4=n
CONFIG_OF_KOBJ=n
CONFIG_CRYPTO_KRB5=n
CONFIG_ARCH_HAS_UBSAN=n
CONFIG_NET_VENDOR_WANGXUN=n
CONFIG_OF_FLATTREE=n
CONFIG_ELFCORE=n
CONFIG_MDIO_BUS_MUX=n
CONFIG_HW_RANDOM_ATMEL=n
CONFIG_THERMAL_DEFAULT_GOV_STEP_WISE=n
CONFIG_NETFILTER=n
CONFIG_GENERIC_MSI_IRQ=n
CONFIG_GENERIC_PINMUX_FUNCTIONS=n
CONFIG_NET_VENDOR_AGERE=n
CONFIG_NET_NS=n
CONFIG_IRQ_FORCED_THREADING=n
CONFIG_PORTABLE=n
CONFIG_COMPAT_BINFMT_ELF=n
CONFIG_HAVE_POSIX_CPU_TIMERS_TASK_WORK=n
CONFIG_NET_VENDOR_TEHUTI=n
