CONFIG_PROC_KCORE=n
CONFIG_MOUSE_PS2_TRACKPOINT=n
CONFIG_AS_HAS_NON_CONST_ULEB128=n
CONFIG_HAVE_KRETPROBES=n
CONFIG_FWNODE_MDIO=n
CONFIG_BLK_CGROUP=n
CONFIG_XFRM=n
CONFIG_NET_VENDOR_ADAPTEC=n
CONFIG_CRYPTO_AES=n
CONFIG_NET_VENDOR_OKI=n
CONFIG_THERMAL_HWMON=n
CONFIG_USB_OHCI_HCD=n
CONFIG_NET_VENDOR_RDC=n
CONFIG_NET_VENDOR_CORTINA=n
CONFIG_VHOST_ENABLE_FORK_OWNER_CONTROL=n
CONFIG_HAVE_ARCH_SECCOMP_FILTER=n
CONFIG_NETFILTER_XT_MATCH_STATE=n
CONFIG_CGROUP_RDMA=n
CONFIG_EARLY_PRINTK_USB=n
CONFIG_EFI_RUNTIME_MAP=n
CONFIG_IP_PNP_RARP=n
CONFIG_CRYPTO_LIB_SHA512=n
CONFIG_BLK_DEV_MD=n
CONFIG_STACKTRACE=n
CONFIG_STRICT_MODULE_RWX=n
CONFIG_HAS_IOPORT=n
CONFIG_GPIOLIB_LEGACY=n
CONFIG_ARCH_SUPPORTS_HUGETLBFS=n
CONFIG_NET_9P_VIRTIO=n
CONFIG_COMPAT_32BIT_TIME=n
CONFIG_DMI_SCAN_MACHINE_NON_EFI_FALLBACK=n
CONFIG_SCHED_INFO=n
CONFIG_AS_IS_GNU=n
CONFIG_HAVE_CMPXCHG_LOCAL=n
CONFIG_INTEL_GTT=n
CONFIG_COMPACTION=n
CONFIG_POWER_SUPPLY_HWMON=n
CONFIG_RTC_CLASS=n
CONFIG_NET_VENDOR_QUALCOMM=n
CONFIG_ARCH_HAS_CPU_CACHE_INVALIDATE_MEMREGION=n
CONFIG_CRYPTO_HW=n
CONFIG_NET_VENDOR_SOCIONEXT=n
CONFIG_ARCH_SUPPORTS_RT=n
CONFIG_SYSTEM_TRUSTED_KEYRING=n
CONFIG_SWAP=n
CONFIG_9P_FS=n
CONFIG_ACPI_NHLT=n
CONFIG_KCMP=n
CONFIG_TASK_XACCT=n
CONFIG_PM_SLEEP_DEBUG=n
CONFIG_HID_PID=n
CONFIG_IP_ADVANCED_ROUTER=n
CONFIG_QUEUED_SPINLOCKS=n
CONFIG_YENTA=n
CONFIG_WLAN_VENDOR_ATH=n
CONFIG_NET_VENDOR_LITEX=n
CONFIG_AUDIT_GENERIC=n
CONFIG_MSDOS_PARTITION=n
CONFIG_GENERIC_BUG=n
CONFIG_PCMCIA_LOAD_CIS=n
CONFIG_NETFILTER_XT_TARGET_LOG=n
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_DIRECT_CALLS=n
CONFIG_NLS=n
CONFIG_CC_HAS_ASM_GOTO_OUTPUT=n
CONFIG_X86_UMIP=n
CONFIG_MIGRATION=n
CONFIG_BINFMT_MISC=n
CONFIG_X86_CHECK_BIOS_CORRUPTION=n
CONFIG_CRYPTO_ALGAPI=n
CONFIG_SCSI_PROC_FS=n
CONFIG_EFI_RUNTIME_WRAPPERS=n
CONFIG_HAVE_KERNEL_LZO=n
CONFIG_PCI_GOANY=n
CONFIG_LTO_NONE=n
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_REGS=n
CONFIG_ELF_CORE=n
CONFIG_SMP=n
CONFIG_HVC_DRIVER=n
CONFIG_HAVE_HARDLOCKUP_DETECTOR_BUDDY=n
CONFIG_X86_AMD_PSTATE=n
CONFIG_ARCH_SUPPORTS_MEMORY_FAILURE=n
CONFIG_X86_32=n
CONFIG_IP_MROUTE=n
CONFIG_ARCH_USE_QUEUED_SPINLOCKS=n
CONFIG_X86_ACPI_CPUFREQ=n
CONFIG_SND_SEQUENCER=n
CONFIG_VM_EVENT_COUNTERS=n
CONFIG_MACINTOSH_DRIVERS=n
CONFIG_NET_VENDOR_MICROCHIP=n
CONFIG_HID_GYRATION=n
CONFIG_XZ_DEC_ARM=n
CONFIG_COMPAT_32=n
CONFIG_VIRTIO_PCI_ADMIN_LEGACY=n
CONFIG_NET_VENDOR_BROADCOM=n
CONFIG_NFS_V4_0=n
CONFIG_PGTABLE_HAS_HUGE_LEAVES=n
CONFIG_BLK_DEV_INITRD=n
CONFIG_ACPI_BGRT=n
CONFIG_MITIGATION_TSA=n
CONFIG_KEXEC=n
CONFIG_NET_FLOW_LIMIT=n
CONFIG_BLK_PM=n
CONFIG_CRYPTO_SIG2=n
CONFIG_EFI_ESRT=n
CONFIG_EXT4_FS=n
CONFIG_HAVE_EFFICIENT_UNALIGNED_ACCESS=n
CONFIG_HOTPLUG_CORE_SYNC=n
CONFIG_NET=n
CONFIG_SERIAL_8250_MID=n
CONFIG_DECOMPRESS_GZIP=n
CONFIG_NET_SCHED=n
CONFIG_NET_VENDOR_AQUANTIA=n
CONFIG_NEW_LEDS=n
CONFIG_INPUT_MISC=n
CONFIG_RELAY=n
CONFIG_SERIAL_8250=n
CONFIG_YENTA_O2=n
CONFIG_INTEL_TCC=n
CONFIG_PHYLIB=n
CONFIG_ARCH_USE_MEMREMAP_PROT=n
CONFIG_HAVE_SOFTIRQ_ON_OWN_STACK=n
CONFIG_ARCH_HAS_STRICT_KERNEL_RWX=n
CONFIG_RPS=n
CONFIG_INPUT_MOUSE=n
CONFIG_DEFAULT_SECURITY_SELINUX=n
CONFIG_MMU_NOTIFIER=n
CONFIG_X86_DISABLED_FEATURE_SGX=n
CONFIG_HAVE_ARCH_WITHIN_STACK_FRAMES=n
CONFIG_INET_TUNNEL=n
CONFIG_NET_VENDOR_NI=n
CONFIG_THERMAL_DEFAULT_GOV_STEP_WISE=n
CONFIG_VT_CONSOLE_SLEEP=n
CONFIG_SELECT_MEMORY_MODEL=n
CONFIG_HAVE_MMIOTRACE_SUPPORT=n
CONFIG_CRYPTO_AKCIPHER=n
CONFIG_ARCH_HAVE_NMI_SAFE_CMPXCHG=n
CONFIG_CC_HAS_SANE_FUNCTION_ALIGNMENT=n
CONFIG_WLAN=n
CONFIG_WLAN_VENDOR_MEDIATEK=n
CONFIG_BLK_DEV_DM=n
CONFIG_XZ_DEC_RISCV=n
CONFIG_IOMMU_API=n
CONFIG_HID=n
CONFIG_HAVE_KCSAN_COMPILER=n
CONFIG_NF_LOG_IPV6=n
CONFIG_I3C_OR_I2C=n
CONFIG_TREE_SRCU=n
CONFIG_KPROBES=n
CONFIG_X86_REQUIRED_FEATURE_ALWAYS=n
CONFIG_PCI_QUIRKS=n
CONFIG_ARCH_HAS_PTDUMP=n
CONFIG_ROOT_NFS=n
CONFIG_X86_ESPFIX32=n
CONFIG_PCSPKR_PLATFORM=n
CONFIG_MOUSE_PS2_CYPRESS=n
CONFIG_ARCH_MIGHT_HAVE_ACPI_PDC=n
CONFIG_AS_WRUSS=n
CONFIG_VGA_ARB=n
CONFIG_X86_INTEL_TSX_MODE_AUTO=n
CONFIG_HAVE_ARCH_AUDITSYSCALL=n
CONFIG_P2SB=n
CONFIG_ARCH_HAS_CPU_RELAX=n
CONFIG_VIRTIO_MENU=n
CONFIG_PROC_SYSCTL=n
CONFIG_KERNFS=n
CONFIG_GCC_PLUGINS=n
CONFIG_PHY_PACKAGE=n
CONFIG_SND_JACK_INPUT_DEV=n
CONFIG_ARCH_SUPPORTS_KEXEC_SIG=n
CONFIG_MQ_IOSCHED_DEADLINE=n
CONFIG_IOSF_MBI=n
CONFIG_NETLABEL=n
CONFIG_CRYPTO_LIB_MD5=n
CONFIG_NF_CT_NETLINK=n
CONFIG_X86_DISABLED_FEATURE_TDX_GUEST=n
CONFIG_SCHED_SMT=n
CONFIG_PM_TRACE_RTC=n
CONFIG_RETHOOK=n
CONFIG_HAVE_RETHOOK=n
CONFIG_HAVE_BUILDTIME_MCOUNT_SORT=n
CONFIG_HAVE_UID16=n
CONFIG_ARCH_SUPPORTS_KEXEC=n
CONFIG_HAVE_ARCH_PREL32_RELOCATIONS=n
CONFIG_HAVE_ARCH_JUMP_LABEL_RELATIVE=n
CONFIG_HAVE_FUNCTION_GRAPH_FREGS=n
CONFIG_RD_GZIP=n
CONFIG_RING_BUFFER=n
CONFIG_CPU_RMAP=n
CONFIG_ACPI_PROCESSOR_IDLE=n
CONFIG_X86_DISABLED_FEATURE_PKU=n
CONFIG_GENERIC_PCI_IOMAP=n
CONFIG_MMU_GATHER_MERGE_VMAS=n
CONFIG_RFS_ACCEL=n
CONFIG_HAVE_ARCH_MMAP_RND_BITS=n
CONFIG_EFI=n
CONFIG_POSIX_CPU_TIMERS_TASK_WORK=n
CONFIG_DRM_PANEL_BRIDGE=n
CONFIG_IPV6_SIT=n
CONFIG_SERIAL_8250_DWLIB=n
CONFIG_CPU_MITIGATIONS=n
CONFIG_HAVE_ARCH_GET_SECUREBOOT=n
CONFIG_AUDITSYSCALL=n
CONFIG_ISO9660_FS=n
CONFIG_DEVTMPFS=n
CONFIG_TICK_ONESHOT=n
CONFIG_PAGE_POOL=n
CONFIG_NO_HZ=n
CONFIG_USB_ARCH_HAS_HCD=n
CONFIG_X86_HV_CALLBACK_VECTOR=n
CONFIG_ARCH_HAS_CPU_ATTACK_VECTORS=n
CONFIG_SND_PROC_FS=n
CONFIG_SERIAL_CORE_CONSOLE=n
CONFIG_GENERIC_CPU_VULNERABILITIES=n
CONFIG_DRM_VIRTIO_GPU=n
CONFIG_E1000E_HWTS=n
CONFIG_GENERIC_SYSCALL=n
CONFIG_PCI_LABEL=n
CONFIG_X86_DISABLED_FEATURE_PCID=n
CONFIG_SKB_EXTENSIONS=n
CONFIG_RTC_NVMEM=n
CONFIG_FS_POSIX_ACL=n
CONFIG_MSDOS_FS=n
CONFIG_HAVE_GUP_FAST=n
CONFIG_SLUB=n
CONFIG_PREEMPT_RCU=n
CONFIG_LOCK_DEBUGGING_SUPPORT=n
CONFIG_X86_LOCAL_APIC=n
CONFIG_CC_HAS_ASSUME=n
CONFIG_AGP_AMD64=n
CONFIG_NET_VENDOR_WANGXUN=n
CONFIG_NET_VENDOR_XIRCOM=n
CONFIG_IOMMU_IOVA=n
CONFIG_PTP_1588_CLOCK_OPTIONAL=n
CONFIG_RD_LZO=n
CONFIG_KRETPROBE_ON_RETHOOK=n
CONFIG_SND_VERBOSE_PROCFS=n
CONFIG_WLAN_VENDOR_BROADCOM=n
CONFIG_EARLY_PRINTK_DBGP=n
CONFIG_ZLIB_DEFLATE=n
CONFIG_NET_VENDOR_NETRONOME=n
CONFIG_TRACING=n
CONFIG_SCHEDSTATS=n
CONFIG_ARCH_HAS_FORTIFY_SOURCE=n
CONFIG_HID_PANTHERLORD=n
CONFIG_MITIGATION_RFDS=n
CONFIG_TRACEPOINTS=n
CONFIG_SND_INTEL_DSP_CONFIG=n
CONFIG_USB_STORAGE=n
CONFIG_KEYBOARD_ATKBD=n
CONFIG_PERF_EVENTS_AMD_UNCORE=n
CONFIG_X86_ACPI_CPUFREQ_CPB=n
CONFIG_HAVE_ARCH_JUMP_LABEL=n
CONFIG_MOUSE_PS2_LOGIPS2PP=n
CONFIG_MODIFY_LDT_SYSCALL=n
CONFIG_FORCEDETH=n
CONFIG_X86_DISABLED_FEATURE_SYSCALL32=n
CONFIG_PCI=n
CONFIG_BITREVERSE=n
CONFIG_X86_DISABLED_FEATURE_CALL_DEPTH=n
CONFIG_SURFACE_PLATFORMS=n
CONFIG_RUSTC_HAS_SPAN_FILE=n
CONFIG_DMA_SHARED_BUFFER=n
CONFIG_HAVE_ATOMIC_IOMAP=n
CONFIG_SERIAL_8250_RSA=n
CONFIG_RD_LZMA=n
CONFIG_SERIAL_8250_DMA=n
CONFIG_USB_UHCI_HCD=n
CONFIG_VIRTIO_DMA_SHARED_BUFFER=n
CONFIG_BSD_PROCESS_ACCT=n
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO=n
CONFIG_CLOCKSOURCE_WATCHDOG=n
CONFIG_XZ_DEC_SPARC=n
CONFIG_CRYPTO_ECB=n
CONFIG_EXT4_FS_SECURITY=n
CONFIG_INET6_ESP=n
CONFIG_ARCH_HAS_SET_DIRECT_MAP=n
CONFIG_XFRM_ESP=n
CONFIG_TCP_CONG_CUBIC=n
CONFIG_SATA_HOST=n
CONFIG_USER_STACKTRACE_SUPPORT=n
CONFIG_SND_HDA_HWDEP=n
CONFIG_XPS=n
CONFIG_IP_ROUTE_MULTIPATH=n
CONFIG_NETFILTER_EGRESS=n
CONFIG_HAVE_UNSTABLE_SCHED_CLOCK=n
CONFIG_ARCH_SUPPORTS_SCHED_MC=n
CONFIG_HAS_IOMEM=n
CONFIG_HAVE_KERNEL_ZSTD=n
CONFIG_ARCH_HAS_HW_PTE_YOUNG=n
CONFIG_NFS_V3_ACL=n
CONFIG_CPU_SUP_TRANSMETA_32=n
CONFIG_YENTA_TOSHIBA=n
CONFIG_DRM_I915_CAPTURE_ERROR=n
CONFIG_GLOB=n
CONFIG_MD=n
CONFIG_X86_PKG_TEMP_THERMAL=n
CONFIG_PROC_PID_ARCH_STATUS=n
CONFIG_INTEGRITY_AUDIT=n
CONFIG_FAT_FS=n
CONFIG_HAVE_PERF_EVENTS_NMI=n
