CONFIG_RPMSG_CHAR=n
CONFIG_CRYPTO_ENGINE=n
CONFIG_FB_IOMEM_FOPS=n
CONFIG_ETHTOOL_NETLINK=n
CONFIG_PAGE_MAPCOUNT=n
CONFIG_HAVE_CONTEXT_TRACKING_USER=n
CONFIG_NET_CRC32C=n
CONFIG_RISCV_ISA_VENDOR_EXT=n
CONFIG_CLK_STARFIVE_JH7110_PLL=n
CONFIG_BLK_DEV_WRITE_MOUNTED=n
CONFIG_IRQ_DOMAIN=n
CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE=n
CONFIG_RT_MUTEXES=n
CONFIG_STMMAC_ETH=n
CONFIG_CLK_SIFIVE=n
CONFIG_MULTIUSER=n
CONFIG_RISCV_ISA_SVRSW60T59B=n
CONFIG_ACPI_REDUCED_HARDWARE_ONLY=n
CONFIG_CLZ_TAB=n
CONFIG_FILE_LOCKING=n
CONFIG_DWMAC_SUNXI=n
CONFIG_RISCV_ISA_V=n
CONFIG_ARCH_VIRT=n
CONFIG_HAVE_64BIT_ALIGNED_ACCESS=n
CONFIG_SLUB=n
CONFIG_USB_OHCI_HCD=n
CONFIG_NETLINK_DIAG=n
CONFIG_GRACE_PERIOD=n
CONFIG_NETFILTER_XT_MARK=n
CONFIG_VIRTIO_DMA_SHARED_BUFFER=n
CONFIG_CC_HAS_ZERO_CALL_USED_REGS=n
CONFIG_ARCH_HAS_SYNC_CORE_BEFORE_USERMODE=n
CONFIG_CRYPTO_AES=n
CONFIG_DRM_TTM=n
CONFIG_JOLIET=n
CONFIG_ARCH_HAS_MEMBARRIER_SYNC_CORE=n
CONFIG_EXPORTFS=n
CONFIG_ACPI_CPPC_CPUFREQ=n
CONFIG_HAVE_ARCH_KSTACK_ERASE=n
CONFIG_MMC=n
CONFIG_CPU_FREQ_GOV_COMMON=n
CONFIG_LZ4_DECOMPRESS=n
CONFIG_FB_SYS_COPYAREA=n
CONFIG_MTD_MAP_BANK_WIDTH_2=n
CONFIG_NOP_USB_XCEIV=n
CONFIG_DQL=n
CONFIG_RD_XZ=n
CONFIG_I2C_DESIGNWARE_CORE=n
CONFIG_IRQ_FORCED_THREADING=n
CONFIG_DEBUG_FS=n
CONFIG_PCI_PWRCTRL_GENERIC=n
CONFIG_ACPI_MCFG=n
CONFIG_CLK_STARFIVE_JH7100_AUDIO=n
CONFIG_BLK_DEBUG_FS=n
CONFIG_RTC_DRV_GOLDFISH=n
CONFIG_RESET_TENSTORRENT_ATLANTIS=n
CONFIG_CMODEL_MEDANY=n
CONFIG_STMMAC_PLATFORM=n
CONFIG_NET_VENDOR_DEC=n
CONFIG_PAGE_POOL=n
CONFIG_MMP_PDMA=n
CONFIG_IP6_NF_IPTABLES=n
CONFIG_RUSTC_HAS_UNNECESSARY_TRANSMUTES=n
CONFIG_MTD=n
CONFIG_USB_CDNS3=n
CONFIG_WATCHDOG_CORE=n
CONFIG_SND_SOC_SPDIF=n
CONFIG_ARCH_SUPPORTS_PAGE_TABLE_CHECK=n
CONFIG_DRM_BRIDGE=n
CONFIG_CLK_STARFIVE_JH7110_ISP=n
CONFIG_OF_KOBJ=n
CONFIG_SERIAL_8250_DMA=n
CONFIG_LIBNVDIMM=n
CONFIG_ZLIB_INFLATE=n
CONFIG_NET_VENDOR_AGERE=n
CONFIG_SND_DRIVERS=n
CONFIG_USB_EHCI_PCI=n
CONFIG_XOR_BLOCKS=n
CONFIG_OF_GPIO=n
CONFIG_MEMBARRIER=n
CONFIG_ZLIB_DEFLATE=n
CONFIG_PCI_LABEL=n
CONFIG_USB_HID=n
CONFIG_MODULES_USE_ELF_RELA=n
CONFIG_USB_XHCI_HCD=n
CONFIG_SERIAL_OF_PLATFORM=n
CONFIG_POLARFIRE_SOC_SYSCONS=n
CONFIG_DECOMPRESS_LZMA=n
CONFIG_XZ_DEC_RISCV=n
CONFIG_FB_SYSMEM_HELPERS=n
CONFIG_NET_VENDOR_MICROCHIP=n
CONFIG_BLK_DEV_PMEM=n
CONFIG_MACB=n
CONFIG_MEMTEST=n
CONFIG_FUTEX_PRIVATE_HASH=n
CONFIG_RISCV_INTC=n
CONFIG_COMPAT=n
CONFIG_MICROSEMI_PHY=n
CONFIG_HAVE_GENERIC_VDSO=n
CONFIG_MMC_DW=n
CONFIG_IRQ_DOMAIN_HIERARCHY=n
CONFIG_BFQ_GROUP_IOSCHED=n
CONFIG_VIRTIO_PCI=n
CONFIG_PRINTK_TIME=n
CONFIG_SECCOMP_FILTER=n
CONFIG_DMA_SHARED_BUFFER=n
CONFIG_TOOLCHAIN_HAS_ZBC=n
CONFIG_REALTEK_PHY=n
CONFIG_XFRM_USER=n
CONFIG_UNINLINE_SPIN_UNLOCK=n
CONFIG_MTD_CFI_ADV_OPTIONS=n
CONFIG_HW_RANDOM_ATMEL=n
CONFIG_NET_CORE=n
CONFIG_DM_PERSISTENT_DATA=n
CONFIG_IIO=n
CONFIG_VIRTIO_PCI_LEGACY=n
CONFIG_USB_OHCI_LITTLE_ENDIAN=n
CONFIG_GROUP_SCHED_BANDWIDTH=n
CONFIG_USER_NS=n
CONFIG_MMU_GATHER_RCU_TABLE_FREE=n
CONFIG_OVERLAY_FS=n
CONFIG_RAMDAX=n
CONFIG_SUSPEND_FREEZER=n
CONFIG_NET_VENDOR_GOOGLE=n
CONFIG_ARCH_ENABLE_HUGEPAGE_MIGRATION=n
CONFIG_WLAN_VENDOR_ADMTEK=n
CONFIG_IP_VS_NFCT=n
CONFIG_FUTEX_PI=n
CONFIG_DW_AXI_DMAC=n
CONFIG_RESET_STARFIVE_JH7110=n
CONFIG_ARCH_SUPPORTS_CRASH_DUMP=n
CONFIG_RISCV_USER_CFI=n
CONFIG_GENERIC_PT=n
CONFIG_PREVENT_FIRMWARE_BUILD=n
CONFIG_ARM_AMBA=n
CONFIG_EDAC_SUPPORT=n
CONFIG_REGULATOR_GPIO=n
CONFIG_CAN=n
CONFIG_STACKPROTECTOR=n
CONFIG_NET_SOCK_MSG=n
CONFIG_CRYPTO_LIB_AES=n
CONFIG_USB_F_RNDIS=n
CONFIG_GPIO_SIFIVE=n
CONFIG_I2C_HELPER_AUTO=n
CONFIG_RISCV_ISA_SVPBMT=n
CONFIG_CONSOLE_TRANSLATIONS=n
CONFIG_CORE_DUMP_DEFAULT_ELF_HEADERS=n
CONFIG_MTD_CFI_NOSWAP=n
CONFIG_VIDEOMODE_HELPERS=n
CONFIG_PINMUX=n
CONFIG_PROC_SYSCTL=n
CONFIG_DECOMPRESS_GZIP=n
CONFIG_ARCH_SUPPORTS_LTO_CLANG=n
CONFIG_WLAN_VENDOR_REALTEK=n
CONFIG_USB_CDNS3_STARFIVE=n
CONFIG_USB_F_ECM=n
CONFIG_PCI_HOST_COMMON=n
CONFIG_SND_SOC_GENERIC_DMAENGINE_PCM=n
CONFIG_XOR_BLOCKS_ARCH=n
CONFIG_PHY_SUN4I_USB=n
CONFIG_KEYS=n
CONFIG_ARCH_HAS_TICK_BROADCAST=n
CONFIG_RISCV_PMU_LEGACY=n
CONFIG_IOMMU_API=n
CONFIG_ALLOW_DEV_COREDUMP=n
CONFIG_TASKS_TRACE_RCU=n
CONFIG_ARCH_SUPPORTS_MSEAL_SYSTEM_MAPPINGS=n
CONFIG_GENERIC_IRQ_ENTRY=n
CONFIG_LEGACY_PTYS=n
CONFIG_RD_LZ4=n
CONFIG_MUTEX_SPIN_ON_OWNER=n
CONFIG_JBD2=n
CONFIG_SECURITY=n
CONFIG_MTD_BLOCK=n
CONFIG_DRM_PANEL=n
CONFIG_CAN_DEV=n
CONFIG_DRM_RADEON=n
CONFIG_DMA_COHERENT_POOL=n
CONFIG_HAVE_ARCH_KGDB=n
CONFIG_PCIE_PLDA_HOST=n
CONFIG_USB_F_FS=n
CONFIG_DRM_DISPLAY_HDMI_HELPER=n
CONFIG_USB_F_NCM=n
CONFIG_PACKET=n
CONFIG_CGROUP_FREEZER=n
CONFIG_SYSCTL=n
CONFIG_CLKSRC_MMIO=n
CONFIG_TCP_CONG_CUBIC=n
CONFIG_MODULES=n
CONFIG_TOOLCHAIN_HAS_V=n
CONFIG_SUSPEND=n
CONFIG_RISCV_ISA_ZICBOM=n
CONFIG_HAVE_PERF_USER_STACK_DUMP=n
CONFIG_HOTPLUG_CORE_SYNC=n
CONFIG_FAILOVER=n
CONFIG_PREEMPT_BUILD=n
CONFIG_STACKPROTECTOR_PER_TASK=n
CONFIG_MOUSE_PS2_TRACKPOINT=n
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE_PUD=n
CONFIG_BLK_DEV_NVME=n
CONFIG_PAGE_SIZE_LESS_THAN_64KB=n
CONFIG_CRYPTO_AUTHENC=n
CONFIG_NET_VENDOR_INTEL=n
CONFIG_BLK_DEV_SR=n
CONFIG_NLS_ISO8859_1=n
CONFIG_SPARSEMEM_VMEMMAP_ENABLE=n
CONFIG_SWIOTLB=n
CONFIG_SND_JACK_INPUT_DEV=n
CONFIG_DMI=n
CONFIG_USB_U_SERIAL=n
CONFIG_PM_SLEEP_SMP=n
CONFIG_ARCH_HAS_PTE_SPECIAL=n
CONFIG_EFI_RUNTIME_WRAPPERS=n
CONFIG_SND_SOC=n
CONFIG_GENERIC_PHY=n
CONFIG_NET_SCH_FIFO=n
CONFIG_SLUB_DEBUG=n
CONFIG_WLAN_VENDOR_ATMEL=n
CONFIG_OF_IRQ=n
CONFIG_HAVE_PCI=n
CONFIG_GENERIC_IRQ_IPI_MUX=n
CONFIG_AS_HAS_NON_CONST_ULEB128=n
CONFIG_NET_VENDOR_NATSEMI=n
CONFIG_HAVE_ASM_MODVERSIONS=n
CONFIG_NVMEM=n
CONFIG_GENERIC_IRQ_SHOW_LEVEL=n
CONFIG_USB_CONFIGFS_OBEX=n
CONFIG_PROFILING=n
CONFIG_SYSCTL_ARCH_UNALIGN_ALLOW=n
CONFIG_CONTEXT_TRACKING=n
CONFIG_PM=n
CONFIG_INTERVAL_TREE=n
CONFIG_FS_POSIX_ACL=n
CONFIG_SLAB_OBJ_EXT=n
CONFIG_HUGETLB_PMD_PAGE_TABLE_SHARING=n
CONFIG_NETDEVICES=n
CONFIG_CPU_FREQ=n
CONFIG_SATA_AHCI_PLATFORM=n
CONFIG_GENERIC_STRNCPY_FROM_USER=n
CONFIG_DMA_ENGINE=n
CONFIG_EXTCON=n
CONFIG_PORTABLE=n
CONFIG_LD_ORPHAN_WARN=n
CONFIG_NF_DEFRAG_IPV6=n
CONFIG_CRYPTO_MANAGER2=n
CONFIG_PINCTRL_SOPHGO_SG2000=n
CONFIG_NFS_V4_0=n
CONFIG_V4L2_ASYNC=n
CONFIG_MOUSE_PS2_SMBUS=n
CONFIG_FIXED_PHY=n
CONFIG_COMMON_CLK_EIC7700=n
CONFIG_CC_HAS_ASM_INLINE=n
CONFIG_RISCV_SCALAR_MISALIGNED=n
CONFIG_SND_CTL_FAST_LOOKUP=n
CONFIG_SERIAL_CORE_CONSOLE=n
CONFIG_CPU_FREQ_GOV_POWERSAVE=n
CONFIG_ARCH_DMA_ADDR_T_64BIT=n
CONFIG_HAVE_KERNEL_BZIP2=n
CONFIG_CRYPTO_ALGAPI2=n
CONFIG_VXLAN=n
CONFIG_MPILIB=n
CONFIG_IPV6_SIT=n
CONFIG_TMPFS_POSIX_ACL=n
CONFIG_VIRTIO_PCI_LIB=n
CONFIG_NET_VENDOR_OKI=n
CONFIG_RSEQ=n
CONFIG_STACKPROTECTOR_STRONG=n
CONFIG_HOTPLUG_SPLIT_STARTUP=n
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_ARGS=n
CONFIG_GENERIC_IOREMAP=n
CONFIG_CRYPTO_ECB=n
CONFIG_BALLOON_MIGRATION=n
CONFIG_TOOLCHAIN_HAS_ZBKB=n
CONFIG_SUNRPC_GSS=n
CONFIG_LTO_NONE=n
CONFIG_SUNXI_SRAM=n
CONFIG_POSIX_TIMERS=n
CONFIG_ARCH_USE_MEMTEST=n
CONFIG_ARCH_RV64I=n
CONFIG_DEVFREQ_THERMAL=n
CONFIG_EXT4_FS_SECURITY=n
CONFIG_USB_F_EEM=n
CONFIG_MMC_SDHCI_OF_DWCMSHC=n
CONFIG_HAVE_ARCH_MMAP_RND_BITS=n
CONFIG_ARCH_USE_SYM_ANNOTATIONS=n
CONFIG_WLAN_VENDOR_ZYDAS=n
CONFIG_DRM_CLIENT_DEFAULT_FBDEV=n
CONFIG_SPARSEMEM_VMEMMAP=n
CONFIG_SPI_PL022=n
CONFIG_VIRTIO_CONSOLE=n
CONFIG_BCMA_POSSIBLE=n
CONFIG_SSB_POSSIBLE=n
CONFIG_USB_CONFIGFS_ECM_SUBSET=n
CONFIG_DEBUG_KERNEL=n
CONFIG_AUDIT_GENERIC=n
CONFIG_MACVLAN=n
CONFIG_CLK_SOPHGO_SG2042_CLKGEN=n
CONFIG_PCI_PWRCTRL=n
CONFIG_RISCV_ISA_C=n
CONFIG_MEDIA_SUPPORT=n
