CONFIG_MOUSE_PS2_CYPRESS=n
CONFIG_BLK_ICQ=n
CONFIG_CRC_T10DIF_ARCH=n
CONFIG_USB_DWC2=n
CONFIG_PHY_CADENCE_SALVO=n
CONFIG_I2C_RZV2M=n
CONFIG_DMA_SHARED_BUFFER=n
CONFIG_DRM_RZG2L_USE_MIPI_DSI=n
CONFIG_ARM64_SVE=n
CONFIG_VIDEO_QCOM_CAMSS=n
CONFIG_PHY_AM654_SERDES=n
CONFIG_CHARGER_RK817=n
CONFIG_COMMON_CLK_MT6795_VDECSYS=n
CONFIG_QCOM_A53PLL=n
CONFIG_DMA_CMA=n
CONFIG_MEMORY_FAILURE=n
CONFIG_INTERCONNECT_QCOM_SDM845=n
CONFIG_SERIAL_IMX_CONSOLE=n
CONFIG_QCM_DISPCC_2290=n
CONFIG_BCM_VIDEOCORE=n
CONFIG_CRYPTO_CCM=n
CONFIG_CRYPTO_DEV_FSL_CAAM_CRYPTO_API=n
CONFIG_NET_VENDOR_XILINX=n
CONFIG_SND_SOC_WCD_CLASSH=n
CONFIG_BLK_DEV=n
CONFIG_COMMON_CLK_MT8196_VENCSYS=n
CONFIG_I2C_DESIGNWARE_PLATFORM=n
CONFIG_PINCTRL_UNIPHIER=n
CONFIG_MFD_AXP20X=n
CONFIG_ARM_AMBA=n
CONFIG_MD=n
CONFIG_PINCTRL_AMLOGIC_C3=n
CONFIG_PCI_J721E=n
CONFIG_HID_SUPPORT=n
CONFIG_SND_SIMPLE_CARD=n
CONFIG_DWMAC_STM32=n
CONFIG_COMMON_CLK_MT8183_IPU_CONN=n
CONFIG_RUSTC_HAS_UNNECESSARY_TRANSMUTES=n
CONFIG_APERTURE_HELPERS=n
CONFIG_SCSI_UFSHCD=n
CONFIG_RENESAS_RZV2HWDT=n
CONFIG_PAGE_SIZE_LESS_THAN_256KB=n
CONFIG_RTC_DRV_TEGRA=n
CONFIG_ARCH_WANT_DEFAULT_BPF_JIT=n
CONFIG_WATCHDOG_CORE=n
CONFIG_SND_SOC_J721E_EVM=n
CONFIG_BRIDGE_NETFILTER=n
CONFIG_RTC_DRV_S5M=n
CONFIG_TEGRA_HOST1X=n
CONFIG_EFI_SOFT_RESERVE=n
CONFIG_ARM_SMMU=n
CONFIG_DRM_STM=n
CONFIG_PINCTRL_MTK_PARIS=n
CONFIG_KEYBOARD_MTK_PMIC=n
CONFIG_SND_SOC_HDMI_CODEC=n
CONFIG_DM_ZERO=n
CONFIG_DRM_CLIENT_DEFAULT_FBDEV=n
CONFIG_PCIE_XILINX_DMA_PL=n
CONFIG_BLOCK=n
CONFIG_DRM_RCAR_DW_HDMI=n
CONFIG_PWM_STM32=n
CONFIG_FAILOVER=n
CONFIG_COMMON_CLK_MESON_PHASE=n
CONFIG_SERIAL_8250_CONSOLE=n
CONFIG_HW_RANDOM_CAVIUM=n
CONFIG_PINCTRL_SM8250=n
CONFIG_RTC_DRV_SUN6I=n
CONFIG_SM_CAMCC_8650=n
CONFIG_LOCALVERSION_AUTO=n
CONFIG_HI3660_MBOX=n
CONFIG_IGBVF=n
CONFIG_SCHED_CACHE=n
CONFIG_PCIEPORTBUS=n
CONFIG_COMPAT=n
CONFIG_UCSI_CCG=n
CONFIG_GPIO_UNIPHIER=n
CONFIG_PCI_PWRCTRL_GENERIC=n
CONFIG_INTERCONNECT_QCOM_QCS8300=n
CONFIG_GENERIC_CALIBRATE_DELAY=n
CONFIG_MDIO_BCM_UNIMAC=n
CONFIG_HAVE_ASM_MODVERSIONS=n
CONFIG_CPU_IDLE_GOV_MENU=n
CONFIG_IMX93_ADC=n
CONFIG_DRM_TEGRA=n
CONFIG_REGULATOR_QCOM_SMD_RPM=n
CONFIG_ARCH_HAS_NONLEAF_PMD_YOUNG=n
CONFIG_BLK_DEV_BSGLIB=n
CONFIG_HAVE_ARCH_SECCOMP=n
CONFIG_HAVE_ARCH_GET_SECUREBOOT=n
CONFIG_SND_USB_AUDIO_USE_MEDIA_CONTROLLER=n
CONFIG_PCIE_ARMADA_8K=n
CONFIG_RD_LZ4=n
CONFIG_MEDIA_TUNER_MC44S803=n
CONFIG_TEGRA186_TIMER=n
CONFIG_BT_MTK=n
CONFIG_POSIX_MQUEUE_SYSCTL=n
CONFIG_ARM_PMU_ACPI=n
CONFIG_HW_RANDOM_AIROHA=n
CONFIG_NFS_V4_SECURITY_LABEL=n
CONFIG_CRYPTO_LIB_SHA3_ARCH=n
CONFIG_PREEMPT_COUNT=n
CONFIG_ARCH_USES_HIGH_VMA_FLAGS=n
CONFIG_DRM_IMX8MP_DW_HDMI_BRIDGE_CONNECTOR_FIXUP=n
CONFIG_DRM_I2C_ADV7511_CEC=n
CONFIG_CLK_X1E80100_GCC=n
CONFIG_TRANS_TABLE=n
CONFIG_PINCTRL_MT8189=n
CONFIG_DRM_RCAR_CMM=n
CONFIG_HISILICON_ERRATUM_161600802=n
CONFIG_INTERCONNECT_QCOM_SM8150=n
CONFIG_NET_NS=n
CONFIG_EXT4_USE_FOR_EXT2=n
CONFIG_ARCH_SUPPORTS_SHADOW_CALL_STACK=n
CONFIG_DRM_TI_SN65DSI83=n
CONFIG_CAVIUM_TX2_ERRATUM_219=n
CONFIG_PINCTRL_MESON_A1=n
CONFIG_MMC_SDHCI_OF_ARASAN=n
CONFIG_GENERIC_CPU_DEVICES=n
CONFIG_COMMON_CLK_MT8192_IMGSYS=n
CONFIG_NF_DEFRAG_IPV6=n
CONFIG_ARCH_R9A09G056=n
CONFIG_NVMEM=n
CONFIG_SND_MESON_AXG_TODDR=n
CONFIG_GPIO_WCD934X=n
CONFIG_MVNETA=n
CONFIG_WLAN_VENDOR_MARVELL=n
CONFIG_RCU_STALL_COMMON=n
CONFIG_DRM_LIMA=n
CONFIG_MTD_OF_PARTS_BCM4908=n
CONFIG_ARCH_QCOM=n
CONFIG_USB_STORAGE=n
CONFIG_SPARSEMEM_EXTREME=n
CONFIG_TRACE_CLOCK=n
CONFIG_ARM64_ERRATUM_819472=n
CONFIG_COMMON_CLK_MT8186_VDECSYS=n
CONFIG_PHY_RZ_G3E_USB3=n
CONFIG_INPUT_TOUCHSCREEN=n
CONFIG_PINCTRL_IMX8MQ=n
CONFIG_QCOM_PMIC_GLINK=n
CONFIG_DRM_MSM_HDMI_HDCP=n
CONFIG_EC_ACER_ASPIRE1=n
CONFIG_MFD_MAX77759=n
CONFIG_DWMAC_IPQ806X=n
CONFIG_RPCSEC_GSS_KRB5=n
CONFIG_IIO_TRIGGER=n
CONFIG_MEDIATEK_MT6359_AUXADC=n
CONFIG_SERIAL_FSL_LPUART_CONSOLE=n
CONFIG_DWMAC_MEDIATEK=n
CONFIG_COMMON_CLK_RK808=n
CONFIG_COMMON_CLK_MT8186_WPESYS=n
CONFIG_NET_SCH_CBS=n
CONFIG_QCOM_SPM=n
CONFIG_USB=n
CONFIG_TI_SCI_CLK=n
CONFIG_SND_HDA_CODEC_HDMI_GENERIC=n
CONFIG_SERIAL_8250_SHARE_IRQ=n
CONFIG_STMP_DEVICE=n
CONFIG_MVEBU_GICP=n
CONFIG_RESET_UNIPHIER=n
CONFIG_ARM_IMX_BUS_DEVFREQ=n
CONFIG_SCSI_SAS_ATA=n
CONFIG_CRC32_ARCH=n
CONFIG_BT_HCIUART_BCM=n
CONFIG_PINCTRL_SM6125=n
CONFIG_HAVE_GCC_PLUGINS=n
CONFIG_COMMON_CLK_MT8192_CAMSYS=n
CONFIG_COMMON_CLK_MT6795_MFGCFG=n
CONFIG_DWMAC_SOCFPGA=n
CONFIG_MMC_SUNXI=n
CONFIG_ARCH_MA35=n
CONFIG_VIDEO_MEDIATEK_MDP3=n
CONFIG_INTEGRITY_AUDIT=n
CONFIG_PINCTRL_MT7986=n
CONFIG_PINCTRL_SM4450=n
CONFIG_PWM_RENESAS_TPU=n
CONFIG_CC_NO_ARRAY_BOUNDS=n
CONFIG_SPLIT_PMD_PTLOCKS=n
CONFIG_CC_HAS_SANE_FUNCTION_ALIGNMENT=n
CONFIG_MUTEX_SPIN_ON_OWNER=n
CONFIG_RAID_ATTRS=n
CONFIG_VIDEO_HANTRO_STM32MP25=n
CONFIG_ARCH_STACKWALK=n
CONFIG_TI_ICSSG_PRUETH=n
CONFIG_ARM64_ERRATUM_826319=n
CONFIG_USB_F_SERIAL=n
CONFIG_DMA_NONCOHERENT_MMAP=n
CONFIG_STM=n
CONFIG_I2C_PXA=n
CONFIG_SM_GCC_8250=n
CONFIG_SPI_RPCIF=n
CONFIG_OF_OVERLAY=n
CONFIG_NFS_USE_KERNEL_DNS=n
CONFIG_SUNXI_CCU=n
CONFIG_SENSORS_SL28CPLD=n
CONFIG_RFKILL=n
CONFIG_TRANSPARENT_HUGEPAGE=n
CONFIG_CLK_RK3368=n
CONFIG_DRM_ETNAVIV_THERMAL=n
CONFIG_DRM_SUN6I_DSI=n
CONFIG_GPIO_ZYNQ=n
CONFIG_EFI_PARAMS_FROM_FDT=n
CONFIG_SCHED_AUTOGROUP=n
CONFIG_NET_SCH_FIFO=n
CONFIG_CRYPTO_LIB_CHACHA=n
CONFIG_QCOM_GDSC=n
CONFIG_BCM_PMB=n
CONFIG_CLK_X1E80100_TCSRCC=n
CONFIG_PHY_MESON_AXG_MIPI_DPHY=n
CONFIG_DRM_AUX_HPD_BRIDGE=n
CONFIG_PINCTRL_KAANAPALI=n
CONFIG_USB_EHCI_HCD_PLATFORM=n
CONFIG_RESET_RASPBERRYPI=n
CONFIG_SND_SOC_FSL_SSI=n
CONFIG_WLAN_VENDOR_ATMEL=n
CONFIG_IWLDVM=n
CONFIG_BLK_DEV_DM=n
CONFIG_SND_SOC_QDSP6_PRM_LPASS_CLOCKS=n
CONFIG_PHY_ROCKCHIP_INNO_DSIDPHY=n
CONFIG_ATA_FORCE=n
CONFIG_PINCTRL_SOPHGO_COMMON=n
CONFIG_ARCH_THUNDER2=n
CONFIG_ARM_SCMI_QUIRKS=n
CONFIG_PCI_HOST_COMMON=n
CONFIG_GPIO_MVEBU=n
CONFIG_SND_SOC_WCD937X=n
CONFIG_MTK_IOMMU=n
CONFIG_PINCTRL_ROCKCHIP=n
CONFIG_ARM_CCI400_PMU=n
CONFIG_MXC_CLK=n
CONFIG_BT_RTL=n
CONFIG_XEN_XENBUS_FRONTEND=n
CONFIG_PINCTRL_IMX8QM=n
CONFIG_SOC_TEGRA_CBB=n
CONFIG_MMC_BLOCK=n
CONFIG_AUDIT_COMPAT_GENERIC=n
CONFIG_SND_SOC_TEGRA210_I2S=n
CONFIG_QCS_GCC_615=n
CONFIG_PHY_MESON_G12A_MIPI_DPHY_ANALOG=n
CONFIG_HWMON=n
CONFIG_V4L2_FWNODE=n
CONFIG_ARCH_RENESAS=n
CONFIG_ARM_SMMU_V3=n
CONFIG_PWM_VISCONTI=n
CONFIG_VIDEO_SAMSUNG_S5P_JPEG=n
CONFIG_SECTION_MISMATCH_WARN_ONLY=n
CONFIG_DRM_SUN8I_DW_HDMI=n
CONFIG_COMMON_CLK_MT8196_MMSYS=n
CONFIG_QCOM_CLK_SMD_RPM=n
CONFIG_IWLMVM=n
CONFIG_HAVE_KVM_IRQ_BYPASS=n
CONFIG_CLK_QCM2290_GPUCC=n
CONFIG_SND_SOC_MT8192_MT6359_RT1015_RT5682=n
CONFIG_PCI_BRIDGE_EMUL=n
CONFIG_HAVE_FUNCTION_GRAPH_TRACER=n
CONFIG_DECOMPRESS_ZSTD=n
CONFIG_PINCTRL_MT8196=n
CONFIG_SND_SOC_RT5514=n
CONFIG_BT_BREDR=n
CONFIG_PINCTRL_SKY1=n
CONFIG_SPI_DW_DMA=n
CONFIG_INTERCONNECT_QCOM_SM6350=n
CONFIG_MHI_BUS_PCI_GENERIC=n
CONFIG_CLK_OWL_S900=n
CONFIG_CRASH_RESERVE=n
CONFIG_SND_SOC_RK817=n
CONFIG_HAVE_ARCH_VMAP_STACK=n
CONFIG_MODULES=n
CONFIG_IRQ_BYPASS_MANAGER=n
CONFIG_DRM_RCAR_USE_CMM=n
CONFIG_COMMON_CLK_MT7986=n
CONFIG_RESET_SIMPLE=n
CONFIG_RZ_MTU3=n
CONFIG_HW_RANDOM_IPROC_RNG200=n
CONFIG_MEDIA_TUNER=n
CONFIG_APPLE_AIC=n
CONFIG_PINCTRL_IMX8MM=n
CONFIG_FRAMEBUFFER_CONSOLE_DETECT_PRIMARY=n
CONFIG_FSL_EDMA=n
CONFIG_PINCTRL_SM6115=n
CONFIG_I2C_BRCMSTB=n
CONFIG_GROUP_SCHED_WEIGHT=n
CONFIG_VIDEO_IMX412=n
CONFIG_ARM64_WORKAROUND_REPEAT_TLBI=n
CONFIG_USB_SERIAL=n
CONFIG_ARM_GIC_V3=n
CONFIG_CPU_FREQ_GOV_POWERSAVE=n
CONFIG_HSR=n
CONFIG_IPQ_GCC_5018=n
CONFIG_COMPAT_32BIT_TIME=n
CONFIG_USB_CONFIGFS_ECM_SUBSET=n
CONFIG_PHY_TEGRA_XUSB=n
CONFIG_SND_SIMPLE_CARD_UTILS=n
CONFIG_COMMON_CLK_MT8195=n
CONFIG_CPUFREQ_DT=n
CONFIG_ARM64_ERRATUM_4193714=n
CONFIG_SND_DYNAMIC_MINORS=n
CONFIG_PINCTRL_UNIPHIER_NX1=n
CONFIG_ARCH_RCAR_GEN3=n
CONFIG_ARM_CMN=n
CONFIG_SPI_ARMADA_3700=n
