CONFIG_I2C_ALI1563=y
CONFIG_USB_SERIAL_OTI6858=y
CONFIG_HAVE_TRUSTED_KEYS=y
CONFIG_SENSORS_ABITUGURU3=y
CONFIG_RMI4_I2C=y
CONFIG_SCD4X=y
CONFIG_HAVE_ARCH_SOFT_DIRTY=y
CONFIG_TOUCHSCREEN_MIGOR=y
CONFIG_FW_DEVLINK_SYNC_STATE_TIMEOUT=y
CONFIG_SM_GCC_8150=y
CONFIG_USB_SERIAL_CYBERJACK=y
CONFIG_NVMEM_JZ4780_EFUSE=y
CONFIG_PINCTRL_PFC_R8A73A4=y
CONFIG_PINCTRL_SKY1=y
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_JMP=y
CONFIG_ARCH_USE_SYM_ANNOTATIONS=y
CONFIG_LEDS_MAX5970=y
CONFIG_CXL_PORT=y
CONFIG_DM_MULTIPATH_HST=y
CONFIG_TOUCHSCREEN_CYTTSP_CORE=y
CONFIG_FB_I740=y
CONFIG_COMMON_CLK_MT8192_IPESYS=y
CONFIG_SYMBOLIC_ERRNAME=y
CONFIG_NVMEM_QCOM_QFPROM=y
CONFIG_PCI_SKY1_HOST=y
CONFIG_PM_WAKELOCKS=y
CONFIG_HW_RANDOM_XILINX=y
CONFIG_ULTRIX_PARTITION=y
CONFIG_SERIO_OLPC_APSP=y
CONFIG_HAVE_STACK_VALIDATION=y
CONFIG_BITFIELD_KUNIT=y
CONFIG_QCOM_FASTRPC=y
CONFIG_DEBUG_WQ_FORCE_RR_CPU=y
CONFIG_SERIAL_OWL=y
CONFIG_CLK_RENESAS_CPG_MSSR=y
CONFIG_TEGRA_HOST1X_CONTEXT_BUS=y
CONFIG_OMAP_CONTROL_PHY=y
CONFIG_RAPIDIO_CPS_XX=y
CONFIG_IPQ_APSS_PLL=y
CONFIG_MUX_GPIO=y
CONFIG_RCU_TRACE=y
CONFIG_I2C_UNIPHIER_F=y
CONFIG_CLK_R8A77960=y
CONFIG_GPIO_MPSSE=y
CONFIG_SENSORS_ADT7470=y
CONFIG_VGA_ARB=y
CONFIG_GCC10_NO_ARRAY_BOUNDS=y
CONFIG_SM_GCC_8250=y
CONFIG_PCIE_ULTRARISC=y
CONFIG_MMC_SUNXI=y
CONFIG_IO_WQ=y
CONFIG_UEVENT_HELPER=y
CONFIG_IRQCHIP=y
CONFIG_DM_BUFIO=y
CONFIG_RBTREE_TEST=y
CONFIG_GPIO_STMPE=y
CONFIG_ICS932S401=y
CONFIG_GPIO_LOONGSON_64BIT=y
CONFIG_MTK_HSDMA=y
CONFIG_HARDIRQS_SW_RESEND=y
CONFIG_SENSORS_ADP1050=y
CONFIG_CLK_R8A7743=y
CONFIG_CRYPTO_SHA512=y
CONFIG_VT=y
CONFIG_ENVELOPE_DETECTOR=y
CONFIG_SPS30=y
CONFIG_CLK_NORD_GCC=y
CONFIG_PINCTRL_MSM8660=y
CONFIG_ARCH_HAS_DEBUG_VIRTUAL=y
CONFIG_CGROUPS=y
CONFIG_IPQ_LCC_806X=y
CONFIG_AXP20X_ADC=y
CONFIG_SIOX_BUS_GPIO=y
CONFIG_LIBFDT=y
CONFIG_PCIE_STARFIVE_HOST=y
CONFIG_MTD_CFI_STAA=y
CONFIG_MCP4531=y
CONFIG_SERIAL_SPRD=y
CONFIG_SERIAL_JSM=y
CONFIG_PCI_DEBUG=y
CONFIG_RAPIDIO_CPS_GEN2=y
CONFIG_ARCH_DMA_ADDR_T_64BIT=y
CONFIG_ARCH_SUPPORTS_KEXEC_FILE=y
CONFIG_RESET_A10SR=y
CONFIG_X86_REQUIRED_FEATURE_NOPL=y
CONFIG_INV_MPU6050_I2C=y
CONFIG_DEBUG_VM_PGFLAGS=y
CONFIG_X86_MSR=y
CONFIG_MFD_RK8XX=y
CONFIG_INTEL_SPEED_SELECT_INTERFACE=y
CONFIG_USB_EHCI_ROOT_HUB_TT=y
CONFIG_CRYPTO_LIB_UTILS=y
CONFIG_CONTEXT_TRACKING_USER_FORCE=y
CONFIG_SERIAL_EARLYCON=y
CONFIG_HAVE_ARCH_MMAP_RND_BITS=y
CONFIG_TEST_FPU=y
CONFIG_ROCKCHIP_THERMAL=y
CONFIG_PCIE_SOPHGO_DW=y
CONFIG_I2C_MXS=y
CONFIG_INTEL_SCU_PCI=y
CONFIG_IMX_SCMI_LMM_EXT=y
CONFIG_SENSORS_LTC2991=y
CONFIG_GPIO_BY_PINCTRL=y
CONFIG_MARVELL_CN10K_TAD_PMU=y
CONFIG_MMA9553=y
CONFIG_TOUCHSCREEN_USB_JASTEC=y
CONFIG_LEDS_TPS6105X=y
CONFIG_IMG_MDC_DMA=y
CONFIG_IPMMU_VMSA=y
CONFIG_CRYPTO_MD4=y
CONFIG_IMX91_THERMAL=y
CONFIG_AMD_NODE=y
CONFIG_CRYPTO_GCM=y
CONFIG_FPGA=y
CONFIG_REGULATOR_TPS65218=y
CONFIG_CHARGER_RT9756=y
CONFIG_VIRTIO=y
CONFIG_MTK_IOMMU_V1=y
CONFIG_SUNXI_CCU=y
CONFIG_KALLSYMS=y
CONFIG_DEBUG_MEMORY_INIT=y
CONFIG_DM_THIN_PROVISIONING=y
CONFIG_GPIO_74XX_MMIO=y
CONFIG_ARCH_HAS_SYSCALL_WRAPPER=y
CONFIG_VCHIQ_CDEV=y
CONFIG_PINCTRL=y
CONFIG_REGULATOR_SLG51000=y
CONFIG_HAVE_CMPXCHG_DOUBLE=y
CONFIG_FUTEX_PRIVATE_HASH=y
CONFIG_PINCTRL_SM4250_LPASS_LPI=y
CONFIG_REED_SOLOMON=y
CONFIG_PXA1908_PM_DOMAINS=y
CONFIG_MLX90632=y
CONFIG_SYSC_R8A7790=y
CONFIG_LOONGSON1_APB_DMA=y
CONFIG_SENSORS_TMP464=y
CONFIG_HAVE_KERNEL_ZSTD=y
CONFIG_LEDS_LGM=y
CONFIG_TOUCHSCREEN_USB_GUNZE=y
CONFIG_DEBUG_FS=y
CONFIG_POSIX_TIMERS=y
CONFIG_PINCTRL_SH_FUNC_GPIO=y
CONFIG_INPUT_POWERMATE=y
CONFIG_MFD_INTEL_QUARK_I2C_GPIO=y
CONFIG_HAVE_RELIABLE_STACKTRACE=y
CONFIG_MSM_GCC_8974=y
CONFIG_REGULATOR_STM32_VREFBUF=y
CONFIG_FB_GOLDFISH=y
CONFIG_USB_XHCI_MVEBU=y
CONFIG_APPLE_ADMAC=y
CONFIG_SRF08=y
CONFIG_BACKLIGHT_TPS65217=y
CONFIG_KERNEL_LZMA=y
CONFIG_BACKLIGHT_LM3509=y
CONFIG_BLK_DEV_NVME=y
CONFIG_AT91_SAMA5D2_ADC=y
CONFIG_I2C_IMX_LPI2C=y
CONFIG_KPROBES_SANITY_TEST=y
CONFIG_AD5064=y
CONFIG_MFD_MT6360=y
CONFIG_USB_SUPPORT=y
CONFIG_MTD_NAND_HISI504=y
CONFIG_CRYPTO_KPP=y
CONFIG_ROCKCHIP_IODOMAIN=y
CONFIG_LEDS_AN30259A=y
CONFIG_HAVE_OBJTOOL_NOP_MCOUNT=y
CONFIG_MAX77541_ADC=y
CONFIG_CRYPTO_LIB_NH=y
CONFIG_CRYPTO_CAMELLIA_AESNI_AVX2_X86_64=y
CONFIG_ARM64_PLATFORM_DEVICES=y
CONFIG_VFIO_PCI_CORE=y
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE=y
CONFIG_SLAB_MERGE_DEFAULT=y
CONFIG_W1_SLAVE_DS2423=y
CONFIG_RELOCATABLE=y
CONFIG_PERCPU_STATS=y
CONFIG_LEDS_LP3952=y
CONFIG_SENSORS_TC74=y
CONFIG_SERIAL_HS_LPC32XX=y
CONFIG_PINCTRL_NPCM7XX=y
CONFIG_PINCTRL_STM32F469=y
CONFIG_INPUT_IBM_PANEL=y
CONFIG_LEDS_BD2606MVV=y
CONFIG_IDLE_PAGE_TRACKING=y
CONFIG_SM_GCC_8550=y
CONFIG_CLK_QORIQ=y
CONFIG_COMPILE_TEST=y
CONFIG_POWER_RESET_RESTART=y
CONFIG_SENSORS_LTC4286=y
CONFIG_LEDS_TI_LMU_COMMON=y
CONFIG_FB_OMAP2_DSS_DSI=y
CONFIG_EXTCON_SM5502=y
CONFIG_DM_LOG_WRITES=y
CONFIG_COMEDI_ADDI_APCI_16XX=y
CONFIG_TEST_DHRY=y
CONFIG_I2C_IMG=y
CONFIG_MMC_REALTEK_PCI=y
CONFIG_PCI_IXP4XX=y
CONFIG_BOSCH_BNO055_I2C=y
CONFIG_TOUCHSCREEN_EGALAX_SERIAL=y
CONFIG_SM_GCC_8750=y
CONFIG_PINCTRL_IPQ4019=y
CONFIG_FB_OMAP2_DSS=y
CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE=y
CONFIG_AM2315=y
CONFIG_CRYPTO_SHA3=y
CONFIG_SERIO_ALTERA_PS2=y
CONFIG_AL3010=y
CONFIG_TEE=y
CONFIG_MFD_TPS6586X=y
CONFIG_HID_TIVO=y
CONFIG_STRING_KUNIT_TEST=y
CONFIG_PINCTRL_SM4450=y
CONFIG_HID_CHERRY=y
CONFIG_COMEDI_ADV_PCI1724=y
CONFIG_GPIO_DA9052=y
CONFIG_CEC_SECO=y
CONFIG_SOC_REALVIEW=y
CONFIG_USB_HID=y
CONFIG_PCIE_KEEMBAY=y
CONFIG_I2C_TEGRA_BPMP=y
CONFIG_EEPROM_MAX6875=y
CONFIG_IMX_WEIM=y
CONFIG_MAX5821=y
CONFIG_GENERIC_STRNLEN_USER=y
CONFIG_MTD_ONENAND_GENERIC=y
CONFIG_CLK_R8A774E1=y
CONFIG_PINCTRL_MSM8916=y
CONFIG_REGULATOR_TPS65185=y
CONFIG_CLKSRC_DBX500_PRCMU=y
CONFIG_GREENASIA_FF=y
CONFIG_PINCTRL_SM8650_LPASS_LPI=y
CONFIG_REGMAP_W1=y
CONFIG_I2C_SMBUS=y
CONFIG_MFD_STMFX=y
CONFIG_PINCTRL_IMX7D=y
CONFIG_SENSORS_ARCTIC_FAN_CONTROLLER=y
CONFIG_NLS_MAC_ICELAND=y
CONFIG_COMMON_CLK_HI3660=y
CONFIG_PINCTRL_EXYNOS=y
CONFIG_COMEDI_PCI_DRIVERS=y
CONFIG_HIBERNATE_CALLBACKS=y
CONFIG_PINCTRL_MT6878=y
CONFIG_REGULATOR_MAX5970=y
CONFIG_GENERIC_IRQ_PROBE=y
CONFIG_FW_LOADER_USER_HELPER=y
CONFIG_FB_SYSMEM_HELPERS=y
CONFIG_COMMON_CLK_RP1=y
CONFIG_GPIOLIB_IRQCHIP=y
CONFIG_LIST_KUNIT_TEST=y
CONFIG_FXLS8962AF=y
CONFIG_FXAS21002C=y
CONFIG_CRYPTO_CCM=y
CONFIG_TEGRA_BPMP_THERMAL=y
CONFIG_GPIO_BD9571MWV=y
CONFIG_RANDOMIZE_KSTACK_OFFSET=y
CONFIG_PINCTRL_SM6115_LPASS_LPI=y
CONFIG_SENSORS_DPS920AB=y
CONFIG_NLS_CODEPAGE_864=y
CONFIG_FSL_MC_UAPI_SUPPORT=y
CONFIG_UNICODE=y
CONFIG_USB_SERIAL_WWAN=y
CONFIG_PINCTRL_BCM6328=y
CONFIG_HAVE_FUNCTION_ARG_ACCESS_API=y
CONFIG_QCS_GCC_404=y
CONFIG_USB_CHIPIDEA_TEGRA=y
CONFIG_DMA_NEED_SYNC=y
CONFIG_MFD_MAX8998=y
CONFIG_ROHM_BU27034=y
CONFIG_W1_SLAVE_THERM=y
CONFIG_IMX_SCMI_MISC_EXT=y
CONFIG_MV_XOR=y
CONFIG_EXTCON_RT8973A=y
CONFIG_CEC_NOTIFIER=y
CONFIG_CLK_KAANAPALI_CAMCC=y
CONFIG_ARCH_HIBERNATION_POSSIBLE=y
CONFIG_SM_VIDEOCC_8350=y
CONFIG_PINCTRL_ALDERLAKE=y
CONFIG_IIO_SW_TRIGGER=y
CONFIG_PINCTRL_BAYTRAIL=y
CONFIG_QCOM_LMH=y
CONFIG_PINCTRL_SC7280=y
CONFIG_REGULATOR_DA9055=y
CONFIG_SX9360=y
CONFIG_COMEDI_USB_DRIVERS=y
CONFIG_DEVMEM=y
CONFIG_HAVE_EBPF_JIT=y
CONFIG_HID_ALPS=y
CONFIG_FB_CIRRUS=y
CONFIG_AD5446=y
CONFIG_SC_CAMCC_8280XP=y
CONFIG_TEST_HEXDUMP=y
CONFIG_SERIAL_TEGRA=y
CONFIG_GPIO_PCIE_IDIO_24=y
CONFIG_QFMT_V1=y
CONFIG_INGENIC_OST=y
CONFIG_DEBUG_PAGEALLOC=y
CONFIG_POLARFIRE_SOC_SYS_CTRL=y
CONFIG_REGULATOR_SGM3804=y
CONFIG_EXTCON_LC824206XA=y
CONFIG_RANDSTRUCT=y
CONFIG_IO_URING=y
CONFIG_USB_SERIAL_WISHBONE=y
CONFIG_INTEL_MEI_LB=y
CONFIG_ARCH_DEFAULT_CRASH_DUMP=y
CONFIG_TOUCHSCREEN_USB_ITM=y
CONFIG_SENSORS_PECI=y
CONFIG_MTD_NAND_MESON=y
CONFIG_PINCTRL_PXA27X=y
CONFIG_GPIO_XILINX=y
CONFIG_SUSPEND=y
CONFIG_REMOTEPROC_CDEV=y
CONFIG_CRC32=y
CONFIG_GPIO_SPACEMIT_K1=y
CONFIG_SENSORS_F71805F=y
CONFIG_PHY_EXYNOS_DP_VIDEO=y
CONFIG_REGMAP_SPMI=y
CONFIG_ADXL380_I2C=y
CONFIG_INGENIC_CGU_COMMON=y
CONFIG_PARPORT_PC=y
CONFIG_MMC_SDHCI_DOVE=y
CONFIG_SERIAL_8250_TEGRA=y
CONFIG_TOUCHSCREEN_GOODIX_BERLIN_CORE=y
CONFIG_CC_NO_ARRAY_BOUNDS=y
CONFIG_COMMON_CLK_MEDIATEK=y
CONFIG_ASYNC_PQ=y
CONFIG_PHY_MTK_UFS=y
CONFIG_TURRIS_MOX_RWTM=y
CONFIG_I2C_SPRD=y
CONFIG_GPIB_LPVO=y
CONFIG_CRC_OPTIMIZATIONS=y
CONFIG_C2PORT=y
CONFIG_MTD_NAND_QCOM=y
CONFIG_RAPIDIO_MPORT_CDEV=y
CONFIG_HW_RANDOM_BCM74110=y
CONFIG_SPMI_PMIC_CLKDIV=y
CONFIG_PHY_SPACEMIT_K1_USB2=y
CONFIG_NLS_MAC_ROMAN=y
CONFIG_VFIO_VIRQFD=y
CONFIG_X86_REQUIRED_FEATURE_PAE=y
CONFIG_FXAS21002C_I2C=y
CONFIG_BATTERY_ACT8945A=y
CONFIG_SA_CAMCC_8775P=y
CONFIG_PHY_BRCM_USB=y
CONFIG_SENSORS_XDPE152=y
CONFIG_SM_DISPCC_MILOS=y
CONFIG_CRYPTO_SM3=y
CONFIG_MTD_NAND_AMS_DELTA=y
CONFIG_CLK_RCAR_GEN2_CPG=y
CONFIG_SBITMAP=y
CONFIG_MMC_SDHCI_AM654=y
CONFIG_SERIAL_XILINX_PS_UART=y
CONFIG_PINCTRL_MT6765=y
CONFIG_SC27XX_ADC=y
CONFIG_MTK_CMDQ_MBOX=y
CONFIG_SYS_R9A09G047=y
CONFIG_SPMI=y
CONFIG_DEBUG_LIST=y
CONFIG_FB_SSD1307=y
CONFIG_CRYPTO_LIB_MD5=y
CONFIG_TWL4030_MADC=y
CONFIG_CONTIG_ALLOC=y
CONFIG_X86_DISABLED_FEATURE_CENTAUR_MCR=y
CONFIG_FANOTIFY=y
CONFIG_SM_GCC_4450=y
CONFIG_MTD_NAND_STM32_FMC2=y
CONFIG_REGULATOR_BD9571MWV=y
CONFIG_ARCH_SUPPORTS_PAGE_TABLE_CHECK=y
CONFIG_AIX_PARTITION=y
CONFIG_SERIAL_NONSTANDARD=y
CONFIG_W1_SLAVE_DS2431=y
CONFIG_PINCTRL_BCM281XX=y
CONFIG_HIBERNATION_SNAPSHOT_DEV=y
CONFIG_TI_FPC202=y
CONFIG_ARCH_HAS_DEBUG_VM_PGTABLE=y
CONFIG_DM_CRYPT=y
CONFIG_SUN8I_H3_CCU=y
CONFIG_USB_SERIAL_CH341=y
CONFIG_SENSORS_MAX31730=y
CONFIG_SENSORS_GL520SM=y
CONFIG_MSM_GCC_8917=y
CONFIG_FIRMWARE_MEMMAP=y
CONFIG_PHY_CADENCE_TORRENT=y
CONFIG_JCORE_AIC=y
CONFIG_QCS_TURING_404=y
CONFIG_KMX61=y
CONFIG_PINCTRL_SDX75=y
CONFIG_HAVE_SAMPLE_FTRACE_DIRECT=y
CONFIG_MFD_88PM800=y
CONFIG_CXL_REGION=y
CONFIG_BCM_KONA_TIMER=y
CONFIG_I2C_PIIX4=y
CONFIG_HAVE_OBJTOOL_MCOUNT=y
CONFIG_X86_DISABLED_FEATURE_CYRIX_ARR=y
CONFIG_HAVE_POSIX_CPU_TIMERS_TASK_WORK=y
CONFIG_MFD_MAX8907=y
CONFIG_CRYPTO_LZO=y
CONFIG_LEDS_PCA9532=y
CONFIG_SM_CAMCC_6350=y
CONFIG_FPGA_DFL_EMIF=y
CONFIG_TCS3472=y
CONFIG_PINCTRL_TEGRA=y
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST=y
CONFIG_ARMADA_37XX_RWTM_MBOX=y
CONFIG_MTD_PARTITIONED_MASTER=y
CONFIG_SA_GCC_8775P=y
CONFIG_PHY_RALINK_USB=y
CONFIG_BLK_WBT=y
CONFIG_SENSORS_MCP9982=y
CONFIG_HAVE_GUP_FAST=y
CONFIG_PROC_KCORE=y
CONFIG_YENTA_O2=y
CONFIG_ARCH_HAS_COPY_MC=y
CONFIG_POWER_SEQUENCING=y
CONFIG_MFD_AXP20X_I2C=y
CONFIG_ARCH_WANT_OPTIMIZE_DAX_VMEMMAP=y
CONFIG_COMMON_CLK_MT7622=y
CONFIG_PHY_INTEL_KEEMBAY_USB=y
CONFIG_ARM_SCPI_PROTOCOL=y
CONFIG_CLK_SH73A0=y
CONFIG_PINCTRL_MT7981=y
CONFIG_RSEQ_SLICE_EXTENSION=y
CONFIG_GENERIC_IRQ_INJECTION=y
CONFIG_IIO_MS_SENSORS_I2C=y
CONFIG_REGULATOR_MAX8998=y
CONFIG_MMC_SDHI=y
CONFIG_MQ_IOSCHED_DEADLINE=y
CONFIG_FIREWIRE_KUNIT_SELF_ID_SEQUENCE_HELPER_TEST=y
CONFIG_PRIME_NUMBERS=y
CONFIG_I2C_EMEV2=y
CONFIG_FTM_QUADDEC=y
CONFIG_ASM9260_TIMER=y
CONFIG_INTEL_MEI_HDCP=y
CONFIG_ADXL367_I2C=y
CONFIG_MFD_EXYNOS_LPASS=y
CONFIG_RDA_TIMER=y
CONFIG_PHY_MIXEL_LVDS_PHY=y
CONFIG_PERF_USE_VMALLOC=y
CONFIG_ASYNC_MEMCPY=y
CONFIG_HID_WINWING=y
CONFIG_BLK_DEV_WRITE_MOUNTED=y
CONFIG_HAVE_IRQ_EXIT_ON_IRQ_STACK=y
CONFIG_I2C_K1=y
CONFIG_CRYPTO_LIB_MLDSA=y
CONFIG_SM_TCSRCC_8550=y
CONFIG_CLZ_TAB=y
CONFIG_XILINX_VCU=y
CONFIG_PINCTRL_MSM8X74=y
CONFIG_HAVE_PERF_USER_STACK_DUMP=y
CONFIG_IIO_TRIGGERED_BUFFER=y
CONFIG_PINCTRL_STM32F769=y
CONFIG_CRYPTO_LIB_CHACHA=y
CONFIG_FIREWIRE_KUNIT_PACKET_SERDES_TEST=y
CONFIG_PINCTRL_MT7629=y
CONFIG_I2C_MUX_PCA9541=y
CONFIG_CRYPTO_CRC32C=y
CONFIG_INTEL_SCU_IPC=y
CONFIG_SC_GPUCC_7180=y
CONFIG_CLK_IMX8ULP=y
CONFIG_VIRTIO_DEBUG=y
CONFIG_ST_SLIM_REMOTEPROC=y
CONFIG_PARPORT_PC_PCMCIA=y
CONFIG_JOLIET=y
CONFIG_GPIO_SPEAR_SPICS=y
CONFIG_COMMON_CLK_MT6779_IMGSYS=y
CONFIG_INV_MPU6050_IIO=y
CONFIG_USB_EMI62=y
CONFIG_DMARD10=y
CONFIG_USB_SERIAL_IR=y
CONFIG_HID_TOPRE=y
CONFIG_INPUT=y
CONFIG_RMI4_2D_SENSOR=y
CONFIG_CRYPTO_SERPENT_AVX_X86_64=y
CONFIG_NVME_TARGET_LOOP=y
CONFIG_LITEX=y
CONFIG_CRYPTO_ARIA_AESNI_AVX_X86_64=y
CONFIG_HW_RANDOM_BCM2835=y
CONFIG_MD_BITMAP=y
CONFIG_COMMON_CLK_HI3516CV300=y
CONFIG_MFD_STW481X=y
CONFIG_SENSORS_MR75203=y
CONFIG_I2C_BCM_KONA=y
CONFIG_HAVE_ARCH_WITHIN_STACK_FRAMES=y
CONFIG_USB_ANNOUNCE_NEW_DEVICES=y
CONFIG_SPARSEMEM=y
CONFIG_TEST_KSTRTOX=y
CONFIG_ADC_BATTERY_HELPER=y
CONFIG_NVME_AUTH=y
CONFIG_CRYPTO_LIB_BENCHMARK_VISIBLE=y
CONFIG_MEMORY=y
CONFIG_BMI323_I2C=y
CONFIG_SENSORS_ADT7411=y
CONFIG_PINCTRL_SKY1_BASE=y
CONFIG_PCIE_KEEMBAY_HOST=y
CONFIG_CHARGER_MT6370=y
CONFIG_PHY_MESON8B_USB2=y
CONFIG_NO_HZ=y
CONFIG_TEGRA210_ADMA=y
CONFIG_I2C_RCAR=y
CONFIG_HRTIMER_REARM_DEFERRED=y
