CONFIG_DRM_BRIDGE=n
CONFIG_DRM_PANEL=n
CONFIG_MOUSE_PS2_SMBUS=n
CONFIG_X86_REQUIRED_FEATURE_MSR=n
CONFIG_CPU_SUP_INTEL=n
CONFIG_KERNEL_GZIP=n
CONFIG_HIBERNATION_COMP_LZO=n
CONFIG_X86_BUS_LOCK_DETECT=n
CONFIG_HUGETLB_PAGE_OPTIMIZE_VMEMMAP=n
CONFIG_ARCH_HAS_DEBUG_WX=n
CONFIG_BROADCAST_TLB_FLUSH=n
CONFIG_DNOTIFY=n
CONFIG_NET_SELFTESTS=n
CONFIG_VIRTIO_PCI_ADMIN_LEGACY=n
CONFIG_ARCH_HAS_ELF_RANDOMIZE=n
CONFIG_SND_SEQ_DUMMY=n
CONFIG_ACPI_FAN=n
CONFIG_ZONE_DMA=n
CONFIG_RD_GZIP=n
CONFIG_SND_SEQUENCER=n
CONFIG_ARCH_HAS_CPU_ATTACK_VECTORS=n
CONFIG_NET_VENDOR_FUNGIBLE=n
CONFIG_LZ4_COMPRESS=n
CONFIG_TICK_ONESHOT=n
CONFIG_ACPI_BATTERY=n
CONFIG_AS_HAS_NON_CONST_ULEB128=n
CONFIG_DRM=n
CONFIG_ARCH_MIGHT_HAVE_ACPI_PDC=n
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST_IDLE=n
CONFIG_DRM_I915_USERPTR=n
CONFIG_ARCH_HAS_FORTIFY_SOURCE=n
CONFIG_IRQ_MSI_LIB=n
CONFIG_FUNCTION_ALIGNMENT_4B=n
CONFIG_PID_NS=n
CONFIG_TRACE_IRQFLAGS_SUPPORT=n
CONFIG_FW_CACHE=n
CONFIG_THERMAL_NETLINK=n
CONFIG_ATA_FORCE=n
CONFIG_CRYPTO_LIB_GF128HASH_ARCH=n
CONFIG_SUSPEND_FREEZER=n
CONFIG_ACPI_SYSTEM_POWER_STATES_SUPPORT=n
CONFIG_NET_TULIP=n
CONFIG_SERIO=n
CONFIG_FIRMWARE_TABLE=n
CONFIG_ARCH_HIBERNATION_HEADER=n
CONFIG_NETFILTER_XT_TARGET_TCPMSS=n
CONFIG_ALLOW_DEV_COREDUMP=n
CONFIG_APERTURE_HELPERS=n
CONFIG_SCHED_OMIT_FRAME_POINTER=n
CONFIG_ARCH_SUPPORTS_ATOMIC_RMW=n
CONFIG_ACPI_I2C_OPREGION=n
CONFIG_BLK_DEV_DM=n
CONFIG_FSNOTIFY=n
CONFIG_ETHERNET=n
CONFIG_ACPI_AC=n
CONFIG_PREEMPTION=n
CONFIG_NF_LOG_IPV4=n
CONFIG_X86_DISABLED_FEATURE_LAM=n
CONFIG_HAVE_LIVEPATCH=n
CONFIG_PCCARD=n
CONFIG_SCSI_MOD=n
CONFIG_NLS_ISO8859_1=n
CONFIG_SCSI_LOWLEVEL=n
CONFIG_CC_HAS_INT128=n
CONFIG_CONTEXT_TRACKING=n
CONFIG_X86_DISABLED_FEATURE_SEV_SNP=n
CONFIG_LOCKDEP_SUPPORT=n
CONFIG_NUMA_MIGRATION=n
CONFIG_NET_VENDOR_AMD=n
CONFIG_MD_AUTODETECT=n
CONFIG_NET_VENDOR_MICROCHIP=n
CONFIG_X86_DISABLED_FEATURE_FRED=n
CONFIG_X86_IOPL_IOPERM=n
CONFIG_HAVE_GENERIC_TIF_BITS=n
CONFIG_ACPI_CPPC_LIB=n
CONFIG_NFS_V4_0=n
CONFIG_HID_GENERIC=n
CONFIG_CRYPTO_HASH2=n
CONFIG_ACPI_PRMT=n
CONFIG_HAVE_ARCH_MMAP_RND_BITS=n
CONFIG_RT_MUTEXES=n
CONFIG_NEED_PER_CPU_PAGE_FIRST_CHUNK=n
CONFIG_BLK_DEV_DM_BUILTIN=n
CONFIG_DEBUG_DEVRES=n
CONFIG_USB_HIDDEV=n
CONFIG_PCSPKR_PLATFORM=n
CONFIG_ASN1=n
CONFIG_SND=n
CONFIG_NET_VENDOR_MICROSOFT=n
CONFIG_X86_REQUIRED_FEATURE_XMM=n
CONFIG_DEBUG_FS=n
CONFIG_GRACE_PERIOD=n
CONFIG_WERROR=n
CONFIG_ARCH_HAS_SET_MEMORY=n
CONFIG_X86_REQUIRED_FEATURE_CX8=n
CONFIG_CRYPTO_LIB_AES_CBC_MACS=n
CONFIG_NFS_ACL_SUPPORT=n
CONFIG_DST_CACHE=n
CONFIG_MTRR=n
CONFIG_CRYPTO_HASH=n
CONFIG_NET_VENDOR_CORTINA=n
CONFIG_LEDS_CLASS=n
CONFIG_ARCH_WANT_COMPAT_IPC_PARSE_VERSION=n
CONFIG_NETFILTER_XT_TARGET_SECMARK=n
CONFIG_HAVE_PREEMPT_DYNAMIC=n
CONFIG_TASKS_TRACE_RCU=n
CONFIG_VHOST_MENU=n
CONFIG_HAVE_KERNEL_XZ=n
CONFIG_UTS_NS=n
CONFIG_VT_CONSOLE_SLEEP=n
CONFIG_DRM_VIRTIO_GPU=n
CONFIG_VHOST_ENABLE_FORK_OWNER_CONTROL=n
CONFIG_SCSI_SPI_ATTRS=n
CONFIG_MD_BITMAP=n
CONFIG_DRM_VIRTIO_GPU_KMS=n
CONFIG_HAVE_USER_RETURN_NOTIFIER=n
CONFIG_ARCH_HAVE_NMI_SAFE_CMPXCHG=n
CONFIG_X86_PKG_TEMP_THERMAL=n
CONFIG_VIRTUALIZATION=n
CONFIG_HID_SUPPORT=n
CONFIG_CC_HAS_AUTO_VAR_INIT_PATTERN=n
CONFIG_DRM_TTM=n
CONFIG_X86_DEBUG_FPU=n
CONFIG_NF_CONNTRACK_SIP=n
CONFIG_IRQ_FORCED_THREADING=n
CONFIG_RTC_NVMEM=n
CONFIG_SND_HDA_CORE=n
CONFIG_NF_LOG_ARP=n
CONFIG_KPROBES=n
CONFIG_MISC_FILESYSTEMS=n
CONFIG_CRYPTO_SHA1=n
CONFIG_IOMMU_DEFAULT_DMA_LAZY=n
CONFIG_INTEL_TCC=n
CONFIG_IOMMU_PT_AMDV1=n
CONFIG_CRYPTO_LIB_MD5=n
CONFIG_ARCH_MIGHT_HAVE_PC_SERIO=n
CONFIG_EFI_PARTITION=n
CONFIG_PM_SLEEP=n
CONFIG_UPROBE_EVENTS=n
CONFIG_TMPFS_POSIX_ACL=n
CONFIG_INIT_STACK_ALL_ZERO=n
CONFIG_ARCH_HAS_FAST_MULTIPLIER=n
CONFIG_FUTEX=n
CONFIG_INPUT_TOUCHSCREEN=n
CONFIG_NETFILTER_XT_MATCH_STATE=n
CONFIG_ARCH_WANT_BATCHED_UNMAP_TLB_FLUSH=n
CONFIG_PTDUMP=n
CONFIG_TMPFS=n
CONFIG_EVENT_TRACING=n
CONFIG_X86_SUPPORTS_MEMORY_FAILURE=n
CONFIG_SYSTEM_DATA_VERIFICATION=n
CONFIG_ZSTD_COMMON=n
CONFIG_NETLABEL=n
CONFIG_NFS_V4=n
CONFIG_SLUB=n
CONFIG_ARCH_HAS_DEVMEM_IS_ALLOWED=n
CONFIG_TCP_CONG_CUBIC=n
CONFIG_PERF_EVENTS=n
CONFIG_GENERIC_IRQ_RESERVATION_MODE=n
CONFIG_XXHASH=n
CONFIG_ARCH_HAS_KERNEL_FPU_SUPPORT=n
CONFIG_TRACE_CLOCK=n
CONFIG_SOFTIRQ_ON_OWN_STACK=n
CONFIG_CPU_IDLE_GOV_HALTPOLL=n
CONFIG_LD_ORPHAN_WARN=n
CONFIG_NFS_V3_ACL=n
CONFIG_CC_HAS_RETURN_THUNK=n
CONFIG_PTP_1588_CLOCK_OPTIONAL=n
CONFIG_SECURITY_NETWORK=n
CONFIG_SECURITY=n
CONFIG_HIBERNATE_CALLBACKS=n
CONFIG_X86_X2APIC=n
CONFIG_HIBERNATION=n
CONFIG_DW_DMAC_CORE=n
CONFIG_NET_VENDOR_VERTEXCOM=n
CONFIG_R8169=n
CONFIG_CPUSETS=n
CONFIG_NET_CLS=n
CONFIG_NET_VENDOR_QUALCOMM=n
CONFIG_NVMEM_SYSFS=n
CONFIG_NETFILTER_XT_MATCH_ADDRTYPE=n
CONFIG_WLAN_VENDOR_PURELIFI=n
CONFIG_PNFS_FILE_LAYOUT=n
CONFIG_RTC_LIB=n
CONFIG_HAVE_PAGE_SIZE_4KB=n
CONFIG_NET_INGRESS=n
CONFIG_RCU_NEED_SEGCBLIST=n
CONFIG_TRACE_IRQFLAGS_NMI_SUPPORT=n
CONFIG_NET_VENDOR_MARVELL=n
CONFIG_MSDOS_PARTITION=n
CONFIG_MITIGATION_GDS=n
CONFIG_NET_PTP_CLASSIFY=n
CONFIG_X86_PLATFORM_DEVICES=n
CONFIG_NETCONSOLE=n
CONFIG_HAVE_REGS_AND_STACK_ACCESS_API=n
CONFIG_NF_LOG_IPV6=n
CONFIG_SERIAL_NONSTANDARD=n
CONFIG_FW_LOADER=n
CONFIG_X86_DISABLED_FEATURE_K6_MTRR=n
CONFIG_NET_VENDOR_3COM=n
CONFIG_NET_VENDOR_ALACRITECH=n
CONFIG_KERNFS=n
CONFIG_NEED_DMA_MAP_STATE=n
CONFIG_CRYPTO_ECHAINIV=n
CONFIG_EARLY_PRINTK_DBGP=n
CONFIG_SYSVIPC_SYSCTL=n
CONFIG_CORE_DUMP_DEFAULT_ELF_HEADERS=n
CONFIG_EEPROM_93CX6=n
CONFIG_HAVE_NMI=n
CONFIG_RPCSEC_GSS_KRB5=n
CONFIG_AS_IS_GNU=n
CONFIG_PCI_LOCKLESS_CONFIG=n
CONFIG_YENTA_TI=n
CONFIG_PROC_KCORE=n
CONFIG_GENERIC_SMP_IDLE_THREAD=n
CONFIG_XZ_DEC_BCJ=n
CONFIG_CPU_MITIGATIONS=n
CONFIG_EDAC_ATOMIC_SCRUB=n
CONFIG_NET_VENDOR_INTEL=n
CONFIG_PERF_EVENTS_INTEL_CSTATE=n
CONFIG_HAVE_GUP_FAST=n
CONFIG_HAVE_ARCH_KCSAN=n
CONFIG_STACKPROTECTOR=n
CONFIG_RPS=n
CONFIG_X86_DISABLED_FEATURE_SGX=n
CONFIG_NET_VENDOR_DLINK=n
CONFIG_CPU_FREQ_GOV_SCHEDUTIL=n
CONFIG_X86_ACPI_CPUFREQ_CPB=n
CONFIG_AUDIT=n
CONFIG_HAVE_RETHOOK=n
CONFIG_BUILDTIME_TABLE_SORT=n
CONFIG_GLOB=n
CONFIG_NET_EMATCH=n
CONFIG_SCSI_VIRTIO=n
CONFIG_HAVE_ARCH_GET_SECUREBOOT=n
CONFIG_STACKDEPOT=n
CONFIG_NEED_SG_DMA_LENGTH=n
CONFIG_ACPI_THERMAL_LIB=n
CONFIG_RUSTC_HAS_SPAN_FILE=n
CONFIG_RFKILL=n
CONFIG_PKCS7_MESSAGE_PARSER=n
CONFIG_MUTEX_SPIN_ON_OWNER=n
CONFIG_ARCH_HAVE_EXTRA_ELF_NOTES=n
CONFIG_HAVE_ARCH_VMAP_STACK=n
CONFIG_IOMMU_PT_X86_64=n
CONFIG_IPV6_SIT=n
CONFIG_CC_HAS_MIN_FUNCTION_ALIGNMENT=n
CONFIG_SND_DMA_SGBUF=n
CONFIG_DRM_DISPLAY_HELPER=n
CONFIG_ACPI_NHLT=n
CONFIG_ACPI=n
CONFIG_ARCH_HAS_NONLEAF_PMD_YOUNG=n
CONFIG_NET_VENDOR_PENSANDO=n
CONFIG_ACPI_MADT_WAKEUP=n
CONFIG_PCIEPORTBUS=n
CONFIG_MITIGATION_MDS=n
CONFIG_HAVE_FUTEX_ROBUST_UNLOCK=n
CONFIG_MITIGATION_UNRET_ENTRY=n
CONFIG_BSD_PROCESS_ACCT=n
CONFIG_JBD2=n
CONFIG_HID_SONY=n
CONFIG_AS_WRUSS=n
CONFIG_INET6_ESP=n
CONFIG_POSIX_MQUEUE_SYSCTL=n
CONFIG_CC_HAS_ASM_INLINE=n
CONFIG_VM_EVENT_COUNTERS=n
CONFIG_POSIX_TIMERS=n
CONFIG_UNION_FIND=n
CONFIG_HAVE_FUNCTION_TRACER=n
CONFIG_ARCH_SUPPORTS_PER_VMA_LOCK=n
CONFIG_SYSVIPC_COMPAT=n
CONFIG_ARCH_SUPPORTS_KEXEC_FILE=n
CONFIG_AUDIT_ARCH=n
CONFIG_LD_CAN_USE_KEEP_IN_OVERLAY=n
CONFIG_DECOMPRESS_LZO=n
CONFIG_SCHED_MC_PRIO=n
CONFIG_RTC_DRV_CMOS=n
CONFIG_HAVE_CMPXCHG_LOCAL=n
CONFIG_KRETPROBE_ON_RETHOOK=n
CONFIG_MOUSE_PS2_TRACKPOINT=n
CONFIG_ACPI_EC=n
CONFIG_IP_PIMSM_V2=n
CONFIG_HUGETLB_PMD_PAGE_TABLE_SHARING=n
CONFIG_ARCH_USE_CMPXCHG_LOCKREF=n
CONFIG_TASKS_RCU_GENERIC=n
CONFIG_HOTPLUG_CORE_SYNC=n
CONFIG_IP_MULTIPLE_TABLES=n
CONFIG_GENERIC_PENDING_IRQ=n
CONFIG_GENERIC_GETTIMEOFDAY=n
CONFIG_NET_VENDOR_XIRCOM=n
CONFIG_SND_PCM=n
CONFIG_GENERIC_CLOCKEVENTS_COUPLED=n
CONFIG_SCHED_CLUSTER=n
CONFIG_SECURITY_SELINUX=n
CONFIG_X86=n
CONFIG_HAVE_OPTPROBES=n
CONFIG_NET_CLS_CGROUP=n
CONFIG_X86_64_ACPI_NUMA=n
CONFIG_HID=n
CONFIG_PPS=n
