CONFIG_RD_ZSTD=y
CONFIG_GPIO_MAX7360=y
CONFIG_SQUASHFS_4K_DEVBLK_SIZE=y
CONFIG_BATTERY_CW2015=y
CONFIG_NLS_ISO8859_5=y
CONFIG_CRC_ITU_T=y
CONFIG_UNICODE=y
CONFIG_NLS_CODEPAGE_1250=y
CONFIG_MFD_WM8997=y
CONFIG_X86_USER_SHADOW_STACK=y
CONFIG_HAVE_KVM_READONLY_MEM=y
CONFIG_MAILBOX=y
CONFIG_SQUASHFS_MOUNT_DECOMP_THREADS=y
CONFIG_TEST_FPU=y
CONFIG_MOUSE_VSXXXAA=y
CONFIG_KEY_NOTIFICATIONS=y
CONFIG_GPIO_PCA953X_IRQ=y
CONFIG_ARCH_HAS_PTE_SPECIAL=y
CONFIG_NVME_TARGET_AUTH=y
CONFIG_SERIAL_MAX310X=y
CONFIG_LOCKDEP_SUPPORT=y
CONFIG_VHOST_IOTLB=y
CONFIG_HAVE_ARCH_KASAN=y
CONFIG_INET_TCP_DIAG=y
CONFIG_TLS=y
CONFIG_IPACK_BUS=y
CONFIG_MFD_AXP20X=y
CONFIG_MFD_MAX77705=y
CONFIG_KEXEC_CORE=y
CONFIG_GRO_CELLS=y
CONFIG_6LOWPAN_NHC_ROUTING=y
CONFIG_CRYPTO_ECHAINIV=y
CONFIG_MTD_NAND_NANDSIM=y
CONFIG_INET_UDP_DIAG=y
CONFIG_MFD_CS40L50_SPI=y
CONFIG_STP=y
CONFIG_THERMAL_NETLINK=y
CONFIG_GENERIC_BITREVERSE=y
CONFIG_MMU_GATHER_RCU_TABLE_FREE=y
CONFIG_HAVE_PAGE_SIZE_4KB=y
CONFIG_FB_CFB_FILLRECT=y
CONFIG_CRYPTO_LIB_MD5=y
CONFIG_SPARSEMEM_EXTREME=y
CONFIG_ARCH_SUSPEND_POSSIBLE=y
CONFIG_HAVE_GCC_PLUGINS=y
CONFIG_DMAPOOL_TEST=y
CONFIG_PATA_PARPORT_KBIC=y
CONFIG_SPI_MICROCHIP_CORE_QSPI=y
CONFIG_NTFS_DEBUG=y
CONFIG_CRYPTO_SERPENT_AVX2_X86_64=y
CONFIG_TOUCHSCREEN_EGALAX_SERIAL=y
CONFIG_CHR_DEV_SG=y
CONFIG_MFD_MT6360=y
CONFIG_ADDRESS_MASKING=y
CONFIG_SENSORS_TMP421=y
CONFIG_SENSORS_TSL2550=y
CONFIG_SATA_AHCI_PLATFORM=y
CONFIG_SERIAL_8250_NI=y
CONFIG_MICROCODE_DBG=y
CONFIG_ARCH_MAY_HAVE_PC_FDC=y
CONFIG_BT_BNEP_MC_FILTER=y
CONFIG_CAN_RAW=y
CONFIG_OVERLAY_FS_INDEX=y
CONFIG_DECOMPRESS_BZIP2=y
CONFIG_ARCH_HAS_USER_SHADOW_STACK=y
CONFIG_MS_BLOCK=y
CONFIG_SENSORS_MCP3021=y
CONFIG_ARCH_USE_CMPXCHG_LOCKREF=y
CONFIG_SENSORS_MAX31785=y
CONFIG_CRYPTO_CCM=y
CONFIG_NLS_ISO8859_3=y
CONFIG_COMMON_CLK_PALMAS=y
CONFIG_ARCH_SUPPORTS_SCHED_MC=y
CONFIG_NLS_ISO8859_4=y
CONFIG_GPIO_REGMAP=y
CONFIG_SOCK_RX_QUEUE_MAPPING=y
CONFIG_RANDSTRUCT=y
CONFIG_COMEDI_MISC_DRIVERS=y
CONFIG_LEDS_CLASS_MULTICOLOR=y
CONFIG_DEVTMPFS=y
CONFIG_WQ_POWER_EFFICIENT_DEFAULT=y
CONFIG_X86_DISABLED_FEATURE_XENPV=y
CONFIG_REGMAP_SLIMBUS=y
CONFIG_X86_REQUIRED_FEATURE_PAE=y
CONFIG_NTSYNC=y
CONFIG_I2C_SLAVE=y
CONFIG_STM_PROTO_BASIC=y
CONFIG_SOCK_CGROUP_DATA=y
CONFIG_BEFS_DEBUG=y
CONFIG_ARCH_CPUIDLE_HALTPOLL=y
CONFIG_LEDS_MLXREG=y
CONFIG_SENSORS_LM63=y
CONFIG_XZ_DEC=y
CONFIG_CPU_IDLE_GOV_MENU=y
CONFIG_TOUCHSCREEN_AUO_PIXCIR=y
CONFIG_ZL3073X=y
CONFIG_ZERO_CALL_USED_REGS=y
CONFIG_BCMA=y
CONFIG_MEMBARRIER=y
CONFIG_USE_X86_SEG_SUPPORT=y
CONFIG_IPV6_SEG6_HMAC=y
CONFIG_CRYPTO_LIB_AES_ARCH=y
CONFIG_CRYPTO_ARC4=y
CONFIG_CODE_TAGGING=y
CONFIG_SENSORS_AD7314=y
CONFIG_INET6_TUNNEL=y
CONFIG_PREEMPTION=y
CONFIG_INPUT_MOUSEDEV=y
CONFIG_TOUCHSCREEN_GOODIX_BERLIN_CORE=y
CONFIG_I3C_OR_I2C=y
CONFIG_LLC=y
CONFIG_SCSI_ISCSI_ATTRS=y
CONFIG_TCG_SVSM=y
CONFIG_SENSORS_MP9941=y
CONFIG_JOYSTICK_IFORCE=y
CONFIG_SENSORS_LTC4215=y
CONFIG_FS_IOMAP=y
CONFIG_BACKLIGHT_LM3533=y
CONFIG_DW_DMAC_CORE=y
CONFIG_IPV6_MULTIPLE_TABLES=y
CONFIG_CGROUP_WRITEBACK=y
CONFIG_BT_HCIUART_BCSP=y
CONFIG_SENSORS_IR38064=y
CONFIG_ARCH_VMLINUX_NEEDS_RELOCS=y
CONFIG_HAS_IOMEM=y
CONFIG_X86_REQUIRED_FEATURE_FPU=y
CONFIG_SENSORS_CRPS=y
CONFIG_QCOM_HIDMA_MGMT=y
CONFIG_INET_IPCOMP=y
CONFIG_IR_ENE=y
CONFIG_XZ_DEC_ARMTHUMB=y
CONFIG_SENSORS_MAX20860A=y
CONFIG_DEFAULT_SECURITY_DAC=y
CONFIG_HAVE_VIRT_CPU_ACCOUNTING_GEN=y
CONFIG_FRAMEBUFFER_CONSOLE_LEGACY_ACCELERATION=y
CONFIG_BACKLIGHT_CLASS_DEVICE=y
CONFIG_BRIDGE_VLAN_FILTERING=y
CONFIG_CRYPTO_USER_API_SKCIPHER=y
CONFIG_KVM_SMM=y
CONFIG_IPMB_DEVICE_INTERFACE=y
CONFIG_SPI=y
CONFIG_HAVE_ARCH_VMAP_STACK=y
CONFIG_LZ4_DECOMPRESS=y
CONFIG_XILINX_VCU=y
CONFIG_MICROCODE_LATE_FORCE_MINREV=y
CONFIG_INPUT_SPARSEKMAP=y
CONFIG_RELAY=y
CONFIG_NET_RX_BUSY_POLL=y
CONFIG_FPGA_MGR_XILINX_SPI=y
CONFIG_ELF_CORE=y
CONFIG_SPI_AXI_SPI_ENGINE=y
CONFIG_MFD_INTEL_M10_BMC_SPI=y
CONFIG_LZO_DECOMPRESS=y
CONFIG_RTC_DRV_M48T86=y
CONFIG_RTC_DRV_DS1511=y
CONFIG_CRYPTO_SHA512=y
CONFIG_GPIO_74X164=y
CONFIG_X86_UMIP=y
CONFIG_NFC_S3FWRN5=y
CONFIG_LEDS_CLASS_FLASH=y
CONFIG_ACPI_LEGACY_TABLES_LOOKUP=y
CONFIG_RC_DEVICES=y
CONFIG_CRYPTO_ARIA=y
CONFIG_LEDS_TRIGGERS=y
CONFIG_SENSORS_PM6764TR=y
CONFIG_CONTIG_ALLOC=y
CONFIG_XZ_DEC_SPARC=y
CONFIG_VHOST_RING=y
CONFIG_MSDOS_PARTITION=y
CONFIG_LINEDISP=y
CONFIG_EEPROM_MAX6875=y
CONFIG_JOYSTICK_SPACEORB=y
CONFIG_SENSORS_ADM1177=y
CONFIG_SCSI_MOD=y
CONFIG_FUTEX_PRIVATE_HASH=y
CONFIG_SENSORS_GPIO_FAN=y
CONFIG_X25=y
CONFIG_HAVE_FTRACE_REGS_HAVING_PT_REGS=y
CONFIG_ACPI_EC=y
CONFIG_HPET=y
CONFIG_CC_HAS_IBT=y
CONFIG_TOUCHSCREEN_WACOM_W9000=y
CONFIG_XDP_SOCKETS=y
CONFIG_DYNAMIC_SIGFRAME=y
CONFIG_CONSOLE_TRANSLATIONS=y
CONFIG_HAVE_IRQ_TIME_ACCOUNTING=y
CONFIG_HVC_DRIVER=y
CONFIG_SPI_OFFLOAD_TRIGGER_PWM=y
CONFIG_SENSORS_PWM_FAN=y
CONFIG_SYSTEM_TRUSTED_KEYRING=y
CONFIG_SENSORS_MP5920=y
CONFIG_ACPI_AC=y
CONFIG_NET_KEY_MIGRATE=y
CONFIG_SENSORS_MAX34440=y
CONFIG_SLUB_DEBUG_ON=y
CONFIG_SYSCTL=y
CONFIG_W1_SLAVE_DS2405=y
CONFIG_MFD_TI_LMU=y
CONFIG_BT_HCIUART=y
CONFIG_KVFREE_RCU_BATCHED=y
CONFIG_COMEDI_KCOMEDILIB=y
CONFIG_SBITMAP=y
CONFIG_EXTCON_MAX77843=y
CONFIG_GENERIC_CPU_AUTOPROBE=y
CONFIG_UDF_FS=y
CONFIG_BLK_CGROUP=y
CONFIG_FPGA_DFL_NIOS_INTEL_PAC_N3000=y
CONFIG_PM_WAKELOCKS=y
CONFIG_CONTEXT_TRACKING_USER_FORCE=y
CONFIG_AUXILIARY_BUS=y
CONFIG_MFD_CS40L50_CORE=y
CONFIG_X86_CPA_STATISTICS=y
CONFIG_RD_XZ=y
CONFIG_SENSORS_LM78=y
CONFIG_XILINX_XDMA=y
CONFIG_PNPACPI=y
CONFIG_HYPERVISOR_GUEST=y
CONFIG_KEYS_REQUEST_CACHE=y
CONFIG_FRAMEBUFFER_CONSOLE_ROTATION=y
CONFIG_CLZ_TAB=y
CONFIG_RTC_LIB=y
CONFIG_POSIX_MQUEUE=y
CONFIG_PARPORT_PANEL=y
CONFIG_X86_CET=y
CONFIG_EDAC_ATOMIC_SCRUB=y
CONFIG_X86_PM_TIMER=y
CONFIG_XZ_DEC_POWERPC=y
CONFIG_X86_DISABLED_FEATURE_UNRET=y
CONFIG_SENSORS_LM75=y
CONFIG_GCOV_KERNEL=y
CONFIG_HAVE_ACPI_APEI=y
CONFIG_TTY=y
CONFIG_I2C=y
CONFIG_IP_ADVANCED_ROUTER=y
CONFIG_HZ_300=y
CONFIG_XPS=y
CONFIG_BIG_KEYS=y
CONFIG_SENSORS_LTC2947_I2C=y
CONFIG_TOUCHSCREEN_CY8CTMA140=y
CONFIG_SENSORS_ADCXX=y
CONFIG_CHARGER_BD99954=y
CONFIG_SPI_MXIC=y
CONFIG_ARCH_SUPPORTS_CRASH_HOTPLUG=y
CONFIG_STM=y
CONFIG_VGASTATE=y
CONFIG_QUOTA_TREE=y
CONFIG_REGMAP_IRQ=y
CONFIG_RTC_DRV_RX6110=y
CONFIG_PREVENT_FIRMWARE_BUILD=y
CONFIG_6LOWPAN_GHC_ICMPV6=y
CONFIG_BFQ_CGROUP_DEBUG=y
CONFIG_MFD_TPS6594=y
CONFIG_SLAB_MERGE_DEFAULT=y
CONFIG_SERIAL_8250_CONSOLE=y
CONFIG_MFD_CS40L50_I2C=y
CONFIG_FW_CACHE=y
CONFIG_SENSORS_IBMAEM=y
CONFIG_REGMAP_SPI=y
CONFIG_FB_NOTIFY=y
CONFIG_SCHED_CLUSTER=y
CONFIG_EFI_PARTITION=y
CONFIG_MFD_TPS65090=y
CONFIG_INPUT=y
CONFIG_ISA_DMA_API=y
CONFIG_BLK_DEV_BSGLIB=y
CONFIG_XXHASH=y
CONFIG_PWM_LP3943=y
CONFIG_CRYPTO_SM4_AESNI_AVX2_X86_64=y
CONFIG_NFC_ST_NCI=y
CONFIG_TEST_MAPLE_TREE=y
CONFIG_TOUCHSCREEN_MSG2638=y
CONFIG_HAVE_ARCH_HUGE_VMAP=y
CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE=y
CONFIG_GPIO_CROS_EC=y
CONFIG_RTC_SYSTOHC=y
CONFIG_GPIO_PALMAS=y
CONFIG_MFD_INTEL_M10_BMC_CORE=y
CONFIG_IDLE_INJECT=y
CONFIG_EFI_DISABLE_RUNTIME=y
CONFIG_SECRETMEM=y
CONFIG_ACPI_DEBUG=y
CONFIG_CRYPTO_MANAGER=y
CONFIG_QUEUED_RWLOCKS=y
CONFIG_ARCH_HAS_CPU_FINALIZE_INIT=y
CONFIG_RTC_DRV_RC5T583=y
CONFIG_SATA_DWC_OLD_DMA=y
CONFIG_X86_DISABLED_FEATURE_K6_MTRR=y
CONFIG_BCH=y
CONFIG_SENSORS_AS370=y
CONFIG_MFD_PALMAS=y
CONFIG_MFD_MAX77843=y
CONFIG_SERIAL_SC16IS7XX=y
CONFIG_KVM_MMIO=y
CONFIG_RFKILL=y
CONFIG_FB_SYS_IMAGEBLIT=y
CONFIG_6LOWPAN_NHC_FRAGMENT=y
CONFIG_SENSORS_LTC2991=y
CONFIG_FB_ARC=y
CONFIG_CRYPTO_CBC=y
CONFIG_LEDS_LM3532=y
CONFIG_MTD_UBI=y
CONFIG_HAVE_FUTEX_ROBUST_UNLOCK=y
CONFIG_BFS_FS=y
CONFIG_ELFCORE=y
CONFIG_X86_DISABLED_FEATURE_ENQCMD=y
CONFIG_CRASH_RESERVE=y
CONFIG_ACPI_TAD=y
CONFIG_EEPROM_AT24=y
CONFIG_SERIO_LIBPS2=y
CONFIG_ENERGY_MODEL=y
CONFIG_HAVE_CLK_PREPARE=y
CONFIG_HAVE_FUNCTION_ERROR_INJECTION=y
CONFIG_MIGRATION=y
CONFIG_PROC_SYSCTL=y
CONFIG_SENSORS_IBM_CFFPS=y
CONFIG_GPIO_IT87=y
CONFIG_MCB_LPC=y
CONFIG_SENSORS_AMC6821=y
CONFIG_X86_HV_CALLBACK_VECTOR=y
CONFIG_GCC_PLUGIN_STACKLEAK=y
CONFIG_ARCH_STACKWALK=y
CONFIG_CRC64=y
CONFIG_BCMA_DEBUG=y
CONFIG_INET6_ESP_OFFLOAD=y
CONFIG_EARLY_PRINTK=y
CONFIG_SERIAL_SCCNXP_CONSOLE=y
CONFIG_RTC_DEBUG=y
CONFIG_MFD_AAT2870_CORE=y
CONFIG_NFTL=y
CONFIG_ARCH_HAS_ADD_PAGES=y
CONFIG_GENERIC_IRQ_RESERVATION_MODE=y
CONFIG_UEVENT_HELPER=y
CONFIG_SIGNED_PE_FILE_VERIFICATION=y
CONFIG_ACPI_DPTF=y
CONFIG_KEXEC=y
CONFIG_BT_DEBUGFS=y
CONFIG_HOTPLUG_CORE_SYNC=y
CONFIG_6LOWPAN_NHC_HOP=y
CONFIG_ZONE_DMA32=y
CONFIG_CRYPTO_LIB_AESCFB=y
CONFIG_SENSORS_ADS7871=y
CONFIG_DEVFREQ_GOV_USERSPACE=y
CONFIG_VIRT_CPU_ACCOUNTING_GEN=y
CONFIG_MUTEX_SPIN_ON_OWNER=y
CONFIG_MPLS_IPTUNNEL=y
CONFIG_GPIO_SCH311X=y
CONFIG_SENSORS_MAX31722=y
CONFIG_6LOWPAN_GHC_EXT_HDR_DEST=y
CONFIG_BUFFER_HEAD=y
CONFIG_MTD_QINFO_PROBE=y
CONFIG_HAVE_DMA_CONTIGUOUS=y
CONFIG_HAVE_KVM_CPU_RELAX_INTERCEPT=y
CONFIG_NFC_PN533=y
CONFIG_SCSI_UFS_CRYPTO=y
CONFIG_COMPAT_BINFMT_ELF=y
CONFIG_MFD_WM8994=y
CONFIG_DYNAMIC_PHYSICAL_MASK=y
CONFIG_CRYPTO_LIB_SHA1=y
CONFIG_HAVE_KVM_PFNCACHE=y
CONFIG_ZSTD_DECOMPRESS=y
CONFIG_MFD_LM3533=y
CONFIG_CGROUP_MISC=y
CONFIG_ACPI_LPIT=y
CONFIG_NFC_MRVL_UART=y
CONFIG_VMCORE_INFO=y
CONFIG_LIRC=y
CONFIG_MTD_CFI_I2=y
CONFIG_SENSORS_BEL_PFE=y
CONFIG_MFD_RC5T583=y
CONFIG_PRIME_NUMBERS=y
CONFIG_GCC_PLUGIN_LATENT_ENTROPY=y
CONFIG_DPLL=y
CONFIG_BEFS_FS=y
CONFIG_RC_CORE=y
CONFIG_UIO=y
CONFIG_MFD_TQMX86=y
CONFIG_BPF_PRELOAD_UMD=y
CONFIG_TCP_AO=y
CONFIG_HAVE_SAMPLE_FTRACE_DIRECT_MULTI=y
CONFIG_BT_AOSPEXT=y
CONFIG_FUTEX=y
CONFIG_HAVE_KERNEL_LZO=y
CONFIG_SENSORS_STTS751=y
CONFIG_NFC_S3FWRN5_I2C=y
CONFIG_ARCH_SUPPORTS_KEXEC_SIG=y
CONFIG_MEMFD_CREATE=y
CONFIG_RTC_DRV_MAX6902=y
CONFIG_NLS_MAC_CENTEURO=y
CONFIG_MTD_LPDDR=y
CONFIG_FB_IOMEM_HELPERS=y
CONFIG_RESET_TI_SYSCON=y
CONFIG_ARCH_WANT_OPTIMIZE_DAX_VMEMMAP=y
CONFIG_NLS_ISO8859_2=y
CONFIG_JOYSTICK_TURBOGRAFX=y
CONFIG_IA32_FEAT_CTL=y
CONFIG_XFRM_MIGRATE=y
CONFIG_CROSS_MEMORY_ATTACH=y
CONFIG_SENSORS_LM73=y
CONFIG_BACKLIGHT_ADP8870=y
CONFIG_POSIX_TIMERS=y
CONFIG_ZLIB_INFLATE=y
CONFIG_FS_STACK=y
CONFIG_VDPA_SIM_NET=y
CONFIG_VSOCKETS_DIAG=y
CONFIG_HEADERS_INSTALL=y
CONFIG_MTD_SPI_NOR=y
CONFIG_NVME_FC=y
CONFIG_IP_PNP=y
CONFIG_CRYPTO_SEED=y
CONFIG_ARCH_HAS_NMI_SAFE_THIS_CPU_OPS=y
CONFIG_LEDS_TRIGGER_ACTIVITY=y
CONFIG_GPIO_WAVESHARE_DSI_TOUCH=y
CONFIG_SM_FTL=y
CONFIG_HSI_BOARDINFO=y
CONFIG_CRYPTO_ECC=y
CONFIG_LEDS_LM3642=y
CONFIG_RTC_DRV_88PM860X=y
CONFIG_ARCH_WANT_HUGETLB_VMEMMAP_PREINIT=y
CONFIG_HAVE_KERNEL_LZ4=y
CONFIG_CRYPTO_GCM=y
CONFIG_CC_HAS_NAMED_AS=y
CONFIG_HAVE_CLK=y
CONFIG_SPI_ALTERA=y
CONFIG_HAVE_STACK_VALIDATION=y
CONFIG_MAX31827=y
CONFIG_SENSORS_TDA38640=y
CONFIG_SENSORS_NCT7802=y
CONFIG_X86_NEED_RELOCS=y
CONFIG_BATMAN_ADV_BATMAN_V=y
CONFIG_I2C_BOARDINFO=y
CONFIG_RCU_STALL_COMMON=y
CONFIG_SENSORS_ADM1275=y
CONFIG_SF_PDMA=y
CONFIG_HAVE_KLP_BUILD=y
CONFIG_CRYPTO_LIB_CHACHA20POLY1305=y
CONFIG_SENSORS_TPS40422=y
CONFIG_ARCH_SUPPORTS_KMAP_LOCAL_FORCE_MAP=y
CONFIG_ATA_SFF=y
CONFIG_EVENTFD=y
CONFIG_MFD_WM5102=y
CONFIG_GCOV_PROFILE_URING=y
CONFIG_TARGET_CORE=y
CONFIG_CAN_ISOTP=y
CONFIG_X86_REQUIRED_FEATURE_NOPL=y
CONFIG_LOCALVERSION_AUTO=y
CONFIG_BATTERY_CHAGALL=y
CONFIG_ARCH_HAS_HW_PTE_YOUNG=y
CONFIG_DEBUG_MEMORY_INIT=y
CONFIG_SYSVIPC=y
CONFIG_GPIO_F7188X=y
CONFIG_NLS_CODEPAGE_775=y
CONFIG_FB_SYSMEM_FOPS=y
CONFIG_SENSORS_NCT6683=y
CONFIG_SENSORS_POWR1220=y
CONFIG_CRYPTO_ALGAPI=y
CONFIG_RTC_DRV_R9701=y
CONFIG_HAVE_RETHOOK=y
CONFIG_SERIAL_8250_DMA=y
CONFIG_RTC_DRV_SD2405AL=y
CONFIG_NULL_TTY=y
CONFIG_ARCH_HAS_NONLEAF_PMD_YOUNG=y
CONFIG_LD_ORPHAN_WARN=y
CONFIG_PAGE_POOL=y
CONFIG_EFI_EARLYCON=y
CONFIG_INET6_AH=y
CONFIG_NET_XGRESS=y
CONFIG_MMU_NOTIFIER=y
CONFIG_CRYPTO_AUTHENC=y
CONFIG_BACKLIGHT_CGBC=y
CONFIG_STANDALONE=y
CONFIG_FB_N411=y
CONFIG_SERIAL_FSL_LINFLEXUART=y
CONFIG_SERIAL_8250=y
CONFIG_RTC_DRV_DS1305=y
CONFIG_CORDIC=y
CONFIG_X86_REQUIRED_FEATURE_PGE=y
CONFIG_ICS932S401=y
CONFIG_SAMPLE_TIMER=y
CONFIG_MFD_WCD934X=y
CONFIG_SENSORS_INA238=y
CONFIG_SATA_HOST=y
CONFIG_MFD_AXP20X_I2C=y
CONFIG_SERIO_ARC_PS2=y
CONFIG_NEED_PER_CPU_PAGE_FIRST_CHUNK=y
CONFIG_MFD_AS3711=y
CONFIG_CHARGER_BQ2415X=y
CONFIG_SENSORS_MP2856=y
CONFIG_RTC_DRV_FTRTC010=y
CONFIG_RTC_DRV_DS1390=y
CONFIG_PRINTER=y
CONFIG_DEVFREQ_GOV_PERFORMANCE=y
CONFIG_GCC_PLUGIN_RANDSTRUCT=y
CONFIG_CRYPTO_LIB_ARC4=y
CONFIG_PHY_PXA_28NM_HSIC=y
CONFIG_HOTPLUG_SPLIT_STARTUP=y
CONFIG_MFD_TI_LP873X=y
CONFIG_HOTPLUG_SMT=y
CONFIG_MPTCP=y
CONFIG_SENSORS_MAX6621=y
CONFIG_NET_DEVMEM=y
