CONFIG_I2C_MUX_PCA9541=y
CONFIG_SLIP=y
CONFIG_PAGE_SIZE_LESS_THAN_64KB=y
CONFIG_GPIO_DS4520=y
CONFIG_RV=y
CONFIG_FIX_EARLYCON_MEM=y
CONFIG_DMARD06=y
CONFIG_PINCTRL_SAMSUNG=y
CONFIG_PINCONF=y
CONFIG_FSI_MASTER_ASPEED=y
CONFIG_EXYNOS_CLKOUT=y
CONFIG_ARCH_SUPPORTS_CFI=y
CONFIG_HTS221_I2C=y
CONFIG_PCIE_VISCONTI_HOST=y
CONFIG_REGULATOR_LP87565=y
CONFIG_SENSORS_W83627EHF=y
CONFIG_BLK_DEV_SR=y
CONFIG_TCG_TIS_I2C=y
CONFIG_MVEBU_SEI=y
CONFIG_HAVE_ARCH_THREAD_STRUCT_WHITELIST=y
CONFIG_CRYPTO=y
CONFIG_USB_SERIAL_METRO=y
CONFIG_PSE_TPS23881=y
CONFIG_PCI_BRIDGE_EMUL=y
CONFIG_SC_CAMCC_7180=y
CONFIG_I2C_HISI=y
CONFIG_FTRACE_VALIDATE_RCU_IS_WATCHING=y
CONFIG_MFD_WM831X=y
CONFIG_MFD_ADP5585=y
CONFIG_SM_DISPCC_7150=y
CONFIG_ASYNC_PQ=y
CONFIG_BMI088_ACCEL_I2C=y
CONFIG_ARCH_SUPPORTS_MSEAL_SYSTEM_MAPPINGS=y
CONFIG_SPI_BCM63XX_HSSPI=y
CONFIG_ARM_NI=y
CONFIG_QUOTA=y
CONFIG_REGULATOR_MAX8893=y
CONFIG_FPGA_MGR_VERSAL_FPGA=y
CONFIG_SPI_OFFLOAD=y
CONFIG_INTEL_XWAY_PHY=y
CONFIG_PCIE_ALTERA=y
CONFIG_CLK_ELIZA_GCC=y
CONFIG_ARM_CCI_PMU=y
CONFIG_RTC_DRV_RX8111=y
CONFIG_MFD_WM831X_SPI=y
CONFIG_SENSORS_ADM9240=y
CONFIG_STRIP_ASM_SYMS=y
CONFIG_STM_SOURCE_HEARTBEAT=y
CONFIG_DMA_DECLARE_COHERENT=y
CONFIG_USB_CDNS3=y
CONFIG_VSOCKETS_LOOPBACK=y
CONFIG_SERIAL_8250_FSL=y
CONFIG_SENSORS_F71805F=y
CONFIG_AOSONG_AGS02MA=y
CONFIG_SENSORS_IIO_HWMON=y
CONFIG_LTC1660=y
CONFIG_RTC_DRV_DS1302=y
CONFIG_PHY_MVEBU_CP110_COMPHY=y
CONFIG_USB_CDNS_SUPPORT=y
CONFIG_CEC_NOTIFIER=y
CONFIG_RSEQ_DEBUG_DEFAULT_ENABLE=y
CONFIG_APPLE_AIC=y
CONFIG_AD4134=y
CONFIG_CRYPTO_DEV_MARVELL_CESA=y
CONFIG_BTRFS_FS=y
CONFIG_ARCNET_RAW=y
CONFIG_FB_TILEBLITTING=y
CONFIG_PINCTRL_SM6125=y
CONFIG_ARCH_SUPPORTS_KEXEC_SIG=y
CONFIG_MSM_GCC_8953=y
CONFIG_SPARSE_IRQ=y
CONFIG_CLK_GLYMUR_DISPCC=y
CONFIG_CRYPTO_DH_RFC7919_GROUPS=y
CONFIG_DP83TC811_PHY=y
CONFIG_CHARGER_BQ257XX=y
CONFIG_ARCH_WANT_PMD_MKWRITE=y
CONFIG_ORANGEFS_FS=y
CONFIG_LITEX_SOC_CONTROLLER=y
CONFIG_HVC_DRIVER=y
CONFIG_USB_XHCI_PCI_RENESAS=y
CONFIG_USB_DWC3_GADGET=y
CONFIG_DS1803=y
CONFIG_PINCTRL_X1E80100=y
CONFIG_SLIP_SMART=y
CONFIG_THERMAL=y
CONFIG_SGI_PARTITION=y
CONFIG_BLK_DEV_WRITE_MOUNTED=y
CONFIG_USB_MON=y
CONFIG_STM=y
CONFIG_CRYPTO_ALGAPI=y
CONFIG_GPIO_74XX_MMIO=y
CONFIG_TRACE_IRQFLAGS=y
CONFIG_DEBUG_LOCK_ALLOC=y
CONFIG_EPOLL=y
CONFIG_PCIE_ARMADA_8K=y
CONFIG_CRYPTO_LIB_GF128HASH=y
CONFIG_SERIAL_CONEXANT_DIGICOLOR=y
CONFIG_I2C=y
CONFIG_REGULATOR_SGM3804=y
CONFIG_HAVE_SOFTIRQ_ON_OWN_STACK=y
CONFIG_POWER_RESET_LINKSTATION=y
CONFIG_SENSORS_SHTC1=y
CONFIG_BMC150_ACCEL_SPI=y
CONFIG_SPI_KSPI2=y
CONFIG_ARM64_ERRATUM_858921=y
CONFIG_HAVE_SYSCALL_TRACEPOINTS=y
CONFIG_NET_SCH_TBF=y
CONFIG_RTC_DRV_DS1742=y
CONFIG_I2C_VERSATILE=y
CONFIG_USB_G_NCM=y
CONFIG_USB_F_RNDIS=y
CONFIG_CLK_NORD_TCSRCC=y
CONFIG_ARCH_SUPPORTS_KEXEC_FILE=y
CONFIG_USB_LEGOTOWER=y
CONFIG_ASYNC_RAID6_RECOV=y
CONFIG_SYSC_R8A77990=y
CONFIG_VFIO_AMBA=y
CONFIG_MFD_CS42L43=y
CONFIG_PINCTRL_SM8250_LPASS_LPI=y
CONFIG_ARCH_HAS_DEBUG_VIRTUAL=y
CONFIG_PM_DEVFREQ_EVENT=y
CONFIG_PINCTRL_RTD1625=y
CONFIG_REGULATOR_DA9121=y
CONFIG_TOUCHSCREEN_BU21013=y
CONFIG_FB_SYS_IMAGEBLIT=y
CONFIG_MFD_MENF21BMC=y
CONFIG_AD3530R=y
CONFIG_ATA_OVER_ETH=y
CONFIG_ARCH_DMA_ADDR_T_64BIT=y
CONFIG_HAVE_SHARED_GPIOS=y
CONFIG_KEYBOARD_QT2160=y
CONFIG_PWM_TIEHRPWM=y
CONFIG_SENSORS_IT87=y
CONFIG_SA_DISPCC_8775P=y
CONFIG_DAVICOM_PHY=y
CONFIG_MFD_MT6360=y
CONFIG_CPU_FREQ=y
CONFIG_SMPRO_MISC=y
CONFIG_CPU_LITTLE_ENDIAN=y
CONFIG_FSI_SBEFIFO=y
CONFIG_GPIO_MOCKUP=y
CONFIG_AD7405=y
CONFIG_SC_GCC_7280=y
CONFIG_IRQ_FASTEOI_HIERARCHY_HANDLERS=y
CONFIG_DEFAULT_SECURITY_DAC=y
CONFIG_ARCH_HAS_USER_SHADOW_STACK=y
CONFIG_SERIAL_CORE_CONSOLE=y
CONFIG_ARCH_VEXPRESS=y
CONFIG_STRICT_KERNEL_RWX=y
CONFIG_HISI_PCIE_PMU=y
CONFIG_EXTCON_MAX77693=y
CONFIG_RESET_SKY1=y
CONFIG_USB_SERIAL_OMNINET=y
CONFIG_VIRTIO_RTC_CLASS=y
CONFIG_MMU_GATHER_RCU_TABLE_FREE=y
CONFIG_VIRTIO_VSOCKETS=y
CONFIG_FB_OPENCORES=y
CONFIG_GENERIC_IOREMAP=y
CONFIG_ADXL367_SPI=y
CONFIG_SCSI_INIA100=y
CONFIG_REGULATOR_DA9211=y
CONFIG_USB_F_SUBSET=y
CONFIG_EXTCON_PTN5150=y
CONFIG_USB_SNP_CORE=y
CONFIG_IIO_TIGHTLOOP_TRIGGER=y
CONFIG_SC_DISPCC_7280=y
CONFIG_SENSORS_MAX6650=y
CONFIG_CRYPTO_USER_API=y
CONFIG_SENSORS_MAX1619=y
CONFIG_GPIOLIB_LEGACY=y
CONFIG_IO_URING=y
CONFIG_SCSI_BUSLOGIC=y
CONFIG_GPIO_FXL6408=y
CONFIG_SPI_DW_MMIO=y
CONFIG_SENSORS_AD7414=y
CONFIG_ARCH_HAS_SYNC_DMA_FOR_CPU=y
CONFIG_MODULES_USE_ELF_RELA=y
CONFIG_ARCH_K3=y
CONFIG_FB_I740=y
CONFIG_ARM64_ERRATUM_2441007=y
CONFIG_AFE4404=y
CONFIG_AL3000A=y
CONFIG_PINCTRL_PFC_R8A774C0=y
CONFIG_HAVE_ARCH_JUMP_LABEL_RELATIVE=y
CONFIG_REGULATOR_MT6315=y
CONFIG_MAX5821=y
CONFIG_SOCK_RX_QUEUE_MAPPING=y
CONFIG_PINCTRL_SAR2130P=y
CONFIG_APDS9999=y
CONFIG_GPIO_EXAR=y
CONFIG_RTK_SYSTIMER=y
CONFIG_INV_ICM45600=y
CONFIG_CC_HAS_INT128=y
CONFIG_HSC030PA=y
CONFIG_NETFILTER=y
CONFIG_REGULATOR_FP9931=y
CONFIG_USB_HSO=y
CONFIG_REGULATOR_VIRTUAL_CONSUMER=y
CONFIG_UCC=y
CONFIG_GPIO_BD72720=y
CONFIG_HTU21=y
CONFIG_MSM_GCC_8917=y
CONFIG_VITESSE_PHY=y
CONFIG_SERIAL_DEV_CTRL_TTYPORT=y
CONFIG_BATTERY_CW2015=y
CONFIG_QRTR_TUN=y
CONFIG_ARM64_ERRATUM_1530923=y
CONFIG_ARCH_HAS_GCOV_PROFILE_ALL=y
CONFIG_USB_DWC2_PERIPHERAL=y
CONFIG_CRYPTO_DH=y
CONFIG_MAG3110=y
CONFIG_MFD_MT6370=y
CONFIG_SCSI_SAS_ATTRS=y
CONFIG_NLS_CODEPAGE_865=y
CONFIG_CRYPTO_ECRDSA=y
CONFIG_PHY_TI_DS125DF111=y
CONFIG_SENSORS_LINEAGE=y
CONFIG_OPENSSL_SUPPORTS_ML_DSA=y
CONFIG_CXL_FEATURES=y
CONFIG_INV_ICM45600_SPI=y
CONFIG_ARCH_SUPPORTS_LTO_CLANG=y
CONFIG_QCOM_PDR_HELPERS=y
CONFIG_MFD_SPMI_PMIC=y
CONFIG_I2C_MUX_LTC4306=y
CONFIG_AMD_SBRMI_I2C=y
CONFIG_SATA_VITESSE=y
CONFIG_PINCTRL_SA8775P=y
CONFIG_CRYPTO_ECDH=y
CONFIG_SPI_XCOMM=y
CONFIG_MFD_TPS6594_SPI=y
CONFIG_CRYPTO_CCM=y
CONFIG_SCSI=y
CONFIG_TOUCHSCREEN_HAMPSHIRE=y
CONFIG_MOUSE_CYAPA=y
CONFIG_GPIO_MVEBU=y
CONFIG_SPI=y
CONFIG_ARCH_HAS_CPU_CACHE_INVALIDATE_MEMREGION=y
CONFIG_MOTORCOMM_PHY=y
CONFIG_NLS_CODEPAGE_775=y
CONFIG_ARCH_HAS_DMA_PREP_COHERENT=y
CONFIG_PAGE_OWNER=y
CONFIG_OF_MDIO=y
CONFIG_SERIO_APBPS2=y
CONFIG_COMPAT_32BIT_TIME=y
CONFIG_VZ89X=y
CONFIG_RAPIDIO_MPORT_CDEV=y
CONFIG_RELR=y
CONFIG_TSYS02D=y
CONFIG_REGULATOR_PF8X00=y
CONFIG_MFD_CS47L35=y
CONFIG_RTC_DRV_MT6397=y
CONFIG_TI_ADS131M02=y
CONFIG_COMMON_CLK_G12A=y
CONFIG_ADIS16260=y
CONFIG_NET_CLS_MATCHALL=y
CONFIG_9P_FS_POSIX_ACL=y
CONFIG_PINCTRL_IPQ5210=y
CONFIG_SRF04=y
CONFIG_CHARGER_PF1550=y
CONFIG_HFSPLUS_FS=y
CONFIG_VFIO_PCI_INTX=y
CONFIG_FSCACHE=y
CONFIG_QFMT_V1=y
CONFIG_REGULATOR_RT6160=y
CONFIG_BATTERY_DA9150=y
CONFIG_TEST_MULDIV64=y
CONFIG_CACHESTAT_SYSCALL=y
CONFIG_FB_SYS_FILLRECT=y
CONFIG_GNSS_SIRF_SERIAL=y
CONFIG_PAGE_POOL_STATS=y
CONFIG_MFD_MAX77759=y
CONFIG_SCSI_BFA_FC=y
CONFIG_MDIO_CAVIUM=y
CONFIG_PHY_RCAR_GEN3_PCIE=y
CONFIG_PINCTRL_BCM2835=y
CONFIG_SDM_CAMCC_845=y
CONFIG_ARCH_R9A07G044=y
CONFIG_GPIB_FMH=y
CONFIG_CRYPTO_HMAC=y
CONFIG_RTC_DRV_RV3029C2=y
CONFIG_AD7476=y
CONFIG_CICADA_PHY=y
CONFIG_STMPE_I2C=y
CONFIG_REGULATOR_S2MPA01=y
CONFIG_MFD_MAX8997=y
CONFIG_HAVE_RELIABLE_STACKTRACE=y
CONFIG_ARM64_WORKAROUND_TSB_FLUSH_FAILURE=y
CONFIG_64BIT=y
CONFIG_GENERIC_CLOCKEVENTS=y
CONFIG_REGULATOR_RT5739=y
CONFIG_I2C_SIMTEC=y
CONFIG_TOUCHSCREEN_ADS7846=y
CONFIG_ARCH_USE_CMPXCHG_LOCKREF=y
CONFIG_LOCKDEP_SUPPORT=y
CONFIG_GPIO_PCI_IDIO_16=y
CONFIG_RZT2H_ADC=y
CONFIG_PVPANIC_MMIO=y
CONFIG_SRAM=y
CONFIG_ARCH_R8A77980=y
CONFIG_SENSORS_ADM1025=y
CONFIG_TRACING_MAP=y
CONFIG_SPI_FSL_SPI=y
CONFIG_AD7266=y
CONFIG_IIO_TRIGGERED_BUFFER=y
CONFIG_SIMPLE_RING_BUFFER=y
CONFIG_CHARGER_BQ24257=y
CONFIG_ARCH_APPLE=y
CONFIG_RUSTC_HAS_FILE_WITH_NUL=y
CONFIG_SENSORS_ADM1026=y
CONFIG_SENSORS_LIS3LV02D=y
CONFIG_FB_KYRO=y
CONFIG_INTERVAL_TREE=y
CONFIG_MOXA_INTELLIO=y
CONFIG_GAMEPORT_FM801=y
CONFIG_EXYNOS_CHIPID=y
CONFIG_PINCTRL_MADERA=y
CONFIG_PCI_FTPCI100=y
CONFIG_CRYPTO_KRB5=y
CONFIG_INPUT_EVDEV=y
CONFIG_CHROME_PLATFORMS=y
CONFIG_RCU_REF_SCALE_TEST=y
CONFIG_SYSC_R8A77980=y
CONFIG_TCG_TIS_ST33ZP24=y
CONFIG_CXL_MEM=y
CONFIG_W1_SLAVE_DS2406=y
CONFIG_ACORN_PARTITION=y
CONFIG_BLK_DEV_MD=y
CONFIG_SCSI_LOWLEVEL=y
CONFIG_BPF_UNPRIV_DEFAULT_OFF=y
CONFIG_IPQ_GCC_4019=y
CONFIG_BATTERY_GAUGE_LTC2941=y
CONFIG_TRACING_SUPPORT=y
CONFIG_BTT=y
CONFIG_LCD_ILI9320=y
CONFIG_PINCTRL_PFC_R8A77995=y
CONFIG_MEMBLOCK_KHO_SCRATCH=y
CONFIG_HAVE_PREEMPT_DYNAMIC=y
CONFIG_NET_EGRESS=y
CONFIG_9P_FSCACHE=y
CONFIG_SPI_PCI1XXXX=y
CONFIG_USB_LINK_LAYER_TEST=y
CONFIG_UTS_NS=y
CONFIG_SPEAKUP_SYNTH_LTLK=y
CONFIG_CORESIGHT_DUMMY=y
CONFIG_CRYPTO_SKCIPHER=y
CONFIG_SM_GCC_6115=y
CONFIG_ARCH_SUPPORTS_HUGE_PFNMAP=y
CONFIG_ARM_GIC_V5=y
CONFIG_AMPERE_ERRATUM_AC03_CPU_38=y
CONFIG_SERIAL_MAX310X=y
CONFIG_HW_RANDOM_CN10K=y
CONFIG_CHARGER_GPIO=y
CONFIG_TRACER_MAX_TRACE=y
CONFIG_CROS_EC_CHARDEV=y
CONFIG_KEBA_CP500=y
CONFIG_TIFM_7XX1=y
CONFIG_ARCH_DEFAULT_CRASH_DUMP=y
CONFIG_UFS_FS_WRITE=y
CONFIG_PHANTOM=y
CONFIG_PHY_QCOM_EUSB2_REPEATER=y
CONFIG_RCU_STALL_COMMON=y
CONFIG_RTC_DRV_M41T80=y
CONFIG_AD5766=y
CONFIG_PROVE_LOCKING=y
CONFIG_SPI_OFFLOAD_TRIGGER_PWM=y
CONFIG_DLHL60D=y
CONFIG_TCG_TIS_SPI_CR50=y
CONFIG_USB_GR_UDC=y
CONFIG_USB_F_OBEX=y
CONFIG_SERIAL_UARTLITE=y
CONFIG_HAVE_C_RECORDMCOUNT=y
CONFIG_TOUCHSCREEN_ZET6223=y
CONFIG_SAMPLE_KOBJECT=y
CONFIG_PHY_PXA_28NM_HSIC=y
CONFIG_MFD_CPCAP=y
CONFIG_PINCTRL_MICROCHIP_SGPIO=y
CONFIG_HAVE_ARCH_AUDITSYSCALL=y
CONFIG_MFD_TPS65090=y
CONFIG_SENSORS_HS3001=y
CONFIG_IEEE802154_AT86RF230=y
CONFIG_GENERIC_LIB_DEVMEM_IS_ALLOWED=y
CONFIG_PATA_RADISYS=y
CONFIG_SENSORS_LM63=y
CONFIG_CRYPTO_MANAGER2=y
CONFIG_USB_ULPI_BUS=y
CONFIG_PINCTRL_RZT2H=y
CONFIG_NET_SCH_MQPRIO=y
CONFIG_MFD_QCOM_PM8008=y
CONFIG_PREEMPT_TRACER=y
CONFIG_SCSI_IPR=y
CONFIG_CCS811=y
CONFIG_KEYBOARD_GPIO_POLLED=y
CONFIG_BLK_DEV_NULL_BLK=y
CONFIG_PINCTRL_SM4250_LPASS_LPI=y
CONFIG_SM_GCC_8750=y
CONFIG_I2C_XGENE_SLIMPRO=y
CONFIG_VEML6046X00=y
CONFIG_BLK_DEV_ZONED=y
CONFIG_MFD_CROS_EC_DEV=y
CONFIG_ISL29125=y
CONFIG_KEXEC_HANDOVER_DEBUGFS=y
CONFIG_SYSVIPC_COMPAT=y
CONFIG_MFD_SEC_I2C=y
CONFIG_REGULATOR_ACT8865=y
CONFIG_QDU_GCC_1000=y
CONFIG_GCC_PLUGIN_STACKLEAK_VERBOSE=y
CONFIG_PCI_J721E=y
CONFIG_SDM_LPASSCC_845=y
CONFIG_DAMON=y
CONFIG_NET_SCH_FQ_CODEL=y
CONFIG_CRYPTO_USER_API_RNG=y
CONFIG_SENSORS_TSL2563=y
CONFIG_AM2315=y
CONFIG_PAHOLE_HAS_LANG_EXCLUDE=y
CONFIG_COMMON_CLK_S2MPS11=y
CONFIG_SATA_INIC162X=y
CONFIG_ACORN_PARTITION_ICS=y
CONFIG_ARCH_SUPPORTS_PMD_PFNMAP=y
CONFIG_CLK_RENESAS_CPG_MSSR=y
CONFIG_BATTERY_PM8916_BMS_VM=y
CONFIG_W1_SLAVE_DS2433=y
CONFIG_RTC_DRV_RX8010=y
CONFIG_ARCH_LG1K=y
CONFIG_I2C_DESIGNWARE_PLATFORM=y
CONFIG_THERMAL_EMULATION=y
CONFIG_RV_MON_DEADLINE=y
CONFIG_MFD_ARIZONA_I2C=y
CONFIG_BINFMT_ELF=y
CONFIG_IPQ_NSSCC_9574=y
CONFIG_ROHM_BU27034=y
CONFIG_TI_ADS7138=y
CONFIG_LD_IS_BFD=y
CONFIG_ARCH_CIX=y
CONFIG_MOUSE_PS2_SMBUS=y
CONFIG_W1_SLAVE_DS28E17=y
CONFIG_SENSORS_SIS5595=y
CONFIG_RTC_DRV_PCF85363=y
CONFIG_CGROUP_NET_CLASSID=y
CONFIG_PHY_QCOM_QMP_USB_LEGACY=y
CONFIG_PINCTRL_SC7280=y
CONFIG_HSC030PA_SPI=y
CONFIG_BPF_SYSCALL=y
CONFIG_LIDAR_LITE_V2=y
CONFIG_BCM_NET_PHYLIB=y
CONFIG_AD7606_IFACE_PARALLEL=y
CONFIG_INPUT_TOUCHSCREEN=y
CONFIG_CONTEXT_TRACKING_IDLE=y
CONFIG_PWM_IPQ=y
CONFIG_MPU3050_I2C=y
CONFIG_SQUASHFS_FILE_DIRECT=y
CONFIG_SAMPLE_VFIO_MDEV_MTTY=y
CONFIG_TASKSTATS=y
CONFIG_NVME_HWMON=y
CONFIG_COMPACTION=y
CONFIG_PREEMPT_COUNT=y
CONFIG_OMAP_USB2=y
CONFIG_SDM_DISPCC_845=y
CONFIG_W1_SLAVE_DS2431=y
CONFIG_SENSORS_TMP102=y
CONFIG_REGULATOR_DA9063=y
CONFIG_VIRTIO_MMIO=y
CONFIG_TI_ADC108S102=y
CONFIG_MAX44000=y
CONFIG_MOUSE_PS2_SYNAPTICS_SMBUS=y
CONFIG_VL53L1X_I2C=y
CONFIG_SERIAL_ALTERA_UART=y
CONFIG_SCSI_MYRS=y
CONFIG_REGULATOR_SY8106A=y
CONFIG_VFIO_PCI=y
CONFIG_ARCH_RCAR_GEN3=y
CONFIG_TIME_NS_VDSO=y
CONFIG_TOUCHSCREEN_IQS7211=y
CONFIG_GENERIC_PINCTRL=y
CONFIG_REGULATOR_ISL6271A=y
CONFIG_COMMON_CLK_MESON_MPLL=y
CONFIG_SENSORS_CHIPCAP2=y
CONFIG_TI_ADC161S626=y
CONFIG_REF_TRACKER=y
CONFIG_JOYSTICK_QWIIC=y
CONFIG_FXOS8700_SPI=y
CONFIG_SYSC_RCAR_GEN4=y
CONFIG_SYSC_RZ=y
CONFIG_JFS_SECURITY=y
CONFIG_CRYPTO_RNG2=y
CONFIG_BMI160_I2C=y
CONFIG_F2FS_FS=y
CONFIG_JBD2=y
CONFIG_FORTIFY_SOURCE=y
CONFIG_DA9062_THERMAL=y
CONFIG_PINCTRL_MILOS=y
CONFIG_ARCH_ENABLE_SPLIT_PMD_PTLOCK=y
CONFIG_BATTERY_DS2782=y
CONFIG_USB_DWC3_MESON_G12A=y
CONFIG_SENSORS_TMP108=y
CONFIG_TOUCHSCREEN_TSC2005=y
CONFIG_RTC_DRV_RV3028=y
CONFIG_MD_RAID0=y
CONFIG_GPIO_PCF857X=y
CONFIG_CRASH_RESERVE=y
CONFIG_SPI_SLAVE=y
