CONFIG_AT91_SOC_ID=y
CONFIG_ARCH_USE_QUEUED_SPINLOCKS=y
CONFIG_NLS_CODEPAGE_737=y
CONFIG_DRAGONRISE_FF=y
CONFIG_MDIO_SUN4I=y
CONFIG_JFS_DEBUG=y
CONFIG_COMMON_RESET_HI3660=y
CONFIG_RCU_DOUBLE_CHECK_CB_TIME=y
CONFIG_REGMAP_IRQ=y
CONFIG_SPI_FSL_LPSPI=y
CONFIG_DMA_OPS_HELPERS=y
CONFIG_HZ_100=y
CONFIG_NET_SELFTESTS=y
CONFIG_SCHED_MC=y
CONFIG_SLAB_MERGE_DEFAULT=y
CONFIG_MTK_DEVAPC=y
CONFIG_GENEVE=y
CONFIG_ARM_CORESIGHT_PMU_ARCH_SYSTEM_PMU=y
CONFIG_USER_NS=y
CONFIG_RESET_NPCM=y
CONFIG_CRC_T10DIF=y
CONFIG_FB_VIA_X_COMPATIBILITY=y
CONFIG_IEEE802154_CA8210_DEBUGFS=y
CONFIG_SECURITY=y
CONFIG_MTD_CFI_UTIL=y
CONFIG_FSL_FMAN=y
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_JMP=y
CONFIG_CRYPTO_JITTERENTROPY=y
CONFIG_PKCS7_MESSAGE_PARSER=y
CONFIG_VIRTIO_ANCHOR=y
CONFIG_CLZ_TAB=y
CONFIG_NEED_SG_DMA_LENGTH=y
CONFIG_NVMEM_IMX_OCOTP=y
CONFIG_COMMON_CLK_MT2701_AUDSYS=y
CONFIG_AMD_PHY=y
CONFIG_DEBUG_VFS=y
CONFIG_L2TP_V3=y
CONFIG_PINCTRL_PXA27X=y
CONFIG_BT_AOSPEXT=y
CONFIG_I2C_MV64XXX=y
CONFIG_MMU_GATHER_MERGE_VMAS=y
CONFIG_FS_POSIX_ACL=y
CONFIG_DMI=y
CONFIG_MARVELL_CN10K_DDR_PMU=y
CONFIG_MFD_WM8350=y
CONFIG_SERIAL_OMAP=y
CONFIG_COMPAT_BRK=y
CONFIG_NET_HANDSHAKE=y
CONFIG_CONTEXT_SWITCH_TRACER=y
CONFIG_SLUB_RCU_DEBUG=y
CONFIG_DUMMY=y
CONFIG_LD_IS_BFD=y
CONFIG_SGI_PARTITION=y
CONFIG_DEVFREQ_GOV_POWERSAVE=y
CONFIG_SMARTJOYPLUS_FF=y
CONFIG_X86_DISABLED_FEATURE_XENPV=y
CONFIG_LZ4_COMPRESS=y
CONFIG_CHARLCD=y
CONFIG_LOGO_LINUX_CLUT224=y
CONFIG_HAVE_BOOTMEM_INFO_NODE=y
CONFIG_HDLC_RAW_ETH=y
CONFIG_TIME_NS=y
CONFIG_COMMON_CLK_MT7986=y
CONFIG_CLK_STARFIVE_JH71X0=y
CONFIG_IXP4XX_TIMER=y
CONFIG_MODULE_SIG_SHA384=y
CONFIG_SYSC_R8A774A1=y
CONFIG_ENERGY_MODEL=y
CONFIG_SLIP_MODE_SLIP6=y
CONFIG_I2C_ST=y
CONFIG_PCI_REALLOC_ENABLE_AUTO=y
CONFIG_HAVE_ALIGNED_STRUCT_PAGE=y
CONFIG_DYNAMIC_SIGFRAME=y
CONFIG_CRYPTO_CBC=y
CONFIG_DETECT_HUNG_TASK=y
CONFIG_STRIP_ASM_SYMS=y
CONFIG_ASM9260_TIMER=y
CONFIG_MLX_WDT=y
CONFIG_GPIO_PCA953X_IRQ=y
CONFIG_CORTINA_PHY=y
CONFIG_SPI_BITBANG=y
CONFIG_PROFILING=y
CONFIG_SCHED_CLUSTER=y
CONFIG_MTD=y
CONFIG_HAVE_RETHOOK=y
CONFIG_LTO_NONE=y
CONFIG_I2C_PCI1XXXX=y
CONFIG_INOTIFY_USER=y
CONFIG_RCU_TORTURE_TEST_LOG_GP=y
CONFIG_TIMER_IMX_SYS_CTR=y
CONFIG_RESET_PISTACHIO=y
CONFIG_ARCH_SUPPORTS_KEXEC_SIG=y
CONFIG_MEDIATEK_GE_SOC_PHY=y
CONFIG_SERIAL_SCCNXP_CONSOLE=y
CONFIG_CRYPTO_ARIA=y
CONFIG_NET_FC=y
CONFIG_SPACEMIT_K3_CCU=y
CONFIG_HAS_IOPORT_MAP=y
CONFIG_ARCH_SUPPORTS_KEXEC=y
CONFIG_PAGE_SIZE_4KB=y
