CONFIG_NETFILTER_XT_TARGET_NFLOG=n
CONFIG_SLUB_DEBUG=n
CONFIG_MITIGATION_PAGE_TABLE_ISOLATION=n
CONFIG_X86_IO_APIC=n
CONFIG_FW_CACHE=n
CONFIG_HWMON=n
CONFIG_DEBUG_FS=n
CONFIG_KCMP=n
CONFIG_XFRM_ESP=n
CONFIG_FTRACE=n
CONFIG_BLK_DEV_DM=n
CONFIG_LDISC_AUTOLOAD=n
CONFIG_ARCH_SUPPORTS_SCHED_CLUSTER=n
CONFIG_ELF_CORE=n
CONFIG_HALTPOLL_CPUIDLE=n
CONFIG_IOMMU_PT=n
CONFIG_SCSI_SPI_ATTRS=n
CONFIG_UNWINDER_ORC=n
CONFIG_SCHED_CACHE=n
CONFIG_DECOMPRESS_LZO=n
CONFIG_ARCH_HAS_CPU_FINALIZE_INIT=n
CONFIG_PRINTK_TIME=n
CONFIG_STACKPROTECTOR_STRONG=n
CONFIG_CGROUP_PERF=n
CONFIG_NET_VENDOR_RENESAS=n
CONFIG_CFG80211_USE_KERNEL_REGDB_KEYS=n
CONFIG_ARCH_HAS_CACHE_LINE_SIZE=n
CONFIG_SYSVIPC_COMPAT=n
CONFIG_EFI_STUB=n
CONFIG_HPET=n
CONFIG_WLAN_VENDOR_ADMTEK=n
CONFIG_SUNRPC_GSS=n
CONFIG_X86_CET=n
CONFIG_AMD_NODE=n
CONFIG_HAVE_CONTEXT_TRACKING_USER_OFFSTACK=n
CONFIG_HAVE_ARCH_KGDB=n
CONFIG_CC_HAS_KASAN_GENERIC=n
CONFIG_GENERIC_CLOCKEVENTS=n
CONFIG_DRM_DISPLAY_DSC_HELPER=n
CONFIG_HAVE_ARCH_SECCOMP=n
CONFIG_CROSS_MEMORY_ATTACH=n
CONFIG_X86_X2APIC=n
CONFIG_ACPI_I2C_OPREGION=n
CONFIG_FREEZER=n
CONFIG_CRYPTO_SHA1=n
CONFIG_FW_LOADER=n
CONFIG_HAVE_NOINSTR_VALIDATION=n
CONFIG_DRM_GEM_SHMEM_HELPER=n
CONFIG_HAVE_ARCH_JUMP_LABEL=n
CONFIG_SCHEDSTATS=n
CONFIG_BLK_PM=n
CONFIG_TOOLS_SUPPORT_RELR=n
CONFIG_GENERIC_IOMAP=n
CONFIG_WLAN_VENDOR_BROADCOM=n
CONFIG_NLATTR=n
CONFIG_MD=n
CONFIG_ARCH_STACKWALK=n
CONFIG_EDAC_SUPPORT=n
CONFIG_SECURITY_SELINUX=n
CONFIG_HAVE_GCC_PLUGINS=n
CONFIG_OBJTOOL=n
CONFIG_NET_VENDOR_RDC=n
CONFIG_SND_DMA_SGBUF=n
CONFIG_NLS_CODEPAGE_437=n
CONFIG_X86_SUPPORTS_MEMORY_FAILURE=n
CONFIG_CFG80211_DEFAULT_PS=n
CONFIG_USB_UHCI_HCD=n
CONFIG_BLK_DEV_BSG=n
CONFIG_NET_VENDOR_CADENCE=n
CONFIG_HAVE_DEBUG_KMEMLEAK=n
CONFIG_VIRTIO_INPUT=n
CONFIG_X86_REQUIRED_FEATURE_FXSR=n
CONFIG_CLKEVT_I8253=n
CONFIG_NOP_TRACER=n
CONFIG_DMA_ACPI=n
CONFIG_SND_HDA=n
CONFIG_RD_GZIP=n
CONFIG_INITRAMFS_PRESERVE_MTIME=n
CONFIG_NETCONSOLE=n
CONFIG_CRYPTO_SIG=n
CONFIG_NEED_TASKS_RCU=n
CONFIG_HAVE_PCI=n
CONFIG_CPU_FREQ_GOV_SCHEDUTIL=n
CONFIG_SGETMASK_SYSCALL=n
CONFIG_ATA_BMDMA=n
CONFIG_ARCH_SPARSEMEM_DEFAULT=n
CONFIG_HAVE_MMIOTRACE_SUPPORT=n
CONFIG_PCI_ATS=n
CONFIG_THREAD_INFO_IN_TASK=n
CONFIG_SCHED_SMT=n
CONFIG_X86_MPPARSE=n
CONFIG_HAVE_FUNCTION_ERROR_INJECTION=n
CONFIG_TASK_DELAY_ACCT=n
CONFIG_NET_VENDOR_CHELSIO=n
CONFIG_CRYPTO_CTR=n
CONFIG_CRYPTO_LIB_ARC4=n
CONFIG_MII=n
CONFIG_HDMI=n
CONFIG_HAVE_STATIC_CALL=n
CONFIG_CC_CAN_LINK=n
CONFIG_X86_REQUIRED_FEATURE_NOPL=n
CONFIG_INPUT_JOYSTICK=n
CONFIG_USB_SUPPORT=n
CONFIG_RCU_NEED_SEGCBLIST=n
CONFIG_PCI_LABEL=n
CONFIG_CPU_FREQ=n
CONFIG_MOUSE_PS2_SYNAPTICS=n
CONFIG_NET_VENDOR_HUAWEI=n
CONFIG_MTRR=n
CONFIG_NET_SELFTESTS=n
CONFIG_NEW_LEDS=n
CONFIG_WLAN_VENDOR_SILABS=n
CONFIG_NF_CONNTRACK_IRC=n
CONFIG_HAVE_STACK_VALIDATION=n
CONFIG_LOCKD_V4=n
CONFIG_TRACING_SUPPORT=n
CONFIG_HYPERVISOR_GUEST=n
CONFIG_X86_64=n
CONFIG_KRETPROBE_ON_RETHOOK=n
CONFIG_HAVE_ARCH_AUDITSYSCALL=n
CONFIG_BLK_CGROUP=n
CONFIG_VT=n
CONFIG_SND_INTEL_SOUNDWIRE_ACPI=n
CONFIG_HRTIMER_REARM_DEFERRED=n
CONFIG_ASSOCIATIVE_ARRAY=n
CONFIG_DYNAMIC_SIGFRAME=n
CONFIG_NET_VENDOR_SEEQ=n
CONFIG_TRACE_IRQFLAGS_SUPPORT=n
CONFIG_QUOTA=n
CONFIG_NET_VENDOR_QUALCOMM=n
CONFIG_HAVE_RUST=n
CONFIG_VIRTIO_CONSOLE=n
CONFIG_MITIGATION_TAA=n
CONFIG_HAVE_ACPI_APEI=n
CONFIG_EXECMEM=n
CONFIG_MITIGATION_TSA=n
CONFIG_SOFTIRQ_ON_OWN_STACK=n
CONFIG_DEBUG_MEMORY_INIT=n
CONFIG_RPCSEC_GSS_KRB5=n
CONFIG_SERIAL_8250=n
CONFIG_ACPI_CPU_FREQ_PSS=n
CONFIG_ARCH_USE_CMPXCHG_LOCKREF=n
CONFIG_CRYPTO_LIB_SHA1=n
CONFIG_AUDIT=n
CONFIG_CPUFREQ_ARCH_CUR_FREQ=n
CONFIG_GENERIC_CMOS_UPDATE=n
CONFIG_X86_PM_TIMER=n
CONFIG_HAVE_OBJTOOL=n
CONFIG_WLAN_VENDOR_QUANTENNA=n
CONFIG_RWSEM_SPIN_ON_OWNER=n
CONFIG_HUGETLBFS=n
CONFIG_NLS_ASCII=n
CONFIG_ARCH_USE_QUEUED_RWLOCKS=n
CONFIG_PCI_MMCONFIG=n
CONFIG_SERIAL_8250_EXTENDED=n
CONFIG_MEMFD_CREATE=n
CONFIG_MD_AUTODETECT=n
CONFIG_NOINSTR_VALIDATION=n
CONFIG_I2C_HELPER_AUTO=n
CONFIG_ARCH_SUPPORTS_CRASH_HOTPLUG=n
CONFIG_NET_VENDOR_NI=n
CONFIG_CRYPTO_HASH_INFO=n
CONFIG_GENERIC_VDSO_OVERFLOW_PROTECT=n
CONFIG_DEBUG_STACK_USAGE=n
CONFIG_NET_VENDOR_TEHUTI=n
CONFIG_USB_STORAGE=n
CONFIG_CC_HAS_WORKING_NOSANITIZE_ADDRESS=n
CONFIG_LEGACY_VSYSCALL_XONLY=n
CONFIG_CPU_IDLE=n
CONFIG_ARCH_SUPPORTS_KEXEC_BZIMAGE_VERIFY_SIG=n
CONFIG_EPOLL=n
CONFIG_NET_RX_BUSY_POLL=n
CONFIG_HAVE_DYNAMIC_FTRACE=n
CONFIG_TIMERFD=n
CONFIG_FUTEX_MPOL=n
CONFIG_NF_REJECT_IPV6=n
CONFIG_WLAN_VENDOR_ST=n
CONFIG_PNP=n
CONFIG_EFI_RUNTIME_MAP=n
CONFIG_EDAC_ATOMIC_SCRUB=n
CONFIG_HIBERNATE_CALLBACKS=n
CONFIG_CONTEXT_TRACKING_IDLE=n
CONFIG_USB_ANNOUNCE_NEW_DEVICES=n
CONFIG_USB=n
CONFIG_NETFILTER_XTABLES=n
CONFIG_MODULES=n
CONFIG_ARCH_SUPPORTS_RT=n
CONFIG_INTEGRITY_AUDIT=n
CONFIG_EFI=n
CONFIG_SECURITY_SELINUX_BOOTPARAM=n
CONFIG_ACPI_BUTTON=n
CONFIG_PCI_PASID=n
CONFIG_ARCH_MAY_HAVE_PC_FDC=n
CONFIG_IOMMU_PT_AMDV1=n
CONFIG_ARCH_CLOCKSOURCE_INIT=n
CONFIG_IOSF_MBI=n
CONFIG_CRYPTO_CAMELLIA=n
CONFIG_CC_HAS_RETURN_THUNK=n
CONFIG_CRYPTO_SIG2=n
CONFIG_NET_CLS=n
CONFIG_FONT_AUTOSELECT=n
CONFIG_X86_REROUTE_FOR_BROKEN_BOOT_IRQS=n
CONFIG_GPU_BUDDY=n
CONFIG_NET_VENDOR_SMSC=n
CONFIG_NEED_PER_CPU_PAGE_FIRST_CHUNK=n
CONFIG_SCSI_VIRTIO=n
CONFIG_HAS_IOMEM=n
CONFIG_PREEMPT_DYNAMIC=n
CONFIG_PROC_SYSCTL=n
CONFIG_NFS_USE_KERNEL_DNS=n
CONFIG_PREEMPT_LAZY=n
CONFIG_GENERIC_BUG=n
CONFIG_ARCH_SUPPORTS_NUMA_BALANCING=n
CONFIG_CRYPTO_LIB_UTILS=n
CONFIG_DEBUG_FS_ALLOW_ALL=n
CONFIG_HOTPLUG_CPU=n
CONFIG_DEBUG_DEVRES=n
CONFIG_IP_NF_IPTABLES=n
CONFIG_CC_HAS_NO_PROFILE_FN_ATTR=n
CONFIG_MPILIB=n
CONFIG_MMU_LAZY_TLB_REFCOUNT=n
CONFIG_HAVE_SYSCALL_TRACEPOINTS=n
CONFIG_SMP=n
CONFIG_CLKBLD_I8253=n
CONFIG_NET_VENDOR_AQUANTIA=n
CONFIG_COREDUMP=n
CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE=n
CONFIG_TIME_NS_VDSO=n
CONFIG_GENERIC_MSI_IRQ=n
CONFIG_NFS_V3_ACL=n
CONFIG_CRYPTO_SHA512=n
CONFIG_CGROUP_NET_PRIO=n
CONFIG_ALLOW_DEV_COREDUMP=n
CONFIG_NETFILTER_NETLINK_LOG=n
CONFIG_ARCH_HAS_SYNC_CORE_BEFORE_USERMODE=n
CONFIG_GENERIC_IRQ_EFFECTIVE_AFF_MASK=n
CONFIG_PNP_DEBUG_MESSAGES=n
CONFIG_CPU_FREQ_DEFAULT_GOV_USERSPACE=n
CONFIG_HAVE_FUNCTION_ARG_ACCESS_API=n
CONFIG_ROOT_NFS=n
CONFIG_X86_DISABLED_FEATURE_XENPV=n
CONFIG_POWER_SUPPLY=n
CONFIG_SPARSEMEM_VMEMMAP_PREINIT=n
CONFIG_DRM_BRIDGE=n
CONFIG_ARCH_WANT_LD_ORPHAN_WARN=n
CONFIG_PCIEASPM_DEFAULT=n
CONFIG_GENERIC_PENDING_IRQ=n
CONFIG_SND_HWDEP=n
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST_IDLE=n
CONFIG_SND_JACK_INPUT_DEV=n
CONFIG_HARDLOCKUP_CHECK_TIMESTAMP=n
CONFIG_DECOMPRESS_XZ=n
CONFIG_RCU_STALL_COMMON=n
CONFIG_RING_BUFFER=n
CONFIG_WATCHDOG_HANDLE_BOOT_ENABLED=n
CONFIG_CGROUPS=n
CONFIG_X86_DISABLED_FEATURE_LAM=n
CONFIG_FS_MBCACHE=n
CONFIG_HAVE_KERNEL_LZ4=n
CONFIG_INPUT_KEYBOARD=n
CONFIG_PREEMPT_BUILD=n
CONFIG_X86_MCE_AMD=n
CONFIG_CRC_CCITT=n
CONFIG_BUILDTIME_TABLE_SORT=n
CONFIG_NET_VENDOR_INTEL=n
CONFIG_ARCH_USE_BUILTIN_BSWAP=n
CONFIG_DRM_MIPI_DSI=n
CONFIG_EFI_DXE_MEM_ATTRIBUTES=n
CONFIG_PCCARD_NONSTATIC=n
CONFIG_ARCH_HAS_DEBUG_WX=n
CONFIG_MODULES_TREE_LOOKUP=n
CONFIG_ACPI_PLATFORM_PROFILE=n
CONFIG_SCSI_CONSTANTS=n
CONFIG_NF_LOG_IPV6=n
CONFIG_GENERIC_IRQ_RESERVATION_MODE=n
CONFIG_RTC_CLASS=n
CONFIG_ARCH_HAS_PTDUMP=n
CONFIG_SATA_HOST=n
CONFIG_HID_SUNPLUS=n
CONFIG_NET_CLS_CGROUP=n
CONFIG_IPV6_NDISC_NODETYPE=n
CONFIG_PM_SLEEP=n
CONFIG_NETFILTER_EGRESS=n
CONFIG_MODIFY_LDT_SYSCALL=n
CONFIG_SUNRPC=n
CONFIG_DRM_PANEL_BRIDGE=n
CONFIG_SERIO_I8042=n
CONFIG_DEFAULT_SECURITY_SELINUX=n
CONFIG_PCIE_PME=n
CONFIG_SYSCTL=n
CONFIG_NO_HZ_COMMON=n
CONFIG_HOTPLUG_CORE_SYNC_FULL=n
CONFIG_NFS_V3=n
CONFIG_HAVE_FUNCTION_TRACER=n
CONFIG_MITIGATION_SPECTRE_V2=n
CONFIG_HAVE_ARCH_KMSAN=n
CONFIG_RFKILL_LEDS=n
CONFIG_MITIGATION_SRBDS=n
CONFIG_ARCH_MIGHT_HAVE_ACPI_PDC=n
CONFIG_PCMCIA_LOAD_CIS=n
