CONFIG_I2C_ARB_GPIO_CHALLENGE=y
CONFIG_SENSORS_INA2XX=y
CONFIG_ARCH_BCM=y
CONFIG_PARAVIRT_TIME_ACCOUNTING=y
CONFIG_INPUT_AD714X=y
CONFIG_MFD_MAX7360=y
CONFIG_ACPI_NUMA=y
CONFIG_REGMAP_MMIO=y
CONFIG_COMEDI_NI_LABPC_CS=y
CONFIG_SI7005=y
CONFIG_SENSORS_LM95234=y
CONFIG_CRYPTO_PCRYPT=y
CONFIG_MSM_GPUCC_8998=y
CONFIG_CRYPTO_LIB_AES_CBC_MACS=y
CONFIG_ARCH_USE_QUEUED_RWLOCKS=y
CONFIG_NET_INGRESS=y
CONFIG_CC_HAS_INT128=y
CONFIG_INIT_STACK_NONE=y
CONFIG_USB_F_HID=y
CONFIG_GPIO_PCI_IDIO_16=y
CONFIG_GPIOLIB_IRQCHIP=y
CONFIG_ARCH_HAS_CC_PLATFORM=y
CONFIG_AD7091R=y
CONFIG_CRYPTO_AKCIPHER=y
CONFIG_CONTEXT_TRACKING=y
CONFIG_COMMON_CLK_FSL_SAI=y
CONFIG_RPMSG_NS=y
CONFIG_I2C_FSI=y
CONFIG_PCPU_DEV_REFCNT=y
CONFIG_AD5446_SPI=y
CONFIG_COMEDI_ADV_PCI1724=y
CONFIG_GPIO_MENZ127=y
CONFIG_TRACER_SNAPSHOT=y
CONFIG_TYPEC_WUSB3801=y
CONFIG_MDIO_GPIO=y
CONFIG_GPIO_MAX77759=y
CONFIG_ARM_SCMI_NEED_DEBUGFS=y
CONFIG_FB_SAVAGE=y
CONFIG_PCCARD_NONSTATIC=y
CONFIG_HID_KYE=y
CONFIG_HID_PANTHERLORD=y
CONFIG_IIO_CONFIGFS=y
CONFIG_I2C_XILINX=y
CONFIG_DAVICOM_PHY=y
CONFIG_PARPORT_SERIAL=y
CONFIG_HARDIRQS_SW_RESEND=y
CONFIG_BCM7XXX_PHY=y
CONFIG_COMMON_CLK_MT6795_VENCSYS=y
CONFIG_ADIN1100_PHY=y
CONFIG_CLKSRC_MMIO=y
CONFIG_SERIO_GPIO_PS2=y
CONFIG_EFI_BOOTLOADER_CONTROL=y
CONFIG_PINCTRL_LPASS_LPI=y
CONFIG_PCIE_MOBIVEIL=y
CONFIG_PINCTRL_SM6350_LPASS_LPI=y
CONFIG_HYPERV=y
CONFIG_NCN26000_PHY=y
CONFIG_COMMON_CLK_MT7622=y
CONFIG_ARCH_HAS_UBSAN=y
CONFIG_TICK_ONESHOT=y
CONFIG_I2C_ROBOTFUZZ_OSIF=y
CONFIG_CLK_ELIZA_GCC=y
CONFIG_ARM_SCMI_POWERCAP=y
CONFIG_SDM_GPUCC_845=y
CONFIG_JOYSTICK_MAGELLAN=y
CONFIG_BRCMSTB_THERMAL=y
CONFIG_SPRD_SC9860_CLK=y
CONFIG_I2C_CHARDEV=y
CONFIG_RPMSG=y
CONFIG_LEDS_TLC591XX=y
CONFIG_SYSCTL=y
CONFIG_REGULATOR_PV88090=y
CONFIG_CGROUP_RDMA=y
CONFIG_FIX_EARLYCON_MEM=y
CONFIG_COMEDI_ADV_PCI1720=y
CONFIG_REGULATOR_DEBUG=y
CONFIG_VLAN_8021Q=y
CONFIG_MFD_CORE=y
CONFIG_ARM_TEGRA_DEVFREQ=y
CONFIG_GPIO_CADENCE=y
CONFIG_TOUCHSCREEN_TSC2007=y
CONFIG_FB_CYBER2000=y
CONFIG_ARM_SCMI_TRANSPORT_SMC=y
CONFIG_LS_EXTIRQ=y
CONFIG_SM_GCC_MILOS=y
CONFIG_PHY_PXA_28NM_HSIC=y
CONFIG_LCD_LMS501KF03=y
CONFIG_COMMON_CLK_SI514=y
CONFIG_HID_SENSOR_HUMIDITY=y
CONFIG_PINCTRL_SM6115=y
CONFIG_CRYPTO_LIB_MLDSA=y
CONFIG_HX9023S=y
CONFIG_GENERIC_PINCTRL_GROUPS=y
CONFIG_FWNODE_MDIO=y
CONFIG_PHY_MVEBU_CP110_UTMI=y
CONFIG_YAMAHA_YAS530=y
CONFIG_SONY_FF=y
CONFIG_COMMON_CLK_MT8186=y
CONFIG_COMMON_CLK_S2MPS11=y
CONFIG_CGROUP_DEBUG=y
CONFIG_TYPEC_FUSB302=y
CONFIG_PCIE_DW_EP=y
CONFIG_FB_CFB_IMAGEBLIT=y
CONFIG_ARCH_BERLIN=y
CONFIG_FXOS8700_I2C=y
CONFIG_COMMON_CLK_S4_PERIPHERALS=y
CONFIG_RESET_BRCMSTB=y
CONFIG_HUGETLBFS=y
CONFIG_ARCH_HAS_SYNC_DMA_FOR_DEVICE=y
CONFIG_ARM_SMMU=y
CONFIG_MAGIC_SYSRQ_SERIAL=y
CONFIG_DUMMY_IRQ=y
CONFIG_SDX_GCC_75=y
CONFIG_POSIX_CPU_TIMERS_TASK_WORK=y
CONFIG_COMMON_CLK_MT8173_VDECSYS=y
CONFIG_PINCTRL_SM6375=y
CONFIG_SENSORS_LTC4260=y
CONFIG_USB_AMD5536UDC=y
CONFIG_LOGO=y
CONFIG_RING_BUFFER_ALLOW_SWAP=y
CONFIG_HAVE_GUP_FAST=y
CONFIG_PINCTRL_QCS615=y
CONFIG_EFI_SOFT_RESERVE=y
CONFIG_ARCH_TEGRA=y
CONFIG_COMMON_CLK_MT8186_WPESYS=y
CONFIG_TIMER_OF=y
CONFIG_PHY_BERLIN_USB=y
CONFIG_PERCPU_STATS=y
CONFIG_ARCH_USE_MEMREMAP_PROT=y
CONFIG_HAVE_EFFICIENT_UNALIGNED_ACCESS=y
CONFIG_COMMON_CLK_MT8188=y
CONFIG_REGULATOR_RTQ2134=y
CONFIG_IIO_MUX=y
CONFIG_SM_GCC_6125=y
CONFIG_CPU_MITIGATIONS=y
CONFIG_CRC16=y
CONFIG_TOUCHSCREEN_USB_GUNZE=y
CONFIG_LEDS_LP5860_CORE=y
CONFIG_DRM_PANEL_ORIENTATION_QUIRKS=y
CONFIG_FSL_RCPM=y
CONFIG_PREEMPT_COUNT=y
CONFIG_QCOM_SPM=y
CONFIG_PREEMPT_TRACER=y
CONFIG_NTB_MSI=y
CONFIG_PINCTRL_SM8450=y
CONFIG_CAN_DEBUG_DEVICES=y
CONFIG_COMEDI_NI_6527=y
CONFIG_GPIO_EIC_SPRD=y
CONFIG_ARM_SPE_PMU=y
CONFIG_ARM_HISI_UNCORE_DEVFREQ=y
CONFIG_CAN_SLCAN=y
CONFIG_COMPACTION=y
CONFIG_PHYLIB=y
CONFIG_SENSORS_LTC4261=y
CONFIG_LEDS_SGM3140=y
CONFIG_INPUT_DRV2665_HAPTICS=y
CONFIG_PCI_XGENE=y
CONFIG_BT_HCIBTUSB_BCM=y
CONFIG_NET_DEVMEM=y
CONFIG_ARM_SCPI_PROTOCOL=y
CONFIG_FXLS8962AF=y
CONFIG_SYSTEM_TRUSTED_KEYRING=y
CONFIG_COMEDI_CB_DAS16_CS=y
CONFIG_MFD_MAX77541=y
CONFIG_MAX30208=y
CONFIG_PINCTRL_MT6795=y
CONFIG_EXYNOS_AUDSS_CLK_CON=y
CONFIG_DEBUG_INFO_REDUCED=y
CONFIG_TSYS01=y
CONFIG_PM_SLEEP=y
CONFIG_LEDS_KTD202X=y
CONFIG_MESON_GXL_PHY=y
CONFIG_PINCTRL_BM1880=y
CONFIG_INPUT_MISC=y
CONFIG_CGROUP_DEVICE=y
CONFIG_LEDS_OSRAM_AMS_AS3668=y
CONFIG_REGULATOR_PV88060=y
CONFIG_PINCTRL_SDM670=y
CONFIG_AD5686=y
CONFIG_JOYSTICK_IFORCE_232=y
CONFIG_SENSORS_LTC2978=y
CONFIG_INPUT_LEDS=y
CONFIG_HAVE_ARCH_KFENCE=y
CONFIG_PCI_TEGRA=y
CONFIG_SPI_ALTERA_CORE=y
CONFIG_SENSORS_NZXT_KRAKEN3=y
CONFIG_CLK_X1P42100_GPUCC=y
CONFIG_CPCAP_ADC=y
CONFIG_MFD_TC3589X=y
CONFIG_MFD_DA9052_SPI=y
CONFIG_XPS=y
CONFIG_COMMON_CLK_MT8167_MFGCFG=y
CONFIG_SM_GPUCC_8550=y
CONFIG_TASKS_RCU=y
CONFIG_SENSORS_WM831X=y
CONFIG_SM_GCC_8550=y
CONFIG_SPARSE_IRQ=y
CONFIG_NLS_ISO8859_9=y
CONFIG_CAN_EMS_PCI=y
CONFIG_INPUT_AXP20X_PEK=y
CONFIG_DUMMY_CONSOLE=y
CONFIG_BCM2835_POWER=y
CONFIG_MICROSEMI_PHY=y
CONFIG_AL3010=y
CONFIG_HAVE_ARCH_JUMP_LABEL_RELATIVE=y
CONFIG_COMMON_CLK_MT6797_VENCSYS=y
CONFIG_I2C_BRCMSTB=y
CONFIG_SENSORS_MP2856=y
CONFIG_ACPI_APMT=y
CONFIG_HISI_PCIE_PMU=y
CONFIG_NTB_PINGPONG=y
CONFIG_AD9739A=y
CONFIG_X25=y
CONFIG_RELOCATABLE=y
CONFIG_ARM64_ERRATUM_1165522=y
CONFIG_COMEDI_ADL_PCI7X3X=y
CONFIG_GPIO_PMIC_EIC_SPRD=y
CONFIG_M62332=y
CONFIG_THERMAL_NETLINK=y
CONFIG_ARCH_BCM2835=y
CONFIG_ARM_MHU_V3=y
CONFIG_TYPEC_TCPCI_MAXIM=y
CONFIG_PHY_MTK_HDMI=y
CONFIG_USB_CONFIGFS_NCM=y
CONFIG_BMC150_MAGN=y
CONFIG_BCMA_HOST_SOC=y
CONFIG_IOMMU_IOVA=y
CONFIG_REGULATOR_LP872X=y
CONFIG_TOUCHSCREEN_GOODIX_BERLIN_CORE=y
CONFIG_MDIO_BCM_UNIMAC=y
CONFIG_DP83TC811_PHY=y
CONFIG_SAMPLE_AUXDISPLAY=y
CONFIG_CPU_LITTLE_ENDIAN=y
CONFIG_PHY_QCOM_SGMII_ETH=y
CONFIG_MFD_AAT2870_CORE=y
CONFIG_IRQCHIP=y
CONFIG_MFD_CS40L50_I2C=y
CONFIG_MEMSTICK=y
CONFIG_PM_GENERIC_DOMAINS_SLEEP=y
CONFIG_MAX5522=y
CONFIG_PM_GENERIC_DOMAINS=y
CONFIG_XDP_SOCKETS=y
CONFIG_SERIAL_XILINX_PS_UART=y
CONFIG_COMEDI_PCI_DRIVERS=y
CONFIG_PHY_HI3670_PCIE=y
CONFIG_CONSTRUCTORS=y
CONFIG_SPRD_THERMAL=y
CONFIG_MFD_JANZ_CMODIO=y
CONFIG_PINCTRL_TEGRA124=y
CONFIG_SENSORS_SHT21=y
CONFIG_DEV_DAX=y
CONFIG_SENSORS_STPDDC60=y
CONFIG_SRAM=y
CONFIG_PHY_MVEBU_A3700_UTMI=y
CONFIG_EXYNOS_ARM64_COMMON_CLK=y
CONFIG_BMC150_ACCEL_I2C=y
CONFIG_COMMON_CLK_MT8195_IPESYS=y
CONFIG_BMI270_I2C=y
CONFIG_SERIAL_MAX310X=y
CONFIG_HAVE_RUST=y
CONFIG_MFD_MENF21BMC=y
CONFIG_GPIO_FTGPIO010=y
CONFIG_DECOMPRESS_ZSTD=y
CONFIG_PINCTRL_IPQ5210=y
CONFIG_USB_KAWETH=y
CONFIG_PARPORT_PC_FIFO=y
CONFIG_SENSORS_ADM1266=y
CONFIG_SENSORS_ADT7462=y
CONFIG_MARVELL_PHY=y
CONFIG_LEDS_TRIGGERS=y
CONFIG_MEMORY_HOTREMOVE=y
CONFIG_SENSORS_MAX6620=y
CONFIG_FB_CFB_FILLRECT=y
CONFIG_TOUCHSCREEN_DA9052=y
CONFIG_ARM64_ERRATUM_1530923=y
CONFIG_CXL_PMU=y
CONFIG_SERIAL_TEGRA_UTC=y
CONFIG_LEDS_LM3697=y
CONFIG_PM_GENERIC_DOMAINS_OF=y
CONFIG_PINCTRL_MT8189=y
CONFIG_CGROUP_HUGETLB=y
CONFIG_SPI_DW_DMA=y
CONFIG_DECOMPRESS_BZIP2=y
CONFIG_PPP_BSDCOMP=y
CONFIG_AD2S1200=y
CONFIG_GENERIC_IRQ_INJECTION=y
CONFIG_GPIO_IDIO_16=y
CONFIG_SERIAL_SCCNXP=y
CONFIG_ARCH_HAVE_ELF_PROT=y
CONFIG_FSI=y
CONFIG_QCOM_RAMP_CTRL=y
CONFIG_LCD_OTM3225A=y
CONFIG_IRQ_FASTEOI_HIERARCHY_HANDLERS=y
CONFIG_CHARGER_MAX8903=y
CONFIG_MFD_TPS65086=y
CONFIG_MMU=y
CONFIG_COMMON_CLK_MT6795=y
CONFIG_COMMON_CLK_SCPI=y
CONFIG_MFD_MAX77759=y
CONFIG_HID_EVISION=y
CONFIG_FB_SYSMEM_HELPERS_DEFERRED=y
CONFIG_HOTPLUG_SMT=y
CONFIG_NVMEM_LAYOUT_U_BOOT_ENV=y
CONFIG_HAVE_ARCH_KASAN_SW_TAGS=y
CONFIG_EFI_ESRT=y
CONFIG_QCOMTEE=y
CONFIG_INPUT_TPS65219_PWRBUTTON=y
CONFIG_MFD_AXP20X=y
CONFIG_SPI_PXA2XX=y
CONFIG_AMPERE_ERRATUM_AC03_CPU_38=y
CONFIG_PHY_SAMSUNG_UFS=y
CONFIG_QCOM_A7PLL=y
CONFIG_PHY_LAN966X_SERDES=y
CONFIG_FPGA_MGR_SOCFPGA_A10=y
CONFIG_DMARD09=y
CONFIG_TIMERFD=y
CONFIG_MFD_LP3943=y
CONFIG_KGDB=y
CONFIG_MMA9553=y
CONFIG_ARM_SCMI_HAVE_TRANSPORT=y
CONFIG_TOUCHSCREEN_BU21029=y
CONFIG_DEVFREQ_GOV_USERSPACE=y
CONFIG_FPGA_MGR_LATTICE_SYSCONFIG=y
CONFIG_GAMEPORT=y
CONFIG_FB_SMSCUFX=y
CONFIG_MMU_GATHER_TABLE_FREE=y
CONFIG_VM_EVENT_COUNTERS=y
CONFIG_FB_IOMEM_FOPS=y
CONFIG_PAHOLE_HAS_LANG_EXCLUDE=y
CONFIG_PHY_NXP_TJA1145=y
CONFIG_W1_SLAVE_DS2423=y
CONFIG_SCHED_AUTOGROUP=y
CONFIG_SERIAL_8250_CONSOLE=y
CONFIG_I2C_SLAVE=y
CONFIG_CRYPTO_SHA256=y
CONFIG_SM_DISPCC_6350=y
CONFIG_MFD_SIMPLE_MFD_I2C=y
CONFIG_STATIC_KEYS_SELFTEST=y
CONFIG_STM_SOURCE_CONSOLE=y
CONFIG_TOUCHSCREEN_GOODIX_BERLIN_SPI=y
CONFIG_LIBFDT=y
CONFIG_REGULATOR_LP3971=y
CONFIG_HID_GEMBIRD=y
CONFIG_USB_GR_UDC=y
CONFIG_CAN_KVASER_PCI=y
CONFIG_COMEDI_KCOMEDILIB=y
CONFIG_HAVE_KVM_CPU_RELAX_INTERCEPT=y
CONFIG_OPTEE=y
CONFIG_EINT_MTK=y
CONFIG_STM_SOURCE_HEARTBEAT=y
CONFIG_OF_OVERLAY=y
CONFIG_MFD_WM5110=y
CONFIG_ADJD_S311=y
CONFIG_INPUT_IMS_PCU=y
CONFIG_CC_HAS_ZERO_CALL_USED_REGS=y
CONFIG_SPI_AXI_SPI_ENGINE=y
CONFIG_MCB_PCI=y
CONFIG_BOSCH_BNO055=y
CONFIG_FPGA_MGR_MICROCHIP_SPI=y
CONFIG_SENSORS_LM3533=y
CONFIG_HID_ICADE=y
CONFIG_MFD_MAX14577=y
CONFIG_PHY_MESON_G12A_USB3_PCIE=y
CONFIG_CAN=y
CONFIG_BATTERY_SBS=y
CONFIG_COMPAT_BRK=y
CONFIG_HAVE_POSIX_CPU_TIMERS_TASK_WORK=y
CONFIG_SENSORS_PT5161L=y
CONFIG_MXC6255=y
CONFIG_RING_BUFFER=y
CONFIG_MFD_DA9062=y
CONFIG_COMMON_CLK_MT8167_IMGSYS=y
CONFIG_TOUCHSCREEN_RASPBERRYPI_FW=y
CONFIG_LEDS_CLASS_MULTICOLOR=y
CONFIG_VIRT_CPU_ACCOUNTING=y
CONFIG_ARCH_ENABLE_SPLIT_PMD_PTLOCK=y
CONFIG_SERIAL_MVEBU_UART=y
CONFIG_PPP_SYNC_TTY=y
CONFIG_ARM_SCMI_DEBUG_COUNTERS=y
CONFIG_BRCMSTB_GISB_ARB=y
CONFIG_REGULATOR_FAN53880=y
CONFIG_HID_OXP=y
CONFIG_PINCTRL_SM8150=y
CONFIG_FPGA_M10_BMC_SEC_UPDATE=y
CONFIG_DEVFREQ_GOV_SIMPLE_ONDEMAND=y
CONFIG_ARCH_WANT_DEFAULT_BPF_JIT=y
CONFIG_HID_AUREAL=y
CONFIG_IO_URING=y
CONFIG_TRACING=y
CONFIG_INV_MPU6050_IIO=y
CONFIG_USBIP_CORE=y
CONFIG_LEDS_SPI_BYTE=y
CONFIG_CB710_CORE=y
CONFIG_JUMP_LABEL=y
CONFIG_NVMEM=y
CONFIG_SENSORS_MAX31760=y
CONFIG_RD_XZ=y
CONFIG_USB_CONN_GPIO=y
CONFIG_COMMON_CLK_MT6779_VDECSYS=y
CONFIG_AD7779=y
CONFIG_SPI_FSL_SPI=y
CONFIG_PINCTRL_TEGRA238=y
CONFIG_STM_PROTO_SYS_T=y
CONFIG_AMLOGIC_THERMAL=y
CONFIG_RESET_MESON=y
CONFIG_COMMON_CLK_APPLE_NCO=y
CONFIG_STK3310=y
CONFIG_LEDS_MAX77705=y
CONFIG_MCP4922=y
CONFIG_CLK_RASPBERRYPI=y
CONFIG_HYPERV_VMBUS=y
CONFIG_BCM_KONA_USB2_PHY=y
CONFIG_INPUT_TOUCHSCREEN=y
CONFIG_MFD_ATMEL_FLEXCOM=y
CONFIG_CPU_IDLE_GOV_TEO=y
CONFIG_TOUCHSCREEN_TSC2007_IIO=y
CONFIG_TOUCHSCREEN_AD7877=y
CONFIG_TYPEC_MUX_TUSB1046=y
CONFIG_AUDIT_ARCH_COMPAT_GENERIC=y
CONFIG_REGMAP_SPI=y
CONFIG_REGULATOR_MP886X=y
CONFIG_COMMON_CLK_MT8516=y
CONFIG_PVPANIC_MMIO=y
CONFIG_PHY_MESON_AXG_PCIE=y
CONFIG_USB_QCOM_EUD=y
CONFIG_STM_SOURCE_FTRACE=y
CONFIG_PHY_HISI_INNO_USB2=y
CONFIG_ACPI_DEBUG=y
CONFIG_CRYPTO_XXHASH=y
CONFIG_NAU7802=y
CONFIG_PPPOE_HASH_BITS_4=y
CONFIG_NFC_NCI_UART=y
CONFIG_CRYPTO_JITTERENTROPY=y
CONFIG_CRC32=y
CONFIG_MFD_STPMIC1=y
CONFIG_MLX90614=y
CONFIG_SENSORS_LTC4286=y
CONFIG_TOUCHSCREEN_PIXCIR=y
CONFIG_INPUT_MATRIXKMAP=y
CONFIG_SCHED_PROXY_EXEC=y
CONFIG_HID_CYPRESS=y
CONFIG_THERMAL_GOV_STEP_WISE=y
CONFIG_NVMEM_MAX77759=y
CONFIG_QDU_GCC_1000=y
CONFIG_US5182D=y
CONFIG_CRYPTO_SEED=y
CONFIG_NLS_CODEPAGE_850=y
CONFIG_JOYSTICK_ADC=y
CONFIG_BMI323_SPI=y
CONFIG_TRANSPARENT_HUGEPAGE=y
CONFIG_CAN_GW=y
CONFIG_JOYSTICK_STINGER=y
CONFIG_USB_SERIAL_DIGI_ACCELEPORT=y
CONFIG_ADF4371=y
CONFIG_INTEL_STRATIX10_RSU=y
CONFIG_PINCTRL_SC8180X=y
CONFIG_GENERIC_SCHED_CLOCK=y
CONFIG_AXP20X_ADC=y
CONFIG_RAPIDIO_CPS_GEN2=y
CONFIG_VMCORE_INFO=y
CONFIG_HAVE_FUNCTION_TRACER=y
CONFIG_RD_LZO=y
CONFIG_ARM_PL172_MPMC=y
CONFIG_ADMV1013=y
CONFIG_ZL3073X=y
CONFIG_COMMON_CLK_CDCE706=y
CONFIG_MAILBOX=y
CONFIG_PINCTRL_QCS8300=y
CONFIG_PHY_BRCM_SATA=y
CONFIG_SENSORS_W83791D=y
CONFIG_SLIP=y
CONFIG_USB_SERIAL_QUALCOMM=y
CONFIG_ACPI_MDIO=y
CONFIG_TABLET_USB_KBTAB=y
CONFIG_ARM_GIC_V3=y
CONFIG_XDP_SOCKETS_DIAG=y
CONFIG_PM_USERSPACE_AUTOSLEEP=y
CONFIG_MSM_GCC_8976=y
CONFIG_BRIDGE_VLAN_FILTERING=y
CONFIG_JOYSTICK_JOYDUMP=y
CONFIG_COMEDI_8255_SA=y
CONFIG_BATTERY_DS2782=y
CONFIG_MOTORCOMM_PHY=y
CONFIG_SENSORS_TMP513=y
CONFIG_CRYPTO_GHASH_ARM64_CE=y
CONFIG_SENSORS_IRPS5401=y
CONFIG_HMC425=y
CONFIG_VALIDATE_FS_PARSER=y
CONFIG_I2C_VIRTIO=y
CONFIG_PCIE_KIRIN=y
CONFIG_SPRD_SC9863A_CLK=y
CONFIG_AIR_AN8801_PHY=y
CONFIG_USB_HCD_TEST_MODE=y
CONFIG_SA_VIDEOCC_8775P=y
CONFIG_U_SERIAL_CONSOLE=y
CONFIG_PINCTRL_SM8550_LPASS_LPI=y
CONFIG_PHY_INTEL_KEEMBAY_USB=y
CONFIG_SENSORS_TPS25990=y
CONFIG_ARCH_SUSPEND_POSSIBLE=y
CONFIG_LCD_L4F00242T03=y
