CONFIG_ETHTOOL_NETLINK=n
CONFIG_CRYPTO_HMAC=n
CONFIG_ARCH_FLATMEM_ENABLE=n
CONFIG_DWMAC_STARFIVE=n
CONFIG_NET_VENDOR_HISILICON=n
CONFIG_COMMON_CLK_RPMI=n
CONFIG_REGMAP_I2C=n
CONFIG_CAN_BCM=n
CONFIG_MTD_CFI_ADV_OPTIONS=n
CONFIG_PCI_QUIRKS=n
CONFIG_POWER_RESET_GPIO_RESTART=n
CONFIG_CGROUP_NET_PRIO=n
CONFIG_MMC_SUNXI=n
CONFIG_SERIAL_8250_PCI=n
CONFIG_ARCH_HAS_MEMBARRIER_SYNC_CORE=n
CONFIG_MTD=n
CONFIG_GPIOLIB_IRQCHIP=n
CONFIG_ARCH_HAS_FORTIFY_SOURCE=n
CONFIG_VFAT_FS=n
CONFIG_SATA_AHCI=n
CONFIG_USER_STACKTRACE_SUPPORT=n
CONFIG_MTD_SPI_NOR=n
CONFIG_XZ_DEC_SPARC=n
CONFIG_XFRM=n
CONFIG_SECTION_MISMATCH_WARN_ONLY=n
CONFIG_INTERVAL_TREE=n
CONFIG_WLAN_VENDOR_REALTEK=n
CONFIG_CACHEMAINT_FOR_DMA=n
CONFIG_HAVE_GENERIC_TIF_BITS=n
CONFIG_MIGRATION=n
CONFIG_ARCH_SUPPORTS_PER_VMA_LOCK=n
CONFIG_MTD_GEN_PROBE=n
CONFIG_PM_SLEEP_SMP=n
CONFIG_CRYPTO_HASH=n
CONFIG_USB_EHCI_HCD=n
CONFIG_CONTEXT_SWITCH_TRACER=n
CONFIG_DMA_SHARED_BUFFER=n
CONFIG_PM_DEVFREQ=n
CONFIG_ACPI_BUTTON=n
CONFIG_CRYPTO_LIB_SHA1=n
CONFIG_BLK_DEV_WRITE_MOUNTED=n
CONFIG_USB_CONFIGFS=n
CONFIG_BPF_UNPRIV_DEFAULT_OFF=n
CONFIG_DRM_NOUVEAU=n
CONFIG_OF_IOMMU=n
CONFIG_USB_CONFIGFS_SERIAL=n
CONFIG_SECRETMEM=n
CONFIG_HAVE_REGS_AND_STACK_ACCESS_API=n
CONFIG_WIRELESS=n
CONFIG_ARCH_WANT_LD_ORPHAN_WARN=n
CONFIG_DAX=n
CONFIG_ZLIB_INFLATE=n
CONFIG_NET_VENDOR_BROADCOM=n
CONFIG_HAS_IOPORT_MAP=n
CONFIG_MMC_SPI=n
CONFIG_ARCH_WANT_OPTIMIZE_DAX_VMEMMAP=n
CONFIG_ARCH_SIFIVE=n
CONFIG_DRM_PANEL_BRIDGE=n
CONFIG_COREDUMP=n
CONFIG_ACPI_CPPC_CPUFREQ=n
CONFIG_CAN_DEV=n
CONFIG_PINCTRL_STARFIVE_JH7110_SYS=n
CONFIG_DRM_CLIENT_DEFAULT_FBDEV=n
CONFIG_USB_CDNS3=n
CONFIG_USB_SUPPORT=n
CONFIG_OF_FLATTREE=n
CONFIG_NO_HZ_COMMON=n
CONFIG_KERNEL_GZIP=n
CONFIG_PROC_PAGE_MONITOR=n
CONFIG_PM_OPP=n
CONFIG_BINFMT_ELF=n
CONFIG_AUDIT_GENERIC=n
CONFIG_HUGETLBFS=n
CONFIG_REGULATOR_GPIO=n
CONFIG_HAVE_RETHOOK=n
CONFIG_OF_PMEM=n
CONFIG_RISCV_ALTERNATIVE=n
CONFIG_RISCV=n
CONFIG_STMMAC_PLATFORM=n
CONFIG_ARCH_ENABLE_SPLIT_PMD_PTLOCK=n
CONFIG_HAVE_BUILDTIME_MCOUNT_SORT=n
CONFIG_HAVE_STACKPROTECTOR=n
CONFIG_LIBFDT=n
CONFIG_ARCH_RV64I=n
CONFIG_CC_IS_GCC=n
CONFIG_NET_VENDOR_ALLWINNER=n
CONFIG_PHY_PACKAGE=n
CONFIG_WLAN_VENDOR_MARVELL=n
CONFIG_MUTEX_SPIN_ON_OWNER=n
CONFIG_NET_SCH_FIFO=n
CONFIG_POWER_RESET_SPACEMIT_P1=n
CONFIG_SPI_PL022=n
CONFIG_CRYPTO_USER_API_ENABLE_OBSOLETE=n
CONFIG_BRIDGE=n
CONFIG_XZ_DEC_ARMTHUMB=n
CONFIG_EXPORTFS=n
CONFIG_MTD_CFI=n
CONFIG_ACPI_REDUCED_HARDWARE_ONLY=n
CONFIG_NET_VENDOR_MELLANOX=n
CONFIG_NET=n
CONFIG_SND_DMAENGINE_PCM=n
CONFIG_GROUP_SCHED_BANDWIDTH=n
CONFIG_CRYPTO_CBC=n
CONFIG_FUTEX_PI=n
CONFIG_KERNFS=n
CONFIG_RISCV_ISA_ZBC=n
CONFIG_GENERIC_IRQ_MULTI_HANDLER=n
CONFIG_PINCTRL_SOPHGO_SG2000=n
CONFIG_MOUSE_PS2_CYPRESS=n
CONFIG_DYNAMIC_SIGFRAME=n
CONFIG_ARCH_KEEP_MEMBLOCK=n
CONFIG_DRM_FBDEV_EMULATION=n
CONFIG_RISCV_ISA_ZACAS=n
CONFIG_VETH=n
CONFIG_SECCOMP=n
CONFIG_USB_EHCI_PCI=n
CONFIG_CLK_STARFIVE_JH7110_STG=n
CONFIG_ARCH_THEAD=n
CONFIG_ARCH_HAS_KCOV=n
CONFIG_WLAN_VENDOR_ZYDAS=n
CONFIG_USB_F_RNDIS=n
CONFIG_FIXED_PHY=n
CONFIG_DWMAC_SOPHGO=n
CONFIG_RISCV_ISA_VENDOR_EXT=n
CONFIG_SMP=n
CONFIG_DMA_ACPI=n
CONFIG_USB_CONFIGFS_ECM_SUBSET=n
CONFIG_NETFILTER_ADVANCED=n
CONFIG_RISCV_APLIC=n
CONFIG_DM_PERSISTENT_DATA=n
CONFIG_HAVE_KVM_READONLY_MEM=n
CONFIG_NAMESPACES=n
CONFIG_MTD_OF_PARTS=n
CONFIG_NET_VENDOR_ENGLEDER=n
CONFIG_VIRTIO=n
CONFIG_SECURITY=n
CONFIG_PCPU_DEV_REFCNT=n
CONFIG_USB_NET_DRIVERS=n
CONFIG_STRICT_MODULE_RWX=n
CONFIG_ARCH_HAS_UBSAN=n
CONFIG_DT_IDLE_STATES=n
CONFIG_ATA=n
CONFIG_ZLIB_DEFLATE=n
CONFIG_INITRAMFS_PRESERVE_MTIME=n
CONFIG_USB_CONFIGFS_ACM=n
CONFIG_DM_THIN_PROVISIONING=n
CONFIG_DW_AXI_DMAC=n
CONFIG_ATA_VERBOSE_ERROR=n
CONFIG_FB_IOMEM_FOPS=n
CONFIG_REGMAP=n
CONFIG_FB_SYS_FILLRECT=n
CONFIG_PACKET=n
CONFIG_IP6_NF_IPTABLES=n
CONFIG_MEDIA_HIDE_ANCILLARY_SUBDRV=n
CONFIG_ATA_FORCE=n
CONFIG_PCIE_PME=n
CONFIG_USB_CONFIGFS_F_FS=n
CONFIG_RTC_DRV_SPACEMIT_P1=n
CONFIG_PER_VMA_LOCK=n
CONFIG_FILE_LOCKING=n
CONFIG_PHYS_ADDR_T_64BIT=n
CONFIG_CLKSRC_MMIO=n
CONFIG_INTEGRITY_AUDIT=n
CONFIG_CAN_GW=n
CONFIG_NVMEM=n
CONFIG_DRM_CLIENT=n
CONFIG_MEMBARRIER=n
CONFIG_CPU_FREQ_GOV_USERSPACE=n
CONFIG_HAS_IOMEM=n
CONFIG_MEMREGION=n
CONFIG_PINCTRL_SPACEMIT_K1=n
CONFIG_OF_RESERVED_MEM=n
CONFIG_DRM_SUN4I=n
CONFIG_USB_F_ECM=n
CONFIG_NET_VENDOR_MICROSEMI=n
CONFIG_ARCH_HAS_BINFMT_FLAT=n
CONFIG_USB_CDNS3_PCI_WRAP=n
CONFIG_FAILOVER=n
CONFIG_GENERIC_CPU_VULNERABILITIES=n
CONFIG_PROC_SYSCTL=n
CONFIG_PCI_PWRCTRL=n
CONFIG_NET_VENDOR_QLOGIC=n
CONFIG_BTT=n
CONFIG_ACPI_AC=n
CONFIG_ACPI_GENERIC_GSI=n
CONFIG_HAVE_IRQ_EXIT_ON_IRQ_STACK=n
CONFIG_HAVE_FUNCTION_ERROR_INJECTION=n
CONFIG_NET_VENDOR_NETRONOME=n
CONFIG_CLK_SOPHGO_SG2042_CLKGEN=n
CONFIG_INPUT_VIVALDIFMAP=n
CONFIG_ERRATA_SIFIVE_CIP_453=n
CONFIG_ACPI_PROCESSOR=n
CONFIG_NET_VENDOR_SYNOPSYS=n
CONFIG_NET_VENDOR_INTEL=n
CONFIG_MMC_BLOCK=n
CONFIG_IOMMU_SUPPORT=n
CONFIG_NET_VENDOR_MARVELL=n
CONFIG_NET_VENDOR_TEHUTI=n
CONFIG_SLAB_MERGE_DEFAULT=n
CONFIG_FB_SYSMEM_HELPERS_DEFERRED=n
CONFIG_NFS_COMMON=n
CONFIG_PHYLIB=n
CONFIG_HWMON=n
CONFIG_SELECT_MEMORY_MODEL=n
CONFIG_RESET_CONTROLLER=n
CONFIG_SOCK_CGROUP_DATA=n
CONFIG_VIRTIO_ANCHOR=n
CONFIG_SND_SOC_SDCA_OPTIONAL=n
CONFIG_PINCTRL_TH1520=n
CONFIG_UNINLINE_SPIN_UNLOCK=n
CONFIG_ARCH_SUPPORTS_UPROBES=n
CONFIG_SPI_SIFIVE=n
CONFIG_MACVLAN=n
CONFIG_CPU_FREQ_GOV_PERFORMANCE=n
CONFIG_ARCH_USE_SYM_ANNOTATIONS=n
CONFIG_NET_UDP_TUNNEL=n
CONFIG_RT_MUTEXES=n
CONFIG_GENERIC_GETTIMEOFDAY=n
CONFIG_VIRTIO_BALLOON=n
CONFIG_BLOCK_HOLDER_DEPRECATED=n
CONFIG_NET_VENDOR_ADI=n
CONFIG_RISCV_ISA_FALLBACK=n
CONFIG_MEDIA_PLATFORM_SUPPORT=n
CONFIG_PROBE_EVENTS=n
CONFIG_PCI_DOMAINS_GENERIC=n
CONFIG_SECURITY_APPARMOR_HASH_DEFAULT=n
CONFIG_BLK_ICQ=n
CONFIG_GENERIC_IRQ_IPI_MUX=n
CONFIG_EFI_GENERIC_STUB=n
CONFIG_ARCH_SUPPORTS_LTO_CLANG_THIN=n
CONFIG_NET_DEVMEM=n
CONFIG_GCC_ASM_GOTO_OUTPUT_BROKEN=n
CONFIG_RISCV_ISA_ZBA=n
CONFIG_HW_RANDOM_JH7110=n
CONFIG_USB_ROLE_SWITCH=n
CONFIG_GPIO_SIFIVE=n
CONFIG_SPARSE_IRQ=n
CONFIG_PRINTK=n
CONFIG_NET_VENDOR_RENESAS=n
CONFIG_USB_F_OBEX=n
CONFIG_CPU_IDLE_MULTIPLE_DRIVERS=n
CONFIG_SPI_SPACEMIT_K1=n
CONFIG_INET=n
CONFIG_TMPFS=n
CONFIG_DEBUG_MEMORY_INIT=n
CONFIG_BLK_MQ_STACKING=n
CONFIG_POSIX_MQUEUE_SYSCTL=n
CONFIG_IOMMU_PT_RISCV64=n
CONFIG_CONTEXT_TRACKING=n
CONFIG_WLAN_VENDOR_RALINK=n
CONFIG_NET_VENDOR_EZCHIP=n
CONFIG_NET_VENDOR_VERTEXCOM=n
CONFIG_HAVE_GENERIC_VDSO=n
CONFIG_CC_NO_ARRAY_BOUNDS=n
CONFIG_TASKS_RCU=n
CONFIG_PADATA=n
CONFIG_PATA_TIMINGS=n
CONFIG_IRQ_DOMAIN_HIERARCHY=n
CONFIG_SND_SPI=n
CONFIG_FONT_SUPPORT=n
CONFIG_MDIO_BUS_MUX=n
CONFIG_WLAN_VENDOR_BROADCOM=n
CONFIG_CC_HAS_ZERO_CALL_USED_REGS=n
CONFIG_RESET_K230=n
CONFIG_NET_VENDOR_CISCO=n
CONFIG_USB_XHCI_PCI=n
CONFIG_STARFIVE_JHB100_INTC=n
CONFIG_WLAN_VENDOR_ATH=n
CONFIG_PHY_SUN6I_MIPI_DPHY=n
CONFIG_ACPI_BATTERY=n
CONFIG_CRYPTO_ECB=n
CONFIG_SND_VERBOSE_PROCFS=n
CONFIG_CRYPTO_AEAD2=n
CONFIG_CLONE_BACKWARDS=n
CONFIG_REGULATOR_AXP20X=n
CONFIG_RWSEM_SPIN_ON_OWNER=n
CONFIG_HAVE_PERF_EVENTS=n
CONFIG_SERIAL_CORE_CONSOLE=n
CONFIG_SECURITY_NETWORK=n
CONFIG_MOUSE_PS2_BYD=n
CONFIG_RISCV_ISA_ZICBOM=n
CONFIG_MOUSE_PS2_SYNAPTICS=n
CONFIG_SG_POOL=n
CONFIG_GROUP_SCHED_WEIGHT=n
CONFIG_LEGACY_PTYS=n
CONFIG_ARCH_SUPPORTS_KEXEC_PURGATORY=n
CONFIG_IP_VS_NFCT=n
CONFIG_USB_OHCI_LITTLE_ENDIAN=n
CONFIG_MACB=n
CONFIG_ARCH_SUPPORTS_LTO_CLANG=n
CONFIG_CGROUP_PIDS=n
CONFIG_INPUT=n
CONFIG_NF_CONNTRACK_FTP=n
CONFIG_PROC_FS=n
CONFIG_HAVE_MOVE_PUD=n
CONFIG_BLK_DEV_BSG_COMMON=n
CONFIG_WATCHDOG_HANDLE_BOOT_ENABLED=n
CONFIG_REGMAP_MMIO=n
CONFIG_SYSCTL_EXCEPTION_TRACE=n
CONFIG_EVENT_TRACING=n
