CONFIG_CHARGER_BQ25980=y
CONFIG_GENERIC_PINCONF=y
CONFIG_HW_RANDOM_BA431=y
CONFIG_DYNAMIC_EVENTS=y
CONFIG_MTD_PCMCIA=y
CONFIG_HP_ACCEL=y
CONFIG_EXTCON=y
CONFIG_EXTCON_MAX77843=y
CONFIG_MEMSTICK=y
CONFIG_DEFAULT_SECURITY_DAC=y
CONFIG_ARCH_SUPPORTS_KEXEC_PURGATORY=y
CONFIG_ARCH_USE_BUILTIN_BSWAP=y
CONFIG_HID_BPF=y
CONFIG_MISC_RTSX=y
CONFIG_RETHOOK=y
CONFIG_CPU_SUP_INTEL=y
CONFIG_SENSORS_LTC2947=y
CONFIG_MPILIB=y
CONFIG_MAGIC_SYSRQ=y
CONFIG_USE_X86_SEG_SUPPORT=y
CONFIG_USB_EMI26=y
CONFIG_SENSORS_LTC3815=y
CONFIG_MFD_SM501_GPIO=y
CONFIG_ARCH_HAS_PMEM_API=y
CONFIG_SENSORS_W83793=y
CONFIG_MTD_GEN_PROBE=y
CONFIG_BINFMT_ELF=y
CONFIG_NLS_CODEPAGE_850=y
CONFIG_SENSORS_FSCHMD=y
CONFIG_TCG_TIS_I2C=y
CONFIG_XILINX_PR_DECOUPLER=y
CONFIG_HID_ORTEK=y
CONFIG_ENERGY_MODEL=y
CONFIG_BUILDTIME_MCOUNT_SORT=y
CONFIG_MITIGATION_SPECTRE_V1=y
CONFIG_DYNAMIC_FTRACE_WITH_DIRECT_CALLS=y
CONFIG_HAVE_FTRACE_REGS_HAVING_PT_REGS=y
CONFIG_USB_EHCI_FSL=y
CONFIG_SENSORS_IR36021=y
CONFIG_SECURITY_LANDLOCK=y
CONFIG_MFD_MADERA_I2C=y
CONFIG_USB4=y
CONFIG_CRYPTO_TWOFISH_COMMON=y
CONFIG_GPIO_BD9571MWV=y
CONFIG_GPIOLIB_IRQCHIP=y
CONFIG_GPIO_JANZ_TTL=y
CONFIG_REGULATOR_PV88060=y
CONFIG_I2C_MUX_PINCTRL=y
CONFIG_BACKLIGHT_PWM=y
CONFIG_SENSORS_APPLESMC=y
CONFIG_HAVE_MOVE_PMD=y
CONFIG_MITIGATION_PAGE_TABLE_ISOLATION=y
CONFIG_SENSORS_DS620=y
CONFIG_ARCH_SUPPORTS_KEXEC_JUMP=y
CONFIG_TOUCHSCREEN_TSC200X_CORE=y
CONFIG_SSB_PCIHOST=y
CONFIG_AMD_HSMP=y
CONFIG_COMEDI_DT9812=y
CONFIG_SENSORS_MP2856=y
CONFIG_NVMEM_SYSFS=y
CONFIG_CRYPTO_MANAGER2=y
CONFIG_QUOTA_DEBUG=y
CONFIG_NLS_CODEPAGE_862=y
CONFIG_EFI_VARS_PSTORE=y
CONFIG_SURFACE_AGGREGATOR_BUS=y
CONFIG_FUNCTION_GRAPH_RETVAL=y
CONFIG_USB_OHCI_LITTLE_ENDIAN=y
CONFIG_JOYSTICK_FSIA6B=y
CONFIG_TCG_INFINEON=y
CONFIG_HAVE_ARCH_JUMP_LABEL=y
CONFIG_PMBUS=y
CONFIG_SSB_PCIHOST_POSSIBLE=y
CONFIG_ARCH_HAS_CPU_FINALIZE_INIT=y
CONFIG_FB_SYSMEM_HELPERS=y
CONFIG_OF_RESOLVE=y
CONFIG_I2C_AMD_MP2=y
CONFIG_PERF_EVENTS=y
CONFIG_ALTERA_FREEZE_BRIDGE=y
CONFIG_ARCH_WANT_BATCHED_UNMAP_TLB_FLUSH=y
CONFIG_MFD_CORE=y
CONFIG_INTEL_PMT_TELEMETRY=y
CONFIG_DAMON_VADDR=y
CONFIG_ARCH_HAS_PTDUMP=y
CONFIG_MFD_CS47L24=y
CONFIG_GPIO_HLWD=y
CONFIG_MTD_CK804XROM=y
CONFIG_ACPI_DPTF=y
CONFIG_DEVFREQ_GOV_PERFORMANCE=y
CONFIG_HID_PANTHERLORD=y
CONFIG_VM_EVENT_COUNTERS=y
CONFIG_INTEL_PUNIT_IPC=y
CONFIG_DMA_FENCE_TRACE=y
CONFIG_NVMEM_MAX77759=y
CONFIG_FB_SYSMEM_FOPS=y
CONFIG_MFD_SMPRO=y
CONFIG_MTD_CMDLINE_PARTS=y
CONFIG_HID_ELECOM=y
CONFIG_SENSORS_MAX31785=y
CONFIG_DECOMPRESS_LZ4=y
CONFIG_THERMAL_DEFAULT_GOV_STEP_WISE=y
CONFIG_CROS_KBD_LED_BACKLIGHT=y
CONFIG_ACER_WIRELESS=y
CONFIG_PCI=y
CONFIG_EDAC_IGEN6=y
CONFIG_EARLY_PRINTK_USB=y
CONFIG_NTB_SWITCHTEC=y
CONFIG_SENSORS_EMC1403=y
CONFIG_COMEDI_USBDUXSIGMA=y
CONFIG_X86_LOCAL_APIC=y
CONFIG_CPU_SUP_AMD=y
CONFIG_GOLDFISH_PIPE=y
CONFIG_REGULATOR_TPS65132=y
CONFIG_HID_CORSAIR=y
CONFIG_EEPROM_AT24=y
CONFIG_PINCTRL_TIGERLAKE=y
CONFIG_GPIO_LP3943=y
CONFIG_SHRINKER_DEBUG=y
CONFIG_FW_ATTR_CLASS=y
CONFIG_BCMA_DRIVER_PCI=y
CONFIG_IRQ_FORCED_THREADING=y
CONFIG_HAS_DMA=y
CONFIG_ARCH_HAS_KERNEL_FPU_SUPPORT=y
CONFIG_NVMEM_LAYOUT_SL28_VPD=y
CONFIG_W1_SLAVE_DS2433_CRC=y
CONFIG_REGULATOR_MAX77857=y
CONFIG_MFD_RK8XX_I2C=y
CONFIG_HAVE_KERNEL_XZ=y
CONFIG_TPS6594_ESM=y
CONFIG_READABLE_ASM=y
CONFIG_DMADEVICES_DEBUG=y
CONFIG_CC_HAS_ASM_INLINE=y
CONFIG_SERIO_PCIPS2=y
CONFIG_TCG_TIS_ST33ZP24_I2C=y
CONFIG_X86_THERMAL_VECTOR=y
CONFIG_PHY_NXP_PTN3222=y
CONFIG_USB_ADUTUX=y
CONFIG_GPIO_WM831X=y
CONFIG_COMEDI_ADV_PCI1710=y
CONFIG_HAVE_KERNEL_LZMA=y
CONFIG_HWMON_VID=y
CONFIG_BCMA_POSSIBLE=y
CONFIG_ARCH_HAS_ELF_RANDOMIZE=y
CONFIG_LEDS_AW200XX=y
CONFIG_DEBUG_WQ_FORCE_RR_CPU=y
CONFIG_MTD_AMD76XROM=y
CONFIG_HAVE_MIXED_BREAKPOINTS_REGS=y
CONFIG_NLS_CODEPAGE_1250=y
CONFIG_CRYPTO_CAMELLIA=y
CONFIG_MFD_LP3943=y
CONFIG_VGA_CONSOLE=y
CONFIG_X86_REQUIRED_FEATURE_PSE=y
CONFIG_DEVFREQ_GOV_POWERSAVE=y
CONFIG_X86_CPUID=y
CONFIG_SENSORS_KBATT=y
CONFIG_PCI_DEBUG=y
CONFIG_RING_BUFFER_BENCHMARK=y
CONFIG_NVMEM=y
CONFIG_INTEL_PLR_TPMI=y
CONFIG_PECI=y
CONFIG_COMEDI_USB_DRIVERS=y
CONFIG_TCG_TIS_ST33ZP24=y
CONFIG_LEDS_APU=y
CONFIG_FB_BACKLIGHT=y
CONFIG_DYNAMIC_FTRACE=y
CONFIG_HAVE_UNSTABLE_SCHED_CLOCK=y
CONFIG_COMEDI_NI_670X=y
CONFIG_REGULATOR_88PM800=y
CONFIG_CRYPTO_LIB_GF128HASH=y
CONFIG_PINCTRL_CANNONLAKE=y
CONFIG_SENSORS_TC74=y
CONFIG_TOUCHSCREEN_TSC2004=y
CONFIG_HUGETLB_PMD_PAGE_TABLE_SHARING=y
CONFIG_DEVFREQ_GOV_PASSIVE=y
CONFIG_REGULATOR_RTQ2134=y
CONFIG_CRYPTO_CAMELLIA_X86_64=y
CONFIG_HAVE_ARCH_TRACEHOOK=y
CONFIG_CRYPTO_CAST5_AVX_X86_64=y
CONFIG_MFD_WM8994=y
CONFIG_REGULATOR_PV88090=y
CONFIG_DMIID=y
CONFIG_MTD_CFI_UTIL=y
CONFIG_MTD_MAP_BANK_WIDTH_4=y
CONFIG_X86_MCE=y
CONFIG_MMU_LAZY_TLB_REFCOUNT=y
CONFIG_BATTERY_S2MU005=y
CONFIG_MSEAL_SYSTEM_MAPPINGS=y
CONFIG_ARCH_HAS_DEVMEM_IS_ALLOWED=y
CONFIG_64BIT=y
CONFIG_MFD_WM831X_I2C=y
CONFIG_REGULATOR_PF0900=y
CONFIG_ARCH_HAVE_EXTRA_ELF_NOTES=y
CONFIG_TOUCHSCREEN_SIS_I2C=y
CONFIG_NLS_CODEPAGE_861=y
CONFIG_TASKS_TRACE_RCU=y
CONFIG_SENSORS_XDP710=y
CONFIG_NLS_MAC_INUIT=y
CONFIG_LEDS_LP5523=y
CONFIG_CPU_IDLE=y
CONFIG_TOUCHSCREEN_ELO=y
CONFIG_GPIO_LINE_MUX=y
CONFIG_DAMON_DEBUG_SANITY=y
CONFIG_LEGACY_VSYSCALL_NONE=y
CONFIG_GPIO_TPIC2810=y
CONFIG_SERIAL_MULTI_INSTANTIATE=y
CONFIG_DUMMY_CONSOLE=y
CONFIG_MFD_MAX77714=y
CONFIG_SENSORS_ADP1050_REGULATOR=y
CONFIG_GENERIC_VDSO_OVERFLOW_PROTECT=y
CONFIG_SENSORS_GL520SM=y
CONFIG_OF_FPGA_REGION=y
CONFIG_FB_SAVAGE=y
CONFIG_PINCTRL_JASPERLAKE=y
CONFIG_ARCH_HAS_SYSCALL_WRAPPER=y
CONFIG_MFD_RT5120=y
CONFIG_OPTPROBES=y
CONFIG_ARCH_USE_MEMREMAP_PROT=y
CONFIG_CPU_SUP_HYGON=y
CONFIG_MITIGATION_SPECTRE_V2=y
CONFIG_HID_ELO=y
CONFIG_FB_SYS_IMAGEBLIT=y
CONFIG_COMEDI_8255=y
CONFIG_THERMAL_STATISTICS=y
CONFIG_TOUCHSCREEN_HYCON_HY46XX=y
CONFIG_FPGA_BRIDGE=y
CONFIG_EDAC_IE31200=y
CONFIG_NLS_ISO8859_9=y
CONFIG_USB_DWC2_DEBUG=y
CONFIG_SENSORS_HAC300S=y
CONFIG_TOUCHSCREEN_MELFAS_MIP4=y
CONFIG_ACPI_TABLE_UPGRADE=y
CONFIG_AMD_NODE=y
CONFIG_UIO_SERCOS3=y
CONFIG_JAILHOUSE_GUEST=y
CONFIG_COMMON_CLK_SI544=y
CONFIG_CRYPTO_SERPENT_SSE2_X86_64=y
CONFIG_HAVE_SCHED_AVG_IRQ=y
CONFIG_GNSS_USB=y
CONFIG_PINCTRL_CS47L85=y
CONFIG_SONY_FF=y
CONFIG_ARCH_WANT_DEFAULT_BPF_JIT=y
CONFIG_GCC10_NO_ARRAY_BOUNDS=y
CONFIG_RAPIDIO_CPS_XX=y
CONFIG_ARCH_WANT_IRQS_OFF_ACTIVATE_MM=y
CONFIG_IDLE_INJECT=y
CONFIG_TRACING=y
CONFIG_LEDS_GROUP_MULTICOLOR=y
CONFIG_PHY_CADENCE_DPHY_RX=y
CONFIG_LEDS_QNAP_MCU=y
CONFIG_RPMSG_CTRL=y
CONFIG_ARCH_WANT_FRAME_POINTERS=y
CONFIG_EDAC_I3000=y
CONFIG_MFD_PALMAS=y
CONFIG_HID_APPLETB_BL=y
CONFIG_ARCH_SUPPORTS_UPROBES=y
CONFIG_W1_SLAVE_DS250X=y
CONFIG_HID_REDRAGON=y
CONFIG_NTB_PERF=y
CONFIG_CRYPTO_BENCHMARK=y
CONFIG_PINCTRL_LAKEFIELD=y
CONFIG_CC_HAS_IBT=y
CONFIG_MTD_ABSENT=y
CONFIG_UEFI_CPER=y
CONFIG_ENCRYPTED_KEYS=y
CONFIG_W1_SLAVE_DS2408=y
CONFIG_CXL_BUS=y
CONFIG_ACPI_APEI_EINJ=y
CONFIG_ORANGEFS_FS=y
CONFIG_JOYSTICK_SPACEORB=y
CONFIG_VGA_ARB=y
CONFIG_ARCH_HAS_CPU_CACHE_INVALIDATE_MEMREGION=y
CONFIG_CONSOLE_TRANSLATIONS=y
CONFIG_FB_SSD1307=y
CONFIG_HAVE_RSEQ=y
CONFIG_EVM_ADD_XATTRS=y
CONFIG_NLS_ISO8859_6=y
CONFIG_MFD_SI476X_CORE=y
CONFIG_MFD_88PM886_PMIC=y
CONFIG_RING_BUFFER=y
CONFIG_X86_IOPL_IOPERM=y
CONFIG_SCREEN_INFO=y
CONFIG_NTB_IDT=y
CONFIG_FB_OPENCORES=y
CONFIG_HAVE_ARCH_THREAD_STRUCT_WHITELIST=y
CONFIG_WM831X_POWER=y
CONFIG_INPUT_FF_MEMLESS=y
CONFIG_MFD_STMFX=y
CONFIG_LITEX=y
CONFIG_SENSORS_ADP1050=y
CONFIG_TRACER_MAX_TRACE=y
CONFIG_HID_TOPSEED=y
CONFIG_REED_SOLOMON_DEC8=y
CONFIG_VMWARE_VMCI=y
CONFIG_TOUCHSCREEN_GOODIX_BERLIN_CORE=y
CONFIG_SPARSEMEM_EXTREME=y
CONFIG_HW_RANDOM_VIA=y
CONFIG_MTD_ESB2ROM=y
CONFIG_W1_SLAVE_DS2780=y
CONFIG_VIRT_CPU_ACCOUNTING_GEN=y
CONFIG_DEBUG_OBJECTS_RCU_HEAD=y
CONFIG_KGDB_LOW_LEVEL_TRAP=y
CONFIG_EFI_RCI2_TABLE=y
CONFIG_SENSORS_NCT6683=y
CONFIG_MMCONF_FAM10H=y
CONFIG_IA32_FEAT_CTL=y
CONFIG_XILLYBUS_OF=y
CONFIG_PINCTRL_OCELOT=y
CONFIG_X86_DISABLED_FEATURE_UNRET=y
CONFIG_LOCK_DOWN_KERNEL_FORCE_NONE=y
CONFIG_HAVE_ARCH_USERFAULTFD_WP=y
CONFIG_RMI4_F30=y
CONFIG_GPIO_GW_PLD=y
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO_BARE=y
CONFIG_SENSORS_TPS25990_REGULATOR=y
CONFIG_LEDS_DA903X=y
CONFIG_ARCH_ENABLE_HUGEPAGE_MIGRATION=y
CONFIG_SURFACE_HID=y
CONFIG_PCIEPORTBUS=y
CONFIG_MTD_PMC551=y
CONFIG_SENSORS_MAX31730=y
CONFIG_CRYPTO_LIB_SHA1_ARCH=y
CONFIG_ARCH_HAS_CPU_RELAX=y
CONFIG_X86_ACPI_CPUFREQ_CPB=y
CONFIG_SENSORS_LENOVO_EC=y
CONFIG_FW_UPLOAD=y
CONFIG_HAVE_PAGE_SIZE_4KB=y
CONFIG_CRYPTO_MANAGER=y
CONFIG_PCIE_CADENCE_PLAT_HOST=y
CONFIG_IPMI_POWEROFF=y
CONFIG_USB_LED_TRIG=y
CONFIG_SURFACE_AGGREGATOR_HUB=y
CONFIG_MEMFD_CREATE=y
CONFIG_NLS_MAC_TURKISH=y
CONFIG_X86_DISABLED_FEATURE_ENQCMD=y
CONFIG_SLAB_MERGE_DEFAULT=y
CONFIG_GPIO_CGBC=y
CONFIG_MTD_CFI_AMDSTD=y
CONFIG_W1_SLAVE_DS2433=y
CONFIG_PER_VMA_LOCK_STATS=y
CONFIG_STM_PROTO_BASIC=y
CONFIG_X86=y
CONFIG_ARCH_SUPPORTS_DEBUG_PAGEALLOC=y
CONFIG_EXTCON_USBC_CROS_EC=y
CONFIG_REED_SOLOMON=y
CONFIG_SOFTLOCKUP_DETECTOR=y
CONFIG_RAPIDIO_MPORT_CDEV=y
CONFIG_I2C_SIMTEC=y
CONFIG_PCI_PWRCTRL_TC9563=y
CONFIG_TWL6040_CORE=y
CONFIG_SLUB=y
CONFIG_DMA_NEED_SYNC=y
CONFIG_PSTORE=y
CONFIG_SENSORS_YOGAFAN=y
CONFIG_CRYPTO_CRC32C=y
CONFIG_HARDLOCKUP_DETECTOR_BUDDY=y
CONFIG_I2C_MUX_MLXCPLD=y
CONFIG_HZ_300=y
CONFIG_USB_TEST=y
CONFIG_RAPIDIO=y
CONFIG_CRYPTO_LIB_POLY1305_ARCH=y
CONFIG_CMA_SIZE_SEL_PERCENTAGE=y
CONFIG_FB_ATY128=y
CONFIG_LEDS_PCA963X=y
CONFIG_TOUCHSCREEN_MMS114=y
CONFIG_MITIGATION_RFDS=y
CONFIG_GPIO_DS4520=y
CONFIG_GENERIC_IRQ_RESERVATION_MODE=y
CONFIG_CGROUP_DEVICE=y
CONFIG_HW_RANDOM=y
CONFIG_SENSORS_LATTEPANDA_SIGMA_EC=y
CONFIG_ACPI_IPMI=y
CONFIG_FUNCTION_ALIGNMENT_4B=y
CONFIG_COMEDI_ADDI_APCI_2032=y
CONFIG_RMI4_SMB=y
CONFIG_CROS_EC_LPC=y
CONFIG_SENSORS_NCT7363=y
CONFIG_RING_BUFFER_ALLOW_SWAP=y
CONFIG_CRYPTO_LIB_SM3_ARCH=y
CONFIG_REGMAP_I2C=y
CONFIG_WW_MUTEX_SELFTEST=y
CONFIG_CRYPTO_TWOFISH_X86_64=y
CONFIG_WILCO_EC=y
CONFIG_I2C_HID_OF=y
CONFIG_HID_AUREAL=y
CONFIG_HAVE_PREEMPT_DYNAMIC_CALL=y
CONFIG_NVMEM_LAYOUTS=y
CONFIG_MFD_ARIZONA=y
CONFIG_FW_DEVLINK_SYNC_STATE_TIMEOUT=y
CONFIG_ARCH_SUPPORTS_MSEAL_SYSTEM_MAPPINGS=y
CONFIG_GPIB_NEC7210=y
CONFIG_ARCH_HAS_ADD_PAGES=y
CONFIG_ZONE_DMA32=y
CONFIG_COMMON_CLK_PWM=y
CONFIG_HID_PXRC=y
CONFIG_TCG_TIS_I2C_NUVOTON=y
CONFIG_STM_SOURCE_CONSOLE=y
CONFIG_PHYS_ADDR_T_64BIT=y
CONFIG_GOLDFISH=y
CONFIG_TABLET_SERIAL_WACOM4=y
CONFIG_USB_HCD_TEST_MODE=y
CONFIG_ACPI_VIDEO=y
CONFIG_GENERIC_BITREVERSE=y
CONFIG_I2C_GPIO=y
CONFIG_HP_BIOSCFG=y
CONFIG_HAVE_KPROBES=y
CONFIG_X86_REQUIRED_FEATURE_MSR=y
CONFIG_FW_CS_DSP=y
CONFIG_CRYPTO_LIB_GF128MUL=y
CONFIG_ACPI_REDUCED_HARDWARE_ONLY=y
CONFIG_LEDS_ADP5520=y
CONFIG_CHARGER_LP8727=y
CONFIG_REGULATOR_RTQ2208=y
CONFIG_XARRAY_MULTI=y
CONFIG_BALLOON=y
CONFIG_PCI_DIRECT=y
CONFIG_LEDS_LP5860_CORE=y
CONFIG_GPIB_INES=y
CONFIG_SCHED_SMT=y
CONFIG_HAVE_DYNAMIC_FTRACE=y
CONFIG_HAVE_PCSPKR_PLATFORM=y
CONFIG_GPIO_REGMAP=y
CONFIG_HAVE_CLK=y
CONFIG_REGULATOR_AS3722=y
CONFIG_MFD_RT4831=y
CONFIG_FB_ATY_CT=y
CONFIG_USB_LINK_LAYER_TEST=y
CONFIG_ACPI_WMI=y
CONFIG_FSI_MASTER_ASPEED=y
CONFIG_IDLE_PAGE_TRACKING=y
CONFIG_CRC_CCITT=y
CONFIG_MFD_ATMEL_HLCDC=y
CONFIG_ASN1=y
CONFIG_CRYPTO_LIB_BLAKE2B=y
CONFIG_EXTCON_USBC_TUSB320=y
CONFIG_SENSORS_BH1770=y
CONFIG_HID_CYPRESS=y
CONFIG_TOUCHSCREEN_HYNITRON_CSTXXX=y
CONFIG_LEDS_TRIGGER_BACKLIGHT=y
CONFIG_DEBUG_FS_ALLOW_NONE=y
CONFIG_UCS2_STRING=y
CONFIG_HAS_IOMEM=y
CONFIG_BATTERY_DS2760=y
CONFIG_MFD_NCT6694=y
CONFIG_GPIB=y
CONFIG_DETECT_HUNG_TASK=y
CONFIG_SURFACE_KBD=y
CONFIG_HAVE_ARCH_SOFT_DIRTY=y
CONFIG_RTC_MC146818_LIB=y
CONFIG_TYPEC_MUX_IT5205=y
CONFIG_NLS_MAC_ROMAN=y
CONFIG_GPIO_SYSCON=y
CONFIG_SENSORS_STTS751=y
CONFIG_REGULATOR_TPS6594=y
CONFIG_SENSORS_MP2925=y
CONFIG_PRINTK=y
CONFIG_GENERIC_IOMAP=y
CONFIG_HOTPLUG_CPU=y
CONFIG_GET_FREE_REGION=y
CONFIG_MTD_QINFO_PROBE=y
CONFIG_VGA_SWITCHEROO=y
CONFIG_DEBUG_MEMORY_INIT=y
CONFIG_IO_WQ=y
CONFIG_HID_DRAGONRISE=y
CONFIG_SENSORS_PIM4328=y
CONFIG_NLS_CODEPAGE_864=y
CONFIG_HUGETLB_PAGE_OPTIMIZE_VMEMMAP=y
CONFIG_TORTURE_TEST=y
CONFIG_LEDS_PCA955X=y
CONFIG_TCG_TPM2_HMAC=y
CONFIG_SWITCHTEC_DMA=y
CONFIG_REGULATOR_MAX1586=y
CONFIG_SENSORS_MAX6621=y
CONFIG_CC_NO_ARRAY_BOUNDS=y
CONFIG_HAVE_NOINSTR_VALIDATION=y
CONFIG_USB=y
CONFIG_X86_DISABLED_FEATURE_K6_MTRR=y
CONFIG_BOOT_VESA_SUPPORT=y
CONFIG_DYNAMIC_FTRACE_WITH_JMP=y
CONFIG_SENSORS_PECI=y
CONFIG_FPGA_REGION=y
CONFIG_USB_SUPPORT=y
CONFIG_SENSORS_AXI_FAN_CONTROL=y
CONFIG_HUGETLBFS=y
CONFIG_SENSORS_MAX15301=y
CONFIG_PLATFORM_MHU=y
CONFIG_TOUCHSCREEN_CY8CTMG110=y
CONFIG_CPU_FREQ_GOV_ONDEMAND=y
CONFIG_USB_UHCI_HCD=y
CONFIG_CC_HAS_ZERO_CALL_USED_REGS=y
CONFIG_SF_PDMA=y
CONFIG_SHMEM=y
CONFIG_I2C_FSI=y
CONFIG_CONFIGFS_FS=y
CONFIG_842_DECOMPRESS=y
CONFIG_HAVE_GCC_PLUGINS=y
CONFIG_X86_DECODER_SELFTEST=y
CONFIG_LEDS_PWM_MULTICOLOR=y
CONFIG_USB_PRINTER=y
CONFIG_PHY_PXA_28NM_HSIC=y
CONFIG_INTEL_SCU=y
CONFIG_FB_CORE=y
