CONFIG_I2C_BRCMSTB=y
CONFIG_CPU_IDLE_GOV_TEO=y
CONFIG_BCMA_NFLASH=y
CONFIG_SENSORS_DS1621=y
CONFIG_HAVE_PERF_REGS=y
CONFIG_FPU=y
CONFIG_FW_LOADER_USER_HELPER=y
CONFIG_HW_RANDOM_MESON=y
CONFIG_CRC8=y
CONFIG_RENESAS_RZG2LWDT=y
CONFIG_CLK_NORD_GCC=y
CONFIG_PHY_SNPS_EUSB2=y
CONFIG_RESET_LANTIQ=y
CONFIG_BCMA_DEBUG=y
CONFIG_TASKS_TRACE_RCU=y
CONFIG_RN5T618_WATCHDOG=y
CONFIG_FB_VOODOO1=y
CONFIG_EUROTECH_WDT=y
CONFIG_GPIO_EM=y
CONFIG_IOSCHED_BFQ=y
CONFIG_PINCTRL_MTK_PARIS=y
CONFIG_REGULATOR_SPACEMIT_P1=y
CONFIG_CRYPTO_LIB_DES=y
CONFIG_AT91SAM9X_WATCHDOG=y
CONFIG_CROS_EC_PROTO=y
CONFIG_RV_MON_STALL=y
CONFIG_IAQCORE=y
CONFIG_ARCH_HAS_HW_PTE_YOUNG=y
CONFIG_KPROBES=y
CONFIG_PINCTRL_SOPHGO_SG2042=y
CONFIG_SENSORS_W83L786NG=y
CONFIG_REGULATOR_LP8755=y
CONFIG_GP2AP002=y
CONFIG_QNX4FS_FS=y
CONFIG_OPT4060=y
CONFIG_MDM_GCC_9607=y
CONFIG_HW_RANDOM_HISI=y
CONFIG_RTC_DRV_RX8010=y
CONFIG_HW_RANDOM_CN10K=y
CONFIG_SENSORS_MAX20730=y
CONFIG_LEDS_AN30259A=y
CONFIG_MAG3110=y
CONFIG_KXCJK1013=y
CONFIG_IPMI_HANDLER=y
CONFIG_MFD_ROHM_BD957XMUF=y
CONFIG_HAVE_PERF_USER_STACK_DUMP=y
CONFIG_BH1750=y
CONFIG_KEYBOARD_OMAP4=y
CONFIG_CLK_R8A779H0=y
CONFIG_SENSORS_SL28CPLD=y
CONFIG_DW_I3C_MASTER=y
CONFIG_VIRTIO_PCI_LIB_LEGACY=y
CONFIG_MFD_RSMU_I2C=y
CONFIG_PCI_DRA7XX=y
CONFIG_LEDS_EXPRESSWIRE=y
CONFIG_TOUCHSCREEN_MSG2638=y
CONFIG_SM_CAMCC_8250=y
CONFIG_REGULATOR_DA903X=y
CONFIG_SENSORS_MAX77705=y
CONFIG_RISCV_ISA_C=y
CONFIG_PINCTRL_WMT=y
CONFIG_MXC6255=y
CONFIG_COMMON_CLK_MT8186_IPESYS=y
CONFIG_RTC_DRV_FM3130=y
CONFIG_SENSORS_IR36021=y
CONFIG_HW_RANDOM_BCM74110=y
CONFIG_ARCH_HAS_PMEM_API=y
CONFIG_VIRTIO_ANCHOR=y
CONFIG_ARCH_ENABLE_THP_MIGRATION=y
CONFIG_HAVE_FUNCTION_GRAPH_FREGS=y
CONFIG_REGULATOR_RT4801=y
CONFIG_DMA_COHERENT_POOL=y
CONFIG_GPIO_VIRTIO=y
CONFIG_LTC2497=y
CONFIG_WATCHDOG_HANDLE_BOOT_ENABLED=y
CONFIG_PINCTRL_IMX1_CORE=y
CONFIG_DEVFREQ_EVENT_ROCKCHIP_DFI=y
CONFIG_VM_EVENT_COUNTERS=y
CONFIG_MISC_RP1=y
CONFIG_GPIO_CRYSTAL_COVE=y
CONFIG_OVERLAY_FS_METACOPY=y
CONFIG_ARCH_HAS_DEBUG_VIRTUAL=y
CONFIG_PINCTRL_PFC_SH7203=y
CONFIG_PKCS7_MESSAGE_PARSER=y
CONFIG_PHY_BCM63XX_USBH=y
CONFIG_MFD_MAX77714=y
CONFIG_CRYPTO_LIB_NH=y
CONFIG_FXOS8700_I2C=y
CONFIG_UNIX98_PTYS=y
CONFIG_SENSORS_ISL68137=y
CONFIG_OID_REGISTRY=y
CONFIG_MESON_GX_SOCINFO=y
CONFIG_FILE_LOCKING=y
CONFIG_SERIAL_SIFIVE_CONSOLE=y
CONFIG_IIO_BUFFER_DMAENGINE=y
CONFIG_PINCTRL_ELKHARTLAKE=y
CONFIG_TI_TMAG5273=y
CONFIG_MULTIPLEXER=y
CONFIG_GENERIC_SCHED_CLOCK=y
CONFIG_SUNXI_WATCHDOG=y
CONFIG_AHCI_SUNXI=y
CONFIG_ECONET_EN751221_TIMER=y
CONFIG_RTC_DRV_PCF8583=y
CONFIG_I2C_VERSATILE=y
CONFIG_QCOM_SPM=y
CONFIG_ABX500_CORE=y
CONFIG_WATCH_QUEUE=y
CONFIG_PINCTRL_LOONGSON2=y
CONFIG_ADUX1020=y
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE=y
CONFIG_BLK_CGROUP_IOPRIO=y
CONFIG_LIST_HARDENED=y
CONFIG_RTC_DRV_DA9063=y
CONFIG_W1=y
CONFIG_FUTEX_PI=y
CONFIG_PCIEAER=y
CONFIG_KEYBOARD_SUNKBD=y
CONFIG_REGULATOR_DA9210=y
CONFIG_ARCH_WANT_BATCHED_UNMAP_TLB_FLUSH=y
CONFIG_ARCH_SUPPORTS_HUGE_PFNMAP=y
CONFIG_REGULATOR_BQ257XX=y
CONFIG_ASM9260_WATCHDOG=y
CONFIG_I2C_SLAVE=y
CONFIG_X509_CERTIFICATE_PARSER=y
CONFIG_BINARY_PRINTF=y
CONFIG_AD5380=y
CONFIG_REGULATOR_MAX8907=y
CONFIG_GENERIC_IRQ_MATRIX_ALLOCATOR=y
CONFIG_FSL_CORENET_CF=y
CONFIG_SPRD_IOMMU=y
CONFIG_RTC_DRV_MT7622=y
CONFIG_CLK_KAANAPALI_GPUCC=y
CONFIG_PING=y
CONFIG_GOLDFISH_TIMER=y
CONFIG_INTERCONNECT_SAMSUNG=y
CONFIG_COMMON_CLK_PISTACHIO=y
CONFIG_PINCTRL_AMD=y
CONFIG_SDX_GCC_75=y
CONFIG_CLK_R9A09G087=y
CONFIG_BCMA_DRIVER_GPIO=y
CONFIG_IIO_BUFFER_HW_CONSUMER=y
CONFIG_COMMON_CLK_HI655X=y
CONFIG_REGULATOR_MAX77686=y
CONFIG_SC_GCC_7180=y
CONFIG_COMMON_CLK_MT2712=y
CONFIG_FB_PM2_FIFO_DISCONNECT=y
CONFIG_MTK_MFG_PM_DOMAIN=y
CONFIG_INTERCONNECT_IMX8MQ=y
CONFIG_CLK_R8A7792=y
CONFIG_TCM_IBLOCK=y
CONFIG_INIT_ON_ALLOC_DEFAULT_ON=y
CONFIG_HAVE_ARCH_KSTACK_ERASE=y
CONFIG_IOMMU_API=y
CONFIG_IMX7D_ADC=y
CONFIG_BLK_DEV_3W_XXXX_RAID=y
CONFIG_KEXEC_FILE=y
CONFIG_HAVE_ARCH_HUGE_VMALLOC=y
CONFIG_I2C_ALGOPCA=y
CONFIG_FAIR_GROUP_SCHED=y
CONFIG_ARCH_WANT_OPTIMIZE_DAX_VMEMMAP=y
CONFIG_TMPFS_POSIX_ACL=y
CONFIG_LD_DEAD_CODE_DATA_ELIMINATION=y
CONFIG_COMMON_CLK_KEYSTONE=y
CONFIG_KEYBOARD_IMX=y
CONFIG_FAULT_INJECTION_USERCOPY=y
CONFIG_ARCH_SUPPORTS_HUGETLBFS=y
CONFIG_SENSORS_MAX197=y
CONFIG_FW_LOADER_SYSFS=y
CONFIG_CRYPTO_LIB_SHA1=y
CONFIG_HAVE_64BIT_ALIGNED_ACCESS=y
CONFIG_ARCH_KEEP_MEMBLOCK=y
CONFIG_SCSI_DMA=y
CONFIG_COMMON_CLK_NPCM8XX=y
CONFIG_VHOST_CROSS_ENDIAN_LEGACY=y
CONFIG_TOUCHSCREEN_GOODIX=y
CONFIG_HAVE_IRQ_EXIT_ON_IRQ_STACK=y
CONFIG_COMMON_CLK_NUVOTON=y
CONFIG_IPQ_APSS_5424=y
CONFIG_MFD_WM831X=y
CONFIG_SCSI_UFS_FAULT_INJECTION=y
CONFIG_F2FS_UNFAIR_RWSEM=y
CONFIG_PCI_RCAR_GEN2=y
CONFIG_RTC_DRV_TI_K3=y
CONFIG_PCI_PWRCTRL_GENERIC=y
CONFIG_QCOM_CPR=y
CONFIG_MOUSE_PS2_ALPS=y
CONFIG_PCI_V3_SEMI=y
CONFIG_POWER_RESET_EP93XX=y
CONFIG_ABP060MG=y
CONFIG_TEST_MEMINIT=y
CONFIG_IIO_ST_LSM6DSX_I2C=y
CONFIG_SM_DISPCC_6125=y
CONFIG_INPUT_SC27XX_VIBRA=y
CONFIG_SENSORS_INA209=y
CONFIG_IPMI_KCS_BMC=y
CONFIG_PINCTRL_BCM6328=y
CONFIG_SOPHGO_CV1800B_ADC=y
CONFIG_COMMON_RESET_HI6220=y
CONFIG_I2C_CHARDEV=y
CONFIG_ARCH_ANDES=y
CONFIG_EFI_STUB=y
CONFIG_I2C_DESIGNWARE_AMDISP=y
CONFIG_MFD_RK8XX_I2C=y
CONFIG_RTC_DRV_M48T59=y
CONFIG_SM_CAMCC_4450=y
CONFIG_PM_GENERIC_DOMAINS_SLEEP=y
CONFIG_PINCTRL_POLARFIRE_SOC=y
CONFIG_SENSORS_ADC128D818=y
CONFIG_RZN1_ADC=y
CONFIG_IMGPDC_WDT=y
CONFIG_NLS_ISO8859_2=y
CONFIG_MFD_BQ257XX=y
CONFIG_ERRATA_MIPS=y
CONFIG_I2C_DEMUX_PINCTRL=y
CONFIG_AD4062=y
CONFIG_PTE_MARKER_UFFD_WP=y
CONFIG_NLS_MAC_CROATIAN=y
CONFIG_PCIE_MT7621=y
CONFIG_NOTIFIER_ERROR_INJECTION=y
CONFIG_RTC_DRV_RP5C01=y
CONFIG_QCOM_CLK_APCS_MSM8916=y
CONFIG_GENERIC_ALLOCATOR=y
CONFIG_CLK_SH73A0=y
CONFIG_SENSORS_LM78=y
CONFIG_SENSORS_LM77=y
CONFIG_RISCV_SBI_MPXY_MBOX=y
CONFIG_CLK_R8A7779=y
CONFIG_MFD_ADP5585=y
CONFIG_PINCTRL_LPASS_LPI=y
CONFIG_LEDS_IP30=y
CONFIG_TOUCHSCREEN_CY8CTMG110=y
CONFIG_APQ_MMCC_8084=y
CONFIG_PROC_SYSCTL=y
CONFIG_REGULATOR_RTQ6752=y
CONFIG_NPCM7XX_TIMER=y
CONFIG_EXPERT=y
CONFIG_REGULATOR_ROHM=y
CONFIG_DPOT_DAC=y
CONFIG_ADJD_S311=y
CONFIG_PSI_DEFAULT_DISABLED=y
CONFIG_EFS_FS=y
CONFIG_HSI=y
CONFIG_LEDS_LM3642=y
CONFIG_EXTCON_ADC_JACK=y
CONFIG_TRACING_SUPPORT=y
CONFIG_XILINX_SDFEC=y
CONFIG_PL320_MBOX=y
CONFIG_PCIE_KEEMBAY_HOST=y
CONFIG_HAVE_ARCH_MMAP_RND_COMPAT_BITS=y
CONFIG_RESET_SIMPLE=y
CONFIG_TOUCHSCREEN_AR1021_I2C=y
CONFIG_ARCH_SUPPORTS_LTO_CLANG_THIN=y
CONFIG_PINCTRL_RTD1625=y
CONFIG_COMMON_CLK_MT8195_VDECSYS=y
CONFIG_IPQ_GCC_806X=y
CONFIG_KEYBOARD_LM8323=y
CONFIG_MFD_MAX77705=y
CONFIG_HW_RANDOM_ROCKCHIP=y
CONFIG_GPIO_IDIO_16=y
CONFIG_ATA=y
CONFIG_HZ_1000=y
CONFIG_CLK_R9A09G057=y
CONFIG_HW_RANDOM_IMX_RNGC=y
CONFIG_VIRTIO_PCI_LIB=y
CONFIG_COMMON_CLK_MT6797=y
CONFIG_INTEL_MEI=y
CONFIG_CMODEL_MEDANY=y
CONFIG_HAVE_KPROBES=y
CONFIG_SENSORS_LTC2947_I2C=y
CONFIG_MOUSE_CYAPA=y
CONFIG_COMMON_CLK_HI3660=y
CONFIG_IIO_TRIGGERED_EVENT=y
CONFIG_GPIO_RC5T583=y
CONFIG_KEYBOARD_QT1070=y
CONFIG_RING_BUFFER=y
CONFIG_REGULATOR_HI655X=y
CONFIG_GDB_SCRIPTS=y
CONFIG_NLS_MAC_TURKISH=y
CONFIG_HAVE_GUP_FAST=y
CONFIG_TCG_TIS_I2C_ATMEL=y
CONFIG_RTC_DRV_RK808=y
CONFIG_I2C_SUN6I_P2WI=y
CONFIG_DEBUG_LOCK_ALLOC=y
CONFIG_MSM_MMCC_8998=y
CONFIG_RTC_DRV_SSD202D=y
CONFIG_NVME_CORE=y
CONFIG_IIO=y
CONFIG_QCOM_A7PLL=y
CONFIG_NVMEM_LPC18XX_OTP=y
CONFIG_REGULATOR_TPS65132=y
CONFIG_QCOM_TZMEM=y
CONFIG_TH1520_AON_PROTOCOL=y
CONFIG_CRYPTO_CAST5=y
CONFIG_POLARFIRE_SOC_MAILBOX=y
CONFIG_ST_LPC_WATCHDOG=y
CONFIG_CLK_R8A77980=y
CONFIG_LEDS_BD2802=y
CONFIG_PINCONF=y
CONFIG_INTERCONNECT_IMX8MN=y
CONFIG_UFS_FS=y
CONFIG_MESON_CANVAS=y
CONFIG_PHY_ROCKCHIP_SNPS_PCIE3=y
CONFIG_RC_CORE=y
CONFIG_SENSORS_MAX6621=y
CONFIG_TUNE_GENERIC=y
CONFIG_LEDS_IS31FL319X=y
CONFIG_MLX90635=y
CONFIG_PHY_NXP_PTN3222=y
CONFIG_TRANSPARENT_HUGEPAGE_SHMEM_HUGE_ADVISE=y
CONFIG_SERIAL_CORE=y
CONFIG_CRYPTO_CTR=y
CONFIG_RTC_DRV_PL031=y
CONFIG_SENSORS_TMP513=y
CONFIG_SM_GPUCC_6115=y
CONFIG_FB_S3C=y
CONFIG_EXTCON_SM5502=y
CONFIG_COMMON_CLK_SI521XX=y
CONFIG_PHY_TEGRA194_P2U=y
CONFIG_NVMEM_JZ4780_EFUSE=y
CONFIG_KEYBOARD_PMIC8XXX=y
CONFIG_GPIO_ASPEED_SGPIO=y
CONFIG_PCI_ECAM=y
CONFIG_ADMFM2000=y
CONFIG_RTC_DRV_LPC32XX=y
CONFIG_INPUT_GPIO_VIBRA=y
CONFIG_NVMEM_LAYOUTS=y
CONFIG_JOYSTICK_SPACEORB=y
CONFIG_DEBUG_VIRTUAL=y
CONFIG_IMX_IPUV3_CORE=y
CONFIG_EROFS_FS_SECURITY=y
CONFIG_DEBUG_KERNEL=y
CONFIG_FB_IMSTT=y
CONFIG_MFD_CS42L43_I2C=y
CONFIG_LOCK_MM_AND_FIND_VMA=y
CONFIG_DEBUG_PAGEALLOC=y
CONFIG_REGULATOR_QCOM_SMD_RPM=y
CONFIG_SENSORS_HTU31=y
CONFIG_LEDS_AW2013=y
CONFIG_FS_ENCRYPTION_ALGS=y
CONFIG_DMA_NEED_SYNC=y
CONFIG_LEDS_OSRAM_AMS_AS3668=y
CONFIG_IPQ_GCC_5332=y
CONFIG_AD7746=y
CONFIG_MAX44000=y
CONFIG_I2CR_SCOM=y
CONFIG_SENSORS_ADT7411=y
CONFIG_SC_GCC_8180X=y
CONFIG_FB_NOTIFY=y
CONFIG_PINCTRL_IMX8MP=y
CONFIG_RISCV_MISALIGNED=y
CONFIG_RAID_ATTRS=y
CONFIG_INPUT_AW86927=y
CONFIG_DMARD10=y
CONFIG_I2C_BCM_IPROC=y
CONFIG_PHY_INTEL_LGM_EMMC=y
CONFIG_RISCV_ISA_ZACAS=y
CONFIG_CRYPTO_CRC32=y
CONFIG_XILLYBUS_PCIE=y
CONFIG_TI_ECAP_CAPTURE=y
CONFIG_OF_DYNAMIC=y
CONFIG_SENSORS_I5K_AMB=y
CONFIG_FB_CYBER2000=y
CONFIG_SCSI_3W_SAS=y
CONFIG_BACKLIGHT_KTD2801=y
CONFIG_PM_GENERIC_DOMAINS_OF=y
CONFIG_PHY_QCOM_QMP_USB_LEGACY=y
CONFIG_TIMERLAT_TRACER=y
CONFIG_SENSORS_ADM9240=y
CONFIG_SERIO_ARC_PS2=y
CONFIG_SENSORS_MP2888=y
CONFIG_SENSORS_MAX31790=y
CONFIG_RESET_TN48M_CPLD=y
CONFIG_RTC_DRV_RX6110=y
CONFIG_PINCTRL_PFC_R8A73A4=y
CONFIG_FAT_DEFAULT_UTF8=y
CONFIG_CRYPTO_BENCHMARK=y
CONFIG_FB_MODE_HELPERS=y
CONFIG_NXP_PIT_TIMER=y
CONFIG_ISA_BUS_API=y
CONFIG_SENSORS_LT7182S=y
CONFIG_REGULATOR_SUN20I=y
CONFIG_I2C=y
CONFIG_ARCH_THEAD=y
CONFIG_BRCMSTB_MEMC=y
CONFIG_TH1520_PM_DOMAINS=y
CONFIG_MFD_NTXEC=y
CONFIG_IPQ_GCC_5424=y
CONFIG_PM_NOTIFIER_ERROR_INJECT=y
CONFIG_CC_HAS_ASM_INLINE=y
CONFIG_COMMON_CLK_VC3=y
CONFIG_MLX_WDT=y
CONFIG_IMX_SCMI_CPU_DRV=y
CONFIG_PINCTRL_MT8516=y
CONFIG_MFD_LM3533=y
CONFIG_RTC_DRV_DS1672=y
CONFIG_SOC_IMX9=y
CONFIG_COMMON_CLK_MT6735_VENCSYS=y
CONFIG_GPIO_MSC313=y
CONFIG_CLK_STARFIVE_JH7100=y
CONFIG_BLK_CGROUP_RWSTAT=y
CONFIG_FB_DEFERRED_IO=y
CONFIG_PINCTRL_MAX7360=y
CONFIG_SM_GPUCC_6350=y
CONFIG_BALLOON=y
CONFIG_PINCTRL_IMX1=y
CONFIG_CLK_SOPHGO_CV1800=y
CONFIG_ADI_I3C_MASTER=y
CONFIG_CLK_INTEL_SOCFPGA=y
CONFIG_ROCKCHIP_SARADC=y
CONFIG_LEDS_MLXREG=y
CONFIG_CLK_RENESAS_VBATTB=y
CONFIG_TOUCHSCREEN_FUJITSU=y
CONFIG_ERRATA_ANDES=y
CONFIG_LPC18XX_WATCHDOG=y
CONFIG_BLOCK=y
CONFIG_TOUCHSCREEN_IPROC=y
CONFIG_IRQ_SIM=y
CONFIG_REGULATOR_FAN53555=y
CONFIG_EVENT_TRACING=y
CONFIG_CLK_R9A07G054=y
CONFIG_RDA_TIMER=y
CONFIG_SM_GCC_6350=y
CONFIG_CONTEXT_TRACKING_USER=y
CONFIG_ARCH_SUPPORTS_INT128=y
CONFIG_NEED_TASKS_RCU=y
CONFIG_COMMON_CLK_MT8186_MCUSYS=y
CONFIG_XZ_DEC_SPARC=y
CONFIG_SENSORS_SBTSI=y
CONFIG_CRYPTO_ADIANTUM=y
CONFIG_SOC_TEGRA20_VOLTAGE_COUPLER=y
CONFIG_TIFM_CORE=y
CONFIG_SENSORS_ASB100=y
CONFIG_MFD_MAX77620=y
CONFIG_CLK_SIFIVE=y
CONFIG_CRYPTO_LIB_CHACHA=y
CONFIG_PCIE_PTM=y
CONFIG_CLKSRC_ST_LPC=y
CONFIG_MSM_GCC_8960=y
CONFIG_DMARD09=y
CONFIG_PINMUX=y
CONFIG_GPIO_ICH=y
CONFIG_REGULATOR_MAX8660=y
CONFIG_INTEL_SOC_PMIC=y
CONFIG_ARCH_HAS_MEMBARRIER_CALLBACKS=y
CONFIG_INPUT=y
CONFIG_OMAP_SSI=y
CONFIG_SENSORS_AHT10=y
CONFIG_MFD_ATC260X=y
CONFIG_PAGE_SIZE_4KB=y
CONFIG_INTEL_TH_PTI=y
CONFIG_MPL115=y
CONFIG_TI_SCI_PROTOCOL=y
CONFIG_FB_ATMEL=y
CONFIG_DW_APB_TIMER=y
CONFIG_SCSI_UFS_HISI=y
CONFIG_HAVE_ARCH_JUMP_LABEL=y
CONFIG_RESET_UNIPHIER_GLUE=y
CONFIG_MFD_STM32_TIMERS=y
CONFIG_RT_MUTEXES=y
CONFIG_RISCV_APLIC=y
CONFIG_PCIE_DW=y
CONFIG_PINCTRL_NS=y
CONFIG_PINCTRL_BCM63268=y
CONFIG_VIRTIO_PCI=y
CONFIG_NVMEM_LPC18XX_EEPROM=y
CONFIG_GENERIC_CSUM=y
CONFIG_LOCKDEP=y
CONFIG_COMMON_CLK_MT8195_VPPSYS=y
CONFIG_TSL2583=y
CONFIG_SENSORS_POWR1220=y
CONFIG_ARCH_HAS_SYSCALL_WRAPPER=y
CONFIG_MMU_LAZY_TLB_REFCOUNT=y
CONFIG_OPT4001=y
CONFIG_GPIO_TEGRA186=y
CONFIG_MMA7660=y
CONFIG_SM_GPUCC_8150=y
CONFIG_TOUCHSCREEN_EGALAX_SERIAL=y
CONFIG_SENSORS_GL520SM=y
CONFIG_CLK_SUNXI_PRCM_SUN6I=y
CONFIG_PHY_BERLIN_SATA=y
CONFIG_REGULATOR_PCA9450=y
CONFIG_LOONGSON1_WDT=y
CONFIG_SENSORS_ACBEL_FSG032=y
CONFIG_FB_DEVICE=y
CONFIG_WATCHDOG_PRETIMEOUT_GOV_SEL=y
CONFIG_MS5637=y
CONFIG_WMT_SOCINFO=y
CONFIG_POWER_RESET_RMOBILE=y
CONFIG_MEGARAID_LEGACY=y
CONFIG_GPIO_MVEBU=y
CONFIG_HAVE_FUNCTION_ARG_ACCESS_API=y
CONFIG_ADXL313_I2C=y
CONFIG_OF_EARLY_FLATTREE=y
CONFIG_HW_RANDOM_XILINX=y
CONFIG_HW_RANDOM_INTEL=y
CONFIG_WM8350_WATCHDOG=y
CONFIG_MCB=y
CONFIG_JZ4780_NEMC=y
CONFIG_PREEMPT_LAZY=y
CONFIG_AFFS_FS=y
