CONFIG_QCOM_SMEM=n
CONFIG_MICREL_PHY=n
CONFIG_TIMER_ACPI=n
CONFIG_COMMON_CLK_NUVOTON=n
CONFIG_SYSC_R9A08G046=n
CONFIG_GENERIC_IRQ_MIGRATION=n
CONFIG_COMMON_CLK_MT8196=n
CONFIG_GENERIC_PINMUX_FUNCTIONS=n
CONFIG_IR_SUNXI=n
CONFIG_PWM_ROCKCHIP=n
CONFIG_USB_HID=n
CONFIG_MMU_GATHER_RCU_TABLE_FREE=n
CONFIG_INOTIFY_USER=n
CONFIG_KALLSYMS=n
CONFIG_NET_DSA_TAG_BRCM=n
CONFIG_ARCH_HAS_SYNC_DMA_FOR_DEVICE=n
CONFIG_DRM_EXYNOS7_DECON=n
CONFIG_MMC_MTK=n
CONFIG_CRYPTO_HW=n
CONFIG_IIO=n
CONFIG_USB_OTG=n
CONFIG_USB_BRCMSTB=n
CONFIG_SND_SOC_SOF_XTENSA=n
CONFIG_PINCTRL_SM8250=n
CONFIG_COMMON_CLK_MT6795_VENCSYS=n
CONFIG_PINCTRL_MAX77620=n
CONFIG_DRM_IMX8MP_DW_HDMI_BRIDGE=n
CONFIG_ROCKCHIP_VOP=n
CONFIG_SERIAL_XILINX_PS_UART=n
CONFIG_DRM_MSM_GPU_STATE=n
CONFIG_COMMON_RESET_HI6220=n
CONFIG_SOC_BUS=n
CONFIG_BLK_MQ_STACKING=n
CONFIG_COMMON_CLK_MT8173_VDECSYS=n
CONFIG_PINCTRL_SUN50I_A100=n
CONFIG_CLK_IMX8QXP=n
CONFIG_RD_ZSTD=n
CONFIG_MMC=n
CONFIG_NF_CONNTRACK=n
CONFIG_NETFILTER_FAMILY_BRIDGE=n
CONFIG_SND_SOC_ES7241=n
CONFIG_REGULATOR_BD9571MWV=n
CONFIG_SND_HDA_ALIGNED_MMIO=n
CONFIG_GPIO_SHARED=n
CONFIG_TI_EQEP=n
CONFIG_SND_SOC_TLV320AIC32X4=n
CONFIG_BCM2835_POWER=n
CONFIG_COMMON_CLK_MT8196_MMSYS=n
CONFIG_SWIOTLB=n
CONFIG_USB_CONFIGFS_SERIAL=n
CONFIG_MHI_BUS_PCI_GENERIC=n
CONFIG_CRYPTO_LIB_BLAKE2B=n
CONFIG_ARCH_MVEBU=n
CONFIG_ARCH_WANT_DEFAULT_TOPDOWN_MMAP_LAYOUT=n
CONFIG_BATTERY_SBS=n
CONFIG_ACPI_PPTT=n
CONFIG_VIRTIO_PCI_LIB_LEGACY=n
CONFIG_NET_CLS_BASIC=n
CONFIG_ARCH_HAS_DEBUG_VM_PGTABLE=n
CONFIG_QCOM_RPMH=n
CONFIG_GPIO_CADENCE=n
CONFIG_DRM_POWERVR=n
CONFIG_APERTURE_HELPERS=n
CONFIG_CRC64=n
CONFIG_GPIO_RCAR=n
CONFIG_VIDEO_CAMERA_LENS=n
CONFIG_COMMON_CLK_MT6795=n
CONFIG_ACPI_APEI=n
CONFIG_ARM_SCMI_TRANSPORT_OPTEE=n
CONFIG_SPI_OMAP24XX=n
CONFIG_PCIE_TEGRA194_HOST=n
CONFIG_RTL_CARDS=n
CONFIG_ACPI_PRMT=n
CONFIG_RTC_DRV_RK808=n
CONFIG_TMPFS=n
CONFIG_CPU_FREQ_GOV_USERSPACE=n
CONFIG_REED_SOLOMON=n
CONFIG_PINCTRL_RTD1625=n
CONFIG_RTC_INTF_PROC=n
CONFIG_ARM64_ERRATUM_4118414=n
CONFIG_PINCTRL_QCS404=n
CONFIG_ARM64_ERRATUM_2051678=n
CONFIG_MTD_MAP_BANK_WIDTH_1=n
CONFIG_QCOM_SPMI_TEMP_ALARM=n
CONFIG_MFD_SEC_I2C=n
CONFIG_ARCH_HAS_STRICT_KERNEL_RWX=n
CONFIG_MTD_MAP_BANK_WIDTH_2=n
CONFIG_HAVE_PV_STEAL_CLOCK_GEN=n
CONFIG_CGROUP_HUGETLB=n
CONFIG_PINCTRL_MT6397=n
CONFIG_PHY_ROCKCHIP_TYPEC=n
CONFIG_MDIO_GPIO=n
CONFIG_QCOM_HFPLL=n
CONFIG_COMMON_CLK_MT8188_VDECSYS=n
CONFIG_SND_SUN50I_CODEC_ANALOG=n
CONFIG_ARM_TI_CPUFREQ=n
CONFIG_USB_CHIPIDEA_UDC=n
CONFIG_MTD_NAND_FSL_IFC=n
CONFIG_ARCH_HAS_STRICT_MODULE_RWX=n
CONFIG_DT_IDLE_GENPD=n
CONFIG_SQUASHFS=n
CONFIG_FSL_ENETC=n
CONFIG_REGULATOR_MT6359=n
CONFIG_OF_FPGA_REGION=n
CONFIG_ARM_GIC_V2M=n
CONFIG_BCM74110_MAILBOX=n
CONFIG_DWMAC_IMX8=n
CONFIG_PROFILING=n
CONFIG_ZSTD_COMPRESS=n
CONFIG_DRM_PANEL_STARTEK_KD070FHFID015=n
CONFIG_MMC_SUNXI=n
CONFIG_COMMON_CLK_VC3=n
CONFIG_PHY_ROCKCHIP_INNO_HDMI=n
CONFIG_ARMADA_THERMAL=n
CONFIG_COMMON_CLK_MESON_VID_PLL_DIV=n
CONFIG_AUDIT=n
CONFIG_INET_TCP_DIAG=n
CONFIG_PINCTRL_SM8350=n
CONFIG_UBIFS_FS_ZSTD=n
CONFIG_DEVFREQ_GOV_SIMPLE_ONDEMAND=n
CONFIG_HOTPLUG_CORE_SYNC_DEAD=n
CONFIG_IIO_ST_MAGN_SPI_3AXIS=n
CONFIG_ARM_SCMI_PROTOCOL=n
CONFIG_CC_NO_STRINGOP_OVERFLOW=n
CONFIG_FUSE_PASSTHROUGH=n
CONFIG_MEDIA_SDR_SUPPORT=n
CONFIG_BLK_DEV_NVME=n
CONFIG_USB_F_NCM=n
CONFIG_ARCH_MXC=n
CONFIG_MMC_SDHCI_XENON=n
CONFIG_IOMMU_DMA=n
CONFIG_SCSI_UFS_HISI=n
CONFIG_GUEST_PERF_EVENTS=n
CONFIG_CLKSRC_EXYNOS_MCT=n
CONFIG_SPI_MT65XX=n
CONFIG_SND_USB_AUDIO_QMI=n
CONFIG_TI_K3_UDMA=n
CONFIG_ARCH_R9A09G056=n
CONFIG_SYSC_R8A77961=n
CONFIG_PCIE_TEGRA194_EP=n
CONFIG_MAC80211_HAS_RC=n
CONFIG_NVMEM_SNVS_LPGPR=n
CONFIG_ACPI_CPPC_LIB=n
CONFIG_SERIAL_OWL_CONSOLE=n
CONFIG_PHY_QCOM_PCIE2=n
CONFIG_HAVE_SAMPLE_FTRACE_DIRECT_MULTI=n
CONFIG_IMX7ULP_WDT=n
CONFIG_MFD_RK8XX_SPI=n
CONFIG_BLK_DEV_INITRD=n
CONFIG_MTK_SOCINFO=n
CONFIG_MSM_GCC_8998=n
CONFIG_NVMEM_MAX77759=n
CONFIG_COMMON_CLK_HI3559A=n
CONFIG_SCSI_UFS_ROCKCHIP=n
CONFIG_SM_VIDEOCC_6350=n
CONFIG_SOUNDWIRE_QCOM=n
CONFIG_IPMI_HANDLER=n
CONFIG_SND_SOC_FSL_ESAI=n
CONFIG_ARCH_HAS_USER_SHADOW_STACK=n
CONFIG_RZ_MTU3=n
CONFIG_SND_SOC_ES8316=n
CONFIG_RPS=n
CONFIG_PHYLIB_LEDS=n
CONFIG_IMX8MM_THERMAL=n
CONFIG_MFD_AXP20X_RSB=n
CONFIG_INTERCONNECT_QCOM_X1E80100=n
CONFIG_UNION_FIND=n
CONFIG_PINCTRL_IPQ6018=n
CONFIG_DW_APB_TIMER_OF=n
CONFIG_HNS_ENET=n
CONFIG_PAGE_POOL=n
CONFIG_SERIAL_MESON_CONSOLE=n
CONFIG_ARCH_MICROCHIP=n
CONFIG_VIDEO_MEDIATEK_JPEG=n
CONFIG_REGMAP_SLIMBUS=n
CONFIG_RTC_DRV_SNVS=n
CONFIG_SOC_RENESAS=n
CONFIG_TI_K3_AM65_CPSW_NUSS=n
CONFIG_RTC_SYSTOHC=n
CONFIG_RTC_DRV_IMX_SC=n
CONFIG_HAVE_PERF_REGS=n
CONFIG_PAGE_MAPCOUNT=n
CONFIG_SPI_ROCKCHIP_SFC=n
CONFIG_BCM54140_PHY=n
CONFIG_BLK_INLINE_ENCRYPTION=n
CONFIG_QCOM_Q6V5_ADSP=n
CONFIG_ARM_QCOM_CPUFREQ_NVMEM=n
CONFIG_USB_EHCI_HCD_PLATFORM=n
CONFIG_LS_EXTIRQ=n
CONFIG_CLK_QCM2290_GPUCC=n
CONFIG_WLAN_VENDOR_PURELIFI=n
CONFIG_QCOM_EMAC=n
CONFIG_SUN55I_A523_CCU=n
CONFIG_ARM_MHU=n
CONFIG_SND_COMPRESS_ACCEL=n
CONFIG_COMMON_CLK_MT8192_MMSYS=n
CONFIG_MVEBU_ODMI=n
CONFIG_GPIO_MAX732X=n
CONFIG_BRCMSTB_MEMC=n
CONFIG_QCOM_PDC=n
CONFIG_ARM_PSCI_CPUIDLE_DOMAIN=n
CONFIG_CRC_ITU_T=n
CONFIG_XEN_PCI_STUB=n
CONFIG_PINCTRL_PFC_R8A77970=n
CONFIG_USB_USBNET=n
CONFIG_COMMON_CLK_MT8183_IPU_CONN=n
CONFIG_GENERIC_NET_UTILS=n
CONFIG_GENERIC_ALLOCATOR=n
CONFIG_PINCTRL_SM8550=n
CONFIG_SND_SOC_MT6357=n
CONFIG_SND_MESON_G12A_TOHDMITX=n
CONFIG_CLK_R8A774A1=n
CONFIG_MODULES_USE_ELF_RELA=n
CONFIG_DRM_MSM=n
CONFIG_MEDIA_HIDE_ANCILLARY_SUBDRV=n
CONFIG_VIDEO_OV5645=n
CONFIG_FB_SYSMEM_HELPERS=n
CONFIG_NXP_NETC_LIB=n
CONFIG_RESET_BRCMSTB=n
CONFIG_ACPI_AC=n
CONFIG_CRYPTO_GHASH_ARM64_CE=n
CONFIG_MEDIA_TUNER_MC44S803=n
CONFIG_MT76_CONNAC_LIB=n
CONFIG_PWM_SAMSUNG=n
CONFIG_VIDEO_RZG2L_CRU=n
CONFIG_BCM_NET_PHYLIB=n
CONFIG_SM_DISPCC_6115=n
CONFIG_IPQ_GCC_5332=n
CONFIG_SPI_QCOM_QSPI=n
CONFIG_LD_ORPHAN_WARN=n
CONFIG_ARM64_E0PD=n
CONFIG_CRYPTO_DEV_FSL_CAAM=n
CONFIG_XEN_GNTDEV=n
CONFIG_POWER_SUPPLY_HWMON=n
CONFIG_DRM_NOUVEAU=n
CONFIG_ACPI_PROCESSOR=n
CONFIG_GPIO_XILINX=n
CONFIG_USB_RENESAS_USBHS_HCD=n
CONFIG_RZG2L_ADC=n
CONFIG_SND_SOC_QDSP6_PRM=n
CONFIG_MDIO_THUNDER=n
CONFIG_USB_DWC3_IMX=n
CONFIG_NET_VENDOR_CADENCE=n
CONFIG_PINCTRL_OWL=n
CONFIG_VIDEO_RENESAS_FDP1=n
CONFIG_IP_PNP=n
CONFIG_COMMON_CLK_MT8195_IPESYS=n
CONFIG_ARM64_ERRATUM_1463225=n
CONFIG_HW_RANDOM_MTK=n
CONFIG_INPUT_TPS6594_PWRBUTTON=n
CONFIG_REGULATOR_S2MPS11=n
CONFIG_CAN_M_CAN_PLATFORM=n
CONFIG_NET_VENDOR_SMSC=n
CONFIG_ARCH_SPARSEMEM_ENABLE=n
CONFIG_MOUSE_ELAN_I2C=n
CONFIG_DRM_CLIENT_SETUP=n
CONFIG_FPGA_MGR_STRATIX10_SOC=n
CONFIG_NFS_V4_2_SSC_HELPER=n
CONFIG_USB_NET_DRIVERS=n
CONFIG_IP_PNP_DHCP=n
CONFIG_KCMP=n
CONFIG_TRANSPARENT_HUGEPAGE_ALWAYS=n
CONFIG_DRM_MSM_HDMI=n
CONFIG_MTD_NAND_BRCMNAND_BCMBCA=n
CONFIG_ARM_SMC_WATCHDOG=n
CONFIG_NFC=n
CONFIG_CRYPTO_ALGAPI=n
CONFIG_ARCH_BLAIZE=n
CONFIG_VGA_ARB=n
CONFIG_DRM_RCAR_DU=n
CONFIG_MTD_RAW_NAND=n
CONFIG_SND_SOC_GTM601=n
CONFIG_ARM_QCOM_CPUFREQ_HW=n
CONFIG_MFD_MAX77620=n
CONFIG_CRYPTO_AES_ARM64_NEON_BLK=n
CONFIG_COMMON_CLK_MT8183_AUDIOSYS=n
CONFIG_GPIO_XGENE=n
CONFIG_SPLIT_PTE_PTLOCKS=n
CONFIG_COMMON_CLK_HI3660=n
CONFIG_CLK_RCAR_USB2_CLOCK_SEL=n
CONFIG_HIBERNATE_CALLBACKS=n
CONFIG_SPI_QCOM_GENI=n
CONFIG_SND_TIMER=n
CONFIG_HAVE_KVM_IRQ_BYPASS=n
CONFIG_CMA_SIZE_SEL_MBYTES=n
CONFIG_CHARGER_MT6360=n
CONFIG_USB_NET_CDCETHER=n
CONFIG_SND_SOC_MT8365=n
CONFIG_USB_RZV2M_USB3DRD=n
CONFIG_TYPEC_TPS6598X=n
CONFIG_TIMER_IMX_SYS_CTR=n
CONFIG_CLK_BCM_63XX=n
CONFIG_USB_DWC3_RTK=n
CONFIG_MFD_RK8XX_I2C=n
CONFIG_PINCTRL_PFC_R8A779F0=n
CONFIG_GPIO_IMX_SCU=n
CONFIG_STM32_DMA3=n
CONFIG_NVMEM_SPMI_SDAM=n
CONFIG_TI_SCI_PM_DOMAINS=n
CONFIG_NETFILTER_XT_TARGET_LOG=n
