CONFIG_LIST_HARDENED=y
CONFIG_TCG_TIS_ST33ZP24=y
CONFIG_PINCTRL_SH_PFC_GPIO=y
CONFIG_PTP_1588_CLOCK_OPTIONAL=y
CONFIG_NIC7018_WDT=y
CONFIG_SENSORS_TPS25990=y
CONFIG_ADL8113=y
CONFIG_CDX_BUS=y
CONFIG_SERIAL_8250_UNIPHIER=y
CONFIG_RESET_BRCMSTB=y
CONFIG_HSC030PA=y
CONFIG_SERIAL_FSL_LPUART=y
CONFIG_CRYPTO_HCTR2=y
CONFIG_KEYBOARD_EP93XX=y
CONFIG_CRYPTO_SHA256=y
CONFIG_CLKSRC_STM32_LP=y
CONFIG_ARCH_ENABLE_SPLIT_PMD_PTLOCK=y
CONFIG_SENSORS_ADT7475=y
CONFIG_COMMON_CLK_MT8183_MFGCFG=y
CONFIG_SDP500=y
CONFIG_CRYPTO_LIB_SHA512_ARCH=y
CONFIG_CLK_IMX8MQ=y
CONFIG_BH1750=y
CONFIG_ACQUIRE_WDT=y
CONFIG_SERIAL_VT8500=y
CONFIG_MICROCODE=y
CONFIG_SYSFS=y
CONFIG_BMC150_MAGN_I2C=y
CONFIG_NLS_ASCII=y
CONFIG_CHARGER_LTC4162L=y
CONFIG_I2C_SMBUS=y
CONFIG_MFD_WM5110=y
CONFIG_LIVEUPDATE_TEST=y
CONFIG_GPIO_RCAR=y
CONFIG_PINCTRL_TEGRA124=y
CONFIG_PERF_EVENTS_AMD_POWER=y
CONFIG_SUN8I_A83T_CCU=y
CONFIG_MMU_GATHER_TABLE_FREE=y
CONFIG_COMMON_CLK_MT8167_VDECSYS=y
CONFIG_HAVE_ARCH_HUGE_VMAP=y
CONFIG_LTC2471=y
CONFIG_GENERIC_PENDING_IRQ=y
CONFIG_SENSORS_K10TEMP=y
CONFIG_CRYPTO_DH=y
CONFIG_NLS_CODEPAGE_1251=y
CONFIG_CRYPTO_SERPENT_AVX2_X86_64=y
CONFIG_GPIO_FXL6408=y
CONFIG_HWMON_DEBUG_CHIP=y
CONFIG_RC_DECODERS=y
CONFIG_STUB_CLK_HI6220=y
CONFIG_SENSORS_PWM_FAN=y
CONFIG_SERIAL_AMBA_PL010=y
CONFIG_TEST_OBJAGG=y
CONFIG_LEDS_LM3532=y
CONFIG_AD5272=y
CONFIG_IRQ_FASTEOI_HIERARCHY_HANDLERS=y
CONFIG_X86_VSYSCALL_EMULATION=y
CONFIG_HAVE_GCC_PLUGINS=y
CONFIG_SERIAL_8250_PCI1XXXX=y
CONFIG_STACK_VALIDATION=y
CONFIG_LEDS_MT6370_RGB=y
CONFIG_GENERIC_IRQ_PROBE=y
CONFIG_INTEL_SOC_PMIC=y
CONFIG_FW_LOADER_COMPRESS_XZ=y
CONFIG_IXP4XX_QMGR=y
CONFIG_ARCH_SUPPORTS_CRASH_HOTPLUG=y
CONFIG_FPGA_MGR_ZYNQMP_FPGA=y
CONFIG_GPIO_IDT3243X=y
CONFIG_STRICT_KERNEL_RWX=y
CONFIG_REGMAP_MMIO=y
CONFIG_HUGETLBFS=y
CONFIG_IR_IMG_HW=y
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST=y
CONFIG_LOONGSON1_WDT=y
CONFIG_SENSORS_IBM_CFFPS=y
CONFIG_CHARGER_RT9471=y
CONFIG_VIRT_CPU_ACCOUNTING_GEN=y
CONFIG_SENSORS_HAC300S=y
CONFIG_PWM_CRC=y
CONFIG_LPC_SCH=y
CONFIG_CRYPTO_AEAD=y
CONFIG_CLK_SOPHGO_SG2042_CLKGEN=y
CONFIG_PPS_CLIENT_KTIMER=y
CONFIG_K3_THERMAL=y
CONFIG_PINCTRL_CY8C95X0=y
CONFIG_EEPROM_EE1004=y
CONFIG_KMALLOC_PARTITION_RANDOM=y
CONFIG_PERCPU_STATS=y
CONFIG_DEBUG_INFO_SPLIT=y
CONFIG_TRUSTED_KEYS_TPM=y
CONFIG_ASYMMETRIC_KEY_TYPE=y
CONFIG_PWM_LOONGSON=y
CONFIG_HAVE_KVM_DIRTY_RING_ACQ_REL=y
CONFIG_TIMER_PROBE=y
CONFIG_ARCH_WANTS_NO_INSTR=y
CONFIG_KEYS=y
CONFIG_BUG=y
CONFIG_MFD_IQS62X=y
CONFIG_STM_PROTO_SYS_T=y
CONFIG_SSB_POSSIBLE=y
CONFIG_CRYPTO_BLOWFISH=y
CONFIG_IR_NEC_DECODER=y
CONFIG_SENSORS_MPQ7932=y
CONFIG_PREEMPT_RCU=y
CONFIG_MULTIPLEXER=y
CONFIG_LEDS_PCA955X=y
CONFIG_GPIO_SYSFS=y
CONFIG_CRYPTO_XTS=y
CONFIG_GPIO_BLZP1600=y
CONFIG_HBMC_AM654=y
CONFIG_NOTIFIER_ERROR_INJECTION=y
CONFIG_HAVE_PERF_USER_STACK_DUMP=y
CONFIG_TEST_DIV64=y
CONFIG_LPC32XX_ADC=y
CONFIG_MTD_CFI=y
CONFIG_PINCTRL_PFC_SH7264=y
CONFIG_EXTCON=y
CONFIG_HW_RANDOM_IMX_RNGC=y
CONFIG_PGTABLE_HAS_HUGE_LEAVES=y
CONFIG_I2C_HIGHLANDER=y
CONFIG_ARCH_MHP_MEMMAP_ON_MEMORY_ENABLE=y
CONFIG_W1_MASTER_MATROX=y
CONFIG_PCIE_ANDES_QILAI=y
CONFIG_SERIO=y
CONFIG_HAVE_KVM_PFNCACHE=y
CONFIG_SENSORS_LM93=y
CONFIG_I2C_PARPORT=y
CONFIG_CONFIGFS_FS=y
CONFIG_NVMEM_SC27XX_EFUSE=y
CONFIG_GENERIC_ENTRY=y
CONFIG_LEDS_KTD202X=y
CONFIG_MTK_ADSP_MBOX=y
CONFIG_GPIO_MOCKUP=y
CONFIG_FUTEX_ROBUST_UNLOCK=y
CONFIG_LZ4_COMPRESS=y
CONFIG_HAVE_PAGE_SIZE_4KB=y
CONFIG_NV_TCO=y
CONFIG_IPMI_WATCHDOG=y
CONFIG_DECOMPRESS_LZ4=y
CONFIG_CC_HAS_IBT=y
CONFIG_GPIO_WM8994=y
CONFIG_GPIO_AMD_FCH=y
CONFIG_GEHC_PMC_ADC=y
CONFIG_SPARSEMEM_VMEMMAP=y
CONFIG_COMMON_CLK_MT8173=y
CONFIG_MTD_CFI_I1=y
CONFIG_MFD_SYSCON=y
CONFIG_ARCH_WANT_HUGETLB_VMEMMAP_PREINIT=y
CONFIG_SENSORS_GL518SM=y
CONFIG_REGULATOR_MAX8998=y
CONFIG_CRYPTO_CAST5=y
CONFIG_HAVE_ARCH_JUMP_LABEL_RELATIVE=y
CONFIG_NLS=y
CONFIG_REGULATOR_MAX77857=y
CONFIG_BACKLIGHT_ARCXCNN=y
CONFIG_MHI_BUS_EP=y
CONFIG_HOTPLUG_PCI=y
CONFIG_STM32_DMA3=y
CONFIG_COMMON_CLK_MT8192=y
CONFIG_SERIAL_SC16IS7XX=y
CONFIG_I2C_ASPEED=y
CONFIG_EPOLL=y
CONFIG_CEC_SECO=y
CONFIG_MHP_MEMMAP_ON_MEMORY=y
CONFIG_SYSTEM_DATA_VERIFICATION=y
CONFIG_MTD_OTP=y
CONFIG_SENSORS_PT5161L=y
CONFIG_PINCTRL_TEGRA=y
CONFIG_X86_CPA_STATISTICS=y
CONFIG_APPLE_DART=y
CONFIG_LEDS_OSRAM_AMS_AS3668=y
CONFIG_CRYPTO=y
CONFIG_RESET_NUVOTON_MA35D1=y
CONFIG_REGULATOR_88PM800=y
CONFIG_MMP_PDMA=y
CONFIG_USE_X86_SEG_SUPPORT=y
CONFIG_DMA_ENGINE=y
CONFIG_BMA400_I2C=y
CONFIG_REGULATOR_AW37503=y
CONFIG_MAX30100=y
CONFIG_CLK_PX30=y
CONFIG_TMPFS_QUOTA=y
CONFIG_DA8XX_DDRCTL=y
CONFIG_SYNC_FILE=y
CONFIG_SYSC_RZ=y
CONFIG_LEDS_NIC78BX=y
CONFIG_SERIAL_8250_FSL=y
CONFIG_CRYPTO_STREEBOG=y
CONFIG_HAVE_USER_RETURN_NOTIFIER=y
CONFIG_PCI_SW_SWITCHTEC=y
CONFIG_GPIO_VISCONTI=y
CONFIG_HAVE_CMPXCHG_DOUBLE=y
CONFIG_DEBUG_SHIRQ=y
CONFIG_SERIO_LIBPS2=y
CONFIG_SENSORS_TDA38640_REGULATOR=y
CONFIG_HOTPLUG_CORE_SYNC_DEAD=y
CONFIG_EXPERT=y
CONFIG_LOCKDEP_SUPPORT=y
CONFIG_SENSORS_LINEAGE=y
CONFIG_COMMON_CLK_MT6779=y
CONFIG_ADC_BATTERY_HELPER=y
CONFIG_COMMON_RESET_HI6220=y
CONFIG_DEBUG_OBJECTS=y
CONFIG_I2C_DAVINCI=y
CONFIG_MC3230=y
CONFIG_SPARSE_IRQ=y
CONFIG_ARCH_DMA_ADDR_T_64BIT=y
CONFIG_SL28CPLD_INTC=y
CONFIG_MHI_BUS=y
CONFIG_COMMON_CLK_MT8196_PEXTPSYS=y
CONFIG_HOTPLUG_PARALLEL=y
CONFIG_PINCTRL_AT91=y
CONFIG_SERIAL_SUNPLUS=y
CONFIG_QCOM_SMD_RPM=y
CONFIG_REGULATOR_MAX77503=y
CONFIG_NLS_CODEPAGE_857=y
CONFIG_CC_HAS_INT128=y
CONFIG_ARCH_HAS_PARANOID_L1D_FLUSH=y
CONFIG_DECOMPRESS_GZIP=y
CONFIG_COMMON_CLK_MT6735=y
CONFIG_NVMEM_AN8855_EFUSE=y
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE_PUD=y
CONFIG_IBM_ASM=y
CONFIG_ADXL372_I2C=y
CONFIG_PWM_RASPBERRYPI_POE=y
CONFIG_MFD_ENE_KB3930=y
CONFIG_X86_HV_CALLBACK_VECTOR=y
CONFIG_NLS_MAC_ROMAN=y
CONFIG_GAMEPORT_EMU10K1=y
CONFIG_ARCH_HAS_PTDUMP=y
CONFIG_PINCTRL_MERRIFIELD=y
CONFIG_SERIAL_TEGRA_TCU_CONSOLE=y
CONFIG_DA9062_WATCHDOG=y
CONFIG_CRYPTO_HASH2=y
CONFIG_X86_DISABLED_FEATURE_USER_SHSTK=y
CONFIG_READABLE_ASM=y
CONFIG_I2C_HELPER_AUTO=y
CONFIG_RESET_RASPBERRYPI=y
CONFIG_NLS_MAC_CENTEURO=y
CONFIG_I2C_IMX_LPI2C=y
CONFIG_KEYBOARD_CHARLIEPLEX=y
CONFIG_MFD_SY7636A=y
CONFIG_HAVE_ARCH_SECCOMP_FILTER=y
CONFIG_COMMON_CLK_IPROC=y
CONFIG_PWM_VT8500=y
CONFIG_CRYPTO_HMAC=y
CONFIG_GPIO_MAX732X=y
CONFIG_NLS_ISO8859_5=y
CONFIG_COMMON_CLK_APPLE_NCO=y
CONFIG_HOTPLUG_PCI_SHPC=y
CONFIG_ARCH_HAS_DMA_OPS=y
CONFIG_REED_SOLOMON_ENC16=y
CONFIG_ABP2030PA=y
CONFIG_ARCH_MIGHT_HAVE_PC_PARPORT=y
CONFIG_LEDS_LP3952=y
CONFIG_I2C_GXP=y
CONFIG_PRIME_NUMBERS=y
CONFIG_CM3232=y
CONFIG_IIO_SCMI=y
CONFIG_COMMON_CLK_MT8192_IPESYS=y
CONFIG_PCI_TEGRA=y
CONFIG_X86_REQUIRED_FEATURE_CX8=y
CONFIG_CPU_FREQ_GOV_ONDEMAND=y
CONFIG_MSEAL_SYSTEM_MAPPINGS=y
CONFIG_BMI323=y
CONFIG_COMMON_CLK_MT6797_VDECSYS=y
CONFIG_IRQ_DOMAIN_HIERARCHY=y
CONFIG_CRYPTO_SIG2=y
CONFIG_CHARGER_BQ257XX=y
CONFIG_SERIAL_MSM=y
CONFIG_INPUT=y
CONFIG_ATCWDT200_WATCHDOG=y
CONFIG_DAMON_DEBUG_SANITY=y
CONFIG_AD525X_DPOT=y
CONFIG_DEBUG_SPINLOCK=y
CONFIG_LOCK_MM_AND_FIND_VMA=y
CONFIG_SYSC_R8A779F0=y
CONFIG_REGULATOR_PBIAS=y
CONFIG_IR_WINBOND_CIR=y
CONFIG_BMC150_MAGN=y
CONFIG_PMIC_DA903X=y
CONFIG_ARCH_MAY_HAVE_PC_FDC=y
CONFIG_XILINX_WATCHDOG=y
CONFIG_FPGA_DFL_AFU=y
CONFIG_KEYBOARD_IMX_BBM_SCMI=y
CONFIG_MTD_CFI_I8=y
CONFIG_ARM_MEDIATEK_CPUFREQ=y
CONFIG_I2C_CADENCE=y
CONFIG_X86_DISABLED_FEATURE_UNRET=y
CONFIG_FTTMR010_TIMER=y
CONFIG_MFD_STM32_TIMERS=y
CONFIG_SENSORS_MP2925=y
CONFIG_COMMON_CLK_MT6779_CAMSYS=y
CONFIG_GPIO_ZYNQMP_MODEPIN=y
CONFIG_MFD_STW481X=y
CONFIG_SENSORS_SFCTEMP=y
CONFIG_CLK_BCM_SR=y
CONFIG_REGULATOR_PV88090=y
CONFIG_HOTPLUG_CPU=y
CONFIG_SENSORS_CRPS=y
CONFIG_ARCH_USE_MEMTEST=y
CONFIG_FPGA_MGR_SOCFPGA=y
CONFIG_MTK_SVS=y
CONFIG_RPMB=y
CONFIG_SENSORS_PLI1209BC_REGULATOR=y
CONFIG_EXTCON_MAX14577=y
CONFIG_PHY_STARFIVE_JH7110_DPHY_TX=y
CONFIG_PHY_HI3670_USB=y
CONFIG_LPC18XX_WATCHDOG=y
CONFIG_GNSS_MTK_SERIAL=y
CONFIG_SENSORS_LTC2947=y
CONFIG_SCREEN_INFO=y
CONFIG_HZ_1000=y
CONFIG_PALMAS_GPADC=y
CONFIG_RST_RCAR=y
CONFIG_X86_DIRECT_GBPAGES=y
CONFIG_GXP_TIMER=y
CONFIG_COMMON_CLK_MT6735_VDECSYS=y
CONFIG_PAHOLE_HAS_LANG_EXCLUDE=y
CONFIG_I2C_SIS5595=y
CONFIG_DEBUG_NMI_SELFTEST=y
CONFIG_HAVE_PREEMPT_DYNAMIC_CALL=y
CONFIG_COMMON_CLK_MT8196=y
CONFIG_ARM_SCMI_POWER_CONTROL=y
CONFIG_COMMON_CLK_VISCONTI=y
CONFIG_CRYPTO_TWOFISH_X86_64_3WAY=y
CONFIG_SERIAL_SCCNXP_CONSOLE=y
CONFIG_HP03=y
CONFIG_W1_SLAVE_DS2406=y
CONFIG_ARCH_SUPPORTS_KEXEC_FILE=y
CONFIG_X86_NATIVE_CPU=y
CONFIG_MEMORY=y
CONFIG_IXP4XX_NPE=y
CONFIG_SERIAL_MCTRL_GPIO=y
CONFIG_ENCLOSURE_SERVICES=y
CONFIG_KEYBOARD_MAX7359=y
CONFIG_DMAPOOL_TEST=y
CONFIG_SERIAL_IMX_CONSOLE=y
CONFIG_SENSORS_BH1770=y
CONFIG_HAVE_KCSAN_COMPILER=y
CONFIG_COMMON_CLK_MT8167=y
CONFIG_IT87_WDT=y
CONFIG_COMMON_CLK_CS2000_CP=y
CONFIG_SERIAL_ALTERA_UART=y
CONFIG_PAC1934=y
CONFIG_COMMON_CLK_BM1880=y
CONFIG_SENSORS_LTC2947_I2C=y
CONFIG_RESET_TN48M_CPLD=y
CONFIG_ADXL355=y
CONFIG_HAVE_ARCH_KASAN_VMALLOC=y
CONFIG_ATOMIC64_SELFTEST=y
CONFIG_EXYNOS_ACPM_CLK=y
CONFIG_NTB=y
CONFIG_BINARY_PRINTF=y
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_DIRECT_CALLS=y
CONFIG_PHY_SUN6I_MIPI_DPHY=y
CONFIG_HDC3020=y
CONFIG_BRCMSTB_MEMC=y
CONFIG_GPIO_ALTERA=y
CONFIG_X86_CET=y
CONFIG_INV_ICM42600_I2C=y
CONFIG_LEDS_TRIGGER_BACKLIGHT=y
CONFIG_VL53L1X_I2C=y
CONFIG_HAVE_ARCH_RANDOMIZE_KSTACK_OFFSET=y
CONFIG_IR_MESON_TX=y
CONFIG_TEST_UDELAY=y
CONFIG_LEDS_CLASS_MULTICOLOR=y
CONFIG_SPMI=y
CONFIG_ROHM_BM1390=y
CONFIG_US5182D=y
CONFIG_PWM_RENESAS_RZG2L_GPT=y
CONFIG_BATTERY_BQ27XXX_I2C=y
CONFIG_RPMSG=y
CONFIG_VGA_ARB=y
CONFIG_COMMON_CLK_MT8192_MFGCFG=y
CONFIG_CC_NO_ARRAY_BOUNDS=y
CONFIG_KEYBOARD_ST_KEYSCAN=y
CONFIG_X86_DISABLED_FEATURE_ENQCMD=y
CONFIG_RPMSG_TTY=y
CONFIG_I2C_JZ4780=y
CONFIG_SC1200_WDT=y
CONFIG_RESET_MESON_COMMON=y
CONFIG_LEDS_NS2=y
CONFIG_GPIO_LTC4283=y
CONFIG_INPUT_HISI_POWERKEY=y
CONFIG_KEXEC_HANDOVER_DEBUGFS=y
CONFIG_FILE_LOCKING=y
CONFIG_PWM_HIBVT=y
CONFIG_SYSC_R8A774B1=y
CONFIG_TEST_FREE_PAGES=y
CONFIG_MFD_TPS65090=y
CONFIG_COMMON_CLK_RP1=y
CONFIG_PWM_RENESAS_TPU=y
CONFIG_SPARSEMEM_VMEMMAP_PREINIT=y
CONFIG_AD7091R5=y
CONFIG_SERIAL_8250_DMA=y
CONFIG_MTD_NAND_ECC_MEDIATEK=y
CONFIG_I2C_GPIO_FAULT_INJECTOR=y
CONFIG_CRYPTO_HASH=y
CONFIG_I2C_AMD8111=y
CONFIG_FUNCTION_ALIGNMENT_16B=y
CONFIG_SENSORS_TPS23861=y
CONFIG_INV_ICM42600=y
CONFIG_NVMEM=y
CONFIG_PINCTRL_TEGRA20=y
CONFIG_FW_CS_DSP=y
CONFIG_GENERIC_PHY=y
CONFIG_ARCH_USE_QUEUED_SPINLOCKS=y
CONFIG_PWM_BCM_IPROC=y
CONFIG_I2C_LS2X_V2=y
CONFIG_SP5100_TCO=y
CONFIG_MFD_INTEL_LPSS=y
CONFIG_I2C_BCM_IPROC=y
CONFIG_HAVE_ARCH_WITHIN_STACK_FRAMES=y
CONFIG_GPIO_PCF857X=y
CONFIG_INPUT_CMA3000=y
CONFIG_I2C_QCOM_CCI=y
CONFIG_PINCTRL_MADERA=y
CONFIG_HW_RANDOM_OMAP3_ROM=y
CONFIG_TMP117=y
CONFIG_I2C_DEBUG_CORE=y
CONFIG_XZ_DEC_ARM=y
CONFIG_ARM_SCMI_NEED_DEBUGFS=y
CONFIG_MXC_CLK=y
CONFIG_PREEMPT_COUNT=y
CONFIG_GXP_WATCHDOG=y
CONFIG_GENERIC_IRQ_CHIP=y
CONFIG_SENSORS_PC87360=y
CONFIG_SUN55I_A523_R_CCU=y
CONFIG_SERIAL_8250_RSA=y
CONFIG_PINCTRL_EMMITSBURG=y
CONFIG_BATTERY_PM8916_BMS_VM=y
CONFIG_CLK_INTEL_SOCFPGA64=y
CONFIG_CRYPTO_LIB_NH_ARCH=y
CONFIG_KVM_ELIDE_TLB_FLUSH_IF_YOUNG=y
CONFIG_HW_RANDOM_HISTB=y
CONFIG_TCG_TIS_I2C_CR50=y
CONFIG_GENERIC_ALLOCATOR=y
CONFIG_CHARGER_BQ24735=y
CONFIG_AGP_VIA=y
CONFIG_SENSORS_MP5926=y
CONFIG_COMMON_CLK_MT8173_MMSYS=y
CONFIG_HAVE_ARCH_USERFAULTFD_MINOR=y
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_JMP=y
CONFIG_VZ89X=y
CONFIG_CMA=y
CONFIG_RESET_BERLIN=y
CONFIG_REGULATOR_STM32_PWR=y
CONFIG_RESET_MCHP_SPARX5=y
CONFIG_OMAP3_THERMAL=y
CONFIG_SENSORS_G762=y
CONFIG_HAVE_ARCH_KSTACK_ERASE=y
CONFIG_REGULATOR_ATC260X=y
CONFIG_LEDS_TRIGGERS=y
CONFIG_COMMON_CLK_MT8196_VENCSYS=y
CONFIG_AD799X=y
CONFIG_COMMON_CLK_MT8365_APU=y
CONFIG_HAVE_DYNAMIC_FTRACE_NO_PATCHABLE=y
CONFIG_SERIAL_8250=y
CONFIG_MFD_TQMX86=y
CONFIG_PINCTRL_PFC_SH7723=y
CONFIG_SENSORS_NCT6775_I2C=y
CONFIG_HARDLOCKUP_CHECK_TIMESTAMP=y
CONFIG_IR_IMG_RC5=y
CONFIG_SENSORS_MAX15301=y
CONFIG_IR_MCE_KBD_DECODER=y
CONFIG_SENSORS_LTC4261=y
CONFIG_PROC_MEM_NO_FORCE=y
CONFIG_BATTERY_DS2760=y
CONFIG_EVENTFD=y
CONFIG_DEBUG_KMEMLEAK=y
CONFIG_I2C_PNX=y
CONFIG_HAVE_GIGANTIC_FOLIOS=y
CONFIG_SERIAL_CORE=y
CONFIG_CONTEXT_TRACKING_IDLE=y
CONFIG_SCD30_CORE=y
CONFIG_ARCH_HAS_PTE_SPECIAL=y
CONFIG_PINCTRL_SX150X=y
CONFIG_IIO_TRIGGER=y
CONFIG_ARCH_HAS_ADD_PAGES=y
CONFIG_HAVE_FUNCTION_ERROR_INJECTION=y
CONFIG_MARVELL_CN10K_DPI=y
CONFIG_IPMI_DEVICE_INTERFACE=y
CONFIG_MFD_KEMPLD=y
CONFIG_INTEL_TCC=y
CONFIG_MFD_AT91_USART=y
CONFIG_BLK_DEV_INITRD=y
CONFIG_RESET_HISI=y
CONFIG_CRYPTO_SIG=y
CONFIG_REGULATOR_MAX8660=y
CONFIG_PCIE_VISCONTI_HOST=y
CONFIG_KEYBOARD_GPIO_POLLED=y
CONFIG_HARDLOCKUP_DETECTOR_PERF=y
CONFIG_NVMEM_ROCKCHIP_EFUSE=y
CONFIG_TI_ADS7138=y
CONFIG_CHARGER_SC2731=y
CONFIG_PINCTRL_TEGRA114=y
CONFIG_BMA400=y
CONFIG_SENSORS_AD7414=y
CONFIG_REGULATOR_MAX8907=y
