CONFIG_BINFMT_ELF=n
CONFIG_DYNAMIC_EVENTS=n
CONFIG_MOUSE_PS2_BYD=n
CONFIG_SYN_COOKIES=n
CONFIG_WLAN_VENDOR_RALINK=n
CONFIG_CPU_SUP_TRANSMETA_32=n
CONFIG_TASK_DELAY_ACCT=n
CONFIG_ARCH_SUPPORTS_SCHED_CLUSTER=n
CONFIG_CC_NO_ARRAY_BOUNDS=n
CONFIG_TIGON3=n
CONFIG_YENTA_TOSHIBA=n
CONFIG_ARCH_HAS_STRICT_KERNEL_RWX=n
CONFIG_SND_HRTIMER=n
CONFIG_NFS_V4=n
CONFIG_TRACE_IRQFLAGS_NMI_SUPPORT=n
CONFIG_NET_IP_TUNNEL=n
CONFIG_HAVE_ATOMIC_IOMAP=n
CONFIG_ACPI_REV_OVERRIDE_POSSIBLE=n
CONFIG_ARCH_HAS_FAST_MULTIPLIER=n
CONFIG_NETPOLL=n
CONFIG_ARCH_HAS_CPU_FINALIZE_INIT=n
CONFIG_IA32_FEAT_CTL=n
CONFIG_DECOMPRESS_LZMA=n
CONFIG_UPROBE_EVENTS=n
CONFIG_SND_DRIVERS=n
CONFIG_NET_CORE=n
CONFIG_IP_ROUTE_MULTIPATH=n
CONFIG_SCHED_MC_PRIO=n
CONFIG_PROC_KCORE=n
CONFIG_NVMEM_SYSFS=n
CONFIG_SCSI_LOWLEVEL=n
CONFIG_NET_VENDOR_LITEX=n
CONFIG_X86_REQUIRED_FEATURE_CX8=n
CONFIG_SCHED_INFO=n
CONFIG_ZSTD_COMMON=n
CONFIG_X86_DISABLED_FEATURE_UNRET=n
CONFIG_BINFMT_MISC=n
CONFIG_SND_SEQUENCER=n
CONFIG_NET_RX_BUSY_POLL=n
CONFIG_CRYPTO_AKCIPHER2=n
CONFIG_DCACHE_WORD_ACCESS=n
CONFIG_ZSTD_DECOMPRESS=n
CONFIG_INTEGRITY=n
CONFIG_BCMA_POSSIBLE=n
CONFIG_NET_SCH_FIFO=n
CONFIG_ARCH_MHP_MEMMAP_ON_MEMORY_ENABLE=n
CONFIG_COMPACTION=n
CONFIG_BLK_DEV_BSG=n
CONFIG_ARCH_HIBERNATION_HEADER=n
CONFIG_SERIAL_8250_PNP=n
CONFIG_CC_HAS_KASAN_GENERIC=n
CONFIG_INPUT_EVDEV=n
CONFIG_GENERIC_CPU_VULNERABILITIES=n
CONFIG_PCPU_DEV_REFCNT=n
CONFIG_SECRETMEM=n
CONFIG_X86_DISABLED_FEATURE_PKU=n
CONFIG_HAVE_C_RECORDMCOUNT=n
CONFIG_WLAN_VENDOR_MARVELL=n
CONFIG_TIGON3_HWMON=n
CONFIG_HW_RANDOM_VIA=n
CONFIG_NE2K_PCI=n
CONFIG_HAVE_OPTPROBES=n
CONFIG_HAVE_STACKPROTECTOR=n
CONFIG_TMPFS_POSIX_ACL=n
CONFIG_EPROBE_EVENTS=n
CONFIG_HAVE_EFFICIENT_UNALIGNED_ACCESS=n
CONFIG_SCSI_SPI_ATTRS=n
CONFIG_SUNRPC_GSS=n
CONFIG_PCI_MSI=n
CONFIG_NFS_DISABLE_UDP_SUPPORT=n
CONFIG_KPROBES=n
CONFIG_SND_HDA_CORE=n
CONFIG_M686=n
CONFIG_EXECMEM=n
CONFIG_CC_HAS_IBT=n
CONFIG_BLK_DEV=n
CONFIG_ARCH_HAS_ACPI_TABLE_UPGRADE=n
CONFIG_PM_TRACE_RTC=n
CONFIG_CRYPTO_KRB5=n
CONFIG_VGA_CONSOLE=n
CONFIG_PNP=n
CONFIG_PCI=n
CONFIG_PCSPKR_PLATFORM=n
CONFIG_X86_BUS_LOCK_DETECT=n
CONFIG_HAVE_FUNCTION_ARG_ACCESS_API=n
CONFIG_ACPI_SLEEP=n
CONFIG_GENERIC_MSI_IRQ=n
CONFIG_USB_MON=n
CONFIG_CC_NO_STRINGOP_OVERFLOW=n
CONFIG_BLK_DEBUG_FS=n
CONFIG_JBD2=n
CONFIG_CC_HAS_MARCH_NATIVE=n
CONFIG_MITIGATION_GDS=n
CONFIG_GROUP_SCHED_WEIGHT=n
CONFIG_HAVE_DYNAMIC_FTRACE=n
CONFIG_ARCH_SUPPORTS_KEXEC_SIG_FORCE=n
CONFIG_ISA_DMA_API=n
CONFIG_E1000=n
CONFIG_CFG80211=n
CONFIG_SCHED_MC=n
CONFIG_ARCH_SUPPORTS_KEXEC_PURGATORY=n
CONFIG_X86_IO_APIC=n
CONFIG_VIDEO=n
CONFIG_USB_DEFAULT_PERSIST=n
CONFIG_HZ_1000=n
CONFIG_BPF=n
CONFIG_9P_FS=n
CONFIG_ARCH_SUPPORTS_ATOMIC_RMW=n
CONFIG_FUTEX_PI=n
CONFIG_HAVE_KERNEL_LZMA=n
CONFIG_ATA_FORCE=n
CONFIG_BLK_CGROUP_IOPRIO=n
CONFIG_HAVE_MOVE_PMD=n
CONFIG_PTP_1588_CLOCK_OPTIONAL=n
CONFIG_IO_WQ=n
CONFIG_ARCH_SUPPORTS_KEXEC_BZIMAGE_VERIFY_SIG=n
CONFIG_NFS_USE_KERNEL_DNS=n
CONFIG_WMI_BMOF=n
CONFIG_AGP=n
CONFIG_AMD_NODE=n
CONFIG_X86_ACPI_CPUFREQ_CPB=n
CONFIG_THERMAL=n
CONFIG_INSTRUCTION_DECODER=n
CONFIG_HID_SUPPORT=n
CONFIG_INTERVAL_TREE=n
CONFIG_TICK_ONESHOT=n
CONFIG_CGROUP_MISC=n
CONFIG_GENERIC_CMOS_UPDATE=n
CONFIG_X86_BOOTPARAM_MEMORY_CORRUPTION_CHECK=n
CONFIG_BLOCK_HOLDER_DEPRECATED=n
CONFIG_ATA=n
CONFIG_SURFACE_PLATFORMS=n
CONFIG_LOCKD_V4=n
CONFIG_NET_VENDOR_BROCADE=n
CONFIG_HAVE_GENERIC_TIF_BITS=n
CONFIG_KCMP=n
CONFIG_NET_VENDOR_MARVELL=n
CONFIG_EARLY_PRINTK=n
CONFIG_HIBERNATION=n
CONFIG_ARCH_VMLINUX_NEEDS_RELOCS=n
CONFIG_IP_NF_IPTABLES=n
CONFIG_NET_VENDOR_CHELSIO=n
CONFIG_ARCH_MEMORY_ORDER_TSO=n
CONFIG_NF_CT_NETLINK=n
CONFIG_IP_MROUTE=n
CONFIG_ARCH_HAS_MEM_ENCRYPT=n
CONFIG_RTC_INTF_DEV=n
CONFIG_X86_HV_CALLBACK_VECTOR=n
CONFIG_FRAME_POINTER=n
CONFIG_CRYPTO_LIB_UTILS=n
CONFIG_SND_HWDEP=n
CONFIG_X86_VERBOSE_BOOTUP=n
CONFIG_PGTABLE_HAS_HUGE_LEAVES=n
CONFIG_USB_UHCI_HCD=n
CONFIG_NET_EGRESS=n
CONFIG_X86_REQUIRED_FEATURE_ALWAYS=n
CONFIG_ACPI_PROCESSOR=n
CONFIG_BLK_RQ_ALLOC_TIME=n
CONFIG_MODULE_FORCE_UNLOAD=n
CONFIG_ARCH_HAS_UBSAN=n
CONFIG_HID_SAMSUNG=n
CONFIG_MITIGATION_TAA=n
CONFIG_EFI_CAPSULE_QUIRK_QUARK_CSH=n
CONFIG_SND_JACK=n
CONFIG_SKB_EXTENSIONS=n
CONFIG_POSIX_TIMERS=n
CONFIG_UNWINDER_FRAME_POINTER=n
CONFIG_NET_SCHED=n
CONFIG_X86_DISABLED_FEATURE_LAM=n
CONFIG_ATA_ACPI=n
CONFIG_POWER_SUPPLY=n
CONFIG_PREEMPT_RCU=n
CONFIG_ARCH_SUPPORTS_HUGETLBFS=n
CONFIG_COMPAT_32=n
CONFIG_PPS=n
CONFIG_HAVE_IRQ_TIME_ACCOUNTING=n
CONFIG_PCMCIA=n
CONFIG_CPU_SUP_INTEL=n
CONFIG_PID_NS=n
CONFIG_ARCH_SELECT_MEMORY_MODEL=n
CONFIG_VIRTIO_BLK=n
CONFIG_HAVE_MIXED_BREAKPOINTS_REGS=n
CONFIG_NET_VENDOR_WANGXUN=n
CONFIG_CLKEVT_I8253=n
CONFIG_IP6_NF_MATCH_IPV6HEADER=n
CONFIG_MOUSE_PS2_TRACKPOINT=n
CONFIG_HAVE_UID16=n
CONFIG_NET_VENDOR_TEHUTI=n
CONFIG_NET_VENDOR_SEEQ=n
CONFIG_PROFILING=n
CONFIG_ATA_VERBOSE_ERROR=n
CONFIG_SOCK_RX_QUEUE_MAPPING=n
CONFIG_ZLIB_INFLATE=n
CONFIG_JOLIET=n
CONFIG_ARCH_HAS_DEBUG_VM_PGTABLE=n
CONFIG_SYSVIPC_SYSCTL=n
CONFIG_XZ_DEC_POWERPC=n
CONFIG_CC_HAS_ZERO_CALL_USED_REGS=n
CONFIG_SCSI_VIRTIO=n
CONFIG_NET_VENDOR_MICREL=n
CONFIG_PROC_PAGE_MONITOR=n
CONFIG_I2C_ALGOBIT=n
CONFIG_CRYPTO=n
CONFIG_ARCH_WANT_IRQS_OFF_ACTIVATE_MM=n
CONFIG_FUNCTION_ALIGNMENT_4B=n
CONFIG_MITIGATION_RETBLEED=n
CONFIG_IP_PNP_BOOTP=n
CONFIG_ARCH_HAS_HW_PTE_YOUNG=n
CONFIG_UNION_FIND=n
CONFIG_CRYPTO_HASH=n
CONFIG_NET_VENDOR_AGERE=n
CONFIG_PERF_EVENTS_INTEL_RAPL=n
CONFIG_PRINTK_TIME=n
CONFIG_NETFILTER_XT_TARGET_CONNSECMARK=n
CONFIG_HOTPLUG_CORE_SYNC_FULL=n
CONFIG_NLS_ISO8859_1=n
CONFIG_EFI_CUSTOM_SSDT_OVERLAYS=n
CONFIG_OLD_SIGSUSPEND3=n
CONFIG_HAVE_RETHOOK=n
CONFIG_STACKDEPOT=n
CONFIG_I2C_SMBUS=n
CONFIG_ARCH_CORRECT_STACKTRACE_ON_KRETPROBE=n
CONFIG_ARCH_SUPPORTS_LTO_CLANG_THIN=n
CONFIG_ARCH_USE_MEMTEST=n
CONFIG_ARCH_USE_BUILTIN_BSWAP=n
CONFIG_DIMLIB=n
CONFIG_SCSI_CONSTANTS=n
CONFIG_NETFILTER_XT_MARK=n
CONFIG_XFRM=n
CONFIG_QFMT_V2=n
CONFIG_SCSI_MOD=n
CONFIG_TCP_CONG_ADVANCED=n
CONFIG_MOUSE_PS2=n
CONFIG_SLUB=n
CONFIG_MITIGATION_MMIO_STALE_DATA=n
CONFIG_USB_ANNOUNCE_NEW_DEVICES=n
CONFIG_PROC_MEM_FORCE_PTRACE=n
CONFIG_USB_STORAGE=n
CONFIG_SWAP=n
CONFIG_NET_VENDOR_GOOGLE=n
CONFIG_AUDIT=n
CONFIG_RANDOMIZE_KSTACK_OFFSET=n
CONFIG_SERIAL_CORE=n
CONFIG_SGETMASK_SYSCALL=n
CONFIG_HAS_IOPORT_MAP=n
CONFIG_ACPI_BGRT=n
CONFIG_PCCARD_NONSTATIC=n
CONFIG_IOMMU_DMA=n
CONFIG_USB_OHCI_HCD=n
CONFIG_PROC_SYSCTL=n
CONFIG_VIRTUALIZATION=n
CONFIG_XZ_DEC_SPARC=n
CONFIG_TCP_MD5SIG=n
CONFIG_GENERIC_PCI_IOMAP=n
CONFIG_HAVE_ARCH_MMAP_RND_BITS=n
CONFIG_MOUSE_PS2_SMBUS=n
CONFIG_GENERIC_IRQ_SHOW=n
CONFIG_NLATTR=n
CONFIG_DEBUG_ENTRY=n
CONFIG_EFI_ESRT=n
CONFIG_XFRM_AH=n
CONFIG_CHR_DEV_SG=n
CONFIG_X86_DISABLED_FEATURE_PTI=n
CONFIG_GENERIC_CPU_DEVICES=n
CONFIG_X86_LOCAL_APIC=n
CONFIG_NF_REJECT_IPV4=n
CONFIG_CPU_SUP_CENTAUR=n
CONFIG_ARCH_SUPPORTS_RT=n
CONFIG_STANDALONE=n
CONFIG_ACPI_HOTPLUG_CPU=n
CONFIG_HRTIMER_REARM_DEFERRED=n
CONFIG_NET_VENDOR_QLOGIC=n
CONFIG_WATCHDOG=n
CONFIG_ACPI_EC=n
CONFIG_NET_VENDOR_ADAPTEC=n
CONFIG_ARCH_SUPPORTS_DEBUG_PAGEALLOC=n
CONFIG_MICROCODE=n
CONFIG_FAILOVER=n
CONFIG_HAVE_DEBUG_KMEMLEAK=n
CONFIG_WERROR=n
CONFIG_HAVE_ARCH_KGDB=n
CONFIG_KEXEC=n
CONFIG_XFRM_ESP=n
CONFIG_AUDITSYSCALL=n
CONFIG_HAVE_ARCH_JUMP_LABEL=n
CONFIG_X86_ESPFIX32=n
CONFIG_ARCH_SUPPORTS_KMAP_LOCAL_FORCE_MAP=n
CONFIG_MEMBARRIER=n
CONFIG_ETHTOOL_NETLINK=n
CONFIG_NET_VENDOR_NI=n
CONFIG_NF_LOG_SYSLOG=n
CONFIG_DRM_BRIDGE=n
CONFIG_MICROCODE_INITRD32=n
CONFIG_ARCH_HAS_KERNEL_FPU_SUPPORT=n
CONFIG_FSNOTIFY=n
CONFIG_MITIGATION_SPECTRE_V1=n
CONFIG_SLAB_MERGE_DEFAULT=n
CONFIG_BLK_DEV_INITRD=n
CONFIG_RFS_ACCEL=n
CONFIG_CGROUP_NET_CLASSID=n
