CONFIG_GENERIC_CLOCKEVENTS_BROADCAST=n
CONFIG_DEVTMPFS=n
CONFIG_CAN_CALC_BITTIMING=n
CONFIG_EXTCON=n
CONFIG_PWRSEQ_SIMPLE=n
CONFIG_ARCH_HIBERNATION_POSSIBLE=n
CONFIG_MMC_BLOCK=n
CONFIG_RPMSG_NS=n
CONFIG_SOFTIRQ_ON_OWN_STACK=n
CONFIG_FS_MBCACHE=n
CONFIG_CLK_SIFIVE=n
CONFIG_CACHESTAT_SYSCALL=n
CONFIG_MEMBARRIER=n
CONFIG_ACPI_BUTTON=n
CONFIG_FB_DEVICE=n
CONFIG_HAVE_FUNCTION_GRAPH_FREGS=n
CONFIG_PCIE_ULTRARISC=n
CONFIG_BPF_EVENTS=n
CONFIG_TRACE_IRQFLAGS_SUPPORT=n
CONFIG_THERMAL_GOV_STEP_WISE=n
CONFIG_NLS=n
CONFIG_WLAN_VENDOR_RALINK=n
CONFIG_SPLIT_PTE_PTLOCKS=n
CONFIG_DRM_VIRTIO_GPU=n
CONFIG_ARCH_HAS_PTDUMP=n
CONFIG_HAVE_KERNEL_UNCOMPRESSED=n
CONFIG_ARCH_SUPPORTS_KEXEC=n
CONFIG_PREEMPT_BUILD=n
CONFIG_ERRATA_THEAD=n
CONFIG_USB_F_SUBSET=n
CONFIG_ARCH_SUPPORTS_LTO_CLANG=n
CONFIG_CGROUP_SCHED=n
CONFIG_NET_VENDOR_I825XX=n
CONFIG_DMA_DECLARE_COHERENT=n
CONFIG_PNP=n
CONFIG_SPACEMIT_K1_EMAC=n
CONFIG_NET_VENDOR_TEHUTI=n
CONFIG_GENERIC_SMP_IDLE_THREAD=n
CONFIG_HAVE_FUNCTION_ERROR_INJECTION=n
CONFIG_AIO=n
CONFIG_MMU=n
CONFIG_MISC_FILESYSTEMS=n
CONFIG_PINCTRL_TH1520=n
CONFIG_INET=n
CONFIG_TIME_NS_VDSO=n
CONFIG_RTC_INTF_PROC=n
CONFIG_CRYPTO_SHA256=n
CONFIG_ARCH_MICROCHIP_POLARFIRE=n
CONFIG_HIGH_RES_TIMERS=n
CONFIG_ETHTOOL_NETLINK=n
CONFIG_RESET_SPACEMIT_COMMON=n
CONFIG_BLK_DEV_WRITE_MOUNTED=n
CONFIG_RISCV_ISA_ZBA=n
CONFIG_SND_JACK=n
CONFIG_NVMEM=n
CONFIG_PAGE_SIZE_4KB=n
CONFIG_SIFIVE_CCACHE=n
CONFIG_RISCV_NONSTANDARD_CACHE_OPS=n
CONFIG_BLK_DEV_BSG_COMMON=n
CONFIG_NFS_DISABLE_UDP_SUPPORT=n
CONFIG_VIDEO=n
CONFIG_AS_HAS_INSN=n
CONFIG_HAVE_ARCH_SOFT_DIRTY=n
CONFIG_CPU_IDLE_GOV_MENU=n
CONFIG_AUXILIARY_BUS=n
CONFIG_MICREL_PHY=n
CONFIG_NET_VENDOR_CAVIUM=n
CONFIG_REGULATOR_SPACEMIT_P1=n
CONFIG_HAVE_CLK_PREPARE=n
CONFIG_RPMSG_VIRTIO=n
CONFIG_EFI_EARLYCON=n
CONFIG_GENERIC_HWEIGHT=n
CONFIG_FB_DMAMEM_HELPERS_DEFERRED=n
CONFIG_CFS_BANDWIDTH=n
CONFIG_CPU_IDLE_MULTIPLE_DRIVERS=n
CONFIG_MEDIA_SUBDRV_AUTOSELECT=n
CONFIG_GENERIC_PENDING_IRQ=n
CONFIG_LZO_DECOMPRESS=n
CONFIG_OF_ADDRESS=n
CONFIG_HAVE_DMA_CONTIGUOUS=n
CONFIG_ACPI_PROCESSOR_IDLE=n
CONFIG_RISCV_ALTERNATIVE=n
CONFIG_MMC=n
CONFIG_MDIO_BUS_MUX=n
CONFIG_SUNXI_SRAM=n
CONFIG_SND_JACK_INPUT_DEV=n
CONFIG_USB_U_ETHER=n
CONFIG_POSIX_CPU_TIMERS_TASK_WORK=n
CONFIG_FS_IOMAP=n
CONFIG_HAS_IOMEM=n
CONFIG_XFRM_ESP=n
CONFIG_HAVE_DEBUG_KMEMLEAK=n
CONFIG_CAN_GW=n
CONFIG_INPUT_VIVALDIFMAP=n
CONFIG_RTC_CLASS=n
CONFIG_PCI_MSI=n
CONFIG_CPU_FREQ_THERMAL=n
CONFIG_PINCTRL_STARFIVE_JH7100=n
CONFIG_VIDEO_V4L2_I2C=n
CONFIG_DAX=n
CONFIG_PAGE_COUNTER=n
CONFIG_ARCH_ANLOGIC=n
CONFIG_CPU_RMAP=n
CONFIG_NET_VENDOR_SEEQ=n
CONFIG_NVMEM_LAYOUTS=n
CONFIG_PROC_MEM_FORCE_PTRACE=n
CONFIG_STANDALONE=n
CONFIG_ARCH_SELECT_MEMORY_MODEL=n
CONFIG_ARCH_WANT_DEFAULT_TOPDOWN_MMAP_LAYOUT=n
CONFIG_HW_RANDOM=n
CONFIG_ARCH_HAS_CC_CAN_LINK=n
CONFIG_ARCH_HAS_SYNC_DMA_FOR_DEVICE=n
CONFIG_ARCH_OPTIONAL_KERNEL_RWX=n
CONFIG_SND_DRIVERS=n
CONFIG_SPI_SIFIVE=n
CONFIG_LEGACY_TIOCSTI=n
CONFIG_DRM_PANEL=n
CONFIG_SWIOTLB=n
CONFIG_IP_VS_PROTO_TCP=n
CONFIG_SECURITY=n
CONFIG_MMU_GATHER_RCU_TABLE_FREE=n
CONFIG_RISCV_DMA_NONCOHERENT=n
CONFIG_USB_MUSB_SUNXI=n
CONFIG_IP6_NF_MATCH_IPV6HEADER=n
CONFIG_TREE_RCU=n
CONFIG_RISCV_ISA_SVNAPOT=n
CONFIG_CC_HAS_NO_PROFILE_FN_ATTR=n
CONFIG_DRM_GPUVM=n
CONFIG_ZSTD_COMMON=n
CONFIG_I3C_OR_I2C=n
CONFIG_USB_PHY=n
CONFIG_XZ_DEC_ARM64=n
CONFIG_EXT4_USE_FOR_EXT2=n
CONFIG_SERIAL_OF_PLATFORM=n
CONFIG_CGROUP_BPF=n
CONFIG_WLAN_VENDOR_ATH=n
CONFIG_CRC32=n
CONFIG_FB=n
CONFIG_USER_STACKTRACE_SUPPORT=n
CONFIG_REGULATOR_SUN20I=n
CONFIG_NET_HANDSHAKE=n
CONFIG_OF_IRQ=n
CONFIG_IO_WQ=n
CONFIG_RPMSG_CTRL=n
CONFIG_RISCV_IMSIC=n
CONFIG_PINCTRL_SPACEMIT_K1=n
CONFIG_ARCH_HAS_ELF_CORE_EFLAGS=n
CONFIG_CLK_SOPHGO_SG2042_PLL=n
CONFIG_SPARSE_IRQ=n
CONFIG_ARCH_WANT_LD_ORPHAN_WARN=n
CONFIG_USB_F_EEM=n
CONFIG_NETFILTER=n
CONFIG_TRACEPOINTS=n
CONFIG_ACPI_FAN=n
CONFIG_ARCH_CC_CAN_LINK=n
CONFIG_SND_PCM=n
CONFIG_NFS_USE_KERNEL_DNS=n
CONFIG_SPARSEMEM_MANUAL=n
CONFIG_ISO9660_FS=n
CONFIG_CPU_FREQ_GOV_PERFORMANCE=n
CONFIG_BCMA_POSSIBLE=n
CONFIG_CLK_STARFIVE_JH7110_AON=n
CONFIG_NET_9P_VIRTIO=n
CONFIG_HUGETLB_PAGE=n
CONFIG_NET_VENDOR_NETRONOME=n
CONFIG_CGROUP_NET_PRIO=n
CONFIG_PNFS_BLOCK=n
CONFIG_HAS_IOPORT=n
CONFIG_IO_URING_BPF=n
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE=n
CONFIG_LOCKDEP_SUPPORT=n
CONFIG_EFI_GENERIC_STUB=n
CONFIG_HAVE_REGS_AND_STACK_ACCESS_API=n
CONFIG_ARCH_DMA_ADDR_T_64BIT=n
CONFIG_REGMAP_SPI=n
CONFIG_IKCONFIG=n
CONFIG_USB_F_SERIAL=n
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO_BARE=n
CONFIG_PROC_PAGE_MONITOR=n
CONFIG_RISCV_ISA_ZBKB=n
CONFIG_AS_HAS_OPTION_ARCH=n
CONFIG_PWRSEQ_EMMC=n
CONFIG_HAVE_ARCH_MMAP_RND_COMPAT_BITS=n
CONFIG_MCHP_CLK_MPFS=n
CONFIG_GENERIC_STRNCPY_FROM_USER=n
CONFIG_MMC_SDHCI_OF_DWCMSHC=n
CONFIG_GENERIC_IRQ_MIGRATION=n
CONFIG_CRYPTO_AEAD2=n
CONFIG_BLK_DEV_PMEM=n
CONFIG_PHY_SUN6I_MIPI_DPHY=n
CONFIG_IOMMU_DEFAULT_DMA_STRICT=n
CONFIG_SERIAL_MCTRL_GPIO=n
CONFIG_VIRT_XFER_TO_GUEST_WORK=n
CONFIG_NET_CLS=n
CONFIG_POWER_RESET_GPIO_RESTART=n
CONFIG_CPU_MITIGATIONS=n
CONFIG_CONSOLE_TRANSLATIONS=n
CONFIG_LD_IS_BFD=n
CONFIG_SECURITY_SELINUX_DEVELOP=n
CONFIG_ATA=n
CONFIG_BQL=n
CONFIG_MMC_SDHCI=n
CONFIG_EFIVAR_FS=n
CONFIG_MMC_DW=n
CONFIG_WLAN_VENDOR_BROADCOM=n
CONFIG_NVMEM_SYSFS=n
CONFIG_MTD_MAP_BANK_WIDTH_4=n
CONFIG_EXT4_FS=n
CONFIG_TASKS_TRACE_RCU=n
CONFIG_AUTOFS_FS=n
CONFIG_PHY_SUN4I_USB=n
CONFIG_HAVE_FUNCTION_ARG_ACCESS_API=n
CONFIG_DECOMPRESS_LZ4=n
CONFIG_DRM_TTM_HELPER=n
CONFIG_SND_SPI=n
CONFIG_NET_VENDOR_SILAN=n
CONFIG_IOSCHED_BFQ=n
CONFIG_TASKS_RCU=n
CONFIG_GENERIC_EARLY_IOREMAP=n
CONFIG_CC_HAS_INT128=n
CONFIG_NET_VENDOR_SAMSUNG=n
CONFIG_ACPI_CPPC_CPUFREQ=n
CONFIG_MSDOS_PARTITION=n
CONFIG_HVC_DRIVER=n
CONFIG_RISCV_ISA_ZICBOZ=n
CONFIG_DNOTIFY=n
CONFIG_IP_PNP_DHCP=n
CONFIG_FW_LOADER=n
CONFIG_NOP_TRACER=n
CONFIG_SUN20I_PPU=n
CONFIG_CRYPTO_MANAGER2=n
CONFIG_WLAN_VENDOR_TI=n
CONFIG_TOOLCHAIN_HAS_ZBKB=n
CONFIG_SHMEM=n
CONFIG_SND_DESIGNWARE_I2S=n
CONFIG_ARCH_HAS_FORTIFY_SOURCE=n
CONFIG_KVFREE_RCU_BATCHED=n
CONFIG_SND_USB=n
CONFIG_STRICT_KERNEL_RWX=n
CONFIG_NET_VENDOR_SMSC=n
CONFIG_GENERIC_CLOCKEVENTS=n
CONFIG_EVENTFD=n
CONFIG_NET_VENDOR_STMICRO=n
CONFIG_RESET_STARFIVE_JH7110=n
CONFIG_SND_PROC_FS=n
CONFIG_DST_CACHE=n
CONFIG_CONTEXT_TRACKING_IDLE=n
CONFIG_NETFILTER_FAMILY_BRIDGE=n
CONFIG_TMPFS=n
CONFIG_NET_DEVMEM=n
CONFIG_ATA_SFF=n
CONFIG_CAN_RAW=n
CONFIG_SPI_MASTER=n
CONFIG_RISCV_ISA_FALLBACK=n
CONFIG_NET_VENDOR_GOOGLE=n
CONFIG_HAVE_GIGANTIC_FOLIOS=n
CONFIG_WLAN_VENDOR_INTEL=n
CONFIG_HAS_DMA=n
CONFIG_CPU_THERMAL=n
CONFIG_CRYPTO_SIG2=n
CONFIG_HAVE_KERNEL_BZIP2=n
CONFIG_NFS_V4_2_READ_PLUS=n
CONFIG_VIRTIO=n
CONFIG_CPU_ISOLATION=n
CONFIG_HID_GENERIC=n
CONFIG_PTP_1588_CLOCK_OPTIONAL=n
CONFIG_NET_RX_BUSY_POLL=n
CONFIG_RISCV_TIMER=n
CONFIG_DEBUG_INFO_NONE=n
CONFIG_VIRTIO_PCI_LIB=n
CONFIG_FB_CFB_COPYAREA=n
CONFIG_PROC_FS=n
CONFIG_FUTEX_PI=n
CONFIG_SCSI_COMMON=n
CONFIG_VIRTIO_BLK=n
CONFIG_ARCH_HAS_BINFMT_FLAT=n
CONFIG_ARCH_HAS_GIGANTIC_PAGE=n
CONFIG_ARCH_USE_MEMTEST=n
CONFIG_HAVE_64BIT_ALIGNED_ACCESS=n
CONFIG_INIT_STACK_ALL_ZERO=n
CONFIG_DMA_SUN6I=n
CONFIG_ARCH_SUPPORTS_RT=n
CONFIG_PCI_LABEL=n
CONFIG_NFS_V3=n
CONFIG_XZ_DEC_SPARC=n
CONFIG_CC_IS_GCC=n
CONFIG_V4L2_FWNODE=n
CONFIG_RTC_I2C_AND_SPI=n
CONFIG_MMC_DW_STARFIVE=n
CONFIG_CGROUP_PERF=n
CONFIG_CRC32_ARCH=n
CONFIG_TOOLCHAIN_NEEDS_EXPLICIT_ZICSR_ZIFENCEI=n
CONFIG_LOCK_DEBUGGING_SUPPORT=n
CONFIG_GOLDFISH=n
CONFIG_ACPI_PCC=n
CONFIG_USB_CONFIGFS_ACM=n
CONFIG_PINCTRL_SOPHGO_SG2002=n
CONFIG_ARCH_ESWIN=n
CONFIG_ARCH_HAS_MEMBARRIER_CALLBACKS=n
CONFIG_EFI_RUNTIME_WRAPPERS=n
