CONFIG_NET_VENDOR_HISILICON=n
CONFIG_HAVE_DMA_CONTIGUOUS=n
CONFIG_PACKET=n
CONFIG_DRM_PANEL_ORIENTATION_QUIRKS=n
CONFIG_ARCH_SUPPORTS_LTO_CLANG_THIN=n
CONFIG_HAVE_OBJTOOL_NOP_MCOUNT=n
CONFIG_NET_VENDOR_DEC=n
CONFIG_CRYPTO_LZO=n
CONFIG_IOMMU_PT=n
CONFIG_HAVE_LIVEPATCH=n
CONFIG_CRYPTO_SKCIPHER=n
CONFIG_HAVE_NMI=n
CONFIG_RTC_SYSTOHC=n
CONFIG_SERIAL_EARLYCON=n
CONFIG_ARCH_HAS_NON_OVERLAPPING_ADDRESS_SPACE=n
CONFIG_ARCH_CPUIDLE_HALTPOLL=n
CONFIG_HID_TOPSEED=n
CONFIG_SCHED_INFO=n
CONFIG_CC_HAS_ENTRY_PADDING=n
CONFIG_HAVE_ARCH_HUGE_VMALLOC=n
CONFIG_PCIEPORTBUS=n
CONFIG_QUEUED_RWLOCKS=n
CONFIG_ARCH_HAS_DEVMEM_IS_ALLOWED=n
CONFIG_INET6_AH=n
CONFIG_ASYMMETRIC_PUBLIC_KEY_SUBTYPE=n
CONFIG_SND_JACK=n
CONFIG_MAC80211_RC_DEFAULT_MINSTREL=n
CONFIG_BLK_DEV_SR=n
CONFIG_MSDOS_PARTITION=n
CONFIG_HAVE_ARCH_KSTACK_ERASE=n
CONFIG_MOUSE_PS2_LOGIPS2PP=n
CONFIG_WLAN_VENDOR_ST=n
CONFIG_ARCH_CORRECT_STACKTRACE_ON_KRETPROBE=n
CONFIG_MODULES_TREE_LOOKUP=n
CONFIG_MITIGATION_SRBDS=n
CONFIG_HAVE_PV_STEAL_CLOCK_GEN=n
CONFIG_HAVE_RELIABLE_STACKTRACE=n
CONFIG_HAVE_OPTPROBES=n
CONFIG_NEED_PER_CPU_PAGE_FIRST_CHUNK=n
CONFIG_SCHED_CACHE=n
CONFIG_DEBUG_ENTRY=n
CONFIG_NF_NAT_MASQUERADE=n
CONFIG_ASN1=n
CONFIG_I2C_SMBUS=n
CONFIG_ARCH_SUPPORTS_KEXEC_FILE=n
CONFIG_RWSEM_SPIN_ON_OWNER=n
CONFIG_NET_XGRESS=n
CONFIG_NET_VENDOR_SYNOPSYS=n
CONFIG_FS_POSIX_ACL=n
CONFIG_MITIGATION_SSB=n
CONFIG_MOUSE_PS2_SYNAPTICS=n
CONFIG_MMU_LAZY_TLB_REFCOUNT=n
CONFIG_SERIO=n
CONFIG_STRICT_KERNEL_RWX=n
CONFIG_CPU_SUP_HYGON=n
CONFIG_SND_SEQ_DUMMY=n
CONFIG_TRACING_SUPPORT=n
CONFIG_MITIGATION_RETBLEED=n
CONFIG_ACPI_PROCESSOR_IDLE=n
CONFIG_X86_REQUIRED_FEATURE_CX8=n
CONFIG_IRQ_FORCED_THREADING=n
CONFIG_NET_VENDOR_DAVICOM=n
CONFIG_CRYPTO_HW=n
CONFIG_ARCH_HAS_CPU_RELAX=n
CONFIG_ARCH_HAS_UACCESS_FLUSHCACHE=n
CONFIG_FONT_AUTOSELECT=n
CONFIG_EFI=n
CONFIG_RCU_TRACE=n
CONFIG_MISC_FILESYSTEMS=n
CONFIG_MITIGATION_RETPOLINE=n
CONFIG_OPTPROBES=n
CONFIG_UNINLINE_SPIN_UNLOCK=n
CONFIG_CALL_PADDING=n
CONFIG_XFRM_ALGO=n
CONFIG_ACPI_TABLE_UPGRADE=n
CONFIG_HID=n
CONFIG_TASK_XACCT=n
CONFIG_CRC32=n
CONFIG_CRYPTO_RSA=n
CONFIG_PM_SLEEP_DEBUG=n
CONFIG_NOINSTR_VALIDATION=n
CONFIG_NEED_DMA_MAP_STATE=n
CONFIG_ISO9660_FS=n
CONFIG_ARCH_HAVE_EXTRA_ELF_NOTES=n
CONFIG_SND_PCMCIA=n
CONFIG_NET_VENDOR_HUAWEI=n
CONFIG_SND_PCM=n
CONFIG_MIGRATION=n
CONFIG_INTEL_TCC=n
CONFIG_TRACE_IRQFLAGS_SUPPORT=n
CONFIG_X86_DISABLED_FEATURE_CENTAUR_MCR=n
CONFIG_QUOTA_NETLINK_INTERFACE=n
CONFIG_ARCH_MHP_MEMMAP_ON_MEMORY_ENABLE=n
CONFIG_MITIGATION_GDS=n
CONFIG_HAVE_PAGE_SIZE_4KB=n
CONFIG_UPROBE_EVENTS=n
CONFIG_WLAN_VENDOR_BROADCOM=n
CONFIG_FUNCTION_ALIGNMENT_16B=n
CONFIG_ARCH_SUPPORTS_ACPI=n
CONFIG_EARLY_PRINTK=n
CONFIG_VIRTIO_PCI_LIB=n
CONFIG_NET_VENDOR_AMAZON=n
CONFIG_FS_MBCACHE=n
CONFIG_MOUSE_PS2_SMBUS=n
CONFIG_VT=n
CONFIG_NOP_TRACER=n
CONFIG_CRYPTO_ALGAPI=n
CONFIG_BLK_CGROUP_IOLATENCY=n
CONFIG_MAGIC_SYSRQ=n
CONFIG_SYNC_FILE=n
CONFIG_ATA=n
CONFIG_USB_NET_DRIVERS=n
CONFIG_QUOTACTL=n
CONFIG_HAVE_IOREMAP_PROT=n
CONFIG_USB_XHCI_HCD=n
CONFIG_ACPI_DOCK=n
CONFIG_NET_VENDOR_MELLANOX=n
CONFIG_TICK_ONESHOT=n
CONFIG_ACPI_CPU_FREQ_PSS=n
CONFIG_POSIX_CPU_TIMERS_TASK_WORK=n
CONFIG_CPU_IDLE_GOV_HALTPOLL=n
CONFIG_DMA_ACPI=n
CONFIG_HID_SAMSUNG=n
CONFIG_NET_VENDOR_ALACRITECH=n
CONFIG_MITIGATION_MDS=n
CONFIG_ARCH_HAS_ELFCORE_COMPAT=n
CONFIG_NEED_TASKS_RCU=n
CONFIG_HAVE_KERNEL_BZIP2=n
CONFIG_NET_VENDOR_PENSANDO=n
CONFIG_ARCH_HAS_CPU_PASID=n
CONFIG_MAC80211_LEDS=n
CONFIG_GENERIC_CPU_AUTOPROBE=n
CONFIG_NET_VENDOR_SIS=n
CONFIG_BLK_DEV_WRITE_MOUNTED=n
CONFIG_HAVE_MOVE_PUD=n
CONFIG_ACPI_LPIT=n
CONFIG_INITRAMFS_PRESERVE_MTIME=n
CONFIG_STACKTRACE=n
CONFIG_CRYPTO_HASH=n
CONFIG_NETFILTER_XT_MATCH_STATE=n
CONFIG_PHYS_ADDR_T_64BIT=n
CONFIG_HW_RANDOM_VIA=n
CONFIG_ACPI_SPCR_TABLE=n
CONFIG_CRYPTO_LIB_BLAKE2S_ARCH=n
CONFIG_NET_VENDOR_XIRCOM=n
CONFIG_X86_REQUIRED_FEATURE_XMM=n
CONFIG_ACPI_AC=n
CONFIG_IP_NF_IPTABLES=n
CONFIG_ARCH_MAY_HAVE_PC_FDC=n
CONFIG_SWAP=n
CONFIG_CC_HAS_ASM_INLINE=n
CONFIG_ARCH_SUPPORTS_SCHED_CLUSTER=n
CONFIG_MMU_NOTIFIER=n
CONFIG_NET_VENDOR_META=n
CONFIG_CC_HAS_MARCH_NATIVE=n
CONFIG_AS_WRUSS=n
CONFIG_CPU_FREQ_GOV_SCHEDUTIL=n
CONFIG_BUILDTIME_TABLE_SORT=n
CONFIG_EVENTFD=n
CONFIG_DRM_DISPLAY_HELPER=n
CONFIG_PAGE_MAPCOUNT=n
CONFIG_AUDITSYSCALL=n
CONFIG_LTO_NONE=n
CONFIG_NET_FLOW_LIMIT=n
CONFIG_SND_SEQUENCER=n
CONFIG_DEBUG_BUGVERBOSE=n
CONFIG_TRACE_CLOCK=n
CONFIG_NETLABEL=n
CONFIG_NET_CORE=n
CONFIG_DEVMEM=n
CONFIG_DEFAULT_SECURITY_SELINUX=n
CONFIG_IOMMU_SVA=n
CONFIG_HAVE_HARDLOCKUP_DETECTOR_BUDDY=n
CONFIG_CRYPTO_LIB_MD5=n
CONFIG_SECCOMP=n
CONFIG_MITIGATION_CALL_DEPTH_TRACKING=n
CONFIG_WLAN_VENDOR_TI=n
CONFIG_LZO_COMPRESS=n
CONFIG_RANDOMIZE_BASE=n
CONFIG_PCI_LOCKLESS_CONFIG=n
CONFIG_DMA_OPS_HELPERS=n
CONFIG_SND_HDA_I915=n
CONFIG_VIRTUALIZATION=n
CONFIG_CRYPTO_KRB5=n
CONFIG_THERMAL_GOV_STEP_WISE=n
CONFIG_IP6_NF_MATCH_IPV6HEADER=n
CONFIG_DRM_BUDDY=n
CONFIG_CRYPTO_AEAD2=n
CONFIG_INIT_STACK_ALL_ZERO=n
CONFIG_HAVE_HARDLOCKUP_DETECTOR_PERF=n
CONFIG_CC_HAS_KASAN_GENERIC=n
CONFIG_HOTPLUG_CPU=n
CONFIG_PCI_ATS=n
CONFIG_KVFREE_RCU_BATCHED=n
CONFIG_INPUT_MOUSE=n
CONFIG_CORE_DUMP_DEFAULT_ELF_HEADERS=n
CONFIG_TASKSTATS=n
CONFIG_CPU_SUP_ZHAOXIN=n
CONFIG_EFI_PARTITION=n
CONFIG_EEEPC_LAPTOP=n
CONFIG_HAVE_KLP_BUILD=n
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST_IDLE=n
CONFIG_FW_CACHE=n
CONFIG_CC_HAS_WORKING_NOSANITIZE_ADDRESS=n
CONFIG_HUGETLB_PAGE=n
CONFIG_HAVE_ARCH_AUDITSYSCALL=n
CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE=n
CONFIG_X86_DISABLED_FEATURE_CYRIX_ARR=n
CONFIG_NETPOLL=n
CONFIG_BINFMT_SCRIPT=n
CONFIG_INET6_ESP=n
CONFIG_GCC10_NO_ARRAY_BOUNDS=n
CONFIG_ARCH_HAS_UBSAN=n
CONFIG_NF_NAT_SIP=n
CONFIG_USB_SUPPORT=n
CONFIG_CRYPTO_LIB_UTILS=n
CONFIG_NET_VENDOR_MICROSOFT=n
CONFIG_NET_VENDOR_SOCIONEXT=n
CONFIG_NET_CLS=n
CONFIG_LEDS_CLASS=n
CONFIG_NET_VENDOR_ARC=n
CONFIG_INPUT_SPARSEKMAP=n
CONFIG_BUFFER_HEAD=n
CONFIG_LOCKD=n
CONFIG_ATA_SFF=n
CONFIG_DEVPORT=n
CONFIG_LEGACY_TIOCSTI=n
CONFIG_PGTABLE_HAS_HUGE_LEAVES=n
CONFIG_SCSI_VIRTIO=n
CONFIG_NET_VENDOR_NETRONOME=n
CONFIG_NEED_SG_DMA_FLAGS=n
CONFIG_RD_LZO=n
CONFIG_CONTEXT_TRACKING_IDLE=n
CONFIG_SYSTEM_DATA_VERIFICATION=n
CONFIG_ARCH_SUPPORTS_KEXEC_SIG=n
CONFIG_HAVE_INTEL_TXT=n
CONFIG_PAGE_COUNTER=n
CONFIG_TASKS_RCU=n
CONFIG_NETFILTER_XT_TARGET_MASQUERADE=n
CONFIG_IRQ_DOMAIN=n
CONFIG_EFI_EARLYCON=n
CONFIG_SERIO_SERPORT=n
CONFIG_PROC_MEM_FORCE_PTRACE=n
CONFIG_DEBUG_FS_ALLOW_ALL=n
CONFIG_RPCSEC_GSS_KRB5=n
CONFIG_SECTION_MISMATCH_WARN_ONLY=n
CONFIG_HAVE_RUST=n
CONFIG_IO_WQ=n
CONFIG_GENERIC_IRQ_RESERVATION_MODE=n
CONFIG_CLZ_TAB=n
CONFIG_ARCH_WANT_HUGETLB_VMEMMAP_PREINIT=n
CONFIG_IOMMU_IOPF=n
CONFIG_USB_OHCI_HCD=n
CONFIG_ARCH_SUPPORTS_NUMA_BALANCING=n
CONFIG_USB_DEFAULT_PERSIST=n
CONFIG_TASKS_TRACE_RCU=n
CONFIG_IRQ_WORK=n
CONFIG_HID_NTRIG=n
CONFIG_X86_REQUIRED_FEATURE_CPUID=n
CONFIG_X86_DISABLED_FEATURE_K6_MTRR=n
CONFIG_X86_HV_CALLBACK_VECTOR=n
CONFIG_X86_CX8=n
CONFIG_CPU_IDLE=n
CONFIG_CRYPTO_SIG=n
CONFIG_HAVE_GUP_FAST=n
CONFIG_GENERIC_CLOCKEVENTS_COUPLED=n
CONFIG_VT_CONSOLE=n
CONFIG_PCC=n
CONFIG_MOUSE_PS2_TRACKPOINT=n
CONFIG_CRYPTO_ECHAINIV=n
CONFIG_PATA_AMD=n
CONFIG_TCP_MD5SIG=n
CONFIG_ARCH_HAS_HW_PTE_YOUNG=n
CONFIG_IP_ROUTE_VERBOSE=n
CONFIG_COMPACTION=n
CONFIG_DM_MIRROR=n
CONFIG_FONT_SUPPORT=n
CONFIG_KEYBOARD_ATKBD=n
CONFIG_IRQ_DOMAIN_HIERARCHY=n
CONFIG_SPLIT_PMD_PTLOCKS=n
CONFIG_HAVE_FTRACE_REGS_HAVING_PT_REGS=n
CONFIG_HAVE_FUNCTION_ERROR_INJECTION=n
CONFIG_USB_ARCH_HAS_HCD=n
CONFIG_EXCLUSIVE_SYSTEM_RAM=n
CONFIG_DRM_DISPLAY_HDMI_HELPER=n
CONFIG_TIME_NS_VDSO=n
CONFIG_HAVE_ACPI_APEI_NMI=n
CONFIG_BLK_DEV_BSG_COMMON=n
CONFIG_NET_VENDOR_CHELSIO=n
CONFIG_PERF_EVENTS_AMD_UNCORE=n
CONFIG_X86_REQUIRED_FEATURE_PSE=n
CONFIG_GRACE_PERIOD=n
CONFIG_HUGETLB_PAGE_OPTIMIZE_VMEMMAP=n
CONFIG_FAT_FS=n
CONFIG_X86=n
CONFIG_CLKEVT_I8253=n
CONFIG_8139TOO=n
CONFIG_POSIX_TIMERS=n
CONFIG_USB_EHCI_HCD=n
CONFIG_CRYPTO_LIB_SHA1=n
