CONFIG_CPU_IDLE_GOV_HALTPOLL=n
CONFIG_DMA_ENGINE=n
CONFIG_ARCH_HAS_CPU_ATTACK_VECTORS=n
CONFIG_CPU_IDLE=n
CONFIG_XZ_DEC_ARMTHUMB=n
CONFIG_HAVE_FUNCTION_GRAPH_TRACER=n
CONFIG_CC_NO_ARRAY_BOUNDS=n
CONFIG_HID_PETALYNX=n
CONFIG_FWNODE_MDIO=n
CONFIG_X86_CMOV=n
CONFIG_EARLY_PRINTK_DBGP=n
CONFIG_HAVE_UNSTABLE_SCHED_CLOCK=n
CONFIG_APERTURE_HELPERS=n
CONFIG_RTC_I2C_AND_SPI=n
CONFIG_VFAT_FS=n
CONFIG_SERIO_SERPORT=n
CONFIG_PHY_PACKAGE=n
CONFIG_HID_PID=n
CONFIG_SND_TIMER=n
CONFIG_NET_VENDOR_STMICRO=n
CONFIG_SCSI_PROC_FS=n
CONFIG_NETFILTER_XT_TARGET_SECMARK=n
CONFIG_SUNRPC_GSS=n
CONFIG_VIRTIO_DMA_SHARED_BUFFER=n
CONFIG_VIRTIO_INPUT=n
CONFIG_GENERIC_VDSO_OVERFLOW_PROTECT=n
CONFIG_HAVE_ARCH_GET_SECUREBOOT=n
CONFIG_PNFS_FLEXFILE_LAYOUT=n
CONFIG_XFRM_ALGO=n
CONFIG_CPU_FREQ_GOV_PERFORMANCE=n
CONFIG_MOUSE_PS2_SYNAPTICS_SMBUS=n
CONFIG_JUMP_LABEL=n
CONFIG_ACPI_TABLE_UPGRADE=n
CONFIG_CC_HAS_MARCH_NATIVE=n
CONFIG_HAVE_GUP_FAST=n
CONFIG_WLAN_VENDOR_ZYDAS=n
CONFIG_ATA_PIIX=n
CONFIG_SCSI_LOWLEVEL=n
CONFIG_VIRTUALIZATION=n
CONFIG_CRC32=n
CONFIG_PPS=n
CONFIG_DMA_ACPI=n
CONFIG_FUTEX_ROBUST_UNLOCK=n
CONFIG_CLKSRC_I8253=n
CONFIG_HAVE_OPTPROBES=n
CONFIG_ARCH_HAS_ACPI_TABLE_UPGRADE=n
CONFIG_HAVE_KERNEL_BZIP2=n
CONFIG_MITIGATION_L1TF=n
CONFIG_HAVE_HARDLOCKUP_DETECTOR_PERF=n
CONFIG_CLONE_BACKWARDS=n
CONFIG_EFIVAR_FS=n
CONFIG_P2SB=n
CONFIG_WLAN_VENDOR_TI=n
CONFIG_CRYPTO_ECHAINIV=n
CONFIG_UNIX=n
CONFIG_ISA_DMA_API=n
CONFIG_CGROUPS=n
CONFIG_ATA_BMDMA=n
CONFIG_TASK_IO_ACCOUNTING=n
CONFIG_AUDITSYSCALL=n
CONFIG_HW_RANDOM_AMD=n
CONFIG_ARCH_HAS_SET_DIRECT_MAP=n
CONFIG_TRACE_IRQFLAGS_NMI_SUPPORT=n
CONFIG_HAVE_ARCH_KGDB=n
CONFIG_ACPI_PLATFORM_PROFILE=n
CONFIG_KMAP_LOCAL=n
CONFIG_WLAN_VENDOR_MARVELL=n
CONFIG_X86=n
CONFIG_CRYPTO_LIB_UTILS=n
CONFIG_BSD_PROCESS_ACCT=n
CONFIG_AUDIT_GENERIC=n
CONFIG_NET_CLS=n
CONFIG_KCMP=n
CONFIG_SCHED_HRTICK=n
CONFIG_NET_VENDOR_RENESAS=n
CONFIG_DCACHE_WORD_ACCESS=n
CONFIG_MOUSE_PS2_CYPRESS=n
CONFIG_SERIAL_8250_EXAR=n
CONFIG_HAVE_UID16=n
CONFIG_CRC_OPTIMIZATIONS=n
CONFIG_ACPI_PROCESSOR_IDLE=n
CONFIG_MITIGATION_RFDS=n
CONFIG_ARCH_USE_QUEUED_SPINLOCKS=n
CONFIG_FS_MBCACHE=n
CONFIG_LZO_COMPRESS=n
CONFIG_NETFILTER_XT_MATCH_POLICY=n
CONFIG_NET_VENDOR_SAMSUNG=n
CONFIG_CRYPTO_CTR=n
CONFIG_X86_MCE_AMD=n
CONFIG_DECOMPRESS_ZSTD=n
CONFIG_PERF_EVENTS=n
CONFIG_NET_VENDOR_WANGXUN=n
CONFIG_NET_VENDOR_BROADCOM=n
CONFIG_NLATTR=n
CONFIG_WLAN_VENDOR_ADMTEK=n
CONFIG_IOSF_MBI=n
CONFIG_GCC_NO_STRINGOP_OVERFLOW=n
CONFIG_X86_DISABLED_FEATURE_LAM=n
CONFIG_ARCH_HAVE_EXTRA_ELF_NOTES=n
CONFIG_HW_RANDOM_INTEL=n
CONFIG_MITIGATION_SSB=n
CONFIG_CRYPTO_HW=n
CONFIG_LD_CAN_USE_KEEP_IN_OVERLAY=n
CONFIG_DRM_TTM=n
CONFIG_INPUT_MOUSE=n
CONFIG_BLK_DEV_WRITE_MOUNTED=n
CONFIG_POSIX_TIMERS=n
CONFIG_X86_ACPI_CPUFREQ=n
CONFIG_NETWORK_SECMARK=n
CONFIG_SND_PCM_TIMER=n
CONFIG_ARCH_HAS_SYSCALL_WRAPPER=n
CONFIG_SND_HDA_CORE=n
CONFIG_VIDEO=n
CONFIG_PCIEASPM_DEFAULT=n
CONFIG_ZONE_DMA=n
CONFIG_SECURITY_SELINUX_BOOTPARAM=n
CONFIG_SCHED_CLUSTER=n
CONFIG_KERNEL_GZIP=n
CONFIG_KEYBOARD_ATKBD=n
CONFIG_NET_VENDOR_HISILICON=n
CONFIG_CRYPTO_SEQIV=n
CONFIG_VMSPLIT_3G=n
CONFIG_NO_HZ_IDLE=n
CONFIG_ARCH_STACKWALK=n
CONFIG_LZ4_DECOMPRESS=n
CONFIG_HAVE_ARCH_SECCOMP_FILTER=n
CONFIG_MD_BITMAP=n
CONFIG_EFI_EARLYCON=n
CONFIG_X86_IOPL_IOPERM=n
CONFIG_SND_USB=n
CONFIG_INPUT_VIVALDIFMAP=n
CONFIG_RD_BZIP2=n
CONFIG_X86_CPUID=n
CONFIG_HVC_DRIVER=n
CONFIG_NET_VENDOR_3COM=n
CONFIG_TIGON3_HWMON=n
CONFIG_BINARY_PRINTF=n
CONFIG_PID_NS=n
CONFIG_HAVE_FUNCTION_GRAPH_FREGS=n
CONFIG_DEFAULT_CUBIC=n
CONFIG_ARCH_HIBERNATION_HEADER=n
CONFIG_GENERIC_ENTRY=n
CONFIG_SYN_COOKIES=n
CONFIG_MITIGATION_GDS=n
CONFIG_GENERIC_GETTIMEOFDAY=n
CONFIG_EFI_PARTITION=n
CONFIG_CRYPTO=n
CONFIG_NET_VENDOR_REALTEK=n
CONFIG_GCC10_NO_ARRAY_BOUNDS=n
CONFIG_KEYS=n
CONFIG_ARCH_HAS_PTE_SPECIAL=n
CONFIG_NF_CONNTRACK=n
CONFIG_ASYMMETRIC_KEY_TYPE=n
CONFIG_FILE_LOCKING=n
CONFIG_CGROUP_MISC=n
CONFIG_GENERIC_CALIBRATE_DELAY=n
CONFIG_MMU_GATHER_RCU_TABLE_FREE=n
CONFIG_NVMEM_SYSFS=n
CONFIG_NF_CONNTRACK_SECMARK=n
CONFIG_PATA_TIMINGS=n
CONFIG_HAVE_DYNAMIC_FTRACE_NO_PATCHABLE=n
CONFIG_HAS_IOMEM=n
CONFIG_NETFILTER_SKIP_EGRESS=n
CONFIG_CRYPTO_SIG=n
CONFIG_CRC32_ARCH=n
CONFIG_CONSOLE_TRANSLATIONS=n
CONFIG_SUNRPC=n
CONFIG_BLK_DEV_IO_TRACE=n
CONFIG_MSDOS_FS=n
CONFIG_SCHED_MC=n
CONFIG_PT_RECLAIM=n
CONFIG_SYMBOLIC_ERRNAME=n
CONFIG_NFS_DISABLE_UDP_SUPPORT=n
CONFIG_ARCH_USE_QUEUED_RWLOCKS=n
CONFIG_BQL=n
CONFIG_XZ_DEC_ARM=n
CONFIG_MTRR=n
CONFIG_ARCH_HAS_FAST_MULTIPLIER=n
CONFIG_ARCH_WANT_BATCHED_UNMAP_TLB_FLUSH=n
CONFIG_FIB_RULES=n
CONFIG_SERIAL_8250_EXTENDED=n
CONFIG_CRYPTO_MANAGER2=n
CONFIG_NET_VENDOR_8390=n
CONFIG_SERIAL_8250_SHARE_IRQ=n
CONFIG_NO_HZ=n
CONFIG_GENERIC_STRNCPY_FROM_USER=n
CONFIG_GENERIC_IRQ_EFFECTIVE_AFF_MASK=n
CONFIG_IP6_NF_MATCH_IPV6HEADER=n
CONFIG_X86_TSC=n
CONFIG_WLAN_VENDOR_ATH=n
CONFIG_PHYLIB=n
CONFIG_CC_HAS_ZERO_CALL_USED_REGS=n
CONFIG_BLK_DEV_LOOP=n
CONFIG_NET_CLS_CGROUP=n
CONFIG_IO_URING_ZCRX=n
CONFIG_DRM_PANEL_BRIDGE=n
CONFIG_FUNCTION_ALIGNMENT_4B=n
CONFIG_FTRACE=n
CONFIG_HAS_SECURITY_AUDIT=n
CONFIG_FONT_SUPPORT=n
CONFIG_KVM_GUEST=n
CONFIG_EFI_CUSTOM_SSDT_OVERLAYS=n
CONFIG_SND_PCMCIA=n
CONFIG_DMA_OPS_HELPERS=n
CONFIG_IO_URING=n
CONFIG_MISC_FILESYSTEMS=n
CONFIG_DRM_BRIDGE=n
CONFIG_CC_HAS_RETURN_THUNK=n
CONFIG_SND_X86=n
CONFIG_NET_VENDOR_DEC=n
CONFIG_HAVE_ATOMIC_IOMAP=n
CONFIG_LEDS_TRIGGERS=n
CONFIG_SGETMASK_SYSCALL=n
CONFIG_ACPI_THERMAL_LIB=n
CONFIG_MPILIB=n
CONFIG_MAC_EMUMOUSEBTN=n
CONFIG_MEMFD_CREATE=n
CONFIG_NET_VENDOR_ALIBABA=n
CONFIG_X86_VERBOSE_BOOTUP=n
CONFIG_MODULE_UNLOAD=n
CONFIG_ELFCORE=n
CONFIG_HW_RANDOM_VIA=n
CONFIG_CC_HAS_AUTO_VAR_INIT_PATTERN=n
CONFIG_SECURITY_SELINUX=n
CONFIG_EXT4_FS=n
CONFIG_NF_NAT_IRC=n
CONFIG_MITIGATION_RETPOLINE=n
CONFIG_GENERIC_PENDING_IRQ=n
CONFIG_NF_DEFRAG_IPV4=n
CONFIG_ARCH_HAS_STRICT_KERNEL_RWX=n
CONFIG_ACPI_NHLT=n
CONFIG_ARCH_HAS_CPU_CACHE_INVALIDATE_MEMREGION=n
CONFIG_LD_IS_BFD=n
CONFIG_TRACEPOINTS=n
CONFIG_RTC_NVMEM=n
CONFIG_VIRTIO_BLK=n
CONFIG_NLS_ASCII=n
CONFIG_HAVE_DEBUG_KMEMLEAK=n
CONFIG_HAVE_PREEMPT_DYNAMIC_CALL=n
CONFIG_NET_VENDOR_CHELSIO=n
CONFIG_AS_HAS_NON_CONST_ULEB128=n
CONFIG_ARCH_MEMORY_ORDER_TSO=n
CONFIG_LEGACY_TIOCSTI=n
CONFIG_X86_DISABLED_FEATURE_SYSCALL32=n
CONFIG_HAVE_SOFTIRQ_ON_OWN_STACK=n
CONFIG_CRYPTO_LIB_SHA512=n
CONFIG_ARCH_SUPPORTS_KEXEC_SIG=n
CONFIG_ARCH_CONFIGURES_CPU_MITIGATIONS=n
CONFIG_CGROUP_CPUACCT=n
CONFIG_ARCH_SUPPORTS_SCHED_CLUSTER=n
CONFIG_FW_LOADER=n
CONFIG_RD_ZSTD=n
CONFIG_HAVE_CMPXCHG_DOUBLE=n
CONFIG_8139TOO=n
CONFIG_REGMAP=n
CONFIG_HAVE_SETUP_PER_CPU_AREA=n
CONFIG_SMP=n
CONFIG_IP_PIMSM_V2=n
CONFIG_CRYPTO_SIG2=n
CONFIG_EXCLUSIVE_SYSTEM_RAM=n
CONFIG_NET_VENDOR_LITEX=n
CONFIG_MITIGATION_SPECTRE_V2=n
CONFIG_STACKTRACE_SUPPORT=n
CONFIG_HAVE_RETHOOK=n
CONFIG_PREEMPT_RCU=n
CONFIG_SERIAL_8250_RSA=n
CONFIG_HAVE_GENERIC_VDSO=n
CONFIG_GENERIC_CLOCKEVENTS_MIN_ADJUST=n
CONFIG_HOTPLUG_PCI=n
CONFIG_ARCH_CLOCKSOURCE_INIT=n
CONFIG_MOUSE_PS2_BYD=n
CONFIG_MITIGATION_MMIO_STALE_DATA=n
CONFIG_PRINTK_TIME=n
CONFIG_PTP_1588_CLOCK=n
CONFIG_LD_ORPHAN_WARN=n
CONFIG_DEBUG_BOOT_PARAMS=n
CONFIG_NET_FLOW_LIMIT=n
CONFIG_NET_VENDOR_AMAZON=n
CONFIG_ARCH_MAY_HAVE_PC_FDC=n
CONFIG_PROC_PAGE_MONITOR=n
CONFIG_DM_MIRROR=n
CONFIG_TIME_NS=n
CONFIG_NETFS_SUPPORT=n
CONFIG_X86_EXTENDED_PLATFORM=n
CONFIG_GENERIC_NET_UTILS=n
CONFIG_YENTA_TOSHIBA=n
CONFIG_OID_REGISTRY=n
CONFIG_CPU_RMAP=n
CONFIG_HAS_IOPORT=n
CONFIG_CPU_FREQ=n
CONFIG_AS_WRUSS=n
CONFIG_X86_BOOTPARAM_MEMORY_CORRUPTION_CHECK=n
CONFIG_GENERIC_BUG=n
CONFIG_LZO_DECOMPRESS=n
CONFIG_CRC_CCITT=n
CONFIG_X86_DISABLED_FEATURE_IBT=n
CONFIG_HAVE_ARCH_PREL32_RELOCATIONS=n
CONFIG_NF_LOG_ARP=n
CONFIG_HAVE_EISA=n
CONFIG_ASSOCIATIVE_ARRAY=n
