CONFIG_IOSCHED_BFQ=y
CONFIG_RV_MON_MAINTENANCE_EVENTS=y
CONFIG_X86_TSC=y
CONFIG_FB_CFB_IMAGEBLIT=y
CONFIG_AD8801=y
CONFIG_SENSORS_ADT7470=y
CONFIG_REGULATOR_PFUZE100=y
CONFIG_REGULATOR_MT6332=y
CONFIG_ADXL355_SPI=y
CONFIG_X86_DEBUG_FPU=y
CONFIG_SIOX=y
CONFIG_TRACE_IRQFLAGS_NMI_SUPPORT=y
CONFIG_FB_BACKLIGHT=y
CONFIG_SBITMAP=y
CONFIG_IIO_INV_SENSORS_TIMESTAMP=y
CONFIG_PINCTRL_EQUILIBRIUM=y
CONFIG_CHARGER_GPIO=y
CONFIG_FB_SYS_COPYAREA=y
CONFIG_GPIO_LTC4283=y
CONFIG_USB_ROLE_SWITCH=y
CONFIG_VEML3235=y
CONFIG_CRYPTO_ECDSA=y
CONFIG_GPIO_MAX730X=y
CONFIG_STRICT_KERNEL_RWX=y
CONFIG_FB_GEODE=y
CONFIG_AD7793=y
CONFIG_ZPA2326_SPI=y
CONFIG_HAVE_ARCH_HUGE_VMAP=y
CONFIG_BMI160=y
CONFIG_AD4080=y
CONFIG_X86_DISABLED_FEATURE_INVLPGB=y
CONFIG_ARCH_USE_QUEUED_RWLOCKS=y
CONFIG_TYPEC_MUX_FSA4480=y
CONFIG_VIPERBOARD_ADC=y
CONFIG_USB_DWC2_DEBUG=y
CONFIG_DEBUG_MAPLE_TREE=y
CONFIG_MFD_INTEL_QUARK_I2C_GPIO=y
CONFIG_PAC1934=y
CONFIG_FSNOTIFY=y
CONFIG_CRYPTO_LIB_SHA256=y
CONFIG_AD5360=y
CONFIG_SYSFS_SYSCALL=y
CONFIG_SYSTEM_DATA_VERIFICATION=y
CONFIG_EXTCON_MAX77843=y
CONFIG_GPIO_CS5535=y
CONFIG_YAMAHA_YAS530=y
CONFIG_IRQ_BYPASS_MANAGER=y
CONFIG_KRETPROBES=y
CONFIG_DM_RAID=y
CONFIG_EXTCON=y
CONFIG_REGULATOR_HI6421V530=y
CONFIG_X86_32=y
CONFIG_CPU_SUP_AMD=y
CONFIG_USB_CYPRESS_CY7C63=y
CONFIG_EXTCON_PALMAS=y
CONFIG_MCP4922=y
CONFIG_MFD_MAX8907=y
CONFIG_DMA_DECLARE_COHERENT=y
CONFIG_PHY_CADENCE_DPHY=y
CONFIG_LWQ_TEST=y
CONFIG_CRYPTO_GENIV=y
CONFIG_CRYPTO_DH_RFC7919_GROUPS=y
CONFIG_I2C_PXA_PCI=y
CONFIG_TPS6105X=y
CONFIG_X86_DISABLED_FEATURE_XENPV=y
CONFIG_AGP_SWORKS=y
CONFIG_CRYPTO_LIB_AES_ARCH=y
CONFIG_CRYPTO_MANAGER2=y
CONFIG_USB_ISP1760=y
CONFIG_SAMPLE_VFS=y
CONFIG_SONYPI=y
CONFIG_DM_INLINECRYPT=y
CONFIG_AD7779=y
CONFIG_MFD_ACT8945A=y
CONFIG_LIBFDT=y
CONFIG_SCSI_DMA=y
CONFIG_VFIO_PCI_INTX=y
CONFIG_GPIO_MB86S7X=y
CONFIG_MFD_MAX77620=y
CONFIG_MTD_MAP_BANK_WIDTH_2=y
CONFIG_GENERIC_IRQ_PROBE=y
CONFIG_IIO_KX022A_SPI=y
CONFIG_DEBUG_VFS=y
CONFIG_ARCH_HAS_UBSAN=y
CONFIG_SPI_MEM=y
CONFIG_LEDS_PCA995X=y
CONFIG_SENSORS_LTC4260=y
CONFIG_GPIO_RC5T583=y
CONFIG_PPS_GENERATOR_TIO=y
CONFIG_AW96103=y
CONFIG_LZO_DECOMPRESS=y
CONFIG_AGP_ATI=y
CONFIG_CLKEVT_I8253=y
CONFIG_ARCH_FLATMEM_ENABLE=y
CONFIG_I2C=y
CONFIG_TSM_GUEST=y
CONFIG_IIO_TRIGGERED_BUFFER=y
CONFIG_GPIO_MOCKUP=y
CONFIG_PCIE_CADENCE_PLAT=y
CONFIG_GPIO_TPIC2810=y
CONFIG_INPUT_LEDS=y
CONFIG_COMMON_CLK_RK808=y
CONFIG_THERMAL=y
CONFIG_CHARGER_MAX8903=y
CONFIG_W1_SLAVE_THERM=y
CONFIG_AD5758=y
CONFIG_BATTERY_MAX17040=y
CONFIG_TEST_POWER=y
CONFIG_NLS_KOI8_R=y
CONFIG_APDS9300=y
CONFIG_BLK_INLINE_ENCRYPTION=y
CONFIG_AD7405=y
CONFIG_ASYNC_RAID6_RECOV=y
CONFIG_REGULATOR_MT6315=y
CONFIG_CXL_MEM=y
CONFIG_CRC32=y
CONFIG_VHOST_SCSI=y
CONFIG_ADUX1020=y
CONFIG_AD5592R=y
CONFIG_MADERA_IRQ=y
CONFIG_RELOCATABLE=y
CONFIG_MFD_CORE=y
CONFIG_MCP41010=y
CONFIG_ISA_DMA_API=y
CONFIG_TEST_IDA=y
CONFIG_F2FS_FS_POSIX_ACL=y
CONFIG_CROS_EC_MKBP_PROXIMITY=y
CONFIG_X86_DISABLED_FEATURE_ENQCMD=y
CONFIG_REGULATOR_QCOM_LABIBB=y
CONFIG_CS5535_CLOCK_EVENT_SRC=y
CONFIG_SPI_FSL_SPI=y
CONFIG_REGULATOR_MAX8973=y
CONFIG_AD5764=y
CONFIG_CRYPTO_XTS=y
CONFIG_HAVE_GENERIC_TIF_BITS=y
CONFIG_IKCONFIG=y
CONFIG_SERIO_APBPS2=y
CONFIG_NLS_CODEPAGE_1250=y
CONFIG_GENERIC_PINMUX_FUNCTIONS=y
CONFIG_LEDS_OSRAM_AMS_AS3668=y
CONFIG_CM3323=y
CONFIG_ARCH_SPARSEMEM_ENABLE=y
CONFIG_USB_HSIC_USB3503=y
CONFIG_DS4424=y
CONFIG_PREEMPT_RCU=y
CONFIG_GCC10_NO_ARRAY_BOUNDS=y
CONFIG_NOP_TRACER=y
CONFIG_SMPRO_ERRMON=y
CONFIG_NOP_USB_XCEIV=y
CONFIG_I2C_GPIO_FAULT_INJECTOR=y
CONFIG_DETECT_HUNG_TASK=y
CONFIG_THERMAL_GOV_BANG_BANG=y
CONFIG_FW_LOADER=y
CONFIG_MAX11100=y
CONFIG_SERIO_SERPORT=y
CONFIG_MMA8452=y
CONFIG_TASKS_TRACE_RCU=y
CONFIG_ARCH_USE_SYM_ANNOTATIONS=y
CONFIG_COMMON_CLK_BD718XX=y
CONFIG_GENERIC_CALIBRATE_DELAY=y
CONFIG_DLN2_ADC=y
CONFIG_COMMON_CLK=y
CONFIG_MTD_DOCG3=y
CONFIG_IPMB_DEVICE_INTERFACE=y
CONFIG_DEBUG_VM_MAPLE_TREE=y
CONFIG_ZPA2326_I2C=y
CONFIG_MFD_TI_LP87565=y
CONFIG_ARCH_MHP_MEMMAP_ON_MEMORY_ENABLE=y
CONFIG_CRYPTO_LIB_SHA1=y
CONFIG_RC_XBOX_DVD=y
CONFIG_PCI_REALLOC_ENABLE_AUTO=y
CONFIG_NEED_PER_CPU_EMBED_FIRST_CHUNK=y
CONFIG_INTEL_POWERCLAMP=y
CONFIG_THREAD_INFO_IN_TASK=y
CONFIG_TOOLS_SUPPORT_RELR=y
CONFIG_GENERIC_TRACER=y
CONFIG_GP2AP002=y
CONFIG_SENSORS_IT87=y
CONFIG_MMA9553=y
CONFIG_HZ_100=y
CONFIG_REGULATOR_TPS65218=y
CONFIG_MAX5522=y
CONFIG_ABP2030PA_SPI=y
CONFIG_UIO_AEC=y
CONFIG_RING_BUFFER_ALLOW_SWAP=y
CONFIG_PCI_LOCKLESS_CONFIG=y
CONFIG_AL3320A=y
CONFIG_CRYPTO_BENCHMARK=y
CONFIG_DWC_PCIE_PMU=y
CONFIG_HW_RANDOM_BA431=y
CONFIG_I2C_VIA=y
CONFIG_SENSORS_NCT7802=y
CONFIG_SYSTEM_REVOCATION_LIST=y
CONFIG_X86_DISABLED_FEATURE_TDX_GUEST=y
CONFIG_IQS624_POS=y
CONFIG_ARCH_WANT_LD_ORPHAN_WARN=y
CONFIG_NVMEM_LAYOUT_SL28_VPD=y
CONFIG_FB_DDC=y
CONFIG_MFD_RT5120=y
CONFIG_VIRTUALIZATION=y
CONFIG_X86_CHECK_BIOS_CORRUPTION=y
CONFIG_CHROMEOS_OF_HW_PROBER=y
CONFIG_BLK_DEV_BSG=y
CONFIG_SENSORS_LTC2947_I2C=y
CONFIG_STM_PROTO_SYS_T=y
CONFIG_HAVE_ARCH_WITHIN_STACK_FRAMES=y
CONFIG_AUXILIARY_BUS=y
CONFIG_PROVE_RCU=y
CONFIG_BPF_LIRC_MODE2=y
CONFIG_MD_RAID1=y
CONFIG_MFD_SIMPLE_MFD_I2C=y
CONFIG_FB_MB862XX_PCI_GDC=y
CONFIG_PPS_GENERATOR=y
CONFIG_GPIO_RDC321X=y
CONFIG_ARCH_HAS_KERNEL_FPU_SUPPORT=y
CONFIG_CRC7=y
CONFIG_I2C_MUX_REG=y
CONFIG_W1_SLAVE_DS2805=y
CONFIG_KSM=y
CONFIG_USB_CHIPIDEA_HOST=y
CONFIG_MPRLS0025PA_SPI=y
CONFIG_USB4_CONFIGFS=y
CONFIG_NLS_MAC_ROMANIAN=y
CONFIG_BMA220=y
CONFIG_BACKLIGHT_ADP8870=y
CONFIG_NLS_CODEPAGE_855=y
CONFIG_SPI_MICROCHIP_CORE_SPI=y
CONFIG_CM32181=y
CONFIG_FXAS21002C=y
CONFIG_CRC_ITU_T=y
CONFIG_KVM_WERROR=y
CONFIG_TRACEPOINTS=y
CONFIG_MUX_ADG792A=y
CONFIG_US5182D=y
CONFIG_CHARGER_ISP1704=y
CONFIG_KXSD9=y
CONFIG_PINMUX=y
CONFIG_PCMCIA=y
CONFIG_CGROUPS=y
CONFIG_FXAS21002C_I2C=y
CONFIG_UIO=y
CONFIG_X86_CX8=y
CONFIG_ADXL380=y
CONFIG_PCIE_CADENCE_PLAT_HOST=y
CONFIG_SENSORS_LM3533=y
CONFIG_TOSHIBA=y
CONFIG_STACKTRACE=y
CONFIG_CRYPTO_LZ4=y
CONFIG_MTD_CFI_BE_BYTE_SWAP=y
CONFIG_GPIO_GENERIC_PLATFORM=y
CONFIG_CHR_DEV_SCH=y
CONFIG_CRYPTO_CAST5=y
CONFIG_REGULATOR=y
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST=y
CONFIG_ISO9660_FS=y
CONFIG_GPIOLIB_IRQCHIP=y
CONFIG_XXHASH=y
CONFIG_HAS_IOMEM=y
CONFIG_FW_LOADER_SYSFS=y
CONFIG_RV_MON_PAGEFAULT=y
CONFIG_SENSORS_PECI=y
CONFIG_TI_ADS7950=y
CONFIG_VIRT_XFER_TO_GUEST_WORK=y
CONFIG_CONTEXT_SWITCH_TRACER=y
CONFIG_MTD_ABSENT=y
CONFIG_RV=y
CONFIG_XZ_DEC_ARMTHUMB=y
CONFIG_LEDS_TRIGGER_ONESHOT=y
CONFIG_LEDS_PCA955X_GPIO=y
CONFIG_GPIO_GW_PLD=y
CONFIG_BTRFS_ASSERT=y
CONFIG_COMPACTION=y
CONFIG_RESET_CONTROLLER=y
CONFIG_EDAC_SUPPORT=y
CONFIG_LEDS_PCA963X=y
CONFIG_MFD_TPS65912_I2C=y
CONFIG_ARCH_HAS_HW_PTE_YOUNG=y
CONFIG_BACKLIGHT_LED=y
CONFIG_ADL8113=y
CONFIG_IIO_BUFFER_CB=y
CONFIG_HAVE_UNSTABLE_SCHED_CLOCK=y
CONFIG_VFIO_PCI_VGA=y
CONFIG_SAMPLE_KOBJECT=y
CONFIG_MICROCODE_INITRD32=y
CONFIG_RTC_MC146818_LIB=y
CONFIG_GUEST_PERF_EVENTS=y
CONFIG_HAVE_DYNAMIC_FTRACE=y
CONFIG_SERIO_GPIO_PS2=y
CONFIG_NOTIFIER_ERROR_INJECTION=y
CONFIG_HAVE_FUNCTION_TRACER=y
CONFIG_X86_DISABLED_FEATURE_LAM=y
CONFIG_MCP320X=y
CONFIG_PCI_GODIRECT=y
CONFIG_GENERIC_ALLOCATOR=y
CONFIG_GENERIC_PHY_MIPI_DPHY=y
CONFIG_PREEMPT_COUNT=y
CONFIG_EXT4_FS_POSIX_ACL=y
CONFIG_USB_DWC2_DEBUG_PERIODIC=y
CONFIG_PCI_PWRCTRL_TC9563=y
CONFIG_REGULATOR_SY8824X=y
CONFIG_TRACEFS_AUTOMOUNT_DEPRECATED=y
CONFIG_TPS65010=y
CONFIG_TRACE_IRQFLAGS_NMI=y
CONFIG_XILLYBUS_CLASS=y
CONFIG_JFS_FS=y
CONFIG_I2C_NCT6694=y
CONFIG_CROS_EC_LIGHTBAR=y
CONFIG_DM_BUFIO=y
CONFIG_USB_SISUSBVGA=y
CONFIG_NLS_ISO8859_4=y
CONFIG_THERMAL_DEFAULT_GOV_FAIR_SHARE=y
CONFIG_SENSORS_IIO_HWMON=y
CONFIG_BCMA_POSSIBLE=y
CONFIG_SCHED_INFO=y
CONFIG_SENSORS_DA9052_ADC=y
CONFIG_DA9062_THERMAL=y
CONFIG_FAULT_INJECTION=y
CONFIG_PROVE_RAW_LOCK_NESTING=y
CONFIG_CONSOLE_TRANSLATIONS=y
CONFIG_X86_MCELOG_LEGACY=y
CONFIG_AD5504=y
CONFIG_LCD_VGG2432A4=y
CONFIG_LOCALVERSION_AUTO=y
CONFIG_SLIMBUS=y
CONFIG_KVM_VFIO=y
CONFIG_LEDS_AW200XX=y
CONFIG_CHARGER_RT9467=y
CONFIG_OVERLAY_FS_REDIRECT_DIR=y
CONFIG_HAVE_PAGE_SIZE_4KB=y
CONFIG_BMI270_I2C=y
CONFIG_SMI330_SPI=y
CONFIG_BATTERY_UG3105=y
CONFIG_CRC_OPTIMIZATIONS=y
CONFIG_PM_DEVFREQ=y
CONFIG_ARCH_SELECT_MEMORY_MODEL=y
CONFIG_MFD_TPS65218=y
CONFIG_MFD_VIPERBOARD=y
CONFIG_CC_NO_ARRAY_BOUNDS=y
CONFIG_CPU_SUP_CENTAUR=y
CONFIG_GEHC_PMC_ADC=y
CONFIG_TICK_ONESHOT=y
CONFIG_UDMABUF=y
CONFIG_CHARGER_BQ256XX=y
CONFIG_SENSORS_POWERZ=y
CONFIG_TYPEC_MUX_PI3USB30532=y
CONFIG_PPS_DEBUG=y
CONFIG_DEVFREQ_GOV_SIMPLE_ONDEMAND=y
CONFIG_TCG_TIS_I2C_INFINEON=y
CONFIG_SENSORS_LM83=y
CONFIG_SENSORS_INA238=y
CONFIG_CRYPTO_AEAD2=y
CONFIG_ENCRYPTED_KEYS=y
CONFIG_HAVE_POSIX_CPU_TIMERS_TASK_WORK=y
CONFIG_BTRFS_FS=y
CONFIG_HAVE_PREEMPT_DYNAMIC_CALL=y
CONFIG_SPMI=y
CONFIG_TEST_HEXDUMP=y
CONFIG_REGULATOR_LP8755=y
CONFIG_LEDS_CROS_EC=y
CONFIG_FIRMWARE_MEMMAP=y
CONFIG_RESET_TI_TPS380X=y
CONFIG_LEDS_CR0014114=y
CONFIG_SENSORS_ADT7411=y
CONFIG_GPIO_AMD8111=y
CONFIG_VT_CONSOLE=y
CONFIG_TELCLOCK=y
CONFIG_ADJD_S311=y
CONFIG_HAS_DMA=y
CONFIG_REGMAP=y
CONFIG_SOC_BUS=y
CONFIG_VL53L1X_I2C=y
CONFIG_ARCH_SUPPORTS_KEXEC_SIG_FORCE=y
CONFIG_DM_INTEGRITY=y
CONFIG_MTD_UBI_BLOCK=y
CONFIG_LIDAR_LITE_V2=y
CONFIG_I2C_DEBUG_ALGO=y
CONFIG_SSB_SPROM=y
CONFIG_IRQ_DOMAIN_HIERARCHY=y
CONFIG_MIPI_I3C_HCI=y
CONFIG_X86_DISABLED_FEATURE_RETPOLINE_LFENCE=y
CONFIG_MMU=y
CONFIG_USB_MON=y
CONFIG_I2C_PCA_PLATFORM=y
CONFIG_USB_DWC2_HOST=y
CONFIG_W1_SLAVE_DS2413=y
CONFIG_SENSORS_MAX6697=y
CONFIG_NVME_VERBOSE_ERRORS=y
CONFIG_POWER_RESET_ATC260X=y
CONFIG_IR_RC5_DECODER=y
CONFIG_CRYPTO_ECB=y
CONFIG_CRYPTO_ECC=y
CONFIG_BROKEN_ON_SMP=y
CONFIG_MACINTOSH_DRIVERS=y
CONFIG_I2C_ISMT=y
CONFIG_CLONE_BACKWARDS=y
CONFIG_ZONE_DMA=y
CONFIG_NVME_TARGET_FC=y
CONFIG_CRYPTO_DH=y
CONFIG_USB_MAX3421_HCD=y
CONFIG_ARCH_HAS_MEM_ENCRYPT=y
CONFIG_FIND_BIT_BENCHMARK=y
CONFIG_UCSI_CCG=y
CONFIG_BPF_PRELOAD_UMD=y
CONFIG_CC_HAS_MARCH_NATIVE=y
CONFIG_HWLAT_TRACER=y
CONFIG_RBTREE_TEST=y
CONFIG_TI_ADC108S102=y
CONFIG_HI6421V600_IRQ=y
CONFIG_I2C_SIS5595=y
CONFIG_BOOT_CONFIG=y
CONFIG_W1_SLAVE_DS2433=y
CONFIG_FS_POSIX_ACL=y
CONFIG_CRYPTO_DEV_ATMEL_ECC=y
CONFIG_HARDENED_USERCOPY=y
CONFIG_LOCKUP_DETECTOR=y
CONFIG_SENSORS_ADS7828=y
CONFIG_HAVE_FUNCTION_GRAPH_TRACER=y
CONFIG_FIPS_SIGNATURE_SELFTEST=y
CONFIG_IIO_ST_LSM6DSX_SPI=y
CONFIG_FRAME_POINTER=y
CONFIG_X86_CMOV=y
CONFIG_INPUT=y
CONFIG_ARCH_HAS_CURRENT_STACK_POINTER=y
CONFIG_NVMEM_U_BOOT_ENV=y
CONFIG_REGULATOR_TPS6507X=y
CONFIG_GPIO_GENERIC=y
CONFIG_EFI_PARTITION=y
CONFIG_HAVE_KERNEL_GZIP=y
CONFIG_CHARGER_BD99954=y
CONFIG_RESET_TI_SYSCON=y
CONFIG_CRYPTO_KRB5=y
CONFIG_CRYPTO_SELFTESTS_FULL=y
CONFIG_SYSVIPC=y
CONFIG_FB_VOODOO1=y
CONFIG_SW_SYNC=y
CONFIG_I2C_ALGOBIT=y
CONFIG_NLS_ISO8859_6=y
CONFIG_BLOCK_LEGACY_AUTOLOAD=y
CONFIG_LEDS_ST1202=y
CONFIG_SENSORS_LM90=y
CONFIG_REED_SOLOMON_DEC8=y
CONFIG_TEST_XARRAY=y
CONFIG_GENERIC_IRQ_INJECTION=y
CONFIG_LCD_ILI9320=y
CONFIG_HAVE_REGS_AND_STACK_ACCESS_API=y
CONFIG_ARCH_HAS_SYSCALL_WRAPPER=y
CONFIG_COMPAT_32=y
CONFIG_F2FS_IOSTAT=y
CONFIG_GPIO_MAX7300=y
CONFIG_GPIO_MAX77620=y
CONFIG_AD7949=y
CONFIG_CHARGER_BQ25890=y
CONFIG_ARCH_SUPPORTS_ATOMIC_RMW=y
CONFIG_MFD_PALMAS=y
CONFIG_BATTERY_DS2780=y
CONFIG_GENERIC_IRQ_MATRIX_ALLOCATOR=y
CONFIG_KVM_INTEL_PROVE_VE=y
CONFIG_PINCTRL_CY8C95X0=y
CONFIG_REGULATOR_FAN53555=y
CONFIG_CRYPTO_GCM=y
CONFIG_USB_STORAGE_FREECOM=y
CONFIG_FSI_MASTER_GPIO=y
CONFIG_MFD_88PM805=y
CONFIG_REGULATOR_DEBUG=y
CONFIG_MTD_NAND_ECC=y
CONFIG_RPMSG_VIRTIO=y
CONFIG_IIO_ADIS_LIB=y
CONFIG_DEBUG_FS=y
CONFIG_SENSORS_VIA686A=y
CONFIG_DM_THIN_PROVISIONING=y
CONFIG_ARCH_HAS_GCOV_PROFILE_ALL=y
CONFIG_CDNS_I3C_MASTER=y
CONFIG_SERIO_LIBPS2=y
CONFIG_SENSORS_DS1621=y
CONFIG_USB_UAS=y
CONFIG_USB_CHIPIDEA_GENERIC=y
CONFIG_HAVE_FUNCTION_GRAPH_FREGS=y
CONFIG_REGULATOR_ISL9305=y
CONFIG_LOOPBACK_TARGET=y
CONFIG_TWL6040_CORE=y
CONFIG_VMSPLIT_3G=y
CONFIG_OF_GPIO=y
CONFIG_DM_UEVENT=y
CONFIG_LEDS_88PM860X=y
CONFIG_MANAGER_SBS=y
CONFIG_LEDS_TRIGGER_GPIO=y
CONFIG_CONTIG_ALLOC=y
CONFIG_HAVE_SYSCALL_TRACEPOINTS=y
CONFIG_MTD_CFI_AMDSTD=y
CONFIG_FB=y
CONFIG_CRYPTO_KPP=y
CONFIG_BLK_DEV_INTEGRITY=y
CONFIG_SENSORS_NPCM7XX=y
CONFIG_MODULES_USE_ELF_REL=y
CONFIG_RETHOOK=y
CONFIG_HAVE_KERNEL_LZMA=y
CONFIG_COMMON_CLK_SI514=y
CONFIG_CRYPTO_DEV_QAT=y
CONFIG_MFD_MADERA=y
CONFIG_SENSORS_NCT6775_CORE=y
