CONFIG_QORIQ_THERMAL=n
CONFIG_STACKPROTECTOR_STRONG=n
CONFIG_PCIE_QCOM_COMMON=n
CONFIG_SND_SOC_QDSP6_COMMON=n
CONFIG_TI_K3_UDMA_GLUE_LAYER=n
CONFIG_DEVFREQ_GOV_PASSIVE=n
CONFIG_GPIO_PCA953X_IRQ=n
CONFIG_SND_SOC_SOF_XTENSA=n
CONFIG_COMMON_CLK_MT8195_WPESYS=n
CONFIG_CLK_KAANAPALI_TCSRCC=n
CONFIG_USB_ONBOARD_DEV=n
CONFIG_PHY_QCOM_USB_HS_28NM=n
CONFIG_GENERIC_SCHED_CLOCK=n
CONFIG_SNI_NETSEC=n
CONFIG_HAS_IOPORT_MAP=n
CONFIG_DRM_PANEL_KHADAS_TS050=n
CONFIG_OF_EARLY_FLATTREE=n
CONFIG_NET_VENDOR_MARVELL=n
CONFIG_VIDEOBUF2_MEMOPS=n
CONFIG_FSL_ENETC_IERB=n
CONFIG_ARCH_BCM2835=n
CONFIG_RZG3E_THERMAL=n
CONFIG_RTC_DRV_S32G=n
CONFIG_X509_CERTIFICATE_PARSER=n
CONFIG_USB_SERIAL_WWAN=n
CONFIG_RTC_DRV_PM8XXX=n
CONFIG_SND_SOC_LPASS_TX_MACRO=n
CONFIG_RTC_DRV_RX8581=n
CONFIG_XILINX_ZYNQMP_DMA=n
CONFIG_PTP_1588_CLOCK_VMCLOCK=n
CONFIG_ARM_GIC_V2M=n
CONFIG_RTD119X_WATCHDOG=n
CONFIG_ASPEED_P2A_CTRL=n
CONFIG_USB_CONFIGFS=n
CONFIG_SND_SOC_MT8365=n
CONFIG_ARCH_HAS_RELR=n
CONFIG_SND_SOC_WCD938X=n
CONFIG_NFS_USE_KERNEL_DNS=n
CONFIG_ARCH_SUPPORTS_INT128=n
CONFIG_SPARSEMEM_VMEMMAP=n
CONFIG_TCG_TPM=n
CONFIG_MPILIB=n
CONFIG_I2C_HID=n
CONFIG_SERIAL_MESON_CONSOLE=n
CONFIG_COMMON_CLK_MT8183_MMSYS=n
CONFIG_LINEAR_RANGES=n
CONFIG_PINCTRL_NORD=n
CONFIG_NET_DSA_TAG_BRCM=n
CONFIG_TEGRA_HOST1X_CONTEXT_BUS=n
CONFIG_SND_VERBOSE_PROCFS=n
CONFIG_PINCTRL_MT7988=n
CONFIG_SPARSEMEM_VMEMMAP_ENABLE=n
CONFIG_MDIO_BCM_IPROC=n
CONFIG_IMX_SDMA=n
CONFIG_ARCH_WANT_PMD_MKWRITE=n
CONFIG_IOMMU_DEFAULT_DMA_STRICT=n
CONFIG_HAVE_PCI=n
CONFIG_TI_SCI_INTR_IRQCHIP=n
CONFIG_ARM64_ERRATUM_4193714=n
CONFIG_CRYPTO_RSA=n
CONFIG_GNSS_MTK_SERIAL=n
CONFIG_WLAN_VENDOR_INTERSIL=n
CONFIG_DRM_DW_HDMI_CEC=n
CONFIG_VFIO_IOMMU_TYPE1=n
CONFIG_POWER_SEQUENCING_PCIE_M2=n
CONFIG_COMMON_CLK_PWM=n
CONFIG_COMMON_CLK_MT8173_MMSYS=n
CONFIG_MMC_ARMMMCI=n
CONFIG_SMC91X=n
CONFIG_HAVE_ARCH_BITREVERSE=n
CONFIG_BT_HCIRSI=n
CONFIG_DRM_PANEL_ILITEK_ILI9882T=n
CONFIG_HAVE_ARCH_SECCOMP=n
CONFIG_CRYPTO_BENCHMARK=n
CONFIG_PINCTRL_MT6397=n
CONFIG_PINCTRL_ELIZA=n
CONFIG_TRANSPARENT_HUGEPAGE_SHMEM_HUGE_NEVER=n
CONFIG_NAMESPACES=n
CONFIG_SND_SOC_TLV320AIC31XX=n
CONFIG_I2C_APPLE=n
CONFIG_SND_SOC_QDSP6_PRM=n
CONFIG_UNIX=n
CONFIG_NET_XGRESS=n
CONFIG_PWM_TIECAP=n
CONFIG_COMMON_CLK_MT6779=n
CONFIG_MHI_BUS=n
CONFIG_COMMON_CLK_MT8167_MFGCFG=n
CONFIG_HAVE_KRETPROBES=n
CONFIG_HWSPINLOCK_QCOM=n
CONFIG_COMMON_CLK_MT8186_VENCSYS=n
CONFIG_BSD_PROCESS_ACCT_V3=n
CONFIG_DRM_LONTIUM_LT9611UXC=n
CONFIG_PAGE_POOL_STATS=n
CONFIG_BT_HCIUART_MRVL=n
CONFIG_MFD_HI655X_PMIC=n
CONFIG_ACPI_HED=n
CONFIG_TRANSPARENT_HUGEPAGE_TMPFS_HUGE_NEVER=n
CONFIG_CLK_RCAR_GEN4_CPG=n
CONFIG_FSL_RCPM=n
CONFIG_MFD_MACSMC=n
CONFIG_QCOM_QSEECOM_UEFISECAPP=n
CONFIG_COMMON_CLK_MT8195_IMGSYS=n
CONFIG_PCIE_MOBIVEIL=n
CONFIG_NET_VENDOR_ALIBABA=n
CONFIG_ARCH_ENABLE_HUGEPAGE_MIGRATION=n
CONFIG_PINCONF=n
CONFIG_HW_RANDOM_HISI=n
CONFIG_ARM_AMBA=n
CONFIG_CROS_EC_TYPEC_ALTMODES=n
CONFIG_FUSE_IO_URING=n
CONFIG_INTERCONNECT_QCOM_MSM8916=n
CONFIG_SND_SOC_FSL_SSI=n
CONFIG_TEGRA_SOCTHERM=n
CONFIG_DECOMPRESS_ZSTD=n
CONFIG_TYPEC_TCPCI=n
CONFIG_MESON_EE_PM_DOMAINS=n
CONFIG_LEDS_LM3692X=n
CONFIG_KEYBOARD_IMX_BBM_SCMI=n
CONFIG_MMU=n
CONFIG_SND_SOC_AK4619=n
CONFIG_USB_CDNS3_TI=n
CONFIG_BLK_DEV_NBD=n
CONFIG_RAID_ATTRS=n
CONFIG_PINCTRL_MILOS=n
CONFIG_PINCTRL_AMLOGIC_C3=n
CONFIG_COMMON_CLK_MT7622=n
CONFIG_SYSVIPC_SYSCTL=n
CONFIG_SND_SOC_QDSP6_PRM_LPASS_CLOCKS=n
CONFIG_LLC=n
CONFIG_LOCKD_V4=n
CONFIG_CPUFREQ_DT=n
CONFIG_SENSORS_JC42=n
CONFIG_SERIAL_8250_FSL=n
CONFIG_SCSI_UFS_CRYPTO=n
CONFIG_MEMTEST=n
CONFIG_TASKS_RCU_GENERIC=n
CONFIG_PCIE_ROCKCHIP_DW=n
CONFIG_NET_ACT_MIRRED=n
CONFIG_COMMON_CLK_MT6795_VENCSYS=n
CONFIG_PCIE_XILINX=n
CONFIG_IP6_NF_IPTABLES=n
CONFIG_PINCTRL_SUN50I_H6=n
CONFIG_DRM_MSM_MDP4=n
CONFIG_SPLIT_PTE_PTLOCKS=n
CONFIG_HAVE_ARCH_MMAP_RND_COMPAT_BITS=n
CONFIG_USB_CONFIGFS_RNDIS=n
CONFIG_BPF_UNPRIV_DEFAULT_OFF=n
CONFIG_VDSO_GETRANDOM=n
CONFIG_ARM_SMC_WATCHDOG=n
CONFIG_SND_SOC_TEGRA186_DSPK=n
CONFIG_XPS=n
CONFIG_MDIO_GPIO=n
CONFIG_ARCH_STACKWALK=n
CONFIG_PINCTRL_SC7180=n
CONFIG_COMMON_CLK_MT8167=n
CONFIG_SND_SOC_QCOM_OFFLOAD_UTILS=n
CONFIG_RPMSG_CTRL=n
CONFIG_PCI_QUIRKS=n
CONFIG_USB_LAN78XX=n
CONFIG_WLAN_VENDOR_ATH=n
CONFIG_SOC_RENESAS=n
CONFIG_POWER_SEQUENCING_QCOM_WCN=n
CONFIG_MMC_DW_K3=n
CONFIG_ACPI_PRMT=n
CONFIG_MODULES_USE_ELF_RELA=n
CONFIG_ATH11K_PCI=n
CONFIG_NVMEM_LAYOUTS=n
CONFIG_GENERIC_ALLOCATOR=n
CONFIG_EFI=n
CONFIG_IMX_AIPSTZ=n
CONFIG_ARM_ALLWINNER_SUN50I_CPUFREQ_NVMEM=n
CONFIG_PCIE_KIRIN=n
CONFIG_SND_SOC_QDSP6_AFE_CLOCKS=n
CONFIG_DRM_TIDSS=n
CONFIG_PINCTRL_TEGRA_XUSB=n
CONFIG_BLK_DEV_SD=n
CONFIG_MOUSE_PS2=n
CONFIG_USB_F_SERIAL=n
CONFIG_HOTPLUG_PCI=n
CONFIG_WLAN_VENDOR_INTEL=n
CONFIG_DRM_PANTHOR=n
CONFIG_PINCTRL_IPQ5424=n
CONFIG_I2C_RIIC=n
CONFIG_MMC_SDHI=n
CONFIG_MTD_PHYSMAP=n
CONFIG_QCOM_L3_PMU=n
CONFIG_CFG80211_REQUIRE_SIGNED_REGDB=n
CONFIG_PINCTRL_IMX8DXL=n
CONFIG_SG_SPLIT=n
CONFIG_COMMON_CLK_HI3660=n
CONFIG_GPIO_TEGRA=n
CONFIG_CLK_INTEL_SOCFPGA64=n
CONFIG_CLK_RK3528=n
CONFIG_PCI_XGENE=n
CONFIG_SND_SOC_FSL_MICFIL=n
CONFIG_SPI_NXP_FLEXSPI=n
CONFIG_DRM_FSL_LDB=n
CONFIG_NXP_NETC_BLK_CTRL=n
CONFIG_REGULATOR_MT6358=n
CONFIG_ADVISE_SYSCALLS=n
CONFIG_SPI_MASTER=n
CONFIG_COMMON_CLK_MESON_PLL=n
CONFIG_BACKLIGHT_LP855X=n
CONFIG_PCI_SYSCALL=n
CONFIG_PCIE_XILINX_NWL=n
CONFIG_PINCTRL_SM6375=n
CONFIG_RATIONAL=n
CONFIG_SCSI_MOD=n
CONFIG_INTERCONNECT_QCOM_SA8775P=n
CONFIG_HAVE_RELIABLE_STACKTRACE=n
CONFIG_GPIO_MPC8XXX=n
CONFIG_DRM_PANEL_HIMAX_HX83112B=n
CONFIG_CRYPTO_GHASH_ARM64_CE=n
CONFIG_PREEMPT_RCU=n
CONFIG_GENERIC_IRQ_CHIP=n
CONFIG_MOUSE_PS2_TRACKPOINT=n
CONFIG_DWMAC_STM32=n
CONFIG_CORESIGHT_CPU_DEBUG=n
CONFIG_SYSTEM_TRUSTED_KEYRING=n
CONFIG_MISC_RP1=n
CONFIG_SECURITY=n
CONFIG_ARCH_HAS_DMA_PREP_COHERENT=n
CONFIG_BT_RTL=n
CONFIG_HIBERNATION=n
CONFIG_COMMON_CLK_MEDIATEK_FHCTL=n
CONFIG_PHY_CAN_TRANSCEIVER=n
CONFIG_NVMEM_IMX_OCOTP=n
CONFIG_SND_DMAENGINE_PCM=n
CONFIG_HAVE_KVM_READONLY_MEM=n
CONFIG_PINCTRL_SM6125=n
CONFIG_MMC_CQHCI=n
CONFIG_USB_TEGRA_PHY=n
CONFIG_BT_HCIBTUSB_MTK=n
CONFIG_SND_SOC_QDSP6_APM_DAI=n
CONFIG_MMC_STM32_SDMMC=n
CONFIG_CLK_RENESAS_VBATTB=n
CONFIG_PHY_XILINX_ZYNQMP=n
CONFIG_FB_DMAMEM_HELPERS=n
CONFIG_SND_SOC_FSL_UTILS=n
CONFIG_RTSN=n
CONFIG_NET_DSA_MSCC_FELIX_DSA_LIB=n
CONFIG_SND_SOC_SOF_MT8195=n
CONFIG_HAVE_GUP_FAST=n
CONFIG_PINCTRL_ZYNQMP=n
CONFIG_SND_ALOOP=n
CONFIG_OF_ADDRESS=n
CONFIG_DRM_KOMEDA=n
CONFIG_DRM_TTM=n
CONFIG_DRM_NOUVEAU_CH7006=n
CONFIG_BPF_JIT=n
CONFIG_COMMON_CLK_FSL_FLEXSPI=n
CONFIG_IOMMU_DMA=n
CONFIG_SCHED_SMT=n
CONFIG_PCI=n
CONFIG_SHMEM=n
CONFIG_TYPEC_TPS6598X=n
CONFIG_USB_ARCH_HAS_HCD=n
CONFIG_NEED_PER_CPU_PAGE_FIRST_CHUNK=n
CONFIG_PINCTRL_QCS8300=n
CONFIG_ATA_VERBOSE_ERROR=n
CONFIG_CRYPTO_KPP2=n
CONFIG_MMC_SDHCI_OF_ARASAN=n
CONFIG_SOC_TI=n
CONFIG_SPRD_COMMON_CLK=n
CONFIG_CAN_DEV=n
CONFIG_NEED_TASKS_RCU=n
CONFIG_COMMON_CLK_MT8173=n
CONFIG_PINCTRL_SOPHGO_SG2000=n
CONFIG_ARM_GIC_V3_ITS=n
CONFIG_USB_F_FS=n
CONFIG_SND_CTL_FAST_LOOKUP=n
CONFIG_USB_SERIAL=n
CONFIG_ARCH_HAS_DEBUG_VM_PGTABLE=n
CONFIG_BACKLIGHT_APPLE_DWI=n
CONFIG_TYPEC_MUX_WCD939X_USBSS=n
CONFIG_GPIO_VF610=n
CONFIG_ACPI_CPPC_CPUFREQ=n
CONFIG_CLK_RK3399=n
CONFIG_ARCH_HAS_KERNEL_FPU_SUPPORT=n
CONFIG_AUDITSYSCALL=n
CONFIG_IPQ_GCC_6018=n
CONFIG_MMC_UNIPHIER=n
CONFIG_AS_HAS_CFI_NEGATE_RA_STATE=n
CONFIG_USB_EHCI_PCI=n
CONFIG_FB_SYS_COPYAREA=n
CONFIG_GPIO_MAX77620=n
CONFIG_DMA_SHARED_BUFFER=n
CONFIG_PCIE_ARMADA_8K=n
CONFIG_QCOM_CLK_SMD_RPM=n
CONFIG_SCSI=n
CONFIG_PHY_NS2_USB_DRD=n
CONFIG_SND_SOC_ES8316=n
CONFIG_COMMON_CLK_VISCONTI=n
CONFIG_NLS_ISO8859_1=n
CONFIG_LEDS_TRIGGER_HEARTBEAT=n
CONFIG_INTERCONNECT_QCOM_QCS404=n
CONFIG_VIDEO_HANTRO_SUNXI=n
CONFIG_IOMMU_IO_PGTABLE_DART=n
CONFIG_RFS_ACCEL=n
CONFIG_PINCTRL_MT8195=n
