CONFIG_MFD_CS47L90=y
CONFIG_CRYPTO_DEV_KEEMBAY_OCS_HCU=y
CONFIG_VIRTIO_ANCHOR=y
CONFIG_I2C_MUX_GPMUX=y
CONFIG_PATA_PLATFORM=y
CONFIG_BACKLIGHT_LM3639=y
CONFIG_ARCH_HAVE_NMI_SAFE_CMPXCHG=y
CONFIG_MFD_MAX77541=y
CONFIG_IR_MESON=y
CONFIG_PHY_MTK_TPHY=y
CONFIG_TOUCHSCREEN_HIDEEP=y
CONFIG_INFTL=y
CONFIG_REGULATOR_PWM=y
CONFIG_PREEMPT_RCU=y
CONFIG_SENSORS_ADT7475=y
CONFIG_PAGE_REPORTING=y
CONFIG_EXTCON_QCOM_SPMI_MISC=y
CONFIG_INPUT_DA9052_ONKEY=y
CONFIG_IMX_IPUV3_CORE=y
CONFIG_POWER_RESET_GEMINI_POWEROFF=y
CONFIG_XZ_DEC=y
CONFIG_MTD_INTEL_DG=y
CONFIG_HW_RANDOM_INGENIC_RNG=y
CONFIG_PWM_ATMEL_TCB=y
CONFIG_MISC_FILESYSTEMS=y
CONFIG_ARM_SCMI_DEBUG_COUNTERS=y
CONFIG_SA1100_WATCHDOG=y
CONFIG_INGENIC_CGU_JZ4755=y
CONFIG_PHY_QCOM_SGMII_ETH=y
CONFIG_ARCH_HAS_CURRENT_STACK_POINTER=y
CONFIG_BCM2835_TIMER=y
CONFIG_PERF_USE_VMALLOC=y
CONFIG_PINCTRL_SDX65=y
CONFIG_IRQ_FASTEOI_HIERARCHY_HANDLERS=y
CONFIG_DEBUG_VM=y
CONFIG_PWM_BCM_KONA=y
CONFIG_PWM_SUN4I=y
CONFIG_I2C_DEBUG_BUS=y
CONFIG_TOUCHSCREEN_ADS7846=y
CONFIG_ARCH_HAS_PMEM_API=y
CONFIG_MFD_RT5120=y
CONFIG_PINCTRL_PFC_R8A779G0=y
CONFIG_PWM_PROVIDE_GPIO=y
CONFIG_OVERLAY_FS_INDEX=y
CONFIG_REGULATOR_MAX77503=y
CONFIG_JFFS2_FS_SECURITY=y
CONFIG_PINCTRL_IMX8MP=y
CONFIG_SENSORS_LTC2945=y
CONFIG_CRYPTO_HW=y
CONFIG_SERIAL_SIFIVE_CONSOLE=y
CONFIG_SPI_MT65XX=y
CONFIG_SPI_INTEL=y
CONFIG_I3C=y
CONFIG_ARM_IMX_BUS_DEVFREQ=y
CONFIG_AT91_SOC_ID=y
CONFIG_NLS_CODEPAGE_1251=y
CONFIG_SENSORS_LTC4151=y
CONFIG_CHARGER_BQ24257=y
CONFIG_SM_TCSRCC_8550=y
CONFIG_DEBUG_FS_ALLOW_NONE=y
CONFIG_GPIB_FLUKE=y
CONFIG_HVC_RISCV_SBI=y
CONFIG_CRYPTO_BLOWFISH=y
CONFIG_MXC_CLK=y
CONFIG_COMMON_CLK_MT6765_VCODECSYS=y
CONFIG_PINCTRL_RZA2=y
CONFIG_COMMON_CLK_QCOM=y
CONFIG_PINCTRL_MESON=y
CONFIG_RESET_CONTROLLER=y
CONFIG_CDX_CONTROLLER=y
CONFIG_PINCTRL_MSM8909=y
CONFIG_REGULATOR_TPS6524X=y
CONFIG_DMA_DECLARE_COHERENT=y
CONFIG_CLK_R9A09G047=y
CONFIG_REGULATOR_PV88090=y
CONFIG_TOUCHSCREEN_CY8CTMA140=y
CONFIG_SM_GCC_6125=y
CONFIG_REGULATOR_MT6360=y
CONFIG_MFD_ATMEL_FLEXCOM=y
CONFIG_GENERIC_PINMUX_FUNCTIONS=y
CONFIG_MTK_CMDQ=y
CONFIG_PINCTRL_STARFIVE_JH7110=y
CONFIG_IMX2_WDT=y
CONFIG_HAS_IOPORT_MAP=y
CONFIG_PINCTRL_BAYTRAIL=y
CONFIG_SATA_HOST=y
CONFIG_INIT_ON_FREE_DEFAULT_ON=y
CONFIG_COMMON_CLK_MT6765_GCESYS=y
CONFIG_CRYPTO_LIB_CHACHA=y
CONFIG_FW_LOADER=y
CONFIG_PINCTRL_TEGRA_XUSB=y
CONFIG_COMMON_CLK=y
CONFIG_CLPS711X_TIMER=y
CONFIG_GENERIC_ENTRY=y
CONFIG_BATTERY_RT5033=y
CONFIG_MFD_MC13XXX=y
CONFIG_GPIO_MAX730X=y
CONFIG_GENERIC_CPU_DEVICES=y
CONFIG_IR_SANYO_DECODER=y
CONFIG_RETHOOK=y
CONFIG_PINCTRL_IMX27=y
CONFIG_SERIO_GPIO_PS2=y
CONFIG_LIBFDT=y
CONFIG_BATTERY_MAX17042=y
CONFIG_NLS_CODEPAGE_1250=y
CONFIG_HAVE_POSIX_CPU_TIMERS_TASK_WORK=y
CONFIG_MTD_NAND_SHARPSL=y
CONFIG_SYSC_RZ=y
CONFIG_PREEMPT=y
CONFIG_KGDB=y
CONFIG_SPI_SH_HSPI=y
CONFIG_PINCTRL_SINGLE=y
CONFIG_SERIAL_TEGRA_TCU_CONSOLE=y
CONFIG_MFD_OCELOT=y
CONFIG_MTD_BRCM_U_BOOT=y
CONFIG_COMEDI_KCOMEDILIB=y
CONFIG_FB_MACMODES=y
CONFIG_PWM_STMPE=y
CONFIG_SERIAL_ALTERA_UART_CONSOLE=y
CONFIG_MFD_RETU=y
CONFIG_MSM_GCC_8976=y
CONFIG_PINCTRL_MAX77620=y
CONFIG_DEBUG_GENERIC_PT=y
CONFIG_PHY_MTK_PCIE=y
CONFIG_I2C_JZ4780=y
CONFIG_COMMON_CLK_EYEQ=y
CONFIG_REGULATOR_TI_ABB=y
CONFIG_SENSORS_LTC2978=y
CONFIG_LINEDISP=y
CONFIG_SENSORS_MC34VR500=y
CONFIG_SPI_BUTTERFLY=y
CONFIG_BACKLIGHT_LV5207LP=y
CONFIG_SSB_DRIVER_GPIO=y
CONFIG_COMMON_CLK_VC3=y
CONFIG_MQ_IOSCHED_DEADLINE=y
CONFIG_SLAB_FREELIST_RANDOM=y
CONFIG_HAVE_STACKPROTECTOR=y
CONFIG_ASN1=y
CONFIG_SL28CPLD_WATCHDOG=y
CONFIG_ALTERA_STAPL=y
CONFIG_SENSORS_MP29502=y
CONFIG_MTD_COMPLEX_MAPPINGS=y
CONFIG_SPI_MT7621=y
CONFIG_DEBUG_ATOMIC=y
CONFIG_MTD_SPI_NAND=y
CONFIG_CRYPTO_KRB5_SELFTESTS=y
CONFIG_CHARGER_BD99954=y
CONFIG_SPI_JCORE=y
CONFIG_RCAR_MFIS=y
CONFIG_INPUT=y
CONFIG_SENSORS_MP2925=y
CONFIG_SERIAL_RSCI=y
CONFIG_FAULT_INJECTION=y
CONFIG_SENSORS_SHTC1=y
CONFIG_SC_GCC_7280=y
CONFIG_PHY_CADENCE_TORRENT=y
CONFIG_TRACE_CLOCK=y
CONFIG_PINCTRL_SH_FUNC_GPIO=y
CONFIG_MTD_NAND_STM32_FMC2=y
CONFIG_CLK_RK3188=y
CONFIG_SERIAL_SPRD=y
CONFIG_CLK_KAANAPALI_DISPCC=y
CONFIG_SM_DISPCC_6350=y
CONFIG_SPI_RZV2M_CSI=y
CONFIG_IR_IMG_JVC=y
CONFIG_DEBUG_RWSEMS=y
CONFIG_SENSORS_MAX6620=y
CONFIG_DEVFREQ_GOV_SIMPLE_ONDEMAND=y
CONFIG_TOUCHSCREEN_TOUCHIT213=y
CONFIG_GPIO_ZYNQMP_MODEPIN=y
CONFIG_TI_PIPE3=y
CONFIG_SM_DISPCC_6125=y
CONFIG_MFD_STMFX=y
CONFIG_RPMSG_MTK_SCP=y
CONFIG_DOVE_THERMAL=y
CONFIG_GPIO_ASPEED=y
CONFIG_BALLOON=y
CONFIG_WATCH_QUEUE=y
CONFIG_ROCKCHIP_THERMAL=y
CONFIG_DEBUG_SPINLOCK=y
CONFIG_ARCH_WANT_FRAME_POINTERS=y
CONFIG_MSM_GCC_8939=y
CONFIG_CRYPTO_DEV_MARVELL_CESA=y
CONFIG_REGULATOR_STM32_BOOSTER=y
CONFIG_PINCTRL_IMX93=y
CONFIG_ASM9260_TIMER=y
CONFIG_CRYPTO_DEV_ATMEL_ECC=y
CONFIG_PC104=y
CONFIG_TASKS_RUDE_RCU=y
CONFIG_REGULATOR_AW37503=y
CONFIG_ROCKCHIP_MBOX=y
CONFIG_PINCTRL_NORD=y
CONFIG_CHROMEOS_OF_HW_PROBER=y
CONFIG_PHY_MVEBU_A38X_COMPHY=y
CONFIG_MTD_ONENAND=y
CONFIG_CRYPTO_SHA1=y
CONFIG_PHY_LAN966X_SERDES=y
CONFIG_REGULATOR_TPS65090=y
CONFIG_PHY_STM32_USBPHYC=y
CONFIG_CONFIGFS_FS=y
CONFIG_SCSI_UFS_EXYNOS=y
CONFIG_DEBUG_LIST=y
CONFIG_EXTCON_RT8973A=y
CONFIG_PHY_MMP3_HSIC=y
CONFIG_ARCH_HAS_HW_PTE_YOUNG=y
CONFIG_SENSORS_MP2891=y
CONFIG_RISCV_SBI_FWFT_DELEGATE_MISALIGNED=y
CONFIG_PINCTRL_AIROHA=y
CONFIG_GPIO_BCM_KONA=y
CONFIG_COREDUMP=y
CONFIG_QCOM_AOSS_QMP=y
CONFIG_REGMAP_MMIO=y
CONFIG_SENSORS_LTC4283=y
CONFIG_GPIO_LPC18XX=y
CONFIG_LEDS_BRIGHTNESS_HW_CHANGED=y
CONFIG_BCM_PDC_MBOX=y
CONFIG_SSFDC=y
CONFIG_RISCV_TIMER=y
CONFIG_ARCH_HAS_PREEMPT_LAZY=y
CONFIG_SM_GCC_8650=y
CONFIG_CHARGER_LP8727=y
CONFIG_CHARGER_MAX8903=y
CONFIG_PAGE_SIZE_LESS_THAN_64KB=y
CONFIG_MTD_SPI_NOR_USE_4K_SECTORS=y
CONFIG_SYSC_R8A774B1=y
CONFIG_ARM_SCMI_TRANSPORT_VIRTIO=y
CONFIG_FB_DEVICE=y
CONFIG_HAVE_CONTEXT_TRACKING_USER=y
CONFIG_SPI_WPCM_FIU=y
CONFIG_PAGE_EXTENSION=y
CONFIG_SDM_GCC_660=y
CONFIG_SC_GPUCC_7180=y
CONFIG_SENSORS_STEF48H28=y
CONFIG_CLK_IMX93=y
CONFIG_MFD_TPS65090=y
CONFIG_HAVE_ARCH_TRACEHOOK=y
CONFIG_CLK_R9A07G043=y
CONFIG_INPUT_DRV260X_HAPTICS=y
CONFIG_ACCESSIBILITY=y
CONFIG_PAHOLE_HAS_LANG_EXCLUDE=y
CONFIG_EXTCON_USB_GPIO=y
CONFIG_GLOB=y
CONFIG_CRYPTO_CRC32C=y
CONFIG_SENSORS_LINEAGE=y
CONFIG_GENERIC_NET_UTILS=y
CONFIG_INPUT_ARIEL_PWRBUTTON=y
CONFIG_IR_HIX5HD2=y
CONFIG_BCM47XX_WDT=y
CONFIG_PHY_FSL_SAMSUNG_HDMI_PHY=y
CONFIG_MT7621_WDT=y
CONFIG_CONTEXT_TRACKING=y
CONFIG_MFD_INTEL_M10_BMC_CORE=y
CONFIG_LCD2S=y
CONFIG_MFD_MAX5970=y
CONFIG_MFD_WM8994=y
CONFIG_HAVE_PV_STEAL_CLOCK_GEN=y
CONFIG_SENSORS_LTC2991=y
CONFIG_EXYNOS_MBOX=y
CONFIG_SENSORS_LM95241=y
CONFIG_PHY_ROCKCHIP_DPHY_RX0=y
CONFIG_RESET_TI_SCI=y
CONFIG_SENSORS_MP2975=y
CONFIG_IMX_IRQSTEER=y
CONFIG_SCSI_SRP_ATTRS=y
CONFIG_DPAA2_CONSOLE=y
CONFIG_JFFS2_FS_XATTR=y
CONFIG_CRYPTO_LIB_AES=y
CONFIG_REGULATOR_TPS62360=y
CONFIG_MFD_QCOM_PM8008=y
CONFIG_DAVINCI_TIMER=y
CONFIG_PM_OPP=y
CONFIG_CRYPTO_ECRDSA=y
CONFIG_ARCH_FLATMEM_ENABLE=y
CONFIG_BCM_NS_THERMAL=y
CONFIG_THERMAL_MMIO=y
CONFIG_SERIAL_SC16IS7XX_I2C=y
CONFIG_TEGRA186_TIMER=y
CONFIG_TIMER_OF=y
CONFIG_SPI_BCM2835=y
CONFIG_BLK_DEV_BSGLIB=y
CONFIG_INTERCONNECT_EXYNOS=y
CONFIG_TOUCHSCREEN_EGALAX=y
CONFIG_ST_LPC_WATCHDOG=y
CONFIG_BACKLIGHT_KTD253=y
CONFIG_RPMSG_VIRTIO=y
CONFIG_PM_DEBUG=y
CONFIG_BCM7038_WDT=y
CONFIG_REBOOT_MODE=y
CONFIG_CHARLCD=y
CONFIG_LMK04832=y
CONFIG_MFD_IQS62X=y
CONFIG_I2C_BRCMSTB=y
CONFIG_TI_SCI_INTR_IRQCHIP=y
CONFIG_SENSORS_BEL_PFE=y
CONFIG_MFD_CS40L50_CORE=y
CONFIG_COMMON_CLK_MT8365_VDEC=y
CONFIG_CRAMFS=y
CONFIG_CRYPTO_ECB=y
CONFIG_COMMON_CLK_ROCKCHIP=y
CONFIG_DEVTMPFS=y
CONFIG_ARCH_HAS_SYNC_DMA_FOR_DEVICE=y
CONFIG_ARM_SCPI_POWER_DOMAIN=y
CONFIG_XFS_FS=y
CONFIG_SERIAL_OWL=y
CONFIG_SC_DISPCC_8280XP=y
CONFIG_DEFAULT_SECURITY_DAC=y
CONFIG_COMMON_CLK_MT8188_IMP_IIC_WRAP=y
CONFIG_MTD_MCHP48L640=y
CONFIG_AIROHA_THERMAL=y
CONFIG_SM_CAMCC_MILOS=y
CONFIG_DEBUG_INFO=y
CONFIG_HW_RANDOM_IXP4XX=y
CONFIG_SENSORS_ADM1029=y
CONFIG_NVME_HWMON=y
CONFIG_RESET_SPACEMIT_K1=y
CONFIG_RESET_SCMI=y
CONFIG_LEDS_LM3530=y
CONFIG_SENSORS_SFCTEMP=y
CONFIG_OVERLAY_FS_METACOPY=y
CONFIG_PHY_QCOM_IPQ4019_USB=y
CONFIG_ARCH_HAS_DMA_PREP_COHERENT=y
CONFIG_PWM_TWL_LED=y
CONFIG_PINCTRL_VISCONTI=y
CONFIG_XZ_DEC_RISCV=y
CONFIG_TPS65010=y
CONFIG_PWM_TWL=y
CONFIG_CRYPTO_ECDSA=y
CONFIG_PINCTRL_IMXRT1170=y
CONFIG_REGULATOR_MP5416=y
CONFIG_TOUCHSCREEN_BU21013=y
CONFIG_COMMON_CLK_LAN966X=y
CONFIG_SERIAL_ATMEL=y
CONFIG_MAC_PARTITION=y
CONFIG_CLK_SP810=y
CONFIG_FILE_LOCKING=y
CONFIG_PINCTRL_TEGRA=y
CONFIG_CRYPTO_AES=y
CONFIG_RESET_TH1520=y
CONFIG_PWM_SUNPLUS=y
CONFIG_SENSORS_MAX1668=y
CONFIG_SENSORS_LTC2990=y
CONFIG_PINCTRL_PFC_R8A779A0=y
CONFIG_REGULATOR_88PG86X=y
CONFIG_PINCTRL_MESON_GXBB=y
CONFIG_JOYSTICK_SPACEBALL=y
CONFIG_PHY_SPACEMIT_K1_PCIE=y
CONFIG_PPS_DEBUG=y
CONFIG_VFIO_VIRQFD=y
CONFIG_HWMON_DEBUG_CHIP=y
CONFIG_REGULATOR_LP873X=y
CONFIG_MTD_NAND_DENALI_DT=y
CONFIG_REGULATOR_PFUZE100=y
CONFIG_SA_GPUCC_8775P=y
CONFIG_REGULATOR_VIRTUAL_CONSUMER=y
CONFIG_PINCTRL_SAR2130P=y
CONFIG_LOCK_EVENT_COUNTS=y
CONFIG_SOPHGO_CV1800_RTCSYS=y
CONFIG_MOUSE_CYAPA=y
CONFIG_DEBUG_INFO_COMPRESSED_ZLIB=y
CONFIG_KVFREE_RCU_BATCHED=y
CONFIG_PHY_SAMSUNG_UFS=y
CONFIG_SENSORS_TPS23861=y
CONFIG_BCM7120_L2_IRQ=y
CONFIG_OPTEE_STATIC_PROTMEM_POOL=y
CONFIG_CLK_R8A77470=y
CONFIG_DEBUG_VM_RB=y
CONFIG_HAVE_ARCH_AUDITSYSCALL=y
CONFIG_PINCTRL_STM32MP135=y
CONFIG_MTD_NAND_GPIO=y
CONFIG_CHARGER_BQ25980=y
CONFIG_SQUASHFS_4K_DEVBLK_SIZE=y
CONFIG_COMMON_CLK_AXI_CLKGEN=y
CONFIG_NTFS_FS=y
CONFIG_MFD_INTEL_M10_BMC_SPI=y
CONFIG_CPU_MITIGATIONS=y
CONFIG_DMA_NEED_SYNC=y
CONFIG_GENERIC_HWEIGHT=y
CONFIG_COMMON_CLK_MT8196_IMP_IIC_WRAP=y
CONFIG_SENSORS_INA238=y
CONFIG_CLK_R8A77970=y
CONFIG_MAILBOX_TEST=y
CONFIG_REGULATOR_RT5759=y
CONFIG_NLS_MAC_ROMANIAN=y
CONFIG_SYSC_R8A779F0=y
CONFIG_MFD_ATMEL_HLCDC=y
CONFIG_ARCH_USE_QUEUED_RWLOCKS=y
CONFIG_VIRTIO_MENU=y
CONFIG_PINCTRL_MSM8X74=y
CONFIG_CRYPTO_ZSTD=y
CONFIG_REGULATOR_MAX77675=y
CONFIG_DMA_FENCE_TRACE=y
CONFIG_FW_DEVLINK_SYNC_STATE_TIMEOUT=y
CONFIG_LEDS_PM8058=y
CONFIG_CROS_EC_SPI=y
CONFIG_BCM_PMB=y
CONFIG_ARMV7M_SYSTICK=y
CONFIG_ATCWDT200_WATCHDOG=y
CONFIG_CRYPTO_DEV_FSL_CAAM_COMMON=y
CONFIG_BLK_DEBUG_FS=y
CONFIG_SYSFS_SYSCALL=y
CONFIG_PINCTRL_DENVERTON=y
CONFIG_HAS_IOMEM=y
CONFIG_GPIO_GENERIC_PLATFORM=y
CONFIG_FB_OMAP2_DSS_DPI=y
CONFIG_OMAP_OCP2SCP=y
CONFIG_NLS_ISO8859_15=y
CONFIG_MTD_PSTORE=y
CONFIG_TOUCHSCREEN_TOUCHRIGHT=y
CONFIG_PHY_AIROHA_PCIE=y
CONFIG_MFD_MC13XXX_I2C=y
CONFIG_XFS_DEBUG_EXPENSIVE=y
CONFIG_COMMON_CLK_VC5=y
CONFIG_CRYPTO_CHACHA20POLY1305=y
CONFIG_HW_RANDOM_XILINX=y
CONFIG_SPI_LOONGSON_CORE=y
CONFIG_POWER_RESET_EP93XX=y
CONFIG_SSB=y
CONFIG_REGULATOR_MAX8893=y
CONFIG_MFD_DA9150=y
CONFIG_IRQ_UNIPHIER_AIDET=y
CONFIG_BATTERY_CHARGER_SURFACE_RT=y
CONFIG_FB_OMAP2_DSS_INIT=y
CONFIG_CRYPTO_DEV_QCE_SKCIPHER=y
CONFIG_PINCTRL_MSM=y
CONFIG_NLS_CODEPAGE_860=y
CONFIG_SPI_EP93XX=y
CONFIG_PHY_EXYNOS_DP_VIDEO=y
CONFIG_IR_XMP_DECODER=y
CONFIG_CHARGER_RT9455=y
CONFIG_MFD_TPS65086=y
CONFIG_BCM_KONA_WDT_DEBUG=y
CONFIG_ECRYPT_FS=y
CONFIG_GPIO_WM8994=y
CONFIG_I2C=y
CONFIG_CHARGER_MAX77759=y
CONFIG_PINCTRL_PXA=y
CONFIG_LEDS_REGULATOR=y
CONFIG_LEDS_TLC591XX=y
CONFIG_CRYPTO_DEV_ATMEL_I2C=y
CONFIG_HAVE_FUNCTION_ARG_ACCESS_API=y
CONFIG_GPIO_ATH79=y
CONFIG_NLS_MAC_ROMAN=y
CONFIG_PHY_ST_SPEAR1340_MIPHY=y
CONFIG_PSTORE_RAM=y
CONFIG_PHY_BRCM_USB=y
CONFIG_SENSORS_LM85=y
CONFIG_AST2700_MBOX=y
CONFIG_THEAD_TH1520_MBOX=y
CONFIG_LEDS_LP8788=y
CONFIG_RESET_RZV2H_USB2PHY=y
CONFIG_COMMON_CLK_MT2701_BDPSYS=y
CONFIG_GENERIC_PINCTRL=y
CONFIG_CRYPTO_CAMELLIA=y
CONFIG_QNX6FS_DEBUG=y
CONFIG_CROS_EC=y
CONFIG_VFIO_GROUP=y
CONFIG_SENSORS_MLXREG_FAN=y
CONFIG_CRYPTO_AKCIPHER=y
CONFIG_PHY_CADENCE_SIERRA=y
CONFIG_BINFMT_SCRIPT=y
CONFIG_CRYPTO_DES=y
CONFIG_INPUT_TWL4030_VIBRA=y
CONFIG_GENERIC_IRQ_ENTRY=y
CONFIG_REGULATOR_TPS65217=y
CONFIG_POWER_SUPPLY=y
CONFIG_SERIO_LIBPS2=y
CONFIG_LEDS_MAX5970=y
CONFIG_HTE=y
CONFIG_RENESAS_WWDT=y
CONFIG_QCS_GCC_404=y
CONFIG_MADERA_IRQ=y
CONFIG_OLPC_XO175=y
CONFIG_RESET_QCOM_AOSS=y
CONFIG_SERIAL_UARTLITE=y
CONFIG_PINCTRL_MILOS=y
CONFIG_SGI_PARTITION=y
CONFIG_REGULATOR_SUN20I=y
CONFIG_TRUSTED_KEYS_DEBUG=y
CONFIG_MTD_SPI_NOR_SWP_DISABLE_ON_VOLATILE=y
CONFIG_PINCTRL_ELIZA=y
CONFIG_MFD_SIMPLE_MFD_I2C=y
CONFIG_PINCTRL_TEGRA238=y
CONFIG_JOYSTICK_ADI=y
CONFIG_CRYPTO_BENCHMARK=y
CONFIG_HAVE_PERF_EVENTS=y
CONFIG_LEDS_ACER_A500=y
CONFIG_NLS_MAC_TURKISH=y
CONFIG_SATA_FSL=y
CONFIG_SERIAL_ALTERA_UART=y
CONFIG_SENSORS_ISL28022=y
CONFIG_PWM_OMAP_DMTIMER=y
CONFIG_HW_RANDOM_PIC32=y
CONFIG_CRYPTO_DEV_ATMEL_SHA=y
CONFIG_SERIAL_SH_SCI_CONSOLE=y
CONFIG_FTM_QUADDEC=y
CONFIG_DEVFREQ_GOV_USERSPACE=y
CONFIG_PPS_CLIENT_KTIMER=y
CONFIG_XFS_SUPPORT_V4=y
CONFIG_SENSORS_IRPS5401=y
CONFIG_SENSORS_LM77=y
