CONFIG_THERMAL_HWMON=n
CONFIG_COMMON_CLK_MT8192_IMGSYS=n
CONFIG_DRM_ITE_IT66121=n
CONFIG_SND_SOC_TAS571X=n
CONFIG_NVMEM_ROCKCHIP_OTP=n
CONFIG_DRM_MSM_GPU_STATE=n
CONFIG_THREAD_INFO_IN_TASK=n
CONFIG_SND_SOC_TLV320AIC3X=n
CONFIG_CLK_GLYMUR_DISPCC=n
CONFIG_REGMAP_I2C=n
CONFIG_FB_DMAMEM_HELPERS_DEFERRED=n
CONFIG_ARCH_REALTEK=n
CONFIG_CRYPTO_DEV_ZYNQMP_SHA3=n
CONFIG_USB_RTL8150=n
CONFIG_PINCTRL_PFC_R8A774E1=n
CONFIG_FW_LOADER_USER_HELPER=n
CONFIG_SUN55I_A523_CCU=n
CONFIG_SL28CPLD_INTC=n
CONFIG_BT_RTL=n
CONFIG_NET=n
CONFIG_SND_SOC_NAU8315=n
CONFIG_SERIAL_STM32_CONSOLE=n
CONFIG_SERIAL_QCOM_GENI_CONSOLE=n
CONFIG_RC_MAP=n
CONFIG_REGULATOR_PF8X00=n
CONFIG_SND_SOC_QDSP6_AFE_CLOCKS=n
CONFIG_CPU_IDLE_MULTIPLE_DRIVERS=n
CONFIG_BT_HCIBTUSB_BCM=n
CONFIG_KVM=n
CONFIG_SM_GCC_8750=n
CONFIG_GPIO_PCA953X_IRQ=n
CONFIG_COMMON_CLK_MT8195_VDOSYS=n
CONFIG_NET_DSA_BCM_SF2=n
CONFIG_DMA_DECLARE_COHERENT=n
CONFIG_HAVE_ARCH_KSTACK_ERASE=n
CONFIG_CLK_UNIPHIER=n
CONFIG_HAVE_ARCH_THREAD_STRUCT_WHITELIST=n
CONFIG_PCIE_CADENCE=n
CONFIG_PHY_QCOM_EDP=n
CONFIG_ARM_SMMU_MMU_500_CPRE_ERRATA=n
CONFIG_COMMON_CLK_MT8188_MFGCFG=n
CONFIG_TASK_IO_ACCOUNTING=n
CONFIG_SND_SOC_ADAU7002=n
CONFIG_RD_LZMA=n
CONFIG_LEDS_TRIGGER_DISK=n
CONFIG_SL28CPLD_WATCHDOG=n
CONFIG_XILINX_ZYNQMP_DMA=n
CONFIG_HAVE_FUNCTION_ARG_ACCESS_API=n
CONFIG_SERIAL_STM32=n
CONFIG_SCSI_UFSHCD=n
CONFIG_SPI_RSPI=n
CONFIG_TREE_SRCU=n
CONFIG_USB_RENESAS_USBHS_UDC=n
CONFIG_ARM_DSU_PMU=n
CONFIG_ACPI_CPPC_CPUFREQ=n
CONFIG_ACPI_NUMA=n
CONFIG_VIDEOBUF2_CORE=n
CONFIG_ARM_QCOM_CPUFREQ_NVMEM=n
CONFIG_COMMON_CLK_MT6779=n
CONFIG_SM_DISPCC_8450=n
CONFIG_USB_F_OBEX=n
CONFIG_TEGRA_ACONNECT=n
CONFIG_ARM64_ERRATUM_843419=n
CONFIG_NET_SELFTESTS=n
CONFIG_AUDITSYSCALL=n
CONFIG_SPI_BCM_QSPI=n
CONFIG_INPUT_XEN_KBDDEV_FRONTEND=n
CONFIG_ARCH_TEGRA_234_SOC=n
CONFIG_SND_SOC_GTM601=n
CONFIG_SENSORS_ARM_SCMI=n
CONFIG_RAID6_PQ_BENCHMARK=n
CONFIG_DRM_MSM_DP=n
CONFIG_CRC8=n
CONFIG_RENESAS_USB_DMAC=n
CONFIG_SC_GCC_7280=n
CONFIG_INPUT_SPARSEKMAP=n
CONFIG_CLK_IMX93=n
CONFIG_PINCTRL_MTK_MOORE=n
CONFIG_PCIE_MOBIVEIL=n
CONFIG_ACPI_HOTPLUG_MEMORY=n
CONFIG_CLK_KAANAPALI_VIDEOCC=n
CONFIG_TI_SYSC=n
CONFIG_COMMON_CLK_MT8188_VENCSYS=n
CONFIG_APPLE_WATCHDOG=n
CONFIG_COMMON_CLK_MT8167_MMSYS=n
CONFIG_SND_HDA_TEGRA=n
CONFIG_COMMON_CLK_MT8195=n
CONFIG_USB_ONBOARD_DEV=n
CONFIG_MSCC_OCELOT_SWITCH_LIB=n
CONFIG_CLK_R9A07G044=n
CONFIG_NF_CONNTRACK_EVENTS=n
CONFIG_SND_SOC_SOF_XTENSA=n
CONFIG_PHYS_ADDR_T_64BIT=n
CONFIG_DRM_DISPLAY_HDMI_STATE_HELPER=n
CONFIG_SERIAL_SH_SCI_CONSOLE=n
CONFIG_DW_APB_TIMER=n
CONFIG_SND_SOC_QDSP6_PRM_LPASS_CLOCKS=n
CONFIG_BT_QCA=n
CONFIG_IPQ_CMN_PLL=n
CONFIG_CLK_RZG2L=n
CONFIG_ARCH_TEGRA_186_SOC=n
CONFIG_NEED_PER_CPU_EMBED_FIRST_CHUNK=n
CONFIG_QCM_DISPCC_2290=n
CONFIG_DRM_HISI_KIRIN=n
CONFIG_PINCTRL_MT8365=n
CONFIG_KUSER_HELPERS=n
CONFIG_MEMCG=n
CONFIG_PCIE_DW=n
CONFIG_HMEM_REPORTING=n
CONFIG_MFD_RK8XX=n
CONFIG_MFD_TI_LP873X=n
CONFIG_PINCTRL_QCS404=n
CONFIG_USB_UHCI_ASPEED=n
CONFIG_ARCH_DEFAULT_KEXEC_IMAGE_VERIFY_SIG=n
CONFIG_MESON_CANVAS=n
CONFIG_TRANSPARENT_HUGEPAGE_TMPFS_HUGE_NEVER=n
CONFIG_HAVE_SAMPLE_FTRACE_DIRECT_MULTI=n
CONFIG_HWSPINLOCK=n
CONFIG_USB_MUSB_SUNXI=n
CONFIG_NVMEM_QCOM_SEC_QFPROM=n
CONFIG_MLX5_SW_STEERING=n
CONFIG_MTD_HYPERBUS=n
CONFIG_MFD_CORE=n
CONFIG_SND_SOC_NAU8822=n
CONFIG_SM_GPUCC_MILOS=n
CONFIG_SND_SOC_RT5640=n
CONFIG_DRM_DISPLAY_HDMI_HELPER=n
CONFIG_RENESAS_GEN4_PTP=n
CONFIG_USB_ULPI=n
CONFIG_UBIFS_FS_ZLIB=n
CONFIG_RTC_DRV_RTD119X=n
CONFIG_PHY_QCOM_SGMII_ETH=n
CONFIG_PWM_ROCKCHIP=n
CONFIG_MFD_HI6421_PMIC=n
CONFIG_BLK_MQ_STACKING=n
CONFIG_ARM64_ERRATUM_1530923=n
CONFIG_CPU_FREQ_GOV_ONDEMAND=n
CONFIG_MMC_SDHCI_OF_DWCMSHC=n
CONFIG_PINCTRL_TEGRA124=n
CONFIG_QCOM_SMSM=n
CONFIG_MVEBU_PIC=n
CONFIG_INTERCONNECT_QCOM_SM8450=n
CONFIG_WLAN_VENDOR_ATH=n
CONFIG_DMA_BOUNCE_UNALIGNED_KMALLOC=n
CONFIG_INTERCONNECT_QCOM_MSM8996=n
CONFIG_GPIO_RCAR=n
CONFIG_XEN_SYS_HYPERVISOR=n
CONFIG_PHY_RCAR_GEN3_PCIE=n
CONFIG_SUN55I_A523_MCU_CCU=n
CONFIG_MTK_SVS=n
CONFIG_DRM_PANEL_VISIONOX_VTDR6130=n
CONFIG_QRTR_TUN=n
CONFIG_ARCH_MHP_MEMMAP_ON_MEMORY_ENABLE=n
CONFIG_ARCH_BRCMSTB=n
CONFIG_INPUT_VIVALDIFMAP=n
CONFIG_MOUSE_PS2_TRACKPOINT=n
CONFIG_REGULATOR_MT6360=n
CONFIG_COMMON_CLK_MT6795_MFGCFG=n
CONFIG_XARRAY_MULTI=n
CONFIG_APPLE_AIC=n
CONFIG_ARM64_PTR_AUTH_KERNEL=n
CONFIG_PINCTRL_PFC_R8A77965=n
CONFIG_SOCK_RX_QUEUE_MAPPING=n
CONFIG_TI_K3_DSP_REMOTEPROC=n
CONFIG_PINCTRL_DA9062=n
CONFIG_SIGNALFD=n
CONFIG_ZLIB_INFLATE=n
CONFIG_ARCH_BLAIZE=n
CONFIG_I2C_HID_ACPI=n
CONFIG_PREEMPT_COUNT=n
CONFIG_ARCH_WANT_FRAME_POINTERS=n
CONFIG_RESET_MESON_AUDIO_ARB=n
CONFIG_MMC_MESON_GX=n
CONFIG_ARCH_RCAR_GEN4=n
CONFIG_ARCH_TEGRA_264_SOC=n
CONFIG_ARCH_KEEMBAY=n
CONFIG_QCOM_WCNSS_PIL=n
CONFIG_HAVE_SAMPLE_FTRACE_DIRECT=n
CONFIG_PWM=n
CONFIG_VF_TIMER_NONE=n
CONFIG_XEN_FBDEV_FRONTEND=n
CONFIG_DRM_MSM_HDMI=n
CONFIG_HAVE_ARCH_JUMP_LABEL=n
CONFIG_ARCH_R9A08G045=n
CONFIG_IOMMU_IO_PGTABLE_DART=n
CONFIG_SCSI_SAS_HOST_SMP=n
CONFIG_KEXEC=n
CONFIG_DRM_SUN8I_DW_HDMI=n
CONFIG_IWLWIFI_LEDS=n
CONFIG_QCOM_FASTRPC=n
CONFIG_USB_ISP1760=n
CONFIG_REGULATOR_TPS65132=n
CONFIG_SUNXI_RSB=n
CONFIG_BT_QCOMSMD=n
CONFIG_MMC_HSQ=n
CONFIG_CAN_XILINXCAN=n
CONFIG_GENERIC_ARCH_NUMA=n
CONFIG_HVC_IRQ=n
CONFIG_PINCTRL_IMX8QXP=n
CONFIG_PCIE_RCAR_HOST=n
CONFIG_USB_NET_NET1080=n
CONFIG_DRM_BRIDGE_CONNECTOR=n
CONFIG_CC_HAS_KASAN_GENERIC=n
CONFIG_MEDIA_TUNER_SIMPLE=n
CONFIG_EXYNOS_ADC=n
CONFIG_PHY_QCOM_QMP_PCIE_8996=n
CONFIG_HAVE_ACPI_APEI=n
CONFIG_SPI_PL022=n
CONFIG_FB_SYSMEM_HELPERS=n
CONFIG_BCM7038_L1_IRQ=n
CONFIG_NET_DEVMEM=n
CONFIG_HIBERNATION_SNAPSHOT_DEV=n
CONFIG_MDIO_BUS_MUX_MULTIPLEXER=n
CONFIG_ARM_SMMU_V3_PMU=n
CONFIG_TRACE_IRQFLAGS_SUPPORT=n
CONFIG_FSL_GUTS=n
CONFIG_MTK_SCP=n
CONFIG_KVM_GENERIC_DIRTYLOG_READ_PROTECT=n
CONFIG_POWER_RESET_QCOM_PON=n
CONFIG_SDM_VIDEOCC_845=n
CONFIG_HAVE_ARCH_AUDITSYSCALL=n
CONFIG_MFD_SIMPLE_MFD_I2C=n
CONFIG_EXTCON_PTN5150=n
CONFIG_I2C_ALGOBIT=n
CONFIG_GPIO_ACPI=n
CONFIG_VIDEO_HANTRO=n
CONFIG_CLZ_TAB=n
CONFIG_SCSI_UFS_RENESAS=n
CONFIG_CHARGER_CROS_PCHG=n
CONFIG_PCI_XGENE_MSI=n
CONFIG_GPIO_CDEV=n
CONFIG_GPIO_PL061=n
CONFIG_ARCH_USES_HIGH_VMA_FLAGS=n
CONFIG_CORESIGHT_LINK_AND_SINK_TMC=n
CONFIG_SND_SOC_QDSP6=n
CONFIG_ARCH_SUPPORTS_MSEAL_SYSTEM_MAPPINGS=n
CONFIG_MRP=n
CONFIG_CC_HAS_NO_PROFILE_FN_ATTR=n
CONFIG_CRYPTO_SHA1=n
CONFIG_SND_SOC_QCOM_COMMON=n
CONFIG_COMMON_CLK_MT8188_IMP_IIC_WRAP=n
CONFIG_SM_CAMCC_8550=n
CONFIG_DRM_MSM_DSI_28NM_PHY=n
CONFIG_MAGIC_SYSRQ=n
CONFIG_OPTEE_STATIC_PROTMEM_POOL=n
CONFIG_LEDS_TRIGGER_CPU=n
CONFIG_HWMON=n
CONFIG_DRM_RCAR_USE_MIPI_DSI=n
CONFIG_COMMON_CLK_MT8195_CAMSYS=n
CONFIG_RESET_TEGRA_BPMP=n
CONFIG_SERIAL_MCTRL_GPIO=n
CONFIG_IRQ_POLL=n
CONFIG_SUN50I_A100_CCU=n
CONFIG_PRINTK_TIME=n
CONFIG_QCOM_TZMEM_MODE_SHMBRIDGE=n
CONFIG_PM_DEVFREQ_EVENT=n
CONFIG_INTERCONNECT_QCOM_SC8180X=n
CONFIG_BCM2835_VCHIQ=n
CONFIG_QCOM_SPM=n
CONFIG_CRYPTO_HASH=n
CONFIG_BT=n
CONFIG_PCI_J721E=n
CONFIG_SC_VIDEOCC_7280=n
CONFIG_GPIO_EN7523=n
CONFIG_SND_SOC_J721E_EVM=n
CONFIG_ATA_VERBOSE_ERROR=n
CONFIG_SND_SOC_ES8328_I2C=n
CONFIG_CRYPTO_LIB_SHA512=n
CONFIG_CLK_MA35D1=n
CONFIG_TEGRA_CLK_DFLL=n
CONFIG_GPIO_PCF857X=n
CONFIG_INOTIFY_USER=n
CONFIG_INTEGRITY_AUDIT=n
CONFIG_SND_MESON_G12A_TOHDMITX=n
CONFIG_SND_JACK=n
CONFIG_CLK_R9A09G011=n
CONFIG_ARM_SCMI_HAVE_TRANSPORT=n
CONFIG_USB_EHCI_TT_NEWSCHED=n
CONFIG_PCIE_BRCMSTB=n
CONFIG_PHY_CADENCE_SALVO=n
CONFIG_USB_CONFIGFS_ECM_SUBSET=n
CONFIG_APPLE_PMGR_PWRSTATE=n
CONFIG_SND_HDA_CORE=n
CONFIG_NLATTR=n
CONFIG_CRYPTO_LIB_CHACHA=n
CONFIG_SND_SOC_RT5682_I2C=n
CONFIG_SERIAL_8250_BCM7271=n
CONFIG_FB_CFB_FILLRECT=n
CONFIG_ASYNC_TX_ENABLE_CHANNEL_SWITCH=n
CONFIG_PINCTRL_GLYMUR=n
CONFIG_BALLOON_MIGRATION=n
CONFIG_MDIO_BCM_IPROC=n
CONFIG_ATH10K_CE=n
CONFIG_SYSC_R9A08G045=n
CONFIG_HAVE_ARCH_TRACEHOOK=n
CONFIG_SERIAL_XILINX_PS_UART_CONSOLE=n
CONFIG_STANDALONE=n
CONFIG_SM_GPUCC_8250=n
CONFIG_DRM_PANEL_HIMAX_HX83112A=n
CONFIG_QCOM_SCM=n
