CONFIG_HARDLOCKUP_CHECK_TIMESTAMP=n
CONFIG_VIRTIO_DMA_SHARED_BUFFER=n
CONFIG_DMAR_TABLE=n
CONFIG_VIRTIO_MENU=n
CONFIG_VIRTIO_PCI_ADMIN_LEGACY=n
CONFIG_PTDUMP=n
CONFIG_CPU_SUP_INTEL=n
CONFIG_NF_LOG_IPV6=n
CONFIG_HAVE_ARCH_HUGE_VMALLOC=n
CONFIG_MMU_GATHER_MERGE_VMAS=n
CONFIG_CRYPTO_CTS=n
CONFIG_CC_HAS_IBT=n
CONFIG_NET_VENDOR_TEHUTI=n
CONFIG_COMPAT_32BIT_TIME=n
CONFIG_MMCONF_FAM10H=n
CONFIG_MOUSE_PS2_SMBUS=n
CONFIG_IO_URING_BPF=n
CONFIG_EFI_DXE_MEM_ATTRIBUTES=n
CONFIG_PCIEASPM_DEFAULT=n
CONFIG_MAC_EMUMOUSEBTN=n
CONFIG_NET_VENDOR_SMSC=n
CONFIG_HAVE_KLP_BUILD=n
CONFIG_ACPI_AC=n
CONFIG_BITREVERSE=n
CONFIG_ATA=n
CONFIG_DEBUG_KERNEL=n
CONFIG_NETPOLL=n
CONFIG_HAVE_ARCH_KASAN_VMALLOC=n
CONFIG_XARRAY_MULTI=n
CONFIG_NET_VENDOR_CAVIUM=n
CONFIG_ARCH_SUPPORTS_NUMA_BALANCING=n
CONFIG_NET_VENDOR_SILAN=n
CONFIG_HAVE_GIGANTIC_FOLIOS=n
CONFIG_FUTEX_PRIVATE_HASH=n
CONFIG_X86_REQUIRED_FEATURE_PGE=n
CONFIG_GENERIC_IRQ_MIGRATION=n
CONFIG_CRYPTO_AEAD2=n
CONFIG_NF_NAT_MASQUERADE=n
CONFIG_HAVE_STACKPROTECTOR=n
CONFIG_GCC_NO_STRINGOP_OVERFLOW=n
CONFIG_NET_VENDOR_REALTEK=n
CONFIG_VIRTIO_PCI=n
CONFIG_CRYPTO_SEQIV=n
CONFIG_HOTPLUG_CPU=n
CONFIG_INPUT_MISC=n
CONFIG_HAVE_KERNEL_GZIP=n
CONFIG_DEBUG_DEVRES=n
CONFIG_SYSCTL_EXCEPTION_TRACE=n
CONFIG_HAVE_PCI=n
CONFIG_SHMEM=n
CONFIG_HAVE_ACPI_APEI_NMI=n
CONFIG_MOUSE_PS2_LOGIPS2PP=n
CONFIG_RETHOOK=n
CONFIG_SECCOMP=n
CONFIG_ARCH_SUPPORTS_MSEAL_SYSTEM_MAPPINGS=n
CONFIG_XZ_DEC_BCJ=n
CONFIG_PERF_EVENTS_INTEL_UNCORE=n
CONFIG_BINFMT_MISC=n
CONFIG_PM_TRACE_RTC=n
CONFIG_ROOT_NFS=n
CONFIG_VM_EVENT_COUNTERS=n
CONFIG_PROC_VMCORE=n
CONFIG_GENERIC_IRQ_RESERVATION_MODE=n
CONFIG_CGROUP_SCHED=n
CONFIG_NVMEM_SYSFS=n
CONFIG_PM_TRACE=n
CONFIG_NEED_PER_CPU_PAGE_FIRST_CHUNK=n
CONFIG_HWMON=n
CONFIG_PREVENT_FIRMWARE_BUILD=n
CONFIG_PERF_EVENTS_INTEL_CSTATE=n
CONFIG_CRYPTO_SHA256=n
CONFIG_ATA_ACPI=n
CONFIG_MITIGATION_SPECTRE_V1=n
CONFIG_ARCH_SUPPORTS_DEBUG_PAGEALLOC=n
CONFIG_NETWORK_FILESYSTEMS=n
CONFIG_CGROUP_FREEZER=n
CONFIG_ATA_BMDMA=n
CONFIG_ACPI_MDIO=n
CONFIG_NET_VENDOR_QUALCOMM=n
CONFIG_RSEQ=n
CONFIG_MMU_NOTIFIER=n
CONFIG_NLS_CODEPAGE_437=n
CONFIG_XZ_DEC_SPARC=n
CONFIG_DNOTIFY=n
CONFIG_HAVE_DMA_CONTIGUOUS=n
CONFIG_TIME_NS_VDSO=n
CONFIG_MACINTOSH_DRIVERS=n
CONFIG_FTRACE=n
CONFIG_DIMLIB=n
CONFIG_HAVE_ARCH_WITHIN_STACK_FRAMES=n
CONFIG_NET_VENDOR_SYNOPSYS=n
CONFIG_NET_VENDOR_ATHEROS=n
CONFIG_IOMMU_PT=n
CONFIG_NET_VENDOR_META=n
CONFIG_FAIR_GROUP_SCHED=n
CONFIG_SCREEN_INFO=n
CONFIG_ARCH_SUPPORTS_CRASH_DUMP=n
CONFIG_JUMP_LABEL=n
CONFIG_IP_MULTICAST=n
CONFIG_EVENTFD=n
CONFIG_HID_GENERIC=n
CONFIG_WLAN_VENDOR_INTEL=n
CONFIG_ARCH_HAS_HW_PTE_YOUNG=n
CONFIG_EFIVAR_FS=n
CONFIG_DECOMPRESS_LZO=n
CONFIG_YENTA_TOSHIBA=n
CONFIG_CGROUP_CPUACCT=n
CONFIG_DRM_VIRTIO_GPU_KMS=n
CONFIG_HID_PANTHERLORD=n
CONFIG_NET_VENDOR_SAMSUNG=n
CONFIG_SND_PCI=n
CONFIG_SCHED_MM_CID=n
CONFIG_HAVE_KERNEL_ZSTD=n
CONFIG_CRYPTO_HW=n
CONFIG_ARCH_STACKWALK=n
CONFIG_UTS_NS=n
CONFIG_CC_HAS_RETURN_THUNK=n
CONFIG_HAVE_KERNEL_LZMA=n
CONFIG_CRYPTO_LIB_SHA256_ARCH=n
CONFIG_9P_FS=n
CONFIG_CGROUP_PERF=n
CONFIG_CC_HAS_AUTO_VAR_INIT_PATTERN=n
CONFIG_ARCH_USE_BUILTIN_BSWAP=n
CONFIG_SERIAL_8250_CONSOLE=n
CONFIG_CONTEXT_TRACKING=n
CONFIG_RTC_INTF_PROC=n
CONFIG_MITIGATION_RFDS=n
CONFIG_RD_XZ=n
CONFIG_NET_VENDOR_HISILICON=n
CONFIG_SECURITY_NETWORK=n
CONFIG_ACPI_DEBUG=n
CONFIG_PAGE_SIZE_LESS_THAN_256KB=n
CONFIG_LD_CAN_USE_KEEP_IN_OVERLAY=n
CONFIG_IA32_FEAT_CTL=n
CONFIG_CRYPTO_ECHAINIV=n
CONFIG_MITIGATION_SSB=n
CONFIG_XFRM=n
CONFIG_ARCH_SUPPORTS_ATOMIC_RMW=n
CONFIG_ARCH_HAS_NMI_SAFE_THIS_CPU_OPS=n
CONFIG_SERIAL_8250_LPSS=n
CONFIG_INPUT_MOUSE=n
CONFIG_SMP=n
CONFIG_BLK_RQ_ALLOC_TIME=n
CONFIG_CPU_FREQ_GOV_ONDEMAND=n
CONFIG_ARCH_SUPPORTS_LTO_CLANG=n
CONFIG_MITIGATION_TAA=n
CONFIG_BINARY_PRINTF=n
CONFIG_EARLY_PRINTK_DBGP=n
CONFIG_RD_LZO=n
CONFIG_COMPACTION=n
CONFIG_PHYLIB=n
CONFIG_QUOTA=n
CONFIG_HAVE_NOINSTR_HACK=n
CONFIG_HAVE_OBJTOOL_MCOUNT=n
CONFIG_NET_VENDOR_I825XX=n
CONFIG_X86_REQUIRED_FEATURE_FPU=n
CONFIG_STACKPROTECTOR_STRONG=n
CONFIG_WLAN_VENDOR_BROADCOM=n
CONFIG_SND_DRIVERS=n
CONFIG_CC_CAN_LINK=n
CONFIG_ARCH_HAS_CPU_CACHE_INVALIDATE_MEMREGION=n
CONFIG_BLK_CGROUP_IOPRIO=n
CONFIG_DRM_I915_USERPTR=n
CONFIG_PREEMPT_LAZY=n
CONFIG_DNS_RESOLVER=n
CONFIG_PCI_ATS=n
CONFIG_BLK_DEV_BSG_COMMON=n
CONFIG_HAVE_KERNEL_LZ4=n
CONFIG_GENERIC_CPU_DEVICES=n
CONFIG_ARCH_HAS_NONLEAF_PMD_YOUNG=n
CONFIG_GENERIC_VDSO_OVERFLOW_PROTECT=n
CONFIG_NOP_TRACER=n
CONFIG_PROC_EVENTS=n
CONFIG_HAVE_USER_RETURN_NOTIFIER=n
CONFIG_ISA_DMA_API=n
CONFIG_ARCH_USE_MEMREMAP_PROT=n
CONFIG_X86_MSR=n
CONFIG_NF_REJECT_IPV6=n
CONFIG_PREEMPT_RCU=n
CONFIG_HAVE_HARDLOCKUP_DETECTOR_PERF=n
CONFIG_UPROBES=n
CONFIG_SUNRPC_BACKCHANNEL=n
CONFIG_SPARSEMEM_EXTREME=n
CONFIG_SPARSEMEM_VMEMMAP_PREINIT=n
CONFIG_SYN_COOKIES=n
CONFIG_NET_FLOW_LIMIT=n
CONFIG_HAVE_ACPI_APEI=n
CONFIG_ACPI_LPIT=n
CONFIG_RD_BZIP2=n
CONFIG_DMI_SCAN_MACHINE_NON_EFI_FALLBACK=n
CONFIG_KERNFS=n
CONFIG_AMD_NUMA=n
CONFIG_GENERIC_CPU_VULNERABILITIES=n
CONFIG_ARCH_HAS_FORTIFY_SOURCE=n
CONFIG_DECOMPRESS_LZMA=n
CONFIG_CDROM=n
CONFIG_BUFFER_HEAD=n
CONFIG_X86_TSC=n
CONFIG_HID=n
CONFIG_INOTIFY_USER=n
CONFIG_NET_9P_VIRTIO=n
CONFIG_SECURITY_SELINUX_BOOTPARAM=n
CONFIG_NET_VENDOR_TI=n
CONFIG_I2C_HID=n
CONFIG_HAVE_MOVE_PUD=n
CONFIG_ARCH_HAS_PMEM_API=n
CONFIG_OLD_SIGSUSPEND3=n
CONFIG_NETFILTER_XT_TARGET_MASQUERADE=n
CONFIG_X86_AMD_PSTATE=n
CONFIG_HRTIMER_REARM_DEFERRED=n
CONFIG_PATA_OLDPIIX=n
CONFIG_HAVE_OPTPROBES=n
CONFIG_WATCHDOG_HANDLE_BOOT_ENABLED=n
CONFIG_X86_PLATFORM_DEVICES=n
CONFIG_X86_REQUIRED_FEATURE_CPUID=n
CONFIG_ARCH_HAS_NON_OVERLAPPING_ADDRESS_SPACE=n
CONFIG_SPARSEMEM_VMEMMAP=n
CONFIG_IP_ADVANCED_ROUTER=n
CONFIG_EARLY_PRINTK_USB=n
CONFIG_DMA_ENGINE=n
CONFIG_ACPI_EC=n
CONFIG_SND_INTEL_NHLT=n
CONFIG_CPU_ISOLATION=n
CONFIG_CLZ_TAB=n
CONFIG_ACPI_THERMAL_LIB=n
CONFIG_RANDSTRUCT_NONE=n
CONFIG_IOMMU_API=n
CONFIG_XPS=n
CONFIG_USB_OHCI_HCD=n
CONFIG_FS_MBCACHE=n
CONFIG_E100=n
CONFIG_ARCH_HAS_STRICT_KERNEL_RWX=n
CONFIG_CC_HAS_ZERO_CALL_USED_REGS=n
CONFIG_DEBUG_STACK_USAGE=n
CONFIG_SND_HDA_I915=n
CONFIG_RTC_INTF_DEV=n
CONFIG_WLAN_VENDOR_ST=n
CONFIG_RD_GZIP=n
CONFIG_CRASH_DUMP=n
CONFIG_ARCH_SPARSEMEM_ENABLE=n
CONFIG_KERNEL_GZIP=n
CONFIG_USB_ANNOUNCE_NEW_DEVICES=n
CONFIG_HAVE_FTRACE_REGS_HAVING_PT_REGS=n
CONFIG_CRYPTO_SKCIPHER2=n
CONFIG_TMPFS_POSIX_ACL=n
CONFIG_ACPI_PCC=n
CONFIG_ACPI_PROCESSOR_CSTATE=n
CONFIG_VMCORE_INFO=n
CONFIG_REGMAP=n
CONFIG_ARCH_HAS_ELFCORE_COMPAT=n
CONFIG_X86_IO_APIC=n
CONFIG_COMPAT_FOR_U64_ALIGNMENT=n
CONFIG_X86_X2APIC=n
CONFIG_USB_NET_DRIVERS=n
CONFIG_X86_EXTENDED_PLATFORM=n
CONFIG_LZ4_COMPRESS=n
CONFIG_SND_HDA_COMPONENT=n
CONFIG_ARCH_USE_MEMTEST=n
CONFIG_FUNCTION_ALIGNMENT_4B=n
CONFIG_HAVE_MIXED_BREAKPOINTS_REGS=n
CONFIG_AUXILIARY_BUS=n
CONFIG_HAVE_DEBUG_KMEMLEAK=n
CONFIG_DRM_PANEL_BRIDGE=n
CONFIG_CGROUP_DEBUG=n
CONFIG_ACPI_MRRM=n
CONFIG_NET_VENDOR_BROCADE=n
CONFIG_UNWIND_USER=n
CONFIG_NET_VENDOR_BROADCOM=n
CONFIG_GENERIC_IRQ_EFFECTIVE_AFF_MASK=n
CONFIG_MAC80211=n
CONFIG_SCHED_SMT=n
CONFIG_MITIGATION_RETBLEED=n
CONFIG_HAVE_PREEMPT_DYNAMIC_CALL=n
CONFIG_ACPI_BUTTON=n
CONFIG_VDSO_GETRANDOM=n
CONFIG_EARLY_PRINTK=n
CONFIG_BUILDTIME_TABLE_SORT=n
CONFIG_IPV6=n
CONFIG_EFI_RUNTIME_WRAPPERS=n
CONFIG_BLK_CGROUP_IOLATENCY=n
CONFIG_HAVE_FUNCTION_ERROR_INJECTION=n
CONFIG_IOMMU_PT_AMDV1=n
CONFIG_HOTPLUG_SPLIT_STARTUP=n
CONFIG_ARCH_MHP_MEMMAP_ON_MEMORY_ENABLE=n
CONFIG_CRC_OPTIMIZATIONS=n
CONFIG_MQ_IOSCHED_DEADLINE=n
CONFIG_HAVE_ARCH_VMAP_STACK=n
CONFIG_DEBUG_WX=n
CONFIG_DECOMPRESS_BZIP2=n
CONFIG_CC_HAS_ENTRY_PADDING=n
CONFIG_SG_POOL=n
CONFIG_HUGETLB_PMD_PAGE_TABLE_SHARING=n
CONFIG_NET_VENDOR_CISCO=n
CONFIG_ARCH_HAS_CPU_ATTACK_VECTORS=n
CONFIG_INTEL_IOMMU_PERF_EVENTS=n
CONFIG_NET_VENDOR_STMICRO=n
CONFIG_ACPI_MADT_WAKEUP=n
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE_PUD=n
CONFIG_HAVE_ARCH_KSTACK_ERASE=n
CONFIG_ACPI_REV_OVERRIDE_POSSIBLE=n
