CONFIG_SPI_OFFLOAD=y
CONFIG_LEDS_BLINKM=y
CONFIG_X86_64=y
CONFIG_HAVE_OBJTOOL_MCOUNT=y
CONFIG_VIRTIO_RTC=y
CONFIG_CC_HAS_NAMED_AS=y
CONFIG_FS_POSIX_ACL=y
CONFIG_HANGCHECK_TIMER=y
CONFIG_STATIC_CALL_SELFTEST=y
CONFIG_INTERRUPT_CNT=y
CONFIG_CGROUP_SCHED=y
CONFIG_ITCO_WDT=y
CONFIG_HAVE_ARCH_KASAN=y
CONFIG_LEDS_NCP5623=y
CONFIG_DA9063_WATCHDOG=y
CONFIG_ARCH_SUPPORTS_KEXEC_SIG=y
CONFIG_FB_SYSMEM_HELPERS=y
CONFIG_AD8801=y
CONFIG_REGULATOR_BD96801=y
CONFIG_COMEDI_PCL818=y
CONFIG_COMEDI_NI_PCIMIO=y
CONFIG_TRACING=y
CONFIG_PERSISTENT_KEYRINGS=y
CONFIG_MHI_BUS_EP=y
CONFIG_DEBUG_VM_PGFLAGS=y
CONFIG_RTC_DRV_RV8803=y
CONFIG_WANT_DEV_COREDUMP=y
CONFIG_IIO_KFIFO_BUF=y
CONFIG_COMMON_CLK_SI544=y
CONFIG_STPMIC1_WATCHDOG=y
CONFIG_REGULATOR=y
CONFIG_SPI_LM70_LLP=y
CONFIG_MFD_MC13XXX_I2C=y
CONFIG_PCSPKR_PLATFORM=y
CONFIG_AMD_ATL=y
CONFIG_COMEDI_NI_PCIDIO=y
CONFIG_MTD_L440GX=y
CONFIG_GCC_NO_STRINGOP_OVERFLOW=y
CONFIG_PPS_CLIENT_PARPORT=y
CONFIG_MFD_MAX14577=y
CONFIG_SPI_INTEL_PCI=y
CONFIG_ARCH_USES_HIGH_VMA_FLAGS=y
CONFIG_DEBUG_WW_MUTEX_SLOWPATH=y
CONFIG_HP206C=y
CONFIG_SYSFS_SYSCALL=y
CONFIG_X86_DISABLED_FEATURE_XENPV=y
CONFIG_AMD_NODE=y
CONFIG_TI_DAC082S085=y
CONFIG_CHARGER_BQ257XX=y
CONFIG_HAVE_ARCH_MMAP_RND_BITS=y
CONFIG_W1_MASTER_GPIO=y
CONFIG_ARCH_WANT_FRAME_POINTERS=y
CONFIG_SMPRO_MISC=y
CONFIG_X86_CPU_RESCTRL=y
CONFIG_DYNAMIC_FTRACE_WITH_REGS=y
CONFIG_FB_DDC=y
CONFIG_MFD_WCD934X=y
CONFIG_ARCH_HAS_CPU_RESCTRL=y
CONFIG_MAX30102=y
CONFIG_REGULATOR_DA9211=y
CONFIG_VF610_DAC=y
CONFIG_MEMFD_CREATE=y
CONFIG_LEDS_MT6370_FLASH=y
CONFIG_I2C_SMBUS=y
CONFIG_VIA_WDT=y
CONFIG_MFD_CS47L85=y
CONFIG_REGULATOR_BD957XMUF=y
CONFIG_ARCH_SUPPORTS_KEXEC_PURGATORY=y
CONFIG_TASKS_RCU=y
CONFIG_BMP280=y
CONFIG_NTB_TRANSPORT=y
CONFIG_PACKING=y
CONFIG_FB_RADEON_I2C=y
CONFIG_PREEMPT_BUILD=y
CONFIG_HAVE_KRETPROBES=y
CONFIG_PSTORE_COMPRESS=y
CONFIG_MTD_CFI_UTIL=y
CONFIG_AD799X=y
CONFIG_REGULATOR_BD71828=y
CONFIG_X86_SPEEDSTEP_LIB=y
CONFIG_INOTIFY_USER=y
CONFIG_MFD_RN5T618=y
CONFIG_MISC_RTSX=y
CONFIG_COMMON_CLK_CS2000_CP=y
CONFIG_UEVENT_HELPER=y
CONFIG_NLS_ISO8859_15=y
CONFIG_CHARGER_PF1550=y
CONFIG_QCOM_VADC_COMMON=y
CONFIG_I2C_OCORES=y
CONFIG_FB_LITTLE_ENDIAN=y
CONFIG_FREEZER=y
CONFIG_MFD_MAX5970=y
CONFIG_HAVE_UNSTABLE_SCHED_CLOCK=y
CONFIG_X86_DISABLED_FEATURE_RETPOLINE=y
CONFIG_HSC030PA_SPI=y
CONFIG_HAVE_DYNAMIC_FTRACE=y
CONFIG_PINCTRL_EQUILIBRIUM=y
CONFIG_GPIO_LOGICVC=y
CONFIG_LEDS_LP50XX=y
CONFIG_GENERIC_ALLOCATOR=y
CONFIG_LEDS_TRIGGER_PATTERN=y
CONFIG_DECOMPRESS_GZIP=y
CONFIG_BOSCH_BNO055_SERIAL=y
CONFIG_CRYPTO_SM4=y
CONFIG_LZO_COMPRESS=y
CONFIG_SENSEAIR_SUNRISE_CO2=y
CONFIG_HAVE_KERNEL_LZ4=y
CONFIG_KGDB=y
CONFIG_MTD_ONENAND_VERIFY_WRITE=y
CONFIG_RD_LZO=y
CONFIG_AD4691=y
CONFIG_INPUT_MOUSE=y
CONFIG_RTC_DRV_ISL12022=y
CONFIG_GPIO_WM831X=y
CONFIG_CPA_DEBUG=y
CONFIG_STACKDEPOT=y
CONFIG_USER_STACKTRACE_SUPPORT=y
CONFIG_MTD_ROM=y
CONFIG_GPIO_74XX_MMIO=y
CONFIG_ARCH_WANT_OPTIMIZE_DAX_VMEMMAP=y
CONFIG_KVM_WERROR=y
CONFIG_FB_SIS_300=y
CONFIG_COMEDI_AMPLC_PC263_PCI=y
CONFIG_CPU_IDLE=y
CONFIG_MFD_CS47L92=y
CONFIG_DW_WATCHDOG=y
CONFIG_IIO_BUFFER_CB=y
CONFIG_DYNAMIC_FTRACE_WITH_DIRECT_CALLS=y
CONFIG_OPEN_DICE=y
CONFIG_ADI_I3C_MASTER=y
CONFIG_CRYPTO_LIB_SM3=y
CONFIG_CRYPTO_ECC=y
CONFIG_CC_HAS_MARCH_NATIVE=y
CONFIG_REGULATOR_RT6160=y
CONFIG_BROADCAST_TLB_FLUSH=y
CONFIG_GPIO_GRGPIO=y
CONFIG_MTD_OOPS=y
CONFIG_MTD_UBI_GLUEBI=y
CONFIG_RD_BZIP2=y
CONFIG_NLS_CODEPAGE_857=y
CONFIG_ADXL380=y
CONFIG_RTC_DRV_ZYNQMP=y
CONFIG_HARDLOCKUP_CHECK_TIMESTAMP=y
CONFIG_IIO_SW_TRIGGER=y
CONFIG_MTD_NAND_ECC=y
CONFIG_INTEL_ATOMISP2_PDX86=y
CONFIG_DMA_NEED_SYNC=y
CONFIG_CRYPTO_LIB_SHA1=y
CONFIG_KVM=y
CONFIG_ADJD_S311=y
CONFIG_EVENTFD=y
CONFIG_SCHED_CACHE=y
CONFIG_LEDS_AW200XX=y
CONFIG_MFD_MT6370=y
CONFIG_CHARGER_MANAGER=y
CONFIG_RTC_DRV_MAX77686=y
CONFIG_RTC_DRV_PCF2127=y
CONFIG_NEED_PER_CPU_EMBED_FIRST_CHUNK=y
CONFIG_CRYPTO_AUTHENC=y
CONFIG_C2PORT_DURAMAR_2150=y
CONFIG_IIO_HRTIMER_TRIGGER=y
CONFIG_SPI_OFFLOAD_TRIGGER_ADI_UTIL_SD=y
CONFIG_I2C_ALI1535=y
CONFIG_TCG_TPM=y
CONFIG_LEDS_QNAP_MCU=y
CONFIG_COMEDI_NI_65XX=y
CONFIG_OF_FLATTREE=y
CONFIG_DEBUG_OBJECTS_PERCPU_COUNTER=y
CONFIG_X86_SUPPORTS_MEMORY_FAILURE=y
CONFIG_CRYPTO_DRBG=y
CONFIG_FB_CFB_IMAGEBLIT=y
CONFIG_X86_INTEL_MID=y
CONFIG_STX104=y
CONFIG_REGULATOR_SY8824X=y
CONFIG_CRYPTO_LIB_MLDSA=y
CONFIG_DA_MON_EVENTS_ID=y
CONFIG_COMEDI_NI_6527=y
CONFIG_HAVE_SYSCALL_TRACEPOINTS=y
CONFIG_ARCH_WANT_OPTIMIZE_HUGETLB_VMEMMAP=y
CONFIG_CC_HAS_WORKING_NOSANITIZE_ADDRESS=y
CONFIG_BATTERY_GOLDFISH=y
CONFIG_X86_DIRECT_GBPAGES=y
CONFIG_FAIR_GROUP_SCHED=y
CONFIG_PROFILE_ANNOTATED_BRANCHES=y
CONFIG_RBTREE_TEST=y
CONFIG_GENERIC_IRQ_ENTRY=y
CONFIG_GPIOLIB_IRQCHIP=y
CONFIG_ARCH_HAS_ZONE_DMA_SET=y
CONFIG_CFAG12864B=y
CONFIG_DYNAMIC_SIGFRAME=y
CONFIG_FPGA_MGR_LATTICE_SYSCONFIG_SPI=y
CONFIG_ENS160=y
CONFIG_I2C_KEMPLD=y
CONFIG_PHY_CAN_TRANSCEIVER=y
CONFIG_SECCOMP=y
CONFIG_SPARSEMEM=y
CONFIG_HID=y
CONFIG_WM831X_WATCHDOG=y
CONFIG_MAX11205=y
CONFIG_HAVE_RUST=y
CONFIG_BMA400=y
CONFIG_MCP41010=y
CONFIG_TSYS02D=y
CONFIG_HAVE_FUNCTION_ERROR_INJECTION=y
CONFIG_MEMCG=y
CONFIG_ARCH_SUPPORTS_DEBUG_PAGEALLOC=y
CONFIG_REGULATOR_MAX77541=y
CONFIG_HAVE_ARCH_HUGE_VMAP=y
CONFIG_HTU21=y
CONFIG_REGULATOR_PFUZE100=y
CONFIG_MTD_NAND_GPIO=y
CONFIG_AD7949=y
CONFIG_BATTERY_RT5033=y
CONFIG_ARCH_HAS_NON_OVERLAPPING_ADDRESS_SPACE=y
CONFIG_ARCH_SUPPORTS_CRASH_HOTPLUG=y
CONFIG_NTB_AMD=y
CONFIG_RESET_CONTROLLER=y
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST=y
CONFIG_SPARSEMEM_VMEMMAP_ENABLE=y
CONFIG_RTC_INTF_DEV_UIE_EMUL=y
CONFIG_SMSC_SCH311X_WDT=y
CONFIG_MTD_OTP=y
CONFIG_SCHED_MC_PRIO=y
CONFIG_CRYPTO_ECDH=y
CONFIG_CRYPTO_ECB=y
CONFIG_FUNCTION_TRACER=y
CONFIG_VIRTIO_RTC_CLASS=y
CONFIG_ENERGY_MODEL=y
CONFIG_ROMFS_ON_MTD=y
CONFIG_APDS9300=y
CONFIG_HMC6352=y
CONFIG_W1_SLAVE_DS2433_CRC=y
CONFIG_IIO_SW_DEVICE=y
CONFIG_EXTCON_USB_GPIO=y
CONFIG_IIO_BUFFER_HW_CONSUMER=y
CONFIG_RTC_DRV_M48T35=y
CONFIG_TRACEPOINTS=y
CONFIG_MAX5487=y
CONFIG_FB_SYS_FILLRECT=y
CONFIG_TI_ADC108S102=y
CONFIG_REGULATOR_RT5120=y
CONFIG_MTD_NAND_CAFE=y
CONFIG_X86_PLATFORM_DEVICES=y
CONFIG_SECONDARY_TRUSTED_KEYRING=y
CONFIG_GENERIC_GETTIMEOFDAY=y
CONFIG_BACKLIGHT_ADP8870=y
CONFIG_JFFS2_SUMMARY=y
CONFIG_INPUT_KEYBOARD=y
CONFIG_FXLS8962AF_SPI=y
CONFIG_CONFIGFS_FS=y
CONFIG_SCA3000=y
CONFIG_CC_HAS_RETURN_THUNK=y
CONFIG_X86_REQUIRED_FEATURE_CMOV=y
CONFIG_MFD_TPS65218=y
CONFIG_CPU_IDLE_GOV_LADDER=y
CONFIG_DEBUG_DEVRES=y
CONFIG_SERIO_RAW=y
CONFIG_TI_DAC5571=y
CONFIG_HAVE_KVM_NO_POLL=y
CONFIG_MTD_NAND_CORE=y
CONFIG_RTC_DRV_RV3032=y
CONFIG_NLS_CODEPAGE_861=y
CONFIG_FB_NVIDIA=y
CONFIG_INPUT=y
CONFIG_MFD_NTXEC=y
CONFIG_ARCH_HAVE_EXTRA_ELF_NOTES=y
CONFIG_MFD_ARIZONA_I2C=y
CONFIG_EXAR_WDT=y
CONFIG_APDS9960=y
CONFIG_CPU_FREQ_DEFAULT_GOV_PERFORMANCE=y
CONFIG_FW_LOADER_PAGED_BUF=y
CONFIG_UAPI_HEADER_TEST=y
CONFIG_HAVE_DYNAMIC_FTRACE_NO_PATCHABLE=y
CONFIG_LPC_SCH=y
CONFIG_CRYPTO_AEGIS128=y
CONFIG_PTDUMP=y
CONFIG_AD74115=y
CONFIG_I2C_SIS630=y
CONFIG_MTD_RAW_NAND=y
CONFIG_COMEDI_ADL_PCI7250=y
CONFIG_TTY=y
CONFIG_CRYPTO_RMD160=y
CONFIG_CC_HAS_ASM_INLINE=y
CONFIG_SCHED_SMT=y
CONFIG_FB_ARC=y
CONFIG_PECI=y
CONFIG_PHY_INTEL_LGM_EMMC=y
CONFIG_AD7091R8=y
CONFIG_FPGA_MGR_ALTERA_CVP=y
CONFIG_DECOMPRESS_BZIP2=y
CONFIG_AD5791=y
CONFIG_MFD_SYSCON=y
CONFIG_SIGNALFD=y
CONFIG_REGULATOR_MC13783=y
CONFIG_I2C_ISCH=y
CONFIG_IIO_GTS_HELPER=y
CONFIG_PECI_CPU=y
CONFIG_COMEDI_ADDI_APCI_16XX=y
CONFIG_INTEL_SCU=y
CONFIG_LTR501=y
CONFIG_XARRAY_MULTI=y
CONFIG_RTC_LIB=y
CONFIG_X86_CX8=y
CONFIG_PAGE_SIZE_4KB=y
CONFIG_HAVE_USER_RETURN_NOTIFIER=y
CONFIG_MTD_ONENAND_2X_PROGRAM=y
CONFIG_COMMON_CLK_BD718XX=y
CONFIG_GPIO_TPIC2810=y
CONFIG_PROVE_RAW_LOCK_NESTING=y
CONFIG_TI_ADC128S052=y
CONFIG_X86_PLATFORM_DRIVERS_UNIWILL=y
CONFIG_PINCTRL_CS47L85=y
CONFIG_CHARGER_RT9455=y
CONFIG_HD44780_COMMON=y
CONFIG_REGULATOR_MAX8952=y
CONFIG_SPI_MEM=y
CONFIG_HAS_IOPORT=y
CONFIG_KVM_MMIO=y
CONFIG_HAVE_GIGANTIC_FOLIOS=y
CONFIG_EXPORTFS=y
CONFIG_RTC_CLASS=y
CONFIG_FTRACE_SORT_STARTUP_TEST=y
CONFIG_LCD_ILI922X=y
CONFIG_DAX=y
CONFIG_AD7793=y
CONFIG_PVPANIC_PCI=y
CONFIG_IIO=y
CONFIG_MFD_MADERA=y
CONFIG_CRYPTO_CRC32C=y
CONFIG_X86_PLATFORM_DRIVERS_DELL=y
CONFIG_I2C_DEMUX_PINCTRL=y
CONFIG_USE_PERCPU_NUMA_NODE_ID=y
CONFIG_PINCTRL_AS3722=y
CONFIG_COMEDI_MISC_DRIVERS=y
CONFIG_HAVE_KPROBES=y
CONFIG_AD5592R_BASE=y
CONFIG_SLUB=y
CONFIG_ZSTD_COMMON=y
CONFIG_NAU7802=y
CONFIG_CRC4=y
CONFIG_HA_MON_EVENTS_ID=y
CONFIG_RD_ZSTD=y
CONFIG_BACKLIGHT_WM831X=y
CONFIG_TEST_DIV64=y
CONFIG_PCI_DEBUG=y
CONFIG_AD7191=y
CONFIG_MTD_MAP_BANK_WIDTH_2=y
CONFIG_SPS30_I2C=y
CONFIG_HAVE_ARCH_USERFAULTFD_WP=y
CONFIG_WATCHDOG_PRETIMEOUT_GOV_SEL=y
CONFIG_FTRACE_MCOUNT_USE_CC=y
CONFIG_MLX90635=y
CONFIG_SPI_INTEL=y
CONFIG_ZPA2326=y
CONFIG_X86_REQUIRED_FEATURE_XMM=y
CONFIG_BPF_UNPRIV_DEFAULT_OFF=y
CONFIG_REGULATOR_BD718XX=y
CONFIG_MMU_GATHER_MERGE_VMAS=y
CONFIG_COMEDI_ADDI_APCI_2032=y
CONFIG_SIOX_BUS_GPIO=y
CONFIG_IRQ_TIME_ACCOUNTING=y
CONFIG_XZ_DEC_BCJ=y
CONFIG_LITEX=y
CONFIG_CRYPTO_CAST_COMMON=y
CONFIG_PTP_1588_CLOCK_OPTIONAL=y
CONFIG_QCOM_SPMI_ADC5_GEN3=y
CONFIG_CHARGER_LT3651=y
CONFIG_LOCKDEP=y
CONFIG_PT_RECLAIM=y
CONFIG_FB_NVIDIA_I2C=y
CONFIG_GPIO_IT87=y
CONFIG_ARCH_CORRECT_STACKTRACE_ON_KRETPROBE=y
CONFIG_MFD_TPS65910=y
CONFIG_TCG_VTPM_PROXY=y
CONFIG_CRYPTO_842=y
CONFIG_AD7476=y
CONFIG_HAVE_ARCH_COMPAT_MMAP_BASES=y
CONFIG_AD7746=y
CONFIG_LCD_AMS369FG06=y
CONFIG_CHARGER_GPIO=y
CONFIG_XILINX_INTC=y
CONFIG_LEDS_CLASS_FLASH=y
CONFIG_REGULATOR_RT5133=y
CONFIG_HAVE_KLP_BUILD=y
CONFIG_AMD_NB=y
CONFIG_TREE_SRCU=y
CONFIG_SERIO_LIBPS2=y
CONFIG_RING_BUFFER_STARTUP_TEST=y
CONFIG_CRYPTO_CHACHA20=y
CONFIG_CRYPTO_LIB_MD5=y
CONFIG_GPIO_GENERIC=y
CONFIG_ADF4377=y
CONFIG_HAVE_FUNCTION_ARG_ACCESS_API=y
CONFIG_ALIM7101_WDT=y
CONFIG_AD5770R=y
CONFIG_LEDS_EXPRESSWIRE=y
CONFIG_LEDS_LM3533=y
CONFIG_INSTRUCTION_DECODER=y
CONFIG_KVM_GENERIC_HARDWARE_ENABLING=y
CONFIG_VGASTATE=y
CONFIG_FB_CYBER2000=y
CONFIG_REED_SOLOMON_DEC16=y
CONFIG_HAVE_KVM_READONLY_MEM=y
CONFIG_FXLS8962AF=y
CONFIG_FB_VGA16=y
CONFIG_IPMI_SSIF=y
CONFIG_PANEL_CHANGE_MESSAGE=y
CONFIG_REGULATOR_MC13XXX_CORE=y
CONFIG_ARCH_USE_QUEUED_RWLOCKS=y
CONFIG_FSI=y
CONFIG_HAVE_ARCH_MMAP_RND_COMPAT_BITS=y
CONFIG_HAVE_KERNEL_ZSTD=y
CONFIG_PRINTK=y
CONFIG_SPI_FSI=y
CONFIG_COMEDI_CB_PCIMDAS=y
CONFIG_RCU_TRACE=y
CONFIG_OBJTOOL=y
CONFIG_CRYPTO_NULL=y
CONFIG_CRYPTO_SERPENT_AVX_X86_64=y
CONFIG_MFD_RK8XX_I2C=y
CONFIG_REGULATOR_MAX20411=y
CONFIG_X86=y
CONFIG_ADIS16201=y
CONFIG_DEVFREQ_GOV_SIMPLE_ONDEMAND=y
CONFIG_MCP9600=y
CONFIG_HAVE_DEBUG_KMEMLEAK=y
CONFIG_CRYPTO_LIB_AESCFB=y
CONFIG_MTD_AMD76XROM=y
CONFIG_CRYPTO_KPP=y
CONFIG_GENERIC_TRACER=y
CONFIG_HAVE_STACKPROTECTOR=y
CONFIG_HAVE_KVM_CPU_RELAX_INTERCEPT=y
CONFIG_BPF_PRELOAD=y
CONFIG_COMEDI_ADDI_APCI_1500=y
CONFIG_CRYPTO_BLOWFISH_COMMON=y
CONFIG_MFD_VX855=y
CONFIG_PVPANIC_MMIO=y
CONFIG_THERMAL_OF=y
CONFIG_HAVE_PERF_USER_STACK_DUMP=y
CONFIG_TRACE_EVENT_INJECT=y
CONFIG_FUNCTION_PROFILER=y
CONFIG_CRYPTO_CRYPTD=y
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_JMP=y
CONFIG_PCIE_CADENCE_PLAT_HOST=y
CONFIG_ARCH_WANT_LD_ORPHAN_WARN=y
CONFIG_REGULATOR_VIRTUAL_CONSUMER=y
CONFIG_TI_TSC2046=y
CONFIG_MAX34408=y
CONFIG_MFD_ROHM_BD957XMUF=y
CONFIG_HUGETLBFS=y
CONFIG_SPARSEMEM_VMEMMAP_PREINIT=y
CONFIG_CC_IS_GCC=y
CONFIG_THERMAL=y
CONFIG_LEDS_TRIGGER_CAMERA=y
CONFIG_CRYPTO_LRW=y
CONFIG_X86_REQUIRED_FEATURE_ALWAYS=y
CONFIG_MFD_TPS65912_I2C=y
CONFIG_FB=y
CONFIG_EDAC_IE31200=y
CONFIG_PCI_FTPCI100=y
CONFIG_RTC_DEBUG=y
CONFIG_HAVE_GENERIC_TIF_BITS=y
CONFIG_REGULATOR_SY8106A=y
CONFIG_PM_OPP=y
CONFIG_GCC10_NO_ARRAY_BOUNDS=y
CONFIG_MOUSE_PS2_SMBUS=y
CONFIG_I2C_ALI15X3=y
CONFIG_CGROUPS=y
CONFIG_VIRTUALIZATION=y
CONFIG_RTC_DRV_X1205=y
CONFIG_CRYPTO_SHA3=y
CONFIG_ARCH_HAS_CURRENT_STACK_POINTER=y
CONFIG_CRYPTO_ZSTD=y
CONFIG_AS_HAS_NON_CONST_ULEB128=y
CONFIG_ADVANTECH_WDT=y
CONFIG_SI7005=y
CONFIG_ARCH_CLOCKSOURCE_INIT=y
CONFIG_PROC_CHILDREN=y
CONFIG_REGULATOR_SKY81452=y
CONFIG_BATTERY_DS2760=y
CONFIG_LMP91000=y
CONFIG_DEBUG_PERF_USE_VMALLOC=y
CONFIG_HW_RANDOM_VIA=y
CONFIG_IOSF_MBI=y
CONFIG_INTEL_RAPL_CORE=y
CONFIG_RTC_DRV_PALMAS=y
CONFIG_ADXL380_I2C=y
CONFIG_BACKLIGHT_ARCXCNN=y
CONFIG_INTERVAL_TREE=y
CONFIG_MAX1363=y
CONFIG_TEST_MULDIV64=y
CONFIG_AD5064=y
CONFIG_FB_NVIDIA_DEBUG=y
CONFIG_ARCH_HAS_KCOV=y
CONFIG_CONSOLE_POLL=y
CONFIG_DECOMPRESS_XZ=y
CONFIG_TCG_TIS_I2C_ATMEL=y
CONFIG_MAX517=y
CONFIG_W1_SLAVE_DS2781=y
CONFIG_HAVE_SINGLE_FTRACE_DIRECT_OPS=y
