CONFIG_ARCH_DMA_ADDR_T_64BIT=n
CONFIG_ARCH_SUPPORTS_ATOMIC_RMW=n
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO_BARE=n
CONFIG_CGROUP_DEVICE=n
CONFIG_MODULE_FORCE_UNLOAD=n
CONFIG_AIO=n
CONFIG_HSU_DMA=n
CONFIG_SCHED_INFO=n
CONFIG_HIBERNATE_CALLBACKS=n
CONFIG_64BIT=n
CONFIG_DRM_MIPI_DSI=n
CONFIG_NET_VENDOR_EZCHIP=n
CONFIG_SERIAL_8250_CONSOLE=n
CONFIG_CGROUPS=n
CONFIG_BLK_DEV_WRITE_MOUNTED=n
CONFIG_PREEMPTION=n
CONFIG_HAS_DMA=n
CONFIG_NET_VENDOR_GOOGLE=n
CONFIG_ACPI_HOTPLUG_CPU=n
CONFIG_SYSTEM_TRUSTED_KEYRING=n
CONFIG_GENERIC_IRQ_MIGRATION=n
CONFIG_HAVE_ARCH_KGDB=n
CONFIG_BLK_DEV_SD=n
CONFIG_SUNRPC_BACKCHANNEL=n
CONFIG_HAVE_ARCH_HUGE_VMAP=n
CONFIG_X86_IO_APIC=n
CONFIG_ACPI_NUMA=n
CONFIG_UNWINDER_ORC=n
CONFIG_ARCH_HAS_CURRENT_STACK_POINTER=n
CONFIG_VIRTIO_CONSOLE=n
CONFIG_MITIGATION_MDS=n
CONFIG_PHY_PACKAGE=n
CONFIG_SBITMAP=n
CONFIG_HW_RANDOM=n
CONFIG_TASK_IO_ACCOUNTING=n
CONFIG_PROC_PID_ARCH_STATUS=n
CONFIG_SECURITY_SELINUX=n
CONFIG_HRTIMER_REARM_DEFERRED=n
CONFIG_X86_BUS_LOCK_DETECT=n
CONFIG_CRYPTO_ALGAPI2=n
CONFIG_ARCH_SUPPORTS_RT=n
CONFIG_CRYPTO_HASH_INFO=n
CONFIG_KRETPROBE_ON_RETHOOK=n
CONFIG_PNFS_FILE_LAYOUT=n
CONFIG_INTEL_IOMMU_PERF_EVENTS=n
CONFIG_NET_VENDOR_MICROSEMI=n
CONFIG_ATA_FORCE=n
CONFIG_NETFILTER=n
CONFIG_PCI_DOMAINS=n
CONFIG_ADVISE_SYSCALLS=n
CONFIG_X86_CET=n
CONFIG_MITIGATION_CALL_DEPTH_TRACKING=n
CONFIG_SCSI_PROC_FS=n
CONFIG_NET_XGRESS=n
CONFIG_SND_SEQ_DEVICE=n
CONFIG_CGROUP_PIDS=n
CONFIG_SND_DRIVERS=n
CONFIG_MOUSE_PS2_CYPRESS=n
CONFIG_DW_DMAC_CORE=n
CONFIG_SLUB_DEBUG=n
CONFIG_NETFILTER_XT_TARGET_TCPMSS=n
CONFIG_X86_THERMAL_VECTOR=n
CONFIG_BLK_DEV_INITRD=n
CONFIG_ARCH_SUPPORTS_KEXEC_JUMP=n
CONFIG_SSB_POSSIBLE=n
CONFIG_DEFAULT_SECURITY_SELINUX=n
CONFIG_MOUSE_PS2_BYD=n
CONFIG_ARCH_WANTS_THP_SWAP=n
CONFIG_ACPI_I2C_OPREGION=n
CONFIG_WLAN_VENDOR_ADMTEK=n
CONFIG_SERIAL_8250_SHARE_IRQ=n
CONFIG_SCHED_MC=n
CONFIG_NET_CLS_ACT=n
CONFIG_TMPFS_POSIX_ACL=n
CONFIG_NLS_UTF8=n
CONFIG_IP_PIMSM_V1=n
CONFIG_NET_SCH_FIFO=n
CONFIG_FIRMWARE_MEMMAP=n
CONFIG_NET_EMATCH=n
CONFIG_NET_VENDOR_NVIDIA=n
CONFIG_HAVE_IOREMAP_PROT=n
CONFIG_FUTEX_ROBUST_UNLOCK=n
CONFIG_HAVE_REGS_AND_STACK_ACCESS_API=n
CONFIG_X86_IOPL_IOPERM=n
CONFIG_ZSTD_DECOMPRESS=n
CONFIG_GENERIC_EARLY_IOREMAP=n
CONFIG_HID_GYRATION=n
CONFIG_REALTEK_PHY=n
CONFIG_ARCH_HAS_STRICT_KERNEL_RWX=n
CONFIG_PAGE_MAPCOUNT=n
CONFIG_FUNCTION_ALIGNMENT_4B=n
CONFIG_MITIGATION_PAGE_TABLE_ISOLATION=n
CONFIG_CRC_CCITT=n
CONFIG_QUEUED_SPINLOCKS=n
CONFIG_SYNC_FILE=n
CONFIG_ARCH_MIGHT_HAVE_PC_PARPORT=n
CONFIG_CGROUP_MISC=n
CONFIG_GENERIC_ISA_DMA=n
CONFIG_STACKDEPOT=n
CONFIG_MOUSE_PS2=n
CONFIG_CPU_SUP_HYGON=n
CONFIG_FILE_LOCKING=n
CONFIG_LOCALVERSION_AUTO=n
CONFIG_HAVE_KPROBES_ON_FTRACE=n
CONFIG_YENTA_TI=n
CONFIG_ARCH_HAS_STRICT_MODULE_RWX=n
CONFIG_NEED_PER_CPU_PAGE_FIRST_CHUNK=n
CONFIG_VGA_ARB=n
CONFIG_HAVE_KERNEL_LZ4=n
CONFIG_HOTPLUG_CORE_SYNC=n
CONFIG_X86_DISABLED_FEATURE_SEV_SNP=n
CONFIG_DECOMPRESS_BZIP2=n
CONFIG_HAVE_RETHOOK=n
CONFIG_GENERIC_IRQ_PROBE=n
CONFIG_IOMMU_API=n
CONFIG_ARCH_MEMORY_ORDER_TSO=n
CONFIG_ASYMMETRIC_KEY_TYPE=n
CONFIG_ARCH_WANT_DEFAULT_BPF_JIT=n
CONFIG_I2C_BOARDINFO=n
CONFIG_IP_MULTIPLE_TABLES=n
CONFIG_EXPORTFS=n
CONFIG_X86_VMX_FEATURE_NAMES=n
CONFIG_NETLABEL=n
CONFIG_HOTPLUG_CORE_SYNC_FULL=n
CONFIG_YENTA_ENE_TUNE=n
CONFIG_USB_ANNOUNCE_NEW_DEVICES=n
CONFIG_HAVE_ACPI_APEI=n
CONFIG_NET_VENDOR_CORTINA=n
CONFIG_HAVE_ARCH_KFENCE=n
CONFIG_SND_TIMER=n
CONFIG_PCMCIA=n
CONFIG_HOTPLUG_CORE_SYNC_DEAD=n
CONFIG_GENERIC_STRNLEN_USER=n
CONFIG_X86_TSC=n
CONFIG_DEBUG_DEVRES=n
CONFIG_SYSVIPC_SYSCTL=n
CONFIG_IO_URING_ZCRX=n
CONFIG_X86_DISABLED_FEATURE_XENPV=n
CONFIG_IRQ_DOMAIN=n
CONFIG_HAVE_BUILDTIME_MCOUNT_SORT=n
CONFIG_DMADEVICES=n
CONFIG_NET_VENDOR_AGERE=n
CONFIG_BUILDTIME_TABLE_SORT=n
CONFIG_HAS_IOMEM=n
CONFIG_PCI_PRI=n
CONFIG_CRYPTO_AUTHENC=n
CONFIG_HAVE_MMIOTRACE_SUPPORT=n
CONFIG_DNOTIFY=n
CONFIG_RD_LZO=n
CONFIG_IA32_FEAT_CTL=n
CONFIG_SERIAL_CORE=n
CONFIG_CHR_DEV_SG=n
CONFIG_NO_HZ_IDLE=n
CONFIG_ACPI_CONTAINER=n
CONFIG_USB_MON=n
CONFIG_ACPI_HOTPLUG_IOAPIC=n
CONFIG_THERMAL_NETLINK=n
CONFIG_PAGE_POOL=n
CONFIG_IOMMU_DMA=n
CONFIG_NETDEVICES=n
CONFIG_NETFILTER_XT_TARGET_LOG=n
CONFIG_CLKBLD_I8253=n
CONFIG_BLK_DEV_IO_TRACE=n
CONFIG_VIRTIO_DMA_SHARED_BUFFER=n
CONFIG_LEGACY_TIOCSTI=n
CONFIG_MAC_EMUMOUSEBTN=n
CONFIG_EFI_ESRT=n
CONFIG_PM_SLEEP_DEBUG=n
CONFIG_USB_HIDDEV=n
CONFIG_HID_SONY=n
CONFIG_HAVE_KCSAN_COMPILER=n
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST=n
CONFIG_HAVE_KERNEL_LZMA=n
CONFIG_NET_VENDOR_ASIX=n
CONFIG_INTERVAL_TREE=n
CONFIG_NF_CONNTRACK_SECMARK=n
CONFIG_CRC32=n
CONFIG_ARCH_SUPPORTS_PAGE_TABLE_CHECK=n
CONFIG_CC_HAS_NAMED_AS=n
CONFIG_X86_DISABLED_FEATURE_CENTAUR_MCR=n
CONFIG_HAVE_OBJTOOL_MCOUNT=n
CONFIG_NETFILTER_XT_TARGET_NFLOG=n
CONFIG_PCI_LOCKLESS_CONFIG=n
CONFIG_USB_XHCI_PCI=n
CONFIG_SND_SEQUENCER=n
CONFIG_ARCH_SUPPORTS_KEXEC_BZIMAGE_VERIFY_SIG=n
CONFIG_RUNTIME_TESTING_MENU=n
CONFIG_NET_VENDOR_8390=n
CONFIG_KPROBES=n
CONFIG_IPV6_NDISC_NODETYPE=n
CONFIG_NET_VENDOR_ADAPTEC=n
CONFIG_EFI_EARLYCON=n
CONFIG_ARCH_HAS_CACHE_LINE_SIZE=n
CONFIG_DMA_VIRTUAL_CHANNELS=n
CONFIG_HAVE_PERF_USER_STACK_DUMP=n
CONFIG_X86_REQUIRED_FEATURE_NOPL=n
CONFIG_CRYPTO_LIB_SHA512=n
CONFIG_GPU_BUDDY=n
CONFIG_IP_PNP_RARP=n
CONFIG_PERF_EVENTS_INTEL_CSTATE=n
CONFIG_AS_IS_GNU=n
CONFIG_KVFREE_RCU_BATCHED=n
CONFIG_USB_NET_DRIVERS=n
CONFIG_HAVE_ARCH_KMSAN=n
CONFIG_HAVE_SOFTIRQ_ON_OWN_STACK=n
CONFIG_X86_ACPI_CPUFREQ=n
CONFIG_HAS_SECURITY_AUDIT=n
CONFIG_GCC_ASM_GOTO_OUTPUT_BROKEN=n
CONFIG_SERIAL_8250_PERICOM=n
CONFIG_ARCH_SUPPORTS_MSEAL_SYSTEM_MAPPINGS=n
CONFIG_SND_INTEL_SOUNDWIRE_ACPI=n
CONFIG_NF_LOG_IPV4=n
CONFIG_ARCH_HAS_KCOV=n
CONFIG_HAVE_GCC_PLUGINS=n
CONFIG_EXT4_FS_SECURITY=n
CONFIG_BLK_DEV_SR=n
CONFIG_QUOTACTL=n
CONFIG_X86_DISABLED_FEATURE_ENQCMD=n
CONFIG_EFI_RUNTIME_WRAPPERS=n
CONFIG_SOCK_RX_QUEUE_MAPPING=n
CONFIG_HAVE_CMPXCHG_DOUBLE=n
CONFIG_HAVE_CALL_THUNKS=n
CONFIG_DMA_ENGINE=n
CONFIG_NET_RX_BUSY_POLL=n
CONFIG_SND=n
CONFIG_DRM_TTM=n
CONFIG_MULTIUSER=n
CONFIG_GENERIC_GETTIMEOFDAY=n
CONFIG_COMPAT_32=n
CONFIG_SCSI_MOD=n
CONFIG_KPROBE_EVENTS=n
CONFIG_HID_PID=n
CONFIG_SWIOTLB=n
CONFIG_LDISC_AUTOLOAD=n
CONFIG_LOCK_SPIN_ON_OWNER=n
CONFIG_NFS_V4_0=n
CONFIG_HAVE_CONTEXT_TRACKING_USER_OFFSTACK=n
CONFIG_NET_VENDOR_HISILICON=n
CONFIG_IOMMU_PT_AMDV1=n
CONFIG_SND_PCM=n
CONFIG_CROSS_MEMORY_ATTACH=n
CONFIG_HAVE_KRETPROBES=n
CONFIG_HAVE_FUNCTION_ARG_ACCESS_API=n
CONFIG_PCIEASPM=n
CONFIG_NET_VENDOR_MICROSOFT=n
CONFIG_IOMMU_SVA=n
CONFIG_NFS_ACL_SUPPORT=n
CONFIG_FW_CACHE=n
CONFIG_INPUT_EVDEV=n
CONFIG_CPU_ISOLATION=n
CONFIG_HARDLOCKUP_CHECK_TIMESTAMP=n
CONFIG_NET_VENDOR_SIS=n
CONFIG_MAC80211_RC_DEFAULT_MINSTREL=n
CONFIG_NET_POLL_CONTROLLER=n
CONFIG_FAT_FS=n
CONFIG_HAVE_NOINSTR_VALIDATION=n
CONFIG_MMU_NOTIFIER=n
CONFIG_HPET_TIMER=n
CONFIG_ACPI_VIDEO=n
CONFIG_SND_PCM_TIMER=n
CONFIG_SHMEM=n
CONFIG_IOMMU_SUPPORT=n
CONFIG_INTEL_MEI_ME=n
CONFIG_MOUSE_PS2_TRACKPOINT=n
CONFIG_GENERIC_MSI_IRQ=n
CONFIG_DECOMPRESS_ZSTD=n
CONFIG_NET_VENDOR_DEC=n
CONFIG_ARCH_SUPPORTS_LTO_CLANG=n
CONFIG_CGROUP_PERF=n
CONFIG_HAVE_FENTRY=n
CONFIG_ARCH_SUPPORTS_CRASH_DUMP=n
CONFIG_CRYPTO_LIB_GF128HASH_ARCH=n
CONFIG_HAVE_KERNEL_GZIP=n
CONFIG_NET_VENDOR_HUAWEI=n
CONFIG_SCSI_COMMON=n
CONFIG_SATA_AHCI=n
CONFIG_X86_ACPI_CPUFREQ_CPB=n
CONFIG_NET_VENDOR_NETRONOME=n
CONFIG_UTS_NS=n
CONFIG_GPIOLIB_LEGACY=n
CONFIG_HAVE_HARDLOCKUP_DETECTOR_PERF=n
CONFIG_NET_VENDOR_CAVIUM=n
CONFIG_STRICT_MODULE_RWX=n
CONFIG_X86_DISABLED_FEATURE_TDX_GUEST=n
CONFIG_WLAN_VENDOR_INTERSIL=n
CONFIG_SND_INTEL_NHLT=n
CONFIG_HPET=n
CONFIG_MITIGATION_SPECTRE_V2=n
CONFIG_I3C_OR_I2C=n
CONFIG_HAVE_PCSPKR_PLATFORM=n
CONFIG_TRACE_IRQFLAGS_SUPPORT=n
CONFIG_IOSF_MBI=n
CONFIG_NFS_DISABLE_UDP_SUPPORT=n
CONFIG_HAVE_C_RECORDMCOUNT=n
CONFIG_SND_PCMCIA=n
CONFIG_DEBUG_MEMORY_INIT=n
CONFIG_ARCH_HAS_FORTIFY_SOURCE=n
CONFIG_MITIGATION_TAA=n
CONFIG_BINFMT_MISC=n
CONFIG_BRANCH_PROFILE_NONE=n
