CONFIG_THINKPAD_LMI=y
CONFIG_SYSVIPC=y
CONFIG_X86_PAT=y
CONFIG_REGMAP_I3C=y
CONFIG_ARCH_HAS_FAST_MULTIPLIER=y
CONFIG_NVMEM_SPMI_SDAM=y
CONFIG_SERIO_PS2MULT=y
CONFIG_PCI_BIOS=y
CONFIG_AIO=y
CONFIG_SCHED_HRTICK=y
CONFIG_AL_FIC=y
CONFIG_INPUT_DRV260X_HAPTICS=y
CONFIG_CC_HAS_AUTO_VAR_INIT_PATTERN=y
CONFIG_EXTCON_FSA9480=y
CONFIG_SQUASHFS_MOUNT_DECOMP_THREADS=y
CONFIG_SCSI_SPI_ATTRS=y
CONFIG_SENSORS_WM831X=y
CONFIG_DEBUG_KMEMLEAK_DEFAULT_OFF=y
CONFIG_HAVE_ARCH_KFENCE=y
CONFIG_MTD_REDBOOT_PARTS_READONLY=y
CONFIG_NVRAM=y
CONFIG_ARCH_SUPPORTS_RT=y
CONFIG_ARCH_USE_CMPXCHG_LOCKREF=y
CONFIG_INTEL_RAPL=y
CONFIG_COMEDI_ISADMA=y
CONFIG_INTEL_VSEC=y
CONFIG_MFD_TPS65218=y
CONFIG_X86_DEBUGCTLMSR=y
CONFIG_ARCH_HAS_MEMBARRIER_SYNC_CORE=y
CONFIG_LOCK_MM_AND_FIND_VMA=y
CONFIG_GENERIC_IRQ_PROBE=y
CONFIG_IO_WQ=y
CONFIG_AS_WRUSS=y
CONFIG_SURFACE_PLATFORMS=y
CONFIG_SENSORS_ADT7411=y
CONFIG_UBIFS_FS_XATTR=y
CONFIG_LEDS_MC13783=y
CONFIG_GPIO_VIRTUSER=y
CONFIG_HAVE_ACPI_APEI_NMI=y
CONFIG_I2C_AMD_MP2=y
CONFIG_BACKLIGHT_DA9052=y
CONFIG_ACPI_CONTAINER=y
CONFIG_FW_DEVLINK_SYNC_STATE_TIMEOUT=y
CONFIG_REGULATOR_PV88090=y
CONFIG_HAVE_MOVE_PMD=y
CONFIG_DEBUG_LOCKING_API_SELFTESTS=y
CONFIG_ENCRYPTED_KEYS=y
CONFIG_REGULATOR_TPS6287X=y
CONFIG_DMI=y
CONFIG_MFD_SIMPLE_MFD_I2C=y
CONFIG_COMEDI_PCMDA12=y
CONFIG_CRYPTO_KPP2=y
CONFIG_PCI_ATS=y
CONFIG_MTD_NAND_DISKONCHIP=y
CONFIG_POWER_SUPPLY=y
CONFIG_ARCH_CLOCKSOURCE_INIT=y
CONFIG_X86_ALIGNMENT_16=y
CONFIG_GPIO_ADP5585=y
CONFIG_MTD_MTDRAM=y
CONFIG_LEGACY_DIRECT_IO=y
CONFIG_INTEL_VBTN=y
CONFIG_REGULATOR_LP87565=y
CONFIG_CHARGER_88PM860X=y
CONFIG_X86_AMD_FREQ_SENSITIVITY=y
CONFIG_QNX6FS_FS=y
CONFIG_IDLE_INJECT=y
CONFIG_DEBUG_FORCE_WEAK_PER_CPU=y
CONFIG_SENSORS_LM95241=y
CONFIG_X86_MCE=y
CONFIG_SENSORS_INA2XX=y
CONFIG_CRYPTO_CHACHA20=y
CONFIG_W1_MASTER_UART=y
CONFIG_VIRTIO_MMIO_CMDLINE_DEVICES=y
CONFIG_THERMAL_MMIO=y
CONFIG_FB_MATROX_MYSTIQUE=y
CONFIG_SQUASHFS_DECOMP_MULTI_PERCPU=y
CONFIG_OF_DYNAMIC=y
CONFIG_GPD_POCKET_FAN=y
CONFIG_HAVE_GENERIC_VDSO=y
CONFIG_PREEMPT_BUILD=y
CONFIG_SENSORS_LTC2990=y
CONFIG_SENSORS_NCT6775_I2C=y
CONFIG_DECOMPRESS_XZ=y
CONFIG_FW_CFG_SYSFS_CMDLINE=y
CONFIG_CRYPTO_KRB5ENC=y
CONFIG_KRETPROBES=y
CONFIG_IOSCHED_BFQ=y
CONFIG_ARCH_HAS_DEVMEM_IS_ALLOWED=y
CONFIG_MFD_SEC_CORE=y
CONFIG_AMD_NB=y
CONFIG_DEVFREQ_GOV_SIMPLE_ONDEMAND=y
CONFIG_DMA_SHARED_BUFFER=y
CONFIG_DW_XDATA_PCIE=y
CONFIG_LEGACY_TIOCSTI=y
CONFIG_SCHED_STACK_END_CHECK=y
CONFIG_MTD_SLRAM=y
CONFIG_CRYPTO_ECDSA=y
CONFIG_GPIO_ICH=y
CONFIG_PKCS8_PRIVATE_KEY_PARSER=y
CONFIG_INTEL_PMT_CLASS=y
CONFIG_NLS_MAC_CROATIAN=y
CONFIG_CLKSRC_I8253=y
CONFIG_STM_DUMMY=y
CONFIG_LZO_DECOMPRESS=y
CONFIG_FUNCTION_ERROR_INJECTION=y
CONFIG_REGULATOR_S2DOS05=y
CONFIG_REF_TRACKER=y
CONFIG_HAVE_KERNEL_LZMA=y
CONFIG_OF_IOMMU=y
CONFIG_TOSHIBA=y
CONFIG_COMMON_CLK_SI5341=y
CONFIG_EISA=y
CONFIG_FANOTIFY=y
CONFIG_STM_PROTO_SYS_T=y
CONFIG_OF_GPIO=y
CONFIG_AUXILIARY_BUS=y
CONFIG_CRYPTO_SIG=y
CONFIG_CRYPTO_LIB_SHA256=y
CONFIG_MFD_LP3943=y
CONFIG_ARCH_SUPPORTS_KEXEC_PURGATORY=y
CONFIG_USER_NS=y
CONFIG_SENSORS_DS1621=y
CONFIG_RAPIDIO_CPS_XX=y
CONFIG_RD_XZ=y
CONFIG_MTRR=y
CONFIG_SERIAL_8250=y
CONFIG_THERMAL_HWMON=y
CONFIG_ROMFS_ON_MTD=y
CONFIG_MUX_GPIO=y
CONFIG_DEBUG_MEMORY_INIT=y
CONFIG_ARCH_WANT_GENERAL_HUGETLB=y
CONFIG_X86_LOCAL_APIC=y
CONFIG_PCI_MSI=y
CONFIG_ARCH_HAS_KERNEL_FPU_SUPPORT=y
CONFIG_SENSORS_ADM9240=y
CONFIG_PROC_MEM_FORCE_PTRACE=y
CONFIG_W1_SLAVE_DS2405=y
CONFIG_BACKLIGHT_ADP5520=y
CONFIG_X509_CERTIFICATE_PARSER=y
CONFIG_SURFACE_GPE=y
CONFIG_OF_ADDRESS=y
CONFIG_INTERVAL_TREE_SPAN_ITER=y
CONFIG_CRAMFS_MTD=y
CONFIG_INTEL_ATOMISP2_LED=y
CONFIG_REGULATOR_RK808=y
CONFIG_GPIO_ADNP=y
CONFIG_CRYPTO_XCTR=y
CONFIG_GENERIC_ISA_DMA=y
CONFIG_FUJITSU_LAPTOP=y
CONFIG_MICROCODE=y
CONFIG_GNSS_SERIAL=y
CONFIG_MFD_ROHM_BD957XMUF=y
CONFIG_HAVE_KPROBES_ON_FTRACE=y
CONFIG_MINIX_FS=y
CONFIG_ARCH_WANT_IPC_PARSE_VERSION=y
CONFIG_W1_MASTER_DS2482=y
CONFIG_REGULATOR_MAX8660=y
CONFIG_CRYPTO_CAST_COMMON=y
CONFIG_XZ_DEC_ARM=y
CONFIG_REGULATOR_MAX20411=y
CONFIG_MMU_GATHER_RCU_TABLE_FREE=y
CONFIG_ARCH_SUPPORTS_LTO_CLANG=y
CONFIG_MFD_INTEL_LPSS_ACPI=y
CONFIG_SERIAL_EARLYCON=y
CONFIG_RTC_DRV_BQ32K=y
CONFIG_CRYPTO_MLDSA=y
CONFIG_AGP_ALI=y
CONFIG_CPU_SUP_CENTAUR=y
CONFIG_BLK_DEV_SD=y
CONFIG_TRACE_IRQFLAGS_NMI_SUPPORT=y
CONFIG_DEBUG_INFO_COMPRESSED_ZLIB=y
CONFIG_CPU_FREQ_GOV_CONSERVATIVE=y
CONFIG_HAVE_CMPXCHG_DOUBLE=y
CONFIG_MFD_SEC_I2C=y
CONFIG_CRYPTO_DEV_QAT_C62X=y
CONFIG_SENSORS_INA233=y
CONFIG_PACKING=y
CONFIG_HAVE_MOVE_PUD=y
CONFIG_COMEDI_DEBUG=y
CONFIG_CHARGER_BQ25890=y
CONFIG_MMU=y
CONFIG_ARCH_SUPPORTS_HUGETLBFS=y
CONFIG_REGULATOR_RT6160=y
CONFIG_DAMON_SYSFS=y
CONFIG_INTEL_IOMMU=y
CONFIG_MFD_AXP20X=y
CONFIG_CRYPTO_KRB5=y
CONFIG_GPIO_MAX7360=y
CONFIG_REGULATOR_RT5739=y
CONFIG_RCU_NOCB_CPU_DEFAULT_ALL=y
CONFIG_FB_GEODE_GX1=y
CONFIG_HAVE_OPTPROBES=y
CONFIG_I2C_MUX=y
CONFIG_OVERLAY_FS_REDIRECT_DIR=y
CONFIG_NLS_CODEPAGE_862=y
CONFIG_SENSORS_LM77=y
CONFIG_REGULATOR_WM8400=y
CONFIG_REGULATOR_MAX77857=y
CONFIG_PM=y
CONFIG_HAVE_EBPF_JIT=y
CONFIG_HW_RANDOM_TIMERIOMEM=y
CONFIG_SENSORS_MP2856=y
CONFIG_FS_POSIX_ACL=y
CONFIG_NEED_SG_DMA_LENGTH=y
CONFIG_MMU_GATHER_TABLE_FREE=y
CONFIG_HAVE_GENERIC_TIF_BITS=y
CONFIG_SENSORS_ADM1177=y
CONFIG_MTD_BLOCK2MTD=y
CONFIG_SENSORS_LM63=y
CONFIG_HAVE_INTEL_TXT=y
CONFIG_LEDS_MLXREG=y
CONFIG_SECURITY_DMESG_RESTRICT=y
CONFIG_DEBUG_MUTEXES=y
CONFIG_TREE_RCU=y
CONFIG_CPU_FREQ_GOV_COMMON=y
CONFIG_BUG=y
CONFIG_SENSORS_STTS751=y
CONFIG_SENSORS_LT7182S=y
CONFIG_DEBUG_TLBFLUSH=y
CONFIG_GPIO_VX855=y
CONFIG_VGA_CONSOLE=y
CONFIG_DEBUG_KMEMLEAK_AUTO_SCAN=y
CONFIG_MFD_INTEL_QUARK_I2C_GPIO=y
CONFIG_ARCH_SUPPORTS_DEBUG_PAGEALLOC=y
CONFIG_GENERIC_CPU_DEVICES=y
CONFIG_SENSORS_INSPUR_IPSPS=y
CONFIG_FB_N411=y
CONFIG_MICROCODE_INITRD32=y
CONFIG_MFD_HI6421_SPMI=y
CONFIG_PHY_CADENCE_DPHY=y
CONFIG_DEBUG_MAPLE_TREE=y
CONFIG_HAS_IOPORT=y
CONFIG_MFD_MAX8925=y
CONFIG_NLS_CODEPAGE_949=y
CONFIG_SLIMBUS=y
CONFIG_CRYPTO_LIB_DES=y
CONFIG_JUMP_LABEL=y
CONFIG_CRYPTO_AKCIPHER2=y
CONFIG_MANAGER_SBS=y
CONFIG_REGULATOR_MAX77802=y
CONFIG_GENERIC_PHY_MIPI_DPHY=y
CONFIG_CRYPTO_CAMELLIA=y
CONFIG_STACKTRACE=y
CONFIG_CRYPTO_DEV_CCP=y
CONFIG_SENSORS_TMP513=y
CONFIG_CRC32=y
CONFIG_RTC_DRV_CADENCE=y
CONFIG_SERIAL_ARC=y
CONFIG_REGULATOR_SGM3804=y
CONFIG_BATTERY_BQ27XXX_HDQ=y
CONFIG_MTD_NAND_DENALI_DT=y
CONFIG_ARCH_32BIT_OFF_T=y
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_REGS=y
CONFIG_ARCH_HAS_PTDUMP=y
CONFIG_LEDS_TRIGGER_BACKLIGHT=y
CONFIG_MFD_BD9571MWV=y
CONFIG_NSM=y
CONFIG_I2C_XILINX=y
CONFIG_SENSORS_GPD=y
CONFIG_JFFS2_FS_WRITEBUFFER=y
CONFIG_PCCARD=y
CONFIG_PREEMPTION=y
CONFIG_CHROMEOS_LAPTOP=y
CONFIG_VT_CONSOLE=y
CONFIG_HAVE_NMI=y
CONFIG_GENERIC_SYSCALL=y
CONFIG_RSEQ_SLICE_EXTENSION=y
CONFIG_SENSORS_LTC2991=y
CONFIG_SERIAL_DEV_BUS=y
CONFIG_KSM=y
CONFIG_THERMAL_GOV_STEP_WISE=y
CONFIG_CC_OPTIMIZE_FOR_SIZE=y
CONFIG_USERFAULTFD=y
CONFIG_CONTEXT_TRACKING=y
CONFIG_CRYPTO_DEV_ATMEL_ECC=y
CONFIG_COMEDI_AMPLC_PC236_ISA=y
CONFIG_INPUT_RAVE_SP_PWRBUTTON=y
CONFIG_LZ4HC_COMPRESS=y
CONFIG_LEDS_USER=y
CONFIG_X86_INTEL_TSX_MODE_ON=y
CONFIG_FB_SYS_COPYAREA=y
CONFIG_RTC_DRV_WM831X=y
CONFIG_ZSTD_DECOMPRESS=y
CONFIG_SERIO_SERPORT=y
CONFIG_REGULATOR_VCTRL=y
CONFIG_BOOT_CONFIG_EMBED=y
CONFIG_I2C_CBUS_GPIO=y
CONFIG_RTC_DRV_MC13XXX=y
CONFIG_REGULATOR_DEBUG=y
CONFIG_DMA_CMA=y
CONFIG_RTC_DRV_RX8010=y
CONFIG_GREYBUS=y
CONFIG_GPIB_NI_PCI_ISA=y
CONFIG_THERMAL_STATISTICS=y
CONFIG_INPUT_MC13783_PWRBUTTON=y
CONFIG_HAVE_KRETPROBES=y
CONFIG_CB710_DEBUG=y
CONFIG_CPU_FREQ_GOV_PERFORMANCE=y
CONFIG_I2C_PCI1XXXX=y
CONFIG_ACPI_WMI=y
CONFIG_ARCH_HAS_CPU_RELAX=y
CONFIG_RTC_DRV_MAX8998=y
CONFIG_CHECK_SIGNATURE=y
CONFIG_FUJITSU_TABLET=y
CONFIG_LEDS_BCM6358=y
CONFIG_RTC_DRV_PCF8563=y
CONFIG_HAVE_ASM_MODVERSIONS=y
CONFIG_SENSORS_NCT7802=y
CONFIG_SQUASHFS=y
CONFIG_SENSORS_ADT7410=y
CONFIG_X86_MCE_THRESHOLD=y
CONFIG_LOGO=y
CONFIG_USB4_STREAM=y
CONFIG_ARCH_HAS_PTE_SPECIAL=y
CONFIG_LEDS_TRIGGER_DEFAULT_ON=y
CONFIG_KERNFS=y
CONFIG_FB_MATROX=y
CONFIG_LEDS_AW2013=y
CONFIG_SENSORS_SHT15=y
CONFIG_REGULATOR_TPS6105X=y
CONFIG_SENSORS_NCT6775_CORE=y
CONFIG_LEDS_BCM6328=y
CONFIG_MTD_MAP_BANK_WIDTH_1=y
CONFIG_X86_BOOTPARAM_MEMORY_CORRUPTION_CHECK=y
CONFIG_ECRYPT_FS=y
CONFIG_ARCH_HAS_NON_OVERLAPPING_ADDRESS_SPACE=y
CONFIG_SENSORS_DPS920AB=y
CONFIG_SCSI_CONSTANTS=y
CONFIG_NVME_HOST_AUTH=y
CONFIG_CRYPTO_LIB_CHACHA=y
CONFIG_AS_IS_GNU=y
CONFIG_REGULATOR_TPS62360=y
CONFIG_SERIAL_JSM=y
CONFIG_DMA_OPS_HELPERS=y
CONFIG_INPUT_DRV2665_HAPTICS=y
CONFIG_VIRTIO_DEBUG=y
CONFIG_RCU_TRACE=y
CONFIG_EROFS_FS_XATTR=y
CONFIG_X86_LONGRUN=y
CONFIG_X86_SPEEDSTEP_CENTRINO_TABLE=y
CONFIG_NMI_CHECK_CPU=y
CONFIG_BLOCK=y
CONFIG_CC_NO_STRINGOP_OVERFLOW=y
CONFIG_VT=y
CONFIG_SENSORS_TC74=y
CONFIG_PAGE_SIZE_LESS_THAN_256KB=y
CONFIG_LEDS_TRIGGERS=y
CONFIG_ISA_BUS_API=y
CONFIG_MEEGOPAD_ANX7428=y
CONFIG_LOCKDEP=y
CONFIG_MFD_RK8XX=y
CONFIG_MODULES_USE_ELF_REL=y
CONFIG_SVC_I3C_MASTER=y
CONFIG_BATTERY_DS2760=y
CONFIG_SURFACE_ACPI_NOTIFY=y
CONFIG_CRYPTO_HASH2=y
CONFIG_MFD_PF1550=y
CONFIG_X86_ESPFIX32=y
CONFIG_CRYPTO_AEAD=y
CONFIG_GPIO_SIFIVE=y
CONFIG_MXM_WMI=y
CONFIG_I2C_DEBUG_CORE=y
CONFIG_CRYPTO_HW=y
CONFIG_SENSORS_APPLESMC=y
CONFIG_FIREWIRE=y
CONFIG_INPUT_RK805_PWRKEY=y
CONFIG_RAPIDIO_DMA_ENGINE=y
CONFIG_MEMSTICK_TIFM_MS=y
CONFIG_SENSORS_ABITUGURU=y
CONFIG_REGULATOR_DA9121=y
CONFIG_COMEDI_DAS08_ISA=y
CONFIG_ISO9660_FS=y
CONFIG_SERIAL_SIFIVE_CONSOLE=y
CONFIG_INPUT_TPS65218_PWRBUTTON=y
CONFIG_NTB_IDT=y
CONFIG_DMA_DECLARE_COHERENT=y
CONFIG_IRQ_SIM=y
CONFIG_SERIAL_8250_DMA=y
CONFIG_BACKLIGHT_ARCXCNN=y
CONFIG_FW_LOADER_PAGED_BUF=y
CONFIG_RTC_DRV_TPS65910=y
CONFIG_ARCH_HAS_HW_PTE_YOUNG=y
CONFIG_BITREVERSE=y
CONFIG_CRYPTO_SM3=y
CONFIG_SENSORS_ADM1026=y
CONFIG_RTC_DRV_HYM8563=y
CONFIG_SWITCHTEC_DMA=y
CONFIG_OF_EARLY_FLATTREE=y
CONFIG_DMA_MAP_BENCHMARK=y
CONFIG_NTB_SWITCHTEC=y
CONFIG_MFD_STPMIC1=y
CONFIG_SENSORS_ADC128D818=y
CONFIG_GPIO_REGMAP=y
CONFIG_EXTCON_INTEL_MRFLD=y
CONFIG_HAVE_ARCH_KGDB=y
CONFIG_COMEDI_DMM32AT=y
CONFIG_I2C_SIS96X=y
CONFIG_LEDS_LP5812=y
CONFIG_NLS_CODEPAGE_864=y
CONFIG_GFS2_FS=y
CONFIG_FB_ATY_CT=y
CONFIG_ACPI_PLATFORM_PROFILE=y
CONFIG_LEDS_BD2606MVV=y
CONFIG_AMD_WBRF=y
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST_IDLE=y
CONFIG_SENSORS_NCT7363=y
CONFIG_COMMON_CLK_SI5351=y
CONFIG_HAVE_KERNEL_XZ=y
CONFIG_RTC_DRV_CMOS=y
CONFIG_SENSORS_MP2888=y
CONFIG_CPU_SUP_ZHAOXIN=y
CONFIG_ARCH_WANTS_DYNAMIC_TASK_STRUCT=y
CONFIG_SERIAL_8250_PCI=y
CONFIG_FB_DEFERRED_IO=y
CONFIG_JFFS2_RTIME=y
CONFIG_QCOM_HIDMA_MGMT=y
CONFIG_SENSORS_HP_WMI=y
CONFIG_REGULATOR_TPS65217=y
CONFIG_GP_PCI1XXXX=y
CONFIG_CPU_FREQ_DEFAULT_GOV_PERFORMANCE=y
CONFIG_ACPI_PROCESSOR_AGGREGATOR=y
CONFIG_APM_IGNORE_USER_SUSPEND=y
CONFIG_RTC_DRV_MAX77686=y
CONFIG_SAMSUNG_GALAXYBOOK=y
CONFIG_SENSORS_ADT7462=y
CONFIG_INTEL_WMI_THUNDERBOLT=y
CONFIG_PARTITION_ADVANCED=y
CONFIG_MFD_WM831X_I2C=y
CONFIG_X86_CHECK_BIOS_CORRUPTION=y
CONFIG_GPIO_VIRTIO=y
CONFIG_MFD_NTXEC=y
CONFIG_DEBUG_DRIVER=y
CONFIG_LEDS_LP5860_CORE=y
CONFIG_RTC_DRV_ABB5ZES3=y
CONFIG_SENSORS_NPCM7XX=y
CONFIG_MTD_BLKDEVS=y
CONFIG_DEBUG_IRQFLAGS=y
CONFIG_SENSORS_LM85=y
CONFIG_RTC_DRV_DS1286=y
CONFIG_CHARGER_MAX77976=y
CONFIG_INTEL_INT0002_VGPIO=y
CONFIG_REGMAP_SLIMBUS=y
CONFIG_NLS_MAC_ROMAN=y
CONFIG_ACPI_SYSTEM_POWER_STATES_SUPPORT=y
CONFIG_FREEZER=y
CONFIG_X86_TSC=y
CONFIG_SOFTIRQ_ON_OWN_STACK=y
CONFIG_MFD_DA9150=y
CONFIG_EPOLL=y
CONFIG_ARCH_HAS_SYNC_CORE_BEFORE_USERMODE=y
CONFIG_BCM_VK=y
CONFIG_NTSYNC=y
CONFIG_ISA=y
CONFIG_W1_MASTER_AMD_AXI=y
CONFIG_RD_BZIP2=y
CONFIG_MFD_ACT8945A=y
CONFIG_SENSORS_MAX20830=y
CONFIG_RD_LZMA=y
CONFIG_UBIFS_FS_ZLIB=y
CONFIG_ISA_DMA_API=y
CONFIG_SOC_TI=y
CONFIG_SENSORS_ATXP1=y
CONFIG_ACPI_WMI_LEGACY_DEVICE_NAMES=y
CONFIG_INTEL_MEI_ME=y
CONFIG_LEDS_TRIGGER_TRANSIENT=y
CONFIG_ATA_FORCE=y
CONFIG_XZ_DEC_ARMTHUMB=y
CONFIG_NLS_CODEPAGE_866=y
CONFIG_SERIO_ALTERA_PS2=y
CONFIG_SENSORS_SHT21=y
CONFIG_UNINLINE_SPIN_UNLOCK=y
CONFIG_CC_HAS_WORKING_NOSANITIZE_ADDRESS=y
CONFIG_MPILIB=y
CONFIG_SENSORS_DS620=y
CONFIG_COMEDI_NI_ATMIO16D=y
CONFIG_FILE_LOCKING=y
CONFIG_ALLOW_DEV_COREDUMP=y
CONFIG_PSTORE_COMPRESS=y
CONFIG_ACPI_TABLE_UPGRADE=y
CONFIG_VIRTIO_BALLOON=y
CONFIG_SERIAL_CONEXANT_DIGICOLOR=y
CONFIG_XIAOMI_WMI=y
CONFIG_DEBUG_RT_MUTEXES=y
CONFIG_GPIO_NOVALAKE=y
CONFIG_LEDS_CLASS_MULTICOLOR=y
CONFIG_HAVE_ARCH_SECCOMP_FILTER=y
CONFIG_FAT_FS=y
CONFIG_COMEDI_PCL818=y
CONFIG_REGULATOR_MAX77675=y
CONFIG_SENSORS_OCC_P8_I2C=y
CONFIG_MTD_NAND_PLATFORM=y
CONFIG_SENSORS_TMP108=y
CONFIG_OLD_SIGSUSPEND3=y
CONFIG_CRYPTO_CRYPTD=y
CONFIG_X86_VERBOSE_BOOTUP=y
CONFIG_GENERIC_IOMAP=y
CONFIG_XZ_DEC=y
CONFIG_SERIAL_8250_PNP=y
CONFIG_X86_PLATFORM_DRIVERS_HP=y
CONFIG_CRYPTO_KDF800108_CTR=y
