CONFIG_DRM_CLIENT_SELECTION=n
CONFIG_HID_PETALYNX=n
CONFIG_X86_DISABLED_FEATURE_SGX=n
CONFIG_EXT4_FS_SECURITY=n
CONFIG_NET_VENDOR_ADAPTEC=n
CONFIG_HAVE_RETHOOK=n
CONFIG_INTERVAL_TREE=n
CONFIG_KMAP_LOCAL=n
CONFIG_RCU_STALL_COMMON=n
CONFIG_TASK_XACCT=n
CONFIG_SYSTEM_DATA_VERIFICATION=n
CONFIG_WIRELESS=n
CONFIG_LOCKD_V4=n
CONFIG_PROFILING=n
CONFIG_HAVE_PAGE_SIZE_4KB=n
CONFIG_MMU_GATHER_MERGE_VMAS=n
CONFIG_SERIAL_8250_RSA=n
CONFIG_HAVE_REGS_AND_STACK_ACCESS_API=n
CONFIG_M686=n
CONFIG_EFI_CAPSULE_QUIRK_QUARK_CSH=n
CONFIG_ARCH_SUPPORTS_MEMORY_FAILURE=n
CONFIG_AF_UNIX_OOB=n
CONFIG_MMU_LAZY_TLB_REFCOUNT=n
CONFIG_PAGE_SIZE_LESS_THAN_256KB=n
CONFIG_RTC_INTF_DEV=n
CONFIG_LOCK_SPIN_ON_OWNER=n
CONFIG_NET_VENDOR_EZCHIP=n
CONFIG_VM_EVENT_COUNTERS=n
CONFIG_SECURITY_NETWORK=n
CONFIG_NET_VENDOR_LITEX=n
CONFIG_REALTEK_PHY=n
CONFIG_APERTURE_HELPERS=n
CONFIG_I2C=n
CONFIG_QUOTACTL=n
CONFIG_SND_HDA_INTEL=n
CONFIG_EFI_RUNTIME_WRAPPERS=n
CONFIG_IP_MULTICAST=n
CONFIG_HW_RANDOM=n
CONFIG_I2C_BOARDINFO=n
CONFIG_HAS_IOMEM=n
CONFIG_CPU_ISOLATION=n
CONFIG_TRACING_SUPPORT=n
CONFIG_PATA_TIMINGS=n
CONFIG_SND_SEQUENCER=n
CONFIG_PAGE_SIZE_LESS_THAN_64KB=n
CONFIG_SERIAL_CORE=n
CONFIG_ARCH_FLATMEM_ENABLE=n
CONFIG_BLK_CGROUP_IOCOST=n
CONFIG_ARCH_SUPPORTS_DEBUG_PAGEALLOC=n
CONFIG_DW_DMAC_CORE=n
CONFIG_STACKPROTECTOR=n
CONFIG_INTEGRITY_AUDIT=n
CONFIG_GENERIC_VDSO_OVERFLOW_PROTECT=n
CONFIG_VIRTIO_DMA_SHARED_BUFFER=n
CONFIG_HAVE_KERNEL_XZ=n
CONFIG_NET_SCHED=n
CONFIG_CPU_SUP_INTEL=n
CONFIG_NET_VENDOR_MELLANOX=n
CONFIG_ARCH_CPUIDLE_HALTPOLL=n
CONFIG_PROC_FS=n
CONFIG_HAVE_ATOMIC_IOMAP=n
CONFIG_SND_TIMER=n
CONFIG_ACPI_DOCK=n
CONFIG_SCHED_MC_PRIO=n
CONFIG_NF_REJECT_IPV6=n
CONFIG_HID_GENERIC=n
CONFIG_ARCH_HAS_MEMBARRIER_SYNC_CORE=n
CONFIG_HAVE_POSIX_CPU_TIMERS_TASK_WORK=n
CONFIG_NET_VENDOR_SMSC=n
CONFIG_DUMMY_CONSOLE=n
CONFIG_SND_PCI=n
CONFIG_ARCH_HAS_FAST_MULTIPLIER=n
CONFIG_SND_SEQ_DEVICE=n
CONFIG_DRM=n
CONFIG_WERROR=n
CONFIG_SECURITY_SELINUX_DEVELOP=n
CONFIG_ARCH_SELECT_MEMORY_MODEL=n
CONFIG_NF_CONNTRACK=n
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO=n
CONFIG_INPUT_TABLET=n
CONFIG_SIGNALFD=n
CONFIG_PM_TRACE_RTC=n
CONFIG_KEYBOARD_ATKBD=n
CONFIG_NET_VENDOR_EMULEX=n
CONFIG_SOUND=n
CONFIG_GENERIC_IRQ_MATRIX_ALLOCATOR=n
CONFIG_HAVE_ARCH_RANDOMIZE_KSTACK_OFFSET=n
CONFIG_INET6_AH=n
CONFIG_PM_SLEEP=n
CONFIG_HAVE_ARCH_PREL32_RELOCATIONS=n
CONFIG_LD_CAN_USE_KEEP_IN_OVERLAY=n
CONFIG_HID_SUPPORT=n
CONFIG_PNP=n
CONFIG_GENERIC_IRQ_SHOW=n
CONFIG_MMU_GATHER_RCU_TABLE_FREE=n
CONFIG_SERIAL_8250_PCILIB=n
CONFIG_VHOST_MENU=n
CONFIG_IP_PIMSM_V2=n
CONFIG_X86_VERBOSE_BOOTUP=n
CONFIG_ARCH_CORRECT_STACKTRACE_ON_KRETPROBE=n
CONFIG_ARCH_VMLINUX_NEEDS_RELOCS=n
CONFIG_MTRR=n
CONFIG_SPLIT_PTE_PTLOCKS=n
CONFIG_FAIR_GROUP_SCHED=n
CONFIG_SPARSEMEM_STATIC=n
CONFIG_ISO9660_FS=n
CONFIG_CONTEXT_TRACKING_IDLE=n
CONFIG_VGA_CONSOLE=n
CONFIG_CRYPTO_HMAC=n
CONFIG_NET_VENDOR_NATSEMI=n
CONFIG_IPC_NS=n
CONFIG_NET_VENDOR_MUCSE=n
CONFIG_NET_VENDOR_STMICRO=n
CONFIG_FUNCTION_ALIGNMENT_4B=n
CONFIG_INET=n
CONFIG_CPUSETS=n
CONFIG_X86_REROUTE_FOR_BROKEN_BOOT_IRQS=n
CONFIG_CHR_DEV_SG=n
CONFIG_BSD_PROCESS_ACCT=n
CONFIG_HAVE_EXIT_THREAD=n
CONFIG_FWNODE_MDIO=n
CONFIG_PM_DEBUG=n
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_DIRECT_CALLS=n
CONFIG_TICK_ONESHOT=n
CONFIG_DRM_PANEL_ORIENTATION_QUIRKS=n
CONFIG_DRM_I915=n
CONFIG_CFG80211_USE_KERNEL_REGDB_KEYS=n
CONFIG_HAVE_EBPF_JIT=n
CONFIG_X86_PAT=n
CONFIG_DIMLIB=n
CONFIG_SURFACE_PLATFORMS=n
CONFIG_POSIX_TIMERS=n
CONFIG_FIRMWARE_MEMMAP=n
CONFIG_VIRTIO_NET=n
CONFIG_HAS_IOPORT_MAP=n
CONFIG_CPU_FREQ_GOV_PERFORMANCE=n
CONFIG_TCP_MD5SIG=n
CONFIG_ARCH_HIBERNATION_HEADER=n
CONFIG_GENERIC_ALLOCATOR=n
CONFIG_EFI_DXE_MEM_ATTRIBUTES=n
CONFIG_X86_ESPFIX32=n
CONFIG_WLAN_VENDOR_BROADCOM=n
CONFIG_NLS=n
CONFIG_ACPI_EC=n
CONFIG_QUOTA_NETLINK_INTERFACE=n
CONFIG_NET_VENDOR_ALIBABA=n
CONFIG_IO_URING_BPF=n
CONFIG_X86_DISABLED_FEATURE_USER_SHSTK=n
CONFIG_AGP=n
CONFIG_GENERIC_MSI_IRQ=n
CONFIG_NET_VENDOR_I825XX=n
CONFIG_GPU_BUDDY=n
CONFIG_MAGIC_SYSRQ=n
CONFIG_TIMERFD=n
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_REGS=n
CONFIG_SERIAL_CORE_CONSOLE=n
CONFIG_NFS_DISABLE_UDP_SUPPORT=n
CONFIG_HIBERNATION_COMP_LZO=n
CONFIG_DEBUG_DEVRES=n
CONFIG_CRYPTO_CAMELLIA=n
CONFIG_CRYPTO_AKCIPHER=n
CONFIG_XZ_DEC_ARMTHUMB=n
CONFIG_ELFCORE=n
CONFIG_SCSI_MOD=n
CONFIG_UNIX=n
CONFIG_HARDIRQS_SW_RESEND=n
CONFIG_AUDIT=n
CONFIG_ELF_CORE=n
CONFIG_PKCS7_MESSAGE_PARSER=n
CONFIG_PARAVIRT=n
CONFIG_NLS_ISO8859_1=n
CONFIG_SG_POOL=n
CONFIG_VT_CONSOLE_SLEEP=n
CONFIG_NETFILTER_XT_MATCH_ADDRTYPE=n
CONFIG_ACPI_THERMAL=n
CONFIG_CARDBUS=n
CONFIG_CRYPTO_CTR=n
CONFIG_PRINTK_TIME=n
CONFIG_I2C_SMBUS=n
CONFIG_RSEQ=n
CONFIG_STACKTRACE_SUPPORT=n
CONFIG_JOLIET=n
CONFIG_VIRTIO_BLK=n
CONFIG_BUG=n
CONFIG_NET_VENDOR_GOOGLE=n
CONFIG_PGTABLE_HAS_HUGE_LEAVES=n
CONFIG_OLD_SIGACTION=n
CONFIG_HAVE_ARCH_KGDB=n
CONFIG_NET=n
CONFIG_NEED_TASKS_RCU=n
CONFIG_NEED_SG_DMA_LENGTH=n
CONFIG_HAVE_GUP_FAST=n
CONFIG_BLK_DEV_DM=n
CONFIG_GENERIC_SYSCALL=n
CONFIG_SYSFS=n
CONFIG_HAVE_ACPI_APEI=n
CONFIG_WLAN_VENDOR_MARVELL=n
CONFIG_VIRTIO_MENU=n
CONFIG_CRYPTO_LIB_SHA1=n
CONFIG_CHECK_SIGNATURE=n
CONFIG_LD_ORPHAN_WARN=n
CONFIG_UCS2_STRING=n
CONFIG_DQL=n
CONFIG_CPU_FREQ_GOV_USERSPACE=n
CONFIG_NF_NAT=n
CONFIG_HIBERNATION_SNAPSHOT_DEV=n
CONFIG_DRM_TTM=n
CONFIG_DMI_SCAN_MACHINE_NON_EFI_FALLBACK=n
CONFIG_NET_POLL_CONTROLLER=n
CONFIG_GENERIC_CPU_AUTOPROBE=n
CONFIG_CPU_IDLE=n
CONFIG_BLK_PM=n
CONFIG_CRYPTO_AEAD2=n
CONFIG_HAVE_DYNAMIC_FTRACE_NO_PATCHABLE=n
CONFIG_PM_SLEEP_SMP=n
CONFIG_CPU_FREQ_GOV_SCHEDUTIL=n
CONFIG_HAVE_ARCH_AUDITSYSCALL=n
CONFIG_CLKBLD_I8253=n
CONFIG_INPUT_KEYBOARD=n
CONFIG_NEW_LEDS=n
CONFIG_USB_HIDDEV=n
CONFIG_ARCH_HAS_MEM_ENCRYPT=n
CONFIG_DRM_BRIDGE=n
CONFIG_CRYPTO_ACOMP2=n
CONFIG_NO_HZ=n
CONFIG_KVM_GUEST=n
CONFIG_CPU_SUP_TRANSMETA_32=n
CONFIG_MITIGATION_SPECTRE_V1=n
CONFIG_USER_STACKTRACE_SUPPORT=n
CONFIG_CPU_SUP_CENTAUR=n
CONFIG_CRYPTO_LZO=n
CONFIG_STRICT_DEVMEM=n
CONFIG_MITIGATION_SSB=n
CONFIG_USB_EHCI_PCI=n
CONFIG_GENERIC_IRQ_RESERVATION_MODE=n
CONFIG_MAC_EMUMOUSEBTN=n
CONFIG_DEVPORT=n
CONFIG_XZ_DEC_SPARC=n
CONFIG_SCHED_MM_CID=n
CONFIG_NET_VENDOR_WIZNET=n
CONFIG_IPV6=n
CONFIG_SECURITY_SELINUX_BOOTPARAM=n
CONFIG_HAVE_IRQ_TIME_ACCOUNTING=n
CONFIG_CPU_FREQ=n
CONFIG_SCSI_CONSTANTS=n
CONFIG_ZSTD_DECOMPRESS=n
CONFIG_CRYPTO_HASH2=n
CONFIG_HIGH_RES_TIMERS=n
CONFIG_ARCH_SUPPORTS_ATOMIC_RMW=n
CONFIG_HID_NTRIG=n
CONFIG_WLAN_VENDOR_PURELIFI=n
CONFIG_X86_CMOV=n
CONFIG_HID_PID=n
CONFIG_SERIAL_8250_EXTENDED=n
CONFIG_ARCH_SUPPORTS_KEXEC_SIG=n
CONFIG_PNP_DEBUG_MESSAGES=n
CONFIG_PCMCIA=n
CONFIG_ACPI_DEBUG=n
CONFIG_PCI_BIOS=n
CONFIG_WLAN_VENDOR_ATH=n
CONFIG_YENTA_TI=n
CONFIG_HAS_IOPORT=n
CONFIG_INPUT_EVDEV=n
CONFIG_ACPI_BGRT=n
CONFIG_ACPI_MDIO=n
CONFIG_HYPERVISOR_GUEST=n
CONFIG_SKB_EXTENSIONS=n
CONFIG_EVENT_TRACING=n
CONFIG_X86_THERMAL_VECTOR=n
CONFIG_CC_HAS_NAMED_AS=n
CONFIG_ACPI_PROCESSOR_IDLE=n
CONFIG_DRM_I915_USERPTR=n
CONFIG_NFS_V4=n
CONFIG_BINFMT_SCRIPT=n
CONFIG_PCI_LOCKLESS_CONFIG=n
CONFIG_WLAN_VENDOR_INTERSIL=n
CONFIG_IP_ROUTE_MULTIPATH=n
CONFIG_PAGE_COUNTER=n
CONFIG_COMPAT_32BIT_TIME=n
CONFIG_FHANDLE=n
CONFIG_SLUB=n
CONFIG_DECOMPRESS_GZIP=n
CONFIG_X86_MCE_AMD=n
CONFIG_HAVE_ARCH_JUMP_LABEL=n
CONFIG_ARCH_WANTS_DYNAMIC_TASK_STRUCT=n
CONFIG_FRAME_POINTER=n
CONFIG_FAT_FS=n
CONFIG_MD_AUTODETECT=n
CONFIG_ARCH_WANT_GENERAL_HUGETLB=n
CONFIG_NF_CONNTRACK_IRC=n
CONFIG_DRM_DISPLAY_HELPER=n
CONFIG_NETFILTER_XT_TARGET_LOG=n
CONFIG_NETFILTER_EGRESS=n
CONFIG_USB_OHCI_HCD_PCI=n
CONFIG_WATCHDOG=n
CONFIG_GROUP_SCHED_WEIGHT=n
CONFIG_PAGE_POOL=n
CONFIG_TREE_SRCU=n
CONFIG_X86_EXTENDED_PLATFORM=n
CONFIG_DRM_KMS_HELPER=n
