CONFIG_RESET_QCOM_PDC=n
CONFIG_TEGRA_HOST1X_CONTEXT_BUS=n
CONFIG_XEN_PRIVCMD=n
CONFIG_PINCTRL_MESON_G12A=n
CONFIG_MLX5_CORE=n
CONFIG_ASPEED_UART_ROUTING=n
CONFIG_ACPI_PPTT=n
CONFIG_MPL3115=n
CONFIG_CLK_IMX8MM=n
CONFIG_SND_SOC_ES8316=n
CONFIG_PREEMPT_NOTIFIERS=n
CONFIG_VIDEO_IMX8_JPEG=n
CONFIG_PINCTRL_PFC_R8A774C0=n
CONFIG_SYSTEM_TRUSTED_KEYRING=n
CONFIG_MMC=n
CONFIG_PINCTRL_MT7986=n
CONFIG_USB_DWC3_QCOM=n
CONFIG_SUNXI_RSB=n
CONFIG_BINARY_PRINTF=n
CONFIG_VIDEO_AMPHION_VPU=n
CONFIG_ATH10K_SNOC=n
CONFIG_SND_SOC_LPASS_HDMI=n
CONFIG_USB_CDNS3_HOST=n
CONFIG_MFD_STM32_TIMERS=n
CONFIG_PINCTRL_MILOS_LPASS_LPI=n
CONFIG_PINCTRL_RK805=n
CONFIG_GPIO_REGMAP=n
CONFIG_QCOM_L3_PMU=n
CONFIG_VLAN_8021Q=n
CONFIG_USB_OHCI_HCD_PLATFORM=n
CONFIG_PHY_MTK_TPHY=n
CONFIG_SLIMBUS=n
CONFIG_COMMON_CLK_MT8196_MMSYS=n
CONFIG_TI_SCI_INTA_MSI_DOMAIN=n
CONFIG_COMMON_CLK_MT8196_IMP_IIC_WRAP=n
CONFIG_TEGRA186_TIMER=n
CONFIG_HWMON=n
CONFIG_CPUFREQ_DT=n
CONFIG_PHY_AM654_SERDES=n
CONFIG_DRM_ZYNQMP_DPSUB=n
CONFIG_AIO=n
CONFIG_CLZ_TAB=n
CONFIG_MTD_DATAFLASH=n
CONFIG_SND_SOC_TI_SDMA_PCM=n
CONFIG_SC_LPASS_CORECC_7280=n
CONFIG_TREE_SRCU=n
CONFIG_QCOM_SPMI_ADC_TM5=n
CONFIG_PINCTRL_SUN50I_A64_R=n
CONFIG_EXPORTFS=n
CONFIG_GPIO_TPS65219=n
CONFIG_BCM7120_L2_IRQ=n
CONFIG_DWMAC_GENERIC=n
CONFIG_MHP_MEMMAP_ON_MEMORY=n
CONFIG_SUN8I_R_CCU=n
CONFIG_TCG_TIS_CORE=n
CONFIG_CLK_ELIZA_DISPCC=n
CONFIG_MTD_SPI_NOR=n
CONFIG_IP_MULTICAST=n
CONFIG_HAS_SECURITY_AUDIT=n
CONFIG_SND_SOC_LPASS_WSA_MACRO=n
CONFIG_CRYPTO_DEV_SA2UL=n
CONFIG_PINCTRL_SM6125=n
CONFIG_RZ_MTU3_CNT=n
CONFIG_DRM_THINE_THC63LVD1024=n
CONFIG_TOUCHSCREEN_GOODIX=n
CONFIG_PHY_TEGRA_XUSB=n
CONFIG_DRM_RCAR_USE_CMM=n
CONFIG_SYSC_R8A77970=n
CONFIG_VIRTIO_NET=n
CONFIG_CRYPTO_BENCHMARK=n
CONFIG_RESET_TI_SYSCON=n
CONFIG_AHCI_XGENE=n
CONFIG_NFC_NCI=n
CONFIG_GENERIC_PHY=n
CONFIG_QCOM_SMEM=n
CONFIG_SND_SOC_TEGRA210_ADX=n
CONFIG_LEGACY_TIOCSTI=n
CONFIG_NET_DSA_MSCC_FELIX=n
CONFIG_SUN55I_A523_MCU_CCU=n
CONFIG_RCU_TRACE=n
CONFIG_VIDEO_HANTRO=n
CONFIG_IRQ_FORCED_THREADING=n
CONFIG_HAVE_PERF_USER_STACK_DUMP=n
CONFIG_CPU_IDLE=n
CONFIG_SND_SOC_RK3399_GRU_SOUND=n
CONFIG_GPIO_BCM_XGS_IPROC=n
CONFIG_GENERIC_MSI_IRQ=n
CONFIG_NET_9P=n
CONFIG_RZ_DMAC=n
CONFIG_PINCTRL_ROCKCHIP=n
CONFIG_SM_GPUCC_8150=n
CONFIG_MTK_SCP=n
CONFIG_SERIAL_8250_TEGRA=n
CONFIG_PHY_MTK_MIPI_DSI=n
CONFIG_DMA_OF=n
CONFIG_TASKS_TRACE_RCU=n
CONFIG_NET_SOCK_MSG=n
CONFIG_SOC_TEGRA_POWERGATE_BPMP=n
CONFIG_CPU_FREQ_GOV_ONDEMAND=n
CONFIG_QCOM_VADC_COMMON=n
CONFIG_PINCTRL_SUN50I_H5=n
CONFIG_MFD_BD9571MWV=n
CONFIG_SND_SOC_MAX98357A=n
CONFIG_SWAP=n
CONFIG_I2C_MESON=n
CONFIG_GPIO_SHARED=n
CONFIG_INPUT_PM8XXX_VIBRATOR=n
CONFIG_PAGE_POOL=n
CONFIG_OF_RESOLVE=n
CONFIG_SH_TIMER_CMT=n
CONFIG_HAVE_ALIGNED_STRUCT_PAGE=n
CONFIG_USB_CONFIGFS=n
CONFIG_USB_NET_CDCETHER=n
CONFIG_RTD119X_WATCHDOG=n
CONFIG_PINCTRL_SX150X=n
CONFIG_NVMEM_IMX_OCOTP_ELE=n
CONFIG_MEGARAID_SAS=n
CONFIG_SDR_PLATFORM_DRIVERS=n
CONFIG_SND_HDA_ALIGNED_MMIO=n
CONFIG_DEBUG_INFO_DWARF_TOOLCHAIN_DEFAULT=n
CONFIG_INTERCONNECT_QCOM_OSM_L3=n
CONFIG_CAN_DEV=n
CONFIG_PNP_DEBUG_MESSAGES=n
CONFIG_DRM_RCAR_WRITEBACK=n
CONFIG_PINCTRL_UNIPHIER_PXS3=n
CONFIG_VT_CONSOLE=n
CONFIG_CLK_OWL_S700=n
CONFIG_PCC=n
CONFIG_XARRAY_MULTI=n
CONFIG_DEBUG_BUGVERBOSE=n
CONFIG_WIRELESS=n
CONFIG_QCOM_OCMEM=n
CONFIG_WATCHDOG_HANDLE_BOOT_ENABLED=n
CONFIG_BCM2835_POWER=n
CONFIG_MEMREGION=n
CONFIG_PINCTRL_MT6779=n
CONFIG_SND_SOC_RT5514_SPI=n
CONFIG_TUN=n
CONFIG_SND_SOC_MT6359=n
CONFIG_SM_CAMCC_6350=n
CONFIG_NET_SCH_FIFO=n
CONFIG_NET_DSA_BCM_SF2=n
CONFIG_LEDS_TRIGGERS=n
CONFIG_GPIO_BRCMSTB=n
CONFIG_NET_XGENE=n
CONFIG_TYPEC_FUSB302=n
CONFIG_SOUND=n
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO=n
CONFIG_COMMON_CLK_MT8195_APUSYS=n
CONFIG_DRM_SIMPLE_BRIDGE=n
CONFIG_SND_SOC_CROS_EC_CODEC=n
CONFIG_BCMA_POSSIBLE=n
CONFIG_GENERIC_IRQ_KEXEC_CLEAR_VM_FORWARD=n
CONFIG_TEGRA_SOCTHERM=n
CONFIG_UNINLINE_SPIN_UNLOCK=n
CONFIG_NET_VENDOR_CAVIUM=n
CONFIG_RTC_DRV_RV8803=n
CONFIG_HAVE_RELIABLE_STACKTRACE=n
CONFIG_PINCTRL_SH_PFC=n
CONFIG_COMMON_CLK_VC5=n
CONFIG_HAVE_ARCH_THREAD_STRUCT_WHITELIST=n
CONFIG_INPUT_PM8941_PWRKEY=n
CONFIG_BLK_DEV=n
CONFIG_HIGH_RES_TIMERS=n
CONFIG_RESET_MESON_AUX=n
CONFIG_CLK_RK3368=n
CONFIG_IO_URING=n
CONFIG_COMMON_CLK_IPROC=n
CONFIG_SND_SOC_TEGRA210_DMIC=n
CONFIG_IRQCHIP=n
CONFIG_I2C_APPLE=n
CONFIG_DWMAC_S32=n
CONFIG_PINCTRL_MT8186=n
CONFIG_ARCH_HAS_GCOV_PROFILE_ALL=n
CONFIG_SYSC_R9A08G045=n
CONFIG_SND_SOC_APQ8016_SBC=n
CONFIG_RTC_DRV_NVIDIA_VRS10=n
CONFIG_SERIAL_EARLYCON=n
CONFIG_SND_SOC_MT8195_MT6359=n
CONFIG_PINCTRL_BCM4908=n
CONFIG_CAN_MCP251XFD=n
CONFIG_DEVPORT=n
CONFIG_ACPI_NUMA=n
CONFIG_OWL_DMA=n
CONFIG_COMMON_CLK_MT8183_AUDIOSYS=n
CONFIG_SERIAL_AMBA_PL011=n
CONFIG_SCSI_UFSHCD=n
CONFIG_V4L2_MEM2MEM_DEV=n
CONFIG_DW_APB_TIMER=n
CONFIG_ARM_ALLWINNER_SUN50I_CPUFREQ_NVMEM=n
CONFIG_PHYLIB_LEDS=n
CONFIG_CRYPTO_DEV_FSL_CAAM_PRNG_API=n
CONFIG_PINCTRL_SUN55I_A523_R=n
CONFIG_MII=n
CONFIG_IPMI_DMI_DECODE=n
CONFIG_WLAN_VENDOR_PURELIFI=n
CONFIG_FEC=n
CONFIG_CLK_R8A77970=n
CONFIG_CRYPTO_LIB_SHA512_ARCH=n
CONFIG_CONTIG_ALLOC=n
CONFIG_AS_IS_GNU=n
CONFIG_CLK_INTEL_SOCFPGA=n
CONFIG_EXTCON_PTN5150=n
CONFIG_DMA_BCM2835=n
CONFIG_PHY_BCM_SR_USB=n
CONFIG_ARCH_SPRD=n
CONFIG_SA_VIDEOCC_8775P=n
CONFIG_RPMSG_CTRL=n
CONFIG_IMX93_ADC=n
CONFIG_LTO_NONE=n
CONFIG_ARM_SMMU_V3=n
CONFIG_RAID_ATTRS=n
CONFIG_ARM64_ERRATUM_1319367=n
CONFIG_MMC_TMIO_CORE=n
CONFIG_USB_LIBCOMPOSITE=n
CONFIG_ARCH_SUPPORTS_UPROBES=n
CONFIG_PINCTRL_UNIPHIER_LD11=n
CONFIG_SM_GCC_8250=n
CONFIG_MSM_GCC_8998=n
CONFIG_MEDIA_TUNER_XC2028=n
CONFIG_COMPAT_32BIT_TIME=n
CONFIG_RTC_DRV_MAX77686=n
CONFIG_PWRSEQ_SIMPLE=n
CONFIG_PHY_CADENCE_DPHY=n
CONFIG_PNFS_BLOCK=n
CONFIG_DRM_SUN4I=n
CONFIG_DRM_RZG2L_MIPI_DSI=n
CONFIG_ACPI_THERMAL_LIB=n
CONFIG_MTD_BLKDEVS=n
CONFIG_PINCTRL_MTK=n
CONFIG_MMC_MTK=n
CONFIG_OF_KOBJ=n
CONFIG_LD_ORPHAN_WARN=n
CONFIG_THERMAL=n
CONFIG_RD_LZO=n
CONFIG_RTC_DRV_PCF85363=n
CONFIG_NF_CT_PROTO_SCTP=n
CONFIG_KEYBOARD_GPIO_POLLED=n
CONFIG_MT7921_COMMON=n
CONFIG_TPS6594_ESM=n
CONFIG_RTC_DRV_PM8XXX=n
CONFIG_CRYPTO_CCM=n
CONFIG_CC_HAS_BRANCH_PROT_PAC_RET=n
CONFIG_VIDEO_SUN6I_CSI=n
CONFIG_RTC_LIB=n
CONFIG_SND_MESON_AXG_TDM_INTERFACE=n
CONFIG_NET_RX_BUSY_POLL=n
CONFIG_COMMON_CLK_MT8195_VDECSYS=n
CONFIG_HAVE_ARCH_SECCOMP=n
CONFIG_SUN55I_PCK600=n
CONFIG_SSB_POSSIBLE=n
CONFIG_NEED_PER_CPU_EMBED_FIRST_CHUNK=n
CONFIG_RTC_DRV_FSL_FTM_ALARM=n
CONFIG_SND_SUN8I_CODEC=n
CONFIG_TI_SCI_PM_DOMAINS=n
CONFIG_HAVE_ARCH_GET_SECUREBOOT=n
CONFIG_ARM_AIROHA_SOC_CPUFREQ=n
CONFIG_IMX_SCMI_LMM_EXT=n
CONFIG_SATA_SIL24=n
CONFIG_PHY_NXP_PTN3222=n
CONFIG_PINCTRL_MVEBU=n
CONFIG_DQL=n
CONFIG_SCSI_UFS_MEDIATEK=n
CONFIG_ARM64_WORKAROUND_TSB_FLUSH_FAILURE=n
CONFIG_CC_NO_STRINGOP_OVERFLOW=n
CONFIG_PINCTRL_DA9062=n
CONFIG_CRYPTO_USER=n
CONFIG_HISILICON_ERRATUM_161010101=n
CONFIG_USB_U_ETHER=n
CONFIG_IPQ_GCC_6018=n
CONFIG_VIRTIO_CONSOLE=n
CONFIG_NET_VENDOR_MARVELL=n
CONFIG_SND_SOC_SGTL5000=n
CONFIG_SPI_BCM_QSPI=n
CONFIG_AS_HAS_ARMV8_5=n
CONFIG_MTK_MFG_PM_DOMAIN=n
CONFIG_CRYPTO_DEV_QCE_SHA=n
CONFIG_XILINX_GMII2RGMII=n
CONFIG_SND_SOC_RZ=n
CONFIG_INTERVAL_TREE=n
CONFIG_EFI_EARLYCON=n
CONFIG_GENERIC_PHY_MIPI_DPHY=n
CONFIG_INTERCONNECT_QCOM_QCS8300=n
CONFIG_HAVE_ARCH_RANDOMIZE_KSTACK_OFFSET=n
CONFIG_V4L2_ASYNC=n
CONFIG_DRM_POWERVR=n
CONFIG_I2C_IMX_LPI2C=n
CONFIG_SERIAL_MSM_CONSOLE=n
CONFIG_NFS_DISABLE_UDP_SUPPORT=n
CONFIG_INTERCONNECT_QCOM_SC7280=n
CONFIG_ARM64_ERRATUM_826319=n
CONFIG_PCIE_TEGRA194_HOST=n
CONFIG_DRM_ITE_IT66121=n
CONFIG_PINCTRL_IMX93=n
CONFIG_HISI_THERMAL=n
CONFIG_ARM_MEDIATEK_CPUFREQ_HW=n
CONFIG_COMMON_CLK_MT8196_VDECSYS=n
CONFIG_MTD_GEN_PROBE=n
CONFIG_PINCTRL_ELIZA=n
CONFIG_ARCH_HAS_STRICT_MODULE_RWX=n
