CONFIG_X86_DISABLED_FEATURE_SEV_SNP=n
CONFIG_HIDRAW=n
CONFIG_ARCH_HAS_NON_OVERLAPPING_ADDRESS_SPACE=n
CONFIG_TRACE_IRQFLAGS_SUPPORT=n
CONFIG_EXT4_USE_FOR_EXT2=n
CONFIG_ARCH_FLATMEM_ENABLE=n
CONFIG_SMP=n
CONFIG_X86_DISABLED_FEATURE_SGX=n
CONFIG_SERIAL_8250_CONSOLE=n
CONFIG_SND_INTEL_SOUNDWIRE_ACPI=n
CONFIG_CRYPTO_LZO=n
CONFIG_HAVE_FUNCTION_GRAPH_FREGS=n
CONFIG_CRYPTO_AUTHENC=n
CONFIG_LEGACY_TIOCSTI=n
CONFIG_MITIGATION_SPECTRE_V2=n
CONFIG_RTC_DRV_CMOS=n
CONFIG_XZ_DEC_POWERPC=n
CONFIG_PCIEASPM=n
CONFIG_NFS_V4_0=n
CONFIG_HAVE_IOREMAP_PROT=n
CONFIG_JOLIET=n
CONFIG_NETFILTER_SKIP_EGRESS=n
CONFIG_ARCH_HAS_MEMBARRIER_SYNC_CORE=n
CONFIG_CRYPTO_AES=n
CONFIG_TIMERFD=n
CONFIG_CACHESTAT_SYSCALL=n
CONFIG_GLOB=n
CONFIG_USE_X86_SEG_SUPPORT=n
CONFIG_QFMT_V2=n
CONFIG_X86_LOCAL_APIC=n
CONFIG_GENERIC_IRQ_PROBE=n
CONFIG_NET_VENDOR_DEC=n
CONFIG_BLK_DEBUG_FS=n
CONFIG_OLD_SIGACTION=n
CONFIG_IP_ADVANCED_ROUTER=n
CONFIG_FTRACE=n
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST_IDLE=n
CONFIG_MITIGATION_SRBDS=n
CONFIG_MODULES_USE_ELF_REL=n
CONFIG_APERTURE_HELPERS=n
CONFIG_SATA_PMP=n
CONFIG_NVMEM=n
CONFIG_HW_RANDOM_INTEL=n
CONFIG_DRM_PANEL_ORIENTATION_QUIRKS=n
CONFIG_IRQ_DOMAIN=n
CONFIG_DYNAMIC_SIGFRAME=n
CONFIG_HAVE_KERNEL_XZ=n
CONFIG_ARCH_SUPPORTS_KEXEC=n
CONFIG_USB_EHCI_TT_NEWSCHED=n
CONFIG_VIRTIO_INPUT=n
CONFIG_HUGETLB_PAGE=n
CONFIG_CPUFREQ_ARCH_CUR_FREQ=n
CONFIG_HAVE_KPROBES=n
CONFIG_PAGE_SIZE_LESS_THAN_256KB=n
CONFIG_CRYPTO_SIG2=n
CONFIG_X86_DISABLED_FEATURE_LASS=n
CONFIG_THREAD_INFO_IN_TASK=n
CONFIG_FIRMWARE_MEMMAP=n
CONFIG_KALLSYMS=n
CONFIG_DCACHE_WORD_ACCESS=n
CONFIG_KERNFS=n
CONFIG_X86_DISABLED_FEATURE_CALL_DEPTH=n
CONFIG_HAVE_PERF_EVENTS_NMI=n
CONFIG_X86_MCE_AMD=n
CONFIG_NET_VENDOR_ENGLEDER=n
CONFIG_HID_SUPPORT=n
CONFIG_RELAY=n
CONFIG_STACKPROTECTOR=n
CONFIG_AIO=n
CONFIG_IOMMU_DMA=n
CONFIG_CRYPTO_LIB_AES=n
CONFIG_USB_XHCI_HCD=n
CONFIG_STRICT_DEVMEM=n
CONFIG_WLAN_VENDOR_ADMTEK=n
CONFIG_DMA_SHARED_BUFFER=n
CONFIG_NET_VENDOR_RDC=n
CONFIG_HID_TOPSEED=n
CONFIG_AS_WRUSS=n
CONFIG_CC_HAS_KASAN_SW_TAGS=n
CONFIG_VIRTIO_DMA_SHARED_BUFFER=n
CONFIG_QUOTA_TREE=n
CONFIG_DRM_DISPLAY_DSC_HELPER=n
CONFIG_USB_DEFAULT_PERSIST=n
CONFIG_USB_PCI_AMD=n
CONFIG_HAVE_UNSTABLE_SCHED_CLOCK=n
CONFIG_PM_SLEEP_DEBUG=n
CONFIG_X86_SUPPORTS_MEMORY_FAILURE=n
CONFIG_DEFAULT_CUBIC=n
CONFIG_BINFMT_MISC=n
CONFIG_ARCH_MIGHT_HAVE_PC_PARPORT=n
CONFIG_YENTA_ENE_TUNE=n
CONFIG_X86_DISABLED_FEATURE_IBT=n
CONFIG_INET6_ESP=n
CONFIG_GENERIC_BUG_RELATIVE_POINTERS=n
CONFIG_X86_INTEL_TSX_MODE_AUTO=n
CONFIG_HAVE_PCSPKR_PLATFORM=n
CONFIG_VHOST_ENABLE_FORK_OWNER_CONTROL=n
CONFIG_SND_PCI=n
CONFIG_UPROBES=n
CONFIG_NET_VENDOR_NI=n
CONFIG_DECOMPRESS_BZIP2=n
CONFIG_ACPI_DEBUG=n
CONFIG_SND_TIMER=n
CONFIG_NET_SELFTESTS=n
CONFIG_FS_MBCACHE=n
CONFIG_CHR_DEV_SG=n
CONFIG_NOP_TRACER=n
CONFIG_CC_HAS_MULTIDIMENSIONAL_NONSTRING=n
CONFIG_GENERIC_CALIBRATE_DELAY=n
CONFIG_NET_VENDOR_AQUANTIA=n
CONFIG_HID_SUNPLUS=n
CONFIG_X86_VMX_FEATURE_NAMES=n
CONFIG_XZ_DEC_ARM64=n
CONFIG_X86_USE_PPRO_CHECKSUM=n
CONFIG_NETFILTER_XT_MARK=n
CONFIG_PCIE_PME=n
CONFIG_ATA_ACPI=n
CONFIG_NET_VENDOR_MYRI=n
CONFIG_IO_URING_BPF=n
CONFIG_ARCH_WANT_LD_ORPHAN_WARN=n
CONFIG_WLAN_VENDOR_MICROCHIP=n
CONFIG_GENERIC_IRQ_ENTRY=n
CONFIG_SPARSE_IRQ=n
CONFIG_ARCH_HAS_DEBUG_VIRTUAL=n
CONFIG_WLAN_VENDOR_ST=n
CONFIG_CC_HAS_WORKING_NOSANITIZE_ADDRESS=n
CONFIG_CC_HAS_NAMED_AS_FIXED_SANITIZERS=n
CONFIG_SBITMAP=n
CONFIG_PHY_PACKAGE=n
CONFIG_SCREEN_INFO=n
CONFIG_CRYPTO_HMAC=n
CONFIG_HAVE_ARCH_WITHIN_STACK_FRAMES=n
CONFIG_ARCH_USE_MEMTEST=n
CONFIG_USB_ARCH_HAS_HCD=n
CONFIG_ACPI_BGRT=n
CONFIG_BLK_DEV=n
CONFIG_HAVE_PV_STEAL_CLOCK_GEN=n
CONFIG_CGROUP_FREEZER=n
CONFIG_CC_NO_STRINGOP_OVERFLOW=n
CONFIG_CPU_SUP_HYGON=n
CONFIG_X86_DISABLED_FEATURE_LAM=n
CONFIG_MD_BITMAP=n
CONFIG_WLAN_VENDOR_INTERSIL=n
CONFIG_CC_NO_ARRAY_BOUNDS=n
CONFIG_SOCK_RX_QUEUE_MAPPING=n
CONFIG_SHMEM=n
CONFIG_STACKPROTECTOR_STRONG=n
CONFIG_SLUB_DEBUG=n
CONFIG_RTC_I2C_AND_SPI=n
CONFIG_NET_VENDOR_PENSANDO=n
CONFIG_SERIAL_8250_MANY_PORTS=n
CONFIG_TASKS_RCU=n
CONFIG_XZ_DEC_SPARC=n
CONFIG_HAVE_MOD_ARCH_SPECIFIC=n
CONFIG_CONNECTOR=n
CONFIG_WLAN_VENDOR_SILABS=n
CONFIG_YENTA=n
CONFIG_HAVE_ARCH_MMAP_RND_BITS=n
CONFIG_ACPI_PLATFORM_PROFILE=n
CONFIG_CLOCKSOURCE_WATCHDOG=n
CONFIG_BLOCK_HOLDER_DEPRECATED=n
CONFIG_USB_PCI=n
CONFIG_ARCH_CLOCKSOURCE_INIT=n
CONFIG_SND_HRTIMER=n
CONFIG_RSEQ=n
CONFIG_IP6_NF_IPTABLES=n
CONFIG_PID_NS=n
CONFIG_EXCLUSIVE_SYSTEM_RAM=n
CONFIG_ATA_PIIX=n
CONFIG_HAVE_KRETPROBES=n
CONFIG_NET_VENDOR_ALIBABA=n
CONFIG_PCIEASPM_DEFAULT=n
CONFIG_ARCH_USE_SYM_ANNOTATIONS=n
CONFIG_RTC_LIB=n
CONFIG_NET_SCHED=n
CONFIG_SCSI_CONSTANTS=n
CONFIG_ARCH_WANT_GENERAL_HUGETLB=n
CONFIG_OLD_SIGSUSPEND3=n
CONFIG_ARCH_HAS_CPU_ATTACK_VECTORS=n
CONFIG_PNFS_BLOCK=n
CONFIG_NFS_V4=n
CONFIG_HAVE_STACKPROTECTOR=n
CONFIG_HID_NTRIG=n
CONFIG_GENERIC_IRQ_MATRIX_ALLOCATOR=n
CONFIG_POSIX_TIMERS=n
CONFIG_HAVE_EISA=n
CONFIG_ETHERNET=n
CONFIG_INPUT_MISC=n
CONFIG_HAVE_GCC_PLUGINS=n
CONFIG_NET_VENDOR_RENESAS=n
CONFIG_X86_DISABLED_FEATURE_SYSCALL32=n
CONFIG_VIRTIO_MENU=n
CONFIG_USB_XHCI_PCI=n
CONFIG_NEED_PER_CPU_PAGE_FIRST_CHUNK=n
CONFIG_X86_DEBUGCTLMSR=n
CONFIG_CC_HAS_COUNTED_BY=n
CONFIG_ARCH_SUPPORTS_ACPI=n
CONFIG_GENERIC_IRQ_RESERVATION_MODE=n
CONFIG_X86_DISABLED_FEATURE_TDX_GUEST=n
CONFIG_MEMBARRIER=n
CONFIG_ARCH_HAS_DEBUG_VM_PGTABLE=n
CONFIG_NET_VENDOR_ADAPTEC=n
CONFIG_CROSS_MEMORY_ATTACH=n
CONFIG_HW_RANDOM_VIA=n
CONFIG_HIBERNATE_CALLBACKS=n
CONFIG_HAVE_KERNEL_LZ4=n
CONFIG_ZONE_DMA=n
CONFIG_HAVE_EBPF_JIT=n
CONFIG_KRETPROBES=n
CONFIG_POWER_SUPPLY=n
CONFIG_BLK_DEV_IO_TRACE=n
CONFIG_HAVE_DEBUG_STACKOVERFLOW=n
CONFIG_NET_VENDOR_AGERE=n
CONFIG_TASKSTATS=n
CONFIG_PREEMPT_COUNT=n
CONFIG_CGROUP_PIDS=n
CONFIG_REGMAP=n
CONFIG_E1000E_HWTS=n
CONFIG_MOUSE_PS2_LIFEBOOK=n
CONFIG_ARCH_HAS_PARANOID_L1D_FLUSH=n
CONFIG_NETFILTER_XTABLES=n
CONFIG_HAVE_ARCH_PREL32_RELOCATIONS=n
CONFIG_PADATA=n
CONFIG_CRYPTO_LIB_MD5=n
CONFIG_PANTHERLORD_FF=n
CONFIG_FONT_AUTOSELECT=n
CONFIG_DEBUG_ENTRY=n
CONFIG_ACPI_PROCESSOR_CSTATE=n
CONFIG_ALLOW_DEV_COREDUMP=n
CONFIG_IP_PIMSM_V1=n
CONFIG_PCI_DIRECT=n
CONFIG_PRINTK=n
CONFIG_BSD_PROCESS_ACCT=n
CONFIG_SYSVIPC=n
CONFIG_NLS_UTF8=n
CONFIG_AMD_NB=n
CONFIG_ARCH_SUPPORTS_SCHED_MC=n
CONFIG_NFS_USE_KERNEL_DNS=n
CONFIG_PCIEPORTBUS=n
CONFIG_ARCH_HAS_FORTIFY_SOURCE=n
CONFIG_CRYPTO_HASH=n
CONFIG_DST_CACHE=n
CONFIG_SND_HDA_HWDEP=n
CONFIG_X86_16BIT=n
CONFIG_GENERIC_MSI_IRQ=n
CONFIG_GENERIC_STRNLEN_USER=n
CONFIG_ARCH_HAVE_NMI_SAFE_CMPXCHG=n
CONFIG_NET_EMATCH=n
CONFIG_SSB_POSSIBLE=n
CONFIG_SCHED_CLUSTER=n
CONFIG_PCCARD=n
CONFIG_MODIFY_LDT_SYSCALL=n
CONFIG_ARCH_USE_QUEUED_RWLOCKS=n
CONFIG_NET_PTP_CLASSIFY=n
CONFIG_HAVE_PERF_EVENTS=n
CONFIG_NETFILTER_EGRESS=n
CONFIG_CRYPTO_ALGAPI2=n
CONFIG_GENERIC_IRQ_SHOW=n
CONFIG_HAVE_USER_RETURN_NOTIFIER=n
CONFIG_PPS=n
CONFIG_CPU_FREQ_GOV_COMMON=n
CONFIG_X86_DISABLED_FEATURE_FRED=n
CONFIG_SERIAL_8250_DETECT_IRQ=n
CONFIG_STACKTRACE=n
CONFIG_CGROUP_PERF=n
CONFIG_TASKS_TRACE_RCU=n
CONFIG_SECTION_MISMATCH_WARN_ONLY=n
CONFIG_IP_ROUTE_MULTIPATH=n
CONFIG_GENERIC_ENTRY=n
CONFIG_SERIAL_8250_EXAR=n
CONFIG_SGL_ALLOC=n
CONFIG_PNP=n
CONFIG_ACPI_BATTERY=n
CONFIG_DEFAULT_SECURITY_SELINUX=n
CONFIG_SERIAL_8250_DMA=n
CONFIG_ELF_CORE=n
CONFIG_CRYPTO_LIB_UTILS=n
CONFIG_NET_CORE=n
CONFIG_MMU_LAZY_TLB_REFCOUNT=n
CONFIG_DRM_DISPLAY_HELPER=n
CONFIG_PAGE_POOL=n
CONFIG_MAGIC_SYSRQ=n
CONFIG_PM=n
CONFIG_DMI=n
CONFIG_ARCH_HAS_NMI_SAFE_THIS_CPU_OPS=n
CONFIG_MICROCODE_INITRD32=n
CONFIG_UNWINDER_FRAME_POINTER=n
CONFIG_CRC32=n
CONFIG_HAVE_IRQ_TIME_ACCOUNTING=n
CONFIG_PCI_DOMAINS=n
CONFIG_ARCH_HAS_SET_MEMORY=n
CONFIG_INPUT_SPARSEKMAP=n
CONFIG_CC_IS_GCC=n
CONFIG_GENERIC_IRQ_EFFECTIVE_AFF_MASK=n
CONFIG_INPUT_JOYSTICK=n
CONFIG_ACPI_VIDEO=n
CONFIG_RTC_INTF_PROC=n
CONFIG_SUNRPC_BACKCHANNEL=n
CONFIG_NET_CLS=n
CONFIG_PREVENT_FIRMWARE_BUILD=n
