CONFIG_ARCH_WANT_HUGETLB_VMEMMAP_PREINIT=n
CONFIG_HID_PID=n
CONFIG_KEXEC_CORE=n
CONFIG_PREEMPT_RCU=n
CONFIG_MAC80211_RC_DEFAULT_MINSTREL=n
CONFIG_NET_VENDOR_STMICRO=n
CONFIG_IO_WQ=n
CONFIG_MODULES_TREE_LOOKUP=n
CONFIG_SWAP=n
CONFIG_ARCH_SUPPORTS_CFI=n
CONFIG_VM_EVENT_COUNTERS=n
CONFIG_IP6_NF_MATCH_IPV6HEADER=n
CONFIG_MITIGATION_CALL_DEPTH_TRACKING=n
CONFIG_BLK_DEV_DM_BUILTIN=n
CONFIG_ATA_SFF=n
CONFIG_CRYPTO_LIB_GF128HASH=n
CONFIG_HAVE_ARCH_AUDITSYSCALL=n
CONFIG_HAVE_MOVE_PMD=n
CONFIG_NET_VENDOR_MICREL=n
CONFIG_SYSTEM_TRUSTED_KEYRING=n
CONFIG_HAVE_ACPI_APEI=n
CONFIG_DMA_VIRTUAL_CHANNELS=n
CONFIG_SCSI_CONSTANTS=n
CONFIG_CRYPTO_AES=n
CONFIG_PCMCIA=n
CONFIG_GENERIC_CLOCKEVENTS=n
CONFIG_IPV6=n
CONFIG_NET_VENDOR_WIZNET=n
CONFIG_ATA_PIIX=n
CONFIG_NET_VENDOR_FUNGIBLE=n
CONFIG_ACPI_EC=n
CONFIG_TTY=n
CONFIG_NET_VENDOR_SUN=n
CONFIG_INET_TUNNEL=n
CONFIG_X86_DEBUGCTLMSR=n
CONFIG_QFMT_V2=n
CONFIG_ACPI_MRRM=n
CONFIG_NET_VENDOR_3COM=n
CONFIG_MITIGATION_SPECTRE_BHI=n
CONFIG_PROC_VMCORE=n
CONFIG_DRM_PANEL_ORIENTATION_QUIRKS=n
CONFIG_BLK_RQ_ALLOC_TIME=n
CONFIG_RD_ZSTD=n
CONFIG_CGROUP_CPUACCT=n
CONFIG_PM_SLEEP=n
CONFIG_GENERIC_BUG=n
CONFIG_CC_HAS_COUNTED_BY=n
CONFIG_NET_CORE=n
CONFIG_PACKET=n
CONFIG_VMCORE_INFO=n
CONFIG_COMPAT_BINFMT_ELF=n
CONFIG_FW_LOADER=n
CONFIG_AGP_INTEL=n
CONFIG_SCHED_CACHE=n
CONFIG_QUOTA_TREE=n
CONFIG_NETWORK_FILESYSTEMS=n
CONFIG_SND_PCI=n
CONFIG_DEBUG_MISC=n
CONFIG_SECURITY=n
CONFIG_HAVE_KERNEL_BZIP2=n
CONFIG_HAVE_GENERIC_VDSO=n
CONFIG_SOCK_CGROUP_DATA=n
CONFIG_CGROUP_NET_PRIO=n
CONFIG_GENERIC_SYSCALL=n
CONFIG_AMD_NB=n
CONFIG_ARCH_SUPPORTS_MSEAL_SYSTEM_MAPPINGS=n
CONFIG_TIGON3=n
CONFIG_ARCH_HAS_ADD_PAGES=n
CONFIG_SPLIT_PTE_PTLOCKS=n
CONFIG_ARCH_SUPPORTS_PER_VMA_LOCK=n
CONFIG_THERMAL_GOV_STEP_WISE=n
CONFIG_HID_NTRIG=n
CONFIG_ACPI_LEGACY_TABLES_LOOKUP=n
CONFIG_MD=n
CONFIG_NET_EGRESS=n
CONFIG_HAVE_KCSAN_COMPILER=n
CONFIG_X86_REQUIRED_FEATURE_FXSR=n
CONFIG_ACPI_MDIO=n
CONFIG_XXHASH=n
CONFIG_PCPU_DEV_REFCNT=n
CONFIG_BLK_DEV_LOOP=n
CONFIG_MOUSE_PS2_FOCALTECH=n
CONFIG_SND_CTL_FAST_LOOKUP=n
CONFIG_GENERIC_BITREVERSE=n
CONFIG_RUNTIME_TESTING_MENU=n
CONFIG_DIMLIB=n
CONFIG_PCI_ATS=n
CONFIG_VIRTIO_PCI_LIB_LEGACY=n
CONFIG_SCSI_VIRTIO=n
CONFIG_SYSCTL=n
CONFIG_FUNCTION_ALIGNMENT_4B=n
CONFIG_INTEL_GTT=n
CONFIG_ARCH_VMLINUX_NEEDS_RELOCS=n
CONFIG_ARCH_USE_QUEUED_SPINLOCKS=n
CONFIG_NO_HZ_COMMON=n
CONFIG_VIRTUALIZATION=n
CONFIG_HAVE_UID16=n
CONFIG_CRYPTO_HMAC=n
CONFIG_MQ_IOSCHED_DEADLINE=n
CONFIG_RFKILL_LEDS=n
CONFIG_HAVE_ARCH_WITHIN_STACK_FRAMES=n
CONFIG_NF_CONNTRACK=n
CONFIG_OPTPROBES=n
CONFIG_PAGE_SIZE_LESS_THAN_64KB=n
CONFIG_CRYPTO_ECB=n
CONFIG_ARCH_SUPPORTS_KEXEC_PURGATORY=n
CONFIG_HSU_DMA=n
CONFIG_RD_GZIP=n
CONFIG_I2C=n
CONFIG_AUDITSYSCALL=n
CONFIG_PERF_EVENTS=n
CONFIG_IP_PIMSM_V2=n
CONFIG_SPARSE_IRQ=n
CONFIG_CRYPTO_KRB5ENC=n
CONFIG_ARCH_MIGHT_HAVE_PC_PARPORT=n
CONFIG_X509_CERTIFICATE_PARSER=n
CONFIG_HALTPOLL_CPUIDLE=n
CONFIG_CDROM=n
CONFIG_INTEGRITY=n
CONFIG_MITIGATION_SRSO=n
CONFIG_NLS_ISO8859_1=n
CONFIG_MITIGATION_RETBLEED=n
CONFIG_SND_PROC_FS=n
CONFIG_SECCOMP_FILTER=n
CONFIG_TIME_NS_VDSO=n
CONFIG_DRM=n
CONFIG_NET_VENDOR_MICROCHIP=n
CONFIG_NET_VENDOR_RDC=n
CONFIG_SND_SEQ_HRTIMER_DEFAULT=n
CONFIG_DMI_SCAN_MACHINE_NON_EFI_FALLBACK=n
CONFIG_NF_LOG_IPV4=n
CONFIG_UID16=n
CONFIG_HID=n
CONFIG_NET_VENDOR_ALACRITECH=n
CONFIG_XARRAY_MULTI=n
CONFIG_ACPI_DEBUG=n
CONFIG_HOTPLUG_CORE_SYNC=n
CONFIG_PNFS_BLOCK=n
CONFIG_SERIAL_8250_PCILIB=n
CONFIG_SKB_EXTENSIONS=n
CONFIG_ARCH_STACKWALK=n
CONFIG_SECCOMP=n
CONFIG_COREDUMP=n
CONFIG_ARCH_WANTS_NO_INSTR=n
CONFIG_NF_LOG_IPV6=n
CONFIG_USB_ARCH_HAS_HCD=n
CONFIG_ACPI_I2C_OPREGION=n
CONFIG_NLATTR=n
CONFIG_FWNODE_MDIO=n
CONFIG_CRC32_ARCH=n
CONFIG_X86_CMOV=n
CONFIG_ARCH_SUPPORTS_KEXEC_SIG=n
CONFIG_ARCH_MIGHT_HAVE_PC_SERIO=n
CONFIG_TRACE_IRQFLAGS_SUPPORT=n
CONFIG_USB_HID=n
CONFIG_EEEPC_LAPTOP=n
CONFIG_ETHTOOL_NETLINK=n
CONFIG_BUILDTIME_TABLE_SORT=n
CONFIG_EARLY_PRINTK=n
CONFIG_UPROBES=n
CONFIG_FUTEX_ROBUST_UNLOCK=n
CONFIG_DRM_VIRTIO_GPU_KMS=n
CONFIG_NETCONSOLE=n
CONFIG_SERIAL_8250_PERICOM=n
CONFIG_PATA_OLDPIIX=n
CONFIG_VT=n
CONFIG_X86_MCE_AMD=n
CONFIG_FAILOVER=n
CONFIG_VT_CONSOLE_SLEEP=n
CONFIG_DRM_I915_CAPTURE_ERROR=n
CONFIG_GENERIC_ISA_DMA=n
CONFIG_NET_VENDOR_TI=n
CONFIG_X86_DISABLED_FEATURE_SEV_SNP=n
CONFIG_X86_MCE_INTEL=n
CONFIG_GCC10_NO_ARRAY_BOUNDS=n
CONFIG_X86_VMX_FEATURE_NAMES=n
CONFIG_ARCH_HAS_SYSCALL_WRAPPER=n
CONFIG_HPET_TIMER=n
CONFIG_DRM_CLIENT_SELECTION=n
CONFIG_I2C_BOARDINFO=n
CONFIG_CRYPTO_LIB_MD5=n
CONFIG_HAVE_OPTPROBES=n
CONFIG_COMPACTION=n
CONFIG_CPU_FREQ_GOV_ONDEMAND=n
CONFIG_HID_SUNPLUS=n
CONFIG_AIO=n
CONFIG_STANDALONE=n
CONFIG_SCHEDSTATS=n
CONFIG_MITIGATION_TSA=n
CONFIG_WMI_BMOF=n
CONFIG_HAVE_PERF_REGS=n
CONFIG_VIRTIO_DMA_SHARED_BUFFER=n
CONFIG_WLAN_VENDOR_SILABS=n
CONFIG_ARCH_HAS_ELF_RANDOMIZE=n
CONFIG_SUSPEND_FREEZER=n
CONFIG_NET_VENDOR_CADENCE=n
CONFIG_USB_OHCI_LITTLE_ENDIAN=n
CONFIG_DRM_PANEL=n
CONFIG_IOMMU_DMA=n
CONFIG_X86_HV_CALLBACK_VECTOR=n
CONFIG_POSIX_CPU_TIMERS_TASK_WORK=n
CONFIG_CC_HAS_COUNTED_BY_PTR=n
CONFIG_GENERIC_IRQ_ENTRY=n
CONFIG_HAVE_RSEQ=n
CONFIG_CPU_IDLE=n
CONFIG_MITIGATION_PAGE_TABLE_ISOLATION=n
CONFIG_X86_MCE_THRESHOLD=n
CONFIG_PROC_FS=n
CONFIG_IP_MULTICAST=n
CONFIG_CC_HAS_INT128=n
CONFIG_HAVE_DYNAMIC_FTRACE_NO_PATCHABLE=n
CONFIG_UPROBE_EVENTS=n
CONFIG_SYSFS=n
CONFIG_IP_PNP=n
CONFIG_GENERIC_IRQ_SHOW=n
CONFIG_CC_HAS_NO_PROFILE_FN_ATTR=n
CONFIG_TASK_IO_ACCOUNTING=n
CONFIG_GENERIC_GETTIMEOFDAY=n
CONFIG_SCHED_INFO=n
CONFIG_POSIX_TIMERS=n
CONFIG_ARCH_SUPPORTS_SCHED_MC=n
CONFIG_RING_BUFFER=n
CONFIG_CGROUPS=n
CONFIG_PREEMPTION=n
CONFIG_HAVE_IRQ_EXIT_ON_IRQ_STACK=n
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST_IDLE=n
CONFIG_ARCH_USE_CMPXCHG_LOCKREF=n
CONFIG_PHYLIB=n
CONFIG_GENERIC_PCI_IOMAP=n
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_DIRECT_CALLS=n
CONFIG_HRTIMER_REARM_DEFERRED=n
CONFIG_DRM_MIPI_DSI=n
CONFIG_CRYPTO_KRB5=n
CONFIG_IOMMU_API=n
CONFIG_AS_WRUSS=n
CONFIG_EDAC_ATOMIC_SCRUB=n
CONFIG_HAVE_KERNEL_ZSTD=n
CONFIG_USB_DEFAULT_PERSIST=n
CONFIG_RTC_I2C_AND_SPI=n
CONFIG_ARCH_SUPPORTS_KEXEC_JUMP=n
CONFIG_NET_VENDOR_EZCHIP=n
CONFIG_HAVE_ARCH_KASAN_VMALLOC=n
CONFIG_IO_URING_ZCRX=n
CONFIG_NET_VENDOR_ROCKER=n
CONFIG_TMPFS_POSIX_ACL=n
CONFIG_ATA_BMDMA=n
CONFIG_FORCEDETH=n
CONFIG_HOTPLUG_PCI=n
CONFIG_SERIO_SERPORT=n
CONFIG_CFG80211_CRDA_SUPPORT=n
CONFIG_QUOTA_NETLINK_INTERFACE=n
CONFIG_ARCH_HAS_CPU_FINALIZE_INIT=n
CONFIG_RTC_SYSTOHC=n
CONFIG_NET_VENDOR_DAVICOM=n
CONFIG_CRYPTO_ECHAINIV=n
CONFIG_GENERIC_CMOS_UPDATE=n
CONFIG_TRACEFS_AUTOMOUNT_DEPRECATED=n
CONFIG_YENTA_TI=n
CONFIG_HAVE_ARCH_SECCOMP=n
CONFIG_IRQ_FORCED_THREADING=n
CONFIG_SCSI_MOD=n
CONFIG_CPU_SUP_AMD=n
CONFIG_NETFILTER_XT_TARGET_MASQUERADE=n
CONFIG_USB_ANNOUNCE_NEW_DEVICES=n
CONFIG_CALL_THUNKS=n
CONFIG_NET_VENDOR_CAVIUM=n
CONFIG_HIBERNATION=n
CONFIG_ARCH_PROC_KCORE_TEXT=n
CONFIG_HAVE_ARCH_TRACEHOOK=n
CONFIG_PAGE_SIZE_4KB=n
CONFIG_EEPROM_93CX6=n
CONFIG_TASKSTATS=n
CONFIG_PCIEPORTBUS=n
CONFIG_INTEL_IOMMU_SCALABLE_MODE_DEFAULT_ON=n
CONFIG_EFI_STUB=n
CONFIG_CRASH_HOTPLUG=n
CONFIG_BPF=n
CONFIG_RANDOMIZE_BASE=n
CONFIG_NET_VENDOR_EMULEX=n
CONFIG_DECOMPRESS_BZIP2=n
CONFIG_SERIO_LIBPS2=n
CONFIG_ARCH_HAS_HW_PTE_YOUNG=n
CONFIG_I8253_LOCK=n
CONFIG_X86_64=n
CONFIG_USB_HIDDEV=n
CONFIG_CRYPTO_MANAGER=n
CONFIG_LEGACY_VSYSCALL_XONLY=n
CONFIG_EFI_RUNTIME_WRAPPERS=n
CONFIG_HYPERVISOR_GUEST=n
CONFIG_USB_STORAGE=n
CONFIG_TASK_XACCT=n
CONFIG_MII=n
CONFIG_NET_TULIP=n
CONFIG_DUMMY_CONSOLE=n
CONFIG_INPUT_VIVALDIFMAP=n
CONFIG_ARCH_SUPPORTS_KEXEC_FILE=n
CONFIG_NEED_DMA_MAP_STATE=n
CONFIG_SPARSEMEM=n
CONFIG_SOUND=n
CONFIG_MITIGATION_SPECTRE_V2=n
