CONFIG_VM_EVENT_COUNTERS=n
CONFIG_HAVE_PREEMPT_DYNAMIC_KEY=n
CONFIG_SND_SOC_QDSP6_AFE_DAI=n
CONFIG_PINCTRL_IMX8DXL=n
CONFIG_DRM_CLIENT_LIB=n
CONFIG_SCHED_CLUSTER=n
CONFIG_HAVE_RUST=n
CONFIG_USB_OHCI_HCD=n
CONFIG_DMA_OPS_HELPERS=n
CONFIG_RESET_SUNXI=n
CONFIG_PINCTRL_MT8516=n
CONFIG_SND_SOC_MSM8996=n
CONFIG_SND_SOC_BT_SCO=n
CONFIG_TYPEC_TCPCI_MAXIM=n
CONFIG_TCP_CONG_CUBIC=n
CONFIG_ARM64_ERRATUM_826319=n
CONFIG_NFS_FS=n
CONFIG_FSL_DPAA2_PTP_CLOCK=n
CONFIG_DMA_DECLARE_COHERENT=n
CONFIG_DWMAC_RENESAS_GBETH=n
CONFIG_XEN=n
CONFIG_HAVE_STACKPROTECTOR=n
CONFIG_IRQ_POLL=n
CONFIG_IIO_ST_LSM6DSX_I2C=n
CONFIG_NVMEM_ZYNQMP=n
CONFIG_TEGRA_BPMP_THERMAL=n
CONFIG_PINCTRL_RTD1315E=n
CONFIG_DRM_PANEL_BRIDGE=n
CONFIG_SC_GCC_7180=n
CONFIG_MMU_GATHER_RCU_TABLE_FREE=n
CONFIG_RESET_BRCMSTB=n
CONFIG_SM_GCC_MILOS=n
CONFIG_HAVE_CMPXCHG_DOUBLE=n
CONFIG_PCIE_ALTERA_MSI=n
CONFIG_FSL_ENETC_PTP_CLOCK=n
CONFIG_PINCTRL_PFC_R8A779F0=n
CONFIG_ARCH_K3=n
CONFIG_CPU_IDLE=n
CONFIG_ACPI_PPTT=n
CONFIG_NET_VENDOR_RENESAS=n
CONFIG_SOUNDWIRE=n
CONFIG_SYSC_R9A08G046=n
CONFIG_COMMON_CLK_ZYNQMP=n
CONFIG_DRM_RCAR_VSP=n
CONFIG_INPUT_BBNSM_PWRKEY=n
CONFIG_NVME_CORE=n
CONFIG_GPIO_ROCKCHIP=n
CONFIG_SND_SOC_X1E80100=n
CONFIG_WLAN_VENDOR_ATMEL=n
CONFIG_PCIEPORTBUS=n
CONFIG_LEDS_QCOM_FLASH=n
CONFIG_IMX_REMOTEPROC=n
CONFIG_RENESAS_DMA=n
CONFIG_DRM_PARADE_PS8640=n
CONFIG_SND_HDA_CODEC_HDMI_NVIDIA_MCP=n
CONFIG_UNIX=n
CONFIG_DEVFREQ_GOV_SIMPLE_ONDEMAND=n
CONFIG_PM=n
CONFIG_VIDEO_IMX8_ISI=n
CONFIG_CRYPTO_LIB_DES=n
CONFIG_NUMA_KEEP_MEMINFO=n
CONFIG_OF_GPIO=n
CONFIG_SYSC_R8A77965=n
CONFIG_PINCTRL_RTD1319D=n
CONFIG_DMA_ENGINE=n
CONFIG_TCG_TIS=n
CONFIG_ARM_PSCI_CPUIDLE_DOMAIN=n
CONFIG_PHY_MVEBU_CP110_COMPHY=n
CONFIG_BUG=n
CONFIG_PHY_QCOM_EDP=n
CONFIG_SND_SOC_QDSP6=n
CONFIG_SND_SOC_LPASS_CPU=n
CONFIG_SATA_HOST=n
CONFIG_ACPI=n
CONFIG_ARCH_MICROCHIP=n
CONFIG_GPIO_XGENE_SB=n
CONFIG_NET_DSA_TAG_OCELOT=n
CONFIG_ARCH_WANT_DEFAULT_BPF_JIT=n
CONFIG_DRM_MEDIATEK_HDMI_V2=n
CONFIG_VIDEO_ROCKCHIP_RGA=n
CONFIG_ETHERNET=n
CONFIG_SND_SOC_GTM601=n
CONFIG_CRYPTO_AES=n
CONFIG_COMMON_CLK_MT8365_CAM=n
CONFIG_ARCH_PROC_KCORE_TEXT=n
CONFIG_CFG80211_REQUIRE_SIGNED_REGDB=n
CONFIG_XILINX_AMS=n
CONFIG_PCI_LAYERSCAPE=n
CONFIG_NET_VENDOR_ALIBABA=n
CONFIG_CRYPTO_AKCIPHER2=n
CONFIG_GENERIC_ARCH_NUMA=n
CONFIG_ARCH_BCM_IPROC=n
CONFIG_NEED_SG_DMA_FLAGS=n
CONFIG_COMPAT_OLD_SIGACTION=n
CONFIG_VIDEO_CAMERA_LENS=n
CONFIG_DWMAC_VISCONTI=n
CONFIG_APPLE_RTKIT=n
CONFIG_SCHED_MC=n
CONFIG_PGTABLE_HAS_HUGE_LEAVES=n
CONFIG_MPILIB=n
CONFIG_ARCH_HAS_GIGANTIC_PAGE=n
CONFIG_IOMMU_DEFAULT_DMA_STRICT=n
CONFIG_SND_SOC_SDM845=n
CONFIG_USB_BELKIN=n
CONFIG_ARM64_LSUI=n
CONFIG_QCS_GCC_615=n
CONFIG_WQ_POWER_EFFICIENT_DEFAULT=n
CONFIG_ARCH_HISI=n
CONFIG_NFC_NCI=n
CONFIG_MOUSE_PS2_FOCALTECH=n
CONFIG_USB_DWC3_HAPS=n
CONFIG_SND_SOC_SIMPLE_AMPLIFIER=n
CONFIG_QCOM_CLK_APCS_MSM8916=n
CONFIG_SERIAL_XILINX_PS_UART=n
CONFIG_DEBUG_INFO_COMPRESSED_NONE=n
CONFIG_PINCTRL_RTD1619B=n
CONFIG_ARCH_HAS_PREEMPT_LAZY=n
CONFIG_SPI_S3C64XX=n
CONFIG_XILINX_AXI_EMAC=n
CONFIG_SERIAL_8250_FSL=n
CONFIG_MTD_PHYSMAP_OF=n
CONFIG_MFD_MACSMC=n
CONFIG_MMC_SDHCI_TEGRA=n
CONFIG_RD_LZMA=n
CONFIG_GPIO_ACPI=n
CONFIG_MTK_CMDQ_MBOX=n
CONFIG_VIDEO_RCAR_DRIF=n
CONFIG_MSM_GCC_8916=n
CONFIG_ACPI_THERMAL_LIB=n
CONFIG_RTC_DRV_AMLOGIC_A4=n
CONFIG_ATH12K=n
CONFIG_PCI_LABEL=n
CONFIG_COMMON_CLK_S4_PERIPHERALS=n
CONFIG_STAGING=n
CONFIG_ARM_IMX_BUS_DEVFREQ=n
CONFIG_SND_SOC_TEGRA186_DSPK=n
CONFIG_CLK_MA35D1=n
CONFIG_CRYPTO_LIB_AES_ARCH=n
CONFIG_ACPI_APEI_SEA=n
CONFIG_COMMON_CLK_MT8183_IPU_CORE1=n
CONFIG_MM_ID=n
CONFIG_SERIAL_8250_EM=n
CONFIG_ARCH_USES_PG_ARCH_3=n
CONFIG_TYPEC_QCOM_PMIC=n
CONFIG_ROCKCHIP_ERRATUM_3568002=n
CONFIG_DWMAC_GENERIC=n
CONFIG_COMMON_CLK_MT8173_MMSYS=n
CONFIG_DRM_EXYNOS_DSI=n
CONFIG_SRAM=n
CONFIG_HAS_IOPORT=n
CONFIG_CLK_R8A779A0=n
CONFIG_SUSPEND_FREEZER=n
CONFIG_MFD_ADP5585=n
CONFIG_PINCTRL_IMX_SCMI=n
CONFIG_ARMADA_AP806_SYSCON=n
CONFIG_CAN_GW=n
CONFIG_DRM_SUN8I_DW_HDMI=n
CONFIG_DRM_PANEL_BOE_TV101WUM_NL6=n
CONFIG_RENESAS_OSTM=n
CONFIG_ARCH_BST=n
CONFIG_XZ_DEC_ARM=n
CONFIG_ATH10K_SNOC=n
CONFIG_MFD_RK8XX_SPI=n
CONFIG_SND_SOC_ROCKCHIP_SPDIF=n
CONFIG_PNPACPI=n
CONFIG_COMMON_CLK_MT8365_MMSYS=n
CONFIG_USB_ULPI_VIEWPORT=n
CONFIG_DRM_MSM_KMS_FBDEV=n
CONFIG_PINCTRL_S700=n
CONFIG_INPUT_PWM_BEEPER=n
CONFIG_RESET_RZV2H_USB2PHY=n
CONFIG_SERIAL_FSL_LPUART=n
CONFIG_MTD_CFI_I2=n
CONFIG_PHY_ROCKCHIP_USBDP=n
CONFIG_USB_MTU3_DUAL_ROLE=n
CONFIG_PREEMPT_BUILD=n
CONFIG_SND_SOC_IMX_AUDMUX=n
CONFIG_QCOM_WDT=n
CONFIG_SOC_TEGRA_POWERGATE_BPMP=n
CONFIG_SND_COMPRESS_OFFLOAD=n
CONFIG_SERIAL_CORE_CONSOLE=n
CONFIG_HAVE_FUNCTION_TRACER=n
CONFIG_SND_CTL_FAST_LOOKUP=n
CONFIG_LS_EXTIRQ=n
CONFIG_PHY_AM654_SERDES=n
CONFIG_MLX5_CORE=n
CONFIG_THUNDER_NIC_PF=n
CONFIG_ARCH_HAS_DEBUG_VIRTUAL=n
CONFIG_NET_VENDOR_QUALCOMM=n
CONFIG_KVM_GENERIC_HARDWARE_ENABLING=n
CONFIG_STUB_CLK_HI3660=n
CONFIG_NVMEM_REBOOT_MODE=n
CONFIG_POWER_RESET_SYSCON=n
CONFIG_ROCKCHIP_DW_DP=n
CONFIG_PSTORE_COMPRESS=n
CONFIG_LINEAR_RANGES=n
CONFIG_AS_HAS_LSUI=n
CONFIG_ARCH_BCM=n
CONFIG_ARM_ALLWINNER_SUN50I_CPUFREQ_NVMEM=n
CONFIG_SM_GCC_8550=n
CONFIG_QCOM_WCNSS_CTRL=n
CONFIG_DECOMPRESS_LZO=n
CONFIG_INTERCONNECT_QCOM_QCS404=n
CONFIG_CC_HAS_ZERO_CALL_USED_REGS=n
CONFIG_QCOM_RPROC_COMMON=n
CONFIG_CLK_BCM2835=n
CONFIG_PINCTRL_SUN55I_A523_R=n
CONFIG_USB_XHCI_TEGRA=n
CONFIG_CPU_FREQ_GOV_ONDEMAND=n
CONFIG_CPU_LITTLE_ENDIAN=n
CONFIG_CPUMASK_OFFSTACK=n
CONFIG_NVMEM_IMX_OCOTP_ELE=n
CONFIG_XILINX_WINDOW_WATCHDOG=n
CONFIG_RSI_DEBUGFS=n
CONFIG_CFG80211=n
CONFIG_SND_HDA_ALIGNED_MMIO=n
CONFIG_PINCTRL_SUN55I_A523=n
CONFIG_APPLE_AIC=n
CONFIG_HW_RANDOM_MTK=n
CONFIG_DRM_GEM_SHMEM_HELPER=n
CONFIG_CROS_EC_SPI=n
CONFIG_BINFMT_SCRIPT=n
CONFIG_RTC_DRV_RK808=n
CONFIG_XZ_DEC_SPARC=n
CONFIG_GENERIC_IRQ_IPI=n
CONFIG_SUN55I_PCK600=n
CONFIG_DRM_BRIDGE_CONNECTOR=n
CONFIG_VIDEO_MEDIATEK_JPEG=n
CONFIG_ARM64_ERRATUM_832075=n
CONFIG_FPGA_MGR_ALTERA_CVP=n
CONFIG_EXT4_FS_SECURITY=n
CONFIG_CRYPTO_DEV_QCE_SKCIPHER=n
CONFIG_NVIDIA_CORESIGHT_PMU_ARCH_SYSTEM_PMU=n
CONFIG_CFG80211_DEFAULT_PS=n
CONFIG_ARM64_ERRATUM_4311569=n
CONFIG_COMMON_CLK_FSL_SAI=n
CONFIG_QCOM_LLCC=n
CONFIG_DECOMPRESS_ZSTD=n
CONFIG_CLK_LS1028A_PLLDIG=n
CONFIG_MEDIA_TUNER_SIMPLE=n
CONFIG_DRM_LONTIUM_LT9611=n
CONFIG_CLK_GFM_LPASS_SM8250=n
CONFIG_VETH=n
CONFIG_XZ_DEC_X86=n
CONFIG_PINCTRL_MVEBU=n
CONFIG_SND_SOC_IMX_PCM_DMA=n
CONFIG_SND_SOC_DA7213=n
CONFIG_CLK_RCAR_CPG_LIB=n
CONFIG_HISI_THERMAL=n
CONFIG_RZT2H_ADC=n
CONFIG_USB_NET_CDC_SUBSET=n
CONFIG_DRM_RCAR_USE_CMM=n
CONFIG_PAGE_SIZE_4KB=n
CONFIG_TOUCHSCREEN_ILI210X=n
CONFIG_ARCH_USE_GNU_PROPERTY=n
CONFIG_BLK_CGROUP=n
CONFIG_MSDOS_PARTITION=n
CONFIG_PCIE_HISI_STB=n
CONFIG_QCOM_QDF2400_ERRATUM_0065=n
CONFIG_USB_EHCI_BRCMSTB=n
CONFIG_DRM_ETNAVIV=n
CONFIG_COMMON_CLK_QCOM=n
CONFIG_ASSOCIATIVE_ARRAY=n
CONFIG_INTERCONNECT_IMX8MM=n
CONFIG_COMMON_CLK_MT8192_IPESYS=n
CONFIG_SPI_QCOM_QSPI=n
CONFIG_I2C_HID=n
CONFIG_S3C2410_WATCHDOG=n
CONFIG_REED_SOLOMON_ENC8=n
CONFIG_K3_THERMAL=n
CONFIG_SND_MESON_AXG_FRDDR=n
CONFIG_HW_RANDOM_CAVIUM=n
CONFIG_EEPROM_AT25=n
CONFIG_SND_SOC_WM8524=n
CONFIG_COMMON_CLK_MT8195_VENCSYS=n
CONFIG_CRYPTO_LIB_SHA512_ARCH=n
CONFIG_CLK_R9A08G046=n
CONFIG_RENESAS_RZG2L_IRQC=n
CONFIG_FB_CFB_IMAGEBLIT=n
CONFIG_MSCC_OCELOT_SWITCH_LIB=n
CONFIG_PINCTRL_SDM670=n
CONFIG_HISILICON_ERRATUM_162100125=n
CONFIG_ARM64_ERRATUM_3117295=n
CONFIG_DNOTIFY=n
CONFIG_PINCTRL_UNIPHIER_NX1=n
CONFIG_MMC_DW=n
CONFIG_GLOB=n
CONFIG_ARCH_WANTS_NO_INSTR=n
CONFIG_RTC_DRV_PCF8563=n
CONFIG_MTD_SPI_NOR=n
CONFIG_INPUT_VIVALDIFMAP=n
CONFIG_USB_CONFIGFS_F_FS=n
CONFIG_RENESAS_WDT=n
CONFIG_MODULES_TREE_LOOKUP=n
CONFIG_TRACE_IRQFLAGS_NMI_SUPPORT=n
CONFIG_ARM64_MTE=n
CONFIG_MODULES_USE_ELF_RELA=n
CONFIG_REGULATOR=n
CONFIG_COMMON_CLK_MT8173_VENCSYS=n
CONFIG_PHY_MESON_GXL_USB2=n
