CONFIG_MODULES=n
CONFIG_NET_VENDOR_HUAWEI=n
CONFIG_ACPI_FAN=n
CONFIG_IOMMU_SUPPORT=n
CONFIG_RESET_POLARFIRE_SOC=n
CONFIG_IKCONFIG_PROC=n
CONFIG_SECURITY_SELINUX_DEVELOP=n
CONFIG_ARCH_HAS_CURRENT_STACK_POINTER=n
CONFIG_ARCH_SUPPORTS_PAGE_TABLE_CHECK=n
CONFIG_BLOCK=n
CONFIG_WATCHDOG_HANDLE_BOOT_ENABLED=n
CONFIG_RISCV_INTC=n
CONFIG_COREDUMP=n
CONFIG_FIXED_PHY=n
CONFIG_FB_NOTIFY=n
CONFIG_GENERIC_STRNLEN_USER=n
CONFIG_AS_HAS_ULEB128=n
CONFIG_SKB_EXTENSIONS=n
CONFIG_RTC_SYSTOHC=n
CONFIG_CRYPTO_USER_API_ENABLE_OBSOLETE=n
CONFIG_GENERIC_PENDING_IRQ=n
CONFIG_HAVE_ARCH_HUGE_VMALLOC=n
CONFIG_ARCH_ENABLE_HUGEPAGE_MIGRATION=n
CONFIG_IP_PNP_RARP=n
CONFIG_CLK_STARFIVE_JH7110_STG=n
CONFIG_ATA=n
CONFIG_GENERIC_BUG_RELATIVE_POINTERS=n
CONFIG_RTC_INTF_DEV=n
CONFIG_NETFILTER_INGRESS=n
CONFIG_CORE_DUMP_DEFAULT_ELF_HEADERS=n
CONFIG_DRM_NOUVEAU=n
CONFIG_GENERIC_BITREVERSE=n
CONFIG_HAVE_REGS_AND_STACK_ACCESS_API=n
CONFIG_TRACING_SUPPORT=n
CONFIG_ZISOFS=n
CONFIG_COMMON_CLK=n
CONFIG_DWMAC_GENERIC=n
CONFIG_GENERIC_IRQ_ENTRY=n
CONFIG_ARCH_SUPPORTS_SCHED_MC=n
CONFIG_ACPI_GENERIC_GSI=n
CONFIG_GENERIC_ENTRY=n
CONFIG_POWER_SEQUENCING=n
CONFIG_MMP_PDMA=n
CONFIG_VXLAN=n
CONFIG_SPI_DYNAMIC=n
CONFIG_IP_MULTICAST=n
CONFIG_CRYPTO=n
CONFIG_MTD_CFI_I1=n
CONFIG_DMA_DECLARE_COHERENT=n
CONFIG_MMU_LAZY_TLB_REFCOUNT=n
CONFIG_STACKDEPOT=n
CONFIG_DRM_SUN4I=n
CONFIG_RCU_STALL_COMMON=n
CONFIG_HAVE_MOVE_PUD=n
CONFIG_MEMFD_CREATE=n
CONFIG_TMPFS_POSIX_ACL=n
CONFIG_MOUSE_PS2_SYNAPTICS=n
CONFIG_SND_SOC_SPDIF=n
CONFIG_TREE_RCU=n
CONFIG_IPV6_NDISC_NODETYPE=n
CONFIG_PWRSEQ_EMMC=n
CONFIG_USB_U_SERIAL=n
CONFIG_RISCV_ISA_ZABHA=n
CONFIG_CRYPTO_SIG=n
CONFIG_MTD_GEN_PROBE=n
CONFIG_VIRT_XFER_TO_GUEST_WORK=n
CONFIG_RESET_SPACEMIT_K3=n
CONFIG_FS_STACK=n
CONFIG_LOCKD=n
CONFIG_ERRATA_SIFIVE=n
CONFIG_CLK_STARFIVE_JH7110_ISP=n
CONFIG_MEDIA_CONTROLLER=n
CONFIG_NET_VENDOR_FUNGIBLE=n
CONFIG_SERIAL_EARLYCON=n
CONFIG_NET_VENDOR_SUN=n
CONFIG_GENERIC_PINCTRL=n
CONFIG_SIGNALFD=n
CONFIG_NET_VENDOR_SEEQ=n
CONFIG_GENERIC_MSI_IRQ=n
CONFIG_NET_VENDOR_VERTEXCOM=n
CONFIG_SPI_MASTER=n
CONFIG_NET_VENDOR_TI=n
CONFIG_EDAC_SUPPORT=n
CONFIG_PINCTRL_ULTRARISC=n
CONFIG_PCIE_FU740=n
CONFIG_MOUSE_PS2_FOCALTECH=n
CONFIG_RTC_DRV_SPACEMIT_P1=n
CONFIG_USB_F_RNDIS=n
CONFIG_PHYS_ADDR_T_64BIT=n
CONFIG_HAVE_KVM_DIRTY_RING=n
CONFIG_VIRTIO_BLK=n
CONFIG_USB_MUSB_SUNXI=n
CONFIG_LIBNVDIMM=n
CONFIG_ATA_FORCE=n
CONFIG_DWMAC_SPACEMIT=n
CONFIG_UPROBES=n
CONFIG_IRQ_DOMAIN_HIERARCHY=n
CONFIG_RISCV_ISA_ZBC=n
CONFIG_FRAME_POINTER=n
CONFIG_MACVLAN=n
CONFIG_HAVE_STACKPROTECTOR=n
CONFIG_ACPI_CPPC_CPUFREQ=n
CONFIG_NET_VENDOR_SOCIONEXT=n
CONFIG_ZSTD_DECOMPRESS=n
CONFIG_HZ_250=n
CONFIG_BPF=n
CONFIG_GENERIC_CPU_DEVICES=n
CONFIG_PINCTRL_STARFIVE_JH7110_AON=n
CONFIG_NF_CONNTRACK_FTP=n
CONFIG_CAN_DEV=n
CONFIG_SYSCTL_ARCH_UNALIGN_ALLOW=n
CONFIG_SPARSEMEM_EXTREME=n
CONFIG_MOUSE_PS2_SMBUS=n
CONFIG_EPROBE_EVENTS=n
CONFIG_LOCK_SPIN_ON_OWNER=n
CONFIG_BINARY_PRINTF=n
CONFIG_MFD_SYSCON=n
CONFIG_ARCH_USE_QUEUED_SPINLOCKS=n
CONFIG_FB_SYS_IMAGEBLIT=n
CONFIG_RTC_NVMEM=n
CONFIG_HAVE_GENERIC_VDSO=n
CONFIG_ARCH_HAS_SYSCALL_WRAPPER=n
CONFIG_NET_VENDOR_VIA=n
CONFIG_CRC7=n
CONFIG_USB_CDNS3=n
CONFIG_GROUP_SCHED_WEIGHT=n
CONFIG_NF_DEFRAG_IPV6=n
CONFIG_PCI=n
CONFIG_TRACE_IRQFLAGS_SUPPORT=n
CONFIG_EEPROM_93CX6=n
CONFIG_LTO_NONE=n
CONFIG_ARCH_HAS_DMA_PREP_COHERENT=n
CONFIG_NET_VENDOR_SOLARFLARE=n
CONFIG_PINCTRL_SOPHGO_CV18XX_OPS=n
CONFIG_MMC_BLOCK=n
CONFIG_IPVLAN_L3S=n
CONFIG_GCC_NO_STRINGOP_OVERFLOW=n
CONFIG_BFQ_GROUP_IOSCHED=n
CONFIG_SUN8I_DE2_CCU=n
CONFIG_NET_VENDOR_SAMSUNG=n
CONFIG_DRM_TTM=n
CONFIG_DRM_NOUVEAU_CH7006=n
CONFIG_USB_MUSB_HDRC=n
CONFIG_CLK_STARFIVE_JH7110_PLL=n
CONFIG_GENERIC_BUG=n
CONFIG_DMA_OF=n
CONFIG_HAVE_ARCH_BITREVERSE=n
CONFIG_NET_VENDOR_MELLANOX=n
CONFIG_NET_HANDSHAKE=n
CONFIG_SERIAL_CORE=n
CONFIG_MTD_CFI_NOSWAP=n
CONFIG_NET_VENDOR_NETRONOME=n
CONFIG_CROSS_MEMORY_ATTACH=n
CONFIG_DRM_CLIENT=n
CONFIG_CAN_BCM=n
CONFIG_UPROBE_EVENTS=n
CONFIG_ARCH_KEEP_MEMBLOCK=n
CONFIG_CPU_FREQ_GOV_ONDEMAND=n
CONFIG_WLAN_VENDOR_RSI=n
CONFIG_EFI=n
CONFIG_ARCH_SUPPORTS_ACPI=n
CONFIG_HOTPLUG_CORE_SYNC_FULL=n
CONFIG_HUGETLBFS=n
CONFIG_NET_VENDOR_ALLWINNER=n
CONFIG_SLAB_OBJ_EXT=n
CONFIG_TIMER_PROBE=n
CONFIG_FB_IOMEM_HELPERS=n
CONFIG_MMC_DW_STARFIVE=n
CONFIG_DECOMPRESS_LZ4=n
CONFIG_TCP_CONG_CUBIC=n
CONFIG_HAVE_ARCH_SECCOMP=n
CONFIG_ACPI=n
CONFIG_HOTPLUG_CORE_SYNC=n
CONFIG_ARCH_SUPPORTS_MSEAL_SYSTEM_MAPPINGS=n
CONFIG_POSIX_MQUEUE=n
CONFIG_SATA_PMP=n
CONFIG_CC_HAS_ASM_GOTO_OUTPUT=n
CONFIG_USB_CONFIGFS_SERIAL=n
CONFIG_NFS_V4_SECURITY_LABEL=n
CONFIG_MMIOWB=n
CONFIG_CRC_OPTIMIZATIONS=n
CONFIG_DRM_GPUVM=n
CONFIG_GENERIC_CALIBRATE_DELAY=n
CONFIG_CPU_FREQ_GOV_CONSERVATIVE=n
CONFIG_SERIAL_SIFIVE_CONSOLE=n
CONFIG_STMMAC_PLATFORM=n
CONFIG_RISCV_ISA_XTHEADVECTOR=n
CONFIG_NEED_TASKS_RCU=n
CONFIG_ARCH_ULTRARISC=n
CONFIG_XFRM=n
CONFIG_USB_EHCI_HCD_PLATFORM=n
CONFIG_AF_UNIX_OOB=n
CONFIG_CC_HAS_AUTO_VAR_INIT_PATTERN=n
CONFIG_ARCH_HAS_ELF_CORE_EFLAGS=n
CONFIG_MOUSE_PS2_BYD=n
CONFIG_BLK_CGROUP_RWSTAT=n
CONFIG_HAVE_IOREMAP_PROT=n
CONFIG_SYSFS=n
CONFIG_WLAN_VENDOR_SILABS=n
CONFIG_USB_F_ACM=n
CONFIG_ZLIB_INFLATE=n
CONFIG_INPUT_EVDEV=n
CONFIG_MMC_SDHCI_CADENCE=n
CONFIG_SERIAL_8250_DW=n
CONFIG_WLAN_VENDOR_MICROCHIP=n
CONFIG_JOLIET=n
CONFIG_IOMMU_DEFAULT_DMA_STRICT=n
CONFIG_CPU_FREQ=n
CONFIG_CPU_FREQ_GOV_PERFORMANCE=n
CONFIG_FB_SYSMEM_FOPS=n
CONFIG_PRINTK_TIME=n
CONFIG_NFS_FS=n
CONFIG_STANDALONE=n
CONFIG_DTC=n
CONFIG_SERIAL_OF_PLATFORM=n
CONFIG_GENERIC_ARCH_TOPOLOGY=n
CONFIG_USB_F_SERIAL=n
CONFIG_LEGACY_TIOCSTI=n
CONFIG_SUNRPC_BACKCHANNEL=n
CONFIG_PWM=n
CONFIG_SECURITY_APPARMOR=n
CONFIG_CC_HAS_COUNTED_BY=n
CONFIG_PER_VMA_LOCK=n
CONFIG_ARCH_STACKWALK=n
CONFIG_CC_NO_ARRAY_BOUNDS=n
CONFIG_TMPFS_XATTR=n
CONFIG_ARCH_HAS_GCOV_PROFILE_ALL=n
CONFIG_REGULATOR_FIXED_VOLTAGE=n
CONFIG_DWMAC_SOPHGO=n
CONFIG_HOTPLUG_SPLIT_STARTUP=n
CONFIG_NO_HZ_IDLE=n
CONFIG_IOMMU_PT_RISCV64=n
CONFIG_HUGETLB_PAGE=n
CONFIG_NET_VENDOR_INTEL=n
CONFIG_BUFFER_HEAD=n
CONFIG_HRTIMER_REARM_DEFERRED=n
CONFIG_MTD_MAP_BANK_WIDTH_1=n
CONFIG_SPI_FSL_QUADSPI=n
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_ARGS=n
CONFIG_RAID6_PQ_ARCH=n
CONFIG_IOMMU_PT=n
CONFIG_DECOMPRESS_LZMA=n
CONFIG_ARCH_HAS_MMIOWB=n
CONFIG_SPARSEMEM=n
CONFIG_XARRAY_MULTI=n
CONFIG_SPI_SIFIVE=n
CONFIG_ETHERNET=n
CONFIG_DEVTMPFS_MOUNT=n
CONFIG_WATCHDOG=n
CONFIG_USB_XHCI_PLATFORM=n
CONFIG_HW_RANDOM_ATMEL=n
CONFIG_FHANDLE=n
CONFIG_LOCKDEP_SUPPORT=n
CONFIG_BLK_DEV_SD=n
CONFIG_SECURITY_SELINUX=n
CONFIG_HAVE_ARCH_MMAP_RND_COMPAT_BITS=n
CONFIG_PCI_PWRCTRL=n
CONFIG_CGROUPS=n
CONFIG_MQ_IOSCHED_DEADLINE=n
CONFIG_POWER_RESET=n
CONFIG_PINCTRL_SOPHGO_COMMON=n
CONFIG_SERIO_LIBPS2=n
CONFIG_ADVISE_SYSCALLS=n
CONFIG_ZSTD_COMMON=n
CONFIG_ARCH_DEFAULT_CRASH_DUMP=n
CONFIG_CRYPTO_AUTHENC=n
CONFIG_NET_SCH_FIFO=n
CONFIG_NF_LOG_IPV6=n
CONFIG_CC_HAS_MULTIDIMENSIONAL_NONSTRING=n
CONFIG_CRYPTO_RSA=n
CONFIG_HAVE_ARCH_HUGE_VMAP=n
CONFIG_MOUSE_PS2_ALPS=n
CONFIG_HAVE_PERF_REGS=n
CONFIG_TOOLCHAIN_HAS_VECTOR_CRYPTO=n
CONFIG_KEYBOARD_ATKBD=n
CONFIG_NET_VENDOR_ADAPTEC=n
CONFIG_DRM_CLIENT_SETUP=n
CONFIG_PM=n
CONFIG_GENERIC_PINMUX_FUNCTIONS=n
CONFIG_ARCH_SUPPORTS_LTO_CLANG_THIN=n
CONFIG_ARCH_MICROCHIP_POLARFIRE=n
CONFIG_PAGE_MAPCOUNT=n
CONFIG_COMPAT_32BIT_TIME=n
CONFIG_ARCH_USE_CMPXCHG_LOCKREF=n
CONFIG_IO_URING_BPF=n
CONFIG_CRYPTO_LIB_SHA256=n
CONFIG_HAVE_IRQ_EXIT_ON_IRQ_STACK=n
CONFIG_NETFS_SUPPORT=n
CONFIG_HAVE_ASM_MODVERSIONS=n
CONFIG_STACKPROTECTOR_STRONG=n
CONFIG_SPI_SPACEMIT_K1=n
CONFIG_HAVE_ARCH_JUMP_LABEL_RELATIVE=n
CONFIG_NETLINK_DIAG=n
CONFIG_SPACEMIT_K1_CCU=n
CONFIG_POSIX_MQUEUE_SYSCTL=n
CONFIG_CRYPTO_CTS=n
CONFIG_HAVE_KERNEL_LZMA=n
CONFIG_MCHP_CLK_MPFS=n
CONFIG_EFI_RUNTIME_WRAPPERS=n
CONFIG_TICK_CPU_ACCOUNTING=n
