CONFIG_OF_IRQ=y
CONFIG_FB_SIS_300=y
CONFIG_BME680_I2C=y
CONFIG_PCI_ENDPOINT_TEST=y
CONFIG_DS1682=y
CONFIG_SENSORS_MAX127=y
CONFIG_REGMAP_IRQ=y
CONFIG_EXYNOS_IOMMU=y
CONFIG_YAMAHA_YAS530=y
CONFIG_COMEDI_BOND=y
CONFIG_PINCTRL_SDX75=y
CONFIG_MSM_GCC_8939=y
CONFIG_ARCH_SPARSEMEM_ENABLE=y
CONFIG_ARCH_HAS_MEMBARRIER_SYNC_CORE=y
CONFIG_KEYBOARD_NEWTON=y
CONFIG_COMMON_CLK_RP1=y
CONFIG_LTC2664=y
CONFIG_CPU_FREQ_DEFAULT_GOV_CONSERVATIVE=y
CONFIG_REGULATOR_LP872X=y
CONFIG_MTD=y
CONFIG_MMA8452=y
CONFIG_MFD_SYSCON=y
CONFIG_POLARFIRE_SOC_AUTO_UPDATE=y
CONFIG_KEYBOARD_SH_KEYSC=y
CONFIG_STM32_DFSDM_CORE=y
CONFIG_HAS_IOMEM=y
CONFIG_CRYPTO_SM4=y
CONFIG_PINCTRL_PFC_SH7786=y
CONFIG_PHY_MT7621_PCI=y
CONFIG_PINCTRL_SOPHGO_CV1812H=y
CONFIG_FB_SYS_COPYAREA=y
CONFIG_PERF_EVENTS=y
CONFIG_NVMEM_RCAR_EFUSE=y
CONFIG_RCAR_GYRO_ADC=y
CONFIG_ARCH_HAS_KERNEL_FPU_SUPPORT=y
CONFIG_GPIO_GENERIC_PLATFORM=y
CONFIG_COMPAT_BRK=y
CONFIG_PINCTRL_QCS615=y
CONFIG_ARM_BRCMSTB_AVS_CPUFREQ=y
CONFIG_COMMON_CLK_MT6765_MIPI2BSYS=y
CONFIG_SPI_LOONGSON_PCI=y
CONFIG_ARCH_HAS_SYNC_CORE_BEFORE_USERMODE=y
CONFIG_SM_DISPCC_8450=y
CONFIG_SDX_GCC_65=y
CONFIG_MFD_WM5110=y
CONFIG_LPC32XX_ADC=y
CONFIG_NXP_SAR_ADC=y
CONFIG_AD7298=y
CONFIG_MFD_INTEL_M10_BMC_SPI=y
CONFIG_CPCAP_ADC=y
CONFIG_PRINTER=y
CONFIG_SPACEMIT_K3_CCU=y
CONFIG_PHY_INTEL_KEEMBAY_EMMC=y
CONFIG_MTK_SCPSYS=y
CONFIG_POWER_SEQUENCING=y
CONFIG_I2C_OWL=y
CONFIG_OVERLAY_FS_REDIRECT_ALWAYS_FOLLOW=y
CONFIG_PINCTRL_SAR2130P=y
CONFIG_FORCE_NR_CPUS=y
CONFIG_CRC32=y
CONFIG_RESET_AXS10X=y
CONFIG_REGULATOR_SY8824X=y
CONFIG_CPUFREQ_DT_PLATDEV=y
CONFIG_SERIO_OLPC_APSP=y
CONFIG_TH1520_AON_PROTOCOL=y
CONFIG_QUOTACTL=y
CONFIG_SX9310=y
CONFIG_REGULATOR_MAX77675=y
CONFIG_SPI_AMLOGIC_SPISG=y
CONFIG_REGULATOR_PF530X=y
CONFIG_CACHEMAINT_FOR_DMA=y
CONFIG_SPACEMIT_CCU=y
CONFIG_SENSORS_MC13783_ADC=y
CONFIG_SEG_LED_GPIO=y
CONFIG_FPGA_MGR_LATTICE_SYSCONFIG_SPI=y
CONFIG_TEST_POWER=y
CONFIG_ARCH_ENABLE_MEMORY_HOTPLUG=y
CONFIG_FW_LOADER_SYSFS=y
CONFIG_PHY_QCOM_QMP_UFS=y
CONFIG_STM32_MDMA=y
CONFIG_RISCV_SBI=y
CONFIG_MAX44009=y
CONFIG_SECCOMP=y
CONFIG_I2C_TEGRA_BPMP=y
CONFIG_GPIB_COMMON=y
CONFIG_TOUCHSCREEN_COLIBRI_VF50=y
CONFIG_EEPROM_93CX6=y
CONFIG_IIO_HRTIMER_TRIGGER=y
CONFIG_KEYBOARD_MAX7359=y
CONFIG_MFD_TPS6594=y
CONFIG_NLS_CODEPAGE_855=y
CONFIG_SERIAL_8250_BCM2835AUX=y
CONFIG_GENERIC_IRQ_MULTI_HANDLER=y
CONFIG_TOUCHSCREEN_TPS6507X=y
CONFIG_HW_RANDOM_ATMEL=y
CONFIG_ISL29125=y
CONFIG_CRYPTO_CAST5=y
CONFIG_COMEDI_PCMUIO=y
CONFIG_BMI160=y
CONFIG_RAS=y
CONFIG_ICS932S401=y
CONFIG_PHY_QCOM_EDP=y
CONFIG_KEYBOARD_LPC32XX=y
CONFIG_PINCTRL_MCP23S08=y
CONFIG_BME680_SPI=y
CONFIG_OF_DYNAMIC=y
CONFIG_MTD_CFI_AMDSTD=y
CONFIG_IIO_STM32_TIMER_TRIGGER=y
CONFIG_IIO_SIMPLE_DUMMY_EVENTS=y
CONFIG_TCS3472=y
CONFIG_SPI_FSL_QUADSPI=y
CONFIG_DHT11=y
CONFIG_SENSORS_LM63=y
CONFIG_64BIT=y
CONFIG_COMMON_CLK_BD718XX=y
CONFIG_RC_MAP=y
CONFIG_SPI_ASPEED_SMC=y
CONFIG_I2C_I801=y
CONFIG_GAMEPORT=y
CONFIG_LEDS_DA903X=y
CONFIG_GPIO_BLZP1600=y
CONFIG_SERIAL_8250_PCILIB=y
CONFIG_LEDS_TRIGGERS=y
CONFIG_DTC=y
CONFIG_PINCTRL_PFC_R8A7779=y
CONFIG_PD6729=y
CONFIG_MSTAR_MSC313_CPUPLL=y
CONFIG_RISCV_ISA_ZACAS=y
CONFIG_IR_HIX5HD2=y
CONFIG_EXTCON_QCOM_SPMI_MISC=y
CONFIG_PWM_SUN4I=y
CONFIG_I2C_ALGOBIT=y
CONFIG_PHY_RCAR_GEN2=y
CONFIG_IIO_SW_DEVICE=y
CONFIG_REGULATOR_PBIAS=y
CONFIG_FRAME_POINTER=y
CONFIG_PM_DEVFREQ=y
CONFIG_REGULATOR_MP5416=y
CONFIG_AD5446_SPI=y
CONFIG_NLS_ISO8859_9=y
CONFIG_LTC2497=y
CONFIG_INTERCONNECT_MTK=y
CONFIG_RCU_NOCB_CPU_DEFAULT_ALL=y
CONFIG_MAXIM_THERMOCOUPLE=y
CONFIG_APPLE_PMGR_PWRSTATE=y
CONFIG_MFD_ATMEL_HLCDC=y
CONFIG_GPIO_FTGPIO010=y
CONFIG_MTK_CMDQ=y
CONFIG_IPQ_GCC_5018=y
CONFIG_AD3552R_HS=y
CONFIG_REGULATOR_PF1550=y
CONFIG_CXL_MEM=y
CONFIG_CRYPTO_LIB_POLY1305=y
CONFIG_LEDS_TLC591XX=y
CONFIG_DA280=y
CONFIG_PM_GENERIC_DOMAINS_SLEEP=y
CONFIG_COMEDI_C6XDIGIO=y
CONFIG_ASM9260_TIMER=y
CONFIG_REGULATOR_SC2731=y
CONFIG_IQS621_ALS=y
CONFIG_SM_GCC_6375=y
CONFIG_PAGE_SIZE_4KB=y
CONFIG_ARCH_OPTIONAL_KERNEL_RWX=y
CONFIG_APDS9306=y
CONFIG_PWM_AXI_PWMGEN=y
CONFIG_EC_LENOVO_YOGA_C630=y
CONFIG_SENSORS_SHT15=y
CONFIG_INGENIC_CGU_JZ4760=y
CONFIG_POWER_RESET_BRCMSTB=y
CONFIG_ARM_SCMI_HAVE_MSG=y
CONFIG_PINCTRL_LOCHNAGAR=y
CONFIG_COMMON_CLK_MT8192_VDECSYS=y
CONFIG_CRYPTO_ALGAPI=y
CONFIG_HRTIMER_REARM_DEFERRED=y
CONFIG_CLK_BCM63268_TIMER=y
CONFIG_ARM_EXYNOS_BUS_DEVFREQ=y
CONFIG_NEED_DMA_MAP_STATE=y
CONFIG_PINCTRL_S3C64XX=y
CONFIG_FB_TRIDENT=y
CONFIG_SA_GCC_8775P=y
CONFIG_BCM_VIDEOCORE=y
CONFIG_XZ_DEC_ARM=y
CONFIG_PINCTRL_SM8750=y
CONFIG_SC_CAMCC_8280XP=y
CONFIG_SERIAL_QCOM_GENI=y
CONFIG_NEW_LEDS=y
CONFIG_PINCTRL_PFC_SH7722=y
CONFIG_IOMMU_IO_PGTABLE_ARMV7S=y
CONFIG_CRYPTO_ZSTD=y
CONFIG_ATMEL_SSC=y
CONFIG_FPGA_MGR_ALTERA_CVP=y
CONFIG_SENSORS_PCF8591=y
CONFIG_RPMSG_QCOM_GLINK=y
CONFIG_MFD_88PM800=y
CONFIG_DMA_DECLARE_COHERENT=y
CONFIG_SERIAL_OWL=y
CONFIG_CC_HAS_NO_PROFILE_FN_ATTR=y
CONFIG_SERIAL_SUNPLUS=y
CONFIG_PCI_HOST_THUNDER_PEM=y
CONFIG_SI7210=y
CONFIG_KCMP=y
CONFIG_PHY_LAN966X_SERDES=y
CONFIG_QCS_GCC_8300=y
CONFIG_VL53L1X_I2C=y
CONFIG_OF_FLATTREE=y
CONFIG_PCI_SKY1_HOST=y
CONFIG_INPUT_KEYBOARD=y
CONFIG_NLS_ISO8859_13=y
CONFIG_CLKSRC_LOONGSON1_PWM=y
CONFIG_RCU_STALL_COMMON=y
CONFIG_MFD_MT6370=y
CONFIG_ARM_SCMI_DEBUG_COUNTERS=y
CONFIG_ARCH_STACKWALK=y
CONFIG_NLS_MAC_TURKISH=y
CONFIG_MFD_CPCAP=y
CONFIG_AW96103=y
CONFIG_RISCV_SCALAR_MISALIGNED=y
CONFIG_MFD_RETU=y
CONFIG_MFD_TPS6594_SPI=y
CONFIG_CARDBUS=y
CONFIG_PINCTRL_SC7280_LPASS_LPI=y
CONFIG_PROC_MEM_NO_FORCE=y
CONFIG_SERIAL_RDA=y
CONFIG_GPIO_VIRTIO=y
CONFIG_COMEDI_DMM32AT=y
CONFIG_IPQ_GCC_5210=y
CONFIG_SDM_DISPCC_845=y
CONFIG_POWER_RESET_RESTART=y
CONFIG_COMEDI_AMPLC_PC236=y
CONFIG_SDM_GCC_845=y
CONFIG_CHARGER_MANAGER=y
CONFIG_CHARGER_UCS1002=y
CONFIG_XILINX_INTC=y
CONFIG_MFD_RT5120=y
CONFIG_SENSORS_LIS3_SPI=y
CONFIG_BINFMT_FLAT_OLD=y
CONFIG_SPI_PCI1XXXX=y
CONFIG_THERMAL_DEFAULT_GOV_POWER_ALLOCATOR=y
CONFIG_FB_PVR2=y
CONFIG_REGULATOR_USERSPACE_CONSUMER=y
CONFIG_SERIAL_CLPS711X=y
CONFIG_MFD_SM501_GPIO=y
CONFIG_TOUCHSCREEN_INEXIO=y
CONFIG_CHARGER_BQ25890=y
CONFIG_PINCTRL_DENVERTON=y
CONFIG_ARCH_HAS_BINFMT_FLAT=y
CONFIG_TOUCHSCREEN_TOUCHRIGHT=y
CONFIG_EFI_ZBOOT=y
CONFIG_CRYPTO_LZ4HC=y
CONFIG_PPS_GENERATOR=y
CONFIG_PINCTRL_MSM8996=y
CONFIG_I2C_PXA_SLAVE=y
CONFIG_PWM_BCM_KONA=y
CONFIG_AD4080=y
CONFIG_PINCTRL_INTEL=y
CONFIG_AD7923=y
CONFIG_SM_DISPCC_6115=y
CONFIG_W1_SLAVE_DS2438=y
CONFIG_HWMON_DEBUG_CHIP=y
CONFIG_MTD_PARSER_IMAGETAG=y
CONFIG_HAVE_ARCH_HUGE_VMALLOC=y
CONFIG_PWM_RENESAS_RCAR=y
CONFIG_ARCH_SUPPORTS_ACPI=y
CONFIG_CPU_FREQ_GOV_COMMON=y
CONFIG_ASPEED_KCS_IPMI_BMC=y
CONFIG_LEDS_AN30259A=y
CONFIG_PINCTRL_SM4450=y
CONFIG_QCOM_TZMEM=y
CONFIG_SYSC_R8A77960=y
CONFIG_ARM_AIROHA_SOC_CPUFREQ=y
CONFIG_PINCTRL_K230=y
CONFIG_FB_NVIDIA_I2C=y
CONFIG_SENSORS_G760A=y
CONFIG_US5182D=y
CONFIG_CRYPTO_ECHAINIV=y
CONFIG_MAX5821=y
CONFIG_SERIAL_ALTERA_UART=y
CONFIG_BMA220=y
CONFIG_CRYPTO_LIB_BLAKE2B=y
CONFIG_CRYPTO_DES=y
CONFIG_PM_CLK=y
CONFIG_ABP2030PA_SPI=y
CONFIG_SERIO_GPIO_PS2=y
CONFIG_SPI_HISI_KUNPENG=y
CONFIG_PINCTRL_MSM=y
CONFIG_SYSCTL_EXCEPTION_TRACE=y
CONFIG_TSL2583=y
CONFIG_RISCV_ISA_ZICBOZ=y
CONFIG_MFD_RN5T618=y
CONFIG_FB_CONTROL=y
CONFIG_MFD_WCD934X=y
CONFIG_PHY_STM32_COMBOPHY=y
CONFIG_SENSORS_SMSC47B397=y
CONFIG_PINCTRL_TMPV7700=y
CONFIG_CHARGER_LT3651=y
CONFIG_MTD_JEDECPROBE=y
CONFIG_CLK_KAANAPALI_GCC=y
CONFIG_NVMEM_LAYOUT_SL28_VPD=y
CONFIG_REGULATOR_TPS51632=y
CONFIG_REGULATOR_MAX8660=y
CONFIG_LITEX_SOC_CONTROLLER=y
CONFIG_JSA1212=y
CONFIG_MTD_NAND_CORE=y
CONFIG_REGULATOR_TPS6507X=y
CONFIG_THERMAL_GOV_FAIR_SHARE=y
CONFIG_I2C_EXYNOS5=y
CONFIG_EXPORTFS_BLOCK_OPS=y
CONFIG_GENERIC_PT=y
CONFIG_ARM_NI=y
CONFIG_SENSORS_ADT7410=y
CONFIG_MTK_GPUEB_MBOX=y
CONFIG_POWER_RESET_REGULATOR=y
CONFIG_HI8435=y
CONFIG_PINCTRL_EIC7700=y
CONFIG_BATTERY_BQ27XXX=y
CONFIG_ARCH_HAS_STRICT_KERNEL_RWX=y
CONFIG_SM_GPUCC_6375=y
CONFIG_CLK_IMX93=y
CONFIG_REGULATOR_PALMAS=y
CONFIG_SERIAL_MVEBU_UART=y
CONFIG_RISCV=y
CONFIG_GPIO_UNIPHIER=y
CONFIG_I2C_SPRD=y
CONFIG_MULTIPLEXER=y
CONFIG_HAVE_SAMPLE_FTRACE_DIRECT=y
CONFIG_HAVE_MOVE_PUD=y
CONFIG_DEVTMPFS_SAFE=y
CONFIG_CRYPTO_LIB_SHA1=y
CONFIG_PINCTRL_PIC64GX=y
CONFIG_MTD_DATAFLASH=y
CONFIG_SENSORS_IIO_HWMON=y
CONFIG_PHY_PXA_28NM_USB2=y
CONFIG_FB_SYSMEM_HELPERS=y
CONFIG_COMEDI_DEBUG=y
CONFIG_DEBUG_GPIO=y
CONFIG_SECTION_MISMATCH_WARN_ONLY=y
CONFIG_CLK_SIFIVE_PRCI=y
CONFIG_MTD_QINFO_PROBE=y
CONFIG_SPRD_THERMAL=y
CONFIG_INPUT_MOUSEDEV=y
CONFIG_FB_CFB_COPYAREA=y
CONFIG_SM_GPUCC_6125=y
CONFIG_CLK_SOPHGO_SG2042_CLKGEN=y
CONFIG_PINCTRL_ASPEED_G6=y
CONFIG_TCG_TPM=y
CONFIG_PINCTRL_GLYMUR=y
CONFIG_ARCH_USE_CMPXCHG_LOCKREF=y
CONFIG_HAVE_DEBUG_KMEMLEAK=y
CONFIG_ARCH_HAS_MEMBARRIER_CALLBACKS=y
CONFIG_FSNOTIFY=y
CONFIG_ADXL345=y
CONFIG_COMEDI_PCL816=y
CONFIG_CRYPTO_CTS=y
CONFIG_KEYS=y
CONFIG_GENERIC_PINMUX_FUNCTIONS=y
CONFIG_CM32181=y
CONFIG_PCIE_ROCKCHIP_HOST=y
CONFIG_INTERCONNECT_IMX8MQ=y
CONFIG_COMEDI_8255=y
CONFIG_SENSORS_ADT7411=y
CONFIG_BINFMT_ZFLAT=y
CONFIG_COMMON_CLK_MT8192=y
CONFIG_CLK_QORIQ=y
CONFIG_CRYPTO_AEAD=y
CONFIG_PCIE_TPH=y
CONFIG_COMMON_CLK_MT8195_CAMSYS=y
CONFIG_MESON_CANVAS=y
CONFIG_SPI_LM70_LLP=y
CONFIG_REGULATOR_LOCHNAGAR=y
CONFIG_TOUCHSCREEN_SILEAD=y
CONFIG_SPI_OC_TINY=y
CONFIG_MSM_GCC_8660=y
CONFIG_TCG_TIS_I2C_ATMEL=y
CONFIG_TCG_TIS_I2C_NUVOTON=y
CONFIG_BMC150_ACCEL_I2C=y
CONFIG_ADIS16130=y
CONFIG_AM2315=y
CONFIG_SC_CAMCC_7180=y
CONFIG_INFINEON_TLV493D=y
CONFIG_ASSOCIATIVE_ARRAY=y
CONFIG_LZ4HC_COMPRESS=y
CONFIG_TOUCHSCREEN_MXS_LRADC=y
CONFIG_TOUCHSCREEN_GOODIX_BERLIN_SPI=y
CONFIG_REGULATOR_PV88080=y
CONFIG_CLK_IMX8ULP=y
CONFIG_CHARGER_MAX77759=y
CONFIG_SENSORS_W83793=y
CONFIG_SC_DISPCC_7180=y
CONFIG_CRYPTO_SHA512=y
CONFIG_REGULATOR_MAX77620=y
CONFIG_DEBUG_VIRTUAL=y
CONFIG_PINCTRL_SC8280XP=y
CONFIG_HAVE_SOFTIRQ_ON_OWN_STACK=y
CONFIG_CRYPTO_BLAKE2B=y
CONFIG_RPMB=y
CONFIG_INTEL_TH_MSU=y
CONFIG_EXTCON_MAX14577=y
CONFIG_LIDAR_LITE_V2=y
CONFIG_FB_CORE=y
CONFIG_HW_RANDOM_INGENIC_RNG=y
CONFIG_CC_HAS_KASAN_GENERIC=y
CONFIG_REGULATOR_RASPBERRYPI_TOUCHSCREEN_V2=y
CONFIG_MAX9611=y
CONFIG_DEBUG_IRQFLAGS=y
CONFIG_TRANSPARENT_HUGEPAGE_TMPFS_HUGE_ALWAYS=y
CONFIG_TI_ADC128S052=y
CONFIG_CRYPTO_SIG=y
CONFIG_TIFM_7XX1=y
CONFIG_IRQ_TIME_ACCOUNTING=y
CONFIG_SOFTLOCKUP_DETECTOR=y
CONFIG_SENSORS_SL28CPLD=y
CONFIG_EXTCON_GPIO=y
CONFIG_ADXL345_SPI=y
CONFIG_SENSORS_ABITUGURU=y
CONFIG_PWM_KEEMBAY=y
CONFIG_CLK_KAANAPALI_VIDEOCC=y
CONFIG_WQ_POWER_EFFICIENT_DEFAULT=y
CONFIG_SPI=y
CONFIG_IPQ_APSS_5424=y
CONFIG_IMX93_ADC=y
CONFIG_MFD_VX855=y
CONFIG_CRYPTO_SHA256=y
CONFIG_GPIO_SYSCON=y
CONFIG_IIO_BUFFER_CB=y
CONFIG_PINCTRL_EXYNOS_ARM64=y
CONFIG_LMK04832=y
CONFIG_REGULATOR_LP873X=y
CONFIG_I2C_PCI1XXXX=y
CONFIG_KERNFS=y
CONFIG_QCOM_HFPLL=y
CONFIG_PL353_SMC=y
CONFIG_C2PORT=y
CONFIG_PM=y
CONFIG_AD5686_SPI=y
CONFIG_CLK_ICST=y
CONFIG_BCM_PDC_MBOX=y
CONFIG_SPI_EP93XX=y
CONFIG_ZOPT2201=y
CONFIG_MFD_RC5T583=y
CONFIG_ARM_SCMI_RAW_MODE_SUPPORT=y
CONFIG_RESET_INTEL_GW=y
CONFIG_APPLE_RTKIT=y
CONFIG_RN5T618_POWER=y
CONFIG_NLS_ISO8859_2=y
CONFIG_PRINTK_CALLER=y
CONFIG_EC_LENOVO_THINKPAD_T14S=y
CONFIG_GPIO_LP873X=y
CONFIG_PAGE_SIZE_LESS_THAN_64KB=y
CONFIG_ARCH_WANT_OPTIMIZE_DAX_VMEMMAP=y
CONFIG_MTK_INFRACFG=y
CONFIG_RPMSG_QCOM_GLINK_RPM=y
CONFIG_SPI_MEM=y
CONFIG_CC_NO_ARRAY_BOUNDS=y
CONFIG_GPIO_IDT3243X=y
CONFIG_PINCTRL_LYNXPOINT=y
CONFIG_POWER_RESET_TH1520_AON=y
CONFIG_SPI_MTK_NOR=y
CONFIG_CLK_X1E80100_DISPCC=y
CONFIG_GENERIC_TIME_VSYSCALL=y
CONFIG_PA12203001=y
CONFIG_MAX5432=y
CONFIG_NO_HZ_COMMON=y
CONFIG_HAVE_ARCH_KGDB_QXFER_PKT=y
CONFIG_PINCTRL_MT8183=y
CONFIG_PINCTRL_IPQ4019=y
CONFIG_CONSTRUCTORS=y
CONFIG_HW_RANDOM_HISTB=y
CONFIG_HUGETLB_PAGE_OPTIMIZE_VMEMMAP=y
CONFIG_PCI_IMX6_HOST=y
CONFIG_GENERIC_NET_UTILS=y
CONFIG_AD7280=y
CONFIG_IR_XMP_DECODER=y
CONFIG_THERMAL_CORE_TESTING=y
CONFIG_KALLSYMS_ALL=y
CONFIG_MC3230=y
CONFIG_SM_VIDEOCC_8250=y
CONFIG_REGULATOR_BD957XMUF=y
CONFIG_FW_DEVLINK_SYNC_STATE_TIMEOUT=y
CONFIG_TOUCHSCREEN_CYTTSP5=y
CONFIG_AD7293=y
CONFIG_NVMEM_MICROCHIP_OTPC=y
CONFIG_ALS31300=y
CONFIG_EFI_RUNTIME_WRAPPERS=y
CONFIG_PINCTRL_IMX6UL=y
CONFIG_I2C_MUX_MULE=y
CONFIG_CRYPTO_ADIANTUM=y
CONFIG_CC_HAS_WORKING_NOSANITIZE_ADDRESS=y
CONFIG_SECURITYFS=y
CONFIG_SPI_MESON_SPIFC=y
CONFIG_MCP4018=y
CONFIG_SENSORS_TMP421=y
CONFIG_MAX11100=y
CONFIG_SM_GCC_6115=y
CONFIG_W1_SLAVE_DS2405=y
CONFIG_PINCTRL_RP1=y
CONFIG_MTK_UART_APDMA=y
CONFIG_PINCTRL_IMXRT1170=y
CONFIG_LEDS_BCM6328=y
CONFIG_COMMON_CLK_MAX9485=y
CONFIG_ATMEL_EBI=y
