CONFIG_MESON_SARADC=n
CONFIG_PINCTRL_MESON_A1=n
CONFIG_SND_SOC_SOF_MT8195=n
CONFIG_TI_SCI_PM_DOMAINS=n
CONFIG_TI_K3_R5_REMOTEPROC=n
CONFIG_ACPI_AC=n
CONFIG_KVM=n
CONFIG_FPGA_BRIDGE=n
CONFIG_SND_SOC_QCOM_OFFLOAD_UTILS=n
CONFIG_FW_LOADER_PAGED_BUF=n
CONFIG_HAVE_ARCH_MMAP_RND_BITS=n
CONFIG_NET_VENDOR_QUALCOMM=n
CONFIG_COMMON_CLK_MESON_CPU_DYNDIV=n
CONFIG_RESET_NPCM=n
CONFIG_LEDS_GPIO=n
CONFIG_I2C_PXA=n
CONFIG_SM_DISPCC_MILOS=n
CONFIG_SOPHGO_CV1800B_ADC=n
CONFIG_ACPI_GENERIC_GSI=n
CONFIG_LTO_NONE=n
CONFIG_LINEAR_RANGES=n
CONFIG_BRCM_USB_PINMAP=n
CONFIG_THERMAL_OF=n
CONFIG_NVMEM_REBOOT_MODE=n
CONFIG_MMC_SPI=n
CONFIG_REGULATOR_MT6357=n
CONFIG_SND_SOC_NAU8315=n
CONFIG_QCOM_FALKOR_ERRATUM_E1041=n
CONFIG_SND_SOC_ES7134=n
CONFIG_GENERIC_CALIBRATE_DELAY=n
CONFIG_MMU_LAZY_TLB_REFCOUNT=n
CONFIG_FPGA_MGR_ALTERA_CVP=n
CONFIG_DPAA_ERRATUM_A050385=n
CONFIG_MMC_SDHCI_TEGRA=n
CONFIG_CRYPTO_LIB_MD5=n
CONFIG_HAVE_HARDLOCKUP_DETECTOR_BUDDY=n
CONFIG_DRM_PANEL_MANTIX_MLAF057WE51=n
CONFIG_ARM_DMC620_PMU=n
CONFIG_CPU_IDLE_MULTIPLE_DRIVERS=n
CONFIG_PHY_TI_GMII_SEL=n
CONFIG_ACPI_TABLE_UPGRADE=n
CONFIG_VIDEOBUF2_MEMOPS=n
CONFIG_IOMMU_IO_PGTABLE_DART=n
CONFIG_PINCTRL_TPS6594=n
CONFIG_PLATFORM_MHU=n
CONFIG_PCIEAER=n
CONFIG_GENERIC_PINCONF=n
CONFIG_HMEM_REPORTING=n
CONFIG_I2C_BCM_IPROC=n
CONFIG_NET_VENDOR_EMULEX=n
CONFIG_MESON_SECURE_PM_DOMAINS=n
CONFIG_REGMAP_SPMI=n
CONFIG_NVMEM_APPLE_SPMI=n
CONFIG_INTEGRITY=n
CONFIG_SND_SOC_SOF_OF_DEV=n
CONFIG_SPI=n
CONFIG_INPUT_PM8XXX_VIBRATOR=n
CONFIG_SCSI_DMA=n
CONFIG_SND_JACK=n
CONFIG_XOR_BLOCKS=n
CONFIG_DRM_SUN6I_DSI=n
CONFIG_COMMON_CLK_MT8186_MFGCFG=n
CONFIG_TASK_IO_ACCOUNTING=n
CONFIG_USB_DWC3_IMX=n
CONFIG_DMA_RESTRICTED_POOL=n
CONFIG_ARCH_BRCMSTB=n
CONFIG_ARCH_HAS_MEMBARRIER_SYNC_CORE=n
CONFIG_MEMORY_HOTREMOVE=n
CONFIG_DRM_CLIENT_SELECTION=n
CONFIG_DRM_PANEL_BRIDGE=n
CONFIG_PCI_ATS=n
CONFIG_ROCKCHIP_GRF=n
CONFIG_MMC_SDHCI_BRCMSTB=n
CONFIG_COMMON_CLK_MT8183_MFGCFG=n
CONFIG_DRM_MSM_MDSS=n
CONFIG_NET_VENDOR_HUAWEI=n
CONFIG_USB_MUSB_DUAL_ROLE=n
CONFIG_XEN=n
CONFIG_DRM_NOUVEAU_SIL164=n
CONFIG_FPGA_MGR_STRATIX10_SOC=n
CONFIG_NVMEM_ZYNQMP=n
CONFIG_TOUCHSCREEN_ATMEL_MXT=n
CONFIG_NF_LOG_IPV6=n
CONFIG_CHARGER_CROS_CONTROL=n
CONFIG_NUMA_MEMBLKS=n
CONFIG_MTD_PHYSMAP_OF=n
CONFIG_LOGO=n
CONFIG_SND_SOC_TEGRA210_SFC=n
CONFIG_RTC_INTF_PROC=n
CONFIG_PCI_LAYERSCAPE=n
CONFIG_IIO_ADC_HELPER=n
CONFIG_PM_SLEEP=n
CONFIG_RFKILL_GPIO=n
CONFIG_DRM_MSM_GPU_STATE=n
CONFIG_QCOM_NET_PHYLIB=n
CONFIG_RASPBERRYPI_FIRMWARE=n
CONFIG_SUN4I_TIMER=n
CONFIG_PHY_QCOM_USB_SS=n
CONFIG_COMMON_CLK_PWM=n
CONFIG_SYS_SUPPORTS_SH_TMU=n
CONFIG_DRM_LONTIUM_LT8713SX=n
CONFIG_PCI_QUIRKS=n
CONFIG_SND_SOC_USB=n
CONFIG_SND_HDA_CODEC_HDMI_ATI=n
CONFIG_POWER_RESET_SYSCON=n
CONFIG_MACVTAP=n
CONFIG_NET_VENDOR_NI=n
CONFIG_CLK_IMX8ULP=n
CONFIG_TYPEC_MUX_FSA4480=n
CONFIG_ARCH_HAS_PTDUMP=n
CONFIG_SA_VIDEOCC_8775P=n
CONFIG_SPI_BITBANG=n
CONFIG_ARM_SMMU_V3_PMU=n
CONFIG_DQL=n
CONFIG_SENSORS_TMP102=n
CONFIG_SND_SOC_WCD_COMMON=n
CONFIG_USB_BRCMSTB=n
CONFIG_BCM7038_WDT=n
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_ARGS=n
CONFIG_THUNDERX2_PMU=n
CONFIG_FW_LOADER_USER_HELPER=n
CONFIG_CRYPTO_CBC=n
CONFIG_MTD_CFI_I2=n
CONFIG_CLK_RK3528=n
CONFIG_CLONE_BACKWARDS=n
CONFIG_QCOM_QSEECOM=n
CONFIG_SND_SOC_ROCKCHIP_RT5645=n
CONFIG_USB_SERIAL_OPTION=n
CONFIG_ARCH_WANT_DEFAULT_TOPDOWN_MMAP_LAYOUT=n
CONFIG_QCOM_APCS_IPC=n
CONFIG_DRM_SUN8I_DW_HDMI=n
CONFIG_XEN_PCIDEV_STUB=n
CONFIG_PINCTRL_ROCKCHIP=n
CONFIG_LEDS_CLASS=n
CONFIG_COMMON_CLK_MT8167_MMSYS=n
CONFIG_TRACE_IRQFLAGS_SUPPORT=n
CONFIG_DWMAC_SUN8I=n
CONFIG_SOUNDWIRE=n
CONFIG_USB_XHCI_PCI_RENESAS=n
CONFIG_MQ_IOSCHED_KYBER=n
CONFIG_MESON_SM=n
CONFIG_BATTERY_QCOM_BATTMGR=n
CONFIG_USB_RENESAS_USBHS=n
CONFIG_STACKPROTECTOR_STRONG=n
CONFIG_NET_DSA_TAG_OCELOT_8021Q=n
CONFIG_CRYPTO_CTR=n
CONFIG_MMC_SDHI_INTERNAL_DMAC=n
CONFIG_HW_RANDOM_CN10K=n
CONFIG_TIMER_ACPI=n
CONFIG_BINFMT_ELF=n
CONFIG_DMA_ENGINE_RAID=n
CONFIG_SERIAL_MVEBU_CONSOLE=n
CONFIG_USB_CHIPIDEA_IMX=n
CONFIG_PHY_PACKAGE=n
CONFIG_BLK_DEV_NVME=n
CONFIG_COMMON_CLK_HI3559A=n
CONFIG_INTERCONNECT_QCOM_QCS404=n
CONFIG_SYSC_RZ=n
CONFIG_CRYPTO_LZ4=n
CONFIG_COMMON_CLK_MT8192_CAMSYS=n
CONFIG_COMMON_CLK_MT8195_MFGCFG=n
CONFIG_SCHED_AUTOGROUP=n
CONFIG_FIX_EARLYCON_MEM=n
CONFIG_MVEBU_PIC=n
CONFIG_DRM_DW_MIPI_DSI=n
CONFIG_EDAC_GHES=n
CONFIG_RESET_MESON_AUDIO_ARB=n
CONFIG_FUNCTION_ALIGNMENT_4B=n
CONFIG_CLK_X1E80100_CAMCC=n
CONFIG_SND_SOC_IMX_PCM_DMA=n
CONFIG_VIDEO_SAMSUNG_S5P_MFC=n
CONFIG_IPQ_APSS_PLL=n
CONFIG_SM_CAMCC_8550=n
CONFIG_DECOMPRESS_ZSTD=n
CONFIG_PHY_QCOM_QMP_PCIE=n
CONFIG_COMMON_CLK_MT8173_IMGSYS=n
CONFIG_DRM_PANEL_TRULY_NT35597_WQXGA=n
CONFIG_NET_VENDOR_PENSANDO=n
CONFIG_CRYPTO_LIB_SM3=n
CONFIG_PINCTRL_MSM8998=n
CONFIG_COMMON_CLK_MT8167_MFGCFG=n
CONFIG_BCM_SR_THERMAL=n
CONFIG_RWSEM_SPIN_ON_OWNER=n
CONFIG_CORESIGHT_CTI=n
CONFIG_SYSC_R8A77961=n
CONFIG_COMMON_CLK_MT8188_IMGSYS=n
CONFIG_DWMAC_VISCONTI=n
CONFIG_DEV_COREDUMP=n
CONFIG_ARM_RASPBERRYPI_CPUFREQ=n
CONFIG_PWM_TIEHRPWM=n
CONFIG_GOOGLE_FIRMWARE=n
CONFIG_BSD_PROCESS_ACCT_V3=n
CONFIG_ARCH_BINFMT_ELF_EXTRA_PHDRS=n
CONFIG_RC_DEVICES=n
CONFIG_NET_SCH_TAPRIO=n
CONFIG_LEDS_TRIGGER_PANIC=n
CONFIG_XEN_EFI=n
CONFIG_PINCTRL_MESON_G12A=n
CONFIG_CRYPTO_SM4_GENERIC=n
CONFIG_PWM_MTK_DISP=n
CONFIG_PINCTRL_MESON_AXG=n
CONFIG_VIRTIO_MMIO=n
CONFIG_MFD_AXP20X_RSB=n
CONFIG_SERIAL_8250_DW=n
CONFIG_NETFILTER_BPF_LINK=n
CONFIG_ARM_TEGRA186_CPUFREQ=n
CONFIG_BT_QCOMSMD=n
CONFIG_ATH11K=n
CONFIG_WLAN_VENDOR_RALINK=n
CONFIG_QCOM_SMSM=n
CONFIG_PSTORE_RAM=n
CONFIG_SUN50I_H6_CCU=n
CONFIG_MEMORY_HOTPLUG=n
CONFIG_USB_CONFIGFS_SERIAL=n
CONFIG_BCM7038_L1_IRQ=n
CONFIG_LEGACY_TIOCSTI=n
CONFIG_ARCH_BCM2835=n
CONFIG_PHY_R8A779F0_ETHERNET_SERDES=n
CONFIG_PINCTRL_QCOM_SPMI_PMIC=n
CONFIG_PCIE_RCAR_HOST=n
CONFIG_BT_HCIBTUSB_BCM=n
CONFIG_SUN55I_A523_CCU=n
CONFIG_MOUSE_PS2=n
CONFIG_CROSS_MEMORY_ATTACH=n
CONFIG_MIGRATION=n
CONFIG_SYSC_R8A77995=n
CONFIG_QCOM_IRQ_COMBINER=n
CONFIG_NPCM7XX_TIMER=n
CONFIG_IWLWIFI=n
CONFIG_SUNXI_WATCHDOG=n
CONFIG_FW_CACHE=n
CONFIG_PCI_HOST_THUNDER_ECAM=n
CONFIG_SND_SOC_RT5682_I2C=n
CONFIG_TRANS_TABLE=n
CONFIG_I2C_RZV2M=n
CONFIG_SECTION_MISMATCH_WARN_ONLY=n
CONFIG_FSL_ENETC_MDIO=n
CONFIG_HAVE_SCHED_AVG_IRQ=n
CONFIG_HAVE_IRQ_TIME_ACCOUNTING=n
CONFIG_SND_DMAENGINE_PCM=n
CONFIG_DRM_POWERVR=n
CONFIG_ARM_TIMER_SP804=n
CONFIG_I2C_DESIGNWARE_PLATFORM=n
CONFIG_ACPI_HMAT=n
CONFIG_CLK_R8A77990=n
CONFIG_KEXEC_FILE=n
CONFIG_VIDEO_OV5645=n
CONFIG_DW_APB_TIMER_OF=n
CONFIG_PINCTRL_STM32_HDP=n
CONFIG_DRM_ANALOGIX_ANX7625=n
CONFIG_SND_SOC_IMX_AUDMUX=n
CONFIG_SM_CAMCC_8650=n
CONFIG_COMMON_CLK_EN7523=n
CONFIG_UBIFS_FS_XATTR=n
CONFIG_SPI_MEM=n
CONFIG_MMC_SDHCI_F_SDH30=n
CONFIG_ARM_ARCH_TIMER_OOL_WORKAROUND=n
CONFIG_SENSORS_INA3221=n
CONFIG_USB_RENESAS_USBHS_HCD=n
CONFIG_ARM64_ERRATUM_1319367=n
CONFIG_DRM_DISPLAY_HDMI_HELPER=n
CONFIG_ARM_DSU_PMU=n
CONFIG_USB_NET_AX8817X=n
CONFIG_VGA_ARB=n
CONFIG_DRM_I2C_NXP_TDA998X=n
CONFIG_SERIAL_MESON=n
CONFIG_INOTIFY_USER=n
CONFIG_RTD119X_WATCHDOG=n
CONFIG_SPI_BCM2835AUX=n
CONFIG_RZG3E_THERMAL=n
CONFIG_DRM_NOUVEAU_CH7006=n
CONFIG_ARCH_BCM_IPROC=n
CONFIG_SPRD_COMMON_CLK=n
CONFIG_VIRTIO_PCI_LIB=n
CONFIG_IPMI_SI=n
CONFIG_CRYPTO=n
CONFIG_TI_DAVINCI_MDIO=n
CONFIG_SND_SOC_SAMSUNG=n
CONFIG_HAVE_NMI=n
CONFIG_SPI_TEGRA114=n
CONFIG_SND_ALOOP=n
CONFIG_CRYPTO_MANAGER2=n
CONFIG_CRYPTO_AES=n
CONFIG_POLARFIRE_SOC_SYSCONS=n
CONFIG_MESON_GX_SOCINFO=n
CONFIG_PINCTRL_MSM8994=n
CONFIG_9P_FS=n
CONFIG_CGROUP_CPUACCT=n
CONFIG_POWER_SUPPLY_HWMON=n
CONFIG_NET_DSA_TAG_NONE=n
CONFIG_CRYPTO_LIB_SHA3_ARCH=n
CONFIG_CMA_SIZE_SEL_MBYTES=n
CONFIG_EFI_PARAMS_FROM_FDT=n
CONFIG_QCOM_SPMI_VADC=n
CONFIG_ACPI_THERMAL=n
CONFIG_PINCTRL_MTK=n
CONFIG_WANT_DEV_COREDUMP=n
CONFIG_SPI_BCM_QSPI=n
CONFIG_HW_RANDOM_EXYNOS=n
CONFIG_QCS_GCC_404=n
