CONFIG_I2C_MT65XX=y
CONFIG_MARVELL_CN10K_TAD_PMU=y
CONFIG_CC_HAS_MARCH_NATIVE=y
CONFIG_INV_ICM42600_I2C=y
CONFIG_CONTEXT_TRACKING_IDLE=y
CONFIG_SURFACE_HID=y
CONFIG_IOMMU_IO_PGTABLE_ARMV7S_SELFTEST=y
CONFIG_SERIAL_AMBA_PL010=y
CONFIG_MISC_FILESYSTEMS=y
CONFIG_CPU_FREQ=y
CONFIG_AT91_SOC_SFR=y
CONFIG_SCD4X=y
CONFIG_PM_GENERIC_DOMAINS_SLEEP=y
CONFIG_NVME_KEYRING=y
CONFIG_SENSORS_MAX77705=y
CONFIG_INGENIC_CGU_COMMON=y
CONFIG_SENSORS_THMC50=y
CONFIG_PROC_PID_ARCH_STATUS=y
CONFIG_HWMON_VID=y
CONFIG_ARCH_SUPPORTS_KEXEC_SIG_FORCE=y
CONFIG_REGULATOR_RAA215300=y
CONFIG_BLK_CGROUP_RWSTAT=y
CONFIG_LEDS_IP30=y
CONFIG_CADENCE_TTC_TIMER=y
CONFIG_GPIO_MAX732X=y
CONFIG_SI7005=y
CONFIG_HAVE_GENERIC_VDSO=y
CONFIG_DEBUG_RT_MUTEXES=y
CONFIG_SCHED_CORE=y
CONFIG_SQUASHFS_ZLIB=y
CONFIG_KEYBOARD_TWL4030=y
CONFIG_REGULATOR_MAX20086=y
CONFIG_CRYPTO_CAMELLIA_AESNI_AVX2_X86_64=y
CONFIG_GENERIC_IRQ_CHIP=y
CONFIG_HD44780_COMMON=y
CONFIG_AS73211=y
CONFIG_AUDIT_ARCH=y
CONFIG_LEDS_OSRAM_AMS_AS3668=y
CONFIG_OID_REGISTRY=y
CONFIG_FB_GEODE=y
CONFIG_SERIAL_OWL_CONSOLE=y
CONFIG_UFS_FS=y
CONFIG_CLK_R9A07G044=y
CONFIG_APDS9300=y
CONFIG_PINCTRL_PFC_SH7757=y
CONFIG_COMMON_CLK_MT8167_VDECSYS=y
CONFIG_HAVE_ARCH_JUMP_LABEL=y
CONFIG_PAGE_SIZE_4KB=y
CONFIG_SENSORS_LTC4215=y
CONFIG_HAVE_IRQ_EXIT_ON_IRQ_STACK=y
CONFIG_MFD_CS42L43=y
CONFIG_CHARGER_SMB347=y
CONFIG_LPC_ICH=y
CONFIG_BLOCK_LEGACY_AUTOLOAD=y
CONFIG_BCM_KONA_USB2_PHY=y
CONFIG_ACPI_CPU_FREQ_PSS=y
CONFIG_C2PORT_DURAMAR_2150=y
CONFIG_SENSORS_APS_379=y
CONFIG_DEVFREQ_GOV_USERSPACE=y
CONFIG_PHY_STM32_USBPHYC=y
CONFIG_INTERRUPT_CNT=y
CONFIG_INPUT_EVDEV=y
CONFIG_HAVE_PCI=y
CONFIG_RESET_MESON_AUX=y
CONFIG_NVMEM_SUNPLUS_OCOTP=y
CONFIG_MSTAR_MSC313_MPLL=y
CONFIG_ADXL313_I2C=y
CONFIG_SENSORS_LTC4260=y
CONFIG_X86_REQUIRED_FEATURE_FPU=y
CONFIG_DYNAMIC_SIGFRAME=y
CONFIG_HAVE_ALIGNED_STRUCT_PAGE=y
CONFIG_ARM_SMMU=y
CONFIG_FXLS8962AF_I2C=y
CONFIG_EDD=y
CONFIG_FB_IBM_GXT4500=y
CONFIG_ARCH_WANT_BATCHED_UNMAP_TLB_FLUSH=y
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_REGS=y
CONFIG_MTK_SCP=y
CONFIG_SENSORS_MAX1619=y
CONFIG_SENSORS_PMBUS=y
CONFIG_IIO_TRIGGERED_BUFFER=y
CONFIG_BLK_PM=y
CONFIG_REGMAP_I2C=y
CONFIG_INV_MPU6050_IIO=y
CONFIG_VFIO=y
CONFIG_SENSORS_NCT7363=y
CONFIG_STM=y
CONFIG_BATTERY_CW2015=y
CONFIG_SX9324=y
CONFIG_USE_X86_SEG_SUPPORT=y
CONFIG_COMEDI_TESTS=y
CONFIG_RESET_TEGRA_BPMP=y
CONFIG_NULL_TTY=y
CONFIG_NLS_ISO8859_5=y
CONFIG_PWM_LOONGSON=y
CONFIG_SYNTH_EVENTS=y
CONFIG_CLK_R8A779A0=y
CONFIG_ARCH_WANT_IRQS_OFF_ACTIVATE_MM=y
CONFIG_RZG3E_THERMAL=y
CONFIG_RTC_DRV_S35390A=y
CONFIG_ARCH_HAS_HW_PTE_YOUNG=y
CONFIG_LOGO_LINUX_CLUT224=y
CONFIG_REGULATOR_DA9055=y
CONFIG_ARCH_HAS_CACHE_LINE_SIZE=y
CONFIG_LIST_HARDENED=y
CONFIG_CRYPTO_LIB_AES_ARCH=y
CONFIG_GENERIC_PT=y
CONFIG_MEMFD_CREATE=y
CONFIG_MCP4725=y
CONFIG_LD_CAN_USE_KEEP_IN_OVERLAY=y
CONFIG_DELL_UART_BACKLIGHT=y
CONFIG_BACKLIGHT_LM3533=y
CONFIG_NLS_UTF8=y
CONFIG_CRYPTO_AES=y
CONFIG_PCSPKR_PLATFORM=y
CONFIG_COMPAT_BRK=y
CONFIG_EXTCON_SM5502=y
CONFIG_PCIE_PME=y
CONFIG_MMA9551=y
CONFIG_AD5110=y
CONFIG_IAQCORE=y
CONFIG_NVMEM_LAYERSCAPE_SFP=y
CONFIG_COMMON_CLK_FSL_FLEXSPI=y
CONFIG_ARCH_ENABLE_MEMORY_HOTPLUG=y
CONFIG_X86_DISABLED_FEATURE_CENTAUR_MCR=y
CONFIG_UEFI_CPER=y
CONFIG_GPIO_SPRD=y
CONFIG_FB_DDC=y
CONFIG_HID_PRIMAX=y
CONFIG_CRYPTO_CAST6_AVX_X86_64=y
CONFIG_DYNAMIC_EVENTS=y
CONFIG_BACKLIGHT_ADP5520=y
CONFIG_SENSORS_VT1211=y
CONFIG_ACPI_DEBUGGER_USER=y
CONFIG_PCH_PHUB=y
CONFIG_I2C_ASPEED=y
CONFIG_GPIO_SHARED_PROXY=y
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_JMP=y
CONFIG_IIO_ST_LSM6DSX_I3C=y
CONFIG_RTC_DRV_LOONGSON=y
CONFIG_SENSORS_ISL29018=y
CONFIG_ARM_SPEAR_CPUFREQ=y
CONFIG_WANT_DEV_COREDUMP=y
CONFIG_MTK_REGULATOR_COUPLER=y
CONFIG_ARM_SCMI_DEBUG_COUNTERS=y
CONFIG_KERNEL_GZIP=y
CONFIG_SENSORS_TPS23861=y
CONFIG_ARCH_WANTS_CLOCKSOURCE_READ_INLINE=y
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST=y
CONFIG_FXAS21002C=y
CONFIG_REGULATOR_LP8788=y
CONFIG_CHARGER_RT9455=y
CONFIG_PCIE_THERMAL=y
CONFIG_ARM_S3C64XX_CPUFREQ=y
CONFIG_CLK_RCAR_CPG_LIB=y
CONFIG_RD_ZSTD=y
CONFIG_JOYSTICK_STINGER=y
CONFIG_CC_HAS_SLS=y
CONFIG_ARCH_HAS_DMA_OPS=y
CONFIG_MEEGOPAD_ANX7428=y
CONFIG_BACKLIGHT_APPLE=y
CONFIG_ARCH_SUPPORTS_INT128=y
CONFIG_TIME_NS=y
CONFIG_FSNOTIFY=y
CONFIG_RCU_NOCB_CPU_DEFAULT_ALL=y
CONFIG_NVMEM_QORIQ_EFUSE=y
CONFIG_PHY_STM32_COMBOPHY=y
CONFIG_RTC_DRV_SD3078=y
CONFIG_GPIO_BCM_KONA=y
CONFIG_X86_DISABLED_FEATURE_OSPKE=y
CONFIG_AMD_ATL=y
CONFIG_KALLSYMS_ALL=y
CONFIG_CHARLCD=y
CONFIG_EXTCON_RT8973A=y
CONFIG_SENSORS_LM93=y
CONFIG_HAS_DMA=y
CONFIG_KEYBOARD_ADC=y
CONFIG_JOYSTICK_SIDEWINDER=y
CONFIG_INPUT_MAX77693_HAPTIC=y
CONFIG_MTK_CMDQ=y
CONFIG_REGULATOR_USERSPACE_CONSUMER=y
CONFIG_SD_ADC_MODULATOR=y
CONFIG_LEDS_TRIGGER_DEFAULT_ON=y
CONFIG_PWM_RASPBERRYPI_POE=y
CONFIG_ARCH_MAY_HAVE_PC_FDC=y
CONFIG_IMX_SCMI_LMM_DRV=y
CONFIG_SMI330_I2C=y
CONFIG_INTEL_PMC_SSRAM_TELEMETRY=y
CONFIG_HAVE_ARCH_USERFAULTFD_WP=y
CONFIG_INPUT_JOYDEV=y
CONFIG_XFS_MEMORY_BUFS=y
CONFIG_CARDBUS=y
CONFIG_CRYPTO_ESSIV=y
CONFIG_DEBUG_DRIVER=y
CONFIG_SENSORS_TMP108=y
CONFIG_SCHED_TRACER=y
CONFIG_REGULATOR_BQ257XX=y
CONFIG_SENSORS_W83773G=y
CONFIG_LEDS_TRIGGER_ONESHOT=y
CONFIG_TEST_DIV64=y
CONFIG_COMMON_CLK_MT6765_MIPI2ASYS=y
CONFIG_GPIO_BLZP1600=y
CONFIG_X86_SUPPORTS_MEMORY_FAILURE=y
CONFIG_SENSORS_BH1770=y
CONFIG_ARMV7M_SYSTICK=y
CONFIG_CONSOLE_TRANSLATIONS=y
CONFIG_CLK_IMX93=y
CONFIG_LTR390=y
CONFIG_IR_NUVOTON=y
CONFIG_I2C_GPIO=y
CONFIG_HAVE_KLP_BUILD=y
CONFIG_RENESAS_RZG2L_IRQC=y
CONFIG_PWM_TIECAP=y
CONFIG_SERIAL_DEV_BUS=y
CONFIG_MFD_STM32_TIMERS=y
CONFIG_MFD_STM32_LPTIMER=y
CONFIG_SENSORS_PC87360=y
CONFIG_HAVE_OBJTOOL=y
CONFIG_TREE_RCU=y
CONFIG_ADXL367_I2C=y
CONFIG_REGULATOR_TPS65185=y
CONFIG_OVERLAY_FS=y
CONFIG_W1_MASTER_UART=y
CONFIG_LEDS_TRIGGER_GPIO=y
CONFIG_PRU_REMOTEPROC=y
CONFIG_SENSORS_ADP1050=y
CONFIG_BLK_WBT=y
CONFIG_CLKSRC_LOONGSON1_PWM=y
CONFIG_HID_LENOVO=y
CONFIG_GENERIC_IRQ_PROBE=y
CONFIG_COMPILE_TEST=y
CONFIG_MCP4728=y
CONFIG_LEDS_APU=y
CONFIG_HIBERNATE_CALLBACKS=y
CONFIG_FB_SAVAGE=y
CONFIG_FB_S3C=y
CONFIG_SENSORS_AD7414=y
CONFIG_HID_SENSOR_HUMIDITY=y
CONFIG_INGENIC_CGU_JZ4760=y
CONFIG_IMX7D_ADC=y
CONFIG_DCACHE_WORD_ACCESS=y
CONFIG_JOYSTICK_AS5011=y
CONFIG_INTEL_UNCORE_FREQ_CONTROL=y
CONFIG_SGL_ALLOC=y
CONFIG_NVME_AUTH=y
CONFIG_X86_DISABLED_FEATURE_RETPOLINE_LFENCE=y
CONFIG_CRYPTO_ARIA_AESNI_AVX2_X86_64=y
CONFIG_REED_SOLOMON=y
CONFIG_LEDS_NIC78BX=y
CONFIG_TIMERLAT_TRACER=y
CONFIG_IPMI_DEVICE_INTERFACE=y
CONFIG_EXTCON_GPIO=y
CONFIG_PCI_IDE=y
CONFIG_DEVFREQ_THERMAL=y
CONFIG_FIPS_SIGNATURE_SELFTEST=y
CONFIG_NLS_ISO8859_3=y
CONFIG_RESET_TN48M_CPLD=y
CONFIG_JOYSTICK_SPACEORB=y
CONFIG_TCG_TIS_ST33ZP24=y
CONFIG_ASPEED_ADC=y
CONFIG_CLK_R8A779H0=y
CONFIG_RTC_DRV_XGENE=y
CONFIG_CLK_EMEV2=y
CONFIG_CRYPTO_TWOFISH_X86_64_3WAY=y
CONFIG_INPUT_HISI_POWERKEY=y
CONFIG_ARCH_MHP_MEMMAP_ON_MEMORY_ENABLE=y
CONFIG_GOOGLE_MEMCONSOLE=y
CONFIG_SENSORS_HS3001=y
CONFIG_NLS_CODEPAGE_850=y
CONFIG_SENSORS_NCT6775_I2C=y
CONFIG_DEV_COREDUMP=y
CONFIG_TIMER_PROBE=y
CONFIG_USB4_DEBUGFS_MARGINING=y
CONFIG_ACPI_REV_OVERRIDE_POSSIBLE=y
CONFIG_SERIAL_TEGRA_UTC=y
CONFIG_ARCH_USE_SYM_ANNOTATIONS=y
CONFIG_SERIAL_MXS_AUART=y
CONFIG_RPMSG_NS=y
CONFIG_HAVE_PERF_EVENTS_NMI=y
CONFIG_HAVE_HARDLOCKUP_DETECTOR_BUDDY=y
CONFIG_FB_SYSMEM_HELPERS=y
CONFIG_NLS_CODEPAGE_1251=y
CONFIG_SPACEMIT_K1_CCU=y
CONFIG_HAVE_ACPI_APEI=y
CONFIG_PINCTRL=y
CONFIG_ARCH_SUPPORTS_SCHED_CLUSTER=y
CONFIG_CRC_OPTIMIZATIONS=y
CONFIG_COMMON_CLK_MAX9485=y
CONFIG_REGULATOR_STM32_BOOSTER=y
CONFIG_STACKTRACE_SUPPORT=y
CONFIG_REED_SOLOMON_DEC16=y
CONFIG_PCIE_PTM=y
CONFIG_SOC_TI=y
CONFIG_CPU_FREQ_GOV_COMMON=y
CONFIG_SENSORS_MAX34440=y
CONFIG_PAGE_REPORTING=y
CONFIG_MFD_CS47L24=y
CONFIG_ACPI_CONTAINER=y
CONFIG_ARCH_HIBERNATION_HEADER=y
CONFIG_WMI_BMOF=y
CONFIG_DA311=y
CONFIG_REGULATOR_QCOM_RPMH=y
CONFIG_PM_GENERIC_DOMAINS=y
CONFIG_RTC_DRV_PCF85363=y
CONFIG_HAVE_CLK_PREPARE=y
CONFIG_ADXL355=y
CONFIG_ECONET_EN751221_TIMER=y
CONFIG_DEVFREQ_EVENT_ROCKCHIP_DFI=y
CONFIG_REGMAP_W1=y
CONFIG_STMP_DEVICE=y
CONFIG_INGENIC_CGU_JZ4740=y
CONFIG_I2C_CBUS_GPIO=y
CONFIG_HAVE_KRETPROBES=y
CONFIG_INPUT_JOYSTICK=y
CONFIG_TRACE_IRQFLAGS_SUPPORT=y
CONFIG_SSB_PCIHOST_POSSIBLE=y
CONFIG_PKCS7_MESSAGE_PARSER=y
CONFIG_BLK_DEBUG_FS=y
CONFIG_USB4_DEBUGFS_WRITE=y
CONFIG_ARCH_HAS_ELF_RANDOMIZE=y
CONFIG_APPLE_MAILBOX=y
CONFIG_LEDS_CLASS_MULTICOLOR=y
CONFIG_HAVE_UNSTABLE_SCHED_CLOCK=y
CONFIG_IIO_BUFFER_DMA=y
CONFIG_COMMON_CLK_NPCM8XX=y
CONFIG_SYSC_R8A7745=y
CONFIG_IIO=y
CONFIG_MFD_SM501=y
CONFIG_I2C_SPRD=y
CONFIG_FB_3DFX_I2C=y
CONFIG_SERIAL_MULTI_INSTANTIATE=y
CONFIG_HSC030PA=y
CONFIG_COMMON_CLK_SP7021=y
CONFIG_IIO_SCMI=y
CONFIG_CXL_BUS=y
CONFIG_HAVE_SETUP_PER_CPU_AREA=y
CONFIG_INTEL_RAPL=y
CONFIG_CHARGER_DA9150=y
CONFIG_CRYPTO_XCTR=y
CONFIG_HAVE_ARCH_SECCOMP=y
CONFIG_CRYPTO_TWOFISH_X86_64=y
CONFIG_TRACE_REMOTE=y
CONFIG_ACPI_VIOT=y
CONFIG_PHY_STIH407_USB=y
CONFIG_GPIO_DA9055=y
CONFIG_RTC_DRV_SSD202D=y
CONFIG_RTC_MC146818_LIB=y
CONFIG_SENSORS_MAX197=y
CONFIG_YT2_1380=y
CONFIG_COMEDI_8255=y
CONFIG_CRYPTO_AEAD2=y
CONFIG_CHARLCD_BL_FLASH=y
CONFIG_BMG160_I2C=y
CONFIG_NVGRACE_GPU_VFIO_PCI=y
CONFIG_APERTURE_HELPERS=y
CONFIG_SENSORS_LM92=y
CONFIG_RAPIDIO_CPS_XX=y
CONFIG_QCOM_TZMEM_MODE_GENERIC=y
CONFIG_HAVE_CONTEXT_TRACKING_USER_OFFSTACK=y
CONFIG_REGULATOR_MT6331=y
CONFIG_SYSC_RZ=y
CONFIG_HAVE_ARCH_HUGE_VMALLOC=y
CONFIG_HID_SEMITEK=y
CONFIG_HW_RANDOM_PIC32=y
CONFIG_ALTERA_MBOX=y
CONFIG_BATTERY_SBS=y
CONFIG_INOTIFY_USER=y
CONFIG_ARM_SCMI_RAW_MODE_SUPPORT=y
CONFIG_NPCM_ADC=y
CONFIG_RCU_CPU_STALL_NOTIFIER=y
CONFIG_AD5272=y
CONFIG_LEDS_DA903X=y
CONFIG_XXHASH=y
CONFIG_SENSORS_KFAN=y
CONFIG_EARLY_PRINTK=y
CONFIG_CRYPTO_AUTHENC=y
CONFIG_SENSORS_TDA38640=y
CONFIG_EROFS_FS_ZIP_LZMA=y
CONFIG_SENSORS_ASC7621=y
CONFIG_CC_NO_ARRAY_BOUNDS=y
CONFIG_BLK_DEV_BSGLIB=y
CONFIG_I2C_CADENCE=y
CONFIG_CHARGER_TWL6030=y
CONFIG_GOOGLE_FIRMWARE=y
CONFIG_SOC_RENESAS=y
CONFIG_MEMSTICK_JMICRON_38X=y
CONFIG_CRYPTO_LIB_AES=y
CONFIG_SPS30_SERIAL=y
CONFIG_SERIAL_MESON=y
CONFIG_GPIO_REGMAP=y
CONFIG_GREYBUS_BEAGLEPLAY=y
CONFIG_SENSORS_TMP421=y
CONFIG_IOMMU_PT_X86_64=y
CONFIG_HAVE_RETHOOK=y
CONFIG_FUTEX=y
CONFIG_LPC18XX_ADC=y
CONFIG_SYSC_R8A77970=y
CONFIG_HID_RMI=y
CONFIG_XFS_SUPPORT_ASCII_CI=y
CONFIG_CC_HAS_ASM_INLINE=y
CONFIG_SQUASHFS_LZO=y
CONFIG_C2PORT=y
CONFIG_LP8788_ADC=y
CONFIG_PKCS8_PRIVATE_KEY_PARSER=y
CONFIG_FAILSLAB=y
CONFIG_SPARSEMEM_VMEMMAP=y
CONFIG_LKDTM=y
CONFIG_PCIEAER=y
CONFIG_WPCM450_SOC=y
CONFIG_PCI_IOV=y
CONFIG_W1_SLAVE_DS28E17=y
CONFIG_WATCH_QUEUE=y
CONFIG_DEBUG_KERNEL=y
CONFIG_TI_ADC081C=y
CONFIG_LEDS_MLXCPLD=y
CONFIG_GPIO_LATCH=y
CONFIG_INPUT_AXP20X_PEK=y
CONFIG_INTEL_SCU_IPC_UTIL=y
CONFIG_RCU_LAZY_DEFAULT_OFF=y
CONFIG_THERMAL_DEFAULT_GOV_BANG_BANG=y
CONFIG_CGROUP_BPF=y
CONFIG_COMEDI_MF6X4=y
CONFIG_STM_SOURCE_FTRACE=y
CONFIG_ARCH_HAS_SET_DIRECT_MAP=y
CONFIG_SENSORS_NPCM7XX=y
CONFIG_IRQ_FORCED_THREADING=y
CONFIG_COMMON_CLK_MT8188=y
CONFIG_MFD_TQMX86=y
CONFIG_COMMON_CLK_PISTACHIO=y
CONFIG_VIDEO=y
CONFIG_IRQ_POLL=y
CONFIG_IPMI_DMI_DECODE=y
CONFIG_COMEDI_AMPLC_PC236=y
CONFIG_CLK_R8A77961=y
CONFIG_SENSORS_MAX6639=y
CONFIG_ARM_SCMI_PROTOCOL=y
CONFIG_HW_RANDOM_IXP4XX=y
CONFIG_RPMSG_MTK_SCP=y
CONFIG_LINEDISP=y
CONFIG_DEBUG_ATOMIC_LARGEST_ALIGN=y
CONFIG_REGULATOR_RT5033=y
CONFIG_PA12203001=y
CONFIG_GPIO_BY_PINCTRL=y
CONFIG_CRYPTO_AKCIPHER2=y
CONFIG_FB_SM501=y
CONFIG_COMMON_CLK_RPMI=y
CONFIG_BACKLIGHT_88PM860X=y
CONFIG_X86_MSR=y
CONFIG_ALLOW_DEV_COREDUMP=y
CONFIG_RMI4_I2C=y
CONFIG_FIX_EARLYCON_MEM=y
CONFIG_SERIAL_PCH_UART=y
CONFIG_INPUT_PCSPKR=y
CONFIG_SENSORS_CORETEMP=y
CONFIG_CRYPTO_AEGIS128_AESNI_SSE2=y
CONFIG_COMEDI_S626=y
CONFIG_FB_DEFERRED_IO=y
CONFIG_BMI270_I2C=y
CONFIG_FB_MB862XX_I2C=y
CONFIG_IIO_ST_GYRO_I2C_3AXIS=y
CONFIG_GPIB=y
CONFIG_IR_ITE_CIR=y
CONFIG_IOMMUFD=y
CONFIG_IOMMU_API=y
CONFIG_CRYPTO_LIB_MLDSA=y
CONFIG_RING_BUFFER_STARTUP_TEST=y
CONFIG_SENSORS_LM80=y
CONFIG_JOYSTICK_INTERACT=y
CONFIG_AD7606=y
CONFIG_COMMON_CLK_MT6765_MIPI0ASYS=y
CONFIG_COMMON_CLK_MT6797_VDECSYS=y
CONFIG_HDC2010=y
CONFIG_SENSORS_INA209=y
CONFIG_PHY_INTEL_KEEMBAY_USB=y
CONFIG_SENSORS_SHT15=y
CONFIG_PWM_STM32_LP=y
CONFIG_PAGE_IDLE_FLAG=y
CONFIG_CRYPTO_CTS=y
CONFIG_EXYNOS_USI=y
CONFIG_IOSCHED_BFQ=y
CONFIG_COMMON_CLK_XGENE=y
CONFIG_MFD_TIMBERDALE=y
CONFIG_POWERCAP=y
CONFIG_CHECK_SIGNATURE=y
CONFIG_HX9023S=y
CONFIG_TUXEDO_NB04_WMI_AB=y
CONFIG_RESET_SCMI=y
CONFIG_IOMMU_DEFAULT_PASSTHROUGH=y
CONFIG_SENSORS_KBATT=y
CONFIG_CRC_T10DIF=y
CONFIG_CHARGER_BQ24257=y
CONFIG_ORANGEFS_FS=y
CONFIG_IMX_SCMI_CPU_DRV=y
CONFIG_DEBUG_CGROUP_REF=y
CONFIG_IOMMU_DMA=y
CONFIG_NUMA_BALANCING=y
CONFIG_AD5592R_BASE=y
CONFIG_RTC_DRV_RX6110=y
CONFIG_AD7150=y
CONFIG_PCI_DOE=y
