CONFIG_RFKILL=n
CONFIG_HDMI=n
CONFIG_MODULES_USE_ELF_RELA=n
CONFIG_X86_REQUIRED_FEATURE_XMM=n
CONFIG_HARDIRQS_SW_RESEND=n
CONFIG_NEW_LEDS=n
CONFIG_ARCH_HAS_PARANOID_L1D_FLUSH=n
CONFIG_FILE_LOCKING=n
CONFIG_NETDEVICES=n
CONFIG_HAVE_ARCH_KSTACK_ERASE=n
CONFIG_NFS_V3=n
CONFIG_EDAC_SUPPORT=n
CONFIG_NETFILTER=n
CONFIG_MAGIC_SYSRQ_SERIAL=n
CONFIG_ARCH_HAS_PREEMPT_LAZY=n
CONFIG_EXCLUSIVE_SYSTEM_RAM=n
CONFIG_SERIAL_8250_CONSOLE=n
CONFIG_BLK_DEV_DM=n
CONFIG_NF_CONNTRACK_SECMARK=n
CONFIG_GENERIC_CPU_DEVICES=n
CONFIG_SATA_AHCI=n
CONFIG_HAVE_KPROBES_ON_FTRACE=n
CONFIG_BLK_MQ_STACKING=n
CONFIG_HAVE_KRETPROBES=n
CONFIG_SERIAL_8250_DETECT_IRQ=n
CONFIG_ARCH_HAS_NMI_SAFE_THIS_CPU_OPS=n
CONFIG_GENERIC_TRACER=n
CONFIG_ARCH_DMA_ADDR_T_64BIT=n
CONFIG_CPU_FREQ_GOV_USERSPACE=n
CONFIG_CPU_FREQ_GOV_ATTR_SET=n
CONFIG_HAVE_KERNEL_GZIP=n
CONFIG_GENERIC_CLOCKEVENTS=n
CONFIG_X86_ACPI_CPUFREQ=n
CONFIG_NOINSTR_VALIDATION=n
CONFIG_X86_REROUTE_FOR_BROKEN_BOOT_IRQS=n
CONFIG_DRM_I915=n
CONFIG_ARCH_HAS_CPU_FINALIZE_INIT=n
CONFIG_HAS_IOPORT=n
CONFIG_ARCH_SUPPORTS_MSEAL_SYSTEM_MAPPINGS=n
CONFIG_HAVE_STACKPROTECTOR=n
CONFIG_SYSVIPC_SYSCTL=n
CONFIG_CGROUP_DEBUG=n
CONFIG_LD_CAN_USE_KEEP_IN_OVERLAY=n
CONFIG_I2C_HELPER_AUTO=n
CONFIG_X86_DEBUG_FPU=n
CONFIG_CRYPTO_LIB_GF128HASH_ARCH=n
CONFIG_MITIGATION_TAA=n
CONFIG_HAVE_ARCH_SOFT_DIRTY=n
CONFIG_CRYPTO_HW=n
CONFIG_SCSI_MOD=n
CONFIG_HAVE_FUNCTION_ERROR_INJECTION=n
CONFIG_GENERIC_IRQ_RESERVATION_MODE=n
CONFIG_PARAVIRT=n
CONFIG_SUSPEND_FREEZER=n
CONFIG_HARDLOCKUP_CHECK_TIMESTAMP=n
CONFIG_POWER_SUPPLY_HWMON=n
CONFIG_ARCH_SPARSEMEM_ENABLE=n
CONFIG_CRC32=n
CONFIG_AUTOFS_FS=n
CONFIG_HOTPLUG_CORE_SYNC=n
CONFIG_GCC_NO_STRINGOP_OVERFLOW=n
CONFIG_SCHED_MC_PRIO=n
CONFIG_FAIR_GROUP_SCHED=n
CONFIG_HOTPLUG_CORE_SYNC_DEAD=n
CONFIG_CALL_PADDING=n
CONFIG_ARCH_SUPPORTS_CFI=n
CONFIG_NET_VENDOR_DAVICOM=n
CONFIG_HAVE_ARCH_KMSAN=n
CONFIG_ARCH_USE_MEMTEST=n
CONFIG_AUDITSYSCALL=n
CONFIG_ASYNC_KERNEL_PGTABLE_FREE=n
CONFIG_BLK_CGROUP_IOLATENCY=n
CONFIG_ARCH_WANTS_DYNAMIC_TASK_STRUCT=n
CONFIG_MD=n
CONFIG_SCHED_HRTICK=n
CONFIG_LEDS_CLASS=n
CONFIG_USB_EHCI_TT_NEWSCHED=n
CONFIG_KVFREE_RCU_BATCHED=n
CONFIG_SND_SEQ_DUMMY=n
CONFIG_INTEL_IOMMU_SCALABLE_MODE_DEFAULT_ON=n
CONFIG_KVM_GUEST=n
CONFIG_MAC80211_HAS_RC=n
CONFIG_NET_VENDOR_SYNOPSYS=n
CONFIG_SECURITY=n
CONFIG_VIRTIO_CONSOLE=n
CONFIG_SYSCTL=n
CONFIG_EFI_RUNTIME_MAP=n
CONFIG_BRANCH_PROFILE_NONE=n
CONFIG_NETFILTER_XT_TARGET_SECMARK=n
CONFIG_DECOMPRESS_ZSTD=n
CONFIG_NEED_DMA_MAP_STATE=n
CONFIG_TMPFS_POSIX_ACL=n
CONFIG_X86_CPUID=n
CONFIG_NET_VENDOR_TI=n
CONFIG_X86_HV_CALLBACK_VECTOR=n
CONFIG_DIMLIB=n
CONFIG_RD_LZ4=n
CONFIG_PAGE_SIZE_4KB=n
CONFIG_LEGACY_DIRECT_IO=n
CONFIG_ARCH_SUPPORTS_SCHED_MC=n
CONFIG_OLD_SIGSUSPEND3=n
CONFIG_HAS_DMA=n
CONFIG_CLKBLD_I8253=n
CONFIG_CPUSETS=n
CONFIG_XFRM_ALGO=n
CONFIG_E1000=n
CONFIG_X86_16BIT=n
CONFIG_HAVE_ACPI_APEI=n
CONFIG_ARCH_WANT_HUGE_PMD_SHARE=n
CONFIG_CRYPTO_SKCIPHER=n
CONFIG_FUNCTION_ALIGNMENT_4B=n
CONFIG_X509_CERTIFICATE_PARSER=n
CONFIG_NET_VENDOR_META=n
CONFIG_RANDOMIZE_KSTACK_OFFSET=n
CONFIG_MEMFD_CREATE=n
CONFIG_HAVE_PREEMPT_DYNAMIC_CALL=n
CONFIG_PAGE_MAPCOUNT=n
CONFIG_ARCH_STACKWALK=n
CONFIG_8139TOO=n
CONFIG_X86_VSYSCALL_EMULATION=n
CONFIG_NET_VENDOR_AGERE=n
CONFIG_GENERIC_STRNCPY_FROM_USER=n
CONFIG_CC_HAS_IBT=n
CONFIG_CGROUP_CPUACCT=n
CONFIG_PNP_DEBUG_MESSAGES=n
CONFIG_KEXEC_CORE=n
CONFIG_ARCH_USE_QUEUED_RWLOCKS=n
CONFIG_ARCH_WANT_IRQS_OFF_ACTIVATE_MM=n
CONFIG_NLATTR=n
CONFIG_HAVE_ARCH_JUMP_LABEL=n
CONFIG_MAILBOX=n
CONFIG_FIRMWARE_MEMMAP=n
CONFIG_DRM_DISPLAY_HELPER=n
CONFIG_ETHTOOL_NETLINK=n
CONFIG_SERIAL_8250_LPSS=n
CONFIG_UNINLINE_SPIN_UNLOCK=n
CONFIG_NET_VENDOR_XILINX=n
CONFIG_CRASH_DUMP=n
CONFIG_NET_VENDOR_MICREL=n
CONFIG_VIRTIO_ANCHOR=n
CONFIG_XXHASH=n
CONFIG_ADVISE_SYSCALLS=n
CONFIG_X86_CX8=n
CONFIG_BROADCAST_TLB_FLUSH=n
CONFIG_MITIGATION_TSA=n
CONFIG_POWER_SUPPLY=n
CONFIG_BLOCK=n
CONFIG_KRETPROBE_ON_RETHOOK=n
CONFIG_ARCH_HAS_DEVMEM_IS_ALLOWED=n
CONFIG_FIRMWARE_TABLE=n
CONFIG_GENERIC_GETTIMEOFDAY=n
CONFIG_BLK_DEV_SR=n
CONFIG_DEBUG_BOOT_PARAMS=n
CONFIG_ARCH_SUPPORTS_PAGE_TABLE_CHECK=n
CONFIG_EFI_CUSTOM_SSDT_OVERLAYS=n
CONFIG_NET_VENDOR_QLOGIC=n
CONFIG_MOUSE_PS2_BYD=n
CONFIG_NF_CONNTRACK=n
CONFIG_DMI_SCAN_MACHINE_NON_EFI_FALLBACK=n
CONFIG_IOMMU_SVA=n
CONFIG_WLAN_VENDOR_QUANTENNA=n
CONFIG_ATA_PIIX=n
CONFIG_ARCH_SUPPORTS_ACPI=n
CONFIG_RTC_MC146818_LIB=n
CONFIG_ARCH_SUPPORTS_KMAP_LOCAL_FORCE_MAP=n
CONFIG_ATA=n
CONFIG_PCCARD_NONSTATIC=n
CONFIG_QUOTA_TREE=n
CONFIG_SUNRPC_GSS=n
CONFIG_NOP_TRACER=n
CONFIG_DCACHE_WORD_ACCESS=n
CONFIG_ARCH_HAS_CPU_ATTACK_VECTORS=n
CONFIG_XPS=n
CONFIG_ACPI_CONTAINER=n
CONFIG_ARCH_WANT_BATCHED_UNMAP_TLB_FLUSH=n
CONFIG_GENERIC_EARLY_IOREMAP=n
CONFIG_X86_REQUIRED_FEATURE_CPUID=n
CONFIG_STANDALONE=n
CONFIG_XFRM_ESP=n
CONFIG_USE_PERCPU_NUMA_NODE_ID=n
CONFIG_SERIAL_8250_PNP=n
CONFIG_FIB_RULES=n
CONFIG_ZSTD_DECOMPRESS=n
CONFIG_IP_MROUTE_COMMON=n
CONFIG_CGROUP_FREEZER=n
CONFIG_ARCH_HAS_DEBUG_WX=n
CONFIG_RD_LZMA=n
CONFIG_GENERIC_IRQ_PROBE=n
CONFIG_NET_9P_FD=n
CONFIG_X86_REQUIRED_FEATURE_LM=n
CONFIG_NET_VENDOR_AMAZON=n
CONFIG_HAVE_REGS_AND_STACK_ACCESS_API=n
CONFIG_PANTHERLORD_FF=n
CONFIG_MITIGATION_SPECTRE_V1=n
CONFIG_SYSFS=n
CONFIG_BUG=n
CONFIG_ARCH_HIBERNATION_POSSIBLE=n
CONFIG_SND_VERBOSE_PROCFS=n
CONFIG_NET=n
CONFIG_SND_HRTIMER=n
CONFIG_CRYPTO_AKCIPHER2=n
CONFIG_IOMMU_DEFAULT_DMA_LAZY=n
CONFIG_NETWORK_FILESYSTEMS=n
CONFIG_ARCH_HAS_GENERIC_CRASHKERNEL_RESERVATION=n
CONFIG_INPUT_MISC=n
CONFIG_STACKDEPOT=n
CONFIG_HAVE_ARCH_SECCOMP_FILTER=n
CONFIG_IP6_NF_MATCH_IPV6HEADER=n
CONFIG_USB_EHCI_HCD=n
CONFIG_NF_NAT=n
CONFIG_MSDOS_FS=n
CONFIG_ARCH_HAS_ACPI_TABLE_UPGRADE=n
CONFIG_THERMAL=n
CONFIG_SCSI_PROC_FS=n
CONFIG_CRYPTO_SIG2=n
CONFIG_PROC_FS=n
CONFIG_CALL_THUNKS=n
CONFIG_ARCH_CLOCKSOURCE_INIT=n
CONFIG_IOSF_MBI=n
CONFIG_IP_ROUTE_MULTIPATH=n
CONFIG_ZONE_DMA32=n
CONFIG_HAVE_EBPF_JIT=n
CONFIG_SND_INTEL_NHLT=n
CONFIG_USB_STORAGE=n
CONFIG_ARCH_WANT_COMPAT_IPC_PARSE_VERSION=n
CONFIG_EFI_MIXED=n
CONFIG_I8253_LOCK=n
CONFIG_POSIX_MQUEUE_SYSCTL=n
CONFIG_PATA_SCH=n
CONFIG_TIME_NS=n
CONFIG_SCHED_INFO=n
CONFIG_HAVE_USER_RETURN_NOTIFIER=n
CONFIG_RUNTIME_TESTING_MENU=n
CONFIG_NET_RX_BUSY_POLL=n
CONFIG_FORCEDETH=n
CONFIG_SPARSEMEM_VMEMMAP_ENABLE=n
CONFIG_MOUSE_PS2_SYNAPTICS_SMBUS=n
CONFIG_NET_HANDSHAKE=n
CONFIG_HAVE_CMPXCHG_LOCAL=n
CONFIG_MODULE_UNLOAD=n
CONFIG_HOTPLUG_CORE_SYNC_FULL=n
CONFIG_ACPI_PROCESSOR_IDLE=n
CONFIG_ACPI_BUTTON=n
CONFIG_HAVE_ACPI_APEI_NMI=n
CONFIG_SND_HDA_COMPONENT=n
CONFIG_OBJTOOL=n
CONFIG_PKCS7_MESSAGE_PARSER=n
CONFIG_TASKS_TRACE_RCU=n
CONFIG_GPIOLIB_LEGACY=n
CONFIG_NET_VENDOR_NVIDIA=n
CONFIG_HAVE_PERF_EVENTS=n
CONFIG_HAVE_SAMPLE_FTRACE_DIRECT=n
CONFIG_I2C_SMBUS=n
CONFIG_CRC16=n
CONFIG_NET_XGRESS=n
CONFIG_HAS_IOPORT_MAP=n
CONFIG_CPU_FREQ_GOV_ONDEMAND=n
CONFIG_HAVE_FTRACE_REGS_HAVING_PT_REGS=n
CONFIG_ARCH_SUPPORTS_ATOMIC_RMW=n
CONFIG_TREE_SRCU=n
CONFIG_HAVE_ARCH_KASAN_VMALLOC=n
CONFIG_INET=n
CONFIG_DECOMPRESS_BZIP2=n
CONFIG_ARCH_SUPPORTS_KEXEC_SIG_FORCE=n
CONFIG_SND_DMA_SGBUF=n
CONFIG_HIGH_RES_TIMERS=n
CONFIG_VIRTIO_PCI_LIB=n
CONFIG_MITIGATION_RETBLEED=n
CONFIG_ARCH_ENABLE_SPLIT_PMD_PTLOCK=n
CONFIG_HAVE_CALL_THUNKS=n
CONFIG_NET_VENDOR_DEC=n
CONFIG_TASK_DELAY_ACCT=n
CONFIG_BCMA_POSSIBLE=n
CONFIG_CGROUP_DEVICE=n
CONFIG_SND_INTEL_SOUNDWIRE_ACPI=n
CONFIG_VMAP_PFN=n
CONFIG_IP_NF_IPTABLES=n
CONFIG_HAVE_STATIC_CALL=n
CONFIG_BLOCK_LEGACY_AUTOLOAD=n
CONFIG_ARCH_USES_HIGH_VMA_FLAGS=n
CONFIG_ACPI_NHLT=n
CONFIG_HAVE_CONTEXT_TRACKING_USER_OFFSTACK=n
CONFIG_PM_SLEEP_DEBUG=n
CONFIG_CFG80211_DEFAULT_PS=n
CONFIG_HAVE_OPTPROBES=n
CONFIG_AUDIT_ARCH=n
CONFIG_VIRTIO_DMA_SHARED_BUFFER=n
CONFIG_VIRTIO_PCI_LIB_LEGACY=n
CONFIG_RCU_TRACE=n
CONFIG_RTC_CLASS=n
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST_IDLE=n
CONFIG_SERIAL_CORE_CONSOLE=n
CONFIG_CPU_SUP_CENTAUR=n
CONFIG_DRM_VIRTIO_GPU=n
CONFIG_CRYPTO_AKCIPHER=n
CONFIG_SCHED_CLUSTER=n
CONFIG_DMA_ENGINE=n
CONFIG_CRYPTO_GCM=n
CONFIG_NETFILTER_XT_TARGET_NFLOG=n
CONFIG_NET_VENDOR_SUN=n
