CONFIG_SENSORS_INTEL_M10_BMC_HWMON=y
CONFIG_MEMSTICK_DEBUG=y
CONFIG_UIO_PCI_GENERIC=y
CONFIG_MS5611=y
CONFIG_CLK_RK3568=y
CONFIG_REGULATOR_SUN20I=y
CONFIG_COMMON_CLK_MT6765_MIPI0BSYS=y
CONFIG_BTRFS_DEBUG=y
CONFIG_POWER_RESET_GPIO=y
CONFIG_GPIOLIB_IRQCHIP=y
CONFIG_LEDS_PCA995X=y
CONFIG_DMABUF_HEAPS=y
CONFIG_MFD_ARIZONA=y
CONFIG_CRYPTO_HASH=y
CONFIG_GPIOLIB_LEGACY=y
CONFIG_COMMON_CLK_MT8192_AUDSYS=y
CONFIG_GENERIC_IRQ_ENTRY=y
CONFIG_SI1145=y
CONFIG_MAILBOX=y
CONFIG_DEBUG_SECTION_MISMATCH=y
CONFIG_ADXL345=y
CONFIG_COMMON_CLK_MT2712_MFGCFG=y
CONFIG_COMMON_CLK_MEDIATEK=y
CONFIG_IAQCORE=y
CONFIG_JBD2=y
CONFIG_CC_IS_GCC=y
CONFIG_CC_NO_STRINGOP_OVERFLOW=y
CONFIG_GPIO_GENERIC_PLATFORM=y
CONFIG_MFD_WM5102=y
CONFIG_XEN_GNTDEV_DMABUF=y
CONFIG_MFD_MC13XXX_SPI=y
CONFIG_ARCH_SUPPORTS_INT128=y
CONFIG_PREEMPT_TRACER=y
CONFIG_ARCH_HAS_HW_PTE_YOUNG=y
CONFIG_CRYPTO_LIB_GF128HASH=y
CONFIG_PINCTRL_SUNXI=y
CONFIG_MEMBARRIER=y
CONFIG_ARCH_XGENE=y
CONFIG_GENERIC_IRQ_IPI=y
CONFIG_BACKLIGHT_QCOM_WLED=y
CONFIG_EFI_ARMSTUB_DTB_LOADER=y
CONFIG_PAGE_EXTENSION=y
CONFIG_CORESIGHT_DUMMY=y
CONFIG_CPU_LITTLE_ENDIAN=y
CONFIG_HMEM_REPORTING=y
CONFIG_CRYPTO_LIB_BLAKE2B=y
CONFIG_GENERIC_CALIBRATE_DELAY=y
CONFIG_ARCH_HAS_CURRENT_STACK_POINTER=y
CONFIG_INTERVAL_TREE_SPAN_ITER=y
CONFIG_PINCTRL_AC5=y
CONFIG_SENSORS_MAX20730=y
CONFIG_YENTA=y
CONFIG_REGULATOR_MAX77838=y
CONFIG_SENSORS_IR36021=y
CONFIG_CHARGER_BQ25980=y
CONFIG_CORESIGHT_SINK_ETBV10=y
CONFIG_ARM64_ERRATUM_4311569=y
CONFIG_DMA_RESTRICTED_POOL=y
CONFIG_COMMON_CLK_EN7523=y
CONFIG_COMMON_CLK_MT8186_VDECSYS=y
CONFIG_LTC2983=y
CONFIG_REGULATOR_QCOM_SPMI=y
CONFIG_SSB_DRIVER_PCICORE_POSSIBLE=y
CONFIG_CLK_RENESAS_CPG_MSSR=y
CONFIG_SENSORS_ADM1026=y
CONFIG_HAVE_DYNAMIC_FTRACE=y
CONFIG_BINFMT_MISC=y
CONFIG_ARCH_ALPINE=y
CONFIG_MFD_SI476X_CORE=y
CONFIG_AD525X_DPOT_SPI=y
CONFIG_CRYPTO_ALGAPI2=y
CONFIG_MEMFD_CREATE=y
CONFIG_ARCH_HAS_SYNC_DMA_FOR_CPU=y
CONFIG_MFD_PALMAS=y
CONFIG_REED_SOLOMON_ENC8=y
CONFIG_XEN_DOM0=y
CONFIG_AD7091R5=y
CONFIG_DEBUG_INFO_DWARF5=y
CONFIG_MEMCG=y
CONFIG_CARDBUS=y
CONFIG_NUMA_KEEP_MEMINFO=y
CONFIG_PINCTRL_CS42L43=y
CONFIG_HAVE_ALIGNED_STRUCT_PAGE=y
CONFIG_ASYMMETRIC_PUBLIC_KEY_SUBTYPE=y
CONFIG_MFD_DA9150=y
CONFIG_AK09911=y
CONFIG_ARM64_ERRATUM_2645198=y
CONFIG_XZ_DEC_ARM=y
CONFIG_COMMON_CLK_SCMI=y
CONFIG_AD7091R8=y
CONFIG_STM_PROTO_BASIC=y
CONFIG_MMU_GATHER_RCU_TABLE_FREE=y
CONFIG_FXOS8700=y
CONFIG_HAS_IOPORT_MAP=y
CONFIG_LIBFDT=y
CONFIG_DMADEVICES=y
CONFIG_CRYPTO=y
CONFIG_SENSORS_SPD5118=y
CONFIG_GPIO_PCA953X=y
CONFIG_XXHASH=y
CONFIG_EXT2_FS=y
CONFIG_BATTERY_DA9150=y
CONFIG_VFIO_PCI_CORE=y
CONFIG_ARM_GIC_V2M=y
CONFIG_PCI_AARDVARK=y
CONFIG_CRYPTO_AES_ARM64_BS=y
CONFIG_REGULATOR_S2MPA01=y
CONFIG_BLK_DEV_WRITE_MOUNTED=y
CONFIG_SPI_FSL_SPI=y
CONFIG_COMMON_CLK_MT6765_AUDIOSYS=y
CONFIG_PCI_HOST_GENERIC=y
CONFIG_CHARGER_BD99954=y
CONFIG_ADXL372_I2C=y
CONFIG_UIO=y
CONFIG_BINFMT_ELF=y
CONFIG_CADENCE_WATCHDOG=y
CONFIG_THERMAL_HWMON=y
CONFIG_MPRLS0025PA=y
CONFIG_ARCH_HAS_LAZY_MMU_MODE=y
CONFIG_RD_BZIP2=y
CONFIG_SENSORS_W83781D=y
CONFIG_REGULATOR=y
CONFIG_ARCH_HAS_SET_MEMORY=y
CONFIG_COMMON_CLK_MT8167_AUDSYS=y
CONFIG_ADMFM2000=y
CONFIG_LD_ORPHAN_WARN=y
CONFIG_AS_HAS_NON_CONST_ULEB128=y
CONFIG_ACPI_HED=y
CONFIG_LTC2688=y
CONFIG_SENSORS_ACPI_POWER=y
CONFIG_PER_VMA_LOCK=y
CONFIG_SENSORS_MAX6620=y
CONFIG_KEMPLD_WDT=y
CONFIG_LCD_CLASS_DEVICE=y
CONFIG_DEBUG_FS_ALLOW_ALL=y
CONFIG_SOC_TEGRA_PMC=y
CONFIG_NUMA=y
CONFIG_PCI_PWRCTRL=y
CONFIG_INIT_STACK_ALL_PATTERN=y
CONFIG_DEBUG_MEMORY_INIT=y
CONFIG_TICK_CPU_ACCOUNTING=y
CONFIG_SERIAL_MVEBU_UART=y
CONFIG_TEST_POWER=y
CONFIG_HAVE_ARCH_AUDITSYSCALL=y
CONFIG_I2C_VIAPRO=y
CONFIG_MOUSE_SERIAL=y
CONFIG_DEBUG_RWSEMS=y
CONFIG_CRYPTO_LIB_CHACHA_ARCH=y
CONFIG_GCC_NO_STRINGOP_OVERFLOW=y
CONFIG_AD5686_SPI=y
CONFIG_CHR_DEV_SG=y
CONFIG_DAX=y
CONFIG_CRYPTO_LIB_SHA512=y
CONFIG_HAVE_ARCH_KASAN_VMALLOC=y
CONFIG_NLS_CODEPAGE_950=y
CONFIG_XFS_LIVE_HOOKS=y
CONFIG_KVM_GENERIC_HARDWARE_ENABLING=y
CONFIG_MFD_TPS65912=y
CONFIG_EFI_VARS_PSTORE_DEFAULT_DISABLE=y
CONFIG_HAVE_PERF_EVENTS=y
CONFIG_ARM64_ERRATUM_834220=y
CONFIG_CRYPTO_HASH2=y
CONFIG_PWC_RZV2M=y
CONFIG_W1_SLAVE_THERM=y
CONFIG_DEVFREQ_GOV_USERSPACE=y
CONFIG_USB_OHCI_LITTLE_ENDIAN=y
CONFIG_REGULATOR_DA9052=y
CONFIG_DEFERRED_STRUCT_PAGE_INIT=y
CONFIG_PCIE_CADENCE=y
CONFIG_TWL4030_WATCHDOG=y
CONFIG_NPCM7XX_KCS_IPMI_BMC=y
CONFIG_ACPI_DEBUG=y
CONFIG_SG_POOL=y
CONFIG_MFD_MT6397=y
CONFIG_BALLOON=y
CONFIG_COMMON_CLK_MT8183_IPU_CORE0=y
CONFIG_ACPI_APEI_GHES=y
CONFIG_DNOTIFY=y
CONFIG_HFSPLUS_FS=y
CONFIG_ARCH_REALTEK=y
CONFIG_PCI_ENDPOINT_MSI_DOORBELL=y
CONFIG_LEDS_TRIGGER_PATTERN=y
CONFIG_GENERIC_IRQ_CHIP=y
CONFIG_INPUT_LEDS=y
CONFIG_EFI_STUB=y
CONFIG_AD3552R_LIB=y
CONFIG_TI_ADS1015=y
CONFIG_HTE=y
CONFIG_BLK_CGROUP_PUNT_BIO=y
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_ARGS=y
CONFIG_RCU_STALL_COMMON=y
CONFIG_OPT3001=y
CONFIG_CRYPTO_XCTR=y
CONFIG_JOYSTICK_COBRA=y
CONFIG_SERIAL_ARC=y
CONFIG_VFIO_PCI_INTX=y
CONFIG_PSI=y
CONFIG_MEMSTICK_JMICRON_38X=y
CONFIG_RENESAS_DMA=y
CONFIG_TI_ADC161S626=y
CONFIG_SENSORS_ADT7411=y
CONFIG_SMI330=y
CONFIG_FTRACE_VALIDATE_RCU_IS_WATCHING=y
CONFIG_SPI_WPCM_FIU=y
CONFIG_CPU_FREQ_GOV_SCHEDUTIL=y
CONFIG_REGULATOR_MAX77503=y
CONFIG_EXCLUSIVE_SYSTEM_RAM=y
CONFIG_DM_FLAKEY=y
CONFIG_REGULATOR_MAX77675=y
CONFIG_WATCHDOG_HRTIMER_PRETIMEOUT=y
CONFIG_MTK_MFG_PM_DOMAIN=y
CONFIG_REGULATOR_MT6311=y
CONFIG_TIMERFD=y
CONFIG_SENSORS_UCD9000=y
CONFIG_SECURITY_YAMA=y
CONFIG_NAMESPACES=y
CONFIG_PM_DEBUG=y
CONFIG_SYSCTL=y
CONFIG_ZPA2326_I2C=y
CONFIG_REGMAP_I2C=y
CONFIG_GPIO_74XX_MMIO=y
CONFIG_REGULATOR_FIXED_VOLTAGE=y
CONFIG_SENSORS_ADM1029=y
CONFIG_SPI_S3C64XX=y
CONFIG_INIT_ON_FREE_DEFAULT_ON=y
CONFIG_SENSORS_SPD5118_DETECT=y
CONFIG_GPIO_XRA1403=y
CONFIG_SPI_ALTERA_CORE=y
CONFIG_JOYSTICK_ADI=y
CONFIG_CLK_RENESAS=y
CONFIG_BD79703=y
CONFIG_BLK_DEV_BSGLIB=y
CONFIG_PCIEASPM=y
CONFIG_BPF_SYSCALL=y
CONFIG_HAS_DMA=y
CONFIG_FW_LOADER=y
CONFIG_TIMER_PROBE=y
CONFIG_BUFFER_HEAD=y
CONFIG_COMEDI_NI_DAQ_700_CS=y
CONFIG_SUSPEND_FREEZER=y
CONFIG_XZ_DEC_ARM64=y
CONFIG_MTK_ADSP_IPC=y
CONFIG_I2C_HELPER_AUTO=y
CONFIG_SENSORS_F71805F=y
CONFIG_CHARGER_BQ24257=y
CONFIG_SBITMAP=y
CONFIG_THERMAL_GOV_STEP_WISE=y
CONFIG_ACPI_MCFG=y
CONFIG_DMA_MAP_BENCHMARK=y
CONFIG_SOC_TEGRA_FUSE=y
CONFIG_GPIO_MAX3191X=y
CONFIG_AXP288_ADC=y
CONFIG_AD7766=y
CONFIG_UEFI_CPER=y
CONFIG_MPU3050=y
CONFIG_GENERIC_CPU_CACHE_MAINTENANCE=y
CONFIG_EXPORTFS_BLOCK_OPS=y
CONFIG_PCI_DOMAINS=y
CONFIG_CLK_RCAR_CPG_LIB=y
CONFIG_LEDS_LP5562=y
CONFIG_CRYPTO_LIB_SHA1_ARCH=y
CONFIG_PM_GENERIC_DOMAINS_OF=y
CONFIG_US5182D=y
CONFIG_EFI=y
CONFIG_LEDS_AS3645A=y
CONFIG_SPARSEMEM_VMEMMAP=y
CONFIG_ARM64_AMU_EXTN=y
CONFIG_COMMON_CLK_BD718XX=y
CONFIG_REGULATOR_88PM886=y
CONFIG_LEDS_WM8350=y
CONFIG_BACKLIGHT_AS3711=y
CONFIG_ARCH_BINFMT_ELF_EXTRA_PHDRS=y
CONFIG_SENSORS_OCC_P8_I2C=y
CONFIG_ROCKCHIP_ERRATUM_3588001=y
CONFIG_INTERCONNECT_EXYNOS=y
CONFIG_PCI_DOMAINS_GENERIC=y
CONFIG_LEDS_MC13783=y
CONFIG_HNS3_PMU=y
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO=y
CONFIG_ADF4377=y
CONFIG_MFD_ROHM_BD718XX=y
CONFIG_CPU_FREQ_GOV_POWERSAVE=y
CONFIG_ZLIB_DEFLATE=y
CONFIG_COMMON_CLK_MT8186_IPESYS=y
CONFIG_REGULATOR_LP87565=y
CONFIG_SERIAL_SC16IS7XX_SPI=y
CONFIG_FW_LOADER_SYSFS=y
CONFIG_SERIAL_FSL_LPUART=y
CONFIG_EXYNOS_PMU=y
CONFIG_LTRF216A=y
CONFIG_PHY_MVEBU_A3700_UTMI=y
CONFIG_NVMEM_SYSFS=y
CONFIG_SENSORS_DS1621=y
CONFIG_PCI_ENDPOINT=y
CONFIG_CRYPTO_LIB_SHA512_ARCH=y
CONFIG_PWM_TWL=y
CONFIG_GCC_ASM_GOTO_OUTPUT_BROKEN=y
CONFIG_TRACER_SNAPSHOT=y
CONFIG_SERIAL_SC16IS7XX=y
CONFIG_PTP_1588_CLOCK_OPTIONAL=y
CONFIG_ROCKCHIP_TIMER=y
CONFIG_SENSORS_W83792D=y
CONFIG_SERIAL_DEV_CTRL_TTYPORT=y
CONFIG_SENSORS_POWR1220=y
CONFIG_COMEDI_PCMCIA_DRIVERS=y
CONFIG_SYSTEM_BLACKLIST_KEYRING=y
CONFIG_SCHED_MC=y
CONFIG_SCHED_HRTICK=y
CONFIG_PINCTRL_AMD=y
CONFIG_FUNCTION_TRACER=y
CONFIG_IRQ_MSI_IOMMU=y
CONFIG_ARMADA_THERMAL=y
CONFIG_PWM_RENESAS_RCAR=y
CONFIG_SENSORS_MAX197=y
CONFIG_DM_ZONED=y
CONFIG_LPC_SCH=y
CONFIG_SENSORS_RM3100_SPI=y
CONFIG_PINCTRL_CY8C95X0=y
CONFIG_DEBUG_RODATA_TEST=y
CONFIG_TRACE_IRQFLAGS_SUPPORT=y
CONFIG_MFD_AC100=y
CONFIG_SERIAL_CONEXANT_DIGICOLOR=y
CONFIG_BLK_INLINE_ENCRYPTION=y
CONFIG_EEPROM_93XX46=y
CONFIG_CC_HAS_INT128=y
CONFIG_TSL2772=y
CONFIG_GPIO_TPS65912=y
CONFIG_CRYPTO_842=y
CONFIG_I2C_AMD756=y
CONFIG_COMMON_CLK_MT6795_VDECSYS=y
CONFIG_ARM_GIC_ITS_PARENT=y
CONFIG_MEMORY=y
CONFIG_SCSI_SPI_ATTRS=y
CONFIG_STM=y
CONFIG_AF8133J=y
CONFIG_AD5696_I2C=y
CONFIG_ARCH_SUPPORTS_SCHED_CLUSTER=y
CONFIG_ARM_GIC=y
CONFIG_HIGH_RES_TIMERS=y
CONFIG_GPIO_PCIE_IDIO_24=y
CONFIG_BMI270_SPI=y
CONFIG_ARCH_NPCM=y
CONFIG_REGULATOR_MAX77620=y
CONFIG_TRACE_REMOTE_TEST=y
CONFIG_MFD_TPS65219=y
CONFIG_NOZOMI=y
CONFIG_ABP060MG=y
CONFIG_GPIO_PISOSR=y
CONFIG_CLK_R8A774B1=y
CONFIG_UIO_PDRV_GENIRQ=y
CONFIG_QCOM_SPMI_ADC5_GEN3=y
CONFIG_842_DECOMPRESS=y
CONFIG_DEBUG_EFI=y
CONFIG_ZONE_DMA32=y
CONFIG_MFD_INTEL_M10_BMC_CORE=y
CONFIG_DAMON_DEBUG_SANITY=y
CONFIG_SENSORS_MP2869=y
CONFIG_PINCTRL_OCELOT=y
CONFIG_SPI_GPIO=y
CONFIG_GPIO_MADERA=y
CONFIG_DECOMPRESS_LZO=y
CONFIG_JOYSTICK_A3D=y
CONFIG_I2C_MUX=y
CONFIG_TMPFS=y
CONFIG_PAHOLE_HAS_LANG_EXCLUDE=y
CONFIG_IIO_BACKEND=y
CONFIG_COMEDI_8255_SA=y
CONFIG_FSL_EDMA=y
CONFIG_SENSORS_ISL68137=y
CONFIG_STRICT_DEVMEM=y
CONFIG_CC10001_ADC=y
CONFIG_PCI_DOE=y
CONFIG_RZ_MTU3_CNT=y
CONFIG_SHRINKER_DEBUG=y
CONFIG_ARCH_SUPPORTS_MEMORY_FAILURE=y
CONFIG_AS_HAS_CFI_NEGATE_RA_STATE=y
CONFIG_HAVE_HARDLOCKUP_DETECTOR_PERF=y
CONFIG_VEML6070=y
CONFIG_ARM_CMN=y
CONFIG_W1_SLAVE_DS2408=y
CONFIG_ADIS16136=y
CONFIG_LZ4_DECOMPRESS=y
CONFIG_CRC64_ARCH=y
CONFIG_PCI=y
CONFIG_ARCH_SUPPORTS_DEBUG_PAGEALLOC=y
CONFIG_SERIAL_SCCNXP=y
CONFIG_RAID6_PQ=y
CONFIG_SHMEM=y
CONFIG_MFD_88PM800=y
CONFIG_LEDS_RT4505=y
CONFIG_ARM_SCMI_PROTOCOL=y
CONFIG_COUNTER=y
CONFIG_HAVE_CMPXCHG_LOCAL=y
CONFIG_ARCH_DEFAULT_CRASH_DUMP=y
CONFIG_SENSORS_MAX1668=y
CONFIG_SPLIT_PTE_PTLOCKS=y
CONFIG_EXTCON_LC824206XA=y
CONFIG_SCHED_MM_CID=y
CONFIG_SCHED_INFO=y
CONFIG_GPIO_PCA953X_IRQ=y
CONFIG_IIO_ST_LSM6DSX_I3C=y
CONFIG_CRC32=y
CONFIG_INFINEON_TLV493D=y
CONFIG_EXYNOS_CHIPID=y
CONFIG_GPIO_BY_PINCTRL=y
CONFIG_CRYPTO_ECRDSA=y
CONFIG_SENSORS_MAX6621=y
CONFIG_SENSORS_TDA38640_REGULATOR=y
CONFIG_TASKS_RCU=y
CONFIG_PHY_MVEBU_A38X_COMPHY=y
CONFIG_CPUFREQ_DT_PLATDEV=y
CONFIG_SENSORS_TPS25990=y
CONFIG_ARM64_ERRATUM_2067961=y
CONFIG_CEC_TEGRA=y
CONFIG_I2C_SLAVE=y
CONFIG_SERIAL_TEGRA=y
CONFIG_ARCH_USE_QUEUED_RWLOCKS=y
CONFIG_BATTERY_DA9052=y
CONFIG_ADXL313_I2C=y
CONFIG_I2C_MUX_REG=y
CONFIG_ACPI_TABLE_LIB=y
CONFIG_ARCH_USE_CMPXCHG_LOCKREF=y
CONFIG_ARCH_HAS_MEM_ENCRYPT=y
CONFIG_FPGA_MGR_ALTERA_PS_SPI=y
CONFIG_ARM_CCN=y
CONFIG_SERIAL_8250_TEGRA=y
CONFIG_MS5637=y
CONFIG_MINIX_FS=y
CONFIG_AD7405=y
CONFIG_OID_REGISTRY=y
CONFIG_ARCH_HAVE_NMI_SAFE_CMPXCHG=y
CONFIG_VFIO_DEBUGFS=y
CONFIG_I2C_ALI1535=y
CONFIG_GNSS_SIRF_SERIAL=y
CONFIG_NVME_TARGET_LOOP=y
CONFIG_I2C_ALGOPCA=y
CONFIG_STM_SOURCE_CONSOLE=y
CONFIG_PVPANIC_MMIO=y
CONFIG_ARM_GIC_V3=y
CONFIG_TOOLS_SUPPORT_RELR=y
CONFIG_DEVFREQ_EVENT_EXYNOS_PPMU=y
CONFIG_CRC8=y
CONFIG_REGULATOR_MT6331=y
CONFIG_SERIAL_SH_SCI_DMA=y
CONFIG_FIPS_SIGNATURE_SELFTEST=y
CONFIG_NLS_MAC_ROMAN=y
CONFIG_LDISC_AUTOLOAD=y
CONFIG_NLS=y
CONFIG_MFD_CS47L90=y
CONFIG_ARCH_HAS_TICK_BROADCAST=y
CONFIG_SENSORS_NCT6775_CORE=y
CONFIG_CRYPTO_PCBC=y
CONFIG_CHARGER_MAX8903=y
CONFIG_PINCTRL_SUN8I_V3S=y
CONFIG_HFS_FS=y
CONFIG_VF610_ADC=y
CONFIG_REGULATOR_FAN53555=y
CONFIG_DM_CRYPT=y
CONFIG_BRANCH_PROFILE_NONE=y
CONFIG_ARCH_SEATTLE=y
CONFIG_JFS_POSIX_ACL=y
CONFIG_LEDS_TRIGGER_PANIC=y
CONFIG_UNMAP_KERNEL_AT_EL0=y
CONFIG_DETECT_HUNG_TASK=y
CONFIG_BCMA_POSSIBLE=y
CONFIG_XILLYBUS=y
CONFIG_BATTERY_MAX1720X=y
CONFIG_AD7887=y
CONFIG_REGULATOR_ROHM=y
CONFIG_AD5761=y
CONFIG_ENCLOSURE_SERVICES=y
CONFIG_ACPI_GENERIC_GSI=y
CONFIG_NVMEM_RMEM=y
CONFIG_BITREVERSE=y
CONFIG_ARCH_KEEP_MEMBLOCK=y
CONFIG_MFD_WM8350_I2C=y
CONFIG_SMPRO_MISC=y
CONFIG_MFD_JANZ_CMODIO=y
CONFIG_SENSORS_RM3100=y
CONFIG_MS5611_I2C=y
CONFIG_COMMON_CLK_MT8183_IPU_CORE1=y
CONFIG_ADXRS290=y
CONFIG_MTK_SCPSYS_PM_DOMAINS=y
CONFIG_SPI_MXIC=y
CONFIG_SUN4I_TIMER=y
CONFIG_LEDS_LP8864=y
CONFIG_PHY_TEGRA194_P2U=y
CONFIG_MFD_MAX77686=y
CONFIG_GENERIC_IRQ_DEBUGFS=y
CONFIG_ARM_ARMADA_8K_CPUFREQ=y
CONFIG_REGULATOR_MAX20411=y
CONFIG_SUSPEND=y
CONFIG_VF610_DAC=y
CONFIG_ENS210=y
CONFIG_AL3320A=y
CONFIG_GPIO_MAX7301=y
CONFIG_CHARGER_LT3651=y
CONFIG_VCNL4000=y
CONFIG_PINCTRL_SCMI=y
CONFIG_TRUSTED_KEYS=y
