CONFIG_VLAN_8021Q=y
CONFIG_MULTIPLEXER=y
CONFIG_MTD_RAM=y
CONFIG_HAVE_MOD_ARCH_SPECIFIC=y
CONFIG_PID_NS=y
CONFIG_ARCH_SUPPORTS_KEXEC=y
CONFIG_GENERIC_IRQ_STAT_SNAPSHOT=y
CONFIG_XZ_DEC_BCJ=y
CONFIG_PINCTRL_MT6795=y
CONFIG_ARCH_TEGRA_210_SOC=y
CONFIG_SYSCTL_EXCEPTION_TRACE=y
CONFIG_FSI_MASTER_ASPEED=y
CONFIG_SENSORS_W83793=y
CONFIG_CHARLCD_BL_ON=y
CONFIG_MFD_88PM886_PMIC=y
CONFIG_VIRTUALIZATION=y
CONFIG_ARCH_WANT_DEFAULT_TOPDOWN_MMAP_LAYOUT=y
CONFIG_ARCH_R8A77960=y
CONFIG_IPMI_POWEROFF=y
CONFIG_COMMON_CLK_MT8192=y
CONFIG_ARCH_RCAR_GEN4=y
CONFIG_HAVE_ARCH_KGDB=y
CONFIG_PARAVIRT=y
CONFIG_IOMMU_DEFAULT_PASSTHROUGH=y
CONFIG_SENSORS_MP2891=y
CONFIG_ARM_CCA_GUEST=y
CONFIG_CRYPTO_CCM=y
CONFIG_RFD77402=y
CONFIG_SYS_R9A09G056=y
CONFIG_CRYPTO_CHACHA20POLY1305=y
CONFIG_NLS_MAC_CYRILLIC=y
CONFIG_SENSORS_D1U74T=y
CONFIG_GPIO_NPCM_SGPIO=y
CONFIG_THERMAL_DEFAULT_GOV_BANG_BANG=y
CONFIG_I2C_XILINX=y
CONFIG_ARCH_TEGRA=y
CONFIG_CRAMFS_MTD=y
CONFIG_CRYPTO_DEV_AMLOGIC_GXL=y
CONFIG_COMMON_CLK_MT6735=y
CONFIG_DMA_DECLARE_COHERENT=y
CONFIG_HSR=y
CONFIG_REGULATOR_SLG51000=y
CONFIG_SENSORS_TPS53679=y
CONFIG_MAG3110=y
CONFIG_DCACHE_WORD_ACCESS=y
CONFIG_SENSORS_MCP9982=y
CONFIG_INPUT_ADXL34X=y
CONFIG_ARCH_USE_GNU_PROPERTY=y
CONFIG_PHY_NXP_PTN3222=y
CONFIG_RUSTC_HAS_SPAN_FILE=y
CONFIG_IO_URING=y
CONFIG_OF_RESOLVE=y
CONFIG_SIGNALFD=y
CONFIG_GAMEPORT=y
CONFIG_ADFS_FS_RW=y
CONFIG_COMMON_CLK_MT8196_MCUSYS=y
CONFIG_TOUCHSCREEN_USB_EASYTOUCH=y
CONFIG_SENSORS_NCT7802=y
CONFIG_EXTCON=y
CONFIG_SENSORS_LIS3_I2C=y
CONFIG_MFD_SEC_I2C=y
CONFIG_GPIO_ADNP=y
CONFIG_CRYPTO_DEV_KEEMBAY_OCS_AES_SM4=y
CONFIG_CRYPTO_AKCIPHER=y
CONFIG_COMMON_CLK_VC7=y
CONFIG_VDPA=y
CONFIG_MFD_CS40L50_I2C=y
CONFIG_ROCKCHIP_ERRATUM_3588001=y
CONFIG_TASKS_TRACE_RCU=y
CONFIG_CORDIC=y
CONFIG_SQUASHFS_LZ4=y
CONFIG_JBD2_DEBUG=y
CONFIG_PROVE_LOCKING=y
CONFIG_BACKLIGHT_LED=y
CONFIG_ARCH_SUPPORTS_KEXEC_SIG=y
CONFIG_UACCE=y
CONFIG_PHY_EXYNOS_PCIE=y
CONFIG_FB_DEVICE=y
CONFIG_OF_EARLY_FLATTREE=y
CONFIG_MEMTEST=y
CONFIG_CRYPTO_NULL=y
CONFIG_TEGRA210_EMC=y
CONFIG_TI_K3_SOCINFO=y
CONFIG_RWSEM_SPIN_ON_OWNER=y
CONFIG_TOUCHSCREEN_CY8CTMG110=y
CONFIG_842_DECOMPRESS=y
CONFIG_JFS_SECURITY=y
CONFIG_TCG_TIS_CORE=y
CONFIG_TRACING=y
CONFIG_SM_FTL=y
CONFIG_CPU_HOTPLUG_STATE_CONTROL=y
CONFIG_CACHEMAINT_FOR_HOTPLUG=y
CONFIG_FILE_LOCKING=y
CONFIG_CRYPTO_SM4_GENERIC=y
CONFIG_REGULATOR_MAX20086=y
CONFIG_SENSORS_POWR1220=y
CONFIG_XXHASH=y
CONFIG_QRTR_SMD=y
CONFIG_INIT_STACK_ALL_ZERO=y
CONFIG_ZL3073X=y
CONFIG_REGULATOR_RK808=y
CONFIG_BACKLIGHT_APPLE_DWI=y
CONFIG_FXOS8700=y
CONFIG_IQS620AT_TEMP=y
CONFIG_ATM=y
CONFIG_EDAC_SUPPORT=y
CONFIG_CC_HAS_COUNTED_BY=y
CONFIG_USB_ARCH_HAS_HCD=y
CONFIG_FIND_BIT_BENCHMARK=y
CONFIG_LAPB=y
CONFIG_PMBUS=y
CONFIG_GPIO_CADENCE=y
CONFIG_OPENSSL_SUPPORTS_ML_DSA=y
CONFIG_HAVE_FUNCTION_GRAPH_TRACER=y
CONFIG_COMMON_CLK_CDCE706=y
CONFIG_GENERIC_IDLE_POLL_SETUP=y
CONFIG_REGULATOR_AS3722=y
CONFIG_DEBUG_MISC=y
CONFIG_PINCTRL_SH_PFC=y
CONFIG_SENSORS_ADM1025=y
CONFIG_MFD_TPS65912=y
CONFIG_CRYPTO_DES=y
CONFIG_ADVISE_SYSCALLS=y
CONFIG_IRQ_BYPASS_MANAGER=y
CONFIG_SAMPLE_KOBJECT=y
CONFIG_HAVE_ARCH_COMPILER_H=y
CONFIG_SX9324=y
CONFIG_LOCK_STAT=y
CONFIG_GENERIC_ADC_THERMAL=y
CONFIG_SCSI_PROC_FS=y
CONFIG_THERMAL_EMULATION=y
CONFIG_JOYSTICK_FSIA6B=y
CONFIG_GPIO_CDEV=y
CONFIG_RCAR_REMOTEPROC=y
CONFIG_PINCTRL_UNIPHIER_LD6B=y
CONFIG_DEBUG_DEVRES=y
CONFIG_COMMON_CLK_MT6765_GCESYS=y
CONFIG_SENSORS_TMP103=y
CONFIG_FSL_QDMA=y
CONFIG_SOC_TEGRA_FUSE=y
CONFIG_JOYSTICK_PXRC=y
CONFIG_NVMEM_MAX77759=y
CONFIG_STM_PROTO_BASIC=y
CONFIG_STM=y
CONFIG_SWAP=y
CONFIG_FUJITSU_ERRATUM_010001=y
CONFIG_ARCH_HAS_LAZY_MMU_MODE=y
CONFIG_JFS_FS=y
CONFIG_CRYPTO_CRYPTD=y
CONFIG_IR_STREAMZAP=y
CONFIG_CORESIGHT_LINKS_AND_SINKS=y
CONFIG_LEDS_TRIGGER_HEARTBEAT=y
CONFIG_HDC100X=y
CONFIG_C2PORT=y
CONFIG_TMP007=y
CONFIG_TOUCHSCREEN_BU21029=y
CONFIG_HAVE_KVM_MSI=y
CONFIG_ARCH_SUPPORTS_LTO_CLANG=y
CONFIG_NVHE_EL2_DEBUG=y
CONFIG_COMMON_CLK_MT8167_AUDSYS=y
CONFIG_JOYSTICK_DB9=y
CONFIG_USB_SERIAL_VISOR=y
CONFIG_CRYPTO_LIB_AES_ARCH=y
CONFIG_PCCARD=y
CONFIG_DMA_OPS_HELPERS=y
CONFIG_TOUCHSCREEN_EDT_FT5X06=y
CONFIG_MTD_CFI_I2=y
CONFIG_ARCH_HAS_KEEPINITRD=y
CONFIG_TMPFS_INODE64=y
CONFIG_CRYPTO_DEV_SA2UL=y
CONFIG_BACKLIGHT_LM3639=y
CONFIG_SENSORS_APS_379=y
CONFIG_COMMON_CLK_MT8192_MSDC=y
CONFIG_TIMERFD=y
CONFIG_USB_SERIAL_GARMIN=y
CONFIG_SENSORS_ADC128D818=y
CONFIG_SAMPLE_VFIO_MDEV_MDPY_FB=y
CONFIG_ARCH_PROC_KCORE_TEXT=y
CONFIG_IIO_SW_DEVICE=y
CONFIG_CGROUP_NET_PRIO=y
CONFIG_ROHM_BM1390=y
CONFIG_SENSORS_XDPE122=y
CONFIG_BATTERY_DS2760=y
CONFIG_INOTIFY_USER=y
CONFIG_USB_ISP1760_HCD=y
CONFIG_GPIO_GENERIC=y
CONFIG_APDS9300=y
CONFIG_GPIO_XGENE=y
CONFIG_ARCH_DEFAULT_KEXEC_IMAGE_VERIFY_SIG=y
CONFIG_TI_ADS1100=y
CONFIG_TYPEC_ANX7411=y
CONFIG_CRYPTO_SM4_ARM64_CE_BLK=y
CONFIG_USB_ROLE_SWITCH=y
CONFIG_POSIX_MQUEUE_SYSCTL=y
CONFIG_GNSS_MTK_SERIAL=y
CONFIG_LEDS_MLXREG=y
CONFIG_LP_CONSOLE=y
CONFIG_CRYPTO_AEAD2=y
CONFIG_AXP20X_POWER=y
CONFIG_TOUCHSCREEN_USB_IRTOUCH=y
CONFIG_ZLIB_DEFLATE=y
CONFIG_CC_HAS_COUNTED_BY_PTR=y
CONFIG_ARCH_HAS_SYNC_DMA_FOR_CPU=y
CONFIG_SENSORS_MAX34440=y
CONFIG_SENSORS_AD7414=y
CONFIG_ASYNC_TX_ENABLE_CHANNEL_SWITCH=y
CONFIG_DNOTIFY=y
CONFIG_RPMSG_QCOM_GLINK_RPM=y
CONFIG_NLS_ISO8859_13=y
CONFIG_CRYPTO_LIB_GF128MUL=y
CONFIG_ARCH_SUPPORTS_LTO_CLANG_THIN=y
CONFIG_USB_HSIC_USB3503=y
CONFIG_THERMAL_DEBUGFS=y
CONFIG_USB_SERIAL_GENERIC=y
CONFIG_AXI_DMAC=y
CONFIG_GENERIC_ADC_BATTERY=y
CONFIG_GUP_TEST=y
CONFIG_INPUT_IMS_PCU=y
CONFIG_RICHTEK_RTQ6056=y
CONFIG_PADATA=y
CONFIG_COMMON_CLK_MT8196_MDPSYS=y
CONFIG_MAILBOX=y
CONFIG_ARM_SMMU_V3_PMU=y
CONFIG_PPS_CLIENT_LDISC=y
CONFIG_REGULATOR_MAX77620=y
CONFIG_USB_SPEEDTOUCH=y
CONFIG_DEBUG_PLIST=y
CONFIG_CHARGER_MAX77705=y
CONFIG_BMA400=y
CONFIG_UTS_NS=y
CONFIG_MFD_STMPE=y
CONFIG_USB_CXACRU=y
CONFIG_CRYPTO_LIB_SHA256_ARCH=y
CONFIG_VIPERBOARD_ADC=y
CONFIG_SERIAL_SH_SCI_DMA=y
CONFIG_SERIAL_SIFIVE_CONSOLE=y
CONFIG_OPT3001=y
CONFIG_QUOTA_NETLINK_INTERFACE=y
CONFIG_MMA9551=y
CONFIG_PRINTK=y
CONFIG_MTD_UBI=y
CONFIG_EXYNOS_ARM64_COMMON_CLK=y
CONFIG_MMA9553=y
CONFIG_WANT_DEV_COREDUMP=y
CONFIG_REGULATOR_MAX1586=y
CONFIG_TOUCHSCREEN_GOODIX_BERLIN_CORE=y
CONFIG_PARPORT_PANEL=y
CONFIG_SENSORS_MAX8688=y
CONFIG_USB_SERIAL_CH341=y
CONFIG_VZ89X=y
CONFIG_HAVE_SCHED_AVG_IRQ=y
CONFIG_MSDOS_FS=y
CONFIG_PERF_EVENTS=y
CONFIG_USB_ISP1760=y
CONFIG_COMMON_CLK_MT8167_VDECSYS=y
CONFIG_ARM64_ERRATUM_1530923=y
CONFIG_REGULATOR_SGM3804=y
CONFIG_SENSORS_ATXP1=y
CONFIG_VSOCKETS=y
CONFIG_CAN_ISOTP=y
CONFIG_HYPERV=y
CONFIG_BT_BNEP=y
CONFIG_INPUT_AXP20X_PEK=y
CONFIG_ARCH_ENABLE_MEMORY_HOTPLUG=y
CONFIG_TEGRA_GMI=y
CONFIG_SCSI_ENCLOSURE=y
CONFIG_DEBUG_SECTION_MISMATCH=y
CONFIG_PHY_MAPPHONE_MDM6600=y
CONFIG_INPUT_KEYSPAN_REMOTE=y
CONFIG_USB_ONBOARD_DEV_USB5744=y
CONFIG_ARM_SPE_PMU=y
CONFIG_MFD_RK8XX=y
CONFIG_HAVE_KVM_DIRTY_RING_ACQ_REL=y
CONFIG_TRACEPOINTS=y
CONFIG_HW_RANDOM_XILINX=y
CONFIG_BRIDGE=y
CONFIG_NEED_TASKS_RCU=y
CONFIG_CRYPTO_LIB_GF128HASH_ARCH=y
CONFIG_NETFILTER_ADVANCED=y
CONFIG_IPMI_DEVICE_INTERFACE=y
CONFIG_UCSI_CCG=y
CONFIG_ARCH_WANT_DEFAULT_BPF_JIT=y
CONFIG_DEVPORT=y
CONFIG_SENSORS_W83795=y
CONFIG_MTK_MMSYS=y
CONFIG_FW_CS_DSP=y
CONFIG_CRYPTO_HASH2=y
CONFIG_PPS_CLIENT_GPIO=y
CONFIG_TEST_SYSCTL=y
CONFIG_TOUCHSCREEN_ATMEL_MXT=y
CONFIG_OMAP_GPMC=y
CONFIG_ASSOCIATIVE_ARRAY=y
CONFIG_GPIO_EN7523=y
CONFIG_HW_RANDOM_XIPHERA=y
CONFIG_COMMON_CLK_MT8192_IMP_IIC_WRAP=y
CONFIG_MOUSE_PS2_ALPS=y
CONFIG_ARM_PSCI_FW=y
CONFIG_CRYPTO_AKCIPHER2=y
CONFIG_REGULATOR_LOCHNAGAR=y
CONFIG_IKCONFIG=y
CONFIG_USB_DWC2_TRACK_MISSED_SOFS=y
CONFIG_FB_BOTH_ENDIAN=y
CONFIG_CONTEXT_TRACKING=y
CONFIG_SERIO_APBPS2=y
CONFIG_SERIAL_8250_TEGRA=y
CONFIG_HP206C=y
CONFIG_RPMSG=y
CONFIG_SENSORS_ADM1029=y
CONFIG_MOUSE_PS2_ELANTECH=y
CONFIG_PHY_OCELOT_SERDES=y
CONFIG_FUTEX=y
CONFIG_TOUCHSCREEN_TSC2007_IIO=y
CONFIG_QUOTACTL=y
CONFIG_TOUCHSCREEN_ILI210X=y
CONFIG_HAVE_MOVE_PUD=y
CONFIG_GENERIC_PINCTRL_GROUPS=y
CONFIG_FB_VIRTUAL=y
CONFIG_TOUCHSCREEN_STMPE=y
CONFIG_PREEMPT_NOTIFIERS=y
CONFIG_RCU_NEED_SEGCBLIST=y
CONFIG_PINCTRL_PFC_R8A774A1=y
CONFIG_GPIO_WM8994=y
CONFIG_POSIX_MQUEUE=y
CONFIG_SENSORS_BH1770=y
CONFIG_SENSORS_MAX6639=y
CONFIG_CRC4=y
CONFIG_TRACE_IRQFLAGS=y
CONFIG_TOUCHSCREEN_IMX6UL_TSC=y
CONFIG_PHY_INTEL_KEEMBAY_EMMC=y
CONFIG_AD7606_IFACE_PARALLEL=y
CONFIG_INTERCONNECT=y
CONFIG_USB_DWC3_KEYSTONE=y
CONFIG_GPIO_DWAPB=y
CONFIG_GENERIC_PHY=y
CONFIG_NVMEM_LAYOUTS=y
CONFIG_REGULATOR_TPS65023=y
CONFIG_MTK_HSDMA=y
CONFIG_RESET_RZG2L_USBPHY_CTRL=y
CONFIG_FB=y
CONFIG_DTPM_DEVFREQ=y
CONFIG_RESET_SIMPLE=y
CONFIG_CM32181=y
CONFIG_IIO=y
CONFIG_COMMON_CLK_MT8365_MFG=y
CONFIG_LEDS_TRIGGER_TRANSIENT=y
CONFIG_PINCTRL=y
CONFIG_I2C_MUX=y
CONFIG_NEED_DMA_MAP_STATE=y
CONFIG_HD44780_COMMON=y
CONFIG_INTERCONNECT_MTK=y
CONFIG_FB_SMSCUFX=y
CONFIG_GPIO_SIFIVE=y
CONFIG_XLNX_R5_REMOTEPROC=y
CONFIG_ZONE_DMA=y
CONFIG_REGULATOR_ADP5055=y
CONFIG_IIO_BUFFER_CB=y
CONFIG_AUXILIARY_BUS=y
CONFIG_GPIO_PL061=y
CONFIG_COMMON_CLK_MT6795_VENCSYS=y
CONFIG_ARCH_USE_SYM_ANNOTATIONS=y
CONFIG_TOUCHSCREEN_COLIBRI_VF50=y
CONFIG_REGULATOR_RN5T618=y
CONFIG_MFD_MC13XXX=y
CONFIG_CLK_R9A07G044=y
CONFIG_TWL4030_CORE=y
CONFIG_GPIO_ALTERA=y
CONFIG_CRYPTO_DEV_VIRTIO=y
CONFIG_INPUT_REGULATOR_HAPTIC=y
CONFIG_RANDSTRUCT_NONE=y
CONFIG_XZ_DEC_ARMTHUMB=y
CONFIG_NETLINK_DIAG=y
CONFIG_TEGRA186_GPC_DMA=y
CONFIG_I2C_HISI=y
CONFIG_PARPORT=y
CONFIG_SLAB_OBJ_EXT=y
CONFIG_HAVE_KVM_IRQCHIP=y
CONFIG_LEDS_TRIGGER_TTY=y
CONFIG_CRYPTO_DEV_KEEMBAY_OCS_HCU_HMAC_SHA224=y
CONFIG_XEN_VIRTIO=y
CONFIG_DLN2_ADC=y
CONFIG_CRYPTO_CAST_COMMON=y
CONFIG_INV_ICM42600_I2C=y
CONFIG_GPIO_TEGRA186=y
CONFIG_TI_ADS1119=y
CONFIG_ARCH_SUPPORTS_SCHED_MC=y
CONFIG_RC_MAP=y
CONFIG_PSTORE_ZONE=y
CONFIG_LEDS_LM3692X=y
CONFIG_SPLIT_PMD_PTLOCKS=y
CONFIG_CRYPTO_HMAC=y
CONFIG_DEBUG_SPINLOCK=y
CONFIG_IKHEADERS=y
CONFIG_CRYPTO_DEV_SAFEXCEL=y
CONFIG_CRYPTO_DH=y
CONFIG_USB_DEFAULT_PERSIST=y
CONFIG_XEN=y
CONFIG_MFD_MAX8907=y
CONFIG_INPUT_ATI_REMOTE2=y
CONFIG_PINCTRL_PFC_R8A779F0=y
CONFIG_QCOM_QDF2400_ERRATUM_0065=y
CONFIG_COMMON_CLK_MT7622=y
CONFIG_LOCALVERSION_AUTO=y
CONFIG_RUSTC_SUPPORTS_ARM64=y
CONFIG_KVM_MMIO=y
CONFIG_LOGO=y
CONFIG_REGULATOR_DA9055=y
CONFIG_STACKTRACE_SUPPORT=y
CONFIG_EDAC_NPCM=y
CONFIG_MMU_LAZY_TLB_REFCOUNT=y
CONFIG_MTK_UART_APDMA=y
CONFIG_PAGE_IDLE_FLAG=y
CONFIG_CRYPTO_LIB_AES_CBC_MACS=y
CONFIG_SYSFS_SYSCALL=y
CONFIG_ZYNQMP_FIRMWARE_DEBUG=y
CONFIG_ST_UVIS25=y
CONFIG_UNIPHIER_XDMAC=y
CONFIG_PHY_MTK_MIPI_DSI=y
CONFIG_COMMON_CLK_MT6735_MFGCFG=y
CONFIG_SENSORS_RM3100=y
CONFIG_CC_HAS_KASAN_SW_TAGS=y
CONFIG_REED_SOLOMON_TEST=y
CONFIG_TOUCHSCREEN_USB_NEXIO=y
CONFIG_CONTEXT_SWITCH_TRACER=y
CONFIG_PINCTRL_MT7988=y
CONFIG_INPUT_IQS269A=y
CONFIG_TOUCHSCREEN_TPS6507X=y
CONFIG_SENSORS_MAX127=y
CONFIG_GENERIC_HWEIGHT=y
CONFIG_EXTCON_MAX8997=y
CONFIG_REGULATOR_SY8827N=y
CONFIG_SERIAL_8250_MT6577=y
CONFIG_DEBUG_ATOMIC=y
CONFIG_ROHM_BD79124=y
CONFIG_COMMON_CLK_MT8192_IPESYS=y
CONFIG_TEGRA_BPMP=y
CONFIG_CC_HAS_ASM_GOTO_TIED_OUTPUT=y
CONFIG_ARM64_MPAM_DRIVER_DEBUG=y
CONFIG_BPF_JIT_DEFAULT_ON=y
CONFIG_NLS_UTF8=y
CONFIG_CAN=y
CONFIG_RD_LZMA=y
CONFIG_TOUCHSCREEN_ZINITIX=y
CONFIG_USERFAULTFD=y
CONFIG_SERIO_AMBAKMI=y
CONFIG_GENERIC_IOREMAP=y
CONFIG_MTK_SCPSYS_PM_DOMAINS=y
CONFIG_ARM_DSU_PMU=y
CONFIG_IIO_KX022A_I2C=y
CONFIG_ARM_GIC_V3_ITS=y
CONFIG_TABLET_USB_KBTAB=y
CONFIG_BMC150_ACCEL=y
CONFIG_CRC32_ARCH=y
CONFIG_IRQ_POLL=y
CONFIG_COMMON_CLK_MT8196_MFGCFG=y
CONFIG_CHARGER_MAX8903=y
CONFIG_PINCTRL_RK805=y
CONFIG_NLS_CODEPAGE_775=y
CONFIG_IIO_KX022A=y
CONFIG_CRYPTO_842=y
CONFIG_CRYPTO_LIB_AES=y
CONFIG_EXTCON_PTN5150=y
CONFIG_TICK_ONESHOT=y
CONFIG_NAMESPACES=y
CONFIG_MHI_BUS_EP=y
CONFIG_842_COMPRESS=y
CONFIG_VT_HW_CONSOLE_BINDING=y
CONFIG_REGULATOR_S5M8767=y
CONFIG_DPLL_REFCNT_TRACKER=y
CONFIG_BT_VIRTIO=y
CONFIG_INPUT_RT5120_PWRKEY=y
CONFIG_COMMON_CLK_MT6735_IMGSYS=y
CONFIG_INTEL_TH_DEBUG=y
CONFIG_EXT4_FS=y
CONFIG_ARM64_ERRATUM_2054223=y
CONFIG_FB_SYSMEM_FOPS=y
CONFIG_MFD_TPS6594=y
CONFIG_CRYPTO_ECB=y
CONFIG_POWER_RESET_SYSCON=y
CONFIG_HYPERV_VTL_MODE=y
CONFIG_SENSORS_SMSC47M1=y
CONFIG_IIO_ST_PRESS=y
CONFIG_ARCH_HAVE_NMI_SAFE_CMPXCHG=y
CONFIG_ARCH_SUPPORTS_HUGETLBFS=y
CONFIG_DEVFREQ_EVENT_EXYNOS_PPMU=y
CONFIG_GPIO_DA9055=y
CONFIG_MOUSE_PS2_SMBUS=y
CONFIG_BH1745=y
CONFIG_COMMON_CLK_ZYNQMP=y
CONFIG_USB_SISUSBVGA=y
CONFIG_HWMON_DEBUG_CHIP=y
CONFIG_TOUCHSCREEN_WACOM_W9000=y
CONFIG_FB_DEFERRED_IO=y
CONFIG_TASKSTATS=y
CONFIG_EXYNOS_ACPM_CLK=y
CONFIG_SPARSEMEM_VMEMMAP=y
CONFIG_USB_DWC3_XILINX=y
CONFIG_XZ_DEC_X86=y
CONFIG_INPUT_BMA150=y
CONFIG_SCSI_SAS_ATTRS=y
CONFIG_LEDS_GROUP_MULTICOLOR=y
