CONFIG_GPIOLIB=n
CONFIG_NET_VENDOR_BROCADE=n
CONFIG_DECOMPRESS_LZMA=n
CONFIG_NET_VENDOR_CADENCE=n
CONFIG_IO_URING_BPF=n
CONFIG_IP6_NF_IPTABLES=n
CONFIG_COMPAT_BRK=n
CONFIG_AF_UNIX_OOB=n
CONFIG_GENERIC_IRQ_SHOW_LEVEL=n
CONFIG_NET_NS=n
CONFIG_RTC_DRV_GOLDFISH=n
CONFIG_RISCV_PMU_SBI=n
CONFIG_CRYPTO_LIB_AES=n
CONFIG_USB_EHCI_HCD=n
CONFIG_REALTEK_PHY=n
CONFIG_TOOLCHAIN_HAS_ZBA=n
CONFIG_ARCH_OPTIONAL_KERNEL_RWX_DEFAULT=n
CONFIG_NET_INGRESS=n
CONFIG_CLK_STARFIVE_JH7110_PLL=n
CONFIG_NET_CLS=n
CONFIG_TIMERFD=n
CONFIG_HAVE_EBPF_JIT=n
CONFIG_SERIAL_8250_EXAR=n
CONFIG_I2C_MUX=n
CONFIG_PM_CLK=n
CONFIG_VIDEO_V4L2_I2C=n
CONFIG_RTC_INTF_SYSFS=n
CONFIG_PAGE_MAPCOUNT=n
CONFIG_HAVE_ARCH_JUMP_LABEL_RELATIVE=n
CONFIG_OVERLAY_FS=n
CONFIG_DRM_DISPLAY_HELPER=n
CONFIG_TRACING=n
CONFIG_POSIX_CPU_TIMERS_TASK_WORK=n
CONFIG_NET_SCHED=n
CONFIG_NF_LOG_SYSLOG=n
CONFIG_RISCV_ISA_V_PREEMPTIVE=n
CONFIG_LOCK_DEBUGGING_SUPPORT=n
CONFIG_CC_CAN_LINK=n
CONFIG_DEBUG_INFO_NONE=n
CONFIG_CC_HAS_KASAN_GENERIC=n
CONFIG_SUSPEND=n
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST=n
CONFIG_FHANDLE=n
CONFIG_NET_SCH_FIFO=n
CONFIG_ARCH_SOPHGO=n
CONFIG_DRM_NOUVEAU_CH7006=n
CONFIG_GCC_SUPPORTS_DYNAMIC_FTRACE=n
CONFIG_HAVE_KVM_IRQCHIP=n
CONFIG_DRM_CLIENT_SELECTION=n
CONFIG_PHY_STARFIVE_JH7110_PCIE=n
CONFIG_MODULES=n
CONFIG_GCC_PLUGINS=n
CONFIG_MOUSE_PS2=n
CONFIG_PROC_SYSCTL=n
CONFIG_RISCV_ISA_ZACAS=n
CONFIG_PINCTRL_SOPHGO_CV1800B=n
CONFIG_USB_U_ETHER=n
CONFIG_SWAP=n
CONFIG_NFS_V3=n
CONFIG_VIRT_XFER_TO_GUEST_WORK=n
CONFIG_AUDITSYSCALL=n
CONFIG_DWMAC_SOPHGO=n
CONFIG_ARCH_HAS_TICK_BROADCAST=n
CONFIG_CRYPTO_CAMELLIA=n
CONFIG_COMMON_CLK_RPMI=n
CONFIG_PINCTRL_STARFIVE_JH7110=n
CONFIG_HUGETLB_PAGE_OPTIMIZE_VMEMMAP=n
CONFIG_PCIE_PME=n
CONFIG_LD_ORPHAN_WARN=n
CONFIG_HAVE_SOFTIRQ_ON_OWN_STACK=n
CONFIG_UPROBE_EVENTS=n
CONFIG_RD_LZMA=n
CONFIG_POWER_RESET_SPACEMIT_P1=n
CONFIG_XZ_DEC_SPARC=n
CONFIG_HAVE_PREEMPT_DYNAMIC=n
CONFIG_POSIX_MQUEUE_SYSCTL=n
CONFIG_KVM_MMIO=n
CONFIG_CMODEL_MEDANY=n
CONFIG_TOOLCHAIN_HAS_ZBKB=n
CONFIG_USB_ROLE_SWITCH=n
CONFIG_BTT=n
CONFIG_SPARSEMEM_EXTREME=n
CONFIG_CLKSRC_MMIO=n
CONFIG_SG_POOL=n
CONFIG_CGROUP_WRITEBACK=n
CONFIG_MTD_CFI_ADV_OPTIONS=n
CONFIG_MQ_IOSCHED_KYBER=n
CONFIG_ARCH_HAS_USER_SHADOW_STACK=n
CONFIG_ZONE_DMA32=n
CONFIG_LOCALVERSION_AUTO=n
CONFIG_BUFFER_HEAD=n
CONFIG_HAVE_ARCH_MMAP_RND_BITS=n
CONFIG_FB_CORE=n
CONFIG_NETFS_SUPPORT=n
CONFIG_LTO_NONE=n
CONFIG_HAVE_KERNEL_BZIP2=n
CONFIG_ARCH_HAS_DEBUG_VIRTUAL=n
CONFIG_SECURITY_APPARMOR_PARANOID_LOAD=n
CONFIG_NETFILTER_INGRESS=n
CONFIG_CLK_STARFIVE_JH7110_AON=n
CONFIG_MTD_CFI_UTIL=n
CONFIG_NVMEM_LAYOUTS=n
CONFIG_DRM_GPUVM=n
CONFIG_CRC_OPTIMIZATIONS=n
CONFIG_NLS=n
CONFIG_EDAC_SUPPORT=n
CONFIG_TMPFS_POSIX_ACL=n
CONFIG_AUDIT_GENERIC=n
CONFIG_ARCH_HAS_GIGANTIC_PAGE=n
CONFIG_USB_CDNS3_GADGET=n
CONFIG_HAVE_IRQ_EXIT_ON_IRQ_STACK=n
CONFIG_OF_IRQ=n
CONFIG_PT_RECLAIM=n
CONFIG_CRYPTO_SKCIPHER=n
CONFIG_INET=n
CONFIG_NETWORK_FILESYSTEMS=n
CONFIG_ATA_ACPI=n
CONFIG_DRM_SUN6I_DSI=n
CONFIG_SATA_AHCI_PLATFORM=n
CONFIG_SOUND=n
CONFIG_NET_VENDOR_CORTINA=n
CONFIG_USB_STORAGE=n
CONFIG_SELECT_MEMORY_MODEL=n
CONFIG_DRM_NOUVEAU_BACKLIGHT=n
CONFIG_SUN6I_MSGBOX=n
CONFIG_MTD_SPI_NOR=n
CONFIG_NET_VENDOR_QLOGIC=n
CONFIG_CC_HAS_MIN_FUNCTION_ALIGNMENT=n
CONFIG_NET_VENDOR_ENGLEDER=n
CONFIG_ARCH_MICROCHIP=n
CONFIG_MOUSE_PS2_SYNAPTICS=n
CONFIG_ARCH_HAS_CURRENT_STACK_POINTER=n
CONFIG_CONTEXT_TRACKING_IDLE=n
CONFIG_CLK_THEAD_TH1520_AP=n
CONFIG_NETFILTER=n
CONFIG_MOUSE_PS2_LOGIPS2PP=n
CONFIG_ARCH_USE_CMPXCHG_LOCKREF=n
CONFIG_RAID6_PQ_BENCHMARK=n
CONFIG_USB_CONFIGFS_EEM=n
CONFIG_9P_FS=n
CONFIG_SND_TIMER=n
CONFIG_HAVE_KERNEL_UNCOMPRESSED=n
CONFIG_ZISOFS=n
CONFIG_DRM_RADEON=n
CONFIG_DRM_NOUVEAU=n
CONFIG_IPC_NS=n
CONFIG_NET_VENDOR_CHELSIO=n
CONFIG_NET_VENDOR_SAMSUNG=n
CONFIG_ARCH_USE_QUEUED_RWLOCKS=n
CONFIG_IP_VS_PROTO_TCP=n
CONFIG_RT_MUTEXES=n
CONFIG_SND_USB=n
CONFIG_HAVE_CLK_PREPARE=n
CONFIG_FILE_LOCKING=n
CONFIG_HAVE_SYSCALL_TRACEPOINTS=n
CONFIG_OF=n
CONFIG_IOMMU_PT=n
CONFIG_NFS_USE_KERNEL_DNS=n
CONFIG_HOTPLUG_CORE_SYNC_FULL=n
CONFIG_IOMMU_PT_RISCV64=n
CONFIG_USB_F_EEM=n
CONFIG_RFS_ACCEL=n
CONFIG_DRM_MIPI_DSI=n
CONFIG_INET_DIAG=n
CONFIG_RAID6_PQ=n
CONFIG_CC_HAS_WORKING_NOSANITIZE_ADDRESS=n
CONFIG_SIFIVE_PLIC=n
CONFIG_CPU_FREQ_GOV_USERSPACE=n
CONFIG_ARCH_STARFIVE=n
CONFIG_HAS_IOPORT=n
CONFIG_LOCKD_V4=n
CONFIG_FONT_SUPPORT=n
CONFIG_FIX_EARLYCON_MEM=n
CONFIG_STACKDEPOT=n
CONFIG_ISO9660_FS=n
CONFIG_ARCH_HAS_SYSCALL_WRAPPER=n
CONFIG_CFS_BANDWIDTH=n
CONFIG_SENSORS_SFCTEMP=n
CONFIG_IO_WQ=n
CONFIG_GENERIC_HWEIGHT=n
CONFIG_ARCH_SUPPORTS_CFI=n
CONFIG_RTC_I2C_AND_SPI=n
CONFIG_XZ_DEC_POWERPC=n
CONFIG_ARCH_USES_HIGH_VMA_FLAGS=n
CONFIG_PACKET=n
CONFIG_DECOMPRESS_LZ4=n
CONFIG_EXT4_USE_FOR_EXT2=n
CONFIG_XARRAY_MULTI=n
CONFIG_HAVE_RSEQ=n
CONFIG_CRYPTO_HW=n
CONFIG_PCIE_SPACEMIT_K1=n
CONFIG_DQL=n
CONFIG_MAILBOX=n
CONFIG_ARCH_SUPPORTS_ATOMIC_RMW=n
CONFIG_GENERIC_IRQ_SHOW=n
CONFIG_PCS_XPCS=n
CONFIG_LDISC_AUTOLOAD=n
CONFIG_HOTPLUG_CPU=n
CONFIG_RPMSG=n
CONFIG_KERNFS=n
CONFIG_DECOMPRESS_XZ=n
CONFIG_EFI_ESRT=n
CONFIG_SND_JACK_INPUT_DEV=n
CONFIG_IRQ_WORK=n
CONFIG_RISCV_APLIC=n
CONFIG_COMPAT_32BIT_TIME=n
CONFIG_PAGE_POOL=n
CONFIG_IP_VS_NFCT=n
CONFIG_NET_VENDOR_RENESAS=n
CONFIG_GPIO_DWAPB=n
CONFIG_CRYPTO_ECB=n
CONFIG_DECOMPRESS_ZSTD=n
CONFIG_DM_PERSISTENT_DATA=n
CONFIG_NET_VENDOR_EMULEX=n
CONFIG_CRC_ITU_T=n
CONFIG_BPF_UNPRIV_DEFAULT_OFF=n
CONFIG_ARCH_HAS_STRICT_MODULE_RWX=n
CONFIG_REGMAP_MMIO=n
CONFIG_SECURITY_APPARMOR_HASH_DEFAULT=n
CONFIG_HAVE_FUNCTION_ARG_ACCESS_API=n
CONFIG_VIDEO_V4L2_SUBDEV_API=n
CONFIG_WATCHDOG=n
CONFIG_RTC_SYSTOHC=n
CONFIG_CRYPTO_LIB_UTILS=n
CONFIG_USB_F_SERIAL=n
CONFIG_SCHED_MM_CID=n
CONFIG_RISCV_USER_CFI=n
CONFIG_SCSI=n
CONFIG_SKB_EXTENSIONS=n
CONFIG_RISCV_ISA_VENDOR_EXT_SIFIVE=n
CONFIG_CHECKPOINT_RESTORE=n
CONFIG_EVENTFD=n
CONFIG_RISCV_TIMER=n
CONFIG_DRM=n
CONFIG_MOUSE_PS2_BYD=n
CONFIG_GENERIC_SCHED_CLOCK=n
CONFIG_VT_HW_CONSOLE_BINDING=n
CONFIG_IP_PNP_DHCP=n
CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE=n
CONFIG_BFQ_GROUP_IOSCHED=n
CONFIG_MUTEX_SPIN_ON_OWNER=n
CONFIG_HVC_DRIVER=n
CONFIG_RESET_POLARFIRE_SOC=n
CONFIG_REGMAP_I2C=n
CONFIG_PNFS_FLEXFILE_LAYOUT=n
CONFIG_MDIO_BUS_MUX=n
CONFIG_SERIAL_8250_CONSOLE=n
CONFIG_SND_PCM_TIMER=n
CONFIG_NET_VENDOR_INTEL=n
CONFIG_ARCH_WANT_FRAME_POINTERS=n
CONFIG_MIGRATION=n
CONFIG_ARCH_SELECT_MEMORY_MODEL=n
CONFIG_ARCH_HAS_SET_MEMORY=n
CONFIG_USB_CDNSP_PCI=n
CONFIG_GPIOLIB_IRQCHIP=n
CONFIG_PAGE_SIZE_LESS_THAN_256KB=n
CONFIG_ADVISE_SYSCALLS=n
CONFIG_ARCH_HIBERNATION_POSSIBLE=n
CONFIG_NET_VENDOR_ROCKER=n
CONFIG_TOOLCHAIN_HAS_ZACAS=n
CONFIG_SWPHY=n
CONFIG_ARCH_HAS_ELF_CORE_EFLAGS=n
CONFIG_NET_UDP_TUNNEL=n
CONFIG_CRYPTO_USER_API_ENABLE_OBSOLETE=n
CONFIG_FB_NOTIFY=n
CONFIG_CLK_SIFIVE_PRCI=n
CONFIG_RANDSTRUCT_NONE=n
CONFIG_CACHESTAT_SYSCALL=n
CONFIG_NET_VENDOR_NETRONOME=n
CONFIG_MMC_SPI=n
CONFIG_PGTABLE_HAS_HUGE_LEAVES=n
CONFIG_CGROUP_CPUACCT=n
CONFIG_PM_SLEEP=n
CONFIG_I2C=n
CONFIG_CLK_STARFIVE_JH7110_STG=n
CONFIG_CLK_STARFIVE_JH7110_SYS=n
CONFIG_OF_KOBJ=n
CONFIG_SPI_MASTER=n
CONFIG_ATA_FORCE=n
CONFIG_BINFMT_SCRIPT=n
CONFIG_POWER_RESET=n
CONFIG_SPI_SIFIVE=n
CONFIG_CRC_CCITT=n
CONFIG_GENERIC_PENDING_IRQ=n
CONFIG_NET_VENDOR_8390=n
CONFIG_VDSO_GETRANDOM=n
CONFIG_E1000E=n
CONFIG_NET_VENDOR_3COM=n
CONFIG_DEBUG_FS_ALLOW_ALL=n
CONFIG_NET_VENDOR_NATSEMI=n
CONFIG_AUXILIARY_BUS=n
CONFIG_NET_VENDOR_SYNOPSYS=n
CONFIG_CLK_ANALOGBITS_WRPLL_CLN28HPC=n
CONFIG_INPUT_VIVALDIFMAP=n
CONFIG_HAVE_CLK=n
CONFIG_STACKPROTECTOR_PER_TASK=n
CONFIG_HAVE_PERF_REGS=n
CONFIG_BLK_MQ_STACKING=n
CONFIG_SATA_PMP=n
CONFIG_ARCH_SUPPORTS_CRASH_DUMP=n
