CONFIG_ARCH_HAS_CPU_RELAX=n
CONFIG_PRINTK=n
CONFIG_IP_ROUTE_VERBOSE=n
CONFIG_DEBUG_STACK_USAGE=n
CONFIG_NF_CONNTRACK_FTP=n
CONFIG_RPS=n
CONFIG_MAC_EMUMOUSEBTN=n
CONFIG_ARCH_HAS_CACHE_LINE_SIZE=n
CONFIG_MODULE_UNLOAD=n
CONFIG_X86_REQUIRED_FEATURE_XMM=n
CONFIG_ARCH_USE_QUEUED_RWLOCKS=n
CONFIG_GENERIC_STRNLEN_USER=n
CONFIG_HAVE_OBJTOOL=n
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO_BARE=n
CONFIG_USB_UHCI_HCD=n
CONFIG_LZO_DECOMPRESS=n
CONFIG_DMA_ENGINE=n
CONFIG_MODULES=n
CONFIG_HAVE_PERF_EVENTS=n
CONFIG_WLAN_VENDOR_ZYDAS=n
CONFIG_FUTEX_PI=n
CONFIG_BLK_DEV_LOOP=n
CONFIG_ARCH_WANT_COMPAT_IPC_PARSE_VERSION=n
CONFIG_SND_HDA=n
CONFIG_CFG80211_CRDA_SUPPORT=n
CONFIG_IP_PNP=n
CONFIG_RTC_DRV_CMOS=n
CONFIG_RFKILL=n
CONFIG_ARCH_HAS_FORTIFY_SOURCE=n
CONFIG_HOTPLUG_PCI=n
CONFIG_ACPI_PROCESSOR=n
CONFIG_HAVE_PERF_EVENTS_NMI=n
CONFIG_XZ_DEC=n
CONFIG_ARCH_WANT_DEFAULT_BPF_JIT=n
CONFIG_NET_VENDOR_XILINX=n
CONFIG_HAVE_KERNEL_XZ=n
CONFIG_NET_VENDOR_BROCADE=n
CONFIG_MOUSE_PS2=n
CONFIG_GENERIC_BITREVERSE=n
CONFIG_HAVE_MMIOTRACE_SUPPORT=n
CONFIG_LEDS_CLASS=n
CONFIG_PCSPKR_PLATFORM=n
CONFIG_MITIGATION_L1TF=n
CONFIG_DRM_I915_CAPTURE_ERROR=n
CONFIG_NETFILTER_XT_TARGET_NFLOG=n
CONFIG_COMPAT_FOR_U64_ALIGNMENT=n
CONFIG_ARCH_DMA_ADDR_T_64BIT=n
CONFIG_HAVE_PCSPKR_PLATFORM=n
CONFIG_USB_COMMON=n
CONFIG_CRC_OPTIMIZATIONS=n
CONFIG_ZLIB_DEFLATE=n
CONFIG_DRM_VIRTIO_GPU=n
CONFIG_ARCH_WANT_BATCHED_UNMAP_TLB_FLUSH=n
CONFIG_SWAP=n
CONFIG_SUNRPC=n
CONFIG_GENERIC_PENDING_IRQ=n
CONFIG_PROC_MEM_FORCE_PTRACE=n
CONFIG_USB_EHCI_HCD=n
CONFIG_SCHED_MC_PRIO=n
CONFIG_EFI_RUNTIME_WRAPPERS=n
CONFIG_NET_VENDOR_I825XX=n
CONFIG_ARCH_HAS_PTE_SPECIAL=n
CONFIG_X86_REQUIRED_FEATURE_CPUID=n
CONFIG_ATA_SFF=n
CONFIG_TIGON3=n
CONFIG_KALLSYMS=n
CONFIG_NET_VENDOR_SAMSUNG=n
CONFIG_ARCH_MAY_HAVE_PC_FDC=n
CONFIG_NETDEVICES=n
CONFIG_USB_PRINTER=n
CONFIG_PCC=n
CONFIG_NET_XGRESS=n
CONFIG_ARCH_SUPPORTS_KEXEC_JUMP=n
CONFIG_DW_DMAC_CORE=n
CONFIG_SERIAL_8250_DWLIB=n
CONFIG_NET_VENDOR_ALIBABA=n
CONFIG_STRICT_DEVMEM=n
CONFIG_ARCH_VMLINUX_NEEDS_RELOCS=n
CONFIG_FIRMWARE_MEMMAP=n
CONFIG_POSIX_TIMERS=n
CONFIG_SCSI=n
CONFIG_HIBERNATION_SNAPSHOT_DEV=n
CONFIG_NET_TULIP=n
CONFIG_HAVE_MIXED_BREAKPOINTS_REGS=n
CONFIG_ZSTD_DECOMPRESS=n
CONFIG_CRYPTO_RSA=n
CONFIG_BLK_DEV_SD=n
CONFIG_USB_DEFAULT_PERSIST=n
CONFIG_TMPFS_XATTR=n
CONFIG_NET_VENDOR_CISCO=n
CONFIG_NET_CLS=n
CONFIG_NET_9P_VIRTIO=n
CONFIG_HAVE_ARCH_MMAP_RND_COMPAT_BITS=n
CONFIG_HAVE_ARCH_WITHIN_STACK_FRAMES=n
CONFIG_CGROUP_NET_PRIO=n
CONFIG_NET_VENDOR_MUCSE=n
CONFIG_XZ_DEC_SPARC=n
CONFIG_ARCH_USE_BUILTIN_BSWAP=n
CONFIG_SYNC_FILE=n
CONFIG_PAGE_SIZE_LESS_THAN_256KB=n
CONFIG_MMU_GATHER_TABLE_FREE=n
CONFIG_CC_HAS_KASAN_SW_TAGS=n
CONFIG_SERIAL_NONSTANDARD=n
CONFIG_WLAN_VENDOR_ATMEL=n
CONFIG_USB_EHCI_TT_NEWSCHED=n
CONFIG_HAVE_JUMP_LABEL_HACK=n
CONFIG_SERIAL_8250_PCILIB=n
CONFIG_KEYS=n
CONFIG_NEED_PER_CPU_EMBED_FIRST_CHUNK=n
CONFIG_MOUSE_PS2_ALPS=n
CONFIG_ALLOW_DEV_COREDUMP=n
CONFIG_HID_SUPPORT=n
CONFIG_WIRELESS=n
CONFIG_SYSCTL_EXCEPTION_TRACE=n
CONFIG_FTRACE=n
CONFIG_PM_SLEEP=n
CONFIG_HID_GENERIC=n
CONFIG_YENTA_RICOH=n
CONFIG_GENERIC_GETTIMEOFDAY=n
CONFIG_INTEL_MEI=n
CONFIG_FS_POSIX_ACL=n
CONFIG_NET_VENDOR_VIA=n
CONFIG_PM_DEBUG=n
CONFIG_MITIGATION_SPECTRE_V1=n
CONFIG_DRM_TTM=n
CONFIG_DMAR_TABLE=n
CONFIG_NF_REJECT_IPV6=n
CONFIG_INPUT_VIVALDIFMAP=n
CONFIG_X86_THERMAL_VECTOR=n
CONFIG_NET_VENDOR_PENSANDO=n
CONFIG_USB_OHCI_LITTLE_ENDIAN=n
CONFIG_IP_PNP_RARP=n
CONFIG_ARCH_HAS_UACCESS_FLUSHCACHE=n
CONFIG_NO_HZ=n
CONFIG_PROVIDE_OHCI1394_DMA_INIT=n
CONFIG_QUOTA_TREE=n
CONFIG_USB_MON=n
CONFIG_CHECK_SIGNATURE=n
CONFIG_PHYS_ADDR_T_64BIT=n
CONFIG_ARCH_WANTS_NO_INSTR=n
CONFIG_ARCH_WANT_HUGE_PMD_SHARE=n
CONFIG_ACPI_SYSTEM_POWER_STATES_SUPPORT=n
CONFIG_RCU_STALL_COMMON=n
CONFIG_HAVE_ARCH_HUGE_VMALLOC=n
CONFIG_NET_EGRESS=n
CONFIG_ARCH_SUPPORTS_CRASH_DUMP=n
CONFIG_CRYPTO_LIB_SHA1=n
CONFIG_INPUT_KEYBOARD=n
CONFIG_FW_CACHE=n
CONFIG_CRYPTO_LIB_AES=n
CONFIG_YENTA=n
CONFIG_IRQ_MSI_LIB=n
CONFIG_VMCORE_INFO=n
CONFIG_BLK_CGROUP_IOLATENCY=n
CONFIG_X86_DISABLED_FEATURE_VME=n
CONFIG_HAVE_FUNCTION_ARG_ACCESS_API=n
CONFIG_QUOTA_NETLINK_INTERFACE=n
CONFIG_MMU_GATHER_RCU_TABLE_FREE=n
CONFIG_SYMBOLIC_ERRNAME=n
CONFIG_USB_XHCI_PCI=n
CONFIG_HAVE_IRQ_TIME_ACCOUNTING=n
CONFIG_IRQ_DOMAIN_HIERARCHY=n
CONFIG_SYSVIPC=n
CONFIG_BLOCK_LEGACY_AUTOLOAD=n
CONFIG_CC_HAS_MARCH_NATIVE=n
CONFIG_NET_CORE=n
CONFIG_X86_DISABLED_FEATURE_CENTAUR_MCR=n
CONFIG_X86_MCE_AMD=n
CONFIG_HAVE_ARCH_SECCOMP_FILTER=n
CONFIG_X86_DISABLED_FEATURE_LAM=n
CONFIG_ARCH_SUPPORTS_RT=n
CONFIG_KRETPROBE_ON_RETHOOK=n
CONFIG_ATA_PIIX=n
CONFIG_DRM_I915=n
CONFIG_DRM_VIRTIO_GPU_KMS=n
CONFIG_CGROUP_RDMA=n
CONFIG_HAVE_CMPXCHG_DOUBLE=n
CONFIG_IA32_EMULATION=n
CONFIG_PROBE_EVENTS=n
CONFIG_ARCH_WANT_OPTIMIZE_HUGETLB_VMEMMAP=n
CONFIG_MODULES_USE_ELF_RELA=n
CONFIG_SND_HWDEP=n
CONFIG_DRM_GEM_SHMEM_HELPER=n
CONFIG_ARCH_HAS_SYNC_CORE_BEFORE_USERMODE=n
CONFIG_VMAP_STACK=n
CONFIG_INPUT_EVDEV=n
CONFIG_YENTA_TI=n
CONFIG_X86_TSC=n
CONFIG_PAGE_SIZE_4KB=n
CONFIG_SYSTEM_DATA_VERIFICATION=n
CONFIG_TREE_RCU=n
CONFIG_CRYPTO_LIB_AES_CBC_MACS=n
CONFIG_NET_VENDOR_SILAN=n
CONFIG_CRYPTO_LIB_SHA256_ARCH=n
CONFIG_HAVE_ARCH_JUMP_LABEL=n
CONFIG_IP_MULTIPLE_TABLES=n
CONFIG_X86_ACPI_CPUFREQ_CPB=n
CONFIG_HAVE_ARCH_KASAN=n
CONFIG_FUTEX_MPOL=n
CONFIG_FUTEX_PRIVATE_HASH=n
CONFIG_DECOMPRESS_BZIP2=n
CONFIG_CFG80211_USE_KERNEL_REGDB_KEYS=n
CONFIG_ACPI_VIDEO=n
CONFIG_PROC_VMCORE=n
CONFIG_MISC_FILESYSTEMS=n
CONFIG_IOMMU_PT_VTDSS=n
CONFIG_ACPI_THERMAL_LIB=n
CONFIG_NF_LOG_SYSLOG=n
CONFIG_SND=n
CONFIG_ARCH_SUPPORTS_KEXEC_FILE=n
CONFIG_I2C_BOARDINFO=n
CONFIG_WLAN_VENDOR_QUANTENNA=n
CONFIG_MAC80211_LEDS=n
CONFIG_CGROUP_HUGETLB=n
CONFIG_INET_TUNNEL=n
CONFIG_LOCKD_V4=n
CONFIG_PNPACPI=n
CONFIG_ARCH_HAS_DEBUG_VIRTUAL=n
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_ARGS=n
CONFIG_NET_VENDOR_8390=n
CONFIG_CC_HAS_ENTRY_PADDING=n
CONFIG_FUTEX_ROBUST_UNLOCK=n
CONFIG_IP6_NF_MATCH_IPV6HEADER=n
CONFIG_NET_CLS_ACT=n
CONFIG_XZ_DEC_X86=n
CONFIG_VIRTIO_ANCHOR=n
CONFIG_EFI_RUNTIME_MAP=n
CONFIG_ACPI_CPPC_LIB=n
CONFIG_WLAN_VENDOR_SILABS=n
CONFIG_DEBUG_BOOT_PARAMS=n
CONFIG_MMU_NOTIFIER=n
CONFIG_IPV6_NDISC_NODETYPE=n
CONFIG_HAS_SECURITY_AUDIT=n
CONFIG_DEBUG_WX=n
CONFIG_INET6_ESP=n
CONFIG_FIX_EARLYCON_MEM=n
CONFIG_RCU_TRACE=n
CONFIG_NF_LOG_IPV6=n
CONFIG_SND_X86=n
CONFIG_ARCH_MIGHT_HAVE_ACPI_PDC=n
CONFIG_X509_CERTIFICATE_PARSER=n
CONFIG_NF_NAT_MASQUERADE=n
CONFIG_DMA_ACPI=n
CONFIG_NET_VENDOR_ROCKER=n
CONFIG_HAVE_STATIC_CALL_INLINE=n
CONFIG_CDROM=n
CONFIG_ARCH_SPARSEMEM_DEFAULT=n
CONFIG_EFI_MIXED=n
CONFIG_ZLIB_INFLATE=n
CONFIG_X86_MSR=n
CONFIG_NFS_V4_0=n
CONFIG_EXCLUSIVE_SYSTEM_RAM=n
CONFIG_HDMI=n
CONFIG_HAVE_DMA_CONTIGUOUS=n
CONFIG_RCU_NEED_SEGCBLIST=n
CONFIG_BROADCAST_TLB_FLUSH=n
CONFIG_INPUT_JOYSTICK=n
CONFIG_MSDOS_PARTITION=n
CONFIG_IO_URING_ZCRX=n
CONFIG_ACPI_MDIO=n
CONFIG_X86_REROUTE_FOR_BROKEN_BOOT_IRQS=n
CONFIG_ARCH_PROC_KCORE_TEXT=n
CONFIG_IP_PIMSM_V1=n
CONFIG_NET_DEVMEM=n
CONFIG_EDAC_SUPPORT=n
CONFIG_HID_SONY=n
CONFIG_NF_CT_NETLINK=n
CONFIG_CC_HAS_ASM_GOTO_OUTPUT=n
CONFIG_HAVE_PREEMPT_DYNAMIC=n
CONFIG_SND_INTEL_SOUNDWIRE_ACPI=n
CONFIG_DEFAULT_SECURITY_SELINUX=n
CONFIG_PCMCIA=n
CONFIG_NFS_COMMON=n
CONFIG_PERF_EVENTS_INTEL_RAPL=n
CONFIG_FREEZER=n
CONFIG_RELAY=n
CONFIG_HUGETLBFS=n
CONFIG_ARCH_SUPPORTS_DEBUG_PAGEALLOC=n
CONFIG_IA32_FEAT_CTL=n
CONFIG_HAVE_IOREMAP_PROT=n
CONFIG_PCPU_DEV_REFCNT=n
CONFIG_PNFS_FILE_LAYOUT=n
CONFIG_NAMESPACES=n
CONFIG_CRYPTO=n
CONFIG_TRACE_IRQFLAGS_SUPPORT=n
CONFIG_SERIAL_8250_PNP=n
CONFIG_VHOST_MENU=n
CONFIG_ARCH_HAS_DEBUG_VM_PGTABLE=n
CONFIG_MITIGATION_RETHUNK=n
CONFIG_AGP_AMD64=n
CONFIG_NETFILTER_NETLINK_LOG=n
CONFIG_PGTABLE_HAS_HUGE_LEAVES=n
CONFIG_X86_AMD_PSTATE=n
CONFIG_PROC_KCORE=n
CONFIG_BUILDTIME_TABLE_SORT=n
CONFIG_HAVE_HARDLOCKUP_DETECTOR_PERF=n
CONFIG_UNINLINE_SPIN_UNLOCK=n
CONFIG_HAVE_ARCH_RANDOMIZE_KSTACK_OFFSET=n
CONFIG_HAVE_UNSTABLE_SCHED_CLOCK=n
CONFIG_NET_FLOW_LIMIT=n
