CONFIG_XEN_PCI_STUB=n
CONFIG_HAVE_VIRT_CPU_ACCOUNTING_GEN=n
CONFIG_ARM64_ERRATUM_827319=n
CONFIG_QCS_GCC_8300=n
CONFIG_FPGA_MGR_VERSAL_FPGA=n
CONFIG_DEVTMPFS=n
CONFIG_DRM_STM=n
CONFIG_ARCH_HAS_PKEYS=n
CONFIG_GENERIC_IRQ_EFFECTIVE_AFF_MASK=n
CONFIG_ACPI_MDIO=n
CONFIG_ACPI_APEI_GHES=n
CONFIG_SND_SOC_TEGRA210_MIXER=n
CONFIG_PINCTRL_MT6797=n
CONFIG_QCOM_GENI_SE=n
CONFIG_APERTURE_HELPERS=n
CONFIG_SERIAL_EARLYCON=n
CONFIG_ARM64_ERRATUM_2658417=n
CONFIG_RC_DECODERS=n
CONFIG_BT_HCIUART_LL=n
CONFIG_PCI_SKY1_HOST=n
CONFIG_COMMON_CLK_MT8196_VENCSYS=n
CONFIG_XEN_PRIVCMD=n
CONFIG_DRM_RCAR_DU=n
CONFIG_FIX_EARLYCON_MEM=n
CONFIG_CROS_EC_CHARDEV=n
CONFIG_IWLWIFI_LEDS=n
CONFIG_RAID6_PQ_ARCH=n
CONFIG_SURFACE_PLATFORMS=n
CONFIG_CLONE_BACKWARDS=n
CONFIG_PINCTRL_SUN50I_H6_R=n
CONFIG_XEN_BALLOON=n
CONFIG_SLUB_DEBUG=n
CONFIG_CONTIG_ALLOC=n
CONFIG_SND_SOC_WCD938X=n
CONFIG_MMC_SDHCI_OF_ARASAN=n
CONFIG_USB_ISP1760_HCD=n
CONFIG_SYSFB=n
CONFIG_CLKSRC_EXYNOS_MCT=n
CONFIG_ARM_GIC_V5=n
CONFIG_AUTOFS_FS=n
CONFIG_CRYPTO_DEV_ALLWINNER=n
CONFIG_NET_DSA_TAG_OCELOT=n
CONFIG_PT_RECLAIM=n
CONFIG_PCIE_DW=n
CONFIG_SOC_TEGRA_CBB=n
CONFIG_ARCH_SUPPORTS_ATOMIC_RMW=n
CONFIG_RAID6_PQ=n
CONFIG_PWM_IMX27=n
CONFIG_QCOM_SYSMON=n
CONFIG_PWM_MTK_DISP=n
CONFIG_TPS6594_ESM=n
CONFIG_PINCTRL_UNIPHIER_NX1=n
CONFIG_DRM_PANEL_MANTIX_MLAF057WE51=n
CONFIG_CRYPTO_USER=n
CONFIG_HAS_IOMEM=n
CONFIG_SND_SOC_FSL_EASRC=n
CONFIG_COMMON_CLK_MESON_VCLK=n
CONFIG_QCOM_COMMAND_DB=n
CONFIG_WLAN_VENDOR_QUANTENNA=n
CONFIG_DRM_MSM_DSI_28NM_PHY=n
CONFIG_CLK_GLYMUR_TCSRCC=n
CONFIG_SND_SOC=n
CONFIG_KEXEC_CORE=n
CONFIG_BT_HCIUART=n
CONFIG_ARM_PSCI_CPUIDLE=n
CONFIG_ACPI_PROCESSOR=n
CONFIG_USB_SNP_CORE=n
CONFIG_HAVE_BUILDTIME_MCOUNT_SORT=n
CONFIG_ATH12K=n
CONFIG_NET_VENDOR_CADENCE=n
CONFIG_BLK_DEV_NBD=n
CONFIG_MESON_GXL_PHY=n
CONFIG_SERIAL_8250_DMA=n
CONFIG_NFS_V4_2=n
CONFIG_RPS=n
CONFIG_OVERLAY_FS_REDIRECT_ALWAYS_FOLLOW=n
CONFIG_CPU_IDLE_MULTIPLE_DRIVERS=n
CONFIG_NET_9P=n
CONFIG_DMA_COHERENT_POOL=n
CONFIG_MTD_NAND_DENALI=n
CONFIG_SERIAL_8250_FSL=n
CONFIG_HAVE_ARCH_SECCOMP=n
CONFIG_CLK_R8A77980=n
CONFIG_PGTABLE_HAS_HUGE_LEAVES=n
CONFIG_GPIO_AGGREGATOR=n
CONFIG_SERIO_AMBAKMI=n
CONFIG_USB_CDNSP_PCI=n
CONFIG_DRM_IMX8MP_DW_HDMI_BRIDGE_CONNECTOR_FIXUP=n
CONFIG_COMMON_CLK_S2MPS11=n
CONFIG_COMMON_CLK_HI3670=n
CONFIG_NET_NS=n
CONFIG_MTK_LVTS_THERMAL=n
CONFIG_USB_U_SERIAL=n
CONFIG_SUNXI_NMI_INTC=n
CONFIG_CLK_RK3328=n
CONFIG_THUNDER_NIC_PF=n
CONFIG_WQ_POWER_EFFICIENT_DEFAULT=n
CONFIG_NXP_ENETC_PF_COMMON=n
CONFIG_ARM_DSU_PMU=n
CONFIG_COMMON_CLK_MEDIATEK_FHCTL=n
CONFIG_DP83867_PHY=n
CONFIG_ROCKCHIP_DW_HDMI_QP=n
CONFIG_SC_VIDEOCC_7280=n
CONFIG_DRM_CLIENT_LIB=n
CONFIG_CEC_MESON_G12A_AO=n
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST=n
CONFIG_ARCH_TEGRA_186_SOC=n
CONFIG_DRM_RZG2L_MIPI_DSI=n
CONFIG_GCC10_NO_ARRAY_BOUNDS=n
CONFIG_DEBUG_INFO_COMPRESSED_NONE=n
CONFIG_ARCH_SPARX5=n
CONFIG_TEGRA_ACONNECT=n
CONFIG_VIDEO_V4L2_SUBDEV_API=n
CONFIG_RESET_SUNXI=n
CONFIG_WANT_DEV_COREDUMP=n
CONFIG_PINCTRL_IMX8ULP=n
CONFIG_CFG80211_CRDA_SUPPORT=n
CONFIG_VIDEO_CAMERA_SENSOR=n
CONFIG_COMMON_CLK_MT8188_VDOSYS=n
CONFIG_SND_SOC_MT8195=n
CONFIG_CRYPTO_AKCIPHER2=n
CONFIG_SPI_APPLE=n
CONFIG_RPMSG_MTK_SCP=n
CONFIG_USB_ACM=n
CONFIG_MESON_SECURE_PM_DOMAINS=n
CONFIG_CRYPTO_DEV_FSL_CAAM_CRYPTO_API_DESC=n
CONFIG_BINFMT_ELF=n
CONFIG_NVMEM_QCOM_QFPROM=n
CONFIG_TYPEC_MUX_IT5205=n
CONFIG_EC_ACER_ASPIRE1=n
CONFIG_ARCH_R9A09G056=n
CONFIG_TYPEC_HD3SS3220=n
CONFIG_IMX_SCMI_MISC_DRV=n
CONFIG_GNSS_SERIAL=n
CONFIG_CLK_R8A774E1=n
CONFIG_PKCS7_MESSAGE_PARSER=n
CONFIG_DRM_RCAR_DW_HDMI=n
CONFIG_CORESIGHT_STM=n
CONFIG_VIDEO_DEV=n
CONFIG_CGROUP_SCHED=n
CONFIG_DRM_HISI_KIRIN=n
CONFIG_RTC_DRV_RX8581=n
CONFIG_HAVE_ARCH_KASAN_VMALLOC=n
CONFIG_RTC_DRV_ZYNQMP=n
CONFIG_MPILIB=n
CONFIG_CLK_IMX8QXP=n
CONFIG_SCSI_UFSHCD=n
CONFIG_SPI_DW_MMIO=n
CONFIG_RANDOMIZE_BASE=n
CONFIG_SERIAL_8250_EXAR=n
CONFIG_CORESIGHT_SINK_TPIU=n
CONFIG_PTP_1588_CLOCK=n
CONFIG_KEYBOARD_ATKBD=n
CONFIG_PINCTRL_SC7280=n
CONFIG_GOOGLE_CBMEM=n
CONFIG_SND_SOC_RT5682S=n
CONFIG_CORESIGHT_CTI=n
CONFIG_FSL_DPAA=n
CONFIG_RAID6_PQ_BENCHMARK=n
CONFIG_DRM_DISPLAY_HDCP_HELPER=n
CONFIG_SCSI_UFS_HISI=n
CONFIG_PROC_FS=n
CONFIG_SND_SOC_IMX_SGTL5000=n
CONFIG_SYS_SUPPORTS_SH_TMU=n
CONFIG_VF_TIMER_NONE=n
CONFIG_VIDEO=n
CONFIG_IMX_GPCV2=n
CONFIG_SERIAL_IMX=n
CONFIG_USB_CDNS_SUPPORT=n
CONFIG_MMC_UNIPHIER=n
CONFIG_PHY_MESON_AXG_PCIE=n
CONFIG_IMX_SCMI_BBM_EXT=n
CONFIG_MFD_TPS6594=n
CONFIG_SA_GCC_8775P=n
CONFIG_ARCH_HAS_STRICT_KERNEL_RWX=n
CONFIG_COMMON_CLK_S4_PERIPHERALS=n
CONFIG_SC_GPUCC_7280=n
CONFIG_CAVIUM_ERRATUM_23154=n
CONFIG_OVERLAY_FS=n
CONFIG_DRM_DISPLAY_HDMI_CEC_NOTIFIER_HELPER=n
CONFIG_NET_9P_VIRTIO=n
CONFIG_PACKET=n
CONFIG_TRACE_IRQFLAGS_SUPPORT=n
CONFIG_COMMON_CLK_MESON_CPU_DYNDIV=n
CONFIG_PWM_TIECAP=n
CONFIG_SM_CAMCC_8750=n
CONFIG_ARCH_HAS_BATCHED_DMA_SYNC=n
CONFIG_VIDEO_HANTRO_SUNXI=n
CONFIG_SC_CAMCC_8280XP=n
CONFIG_DRM_IMX_DCSS=n
CONFIG_CRYPTO_DEV_HISI_QM=n
CONFIG_PINCTRL_IMX8MP=n
CONFIG_HNS3=n
CONFIG_ARCH_SUPPORTS_RT=n
CONFIG_HAVE_ARCH_TRACEHOOK=n
CONFIG_ACPI_FAN=n
CONFIG_PHY_SAMSUNG_UFS=n
CONFIG_REGULATOR_MT6359=n
CONFIG_USB_EHCI_TT_NEWSCHED=n
CONFIG_FPGA_MGR_STRATIX10_SOC=n
CONFIG_NUMA=n
CONFIG_BPF_JIT_DEFAULT_ON=n
CONFIG_NVME_APPLE=n
CONFIG_PINCTRL_SC8280XP_LPASS_LPI=n
CONFIG_IOMMU_IO_PGTABLE_LPAE=n
CONFIG_FSL_DPAA2_ETH=n
CONFIG_ACPI_APEI_EINJ=n
CONFIG_POWER_RESET_TORADEX_EC=n
CONFIG_DRM_PANEL_RAYDIUM_RM692E5=n
CONFIG_USB_MUSB_DUAL_ROLE=n
CONFIG_MWIFIEX_SDIO=n
CONFIG_USB_CONFIGFS_OBEX=n
CONFIG_GPIO_TEGRA=n
CONFIG_DRM_PANEL_SITRONIX_ST7703=n
CONFIG_MOUSE_ELAN_I2C=n
CONFIG_PHY_NS2_PCIE=n
CONFIG_ARCH_HAS_NON_OVERLAPPING_ADDRESS_SPACE=n
CONFIG_MFD_HI655X_PMIC=n
CONFIG_GPIO_DWAPB=n
CONFIG_PINCTRL_MESON=n
CONFIG_ARCH_TEGRA_241_SOC=n
CONFIG_VIDEO_WAVE_VPU=n
CONFIG_DTC=n
CONFIG_SCSI_MOD=n
CONFIG_MDIO_GPIO=n
CONFIG_CLK_RV1126B=n
CONFIG_PM_OPP=n
CONFIG_SND_IMX_SOC=n
CONFIG_CLK_RZV2H=n
CONFIG_TPS6594_PFSM=n
CONFIG_REGULATOR_S2MPS11=n
CONFIG_GPIO_XGENE_SB=n
CONFIG_PWRSEQ_EMMC=n
CONFIG_SND_MESON_AXG_SPDIFOUT=n
CONFIG_PHY_MESON_AXG_MIPI_PCIE_ANALOG=n
CONFIG_GENERIC_ALLOCATOR=n
CONFIG_INPUT_AW86927=n
CONFIG_COMMON_CLK_MT8186_WPESYS=n
CONFIG_HOTPLUG_PCI=n
CONFIG_KSM=n
CONFIG_ROCKCHIP_LVDS=n
CONFIG_SPI_PL022=n
CONFIG_MFD_SL28CPLD=n
CONFIG_XEN_FBDEV_FRONTEND=n
CONFIG_ATA=n
CONFIG_DRM_SII902X=n
CONFIG_USB_F_MASS_STORAGE=n
CONFIG_SND_SOC_FSL_SAI=n
CONFIG_MESON_SARADC=n
CONFIG_RENESAS_RZV2H_ICU=n
CONFIG_SPI_ZYNQMP_GQSPI=n
CONFIG_BLK_DEV_NVME=n
CONFIG_PHY_QCOM_M31_USB=n
CONFIG_MEMORY=n
CONFIG_USB_ARMLINUX=n
CONFIG_PCIE_XILINX_CPM=n
CONFIG_SND_SOC_WM8994=n
CONFIG_BLOCK=n
CONFIG_QCOM_WCNSS_PIL=n
CONFIG_CLK_RENESAS_VBATTB=n
CONFIG_VIDEOBUF2_CORE=n
CONFIG_S3C2410_WATCHDOG=n
CONFIG_SND_PROC_FS=n
CONFIG_SKY2=n
CONFIG_COMMON_CLK_QCOM=n
CONFIG_CHROMEOS_OF_HW_PROBER=n
CONFIG_PINCTRL_MT6893=n
CONFIG_SND_SOC_MT8365=n
CONFIG_GENERIC_STRNLEN_USER=n
CONFIG_NET_DSA_MSCC_FELIX_DSA_LIB=n
CONFIG_BACKLIGHT_PWM=n
CONFIG_MEMORY_HOTPLUG=n
CONFIG_DMABUF_HEAPS=n
CONFIG_SND_SOC_SOF_OF=n
CONFIG_XEN_GRANT_DEV_ALLOC=n
CONFIG_SND_SOC_QDSP6=n
CONFIG_PINCTRL_IPQ9650=n
CONFIG_INTERCONNECT_QCOM_SM6115=n
CONFIG_COMMON_CLK_GXBB=n
CONFIG_NFS_V4_SECURITY_LABEL=n
CONFIG_INTEGRITY=n
CONFIG_MEDIA_TUNER_XC4000=n
CONFIG_ADVISE_SYSCALLS=n
CONFIG_PINCTRL_TEGRA186=n
CONFIG_MDIO_XGENE=n
CONFIG_ARCH_SUPPORTS_KEXEC_SIG=n
CONFIG_PCI_IOV=n
CONFIG_BT_HCIUART_QCA=n
CONFIG_ASSOCIATIVE_ARRAY=n
CONFIG_RTC_HCTOSYS=n
CONFIG_SPRD_UMS512_CLK=n
CONFIG_GPIO_TEGRA186=n
CONFIG_PINCTRL_RTD=n
CONFIG_MITIGATE_SPECTRE_BRANCH_HISTORY=n
CONFIG_HAVE_ARCH_JUMP_LABEL=n
CONFIG_QCOM_RMTFS_MEM=n
CONFIG_BT_LEDS=n
CONFIG_OF_EARLY_FLATTREE=n
CONFIG_NVMEM_SYSFS=n
CONFIG_GENERIC_IRQ_IPI_MUX=n
