CONFIG_TMPFS_XATTR=n
CONFIG_ACPI_REV_OVERRIDE_POSSIBLE=n
CONFIG_NET_VENDOR_XIRCOM=n
CONFIG_CRYPTO_CTR=n
CONFIG_COMPAT_BINFMT_ELF=n
CONFIG_CRASH_DUMP=n
CONFIG_CONNECTOR=n
CONFIG_SYSVIPC_SYSCTL=n
CONFIG_HAVE_PERF_EVENTS=n
CONFIG_TRACE_CLOCK=n
CONFIG_ARCH_MIGHT_HAVE_PC_PARPORT=n
CONFIG_ARCH_WANTS_CLOCKSOURCE_READ_INLINE=n
CONFIG_INTEL_TCC=n
CONFIG_MMU_GATHER_MERGE_VMAS=n
CONFIG_HAVE_POSIX_CPU_TIMERS_TASK_WORK=n
CONFIG_IP_MROUTE_COMMON=n
CONFIG_EARLY_PRINTK_DBGP=n
CONFIG_INTEL_IOMMU_SCALABLE_MODE_DEFAULT_ON=n
CONFIG_FUNCTION_ALIGNMENT_16B=n
CONFIG_CPU_FREQ=n
CONFIG_WLAN=n
CONFIG_NET_INGRESS=n
CONFIG_CRC32_ARCH=n
CONFIG_SECCOMP_FILTER=n
CONFIG_NETFILTER_EGRESS=n
CONFIG_SCSI_LOWLEVEL=n
CONFIG_ARCH_WANT_GENERAL_HUGETLB=n
CONFIG_CALL_THUNKS=n
CONFIG_VT_CONSOLE=n
CONFIG_X86_DISABLED_FEATURE_TDX_GUEST=n
CONFIG_RFKILL_LEDS=n
CONFIG_ARCH_USE_QUEUED_SPINLOCKS=n
CONFIG_ASYMMETRIC_KEY_TYPE=n
CONFIG_DMA_ACPI=n
CONFIG_CC_HAS_NAMED_AS_FIXED_SANITIZERS=n
CONFIG_ACPI_CPU_FREQ_PSS=n
CONFIG_NETFILTER_XT_TARGET_MASQUERADE=n
CONFIG_NET_9P=n
CONFIG_VIRTIO_BLK=n
CONFIG_HAVE_PCI=n
CONFIG_EVENT_TRACING=n
CONFIG_SND_PROC_FS=n
CONFIG_PREEMPT_COUNT=n
CONFIG_CC_CAN_LINK=n
CONFIG_NET_XGRESS=n
CONFIG_NET_VENDOR_INTEL=n
CONFIG_GENERIC_CLOCKEVENTS_COUPLED_INLINE=n
CONFIG_HID_SAMSUNG=n
CONFIG_DRM_PANEL=n
CONFIG_IRQ_FORCED_THREADING=n
CONFIG_INTEL_MEI_ME=n
CONFIG_OPTPROBES=n
CONFIG_CC_HAS_SANE_FUNCTION_ALIGNMENT=n
CONFIG_TRACEFS_AUTOMOUNT_DEPRECATED=n
CONFIG_PCI_DIRECT=n
CONFIG_ARCH_SUPPORTS_PAGE_TABLE_CHECK=n
CONFIG_HAVE_DMA_CONTIGUOUS=n
CONFIG_SERIAL_8250_RSA=n
CONFIG_YENTA_TOSHIBA=n
CONFIG_CONTEXT_SWITCH_TRACER=n
CONFIG_NET_VENDOR_CISCO=n
CONFIG_DRM_PANEL_BRIDGE=n
CONFIG_CC_HAS_MIN_FUNCTION_ALIGNMENT=n
CONFIG_DMI_SCAN_MACHINE_NON_EFI_FALLBACK=n
CONFIG_ARCH_USE_MEMREMAP_PROT=n
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO=n
CONFIG_KPROBE_EVENTS=n
CONFIG_HAVE_SETUP_PER_CPU_AREA=n
CONFIG_AGP_INTEL=n
CONFIG_ACPI_CONTAINER=n
CONFIG_SERIAL_8250_MID=n
CONFIG_MAC80211_RC_MINSTREL=n
CONFIG_X86_DISABLED_FEATURE_VME=n
CONFIG_VIRTIO_PCI=n
CONFIG_MSDOS_FS=n
CONFIG_ARCH_HAS_ELFCORE_COMPAT=n
CONFIG_XZ_DEC_RISCV=n
CONFIG_GENERIC_PCI_IOMAP=n
CONFIG_NET_VENDOR_ASIX=n
CONFIG_WLAN_VENDOR_MEDIATEK=n
CONFIG_IO_WQ=n
CONFIG_MUTEX_SPIN_ON_OWNER=n
CONFIG_NET_VENDOR_TI=n
CONFIG_ARCH_HAS_COPY_MC=n
CONFIG_GENERIC_GETTIMEOFDAY=n
CONFIG_DM_ZERO=n
CONFIG_GENERIC_SMP_IDLE_THREAD=n
CONFIG_X86_LOCAL_APIC=n
CONFIG_STRICT_MODULE_RWX=n
CONFIG_SND_HDA_CORE=n
CONFIG_THERMAL_NETLINK=n
CONFIG_ARCH_HAS_DEBUG_VM_PGTABLE=n
CONFIG_CC_NO_ARRAY_BOUNDS=n
CONFIG_NETCONSOLE=n
CONFIG_EDAC_ATOMIC_SCRUB=n
CONFIG_CRYPTO_AEAD=n
CONFIG_YENTA=n
CONFIG_ARCH_HAS_GIGANTIC_PAGE=n
CONFIG_EFIVAR_FS=n
CONFIG_ARCH_HAS_PTE_SPECIAL=n
CONFIG_NET_VENDOR_SAMSUNG=n
CONFIG_HAVE_DEBUG_KMEMLEAK=n
CONFIG_CPU_FREQ_DEFAULT_GOV_USERSPACE=n
CONFIG_HAVE_ARCH_KMSAN=n
CONFIG_ARCH_SUPPORTS_MEMORY_FAILURE=n
CONFIG_SERIAL_8250_PERICOM=n
CONFIG_NEED_PER_CPU_PAGE_FIRST_CHUNK=n
CONFIG_X86_DISABLED_FEATURE_USER_SHSTK=n
CONFIG_WLAN_VENDOR_TI=n
CONFIG_CGROUP_NET_PRIO=n
CONFIG_OLD_SIGSUSPEND3=n
CONFIG_NET_VENDOR_VERTEXCOM=n
CONFIG_EARLY_PRINTK=n
CONFIG_SERIAL_8250_DWLIB=n
CONFIG_X86_X2APIC=n
CONFIG_ARCH_WANT_HUGE_PMD_SHARE=n
CONFIG_HPET=n
CONFIG_MACINTOSH_DRIVERS=n
CONFIG_HARDLOCKUP_CHECK_TIMESTAMP=n
CONFIG_AS_WRUSS=n
CONFIG_CC_HAS_NO_PROFILE_FN_ATTR=n
CONFIG_MITIGATION_SPECTRE_V2=n
CONFIG_DECOMPRESS_BZIP2=n
CONFIG_NO_HZ=n
CONFIG_MITIGATION_TAA=n
CONFIG_CC_IS_GCC=n
CONFIG_NET_VENDOR_I825XX=n
CONFIG_BLOCK=n
CONFIG_SYSCTL_EXCEPTION_TRACE=n
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST_IDLE=n
CONFIG_NLS_UTF8=n
CONFIG_QUOTACTL=n
CONFIG_BLK_PM=n
CONFIG_EXT4_FS=n
CONFIG_BLK_CGROUP_IOPRIO=n
CONFIG_APERTURE_HELPERS=n
CONFIG_HAVE_KERNEL_XZ=n
CONFIG_INPUT_EVDEV=n
CONFIG_KEYS=n
CONFIG_COMPAT_32=n
CONFIG_ZONE_DMA=n
CONFIG_RUSTC_HAS_UNNECESSARY_TRANSMUTES=n
CONFIG_MD_BITMAP=n
CONFIG_HAVE_KERNEL_LZO=n
CONFIG_USB_OHCI_LITTLE_ENDIAN=n
CONFIG_GRO_CELLS=n
CONFIG_NET_VENDOR_RENESAS=n
CONFIG_STRICT_KERNEL_RWX=n
CONFIG_ACPI_PCC=n
CONFIG_MOUSE_PS2_LOGIPS2PP=n
CONFIG_HAVE_KERNEL_GZIP=n
CONFIG_DRM_VIRTIO_GPU_KMS=n
CONFIG_CRYPTO_LIB_GF128HASH=n
CONFIG_PCI_MSI=n
CONFIG_R8169=n
CONFIG_HAVE_ARCH_VMAP_STACK=n
CONFIG_IPV6=n
CONFIG_LOCKD=n
CONFIG_NF_LOG_IPV4=n
CONFIG_XFRM_AH=n
CONFIG_HVC_DRIVER=n
CONFIG_X86_MCE_INTEL=n
CONFIG_PERF_EVENTS_INTEL_CSTATE=n
CONFIG_RTC_SYSTOHC=n
CONFIG_ACPI_SYSTEM_POWER_STATES_SUPPORT=n
CONFIG_ACPI_I2C_OPREGION=n
CONFIG_IP_MULTIPLE_TABLES=n
CONFIG_HAVE_PREEMPT_DYNAMIC_CALL=n
CONFIG_NFS_FS=n
CONFIG_X86_SUPPORTS_MEMORY_FAILURE=n
CONFIG_HAVE_ASM_MODVERSIONS=n
CONFIG_X86_BUS_LOCK_DETECT=n
CONFIG_NET_VENDOR_MICROSOFT=n
CONFIG_HAVE_FUTEX_ROBUST_UNLOCK=n
CONFIG_ARCH_ENABLE_MEMORY_HOTPLUG=n
CONFIG_PKCS7_MESSAGE_PARSER=n
CONFIG_ARCH_MHP_MEMMAP_ON_MEMORY_ENABLE=n
CONFIG_ARCH_HAS_MEMBARRIER_SYNC_CORE=n
CONFIG_ACPI_PRMT=n
CONFIG_ARCH_WANTS_NO_INSTR=n
CONFIG_SYSTEM_TRUSTED_KEYRING=n
CONFIG_CFG80211_CRDA_SUPPORT=n
CONFIG_ARCH_HAS_KERNEL_FPU_SUPPORT=n
CONFIG_XFRM_USER=n
CONFIG_VT_CONSOLE_SLEEP=n
CONFIG_ARCH_USE_BUILTIN_BSWAP=n
CONFIG_HAVE_ARCH_KASAN_VMALLOC=n
CONFIG_LOCK_SPIN_ON_OWNER=n
CONFIG_SECCOMP=n
CONFIG_HAVE_HW_BREAKPOINT=n
CONFIG_EFI_STUB=n
CONFIG_SND_SEQ_DEVICE=n
CONFIG_SND_HDA_INTEL=n
CONFIG_CRYPTO_SIG2=n
CONFIG_GENERIC_STRNCPY_FROM_USER=n
CONFIG_NET_SCH_FIFO=n
CONFIG_IO_URING=n
CONFIG_USB_COMMON=n
CONFIG_PREVENT_FIRMWARE_BUILD=n
CONFIG_GENERIC_ISA_DMA=n
CONFIG_SND_PCI=n
CONFIG_E100=n
CONFIG_X86_DISABLED_FEATURE_ENQCMD=n
CONFIG_GCC10_NO_ARRAY_BOUNDS=n
CONFIG_HID_TOPSEED=n
CONFIG_TMPFS=n
CONFIG_X86_TSC=n
CONFIG_CRYPTO_GCM=n
CONFIG_UID16=n
CONFIG_SND_HRTIMER=n
CONFIG_ARCH_HAS_HW_PTE_YOUNG=n
CONFIG_PCI_ATS=n
CONFIG_MITIGATION_MMIO_STALE_DATA=n
CONFIG_NET_VENDOR_VIA=n
CONFIG_ARCH_SPARSEMEM_ENABLE=n
CONFIG_NLS_CODEPAGE_437=n
CONFIG_X86_VERBOSE_BOOTUP=n
CONFIG_MITIGATION_SPECTRE_V1=n
CONFIG_NEW_LEDS=n
CONFIG_TASKS_TRACE_RCU=n
CONFIG_COMPAT_OLD_SIGACTION=n
CONFIG_CRYPTO_CMAC=n
CONFIG_SERIAL_8250_PCI=n
CONFIG_YENTA_RICOH=n
CONFIG_VIRTIO_DMA_SHARED_BUFFER=n
CONFIG_HAVE_JUMP_LABEL_HACK=n
CONFIG_CRYPTO_CCM=n
CONFIG_NFS_USE_KERNEL_DNS=n
CONFIG_MMU_NOTIFIER=n
CONFIG_CORE_DUMP_DEFAULT_ELF_HEADERS=n
CONFIG_VIRTIO_PCI_LIB=n
CONFIG_HAVE_ARCH_RANDOMIZE_KSTACK_OFFSET=n
CONFIG_SPARSEMEM=n
CONFIG_PRINTK=n
CONFIG_MOUSE_PS2_CYPRESS=n
CONFIG_ARCH_WANT_OPTIMIZE_DAX_VMEMMAP=n
CONFIG_ARCH_SUPPORTS_KEXEC=n
CONFIG_PROC_PAGE_MONITOR=n
CONFIG_HUGETLB_PMD_PAGE_TABLE_SHARING=n
CONFIG_GENERIC_IRQ_SHOW=n
CONFIG_USB_SUPPORT=n
CONFIG_ARCH_SUPPORTS_PER_VMA_LOCK=n
CONFIG_ACPI_NUMA=n
CONFIG_ARCH_SUPPORTS_KEXEC_PURGATORY=n
CONFIG_ARCH_HAS_EXECMEM_ROX=n
CONFIG_HAVE_KERNEL_ZSTD=n
CONFIG_NETFS_SUPPORT=n
CONFIG_SUNRPC=n
CONFIG_DECOMPRESS_LZ4=n
CONFIG_AMD_IOMMU=n
CONFIG_RFS_ACCEL=n
CONFIG_X86_CX8=n
CONFIG_NET_VENDOR_DAVICOM=n
CONFIG_KPROBES=n
CONFIG_HYPERVISOR_GUEST=n
CONFIG_HIBERNATION_COMP_LZO=n
CONFIG_DRM_DISPLAY_HDMI_HELPER=n
CONFIG_ACPI_PROCESSOR_IDLE=n
CONFIG_ACPI_PROCESSOR=n
CONFIG_ASN1=n
CONFIG_HW_RANDOM_VIA=n
CONFIG_VDSO_GETRANDOM=n
CONFIG_GENERIC_VDSO_OVERFLOW_PROTECT=n
CONFIG_SND_VERBOSE_PROCFS=n
CONFIG_HARDIRQS_SW_RESEND=n
CONFIG_CRYPTO_ALGAPI2=n
CONFIG_CRYPTO_ECHAINIV=n
CONFIG_NET_RX_BUSY_POLL=n
CONFIG_GENERIC_CPU_AUTOPROBE=n
CONFIG_MAGIC_SYSRQ=n
CONFIG_CGROUP_DEBUG=n
CONFIG_X86_REQUIRED_FEATURE_XMM2=n
CONFIG_CRYPTO_LIB_AES_CBC_MACS=n
CONFIG_LZ4_DECOMPRESS=n
CONFIG_CRYPTO_CTS=n
CONFIG_NET_VENDOR_SIS=n
CONFIG_SERIO=n
CONFIG_CRYPTO_SIG=n
CONFIG_TICK_CPU_ACCOUNTING=n
CONFIG_FUTEX_PI=n
CONFIG_ARCH_HAS_CURRENT_STACK_POINTER=n
CONFIG_KCMP=n
CONFIG_SERIAL_8250_DMA=n
CONFIG_PCIEPORTBUS=n
CONFIG_ARCH_HAS_NON_OVERLAPPING_ADDRESS_SPACE=n
CONFIG_PCI_PASID=n
CONFIG_IOMMU_SVA=n
CONFIG_AUTOFS_FS=n
CONFIG_TRACE_IRQFLAGS_SUPPORT=n
CONFIG_AF_UNIX_OOB=n
CONFIG_SERIAL_8250_DETECT_IRQ=n
CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE=n
CONFIG_SLUB_DEBUG=n
CONFIG_SND_HDA_HWDEP=n
CONFIG_ARCH_PROC_KCORE_TEXT=n
CONFIG_CRYPTO_LIB_AES_ARCH=n
CONFIG_GPIOLIB_LEGACY=n
CONFIG_HAVE_CONTEXT_TRACKING_USER_OFFSTACK=n
CONFIG_HAVE_PERF_REGS=n
CONFIG_MD_AUTODETECT=n
