CONFIG_CLK_INTEL_SOCFPGA32=y
CONFIG_ARCH_HAS_FAST_MULTIPLIER=y
CONFIG_ARCH_USE_MEMTEST=y
CONFIG_RING_BUFFER=y
CONFIG_PINCTRL_STARFIVE_JH7110_AON=y
CONFIG_I2C_MESON=y
CONFIG_RTC_DRV_M48T86=y
CONFIG_CPU_FREQ_GOV_USERSPACE=y
CONFIG_W1_SLAVE_DS250X=y
CONFIG_MFD_DA9062=y
CONFIG_PINCTRL_PFC_SH7757=y
CONFIG_LIST_HARDENED=y
CONFIG_MESON_GX_SOCINFO=y
CONFIG_HW_RANDOM_OMAP3_ROM=y
CONFIG_FB_SYSMEM_HELPERS_DEFERRED=y
CONFIG_NLS_ISO8859_6=y
CONFIG_THERMAL_GOV_FAIR_SHARE=y
CONFIG_W1_SLAVE_DS2781=y
CONFIG_RTC_DRV_RV3028=y
CONFIG_GPIO_STP_XWAY=y
CONFIG_IKHEADERS=y
CONFIG_MESON_IRQ_GPIO=y
CONFIG_INTERCONNECT=y
CONFIG_CRYPTO_CTS=y
CONFIG_PM_OPP=y
CONFIG_RESET_SUNXI=y
CONFIG_SERIO_SUN4I_PS2=y
CONFIG_REGULATOR_PV88080=y
CONFIG_FSI_NEW_DEV_NODE=y
CONFIG_CRYPTO_XTS=y
CONFIG_LEDS_TRIGGER_PANIC=y
CONFIG_CONTEXT_ANALYSIS_TEST=y
CONFIG_CHARGER_GPIO=y
CONFIG_COMMON_CLK_MT8186_MMSYS=y
CONFIG_GPIO_MAX77620=y
CONFIG_GENERIC_PCI_IOMAP=y
CONFIG_IPMI_HANDLER=y
CONFIG_LEDS_MLXREG=y
CONFIG_PHY_UNIPHIER_PCIE=y
CONFIG_MFD_MC13XXX=y
CONFIG_BINFMT_FLAT=y
CONFIG_RTC_DRV_DS17285=y
CONFIG_CLK_IMX95_BLK_CTL=y
CONFIG_IIO_INV_SENSORS_TIMESTAMP=y
CONFIG_I2C_TEGRA=y
CONFIG_NLS_MAC_GAELIC=y
CONFIG_W1_SLAVE_DS2780=y
CONFIG_HW_RANDOM_KEYSTONE=y
CONFIG_DEBUG_STACK_USAGE=y
CONFIG_ARCH_SELECT_MEMORY_MODEL=y
CONFIG_DMA_RESTRICTED_POOL=y
CONFIG_PINCTRL_IMX8MP=y
CONFIG_ARCH_TENSTORRENT=y
CONFIG_SUN55I_A523_MCU_CCU=y
CONFIG_WARN_MISSING_DOCUMENTS=y
CONFIG_PINCTRL_MT8365=y
CONFIG_COMMON_CLK_HI3516CV300=y
CONFIG_SENSORS_TSL2550=y
CONFIG_PINCTRL_PFC_R8A779F0=y
CONFIG_I2C_SLAVE_TESTUNIT=y
CONFIG_VIRTIO_ANCHOR=y
CONFIG_DEBUG_FS_ALLOW_ALL=y
CONFIG_HAVE_LD_DEAD_CODE_DATA_ELIMINATION=y
CONFIG_CV1800_MBOX=y
CONFIG_GP2AP002=y
CONFIG_TRANSPARENT_HUGEPAGE_SHMEM_HUGE_NEVER=y
CONFIG_BACKLIGHT_LM3509=y
CONFIG_CM3323=y
CONFIG_COMMON_CLK_MT6735_IMGSYS=y
CONFIG_ATMEL_SSC=y
CONFIG_INGENIC_CGU_COMMON=y
CONFIG_ARCH_HIBERNATION_POSSIBLE=y
CONFIG_MAX30102=y
CONFIG_JUMP_LABEL=y
CONFIG_PAGE_COUNTER=y
CONFIG_ARM_STI_CPUFREQ=y
CONFIG_GPIO_SPEAR_SPICS=y
CONFIG_ROHM_BD79124=y
CONFIG_MUX_GPIO=y
CONFIG_PINCTRL_STM32MP257=y
CONFIG_EXPORTFS=y
CONFIG_RTC_DRV_STMP=y
CONFIG_HAVE_ARCH_KASAN=y
CONFIG_VL53L0X_I2C=y
CONFIG_SUNXI_SRAM=y
CONFIG_FW_DEVLINK_SYNC_STATE_TIMEOUT=y
CONFIG_NO_HZ_COMMON=y
CONFIG_PINCTRL_IMX53=y
CONFIG_TI_PIPE3=y
CONFIG_GPIO_BCM_KONA=y
CONFIG_NLS_CODEPAGE_874=y
CONFIG_HW_RANDOM_BCM2835=y
CONFIG_MFD_IQS62X=y
CONFIG_MMC35240=y
CONFIG_EXTCON_QCOM_SPMI_MISC=y
CONFIG_SYSCTL_EXCEPTION_TRACE=y
CONFIG_RTC_DRV_BQ4802=y
CONFIG_CRYPTO_MD5=y
CONFIG_IPMI_SSIF=y
CONFIG_SPRD_SC9860_CLK=y
CONFIG_IPMI_KCS_BMC_SERIO=y
CONFIG_PINCTRL_ICELAKE=y
CONFIG_ARCH_USE_MEMREMAP_PROT=y
CONFIG_ARM_SCMI_POWER_CONTROL=y
CONFIG_PINCTRL_CANNONLAKE=y
CONFIG_ARM_MHU_V3=y
CONFIG_I2C_OWL=y
CONFIG_SERIAL_SPRD=y
CONFIG_CHARGER_UCS1002=y
CONFIG_DEBUG_INFO=y
CONFIG_REGMAP_SLIMBUS=y
CONFIG_I2C_SYNQUACER=y
CONFIG_DECOMPRESS_BZIP2=y
CONFIG_NLS_MAC_ROMAN=y
CONFIG_I2C_ALGOPCA=y
CONFIG_ARM_S5PV210_CPUFREQ=y
CONFIG_MFD_LOCHNAGAR=y
CONFIG_CRYPTO_GCM=y
CONFIG_CHARGER_AXP20X=y
CONFIG_GPIO_MXC=y
CONFIG_VM_EVENT_COUNTERS=y
CONFIG_AD3552R_LIB=y
CONFIG_REGULATOR_STW481X_VMMC=y
CONFIG_BINFMT_ELF=y
CONFIG_POLARFIRE_SOC_MAILBOX=y
CONFIG_ARMADA_AP_CP_HELPER=y
CONFIG_PINCTRL_SUN4I_A10=y
CONFIG_OF=y
CONFIG_ARCH_HAS_STRICT_KERNEL_RWX=y
CONFIG_TURRIS_OMNIA_MCU_SYSOFF_WAKEUP=y
CONFIG_DEVFREQ_GOV_SIMPLE_ONDEMAND=y
CONFIG_PINCTRL_RZN1=y
CONFIG_PINCTRL_NS=y
CONFIG_KRETPROBES=y
CONFIG_RPMSG=y
CONFIG_CC_HAS_KASAN_SW_TAGS=y
CONFIG_IOMMU_IO_PGTABLE_DART=y
CONFIG_FB_CFB_IMAGEBLIT=y
CONFIG_I2C_TAOS_EVM=y
CONFIG_CRC16=y
CONFIG_VEML3328=y
CONFIG_RTC_DRV_TEST=y
CONFIG_COMMON_CLK_MT8186_MDPSYS=y
CONFIG_RETHOOK=y
CONFIG_REGULATOR_RZG2L_VBCTRL=y
CONFIG_EXTCON_RT8973A=y
CONFIG_REGULATOR_RT4803=y
CONFIG_RESET_TI_SYSCON=y
CONFIG_PINCTRL_SUN20I_D1=y
CONFIG_ARMADA_37XX_RWTM_MBOX=y
CONFIG_DMAPOOL_TEST=y
CONFIG_PROFILING=y
CONFIG_SLUB_DEBUG=y
CONFIG_HAVE_ARCH_TRACEHOOK=y
CONFIG_VCNL4035=y
CONFIG_RTC_DRV_ABX80X=y
CONFIG_SENSIRION_SGP30=y
CONFIG_PINCTRL_MADERA=y
CONFIG_DEBUG_SPINLOCK=y
CONFIG_COMMON_CLK_MT8186_WPESYS=y
CONFIG_COMMON_CLK_XLNX_CLKWZRD=y
CONFIG_CACHEMAINT_FOR_DMA=y
CONFIG_FSL_FTM_TIMER=y
CONFIG_HAVE_KERNEL_ZSTD=y
CONFIG_COMMON_CLK_MT2712_JPGDECSYS=y
CONFIG_COMMON_CLK_SCPI=y
CONFIG_I2C_MUX_PINCTRL=y
CONFIG_PINCTRL_STM32MP135=y
CONFIG_CRYPTO_842=y
CONFIG_BACKLIGHT_GPIO=y
CONFIG_PINCTRL_TEGRA=y
CONFIG_DEVFREQ_EVENT_EXYNOS_NOCP=y
CONFIG_PINCTRL_SUN8I_A83T=y
CONFIG_CLK_IMXRT1050=y
CONFIG_REGULATOR_88PM800=y
CONFIG_MS5611=y
CONFIG_CRYPTO_LIB_BLAKE2B=y
CONFIG_HAVE_ARCH_MMAP_RND_BITS=y
CONFIG_RTC_DRV_NVIDIA_VRS10=y
CONFIG_MTK_CPUX_TIMER=y
CONFIG_IPMI_DEVICE_INTERFACE=y
CONFIG_PINCTRL_SOPHGO_CV18XX_OPS=y
CONFIG_ARM_RASPBERRYPI_CPUFREQ=y
CONFIG_TEST_MEMINIT=y
CONFIG_PHY_CANAAN_USB=y
CONFIG_MULTIUSER=y
CONFIG_PHY_QCOM_QUSB2=y
CONFIG_GPIOLIB=y
CONFIG_PINCTRL_MERRIFIELD=y
CONFIG_IRQCHIP=y
CONFIG_CRYPTO_ECHAINIV=y
CONFIG_SERIAL_8250_EXTENDED=y
CONFIG_HAS_IOPORT=y
CONFIG_ARCH_SUPPORTS_DEBUG_PAGEALLOC=y
CONFIG_ARM_HIGHBANK_CPUFREQ=y
CONFIG_REGMAP_SPMI=y
CONFIG_PPS_CLIENT_KTIMER=y
CONFIG_EEPROM_IDT_89HPESX=y
CONFIG_BATTERY_PM8916_BMS_VM=y
CONFIG_IMX_SCMI_BBM_EXT=y
CONFIG_PINCTRL_TEGRA238=y
CONFIG_FPGA_MGR_VERSAL_FPGA=y
CONFIG_SPARSE_IRQ=y
CONFIG_PM_GENERIC_DOMAINS_OF=y
CONFIG_IIO_BUFFER_CB=y
CONFIG_UX500_PM_DOMAIN=y
CONFIG_HMC6352=y
CONFIG_RTC_DRV_RX6110=y
CONFIG_SERIAL_8250_TEGRA=y
CONFIG_REGULATOR_STPMIC1=y
CONFIG_EFI_GENERIC_STUB=y
CONFIG_APDS9802ALS=y
CONFIG_IPMI_IPMB=y
CONFIG_I2C_MUX_REG=y
CONFIG_IIO_ST_PRESS=y
CONFIG_COUNTER=y
CONFIG_RESET_STARFIVE_JH7100=y
CONFIG_RCU_DOUBLE_CHECK_CB_TIME=y
CONFIG_BMA180=y
CONFIG_PINCTRL_IMX_SCMI=y
CONFIG_HW_RANDOM_XGENE=y
CONFIG_LEDS_TRIGGER_CAMERA=y
CONFIG_HAVE_PCI=y
CONFIG_MFD_PALMAS=y
CONFIG_MAX44009=y
CONFIG_MFD_AS3722=y
CONFIG_ASPEED_ADC=y
CONFIG_GENERIC_IDLE_POLL_SETUP=y
CONFIG_US5182D=y
CONFIG_MFD_ATMEL_SMC=y
CONFIG_AMD_SBRMI_I2C=y
CONFIG_FB_METRONOME=y
CONFIG_HAVE_PAGE_SIZE_4KB=y
CONFIG_RTC_DRV_MT7622=y
CONFIG_GPIO_MXS=y
CONFIG_MFD_TPS65218=y
CONFIG_ARCH_SUPPORTS_PUD_PFNMAP=y
CONFIG_PROC_PAGE_MONITOR=y
CONFIG_RTC_DRV_DS3232=y
CONFIG_SERIAL_LANTIQ=y
CONFIG_I2C_MUX=y
CONFIG_TCG_TIS_SYNQUACER=y
CONFIG_RISCV_TICKET_SPINLOCKS=y
CONFIG_PINCTRL_JASPERLAKE=y
CONFIG_CRYPTO_CCM=y
CONFIG_IIO_SCMI=y
CONFIG_RTC_DRV_PL031=y
CONFIG_GPIO_SIOX=y
CONFIG_MTK_CMDQ=y
CONFIG_COMMON_CLK_SP7021=y
CONFIG_PM_DEVFREQ_EVENT=y
CONFIG_GPIO_OMAP=y
CONFIG_CRYPTO_HMAC=y
CONFIG_FB_SH_MOBILE_LCDC=y
CONFIG_BUILDTIME_TABLE_SORT=y
CONFIG_RISCV_ISA_VENDOR_EXT_ANDES=y
CONFIG_FW_LOADER_PAGED_BUF=y
CONFIG_LEDS_LM3692X=y
CONFIG_MFD_MADERA=y
CONFIG_PINCTRL_PFC_SH7785=y
CONFIG_PHY_AX3000_EMMC=y
CONFIG_PHY_UNIPHIER_AHCI=y
CONFIG_SERIAL_MCTRL_GPIO=y
CONFIG_EXTCON_PALMAS=y
CONFIG_MFD_MAX77693=y
CONFIG_PROVE_RCU=y
CONFIG_MEDIATEK_MT6360_ADC=y
CONFIG_EXECMEM=y
CONFIG_PINCTRL_SOPHGO_SG2000=y
CONFIG_CGROUP_FREEZER=y
CONFIG_MFD_SMPRO=y
CONFIG_CRYPTO_GENIV=y
CONFIG_SUN5I_CCU=y
CONFIG_ARCH_USE_SYM_ANNOTATIONS=y
CONFIG_PM_GENERIC_DOMAINS=y
CONFIG_ARM_CCN=y
CONFIG_MEMSTICK_DEBUG=y
CONFIG_TI_ADS7138=y
CONFIG_ARCH_SUPPORTS_KEXEC_PURGATORY=y
CONFIG_PINCTRL_AMLOGIC_C3=y
CONFIG_I2C_IMG=y
CONFIG_PINCTRL_MT8135=y
CONFIG_PINCTRL_ASPEED_G7_SOC1=y
CONFIG_CPUFREQ_DT=y
CONFIG_COMMON_CLK_RS9_PCIE=y
CONFIG_NOP_TRACER=y
CONFIG_EDAC_SUPPORT=y
CONFIG_MFD_SUN4I_GPADC=y
CONFIG_SAMSUNG_MC=y
CONFIG_RD_LZ4=y
CONFIG_PAGE_SIZE_LESS_THAN_256KB=y
CONFIG_PINCTRL_AMDISP=y
CONFIG_MTK_IOMMU_V1=y
CONFIG_HAVE_KERNEL_UNCOMPRESSED=y
CONFIG_TEGRA_HOST1X_CONTEXT_BUS=y
CONFIG_PREEMPTION=y
CONFIG_SERIAL_SIFIVE=y
CONFIG_HW_RANDOM_VIRTIO=y
CONFIG_GENERIC_NET_UTILS=y
CONFIG_VALIDATE_FS_PARSER=y
CONFIG_PINCTRL_CS47L90=y
CONFIG_INGENIC_CGU_JZ4725B=y
CONFIG_CRYPTO_LIB_SHA512=y
CONFIG_VCPU_STALL_DETECTOR=y
CONFIG_CC_HAS_ZERO_CALL_USED_REGS=y
CONFIG_LEDS_IS31FL32XX=y
CONFIG_GEHC_PMC_ADC=y
CONFIG_OMAP5_THERMAL=y
CONFIG_PINCTRL_PFC_R8A7743=y
CONFIG_NVMEM=y
CONFIG_RTC_DRV_S35390A=y
CONFIG_HW_RANDOM_TIMERIOMEM=y
CONFIG_FREEZER=y
CONFIG_ARM_AMBA=y
CONFIG_GPIO_BCM_XGS_IPROC=y
CONFIG_IIO_TRIGGER=y
CONFIG_GPIO_TEGRA186=y
CONFIG_W1_SLAVE_DS2431=y
CONFIG_RTC_DRV_S5M=y
CONFIG_MFD_MAX77541=y
CONFIG_SMPRO_MISC=y
CONFIG_MESON_CLK_MEASURE=y
CONFIG_PINCTRL_PFC_R8A774E1=y
CONFIG_IMX9_BLK_CTRL=y
CONFIG_CRYPTO_DH=y
CONFIG_PPS_CLIENT_LDISC=y
CONFIG_RISCV_SCALAR_MISALIGNED=y
CONFIG_RISCV_ISA_SVPBMT=y
CONFIG_HAVE_FUNCTION_TRACER=y
CONFIG_I2C_SH_MOBILE=y
CONFIG_REGULATOR_MAX8973=y
CONFIG_I2C_RZV2M=y
CONFIG_PINCTRL_DENVERTON=y
CONFIG_QCOM_EBI2=y
CONFIG_RTC_DRV_ASPEED=y
CONFIG_FB_SYS_COPYAREA=y
CONFIG_CRYPTO_STREEBOG=y
CONFIG_VEML6075=y
CONFIG_RTC_DRV_RZN1=y
CONFIG_DEBUG_VM=y
CONFIG_OF_RESOLVE=y
CONFIG_CRYPTO_KPP=y
CONFIG_REGULATOR_RT5190A=y
CONFIG_SERIAL_ARC_CONSOLE=y
CONFIG_ARCH_WANTS_NO_INSTR=y
CONFIG_GENERIC_ADC_THERMAL=y
CONFIG_LEGACY_PTYS=y
CONFIG_FUEL_GAUGE_STC3117=y
CONFIG_COMMON_CLK_HI3670=y
CONFIG_REGULATOR_DA9211=y
CONFIG_RTC_DRV_MC13XXX=y
CONFIG_PINCTRL_PFC_R8A7790=y
CONFIG_REGULATOR_TPS65218=y
CONFIG_HAS_IOMEM=y
CONFIG_BCM7120_L2_IRQ=y
CONFIG_ARCH_HAS_PREPARE_SYNC_CORE_CMD=y
CONFIG_PINCTRL_MT8188=y
CONFIG_BACKLIGHT_ATMEL_LCDC=y
CONFIG_CRYPTO_AEAD2=y
CONFIG_DEBUG_RT_MUTEXES=y
CONFIG_LEDS_TRIGGER_TIMER=y
CONFIG_HAVE_ARCH_SECCOMP=y
CONFIG_COMMON_CLK_TI_ADPLL=y
CONFIG_PINCTRL_MT7981=y
CONFIG_HW_RANDOM_HISI=y
CONFIG_I2C_KEMPLD=y
CONFIG_FB_SYSMEM_HELPERS=y
CONFIG_CONTEXT_SWITCH_TRACER=y
CONFIG_NVMEM_QCOM_SEC_QFPROM=y
CONFIG_SPACEMIT_K1_TSENSOR=y
CONFIG_MFD_SY7636A=y
CONFIG_IIO_TRIGGERED_EVENT=y
CONFIG_SYSFS=y
CONFIG_SMI330=y
CONFIG_ADXL380=y
CONFIG_BCM2835_TIMER=y
CONFIG_LEDS_PCA955X=y
CONFIG_INTERVAL_TREE_SPAN_ITER=y
CONFIG_ASYMMETRIC_PUBLIC_KEY_SUBTYPE=y
CONFIG_REGULATOR_RASPBERRYPI_TOUCHSCREEN_V2=y
CONFIG_EFIVAR_FS=y
CONFIG_ISL29501=y
CONFIG_PINCTRL_EIC7700=y
CONFIG_RZG2L_ADC=y
CONFIG_ARCH_WANT_OPTIMIZE_DAX_VMEMMAP=y
CONFIG_IRQ_DOMAIN=y
CONFIG_DEBUG_ATOMIC=y
CONFIG_SIOX=y
CONFIG_MFD_KEMPLD=y
CONFIG_FPGA_MGR_ZYNQ_FPGA=y
CONFIG_TOOLS_SUPPORT_RELR=y
CONFIG_TEST_FREE_PAGES=y
CONFIG_SLIMBUS=y
CONFIG_LD_ORPHAN_WARN=y
CONFIG_PREEMPT_BUILD=y
CONFIG_PINCTRL_WMT=y
CONFIG_HAVE_FUNCTION_ARG_ACCESS_API=y
CONFIG_RTC_INTF_SYSFS=y
CONFIG_TRANSPARENT_HUGEPAGE_MADVISE=y
CONFIG_PINCTRL_PFC_R8A774C0=y
CONFIG_SERIAL_IMX_EARLYCON=y
CONFIG_MADERA_IRQ=y
CONFIG_CONTEXT_TRACKING_USER=y
CONFIG_FPGA=y
CONFIG_IIO_MS_SENSORS_I2C=y
CONFIG_HAVE_ARCH_JUMP_LABEL_RELATIVE=y
CONFIG_VFIO_VIRQFD=y
CONFIG_MMA7660=y
CONFIG_REGULATOR_STM32_BOOSTER=y
CONFIG_BCMA_POSSIBLE=y
CONFIG_AXP20X_ADC=y
CONFIG_PINCTRL_STM32F429=y
CONFIG_HAVE_ARCH_HUGE_VMALLOC=y
CONFIG_CRYPTO_LIB_CHACHA=y
CONFIG_I2C_TEGRA_BPMP=y
CONFIG_CC_HAS_COUNTED_BY=y
CONFIG_INTERCONNECT_MTK=y
CONFIG_PHY_MVEBU_A38X_COMPHY=y
CONFIG_REGULATOR_AD5398=y
CONFIG_BCMA_DRIVER_GPIO=y
CONFIG_NVMEM_UNIPHIER_EFUSE=y
CONFIG_RTC_DRV_IMXDI=y
CONFIG_ASPEED_LPC_CTRL=y
CONFIG_SLAB_FREELIST_HARDENED=y
CONFIG_PINCTRL_GENERIC_MUX=y
CONFIG_RESET_SCMI=y
CONFIG_RESET_CONTROLLER=y
CONFIG_PINCTRL_STARFIVE_JH7110_SYS=y
CONFIG_AK8975=y
CONFIG_HW_RANDOM_EXYNOS=y
CONFIG_MFD_RC5T583=y
CONFIG_MMA9553=y
CONFIG_SIFIVE_PLIC=y
CONFIG_PHY_R8A779F0_ETHERNET_SERDES=y
CONFIG_NEED_DMA_MAP_STATE=y
CONFIG_LEDS_LM3532=y
CONFIG_PHY_QCOM_USB_HS_28NM=y
CONFIG_COMMON_CLK_MT7986=y
CONFIG_CRYPTO_AEGIS128=y
CONFIG_SC27XX_ADC=y
CONFIG_ROHM_BM1390=y
CONFIG_INV_ICM42600_I2C=y
CONFIG_ARM_SCMI_HAVE_SHMEM=y
CONFIG_PINCTRL_PFC_R8A7778=y
CONFIG_PINCTRL_SOPHGO_SG2044=y
CONFIG_SUN50I_A100_R_CCU=y
CONFIG_SENSORS_HMC5843=y
CONFIG_ARCH_HAS_PTDUMP=y
CONFIG_COMMON_CLK_BD718XX=y
CONFIG_REGULATOR_MAX1586=y
CONFIG_COMMON_CLK_MMP2_AUDIO=y
CONFIG_COMMON_CLK_MT2712=y
CONFIG_USER_STACKTRACE_SUPPORT=y
CONFIG_LEDS_LP8864=y
CONFIG_MSTAR_MSC313_MPLL=y
CONFIG_HAVE_DYNAMIC_FTRACE=y
CONFIG_SUN50I_IOMMU=y
CONFIG_NVMEM_IMX_IIM=y
CONFIG_SI1145=y
CONFIG_PINCTRL_CHERRYVIEW=y
CONFIG_CCS811=y
CONFIG_REED_SOLOMON=y
CONFIG_RD_GZIP=y
CONFIG_PINCTRL_TEGRA124=y
CONFIG_HAVE_KERNEL_BZIP2=y
CONFIG_MFD_KHADAS_MCU=y
CONFIG_CRYPTO_DEFLATE=y
CONFIG_RANDOMIZE_KSTACK_OFFSET=y
CONFIG_NLS_CODEPAGE_850=y
CONFIG_AXP20X_POWER=y
CONFIG_HDQ_MASTER_OMAP=y
CONFIG_GPIO_BD9571MWV=y
CONFIG_CGROUP_RDMA=y
CONFIG_PHY_BCM_NS_USB2=y
CONFIG_BMA400=y
CONFIG_PHY_STARFIVE_JH7110_DPHY_RX=y
CONFIG_MFD_TPS6586X=y
CONFIG_STMP_DEVICE=y
CONFIG_INV_ICM42600=y
CONFIG_BACKLIGHT_LM3639=y
CONFIG_SENSORS_LM3533=y
CONFIG_SERIAL_SCCNXP=y
CONFIG_ARM_CMN=y
CONFIG_GPIO_VIRTIO=y
CONFIG_PAGE_SIZE_LESS_THAN_64KB=y
CONFIG_IIO_KX022A=y
CONFIG_CONTEXT_TRACKING_USER_FORCE=y
CONFIG_RESET_MESON_COMMON=y
CONFIG_DEBUG_OBJECTS=y
CONFIG_SOC_IMX9=y
CONFIG_LIDAR_LITE_V2=y
CONFIG_HAVE_ARCH_SECCOMP_FILTER=y
CONFIG_MFD_SEC_CORE=y
CONFIG_AD7150=y
CONFIG_REGULATOR_LP87565=y
CONFIG_ADP810=y
CONFIG_REGULATOR=y
CONFIG_COMMON_CLK_HI3559A=y
CONFIG_EXTCON_USB_GPIO=y
CONFIG_PRIME_NUMBERS=y
