CONFIG_MTD_CFI_UTIL=n
CONFIG_CRYPTO_DEV_HISI_QM=n
CONFIG_REGMAP_SLIMBUS=n
CONFIG_BCM54140_PHY=n
CONFIG_ARCH_HAS_CPU_CACHE_INVALIDATE_MEMREGION=n
CONFIG_NETFILTER_ADVANCED=n
CONFIG_SDM_LPASSCC_845=n
CONFIG_CRC64_ARCH=n
CONFIG_FB_PROVIDE_GET_FB_UNMAPPED_AREA=n
CONFIG_RPMSG=n
CONFIG_SYSTEM_TRUSTED_KEYRING=n
CONFIG_IRQ_DOMAIN=n
CONFIG_HAVE_GIGANTIC_FOLIOS=n
CONFIG_OLD_SIGSUSPEND3=n
CONFIG_GROUP_SCHED_WEIGHT=n
CONFIG_COMMON_CLK_S2MPS11=n
CONFIG_ZSTD_COMPRESS=n
CONFIG_FS_IOMAP=n
CONFIG_UEFI_CPER_ARM=n
CONFIG_RAID6_PQ_ARCH=n
CONFIG_MMC_HSQ=n
CONFIG_NFC_NCI=n
CONFIG_FUSE_IO_URING=n
CONFIG_USB=n
CONFIG_FUSE_FS=n
CONFIG_TEGRA_SOCTHERM=n
CONFIG_COMMON_CLK_MT8186_VENCSYS=n
CONFIG_UNIPHIER_SYSTEM_BUS=n
CONFIG_RCAR_DMAC=n
CONFIG_QCOM_FALKOR_ERRATUM_E1041=n
CONFIG_KVM_GENERIC_HARDWARE_ENABLING=n
CONFIG_MTD_CFI=n
CONFIG_AS_IS_GNU=n
CONFIG_INTERCONNECT_QCOM=n
CONFIG_ARM_SCMI_HAVE_MSG=n
CONFIG_LEDS_BCM63138=n
CONFIG_ATA_SFF=n
CONFIG_DRM_CLIENT_DEFAULT_FBDEV=n
CONFIG_MTD_COMPLEX_MAPPINGS=n
CONFIG_RPMSG_NS=n
CONFIG_SERIAL_MVEBU_UART=n
CONFIG_BATTERY_MAX17042=n
CONFIG_PCIE_ROCKCHIP_HOST=n
CONFIG_INPUT_RK805_PWRKEY=n
CONFIG_SND_SOC_LPASS_CPU=n
CONFIG_USB_CHIPIDEA_IMX=n
CONFIG_PCI_PWRCTRL_GENERIC=n
CONFIG_ARM64_AS_HAS_MTE=n
CONFIG_PHY_MTK_UFS=n
CONFIG_OF_RESERVED_MEM=n
CONFIG_MEMFD_CREATE=n
CONFIG_CROS_EC_SENSORHUB=n
CONFIG_SND_MESON_AXG_TDMIN=n
CONFIG_VIDEO_IMX7_CSI=n
CONFIG_REALTEK_PHY=n
CONFIG_BT_HCIBTUSB_POLL_SYNC=n
CONFIG_MTK_TIMER=n
CONFIG_RELOCATABLE=n
CONFIG_RTC_DRV_BBNSM=n
CONFIG_MMC_SDHCI_MSM=n
CONFIG_HAVE_SETUP_PER_CPU_AREA=n
CONFIG_RTSN=n
CONFIG_QCOM_PIL_INFO=n
CONFIG_BRCMUTIL=n
CONFIG_POSIX_MQUEUE=n
CONFIG_FB_SYS_IMAGEBLIT=n
CONFIG_BLOCK_LEGACY_AUTOLOAD=n
CONFIG_DRM_SII902X=n
CONFIG_BLK_DEV_BSG_COMMON=n
CONFIG_SERIAL_STM32=n
CONFIG_QCOM_IPA=n
CONFIG_PINCTRL_SUN50I_A64_R=n
CONFIG_COMMON_CLK_VISCONTI=n
CONFIG_SND_SOC_LPASS_SC7280=n
CONFIG_IMX_SC_THERMAL=n
CONFIG_REGULATOR_GPIO=n
CONFIG_PINCTRL_SM8650_LPASS_LPI=n
CONFIG_NVMEM_QCOM_QFPROM=n
CONFIG_DRM_POWERVR=n
CONFIG_SND_SOC_RT5640=n
CONFIG_DRM_PANEL_HIMAX_HX83112A=n
CONFIG_QCOM_CPUCP_MBOX=n
CONFIG_SND_SOC_MSM8996=n
CONFIG_SND_SOC_RK817=n
CONFIG_CLK_X1E80100_GCC=n
CONFIG_MMC_SDHCI_BST=n
CONFIG_DRM_IMX8MP_DW_HDMI_BRIDGE=n
CONFIG_OF_GPIO=n
CONFIG_MOUSE_PS2_ALPS=n
CONFIG_USB_CDNS3_GADGET=n
CONFIG_DRM_IMX8MP_DW_HDMI_BRIDGE_CONNECTOR_FIXUP=n
CONFIG_USB_ROLE_SWITCH=n
CONFIG_DRM_MSM_MDP5=n
CONFIG_XOR_BLOCKS=n
CONFIG_SPI_MT65XX=n
CONFIG_PRU_REMOTEPROC=n
CONFIG_SND_SOC_MT8183_MT6358_TS3A227E_MAX98357A=n
CONFIG_PHY_EXYNOS_MIPI_VIDEO=n
CONFIG_CLK_RCAR_CPG_LIB=n
CONFIG_CRYPTO_DEV_FSL_CAAM_PKC_API=n
CONFIG_GENERIC_ARCH_TOPOLOGY=n
CONFIG_MUX_MMIO=n
CONFIG_COMMON_CLK_MT8192_MSDC=n
CONFIG_SM_GCC_8550=n
CONFIG_POWER_RESET_GPIO=n
CONFIG_BCM74110_MAILBOX=n
CONFIG_CRYPTO_LIB_AES_CBC_MACS=n
CONFIG_COMMON_CLK_MT8196_MFGCFG=n
CONFIG_COMMON_CLK_CS2000_CP=n
CONFIG_AUDIT=n
CONFIG_IMX_SCMI_MISC_DRV=n
CONFIG_HAVE_FUNCTION_GRAPH_TRACER=n
CONFIG_BT_HCIUART_QCA=n
CONFIG_PWM_ROCKCHIP=n
CONFIG_HOTPLUG_SMT=n
CONFIG_SOUNDWIRE_QCOM=n
CONFIG_CRYPTO_DEV_BCM_SPU=n
CONFIG_PHY_MTK_MIPI_DSI=n
CONFIG_ROCKCHIP_DW_MIPI_DSI=n
CONFIG_USB_CDNS3_PCI_WRAP=n
CONFIG_PSTORE_RAM=n
CONFIG_MMC_SPI=n
CONFIG_ARM_CCI400_COMMON=n
CONFIG_MEMORY_HOTPLUG=n
CONFIG_IPQ_NSSCC_9574=n
CONFIG_COMMON_CLK_MT8188_VDOSYS=n
CONFIG_COMMON_CLK_MT6765=n
CONFIG_ARCH_R9A09G057=n
CONFIG_ACPI_APEI=n
CONFIG_PCI_HOST_COMMON=n
CONFIG_INTERCONNECT_QCOM_SM8750=n
CONFIG_RD_LZMA=n
CONFIG_GENERIC_IRQ_MIGRATION=n
CONFIG_MFD_HI6421_PMIC=n
CONFIG_RESET_UNIPHIER_GLUE=n
CONFIG_ACPI_HOTPLUG_MEMORY=n
CONFIG_PWM_RENESAS_RCAR=n
CONFIG_GENERIC_STRNLEN_USER=n
CONFIG_SYSC_R8A779A0=n
CONFIG_ARM64_ERRATUM_832075=n
CONFIG_CRYPTO_XTS=n
CONFIG_IMX8M_BLK_CTRL=n
CONFIG_ARCH_ENABLE_THP_MIGRATION=n
CONFIG_COMMON_CLK_MT8188_MFGCFG=n
CONFIG_DRM_PANEL_MANTIX_MLAF057WE51=n
CONFIG_HISILICON_ERRATUM_161010101=n
CONFIG_IRQCHIP=n
CONFIG_IGB_HWMON=n
CONFIG_GENERIC_CPU_VULNERABILITIES=n
CONFIG_SND_SOC_SOF_MT8195=n
CONFIG_LEDS_CLASS_MULTICOLOR=n
CONFIG_IO_URING_BPF=n
CONFIG_SECURITY=n
CONFIG_ACPI_HMAT=n
CONFIG_NET_DSA_TAG_BRCM_LEGACY=n
CONFIG_KALLSYMS=n
CONFIG_NET_CLS_ACT=n
CONFIG_MUX_GPIO=n
CONFIG_SC_GCC_7280=n
CONFIG_COMMON_CLK_MT8196_VDECSYS=n
CONFIG_VIDEO_QCOM_CAMSS=n
CONFIG_CHARGER_CROS_CONTROL=n
CONFIG_COMMON_CLK_XGENE=n
CONFIG_RTD119X_WATCHDOG=n
CONFIG_PREEMPT_RCU=n
CONFIG_GPIO_RTD=n
CONFIG_PCI_SKY1_HOST=n
CONFIG_MEDIA_SUPPORT_FILTER=n
CONFIG_MOUSE_PS2_SYNAPTICS_SMBUS=n
CONFIG_SYSVIPC_COMPAT=n
CONFIG_SND_SOC_XILINX_SPDIF=n
CONFIG_USB_VIDEO_CLASS_INPUT_EVDEV=n
CONFIG_WLAN_VENDOR_MICROCHIP=n
CONFIG_MSM_MMCC_8994=n
CONFIG_ARCH_HAS_PTE_SPECIAL=n
CONFIG_ARCH_TESLA_FSD=n
CONFIG_PINCTRL_RZV2M=n
CONFIG_BRIDGE_IGMP_SNOOPING=n
CONFIG_ATH10K_CE=n
CONFIG_PINCTRL_IPQ8074=n
CONFIG_DEVFREQ_EVENT_ROCKCHIP_DFI=n
CONFIG_MACVLAN=n
CONFIG_CLK_PX30=n
CONFIG_HW_RANDOM_CN10K=n
CONFIG_PCIEPORTBUS=n
CONFIG_RANDOMIZE_KSTACK_OFFSET=n
CONFIG_DRM_TIDSS=n
CONFIG_IKCONFIG=n
CONFIG_CRYPTO_LIB_SHA3_ARCH=n
CONFIG_HAVE_SCHED_AVG_IRQ=n
CONFIG_I2C_IMX=n
CONFIG_CMA_SIZE_SEL_MBYTES=n
CONFIG_IRQ_POLL=n
CONFIG_ARM_MEDIATEK_CPUFREQ=n
CONFIG_ARM_GIC_ITS_PARENT=n
CONFIG_DM_ZERO=n
CONFIG_MEDIATEK_MT6577_AUXADC=n
CONFIG_USB_RENESAS_USB3=n
CONFIG_USB_OHCI_EXYNOS=n
CONFIG_XILINX_ZYNQMP_DMA=n
CONFIG_GOOGLE_COREBOOT_TABLE=n
CONFIG_COMMON_CLK_MT8186_VDECSYS=n
CONFIG_DRM_RCAR_LVDS=n
CONFIG_LOCKD=n
CONFIG_SERIAL_MVEBU_CONSOLE=n
CONFIG_I2C_S3C2410=n
CONFIG_CLK_RENESAS_VBATTB=n
CONFIG_DEBUG_KERNEL=n
CONFIG_SND_SOC_X1E80100=n
CONFIG_PINCTRL_S900=n
CONFIG_SUNXI_WATCHDOG=n
CONFIG_PINCTRL_PFC_R8A779G0=n
CONFIG_TI_SCI_INTR_IRQCHIP=n
CONFIG_BACKLIGHT_CLASS_DEVICE=n
CONFIG_QCOM_SMEM=n
CONFIG_KCMP=n
CONFIG_SND_SOC_SM8250=n
CONFIG_USB_DWC3_DUAL_ROLE=n
CONFIG_VIDEO_HANTRO_STM32MP25=n
CONFIG_DW_APB_TIMER=n
CONFIG_DRM_MSM_DSI=n
CONFIG_SND_SOC_MT6358=n
CONFIG_QCOM_L3_PMU=n
CONFIG_BACKLIGHT_QCOM_WLED=n
CONFIG_EFIVAR_FS=n
CONFIG_MLX5_CORE=n
CONFIG_NVMEM_ROCKCHIP_EFUSE=n
CONFIG_CC_HAS_BRANCH_PROT_PAC_RET=n
CONFIG_SENSORS_ARM_SCPI=n
CONFIG_ARCH_USE_MEMREMAP_PROT=n
CONFIG_NVMEM_LAYOUTS=n
CONFIG_GCC10_NO_ARRAY_BOUNDS=n
CONFIG_MEMCG=n
CONFIG_TOUCHSCREEN_ILI210X=n
CONFIG_RTC_DRV_PCF85063=n
CONFIG_IMX_SCMI_MISC_EXT=n
CONFIG_HAVE_FUNCTION_TRACER=n
CONFIG_CHROME_PLATFORMS=n
CONFIG_XEN_BACKEND=n
CONFIG_PINCTRL_NORD=n
CONFIG_NLATTR=n
CONFIG_COMMON_CLK_MT8195=n
CONFIG_NET_SOCK_MSG=n
CONFIG_USB_ULPI_BUS=n
CONFIG_CRYPTO_LIB_GF128HASH_ARCH=n
CONFIG_IOMMU_DEFAULT_DMA_STRICT=n
CONFIG_SA_DISPCC_8775P=n
CONFIG_QCOM_Q6V5_MSS=n
CONFIG_SND_SOC_QCOM_COMMON=n
CONFIG_PINCTRL_MSM8953=n
CONFIG_FSL_DPAA_ETH=n
CONFIG_PHY_QCOM_EDP=n
CONFIG_VDSO_GETRANDOM=n
CONFIG_SND_SOC_TOPOLOGY=n
CONFIG_SPRD_SC9860_CLK=n
CONFIG_CAVIUM_ERRATUM_30115=n
CONFIG_HAVE_ARCH_MMAP_RND_BITS=n
CONFIG_DRM_VC4=n
CONFIG_XILINX_AXI_EMAC=n
CONFIG_VIRT_XFER_TO_GUEST_WORK=n
CONFIG_SND_SOC_QCOM_OFFLOAD_UTILS=n
CONFIG_TEGRA_ACONNECT=n
CONFIG_USB_CHIPIDEA_GENERIC=n
CONFIG_PNFS_FLEXFILE_LAYOUT=n
CONFIG_NET_VENDOR_HISILICON=n
CONFIG_MESON_WATCHDOG=n
CONFIG_PHY_TEGRA_XUSB=n
CONFIG_XEN_FBDEV_FRONTEND=n
CONFIG_XEN_BALLOON=n
CONFIG_TUN=n
CONFIG_RC_DECODERS=n
CONFIG_VIDEO_QCOM_VENUS=n
CONFIG_ROCKCHIP_VOP2=n
CONFIG_ACPI_CPPC_LIB=n
CONFIG_MTD_NAND_ECC_SW_HAMMING=n
CONFIG_PWM_SAMSUNG=n
CONFIG_AHCI_DWC=n
CONFIG_CRC_T10DIF=n
CONFIG_QCOM_COINCELL=n
CONFIG_WLAN_VENDOR_ATH=n
CONFIG_FPGA_MGR_VERSAL_FPGA=n
CONFIG_SND_PCM=n
CONFIG_ARCH_RENESAS=n
CONFIG_SYSC_R8A774A1=n
CONFIG_CLKSRC_MMIO=n
CONFIG_ARM_GIC_V3=n
CONFIG_COMMON_CLK_MESON_REGMAP=n
CONFIG_PINCTRL_MESON=n
CONFIG_REGULATOR_QCOM_PM8008=n
CONFIG_HISILICON_ERRATUM_161600802=n
CONFIG_SL28CPLD_INTC=n
CONFIG_PINCTRL_MSM8996=n
CONFIG_BRCMSTB_DPFE=n
CONFIG_ARCH_HAS_NON_OVERLAPPING_ADDRESS_SPACE=n
CONFIG_CHARGER_RK817=n
CONFIG_EFI_GENERIC_STUB=n
CONFIG_OF_EARLY_FLATTREE=n
CONFIG_SND_SOC_FSL_EASRC=n
CONFIG_GPIO_SYSCON=n
CONFIG_COMMON_CLK_MT8195_IMGSYS=n
