CONFIG_ACPI_WMI=n
CONFIG_MTRR=n
CONFIG_INPUT_MOUSE=n
CONFIG_IP_PNP_DHCP=n
CONFIG_SCSI_MOD=n
CONFIG_SUNRPC_BACKCHANNEL=n
CONFIG_ARCH_SUPPORTS_UPROBES=n
CONFIG_MITIGATION_SSB=n
CONFIG_ARCH_USE_MEMTEST=n
CONFIG_BLK_CGROUP_IOLATENCY=n
CONFIG_DECOMPRESS_LZO=n
CONFIG_HAVE_PREEMPT_DYNAMIC_CALL=n
CONFIG_MODIFY_LDT_SYSCALL=n
CONFIG_BSD_PROCESS_ACCT=n
CONFIG_WLAN_VENDOR_TI=n
CONFIG_PATA_AMD=n
CONFIG_DEBUG_STACK_USAGE=n
CONFIG_TCP_MD5SIG=n
CONFIG_XZ_DEC=n
CONFIG_ARCH_CLOCKSOURCE_INIT=n
CONFIG_IOMMU_DMA=n
CONFIG_X86_DISABLED_FEATURE_PTI=n
CONFIG_CC_HAS_MULTIDIMENSIONAL_NONSTRING=n
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO_BARE=n
CONFIG_MITIGATION_RFDS=n
CONFIG_NET_VENDOR_NI=n
CONFIG_CGROUP_RDMA=n
CONFIG_SND_SEQ_DEVICE=n
CONFIG_FRAME_POINTER=n
CONFIG_ARCH_SUPPORTS_KEXEC_BZIMAGE_VERIFY_SIG=n
CONFIG_CHR_DEV_SG=n
CONFIG_HAVE_PAGE_SIZE_4KB=n
CONFIG_ACPI_PROCESSOR_IDLE=n
CONFIG_CPU_FREQ_GOV_PERFORMANCE=n
CONFIG_CACHESTAT_SYSCALL=n
CONFIG_HAVE_KERNEL_ZSTD=n
CONFIG_X86_LOCAL_APIC=n
CONFIG_RANDSTRUCT_NONE=n
CONFIG_FW_LOADER=n
CONFIG_PERF_EVENTS=n
CONFIG_UNWINDER_FRAME_POINTER=n
CONFIG_FW_CACHE=n
CONFIG_NVMEM=n
CONFIG_MODULE_UNLOAD=n
CONFIG_RPCSEC_GSS_KRB5=n
CONFIG_MOUSE_PS2=n
CONFIG_HAVE_GENERIC_TIF_BITS=n
CONFIG_NETFILTER_XT_TARGET_NFLOG=n
CONFIG_NF_CONNTRACK_SIP=n
CONFIG_SND_USB=n
CONFIG_VIRTIO_PCI_ADMIN_LEGACY=n
CONFIG_GENERIC_IRQ_ENTRY=n
CONFIG_BLK_CGROUP_IOPRIO=n
CONFIG_MMU_LAZY_TLB_REFCOUNT=n
CONFIG_USB_EHCI_TT_NEWSCHED=n
CONFIG_EPOLL=n
CONFIG_PREEMPT_BUILD=n
CONFIG_CRYPTO_SHA512=n
CONFIG_X86_DISABLED_FEATURE_SGX=n
CONFIG_HAVE_MMIOTRACE_SUPPORT=n
CONFIG_SATA_PMP=n
CONFIG_PERF_EVENTS_INTEL_UNCORE=n
CONFIG_NET_VENDOR_QUALCOMM=n
CONFIG_CRYPTO_SKCIPHER2=n
CONFIG_NET_VENDOR_AMD=n
CONFIG_CC_HAS_SANE_FUNCTION_ALIGNMENT=n
CONFIG_DECOMPRESS_GZIP=n
CONFIG_DMA_ENGINE=n
CONFIG_HW_RANDOM=n
CONFIG_CRYPTO_CAMELLIA=n
CONFIG_DECOMPRESS_XZ=n
CONFIG_MMU_GATHER_RCU_TABLE_FREE=n
CONFIG_SECCOMP_FILTER=n
CONFIG_DM_ZERO=n
CONFIG_HOTPLUG_CORE_SYNC=n
CONFIG_X86_MCE=n
CONFIG_SERIO_I8042=n
CONFIG_NLS_ISO8859_1=n
CONFIG_ACPI_THERMAL=n
CONFIG_FAT_FS=n
CONFIG_NF_LOG_IPV6=n
CONFIG_IOMMU_IOVA=n
CONFIG_INTEL_TCC=n
CONFIG_PROFILING=n
CONFIG_NET_VENDOR_ALIBABA=n
CONFIG_X86_ACPI_CPUFREQ=n
CONFIG_SBITMAP=n
CONFIG_DUMMY_CONSOLE=n
CONFIG_AMD_NODE=n
CONFIG_HAS_DMA=n
CONFIG_SG_POOL=n
CONFIG_SND_PROC_FS=n
CONFIG_CRYPTO_CTS=n
CONFIG_ARCH_WANT_IPC_PARSE_VERSION=n
CONFIG_LEDS_CLASS=n
CONFIG_ATA=n
CONFIG_HAVE_C_RECORDMCOUNT=n
CONFIG_PCSPKR_PLATFORM=n
CONFIG_ACPI_CONTAINER=n
CONFIG_HAVE_KPROBES=n
CONFIG_KPROBE_EVENTS=n
CONFIG_MOUSE_PS2_CYPRESS=n
CONFIG_IA32_FEAT_CTL=n
CONFIG_IRQ_DOMAIN=n
CONFIG_MITIGATION_TAA=n
CONFIG_PCMCIA=n
CONFIG_X86_DISABLED_FEATURE_LAM=n
CONFIG_HAVE_KERNEL_LZMA=n
CONFIG_XARRAY_MULTI=n
CONFIG_PM_TRACE=n
CONFIG_NETWORK_FILESYSTEMS=n
CONFIG_CRYPTO_CMAC=n
CONFIG_BITREVERSE=n
CONFIG_ATA_FORCE=n
CONFIG_SECCOMP=n
CONFIG_CLONE_BACKWARDS=n
CONFIG_ASYMMETRIC_PUBLIC_KEY_SUBTYPE=n
CONFIG_DM_MIRROR=n
CONFIG_SND_PCM_TIMER=n
CONFIG_EVENT_TRACING=n
CONFIG_PREEMPTION=n
CONFIG_TICK_CPU_ACCOUNTING=n
CONFIG_X86_DISABLED_FEATURE_IBT=n
CONFIG_QUOTA_TREE=n
CONFIG_KEXEC=n
CONFIG_DMIID=n
CONFIG_CRYPTO_HW=n
CONFIG_ACPI=n
CONFIG_GENERIC_IRQ_SHOW=n
CONFIG_USB_HID=n
CONFIG_IP6_NF_MATCH_IPV6HEADER=n
CONFIG_VMCORE_INFO=n
CONFIG_AUDIT_GENERIC=n
CONFIG_KRETPROBES=n
CONFIG_ARCH_HIBERNATION_POSSIBLE=n
CONFIG_RCU_NEED_SEGCBLIST=n
CONFIG_GENERIC_BITREVERSE=n
CONFIG_TCP_CONG_CUBIC=n
CONFIG_DEVTMPFS=n
CONFIG_NET=n
CONFIG_DEBUG_BOOT_PARAMS=n
CONFIG_PAGE_SIZE_LESS_THAN_64KB=n
CONFIG_CPU_IDLE=n
CONFIG_KPROBES=n
CONFIG_ARCH_USE_SYM_ANNOTATIONS=n
CONFIG_GENERIC_ISA_DMA=n
CONFIG_BLOCK_LEGACY_AUTOLOAD=n
CONFIG_NET_VENDOR_VERTEXCOM=n
CONFIG_SERIAL_8250_MANY_PORTS=n
CONFIG_MD_BITMAP_FILE=n
CONFIG_INPUT_KEYBOARD=n
CONFIG_FONT_AUTOSELECT=n
CONFIG_HAVE_ARCH_KSTACK_ERASE=n
CONFIG_THREAD_INFO_IN_TASK=n
CONFIG_LOCK_DEBUGGING_SUPPORT=n
CONFIG_NETFILTER_XT_MATCH_STATE=n
CONFIG_ACPI_NHLT=n
CONFIG_SOFTIRQ_ON_OWN_STACK=n
CONFIG_CONTEXT_SWITCH_TRACER=n
CONFIG_CPUSETS=n
CONFIG_ARCH_HAS_KERNEL_FPU_SUPPORT=n
CONFIG_POWER_SUPPLY_HWMON=n
CONFIG_SND_HDA_I915=n
CONFIG_RTC_INTF_DEV=n
CONFIG_TIME_NS=n
CONFIG_RD_XZ=n
CONFIG_NF_NAT=n
CONFIG_E1000=n
CONFIG_SND_CTL_FAST_LOOKUP=n
CONFIG_GENERIC_PENDING_IRQ=n
CONFIG_SERIAL_8250_SHARE_IRQ=n
CONFIG_ARCH_SUPPORTS_KEXEC_PURGATORY=n
CONFIG_WLAN_VENDOR_ADMTEK=n
CONFIG_BLK_DEV_SR=n
CONFIG_CRYPTO_LIB_AES_CBC_MACS=n
CONFIG_BINFMT_ELF=n
CONFIG_CRYPTO_LIB_SHA1=n
CONFIG_SND_HDA=n
CONFIG_YENTA_ENE_TUNE=n
CONFIG_NET_VENDOR_DLINK=n
CONFIG_SGL_ALLOC=n
CONFIG_EARLY_PRINTK=n
CONFIG_NET_VENDOR_MARVELL=n
CONFIG_NF_CONNTRACK=n
CONFIG_BLK_DEV_DM_BUILTIN=n
CONFIG_ARCH_HAS_STRICT_KERNEL_RWX=n
CONFIG_HUGETLBFS=n
CONFIG_INITRAMFS_PRESERVE_MTIME=n
CONFIG_NET_NS=n
CONFIG_SCHED_INFO=n
CONFIG_HOTPLUG_SMT=n
CONFIG_USB_NET_DRIVERS=n
CONFIG_USB_DEFAULT_PERSIST=n
CONFIG_PCIEASPM=n
CONFIG_ACPI_HOTPLUG_CPU=n
CONFIG_MAGIC_SYSRQ=n
CONFIG_PREEMPT_DYNAMIC=n
CONFIG_NET_VENDOR_CISCO=n
CONFIG_HOTPLUG_SPLIT_STARTUP=n
CONFIG_AUDIT=n
CONFIG_NET_VENDOR_CAVIUM=n
CONFIG_RTC_DRV_CMOS=n
CONFIG_X86_DISABLED_FEATURE_SYSCALL32=n
CONFIG_X86_UMIP=n
CONFIG_PCMCIA_LOAD_CIS=n
CONFIG_CRYPTO_AKCIPHER2=n
CONFIG_FSNOTIFY=n
CONFIG_GRACE_PERIOD=n
CONFIG_HAVE_STATIC_CALL=n
CONFIG_GPIOLIB_LEGACY=n
CONFIG_BPF=n
CONFIG_LZ4_COMPRESS=n
CONFIG_GENERIC_BUG_RELATIVE_POINTERS=n
CONFIG_ARCH_HAS_PTE_SPECIAL=n
CONFIG_EFI=n
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST_IDLE=n
CONFIG_NEW_LEDS=n
CONFIG_WLAN_VENDOR_ATH=n
CONFIG_HAVE_ARCH_PREL32_RELOCATIONS=n
CONFIG_E100=n
CONFIG_HAVE_ARCH_RANDOMIZE_KSTACK_OFFSET=n
CONFIG_ARCH_STACKWALK=n
CONFIG_EXCLUSIVE_SYSTEM_RAM=n
CONFIG_ATA_PIIX=n
CONFIG_BLK_MQ_STACKING=n
CONFIG_NETFILTER_NETLINK_LOG=n
CONFIG_NF_DEFRAG_IPV4=n
CONFIG_PADATA=n
CONFIG_ACPI_REV_OVERRIDE_POSSIBLE=n
CONFIG_NET_VENDOR_HISILICON=n
CONFIG_HAVE_DYNAMIC_FTRACE=n
CONFIG_HAVE_DEBUG_STACKOVERFLOW=n
CONFIG_HAVE_ARCH_JUMP_LABEL=n
CONFIG_NETFILTER_XT_TARGET_MASQUERADE=n
CONFIG_DRM_I915_CAPTURE_ERROR=n
CONFIG_AUDITSYSCALL=n
CONFIG_X86_MCE_INTEL=n
CONFIG_EEEPC_LAPTOP=n
CONFIG_PCI_MSI=n
CONFIG_COMPAT_32=n
CONFIG_EXECMEM=n
CONFIG_NEED_PER_CPU_EMBED_FIRST_CHUNK=n
CONFIG_SUSPEND=n
CONFIG_HAVE_ARCH_JUMP_LABEL_RELATIVE=n
CONFIG_USB_PCI_AMD=n
CONFIG_NF_REJECT_IPV4=n
CONFIG_TREE_SRCU=n
CONFIG_AUTOFS_FS=n
CONFIG_HAVE_CMPXCHG_LOCAL=n
CONFIG_CC_NO_STRINGOP_OVERFLOW=n
CONFIG_NET_XGRESS=n
CONFIG_LEGACY_DIRECT_IO=n
CONFIG_ARCH_HAS_CACHE_LINE_SIZE=n
CONFIG_CC_NO_ARRAY_BOUNDS=n
CONFIG_PAGE_MAPCOUNT=n
CONFIG_SELECT_MEMORY_MODEL=n
CONFIG_DEBUG_BUGVERBOSE=n
CONFIG_USB_STORAGE=n
CONFIG_SECTION_MISMATCH_WARN_ONLY=n
CONFIG_ACPI_PROCESSOR=n
CONFIG_EARLY_PRINTK_USB=n
CONFIG_CRYPTO_LIB_SHA512=n
CONFIG_HAVE_KERNEL_LZ4=n
CONFIG_NET_VENDOR_NATSEMI=n
CONFIG_ARCH_MHP_MEMMAP_ON_MEMORY_ENABLE=n
CONFIG_TICK_ONESHOT=n
CONFIG_PROC_EVENTS=n
CONFIG_NET_CORE=n
CONFIG_HARDIRQS_SW_RESEND=n
CONFIG_THERMAL_NETLINK=n
CONFIG_SERIO_LIBPS2=n
CONFIG_HAVE_HW_BREAKPOINT=n
CONFIG_MAC80211_LEDS=n
CONFIG_HAVE_HARDLOCKUP_DETECTOR_BUDDY=n
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE=n
CONFIG_X86_THERMAL_VECTOR=n
CONFIG_IP_PIMSM_V2=n
CONFIG_SECURITY_NETWORK=n
CONFIG_CC_HAS_ASSUME=n
CONFIG_UNIX=n
CONFIG_CRYPTO_KRB5ENC=n
CONFIG_AS_IS_GNU=n
CONFIG_NET_VENDOR_LITEX=n
CONFIG_BLK_DEV_INITRD=n
CONFIG_SYMBOLIC_ERRNAME=n
CONFIG_CARDBUS=n
CONFIG_HID_SAMSUNG=n
CONFIG_HAVE_GUP_FAST=n
CONFIG_PCI_MMCONFIG=n
CONFIG_CGROUP_DEBUG=n
CONFIG_HAVE_FUTEX_ROBUST_UNLOCK=n
CONFIG_TIME_NS_VDSO=n
CONFIG_NET_PTP_CLASSIFY=n
CONFIG_HAVE_PCSPKR_PLATFORM=n
CONFIG_IP_ROUTE_MULTIPATH=n
CONFIG_NETFILTER_XT_MATCH_POLICY=n
CONFIG_9P_FS=n
CONFIG_CONNECTOR=n
CONFIG_IO_URING_ZCRX=n
CONFIG_NLS=n
