CONFIG_PINCTRL_IMX8MN=n
CONFIG_FAIR_GROUP_SCHED=n
CONFIG_USB_PEGASUS=n
CONFIG_INTERCONNECT_QCOM_SM8550=n
CONFIG_TYPEC_MUX_WCD939X_USBSS=n
CONFIG_SM_TCSRCC_8650=n
CONFIG_EXYNOS_CHIPID=n
CONFIG_ATH10K=n
CONFIG_DRM_MEDIATEK_HDMI_COMMON=n
CONFIG_NET_SCH_ETF=n
CONFIG_NET_DSA_TAG_BRCM_COMMON=n
CONFIG_CRYPTO_DEV_QCE_SHA=n
CONFIG_FSL_ENETC_CORE=n
CONFIG_PINCTRL_IMX91=n
CONFIG_NET_SCH_CBS=n
CONFIG_DRM_LIMA=n
CONFIG_SYSCTL=n
CONFIG_RSI_SDIO=n
CONFIG_CLK_KAANAPALI_TCSRCC=n
CONFIG_PNFS_BLOCK=n
CONFIG_CHARGER_MT6360=n
CONFIG_REGULATOR_UNIPHIER=n
CONFIG_SND_SOC_ROCKCHIP_RT5645=n
CONFIG_DRM_PANEL_NOVATEK_NT36672A=n
CONFIG_PINCTRL=n
CONFIG_MEDIA_CONTROLLER=n
CONFIG_HAVE_ARCH_KASAN=n
CONFIG_IPQ_GCC_5210=n
CONFIG_PINCTRL_BCM2712=n
CONFIG_DRM_MSM_DP=n
CONFIG_WLAN_VENDOR_ATH=n
CONFIG_PINCTRL_MT6397=n
CONFIG_SND_SOC_COMPRESS=n
CONFIG_RESET_UNIPHIER=n
CONFIG_USB_SERIAL_FTDI_SIO=n
CONFIG_DRM_TOSHIBA_TC358768=n
CONFIG_IWLWIFI=n
CONFIG_GPIO_AGGREGATOR=n
CONFIG_NVMEM_LAYERSCAPE_SFP=n
CONFIG_INTERCONNECT_QCOM_KAANAPALI=n
CONFIG_RCAR_DMAC=n
CONFIG_DRM_THINE_THC63LVD1024=n
CONFIG_RC_CORE=n
CONFIG_SERIO_LIBPS2=n
CONFIG_ARM_IMX_CPUFREQ_DT=n
CONFIG_ARM_DSU_PMU=n
CONFIG_MTD_NAND_ECC=n
CONFIG_SND_SOC_MT8192=n
CONFIG_PCIE_IPROC_MSI=n
CONFIG_UNIX98_PTYS=n
CONFIG_SYS_R9A09G056=n
CONFIG_BACKLIGHT_APPLE_DWI=n
CONFIG_APPLE_PMGR_PWRSTATE=n
CONFIG_MMC_SUNXI=n
CONFIG_LEDS_PWM=n
CONFIG_QCOM_COINCELL=n
CONFIG_ARCH_R9A07G044=n
CONFIG_K3_DMA=n
CONFIG_FSL_ENETC_VF=n
CONFIG_SPI_QCOM_QSPI=n
CONFIG_VDSO_GETRANDOM=n
CONFIG_MFD_TI_AM335X_TSCADC=n
CONFIG_REGULATOR_TPS6594=n
CONFIG_XZ_DEC_ARMTHUMB=n
CONFIG_SERIAL_8250_16550A_VARIANTS=n
CONFIG_LZO_COMPRESS=n
CONFIG_ARCH_NPCM=n
CONFIG_HAVE_KRETPROBES=n
CONFIG_RENESAS_OSTM=n
CONFIG_MEDIA_SUBDRV_AUTOSELECT=n
CONFIG_MMC_SDHCI=n
CONFIG_NUMA_BALANCING_DEFAULT_ENABLED=n
CONFIG_COMPAT=n
CONFIG_MMC_SDHCI_F_SDH30=n
CONFIG_DRM_DISPLAY_HDMI_AUDIO_HELPER=n
CONFIG_RPMSG_CHAR=n
CONFIG_USB_XHCI_PLATFORM=n
CONFIG_VFAT_FS=n
CONFIG_SPARSE_IRQ=n
CONFIG_VIDEO_IMX8_ISI=n
CONFIG_PHY_PACKAGE=n
CONFIG_PINCTRL_MESON8_PMX=n
CONFIG_RSI_91X=n
CONFIG_RTC_DRV_RTD119X=n
CONFIG_DRM_MESON=n
CONFIG_TRACE_IRQFLAGS_SUPPORT=n
CONFIG_USB_OHCI_HCD_PCI=n
CONFIG_PINCTRL_RTD1315E=n
CONFIG_CC_HAS_WORKING_NOSANITIZE_ADDRESS=n
CONFIG_FSL_ENETC=n
CONFIG_PINCTRL_IPQ6018=n
CONFIG_MODULES=n
CONFIG_MTD_CFI_STAA=n
CONFIG_PINCTRL_ARMADA_AP806=n
CONFIG_SC_GPUCC_7280=n
CONFIG_PHY_NS2_PCIE=n
CONFIG_USB_XHCI_RZV2M=n
CONFIG_PINCTRL_QCS404=n
CONFIG_MEDIA_TUNER_SIMPLE=n
CONFIG_FW_CACHE=n
CONFIG_CRYPTO_SM4_GENERIC=n
CONFIG_UBIFS_FS=n
CONFIG_DW_EDMA=n
CONFIG_MOUSE_PS2=n
CONFIG_MQ_IOSCHED_KYBER=n
CONFIG_IGB=n
CONFIG_SND_SOC_WM8994=n
CONFIG_WQ_POWER_EFFICIENT_DEFAULT=n
CONFIG_HAVE_SAMPLE_FTRACE_DIRECT=n
CONFIG_FW_LOADER_PAGED_BUF=n
CONFIG_INTERCONNECT_QCOM_OSM_L3=n
CONFIG_SDM_CAMCC_845=n
CONFIG_DRM_DISPLAY_HDMI_STATE_HELPER=n
CONFIG_NET_CLS=n
CONFIG_SERIAL_TEGRA_TCU=n
CONFIG_DRM_IMX_DCSS=n
CONFIG_NEED_TASKS_RCU=n
CONFIG_CPUSETS=n
CONFIG_ARM64_ERRATUM_3117295=n
CONFIG_TICK_ONESHOT=n
CONFIG_HNS_MDIO=n
CONFIG_SA_CAMCC_8775P=n
CONFIG_MOUSE_PS2_SMBUS=n
CONFIG_PAHOLE_HAS_LANG_EXCLUDE=n
CONFIG_SCSI_HISI_SAS_PCI=n
CONFIG_RUSTC_HAS_SPAN_FILE=n
CONFIG_SERIAL_8250_PERICOM=n
CONFIG_DRM_PANEL_HIMAX_HX83112A=n
CONFIG_SDM_VIDEOCC_845=n
CONFIG_SOC_TEGRA_FUSE=n
CONFIG_PHY_ROCKCHIP_PCIE=n
CONFIG_RENESAS_USB_DMAC=n
CONFIG_IIO_ST_SENSORS_CORE=n
CONFIG_DRM_IMX8MP_HDMI_PVI=n
CONFIG_USB_MXS_PHY=n
CONFIG_HW_RANDOM_HISI=n
CONFIG_I2C_RIIC=n
CONFIG_DRM_CDNS_DSI_J721E=n
CONFIG_RESET_TI_SCI=n
CONFIG_CLK_KAANAPALI_CAMCC=n
CONFIG_IMX_MBOX=n
CONFIG_NET_VENDOR_ATHEROS=n
CONFIG_SUN4I_TIMER=n
CONFIG_POWER_SUPPLY_HWMON=n
CONFIG_PCI_HOST_THUNDER_ECAM=n
CONFIG_SENSORS_MACSMC_HWMON=n
CONFIG_QCM_DISPCC_2290=n
CONFIG_DCACHE_WORD_ACCESS=n
CONFIG_DECOMPRESS_ZSTD=n
CONFIG_LOCK_DEBUGGING_SUPPORT=n
CONFIG_ARM64_ERRATUM_4311569=n
CONFIG_TEGRA_BPMP_THERMAL=n
CONFIG_ARCH_HAS_GENERIC_CRASHKERNEL_RESERVATION=n
CONFIG_IMX_IRQSTEER=n
CONFIG_SENSORS_RASPBERRYPI_HWMON=n
CONFIG_MTK_UART_APDMA=n
CONFIG_ARCH_BST=n
CONFIG_SND_SOC_DA7213=n
CONFIG_MSCC_OCELOT_SWITCH_LIB=n
CONFIG_COMMON_CLK_MT8183_MMSYS=n
CONFIG_SND_SOC_QCOM=n
CONFIG_USB_ONBOARD_DEV=n
CONFIG_CLK_X1E80100_GPUCC=n
CONFIG_RTSN=n
CONFIG_PINCTRL_SUN50I_H616=n
CONFIG_PCIE_ARMADA_8K=n
CONFIG_COMMON_CLK_C3_PERIPHERALS=n
CONFIG_VIDEO_HANTRO_ROCKCHIP=n
CONFIG_MMC_SDHCI_OF_ESDHC=n
CONFIG_DRM_DISPLAY_DP_AUX_BUS=n
CONFIG_STACKTRACE=n
CONFIG_ACPI=n
CONFIG_SND_SOC_QDSP6_USB=n
CONFIG_NVMEM_UNIPHIER_EFUSE=n
CONFIG_ATH11K_PCI=n
CONFIG_CGROUP_BPF=n
CONFIG_CRYPTO_AKCIPHER2=n
CONFIG_BATTERY_SBS=n
CONFIG_MMC_CQHCI=n
CONFIG_ACPI_APEI_SEA=n
CONFIG_GENERIC_PHY_MIPI_DPHY=n
CONFIG_TYPEC_MUX_PTN36502=n
CONFIG_SBITMAP=n
CONFIG_DMA_ENGINE_RAID=n
CONFIG_ROOT_NFS=n
CONFIG_KERNFS=n
CONFIG_USB_SERIAL_OPTION=n
CONFIG_ARCH_EXYNOS=n
CONFIG_VIDEO_MAX96712=n
CONFIG_CLK_R9A08G046=n
CONFIG_MFD_MT6360=n
CONFIG_STM32_TIMER_CNT=n
CONFIG_PM_GENERIC_DOMAINS=n
CONFIG_BLK_DEV_MD=n
CONFIG_I2C_MESON=n
CONFIG_PINCTRL_IMX8QM=n
CONFIG_QCOM_IPCC=n
CONFIG_CAN=n
CONFIG_SND_SOC_QDSP6_COMMON=n
CONFIG_PHY_QCOM_PCIE2=n
CONFIG_HID_SUPPORT=n
CONFIG_VMCORE_INFO=n
CONFIG_CROS_EC=n
CONFIG_LEDS_TRIGGER_DISK=n
CONFIG_TYPEC_UCSI=n
CONFIG_GPIO_GENERIC=n
CONFIG_QCOM_FALKOR_ERRATUM_E1041=n
CONFIG_MLX4_CORE_GEN2=n
CONFIG_DM_MIRROR=n
CONFIG_KVM=n
CONFIG_CHROME_PLATFORMS=n
CONFIG_XILINX_ZYNQMP_DMA=n
CONFIG_BRCMSTB_DPFE=n
CONFIG_SPI_RZV2M_CSI=n
CONFIG_COMMON_CLK_MT8188_VENCSYS=n
CONFIG_HW_RANDOM_MTK=n
CONFIG_STM=n
CONFIG_NVMEM_REBOOT_MODE=n
CONFIG_SND_SOC_MSM8916_WCD_DIGITAL=n
CONFIG_NETWORK_FILESYSTEMS=n
CONFIG_DQL=n
CONFIG_QCOM_PDR_HELPERS=n
CONFIG_MEDIA_TUNER=n
CONFIG_PM_GENERIC_DOMAINS_OF=n
CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE=n
CONFIG_AS_IS_GNU=n
CONFIG_FSL_DPAA2_PTP_CLOCK=n
CONFIG_SM_GCC_MILOS=n
CONFIG_SPI_BCM_QSPI=n
CONFIG_XEN_DOM0=n
CONFIG_MTK_DEVAPC=n
CONFIG_CRYPTO_LZ4=n
CONFIG_SND_SOC_SOF_OF=n
CONFIG_COMMON_CLK_MT6795_MFGCFG=n
CONFIG_EFI_GENERIC_STUB=n
CONFIG_MTD=n
CONFIG_DRM_DISPLAY_DP_HELPER=n
CONFIG_SENSORS_INA3221=n
CONFIG_NUMA_MIGRATION=n
CONFIG_COMMON_CLK_MT8192_MSDC=n
CONFIG_AUDIT_COMPAT_GENERIC=n
CONFIG_REGULATOR_CROS_EC=n
CONFIG_WLAN_VENDOR_ST=n
CONFIG_INTERCONNECT_QCOM_SA8775P=n
CONFIG_TRACE_CLOCK=n
CONFIG_SOC_TI=n
CONFIG_MIGRATION=n
CONFIG_EXYNOS_CLKOUT=n
CONFIG_NVMEM_MAX77759=n
CONFIG_USB_CONFIGFS_ACM=n
CONFIG_NET_VENDOR_NETRONOME=n
CONFIG_GRACE_PERIOD=n
CONFIG_POWER_RESET_XGENE=n
CONFIG_USB_BELKIN=n
CONFIG_SM_CAMCC_8550=n
CONFIG_ARCH_USE_MEMREMAP_PROT=n
CONFIG_BT_RTL=n
CONFIG_PINCTRL_PFC_R8A779F0=n
CONFIG_MTD_NAND_MARVELL=n
CONFIG_TYPEC_TCPM=n
CONFIG_AUDIT_ARCH_COMPAT_GENERIC=n
CONFIG_ARCH_SUPPORTS_HUGE_PFNMAP=n
CONFIG_TOUCHSCREEN_ILI210X=n
CONFIG_MDIO_BUS_MUX_MULTIPLEXER=n
CONFIG_RTC_DRV_RV8803=n
CONFIG_PREEMPT_BUILD=n
CONFIG_BCM_PMB=n
CONFIG_ARCH_SUPPORTS_SCHED_MC=n
CONFIG_PINCTRL_SA8775P=n
CONFIG_HAVE_DMA_CONTIGUOUS=n
CONFIG_SERIAL_RSCI=n
CONFIG_CAN_FLEXCAN=n
CONFIG_PINCTRL_SOPHGO_COMMON=n
CONFIG_DT_IDLE_GENPD=n
CONFIG_OMAP2PLUS_MBOX=n
CONFIG_LZO_DECOMPRESS=n
CONFIG_RTC_DRV_ISL1208=n
CONFIG_IPQ_GCC_5424=n
CONFIG_MOUSE_PS2_SYNAPTICS=n
CONFIG_TI_SYSC=n
CONFIG_THUNDER_NIC_RGX=n
CONFIG_V4L2_CCI=n
CONFIG_FB_DEVICE=n
CONFIG_UNIPHIER_WATCHDOG=n
CONFIG_HOTPLUG_SMT=n
CONFIG_PCIE_ROCKCHIP_DW=n
CONFIG_CRYPTO_DH=n
CONFIG_ARM64_ERRATUM_819472=n
CONFIG_PINCTRL_MESON_GXL=n
CONFIG_MOUSE_PS2_SYNAPTICS_SMBUS=n
CONFIG_I2C=n
CONFIG_COMMON_CLK_MT6795_VENCSYS=n
CONFIG_BCM_NS_THERMAL=n
CONFIG_PINCTRL_SM8750=n
CONFIG_ARM_SMCCC_SOC_ID=n
CONFIG_SM_GCC_8750=n
CONFIG_DRM_RCAR_WRITEBACK=n
CONFIG_DWMAC_SUNXI=n
CONFIG_USB_DWC3_APPLE=n
CONFIG_GPIO_MAX732X=n
