CONFIG_ARCH_WANTS_CLOCKSOURCE_READ_INLINE=n
CONFIG_PM_TRACE=n
CONFIG_USER_STACKTRACE_SUPPORT=n
CONFIG_HDMI=n
CONFIG_DECOMPRESS_GZIP=n
CONFIG_FUTEX_PRIVATE_HASH=n
CONFIG_INSTRUCTION_DECODER=n
CONFIG_INTEL_MEI_ME=n
CONFIG_CRYPTO_LIB_AES=n
CONFIG_OPENSSL_SUPPORTS_ML_DSA=n
CONFIG_ACPI_LEGACY_TABLES_LOOKUP=n
CONFIG_ARCH_SUPPORTS_KEXEC_BZIMAGE_VERIFY_SIG=n
CONFIG_ZLIB_INFLATE=n
CONFIG_INPUT_KEYBOARD=n
CONFIG_CRYPTO_SHA256=n
CONFIG_NET_VENDOR_MYRI=n
CONFIG_ARCH_HAS_CPU_PASID=n
CONFIG_PM_SLEEP=n
CONFIG_WLAN_VENDOR_MARVELL=n
CONFIG_BRANCH_PROFILE_NONE=n
CONFIG_CRASH_HOTPLUG=n
CONFIG_NET_VENDOR_8390=n
CONFIG_CRYPTO_LIB_SHA256_ARCH=n
CONFIG_SCHEDSTATS=n
CONFIG_SOCK_CGROUP_DATA=n
CONFIG_PROC_KCORE=n
CONFIG_EXT4_USE_FOR_EXT2=n
CONFIG_SND_HDA=n
CONFIG_UNIX=n
CONFIG_RPCSEC_GSS_KRB5=n
CONFIG_HAVE_C_RECORDMCOUNT=n
CONFIG_ARCH_HAS_ACPI_TABLE_UPGRADE=n
CONFIG_ARCH_WANT_GENERAL_HUGETLB=n
CONFIG_NET_VENDOR_VIA=n
CONFIG_IO_URING_ZCRX=n
CONFIG_HOTPLUG_CPU=n
CONFIG_ARCH_SUPPORTS_MEMORY_FAILURE=n
CONFIG_USB_OHCI_HCD=n
CONFIG_SMP=n
CONFIG_DEBUG_INFO_NONE=n
CONFIG_E1000E=n
CONFIG_USB_PRINTER=n
CONFIG_VT_CONSOLE_SLEEP=n
CONFIG_ARCH_USE_MEMREMAP_PROT=n
CONFIG_GENERIC_NET_UTILS=n
CONFIG_HAVE_OPTPROBES=n
CONFIG_FS_IOMAP=n
CONFIG_I3C_OR_I2C=n
CONFIG_CC_HAS_AUTO_VAR_INIT_PATTERN=n
CONFIG_RTC_INTF_DEV=n
CONFIG_ARCH_HAS_FAST_MULTIPLIER=n
CONFIG_NET_CORE=n
CONFIG_9P_FS=n
CONFIG_HAVE_GIGANTIC_FOLIOS=n
CONFIG_UNWIND_USER=n
CONFIG_ARCH_HAS_SYNC_CORE_BEFORE_USERMODE=n
CONFIG_OLD_SIGSUSPEND3=n
CONFIG_GENERIC_EARLY_IOREMAP=n
CONFIG_POSIX_TIMERS=n
CONFIG_HID_PANTHERLORD=n
CONFIG_ARCH_HAS_PREEMPT_LAZY=n
CONFIG_LOCK_SPIN_ON_OWNER=n
CONFIG_HAVE_LIVEPATCH=n
CONFIG_NF_CT_NETLINK=n
CONFIG_SERIO_LIBPS2=n
CONFIG_X86_INTEL_MEMORY_PROTECTION_KEYS=n
CONFIG_SERIAL_8250_MID=n
CONFIG_NETFILTER_EGRESS=n
CONFIG_XZ_DEC=n
CONFIG_CRASH_DUMP=n
CONFIG_NET_9P_VIRTIO=n
CONFIG_ARCH_ENABLE_HUGEPAGE_MIGRATION=n
CONFIG_CRASH_RESERVE=n
CONFIG_PROC_PAGE_MONITOR=n
CONFIG_CRYPTO_HASH2=n
CONFIG_SCHED_OMIT_FRAME_POINTER=n
CONFIG_I2C_HELPER_AUTO=n
CONFIG_CC_HAS_KASAN_SW_TAGS=n
CONFIG_HAVE_HW_BREAKPOINT=n
CONFIG_I2C_SMBUS=n
CONFIG_PATA_SCH=n
CONFIG_YENTA_RICOH=n
CONFIG_CLKBLD_I8253=n
CONFIG_FONT_SUPPORT=n
CONFIG_GENERIC_STRNCPY_FROM_USER=n
CONFIG_HAVE_STATIC_CALL=n
CONFIG_DYNAMIC_EVENTS=n
CONFIG_DEBUG_KERNEL=n
CONFIG_GENERIC_PENDING_IRQ=n
CONFIG_ADVISE_SYSCALLS=n
CONFIG_WLAN_VENDOR_MICROCHIP=n
CONFIG_SERIAL_8250_PCILIB=n
CONFIG_RANDSTRUCT_NONE=n
CONFIG_MAC80211_HAS_RC=n
CONFIG_CRYPTO_MANAGER2=n
CONFIG_CONTEXT_TRACKING=n
CONFIG_CRC_CCITT=n
CONFIG_IRQ_REMAP=n
CONFIG_NLS_CODEPAGE_437=n
CONFIG_NF_NAT=n
CONFIG_GCC_NO_STRINGOP_OVERFLOW=n
CONFIG_ARCH_HAS_MEMBARRIER_SYNC_CORE=n
CONFIG_TASKS_RCU=n
CONFIG_CRYPTO_LIB_GF128HASH_ARCH=n
CONFIG_MD=n
CONFIG_ARCH_HAS_GENERIC_CRASHKERNEL_RESERVATION=n
CONFIG_PROC_MEM_FORCE_PTRACE=n
CONFIG_X86_DEBUG_FPU=n
CONFIG_HARDLOCKUP_CHECK_TIMESTAMP=n
CONFIG_AGP_AMD64=n
CONFIG_BLK_DEV=n
CONFIG_WATCHDOG_HANDLE_BOOT_ENABLED=n
CONFIG_MICROCODE=n
CONFIG_NET_VENDOR_MICROSEMI=n
CONFIG_MMU_GATHER_MERGE_VMAS=n
CONFIG_NET_VENDOR_3COM=n
CONFIG_HAVE_ARCH_VMAP_STACK=n
CONFIG_IO_DELAY_0X80=n
CONFIG_X86_THERMAL_VECTOR=n
CONFIG_DMA_ENGINE=n
CONFIG_X86_BUS_LOCK_DETECT=n
CONFIG_ARCH_MIGHT_HAVE_PC_PARPORT=n
CONFIG_ARCH_SUPPORTS_PROPELLER_CLANG=n
CONFIG_DRM_VIRTIO_GPU=n
CONFIG_ARCH_SUPPORTS_KEXEC_FILE=n
CONFIG_DRM_VIRTIO_GPU_KMS=n
CONFIG_HAVE_ARCH_WITHIN_STACK_FRAMES=n
CONFIG_SUNRPC_BACKCHANNEL=n
CONFIG_GENERIC_VDSO_OVERFLOW_PROTECT=n
CONFIG_TMPFS_XATTR=n
CONFIG_SECCOMP_FILTER=n
CONFIG_MSDOS_PARTITION=n
CONFIG_INPUT_EVDEV=n
CONFIG_X86_REQUIRED_FEATURE_SYSFAST32=n
CONFIG_IP_ROUTE_VERBOSE=n
CONFIG_HAVE_SAMPLE_FTRACE_DIRECT=n
CONFIG_ARCH_MIGHT_HAVE_ACPI_PDC=n
CONFIG_NO_HZ=n
CONFIG_HAVE_ARCH_JUMP_LABEL=n
CONFIG_HAVE_PERF_EVENTS_NMI=n
CONFIG_KEYS=n
CONFIG_ASN1=n
CONFIG_UNION_FIND=n
CONFIG_HAVE_RELIABLE_STACKTRACE=n
CONFIG_NET_VENDOR_SUN=n
CONFIG_NVRAM=n
CONFIG_NLS=n
CONFIG_NETFILTER_NETLINK=n
CONFIG_GENERIC_PT=n
CONFIG_HAVE_ARCH_AUDITSYSCALL=n
CONFIG_ARCH_SUPPORTS_RT=n
CONFIG_ACPI_CPU_FREQ_PSS=n
CONFIG_BSD_PROCESS_ACCT=n
CONFIG_NEED_PER_CPU_EMBED_FIRST_CHUNK=n
CONFIG_CRYPTO_LIB_GF128HASH=n
CONFIG_BQL=n
CONFIG_TIMERFD=n
CONFIG_FW_CACHE=n
CONFIG_CRYPTO_ALGAPI=n
CONFIG_STACKPROTECTOR_STRONG=n
CONFIG_CFG80211_REQUIRE_SIGNED_REGDB=n
CONFIG_X86_MCE_AMD=n
CONFIG_MD_BITMAP=n
CONFIG_RFKILL_LEDS=n
CONFIG_NET_INGRESS=n
CONFIG_IOMMU_IOPF=n
CONFIG_DMI=n
CONFIG_X86_UMIP=n
CONFIG_HIGH_RES_TIMERS=n
CONFIG_NF_LOG_SYSLOG=n
CONFIG_DMAR_TABLE=n
CONFIG_HAVE_FENTRY=n
CONFIG_MSDOS_FS=n
CONFIG_NET_TULIP=n
CONFIG_LOCKD=n
CONFIG_RUSTC_HAS_SPAN_FILE=n
CONFIG_X86_DISABLED_FEATURE_K6_MTRR=n
CONFIG_MOUSE_PS2=n
CONFIG_SERIAL_8250_RSA=n
CONFIG_NET_VENDOR_TI=n
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST=n
CONFIG_USE_PERCPU_NUMA_NODE_ID=n
CONFIG_EFI_CUSTOM_SSDT_OVERLAYS=n
CONFIG_ARCH_HAS_CPU_ATTACK_VECTORS=n
CONFIG_INTEL_IOMMU_PERF_EVENTS=n
CONFIG_SYSTEM_TRUSTED_KEYRING=n
CONFIG_X86_MCE_THRESHOLD=n
CONFIG_X86_CET=n
CONFIG_HAVE_HARDLOCKUP_DETECTOR_PERF=n
CONFIG_X86_VMX_FEATURE_NAMES=n
CONFIG_ACPI_VIDEO=n
CONFIG_TRACEFS_AUTOMOUNT_DEPRECATED=n
CONFIG_FIB_RULES=n
CONFIG_TIGON3=n
CONFIG_HAVE_ARCH_SECCOMP=n
CONFIG_SPARSE_IRQ=n
CONFIG_CGROUP_NET_PRIO=n
CONFIG_PROBE_EVENTS=n
CONFIG_NET_VENDOR_EMULEX=n
CONFIG_NET_VENDOR_DEC=n
CONFIG_SLUB_DEBUG=n
CONFIG_SERIAL_8250_EXTENDED=n
CONFIG_X86_INTEL_PSTATE=n
CONFIG_MAC_EMUMOUSEBTN=n
CONFIG_X86_REQUIRED_FEATURE_XMM=n
CONFIG_X86_16BIT=n
CONFIG_HAVE_ALIGNED_STRUCT_PAGE=n
CONFIG_ARCH_HAS_HW_PTE_YOUNG=n
CONFIG_ARCH_WANTS_NO_INSTR=n
CONFIG_NET_VENDOR_PENSANDO=n
CONFIG_MOUSE_PS2_CYPRESS=n
CONFIG_CPU_FREQ_GOV_PERFORMANCE=n
CONFIG_MOUSE_PS2_LOGIPS2PP=n
CONFIG_NET_VENDOR_SEEQ=n
CONFIG_PCIEASPM_DEFAULT=n
CONFIG_MPILIB=n
CONFIG_GENERIC_ALLOCATOR=n
CONFIG_SYSVIPC_COMPAT=n
CONFIG_EFI_DXE_MEM_ATTRIBUTES=n
CONFIG_MD_BITMAP_FILE=n
CONFIG_NET_VENDOR_REALTEK=n
CONFIG_DEVTMPFS_MOUNT=n
CONFIG_X86_64=n
CONFIG_EFIVAR_FS=n
CONFIG_DRM_KMS_HELPER=n
CONFIG_GRACE_PERIOD=n
CONFIG_LOCALVERSION_AUTO=n
CONFIG_PAGE_SIZE_4KB=n
CONFIG_CGROUP_PIDS=n
CONFIG_CPU_FREQ_GOV_ATTR_SET=n
CONFIG_RD_LZ4=n
CONFIG_AMD_NODE=n
CONFIG_ARCH_WANT_OLD_COMPAT_IPC=n
CONFIG_BINFMT_MISC=n
CONFIG_HAVE_PERF_REGS=n
CONFIG_SCHED_MC_PRIO=n
CONFIG_HAVE_DYNAMIC_FTRACE=n
CONFIG_SHMEM=n
CONFIG_NET_SCH_FIFO=n
CONFIG_UNIX98_PTYS=n
CONFIG_X86_REQUIRED_FEATURE_PSE=n
CONFIG_SOCK_RX_QUEUE_MAPPING=n
CONFIG_XZ_DEC_ARM64=n
CONFIG_NLATTR=n
CONFIG_IP6_NF_MATCH_IPV6HEADER=n
CONFIG_AMD_IOMMU=n
CONFIG_X86_ACPI_CPUFREQ=n
CONFIG_HAVE_ARCH_TRACEHOOK=n
CONFIG_ARCH_HAS_PMEM_API=n
CONFIG_MAC80211_RC_MINSTREL=n
CONFIG_GENERIC_CALIBRATE_DELAY=n
CONFIG_VIRTIO_PCI_LEGACY=n
CONFIG_BLK_DEV_WRITE_MOUNTED=n
CONFIG_USB_OHCI_HCD_PCI=n
CONFIG_PCC=n
CONFIG_BLK_DEV_MD=n
CONFIG_ARCH_SUPPORTS_UPROBES=n
CONFIG_NETFILTER_XT_TARGET_CONNSECMARK=n
CONFIG_MITIGATION_SSB=n
CONFIG_THREAD_INFO_IN_TASK=n
CONFIG_ACPI_REV_OVERRIDE_POSSIBLE=n
CONFIG_DRM_TTM=n
CONFIG_PM_SLEEP_SMP=n
CONFIG_ARCH_WANTS_THP_SWAP=n
CONFIG_INPUT_MISC=n
CONFIG_WLAN_VENDOR_ADMTEK=n
CONFIG_CC_HAS_SLS=n
CONFIG_ARCH_HAS_ELF_RANDOMIZE=n
CONFIG_MAGIC_SYSRQ=n
CONFIG_MOUSE_PS2_LIFEBOOK=n
CONFIG_SERIAL_8250_PNP=n
CONFIG_PERF_EVENTS_INTEL_CSTATE=n
CONFIG_ARCH_WANT_BATCHED_UNMAP_TLB_FLUSH=n
CONFIG_SERIAL_8250=n
CONFIG_EDAC_ATOMIC_SCRUB=n
CONFIG_BLK_DEV_BSG=n
CONFIG_FILE_LOCKING=n
CONFIG_ARCH_SUPPORTS_ATOMIC_RMW=n
CONFIG_PREEMPT_RCU=n
CONFIG_IOMMU_PT_AMDV1=n
CONFIG_PROC_VMCORE=n
CONFIG_X86_VERBOSE_BOOTUP=n
CONFIG_STANDALONE=n
CONFIG_NET_VENDOR_OKI=n
CONFIG_WLAN_VENDOR_PURELIFI=n
CONFIG_DMI_SCAN_MACHINE_NON_EFI_FALLBACK=n
CONFIG_ARCH_USE_QUEUED_SPINLOCKS=n
CONFIG_RFKILL=n
CONFIG_HAVE_IRQ_EXIT_ON_IRQ_STACK=n
CONFIG_EFI_RUNTIME_MAP=n
CONFIG_ACPI_DOCK=n
CONFIG_SND_HWDEP=n
CONFIG_HAVE_ARCH_KASAN=n
CONFIG_BLK_PM=n
CONFIG_VIDEO=n
CONFIG_CRYPTO_GENIV=n
CONFIG_ARCH_SUPPORTS_CFI=n
CONFIG_NET_VENDOR_WIZNET=n
CONFIG_NET_VENDOR_CADENCE=n
CONFIG_RD_BZIP2=n
