CONFIG_NETFILTER_XT_TARGET_LOG=n
CONFIG_SYMBOLIC_ERRNAME=n
CONFIG_KERNFS=n
CONFIG_POWER_SUPPLY_HWMON=n
CONFIG_MOUSE_PS2_LOGIPS2PP=n
CONFIG_HYPERVISOR_GUEST=n
CONFIG_ARCH_SPLIT_ARG64=n
CONFIG_REALTEK_PHY=n
CONFIG_SERIAL_8250_EXTENDED=n
CONFIG_MPILIB=n
CONFIG_RD_ZSTD=n
CONFIG_FW_LOADER=n
CONFIG_ACPI_MDIO=n
CONFIG_NET=n
CONFIG_NETFILTER_XT_MATCH_ADDRTYPE=n
CONFIG_X86_ESPFIX32=n
CONFIG_AGP=n
CONFIG_OPENSSL_SUPPORTS_ML_DSA=n
CONFIG_SND_INTEL_DSP_CONFIG=n
CONFIG_TASKSTATS=n
CONFIG_INPUT_LEDS=n
CONFIG_DRM_DISPLAY_HELPER=n
CONFIG_NET_VENDOR_CORTINA=n
CONFIG_SECCOMP_FILTER=n
CONFIG_SHMEM=n
CONFIG_CRYPTO_CCM=n
CONFIG_INTEL_TCC=n
CONFIG_HAVE_KRETPROBES=n
CONFIG_NET_VENDOR_HUAWEI=n
CONFIG_ARCH_SUPPORTS_KEXEC=n
CONFIG_NET_VENDOR_AMAZON=n
CONFIG_COMPACTION=n
CONFIG_YENTA_RICOH=n
CONFIG_DRM_GEM_SHMEM_HELPER=n
CONFIG_CRYPTO_LIB_ARC4=n
CONFIG_SECRETMEM=n
CONFIG_HIGH_RES_TIMERS=n
CONFIG_GENERIC_EARLY_IOREMAP=n
CONFIG_LEDS_TRIGGERS=n
CONFIG_PREEMPT_RCU=n
CONFIG_XZ_DEC_BCJ=n
CONFIG_PCI_BIOS=n
CONFIG_NETPOLL=n
CONFIG_CC_HAS_ASM_INLINE=n
CONFIG_CC_HAS_KASAN_SW_TAGS=n
CONFIG_RTC_NVMEM=n
CONFIG_MQ_IOSCHED_DEADLINE=n
CONFIG_PCMCIA=n
CONFIG_USB_STORAGE=n
CONFIG_BLK_CGROUP_IOPRIO=n
CONFIG_CRC32_ARCH=n
CONFIG_SYSFS=n
CONFIG_SND_SEQUENCER=n
CONFIG_VIRTIO_PCI_ADMIN_LEGACY=n
CONFIG_BLK_CGROUP_IOLATENCY=n
CONFIG_DYNAMIC_EVENTS=n
CONFIG_CC_HAS_SLS=n
CONFIG_NEED_PER_CPU_EMBED_FIRST_CHUNK=n
CONFIG_CRYPTO_CBC=n
CONFIG_SERIAL_8250_PCI=n
CONFIG_E1000=n
CONFIG_NET_VENDOR_SILAN=n
CONFIG_NET_VENDOR_TI=n
CONFIG_BLOCK=n
CONFIG_X86_DISABLED_FEATURE_SYSCALL32=n
CONFIG_LZO_COMPRESS=n
CONFIG_ARCH_MIGHT_HAVE_PC_SERIO=n
CONFIG_CC_HAS_MULTIDIMENSIONAL_NONSTRING=n
CONFIG_NET_VENDOR_SOCIONEXT=n
CONFIG_NET_VENDOR_ASIX=n
CONFIG_X86_MCE_INTEL=n
CONFIG_CC_HAS_COUNTED_BY_PTR=n
CONFIG_PAGE_COUNTER=n
CONFIG_HAVE_C_RECORDMCOUNT=n
CONFIG_HAVE_REGS_AND_STACK_ACCESS_API=n
CONFIG_X86_VMX_FEATURE_NAMES=n
CONFIG_MEMBARRIER=n
CONFIG_NF_NAT_FTP=n
CONFIG_DEBUG_MISC=n
CONFIG_CGROUPS=n
CONFIG_DCACHE_WORD_ACCESS=n
CONFIG_NETFS_SUPPORT=n
CONFIG_INIT_STACK_ALL_ZERO=n
CONFIG_COREDUMP=n
CONFIG_VHOST_ENABLE_FORK_OWNER_CONTROL=n
CONFIG_SERIAL_NONSTANDARD=n
CONFIG_P2SB=n
CONFIG_FHANDLE=n
CONFIG_KALLSYMS_ALL=n
CONFIG_HAVE_POSIX_CPU_TIMERS_TASK_WORK=n
CONFIG_HAVE_MMIOTRACE_SUPPORT=n
CONFIG_DRM_DISPLAY_HDCP_HELPER=n
CONFIG_UCS2_STRING=n
CONFIG_PCI_LABEL=n
CONFIG_TTY=n
CONFIG_X86_DISABLED_FEATURE_FRED=n
CONFIG_NET_VENDOR_SMSC=n
CONFIG_SYSTEM_TRUSTED_KEYRING=n
CONFIG_HAVE_GUP_FAST=n
CONFIG_MITIGATION_MDS=n
CONFIG_ARCH_HAS_CPU_RELAX=n
CONFIG_DEFAULT_SECURITY_SELINUX=n
CONFIG_DRM_I915_USERPTR=n
CONFIG_MICROCODE=n
CONFIG_HAVE_PV_STEAL_CLOCK_GEN=n
CONFIG_X509_CERTIFICATE_PARSER=n
CONFIG_STRICT_DEVMEM=n
CONFIG_ARCH_HAS_FORTIFY_SOURCE=n
CONFIG_VIRTIO_DMA_SHARED_BUFFER=n
CONFIG_ELFCORE=n
CONFIG_SND_HDA_COMPONENT=n
CONFIG_RFS_ACCEL=n
CONFIG_MODIFY_LDT_SYSCALL=n
CONFIG_ARCH_MIGHT_HAVE_ACPI_PDC=n
CONFIG_HAVE_ARCH_MMAP_RND_BITS=n
CONFIG_PAGE_POOL=n
CONFIG_X86_USE_PPRO_CHECKSUM=n
CONFIG_X86_DISABLED_FEATURE_INVLPGB=n
CONFIG_MITIGATION_TAA=n
CONFIG_MD_AUTODETECT=n
CONFIG_IOMMU_DMA=n
CONFIG_MITIGATION_RFDS=n
CONFIG_CGROUP_MISC=n
CONFIG_ARCH_SELECT_MEMORY_MODEL=n
CONFIG_ARCH_HAS_DEVMEM_IS_ALLOWED=n
CONFIG_CPU_IDLE_GOV_MENU=n
CONFIG_RUSTC_HAS_FILE_WITH_NUL=n
CONFIG_SLUB_DEBUG=n
CONFIG_CC_HAS_ASM_GOTO_OUTPUT=n
CONFIG_SERIAL_8250_PNP=n
CONFIG_HAS_IOPORT=n
CONFIG_NLS=n
CONFIG_NFS_USE_KERNEL_DNS=n
CONFIG_SERIAL_8250_DETECT_IRQ=n
CONFIG_DNOTIFY=n
CONFIG_GENERIC_BUG=n
CONFIG_VMCORE_INFO=n
CONFIG_NET_TULIP=n
CONFIG_BLK_MQ_STACKING=n
CONFIG_PM=n
CONFIG_CC_HAS_ENTRY_PADDING=n
CONFIG_NFS_V4_0=n
CONFIG_PROC_PID_ARCH_STATUS=n
CONFIG_POWER_SUPPLY=n
CONFIG_ACPI_SYSTEM_POWER_STATES_SUPPORT=n
CONFIG_COMPAT_32=n
CONFIG_MODULES_TREE_LOOKUP=n
CONFIG_VIRTUALIZATION=n
CONFIG_SUSPEND=n
CONFIG_MD=n
CONFIG_CRYPTO_AEAD=n
CONFIG_CONNECTOR=n
CONFIG_XPS=n
CONFIG_YENTA_ENE_TUNE=n
CONFIG_SERIAL_CORE=n
CONFIG_CC_HAS_AUTO_VAR_INIT_PATTERN=n
CONFIG_PHYLIB=n
CONFIG_GENERIC_CLOCKEVENTS=n
CONFIG_IOMMU_DEFAULT_DMA_LAZY=n
CONFIG_HID=n
CONFIG_ARCH_HAS_DEBUG_VIRTUAL=n
CONFIG_WLAN_VENDOR_RSI=n
CONFIG_USB_ANNOUNCE_NEW_DEVICES=n
CONFIG_SIGNALFD=n
CONFIG_NET_9P_FD=n
CONFIG_BLK_DEV_LOOP=n
CONFIG_GENERIC_SYSCALL=n
CONFIG_DM_MIRROR=n
CONFIG_AUDITSYSCALL=n
CONFIG_SERIAL_8250_MID=n
CONFIG_SND=n
CONFIG_POSIX_MQUEUE_SYSCTL=n
CONFIG_THERMAL_GOV_STEP_WISE=n
CONFIG_ADVISE_SYSCALLS=n
CONFIG_DEBUG_KERNEL=n
CONFIG_PREVENT_FIRMWARE_BUILD=n
CONFIG_ARCH_MIGHT_HAVE_PC_PARPORT=n
CONFIG_TASKS_RCU=n
CONFIG_HAVE_KERNEL_XZ=n
CONFIG_SPARSEMEM_STATIC=n
CONFIG_ACPI_PLATFORM_PROFILE=n
CONFIG_GRO_CELLS=n
CONFIG_STRICT_MODULE_RWX=n
CONFIG_USB_NET_DRIVERS=n
CONFIG_MEMFD_CREATE=n
CONFIG_HAVE_RETHOOK=n
CONFIG_TASK_DELAY_ACCT=n
CONFIG_VMSPLIT_3G=n
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO_BARE=n
CONFIG_HAVE_ARCH_WITHIN_STACK_FRAMES=n
CONFIG_INPUT_VIVALDIFMAP=n
CONFIG_FAIR_GROUP_SCHED=n
CONFIG_HIBERNATE_CALLBACKS=n
CONFIG_SCHED_INFO=n
CONFIG_DEVPORT=n
CONFIG_ARCH_SUPPORTS_SCHED_SMT=n
CONFIG_IOSF_MBI=n
CONFIG_IP_MULTIPLE_TABLES=n
CONFIG_PM_SLEEP=n
CONFIG_DRM=n
CONFIG_WATCHDOG=n
CONFIG_CRYPTO_LIB_SHA1=n
CONFIG_NET_VENDOR_3COM=n
CONFIG_HVC_DRIVER=n
CONFIG_SND_HRTIMER=n
CONFIG_MITIGATION_RETPOLINE=n
CONFIG_MMU_LAZY_TLB_REFCOUNT=n
CONFIG_HSU_DMA=n
CONFIG_HAVE_GENERIC_VDSO=n
CONFIG_ACPI_TABLE_UPGRADE=n
CONFIG_NETWORK_SECMARK=n
CONFIG_X86_PLATFORM_DEVICES=n
CONFIG_PCI=n
CONFIG_X86_MCE_AMD=n
CONFIG_NET_VENDOR_DEC=n
CONFIG_ARCH_CPUIDLE_HALTPOLL=n
CONFIG_BLK_DEV_DM=n
CONFIG_PERF_EVENTS_INTEL_UNCORE=n
CONFIG_HOTPLUG_SPLIT_STARTUP=n
CONFIG_CRYPTO_LIB_UTILS=n
CONFIG_GENERIC_STRNLEN_USER=n
CONFIG_HAVE_ARCH_KSTACK_ERASE=n
CONFIG_ARCH_USES_PG_ARCH_2=n
CONFIG_PCIEASPM_DEFAULT=n
CONFIG_NET_IP_TUNNEL=n
CONFIG_ARCH_SUPPORTS_KMAP_LOCAL_FORCE_MAP=n
CONFIG_SCSI_PROC_FS=n
CONFIG_PAGE_SIZE_4KB=n
CONFIG_CRC32=n
CONFIG_NET_VENDOR_WANGXUN=n
CONFIG_HAVE_DEBUG_KMEMLEAK=n
CONFIG_SND_HDA_HWDEP=n
CONFIG_HAVE_SOFTIRQ_ON_OWN_STACK=n
CONFIG_RCU_NEED_SEGCBLIST=n
CONFIG_SND_SEQ_DEVICE=n
CONFIG_GENERIC_IRQ_MATRIX_ALLOCATOR=n
CONFIG_DUMMY_CONSOLE=n
CONFIG_DRM_CLIENT_SELECTION=n
CONFIG_SOCK_RX_QUEUE_MAPPING=n
CONFIG_VIRTIO=n
CONFIG_HOTPLUG_PCI=n
CONFIG_CC_HAS_SANE_FUNCTION_ALIGNMENT=n
CONFIG_HID_PID=n
CONFIG_X86_DISABLED_FEATURE_OSPKE=n
CONFIG_YENTA_O2=n
CONFIG_X86_IO_APIC=n
CONFIG_SND_USB=n
CONFIG_HIBERNATION_SNAPSHOT_DEV=n
CONFIG_NET_VENDOR_ARC=n
CONFIG_RD_BZIP2=n
CONFIG_NET_VENDOR_AQUANTIA=n
CONFIG_EFI_CAPSULE_QUIRK_QUARK_CSH=n
CONFIG_NF_REJECT_IPV6=n
CONFIG_PATA_TIMINGS=n
CONFIG_DQL=n
CONFIG_SCHED_MC_PRIO=n
CONFIG_ARCH_STACKWALK=n
CONFIG_X86_DISABLED_FEATURE_ENQCMD=n
CONFIG_RTC_DRV_CMOS=n
CONFIG_HAS_IOMEM=n
CONFIG_CORE_DUMP_DEFAULT_ELF_HEADERS=n
CONFIG_PCI_GOANY=n
CONFIG_ARCH_CORRECT_STACKTRACE_ON_KRETPROBE=n
CONFIG_MODULE_FORCE_UNLOAD=n
CONFIG_HW_RANDOM=n
CONFIG_CRYPTO_ECHAINIV=n
CONFIG_GENERIC_CPU_DEVICES=n
CONFIG_ACPI_HOTPLUG_IOAPIC=n
CONFIG_SERIO_I8042=n
CONFIG_I8253_LOCK=n
CONFIG_HAVE_ARCH_PREL32_RELOCATIONS=n
CONFIG_ARCH_HAS_CPU_CACHE_INVALIDATE_MEMREGION=n
CONFIG_ARCH_SUPPORTS_DEBUG_PAGEALLOC=n
CONFIG_PHY_PACKAGE=n
CONFIG_ACPI_DEBUG=n
CONFIG_CARDBUS=n
CONFIG_SERIAL_8250_CONSOLE=n
CONFIG_DEBUG_BOOT_PARAMS=n
CONFIG_SCSI_SPI_ATTRS=n
CONFIG_SND_DRIVERS=n
CONFIG_NF_CT_NETLINK=n
CONFIG_NF_CONNTRACK_SIP=n
CONFIG_GENERIC_CPU_AUTOPROBE=n
CONFIG_NET_SCHED=n
CONFIG_HAVE_FUNCTION_ERROR_INJECTION=n
CONFIG_NET_VENDOR_ATHEROS=n
CONFIG_DRM_PANEL_BRIDGE=n
CONFIG_INPUT_JOYSTICK=n
CONFIG_HID_SAMSUNG=n
CONFIG_RPCSEC_GSS_KRB5=n
CONFIG_ATA_ACPI=n
CONFIG_NET_RX_BUSY_POLL=n
CONFIG_USB_PCI_AMD=n
CONFIG_X86=n
CONFIG_ACPI_THERMAL_LIB=n
CONFIG_PADATA=n
CONFIG_CPU_FREQ_GOV_SCHEDUTIL=n
CONFIG_MICROCODE_INITRD32=n
CONFIG_X86_SUPPORTS_MEMORY_FAILURE=n
CONFIG_QUOTA_TREE=n
