CONFIG_NETFILTER_BPF_LINK=n
CONFIG_HISILICON_IRQ_MBIGEN=n
CONFIG_MICROSEMI_PHY=n
CONFIG_SYSFB=n
CONFIG_PHY_RCAR_GEN3_PCIE=n
CONFIG_TYPEC_MUX_GPIO_SBU=n
CONFIG_IMX_SC_WDT=n
CONFIG_LEDS_TRIGGER_TIMER=n
CONFIG_PHY_QCOM_PCIE2=n
CONFIG_PHY_QCOM_QMP_PCIE=n
CONFIG_INTERCONNECT_QCOM_SDX75=n
CONFIG_ARCH_TEGRA_132_SOC=n
CONFIG_PCIE_RCAR_GEN4=n
CONFIG_BCM2835_THERMAL=n
CONFIG_ARCH_DEFAULT_CRASH_DUMP=n
CONFIG_SND_SOC_SOF_XTENSA=n
CONFIG_WLAN_VENDOR_ATH=n
CONFIG_MTK_SVS=n
CONFIG_RESET_GPIO=n
CONFIG_BRCM_USB_PINMAP=n
CONFIG_PWC_RZV2M=n
CONFIG_USB_CONFIGFS_OBEX=n
CONFIG_DEBUG_INFO_DWARF_TOOLCHAIN_DEFAULT=n
CONFIG_PINCTRL_MT7986=n
CONFIG_TRACE_CLOCK=n
CONFIG_DP83822_PHY=n
CONFIG_MV_XOR_V2=n
CONFIG_PHY_FSL_SAMSUNG_HDMI_PHY=n
CONFIG_ARCH_R8A77990=n
CONFIG_SND_SOC_LPASS_CPU=n
CONFIG_MMC_STM32_SDMMC=n
CONFIG_INTEL_STRATIX10_SERVICE=n
CONFIG_DRM_PL111=n
CONFIG_V4L_MEM2MEM_DRIVERS=n
CONFIG_MFD_CORE=n
CONFIG_USB_ROLE_SWITCH=n
CONFIG_PINCTRL_PFC_R8A77995=n
CONFIG_EXYNOS_ARM64_COMMON_CLK=n
CONFIG_MFD_TPS65219=n
CONFIG_RTC_DRV_AMLOGIC_A4=n
CONFIG_POWER_SEQUENCING_QCOM_WCN=n
CONFIG_ARM64_ERRATUM_1508412=n
CONFIG_CHARGER_MAX77759=n
CONFIG_BLK_PM=n
CONFIG_RASPBERRYPI_FIRMWARE=n
CONFIG_UNIPHIER_THERMAL=n
CONFIG_WLAN=n
CONFIG_HAVE_ARCH_VMAP_STACK=n
CONFIG_COMMON_CLK_MT8195_APUSYS=n
CONFIG_SERIAL_OWL=n
CONFIG_ARM_IMX_BUS_DEVFREQ=n
CONFIG_PINCTRL_UNIPHIER_PXS3=n
CONFIG_PCC=n
CONFIG_PCI_LABEL=n
CONFIG_IO_URING=n
CONFIG_CRYPTO_LIB_BLAKE2B=n
CONFIG_PINCTRL_SM6125=n
CONFIG_HAVE_ARCH_KSTACK_ERASE=n
CONFIG_K3_DMA=n
CONFIG_AX88796B_PHY=n
CONFIG_HAVE_MOVE_PUD=n
CONFIG_FAIR_GROUP_SCHED=n
CONFIG_ARCH_SUPPORTS_KEXEC_SIG=n
CONFIG_NET_VENDOR_MELLANOX=n
CONFIG_TI_PRUSS=n
CONFIG_SND_JACK=n
CONFIG_XILINX_WINDOW_WATCHDOG=n
CONFIG_USB_CDNS3_GADGET=n
CONFIG_COMMON_CLK_HI3670=n
CONFIG_CRYPTO_ALGAPI2=n
CONFIG_SERIAL_FSL_LPUART=n
CONFIG_DRM_RCAR_CMM=n
CONFIG_CLKSRC_STM32_LP=n
CONFIG_SENSORS_ISL29018=n
CONFIG_PCI_ENDPOINT_TEST=n
CONFIG_SATA_AHCI_PLATFORM=n
CONFIG_MITIGATE_SPECTRE_BRANCH_HISTORY=n
CONFIG_GENERIC_PHY=n
CONFIG_HAS_SECURITY_AUDIT=n
CONFIG_CGROUPS=n
CONFIG_BRCMSTB_L2_IRQ=n
CONFIG_NET=n
CONFIG_ARCH_BRCMSTB=n
CONFIG_MMC_HSQ=n
CONFIG_SND_SOC_TEGRA210_MIXER=n
CONFIG_WWAN_DEBUGFS=n
CONFIG_HAS_IOPORT_MAP=n
CONFIG_XEN_GRANT_DEV_ALLOC=n
CONFIG_ARM64_WORKAROUND_CLEAN_CACHE=n
CONFIG_DRM_DW_HDMI_I2S_AUDIO=n
CONFIG_IOMMU_IO_PGTABLE_LPAE=n
CONFIG_WLAN_VENDOR_MARVELL=n
CONFIG_USB_QCOM_EUD=n
CONFIG_SND_SOC_GENERIC_DMAENGINE_PCM=n
CONFIG_SND_SOC_MT8192=n
CONFIG_SYSTEM_TRUSTED_KEYRING=n
CONFIG_EXYNOS_USI=n
CONFIG_DEVFREQ_GOV_SIMPLE_ONDEMAND=n
CONFIG_CLK_BCM_SR=n
CONFIG_ACPI_MDIO=n
CONFIG_INTERCONNECT_QCOM_MSM8996=n
CONFIG_ARCH_HAS_NMI_SAFE_THIS_CPU_OPS=n
CONFIG_DRM_KOMEDA=n
CONFIG_KVM_GENERIC_HARDWARE_ENABLING=n
CONFIG_AUDITSYSCALL=n
CONFIG_COMPACTION=n
CONFIG_PINCTRL_ARMADA_37XX=n
CONFIG_I2C_MUX_PINCTRL=n
CONFIG_MARVELL_GTI_WDT=n
CONFIG_GPIO_TEGRA=n
CONFIG_USB_UHCI_PLATFORM=n
CONFIG_DRM=n
CONFIG_PWM_XILINX=n
CONFIG_SERIAL_SAMSUNG=n
CONFIG_ARCH_SELECTS_KEXEC_FILE=n
CONFIG_MEDIA_TUNER_MC44S803=n
CONFIG_SND_SOC_WM8904=n
CONFIG_IPQ_GCC_5332=n
CONFIG_FS_MBCACHE=n
CONFIG_SOUNDWIRE_QCOM=n
CONFIG_HAVE_FUNCTION_ARG_ACCESS_API=n
CONFIG_CHARGER_MT6360=n
CONFIG_THP_SWAP=n
CONFIG_GENERIC_GETTIMEOFDAY=n
CONFIG_HAVE_IRQ_TIME_ACCOUNTING=n
CONFIG_QCS_VIDEOCC_615=n
CONFIG_CLK_BCM2711_DVP=n
CONFIG_MMC_SDHI=n
CONFIG_QCOM_QSEECOM_UEFISECAPP=n
CONFIG_RASPBERRYPI_POWER=n
CONFIG_CLK_KAANAPALI_VIDEOCC=n
CONFIG_RTC_DRV_PCF8563=n
CONFIG_TEGRA_HSP_MBOX=n
CONFIG_REGULATOR_LP873X=n
CONFIG_VIDEO_WAVE_VPU=n
CONFIG_SCSI_COMMON=n
CONFIG_XEN_XENBUS_FRONTEND=n
CONFIG_QCOM_OCMEM=n
CONFIG_RESET_IMX7=n
CONFIG_DRM_I2C_ADV7511_CEC=n
CONFIG_DEVFREQ_THERMAL=n
CONFIG_HAVE_HARDLOCKUP_DETECTOR_BUDDY=n
CONFIG_IMX_GPCV2=n
CONFIG_CRYPTO_KRB5ENC=n
CONFIG_SG_POOL=n
CONFIG_MARVELL_10G_PHY=n
CONFIG_SND_MESON_AXG_SOUND_CARD=n
CONFIG_I2C_CHARDEV=n
CONFIG_CLK_R9A07G043=n
CONFIG_REGULATOR_BD9571MWV=n
CONFIG_PAGE_MAPCOUNT=n
CONFIG_BLK_DEV_DM_BUILTIN=n
CONFIG_ARM64_ERRATUM_4193714=n
CONFIG_GPIO_XGENE=n
CONFIG_CLK_X1E80100_GPUCC=n
CONFIG_DRM_CDNS_MHDP8546=n
CONFIG_PHY_ROCKCHIP_SAMSUNG_HDPTX=n
CONFIG_DRM_CDNS_DSI=n
CONFIG_NETFILTER=n
CONFIG_SPARSEMEM_VMEMMAP=n
CONFIG_CRYPTO_USER=n
CONFIG_REGULATOR_RZG2L_VBCTRL=n
CONFIG_ARCH_HAVE_NMI_SAFE_CMPXCHG=n
CONFIG_SYSC_R8A77960=n
CONFIG_ARM_CORESIGHT_PMU_ARCH_SYSTEM_PMU=n
CONFIG_NF_DEFRAG_IPV4=n
CONFIG_ARCH_BCM2835=n
CONFIG_COMMON_CLK_MT8192_VDECSYS=n
CONFIG_COMMON_CLK_MT8365_APU=n
CONFIG_QCOM_CLK_APCS_MSM8916=n
CONFIG_SND_SOC_WM8524=n
CONFIG_PINCTRL_IMX8DXL=n
CONFIG_EC_LENOVO_YOGA_C630=n
CONFIG_PINCTRL_AMLOGIC_C3=n
CONFIG_OPENSSL_SUPPORTS_ML_DSA=n
CONFIG_ACPI_APEI_SEA=n
CONFIG_SND_HDA_CORE=n
CONFIG_MQ_IOSCHED_DEADLINE=n
CONFIG_DRM_PANEL_SUMMIT=n
CONFIG_ARCH_LAYERSCAPE=n
CONFIG_PINCTRL_MSM8996=n
CONFIG_PARAVIRT=n
CONFIG_EVENTFD=n
CONFIG_CRYPTO_DEV_FSL_CAAM_CRYPTO_API_QI=n
CONFIG_HAVE_FUNCTION_TRACER=n
CONFIG_USB_EHCI_TT_NEWSCHED=n
CONFIG_KEYBOARD_IMX_BBM_SCMI=n
CONFIG_PINCTRL_SM8650=n
CONFIG_I2C_TEGRA=n
CONFIG_BT_MRVL=n
CONFIG_SCSI_HISI_SAS=n
CONFIG_RPMSG=n
CONFIG_USB_RENESAS_USBHS_UDC=n
CONFIG_MAILBOX=n
CONFIG_FUSE_FS=n
CONFIG_QCOM_SOCINFO=n
CONFIG_COMMON_CLK_MT8186_MCUSYS=n
CONFIG_MTD_CFI_UTIL=n
CONFIG_COMMON_CLK_MT8183_MMSYS=n
CONFIG_GPIO_MVEBU=n
CONFIG_PINCTRL_SOPHGO_CV18XX_OPS=n
CONFIG_ARCH_SOPHGO=n
CONFIG_SCSI_UFS_MEDIATEK=n
CONFIG_RZG3E_THERMAL=n
CONFIG_QRTR_MHI=n
CONFIG_VM_EVENT_COUNTERS=n
CONFIG_PINCTRL_KAANAPALI=n
CONFIG_DRM_GPUVM=n
CONFIG_GOOGLE_FIRMWARE=n
CONFIG_REGULATOR_BD718XX=n
CONFIG_SM_VIDEOCC_8250=n
CONFIG_SND_BCM2835_SOC_I2S=n
CONFIG_MEMFD_CREATE=n
CONFIG_NVMEM_ZYNQMP=n
CONFIG_MHP_DEFAULT_ONLINE_TYPE_OFFLINE=n
CONFIG_CC_HAVE_SHADOW_CALL_STACK=n
CONFIG_SERIAL_8250_MT6577=n
CONFIG_DT_IDLE_GENPD=n
CONFIG_GENERIC_IRQ_SHOW=n
CONFIG_SND_SOC_QCOM=n
CONFIG_SM_GPUCC_MILOS=n
CONFIG_ACPI_CPPC_LIB=n
CONFIG_DT_IDLE_STATES=n
CONFIG_MEDIA_TUNER=n
CONFIG_AQUANTIA_PHY=n
CONFIG_ARCH_R8A774B1=n
CONFIG_SG_SPLIT=n
CONFIG_FUTEX_PRIVATE_HASH=n
CONFIG_NETFILTER_XT_TARGET_LOG=n
CONFIG_ARM_GIC=n
CONFIG_PINCTRL_IMX_SCU=n
CONFIG_TI_DAVINCI_MDIO=n
CONFIG_SERIAL_8250_UNIPHIER=n
CONFIG_GLOB=n
CONFIG_USB_HSIC_USB3503=n
CONFIG_NFS_DISABLE_UDP_SUPPORT=n
CONFIG_TOUCHSCREEN_ELAN=n
CONFIG_SH_ETH=n
CONFIG_COMMON_CLK_ROCKCHIP=n
CONFIG_SND_SUN50I_CODEC_ANALOG=n
CONFIG_DRM_MSM_KMS=n
CONFIG_ARCH_R9A09G047=n
CONFIG_MEMORY_HOTPLUG=n
CONFIG_V4L2_CCI_I2C=n
CONFIG_USB_LIBCOMPOSITE=n
CONFIG_SLUB_DEBUG=n
CONFIG_USB_ISP1761_UDC=n
CONFIG_VLAN_8021Q_GVRP=n
CONFIG_I2C_DESIGNWARE_PLATFORM=n
CONFIG_SND_SOC_ES7241=n
CONFIG_DRM_TIDSS=n
CONFIG_CLK_KAANAPALI_GCC=n
CONFIG_PWM_RENESAS_TPU=n
CONFIG_DRM_SUN8I_MIXER=n
CONFIG_ACPI_CCA_REQUIRED=n
CONFIG_SND_IMX_SOC=n
CONFIG_SND_SOC_MEDIATEK=n
CONFIG_HI6220_MBOX=n
CONFIG_MTD_MAP_BANK_WIDTH_2=n
CONFIG_HAVE_RUST=n
CONFIG_TEE_DMABUF_HEAPS=n
CONFIG_RZG2L_THERMAL=n
CONFIG_BLK_CGROUP=n
CONFIG_MEDIA_PLATFORM_DRIVERS=n
CONFIG_IPQ_GCC_9650=n
CONFIG_ARCH_WANT_HUGE_PMD_SHARE=n
CONFIG_ZONE_DMA32=n
CONFIG_COMMON_CLK_MT8196_MFGCFG=n
CONFIG_PINCTRL_MILOS=n
CONFIG_NET_SCH_MQPRIO=n
CONFIG_DRM_SUN4I=n
CONFIG_SPI_ARMADA_3700=n
CONFIG_CGROUP_FREEZER=n
CONFIG_ROCKCHIP_DW_HDMI=n
CONFIG_WLAN_VENDOR_INTEL=n
CONFIG_HZ_250=n
CONFIG_ARCH_USE_CMPXCHG_LOCKREF=n
CONFIG_SA_GPUCC_8775P=n
CONFIG_CAN_NETLINK=n
CONFIG_SERIAL_QCOM_GENI_CONSOLE=n
CONFIG_PCIE_ALTERA_MSI=n
CONFIG_CLK_ELIZA_TCSRCC=n
CONFIG_REGULATOR_TPS65132=n
CONFIG_SERIAL_8250_SHARE_IRQ=n
CONFIG_TEGRA_HOST1X_CONTEXT_BUS=n
CONFIG_CC_HAS_KASAN_SW_TAGS=n
CONFIG_QCOM_QDF2400_ERRATUM_0065=n
CONFIG_ATH12K=n
CONFIG_DRM_DW_HDMI_QP=n
CONFIG_CPU_FREQ_STAT=n
CONFIG_POLARFIRE_SOC_IRQ_MUX=n
CONFIG_WLAN_VENDOR_MICROCHIP=n
CONFIG_COMMON_CLK_MT8188_CAMSYS=n
CONFIG_INTERCONNECT_QCOM_OSM_L3=n
CONFIG_PHYLIB=n
CONFIG_BRCMFMAC_SDIO=n
CONFIG_IP6_NF_IPTABLES=n
CONFIG_LEDS_TRIGGER_DEFAULT_ON=n
CONFIG_USB_CHIPIDEA_IMX=n
CONFIG_SND_SOC_WCD_MBHC=n
