CONFIG_CRYPTO_ZSTD=y
CONFIG_BACKLIGHT_MT6370=y
CONFIG_SENSORS_LOCHNAGAR=y
CONFIG_USB_CYTHERM=y
CONFIG_C2PORT=y
CONFIG_USB=y
CONFIG_DEBUG_MISC=y
CONFIG_HAVE_PERF_USER_STACK_DUMP=y
CONFIG_REGULATOR_RT6160=y
CONFIG_PHY_CAN_TRANSCEIVER=y
CONFIG_RCU_LAZY_DEFAULT_OFF=y
CONFIG_RCU_EQS_DEBUG=y
CONFIG_IOMMUFD_DRIVER_CORE=y
CONFIG_MTD_OOPS=y
CONFIG_HAVE_HW_BREAKPOINT=y
CONFIG_REGULATOR_AAT2870=y
CONFIG_BMI160=y
CONFIG_RTC_DRV_DS1374=y
CONFIG_MFD_CORE=y
CONFIG_EDAC_SUPPORT=y
CONFIG_CHARGER_MAX77976=y
CONFIG_POWERCAP=y
CONFIG_INOTIFY_USER=y
CONFIG_SAMPLE_VFIO_MDEV_MBOCHS=y
CONFIG_LOCK_STAT=y
CONFIG_SENSORS_SPD5118=y
CONFIG_BSD_PROCESS_ACCT_V3=y
CONFIG_BME680_I2C=y
CONFIG_CHARGER_GPIO=y
CONFIG_POWER_SUPPLY_HWMON=y
CONFIG_INPUT_MOUSEDEV_PSAUX=y
CONFIG_PWM_INTEL_LGM=y
CONFIG_RTC_DRV_MAX77686=y
CONFIG_BINFMT_ELF=y
CONFIG_ADMFM2000=y
CONFIG_STATIC_USERMODEHELPER=y
CONFIG_CROSS_MEMORY_ATTACH=y
CONFIG_NLS_MAC_CELTIC=y
CONFIG_RTC_DRV_DS1286=y
CONFIG_REGULATOR_TPS65023=y
CONFIG_COMMON_CLK_SI570=y
CONFIG_VT_CONSOLE=y
CONFIG_MFD_SYSCON=y
CONFIG_COMPACTION=y
CONFIG_SERIO_LIBPS2=y
CONFIG_HAVE_SETUP_PER_CPU_AREA=y
CONFIG_REGULATOR=y
CONFIG_IIO_HRTIMER_TRIGGER=y
CONFIG_TSL2583=y
CONFIG_HAVE_FUNCTION_ERROR_INJECTION=y
CONFIG_BT_BNEP_PROTO_FILTER=y
CONFIG_REF_TRACKER=y
CONFIG_LEDS_LP5562=y
CONFIG_AD7405=y
CONFIG_HW_RANDOM=y
CONFIG_LEGACY_TIOCSTI=y
CONFIG_NET_PTP_CLASSIFY=y
CONFIG_MFD_WM8998=y
CONFIG_SAMPLE_VFIO_MDEV_MTTY=y
CONFIG_BACKLIGHT_MAX8925=y
CONFIG_PNP_DEBUG_MESSAGES=y
CONFIG_HAVE_FUNCTION_TRACER=y
CONFIG_ADXL372=y
CONFIG_IAQCORE=y
CONFIG_EXPORTFS_BLOCK_OPS=y
CONFIG_SENSORS_AXI_FAN_CONTROL=y
CONFIG_SERIAL_ARC=y
CONFIG_FAIR_GROUP_SCHED=y
CONFIG_SGL_ALLOC=y
CONFIG_REGULATOR_RT4803=y
CONFIG_FS_VERITY_BUILTIN_SIGNATURES=y
CONFIG_USB_DYNAMIC_MINORS=y
CONFIG_REGMAP_I2C=y
CONFIG_REGULATOR_MP886X=y
CONFIG_USB_F_OBEX=y
CONFIG_CRYPTO_RNG2=y
CONFIG_CONNECTOR=y
CONFIG_STK3310=y
CONFIG_IOMMUFD=y
CONFIG_DUMMY_CONSOLE=y
CONFIG_SYSVIPC_SYSCTL=y
CONFIG_MEMTEST=y
CONFIG_HW_RANDOM_TIMERIOMEM=y
CONFIG_SENSORS_D1U74T=y
CONFIG_HARDLOCKUP_DETECTOR=y
CONFIG_CC_HAS_ENTRY_PADDING=y
CONFIG_GUP_TEST=y
CONFIG_SD_ADC_MODULATOR=y
CONFIG_IIO_TRIGGER=y
CONFIG_SENSORS_W83781D=y
CONFIG_SENSORS_DS1621=y
CONFIG_CHARGER_RT9756=y
CONFIG_AUDIT=y
CONFIG_SERIAL_CONEXANT_DIGICOLOR_CONSOLE=y
CONFIG_GPIO_MAX7360=y
CONFIG_HZ_250=y
CONFIG_MMU_GATHER_TABLE_FREE=y
CONFIG_RTC_DRV_FM3130=y
CONFIG_MMA9553=y
CONFIG_GCC_ASM_GOTO_OUTPUT_BROKEN=y
CONFIG_CC_HAS_SLS=y
CONFIG_FW_LOADER_USER_HELPER=y
CONFIG_MFD_SY7636A=y
CONFIG_USB_F_NCM=y
CONFIG_TOOLS_SUPPORT_RELR=y
CONFIG_ARCH_SUPPORTS_LTO_CLANG=y
CONFIG_PINCTRL_AW9523=y
CONFIG_TABLET_SERIAL_WACOM4=y
CONFIG_SENSORS_TSC1641=y
CONFIG_ARCH_SUPPORTS_KEXEC=y
CONFIG_KALLSYMS_ALL=y
CONFIG_INV_ICM45600_I2C=y
CONFIG_LEDS_LM3532=y
CONFIG_SENSORS_MAX16065=y
CONFIG_WM831X_BACKUP=y
CONFIG_DNOTIFY=y
CONFIG_USB_SERIAL_OMNINET=y
CONFIG_DEBUG_KMAP_LOCAL=y
CONFIG_LDISC_AUTOLOAD=y
CONFIG_CRYPTO_KRB5ENC=y
CONFIG_HAVE_ASM_MODVERSIONS=y
CONFIG_N_HDLC=y
CONFIG_HAVE_PREEMPT_DYNAMIC_CALL=y
CONFIG_RD_LZO=y
CONFIG_SPARSEMEM_STATIC=y
CONFIG_PTP_1588_CLOCK_OPTIONAL=y
CONFIG_BACKLIGHT_MP3309C=y
CONFIG_GPIB_NEC7210=y
CONFIG_PECI=y
CONFIG_SENSORS_FSCHMD=y
CONFIG_SENSORS_ADP1050=y
CONFIG_USB_EHSET_TEST_FIXTURE=y
CONFIG_INV_MPU6050_I2C=y
CONFIG_CLK_LGM_CGU=y
CONFIG_LEDS_TRIGGER_TRANSIENT=y
CONFIG_MTD_LPDDR=y
CONFIG_QFMT_V2=y
CONFIG_ARCH_HAS_CPU_RESCTRL=y
CONFIG_X86_GOLDFISH=y
CONFIG_RTC_DRV_M48T59=y
CONFIG_STK8BA50=y
CONFIG_JSA1212=y
CONFIG_NFC_ST_NCI=y
CONFIG_ABP2030PA_I2C=y
CONFIG_USB_GR_UDC=y
CONFIG_MTD_NAND_ECC_SW_BCH=y
CONFIG_CHARGER_ADP5061=y
CONFIG_ARCH_HIBERNATION_POSSIBLE=y
CONFIG_COMPAT_VDSO=y
CONFIG_SERIO=y
CONFIG_FS_IOMAP=y
CONFIG_MFD_MAX14577=y
CONFIG_RTC_DRV_ABB5ZES3=y
CONFIG_SCHEDSTATS=y
CONFIG_CC_HAS_NAMED_AS_FIXED_SANITIZERS=y
CONFIG_HAVE_NMI=y
CONFIG_IIO_SIMPLE_DUMMY_EVENTS=y
CONFIG_CLKSRC_I8253=y
CONFIG_ADXL380=y
CONFIG_SENSORS_SHT15=y
CONFIG_HAVE_PCI=y
CONFIG_MFD_AXP20X_I2C=y
CONFIG_CRYPTO_AUTHENC=y
CONFIG_LEDS_LGM=y
CONFIG_SENSORS_LIS3_I2C=y
CONFIG_BATTERY_BQ27XXX_HDQ=y
CONFIG_PROC_CHILDREN=y
CONFIG_NLS_KOI8_U=y
CONFIG_QUOTA=y
CONFIG_PAGE_REPORTING=y
CONFIG_BMI160_I2C=y
CONFIG_ARCH_USE_CMPXCHG_LOCKREF=y
CONFIG_ARCH_HAS_SET_MEMORY=y
CONFIG_SHRINKER_DEBUG=y
CONFIG_SENSORS_MP5990=y
CONFIG_W1_SLAVE_DS2433=y
CONFIG_FAILOVER=y
CONFIG_SERIO_ALTERA_PS2=y
CONFIG_MFD_RK8XX_I2C=y
CONFIG_SENSORS_IRPS5401=y
CONFIG_OF_KOBJ=y
CONFIG_D3323AA=y
CONFIG_X86_CPA_STATISTICS=y
CONFIG_ZONE_DMA=y
CONFIG_PROC_EVENTS=y
CONFIG_SRAM=y
CONFIG_GENERIC_IRQ_PROBE=y
CONFIG_FWCTL=y
CONFIG_SERIAL_MCTRL_GPIO=y
CONFIG_I2C_MUX_MULE=y
CONFIG_STK8312=y
CONFIG_USER_STACKTRACE_SUPPORT=y
CONFIG_GPIO_MENZ127=y
CONFIG_SERIAL_SIFIVE=y
CONFIG_GENERIC_SYSCALL=y
CONFIG_GPIO_PCA953X=y
CONFIG_BMI323=y
CONFIG_BATTERY_CW2015=y
CONFIG_REGULATOR_ATC260X=y
CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE=y
CONFIG_ISA_DMA_API=y
CONFIG_MFD_DA9052_I2C=y
CONFIG_DMIID=y
CONFIG_SIOX=y
CONFIG_OF_IOMMU=y
CONFIG_GPIO_PCA953X_IRQ=y
CONFIG_DEBUG_RWSEMS=y
CONFIG_VEML6030=y
CONFIG_HSC030PA_I2C=y
CONFIG_UTS_NS=y
CONFIG_ARCH_STACKWALK=y
CONFIG_COMMON_CLK_SI5341=y
CONFIG_LEDS_TRIGGER_ONESHOT=y
CONFIG_PCMCIA=y
CONFIG_NLS_CODEPAGE_1250=y
CONFIG_USB_SERIAL_EDGEPORT=y
CONFIG_LEDS_OSRAM_AMS_AS3668=y
CONFIG_PTDUMP=y
CONFIG_COMMON_CLK_PALMAS=y
CONFIG_MTD_NAND_CADENCE=y
CONFIG_NET_EGRESS=y
CONFIG_AUDIT_GENERIC=y
CONFIG_ARCH_SUPPORTS_HUGETLBFS=y
CONFIG_OVERLAY_FS_DEBUG=y
CONFIG_HSI_CHAR=y
CONFIG_SENSORS_ADS7828=y
CONFIG_MICROCODE=y
CONFIG_APDS9160=y
CONFIG_ADXL313_I2C=y
CONFIG_AD5446=y
CONFIG_BATTERY_BQ27XXX_I2C=y
CONFIG_GPIO_LP3943=y
CONFIG_HAVE_DEBUG_STACKOVERFLOW=y
CONFIG_NCT7201=y
CONFIG_SENSORS_SMSC47B397=y
CONFIG_DEBUG_INFO_COMPRESSED_NONE=y
CONFIG_9P_FS=y
CONFIG_LOCALVERSION_AUTO=y
CONFIG_BINFMT_SCRIPT=y
CONFIG_FS_VERITY=y
CONFIG_TSL2591=y
CONFIG_RELOCATABLE=y
CONFIG_MFD_ARIZONA_I2C=y
CONFIG_CONTEXT_SWITCH_TRACER=y
CONFIG_WIRELESS=y
CONFIG_FW_CACHE=y
CONFIG_BCMA=y
CONFIG_INPUT_TABLET=y
CONFIG_MMU=y
CONFIG_ARCH_HAS_CACHE_LINE_SIZE=y
CONFIG_LEDS_LM3697=y
CONFIG_GPIO_CDEV=y
CONFIG_MAX34408=y
CONFIG_USB_G_NCM=y
CONFIG_TRACE_IRQFLAGS_SUPPORT=y
CONFIG_PROC_MEM_ALWAYS_FORCE=y
CONFIG_SENSORS_W83L785TS=y
CONFIG_BACKLIGHT_RT4831=y
CONFIG_NVMEM_LAYOUT_U_BOOT_ENV=y
CONFIG_MTD_NAND_PLATFORM=y
CONFIG_INTEL_TH_PTI=y
CONFIG_REGULATOR_MC13XXX_CORE=y
CONFIG_SENSORS_GL518SM=y
CONFIG_MITIGATION_SPECTRE_V2=y
CONFIG_ASYMMETRIC_PUBLIC_KEY_SUBTYPE=y
CONFIG_TASKS_TRACE_RCU=y
CONFIG_X86_DISABLED_FEATURE_UMIP=y
CONFIG_NFC_PN533_USB=y
CONFIG_SENSORS_UCD9000=y
CONFIG_IIO_GTS_HELPER=y
CONFIG_SENSORS_MAX31760=y
CONFIG_SENSORS_LM92=y
CONFIG_USB_SNP_UDC_PLAT=y
CONFIG_IIO_BUFFER_DMAENGINE=y
CONFIG_BACKLIGHT_PWM=y
CONFIG_REGULATOR_MT6311=y
CONFIG_XZ_DEC_RISCV=y
CONFIG_LEDS_LM3692X=y
CONFIG_PHY_INTEL_LGM_EMMC=y
CONFIG_SERIAL_8250_ACCENT=y
CONFIG_PROVE_LOCKING=y
CONFIG_REGULATOR_QCOM_PM8008=y
CONFIG_MFD_MC13XXX_I2C=y
CONFIG_REGULATOR_TPS65185=y
CONFIG_MFD_TPS65218=y
CONFIG_GPIO_VIRTIO=y
CONFIG_LEDS_LP3944=y
CONFIG_SENSORS_TPS53679=y
CONFIG_REGMAP_W1=y
CONFIG_SERIO_ARC_PS2=y
CONFIG_LD_IS_BFD=y
CONFIG_SENSORS_LTC3815=y
CONFIG_GENERIC_CPU_AUTOPROBE=y
CONFIG_IKCONFIG_PROC=y
CONFIG_RSEQ_DEBUG_DEFAULT_ENABLE=y
CONFIG_RTC_DRV_WM831X=y
CONFIG_ALS31300=y
CONFIG_CRYPTO_ESSIV=y
CONFIG_RTC_DRV_DS1553=y
CONFIG_USB_SERIAL_IPAQ=y
CONFIG_CRYPTO_DEV_PADLOCK_AES=y
CONFIG_USB_SERIAL_GARMIN=y
CONFIG_USB_CHAOSKEY=y
CONFIG_REGULATOR_ROHM=y
CONFIG_USB_EMI26=y
CONFIG_DECOMPRESS_LZO=y
CONFIG_MFD_WM5102=y
CONFIG_XZ_DEC=y
CONFIG_SENSORS_MP5023=y
CONFIG_HTE=y
CONFIG_HAVE_CLK=y
CONFIG_SENSORS_LTC2992=y
CONFIG_FSI_SCOM=y
CONFIG_VM86=y
CONFIG_LEDS_LP8860=y
CONFIG_MUX_ADG792A=y
CONFIG_EXPORTFS=y
CONFIG_SENSORS_VT1211=y
CONFIG_SUSPEND_FREEZER=y
CONFIG_SCD4X=y
CONFIG_VIRTIO_ANCHOR=y
CONFIG_NVMEM_LAYOUTS=y
CONFIG_PARPORT_PC=y
CONFIG_ASN1=y
CONFIG_FS_POSIX_ACL=y
CONFIG_MFD_TQMX86=y
CONFIG_JOYSTICK_GAMECON=y
CONFIG_HAVE_ARCH_KSTACK_ERASE=y
CONFIG_PREEMPTION=y
CONFIG_USB_SERIAL_SYMBOL=y
CONFIG_MTD_NAND_ECC=y
CONFIG_TRACING=y
CONFIG_RESET_SIMPLE=y
CONFIG_CC_HAS_RETURN_THUNK=y
CONFIG_QUOTACTL=y
CONFIG_NLS=y
CONFIG_INTERVAL_TREE_SPAN_ITER=y
CONFIG_X86_DISABLED_FEATURE_IBT=y
CONFIG_CONTEXT_TRACKING_IDLE=y
CONFIG_NET_9P=y
CONFIG_REGULATOR_MAX14577=y
CONFIG_SERIO_RAW=y
CONFIG_PAC1921=y
CONFIG_USB_SERIAL_F81232=y
CONFIG_REGULATOR_BD71828=y
CONFIG_VHOST_IOTLB=y
CONFIG_PERSISTENT_KEYRINGS=y
CONFIG_SENSORS_G760A=y
CONFIG_HARDLOCKUP_DETECTOR_COUNTS_HRTIMER=y
CONFIG_HAVE_ARCH_MMAP_RND_BITS=y
CONFIG_UBIFS_FS_SECURITY=y
CONFIG_SERIAL_CORE_CONSOLE=y
CONFIG_SENSORS_LM77=y
CONFIG_INTERVAL_TREE=y
CONFIG_NLS_ISO8859_7=y
CONFIG_AW96103=y
CONFIG_RCU_LAZY=y
CONFIG_NFC=y
CONFIG_842_COMPRESS=y
CONFIG_DEVMEM=y
CONFIG_842_DECOMPRESS=y
CONFIG_ASSOCIATIVE_ARRAY=y
CONFIG_USB_SERIAL_AIRCABLE=y
CONFIG_LAPB=y
CONFIG_PAGE_POOL=y
CONFIG_CRYPTO_USER_API_HASH=y
CONFIG_NLS_CODEPAGE_861=y
CONFIG_SENSORS_ACBEL_FSG032=y
CONFIG_DPOT_DAC=y
CONFIG_GENERIC_IRQ_CHIP=y
CONFIG_EXTCON_FSA9480=y
CONFIG_THREAD_INFO_IN_TASK=y
CONFIG_GPIO_LOGICVC=y
CONFIG_GENERIC_IRQ_ENTRY=y
CONFIG_SERIAL_EARLYCON=y
CONFIG_LZ4_DECOMPRESS=y
CONFIG_COMMON_CLK_AXI_CLKGEN=y
CONFIG_MTD_NAND_INTEL_LGM=y
CONFIG_LEDS_TLC591XX=y
CONFIG_HAVE_KERNEL_LZO=y
CONFIG_KCMP=y
CONFIG_ADXL367=y
CONFIG_CRYPTO_DEFLATE=y
CONFIG_MULTIPLEXER=y
CONFIG_HAVE_KERNEL_XZ=y
CONFIG_RANDOMIZE_BASE=y
CONFIG_IIO_KFIFO_BUF=y
CONFIG_MOST_USB_HDM=y
CONFIG_RPR0521=y
CONFIG_MFD_AAT2870_CORE=y
CONFIG_RFKILL_LEDS=y
CONFIG_USB_F_HID=y
CONFIG_CRYPTO_CAMELLIA=y
CONFIG_REGULATOR_DA9211=y
CONFIG_REGULATOR_ACT8865=y
CONFIG_BACKLIGHT_LV5207LP=y
CONFIG_CLKEVT_I8253=y
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_REGS=y
CONFIG_BPF_UNPRIV_DEFAULT_OFF=y
CONFIG_INPUT_MOUSEDEV=y
CONFIG_AD5592R_BASE=y
CONFIG_PINMUX=y
CONFIG_X86_ALIGNMENT_16=y
CONFIG_DECOMPRESS_LZMA=y
CONFIG_SENSORS_LM73=y
CONFIG_SLUB_TINY=y
CONFIG_SYSFB=y
CONFIG_NFC_MRVL=y
CONFIG_MFD_SKY81452=y
CONFIG_IEEE802154=y
CONFIG_MMC35240=y
CONFIG_MFD_MADERA_I2C=y
CONFIG_NFC_MRVL_USB=y
CONFIG_POSIX_AUX_CLOCKS=y
CONFIG_ARCH_USE_QUEUED_RWLOCKS=y
CONFIG_BT_RFCOMM=y
CONFIG_COMPAT_BRK=y
CONFIG_INPUT_SPARSEKMAP=y
CONFIG_JOYSTICK_MAGELLAN=y
CONFIG_CRYPTO_ECRDSA=y
CONFIG_CRYPTO_SHA512=y
CONFIG_SENSORS_BEL_PFE=y
CONFIG_MPLS_IPTUNNEL=y
CONFIG_PHY_INTEL_LGM_COMBO=y
CONFIG_JOYSTICK_QWIIC=y
CONFIG_USB_OHCI_LITTLE_ENDIAN=y
CONFIG_CRYPTO_MANAGER=y
CONFIG_RFKILL_GPIO=y
CONFIG_AUTOFS_FS=y
CONFIG_VIRTIO=y
CONFIG_NET_9P_USBG=y
CONFIG_PTP_1588_CLOCK_IDTCM=y
CONFIG_PAHOLE_HAS_LANG_EXCLUDE=y
CONFIG_RCU_BOOST=y
CONFIG_CHARGER_ISP1704=y
CONFIG_SENSORS_PCF8591=y
CONFIG_SOFTLOCKUP_DETECTOR=y
CONFIG_BT_VIRTIO=y
CONFIG_USB_SERIAL_SIERRAWIRELESS=y
CONFIG_GPIO_FTGPIO010=y
CONFIG_ARCH_HAS_PTDUMP=y
CONFIG_I3C_OR_I2C=y
CONFIG_I2C_DEMUX_PINCTRL=y
CONFIG_LEDS_LP5569=y
CONFIG_RTC_DRV_BQ32K=y
CONFIG_MEDIATEK_MT6359_AUXADC=y
CONFIG_APDS9300=y
CONFIG_GPIO_104_DIO_48E=y
CONFIG_I2C_FSI=y
CONFIG_LEDS_MT6370_RGB=y
CONFIG_PMIC_DA9052=y
CONFIG_CRYPTO_SHA1=y
CONFIG_RCU_STRICT_GRACE_PERIOD=y
CONFIG_NFC_SHDLC=y
CONFIG_SENSORS_MAX6697=y
CONFIG_ARCH_HAS_PARANOID_L1D_FLUSH=y
CONFIG_REMOTEPROC_CDEV=y
CONFIG_NFC_NXP_NCI=y
CONFIG_DEBUG_LIST=y
CONFIG_GPIO_FXL6408=y
CONFIG_AS_HAS_NON_CONST_ULEB128=y
CONFIG_CRYPTO_LIB_GF128HASH=y
CONFIG_SENSORS_ADP1050_REGULATOR=y
CONFIG_CHARGER_DA9150=y
CONFIG_REGULATOR_MC13783=y
CONFIG_USB_G_SERIAL=y
CONFIG_MAX1363=y
CONFIG_TSM_GUEST=y
CONFIG_SECURITYFS=y
CONFIG_ISAPNP=y
CONFIG_SENSORS_AD7418=y
CONFIG_MISC_FILESYSTEMS=y
CONFIG_CRYPTO_SKCIPHER=y
CONFIG_BT_LEDS=y
CONFIG_LOCKUP_DETECTOR=y
CONFIG_CRYPTO_USER_API_SKCIPHER=y
CONFIG_VEML6040=y
CONFIG_PC104=y
CONFIG_GENERIC_PINCTRL=y
CONFIG_COMMON_CLK_CDCE706=y
CONFIG_CRYPTO_XCBC=y
CONFIG_CC_HAS_WORKING_NOSANITIZE_ADDRESS=y
CONFIG_X86_CPUID=y
CONFIG_SENSORS_STTS751=y
CONFIG_REGULATOR_SKY81452=y
CONFIG_AUDITSYSCALL=y
CONFIG_JOYSTICK_A3D=y
CONFIG_MTD_RAM=y
CONFIG_CRYPTO_ECB=y
CONFIG_USB_SERIAL_CONSOLE=y
CONFIG_SENSORS_G762=y
CONFIG_INPUT_LEDS=y
CONFIG_SI7005=y
CONFIG_UNICODE=y
CONFIG_I2C_SMBUS=y
CONFIG_EXTCON_RT8973A=y
CONFIG_SENSORS_LM3533=y
CONFIG_GPIO_AMD_FCH=y
CONFIG_AD3552R_HS=y
CONFIG_REGULATOR_MT6359=y
