CONFIG_PCI_SKY1_HOST=y
CONFIG_SUNXI_RSB=y
CONFIG_IIO_KFIFO_BUF=y
CONFIG_ARM_FFA_TRANSPORT=y
CONFIG_SYSC_R8A774E1=y
CONFIG_FS_IOMAP=y
CONFIG_CRYPTO_XCTR=y
CONFIG_BOSCH_BNO055_SERIAL=y
CONFIG_SVC_I3C_MASTER=y
CONFIG_ARCH_HAS_DEBUG_WX=y
CONFIG_SENSORS_TPS25990=y
CONFIG_CORESIGHT_SOURCE_ETM4X=y
CONFIG_TI_LMP92064=y
CONFIG_REGULATOR_LTC3589=y
CONFIG_PHY_UNIPHIER_AHCI=y
CONFIG_TEST_KSTRTOX=y
CONFIG_LTC2471=y
CONFIG_HID_VIVALDI=y
CONFIG_FB_ATY_CT=y
CONFIG_THERMAL=y
CONFIG_MMC_USDHI6ROL0=y
CONFIG_CHARGER_RT9467=y
CONFIG_SAMPLE_VFIO_MDEV_MBOCHS=y
CONFIG_SM_GCC_6375=y
CONFIG_VGA_ARB=y
CONFIG_HID_EVISION=y
CONFIG_FB_XILINX=y
CONFIG_AXI_DMAC=y
CONFIG_MTD_SPI_NOR_SWP_DISABLE=y
CONFIG_DUMMY_CONSOLE=y
CONFIG_ARCH_HAS_MEMBARRIER_SYNC_CORE=y
CONFIG_PINCTRL_SM6375=y
CONFIG_ARM64_ERRATUM_1902691=y
CONFIG_SPI_MXIC=y
CONFIG_AD5272=y
CONFIG_CGROUP_FREEZER=y
CONFIG_VIRTIO_RTC_PTP=y
CONFIG_ARCH_ALPINE=y
CONFIG_ARM_ARCH_TIMER_OOL_WORKAROUND=y
CONFIG_BACKTRACE_SELF_TEST=y
CONFIG_MFD_TPS65219=y
CONFIG_FB_VT8623=y
CONFIG_POWER_SUPPLY=y
CONFIG_MPRLS0025PA_SPI=y
CONFIG_GPIOLIB=y
CONFIG_LIST_HARDENED=y
CONFIG_SERIO_SUN4I_PS2=y
CONFIG_PINCTRL_SM8450_LPASS_LPI=y
CONFIG_PROC_MEM_FORCE_PTRACE=y
CONFIG_HOTPLUG_PCI_SHPC=y
CONFIG_ARM_SMMU_QCOM=y
CONFIG_AD5696_I2C=y
CONFIG_MAX30208=y
CONFIG_VMGENID=y
CONFIG_PTP_1588_CLOCK_MOCK=y
CONFIG_KEXEC_HANDOVER_ENABLE_DEFAULT=y
CONFIG_ARCH_R9A09G047=y
CONFIG_COMMON_CLK_SCMI=y
CONFIG_TPS6105X=y
CONFIG_SENSORS_LTC4151=y
CONFIG_NETFS_SUPPORT=y
CONFIG_AD5755=y
CONFIG_MAX34408=y
CONFIG_DEBUG_DEVRES=y
CONFIG_PINCTRL_MAX7360=y
CONFIG_SEN0322=y
CONFIG_QCS_Q6SSTOP_404=y
CONFIG_CRYPTO_SIG=y
CONFIG_NVMEM_SYSFS=y
CONFIG_CRYPTO_HMAC=y
CONFIG_SCD30_CORE=y
CONFIG_HAVE_C_RECORDMCOUNT=y
CONFIG_EVENT_TRACE_STARTUP_TEST=y
CONFIG_AMPERE_ERRATUM_AC04_CPU_23=y
CONFIG_ADIS16130=y
CONFIG_LOCALVERSION_AUTO=y
CONFIG_FUSE_FS=y
CONFIG_CRYPTO_USER_API=y
CONFIG_AUXDISPLAY=y
CONFIG_RTC_DRV_XGENE=y
CONFIG_ARM64_SVE=y
CONFIG_DT_IDLE_GENPD=y
CONFIG_GPIO_XILINX=y
CONFIG_GPIO_XGENE_SB=y
CONFIG_ENS160=y
CONFIG_ARM_SCMI_TRANSPORT_MAILBOX=y
CONFIG_ARCH_DEFAULT_KEXEC_IMAGE_VERIFY_SIG=y
CONFIG_CRYPTO_DRBG=y
CONFIG_PINCTRL_MSM8976=y
CONFIG_ARM64_ERRATUM_2077057=y
CONFIG_CONTEXT_TRACKING_USER=y
CONFIG_KEBA_CP500=y
CONFIG_MTD_JEDECPROBE=y
CONFIG_PHY_RCAR_GEN3_PCIE=y
CONFIG_REGMAP_IRQ=y
CONFIG_TMP007=y
CONFIG_FB_SYSMEM_HELPERS=y
CONFIG_GPIO_MAX7360=y
CONFIG_TRACER_SNAPSHOT_PER_CPU_SWAP=y
CONFIG_PCIE_RCAR_GEN4_HOST=y
CONFIG_HWMON=y
CONFIG_EVENTFD=y
CONFIG_I2C_ALI1535=y
CONFIG_CRYPTO_MANAGER2=y
CONFIG_ARM_SDE_INTERFACE=y
CONFIG_OF_DYNAMIC=y
CONFIG_PHY_MVEBU_CP110_COMPHY=y
CONFIG_ARCH_SUNXI=y
CONFIG_MFD_SIMPLE_MFD_I2C=y
CONFIG_SENSORS_IR36021=y
CONFIG_QCOM_PDR_MSG=y
CONFIG_PINCTRL=y
CONFIG_LDISC_AUTOLOAD=y
CONFIG_RUNTIME_TESTING_MENU=y
CONFIG_QCOM_CPR=y
CONFIG_PINCTRL_IPQ9650=y
CONFIG_SPI_DEBUG=y
CONFIG_SENSORS_ADP1050=y
CONFIG_ARCH_HAS_NMI_SAFE_THIS_CPU_OPS=y
CONFIG_MFD_BD9571MWV=y
CONFIG_SYSC_RCAR=y
CONFIG_I2C_ALGOBIT=y
CONFIG_CDX_BUS=y
CONFIG_TI_ADC12138=y
CONFIG_PINCTRL_BERLIN=y
CONFIG_RST_RCAR=y
CONFIG_BUG=y
CONFIG_CORESIGHT_CTCU=y
CONFIG_SENSORS_MACSMC_HWMON=y
CONFIG_SM_GCC_8550=y
CONFIG_SPI_STM32_QSPI=y
CONFIG_FTRACE_SELFTEST=y
CONFIG_ARCH_HAS_FORTIFY_SOURCE=y
CONFIG_ARM64_ERRATUM_826319=y
CONFIG_SIGNALFD=y
CONFIG_DEBUG_NOTIFIERS=y
CONFIG_FUJITSU_ERRATUM_010001=y
CONFIG_SPI_UNIPHIER=y
CONFIG_FXAS21002C_SPI=y
CONFIG_FPGA_MGR_LATTICE_SYSCONFIG=y
CONFIG_PHYS_ADDR_T_64BIT=y
CONFIG_DTC=y
CONFIG_IIO_ST_SENSORS_I2C=y
CONFIG_MAX30102=y
CONFIG_CRYPTO_ECRDSA=y
CONFIG_SENSORS_XDP720=y
CONFIG_QCOM_GENI_SE=y
CONFIG_SM_CAMCC_7150=y
CONFIG_FB_SYS_IMAGEBLIT=y
CONFIG_TIMER_PROBE=y
CONFIG_PCIE_LAYERSCAPE_GEN4=y
CONFIG_PINCTRL_MLXBF3=y
CONFIG_ARCH_HAS_CURRENT_STACK_POINTER=y
CONFIG_DEBUG_RWSEMS=y
CONFIG_VEML6040=y
CONFIG_EXPERT=y
CONFIG_INTERCONNECT_QCOM_SMD_RPM=y
CONFIG_KERNEL_MODE_NEON=y
CONFIG_MTD_CFI_ADV_OPTIONS=y
CONFIG_HAVE_GENERIC_VDSO=y
CONFIG_PCIE_ARMADA_8K=y
CONFIG_HID_SAITEK=y
CONFIG_LEDS_LM3532=y
CONFIG_PTP_1588_CLOCK_OPTIONAL=y
CONFIG_APPLE_ADMAC=y
CONFIG_CGROUP_DEBUG=y
CONFIG_HAVE_FUNCTION_GRAPH_TRACER=y
CONFIG_RPMB=y
CONFIG_HID_GENERIC=y
CONFIG_ARCH_HAS_NONLEAF_PMD_YOUNG=y
CONFIG_QCOM_GPI_DMA=y
CONFIG_HAVE_ARCH_SECCOMP_FILTER=y
CONFIG_REGULATOR_TPS6287X=y
CONFIG_REGULATOR_DA9121=y
CONFIG_ARCH_USE_QUEUED_RWLOCKS=y
CONFIG_I2C_MUX_REG=y
CONFIG_NET_FLOW_LIMIT=y
CONFIG_HI8435=y
CONFIG_CMA_DEBUGFS=y
CONFIG_FB_DEFERRED_IO=y
CONFIG_ARCH_R9A09G056=y
CONFIG_MFD_SUN6I_PRCM=y
CONFIG_CLKSRC_STM32_LP=y
CONFIG_MTD_ROM=y
CONFIG_MFD_MT6360=y
CONFIG_LEDS_TRIGGER_GPIO=y
CONFIG_GPIO_BD72720=y
CONFIG_FAILOVER=y
CONFIG_LEDS_TRIGGER_BACKLIGHT=y
CONFIG_CLK_R9A09G047=y
CONFIG_MMC_STM32_SDMMC=y
CONFIG_PINCTRL_IPQ5332=y
CONFIG_RTC_DRV_MAX6902=y
CONFIG_HAVE_ARCH_BITREVERSE=y
CONFIG_LEDS_SY7802=y
CONFIG_EXTCON_MAX3355=y
CONFIG_CRYPTO_MLDSA=y
CONFIG_QCOM_ICC_BWMON=y
CONFIG_CRYPTO_AEAD2=y
CONFIG_AMBA_PL08X=y
CONFIG_HTU21=y
CONFIG_ARM64_ERRATUM_2119858=y
CONFIG_CRYPTO_LIB_AES=y
CONFIG_GPIO_TPS65912=y
CONFIG_HAVE_NMI=y
CONFIG_PAGE_SIZE_LESS_THAN_256KB=y
CONFIG_PHY_QCOM_USB_HS_28NM=y
CONFIG_MTD_CFI_UTIL=y
CONFIG_POWER_SEQUENCING_QCOM_WCN=y
CONFIG_RTC_DRV_TEST=y
CONFIG_RTC_DEBUG=y
CONFIG_VIRTIO_MMIO_CMDLINE_DEVICES=y
CONFIG_NVMEM_SC27XX_EFUSE=y
CONFIG_ADXL367=y
CONFIG_RFS_ACCEL=y
CONFIG_EXTCON=y
CONFIG_TRANSPARENT_HUGEPAGE_TMPFS_HUGE_ALWAYS=y
CONFIG_SAMPLE_HIDRAW=y
CONFIG_EXTCON_MAX8997=y
CONFIG_CRYPTO_ECC=y
CONFIG_ARM64_ERRATUM_1319367=y
CONFIG_SPI_RZV2H_RSPI=y
CONFIG_SM_DISPCC_6125=y
CONFIG_FSL_DPAA=y
CONFIG_CRYPTO_LIB_SM3=y
CONFIG_SPS30=y
CONFIG_JOYSTICK_A3D=y
CONFIG_QCOM_PDC=y
CONFIG_LEDS_LP8788=y
CONFIG_KEYS_REQUEST_CACHE=y
CONFIG_ARMADA_AP806_SYSCON=y
CONFIG_QUEUED_RWLOCKS=y
CONFIG_SENSORS_PIM4328=y
CONFIG_VMWARE_VMCI=y
CONFIG_LEDS_OSRAM_AMS_AS3668=y
CONFIG_INPUT_GPIO_VIBRA=y
CONFIG_GENERIC_STRNCPY_FROM_USER=y
CONFIG_W1_SLAVE_SMEM=y
CONFIG_PCI_FTPCI100=y
CONFIG_SENSORS_UCD9200=y
CONFIG_ENCRYPTED_KEYS=y
CONFIG_LEDS_LM3601X=y
CONFIG_REGULATOR_MAX77686=y
CONFIG_MS5637=y
CONFIG_INPUT_DRV2667_HAPTICS=y
CONFIG_ARM64_HW_AFDBM=y
CONFIG_GPIO_TWL4030=y
CONFIG_NET_EMATCH_CMP=y
CONFIG_REGULATOR_MAX8952=y
CONFIG_SUN8I_DE2_CCU=y
CONFIG_SENSORS_LM3533=y
CONFIG_CLK_X1E80100_GCC=y
CONFIG_HWSPINLOCK_QCOM=y
CONFIG_CRYPTO_CAST6=y
CONFIG_ARCH_HAS_STRICT_KERNEL_RWX=y
CONFIG_RTC_DRV_RX8581=y
CONFIG_MMC_SDHI_SYS_DMAC=y
CONFIG_ARMADA_37XX_CLK=y
CONFIG_PINCTRL_ELIZA=y
CONFIG_SENSORS_LTC4245=y
CONFIG_LEDS_AS3645A=y
CONFIG_CPU_ISOLATION=y
CONFIG_MFD_TPS6594_SPI=y
CONFIG_MFD_CS47L15=y
CONFIG_PCI_HYPERV_INTERFACE=y
CONFIG_NVIDIA_CORESIGHT_PMU_ARCH_SYSTEM_PMU=y
CONFIG_SM_TCSRCC_8650=y
CONFIG_LPC_ICH=y
CONFIG_CC_HAS_NO_PROFILE_FN_ATTR=y
CONFIG_REGULATOR_MAX8660=y
CONFIG_IIO_ADIS_LIB_BUFFER=y
CONFIG_ARCH_USE_CMPXCHG_LOCKREF=y
CONFIG_CRYPTO_LIB_UTILS=y
CONFIG_BATTERY_DS2782=y
CONFIG_IOMMU_IOVA=y
CONFIG_GPIO_HISI=y
CONFIG_COMMON_CLK_SI544=y
CONFIG_UAPI_HEADER_TEST=y
CONFIG_FB_CYBER2000_DDC=y
CONFIG_MFD_PF1550=y
CONFIG_DEFERRED_STRUCT_PAGE_INIT=y
CONFIG_MEDIATEK_MT6370_ADC=y
CONFIG_PINCTRL_SDM670=y
CONFIG_GENERIC_IRQ_DEBUGFS=y
CONFIG_MFD_RT5120=y
CONFIG_PTDUMP=y
CONFIG_GPIO_PCA9570=y
CONFIG_SPARSE_IRQ=y
CONFIG_LEDS_TRIGGER_PATTERN=y
CONFIG_RTC_DRV_DS2404=y
CONFIG_IIO_TRIGGERED_EVENT=y
CONFIG_GDB_SCRIPTS=y
CONFIG_DMA_ENGINE=y
CONFIG_LP8788_ADC=y
CONFIG_MAX31865=y
CONFIG_MFD_LOCHNAGAR=y
CONFIG_IPMI_POWEROFF=y
CONFIG_RTC_DRV_NVIDIA_VRS10=y
CONFIG_ARCH_WANT_FRAME_POINTERS=y
CONFIG_RESET_CONTROLLER=y
CONFIG_SUN6I_RTC_CCU=y
CONFIG_CRYPTO_CAST_COMMON=y
CONFIG_MMC5983=y
CONFIG_RTC_DRV_RV3032=y
CONFIG_IO_URING_BPF=y
CONFIG_HID_EZKEY=y
CONFIG_MFD_MAX8925=y
CONFIG_RCU_EQS_DEBUG=y
CONFIG_SYSFS=y
CONFIG_RPS=y
CONFIG_REGULATOR_QCOM_REFGEN=y
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST=y
CONFIG_MFD_TPS65912_SPI=y
CONFIG_DMAPOOL_TEST=y
CONFIG_SERIAL_BCM63XX=y
CONFIG_HAVE_PERF_REGS=y
CONFIG_SENSORS_NCT6775_CORE=y
CONFIG_ARCH_HAS_PTDUMP=y
CONFIG_MSM_GCC_8953=y
CONFIG_MFD_CS47L90=y
CONFIG_PHY_STM32_USBPHYC=y
CONFIG_SCD30_I2C=y
CONFIG_MFD_AXP20X_I2C=y
CONFIG_PINCTRL_SCMI=y
CONFIG_GENERIC_SMP_IDLE_THREAD=y
CONFIG_DEBUG_KMEMLEAK=y
CONFIG_LCD_LMS501KF03=y
CONFIG_TREE_SRCU=y
CONFIG_SENSORS_HMC5843=y
CONFIG_PINCTRL_PFC_R8A77980=y
CONFIG_PINCTRL_SM8650_LPASS_LPI=y
CONFIG_ARCH_ENABLE_MEMORY_HOTPLUG=y
CONFIG_MMC_LITEX=y
CONFIG_SC_LPASSCC_8280XP=y
CONFIG_NET_SCH_MQPRIO_LIB=y
CONFIG_SENSORS_TSL2550=y
CONFIG_RT_MUTEXES=y
CONFIG_RENESAS_I3C=y
CONFIG_W1_SLAVE_DS2408=y
CONFIG_ARCH_STACKWALK=y
CONFIG_CLK_X1P42100_VIDEOCC=y
CONFIG_SENSORS_SHT21=y
CONFIG_POWER_RESET_TPS65086=y
CONFIG_MHI_BUS_DEBUG=y
CONFIG_INTERCONNECT_QCOM_OSM_L3=y
CONFIG_HYPERV=y
CONFIG_ADI_AXI_DAC=y
CONFIG_SPI_ZYNQMP_GQSPI=y
CONFIG_HAVE_ARM_SMCCC_DISCOVERY=y
CONFIG_SM_CAMCC_6350=y
CONFIG_TRUSTED_KEYS_DEBUG=y
CONFIG_NFC_DIGITAL=y
CONFIG_IIO_MUX=y
CONFIG_CHARGER_TPS65090=y
CONFIG_SDM_GCC_660=y
CONFIG_SPARSEMEM_EXTREME=y
CONFIG_SA_DISPCC_8775P=y
CONFIG_GPIO_RTD=y
CONFIG_VEML6070=y
CONFIG_DEBUG_NET_SMALL_RTNL=y
CONFIG_REGULATOR_TPS65023=y
CONFIG_FB_ATY=y
CONFIG_LITEX_SOC_CONTROLLER=y
CONFIG_VT_CONSOLE=y
CONFIG_BME680=y
CONFIG_UNIX=y
CONFIG_SYS_SUPPORTS_SH_CMT=y
CONFIG_DECOMPRESS_LZO=y
CONFIG_FB_IOMEM_HELPERS=y
CONFIG_SYSC_R8A779F0=y
CONFIG_LKDTM=y
CONFIG_TEST_MAPLE_TREE=y
CONFIG_SAMPLE_AUXDISPLAY=y
CONFIG_AUTOFS_FS=y
CONFIG_IRQ_FORCED_THREADING=y
CONFIG_SM_VIDEOCC_MILOS=y
CONFIG_TSM_REPORTS=y
CONFIG_PINCTRL_CS47L90=y
CONFIG_MFD_CORE=y
CONFIG_DIBS=y
CONFIG_CHARGER_MAX8903=y
CONFIG_NVMEM_LAYERSCAPE_SFP=y
CONFIG_CRYPTO_DH=y
CONFIG_LZO_DECOMPRESS=y
CONFIG_TCG_TIS_ST33ZP24_SPI=y
CONFIG_REGULATOR_SC2731=y
CONFIG_IOMMU_IO_PGTABLE_ARMV7S=y
CONFIG_QCOM_APR=y
CONFIG_CLK_RCAR_GEN4_CPG=y
CONFIG_VHOST=y
CONFIG_PPS=y
CONFIG_MCP4131=y
CONFIG_PINCTRL_RTD=y
CONFIG_NOP_TRACER=y
CONFIG_MFD_WM831X_SPI=y
CONFIG_RD_ZSTD=y
CONFIG_FUNCTION_GRAPH_TRACER=y
CONFIG_RTC_DRV_TEGRA=y
CONFIG_TORTURE_TEST=y
CONFIG_AL3000A=y
CONFIG_GENERIC_BUG_RELATIVE_POINTERS=y
CONFIG_SOC_RENESAS=y
CONFIG_QCOM_GDSC=y
CONFIG_LCD_PLATFORM=y
CONFIG_SENSORS_W83773G=y
CONFIG_MTD_COMPLEX_MAPPINGS=y
CONFIG_MFD_STPMIC1=y
CONFIG_INTEL_TH_DEBUG=y
CONFIG_TASKS_RUDE_RCU=y
CONFIG_EEPROM_EE1004=y
CONFIG_SENSORS_MP9945=y
CONFIG_RTC_DRV_DS1511=y
CONFIG_SPI_OFFLOAD=y
CONFIG_FB_3DFX_ACCEL=y
CONFIG_ARCH_SUPPORTS_LTO_CLANG_THIN=y
CONFIG_CRYPTO_HASH2=y
CONFIG_PHY_NXP_TJA1145=y
CONFIG_DA311=y
CONFIG_NFC=y
CONFIG_INPUT_VIVALDIFMAP=y
CONFIG_INPUT=y
CONFIG_SUNXI_SRAM=y
CONFIG_ADI_I3C_MASTER=y
CONFIG_FB_NOTIFY=y
CONFIG_PL330_DMA=y
CONFIG_BINARY_PRINTF=y
CONFIG_ARCH_SELECTS_KEXEC_FILE=y
CONFIG_MAGIC_SYSRQ=y
CONFIG_RING_BUFFER_BENCHMARK=y
CONFIG_PCIE_DW=y
CONFIG_PINCTRL_TEGRA_XUSB=y
CONFIG_FB_RIVA_DEBUG=y
CONFIG_SC_GCC_8280XP=y
CONFIG_SUNXI_MBUS=y
CONFIG_CRYPTO_LIB_AESCFB=y
CONFIG_INV_MPU6050_I2C=y
CONFIG_RTC_DRV_PL031=y
CONFIG_SENSORS_LM25066=y
CONFIG_DMABUF_DEBUG=y
CONFIG_ARM_GIC_V3_ITS=y
CONFIG_CM3323=y
CONFIG_TRACE_IRQFLAGS_SUPPORT=y
CONFIG_CRYPTO_KRB5=y
CONFIG_ADXL355_I2C=y
CONFIG_PINCTRL_AC5=y
CONFIG_KXCJK1013=y
CONFIG_RAPIDIO_DMA_ENGINE=y
CONFIG_SENSORS_RM3100_SPI=y
CONFIG_MFD_RK8XX_I2C=y
CONFIG_GENERIC_SCHED_CLOCK=y
CONFIG_QUOTA_DEBUG=y
CONFIG_QCS_VIDEOCC_615=y
CONFIG_POWER_RESET_GPIO=y
CONFIG_CRYPTO_SM3=y
CONFIG_CRYPTO_RNG2=y
CONFIG_CLK_GLYMUR_TCSRCC=y
CONFIG_JOYSTICK_ANALOG=y
CONFIG_MAX1241=y
CONFIG_IOMMUFD=y
CONFIG_SENSORS_XDPE122=y
CONFIG_CRC_CCITT=y
CONFIG_SENSORS_TPS23861=y
CONFIG_IIO_ST_MAGN_3AXIS=y
CONFIG_PID_IN_CONTEXTIDR=y
CONFIG_BMI270=y
CONFIG_PHY_INTEL_KEEMBAY_EMMC=y
CONFIG_PM_NOTIFIER_ERROR_INJECT=y
CONFIG_IIO_ST_GYRO_3AXIS=y
CONFIG_BMG160=y
CONFIG_THERMAL_HWMON=y
CONFIG_IIO_BUFFER_CB=y
CONFIG_HW_RANDOM_OMAP=y
CONFIG_HID_ACRUX_FF=y
CONFIG_ARCH_R8A78000=y
CONFIG_PINCTRL_IPQ5210=y
CONFIG_SOC_TEGRA_FUSE=y
CONFIG_GENERIC_IDLE_POLL_SETUP=y
CONFIG_FIND_BIT_BENCHMARK=y
CONFIG_SENSORS_ADM1025=y
CONFIG_XILINX_XDMA=y
CONFIG_REGULATOR_SY8106A=y
CONFIG_SENSORS_LM75=y
CONFIG_PINCTRL_SX150X=y
CONFIG_NET_9P=y
CONFIG_INTERCONNECT_QCOM_MSM8953=y
CONFIG_TCG_TIS_I2C=y
CONFIG_I2C_BOARDINFO=y
CONFIG_IOMMU_IO_PGTABLE_DART=y
CONFIG_CLK_QCM2290_GPUCC=y
CONFIG_PCIE_VISCONTI_HOST=y
CONFIG_VFIO_FSL_MC=y
CONFIG_EXECMEM=y
CONFIG_INPUT_MOUSE=y
CONFIG_SAMPLE_VFIO_MDEV_MDPY=y
CONFIG_ARCH_BCMBCA=y
CONFIG_PINCTRL_STM32MP257=y
CONFIG_HID_MACALLY=y
CONFIG_GENERIC_ARCH_TOPOLOGY=y
CONFIG_HAVE_CONTEXT_TRACKING_USER=y
CONFIG_LEDS_BLINKM=y
