CONFIG_NET_VENDOR_NATSEMI=n
CONFIG_NEED_TASKS_RCU=n
CONFIG_HAVE_ARCH_KFENCE=n
CONFIG_EXCLUSIVE_SYSTEM_RAM=n
CONFIG_X86_UMIP=n
CONFIG_TIME_NS_VDSO=n
CONFIG_HAVE_UID16=n
CONFIG_SBITMAP=n
CONFIG_HWMON=n
CONFIG_I2C_SMBUS=n
CONFIG_MMU_LAZY_TLB_REFCOUNT=n
CONFIG_IPC_NS=n
CONFIG_RSEQ=n
CONFIG_NETDEVICES=n
CONFIG_NET_XGRESS=n
CONFIG_NET_VENDOR_GOOGLE=n
CONFIG_HAVE_DMA_CONTIGUOUS=n
CONFIG_HAVE_ARCH_SECCOMP=n
CONFIG_NET_VENDOR_MELLANOX=n
CONFIG_HAVE_ARCH_JUMP_LABEL_RELATIVE=n
CONFIG_MMU_GATHER_TABLE_FREE=n
CONFIG_MOUSE_PS2_CYPRESS=n
CONFIG_XZ_DEC_BCJ=n
CONFIG_MODULES=n
CONFIG_ARCH_SUPPORTS_DEBUG_PAGEALLOC=n
CONFIG_CRYPTO_ECB=n
CONFIG_CPU_SUP_VORTEX_32=n
CONFIG_ACPI_BATTERY=n
CONFIG_GENERIC_VDSO_OVERFLOW_PROTECT=n
CONFIG_X86_DISABLED_FEATURE_CALL_DEPTH=n
CONFIG_INPUT_LEDS=n
CONFIG_VIRTIO=n
CONFIG_MSDOS_FS=n
CONFIG_X86_DISABLED_FEATURE_TDX_GUEST=n
CONFIG_CGROUP_NET_CLASSID=n
CONFIG_DRM_KMS_HELPER=n
CONFIG_DEBUG_FS_ALLOW_ALL=n
CONFIG_ARCH_MIGHT_HAVE_PC_SERIO=n
CONFIG_ACPI_PROCESSOR_CSTATE=n
CONFIG_FORCEDETH=n
CONFIG_UNINLINE_SPIN_UNLOCK=n
CONFIG_CONTEXT_SWITCH_TRACER=n
CONFIG_EFI_RUNTIME_WRAPPERS=n
CONFIG_GCC_ASM_GOTO_OUTPUT_BROKEN=n
CONFIG_SERIO_SERPORT=n
CONFIG_CRYPTO_CAMELLIA=n
CONFIG_GENERIC_TRACER=n
CONFIG_NF_CONNTRACK_SIP=n
CONFIG_TREE_RCU=n
CONFIG_LD_CAN_USE_KEEP_IN_OVERLAY=n
CONFIG_USB_PCI_AMD=n
CONFIG_BUILDTIME_TABLE_SORT=n
CONFIG_GENERIC_SYSCALL=n
CONFIG_SND_VERBOSE_PROCFS=n
CONFIG_CC_HAS_IBT=n
CONFIG_PROVIDE_OHCI1394_DMA_INIT=n
CONFIG_VIDEO=n
CONFIG_CPU_IDLE_GOV_MENU=n
CONFIG_RCU_NEED_SEGCBLIST=n
CONFIG_VGA_ARB=n
CONFIG_PROC_EVENTS=n
CONFIG_VHOST_MENU=n
CONFIG_SCHED_MC=n
CONFIG_RANDOMIZE_KSTACK_OFFSET=n
CONFIG_ARCH_SUPPORTS_KEXEC_SIG_FORCE=n
CONFIG_DEFAULT_SECURITY_SELINUX=n
CONFIG_EARLY_PRINTK=n
CONFIG_NET_VENDOR_SUN=n
CONFIG_ARCH_WANTS_NO_INSTR=n
CONFIG_GENERIC_IRQ_ENTRY=n
CONFIG_HAVE_GCC_PLUGINS=n
CONFIG_ACPI_CONTAINER=n
CONFIG_ARCH_SUPPORTS_KEXEC_SIG=n
CONFIG_DECOMPRESS_XZ=n
CONFIG_DYNAMIC_SIGFRAME=n
CONFIG_GCC10_NO_ARRAY_BOUNDS=n
CONFIG_CPU_FREQ=n
CONFIG_SERIO_LIBPS2=n
CONFIG_CGROUP_DEBUG=n
CONFIG_HAVE_KERNEL_LZ4=n
CONFIG_HRTIMER_REARM_DEFERRED=n
CONFIG_MAC80211_RC_DEFAULT_MINSTREL=n
CONFIG_HID_PID=n
CONFIG_MODULES_USE_ELF_REL=n
CONFIG_NET_CLS_CGROUP=n
CONFIG_NETFS_SUPPORT=n
CONFIG_HW_RANDOM_INTEL=n
CONFIG_CRYPTO_AKCIPHER=n
CONFIG_IRQ_DOMAIN_HIERARCHY=n
CONFIG_CRYPTO_HASH2=n
CONFIG_CC_HAS_ASM_INLINE=n
CONFIG_TICK_ONESHOT=n
CONFIG_USB_STORAGE=n
CONFIG_SYSFS=n
CONFIG_OLD_SIGACTION=n
CONFIG_NET_VENDOR_SEEQ=n
CONFIG_BLK_DEV_SD=n
CONFIG_HID_SAMSUNG=n
CONFIG_AMD_NODE=n
CONFIG_HAVE_PERF_EVENTS_NMI=n
CONFIG_EXPORTFS=n
CONFIG_NET_VENDOR_TI=n
CONFIG_HAVE_POSIX_CPU_TIMERS_TASK_WORK=n
CONFIG_VFAT_FS=n
CONFIG_SLUB=n
CONFIG_NET_VENDOR_CAVIUM=n
CONFIG_HAVE_GENERIC_VDSO=n
CONFIG_ARCH_USE_QUEUED_RWLOCKS=n
CONFIG_EPROBE_EVENTS=n
CONFIG_AGP=n
CONFIG_DEVPORT=n
CONFIG_DEVTMPFS=n
CONFIG_IOMMU_IOVA=n
CONFIG_HAVE_KPROBES_ON_FTRACE=n
CONFIG_X86_HAVE_PAE=n
CONFIG_ARCH_CORRECT_STACKTRACE_ON_KRETPROBE=n
CONFIG_TASK_DELAY_ACCT=n
CONFIG_SND_JACK_INPUT_DEV=n
CONFIG_HAVE_ARCH_KGDB=n
CONFIG_SND_HDA=n
CONFIG_DRM_PANEL=n
CONFIG_CFG80211_REQUIRE_SIGNED_REGDB=n
CONFIG_HAVE_GUP_FAST=n
CONFIG_QFMT_V2=n
CONFIG_SMP=n
CONFIG_REALTEK_PHY=n
CONFIG_ARCH_SUPPORTS_UPROBES=n
CONFIG_SERIAL_CORE_CONSOLE=n
CONFIG_MICROCODE_INITRD32=n
CONFIG_LZ4_COMPRESS=n
CONFIG_SELECT_MEMORY_MODEL=n
CONFIG_FAILOVER=n
CONFIG_MITIGATION_RETBLEED=n
CONFIG_HIGH_RES_TIMERS=n
CONFIG_KCMP=n
CONFIG_ARCH_SUPPORTS_KMAP_LOCAL_FORCE_MAP=n
CONFIG_KRETPROBES=n
CONFIG_X86_MCE_THRESHOLD=n
CONFIG_DRM_DISPLAY_HDMI_HELPER=n
CONFIG_DMA_VIRTUAL_CHANNELS=n
CONFIG_ARCH_HAS_SET_MEMORY=n
CONFIG_CRYPTO_ACOMP2=n
CONFIG_BITREVERSE=n
CONFIG_NOP_TRACER=n
CONFIG_NET_VENDOR_ALACRITECH=n
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO_BARE=n
CONFIG_WLAN_VENDOR_ADMTEK=n
CONFIG_NET_VENDOR_MUCSE=n
CONFIG_NET_VENDOR_CADENCE=n
CONFIG_MAGIC_SYSRQ_SERIAL=n
CONFIG_SYSVIPC=n
CONFIG_DRM_GEM_SHMEM_HELPER=n
CONFIG_ROOT_NFS=n
CONFIG_EEEPC_LAPTOP=n
CONFIG_RTC_DRV_CMOS=n
CONFIG_COMPAT_32BIT_TIME=n
CONFIG_FONT_AUTOSELECT=n
CONFIG_DECOMPRESS_BZIP2=n
CONFIG_ARCH_HAS_SYNC_CORE_BEFORE_USERMODE=n
CONFIG_PM_DEBUG=n
CONFIG_BLK_DEV_WRITE_MOUNTED=n
CONFIG_LOCK_SPIN_ON_OWNER=n
CONFIG_CC_NO_STRINGOP_OVERFLOW=n
CONFIG_SCHED_SMT=n
CONFIG_CFG80211_DEFAULT_PS=n
CONFIG_PTP_1588_CLOCK_KVM=n
CONFIG_HAVE_ARCH_JUMP_LABEL=n
CONFIG_BLOCK=n
CONFIG_WLAN_VENDOR_RSI=n
CONFIG_X86_INTEL_TSX_MODE_AUTO=n
CONFIG_X86_MCE_INTEL=n
CONFIG_X86_DISABLED_FEATURE_OSPKE=n
CONFIG_HAVE_CMPXCHG_DOUBLE=n
CONFIG_NET_VENDOR_MICROSEMI=n
CONFIG_ACPI_PROCESSOR_IDLE=n
CONFIG_R8169=n
CONFIG_CRYPTO_LIB_GF128HASH=n
CONFIG_CLKEVT_I8253=n
CONFIG_PM_SLEEP=n
CONFIG_NETFILTER=n
CONFIG_RCU_STALL_COMMON=n
CONFIG_BACKLIGHT_CLASS_DEVICE=n
CONFIG_PERF_EVENTS_INTEL_RAPL=n
CONFIG_XFRM_USER=n
CONFIG_RPS=n
CONFIG_X86_TSC=n
CONFIG_MOUSE_PS2_LOGIPS2PP=n
CONFIG_BLK_DEV_SR=n
CONFIG_NET_RX_BUSY_POLL=n
CONFIG_ARCH_DEFAULT_CRASH_DUMP=n
CONFIG_ACPI_LEGACY_TABLES_LOOKUP=n
CONFIG_EDAC_SUPPORT=n
CONFIG_PCMCIA_LOAD_CIS=n
CONFIG_MAC80211_LEDS=n
CONFIG_PCI_BIOS=n
CONFIG_RTC_I2C_AND_SPI=n
CONFIG_DEVTMPFS_MOUNT=n
CONFIG_CGROUP_NET_PRIO=n
CONFIG_PREVENT_FIRMWARE_BUILD=n
CONFIG_VIRTIO_BLK=n
CONFIG_BLK_DEV=n
CONFIG_PNFS_FILE_LAYOUT=n
CONFIG_IP_MROUTE_COMMON=n
CONFIG_X509_CERTIFICATE_PARSER=n
CONFIG_HAVE_PREEMPT_DYNAMIC=n
CONFIG_SPARSE_IRQ=n
CONFIG_HAVE_FUNCTION_ERROR_INJECTION=n
CONFIG_UPROBE_EVENTS=n
CONFIG_GENERIC_IRQ_RESERVATION_MODE=n
CONFIG_NET_VENDOR_8390=n
CONFIG_VIRTIO_INPUT=n
CONFIG_IRQ_DOMAIN=n
CONFIG_CRYPTO_SIG=n
CONFIG_MOUSE_PS2_SYNAPTICS=n
CONFIG_WLAN_VENDOR_QUANTENNA=n
CONFIG_LOCK_MM_AND_FIND_VMA=n
CONFIG_SERIAL_8250_PERICOM=n
CONFIG_ARCH_HAS_SET_DIRECT_MAP=n
CONFIG_GENERIC_IRQ_SHOW=n
CONFIG_MITIGATION_SPECTRE_V2=n
CONFIG_INOTIFY_USER=n
CONFIG_HID_PANTHERLORD=n
CONFIG_CRC32=n
CONFIG_ACPI_I2C_OPREGION=n
CONFIG_CC_HAS_SLS=n
CONFIG_NEED_PER_CPU_PAGE_FIRST_CHUNK=n
CONFIG_PCI_DOMAINS=n
CONFIG_COREDUMP=n
CONFIG_ARCH_HIBERNATION_HEADER=n
CONFIG_KERNEL_GZIP=n
CONFIG_TRACE_CLOCK=n
CONFIG_ACPI_VIDEO=n
CONFIG_CGROUP_MISC=n
CONFIG_IOMMU_SUPPORT=n
CONFIG_GENERIC_BUG_RELATIVE_POINTERS=n
CONFIG_BINFMT_SCRIPT=n
CONFIG_X86_IOPL_IOPERM=n
CONFIG_NFS_V3=n
CONFIG_XPS=n
CONFIG_PROBE_EVENTS=n
CONFIG_FIB_RULES=n
CONFIG_SND_X86=n
CONFIG_PERF_EVENTS_INTEL_CSTATE=n
CONFIG_CRC16=n
CONFIG_DST_CACHE=n
CONFIG_X86_DISABLED_FEATURE_PKU=n
CONFIG_E100=n
CONFIG_UNIX=n
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO=n
CONFIG_NET_VENDOR_REALTEK=n
CONFIG_STACKPROTECTOR=n
CONFIG_NET_VENDOR_SOLARFLARE=n
CONFIG_SYN_COOKIES=n
CONFIG_HIBERNATION=n
CONFIG_ARCH_HAS_PTE_SPECIAL=n
CONFIG_AIO=n
CONFIG_DNS_RESOLVER=n
CONFIG_CPU_SUP_ZHAOXIN=n
CONFIG_NET_VENDOR_MICROCHIP=n
CONFIG_P2SB=n
CONFIG_HVC_DRIVER=n
CONFIG_ACPI_REV_OVERRIDE_POSSIBLE=n
CONFIG_MD_BITMAP=n
CONFIG_ZSTD_COMMON=n
CONFIG_INTERVAL_TREE=n
CONFIG_LEGACY_TIOCSTI=n
CONFIG_EFI_CAPSULE_LOADER=n
CONFIG_ARCH_FLATMEM_ENABLE=n
CONFIG_MITIGATION_SRBDS=n
CONFIG_GENERIC_PENDING_IRQ=n
CONFIG_ASYMMETRIC_PUBLIC_KEY_SUBTYPE=n
CONFIG_SPLIT_PTE_PTLOCKS=n
CONFIG_X86_LOCAL_APIC=n
CONFIG_UNIX98_PTYS=n
CONFIG_HALTPOLL_CPUIDLE=n
CONFIG_NETFILTER_XT_TARGET_NFLOG=n
CONFIG_CC_CAN_LINK=n
CONFIG_PAGE_COUNTER=n
CONFIG_NET_VENDOR_XIRCOM=n
CONFIG_CGROUP_CPUACCT=n
CONFIG_NET_INGRESS=n
CONFIG_CRYPTO_AUTHENC=n
CONFIG_SUNRPC=n
CONFIG_CPU_FREQ_GOV_PERFORMANCE=n
CONFIG_HAVE_KRETPROBES=n
CONFIG_SECURITY_SELINUX_DEVELOP=n
CONFIG_HAS_IOMEM=n
CONFIG_CRYPTO_HMAC=n
CONFIG_UPROBES=n
CONFIG_PCI=n
CONFIG_CC_HAS_MARCH_NATIVE=n
CONFIG_CRYPTO_CTR=n
CONFIG_IP_PNP=n
CONFIG_HAVE_KERNEL_LZO=n
CONFIG_X86_DISABLED_FEATURE_UNRET=n
CONFIG_EFI_CUSTOM_SSDT_OVERLAYS=n
CONFIG_SYSVIPC_SYSCTL=n
CONFIG_SATA_AHCI=n
CONFIG_NE2K_PCI=n
CONFIG_DNOTIFY=n
