CONFIG_PAGE_POOL=n
CONFIG_RANDOMIZE_BASE=n
CONFIG_CRYPTO_MANAGER=n
CONFIG_ARCH_HAS_SET_MEMORY=n
CONFIG_HAS_IOPORT=n
CONFIG_TRACE_CLOCK=n
CONFIG_USB_COMMON=n
CONFIG_SECCOMP=n
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST=n
CONFIG_FONT_SUPPORT=n
CONFIG_TICK_ONESHOT=n
CONFIG_CC_HAS_ASM_INLINE=n
CONFIG_PT_RECLAIM=n
CONFIG_QUOTA_NETLINK_INTERFACE=n
CONFIG_NET_VENDOR_NI=n
CONFIG_GRACE_PERIOD=n
CONFIG_NET_SELFTESTS=n
CONFIG_FS_IOMAP=n
CONFIG_ATA_ACPI=n
CONFIG_CPU_SUP_TRANSMETA_32=n
CONFIG_RATIONAL=n
CONFIG_CRYPTO_ECHAINIV=n
CONFIG_ARCH_MAY_HAVE_PC_FDC=n
CONFIG_HAVE_GUP_FAST=n
CONFIG_PCPU_DEV_REFCNT=n
CONFIG_YENTA_TOSHIBA=n
CONFIG_X86_DISABLED_FEATURE_SGX=n
CONFIG_NET_VENDOR_SOLARFLARE=n
CONFIG_CC_HAS_NO_PROFILE_FN_ATTR=n
CONFIG_CRYPTO_ECB=n
CONFIG_CRYPTO_LIB_UTILS=n
CONFIG_R8169=n
CONFIG_HW_RANDOM=n
CONFIG_NET_9P_VIRTIO=n
CONFIG_NETFILTER_XT_TARGET_CONNSECMARK=n
CONFIG_SCSI_COMMON=n
CONFIG_NLS_ASCII=n
CONFIG_HAVE_GCC_PLUGINS=n
CONFIG_PROC_FS=n
CONFIG_SERIAL_8250_PCILIB=n
CONFIG_CRYPTO_AEAD2=n
CONFIG_EXECMEM=n
CONFIG_BLK_RQ_ALLOC_TIME=n
CONFIG_ATA_PIIX=n
CONFIG_HW_RANDOM_INTEL=n
CONFIG_QUOTA_TREE=n
CONFIG_SND_HDA_HWDEP=n
CONFIG_PREEMPT_BUILD=n
CONFIG_SCSI_VIRTIO=n
CONFIG_HDMI=n
CONFIG_CLOCKSOURCE_WATCHDOG=n
CONFIG_POSIX_MQUEUE_SYSCTL=n
CONFIG_POSIX_TIMERS=n
CONFIG_NET_VENDOR_SAMSUNG=n
CONFIG_NF_REJECT_IPV4=n
CONFIG_ARCH_USES_PG_ARCH_2=n
CONFIG_NETFILTER_INGRESS=n
CONFIG_NET_VENDOR_EZCHIP=n
CONFIG_BINFMT_ELF=n
CONFIG_NETFILTER=n
CONFIG_SCHEDSTATS=n
CONFIG_SCHED_CACHE=n
CONFIG_SYN_COOKIES=n
CONFIG_NET_VENDOR_BROADCOM=n
CONFIG_SERIAL_8250=n
CONFIG_SECRETMEM=n
CONFIG_PM_SLEEP_DEBUG=n
CONFIG_ATA_SFF=n
CONFIG_HAVE_EBPF_JIT=n
CONFIG_ALLOW_DEV_COREDUMP=n
CONFIG_NETWORK_SECMARK=n
CONFIG_NET_VENDOR_BROCADE=n
CONFIG_CFG80211=n
CONFIG_THERMAL=n
CONFIG_SBITMAP=n
CONFIG_NET_EGRESS=n
CONFIG_SPARSEMEM_STATIC=n
CONFIG_VIRTIO_DMA_SHARED_BUFFER=n
CONFIG_NETFILTER_XT_MARK=n
CONFIG_CGROUP_CPUACCT=n
CONFIG_DECOMPRESS_XZ=n
CONFIG_ARCH_DEFAULT_CRASH_DUMP=n
CONFIG_FHANDLE=n
CONFIG_SND_SEQ_DEVICE=n
CONFIG_HW_RANDOM_GEODE=n
CONFIG_CORE_DUMP_DEFAULT_ELF_HEADERS=n
CONFIG_USB_NET_DRIVERS=n
CONFIG_CPU_SUP_AMD=n
CONFIG_SGL_ALLOC=n
CONFIG_FUTEX_PI=n
CONFIG_HAVE_GENERIC_TIF_BITS=n
CONFIG_HOTPLUG_SMT=n
CONFIG_X86_MCE_AMD=n
CONFIG_ARCH_CPUIDLE_HALTPOLL=n
CONFIG_X86_DISABLED_FEATURE_ENQCMD=n
CONFIG_RUNTIME_TESTING_MENU=n
CONFIG_ATA_GENERIC=n
CONFIG_SERIAL_8250_EXTENDED=n
CONFIG_KPROBE_EVENTS=n
CONFIG_ARCH_HAS_SYNC_CORE_BEFORE_USERMODE=n
CONFIG_CRYPTO_CBC=n
CONFIG_NLS_CODEPAGE_437=n
CONFIG_GENERIC_IRQ_MIGRATION=n
CONFIG_VM_EVENT_COUNTERS=n
CONFIG_CRYPTO_KRB5ENC=n
CONFIG_HAVE_DYNAMIC_FTRACE_NO_PATCHABLE=n
CONFIG_NET_VENDOR_QLOGIC=n
CONFIG_THREAD_INFO_IN_TASK=n
CONFIG_NF_DEFRAG_IPV6=n
CONFIG_IPV6_SIT=n
CONFIG_CRYPTO_LIB_MD5=n
CONFIG_NET_VENDOR_CISCO=n
CONFIG_I2C_BOARDINFO=n
CONFIG_MOUSE_PS2_SMBUS=n
CONFIG_SERIAL_CORE=n
CONFIG_X86_DISABLED_FEATURE_PKU=n
CONFIG_EFI_RUNTIME_WRAPPERS=n
CONFIG_SLUB_DEBUG=n
CONFIG_RPCSEC_GSS_KRB5=n
CONFIG_VIRTIO_NET=n
CONFIG_TASK_DELAY_ACCT=n
CONFIG_SG_POOL=n
CONFIG_CGROUP_PIDS=n
CONFIG_CRYPTO_ALGAPI2=n
CONFIG_NF_DEFRAG_IPV4=n
CONFIG_TICK_CPU_ACCOUNTING=n
CONFIG_TIGON3=n
CONFIG_NET_VENDOR_MICROSEMI=n
CONFIG_PATA_OLDPIIX=n
CONFIG_IP_PIMSM_V2=n
CONFIG_BQL=n
CONFIG_DRM_BUDDY=n
CONFIG_VIRTIO_MENU=n
CONFIG_ACPI_SLEEP=n
CONFIG_VIRTIO_PCI_LIB=n
CONFIG_IPC_NS=n
CONFIG_BLOCK_LEGACY_AUTOLOAD=n
CONFIG_X86_PKG_TEMP_THERMAL=n
CONFIG_M686=n
CONFIG_CDROM=n
CONFIG_BLK_DEV_SD=n
CONFIG_HRTIMER_REARM_DEFERRED=n
CONFIG_CPU_FREQ_GOV_ONDEMAND=n
CONFIG_ARCH_HAS_CPU_CACHE_INVALIDATE_MEMREGION=n
CONFIG_IP_ROUTE_MULTIPATH=n
CONFIG_NEED_SG_DMA_LENGTH=n
CONFIG_FIRMWARE_MEMMAP=n
CONFIG_TMPFS_XATTR=n
CONFIG_HAVE_STATIC_CALL=n
CONFIG_P2SB=n
CONFIG_BLOCK=n
CONFIG_CRYPTO_LIB_SHA1=n
CONFIG_TRACE_IRQFLAGS_SUPPORT=n
CONFIG_TTY=n
CONFIG_PNFS_BLOCK=n
CONFIG_ARCH_STACKWALK=n
CONFIG_STRICT_KERNEL_RWX=n
CONFIG_HAVE_EFFICIENT_UNALIGNED_ACCESS=n
CONFIG_SHMEM=n
CONFIG_SERIAL_8250_MANY_PORTS=n
CONFIG_ARCH_CONFIGURES_CPU_MITIGATIONS=n
CONFIG_MOUSE_PS2_ALPS=n
CONFIG_CPU_IDLE=n
CONFIG_HIDRAW=n
CONFIG_CPU_SUP_HYGON=n
CONFIG_HAVE_PV_STEAL_CLOCK_GEN=n
CONFIG_AUDIT=n
CONFIG_ETHTOOL_NETLINK=n
CONFIG_HAVE_DMA_CONTIGUOUS=n
CONFIG_TCP_MD5SIG=n
CONFIG_XZ_DEC=n
CONFIG_NET_HANDSHAKE=n
CONFIG_ARCH_USE_MEMREMAP_PROT=n
CONFIG_MITIGATION_GDS=n
CONFIG_DEBUG_BUGVERBOSE=n
CONFIG_NETFILTER_XT_MATCH_POLICY=n
CONFIG_ACPI_I2C_OPREGION=n
CONFIG_DNS_RESOLVER=n
CONFIG_SERIO_LIBPS2=n
CONFIG_MMU_GATHER_TABLE_FREE=n
CONFIG_X86_MCE_INTEL=n
CONFIG_ZONE_DMA=n
CONFIG_CRYPTO=n
CONFIG_EFI_EARLYCON=n
CONFIG_NET_VENDOR_SEEQ=n
CONFIG_HAS_IOMEM=n
CONFIG_HAVE_KCSAN_COMPILER=n
CONFIG_MULTIUSER=n
CONFIG_RCU_STALL_COMMON=n
CONFIG_YENTA_ENE_TUNE=n
CONFIG_SECURITY_SELINUX_AVC_STATS=n
CONFIG_NET_VENDOR_ARC=n
CONFIG_IOMMU_SUPPORT=n
CONFIG_SYSVIPC=n
CONFIG_GENERIC_CLOCKEVENTS=n
CONFIG_SERIAL_8250_LPSS=n
CONFIG_GENERIC_PENDING_IRQ=n
CONFIG_RTC_INTF_DEV=n
CONFIG_NET_VENDOR_AGERE=n
CONFIG_ARCH_MHP_MEMMAP_ON_MEMORY_ENABLE=n
CONFIG_GENERIC_SYSCALL=n
CONFIG_ZSTD_COMMON=n
CONFIG_THERMAL_NETLINK=n
CONFIG_LEDS_CLASS=n
CONFIG_HW_RANDOM_AMD=n
CONFIG_UPROBE_EVENTS=n
CONFIG_BCMA_POSSIBLE=n
CONFIG_SCSI_MOD=n
CONFIG_TCP_CONG_CUBIC=n
CONFIG_CRYPTO_LZ4=n
CONFIG_HID_TOPSEED=n
CONFIG_HAVE_FUNCTION_ERROR_INJECTION=n
CONFIG_ZLIB_INFLATE=n
CONFIG_E1000E=n
CONFIG_SATA_PMP=n
CONFIG_ARCH_SUPPORTS_SCHED_SMT=n
CONFIG_CC_IS_GCC=n
CONFIG_HAVE_GENERIC_VDSO=n
CONFIG_ARCH_HAS_FAST_MULTIPLIER=n
CONFIG_MSDOS_PARTITION=n
CONFIG_HAVE_FUNCTION_TRACER=n
CONFIG_APERTURE_HELPERS=n
CONFIG_IO_DELAY_0X80=n
CONFIG_CRYPTO_SHA256=n
CONFIG_SERIAL_CORE_CONSOLE=n
CONFIG_X86_PLATFORM_DEVICES=n
CONFIG_IRQ_DOMAIN=n
CONFIG_SERIAL_8250_PERICOM=n
CONFIG_CRC32=n
CONFIG_MITIGATION_SPECTRE_V1=n
CONFIG_HAVE_KERNEL_XZ=n
CONFIG_HOTPLUG_CORE_SYNC_FULL=n
CONFIG_HAVE_ARCH_WITHIN_STACK_FRAMES=n
CONFIG_SERIAL_8250_DWLIB=n
CONFIG_ARCH_HAS_SET_DIRECT_MAP=n
CONFIG_UCS2_STRING=n
CONFIG_HID_PETALYNX=n
CONFIG_ARCH_SUPPORTS_KEXEC_BZIMAGE_VERIFY_SIG=n
CONFIG_MD=n
CONFIG_ARCH_WANT_BATCHED_UNMAP_TLB_FLUSH=n
CONFIG_CGROUP_DEBUG=n
CONFIG_CRYPTO_LIB_AES_ARCH=n
CONFIG_HAVE_PERF_REGS=n
CONFIG_MMU_NOTIFIER=n
CONFIG_X86_DISABLED_FEATURE_UNRET=n
CONFIG_PCCARD_NONSTATIC=n
CONFIG_IO_URING=n
CONFIG_ATA=n
CONFIG_SCSI=n
CONFIG_BLK_DEV_BSG_COMMON=n
CONFIG_BITREVERSE=n
CONFIG_BNX2=n
CONFIG_GENERIC_IRQ_SHOW=n
CONFIG_PAGE_MAPCOUNT=n
CONFIG_HALTPOLL_CPUIDLE=n
CONFIG_HAVE_PCSPKR_PLATFORM=n
CONFIG_MITIGATION_SSB=n
CONFIG_LD_CAN_USE_KEEP_IN_OVERLAY=n
CONFIG_NET_EMATCH=n
CONFIG_X86_DISABLED_FEATURE_PTI=n
CONFIG_SYSVIPC_SYSCTL=n
CONFIG_HID_SUNPLUS=n
CONFIG_NET_VENDOR_VIA=n
CONFIG_DEBUG_STACK_USAGE=n
CONFIG_NETFILTER_XTABLES=n
CONFIG_FUTEX_PRIVATE_HASH=n
CONFIG_RING_BUFFER=n
CONFIG_DRM_VIRTIO_GPU=n
CONFIG_PCI_LOCKLESS_CONFIG=n
CONFIG_NET_VENDOR_I825XX=n
CONFIG_VIRTIO_PCI_LEGACY=n
CONFIG_CGROUP_RDMA=n
CONFIG_DYNAMIC_EVENTS=n
CONFIG_XARRAY_MULTI=n
CONFIG_E1000=n
CONFIG_CGROUP_DEVICE=n
CONFIG_HAVE_UNSTABLE_SCHED_CLOCK=n
CONFIG_HAVE_ARCH_AUDITSYSCALL=n
CONFIG_ARCH_SUSPEND_POSSIBLE=n
CONFIG_COREDUMP=n
CONFIG_NEED_PER_CPU_EMBED_FIRST_CHUNK=n
CONFIG_WLAN_VENDOR_PURELIFI=n
CONFIG_USB_PCI_AMD=n
CONFIG_IP6_NF_IPTABLES=n
CONFIG_SUSPEND=n
CONFIG_ARCH_HAVE_EXTRA_ELF_NOTES=n
CONFIG_SND_PCMCIA=n
CONFIG_DEFAULT_CUBIC=n
CONFIG_SYSCTL=n
CONFIG_ACPI_FAN=n
CONFIG_HAVE_FUNCTION_ARG_ACCESS_API=n
CONFIG_CPU_SUP_INTEL=n
CONFIG_QFMT_V2=n
CONFIG_HAVE_DEBUG_STACKOVERFLOW=n
CONFIG_EXPORTFS=n
CONFIG_CPU_SUP_VORTEX_32=n
CONFIG_INPUT_MISC=n
CONFIG_USB_DEFAULT_PERSIST=n
CONFIG_DMA_OPS_HELPERS=n
CONFIG_USB_ANNOUNCE_NEW_DEVICES=n
