CONFIG_INPUT_JOYDEV=y
CONFIG_CRYPTO_SHA256=y
CONFIG_SENSORS_LM75=y
CONFIG_CRYPTO_CAST_COMMON=y
CONFIG_BACKLIGHT_SAHARA=y
CONFIG_RTC_DRV_MCP795=y
CONFIG_SENSORS_G760A=y
CONFIG_MCB=y
CONFIG_COMEDI_AMPLC_PC236_PCI=y
CONFIG_PCI_ENDPOINT=y
CONFIG_HAVE_FTRACE_REGS_HAVING_PT_REGS=y
CONFIG_TMPFS_POSIX_ACL=y
CONFIG_MTD_LPDDR=y
CONFIG_ACPI_BATTERY=y
CONFIG_COMEDI_ADV_PCI1724=y
CONFIG_SPI_CADENCE=y
CONFIG_LIST_HARDENED=y
CONFIG_SENSORS_LIS3LV02D=y
CONFIG_NFC_PN544=y
CONFIG_ARCH_WANT_IRQS_OFF_ACTIVATE_MM=y
CONFIG_PARPORT_1284=y
CONFIG_ACCESSIBILITY=y
CONFIG_CRYPTO_CAST6=y
CONFIG_IEEE802154_SOCKET=y
CONFIG_SENSORS_ASUS_EC=y
CONFIG_PINCTRL_CEDARFORK=y
CONFIG_SERIAL_8250_DETECT_IRQ=y
CONFIG_FPGA_DFL_EMIF=y
CONFIG_ARCH_HAS_FORTIFY_SOURCE=y
CONFIG_COMEDI_NI_LABPC_ISA=y
CONFIG_MFD_DA9063=y
CONFIG_MSEAL_SYSTEM_MAPPINGS=y
CONFIG_GPIO_GW_PLD=y
CONFIG_MAXSMP=y
CONFIG_FB_SSD1307=y
CONFIG_MFD_TPS6594_SPI=y
CONFIG_SENSORS_ASB100=y
CONFIG_SAMPLES=y
CONFIG_HAVE_MOVE_PMD=y
CONFIG_NO_HZ_COMMON=y
CONFIG_FUJITSU_LAPTOP=y
CONFIG_VDSO_GETRANDOM=y
CONFIG_KALLSYMS=y
CONFIG_RTC_DRV_DS1286=y
CONFIG_FSI_MASTER_ASPEED=y
CONFIG_PARAVIRT_SPINLOCKS=y
CONFIG_FB_NVIDIA_I2C=y
CONFIG_COMEDI_JR3_PCI=y
CONFIG_ARCH_SUPPORTS_KEXEC_SIG=y
CONFIG_PINCTRL_MCP23S08=y
CONFIG_RAPIDIO_DEBUG=y
CONFIG_DELL_RBU=y
CONFIG_DMA_RESTRICTED_POOL=y
CONFIG_MITIGATION_MDS=y
CONFIG_NLS_ISO8859_6=y
CONFIG_INPUT_ATC260X_ONKEY=y
CONFIG_INTERVAL_TREE=y
CONFIG_USERFAULTFD=y
CONFIG_CC_HAS_NO_PROFILE_FN_ATTR=y
CONFIG_ACPI=y
CONFIG_RTC_MC146818_LIB=y
CONFIG_RTC_DRV_M48T86=y
CONFIG_CRYPTO_DEV_QAT_C3XXXVF=y
CONFIG_FB_CYBER2000=y
CONFIG_BITREVERSE=y
CONFIG_HAVE_INTEL_TXT=y
CONFIG_RV_MON_EVENTS=y
CONFIG_LWQ_TEST=y
CONFIG_HAVE_FUTEX_ROBUST_UNLOCK=y
CONFIG_ICS932S401=y
CONFIG_SOC_BUS=y
CONFIG_MELLANOX_PLATFORM=y
CONFIG_XZ_DEC_TEST=y
CONFIG_AL_FIC=y
CONFIG_I2C_PCI1XXXX=y
CONFIG_DW_APB_TIMER=y
CONFIG_COMEDI_ADL_PCI6208=y
CONFIG_SENSORS_LTC2945=y
CONFIG_STM_SOURCE_FTRACE=y
CONFIG_MFD_MC13XXX=y
CONFIG_GPIO_IT87=y
CONFIG_LOCK_MM_AND_FIND_VMA=y
CONFIG_COMEDI_ADL_PCI9118=y
CONFIG_GENERIC_IRQ_RESERVATION_MODE=y
CONFIG_GENERIC_CPU_AUTOPROBE=y
CONFIG_REGULATOR_TPS65218=y
CONFIG_SERIAL_SIFIVE_CONSOLE=y
CONFIG_ARCH_SUPPORTS_KEXEC_JUMP=y
CONFIG_GPIO_BD72720=y
CONFIG_I2C_VIRTIO=y
CONFIG_SENSORS_ADT7410=y
CONFIG_MFD_ATMEL_FLEXCOM=y
CONFIG_I2C_ALGOPCA=y
CONFIG_SENSORS_MLXREG_FAN=y
CONFIG_GPIB_FLUKE=y
CONFIG_LOCKDEP_SUPPORT=y
CONFIG_LEDS_MC13783=y
CONFIG_SEL3350_PLATFORM=y
CONFIG_MFD_CORE=y
CONFIG_X86_DISABLED_FEATURE_K6_MTRR=y
CONFIG_CRYPTO_TWOFISH_X86_64_3WAY=y
CONFIG_CC_CAN_LINK=y
CONFIG_GENERIC_STRNCPY_FROM_USER=y
CONFIG_X86_DISABLED_FEATURE_ENQCMD=y
CONFIG_SERIAL_8250_DWLIB=y
CONFIG_FTRACE_SYSCALLS=y
CONFIG_X86_REQUIRED_FEATURE_PGE=y
CONFIG_SENSORS_EMC2103=y
CONFIG_SENSORS_FAM15H_POWER=y
CONFIG_EVENTFD=y
CONFIG_COMEDI_NI_AT_AO=y
CONFIG_HAVE_SOFTIRQ_ON_OWN_STACK=y
CONFIG_PINCTRL_AXP209=y
CONFIG_ARCH_HAS_NONLEAF_PMD_YOUNG=y
CONFIG_W1_SLAVE_DS2431=y
CONFIG_LEDS_S2M_RGB=y
CONFIG_HAVE_ALIGNED_STRUCT_PAGE=y
CONFIG_ARCH_SUPPORTS_KEXEC_SIG_FORCE=y
CONFIG_INTEL_PMC_SSRAM_TELEMETRY=y
CONFIG_HAVE_MOD_ARCH_SPECIFIC=y
CONFIG_REGULATOR_PFUZE100=y
CONFIG_EXTCON_FSA9480=y
CONFIG_ZLIB_INFLATE=y
CONFIG_INITRAMFS_PRESERVE_MTIME=y
CONFIG_BACKLIGHT_ADP8860=y
CONFIG_REGULATOR_RT4801=y
CONFIG_PINCTRL_OCELOT=y
CONFIG_INPUT_RETU_PWRBUTTON=y
CONFIG_COMPAT_BINFMT_ELF=y
CONFIG_INIT_STACK_ALL_PATTERN=y
CONFIG_X86_GOLDFISH=y
CONFIG_GPIO_TPS68470=y
CONFIG_HW_RANDOM_XIPHERA=y
CONFIG_PCMCIA=y
CONFIG_ARCH_SUPPORTS_INT128=y
CONFIG_PCI_ENDPOINT_CONFIGFS=y
CONFIG_XZ_DEC_BCJ=y
CONFIG_FAILOVER=y
CONFIG_I2C_MUX_PCA9541=y
CONFIG_ARCH_SUPPORTS_HUGETLBFS=y
CONFIG_SENSORS_TPS23861=y
CONFIG_RTC_DRV_DS3232_HWMON=y
CONFIG_COMEDI_NI_6527=y
CONFIG_PCIE_DW_PLAT=y
CONFIG_HAVE_ARCH_JUMP_LABEL_RELATIVE=y
CONFIG_FPGA_DFL_PCI=y
CONFIG_X86_DIRECT_GBPAGES=y
CONFIG_CRYPTO_842=y
CONFIG_ACPI_THERMAL_LIB=y
CONFIG_COMEDI_DT2817=y
CONFIG_SERIAL_8250_EXTENDED=y
CONFIG_PM_QOS_CPU_SYSTEM_WAKEUP=y
CONFIG_BPF_UNPRIV_DEFAULT_OFF=y
CONFIG_CHARGER_RT9467=y
CONFIG_CPU_SUP_ZHAOXIN=y
CONFIG_THERMAL_MMIO=y
CONFIG_X86_IOPL_IOPERM=y
CONFIG_HAVE_CONTEXT_TRACKING_USER_OFFSTACK=y
CONFIG_REGULATOR_HI6421V530=y
CONFIG_ARCH_ENABLE_SPLIT_PMD_PTLOCK=y
CONFIG_REGULATOR_QCOM_SPMI=y
CONFIG_COMEDI_DT282X=y
CONFIG_HPET_TIMER=y
CONFIG_CRYPTO_LRW=y
CONFIG_LEDS_TI_LMU_COMMON=y
CONFIG_W1_SLAVE_DS28E04=y
CONFIG_SSB=y
CONFIG_GENERIC_IRQ_EFFECTIVE_AFF_MASK=y
CONFIG_X86_DISABLED_FEATURE_XENPV=y
CONFIG_SENSORS_W83792D=y
CONFIG_CRYPTO=y
CONFIG_HAVE_FENTRY=y
CONFIG_STACKTRACE=y
CONFIG_SPI_OC_TINY=y
CONFIG_INPUT_GPIO_VIBRA=y
CONFIG_BPF_JIT_ALWAYS_ON=y
CONFIG_TELCLOCK=y
CONFIG_OBJTOOL=y
CONFIG_GENERIC_VDSO_OVERFLOW_PROTECT=y
CONFIG_CHARGER_BQ2515X=y
CONFIG_IRQ_WORK=y
CONFIG_SENSORS_MAX6621=y
CONFIG_ARCH_HAS_ACPI_TABLE_UPGRADE=y
CONFIG_MTD_CK804XROM=y
CONFIG_FB_EFI=y
CONFIG_GCOV_KERNEL=y
CONFIG_RTC_DRV_LP8788=y
CONFIG_ENCLOSURE_SERVICES=y
CONFIG_MFD_SYSCON=y
CONFIG_PCIE_DW_HOST=y
CONFIG_SENSORS_KB9002=y
CONFIG_RTC_DRV_CPCAP=y
CONFIG_CRYPTO_LIB_POLY1305=y
CONFIG_XPOWER_PMIC_OPREGION=y
CONFIG_REF_TRACKER=y
CONFIG_MFD_88PM886_PMIC=y
CONFIG_ARCH_WANTS_CLOCKSOURCE_READ_INLINE=y
CONFIG_I2C_MUX_MLXCPLD=y
CONFIG_W1_SLAVE_DS250X=y
CONFIG_RTC_DRV_M41T94=y
CONFIG_LEDS_IS31FL319X=y
CONFIG_CC_HAS_NAMED_AS=y
CONFIG_SPI_SC18IS602=y
CONFIG_GPIO_KEMPLD=y
CONFIG_HAVE_CLK=y
CONFIG_PANEL=y
CONFIG_GPIO_QIXIS_FPGA=y
CONFIG_HARDIRQS_SW_RESEND=y
CONFIG_CC_HAS_ASM_GOTO_OUTPUT=y
CONFIG_I2C_SLAVE_EEPROM=y
CONFIG_COMEDI_DT3000=y
CONFIG_SENSORS_MAX127=y
CONFIG_YENTA_RICOH=y
CONFIG_CPUMASK_OFFSTACK=y
CONFIG_SENSORS_F75375S=y
CONFIG_USB4=y
CONFIG_DEFAULT_SECURITY_DAC=y
CONFIG_NETLINK_DIAG=y
CONFIG_CHARLCD=y
CONFIG_LEDS_TRIGGER_CAMERA=y
CONFIG_GENERIC_PHY_MIPI_DPHY=y
CONFIG_HAVE_IRQ_TIME_ACCOUNTING=y
CONFIG_SERIO_I8042=y
CONFIG_COMEDI=y
CONFIG_CRYPTO_AEAD2=y
CONFIG_SENSORS_LINEAGE=y
CONFIG_RMI4_F03_SERIO=y
CONFIG_IOMMU_PT_X86_64=y
CONFIG_LEDS_BD2606MVV=y
CONFIG_EFI_PGT_DUMP=y
CONFIG_HAVE_SAMPLE_FTRACE_DIRECT_MULTI=y
CONFIG_SENSORS_W83781D=y
CONFIG_ARCH_HAS_STRICT_MODULE_RWX=y
CONFIG_REGMAP_SPMI=y
CONFIG_MHI_BUS_PCI_GENERIC=y
CONFIG_EXTCON=y
CONFIG_HOTPLUG_CORE_SYNC=y
CONFIG_VIRT_DRIVERS=y
CONFIG_ARCH_WANT_OPTIMIZE_HUGETLB_VMEMMAP=y
CONFIG_RTC_DRV_WM831X=y
CONFIG_PREEMPT_RCU=y
CONFIG_IR_JVC_DECODER=y
CONFIG_CRYPTO_CCM=y
CONFIG_NVMEM_MAX77759=y
CONFIG_PTP_1588_CLOCK_VMW=y
CONFIG_COMEDI_TEST=y
CONFIG_FTRACE=y
CONFIG_UCS2_STRING=y
CONFIG_REGULATOR_MPQ7920=y
CONFIG_FTRACE_MCOUNT_USE_CC=y
CONFIG_IRQ_TIME_ACCOUNTING=y
CONFIG_OF_EARLY_FLATTREE=y
CONFIG_EXTCON_PALMAS=y
CONFIG_COMEDI_RTI800=y
CONFIG_GPIO_MAX77650=y
CONFIG_FB_SYSMEM_FOPS=y
CONFIG_INTEL_IOMMU_DEFAULT_ON=y
CONFIG_MISC_FILESYSTEMS=y
CONFIG_W1_SLAVE_DS2406=y
CONFIG_REGULATOR_MP8859=y
CONFIG_IRQ_DOMAIN=y
CONFIG_MTD_SPI_NAND=y
CONFIG_MFD_LP8788=y
CONFIG_NLS_ISO8859_15=y
CONFIG_KERNFS=y
CONFIG_SPI_LANTIQ_SSC=y
CONFIG_MTD_CFI_BE_BYTE_SWAP=y
CONFIG_REGULATOR_TPS6594=y
CONFIG_SENSORS_MCP9982=y
CONFIG_EEPROM_93CX6=y
CONFIG_COMEDI_AMPLC_PC236=y
CONFIG_MTD_MAP_BANK_WIDTH_1=y
CONFIG_RPMSG_CHAR=y
CONFIG_SERIAL_CORE_CONSOLE=y
CONFIG_BATTERY_GAUGE_LTC2941=y
CONFIG_BATTERY_MAX1720X=y
CONFIG_SHUFFLE_PAGE_ALLOCATOR=y
CONFIG_MFD_KEMPLD=y
CONFIG_CRYPTO_LZ4=y
CONFIG_TPS6105X=y
CONFIG_LEDS_KTD2692=y
CONFIG_X86_PLATFORM_DRIVERS_HP=y
CONFIG_QRTR_TUN=y
CONFIG_SENSORS_ATXP1=y
CONFIG_SERIO_LIBPS2=y
CONFIG_MTD_NAND_ECC=y
CONFIG_RTC_DRV_FM3130=y
CONFIG_STACK_TRACER=y
CONFIG_CRYPTO_CHACHA20=y
CONFIG_CGROUP_PIDS=y
CONFIG_RD_BZIP2=y
CONFIG_CRYPTO_ARIA_AESNI_AVX_X86_64=y
CONFIG_REGMAP_SPI_AVMM=y
CONFIG_HAVE_BUILDTIME_MCOUNT_SORT=y
CONFIG_CHARGER_TPS65217=y
CONFIG_SSB_PCIHOST_POSSIBLE=y
CONFIG_GENERIC_CPU_DEVICES=y
CONFIG_MEMSTICK_UNSAFE_RESUME=y
CONFIG_GENERIC_STRNLEN_USER=y
CONFIG_MOXA_SMARTIO=y
CONFIG_REGULATOR_RTQ6752=y
CONFIG_RING_BUFFER_STARTUP_TEST=y
CONFIG_ARCH_HAS_FAST_MULTIPLIER=y
CONFIG_FB_SIMPLE=y
CONFIG_SPEAKUP_SYNTH_DECEXT=y
CONFIG_HAVE_ARCH_MMAP_RND_COMPAT_BITS=y
CONFIG_ARCH_HAS_HW_PTE_YOUNG=y
CONFIG_INSTRUCTION_DECODER=y
CONFIG_LD_IS_BFD=y
CONFIG_GPIO_ADP5585=y
CONFIG_EDAC_SUPPORT=y
CONFIG_GOOGLE_FIRMWARE=y
CONFIG_DAMON=y
CONFIG_BCMA_HOST_PCI=y
CONFIG_SENSORS_SPD5118_DETECT=y
CONFIG_CRYPTO_JITTERENTROPY=y
CONFIG_ARCH_HAS_SYNC_CORE_BEFORE_USERMODE=y
CONFIG_REGULATOR_MT6331=y
CONFIG_SERIAL_NONSTANDARD=y
CONFIG_REGULATOR_ISL6271A=y
CONFIG_DA9062_THERMAL=y
CONFIG_LEDS_MAX5970=y
CONFIG_MTD_CFI_I2=y
CONFIG_RTC_DRV_ABB5ZES3=y
CONFIG_REGULATOR_MAX77826=y
CONFIG_NLS_CODEPAGE_949=y
CONFIG_GPIO_POLARFIRE_SOC=y
CONFIG_I2C_GPIO_FAULT_INJECTOR=y
CONFIG_IP5XXX_POWER=y
CONFIG_X86_DISABLED_FEATURE_SEV_SNP=y
CONFIG_CRYPTO_USER_API_AEAD=y
CONFIG_VMWARE_VMCI=y
CONFIG_KEXEC_SIG=y
CONFIG_REGULATOR_MAX8893=y
CONFIG_ARCH_SUPPORTS_DEBUG_PAGEALLOC=y
CONFIG_REGULATOR_DA9121=y
CONFIG_MUX_MMIO=y
CONFIG_HAVE_VIRT_CPU_ACCOUNTING_GEN=y
CONFIG_HAVE_ARCH_MMAP_RND_BITS=y
CONFIG_RV=y
CONFIG_RTC_DRV_RX8010=y
CONFIG_HAVE_RETHOOK=y
CONFIG_MFD_ROHM_BD71828=y
CONFIG_MFD_RETU=y
CONFIG_FW_DEVLINK_SYNC_STATE_TIMEOUT=y
CONFIG_ARCH_SUPPORTS_SCHED_SMT=y
CONFIG_CRYPTO_MLDSA=y
CONFIG_ACPI_I2C_OPREGION=y
CONFIG_INTEL_IPS=y
CONFIG_CRYPTO_RNG=y
CONFIG_HAVE_POSIX_CPU_TIMERS_TASK_WORK=y
CONFIG_WPCM450_SOC=y
CONFIG_RC_DECODERS=y
CONFIG_PPS_CLIENT_LDISC=y
CONFIG_LEDS_NCP5623=y
CONFIG_REGULATOR_MAX77838=y
CONFIG_MOUSE_PS2_SYNAPTICS_SMBUS=y
CONFIG_CRYPTO_HMAC=y
CONFIG_VIRTIO_RTC=y
CONFIG_ARCH_SUPPORTS_KEXEC=y
CONFIG_TRACEPOINTS=y
CONFIG_INPUT_BMA150=y
CONFIG_SENSORS_VT8231=y
CONFIG_AMD_WBRF=y
CONFIG_LEDS_OSRAM_AMS_AS3668=y
CONFIG_REGULATOR_FIXED_VOLTAGE=y
CONFIG_MFD_DA9055=y
CONFIG_NET_DEVLINK=y
CONFIG_CHECK_SIGNATURE=y
CONFIG_W1_MASTER_GPIO=y
CONFIG_LEDS_TRIGGER_MTD=y
CONFIG_FPGA_MGR_MACHXO2_SPI=y
CONFIG_RMI4_F21=y
CONFIG_NVMEM_LAYOUT_U_BOOT_ENV=y
CONFIG_CRYPTO_MANAGER2=y
CONFIG_SENSORS_LM63=y
CONFIG_INTEL_SOC_DTS_IOSF_CORE=y
CONFIG_CRYPTO_LZ4HC=y
CONFIG_CRYPTO_HASH=y
CONFIG_LENOVO_WMI_TUNING=y
CONFIG_HRTIMER_REARM_DEFERRED=y
CONFIG_AMD_NB=y
CONFIG_FB_MATROX=y
CONFIG_PCIE_MICROCHIP_HOST=y
CONFIG_RTC_DRV_ZYNQMP=y
CONFIG_PCIE_DW=y
CONFIG_IPMI_PANIC_STRING=y
CONFIG_COMMON_CLK_BD718XX=y
CONFIG_SENSORS_LM77=y
CONFIG_GCC_PLUGINS=y
CONFIG_DEBUG_LOCKING_API_SELFTESTS=y
CONFIG_CLKEVT_I8253=y
CONFIG_SENSORS_TMP464=y
CONFIG_LEDS_LP50XX=y
CONFIG_X86_PM_TIMER=y
CONFIG_SERIAL_MCTRL_GPIO=y
CONFIG_PCIE_DW_DEBUGFS=y
CONFIG_SYSFB=y
CONFIG_REGULATOR_MT6316=y
CONFIG_MITIGATION_RETPOLINE=y
CONFIG_INTEL_SOC_DTS_THERMAL=y
CONFIG_INTEL_WMI_THUNDERBOLT=y
CONFIG_SENSORS_I5500=y
CONFIG_PTP_1588_CLOCK_OPTIONAL=y
CONFIG_SENSORS_LTC2947_SPI=y
CONFIG_CAN_ISOTP=y
CONFIG_LIBFDT=y
CONFIG_CRYPTO_ACOMP=y
CONFIG_CRYPTO_LIB_BLAKE2B=y
CONFIG_SENSORS_FSCHMD=y
CONFIG_IOMMU_IOVA=y
CONFIG_KERNEL_GZIP=y
CONFIG_HD44780_COMMON=y
CONFIG_INPUT_UINPUT=y
CONFIG_QUEUED_SPINLOCKS=y
CONFIG_W1_SLAVE_DS2780=y
CONFIG_LIVEUPDATE_MEMFD=y
CONFIG_PCI_TSM=y
CONFIG_LEDS_LP5521=y
CONFIG_FPGA_MGR_EFINIX_SPI=y
CONFIG_RV_REACT_PRINTK=y
CONFIG_SENSORS_IT87=y
CONFIG_MFD_MAX14577=y
CONFIG_QCOM_QSEECOM=y
CONFIG_SENSORS_LTC4215=y
CONFIG_COMMON_CLK_PALMAS=y
CONFIG_KALLSYMS_ALL=y
CONFIG_MTD_NAND_ECC_SW_HAMMING=y
CONFIG_CRYPTO_DEV_QAT_420XX=y
CONFIG_SPMI=y
CONFIG_IO_WQ=y
CONFIG_RTC_DRV_EM3027=y
CONFIG_EXPORTFS=y
CONFIG_FB_SYSMEM_HELPERS_DEFERRED=y
CONFIG_X86_64=y
CONFIG_SENSORS_EMC1812=y
CONFIG_NVRAM=y
CONFIG_YOGABOOK=y
CONFIG_PM_DEVFREQ=y
CONFIG_FW_LOADER_SYSFS=y
CONFIG_REGULATOR_ACT8945A=y
CONFIG_CHARGER_RK817=y
CONFIG_COMEDI_RTI802=y
CONFIG_COMEDI_S626=y
CONFIG_FB_TRIDENT=y
CONFIG_COMEDI_TESTS_EXAMPLE=y
CONFIG_SENSORS_PCF8591=y
CONFIG_FB_PM2=y
CONFIG_HAVE_FUNCTION_GRAPH_TRACER=y
CONFIG_XXHASH=y
CONFIG_NET_SOCK_MSG=y
CONFIG_HAVE_STATIC_CALL_INLINE=y
CONFIG_GPIO_HLWD=y
CONFIG_CPU_IDLE_GOV_LADDER=y
CONFIG_W1_MASTER_AMD_AXI=y
CONFIG_REGULATOR_MAX77675=y
CONFIG_CC_HAS_ENTRY_PADDING=y
CONFIG_SENSORS_TMP421=y
CONFIG_BINARY_PRINTF=y
CONFIG_REGULATOR_MC13XXX_CORE=y
CONFIG_PRINTK=y
CONFIG_MTD_JEDECPROBE=y
CONFIG_IR_WINBOND_CIR=y
CONFIG_COMEDI_TESTS_NI_ROUTES=y
CONFIG_MFD_OCELOT=y
CONFIG_REDMI_WMI=y
CONFIG_SENSORS_MAX1619=y
CONFIG_MAGIC_SYSRQ_SERIAL=y
CONFIG_QUOTACTL=y
CONFIG_MTD_PMC551=y
CONFIG_X86_VMX_FEATURE_NAMES=y
CONFIG_FB_NVIDIA_DEBUG=y
CONFIG_CRYPTO_CAMELLIA=y
CONFIG_PCIE_CADENCE_PLAT=y
CONFIG_REGULATOR_DEBUG=y
CONFIG_EXTCON_USB_GPIO=y
CONFIG_GENERIC_PCI_IOMAP=y
CONFIG_IR_ITE_CIR=y
CONFIG_MTD_PCI=y
CONFIG_EFI_COCO_SECRET=y
CONFIG_DEVFREQ_GOV_SIMPLE_ONDEMAND=y
CONFIG_PCI_LOCKLESS_CONFIG=y
CONFIG_IKCONFIG=y
CONFIG_FB_CARMINE=y
CONFIG_TPS6594_PFSM=y
CONFIG_NLS_MAC_GAELIC=y
CONFIG_RFKILL_LEDS=y
CONFIG_HAVE_UID16=y
CONFIG_REGULATOR_TPS65090=y
CONFIG_MOXA_INTELLIO=y
CONFIG_RANDSTRUCT_FULL=y
CONFIG_MFD_CS40L50_SPI=y
CONFIG_RTC_DRV_PCF2127=y
CONFIG_MHP_DEFAULT_ONLINE_TYPE_ONLINE_AUTO=y
CONFIG_RTC_DRV_RS5C348=y
CONFIG_FUEL_GAUGE_MM8013=y
CONFIG_FW_LOADER_USER_HELPER=y
CONFIG_MPLS=y
CONFIG_GPIO_PCA953X=y
CONFIG_MFD_RK8XX_I2C=y
