CONFIG_GENERIC_SCHED_CLOCK=y
CONFIG_KGDB_KDB=y
CONFIG_FAULT_INJECTION=y
CONFIG_ARM_SP805_WATCHDOG=y
CONFIG_GPIB_AGILENT_82350B=y
CONFIG_SDM_CAMCC_845=y
CONFIG_COMPAT_BINFMT_ELF=y
CONFIG_MTD_COMPLEX_MAPPINGS=y
CONFIG_PMBUS=y
CONFIG_SM_DISPCC_8250=y
CONFIG_GPIO_WATCHDOG=y
CONFIG_REGULATOR_MAX77503=y
CONFIG_NLS_MAC_INUIT=y
CONFIG_REGULATOR_DA9210=y
CONFIG_PCIEAER_INJECT=y
CONFIG_QCOM_LMH=y
CONFIG_CRYPTO_FCRYPT=y
CONFIG_CLK_X1E80100_CAMCC=y
CONFIG_CLK_SOPHGO_SG2044_PLL=y
CONFIG_CORESIGHT_CTI_INTEGRATION_REGS=y
CONFIG_MFD_MAX77686=y
CONFIG_PATA_SERVERWORKS=y
CONFIG_JFS_SECURITY=y
CONFIG_CRYPTO=y
CONFIG_HAVE_ARCH_THREAD_STRUCT_WHITELIST=y
CONFIG_ARCH_SUNXI=y
CONFIG_MTD_NAND_CAFE=y
CONFIG_HAVE_PCI=y
CONFIG_ARCH_HAS_NON_OVERLAPPING_ADDRESS_SPACE=y
CONFIG_FUTEX_MPOL=y
CONFIG_RPMSG_CTRL=y
CONFIG_GENERIC_IRQ_MIGRATION=y
CONFIG_ARCH_HAS_CPU_RESCTRL=y
CONFIG_SUN8I_R_CCU=y
CONFIG_SIGNED_PE_FILE_VERIFICATION=y
CONFIG_SERIAL_CORE_CONSOLE=y
CONFIG_CPUMASK_OFFSTACK=y
CONFIG_MFD_MT6370=y
CONFIG_GPIO_MC33880=y
CONFIG_ARM_GIC_V2M=y
CONFIG_HAVE_EBPF_JIT=y
CONFIG_APPLICOM=y
CONFIG_RCU_NEED_SEGCBLIST=y
CONFIG_ARM64_ERRATUM_1530923=y
CONFIG_GPIO_VIRTIO=y
CONFIG_BLK_DEV_BSG_COMMON=y
CONFIG_QCOM_SMD_RPM=y
CONFIG_RV_MON_DEADLINE=y
CONFIG_CRYPTO_LZ4HC=y
CONFIG_PAGE_SIZE_LESS_THAN_256KB=y
CONFIG_GPIO_ALTERA_A10SR=y
CONFIG_HAVE_ARCH_RANDOMIZE_KSTACK_OFFSET=y
CONFIG_IRQ_DOMAIN_HIERARCHY=y
CONFIG_BOOT_CONFIG=y
CONFIG_PINCTRL_SUN50I_H6=y
CONFIG_KEYS_REQUEST_CACHE=y
CONFIG_ARM_ARCH_TIMER=y
CONFIG_GENERIC_GETTIMEOFDAY=y
CONFIG_ARM64_ERRATUM_2224489=y
CONFIG_PADATA=y
CONFIG_BTRFS_FS=y
CONFIG_LEDS_TLC591XX=y
CONFIG_PCIE_MEDIATEK_GEN3=y
CONFIG_CRYPTO_BENCHMARK=y
CONFIG_DEBUG_CGROUP_REF=y
CONFIG_PCI_SYSCALL=y
CONFIG_HOTPLUG_SMT=y
CONFIG_SPI_POLARFIRE_SOC=y
CONFIG_PINCTRL_STM32=y
CONFIG_TASKS_RUDE_RCU=y
CONFIG_PATA_SIS=y
CONFIG_PCI_XGENE_MSI=y
CONFIG_SERIAL_8250_PERICOM=y
CONFIG_NPCM7XX_KCS_IPMI_BMC=y
CONFIG_ELFCORE=y
CONFIG_EEPROM_EE1004=y
CONFIG_DEVTMPFS_SAFE=y
CONFIG_PHY_QCOM_USB_HS_28NM=y
CONFIG_NUMA_MEMBLKS=y
CONFIG_JFS_POSIX_ACL=y
CONFIG_SENSORS_SHT21=y
CONFIG_ARCH_HAS_DEBUG_VIRTUAL=y
CONFIG_SENSORS_LM78=y
CONFIG_MFD_BD9571MWV=y
CONFIG_CROS_EC_SPI=y
CONFIG_CRASH_DUMP=y
CONFIG_REGULATOR_TPS62360=y
CONFIG_SPI_SUN6I=y
CONFIG_HUGETLB_PAGE=y
CONFIG_BLK_WBT=y
CONFIG_SM_GPUCC_6350=y
CONFIG_QUOTACTL=y
CONFIG_CRYPTO_SM4_GENERIC=y
CONFIG_PM_DEVFREQ_EVENT=y
CONFIG_WATCHDOG_PRETIMEOUT_GOV=y
CONFIG_ARCH_HAS_SETUP_DMA_OPS=y
CONFIG_I2C_MUX_PINCTRL=y
CONFIG_HOTPLUG_CORE_SYNC_DEAD=y
CONFIG_I2C_HELPER_AUTO=y
CONFIG_SENSORS_LTC3815=y
CONFIG_MSM_GCC_8998=y
CONFIG_PCI_SKY1_HOST=y
CONFIG_SM_DISPCC_4450=y
CONFIG_ARM64_WORKAROUND_TRBE_WRITE_OUT_OF_RANGE=y
CONFIG_SHRINKER_DEBUG=y
CONFIG_ARCH_WANTS_EXECMEM_LATE=y
CONFIG_CC_HAS_ASM_GOTO_OUTPUT=y
CONFIG_THERMAL_GOV_POWER_ALLOCATOR=y
CONFIG_BPF_EVENTS=y
CONFIG_SYSCTL_EXCEPTION_TRACE=y
CONFIG_FTRACE_SYSCALLS=y
CONFIG_SERIAL_STM32_CONSOLE=y
CONFIG_REGULATOR_SLG51000=y
CONFIG_HEADERS_INSTALL=y
CONFIG_PATA_PARPORT_FIT3=y
CONFIG_QCS_GCC_615=y
CONFIG_MTD_ONENAND=y
CONFIG_DA_MON_EVENTS_IMPLICIT=y
CONFIG_QCOM_KRYO_L2_ACCESSORS=y
CONFIG_REGULATOR_MAX8893=y
CONFIG_MFD_MP2629=y
CONFIG_IRQ_SIM=y
CONFIG_CRYPTO_LRW=y
CONFIG_REGULATOR_MT6311=y
CONFIG_GPIB=y
CONFIG_FPGA_MGR_LATTICE_SYSCONFIG_SPI=y
CONFIG_RV_HA_MONITOR=y
CONFIG_NVME_TARGET_DEBUGFS=y
CONFIG_QCOM_RPMPD=y
CONFIG_PREEMPT_DYNAMIC=y
CONFIG_PHYS_ADDR_T_64BIT=y
CONFIG_FB_VT8623=y
CONFIG_PINCTRL_MCP23S08=y
CONFIG_LEDS_LP5812=y
CONFIG_ARCH_HAS_KEEPINITRD=y
CONFIG_BATTERY_BQ27XXX=y
CONFIG_REGULATOR_SY8106A=y
CONFIG_ATA_SFF=y
CONFIG_SENSORS_NCT6775=y
CONFIG_SENSORS_F75375S=y
CONFIG_MTD_SPI_NOR_SWP_DISABLE_ON_VOLATILE=y
CONFIG_TURRIS_MOX_RWTM=y
CONFIG_INTERCONNECT_QCOM_SM8150=y
CONFIG_ARM64_ERRATUM_1463225=y
CONFIG_SPI_CADENCE_QUADSPI=y
CONFIG_CC_HAS_WORKING_NOSANITIZE_ADDRESS=y
CONFIG_FPGA_DFL_EMIF=y
CONFIG_OF_GPIO=y
CONFIG_NLS_ISO8859_14=y
CONFIG_CLKSRC_STM32_LP=y
CONFIG_SPI_ATMEL=y
CONFIG_MTD_CFI_I2=y
CONFIG_PACKING=y
CONFIG_SAMPLE_LANDLOCK=y
CONFIG_PAGE_EXTENSION=y
CONFIG_SENSORS_F71882FG=y
CONFIG_FB_VIRTUAL=y
CONFIG_UIO_MF624=y
CONFIG_QCOM_FALKOR_ERRATUM_1009=y
CONFIG_SENSORS_VEXPRESS=y
CONFIG_FS_VERITY_BUILTIN_SIGNATURES=y
CONFIG_TEST_POWER=y
CONFIG_I2C_SIS630=y
CONFIG_HAVE_ARCH_USERFAULTFD_MINOR=y
CONFIG_ISL29020=y
CONFIG_SCF_TORTURE_TEST=y
CONFIG_SENSORS_LM95234=y
CONFIG_REGULATOR_LP873X=y
CONFIG_SENSORS_DS620=y
CONFIG_FS_STACK=y
CONFIG_SENSORS_IR35221=y
CONFIG_QCOM_FASTRPC=y
CONFIG_INTERCONNECT_QCOM_MSM8909=y
CONFIG_MTD_REDBOOT_PARTS=y
CONFIG_SATA_SX4=y
CONFIG_LEDS_GPIO=y
CONFIG_SERIAL_MCTRL_GPIO=y
CONFIG_GPIO_XILINX=y
CONFIG_TPS6105X=y
CONFIG_HAVE_FUNCTION_GRAPH_FREGS=y
CONFIG_TRACE_IRQFLAGS_SUPPORT=y
CONFIG_PINCTRL_SOPHGO_CV18XX_OPS=y
CONFIG_PCI_J721E_HOST=y
CONFIG_SENSORS_MP5920=y
CONFIG_TRACE_IRQFLAGS_NMI=y
CONFIG_CRYPTO_CBC=y
CONFIG_ARM_EXYNOS_BUS_DEVFREQ=y
CONFIG_BLK_INLINE_ENCRYPTION=y
CONFIG_HAVE_SHARED_GPIOS=y
CONFIG_REGULATOR_TPS65023=y
CONFIG_HAVE_SYSCALL_TRACEPOINTS=y
CONFIG_PCIE_TPH=y
CONFIG_MTD_LPDDR=y
CONFIG_STM_SOURCE_CONSOLE=y
CONFIG_MFD_INTEL_M10_BMC_CORE=y
CONFIG_CHARGER_MAX8971=y
CONFIG_INTERCONNECT_QCOM_X1E80100=y
CONFIG_ARCH_SUPPORTS_MSEAL_SYSTEM_MAPPINGS=y
CONFIG_PHY_QCOM_QUSB2=y
CONFIG_BCMA_DEBUG=y
CONFIG_CC_NO_STRINGOP_OVERFLOW=y
CONFIG_PINCTRL_MTK_V2=y
CONFIG_ALTERA_FREEZE_BRIDGE=y
CONFIG_QCOM_CLK_APCS_MSM8916=y
CONFIG_MTD_SPI_NOR=y
CONFIG_CRYPTO_CHACHA20=y
CONFIG_CORESIGHT_STM=y
CONFIG_CRYPTO_TWOFISH_COMMON=y
CONFIG_PCIE_DW_HOST=y
CONFIG_I2C_STM32F4=y
CONFIG_64BIT=y
CONFIG_SPI_PXA2XX=y
CONFIG_HAVE_ARCH_COMPILER_H=y
CONFIG_PCIE_TEGRA194=y
CONFIG_CRYPTO_CRYPTD=y
CONFIG_FS_POSIX_ACL=y
CONFIG_SPI_ORION=y
CONFIG_REGULATOR_PV88090=y
CONFIG_SPI_MEM=y
CONFIG_I2C_DEMUX_PINCTRL=y
CONFIG_CHARLCD_BL_ON=y
CONFIG_ROMFS_BACKED_BY_BLOCK=y
CONFIG_PATA_PARPORT_ON26=y
CONFIG_LEDS_TPS6105X=y
CONFIG_INTERCONNECT_QCOM_SM6350=y
CONFIG_CHARGER_RT9467=y
CONFIG_NLS_CODEPAGE_850=y
CONFIG_MPILIB=y
CONFIG_LEDS_PCA963X=y
CONFIG_ALTERA_PR_IP_CORE=y
CONFIG_MTD_PARTITIONED_MASTER=y
CONFIG_TI_MESSAGE_MANAGER=y
CONFIG_HYPERV=y
CONFIG_XXHASH=y
CONFIG_DEVFREQ_EVENT_EXYNOS_PPMU=y
CONFIG_AS_HAS_CFI_NEGATE_RA_STATE=y
CONFIG_SENSORS_MAX1111=y
CONFIG_PINCTRL_QCOM_SPMI_PMIC=y
CONFIG_SDM_GPUCC_845=y
CONFIG_OF_RECONFIG_NOTIFIER_ERROR_INJECT=y
CONFIG_ARCH_WANTS_NO_INSTR=y
CONFIG_ARCH_STACKWALK=y
CONFIG_RESET_NPCM=y
CONFIG_MHP_MEMMAP_ON_MEMORY=y
CONFIG_GENERIC_CPU_AUTOPROBE=y
CONFIG_PHY_SUN50I_USB3=y
CONFIG_CRYPTO_STREEBOG=y
CONFIG_GENERIC_ARCH_NUMA=y
CONFIG_GPIO_SYSFS=y
CONFIG_BLK_ICQ=y
CONFIG_PHY_NXP_PTN3222=y
CONFIG_SENSORS_I5K_AMB=y
CONFIG_PINCTRL_SUN5I=y
CONFIG_FPGA_MGR_MACHXO2_SPI=y
CONFIG_SERIO=y
CONFIG_GPIO_PCA953X=y
CONFIG_CLK_KAANAPALI_GCC=y
CONFIG_SENSORS_PM6764TR=y
CONFIG_ARCH_SUPPORTS_KEXEC_HANDOVER=y
CONFIG_REGULATOR_WM831X=y
CONFIG_CORESIGHT_TPDM=y
CONFIG_MTD_NAND_MARVELL=y
CONFIG_PREEMPTIRQ_TRACEPOINTS=y
CONFIG_NEED_SRCU_NMI_SAFE=y
CONFIG_SERIAL_XILINX_PS_UART=y
CONFIG_XZ_DEC_MICROLZMA=y
CONFIG_HAVE_ALIGNED_STRUCT_PAGE=y
CONFIG_SENSORS_LTC4282=y
CONFIG_MFD_TPS65912_SPI=y
CONFIG_CRYPTO_AES_ARM64_NEON_BLK=y
CONFIG_DYNAMIC_DEBUG=y
CONFIG_CRYPTO_LIB_GF128HASH_ARCH=y
CONFIG_MFD_MAX8907=y
CONFIG_HAVE_RELIABLE_STACKTRACE=y
CONFIG_ARCH_SUPPORTS_LTO_CLANG=y
CONFIG_SUN55I_A523_MCU_CCU=y
CONFIG_ARM64_VA_BITS_48=y
CONFIG_MFD_RT4831=y
CONFIG_TEGRA_GMI=y
CONFIG_PINCTRL_TEGRA=y
CONFIG_KALLSYMS_ALL=y
CONFIG_FW_LOADER_PAGED_BUF=y
CONFIG_PINCTRL_ARMADA_CP110=y
CONFIG_KRETPROBES=y
CONFIG_MTD_CFI_UTIL=y
CONFIG_XILLYBUS=y
CONFIG_SATA_ACARD_AHCI=y
CONFIG_CRYPTO_ECHAINIV=y
CONFIG_REGULATOR_RTMV20=y
CONFIG_XILLYBUS_PCIE=y
CONFIG_ARCH_TEGRA_238_SOC=y
CONFIG_SCSI_SAS_ATTRS=y
CONFIG_GPIO_WM831X=y
CONFIG_I2C_VIA=y
CONFIG_SENSORS_W83L785TS=y
CONFIG_JFS_FS=y
CONFIG_TRACING=y
CONFIG_SERIAL_8250=y
CONFIG_QDU_GCC_1000=y
CONFIG_PARPORT=y
CONFIG_INTERCONNECT_QCOM_MILOS=y
CONFIG_PINCTRL_NPCM8XX=y
CONFIG_ARM_PSCI_FW=y
CONFIG_RANDSTRUCT_NONE=y
CONFIG_ARCH_NPCM=y
CONFIG_SENSORS_VT1211=y
CONFIG_REGULATOR_SY8824X=y
CONFIG_COMMON_CLK_MESON_DUALDIV=y
CONFIG_LOCK_EVENT_COUNTS=y
CONFIG_CROS_EC_PROTO=y
CONFIG_VIRTIO_BALLOON=y
CONFIG_PATA_PARPORT=y
CONFIG_SENSORS_EMC2305=y
CONFIG_NLS_MAC_CENTEURO=y
CONFIG_GENERIC_NET_UTILS=y
CONFIG_MESON_GXBB_WATCHDOG=y
CONFIG_MVEBU_SEI=y
CONFIG_VIDEO=y
CONFIG_MFD_ALTERA_A10SR=y
CONFIG_LEDS_BD2802=y
CONFIG_DEBUG_MEMORY_INIT=y
CONFIG_FW_UPLOAD=y
CONFIG_DMA_OPS_HELPERS=y
CONFIG_CPU_MITIGATIONS=y
CONFIG_SPI_STM32=y
CONFIG_INTERCONNECT_QCOM_SDX75=y
CONFIG_SERIAL_8250_EXTENDED=y
CONFIG_MFD_MAX5970=y
CONFIG_SM_CAMCC_8750=y
CONFIG_CRYPTO_CRC32=y
CONFIG_RAPIDIO_MPORT_CDEV=y
CONFIG_RCU_LAZY=y
CONFIG_DEBUG_MAPLE_TREE=y
CONFIG_FORCE_NEED_SRCU_NMI_SAFE=y
CONFIG_MISC_FILESYSTEMS=y
CONFIG_FB_NOTIFY=y
CONFIG_ARCH_HAS_GCOV_PROFILE_ALL=y
CONFIG_PECI=y
CONFIG_DEBUG_WW_MUTEX_SLOWPATH=y
CONFIG_SOC_BUS=y
CONFIG_FPGA_DFL_NIOS_INTEL_PAC_N3000=y
CONFIG_SM_GPUCC_4450=y
CONFIG_LD_CAN_USE_KEEP_IN_OVERLAY=y
CONFIG_MITIGATE_SPECTRE_BRANCH_HISTORY=y
CONFIG_ARCH_PENSANDO=y
CONFIG_TPS6507X=y
CONFIG_FUSION_SPI=y
CONFIG_ARCH_HAS_PTDUMP=y
CONFIG_EXT2_FS=y
CONFIG_TEGRA241_CMDQV=y
CONFIG_PHY_J721E_WIZ=y
CONFIG_COMMON_CLK_C3_PLL=y
CONFIG_PINCTRL_MICROCHIP_SGPIO=y
CONFIG_SM_GPUCC_6125=y
CONFIG_PHY_QCOM_USB_SNPS_FEMTO_V2=y
CONFIG_MAGIC_SYSRQ_SERIAL=y
CONFIG_ALTERA_PR_IP_CORE_PLAT=y
CONFIG_BINFMT_SCRIPT=y
CONFIG_SM_VIDEOCC_MILOS=y
CONFIG_ARCH_TEGRA=y
CONFIG_EXTCON_MAX14577=y
CONFIG_MTD_NAND_MXIC=y
CONFIG_I2C_PXA=y
CONFIG_SENSORS_MAX31722=y
CONFIG_SCSI_SAS_LIBSAS=y
CONFIG_RCU_NOCB_CPU=y
CONFIG_SENSORS_NCT7802=y
CONFIG_ZSTD_COMMON=y
CONFIG_DEBUG_INFO_SPLIT=y
CONFIG_VIRTIO_ANCHOR=y
CONFIG_ARCH_SUPPORTS_UPROBES=y
CONFIG_SM_DISPCC_6125=y
CONFIG_PATA_PARPORT_BPCK=y
CONFIG_DEBUG_LOCK_ALLOC=y
CONFIG_MSM_GCC_8917=y
CONFIG_NULL_TTY=y
CONFIG_PCI_PWRCTRL_GENERIC=y
CONFIG_SYSVIPC=y
CONFIG_SENSORS_SCH56XX_COMMON=y
CONFIG_IO_URING=y
CONFIG_FIPS_SIGNATURE_SELFTEST_RSA=y
CONFIG_LCD_VGG2432A4=y
CONFIG_MSM_GCC_8994=y
CONFIG_PINCTRL_SUN50I_H616_R=y
CONFIG_PINCTRL_SINGLE=y
CONFIG_THERMAL_GOV_STEP_WISE=y
CONFIG_FB_TILEBLITTING=y
CONFIG_NUMA=y
CONFIG_CRYPTO_HASH2=y
CONFIG_STM_SOURCE_FTRACE=y
CONFIG_PCIE_CADENCE_EP=y
CONFIG_DEBUG_PREEMPT=y
CONFIG_MFD_MAX77714=y
CONFIG_COMMON_CLK_QCOM=y
CONFIG_ARCH_ENABLE_HUGEPAGE_MIGRATION=y
CONFIG_IPQ_GCC_9574=y
CONFIG_GENERIC_SMP_IDLE_THREAD=y
CONFIG_PHY_MESON_AXG_MIPI_DPHY=y
CONFIG_TCG_TIS_ST33ZP24=y
CONFIG_SYSTEM_TRUSTED_KEYRING=y
CONFIG_TCG_TIS_I2C=y
CONFIG_STACK_TRACER=y
CONFIG_IPQ_GCC_5018=y
CONFIG_CRYPTO_GENIV=y
CONFIG_KPROBES=y
CONFIG_I2C_VIAPRO=y
CONFIG_BPF_JIT_ALWAYS_ON=y
CONFIG_CLK_INTEL_SOCFPGA64=y
CONFIG_FAIL_PAGE_ALLOC=y
CONFIG_PCI_DOMAINS_GENERIC=y
CONFIG_COMMON_CLK_A1_PERIPHERALS=y
CONFIG_GCC_PLUGINS=y
CONFIG_GLOB=y
CONFIG_PSTORE_PMSG=y
CONFIG_FHANDLE=y
CONFIG_SENSORS_SHTC1=y
CONFIG_PCIE_ECRC=y
CONFIG_ARM_ARCH_TIMER_OOL_WORKAROUND=y
CONFIG_LOCKDEP=y
CONFIG_PINCONF=y
CONFIG_REGULATOR_AXP20X=y
CONFIG_CRYPTO_ALGAPI2=y
CONFIG_TARGET_CORE=y
CONFIG_PHY_CADENCE_SIERRA=y
CONFIG_SC_GCC_8180X=y
CONFIG_I2C_SLAVE_TESTUNIT=y
CONFIG_VMWARE_VMCI=y
CONFIG_MTD_NAND_OMAP_BCH=y
CONFIG_BPF_SYSCALL=y
CONFIG_BUILDTIME_MCOUNT_SORT=y
CONFIG_ARCH_HAS_SET_MEMORY=y
CONFIG_SENSORS_TMP108=y
CONFIG_MFD_QCOM_PM8008=y
CONFIG_ARCH_SUPPORTS_ATOMIC_RMW=y
CONFIG_CLK_GFM_LPASS_SM8250=y
CONFIG_CLK_SOPHGO_SG2044=y
CONFIG_ARM_GIC=y
CONFIG_RAID_ATTRS=y
CONFIG_HAVE_CLK=y
CONFIG_CRASH_RESERVE=y
CONFIG_SC_LPASSCC_8280XP=y
CONFIG_RSEQ=y
CONFIG_OF_NUMA=y
CONFIG_SLUB_TINY=y
CONFIG_SIOX_BUS_GPIO=y
CONFIG_SUN8I_H3_CCU=y
CONFIG_ARCH_HAS_SYNC_DMA_FOR_CPU=y
CONFIG_SPARSEMEM_VMEMMAP=y
CONFIG_PTDUMP=y
CONFIG_QCOM_TZMEM_MODE_GENERIC=y
CONFIG_IPQ_GCC_6018=y
CONFIG_REGULATOR_DA9211=y
CONFIG_DEBUG_VFS=y
CONFIG_PCI_NPEM=y
CONFIG_CUSE=y
CONFIG_DEBUG_OBJECTS=y
CONFIG_GAMEPORT_EMU10K1=y
CONFIG_GENERIC_PINCTRL=y
CONFIG_SENSORS_GL520SM=y
CONFIG_SENSORS_MP29502=y
CONFIG_QCOM_SSC_BLOCK_BUS=y
CONFIG_RANDOM32_SELFTEST=y
CONFIG_PCI_TEGRA=y
CONFIG_HAVE_DMA_CONTIGUOUS=y
CONFIG_REGULATOR_MT6370=y
CONFIG_ST_THERMAL_MEMMAP=y
CONFIG_RSEQ_STATS=y
CONFIG_TEGRA_AHB=y
CONFIG_ATA_PIIX=y
CONFIG_HAVE_PERF_REGS=y
CONFIG_GENERIC_ALLOCATOR=y
CONFIG_SENSORS_W83L786NG=y
CONFIG_TI_K3_SOCINFO=y
CONFIG_REGULATOR_DEBUG=y
CONFIG_PCI_HYPERV_INTERFACE=y
CONFIG_ARCH_MHP_MEMMAP_ON_MEMORY_ENABLE=y
CONFIG_POWER_RESET=y
CONFIG_ARCH_AIROHA=y
CONFIG_MFD_WM8997=y
CONFIG_BCMA_HOST_PCI_POSSIBLE=y
CONFIG_I2C_ALI1563=y
CONFIG_SENSORS_MAX16601=y
CONFIG_MARVELL_CN10K_TAD_PMU=y
CONFIG_REGULATOR_RTQ2134=y
CONFIG_PRINTK_TIME=y
CONFIG_CEC_MESON_AO=y
CONFIG_NVME_TARGET_AUTH=y
CONFIG_DEBUG_PER_CPU_MAPS=y
CONFIG_SENSORS_MAX20730=y
CONFIG_INTERCONNECT_QCOM_QCS615=y
CONFIG_I2C_ATR=y
CONFIG_SENSORS_MAX20751=y
CONFIG_MOST=y
CONFIG_SERIAL_EARLYCON_SEMIHOST=y
CONFIG_UDF_FS=y
CONFIG_DEBUG_ATOMIC_SLEEP=y
CONFIG_TRUSTED_KEYS=y
CONFIG_HFS_FS=y
CONFIG_CRYPTO_AEGIS128=y
CONFIG_SENSORS_WM831X=y
