CONFIG_CC_CAN_LINK=n
CONFIG_ARCH_HAS_CURRENT_STACK_POINTER=n
CONFIG_FUNCTION_ALIGNMENT_4B=n
CONFIG_SERIAL_CORE_CONSOLE=n
CONFIG_BLK_CGROUP=n
CONFIG_NET_VENDOR_REALTEK=n
CONFIG_FS_MBCACHE=n
CONFIG_WLAN_VENDOR_MEDIATEK=n
CONFIG_HAVE_RETHOOK=n
CONFIG_I2C_I801=n
CONFIG_HAVE_USER_RETURN_NOTIFIER=n
CONFIG_ARCH_USES_PG_ARCH_2=n
CONFIG_DRM_PANEL_ORIENTATION_QUIRKS=n
CONFIG_EVENT_TRACING=n
CONFIG_E1000E=n
CONFIG_SCHEDSTATS=n
CONFIG_PNFS_BLOCK=n
CONFIG_DEVTMPFS=n
CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE=n
CONFIG_IP_PIMSM_V2=n
CONFIG_QUOTACTL=n
CONFIG_FUTEX=n
CONFIG_DEVMEM=n
CONFIG_WLAN_VENDOR_ST=n
CONFIG_ARCH_MHP_MEMMAP_ON_MEMORY_ENABLE=n
CONFIG_SCHED_MM_CID=n
CONFIG_ARCH_ENABLE_HUGEPAGE_MIGRATION=n
CONFIG_INPUT_FF_MEMLESS=n
CONFIG_NET_VENDOR_BROADCOM=n
CONFIG_BLK_DEV_LOOP=n
CONFIG_X86_VERBOSE_BOOTUP=n
CONFIG_PROC_FS=n
CONFIG_DEBUG_MISC=n
CONFIG_WLAN=n
CONFIG_MITIGATION_SPECTRE_V2=n
CONFIG_CRYPTO_CCM=n
CONFIG_HAVE_MIXED_BREAKPOINTS_REGS=n
CONFIG_NET_VENDOR_SYNOPSYS=n
CONFIG_INET6_AH=n
CONFIG_LOCKD=n
CONFIG_HAVE_RELIABLE_STACKTRACE=n
CONFIG_SND_X86=n
CONFIG_QUOTA_TREE=n
CONFIG_SND_SEQ_DEVICE=n
CONFIG_NETFILTER_SKIP_EGRESS=n
CONFIG_SERIAL_8250_MID=n
CONFIG_MEMBARRIER=n
CONFIG_CROSS_MEMORY_ATTACH=n
CONFIG_CRYPTO_LIB_ARC4=n
CONFIG_BLK_DEV_DM_BUILTIN=n
CONFIG_GPU_BUDDY=n
CONFIG_NFS_V4_0=n
CONFIG_BLK_RQ_ALLOC_TIME=n
CONFIG_X86_64=n
CONFIG_NET_FAILOVER=n
CONFIG_NFS_FS=n
CONFIG_USB_DEFAULT_PERSIST=n
CONFIG_ARCH_USE_MEMREMAP_PROT=n
CONFIG_CRYPTO_LIB_AES_CBC_MACS=n
CONFIG_CRYPTO_SKCIPHER2=n
CONFIG_TRACEPOINTS=n
CONFIG_ARCH_SUPPORTS_SCHED_MC=n
CONFIG_PARAVIRT_CLOCK=n
CONFIG_HAVE_POSIX_CPU_TIMERS_TASK_WORK=n
CONFIG_PREFIX_SYMBOLS=n
CONFIG_ACPI_TABLE_UPGRADE=n
CONFIG_MITIGATION_ITS=n
CONFIG_MOUSE_PS2_LIFEBOOK=n
CONFIG_KERNFS=n
CONFIG_NET_VENDOR_I825XX=n
CONFIG_PTP_1588_CLOCK_OPTIONAL=n
CONFIG_X86_DISABLED_FEATURE_CYRIX_ARR=n
CONFIG_IRQ_DOMAIN_HIERARCHY=n
CONFIG_EEEPC_LAPTOP=n
CONFIG_EXCLUSIVE_SYSTEM_RAM=n
CONFIG_INITRAMFS_PRESERVE_MTIME=n
CONFIG_SCHED_SMT=n
CONFIG_CRYPTO_CBC=n
CONFIG_EFI_HANDOVER_PROTOCOL=n
CONFIG_KCMP=n
CONFIG_CC_HAS_ASM_GOTO_TIED_OUTPUT=n
CONFIG_PAGE_SIZE_LESS_THAN_256KB=n
CONFIG_ARCH_HAS_GENERIC_CRASHKERNEL_RESERVATION=n
CONFIG_GENERIC_ENTRY=n
CONFIG_X86_MCE_INTEL=n
CONFIG_DRM_VIRTIO_GPU=n
CONFIG_HAVE_KPROBES=n
CONFIG_NET_EGRESS=n
CONFIG_SND_HWDEP=n
CONFIG_HAVE_PAGE_SIZE_4KB=n
CONFIG_HAS_IOMEM=n
CONFIG_HID_NTRIG=n
CONFIG_OPENSSL_SUPPORTS_ML_DSA=n
CONFIG_DEBUG_KERNEL=n
CONFIG_RD_LZ4=n
CONFIG_SND_SEQ_HRTIMER_DEFAULT=n
CONFIG_CRYPTO_LIB_UTILS=n
CONFIG_NVRAM=n
CONFIG_NET_VENDOR_MICROSEMI=n
CONFIG_RTC_SYSTOHC=n
CONFIG_MOUSE_PS2=n
CONFIG_ARCH_ENABLE_SPLIT_PMD_PTLOCK=n
CONFIG_SCSI_LOWLEVEL=n
CONFIG_X86_VMX_FEATURE_NAMES=n
CONFIG_HW_RANDOM_VIA=n
CONFIG_CRYPTO_CTR=n
CONFIG_ARCH_WANT_IRQS_OFF_ACTIVATE_MM=n
CONFIG_SPLIT_PMD_PTLOCKS=n
CONFIG_NET_VENDOR_VIA=n
CONFIG_PREEMPT_COUNT=n
CONFIG_BITREVERSE=n
CONFIG_MITIGATION_L1TF=n
CONFIG_ARCH_CORRECT_STACKTRACE_ON_KRETPROBE=n
CONFIG_PROC_KCORE=n
CONFIG_SCSI_DMA=n
CONFIG_USE_PERCPU_NUMA_NODE_ID=n
CONFIG_ISA_DMA_API=n
CONFIG_UNWINDER_ORC=n
CONFIG_ARCH_SUPPORTS_MSEAL_SYSTEM_MAPPINGS=n
CONFIG_EARLY_PRINTK=n
CONFIG_PCI=n
CONFIG_VT=n
CONFIG_FILE_LOCKING=n
CONFIG_NET_FLOW_LIMIT=n
CONFIG_ARCH_SUPPORTS_INT128=n
CONFIG_SERIAL_8250_MANY_PORTS=n
CONFIG_MMU_LAZY_TLB_REFCOUNT=n
CONFIG_TASK_IO_ACCOUNTING=n
CONFIG_COMPAT_32BIT_TIME=n
CONFIG_MIGRATION=n
CONFIG_LD_CAN_USE_KEEP_IN_OVERLAY=n
CONFIG_WLAN_VENDOR_SILABS=n
CONFIG_GENERIC_IRQ_SHOW=n
CONFIG_CRYPTO_LIB_AES_ARCH=n
CONFIG_X86_PLATFORM_DEVICES=n
CONFIG_AS_WRUSS=n
CONFIG_X86_DEBUGCTLMSR=n
CONFIG_CGROUP_SCHED=n
CONFIG_PAGE_COUNTER=n
CONFIG_X86_DISABLED_FEATURE_ENQCMD=n
CONFIG_ARCH_HAS_DEVMEM_IS_ALLOWED=n
CONFIG_HAVE_STATIC_CALL=n
CONFIG_CRYPTO_AEAD2=n
CONFIG_HUGETLB_PAGE=n
CONFIG_DECOMPRESS_LZMA=n
CONFIG_ATA_PIIX=n
CONFIG_HIDRAW=n
CONFIG_ARCH_CLOCKSOURCE_INIT=n
CONFIG_CGROUP_DEVICE=n
CONFIG_NET_VENDOR_DLINK=n
CONFIG_VHOST_MENU=n
CONFIG_ARCH_WANT_BATCHED_UNMAP_TLB_FLUSH=n
CONFIG_RPCSEC_GSS_KRB5=n
CONFIG_XFRM_USER=n
CONFIG_GCC10_NO_ARRAY_BOUNDS=n
CONFIG_RTC_I2C_AND_SPI=n
CONFIG_SMP=n
CONFIG_HAVE_ARCH_PREL32_RELOCATIONS=n
CONFIG_FUTEX_PRIVATE_HASH=n
CONFIG_ARCH_HAS_CPU_ATTACK_VECTORS=n
CONFIG_KPROBE_EVENTS=n
CONFIG_ISO9660_FS=n
CONFIG_X86_HV_CALLBACK_VECTOR=n
CONFIG_X86_MCE=n
CONFIG_NET_VENDOR_MUCSE=n
CONFIG_NETFILTER_XT_TARGET_TCPMSS=n
CONFIG_DNS_RESOLVER=n
CONFIG_PRINTK=n
CONFIG_XZ_DEC_SPARC=n
CONFIG_NEED_PER_CPU_EMBED_FIRST_CHUNK=n
CONFIG_TRACE_IRQFLAGS_NMI_SUPPORT=n
CONFIG_DIMLIB=n
CONFIG_FONT_SUPPORT=n
CONFIG_SND_INTEL_NHLT=n
CONFIG_PCCARD=n
CONFIG_YENTA_TI=n
CONFIG_NLS_CODEPAGE_437=n
CONFIG_NET_VENDOR_DAVICOM=n
CONFIG_WLAN_VENDOR_INTERSIL=n
CONFIG_NETFILTER_XT_TARGET_NFLOG=n
CONFIG_UNION_FIND=n
CONFIG_CPU_IDLE_GOV_MENU=n
CONFIG_HIBERNATE_CALLBACKS=n
CONFIG_GENERIC_SYSCALL=n
CONFIG_ZISOFS=n
CONFIG_WLAN_VENDOR_REALTEK=n
CONFIG_NF_CONNTRACK=n
CONFIG_FS_POSIX_ACL=n
CONFIG_CPU_FREQ_GOV_PERFORMANCE=n
CONFIG_PROC_MEM_FORCE_PTRACE=n
CONFIG_ASYNC_KERNEL_PGTABLE_FREE=n
CONFIG_ACPI_MRRM=n
CONFIG_ETHERNET=n
CONFIG_RTC_DRV_CMOS=n
CONFIG_ACPI_VIDEO=n
CONFIG_X86_NEED_RELOCS=n
CONFIG_DMA_OPS_HELPERS=n
CONFIG_NET_TULIP=n
CONFIG_HAVE_DYNAMIC_FTRACE=n
CONFIG_HID_PID=n
CONFIG_NET_9P_FD=n
CONFIG_AUTOFS_FS=n
CONFIG_NET_VENDOR_GOOGLE=n
CONFIG_SERIAL_CORE=n
CONFIG_MITIGATION_MMIO_STALE_DATA=n
CONFIG_NET_VENDOR_WIZNET=n
CONFIG_IPV6_SIT=n
CONFIG_SCREEN_INFO=n
CONFIG_DRM_GEM_SHMEM_HELPER=n
CONFIG_BLK_DEV_IO_TRACE=n
CONFIG_DEBUG_STACK_USAGE=n
CONFIG_NET_9P=n
CONFIG_MODULES_USE_ELF_RELA=n
CONFIG_X86_16BIT=n
CONFIG_IOMMU_IOPF=n
CONFIG_USB_EHCI_HCD=n
CONFIG_SPARSEMEM_VMEMMAP_ENABLE=n
CONFIG_TCP_CONG_CUBIC=n
CONFIG_USB_HID=n
CONFIG_RANDOMIZE_KSTACK_OFFSET=n
CONFIG_BLK_DEV_SR=n
CONFIG_SATA_HOST=n
CONFIG_ARCH_MAY_HAVE_PC_FDC=n
CONFIG_DUMMY_CONSOLE=n
CONFIG_CPU_SUP_INTEL=n
CONFIG_IP_PIMSM_V1=n
CONFIG_X86_IOPL_IOPERM=n
CONFIG_CC_HAS_MIN_FUNCTION_ALIGNMENT=n
CONFIG_STRICT_MODULE_RWX=n
CONFIG_GENERIC_CMOS_UPDATE=n
CONFIG_SND_SEQ_DUMMY=n
CONFIG_HAVE_ARCH_THREAD_STRUCT_WHITELIST=n
CONFIG_NF_CONNTRACK_SECMARK=n
CONFIG_NET_PTP_CLASSIFY=n
CONFIG_VIRTIO_PCI_LIB_LEGACY=n
CONFIG_POWER_SUPPLY_HWMON=n
CONFIG_ACPI_PROCESSOR=n
CONFIG_X86_THERMAL_VECTOR=n
CONFIG_X86_DISABLED_FEATURE_SGX=n
CONFIG_X86_REQUIRED_FEATURE_ALWAYS=n
CONFIG_ASYMMETRIC_KEY_TYPE=n
CONFIG_EFI_STUB=n
CONFIG_PER_VMA_LOCK=n
CONFIG_MPILIB=n
CONFIG_LDISC_AUTOLOAD=n
CONFIG_ARCH_WANT_OLD_COMPAT_IPC=n
CONFIG_ZSTD_COMMON=n
CONFIG_ARCH_WANT_HUGE_PMD_SHARE=n
CONFIG_HAVE_STACKPROTECTOR=n
CONFIG_X86_REQUIRED_FEATURE_MSR=n
CONFIG_DEBUG_FS_ALLOW_ALL=n
CONFIG_FAT_FS=n
CONFIG_PROVIDE_OHCI1394_DMA_INIT=n
CONFIG_ARCH_HAS_ACPI_TABLE_UPGRADE=n
CONFIG_CDROM=n
CONFIG_DMA_SHARED_BUFFER=n
CONFIG_PCMCIA=n
CONFIG_ARCH_PROC_KCORE_TEXT=n
CONFIG_CC_HAS_ASM_INLINE=n
CONFIG_BUG=n
CONFIG_INTERVAL_TREE=n
CONFIG_MMU_GATHER_MERGE_VMAS=n
CONFIG_ACPI_AC=n
CONFIG_X86_DISABLED_FEATURE_CENTAUR_MCR=n
CONFIG_HAVE_PERF_USER_STACK_DUMP=n
CONFIG_GENERIC_SMP_IDLE_THREAD=n
CONFIG_HAVE_BUILDTIME_MCOUNT_SORT=n
CONFIG_ARCH_VMLINUX_NEEDS_RELOCS=n
CONFIG_XZ_DEC_POWERPC=n
CONFIG_CHR_DEV_SG=n
CONFIG_HAVE_KERNEL_GZIP=n
CONFIG_IOSF_MBI=n
CONFIG_NVMEM_SYSFS=n
CONFIG_NETFILTER_NETLINK=n
CONFIG_MITIGATION_SPECTRE_BHI=n
CONFIG_ARCH_MIGHT_HAVE_PC_SERIO=n
CONFIG_ASYMMETRIC_PUBLIC_KEY_SUBTYPE=n
CONFIG_IP_MROUTE=n
CONFIG_SSB_POSSIBLE=n
CONFIG_BLK_CGROUP_IOLATENCY=n
CONFIG_VT_CONSOLE=n
CONFIG_NF_CONNTRACK_SIP=n
CONFIG_INTEL_MEI_ME=n
CONFIG_SYN_COOKIES=n
CONFIG_SCSI_CONSTANTS=n
CONFIG_ARCH_HAS_UBSAN=n
CONFIG_PM=n
CONFIG_PCI_MSI=n
CONFIG_ARCH_HAS_GIGANTIC_PAGE=n
CONFIG_HAVE_NOINSTR_VALIDATION=n
CONFIG_BLK_DEV=n
CONFIG_VIRTIO_CONSOLE=n
CONFIG_KVFREE_RCU_BATCHED=n
CONFIG_CRASH_HOTPLUG=n
CONFIG_PNP=n
CONFIG_SERIAL_NONSTANDARD=n
CONFIG_INET6_ESP=n
CONFIG_NET_INGRESS=n
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO_BARE=n
CONFIG_PCI_LABEL=n
