CONFIG_HID_TOPRE=y
CONFIG_QCOM_WCNSS_CTRL=y
CONFIG_REGULATOR_MAX77802=y
CONFIG_GENERIC_CLOCKEVENTS=y
CONFIG_ARCH_OPTIONAL_KERNEL_RWX=y
CONFIG_PINCTRL_SH_PFC_GPIO=y
CONFIG_CC_HAS_WORKING_NOSANITIZE_ADDRESS=y
CONFIG_EFI_DISABLE_RUNTIME=y
CONFIG_RCU_SCALE_TEST=y
CONFIG_CLK_BCM_CYGNUS=y
CONFIG_PHY_MVEBU_A3700_UTMI=y
CONFIG_USB_CONFIGFS=y
CONFIG_SOC_SAMSUNG=y
CONFIG_HW_RANDOM_BCM2835=y
CONFIG_MFD_CS47L85=y
CONFIG_CC_HAS_MULTIDIMENSIONAL_NONSTRING=y
CONFIG_TOUCHSCREEN_ATMEL_MXT=y
CONFIG_RPMSG_QCOM_SMD=y
CONFIG_IO_URING_BPF=y
CONFIG_SPI_STM32=y
CONFIG_CLK_SUNXI_PRCM_SUN6I=y
CONFIG_HID_PICOLCD_CIR=y
CONFIG_ISL76682=y
CONFIG_COMMON_CLK_MT6797_VENCSYS=y
CONFIG_RESET_TI_TPS380X=y
CONFIG_LTC2496=y
CONFIG_BINARY_PRINTF=y
CONFIG_HID_SENSOR_IIO_COMMON=y
CONFIG_CLPS711X_TIMER=y
CONFIG_HW_RANDOM_PIC32=y
CONFIG_CCS811=y
CONFIG_HID_LENOVO_GO_S=y
CONFIG_NLS_CODEPAGE_869=y
CONFIG_ARM_STI_CPUFREQ=y
CONFIG_SEN0322=y
CONFIG_QCOM_SCM=y
CONFIG_STM_PROTO_BASIC=y
CONFIG_USB_HUB_USB251XB=y
CONFIG_PINCTRL_CANNONLAKE=y
CONFIG_REGULATOR_FP9931=y
CONFIG_IP5XXX_POWER=y
CONFIG_ARCH_SUPPORTS_LTO_CLANG_THIN=y
CONFIG_RENESAS_RZV2HWDT=y
CONFIG_PHY_PXA_28NM_HSIC=y
CONFIG_CRYPTO_XTS=y
CONFIG_ERRATA_THEAD_MAE=y
CONFIG_US5182D=y
CONFIG_ASPEED_LPC_CTRL=y
CONFIG_PPS_CLIENT_KTIMER=y
CONFIG_COMMON_CLK_HI3516CV300=y
CONFIG_REGULATOR_PV88060=y
CONFIG_SPI_AMLOGIC_SPIFC_A1=y
CONFIG_NET_NS_REFCNT_TRACKER=y
CONFIG_MFD_TI_LP87565=y
CONFIG_QCOM_RPMH=y
CONFIG_ARCH_THEAD=y
CONFIG_SPI_TEGRA20_SLINK=y
CONFIG_PHY_EXYNOS_MIPI_VIDEO=y
CONFIG_PINCTRL_NSP_MUX=y
CONFIG_PHY_SOPHGO_CV1800_USB2=y
CONFIG_SPI_MT7621=y
CONFIG_SPRD_UMS512_CLK=y
CONFIG_STM32_ADC=y
CONFIG_QCOM_PDR_MSG=y
CONFIG_USB_COMMON=y
CONFIG_PARPORT_1284=y
CONFIG_REGULATOR_WM8350=y
CONFIG_PINCTRL_DA850_PUPD=y
CONFIG_IIO_BUFFER_HW_CONSUMER=y
CONFIG_I2C_TINY_USB=y
CONFIG_KVFREE_RCU_BATCHED=y
CONFIG_TH1520_PM_DOMAINS=y
CONFIG_PINCTRL_PFC_SH7264=y
CONFIG_CC_HAS_COUNTED_BY_PTR=y
CONFIG_SIMPLE_RING_BUFFER=y
CONFIG_INPUT_TWL4030_VIBRA=y
CONFIG_CLK_SH73A0=y
CONFIG_DAMON_PADDR=y
CONFIG_I2C_OMAP=y
CONFIG_SPRD_WATCHDOG=y
CONFIG_EDAC_AL_MC=y
CONFIG_SM_GCC_7150=y
CONFIG_GPIO_SAMA5D2_PIOBU=y
CONFIG_HWSPINLOCK=y
CONFIG_MAX6959=y
CONFIG_REGULATOR_MAX8893=y
CONFIG_IR_STREAMZAP=y
CONFIG_BMI160_I2C=y
CONFIG_W1_SLAVE_DS2781=y
CONFIG_REGULATOR_BD9571MWV=y
CONFIG_NLS_UTF8=y
CONFIG_CRYPTO_DH=y
CONFIG_BATTERY_AXP20X=y
CONFIG_AD5446_SPI=y
CONFIG_HAVE_ARCH_THREAD_STRUCT_WHITELIST=y
CONFIG_MFD_RSMU_I2C=y
CONFIG_TRACEPOINT_BENCHMARK=y
CONFIG_CC_HAS_AUTO_VAR_INIT_PATTERN=y
CONFIG_SMPRO_ERRMON=y
CONFIG_CRYPTO_KRB5=y
CONFIG_AS73211=y
CONFIG_TOUCHSCREEN_TOUCHRIGHT=y
CONFIG_DEBUG_WQ_FORCE_RR_CPU=y
CONFIG_SPI_SUN4I=y
CONFIG_USB_XHCI_HISTB=y
CONFIG_RISCV_SBI_V01=y
CONFIG_AD5110=y
CONFIG_AD7292=y
CONFIG_USB_CDNS_SUPPORT=y
CONFIG_UCS2_STRING=y
CONFIG_BT_BCM=y
CONFIG_PINCTRL_SDM660=y
CONFIG_PINCTRL_MT6765=y
CONFIG_CRYPTO_ECHAINIV=y
CONFIG_DS1803=y
CONFIG_INPUT_PM8XXX_VIBRATOR=y
CONFIG_GENERIC_IRQ_DEBUGFS=y
CONFIG_RESET_IMX8MP_AUDIOMIX=y
CONFIG_REALTEK_OTTO_WDT=y
CONFIG_TOUCHSCREEN_TSC200X_CORE=y
CONFIG_BMA400=y
CONFIG_I2C_MV64XXX=y
CONFIG_LD_DEAD_CODE_DATA_ELIMINATION=y
CONFIG_PINCTRL_PFC_R8A77995=y
CONFIG_MFD_RC5T583=y
CONFIG_SSB_SDIOHOST_POSSIBLE=y
CONFIG_RPR0521=y
CONFIG_POWER_SEQUENCING_TH1520_GPU=y
CONFIG_ERRATA_SIFIVE_CIP_453=y
CONFIG_CHARLCD=y
CONFIG_RISCV_ALTERNATIVE=y
CONFIG_PINCTRL_SM8150=y
CONFIG_SI7020=y
CONFIG_PHYS_ADDR_T_64BIT=y
CONFIG_SM_GCC_8350=y
CONFIG_MCP3564=y
CONFIG_TIMER_IMX_SYS_CTR=y
CONFIG_CRYPTO_LIB_SHA512=y
CONFIG_ENERGY_MODEL=y
CONFIG_RN5T618_POWER=y
CONFIG_TOUCHSCREEN_SILEAD=y
CONFIG_BH1780=y
CONFIG_ARM_TEGRA124_CPUFREQ=y
CONFIG_PINCTRL_MT8173=y
CONFIG_IMX_MBOX=y
CONFIG_USB_ISP1761_UDC=y
CONFIG_SYSC_R8A77995=y
CONFIG_BMC150_ACCEL=y
CONFIG_PINCTRL_IPQ5018=y
CONFIG_SM_DISPCC_4450=y
CONFIG_SENSORS_HMC5843_SPI=y
CONFIG_SUN8I_DE2_CCU=y
CONFIG_RISCV_ISA_VENDOR_EXT_ANDES=y
CONFIG_AD5380=y
CONFIG_IOMMU_IOVA=y
CONFIG_BACKLIGHT_KTD2801=y
CONFIG_IEEE802154_SOCKET=y
CONFIG_REGULATOR_PV88080=y
CONFIG_CLK_RENESAS_VBATTB=y
CONFIG_STM32_DFSDM_CORE=y
CONFIG_IMX2_WDT=y
CONFIG_SX9500=y
CONFIG_RISCV_EMULATED_UNALIGNED_ACCESS=y
CONFIG_TI_DAC082S085=y
CONFIG_AL3000A=y
CONFIG_CEC_SAMSUNG_S5P=y
CONFIG_TRACING=y
CONFIG_LEDS_ST1202=y
CONFIG_SHRINKER_DEBUG=y
CONFIG_CONTEXT_TRACKING_IDLE=y
CONFIG_INTERCONNECT=y
CONFIG_FIRMWARE_MEMMAP=y
CONFIG_RISCV_ISA_ZBA=y
CONFIG_842_COMPRESS=y
CONFIG_TEGRA_AHB=y
CONFIG_ARCH_HAS_SET_DIRECT_MAP=y
CONFIG_NETWORK_PHY_TIMESTAMPING=y
CONFIG_HID_ACRUX=y
CONFIG_GPIO_ASPEED=y
CONFIG_SM_GCC_8450=y
CONFIG_ARCH_SUPPORTS_ATOMIC_RMW=y
CONFIG_CRYPTO_ADIANTUM=y
CONFIG_PHY_INTEL_KEEMBAY_USB=y
CONFIG_PINCTRL_PFC_R8A7740=y
CONFIG_AXP20X_ADC=y
CONFIG_LINEDISP=y
CONFIG_REGULATOR_S2MPA01=y
CONFIG_TOUCHSCREEN_WACOM_W8001=y
CONFIG_CRYPTO_KPP2=y
CONFIG_NFC_SIM=y
CONFIG_PINCTRL_SM6125=y
CONFIG_TEST_HEXDUMP=y
CONFIG_COMMON_CLK_STM32MP=y
CONFIG_AST2700_MBOX=y
CONFIG_TOUCHSCREEN_USB_E2I=y
CONFIG_LOGIRUMBLEPAD2_FF=y
CONFIG_SC1200_WDT=y
CONFIG_BCMA_POSSIBLE=y
CONFIG_REGULATOR_TI_ABB=y
CONFIG_QCOM_CLK_SMD_RPM=y
CONFIG_OMAP_WATCHDOG=y
CONFIG_SDX_GCC_55=y
CONFIG_I2C_MUX=y
CONFIG_PINCTRL_IPQ5210=y
CONFIG_MAX77620_THERMAL=y
CONFIG_CHARGER_QCOM_SMB2=y
CONFIG_LEDS_BCM63138=y
CONFIG_RUSTC_HAS_UNNECESSARY_TRANSMUTES=y
CONFIG_PREEMPT_BUILD=y
CONFIG_MFD_RN5T618=y
CONFIG_DPLL=y
CONFIG_PINCTRL_MAX7360=y
CONFIG_CLK_IMX8MM=y
CONFIG_BINFMT_SCRIPT=y
CONFIG_STM32_DAC_CORE=y
CONFIG_USB_DWC3_MESON_G12A=y
CONFIG_BOSCH_BNO055_I2C=y
CONFIG_HAVE_ARCH_HUGE_VMAP=y
CONFIG_USB_CONN_GPIO=y
CONFIG_SPI_FSL_SPI=y
CONFIG_ORANGEFS_FS=y
CONFIG_SYSC_RCAR=y
CONFIG_REGULATOR_MAX8660=y
CONFIG_SG_SPLIT=y
CONFIG_PINCTRL_STM32F746=y
CONFIG_PHY_EIC7700_SATA=y
CONFIG_HID_PETALYNX=y
CONFIG_WATCHDOG_CORE=y
CONFIG_ASPEED_P2A_CTRL=y
CONFIG_LV0104CS=y
CONFIG_SECONDARY_TRUSTED_KEYRING=y
CONFIG_SA_CAMCC_8775P=y
CONFIG_SYSC_R8A779A0=y
CONFIG_HID_PICOLCD=y
CONFIG_XILINX_VCU=y
CONFIG_JOYSTICK_FSIA6B=y
CONFIG_CLK_ELIZA_TCSRCC=y
CONFIG_BACKLIGHT_ADP5520=y
CONFIG_REGMAP_I2C=y
CONFIG_W1_SLAVE_THERM=y
CONFIG_IMX_SCMI_BBM_EXT=y
CONFIG_BCM2835_TIMER=y
CONFIG_TRACEPOINTS=y
CONFIG_DUMMY_IRQ=y
CONFIG_DMA_MAP_BENCHMARK=y
CONFIG_TOUCHSCREEN_MC13783=y
CONFIG_PAHOLE_HAS_LANG_EXCLUDE=y
CONFIG_OVERLAY_FS_REDIRECT_DIR=y
CONFIG_HAVE_ARCH_JUMP_LABEL=y
CONFIG_COMMON_CLK_SI544=y
CONFIG_ARCH_SUNXI=y
CONFIG_CLK_R8A7795=y
CONFIG_MFD_TI_AM335X_TSCADC=y
CONFIG_DEBUG_RWSEMS=y
CONFIG_CRYPTO_SHA512=y
CONFIG_USB_CHAOSKEY=y
CONFIG_TYPEC_TPS6598X=y
CONFIG_CRC32=y
CONFIG_USB_CONFIGFS_F_PRINTER=y
CONFIG_REGULATOR_RT6160=y
CONFIG_KXSD9_I2C=y
CONFIG_GOOGLE_CBMEM=y
CONFIG_HID_MALTRON=y
CONFIG_REGULATOR_PCA9450=y
CONFIG_INPUT_CMA3000=y
CONFIG_CLK_RCAR_CPG_LIB=y
CONFIG_I2C_NCT6694=y
CONFIG_ATLAS_PH_SENSOR=y
CONFIG_BCM7038_L1_IRQ=y
CONFIG_PHY_APPLE_ATC=y
CONFIG_INPUT_KXTJ9=y
CONFIG_COMMON_CLK_EN7523=y
CONFIG_UNIPHIER_WATCHDOG=y
CONFIG_COMMON_CLK_MT8186_IMP_IIC_WRAP=y
CONFIG_HAVE_ARCH_AUDITSYSCALL=y
CONFIG_CLKSRC_PXA=y
CONFIG_MFD_WM8994=y
CONFIG_CRYPTO_PCBC=y
CONFIG_LEGACY_PTYS=y
CONFIG_C2PORT=y
CONFIG_COMMON_CLK_VC5=y
CONFIG_HIDRAW=y
CONFIG_COMMON_CLK_MT6779_MFGCFG=y
CONFIG_SPI_SPRD=y
CONFIG_OMAP_USB2=y
CONFIG_IPQ_APSS_PLL=y
CONFIG_SYSFB_SIMPLEFB=y
CONFIG_GAMEPORT=y
CONFIG_SYSFB=y
CONFIG_MCP4018=y
CONFIG_PINCTRL_QCOM_SSBI_PMIC=y
CONFIG_CLK_IMX8MQ=y
CONFIG_PHY_QCOM_QMP_COMBO=y
CONFIG_USBPCWATCHDOG=y
CONFIG_TEST_FIRMWARE=y
CONFIG_USERFAULTFD=y
CONFIG_MMC_HSQ=y
CONFIG_TI_TMAG5273=y
CONFIG_COMMON_CLK_AST2700=y
CONFIG_SOCK_CGROUP_DATA=y
CONFIG_SDM_DISPCC_845=y
CONFIG_USB_DWC3=y
CONFIG_AD7091R5=y
CONFIG_CLK_SUNXI=y
CONFIG_SPI_DESIGNWARE=y
CONFIG_STACKDEPOT_ALWAYS_INIT=y
CONFIG_RV=y
CONFIG_EXTCON_ADC_JACK=y
CONFIG_FSL_MX25_ADC=y
CONFIG_TEST_RHASHTABLE=y
CONFIG_COMMON_CLK_MT8186_WPESYS=y
CONFIG_GPIO_MAX732X=y
CONFIG_MAX63XX_WATCHDOG=y
CONFIG_SPI_MASTER=y
CONFIG_NLS_ISO8859_9=y
CONFIG_QCOM_PDR_HELPERS=y
CONFIG_ARCH_HAS_PTDUMP=y
CONFIG_EFI_RUNTIME_WRAPPERS=y
CONFIG_OVERLAY_FS=y
CONFIG_SCF_TORTURE_TEST=y
CONFIG_MMC_SDHI=y
CONFIG_SUNIV_F1C100S_CCU=y
CONFIG_LIBFDT=y
CONFIG_LTO_NONE=y
CONFIG_REGULATOR_88PG86X=y
CONFIG_LEDS_TRIGGER_ONESHOT=y
CONFIG_TRACER_SNAPSHOT=y
CONFIG_NET_EGRESS=y
CONFIG_SPI_MXIC=y
CONFIG_I2C_PNX=y
CONFIG_USB_USS720=y
CONFIG_INGENIC_ADC=y
CONFIG_PINCTRL_RK805=y
CONFIG_DEBUG_ATOMIC_SLEEP=y
CONFIG_CRC16=y
CONFIG_MMA9551=y
CONFIG_INPUT_BMA150=y
CONFIG_PHY_SUN50I_USB3=y
CONFIG_PINCTRL_SH_PFC=y
CONFIG_DA9062_WATCHDOG=y
CONFIG_I2C_HIX5HD2=y
CONFIG_REALTEK_OTTO_TIMER=y
CONFIG_GPIO_LP873X=y
CONFIG_COMMON_CLK_MAX77686=y
CONFIG_COMMON_CLK_MT8195_SCP_ADSP=y
CONFIG_LPC18XX_ADC=y
CONFIG_SUNPLUS_SP7021_INTC=y
CONFIG_PINCTRL_SUNXI=y
CONFIG_JOYSTICK_TWIDJOY=y
CONFIG_CC_NO_ARRAY_BOUNDS=y
CONFIG_RMI4_I2C=y
CONFIG_GPIO_ALTERA=y
CONFIG_NET_NSH=y
CONFIG_AUXDISPLAY=y
CONFIG_RESET_TI_SYSCON=y
CONFIG_SC_LPASSCC_8280XP=y
CONFIG_HAVE_IRQ_TIME_ACCOUNTING=y
CONFIG_AD7791=y
CONFIG_MFD_MAX14577=y
CONFIG_MMA7455=y
CONFIG_JOYSTICK_JOYDUMP=y
CONFIG_ARCH_HAS_UBSAN=y
CONFIG_ARM_SUN8I_A33_MBUS_DEVFREQ=y
CONFIG_TOUCHSCREEN_NOVATEK_NVT_TS=y
CONFIG_LEDS_SPI_BYTE=y
CONFIG_USB_DWC3_ULPI=y
CONFIG_USB_RENESAS_USBHS=y
CONFIG_SM_LPASSCC_6115=y
CONFIG_VFIO_PLATFORM_CALXEDAXGMAC_RESET=y
CONFIG_REGULATOR_RT8092=y
CONFIG_QCOM_APR=y
CONFIG_PINCTRL_BCM63268=y
CONFIG_RCU_NEED_SEGCBLIST=y
CONFIG_IIO_ST_LSM6DSX_I2C=y
CONFIG_FPGA_M10_BMC_SEC_UPDATE=y
CONFIG_TOUCHSCREEN_TSC_SERIO=y
CONFIG_IIO_KX022A_I2C=y
CONFIG_GPIO_RCAR=y
CONFIG_COMMON_CLK_MT8188_IPESYS=y
CONFIG_RANDSTRUCT_PERFORMANCE=y
CONFIG_SUN55I_A523_R_CCU=y
CONFIG_SPI_ALTERA=y
CONFIG_USB_LEDS_TRIGGER_USBPORT=y
CONFIG_SERIAL_EARLYCON=y
CONFIG_COMMON_CLK_MT8365_MFG=y
CONFIG_FW_LOADER=y
CONFIG_KSTACK_ERASE=y
CONFIG_NLS_CODEPAGE_863=y
CONFIG_NFC=y
CONFIG_SPI_MTK_NOR=y
CONFIG_TOUCHSCREEN_CY8CTMA140=y
CONFIG_USB_MTU3=y
CONFIG_NXP_PIT_TIMER=y
CONFIG_JOYSTICK_IFORCE_232=y
CONFIG_PINCTRL_SDM845=y
CONFIG_RESET_RZG2L_USBPHY_CTRL=y
CONFIG_IBMASR=y
CONFIG_AD7746=y
CONFIG_INGENIC_TCU_CLK=y
CONFIG_I2C_ALGOPCA=y
CONFIG_FXOS8700=y
CONFIG_MESON_SARADC=y
CONFIG_FSI_OCC=y
CONFIG_ARCH_SUPPORTS_INT128=y
CONFIG_CC_HAS_ASM_INLINE=y
CONFIG_LEDS_OT200=y
CONFIG_MXC_CLK=y
CONFIG_DEVFREQ_GOV_SIMPLE_ONDEMAND=y
CONFIG_BERLIN2_ADC=y
CONFIG_SA_DISPCC_8775P=y
CONFIG_WM8350_POWER=y
CONFIG_HI8435=y
CONFIG_PINCTRL_IMX50=y
CONFIG_DYNAMIC_EVENTS=y
CONFIG_FONT_AUTOSELECT=y
CONFIG_SENSORS_HMC5843=y
CONFIG_ADXL313=y
CONFIG_INTEL_TH_GTH=y
CONFIG_TPS6594_ESM=y
CONFIG_GPIO_MPC8XXX=y
CONFIG_MAX5522=y
CONFIG_IPMI_PANIC_STRING=y
CONFIG_COMMON_CLK_MT8195_APUSYS=y
CONFIG_CLK_SUNXI_PRCM_SUN9I=y
CONFIG_HAVE_ARCH_MMAP_RND_COMPAT_BITS=y
CONFIG_SC27XX_ADC=y
CONFIG_RD_ZSTD=y
CONFIG_LEDS_AN30259A=y
CONFIG_APQ_GCC_8084=y
CONFIG_SERIO_AMBAKMI=y
CONFIG_RESET_CONTROLLER=y
CONFIG_CLK_R8A7742=y
CONFIG_PACKING=y
CONFIG_SENSORS_LIS3_I2C=y
CONFIG_LTC2632=y
CONFIG_I2C_AT91=y
CONFIG_QCOM_SMP2P=y
CONFIG_PINCTRL_SPRD=y
CONFIG_COMMON_CLK_MT8167_AUDSYS=y
CONFIG_NO_HZ_COMMON=y
CONFIG_TEST_OBJAGG=y
CONFIG_GPIO_POLARFIRE_SOC=y
CONFIG_JOYSTICK_ANALOG=y
CONFIG_REGMAP_IRQ=y
CONFIG_PINCTRL_IMX53=y
CONFIG_PINCTRL_SM8550=y
CONFIG_INGENIC_CGU_JZ4725B=y
CONFIG_BCM2835_VCHIQ=y
CONFIG_MSC313E_WATCHDOG=y
CONFIG_MFD_LOCHNAGAR=y
CONFIG_IPMI_HANDLER=y
CONFIG_TEST_VMALLOC=y
CONFIG_KHADAS_MCU_FAN_THERMAL=y
CONFIG_MMA9551_CORE=y
CONFIG_COMMON_CLK_MT6779_MMSYS=y
CONFIG_MFD_KEMPLD=y
CONFIG_LRU_GEN=y
CONFIG_FPGA_MGR_LATTICE_SYSCONFIG_SPI=y
CONFIG_LOCK_DEBUGGING_SUPPORT=y
CONFIG_PINCTRL_IPQ6018=y
CONFIG_HID_KYSONA=y
CONFIG_ATMEL_SSC=y
CONFIG_CONNECTOR=y
CONFIG_PINCTRL_TPS6594=y
CONFIG_MFD_TWL4030_AUDIO=y
CONFIG_PINCTRL_HAWI=y
CONFIG_QCS_GPUCC_615=y
CONFIG_ACCESSIBILITY=y
CONFIG_SPI_LANTIQ_SSC=y
CONFIG_I2C_MXS=y
CONFIG_XILINX_WINDOW_WATCHDOG=y
CONFIG_MFD_STM32_TIMERS=y
CONFIG_SM_VIDEOCC_8150=y
CONFIG_IIO_INTERRUPT_TRIGGER=y
CONFIG_LEDS_LM3601X=y
CONFIG_INV_ICM42600=y
CONFIG_REGULATOR_LTC3676=y
CONFIG_FSNOTIFY=y
CONFIG_ADXRS450=y
CONFIG_PINCTRL_IPQ5424=y
CONFIG_DEVFREQ_GOV_USERSPACE=y
CONFIG_GPIO_PMIC_EIC_SPRD=y
CONFIG_USB_ANNOUNCE_NEW_DEVICES=y
CONFIG_QCS_DISPCC_615=y
CONFIG_FXAS21002C=y
CONFIG_WM8350_WATCHDOG=y
CONFIG_PINCTRL_NSP_GPIO=y
CONFIG_TOUCHSCREEN_USB_ITM=y
CONFIG_ARCH_SUPPORTS_RT=y
CONFIG_NLS_ISO8859_13=y
CONFIG_ARM_MEDIATEK_CPUFREQ=y
CONFIG_SDM_MMCC_660=y
CONFIG_ADXL367=y
CONFIG_MFD_SC27XX_PMIC=y
CONFIG_TOUCHSCREEN_GOODIX_BERLIN_I2C=y
CONFIG_GENERIC_IRQ_SHOW=y
CONFIG_CRYPTO_DRBG_MENU=y
CONFIG_LEDS_LP5562=y
CONFIG_TOUCHSCREEN_PIXCIR=y
CONFIG_SERIO_PS2MULT=y
