CONFIG_CGROUP_PERF=n
CONFIG_EFI_STUB=n
CONFIG_VMSPLIT_3G=n
CONFIG_SND_SEQ_HRTIMER_DEFAULT=n
CONFIG_SND_HRTIMER=n
CONFIG_NLS_ISO8859_1=n
CONFIG_FIB_RULES=n
CONFIG_HAVE_PCI=n
CONFIG_ARCH_SUPPORTS_SCHED_CLUSTER=n
CONFIG_SND_JACK_INPUT_DEV=n
CONFIG_STRICT_KERNEL_RWX=n
CONFIG_X86_PM_TIMER=n
CONFIG_PREEMPTION=n
CONFIG_ARCH_HAS_PREEMPT_LAZY=n
CONFIG_NLS=n
CONFIG_X86_ACPI_CPUFREQ_CPB=n
CONFIG_HAVE_KERNEL_XZ=n
CONFIG_PCPU_DEV_REFCNT=n
CONFIG_RUSTC_HAS_UNNECESSARY_TRANSMUTES=n
CONFIG_HAVE_KERNEL_BZIP2=n
CONFIG_GENERIC_CLOCKEVENTS_MIN_ADJUST=n
CONFIG_ARCH_HAS_SET_DIRECT_MAP=n
CONFIG_HAVE_ARCH_SECCOMP=n
CONFIG_EFI_CUSTOM_SSDT_OVERLAYS=n
CONFIG_VIRTIO_DMA_SHARED_BUFFER=n
CONFIG_NET_VENDOR_PENSANDO=n
CONFIG_HAVE_KERNEL_GZIP=n
CONFIG_RETHOOK=n
CONFIG_NET_VENDOR_SAMSUNG=n
CONFIG_USB_ANNOUNCE_NEW_DEVICES=n
CONFIG_PCMCIA_LOAD_CIS=n
CONFIG_CPU_SUP_AMD=n
CONFIG_SND_JACK=n
CONFIG_ACPI_HOTPLUG_IOAPIC=n
CONFIG_PCIE_PME=n
CONFIG_X86_REQUIRED_FEATURE_FPU=n
CONFIG_EXT4_FS=n
CONFIG_MII=n
CONFIG_MODULES_TREE_LOOKUP=n
CONFIG_INIT_STACK_ALL_ZERO=n
CONFIG_ZISOFS=n
CONFIG_ARCH_HAS_CACHE_LINE_SIZE=n
CONFIG_VIRTIO_INPUT=n
CONFIG_SND_HDA=n
CONFIG_PM_SLEEP_DEBUG=n
CONFIG_WLAN_VENDOR_ZYDAS=n
CONFIG_XZ_DEC_X86=n
CONFIG_X86_EXTENDED_PLATFORM=n
CONFIG_ACPI_SLEEP=n
CONFIG_ACPI_PROCESSOR=n
CONFIG_HAVE_BUILDTIME_MCOUNT_SORT=n
CONFIG_CC_HAS_ASM_INLINE=n
CONFIG_HAVE_FTRACE_GRAPH_FUNC=n
CONFIG_CC_HAS_MIN_FUNCTION_ALIGNMENT=n
CONFIG_HAVE_IRQ_TIME_ACCOUNTING=n
CONFIG_SCHED_SMT=n
CONFIG_RTC_NVMEM=n
CONFIG_CGROUP_CPUACCT=n
CONFIG_NET_VENDOR_DAVICOM=n
CONFIG_X86_DEBUGCTLMSR=n
CONFIG_SERIAL_8250_MID=n
CONFIG_BRANCH_PROFILE_NONE=n
CONFIG_NF_LOG_IPV6=n
CONFIG_RCU_NEED_SEGCBLIST=n
CONFIG_CRYPTO_AKCIPHER=n
CONFIG_TRACE_IRQFLAGS_SUPPORT=n
CONFIG_YENTA_TI=n
CONFIG_DRM_I915_COMPRESS_ERROR=n
CONFIG_SYNC_FILE=n
CONFIG_SCSI_MOD=n
CONFIG_NETFILTER_XT_MARK=n
CONFIG_WLAN_VENDOR_RSI=n
CONFIG_IOMMU_API=n
CONFIG_CPU_FREQ_GOV_PERFORMANCE=n
CONFIG_XXHASH=n
CONFIG_NETFS_SUPPORT=n
CONFIG_MULTIUSER=n
CONFIG_RD_LZO=n
CONFIG_MODULES_USE_ELF_REL=n
CONFIG_TIGON3=n
CONFIG_FUTEX=n
CONFIG_ARCH_HAS_DEVMEM_IS_ALLOWED=n
CONFIG_ETHTOOL_NETLINK=n
CONFIG_BSD_PROCESS_ACCT=n
CONFIG_SERIAL_8250=n
CONFIG_SND_HDA_COMPONENT=n
CONFIG_PM_TRACE=n
CONFIG_FSNOTIFY=n
CONFIG_SYSCTL=n
CONFIG_PCI_MSI=n
CONFIG_LEGACY_DIRECT_IO=n
CONFIG_BLK_MQ_STACKING=n
CONFIG_MACINTOSH_DRIVERS=n
CONFIG_NFS_ACL_SUPPORT=n
CONFIG_PCI_LOCKLESS_CONFIG=n
CONFIG_MAC80211_RC_DEFAULT_MINSTREL=n
CONFIG_NET_VENDOR_MYRI=n
CONFIG_I2C_SMBUS=n
CONFIG_DEBUG_KERNEL=n
CONFIG_X86_REQUIRED_FEATURE_CMOV=n
CONFIG_HAVE_FUNCTION_GRAPH_TRACER=n
CONFIG_HIBERNATION_COMP_LZO=n
CONFIG_LEDS_CLASS=n
CONFIG_WLAN_VENDOR_ADMTEK=n
CONFIG_HAVE_DMA_CONTIGUOUS=n
CONFIG_INPUT_LEDS=n
CONFIG_NET_VENDOR_SEEQ=n
CONFIG_BQL=n
CONFIG_DEBUG_INFO_NONE=n
CONFIG_EVENTFD=n
CONFIG_USB_STORAGE=n
CONFIG_SND_SEQ_DEVICE=n
CONFIG_DCACHE_WORD_ACCESS=n
CONFIG_NET_VENDOR_ENGLEDER=n
CONFIG_HAVE_ARCH_TRACEHOOK=n
CONFIG_X86_VMX_FEATURE_NAMES=n
CONFIG_DECOMPRESS_LZ4=n
CONFIG_CONNECTOR=n
CONFIG_LZO_COMPRESS=n
CONFIG_STACKTRACE_SUPPORT=n
CONFIG_DEBUG_MEMORY_INIT=n
CONFIG_NETFILTER_INGRESS=n
CONFIG_SCHED_HRTICK=n
CONFIG_HAVE_FUNCTION_GRAPH_FREGS=n
CONFIG_CC_HAS_NAMED_AS=n
CONFIG_RCU_STALL_COMMON=n
CONFIG_XARRAY_MULTI=n
CONFIG_IOMMU_IOVA=n
CONFIG_CGROUP_HUGETLB=n
CONFIG_MD_BITMAP=n
CONFIG_X86_HV_CALLBACK_VECTOR=n
CONFIG_USB_XHCI_PCI=n
CONFIG_SG_POOL=n
CONFIG_IP_ROUTE_VERBOSE=n
CONFIG_RFS_ACCEL=n
CONFIG_X86_DISABLED_FEATURE_CALL_DEPTH=n
CONFIG_ARCH_HAS_KERNEL_FPU_SUPPORT=n
CONFIG_SYSTEM_DATA_VERIFICATION=n
CONFIG_SYMBOLIC_ERRNAME=n
CONFIG_NET_CORE=n
CONFIG_9P_FS=n
CONFIG_HAVE_SOFTIRQ_ON_OWN_STACK=n
CONFIG_SCSI_VIRTIO=n
CONFIG_INTEGRITY=n
CONFIG_RPCSEC_GSS_KRB5=n
CONFIG_ASYMMETRIC_PUBLIC_KEY_SUBTYPE=n
CONFIG_AS_WRUSS=n
CONFIG_GRACE_PERIOD=n
CONFIG_ARCH_HAS_NON_OVERLAPPING_ADDRESS_SPACE=n
CONFIG_ARCH_SUPPORTS_KEXEC_JUMP=n
CONFIG_NET_VENDOR_TI=n
CONFIG_JBD2=n
CONFIG_DRM_PANEL=n
CONFIG_IO_URING_ZCRX=n
CONFIG_ARCH_SPARSEMEM_ENABLE=n
CONFIG_X86_MCE=n
CONFIG_FW_LOADER=n
CONFIG_RD_XZ=n
CONFIG_IA32_FEAT_CTL=n
CONFIG_IOSF_MBI=n
CONFIG_MEMBARRIER=n
CONFIG_STANDALONE=n
CONFIG_MODULE_FORCE_UNLOAD=n
CONFIG_RUSTC_HAS_SPAN_FILE=n
CONFIG_KEXEC=n
CONFIG_NF_CONNTRACK_FTP=n
CONFIG_CONTEXT_TRACKING=n
CONFIG_PM_SLEEP_SMP=n
CONFIG_SOCK_CGROUP_DATA=n
CONFIG_USB_OHCI_HCD_PCI=n
CONFIG_CC_HAS_RETURN_THUNK=n
CONFIG_MITIGATION_RETBLEED=n
CONFIG_HW_RANDOM_VIA=n
CONFIG_SND_DMA_SGBUF=n
CONFIG_DEBUG_BOOT_PARAMS=n
CONFIG_NF_CT_NETLINK=n
CONFIG_HAVE_MOVE_PMD=n
CONFIG_PNP_DEBUG_MESSAGES=n
CONFIG_TIME_NS=n
CONFIG_CROSS_MEMORY_ATTACH=n
CONFIG_USB_COMMON=n
CONFIG_RD_BZIP2=n
CONFIG_HAVE_ARCH_KFENCE=n
CONFIG_XZ_DEC_SPARC=n
CONFIG_MOUSE_PS2_BYD=n
CONFIG_NET_VENDOR_SILAN=n
CONFIG_PNFS_FILE_LAYOUT=n
CONFIG_RFKILL_INPUT=n
CONFIG_DECOMPRESS_GZIP=n
CONFIG_PM_DEBUG=n
CONFIG_SCSI_COMMON=n
CONFIG_THERMAL_GOV_STEP_WISE=n
CONFIG_HAVE_GENERIC_TIF_BITS=n
CONFIG_ZLIB_INFLATE=n
CONFIG_HAVE_NMI=n
CONFIG_NF_CONNTRACK_IRC=n
CONFIG_SND_TIMER=n
CONFIG_MOUSE_PS2=n
CONFIG_IP_MULTIPLE_TABLES=n
CONFIG_PADATA=n
CONFIG_QUEUED_RWLOCKS=n
CONFIG_NET_VENDOR_HISILICON=n
CONFIG_ARCH_WANTS_DYNAMIC_TASK_STRUCT=n
CONFIG_NET_VENDOR_HUAWEI=n
CONFIG_CPU_FREQ_GOV_USERSPACE=n
CONFIG_ARCH_SUPPORTS_LTO_CLANG=n
CONFIG_INPUT_KEYBOARD=n
CONFIG_ARCH_SUPPORTS_MEMORY_FAILURE=n
CONFIG_ARCH_HIBERNATION_POSSIBLE=n
CONFIG_CRYPTO_HASH_INFO=n
CONFIG_HAVE_ATOMIC_IOMAP=n
CONFIG_ARCH_HAS_STRICT_MODULE_RWX=n
CONFIG_EFI_RUNTIME_MAP=n
CONFIG_NET_9P_FD=n
CONFIG_VFAT_FS=n
CONFIG_DQL=n
CONFIG_NET_VENDOR_MICROCHIP=n
CONFIG_NF_REJECT_IPV4=n
CONFIG_DEVMEM=n
CONFIG_HID=n
CONFIG_GPIOLIB_LEGACY=n
CONFIG_HAVE_DYNAMIC_FTRACE_NO_PATCHABLE=n
CONFIG_HAVE_POSIX_CPU_TIMERS_TASK_WORK=n
CONFIG_PATA_AMD=n
CONFIG_X86_DISABLED_FEATURE_FRED=n
CONFIG_CRYPTO_AES=n
CONFIG_BLK_CGROUP_IOLATENCY=n
CONFIG_NET_VENDOR_WANGXUN=n
CONFIG_SECURITY=n
CONFIG_MAC80211=n
CONFIG_PATA_MPIIX=n
CONFIG_X86_INTEL_TSX_MODE_AUTO=n
CONFIG_CC_HAS_IBT=n
CONFIG_INITRAMFS_PRESERVE_MTIME=n
CONFIG_IO_DELAY_0X80=n
CONFIG_CRYPTO_SEQIV=n
CONFIG_UNWINDER_FRAME_POINTER=n
CONFIG_PCCARD_NONSTATIC=n
CONFIG_UNIX98_PTYS=n
CONFIG_X86_DISABLED_FEATURE_PTI=n
CONFIG_PCI=n
CONFIG_NETFILTER_XT_TARGET_CONNSECMARK=n
CONFIG_SPARSEMEM_STATIC=n
CONFIG_SND_PCMCIA=n
CONFIG_NET_SELFTESTS=n
CONFIG_CRYPTO_SIG=n
CONFIG_IP6_NF_IPTABLES=n
CONFIG_USB_SUPPORT=n
CONFIG_SYSVIPC_SYSCTL=n
CONFIG_CRYPTO_ALGAPI=n
CONFIG_HID_PANTHERLORD=n
CONFIG_ARCH_USE_QUEUED_RWLOCKS=n
CONFIG_SND_INTEL_DSP_CONFIG=n
CONFIG_DEVTMPFS=n
CONFIG_SND_SEQ_DUMMY=n
CONFIG_BINARY_PRINTF=n
CONFIG_ATA_PIIX=n
CONFIG_ACPI_NHLT=n
CONFIG_THERMAL=n
CONFIG_FS_MBCACHE=n
CONFIG_RTC_DRV_CMOS=n
CONFIG_EFI=n
CONFIG_DRM_I915_CAPTURE_ERROR=n
CONFIG_HAVE_PCSPKR_PLATFORM=n
CONFIG_CC_HAS_AUTO_VAR_INIT_PATTERN=n
CONFIG_BINFMT_MISC=n
CONFIG_MD_AUTODETECT=n
CONFIG_HAVE_EISA=n
CONFIG_USB_PCI=n
CONFIG_SBITMAP=n
CONFIG_X86_TSC=n
CONFIG_KVM_GUEST=n
CONFIG_CPU_IDLE_GOV_MENU=n
CONFIG_WLAN_VENDOR_MARVELL=n
CONFIG_XZ_DEC_ARMTHUMB=n
CONFIG_WATCHDOG=n
CONFIG_ARCH_HAS_GCOV_PROFILE_ALL=n
CONFIG_SERIAL_8250_PCILIB=n
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO_BARE=n
CONFIG_ACPI_PROCESSOR_IDLE=n
CONFIG_COREDUMP=n
CONFIG_FUTEX_PI=n
CONFIG_INOTIFY_USER=n
CONFIG_RFKILL=n
CONFIG_VIRTUALIZATION=n
CONFIG_SND_INTEL_SOUNDWIRE_ACPI=n
CONFIG_ACPI_DEBUG=n
CONFIG_MPILIB=n
CONFIG_ACPI_BATTERY=n
CONFIG_ACPI_SYSTEM_POWER_STATES_SUPPORT=n
CONFIG_TRACE_CLOCK=n
CONFIG_HRTIMER_REARM_DEFERRED=n
CONFIG_SCHED_MC_PRIO=n
CONFIG_FONT_AUTOSELECT=n
CONFIG_PTP_1588_CLOCK=n
CONFIG_CGROUP_MISC=n
CONFIG_CRYPTO_LIB_UTILS=n
CONFIG_CPUFREQ_ARCH_CUR_FREQ=n
CONFIG_AGP_INTEL=n
CONFIG_FUNCTION_ALIGNMENT_4B=n
