CONFIG_POLARFIRE_SOC_SYSCONS=n
CONFIG_HAVE_SAMPLE_FTRACE_DIRECT=n
CONFIG_ARCH_DMA_ADDR_T_64BIT=n
CONFIG_OF_KOBJ=n
CONFIG_DRM_SCHED=n
CONFIG_SATA_HOST=n
CONFIG_DECOMPRESS_BZIP2=n
CONFIG_ARCH_RV64I=n
CONFIG_NF_LOG_IPV6=n
CONFIG_USB_EHCI_HCD_PLATFORM=n
CONFIG_ARCH_SUPPORTS_PAGE_TABLE_CHECK=n
CONFIG_INTEGRITY=n
CONFIG_ARCH_HAS_CURRENT_STACK_POINTER=n
CONFIG_ACPI_I2C_OPREGION=n
CONFIG_POSIX_MQUEUE_SYSCTL=n
CONFIG_HAVE_ARCH_AUDITSYSCALL=n
CONFIG_WLAN_VENDOR_BROADCOM=n
CONFIG_CPU_MITIGATIONS=n
CONFIG_DWMAC_SUN8I=n
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE=n
CONFIG_NET_VENDOR_WANGXUN=n
CONFIG_NF_LOG_IPV4=n
CONFIG_DRM_SUN8I_DW_HDMI=n
CONFIG_PER_VMA_LOCK=n
CONFIG_NET_CLS_CGROUP=n
CONFIG_INIT_STACK_ALL_ZERO=n
CONFIG_SECURITY_NETWORK=n
CONFIG_PADATA=n
CONFIG_ARCH_USE_MEMREMAP_PROT=n
CONFIG_XFRM_ESP=n
CONFIG_HAVE_VIRT_CPU_ACCOUNTING_GEN=n
CONFIG_GROUP_SCHED_BANDWIDTH=n
CONFIG_9P_FS=n
CONFIG_USB_CONFIGFS=n
CONFIG_USB_SUPPORT=n
CONFIG_NLS=n
CONFIG_NET_SELFTESTS=n
CONFIG_GENERIC_TIME_VSYSCALL=n
CONFIG_BACKLIGHT_CLASS_DEVICE=n
CONFIG_QUEUED_SPINLOCKS=n
CONFIG_DRM_MIPI_DSI=n
CONFIG_USB_CONFIGFS_NCM=n
CONFIG_MACVLAN=n
CONFIG_PREEMPT_BUILD=n
CONFIG_I2C_HELPER_AUTO=n
CONFIG_DST_CACHE=n
CONFIG_BINFMT_SCRIPT=n
CONFIG_NLS_CODEPAGE_437=n
CONFIG_UNIX98_PTYS=n
CONFIG_SERIAL_OF_PLATFORM=n
CONFIG_ERRATA_SIFIVE_CIP_1200=n
CONFIG_GENERIC_CLOCKEVENTS=n
CONFIG_CONFIGFS_FS=n
CONFIG_V4L2_FWNODE=n
CONFIG_PCI_DOMAINS=n
CONFIG_SG_POOL=n
CONFIG_PHYLINK=n
CONFIG_NEED_TASKS_RCU=n
CONFIG_MFD_SPACEMIT_P1=n
CONFIG_PNFS_BLOCK=n
CONFIG_MEDIA_SUPPORT_FILTER=n
CONFIG_FS_STACK=n
CONFIG_WATCHDOG_CORE=n
CONFIG_SPACEMIT_CCU=n
CONFIG_PM_SLEEP=n
CONFIG_CROSS_MEMORY_ATTACH=n
CONFIG_CRYPTO_ECB=n
CONFIG_USB_CONFIGFS_F_FS=n
CONFIG_ARCH_DMA_DEFAULT_COHERENT=n
CONFIG_LZO_COMPRESS=n
CONFIG_HAVE_PREEMPT_DYNAMIC=n
CONFIG_CRC32=n
CONFIG_GCC_SUPPORTS_DYNAMIC_FTRACE=n
CONFIG_ARCH_HAS_PREEMPT_LAZY=n
CONFIG_IOMMU_PT_RISCV64=n
CONFIG_MTD_BLKDEVS=n
CONFIG_COMPAT_BINFMT_ELF=n
CONFIG_MFD_AXP20X_I2C=n
CONFIG_DMA_SHARED_BUFFER=n
CONFIG_BLOCK_HOLDER_DEPRECATED=n
CONFIG_USB_F_MASS_STORAGE=n
CONFIG_VIRTIO_BLK=n
CONFIG_NAMESPACES=n
CONFIG_ERRATA_SIFIVE_CIP_453=n
CONFIG_SPACEMIT_K3_CCU=n
CONFIG_ZLIB_DEFLATE=n
CONFIG_HAVE_ARCH_MMAP_RND_BITS=n
CONFIG_SENSORS_SFCTEMP=n
CONFIG_JH71XX_PMU=n
CONFIG_USB_OHCI_HCD=n
CONFIG_RPMSG_CHAR=n
CONFIG_MOTORCOMM_PHY=n
CONFIG_DRM_NOUVEAU_CH7006=n
CONFIG_NET_VENDOR_3COM=n
CONFIG_GENERIC_PHY=n
CONFIG_POWER_SUPPLY_HWMON=n
CONFIG_SIFIVE_CCACHE=n
CONFIG_FAIR_GROUP_SCHED=n
CONFIG_FILE_LOCKING=n
CONFIG_PREEMPTION=n
CONFIG_SLUB_DEBUG=n
CONFIG_SECTION_MISMATCH_WARN_ONLY=n
CONFIG_IPV6=n
CONFIG_PINCTRL_SOPHGO_SG2002=n
CONFIG_PHY_SUN6I_MIPI_DPHY=n
CONFIG_TRACING=n
CONFIG_FW_CACHE=n
CONFIG_MTD_CFI_I1=n
CONFIG_FB_CFB_COPYAREA=n
CONFIG_SND_PCM=n
CONFIG_PINCTRL_STARFIVE_JH7110_SYS=n
CONFIG_RUSTC_HAS_FILE_WITH_NUL=n
CONFIG_NET_VENDOR_CHELSIO=n
CONFIG_USB_CONFIGFS_EEM=n
CONFIG_ACPI_GENERIC_GSI=n
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST=n
CONFIG_HAVE_KCSAN_COMPILER=n
CONFIG_CRYPTO_SKCIPHER=n
CONFIG_HAS_IOPORT_MAP=n
CONFIG_GROUP_SCHED_WEIGHT=n
CONFIG_USB_F_RNDIS=n
CONFIG_FIX_EARLYCON_MEM=n
CONFIG_ARCH_WANTS_THP_SWAP=n
CONFIG_RD_LZMA=n
CONFIG_MOUSE_PS2_LOGIPS2PP=n
CONFIG_GENERIC_IRQ_IPI=n
CONFIG_NET_VENDOR_MYRI=n
CONFIG_FRAME_POINTER=n
CONFIG_SERIAL_8250_DW=n
CONFIG_XXHASH=n
CONFIG_NET_VENDOR_WIZNET=n
CONFIG_MACB=n
CONFIG_RESET_STARFIVE_JH7110=n
CONFIG_CLK_STARFIVE_JH7110_STG=n
CONFIG_CLK_SOPHGO_CV1800=n
CONFIG_DM_BIO_PRISON=n
CONFIG_NET_VENDOR_ENGLEDER=n
CONFIG_GENERIC_SYSCALL=n
CONFIG_XPS=n
CONFIG_NFS_V4_2_READ_PLUS=n
CONFIG_KALLSYMS=n
CONFIG_CPU_FREQ_GOV_POWERSAVE=n
CONFIG_USB=n
CONFIG_PHY_STARFIVE_JH7110_PCIE=n
CONFIG_FB_IOMEM_HELPERS=n
CONFIG_WLAN_VENDOR_RALINK=n
CONFIG_SERIO=n
CONFIG_TRACEFS_AUTOMOUNT_DEPRECATED=n
CONFIG_VIDEO_DEV=n
CONFIG_USB_F_EEM=n
CONFIG_PINCTRL_STARFIVE_JH7100=n
CONFIG_USB_CDNS3_PCI_WRAP=n
CONFIG_IO_URING_BPF=n
CONFIG_IPVLAN=n
CONFIG_GPIO_SIFIVE=n
CONFIG_RISCV_PROBE_UNALIGNED_ACCESS=n
CONFIG_SECURITY_SELINUX=n
CONFIG_DRM_SUN4I=n
CONFIG_RSEQ=n
CONFIG_HAVE_ARCH_GET_SECUREBOOT=n
CONFIG_ARCH_FLATMEM_ENABLE=n
CONFIG_EXT4_FS=n
CONFIG_DRM_BRIDGE=n
CONFIG_DWMAC_THEAD=n
CONFIG_HAVE_REGS_AND_STACK_ACCESS_API=n
CONFIG_ACPI_PROCESSOR_IDLE=n
CONFIG_CPU_FREQ_GOV_CONSERVATIVE=n
CONFIG_GENERIC_IRQ_MULTI_HANDLER=n
CONFIG_RISCV_TIMER=n
CONFIG_AUDIT=n
CONFIG_RESET_STARFIVE_JH7100=n
CONFIG_REGULATOR_GPIO=n
CONFIG_NETFILTER_XT_MATCH_CONNTRACK=n
CONFIG_GENERIC_IRQ_SHOW=n
CONFIG_RTC_NVMEM=n
CONFIG_RANDOMIZE_KSTACK_OFFSET=n
CONFIG_MICREL_PHY=n
CONFIG_INPUT_EVDEV=n
CONFIG_ARCH_SUPPORTS_KEXEC_PURGATORY=n
CONFIG_EDAC_SUPPORT=n
CONFIG_PCI_DOMAINS_GENERIC=n
CONFIG_CDROM=n
CONFIG_HAVE_KERNEL_UNCOMPRESSED=n
CONFIG_CRYPTO_AKCIPHER=n
CONFIG_NETFILTER_XTABLES=n
CONFIG_RISCV_ISA_ZICBOM=n
CONFIG_CC_HAS_MULTIDIMENSIONAL_NONSTRING=n
CONFIG_ARCH_SUPPORTS_UPROBES=n
CONFIG_NF_DEFRAG_IPV4=n
CONFIG_REGULATOR_SPACEMIT_P1=n
CONFIG_FB_DEVICE=n
CONFIG_HAVE_KVM_DIRTY_RING_ACQ_REL=n
CONFIG_SLAB_OBJ_EXT=n
CONFIG_NOP_USB_XCEIV=n
CONFIG_ARCH_HAS_DEBUG_VM_PGTABLE=n
CONFIG_NETFILTER_XT_MARK=n
CONFIG_INET_DIAG=n
CONFIG_IP_PNP=n
CONFIG_NET_VENDOR_TEHUTI=n
CONFIG_SND_PCI=n
CONFIG_SERIAL_8250=n
CONFIG_DRM_PANEL_ORIENTATION_QUIRKS=n
CONFIG_SOFTIRQ_ON_OWN_STACK=n
CONFIG_BLK_DEV_BSG_COMMON=n
CONFIG_OF=n
CONFIG_BLK_DEV_SR=n
CONFIG_GENERIC_ENTRY=n
CONFIG_SPI_MEM=n
CONFIG_GENERIC_IRQ_MIGRATION=n
CONFIG_NET_VENDOR_ROCKER=n
CONFIG_VIRTIO_DMA_SHARED_BUFFER=n
CONFIG_CC_HAS_COUNTED_BY=n
CONFIG_VDSO_GETRANDOM=n
CONFIG_HAS_IOMEM=n
CONFIG_ARCH_SUPPORTS_PER_VMA_LOCK=n
CONFIG_NET_VENDOR_ADI=n
CONFIG_BPF_SYSCALL=n
CONFIG_EXPORTFS=n
CONFIG_I2C_MUX=n
CONFIG_NET_VENDOR_BROCADE=n
CONFIG_TENSTORRENT_ATLANTIS_PRCM=n
CONFIG_MQ_IOSCHED_KYBER=n
CONFIG_HID_GENERIC=n
CONFIG_NET_VENDOR_8390=n
CONFIG_CC_HAS_INT128=n
CONFIG_E1000E=n
CONFIG_TASKS_RCU_GENERIC=n
CONFIG_SUNXI_SRAM=n
CONFIG_RTC_INTF_DEV=n
CONFIG_ACPI=n
CONFIG_RISCV_ALTERNATIVE=n
CONFIG_SCSI_MOD=n
CONFIG_HAVE_RETHOOK=n
CONFIG_DEBUG_MEMORY_INIT=n
CONFIG_RISCV_APLIC_MSI=n
CONFIG_DRM_GEM_SHMEM_HELPER=n
CONFIG_ARCH_ENABLE_SPLIT_PMD_PTLOCK=n
CONFIG_PHY_SUN4I_USB=n
CONFIG_ARCH_WANT_HUGE_PMD_SHARE=n
CONFIG_HAVE_KERNEL_LZ4=n
CONFIG_NETFS_SUPPORT=n
CONFIG_WLAN_VENDOR_ADMTEK=n
CONFIG_CLK_SIFIVE_PRCI=n
CONFIG_CLK_STARFIVE_JH7100_AUDIO=n
CONFIG_ARCH_CANAAN=n
CONFIG_DWMAC_STARFIVE=n
CONFIG_CGROUP_CPUACCT=n
CONFIG_DRM_GPUVM=n
CONFIG_RT_MUTEXES=n
CONFIG_HAVE_MOVE_PUD=n
CONFIG_DEBUG_BUGVERBOSE=n
CONFIG_WLAN_VENDOR_MARVELL=n
CONFIG_SPARSEMEM=n
CONFIG_NFS_USE_KERNEL_DNS=n
CONFIG_TTY=n
CONFIG_GCC_NO_STRINGOP_OVERFLOW=n
CONFIG_RING_BUFFER=n
CONFIG_NETFILTER_BPF_LINK=n
CONFIG_NET_RX_BUSY_POLL=n
CONFIG_IRQ_DOMAIN_HIERARCHY=n
CONFIG_TOOLCHAIN_HAS_ZABHA=n
CONFIG_PWM_PXA=n
CONFIG_NET_DEVMEM=n
CONFIG_SERIAL_8250_16550A_VARIANTS=n
CONFIG_HAVE_KVM_IRQ_ROUTING=n
CONFIG_DRM_DISPLAY_DP_HELPER=n
CONFIG_CRYPTO_LIB_SHA256=n
CONFIG_OF_PMEM=n
CONFIG_RESET_SUNXI=n
CONFIG_PINCTRL_SUNXI=n
CONFIG_CRYPTO_AEAD2=n
CONFIG_RCU_TRACE=n
CONFIG_I2C=n
CONFIG_RTC_I2C_AND_SPI=n
CONFIG_RAMDAX=n
CONFIG_CRYPTO_KPP=n
CONFIG_CRYPTO_RSA=n
CONFIG_OF_FLATTREE=n
CONFIG_ARCH_HAS_SYSCALL_WRAPPER=n
CONFIG_ARCH_USE_CMPXCHG_LOCKREF=n
CONFIG_VIRTIO_PCI_LEGACY=n
CONFIG_RUNTIME_KERNEL_TESTING_MENU=n
CONFIG_DRM_CLIENT=n
CONFIG_TRACE_IRQFLAGS_SUPPORT=n
CONFIG_ATA_ACPI=n
CONFIG_BLK_DEV_WRITE_MOUNTED=n
CONFIG_HAVE_GENERIC_VDSO=n
CONFIG_CGROUP_PIDS=n
CONFIG_TASKS_TRACE_RCU=n
CONFIG_XFRM=n
CONFIG_PINCTRL_SOPHGO_CV18XX_OPS=n
CONFIG_ARCH_HAS_GCOV_PROFILE_ALL=n
CONFIG_WATCHDOG=n
CONFIG_NET_DEVLINK=n
CONFIG_GENERIC_IDLE_POLL_SETUP=n
CONFIG_ETHERNET=n
CONFIG_NET_VENDOR_HUAWEI=n
CONFIG_NETFILTER_EGRESS=n
CONFIG_HAVE_IOREMAP_PROT=n
CONFIG_ARCH_HAS_FORTIFY_SOURCE=n
