CONFIG_PWM_INTEL_LGM=y
CONFIG_DEBUG_NOTIFIERS=y
CONFIG_PINCTRL_IPROC_GPIO=y
CONFIG_CRYPTO_AEGIS128=y
CONFIG_PWM_CLPS711X=y
CONFIG_USB_OHCI_LITTLE_ENDIAN=y
CONFIG_NLS_MAC_ROMANIAN=y
CONFIG_VEML6046X00=y
CONFIG_COMMON_CLK_MT8188_VDOSYS=y
CONFIG_UDMABUF=y
CONFIG_TYPEC_QCOM_PMIC=y
CONFIG_COMMON_CLK_MT6765_MIPI1ASYS=y
CONFIG_IR_FINTEK=y
CONFIG_DEBUG_INFO_REDUCED=y
CONFIG_REGULATOR_MAX1586=y
CONFIG_COMMON_CLK_SCMI=y
CONFIG_TOUCHSCREEN_IMX6UL_TSC=y
CONFIG_SIGNALFD=y
CONFIG_PCIE_LAYERSCAPE_GEN4=y
CONFIG_COMMON_CLK_PWM=y
CONFIG_NVME_TARGET=y
CONFIG_HAVE_KERNEL_GZIP=y
CONFIG_CPU_FREQ_DEFAULT_GOV_PERFORMANCE=y
CONFIG_GENERIC_IRQ_PROBE=y
CONFIG_COMMON_CLK_MT8365_MFG=y
CONFIG_COMMON_CLK_MT8188_VENCSYS=y
CONFIG_AD7746=y
CONFIG_SENSORS_HIH6130=y
CONFIG_SERIAL_MESON=y
CONFIG_MFD_TWL4030_AUDIO=y
CONFIG_ARM_EXYNOS_BUS_DEVFREQ=y
CONFIG_ADXL355_I2C=y
CONFIG_ATA_FORCE=y
CONFIG_REGULATOR_GPIO=y
CONFIG_ARCH_SUPPORTS_KEXEC_SIG_FORCE=y
CONFIG_UNINLINE_SPIN_UNLOCK=y
CONFIG_KVM_MMU_LOCKLESS_AGING=y
CONFIG_COMMON_CLK_MT6765_MIPI2ASYS=y
CONFIG_FB_CYBER2000=y
CONFIG_IIO_BUFFER=y
CONFIG_SHUFFLE_PAGE_ALLOCATOR=y
CONFIG_DPS310=y
CONFIG_FSL_QMAN_TEST=y
CONFIG_ARM_MEDIATEK_CCI_DEVFREQ=y
CONFIG_GPIO_VIRTUSER=y
CONFIG_TMPFS_POSIX_ACL=y
CONFIG_ARCH_WANT_BATCHED_UNMAP_TLB_FLUSH=y
CONFIG_IR_SHARP_DECODER=y
CONFIG_I2C_ALGOPCA=y
CONFIG_BACKLIGHT_ADP8860=y
CONFIG_MMA7455_I2C=y
CONFIG_EXT2_FS=y
CONFIG_FB_GOLDFISH=y
CONFIG_X86_DISABLED_FEATURE_XENPV=y
CONFIG_WW_MUTEX_SELFTEST=y
CONFIG_TOUCHSCREEN_USB_PANJIT=y
CONFIG_HAVE_OPTPROBES=y
CONFIG_REGULATOR_MT6363=y
CONFIG_MTD_BLKDEVS=y
CONFIG_LEDS_TRIGGER_TTY=y
CONFIG_HAVE_CLK_PREPARE=y
CONFIG_ARM_MEDIATEK_CPUFREQ_HW=y
CONFIG_MTD_SBC_GXX=y
CONFIG_GP2AP020A00F=y
CONFIG_SENSORS_KBATT=y
CONFIG_OPT4060=y
CONFIG_KALLSYMS=y
CONFIG_TIMER_PROBE=y
CONFIG_GPIO_MENZ127=y
CONFIG_REGULATOR_PV88090=y
CONFIG_TOUCHSCREEN_EKTF2127=y
CONFIG_COMMON_CLK_MT6779_MMSYS=y
CONFIG_REGULATOR_SLG51000=y
CONFIG_TOUCHSCREEN_HIMAX_HX83112B=y
CONFIG_HZ_PERIODIC=y
CONFIG_COMMON_CLK_MT8192=y
CONFIG_INGENIC_TIMER=y
CONFIG_COMEDI_AMPLC_PCI230=y
CONFIG_SATA_AHCI=y
CONFIG_UID16=y
CONFIG_SH_TIMER_TMU=y
CONFIG_USB_SERIAL_WWAN=y
CONFIG_POWER_RESET=y
CONFIG_BATTERY_DS2760=y
CONFIG_OPT4001=y
CONFIG_LMP91000=y
CONFIG_SYSC_RCAR_GEN4=y
CONFIG_EXTCON_MAX14526=y
CONFIG_COMMON_CLK_HI6220=y
CONFIG_HAVE_STACKPROTECTOR=y
CONFIG_COMMON_CLK_MT6779_VENCSYS=y
CONFIG_SCSI_SAS_ATTRS=y
CONFIG_NVME_TARGET_LOOP=y
CONFIG_CDROM=y
CONFIG_MFD_RT4831=y
CONFIG_SENSORS_SFCTEMP=y
CONFIG_MFD_DLN2=y
CONFIG_ARCH_DEFAULT_CRASH_DUMP=y
CONFIG_SRF08=y
CONFIG_COMMON_CLK_MT8192_MDPSYS=y
CONFIG_SUSPEND_FREEZER=y
CONFIG_BCMA_DEBUG=y
CONFIG_HSI_BOARDINFO=y
CONFIG_RSEQ=y
CONFIG_USB4=y
CONFIG_BLK_DEV_IO_TRACE=y
CONFIG_PWM_CROS_EC=y
CONFIG_ISCSI_BOOT_SYSFS=y
CONFIG_MFD_EXYNOS_LPASS=y
CONFIG_SENSORS_AMC6821=y
CONFIG_SENSORS_LTC2991=y
CONFIG_UTS_NS=y
CONFIG_EARLY_PRINTK_USB_XDBC=y
CONFIG_USB_SERIAL_SIERRAWIRELESS=y
CONFIG_FB_MATROX_MYSTIQUE=y
CONFIG_RENESAS_RPCIF=y
CONFIG_HAVE_POSIX_CPU_TIMERS_TASK_WORK=y
CONFIG_ARCH_CONFIGURES_CPU_MITIGATIONS=y
CONFIG_CRYPTO_LIB_AES=y
CONFIG_SENSORS_LM87=y
CONFIG_CGROUPS=y
CONFIG_VIDEO=y
CONFIG_CC_NO_STRINGOP_OVERFLOW=y
CONFIG_USB_TEGRA_PHY=y
CONFIG_IMX_SCMI_CPU_DRV=y
CONFIG_SENSORS_ADM1029=y
CONFIG_NFTL=y
CONFIG_AD7606=y
CONFIG_REGMAP_SPMI=y
CONFIG_USB_ADUTUX=y
CONFIG_ARCH_SUPPORTS_KEXEC=y
CONFIG_SENSORS_W83795_FANCTRL=y
CONFIG_PROC_FS=y
CONFIG_LEDS_CLASS=y
CONFIG_MFD_ATC260X_I2C=y
CONFIG_SENSORS_MAX77705=y
CONFIG_MFD_VX855=y
CONFIG_GPIO_IDT3243X=y
CONFIG_CHROMEOS_LAPTOP=y
CONFIG_MFD_INTEL_LPSS=y
CONFIG_NLS_MAC_CENTEURO=y
CONFIG_AHCI_TEGRA=y
CONFIG_HW_RANDOM_INTEL=y
CONFIG_PROVIDE_OHCI1394_DMA_INIT=y
CONFIG_CRC16=y
CONFIG_SC27XX_ADC=y
CONFIG_MTK_CMDQ_MBOX=y
CONFIG_X86_IO_APIC=y
CONFIG_FSNOTIFY=y
CONFIG_PCIE_ESWIN=y
CONFIG_MAG3110=y
CONFIG_REGULATOR_MT6360=y
CONFIG_HWLAT_TRACER=y
CONFIG_SENSORS_MC13783_ADC=y
CONFIG_BLK_CGROUP_PUNT_BIO=y
CONFIG_ARM_NI=y
CONFIG_HIGHMEM4G=y
CONFIG_CM36651=y
CONFIG_USB_SERIAL=y
CONFIG_MFD_WM8997=y
CONFIG_X86_SPEEDSTEP_CENTRINO=y
CONFIG_AHCI_MVEBU=y
CONFIG_SCSI_SIM710=y
CONFIG_TIME_NS=y
CONFIG_RESET_TI_TPS380X=y
CONFIG_TOUCHSCREEN_GOODIX=y
CONFIG_USB_CDNS3=y
CONFIG_SCSI_SMARTPQI=y
CONFIG_CROS_EC=y
CONFIG_COMMON_CLK_MT8192_MFGCFG=y
CONFIG_CHARGER_LTC4162L=y
CONFIG_FB_METRONOME=y
CONFIG_TOUCHSCREEN_MX25=y
CONFIG_UCLAMP_TASK=y
CONFIG_FB_CFB_COPYAREA=y
CONFIG_MFD_WM8994=y
CONFIG_MTD_ESB2ROM=y
CONFIG_VMWARE_PVSCSI=y
CONFIG_REED_SOLOMON=y
CONFIG_ARCH_HAS_SET_MEMORY=y
CONFIG_FRAMEBUFFER_CONSOLE_DEFERRED_TAKEOVER=y
CONFIG_REGULATOR_AS3711=y
CONFIG_CRYPTO_SKCIPHER=y
CONFIG_FB_BACKLIGHT=y
CONFIG_I2C_STM32F7=y
CONFIG_SENSORS_K8TEMP=y
CONFIG_TOUCHSCREEN_TSC2007_IIO=y
CONFIG_HDQ_MASTER_OMAP=y
CONFIG_KMAP_LOCAL=y
CONFIG_DECOMPRESS_GZIP=y
CONFIG_LEDS_ARIEL=y
CONFIG_NLS_CODEPAGE_775=y
CONFIG_CRC32=y
CONFIG_MTD_REDBOOT_PARTS_UNALLOCATED=y
CONFIG_GENERIC_ALLOCATOR=y
CONFIG_SATA_ACARD_AHCI=y
CONFIG_AD3552R_HS=y
CONFIG_DEVFREQ_GOV_USERSPACE=y
CONFIG_DEVFREQ_EVENT_EXYNOS_NOCP=y
CONFIG_BITREVERSE=y
CONFIG_ARCH_FLATMEM_ENABLE=y
CONFIG_LD_IS_BFD=y
CONFIG_NO_HZ=y
CONFIG_DEBUG_IRQFLAGS=y
CONFIG_X86_MPPARSE=y
CONFIG_SHMEM=y
CONFIG_FB_3DFX=y
CONFIG_FB_3DFX_I2C=y
CONFIG_COMEDI_ADV_PCI1710=y
CONFIG_SENSORS_HMC5843_I2C=y
CONFIG_BATTERY_RX51=y
CONFIG_STACKTRACE=y
CONFIG_HAVE_MOVE_PMD=y
CONFIG_REGULATOR_MC13892=y
CONFIG_CRYPTO_MLDSA=y
CONFIG_PATA_TIMINGS=y
CONFIG_LEDS_MT6323=y
CONFIG_TYPEC_UCSI=y
CONFIG_SCSI_LOGGING=y
CONFIG_I2C_CROS_EC_TUNNEL=y
CONFIG_CRYPTO_TWOFISH_COMMON=y
CONFIG_REGULATOR_PV88060=y
CONFIG_MFD_TPS65086=y
CONFIG_BACKLIGHT_RT4831=y
CONFIG_STIH407_RESET=y
CONFIG_ARCH_SUPPORTS_SCHED_MC=y
CONFIG_BACKLIGHT_LV5207LP=y
CONFIG_HUGETLBFS=y
CONFIG_MUSB_PIO_ONLY=y
CONFIG_FRAMEBUFFER_CONSOLE_ROTATION=y
CONFIG_THERMAL_DEBUGFS=y
CONFIG_MMP_DISP_CONTROLLER=y
CONFIG_HAVE_USER_RETURN_NOTIFIER=y
CONFIG_VT=y
CONFIG_NLS=y
CONFIG_SSB_POSSIBLE=y
CONFIG_MFD_BCM590XX=y
CONFIG_FUTEX_PRIVATE_HASH=y
CONFIG_TOUCHSCREEN_CYTTSP5=y
CONFIG_AD5064=y
CONFIG_REGULATOR_MT6370=y
CONFIG_MTD_NAND_ECC_SW_HAMMING=y
CONFIG_MEDIATEK_MT6577_AUXADC=y
CONFIG_INV_ICM42600=y
CONFIG_ARCH_ENABLE_SPLIT_PMD_PTLOCK=y
CONFIG_CPU_IDLE_GOV_MENU=y
CONFIG_AXP288_ADC=y
CONFIG_CRYPTO_ALGAPI=y
CONFIG_IRSD200=y
CONFIG_HAVE_KVM_CPU_RELAX_INTERCEPT=y
CONFIG_TRACE_CLOCK=y
CONFIG_USB_F_FS=y
CONFIG_CRYPTO_HCTR2=y
CONFIG_LOCKDEP_SUPPORT=y
CONFIG_BLK_DEV_LOOP=y
CONFIG_ARCH_WANTS_DYNAMIC_TASK_STRUCT=y
CONFIG_CM3323=y
CONFIG_CRC32_ARCH=y
CONFIG_MFD_ATC260X=y
CONFIG_JUMP_LABEL=y
CONFIG_TEST_OBJAGG=y
CONFIG_USB_SERIAL_NAVMAN=y
CONFIG_X86_SUPPORTS_MEMORY_FAILURE=y
CONFIG_BLK_CGROUP_IOCOST=y
CONFIG_PWM_PCA9685=y
CONFIG_TOUCHSCREEN_ILI210X=y
CONFIG_RESET_RZG2L_USBPHY_CTRL=y
CONFIG_LOCK_MM_AND_FIND_VMA=y
CONFIG_MMU=y
CONFIG_SENSORS_HMC5843=y
CONFIG_I2C_MUX_PCA9541=y
CONFIG_VGASTATE=y
CONFIG_BLK_DEV_FD=y
CONFIG_BATTERY_BQ27XXX_I2C=y
CONFIG_CRYPTO_AUTHENC=y
CONFIG_LIDAR_LITE_V2=y
CONFIG_BH1750=y
CONFIG_POLYNOMIAL=y
CONFIG_SENSEAIR_SUNRISE_CO2=y
CONFIG_OSNOISE_TRACER=y
CONFIG_PINCTRL_EIC7700=y
CONFIG_SENSORS_ADM1177=y
CONFIG_MISC_ALCOR_PCI=y
CONFIG_POSIX_CPU_TIMERS_TASK_WORK=y
CONFIG_USB_CHIPIDEA=y
CONFIG_SENSORS_ADS7828=y
CONFIG_GPIO_KEMPLD=y
CONFIG_SERIAL_EARLYCON=y
CONFIG_NLS_CODEPAGE_866=y
CONFIG_I2C_TEGRA_BPMP=y
CONFIG_CPU_FREQ_GOV_CONSERVATIVE=y
CONFIG_REGMAP_I2C=y
CONFIG_SENSORS_W83792D=y
CONFIG_LEDS_MAX5970=y
CONFIG_LEDS_SUN50I_A100=y
CONFIG_BLK_DEV_BSG=y
CONFIG_USB_TMC=y
CONFIG_CHARGER_MP2629=y
CONFIG_PM_GENERIC_DOMAINS_SLEEP=y
CONFIG_MFD_WM8998=y
CONFIG_INV_ICM45600_I2C=y
CONFIG_COMMON_CLK_MT8183_VDECSYS=y
CONFIG_MTD_GEN_PROBE=y
CONFIG_GPIO_MVEBU=y
CONFIG_SERIAL_PCH_UART=y
CONFIG_USB_CDNS3_IMX=y
CONFIG_REGULATOR_TPS51632=y
CONFIG_CPU_FREQ_GOV_POWERSAVE=y
CONFIG_TOUCHSCREEN_MAX11801=y
CONFIG_GOLDFISH=y
CONFIG_GOLDFISH_TTY_EARLY_CONSOLE=y
CONFIG_KVM_ASYNC_PF=y
CONFIG_PINCTRL_SC8280XP_LPASS_LPI=y
CONFIG_DEBUG_MEMORY_INIT=y
CONFIG_KVM_VFIO=y
CONFIG_ARCH_WANT_IRQS_OFF_ACTIVATE_MM=y
CONFIG_GDB_SCRIPTS=y
CONFIG_SHRINKER_DEBUG=y
CONFIG_APDS9306=y
CONFIG_CLONE_BACKWARDS=y
CONFIG_MTK_GPUEB_MBOX=y
CONFIG_GEHC_PMC_ADC=y
CONFIG_ROHM_BM1390=y
CONFIG_CLK_SUNXI_PRCM_SUN6I=y
CONFIG_PATA_RZ1000=y
CONFIG_RV_REACTORS=y
CONFIG_PROC_SYSCTL=y
CONFIG_MFD_TPS65090=y
CONFIG_USB_G_DBGP=y
CONFIG_RBTREE_TEST=y
CONFIG_USB_COMMON=y
CONFIG_CLK_SOPHGO_SG2042_RPGATE=y
CONFIG_REGULATOR_88PM800=y
CONFIG_HAVE_ARCH_RANDOMIZE_KSTACK_OFFSET=y
CONFIG_SENSORS_LM90=y
CONFIG_MFD_KEMPLD=y
CONFIG_VIRT_XFER_TO_GUEST_WORK=y
CONFIG_HTS221=y
CONFIG_AS73211=y
CONFIG_GPIO_GENERIC=y
CONFIG_BACKTRACE_SELF_TEST=y
CONFIG_TSL4531=y
CONFIG_SUSPEND=y
CONFIG_GPIO_SIOX=y
CONFIG_COMEDI_USBDUXSIGMA=y
CONFIG_CLK_MT7621=y
CONFIG_PPS_GENERATOR_DUMMY=y
CONFIG_DEBUG_OBJECTS_SELFTEST=y
CONFIG_LEDS_TRIGGER_DEFAULT_ON=y
CONFIG_DECOMPRESS_LZMA=y
CONFIG_GENERIC_CMOS_UPDATE=y
CONFIG_CC_HAS_ASM_INLINE=y
CONFIG_ABP2030PA=y
CONFIG_SUNPLUS_SP7021_INTC=y
CONFIG_HW_RANDOM_MXC_RNGA=y
CONFIG_PINCTRL_IMX_SCMI=y
CONFIG_REGULATOR_MT6357=y
CONFIG_IO_WQ=y
CONFIG_GPIO_XILINX=y
CONFIG_COMMON_CLK_RP1=y
CONFIG_REGULATOR_RT4801=y
CONFIG_PRINTK=y
CONFIG_NEED_TASKS_RCU=y
CONFIG_COMMON_CLK_CS2000_CP=y
CONFIG_IOMMU_IO_PGTABLE_ARMV7S=y
CONFIG_SENSORS_LTC2947_I2C=y
CONFIG_I2C_NVIDIA_GPU=y
CONFIG_IP5XXX_POWER=y
CONFIG_SENSORS_TMP401=y
CONFIG_NITRO_ENCLAVES=y
CONFIG_STM_SOURCE_FTRACE=y
CONFIG_AT91_SOC_SFR=y
CONFIG_XZ_DEC_ARM=y
CONFIG_PROVE_RCU=y
CONFIG_SCSI_PM8001=y
CONFIG_I2C_I801=y
CONFIG_SSFDC=y
CONFIG_PINCTRL_SM8450_LPASS_LPI=y
CONFIG_AMD_NODE=y
CONFIG_NOP_USB_XCEIV=y
CONFIG_SOC_RENESAS=y
CONFIG_RFD77402=y
CONFIG_TMPFS_QUOTA=y
CONFIG_OVERLAY_FS_REDIRECT_DIR=y
CONFIG_X86_DISABLED_FEATURE_SGX=y
CONFIG_USB_FOTG210_UDC=y
CONFIG_FIREWIRE_NOSY=y
CONFIG_MTD_MAP_BANK_WIDTH_1=y
CONFIG_QCOM_RMTFS_MEM=y
CONFIG_TYPEC_TCPM=y
CONFIG_FB_SVGALIB=y
CONFIG_MFD_QNAP_MCU=y
CONFIG_MODIFY_LDT_SYSCALL=y
CONFIG_COMEDI_TESTS=y
CONFIG_RAID6_PQ=y
CONFIG_STK8312=y
CONFIG_SYSCTL_EXCEPTION_TRACE=y
CONFIG_CRYPTO_FCRYPT=y
CONFIG_RELAY=y
CONFIG_LPC18XX_DAC=y
CONFIG_RESET_NUVOTON_MA35D1=y
CONFIG_NVME_MULTIPATH=y
CONFIG_VALIDATE_FS_PARSER=y
CONFIG_HAVE_HW_BREAKPOINT=y
CONFIG_TCG_NSC=y
CONFIG_SYNC_FILE=y
CONFIG_SCSI_INIA100=y
CONFIG_TOUCHSCREEN_IQS5XX=y
CONFIG_GPIO_WS16C48=y
CONFIG_RENESAS_OSTM=y
CONFIG_SCSI_SYM53C8XX_2=y
CONFIG_USB_SERIAL_KLSI=y
CONFIG_NVMEM_SPMI_SDAM=y
CONFIG_STACKDEPOT_ALWAYS_INIT=y
CONFIG_GPIO_ATH79=y
CONFIG_SPRD_SC9863A_CLK=y
CONFIG_FB_SSD1307=y
CONFIG_TEST_UDELAY=y
CONFIG_SENSORS_LM92=y
CONFIG_TOUCHSCREEN_DA9052=y
CONFIG_COMEDI_NI_LABPC=y
CONFIG_ENS210=y
CONFIG_OVERLAY_FS=y
CONFIG_FB_VOODOO1=y
CONFIG_SPRD_SC9860_CLK=y
CONFIG_USB_ASPEED_VHUB=y
CONFIG_FAT_DEFAULT_UTF8=y
CONFIG_QFMT_V2=y
CONFIG_PHY_TUSB1210=y
CONFIG_REGULATOR_STW481X_VMMC=y
CONFIG_USB_SERIAL_DEBUG=y
CONFIG_GPIOLIB_IRQCHIP=y
CONFIG_USB_DWC2=y
CONFIG_COMMON_CLK_MT8183=y
CONFIG_COMMON_CLK_MT7986_ETHSYS=y
CONFIG_QCOM_SPMI_IADC=y
CONFIG_RESET_SIMPLE=y
CONFIG_SCSI_SNIC=y
CONFIG_LOCK_EVENT_COUNTS=y
CONFIG_DECOMPRESS_LZO=y
CONFIG_I2C_QCOM_CCI=y
CONFIG_PM_CLK=y
CONFIG_ARCH_HAS_CPU_RELAX=y
CONFIG_ARCH_HAS_PTDUMP=y
CONFIG_PINCTRL_PFC_SH7720=y
CONFIG_TI_ADS1015=y
CONFIG_PHY_HISTB_COMBPHY=y
CONFIG_HAVE_ASM_MODVERSIONS=y
CONFIG_PTP_1588_CLOCK_OPTIONAL=y
CONFIG_SCSI_MVSAS=y
CONFIG_ARCH_HAS_GCOV_PROFILE_ALL=y
CONFIG_ARCH_HAS_SYSCALL_WRAPPER=y
CONFIG_PINCTRL_PFC_SH7269=y
CONFIG_CLOCKSOURCE_WATCHDOG=y
CONFIG_RAPIDIO=y
CONFIG_I2C_SIMTEC=y
CONFIG_ARCH_HAS_UBSAN=y
CONFIG_SDP500=y
CONFIG_RESET_MESON=y
CONFIG_ZLIB_DEFLATE=y
CONFIG_FUTEX=y
CONFIG_PINCTRL_CS47L92=y
CONFIG_SENSORS_MCP9982=y
CONFIG_ARCH_USE_SYM_ANNOTATIONS=y
CONFIG_PCIE_DW_EP=y
CONFIG_CLK_SUNXI_PRCM_SUN8I=y
CONFIG_COMMON_CLK_HI3519=y
CONFIG_W1_SLAVE_DS2433=y
CONFIG_TI_ADS7138=y
CONFIG_SERIAL_CORE_CONSOLE=y
CONFIG_SUN55I_PCK600=y
CONFIG_NVMEM=y
CONFIG_MITIGATION_RETBLEED=y
CONFIG_CC_HAS_SANE_FUNCTION_ALIGNMENT=y
CONFIG_RC_ST=y
CONFIG_USERIO=y
CONFIG_THERMAL_EMULATION=y
CONFIG_TEST_FREE_PAGES=y
CONFIG_COMEDI_ADV_PCI_DIO=y
CONFIG_DYNAMIC_FTRACE_WITH_REGS=y
CONFIG_SYSC_R8A77990=y
CONFIG_COMEDI_ADL_PCI6208=y
CONFIG_MTD_UBI=y
CONFIG_SENSORS_ISL29028=y
CONFIG_RC_CORE=y
CONFIG_GPIO_PCA953X_IRQ=y
CONFIG_PINCTRL_PFC_R8A774E1=y
CONFIG_SX9360=y
CONFIG_COMMON_CLK_MT8186=y
CONFIG_COMEDI_DAS08_PCI=y
CONFIG_TOUCHSCREEN_USB_NEXIO=y
CONFIG_PWM_TIEHRPWM=y
CONFIG_TOUCHSCREEN_USB_GENERAL_TOUCH=y
CONFIG_CC10001_ADC=y
CONFIG_ARCH_HAS_PTE_SPECIAL=y
CONFIG_USB_F_ACM=y
CONFIG_FXAS21002C=y
CONFIG_PCI_ENDPOINT_CONFIGFS=y
CONFIG_BACKLIGHT_AW99706=y
CONFIG_CRYPTO_LIB_SHA3=y
