CONFIG_MSDOS_FS=n
CONFIG_USB_CDNS3=n
CONFIG_ARCH_OPTIONAL_KERNEL_RWX=n
CONFIG_ARCH_HAS_SYNC_DMA_FOR_DEVICE=n
CONFIG_ARCH_TENSTORRENT=n
CONFIG_CPU_FREQ_GOV_CONSERVATIVE=n
CONFIG_USB_CONFIGFS_EEM=n
CONFIG_RISCV_APLIC=n
CONFIG_ARCH_WANT_HUGE_PMD_SHARE=n
CONFIG_SPLIT_PTE_PTLOCKS=n
CONFIG_VMAP_STACK=n
CONFIG_GENERIC_LIB_DEVMEM_IS_ALLOWED=n
CONFIG_CRYPTO_LIB_AES_ECB=n
CONFIG_9P_FS=n
CONFIG_PM_CLK=n
CONFIG_HAVE_POSIX_CPU_TIMERS_TASK_WORK=n
CONFIG_ZLIB_DEFLATE=n
CONFIG_OF_RESERVED_MEM=n
CONFIG_SERIAL_CORE=n
CONFIG_FHANDLE=n
CONFIG_SCSI_MOD=n
CONFIG_VIRTIO_MMIO=n
CONFIG_LD_CAN_USE_KEEP_IN_OVERLAY=n
CONFIG_DYNAMIC_SIGFRAME=n
CONFIG_PM_GENERIC_DOMAINS_OF=n
CONFIG_SPACEMIT_K1_CCU=n
CONFIG_NF_LOG_SYSLOG=n
CONFIG_PCIE_DW_HOST=n
CONFIG_NF_CONNTRACK=n
CONFIG_CRYPTO_USER_API_ENABLE_OBSOLETE=n
CONFIG_SECURITY_SELINUX_AVC_STATS=n
CONFIG_NET_DEVLINK=n
CONFIG_NF_DEFRAG_IPV6=n
CONFIG_NET_VENDOR_ADAPTEC=n
CONFIG_ACPI_CPPC_CPUFREQ_FIE=n
CONFIG_HAVE_CLK_PREPARE=n
CONFIG_NET_VENDOR_AMD=n
CONFIG_BLK_CGROUP=n
CONFIG_DECOMPRESS_LZMA=n
CONFIG_GPIO_SPACEMIT_K1=n
CONFIG_RTC_DRV_SUN6I=n
CONFIG_INPUT=n
CONFIG_FIX_EARLYCON_MEM=n
CONFIG_USB_GADGET=n
CONFIG_MTD_OF_PARTS=n
CONFIG_XZ_DEC_ARMTHUMB=n
CONFIG_ARCH_HAS_STRICT_MODULE_RWX=n
CONFIG_USB_LIBCOMPOSITE=n
CONFIG_NETFILTER_EGRESS=n
CONFIG_DWMAC_SUNXI=n
CONFIG_COMPAT_BINFMT_ELF=n
CONFIG_RWSEM_SPIN_ON_OWNER=n
CONFIG_STACKPROTECTOR_PER_TASK=n
CONFIG_DRM_PANEL=n
CONFIG_DWMAC_SPACEMIT=n
CONFIG_WATCHDOG=n
CONFIG_USB=n
CONFIG_NET_VENDOR_I825XX=n
CONFIG_POWER_SUPPLY=n
CONFIG_HAVE_ARCH_KSTACK_ERASE=n
CONFIG_CFS_BANDWIDTH=n
CONFIG_ACPI_MCFG=n
CONFIG_SLAB_MERGE_DEFAULT=n
CONFIG_POWER_RESET_SPACEMIT_P1=n
CONFIG_SWAP=n
CONFIG_RESET_SIMPLE=n
CONFIG_PNFS_FLEXFILE_LAYOUT=n
CONFIG_TMPFS_XATTR=n
CONFIG_CPU_IDLE_MULTIPLE_DRIVERS=n
CONFIG_SUNRPC_GSS=n
CONFIG_TASKS_RCU=n
CONFIG_IKCONFIG=n
CONFIG_NET=n
CONFIG_LINEAR_RANGES=n
CONFIG_COMPAT_32BIT_TIME=n
CONFIG_VGA_ARB=n
CONFIG_GENERIC_IRQ_MIGRATION=n
CONFIG_LIBNVDIMM=n
CONFIG_PCIE_PLDA_HOST=n
CONFIG_RISCV_ISA_FALLBACK=n
CONFIG_MMC_DW=n
CONFIG_I2C_MUX=n
CONFIG_NF_CT_PROTO_SCTP=n
CONFIG_SERIAL_8250_PCI=n
CONFIG_SECURITY=n
CONFIG_PHYLINK=n
CONFIG_GROUP_SCHED_BANDWIDTH=n
CONFIG_SPLIT_PMD_PTLOCKS=n
CONFIG_ACPI_VIDEO=n
CONFIG_HAVE_KRETPROBES=n
CONFIG_ARCH_WANT_OPTIMIZE_HUGETLB_VMEMMAP=n
CONFIG_LOCKDEP_SUPPORT=n
CONFIG_RTC_I2C_AND_SPI=n
CONFIG_I2C=n
CONFIG_POWER_RESET=n
CONFIG_NETFS_SUPPORT=n
CONFIG_SPACEMIT_K1_EMAC=n
CONFIG_GENERIC_IRQ_IPI_MUX=n
CONFIG_GPIO_DWAPB=n
CONFIG_NET_CLS=n
CONFIG_BQL=n
CONFIG_MQ_IOSCHED_DEADLINE=n
CONFIG_DMA_SUN6I=n
CONFIG_FIRMWARE_TABLE=n
CONFIG_RESET_EIC7700=n
CONFIG_NF_CONNTRACK_TFTP=n
CONFIG_PNFS_BLOCK=n
CONFIG_CRYPTO_SHA1=n
CONFIG_USB_F_OBEX=n
CONFIG_DECOMPRESS_GZIP=n
CONFIG_CRYPTO_SIG2=n
CONFIG_BLK_DEV=n
CONFIG_HAVE_PREEMPT_DYNAMIC=n
CONFIG_JH71XX_PMU=n
CONFIG_MICREL_PHY=n
CONFIG_MMU=n
CONFIG_DRM_CLIENT_LIB=n
CONFIG_SND=n
CONFIG_ACPI_CPPC_LIB=n
CONFIG_ARCH_HAS_PTE_SPECIAL=n
CONFIG_NETFILTER_BPF_LINK=n
CONFIG_CRYPTO_ECB=n
CONFIG_LZ4_DECOMPRESS=n
CONFIG_SECURITY_APPARMOR_PARANOID_LOAD=n
CONFIG_SND_SOC_SPDIF=n
CONFIG_USB_OHCI_HCD=n
CONFIG_CC_HAS_WORKING_NOSANITIZE_ADDRESS=n
CONFIG_TOOLCHAIN_NEEDS_EXPLICIT_ZICSR_ZIFENCEI=n
CONFIG_MEDIA_PLATFORM_SUPPORT=n
CONFIG_WLAN_VENDOR_TI=n
CONFIG_NETFILTER_FAMILY_BRIDGE=n
CONFIG_CGROUP_CPUACCT=n
CONFIG_NETFILTER_ADVANCED=n
CONFIG_MMC_SDHCI_CADENCE=n
CONFIG_ARCH_HAS_BINFMT_FLAT=n
CONFIG_CLK_STARFIVE_JH7100_AUDIO=n
CONFIG_SUSPEND=n
CONFIG_ARCH_USE_QUEUED_SPINLOCKS=n
CONFIG_MICROSEMI_PHY=n
CONFIG_CPU_FREQ_DEFAULT_GOV_PERFORMANCE=n
CONFIG_DEBUG_KERNEL=n
CONFIG_NET_VENDOR_RDC=n
CONFIG_PCIEASPM_DEFAULT=n
CONFIG_SECURITY_APPARMOR_INTROSPECT_POLICY=n
CONFIG_ARCH_WANTS_THP_SWAP=n
CONFIG_VIRTIO_DMA_SHARED_BUFFER=n
CONFIG_PRINTK=n
CONFIG_NVMEM_LAYOUTS=n
CONFIG_POSIX_MQUEUE_SYSCTL=n
CONFIG_NF_LOG_IPV6=n
CONFIG_MMC_SPI=n
CONFIG_NET_UDP_TUNNEL=n
CONFIG_ATA=n
CONFIG_PM_GENERIC_DOMAINS_SLEEP=n
CONFIG_NET_VENDOR_AMAZON=n
CONFIG_NVMEM_SUNXI_SID=n
CONFIG_CRYPTO_CBC=n
CONFIG_PREEMPT_NOTIFIERS=n
CONFIG_SBITMAP=n
CONFIG_KVM=n
CONFIG_HAS_IOPORT_MAP=n
CONFIG_PCI_HOST_GENERIC=n
CONFIG_GRO_CELLS=n
CONFIG_MEDIA_CONTROLLER=n
CONFIG_GUEST_PERF_EVENTS=n
CONFIG_NET_FLOW_LIMIT=n
CONFIG_CGROUP_SCHED=n
CONFIG_ACPI=n
CONFIG_RISCV_ISA_VENDOR_EXT_SIFIVE=n
CONFIG_DRM_SUBALLOC_HELPER=n
CONFIG_IP_MULTICAST=n
CONFIG_NLATTR=n
CONFIG_HAVE_FUNCTION_ARG_ACCESS_API=n
CONFIG_MOUSE_PS2_CYPRESS=n
CONFIG_HDMI=n
CONFIG_SCHED_INFO=n
CONFIG_I3C_OR_I2C=n
CONFIG_FTRACE=n
CONFIG_SND_JACK_INPUT_DEV=n
CONFIG_FB=n
CONFIG_NET_VENDOR_BROADCOM=n
CONFIG_SG_POOL=n
CONFIG_SECCOMP=n
CONFIG_MEMTEST=n
CONFIG_BTT=n
CONFIG_DRM_DISPLAY_HDMI_HELPER=n
CONFIG_IP_PNP_DHCP=n
CONFIG_USB_CONFIGFS=n
CONFIG_SHMEM=n
CONFIG_CRYPTO_CAMELLIA=n
CONFIG_FAILOVER=n
CONFIG_SECRETMEM=n
CONFIG_DRM_CLIENT_SETUP=n
CONFIG_MEMCG=n
CONFIG_USB_F_MASS_STORAGE=n
CONFIG_ARCH_HAS_FAST_MULTIPLIER=n
CONFIG_BLK_DEV_DM_BUILTIN=n
CONFIG_NET_VENDOR_MELLANOX=n
CONFIG_NF_DEFRAG_IPV4=n
CONFIG_DNS_RESOLVER=n
CONFIG_PROC_PAGE_MONITOR=n
CONFIG_ARCH_ENABLE_MEMORY_HOTPLUG=n
CONFIG_IP_PNP=n
CONFIG_CLK_STARFIVE_JH7110_STG=n
CONFIG_DMIID=n
CONFIG_PREEMPTION=n
CONFIG_ACPI_AC=n
CONFIG_GENERIC_IDLE_POLL_SETUP=n
CONFIG_KALLSYMS=n
CONFIG_SWPHY=n
CONFIG_SUNRPC_BACKCHANNEL=n
CONFIG_SERIO_LIBPS2=n
CONFIG_GENERIC_STRNLEN_USER=n
CONFIG_RAID6_PQ_BENCHMARK=n
CONFIG_COMPAT_BRK=n
CONFIG_DRM_GPUVM=n
CONFIG_RISCV_MISALIGNED=n
CONFIG_DRM_FBDEV_EMULATION=n
CONFIG_NETFILTER_XT_MATCH_IPVS=n
CONFIG_MTD_CFI_I2=n
CONFIG_USB_F_FS=n
CONFIG_ARCH_HAS_PREEMPT_LAZY=n
CONFIG_DEVMEM=n
CONFIG_FB_CORE=n
CONFIG_SPI_SPACEMIT_K1=n
CONFIG_DMA_ENGINE=n
CONFIG_ARCH_SUPPORTS_UPROBES=n
CONFIG_SND_PCM_TIMER=n
CONFIG_CPU_FREQ_THERMAL=n
CONFIG_DRM_CLIENT_SELECTION=n
CONFIG_WLAN_VENDOR_RALINK=n
CONFIG_NFS_V4_2=n
CONFIG_EVENTFD=n
CONFIG_RISCV_ISA_ZACAS=n
CONFIG_GENERIC_PINCONF=n
CONFIG_KERNFS=n
CONFIG_ARCH_ANDES=n
CONFIG_INPUT_MOUSEDEV=n
CONFIG_DRM_DISPLAY_DP_HELPER=n
CONFIG_VT_CONSOLE_SLEEP=n
CONFIG_VHOST_ENABLE_FORK_OWNER_CONTROL=n
CONFIG_MTD=n
CONFIG_BRIDGE=n
CONFIG_THERMAL=n
CONFIG_VT_CONSOLE=n
CONFIG_PINCTRL_SOPHGO_CV18XX_OPS=n
CONFIG_NETFILTER_XTABLES=n
CONFIG_MCHP_CLK_MPFS=n
CONFIG_CRYPTO_ECHAINIV=n
CONFIG_HAVE_MOVE_PMD=n
CONFIG_MIGRATION=n
CONFIG_DIMLIB=n
CONFIG_VIDEO_V4L2_I2C=n
CONFIG_DST_CACHE=n
CONFIG_DRM_TTM_HELPER=n
CONFIG_ERRATA_SIFIVE=n
CONFIG_CLK_STARFIVE_JH71X0=n
CONFIG_STACKTRACE=n
CONFIG_LEGACY_DIRECT_IO=n
CONFIG_SERIAL_8250_DW=n
CONFIG_NET_SCH_FIFO=n
CONFIG_NET_CRC32C=n
CONFIG_GENERIC_GETTIMEOFDAY=n
CONFIG_TUNE_GENERIC=n
CONFIG_ARCH_HAS_SYSCALL_WRAPPER=n
CONFIG_NET_VENDOR_EMULEX=n
CONFIG_SERIAL_8250_MOXA_PCIE=n
CONFIG_GENERIC_ALLOCATOR=n
CONFIG_ARCH_ENABLE_SPLIT_PMD_PTLOCK=n
CONFIG_PINCTRL_SOPHGO_SG2000=n
CONFIG_ARCH_HAS_STRICT_KERNEL_RWX=n
CONFIG_WLAN_VENDOR_NXP=n
CONFIG_ARCH_HAS_PMEM_API=n
CONFIG_SECCOMP_FILTER=n
CONFIG_RISCV=n
CONFIG_SECURITY_SELINUX_DEVELOP=n
CONFIG_VIDEO_V4L2_SUBDEV_API=n
CONFIG_NET_VENDOR_NETRONOME=n
CONFIG_GENERIC_IRQ_MATRIX_ALLOCATOR=n
CONFIG_MFD_AXP20X=n
CONFIG_ARCH_SUSPEND_POSSIBLE=n
CONFIG_SND_SIMPLE_CARD_UTILS=n
CONFIG_CACHESTAT_SYSCALL=n
CONFIG_RISCV_COMBO_SPINLOCKS=n
CONFIG_XZ_DEC_POWERPC=n
CONFIG_SND_SOC_I2C_AND_SPI=n
CONFIG_I2C_HID=n
CONFIG_SND_SOC_GENERIC_DMAENGINE_PCM=n
CONFIG_RESET_STARFIVE_JH7100=n
CONFIG_HAVE_FUNCTION_ERROR_INJECTION=n
CONFIG_SERIAL_8250_DMA=n
CONFIG_ARCH_WANT_DEFAULT_TOPDOWN_MMAP_LAYOUT=n
CONFIG_ARCH_HAS_MMIOWB=n
CONFIG_COMPAT=n
CONFIG_ARCH_PROC_KCORE_TEXT=n
CONFIG_PAGE_SIZE_4KB=n
CONFIG_SUN4I_TIMER=n
CONFIG_ARCH_SIFIVE=n
CONFIG_QUEUED_RWLOCKS=n
CONFIG_LDISC_AUTOLOAD=n
