CONFIG_PREEMPTIRQ_TRACEPOINTS=y
CONFIG_CRYPTO_CTR=y
CONFIG_SM_DISPCC_6115=y
CONFIG_LEDS_LM3601X=y
CONFIG_ARMADA_37XX_RWTM_MBOX=y
CONFIG_PINCTRL_SH_PFC=y
CONFIG_VIRT_DRIVERS=y
CONFIG_SI7210=y
CONFIG_RD_XZ=y
CONFIG_LEDS_TRIGGER_TTY=y
CONFIG_COMMON_CLK_MT8196_VDECSYS=y
CONFIG_NLS_MAC_ROMANIAN=y
CONFIG_COMMON_CLK_MT8186_CAMSYS=y
CONFIG_ARCH_SUPPORTS_HUGETLBFS=y
CONFIG_COMMON_CLK_MT8183_VENCSYS=y
CONFIG_SYS_SUPPORTS_SH_TMU=y
CONFIG_ARCH_HAS_DEBUG_WX=y
CONFIG_SENSORS_LTC2990=y
CONFIG_ARCH_USE_SYM_ANNOTATIONS=y
CONFIG_ARCH_HAS_DMA_OPS=y
CONFIG_LOCK_MM_AND_FIND_VMA=y
CONFIG_COMMON_CLK_FSL_FLEXSPI=y
CONFIG_SM_VIDEOCC_8550=y
CONFIG_LEDS_USER=y
CONFIG_EVENT_TRACING=y
CONFIG_ARM64_ERRATUM_2139208=y
CONFIG_LEDS_BD2606MVV=y
CONFIG_HAVE_ARM_SMCCC=y
CONFIG_GPIO_MAX732X=y
CONFIG_PRIME_NUMBERS=y
CONFIG_REGULATOR_TPS65132=y
CONFIG_COUNTER=y
CONFIG_COMMON_CLK_C3_PLL=y
CONFIG_TRANS_TABLE=y
CONFIG_MFD_STMPE=y
CONFIG_AD7091R=y
CONFIG_COMMON_CLK_MT8188_VDECSYS=y
CONFIG_ZONE_DEVICE=y
CONFIG_SERIAL_SAMSUNG=y
CONFIG_OWL_TIMER=y
CONFIG_USB_TMC=y
CONFIG_SENSORS_INA3221=y
CONFIG_CMA_DEBUGFS=y
CONFIG_DEBUG_SHIRQ=y
CONFIG_NLS_CODEPAGE_950=y
CONFIG_SERIAL_SAMSUNG_CONSOLE=y
CONFIG_I2C_MUX_REG=y
CONFIG_BMG160_I2C=y
CONFIG_COMMON_CLK_SI514=y
CONFIG_GENERIC_IRQ_SHOW=y
CONFIG_MAX6959=y
CONFIG_QCOM_CPR=y
CONFIG_INPUT_FF_MEMLESS=y
CONFIG_SPLIT_PTE_PTLOCKS=y
CONFIG_PINCTRL_MT8195=y
CONFIG_SYSC_R8A774E1=y
CONFIG_I2C_PXA=y
CONFIG_SENSORS_MP2856=y
CONFIG_DEBUG_OBJECTS_TIMERS=y
CONFIG_GPIO_SHARED_PROXY=y
CONFIG_SAMPLE_TSM_MR=y
CONFIG_DT_IDLE_GENPD=y
CONFIG_ARCH_SUPPORTS_DEBUG_PAGEALLOC=y
CONFIG_RCU_NEED_SEGCBLIST=y
CONFIG_IQS624_POS=y
CONFIG_ARCH_MICROCHIP=y
CONFIG_FTRACE_SELFTEST=y
CONFIG_PHY_RCAR_GEN3_USB2=y
CONFIG_JOYSTICK_PXRC=y
CONFIG_SENSORS_MAX6621=y
CONFIG_REGULATOR_MT6311=y
CONFIG_XARRAY_MULTI=y
CONFIG_BACKLIGHT_BD6107=y
CONFIG_REGULATOR_MAX8893=y
CONFIG_KVM_COMMON=y
CONFIG_SENSORS_PIM4328=y
CONFIG_CLK_R9A07G044=y
CONFIG_LOGO_LINUX_VGA16=y
CONFIG_I2C_MV64XXX=y
CONFIG_USB_RENESAS_USBHS_UDC=y
CONFIG_COMMON_CLK_MT7986=y
CONFIG_DEBUG_INFO_COMPRESSED_NONE=y
CONFIG_HAVE_ARCH_KASAN_VMALLOC=y
CONFIG_GPIO_MAX730X=y
CONFIG_INPUT_MOUSEDEV_PSAUX=y
CONFIG_COMMON_CLK_MESON_PLL=y
CONFIG_ARM_SCMI_TRANSPORT_SMC_ATOMIC_ENABLE=y
CONFIG_CPU_LITTLE_ENDIAN=y
CONFIG_CLK_QCM2290_GPUCC=y
CONFIG_FTRACE_SYSCALLS=y
CONFIG_FTRACE_MCOUNT_USE_PATCHABLE_FUNCTION_ENTRY=y
CONFIG_CRYPTO_CCM=y
CONFIG_USB_UHCI_ASPEED=y
CONFIG_NVIDIA_CORESIGHT_PMU_ARCH_SYSTEM_PMU=y
CONFIG_KERNEL_MODE_NEON=y
CONFIG_SC_GCC_8180X=y
CONFIG_CLK_KAANAPALI_CAMCC=y
CONFIG_GOOGLE_FIRMWARE=y
CONFIG_FSI_MASTER_AST_CF=y
CONFIG_HAVE_ARCH_KASAN=y
CONFIG_HW_RANDOM_BA431=y
CONFIG_BATTERY_88PM860X=y
CONFIG_TASKS_RCU_GENERIC=y
CONFIG_HAVE_POSIX_CPU_TIMERS_TASK_WORK=y
CONFIG_HAS_SEPARATE_PREEMPT_RESCHED_BITS=y
CONFIG_ARM64_ERRATUM_827319=y
CONFIG_PINCTRL_MT8192=y
CONFIG_MFD_MAX77693=y
CONFIG_HAVE_CLK_PREPARE=y
CONFIG_CRYPTO_JITTERENTROPY=y
CONFIG_SENSORS_NCT7363=y
CONFIG_IOMMU_IO_PGTABLE_ARMV7S_SELFTEST=y
CONFIG_HDC100X=y
CONFIG_FXOS8700=y
CONFIG_RENESAS_RZG2L_IRQC=y
CONFIG_HAVE_FUNCTION_ARG_ACCESS_API=y
CONFIG_XEN_PRIVCMD=y
CONFIG_BACKLIGHT_SKY81452=y
CONFIG_SERIAL_EARLYCON=y
CONFIG_DYNAMIC_FTRACE_WITH_DIRECT_CALLS=y
CONFIG_COMMON_CLK_S4_PLL=y
CONFIG_ASPEED_P2A_CTRL=y
CONFIG_NVHE_EL2_DEBUG=y
CONFIG_PHY_RZ_G3E_USB3=y
CONFIG_ARM_CCA_GUEST=y
CONFIG_ARCH_ENABLE_MEMORY_HOTPLUG=y
CONFIG_ROCKCHIP_ERRATUM_3588001=y
CONFIG_IOMMU_IO_PGTABLE_DART=y
CONFIG_CODE_TAGGING=y
CONFIG_STM32_DAC_CORE=y
CONFIG_FTRACE=y
CONFIG_SENSORS_ATXP1=y
CONFIG_I2C_FSI=y
CONFIG_THERMAL_OF=y
CONFIG_XEN_DOM0=y
CONFIG_ITG3200=y
CONFIG_KEYBOARD_GPIO=y
CONFIG_SPARSEMEM=y
CONFIG_ARCH_SUPPORTS_KEXEC_HANDOVER=y
CONFIG_MFD_ACT8945A=y
CONFIG_SI1133=y
CONFIG_BINARY_PRINTF=y
CONFIG_REGULATOR_MT6323=y
CONFIG_BATTERY_DS2781=y
CONFIG_USB_COMMON=y
CONFIG_TPS65010=y
CONFIG_KXSD9=y
CONFIG_REGULATOR_DA9211=y
CONFIG_ARM_SCMI_TRANSPORT_VIRTIO=y
CONFIG_QUOTA=y
CONFIG_DA9055_WATCHDOG=y
CONFIG_CRC7=y
CONFIG_MFD_LP3943=y
CONFIG_HAVE_KRETPROBES=y
CONFIG_IPQ_APSS_PLL=y
CONFIG_COMMON_CLK_MT6735=y
CONFIG_AOSONG_AGS02MA=y
CONFIG_W1_SLAVE_DS2408_READBACK=y
CONFIG_JOYSTICK_STINGER=y
CONFIG_CRYPTO_DEFLATE=y
CONFIG_DMABUF_HEAPS_SYSTEM=y
CONFIG_THERMAL_DEFAULT_GOV_FAIR_SHARE=y
CONFIG_GPIO_XGENE_SB=y
CONFIG_SENSORS_ADT7411=y
CONFIG_GCOV_PROFILE_FTRACE=y
CONFIG_LIBFDT=y
CONFIG_QORIQ_THERMAL=y
CONFIG_MFD_CS40L50_CORE=y
CONFIG_EXTCON_MAX77693=y
CONFIG_CLK_R8A77980=y
CONFIG_NLS_MAC_CELTIC=y
CONFIG_OF_RESOLVE=y
CONFIG_ARCH_SUPPORTS_CFI=y
CONFIG_COMMON_CLK_MT6779_VENCSYS=y
CONFIG_ROHM_BU27034=y
CONFIG_LEDS_LM3697=y
CONFIG_ARM_GIC_V3_ITS=y
CONFIG_PINCTRL_MT6893=y
CONFIG_USB_OHCI_HCD_PLATFORM=y
CONFIG_CRYPTO_MANAGER=y
CONFIG_REGULATOR_MT6397=y
CONFIG_MEMBLOCK_KHO_SCRATCH=y
CONFIG_AD7291=y
CONFIG_GENERIC_TRACER=y
CONFIG_MFD_TPS6594_I2C=y
CONFIG_I2C_OCORES=y
CONFIG_SENSORS_CROS_EC=y
CONFIG_PINCTRL_MT6765=y
CONFIG_PECI_ASPEED=y
CONFIG_KEYBOARD_LKKBD=y
CONFIG_CLZ_TAB=y
CONFIG_THERMAL_HWMON=y
CONFIG_PKCS7_WAIVE_AUTHATTRS_REJECTION_FOR_MLDSA=y
CONFIG_STM32_DMAMUX=y
CONFIG_HARDIRQS_SW_RESEND=y
CONFIG_CRYPTO_MD4=y
CONFIG_PINCTRL_SX150X=y
CONFIG_CONTEXT_TRACKING_IDLE=y
CONFIG_ARM64_ERRATUM_834220=y
CONFIG_XEN_BACKEND=y
CONFIG_USB=y
CONFIG_CRYPTO_842=y
CONFIG_ZONE_DMA=y
CONFIG_GENERIC_GETTIMEOFDAY=y
CONFIG_USB_G_SERIAL=y
CONFIG_GENERIC_CSUM=y
CONFIG_SENSORS_LT7182S=y
CONFIG_KEYBOARD_MTK_PMIC=y
CONFIG_DMA_NONCOHERENT_MMAP=y
CONFIG_CRYPTO_SIG2=y
CONFIG_REGULATOR_MP5416=y
CONFIG_BCMA_POSSIBLE=y
CONFIG_PHY_CADENCE_DPHY_RX=y
CONFIG_MFD_CS40L50_I2C=y
CONFIG_LEDS_AW2013=y
CONFIG_COMMON_CLK_MT6797_IMGSYS=y
CONFIG_NTSYNC=y
CONFIG_BATTERY_BQ27XXX_I2C=y
CONFIG_TMP006=y
CONFIG_IOMMU_IO_PGTABLE=y
CONFIG_GENERIC_IRQ_SHOW_LEVEL=y
CONFIG_JSA1212=y
CONFIG_SENSORS_SCH5636=y
CONFIG_ALS31300=y
CONFIG_I2C_MUX_MULE=y
CONFIG_REGULATOR_STPMIC1=y
CONFIG_SENSORS_TMP421=y
CONFIG_UNINLINE_SPIN_UNLOCK=y
CONFIG_LOCK_SPIN_ON_OWNER=y
CONFIG_SENSORS_LTC2947_I2C=y
CONFIG_RANDOMIZE_KSTACK_OFFSET=y
CONFIG_COMMON_CLK_MT8192_SCP_ADSP=y
CONFIG_EC_QCOM_HAMOA=y
CONFIG_PM_OPP=y
CONFIG_HAVE_EFFICIENT_UNALIGNED_ACCESS=y
CONFIG_DEBUG_ATOMIC_LARGEST_ALIGN=y
CONFIG_RESET_ZYNQMP=y
CONFIG_MAX9611=y
CONFIG_RING_BUFFER=y
CONFIG_PINCTRL_S32CC=y
CONFIG_MTK_INFRACFG=y
CONFIG_ARCH_KEEMBAY=y
CONFIG_EC_LENOVO_THINKPAD_T14S=y
CONFIG_HAVE_HARDLOCKUP_DETECTOR_BUDDY=y
CONFIG_USB_EHCI_ROOT_HUB_TT=y
CONFIG_ARM_CCI_PMU=y
CONFIG_STM32_WATCHDOG=y
CONFIG_STACKTRACE=y
CONFIG_XLNX_EVENT_MANAGER=y
CONFIG_IIO_ST_LSM6DSX_I2C=y
CONFIG_DS4424=y
CONFIG_ARM_NI=y
CONFIG_QCOM_TZMEM=y
CONFIG_RZ_DMAC=y
CONFIG_PXA_DMA=y
CONFIG_PINCTRL_MA35=y
CONFIG_KEYBOARD_TWL4030=y
CONFIG_CRYPTO_DH=y
CONFIG_MMA7660=y
CONFIG_IOMMU_SUPPORT=y
CONFIG_ARCH_HAS_SET_DIRECT_MAP=y
CONFIG_XENFS=y
CONFIG_MFD_ATC260X_I2C=y
CONFIG_DEBUG_MUTEXES=y
CONFIG_PHY_MTK_MIPI_DSI=y
CONFIG_COMMON_CLK_MT7986_ETHSYS=y
CONFIG_NLS_ISO8859_5=y
CONFIG_I2C_VIRTIO=y
CONFIG_STM32_RPROC=y
CONFIG_TRUSTED_KEYS_TEE=y
CONFIG_QCOM_WDT=y
CONFIG_SYS_SUPPORTS_SH_CMT=y
CONFIG_DA9052_WATCHDOG=y
CONFIG_INIT_STACK_ALL_PATTERN=y
CONFIG_COMMON_CLK=y
CONFIG_C2PORT=y
CONFIG_ALTERA_MSGDMA=y
CONFIG_RPMSG_VIRTIO=y
CONFIG_AL3000A=y
CONFIG_OID_REGISTRY=y
CONFIG_RPMSG_NS=y
CONFIG_I2C_SMBUS=y
CONFIG_PINCTRL_AC5=y
CONFIG_REGULATOR_TPS62360=y
CONFIG_UNMAP_KERNEL_AT_EL0=y
CONFIG_ARCH_HAS_CPU_CACHE_INVALIDATE_MEMREGION=y
CONFIG_AUTOFS_FS=y
CONFIG_PAC1934=y
CONFIG_BATTERY_GAUGE_LTC2941=y
CONFIG_SRAM=y
CONFIG_MTK_CPUX_TIMER=y
CONFIG_COMMON_CLK_MAX9485=y
CONFIG_GENERIC_CPU_CACHE_MAINTENANCE=y
CONFIG_LIVEUPDATE_MEMFD=y
CONFIG_AMD_SBTSI=y
CONFIG_HW_RANDOM_TIMERIOMEM=y
CONFIG_CORESIGHT_CTCU=y
CONFIG_MOST=y
CONFIG_ARCH_SUPPORTS_ATOMIC_RMW=y
CONFIG_CRYPTO_XCBC=y
CONFIG_SENSORS_AXI_FAN_CONTROL=y
CONFIG_VEML6075=y
CONFIG_SENSORS_LM87=y
CONFIG_CORESIGHT=y
CONFIG_BMA180=y
CONFIG_ARM_SMMU_V3_PMU=y
CONFIG_XEN_XENBUS_FRONTEND=y
CONFIG_ARCH_USE_CMPXCHG_LOCKREF=y
CONFIG_ARCH_R8A77980=y
CONFIG_COMMON_CLK_MT6735_MFGCFG=y
CONFIG_SERIAL_CONEXANT_DIGICOLOR_CONSOLE=y
CONFIG_IIO_BUFFER_HW_CONSUMER=y
CONFIG_NLS_ISO8859_1=y
CONFIG_XZ_DEC_MICROLZMA=y
CONFIG_GPIO_MAX7300=y
CONFIG_QCOM_APCS_IPC=y
CONFIG_DEBUG_BUGVERBOSE=y
CONFIG_ARCH_HAS_SYNC_DMA_FOR_DEVICE=y
CONFIG_REGULATOR_MT6358=y
CONFIG_SENSORS_RM3100_I2C=y
CONFIG_OVERLAY_FS=y
CONFIG_NLS_CODEPAGE_932=y
CONFIG_SENSORS_PT5161L=y
CONFIG_VCNL4000=y
CONFIG_QCOM_PAS=y
CONFIG_CLK_RZG2L=y
CONFIG_PINCTRL_SKY1_BASE=y
CONFIG_USBPCWATCHDOG=y
CONFIG_DW_AXI_DMAC=y
CONFIG_KEXEC_CORE=y
CONFIG_CORESIGHT_LINK_AND_SINK_TMC=y
CONFIG_W1_MASTER_DS2482=y
CONFIG_PHY_UNIPHIER_PCIE=y
CONFIG_ARCH_SPARSEMEM_ENABLE=y
CONFIG_HAVE_EBPF_JIT=y
CONFIG_ASPEED_UART_ROUTING=y
CONFIG_SERIO_LIBPS2=y
CONFIG_REGMAP_MMIO=y
CONFIG_KXCJK1013=y
CONFIG_THERMAL=y
CONFIG_HAVE_PERF_EVENTS=y
CONFIG_PREEMPT_RCU=y
CONFIG_FB_BIG_ENDIAN=y
CONFIG_PARPORT_PANEL=y
CONFIG_GPIO_SIOX=y
CONFIG_DEBUG_VIRTUAL=y
CONFIG_CPU_IDLE_MULTIPLE_DRIVERS=y
CONFIG_WQ_CPU_INTENSIVE_REPORT=y
CONFIG_MFD_KEMPLD=y
CONFIG_JOYSTICK_TWIDJOY=y
CONFIG_ARM_PSCI_CPUIDLE=y
CONFIG_XILINX_AMS=y
CONFIG_MFD_ROHM_PWRBUTTON=y
CONFIG_SENSORS_BH1770=y
CONFIG_ARCH_SUPPORTS_MEMORY_FAILURE=y
CONFIG_BACKLIGHT_AW99706=y
CONFIG_KALLSYMS_ALL=y
CONFIG_GNSS_MTK_SERIAL=y
CONFIG_ARCH_HAS_CURRENT_STACK_POINTER=y
CONFIG_TRUSTED_KEYS=y
CONFIG_XEN_FBDEV_FRONTEND=y
CONFIG_IQS621_ALS=y
CONFIG_HSC030PA=y
CONFIG_GUEST_PERF_EVENTS=y
CONFIG_I2C_ARB_GPIO_CHALLENGE=y
CONFIG_ARCH_BITMAIN=y
CONFIG_MSM_GCC_8953=y
CONFIG_FW_LOADER_USER_HELPER=y
CONFIG_SENSORS_MP2891=y
CONFIG_ENS160_I2C=y
CONFIG_HAS_DMA=y
CONFIG_DECOMPRESS_BZIP2=y
CONFIG_PERSISTENT_KEYRINGS=y
CONFIG_SENSORS_DPS920AB=y
CONFIG_NLS_MAC_ROMAN=y
CONFIG_GPIOLIB_IRQCHIP=y
CONFIG_IPQ_GCC_5424=y
CONFIG_MFD_88PM805=y
CONFIG_REGULATOR_TPS6105X=y
CONFIG_DMA_API_DEBUG=y
CONFIG_SENSORS_MP2975=y
CONFIG_PINCTRL_MCP23S08=y
CONFIG_ARCH_APPLE=y
CONFIG_NAU7802=y
CONFIG_SENSORS_EMC2305=y
CONFIG_HW_RANDOM_ARM_SMCCC_TRNG=y
CONFIG_BACKLIGHT_ARCXCNN=y
CONFIG_LEDS_88PM860X=y
CONFIG_ARCH_HAS_UBSAN=y
CONFIG_LEDS_LM3642=y
CONFIG_PROC_MEM_FORCE_PTRACE=y
CONFIG_SAMPLE_LANDLOCK=y
CONFIG_NLS_CODEPAGE_869=y
CONFIG_ADJD_S311=y
CONFIG_ISL76682=y
CONFIG_SYSTEM_EXTRA_CERTIFICATE=y
CONFIG_TASKS_RCU=y
CONFIG_MFD_WM831X_I2C=y
CONFIG_FW_LOADER=y
CONFIG_TOOLS_SUPPORT_RELR=y
CONFIG_IPMI_KCS_BMC_CDEV_IPMI=y
CONFIG_GPIO_MACSMC=y
CONFIG_KEYBOARD_MPR121=y
CONFIG_SENSORS_AHT10=y
CONFIG_RESET_UNIPHIER=y
CONFIG_HAVE_GUP_FAST=y
CONFIG_GPIO_KEMPLD=y
CONFIG_LEDS_LM3692X=y
CONFIG_COMMON_CLK_A9_AO=y
CONFIG_LEDS_PCA9532_GPIO=y
CONFIG_I2C_BOARDINFO=y
CONFIG_MSM_GPUCC_8998=y
CONFIG_SUN55I_PCK600=y
CONFIG_LIDAR_LITE_V2=y
CONFIG_DEVFREQ_GOV_POWERSAVE=y
CONFIG_PINCTRL_MT8173=y
CONFIG_IPMI_PANIC_EVENT=y
CONFIG_BUG_ON_DATA_CORRUPTION=y
CONFIG_SENSORS_NCT6683=y
CONFIG_NVMEM_SPMI_SDAM=y
CONFIG_SERIO_GPIO_PS2=y
CONFIG_LEDS_TRIGGER_ACTIVITY=y
CONFIG_PL330_DMA=y
CONFIG_RESET_ASPEED=y
CONFIG_IIO_MS_SENSORS_I2C=y
CONFIG_POWER_RESET_RESTART=y
CONFIG_PINCTRL_SUN50I_A64=y
CONFIG_COMMON_CLK_A1_PERIPHERALS=y
CONFIG_MAX44009=y
CONFIG_USB_OTG_FSM=y
CONFIG_COMMON_CLK_MEDIATEK=y
CONFIG_CLK_GFM_LPASS_SM8250=y
CONFIG_SMP=y
CONFIG_SENSORS_IRPS5401=y
CONFIG_GPIO_LINE_MUX=y
CONFIG_CPU_MITIGATIONS=y
CONFIG_TSM_MEASUREMENTS=y
CONFIG_ARM64_PA_BITS_48=y
CONFIG_SENSORS_SG2042_MCU=y
CONFIG_DYNAMIC_FTRACE_WITH_ARGS=y
CONFIG_ARM_SCMI_HAVE_SHMEM=y
CONFIG_BMI270_I2C=y
CONFIG_RN5T618_ADC=y
CONFIG_STM32_MDMA=y
CONFIG_DYNAMIC_FTRACE_WITH_CALL_OPS=y
CONFIG_W1_SLAVE_DS2405=y
CONFIG_USB_EMI26=y
CONFIG_RCAR_MFIS=y
CONFIG_SURFACE_PLATFORMS=y
CONFIG_HAVE_ARCH_SECCOMP=y
CONFIG_SIOX=y
CONFIG_IRQ_POLL=y
CONFIG_GENERIC_ADC_THERMAL=y
CONFIG_ARCH_S32=y
CONFIG_EXECMEM=y
CONFIG_DPAA2_CONSOLE=y
CONFIG_UNIX98_PTYS=y
CONFIG_QCOM_SPMI_RRADC=y
CONFIG_MTK_LVTS_THERMAL=y
CONFIG_SERIAL_EARLYCON_SEMIHOST=y
CONFIG_SIMPLE_RING_BUFFER=y
CONFIG_DMABUF_HEAPS=y
CONFIG_COMMON_CLK_MESON_SCLK_DIV=y
CONFIG_COMMON_CLK_MT8186_MDPSYS=y
CONFIG_CHROME_PLATFORMS=y
CONFIG_FPGA_MGR_VERSAL_FPGA=y
CONFIG_AD5446=y
CONFIG_SERIO=y
CONFIG_AD5593R=y
CONFIG_SCHED_CLASS_EXT=y
CONFIG_ABP060MG=y
CONFIG_NVMEM_UNIPHIER_EFUSE=y
CONFIG_NVMEM_RAVE_SP_EEPROM=y
CONFIG_GENERIC_SCHED_CLOCK=y
CONFIG_MFD_WM8994=y
CONFIG_NLS_MAC_ICELAND=y
CONFIG_POWER_RESET_GPIO=y
CONFIG_CDNS_I3C_MASTER=y
CONFIG_W1_SLAVE_DS2413=y
CONFIG_ARM_SCMI_TRANSPORT_MAILBOX=y
CONFIG_COMMON_CLK_MESON_AO_CLKC=y
CONFIG_NLS_KOI8_R=y
CONFIG_PHY_MTK_XFI_TPHY=y
CONFIG_ARCH_HAS_SYNC_DMA_FOR_CPU=y
CONFIG_REGULATOR_RT6245=y
CONFIG_CRYPTO_GENIV=y
CONFIG_DMA_DIRECT_REMAP=y
CONFIG_NLS_CODEPAGE_861=y
CONFIG_FW_LOADER_PAGED_BUF=y
CONFIG_CRYPTO_LIB_AES_XTS=y
CONFIG_CRYPTO_SIG=y
CONFIG_MFD_SI476X_CORE=y
CONFIG_SERIO_SUN4I_PS2=y
CONFIG_BOOT_CONFIG=y
CONFIG_USB_UHCI_SUPPORT_NON_PCI_HC=y
CONFIG_SENSORS_NPCM7XX=y
CONFIG_MFD_MT6397=y
CONFIG_PAC1921=y
CONFIG_COMMON_CLK_GXBB=y
CONFIG_HAVE_FUNCTION_ERROR_INJECTION=y
