CONFIG_DEBUG_BOOT_PARAMS=n
CONFIG_SGL_ALLOC=n
CONFIG_PAGE_SIZE_4KB=n
CONFIG_GCC10_NO_ARRAY_BOUNDS=n
CONFIG_XZ_DEC_ARM=n
CONFIG_BINFMT_SCRIPT=n
CONFIG_NF_CONNTRACK_FTP=n
CONFIG_BPF=n
CONFIG_EFI_PARTITION=n
CONFIG_SERIAL_8250_PCI=n
CONFIG_CC_HAS_RETURN_THUNK=n
CONFIG_HUGETLB_PAGE=n
CONFIG_CRYPTO_SIG2=n
CONFIG_SYSCTL_EXCEPTION_TRACE=n
CONFIG_NF_CONNTRACK=n
CONFIG_ACPI_BATTERY=n
CONFIG_NO_HZ=n
CONFIG_ARCH_VMLINUX_NEEDS_RELOCS=n
CONFIG_IP_PNP=n
CONFIG_USB_NET_DRIVERS=n
CONFIG_EFI_CAPSULE_LOADER=n
CONFIG_RELOCATABLE=n
CONFIG_CRYPTO_LIB_ARC4=n
CONFIG_NEED_TASKS_RCU=n
CONFIG_INPUT_JOYSTICK=n
CONFIG_HAVE_ARCH_MMAP_RND_BITS=n
CONFIG_XZ_DEC=n
CONFIG_BLK_CGROUP_IOCOST=n
CONFIG_IOMMU_SUPPORT=n
CONFIG_NLS_ISO8859_1=n
CONFIG_IRQ_WORK=n
CONFIG_PCI_DIRECT=n
CONFIG_DECOMPRESS_LZMA=n
CONFIG_MMU_GATHER_TABLE_FREE=n
CONFIG_NET_FLOW_LIMIT=n
CONFIG_IOMMU_API=n
CONFIG_CPUFREQ_ARCH_CUR_FREQ=n
CONFIG_USB_ARCH_HAS_HCD=n
CONFIG_ZONE_DMA=n
CONFIG_LOCKD_V4=n
CONFIG_CPU_FREQ_GOV_COMMON=n
CONFIG_MAC_EMUMOUSEBTN=n
CONFIG_WLAN_VENDOR_MEDIATEK=n
CONFIG_NFS_USE_KERNEL_DNS=n
CONFIG_THERMAL_GOV_STEP_WISE=n
CONFIG_NETFILTER_XT_TARGET_MASQUERADE=n
CONFIG_QFMT_V2=n
CONFIG_ARCH_HAS_DELAY_TIMER=n
CONFIG_VT=n
CONFIG_TIME_NS_VDSO=n
CONFIG_PM_TRACE_RTC=n
CONFIG_SCHED_MC_PRIO=n
CONFIG_THREAD_INFO_IN_TASK=n
CONFIG_ARCH_MAY_HAVE_PC_FDC=n
CONFIG_PNFS_FILE_LAYOUT=n
CONFIG_ACPI_PROCESSOR_IDLE=n
CONFIG_UNIX98_PTYS=n
CONFIG_PCCARD=n
CONFIG_NET_VENDOR_STMICRO=n
CONFIG_NET_VENDOR_SOCIONEXT=n
CONFIG_HAVE_ATOMIC_IOMAP=n
CONFIG_CRYPTO_LIB_AES_CTR=n
CONFIG_CHECK_SIGNATURE=n
CONFIG_EXT4_FS_SECURITY=n
CONFIG_INET6_ESP=n
CONFIG_SECTION_MISMATCH_WARN_ONLY=n
CONFIG_ARCH_HAS_ELF_RANDOMIZE=n
CONFIG_CRC_OPTIMIZATIONS=n
CONFIG_POWER_SUPPLY_HWMON=n
CONFIG_9P_FS=n
CONFIG_RING_BUFFER=n
CONFIG_KEYBOARD_ATKBD=n
CONFIG_TCP_MD5SIG=n
CONFIG_RTC_I2C_AND_SPI=n
CONFIG_NETCONSOLE=n
CONFIG_X86=n
CONFIG_NETFILTER_XT_TARGET_LOG=n
CONFIG_SERIAL_8250_RSA=n
CONFIG_HAVE_ARCH_SECCOMP_FILTER=n
CONFIG_X86_DISABLED_FEATURE_SYSCALL32=n
CONFIG_EEEPC_LAPTOP=n
CONFIG_WLAN_VENDOR_REALTEK=n
CONFIG_HAVE_GENERIC_TIF_BITS=n
CONFIG_X86_IOPL_IOPERM=n
CONFIG_ZLIB_INFLATE=n
CONFIG_NF_NAT_MASQUERADE=n
CONFIG_ARCH_HAS_UBSAN=n
CONFIG_IRQ_DOMAIN_HIERARCHY=n
CONFIG_USB_EHCI_TT_NEWSCHED=n
CONFIG_DNOTIFY=n
CONFIG_VIRTIO_PCI=n
CONFIG_VFAT_FS=n
CONFIG_BUILDTIME_TABLE_SORT=n
CONFIG_ACPI_THERMAL_LIB=n
CONFIG_XZ_DEC_SPARC=n
CONFIG_PATA_MPIIX=n
CONFIG_SND_VMASTER=n
CONFIG_PREEMPT_COUNT=n
CONFIG_NET_VENDOR_MICROSEMI=n
CONFIG_XXHASH=n
CONFIG_DRM_KMS_HELPER=n
CONFIG_INPUT_LEDS=n
CONFIG_X86_CMOV=n
CONFIG_ARCH_SUPPORTS_ACPI=n
CONFIG_IPC_NS=n
CONFIG_BQL=n
CONFIG_NET_VENDOR_ENGLEDER=n
CONFIG_VMCORE_INFO=n
CONFIG_CRYPTO_HMAC=n
CONFIG_NOP_TRACER=n
CONFIG_SUNRPC_GSS=n
CONFIG_X86_ACPI_CPUFREQ_CPB=n
CONFIG_HAVE_MOVE_PUD=n
CONFIG_PT_RECLAIM=n
CONFIG_X86_PLATFORM_DEVICES=n
CONFIG_COMPACTION=n
CONFIG_X86_PKG_TEMP_THERMAL=n
CONFIG_HAVE_KERNEL_BZIP2=n
CONFIG_RSEQ=n
CONFIG_INPUT_KEYBOARD=n
CONFIG_IA32_FEAT_CTL=n
CONFIG_CGROUPS=n
CONFIG_NETFILTER_XT_TARGET_SECMARK=n
CONFIG_BNX2=n
CONFIG_TRACEFS_AUTOMOUNT_DEPRECATED=n
CONFIG_DEBUG_KERNEL=n
CONFIG_PATA_OLDPIIX=n
CONFIG_LZO_COMPRESS=n
CONFIG_AS_WRUSS=n
CONFIG_MOUSE_PS2_LOGIPS2PP=n
CONFIG_ACPI_VIDEO=n
CONFIG_MSDOS_FS=n
CONFIG_SYSVIPC_SYSCTL=n
CONFIG_SERIAL_CORE_CONSOLE=n
CONFIG_ARCH_HAS_NON_OVERLAPPING_ADDRESS_SPACE=n
CONFIG_DQL=n
CONFIG_NET_VENDOR_NVIDIA=n
CONFIG_PROC_EVENTS=n
CONFIG_UTS_NS=n
CONFIG_PRINTK_TIME=n
CONFIG_HID_PID=n
CONFIG_X86_PAT=n
CONFIG_CRYPTO_GENIV=n
CONFIG_X86_PM_TIMER=n
CONFIG_MITIGATION_SRBDS=n
CONFIG_NET_VENDOR_NETRONOME=n
CONFIG_ASYMMETRIC_PUBLIC_KEY_SUBTYPE=n
CONFIG_GENERIC_CPU_AUTOPROBE=n
CONFIG_X86_DEBUG_FPU=n
CONFIG_SND_PCM=n
CONFIG_LEGACY_DIRECT_IO=n
CONFIG_VT_CONSOLE_SLEEP=n
CONFIG_NF_DEFRAG_IPV6=n
CONFIG_VIRTIO_INPUT=n
CONFIG_CRC32_ARCH=n
CONFIG_SND_PCM_TIMER=n
CONFIG_DRM_PANEL_ORIENTATION_QUIRKS=n
CONFIG_EFI_ESRT=n
CONFIG_NET_VENDOR_AMAZON=n
CONFIG_NFS_V3=n
CONFIG_8139TOO=n
CONFIG_HAVE_ARCH_RANDOMIZE_KSTACK_OFFSET=n
CONFIG_X86_MCE_INTEL=n
CONFIG_BLK_DEV_IO_TRACE=n
CONFIG_GENERIC_MSI_IRQ=n
CONFIG_HW_RANDOM_VIA=n
CONFIG_CRYPTO_ACOMP2=n
CONFIG_STRICT_KERNEL_RWX=n
CONFIG_NET_VENDOR_SYNOPSYS=n
CONFIG_CPU_FREQ=n
CONFIG_CRYPTO_MANAGER=n
CONFIG_ACPI_WMI=n
CONFIG_FRAME_POINTER=n
CONFIG_NE2K_PCI=n
CONFIG_DYNAMIC_SIGFRAME=n
CONFIG_POWER_SUPPLY=n
CONFIG_ZSTD_COMMON=n
CONFIG_CC_HAS_WORKING_NOSANITIZE_ADDRESS=n
CONFIG_NET_VENDOR_FUNGIBLE=n
CONFIG_ARCH_HAS_ACPI_TABLE_UPGRADE=n
CONFIG_PCI_DOMAINS=n
CONFIG_NF_LOG_IPV4=n
CONFIG_ARCH_HAVE_EXTRA_ELF_NOTES=n
CONFIG_DEBUG_FS_ALLOW_ALL=n
CONFIG_RD_ZSTD=n
CONFIG_CC_HAS_AUTO_VAR_INIT_PATTERN=n
CONFIG_THERMAL_NETLINK=n
CONFIG_ACPI_DEBUG=n
CONFIG_HAVE_BUILDTIME_MCOUNT_SORT=n
CONFIG_TICK_CPU_ACCOUNTING=n
CONFIG_KPROBES=n
CONFIG_HDMI=n
CONFIG_CRYPTO_MANAGER2=n
CONFIG_HZ_1000=n
CONFIG_MICROCODE_INITRD32=n
CONFIG_ISA_DMA_API=n
CONFIG_SOCK_RX_QUEUE_MAPPING=n
CONFIG_PCIE_PME=n
CONFIG_VIRTIO_PCI_LEGACY=n
CONFIG_GPIOLIB_LEGACY=n
CONFIG_STACKTRACE_SUPPORT=n
CONFIG_ACPI_TABLE_UPGRADE=n
CONFIG_NLS_ASCII=n
CONFIG_X86_REQUIRED_FEATURE_ALWAYS=n
CONFIG_FORCEDETH=n
CONFIG_KEXEC_CORE=n
CONFIG_HAVE_ASM_MODVERSIONS=n
CONFIG_HAVE_UID16=n
CONFIG_BSD_PROCESS_ACCT=n
CONFIG_PCIEASPM=n
CONFIG_AUTOFS_FS=n
CONFIG_HIBERNATION_SNAPSHOT_DEV=n
CONFIG_NET_VENDOR_ALACRITECH=n
CONFIG_SCHEDSTATS=n
CONFIG_HW_RANDOM_GEODE=n
CONFIG_X86_DISABLED_FEATURE_PKU=n
CONFIG_NET_PTP_CLASSIFY=n
CONFIG_CRYPTO_HASH_INFO=n
CONFIG_CGROUP_NET_PRIO=n
CONFIG_DMIID=n
CONFIG_SCSI_SPI_ATTRS=n
CONFIG_PADATA=n
CONFIG_SERIAL_8250_SHARE_IRQ=n
CONFIG_TREE_SRCU=n
CONFIG_SND_HDA_HWDEP=n
CONFIG_PNPACPI=n
CONFIG_DRM_VIRTIO_GPU=n
CONFIG_X86_DISABLED_FEATURE_RETHUNK=n
CONFIG_NET_VENDOR_ADAPTEC=n
CONFIG_CRYPTO_CCM=n
CONFIG_CPU_SUP_VORTEX_32=n
CONFIG_KRETPROBE_ON_RETHOOK=n
CONFIG_ARCH_SUPPORTS_KMAP_LOCAL_FORCE_MAP=n
CONFIG_XZ_DEC_ARMTHUMB=n
CONFIG_HAVE_DEBUG_STACKOVERFLOW=n
CONFIG_X86_NEED_RELOCS=n
CONFIG_INPUT_TABLET=n
CONFIG_CGROUP_HUGETLB=n
CONFIG_WLAN_VENDOR_TI=n
CONFIG_SND_HDA_CORE=n
CONFIG_PCMCIA_LOAD_CIS=n
CONFIG_NET_FAILOVER=n
CONFIG_IO_WQ=n
CONFIG_CRYPTO_CTR=n
CONFIG_ARCH_HAS_SET_MEMORY=n
CONFIG_MODULES_USE_ELF_REL=n
CONFIG_INOTIFY_USER=n
CONFIG_X86_IO_APIC=n
CONFIG_E100=n
CONFIG_JUMP_LABEL=n
CONFIG_HIDRAW=n
CONFIG_RD_LZMA=n
CONFIG_HW_RANDOM_INTEL=n
CONFIG_ACPI_REV_OVERRIDE_POSSIBLE=n
CONFIG_DYNAMIC_EVENTS=n
CONFIG_CRYPTO_CTS=n
CONFIG_GENERIC_IRQ_EFFECTIVE_AFF_MASK=n
CONFIG_HAVE_PERF_EVENTS=n
CONFIG_ARCH_USE_QUEUED_SPINLOCKS=n
CONFIG_CRYPTO_SIG=n
CONFIG_NET_VENDOR_ZTE=n
CONFIG_ARCH_HAS_DEVMEM_IS_ALLOWED=n
CONFIG_CLOCKSOURCE_WATCHDOG=n
CONFIG_NET_VENDOR_XIRCOM=n
CONFIG_USB_XHCI_PCI=n
CONFIG_HAVE_ARCH_KGDB=n
CONFIG_NET_TULIP=n
CONFIG_GENERIC_CLOCKEVENTS=n
CONFIG_YENTA_O2=n
CONFIG_NLATTR=n
CONFIG_GENERIC_CALIBRATE_DELAY=n
CONFIG_NET_VENDOR_CISCO=n
CONFIG_MOUSE_PS2_BYD=n
CONFIG_SND_HDA_INTEL=n
CONFIG_UNWINDER_FRAME_POINTER=n
CONFIG_VIRTIO_CONSOLE=n
CONFIG_TIME_NS=n
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO=n
CONFIG_ETHTOOL_NETLINK=n
CONFIG_CC_HAS_NO_PROFILE_FN_ATTR=n
CONFIG_NET_VENDOR_SOLARFLARE=n
CONFIG_SYSCALL_USER_DISPATCH=n
CONFIG_USB_UHCI_HCD=n
CONFIG_HAVE_FUNCTION_GRAPH_TRACER=n
CONFIG_SND_INTEL_NHLT=n
CONFIG_EFI_STUB=n
CONFIG_GENERIC_IRQ_MATRIX_ALLOCATOR=n
CONFIG_NET_VENDOR_WIZNET=n
CONFIG_SPARSE_IRQ=n
CONFIG_AUDIT_GENERIC=n
CONFIG_PNFS_FLEXFILE_LAYOUT=n
CONFIG_NF_DEFRAG_IPV4=n
CONFIG_AGP_INTEL=n
CONFIG_ARCH_CPUIDLE_HALTPOLL=n
CONFIG_PATA_TIMINGS=n
CONFIG_EXT4_USE_FOR_EXT2=n
CONFIG_HOTPLUG_SPLIT_STARTUP=n
CONFIG_CONSOLE_TRANSLATIONS=n
CONFIG_NET_VENDOR_BROCADE=n
CONFIG_NLS_CODEPAGE_437=n
