CONFIG_NET_VENDOR_ARC=n
CONFIG_NET_VENDOR_XILINX=n
CONFIG_HAVE_PERF_USER_STACK_DUMP=n
CONFIG_CRYPTO_LIB_SHA256=n
CONFIG_GENERIC_CALIBRATE_DELAY=n
CONFIG_R8169=n
CONFIG_XFRM_AH=n
CONFIG_BLOCK_LEGACY_AUTOLOAD=n
CONFIG_SECURITY_NETWORK=n
CONFIG_TASKS_RCU_GENERIC=n
CONFIG_NET_VENDOR_BROADCOM=n
CONFIG_WLAN_VENDOR_ADMTEK=n
CONFIG_WMI_BMOF=n
CONFIG_PNFS_BLOCK=n
CONFIG_NET_VENDOR_RDC=n
CONFIG_DECOMPRESS_LZO=n
CONFIG_EVENT_TRACING=n
CONFIG_FS_IOMAP=n
CONFIG_HID_SAMSUNG=n
CONFIG_USB_PCI_AMD=n
CONFIG_BINFMT_SCRIPT=n
CONFIG_MODULES_USE_ELF_REL=n
CONFIG_ARCH_SUPPORTS_CRASH_HOTPLUG=n
CONFIG_POSIX_CPU_TIMERS_TASK_WORK=n
CONFIG_GRACE_PERIOD=n
CONFIG_SUNRPC=n
CONFIG_AGP=n
CONFIG_NF_LOG_SYSLOG=n
CONFIG_SERIAL_8250_DWLIB=n
CONFIG_MAC80211_RC_MINSTREL=n
CONFIG_UNION_FIND=n
CONFIG_MAC80211_RC_DEFAULT_MINSTREL=n
CONFIG_PREEMPT_RCU=n
CONFIG_COMPACTION=n
CONFIG_KALLSYMS_ALL=n
CONFIG_ACPI_FAN=n
CONFIG_FUNCTION_ALIGNMENT_4B=n
CONFIG_KERNEL_GZIP=n
CONFIG_WATCHDOG_HANDLE_BOOT_ENABLED=n
CONFIG_THERMAL_NETLINK=n
CONFIG_NF_CONNTRACK_FTP=n
CONFIG_PHYLIB=n
CONFIG_HAVE_FUNCTION_GRAPH_FREGS=n
CONFIG_NET_SCHED=n
CONFIG_ARCH_DEFAULT_CRASH_DUMP=n
CONFIG_HAVE_HARDLOCKUP_DETECTOR_PERF=n
CONFIG_SECURITY_SELINUX_DEVELOP=n
CONFIG_UNIX=n
CONFIG_MITIGATION_RETBLEED=n
CONFIG_HAVE_FTRACE_GRAPH_FUNC=n
CONFIG_CRYPTO_ACOMP2=n
CONFIG_SCHED_OMIT_FRAME_POINTER=n
CONFIG_LD_IS_BFD=n
CONFIG_X86_DISABLED_FEATURE_TDX_GUEST=n
CONFIG_BPF=n
CONFIG_CGROUP_PIDS=n
CONFIG_LTO_NONE=n
CONFIG_ARCH_WANTS_NO_INSTR=n
CONFIG_GENERIC_EARLY_IOREMAP=n
CONFIG_EFI=n
CONFIG_PCI_QUIRKS=n
CONFIG_HAVE_UNSTABLE_SCHED_CLOCK=n
CONFIG_I2C_I801=n
CONFIG_X86_CHECK_BIOS_CORRUPTION=n
CONFIG_IRQ_FORCED_THREADING=n
CONFIG_RTC_CLASS=n
CONFIG_SYSVIPC_SYSCTL=n
CONFIG_USB_HID=n
CONFIG_FUTEX_ROBUST_UNLOCK=n
CONFIG_SYSFS=n
CONFIG_SND_INTEL_SOUNDWIRE_ACPI=n
CONFIG_MOUSE_PS2_SYNAPTICS=n
CONFIG_NFS_DISABLE_UDP_SUPPORT=n
CONFIG_MODULES=n
CONFIG_DMA_VIRTUAL_CHANNELS=n
CONFIG_NET_VENDOR_INTEL=n
CONFIG_INET=n
CONFIG_HW_RANDOM_INTEL=n
CONFIG_ARCH_WANT_BATCHED_UNMAP_TLB_FLUSH=n
CONFIG_SERIAL_8250_EXTENDED=n
CONFIG_BLK_PM=n
CONFIG_HID_GENERIC=n
CONFIG_SCSI_MOD=n
CONFIG_FSNOTIFY=n
CONFIG_ARCH_SUPPORTS_LTO_CLANG=n
CONFIG_RTC_MC146818_LIB=n
CONFIG_DEBUG_INFO_NONE=n
CONFIG_NET_POLL_CONTROLLER=n
CONFIG_LOCKD_V4=n
CONFIG_CRYPTO_HMAC=n
CONFIG_SND_JACK_INPUT_DEV=n
CONFIG_ARCH_SUPPORTS_ATOMIC_RMW=n
CONFIG_CRYPTO_AEAD=n
CONFIG_NET_CLS_CGROUP=n
CONFIG_CRYPTO_AEAD2=n
CONFIG_PCCARD_NONSTATIC=n
CONFIG_WLAN_VENDOR_REALTEK=n
CONFIG_NF_REJECT_IPV6=n
CONFIG_PRINTK_TIME=n
CONFIG_ARCH_MIGHT_HAVE_ACPI_PDC=n
CONFIG_RTL_CARDS=n
CONFIG_EFI_RUNTIME_WRAPPERS=n
CONFIG_NET_VENDOR_SYNOPSYS=n
CONFIG_ARCH_USE_MEMTEST=n
CONFIG_HAVE_MOVE_PMD=n
CONFIG_EFI_PARTITION=n
CONFIG_SERIO_I8042=n
CONFIG_ZSTD_DECOMPRESS=n
CONFIG_HAVE_KERNEL_GZIP=n
CONFIG_SND=n
CONFIG_ARCH_SPLIT_ARG64=n
CONFIG_ADVISE_SYSCALLS=n
CONFIG_DRM_DISPLAY_DSC_HELPER=n
CONFIG_PCIEASPM_DEFAULT=n
CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE=n
CONFIG_NET_VENDOR_REALTEK=n
CONFIG_ACPI_PROCESSOR=n
CONFIG_MQ_IOSCHED_KYBER=n
CONFIG_CRYPTO_LZ4=n
CONFIG_ARCH_HAS_CURRENT_STACK_POINTER=n
CONFIG_X86_DISABLED_FEATURE_SEV_SNP=n
CONFIG_NET_INGRESS=n
CONFIG_AMD_NB=n
CONFIG_HAVE_RSEQ=n
CONFIG_NF_CT_NETLINK=n
CONFIG_SCREEN_INFO=n
CONFIG_NET_VENDOR_3COM=n
CONFIG_CRC32_ARCH=n
CONFIG_THERMAL_GOV_STEP_WISE=n
CONFIG_X86_IO_APIC=n
CONFIG_DM_MIRROR=n
CONFIG_PATA_SCH=n
CONFIG_MD_AUTODETECT=n
CONFIG_BLK_CGROUP=n
CONFIG_HAVE_ARCH_SECCOMP=n
CONFIG_ARCH_SELECT_MEMORY_MODEL=n
CONFIG_X86_USE_PPRO_CHECKSUM=n
CONFIG_ELF_CORE=n
CONFIG_VM_EVENT_COUNTERS=n
CONFIG_LZ4_DECOMPRESS=n
CONFIG_FUTEX_PI=n
CONFIG_X86_EXTENDED_PLATFORM=n
CONFIG_SND_PCI=n
CONFIG_ETHERNET=n
CONFIG_GENERIC_STRNCPY_FROM_USER=n
CONFIG_MIGRATION=n
CONFIG_DEBUG_STACK_USAGE=n
CONFIG_SOFTIRQ_ON_OWN_STACK=n
CONFIG_CONNECTOR=n
CONFIG_ARCH_SUPPORTS_MEMORY_FAILURE=n
CONFIG_DEBUG_KERNEL=n
CONFIG_ZLIB_DEFLATE=n
CONFIG_XFRM_ALGO=n
CONFIG_ARCH_HAS_DEBUG_VIRTUAL=n
CONFIG_MICROCODE=n
CONFIG_HAVE_DMA_CONTIGUOUS=n
CONFIG_HIBERNATE_CALLBACKS=n
CONFIG_RUSTC_HAS_SPAN_FILE=n
CONFIG_POWER_SUPPLY=n
CONFIG_HAVE_EFFICIENT_UNALIGNED_ACCESS=n
CONFIG_CRYPTO_CCM=n
CONFIG_IRQ_WORK=n
CONFIG_PROC_KCORE=n
CONFIG_COMPAT_32BIT_TIME=n
CONFIG_XPS=n
CONFIG_MICROCODE_INITRD32=n
CONFIG_ACPI_VIDEO=n
CONFIG_NETCONSOLE=n
CONFIG_CRYPTO_LIB_SHA1=n
CONFIG_NET_VENDOR_EZCHIP=n
CONFIG_LZO_COMPRESS=n
CONFIG_HWMON=n
CONFIG_QFMT_V2=n
CONFIG_LD_ORPHAN_WARN=n
CONFIG_DECOMPRESS_XZ=n
CONFIG_SERIO_LIBPS2=n
CONFIG_DMA_SHARED_BUFFER=n
CONFIG_INPUT=n
CONFIG_ARCH_WANT_LD_ORPHAN_WARN=n
CONFIG_ARCH_HAS_MEM_ENCRYPT=n
CONFIG_IP6_NF_IPTABLES=n
CONFIG_RANDSTRUCT_NONE=n
CONFIG_INET6_AH=n
CONFIG_CRYPTO_LIB_AES_ARCH=n
CONFIG_P2SB=n
CONFIG_HAVE_SOFTIRQ_ON_OWN_STACK=n
CONFIG_CC_HAS_COUNTED_BY=n
CONFIG_SERIAL_8250_MID=n
CONFIG_X86_THERMAL_VECTOR=n
CONFIG_CRYPTO_GCM=n
CONFIG_NLS_ASCII=n
CONFIG_OLD_SIGSUSPEND3=n
CONFIG_CRYPTO_LIB_AES=n
CONFIG_DRM_DISPLAY_HDMI_HELPER=n
CONFIG_I3C_OR_I2C=n
CONFIG_CC_HAS_ENTRY_PADDING=n
CONFIG_ARCH_HAS_CPU_ATTACK_VECTORS=n
CONFIG_CRYPTO_HASH=n
CONFIG_SECCOMP_FILTER=n
CONFIG_NET_DEVMEM=n
CONFIG_STRICT_MODULE_RWX=n
CONFIG_HAVE_ARCH_TRACEHOOK=n
CONFIG_NETFILTER_XT_MARK=n
CONFIG_ELFCORE=n
CONFIG_HAVE_FUNCTION_ERROR_INJECTION=n
CONFIG_HIBERNATION_COMP_LZO=n
CONFIG_ARCH_SUPPORTS_SCHED_MC=n
CONFIG_SND_X86=n
CONFIG_X86_AMD_PSTATE=n
CONFIG_ARCH_HAS_DEBUG_VM_PGTABLE=n
CONFIG_LEDS_CLASS=n
CONFIG_PGTABLE_HAS_HUGE_LEAVES=n
CONFIG_PREEMPT_BUILD=n
CONFIG_NETFILTER_XT_TARGET_NFLOG=n
CONFIG_SKY2=n
CONFIG_WLAN_VENDOR_BROADCOM=n
CONFIG_NET_FAILOVER=n
CONFIG_SCSI_PROC_FS=n
CONFIG_DRM_VIRTIO_GPU=n
CONFIG_IP_NF_IPTABLES=n
CONFIG_SCSI_LOWLEVEL=n
CONFIG_GENERIC_ISA_DMA=n
CONFIG_SUSPEND_FREEZER=n
CONFIG_INTERVAL_TREE=n
CONFIG_EARLY_PRINTK_USB=n
CONFIG_SECRETMEM=n
CONFIG_SERIAL_CORE_CONSOLE=n
CONFIG_BINFMT_ELF=n
CONFIG_EFI_ESRT=n
CONFIG_NETFILTER_XT_MATCH_STATE=n
CONFIG_HOTPLUG_CPU=n
CONFIG_ARCH_HAS_SET_DIRECT_MAP=n
CONFIG_ARCH_HAS_CACHE_LINE_SIZE=n
CONFIG_STACKDEPOT=n
CONFIG_QUEUED_RWLOCKS=n
CONFIG_REALTEK_PHY=n
CONFIG_CLONE_BACKWARDS=n
CONFIG_RD_BZIP2=n
CONFIG_PCI=n
CONFIG_CC_HAS_ASM_GOTO_OUTPUT=n
CONFIG_ARCH_SUPPORTS_UPROBES=n
CONFIG_VIDEO=n
CONFIG_PCI_GOANY=n
CONFIG_SECURITY_SELINUX_BOOTPARAM=n
CONFIG_ARCH_HAS_STRICT_MODULE_RWX=n
CONFIG_BLK_RQ_ALLOC_TIME=n
CONFIG_ARCH_FLATMEM_ENABLE=n
CONFIG_NETFILTER_XTABLES=n
CONFIG_ARCH_HAS_SYNC_CORE_BEFORE_USERMODE=n
CONFIG_ARCH_32BIT_OFF_T=n
CONFIG_MITIGATION_SPECTRE_V2=n
CONFIG_HAVE_EXIT_THREAD=n
CONFIG_KPROBE_EVENTS=n
CONFIG_CACHESTAT_SYSCALL=n
CONFIG_ARCH_WANTS_DYNAMIC_TASK_STRUCT=n
CONFIG_TCP_CONG_ADVANCED=n
CONFIG_NET_IP_TUNNEL=n
CONFIG_NETDEVICES=n
CONFIG_PM_TRACE=n
CONFIG_INET_TUNNEL=n
CONFIG_ARCH_SUSPEND_POSSIBLE=n
CONFIG_HAVE_ARCH_WITHIN_STACK_FRAMES=n
CONFIG_INTEL_TCC=n
CONFIG_HID_TOPSEED=n
CONFIG_STACKTRACE_SUPPORT=n
CONFIG_MITIGATION_MMIO_STALE_DATA=n
CONFIG_NET_VENDOR_8390=n
CONFIG_TASKSTATS=n
CONFIG_SLUB=n
CONFIG_X86_NEED_RELOCS=n
CONFIG_SCSI=n
CONFIG_SERIAL_8250_PCI=n
CONFIG_TRACEPOINTS=n
CONFIG_NET_RX_BUSY_POLL=n
CONFIG_USB_OHCI_HCD=n
CONFIG_INITRAMFS_PRESERVE_MTIME=n
CONFIG_CRYPTO_SIG=n
CONFIG_USB_COMMON=n
CONFIG_INSTRUCTION_DECODER=n
CONFIG_CPUFREQ_ARCH_CUR_FREQ=n
CONFIG_AGP_INTEL=n
CONFIG_NLS=n
CONFIG_X86_REROUTE_FOR_BROKEN_BOOT_IRQS=n
CONFIG_WERROR=n
CONFIG_ARCH_WANT_GENERAL_HUGETLB=n
CONFIG_USER_STACKTRACE_SUPPORT=n
CONFIG_WLAN_VENDOR_ATMEL=n
CONFIG_ASN1=n
CONFIG_CPU_SUP_ZHAOXIN=n
CONFIG_HAS_IOPORT_MAP=n
CONFIG_DEVTMPFS_MOUNT=n
CONFIG_HID_SUNPLUS=n
CONFIG_TIGON3_HWMON=n
CONFIG_SCHEDSTATS=n
CONFIG_PROC_FS=n
CONFIG_TIMERFD=n
CONFIG_X86_PKG_TEMP_THERMAL=n
CONFIG_X86_16BIT=n
CONFIG_DRM_CLIENT_SELECTION=n
CONFIG_PHY_PACKAGE=n
