CONFIG_NF_CT_NETLINK=n
CONFIG_DEBUG_DEVRES=n
CONFIG_CC_HAS_ENTRY_PADDING=n
CONFIG_EXT4_FS_SECURITY=n
CONFIG_X86_CPUID=n
CONFIG_ACPI_MADT_WAKEUP=n
CONFIG_HAVE_CONTEXT_TRACKING_USER_OFFSTACK=n
CONFIG_IOMMU_DEFAULT_DMA_LAZY=n
CONFIG_HIBERNATION=n
CONFIG_VM_EVENT_COUNTERS=n
CONFIG_SCSI=n
CONFIG_MODULES=n
CONFIG_ACPI_I2C_OPREGION=n
CONFIG_HAVE_ARCH_KGDB=n
CONFIG_NF_NAT=n
CONFIG_INTEGRITY_AUDIT=n
CONFIG_IP_PNP_RARP=n
CONFIG_DRM_I915_CAPTURE_ERROR=n
CONFIG_HAVE_NMI=n
CONFIG_BINFMT_ELF=n
CONFIG_QFMT_V2=n
CONFIG_RD_LZO=n
CONFIG_IP6_NF_MATCH_IPV6HEADER=n
CONFIG_SND_HDA_HWDEP=n
CONFIG_ROOT_NFS=n
CONFIG_NET_VENDOR_MICROSEMI=n
CONFIG_BCMA_POSSIBLE=n
CONFIG_STACKTRACE=n
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST=n
CONFIG_SERIAL_8250=n
CONFIG_HAVE_ARCH_SECCOMP_FILTER=n
CONFIG_DRM_BUDDY=n
CONFIG_PNP_DEBUG_MESSAGES=n
CONFIG_NLS=n
CONFIG_ARCH_SUPPORTS_KEXEC_SIG=n
CONFIG_SCSI_LOWLEVEL=n
CONFIG_AUDIT_ARCH=n
CONFIG_SERIAL_8250_PCILIB=n
CONFIG_ARCH_DMA_ADDR_T_64BIT=n
CONFIG_MITIGATION_TSA=n
CONFIG_DECOMPRESS_XZ=n
CONFIG_HWMON=n
CONFIG_CC_HAS_WORKING_NOSANITIZE_ADDRESS=n
CONFIG_BUILDTIME_TABLE_SORT=n
CONFIG_TRACEPOINTS=n
CONFIG_CRYPTO_LIB_SHA512=n
CONFIG_STRICT_MODULE_RWX=n
CONFIG_NFS_V3_ACL=n
CONFIG_ARCH_WANT_LD_ORPHAN_WARN=n
CONFIG_IP_ROUTE_VERBOSE=n
CONFIG_ASYMMETRIC_PUBLIC_KEY_SUBTYPE=n
CONFIG_RD_LZMA=n
CONFIG_CRYPTO_AEAD2=n
CONFIG_GENERIC_CPU_VULNERABILITIES=n
CONFIG_SCHED_OMIT_FRAME_POINTER=n
CONFIG_CGROUP_RDMA=n
CONFIG_ARCH_HAS_GENERIC_CRASHKERNEL_RESERVATION=n
CONFIG_DEVTMPFS_MOUNT=n
CONFIG_NFS_FS=n
CONFIG_ATA_BMDMA=n
CONFIG_HAVE_HW_BREAKPOINT=n
CONFIG_NEED_PER_CPU_EMBED_FIRST_CHUNK=n
CONFIG_ACPI_BATTERY=n
CONFIG_MICROCODE=n
CONFIG_I2C_HID=n
CONFIG_LOCKDEP_SUPPORT=n
CONFIG_X86_MCE_AMD=n
CONFIG_HUGETLB_PAGE_OPTIMIZE_VMEMMAP=n
CONFIG_BLK_DEV_SD=n
CONFIG_NF_NAT_SIP=n
CONFIG_OID_REGISTRY=n
CONFIG_MITIGATION_SSB=n
CONFIG_COMPAT_BINFMT_ELF=n
CONFIG_TICK_ONESHOT=n
CONFIG_DRM_KMS_HELPER=n
CONFIG_MTRR=n
CONFIG_HID_NTRIG=n
CONFIG_GENERIC_SYSCALL=n
CONFIG_ACPI_THERMAL_LIB=n
CONFIG_SGETMASK_SYSCALL=n
CONFIG_OPENSSL_SUPPORTS_ML_DSA=n
CONFIG_GPU_BUDDY=n
CONFIG_OBJTOOL=n
CONFIG_E1000=n
CONFIG_GENERIC_CMOS_UPDATE=n
CONFIG_PATA_OLDPIIX=n
CONFIG_IPV6_NDISC_NODETYPE=n
CONFIG_ARCH_HAVE_NMI_SAFE_CMPXCHG=n
CONFIG_BLK_DEV_LOOP=n
CONFIG_SYSVIPC_SYSCTL=n
CONFIG_TRACEFS_AUTOMOUNT_DEPRECATED=n
CONFIG_IP_MROUTE_COMMON=n
CONFIG_ARCH_HAS_PKEYS=n
CONFIG_NEED_DMA_MAP_STATE=n
CONFIG_GENERIC_EARLY_IOREMAP=n
CONFIG_BLK_DEV_WRITE_MOUNTED=n
CONFIG_PATA_AMD=n
CONFIG_NF_LOG_ARP=n
CONFIG_ARCH_MEMORY_ORDER_TSO=n
CONFIG_NET_VENDOR_VERTEXCOM=n
CONFIG_ARCH_HAS_MEM_ENCRYPT=n
CONFIG_8139TOO_PIO=n
CONFIG_NET_VENDOR_WANGXUN=n
CONFIG_MITIGATION_SPECTRE_BHI=n
CONFIG_FORCEDETH=n
CONFIG_THREAD_INFO_IN_TASK=n
CONFIG_SCSI_PROC_FS=n
CONFIG_NEED_SG_DMA_FLAGS=n
CONFIG_NET_VENDOR_GOOGLE=n
CONFIG_NLS_ASCII=n
CONFIG_NETDEVICES=n
CONFIG_CRYPTO_AEAD=n
CONFIG_CRYPTO_SKCIPHER2=n
CONFIG_X86_DISABLED_FEATURE_LAM=n
CONFIG_FTRACE=n
CONFIG_RTC_NVMEM=n
CONFIG_X86_REROUTE_FOR_BROKEN_BOOT_IRQS=n
CONFIG_TCP_CONG_CUBIC=n
CONFIG_CC_HAS_MARCH_NATIVE=n
CONFIG_NET_VENDOR_AGERE=n
CONFIG_BLOCK_HOLDER_DEPRECATED=n
CONFIG_NF_CONNTRACK_IRC=n
CONFIG_GROUP_SCHED_WEIGHT=n
CONFIG_CONTEXT_TRACKING_IDLE=n
CONFIG_IOMMU_IOVA=n
CONFIG_THERMAL_HWMON=n
CONFIG_PNPACPI=n
CONFIG_SERIAL_8250_DWLIB=n
CONFIG_CROSS_MEMORY_ATTACH=n
CONFIG_GLOB=n
CONFIG_DEVMEM=n
CONFIG_DRM_MIPI_DSI=n
CONFIG_ACPI_PCC=n
CONFIG_RUSTC_HAS_UNNECESSARY_TRANSMUTES=n
CONFIG_CGROUP_DEBUG=n
CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE=n
CONFIG_FAILOVER=n
CONFIG_NF_REJECT_IPV4=n
CONFIG_ACPI_PROCESSOR_CSTATE=n
CONFIG_SERIAL_NONSTANDARD=n
CONFIG_TTY=n
CONFIG_CRYPTO_LIB_MD5=n
CONFIG_MITIGATION_SPECTRE_V1=n
CONFIG_ARCH_HAS_PTE_SPECIAL=n
CONFIG_MACINTOSH_DRIVERS=n
CONFIG_R8169=n
CONFIG_HALTPOLL_CPUIDLE=n
CONFIG_YENTA=n
CONFIG_PGTABLE_HAS_HUGE_LEAVES=n
CONFIG_MODIFY_LDT_SYSCALL=n
CONFIG_NVMEM_SYSFS=n
CONFIG_DEFAULT_CUBIC=n
CONFIG_X86_REQUIRED_FEATURE_PGE=n
CONFIG_X86_REQUIRED_FEATURE_SYSFAST32=n
CONFIG_NET_VENDOR_MICREL=n
CONFIG_LZ4_COMPRESS=n
CONFIG_CRYPTO_SHA1=n
CONFIG_SERIAL_8250_LPSS=n
CONFIG_CRYPTO_CBC=n
CONFIG_GENERIC_SMP_IDLE_THREAD=n
CONFIG_CGROUP_SCHED=n
CONFIG_DNOTIFY=n
CONFIG_ACPI_CONTAINER=n
CONFIG_HOTPLUG_CORE_SYNC=n
CONFIG_NET_VENDOR_SYNOPSYS=n
CONFIG_HIBERNATE_CALLBACKS=n
CONFIG_HAVE_KERNEL_ZSTD=n
CONFIG_X86_REQUIRED_FEATURE_LM=n
CONFIG_HAVE_STACK_VALIDATION=n
CONFIG_CRYPTO_ECB=n
CONFIG_NET_VENDOR_SOCIONEXT=n
CONFIG_NET_VENDOR_CADENCE=n
CONFIG_X86_64=n
CONFIG_CONSOLE_TRANSLATIONS=n
CONFIG_PROC_FS=n
CONFIG_CACHESTAT_SYSCALL=n
CONFIG_HAVE_ARCH_JUMP_LABEL_RELATIVE=n
CONFIG_HID=n
CONFIG_HAS_SECURITY_AUDIT=n
CONFIG_NET_VENDOR_INTEL=n
CONFIG_PREVENT_FIRMWARE_BUILD=n
CONFIG_ARCH_WANT_HUGE_PMD_SHARE=n
CONFIG_NLS_CODEPAGE_437=n
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE_PUD=n
CONFIG_BRANCH_PROFILE_NONE=n
CONFIG_NVRAM=n
CONFIG_ARCH_MAY_HAVE_PC_FDC=n
CONFIG_DRM_BRIDGE=n
CONFIG_WLAN_VENDOR_ATMEL=n
CONFIG_ASYNC_KERNEL_PGTABLE_FREE=n
CONFIG_SHMEM=n
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO=n
CONFIG_CRYPTO_GENIV=n
CONFIG_X86_MSR=n
CONFIG_ARCH_SUPPORTS_DEBUG_PAGEALLOC=n
CONFIG_NET_VENDOR_NI=n
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO_BARE=n
CONFIG_LOCKD_V4=n
CONFIG_NVMEM=n
CONFIG_ACPI_REV_OVERRIDE_POSSIBLE=n
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_REGS=n
CONFIG_POSIX_MQUEUE_SYSCTL=n
CONFIG_TIGON3=n
CONFIG_KALLSYMS_ALL=n
CONFIG_PREEMPT_BUILD=n
CONFIG_PHYS_ADDR_T_64BIT=n
CONFIG_INTEL_MEI=n
CONFIG_TRACE_CLOCK=n
CONFIG_VIRTIO_PCI_ADMIN_LEGACY=n
CONFIG_CRC32=n
CONFIG_NFS_DISABLE_UDP_SUPPORT=n
CONFIG_SND_HDA_INTEL=n
CONFIG_SPARSEMEM_EXTREME=n
CONFIG_MITIGATION_SPECTRE_V2=n
CONFIG_ARCH_HAS_DEBUG_VIRTUAL=n
CONFIG_FUTEX=n
CONFIG_HAVE_OBJTOOL_MCOUNT=n
CONFIG_USB_HID=n
CONFIG_HUGETLB_PMD_PAGE_TABLE_SHARING=n
CONFIG_BLOCK=n
CONFIG_EFI_ESRT=n
CONFIG_CRYPTO_LIB_UTILS=n
CONFIG_FUTEX_MPOL=n
CONFIG_IP6_NF_IPTABLES=n
CONFIG_ARCH_HAS_DEBUG_VM_PGTABLE=n
CONFIG_X86_REQUIRED_FEATURE_FXSR=n
CONFIG_USB_EHCI_HCD=n
CONFIG_ACPI_BUTTON=n
CONFIG_ARCH_WANT_BATCHED_UNMAP_TLB_FLUSH=n
CONFIG_HAVE_ARCH_PREL32_RELOCATIONS=n
CONFIG_MOUSE_PS2_FOCALTECH=n
CONFIG_HAVE_OBJTOOL_NOP_MCOUNT=n
CONFIG_ARCH_SPARSEMEM_DEFAULT=n
CONFIG_TASKSTATS=n
CONFIG_EXPORTFS=n
CONFIG_CPU_IDLE_GOV_HALTPOLL=n
CONFIG_X86_X2APIC=n
CONFIG_USB_XHCI_PCI=n
CONFIG_NETFILTER_SKIP_EGRESS=n
CONFIG_ARCH_MIGHT_HAVE_ACPI_PDC=n
CONFIG_ADVISE_SYSCALLS=n
CONFIG_WLAN_VENDOR_TI=n
CONFIG_NET_VENDOR_HISILICON=n
CONFIG_SCHED_CACHE=n
CONFIG_CPU_IDLE=n
CONFIG_PM_DEBUG=n
CONFIG_SERIAL_EARLYCON=n
CONFIG_CRYPTO_LIB_SHA256=n
CONFIG_NET_VENDOR_MARVELL=n
CONFIG_ARCH_HAS_EXECMEM_ROX=n
CONFIG_VMCORE_INFO=n
CONFIG_ARCH_CLOCKSOURCE_INIT=n
CONFIG_UNWIND_USER=n
CONFIG_MAC_EMUMOUSEBTN=n
CONFIG_ARCH_MHP_MEMMAP_ON_MEMORY_ENABLE=n
CONFIG_QUOTA=n
CONFIG_OLD_SIGSUSPEND3=n
CONFIG_CPU_IDLE_GOV_MENU=n
CONFIG_HAVE_ARCH_KFENCE=n
CONFIG_SND_SEQ_DEVICE=n
CONFIG_FW_LOADER=n
CONFIG_X86_DEBUGCTLMSR=n
CONFIG_CGROUP_DEVICE=n
CONFIG_STRICT_KERNEL_RWX=n
CONFIG_LD_ORPHAN_WARN=n
CONFIG_PROVIDE_OHCI1394_DMA_INIT=n
CONFIG_NET_VENDOR_HUAWEI=n
CONFIG_IOMMU_SVA=n
CONFIG_NET_VENDOR_MICROCHIP=n
CONFIG_BINFMT_MISC=n
CONFIG_PTP_1588_CLOCK_OPTIONAL=n
CONFIG_SND_HDA_COMPONENT=n
CONFIG_X86_DISABLED_FEATURE_CENTAUR_MCR=n
CONFIG_IOMMU_API=n
CONFIG_DMA_ENGINE=n
CONFIG_DEFAULT_SECURITY_SELINUX=n
CONFIG_RCU_STALL_COMMON=n
CONFIG_CC_HAS_ZERO_CALL_USED_REGS=n
CONFIG_X86_LOCAL_APIC=n
CONFIG_TMPFS_POSIX_ACL=n
CONFIG_HAVE_DMA_CONTIGUOUS=n
CONFIG_HIDRAW=n
CONFIG_NFS_V4=n
CONFIG_INIT_STACK_ALL_ZERO=n
CONFIG_SND_CTL_FAST_LOOKUP=n
CONFIG_MOUSE_PS2_ALPS=n
CONFIG_X86_DISABLED_FEATURE_TDX_GUEST=n
CONFIG_PCI_ATS=n
CONFIG_VIRTIO_PCI_LEGACY=n
CONFIG_RSEQ=n
CONFIG_9P_FS=n
CONFIG_FHANDLE=n
CONFIG_NET_EGRESS=n
CONFIG_HOTPLUG_CORE_SYNC_DEAD=n
CONFIG_NETFILTER_EGRESS=n
CONFIG_MQ_IOSCHED_KYBER=n
CONFIG_PROC_PAGE_MONITOR=n
CONFIG_DRM_PANEL_BRIDGE=n
CONFIG_WLAN_VENDOR_MARVELL=n
CONFIG_NET_VENDOR_MICROSOFT=n
