CONFIG_RESET_SUNXI=n
CONFIG_BRIDGE=n
CONFIG_FB_IOMEM_FOPS=n
CONFIG_REGMAP_IRQ=n
CONFIG_PREEMPT_COUNT=n
CONFIG_VIRTIO_PCI_LIB_LEGACY=n
CONFIG_ACPI_I2C_OPREGION=n
CONFIG_SPI_SUN6I=n
CONFIG_CLK_SOPHGO_SG2042_RPGATE=n
CONFIG_ACPI_CPPC_LIB=n
CONFIG_IPC_NS=n
CONFIG_DMADEVICES=n
CONFIG_OVERLAY_FS=n
CONFIG_HAVE_PERF_REGS=n
CONFIG_NET_VENDOR_ALACRITECH=n
CONFIG_CPU_FREQ_DEFAULT_GOV_PERFORMANCE=n
CONFIG_CAN_CALC_BITTIMING=n
CONFIG_COREDUMP=n
CONFIG_BLK_DEV_DM_BUILTIN=n
CONFIG_PINCTRL_SUN20I_D1=n
CONFIG_STACKPROTECTOR=n
CONFIG_MTD_CFI=n
CONFIG_HAVE_SYSCALL_TRACEPOINTS=n
CONFIG_DMA_VIRTUAL_CHANNELS=n
CONFIG_HAVE_KERNEL_LZO=n
CONFIG_CGROUP_CPUACCT=n
CONFIG_RPMSG=n
CONFIG_ARCH_STACKWALK=n
CONFIG_CRYPTO_HW=n
CONFIG_IRQ_STACKS=n
CONFIG_HAS_IOMEM=n
CONFIG_ARCH_SUPPORTS_KEXEC=n
CONFIG_HAVE_ARCH_KGDB=n
CONFIG_ARCH_HAS_GIGANTIC_PAGE=n
CONFIG_I2C_BOARDINFO=n
CONFIG_HW_RANDOM_VIRTIO=n
CONFIG_DM_THIN_PROVISIONING=n
CONFIG_USB_CDNS3_GADGET=n
CONFIG_SATA_HOST=n
CONFIG_ARCH_HAS_PTDUMP=n
CONFIG_NET_VENDOR_QUALCOMM=n
CONFIG_BLK_DEV_THROTTLING=n
CONFIG_I2C_ALGOBIT=n
CONFIG_GENERIC_STRNCPY_FROM_USER=n
CONFIG_TOOLCHAIN_HAS_ZBC=n
CONFIG_POWER_RESET_SYSCON_POWEROFF=n
CONFIG_HAVE_KERNEL_ZSTD=n
CONFIG_ARCH_HAS_FORTIFY_SOURCE=n
CONFIG_CPU_FREQ_GOV_USERSPACE=n
CONFIG_I2C_CHARDEV=n
CONFIG_DWMAC_SUN55I=n
CONFIG_PNP=n
CONFIG_CONTEXT_SWITCH_TRACER=n
CONFIG_KEYS=n
CONFIG_IP_PNP=n
CONFIG_ARCH_USE_SYM_ANNOTATIONS=n
CONFIG_FB_SYSMEM_HELPERS_DEFERRED=n
CONFIG_PREEMPT_NOTIFIERS=n
CONFIG_GENERIC_SMP_IDLE_THREAD=n
CONFIG_GROUP_SCHED_BANDWIDTH=n
CONFIG_CRYPTO_CAMELLIA=n
CONFIG_DUMMY=n
CONFIG_GENERIC_PINCTRL_GROUPS=n
CONFIG_RISCV_ISA_VENDOR_EXT_MIPS=n
CONFIG_HOTPLUG_CORE_SYNC_FULL=n
CONFIG_SECURITY_NETWORK=n
CONFIG_QUEUED_RWLOCKS=n
CONFIG_BITREVERSE=n
CONFIG_GRACE_PERIOD=n
CONFIG_SPI_MASTER=n
CONFIG_USB_OHCI_HCD_PLATFORM=n
CONFIG_NOP_USB_XCEIV=n
CONFIG_ARCH_CANAAN=n
CONFIG_ARCH_HAS_KERNEL_FPU_SUPPORT=n
CONFIG_STACKPROTECTOR_PER_TASK=n
CONFIG_BLK_CGROUP_PUNT_BIO=n
CONFIG_EFI_PARAMS_FROM_FDT=n
CONFIG_RAMDAX=n
CONFIG_VIRTIO_PCI=n
CONFIG_WATCHDOG_HANDLE_BOOT_ENABLED=n
CONFIG_SPARSEMEM_VMEMMAP=n
CONFIG_FWNODE_MDIO=n
CONFIG_NET_FLOW_LIMIT=n
CONFIG_MMC_SDHCI_OF_K1=n
CONFIG_SPARSEMEM=n
CONFIG_GPIOLIB_IRQCHIP=n
CONFIG_FREEZER=n
CONFIG_DIMLIB=n
CONFIG_MTD_CFI_I1=n
CONFIG_PHYLINK=n
CONFIG_FUTEX_PRIVATE_HASH=n
CONFIG_RISCV_ISA_ZBKB=n
CONFIG_DRM_DISPLAY_HELPER=n
CONFIG_HAVE_KVM_DIRTY_RING=n
CONFIG_BFQ_GROUP_IOSCHED=n
CONFIG_ERRATA_SIFIVE_CIP_1200=n
CONFIG_SND_SIMPLE_CARD_UTILS=n
CONFIG_RUSTC_SUPPORTS_RISCV=n
CONFIG_COMPAT_32BIT_TIME=n
CONFIG_GENERIC_ALLOCATOR=n
CONFIG_DM_BIO_PRISON=n
CONFIG_RTC_HCTOSYS=n
CONFIG_MTD_BLOCK=n
CONFIG_ATA_SFF=n
CONFIG_FRAMEBUFFER_CONSOLE_DETECT_PRIMARY=n
CONFIG_LOCKD_V4=n
CONFIG_CRYPTO_SIG=n
CONFIG_RESET_STARFIVE_JH7110=n
CONFIG_GENERIC_MSI_IRQ=n
CONFIG_VMAP_STACK=n
CONFIG_HAVE_EBPF_JIT=n
CONFIG_CRYPTO_GENIV=n
CONFIG_DEBUG_MEMORY_INIT=n
CONFIG_HIGH_RES_TIMERS=n
CONFIG_DRM_NOUVEAU=n
CONFIG_USB_CONFIGFS_RNDIS=n
CONFIG_NET_VENDOR_MICROSOFT=n
CONFIG_SND_SOC_I2C_AND_SPI=n
CONFIG_NF_CT_PROTO_SCTP=n
CONFIG_VGA_ARB=n
CONFIG_RTC_CLASS=n
CONFIG_NET_VENDOR_LITEX=n
CONFIG_ZSTD_DECOMPRESS=n
CONFIG_RISCV_ISA_ZICBOP=n
CONFIG_OF_MDIO=n
CONFIG_HUGETLB_PAGE_OPTIMIZE_VMEMMAP=n
CONFIG_EFI=n
CONFIG_NET_VENDOR_DEC=n
CONFIG_WLAN_VENDOR_PURELIFI=n
CONFIG_THERMAL_HWMON=n
CONFIG_COMPAT_BRK=n
CONFIG_HAVE_RSEQ=n
CONFIG_PCI_LABEL=n
CONFIG_EXTCON=n
CONFIG_HAVE_ARCH_KSTACK_ERASE=n
CONFIG_DYNAMIC_SIGFRAME=n
CONFIG_ARCH_HAS_CURRENT_STACK_POINTER=n
CONFIG_ARCH_TENSTORRENT=n
CONFIG_STRICT_MODULE_RWX=n
CONFIG_POWER_SEQUENCING=n
CONFIG_BALLOON_MIGRATION=n
CONFIG_HAVE_ARCH_JUMP_LABEL=n
CONFIG_SUN6I_MSGBOX=n
CONFIG_NETFILTER_BPF_LINK=n
CONFIG_MFD_AXP20X_I2C=n
CONFIG_MMC_SDHCI_CADENCE=n
CONFIG_USB_CONFIGFS_SERIAL=n
CONFIG_NET_VENDOR_VERTEXCOM=n
CONFIG_IP_VS=n
CONFIG_PACKET=n
CONFIG_UPROBES=n
CONFIG_NFS_COMMON=n
CONFIG_USB_CDNS3=n
CONFIG_BPF_UNPRIV_DEFAULT_OFF=n
CONFIG_FB_DEFERRED_IO=n
CONFIG_NETWORK_SECMARK=n
CONFIG_PCI_DOMAINS_GENERIC=n
CONFIG_ATA_VERBOSE_ERROR=n
CONFIG_ARCH_HAS_FAST_MULTIPLIER=n
CONFIG_IO_URING_ZCRX=n
CONFIG_SYSVIPC_COMPAT=n
CONFIG_PCI_MSI=n
CONFIG_RISCV_ISA_SVPBMT=n
CONFIG_SUNXI_SRAM=n
CONFIG_ARCH_HAS_DMA_PREP_COHERENT=n
CONFIG_GENERIC_CLOCKEVENTS=n
CONFIG_ERRATA_SIFIVE=n
CONFIG_NET_9P=n
CONFIG_NET_VENDOR_SAMSUNG=n
CONFIG_ARCH_USE_MEMTEST=n
CONFIG_SLUB=n
CONFIG_REALTEK_PHY=n
CONFIG_NET_VENDOR_EMULEX=n
CONFIG_DECOMPRESS_XZ=n
CONFIG_SERIAL_8250=n
CONFIG_HARDIRQS_SW_RESEND=n
CONFIG_IP_PNP_DHCP=n
CONFIG_DRM=n
CONFIG_BPF_EVENTS=n
CONFIG_PCIE_FU740=n
CONFIG_PINCTRL_SUNXI=n
CONFIG_SND_SOC_SDCA_OPTIONAL=n
CONFIG_EPROBE_EVENTS=n
CONFIG_MICROSEMI_PHY=n
CONFIG_VIRTIO_INPUT=n
CONFIG_ACPI_FAN=n
CONFIG_BLK_DEV_BSG_COMMON=n
CONFIG_PREEMPT_BUILD=n
CONFIG_GENERIC_NET_UTILS=n
CONFIG_MMP_PDMA=n
CONFIG_UNIX=n
CONFIG_USB_CDNS_SUPPORT=n
CONFIG_CRYPTO_SEQIV=n
CONFIG_V4L2_FWNODE=n
CONFIG_CLK_STARFIVE_JH7110_VOUT=n
CONFIG_RISCV_SBI_CPUIDLE=n
CONFIG_INET_ESP=n
CONFIG_FB_CORE=n
CONFIG_HAS_DMA=n
CONFIG_BLK_CGROUP=n
CONFIG_XZ_DEC_BCJ=n
CONFIG_RISCV_ALTERNATIVE_EARLY=n
CONFIG_NET_VENDOR_SPACEMIT=n
CONFIG_SND_PROC_FS=n
CONFIG_INET_DIAG=n
CONFIG_TIME_NS_VDSO=n
CONFIG_USB_PCI=n
CONFIG_ARCH_HAS_SETUP_DMA_OPS=n
CONFIG_ATA_BMDMA=n
CONFIG_ACPI_MCFG=n
CONFIG_HAVE_ARCH_KFENCE=n
CONFIG_NETFILTER=n
CONFIG_CMODEL_MEDANY=n
CONFIG_XZ_DEC_RISCV=n
CONFIG_PINCTRL_STARFIVE_JH7110=n
CONFIG_SECURITY=n
CONFIG_DMA_SHARED_BUFFER=n
CONFIG_CAN_DEV=n
CONFIG_PINCTRL_SOPHGO_CV18XX_OPS=n
CONFIG_HAS_IOPORT_MAP=n
CONFIG_GPIO_CDEV=n
CONFIG_ERRATA_THEAD=n
CONFIG_HAS_SECURITY_AUDIT=n
CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE=n
CONFIG_HAVE_ARCH_SOFT_DIRTY=n
CONFIG_NET_VENDOR_QLOGIC=n
CONFIG_IP_VS_NFCT=n
CONFIG_FB_NOTIFY=n
CONFIG_WLAN_VENDOR_REALTEK=n
CONFIG_PCI_HOST_COMMON=n
CONFIG_ARCH_WANT_LD_ORPHAN_WARN=n
CONFIG_HAVE_ARCH_SECCOMP=n
CONFIG_TOOLCHAIN_HAS_ZBKB=n
CONFIG_MODULES=n
CONFIG_PCIE_ULTRARISC=n
CONFIG_RCU_NEED_SEGCBLIST=n
CONFIG_RCU_STALL_COMMON=n
CONFIG_INPUT_MOUSEDEV=n
CONFIG_WLAN_VENDOR_RSI=n
CONFIG_PCI_DOMAINS=n
CONFIG_MTD_MAP_BANK_WIDTH_2=n
CONFIG_NET_CRC32C=n
CONFIG_WLAN_VENDOR_ZYDAS=n
CONFIG_EXT4_FS_SECURITY=n
CONFIG_DEBUG_INFO_NONE=n
CONFIG_DRM_GPUVM=n
CONFIG_PHY_PACKAGE=n
CONFIG_LLC=n
CONFIG_ELF_CORE=n
CONFIG_NFS_V4_2_SSC_HELPER=n
CONFIG_INPUT_KEYBOARD=n
CONFIG_DWMAC_THEAD=n
CONFIG_ARCH_WEAK_RELEASE_ACQUIRE=n
CONFIG_STRICT_KERNEL_RWX=n
CONFIG_CLK_SOPHGO_SG2042_CLKGEN=n
CONFIG_MOUSE_PS2_BYD=n
CONFIG_CC_HAS_INT128=n
CONFIG_DRM_CLIENT_SETUP=n
CONFIG_HAVE_VIRT_CPU_ACCOUNTING_GEN=n
CONFIG_ARCH_ENABLE_SPLIT_PMD_PTLOCK=n
CONFIG_TOOLCHAIN_NEEDS_EXPLICIT_ZICSR_ZIFENCEI=n
CONFIG_ARCH_ANDES=n
CONFIG_WLAN_VENDOR_ATMEL=n
CONFIG_XPS=n
CONFIG_TCP_CONG_CUBIC=n
CONFIG_HAVE_ARCH_KASAN_VMALLOC=n
CONFIG_I2C_DESIGNWARE_PLATFORM=n
CONFIG_SND_CTL_FAST_LOOKUP=n
CONFIG_GENERIC_PHY_MIPI_DPHY=n
CONFIG_LOCALVERSION_AUTO=n
CONFIG_POWER_RESET_SYSCON=n
CONFIG_PINCTRL_SOPHGO_COMMON=n
CONFIG_OF_PMEM=n
CONFIG_POSIX_MQUEUE=n
CONFIG_DRM_DW_HDMI=n
CONFIG_MTD_CFI_NOSWAP=n
CONFIG_INITRAMFS_PRESERVE_MTIME=n
CONFIG_ARCH_HAS_ELF_CORE_EFLAGS=n
CONFIG_NET_VENDOR_CHELSIO=n
CONFIG_NF_LOG_SYSLOG=n
CONFIG_IPV6_NDISC_NODETYPE=n
CONFIG_DRM_VIRTIO_GPU=n
CONFIG_RISCV_ISA_VENDOR_EXT_ANDES=n
CONFIG_FB_SYS_FILLRECT=n
CONFIG_MEMBARRIER=n
CONFIG_OF=n
CONFIG_CPUFREQ_DT_PLATDEV=n
CONFIG_I2C_MUX=n
CONFIG_TIMER_OF=n
CONFIG_SUNRPC_GSS=n
CONFIG_NVMEM_SUNXI_SID=n
CONFIG_AS_HAS_OPTION_ARCH=n
CONFIG_SND_SOC_GENERIC_DMAENGINE_PCM=n
CONFIG_HID_SUPPORT=n
CONFIG_CRYPTO_KPP=n
CONFIG_USB_U_ETHER=n
CONFIG_ARCH_OPTIONAL_KERNEL_RWX=n
CONFIG_VT_CONSOLE_SLEEP=n
CONFIG_CLK_STARFIVE_JH7110_PLL=n
CONFIG_HAVE_FUNCTION_ARG_ACCESS_API=n
