CONFIG_PCIE_IPROC_PLATFORM=n
CONFIG_EXT4_FS_POSIX_ACL=n
CONFIG_DRM_MSM_MDP4=n
CONFIG_DRM_IMX_DCSS=n
CONFIG_HIBERNATE_CALLBACKS=n
CONFIG_EFI=n
CONFIG_USB_DWC3_IMX=n
CONFIG_DRM_RCAR_CMM=n
CONFIG_TYPEC_MUX_GPIO_SBU=n
CONFIG_GPIO_MAX77759=n
CONFIG_OF_RESOLVE=n
CONFIG_DRM_PANEL_NOVATEK_NT37801=n
CONFIG_FRAME_POINTER=n
CONFIG_CROS_EC_UCSI=n
CONFIG_ARCH_SUPPORTS_MEMORY_FAILURE=n
CONFIG_SUN8I_R_CCU=n
CONFIG_SUN4I_TIMER=n
CONFIG_IP_VS=n
CONFIG_HDMI=n
CONFIG_ZLIB_INFLATE=n
CONFIG_NET_DSA_TAG_BRCM_LEGACY=n
CONFIG_COMMON_CLK_MESON_SCLK_DIV=n
CONFIG_NET_VENDOR_MICROSEMI=n
CONFIG_COMMON_CLK_MT8195_IPESYS=n
CONFIG_XZ_DEC_ARMTHUMB=n
CONFIG_EINT_MTK=n
CONFIG_COMMON_CLK_MT8186_CAMSYS=n
CONFIG_ARCH_WANT_COMPAT_IPC_PARSE_VERSION=n
CONFIG_CLK_R9A08G045=n
CONFIG_CLK_RK3588=n
CONFIG_DRM_AUX_BRIDGE=n
CONFIG_SND_SOC_MT8188_MT6359=n
CONFIG_ARCH_SPRD=n
CONFIG_ARM64_ERRATUM_827319=n
CONFIG_NVMEM_SUNXI_SID=n
CONFIG_VFIO_PCI_INTX=n
CONFIG_TEGRA186_TIMER=n
CONFIG_SND_DMAENGINE_PCM=n
CONFIG_SND_MESON_G12A_TOHDMITX=n
CONFIG_VIDEOBUF2_CORE=n
CONFIG_CRYPTO_AEAD2=n
CONFIG_MEDIA_TUNER_XC2028=n
CONFIG_REGULATOR_MP8859=n
CONFIG_SND_PCI=n
CONFIG_DRM_PANEL_SAMSUNG_ATNA33XC20=n
CONFIG_PCIE_XILINX_DMA_PL=n
CONFIG_QCOM_PDR_HELPERS=n
CONFIG_REGMAP_SPMI=n
CONFIG_BT_HCIUART_QCA=n
CONFIG_BROADCOM_PHY=n
CONFIG_AUDIT_GENERIC=n
CONFIG_FSL_IMX8_DDR_PMU=n
CONFIG_I2C=n
CONFIG_KCMP=n
CONFIG_IMX7ULP_WDT=n
CONFIG_BCM_NS_THERMAL=n
CONFIG_USB_CHIPIDEA_GENERIC=n
CONFIG_NEED_PER_CPU_EMBED_FIRST_CHUNK=n
CONFIG_USB_XHCI_SIDEBAND=n
CONFIG_HTE=n
CONFIG_ARCH_BRCMSTB=n
CONFIG_SUNXI_RSB=n
CONFIG_MTD_CFI=n
CONFIG_RC_MAP=n
CONFIG_ARCH_HAS_MEM_ENCRYPT=n
CONFIG_I2C_MV64XXX=n
CONFIG_SND_SOC_XILINX_AUDIO_FORMATTER=n
CONFIG_ARM64_ERRATUM_1463225=n
CONFIG_PCI_DOMAINS_GENERIC=n
CONFIG_HNS3=n
CONFIG_VIDEO_IMX8_ISI_M2M=n
CONFIG_GPIO_TEGRA186=n
CONFIG_ARM64_ERRATUM_2658417=n
CONFIG_MFD_BD9571MWV=n
CONFIG_SPARSEMEM=n
CONFIG_ARCH_HAS_SET_MEMORY=n
CONFIG_PCI_J721E_HOST=n
CONFIG_RD_XZ=n
CONFIG_SND_SOC_NAU8822=n
CONFIG_SENSORS_PWM_FAN=n
CONFIG_STM32_TIMER_CNT=n
CONFIG_USB_SERIAL_FTDI_SIO=n
CONFIG_GENERIC_STRNCPY_FROM_USER=n
CONFIG_REGULATOR_MT6359=n
CONFIG_ARCH_USE_GNU_PROPERTY=n
CONFIG_TYPEC_MUX_NB7VPQ904M=n
CONFIG_MVPP2=n
CONFIG_INTERCONNECT_QCOM_GLYMUR=n
CONFIG_PRU_REMOTEPROC=n
CONFIG_DQL=n
CONFIG_LEGACY_TIOCSTI=n
CONFIG_DWMAC_IPQ806X=n
CONFIG_RT_MUTEXES=n
CONFIG_ARM_GIC_V5=n
CONFIG_DRM_LONTIUM_LT8912B=n
CONFIG_KVM=n
CONFIG_USB_DWC3_EXYNOS=n
CONFIG_GPIO_PCF857X=n
CONFIG_NET_VENDOR_AMD=n
CONFIG_VIDEO_WAVE_VPU=n
CONFIG_DRM_GEM_DMA_HELPER=n
CONFIG_REGULATOR_LP873X=n
CONFIG_REGULATOR_MT6357=n
CONFIG_SND_SOC_WSA884X=n
CONFIG_PHY_MESON_AXG_MIPI_DPHY=n
CONFIG_PINCTRL_MT8183=n
CONFIG_ARCH_HAS_GCOV_PROFILE_ALL=n
CONFIG_SENSORS_ARM_SCPI=n
CONFIG_V4L2_CCI_I2C=n
CONFIG_RESET_NUVOTON_MA35D1=n
CONFIG_REGMAP_SPI=n
CONFIG_CC_NO_STRINGOP_OVERFLOW=n
CONFIG_PHY_ROCKCHIP_TYPEC=n
CONFIG_CRYPTO_DES=n
CONFIG_REGULATOR_UNIPHIER=n
CONFIG_QUOTA=n
CONFIG_IMX_INTMUX=n
CONFIG_LEDS_TRIGGERS=n
CONFIG_GENERIC_IRQ_PROBE=n
CONFIG_MWIFIEX=n
CONFIG_TEGRA_HOST1X_FIREWALL=n
CONFIG_STUB_CLK_HI6220=n
CONFIG_GPIO_XGENE_SB=n
CONFIG_MTK_GPUEB_MBOX=n
CONFIG_IMX_MBOX=n
CONFIG_PWM_TIECAP=n
CONFIG_FEC=n
CONFIG_ARM64_ERRATUM_832075=n
CONFIG_EXYNOS_PMU=n
CONFIG_ARCH_XGENE=n
CONFIG_MEDIA_TUNER=n
CONFIG_SPARSEMEM_VMEMMAP_ENABLE=n
CONFIG_CPU_FREQ_STAT=n
CONFIG_COMMON_CLK_MT8195_IMP_IIC_WRAP=n
CONFIG_HAVE_GUP_FAST=n
CONFIG_MEDIA_CAMERA_SUPPORT=n
CONFIG_ROCKCHIP_GRF=n
CONFIG_SCREEN_INFO=n
CONFIG_HAVE_CONTEXT_TRACKING_USER=n
CONFIG_CRYPTO_LIB_SHA3_ARCH=n
CONFIG_NXP_NTMP=n
CONFIG_ARM_CCI400_PMU=n
CONFIG_HW_RANDOM_OMAP=n
CONFIG_COMMON_CLK_MT8192_IMGSYS=n
CONFIG_ARM_SCMI_HAVE_TRANSPORT=n
CONFIG_NO_HZ_COMMON=n
CONFIG_ARM_SCMI_TRANSPORT_MAILBOX=n
CONFIG_SND_SOC_RK817=n
CONFIG_TIMER_PROBE=n
CONFIG_PINCTRL_SM4450=n
CONFIG_MESON_WATCHDOG=n
CONFIG_ATH11K_PCI=n
CONFIG_UBIFS_FS_ZLIB=n
CONFIG_GENERIC_IRQ_SHOW_LEVEL=n
CONFIG_KVM_GENERIC_HARDWARE_ENABLING=n
CONFIG_USB_NET_CDCETHER=n
CONFIG_NET_CRC32C=n
CONFIG_GPIO_CDEV=n
CONFIG_VIDEO_IMX7_CSI=n
CONFIG_CHARGER_CROS_CONTROL=n
CONFIG_SND_SOC_HDMI_CODEC=n
CONFIG_PHY_QCOM_SGMII_ETH=n
CONFIG_COMMON_CLK_MT8192_IPESYS=n
CONFIG_ARCH_TEGRA_194_SOC=n
CONFIG_GPIO_DWAPB=n
CONFIG_ARM64_SME=n
CONFIG_USB_BELKIN=n
CONFIG_RC_DECODERS=n
CONFIG_ARCH_HAS_FORTIFY_SOURCE=n
CONFIG_PINCTRL_STM32=n
CONFIG_ACPI_HMAT=n
CONFIG_USB_SERIAL=n
CONFIG_GPIO_SHARED=n
CONFIG_SDM_VIDEOCC_845=n
CONFIG_PINCTRL_HAWI=n
CONFIG_SCSI_UFS_TI_J721E=n
CONFIG_CC_CAN_LINK=n
CONFIG_MOUSE_PS2_ALPS=n
CONFIG_WLAN_VENDOR_TI=n
CONFIG_SND_SIMPLE_CARD_UTILS=n
CONFIG_IMX_SCMI_LMM_EXT=n
CONFIG_REGULATOR_BD718XX=n
CONFIG_CLK_GFM_LPASS_SM8250=n
CONFIG_NLS=n
CONFIG_VIRTIO_MENU=n
CONFIG_SERIAL_DEV_BUS=n
CONFIG_ARCH_EXYNOS=n
CONFIG_PINCTRL_IMX_SCU=n
CONFIG_CRYPTO_SHA512=n
CONFIG_SYSC_R8A77990=n
CONFIG_INTERCONNECT_QCOM_X1E80100=n
CONFIG_EXYNOS_CHIPID=n
CONFIG_SERIAL_SH_SCI=n
CONFIG_SND_SOC_RT5682=n
CONFIG_SND_SOC_SOF_OF_DEV=n
CONFIG_PINCTRL_MSM8998=n
CONFIG_ARM_TEGRA194_CPUFREQ=n
CONFIG_CC_HAS_NO_PROFILE_FN_ATTR=n
CONFIG_SPI_BCM2835=n
CONFIG_MST_IRQ=n
CONFIG_CLK_KAANAPALI_VIDEOCC=n
CONFIG_VIRTIO_PCI_LIB_LEGACY=n
CONFIG_CRYPTO_SM4=n
CONFIG_VIDEO_V4L2_SUBDEV_API=n
CONFIG_MMC_DW_HI3798CV200=n
CONFIG_MMC_SDHCI_PLTFM=n
CONFIG_FB_DMAMEM_HELPERS_DEFERRED=n
CONFIG_HWSPINLOCK_OMAP=n
CONFIG_SENSORS_ARM_SCMI=n
CONFIG_PHY_CADENCE_DPHY=n
CONFIG_RESET_BRCMSTB_RESCAL=n
CONFIG_COMMON_CLK_MT6795_VDECSYS=n
CONFIG_UNIX=n
CONFIG_RTC_DRV_RV3028=n
CONFIG_DEBUG_MEMORY_INIT=n
CONFIG_CRC64=n
CONFIG_ARM_SCPI_POWER_DOMAIN=n
CONFIG_CRYPTO_CTR=n
CONFIG_OF_GPIO=n
CONFIG_COMMON_CLK_MT8167_VDECSYS=n
CONFIG_RTC_DRV_MESON_VRTC=n
CONFIG_ACPI_PCC=n
CONFIG_GENERIC_PHY=n
CONFIG_CPU_FREQ_GOV_USERSPACE=n
CONFIG_CPU_PM=n
CONFIG_BLK_MQ_STACKING=n
CONFIG_SPI_MESON_SPICC=n
CONFIG_COMPAT_OLD_SIGACTION=n
CONFIG_ASYMMETRIC_KEY_TYPE=n
CONFIG_GOOGLE_COREBOOT_TABLE=n
CONFIG_PHY_QCOM_QMP_UFS=n
CONFIG_FPGA_MGR_ZYNQMP_FPGA=n
CONFIG_USB_ISP1760_HCD=n
CONFIG_USB_CHIPIDEA_HOST=n
CONFIG_IOMMU_IO_PGTABLE_DART=n
CONFIG_DRM_PANEL_VISIONOX_VTDR6130=n
CONFIG_CAN_MCP251XFD=n
CONFIG_SG_SPLIT=n
CONFIG_COMMON_CLK_MT8195_VDOSYS=n
CONFIG_DRM_SUN8I_MIXER=n
CONFIG_TTY=n
CONFIG_DRM_EXYNOS7_DECON=n
CONFIG_VIDEO_SYNOPSYS_HDMIRX=n
CONFIG_V4L2_CCI=n
CONFIG_SND_SOC_BT_SCO=n
CONFIG_TYPEC_HD3SS3220=n
CONFIG_PINCTRL_MESON=n
CONFIG_IWLWIFI_LEDS=n
CONFIG_ARMADA_CP110_SYSCON=n
CONFIG_COMMON_CLK_VC3=n
CONFIG_RPMSG_CTRL=n
CONFIG_ARCH_WANT_BATCHED_UNMAP_TLB_FLUSH=n
CONFIG_IP_MULTICAST=n
CONFIG_VIRTIO_PCI_LEGACY=n
CONFIG_REGULATOR_ROHM=n
CONFIG_ATA=n
CONFIG_GPIO_SL28CPLD=n
CONFIG_SND_SOC_MT8183_DA7219_MAX98357A=n
CONFIG_SLUB_DEBUG=n
CONFIG_USB_DWC2_DUAL_ROLE=n
CONFIG_SERIAL_STM32_CONSOLE=n
CONFIG_ROCKCHIP_INNO_HDMI=n
CONFIG_CORESIGHT_CATU=n
CONFIG_DRM_MSM_DSI=n
CONFIG_FAIR_GROUP_SCHED=n
CONFIG_DEBUG_INFO_COMPRESSED_NONE=n
CONFIG_MMC_QCOM_DML=n
CONFIG_ARCH_SUPPORTS_KEXEC_HANDOVER=n
CONFIG_IRQCHIP=n
CONFIG_IMX_SCU_PD=n
CONFIG_MDIO=n
CONFIG_SND_SOC_MT8365_MT6357=n
CONFIG_PCS_XPCS=n
CONFIG_ARCH_TEGRA_241_SOC=n
CONFIG_MEDIA_TUNER_TDA8290=n
CONFIG_ARM64_ERRATUM_4311569=n
CONFIG_HAVE_FUNCTION_TRACER=n
CONFIG_NF_CT_PROTO_SCTP=n
CONFIG_QCOM_SPMI_TEMP_ALARM=n
CONFIG_CRYPTO_ECHAINIV=n
CONFIG_SERIAL_STM32=n
CONFIG_MQ_IOSCHED_KYBER=n
CONFIG_SL28CPLD_INTC=n
CONFIG_CLK_RENESAS_DIV6=n
CONFIG_SERIAL_RSCI=n
CONFIG_QCOM_SMP2P=n
CONFIG_QCOM_RPMH=n
CONFIG_GENERIC_CSUM=n
CONFIG_PINCTRL_MESON_AXG_PMX=n
CONFIG_SGL_ALLOC=n
CONFIG_PM_OPP=n
CONFIG_GENERIC_ADC_THERMAL=n
CONFIG_POWER_RESET_GPIO_RESTART=n
CONFIG_SPI_RPCIF=n
CONFIG_HIGH_RES_TIMERS=n
CONFIG_PINCTRL_TEGRA_XUSB=n
CONFIG_BNX2X_SRIOV=n
CONFIG_USB_CHIPIDEA_UDC=n
CONFIG_SYSCON_REBOOT_MODE=n
CONFIG_RMNET=n
