CONFIG_GENERIC_GETTIMEOFDAY=n
CONFIG_ARCH_SUPPORTS_KEXEC_BZIMAGE_VERIFY_SIG=n
CONFIG_RTC_CLASS=n
CONFIG_GENERIC_ALLOCATOR=n
CONFIG_DCACHE_WORD_ACCESS=n
CONFIG_KEXEC_CORE=n
CONFIG_IOMMU_PT_X86_64=n
CONFIG_GENERIC_SMP_IDLE_THREAD=n
CONFIG_FAIR_GROUP_SCHED=n
CONFIG_NET_VENDOR_ALIBABA=n
CONFIG_HWMON=n
CONFIG_THERMAL_HWMON=n
CONFIG_ACPI_BATTERY=n
CONFIG_QUEUED_SPINLOCKS=n
CONFIG_CGROUPS=n
CONFIG_NF_CONNTRACK_FTP=n
CONFIG_CRC_OPTIMIZATIONS=n
CONFIG_IOMMU_DMA=n
CONFIG_EARLY_PRINTK=n
CONFIG_SPARSEMEM_EXTREME=n
CONFIG_NET_VENDOR_META=n
CONFIG_PGTABLE_HAS_HUGE_LEAVES=n
CONFIG_ARCH_HAS_DEBUG_VM_PGTABLE=n
CONFIG_IA32_EMULATION=n
CONFIG_VT_CONSOLE=n
CONFIG_PM_SLEEP=n
CONFIG_COMPAT_OLD_SIGACTION=n
CONFIG_ARCH_DEFAULT_CRASH_DUMP=n
CONFIG_LD_IS_BFD=n
CONFIG_FWNODE_MDIO=n
CONFIG_HAVE_PERF_EVENTS_NMI=n
CONFIG_BLK_DEV_MD=n
CONFIG_X86_HV_CALLBACK_VECTOR=n
CONFIG_HAVE_CALL_THUNKS=n
CONFIG_ARCH_HAS_ADD_PAGES=n
CONFIG_CONNECTOR=n
CONFIG_HUGETLB_PAGE=n
CONFIG_SECURITY_SELINUX_DEVELOP=n
CONFIG_EXT4_USE_FOR_EXT2=n
CONFIG_RANDSTRUCT_NONE=n
CONFIG_MQ_IOSCHED_DEADLINE=n
CONFIG_HAVE_MIXED_BREAKPOINTS_REGS=n
CONFIG_LOCK_DEBUGGING_SUPPORT=n
CONFIG_AGP_AMD64=n
CONFIG_CRYPTO_LIB_SHA1_ARCH=n
CONFIG_VFAT_FS=n
CONFIG_NEED_SG_DMA_LENGTH=n
CONFIG_EFI_CUSTOM_SSDT_OVERLAYS=n
CONFIG_NET_VENDOR_ENGLEDER=n
CONFIG_MODULES_USE_ELF_RELA=n
CONFIG_HAVE_CONTEXT_TRACKING_USER=n
CONFIG_ARCH_SUPPORTS_KEXEC_HANDOVER=n
CONFIG_E1000E_HWTS=n
CONFIG_CRYPTO_LIB_AES_CBC_MACS=n
CONFIG_NET_VENDOR_TI=n
CONFIG_PCI_DOMAINS=n
CONFIG_ARCH_HAS_STRICT_KERNEL_RWX=n
CONFIG_I2C_HID=n
CONFIG_SND_PCMCIA=n
CONFIG_DMAR_TABLE=n
CONFIG_ARCH_HAS_UACCESS_FLUSHCACHE=n
CONFIG_SECURITY=n
CONFIG_INPUT_TOUCHSCREEN=n
CONFIG_PID_NS=n
CONFIG_NET_VENDOR_AMAZON=n
CONFIG_XZ_DEC_ARMTHUMB=n
CONFIG_CPU_MITIGATIONS=n
CONFIG_SATA_PMP=n
CONFIG_SND_TIMER=n
CONFIG_CGROUP_NET_PRIO=n
CONFIG_MODULE_UNLOAD=n
CONFIG_ARCH_HAS_FAST_MULTIPLIER=n
CONFIG_CARDBUS=n
CONFIG_MOUSE_PS2=n
CONFIG_IP_MROUTE=n
CONFIG_NET_VENDOR_XIRCOM=n
CONFIG_MOUSE_PS2_TRACKPOINT=n
CONFIG_TRACE_IRQFLAGS_SUPPORT=n
CONFIG_NO_HZ_IDLE=n
CONFIG_HAVE_PREEMPT_DYNAMIC=n
CONFIG_ARCH_SUPPORTS_KEXEC_FILE=n
CONFIG_THERMAL=n
CONFIG_KCMP=n
CONFIG_HOTPLUG_PCI=n
CONFIG_SCSI_PROC_FS=n
CONFIG_CRASH_RESERVE=n
CONFIG_SYSVIPC=n
CONFIG_ARCH_CLOCKSOURCE_INIT=n
CONFIG_NET_VENDOR_NVIDIA=n
CONFIG_RATIONAL=n
CONFIG_PTP_1588_CLOCK_KVM=n
CONFIG_TREE_RCU=n
CONFIG_MD_BITMAP=n
CONFIG_TASKSTATS=n
CONFIG_PANTHERLORD_FF=n
CONFIG_NF_LOG_IPV6=n
CONFIG_USB_NET_DRIVERS=n
CONFIG_ZSTD_COMMON=n
CONFIG_X86_DISABLED_FEATURE_K6_MTRR=n
CONFIG_CPUFREQ_ARCH_CUR_FREQ=n
CONFIG_NET_VENDOR_NETRONOME=n
CONFIG_9P_FS=n
CONFIG_VIRTIO_CONSOLE=n
CONFIG_ARCH_USES_PG_ARCH_2=n
CONFIG_STRICT_KERNEL_RWX=n
CONFIG_ACPI_THERMAL=n
CONFIG_ACPI_NHLT=n
CONFIG_EFI_ESRT=n
CONFIG_X86_MCE_THRESHOLD=n
CONFIG_NOP_TRACER=n
CONFIG_PCI_DIRECT=n
CONFIG_SND_USB=n
CONFIG_CRYPTO_RSA=n
CONFIG_MITIGATION_RETHUNK=n
CONFIG_INTEL_MEI=n
CONFIG_ACPI_MADT_WAKEUP=n
CONFIG_SND_SEQ_DEVICE=n
CONFIG_ISA_DMA_API=n
CONFIG_ARCH_HAS_HW_PTE_YOUNG=n
CONFIG_ARCH_MIGHT_HAVE_PC_PARPORT=n
CONFIG_DECOMPRESS_LZMA=n
CONFIG_WLAN_VENDOR_SILABS=n
CONFIG_UNINLINE_SPIN_UNLOCK=n
CONFIG_XZ_DEC_SPARC=n
CONFIG_PCSPKR_PLATFORM=n
CONFIG_ARCH_HAS_ACPI_TABLE_UPGRADE=n
CONFIG_NET_VENDOR_CHELSIO=n
CONFIG_NETFILTER_XT_TARGET_SECMARK=n
CONFIG_DRM_GEM_SHMEM_HELPER=n
CONFIG_OLD_SIGSUSPEND3=n
CONFIG_THERMAL_GOV_STEP_WISE=n
CONFIG_DMA_VIRTUAL_CHANNELS=n
CONFIG_ARCH_HAS_COPY_MC=n
CONFIG_HAVE_IRQ_TIME_ACCOUNTING=n
CONFIG_VIRTIO_ANCHOR=n
CONFIG_CRC16=n
CONFIG_HAVE_CMPXCHG_LOCAL=n
CONFIG_XFRM_USER=n
CONFIG_CC_IS_GCC=n
CONFIG_USB_HIDDEV=n
CONFIG_COMPACTION=n
CONFIG_GENERIC_ISA_DMA=n
CONFIG_ACPI_DOCK=n
CONFIG_ARCH_SUPPORTS_KEXEC_SIG=n
CONFIG_NET_VENDOR_DEC=n
CONFIG_EPOLL=n
CONFIG_GENERIC_BITREVERSE=n
CONFIG_NF_REJECT_IPV6=n
CONFIG_CRC32_ARCH=n
CONFIG_KRETPROBES=n
CONFIG_VIRTIO_MENU=n
CONFIG_X86_INTEL_TSX_MODE_AUTO=n
CONFIG_CC_HAS_ENTRY_PADDING=n
CONFIG_WLAN_VENDOR_BROADCOM=n
CONFIG_HAVE_GUP_FAST=n
CONFIG_IP_ROUTE_VERBOSE=n
CONFIG_USB_MON=n
CONFIG_ARCH_HAS_FORTIFY_SOURCE=n
CONFIG_ACPI_THERMAL_LIB=n
CONFIG_NLS_ISO8859_1=n
CONFIG_ARCH_HAS_PTDUMP=n
CONFIG_SECRETMEM=n
CONFIG_X86_REQUIRED_FEATURE_CMOV=n
CONFIG_NET_VENDOR_8390=n
CONFIG_NF_REJECT_IPV4=n
CONFIG_SERIAL_8250_EXTENDED=n
CONFIG_HAVE_HARDLOCKUP_DETECTOR_BUDDY=n
CONFIG_YENTA_TOSHIBA=n
CONFIG_LOCKD_V4=n
CONFIG_X86_REQUIRED_FEATURE_XMM2=n
CONFIG_QUOTACTL=n
CONFIG_X86_CPUID=n
CONFIG_GENERIC_EARLY_IOREMAP=n
CONFIG_HAVE_STACK_VALIDATION=n
CONFIG_EARLY_PRINTK_DBGP=n
CONFIG_WLAN_VENDOR_ATH=n
CONFIG_MOUSE_PS2_CYPRESS=n
CONFIG_ARCH_WANT_HUGE_PMD_SHARE=n
CONFIG_HUGETLB_PAGE_OPTIMIZE_VMEMMAP=n
CONFIG_SPARSEMEM_VMEMMAP_ENABLE=n
CONFIG_TCP_CONG_CUBIC=n
CONFIG_X86_DISABLED_FEATURE_XENPV=n
CONFIG_NET_VENDOR_SILAN=n
CONFIG_CGROUP_CPUACCT=n
CONFIG_GENERIC_BUG=n
CONFIG_HAS_IOPORT_MAP=n
CONFIG_IOMMU_PT_AMDV1=n
CONFIG_SND_SEQUENCER=n
CONFIG_ACPI_BUTTON=n
CONFIG_XFRM_ALGO=n
CONFIG_NEED_TASKS_RCU=n
CONFIG_ARCH_SUPPORTS_INT128=n
CONFIG_ARCH_SUPPORTS_LTO_CLANG=n
CONFIG_PCI_LABEL=n
CONFIG_PNFS_BLOCK=n
CONFIG_ARCH_WANTS_CLOCKSOURCE_READ_INLINE=n
CONFIG_ARCH_HAS_PTE_SPECIAL=n
CONFIG_PROC_KCORE=n
CONFIG_WLAN_VENDOR_INTERSIL=n
CONFIG_CC_HAS_KASAN_GENERIC=n
CONFIG_NETFILTER=n
CONFIG_X86_DISABLED_FEATURE_CYRIX_ARR=n
CONFIG_MPILIB=n
CONFIG_SYSTEM_DATA_VERIFICATION=n
CONFIG_SCSI=n
CONFIG_NET_VENDOR_SOCIONEXT=n
CONFIG_X86_TSC=n
CONFIG_IRQ_DOMAIN_HIERARCHY=n
CONFIG_RTC_I2C_AND_SPI=n
CONFIG_VMAP_STACK=n
CONFIG_HAVE_KERNEL_ZSTD=n
CONFIG_IOMMU_SUPPORT=n
CONFIG_NET_VENDOR_GOOGLE=n
CONFIG_NET_VENDOR_SYNOPSYS=n
CONFIG_SPLIT_PMD_PTLOCKS=n
CONFIG_PCMCIA=n
CONFIG_SERIAL_8250_PNP=n
CONFIG_NFS_V3=n
CONFIG_MODULE_FORCE_UNLOAD=n
CONFIG_ETHTOOL_NETLINK=n
CONFIG_X86_DISABLED_FEATURE_FRED=n
CONFIG_X86_DIRECT_GBPAGES=n
CONFIG_USE_PERCPU_NUMA_NODE_ID=n
CONFIG_PAGE_POOL=n
CONFIG_CPU_SUP_AMD=n
CONFIG_CC_HAS_RETURN_THUNK=n
CONFIG_SPARSE_IRQ=n
CONFIG_DM_ZERO=n
CONFIG_DEVMEM=n
CONFIG_NETFILTER_NETLINK_LOG=n
CONFIG_CFG80211=n
CONFIG_NETPOLL=n
CONFIG_CALL_THUNKS=n
CONFIG_DMI=n
CONFIG_KRETPROBE_ON_RETHOOK=n
CONFIG_HAVE_CONTEXT_TRACKING_USER_OFFSTACK=n
CONFIG_MITIGATION_MMIO_STALE_DATA=n
CONFIG_EFI_MIXED=n
CONFIG_ARCH_SUPPORTS_HUGETLBFS=n
CONFIG_POSIX_CPU_TIMERS_TASK_WORK=n
CONFIG_BLK_DEV_WRITE_MOUNTED=n
CONFIG_VMCORE_INFO=n
CONFIG_STACKTRACE_SUPPORT=n
CONFIG_UNWIND_USER=n
CONFIG_DRM_I915_USERPTR=n
CONFIG_NF_CT_NETLINK=n
CONFIG_HAVE_UNSTABLE_SCHED_CLOCK=n
CONFIG_ATA_VERBOSE_ERROR=n
CONFIG_CRYPTO_CTS=n
CONFIG_CRYPTO_HMAC=n
CONFIG_HAVE_VIRT_CPU_ACCOUNTING_GEN=n
CONFIG_NET_VENDOR_AQUANTIA=n
CONFIG_RTC_MC146818_LIB=n
CONFIG_ARCH_HAS_DEBUG_VIRTUAL=n
CONFIG_VIDEO=n
CONFIG_ADVISE_SYSCALLS=n
CONFIG_USB_ARCH_HAS_HCD=n
CONFIG_NET_SELFTESTS=n
CONFIG_USB_XHCI_HCD=n
CONFIG_SUSPEND=n
CONFIG_NET_SCHED=n
CONFIG_HAVE_FUNCTION_TRACER=n
CONFIG_UTS_NS=n
CONFIG_SHMEM=n
CONFIG_BITREVERSE=n
CONFIG_HAVE_DEBUG_KMEMLEAK=n
CONFIG_CPU_SUP_ZHAOXIN=n
CONFIG_SUNRPC_BACKCHANNEL=n
CONFIG_CRYPTO_AEAD=n
CONFIG_PNFS_FLEXFILE_LAYOUT=n
CONFIG_DEBUG_MEMORY_INIT=n
CONFIG_ARCH_WANTS_THP_SWAP=n
CONFIG_PT_RECLAIM=n
CONFIG_SOCK_RX_QUEUE_MAPPING=n
CONFIG_FORCEDETH=n
CONFIG_XARRAY_MULTI=n
CONFIG_PARAVIRT=n
CONFIG_DECOMPRESS_BZIP2=n
CONFIG_DRM_DISPLAY_DP_HELPER=n
CONFIG_HSU_DMA=n
CONFIG_ARCH_HAS_GCOV_PROFILE_ALL=n
CONFIG_ARCH_HAS_NMI_SAFE_THIS_CPU_OPS=n
CONFIG_AMD_NUMA=n
CONFIG_ACPI_CPPC_LIB=n
CONFIG_ARCH_SUPPORTS_ACPI=n
CONFIG_UNWINDER_ORC=n
CONFIG_ARCH_USES_HIGH_VMA_FLAGS=n
CONFIG_EDAC_SUPPORT=n
CONFIG_X86_VMX_FEATURE_NAMES=n
CONFIG_EFI_PARTITION=n
CONFIG_NET_VENDOR_QUALCOMM=n
CONFIG_POWER_SUPPLY=n
CONFIG_ATA_FORCE=n
CONFIG_STRICT_MODULE_RWX=n
CONFIG_ACPI_PROCESSOR=n
CONFIG_BACKLIGHT_CLASS_DEVICE=n
CONFIG_LD_ORPHAN_WARN=n
CONFIG_NETFILTER_SKIP_EGRESS=n
CONFIG_HALTPOLL_CPUIDLE=n
CONFIG_DEBUG_MISC=n
