CONFIG_PCMCIA=n
CONFIG_CRYPTO_AKCIPHER=n
CONFIG_EFI_HANDOVER_PROTOCOL=n
CONFIG_ACPI_PLATFORM_PROFILE=n
CONFIG_MODULES_TREE_LOOKUP=n
CONFIG_CPU_SUP_INTEL=n
CONFIG_HAVE_ARCH_HUGE_VMAP=n
CONFIG_TASKS_RCU=n
CONFIG_GENERIC_PCI_IOMAP=n
CONFIG_GENERIC_PENDING_IRQ=n
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST=n
CONFIG_X86_NEED_RELOCS=n
CONFIG_EARLY_PRINTK=n
CONFIG_HID_GENERIC=n
CONFIG_GENERIC_IRQ_MIGRATION=n
CONFIG_ARCH_HAS_ADD_PAGES=n
CONFIG_HAVE_ARCH_SECCOMP=n
CONFIG_ZSTD_COMMON=n
CONFIG_CRYPTO_LIB_AES=n
CONFIG_E1000=n
CONFIG_BLK_CGROUP_IOCOST=n
CONFIG_NET_VENDOR_VERTEXCOM=n
CONFIG_ACPI_MRRM=n
CONFIG_ARCH_USE_QUEUED_SPINLOCKS=n
CONFIG_X86_MCE_THRESHOLD=n
CONFIG_GENERIC_IRQ_MATRIX_ALLOCATOR=n
CONFIG_X86_BUS_LOCK_DETECT=n
CONFIG_ACPI_DOCK=n
CONFIG_FUTEX=n
CONFIG_CRC32_ARCH=n
CONFIG_WLAN_VENDOR_ATH=n
CONFIG_ISA_DMA_API=n
CONFIG_TASKS_TRACE_RCU=n
CONFIG_SECURITY_SELINUX_BOOTPARAM=n
CONFIG_USB_PCI=n
CONFIG_RELOCATABLE=n
CONFIG_DRM_BRIDGE=n
CONFIG_SERIO_LIBPS2=n
CONFIG_INPUT_SPARSEKMAP=n
CONFIG_CGROUPS=n
CONFIG_NET_VENDOR_TI=n
CONFIG_CGROUP_PIDS=n
CONFIG_SCHEDSTATS=n
CONFIG_DRM_DISPLAY_HDMI_HELPER=n
CONFIG_BLK_PM=n
CONFIG_ARCH_HAS_EXECMEM_ROX=n
CONFIG_COMPAT_32=n
CONFIG_NET_VENDOR_RENESAS=n
CONFIG_PCI_PASID=n
CONFIG_GCC_NO_STRINGOP_OVERFLOW=n
CONFIG_HAVE_OBJTOOL_NOP_MCOUNT=n
CONFIG_NET_VENDOR_GOOGLE=n
CONFIG_TRACE_IRQFLAGS_SUPPORT=n
CONFIG_TICK_CPU_ACCOUNTING=n
CONFIG_CDROM=n
CONFIG_NETFILTER_INGRESS=n
CONFIG_FS_IOMAP=n
CONFIG_HAVE_ARCH_KASAN=n
CONFIG_EFI_PARTITION=n
CONFIG_INIT_STACK_ALL_ZERO=n
CONFIG_CPU_IDLE_GOV_MENU=n
CONFIG_CLZ_TAB=n
CONFIG_GENERIC_NET_UTILS=n
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_ARGS=n
CONFIG_X86_REQUIRED_FEATURE_FXSR=n
CONFIG_NET_CLS=n
CONFIG_LEGACY_VSYSCALL_XONLY=n
CONFIG_MMU_LAZY_TLB_REFCOUNT=n
CONFIG_SATA_AHCI=n
CONFIG_WERROR=n
CONFIG_HAVE_CMPXCHG_LOCAL=n
CONFIG_CC_HAS_ENTRY_PADDING=n
CONFIG_CRC_CCITT=n
CONFIG_X86_CET=n
CONFIG_TMPFS_XATTR=n
CONFIG_FWNODE_MDIO=n
CONFIG_ATA_FORCE=n
CONFIG_IA32_EMULATION=n
CONFIG_ZONE_DMA=n
CONFIG_PCCARD=n
CONFIG_ARCH_USE_QUEUED_RWLOCKS=n
CONFIG_CGROUP_DEBUG=n
CONFIG_NET_VENDOR_MUCSE=n
CONFIG_NET=n
CONFIG_FHANDLE=n
CONFIG_CPU_FREQ=n
CONFIG_ARCH_HAS_GENERIC_CRASHKERNEL_RESERVATION=n
CONFIG_CACHESTAT_SYSCALL=n
CONFIG_NET_VENDOR_CAVIUM=n
CONFIG_HAVE_CALL_THUNKS=n
CONFIG_NUMA=n
CONFIG_EXPORTFS=n
CONFIG_MITIGATION_IBRS_ENTRY=n
CONFIG_GENERIC_CPU_VULNERABILITIES=n
CONFIG_ARCH_HAS_DEVMEM_IS_ALLOWED=n
CONFIG_IO_URING_BPF=n
CONFIG_ARCH_HAS_CPU_CACHE_INVALIDATE_MEMREGION=n
CONFIG_I2C_SMBUS=n
CONFIG_THERMAL=n
CONFIG_X86_CPUID=n
CONFIG_MMU_GATHER_RCU_TABLE_FREE=n
CONFIG_STRICT_KERNEL_RWX=n
CONFIG_DRM_DISPLAY_HELPER=n
CONFIG_EPOLL=n
CONFIG_X509_CERTIFICATE_PARSER=n
CONFIG_UNIX98_PTYS=n
CONFIG_HAVE_KERNEL_XZ=n
CONFIG_DECOMPRESS_GZIP=n
CONFIG_HAVE_FUNCTION_TRACER=n
CONFIG_HID_GYRATION=n
CONFIG_KVM_GUEST=n
CONFIG_NET_9P=n
CONFIG_HWMON=n
CONFIG_NVMEM_SYSFS=n
CONFIG_DECOMPRESS_XZ=n
CONFIG_ARCH_HAS_SYNC_CORE_BEFORE_USERMODE=n
CONFIG_CRYPTO_LIB_SHA256_ARCH=n
CONFIG_PM_SLEEP=n
CONFIG_DMA_NEED_SYNC=n
CONFIG_SYSCTL=n
CONFIG_ALLOW_DEV_COREDUMP=n
CONFIG_CRYPTO_HMAC=n
CONFIG_ACPI_CONTAINER=n
CONFIG_X86_REQUIRED_FEATURE_PAE=n
CONFIG_CRYPTO_LIB_UTILS=n
CONFIG_HAS_SECURITY_AUDIT=n
CONFIG_ARCH_SUPPORTS_RT=n
CONFIG_KERNEL_GZIP=n
CONFIG_BINFMT_SCRIPT=n
CONFIG_HID_PANTHERLORD=n
CONFIG_CPU_FREQ_GOV_ONDEMAND=n
CONFIG_CRYPTO_ACOMP2=n
CONFIG_SYMBOLIC_ERRNAME=n
CONFIG_TASK_XACCT=n
CONFIG_X86_REQUIRED_FEATURE_ALWAYS=n
CONFIG_MD_BITMAP=n
CONFIG_IOMMU_IOPF=n
CONFIG_ARCH_SUPPORTS_SCHED_SMT=n
CONFIG_NET_VENDOR_SOCIONEXT=n
CONFIG_CPU_RMAP=n
CONFIG_NETDEVICES=n
CONFIG_NET_VENDOR_HISILICON=n
CONFIG_OID_REGISTRY=n
CONFIG_INET_TUNNEL=n
CONFIG_VIRTIO_BLK=n
CONFIG_IOMMU_IOVA=n
CONFIG_HID_PID=n
CONFIG_CGROUP_HUGETLB=n
CONFIG_SERIAL_CORE_CONSOLE=n
CONFIG_RING_BUFFER=n
CONFIG_INET6_AH=n
CONFIG_PCI_DOMAINS=n
CONFIG_XZ_DEC_POWERPC=n
CONFIG_BACKLIGHT_CLASS_DEVICE=n
CONFIG_VIRTIO_PCI_LIB=n
CONFIG_DRM_I915_CAPTURE_ERROR=n
CONFIG_DMA_OPS_HELPERS=n
CONFIG_HAVE_SAMPLE_FTRACE_DIRECT=n
CONFIG_BLK_DEV_MD=n
CONFIG_CPU_SUP_CENTAUR=n
CONFIG_PERF_EVENTS=n
CONFIG_ARCH_MIGHT_HAVE_PC_SERIO=n
CONFIG_CFG80211_REQUIRE_SIGNED_REGDB=n
CONFIG_BLK_DEV_IO_TRACE=n
CONFIG_SND_INTEL_NHLT=n
CONFIG_NETWORK_SECMARK=n
CONFIG_NEED_DMA_MAP_STATE=n
CONFIG_OPTPROBES=n
CONFIG_SERIAL_8250_LPSS=n
CONFIG_CGROUP_SCHED=n
CONFIG_NET_VENDOR_3COM=n
CONFIG_ARCH_HAS_KCOV=n
CONFIG_CRC_OPTIMIZATIONS=n
CONFIG_SUNRPC_BACKCHANNEL=n
CONFIG_GENERIC_CLOCKEVENTS_MIN_ADJUST=n
CONFIG_NET_VENDOR_OKI=n
CONFIG_X86_REQUIRED_FEATURE_PSE=n
CONFIG_CLKBLD_I8253=n
CONFIG_PROC_KCORE=n
CONFIG_RFKILL_LEDS=n
CONFIG_PM_TRACE=n
CONFIG_ASYNC_KERNEL_PGTABLE_FREE=n
CONFIG_RETHOOK=n
CONFIG_INTEL_TCC=n
CONFIG_GENERIC_IRQ_ENTRY=n
CONFIG_MITIGATION_SPECTRE_BHI=n
CONFIG_HID_SONY=n
CONFIG_EPROBE_EVENTS=n
CONFIG_SERIAL_CORE=n
CONFIG_X86_IOPL_IOPERM=n
CONFIG_SND_SEQUENCER=n
CONFIG_CRYPTO_ALGAPI=n
CONFIG_STACKTRACE_SUPPORT=n
CONFIG_IOSF_MBI=n
CONFIG_USER_STACKTRACE_SUPPORT=n
CONFIG_SND_SEQ_DUMMY=n
CONFIG_YENTA_TI=n
CONFIG_CRYPTO_MANAGER2=n
CONFIG_PTP_1588_CLOCK_KVM=n
CONFIG_TREE_SRCU=n
CONFIG_GENERIC_CPU_AUTOPROBE=n
CONFIG_HAVE_ASM_MODVERSIONS=n
CONFIG_USB_PRINTER=n
CONFIG_SCHED_MC_PRIO=n
CONFIG_HAVE_FUNCTION_ERROR_INJECTION=n
CONFIG_INPUT_MISC=n
CONFIG_NET_VENDOR_CISCO=n
CONFIG_ACPI_THERMAL_LIB=n
CONFIG_HAVE_INTEL_TXT=n
CONFIG_RFKILL_INPUT=n
CONFIG_SPARSE_IRQ=n
CONFIG_PCMCIA_LOAD_CIS=n
CONFIG_PAGE_COUNTER=n
CONFIG_DW_DMAC_CORE=n
CONFIG_BLK_DEBUG_FS=n
CONFIG_CC_NO_STRINGOP_OVERFLOW=n
CONFIG_DECOMPRESS_ZSTD=n
CONFIG_PM_DEBUG=n
CONFIG_CC_HAS_ZERO_CALL_USED_REGS=n
CONFIG_HAVE_NOINSTR_HACK=n
CONFIG_SMP=n
CONFIG_SYSVIPC_SYSCTL=n
CONFIG_PNFS_FLEXFILE_LAYOUT=n
CONFIG_HAVE_KERNEL_GZIP=n
CONFIG_PCIEASPM_DEFAULT=n
CONFIG_DECOMPRESS_BZIP2=n
CONFIG_R8169=n
CONFIG_UNWINDER_ORC=n
CONFIG_PCIE_PME=n
CONFIG_SND_SEQ_HRTIMER_DEFAULT=n
CONFIG_GENERIC_ENTRY=n
CONFIG_HAVE_NMI=n
CONFIG_X86_LOCAL_APIC=n
CONFIG_UID16=n
CONFIG_MITIGATION_SSB=n
CONFIG_CRYPTO_ECB=n
CONFIG_WLAN_VENDOR_BROADCOM=n
CONFIG_NET_RX_BUSY_POLL=n
CONFIG_SCHED_MC=n
CONFIG_USE_PERCPU_NUMA_NODE_ID=n
CONFIG_QFMT_V2=n
CONFIG_ARCH_MIGHT_HAVE_ACPI_PDC=n
CONFIG_SLUB=n
CONFIG_FUNCTION_ALIGNMENT_16B=n
CONFIG_X86_SUPPORTS_MEMORY_FAILURE=n
CONFIG_X86_DEBUG_FPU=n
CONFIG_ARCH_WANTS_CLOCKSOURCE_READ_INLINE=n
CONFIG_HID_TOPSEED=n
CONFIG_ARCH_SUPPORTS_KEXEC_SIG_FORCE=n
CONFIG_IOMMU_SUPPORT=n
CONFIG_ARCH_HAVE_EXTRA_ELF_NOTES=n
CONFIG_HAVE_KERNEL_ZSTD=n
CONFIG_HW_RANDOM_VIA=n
CONFIG_CRYPTO_CMAC=n
CONFIG_HID=n
CONFIG_NET_VENDOR_DEC=n
CONFIG_X86_TSC=n
CONFIG_LDISC_AUTOLOAD=n
CONFIG_AGP_AMD64=n
CONFIG_BLK_DEV_WRITE_MOUNTED=n
CONFIG_HAVE_VIRT_CPU_ACCOUNTING_GEN=n
CONFIG_IRQ_MSI_LIB=n
CONFIG_VHOST_MENU=n
CONFIG_CRYPTO_LZ4=n
CONFIG_RTC_INTF_PROC=n
CONFIG_ARCH_HAS_CPU_FINALIZE_INIT=n
CONFIG_ARCH_SUPPORTS_KEXEC_SIG=n
CONFIG_ARCH_SUPPORTS_LTO_CLANG=n
CONFIG_SND_TIMER=n
CONFIG_USB_UHCI_HCD=n
CONFIG_USB_EHCI_PCI=n
CONFIG_SHMEM=n
CONFIG_IP6_NF_MATCH_IPV6HEADER=n
CONFIG_NOINSTR_VALIDATION=n
CONFIG_X86_DISABLED_FEATURE_USER_SHSTK=n
CONFIG_HAVE_ARCH_KFENCE=n
CONFIG_NET_VENDOR_EZCHIP=n
CONFIG_PTDUMP=n
CONFIG_XZ_DEC_ARM64=n
CONFIG_HAVE_ARCH_VMAP_STACK=n
CONFIG_CGROUP_PERF=n
CONFIG_DEBUG_WX=n
CONFIG_PHYS_ADDR_T_64BIT=n
CONFIG_FONT_SUPPORT=n
CONFIG_RANDOMIZE_BASE=n
CONFIG_TASK_DELAY_ACCT=n
CONFIG_IOMMU_PT_VTDSS=n
CONFIG_TMPFS_POSIX_ACL=n
CONFIG_X86_MCE_AMD=n
CONFIG_NET_VENDOR_DAVICOM=n
CONFIG_DNOTIFY=n
CONFIG_HAVE_DEBUG_KMEMLEAK=n
CONFIG_XARRAY_MULTI=n
CONFIG_NO_HZ_COMMON=n
CONFIG_BINFMT_MISC=n
CONFIG_ARCH_SUPPORTS_KEXEC=n
CONFIG_CALL_PADDING=n
CONFIG_IOMMU_PT=n
CONFIG_CRYPTO_KRB5=n
CONFIG_ZLIB_INFLATE=n
