CONFIG_REGULATOR_DA9210=y
CONFIG_ARCH_OPTIONAL_KERNEL_RWX=y
CONFIG_MFD_DLN2=y
CONFIG_MFD_HI6421_SPMI=y
CONFIG_SENSORS_W83793=y
CONFIG_MOXTET=y
CONFIG_FB_DEFERRED_IO=y
CONFIG_REGULATOR_RN5T618=y
CONFIG_WQ_CPU_INTENSIVE_REPORT=y
CONFIG_RTC_DRV_DA9063=y
CONFIG_TYPEC_MUX_PTN36502=y
CONFIG_GENERIC_LIB_DEVMEM_IS_ALLOWED=y
CONFIG_CRC_OPTIMIZATIONS=y
CONFIG_CHARGER_RT9455=y
CONFIG_MFD_MADERA_SPI=y
CONFIG_HAVE_ASM_MODVERSIONS=y
CONFIG_COMMON_CLK_VC3=y
CONFIG_STM_PROTO_BASIC=y
CONFIG_64BIT=y
CONFIG_RTC_DRV_PCF85363=y
CONFIG_RTC_DRV_RX8111=y
CONFIG_INPUT_88PM860X_ONKEY=y
CONFIG_USB4_DMA_TEST=y
CONFIG_HARDENED_USERCOPY=y
CONFIG_PINCTRL_SUN8I_V3S=y
CONFIG_REMOTEPROC_CDEV=y
CONFIG_TOUCHSCREEN_WACOM_W9000=y
CONFIG_PREEMPT_DYNAMIC=y
CONFIG_EXTCON_SM5502=y
CONFIG_RISCV_APLIC=y
CONFIG_OF_ADDRESS=y
CONFIG_SOC_BUS=y
CONFIG_TOUCHSCREEN_ADS7846=y
CONFIG_I2C_SMBUS=y
CONFIG_ARCH_HAS_PREEMPT_LAZY=y
CONFIG_SUN50I_IOMMU=y
CONFIG_REGULATOR_DA9211=y
CONFIG_HAVE_ARCH_KFENCE=y
CONFIG_NLS_ISO8859_13=y
CONFIG_CLONE_BACKWARDS=y
CONFIG_TSM=y
CONFIG_PCI_ATS=y
CONFIG_LRU_GEN=y
CONFIG_BOARD_TPCI200=y
CONFIG_LEDS_WM831X_STATUS=y
CONFIG_TOUCHSCREEN_MMS114=y
CONFIG_USB_TRANCEVIBRATOR=y
CONFIG_RD_ZSTD=y
CONFIG_PHY_EIC7700_SATA=y
CONFIG_CRYPTO_DEV_QAT_C3XXX=y
CONFIG_BD79703=y
CONFIG_PAGE_OWNER=y
CONFIG_SERIO=y
CONFIG_IKHEADERS=y
CONFIG_REGULATOR_MAX1586=y
CONFIG_TCG_TIS_ST33ZP24_SPI=y
CONFIG_ARCH_PROC_KCORE_TEXT=y
CONFIG_AD5446_SPI=y
CONFIG_HW_RANDOM=y
CONFIG_RTC_DRV_GOLDFISH=y
CONFIG_LEDS_LP5860_SPI=y
CONFIG_PECI=y
CONFIG_IPMI_POWEROFF=y
CONFIG_HOTPLUG_PCI_OCTEONEP=y
CONFIG_PGTABLE_HAS_HUGE_LEAVES=y
CONFIG_BINFMT_ELF=y
CONFIG_CPU_NO_EFFICIENT_FFS=y
CONFIG_ARCH_WANTS_THP_SWAP=y
CONFIG_CC_NO_ARRAY_BOUNDS=y
CONFIG_IIO_MS_SENSORS_I2C=y
CONFIG_GPIO_WM831X=y
CONFIG_I2C_CP2615=y
CONFIG_SENSORS_TC74=y
CONFIG_MFD_CS40L50_CORE=y
CONFIG_PAHOLE_HAS_LANG_EXCLUDE=y
CONFIG_RISCV_APLIC_MSI=y
CONFIG_VIRTUALIZATION=y
CONFIG_I2C_SLAVE_EEPROM=y
CONFIG_NULL_TTY=y
CONFIG_GPIO_MAX77650=y
CONFIG_RESET_TI_TPS380X=y
CONFIG_NVMEM_U_BOOT_ENV=y
CONFIG_CPU_IDLE_GOV_TEO=y
CONFIG_PINCTRL_STARFIVE_JH7110_SYS=y
CONFIG_USB_F_SS_LB=y
CONFIG_MOUSE_GPIO=y
CONFIG_FORCE_NR_CPUS=y
CONFIG_DT_IDLE_STATES=y
CONFIG_TYPEC_MUX_WCD939X_USBSS=y
CONFIG_FB_SM501=y
CONFIG_PPS_DEBUG=y
CONFIG_MFD_STPMIC1=y
CONFIG_IOMMU_SUPPORT=y
CONFIG_TOUCHSCREEN_S6SY761=y
CONFIG_CHARGER_RK817=y
CONFIG_IIO_ST_LSM6DSX_I2C=y
CONFIG_DECOMPRESS_LZO=y
CONFIG_IOMMU_PT_RISCV64=y
CONFIG_MTD_OOPS=y
CONFIG_W1_SLAVE_DS2433_CRC=y
CONFIG_LOCK_MM_AND_FIND_VMA=y
CONFIG_TYPEC_ANX7411=y
CONFIG_MFD_CS47L85=y
CONFIG_MTD_DOCG3=y
CONFIG_SDP500=y
CONFIG_DAMON=y
CONFIG_BATTERY_88PM860X=y
CONFIG_SUN20I_PPU=y
CONFIG_HAVE_ARCH_GET_SECUREBOOT=y
CONFIG_ARCH_HAS_SYNC_CORE_BEFORE_USERMODE=y
CONFIG_RTC_DRV_RV8803=y
CONFIG_SENSORS_ADS7828=y
CONFIG_SPI_DW_MMIO=y
CONFIG_CRYPTO_ALGAPI=y
CONFIG_ZOPT2201=y
CONFIG_SENSORS_F75375S=y
CONFIG_USB_GADGETFS=y
CONFIG_HAVE_ALIGNED_STRUCT_PAGE=y
CONFIG_PECI_CPU=y
CONFIG_GENERIC_ALLOCATOR=y
CONFIG_XILLYBUS=y
CONFIG_SPARSEMEM_VMEMMAP=y
CONFIG_PINCTRL_PIC64GX=y
CONFIG_CRYPTO_BLOWFISH_COMMON=y
CONFIG_REGULATOR_MAX8660=y
CONFIG_SENSORS_VT8231=y
CONFIG_CLK_STARFIVE_JH7110_AON=y
CONFIG_MFD_WM8997=y
CONFIG_MMA7455_SPI=y
CONFIG_POWER_RESET_QEMU_VIRT_CTRL=y
CONFIG_TOUCHSCREEN_EXC3000=y
CONFIG_INPUT_FF_MEMLESS=y
CONFIG_MUX_MMIO=y
CONFIG_VIDEO=y
CONFIG_NVMEM_LAYOUT_U_BOOT_ENV=y
CONFIG_W1_MASTER_MATROX=y
CONFIG_LEDS_LM36274=y
CONFIG_CRYPTO_CMAC=y
CONFIG_MFD_CS47L35=y
CONFIG_HAVE_ARCH_AUDITSYSCALL=y
CONFIG_CHARGER_BD99954=y
CONFIG_BCMA_HOST_PCI=y
CONFIG_USB4_DEBUGFS_WRITE=y
CONFIG_IDLE_PAGE_TRACKING=y
CONFIG_AD5592R=y
CONFIG_DEFAULT_SECURITY_DAC=y
CONFIG_IIO_MUX=y
CONFIG_HAVE_KVM_IRQCHIP=y
CONFIG_FS_ENCRYPTION=y
CONFIG_TOUCHSCREEN_NOVATEK_NVT_TS=y
CONFIG_SPI_PL022=y
CONFIG_FIREWIRE=y
CONFIG_FIREWIRE_OHCI=y
CONFIG_ENS210=y
CONFIG_CRYPTO_SKCIPHER2=y
CONFIG_PCI_DOE=y
CONFIG_USB_HUB_USB251XB=y
CONFIG_BATTERY_CW2015=y
CONFIG_ABP2030PA=y
CONFIG_FB_SYS_IMAGEBLIT=y
CONFIG_REGMAP_SPMI=y
CONFIG_SPI_ZYNQMP_GQSPI=y
CONFIG_BMI160_I2C=y
CONFIG_MCB_PCI=y
CONFIG_USB_ANNOUNCE_NEW_DEVICES=y
CONFIG_VIRTIO=y
CONFIG_UNICODE=y
CONFIG_REGULATOR_PALMAS=y
CONFIG_MOUSE_SERIAL=y
CONFIG_GPIO_GW_PLD=y
CONFIG_REGULATOR_RT4831=y
CONFIG_MFD_SMPRO=y
CONFIG_HAS_DMA=y
CONFIG_VL53L0X_I2C=y
CONFIG_MOUSE_SYNAPTICS_I2C=y
CONFIG_SAMPLES=y
CONFIG_GENERIC_SYSCALL=y
CONFIG_MUX_GPIO=y
CONFIG_POWER_RESET_GPIO_RESTART=y
CONFIG_GPIO_LTC4283=y
CONFIG_EXPORTFS_BLOCK_OPS=y
CONFIG_USB_USS720=y
CONFIG_ARCH_DMA_DEFAULT_COHERENT=y
CONFIG_USB_ZERO=y
CONFIG_USB_CONFIGFS_OBEX=y
CONFIG_CRYPTO_CAST5=y
CONFIG_TMP007=y
CONFIG_MAX11410=y
CONFIG_CRYPTO_LIB_CHACHA=y
CONFIG_MFD_BCM590XX=y
CONFIG_SENSORS_INA209=y
CONFIG_AUTOFS_FS=y
CONFIG_XILLYBUS_OF=y
CONFIG_USB_DWC2_DUAL_ROLE=y
CONFIG_CC_IS_GCC=y
CONFIG_INPUT_MOUSE=y
CONFIG_RTC_DRV_MAX8907=y
CONFIG_SERIO_PCIPS2=y
CONFIG_REGULATOR_RK808=y
CONFIG_DMARD09=y
CONFIG_SERIAL_EARLYCON_SEMIHOST=y
CONFIG_MFD_MP2629=y
CONFIG_RAPIDIO_ENUM_BASIC=y
CONFIG_TI_ADC161S626=y
CONFIG_TYPEC_UCSI=y
CONFIG_LEDS_MAX77693=y
CONFIG_SENSORS_MP2985=y
CONFIG_SERIAL_SPRD=y
CONFIG_LEDS_LP5860_CORE=y
CONFIG_W1_SLAVE_DS28E17=y
CONFIG_REGULATOR_RT8092=y
CONFIG_USB_ISP1761_UDC=y
CONFIG_GENERIC_IRQ_MATRIX_ALLOCATOR=y
CONFIG_MFD_MADERA_I2C=y
CONFIG_RCU_NEED_SEGCBLIST=y
CONFIG_TI_ADC084S021=y
CONFIG_REGULATOR_MAX8998=y
CONFIG_COMMON_CLK_MAX9485=y
CONFIG_PROVE_RCU=y
CONFIG_BINFMT_MISC=y
CONFIG_SENSORS_LIS3LV02D=y
CONFIG_CRYPTO_CCM=y
CONFIG_ARCH_HAS_CURRENT_STACK_POINTER=y
CONFIG_DUMMY_CONSOLE=y
CONFIG_USB_U_SERIAL=y
CONFIG_BOOT_PRINTK_DELAY=y
CONFIG_PARAVIRT=y
CONFIG_AMD_QDMA=y
CONFIG_INPUT_JOYSTICK=y
CONFIG_REGMAP=y
CONFIG_MTD_ONENAND_OTP=y
CONFIG_SLAB_FREELIST_RANDOM=y
CONFIG_SPI_MICROCHIP_CORE_QSPI=y
CONFIG_RMI4_F34=y
CONFIG_SENSORS_W83773G=y
CONFIG_LEDS_CLASS_FLASH=y
CONFIG_AD525X_DPOT_SPI=y
CONFIG_HISI_HIKEY_USB=y
CONFIG_NLS_CODEPAGE_866=y
CONFIG_MCP47FEB02=y
CONFIG_BITREVERSE=y
CONFIG_TWL4030_CORE=y
CONFIG_ARCH_TENSTORRENT=y
CONFIG_REGMAP_SPI_AVMM=y
CONFIG_FS_IOMAP=y
CONFIG_TORTURE_TEST=y
CONFIG_MCP320X=y
CONFIG_HAVE_CONTEXT_TRACKING_USER=y
CONFIG_CRYPTO_MANAGER=y
CONFIG_SENSORS_HS3001=y
CONFIG_EDAC_SUPPORT=y
CONFIG_PHY_NXP_PTN3222=y
CONFIG_NLS_CODEPAGE_874=y
CONFIG_RTC_I2C_AND_SPI=y
CONFIG_REGULATOR_S2MPA01=y
CONFIG_SENSORS_W83791D=y
CONFIG_LPC_ICH=y
CONFIG_INPUT_TPS65219_PWRBUTTON=y
CONFIG_CPU_MITIGATIONS=y
CONFIG_SPEAKUP_SYNTH_LTLK=y
CONFIG_TOUCHSCREEN_STMFTS=y
CONFIG_ADP810=y
CONFIG_TWL6030_GPADC=y
CONFIG_LEDS_PCA995X=y
CONFIG_AD3552R=y
CONFIG_CRYPTO_HW=y
CONFIG_DECOMPRESS_BZIP2=y
CONFIG_SECCOMP=y
CONFIG_RTC_DRV_TWL4030=y
CONFIG_CRYPTO_AEGIS128=y
CONFIG_AD7780=y
CONFIG_LZO_DECOMPRESS=y
CONFIG_SPI=y
CONFIG_OF_KOBJ=y
CONFIG_CRYPTO_DEV_NITROX_CNN55XX=y
CONFIG_CRYPTO_CTR=y
CONFIG_USB_F_FS=y
CONFIG_SPI_ALTERA=y
CONFIG_CHARGER_RT5033=y
CONFIG_SENSORS_MAX31722=y
CONFIG_LEDS_MAX77705=y
CONFIG_KVM_COMMON=y
CONFIG_HW_RANDOM_VIRTIO=y
CONFIG_USB4=y
CONFIG_MFD_MAX77693=y
CONFIG_SCA3300=y
CONFIG_REGULATOR_SY7636A=y
CONFIG_SPEAKUP_SYNTH_APOLLO=y
CONFIG_LRU_GEN_WALKS_MMU=y
CONFIG_SIGNALFD=y
CONFIG_GPIO_TPS65912=y
CONFIG_ADIS16475=y
CONFIG_TYPEC_MUX_GPIO_SBU=y
CONFIG_MFD_DA9052_I2C=y
CONFIG_MSEAL_SYSTEM_MAPPINGS=y
CONFIG_W1_MASTER_GPIO=y
CONFIG_RTC_DRV_HYM8563=y
CONFIG_ARCH_SUPPORTS_KEXEC_PURGATORY=y
CONFIG_EVENT_TRACING=y
CONFIG_PCI_IOV=y
CONFIG_TI_ADS7138=y
CONFIG_SENSORS_MP5023=y
CONFIG_BCH=y
CONFIG_CRYPTO_LZO=y
CONFIG_GPIO_LOGICVC=y
CONFIG_GPIO_VIRTUSER=y
CONFIG_SENSORS_AMC6821=y
CONFIG_LP_CONSOLE=y
CONFIG_USB_ISP1760_GADGET_ROLE=y
CONFIG_BACKLIGHT_KTD253=y
CONFIG_COMMON_CLK_SI514=y
CONFIG_ADXL313_I2C=y
CONFIG_SI7020=y
CONFIG_CRYPTO_MD5=y
CONFIG_SERIAL_JSM=y
CONFIG_PARPORT_1284=y
CONFIG_SERIAL_8250_FINTEK=y
CONFIG_PARPORT=y
CONFIG_BMI323_SPI=y
CONFIG_FIX_EARLYCON_MEM=y
CONFIG_SYNC_FILE=y
CONFIG_SENSORS_LM93=y
CONFIG_FW_LOADER_SYSFS=y
CONFIG_REGULATOR_S2DOS05=y
CONFIG_MFD_ACT8945A=y
CONFIG_TICK_ONESHOT=y
CONFIG_SENSORS_MAX20860A=y
CONFIG_SPEAKUP_SYNTH_SPKOUT=y
CONFIG_SVC_I3C_MASTER=y
CONFIG_MPL3115=y
CONFIG_SPARSEMEM=y
CONFIG_UAPI_HEADER_TEST=y
CONFIG_MFD_OCELOT=y
CONFIG_EDAC=y
CONFIG_RTC_DRV_DS1553=y
CONFIG_SENSORS_LM25066_REGULATOR=y
CONFIG_HOTPLUG_PCI_CPCI=y
CONFIG_EFI_DISABLE_PCI_DMA=y
CONFIG_PARPORT_NOT_PC=y
CONFIG_MFD_AT91_USART=y
CONFIG_KALLSYMS_ALL=y
CONFIG_SENSORS_HMC5843=y
CONFIG_FB_CARMINE_DRAM_EVAL=y
CONFIG_SENSORS_Q54SJ108A2=y
CONFIG_MSA311=y
CONFIG_MFD_LP3943=y
CONFIG_SENSORS_ADT7410=y
CONFIG_FUEL_GAUGE_MM8013=y
CONFIG_SERIAL_8250_PCI1XXXX=y
CONFIG_INV_ICM42600_SPI=y
CONFIG_REGULATOR_RTQ6752=y
CONFIG_SENSORS_LTC2945=y
CONFIG_POWER_SEQUENCING_QCOM_WCN=y
CONFIG_BATTERY_TWL4030_MADC=y
CONFIG_MTD_DATAFLASH_WRITE_VERIFY=y
CONFIG_CRYPTO_KRB5=y
CONFIG_MAGIC_SYSRQ_SERIAL=y
CONFIG_RAS=y
CONFIG_LEDS_TRIGGER_ACTIVITY=y
CONFIG_GPIO_MADERA=y
CONFIG_USB_GPIO_VBUS=y
CONFIG_SENSORS_LM77=y
CONFIG_NLS_KOI8_R=y
CONFIG_DEBUG_PLIST=y
CONFIG_SRF04=y
CONFIG_NLS_ISO8859_15=y
CONFIG_RTC_DRV_PL030=y
CONFIG_SENSORS_ISL68137=y
CONFIG_SERIAL_OF_PLATFORM=y
CONFIG_TSL2591=y
CONFIG_MMU=y
CONFIG_COMMON_CLK_SI544=y
CONFIG_REGULATOR_MAX8649=y
CONFIG_TI_ADS1298=y
CONFIG_SENSORS_INSPUR_IPSPS=y
CONFIG_TRACEPOINTS=y
CONFIG_GPIO_MAX732X=y
CONFIG_SENSORS_MP2888=y
CONFIG_TAHVO_USB=y
CONFIG_TOUCHSCREEN_88PM860X=y
CONFIG_MTD_NAND_ECC=y
CONFIG_MFD_TPS65090=y
CONFIG_W1_MASTER_UART=y
CONFIG_AD3552R_LIB=y
CONFIG_OF_IOMMU=y
CONFIG_TIMER_PROBE=y
CONFIG_CLK_STARFIVE_JH7110_PLL=y
CONFIG_PINCTRL_SUN20I_D1=y
CONFIG_SENSORS_PT5161L=y
CONFIG_EXTCON_USB_GPIO=y
CONFIG_PINCTRL_CS47L15=y
CONFIG_DMA_SHARED_BUFFER=y
CONFIG_CC_HAS_WORKING_NOSANITIZE_ADDRESS=y
CONFIG_RD_LZMA=y
CONFIG_TRACING=y
CONFIG_AD2S1210=y
CONFIG_COMMON_CLK_VC5=y
CONFIG_PINCTRL_SUN8I_H3=y
CONFIG_ARCH_HAS_BINFMT_FLAT=y
CONFIG_VIRTIO_PCI_LIB=y
CONFIG_LEDS_KTD2692=y
CONFIG_SERIAL_SC16IS7XX_I2C=y
CONFIG_INPUT_IQS7222=y
CONFIG_PREEMPT_RT=y
CONFIG_USB_FUNCTIONFS=y
CONFIG_TOUCHSCREEN_ILI210X=y
CONFIG_NOP_TRACER=y
CONFIG_MFD_RN5T618=y
CONFIG_TMP117=y
CONFIG_SENSORS_MP2869=y
CONFIG_RTC_DRV_M48T59=y
CONFIG_TOUCHSCREEN_HYCON_HY46XX=y
CONFIG_INPUT_TWL4030_VIBRA=y
CONFIG_SGETMASK_SYSCALL=y
CONFIG_JOYSTICK_DB9=y
CONFIG_MOUSE_CYAPA=y
CONFIG_HAVE_ARCH_THREAD_STRUCT_WHITELIST=y
CONFIG_CRYPTO_LIB_MD5=y
CONFIG_GPIO_IDIO_16=y
CONFIG_EFI_RUNTIME_WRAPPERS=y
CONFIG_GPIO_LP87565=y
CONFIG_SENSORS_ADCXX=y
CONFIG_PHY_SUN9I_USB=y
CONFIG_ASSOCIATIVE_ARRAY=y
CONFIG_HAVE_KVM_READONLY_MEM=y
CONFIG_JUMP_LABEL=y
CONFIG_NLS=y
CONFIG_PINCTRL_SUNXI=y
CONFIG_U_SERIAL_CONSOLE=y
CONFIG_CRYPTO_RNG2=y
CONFIG_AD3552R_HS=y
CONFIG_NVMEM_RAVE_SP_EEPROM=y
CONFIG_INPUT_TPS65218_PWRBUTTON=y
CONFIG_CRYPTO_DEV_NITROX=y
CONFIG_REGULATOR_FAN53555=y
CONFIG_AK09911=y
CONFIG_RATIONAL=y
CONFIG_PINCTRL_SUN8I_A23_R=y
CONFIG_TOUCHSCREEN_HIDEEP=y
CONFIG_USB_EMI26=y
CONFIG_LEDS_TRIGGERS=y
CONFIG_MFD_88PM860X=y
CONFIG_CRYPTO_LIB_SHA512=y
CONFIG_VIRTIO_RTC=y
CONFIG_NLS_ISO8859_2=y
CONFIG_TUNE_GENERIC=y
CONFIG_REGULATOR_TPS6524X=y
CONFIG_PALMAS_GPADC=y
CONFIG_RD_LZO=y
CONFIG_REGULATOR_MAX8952=y
CONFIG_DEBUG_SECTION_MISMATCH=y
CONFIG_GENERIC_CALIBRATE_DELAY=y
CONFIG_REGULATOR_MAX77693=y
CONFIG_SI7005=y
CONFIG_EXTCON_RT8973A=y
CONFIG_SGL_ALLOC=y
CONFIG_USB_FUNCTIONFS_GENERIC=y
CONFIG_RESET_SUNXI=y
CONFIG_PCIE_CADENCE_PLAT=y
CONFIG_W1=y
CONFIG_PM_GENERIC_DOMAINS=y
CONFIG_RTC_DRV_EFI=y
CONFIG_GPIO_AMD_FCH=y
CONFIG_KEXEC_FILE=y
CONFIG_IIO_ST_GYRO_I2C_3AXIS=y
CONFIG_CRYPTO_DEV_QAT_C62XVF=y
CONFIG_CHARGER_MAX77693=y
CONFIG_ARCH_SUPPORTS_UPROBES=y
CONFIG_GENERIC_PINMUX_FUNCTIONS=y
CONFIG_AS73211=y
CONFIG_KEYBOARD_LKKBD=y
CONFIG_FB_PM3=y
CONFIG_FS_POSIX_ACL=y
CONFIG_LOCKDEP_SUPPORT=y
CONFIG_CRYPTO_LIB_AESCFB=y
CONFIG_FB_NOTIFY=y
CONFIG_SUSPEND_FREEZER=y
CONFIG_ARCH_USE_MEMTEST=y
CONFIG_EXTCON_MAX14577=y
CONFIG_OF_RESOLVE=y
CONFIG_RANDSTRUCT_NONE=y
CONFIG_ARCH_HAS_DEBUG_WX=y
CONFIG_AD525X_DPOT=y
CONFIG_CRC16=y
CONFIG_ROHM_BM1390=y
CONFIG_GENERIC_IRQ_CHIP=y
CONFIG_CRYPTO_CRC32=y
CONFIG_CRYPTO_LIB_SM3=y
CONFIG_INPUT_MMA8450=y
CONFIG_SENSORS_MP2856=y
CONFIG_REGULATOR_MAX5970=y
CONFIG_PCI_MSI=y
CONFIG_PM_CLK=y
CONFIG_REGULATOR_FIXED_VOLTAGE=y
CONFIG_SENSORS_LTC4215=y
CONFIG_CRYPTO_SHA256=y
CONFIG_REGULATOR_DA9121=y
CONFIG_BATTERY_RX51=y
CONFIG_DECOMPRESS_ZSTD=y
CONFIG_MFD_AAT2870_CORE=y
