CONFIG_SND_SOC_FSL_SSI=n
CONFIG_FPGA_MGR_STRATIX10_SOC=n
CONFIG_QCS_CAMCC_615=n
CONFIG_PINCTRL_RENESAS=n
CONFIG_HAVE_ARCH_SECCOMP_FILTER=n
CONFIG_PINCTRL_ELIZA=n
CONFIG_PINCTRL_SM8250_LPASS_LPI=n
CONFIG_MICROSEMI_PHY=n
CONFIG_CHARGER_MAX77759=n
CONFIG_PINCTRL_PFC_R8A77951=n
CONFIG_SYMBOLIC_ERRNAME=n
CONFIG_NET_VENDOR_AMD=n
CONFIG_CROS_EC=n
CONFIG_FSL_ENETC_CORE=n
CONFIG_DT_IDLE_GENPD=n
CONFIG_RC_DECODERS=n
CONFIG_NUMA_MEMBLKS=n
CONFIG_SND_SIMPLE_CARD_UTILS=n
CONFIG_QCOM_SPMI_ADC5=n
CONFIG_MEDIA_HIDE_ANCILLARY_SUBDRV=n
CONFIG_MTD_OF_PARTS=n
CONFIG_RZ_MTU3_CNT=n
CONFIG_MMC_BLOCK=n
CONFIG_ARM64=n
CONFIG_TREE_SRCU=n
CONFIG_NOUVEAU_PLATFORM_DRIVER=n
CONFIG_ARM64_WORKAROUND_SPECULATIVE_AT=n
CONFIG_MFD_TPS6594_I2C=n
CONFIG_V4L2_VP9=n
CONFIG_ARCH_S32=n
CONFIG_PINCTRL_KAANAPALI=n
CONFIG_HAVE_KVM_READONLY_MEM=n
CONFIG_SYSC_R9A08G046=n
CONFIG_OPTEE_STATIC_PROTMEM_POOL=n
CONFIG_TAP=n
CONFIG_PHY_QCOM_SGMII_ETH=n
CONFIG_PCIE_PME=n
CONFIG_MAC80211_HAS_RC=n
CONFIG_I2C_EXYNOS5=n
CONFIG_QCOM_SMEM=n
CONFIG_ROCKCHIP_IODOMAIN=n
CONFIG_CRYPTO_DEV_ALLWINNER=n
CONFIG_ARM_SMC_WATCHDOG=n
CONFIG_SND_SOC_WSA884X=n
CONFIG_MEDIA_TUNER_MT20XX=n
CONFIG_DRM_DW_HDMI=n
CONFIG_USB_CONFIGFS_MASS_STORAGE=n
CONFIG_DRM_FSL_LDB=n
CONFIG_ARCH_HAS_TICK_BROADCAST=n
CONFIG_NET_EGRESS=n
CONFIG_SM_CAMCC_8550=n
CONFIG_COMMON_CLK_HI3516CV300=n
CONFIG_PINCTRL_SUN50I_H6_R=n
CONFIG_ELFCORE=n
CONFIG_REGULATOR_SUN20I=n
CONFIG_RTC_DRV_MESON_VRTC=n
CONFIG_QCOM_PMIC_GLINK=n
CONFIG_CGROUP_HUGETLB=n
CONFIG_INTERVAL_TREE=n
CONFIG_ARCH_SUPPORTS_PMD_PFNMAP=n
CONFIG_SND_MESON_AXG_PDM=n
CONFIG_HW_RANDOM_AIROHA=n
CONFIG_QCOM_KRYO_L2_ACCESSORS=n
CONFIG_HAVE_PREEMPT_DYNAMIC_KEY=n
CONFIG_REGULATOR_VCTRL=n
CONFIG_STACKDEPOT=n
CONFIG_IMX8QXP_ADC=n
CONFIG_SYS_R9A09G057=n
CONFIG_SND_SOC_WCD_MBHC=n
CONFIG_BRCMSTB_GISB_ARB=n
CONFIG_BRIDGE_VLAN_FILTERING=n
CONFIG_IIO_ADC_HELPER=n
CONFIG_COMMON_CLK_MT8188=n
CONFIG_HW_RANDOM_XILINX=n
CONFIG_WWAN_DEBUGFS=n
CONFIG_SND_PROC_FS=n
CONFIG_RTC_DRV_DS1307=n
CONFIG_COMMON_CLK_MT8516=n
CONFIG_CRYPTO_HMAC=n
CONFIG_SOUND=n
CONFIG_COMMON_CLK_MT8192_VENCSYS=n
CONFIG_PROC_PAGE_MONITOR=n
CONFIG_USB_CHIPIDEA_MSM=n
CONFIG_SND_SOC_XILINX_I2S=n
CONFIG_QCOM_PBS=n
CONFIG_MFD_STM32_LPTIMER=n
CONFIG_EXYNOS_THERMAL=n
CONFIG_AS_HAS_NON_CONST_ULEB128=n
CONFIG_MTK_THERMAL=n
CONFIG_VIDEO_WAVE_VPU=n
CONFIG_PINCTRL_RZV2M=n
CONFIG_BNX2X=n
CONFIG_SND_SIMPLE_CARD=n
CONFIG_DRM_DW_HDMI_CEC=n
CONFIG_MVEBU_ICU=n
CONFIG_RTC_DRV_RENESAS_RTCA3=n
CONFIG_PREEMPT_RCU=n
CONFIG_BT_BREDR=n
CONFIG_SCSI_UFS_CDNS_PLATFORM=n
CONFIG_PINCTRL_ARMADA_AP806=n
CONFIG_ARCH_R9A07G044=n
CONFIG_EFI_ESRT=n
CONFIG_SOCK_RX_QUEUE_MAPPING=n
CONFIG_DRM_NOUVEAU_BACKLIGHT=n
CONFIG_NET_INGRESS=n
CONFIG_PINCTRL_SUN50I_A100=n
CONFIG_APPLE_WATCHDOG=n
CONFIG_QCOM_CPUCP_MBOX=n
CONFIG_MOUSE_ELAN_I2C=n
CONFIG_RTC_DRV_PCF8563=n
CONFIG_ARM64_ERRATUM_2051678=n
CONFIG_USB_DWC3_GENERIC_PLAT=n
CONFIG_CAVIUM_ERRATUM_30115=n
CONFIG_SND_SOC_QDSP6_APM_DAI=n
CONFIG_DEVTMPFS=n
CONFIG_PHY_MESON_AXG_MIPI_PCIE_ANALOG=n
CONFIG_PINCTRL_SM8350=n
CONFIG_ARCH_R9A07G043=n
CONFIG_MAC80211=n
CONFIG_PINCTRL_SM6115=n
CONFIG_SND_SOC_SOF_OF=n
CONFIG_XILINX_VCU=n
CONFIG_LD_CAN_USE_KEEP_IN_OVERLAY=n
CONFIG_GENERIC_CALIBRATE_DELAY=n
CONFIG_CPU_IDLE_MULTIPLE_DRIVERS=n
CONFIG_USB_COMMON=n
CONFIG_HIBERNATION_SNAPSHOT_DEV=n
CONFIG_MESON_CLK_MEASURE=n
CONFIG_ARM64_TLB_RANGE=n
CONFIG_ARM_CCI_PMU=n
CONFIG_DRM_PANEL_NOVATEK_NT37801=n
CONFIG_BTRFS_FS_POSIX_ACL=n
CONFIG_REED_SOLOMON=n
CONFIG_PCI_HISI=n
CONFIG_LEGACY_PTYS=n
CONFIG_IMX_SC_THERMAL=n
CONFIG_MODULES=n
CONFIG_ARCH_HIBERNATION_POSSIBLE=n
CONFIG_AUTOFS_FS=n
CONFIG_PCIE_ROCKCHIP_HOST=n
CONFIG_V4L2_CCI=n
CONFIG_SND_MESON_GX_SOUND_CARD=n
CONFIG_USB_EHCI_HCD_PLATFORM=n
CONFIG_SND_SOC_RT5514_SPI=n
CONFIG_NETFILTER_XT_MATCH_ADDRTYPE=n
CONFIG_INTERCONNECT_QCOM_SM8450=n
CONFIG_ATH10K_PCI=n
CONFIG_CLK_RK3399=n
CONFIG_NET_VENDOR_FREESCALE=n
CONFIG_OLD_SIGSUSPEND3=n
CONFIG_GPIO_MPC8XXX=n
CONFIG_DRM_IMX_DCSS=n
CONFIG_ARCH_SUPPORTS_PAGE_TABLE_CHECK=n
CONFIG_ARCH_HAS_BATCHED_DMA_SYNC=n
CONFIG_CFG80211_REQUIRE_SIGNED_REGDB=n
CONFIG_THUNDERX2_PMU=n
CONFIG_ARM_SCMI_TRANSPORT_OPTEE=n
CONFIG_BLK_DEV_NBD=n
CONFIG_CRYPTO_DEFLATE=n
CONFIG_SOC_IMX8M=n
CONFIG_USB_BELKIN=n
CONFIG_NFS_V3=n
CONFIG_EVENTFD=n
CONFIG_DRM_DISPLAY_DSC_HELPER=n
CONFIG_SERIAL_TEGRA=n
CONFIG_COMMON_CLK_MT8186_CAMSYS=n
CONFIG_VIRTIO_PCI_LIB=n
CONFIG_SND_SOC_WCD9335=n
CONFIG_PWM_XILINX=n
CONFIG_PWM_SUN4I=n
CONFIG_CLK_RENESAS_CPG_MSSR=n
CONFIG_RPMSG_VIRTIO=n
CONFIG_ARM64_E0PD=n
CONFIG_INPUT_VIVALDIFMAP=n
CONFIG_VFIO_IOMMU_TYPE1=n
CONFIG_REGULATOR_MT6358=n
CONFIG_LIBFDT=n
CONFIG_USB_USBNET=n
CONFIG_MTD_NAND_BRCMNAND_BCMBCA=n
CONFIG_SPI_MESON_SPIFC=n
CONFIG_RESET_SUNXI=n
CONFIG_CAN_DEV=n
CONFIG_SND_SUN8I_CODEC=n
CONFIG_BCM2835_POWER=n
CONFIG_NET_VENDOR_AMAZON=n
CONFIG_CLK_RENESAS_DIV6=n
CONFIG_MAC80211_RC_MINSTREL=n
CONFIG_DRM_MSM_DSI_7NM_PHY=n
CONFIG_NET_SCH_MQPRIO_LIB=n
CONFIG_CRC_T10DIF=n
CONFIG_IRQ_FORCED_THREADING=n
CONFIG_PCI_PWRCTRL_TC9563=n
CONFIG_RESET_NUVOTON_MA35D1=n
CONFIG_SND_SOC_SOF_OF_DEV=n
CONFIG_CAVIUM_TX2_ERRATUM_219=n
CONFIG_QCOM_IPA=n
CONFIG_USB_UHCI_ASPEED=n
CONFIG_ARCH_HAS_KCOV=n
CONFIG_SERIAL_MSM_CONSOLE=n
CONFIG_CPU_FREQ_DEFAULT_GOV_SCHEDUTIL=n
CONFIG_USB_HSIC_USB3503=n
CONFIG_PCI_PASID=n
CONFIG_BLK_DEV_BSGLIB=n
CONFIG_CC_HAS_KASAN_GENERIC=n
CONFIG_MISC_FILESYSTEMS=n
CONFIG_RPS=n
CONFIG_EC_LENOVO_THINKPAD_T14S=n
CONFIG_ACPI_BUTTON=n
CONFIG_EXYNOS_PM_DOMAINS=n
CONFIG_SM_DISPCC_8750=n
CONFIG_MESON_GXBB_WATCHDOG=n
CONFIG_PROFILING=n
CONFIG_PINCTRL_MTK_MOORE=n
CONFIG_CLK_RK3528=n
CONFIG_MTD_COMPLEX_MAPPINGS=n
CONFIG_PCIE_IPROC=n
CONFIG_ARM64_PTR_AUTH=n
CONFIG_ARM_GIC_ITS_PARENT=n
CONFIG_HAVE_KPROBES=n
CONFIG_DRM_PANEL_MANTIX_MLAF057WE51=n
CONFIG_TIMERFD=n
CONFIG_HUGETLB_PAGE=n
CONFIG_PWM_APPLE=n
CONFIG_DRM_DW_HDMI_QP=n
CONFIG_USB_CDNS_SUPPORT=n
CONFIG_RESET_ZYNQMP=n
CONFIG_MVEBU_SEI=n
CONFIG_GENERIC_STRNLEN_USER=n
CONFIG_SUN50I_A100_CCU=n
CONFIG_CROS_EC_SPI=n
CONFIG_VIDEOMODE_HELPERS=n
CONFIG_RTC_DRV_TPS6594=n
CONFIG_PHY_XGENE=n
CONFIG_ARCH_WANT_FRAME_POINTERS=n
CONFIG_PINCTRL_HAWI=n
CONFIG_USB_CDNS3_GADGET=n
CONFIG_GENERIC_IRQ_IPI_MUX=n
CONFIG_E1000=n
CONFIG_TEGRA_HOST1X_FIREWALL=n
CONFIG_DRM_EXYNOS5433_DECON=n
CONFIG_EXYNOS_MBOX=n
CONFIG_ARM64_ERRATUM_827319=n
CONFIG_TASKS_TRACE_RCU=n
CONFIG_SENSORS_RASPBERRYPI_HWMON=n
CONFIG_SND_SOC_ES8316=n
CONFIG_VIDEO_AMPHION_VPU=n
CONFIG_PAGE_POOL_STATS=n
CONFIG_DEVFREQ_GOV_SIMPLE_ONDEMAND=n
CONFIG_ARM_CCN=n
CONFIG_PINCTRL_TEGRA194=n
CONFIG_THERMAL_OF=n
CONFIG_ACPI_BATTERY=n
CONFIG_XOR_BLOCKS_ARCH=n
CONFIG_V4L2_FWNODE=n
CONFIG_DRM_IMX8MP_HDMI_PVI=n
CONFIG_USB_SERIAL_FTDI_SIO=n
CONFIG_AHCI_DWC=n
CONFIG_PM_CLK=n
CONFIG_OF_ADDRESS=n
CONFIG_RESET_RZG2L_USBPHY_CTRL=n
CONFIG_RTC_DRV_TEGRA=n
CONFIG_PCIE_APPLE=n
CONFIG_DRM_PL111=n
CONFIG_RUNTIME_TESTING_MENU=n
CONFIG_RESET_CONTROLLER=n
CONFIG_CRYPTO_DES=n
CONFIG_ACPI_FAN=n
CONFIG_DQL=n
CONFIG_MEDIA_ATTACH=n
CONFIG_HAVE_ARCH_HUGE_VMAP=n
CONFIG_COMMON_CLK_MT6795_MMSYS=n
CONFIG_SND_SOC_WM8904=n
CONFIG_FAIR_GROUP_SCHED=n
CONFIG_CRYPTO_DEV_ZYNQMP_AES=n
CONFIG_PINCTRL_MTK=n
CONFIG_QCA808X_PHY=n
CONFIG_COMMON_CLK_HI3798CV200=n
CONFIG_BLK_MQ_STACKING=n
CONFIG_WLAN_VENDOR_PURELIFI=n
CONFIG_ARCH_HAS_KEEPINITRD=n
CONFIG_VIDEO_SAMSUNG_S5P_JPEG=n
CONFIG_PINCTRL_SM6115_LPASS_LPI=n
CONFIG_MLX5_MPFS=n
CONFIG_SND_SOC_SOF_MTK_COMMON=n
CONFIG_SOCIONEXT_SYNQUACER_PREITS=n
CONFIG_SCSI_UFS_BSG=n
CONFIG_ALLOW_DEV_COREDUMP=n
CONFIG_FUTEX=n
CONFIG_ARM64_ERRATUM_832075=n
CONFIG_VIRTIO_PCI_LEGACY=n
CONFIG_DRM_MSM_HDMI=n
CONFIG_QCOM_SPM=n
CONFIG_ACPI_CPPC_LIB=n
CONFIG_SERIAL_8250_BCM7271=n
CONFIG_SND_SOC_ES8328_I2C=n
CONFIG_DWMAC_ROCKCHIP=n
CONFIG_GPIOLIB_IRQCHIP=n
CONFIG_COMMON_CLK_S4_PERIPHERALS=n
CONFIG_OPEN_ALLIANCE_HELPERS=n
CONFIG_CFG80211_DEFAULT_PS=n
