CONFIG_MAX31827=y
CONFIG_NVMEM_SC27XX_EFUSE=y
CONFIG_DEBUG_BUGVERBOSE_DETAILED=y
CONFIG_RMI4_SMB=y
CONFIG_INPUT_MAX7360_ROTARY=y
CONFIG_FWCTL=y
CONFIG_COMMON_CLK_MT6765_MIPI1ASYS=y
CONFIG_STACKTRACE_SUPPORT=y
CONFIG_XZ_DEC=y
CONFIG_SENSORS_MAX20860A_REGULATOR=y
CONFIG_CXL_PORT=y
CONFIG_STRICT_KERNEL_RWX=y
CONFIG_FB_ATY128=y
CONFIG_HDC3020=y
CONFIG_PREEMPT_COUNT=y
CONFIG_PCIE_THERMAL=y
CONFIG_GPIB=y
CONFIG_SERIAL_MESON=y
CONFIG_CLK_IMX8ULP=y
CONFIG_CRYPTO_KRB5ENC=y
CONFIG_USER_STACKTRACE_SUPPORT=y
CONFIG_GENERIC_STRNCPY_FROM_USER=y
CONFIG_XZ_DEC_POWERPC=y
CONFIG_PCIE_TEGRA194_EP=y
CONFIG_GPIO_ZYNQMP_MODEPIN=y
CONFIG_ADC_BATTERY_HELPER=y
CONFIG_X86_VERBOSE_BOOTUP=y
CONFIG_CLK_IMX8MQ=y
CONFIG_PINCTRL_ELKHARTLAKE=y
CONFIG_SERIO_ARC_PS2=y
CONFIG_SENSORS_EMC6W201=y
CONFIG_IRQ_DOMAIN_HIERARCHY=y
CONFIG_BACKLIGHT_ADP8860=y
CONFIG_SENSORS_MAX34440=y
CONFIG_CB710_DEBUG_ASSUMPTIONS=y
CONFIG_ARCH_MIGHT_HAVE_PC_SERIO=y
CONFIG_UIO_DMEM_GENIRQ=y
CONFIG_CRYPTO_ACOMP2=y
CONFIG_SERIAL_ST_ASC=y
CONFIG_CLK_BCM2711_DVP=y
CONFIG_GPIO_ASPEED_SGPIO=y
CONFIG_SYSC_R8A779A0=y
CONFIG_COMMON_CLK_MT6765_MIPI1BSYS=y
CONFIG_FB_PM2=y
CONFIG_GENERIC_IRQ_DEBUGFS=y
CONFIG_BACKLIGHT_LM3639=y
CONFIG_CLK_RK3288=y
CONFIG_COMMON_CLK_MT8183_MMSYS=y
CONFIG_MTD_NAND_HISI504=y
CONFIG_EARLY_PRINTK_USB=y
CONFIG_LEDS_PCA963X=y
CONFIG_REGULATOR_MAX8660=y
CONFIG_GENERIC_ALLOCATOR=y
CONFIG_QCOM_SPMI_VADC=y
CONFIG_REGULATOR_VIRTUAL_CONSUMER=y
CONFIG_INV_ICM42600_I2C=y
CONFIG_GP2AP002=y
CONFIG_BCM_NS_THERMAL=y
CONFIG_INTERCONNECT_IMX=y
CONFIG_REGULATOR_DEBUG=y
CONFIG_QFMT_V1=y
CONFIG_BCM_VK_TTY=y
CONFIG_SERIAL_MPS2_UART=y
CONFIG_TICK_CPU_ACCOUNTING=y
CONFIG_FB_SYS_FILLRECT=y
CONFIG_FAULT_INJECTION_DEBUG_FS=y
CONFIG_BATTERY_UG3105=y
CONFIG_SERIAL_STM32=y
CONFIG_COMMON_CLK_BOSTON=y
CONFIG_STRICT_DEVMEM=y
CONFIG_INPUT_DRV2667_HAPTICS=y
CONFIG_DEBUG_TLBFLUSH=y
CONFIG_LTC2485=y
CONFIG_I2C_PCA_PLATFORM=y
CONFIG_X86_THERMAL_VECTOR=y
CONFIG_SIOX=y
CONFIG_NVMEM_STM32_ROMEM=y
CONFIG_RTC_DRV_MAX8925=y
CONFIG_FAIL_FUTEX=y
CONFIG_NLS_ISO8859_3=y
CONFIG_X86_CX8=y
CONFIG_PINCTRL_PFC_R8A779H0=y
CONFIG_PINCTRL_PFC_SH7269=y
CONFIG_SENSORS_INA238=y
CONFIG_TI_PIPE3=y
CONFIG_TREE_SRCU=y
CONFIG_NVMEM=y
CONFIG_I2C_RIIC=y
CONFIG_RMI4_F34=y
CONFIG_HAVE_KERNEL_LZO=y
CONFIG_MISC_RTSX=y
CONFIG_DMABUF_DEBUG=y
CONFIG_SC27XX_ADC=y
CONFIG_ADUX1020=y
CONFIG_EEPROM_AT24=y
CONFIG_SENSORS_ADP1050=y
CONFIG_MFD_RT4831=y
CONFIG_USER_DECRYPTED_DATA=y
CONFIG_CRYPTO_AEAD=y
CONFIG_HNS3_PMU=y
CONFIG_COMMON_CLK_MT2712=y
CONFIG_PHY_ROCKCHIP_SAMSUNG_DCPHY=y
CONFIG_SPEAKUP_SYNTH_BNS=y
CONFIG_GENERIC_SMP_IDLE_THREAD=y
CONFIG_INTERVAL_TREE=y
CONFIG_TURRIS_OMNIA_MCU=y
CONFIG_SONYPI=y
CONFIG_COMMON_CLK_MT6795=y
CONFIG_ISA_BUS_API=y
CONFIG_EXPORTFS=y
CONFIG_PERF_EVENTS_AMD_UNCORE=y
CONFIG_SERIAL_8250_PCILIB=y
CONFIG_PINCTRL_PFC_SH7720=y
CONFIG_MTD_SLRAM=y
CONFIG_RTC_DRV_ISL12022=y
CONFIG_PM_DEVFREQ=y
CONFIG_W1_SLAVE_DS28E17=y
CONFIG_SPRD_MBOX=y
CONFIG_SENSORS_ASPEED=y
CONFIG_FB_S3C=y
CONFIG_MERAKI_MX100=y
CONFIG_GPIO_REALTEK_OTTO=y
CONFIG_CXL_BUS=y
CONFIG_SCHED_PROXY_EXEC=y
CONFIG_CPU_FREQ_GOV_PERFORMANCE=y
CONFIG_X86_HAVE_PAE=y
CONFIG_KVM_COMMON=y
CONFIG_SENSORS_MP2888=y
CONFIG_OLD_SIGACTION=y
CONFIG_FB_AU1100=y
CONFIG_REGULATOR_GPIO=y
CONFIG_GPIO_MENZ127=y
CONFIG_LEDS_TRIGGER_TIMER=y
CONFIG_RTC_DRV_MT2712=y
CONFIG_FIPS_SIGNATURE_SELFTEST=y
CONFIG_CHARGER_RT9471=y
CONFIG_REGULATOR_LP8755=y
CONFIG_APDS9300=y
CONFIG_MFD_TPS65086=y
CONFIG_RESET_IMX8MP_AUDIOMIX=y
CONFIG_CLK_BCM_NSP=y
CONFIG_NXP_SAR_ADC=y
CONFIG_STACKTRACE=y
CONFIG_PCIE_MOBIVEIL=y
CONFIG_SENSORS_CHIPCAP2=y
CONFIG_SENSORS_ACBEL_FSG032=y
CONFIG_TRANSPARENT_HUGEPAGE_TMPFS_HUGE_WITHIN_SIZE=y
CONFIG_RALINK_TIMER=y
CONFIG_MFD_MENF21BMC=y
CONFIG_COMMON_CLK_MT8192_MSDC=y
CONFIG_MEMCG=y
CONFIG_REGULATOR_MT6357=y
CONFIG_UX500_SOC_ID=y
CONFIG_FB_IBM_GXT4500=y
CONFIG_COMEDI_SSV_DNP=y
CONFIG_TRUSTED_KEYS_TPM=y
CONFIG_NLS_CODEPAGE_857=y
CONFIG_I2C_PIIX4=y
CONFIG_GPIO_SL28CPLD=y
CONFIG_IIO_SW_DEVICE=y
CONFIG_SERIAL_PCH_UART=y
CONFIG_SERIO_PS2MULT=y
CONFIG_CRAMFS=y
CONFIG_MTK_DEVAPC=y
CONFIG_RESET_HISI=y
CONFIG_PCIEASPM=y
CONFIG_BACKLIGHT_CLASS_DEVICE=y
CONFIG_GPIO_LOONGSON_64BIT=y
CONFIG_RMI4_F11=y
CONFIG_EXPORTFS_BLOCK_OPS=y
CONFIG_HAVE_SYSCALL_TRACEPOINTS=y
CONFIG_LZ4_DECOMPRESS=y
CONFIG_RESET_QCOM_PDC=y
CONFIG_INTEL_SOC_PMIC=y
CONFIG_PWC_RZV2M=y
CONFIG_PT_RECLAIM=y
CONFIG_BATTERY_DS2781=y
CONFIG_HAVE_DEBUG_STACKOVERFLOW=y
CONFIG_SENSORS_LTC4245=y
CONFIG_INTEL_TH=y
CONFIG_UX500_PM_DOMAIN=y
CONFIG_HAVE_NMI=y
CONFIG_ISA_BUS=y
CONFIG_JFFS2_CMODE_FAVOURLZO=y
CONFIG_MFD_DA9150=y
CONFIG_MTK_TIMER=y
CONFIG_MTD_NAND_TXX9NDFMC=y
CONFIG_RTC_DRV_PCF85363=y
CONFIG_BINFMT_SCRIPT=y
CONFIG_REGULATOR_ADP5055=y
CONFIG_STARFIVE_JHB100_INTC=y
CONFIG_STM=y
CONFIG_I2C_KEBA=y
CONFIG_ARCH_SUPPORTS_LTO_CLANG=y
CONFIG_HAVE_STATIC_CALL=y
CONFIG_MTD_CFI_STAA=y
CONFIG_NVMEM_LPC18XX_OTP=y
CONFIG_PARMAN=y
CONFIG_TCG_TIS_I2C_NUVOTON=y
CONFIG_PCI_PWRCTRL=y
CONFIG_SENSORS_F71805F=y
CONFIG_COMEDI_DT2801=y
CONFIG_KERNEL_GZIP=y
CONFIG_MFD_RDC321X=y
CONFIG_COMMON_CLK_MT8183_VDECSYS=y
CONFIG_RTC_DRV_PCF8523=y
CONFIG_HARDLOCKUP_DETECTOR=y
CONFIG_RD_LZO=y
CONFIG_OLD_SIGSUSPEND3=y
CONFIG_IMX_MBOX=y
CONFIG_ARCH_HAS_SET_DIRECT_MAP=y
CONFIG_PCI_EPF_MHI=y
CONFIG_COMMON_CLK_MAX77686=y
CONFIG_PARPORT_SERIAL=y
CONFIG_MTD_PHYSMAP_GPIO_ADDR=y
CONFIG_STMP_DEVICE=y
CONFIG_PCI_ENDPOINT=y
CONFIG_MMA9553=y
CONFIG_FSNOTIFY=y
CONFIG_LOCKDEP_SUPPORT=y
CONFIG_HAVE_KVM_CPU_RELAX_INTERCEPT=y
CONFIG_ASN1_ENCODER=y
CONFIG_SENSORS_LATTEPANDA_SIGMA_EC=y
CONFIG_INPUT_IQS7222=y
CONFIG_COMEDI_BOND=y
CONFIG_KVM_IOAPIC=y
CONFIG_RMI4_F1A=y
CONFIG_CLK_BCM_63XX_GATE=y
CONFIG_IMX_DSP=y
CONFIG_X86_DISABLED_FEATURE_CALL_DEPTH=y
CONFIG_COMEDI_NI_AT_A2150=y
CONFIG_COMMON_CLK_TI_ADPLL=y
CONFIG_OMAP2PLUS_MBOX=y
CONFIG_HEADERS_INSTALL=y
CONFIG_MEN_Z188_ADC=y
CONFIG_SENSORS_MAX197=y
CONFIG_PCI_CNB20LE_QUIRK=y
CONFIG_LIDAR_LITE_V2=y
CONFIG_COMMON_CLK_MT8196=y
CONFIG_OVERLAY_FS_REDIRECT_ALWAYS_FOLLOW=y
CONFIG_REGULATOR_TPS51632=y
CONFIG_X86_MPPARSE=y
CONFIG_APERTURE_HELPERS=y
CONFIG_RCU_CPU_STALL_CPUTIME=y
CONFIG_BATTERY_LENOVO_YOGA_C630=y
CONFIG_RICHTEK_RTQ6056=y
CONFIG_COMMON_CLK_WM831X=y
CONFIG_ARCH_SELECT_MEMORY_MODEL=y
CONFIG_ARM_SCMI_NEED_DEBUGFS=y
CONFIG_PARPORT=y
CONFIG_SERIAL_IMX_CONSOLE=y
CONFIG_INTEL_ATOMISP2_PDX86=y
CONFIG_MXC6255=y
CONFIG_BACKLIGHT_CGBC=y
CONFIG_UP_LATE_INIT=y
CONFIG_PINCTRL_DENVERTON=y
CONFIG_SENSORS_ADT7462=y
CONFIG_MFD_MT6370=y
CONFIG_PINCTRL_PFC_SH7723=y
CONFIG_AGP_INTEL=y
CONFIG_PHY_ROCKCHIP_PCIE=y
CONFIG_PCI_DOE=y
CONFIG_EISA_PCI_EISA=y
CONFIG_PCIE_MOBIVEIL_HOST=y
CONFIG_CEC_SAMSUNG_S5P=y
CONFIG_LPC_ICH=y
CONFIG_RTC_INTF_PROC=y
CONFIG_I2C=y
CONFIG_LIST_HARDENED=y
CONFIG_GPIO_MLXBF3=y
CONFIG_CEC_NXP_TDA9950=y
CONFIG_COMMON_CLK_MT6779_VDECSYS=y
CONFIG_INV_ICM42600=y
CONFIG_FB_SAVAGE=y
CONFIG_SENSORS_W83627HF=y
CONFIG_FIREWIRE_NOSY=y
CONFIG_SPMI_APPLE=y
CONFIG_PCIE_ALTERA=y
CONFIG_MESON_IRQ_GPIO=y
CONFIG_PCI=y
CONFIG_CONTEXT_TRACKING_IDLE=y
CONFIG_CRYPTO_AKCIPHER=y
CONFIG_MOUSE_SYNAPTICS_I2C=y
CONFIG_MCP4018=y
CONFIG_IIO_ST_SENSORS_I2C=y
CONFIG_HWSPINLOCK_QCOM=y
CONFIG_REGULATOR_PF9453=y
CONFIG_PCIE_RCAR_GEN4_EP=y
CONFIG_HAS_IOMEM=y
CONFIG_REGULATOR_S2MPA01=y
CONFIG_CRYPTO_MANAGER=y
CONFIG_CRYPTO_GCM=y
CONFIG_PINCTRL_SUNRISEPOINT=y
CONFIG_X86_DISABLED_FEATURE_RETPOLINE=y
CONFIG_SOC_INTEGRATOR_CM=y
CONFIG_BERLIN2_ADC=y
CONFIG_XZ_DEC_BCJ=y
CONFIG_HARDENED_USERCOPY_DEFAULT_ON=y
CONFIG_I2C_MUX_MLXCPLD=y
CONFIG_INTEL_SPEED_SELECT_INTERFACE=y
CONFIG_EISA=y
CONFIG_SENSORS_MAX6697=y
CONFIG_SUN50I_H616_CCU=y
CONFIG_RPMSG=y
CONFIG_INTEL_BYTCRC_PWRSRC=y
CONFIG_VIRTIO_IOMMU=y
CONFIG_POWER_SEQUENCING=y
CONFIG_BCM7120_L2_IRQ=y
CONFIG_DEBUG_RODATA_TEST=y
CONFIG_SENSORS_LIS3LV02D=y
CONFIG_PCI_ENDPOINT_CONFIGFS=y
CONFIG_SENSORS_G760A=y
CONFIG_PAGE_SIZE_LESS_THAN_256KB=y
CONFIG_CGROUP_DMEM=y
CONFIG_INTEL_IXP4XX_EB=y
CONFIG_CRYPTO_SHA512=y
CONFIG_X86_LONGRUN=y
CONFIG_SENSORS_ADM1266=y
CONFIG_IOSF_MBI=y
CONFIG_C2PORT_DURAMAR_2150=y
CONFIG_ARCH_HAS_PTDUMP=y
CONFIG_ENS160_I2C=y
CONFIG_PREEMPT_BUILD=y
CONFIG_PINCTRL_VT8500=y
CONFIG_COMMON_CLK_MT6765_MIPI2ASYS=y
CONFIG_SERIAL_MEN_Z135=y
CONFIG_AL3010=y
CONFIG_VIRTUALIZATION=y
CONFIG_INPUT_MISC=y
CONFIG_RESET_NUVOTON_MA35D1=y
CONFIG_LOCKUP_DETECTOR=y
CONFIG_LOCK_DEBUGGING_SUPPORT=y
CONFIG_IDLE_PAGE_TRACKING=y
CONFIG_GPIO_TPIC2810=y
CONFIG_RANDSTRUCT_NONE=y
CONFIG_VMSPLIT_2G=y
CONFIG_TPL0102=y
CONFIG_GPIO_PALMAS=y
CONFIG_SENSORS_LT3074_REGULATOR=y
CONFIG_CPU_FREQ_GOV_CONSERVATIVE=y
CONFIG_RCU_REF_SCALE_TEST=y
CONFIG_CHARGER_MAX77705=y
CONFIG_MICROCODE=y
CONFIG_GPIO_WINBOND=y
CONFIG_ARCH_HAS_DEVMEM_IS_ALLOWED=y
CONFIG_GPIOLIB_IRQCHIP=y
CONFIG_ARCH_MEMORY_ORDER_TSO=y
CONFIG_CHARGER_MANAGER=y
CONFIG_SERIAL_TEGRA_UTC=y
CONFIG_C2PORT=y
CONFIG_GENERIC_IRQ_MATRIX_ALLOCATOR=y
CONFIG_W1_SLAVE_DS2438=y
CONFIG_VIDEOMODE_HELPERS=y
CONFIG_SENSORS_IR36021=y
CONFIG_COMMON_CLK_MT8196_IMP_IIC_WRAP=y
CONFIG_IIO_MS_SENSORS_I2C=y
CONFIG_MFD_MAX8925=y
CONFIG_PINCTRL_PFC_EMEV2=y
CONFIG_EEPROM_EE1004=y
CONFIG_TSYS01=y
CONFIG_PCI_STUB=y
CONFIG_EXECMEM=y
CONFIG_NLS_KOI8_U=y
CONFIG_FB_3DFX=y
CONFIG_PINCTRL_TB10X=y
CONFIG_ARCH_SPARSEMEM_ENABLE=y
CONFIG_FREEZER=y
CONFIG_PRINTER=y
CONFIG_W1_SLAVE_DS2406=y
CONFIG_MCHP_CLK_MPFS=y
CONFIG_BATTERY_MAX1720X=y
CONFIG_HAVE_TRUSTED_KEYS=y
CONFIG_MFD_MAX77693=y
CONFIG_PINCTRL_TEGRA186=y
CONFIG_OMAP_DM_TIMER=y
CONFIG_SPEAKUP_SYNTH_SOFT=y
CONFIG_READABLE_ASM=y
CONFIG_OMAP_OCP2SCP=y
CONFIG_BACKLIGHT_AAT2870=y
CONFIG_WARN_ABI_ERRORS=y
CONFIG_X86_UMIP=y
CONFIG_CLKEVT_I8253=y
CONFIG_PCI_IMX6=y
CONFIG_HAVE_FUTEX_ROBUST_UNLOCK=y
CONFIG_I2C_CADENCE=y
CONFIG_PINCTRL_PFC_SH7264=y
CONFIG_POWERCAP=y
CONFIG_COMPAT_32=y
CONFIG_EM_TIMER_STI=y
CONFIG_MFD_WM8400=y
CONFIG_I2C_IMX=y
CONFIG_CLK_RK3308=y
CONFIG_NLS_CODEPAGE_860=y
CONFIG_BATTERY_BQ27XXX=y
CONFIG_HWSPINLOCK_OMAP=y
CONFIG_LV0104CS=y
CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE=y
CONFIG_RTC_DRV_RV3028=y
CONFIG_PINCTRL_CHERRYVIEW=y
CONFIG_GENERIC_PHY_MIPI_DPHY=y
CONFIG_COMMON_CLK_MT8195_VDOSYS=y
CONFIG_W1_MASTER_MATROX=y
CONFIG_MFD_SMPRO=y
CONFIG_AMD_NB=y
CONFIG_SPEAKUP_SYNTH_LTLK=y
CONFIG_MAX5821=y
CONFIG_XILINX_XADC=y
CONFIG_PINCTRL_TEGRA238=y
CONFIG_SENSORS_ATXP1=y
CONFIG_CLK_SP810=y
CONFIG_CRYPTO_CHACHA20=y
CONFIG_COMMON_CLK_MT8192_MMSYS=y
CONFIG_W1_SLAVE_THERM=y
CONFIG_GENERIC_MSI_IRQ=y
CONFIG_MTD_NAND_ECC_REALTEK=y
CONFIG_SERIAL_8250_CONSOLE=y
CONFIG_HAVE_HARDLOCKUP_DETECTOR_PERF=y
CONFIG_SERIAL_8250_NI=y
CONFIG_CLK_SUNXI_CLOCKS=y
CONFIG_NLS_ISO8859_9=y
CONFIG_GENERIC_IOMAP=y
CONFIG_DEBUG_DEVRES=y
CONFIG_LEDS_TCA6507=y
CONFIG_PCI_PF_STUB=y
CONFIG_W1_SLAVE_DS250X=y
CONFIG_DEBUG_WW_MUTEX_SLOWPATH=y
CONFIG_AGP_SIS=y
CONFIG_SUNXI_CCU=y
CONFIG_FUEL_GAUGE_MM8013=y
CONFIG_MOUSE_PS2_SYNAPTICS_SMBUS=y
CONFIG_INPUT_DRV260X_HAPTICS=y
CONFIG_SLAB_OBJ_EXT=y
CONFIG_APDS9960=y
CONFIG_RESET_LPC18XX=y
CONFIG_I2C_QCOM_CCI=y
CONFIG_SENSORS_NPCM7XX=y
CONFIG_CHARGER_SC2731=y
CONFIG_SENSORS_LM87=y
CONFIG_GPIB_GPIO=y
CONFIG_GPIO_TS4800=y
CONFIG_LEDS_BD2802=y
CONFIG_DEBUG_FS_ALLOW_NONE=y
CONFIG_MFD_ACER_A500_EC=y
CONFIG_HAVE_ARCH_HUGE_VMAP=y
CONFIG_PHY_HI3670_USB=y
CONFIG_HZ_250=y
CONFIG_IIO_ST_PRESS_I2C=y
CONFIG_AS73211=y
CONFIG_SSIF_IPMI_BMC=y
CONFIG_LZO_DECOMPRESS=y
CONFIG_IOMMU_IO_PGTABLE_LPAE=y
CONFIG_FSL_IMX8_DDR_PMU=y
CONFIG_RTC_DRV_BRCMSTB=y
CONFIG_NVMEM_SPMI_SDAM=y
CONFIG_QCOM_LLCC=y
CONFIG_ARCH_HAS_DEBUG_VIRTUAL=y
CONFIG_SPEAKUP_SERIALIO=y
CONFIG_SENSORS_IBM_CFFPS=y
CONFIG_NAU7802=y
CONFIG_BATTERY_DS2760=y
CONFIG_COMEDI_TESTS_EXAMPLE=y
CONFIG_HAVE_ARCH_JUMP_LABEL_RELATIVE=y
CONFIG_BH1750=y
CONFIG_SPRD_TIMER=y
CONFIG_ARCH_HAS_SET_MEMORY=y
CONFIG_BATTERY_SBS=y
CONFIG_GENERIC_CMOS_UPDATE=y
CONFIG_DMA_FENCE_TRACE=y
CONFIG_MTD_NAND_ARASAN=y
CONFIG_ARM_SCMI_HAVE_MSG=y
CONFIG_MTD_NAND_MXIC=y
CONFIG_MTD_JEDECPROBE=y
CONFIG_ROHM_BU27034=y
CONFIG_X86_LOCAL_APIC=y
CONFIG_COMMON_CLK_MT8192=y
CONFIG_GPIO_TEGRA=y
CONFIG_STM32_TIMER_CNT=y
CONFIG_PINCTRL_AMD=y
CONFIG_CRYPTO_JITTERENTROPY=y
CONFIG_INTEL_ATOMISP2_LED=y
CONFIG_PHY_RALINK_USB=y
CONFIG_SENSORS_STPDDC60=y
CONFIG_BCMA_POSSIBLE=y
CONFIG_AMD_SBRMI_HWMON=y
CONFIG_CXL_MEM_RAW_COMMANDS=y
CONFIG_INV_ICM45600_I2C=y
CONFIG_RESET_TI_SYSCON=y
CONFIG_REGULATOR_MAX77503=y
CONFIG_INPUT_PM8XXX_VIBRATOR=y
CONFIG_RPMSG_MTK_SCP=y
CONFIG_GENERIC_CLOCKEVENTS=y
CONFIG_LD_IS_BFD=y
CONFIG_RTC_DRV_MAX8907=y
CONFIG_OPT3001=y
CONFIG_BACKLIGHT_GPIO=y
CONFIG_ARM_MEDIATEK_CPUFREQ_HW=y
CONFIG_MTD_NAND_DENALI=y
CONFIG_TCG_TPM=y
CONFIG_I2C_MXS=y
CONFIG_FB_SYS_COPYAREA=y
