CONFIG_STACKTRACE=n
CONFIG_CRYPTO_ENGINE=n
CONFIG_ERRATA_THEAD=n
CONFIG_ARCH_ANLOGIC=n
CONFIG_NET_VENDOR_MYRI=n
CONFIG_GPIO_GENERIC=n
CONFIG_GPIO_SPACEMIT_K1=n
CONFIG_NET_CORE=n
CONFIG_HAVE_PERF_EVENTS=n
CONFIG_SOCK_RX_QUEUE_MAPPING=n
CONFIG_HAVE_ARCH_BITREVERSE=n
CONFIG_NEED_DMA_MAP_STATE=n
CONFIG_ARCH_HAS_STRICT_KERNEL_RWX=n
CONFIG_SLUB=n
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO=n
CONFIG_HAVE_KCSAN_COMPILER=n
CONFIG_DRM_VIRTIO_GPU_KMS=n
CONFIG_INPUT_MOUSE=n
CONFIG_ACPI_BATTERY=n
CONFIG_NETFILTER_INGRESS=n
CONFIG_FB_SYS_FILLRECT=n
CONFIG_ARCH_SOPHGO=n
CONFIG_ACPI_CPPC_LIB=n
CONFIG_MTD_SPI_NOR=n
CONFIG_DEBUG_FS=n
CONFIG_HAVE_KVM_IRQCHIP=n
CONFIG_HUGETLB_PMD_PAGE_TABLE_SHARING=n
CONFIG_USB_DEFAULT_PERSIST=n
CONFIG_MAILBOX=n
CONFIG_PHYS_ADDR_T_64BIT=n
CONFIG_NET_VENDOR_VIA=n
CONFIG_ARCH_HAVE_NMI_SAFE_CMPXCHG=n
CONFIG_EXECMEM=n
CONFIG_BLK_DEV_BSG_COMMON=n
CONFIG_SUN8I_DE2_CCU=n
CONFIG_SATA_AHCI_PLATFORM=n
CONFIG_MOUSE_PS2_FOCALTECH=n
CONFIG_DRM_BRIDGE=n
CONFIG_NET_L3_MASTER_DEV=n
CONFIG_SERIAL_8250_EXAR=n
CONFIG_DRM_CLIENT_DEFAULT_FBDEV=n
CONFIG_SERIAL_8250_DMA=n
CONFIG_SERIAL_8250_PERICOM=n
CONFIG_INET_ESP=n
CONFIG_HAVE_KVM_DIRTY_RING=n
CONFIG_LTO_NONE=n
CONFIG_NET_VENDOR_MICROSEMI=n
CONFIG_SUN55I_PCK600=n
CONFIG_HAVE_ARCH_AUDITSYSCALL=n
CONFIG_ARCH_HAS_SYSCALL_WRAPPER=n
CONFIG_CRYPTO_LIB_UTILS=n
CONFIG_EVENT_TRACING=n
CONFIG_BLK_DEV_NVME=n
CONFIG_MOUSE_PS2_BYD=n
CONFIG_VIRT_XFER_TO_GUEST_WORK=n
CONFIG_ISO9660_FS=n
CONFIG_ACPI_PPTT=n
CONFIG_PREEMPT_BUILD=n
CONFIG_ARCH_HAS_SETUP_DMA_OPS=n
CONFIG_HAVE_KERNEL_GZIP=n
CONFIG_EXT4_FS=n
CONFIG_SPARSE_IRQ=n
CONFIG_MOTORCOMM_PHY=n
CONFIG_USB_F_EEM=n
CONFIG_INET_TCP_DIAG=n
CONFIG_HAVE_PCI=n
CONFIG_USB_CONFIGFS_ECM_SUBSET=n
CONFIG_RANDSTRUCT_NONE=n
CONFIG_VHOST_ENABLE_FORK_OWNER_CONTROL=n
CONFIG_USB_SUPPORT=n
CONFIG_EXTCON=n
CONFIG_ARCH_HIBERNATION_POSSIBLE=n
CONFIG_VDSO_GETRANDOM=n
CONFIG_HOTPLUG_PARALLEL=n
CONFIG_TOOLCHAIN_HAS_V=n
CONFIG_ARCH_STARFIVE=n
CONFIG_NET_VENDOR_ADAPTEC=n
CONFIG_CLK_STARFIVE_JH7110_ISP=n
CONFIG_EFI_STUB=n
CONFIG_LIBFDT=n
CONFIG_RISCV_ISA_SVPBMT=n
CONFIG_HAVE_KVM_READONLY_MEM=n
CONFIG_FB_CFB_FILLRECT=n
CONFIG_PROC_CHILDREN=n
CONFIG_BALLOON_MIGRATION=n
CONFIG_HAVE_EBPF_JIT=n
CONFIG_CRYPTO_KPP=n
CONFIG_CC_HAS_ZERO_CALL_USED_REGS=n
CONFIG_USB_PHY=n
CONFIG_NET_VENDOR_WANGXUN=n
CONFIG_DW_AXI_DMAC=n
CONFIG_AUXILIARY_BUS=n
CONFIG_NET_VENDOR_DEC=n
CONFIG_RESET_K230=n
CONFIG_CRYPTO_LIB_AES=n
CONFIG_PINCTRL_SOPHGO_CV1800B=n
CONFIG_PREEMPT_COUNT=n
CONFIG_CPU_ISOLATION=n
CONFIG_REGULATOR_GPIO=n
CONFIG_HUGETLBFS=n
CONFIG_GENERIC_IRQ_SHOW_LEVEL=n
CONFIG_I2C_MV64XXX=n
CONFIG_SPARSEMEM_MANUAL=n
CONFIG_SPI=n
CONFIG_HAVE_KRETPROBES=n
CONFIG_ACPI_CPPC_CPUFREQ=n
CONFIG_DM_PERSISTENT_DATA=n
CONFIG_DRM_SUBALLOC_HELPER=n
CONFIG_RISCV_ISA_ZACAS=n
CONFIG_NFS_V4_2=n
CONFIG_GCC_NO_STRINGOP_OVERFLOW=n
CONFIG_PT_RECLAIM=n
CONFIG_NFS_V4_2_SSC_HELPER=n
CONFIG_DRM_NOUVEAU=n
CONFIG_MISC_FILESYSTEMS=n
CONFIG_VLAN_8021Q=n
CONFIG_ARCH_SUPPORTS_PAGE_TABLE_CHECK=n
CONFIG_PTP_1588_CLOCK_OPTIONAL=n
CONFIG_ACPI_REDUCED_HARDWARE_ONLY=n
CONFIG_MULTIUSER=n
CONFIG_BLK_CGROUP=n
CONFIG_PCI_ECAM=n
CONFIG_ARCH_SPARSEMEM_ENABLE=n
CONFIG_BACKLIGHT_CLASS_DEVICE=n
CONFIG_GENERIC_SMP_IDLE_THREAD=n
CONFIG_DRM_CLIENT_SELECTION=n
CONFIG_SND_SIMPLE_CARD_UTILS=n
CONFIG_TOOLCHAIN_HAS_ZBC=n
CONFIG_RPMSG_NS=n
CONFIG_EDAC_SUPPORT=n
CONFIG_HAVE_ARCH_GET_SECUREBOOT=n
CONFIG_TMPFS=n
CONFIG_SOC_STARFIVE=n
CONFIG_HAVE_ARCH_KGDB=n
CONFIG_RD_XZ=n
CONFIG_SPARSEMEM_VMEMMAP=n
CONFIG_DECOMPRESS_LZO=n
CONFIG_ASN1=n
CONFIG_MFD_AXP20X_I2C=n
CONFIG_CAN_BCM=n
CONFIG_AUDIT=n
CONFIG_POWER_RESET_SYSCON_POWEROFF=n
CONFIG_HAVE_ARCH_KGDB_QXFER_PKT=n
CONFIG_CC_NO_ARRAY_BOUNDS=n
CONFIG_ARCH_MICROCHIP_POLARFIRE=n
CONFIG_SLAB_OBJ_EXT=n
CONFIG_USB_CDNS3_GADGET=n
CONFIG_USB_U_SERIAL=n
CONFIG_IP_NF_IPTABLES=n
CONFIG_RISCV_PROBE_VECTOR_UNALIGNED_ACCESS=n
CONFIG_LZO_COMPRESS=n
CONFIG_MTD_MAP_BANK_WIDTH_2=n
CONFIG_UTS_NS=n
CONFIG_NVME_CORE=n
CONFIG_BTT=n
CONFIG_TICK_ONESHOT=n
CONFIG_HOTPLUG_CORE_SYNC_FULL=n
CONFIG_PWRSEQ_SIMPLE=n
CONFIG_XXHASH=n
CONFIG_COMMON_CLK_EIC7700=n
CONFIG_DNS_RESOLVER=n
CONFIG_BRIDGE_NETFILTER=n
CONFIG_SYSVIPC=n
CONFIG_DMA_COHERENT_POOL=n
CONFIG_PCIE_DW=n
CONFIG_HAVE_RSEQ=n
CONFIG_ATA_BMDMA=n
CONFIG_RPS=n
CONFIG_CLK_SOPHGO_SG2042_RPGATE=n
CONFIG_LEGACY_DIRECT_IO=n
CONFIG_NET_VENDOR_REALTEK=n
CONFIG_SERIAL_EARLYCON=n
CONFIG_OVERLAY_FS=n
CONFIG_RISCV_ALTERNATIVE_EARLY=n
CONFIG_DWMAC_SUN55I=n
CONFIG_HAVE_FUNCTION_ARG_ACCESS_API=n
CONFIG_NET_VENDOR_SYNOPSYS=n
CONFIG_NET_CLS_CGROUP=n
CONFIG_CPUSETS=n
CONFIG_INET_TUNNEL=n
CONFIG_RESET_SPACEMIT_K1=n
CONFIG_IO_URING=n
CONFIG_INPUT_VIVALDIFMAP=n
CONFIG_AS_HAS_OPTION_ARCH=n
CONFIG_ARCH_WANT_OPTIMIZE_DAX_VMEMMAP=n
CONFIG_WIRELESS=n
CONFIG_NF_CT_PROTO_SCTP=n
CONFIG_PAGE_POOL=n
CONFIG_NVMEM_LAYOUTS=n
CONFIG_DST_CACHE=n
CONFIG_CC_HAS_KASAN_GENERIC=n
CONFIG_DRM_SUN8I_DW_HDMI=n
CONFIG_VIRTIO_NET=n
CONFIG_CGROUP_PIDS=n
CONFIG_HOTPLUG_CPU=n
CONFIG_HAVE_ARCH_MMAP_RND_COMPAT_BITS=n
CONFIG_PCI_HOST_GENERIC=n
CONFIG_SERIAL_8250=n
CONFIG_MDIO_BUS_MUX=n
CONFIG_USB_STORAGE=n
CONFIG_NFS_V4=n
CONFIG_HAVE_ALIGNED_STRUCT_PAGE=n
CONFIG_PAGE_SIZE_LESS_THAN_256KB=n
CONFIG_ARCH_WANT_HUGE_PMD_SHARE=n
CONFIG_HAVE_ARCH_SOFT_DIRTY=n
CONFIG_TREE_RCU=n
CONFIG_KVM_MMIO=n
CONFIG_TRACEFS_AUTOMOUNT_DEPRECATED=n
CONFIG_GPIO_ACPI=n
CONFIG_SND_SPI=n
CONFIG_SPACEMIT_K1_CCU=n
CONFIG_NETFILTER=n
CONFIG_POWER_RESET_SPACEMIT_P1=n
CONFIG_GENERIC_BITREVERSE=n
CONFIG_BLK_DEV_WRITE_MOUNTED=n
CONFIG_GLOB=n
CONFIG_CAN=n
CONFIG_VIRTIO_PCI_LIB=n
CONFIG_CPU_FREQ_DEFAULT_GOV_PERFORMANCE=n
CONFIG_HAVE_PREEMPT_DYNAMIC=n
CONFIG_HAVE_VIRT_CPU_ACCOUNTING_GEN=n
CONFIG_PRINTK_TIME=n
CONFIG_NET_VENDOR_RDC=n
CONFIG_POWER_RESET_SYSCON=n
CONFIG_POSIX_MQUEUE=n
CONFIG_VIRTIO_MMIO=n
CONFIG_SECURITY_SELINUX_AVC_STATS=n
CONFIG_ARCH_KEEP_MEMBLOCK=n
CONFIG_PAGE_SIZE_4KB=n
CONFIG_NET_VENDOR_ASIX=n
CONFIG_REALTEK_PHY=n
CONFIG_DYNAMIC_SIGFRAME=n
CONFIG_MIGRATION=n
CONFIG_DUMMY=n
CONFIG_MMC_SPI=n
CONFIG_DRM_TTM_HELPER=n
CONFIG_PREEMPTION=n
CONFIG_IRQCHIP=n
CONFIG_ARCH_HAS_KCOV=n
CONFIG_RPMSG=n
CONFIG_CAN_RAW=n
CONFIG_PNP=n
CONFIG_STRICT_KERNEL_RWX=n
CONFIG_IP_VS_RR=n
CONFIG_USB_F_RNDIS=n
CONFIG_KVM_GENERIC_DIRTYLOG_READ_PROTECT=n
CONFIG_CPU_FREQ_GOV_ONDEMAND=n
CONFIG_AF_UNIX_OOB=n
CONFIG_CRYPTO_CTS=n
CONFIG_PROC_PAGE_MONITOR=n
CONFIG_SND_PROC_FS=n
CONFIG_NF_LOG_IPV6=n
CONFIG_I2C_K1=n
CONFIG_LEGACY_PTYS=n
CONFIG_PAGE_SIZE_LESS_THAN_64KB=n
CONFIG_OF_FLATTREE=n
CONFIG_ETHERNET=n
CONFIG_GPIOLIB_IRQCHIP=n
CONFIG_STMMAC_ETH=n
CONFIG_GENERIC_IRQ_MULTI_HANDLER=n
CONFIG_OF_GPIO=n
CONFIG_REGMAP_SPI=n
CONFIG_BLK_DEV_DM=n
CONFIG_QUEUED_SPINLOCKS=n
CONFIG_BLK_DEV_SD=n
CONFIG_SECURITY_NETWORK=n
CONFIG_WLAN_VENDOR_PURELIFI=n
CONFIG_TOOLCHAIN_HAS_ZBA=n
CONFIG_PAGE_REPORTING=n
CONFIG_SND_USB=n
CONFIG_MTD_BLKDEVS=n
CONFIG_RAID6_PQ=n
CONFIG_FAIR_GROUP_SCHED=n
CONFIG_JOLIET=n
CONFIG_IOMMU_SUPPORT=n
CONFIG_VIRTIO_MENU=n
CONFIG_ARCH_WANTS_THP_SWAP=n
CONFIG_PCIE_STARFIVE_HOST=n
CONFIG_IP_VS_PROTO_TCP=n
CONFIG_BPF_EVENTS=n
CONFIG_SATA_AHCI=n
CONFIG_HAVE_FUNCTION_GRAPH_FREGS=n
CONFIG_PNFS_BLOCK=n
CONFIG_CRYPTO_HMAC=n
CONFIG_PGTABLE_HAS_HUGE_LEAVES=n
CONFIG_BRANCH_PROFILE_NONE=n
CONFIG_I2C_ALGOBIT=n
CONFIG_CLK_ANALOGBITS_WRPLL_CLN28HPC=n
CONFIG_AUTOFS_FS=n
CONFIG_USER_NS=n
CONFIG_MMC_SDHCI_CADENCE=n
CONFIG_CLK_THEAD_TH1520_AP=n
CONFIG_WATCHDOG=n
CONFIG_TASKS_TRACE_RCU=n
CONFIG_ETHTOOL_NETLINK=n
CONFIG_SHMEM=n
CONFIG_ARCH_MHP_MEMMAP_ON_MEMORY_ENABLE=n
CONFIG_NET_FAILOVER=n
CONFIG_IOMMU_DEFAULT_DMA_STRICT=n
CONFIG_SPARSEMEM_VMEMMAP_ENABLE=n
