CONFIG_PINCTRL_TEGRA194=n
CONFIG_SYSC_R8A77995=n
CONFIG_MFD_MACSMC=n
CONFIG_SND_HDA_CODEC_HDMI_SIMPLE=n
CONFIG_ARM_QCOM_CPUFREQ_HW=n
CONFIG_SPMI=n
CONFIG_MICROSEMI_PHY=n
CONFIG_SYSFS=n
CONFIG_CLK_GLYMUR_TCSRCC=n
CONFIG_HW_RANDOM_EXYNOS=n
CONFIG_USB_CDNS3_TI=n
CONFIG_RMNET=n
CONFIG_RANDSTRUCT_NONE=n
CONFIG_BCM2712_MIP=n
CONFIG_POLARFIRE_SOC_SYSCONS=n
CONFIG_HAVE_CMPXCHG_DOUBLE=n
CONFIG_MOUSE_PS2_SYNAPTICS=n
CONFIG_RESET_RZV2H_USB2PHY=n
CONFIG_CRYPTO_RNG2=n
CONFIG_ARM64_ERRATUM_845719=n
CONFIG_XZ_DEC_ARM=n
CONFIG_QCOM_RMTFS_MEM=n
CONFIG_ARCH_XGENE=n
CONFIG_MFD_VEXPRESS_SYSREG=n
CONFIG_DRM_CLIENT_SELECTION=n
CONFIG_IMX_SCU_PD=n
CONFIG_DRM=n
CONFIG_NF_LOG_SYSLOG=n
CONFIG_ARM_GIC_V3=n
CONFIG_PINCTRL_STM32=n
CONFIG_MV_XOR=n
CONFIG_PCI_LAYERSCAPE=n
CONFIG_SUN6I_MSGBOX=n
CONFIG_PINCTRL_KAANAPALI=n
CONFIG_USB_NET_CDC_SUBSET_ENABLE=n
CONFIG_BT_HCIBTUSB_MTK=n
CONFIG_XILINX_XADC=n
CONFIG_DEBUG_BUGVERBOSE=n
CONFIG_ATA_VERBOSE_ERROR=n
CONFIG_CRYPTO_AUTHENC=n
CONFIG_PATA_PLATFORM=n
CONFIG_VMCORE_INFO=n
CONFIG_DRM_MSM_GPU_STATE=n
CONFIG_MDIO_CAVIUM=n
CONFIG_ARM64_ERRATUM_826319=n
CONFIG_ROOT_NFS=n
CONFIG_SOC_TEGRA_FUSE=n
CONFIG_IO_URING_ZCRX=n
CONFIG_PWM_TEGRA=n
CONFIG_CLK_R8A779H0=n
CONFIG_PCIE_ALTERA=n
CONFIG_GPIO_TEGRA=n
CONFIG_DWMAC_GENERIC=n
CONFIG_MXC_CLK_SCU=n
CONFIG_MACVTAP=n
CONFIG_REGULATOR_RAA215300=n
CONFIG_RESET_MESON_AUDIO_ARB=n
CONFIG_FRAMEBUFFER_CONSOLE=n
CONFIG_INTERVAL_TREE=n
CONFIG_FEC=n
CONFIG_DRM_I2C_ADV7511=n
CONFIG_CRYPTO_DEV_FSL_CAAM=n
CONFIG_QCOM_CLK_RPMH=n
CONFIG_SM_GCC_6115=n
CONFIG_GPIO_SYSCON=n
CONFIG_USB_ISP1760_HCD=n
CONFIG_SND_SOC_AK4619=n
CONFIG_PSTORE_COMPRESS=n
CONFIG_CLK_RENESAS_VBATTB=n
CONFIG_PINCTRL_GLYMUR=n
CONFIG_SNI_NETSEC=n
CONFIG_USB_DWC3_IMX8MP=n
CONFIG_ARM64_ERRATUM_2658417=n
CONFIG_CRYPTO_LIB_AES_ARCH=n
CONFIG_NET_VENDOR_CAVIUM=n
CONFIG_GENERIC_SCHED_CLOCK=n
CONFIG_MDIO_XGENE=n
CONFIG_SND_SOC_LPASS_RX_MACRO=n
CONFIG_VIDEO_CAMERA_LENS=n
CONFIG_SUSPEND=n
CONFIG_MHI_BUS_PCI_GENERIC=n
CONFIG_CUSE=n
CONFIG_SPI_FSL_DSPI=n
CONFIG_USB_MXS_PHY=n
CONFIG_SND_SOC_MEDIATEK=n
CONFIG_HAVE_DEBUG_KMEMLEAK=n
CONFIG_NET_SCH_MQPRIO=n
CONFIG_RD_GZIP=n
CONFIG_SND_SOC_WCD_CLASSH=n
CONFIG_CRYPTO_KPP2=n
CONFIG_SCHED_SMT=n
CONFIG_DRM_RCAR_WRITEBACK=n
CONFIG_SND_SOC_TI_UDMA_PCM=n
CONFIG_GPIOLIB=n
CONFIG_LEDS_CLASS=n
CONFIG_VIDEO_ROCKCHIP_CIF=n
CONFIG_HAVE_KRETPROBES=n
CONFIG_SND_SOC_WCD939X=n
CONFIG_GPIO_VISCONTI=n
CONFIG_KUSER_HELPERS=n
CONFIG_COMMON_CLK_MT8167_IMGSYS=n
CONFIG_RUSTC_HAS_SPAN_FILE=n
CONFIG_SYSVIPC_SYSCTL=n
CONFIG_QCOM_KRYO_L2_ACCESSORS=n
CONFIG_DRM_STM=n
CONFIG_CRC_CCITT=n
CONFIG_PINCTRL_MESON=n
CONFIG_SPARSEMEM=n
CONFIG_PCPU_DEV_REFCNT=n
CONFIG_CLK_IMX95_BLK_CTL=n
CONFIG_RTC_DRV_DS1307=n
CONFIG_RTC_INTF_DEV=n
CONFIG_LEDS_QCOM_LPG=n
CONFIG_IP_MULTICAST=n
CONFIG_PCIE_CADENCE_HOST=n
CONFIG_PINCTRL_MTK=n
CONFIG_INPUT_TPS6594_PWRBUTTON=n
CONFIG_CGROUP_BPF=n
CONFIG_RTC_INTF_PROC=n
CONFIG_CROS_EC_RPMSG=n
CONFIG_PTP_1588_CLOCK=n
CONFIG_MISC_RP1=n
CONFIG_COMMON_CLK_MT8196_MCUSYS=n
CONFIG_HAVE_KVM_DIRTY_RING=n
CONFIG_CROS_EC_SPI=n
CONFIG_COMMON_CLK_MT7988=n
CONFIG_MDIO_BCM_IPROC=n
CONFIG_COMMON_CLK_MESON_CLKC_UTILS=n
CONFIG_EXYNOS_THERMAL=n
CONFIG_PCIE_HISI_STB=n
CONFIG_USB_LAN78XX=n
CONFIG_USB_EHCI_HCD_NPCM7XX=n
CONFIG_STMP_DEVICE=n
CONFIG_DWMAC_TEGRA=n
CONFIG_MFD_BD9571MWV=n
CONFIG_MFD_MT6360=n
CONFIG_NET_VENDOR_XILINX=n
CONFIG_USB_F_MASS_STORAGE=n
CONFIG_CGROUP_PIDS=n
CONFIG_USB_MUSB_DUAL_ROLE=n
CONFIG_POSIX_TIMERS=n
CONFIG_SYSC_R8A774E1=n
CONFIG_PHY_QCOM_USB_HS=n
CONFIG_HAVE_FUNCTION_ERROR_INJECTION=n
CONFIG_SECRETMEM=n
CONFIG_MESON_WATCHDOG=n
CONFIG_RCU_NEED_SEGCBLIST=n
CONFIG_SA_GPUCC_8775P=n
CONFIG_NET_DSA_TAG_NONE=n
CONFIG_COMMON_CLK_MT6795=n
CONFIG_STUB_CLK_HI6220=n
CONFIG_SPI_QCOM_GENI=n
CONFIG_DEVTMPFS_MOUNT=n
CONFIG_PM_SLEEP_SMP=n
CONFIG_CC_HAS_SANE_FUNCTION_ALIGNMENT=n
CONFIG_COMMON_CLK_MT8188_VENCSYS=n
CONFIG_ARCH_R8A77960=n
CONFIG_PWM_ROCKCHIP=n
CONFIG_SPI_MTK_NOR=n
CONFIG_SC_VIDEOCC_7280=n
CONFIG_LEDS_TRIGGER_DEFAULT_ON=n
CONFIG_PHY_RCAR_GEN3_USB3=n
CONFIG_SRAM=n
CONFIG_NVMEM_IMX_OCOTP_SCU=n
CONFIG_COMPAT_32BIT_TIME=n
CONFIG_SYS_SUPPORTS_SH_CMT=n
CONFIG_X509_CERTIFICATE_PARSER=n
CONFIG_ARCH_SUPPORTS_CRASH_DUMP=n
CONFIG_PCIE_TEGRA194_HOST=n
CONFIG_SND_PCM_TIMER=n
CONFIG_CRYPTO_SHA256=n
CONFIG_IIO_ST_SENSORS_SPI=n
CONFIG_ARCH_SELECTS_KEXEC_FILE=n
CONFIG_DEBUG_MEMORY_INIT=n
CONFIG_USB_NET_DRIVERS=n
CONFIG_ARM_SMMU_DISABLE_BYPASS_BY_DEFAULT=n
CONFIG_OF_GPIO=n
CONFIG_PHY_ROCKCHIP_SNPS_PCIE3=n
CONFIG_PINCTRL_BCM4908=n
CONFIG_NET_VENDOR_AMD=n
CONFIG_ASPEED_LPC_CTRL=n
CONFIG_FB_IOMEM_HELPERS=n
CONFIG_SATA_HOST=n
CONFIG_VIRTIO_PCI_LIB=n
CONFIG_CGROUPS=n
CONFIG_INTERCONNECT_QCOM_SM6115=n
CONFIG_ACPI_CONTAINER=n
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_ARGS=n
CONFIG_CORESIGHT_LINKS_AND_SINKS=n
CONFIG_HAVE_FUNCTION_GRAPH_TRACER=n
CONFIG_GPIO_BCM_XGS_IPROC=n
CONFIG_ARCH_SUPPORTS_UPROBES=n
CONFIG_HAVE_ARCH_KGDB=n
CONFIG_UBIFS_FS_XATTR=n
CONFIG_MEMORY_HOTREMOVE=n
CONFIG_DRM_EXYNOS5433_DECON=n
CONFIG_TYPEC_MT6360=n
CONFIG_GENERIC_PHY=n
CONFIG_RC_CORE=n
CONFIG_CLK_RK3368=n
CONFIG_ETHTOOL_NETLINK=n
CONFIG_GENERIC_CPU_DEVICES=n
CONFIG_INTERCONNECT_QCOM_SM8350=n
CONFIG_INTERCONNECT_QCOM_QCS8300=n
CONFIG_I2C_QCOM_CCI=n
CONFIG_NETFILTER_EGRESS=n
CONFIG_RPMSG_NS=n
CONFIG_ARCH_BERLIN=n
CONFIG_UEFI_CPER_ARM=n
CONFIG_PAGE_SIZE_LESS_THAN_256KB=n
CONFIG_IOMMU_IO_PGTABLE_LPAE=n
CONFIG_GENERIC_CSUM=n
CONFIG_DRM_TI_SN65DSI86=n
CONFIG_NVMEM_REBOOT_MODE=n
CONFIG_SUN8I_H3_CCU=n
CONFIG_MVEBU_ICU=n
CONFIG_NET_VENDOR_ATHEROS=n
CONFIG_DRM_PANEL_HIMAX_HX83112B=n
CONFIG_CFG80211_USE_KERNEL_REGDB_KEYS=n
CONFIG_SUNXI_CCU=n
CONFIG_MAC80211_RC_DEFAULT_MINSTREL=n
CONFIG_PINCTRL_RTD1315E=n
CONFIG_SH_ETH=n
CONFIG_DRM_CDNS_DSI_J721E=n
CONFIG_NUMA_KEEP_MEMINFO=n
CONFIG_SND_SOC_QDSP6_ASM=n
CONFIG_HAVE_ARCH_MMAP_RND_BITS=n
CONFIG_ARCH_HAS_DEBUG_WX=n
CONFIG_POWER_RESET_SYSCON=n
CONFIG_COMMON_CLK_T7_PERIPHERALS=n
CONFIG_I2C_TEGRA=n
CONFIG_CRYPTO_MD5=n
CONFIG_SND_SOC_TEGRA210_MVC=n
CONFIG_USB_ISP1761_UDC=n
CONFIG_SND_SOC_NAU8822=n
CONFIG_SQUASHFS_FILE_CACHE=n
CONFIG_RTC_DRV_IMX_SC=n
CONFIG_RPMSG_CHAR=n
CONFIG_ATA_BMDMA=n
CONFIG_FSL_IMX8_DDR_PMU=n
CONFIG_INTERCONNECT_QCOM_SM8650=n
CONFIG_ARM_AMBA=n
CONFIG_MMC_SDHCI_OF_SPARX5=n
CONFIG_PHY_CADENCE_SIERRA=n
CONFIG_SM_GCC_8250=n
CONFIG_SPI_DYNAMIC=n
CONFIG_PAHOLE_HAS_LANG_EXCLUDE=n
CONFIG_AUXILIARY_BUS=n
CONFIG_FAT_FS=n
CONFIG_PINCTRL_SH_PFC=n
CONFIG_USER_STACKTRACE_SUPPORT=n
CONFIG_DRM_PANEL_ORIENTATION_QUIRKS=n
CONFIG_DRM_CLIENT_SETUP=n
CONFIG_MMC_ARMMMCI=n
CONFIG_SPI_ROCKCHIP=n
CONFIG_ZYNQMP_IPI_MBOX=n
CONFIG_GPIO_GENERIC=n
CONFIG_DRM_MSM_HDMI_HDCP=n
CONFIG_COMMON_CLK_EN7523=n
CONFIG_NOUVEAU_PLATFORM_DRIVER=n
CONFIG_MACVLAN=n
CONFIG_CHARGER_CROS_CONTROL=n
CONFIG_DRM_IMX8MP_DW_HDMI_BRIDGE_CONNECTOR_FIXUP=n
CONFIG_LEGACY_PTYS=n
CONFIG_EFI_ARMSTUB_DTB_LOADER=n
CONFIG_LEDS_LM3692X=n
CONFIG_MEMORY_ISOLATION=n
CONFIG_PHY_EXYNOS_DP_VIDEO=n
CONFIG_PWM_MTK_DISP=n
CONFIG_HNS3_ENET=n
CONFIG_SQUASHFS_COMPILE_DECOMP_SINGLE=n
CONFIG_9P_FS=n
CONFIG_QCOM_SPMI_TEMP_ALARM=n
CONFIG_TCG_TIS_SPI_CR50=n
CONFIG_REGULATOR_AXP20X=n
CONFIG_RZ_MTU3=n
CONFIG_REGULATOR_MT6360=n
CONFIG_PINCTRL_PFC_R8A77951=n
CONFIG_WLAN_VENDOR_ATH=n
CONFIG_FSL_ERRATUM_A008585=n
CONFIG_NET_DSA_MSCC_FELIX=n
CONFIG_VT_CONSOLE_SLEEP=n
CONFIG_RTC_DRV_DS3232_HWMON=n
CONFIG_CLK_X1E80100_CAMCC=n
CONFIG_IPMI_DMI_DECODE=n
CONFIG_MTD_SPI_NOR_SWP_DISABLE_ON_VOLATILE=n
CONFIG_USB_F_SERIAL=n
CONFIG_XILINX_PR_DECOUPLER=n
CONFIG_MTK_ADSP_MBOX=n
CONFIG_SYSC_R9A08G045=n
CONFIG_UACCE=n
CONFIG_GPIO_MB86S7X=n
CONFIG_PINCTRL_ARMADA_CP110=n
CONFIG_VLAN_8021Q_GVRP=n
CONFIG_ARCH_KEEP_MEMBLOCK=n
CONFIG_HAVE_SETUP_PER_CPU_AREA=n
CONFIG_PREEMPT_COUNT=n
CONFIG_IRQ_FORCED_THREADING=n
CONFIG_FSL_DPAA2_PTP_CLOCK=n
CONFIG_USB_LIBCOMPOSITE=n
