CONFIG_COMPACTION=n
CONFIG_HAVE_ACPI_APEI=n
CONFIG_PROC_PAGE_MONITOR=n
CONFIG_NET_VENDOR_SOLARFLARE=n
CONFIG_CGROUP_PERF=n
CONFIG_X86_REROUTE_FOR_BROKEN_BOOT_IRQS=n
CONFIG_I3C_OR_I2C=n
CONFIG_NET_VENDOR_MICROSEMI=n
CONFIG_HW_RANDOM_VIA=n
CONFIG_PNP=n
CONFIG_CPU_IDLE_GOV_HALTPOLL=n
CONFIG_FUTEX_ROBUST_UNLOCK=n
CONFIG_R8169=n
CONFIG_HOTPLUG_CORE_SYNC_DEAD=n
CONFIG_STACKTRACE=n
CONFIG_NETFILTER_XT_TARGET_MASQUERADE=n
CONFIG_SERIAL_8250_RSA=n
CONFIG_TICK_ONESHOT=n
CONFIG_AMD_NODE=n
CONFIG_CPU_SUP_AMD=n
CONFIG_X86_DEBUG_FPU=n
CONFIG_SND_HDA_COMPONENT=n
CONFIG_IPV6=n
CONFIG_NET_VENDOR_TEHUTI=n
CONFIG_MAC80211_HAS_RC=n
CONFIG_HID_PID=n
CONFIG_CORE_DUMP_DEFAULT_ELF_HEADERS=n
CONFIG_SSB_POSSIBLE=n
CONFIG_INTEL_TCC=n
CONFIG_RELOCATABLE=n
CONFIG_SERIO_LIBPS2=n
CONFIG_NET_VENDOR_CAVIUM=n
CONFIG_NET_VENDOR_TI=n
CONFIG_E1000E_HWTS=n
CONFIG_CC_HAS_ASM_GOTO_OUTPUT=n
CONFIG_SERIAL_8250_EXAR=n
CONFIG_RANDSTRUCT_NONE=n
CONFIG_VIRTIO_NET=n
CONFIG_X86_ACPI_CPUFREQ_CPB=n
CONFIG_NEED_TASKS_RCU=n
CONFIG_ZSTD_COMMON=n
CONFIG_NET_TULIP=n
CONFIG_NOP_TRACER=n
CONFIG_TIMERFD=n
CONFIG_PARAVIRT_CLOCK=n
CONFIG_NLATTR=n
CONFIG_BUFFER_HEAD=n
CONFIG_HAVE_ALIGNED_STRUCT_PAGE=n
CONFIG_GENERIC_ALLOCATOR=n
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST=n
CONFIG_UID16=n
CONFIG_RANDOMIZE_BASE=n
CONFIG_DEVMEM=n
CONFIG_HAVE_SYSCALL_TRACEPOINTS=n
CONFIG_CC_HAS_WORKING_NOSANITIZE_ADDRESS=n
CONFIG_BNX2=n
CONFIG_ACPI_SLEEP=n
CONFIG_DQL=n
CONFIG_PCIE_PME=n
CONFIG_LZO_COMPRESS=n
CONFIG_NET_VENDOR_FUNGIBLE=n
CONFIG_CPU_SUP_INTEL=n
CONFIG_DNS_RESOLVER=n
CONFIG_VT_CONSOLE_SLEEP=n
CONFIG_TIME_NS=n
CONFIG_WLAN_VENDOR_INTEL=n
CONFIG_NET_VENDOR_SUN=n
CONFIG_USB_UHCI_HCD=n
CONFIG_WIRELESS=n
CONFIG_CLKBLD_I8253=n
CONFIG_X86_BUS_LOCK_DETECT=n
CONFIG_PROBE_EVENTS=n
CONFIG_ARCH_VMLINUX_NEEDS_RELOCS=n
CONFIG_MQ_IOSCHED_DEADLINE=n
CONFIG_MOUSE_PS2=n
CONFIG_FILE_LOCKING=n
CONFIG_X86_MPPARSE=n
CONFIG_LD_CAN_USE_KEEP_IN_OVERLAY=n
CONFIG_HUGETLB_PAGE=n
CONFIG_VM_EVENT_COUNTERS=n
CONFIG_WLAN_VENDOR_ATMEL=n
CONFIG_NET_RX_BUSY_POLL=n
CONFIG_TRACING_SUPPORT=n
CONFIG_NET_VENDOR_CORTINA=n
CONFIG_DMI_SCAN_MACHINE_NON_EFI_FALLBACK=n
CONFIG_PCI_LABEL=n
CONFIG_MOUSE_PS2_SYNAPTICS=n
CONFIG_CRYPTO_CTS=n
CONFIG_GENERIC_CALIBRATE_DELAY=n
CONFIG_VGA_ARB=n
CONFIG_HAVE_PV_STEAL_CLOCK_GEN=n
CONFIG_INTEGRITY=n
CONFIG_NET_VENDOR_MYRI=n
CONFIG_NLS_UTF8=n
CONFIG_KRETPROBE_ON_RETHOOK=n
CONFIG_ARCH_CORRECT_STACKTRACE_ON_KRETPROBE=n
CONFIG_XZ_DEC_ARM=n
CONFIG_HID_NTRIG=n
CONFIG_HID_SAMSUNG=n
CONFIG_SND_PCM_TIMER=n
CONFIG_GENERIC_SYSCALL=n
CONFIG_PCIEASPM_DEFAULT=n
CONFIG_QUEUED_RWLOCKS=n
CONFIG_CRC32_ARCH=n
CONFIG_CLKSRC_I8253=n
CONFIG_NET_VENDOR_DAVICOM=n
CONFIG_DECOMPRESS_GZIP=n
CONFIG_HAVE_PERF_USER_STACK_DUMP=n
CONFIG_HAVE_ARCH_KGDB=n
CONFIG_KERNFS=n
CONFIG_CFG80211_CRDA_SUPPORT=n
CONFIG_CRYPTO_HW=n
CONFIG_HIBERNATION_COMP_LZO=n
CONFIG_WLAN_VENDOR_PURELIFI=n
CONFIG_EPROBE_EVENTS=n
CONFIG_ACPI_CPU_FREQ_PSS=n
CONFIG_PNFS_FLEXFILE_LAYOUT=n
CONFIG_ACPI_PROCESSOR_CSTATE=n
CONFIG_HIBERNATE_CALLBACKS=n
CONFIG_SERIAL_8250_MANY_PORTS=n
CONFIG_PKCS7_MESSAGE_PARSER=n
CONFIG_X86_MCE_INTEL=n
CONFIG_HAVE_UID16=n
CONFIG_GENERIC_PENDING_IRQ=n
CONFIG_SCHED_OMIT_FRAME_POINTER=n
CONFIG_WLAN=n
CONFIG_PERF_EVENTS_INTEL_CSTATE=n
CONFIG_HAVE_KPROBES=n
CONFIG_OPENSSL_SUPPORTS_ML_DSA=n
CONFIG_MITIGATION_MMIO_STALE_DATA=n
CONFIG_HID=n
CONFIG_PPS=n
CONFIG_ARCH_HAS_SYNC_CORE_BEFORE_USERMODE=n
CONFIG_HAVE_MMIOTRACE_SUPPORT=n
CONFIG_ARCH_SPARSEMEM_ENABLE=n
CONFIG_X86_DISABLED_FEATURE_SYSCALL32=n
CONFIG_SND_SEQ_DEVICE=n
CONFIG_NETFILTER_EGRESS=n
CONFIG_NETLABEL=n
CONFIG_ZISOFS=n
CONFIG_DRM_I915=n
CONFIG_PCCARD_NONSTATIC=n
CONFIG_WLAN_VENDOR_RALINK=n
CONFIG_INET6_AH=n
CONFIG_GENERIC_BUG=n
CONFIG_BLOCK_LEGACY_AUTOLOAD=n
CONFIG_PROC_PID_ARCH_STATUS=n
CONFIG_SURFACE_PLATFORMS=n
CONFIG_KCMP=n
CONFIG_SG_POOL=n
CONFIG_HAVE_UNSTABLE_SCHED_CLOCK=n
CONFIG_ALLOW_DEV_COREDUMP=n
CONFIG_DM_ZERO=n
CONFIG_NET_VENDOR_VERTEXCOM=n
CONFIG_DEBUG_STACK_USAGE=n
CONFIG_MMU_GATHER_TABLE_FREE=n
CONFIG_SCHED_MM_CID=n
CONFIG_SELECT_MEMORY_MODEL=n
CONFIG_INITRAMFS_PRESERVE_MTIME=n
CONFIG_DRM_CLIENT_SELECTION=n
CONFIG_NF_LOG_SYSLOG=n
CONFIG_ARCH_HAS_KERNEL_FPU_SUPPORT=n
CONFIG_ARCH_WANT_IRQS_OFF_ACTIVATE_MM=n
CONFIG_GLOB=n
CONFIG_VIRTIO_CONSOLE=n
CONFIG_OLD_SIGSUSPEND3=n
CONFIG_CARDBUS=n
CONFIG_NETFILTER_NETLINK_LOG=n
CONFIG_ARCH_SUPPORTS_ACPI=n
CONFIG_DRM_I915_CAPTURE_ERROR=n
CONFIG_CC_HAS_KASAN_GENERIC=n
CONFIG_ATA_BMDMA=n
CONFIG_GENERIC_IRQ_EFFECTIVE_AFF_MASK=n
CONFIG_ARCH_USE_MEMREMAP_PROT=n
CONFIG_NET_VENDOR_I825XX=n
CONFIG_I2C_I801=n
CONFIG_CRYPTO_MANAGER2=n
CONFIG_X86_DEBUGCTLMSR=n
CONFIG_CGROUP_RDMA=n
CONFIG_SECCOMP=n
CONFIG_IP6_NF_IPTABLES=n
CONFIG_XFRM_AH=n
CONFIG_XZ_DEC_BCJ=n
CONFIG_SND_HDA_I915=n
CONFIG_CC_NO_ARRAY_BOUNDS=n
CONFIG_GENERIC_IRQ_PROBE=n
CONFIG_HAVE_FUNCTION_ARG_ACCESS_API=n
CONFIG_HAVE_SOFTIRQ_ON_OWN_STACK=n
CONFIG_ARCH_HAS_GCOV_PROFILE_ALL=n
CONFIG_RTC_INTF_DEV=n
CONFIG_HAVE_HW_BREAKPOINT=n
CONFIG_MQ_IOSCHED_KYBER=n
CONFIG_SERIAL_8250_PCILIB=n
CONFIG_SND_HDA_HWDEP=n
CONFIG_GENERIC_STRNCPY_FROM_USER=n
CONFIG_STACKTRACE_SUPPORT=n
CONFIG_MAC80211_RC_MINSTREL=n
CONFIG_DRM_DISPLAY_HDMI_HELPER=n
CONFIG_RTL_CARDS=n
CONFIG_HAVE_MOVE_PMD=n
CONFIG_SERIAL_CORE_CONSOLE=n
CONFIG_DRM_BUDDY=n
CONFIG_HAVE_DYNAMIC_FTRACE=n
CONFIG_X86_DISABLED_FEATURE_ENQCMD=n
CONFIG_NET_VENDOR_INTEL=n
CONFIG_ARCH_SUPPORTS_LTO_CLANG_THIN=n
CONFIG_ACPI_PROCESSOR=n
CONFIG_NFS_V4_0=n
CONFIG_NET_CLS_ACT=n
CONFIG_NFS_V4=n
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_DIRECT_CALLS=n
CONFIG_TCP_MD5SIG=n
CONFIG_RCU_NEED_SEGCBLIST=n
CONFIG_MITIGATION_GDS=n
CONFIG_ACPI_THERMAL_LIB=n
CONFIG_EFI_EARLYCON=n
CONFIG_CGROUP_HUGETLB=n
CONFIG_NVMEM=n
CONFIG_XPS=n
CONFIG_CC_HAS_ASM_INLINE=n
CONFIG_X86_MCE=n
CONFIG_CC_HAS_NAMED_AS_FIXED_SANITIZERS=n
CONFIG_TIGON3_HWMON=n
CONFIG_HVC_DRIVER=n
CONFIG_LDISC_AUTOLOAD=n
CONFIG_AGP_INTEL=n
CONFIG_INTEGRITY_AUDIT=n
CONFIG_USB_EHCI_HCD=n
CONFIG_RTC_CLASS=n
CONFIG_PERF_EVENTS_AMD_UNCORE=n
CONFIG_TREE_RCU=n
CONFIG_CRYPTO_LIB_GF128HASH=n
CONFIG_PCMCIA=n
CONFIG_DYNAMIC_SIGFRAME=n
CONFIG_X86_IO_APIC=n
CONFIG_X86_DISABLED_FEATURE_PKU=n
CONFIG_NFS_USE_KERNEL_DNS=n
CONFIG_RTC_I2C_AND_SPI=n
CONFIG_PAGE_COUNTER=n
CONFIG_DEVPORT=n
CONFIG_SOUND=n
CONFIG_QUOTA_NETLINK_INTERFACE=n
CONFIG_X86_DISABLED_FEATURE_LASS=n
CONFIG_USB_XHCI_HCD=n
CONFIG_MOUSE_PS2_SYNAPTICS_SMBUS=n
CONFIG_HOTPLUG_CPU=n
CONFIG_MITIGATION_TSA=n
CONFIG_INPUT_FF_MEMLESS=n
CONFIG_INPUT_MISC=n
CONFIG_NET_CORE=n
CONFIG_HID_SONY=n
CONFIG_CLOCKSOURCE_WATCHDOG=n
CONFIG_HDMI=n
CONFIG_COREDUMP=n
CONFIG_STRICT_KERNEL_RWX=n
CONFIG_SERIAL_CORE=n
CONFIG_CRYPTO_LIB_ARC4=n
CONFIG_HAVE_EISA=n
CONFIG_NET_VENDOR_AMAZON=n
CONFIG_NFS_V3_ACL=n
CONFIG_NET_VENDOR_AMD=n
CONFIG_X86_MSR=n
CONFIG_MSDOS_PARTITION=n
CONFIG_POWER_SUPPLY_HWMON=n
CONFIG_INPUT_MOUSE=n
CONFIG_PAGE_POOL=n
CONFIG_CRYPTO_HASH2=n
CONFIG_ZONE_DMA=n
CONFIG_SCHED_MC_PRIO=n
CONFIG_CPU_FREQ_GOV_USERSPACE=n
CONFIG_THERMAL_GOV_STEP_WISE=n
CONFIG_FUTEX_PRIVATE_HASH=n
CONFIG_ARCH_CONFIGURES_CPU_MITIGATIONS=n
CONFIG_NET_VENDOR_SOCIONEXT=n
CONFIG_I8253_LOCK=n
CONFIG_X86_DISABLED_FEATURE_OSPKE=n
CONFIG_NET_VENDOR_HUAWEI=n
CONFIG_DEFAULT_SECURITY_SELINUX=n
CONFIG_PT_RECLAIM=n
CONFIG_HAVE_ARCH_SECCOMP=n
CONFIG_DEBUG_INFO_NONE=n
CONFIG_SCSI=n
CONFIG_X86_IOPL_IOPERM=n
CONFIG_CRYPTO=n
CONFIG_E1000E=n
CONFIG_INPUT_LEDS=n
CONFIG_NETFILTER_INGRESS=n
CONFIG_RTC_INTF_PROC=n
CONFIG_CRYPTO_SHA1=n
CONFIG_ARCH_STACKWALK=n
CONFIG_MISC_FILESYSTEMS=n
CONFIG_ARCH_WANT_FRAME_POINTERS=n
CONFIG_HAVE_USER_RETURN_NOTIFIER=n
CONFIG_9P_FS=n
CONFIG_ARCH_HAS_ACPI_TABLE_UPGRADE=n
CONFIG_NET_VENDOR_BROCADE=n
CONFIG_NET_VENDOR_ASIX=n
CONFIG_DRM=n
CONFIG_ARCH_HIBERNATION_POSSIBLE=n
CONFIG_ARCH_MHP_MEMMAP_ON_MEMORY_ENABLE=n
