CONFIG_PRINTK_TIME=n
CONFIG_MTD_SPI_NOR_USE_4K_SECTORS=n
CONFIG_MOUSE_PS2_SMBUS=n
CONFIG_CACHESTAT_SYSCALL=n
CONFIG_GENERIC_PINMUX_FUNCTIONS=n
CONFIG_MTD=n
CONFIG_INIT_STACK_ALL_ZERO=n
CONFIG_CLK_SIFIVE_PRCI=n
CONFIG_FB=n
CONFIG_E1000E=n
CONFIG_TMPFS_POSIX_ACL=n
CONFIG_FAT_FS=n
CONFIG_REGMAP_SPI=n
CONFIG_CRYPTO_SHA512=n
CONFIG_USB_XHCI_PLATFORM=n
CONFIG_SKB_EXTENSIONS=n
CONFIG_RTC_DRV_SPACEMIT_P1=n
CONFIG_USB_OHCI_HCD_PLATFORM=n
CONFIG_NET_VENDOR_CORTINA=n
CONFIG_FB_DMAMEM_HELPERS=n
CONFIG_CDROM=n
CONFIG_GPIO_CDEV=n
CONFIG_BINFMT_ELF=n
CONFIG_MEMBARRIER=n
CONFIG_ARCH_ESWIN=n
CONFIG_PM_SLEEP_SMP=n
CONFIG_GCC10_NO_ARRAY_BOUNDS=n
CONFIG_OF_GPIO=n
CONFIG_RUSTC_SUPPORTS_RISCV=n
CONFIG_PINCTRL_TH1520=n
CONFIG_HAVE_GUP_FAST=n
CONFIG_IOSCHED_BFQ=n
CONFIG_BLK_DEV_WRITE_MOUNTED=n
CONFIG_PWM=n
CONFIG_CHECKPOINT_RESTORE=n
CONFIG_NET_VENDOR_EZCHIP=n
CONFIG_ZISOFS=n
CONFIG_XZ_DEC_ARM=n
CONFIG_HAVE_MOVE_PMD=n
CONFIG_GENERIC_BITREVERSE=n
CONFIG_MTD_CFI_I1=n
CONFIG_EXT4_FS_SECURITY=n
CONFIG_NVMEM_SUNXI_SID=n
CONFIG_LOCKD_V4=n
CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE=n
CONFIG_XZ_DEC_RISCV=n
CONFIG_ATA_FORCE=n
CONFIG_SERIAL_EARLYCON_RISCV_SBI=n
CONFIG_SPACEMIT_CCU=n
CONFIG_MD=n
CONFIG_SUSPEND_FREEZER=n
CONFIG_PRINTK=n
CONFIG_SND_SOC_SDCA_OPTIONAL=n
CONFIG_ALLOW_DEV_COREDUMP=n
CONFIG_HUGETLB_PAGE_OPTIMIZE_VMEMMAP=n
CONFIG_LOCALVERSION_AUTO=n
CONFIG_IP_VS_NFCT=n
CONFIG_ARCH_SUSPEND_POSSIBLE=n
CONFIG_MMC_SDHCI_OF_DWCMSHC=n
CONFIG_PINMUX=n
CONFIG_FB_CFB_IMAGEBLIT=n
CONFIG_KERNEL_GZIP=n
CONFIG_PHY_STARFIVE_JH7110_USB=n
CONFIG_HAS_IOPORT=n
CONFIG_CGROUP_FREEZER=n
CONFIG_PAGE_POOL=n
CONFIG_SND_SIMPLE_CARD_UTILS=n
CONFIG_RPMSG_NS=n
CONFIG_CRYPTO_LIB_UTILS=n
CONFIG_HAVE_ARCH_KGDB=n
CONFIG_ACPI_PROCESSOR_IDLE=n
CONFIG_SATA_AHCI_PLATFORM=n
CONFIG_RISCV_SCALAR_MISALIGNED=n
CONFIG_NET_VENDOR_ALLWINNER=n
CONFIG_SCSI_MOD=n
CONFIG_DRM_SUN6I_DSI=n
CONFIG_AUDIT=n
CONFIG_IO_WQ=n
CONFIG_PAGE_COUNTER=n
CONFIG_NET_VENDOR_SEEQ=n
CONFIG_SELECT_MEMORY_MODEL=n
CONFIG_KVM_COMMON=n
CONFIG_TRACING=n
CONFIG_ARCH_HAS_STRICT_MODULE_RWX=n
CONFIG_NET_VENDOR_LITEX=n
CONFIG_VT=n
CONFIG_ARCH_HAS_GIGANTIC_PAGE=n
CONFIG_CPU_PM=n
CONFIG_ARCH_PROC_KCORE_TEXT=n
CONFIG_GENERIC_SYSCALL=n
CONFIG_OF_MDIO=n
CONFIG_THERMAL_HWMON=n
CONFIG_PINCTRL_ULTRARISC_DP1000=n
CONFIG_SPARSEMEM_VMEMMAP=n
CONFIG_RISCV_SBI_CPUIDLE=n
CONFIG_RISCV_ISA_VENDOR_EXT_ANDES=n
CONFIG_NET_VENDOR_VIA=n
CONFIG_FRAME_POINTER=n
CONFIG_HAVE_ARCH_SECCOMP_FILTER=n
CONFIG_GENERIC_BUG=n
CONFIG_WLAN_VENDOR_ZYDAS=n
CONFIG_I2C_DESIGNWARE_CORE=n
CONFIG_GENERIC_IRQ_MATRIX_ALLOCATOR=n
CONFIG_R8169=n
CONFIG_ARCH_MICROCHIP=n
CONFIG_OF_RESERVED_MEM=n
CONFIG_MTD_CFI_ADV_OPTIONS=n
CONFIG_NET_VENDOR_INTEL=n
CONFIG_DRM_MIPI_DSI=n
CONFIG_HAVE_PERF_REGS=n
CONFIG_SPACEMIT_K1_EMAC=n
CONFIG_HAVE_PAGE_SIZE_4KB=n
CONFIG_CRYPTO_CAMELLIA=n
CONFIG_USB_CDNS3_GADGET=n
CONFIG_AS_HAS_OPTION_ARCH=n
CONFIG_ARCH_HAS_CURRENT_STACK_POINTER=n
CONFIG_PREEMPT_NOTIFIERS=n
CONFIG_RTC_DRV_GOLDFISH=n
CONFIG_IOMMU_SUPPORT=n
CONFIG_CRC_CCITT=n
CONFIG_GPIO_ACPI=n
CONFIG_SUNRPC_BACKCHANNEL=n
CONFIG_DUMMY_CONSOLE=n
CONFIG_BLK_DEV=n
CONFIG_DRM_BRIDGE=n
CONFIG_IOMMU_PT=n
CONFIG_DEBUG_FS_ALLOW_ALL=n
CONFIG_NET_VENDOR_I825XX=n
CONFIG_DM_BIO_PRISON=n
CONFIG_GENERIC_CALIBRATE_DELAY=n
CONFIG_MQ_IOSCHED_DEADLINE=n
CONFIG_MAILBOX=n
CONFIG_RISCV_SBI=n
CONFIG_UPROBES=n
CONFIG_GENERIC_STRNLEN_USER=n
CONFIG_RAID6_PQ=n
CONFIG_FIRMWARE_TABLE=n
CONFIG_CPUFREQ_DT=n
CONFIG_RISCV_VECTOR_MISALIGNED=n
CONFIG_SECURITY_PATH=n
CONFIG_DRM_PANEL_BRIDGE=n
CONFIG_ARCH_ULTRARISC=n
CONFIG_SECURITY_SELINUX=n
CONFIG_MMU_NOTIFIER=n
CONFIG_OPENSSL_SUPPORTS_ML_DSA=n
CONFIG_HAVE_ARCH_KASAN_VMALLOC=n
CONFIG_SCHED_INFO=n
CONFIG_FUTEX=n
CONFIG_DNOTIFY=n
CONFIG_ARCH_SUPPORTS_LTO_CLANG=n
CONFIG_THERMAL=n
CONFIG_HAVE_ARCH_MMAP_RND_COMPAT_BITS=n
CONFIG_ARCH_HAS_NON_OVERLAPPING_ADDRESS_SPACE=n
CONFIG_MFD_SIMPLE_MFD_I2C=n
CONFIG_NVME_CORE=n
CONFIG_SND_SOC=n
CONFIG_CAN_GW=n
CONFIG_ARM_AMBA=n
CONFIG_RISCV_ISA_ZBC=n
CONFIG_NET_VENDOR_MYRI=n
CONFIG_ARCH_HAS_UBSAN=n
CONFIG_ND_BTT=n
CONFIG_STMMAC_ETH=n
CONFIG_ARCH_USE_SYM_ANNOTATIONS=n
CONFIG_SND_SOC_JH7110_PWMDAC=n
CONFIG_CPU_FREQ_GOV_CONSERVATIVE=n
CONFIG_ARCH_USE_CMPXCHG_LOCKREF=n
CONFIG_CLK_STARFIVE_JH7100=n
CONFIG_COMMON_CLK=n
CONFIG_KCMP=n
CONFIG_RESET_K230=n
CONFIG_POSIX_MQUEUE_SYSCTL=n
CONFIG_USB_CDNS3_STARFIVE=n
CONFIG_ARCH_HAS_VDSO_ARCH_DATA=n
CONFIG_HAVE_HARDLOCKUP_DETECTOR_BUDDY=n
CONFIG_HAVE_KVM_READONLY_MEM=n
CONFIG_PTP_1588_CLOCK_OPTIONAL=n
CONFIG_VGA_ARB=n
CONFIG_NF_LOG_IPV4=n
CONFIG_SCHED_CACHE=n
CONFIG_RISCV_ISA_V_PREEMPTIVE=n
CONFIG_USB_LIBCOMPOSITE=n
CONFIG_TMPFS=n
CONFIG_SMP=n
CONFIG_ACPI_MDIO=n
CONFIG_THREAD_INFO_IN_TASK=n
CONFIG_PROBE_EVENTS=n
CONFIG_REGULATOR_SPACEMIT_P1=n
CONFIG_SCSI_DMA=n
CONFIG_MTD_SPI_NOR_SWP_DISABLE_ON_VOLATILE=n
CONFIG_TIME_NS=n
CONFIG_SYSFS=n
CONFIG_ARCH_OPTIONAL_KERNEL_RWX=n
CONFIG_NET_VENDOR_CAVIUM=n
CONFIG_RISCV_ISA_ZBKB=n
CONFIG_CC_CAN_LINK=n
CONFIG_SATA_HOST=n
CONFIG_FIX_EARLYCON_MEM=n
CONFIG_PAGE_SIZE_LESS_THAN_64KB=n
CONFIG_FAILOVER=n
CONFIG_CRYPTO_RSA=n
CONFIG_MFD_CORE=n
CONFIG_ARCH_ENABLE_SPLIT_PMD_PTLOCK=n
CONFIG_DMI=n
CONFIG_HAVE_FUNCTION_GRAPH_FREGS=n
CONFIG_NF_CT_PROTO_SCTP=n
CONFIG_USB_CONFIGFS_ECM=n
CONFIG_DM_PERSISTENT_DATA=n
CONFIG_ASSOCIATIVE_ARRAY=n
CONFIG_NETFILTER_XT_MATCH_CONNTRACK=n
CONFIG_MTD_OF_PARTS=n
CONFIG_MMC_SPI=n
CONFIG_KEYBOARD_GPIO=n
CONFIG_ARCH_DEFAULT_CRASH_DUMP=n
CONFIG_STMMAC_PLATFORM=n
CONFIG_HAVE_ARCH_KASAN=n
CONFIG_MULTIUSER=n
CONFIG_ARCH_USE_MEMTEST=n
CONFIG_RANDOMIZE_KSTACK_OFFSET=n
CONFIG_GENERIC_PINCONF=n
CONFIG_STACKPROTECTOR_STRONG=n
CONFIG_CLK_SOPHGO_SG2042_CLKGEN=n
CONFIG_IP_PNP_BOOTP=n
CONFIG_HOTPLUG_PARALLEL=n
CONFIG_HAVE_BUILDTIME_MCOUNT_SORT=n
CONFIG_DRM_GEM_SHMEM_HELPER=n
CONFIG_NVMEM_SYSFS=n
CONFIG_SPI_MASTER=n
CONFIG_HW_RANDOM_ATMEL=n
CONFIG_RISCV_ISA_SVNAPOT=n
CONFIG_ARCH_SIFIVE=n
CONFIG_SERIAL_8250_PCILIB=n
CONFIG_CC_HAS_ASSUME=n
CONFIG_VIDEO_V4L2_SUBDEV_API=n
CONFIG_WLAN_VENDOR_ATMEL=n
CONFIG_FB_CFB_COPYAREA=n
CONFIG_RISCV_ISA_V_DEFAULT_ENABLE=n
CONFIG_WLAN_VENDOR_ADMTEK=n
CONFIG_NLS=n
CONFIG_BRIDGE_VLAN_FILTERING=n
CONFIG_POSIX_TIMERS=n
CONFIG_DMA_DECLARE_COHERENT=n
CONFIG_FONT_SUPPORT=n
CONFIG_DMA_OF=n
CONFIG_CGROUP_WRITEBACK=n
CONFIG_XFRM=n
CONFIG_CC_HAS_MULTIDIMENSIONAL_NONSTRING=n
CONFIG_SERIAL_CORE=n
CONFIG_CGROUPS=n
CONFIG_USB_CONFIGFS_F_FS=n
CONFIG_MTD_BLOCK=n
CONFIG_PCIE_XILINX=n
CONFIG_CPU_IDLE_GOV_MENU=n
CONFIG_USB_SUPPORT=n
CONFIG_FB_DEFERRED_IO=n
CONFIG_DRM_CLIENT_SELECTION=n
CONFIG_CONTEXT_TRACKING=n
CONFIG_ARCH_HAS_SYNC_DMA_FOR_DEVICE=n
CONFIG_HAVE_SAMPLE_FTRACE_DIRECT=n
CONFIG_USB_GADGET=n
CONFIG_GENERIC_IRQ_MIGRATION=n
CONFIG_SOUND=n
CONFIG_PID_NS=n
CONFIG_CLK_STARFIVE_JH71X0=n
CONFIG_PINCTRL_SOPHGO_SG2002=n
CONFIG_ACPI_RIMT=n
CONFIG_CLK_THEAD_TH1520_AP=n
CONFIG_GENERIC_ENTRY=n
CONFIG_WLAN_VENDOR_INTEL=n
CONFIG_SERIO=n
CONFIG_ASN1=n
CONFIG_SERIO_SERPORT=n
CONFIG_REGMAP_I2C=n
CONFIG_VIRT_XFER_TO_GUEST_WORK=n
CONFIG_ARCH_HAS_SYNC_DMA_FOR_CPU=n
CONFIG_DEBUG_MEMORY_INIT=n
CONFIG_HARDIRQS_SW_RESEND=n
CONFIG_NET_VENDOR_RDC=n
CONFIG_CRYPTO_USER_API=n
CONFIG_FB_DEVICE=n
CONFIG_NET_VENDOR_OKI=n
CONFIG_BRIDGE=n
CONFIG_CRYPTO_ALGAPI=n
CONFIG_PINCTRL_STARFIVE_JH7110_AON=n
CONFIG_GENERIC_LIB_DEVMEM_IS_ALLOWED=n
CONFIG_NETFILTER_ADVANCED=n
CONFIG_USB_F_RNDIS=n
CONFIG_MSDOS_PARTITION=n
CONFIG_DRM_NOUVEAU=n
CONFIG_USB_OTG=n
CONFIG_VIRTIO=n
CONFIG_UPROBE_EVENTS=n
CONFIG_PM_SLEEP=n
CONFIG_PROC_FS=n
CONFIG_SECCOMP_FILTER=n
CONFIG_PROFILING=n
CONFIG_NET_VENDOR_MICROSOFT=n
CONFIG_CRYPTO_MANAGER=n
CONFIG_PCIEASPM=n
CONFIG_NFS_V4_0=n
