CONFIG_CPUSETS=n
CONFIG_HVC_DRIVER=n
CONFIG_DRM_SUN6I_DSI=n
CONFIG_RISCV_ISA_ZAWRS=n
CONFIG_PREEMPT_BUILD=n
CONFIG_MTD_MAP_BANK_WIDTH_4=n
CONFIG_USB_U_SERIAL=n
CONFIG_DRM_KMS_HELPER=n
CONFIG_HAVE_ARCH_TRACEHOOK=n
CONFIG_RD_XZ=n
CONFIG_VIRTIO_BLK=n
CONFIG_NET_VENDOR_SAMSUNG=n
CONFIG_DRM_GPUVM=n
CONFIG_SUNXI_CCU=n
CONFIG_USB_CONFIGFS_ACM=n
CONFIG_DRM_CLIENT_LIB=n
CONFIG_PAGE_MAPCOUNT=n
CONFIG_GPIO_GENERIC=n
CONFIG_PCI_HOST_GENERIC=n
CONFIG_SG_POOL=n
CONFIG_ARCH_HAS_PTE_SPECIAL=n
CONFIG_SPI_PL022=n
CONFIG_SUNRPC_BACKCHANNEL=n
CONFIG_HAVE_KRETPROBES=n
CONFIG_NF_LOG_IPV6=n
CONFIG_SPLIT_PMD_PTLOCKS=n
CONFIG_NET_SELFTESTS=n
CONFIG_MOUSE_PS2_ALPS=n
CONFIG_VFAT_FS=n
CONFIG_DRM=n
CONFIG_HAVE_ARCH_VMAP_STACK=n
CONFIG_CONSOLE_TRANSLATIONS=n
CONFIG_CAN_RAW=n
CONFIG_USB_F_RNDIS=n
CONFIG_CRYPTO_MANAGER2=n
CONFIG_BACKLIGHT_CLASS_DEVICE=n
CONFIG_TOOLCHAIN_HAS_VECTOR_CRYPTO=n
CONFIG_PINCTRL_SOPHGO_CV1812H=n
CONFIG_DW_AXI_DMAC=n
CONFIG_BLK_ICQ=n
CONFIG_PCI_LABEL=n
CONFIG_WLAN_VENDOR_INTEL=n
CONFIG_NET_INGRESS=n
CONFIG_FUTEX_PI=n
CONFIG_SERIAL_8250_PCI=n
CONFIG_MISC_FILESYSTEMS=n
CONFIG_DRM_DW_HDMI=n
CONFIG_SND_PCI=n
CONFIG_VT_HW_CONSOLE_BINDING=n
CONFIG_SECURITY=n
CONFIG_XXHASH=n
CONFIG_SCSI_PROC_FS=n
CONFIG_ARCH_HAS_VDSO_ARCH_DATA=n
CONFIG_POSIX_MQUEUE=n
CONFIG_DYNAMIC_EVENTS=n
CONFIG_INOTIFY_USER=n
CONFIG_GENERIC_ENTRY=n
CONFIG_NET_VENDOR_FUNGIBLE=n
CONFIG_UTS_NS=n
CONFIG_RISCV_ISA_VENDOR_EXT=n
CONFIG_USB_CDNSP_PCI=n
CONFIG_DWMAC_SUN8I=n
CONFIG_NLS_CODEPAGE_437=n
CONFIG_RISCV_PMU_LEGACY=n
CONFIG_XZ_DEC_RISCV=n
CONFIG_NFS_COMMON=n
CONFIG_GENERIC_SCHED_CLOCK=n
CONFIG_SYSVIPC_SYSCTL=n
CONFIG_ARCH_HAS_SET_MEMORY=n
CONFIG_CLONE_BACKWARDS=n
CONFIG_SND_PROC_FS=n
CONFIG_ZLIB_INFLATE=n
CONFIG_TRACE_IRQFLAGS_SUPPORT=n
CONFIG_MAILBOX=n
CONFIG_ARCH_RV64I=n
CONFIG_BINFMT_SCRIPT=n
CONFIG_CRYPTO_SEQIV=n
CONFIG_EEPROM_93CX6=n
CONFIG_SERIAL_8250_CONSOLE=n
CONFIG_MTD_CFI_ADV_OPTIONS=n
CONFIG_REGMAP_IRQ=n
CONFIG_SCSI_COMMON=n
CONFIG_BCMA_POSSIBLE=n
CONFIG_V4L2_ASYNC=n
CONFIG_NET_VENDOR_NI=n
CONFIG_PINCTRL_SOPHGO_COMMON=n
CONFIG_BLK_DEV_SR=n
CONFIG_MTD_GEN_PROBE=n
CONFIG_ARCH_HAS_SYNC_DMA_FOR_CPU=n
CONFIG_CONFIGFS_FS=n
CONFIG_TASKS_RCU=n
CONFIG_RISCV_ISA_VENDOR_EXT_MIPS=n
CONFIG_FB_SYSMEM_HELPERS_DEFERRED=n
CONFIG_NF_CONNTRACK_TFTP=n
CONFIG_CONTEXT_TRACKING=n
CONFIG_DEVPORT=n
CONFIG_ACPI_CPPC_CPUFREQ_FIE=n
CONFIG_HAVE_ARCH_KASAN=n
CONFIG_SATA_AHCI=n
CONFIG_MOUSE_PS2_SMBUS=n
CONFIG_I2C_HID=n
CONFIG_PHYLINK=n
CONFIG_PCI_DOMAINS=n
CONFIG_NET_VENDOR_3COM=n
CONFIG_GENERIC_IRQ_SHOW=n
CONFIG_NFS_V4_0=n
CONFIG_XZ_DEC_ARM=n
CONFIG_ARCH_HAS_SYSCALL_WRAPPER=n
CONFIG_RESET_SPACEMIT_K3=n
CONFIG_HAVE_SYSCALL_TRACEPOINTS=n
CONFIG_USB_U_ETHER=n
CONFIG_NFS_USE_KERNEL_DNS=n
CONFIG_LEGACY_DIRECT_IO=n
CONFIG_OF_ADDRESS=n
CONFIG_HAVE_ARCH_KASAN_VMALLOC=n
CONFIG_GENERIC_IRQ_MULTI_HANDLER=n
CONFIG_FB=n
CONFIG_STMMAC_PLATFORM=n
CONFIG_LD_IS_BFD=n
CONFIG_RPMSG=n
CONFIG_SND_SOC_SPDIF=n
CONFIG_USB_STORAGE=n
CONFIG_GENERIC_BUG_RELATIVE_POINTERS=n
CONFIG_BLK_DEV_SD=n
CONFIG_I2C_MUX=n
CONFIG_ERRATA_THEAD_PMU=n
CONFIG_HAS_DMA=n
CONFIG_PM=n
CONFIG_TOOLCHAIN_HAS_ZBKB=n
CONFIG_SERIAL_CORE=n
CONFIG_NET_VENDOR_SOLARFLARE=n
CONFIG_CGROUP_HUGETLB=n
CONFIG_ARCH_HAS_DEBUG_VIRTUAL=n
CONFIG_MFD_CORE=n
CONFIG_PINCTRL_SOPHGO_CV18XX_OPS=n
CONFIG_HAVE_ARCH_KGDB_QXFER_PKT=n
CONFIG_MICREL_PHY=n
CONFIG_DMA_BOUNCE_UNALIGNED_KMALLOC=n
CONFIG_ARCH_WANT_OPTIMIZE_HUGETLB_VMEMMAP=n
CONFIG_REGULATOR_SPACEMIT_P1=n
CONFIG_VIRTIO_PCI_LEGACY=n
CONFIG_BPF=n
CONFIG_NLS=n
CONFIG_CRYPTO_USER_API_HASH=n
CONFIG_RISCV_SBI_CPUIDLE=n
CONFIG_SND_SIMPLE_CARD=n
CONFIG_ARCH_USE_QUEUED_SPINLOCKS=n
CONFIG_STACKTRACE=n
CONFIG_BLK_DEV_DM=n
CONFIG_NET_SOCK_MSG=n
CONFIG_NFS_V3=n
CONFIG_RESET_STARFIVE_JH7100=n
CONFIG_EVENT_TRACING=n
CONFIG_RESET_SUNXI=n
CONFIG_DM_THIN_PROVISIONING=n
CONFIG_HOTPLUG_CORE_SYNC_DEAD=n
CONFIG_TRACING=n
CONFIG_RD_LZMA=n
CONFIG_WATCHDOG=n
CONFIG_USB_CONFIGFS_NCM=n
CONFIG_CRYPTO_ECHAINIV=n
CONFIG_CLK_SIFIVE=n
CONFIG_SND_SIMPLE_CARD_UTILS=n
CONFIG_IO_WQ=n
CONFIG_LTO_NONE=n
CONFIG_HAS_IOPORT=n
CONFIG_NETWORK_FILESYSTEMS=n
CONFIG_USB_CONFIGFS_RNDIS=n
CONFIG_MD=n
CONFIG_SND_VERBOSE_PROCFS=n
CONFIG_ARCH_HAS_SYNC_DMA_FOR_DEVICE=n
CONFIG_GENERIC_NET_UTILS=n
CONFIG_SOC_STARFIVE=n
CONFIG_PINCTRL_STARFIVE_JH7110_AON=n
CONFIG_GENERIC_EARLY_IOREMAP=n
CONFIG_SWIOTLB=n
CONFIG_SPARSEMEM_MANUAL=n
CONFIG_RESET_SPACEMIT_COMMON=n
CONFIG_MEDIA_SUPPORT_FILTER=n
CONFIG_MTD_CFI_UTIL=n
CONFIG_NET_VENDOR_GOOGLE=n
CONFIG_PM_DEVFREQ=n
CONFIG_PWM_PXA=n
CONFIG_NET_SCHED=n
CONFIG_HAS_IOMEM=n
CONFIG_NET_VENDOR_CORTINA=n
CONFIG_RAID6_PQ_BENCHMARK=n
CONFIG_PINCTRL_SOPHGO_SG2002=n
CONFIG_I2C_CHARDEV=n
CONFIG_ARCH_DMA_ADDR_T_64BIT=n
CONFIG_XZ_DEC_POWERPC=n
CONFIG_RISCV_PROBE_UNALIGNED_ACCESS=n
CONFIG_SPI_MASTER=n
CONFIG_HAVE_KVM_IRQCHIP=n
CONFIG_MEDIA_SUPPORT=n
CONFIG_IP_VS_RR=n
CONFIG_SERIAL_OF_PLATFORM=n
CONFIG_PROC_PAGE_MONITOR=n
CONFIG_DRM_CLIENT_DEFAULT_FBDEV=n
CONFIG_CRYPTO_HASH=n
CONFIG_REGULATOR=n
CONFIG_CRYPTO_HMAC=n
CONFIG_MACB=n
CONFIG_NET_VENDOR_RENESAS=n
CONFIG_NETLINK_DIAG=n
CONFIG_ARCH_MHP_MEMMAP_ON_MEMORY_ENABLE=n
CONFIG_NET_VENDOR_OKI=n
CONFIG_MMC_CQHCI=n
CONFIG_USB_CDNS_SUPPORT=n
CONFIG_NET_CORE=n
CONFIG_SECURITY_NETWORK=n
CONFIG_TCP_CONG_CUBIC=n
CONFIG_NF_CT_PROTO_SCTP=n
CONFIG_STANDALONE=n
CONFIG_SLAB_MERGE_DEFAULT=n
CONFIG_RD_ZSTD=n
CONFIG_NFS_V4_2=n
CONFIG_EFI_RUNTIME_WRAPPERS=n
CONFIG_CONTEXT_SWITCH_TRACER=n
CONFIG_CPU_FREQ_DEFAULT_GOV_PERFORMANCE=n
CONFIG_DM_BIO_PRISON=n
CONFIG_POWER_RESET=n
CONFIG_RD_LZ4=n
CONFIG_TMPFS=n
CONFIG_I2C_K1=n
CONFIG_SLUB=n
CONFIG_RUSTC_HAS_FILE_WITH_NUL=n
CONFIG_GOLDFISH=n
CONFIG_IO_URING_ZCRX=n
CONFIG_SUN20I_D1_R_CCU=n
CONFIG_USB_EHCI_HCD_PLATFORM=n
CONFIG_GPIOLIB_IRQCHIP=n
CONFIG_CC_HAS_MIN_FUNCTION_ALIGNMENT=n
CONFIG_FHANDLE=n
CONFIG_VGA_ARB=n
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_ARGS=n
CONFIG_PAGE_SIZE_LESS_THAN_256KB=n
CONFIG_HAVE_GENERIC_VDSO=n
CONFIG_PT_RECLAIM=n
CONFIG_PINCTRL_STARFIVE_JH7100=n
CONFIG_PHY_STARFIVE_JH7110_PCIE=n
CONFIG_HAVE_PAGE_SIZE_4KB=n
CONFIG_NET_VENDOR_ALACRITECH=n
CONFIG_HAVE_CLK=n
CONFIG_VIRTIO=n
CONFIG_CRYPTO_LIB_GF128HASH=n
CONFIG_BRIDGE=n
CONFIG_RISCV_ALTERNATIVE_EARLY=n
CONFIG_ARCH_SUSPEND_POSSIBLE=n
CONFIG_DECOMPRESS_GZIP=n
CONFIG_ARCH_ESWIN=n
CONFIG_PREEMPTION=n
CONFIG_BLK_CGROUP=n
CONFIG_DRM_MIPI_DSI=n
CONFIG_IPV6_SIT=n
CONFIG_ERRATA_SIFIVE_CIP_1200=n
CONFIG_CLK_STARFIVE_JH7100=n
CONFIG_I2C=n
CONFIG_EXT4_FS_POSIX_ACL=n
CONFIG_CRYPTO_USER_API=n
CONFIG_HAVE_KERNEL_LZ4=n
CONFIG_MOUSE_PS2_LOGIPS2PP=n
CONFIG_MODULES=n
CONFIG_GENERIC_ARCH_TOPOLOGY=n
CONFIG_USB_CONFIGFS_SERIAL=n
CONFIG_PHY_SUN6I_MIPI_DPHY=n
CONFIG_HAVE_BUILDTIME_MCOUNT_SORT=n
CONFIG_BALLOON_MIGRATION=n
CONFIG_DEBUG_KERNEL=n
CONFIG_ERRATA_SIFIVE=n
CONFIG_NVME_CORE=n
CONFIG_SPACEMIT_CCU=n
CONFIG_USB_DEFAULT_PERSIST=n
CONFIG_MEMREGION=n
CONFIG_ARCH_HAS_MEMBARRIER_CALLBACKS=n
CONFIG_RING_BUFFER=n
CONFIG_BPF_EVENTS=n
CONFIG_IP_VS_PROTO_TCP=n
CONFIG_MEMCG=n
CONFIG_TIMER_OF=n
CONFIG_SPARSEMEM_EXTREME=n
CONFIG_SECCOMP_FILTER=n
CONFIG_DAX=n
CONFIG_NET_VENDOR_SMSC=n
CONFIG_ACPI_CPPC_LIB=n
CONFIG_RFS_ACCEL=n
CONFIG_NET_VENDOR_CAVIUM=n
CONFIG_MEDIA_PLATFORM_DRIVERS=n
CONFIG_AUTOFS_FS=n
CONFIG_SND_PCM=n
CONFIG_CLK_STARFIVE_JH7110_PLL=n
CONFIG_SYMBOLIC_ERRNAME=n
CONFIG_RISCV_IMSIC=n
CONFIG_KCMP=n
CONFIG_RESET_SPACEMIT_K1=n
CONFIG_GENERIC_IRQ_IPI_MUX=n
CONFIG_INIT_STACK_ALL_ZERO=n
CONFIG_CRYPTO_GENIV=n
CONFIG_NET_VENDOR_ARC=n
CONFIG_USB_F_MASS_STORAGE=n
