CONFIG_LEDS_LP55XX_COMMON=y
CONFIG_CGROUP_MISC=y
CONFIG_SERIAL_ATMEL_TTYAT=y
CONFIG_SENSORS_INA233=y
CONFIG_ARCH_HAS_GENERIC_CRASHKERNEL_RESERVATION=y
CONFIG_HAVE_SYSCALL_TRACEPOINTS=y
CONFIG_SENSORS_LM75=y
CONFIG_ARM_GIC_V3_ITS=y
CONFIG_SENSORS_MCP9982=y
CONFIG_COMEDI_II_PCI20KC=y
CONFIG_EVENT_TRACING=y
CONFIG_REGULATOR_PWM=y
CONFIG_PSI=y
CONFIG_AUDIT_ARCH_COMPAT_GENERIC=y
CONFIG_MFD_TPS65086=y
CONFIG_DW_DMAC=y
CONFIG_TTY_PRINTK=y
CONFIG_QCOM_HIDMA=y
CONFIG_SERIO_PCIPS2=y
CONFIG_CRYPTO_HMAC=y
CONFIG_COMMON_CLK_VC7=y
CONFIG_EXTCON_PTN5150=y
CONFIG_842_COMPRESS=y
CONFIG_DEBUG_WQ_FORCE_RR_CPU=y
CONFIG_PAGE_COUNTER=y
CONFIG_ARM64_PA_BITS_48=y
CONFIG_CPU_FREQ_GOV_ATTR_SET=y
CONFIG_TMP006=y
CONFIG_QCOM_SPMI_VADC=y
CONFIG_SIOX=y
CONFIG_TRACE_CLOCK=y
CONFIG_ARCH_USE_CMPXCHG_LOCKREF=y
CONFIG_BUILTIN_RETURN_ADDRESS_STRIPS_PAC=y
CONFIG_ARCH_HAS_PREEMPT_LAZY=y
CONFIG_OMAP_DM_TIMER=y
CONFIG_ARM_GIC_V3=y
CONFIG_SSB=y
CONFIG_CRC_OPTIMIZATIONS=y
CONFIG_TSL4531=y
CONFIG_MFD_ROHM_BD957XMUF=y
CONFIG_MFD_WM5102=y
CONFIG_PER_VMA_LOCK=y
CONFIG_MFD_RK8XX=y
CONFIG_SWIOTLB_XEN=y
CONFIG_MFD_MAX77759=y
CONFIG_SENSORS_LM95241=y
CONFIG_PHY_UNIPHIER_USB2=y
CONFIG_REGMAP_IRQ=y
CONFIG_FXLS8962AF_I2C=y
CONFIG_HAVE_ARCH_KASAN=y
CONFIG_CEC_NXP_TDA9950=y
CONFIG_RT_GROUP_SCHED=y
CONFIG_QCOM_PMIC_PDCHARGER_ULOG=y
CONFIG_KGDB_KDB=y
CONFIG_ZPA2326_I2C=y
CONFIG_ARCH_MHP_MEMMAP_ON_MEMORY_ENABLE=y
CONFIG_PINCTRL_TEGRA186=y
CONFIG_IAQCORE=y
CONFIG_MAX30100=y
CONFIG_W1_SLAVE_DS2431=y
CONFIG_MEMTEST=y
CONFIG_ARM64_ERRATUM_2119858=y
CONFIG_LV0104CS=y
CONFIG_NULL_TTY=y
CONFIG_HW_RANDOM_OPTEE=y
CONFIG_DEBUG_LOCK_ALLOC=y
CONFIG_LEDS_TLC591XX=y
CONFIG_PHY_MESON_AXG_MIPI_PCIE_ANALOG=y
CONFIG_PHY_PXA_28NM_USB2=y
CONFIG_AL_FIC=y
CONFIG_CLK_RK3308=y
CONFIG_CRYPTO_SM4_ARM64_NEON_BLK=y
CONFIG_CRYPTO_SHA512=y
CONFIG_HISILICON_ERRATUM_161010101=y
CONFIG_POWER_RESET_LTC2952=y
CONFIG_TRACING_SUPPORT=y
CONFIG_IIO_TRIGGER=y
CONFIG_NLS_ISO8859_1=y
CONFIG_CHARGER_MAX8903=y
CONFIG_TEGRA20_APB_DMA=y
CONFIG_MPRLS0025PA_I2C=y
CONFIG_REGULATOR_MAX5970=y
CONFIG_CRYPTO_ECRDSA=y
CONFIG_W1_MASTER_GPIO=y
CONFIG_PCIE_KEEMBAY=y
CONFIG_ARCH_DEFAULT_KEXEC_IMAGE_VERIFY_SIG=y
CONFIG_MEN_A21_WDT=y
CONFIG_DMA_CMA=y
CONFIG_CRYPTO_SHA3=y
CONFIG_SENSORS_HMC5843_I2C=y
CONFIG_CRYPTO_RNG2=y
CONFIG_ARCH_INTEL_SOCFPGA=y
CONFIG_PAGE_SIZE_LESS_THAN_64KB=y
CONFIG_CPUSETS=y
CONFIG_PCI_DYNAMIC_OF_NODES=y
CONFIG_SENSORS_LTC4283=y
CONFIG_SERIAL_ATMEL=y
CONFIG_TTY=y
CONFIG_SLIMBUS=y
CONFIG_REGMAP=y
CONFIG_MS5611_I2C=y
CONFIG_PARAVIRT=y
CONFIG_PINCTRL_TEGRA264=y
CONFIG_ARM_TI_CPUFREQ=y
CONFIG_FSL_QDMA=y
CONFIG_HVC_DRIVER=y
CONFIG_FB_NEOMAGIC=y
CONFIG_TRACE_IRQFLAGS_NMI_SUPPORT=y
CONFIG_T5403=y
CONFIG_HVC_IRQ=y
CONFIG_MFD_MAX77843=y
CONFIG_PCI_TEGRA=y
CONFIG_RANDOMIZE_BASE=y
CONFIG_FB_SYS_FILLRECT=y
CONFIG_REGULATOR_MT6359=y
CONFIG_BH1780=y
CONFIG_JUMP_LABEL=y
CONFIG_ARM_CCI_PMU=y
CONFIG_REGMAP_SPMI=y
CONFIG_SECCOMP=y
CONFIG_XILINX_WINDOW_WATCHDOG=y
CONFIG_LEDS_88PM860X=y
CONFIG_CRYPTO_LIB_AES_CBC_MACS=y
CONFIG_SENSORS_ADT7411=y
CONFIG_COMMON_CLK_HI3798CV200=y
CONFIG_I2C_MUX_REG=y
CONFIG_COMEDI_NI_ATMIO16D=y
CONFIG_FXLS8962AF=y
CONFIG_PCI_ATS=y
CONFIG_FB_CYBER2000_DDC=y
CONFIG_EXECMEM=y
CONFIG_CC_HAS_ASM_GOTO_TIED_OUTPUT=y
CONFIG_DEFAULT_SECURITY_DAC=y
CONFIG_XZ_DEC_BCJ=y
CONFIG_GENERIC_PINMUX_FUNCTIONS=y
CONFIG_HAVE_MOD_ARCH_SPECIFIC=y
CONFIG_GENERIC_STRNCPY_FROM_USER=y
CONFIG_PAGE_MAPCOUNT=y
CONFIG_TCG_TIS=y
CONFIG_DEBUG_SECTION_MISMATCH=y
CONFIG_PHY_CADENCE_SALVO=y
CONFIG_BOSCH_BNO055_SERIAL=y
CONFIG_AD7606_IFACE_PARALLEL=y
CONFIG_GPIO_GRGPIO=y
CONFIG_LEDS_LP5860_CORE=y
CONFIG_MFD_HI655X_PMIC=y
CONFIG_SPEAKUP_SYNTH_ACNTSA=y
CONFIG_FB_SYSMEM_HELPERS=y
CONFIG_88PM886_GPADC=y
CONFIG_ARCH_DEFAULT_CRASH_DUMP=y
CONFIG_REGULATOR_MCP16502=y
CONFIG_GPIO_PCA953X=y
CONFIG_ROCKCHIP_GRF=y
CONFIG_SENSORS_LOCHNAGAR=y
CONFIG_PHY_TI_DS125DF111=y
CONFIG_SENSORS_LTC4286=y
CONFIG_SYSCON_REBOOT_MODE=y
CONFIG_PCIPCWATCHDOG=y
CONFIG_LEDS_CLASS_FLASH=y
CONFIG_REGULATOR_AD5398=y
CONFIG_CC_HAS_NO_PROFILE_FN_ATTR=y
CONFIG_ARM_MHU_V3=y
CONFIG_PHY_NXP_PTN3222=y
CONFIG_ARCH_HAS_DEBUG_VIRTUAL=y
CONFIG_CRYPTO_AEGIS128_SIMD=y
CONFIG_SENSORS_MAX1668=y
CONFIG_RTC_DRV_R7301=y
CONFIG_PHY_BRCM_USB=y
CONFIG_SENSORS_SPD5118_DETECT=y
CONFIG_IOMMU_DMA=y
CONFIG_BPF_EVENTS=y
CONFIG_REGULATOR_MAX77686=y
CONFIG_IMX_SCMI_BBM_EXT=y
CONFIG_SPEAKUP=y
CONFIG_OF_ADDRESS=y
CONFIG_MPL115=y
CONFIG_COMMON_CLK_MESON_CLKC_UTILS=y
CONFIG_EXTCON_ADC_JACK=y
CONFIG_BMA180=y
CONFIG_MENZ069_WATCHDOG=y
CONFIG_RCU_NEED_SEGCBLIST=y
CONFIG_ADXL355_I2C=y
CONFIG_VFIO_PCI=y
CONFIG_BATTERY_RT5033=y
CONFIG_RTC_DRV_MAX6900=y
CONFIG_NCT7201=y
CONFIG_SERIO_GPIO_PS2=y
CONFIG_AK8974=y
CONFIG_SENSORS_LTC2947=y
CONFIG_GPIO_CDEV=y
CONFIG_HAVE_GUP_FAST=y
CONFIG_CC_IS_GCC=y
CONFIG_LEDS_USER=y
CONFIG_SENSORS_KFAN=y
CONFIG_SENSORS_STTS751=y
CONFIG_REGULATOR_MAX8952=y
CONFIG_SENSORS_ADT7475=y
CONFIG_TSYS02D=y
CONFIG_CRYPTO_SHA256=y
CONFIG_REGULATOR_MAX77838=y
CONFIG_IIO_TRIGGERED_EVENT=y
CONFIG_CC_HAS_WORKING_NOSANITIZE_ADDRESS=y
CONFIG_TRACEFS_AUTOMOUNT_DEPRECATED=y
CONFIG_SENSORS_DA9052_ADC=y
CONFIG_HAVE_ARCH_HUGE_VMAP=y
CONFIG_QUICC_ENGINE=y
CONFIG_MC3230=y
CONFIG_MFD_MT6360=y
CONFIG_CRYPTO_SM4_GENERIC=y
CONFIG_FXAS21002C_I2C=y
CONFIG_NOTIFIER_ERROR_INJECTION=y
CONFIG_I2C_TEGRA=y
CONFIG_SECRETMEM=y
CONFIG_IQS621_ALS=y
CONFIG_SENSORS_XDPE152=y
CONFIG_ARM_SCMI_TRANSPORT_OPTEE=y
CONFIG_LIST_HARDENED=y
CONFIG_DEBUG_MISC=y
CONFIG_DECOMPRESS_LZ4=y
CONFIG_HSC030PA_I2C=y
CONFIG_SERIAL_OWL=y
CONFIG_IIO_ST_LSM6DSX=y
CONFIG_SENSORS_INA238=y
CONFIG_ARM64_WORKAROUND_REPEAT_TLBI=y
CONFIG_PWM_MAX7360=y
CONFIG_BATTERY_ACT8945A=y
CONFIG_SENSORS_LTC4245=y
CONFIG_WATCH_QUEUE=y
CONFIG_KXSD9_I2C=y
CONFIG_ARCH_HAS_GIGANTIC_PAGE=y
CONFIG_TSM_GUEST=y
CONFIG_JOYSTICK_GRIP=y
CONFIG_MFD_BD9571MWV=y
CONFIG_RCU_NOCB_CPU_DEFAULT_ALL=y
CONFIG_SPARSE_IRQ=y
CONFIG_SLAB_OBJ_EXT=y
CONFIG_POSIX_CPU_TIMERS_TASK_WORK=y
CONFIG_SERIAL_CORE_CONSOLE=y
CONFIG_CRYPTO_SIG2=y
CONFIG_VT=y
CONFIG_I2C_NFORCE2=y
CONFIG_LEDS_SYSCON=y
CONFIG_TSM_REPORTS=y
CONFIG_LEDS_PCA9532_GPIO=y
CONFIG_SENSORS_LM90=y
CONFIG_FSI_MASTER_HUB=y
CONFIG_I2C_FSI=y
CONFIG_RN5T618_ADC=y
CONFIG_MFD_ATMEL_FLEXCOM=y
CONFIG_RSEQ=y
CONFIG_PM_NOTIFIER_ERROR_INJECT=y
CONFIG_CHARGER_BD99954=y
CONFIG_MLX90632=y
CONFIG_ARM_SBSA_WATCHDOG=y
CONFIG_SENSORS_ADS7828=y
CONFIG_ARCH_SUPPORTS_CRASH_DUMP=y
CONFIG_MESON_CLK_MEASURE=y
CONFIG_PINCTRL_AW9523=y
CONFIG_REGULATOR_SKY81452=y
CONFIG_CORE_DUMP_DEFAULT_ELF_HEADERS=y
CONFIG_AK09911=y
CONFIG_RTC_DRV_M41T80=y
CONFIG_SERIAL_ALTERA_UART_CONSOLE=y
CONFIG_OID_REGISTRY=y
CONFIG_PARPORT_PC=y
CONFIG_PMIC_DA903X=y
CONFIG_PWM_ATMEL_TCB=y
CONFIG_BACKLIGHT_QCOM_WLED=y
CONFIG_DUMMY_IRQ=y
CONFIG_CRYPTO_DEV_TI_DTHEV2=y
CONFIG_CORESIGHT_CPU_DEBUG=y
CONFIG_PHY_ROCKCHIP_PCIE=y
CONFIG_COMMON_CLK_WM831X=y
CONFIG_INTERVAL_TREE_TEST=y
CONFIG_FB_3DFX_I2C=y
CONFIG_GENERIC_NET_UTILS=y
CONFIG_LEDS_RT4505=y
CONFIG_RUSTC_HAS_UNNECESSARY_TRANSMUTES=y
CONFIG_I2C_ATR=y
CONFIG_ROCKCHIP_MBOX=y
CONFIG_AL3000A=y
CONFIG_LEDS_RT8515=y
CONFIG_LEDS_TI_LMU_COMMON=y
CONFIG_BH1750=y
CONFIG_CRYPTO_HASH_INFO=y
CONFIG_HAVE_KCSAN_COMPILER=y
CONFIG_DCACHE_WORD_ACCESS=y
CONFIG_IQS624_POS=y
CONFIG_HAVE_ARCH_COMPILER_H=y
CONFIG_MEMSTICK_JMICRON_38X=y
CONFIG_NEED_TASKS_RCU=y
CONFIG_CC_HAS_KASAN_SW_TAGS=y
CONFIG_MFD_MAX77714=y
CONFIG_SENSORS_MP5023=y
CONFIG_REGULATOR_PF8X00=y
CONFIG_CRYPTO_AEAD2=y
CONFIG_SENSORS_NCT6683=y
CONFIG_CRYPTO_RSA=y
CONFIG_NVMEM_LAYOUTS=y
CONFIG_MFD_VX855=y
CONFIG_SENSORS_SY7636A=y
CONFIG_TMPFS=y
CONFIG_ARM_GIC_V2M=y
CONFIG_ARCH_HAVE_TRACE_MMIO_ACCESS=y
CONFIG_XEN_DEV_EVTCHN=y
CONFIG_PL330_DMA=y
CONFIG_PAHOLE_HAS_LANG_EXCLUDE=y
CONFIG_ARCH_SUPPORTS_NUMA_BALANCING=y
CONFIG_SENSORS_MP5920=y
CONFIG_BCM_PMB=y
CONFIG_PCI_DOMAINS=y
CONFIG_RTC_I2C_AND_SPI=y
CONFIG_TICK_CPU_ACCOUNTING=y
CONFIG_CRYPTO_AEGIS128=y
CONFIG_TI_PRUSS=y
CONFIG_IPMI_PLAT_DATA=y
CONFIG_I2C_RK3X=y
CONFIG_UACCE=y
CONFIG_FB_DEFERRED_IO=y
CONFIG_POWER_RESET_REGULATOR=y
CONFIG_LEDS_PCA955X=y
CONFIG_CRYPTO_LIB_MLDSA=y
CONFIG_OF=y
CONFIG_HAVE_FTRACE_GRAPH_FUNC=y
CONFIG_HSC030PA=y
CONFIG_BMC150_ACCEL=y
CONFIG_GENERIC_CLOCKEVENTS=y
CONFIG_RTC_DRV_DS1511=y
CONFIG_SOFTLOCKUP_DETECTOR=y
CONFIG_CRYPTO_DEV_KEEMBAY_OCS_ECC=y
CONFIG_SENSORS_SMSC47B397=y
CONFIG_LEDS_TRIGGER_GPIO=y
CONFIG_PM=y
CONFIG_CRYPTO_DEFLATE=y
CONFIG_CRYPTO_SERPENT=y
CONFIG_K3_RTI_WATCHDOG=y
CONFIG_ARM64_ERRATUM_2067961=y
CONFIG_COMEDI_MPC624=y
CONFIG_RTC_DRV_DS1689=y
CONFIG_COMEDI_ISA_DRIVERS=y
CONFIG_REGULATOR_SY8827N=y
CONFIG_CGROUP_DEVICE=y
CONFIG_PINCTRL_RP1=y
CONFIG_GAMEPORT_FM801=y
CONFIG_SERIAL_TEGRA_TCU_CONSOLE=y
CONFIG_FB_TRIDENT=y
CONFIG_BACKLIGHT_LM3639=y
CONFIG_HAVE_DYNAMIC_FTRACE=y
CONFIG_PHY_ROCKCHIP_DP=y
CONFIG_FB_RIVA=y
CONFIG_HAVE_HW_BREAKPOINT=y
CONFIG_CRC16=y
CONFIG_IIO_BACKEND=y
CONFIG_ARCH_HAS_BATCHED_DMA_SYNC=y
CONFIG_CRYPTO_GENIV=y
CONFIG_ARCH_HAS_TICK_BROADCAST=y
CONFIG_HAVE_ARCH_KFENCE=y
CONFIG_HAVE_FUNCTION_GRAPH_FREGS=y
CONFIG_ELFCORE=y
CONFIG_COMMON_CLK_BD718XX=y
CONFIG_REGULATOR_TPS51632=y
CONFIG_PHY_CADENCE_TORRENT=y
CONFIG_DEBUG_GPIO=y
CONFIG_REGULATOR_MT6323=y
CONFIG_AD7625=y
CONFIG_SENSORS_W83773G=y
CONFIG_HW_RANDOM_TIMERIOMEM=y
CONFIG_NLS_ISO8859_7=y
CONFIG_CRYPTO_DEV_CCP_CRYPTO=y
CONFIG_KUSER_HELPERS=y
CONFIG_SG_SPLIT=y
CONFIG_JSA1212=y
CONFIG_RMI4_F12=y
CONFIG_LEDS_NCP5623=y
CONFIG_SENSORS_XGENE=y
CONFIG_TCG_XEN=y
CONFIG_HAVE_PV_STEAL_CLOCK_GEN=y
CONFIG_ARCH_HAS_CURRENT_STACK_POINTER=y
CONFIG_DEBUG_FORCE_WEAK_PER_CPU=y
CONFIG_CRYPTO_LRW=y
CONFIG_SF_PDMA=y
CONFIG_PINCTRL_MAX7360=y
CONFIG_MFD_TPS6594=y
CONFIG_PINCTRL_S900=y
CONFIG_EXTCON_MAX8997=y
CONFIG_PCI_EPF_VNTB=y
CONFIG_PHY_ROCKCHIP_INNO_CSIDPHY=y
CONFIG_ARCH_SUPPORTS_KEXEC_SIG=y
CONFIG_NPCM7XX_WATCHDOG=y
CONFIG_SERIAL_CONEXANT_DIGICOLOR=y
CONFIG_I2C_HELPER_AUTO=y
CONFIG_NOP_TRACER=y
CONFIG_MISC_RP1=y
CONFIG_I2C_ARB_GPIO_CHALLENGE=y
CONFIG_IOMMU_IO_PGTABLE=y
CONFIG_HAVE_CLK=y
CONFIG_OPTEE_INSECURE_LOAD_IMAGE=y
CONFIG_CEC_NOTIFIER=y
CONFIG_DPOT_DAC=y
CONFIG_SX9310=y
CONFIG_XENFS=y
CONFIG_PCIE_AMD_MDB=y
CONFIG_REGULATOR_RT5190A=y
CONFIG_SENSORS_INSPUR_IPSPS=y
CONFIG_ARM_MHU_V2=y
CONFIG_GPIO_WAVESHARE_DSI_TOUCH=y
CONFIG_SENSORS_LIS3_I2C=y
CONFIG_MFD_RT5120=y
CONFIG_VFIO_IOMMU_TYPE1=y
CONFIG_COMEDI_TESTS=y
CONFIG_TPS65010=y
CONFIG_I2C_AMD756=y
CONFIG_LEDS_BCM6328=y
CONFIG_ROCKCHIP_IODOMAIN=y
CONFIG_POWER_RESET_MT6323=y
CONFIG_SENSORS_GL518SM=y
CONFIG_SERIAL_SC16IS7XX_I2C=y
CONFIG_COMEDI=y
CONFIG_NLS_CODEPAGE_1250=y
CONFIG_GROUP_SCHED_WEIGHT=y
CONFIG_PHY_ROCKCHIP_EMMC=y
CONFIG_VIDEO=y
CONFIG_HW_RANDOM_XIPHERA=y
CONFIG_ARM_FFA_TRANSPORT=y
CONFIG_ROCKCHIP_ERRATUM_3588001=y
CONFIG_CRC_ITU_T=y
CONFIG_REGULATOR_RT5120=y
CONFIG_REGULATOR_RT4801=y
CONFIG_HISILICON_LPC=y
CONFIG_SENSORS_GPIO_FAN=y
CONFIG_STANDALONE=y
CONFIG_EXTCON=y
CONFIG_CGROUPS=y
CONFIG_ARCH_HISI=y
CONFIG_FAIR_GROUP_SCHED=y
CONFIG_EXTCON_MAX14526=y
CONFIG_SENSORS_MP2993=y
CONFIG_MESON_SARADC=y
CONFIG_ARCH_HAS_CPU_CACHE_INVALIDATE_MEMREGION=y
CONFIG_INTEL_TH_DEBUG=y
CONFIG_RING_BUFFER_VALIDATE_TIME_DELTAS=y
CONFIG_MFD_MAX77686=y
CONFIG_ARM_SCMI_NEED_DEBUGFS=y
CONFIG_BACKLIGHT_MP3309C=y
CONFIG_MFD_MADERA_I2C=y
CONFIG_NLS_KOI8_U=y
CONFIG_HAVE_ARCH_THREAD_STRUCT_WHITELIST=y
CONFIG_RTC_NVMEM=y
CONFIG_ARM_SCMI_POWERCAP=y
CONFIG_I2C_ALGOBIT=y
CONFIG_RTC_LIB=y
CONFIG_FB_CYBER2000=y
CONFIG_HAVE_IRQ_TIME_ACCOUNTING=y
CONFIG_COMEDI_AMPLC_DIO200_ISA=y
CONFIG_REGULATOR_MAX77541=y
CONFIG_PCI_QUIRKS=y
CONFIG_HISI_DMA=y
CONFIG_CRYPTO_BLOWFISH=y
CONFIG_BCMA_DRIVER_GMAC_CMN=y
CONFIG_I2C_TAOS_EVM=y
CONFIG_HAVE_ARCH_AUDITSYSCALL=y
CONFIG_HAVE_GCC_PLUGINS=y
CONFIG_SENSORS_I5K_AMB=y
CONFIG_REGMAP_MMIO=y
CONFIG_BACKLIGHT_AW99706=y
CONFIG_CRYPTO_LIB_POLY1305_ARCH=y
CONFIG_ARM64_ERRATUM_3194386=y
CONFIG_PCI_EPF_NTB=y
CONFIG_CGROUP_SCHED=y
CONFIG_PCIEASPM=y
CONFIG_GPIO_MADERA=y
CONFIG_RMI4_F1A=y
CONFIG_HAVE_KRETPROBES=y
CONFIG_SENSORS_TSL2563=y
CONFIG_SENSORS_STEF48H28=y
CONFIG_CC_HAS_AUTO_VAR_INIT_PATTERN=y
CONFIG_DTPM=y
CONFIG_FB_CIRRUS=y
CONFIG_ARM_ARCH_TIMER=y
CONFIG_W1_SLAVE_DS2430=y
CONFIG_PCIE_KIRIN=y
CONFIG_PHY_INTEL_KEEMBAY_EMMC=y
CONFIG_MFD_88PM800=y
CONFIG_ATLAS_PH_SENSOR=y
CONFIG_REGULATOR_PALMAS=y
CONFIG_CPU_LITTLE_ENDIAN=y
CONFIG_ARM_TSTEE=y
CONFIG_PM_CLK=y
CONFIG_PERF_EVENTS=y
CONFIG_RANDOM32_SELFTEST=y
CONFIG_ARCH_NPCM=y
CONFIG_INV_MPU6050_IIO=y
CONFIG_ARCH_K3=y
CONFIG_LEDS_ADP5520=y
CONFIG_BACKLIGHT_LM3533=y
CONFIG_POWER_RESET_HISI=y
CONFIG_INTERVAL_TREE=y
CONFIG_PINCTRL_MAX77620=y
CONFIG_SMP=y
CONFIG_GPIO_MAX77759=y
