CONFIG_I3C_OR_I2C=n
CONFIG_X86_IO_APIC=n
CONFIG_MITIGATION_MDS=n
CONFIG_ETHERNET=n
CONFIG_CRYPTO_AUTHENC=n
CONFIG_HAVE_PREEMPT_DYNAMIC=n
CONFIG_SND_VERBOSE_PROCFS=n
CONFIG_HID=n
CONFIG_HAS_IOMEM=n
CONFIG_ACPI_DEBUG=n
CONFIG_ARCH_VMLINUX_NEEDS_RELOCS=n
CONFIG_CPU_RMAP=n
CONFIG_FS_POSIX_ACL=n
CONFIG_MOUSE_PS2_FOCALTECH=n
CONFIG_PCI_DIRECT=n
CONFIG_ARCH_SUPPORTS_LTO_CLANG=n
CONFIG_CRASH_DUMP=n
CONFIG_RPCSEC_GSS_KRB5=n
CONFIG_DRM_I915_COMPRESS_ERROR=n
CONFIG_GENERIC_IRQ_MIGRATION=n
CONFIG_CALL_PADDING=n
CONFIG_ARCH_HAS_CURRENT_STACK_POINTER=n
CONFIG_RWSEM_SPIN_ON_OWNER=n
CONFIG_CC_CAN_LINK=n
CONFIG_ACPI_CPPC_LIB=n
CONFIG_RTC_INTF_SYSFS=n
CONFIG_PTP_1588_CLOCK_VMCLOCK=n
CONFIG_USB_EHCI_HCD=n
CONFIG_SCSI_DMA=n
CONFIG_HYPERVISOR_GUEST=n
CONFIG_CPU_SUP_AMD=n
CONFIG_HAVE_UNSTABLE_SCHED_CLOCK=n
CONFIG_GLOB=n
CONFIG_DRM_I915=n
CONFIG_PCI_QUIRKS=n
CONFIG_STACKDEPOT=n
CONFIG_8139TOO_PIO=n
CONFIG_NETFILTER_NETLINK_LOG=n
CONFIG_SND_PCI=n
CONFIG_RFKILL_LEDS=n
CONFIG_GENERIC_IRQ_EFFECTIVE_AFF_MASK=n
CONFIG_ARCH_ENABLE_HUGEPAGE_MIGRATION=n
CONFIG_DMA_ENGINE=n
CONFIG_SND=n
CONFIG_ARCH_HAS_DEBUG_VM_PGTABLE=n
CONFIG_MOUSE_PS2_SYNAPTICS=n
CONFIG_INTEGRITY=n
CONFIG_SND_HRTIMER=n
CONFIG_CPUSETS=n
CONFIG_GENERIC_PCI_IOMAP=n
CONFIG_XZ_DEC_SPARC=n
CONFIG_I2C_I801=n
CONFIG_CRYPTO_LIB_SHA256=n
CONFIG_IRQ_FORCED_THREADING=n
CONFIG_SCHED_INFO=n
CONFIG_ACPI_BGRT=n
CONFIG_WATCHDOG_HANDLE_BOOT_ENABLED=n
CONFIG_CARDBUS=n
CONFIG_CGROUPS=n
CONFIG_DEBUG_FS=n
CONFIG_ARCH_SPARSEMEM_ENABLE=n
CONFIG_SND_SEQ_HRTIMER_DEFAULT=n
CONFIG_COMPAT=n
CONFIG_STRICT_KERNEL_RWX=n
CONFIG_RFKILL_INPUT=n
CONFIG_GENERIC_SMP_IDLE_THREAD=n
CONFIG_HAVE_ARCH_MMAP_RND_COMPAT_BITS=n
CONFIG_UTS_NS=n
CONFIG_WLAN_VENDOR_ZYDAS=n
CONFIG_VMAP_PFN=n
CONFIG_SECCOMP=n
CONFIG_ARCH_HAS_NONLEAF_PMD_YOUNG=n
CONFIG_CFG80211_REQUIRE_SIGNED_REGDB=n
CONFIG_INTERVAL_TREE=n
CONFIG_NVRAM=n
CONFIG_GENERIC_PT=n
CONFIG_HOTPLUG_PARALLEL=n
CONFIG_PREEMPT_BUILD=n
CONFIG_WLAN_VENDOR_MARVELL=n
CONFIG_HAVE_ACPI_APEI=n
CONFIG_DNS_RESOLVER=n
CONFIG_RUSTC_HAS_UNNECESSARY_TRANSMUTES=n
CONFIG_X86_REQUIRED_FEATURE_CPUID=n
CONFIG_MMU=n
CONFIG_DEVTMPFS_MOUNT=n
CONFIG_PAGE_SIZE_LESS_THAN_256KB=n
CONFIG_X86_HV_CALLBACK_VECTOR=n
CONFIG_X86_IOPL_IOPERM=n
CONFIG_X86_VSYSCALL_EMULATION=n
CONFIG_HAVE_SYSCALL_TRACEPOINTS=n
CONFIG_WLAN_VENDOR_QUANTENNA=n
CONFIG_POSIX_CPU_TIMERS_TASK_WORK=n
CONFIG_NETFILTER_NETLINK=n
CONFIG_UNIX98_PTYS=n
CONFIG_AMD_NUMA=n
CONFIG_UNINLINE_SPIN_UNLOCK=n
CONFIG_CRYPTO_LIB_UTILS=n
CONFIG_HAVE_NOINSTR_HACK=n
CONFIG_MOUSE_PS2=n
CONFIG_HAVE_KERNEL_LZ4=n
CONFIG_ARCH_USE_BUILTIN_BSWAP=n
CONFIG_NF_LOG_ARP=n
CONFIG_XXHASH=n
CONFIG_INITRAMFS_PRESERVE_MTIME=n
CONFIG_X86_REQUIRED_FEATURE_PGE=n
CONFIG_IOMMU_SVA=n
CONFIG_PAGE_POOL=n
CONFIG_CRYPTO_HW=n
CONFIG_ARCH_SUPPORTS_DEBUG_PAGEALLOC=n
CONFIG_ARCH_CONFIGURES_CPU_MITIGATIONS=n
CONFIG_IP_ROUTE_VERBOSE=n
CONFIG_DECOMPRESS_XZ=n
CONFIG_SERIAL_8250_PERICOM=n
CONFIG_GENERIC_EARLY_IOREMAP=n
CONFIG_GPU_BUDDY=n
CONFIG_P2SB=n
CONFIG_POSIX_MQUEUE_SYSCTL=n
CONFIG_PTP_1588_CLOCK_OPTIONAL=n
CONFIG_JBD2=n
CONFIG_HAVE_EBPF_JIT=n
CONFIG_CRYPTO_KRB5=n
CONFIG_NEED_SG_DMA_FLAGS=n
CONFIG_ARCH_HIBERNATION_POSSIBLE=n
CONFIG_CRYPTO_CAMELLIA=n
CONFIG_HAVE_REGS_AND_STACK_ACCESS_API=n
CONFIG_SECTION_MISMATCH_WARN_ONLY=n
CONFIG_FHANDLE=n
CONFIG_SERIO_I8042=n
CONFIG_ZISOFS=n
CONFIG_AUDIT_ARCH=n
CONFIG_MAILBOX=n
CONFIG_TRACEPOINTS=n
CONFIG_HAVE_INTEL_TXT=n
CONFIG_ATA_VERBOSE_ERROR=n
CONFIG_NET_VENDOR_MARVELL=n
CONFIG_GENERIC_STRNCPY_FROM_USER=n
CONFIG_ARCH_HAS_PREEMPT_LAZY=n
CONFIG_ARCH_USE_MEMREMAP_PROT=n
CONFIG_NET_VENDOR_SAMSUNG=n
CONFIG_NET_VENDOR_LITEX=n
CONFIG_HAVE_HARDLOCKUP_DETECTOR_BUDDY=n
CONFIG_SGL_ALLOC=n
CONFIG_SND_HDA_COMPONENT=n
CONFIG_DRM=n
CONFIG_X86_REQUIRED_FEATURE_LM=n
CONFIG_COMPAT_OLD_SIGACTION=n
CONFIG_TASKSTATS=n
CONFIG_QUEUED_RWLOCKS=n
CONFIG_DRM_DISPLAY_HDMI_HELPER=n
CONFIG_GENERIC_VDSO_OVERFLOW_PROTECT=n
CONFIG_PATA_SCH=n
CONFIG_RTC_SYSTOHC=n
CONFIG_CRYPTO_CMAC=n
CONFIG_NET_VENDOR_SIS=n
CONFIG_ARCH_HAS_FAST_MULTIPLIER=n
CONFIG_PKCS7_MESSAGE_PARSER=n
CONFIG_HAVE_KERNEL_GZIP=n
CONFIG_JUMP_LABEL=n
CONFIG_ARCH_SUPPORTS_INT128=n
CONFIG_USER_STACKTRACE_SUPPORT=n
CONFIG_NETWORK_FILESYSTEMS=n
CONFIG_PNPACPI=n
CONFIG_CGROUP_NET_CLASSID=n
CONFIG_HAVE_PV_STEAL_CLOCK_GEN=n
CONFIG_SND_PCM_TIMER=n
CONFIG_DMIID=n
CONFIG_DEBUG_WX=n
CONFIG_WLAN_VENDOR_SILABS=n
CONFIG_PM_SLEEP=n
CONFIG_MITIGATION_TAA=n
CONFIG_FUTEX=n
CONFIG_RD_LZMA=n
CONFIG_ARCH_HAS_STRICT_MODULE_RWX=n
CONFIG_I2C_HELPER_AUTO=n
CONFIG_HAVE_FENTRY=n
CONFIG_EXT4_FS_SECURITY=n
CONFIG_ACPI_WMI=n
CONFIG_HAVE_GUP_FAST=n
CONFIG_SND_HDA_INTEL=n
CONFIG_ARCH_CLOCKSOURCE_INIT=n
CONFIG_NET_VENDOR_ALIBABA=n
CONFIG_HAVE_FUNCTION_ARG_ACCESS_API=n
CONFIG_NETFILTER_XT_MARK=n
CONFIG_CC_HAS_ASM_GOTO_TIED_OUTPUT=n
CONFIG_HID_SONY=n
CONFIG_AGP=n
CONFIG_SYN_COOKIES=n
CONFIG_ARCH_SUPPORTS_SCHED_MC=n
CONFIG_CPU_SUP_HYGON=n
CONFIG_ACPI_SLEEP=n
CONFIG_MITIGATION_RFDS=n
CONFIG_ACPI_HOTPLUG_IOAPIC=n
CONFIG_SND_HDA_I915=n
CONFIG_SIGNALFD=n
CONFIG_NETFILTER_XT_MATCH_CONNTRACK=n
CONFIG_MODULE_UNLOAD=n
CONFIG_EFI_CUSTOM_SSDT_OVERLAYS=n
CONFIG_ARCH_HAVE_EXTRA_ELF_NOTES=n
CONFIG_HAVE_ARCH_MMAP_RND_BITS=n
CONFIG_HAVE_EFFICIENT_UNALIGNED_ACCESS=n
CONFIG_SECURITY_SELINUX=n
CONFIG_X86_UMIP=n
CONFIG_EEPROM_93CX6=n
CONFIG_ARCH_HAS_MEMBARRIER_SYNC_CORE=n
CONFIG_VIRTIO_PCI_ADMIN_LEGACY=n
CONFIG_HIBERNATION=n
CONFIG_MITIGATION_GDS=n
CONFIG_TCP_CONG_ADVANCED=n
CONFIG_NETFILTER_XT_TARGET_TCPMSS=n
CONFIG_CPU_FREQ_GOV_ONDEMAND=n
CONFIG_ARCH_SUPPORTS_KEXEC_FILE=n
CONFIG_TCP_CONG_CUBIC=n
CONFIG_HAVE_ARCH_KGDB=n
CONFIG_I2C_HID=n
CONFIG_LOCKDEP_SUPPORT=n
CONFIG_TRACE_CLOCK=n
CONFIG_SOCK_RX_QUEUE_MAPPING=n
CONFIG_TASK_DELAY_ACCT=n
CONFIG_NO_HZ_COMMON=n
CONFIG_RCU_STALL_COMMON=n
CONFIG_X86_DIRECT_GBPAGES=n
CONFIG_BROADCAST_TLB_FLUSH=n
CONFIG_ZONE_DMA=n
CONFIG_PCI_LOCKLESS_CONFIG=n
CONFIG_ARCH_WANT_OPTIMIZE_DAX_VMEMMAP=n
CONFIG_NET_VENDOR_FUNGIBLE=n
CONFIG_X86_REQUIRED_FEATURE_NOPL=n
CONFIG_CRYPTO_LZO=n
CONFIG_NET_VENDOR_8390=n
CONFIG_DEBUG_STACK_USAGE=n
CONFIG_ARCH_WANTS_DYNAMIC_TASK_STRUCT=n
CONFIG_GENERIC_NET_UTILS=n
CONFIG_MSDOS_PARTITION=n
CONFIG_SCHEDSTATS=n
CONFIG_PM_TRACE=n
CONFIG_TASKS_TRACE_RCU=n
CONFIG_PCC=n
CONFIG_NETDEVICES=n
CONFIG_EPOLL=n
CONFIG_X86_THERMAL_VECTOR=n
CONFIG_USB_PCI=n
CONFIG_LD_ORPHAN_WARN=n
CONFIG_X86_DISABLED_FEATURE_SEV_SNP=n
CONFIG_X86_REQUIRED_FEATURE_FXSR=n
CONFIG_DMI_SCAN_MACHINE_NON_EFI_FALLBACK=n
CONFIG_NET_VENDOR_ADAPTEC=n
CONFIG_MODULES_TREE_LOOKUP=n
CONFIG_ARCH_SUSPEND_POSSIBLE=n
CONFIG_COMPACTION=n
CONFIG_TRACEFS_AUTOMOUNT_DEPRECATED=n
CONFIG_DRM_GEM_SHMEM_HELPER=n
CONFIG_INTEL_MEI_ME=n
CONFIG_RETHOOK=n
CONFIG_SND_PCMCIA=n
CONFIG_GCC_NO_STRINGOP_OVERFLOW=n
CONFIG_GENERIC_CPU_VULNERABILITIES=n
CONFIG_NET_9P_FD=n
CONFIG_HAVE_ARCH_JUMP_LABEL_RELATIVE=n
CONFIG_HAVE_STATIC_CALL=n
CONFIG_HAVE_ARCH_KSTACK_ERASE=n
CONFIG_NET_VENDOR_QUALCOMM=n
CONFIG_SERIAL_8250_CONSOLE=n
CONFIG_VIRTIO_PCI_LIB=n
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_JMP=n
CONFIG_CC_IS_GCC=n
CONFIG_CPU_FREQ_GOV_ATTR_SET=n
CONFIG_SPARSE_IRQ=n
CONFIG_INPUT_LEDS=n
CONFIG_NET_INGRESS=n
CONFIG_HAVE_UID16=n
CONFIG_UNIX=n
CONFIG_COMPAT_BINFMT_ELF=n
CONFIG_HAVE_KERNEL_XZ=n
CONFIG_SERIAL_8250_DETECT_IRQ=n
CONFIG_SCHED_MM_CID=n
CONFIG_CC_HAS_AUTO_VAR_INIT_PATTERN=n
CONFIG_VIRTIO_PCI_LEGACY=n
CONFIG_ARCH_HAS_ELFCORE_COMPAT=n
CONFIG_USB_ARCH_HAS_HCD=n
CONFIG_PREEMPT_RCU=n
CONFIG_CGROUP_PERF=n
CONFIG_HAVE_VIRT_CPU_ACCOUNTING_GEN=n
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE=n
CONFIG_ACPI=n
CONFIG_SERIAL_8250=n
CONFIG_VM_EVENT_COUNTERS=n
CONFIG_CRYPTO_ACOMP2=n
CONFIG_SND_HDA=n
CONFIG_SOUND=n
CONFIG_BLK_DEV_WRITE_MOUNTED=n
CONFIG_SERIAL_8250_LPSS=n
CONFIG_X86_PAT=n
CONFIG_RD_XZ=n
CONFIG_IRQ_MSI_LIB=n
CONFIG_CPU_ISOLATION=n
CONFIG_X86_64_ACPI_NUMA=n
CONFIG_LOCKD_V4=n
CONFIG_PCIE_PME=n
CONFIG_ARCH_HAVE_NMI_SAFE_CMPXCHG=n
CONFIG_SKY2=n
