CONFIG_IP_ROUTE_VERBOSE=n
CONFIG_NEED_PER_CPU_EMBED_FIRST_CHUNK=n
CONFIG_LOCK_MM_AND_FIND_VMA=n
CONFIG_NF_DEFRAG_IPV4=n
CONFIG_RCU_TRACE=n
CONFIG_PCI_LOCKLESS_CONFIG=n
CONFIG_NET_VENDOR_GOOGLE=n
CONFIG_NET_DEVMEM=n
CONFIG_EXCLUSIVE_SYSTEM_RAM=n
CONFIG_ACPI_I2C_OPREGION=n
CONFIG_HAVE_IRQ_EXIT_ON_IRQ_STACK=n
CONFIG_IRQ_FORCED_THREADING=n
CONFIG_ARCH_HAS_CPU_CACHE_INVALIDATE_MEMREGION=n
CONFIG_UNIX=n
CONFIG_GENERIC_IRQ_MIGRATION=n
CONFIG_ARCH_HAS_COPY_MC=n
CONFIG_HAVE_KCSAN_COMPILER=n
CONFIG_CPU_IDLE_GOV_MENU=n
CONFIG_BITREVERSE=n
CONFIG_DRM_TTM=n
CONFIG_INET_TUNNEL=n
CONFIG_CC_HAS_ASM_GOTO_TIED_OUTPUT=n
CONFIG_GENERIC_GETTIMEOFDAY=n
CONFIG_X86_REQUIRED_FEATURE_NOPL=n
CONFIG_PATA_TIMINGS=n
CONFIG_CPU_ISOLATION=n
CONFIG_HID_SAMSUNG=n
CONFIG_X86_DISABLED_FEATURE_LAM=n
CONFIG_NVMEM_SYSFS=n
CONFIG_AMD_NB=n
CONFIG_SERIO_I8042=n
CONFIG_TIME_NS=n
CONFIG_VIRTIO_PCI=n
CONFIG_ARCH_HAS_UBSAN=n
CONFIG_INOTIFY_USER=n
CONFIG_SCSI_DMA=n
CONFIG_CPU_SUP_CENTAUR=n
CONFIG_AS_HAS_NON_CONST_ULEB128=n
CONFIG_MD_AUTODETECT=n
CONFIG_MICROCODE=n
CONFIG_CC_HAS_AUTO_VAR_INIT_PATTERN=n
CONFIG_X86_REQUIRED_FEATURE_PGE=n
CONFIG_HUGETLB_PAGE=n
CONFIG_USB_EHCI_HCD=n
CONFIG_NETFILTER_XT_TARGET_MASQUERADE=n
CONFIG_SECURITY_SELINUX_AVC_STATS=n
CONFIG_NF_LOG_ARP=n
CONFIG_NET_VENDOR_ADAPTEC=n
CONFIG_IOMMU_DEFAULT_DMA_LAZY=n
CONFIG_ACPI_DEBUG=n
CONFIG_CRYPTO_LIB_MD5=n
CONFIG_PCI_LABEL=n
CONFIG_CC_HAS_COUNTED_BY=n
CONFIG_XZ_DEC_ARMTHUMB=n
CONFIG_NETFILTER_XT_MATCH_STATE=n
CONFIG_CRASH_RESERVE=n
CONFIG_ATA_ACPI=n
CONFIG_8139TOO_PIO=n
CONFIG_NET_VENDOR_STMICRO=n
CONFIG_PERF_EVENTS=n
CONFIG_ARCH_SUPPORTS_KEXEC_JUMP=n
CONFIG_EDAC_SUPPORT=n
CONFIG_INPUT=n
CONFIG_WLAN_VENDOR_INTERSIL=n
CONFIG_LD_ORPHAN_WARN=n
CONFIG_NF_LOG_SYSLOG=n
CONFIG_I2C_HELPER_AUTO=n
CONFIG_X86_CMOV=n
CONFIG_PCI_PRI=n
CONFIG_MODULE_FORCE_UNLOAD=n
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_ARGS=n
CONFIG_ARCH_WANTS_CLOCKSOURCE_READ_INLINE=n
CONFIG_INITRAMFS_PRESERVE_MTIME=n
CONFIG_BINARY_PRINTF=n
CONFIG_PCCARD=n
CONFIG_MITIGATION_IBRS_ENTRY=n
CONFIG_INTEL_IOMMU_SCALABLE_MODE_DEFAULT_ON=n
CONFIG_EARLY_PRINTK_DBGP=n
CONFIG_EFI_ESRT=n
CONFIG_ACPI_WMI=n
CONFIG_VIRTIO_NET=n
CONFIG_SERIAL_8250_MANY_PORTS=n
CONFIG_NET_9P=n
CONFIG_LEDS_TRIGGERS=n
CONFIG_MITIGATION_SPECTRE_BHI=n
CONFIG_VIRTIO_ANCHOR=n
CONFIG_HAVE_EBPF_JIT=n
CONFIG_CFG80211_DEFAULT_PS=n
CONFIG_ARCH_SUPPORTS_PER_VMA_LOCK=n
CONFIG_USB_OHCI_HCD=n
CONFIG_ARCH_HAS_PKEYS=n
CONFIG_I2C_BOARDINFO=n
CONFIG_CRYPTO_LIB_GF128HASH=n
CONFIG_IPV6_SIT=n
CONFIG_SND_HRTIMER=n
CONFIG_INTERVAL_TREE=n
CONFIG_HAVE_FUNCTION_TRACER=n
CONFIG_ACPI_LEGACY_TABLES_LOOKUP=n
CONFIG_ARCH_USE_CMPXCHG_LOCKREF=n
CONFIG_VMAP_STACK=n
CONFIG_HAVE_STACK_VALIDATION=n
CONFIG_IOMMU_SVA=n
CONFIG_ARCH_SUPPORTS_KEXEC_HANDOVER=n
CONFIG_NETWORK_SECMARK=n
CONFIG_MITIGATION_SPECTRE_V1=n
CONFIG_ARCH_SUSPEND_POSSIBLE=n
CONFIG_INPUT_MISC=n
CONFIG_PAGE_COUNTER=n
CONFIG_NET_VENDOR_VIA=n
CONFIG_DRM=n
CONFIG_NF_CONNTRACK_SIP=n
CONFIG_FIB_RULES=n
CONFIG_NF_NAT_FTP=n
CONFIG_PER_VMA_LOCK=n
CONFIG_PAGE_POOL=n
CONFIG_NET_CORE=n
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO=n
CONFIG_PROC_PID_ARCH_STATUS=n
CONFIG_WATCHDOG=n
CONFIG_NET_VENDOR_META=n
CONFIG_DW_DMAC_CORE=n
CONFIG_HAVE_GIGANTIC_FOLIOS=n
CONFIG_EVENT_TRACING=n
CONFIG_ELF_CORE=n
CONFIG_GCC10_NO_ARRAY_BOUNDS=n
CONFIG_GENERIC_STRNCPY_FROM_USER=n
CONFIG_VT=n
CONFIG_ARCH_HAS_PTDUMP=n
CONFIG_NET_VENDOR_SUN=n
CONFIG_CARDBUS=n
CONFIG_USB_NET_DRIVERS=n
CONFIG_YENTA=n
CONFIG_SCREEN_INFO=n
CONFIG_STANDALONE=n
CONFIG_HAVE_CMPXCHG_LOCAL=n
CONFIG_ACPI_THERMAL=n
CONFIG_ARCH_SUPPORTS_CRASH_DUMP=n
CONFIG_LDISC_AUTOLOAD=n
CONFIG_CRYPTO_LZ4=n
CONFIG_HAVE_ARCH_MMAP_RND_COMPAT_BITS=n
CONFIG_FREEZER=n
CONFIG_ARCH_HAS_DEBUG_VIRTUAL=n
CONFIG_GCC_NO_STRINGOP_OVERFLOW=n
CONFIG_MMCONF_FAM10H=n
CONFIG_BLOCK=n
CONFIG_CRYPTO_LIB_AES_ARCH=n
CONFIG_EXPORTFS=n
CONFIG_SOUND=n
CONFIG_SATA_AHCI=n
CONFIG_ZSTD_COMMON=n
CONFIG_SERIAL_8250_PERICOM=n
CONFIG_MITIGATION_TSA=n
CONFIG_ARCH_USES_HIGH_VMA_FLAGS=n
CONFIG_X86_VMX_FEATURE_NAMES=n
CONFIG_ARCH_HAS_MEMBARRIER_SYNC_CORE=n
CONFIG_TIMERFD=n
CONFIG_NET_VENDOR_XILINX=n
CONFIG_IA32_FEAT_CTL=n
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE=n
CONFIG_VGA_CONSOLE=n
CONFIG_PATA_AMD=n
CONFIG_NET_VENDOR_MUCSE=n
CONFIG_NO_HZ=n
CONFIG_DRM_MIPI_DSI=n
CONFIG_CRYPTO_LIB_AES_CBC_MACS=n
CONFIG_CPU_FREQ_GOV_ATTR_SET=n
CONFIG_ETHERNET=n
CONFIG_HPET_TIMER=n
CONFIG_MMU_LAZY_TLB_REFCOUNT=n
CONFIG_SCHED_MM_CID=n
CONFIG_HAVE_VIRT_CPU_ACCOUNTING_GEN=n
CONFIG_SERIAL_8250_DWLIB=n
CONFIG_SECURITY=n
CONFIG_CONTEXT_TRACKING_IDLE=n
CONFIG_SND_PROC_FS=n
CONFIG_DEBUG_DEVRES=n
CONFIG_HAVE_ARCH_MMAP_RND_BITS=n
CONFIG_ARCH_SUPPORTS_PAGE_TABLE_CHECK=n
CONFIG_RCU_NEED_SEGCBLIST=n
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO_BARE=n
CONFIG_NF_CONNTRACK_IRC=n
CONFIG_VIRTIO_PCI_ADMIN_LEGACY=n
CONFIG_E100=n
CONFIG_NETFILTER_XT_MATCH_CONNTRACK=n
CONFIG_PCIE_PME=n
CONFIG_HAVE_ARCH_HUGE_VMALLOC=n
CONFIG_SND_INTEL_SOUNDWIRE_ACPI=n
CONFIG_PAGE_SIZE_LESS_THAN_64KB=n
CONFIG_X86_HAVE_PAE=n
CONFIG_HAVE_SETUP_PER_CPU_AREA=n
CONFIG_ARCH_HAS_CACHE_LINE_SIZE=n
CONFIG_X86_PLATFORM_DEVICES=n
CONFIG_BACKLIGHT_CLASS_DEVICE=n
CONFIG_MMU_GATHER_RCU_TABLE_FREE=n
CONFIG_NET_VENDOR_RDC=n
CONFIG_SND_VERBOSE_PROCFS=n
CONFIG_PCI=n
CONFIG_DMA_NEED_SYNC=n
CONFIG_HAVE_GUP_FAST=n
CONFIG_RD_LZMA=n
CONFIG_PNFS_FLEXFILE_LAYOUT=n
CONFIG_IP_PNP_BOOTP=n
CONFIG_NET_VENDOR_XIRCOM=n
CONFIG_ARCH_HAS_CPU_FINALIZE_INIT=n
CONFIG_CPU_SUP_HYGON=n
CONFIG_HOTPLUG_CORE_SYNC_DEAD=n
CONFIG_CPUFREQ_ARCH_CUR_FREQ=n
CONFIG_GENERIC_CALIBRATE_DELAY=n
CONFIG_SND_USB=n
CONFIG_HAVE_ARCH_KFENCE=n
CONFIG_SND_JACK_INPUT_DEV=n
CONFIG_ACPI_HOTPLUG_IOAPIC=n
CONFIG_FS_IOMAP=n
CONFIG_OID_REGISTRY=n
CONFIG_JBD2=n
CONFIG_EFI_DXE_MEM_ATTRIBUTES=n
CONFIG_NET_SELFTESTS=n
CONFIG_IP6_NF_MATCH_IPV6HEADER=n
CONFIG_CPU_FREQ_GOV_ONDEMAND=n
CONFIG_SCSI_COMMON=n
CONFIG_SND_HDA=n
CONFIG_PCI_MSI=n
CONFIG_NET_VENDOR_PENSANDO=n
CONFIG_USB_EHCI_TT_NEWSCHED=n
CONFIG_GENERIC_CLOCKEVENTS_MIN_ADJUST=n
CONFIG_EXT4_FS=n
CONFIG_EEPROM_93CX6=n
CONFIG_ARCH_WANT_HUGE_PMD_SHARE=n
CONFIG_BLK_MQ_STACKING=n
CONFIG_PROC_MEM_FORCE_PTRACE=n
CONFIG_HID_PANTHERLORD=n
CONFIG_RANDOMIZE_KSTACK_OFFSET=n
CONFIG_BLK_RQ_ALLOC_TIME=n
CONFIG_CFG80211_CRDA_SUPPORT=n
CONFIG_HID=n
CONFIG_MITIGATION_L1TF=n
CONFIG_PCC=n
CONFIG_NOP_TRACER=n
CONFIG_HAVE_KERNEL_GZIP=n
CONFIG_SPARSEMEM_VMEMMAP=n
CONFIG_ARCH_HAS_KCOV=n
CONFIG_X86_DISABLED_FEATURE_USER_SHSTK=n
CONFIG_X86_REQUIRED_FEATURE_MSR=n
CONFIG_ATA_FORCE=n
CONFIG_XARRAY_MULTI=n
CONFIG_DRM_CLIENT_SELECTION=n
CONFIG_X86_REQUIRED_FEATURE_PAE=n
CONFIG_X86_DISABLED_FEATURE_XENPV=n
CONFIG_BLK_DEV_DM_BUILTIN=n
CONFIG_HAVE_FUTEX_ROBUST_UNLOCK=n
CONFIG_X86_REQUIRED_FEATURE_CX8=n
CONFIG_MITIGATION_RETBLEED=n
CONFIG_X86_DISABLED_FEATURE_K6_MTRR=n
CONFIG_RTC_DRV_CMOS=n
CONFIG_CC_HAS_WORKING_NOSANITIZE_ADDRESS=n
CONFIG_CRC_CCITT=n
CONFIG_GENERIC_SMP_IDLE_THREAD=n
CONFIG_ARCH_HAS_HW_PTE_YOUNG=n
CONFIG_ARCH_MIGHT_HAVE_ACPI_PDC=n
CONFIG_MITIGATION_MMIO_STALE_DATA=n
CONFIG_NF_NAT_MASQUERADE=n
CONFIG_SERIAL_CORE_CONSOLE=n
CONFIG_IP_MULTIPLE_TABLES=n
CONFIG_PCMCIA=n
CONFIG_SUSPEND_FREEZER=n
CONFIG_E1000E=n
CONFIG_EPOLL=n
CONFIG_ACPI_PRMT=n
CONFIG_IPV6_NDISC_NODETYPE=n
CONFIG_PREEMPT_LAZY=n
CONFIG_MOUSE_PS2_BYD=n
CONFIG_EEEPC_LAPTOP=n
CONFIG_BUFFER_HEAD=n
CONFIG_CC_HAS_SLS=n
CONFIG_MAC80211_HAS_RC=n
CONFIG_GENERIC_IRQ_MATRIX_ALLOCATOR=n
CONFIG_LOCK_SPIN_ON_OWNER=n
CONFIG_NLS_ISO8859_1=n
CONFIG_X86_VSYSCALL_EMULATION=n
CONFIG_USB_STORAGE=n
CONFIG_PAGE_MAPCOUNT=n
CONFIG_APERTURE_HELPERS=n
CONFIG_TICK_CPU_ACCOUNTING=n
CONFIG_HAVE_CONTEXT_TRACKING_USER_OFFSTACK=n
CONFIG_SND_SEQ_HRTIMER_DEFAULT=n
CONFIG_RD_LZO=n
CONFIG_HAVE_PV_STEAL_CLOCK_GEN=n
CONFIG_NET_9P_VIRTIO=n
CONFIG_SERIAL_8250_DMA=n
CONFIG_MEMBARRIER=n
CONFIG_EFI_RUNTIME_WRAPPERS=n
CONFIG_PHY_PACKAGE=n
CONFIG_ARCH_SUPPORTS_MEMORY_FAILURE=n
CONFIG_LD_CAN_USE_KEEP_IN_OVERLAY=n
CONFIG_ACPI_DOCK=n
CONFIG_FUTEX_PRIVATE_HASH=n
CONFIG_IOMMU_DMA=n
CONFIG_SPARSE_IRQ=n
CONFIG_CC_HAS_KASAN_SW_TAGS=n
CONFIG_HARDLOCKUP_CHECK_TIMESTAMP=n
