CONFIG_MEDIA_TUNER_TDA8290=n
CONFIG_PINCTRL_AMLOGIC_T7=n
CONFIG_LS_EXTIRQ=n
CONFIG_HAVE_DYNAMIC_FTRACE=n
CONFIG_ARCH_DEFAULT_CRASH_DUMP=n
CONFIG_ARCH_SUPPORTS_LTO_CLANG_THIN=n
CONFIG_ARCH_SUPPORTS_INT128=n
CONFIG_FSL_RCPM=n
CONFIG_NET_FAILOVER=n
CONFIG_ZLIB_INFLATE=n
CONFIG_PINCTRL_PFC_R8A77995=n
CONFIG_PINCTRL_IMX8MN=n
CONFIG_RESET_MESON=n
CONFIG_MESON_GXL_PHY=n
CONFIG_BATTERY_SBS=n
CONFIG_DWMAC_SUN8I=n
CONFIG_MEDIA_HIDE_ANCILLARY_SUBDRV=n
CONFIG_INTERCONNECT_QCOM_SM8450=n
CONFIG_ARCH_HAS_UBSAN=n
CONFIG_XILINX_PR_DECOUPLER=n
CONFIG_USB_CONN_GPIO=n
CONFIG_NET_VENDOR_MELLANOX=n
CONFIG_CRYPTO_LIB_SHA512=n
CONFIG_CRYPTO_LZO=n
CONFIG_SPI_RZV2H_RSPI=n
CONFIG_DRM_MSM_KMS=n
CONFIG_GPIO_XGENE=n
CONFIG_SYSC_R8A77990=n
CONFIG_USB_DWC3_HAPS=n
CONFIG_STM_PROTO_BASIC=n
CONFIG_MESON_EE_PM_DOMAINS=n
CONFIG_CLK_IMX8MQ=n
CONFIG_PWM_SL28CPLD=n
CONFIG_ATA=n
CONFIG_SND_MESON_AXG_FRDDR=n
CONFIG_PWM_TIECAP=n
CONFIG_SND_SOC_ROCKCHIP_I2S=n
CONFIG_VIDEO_QCOM_IRIS=n
CONFIG_JBD2=n
CONFIG_VIDEO_IMX8_ISI=n
CONFIG_COMMON_CLK_EN7523=n
CONFIG_HW_RANDOM_OMAP=n
CONFIG_USB_U_ETHER=n
CONFIG_INTERCONNECT_IMX8MQ=n
CONFIG_PROC_MEM_FORCE_PTRACE=n
CONFIG_KEYS=n
CONFIG_PLATFORM_MHU=n
CONFIG_ATH_COMMON=n
CONFIG_ARCH_R8A77970=n
CONFIG_CRYPTO_RNG2=n
CONFIG_BLK_CGROUP=n
CONFIG_ATA_FORCE=n
CONFIG_SYSC_R8A7795=n
CONFIG_PINCTRL_NS2_MUX=n
CONFIG_DRM_EXYNOS5433_DECON=n
CONFIG_GPIO_SHARED_PROXY=n
CONFIG_COMMON_CLK_MT8192_IPESYS=n
CONFIG_MFD_RK8XX_SPI=n
CONFIG_VIDEO_RCAR_ISP=n
CONFIG_SOC_TI=n
CONFIG_COMMON_CLK_MT8192_MSDC=n
CONFIG_PINCTRL_PFC_R8A779G0=n
CONFIG_SPI_APPLE=n
CONFIG_SND_SOC_FSL_EASRC=n
CONFIG_COMMON_CLK_SCPI=n
CONFIG_PINCTRL_SC7280_LPASS_LPI=n
CONFIG_MLX5_HW_STEERING=n
CONFIG_ARM_GIC_PM=n
CONFIG_SND_SOC_I2C_AND_SPI=n
CONFIG_COMMON_CLK_PWM=n
CONFIG_PHY_TEGRA_XUSB=n
CONFIG_TMPFS_POSIX_ACL=n
CONFIG_SND_SOC_NAU8315=n
CONFIG_SERIAL_8250_FSL=n
CONFIG_INTERCONNECT_QCOM_SC8180X=n
CONFIG_DRM_RCAR_USE_LVDS=n
CONFIG_SYNC_FILE=n
CONFIG_RUSTC_HAS_SPAN_FILE=n
CONFIG_BT_BREDR=n
CONFIG_USB_XHCI_RCAR=n
CONFIG_CRYPTO_DEV_AMLOGIC_GXL=n
CONFIG_IRQ_POLL=n
CONFIG_EXYNOS_ACPM_CLK=n
CONFIG_CLK_X1E80100_GPUCC=n
CONFIG_FS_IOMAP=n
CONFIG_UNIX98_PTYS=n
CONFIG_GPIO_MACSMC=n
CONFIG_NETFILTER_SKIP_EGRESS=n
CONFIG_QCOM_BAM_DMA=n
CONFIG_DRM_PANEL_LVDS=n
CONFIG_ARM_CMN=n
CONFIG_USB_ISP1760_DUAL_ROLE=n
CONFIG_VLAN_8021Q=n
CONFIG_BNX2X=n
CONFIG_HAVE_ARCH_RANDOMIZE_KSTACK_OFFSET=n
CONFIG_SYSC_R8A779H0=n
CONFIG_SND_SOC_SOF_MT8195=n
CONFIG_RTD119X_WATCHDOG=n
CONFIG_VLAN_8021Q_MVRP=n
CONFIG_TCG_TIS=n
CONFIG_MICROCHIP_PHY=n
CONFIG_SND_SOC_MT6359=n
CONFIG_TEGRA_HOST1X_FIREWALL=n
CONFIG_ARM64_WORKAROUND_SPECULATIVE_AT=n
CONFIG_ARCH_USE_GNU_PROPERTY=n
CONFIG_USB_COMMON=n
CONFIG_CC_HAVE_SHADOW_CALL_STACK=n
CONFIG_CMA_SIZE_SEL_MBYTES=n
CONFIG_CACHESTAT_SYSCALL=n
CONFIG_DMA_BOUNCE_UNALIGNED_KMALLOC=n
CONFIG_SERIAL_SAMSUNG=n
CONFIG_CAN_MCP251XFD=n
CONFIG_MMC_SDHCI_XENON=n
CONFIG_HUGETLB_PAGE=n
CONFIG_SOCIONEXT_SYNQUACER_PREITS=n
CONFIG_I3C_OR_I2C=n
CONFIG_PHY_QCOM_USB_HS_28NM=n
CONFIG_USB_BRCMSTB=n
CONFIG_HW_RANDOM_BCM74110=n
CONFIG_NFS_V4_2_READ_PLUS=n
CONFIG_CRYPTO_USER_API=n
CONFIG_ARCH_SUPPORTS_KEXEC_HANDOVER=n
CONFIG_USB_ULPI_BUS=n
CONFIG_PNP_DEBUG_MESSAGES=n
CONFIG_ARM_ARMADA_37XX_CPUFREQ=n
CONFIG_SOC_IMX8M=n
CONFIG_AF_UNIX_OOB=n
CONFIG_SPRD_SC9860_CLK=n
CONFIG_SND_SIMPLE_CARD=n
CONFIG_HAVE_PAGE_SIZE_4KB=n
CONFIG_MEDIA_CAMERA_SUPPORT=n
CONFIG_REGULATOR_SUN20I=n
CONFIG_K3_THERMAL=n
CONFIG_NVIDIA_CORESIGHT_PMU_ARCH_SYSTEM_PMU=n
CONFIG_PINCTRL_BCM2712=n
CONFIG_ARCH_ENABLE_HUGEPAGE_MIGRATION=n
CONFIG_SM_CAMCC_8650=n
CONFIG_BLK_ICQ=n
CONFIG_SPMI_MTK_PMIF=n
CONFIG_MODULES=n
CONFIG_I2C_HID_CORE=n
CONFIG_PCIEASPM_DEFAULT=n
CONFIG_SND_SOC_TEGRA186_ASRC=n
CONFIG_REGULATOR_DA9211=n
CONFIG_SOFTIRQ_ON_OWN_STACK=n
CONFIG_ARM64_ERRATUM_1742098=n
CONFIG_MDIO_GPIO=n
CONFIG_ARM_CCI400_PMU=n
CONFIG_SPI_BCM2835AUX=n
CONFIG_NETFILTER_BPF_LINK=n
CONFIG_ASSOCIATIVE_ARRAY=n
CONFIG_PKCS7_MESSAGE_PARSER=n
CONFIG_PM8916_WATCHDOG=n
CONFIG_PINCTRL_PFC_R8A779F0=n
CONFIG_POWER_RESET_SYSCON=n
CONFIG_PCIEPORTBUS=n
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE=n
CONFIG_PINCTRL_PFC_R8A774A1=n
CONFIG_ARM64_PA_BITS_52=n
CONFIG_TOUCHSCREEN_APPLE_Z2=n
CONFIG_PWM_STM32=n
CONFIG_BT=n
CONFIG_BCM_VIDEOCORE=n
CONFIG_NET_DSA_TAG_BRCM_PREPEND=n
CONFIG_USB_CONFIGFS_SERIAL=n
CONFIG_USB_XHCI_PCI_RENESAS=n
CONFIG_XILINX_WATCHDOG=n
CONFIG_MMC_SDHCI_OF_ESDHC=n
CONFIG_PINCTRL_MT8516=n
CONFIG_EFI_ESRT=n
CONFIG_DRM_MSM_MDP5=n
CONFIG_PROC_FS=n
CONFIG_CC_HAS_ASM_GOTO_TIED_OUTPUT=n
CONFIG_MRP=n
CONFIG_NET_DSA_MSCC_FELIX_DSA_LIB=n
CONFIG_SND_MESON_AXG_SPDIFOUT=n
CONFIG_ACPI_THERMAL=n
CONFIG_FB_DMAMEM_HELPERS_DEFERRED=n
CONFIG_MWIFIEX_USB=n
CONFIG_WLAN_VENDOR_INTEL=n
CONFIG_NUMA=n
CONFIG_PCI_DOMAINS_GENERIC=n
CONFIG_POWER_RESET_GPIO=n
CONFIG_DRM_DISPLAY_DSC_HELPER=n
CONFIG_VCNL4000=n
CONFIG_HIGH_RES_TIMERS=n
CONFIG_AMLOGIC_THERMAL=n
CONFIG_UVC_COMMON=n
CONFIG_SCSI_SAS_LIBSAS=n
CONFIG_I2C_EXYNOS5=n
CONFIG_USB_NET_AX88179_178A=n
CONFIG_OLD_SIGSUSPEND3=n
CONFIG_QCOM_GDSC=n
CONFIG_MWIFIEX_SDIO=n
CONFIG_COMMON_CLK_MT8365_VENC=n
CONFIG_SND_SOC_WM8978=n
CONFIG_HAVE_SETUP_PER_CPU_AREA=n
CONFIG_DRM_FBDEV_EMULATION=n
CONFIG_MMU=n
CONFIG_FB_DMAMEM_HELPERS=n
CONFIG_INTERCONNECT_QCOM_OSM_L3=n
CONFIG_RTC_INTF_PROC=n
CONFIG_AT803X_PHY=n
CONFIG_SOCK_RX_QUEUE_MAPPING=n
CONFIG_USB_SNP_CORE=n
CONFIG_USB_CDNSP_PCI=n
CONFIG_TEGRA186_TIMER=n
CONFIG_CLK_R9A09G077=n
CONFIG_TMPFS_XATTR=n
CONFIG_CLK_RK3528=n
CONFIG_ARM64_ERRATUM_845719=n
CONFIG_MMC_SDHCI_BRCMSTB=n
CONFIG_SND_SOC_ES8328_I2C=n
CONFIG_SUN6I_MSGBOX=n
CONFIG_RTC_NVMEM=n
CONFIG_KCMP=n
CONFIG_FUSE_PASSTHROUGH=n
CONFIG_ARCH_SEATTLE=n
CONFIG_ROCKCHIP_ERRATUM_3568002=n
CONFIG_IIO_KFIFO_BUF=n
CONFIG_WLAN_VENDOR_INTERSIL=n
CONFIG_BLK_CGROUP_RWSTAT=n
CONFIG_NVMEM_SPMI_SDAM=n
CONFIG_CROS_EC_PROTO=n
CONFIG_PHY_RCAR_GEN3_PCIE=n
CONFIG_EXYNOS_USI=n
CONFIG_VIDEOBUF2_DMA_SG=n
CONFIG_GPIO_BRCMSTB=n
CONFIG_TI_ICSS_IEP=n
CONFIG_TTY=n
CONFIG_CLK_OWL_S900=n
CONFIG_QCOM_L3_PMU=n
CONFIG_FWNODE_MDIO=n
CONFIG_LEDS_TRIGGER_HEARTBEAT=n
CONFIG_IO_WQ=n
CONFIG_PINCTRL_ZYNQMP=n
CONFIG_DRM_PANFROST=n
CONFIG_LOGO=n
CONFIG_VMAP_STACK=n
CONFIG_SPI_FSL_DSPI=n
CONFIG_DRM_PANEL=n
CONFIG_MM_ID=n
CONFIG_NVMEM_MTK_EFUSE=n
CONFIG_VIDEOBUF2_CORE=n
CONFIG_TEGRA_IOMMU_SMMU=n
CONFIG_COMMON_CLK_MT8183_IPU_ADL=n
CONFIG_INTERCONNECT_QCOM_RPMH_POSSIBLE=n
CONFIG_PHY_MESON8B_USB2=n
CONFIG_NET_VENDOR_XILINX=n
CONFIG_RTC_DRV_PCF85363=n
CONFIG_LD_CAN_USE_KEEP_IN_OVERLAY=n
CONFIG_REGULATOR_RK808=n
CONFIG_PINCTRL_MSM8998=n
CONFIG_NET_9P=n
CONFIG_PRINTK=n
CONFIG_DECOMPRESS_LZMA=n
CONFIG_FSL_ENETC_PTP_CLOCK=n
CONFIG_DRM_RCAR_VSP=n
CONFIG_XEN_PRIVCMD=n
CONFIG_HNS_ENET=n
CONFIG_SND_DRIVERS=n
CONFIG_ACPI=n
CONFIG_CAN_RAW=n
CONFIG_ARM64_ERRATUM_832075=n
CONFIG_SND_SOC_MAX98390=n
CONFIG_FUSE_IO_URING=n
CONFIG_ARM64_ERRATUM_2645198=n
CONFIG_MVEBU_GICP=n
CONFIG_IMX_SCU=n
CONFIG_NVME_APPLE=n
CONFIG_CLK_R8A779G0=n
CONFIG_PHY_RCAR_GEN3_USB3=n
CONFIG_QCOM_APR=n
CONFIG_PHY_BCM_SR_PCIE=n
CONFIG_ZONE_DMA32=n
CONFIG_ARM64_AS_HAS_MTE=n
CONFIG_PHY_QCOM_M31_USB=n
CONFIG_RESET_NUVOTON_MA35D1=n
CONFIG_ARM64_BTI=n
CONFIG_MV_XOR=n
CONFIG_SM_CAMCC_8250=n
CONFIG_INPUT_FF_MEMLESS=n
CONFIG_PCIE_TEGRA194_HOST=n
CONFIG_SND_HDA_COMPONENT=n
CONFIG_MLX5_EN_ARFS=n
CONFIG_CAVIUM_TX2_ERRATUM_219=n
CONFIG_SND_SOC_QDSP6_APM_LPASS_DAI=n
CONFIG_CLK_R8A774E1=n
CONFIG_CRYPTO_SKCIPHER=n
CONFIG_ARCH_USE_QUEUED_RWLOCKS=n
CONFIG_SND_SOC_QDSP6_ASM_DAI=n
CONFIG_INTERCONNECT_QCOM_SDM845=n
CONFIG_ARM_CCI400_COMMON=n
CONFIG_SPI_DESIGNWARE=n
CONFIG_VFIO=n
CONFIG_IPV6=n
CONFIG_GENERIC_PINMUX_FUNCTIONS=n
CONFIG_DRM_MSM_DSI_28NM_8960_PHY=n
CONFIG_ARM_DMC620_PMU=n
CONFIG_PWM_ROCKCHIP=n
