CONFIG_NETFILTER_INGRESS=n
CONFIG_HIBERNATE_CALLBACKS=n
CONFIG_MSDOS_PARTITION=n
CONFIG_IO_URING_ZCRX=n
CONFIG_CPU_ISOLATION=n
CONFIG_NETFILTER_XT_MATCH_STATE=n
CONFIG_WLAN=n
CONFIG_MOUSE_PS2_BYD=n
CONFIG_HOTPLUG_CORE_SYNC_FULL=n
CONFIG_NET_VENDOR_DEC=n
CONFIG_AUDIT=n
CONFIG_TRACEFS_AUTOMOUNT_DEPRECATED=n
CONFIG_DQL=n
CONFIG_XZ_DEC_ARM=n
CONFIG_HAVE_HW_BREAKPOINT=n
CONFIG_INPUT_FF_MEMLESS=n
CONFIG_NETDEVICES=n
CONFIG_DEFAULT_CUBIC=n
CONFIG_CONTEXT_SWITCH_TRACER=n
CONFIG_X86_REQUIRED_FEATURE_CX8=n
CONFIG_I2C_I801=n
CONFIG_HAVE_PERF_EVENTS_NMI=n
CONFIG_NET_VENDOR_REALTEK=n
CONFIG_NF_LOG_IPV4=n
CONFIG_TIGON3=n
CONFIG_HAVE_USER_RETURN_NOTIFIER=n
CONFIG_JBD2=n
CONFIG_UCS2_STRING=n
CONFIG_SND_JACK=n
CONFIG_NLS=n
CONFIG_X86_DISABLED_FEATURE_PKU=n
CONFIG_BLK_RQ_ALLOC_TIME=n
CONFIG_CONTEXT_TRACKING=n
CONFIG_SND_HDA_I915=n
CONFIG_NLS_CODEPAGE_437=n
CONFIG_KPROBE_EVENTS=n
CONFIG_EFI_ESRT=n
CONFIG_CC_HAS_MARCH_NATIVE=n
CONFIG_ATA_ACPI=n
CONFIG_NETWORK_FILESYSTEMS=n
CONFIG_LOCKD_V4=n
CONFIG_RETHOOK=n
CONFIG_HAVE_FUNCTION_TRACER=n
CONFIG_HAVE_KERNEL_LZ4=n
CONFIG_ACPI_VIDEO=n
CONFIG_X86_INTEL_TSX_MODE_AUTO=n
CONFIG_NETLABEL=n
CONFIG_ARCH_SPARSEMEM_ENABLE=n
CONFIG_ACPI_THERMAL=n
CONFIG_QFMT_V2=n
CONFIG_WLAN_VENDOR_SILABS=n
CONFIG_INPUT_VIVALDIFMAP=n
CONFIG_POSIX_MQUEUE=n
CONFIG_AUDIT_GENERIC=n
CONFIG_BINFMT_SCRIPT=n
CONFIG_NET_VENDOR_GOOGLE=n
CONFIG_HAVE_ARCH_GET_SECUREBOOT=n
CONFIG_HID=n
CONFIG_IP_PNP_RARP=n
CONFIG_LDISC_AUTOLOAD=n
CONFIG_GCC_NO_STRINGOP_OVERFLOW=n
CONFIG_SECCOMP_FILTER=n
CONFIG_CRYPTO_AUTHENC=n
CONFIG_HAVE_KERNEL_LZO=n
CONFIG_NET_VENDOR_SMSC=n
CONFIG_CRYPTO_AKCIPHER2=n
CONFIG_SND_TIMER=n
CONFIG_VIRTIO_MENU=n
CONFIG_NF_NAT=n
CONFIG_ARCH_HAS_PTDUMP=n
CONFIG_COMPACTION=n
CONFIG_HAVE_ALIGNED_STRUCT_PAGE=n
CONFIG_USB_DEFAULT_PERSIST=n
CONFIG_BSD_PROCESS_ACCT=n
CONFIG_COMPAT_32=n
CONFIG_CRC32=n
CONFIG_HAVE_IOREMAP_PROT=n
CONFIG_DRM_TTM=n
CONFIG_BNX2=n
CONFIG_GENERIC_STRNCPY_FROM_USER=n
CONFIG_SCHED_SMT=n
CONFIG_INSTRUCTION_DECODER=n
CONFIG_XZ_DEC_SPARC=n
CONFIG_DRM_DISPLAY_DSC_HELPER=n
CONFIG_MOUSE_PS2_LIFEBOOK=n
CONFIG_IP_PNP_BOOTP=n
CONFIG_RD_XZ=n
CONFIG_HAVE_POSIX_CPU_TIMERS_TASK_WORK=n
CONFIG_NLS_UTF8=n
CONFIG_NET_VENDOR_ATHEROS=n
CONFIG_LOCKDEP_SUPPORT=n
CONFIG_DEFAULT_SECURITY_SELINUX=n
CONFIG_ARCH_VMLINUX_NEEDS_RELOCS=n
CONFIG_SND_PCM_TIMER=n
CONFIG_BLOCK_HOLDER_DEPRECATED=n
CONFIG_HAVE_EFFICIENT_UNALIGNED_ACCESS=n
CONFIG_STACKTRACE_SUPPORT=n
CONFIG_ARCH_HIBERNATION_HEADER=n
CONFIG_FONT_AUTOSELECT=n
CONFIG_X86_DISABLED_FEATURE_ENQCMD=n
CONFIG_HID_GENERIC=n
CONFIG_X86_THERMAL_VECTOR=n
CONFIG_X86_DISABLED_FEATURE_CALL_DEPTH=n
CONFIG_EFI_DXE_MEM_ATTRIBUTES=n
CONFIG_USB_EHCI_TT_NEWSCHED=n
CONFIG_HAVE_UID16=n
CONFIG_FIRMWARE_TABLE=n
CONFIG_NET_INGRESS=n
CONFIG_NET_VENDOR_MICROCHIP=n
CONFIG_FRAME_POINTER=n
CONFIG_DEBUG_BUGVERBOSE=n
CONFIG_SCSI_SPI_ATTRS=n
CONFIG_CGROUP_DEBUG=n
CONFIG_ARCH_HAS_MEMBARRIER_SYNC_CORE=n
CONFIG_ARCH_HAS_STRICT_MODULE_RWX=n
CONFIG_THERMAL_HWMON=n
CONFIG_MISC_FILESYSTEMS=n
CONFIG_TCP_CONG_CUBIC=n
CONFIG_X86_TSC=n
CONFIG_CC_HAS_RETURN_THUNK=n
CONFIG_DNS_RESOLVER=n
CONFIG_HID_PANTHERLORD=n
CONFIG_PCMCIA_LOAD_CIS=n
CONFIG_SOCK_CGROUP_DATA=n
CONFIG_CRYPTO_HMAC=n
CONFIG_X86_LOCAL_APIC=n
CONFIG_CGROUP_RDMA=n
CONFIG_SIGNALFD=n
CONFIG_IRQ_FORCED_THREADING=n
CONFIG_SND_SEQ_HRTIMER_DEFAULT=n
CONFIG_HAVE_BUILDTIME_MCOUNT_SORT=n
CONFIG_SND_PROC_FS=n
CONFIG_FUTEX=n
CONFIG_CC_IS_GCC=n
CONFIG_SND_INTEL_NHLT=n
CONFIG_CGROUP_DEVICE=n
CONFIG_CRYPTO_LIB_ARC4=n
CONFIG_HID_PETALYNX=n
CONFIG_CRYPTO_SKCIPHER=n
CONFIG_X86_UMIP=n
CONFIG_NET_VENDOR_RENESAS=n
CONFIG_HAVE_KERNEL_LZMA=n
CONFIG_WLAN_VENDOR_MICROCHIP=n
CONFIG_REGMAP=n
CONFIG_LOCK_SPIN_ON_OWNER=n
CONFIG_ARCH_MAY_HAVE_PC_FDC=n
CONFIG_NET_VENDOR_SILAN=n
CONFIG_DRM_VIRTIO_GPU_KMS=n
CONFIG_BCMA_POSSIBLE=n
CONFIG_ARCH_USES_PG_ARCH_2=n
CONFIG_MAC80211_LEDS=n
CONFIG_TASK_IO_ACCOUNTING=n
CONFIG_NETFILTER_XT_TARGET_MASQUERADE=n
CONFIG_ARCH_SUPPORTS_ATOMIC_RMW=n
CONFIG_RCU_STALL_COMMON=n
CONFIG_LEDS_CLASS=n
CONFIG_VMSPLIT_3G=n
CONFIG_ASYMMETRIC_KEY_TYPE=n
CONFIG_TRACE_CLOCK=n
CONFIG_DRM_VIRTIO_GPU=n
CONFIG_KALLSYMS_ALL=n
CONFIG_PROC_FS=n
CONFIG_XXHASH=n
CONFIG_NET_VENDOR_QLOGIC=n
CONFIG_MICROCODE=n
CONFIG_RANDOMIZE_BASE=n
CONFIG_X86_BUS_LOCK_DETECT=n
CONFIG_AGP=n
CONFIG_NFS_V3_ACL=n
CONFIG_ACPI_SYSTEM_POWER_STATES_SUPPORT=n
CONFIG_WERROR=n
CONFIG_DMA_SHARED_BUFFER=n
CONFIG_NF_CONNTRACK_SECMARK=n
CONFIG_HAVE_PREEMPT_DYNAMIC_CALL=n
CONFIG_NET_VENDOR_CORTINA=n
CONFIG_MODULE_UNLOAD=n
CONFIG_NF_CONNTRACK_IRC=n
CONFIG_I3C_OR_I2C=n
CONFIG_TRACING=n
CONFIG_DECOMPRESS_XZ=n
CONFIG_PM_SLEEP_SMP=n
CONFIG_PCSPKR_PLATFORM=n
CONFIG_X86_DISABLED_FEATURE_LASS=n
CONFIG_SLAB_MERGE_DEFAULT=n
CONFIG_ARCH_SUPPORTS_KMAP_LOCAL_FORCE_MAP=n
CONFIG_ARCH_WANT_FRAME_POINTERS=n
CONFIG_RTC_SYSTOHC=n
CONFIG_I2C_SMBUS=n
CONFIG_MACINTOSH_DRIVERS=n
CONFIG_SATA_HOST=n
CONFIG_CLOCKSOURCE_WATCHDOG=n
CONFIG_AGP_INTEL=n
CONFIG_BLOCK=n
CONFIG_BLK_DEV_BSG=n
CONFIG_GENERIC_IRQ_ENTRY=n
CONFIG_DMA_VIRTUAL_CHANNELS=n
CONFIG_HAS_DMA=n
CONFIG_LEGACY_DIRECT_IO=n
CONFIG_INOTIFY_USER=n
CONFIG_ACPI_BGRT=n
CONFIG_NET_VENDOR_AMAZON=n
CONFIG_NF_NAT_FTP=n
CONFIG_TICK_ONESHOT=n
CONFIG_SND_HDA=n
CONFIG_VHOST_ENABLE_FORK_OWNER_CONTROL=n
CONFIG_MOUSE_PS2_CYPRESS=n
CONFIG_DRM_BRIDGE=n
CONFIG_NLATTR=n
CONFIG_X86_CPUID=n
CONFIG_SECURITY_SELINUX_AVC_STATS=n
CONFIG_WLAN_VENDOR_RALINK=n
CONFIG_FAIR_GROUP_SCHED=n
CONFIG_ARCH_HAVE_EXTRA_ELF_NOTES=n
CONFIG_SERIAL_8250_PNP=n
CONFIG_MITIGATION_MDS=n
CONFIG_KMAP_LOCAL=n
CONFIG_BLK_DEV_DM_BUILTIN=n
CONFIG_DEVMEM=n
CONFIG_PCI_GOANY=n
CONFIG_NF_NAT_IRC=n
CONFIG_ARCH_WANT_IPC_PARSE_VERSION=n
CONFIG_GRO_CELLS=n
CONFIG_PID_NS=n
CONFIG_CRYPTO_LIB_SHA256=n
CONFIG_BLK_DEV_WRITE_MOUNTED=n
CONFIG_ARCH_HAS_GCOV_PROFILE_ALL=n
CONFIG_TASKS_RCU=n
CONFIG_OPENSSL_SUPPORTS_ML_DSA=n
CONFIG_NET_VENDOR_RDC=n
CONFIG_CRYPTO_SIG=n
CONFIG_VMAP_PFN=n
CONFIG_CRYPTO_LIB_UTILS=n
CONFIG_PAGE_SIZE_4KB=n
CONFIG_RTC_INTF_PROC=n
CONFIG_LEGACY_TIOCSTI=n
CONFIG_ARCH_MIGHT_HAVE_ACPI_PDC=n
CONFIG_USB_PRINTER=n
CONFIG_ARCH_HAS_ACPI_TABLE_UPGRADE=n
CONFIG_AS_IS_GNU=n
CONFIG_X86_DISABLED_FEATURE_LAM=n
CONFIG_WLAN_VENDOR_ATH=n
CONFIG_GENERIC_ALLOCATOR=n
CONFIG_ARCH_SUPPORTS_HUGETLBFS=n
CONFIG_ARCH_USE_QUEUED_RWLOCKS=n
CONFIG_ARCH_USE_MEMREMAP_PROT=n
CONFIG_PCI_BIOS=n
CONFIG_HOTPLUG_CORE_SYNC=n
CONFIG_NET_VENDOR_VERTEXCOM=n
CONFIG_FS_POSIX_ACL=n
CONFIG_IP6_NF_MATCH_IPV6HEADER=n
CONFIG_ZLIB_DEFLATE=n
CONFIG_CRYPTO_GENIV=n
CONFIG_HAVE_FUNCTION_GRAPH_TRACER=n
CONFIG_ARCH_32BIT_OFF_T=n
CONFIG_MMU_GATHER_TABLE_FREE=n
CONFIG_DRM_I915=n
CONFIG_VGA_CONSOLE=n
CONFIG_X86_REROUTE_FOR_BROKEN_BOOT_IRQS=n
CONFIG_HAVE_PREEMPT_DYNAMIC=n
CONFIG_ARCH_HAS_STRICT_KERNEL_RWX=n
CONFIG_CRYPTO_LIB_AES_CBC_MACS=n
CONFIG_VT_CONSOLE_SLEEP=n
CONFIG_ETHTOOL_NETLINK=n
CONFIG_EFI_RUNTIME_MAP=n
CONFIG_DNOTIFY=n
CONFIG_NET_VENDOR_DAVICOM=n
CONFIG_SND_VMASTER=n
CONFIG_GENERIC_CLOCKEVENTS_MIN_ADJUST=n
CONFIG_NET_VENDOR_ADAPTEC=n
CONFIG_SND_SEQUENCER=n
CONFIG_CRYPTO_CTS=n
CONFIG_SERIAL_EARLYCON=n
CONFIG_GENERIC_NET_UTILS=n
CONFIG_XFRM_AH=n
CONFIG_SPLIT_PTE_PTLOCKS=n
CONFIG_MAGIC_SYSRQ=n
CONFIG_MD=n
CONFIG_VIRTIO_PCI_LIB_LEGACY=n
CONFIG_HAS_IOPORT_MAP=n
CONFIG_EFIVAR_FS=n
CONFIG_NETFILTER_XTABLES=n
CONFIG_NET_VENDOR_8390=n
CONFIG_SND_PCI=n
CONFIG_SND_SEQ_DEVICE=n
CONFIG_INTEL_TCC=n
CONFIG_IP_MROUTE_COMMON=n
CONFIG_CONNECTOR=n
CONFIG_HOTPLUG_SMT=n
CONFIG_HAVE_SOFTIRQ_ON_OWN_STACK=n
CONFIG_DEBUG_BOOT_PARAMS=n
CONFIG_CLZ_TAB=n
CONFIG_HID_NTRIG=n
CONFIG_CRYPTO_ECHAINIV=n
CONFIG_VIRTUALIZATION=n
CONFIG_ASYMMETRIC_PUBLIC_KEY_SUBTYPE=n
CONFIG_HAVE_KERNEL_GZIP=n
CONFIG_NET_DEVMEM=n
CONFIG_SUNRPC_BACKCHANNEL=n
CONFIG_NET_9P_VIRTIO=n
CONFIG_INPUT_EVDEV=n
