CONFIG_SND_JACK=n
CONFIG_ARCH_SUPPORTS_SCHED_SMT=n
CONFIG_X86_BOOTPARAM_MEMORY_CORRUPTION_CHECK=n
CONFIG_SCSI_LOWLEVEL=n
CONFIG_ARCH_SUPPORTS_KEXEC_SIG_FORCE=n
CONFIG_TRACING=n
CONFIG_TASKS_TRACE_RCU=n
CONFIG_DECOMPRESS_LZO=n
CONFIG_ARCH_USES_PG_ARCH_2=n
CONFIG_ARCH_SUPPORTS_MEMORY_FAILURE=n
CONFIG_RANDOMIZE_KSTACK_OFFSET=n
CONFIG_HAVE_PERF_USER_STACK_DUMP=n
CONFIG_LEDS_TRIGGERS=n
CONFIG_VHOST_MENU=n
CONFIG_HAVE_KCSAN_COMPILER=n
CONFIG_NF_DEFRAG_IPV6=n
CONFIG_IP_PIMSM_V2=n
CONFIG_SERIO_SERPORT=n
CONFIG_EFI_ESRT=n
CONFIG_HAVE_ARCH_SECCOMP=n
CONFIG_QUOTA_NETLINK_INTERFACE=n
CONFIG_PNFS_BLOCK=n
CONFIG_ARCH_HAS_MEM_ENCRYPT=n
CONFIG_NETFILTER_XT_TARGET_NFLOG=n
CONFIG_TIME_NS=n
CONFIG_HAVE_KERNEL_XZ=n
CONFIG_ATA=n
CONFIG_NET_INGRESS=n
CONFIG_WLAN_VENDOR_PURELIFI=n
CONFIG_SCHED_OMIT_FRAME_POINTER=n
CONFIG_NET_VENDOR_DEC=n
CONFIG_BINFMT_ELF=n
CONFIG_HID_SONY=n
CONFIG_VIDEO=n
CONFIG_RCU_STALL_COMMON=n
CONFIG_MODULES_USE_ELF_REL=n
CONFIG_CLKEVT_I8253=n
CONFIG_LZ4_DECOMPRESS=n
CONFIG_ARCH_SUPPORTS_KEXEC_BZIMAGE_VERIFY_SIG=n
CONFIG_CORE_DUMP_DEFAULT_ELF_HEADERS=n
CONFIG_CC_HAS_WORKING_NOSANITIZE_ADDRESS=n
CONFIG_HAVE_DYNAMIC_FTRACE=n
CONFIG_ARCH_USE_QUEUED_RWLOCKS=n
CONFIG_PM_TRACE=n
CONFIG_PNFS_FLEXFILE_LAYOUT=n
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST=n
CONFIG_PCMCIA=n
CONFIG_BUILDTIME_TABLE_SORT=n
CONFIG_MAC80211=n
CONFIG_NF_NAT_FTP=n
CONFIG_BLOCK_HOLDER_DEPRECATED=n
CONFIG_ARCH_DEFAULT_CRASH_DUMP=n
CONFIG_EFI_EARLYCON=n
CONFIG_CPU_MITIGATIONS=n
CONFIG_HAVE_USER_RETURN_NOTIFIER=n
CONFIG_INET6_ESP=n
CONFIG_PCCARD=n
CONFIG_PROC_FS=n
CONFIG_CRYPTO_ALGAPI2=n
CONFIG_BQL=n
CONFIG_X86_ESPFIX32=n
CONFIG_PREVENT_FIRMWARE_BUILD=n
CONFIG_CPU_FREQ_GOV_COMMON=n
CONFIG_GENERIC_PENDING_IRQ=n
CONFIG_CRC32_ARCH=n
CONFIG_NETFILTER_XT_MATCH_POLICY=n
CONFIG_NET_VENDOR_SAMSUNG=n
CONFIG_CC_HAS_SANE_FUNCTION_ALIGNMENT=n
CONFIG_HAVE_GENERIC_TIF_BITS=n
CONFIG_ARCH_SUPPORTS_RT=n
CONFIG_KEYBOARD_ATKBD=n
CONFIG_GENERIC_BITREVERSE=n
CONFIG_ARCH_HAS_STRICT_MODULE_RWX=n
CONFIG_NET_CLS_CGROUP=n
CONFIG_SUSPEND_FREEZER=n
CONFIG_SND_VMASTER=n
CONFIG_SYSCTL_EXCEPTION_TRACE=n
CONFIG_SND_HDA_COMPONENT=n
CONFIG_NF_DEFRAG_IPV4=n
CONFIG_HZ_1000=n
CONFIG_NET_VENDOR_QUALCOMM=n
CONFIG_RFKILL_INPUT=n
CONFIG_PAGE_COUNTER=n
CONFIG_NET_VENDOR_DAVICOM=n
CONFIG_X86_DISABLED_FEATURE_ENQCMD=n
CONFIG_CRYPTO_LIB_SHA256=n
CONFIG_REGMAP=n
CONFIG_IRQ_FORCED_THREADING=n
CONFIG_EDAC_SUPPORT=n
CONFIG_HID_SUNPLUS=n
CONFIG_PERF_EVENTS_INTEL_UNCORE=n
CONFIG_SKY2=n
CONFIG_SLAB_MERGE_DEFAULT=n
CONFIG_NETWORK_SECMARK=n
CONFIG_BUFFER_HEAD=n
CONFIG_SERIAL_CORE_CONSOLE=n
CONFIG_BLK_DEV_BSG_COMMON=n
CONFIG_GENERIC_ENTRY=n
CONFIG_NETFILTER_NETLINK_LOG=n
CONFIG_WLAN_VENDOR_BROADCOM=n
CONFIG_DECOMPRESS_LZMA=n
CONFIG_RFKILL_LEDS=n
CONFIG_CRYPTO_ALGAPI=n
CONFIG_QUOTA_TREE=n
CONFIG_NET_VENDOR_INTEL=n
CONFIG_ARCH_WANT_LD_ORPHAN_WARN=n
CONFIG_AUDITSYSCALL=n
CONFIG_FORCEDETH=n
CONFIG_EFI_RUNTIME_MAP=n
CONFIG_GENERIC_CLOCKEVENTS=n
CONFIG_HYPERVISOR_GUEST=n
CONFIG_PATA_TIMINGS=n
CONFIG_NET_SCHED=n
CONFIG_SND_PCM_TIMER=n
CONFIG_PROC_SYSCTL=n
CONFIG_SCREEN_INFO=n
CONFIG_THERMAL_DEFAULT_GOV_STEP_WISE=n
CONFIG_HAVE_CMPXCHG_DOUBLE=n
CONFIG_PCI_DIRECT=n
CONFIG_ATA_SFF=n
CONFIG_TMPFS_POSIX_ACL=n
CONFIG_TOOLS_SUPPORT_RELR=n
CONFIG_DMADEVICES=n
CONFIG_ARCH_HAS_HW_PTE_YOUNG=n
CONFIG_X86_DISABLED_FEATURE_PKU=n
CONFIG_HOTPLUG_SMT=n
CONFIG_CRYPTO_LIB_AES_ARCH=n
CONFIG_ACPI_I2C_OPREGION=n
CONFIG_NET_VENDOR_GOOGLE=n
CONFIG_NET_VENDOR_MARVELL=n
CONFIG_NET_VENDOR_ASIX=n
CONFIG_PROVIDE_OHCI1394_DMA_INIT=n
CONFIG_WLAN_VENDOR_ADMTEK=n
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO=n
CONFIG_ATA_ACPI=n
CONFIG_SCHED_MC=n
CONFIG_RUSTC_HAS_UNNECESSARY_TRANSMUTES=n
CONFIG_ARCH_SUPPORTS_CRASH_HOTPLUG=n
CONFIG_FW_CACHE=n
CONFIG_ACPI_PROCESSOR_CSTATE=n
CONFIG_TIMERFD=n
CONFIG_VIRTIO_INPUT=n
CONFIG_CRYPTO_LIB_GF128HASH=n
CONFIG_KRETPROBE_ON_RETHOOK=n
CONFIG_RTC_INTF_PROC=n
CONFIG_HAVE_ASM_MODVERSIONS=n
CONFIG_INTEL_GTT=n
CONFIG_NETDEVICES=n
CONFIG_MISC_FILESYSTEMS=n
CONFIG_DRM_GEM_SHMEM_HELPER=n
CONFIG_ETHTOOL_NETLINK=n
CONFIG_LD_CAN_USE_KEEP_IN_OVERLAY=n
CONFIG_CPU_FREQ_GOV_ONDEMAND=n
CONFIG_X86_MCE_INTEL=n
CONFIG_X86_DISABLED_FEATURE_RETHUNK=n
CONFIG_UTS_NS=n
CONFIG_HID_GYRATION=n
CONFIG_PNPACPI=n
CONFIG_SYSTEM_TRUSTED_KEYRING=n
CONFIG_CRYPTO_HW=n
CONFIG_SERIAL_8250_EXAR=n
CONFIG_PREEMPT_LAZY=n
CONFIG_CONNECTOR=n
CONFIG_SERIAL_8250_SHARE_IRQ=n
CONFIG_HW_RANDOM=n
CONFIG_NET_VENDOR_AGERE=n
CONFIG_PCI_QUIRKS=n
CONFIG_ARCH_HAVE_EXTRA_ELF_NOTES=n
CONFIG_NFS_FS=n
CONFIG_NET_9P_FD=n
CONFIG_PCIEASPM=n
CONFIG_KCMP=n
CONFIG_GENERIC_IRQ_ENTRY=n
CONFIG_NET_VENDOR_META=n
CONFIG_DST_CACHE=n
CONFIG_DMIID=n
CONFIG_SCSI_VIRTIO=n
CONFIG_SERIAL_8250=n
CONFIG_NETFILTER_INGRESS=n
CONFIG_NET_CLS_ACT=n
CONFIG_ACPI_THERMAL=n
CONFIG_MODULE_UNLOAD=n
CONFIG_ARCH_HAS_STRICT_KERNEL_RWX=n
CONFIG_SCHED_HRTICK=n
CONFIG_HOTPLUG_CORE_SYNC=n
CONFIG_HAVE_FTRACE_GRAPH_FUNC=n
CONFIG_IOMMU_IOVA=n
CONFIG_X86_IO_APIC=n
CONFIG_HAVE_FUNCTION_GRAPH_FREGS=n
CONFIG_EEEPC_LAPTOP=n
CONFIG_HPET=n
CONFIG_MITIGATION_RFDS=n
CONFIG_SYSTEM_DATA_VERIFICATION=n
CONFIG_CPU_SUP_CENTAUR=n
CONFIG_NET_VENDOR_TEHUTI=n
CONFIG_INET6_AH=n
CONFIG_SWAP=n
CONFIG_DRM_I915=n
CONFIG_X509_CERTIFICATE_PARSER=n
CONFIG_FIRMWARE_TABLE=n
CONFIG_HAVE_DYNAMIC_FTRACE_NO_PATCHABLE=n
CONFIG_HAVE_ARCH_THREAD_STRUCT_WHITELIST=n
CONFIG_CC_CAN_LINK=n
CONFIG_BLK_CGROUP=n
CONFIG_DIMLIB=n
CONFIG_SCHED_CLUSTER=n
CONFIG_SND_HRTIMER=n
CONFIG_TTY=n
CONFIG_NETFILTER_XT_MATCH_CONNTRACK=n
CONFIG_PATA_SCH=n
CONFIG_HAVE_FUTEX_ROBUST_UNLOCK=n
CONFIG_SND_PCM=n
CONFIG_KEXEC=n
CONFIG_NFS_ACL_SUPPORT=n
CONFIG_PGTABLE_HAS_HUGE_LEAVES=n
CONFIG_CC_HAS_KASAN_SW_TAGS=n
CONFIG_WATCHDOG=n
CONFIG_SND_CTL_FAST_LOOKUP=n
CONFIG_NETFS_SUPPORT=n
CONFIG_RTC_I2C_AND_SPI=n
CONFIG_IP_PNP_RARP=n
CONFIG_STACKPROTECTOR_STRONG=n
CONFIG_CRYPTO_CTR=n
CONFIG_X86_TSC=n
CONFIG_FIX_EARLYCON_MEM=n
CONFIG_CRYPTO_MANAGER2=n
CONFIG_SBITMAP=n
CONFIG_X86_DISABLED_FEATURE_PTI=n
CONFIG_ACPI_EC=n
CONFIG_OPTPROBES=n
CONFIG_SATA_AHCI=n
CONFIG_SERIAL_8250_DWLIB=n
CONFIG_RCU_TRACE=n
CONFIG_NET_VENDOR_DLINK=n
CONFIG_CACHESTAT_SYSCALL=n
CONFIG_9P_FS=n
CONFIG_ACPI_SLEEP=n
CONFIG_HAS_IOPORT=n
CONFIG_HID_PANTHERLORD=n
CONFIG_VHOST_ENABLE_FORK_OWNER_CONTROL=n
CONFIG_PERF_EVENTS_AMD_UNCORE=n
CONFIG_X86_REQUIRED_FEATURE_CX8=n
CONFIG_HAVE_IOREMAP_PROT=n
CONFIG_BLK_DEV=n
CONFIG_SERIAL_EARLYCON=n
CONFIG_SYSVIPC=n
CONFIG_NET_FAILOVER=n
CONFIG_GPIOLIB_LEGACY=n
CONFIG_PCI_MMCONFIG=n
CONFIG_DEBUG_FS_ALLOW_ALL=n
CONFIG_NVMEM_SYSFS=n
CONFIG_DRM_I915_CAPTURE_ERROR=n
CONFIG_NET_XGRESS=n
CONFIG_LZO_DECOMPRESS=n
CONFIG_BLK_DEV_DM_BUILTIN=n
CONFIG_ARCH_HAS_PTDUMP=n
CONFIG_PROFILING=n
CONFIG_USER_STACKTRACE_SUPPORT=n
CONFIG_NET_CLS=n
CONFIG_HID=n
CONFIG_UNIX98_PTYS=n
CONFIG_IOMMU_API=n
CONFIG_NET_VENDOR_SYNOPSYS=n
CONFIG_NET_VENDOR_CAVIUM=n
CONFIG_INTEGRITY_AUDIT=n
CONFIG_HAVE_ARCH_KSTACK_ERASE=n
CONFIG_TREE_RCU=n
CONFIG_PHY_PACKAGE=n
CONFIG_MAGIC_SYSRQ_SERIAL=n
CONFIG_LZ4_COMPRESS=n
CONFIG_ARCH_USE_SYM_ANNOTATIONS=n
CONFIG_HAS_IOMEM=n
CONFIG_ACPI_DOCK=n
CONFIG_CLZ_TAB=n
CONFIG_X86_ACPI_CPUFREQ=n
CONFIG_LOCKD=n
CONFIG_NET_VENDOR_AMAZON=n
CONFIG_INPUT_MISC=n
CONFIG_CRYPTO_GCM=n
CONFIG_MMU_GATHER_TABLE_FREE=n
CONFIG_CC_HAS_MARCH_NATIVE=n
CONFIG_QUOTA=n
CONFIG_BACKLIGHT_CLASS_DEVICE=n
CONFIG_ACPI_WMI=n
CONFIG_WLAN_VENDOR_INTEL=n
CONFIG_TCP_CONG_CUBIC=n
CONFIG_ACPI_REV_OVERRIDE_POSSIBLE=n
CONFIG_VGA_ARB=n
CONFIG_YENTA=n
CONFIG_SND_PROC_FS=n
CONFIG_NETFILTER_XT_MATCH_STATE=n
CONFIG_HAVE_ARCH_PREL32_RELOCATIONS=n
CONFIG_NET_VENDOR_STMICRO=n
CONFIG_GCC_NO_STRINGOP_OVERFLOW=n
CONFIG_NETCONSOLE=n
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_REGS=n
CONFIG_BLK_DEV_IO_TRACE=n
CONFIG_NLS_CODEPAGE_437=n
CONFIG_STACKDEPOT=n
CONFIG_TRACING_SUPPORT=n
