CONFIG_PREEMPT=y
CONFIG_CHARGER_BQ24735=y
CONFIG_NEED_DMA_MAP_STATE=y
CONFIG_COREDUMP=y
CONFIG_LOCK_SPIN_ON_OWNER=y
CONFIG_SIGNALFD=y
CONFIG_HARDLOCKUP_DETECTOR=y
CONFIG_LEDS_USER=y
CONFIG_CRYPTO_LIB_SHA512_ARCH=y
CONFIG_PREEMPT_BUILD=y
CONFIG_GPIO_GENERIC=y
CONFIG_TOUCHSCREEN_AUO_PIXCIR=y
CONFIG_CRYPTO_LZ4HC=y
CONFIG_TOUCHSCREEN_WDT87XX_I2C=y
CONFIG_PROC_PAGE_MONITOR=y
CONFIG_REGULATOR_RC5T583=y
CONFIG_REGULATOR_MT6316=y
CONFIG_RCU_EXPERT=y
CONFIG_PROFILE_ALL_BRANCHES=y
CONFIG_RANDOMIZE_KSTACK_OFFSET=y
CONFIG_COMEDI_8255=y
CONFIG_IOMMU_API=y
CONFIG_IRQ_WORK=y
CONFIG_SPI_MEM=y
CONFIG_UBIFS_FS_XATTR=y
CONFIG_COMEDI_ME_DAQ=y
CONFIG_X86_CX8=y
CONFIG_TOUCHSCREEN_HIDEEP=y
CONFIG_SSB_DRIVER_PCICORE_POSSIBLE=y
CONFIG_CRC_OPTIMIZATIONS=y
CONFIG_BLOCK=y
CONFIG_JBD2_DEBUG=y
CONFIG_DEBUG_GPIO=y
CONFIG_W1_SLAVE_SMEM=y
CONFIG_RC_MAP=y
CONFIG_ARCH_HAS_ELFCORE_COMPAT=y
CONFIG_MFD_SM501=y
CONFIG_DEBUG_FS=y
CONFIG_RWSEM_SPIN_ON_OWNER=y
CONFIG_PINCTRL=y
CONFIG_ARCH_HAS_CPU_FINALIZE_INIT=y
CONFIG_HAVE_KCSAN_COMPILER=y
CONFIG_LEDS_REGULATOR=y
CONFIG_COMEDI_NI_DAQ_700_CS=y
CONFIG_MOUSE_ELAN_I2C=y
CONFIG_HAS_IOPORT_MAP=y
CONFIG_CHARLCD=y
CONFIG_HAVE_CLK=y
CONFIG_THERMAL_GOV_POWER_ALLOCATOR=y
CONFIG_PM_NOTIFIER_ERROR_INJECT=y
CONFIG_ARCH_SUPPORTS_CFI=y
CONFIG_GPIO_TPIC2810=y
CONFIG_FB_CFB_FILLRECT=y
CONFIG_PMIC_ADP5520=y
CONFIG_NLS_CODEPAGE_950=y
CONFIG_REGULATOR_MAX77857=y
CONFIG_COMEDI_NI_LABPC=y
CONFIG_BACKLIGHT_CLASS_DEVICE=y
CONFIG_X86_SPEEDSTEP_LIB=y
CONFIG_X86_DISABLED_FEATURE_RETPOLINE=y
CONFIG_BACKLIGHT_SAHARA=y
CONFIG_INPUT_JOYSTICK=y
CONFIG_NO_PAGE_MAPCOUNT=y
CONFIG_ZSTD_COMPRESS=y
CONFIG_SERIO_PS2MULT=y
CONFIG_FUSE_IO_URING=y
CONFIG_AIO=y
CONFIG_SERIAL_DEV_BUS=y
CONFIG_GENERIC_CLOCKEVENTS_COUPLED=y
CONFIG_I2C_VIRTIO=y
CONFIG_LEDS_EXPRESSWIRE=y
CONFIG_NVMEM_QNAP_MCU_EEPROM=y
CONFIG_PKCS8_PRIVATE_KEY_PARSER=y
CONFIG_LEDS_KTD202X=y
CONFIG_SCSI_MPT2SAS=y
CONFIG_FB_SVGALIB=y
CONFIG_DMA_OPS_HELPERS=y
CONFIG_IPMI_DMI_DECODE=y
CONFIG_RAID6_PQ_ARCH=y
CONFIG_TOUCHSCREEN_EXC3000=y
CONFIG_OPTEE_STATIC_PROTMEM_POOL=y
CONFIG_KMALLOC_PARTITION_RANDOM=y
CONFIG_ZSTD_COMMON=y
CONFIG_INPUT_GPIO_VIBRA=y
CONFIG_CRYPTO_LIB_BLAKE2S_ARCH=y
CONFIG_PINMUX=y
CONFIG_FB_S3=y
CONFIG_CROSS_MEMORY_ATTACH=y
CONFIG_RTC_DRV_PCF85063=y
CONFIG_FB_TILEBLITTING=y
CONFIG_FPGA_BRIDGE=y
CONFIG_FB_VT8623=y
CONFIG_HAVE_KERNEL_GZIP=y
CONFIG_INTEL_SCU_IPC=y
CONFIG_SCSI_ARCMSR=y
CONFIG_INTEL_ATOMISP2_LED=y
CONFIG_CONTEXT_SWITCH_TRACER=y
CONFIG_SPI_LM70_LLP=y
CONFIG_CACHESTAT_SYSCALL=y
CONFIG_ARCH_HAS_STRICT_MODULE_RWX=y
CONFIG_EXPORTFS=y
CONFIG_INTEL_PMT_TELEMETRY=y
CONFIG_MFD_RT5120=y
CONFIG_GENERIC_CPU_VULNERABILITIES=y
CONFIG_SLAB_BUCKETS=y
CONFIG_LEDS_PCA9532_GPIO=y
CONFIG_AFFS_FS=y
CONFIG_PANEL=y
CONFIG_MTD_PHRAM=y
CONFIG_NEW_LEDS=y
CONFIG_ZONE_DEVICE=y
CONFIG_JOYSTICK_GRIP_MP=y
CONFIG_INPUT_GPIO_ROTARY_ENCODER=y
CONFIG_COMEDI_NI_MIO_CS=y
CONFIG_BLK_DEV_SD=y
CONFIG_TRACE_CLOCK=y
CONFIG_CGROUP_RDMA=y
CONFIG_MFD_INTEL_QUARK_I2C_GPIO=y
CONFIG_CRYPTO_KRB5ENC=y
CONFIG_TOUCHSCREEN_MAX11801=y
CONFIG_ADDRESS_MASKING=y
CONFIG_HAVE_IRQ_EXIT_ON_IRQ_STACK=y
CONFIG_HAVE_FUNCTION_TRACER=y
CONFIG_INPUT_IQS7222=y
CONFIG_JOYSTICK_TURBOGRAFX=y
CONFIG_ARCH_SUPPORTS_NUMA_BALANCING=y
CONFIG_MFD_MAX8907=y
CONFIG_COMMON_CLK=y
CONFIG_SSB_PCIHOST_POSSIBLE=y
CONFIG_CC_HAS_ASM_GOTO_OUTPUT=y
CONFIG_BSD_PROCESS_ACCT_V3=y
CONFIG_W1_SLAVE_DS2780=y
CONFIG_MEGARAID_MM=y
CONFIG_INPUT_RETU_PWRBUTTON=y
CONFIG_VIRTIO_MMIO=y
CONFIG_RTC_DRV_RC5T583=y
CONFIG_NLS_CODEPAGE_737=y
CONFIG_RCU_TORTURE_TEST_LOG_CPU=y
CONFIG_NAMESPACES=y
CONFIG_LIRC=y
CONFIG_MTD_DATAFLASH_WRITE_VERIFY=y
CONFIG_IOMMU_IOVA=y
CONFIG_AGP_SIS=y
CONFIG_PHY_PXA_28NM_HSIC=y
CONFIG_X86_DISABLED_FEATURE_RETPOLINE_LFENCE=y
CONFIG_TCG_TIS_CORE=y
CONFIG_NOP_TRACER=y
CONFIG_CHARGER_ADP5061=y
CONFIG_HAVE_CMPXCHG_DOUBLE=y
CONFIG_EVENT_TRACING=y
CONFIG_LEDS_MLXREG=y
CONFIG_TEST_POWER=y
CONFIG_LOCALVERSION_AUTO=y
CONFIG_FB_CFB_IMAGEBLIT=y
CONFIG_HOTPLUG_SPLIT_STARTUP=y
CONFIG_JFFS2_SUMMARY=y
CONFIG_REGULATOR_MT6358=y
CONFIG_TOOLS_SUPPORT_RELR=y
CONFIG_W1_SLAVE_DS2413=y
CONFIG_RING_BUFFER_STARTUP_TEST=y
CONFIG_LD_CAN_USE_KEEP_IN_OVERLAY=y
CONFIG_XOR_BLOCKS=y
CONFIG_CRYPTO_BLOWFISH_COMMON=y
CONFIG_TOUCHSCREEN_STMFTS=y
CONFIG_RTC_DRV_RX6110=y
CONFIG_CRC32_ARCH=y
CONFIG_TOUCHSCREEN_TOUCHIT213=y
CONFIG_IPMI_WATCHDOG=y
CONFIG_MTD_REDBOOT_PARTS=y
CONFIG_CRYPTO_LZ4=y
CONFIG_DEV_COREDUMP=y
CONFIG_NLS_ISO8859_2=y
CONFIG_ARCH_SUPPORTS_ACPI=y
CONFIG_CHARGER_BQ24190=y
CONFIG_MFD_TPS65912_I2C=y
CONFIG_JOYSTICK_AS5011=y
CONFIG_FB_DDC=y
CONFIG_BTRFS_FS_RUN_SANITY_TESTS=y
CONFIG_VIRTIO_RTC=y
CONFIG_MOST=y
CONFIG_BACKLIGHT_KTD2801=y
CONFIG_FPGA_MGR_LATTICE_SYSCONFIG_SPI=y
CONFIG_FB_IBM_GXT4500=y
CONFIG_FB_RIVA=y
CONFIG_CC_NO_ARRAY_BOUNDS=y
CONFIG_FUEL_GAUGE_MM8013=y
CONFIG_INPUT_IQS269A=y
CONFIG_NVMEM_SYSFS=y
CONFIG_PSTORE_COMPRESS=y
CONFIG_REGULATOR_TPS6507X=y
CONFIG_OVERLAY_FS_REDIRECT_DIR=y
CONFIG_SENSORS_HDAPS=y
CONFIG_RTC_DRV_DS3232=y
CONFIG_REGULATOR_MC13XXX_CORE=y
CONFIG_SECURITY_SAFESETID=y
CONFIG_WM8350_POWER=y
CONFIG_CONTEXT_TRACKING=y
CONFIG_I2C_MUX_MLXCPLD=y
CONFIG_BATTERY_MAX17042=y
CONFIG_BCMA=y
CONFIG_FUTEX_PRIVATE_HASH=y
CONFIG_HAVE_DYNAMIC_FTRACE=y
CONFIG_DS1682=y
CONFIG_CRYPTO_HASH2=y
CONFIG_DEBUG_OBJECTS_RCU_HEAD=y
CONFIG_I2C_DESIGNWARE_PCI=y
CONFIG_BCH=y
CONFIG_X86_DISABLED_FEATURE_CENTAUR_MCR=y
CONFIG_MTD_CMDLINE_PARTS=y
CONFIG_MOUSE_SERIAL=y
CONFIG_TRACING_BRANCHES=y
CONFIG_JOYSTICK_MAGELLAN=y
CONFIG_I2C_OCORES=y
CONFIG_CRYPTO_LIB_SHA1_ARCH=y
CONFIG_TOUCHSCREEN_BU21029=y
CONFIG_NUMA_MIGRATION=y
CONFIG_NLS_CODEPAGE_855=y
CONFIG_X86_PLATFORM_DEVICES=y
CONFIG_BATTERY_DS2782=y
CONFIG_RTC_DRV_DS1307=y
CONFIG_SPI_AXI_SPI_ENGINE=y
CONFIG_BITREVERSE=y
CONFIG_ARCH_WANTS_DYNAMIC_TASK_STRUCT=y
CONFIG_REGMAP_IRQ=y
CONFIG_ARCH_WANT_DEFAULT_BPF_JIT=y
CONFIG_TCG_TIS_I2C_NUVOTON=y
CONFIG_GPIO_MB86S7X=y
CONFIG_SCSI_DEBUG=y
CONFIG_SCSI_LOGGING=y
CONFIG_FB_SYS_IMAGEBLIT=y
CONFIG_FANOTIFY_ACCESS_PERMISSIONS=y
CONFIG_PROC_FS=y
CONFIG_COMEDI_ADV_PCI1710=y
CONFIG_BLK_DEV_WRITE_MOUNTED=y
CONFIG_ARCH_ENABLE_SPLIT_PMD_PTLOCK=y
CONFIG_GPIO_RC5T583=y
CONFIG_TRANSPARENT_HUGEPAGE=y
CONFIG_TEE=y
CONFIG_FONT_SUPPORT=y
CONFIG_INTEL_SCU_PCI=y
CONFIG_HAVE_ARCH_KASAN=y
CONFIG_ARCH_USE_CMPXCHG_LOCKREF=y
CONFIG_AGP=y
CONFIG_RAS=y
CONFIG_TRACE_IRQFLAGS_NMI=y
CONFIG_MFD_KEMPLD=y
CONFIG_HPET_TIMER=y
CONFIG_TOUCHSCREEN_MSG2638=y
CONFIG_PCSPKR_PLATFORM=y
CONFIG_842_DECOMPRESS=y
CONFIG_GET_FREE_REGION=y
CONFIG_SCHED_STACK_END_CHECK=y
CONFIG_ARCH_SUPPORTS_MSEAL_SYSTEM_MAPPINGS=y
CONFIG_TPS6507X=y
CONFIG_CRYPTO_LIB_CHACHA=y
CONFIG_I2C_CHARDEV=y
CONFIG_HAVE_JUMP_LABEL_HACK=y
CONFIG_SCHED_AUTOGROUP=y
CONFIG_HAVE_ARCH_KASAN_VMALLOC=y
CONFIG_MFD_SMPRO=y
CONFIG_SERIAL_EARLYCON=y
CONFIG_HAVE_MIXED_BREAKPOINTS_REGS=y
CONFIG_MULTIUSER=y
CONFIG_HAS_IOMEM=y
CONFIG_GPIOLIB_LEGACY=y
CONFIG_LEDS_PCA963X=y
CONFIG_GCC_PLUGIN_RANDSTRUCT=y
CONFIG_RUSTC_HAS_SPAN_FILE=y
CONFIG_QCOM_PBS=y
CONFIG_CRYPTO_SERPENT_AVX_X86_64=y
CONFIG_VT_CONSOLE=y
CONFIG_KERNEL_LZO=y
CONFIG_REGULATOR_ISL6271A=y
CONFIG_MTD_JEDECPROBE=y
CONFIG_ARCH_USES_PG_ARCH_2=y
CONFIG_ARCH_USE_QUEUED_RWLOCKS=y
CONFIG_VIRT_CPU_ACCOUNTING_GEN=y
CONFIG_CLOCKSOURCE_WATCHDOG=y
CONFIG_GPIO_DS4520=y
CONFIG_MEMREGION=y
CONFIG_INTEL_TH_PTI=y
CONFIG_X86_ESPFIX64=y
CONFIG_MPILIB=y
CONFIG_X86_DISABLED_FEATURE_FRED=y
CONFIG_GENERIC_SYSCALL=y
CONFIG_MTD_DOCG3=y
CONFIG_I2C_CCGX_UCSI=y
CONFIG_HZ_1000=y
CONFIG_FS_IOMAP=y
CONFIG_LEDS_TRIGGER_PANIC=y
CONFIG_TCG_TIS_I2C_ATMEL=y
CONFIG_SERIAL_CORE_CONSOLE=y
CONFIG_CPU_HOTPLUG_STATE_CONTROL=y
CONFIG_SMPRO_MISC=y
CONFIG_REGULATOR_USERSPACE_CONSUMER=y
CONFIG_REMOTEPROC=y
CONFIG_VIRTIO_ANCHOR=y
CONFIG_CRYPTO_CAMELLIA_AESNI_AVX2_X86_64=y
CONFIG_MTD_NAND_ECC_MXIC=y
CONFIG_BATTERY_CHAGALL=y
CONFIG_W1=y
CONFIG_NVME_AUTH=y
CONFIG_X86_P4_CLOCKMOD=y
CONFIG_PCIEASPM=y
CONFIG_REGULATOR_MT6315=y
CONFIG_TRACEFS_AUTOMOUNT_DEPRECATED=y
CONFIG_DEBUG_OBJECTS_FREE=y
CONFIG_MTD_CFI_UTIL=y
CONFIG_ARCH_HAVE_EXTRA_ELF_NOTES=y
CONFIG_SPI_AMD=y
CONFIG_SUSPEND_FREEZER=y
CONFIG_MSDOS_FS=y
CONFIG_PCI_DOMAINS=y
CONFIG_AMD_NB=y
CONFIG_CRYPTO_LIB_MLDSA=y
CONFIG_EDAC_MEM_REPAIR=y
CONFIG_GENERIC_ALLOCATOR=y
CONFIG_LEDS_TLC591XX=y
CONFIG_NLS_CODEPAGE_865=y
CONFIG_PACKING=y
CONFIG_COMEDI_CB_PCIMDDA=y
CONFIG_INPUT_DA9055_ONKEY=y
CONFIG_STANDALONE=y
CONFIG_NLS_MAC_ICELAND=y
CONFIG_ARCH_ENABLE_MEMORY_HOTPLUG=y
CONFIG_ZRAM_BACKEND_LZ4HC=y
CONFIG_MFD_ARIZONA=y
CONFIG_HAVE_OBJTOOL_NOP_MCOUNT=y
CONFIG_HAVE_ARCH_KSTACK_ERASE=y
CONFIG_AUXILIARY_BUS=y
CONFIG_MM_ID=y
CONFIG_SERIO_ALTERA_PS2=y
CONFIG_INTEL_PMT_DISCOVERY=y
CONFIG_HAVE_UNSTABLE_SCHED_CLOCK=y
CONFIG_CRYPTO_CAMELLIA=y
CONFIG_MFD_MT6397=y
CONFIG_SPI_XCOMM=y
CONFIG_SERIAL_CORE=y
CONFIG_HAVE_SETUP_PER_CPU_AREA=y
CONFIG_ARCH_SUPPORTS_KEXEC_HANDOVER=y
CONFIG_USB_OHCI_LITTLE_ENDIAN=y
CONFIG_CRYPTO_ARIA_AESNI_AVX_X86_64=y
CONFIG_AUXDISPLAY=y
CONFIG_HAVE_ARCH_JUMP_LABEL_RELATIVE=y
CONFIG_RTC_LIB=y
CONFIG_ARCH_USE_QUEUED_SPINLOCKS=y
CONFIG_EXT4_FS=y
CONFIG_PCI_PASID=y
CONFIG_NLS_ISO8859_13=y
CONFIG_REGULATOR_RT8092=y
CONFIG_BLK_CGROUP_PUNT_BIO=y
CONFIG_CRYPTO_CAST_COMMON=y
CONFIG_SPLIT_PMD_PTLOCKS=y
CONFIG_ARCH_HAS_SET_DIRECT_MAP=y
CONFIG_SCSI_AIC7XXX=y
CONFIG_EEPROM_M24LR=y
CONFIG_FW_LOADER_USER_HELPER=y
CONFIG_MFD_CGBC=y
CONFIG_LINEAR_RANGES=y
CONFIG_TMPFS_XATTR=y
CONFIG_XILINX_PR_DECOUPLER=y
CONFIG_ARCH_WANT_GENERAL_HUGETLB=y
CONFIG_LEDS_TRIGGER_ONESHOT=y
CONFIG_COMEDI_PCMCIA_DRIVERS=y
CONFIG_CPU_FREQ_GOV_SCHEDUTIL=y
CONFIG_DCACHE_WORD_ACCESS=y
CONFIG_VIRTIO_PCI_ADMIN_LEGACY=y
CONFIG_COMEDI_AMPLC_DIO200_PCI=y
CONFIG_ZONE_DMA=y
CONFIG_COMEDI_ADV_PCI_DIO=y
CONFIG_HOTPLUG_PARALLEL=y
CONFIG_CRYPTO_DH_RFC7919_GROUPS=y
CONFIG_EXECMEM=y
CONFIG_STACKTRACE=y
CONFIG_MFD_RT5033=y
CONFIG_CRYPTO_SHA512=y
CONFIG_SERIAL_8250_CONSOLE=y
CONFIG_JOYSTICK_GAMECON=y
CONFIG_PCIEAER=y
CONFIG_RTC_DRV_R9701=y
CONFIG_BIG_KEYS=y
CONFIG_CB710_DEBUG_ASSUMPTIONS=y
CONFIG_CRYPTO_JITTERENTROPY=y
CONFIG_CRYPTO_AUTHENC=y
CONFIG_ZSMALLOC=y
CONFIG_HAVE_FENTRY=y
CONFIG_HAVE_SAMPLE_FTRACE_DIRECT=y
CONFIG_I2C_I801=y
CONFIG_COMEDI_ADL_PCI7X3X=y
CONFIG_RANDOMIZE_MEMORY=y
CONFIG_COMEDI_TESTS=y
CONFIG_F2FS_FS_XATTR=y
CONFIG_EDAC_I3200=y
CONFIG_HARDLOCKUP_DETECTOR_PERF=y
CONFIG_LEDS_TRIGGER_BACKLIGHT=y
CONFIG_GPIO_RDC321X=y
CONFIG_ARCH_SUPPORTS_KEXEC_FILE=y
CONFIG_LEDS_RT8515=y
CONFIG_JOYSTICK_GRIP=y
CONFIG_RTC_INTF_SYSFS=y
CONFIG_MTRR=y
CONFIG_FS_MBCACHE=y
CONFIG_SENSORS_LIS3_SPI=y
CONFIG_INPUT_APANEL=y
CONFIG_HAVE_OPTPROBES=y
CONFIG_HAVE_HW_BREAKPOINT=y
CONFIG_NLS_MAC_GREEK=y
CONFIG_SCSI_DH_EMC=y
CONFIG_NTSYNC=y
CONFIG_MFD_TPS6594_I2C=y
CONFIG_POWER_SUPPLY=y
CONFIG_X86_REQUIRED_FEATURE_SYSFAST32=y
CONFIG_TOUCHSCREEN_ADS7846=y
CONFIG_ARCH_STACKWALK=y
CONFIG_ARCH_USE_MEMTEST=y
CONFIG_GPIO_LP873X=y
CONFIG_FTRACE_SELFTEST=y
CONFIG_F2FS_FS_SECURITY=y
CONFIG_X86_GOLDFISH=y
CONFIG_SPI_XILINX=y
CONFIG_LEDS_LM3532=y
CONFIG_PCI_LOCKLESS_CONFIG=y
CONFIG_PERF_EVENTS_INTEL_UNCORE=y
CONFIG_I2C_MUX_GPIO=y
CONFIG_RAID6_PQ_BENCHMARK=y
CONFIG_INTEL_TPMI_POWER_DOMAINS=y
CONFIG_PER_VMA_LOCK_STATS=y
CONFIG_MTD_GEN_PROBE=y
CONFIG_INTEL_TPMI=y
CONFIG_DEBUG_RT_MUTEXES=y
CONFIG_COMEDI_S626=y
CONFIG_REGULATOR_MT6397=y
CONFIG_IRQ_DOMAIN=y
CONFIG_PCIEAER_INJECT=y
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO=y
CONFIG_MFD_MAX5970=y
CONFIG_TIMERFD=y
CONFIG_BUG=y
CONFIG_PCI_ENDPOINT_TEST=y
CONFIG_PCI_DIRECT=y
CONFIG_CONSOLE_TRANSLATIONS=y
CONFIG_MTD_REDBOOT_PARTS_UNALLOCATED=y
CONFIG_GPIO_SIM=y
CONFIG_HAVE_OBJTOOL=y
CONFIG_HAVE_RELIABLE_STACKTRACE=y
CONFIG_W1_SLAVE_DS2431=y
CONFIG_SCHED_INFO=y
CONFIG_SCSI_DH=y
CONFIG_MFD_MC13XXX_SPI=y
CONFIG_RTC_DRV_RS5C372=y
CONFIG_NEED_SG_DMA_FLAGS=y
CONFIG_CRYPTO_SEQIV=y
CONFIG_GPIO_ARIZONA=y
CONFIG_CRYPTO_HASH_INFO=y
CONFIG_NVME_TARGET_PASSTHRU=y
CONFIG_FB_IOMEM_FOPS=y
CONFIG_REGULATOR_RT4803=y
CONFIG_REGULATOR_QCOM_USB_VBUS=y
CONFIG_MTD_MAP_BANK_WIDTH_2=y
CONFIG_PCI_TSM=y
CONFIG_SERIAL_8250_MID=y
CONFIG_SERIO_SERPORT=y
CONFIG_RTC_DRV_RX4581=y
CONFIG_DAMON_DEBUG_SANITY=y
CONFIG_MUX_ADG792A=y
CONFIG_RUSTC_HAS_FILE_WITH_NUL=y
CONFIG_BATTERY_CHARGER_SURFACE_RT=y
CONFIG_HAVE_PERF_EVENTS_NMI=y
CONFIG_SWIOTLB_DYNAMIC=y
CONFIG_FB_NVIDIA=y
CONFIG_CHARGER_BQ25980=y
CONFIG_HEADERS_INSTALL=y
CONFIG_CARMINE_DRAM_CUSTOM=y
CONFIG_REGULATOR_TPS6105X=y
CONFIG_LZ4_COMPRESS=y
CONFIG_SCSI_LOWLEVEL=y
CONFIG_CRAMFS_BLOCKDEV=y
CONFIG_PAGE_OWNER=y
CONFIG_INPUT_DRV2667_HAPTICS=y
CONFIG_FUSE_FS=y
CONFIG_KGDB_TESTS=y
CONFIG_CHR_DEV_ST=y
CONFIG_X86_CET=y
CONFIG_HAS_DMA=y
CONFIG_I3C_OR_I2C=y
CONFIG_MOUSE_PS2_SENTELIC=y
CONFIG_QUEUED_SPINLOCKS=y
CONFIG_X86_KERNEL_IBT=y
CONFIG_CRYPTO_ACOMP2=y
CONFIG_BATTERY_UG3105=y
CONFIG_F2FS_IOSTAT=y
CONFIG_TIFM_CORE=y
CONFIG_RAVE_SP_CORE=y
CONFIG_REGULATOR_RT6160=y
CONFIG_REGULATOR_RTQ2134=y
CONFIG_BACKLIGHT_PANDORA=y
CONFIG_DEBUG_VM_PGTABLE=y
CONFIG_GPIO_TWL6040=y
CONFIG_INPUT_MOUSE=y
CONFIG_REGULATOR_MT6357=y
