CONFIG_NFS_ACL_SUPPORT=n
CONFIG_KERNFS=n
CONFIG_MD_AUTODETECT=n
CONFIG_VGA_CONSOLE=n
CONFIG_ATA_FORCE=n
CONFIG_ARCH_WANT_LD_ORPHAN_WARN=n
CONFIG_CRYPTO_CMAC=n
CONFIG_NF_REJECT_IPV4=n
CONFIG_HAVE_ALIGNED_STRUCT_PAGE=n
CONFIG_CRYPTO_SEQIV=n
CONFIG_RTC_I2C_AND_SPI=n
CONFIG_CPU_FREQ=n
CONFIG_MITIGATION_SRBDS=n
CONFIG_ARCH_WANT_OLD_COMPAT_IPC=n
CONFIG_I2C_HID=n
CONFIG_INTEGRITY=n
CONFIG_NET_EMATCH=n
CONFIG_FUNCTION_ALIGNMENT_4B=n
CONFIG_MQ_IOSCHED_DEADLINE=n
CONFIG_RATIONAL=n
CONFIG_HAVE_CALL_THUNKS=n
CONFIG_PNP=n
CONFIG_ARCH_SUPPORTS_CRASH_HOTPLUG=n
CONFIG_HAVE_FUNCTION_ERROR_INJECTION=n
CONFIG_RCU_TRACE=n
CONFIG_X86_BOOTPARAM_MEMORY_CORRUPTION_CHECK=n
CONFIG_X86_REROUTE_FOR_BROKEN_BOOT_IRQS=n
CONFIG_CRC_CCITT=n
CONFIG_CC_HAS_MARCH_NATIVE=n
CONFIG_EEPROM_93CX6=n
CONFIG_MITIGATION_SRSO=n
CONFIG_SPARSEMEM=n
CONFIG_SERIAL_8250=n
CONFIG_X86_ACPI_CPUFREQ_CPB=n
CONFIG_DEVTMPFS=n
CONFIG_CC_HAS_NO_PROFILE_FN_ATTR=n
CONFIG_VIRTIO=n
CONFIG_INTEGRITY_AUDIT=n
CONFIG_MITIGATION_UNRET_ENTRY=n
CONFIG_SERIAL_8250_LPSS=n
CONFIG_NETFILTER_XT_TARGET_CONNSECMARK=n
CONFIG_HAVE_FTRACE_REGS_HAVING_PT_REGS=n
CONFIG_AIO=n
CONFIG_TCP_CONG_ADVANCED=n
CONFIG_NF_CONNTRACK=n
CONFIG_COREDUMP=n
CONFIG_RUSTC_HAS_SPAN_FILE=n
CONFIG_NETFILTER_XT_MATCH_STATE=n
CONFIG_IP_PIMSM_V1=n
CONFIG_SND_PROC_FS=n
CONFIG_ARCH_MHP_MEMMAP_ON_MEMORY_ENABLE=n
CONFIG_SECCOMP=n
CONFIG_UCS2_STRING=n
CONFIG_CPU_FREQ_GOV_SCHEDUTIL=n
CONFIG_NETFILTER_XT_TARGET_SECMARK=n
CONFIG_SERIAL_8250_DETECT_IRQ=n
CONFIG_HOTPLUG_CPU=n
CONFIG_BUG=n
CONFIG_PROC_KCORE=n
CONFIG_INIT_STACK_ALL_ZERO=n
CONFIG_UNWINDER_ORC=n
CONFIG_HAVE_ARCH_KCSAN=n
CONFIG_X86_INTEL_MEMORY_PROTECTION_KEYS=n
CONFIG_NF_CONNTRACK_SECMARK=n
CONFIG_NET_VENDOR_SUN=n
CONFIG_GENERIC_BITREVERSE=n
CONFIG_SPARSEMEM_VMEMMAP_PREINIT=n
CONFIG_ARCH_USE_QUEUED_SPINLOCKS=n
CONFIG_USB_DEFAULT_PERSIST=n
CONFIG_FAT_FS=n
CONFIG_NET_VENDOR_MICROSEMI=n
CONFIG_MICROCODE=n
CONFIG_CPU_FREQ_GOV_ATTR_SET=n
CONFIG_NET_VENDOR_XIRCOM=n
CONFIG_IP_PNP_DHCP=n
CONFIG_X86_TSC=n
CONFIG_ZONE_DMA=n
CONFIG_AF_UNIX_OOB=n
CONFIG_FTRACE=n
CONFIG_XZ_DEC_ARM=n
CONFIG_NET_VENDOR_GOOGLE=n
CONFIG_X86_ACPI_CPUFREQ=n
CONFIG_ARCH_SUPPORTS_PER_VMA_LOCK=n
CONFIG_HAVE_ARCH_TRACEHOOK=n
CONFIG_X86_PAT=n
CONFIG_INPUT_MOUSE=n
CONFIG_ACPI_SYSTEM_POWER_STATES_SUPPORT=n
CONFIG_SIGNALFD=n
CONFIG_MAC_EMUMOUSEBTN=n
CONFIG_E1000E_HWTS=n
CONFIG_IRQ_DOMAIN_HIERARCHY=n
CONFIG_ELF_CORE=n
CONFIG_THERMAL_GOV_STEP_WISE=n
CONFIG_X86_MCE=n
CONFIG_HAVE_CMPXCHG_DOUBLE=n
CONFIG_ARCH_WANT_OPTIMIZE_DAX_VMEMMAP=n
CONFIG_ARCH_WANTS_NO_INSTR=n
CONFIG_NETWORK_SECMARK=n
CONFIG_NETFILTER_XT_MARK=n
CONFIG_GENERIC_ALLOCATOR=n
CONFIG_PHYS_ADDR_T_64BIT=n
CONFIG_PROFILING=n
CONFIG_MAC80211_HAS_RC=n
CONFIG_EFI_MIXED=n
CONFIG_THREAD_INFO_IN_TASK=n
CONFIG_QUOTACTL=n
CONFIG_ACPI_THERMAL_LIB=n
CONFIG_HAVE_JUMP_LABEL_HACK=n
CONFIG_X86_VMX_FEATURE_NAMES=n
CONFIG_GCC_NO_STRINGOP_OVERFLOW=n
CONFIG_CRYPTO_MANAGER2=n
CONFIG_HAVE_MIXED_BREAKPOINTS_REGS=n
CONFIG_CRYPTO_RSA=n
CONFIG_HOTPLUG_CORE_SYNC_DEAD=n
CONFIG_X86_PM_TIMER=n
CONFIG_SYSVIPC=n
CONFIG_SECURITY_SELINUX=n
CONFIG_PCI_MSI=n
CONFIG_XZ_DEC_X86=n
CONFIG_SECURITY_SELINUX_AVC_STATS=n
CONFIG_SUSPEND_FREEZER=n
CONFIG_PCPU_DEV_REFCNT=n
CONFIG_CC_HAS_NAMED_AS=n
CONFIG_RTC_LIB=n
CONFIG_DMIID=n
CONFIG_ATA_PIIX=n
CONFIG_BRANCH_PROFILE_NONE=n
CONFIG_WLAN_VENDOR_MICROCHIP=n
CONFIG_EXPORTFS=n
CONFIG_SERIAL_8250_SHARE_IRQ=n
CONFIG_IOSF_MBI=n
CONFIG_ARCH_HAS_ACPI_TABLE_UPGRADE=n
CONFIG_GENERIC_CLOCKEVENTS_COUPLED=n
CONFIG_NETFILTER_SKIP_EGRESS=n
CONFIG_WMI_BMOF=n
CONFIG_BLK_DEV_WRITE_MOUNTED=n
CONFIG_HAVE_LIVEPATCH=n
CONFIG_GENERIC_BUG_RELATIVE_POINTERS=n
CONFIG_CFG80211_REQUIRE_SIGNED_REGDB=n
CONFIG_SERIO=n
CONFIG_VIDEO=n
CONFIG_LDISC_AUTOLOAD=n
CONFIG_EARLY_PRINTK=n
CONFIG_VIRTIO_DMA_SHARED_BUFFER=n
CONFIG_ARCH_SUPPORTS_LTO_CLANG=n
CONFIG_HAVE_ARCH_SECCOMP=n
CONFIG_KPROBE_EVENTS=n
CONFIG_HAS_DMA=n
CONFIG_NET_VENDOR_ADAPTEC=n
CONFIG_SPARSEMEM_VMEMMAP_ENABLE=n
CONFIG_INTEL_IOMMU_SCALABLE_MODE_DEFAULT_ON=n
CONFIG_CONTEXT_SWITCH_TRACER=n
CONFIG_DCACHE_WORD_ACCESS=n
CONFIG_CRYPTO_LIB_SHA256_ARCH=n
CONFIG_OLD_SIGSUSPEND3=n
CONFIG_MMU_GATHER_TABLE_FREE=n
CONFIG_NLS_CODEPAGE_437=n
CONFIG_NET_VENDOR_FUNGIBLE=n
CONFIG_AUDIT_ARCH=n
CONFIG_KRETPROBE_ON_RETHOOK=n
CONFIG_X86_HV_CALLBACK_VECTOR=n
CONFIG_WLAN_VENDOR_ADMTEK=n
CONFIG_CRC32_ARCH=n
CONFIG_FWNODE_MDIO=n
CONFIG_ARCH_HAS_NONLEAF_PMD_YOUNG=n
CONFIG_X86_DISABLED_FEATURE_VME=n
CONFIG_NVMEM=n
CONFIG_USB_HID=n
CONFIG_ARCH_SUPPORTS_RT=n
CONFIG_GENERIC_EARLY_IOREMAP=n
CONFIG_X509_CERTIFICATE_PARSER=n
CONFIG_ARCH_PROC_KCORE_TEXT=n
CONFIG_FIRMWARE_TABLE=n
CONFIG_NET_VENDOR_SAMSUNG=n
CONFIG_BLK_DEV_IO_TRACE=n
CONFIG_PCIEASPM=n
CONFIG_FILE_LOCKING=n
CONFIG_KVFREE_RCU_BATCHED=n
CONFIG_NEED_TASKS_RCU=n
CONFIG_TIME_NS_VDSO=n
CONFIG_NET_VENDOR_DAVICOM=n
CONFIG_NETFILTER=n
CONFIG_MULTIUSER=n
CONFIG_ARCH_HAS_STRICT_KERNEL_RWX=n
CONFIG_FREEZER=n
CONFIG_CRYPTO_CTR=n
CONFIG_PANTHERLORD_FF=n
CONFIG_ARCH_MAY_HAVE_PC_FDC=n
CONFIG_I3C_OR_I2C=n
CONFIG_CRYPTO_LZO=n
CONFIG_CPU_ISOLATION=n
CONFIG_SUNRPC=n
CONFIG_YENTA_ENE_TUNE=n
CONFIG_PROC_PID_ARCH_STATUS=n
CONFIG_CGROUP_SCHED=n
CONFIG_IOMMU_IOVA=n
CONFIG_NET_VENDOR_SOCIONEXT=n
CONFIG_HID_PID=n
CONFIG_MODULES=n
CONFIG_CONSOLE_TRANSLATIONS=n
CONFIG_PREEMPT_BUILD=n
CONFIG_NF_REJECT_IPV6=n
CONFIG_VT_CONSOLE_SLEEP=n
CONFIG_X86_REQUIRED_FEATURE_PSE=n
CONFIG_ARCH_SUPPORTS_MSEAL_SYSTEM_MAPPINGS=n
CONFIG_GENERIC_PT=n
CONFIG_INSTRUCTION_DECODER=n
CONFIG_PM_TRACE_RTC=n
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST_IDLE=n
CONFIG_SND_TIMER=n
CONFIG_USB_ANNOUNCE_NEW_DEVICES=n
CONFIG_HIBERNATION_COMP_LZO=n
CONFIG_AUTOFS_FS=n
CONFIG_ARCH_WANT_HUGE_PMD_SHARE=n
CONFIG_DRM_DISPLAY_HDMI_HELPER=n
CONFIG_PCI_QUIRKS=n
CONFIG_DEBUG_DEVRES=n
CONFIG_MITIGATION_ITS=n
CONFIG_POWER_SUPPLY=n
CONFIG_EFI_PARTITION=n
CONFIG_NET_VENDOR_SEEQ=n
CONFIG_STACKDEPOT=n
CONFIG_NET_VENDOR_TEHUTI=n
CONFIG_MODULE_UNLOAD=n
CONFIG_SATA_PMP=n
CONFIG_ADVISE_SYSCALLS=n
CONFIG_SND_SEQ_DUMMY=n
CONFIG_GENERIC_IRQ_MIGRATION=n
CONFIG_BLK_DEV_BSG=n
CONFIG_DECOMPRESS_BZIP2=n
CONFIG_NF_LOG_IPV6=n
CONFIG_BACKLIGHT_CLASS_DEVICE=n
CONFIG_ARCH_HAS_KCOV=n
CONFIG_ARCH_HAS_CPU_PASID=n
CONFIG_CRYPTO_AES=n
CONFIG_MITIGATION_IBPB_ENTRY=n
CONFIG_X86_MPPARSE=n
CONFIG_SND_SEQUENCER=n
CONFIG_CRYPTO_ALGAPI2=n
CONFIG_INTEL_TCC=n
CONFIG_ARCH_WANTS_CLOCKSOURCE_READ_INLINE=n
CONFIG_GROUP_SCHED_WEIGHT=n
CONFIG_PNP_DEBUG_MESSAGES=n
CONFIG_HAVE_KERNEL_LZMA=n
CONFIG_NO_HZ=n
CONFIG_HAVE_NMI=n
CONFIG_NET_CLS_CGROUP=n
CONFIG_NET_VENDOR_I825XX=n
CONFIG_SND_HDA_COMPONENT=n
CONFIG_HAVE_ARCH_KSTACK_ERASE=n
CONFIG_NF_NAT_MASQUERADE=n
CONFIG_DRM_VIRTIO_GPU=n
CONFIG_RSEQ=n
CONFIG_CRYPTO_SIG=n
CONFIG_HAVE_SETUP_PER_CPU_AREA=n
CONFIG_EPROBE_EVENTS=n
CONFIG_ARCH_WANT_HUGETLB_VMEMMAP_PREINIT=n
CONFIG_PM=n
CONFIG_SOCK_CGROUP_DATA=n
CONFIG_CRYPTO_AKCIPHER=n
CONFIG_CRYPTO_LIB_SHA512_ARCH=n
CONFIG_RFKILL_INPUT=n
CONFIG_ARCH_HAS_NMI_SAFE_THIS_CPU_OPS=n
CONFIG_ARCH_WANT_GENERAL_HUGETLB=n
CONFIG_DRM_CLIENT_SELECTION=n
CONFIG_NET_VENDOR_VERTEXCOM=n
CONFIG_ACPI_PROCESSOR_IDLE=n
CONFIG_HUGETLB_PAGE_OPTIMIZE_VMEMMAP=n
CONFIG_PCIE_PME=n
CONFIG_WATCHDOG=n
CONFIG_IPV6=n
CONFIG_DEBUG_KERNEL=n
CONFIG_RWSEM_SPIN_ON_OWNER=n
CONFIG_PGTABLE_HAS_HUGE_LEAVES=n
CONFIG_SND_INTEL_SOUNDWIRE_ACPI=n
CONFIG_NET_VENDOR_MICROCHIP=n
CONFIG_ARCH_SUPPORTS_SCHED_SMT=n
CONFIG_X86_64=n
CONFIG_HAVE_UID16=n
CONFIG_HW_RANDOM=n
CONFIG_X86_DISABLED_FEATURE_SEV_SNP=n
CONFIG_ARCH_HAS_CPU_CACHE_INVALIDATE_MEMREGION=n
CONFIG_MOUSE_PS2_LOGIPS2PP=n
CONFIG_RD_BZIP2=n
CONFIG_UNIX=n
CONFIG_QUOTA_TREE=n
CONFIG_GPIOLIB_LEGACY=n
CONFIG_ROOT_NFS=n
CONFIG_MISC_FILESYSTEMS=n
CONFIG_MITIGATION_TSA=n
CONFIG_ASN1=n
CONFIG_MITIGATION_SPECTRE_V1=n
CONFIG_ARCH_SUPPORTS_KEXEC_FILE=n
CONFIG_NET=n
CONFIG_PCCARD_NONSTATIC=n
CONFIG_SYN_COOKIES=n
CONFIG_HAVE_GENERIC_TIF_BITS=n
CONFIG_IOMMU_PT_X86_64=n
CONFIG_USB_UHCI_HCD=n
CONFIG_XFRM_USER=n
