CONFIG_ARCH_SUPPORTS_CRASH_DUMP=n
CONFIG_SPI_CADENCE_QUADSPI=n
CONFIG_USB_CDNS_SUPPORT=n
CONFIG_DMA_NONCOHERENT_MMAP=n
CONFIG_EFI_STUB=n
CONFIG_XOR_BLOCKS_ARCH=n
CONFIG_NET_VENDOR_RDC=n
CONFIG_I2C_BOARDINFO=n
CONFIG_XZ_DEC_X86=n
CONFIG_INET=n
CONFIG_KCMP=n
CONFIG_ARCH_HAS_SETUP_DMA_OPS=n
CONFIG_SPARSEMEM=n
CONFIG_CPU_FREQ_GOV_POWERSAVE=n
CONFIG_GENERIC_NET_UTILS=n
CONFIG_TICK_ONESHOT=n
CONFIG_MMC_SDHCI_IO_ACCESSORS=n
CONFIG_CPU_FREQ_GOV_PERFORMANCE=n
CONFIG_ACPI_THERMAL=n
CONFIG_SUN6I_RTC_CCU=n
CONFIG_NET_SOCK_MSG=n
CONFIG_SOC_STARFIVE=n
CONFIG_ARCH_HAS_ELF_CORE_EFLAGS=n
CONFIG_WLAN_VENDOR_RALINK=n
CONFIG_BLK_DEV_WRITE_MOUNTED=n
CONFIG_ELF_CORE=n
CONFIG_MMC_DW=n
CONFIG_NET_VENDOR_MICROSOFT=n
CONFIG_CRYPTO_USER_API_HASH=n
CONFIG_HAVE_GENERIC_VDSO=n
CONFIG_SPLIT_PTE_PTLOCKS=n
CONFIG_I2C=n
CONFIG_GENERIC_STRNCPY_FROM_USER=n
CONFIG_CPU_FREQ_THERMAL=n
CONFIG_OF_FLATTREE=n
CONFIG_USB_CONFIGFS_NCM=n
CONFIG_HAVE_SOFTIRQ_ON_OWN_STACK=n
CONFIG_RISCV_ISA_ZBKB=n
CONFIG_DRM_DISPLAY_HDMI_HELPER=n
CONFIG_DMA_NEED_SYNC=n
CONFIG_GRO_CELLS=n
CONFIG_USB_CONFIGFS_RNDIS=n
CONFIG_MEMBARRIER=n
CONFIG_PCI_LABEL=n
CONFIG_USB_NET_DRIVERS=n
CONFIG_GCC10_NO_ARRAY_BOUNDS=n
CONFIG_PCI_MSI=n
CONFIG_CC_HAS_ASM_GOTO_OUTPUT=n
CONFIG_RISCV_ISA_ZBB=n
CONFIG_BTRFS_FS_POSIX_ACL=n
CONFIG_NO_HZ_COMMON=n
CONFIG_HAVE_BUILDTIME_MCOUNT_SORT=n
CONFIG_IO_URING_BPF=n
CONFIG_SND_DESIGNWARE_I2S=n
CONFIG_CLK_STARFIVE_JH71X0=n
CONFIG_CFS_BANDWIDTH=n
CONFIG_SATA_AHCI_PLATFORM=n
CONFIG_SUN50I_IOMMU=n
CONFIG_TIMER_PROBE=n
CONFIG_PHYLINK=n
CONFIG_INET_TUNNEL=n
CONFIG_ARCH_HAS_USER_SHADOW_STACK=n
CONFIG_VIRTIO_BALLOON=n
CONFIG_NET_VENDOR_SOCIONEXT=n
CONFIG_DRM_BRIDGE=n
CONFIG_VIRTIO_PCI=n
CONFIG_CRYPTO_ENGINE=n
CONFIG_BRIDGE_VLAN_FILTERING=n
CONFIG_FB_CFB_IMAGEBLIT=n
CONFIG_ARCH_CANAAN=n
CONFIG_NET_VENDOR_XILINX=n
CONFIG_RESET_SUNXI=n
CONFIG_WLAN_VENDOR_ST=n
CONFIG_PORTABLE=n
CONFIG_PREEMPT_COUNT=n
CONFIG_WLAN_VENDOR_QUANTENNA=n
CONFIG_CLK_STARFIVE_JH7110_PLL=n
CONFIG_WLAN_VENDOR_RSI=n
CONFIG_AUDIT=n
CONFIG_SBITMAP=n
CONFIG_HAVE_ARCH_MMAP_RND_COMPAT_BITS=n
CONFIG_JBD2=n
CONFIG_SATA_PMP=n
CONFIG_NET_VENDOR_VIA=n
CONFIG_DMADEVICES=n
CONFIG_HAVE_KVM_READONLY_MEM=n
CONFIG_ARCH_USE_QUEUED_SPINLOCKS=n
CONFIG_HAVE_RSEQ=n
CONFIG_CRYPTO_RSA=n
CONFIG_LOCK_DEBUGGING_SUPPORT=n
CONFIG_NETWORK_SECMARK=n
CONFIG_PINCTRL_SUN20I_D1=n
CONFIG_KERNEL_GZIP=n
CONFIG_NET_VENDOR_AMD=n
CONFIG_WLAN_VENDOR_MEDIATEK=n
CONFIG_SYSCTL=n
CONFIG_BLK_DEV_DM=n
CONFIG_CC_HAS_KASAN_GENERIC=n
CONFIG_RISCV_VECTOR_MISALIGNED=n
CONFIG_HAVE_KVM_IRQCHIP=n
CONFIG_VHOST_MENU=n
CONFIG_NET_CORE=n
CONFIG_NET_VENDOR_NI=n
CONFIG_PCIEPORTBUS=n
CONFIG_REGULATOR_SPACEMIT_P1=n
CONFIG_SND_SOC_I2C_AND_SPI=n
CONFIG_CRYPTO_SEQIV=n
CONFIG_ARCH_HAS_KCOV=n
CONFIG_XZ_DEC_BCJ=n
CONFIG_STACKPROTECTOR_PER_TASK=n
CONFIG_AS_IS_GNU=n
CONFIG_RTC_I2C_AND_SPI=n
CONFIG_DMA_DECLARE_COHERENT=n
CONFIG_USB_F_ECM=n
CONFIG_NETFILTER_INGRESS=n
CONFIG_CAN_CALC_BITTIMING=n
CONFIG_DRM_SUN4I=n
CONFIG_DEVMEM=n
CONFIG_SECURITY_SELINUX_AVC_STATS=n
CONFIG_CLK_ANALOGBITS_WRPLL_CLN28HPC=n
CONFIG_SYMBOLIC_ERRNAME=n
CONFIG_CPU_ISOLATION=n
CONFIG_POSIX_CPU_TIMERS_TASK_WORK=n
CONFIG_VLAN_8021Q=n
CONFIG_POWER_RESET_SYSCON_POWEROFF=n
CONFIG_DEBUG_INFO_NONE=n
CONFIG_ARM_AMBA=n
CONFIG_ERRATA_THEAD_GHOSTWRITE=n
CONFIG_EXTCON=n
CONFIG_PCI=n
CONFIG_HAVE_FUNCTION_GRAPH_FREGS=n
CONFIG_I2C_HID=n
CONFIG_ARCH_HAS_UBSAN=n
CONFIG_NETFILTER_XTABLES=n
CONFIG_RISCV_ISA_FALLBACK=n
CONFIG_RCU_STALL_COMMON=n
CONFIG_PWM_PXA=n
CONFIG_BLK_CGROUP_RWSTAT=n
CONFIG_ARCH_STACKWALK=n
CONFIG_ARCH_WANT_DEFAULT_TOPDOWN_MMAP_LAYOUT=n
CONFIG_TRACING_SUPPORT=n
CONFIG_TCP_CONG_CUBIC=n
CONFIG_NET_VENDOR_NVIDIA=n
CONFIG_CRYPTO_ALGAPI=n
CONFIG_SECURITY_APPARMOR_INTROSPECT_POLICY=n
CONFIG_VIRTIO_ANCHOR=n
CONFIG_INPUT_EVDEV=n
CONFIG_CC_HAS_COUNTED_BY=n
CONFIG_DWMAC_SOPHGO=n
CONFIG_SPI=n
CONFIG_ARCH_WANT_BATCHED_UNMAP_TLB_FLUSH=n
CONFIG_SSB_POSSIBLE=n
CONFIG_BLK_ICQ=n
CONFIG_ZSTD_DECOMPRESS=n
CONFIG_ARCH_SUPPORTS_LTO_CLANG_THIN=n
CONFIG_SERIAL_8250_PCILIB=n
CONFIG_DRM_VIRTIO_GPU_KMS=n
CONFIG_OF_RESERVED_MEM=n
CONFIG_RISCV_NONSTANDARD_CACHE_OPS=n
CONFIG_NET_VENDOR_MICREL=n
CONFIG_ARCH_SUNXI=n
CONFIG_DRM_PANEL_ORIENTATION_QUIRKS=n
CONFIG_RISCV_USER_CFI=n
CONFIG_CRYPTO_LIB_GF128HASH=n
CONFIG_NET_VENDOR_ADI=n
CONFIG_USB_F_ACM=n
CONFIG_SND_SOC_SDCA_OPTIONAL=n
CONFIG_NET_VENDOR_PENSANDO=n
CONFIG_USB_F_SERIAL=n
CONFIG_NET_DEVLINK=n
CONFIG_RESET_SPACEMIT_K1=n
CONFIG_OVERLAY_FS_REDIRECT_ALWAYS_FOLLOW=n
CONFIG_DEVPORT=n
CONFIG_FW_LOADER=n
CONFIG_SUNRPC=n
CONFIG_BPF_UNPRIV_DEFAULT_OFF=n
CONFIG_NETFILTER_EGRESS=n
CONFIG_9P_FS=n
CONFIG_RISCV_ISA_V_DEFAULT_ENABLE=n
CONFIG_BLK_DEV_THROTTLING=n
CONFIG_LOCKDEP_SUPPORT=n
CONFIG_DMA_ACPI=n
CONFIG_RISCV_ISA_SUPM=n
CONFIG_BACKLIGHT_CLASS_DEVICE=n
CONFIG_DEVTMPFS=n
CONFIG_NET_VENDOR_WANGXUN=n
CONFIG_OF_MDIO=n
CONFIG_GROUP_SCHED_WEIGHT=n
CONFIG_NFS_V4=n
CONFIG_HAVE_GCC_PLUGINS=n
CONFIG_CGROUP_HUGETLB=n
CONFIG_OF_EARLY_FLATTREE=n
CONFIG_ARCH_SUPPORTS_DEBUG_PAGEALLOC=n
CONFIG_ARCH_ENABLE_MEMORY_HOTPLUG=n
CONFIG_HUGETLB_PAGE=n
CONFIG_PCC=n
CONFIG_CRYPTO_GENIV=n
CONFIG_RESET_STARFIVE_JH7110=n
CONFIG_DRM_DISPLAY_DP_HELPER=n
CONFIG_RD_GZIP=n
CONFIG_IP_VS_NFCT=n
CONFIG_SUN20I_D1_R_CCU=n
CONFIG_THERMAL_DEFAULT_GOV_STEP_WISE=n
CONFIG_RPMSG_NS=n
CONFIG_NETFILTER=n
CONFIG_FAT_FS=n
CONFIG_CRYPTO_SHA512=n
CONFIG_CPUFREQ_DT=n
CONFIG_PGTABLE_HAS_HUGE_LEAVES=n
CONFIG_SLAB_MERGE_DEFAULT=n
CONFIG_HAVE_DEBUG_KMEMLEAK=n
CONFIG_NET_SCHED=n
CONFIG_SYSCTL_ARCH_UNALIGN_ALLOW=n
CONFIG_MMC_DW_STARFIVE=n
CONFIG_NFS_DISABLE_UDP_SUPPORT=n
CONFIG_MEMCG=n
CONFIG_XZ_DEC_ARM=n
CONFIG_SYSVIPC_SYSCTL=n
CONFIG_ARCH_SPARSEMEM_ENABLE=n
CONFIG_RISCV_PROBE_UNALIGNED_ACCESS=n
CONFIG_CGROUPS=n
CONFIG_ARCH_MHP_MEMMAP_ON_MEMORY_ENABLE=n
CONFIG_MFD_CORE=n
CONFIG_MII=n
CONFIG_VIRTIO_PCI_LIB_LEGACY=n
CONFIG_RISCV_ISA_VENDOR_EXT_ANDES=n
CONFIG_HUGETLB_PMD_PAGE_TABLE_SHARING=n
CONFIG_CRYPTO_KPP=n
CONFIG_CRYPTO_AKCIPHER2=n
CONFIG_ARCH_HAS_CURRENT_STACK_POINTER=n
CONFIG_FB_NOTIFY=n
CONFIG_HID_SUPPORT=n
CONFIG_USB_XHCI_PCI=n
CONFIG_STARFIVE_WATCHDOG=n
CONFIG_E1000E=n
CONFIG_NETDEVICES=n
CONFIG_USB_OTG=n
CONFIG_GENERIC_ENTRY=n
CONFIG_MAILBOX=n
CONFIG_CPUSETS=n
CONFIG_PINCTRL_SOPHGO_CV1800B=n
CONFIG_JOLIET=n
CONFIG_MTD_OF_PARTS=n
CONFIG_I3C_OR_I2C=n
CONFIG_VT_CONSOLE_SLEEP=n
CONFIG_CGROUP_SCHED=n
CONFIG_RISCV_ISA_VENDOR_EXT_SIFIVE=n
CONFIG_GENERIC_CPU_DEVICES=n
CONFIG_RISCV_ISA_V=n
CONFIG_SCHED_CACHE=n
CONFIG_VT=n
CONFIG_PACKET=n
CONFIG_EPOLL=n
CONFIG_DAX=n
CONFIG_HAVE_DYNAMIC_FTRACE=n
CONFIG_ADVISE_SYSCALLS=n
CONFIG_PCI_HOST_COMMON=n
CONFIG_DEVFREQ_THERMAL=n
CONFIG_BLK_DEBUG_FS=n
CONFIG_SLAB_OBJ_EXT=n
CONFIG_RISCV_PMU_LEGACY=n
CONFIG_CPU_IDLE_GOV_MENU=n
CONFIG_NET_VENDOR_ALACRITECH=n
CONFIG_FSNOTIFY=n
CONFIG_DRM_FBDEV_EMULATION=n
CONFIG_CRC_CCITT=n
CONFIG_PHYS_ADDR_T_64BIT=n
CONFIG_NET_VENDOR_SOLARFLARE=n
CONFIG_NETLINK_DIAG=n
CONFIG_NET_UDP_TUNNEL=n
CONFIG_NET_VENDOR_CISCO=n
CONFIG_NF_DEFRAG_IPV4=n
CONFIG_WLAN_VENDOR_PURELIFI=n
CONFIG_RTC_DRV_SPACEMIT_P1=n
CONFIG_TRACE_IRQFLAGS_SUPPORT=n
CONFIG_GENERIC_PCI_IOMAP=n
CONFIG_NET_VENDOR_GOOGLE=n
CONFIG_DTC=n
CONFIG_SERIAL_MCTRL_GPIO=n
CONFIG_WLAN_VENDOR_BROADCOM=n
CONFIG_SYSFS=n
CONFIG_REGULATOR_SUN20I=n
CONFIG_UTS_NS=n
CONFIG_DRM_CLIENT=n
CONFIG_SECURITY_APPARMOR_HASH_DEFAULT=n
CONFIG_USB_CONFIGFS_OBEX=n
CONFIG_SECURITY_APPARMOR=n
CONFIG_MEDIA_SUPPORT=n
CONFIG_DRM_PANEL_BRIDGE=n
CONFIG_BUILDTIME_TABLE_SORT=n
CONFIG_HDMI=n
CONFIG_COMPAT_BRK=n
CONFIG_OF_IOMMU=n
CONFIG_PCIE_XILINX=n
CONFIG_NET_IP_TUNNEL=n
CONFIG_MQ_IOSCHED_KYBER=n
CONFIG_CRYPTO=n
CONFIG_NET_VENDOR_CAVIUM=n
CONFIG_RISCV_IMSIC=n
CONFIG_NET_VENDOR_STMICRO=n
