CONFIG_HAVE_VIRT_CPU_ACCOUNTING_GEN=n
CONFIG_ARCH_USE_BUILTIN_BSWAP=n
CONFIG_DECOMPRESS_LZO=n
CONFIG_AMD_IOMMU=n
CONFIG_XZ_DEC_SPARC=n
CONFIG_MODULE_FORCE_UNLOAD=n
CONFIG_CRC_CCITT=n
CONFIG_PREEMPT_DYNAMIC=n
CONFIG_INTEL_MEI_ME=n
CONFIG_INTEL_IOMMU_SCALABLE_MODE_DEFAULT_ON=n
CONFIG_MITIGATION_CALL_DEPTH_TRACKING=n
CONFIG_USB_XHCI_HCD=n
CONFIG_DCACHE_WORD_ACCESS=n
CONFIG_SERIAL_CORE=n
CONFIG_MITIGATION_SPECTRE_V2=n
CONFIG_HAVE_ACPI_APEI_NMI=n
CONFIG_TMPFS_POSIX_ACL=n
CONFIG_RTC_NVMEM=n
CONFIG_NET_RX_BUSY_POLL=n
CONFIG_GENERIC_BITREVERSE=n
CONFIG_SERIAL_8250_PNP=n
CONFIG_PCCARD=n
CONFIG_SERIAL_8250_CONSOLE=n
CONFIG_CRC32_ARCH=n
CONFIG_KEXEC_CORE=n
CONFIG_NET_VENDOR_OKI=n
CONFIG_HAVE_ARCH_KSTACK_ERASE=n
CONFIG_XFRM_AH=n
CONFIG_CRYPTO_AES=n
CONFIG_HAVE_ARCH_KASAN=n
CONFIG_ARCH_HAS_NONLEAF_PMD_YOUNG=n
CONFIG_X86_DISABLED_FEATURE_CYRIX_ARR=n
CONFIG_PER_VMA_LOCK=n
CONFIG_BLOCK=n
CONFIG_SND_HDA_CORE=n
CONFIG_PNPACPI=n
CONFIG_WMI_BMOF=n
CONFIG_ACPI_AC=n
CONFIG_IRQ_DOMAIN=n
CONFIG_NEED_PER_CPU_EMBED_FIRST_CHUNK=n
CONFIG_PCI_DOMAINS=n
CONFIG_HAVE_LIVEPATCH=n
CONFIG_HAVE_HARDLOCKUP_DETECTOR_BUDDY=n
CONFIG_NETWORK_FILESYSTEMS=n
CONFIG_KALLSYMS=n
CONFIG_BLK_DEV_WRITE_MOUNTED=n
CONFIG_FSNOTIFY=n
CONFIG_EFI_CUSTOM_SSDT_OVERLAYS=n
CONFIG_USB_STORAGE=n
CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE=n
CONFIG_ARCH_SUPPORTS_KEXEC_BZIMAGE_VERIFY_SIG=n
CONFIG_HAVE_KLP_BUILD=n
CONFIG_ARCH_STACKWALK=n
CONFIG_NF_DEFRAG_IPV4=n
CONFIG_HAVE_ACPI_APEI=n
CONFIG_CPU_ISOLATION=n
CONFIG_SND_HDA_INTEL=n
CONFIG_TASK_IO_ACCOUNTING=n
CONFIG_NF_DEFRAG_IPV6=n
CONFIG_PROC_KCORE=n
CONFIG_ARCH_SUPPORTS_CRASH_HOTPLUG=n
CONFIG_LOCALVERSION_AUTO=n
CONFIG_X86_REQUIRED_FEATURE_CPUID=n
CONFIG_FUTEX_ROBUST_UNLOCK=n
CONFIG_ARCH_SUPPORTS_RT=n
CONFIG_MITIGATION_MMIO_STALE_DATA=n
CONFIG_KEXEC=n
CONFIG_FUTEX_PI=n
CONFIG_X86_REROUTE_FOR_BROKEN_BOOT_IRQS=n
CONFIG_MSDOS_PARTITION=n
CONFIG_ETHTOOL_NETLINK=n
CONFIG_VFAT_FS=n
CONFIG_MITIGATION_RETHUNK=n
CONFIG_X86_PLATFORM_DEVICES=n
CONFIG_CFG80211_USE_KERNEL_REGDB_KEYS=n
CONFIG_PROC_FS=n
CONFIG_HIBERNATION_COMP_LZO=n
CONFIG_UNWIND_USER=n
CONFIG_NET_VENDOR_NVIDIA=n
CONFIG_BLK_DEV_DM_BUILTIN=n
CONFIG_MOUSE_PS2_ALPS=n
CONFIG_RD_ZSTD=n
CONFIG_CRYPTO_AUTHENC=n
CONFIG_SND_HWDEP=n
CONFIG_ARCH_SUPPORTS_KEXEC_FILE=n
CONFIG_ADVISE_SYSCALLS=n
CONFIG_USE_PERCPU_NUMA_NODE_ID=n
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_DIRECT_CALLS=n
CONFIG_MODULES_USE_ELF_RELA=n
CONFIG_NET_VENDOR_TI=n
CONFIG_PCPU_DEV_REFCNT=n
CONFIG_NET_SELFTESTS=n
CONFIG_VMCORE_INFO=n
CONFIG_TTY=n
CONFIG_GPU_BUDDY=n
CONFIG_RD_LZ4=n
CONFIG_CRYPTO_LIB_GF128HASH_ARCH=n
CONFIG_X86_REQUIRED_FEATURE_PGE=n
CONFIG_I2C_SMBUS=n
CONFIG_SND_VERBOSE_PROCFS=n
CONFIG_GENERIC_ISA_DMA=n
CONFIG_YENTA_O2=n
CONFIG_MAC80211=n
CONFIG_CRYPTO_CBC=n
CONFIG_MACINTOSH_DRIVERS=n
CONFIG_MOUSE_PS2_BYD=n
CONFIG_X86_INTEL_MEMORY_PROTECTION_KEYS=n
CONFIG_CPU_FREQ_GOV_PERFORMANCE=n
CONFIG_SOCK_CGROUP_DATA=n
CONFIG_ARCH_USE_QUEUED_RWLOCKS=n
CONFIG_PATA_OLDPIIX=n
CONFIG_CC_IS_GCC=n
CONFIG_HAVE_UACCESS_VALIDATION=n
CONFIG_SYSVIPC=n
CONFIG_NET_VENDOR_META=n
CONFIG_AUDIT_ARCH=n
CONFIG_TREE_RCU=n
CONFIG_EFI=n
CONFIG_CRYPTO_LIB_SHA1_ARCH=n
CONFIG_CLKBLD_I8253=n
CONFIG_ZLIB_INFLATE=n
CONFIG_SERIO_SERPORT=n
CONFIG_IOMMU_IOVA=n
CONFIG_HAVE_OBJTOOL=n
CONFIG_HAVE_RETHOOK=n
CONFIG_AGP=n
CONFIG_BCMA_POSSIBLE=n
CONFIG_NET_VENDOR_LITEX=n
CONFIG_ARCH_SUPPORTS_KEXEC_SIG=n
CONFIG_HAVE_ARCH_MMAP_RND_COMPAT_BITS=n
CONFIG_TASKS_TRACE_RCU=n
CONFIG_BQL=n
CONFIG_HDMI=n
CONFIG_CRYPTO_HASH2=n
CONFIG_COMPAT=n
CONFIG_LDISC_AUTOLOAD=n
CONFIG_NO_HZ_IDLE=n
CONFIG_SPARSE_IRQ=n
CONFIG_NET_VENDOR_XIRCOM=n
CONFIG_CRASH_DUMP=n
CONFIG_HAVE_ARCH_GET_SECUREBOOT=n
CONFIG_EXT4_FS_POSIX_ACL=n
CONFIG_HAS_IOMEM=n
CONFIG_BITREVERSE=n
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE=n
CONFIG_NET_VENDOR_MICROSEMI=n
CONFIG_EEEPC_LAPTOP=n
CONFIG_NET_VENDOR_BROADCOM=n
CONFIG_ARCH_WANTS_DYNAMIC_TASK_STRUCT=n
CONFIG_USB_NET_DRIVERS=n
CONFIG_SCHED_CLUSTER=n
CONFIG_CPU_SUP_ZHAOXIN=n
CONFIG_IP_PIMSM_V1=n
CONFIG_SERIO_LIBPS2=n
CONFIG_HAVE_IRQ_TIME_ACCOUNTING=n
CONFIG_NETFILTER_XTABLES=n
CONFIG_ATA_BMDMA=n
CONFIG_ARCH_HAS_GCOV_PROFILE_ALL=n
CONFIG_SND_INTEL_NHLT=n
CONFIG_EDAC_ATOMIC_SCRUB=n
CONFIG_WLAN_VENDOR_ADMTEK=n
CONFIG_RUSTC_HAS_SPAN_FILE=n
CONFIG_PCIEASPM=n
CONFIG_PM_TRACE=n
CONFIG_ARCH_USE_QUEUED_SPINLOCKS=n
CONFIG_MITIGATION_RETBLEED=n
CONFIG_NET_TULIP=n
CONFIG_DYNAMIC_EVENTS=n
CONFIG_HID=n
CONFIG_HUGETLB_PAGE=n
CONFIG_BLK_DEV=n
CONFIG_IP_PNP_BOOTP=n
CONFIG_USE_X86_SEG_SUPPORT=n
CONFIG_X86_NEED_RELOCS=n
CONFIG_CORE_DUMP_DEFAULT_ELF_HEADERS=n
CONFIG_LOCKD=n
CONFIG_MAGIC_SYSRQ_SERIAL=n
CONFIG_VIRTIO_PCI_LIB=n
CONFIG_CC_CAN_LINK=n
CONFIG_WIRELESS=n
CONFIG_PTP_1588_CLOCK=n
CONFIG_PCI_DIRECT=n
CONFIG_VM_EVENT_COUNTERS=n
CONFIG_ACPI_PRMT=n
CONFIG_CC_HAS_INT128=n
CONFIG_FW_LOADER=n
CONFIG_LZO_COMPRESS=n
CONFIG_NET_VENDOR_SIS=n
CONFIG_QUEUED_RWLOCKS=n
CONFIG_SYSFS=n
CONFIG_WLAN_VENDOR_ST=n
CONFIG_SOCK_RX_QUEUE_MAPPING=n
CONFIG_DEBUG_STACK_USAGE=n
CONFIG_X86_DISABLED_FEATURE_CENTAUR_MCR=n
CONFIG_TASK_XACCT=n
CONFIG_ARCH_WANT_IRQS_OFF_ACTIVATE_MM=n
CONFIG_CRYPTO_LIB_AES_CBC_MACS=n
CONFIG_ARCH_SUPPORTS_KEXEC=n
CONFIG_HAVE_FUNCTION_ARG_ACCESS_API=n
CONFIG_GENERIC_CLOCKEVENTS_COUPLED=n
CONFIG_BPF=n
CONFIG_X86=n
CONFIG_SND_JACK=n
CONFIG_HAVE_KPROBES_ON_FTRACE=n
CONFIG_PRINTK=n
CONFIG_SERIAL_CORE_CONSOLE=n
CONFIG_HAVE_GUP_FAST=n
CONFIG_NF_REJECT_IPV6=n
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST=n
CONFIG_SYMBOLIC_ERRNAME=n
CONFIG_MODULE_UNLOAD=n
CONFIG_ARCH_SUPPORTS_LTO_CLANG=n
CONFIG_BLK_MQ_STACKING=n
CONFIG_SATA_PMP=n
CONFIG_QUOTA_NETLINK_INTERFACE=n
CONFIG_NET_SCH_FIFO=n
CONFIG_HAVE_ARCH_KGDB=n
CONFIG_X86_DIRECT_GBPAGES=n
CONFIG_X86_REQUIRED_FEATURE_XMM2=n
CONFIG_X86_CET=n
CONFIG_CC_HAS_NAMED_AS=n
CONFIG_HAVE_EBPF_JIT=n
CONFIG_CC_HAS_COUNTED_BY=n
CONFIG_WLAN_VENDOR_QUANTENNA=n
CONFIG_X86_64=n
CONFIG_DRM_DISPLAY_HDMI_HELPER=n
CONFIG_COMPAT_32=n
CONFIG_CRYPTO_SHA1=n
CONFIG_SCSI_MOD=n
CONFIG_ARCH_HAS_CPU_RELAX=n
CONFIG_X86_DISABLED_FEATURE_K6_MTRR=n
CONFIG_HAVE_ARCH_SECCOMP_FILTER=n
CONFIG_BROADCAST_TLB_FLUSH=n
CONFIG_PACKET=n
CONFIG_ARCH_HAS_UACCESS_FLUSHCACHE=n
CONFIG_DYNAMIC_SIGFRAME=n
CONFIG_UCS2_STRING=n
CONFIG_USB_OHCI_HCD=n
CONFIG_NF_REJECT_IPV4=n
CONFIG_PCI_LOCKLESS_CONFIG=n
CONFIG_INPUT=n
CONFIG_INTEGRITY_AUDIT=n
CONFIG_PROVIDE_OHCI1394_DMA_INIT=n
CONFIG_CROSS_MEMORY_ATTACH=n
CONFIG_ACPI_TABLE_UPGRADE=n
CONFIG_SCSI_DMA=n
CONFIG_NFS_DISABLE_UDP_SUPPORT=n
CONFIG_UNWINDER_ORC=n
CONFIG_NET_VENDOR_3COM=n
CONFIG_SND_HDA_I915=n
CONFIG_CPU_MITIGATIONS=n
CONFIG_CC_HAS_KASAN_SW_TAGS=n
CONFIG_ACPI_SYSTEM_POWER_STATES_SUPPORT=n
CONFIG_NET_VENDOR_MUCSE=n
CONFIG_HAVE_KCSAN_COMPILER=n
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_REGS=n
CONFIG_INET_TUNNEL=n
CONFIG_CGROUP_DEBUG=n
CONFIG_CPU_FREQ_GOV_ATTR_SET=n
CONFIG_UPROBE_EVENTS=n
CONFIG_NAMESPACES=n
CONFIG_NF_CONNTRACK_IRC=n
CONFIG_NET_CLS_ACT=n
CONFIG_IA32_EMULATION=n
CONFIG_PM=n
CONFIG_HID_SAMSUNG=n
CONFIG_CARDBUS=n
CONFIG_ARCH_HAS_KCOV=n
CONFIG_VGA_CONSOLE=n
CONFIG_PAGE_POOL=n
CONFIG_RT_MUTEXES=n
CONFIG_HAVE_JUMP_LABEL_HACK=n
CONFIG_BINFMT_SCRIPT=n
CONFIG_IA32_FEAT_CTL=n
CONFIG_X86_64_ACPI_NUMA=n
CONFIG_NEED_DMA_MAP_STATE=n
CONFIG_RUNTIME_TESTING_MENU=n
CONFIG_HZ_1000=n
CONFIG_GENERIC_BUG_RELATIVE_POINTERS=n
CONFIG_HAVE_ARCH_SOFT_DIRTY=n
CONFIG_OPENSSL_SUPPORTS_ML_DSA=n
CONFIG_HAVE_OPTPROBES=n
CONFIG_LTO_NONE=n
CONFIG_SOUND=n
CONFIG_INTEL_IOMMU=n
CONFIG_ETHERNET=n
CONFIG_DRM_GEM_SHMEM_HELPER=n
CONFIG_MOUSE_PS2=n
CONFIG_PROBE_EVENTS=n
CONFIG_CONNECTOR=n
CONFIG_GRO_CELLS=n
CONFIG_ACPI_PROCESSOR=n
CONFIG_SND_JACK_INPUT_DEV=n
CONFIG_DMA_OPS_HELPERS=n
CONFIG_SND_VMASTER=n
CONFIG_BLK_DEV_IO_TRACE=n
CONFIG_SATA_AHCI=n
CONFIG_CRYPTO_LIB_SHA256=n
CONFIG_SND_HDA=n
CONFIG_BLK_DEV_MD=n
