CONFIG_RPR0521=y
CONFIG_INPUT_AD714X=y
CONFIG_MTD_NAND_DISKONCHIP_BBTWRITE=y
CONFIG_X86_DISABLED_FEATURE_CALL_DEPTH=y
CONFIG_TREE_SRCU=y
CONFIG_CLK_GLYMUR_DISPCC=y
CONFIG_SENSORS_MC34VR500=y
CONFIG_SPI_CS42L43=y
CONFIG_ST_UVIS25=y
CONFIG_MCP4018=y
CONFIG_SDM_GCC_845=y
CONFIG_REGMAP_W1=y
CONFIG_INPUT_AD714X_I2C=y
CONFIG_SENSORS_LTC4283=y
CONFIG_PM_DEVFREQ=y
CONFIG_LEDS_IP30=y
CONFIG_COMMON_CLK_MT8183_IPU_CONN=y
CONFIG_APDS9960=y
CONFIG_TI_ADC161S626=y
CONFIG_DEBUG_SPINLOCK=y
CONFIG_I2C_PARPORT=y
CONFIG_THREAD_INFO_IN_TASK=y
CONFIG_SUSPEND_FREEZER=y
CONFIG_PHY_ST_SPEAR1340_MIPHY=y
CONFIG_MST_IRQ=y
CONFIG_RPMSG_QCOM_SMD=y
CONFIG_THERMAL_DEBUGFS=y
CONFIG_HAVE_ARCH_MMAP_RND_BITS=y
CONFIG_AD74413R=y
CONFIG_PINCTRL_SH_FUNC_GPIO=y
CONFIG_SENSORS_MP5990=y
CONFIG_SM_GPUCC_8350=y
CONFIG_LEDS_TRIGGERS=y
CONFIG_IMX_WEIM=y
CONFIG_BTRFS_FS=y
CONFIG_TOUCHSCREEN_AD7879=y
CONFIG_MESON_MX_AO_ARC_REMOTEPROC=y
CONFIG_NVME_VERBOSE_ERRORS=y
CONFIG_HAVE_ARCH_THREAD_STRUCT_WHITELIST=y
CONFIG_PINCTRL_IPQ5210=y
CONFIG_PKCS8_PRIVATE_KEY_PARSER=y
CONFIG_MCHP_EIC=y
CONFIG_CDNS_I3C_MASTER=y
CONFIG_LEDS_TRIGGER_HEARTBEAT=y
CONFIG_RAID6_PQ=y
CONFIG_TRACE_IRQFLAGS=y
CONFIG_PINCTRL_SM6375=y
CONFIG_AD7298=y
CONFIG_ARM_IMX_BUS_DEVFREQ=y
CONFIG_CROSS_MEMORY_ATTACH=y
CONFIG_CRYPTO_LIB_POLY1305=y
CONFIG_SPEAKUP_SERIALIO=y
CONFIG_EDD=y
CONFIG_X86_DISABLED_FEATURE_PCID=y
CONFIG_MAX5487=y
CONFIG_FANOTIFY_ACCESS_PERMISSIONS=y
CONFIG_EXT4_FS_SECURITY=y
CONFIG_SPI_RSPI=y
CONFIG_COMMON_CLK_MT8183_AUDIOSYS=y
CONFIG_TI_PIPE3=y
CONFIG_FXAS21002C_I2C=y
CONFIG_RMI4_SMB=y
CONFIG_RESET_SPACEMIT_COMMON=y
CONFIG_CRC64=y
CONFIG_AL_FIC=y
CONFIG_BCM_PDC_MBOX=y
CONFIG_MUX_CORE=y
CONFIG_RENESAS_OSTM=y
CONFIG_ROHM_BD79112=y
CONFIG_DEBUG_PERF_USE_VMALLOC=y
CONFIG_SYNTH_EVENTS=y
CONFIG_AD7949=y
CONFIG_LEDS_S2M_FLASH=y
CONFIG_GPIO_FXL6408=y
CONFIG_PCH_DMA=y
CONFIG_FPGA_MGR_SOCFPGA=y
CONFIG_SENSORS_LM70=y
CONFIG_SPI_XILINX=y
CONFIG_DOVE_THERMAL=y
CONFIG_MAX9611=y
CONFIG_ECRYPT_FS_MESSAGING=y
CONFIG_SOC_BUS=y
CONFIG_SENSORS_HS3001=y
CONFIG_AD5624R_SPI=y
CONFIG_VFAT_FS=y
CONFIG_LEDS_TPS6105X=y
CONFIG_COMMON_CLK_MT8186_VDECSYS=y
CONFIG_SATA_RCAR=y
CONFIG_CLK_STARFIVE_JH7110_AON=y
CONFIG_DEBUG_KMAP_LOCAL=y
CONFIG_TOUCHSCREEN_DA9052=y
CONFIG_REGULATOR_88PM800=y
CONFIG_COMMON_CLK_MT8365_APU=y
CONFIG_REGULATOR_LP8755=y
CONFIG_REGULATOR_88PM8607=y
CONFIG_PHY_CADENCE_DPHY_RX=y
CONFIG_W1_SLAVE_DS2405=y
CONFIG_CC_HAS_MARCH_NATIVE=y
CONFIG_PINCTRL_IPQ6018=y
CONFIG_GPIO_OMAP=y
CONFIG_LZ4HC_COMPRESS=y
CONFIG_RING_BUFFER=y
CONFIG_SENSORS_ADM1026=y
CONFIG_XARRAY_MULTI=y
CONFIG_PLATFORM_MHU=y
CONFIG_MFD_SY7636A=y
CONFIG_COMEDI_NI_DAQ_700_CS=y
CONFIG_TOUCHSCREEN_INEXIO=y
CONFIG_PINCONF=y
CONFIG_PINCTRL_TEGRA264=y
CONFIG_OPT4001=y
CONFIG_GENERIC_NET_UTILS=y
CONFIG_CRYPTO_BLOWFISH=y
CONFIG_SUN50I_IOMMU=y
CONFIG_SENSORS_AXI_FAN_CONTROL=y
CONFIG_PATA_CS5536=y
CONFIG_POWER_SEQUENCING_PCIE_M2=y
CONFIG_CLKSRC_ST_LPC=y
CONFIG_I3C=y
CONFIG_FXAS21002C=y
CONFIG_MFD_SUN4I_GPADC=y
CONFIG_VT_CONSOLE=y
CONFIG_SOLARIS_X86_PARTITION=y
CONFIG_CLK_RV110X=y
CONFIG_CPU_SUP_CENTAUR=y
CONFIG_QCS_GCC_8300=y
CONFIG_GPIO_IDIO_16=y
CONFIG_SM_GPUCC_MILOS=y
CONFIG_TOUCHSCREEN_GOODIX_BERLIN_CORE=y
CONFIG_NVMEM_MXS_OCOTP=y
CONFIG_PINCTRL_JASPERLAKE=y
CONFIG_THERMAL=y
CONFIG_TPS6594_ESM=y
CONFIG_AD7191=y
CONFIG_SLAB_MERGE_DEFAULT=y
CONFIG_HW_RANDOM_GEODE=y
CONFIG_PM_OPP=y
CONFIG_PINCTRL_IMX=y
CONFIG_COMMON_CLK_SI544=y
CONFIG_MTK_MMSYS=y
CONFIG_GPIO_ICH=y
CONFIG_PINCTRL_UNIPHIER_NX1=y
CONFIG_PHY_SAMSUNG_USB2=y
CONFIG_X86_PAT=y
CONFIG_PATA_TIMINGS=y
CONFIG_NEED_TASKS_RCU=y
CONFIG_MDM_GCC_9607=y
CONFIG_COMMON_CLK_MT6765_MIPI1ASYS=y
CONFIG_ATA=y
CONFIG_REGULATOR_LOCHNAGAR=y
CONFIG_SPI_XLP=y
CONFIG_MSM_GCC_8994=y
CONFIG_F2FS_FS_POSIX_ACL=y
CONFIG_SUNXI_CCU=y
CONFIG_PATA_FTIDE010=y
CONFIG_PCIE_TEGRA194_HOST=y
CONFIG_BACKLIGHT_CGBC=y
CONFIG_MITIGATION_RETHUNK=y
CONFIG_BATTERY_DS2781=y
CONFIG_TWL4030_MADC=y
CONFIG_SMI330_I2C=y
CONFIG_ST_UVIS25_I2C=y
CONFIG_NEW_LEDS=y
CONFIG_SENSORS_UCD9000=y
CONFIG_ARM_SCMI_PROTOCOL=y
CONFIG_AD7606_IFACE_SPI=y
CONFIG_SERIAL_MAX310X=y
CONFIG_ARCH_HAS_MEM_ENCRYPT=y
CONFIG_LEDS_TRIGGER_TIMER=y
CONFIG_I2C_LS2X=y
CONFIG_MTD_NAND_CORE=y
CONFIG_GPIO_GW_PLD=y
CONFIG_MTD_BLOCK=y
CONFIG_RPMSG_QCOM_GLINK=y
CONFIG_CV1800_MBOX=y
CONFIG_ACPI_WMI=y
CONFIG_RELOCATABLE=y
CONFIG_POWER_RESET_GEMINI_POWEROFF=y
CONFIG_PINCTRL_QCS404=y
CONFIG_QCOM_EBI2=y
CONFIG_CACHESTAT_SYSCALL=y
CONFIG_SERIAL_IMX=y
CONFIG_COMMON_CLK_MT6765_VCODECSYS=y
CONFIG_CPU_SUP_INTEL=y
CONFIG_CRYPTO_HASH=y
CONFIG_MFD_INTEL_LPSS=y
CONFIG_X86_32=y
CONFIG_SERIO_APBPS2=y
CONFIG_HAVE_CLK_PREPARE=y
CONFIG_PINCTRL_TEGRA=y
CONFIG_LEDS_ST1202=y
CONFIG_WPCM450_SOC=y
CONFIG_AD5770R=y
CONFIG_GPIO_AMDPT=y
CONFIG_SVC_I3C_MASTER=y
CONFIG_PATA_NS87410=y
CONFIG_MB1232=y
CONFIG_MFD_88PM860X=y
CONFIG_PCIE_QCOM=y
CONFIG_SERIAL_8250_CS=y
CONFIG_HD44780_COMMON=y
CONFIG_MFD_CS42L43=y
CONFIG_HAVE_POSIX_CPU_TIMERS_TASK_WORK=y
CONFIG_FPGA_MGR_EFINIX_SPI=y
CONFIG_ARCH_MHP_MEMMAP_ON_MEMORY_ENABLE=y
CONFIG_MOUSE_PS2_CYPRESS=y
CONFIG_AT91_SOC_ID=y
CONFIG_MTD_MCHP23K256=y
CONFIG_CLK_OWL_S500=y
CONFIG_SENSORS_APPLESMC=y
CONFIG_HAVE_MIXED_BREAKPOINTS_REGS=y
CONFIG_PHY_NXP_PTN3222=y
CONFIG_HAVE_PREEMPT_DYNAMIC_CALL=y
CONFIG_MFD_MT6360=y
CONFIG_SERIAL_8250_DETECT_IRQ=y
CONFIG_COMMON_CLK_MT8196_UFSSYS=y
CONFIG_TPS6105X=y
CONFIG_NLS_CODEPAGE_860=y
CONFIG_GENERIC_PINCONF=y
CONFIG_SPI_QPIC_SNAND=y
CONFIG_CLKBLD_I8253=y
CONFIG_EXTCON=y
CONFIG_PINCTRL_MADERA=y
CONFIG_DS1803=y
CONFIG_CLONE_BACKWARDS=y
CONFIG_LEDS_LP8860=y
CONFIG_DEBUG_RWSEMS=y
CONFIG_DEBUG_INFO=y
CONFIG_TOUCHSCREEN_WDT87XX_I2C=y
CONFIG_TURRIS_OMNIA_MCU_GPIO=y
CONFIG_AMD_WBRF=y
CONFIG_SENSORS_PT5161L=y
CONFIG_X509_CERTIFICATE_PARSER=y
CONFIG_PINCTRL_ULTRARISC=y
CONFIG_QCOM_HFPLL=y
CONFIG_X86_THERMAL_VECTOR=y
CONFIG_LOCK_STAT=y
CONFIG_BLK_DEV=y
CONFIG_NVMEM_LAYERSCAPE_SFP=y
CONFIG_PCIE_DPC=y
CONFIG_BLK_DEV_BSG_COMMON=y
CONFIG_LEGACY_DIRECT_IO=y
CONFIG_NTFS3_FS_POSIX_ACL=y
CONFIG_TIMER_OF=y
CONFIG_LEDS_TCA6507=y
CONFIG_CEC_MESON_G12A_AO=y
CONFIG_HAVE_GENERIC_VDSO=y
CONFIG_I2C_MICROCHIP_CORE=y
CONFIG_AL3010=y
CONFIG_EPROBE_EVENTS=y
CONFIG_I2C_MUX_PINCTRL=y
CONFIG_SM_VIDEOCC_8450=y
CONFIG_STM32_DMA=y
CONFIG_SERIAL_NUVOTON_MA35D1_CONSOLE=y
CONFIG_MFD_MADERA_I2C=y
CONFIG_ARCH_SUPPORTS_KEXEC_PURGATORY=y
CONFIG_AHCI_TEGRA=y
CONFIG_SLAB_BUCKETS=y
CONFIG_NLS_ISO8859_14=y
CONFIG_SENSORS_VIA_CPUTEMP=y
CONFIG_ARM_SCMI_HAVE_TRANSPORT=y
CONFIG_SERIAL_MVEBU_CONSOLE=y
CONFIG_COMMON_CLK_MT8188_VDECSYS=y
CONFIG_BCH_CONST_PARAMS=y
CONFIG_MIGRATION=y
CONFIG_COUNTER=y
CONFIG_FLATMEM=y
CONFIG_PATA_HPT3X3=y
CONFIG_SENSORS_F75375S=y
CONFIG_SHMEM=y
CONFIG_FPGA_MGR_ALTERA_PS_SPI=y
CONFIG_CLK_MTMIPS=y
CONFIG_DYNAMIC_FTRACE=y
CONFIG_BACKLIGHT_ARCXCNN=y
CONFIG_MFD_SYSCON=y
CONFIG_ARM_SCPI_POWER_DOMAIN=y
CONFIG_REGULATOR_MAX77826=y
CONFIG_COMMON_CLK_SCMI=y
CONFIG_IIO_GTS_HELPER=y
CONFIG_CLK_IMX8MP=y
CONFIG_LD_IS_BFD=y
CONFIG_I2C_MUX=y
CONFIG_X86_32_IRIS=y
CONFIG_COMEDI_TESTS_NI_ROUTES=y
CONFIG_COMMON_CLK_MT8183_MMSYS=y
CONFIG_TEGRA124_EMC=y
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_REGS=y
CONFIG_IMX_IPUV3_CORE=y
CONFIG_BMP280=y
CONFIG_VCNL4035=y
CONFIG_SOFTLOCKUP_DETECTOR=y
CONFIG_GPIO_XILINX=y
CONFIG_SENSORS_HMC5843=y
CONFIG_TI_ADC128S052=y
CONFIG_AD7791=y
CONFIG_PT_RECLAIM=y
CONFIG_EFI_DEV_PATH_PARSER=y
CONFIG_PSTORE_PMSG=y
CONFIG_SENSORS_TMP513=y
CONFIG_AD7746=y
CONFIG_MCP47FEB02=y
CONFIG_CRYPTO_ECC=y
CONFIG_SENSORS_PWM_FAN=y
CONFIG_RPMSG_VIRTIO=y
CONFIG_CLK_RV1126=y
CONFIG_IIO_MUX=y
CONFIG_CRYPTO_LIB_NH=y
CONFIG_USB4_STREAM=y
CONFIG_REGULATOR_LTC3676=y
CONFIG_BATTERY_RX51=y
CONFIG_NLS_CODEPAGE_865=y
CONFIG_IRQ_FASTEOI_HIERARCHY_HANDLERS=y
CONFIG_HPET_TIMER=y
CONFIG_SENSORS_INA233=y
CONFIG_BLK_DEV_INTEGRITY=y
CONFIG_SPI_MT7621=y
CONFIG_LEDS_PCA963X=y
CONFIG_SPI_BCM2835=y
CONFIG_BLK_DEV_PCIESSD_MTIP32XX=y
CONFIG_TOUCHSCREEN_CYTTSP_CORE=y
CONFIG_SPARSE_IRQ=y
CONFIG_REGULATOR_RK808=y
CONFIG_SENSORS_MAX6639=y
CONFIG_REGULATOR_TWL4030=y
CONFIG_SECRETMEM=y
CONFIG_I2C_MLXBF=y
CONFIG_PERSISTENT_HUGE_ZERO_FOLIO=y
CONFIG_SBITMAP=y
CONFIG_SATA_MV=y
CONFIG_PAGE_SIZE_LESS_THAN_64KB=y
CONFIG_TARGET_CORE=y
CONFIG_LEDS_NETXBIG=y
CONFIG_FTRACE_SYSCALLS=y
CONFIG_TWL6030_GPADC=y
CONFIG_PHY_FSL_LYNX_CORE=y
CONFIG_HWSPINLOCK_OMAP=y
CONFIG_PCIE_ROCKCHIP_EP=y
CONFIG_PHY_PXA_USB=y
CONFIG_PINCTRL_BCM4908=y
CONFIG_CHARGER_BQ2415X=y
CONFIG_DYNAMIC_SIGFRAME=y
CONFIG_PINCTRL_BCM6328=y
CONFIG_MTD_NAND_ECC_MXIC=y
CONFIG_AD7150=y
CONFIG_IMX_THERMAL=y
CONFIG_CRYPTO_CMAC=y
CONFIG_BOSCH_BNO055=y
CONFIG_PINCTRL_PFC_R8A7791=y
CONFIG_SUN20I_D1_CCU=y
CONFIG_IQS624_POS=y
CONFIG_CC_HAS_ASM_GOTO_TIED_OUTPUT=y
CONFIG_INPUT_REGULATOR_HAPTIC=y
CONFIG_QCOM_GDSC=y
CONFIG_DEBUG_VFS=y
CONFIG_COMMON_CLK_MT8167_MFGCFG=y
CONFIG_I2C_UNIPHIER=y
CONFIG_MFD_HI6421_SPMI=y
CONFIG_COREDUMP=y
CONFIG_REGULATOR_ISL9305=y
CONFIG_ADIS16130=y
CONFIG_POWER_SEQUENCING_TH1520_GPU=y
CONFIG_PINCTRL_LYNXPOINT=y
CONFIG_COMMON_CLK_MT2701_IMGSYS=y
CONFIG_MCP320X=y
CONFIG_I2C_K1=y
CONFIG_MSDOS_FS=y
CONFIG_SENSORS_MAX6697=y
CONFIG_PHY_OCELOT_SERDES=y
CONFIG_TH1520_AON_PROTOCOL=y
CONFIG_GPIO_LOONGSON_64BIT=y
CONFIG_SENSORS_ADS7871=y
CONFIG_HAVE_ARCH_SECCOMP_FILTER=y
CONFIG_ENS210=y
CONFIG_ARCH_SPLIT_ARG64=y
CONFIG_MLX90635=y
CONFIG_EXTCON_MAX77693=y
CONFIG_INPUT_BBNSM_PWRKEY=y
CONFIG_GENERIC_ISA_DMA=y
CONFIG_CLK_SOPHGO_SG2044=y
CONFIG_EFI_STUB=y
CONFIG_RESET_TENSTORRENT_ATLANTIS=y
CONFIG_MFD_ATMEL_FLEXCOM=y
CONFIG_BIG_KEYS=y
CONFIG_PERF_EVENTS_INTEL_CSTATE=y
CONFIG_SERIO_SERPORT=y
CONFIG_CRAMFS=y
CONFIG_CRYPTO_CHACHA20POLY1305=y
CONFIG_MSTAR_MSC313_MPLL=y
CONFIG_ADF4350=y
CONFIG_GFS2_FS=y
CONFIG_BMC150_ACCEL_I2C=y
CONFIG_BCM_VK=y
CONFIG_CLK_PX30=y
CONFIG_PINCTRL_MESON_S4=y
CONFIG_CLOCKSOURCE_WATCHDOG=y
CONFIG_RD_LZO=y
CONFIG_ALLOW_DEV_COREDUMP=y
CONFIG_COMMON_CLK_MT8186_IMP_IIC_WRAP=y
CONFIG_PREEMPT_COUNT=y
CONFIG_INGENIC_TCU_CLK=y
CONFIG_I2C_HIX5HD2=y
CONFIG_HAVE_EISA=y
CONFIG_ARM_DMC620_PMU=y
CONFIG_PCI_REALLOC_ENABLE_AUTO=y
CONFIG_CRYPTO_SERPENT=y
CONFIG_UX500_PM_DOMAIN=y
CONFIG_MOUSE_SYNAPTICS_I2C=y
CONFIG_I2C_SIS96X=y
CONFIG_I2C_SMBUS=y
CONFIG_PINCTRL_STM32F469=y
CONFIG_CRYPTO_LIB_AES=y
CONFIG_DEFAULT_SECURITY_DAC=y
CONFIG_KEYBOARD_SPEAR=y
CONFIG_XZ_DEC_POWERPC=y
CONFIG_NULL_TTY=y
CONFIG_PINCTRL_PFC_SH7269=y
CONFIG_COMMON_CLK_MT8188_IMGSYS=y
CONFIG_SENSORS_STPDDC60=y
CONFIG_REGULATOR_STM32_BOOSTER=y
CONFIG_COMMON_CLK_BD718XX=y
CONFIG_ASUS_WIRELESS=y
CONFIG_UEFI_CPER=y
CONFIG_DEBUG_BOOT_PARAMS=y
CONFIG_APPLE_GMUX=y
CONFIG_ARCH_USE_MEMTEST=y
CONFIG_LEDS_NS2=y
CONFIG_EVENTFD=y
CONFIG_SUN6I_A31_CCU=y
CONFIG_OF_ADDRESS=y
CONFIG_SC_GPUCC_8280XP=y
CONFIG_FIPS_SIGNATURE_SELFTEST_RSA=y
CONFIG_IIO_KFIFO_BUF=y
CONFIG_NLS_MAC_ROMAN=y
CONFIG_STUB_CLK_HI3660=y
CONFIG_ADJD_S311=y
CONFIG_FPGA_MGR_XILINX_SPI=y
CONFIG_AHCI_SUNXI=y
CONFIG_PCI_KEYSTONE_EP=y
CONFIG_COMMON_CLK_MT8186_MFGCFG=y
CONFIG_IPQ_NSSCC_5424=y
CONFIG_PINCTRL_SH_PFC_GPIO=y
CONFIG_PINCTRL_EQUILIBRIUM=y
CONFIG_PERF_EVENTS_AMD_UNCORE=y
CONFIG_CC_HAS_KASAN_SW_TAGS=y
CONFIG_SENSORS_LTC2947_I2C=y
CONFIG_PINCTRL_QDU1000=y
CONFIG_SENSORS_SPD5118_DETECT=y
CONFIG_ARCH_CLOCKSOURCE_INIT=y
CONFIG_RESET_ATH79=y
CONFIG_PCI_DIRECT=y
CONFIG_BLK_DEV_ZONED_LOOP=y
CONFIG_PINCTRL_MSM8953=y
CONFIG_GENERIC_IRQ_RESERVATION_MODE=y
CONFIG_SM_DISPCC_6350=y
CONFIG_W1_SLAVE_DS2431=y
CONFIG_COMMON_CLK_MT8188_VDOSYS=y
CONFIG_CRYPTO_AES=y
CONFIG_COMMON_CLK_TI_ADPLL=y
CONFIG_HAS_IOPORT=y
CONFIG_MTK_GPUEB_MBOX=y
CONFIG_GPIOLIB=y
CONFIG_EEPROM_M24LR=y
CONFIG_PINCTRL_CEDARFORK=y
CONFIG_SQUASHFS_DECOMP_SINGLE=y
CONFIG_ARCH_HAS_CURRENT_STACK_POINTER=y
CONFIG_EXPORTFS=y
CONFIG_ADXL380_SPI=y
CONFIG_HMC425=y
CONFIG_ZSTD_DECOMPRESS=y
CONFIG_MFD_TI_LP873X=y
CONFIG_ARCH_HAS_CACHE_LINE_SIZE=y
CONFIG_ROCKCHIP_THERMAL=y
CONFIG_BMC150_MAGN_SPI=y
CONFIG_PINCTRL_TB10X=y
CONFIG_POWER_SEQUENCING_QCOM_WCN=y
CONFIG_SERIAL_8250_ASPEED_VUART=y
CONFIG_SERIAL_8250_PNP=y
CONFIG_ADXL367_I2C=y
CONFIG_I2C_LPC2K=y
CONFIG_HAVE_ARCH_RANDOMIZE_KSTACK_OFFSET=y
CONFIG_RCAR_GYRO_ADC=y
CONFIG_PINCTRL_IMX8QM=y
CONFIG_OPENSSL_SUPPORTS_ML_DSA=y
CONFIG_XZ_DEC_SPARC=y
CONFIG_NLS_CODEPAGE_775=y
CONFIG_ECONET_EN751221_TIMER=y
CONFIG_TOUCHSCREEN_AR1021_I2C=y
CONFIG_ZSMALLOC=y
CONFIG_OF_KOBJ=y
CONFIG_I2C_TEGRA=y
CONFIG_SECURITY_DMESG_RESTRICT=y
CONFIG_IIO_TRIGGERED_EVENT=y
CONFIG_OMAP4_THERMAL=y
CONFIG_MD_BITMAP=y
CONFIG_BACKLIGHT_ADP8870=y
CONFIG_INPUT_TOUCHSCREEN=y
CONFIG_PCI=y
CONFIG_BLOCK=y
CONFIG_ARCH_HAVE_NMI_SAFE_CMPXCHG=y
CONFIG_WIRELESS_HOTKEY=y
