CONFIG_IIO_RESCALE=y
CONFIG_GENERIC_VDSO_OVERFLOW_PROTECT=y
CONFIG_EEPROM_M24LR=y
CONFIG_NET_SCH_PIE=y
CONFIG_BT_HCIVHCI=y
CONFIG_CRYPTO_LIB_GF128HASH_ARCH=y
CONFIG_LD_CAN_USE_KEEP_IN_OVERLAY=y
CONFIG_NET_SCH_TAPRIO=y
CONFIG_DPLL=y
CONFIG_CRYPTO_ZSTD=y
CONFIG_MCP9600=y
CONFIG_DECOMPRESS_LZ4=y
CONFIG_BMP280_I2C=y
CONFIG_FS_VERITY=y
CONFIG_QUOTA_TREE=y
CONFIG_VIRTIO_ANCHOR=y
CONFIG_LZO_COMPRESS=y
CONFIG_GENERIC_STRNCPY_FROM_USER=y
CONFIG_LEDS_APU=y
CONFIG_GPIO_BY_PINCTRL=y
CONFIG_MMU_GATHER_TABLE_FREE=y
CONFIG_W1_SLAVE_DS2413=y
CONFIG_CRC_OPTIMIZATIONS=y
CONFIG_HARDLOCKUP_DETECTOR_PERF=y
CONFIG_HTS221_I2C=y
CONFIG_MAX11205=y
CONFIG_COMEDI_PCL724=y
CONFIG_MFD_SY7636A=y
CONFIG_TOUCHSCREEN_MSG2638=y
CONFIG_IRQ_DOMAIN=y
CONFIG_PKCS7_MESSAGE_PARSER=y
CONFIG_IPV6_MULTIPLE_TABLES=y
CONFIG_REGULATOR_FP9931=y
CONFIG_SERIAL_UARTLITE=y
CONFIG_REGULATOR_MAX14577=y
CONFIG_MB1232=y
CONFIG_LOGO=y
CONFIG_TOUCHSCREEN_NOVATEK_NVT_TS=y
CONFIG_REGULATOR_MAX8893=y
CONFIG_ARCH_SUPPORTS_UPROBES=y
CONFIG_W1_MASTER_DS2482=y
CONFIG_MAX9611=y
CONFIG_CHARGER_TWL6030=y
CONFIG_X86_REQUIRED_FEATURE_CMOV=y
CONFIG_SW_SYNC=y
CONFIG_TTY=y
CONFIG_ARCH_DMA_ADDR_T_64BIT=y
CONFIG_DLHL60D=y
CONFIG_COMEDI_DAS08_ISA=y
CONFIG_ARCH_WANT_COMPAT_IPC_PARSE_VERSION=y
CONFIG_ADE9000=y
CONFIG_COMEDI_DAS800=y
CONFIG_FS_POSIX_ACL=y
CONFIG_TOUCHSCREEN_GOODIX_BERLIN_SPI=y
CONFIG_TCG_TPM=y
CONFIG_SAMPLE_ANDROID_BINDERFS=y
CONFIG_SMSC_SCH311X_WDT=y
CONFIG_X86_SUPPORTS_MEMORY_FAILURE=y
CONFIG_HDC100X=y
CONFIG_LEDS_PWM_MULTICOLOR=y
CONFIG_I2C_PCA_PLATFORM=y
CONFIG_AD9467=y
CONFIG_IIO_MS_SENSORS_I2C=y
CONFIG_TOUCHSCREEN_TOUCHIT213=y
CONFIG_HAVE_GUP_FAST=y
CONFIG_IIO_KX022A=y
CONFIG_CRYPTO_ARC4=y
CONFIG_GPIO_MC33880=y
CONFIG_X86_MCE_INTEL=y
CONFIG_ASSOCIATIVE_ARRAY=y
CONFIG_REGULATOR_MT6332=y
CONFIG_REGULATOR_RT5739=y
CONFIG_ARCH_ENABLE_SPLIT_PMD_PTLOCK=y
CONFIG_LTC2983=y
CONFIG_CRYPTO_CAST_COMMON=y
CONFIG_NEED_PER_CPU_EMBED_FIRST_CHUNK=y
CONFIG_SPI_MASTER=y
CONFIG_RPMSG_VIRTIO=y
CONFIG_RT_GROUP_SCHED=y
CONFIG_BATTERY_RX51=y
CONFIG_VHOST_VDPA=y
CONFIG_IP5XXX_POWER=y
CONFIG_ADXL367_I2C=y
CONFIG_INPUT_SPARSEKMAP=y
CONFIG_KEXEC_SIG_FORCE=y
CONFIG_SCHED_OMIT_FRAME_POINTER=y
CONFIG_NEED_TASKS_RCU=y
CONFIG_PROVE_LOCKING=y
CONFIG_NETWORK_FILESYSTEMS=y
CONFIG_DAMON_STAT=y
CONFIG_STRICT_SIGALTSTACK_SIZE=y
CONFIG_ARCH_SUPPORTS_PAGE_TABLE_CHECK=y
CONFIG_COMEDI_PCL730=y
CONFIG_CC_HAS_MIN_FUNCTION_ALIGNMENT=y
CONFIG_BPF=y
CONFIG_NET_SCH_FQ_CODEL=y
CONFIG_TI_ADS124S08=y
CONFIG_FB_ARC=y
CONFIG_HAVE_CMPXCHG_LOCAL=y
CONFIG_FSCACHE=y
CONFIG_HAVE_KLP_BUILD=y
CONFIG_SPI_MEM=y
CONFIG_FB_S1D13XXX=y
CONFIG_MCP3422=y
CONFIG_ZPA2326_I2C=y
CONFIG_X86_DISABLED_FEATURE_PKU=y
CONFIG_TMPFS=y
CONFIG_DECOMPRESS_GZIP=y
CONFIG_LIBFDT=y
CONFIG_SENSORS_ISL29028=y
CONFIG_KVM=y
CONFIG_MCP4131=y
CONFIG_PROVE_RCU=y
CONFIG_RANDOMIZE_MEMORY=y
CONFIG_SAMPLE_PIDFD=y
CONFIG_VFIO=y
CONFIG_GPIO_PCA953X=y
CONFIG_SX9500=y
CONFIG_W83977F_WDT=y
CONFIG_GPIO_POLARFIRE_SOC=y
CONFIG_IRQ_POLL=y
CONFIG_MFD_CS40L50_I2C=y
CONFIG_SENSORS_LM3533=y
CONFIG_COMEDI_NI_AT_A2150=y
CONFIG_MIGRATION=y
CONFIG_HAVE_ALIGNED_STRUCT_PAGE=y
CONFIG_IPV6_SIT=y
CONFIG_X86_VMX_FEATURE_NAMES=y
CONFIG_PINCTRL_MCP23S08_I2C=y
CONFIG_FILE_LOCKING=y
CONFIG_FUEL_GAUGE_STC3117=y
CONFIG_IMA_DEFAULT_HASH_SHA512=y
CONFIG_INTEL_TH=y
CONFIG_ADIS16260=y
CONFIG_MFD_88PM805=y
CONFIG_SERIAL_IPOCTAL=y
CONFIG_PTDUMP=y
CONFIG_CM3323=y
CONFIG_ARCH_HAS_ADD_PAGES=y
CONFIG_RPMSG_TTY=y
CONFIG_HAVE_REGS_AND_STACK_ACCESS_API=y
CONFIG_NLS_CODEPAGE_850=y
CONFIG_PAGE_IDLE_FLAG=y
CONFIG_STP=y
CONFIG_I2C_MUX_LTC4306=y
CONFIG_HARDIRQS_SW_RESEND=y
CONFIG_LTO_NONE=y
CONFIG_HAVE_KERNEL_LZ4=y
CONFIG_EEPROM_AT25=y
CONFIG_X86_DISABLED_FEATURE_TDX_GUEST=y
CONFIG_SYSTEM_EXTRA_CERTIFICATE=y
CONFIG_LEDS_LP3952=y
CONFIG_HAVE_IRQ_TIME_ACCOUNTING=y
CONFIG_COMPAT_BINFMT_ELF=y
CONFIG_VFIO_CONTAINER=y
CONFIG_SCTP_DEFAULT_COOKIE_HMAC_NONE=y
CONFIG_DLM=y
CONFIG_DHT11=y
CONFIG_ALTERA_STAPL=y
CONFIG_BATTERY_DS2780=y
CONFIG_UNWINDER_FRAME_POINTER=y
CONFIG_HAVE_KRETPROBES=y
CONFIG_CRYPTO_DRBG=y
CONFIG_TOUCHSCREEN_TSC2007=y
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO_BARE=y
CONFIG_SERIO_RAW=y
CONFIG_CRYPTO_LIB_BLAKE2B=y
CONFIG_CLZ_TAB=y
CONFIG_IPV6_GRE=y
CONFIG_CRYPTO_STREEBOG=y
CONFIG_CRYPTO_LIB_GF128HASH=y
CONFIG_THREAD_INFO_IN_TASK=y
CONFIG_FRAME_POINTER=y
CONFIG_GENERIC_PHY=y
CONFIG_KVM_INTEL=y
CONFIG_REGULATOR_MT6331=y
CONFIG_HAVE_STACKPROTECTOR=y
CONFIG_PWM_PROVIDE_GPIO=y
CONFIG_COMMON_CLK_SI5351=y
CONFIG_QUOTA=y
CONFIG_MFD_TQMX86=y
CONFIG_DEBUG_SPINLOCK=y
CONFIG_INET6_AH=y
CONFIG_COMEDI_PCL726=y
CONFIG_CRYPTO_ESSIV=y
CONFIG_REGULATOR_WM831X=y
CONFIG_AF_RXRPC=y
CONFIG_CMA_SIZE_SEL_PERCENTAGE=y
CONFIG_BACKLIGHT_CLASS_DEVICE=y
CONFIG_SAMPLE_LANDLOCK=y
CONFIG_PNFS_FLEXFILE_LAYOUT=y
CONFIG_DNOTIFY=y
CONFIG_LEGACY_VSYSCALL_XONLY=y
CONFIG_KVM_HYPERV=y
CONFIG_NET_CRC32C=y
CONFIG_CRYPTO_LIB_NH_ARCH=y
CONFIG_FB_CFB_FILLRECT=y
CONFIG_AD4130=y
CONFIG_IPV6=y
CONFIG_PROC_PID_ARCH_STATUS=y
CONFIG_POWER_RESET_TPS65086=y
CONFIG_MLX90632=y
CONFIG_SCHED_INFO=y
CONFIG_HAVE_ARCH_PREL32_RELOCATIONS=y
CONFIG_IIO_ST_LSM6DSX_I2C=y
CONFIG_GP2AP002=y
CONFIG_GPIO_WCD934X=y
CONFIG_FIRMWARE_MEMMAP=y
CONFIG_ASN1=y
CONFIG_BATTERY_CHARGER_SURFACE_RT=y
CONFIG_BATTERY_GAUGE_LTC2941=y
CONFIG_GENERIC_SMP_IDLE_THREAD=y
CONFIG_NET_SCH_FQ_PIE=y
CONFIG_ARCH_MIGHT_HAVE_PC_SERIO=y
CONFIG_X86_X32_ABI=y
CONFIG_DYNAMIC_SIGFRAME=y
CONFIG_SAMPLES=y
CONFIG_MFD_KEMPLD=y
CONFIG_ARCH_VMLINUX_NEEDS_RELOCS=y
CONFIG_PING=y
CONFIG_SCHED_PROXY_EXEC=y
CONFIG_ZLIB_INFLATE=y
CONFIG_NLS_CODEPAGE_737=y
CONFIG_DMARD10=y
CONFIG_X86_MCE=y
CONFIG_GPIB_COMMON=y
CONFIG_SCD30_I2C=y
CONFIG_SUSPEND_SKIP_SYNC=y
CONFIG_REGULATOR_PV88060=y
CONFIG_FAILSLAB=y
CONFIG_MFD_WM5102=y
CONFIG_MMA9553=y
CONFIG_EXPERT=y
CONFIG_CRYPTO_BLOWFISH_COMMON=y
CONFIG_AD7606_IFACE_SPI=y
CONFIG_BMI270_I2C=y
CONFIG_HAVE_SAMPLE_FTRACE_DIRECT_MULTI=y
CONFIG_X86_DISABLED_FEATURE_XENPV=y
CONFIG_PINCTRL_DA9062=y
CONFIG_GAMEPORT=y
CONFIG_TI_DAC5571=y
CONFIG_SPI_XCOMM=y
CONFIG_CGROUP_SCHED=y
CONFIG_IIO_TRIGGERED_BUFFER=y
CONFIG_TOUCHSCREEN_IQS7211=y
CONFIG_DEBUG_RWSEMS=y
CONFIG_PAGE_EXTENSION=y
CONFIG_ARCH_SUPPORTS_DEBUG_PAGEALLOC=y
CONFIG_BACKLIGHT_ADP8860=y
CONFIG_IMA_KEXEC=y
CONFIG_REGULATOR_MC13892=y
CONFIG_SENSORS_TSL2563=y
CONFIG_NET_SCH_CODEL=y
CONFIG_ADF4377=y
CONFIG_ARCH_MIGHT_HAVE_PC_PARPORT=y
CONFIG_FB_SYSMEM_HELPERS_DEFERRED=y
CONFIG_REGULATOR_NETLINK_EVENTS=y
CONFIG_GCC_NO_STRINGOP_OVERFLOW=y
CONFIG_GPIO_WAVESHARE_DSI_TOUCH=y
CONFIG_HAVE_KVM_PFNCACHE=y
CONFIG_LTC2664=y
CONFIG_TI_ADS1298=y
CONFIG_MOST=y
CONFIG_PROC_PAGE_MONITOR=y
CONFIG_NVRAM=y
CONFIG_MFD_WM8400=y
CONFIG_AD8460=y
CONFIG_REGULATOR_PV88080=y
CONFIG_CRYPTO_LRW=y
CONFIG_TOUCHSCREEN_TOUCHRIGHT=y
CONFIG_MAX1363=y
CONFIG_HAVE_ARCH_KASAN_VMALLOC=y
CONFIG_BROKEN_ON_SMP=y
CONFIG_TOUCHSCREEN_IMAGIS=y
CONFIG_TMPFS_XATTR=y
CONFIG_AD3552R=y
CONFIG_PINCTRL_SX150X=y
CONFIG_APDS9306=y
CONFIG_RT_GROUP_SCHED_DEFAULT_DISABLED=y
CONFIG_EDD_OFF=y
CONFIG_REGULATOR_DA9052=y
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE=y
CONFIG_GPIO_MAX7301=y
CONFIG_GPIO_REGMAP=y
CONFIG_PWM_IQS620A=y
CONFIG_EXTCON_MAX14577=y
CONFIG_PAC1921=y
CONFIG_CRYPTO_CRC32C=y
CONFIG_ARCH_SUPPORTS_KEXEC_BZIMAGE_VERIFY_SIG=y
CONFIG_X86_DISABLED_FEATURE_ENQCMD=y
CONFIG_COMEDI_PCL711=y
CONFIG_CACHESTAT_SYSCALL=y
CONFIG_SENSORS_LIS3_SPI=y
CONFIG_CRYPTO_JITTERENTROPY=y
CONFIG_AD4170_4=y
CONFIG_TOUCHSCREEN_BU21013=y
CONFIG_GPIO_PALMAS=y
CONFIG_AD7606_IFACE_PARALLEL=y
CONFIG_CHARGER_MAX14577=y
CONFIG_RT_MUTEXES=y
CONFIG_SERIAL_FSL_LPUART=y
CONFIG_CC_HAS_ZERO_CALL_USED_REGS=y
CONFIG_XZ_DEC=y
CONFIG_CC_HAS_ASM_INLINE=y
CONFIG_MEDIATEK_MT6370_ADC=y
CONFIG_MS5611=y
CONFIG_PREEMPT_NOTIFIERS=y
CONFIG_TPS65010=y
CONFIG_PM_AUTOSLEEP=y
CONFIG_LEGACY_TIOCSTI=y
CONFIG_POWER_RESET_QEMU_VIRT_CTRL=y
CONFIG_IPV6_SEG6_LWTUNNEL=y
CONFIG_ARCH_USE_BUILTIN_BSWAP=y
CONFIG_KEYS_REQUEST_CACHE=y
CONFIG_INITRAMFS_PRESERVE_MTIME=y
CONFIG_HAVE_DYNAMIC_FTRACE_NO_PATCHABLE=y
CONFIG_X86_DISABLED_FEATURE_CENTAUR_MCR=y
CONFIG_MFD_SIMPLE_MFD_I2C=y
CONFIG_ARCH_WANT_HUGETLB_VMEMMAP_PREINIT=y
CONFIG_CRYPTO_LIB_POLY1305_GENERIC=y
CONFIG_CRYPTO_ACOMP2=y
CONFIG_COMPAT_FOR_U64_ALIGNMENT=y
CONFIG_COMEDI_NI_LABPC=y
CONFIG_HAVE_ARCH_VMAP_STACK=y
CONFIG_NLS_ISO8859_6=y
CONFIG_REGULATOR_MAX77838=y
CONFIG_HAVE_KVM_READONLY_MEM=y
CONFIG_LEDS_TRIGGER_GPIO=y
CONFIG_ARCH_SUPPORTS_ACPI=y
CONFIG_FUNCTION_ALIGNMENT_16B=y
CONFIG_HAVE_ARCH_RANDOMIZE_KSTACK_OFFSET=y
CONFIG_SWIOTLB=y
CONFIG_XZ_DEC_TEST=y
CONFIG_QCOM_PMIC_PDCHARGER_ULOG=y
CONFIG_GPIOLIB=y
CONFIG_X86_DISABLED_FEATURE_VME=y
CONFIG_SERIO_PS2MULT=y
CONFIG_HAVE_KVM_DIRTY_RING=y
CONFIG_HAVE_STATIC_CALL=y
CONFIG_COMPAT_BRK=y
CONFIG_ZSTD_COMPRESS=y
CONFIG_NLS_CODEPAGE_874=y
CONFIG_NETLABEL=y
CONFIG_CCS811=y
CONFIG_CRYPTO_RNG=y
CONFIG_KEXEC_FILE=y
CONFIG_PREEMPT=y
CONFIG_REGMAP_IRQ=y
CONFIG_KGDB_KDB=y
CONFIG_LEDS_CLASS_FLASH=y
CONFIG_IPV6_TUNNEL=y
CONFIG_USER_RETURN_NOTIFIER=y
CONFIG_SENSORS_BH1770=y
CONFIG_CRYPTO=y
CONFIG_CRYPTO_LIB_SHA256_ARCH=y
CONFIG_GENERIC_GETTIMEOFDAY=y
CONFIG_REGULATOR_LP3972=y
CONFIG_CHARGER_TPS65090=y
CONFIG_KVM_COMMON=y
CONFIG_AD7791=y
CONFIG_VCNL4000=y
CONFIG_PM=y
CONFIG_NET_XGRESS=y
CONFIG_TOUCHSCREEN_HYNITRON_CSTXXX=y
CONFIG_BPF_JIT=y
CONFIG_DEBUG_RT_MUTEXES=y
CONFIG_ADUX1020=y
CONFIG_LEDS_WM8350=y
CONFIG_TI_ADC084S021=y
CONFIG_SSB_SDIOHOST_POSSIBLE=y
CONFIG_CHROME_PLATFORMS=y
CONFIG_REGULATOR_BCM590XX=y
CONFIG_IIO_TRIGGER=y
CONFIG_ADXL313=y
CONFIG_CRYPTO_LZ4HC=y
CONFIG_PSAMPLE=y
CONFIG_NET_SCH_MQPRIO_LIB=y
CONFIG_COMEDI_DAS08=y
CONFIG_LEDS_BD2606MVV=y
CONFIG_EDAC_SUPPORT=y
CONFIG_WM831X_WATCHDOG=y
CONFIG_REGULATOR_BQ257XX=y
CONFIG_NET_SCH_FIFO=y
CONFIG_FB_UVESA=y
CONFIG_CRC_CCITT=y
CONFIG_CC_HAS_SANE_FUNCTION_ALIGNMENT=y
CONFIG_RCU_EXP_KTHREAD=y
CONFIG_RANDSTRUCT_NONE=y
CONFIG_ABP060MG=y
CONFIG_TASKS_RCU_GENERIC=y
CONFIG_SECURITY_APPARMOR=y
CONFIG_LEDS_TRIGGER_INPUT_EVENTS=y
CONFIG_EXECMEM=y
CONFIG_MFD_CS40L50_SPI=y
CONFIG_GENERIC_IRQ_MATRIX_ALLOCATOR=y
CONFIG_X86_DIRECT_GBPAGES=y
CONFIG_CRYPTO_CAST5=y
CONFIG_ADC_BATTERY_HELPER=y
CONFIG_BUG=y
CONFIG_ADI_I3C_MASTER=y
CONFIG_GPIO_MAX732X=y
CONFIG_INPUT_LEDS=y
CONFIG_COMEDI_NI_ATMIO16D=y
CONFIG_SOCK_CGROUP_DATA=y
CONFIG_INET_TUNNEL=y
CONFIG_X86_MCE_THRESHOLD=y
CONFIG_MFD_ARIZONA_SPI=y
CONFIG_NET_9P_VIRTIO=y
CONFIG_IRQ_BYPASS_MANAGER=y
CONFIG_CHROMEOS_PSTORE=y
CONFIG_EVENTFD=y
CONFIG_X86_MCE_INJECT=y
CONFIG_NET_SCH_GRED=y
CONFIG_MFD_MT6397=y
CONFIG_VDSO_GETRANDOM=y
CONFIG_HAVE_KVM_MSI=y
CONFIG_NLS_MAC_ROMANIAN=y
CONFIG_GOOGLE_FIRMWARE=y
CONFIG_DAMON=y
CONFIG_MAX14001=y
CONFIG_REGULATOR_MT6357=y
CONFIG_TCG_TIS_CORE=y
CONFIG_CRYPTO_MD4=y
CONFIG_CRC32=y
CONFIG_NLS_MAC_CROATIAN=y
CONFIG_MPL115=y
CONFIG_BMA220_SPI=y
CONFIG_HAVE_MOD_ARCH_SPECIFIC=y
CONFIG_CRYPTO_LIB_SHA1_ARCH=y
CONFIG_AD5755=y
CONFIG_PREEMPTION=y
CONFIG_CRYPTO_LIB_AES_ARCH=y
CONFIG_XFRM_IPCOMP=y
CONFIG_BOOT_PRINTK_DELAY=y
CONFIG_OPTPROBES=y
CONFIG_PROC_CHILDREN=y
CONFIG_DIBS_LO=y
CONFIG_CC_HAS_NO_PROFILE_FN_ATTR=y
CONFIG_CRYPTO_DES=y
CONFIG_HAS_IOPORT_MAP=y
CONFIG_HAVE_UNSTABLE_SCHED_CLOCK=y
CONFIG_MFD_TPS6594=y
CONFIG_REGULATOR_MT6311=y
CONFIG_TRACE_IRQFLAGS_NMI=y
CONFIG_HAVE_KVM_DIRTY_RING_TSO=y
CONFIG_CRYPTO_SERPENT=y
CONFIG_RELOCATABLE=y
CONFIG_MFD_LP8788=y
CONFIG_FB_MODE_HELPERS=y
CONFIG_HAVE_SAMPLE_FTRACE_DIRECT=y
CONFIG_HAVE_POSIX_CPU_TIMERS_TASK_WORK=y
CONFIG_REGULATOR_RTQ2208=y
CONFIG_PWM_GPIO=y
CONFIG_KVM_GENERIC_MEMORY_ATTRIBUTES=y
CONFIG_REGULATOR_PWM=y
CONFIG_PINCTRL=y
CONFIG_DEBUG_KMEMLEAK=y
CONFIG_NVMEM=y
CONFIG_MFD_WM8350=y
CONFIG_CRYPTO_ECHAINIV=y
CONFIG_NET_SCH_TEQL=y
CONFIG_I2C_DEBUG_BUS=y
CONFIG_HAVE_DMA_CONTIGUOUS=y
CONFIG_DMA_NEED_SYNC=y
CONFIG_SECURITY_NETWORK=y
CONFIG_GENERIC_EARLY_IOREMAP=y
CONFIG_SLUB_TINY=y
CONFIG_AD5686_SPI=y
CONFIG_MFD_MAX5970=y
CONFIG_PINCTRL_MCP23S08_SPI=y
CONFIG_IIO=y
CONFIG_NFS_FSCACHE=y
CONFIG_LOCK_DEBUGGING_SUPPORT=y
CONFIG_LOCKUP_DETECTOR=y
CONFIG_REGULATOR_SKY81452=y
CONFIG_IIO_TIGHTLOOP_TRIGGER=y
CONFIG_VMCORE_INFO=y
CONFIG_X86_P4_CLOCKMOD=y
CONFIG_SCF_TORTURE_TEST=y
CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE=y
CONFIG_MEN_A21_WDT=y
CONFIG_RATIONAL=y
CONFIG_CONTEXT_TRACKING_IDLE=y
CONFIG_FB_SSD1307=y
CONFIG_COMEDI_C6XDIGIO=y
CONFIG_FB_NOTIFY=y
CONFIG_BACKLIGHT_DA9052=y
CONFIG_CRYPTO_CAST5_AVX_X86_64=y
CONFIG_PM_WAKELOCKS=y
CONFIG_X86_REQUIRED_FEATURE_LM=y
CONFIG_SPI_XILINX=y
CONFIG_POWER_RESET_MT6323=y
CONFIG_DMAPOOL_TEST=y
CONFIG_KEXEC_HANDOVER_DEBUGFS=y
CONFIG_KVM_GENERIC_DIRTYLOG_READ_PROTECT=y
CONFIG_COMPAT_32=y
CONFIG_HAVE_UACCESS_VALIDATION=y
CONFIG_DEBUG_LOCKING_API_SELFTESTS=y
CONFIG_CPU_FREQ_GOV_COMMON=y
CONFIG_IOMMU_IOVA=y
