CONFIG_SOPHGO_CV1800B_ADC=n
CONFIG_PHY_QCOM_QMP_PCIE=n
CONFIG_MEDIA_TUNER_TDA18271=n
CONFIG_INTERCONNECT_QCOM_MSM8996=n
CONFIG_SCHED_SMT=n
CONFIG_SND_HDA_CODEC_HDMI_INTEL=n
CONFIG_WLAN_VENDOR_ST=n
CONFIG_IIO_BUFFER=n
CONFIG_ARMADA_THERMAL=n
CONFIG_DRM_CDNS_MHDP8546_J721E=n
CONFIG_QCOM_TZMEM=n
CONFIG_VIDEO_ROCKCHIP_RGA=n
CONFIG_CRYPTO_LIB_SHA256_ARCH=n
CONFIG_CLK_RK3568=n
CONFIG_DRM_MSM_MDP4=n
CONFIG_DW_APB_TIMER=n
CONFIG_ACPI_HOTPLUG_MEMORY=n
CONFIG_RESET_BERLIN=n
CONFIG_XOR_BLOCKS_ARCH=n
CONFIG_MEDIA_PLATFORM_SUPPORT=n
CONFIG_PNPACPI=n
CONFIG_DMA_OF=n
CONFIG_SSB_POSSIBLE=n
CONFIG_CLK_R8A77980=n
CONFIG_SND_SUN8I_ADDA_PR_REGMAP=n
CONFIG_COMMON_CLK_MT8192_MMSYS=n
CONFIG_COMMON_CLK_MT8195_WPESYS=n
CONFIG_MFD_RK8XX=n
CONFIG_COMMON_CLK_FSL_SAI=n
CONFIG_PCI_J721E_HOST=n
CONFIG_GCC10_NO_ARRAY_BOUNDS=n
CONFIG_NVIDIA_CARMEL_CNP_ERRATUM=n
CONFIG_PINCTRL_MT7981=n
CONFIG_QCOM_RPMH=n
CONFIG_PCIE_ROCKCHIP_DW_HOST=n
CONFIG_GPIO_CADENCE=n
CONFIG_COMMON_CLK_S4_PLL=n
CONFIG_PINCTRL_SM8350=n
CONFIG_CORESIGHT_CATU=n
CONFIG_PINCTRL_IPROC_GPIO=n
CONFIG_BACKLIGHT_CLASS_DEVICE=n
CONFIG_ARCH_SUPPORTS_CRASH_DUMP=n
CONFIG_COMMON_CLK_MT8192=n
CONFIG_DMI=n
CONFIG_PKCS7_MESSAGE_PARSER=n
CONFIG_ARCH_HAS_CACHE_LINE_SIZE=n
CONFIG_DWMAC_RENESAS_GBETH=n
CONFIG_DRM_MSM_DSI=n
CONFIG_ARCH_SUPPORTS_INT128=n
CONFIG_DRM_SUN8I_DW_HDMI=n
CONFIG_REGULATOR_ROHM=n
CONFIG_RTC_DRV_M41T80=n
CONFIG_MTD_CFI_NOSWAP=n
CONFIG_HW_RANDOM_EXYNOS=n
CONFIG_SERIO_AMBAKMI=n
CONFIG_DRM_PARADE_PS8640=n
CONFIG_USB_F_NCM=n
CONFIG_CC_HAS_MULTIDIMENSIONAL_NONSTRING=n
CONFIG_SERIAL_8250_OMAP=n
CONFIG_REGULATOR=n
CONFIG_ETHTOOL_NETLINK=n
CONFIG_PCIE_IPROC_MSI=n
CONFIG_COMMON_CLK_FSL_FLEXSPI=n
CONFIG_SERIAL_MSM=n
CONFIG_COMMON_CLK_S2MPS11=n
CONFIG_EXYNOS_CHIPID=n
CONFIG_USB_RTL8153_ECM=n
CONFIG_HIBERNATE_CALLBACKS=n
CONFIG_DMA_SHARED_BUFFER=n
CONFIG_MLX5_EN_RXNFC=n
CONFIG_SM_GCC_MILOS=n
CONFIG_NET_DEVMEM=n
CONFIG_ACPI_IORT=n
CONFIG_HW_RANDOM_XGENE=n
CONFIG_DRM_MSM_DSI_14NM_PHY=n
CONFIG_MFD_HI6421_PMIC=n
CONFIG_ARM_CCI_PMU=n
CONFIG_GPIO_RTD=n
CONFIG_USB_XHCI_TEGRA=n
CONFIG_USB_ONBOARD_DEV=n
CONFIG_ROCKCHIP_SARADC=n
CONFIG_SCHED_AUTOGROUP=n
CONFIG_CAN_M_CAN_PLATFORM=n
CONFIG_USB_CDNS3_HOST=n
CONFIG_FB_DMAMEM_HELPERS=n
CONFIG_IPMI_SI=n
CONFIG_INTERCONNECT_IMX8MN=n
CONFIG_ATA_VERBOSE_ERROR=n
CONFIG_ARCH_DEFAULT_CRASH_DUMP=n
CONFIG_MMC_SUNXI=n
CONFIG_VIDEO_MEDIATEK_VCODEC_SCP=n
CONFIG_VGA_ARB=n
CONFIG_I2C_HID=n
CONFIG_USB_DWC3_HAPS=n
CONFIG_ARM_GIC_V2M=n
CONFIG_PCIE_RCAR_EP=n
CONFIG_TEGRA_CLK_DFLL=n
CONFIG_CRC8=n
CONFIG_COMMON_CLK_MT8186_VENCSYS=n
CONFIG_ARCH_USE_QUEUED_RWLOCKS=n
CONFIG_SND_HDA_CODEC_HDMI_NVIDIA_MCP=n
CONFIG_SUNRPC_BACKCHANNEL=n
CONFIG_REED_SOLOMON_DEC8=n
CONFIG_USB_HID=n
CONFIG_GENERIC_SCHED_CLOCK=n
CONFIG_PINCTRL_SM6350_LPASS_LPI=n
CONFIG_MTK_LVTS_THERMAL=n
CONFIG_SYS_R9A09G056=n
CONFIG_HAVE_KVM_DIRTY_RING_ACQ_REL=n
CONFIG_XILINX_WATCHDOG=n
CONFIG_CRYPTO_DEV_FSL_CAAM_COMMON=n
CONFIG_NET_CLS=n
CONFIG_FSL_GUTS=n
CONFIG_CLK_QORIQ=n
CONFIG_AS_HAS_NON_CONST_ULEB128=n
CONFIG_APPLE_MAILBOX=n
CONFIG_GENERIC_CPU_VULNERABILITIES=n
CONFIG_MTD_PHYSMAP=n
CONFIG_PHY_J721E_WIZ=n
CONFIG_IIO_KFIFO_BUF=n
CONFIG_CC_HAS_AUTO_VAR_INIT_PATTERN=n
CONFIG_CAN_BCM=n
CONFIG_ARCH_EXYNOS=n
CONFIG_PCIE_RCAR_GEN4_HOST=n
CONFIG_COMMON_CLK_MT8186_IMGSYS=n
CONFIG_NET_SELFTESTS=n
CONFIG_IIO_ST_LSM6DSX=n
CONFIG_SND_SOC_USB=n
CONFIG_SPI_MTK_NOR=n
CONFIG_PCIE_XILINX_DMA_PL=n
CONFIG_MVEBU_ICU=n
CONFIG_USB_CONN_GPIO=n
CONFIG_CPU_FREQ_STAT=n
CONFIG_WLAN_VENDOR_TI=n
CONFIG_PINCTRL_RK805=n
CONFIG_CC_HAS_BRANCH_PROT_PAC_RET_BTI=n
CONFIG_NET_VENDOR_I825XX=n
CONFIG_REGMAP_SPMI=n
CONFIG_SND_SOC_LPASS_HDMI=n
CONFIG_ARCH_RENESAS=n
CONFIG_DRM_DW_HDMI_QP=n
CONFIG_QRTR_MHI=n
CONFIG_USB_SERIAL_WWAN=n
CONFIG_RESET_TI_SCI=n
CONFIG_MULTIPLEXER=n
CONFIG_NETFILTER_EGRESS=n
CONFIG_USB_CONFIGFS_ECM_SUBSET=n
CONFIG_SND_SOC_FSL_ESAI=n
CONFIG_ARM64_PLATFORM_DEVICES=n
CONFIG_GPIOLIB=n
CONFIG_XENFS=n
CONFIG_ARCH_MXC=n
CONFIG_COMMON_CLK_MT6795_VDECSYS=n
CONFIG_PHY_SNPS_EUSB2=n
CONFIG_POWER_SEQUENCING_QCOM_WCN=n
CONFIG_PM_DEVFREQ_EVENT=n
CONFIG_PREEMPT_NOTIFIERS=n
CONFIG_HBMC_AM654=n
CONFIG_MTK_IOMMU=n
CONFIG_PCIE_LAYERSCAPE_GEN4=n
CONFIG_CRYPTO_KRB5=n
CONFIG_GENERIC_ALLOCATOR=n
CONFIG_ARM64_ERRATUM_827319=n
CONFIG_ARCH_USES_HIGH_VMA_FLAGS=n
CONFIG_I2C_IMX=n
CONFIG_PCI_XGENE_MSI=n
CONFIG_NETFILTER_ADVANCED=n
CONFIG_PHY_MESON_G12A_USB2=n
CONFIG_CRYPTO_KPP=n
CONFIG_INTERCONNECT_QCOM_KAANAPALI=n
CONFIG_SECURITYFS=n
CONFIG_CRYPTO_AKCIPHER=n
CONFIG_SC_DISPCC_7280=n
CONFIG_STM32_WATCHDOG=n
CONFIG_BUG=n
CONFIG_ARM_SPE_PMU=n
CONFIG_PHY_QCOM_M31_USB=n
CONFIG_SYSC_RCAR_GEN4=n
CONFIG_MT7921_COMMON=n
CONFIG_CEC_CORE=n
CONFIG_MTK_SOCINFO=n
CONFIG_INIT_STACK_ALL_ZERO=n
CONFIG_TRANS_TABLE=n
CONFIG_SYSCTL_EXCEPTION_TRACE=n
CONFIG_QUEUED_SPINLOCKS=n
CONFIG_ARCH_SUPPORTS_KEXEC_FILE=n
CONFIG_NETFILTER_FAMILY_BRIDGE=n
CONFIG_CC_IS_GCC=n
CONFIG_SPRD_TIMER=n
CONFIG_PINCTRL_PFC_R8A77965=n
CONFIG_WWAN=n
CONFIG_PINCTRL_STM32_HDP=n
CONFIG_DRM_TIDSS=n
CONFIG_SERIAL_OWL=n
CONFIG_APPLE_DART=n
CONFIG_ARM64_RAS_EXTN=n
CONFIG_PINCTRL_SUN50I_H616_R=n
CONFIG_BRCMSTB_DPFE=n
CONFIG_CAN_MCP251XFD=n
CONFIG_COMMON_CLK_MT8196_MFGCFG=n
CONFIG_SND_SOC_SM8250=n
CONFIG_VHOST_ENABLE_FORK_OWNER_CONTROL=n
CONFIG_SM_GPUCC_8750=n
CONFIG_COMMON_CLK_MT8186_CAMSYS=n
CONFIG_CLK_R9A09G047=n
CONFIG_SUN6I_R_INTC=n
CONFIG_USB_NET_ZAURUS=n
CONFIG_RTC_I2C_AND_SPI=n
CONFIG_SND_SOC_RT5640=n
CONFIG_DWMAC_SUN8I=n
CONFIG_CPUSETS=n
CONFIG_PATA_OF_PLATFORM=n
CONFIG_PINCTRL_MT8365=n
CONFIG_I2C_GPIO=n
CONFIG_SND_USB=n
CONFIG_NVMEM=n
CONFIG_SUN55I_A523_R_CCU=n
CONFIG_PWM_MESON=n
CONFIG_PINCTRL_HAWI=n
CONFIG_CC_HAVE_SHADOW_CALL_STACK=n
CONFIG_BCM2835_WDT=n
CONFIG_INTERCONNECT_QCOM_QCS8300=n
CONFIG_USB_SERIAL_FTDI_SIO=n
CONFIG_WLAN=n
CONFIG_PHY_MTK_HDMI=n
CONFIG_PWM_VISCONTI=n
CONFIG_FB_SYSMEM_HELPERS=n
CONFIG_APPLE_ADMAC=n
CONFIG_SYSC_R8A77990=n
CONFIG_THERMAL=n
CONFIG_MTD_NAND_ECC=n
CONFIG_SND_SOC_RCAR=n
CONFIG_RMNET=n
CONFIG_TI_ADS1015=n
CONFIG_RT_MUTEXES=n
CONFIG_CRYPTO_LIB_SHA512_ARCH=n
CONFIG_CRYPTO_AES_ARM64_CE_CCM=n
CONFIG_SND_HDA_TEGRA=n
CONFIG_MMU_GATHER_TABLE_FREE=n
CONFIG_USB_RENESAS_USB3=n
CONFIG_WLCORE=n
CONFIG_CRYPTO_DEV_SUN8I_CE=n
CONFIG_ATH10K=n
CONFIG_TI_DAVINCI_MDIO=n
CONFIG_PINCTRL_SM6115_LPASS_LPI=n
CONFIG_DRM_I2C_ADV7511_AUDIO=n
CONFIG_ARCH_R8A77951=n
CONFIG_MTD_CFI_AMDSTD=n
CONFIG_INPUT_PWM_BEEPER=n
CONFIG_RTC_DRV_S3C=n
CONFIG_VIRTIO_PCI=n
CONFIG_COMMON_CLK_MEDIATEK_FHCTL=n
CONFIG_APPLE_AIC=n
CONFIG_PINCTRL_MT8188=n
CONFIG_RTC_DRV_FSL_FTM_ALARM=n
CONFIG_CRYPTO_LIB_GF128HASH=n
CONFIG_BLK_DEV_MD=n
CONFIG_VFIO_CONTAINER=n
CONFIG_PADATA=n
CONFIG_MDIO_BUS_MUX=n
CONFIG_HAVE_PREEMPT_DYNAMIC=n
CONFIG_MTK_SMI=n
CONFIG_FS_IOMAP=n
CONFIG_USB=n
CONFIG_SECRETMEM=n
CONFIG_PHY_ROCKCHIP_PCIE=n
CONFIG_NETFILTER_XT_MATCH_ADDRTYPE=n
CONFIG_DT_IDLE_STATES=n
CONFIG_MMC_SDHCI_TEGRA=n
CONFIG_ARM_ARCH_TIMER_EVTSTREAM=n
CONFIG_NET_DSA_TAG_BRCM_LEGACY=n
CONFIG_PINCTRL_SUN50I_H616=n
CONFIG_SENSORS_JC42=n
CONFIG_CRYPTO_DEV_TEGRA=n
CONFIG_GPIO_MXC=n
CONFIG_BCM2835_POWER=n
CONFIG_EFI_EARLYCON=n
CONFIG_STUB_CLK_HI6220=n
CONFIG_COMMON_CLK_MT8186=n
CONFIG_SND_SOC_MEDIATEK=n
CONFIG_MTK_THERMAL=n
CONFIG_TCG_TIS_I2C_INFINEON=n
CONFIG_USB_ROLE_SWITCH=n
CONFIG_MWIFIEX_PCIE=n
CONFIG_CLK_PX30=n
CONFIG_NET_CRC32C=n
CONFIG_BRCMFMAC_PROTO_BCDC=n
CONFIG_CFG80211_USE_KERNEL_REGDB_KEYS=n
CONFIG_SCSI_UFSHCD=n
CONFIG_HID=n
CONFIG_SYSC_R8A779G0=n
CONFIG_PINCTRL_MESON_A1=n
CONFIG_QCOM_SOCINFO=n
CONFIG_PHY_HISI_INNO_USB2=n
CONFIG_LEGACY_DIRECT_IO=n
CONFIG_DRM_RCAR_LVDS=n
CONFIG_ARCH_THUNDER=n
CONFIG_IRQ_FASTEOI_HIERARCHY_HANDLERS=n
CONFIG_INPUT_FF_MEMLESS=n
CONFIG_SYSC_R8A7795=n
