CONFIG_INPUT_FF_MEMLESS=n
CONFIG_SCHED_OMIT_FRAME_POINTER=n
CONFIG_POWER_SUPPLY=n
CONFIG_HAVE_ATOMIC_IOMAP=n
CONFIG_ARCH_HAS_ELF_RANDOMIZE=n
CONFIG_CPUFREQ_ARCH_CUR_FREQ=n
CONFIG_GENERIC_CPU_VULNERABILITIES=n
CONFIG_STACKPROTECTOR=n
CONFIG_HAVE_FUNCTION_TRACER=n
CONFIG_XARRAY_MULTI=n
CONFIG_SCHED_CACHE=n
CONFIG_INITRAMFS_PRESERVE_MTIME=n
CONFIG_X86_DISABLED_FEATURE_LASS=n
CONFIG_XFRM=n
CONFIG_GPIOLIB_LEGACY=n
CONFIG_AF_UNIX_OOB=n
CONFIG_SKB_EXTENSIONS=n
CONFIG_NETFILTER_EGRESS=n
CONFIG_WLAN_VENDOR_RSI=n
CONFIG_SCSI_PROC_FS=n
CONFIG_HAVE_FTRACE_GRAPH_FUNC=n
CONFIG_CC_HAS_COUNTED_BY=n
CONFIG_UNINLINE_SPIN_UNLOCK=n
CONFIG_SATA_PMP=n
CONFIG_INPUT=n
CONFIG_X86_CX8=n
CONFIG_QUEUED_RWLOCKS=n
CONFIG_MMU_GATHER_MERGE_VMAS=n
CONFIG_MSDOS_PARTITION=n
CONFIG_HAVE_FUNCTION_ARG_ACCESS_API=n
CONFIG_UPROBE_EVENTS=n
CONFIG_EFI_CAPSULE_QUIRK_QUARK_CSH=n
CONFIG_USB_XHCI_HCD=n
CONFIG_ATA=n
CONFIG_PM_TRACE=n
CONFIG_CPU_FREQ=n
CONFIG_X86_DISABLED_FEATURE_OSPKE=n
CONFIG_NET_VENDOR_SUN=n
CONFIG_BLK_DEV_SD=n
CONFIG_IOMMU_IOVA=n
CONFIG_ARCH_SUPPORTS_CRASH_HOTPLUG=n
CONFIG_CC_HAS_ENTRY_PADDING=n
CONFIG_SERIAL_8250_RSA=n
CONFIG_INIT_STACK_ALL_ZERO=n
CONFIG_UPROBES=n
CONFIG_NET_FAILOVER=n
CONFIG_GCC_NO_STRINGOP_OVERFLOW=n
CONFIG_BACKLIGHT_CLASS_DEVICE=n
CONFIG_NETPOLL=n
CONFIG_NFS_V4_0=n
CONFIG_MD_BITMAP=n
CONFIG_NET_VENDOR_ATHEROS=n
CONFIG_USE_X86_SEG_SUPPORT=n
CONFIG_ISO9660_FS=n
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO_BARE=n
CONFIG_SERIO_SERPORT=n
CONFIG_ACPI_MDIO=n
CONFIG_RANDSTRUCT_NONE=n
CONFIG_TRACEFS_AUTOMOUNT_DEPRECATED=n
CONFIG_ELF_CORE=n
CONFIG_HAVE_USER_RETURN_NOTIFIER=n
CONFIG_THERMAL_HWMON=n
CONFIG_EVENTFD=n
CONFIG_X86_DISABLED_FEATURE_FRED=n
CONFIG_RFKILL_INPUT=n
CONFIG_PHYLIB=n
CONFIG_MOUSE_PS2_BYD=n
CONFIG_TRACE_IRQFLAGS_NMI_SUPPORT=n
CONFIG_DRM_MIPI_DSI=n
CONFIG_ARCH_USE_QUEUED_SPINLOCKS=n
CONFIG_CRYPTO_LIB_GF128HASH=n
CONFIG_SCREEN_INFO=n
CONFIG_NETFILTER_NETLINK_LOG=n
CONFIG_ARCH_HAS_CPU_RELAX=n
CONFIG_PRINTK_TIME=n
CONFIG_NF_REJECT_IPV6=n
CONFIG_NET_VENDOR_AGERE=n
CONFIG_CC_HAS_WORKING_NOSANITIZE_ADDRESS=n
CONFIG_HID_PANTHERLORD=n
CONFIG_POSIX_MQUEUE_SYSCTL=n
CONFIG_CPU_FREQ_GOV_PERFORMANCE=n
CONFIG_CRYPTO_LIB_SHA1=n
CONFIG_BLOCK_HOLDER_DEPRECATED=n
CONFIG_MODULE_FORCE_UNLOAD=n
CONFIG_PCIE_PME=n
CONFIG_ARCH_SUSPEND_POSSIBLE=n
CONFIG_NETFILTER_NETLINK=n
CONFIG_PANTHERLORD_FF=n
CONFIG_ZONE_DMA=n
CONFIG_SHMEM=n
CONFIG_ACPI_SYSTEM_POWER_STATES_SUPPORT=n
CONFIG_ARCH_HIBERNATION_POSSIBLE=n
CONFIG_DIMLIB=n
CONFIG_X86_DISABLED_FEATURE_SGX=n
CONFIG_MODIFY_LDT_SYSCALL=n
CONFIG_SECTION_MISMATCH_WARN_ONLY=n
CONFIG_KCMP=n
CONFIG_BLK_DEBUG_FS=n
CONFIG_RTC_SYSTOHC=n
CONFIG_VHOST_ENABLE_FORK_OWNER_CONTROL=n
CONFIG_ATA_SFF=n
CONFIG_AGP_AMD64=n
CONFIG_PCMCIA=n
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE=n
CONFIG_TCP_MD5SIG=n
CONFIG_X86_INTEL_PSTATE=n
CONFIG_CRYPTO_LZO=n
CONFIG_NETFILTER_XT_TARGET_NFLOG=n
CONFIG_CGROUP_SCHED=n
CONFIG_NET_VENDOR_NETRONOME=n
CONFIG_ARCH_HAS_DEBUG_VM_PGTABLE=n
CONFIG_E1000E_HWTS=n
CONFIG_BLK_DEV_BSG=n
CONFIG_WLAN_VENDOR_RALINK=n
CONFIG_EEEPC_LAPTOP=n
CONFIG_SCHED_CLUSTER=n
CONFIG_CRC_CCITT=n
CONFIG_CARDBUS=n
CONFIG_IPV6_NDISC_NODETYPE=n
CONFIG_UNIX=n
CONFIG_NET_VENDOR_ASIX=n
CONFIG_CLOCKSOURCE_WATCHDOG=n
CONFIG_ARCH_HAS_NON_OVERLAPPING_ADDRESS_SPACE=n
CONFIG_NFS_FS=n
CONFIG_THERMAL_DEFAULT_GOV_STEP_WISE=n
CONFIG_SERIO_LIBPS2=n
CONFIG_X86_MCE_INTEL=n
CONFIG_REGMAP=n
CONFIG_NET_VENDOR_QLOGIC=n
CONFIG_ARCH_SUPPORTS_ACPI=n
CONFIG_PCPU_DEV_REFCNT=n
CONFIG_MACINTOSH_DRIVERS=n
CONFIG_ARCH_FLATMEM_ENABLE=n
CONFIG_KEXEC_CORE=n
CONFIG_CRYPTO=n
CONFIG_TRACE_CLOCK=n
CONFIG_ARCH_SUPPORTS_LTO_CLANG=n
CONFIG_VT=n
CONFIG_HAVE_PV_STEAL_CLOCK_GEN=n
CONFIG_MITIGATION_MDS=n
CONFIG_NF_NAT_MASQUERADE=n
CONFIG_VIRTIO_PCI_ADMIN_LEGACY=n
CONFIG_NET_SELFTESTS=n
CONFIG_DEVMEM=n
CONFIG_VIRTIO_DMA_SHARED_BUFFER=n
CONFIG_BLK_MQ_STACKING=n
CONFIG_HARDIRQS_SW_RESEND=n
CONFIG_MD=n
CONFIG_HDMI=n
CONFIG_WLAN_VENDOR_ZYDAS=n
CONFIG_GENERIC_CLOCKEVENTS=n
CONFIG_NET_CLS=n
CONFIG_DMA_OPS_HELPERS=n
CONFIG_FONT_SUPPORT=n
CONFIG_STACKTRACE=n
CONFIG_TREE_SRCU=n
CONFIG_SND_VMASTER=n
CONFIG_HAVE_FUTEX_ROBUST_UNLOCK=n
CONFIG_USB_EHCI_TT_NEWSCHED=n
CONFIG_KEXEC=n
CONFIG_GENERIC_NET_UTILS=n
CONFIG_RFKILL_LEDS=n
CONFIG_RCU_STALL_COMMON=n
CONFIG_SOCK_CGROUP_DATA=n
CONFIG_DEFAULT_CUBIC=n
CONFIG_ARCH_VMLINUX_NEEDS_RELOCS=n
CONFIG_CRYPTO_SIG2=n
CONFIG_UID16=n
CONFIG_RCU_TRACE=n
CONFIG_ACPI_HOTPLUG_CPU=n
CONFIG_HAVE_KPROBES_ON_FTRACE=n
CONFIG_RSEQ=n
CONFIG_FHANDLE=n
CONFIG_BLK_CGROUP_IOLATENCY=n
CONFIG_FIRMWARE_TABLE=n
CONFIG_HW_RANDOM_AMD=n
CONFIG_PREEMPTION=n
CONFIG_CRYPTO_LZ4=n
CONFIG_SERIAL_CORE=n
CONFIG_MQ_IOSCHED_KYBER=n
CONFIG_HAVE_DEBUG_KMEMLEAK=n
CONFIG_SLUB=n
CONFIG_X86_DEBUG_FPU=n
CONFIG_MITIGATION_RETPOLINE=n
CONFIG_ARCH_HAS_CPU_CACHE_INVALIDATE_MEMREGION=n
CONFIG_NETFILTER_INGRESS=n
CONFIG_WMI_BMOF=n
CONFIG_PROC_FS=n
CONFIG_INSTRUCTION_DECODER=n
CONFIG_ARCH_HAS_GCOV_PROFILE_ALL=n
CONFIG_AMD_NODE=n
CONFIG_HOTPLUG_CORE_SYNC_FULL=n
CONFIG_ACPI_BATTERY=n
CONFIG_NF_CONNTRACK_IRC=n
CONFIG_CRC32=n
CONFIG_EXT4_FS=n
CONFIG_EPOLL=n
CONFIG_POWER_SUPPLY_HWMON=n
CONFIG_VIRTIO_ANCHOR=n
CONFIG_NET_VENDOR_NI=n
CONFIG_CGROUP_NET_PRIO=n
CONFIG_HAVE_KCSAN_COMPILER=n
CONFIG_HW_RANDOM=n
CONFIG_EFIVAR_FS=n
CONFIG_PM=n
CONFIG_HPET=n
CONFIG_ATA_ACPI=n
CONFIG_NET_VENDOR_SYNOPSYS=n
CONFIG_GENERIC_CMOS_UPDATE=n
CONFIG_HAVE_HARDLOCKUP_DETECTOR_PERF=n
CONFIG_INET=n
CONFIG_DMADEVICES=n
CONFIG_EFI_ESRT=n
CONFIG_X86_16BIT=n
CONFIG_ARCH_HAS_DEVMEM_IS_ALLOWED=n
CONFIG_MITIGATION_SPECTRE_V1=n
CONFIG_NET_VENDOR_PENSANDO=n
CONFIG_BINARY_PRINTF=n
CONFIG_X86_REQUIRED_FEATURE_ALWAYS=n
CONFIG_HAVE_EBPF_JIT=n
CONFIG_WLAN_VENDOR_ST=n
CONFIG_ACPI_SPCR_TABLE=n
CONFIG_NET_VENDOR_8390=n
CONFIG_HAVE_GENERIC_VDSO=n
CONFIG_NLS_ISO8859_1=n
CONFIG_MULTIUSER=n
CONFIG_OID_REGISTRY=n
CONFIG_ARCH_HAS_SET_DIRECT_MAP=n
CONFIG_X86_PLATFORM_DEVICES=n
CONFIG_NLS_ASCII=n
CONFIG_MITIGATION_GDS=n
CONFIG_ARCH_MIGHT_HAVE_ACPI_PDC=n
CONFIG_NET_VENDOR_GOOGLE=n
CONFIG_WATCHDOG_HANDLE_BOOT_ENABLED=n
CONFIG_GENERIC_IRQ_MIGRATION=n
CONFIG_ACPI_PROCESSOR_CSTATE=n
CONFIG_NET_VENDOR_XIRCOM=n
CONFIG_DECOMPRESS_LZ4=n
CONFIG_BLK_DEV_BSG_COMMON=n
CONFIG_X86_PKG_TEMP_THERMAL=n
CONFIG_IP_ROUTE_VERBOSE=n
CONFIG_NET_EGRESS=n
CONFIG_CONTEXT_SWITCH_TRACER=n
CONFIG_FUNCTION_ALIGNMENT_4B=n
CONFIG_RTC_CLASS=n
CONFIG_STANDALONE=n
CONFIG_SERIAL_8250_PCI=n
CONFIG_LD_CAN_USE_KEEP_IN_OVERLAY=n
CONFIG_AUDIT=n
CONFIG_PREVENT_FIRMWARE_BUILD=n
CONFIG_NETWORK_SECMARK=n
CONFIG_CC_HAS_RETURN_THUNK=n
CONFIG_NF_NAT_IRC=n
CONFIG_NET_VENDOR_XILINX=n
CONFIG_EFI_HANDOVER_PROTOCOL=n
CONFIG_THERMAL_GOV_STEP_WISE=n
CONFIG_MOUSE_PS2_CYPRESS=n
CONFIG_CRYPTO_KRB5=n
CONFIG_IPV6=n
CONFIG_NEW_LEDS=n
CONFIG_RANDOMIZE_BASE=n
CONFIG_VIRTIO_CONSOLE=n
CONFIG_LZO_DECOMPRESS=n
CONFIG_DYNAMIC_SIGFRAME=n
CONFIG_RD_XZ=n
CONFIG_DEBUG_DEVRES=n
CONFIG_X86_LOCAL_APIC=n
CONFIG_INPUT_LEDS=n
CONFIG_EPROBE_EVENTS=n
CONFIG_CPU_IDLE_GOV_MENU=n
CONFIG_RTC_INTF_DEV=n
CONFIG_MMU_GATHER_TABLE_FREE=n
CONFIG_DECOMPRESS_LZO=n
CONFIG_MPILIB=n
CONFIG_NFS_V3_ACL=n
CONFIG_USB_PCI=n
CONFIG_HAVE_KERNEL_LZMA=n
CONFIG_PCI_LABEL=n
CONFIG_LEGACY_TIOCSTI=n
CONFIG_NETFILTER_XT_MATCH_CONNTRACK=n
CONFIG_GENERIC_IRQ_RESERVATION_MODE=n
CONFIG_SND_X86=n
CONFIG_CC_HAS_AUTO_VAR_INIT_PATTERN=n
CONFIG_RD_LZMA=n
CONFIG_PPS=n
CONFIG_ACPI_AC=n
CONFIG_HAS_DMA=n
CONFIG_HAVE_FUNCTION_ERROR_INJECTION=n
CONFIG_FREEZER=n
CONFIG_SIGNALFD=n
CONFIG_SG_POOL=n
CONFIG_SUSPEND=n
CONFIG_LOCKDEP_SUPPORT=n
CONFIG_CLONE_BACKWARDS=n
CONFIG_OPTPROBES=n
CONFIG_CONSOLE_TRANSLATIONS=n
CONFIG_SND_VERBOSE_PROCFS=n
CONFIG_NETFILTER_XT_MARK=n
CONFIG_BUILDTIME_TABLE_SORT=n
CONFIG_X86_DISABLED_FEATURE_PCID=n
