CONFIG_NVRAM=n
CONFIG_RUSTC_HAS_FILE_WITH_NUL=n
CONFIG_MAC80211_RC_MINSTREL=n
CONFIG_CGROUP_NET_PRIO=n
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO_BARE=n
CONFIG_PERF_EVENTS_AMD_UNCORE=n
CONFIG_CRYPTO_SHA1=n
CONFIG_GENERIC_IRQ_PROBE=n
CONFIG_GENERIC_ALLOCATOR=n
CONFIG_GENERIC_BITREVERSE=n
CONFIG_X86_REQUIRED_FEATURE_FXSR=n
CONFIG_CRYPTO_KRB5=n
CONFIG_RTC_DRV_CMOS=n
CONFIG_SIGNALFD=n
CONFIG_X86_REQUIRED_FEATURE_ALWAYS=n
CONFIG_ARCH_USE_MEMREMAP_PROT=n
CONFIG_R8169=n
CONFIG_IP_PIMSM_V1=n
CONFIG_NET_VENDOR_ATHEROS=n
CONFIG_PROFILING=n
CONFIG_ZSTD_COMMON=n
CONFIG_DRM_I915_USERPTR=n
CONFIG_ARCH_SUPPORTS_MSEAL_SYSTEM_MAPPINGS=n
CONFIG_HID_TOPSEED=n
CONFIG_DRM_TTM=n
CONFIG_TMPFS=n
CONFIG_SECRETMEM=n
CONFIG_SOCK_CGROUP_DATA=n
CONFIG_GENERIC_IRQ_SHOW=n
CONFIG_NF_CONNTRACK_IRC=n
CONFIG_SND_HDA=n
CONFIG_USB_OHCI_LITTLE_ENDIAN=n
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST=n
CONFIG_MITIGATION_SPECTRE_V2=n
CONFIG_CC_HAS_NO_PROFILE_FN_ATTR=n
CONFIG_HUGETLB_PAGE=n
CONFIG_BITREVERSE=n
CONFIG_THREAD_INFO_IN_TASK=n
CONFIG_CGROUP_FREEZER=n
CONFIG_PM_TRACE_RTC=n
CONFIG_BLK_DEBUG_FS=n
CONFIG_USB_HID=n
CONFIG_COMPAT_BINFMT_ELF=n
CONFIG_SYSCTL_EXCEPTION_TRACE=n
CONFIG_NET_VENDOR_ROCKER=n
CONFIG_SCSI_COMMON=n
CONFIG_RUSTC_HAS_UNNECESSARY_TRANSMUTES=n
CONFIG_ASYNC_KERNEL_PGTABLE_FREE=n
CONFIG_NF_NAT_SIP=n
CONFIG_NET_VENDOR_3COM=n
CONFIG_INOTIFY_USER=n
CONFIG_ARCH_USE_BUILTIN_BSWAP=n
CONFIG_NET_VENDOR_ENGLEDER=n
CONFIG_VM_EVENT_COUNTERS=n
CONFIG_ISA_DMA_API=n
CONFIG_EFI_ESRT=n
CONFIG_POSIX_MQUEUE=n
CONFIG_ACPI_AC=n
CONFIG_INPUT=n
CONFIG_ARCH_HAS_NON_OVERLAPPING_ADDRESS_SPACE=n
CONFIG_CPU_FREQ_GOV_SCHEDUTIL=n
CONFIG_PREEMPT_LAZY=n
CONFIG_RTC_INTF_DEV=n
CONFIG_NFS_V3_ACL=n
CONFIG_ACPI_TABLE_UPGRADE=n
CONFIG_HAVE_EFFICIENT_UNALIGNED_ACCESS=n
CONFIG_RD_LZMA=n
CONFIG_X86_ESPFIX64=n
CONFIG_ARCH_WANT_OLD_COMPAT_IPC=n
CONFIG_DRM_BUDDY=n
CONFIG_RING_BUFFER=n
CONFIG_PREEMPT_DYNAMIC=n
CONFIG_EVENTFD=n
CONFIG_INTEL_MEI_ME=n
CONFIG_HAVE_SYSCALL_TRACEPOINTS=n
CONFIG_IP_PNP_RARP=n
CONFIG_COMPAT_32BIT_TIME=n
CONFIG_MISC_FILESYSTEMS=n
CONFIG_NETDEVICES=n
CONFIG_ARCH_USES_HIGH_VMA_FLAGS=n
CONFIG_PCPU_DEV_REFCNT=n
CONFIG_HAVE_ARCH_SECCOMP_FILTER=n
CONFIG_HOTPLUG_SMT=n
CONFIG_BUFFER_HEAD=n
CONFIG_NEED_DMA_MAP_STATE=n
CONFIG_CC_HAS_AUTO_VAR_INIT_PATTERN=n
CONFIG_BLK_MQ_STACKING=n
CONFIG_ARCH_MHP_MEMMAP_ON_MEMORY_ENABLE=n
CONFIG_MMU=n
CONFIG_SERIAL_NONSTANDARD=n
CONFIG_CC_HAS_SANE_FUNCTION_ALIGNMENT=n
CONFIG_NUMA=n
CONFIG_WLAN_VENDOR_RSI=n
CONFIG_COREDUMP=n
CONFIG_CRYPTO_LIB_GF128HASH_ARCH=n
CONFIG_MOUSE_PS2_FOCALTECH=n
CONFIG_MD_AUTODETECT=n
CONFIG_EFI_EARLYCON=n
CONFIG_COMPACTION=n
CONFIG_EVENT_TRACING=n
CONFIG_HAVE_VIRT_CPU_ACCOUNTING_GEN=n
CONFIG_UID16=n
CONFIG_KVM_GUEST=n
CONFIG_PTP_1588_CLOCK=n
CONFIG_IOMMU_PT_AMDV1=n
CONFIG_MITIGATION_MDS=n
CONFIG_HID_GYRATION=n
CONFIG_HAVE_UNSTABLE_SCHED_CLOCK=n
CONFIG_X86_VMX_FEATURE_NAMES=n
CONFIG_ARCH_HAS_FAST_MULTIPLIER=n
CONFIG_SERIAL_8250_DMA=n
CONFIG_NF_DEFRAG_IPV4=n
CONFIG_OLD_SIGSUSPEND3=n
CONFIG_IOSF_MBI=n
CONFIG_CC_HAS_INT128=n
CONFIG_FUNCTION_ALIGNMENT_16B=n
CONFIG_NET_VENDOR_CORTINA=n
CONFIG_LZ4_COMPRESS=n
CONFIG_E1000=n
CONFIG_PROC_KCORE=n
CONFIG_WLAN_VENDOR_QUANTENNA=n
CONFIG_NET_VENDOR_MICROCHIP=n
CONFIG_NAMESPACES=n
CONFIG_SPARSEMEM=n
CONFIG_SPLIT_PTE_PTLOCKS=n
CONFIG_CPU_FREQ_GOV_PERFORMANCE=n
CONFIG_ARCH_WANT_HUGE_PMD_SHARE=n
CONFIG_CC_HAS_COUNTED_BY=n
CONFIG_RTL_CARDS=n
CONFIG_HAVE_FENTRY=n
CONFIG_PKCS7_MESSAGE_PARSER=n
CONFIG_UNION_FIND=n
CONFIG_NET_VENDOR_ALIBABA=n
CONFIG_CPU_FREQ_GOV_USERSPACE=n
CONFIG_PREVENT_FIRMWARE_BUILD=n
CONFIG_USB_STORAGE=n
CONFIG_FTRACE=n
CONFIG_NF_CONNTRACK=n
CONFIG_VHOST_MENU=n
CONFIG_ACPI_MRRM=n
CONFIG_ACPI_CONTAINER=n
CONFIG_CRYPTO_CAMELLIA=n
CONFIG_CRASH_HOTPLUG=n
CONFIG_UNIX=n
CONFIG_ARCH_USE_SYM_ANNOTATIONS=n
CONFIG_IP_PNP=n
CONFIG_ACPI_LEGACY_TABLES_LOOKUP=n
CONFIG_ACPI_BUTTON=n
CONFIG_PM_SLEEP=n
CONFIG_NF_CONNTRACK_SIP=n
CONFIG_NET_VENDOR_RENESAS=n
CONFIG_FIRMWARE_MEMMAP=n
CONFIG_PREEMPT_BUILD=n
CONFIG_CC_HAS_IBT=n
CONFIG_SUNRPC_GSS=n
CONFIG_HAVE_ARCH_THREAD_STRUCT_WHITELIST=n
CONFIG_UPROBE_EVENTS=n
CONFIG_X86_THERMAL_VECTOR=n
CONFIG_RPCSEC_GSS_KRB5=n
CONFIG_GENERIC_CPU_VULNERABILITIES=n
CONFIG_HAVE_CONTEXT_TRACKING_USER=n
CONFIG_ETHTOOL_NETLINK=n
CONFIG_ARCH_SUPPORTS_DEBUG_PAGEALLOC=n
CONFIG_GENERIC_GETTIMEOFDAY=n
CONFIG_SPARSEMEM_VMEMMAP=n
CONFIG_IPV6_SIT=n
CONFIG_SERIO_SERPORT=n
CONFIG_RCU_NEED_SEGCBLIST=n
CONFIG_X86_MCE=n
CONFIG_X86_REQUIRED_FEATURE_CMOV=n
CONFIG_HID_PANTHERLORD=n
CONFIG_GRO_CELLS=n
CONFIG_AIO=n
CONFIG_X86_KERNEL_IBT=n
CONFIG_MEMFD_CREATE=n
CONFIG_HAVE_CALL_THUNKS=n
CONFIG_SCHED_HRTICK=n
CONFIG_YENTA_RICOH=n
CONFIG_NET_VENDOR_CHELSIO=n
CONFIG_NEED_TASKS_RCU=n
CONFIG_DMAR_TABLE=n
CONFIG_AUDIT=n
CONFIG_SYMBOLIC_ERRNAME=n
CONFIG_NET_VENDOR_ADAPTEC=n
CONFIG_SCHED_MC=n
CONFIG_SERIAL_8250_PCI=n
CONFIG_NF_LOG_ARP=n
CONFIG_GENERIC_CLOCKEVENTS=n
CONFIG_HPET_EMULATE_RTC=n
CONFIG_MITIGATION_SPECTRE_V1=n
CONFIG_GENERIC_PT=n
CONFIG_USE_PERCPU_NUMA_NODE_ID=n
CONFIG_AUDIT_ARCH=n
CONFIG_NF_CT_NETLINK=n
CONFIG_LOCK_SPIN_ON_OWNER=n
CONFIG_EEEPC_LAPTOP=n
CONFIG_SATA_HOST=n
CONFIG_ARCH_HAVE_EXTRA_ELF_NOTES=n
CONFIG_ACPI=n
CONFIG_RSEQ=n
CONFIG_ARCH_USES_PG_ARCH_2=n
CONFIG_MOUSE_PS2_SYNAPTICS_SMBUS=n
CONFIG_NET_VENDOR_XIRCOM=n
CONFIG_ARCH_HAS_CPU_CACHE_INVALIDATE_MEMREGION=n
CONFIG_CRYPTO_GENIV=n
CONFIG_GENERIC_VDSO_OVERFLOW_PROTECT=n
CONFIG_X86_REQUIRED_FEATURE_PSE=n
CONFIG_ARCH_SUPPORTS_ACPI=n
CONFIG_RTC_INTF_PROC=n
CONFIG_HPET_TIMER=n
CONFIG_NET_VENDOR_OKI=n
CONFIG_HAVE_STACK_VALIDATION=n
CONFIG_FUTEX_PI=n
CONFIG_SERIAL_8250_MANY_PORTS=n
CONFIG_IP6_NF_MATCH_IPV6HEADER=n
CONFIG_LOCK_DEBUGGING_SUPPORT=n
CONFIG_MD_BITMAP=n
CONFIG_DM_ZERO=n
CONFIG_NF_CONNTRACK_FTP=n
CONFIG_PCI_LABEL=n
CONFIG_DW_DMAC_CORE=n
CONFIG_CRYPTO_LIB_SHA1_ARCH=n
CONFIG_ATA_PIIX=n
CONFIG_HAVE_HARDLOCKUP_DETECTOR_BUDDY=n
CONFIG_CGROUP_CPUACCT=n
CONFIG_PROC_EVENTS=n
CONFIG_NETFILTER_XT_TARGET_SECMARK=n
CONFIG_HARDLOCKUP_CHECK_TIMESTAMP=n
CONFIG_CRYPTO_HASH=n
CONFIG_TRACE_IRQFLAGS_NMI_SUPPORT=n
CONFIG_PROVIDE_OHCI1394_DMA_INIT=n
CONFIG_NET_VENDOR_AMAZON=n
CONFIG_ARCH_STACKWALK=n
CONFIG_BRANCH_PROFILE_NONE=n
CONFIG_XZ_DEC_BCJ=n
CONFIG_CRYPTO_GCM=n
CONFIG_STANDALONE=n
CONFIG_DECOMPRESS_BZIP2=n
CONFIG_TCP_CONG_CUBIC=n
CONFIG_CRC32_ARCH=n
CONFIG_VIRTUALIZATION=n
CONFIG_PATA_AMD=n
CONFIG_IP_ADVANCED_ROUTER=n
CONFIG_X86_DISABLED_FEATURE_CENTAUR_MCR=n
CONFIG_VMAP_STACK=n
CONFIG_EFI_STUB=n
CONFIG_NET_VENDOR_SOLARFLARE=n
CONFIG_PM_SLEEP_DEBUG=n
CONFIG_ATA_VERBOSE_ERROR=n
CONFIG_ARCH_WANTS_DYNAMIC_TASK_STRUCT=n
CONFIG_MSDOS_PARTITION=n
CONFIG_ARCH_HAS_SET_DIRECT_MAP=n
CONFIG_UNIX98_PTYS=n
CONFIG_ARCH_WANT_OPTIMIZE_DAX_VMEMMAP=n
CONFIG_DRM_BRIDGE=n
CONFIG_CALL_PADDING=n
CONFIG_NET_CORE=n
CONFIG_HOTPLUG_SPLIT_STARTUP=n
CONFIG_YENTA_TOSHIBA=n
CONFIG_BINFMT_SCRIPT=n
CONFIG_USB_COMMON=n
CONFIG_ARCH_HAS_UBSAN=n
CONFIG_RANDOMIZE_MEMORY=n
CONFIG_SYSCTL=n
CONFIG_SKY2=n
CONFIG_UNWINDER_ORC=n
CONFIG_PCSPKR_PLATFORM=n
CONFIG_USB_PCI=n
CONFIG_RTC_SYSTOHC=n
CONFIG_KPROBES=n
CONFIG_DRM_VIRTIO_GPU_KMS=n
CONFIG_HAVE_ACPI_APEI_NMI=n
CONFIG_INPUT_LEDS=n
CONFIG_AGP_AMD64=n
CONFIG_CGROUP_DEBUG=n
CONFIG_PERF_EVENTS_INTEL_RAPL=n
CONFIG_HAVE_OBJTOOL_NOP_MCOUNT=n
CONFIG_MITIGATION_SRSO=n
CONFIG_RFKILL_LEDS=n
CONFIG_NO_HZ_IDLE=n
CONFIG_SND_JACK_INPUT_DEV=n
CONFIG_ISO9660_FS=n
CONFIG_NET_XGRESS=n
CONFIG_NET_VENDOR_XILINX=n
CONFIG_DMA_VIRTUAL_CHANNELS=n
CONFIG_WLAN_VENDOR_ZYDAS=n
CONFIG_IOMMU_DMA=n
CONFIG_NET_VENDOR_INTEL=n
CONFIG_PRINTK=n
CONFIG_CRC32=n
CONFIG_VIRTIO_BLK=n
CONFIG_ARCH_HAS_SYNC_CORE_BEFORE_USERMODE=n
CONFIG_PTP_1588_CLOCK_KVM=n
CONFIG_NET_VENDOR_FUNGIBLE=n
CONFIG_OID_REGISTRY=n
CONFIG_INTEGRITY_AUDIT=n
CONFIG_MOUSE_PS2=n
CONFIG_GENERIC_PCI_IOMAP=n
CONFIG_X86_X2APIC=n
CONFIG_HAS_SECURITY_AUDIT=n
