CONFIG_ARM_ALLWINNER_SUN50I_CPUFREQ_NVMEM=y
CONFIG_USB_QCOM_EUD=y
CONFIG_EXYNOS_3250_COMMON_CLK=y
CONFIG_SYSCTL_ARCH_UNALIGN_ALLOW=y
CONFIG_MIGRATION=y
CONFIG_SENSORS_SY7636A=y
CONFIG_RZG2L_ADC=y
CONFIG_FB_PVR2=y
CONFIG_SENSORS_PIM4328=y
CONFIG_GPIO_VISCONTI=y
CONFIG_BCM2835_POWER=y
CONFIG_NVMEM_BCM_OCOTP=y
CONFIG_ARCH_HAS_DEBUG_WX=y
CONFIG_PARPORT_PANEL=y
CONFIG_GPIO_ALTERA=y
CONFIG_ADVISE_SYSCALLS=y
CONFIG_MTD_QINFO_PROBE=y
CONFIG_PVPANIC_PCI=y
CONFIG_SPI_AXIADO=y
CONFIG_ANDROID_BINDER_IPC=y
CONFIG_USB_ACM=y
CONFIG_USB_CHIPIDEA_TEGRA=y
CONFIG_EFI_TEST=y
CONFIG_HAVE_ARCH_THREAD_STRUCT_WHITELIST=y
CONFIG_SSB_POSSIBLE=y
CONFIG_SENSORS_LM25066=y
CONFIG_TREE_SRCU=y
CONFIG_HW_RANDOM_MESON=y
CONFIG_REGULATOR_QCOM_SPMI=y
CONFIG_CPU_FREQ_DEFAULT_GOV_ONDEMAND=y
CONFIG_REGMAP_SPMI=y
CONFIG_ARCH_WANT_BATCHED_UNMAP_TLB_FLUSH=y
CONFIG_PINCTRL_HAWI=y
CONFIG_KEYBOARD_ST_KEYSCAN=y
CONFIG_IIO_BACKEND=y
CONFIG_SM_GPUCC_8750=y
CONFIG_MMA7660=y
CONFIG_QCOM_SPMI_TEMP_ALARM=y
CONFIG_COMMON_CLK_BOSTON=y
CONFIG_UIO_PCI_GENERIC=y
CONFIG_NVMEM_SC27XX_EFUSE=y
CONFIG_QCOM_SMD_RPM=y
CONFIG_MTD_UBI_BLOCK=y
CONFIG_NET_SCH_QFQ=y
CONFIG_PANEL=y
CONFIG_HAVE_ALIGNED_STRUCT_PAGE=y
CONFIG_CHARGER_ADP5061=y
CONFIG_MMC5633=y
CONFIG_FUSION_CTL=y
CONFIG_BATTERY_DS2760=y
CONFIG_TRACING_SUPPORT=y
CONFIG_CMDLINE_PARTITION=y
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE_PUD=y
CONFIG_DEVFREQ_GOV_SIMPLE_ONDEMAND=y
CONFIG_PINCTRL_RTD1315E=y
CONFIG_SENSORS_ADP1050=y
CONFIG_AHCI_ST=y
CONFIG_AMD_SBRMI_I2C=y
CONFIG_IOMMU_IO_PGTABLE_DART=y
CONFIG_AD7780=y
CONFIG_SPI_NPCM_FIU=y
CONFIG_TIMB_DMA=y
CONFIG_I2C_AMD8111=y
CONFIG_ARCH_HAS_PTDUMP=y
CONFIG_PCIE_RCAR_GEN4_EP=y
CONFIG_COMEDI_USBDUXFAST=y
CONFIG_RTC_DRV_JZ4740=y
CONFIG_CGROUP_NET_PRIO=y
CONFIG_PREEMPT_DYNAMIC=y
CONFIG_AD7303=y
CONFIG_HID_NTRIG=y
CONFIG_BACKLIGHT_CLASS_DEVICE=y
CONFIG_PCIE_MICROCHIP_HOST=y
CONFIG_ARM64_PLATFORM_DEVICES=y
CONFIG_BROKEN_ON_SMP=y
CONFIG_HAVE_64BIT_ALIGNED_ACCESS=y
CONFIG_USB_HIDDEV=y
CONFIG_PCIE_APPLE=y
CONFIG_PINCTRL_MT6779=y
CONFIG_COMEDI_SSV_DNP=y
CONFIG_MESON_MX_AO_ARC_REMOTEPROC=y
CONFIG_GENERIC_SYSCALL=y
CONFIG_TYPEC_MUX_WCD939X_USBSS=y
CONFIG_DMABUF_HEAPS=y
CONFIG_EFI_BOOTLOADER_CONTROL=y
CONFIG_RISCV_ISA_VENDOR_EXT=y
CONFIG_I2C_CP2615=y
CONFIG_HID_MONTEREY=y
CONFIG_SPI_APPLE=y
CONFIG_FW_LOADER=y
CONFIG_CRYPTO_LIB_SM3=y
CONFIG_BCM2835_VCHIQ=y
CONFIG_FB_SYS_IMAGEBLIT=y
CONFIG_INGENIC_CGU_COMMON=y
CONFIG_HID_ELAN=y
CONFIG_PA12203001=y
CONFIG_LCD_AMS369FG06=y
CONFIG_INGENIC_ADC=y
CONFIG_MMP_DISP=y
CONFIG_COMMON_CLK_MT2712_MMSYS=y
CONFIG_RTC_DRV_ABX80X=y
CONFIG_RISCV_ISA_ZICBOZ=y
CONFIG_LWQ_TEST=y
CONFIG_DUMMY_IRQ=y
CONFIG_REGULATOR_RASPBERRYPI_TOUCHSCREEN_ATTINY=y
CONFIG_USB_SERIAL_KLSI=y
CONFIG_CRC_CCITT=y
CONFIG_DMA_ENGINE_RAID=y
CONFIG_MUX_MMIO=y
CONFIG_CLK_STARFIVE_JH7100=y
CONFIG_MAX6959=y
CONFIG_ARM_SMMU_DISABLE_BYPASS_BY_DEFAULT=y
CONFIG_MAG3110=y
CONFIG_USB_CONN_GPIO=y
CONFIG_PHY_UNIPHIER_AHCI=y
CONFIG_NBPFAXI_DMA=y
CONFIG_SUN5I_HSTIMER=y
CONFIG_PMIC_DA9052=y
CONFIG_W1_CON=y
CONFIG_PINCTRL_WMT=y
CONFIG_SSB_SPROM=y
CONFIG_BT_HCIBPA10X=y
CONFIG_REGULATOR_TPS65090=y
CONFIG_SERIAL_ATMEL_PDC=y
CONFIG_PCI_IOV=y
CONFIG_AHCI_DWC=y
CONFIG_IQS620AT_TEMP=y
CONFIG_MFD_LP3943=y
CONFIG_PHY_CPCAP_USB=y
CONFIG_I2C_MUX_REG=y
CONFIG_SLUB_DEBUG_ON=y
CONFIG_PCIE_CADENCE_HOST=y
CONFIG_IPMI_KCS_BMC=y
CONFIG_MHI_BUS_PCI_GENERIC=y
CONFIG_HZ_PERIODIC=y
CONFIG_PCI_IMX6_EP=y
CONFIG_HID_EZKEY=y
CONFIG_STATIC_KEYS_SELFTEST=y
CONFIG_SPI_AMLOGIC_SPIFC_A4=y
CONFIG_AD8801=y
CONFIG_TASKS_TRACE_RCU=y
CONFIG_REGULATOR_RT5190A=y
CONFIG_BATTERY_DA9052=y
CONFIG_STACKPROTECTOR=y
CONFIG_PINCTRL_SUN50I_H616_R=y
CONFIG_GENERIC_IRQ_SHOW_LEVEL=y
CONFIG_PINCTRL_SM4450=y
CONFIG_MFD_PM8XXX=y
CONFIG_CLK_RENESAS_CPG_MSTP=y
CONFIG_CHARGER_LP8788=y
CONFIG_AD3530R=y
CONFIG_MOUSE_APPLETOUCH=y
CONFIG_IIO_ST_PRESS=y
CONFIG_PCIE_CADENCE=y
CONFIG_RTC_DRV_SNVS=y
CONFIG_W1_MASTER_AMD_AXI=y
CONFIG_MTD_RAM=y
CONFIG_ZPA2326=y
CONFIG_PDC_ADMA=y
CONFIG_EFI_RCI2_TABLE=y
CONFIG_ARCH_HAS_PMEM_API=y
CONFIG_ADMV1013=y
CONFIG_ARCH_SPARSEMEM_ENABLE=y
CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE=y
CONFIG_SLUB=y
CONFIG_MEMORY_ISOLATION=y
CONFIG_COMMON_CLK_RPMI=y
CONFIG_USB_LEGOTOWER=y
CONFIG_MSM_GCC_8994=y
CONFIG_USB_EHCI_HCD_SPEAR=y
CONFIG_BOSCH_BNO055_I2C=y
CONFIG_INPUT_AW86927=y
CONFIG_USB_SERIAL_EDGEPORT_TI=y
CONFIG_AD5380=y
CONFIG_GENERIC_PINCONF=y
CONFIG_VL6180=y
CONFIG_SUN50I_A100_CCU=y
CONFIG_NLS_MAC_CYRILLIC=y
CONFIG_WMT_SOCINFO=y
CONFIG_USB_LED_TRIG=y
CONFIG_EXYNOS_5420_COMMON_CLK=y
CONFIG_PHY_RALINK_USB=y
CONFIG_TPS6594_ESM=y
CONFIG_SWITCHTEC_DMA=y
CONFIG_RISCV_APLIC_MSI=y
CONFIG_BMP280_SPI=y
CONFIG_EFI_EARLYCON=y
CONFIG_GPIO_FTGPIO010=y
CONFIG_CB710_DEBUG=y
CONFIG_KXSD9=y
CONFIG_HID_GYRATION=y
CONFIG_PINCTRL_MSM8916=y
CONFIG_W1_SLAVE_DS2405=y
CONFIG_MTD_GEN_PROBE=y
CONFIG_SM_GPUCC_6125=y
CONFIG_RESET_BERLIN=y
CONFIG_REGMAP=y
CONFIG_SENSORS_HIH6130=y
CONFIG_COMEDI_ADL_PCI8164=y
CONFIG_REGULATOR_MAX5970=y
CONFIG_HID_MAGICMOUSE=y
CONFIG_VMAP_STACK=y
CONFIG_ERRATA_THEAD_PMU=y
CONFIG_FB_SAVAGE_I2C=y
CONFIG_HAVE_ARCH_RANDOMIZE_KSTACK_OFFSET=y
CONFIG_PINCTRL_PFC_R8A7744=y
CONFIG_HID_APPLETB_BL=y
CONFIG_MAX5432=y
CONFIG_KERNFS=y
CONFIG_VDSO_GETRANDOM=y
CONFIG_HAVE_KCSAN_COMPILER=y
CONFIG_THEAD_TH1520_MBOX=y
CONFIG_CLK_RZG2L=y
CONFIG_SUNXI_CCU=y
CONFIG_SPARSEMEM=y
CONFIG_SENSORS_EMC1403=y
CONFIG_I2C_CCGX_UCSI=y
CONFIG_PTP_NETC_V4_TIMER=y
CONFIG_SUN20I_D1_CCU=y
CONFIG_PINCTRL_SUN8I_H3=y
CONFIG_PINCTRL_SOPHGO_SG2000=y
CONFIG_SERIAL_NUVOTON_MA35D1=y
CONFIG_ARM_MEDIATEK_CCI_DEVFREQ=y
CONFIG_PROFILE_ALL_BRANCHES=y
CONFIG_LIBNVDIMM=y
CONFIG_PCIE_KEEMBAY=y
CONFIG_W1_SLAVE_SMEM=y
CONFIG_IO_URING_BPF=y
CONFIG_SDM_GPUCC_660=y
CONFIG_PPS=y
CONFIG_MTD=y
CONFIG_SENSORS_ADCXX=y
CONFIG_CLK_INTEL_SOCFPGA64=y
CONFIG_AMD_QDMA=y
CONFIG_EINT_MTK=y
CONFIG_PCIE_MOBIVEIL_HOST=y
CONFIG_AMIGA_PARTITION=y
CONFIG_MSM_GCC_8939=y
CONFIG_INGENIC_TIMER=y
CONFIG_SENSORS_CHIPCAP2=y
CONFIG_SPRD_THERMAL=y
CONFIG_PPS_CLIENT_LDISC=y
CONFIG_CLK_HSDK=y
CONFIG_IPQ_APSS_PLL=y
CONFIG_XILINX_VCU=y
CONFIG_PHY_MESON8B_USB2=y
CONFIG_GPIO_MAX77620=y
CONFIG_MTD_SST25L=y
CONFIG_NET_SCH_NETEM=y
CONFIG_BACKLIGHT_QCOM_WLED=y
CONFIG_BLK_DEV_NVME=y
CONFIG_BINARY_PRINTF=y
CONFIG_SENSORS_MAX17616=y
CONFIG_SIGNALFD=y
CONFIG_RTC_DRV_ISL12026=y
CONFIG_GPIO_MAX732X=y
CONFIG_DMARD09=y
CONFIG_SPI_FSL_DSPI=y
CONFIG_NVMEM_LAYERSCAPE_SFP=y
CONFIG_UNIX=y
CONFIG_CRC64=y
CONFIG_SENSORS_INA2XX=y
CONFIG_HAVE_POSIX_CPU_TIMERS_TASK_WORK=y
CONFIG_AD7606=y
CONFIG_ADXL372=y
CONFIG_SPMI_PMIC_CLKDIV=y
CONFIG_KERNEL_GZIP=y
CONFIG_SPARSEMEM_VMEMMAP=y
CONFIG_USB_SERIAL=y
CONFIG_GENERIC_BUG_RELATIVE_POINTERS=y
CONFIG_TRACER_SNAPSHOT=y
CONFIG_TI_ADS131E08=y
CONFIG_COMMON_CLK_MT6765_MIPI1ASYS=y
CONFIG_SPI_INTEL_PLATFORM=y
CONFIG_FXAS21002C=y
CONFIG_SSB_DRIVER_PCICORE=y
CONFIG_USB_SERIAL_XR=y
CONFIG_TSM_GUEST=y
CONFIG_PARPORT_1284=y
CONFIG_OVERLAY_FS=y
CONFIG_UCS2_STRING=y
CONFIG_TRACING=y
CONFIG_MP2629_ADC=y
CONFIG_ADIS16136=y
CONFIG_OF_KOBJ=y
CONFIG_SPI_INTEL=y
CONFIG_MFD_TPS65912=y
CONFIG_CLK_RCAR_USB2_CLOCK_SEL=y
CONFIG_QCOM_CLK_APCS_MSM8916=y
CONFIG_SCSI_UFSHCD_PLATFORM=y
CONFIG_IIO_SW_TRIGGER=y
CONFIG_QCOM_GDSC=y
CONFIG_RTC_DRV_DS1511=y
CONFIG_USB_OHCI_HCD_S3C2410=y
CONFIG_SENSORS_SMSC47M192=y
CONFIG_W1_SLAVE_DS2408=y
CONFIG_IOMMU_PT_RISCV64=y
CONFIG_TRACE_IRQFLAGS_SUPPORT=y
CONFIG_GPIO_VF610=y
CONFIG_REGULATOR_MAX77541=y
CONFIG_INTERCONNECT_IMX=y
CONFIG_ARCH_SUPPORTS_ACPI=y
CONFIG_INTEL_IXP4XX_EB=y
CONFIG_PINCTRL_STMFX=y
CONFIG_PHY_RTK_RTD_USB3PHY=y
CONFIG_GPIO_BD72720=y
CONFIG_PHY_MTK_XSPHY=y
CONFIG_KEYBOARD_PMIC8XXX=y
CONFIG_PINCTRL_ALDERLAKE=y
CONFIG_ARCH_MICROCHIP=y
CONFIG_PINCTRL_DA9062=y
CONFIG_QFMT_V1=y
CONFIG_IIO_TRIGGERED_EVENT=y
CONFIG_CRYPTO_LZ4HC=y
CONFIG_HID_SPEEDLINK=y
CONFIG_I2C_SIS96X=y
CONFIG_LOONGSON2_APB_CMC_DMA=y
CONFIG_RTC_HCTOSYS=y
CONFIG_CLK_ELIZA_GCC=y
CONFIG_PHY_BRCM_SATA=y
CONFIG_BCMA_POSSIBLE=y
CONFIG_ARCH_HAS_STRICT_KERNEL_RWX=y
CONFIG_QCOM_QMI_HELPERS=y
CONFIG_BATTERY_DS2782=y
CONFIG_CRYPTO_LIB_UTILS=y
CONFIG_PCIE_ANDES_QILAI=y
CONFIG_ROHM_BD79124=y
CONFIG_PCIE_ROCKCHIP=y
CONFIG_RTC_INTF_SYSFS=y
CONFIG_TRACE_BRANCH_PROFILING=y
CONFIG_W1_SLAVE_DS2781=y
CONFIG_STM_PROTO_BASIC=y
CONFIG_CRYPTO_ECB=y
CONFIG_LEDS_LM3532=y
CONFIG_SENSORS_TMP102=y
CONFIG_USB_EZUSB_FX2=y
CONFIG_BERLIN2_ADC=y
CONFIG_RTC_DRV_NCT3018Y=y
CONFIG_EXPORTFS=y
CONFIG_PINCTRL_JASPERLAKE=y
CONFIG_RTC_DRV_AMLOGIC_A4=y
CONFIG_SENSORS_NCT7363=y
CONFIG_SENSORS_ADT7310=y
CONFIG_PHY_HISI_INNO_USB2=y
CONFIG_SPI_AMD=y
CONFIG_HAVE_ARCH_USERFAULTFD_MINOR=y
CONFIG_ARCH_HAS_CURRENT_STACK_POINTER=y
CONFIG_BATTERY_UG3105=y
CONFIG_FRAME_POINTER=y
CONFIG_USB_CHIPIDEA_HOST=y
CONFIG_AD9467=y
CONFIG_PATA_OF_PLATFORM=y
CONFIG_VFIO_MDEV=y
CONFIG_SERIAL_MSM_CONSOLE=y
CONFIG_COMMON_CLK_MT8167=y
CONFIG_BLK_DEV_PCIESSD_MTIP32XX=y
CONFIG_OID_REGISTRY=y
CONFIG_EXYNOS_IOMMU=y
CONFIG_RTC_DRV_GENERIC=y
CONFIG_SCSI_SAS_ATTRS=y
CONFIG_CRYPTO_AEAD2=y
CONFIG_COMMON_CLK_MT8192_CAMSYS=y
CONFIG_SERIAL_TEGRA=y
CONFIG_MFD_TPS65912_SPI=y
CONFIG_LPC32XX_ADC=y
CONFIG_EXTCON_GPIO=y
CONFIG_NET_ACT_MIRRED=y
CONFIG_PINCTRL_CYGNUS_MUX=y
CONFIG_ADJD_S311=y
CONFIG_CRYPTO_DEV_QAT_C62XVF=y
CONFIG_MFD_MX25_TSADC=y
CONFIG_MFD_TI_LMU=y
CONFIG_USB_SERIAL_CYPRESS_M8=y
CONFIG_I2C_HELPER_AUTO=y
CONFIG_BTT=y
CONFIG_NLS_KOI8_U=y
CONFIG_SPI_HISI_SFC_V3XX=y
CONFIG_REGULATOR_MC13XXX_CORE=y
CONFIG_SENSORS_XDPE152=y
CONFIG_FXAS21002C_SPI=y
CONFIG_IIO_ADC_HELPER=y
CONFIG_COMEDI_8254=y
CONFIG_ABP060MG=y
CONFIG_PINCTRL_QCOM_SSBI_PMIC=y
CONFIG_MCP320X=y
CONFIG_CXL_FEATURES=y
CONFIG_KEBA_CP500=y
CONFIG_SENSORS_OCC=y
CONFIG_SENSORS_MR75203=y
CONFIG_PREEMPT_TRACER=y
CONFIG_GPIO_KEMPLD=y
CONFIG_PROC_PAGE_MONITOR=y
CONFIG_MISC_RTSX_PCI=y
CONFIG_W1_MASTER_GPIO=y
CONFIG_VEML6075=y
CONFIG_BLK_CGROUP_PUNT_BIO=y
CONFIG_CRYPTO_LIB_BLAKE2B=y
CONFIG_HAVE_ARCH_JUMP_LABEL=y
CONFIG_PCIE_MOBIVEIL_PLAT=y
CONFIG_TYPEC_MUX_IT5205=y
CONFIG_BUFFER_HEAD=y
CONFIG_MTD_MAP_BANK_WIDTH_4=y
CONFIG_CRYPTO_AKCIPHER2=y
CONFIG_NVMEM_RMEM=y
CONFIG_COMEDI_USB_DRIVERS=y
CONFIG_STEAM_FF=y
CONFIG_REGULATOR_LP872X=y
CONFIG_SENSORS_G760A=y
CONFIG_GPIO_SL28CPLD=y
CONFIG_RESET_ZYNQMP=y
CONFIG_TRUSTED_KEYS_DEBUG=y
CONFIG_QDU_GCC_1000=y
CONFIG_HWMON=y
CONFIG_USB_SERIAL_IPW=y
CONFIG_AIO=y
CONFIG_MFD_CS42L43_I2C=y
CONFIG_AHCI_TEGRA=y
CONFIG_MTD_PARTITIONED_MASTER=y
CONFIG_CRYPTO_DEV_EXYNOS_HASH=y
CONFIG_REGULATOR_TI_ABB=y
CONFIG_QCOM_APR=y
CONFIG_MFD_WM8997=y
CONFIG_SCREEN_INFO=y
CONFIG_SENSORS_IRPS5401=y
CONFIG_EXTCON_RTK_TYPE_C=y
CONFIG_IRQ_SIM=y
CONFIG_IRQ_TIME_ACCOUNTING=y
CONFIG_RCAR_GEN3_THERMAL=y
CONFIG_SENSORS_MC34VR500=y
CONFIG_SENSORS_MAX20830=y
CONFIG_PCIE_ALTERA=y
CONFIG_IIO_ST_SENSORS_I2C=y
CONFIG_SM_GCC_8550=y
CONFIG_GPIO_74XX_MMIO=y
CONFIG_SM_DISPCC_4450=y
CONFIG_CRYPTO_ECDH=y
CONFIG_BT=y
CONFIG_REGULATOR_MAX20411=y
CONFIG_PINCTRL_TEGRA124=y
CONFIG_FB_S3_DDC=y
CONFIG_SENSORS_MAX15301=y
CONFIG_SPI_XCOMM=y
CONFIG_PCIE_KIRIN=y
CONFIG_COMMON_CLK_CDCE925=y
CONFIG_PINCTRL_SUN5I=y
CONFIG_CRYPTO_LIB_CHACHA20POLY1305=y
CONFIG_USB_EHCI_BRCMSTB=y
CONFIG_HAVE_PERF_REGS=y
CONFIG_SENSORS_MAX127=y
CONFIG_CRYPTO_DEV_KEEMBAY_OCS_ECC=y
CONFIG_SUN9I_A80_CCU=y
CONFIG_SPI_ATCSPI200=y
CONFIG_HID_HOLTEK=y
CONFIG_MFD_MAX77843=y
CONFIG_ISO9660_FS=y
CONFIG_RANDOMIZE_KSTACK_OFFSET=y
CONFIG_PRINTK_TIME=y
CONFIG_SM_VIDEOCC_8150=y
CONFIG_ADIS16209=y
CONFIG_RESET_STARFIVE_JH7110=y
CONFIG_HID_MEGAWORLD_FF=y
CONFIG_TASKS_TRACE_RCU_NO_MB=y
CONFIG_SUN55I_A523_CCU=y
CONFIG_BT_HCIUART_MRVL=y
CONFIG_CHARGER_MANAGER=y
CONFIG_IIO_MS_SENSORS_I2C=y
CONFIG_NLS_CODEPAGE_866=y
CONFIG_PHY_MTK_MIPI_DSI=y
CONFIG_PINCTRL_MSM=y
CONFIG_RTC_DRV_ATCRTC100=y
CONFIG_CLK_X1P42100_CAMCC=y
CONFIG_UNICODE=y
CONFIG_TEST_HEXDUMP=y
CONFIG_DWC_PCIE_PMU=y
CONFIG_TEGRA210_ADMA=y
CONFIG_BMC150_ACCEL=y
CONFIG_MFD_INTEL_M10_BMC_CORE=y
CONFIG_LEDS_PM8058=y
CONFIG_CRYPTO_DEV_S5P=y
CONFIG_TI_ADS1015=y
CONFIG_MFD_RK8XX_I2C=y
CONFIG_PINCTRL_MT8167=y
CONFIG_CLK_GLYMUR_DISPCC=y
CONFIG_PCIE_ULTRARISC=y
CONFIG_THREAD_INFO_IN_TASK=y
CONFIG_MFD_KEMPLD=y
CONFIG_INPUT_TPS6594_PWRBUTTON=y
CONFIG_LEDS_LP3952=y
CONFIG_COMEDI_MF6X4=y
CONFIG_PINCTRL_SOPHGO_CV1812H=y
CONFIG_RESET_BRCMSTB_RESCAL=y
CONFIG_USB_IDMOUSE=y
CONFIG_PCIE_ROCKCHIP_DW=y
CONFIG_SYSFS=y
CONFIG_COMMON_CLK_LOONGSON2=y
CONFIG_PINCTRL_IMX7D=y
CONFIG_STACKPROTECTOR_STRONG=y
CONFIG_STACKDEPOT_ALWAYS_INIT=y
CONFIG_TASKS_RCU=y
CONFIG_CMA=y
