CONFIG_NET_CLS_CGROUP=n
CONFIG_BSD_PROCESS_ACCT=n
CONFIG_LD_ORPHAN_WARN=n
CONFIG_X86_CMOV=n
CONFIG_SND_HWDEP=n
CONFIG_NE2K_PCI=n
CONFIG_ARCH_HAS_SET_MEMORY=n
CONFIG_ARCH_WANT_FRAME_POINTERS=n
CONFIG_SECRETMEM=n
CONFIG_VIRTIO_CONSOLE=n
CONFIG_FUNCTION_ALIGNMENT_4B=n
CONFIG_NF_LOG_IPV4=n
CONFIG_AIO=n
CONFIG_CPU_SUP_AMD=n
CONFIG_PREEMPT_COUNT=n
CONFIG_QUEUED_RWLOCKS=n
CONFIG_PCI_MSI=n
CONFIG_HUGETLBFS=n
CONFIG_CRYPTO_HW=n
CONFIG_SERIAL_8250_CONSOLE=n
CONFIG_PERF_EVENTS_INTEL_RAPL=n
CONFIG_ARCH_SUPPORTS_LTO_CLANG=n
CONFIG_AF_UNIX_OOB=n
CONFIG_SYSVIPC_SYSCTL=n
CONFIG_DEBUG_KERNEL=n
CONFIG_CPU_SUP_TRANSMETA_32=n
CONFIG_ARCH_USE_QUEUED_SPINLOCKS=n
CONFIG_USB_UHCI_HCD=n
CONFIG_ARCH_HAS_CPU_ATTACK_VECTORS=n
CONFIG_WLAN_VENDOR_SILABS=n
CONFIG_HAVE_FUTEX_ROBUST_UNLOCK=n
CONFIG_ARCH_HAS_FORTIFY_SOURCE=n
CONFIG_NET_RX_BUSY_POLL=n
CONFIG_ROOT_NFS=n
CONFIG_MD_AUTODETECT=n
CONFIG_MODULE_UNLOAD=n
CONFIG_IO_URING_ZCRX=n
CONFIG_PHYLIB=n
CONFIG_IRQ_DOMAIN=n
CONFIG_ARCH_HAS_SYNC_CORE_BEFORE_USERMODE=n
CONFIG_SND_HRTIMER=n
CONFIG_NET_VENDOR_SOCIONEXT=n
CONFIG_PCI_MMCONFIG=n
CONFIG_CPU_SUP_VORTEX_32=n
CONFIG_TIME_NS=n
CONFIG_HW_RANDOM=n
CONFIG_MOUSE_PS2_LOGIPS2PP=n
CONFIG_SCHED_MC=n
CONFIG_ARCH_SUPPORTS_SCHED_MC=n
CONFIG_EFI_CAPSULE_QUIRK_QUARK_CSH=n
CONFIG_CGROUP_SCHED=n
CONFIG_ARCH_USE_CMPXCHG_LOCKREF=n
CONFIG_NET_VENDOR_SILAN=n
CONFIG_NET_INGRESS=n
CONFIG_CPU_IDLE=n
CONFIG_HIBERNATION_SNAPSHOT_DEV=n
CONFIG_NET_VENDOR_CHELSIO=n
CONFIG_NET_VENDOR_BROADCOM=n
CONFIG_IOSF_MBI=n
CONFIG_NVRAM=n
CONFIG_ISA_DMA_API=n
CONFIG_X86_VERBOSE_BOOTUP=n
CONFIG_QUOTA_TREE=n
CONFIG_IOMMU_DMA=n
CONFIG_NET_VENDOR_AMAZON=n
CONFIG_UNION_FIND=n
CONFIG_ARCH_HAS_ACPI_TABLE_UPGRADE=n
CONFIG_SCHED_OMIT_FRAME_POINTER=n
CONFIG_MUTEX_SPIN_ON_OWNER=n
CONFIG_CHECK_SIGNATURE=n
CONFIG_CLZ_TAB=n
CONFIG_SMP=n
CONFIG_CFG80211=n
CONFIG_WLAN_VENDOR_PURELIFI=n
CONFIG_E1000E_HWTS=n
CONFIG_CONTEXT_SWITCH_TRACER=n
CONFIG_HAVE_CMPXCHG_DOUBLE=n
CONFIG_HAVE_PREEMPT_DYNAMIC=n
CONFIG_CC_HAS_SLS=n
CONFIG_NVMEM=n
CONFIG_CPU_SUP_INTEL=n
CONFIG_INPUT_TOUCHSCREEN=n
CONFIG_WLAN=n
CONFIG_HAS_IOMEM=n
CONFIG_SPARSE_IRQ=n
CONFIG_MITIGATION_RFDS=n
CONFIG_NF_NAT_SIP=n
CONFIG_CC_NO_STRINGOP_OVERFLOW=n
CONFIG_PROC_MEM_FORCE_PTRACE=n
CONFIG_KPROBES=n
CONFIG_ACPI_AC=n
CONFIG_MD=n
CONFIG_I2C_HELPER_AUTO=n
CONFIG_INPUT_KEYBOARD=n
CONFIG_SERIO_LIBPS2=n
CONFIG_SND_INTEL_NHLT=n
CONFIG_ACPI_WMI=n
CONFIG_HAVE_DEBUG_STACKOVERFLOW=n
CONFIG_XFRM=n
CONFIG_X86_DISABLED_FEATURE_OSPKE=n
CONFIG_HAS_IOPORT_MAP=n
CONFIG_CC_HAS_NAMED_AS=n
CONFIG_XZ_DEC_ARM=n
CONFIG_SYSTEM_DATA_VERIFICATION=n
CONFIG_UNIX=n
CONFIG_VMCORE_INFO=n
CONFIG_CRYPTO_AEAD=n
CONFIG_USB_ANNOUNCE_NEW_DEVICES=n
CONFIG_CRYPTO_AEAD2=n
CONFIG_BITREVERSE=n
CONFIG_IP_PIMSM_V2=n
CONFIG_MMU_GATHER_TABLE_FREE=n
CONFIG_IP_PNP=n
CONFIG_SECTION_MISMATCH_WARN_ONLY=n
CONFIG_FSNOTIFY=n
CONFIG_BLK_DEV_DM=n
CONFIG_TMPFS_XATTR=n
CONFIG_HAS_SECURITY_AUDIT=n
CONFIG_SECCOMP=n
CONFIG_CC_HAS_KASAN_GENERIC=n
CONFIG_ARCH_WANT_BATCHED_UNMAP_TLB_FLUSH=n
CONFIG_NET_VENDOR_AGERE=n
CONFIG_BPF=n
CONFIG_CC_NO_ARRAY_BOUNDS=n
CONFIG_HUGETLB_PAGE=n
CONFIG_NF_CONNTRACK_SECMARK=n
CONFIG_HAVE_KERNEL_GZIP=n
CONFIG_X86_32=n
CONFIG_NET_PTP_CLASSIFY=n
CONFIG_X86_INTEL_PSTATE=n
CONFIG_VIRTIO_DMA_SHARED_BUFFER=n
CONFIG_GROUP_SCHED_WEIGHT=n
CONFIG_GPIOLIB_LEGACY=n
CONFIG_ARCH_USE_MEMTEST=n
CONFIG_CPU_SUP_CENTAUR=n
CONFIG_DRM_DISPLAY_HDMI_HELPER=n
CONFIG_E1000=n
CONFIG_DRM_I915_USERPTR=n
CONFIG_DECOMPRESS_XZ=n
CONFIG_RTC_SYSTOHC=n
CONFIG_ACPI_BGRT=n
CONFIG_HAVE_SYSCALL_TRACEPOINTS=n
CONFIG_IRQ_FORCED_THREADING=n
CONFIG_SERIAL_EARLYCON=n
CONFIG_SND_X86=n
CONFIG_NAMESPACES=n
CONFIG_USB_XHCI_PCI=n
CONFIG_PCI_DIRECT=n
CONFIG_SLAB_MERGE_DEFAULT=n
CONFIG_DEFAULT_SECURITY_SELINUX=n
CONFIG_E100=n
CONFIG_DEBUG_BUGVERBOSE=n
CONFIG_PCPU_DEV_REFCNT=n
CONFIG_HAS_DMA=n
CONFIG_NF_LOG_ARP=n
CONFIG_USB_EHCI_TT_NEWSCHED=n
CONFIG_PKCS7_MESSAGE_PARSER=n
CONFIG_IO_URING=n
CONFIG_DRM_I915_COMPRESS_ERROR=n
CONFIG_ARCH_USE_MEMREMAP_PROT=n
CONFIG_ARCH_MIGHT_HAVE_PC_PARPORT=n
CONFIG_SND_HDA_COMPONENT=n
CONFIG_CC_HAS_ENTRY_PADDING=n
CONFIG_RCU_STALL_COMMON=n
CONFIG_PROC_EVENTS=n
CONFIG_NETFS_SUPPORT=n
CONFIG_X86_PKG_TEMP_THERMAL=n
CONFIG_ACPI_HOTPLUG_IOAPIC=n
CONFIG_CRYPTO_SIG=n
CONFIG_CRYPTO_HMAC=n
CONFIG_EPOLL=n
CONFIG_INET_TUNNEL=n
CONFIG_ACPI_SYSTEM_POWER_STATES_SUPPORT=n
CONFIG_LDISC_AUTOLOAD=n
CONFIG_ACPI_CONTAINER=n
CONFIG_DECOMPRESS_LZMA=n
CONFIG_GENERIC_IRQ_EFFECTIVE_AFF_MASK=n
CONFIG_RTC_DRV_CMOS=n
CONFIG_RPCSEC_GSS_KRB5=n
CONFIG_HAVE_RSEQ=n
CONFIG_MACINTOSH_DRIVERS=n
CONFIG_X86_DEBUG_FPU=n
CONFIG_BLOCK_HOLDER_DEPRECATED=n
CONFIG_SERIAL_CORE=n
CONFIG_SCSI_PROC_FS=n
CONFIG_MOUSE_PS2_TRACKPOINT=n
CONFIG_TIGON3=n
CONFIG_HOTPLUG_PCI=n
CONFIG_MEMBARRIER=n
CONFIG_NET_VENDOR_OKI=n
CONFIG_CC_HAS_NO_PROFILE_FN_ATTR=n
CONFIG_IRQ_DOMAIN_HIERARCHY=n
CONFIG_YENTA_O2=n
CONFIG_NET_VENDOR_8390=n
CONFIG_CRYPTO_AKCIPHER2=n
CONFIG_PAGE_SIZE_4KB=n
CONFIG_NET_VENDOR_SYNOPSYS=n
CONFIG_NET_VENDOR_ALACRITECH=n
CONFIG_NET_VENDOR_ATHEROS=n
CONFIG_HAVE_FUNCTION_GRAPH_TRACER=n
CONFIG_HAVE_STATIC_CALL=n
CONFIG_ACPI_SPCR_TABLE=n
CONFIG_ARCH_SUPPORTS_KEXEC=n
CONFIG_HAVE_ARCH_RANDOMIZE_KSTACK_OFFSET=n
CONFIG_HAVE_MOVE_PMD=n
CONFIG_USB_MON=n
CONFIG_DEBUG_FS_ALLOW_ALL=n
CONFIG_CPU_IDLE_GOV_HALTPOLL=n
CONFIG_AUDIT_GENERIC=n
CONFIG_X86_HV_CALLBACK_VECTOR=n
CONFIG_NET_XGRESS=n
CONFIG_NET_FAILOVER=n
CONFIG_MOUSE_PS2_SYNAPTICS=n
CONFIG_ACPI_SLEEP=n
CONFIG_IP_ROUTE_VERBOSE=n
CONFIG_SCHED_MC_PRIO=n
CONFIG_THERMAL_HWMON=n
CONFIG_MITIGATION_SRBDS=n
CONFIG_GENERIC_CMOS_UPDATE=n
CONFIG_INPUT_MOUSE=n
CONFIG_CGROUP_DEBUG=n
CONFIG_BLK_DEBUG_FS=n
CONFIG_USB_PCI=n
CONFIG_X86_DISABLED_FEATURE_FRED=n
CONFIG_HDMI=n
CONFIG_ACPI_NHLT=n
CONFIG_INPUT=n
CONFIG_ARCH_HAS_DEBUG_VIRTUAL=n
CONFIG_MODULES_USE_ELF_REL=n
CONFIG_SERIAL_8250_RSA=n
CONFIG_CLOCKSOURCE_WATCHDOG=n
CONFIG_NET_EGRESS=n
CONFIG_MICROCODE=n
CONFIG_JBD2=n
CONFIG_SECURITY_SELINUX=n
CONFIG_HAVE_UID16=n
CONFIG_HAVE_CMPXCHG_LOCAL=n
CONFIG_PID_NS=n
CONFIG_NET_VENDOR_MYRI=n
CONFIG_E1000E=n
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO=n
CONFIG_DNOTIFY=n
CONFIG_XFRM_ESP=n
CONFIG_NET_VENDOR_DLINK=n
CONFIG_GRACE_PERIOD=n
CONFIG_DEVPORT=n
CONFIG_X86_ACPI_CPUFREQ=n
CONFIG_MEMFD_CREATE=n
CONFIG_ACPI_THERMAL=n
CONFIG_ADVISE_SYSCALLS=n
CONFIG_CRYPTO_ALGAPI=n
CONFIG_X86_MSR=n
CONFIG_X86_ACPI_CPUFREQ_CPB=n
CONFIG_KMAP_LOCAL=n
CONFIG_CRYPTO_LIB_SHA512=n
CONFIG_DRM_TTM=n
CONFIG_SCREEN_INFO=n
CONFIG_USB_OHCI_HCD_PCI=n
CONFIG_USB_EHCI_PCI=n
CONFIG_CRYPTO_AKCIPHER=n
CONFIG_MITIGATION_SSB=n
CONFIG_RPS=n
CONFIG_DCACHE_WORD_ACCESS=n
CONFIG_KEXEC_CORE=n
CONFIG_MODULES=n
CONFIG_TASK_IO_ACCOUNTING=n
CONFIG_DECOMPRESS_ZSTD=n
CONFIG_X86_MCE=n
CONFIG_CRYPTO_CCM=n
CONFIG_RETHOOK=n
CONFIG_INPUT_JOYSTICK=n
CONFIG_DMI_SCAN_MACHINE_NON_EFI_FALLBACK=n
CONFIG_VIRTIO_PCI=n
CONFIG_MMU=n
CONFIG_HW_RANDOM_INTEL=n
CONFIG_PGTABLE_HAS_HUGE_LEAVES=n
CONFIG_SELECT_MEMORY_MODEL=n
CONFIG_NETFILTER_EGRESS=n
CONFIG_MMU_GATHER_RCU_TABLE_FREE=n
CONFIG_SCHEDSTATS=n
CONFIG_KEYS=n
CONFIG_NO_HZ_IDLE=n
CONFIG_NET_VENDOR_RENESAS=n
CONFIG_ARCH_USE_QUEUED_RWLOCKS=n
CONFIG_TRACE_CLOCK=n
CONFIG_BINFMT_ELF=n
CONFIG_9P_FS=n
CONFIG_IOMMU_IOVA=n
CONFIG_UPROBES=n
CONFIG_PROC_KCORE=n
CONFIG_POWER_SUPPLY_HWMON=n
CONFIG_EFI_CUSTOM_SSDT_OVERLAYS=n
CONFIG_WLAN_VENDOR_INTERSIL=n
CONFIG_ACPI_REV_OVERRIDE_POSSIBLE=n
CONFIG_PROC_SYSCTL=n
CONFIG_RTC_INTF_PROC=n
CONFIG_HAVE_KERNEL_BZIP2=n
CONFIG_ARCH_HAVE_EXTRA_ELF_NOTES=n
CONFIG_VGA_CONSOLE=n
CONFIG_GENERIC_GETTIMEOFDAY=n
