CONFIG_CRYPTO_AEGIS128=y
CONFIG_THERMAL_GOV_FAIR_SHARE=y
CONFIG_RESET_QCOM_AOSS=y
CONFIG_REGULATOR_DA9052=y
CONFIG_NEW_LEDS=y
CONFIG_CC_HAS_RETURN_THUNK=y
CONFIG_DM_PERSISTENT_DATA=y
CONFIG_DM_RAID=y
CONFIG_EXTCON_MAX14526=y
CONFIG_ADL8113=y
CONFIG_SERIAL_8250_FINTEK=y
CONFIG_INTEL_PUNIT_IPC=y
CONFIG_ENS210=y
CONFIG_RESET_AXS10X=y
CONFIG_TEGRA_BPMP_THERMAL=y
CONFIG_PMS7003=y
CONFIG_DEVFREQ_GOV_POWERSAVE=y
CONFIG_HAVE_FUNCTION_TRACER=y
CONFIG_RZG3E_THERMAL=y
CONFIG_HAVE_ARCH_SECCOMP_FILTER=y
CONFIG_ENCLOSURE_SERVICES=y
CONFIG_CPU_SUP_VORTEX_32=y
CONFIG_HP03=y
CONFIG_GENERIC_PINCTRL_GROUPS=y
CONFIG_MLX90635=y
CONFIG_TRACE_REMOTE=y
CONFIG_CROS_EC_DEBUGFS=y
CONFIG_CRC64=y
CONFIG_REGULATOR_MAX8660=y
CONFIG_RENESAS_RZV2HWDT=y
CONFIG_NVMEM_AN8855_EFUSE=y
CONFIG_SL28CPLD_INTC=y
CONFIG_RMI4_F30=y
CONFIG_SPRD_TIMER=y
CONFIG_FW_LOADER_USER_HELPER=y
CONFIG_RTC_DRV_GAMECUBE=y
CONFIG_HAVE_USER_RETURN_NOTIFIER=y
CONFIG_ADXL313_I2C=y
CONFIG_HAVE_EBPF_JIT=y
CONFIG_MFD_SUN4I_GPADC=y
CONFIG_GPIO_MAX7300=y
CONFIG_VM86=y
CONFIG_PAGE_OWNER=y
CONFIG_LZ4HC_COMPRESS=y
CONFIG_I2C_APPLE=y
CONFIG_AD799X=y
CONFIG_BME680_I2C=y
CONFIG_GPIO_WINBOND=y
CONFIG_MTD_MAP_BANK_WIDTH_1=y
CONFIG_IIO_SCMI=y
CONFIG_MEN_A21_WDT=y
CONFIG_ARCH_HAS_FORTIFY_SOURCE=y
CONFIG_PCMCIA_LOAD_CIS=y
CONFIG_BACKLIGHT_DA9052=y
CONFIG_RTC_DRV_XGENE=y
CONFIG_MICROCODE_INITRD32=y
CONFIG_BCM_NS_THERMAL=y
CONFIG_CRYPTO_KRB5=y
CONFIG_QUOTA_TREE=y
CONFIG_UIO=y
CONFIG_RPR0521=y
CONFIG_PINCTRL=y
CONFIG_ARM_SCMI_TRANSPORT_VIRTIO=y
CONFIG_W1_MASTER_AMD_AXI=y
CONFIG_MFD_TQMX86=y
CONFIG_DM_BUFIO=y
CONFIG_HAVE_FUTEX_ROBUST_UNLOCK=y
CONFIG_GPIO_EN7523=y
CONFIG_MST_IRQ=y
CONFIG_PWM_RENESAS_TPU=y
CONFIG_LEDS_CLASS_FLASH=y
CONFIG_MFD_PALMAS=y
CONFIG_FSL_MX25_ADC=y
CONFIG_LWQ_TEST=y
CONFIG_GPIO_ZEVIO=y
CONFIG_BCMA=y
CONFIG_HAVE_ARCH_RANDOMIZE_KSTACK_OFFSET=y
CONFIG_WATCHDOG_PRETIMEOUT_GOV=y
CONFIG_XARRAY_MULTI=y
CONFIG_TREE_RCU=y
CONFIG_KRETPROBES=y
CONFIG_MFD_TPS65912_I2C=y
CONFIG_ARCH_SUPPORTS_DEBUG_PAGEALLOC=y
CONFIG_LEDS_REGULATOR=y
CONFIG_EXAR_WDT=y
CONFIG_SHUFFLE_PAGE_ALLOCATOR=y
CONFIG_X86_DEBUGCTLMSR=y
CONFIG_APM=y
CONFIG_MITIGATION_SSB=y
CONFIG_IQS624_POS=y
CONFIG_MCP3422=y
CONFIG_MFD_DA9063=y
CONFIG_PPS_CLIENT_LDISC=y
CONFIG_MTD_BLKDEVS=y
CONFIG_REGULATOR_BD9571MWV=y
CONFIG_CRYPTO_WP512=y
CONFIG_PHY_STM32_COMBOPHY=y
CONFIG_ARM_SCMI_HAVE_TRANSPORT=y
CONFIG_DEBUG_LOCKING_API_SELFTESTS=y
CONFIG_OVERLAY_FS_REDIRECT_DIR=y
CONFIG_MTD_MAP_BANK_WIDTH_2=y
CONFIG_PHY_RALINK_USB=y
CONFIG_SMPRO_ERRMON=y
CONFIG_INPUT_DA7280_HAPTICS=y
CONFIG_TSYS01=y
CONFIG_PINCTRL_PFC_R8A774C0=y
CONFIG_PHY_STARFIVE_JH7110_DPHY_RX=y
CONFIG_ARM_SCMI_HAVE_SHMEM=y
CONFIG_PINCTRL_PFC_SH7203=y
CONFIG_DEBUG_WX=y
CONFIG_GPIO_RCAR=y
CONFIG_MTD_CFI_UTIL=y
CONFIG_NVMEM_MXS_OCOTP=y
CONFIG_ARCH_HAS_KERNEL_FPU_SUPPORT=y
CONFIG_QCOM_RMTFS_MEM=y
CONFIG_PINCTRL_TEGRA=y
CONFIG_OPT4001=y
CONFIG_PAGE_MAPCOUNT=y
CONFIG_QFMT_V2=y
CONFIG_NULL_TTY=y
CONFIG_I2C_MT65XX=y
CONFIG_ICP10100=y
CONFIG_TEGRA_TIMER=y
CONFIG_AOSONG_AGS02MA=y
CONFIG_X86_SPEEDSTEP_ICH=y
CONFIG_SENSORS_HMC5843=y
CONFIG_CMA=y
CONFIG_BRCMSTB_L2_IRQ=y
CONFIG_LEDS_PCA955X=y
CONFIG_FS_STACK=y
CONFIG_FAT_FS=y
CONFIG_HAVE_TRUSTED_KEYS_DEBUG=y
CONFIG_RESET_TEGRA_BPMP=y
CONFIG_GPIO_XGENE_SB=y
CONFIG_DEBUG_STACKOVERFLOW=y
CONFIG_CHECKPOINT_RESTORE=y
CONFIG_CRYPTO_MD4=y
CONFIG_ARM_SCMI_PROTOCOL=y
CONFIG_MFD_INTEL_M10_BMC_CORE=y
CONFIG_BLK_DEV_DM_BUILTIN=y
CONFIG_DM_FLAKEY=y
CONFIG_SSIF_IPMI_BMC=y
CONFIG_KEXEC_CORE=y
CONFIG_PWM_EP93XX=y
CONFIG_AHCI_DM816=y
CONFIG_RESET_RZG2L_USBPHY_CTRL=y
CONFIG_EXYNOS_ACPM_PROTOCOL=y
CONFIG_GENERIC_STRNLEN_USER=y
CONFIG_REGULATOR_MT6315=y
CONFIG_SENSORS_ISL29028=y
CONFIG_MTK_SVS=y
CONFIG_GENERIC_IRQ_PROBE=y
CONFIG_EM_TIMER_STI=y
CONFIG_HAVE_ARCH_WITHIN_STACK_FRAMES=y
CONFIG_GCC_NO_STRINGOP_OVERFLOW=y
CONFIG_PHY_INTEL_KEEMBAY_USB=y
CONFIG_SERIAL_IMX=y
CONFIG_I2C_IOP3XX=y
CONFIG_ARCH_HAS_CPU_RELAX=y
CONFIG_I2C_DESIGNWARE_PLATFORM=y
CONFIG_ARCH_SUPPORTS_LTO_CLANG_THIN=y
CONFIG_PINCTRL_PFC_R8A7742=y
CONFIG_NLS_CODEPAGE_1250=y
CONFIG_REGULATOR_MAX8952=y
CONFIG_PKCS7_MESSAGE_PARSER=y
CONFIG_VIRTIO_INPUT=y
CONFIG_MB1232=y
CONFIG_ARCH_CORRECT_STACKTRACE_ON_KRETPROBE=y
CONFIG_STRIP_ASM_SYMS=y
CONFIG_LEDS_BLINKM=y
CONFIG_ROHM_BU27034=y
CONFIG_RTC_DRV_DS1286=y
CONFIG_REGULATOR_RT4831=y
CONFIG_ENS160_I2C=y
CONFIG_PREEMPTION=y
CONFIG_SERIAL_8250_SHARE_IRQ=y
CONFIG_ST_UVIS25_I2C=y
CONFIG_RESET_EYEQ=y
CONFIG_SPS30_I2C=y
CONFIG_NEED_PER_CPU_KM=y
CONFIG_REGULATOR_LM363X=y
CONFIG_MTK_CMDQ=y
CONFIG_X86_GENERIC=y
CONFIG_X86_MPPARSE=y
CONFIG_DEBUG_IRQFLAGS=y
CONFIG_MTD_NAND_DISKONCHIP=y
CONFIG_CC_NO_ARRAY_BOUNDS=y
CONFIG_REGULATOR_MAX8998=y
CONFIG_ARCH_ENABLE_SPLIT_PMD_PTLOCK=y
CONFIG_MTD_SLRAM=y
CONFIG_MTD_MTDRAM=y
CONFIG_BCM_IPROC_ADC=y
CONFIG_SERIAL_PIC32_CONSOLE=y
CONFIG_W1_MASTER_MXC=y
CONFIG_RAID6_PQ=y
CONFIG_GPIO_EP93XX=y
CONFIG_SCSI_SRP_ATTRS=y
CONFIG_I2C_OCORES=y
CONFIG_COMPAT_BRK=y
CONFIG_MFD_MAX8998=y
CONFIG_MTD_CFI_I2=y
CONFIG_ZSWAP_COMPRESSOR_DEFAULT_842=y
CONFIG_REGULATOR_WM8400=y
CONFIG_I3C_OR_I2C=y
CONFIG_X86_DISABLED_FEATURE_LAM=y
CONFIG_REGULATOR_MT6311=y
CONFIG_TQMX86_WDT=y
CONFIG_TCG_TIS_ST33ZP24_I2C=y
CONFIG_MFD_TPS65912=y
CONFIG_RESET_ATH79=y
CONFIG_MMA9551_CORE=y
CONFIG_INTEL_TCC=y
CONFIG_CM3232=y
CONFIG_KRETPROBE_ON_RETHOOK=y
CONFIG_RTC_DRV_GOLDFISH=y
CONFIG_MTD_NAND_DISKONCHIP_BBTWRITE=y
CONFIG_RCU_EQS_DEBUG=y
CONFIG_PWM_SPRD=y
CONFIG_ARCH_SUPPORTS_ATOMIC_RMW=y
CONFIG_MTD_PCMCIA=y
CONFIG_SPARSEMEM_MANUAL=y
CONFIG_APPLE_SART=y
CONFIG_GPIO_TWL6040=y
CONFIG_GPIO_PCA953X=y
CONFIG_BACKLIGHT_KTZ8866=y
CONFIG_TRACER_MAX_TRACE=y
CONFIG_MTD_NAND_SUNXI=y
CONFIG_MEMORY_ISOLATION=y
CONFIG_MMC_SDHCI_UHS2=y
CONFIG_PINCTRL_PFC_R8A7740=y
CONFIG_INPUT_AW86927=y
CONFIG_TPS6105X=y
CONFIG_QCOM_GSBI=y
CONFIG_PROC_PID_ARCH_STATUS=y
CONFIG_RETHOOK=y
CONFIG_LEDS_PCA9532=y
CONFIG_MFD_MC13XXX_I2C=y
CONFIG_MFD_MAX77693=y
CONFIG_DECOMPRESS_GZIP=y
CONFIG_NILFS2_FS=y
CONFIG_CRYPTO_CAST_COMMON=y
CONFIG_GENERIC_CPU_AUTOPROBE=y
CONFIG_CHR_DEV_SCH=y
CONFIG_GENERIC_CALIBRATE_DELAY=y
CONFIG_CMA_SIZE_SEL_MAX=y
CONFIG_NVMEM_STM32_ROMEM=y
CONFIG_PINCTRL_PFC_R8A774E1=y
CONFIG_SOPHGO_SG2044_TOPSYS=y
CONFIG_CRC7=y
CONFIG_CRYPTO_CRYPTD=y
CONFIG_BLK_DEV_INITRD=y
CONFIG_INPUT_AD714X=y
CONFIG_RESET_A10SR=y
CONFIG_ARCH_WANT_IRQS_OFF_ACTIVATE_MM=y
CONFIG_CRYPTO_KRB5_SELFTESTS=y
CONFIG_DM_DUST=y
CONFIG_RENESAS_RZG2L_IRQC=y
CONFIG_IIO=y
CONFIG_NVMEM_LAN9662_OTPC=y
CONFIG_I2C_DAVINCI=y
CONFIG_COMPAT_VDSO=y
CONFIG_MFD_MAX77705=y
CONFIG_NOP_TRACER=y
CONFIG_MPL115_I2C=y
CONFIG_GPIO_SPRD=y
CONFIG_DYNAMIC_FTRACE_WITH_REGS=y
CONFIG_GPIO_IT87=y
CONFIG_AMPERE_CORESIGHT_PMU_ARCH_SYSTEM_PMU=y
CONFIG_DEBUG_NMI_SELFTEST=y
CONFIG_INIT_ON_ALLOC_DEFAULT_ON=y
CONFIG_CRYPTO_RNG=y
CONFIG_DM_EBS=y
CONFIG_IIO_INV_SENSORS_TIMESTAMP=y
CONFIG_SCSI_MOD=y
CONFIG_SPMI_APPLE=y
CONFIG_SERIAL_8250_BCM2835AUX=y
CONFIG_NOA1305=y
CONFIG_TI_ADS1015=y
CONFIG_LOCKDEP=y
CONFIG_SYSC_R8A7743=y
CONFIG_TI_ADS7138=y
CONFIG_USER_STACKTRACE_SUPPORT=y
CONFIG_BLK_ICQ=y
CONFIG_SERIAL_MESON=y
CONFIG_PHY_PXA_28NM_HSIC=y
CONFIG_HAVE_ARCH_HUGE_VMAP=y
CONFIG_CRYPTO_LIB_SHA1=y
CONFIG_MTD_NAND_TEGRA=y
CONFIG_MTD_PARSER_TPLINK_SAFELOADER=y
CONFIG_DAMON_VADDR=y
CONFIG_HBMC_AM654=y
CONFIG_BACKLIGHT_AS3711=y
CONFIG_IOMMU_IO_PGTABLE_ARMV7S=y
CONFIG_PINCTRL_DA9062=y
CONFIG_FTRACE_MCOUNT_USE_CC=y
CONFIG_GPIO_CDEV=y
CONFIG_TRUSTED_KEYS=y
CONFIG_PTDUMP=y
CONFIG_SX_COMMON=y
CONFIG_MXS_LRADC_ADC=y
CONFIG_FTRACE_SORT_STARTUP_TEST=y
CONFIG_BLK_DEV_SD=y
CONFIG_DEBUG_INFO_COMPRESSED_NONE=y
CONFIG_HAVE_PERF_EVENTS_NMI=y
CONFIG_REGULATOR_RTQ6752=y
CONFIG_GPIO_SHARED=y
CONFIG_PINCTRL_WM8750=y
CONFIG_GPIO_MPC8XXX=y
CONFIG_SCSI_COMMON=y
CONFIG_VT_CONSOLE_SLEEP=y
CONFIG_REGULATOR_QCOM_RPMH=y
CONFIG_SERIAL_TEGRA_UTC=y
CONFIG_VFAT_FS=y
CONFIG_RESET_SIMPLE=y
CONFIG_REGMAP=y
CONFIG_AHCI_MTK=y
CONFIG_ZERO_CALL_USED_REGS=y
CONFIG_LEDS_GPIO=y
CONFIG_INPUT_IBM_PANEL=y
CONFIG_MMC_MOXART=y
CONFIG_ARCH_SUPPORTS_KEXEC_SIG=y
CONFIG_HAVE_FUNCTION_GRAPH_TRACER=y
CONFIG_REGULATOR_DA9210=y
CONFIG_LPC18XX_DAC=y
CONFIG_GPIO_TWL4030=y
CONFIG_RESET_TN48M_CPLD=y
CONFIG_IOMMU_IO_PGTABLE_DART=y
CONFIG_CPU_MITIGATIONS=y
CONFIG_CC_HAS_IBT=y
CONFIG_CRYPTO_RNG2=y
CONFIG_W1_MASTER_DS2482=y
CONFIG_RESET_MESON=y
CONFIG_STACKPROTECTOR=y
CONFIG_MMC_OWL=y
CONFIG_TCG_ATMEL=y
CONFIG_SIOX=y
CONFIG_CRYPTO_LIB_UTILS=y
CONFIG_RTC_DRV_SD2405AL=y
CONFIG_ARCH_SUPPORTS_KEXEC_PURGATORY=y
CONFIG_REGULATOR_AXP20X=y
CONFIG_HMC6352=y
CONFIG_LOCK_STAT=y
CONFIG_K3_THERMAL=y
CONFIG_MESON_MX_SOCINFO=y
CONFIG_MMC_BLOCK=y
CONFIG_EXPERT=y
CONFIG_CRYPTO_HMAC=y
CONFIG_X86_CHECK_BIOS_CORRUPTION=y
CONFIG_CLKSRC_ST_LPC=y
CONFIG_UIO_DFL=y
CONFIG_MENF21BMC_WATCHDOG=y
CONFIG_QCOM_WCNSS_CTRL=y
CONFIG_SERIAL_8250_UNIPHIER=y
CONFIG_HW_RANDOM_VIRTIO=y
CONFIG_ARCH_SUPPORTS_KEXEC_BZIMAGE_VERIFY_SIG=y
CONFIG_DEBUG_KERNEL=y
CONFIG_ARCH_DMA_ADDR_T_64BIT=y
CONFIG_EDAC_MEM_REPAIR=y
CONFIG_RATIONAL=y
CONFIG_SM_FTL=y
CONFIG_NLS_CODEPAGE_950=y
CONFIG_RTC_DRV_STMP=y
CONFIG_I2C_MLXCPLD=y
CONFIG_TCG_TIS_I2C_ATMEL=y
CONFIG_ALTERA_PR_IP_CORE=y
CONFIG_SYSVIPC_SYSCTL=y
CONFIG_LEDS_BD2802=y
CONFIG_UDF_FS=y
CONFIG_AUXILIARY_BUS=y
CONFIG_INPUT_DA9052_ONKEY=y
CONFIG_SOC_INTEGRATOR_CM=y
CONFIG_ICS932S401=y
CONFIG_FW_CS_DSP=y
CONFIG_HWSPINLOCK_OMAP=y
CONFIG_ZLIB_INFLATE=y
CONFIG_PHY_STARFIVE_JH7110_DPHY_TX=y
CONFIG_HAVE_FTRACE_GRAPH_FUNC=y
CONFIG_DPOT_DAC=y
CONFIG_DEFAULT_SECURITY_DAC=y
CONFIG_MFD_RETU=y
CONFIG_PWM_IMX1=y
CONFIG_BACKLIGHT_88PM860X=y
CONFIG_CACHESTAT_SYSCALL=y
CONFIG_FXLS8962AF=y
CONFIG_BACKLIGHT_KTD253=y
CONFIG_PINCTRL_CHERRYVIEW=y
CONFIG_FUNCTION_ALIGNMENT_4B=y
CONFIG_STM32_IPCC=y
CONFIG_DEBUG_FS=y
CONFIG_QCOM_WDT=y
CONFIG_STMP_DEVICE=y
CONFIG_MD_RAID456=y
CONFIG_MFD_SIMPLE_MFD_I2C=y
CONFIG_HW_RANDOM_INGENIC_TRNG=y
CONFIG_MPRLS0025PA=y
CONFIG_REGULATOR_MAX20411=y
CONFIG_DEBUG_KOBJECT=y
CONFIG_DUMMY_CONSOLE=y
CONFIG_CPU_SUP_AMD=y
CONFIG_MTD_NAND_RENESAS=y
CONFIG_SERIAL_STM32=y
CONFIG_ADXL372_I2C=y
CONFIG_PKCS8_PRIVATE_KEY_PARSER=y
CONFIG_LEDS_LM3533=y
CONFIG_LOONGSON1_WDT=y
CONFIG_TS72XX_WATCHDOG=y
CONFIG_CRYPTO_ECC=y
CONFIG_RTC_DRV_ABX80X=y
CONFIG_DM_CRYPT=y
CONFIG_RENESAS_RZN1WDT=y
CONFIG_TRANSPARENT_HUGEPAGE=y
CONFIG_FS_ENCRYPTION_INLINE_CRYPT=y
CONFIG_CHR_DEV_ST=y
CONFIG_INPUT_GPIO_VIBRA=y
CONFIG_TCG_TIS=y
CONFIG_I2C_GPIO=y
CONFIG_OMAP_IOMMU=y
CONFIG_XILINX_WATCHDOG=y
CONFIG_JFS_SECURITY=y
CONFIG_STK8312=y
CONFIG_I2C_HISI=y
CONFIG_MTD_PHRAM=y
CONFIG_GPIO_MB86S7X=y
CONFIG_IMX_SCMI_CPU_DRV=y
CONFIG_SPARSE_IRQ=y
CONFIG_AXP20X_ADC=y
CONFIG_QCOM_RPMH=y
CONFIG_RTC_DRV_PCF8523=y
CONFIG_QUOTA_DEBUG=y
CONFIG_HAVE_ARCH_KFENCE=y
CONFIG_X86_CX8=y
CONFIG_PWM_MEDIATEK=y
CONFIG_MFD_MENF21BMC=y
CONFIG_PINCTRL_WMT=y
CONFIG_TARGET_CORE=y
CONFIG_DM_INTEGRITY=y
CONFIG_ARCH_CONFIGURES_CPU_MITIGATIONS=y
CONFIG_BACKLIGHT_LM3639=y
CONFIG_NEED_TASKS_RCU=y
CONFIG_CPU_SUP_CYRIX_32=y
CONFIG_LIBNVDIMM=y
CONFIG_PHY_EIC7700_SATA=y
CONFIG_BMG160_I2C=y
CONFIG_NLS_KOI8_R=y
CONFIG_GPIO_MAX732X_IRQ=y
CONFIG_CLPS711X_TIMER=y
CONFIG_REED_SOLOMON_DEC16=y
CONFIG_SERIO_ARC_PS2=y
CONFIG_RESET_SUNXI=y
CONFIG_NAMESPACES=y
CONFIG_USB_OHCI_LITTLE_ENDIAN=y
CONFIG_REGULATOR_88PG86X=y
CONFIG_SERIAL_MXS_AUART=y
CONFIG_MCP47FEB02=y
CONFIG_GPIO_FXL6408=y
CONFIG_LEDS_LP3952=y
CONFIG_VEML3235=y
CONFIG_REGULATOR_RT5190A=y
CONFIG_EXT4_FS=y
CONFIG_PINCTRL_PFC_SH7722=y
CONFIG_DA9150_GPADC=y
CONFIG_AD5380=y
CONFIG_PERF_EVENTS_AMD_BRS=y
CONFIG_ADJD_S311=y
CONFIG_REGULATOR_88PM800=y
CONFIG_STM32_DFSDM_CORE=y
CONFIG_MFD_TI_AM335X_TSCADC=y
CONFIG_REGULATOR_MAX8925=y
CONFIG_CLKEVT_I8253=y
CONFIG_SBC_FITPC2_WATCHDOG=y
CONFIG_PPS_CLIENT_KTIMER=y
CONFIG_ARM_SCMI_RAW_MODE_SUPPORT=y
CONFIG_HAVE_PERF_REGS=y
CONFIG_MICROCODE=y
CONFIG_DEBUG_NOTIFIERS=y
CONFIG_RMI4_F12=y
CONFIG_REGULATOR_PF9453=y
CONFIG_BMA220_I2C=y
CONFIG_HAVE_STATIC_CALL=y
CONFIG_SLAB_BUCKETS=y
CONFIG_PREEMPT_RCU=y
CONFIG_MFD_TI_LP873X=y
CONFIG_DEBUG_RODATA_TEST=y
CONFIG_TEE=y
CONFIG_ARCH_HAS_STRICT_KERNEL_RWX=y
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST=y
CONFIG_ARM_SCMI_NEED_DEBUGFS=y
CONFIG_MTD_NAND_QCOM=y
CONFIG_HTS221_I2C=y
CONFIG_LEDS_DA903X=y
CONFIG_GENERIC_IRQ_CHIP=y
CONFIG_GPIO_PALMAS=y
CONFIG_MUX_CORE=y
CONFIG_X86_UP_IOAPIC=y
CONFIG_HAVE_ARCH_THREAD_STRUCT_WHITELIST=y
CONFIG_KMALLOC_PARTITION_CACHES=y
CONFIG_ARCH_SUPPORTS_ACPI=y
CONFIG_RING_BUFFER_PERSISTENT_INJECT=y
CONFIG_GPIO_CROS_EC=y
CONFIG_AHCI_IMX=y
