CONFIG_DNS_RESOLVER=n
CONFIG_ARCH_R9A08G046=n
CONFIG_DRM_MSM_MDP5=n
CONFIG_PINCTRL_SKY1=n
CONFIG_DRM_PANEL_SIMPLE=n
CONFIG_BNX2X=n
CONFIG_CC_HAS_INT128=n
CONFIG_ARCH_WANT_DEFAULT_BPF_JIT=n
CONFIG_UBIFS_FS_XATTR=n
CONFIG_PINCTRL_SM8550_LPASS_LPI=n
CONFIG_ARM64_HW_AFDBM=n
CONFIG_SM_DISPCC_6115=n
CONFIG_DRM_SUN8I_MIXER=n
CONFIG_SUN50I_ERRATUM_UNKNOWN1=n
CONFIG_COMMON_CLK_SAMSUNG=n
CONFIG_PINCTRL_QDF2XXX=n
CONFIG_NOUVEAU_PLATFORM_DRIVER=n
CONFIG_LTO_NONE=n
CONFIG_SUN6I_MSGBOX=n
CONFIG_COMMON_CLK_MESON_REGMAP=n
CONFIG_SND_SOC_WSA884X=n
CONFIG_PINCTRL_MTK_MOORE=n
CONFIG_INTERCONNECT_QCOM_GLYMUR=n
CONFIG_SND_SOC_DMIC=n
CONFIG_IIO_ST_LSM6DSX=n
CONFIG_PINCTRL_IPQ6018=n
CONFIG_CLK_OWL_S900=n
CONFIG_GRACE_PERIOD=n
CONFIG_ARCH_HAS_NONLEAF_PMD_YOUNG=n
CONFIG_DNOTIFY=n
CONFIG_NETFILTER_FAMILY_BRIDGE=n
CONFIG_MTK_CMDQ_MBOX=n
CONFIG_BTRFS_FS_POSIX_ACL=n
CONFIG_NUMA_MEMBLKS=n
CONFIG_PINCTRL_BCM2712=n
CONFIG_QCOM_RPROC_COMMON=n
CONFIG_CRYPTO_ZSTD=n
CONFIG_PINCTRL_SM6350=n
CONFIG_SERIAL_AMBA_PL011=n
CONFIG_ARCH_MA35=n
CONFIG_NET_VENDOR_MEDIATEK=n
CONFIG_ARM64_ERRATUM_843419=n
CONFIG_REGULATOR_HI6421V530=n
CONFIG_DQL=n
CONFIG_SOC_BUS=n
CONFIG_WCN36XX=n
CONFIG_QCOM_TSENS=n
CONFIG_PHY_QCOM_QMP_UFS=n
CONFIG_CRYPTO_GCM=n
CONFIG_SYSFB=n
CONFIG_FSL_DPAA_ETH=n
CONFIG_ARCH_MICROCHIP=n
CONFIG_CLK_INTEL_SOCFPGA64=n
CONFIG_IOMMU_DEFAULT_DMA_STRICT=n
CONFIG_FPGA_MGR_VERSAL_FPGA=n
CONFIG_INTERCONNECT_QCOM_MSM8916=n
CONFIG_HISI_PMU=n
CONFIG_SND_SOC_SDCA_OPTIONAL=n
CONFIG_PAGE_POOL=n
CONFIG_REED_SOLOMON_DEC8=n
CONFIG_SPI=n
CONFIG_DRM_MSM_DPU=n
CONFIG_CRYPTO_LIB_AES_ARCH=n
CONFIG_ARM_PMU=n
CONFIG_ZYNQMP_POWER=n
CONFIG_ARM_GIC_ITS_PARENT=n
CONFIG_PCIE_ROCKCHIP=n
CONFIG_HAS_IOPORT=n
CONFIG_COMMON_CLK_MT8196_PEXTPSYS=n
CONFIG_I2C_IMX=n
CONFIG_ARCH_R9A08G045=n
CONFIG_SM_GCC_MILOS=n
CONFIG_TPS6594_PFSM=n
CONFIG_PCIE_RCAR_GEN4_HOST=n
CONFIG_HAVE_DYNAMIC_FTRACE=n
CONFIG_REGULATOR_CROS_EC=n
CONFIG_CEC_MESON_G12A_AO=n
CONFIG_SND_SOC_SAMSUNG=n
CONFIG_RTC_DRV_RV3028=n
CONFIG_COMMON_CLK_MT8186=n
CONFIG_RESET_BERLIN=n
CONFIG_CROS_EC_PROTO=n
CONFIG_SOC_TEGRA_PMC=n
CONFIG_DWMAC_MEDIATEK=n
CONFIG_CAVIUM_ERRATUM_23154=n
CONFIG_SND_USB_AUDIO=n
CONFIG_CROS_EC=n
CONFIG_FSL_ERRATUM_A008585=n
CONFIG_USB_F_MASS_STORAGE=n
CONFIG_MLX5_SW_STEERING=n
CONFIG_CRYPTO_SM4=n
CONFIG_MFD_CORE=n
CONFIG_PCI_MSI=n
CONFIG_DEBUG_FS_ALLOW_ALL=n
CONFIG_ARCH_R9A07G054=n
CONFIG_PINCTRL_SX150X=n
CONFIG_PHY_TEGRA194_P2U=n
CONFIG_PM_DEVFREQ=n
CONFIG_WLAN_VENDOR_ATMEL=n
CONFIG_ARCH_USE_QUEUED_SPINLOCKS=n
CONFIG_DWMAC_SUNXI=n
CONFIG_WL18XX=n
CONFIG_SND_HDA_CODEC_HDMI_TEGRA=n
CONFIG_IO_URING_BPF=n
CONFIG_CRC16=n
CONFIG_PHY_QCOM_PCIE2=n
CONFIG_WLAN_VENDOR_SILABS=n
CONFIG_RPMSG_NS=n
CONFIG_SERIAL_IMX_CONSOLE=n
CONFIG_SERIAL_STM32=n
CONFIG_PINCTRL_SUN50I_H5=n
CONFIG_ARCH_SUPPORTS_UPROBES=n
CONFIG_PCIE_TEGRA194_EP=n
CONFIG_VIDEO_RENESAS_FCP=n
CONFIG_SERIAL_FSL_LPUART_CONSOLE=n
CONFIG_ARCH_R8A77995=n
CONFIG_V4L2_H264=n
CONFIG_PHY_MESON_GXL_USB2=n
CONFIG_NFC_S3FWRN5=n
CONFIG_SERIAL_DEV_CTRL_TTYPORT=n
CONFIG_FSL_ENETC_QOS=n
CONFIG_QCOM_SPM=n
CONFIG_RTC_DRV_S3C=n
CONFIG_PATA_OF_PLATFORM=n
CONFIG_ARCH_USE_SYM_ANNOTATIONS=n
CONFIG_COMMON_CLK_MT8183_IPU_ADL=n
CONFIG_TEGRA_AHB=n
CONFIG_SND_SOC_MT6358=n
CONFIG_GENERIC_IRQ_KEXEC_CLEAR_VM_FORWARD=n
CONFIG_GENERIC_ALLOCATOR=n
CONFIG_EFI_GENERIC_STUB=n
CONFIG_CRC8=n
CONFIG_ARCH_SUNXI=n
CONFIG_PINCTRL_SUN50I_A100_R=n
CONFIG_NET_ACT_GATE=n
CONFIG_EXYNOS_ARM64_COMMON_CLK=n
CONFIG_COMMON_CLK_MT8183_IMGSYS=n
CONFIG_USB_F_EEM=n
CONFIG_QCOM_RPMHPD=n
CONFIG_DECOMPRESS_GZIP=n
CONFIG_ARCH_HAS_KCOV=n
CONFIG_HAVE_EFFICIENT_UNALIGNED_ACCESS=n
CONFIG_PINCTRL_SUN50I_A100=n
CONFIG_PINCTRL_SC7280_LPASS_LPI=n
CONFIG_ATH10K_LEDS=n
CONFIG_ARCH_VISCONTI=n
CONFIG_SUN50I_H616_CCU=n
CONFIG_BT_HIDP=n
CONFIG_HISILICON_ERRATUM_161600802=n
CONFIG_CRYPTO_DEV_FSL_CAAM_PKC_API=n
CONFIG_UEFI_CPER_ARM=n
CONFIG_CLKSRC_MMIO=n
CONFIG_COMMON_CLK_MT8183_MMSYS=n
CONFIG_TAP=n
CONFIG_IRQ_UNIPHIER_AIDET=n
CONFIG_SND_SUN8I_ADDA_PR_REGMAP=n
CONFIG_QCOM_BAM_DMA=n
CONFIG_ARCH_BERLIN=n
CONFIG_ARM_CCI400_COMMON=n
CONFIG_DMABUF_HEAPS=n
CONFIG_VIDEOBUF2_DMA_CONTIG=n
CONFIG_PWM_RENESAS_RCAR=n
CONFIG_FB_SYSMEM_HELPERS=n
CONFIG_USB_SERIAL_OPTION=n
CONFIG_RZ_DMAC=n
CONFIG_DEBUG_MISC=n
CONFIG_ARCH_SUPPORTS_KEXEC_SIG=n
CONFIG_PWM_SAMSUNG=n
CONFIG_NPCM7XX_TIMER=n
CONFIG_CHARGER_CROS_PCHG=n
CONFIG_RPMSG_QCOM_SMD=n
CONFIG_CRYPTO_AES_ARM64_CE_BLK=n
CONFIG_PINCTRL_SUN50I_H616_R=n
CONFIG_MMC_UNIPHIER=n
CONFIG_EFI_STUB=n
CONFIG_ASPEED_SOCINFO=n
CONFIG_DRM_BRIDGE_CONNECTOR=n
CONFIG_V4L_MEM2MEM_DRIVERS=n
CONFIG_ARCH_HAS_SET_MEMORY=n
CONFIG_MSM_MMCC_8998=n
CONFIG_CLK_RZV2H=n
CONFIG_FB_SYS_FILLRECT=n
CONFIG_TRANSPARENT_HUGEPAGE_SHMEM_HUGE_NEVER=n
CONFIG_QCOM_AOSS_QMP=n
CONFIG_LEDS_CROS_EC=n
CONFIG_DWMAC_IMX8=n
CONFIG_MAC80211_RC_DEFAULT_MINSTREL=n
CONFIG_MVEBU_GICP=n
CONFIG_SND_SOC_IMX_SGTL5000=n
CONFIG_HAVE_ARCH_COMPILER_H=n
CONFIG_HWMON=n
CONFIG_CRYPTO=n
CONFIG_INPUT_SPARSEKMAP=n
CONFIG_GENERIC_IRQ_IPI=n
CONFIG_IOMMU_DMA=n
CONFIG_RTC_DRV_ZYNQMP=n
CONFIG_MTD_SPI_NAND=n
CONFIG_DEBUG_MEMORY_INIT=n
CONFIG_DRM_PANEL_STARTEK_KD070FHFID015=n
CONFIG_COMMON_CLK_FSL_SAI=n
CONFIG_USB_SERIAL_FTDI_SIO=n
CONFIG_SND_SUN50I_CODEC_ANALOG=n
CONFIG_HAVE_ARCH_BITREVERSE=n
CONFIG_MTK_CMDQ=n
CONFIG_GPIO_BRCMSTB=n
CONFIG_SND_SOC_LPASS_TX_MACRO=n
CONFIG_INTERCONNECT_QCOM_SM6115=n
CONFIG_GPIO_MAX77759=n
CONFIG_PHY_EXYNOS5_USBDRD=n
CONFIG_MD_BITMAP_FILE=n
CONFIG_GPIO_CDEV=n
CONFIG_ARCH_HAS_PKEYS=n
CONFIG_PINCTRL_SDM845=n
CONFIG_BLK_MQ_STACKING=n
CONFIG_PCIE_ARMADA_8K=n
CONFIG_HAVE_SETUP_PER_CPU_AREA=n
CONFIG_BUILDTIME_TABLE_SORT=n
CONFIG_SA_VIDEOCC_8775P=n
CONFIG_SPI_MEM=n
CONFIG_DMA_SUN6I=n
CONFIG_NET_DEVLINK=n
CONFIG_IP_PNP=n
CONFIG_INTERCONNECT_QCOM_SC8280XP=n
CONFIG_HAVE_ASM_MODVERSIONS=n
CONFIG_ARM_GIC_V3_ITS=n
CONFIG_FREEZER=n
CONFIG_NET_SELFTESTS=n
CONFIG_TYPEC_FUSB302=n
CONFIG_ARM_ARCH_TIMER=n
CONFIG_SND_SOC_TAS2552=n
CONFIG_TOUCHSCREEN_ELAN=n
CONFIG_PINCTRL_MESON=n
CONFIG_ATA_FORCE=n
CONFIG_DRM_DISPLAY_DP_AUX_BUS=n
CONFIG_SND_SOC_ROCKCHIP_SAI=n
CONFIG_ARCH_RCAR_GEN3=n
CONFIG_USB_DWC3_DUAL_ROLE=n
CONFIG_HID_SUPPORT=n
CONFIG_DRM_AUX_BRIDGE=n
CONFIG_FPGA_MGR_ZYNQMP_FPGA=n
CONFIG_CEC_CORE=n
CONFIG_VETH=n
CONFIG_HISILICON_ERRATUM_162100125=n
CONFIG_ARCH_TEGRA_210_SOC=n
CONFIG_ARM_TEGRA124_CPUFREQ=n
CONFIG_ARM_SCMI_TRANSPORT_MAILBOX=n
CONFIG_QCOM_INLINE_CRYPTO_ENGINE=n
CONFIG_KCMP=n
CONFIG_COMMON_CLK_MESON_CPU_DYNDIV=n
CONFIG_PINCTRL_RZT2H=n
CONFIG_SERIAL_QCOM_GENI=n
CONFIG_PCI_PASID=n
CONFIG_USB_UHCI_ASPEED=n
CONFIG_ARCH_HAS_PREEMPT_LAZY=n
CONFIG_VIDEO_MEDIATEK_JPEG=n
CONFIG_VIDEO_V4L2_SUBDEV_API=n
CONFIG_SND_SOC_RT5682=n
CONFIG_VLAN_8021Q=n
CONFIG_USB_XHCI_PCI_RENESAS=n
CONFIG_MTD_CFI_I1=n
CONFIG_ARM_SCPI_POWER_DOMAIN=n
CONFIG_CLK_R8A77980=n
CONFIG_CLK_X1P42100_GPUCC=n
CONFIG_SUNXI_NMI_INTC=n
CONFIG_TYPEC_MUX_PS883X=n
CONFIG_MEDIA_SUPPORT=n
CONFIG_CRC_T10DIF=n
CONFIG_REGULATOR_QCOM_USB_VBUS=n
CONFIG_PINCTRL_PFC_R8A77951=n
CONFIG_GENERIC_ADC_THERMAL=n
CONFIG_ASN1=n
CONFIG_QCS_GCC_404=n
CONFIG_COMMON_CLK_MT8188_ADSP_AUDIO26M=n
CONFIG_SCHED_CLUSTER=n
CONFIG_QCOM_PD_MAPPER=n
CONFIG_DRM_RZG2L_DU=n
CONFIG_COMMON_CLK_MT8195_VENCSYS=n
CONFIG_MFD_DA9062=n
CONFIG_SND_CTL_LED=n
CONFIG_STM32_WATCHDOG=n
CONFIG_ROCKCHIP_IODOMAIN=n
CONFIG_EXYNOS_USI=n
CONFIG_I2C_MUX=n
CONFIG_GUEST_PERF_EVENTS=n
CONFIG_AIO=n
CONFIG_COMMON_CLK_MT8196_VENCSYS=n
CONFIG_ARM_GIC_V5=n
CONFIG_SERIAL_8250_CONSOLE=n
CONFIG_REGULATOR_QCOM_SPMI=n
CONFIG_SECCOMP=n
CONFIG_CLK_RCAR_CPG_LIB=n
CONFIG_MDIO_BUS_MUX_MMIOREG=n
CONFIG_DRM_RCAR_CMM=n
CONFIG_QCS_VIDEOCC_615=n
CONFIG_I2C_HID_CORE=n
CONFIG_NET_RX_BUSY_POLL=n
CONFIG_ARM64_ERRATUM_826319=n
CONFIG_NVMEM_MAX77759=n
CONFIG_SCSI_UFSHCD=n
CONFIG_DRM_PL111=n
