CONFIG_ZSTD_COMMON=n
CONFIG_ARCH_HAS_ACPI_TABLE_UPGRADE=n
CONFIG_X86_DISABLED_FEATURE_LAM=n
CONFIG_RPS=n
CONFIG_KERNFS=n
CONFIG_CRYPTO_ALGAPI=n
CONFIG_ARCH_HAS_STRICT_KERNEL_RWX=n
CONFIG_AUDIT=n
CONFIG_NET_VENDOR_SILAN=n
CONFIG_SGL_ALLOC=n
CONFIG_SOCK_RX_QUEUE_MAPPING=n
CONFIG_SERIAL_8250_EXTENDED=n
CONFIG_IOSF_MBI=n
CONFIG_BSD_PROCESS_ACCT=n
CONFIG_ISA_DMA_API=n
CONFIG_CC_HAS_RETURN_THUNK=n
CONFIG_CC_NO_STRINGOP_OVERFLOW=n
CONFIG_HUGETLB_PAGE=n
CONFIG_CC_HAS_ENTRY_PADDING=n
CONFIG_STRICT_KERNEL_RWX=n
CONFIG_AGP=n
CONFIG_ARCH_WANT_HUGETLB_VMEMMAP_PREINIT=n
CONFIG_CRC_OPTIMIZATIONS=n
CONFIG_BRANCH_PROFILE_NONE=n
CONFIG_BLK_DEV_SR=n
CONFIG_RFKILL_INPUT=n
CONFIG_NET_9P_FD=n
CONFIG_ACPI_LPIT=n
CONFIG_IP_MROUTE=n
CONFIG_PREEMPT_BUILD=n
CONFIG_SKY2=n
CONFIG_ATA_BMDMA=n
CONFIG_ARCH_SUPPORTS_KEXEC_JUMP=n
CONFIG_QUEUED_SPINLOCKS=n
CONFIG_CC_HAS_INT128=n
CONFIG_KEYS=n
CONFIG_TREE_RCU=n
CONFIG_PCI_PASID=n
CONFIG_HAVE_CONTEXT_TRACKING_USER_OFFSTACK=n
CONFIG_ARCH_WANT_HUGE_PMD_SHARE=n
CONFIG_ARCH_USE_CMPXCHG_LOCKREF=n
CONFIG_BUFFER_HEAD=n
CONFIG_WLAN_VENDOR_SILABS=n
CONFIG_CC_HAS_WORKING_NOSANITIZE_ADDRESS=n
CONFIG_ARCH_MIGHT_HAVE_ACPI_PDC=n
CONFIG_HAVE_KPROBES=n
CONFIG_HAVE_SAMPLE_FTRACE_DIRECT_MULTI=n
CONFIG_DRM_DISPLAY_HDCP_HELPER=n
CONFIG_ARCH_SUPPORTS_LTO_CLANG=n
CONFIG_HAVE_ARCH_THREAD_STRUCT_WHITELIST=n
CONFIG_ARCH_SUPPORTS_PAGE_TABLE_CHECK=n
CONFIG_INPUT=n
CONFIG_X86_MCE_INTEL=n
CONFIG_HAVE_RETHOOK=n
CONFIG_EXT4_FS=n
CONFIG_NET_VENDOR_CISCO=n
CONFIG_NET_VENDOR_MARVELL=n
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_DIRECT_CALLS=n
CONFIG_MITIGATION_L1TF=n
CONFIG_CRASH_HOTPLUG=n
CONFIG_ARCH_VMLINUX_NEEDS_RELOCS=n
CONFIG_GENERIC_IRQ_ENTRY=n
CONFIG_PATA_OLDPIIX=n
CONFIG_LTO_NONE=n
CONFIG_FILE_LOCKING=n
CONFIG_VMCORE_INFO=n
CONFIG_RD_GZIP=n
CONFIG_DEBUG_FS_ALLOW_ALL=n
CONFIG_X86_MCE_THRESHOLD=n
CONFIG_LZO_DECOMPRESS=n
CONFIG_ARCH_SUPPORTS_CRASH_HOTPLUG=n
CONFIG_FUTEX_MPOL=n
CONFIG_HAVE_EFFICIENT_UNALIGNED_ACCESS=n
CONFIG_MAC80211_LEDS=n
CONFIG_XZ_DEC_SPARC=n
CONFIG_NF_CONNTRACK_FTP=n
CONFIG_ARCH_HAS_STRICT_MODULE_RWX=n
CONFIG_ARCH_WANT_LD_ORPHAN_WARN=n
CONFIG_LOCK_MM_AND_FIND_VMA=n
CONFIG_HAVE_KERNEL_LZMA=n
CONFIG_SIGNALFD=n
CONFIG_SOUND=n
CONFIG_UNIX98_PTYS=n
CONFIG_USE_X86_SEG_SUPPORT=n
CONFIG_BINFMT_ELF=n
CONFIG_SPLIT_PTE_PTLOCKS=n
CONFIG_DRM_DISPLAY_DSC_HELPER=n
CONFIG_ARCH_USES_HIGH_VMA_FLAGS=n
CONFIG_ARCH_ENABLE_SPLIT_PMD_PTLOCK=n
CONFIG_HYPERVISOR_GUEST=n
CONFIG_ACPI_THERMAL_LIB=n
CONFIG_ASYNC_KERNEL_PGTABLE_FREE=n
CONFIG_NET_HANDSHAKE=n
CONFIG_DECOMPRESS_XZ=n
CONFIG_DRM_I915_COMPRESS_ERROR=n
CONFIG_SECURITY_NETWORK=n
CONFIG_NF_NAT_FTP=n
CONFIG_DRM_I915_CAPTURE_ERROR=n
CONFIG_PCI_MSI=n
CONFIG_X86_VSYSCALL_EMULATION=n
CONFIG_IA32_FEAT_CTL=n
CONFIG_CRYPTO_SEQIV=n
CONFIG_SCSI_SPI_ATTRS=n
CONFIG_DRM_I915_USERPTR=n
CONFIG_CRYPTO_LIB_AES=n
CONFIG_NFS_V4=n
CONFIG_KALLSYMS_ALL=n
CONFIG_CRYPTO_HASH_INFO=n
CONFIG_TASK_IO_ACCOUNTING=n
CONFIG_UPROBES=n
CONFIG_CRYPTO_CBC=n
CONFIG_CLKEVT_I8253=n
CONFIG_MOUSE_PS2_SYNAPTICS=n
CONFIG_ARCH_MEMORY_ORDER_TSO=n
CONFIG_CRYPTO_LIB_SHA256=n
CONFIG_NFS_DISABLE_UDP_SUPPORT=n
CONFIG_HAVE_DMA_CONTIGUOUS=n
CONFIG_USB_XHCI_PCI=n
CONFIG_KVM_GUEST=n
CONFIG_DEBUG_MISC=n
CONFIG_STACKTRACE_SUPPORT=n
CONFIG_MITIGATION_SSB=n
CONFIG_MITIGATION_PAGE_TABLE_ISOLATION=n
CONFIG_NET_VENDOR_HISILICON=n
CONFIG_KVFREE_RCU_BATCHED=n
CONFIG_E1000E=n
CONFIG_VHOST_MENU=n
CONFIG_CRYPTO_LIB_AES_CBC_MACS=n
CONFIG_PNP_DEBUG_MESSAGES=n
CONFIG_USB_HIDDEV=n
CONFIG_QFMT_V2=n
CONFIG_SLUB=n
CONFIG_RTC_DRV_CMOS=n
CONFIG_CLKBLD_I8253=n
CONFIG_ELF_CORE=n
CONFIG_POSIX_CPU_TIMERS_TASK_WORK=n
CONFIG_MAC80211_RC_MINSTREL=n
CONFIG_TREE_SRCU=n
CONFIG_CPU_FREQ=n
CONFIG_LD_IS_BFD=n
CONFIG_SND_SEQ_DUMMY=n
CONFIG_X86_IOPL_IOPERM=n
CONFIG_ARCH_WANT_IRQS_OFF_ACTIVATE_MM=n
CONFIG_NF_LOG_SYSLOG=n
CONFIG_HAVE_OBJTOOL=n
CONFIG_CRC16=n
CONFIG_USB_EHCI_PCI=n
CONFIG_MAC80211=n
CONFIG_X86_REQUIRED_FEATURE_CX8=n
CONFIG_SYSTEM_DATA_VERIFICATION=n
CONFIG_THERMAL_HWMON=n
CONFIG_GENERIC_CLOCKEVENTS_COUPLED=n
CONFIG_INTEGRITY_AUDIT=n
CONFIG_IA32_EMULATION=n
CONFIG_BLK_DEV_BSG=n
CONFIG_SND_VMASTER=n
CONFIG_VIRTIO_PCI_ADMIN_LEGACY=n
CONFIG_TICK_ONESHOT=n
CONFIG_AUDIT_ARCH=n
CONFIG_ARCH_SUPPORTS_KEXEC_PURGATORY=n
CONFIG_MOUSE_PS2_ALPS=n
CONFIG_COMPAT_OLD_SIGACTION=n
CONFIG_BLK_DEV_IO_TRACE=n
CONFIG_HAVE_ARCH_KFENCE=n
CONFIG_CRC32=n
CONFIG_USB_ARCH_HAS_HCD=n
CONFIG_RANDOMIZE_BASE=n
CONFIG_NO_HZ=n
CONFIG_CRYPTO_LIB_AES_ARCH=n
CONFIG_CRYPTO_CMAC=n
CONFIG_PREEMPT_DYNAMIC=n
CONFIG_HAVE_MOVE_PUD=n
CONFIG_ARCH_HAS_SET_DIRECT_MAP=n
CONFIG_HAVE_FENTRY=n
CONFIG_SND_INTEL_SOUNDWIRE_ACPI=n
CONFIG_ACPI_TABLE_UPGRADE=n
CONFIG_LOCK_DEBUGGING_SUPPORT=n
CONFIG_ARCH_SUPPORTS_SCHED_MC=n
CONFIG_POSIX_MQUEUE=n
CONFIG_HAVE_ARCH_SOFT_DIRTY=n
CONFIG_RFKILL_LEDS=n
CONFIG_ARCH_HAVE_NMI_SAFE_CMPXCHG=n
CONFIG_NET_VENDOR_I825XX=n
CONFIG_PCI_ATS=n
CONFIG_TOOLS_SUPPORT_RELR=n
CONFIG_NF_LOG_IPV4=n
CONFIG_X86_MCE_AMD=n
CONFIG_SND_PCM=n
CONFIG_HAVE_KERNEL_GZIP=n
CONFIG_CRYPTO_SKCIPHER2=n
CONFIG_BROADCAST_TLB_FLUSH=n
CONFIG_DRM_I915=n
CONFIG_NET_VENDOR_ROCKER=n
CONFIG_ACPI_WMI=n
CONFIG_RWSEM_SPIN_ON_OWNER=n
CONFIG_NET_CLS=n
CONFIG_HOTPLUG_CORE_SYNC_FULL=n
CONFIG_I2C_BOARDINFO=n
CONFIG_ARCH_SUPPORTS_CRASH_DUMP=n
CONFIG_R8169=n
CONFIG_HAVE_ASM_MODVERSIONS=n
CONFIG_ARCH_HAS_CPU_FINALIZE_INIT=n
CONFIG_NLATTR=n
CONFIG_CRYPTO_CAMELLIA=n
CONFIG_HAVE_RELIABLE_STACKTRACE=n
CONFIG_LDISC_AUTOLOAD=n
CONFIG_X86_REQUIRED_FEATURE_XMM2=n
CONFIG_BQL=n
CONFIG_PROC_KCORE=n
CONFIG_PAGE_SIZE_LESS_THAN_64KB=n
CONFIG_GENERIC_CPU_VULNERABILITIES=n
CONFIG_MTRR=n
CONFIG_KRETPROBE_ON_RETHOOK=n
CONFIG_HAVE_KERNEL_LZ4=n
CONFIG_SOFTIRQ_ON_OWN_STACK=n
CONFIG_ARCH_SUPPORTS_KEXEC=n
CONFIG_RD_XZ=n
CONFIG_USER_STACKTRACE_SUPPORT=n
CONFIG_ARCH_HAS_PTDUMP=n
CONFIG_VIRTIO_MENU=n
CONFIG_LEGACY_TIOCSTI=n
CONFIG_VIRTIO_BLK=n
CONFIG_SND_PCMCIA=n
CONFIG_NET_SELFTESTS=n
CONFIG_AUTOFS_FS=n
CONFIG_HUGETLB_PMD_PAGE_TABLE_SHARING=n
CONFIG_SCHED_MM_CID=n
CONFIG_NET_VENDOR_PENSANDO=n
CONFIG_CONTEXT_TRACKING=n
CONFIG_NET_VENDOR_CAVIUM=n
CONFIG_HID=n
CONFIG_X86_IO_APIC=n
CONFIG_HAVE_RSEQ=n
CONFIG_SND_SEQ_DEVICE=n
CONFIG_WATCHDOG_HANDLE_BOOT_ENABLED=n
CONFIG_PCI_LABEL=n
CONFIG_YENTA_TOSHIBA=n
CONFIG_GENERIC_ENTRY=n
CONFIG_YENTA_O2=n
CONFIG_PCMCIA=n
CONFIG_NFS_FS=n
CONFIG_VT_CONSOLE=n
CONFIG_X86_VERBOSE_BOOTUP=n
CONFIG_HAVE_ARCH_HUGE_VMAP=n
CONFIG_NET_VENDOR_EMULEX=n
CONFIG_ARCH_MAY_HAVE_PC_FDC=n
CONFIG_NFS_COMMON=n
CONFIG_CRYPTO_SIG=n
CONFIG_HAVE_RUST=n
CONFIG_DRM_PANEL=n
CONFIG_IP6_NF_IPTABLES=n
CONFIG_X86_BUS_LOCK_DETECT=n
CONFIG_PKCS7_MESSAGE_PARSER=n
CONFIG_DMIID=n
CONFIG_ACPI_HOTPLUG_CPU=n
CONFIG_HID_SUPPORT=n
CONFIG_IP_MULTIPLE_TABLES=n
CONFIG_PANTHERLORD_FF=n
CONFIG_ACPI_FAN=n
CONFIG_IRQ_REMAP=n
CONFIG_ARCH_HAS_CPU_PASID=n
CONFIG_NET_XGRESS=n
CONFIG_ACPI_BGRT=n
CONFIG_VMAP_PFN=n
CONFIG_CPU_IDLE_GOV_MENU=n
CONFIG_ARCH_HAS_MEM_ENCRYPT=n
CONFIG_SND_INTEL_NHLT=n
CONFIG_ARCH_HAS_KERNEL_FPU_SUPPORT=n
CONFIG_HARDIRQS_SW_RESEND=n
CONFIG_ARCH_ENABLE_HUGEPAGE_MIGRATION=n
CONFIG_ARCH_SUPPORTS_NUMA_BALANCING=n
CONFIG_PNP=n
CONFIG_X86_MCE=n
CONFIG_PCIE_PME=n
CONFIG_ARCH_SUPPORTS_MEMORY_FAILURE=n
CONFIG_HAVE_C_RECORDMCOUNT=n
CONFIG_ASSOCIATIVE_ARRAY=n
CONFIG_NEED_PER_CPU_PAGE_FIRST_CHUNK=n
CONFIG_THREAD_INFO_IN_TASK=n
CONFIG_SND_HRTIMER=n
CONFIG_ARCH_HAS_FORTIFY_SOURCE=n
CONFIG_INET=n
CONFIG_HW_RANDOM=n
CONFIG_IRQ_DOMAIN=n
CONFIG_STACKTRACE=n
CONFIG_MULTIUSER=n
CONFIG_HAVE_PREEMPT_DYNAMIC_CALL=n
CONFIG_DEBUG_FS=n
CONFIG_CC_HAS_ASM_INLINE=n
CONFIG_EDAC_ATOMIC_SCRUB=n
CONFIG_DRM_KMS_HELPER=n
CONFIG_FTRACE=n
CONFIG_GCC_ASM_GOTO_OUTPUT_BROKEN=n
CONFIG_GENERIC_ALLOCATOR=n
CONFIG_GENERIC_BUG=n
CONFIG_BLK_PM=n
CONFIG_SERIAL_CORE=n
CONFIG_KEXEC=n
CONFIG_MII=n
CONFIG_HAVE_IRQ_EXIT_ON_IRQ_STACK=n
