CONFIG_SERIAL_8250=n
CONFIG_PRINTK_TIME=n
CONFIG_NEED_DMA_MAP_STATE=n
CONFIG_DRM_BRIDGE=n
CONFIG_ARCH_HAS_MEM_ENCRYPT=n
CONFIG_NETFILTER_XT_MATCH_STATE=n
CONFIG_CDROM=n
CONFIG_CRYPTO_SKCIPHER2=n
CONFIG_SKB_EXTENSIONS=n
CONFIG_I2C_ALGOBIT=n
CONFIG_PKCS7_MESSAGE_PARSER=n
CONFIG_PCMCIA=n
CONFIG_ARCH_USE_QUEUED_SPINLOCKS=n
CONFIG_HAVE_PERF_USER_STACK_DUMP=n
CONFIG_INPUT_EVDEV=n
CONFIG_SYMBOLIC_ERRNAME=n
CONFIG_NET_VENDOR_ADAPTEC=n
CONFIG_EVENT_TRACING=n
CONFIG_HAVE_NOINSTR_HACK=n
CONFIG_ACPI_HOTPLUG_IOAPIC=n
CONFIG_ARCH_SUSPEND_POSSIBLE=n
CONFIG_IP_MROUTE_COMMON=n
CONFIG_ARCH_HAS_STRICT_KERNEL_RWX=n
CONFIG_AS_IS_GNU=n
CONFIG_HAVE_PERF_EVENTS_NMI=n
CONFIG_MAILBOX=n
CONFIG_CRYPTO_LIB_UTILS=n
CONFIG_BPF=n
CONFIG_ATA=n
CONFIG_NET_VENDOR_FUNGIBLE=n
CONFIG_ARCH_SUPPORTS_PAGE_TABLE_CHECK=n
CONFIG_DST_CACHE=n
CONFIG_X86_VSYSCALL_EMULATION=n
CONFIG_MITIGATION_SRSO=n
CONFIG_X86_KERNEL_IBT=n
CONFIG_HSU_DMA=n
CONFIG_IOMMU_PT_X86_64=n
CONFIG_USB_MON=n
CONFIG_NOINSTR_VALIDATION=n
CONFIG_PARAVIRT=n
CONFIG_MOUSE_PS2=n
CONFIG_ALLOW_DEV_COREDUMP=n
CONFIG_NET_VENDOR_ARC=n
CONFIG_SCHED_MC_PRIO=n
CONFIG_RELOCATABLE=n
CONFIG_CGROUP_RDMA=n
CONFIG_BLK_DEV_LOOP=n
CONFIG_PID_NS=n
CONFIG_NET_SELFTESTS=n
CONFIG_VIRTIO=n
CONFIG_INTEL_GTT=n
CONFIG_VIRTIO_PCI=n
CONFIG_PREVENT_FIRMWARE_BUILD=n
CONFIG_GENERIC_IRQ_ENTRY=n
CONFIG_CC_HAS_NO_PROFILE_FN_ATTR=n
CONFIG_MITIGATION_MDS=n
CONFIG_SURFACE_PLATFORMS=n
CONFIG_X86_DISABLED_FEATURE_CYRIX_ARR=n
CONFIG_HAVE_ARCH_JUMP_LABEL=n
CONFIG_RD_LZO=n
CONFIG_GENERIC_ISA_DMA=n
CONFIG_9P_FS=n
CONFIG_DRM_MIPI_DSI=n
CONFIG_DIMLIB=n
CONFIG_HAVE_PV_STEAL_CLOCK_GEN=n
CONFIG_SND_VERBOSE_PROCFS=n
CONFIG_NFS_USE_KERNEL_DNS=n
CONFIG_GENERIC_CLOCKEVENTS_MIN_ADJUST=n
CONFIG_BLK_DEV_BSG_COMMON=n
CONFIG_WLAN_VENDOR_RALINK=n
CONFIG_HAVE_ARCH_SOFT_DIRTY=n
CONFIG_EPROBE_EVENTS=n
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE_PUD=n
CONFIG_THERMAL=n
CONFIG_BUFFER_HEAD=n
CONFIG_BLOCK_LEGACY_AUTOLOAD=n
CONFIG_DRM_I915=n
CONFIG_X86_PAT=n
CONFIG_MAGIC_SYSRQ=n
CONFIG_VIRTIO_NET=n
CONFIG_HYPERVISOR_GUEST=n
CONFIG_WATCHDOG=n
CONFIG_X86_HAVE_PAE=n
CONFIG_WLAN_VENDOR_ZYDAS=n
CONFIG_MITIGATION_IBPB_ENTRY=n
CONFIG_ARCH_HAS_GENERIC_CRASHKERNEL_RESERVATION=n
CONFIG_HAVE_PCSPKR_PLATFORM=n
CONFIG_PTP_1588_CLOCK=n
CONFIG_HOTPLUG_SPLIT_STARTUP=n
CONFIG_HARDIRQS_SW_RESEND=n
CONFIG_NET_VENDOR_SYNOPSYS=n
CONFIG_ZONE_DMA32=n
CONFIG_DEBUG_MEMORY_INIT=n
CONFIG_NETFILTER_XT_TARGET_SECMARK=n
CONFIG_STACKDEPOT=n
CONFIG_TRACE_IRQFLAGS_NMI_SUPPORT=n
CONFIG_BROADCAST_TLB_FLUSH=n
CONFIG_CC_HAS_ASSUME=n
CONFIG_HAVE_DEBUG_KMEMLEAK=n
CONFIG_PROVIDE_OHCI1394_DMA_INIT=n
CONFIG_ARCH_HAS_PMEM_API=n
CONFIG_VIRTUALIZATION=n
CONFIG_ARCH_MHP_MEMMAP_ON_MEMORY_ENABLE=n
CONFIG_MODIFY_LDT_SYSCALL=n
CONFIG_NET_IP_TUNNEL=n
CONFIG_NET_VENDOR_EMULEX=n
CONFIG_KALLSYMS_ALL=n
CONFIG_SECRETMEM=n
CONFIG_ARCH_SUPPORTS_SCHED_MC=n
CONFIG_NET_VENDOR_SOLARFLARE=n
CONFIG_ARCH_SUPPORTS_MSEAL_SYSTEM_MAPPINGS=n
CONFIG_BINFMT_SCRIPT=n
CONFIG_NET_VENDOR_AQUANTIA=n
CONFIG_RANDOMIZE_KSTACK_OFFSET=n
CONFIG_ARCH_CONFIGURES_CPU_MITIGATIONS=n
CONFIG_ARCH_HAS_SET_DIRECT_MAP=n
CONFIG_ARCH_CORRECT_STACKTRACE_ON_KRETPROBE=n
CONFIG_ETHERNET=n
CONFIG_IP_ROUTE_VERBOSE=n
CONFIG_NET_VENDOR_HISILICON=n
CONFIG_LDISC_AUTOLOAD=n
CONFIG_MULTIUSER=n
CONFIG_CC_HAS_RETURN_THUNK=n
CONFIG_ARCH_SUPPORTS_RT=n
CONFIG_PM_TRACE_RTC=n
CONFIG_GENERIC_NET_UTILS=n
CONFIG_X86_64_ACPI_NUMA=n
CONFIG_XZ_DEC_RISCV=n
CONFIG_NET_VENDOR_RDC=n
CONFIG_ARCH_USE_BUILTIN_BSWAP=n
CONFIG_KEXEC=n
CONFIG_ARCH_HAS_PTDUMP=n
CONFIG_USB_COMMON=n
CONFIG_HID=n
CONFIG_HAVE_ARCH_KSTACK_ERASE=n
CONFIG_NET_VENDOR_CADENCE=n
CONFIG_INET=n
CONFIG_BLK_DEV_SR=n
CONFIG_THERMAL_GOV_STEP_WISE=n
CONFIG_ARCH_HAS_SET_MEMORY=n
CONFIG_HAVE_GIGANTIC_FOLIOS=n
CONFIG_NET_VENDOR_WANGXUN=n
CONFIG_IA32_EMULATION=n
CONFIG_CRYPTO_LIB_AES_CBC_MACS=n
CONFIG_BITREVERSE=n
CONFIG_IP6_NF_IPTABLES=n
CONFIG_HAVE_RELIABLE_STACKTRACE=n
CONFIG_X86_CET=n
CONFIG_XXHASH=n
CONFIG_UNINLINE_SPIN_UNLOCK=n
CONFIG_HAVE_DMA_CONTIGUOUS=n
CONFIG_EXECMEM=n
CONFIG_PROC_KCORE=n
CONFIG_NF_LOG_SYSLOG=n
CONFIG_INPUT_SPARSEKMAP=n
CONFIG_NET_VENDOR_ROCKER=n
CONFIG_PNFS_BLOCK=n
CONFIG_LD_CAN_USE_KEEP_IN_OVERLAY=n
CONFIG_ARCH_WANTS_NO_INSTR=n
CONFIG_TRACEPOINTS=n
CONFIG_SCSI_COMMON=n
CONFIG_EXCLUSIVE_SYSTEM_RAM=n
CONFIG_BLOCK_HOLDER_DEPRECATED=n
CONFIG_DRM_I915_CAPTURE_ERROR=n
CONFIG_NET_VENDOR_STMICRO=n
CONFIG_YENTA_ENE_TUNE=n
CONFIG_DCACHE_WORD_ACCESS=n
CONFIG_PM_SLEEP_DEBUG=n
CONFIG_HWMON=n
CONFIG_ASN1=n
CONFIG_COREDUMP=n
CONFIG_HAVE_MIXED_BREAKPOINTS_REGS=n
CONFIG_ARCH_HAS_PREEMPT_LAZY=n
CONFIG_DEBUG_ENTRY=n
CONFIG_X86=n
CONFIG_VIDEO=n
CONFIG_LD_IS_BFD=n
CONFIG_ARCH_WANT_OLD_COMPAT_IPC=n
CONFIG_AMD_NB=n
CONFIG_INTEL_MEI=n
CONFIG_IRQ_FORCED_THREADING=n
CONFIG_BLK_DEV_DM_BUILTIN=n
CONFIG_DMI_SCAN_MACHINE_NON_EFI_FALLBACK=n
CONFIG_NET_VENDOR_SAMSUNG=n
CONFIG_MMU_NOTIFIER=n
CONFIG_DECOMPRESS_LZ4=n
CONFIG_CC_HAS_WORKING_NOSANITIZE_ADDRESS=n
CONFIG_MITIGATION_TAA=n
CONFIG_GENERIC_IRQ_PROBE=n
CONFIG_PADATA=n
CONFIG_ACPI_MRRM=n
CONFIG_ISA_DMA_API=n
CONFIG_SCSI_DMA=n
CONFIG_ARCH_HAS_CPU_CACHE_INVALIDATE_MEMREGION=n
CONFIG_NF_NAT_IRC=n
CONFIG_RTC_INTF_PROC=n
CONFIG_NFS_COMMON=n
CONFIG_CPU_ISOLATION=n
CONFIG_ARCH_HAS_FORTIFY_SOURCE=n
CONFIG_VIRTIO_PCI_ADMIN_LEGACY=n
CONFIG_X86_REQUIRED_FEATURE_FXSR=n
CONFIG_MII=n
CONFIG_ARCH_DEFAULT_CRASH_DUMP=n
CONFIG_NEED_PER_CPU_EMBED_FIRST_CHUNK=n
CONFIG_ARCH_SUPPORTS_NUMA_BALANCING=n
CONFIG_YENTA_O2=n
CONFIG_MMU_GATHER_MERGE_VMAS=n
CONFIG_CPU_SUP_ZHAOXIN=n
CONFIG_MPILIB=n
CONFIG_ARCH_SUPPORTS_KEXEC_BZIMAGE_VERIFY_SIG=n
CONFIG_HAVE_DYNAMIC_FTRACE=n
CONFIG_BINARY_PRINTF=n
CONFIG_DYNAMIC_SIGFRAME=n
CONFIG_USB_STORAGE=n
CONFIG_WLAN_VENDOR_REALTEK=n
CONFIG_CC_HAS_SLS=n
CONFIG_HAVE_ARCH_HUGE_VMAP=n
CONFIG_MITIGATION_RETPOLINE=n
CONFIG_PAGE_SIZE_LESS_THAN_64KB=n
CONFIG_NUMA_MIGRATION=n
CONFIG_STRICT_KERNEL_RWX=n
CONFIG_DM_ZERO=n
CONFIG_TMPFS_POSIX_ACL=n
CONFIG_E100=n
CONFIG_HIBERNATE_CALLBACKS=n
CONFIG_HOTPLUG_SMT=n
CONFIG_NFS_V3=n
CONFIG_HAVE_GENERIC_VDSO=n
CONFIG_NFS_V4_0=n
CONFIG_WLAN_VENDOR_INTEL=n
CONFIG_KALLSYMS=n
CONFIG_MQ_IOSCHED_DEADLINE=n
CONFIG_FUTEX_MPOL=n
CONFIG_ARCH_HAS_CPU_FINALIZE_INIT=n
CONFIG_CC_HAS_COUNTED_BY=n
CONFIG_HAVE_KERNEL_ZSTD=n
CONFIG_E1000E=n
CONFIG_TASK_IO_ACCOUNTING=n
CONFIG_INTEL_TCC=n
CONFIG_ARCH_WANT_BATCHED_UNMAP_TLB_FLUSH=n
CONFIG_THREAD_INFO_IN_TASK=n
CONFIG_PAGE_COUNTER=n
CONFIG_RTC_SYSTOHC=n
CONFIG_ARCH_SUPPORTS_MEMORY_FAILURE=n
CONFIG_THERMAL_DEFAULT_GOV_STEP_WISE=n
CONFIG_CC_HAS_MIN_FUNCTION_ALIGNMENT=n
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO_BARE=n
CONFIG_SPARSE_IRQ=n
CONFIG_ARCH_WANT_HUGETLB_VMEMMAP_PREINIT=n
CONFIG_MMU_GATHER_TABLE_FREE=n
CONFIG_WLAN_VENDOR_ATH=n
CONFIG_HAVE_MMIOTRACE_SUPPORT=n
CONFIG_HAVE_FUNCTION_ARG_ACCESS_API=n
CONFIG_FILE_LOCKING=n
CONFIG_I8253_LOCK=n
CONFIG_HAS_DMA=n
CONFIG_SND_PROC_FS=n
CONFIG_GENERIC_EARLY_IOREMAP=n
CONFIG_ACPI_AC=n
CONFIG_MEMFD_CREATE=n
CONFIG_BLK_CGROUP_IOCOST=n
CONFIG_SCHED_OMIT_FRAME_POINTER=n
CONFIG_ARCH_WANT_OPTIMIZE_DAX_VMEMMAP=n
CONFIG_LEGACY_VSYSCALL_XONLY=n
CONFIG_ATA_FORCE=n
CONFIG_X86_LOCAL_APIC=n
CONFIG_EFIVAR_FS=n
CONFIG_IP_MULTIPLE_TABLES=n
CONFIG_RELAY=n
CONFIG_BINFMT_MISC=n
CONFIG_X86_REQUIRED_FEATURE_ALWAYS=n
CONFIG_PCI_PRI=n
CONFIG_CPUSETS=n
CONFIG_ARCH_HAS_GIGANTIC_PAGE=n
CONFIG_POSIX_TIMERS=n
CONFIG_HDMI=n
CONFIG_GENERIC_VDSO_OVERFLOW_PROTECT=n
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST_IDLE=n
CONFIG_YENTA_TOSHIBA=n
CONFIG_HAVE_IRQ_TIME_ACCOUNTING=n
CONFIG_SLUB_DEBUG=n
CONFIG_XZ_DEC_ARM=n
CONFIG_EXT4_FS_POSIX_ACL=n
CONFIG_AUDIT=n
CONFIG_NEED_SG_DMA_LENGTH=n
CONFIG_IOMMU_IOPF=n
CONFIG_PPS=n
CONFIG_BLK_DEV_MD=n
CONFIG_X86_REQUIRED_FEATURE_PSE=n
CONFIG_MACINTOSH_DRIVERS=n
CONFIG_X86_THERMAL_VECTOR=n
CONFIG_RT_MUTEXES=n
CONFIG_MOUSE_PS2_BYD=n
CONFIG_ACPI_I2C_OPREGION=n
CONFIG_INPUT_VIVALDIFMAP=n
CONFIG_HPET_EMULATE_RTC=n
CONFIG_X86_REQUIRED_FEATURE_XMM=n
CONFIG_FUTEX_PRIVATE_HASH=n
CONFIG_CRASH_DUMP=n
CONFIG_NETWORK_SECMARK=n
