CONFIG_HNS3_HCLGE=n
CONFIG_BNX2X=n
CONFIG_CRYPTO_AES_ARM64_CE_BLK=n
CONFIG_STACKTRACE_SUPPORT=n
CONFIG_CLK_R8A77960=n
CONFIG_FSL_ENETC_PTP_CLOCK=n
CONFIG_USB_RENESAS_USBHS_HCD=n
CONFIG_E1000=n
CONFIG_BLK_DEV_SD=n
CONFIG_ARCH_HAS_GIGANTIC_PAGE=n
CONFIG_PINCTRL_EXYNOS=n
CONFIG_MDIO_BUS_MUX_MMIOREG=n
CONFIG_PINCTRL_RTD1625=n
CONFIG_SND_SOC_QDSP6_ASM=n
CONFIG_IR_MESON=n
CONFIG_COMMON_CLK_MT8167_AUDSYS=n
CONFIG_PCIE_CADENCE_HOST=n
CONFIG_MTD_CFI_UTIL=n
CONFIG_MMC_CQHCI=n
CONFIG_NET_DSA_MSCC_FELIX=n
CONFIG_SND_SOC_MT8188_MT6359=n
CONFIG_SND_SUN8I_CODEC=n
CONFIG_MTK_DEVAPC=n
CONFIG_VIDEO_HANTRO_SUNXI=n
CONFIG_SUN50I_A100_CCU=n
CONFIG_SPRD_TIMER=n
CONFIG_SND_PCI=n
CONFIG_STACKPROTECTOR_PER_TASK=n
CONFIG_LS_SCFG_MSI=n
CONFIG_CRYPTO_LIB_SHA512=n
CONFIG_REGMAP_SPMI=n
CONFIG_MHI_BUS=n
CONFIG_SND_JACK_INPUT_DEV=n
CONFIG_POSIX_MQUEUE=n
CONFIG_CPU_FREQ_STAT=n
CONFIG_GENERIC_ARCH_TOPOLOGY=n
CONFIG_SM_GCC_8350=n
CONFIG_IIO=n
CONFIG_V4L2_CCI=n
CONFIG_MMC_SDHCI_ESDHC_IMX=n
CONFIG_MVEBU_GICP=n
CONFIG_SPI_RZV2H_RSPI=n
CONFIG_XZ_DEC_SPARC=n
CONFIG_GENERIC_IRQ_IPI_MUX=n
CONFIG_PINCTRL_LPASS_LPI=n
CONFIG_DRM_DW_HDMI_I2S_AUDIO=n
CONFIG_ACPI_THERMAL_LIB=n
CONFIG_COMMON_CLK_MT8196_VDECSYS=n
CONFIG_SYSC_R8A77980=n
CONFIG_CAN=n
CONFIG_SND_SIMPLE_CARD=n
CONFIG_CLONE_BACKWARDS=n
CONFIG_COMMON_CLK_BD718XX=n
CONFIG_SND_SOC_MAX98390=n
CONFIG_MEDIA_SUPPORT=n
CONFIG_ARCH_HAVE_NMI_SAFE_CMPXCHG=n
CONFIG_MTD_SPI_NOR_SWP_DISABLE_ON_VOLATILE=n
CONFIG_ARCH_HAS_DEBUG_WX=n
CONFIG_EXT4_FS_POSIX_ACL=n
CONFIG_ASN1=n
CONFIG_TEGRA186_TIMER=n
CONFIG_QCOM_SMEM=n
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE=n
CONFIG_CLK_R8A7795=n
CONFIG_MFD_SIMPLE_MFD_I2C=n
CONFIG_GENERIC_BUG=n
CONFIG_GPIO_DAVINCI=n
CONFIG_IRQ_MSI_IOMMU=n
CONFIG_VIRTIO_PCI_LEGACY=n
CONFIG_IIO_BUFFER=n
CONFIG_SND_SOC_QDSP6_ADM=n
CONFIG_PINCTRL_VISCONTI=n
CONFIG_ARCH_ENABLE_THP_MIGRATION=n
CONFIG_IMX_AIPSTZ=n
CONFIG_CC_NO_ARRAY_BOUNDS=n
CONFIG_PINCTRL_MESON_GXL=n
CONFIG_SPI_BITBANG=n
CONFIG_ARCH_HAS_RESET_CONTROLLER=n
CONFIG_COMMON_CLK_MT8183_IPU_CONN=n
CONFIG_TICK_ONESHOT=n
CONFIG_CRC8=n
CONFIG_PINCTRL_MT8167=n
CONFIG_SERIAL_8250_OMAP_TTYO_FIXUP=n
CONFIG_AHCI_QORIQ=n
CONFIG_USB_CONFIGFS_ACM=n
CONFIG_NET_VENDOR_MUCSE=n
CONFIG_PINCTRL_MT8196=n
CONFIG_KVM_GENERIC_HARDWARE_ENABLING=n
CONFIG_DRM_GEM_SHMEM_HELPER=n
CONFIG_I2C_CHARDEV=n
CONFIG_TPS6594_PFSM=n
CONFIG_DRM_DISPLAY_HDCP_HELPER=n
CONFIG_BRCM_USB_PINMAP=n
CONFIG_SND_SOC_LPASS_SC7280=n
CONFIG_PCIE_MOBIVEIL_HOST=n
CONFIG_XZ_DEC_X86=n
CONFIG_EXYNOS_USI=n
CONFIG_ARCH_KEEMBAY=n
CONFIG_SERIAL_8250_DMA=n
CONFIG_SND_SOC_TAS2552=n
CONFIG_SQUASHFS_FILE_CACHE=n
CONFIG_RTC_DRV_ARMADA38X=n
CONFIG_MFD_RK8XX=n
CONFIG_UID16=n
CONFIG_SM_DISPCC_6115=n
CONFIG_ARM64_CNP=n
CONFIG_IPQ_GCC_5424=n
CONFIG_CPU_THERMAL=n
CONFIG_ARCH_R9A09G056=n
CONFIG_SND_SOC_MSIOF=n
CONFIG_SPI_ZYNQMP_GQSPI=n
CONFIG_PINCTRL_SC8280XP_LPASS_LPI=n
CONFIG_CAN_DEV=n
CONFIG_USB_U_SERIAL=n
CONFIG_MFD_STM32_LPTIMER=n
CONFIG_USB_DWC3_OF_SIMPLE=n
CONFIG_BUFFER_HEAD=n
CONFIG_USB_F_EEM=n
CONFIG_XZ_DEC_ARM=n
CONFIG_GPIO_WCD934X=n
CONFIG_ARM_SCMI_QUIRKS=n
CONFIG_SND_SOC_ES8328=n
CONFIG_DRM_MSM_DPU=n
CONFIG_QCOM_HFPLL=n
CONFIG_DRM_IMX8MP_DW_HDMI_BRIDGE=n
CONFIG_CAVIUM_TX2_ERRATUM_219=n
CONFIG_DRM_STM_LVDS=n
CONFIG_MEMCG=n
CONFIG_SLAB_OBJ_EXT=n
CONFIG_ARCH_BCM=n
CONFIG_LOCALVERSION_AUTO=n
CONFIG_REGULATOR_BD9571MWV=n
CONFIG_PHY_QCOM_EUSB2_REPEATER=n
CONFIG_ARM_GIC_V5=n
CONFIG_MEMORY=n
CONFIG_CLK_R8A774A1=n
CONFIG_RTC_INTF_PROC=n
CONFIG_BT_HCIBTUSB_BCM=n
CONFIG_PINCTRL_PFC_R8A77961=n
CONFIG_REGULATOR_QCOM_RPMH=n
CONFIG_IOMMU_API=n
CONFIG_CLK_IMX8ULP=n
CONFIG_SND_SOC_SOF_COMPRESS=n
CONFIG_DMI=n
CONFIG_ARCH_TESLA_FSD=n
CONFIG_EEPROM_93CX6=n
CONFIG_SERIAL_OWL=n
CONFIG_PCI_AARDVARK=n
CONFIG_CRYPTO_SHA256=n
CONFIG_PINCTRL_MT6893=n
CONFIG_MMU=n
CONFIG_ARM_ARCH_TIMER=n
CONFIG_EXPORTFS=n
CONFIG_GOOGLE_FIRMWARE=n
CONFIG_PHY_ROCKCHIP_EMMC=n
CONFIG_CLK_X1E80100_DISPCC=n
CONFIG_VFIO_PCI_INTX=n
CONFIG_PCS_RZN1_MIIC=n
CONFIG_RUSTC_HAS_FILE_WITH_NUL=n
CONFIG_SUN55I_A523_MCU_CCU=n
CONFIG_AS_IS_GNU=n
CONFIG_COMMON_CLK_MESON_DUALDIV=n
CONFIG_ARCH_BCMBCA=n
CONFIG_BLK_DEBUG_FS=n
CONFIG_SND_SOC_WCD939X_SDW=n
CONFIG_COMMON_CLK_NUVOTON=n
CONFIG_HOTPLUG_SMT=n
CONFIG_PHY_MESON_G12A_MIPI_DPHY_ANALOG=n
CONFIG_SM_VIDEOCC_8450=n
CONFIG_IWLWIFI_OPMODE_MODULAR=n
CONFIG_KEYBOARD_IMX_SC_KEY=n
CONFIG_BT_HCIBTUSB=n
CONFIG_GPIO_REGMAP=n
CONFIG_CLK_RASPBERRYPI=n
CONFIG_ARM_SMMU_V3=n
CONFIG_PINCTRL_AMLOGIC_T7=n
CONFIG_DRM_ETNAVIV_THERMAL=n
CONFIG_DRM_RCAR_LVDS=n
CONFIG_BLOCK=n
CONFIG_MAC80211=n
CONFIG_MTD=n
CONFIG_PHY_BCM_SR_PCIE=n
CONFIG_PHY_QCOM_QMP_UFS=n
CONFIG_ARCH_HAS_FORCE_DMA_UNENCRYPTED=n
CONFIG_WWAN=n
CONFIG_PINCTRL_SM8250=n
CONFIG_GENERIC_IDLE_POLL_SETUP=n
CONFIG_CRASH_DUMP=n
CONFIG_NET_CLS_BASIC=n
CONFIG_POWER_RESET_GPIO_RESTART=n
CONFIG_SDM_LPASSCC_845=n
CONFIG_PCI_XGENE_MSI=n
CONFIG_DRM_PANEL_MANTIX_MLAF057WE51=n
CONFIG_DRM_MEDIATEK_HDMI_V2=n
CONFIG_QCOM_WDT=n
CONFIG_EFI=n
CONFIG_SND_SOC_MT8192_MT6359_RT1015_RT5682=n
CONFIG_COMMON_CLK_MEDIATEK=n
CONFIG_GENERIC_NET_UTILS=n
CONFIG_SND_SOC_LPASS_HDMI=n
CONFIG_ARM64_WORKAROUND_SPECULATIVE_UNPRIV_LOAD=n
CONFIG_REGULATOR_MT6358=n
CONFIG_ARM64_AMU_EXTN=n
CONFIG_VIDEO_V4L2_I2C=n
CONFIG_ARM_SCMI_TRANSPORT_OPTEE=n
CONFIG_PHY_SUN6I_MIPI_DPHY=n
CONFIG_TYPEC_MUX_FSA4480=n
CONFIG_MFD_RK8XX_I2C=n
CONFIG_LEDS_LM3692X=n
CONFIG_FUNCTION_ALIGNMENT_4B=n
CONFIG_COMMON_CLK_MT8186_MFGCFG=n
CONFIG_PINCTRL_APPLE_GPIO=n
CONFIG_RTC_DRV_DA9063=n
CONFIG_SND_SOC_ES7241=n
CONFIG_INTERCONNECT_IMX8MM=n
CONFIG_MTK_INFRACFG=n
CONFIG_VIDEO_RENESAS_VSP1=n
CONFIG_CGROUPS=n
CONFIG_SDM_VIDEOCC_845=n
CONFIG_ARCH_HAS_STRICT_KERNEL_RWX=n
CONFIG_V4L2_VP9=n
CONFIG_MDIO_BUS_MUX_MESON_G12A=n
CONFIG_CRYPTO_ECB=n
CONFIG_CLK_BCM_SR=n
CONFIG_CLK_R9A08G045=n
CONFIG_NET_DSA=n
CONFIG_MTK_ADSP_IPC=n
CONFIG_GRACE_PERIOD=n
CONFIG_VIDEOBUF2_DMA_SG=n
CONFIG_MOUSE_PS2_SYNAPTICS_SMBUS=n
CONFIG_GARP=n
CONFIG_SND_SOC_QDSP6_AFE=n
CONFIG_MMC_SDHCI_AM654=n
CONFIG_HAVE_ARM_SMCCC_DISCOVERY=n
CONFIG_CORESIGHT=n
CONFIG_SYSCTL_EXCEPTION_TRACE=n
CONFIG_SND_SUN4I_I2S=n
CONFIG_MTD_CFI_STAA=n
CONFIG_FRAMEBUFFER_CONSOLE_DETECT_PRIMARY=n
CONFIG_BGMAC=n
CONFIG_VIDEO_AMPHION_VPU=n
CONFIG_THERMAL_EMULATION=n
CONFIG_PM_CLK=n
CONFIG_ARM_IMX_CPUFREQ_DT=n
CONFIG_RC_CORE=n
CONFIG_COMMON_CLK_MT8186_MMSYS=n
CONFIG_SUN8I_DE2_CCU=n
CONFIG_QCOM_SPMI_ADC_TM5=n
CONFIG_HWMON=n
CONFIG_DRM_PARADE_PS8640=n
CONFIG_COMMON_RESET_HI6220=n
CONFIG_ARCH_SUPPORTS_NUMA_BALANCING=n
CONFIG_DPAA_ERRATUM_A050385=n
CONFIG_RATIONAL=n
CONFIG_DRM_VC4=n
CONFIG_INTERCONNECT_QCOM_SM8250=n
CONFIG_PHY_SAMSUNG_USB2=n
CONFIG_RENESAS_RPCIF=n
CONFIG_ASYNC_TX_ENABLE_CHANNEL_SWITCH=n
CONFIG_NET_VENDOR_EZCHIP=n
CONFIG_SND_SOC_SOF_IPC3=n
CONFIG_DMA_DIRECT_REMAP=n
CONFIG_ARM_SCMI_PROTOCOL=n
CONFIG_NXP_ENETC_PF_COMMON=n
CONFIG_RTC_INTF_SYSFS=n
CONFIG_CRC_ITU_T=n
CONFIG_V4L2_FWNODE=n
CONFIG_PHY_QCOM_QUSB2=n
CONFIG_MEDIA_TUNER_TDA827X=n
CONFIG_DRM_RCAR_DW_HDMI=n
CONFIG_I2C_RK3X=n
CONFIG_DEVMEM=n
CONFIG_ACPI_APEI_GHES=n
CONFIG_CPU_FREQ=n
CONFIG_ARCH_TEGRA_234_SOC=n
CONFIG_HISILICON_LPC=n
CONFIG_COMMON_CLK_MT8173=n
CONFIG_SM_GCC_4450=n
CONFIG_MFD_CROS_EC_DEV=n
CONFIG_I2C_APPLE=n
CONFIG_USB_SNP_UDC_PLAT=n
CONFIG_NET_SCH_FIFO=n
CONFIG_MEDIA_TUNER_TDA9887=n
CONFIG_HIGH_RES_TIMERS=n
CONFIG_MARVELL_88Q2XXX_PHY=n
CONFIG_HAVE_HARDLOCKUP_DETECTOR_BUDDY=n
CONFIG_SND_SOC_LPASS_CPU=n
CONFIG_DRM_DISPLAY_HDMI_HELPER=n
CONFIG_SYSFB=n
CONFIG_IPQ_APSS_5424=n
CONFIG_TEGRA_SOCTHERM=n
CONFIG_PCI_HISI=n
CONFIG_COMMON_CLK_MT8188_VPPSYS=n
CONFIG_CROS_EC_UCSI=n
CONFIG_SERIAL_8250_EM=n
CONFIG_COMMON_CLK_MT8167=n
CONFIG_DECOMPRESS_ZSTD=n
CONFIG_PWM_BCM2835=n
CONFIG_SND_USB=n
CONFIG_DWMAC_ROCKCHIP=n
