CONFIG_CRYPTO_WP512=y
CONFIG_GENERIC_ALLOCATOR=y
CONFIG_X86_16BIT=y
CONFIG_INPUT_REGULATOR_HAPTIC=y
CONFIG_ARCH_SUPPORTS_KEXEC_FILE=y
CONFIG_TEGRA_BPMP_THERMAL=y
CONFIG_SERIAL_CORE_CONSOLE=y
CONFIG_NLS_CODEPAGE_852=y
CONFIG_XILINX_WINDOW_WATCHDOG=y
CONFIG_IB700_WDT=y
CONFIG_RESET_LANTIQ=y
CONFIG_REGULATOR_RT8092=y
CONFIG_INTERCONNECT=y
CONFIG_KVM_GENERIC_DIRTYLOG_READ_PROTECT=y
CONFIG_SENSORS_W83791D=y
CONFIG_KEXEC_FILE=y
CONFIG_ARCH_CONFIGURES_CPU_MITIGATIONS=y
CONFIG_HAVE_ARCH_MMAP_RND_BITS=y
CONFIG_MFD_CS47L92=y
CONFIG_HW_RANDOM_MXC_RNGA=y
CONFIG_I2C_AT91=y
CONFIG_SENSORS_LTC4282=y
CONFIG_X86_PCC_CPUFREQ=y
CONFIG_TRACE_IRQFLAGS_SUPPORT=y
CONFIG_REGULATOR_PV88060=y
CONFIG_INTERCONNECT_IMX8MP=y
CONFIG_APPLE_WATCHDOG=y
CONFIG_CRYPTO_LIB_DES=y
CONFIG_HAVE_SAMPLE_FTRACE_DIRECT=y
CONFIG_NLS_ISO8859_1=y
CONFIG_IMX_DSP=y
CONFIG_COMMON_CLK_SI544=y
CONFIG_HAVE_UACCESS_VALIDATION=y
CONFIG_CRYPTO_LZ4HC=y
CONFIG_REGULATOR_S2MPA01=y
CONFIG_CRYPTO_DEV_AMLOGIC_GXL_DEBUG=y
CONFIG_CLK_IMX8ULP=y
CONFIG_XZ_DEC_TEST=y
CONFIG_RESET_CONTROLLER=y
CONFIG_COMMON_CLK_MT8188_VDOSYS=y
CONFIG_ARCH_SUPPORTS_MSEAL_SYSTEM_MAPPINGS=y
CONFIG_SENSORS_NCT6775=y
CONFIG_LEDS_TRIGGER_BACKLIGHT=y
CONFIG_GPIO_MOCKUP=y
CONFIG_I2C_DIGICOLOR=y
CONFIG_ACPI_FAN=y
CONFIG_SENSORS_ABITUGURU=y
CONFIG_X86_DISABLED_FEATURE_RETPOLINE=y
CONFIG_INTERCONNECT_IMX8MQ=y
CONFIG_MFD_DA9062=y
CONFIG_PPS_CLIENT_LDISC=y
CONFIG_CPU_FREQ_DEFAULT_GOV_ONDEMAND=y
CONFIG_CRYPTO_RNG2=y
CONFIG_IMG_ASCII_LCD=y
CONFIG_DMABUF_SELFTESTS=y
CONFIG_BCMA_HOST_SOC=y
CONFIG_KVM_ELIDE_TLB_FLUSH_IF_YOUNG=y
CONFIG_HAVE_RUST=y
CONFIG_SERIAL_NONSTANDARD=y
CONFIG_ALTERA_MBOX=y
CONFIG_CLK_RENESAS_VBATTB=y
CONFIG_PANASONIC_LAPTOP=y
CONFIG_RD_BZIP2=y
CONFIG_INPUT_RT5120_PWRKEY=y
CONFIG_HEADERS_INSTALL=y
CONFIG_I2C_EMEV2=y
CONFIG_RTC_DEBUG=y
CONFIG_SERIAL_MVEBU_UART=y
CONFIG_ARCH_SUPPORTS_UPROBES=y
CONFIG_XZ_DEC=y
CONFIG_DMA_NEED_SYNC=y
CONFIG_PPS_CLIENT_KTIMER=y
CONFIG_BITLAND_MIFS_WMI=y
CONFIG_RESET_HISI=y
CONFIG_WILCO_EC_DEBUGFS=y
CONFIG_X86_DISABLED_FEATURE_IBT=y
CONFIG_RTC_DRV_MESON_VRTC=y
CONFIG_I2C_GPIO=y
CONFIG_PAGE_REPORTING=y
CONFIG_REGULATOR_S2DOS05=y
CONFIG_CLK_R9A09G057=y
CONFIG_GPIO_RCAR=y
CONFIG_SIEMENS_SIMATIC_IPC=y
CONFIG_EDAC_ATOMIC_SCRUB=y
CONFIG_TOUCHSCREEN_TSC2007=y
CONFIG_SERIO_LIBPS2=y
CONFIG_ACQUIRE_WDT=y
CONFIG_ARCH_HAVE_NMI_SAFE_CMPXCHG=y
CONFIG_DELL_SMBIOS=y
CONFIG_TOSHIBA_HAPS=y
CONFIG_SENSORS_ADM1026=y
CONFIG_COMMON_CLK_MT8186_VDECSYS=y
CONFIG_MFD_PM8XXX=y
CONFIG_FUNCTION_ALIGNMENT_16B=y
CONFIG_SILICOM_PLATFORM=y
CONFIG_ALIENWARE_WMI_LEGACY=y
CONFIG_TPS6594_ESM=y
CONFIG_MFD_WM8998=y
CONFIG_CROSS_MEMORY_ATTACH=y
CONFIG_IPMI_KCS_BMC=y
CONFIG_EDAC_SUPPORT=y
CONFIG_NLS_MAC_INUIT=y
CONFIG_GPIO_SHARED_PROXY=y
CONFIG_FW_LOADER_SYSFS=y
CONFIG_MMC_SDHI_SYS_DMAC=y
CONFIG_ACPI_TABLE_UPGRADE=y
CONFIG_HAVE_OPTPROBES=y
CONFIG_IMX_SCMI_CPU_DRV=y
CONFIG_TOUCHSCREEN_BU21013=y
CONFIG_BITREVERSE=y
CONFIG_NLS_MAC_GREEK=y
CONFIG_ARCH_ENABLE_SPLIT_PMD_PTLOCK=y
CONFIG_RPMSG_QCOM_SMD=y
CONFIG_COMMON_CLK_MT8167_MMSYS=y
CONFIG_FS_POSIX_ACL=y
CONFIG_XILINX_PR_DECOUPLER=y
CONFIG_THERMAL_DEBUGFS=y
CONFIG_RTC_DRV_SPACEMIT_P1=y
CONFIG_SENSORS_ADM9240=y
CONFIG_LEDS_MAX77705=y
CONFIG_RESET_PISTACHIO=y
CONFIG_KEYBOARD_TEGRA=y
CONFIG_SYSC_R8A77961=y
CONFIG_TOUCHSCREEN_ATMEL_MXT=y
CONFIG_PINCTRL_PXA25X=y
CONFIG_CRYPTO_SHA3=y
CONFIG_I2C_SCMI=y
CONFIG_HAVE_SAMPLE_FTRACE_DIRECT_MULTI=y
CONFIG_X86_GOLDFISH=y
CONFIG_CLOCKSOURCE_WATCHDOG=y
CONFIG_PREEMPT_COUNT=y
CONFIG_NVMEM_RMEM=y
CONFIG_MST_IRQ=y
CONFIG_NLS_ISO8859_3=y
CONFIG_RCU_NEED_SEGCBLIST=y
CONFIG_REED_SOLOMON=y
CONFIG_PINCTRL_CANNONLAKE=y
CONFIG_JUMP_LABEL=y
CONFIG_EXYNOS_IRQ_COMBINER=y
CONFIG_OMAP_CONTROL_PHY=y
CONFIG_MFD_MAX77693=y
CONFIG_LEDS_SUN50I_A100=y
CONFIG_SERIAL_CORE=y
CONFIG_VIRT_DRIVERS=y
CONFIG_RTC_DRV_SUNXI=y
CONFIG_TOUCHSCREEN_ST1232=y
CONFIG_X86_CPUID=y
CONFIG_CRYPTO_LIB_SHA1=y
CONFIG_COMMON_CLK_MT8167=y
CONFIG_CRYPTO_ECRDSA=y
CONFIG_COMEDI=y
CONFIG_SUN8I_A83T_CCU=y
CONFIG_INTERVAL_TREE=y
CONFIG_SPEAKUP_SYNTH_LTLK=y
CONFIG_PHY_ROCKCHIP_PCIE=y
CONFIG_GPIO_PCA9570=y
CONFIG_AS_IS_GNU=y
CONFIG_COMMON_CLK_MT6795_VDECSYS=y
CONFIG_TRACER_MAX_TRACE=y
CONFIG_XZ_DEC_POWERPC=y
CONFIG_STATIC_KEYS_SELFTEST=y
CONFIG_REGULATOR_STM32_PWR=y
CONFIG_TOUCHSCREEN_EXC3000=y
CONFIG_REGULATOR_BD9571MWV=y
CONFIG_TOUCHSCREEN_MTOUCH=y
CONFIG_INPUT_IQS269A=y
CONFIG_MFD_INTEL_LPSS=y
CONFIG_SPEAKUP=y
CONFIG_INPUT_MATRIXKMAP=y
CONFIG_HAVE_MOVE_PMD=y
CONFIG_HID_MAYFLASH=y
CONFIG_PT_RECLAIM=y
CONFIG_HW_RANDOM_AIROHA=y
CONFIG_PWC_RZV2M=y
CONFIG_INGENIC_CGU_JZ4740=y
CONFIG_INPUT_TABLET=y
CONFIG_DAMON=y
CONFIG_MTK_IOMMU_V1=y
CONFIG_CRYPTO_DRBG=y
CONFIG_RV_MON_SLEEP=y
CONFIG_SENSORS_GPIO_FAN=y
CONFIG_DEBUG_SECTION_MISMATCH=y
CONFIG_MMU_GATHER_TABLE_FREE=y
CONFIG_X86_SGX=y
CONFIG_PHY_S5PV210_USB2=y
CONFIG_CRYPTO_ZSTD=y
CONFIG_PINCTRL_PFC_R8A77990=y
CONFIG_INGENIC_CGU_JZ4760=y
CONFIG_CRYPTO_LIB_GF128HASH_ARCH=y
CONFIG_RTC_DRV_PCF85363=y
CONFIG_GPIO_MXC=y
CONFIG_QCOM_TZMEM_MODE_GENERIC=y
CONFIG_CRYPTO_DEV_ATMEL_I2C=y
CONFIG_ARM_APPLE_SOC_CPUFREQ=y
CONFIG_SYSC_R8A774E1=y
CONFIG_PINCTRL_AMDISP=y
CONFIG_OLPC_XO175=y
CONFIG_INGENIC_TCU_CLK=y
CONFIG_TENSTORRENT_ATLANTIS_PRCM=y
CONFIG_X86_DISABLED_FEATURE_UNRET=y
CONFIG_QCOM_IPCC=y
CONFIG_CRC_OPTIMIZATIONS=y
CONFIG_REGULATOR_TPS65132=y
CONFIG_PARMAN=y
CONFIG_HWSPINLOCK_QCOM=y
CONFIG_FAILSLAB=y
CONFIG_HAVE_GCC_PLUGINS=y
CONFIG_REGULATOR_TPS68470=y
CONFIG_ARM_SMMU_DISABLE_BYPASS_BY_DEFAULT=y
CONFIG_CRYPTO_DEV_HISI_SEC=y
CONFIG_TOUCHSCREEN_SIS_I2C=y
CONFIG_CLK_IMX93=y
CONFIG_HAVE_PREEMPT_DYNAMIC=y
CONFIG_SUN50I_H6_CCU=y
CONFIG_SENSORS_MENF21BMC_HWMON=y
CONFIG_EPOLL=y
CONFIG_HID_RAPOO=y
CONFIG_PHY_HI6220_USB=y
CONFIG_GPIOLIB_LEGACY=y
CONFIG_SCHED_TRACER=y
CONFIG_MESON6_TIMER=y
CONFIG_CHARGER_RT9756=y
CONFIG_ACPI_PROCESSOR_IDLE=y
CONFIG_X86_PLATFORM_DRIVERS_DELL=y
CONFIG_SAMSUNG_Q10=y
CONFIG_MOUSE_SYNAPTICS_I2C=y
CONFIG_ARCH_WANT_OPTIMIZE_DAX_VMEMMAP=y
CONFIG_ARCH_SUPPORTS_CRASH_HOTPLUG=y
CONFIG_OVERLAY_FS_INDEX=y
CONFIG_CC_HAS_SLS=y
CONFIG_NLS_CODEPAGE_850=y
CONFIG_THERMAL_GOV_BANG_BANG=y
CONFIG_HAVE_DEBUG_KMEMLEAK=y
CONFIG_RATIONAL=y
CONFIG_RTC_DRV_PIC32=y
CONFIG_ARM_MEDIATEK_CPUFREQ_HW=y
CONFIG_MMC_SUNXI=y
CONFIG_CRC32_ARCH=y
CONFIG_WIRELESS_HOTKEY=y
CONFIG_RAVE_SP_CORE=y
CONFIG_REGULATOR_TPS62360=y
CONFIG_BINARY_PRINTF=y
CONFIG_ARCH_HAS_PARANOID_L1D_FLUSH=y
CONFIG_RTC_DRV_ABX80X=y
CONFIG_PINCTRL_PFC_EMEV2=y
CONFIG_TOUCHSCREEN_GOODIX=y
CONFIG_NLS_CODEPAGE_949=y
CONFIG_ARM_MEDIATEK_CPUFREQ=y
CONFIG_FSL_BMAN_TEST_API=y
CONFIG_CRYPTO_BLOWFISH_COMMON=y
CONFIG_WMI_BMOF=y
CONFIG_MMC_MXC=y
CONFIG_CRYPTO_LIB_CHACHA=y
CONFIG_SYSC_RMOBILE=y
CONFIG_TASKS_TRACE_RCU=y
CONFIG_CRYPTO_LIB_AES_ARCH=y
CONFIG_NLS_CODEPAGE_869=y
CONFIG_SENSORS_XGENE=y
CONFIG_HID_KEYTOUCH=y
CONFIG_RMI4_CORE=y
CONFIG_RESET_MCHP_SPARX5=y
CONFIG_HID_MALTRON=y
CONFIG_INPUT_TOUCHSCREEN=y
CONFIG_PIC32_EVIC=y
CONFIG_LEGACY_VSYSCALL_NONE=y
CONFIG_ARCH_SUPPORTS_AUTOFDO_CLANG=y
CONFIG_COMMON_CLK_MT8188_IMP_IIC_WRAP=y
CONFIG_RTC_LIB=y
CONFIG_CRYPTO_CRC32C=y
CONFIG_MFD_CS42L43=y
CONFIG_ARM_S5PV210_CPUFREQ=y
CONFIG_TI_EQEP=y
CONFIG_LEDS_TRIGGER_HEARTBEAT=y
CONFIG_PHYS_ADDR_T_64BIT=y
CONFIG_TH1520_AON_PROTOCOL=y
CONFIG_HAVE_STACK_VALIDATION=y
CONFIG_CLK_R9A08G046=y
CONFIG_PINCTRL_AMD=y
CONFIG_SERIAL_ARC=y
CONFIG_USER_STACKTRACE_SUPPORT=y
CONFIG_INPUT_FF_MEMLESS=y
CONFIG_INTERCONNECT_IMX8MM=y
CONFIG_RING_BUFFER_BENCHMARK=y
CONFIG_X86_REQUIRED_FEATURE_PAE=y
CONFIG_KUNPENG_HCCS=y
CONFIG_UPROBES=y
CONFIG_I2C_HID=y
CONFIG_RTC_DRV_ASM9260=y
CONFIG_HTE_TEGRA194=y
CONFIG_COMMON_CLK_MEDIATEK_FHCTL=y
CONFIG_HAVE_SOFTIRQ_ON_OWN_STACK=y
CONFIG_CRYPTO=y
CONFIG_SOC_REALVIEW=y
CONFIG_HAVE_IRQ_TIME_ACCOUNTING=y
CONFIG_CLK_ICST=y
CONFIG_CLK_R8A7778=y
CONFIG_NOTIFIER_ERROR_INJECTION=y
CONFIG_HID_RAZER=y
CONFIG_FS_STACK=y
CONFIG_INPUT_TPS6594_PWRBUTTON=y
CONFIG_SERIAL_CLPS711X=y
CONFIG_LD_ORPHAN_WARN=y
CONFIG_DCACHE_WORD_ACCESS=y
CONFIG_SENSORS_NCT6775_CORE=y
CONFIG_NVMEM_SPRD_EFUSE=y
CONFIG_RESET_K230=y
CONFIG_PINCTRL_PFC_R8A77960=y
CONFIG_COMMON_CLK_CS2000_CP=y
CONFIG_DYNAMIC_FTRACE_WITH_REGS=y
CONFIG_THERMAL_GOV_STEP_WISE=y
CONFIG_RPMSG=y
CONFIG_AMD_HSMP_ACPI=y
CONFIG_KEYS=y
CONFIG_LEDS_TRIGGER_PATTERN=y
CONFIG_COMMON_CLK_MT7988=y
CONFIG_GPIO_MSC313=y
CONFIG_ARM_SCMI_HAVE_MSG=y
CONFIG_CADENCE_WATCHDOG=y
CONFIG_TRACE_EVAL_MAP_FILE=y
CONFIG_NLS=y
CONFIG_SPARSEMEM_EXTREME=y
CONFIG_ARCH_SUPPORTS_KEXEC_SIG_FORCE=y
CONFIG_MISC_FILESYSTEMS=y
CONFIG_PCCARD=y
CONFIG_PINCTRL_PFC_SH7786=y
CONFIG_TOUCHSCREEN_TSC_SERIO=y
CONFIG_GPIO_F7188X=y
CONFIG_TOUCHSCREEN_MC13783=y
CONFIG_PINCTRL_METEORLAKE=y
CONFIG_PTDUMP_DEBUGFS=y
CONFIG_HAVE_USER_RETURN_NOTIFIER=y
CONFIG_REGULATOR_LP3971=y
CONFIG_SERIAL_ALTERA_UART=y
CONFIG_MFD_EXYNOS_LPASS=y
CONFIG_60XX_WDT=y
CONFIG_MFD_MXS_LRADC=y
CONFIG_GPIO_AMDPT=y
CONFIG_MANAGER_SBS=y
CONFIG_I2C_MUX_LTC4306=y
CONFIG_ARCH_USE_QUEUED_RWLOCKS=y
CONFIG_PROVE_RCU=y
CONFIG_RESET_RASPBERRYPI=y
CONFIG_TI_EMIF=y
CONFIG_QCOM_STATS=y
CONFIG_COMMON_CLK_MT8186_MFGCFG=y
CONFIG_GENERIC_SYSCALL=y
CONFIG_DELL_WMI_DESCRIPTOR=y
CONFIG_X86_REQUIRED_FEATURE_XMM=y
CONFIG_CHARLCD=y
CONFIG_SUN8I_V3S_CCU=y
CONFIG_FPGA_MGR_XILINX_SELECTMAP=y
CONFIG_CLK_RENESAS_CPG_MSSR=y
CONFIG_COMMON_CLK_STM32MP=y
CONFIG_RTC_DRV_TI_K3=y
CONFIG_GPIO_ROCKCHIP=y
CONFIG_GPIOLIB_IRQCHIP=y
CONFIG_GENERIC_PCI_IOMAP=y
CONFIG_SAMPLES=y
CONFIG_ALTERA_STAPL=y
CONFIG_ARM_SCMI_POWER_DOMAIN=y
CONFIG_CRYPTO_RMD160=y
CONFIG_DEVFREQ_GOV_USERSPACE=y
CONFIG_COMMON_CLK_MT6735_MFGCFG=y
CONFIG_MMC_SDHCI_DOVE=y
CONFIG_PM_QOS_CPU_SYSTEM_WAKEUP=y
CONFIG_RTC_DRV_RS5C372=y
CONFIG_ARCH_SUPPORTS_PER_VMA_LOCK=y
CONFIG_PINCTRL_RENESAS=y
CONFIG_W1_SLAVE_DS2405=y
CONFIG_INPUT_EVDEV=y
CONFIG_COMMON_CLK_PISTACHIO=y
CONFIG_MFD_ARIZONA_I2C=y
CONFIG_RTC_DRV_CMOS=y
CONFIG_ASPEED_LPC_CTRL=y
CONFIG_NXP_STM_TIMER=y
CONFIG_I2C_MUX_MLXCPLD=y
CONFIG_PINCTRL_NSP_GPIO=y
CONFIG_CC_HAS_AUTO_VAR_INIT_PATTERN=y
CONFIG_VISCONTI_WATCHDOG=y
CONFIG_SENSORS_LTC2991=y
CONFIG_GPIO_UNIPHIER=y
CONFIG_RESET_GPIO=y
CONFIG_MMC_SDHI=y
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE_PUD=y
CONFIG_HID_RMI=y
CONFIG_TOSHIBA_WMI=y
CONFIG_SPEAKUP_SERIALIO=y
CONFIG_PHY_PXA_USB=y
CONFIG_PINCTRL_CHERRYVIEW=y
CONFIG_LEDS_ARIEL=y
CONFIG_HID_UDRAW_PS3=y
CONFIG_HAVE_IOREMAP_PROT=y
CONFIG_COMMON_CLK_MT6765_AUDIOSYS=y
CONFIG_SENSORS_ABITUGURU3=y
CONFIG_BOOT_VESA_SUPPORT=y
CONFIG_ARCH_SUPPORTS_CFI=y
CONFIG_QCOM_ICC_BWMON=y
CONFIG_REGULATOR_QCOM_RPMH=y
CONFIG_X86_DISABLED_FEATURE_CENTAUR_MCR=y
CONFIG_GENERIC_CPU_VULNERABILITIES=y
CONFIG_MFD_QNAP_MCU=y
CONFIG_MXC_CLK=y
CONFIG_MPC5200_WDT=y
CONFIG_SUN8I_R_CCU=y
CONFIG_PINCTRL_MADERA=y
CONFIG_HAVE_ACPI_APEI_NMI=y
CONFIG_HAVE_REGS_AND_STACK_ACCESS_API=y
CONFIG_DAX=y
CONFIG_CLK_BCM2711_DVP=y
CONFIG_ARCH_WANT_OPTIMIZE_HUGETLB_VMEMMAP=y
CONFIG_CLK_BCM63268_TIMER=y
CONFIG_HAVE_STATIC_CALL=y
CONFIG_REGULATOR_RTQ6752=y
CONFIG_I2C_BCM_KONA=y
CONFIG_RENESAS_RZAWDT=y
CONFIG_KVM_MMIO=y
CONFIG_MAX77620_WATCHDOG=y
CONFIG_HARDIRQS_SW_RESEND=y
CONFIG_GENERIC_NET_UTILS=y
CONFIG_STRICT_KERNEL_RWX=y
CONFIG_QCOM_SMD_RPM=y
CONFIG_COMMON_CLK_MT6765_MFGSYS=y
CONFIG_CGROUP_SCHED=y
CONFIG_SUN8I_A33_CCU=y
CONFIG_RESET_TENSTORRENT_ATLANTIS=y
CONFIG_DMAPOOL_TEST=y
CONFIG_DEBUG_LOCK_ALLOC=y
CONFIG_ARCH_STACKWALK=y
CONFIG_DEBUG_OBJECTS_PERCPU_COUNTER=y
CONFIG_TIMERFD=y
CONFIG_KEYBOARD_MTK_PMIC=y
CONFIG_COMMON_CLK_ASPEED=y
CONFIG_DELL_WMI_SYSMAN=y
CONFIG_DMA_CMA=y
CONFIG_GENERIC_GETTIMEOFDAY=y
CONFIG_MMC_USDHI6ROL0=y
CONFIG_X86_PLATFORM_DRIVERS_UNIWILL=y
CONFIG_LEDS_TRIGGER_PANIC=y
CONFIG_REGULATOR_STM32_BOOSTER=y
CONFIG_CRYPTO_DEV_TI_DTHEV2=y
CONFIG_X86_NATIVE_CPU=y
CONFIG_TEGRA_HOST1X_FIREWALL=y
CONFIG_QCOM_GENI_SE=y
CONFIG_EXYNOS_SROM=y
CONFIG_TEGRA124_EMC=y
CONFIG_W1=y
CONFIG_CRYPTO_LIB_SHA256_ARCH=y
CONFIG_RTC_DRV_DS2404=y
CONFIG_CC_HAS_MIN_FUNCTION_ALIGNMENT=y
CONFIG_XZ_DEC_ARM=y
CONFIG_RESET_MESON=y
CONFIG_GPIO_ICH=y
CONFIG_IOMMU_SUPPORT=y
CONFIG_SUN5I_HSTIMER=y
CONFIG_IRQ_SIM=y
CONFIG_IRQ_BYPASS_MANAGER=y
CONFIG_HID_REDRAGON=y
CONFIG_FTWDT010_WATCHDOG=y
CONFIG_INPUT_GPIO_VIBRA=y
CONFIG_I2C_CADENCE=y
CONFIG_HAVE_PREEMPT_DYNAMIC_CALL=y
CONFIG_CRYPTO_DEV_FSL_CAAM=y
CONFIG_GENERIC_CLOCKEVENTS_MIN_ADJUST=y
CONFIG_LINEAR_RANGES=y
CONFIG_TUXEDO_NB04_WMI_AB=y
CONFIG_CRYPTO_CCM=y
CONFIG_NVMEM_LPC18XX_EEPROM=y
CONFIG_SENSORS_SMPRO=y
CONFIG_RUSTC_HAS_FILE_WITH_NUL=y
CONFIG_SYSC_R8A779A0=y
CONFIG_CLK_SH73A0=y
CONFIG_COMMON_CLK_MT6795_MFGCFG=y
CONFIG_CRYPTO_GENIV=y
CONFIG_CRYPTO_SM3=y
CONFIG_NLS_ISO8859_8=y
CONFIG_LOONGSON1_WDT=y
CONFIG_ACPI_PLATFORM_PROFILE=y
CONFIG_STARFIVE_WATCHDOG=y
CONFIG_NVMEM_SUNPLUS_OCOTP=y
CONFIG_RENESAS_RZV2HWDT=y
CONFIG_DEBUG_RWSEMS=y
CONFIG_RSEQ_DEBUG_DEFAULT_ENABLE=y
CONFIG_HAVE_PERF_EVENTS=y
CONFIG_BCM47XX_SPROM=y
CONFIG_HAVE_CLK_PREPARE=y
CONFIG_CRYPTO_DEV_ASPEED=y
CONFIG_PINCTRL_DA9062=y
CONFIG_CRYPTO_AEGIS128_AESNI_SSE2=y
CONFIG_BUILTIN_MODULE_RANGES=y
CONFIG_NVMEM_NINTENDO_OTP=y
CONFIG_ARCH_HAS_GCOV_PROFILE_ALL=y
CONFIG_CRYPTO_LIB_SHA256=y
CONFIG_SYSC_RCAR=y
CONFIG_X86_P4_CLOCKMOD=y
CONFIG_SENSORS_MC13783_ADC=y
CONFIG_GPIO_POLARFIRE_SOC=y
CONFIG_W1_SLAVE_DS2423=y
CONFIG_MTRR=y
CONFIG_KEXEC_SIG_FORCE=y
CONFIG_HAVE_ARCH_KGDB=y
