CONFIG_NF_CONNTRACK_H323=y
CONFIG_BCM47XX_NVRAM=y
CONFIG_X86_DISABLED_FEATURE_USER_SHSTK=y
CONFIG_FB_CFB_COPYAREA=y
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO_BARE=y
CONFIG_RTC_DRV_MT2712=y
CONFIG_IOMMU_IO_PGTABLE=y
CONFIG_ACPI_I2C_OPREGION=y
CONFIG_NETFILTER_XT_MARK=y
CONFIG_MEDIATEK_MT6370_ADC=y
CONFIG_OVERLAY_FS_INDEX=y
CONFIG_STRICT_SIGALTSTACK_SIZE=y
CONFIG_MFD_MXS_LRADC=y
CONFIG_RMI4_F12=y
CONFIG_DEBUG_RWSEMS=y
CONFIG_I2C_STM32F4=y
CONFIG_MMC_PXA=y
CONFIG_REGULATOR_MT6363=y
CONFIG_DEBUG_DRIVER=y
CONFIG_COMEDI=y
CONFIG_MMC_SDHCI=y
CONFIG_CMA_DEBUGFS=y
CONFIG_SOC_RENESAS=y
CONFIG_COUNTER=y
CONFIG_HAVE_ARCH_KFENCE=y
CONFIG_RICHTEK_RTQ6056=y
CONFIG_CRYPTO_CHACHA20=y
CONFIG_CC_HAS_MARCH_NATIVE=y
CONFIG_RESET_STARFIVE_JH7110=y
CONFIG_ARM_SCMI_PERF_DOMAIN=y
CONFIG_GENERIC_PINCONF=y
CONFIG_SI1133=y
CONFIG_FSL_MX25_ADC=y
CONFIG_UNICODE=y
CONFIG_IIO_INTERRUPT_TRIGGER=y
CONFIG_INITRAMFS_PRESERVE_MTIME=y
CONFIG_CC_HAS_ENTRY_PADDING=y
CONFIG_ADI_AXI_DAC=y
CONFIG_RTC_DRV_PCF2127=y
CONFIG_BACKLIGHT_AW99706=y
CONFIG_MOUSE_PS2_BYD=y
CONFIG_STM32_DMA=y
CONFIG_GAMEPORT_FM801=y
CONFIG_CC_HAS_NAMED_AS_FIXED_SANITIZERS=y
CONFIG_IP5XXX_POWER=y
CONFIG_QCOM_SMSM=y
CONFIG_MELLANOX_PLATFORM=y
CONFIG_I2C_DEBUG_BUS=y
CONFIG_AD7405=y
CONFIG_PPS=y
CONFIG_SERIAL_AMBA_PL010=y
CONFIG_EXYNOS_MBOX=y
CONFIG_NETFILTER_XT_TARGET_NFQUEUE=y
CONFIG_W1_MASTER_UART=y
CONFIG_CRYPTO_HCTR2=y
CONFIG_CPU_IDLE_GOV_TEO=y
CONFIG_SENSORS_TSL2550=y
CONFIG_COMEDI_8255=y
CONFIG_DEVFREQ_GOV_PASSIVE=y
CONFIG_KEY_DH_OPERATIONS=y
CONFIG_KEYBOARD_NEWTON=y
CONFIG_REGULATOR_MT6331=y
CONFIG_NF_SOCKET_IPV4=y
CONFIG_IOMMU_DEBUGFS=y
CONFIG_AD7606=y
CONFIG_INTERRUPT_CNT=y
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_DIRECT_CALLS=y
CONFIG_BT_HCIDTL1=y
CONFIG_DQL=y
CONFIG_FB_SYSMEM_HELPERS_DEFERRED=y
CONFIG_PHY_INTEL_KEEMBAY_EMMC=y
CONFIG_SENSORS_GL518SM=y
CONFIG_PM_TRACE=y
CONFIG_SYSC_R8A77960=y
CONFIG_PREEMPT_BUILD=y
CONFIG_VMWARE_VMCI=y
CONFIG_IRSD200=y
CONFIG_SERIO_SERPORT=y
CONFIG_SERIAL_ALTERA_JTAGUART_CONSOLE_BYPASS=y
CONFIG_CRYPTO_LIB_AES_ARCH=y
CONFIG_ISL76682=y
CONFIG_TCP_CONG_HYBLA=y
CONFIG_ASPEED_ADC=y
CONFIG_IIO_BUFFER_DMAENGINE=y
CONFIG_SENSORS_MC34VR500=y
CONFIG_SIGNALFD=y
CONFIG_ARM_SCMI_TRANSPORT_MAILBOX=y
CONFIG_NSC_GPIO=y
CONFIG_EM_TIMER_STI=y
CONFIG_MFD_RDC321X=y
CONFIG_CLK_BCM_KONA=y
CONFIG_CLK_R8A77470=y
CONFIG_IPV6_RPL_LWTUNNEL=y
CONFIG_DAMON_VADDR=y
CONFIG_TI_K3_DSP_REMOTEPROC=y
CONFIG_MTK_CQDMA=y
CONFIG_PCI_KEYSTONE_TRISTATE=y
CONFIG_DRA752_THERMAL=y
CONFIG_PCI_ATS=y
CONFIG_ARCH_MAY_HAVE_PC_FDC=y
CONFIG_NETFILTER_XT_MATCH_NFACCT=y
CONFIG_TLS_TOE=y
CONFIG_COMMON_CLK_MT6795_MFGCFG=y
CONFIG_SERIAL_MCTRL_GPIO=y
CONFIG_TRACE_CLOCK=y
CONFIG_SENSORS_SPARX5=y
CONFIG_CLK_R8A7795=y
CONFIG_CLPS711X_TIMER=y
CONFIG_THERMAL_EMULATION=y
CONFIG_JOYSTICK_QWIIC=y
CONFIG_MXS_LRADC_ADC=y
CONFIG_VEML6030=y
CONFIG_PINCTRL_PFC_R8A7779=y
CONFIG_BRIDGE_EBT_T_NAT=y
CONFIG_HAS_IOPORT_MAP=y
CONFIG_COMMON_CLK_MT7622_ETHSYS=y
CONFIG_RENESAS_RPCIF=y
CONFIG_CRYPTO_RNG=y
CONFIG_INTERVAL_TREE_SPAN_ITER=y
CONFIG_PROCESSOR_SELECT=y
CONFIG_IR_RCMM_DECODER=y
CONFIG_JOYSTICK_TMDC=y
CONFIG_KEYBOARD_LKKBD=y
CONFIG_INTERCONNECT_QCOM_OSM_L3=y
CONFIG_MFD_CORE=y
CONFIG_EXTCON_USBC_CROS_EC=y
CONFIG_TCP_CONG_ADVANCED=y
CONFIG_COMMON_CLK_MT8186_VENCSYS=y
CONFIG_CLKSRC_SAMSUNG_PWM=y
CONFIG_MFD_WM8350_I2C=y
CONFIG_I2C_SIS96X=y
CONFIG_ASYMMETRIC_PUBLIC_KEY_SUBTYPE=y
CONFIG_PCMCIA=y
CONFIG_MOUSE_PS2_LOGIPS2PP=y
CONFIG_NOTIFIER_ERROR_INJECTION=y
CONFIG_TASKSTATS=y
CONFIG_PROVE_RCU_LIST=y
CONFIG_PINCTRL_CY8C95X0=y
CONFIG_MFD_TPS65910=y
CONFIG_FUNCTION_ERROR_INJECTION=y
CONFIG_PINCTRL_SH_FUNC_GPIO=y
CONFIG_AD3552R_HS=y
CONFIG_REGULATOR_GPIO=y
CONFIG_PCIE_ARMADA_8K=y
CONFIG_NLS_KOI8_R=y
CONFIG_X86_MCE_INTEL=y
CONFIG_APDS9802ALS=y
CONFIG_MICROCODE=y
CONFIG_MMC_CB710=y
CONFIG_SPEAKUP_SERIALIO=y
CONFIG_CHARGER_BQ24257=y
CONFIG_PINCTRL_PFC_R8A774B1=y
CONFIG_CRYPTO_SELFTESTS=y
CONFIG_CRYPTO_KPP=y
CONFIG_MFD_AXP20X=y
CONFIG_NVMEM_MESON_MX_EFUSE=y
CONFIG_BATTERY_UG3105=y
CONFIG_BRIDGE_EBT_SNAT=y
CONFIG_FW_DEVLINK_SYNC_STATE_TIMEOUT=y
CONFIG_HAVE_MOVE_PMD=y
CONFIG_RING_BUFFER=y
CONFIG_IOMMU_IOVA=y
CONFIG_BMC150_MAGN_I2C=y
CONFIG_SENSORS_LTC4215=y
CONFIG_SYSC_RMOBILE=y
CONFIG_DAMON=y
CONFIG_NETFILTER_XT_MATCH_QUOTA=y
CONFIG_COMMON_CLK_MT8516=y
CONFIG_REGULATOR=y
CONFIG_BRIDGE_NF_EBTABLES=y
CONFIG_ARCH_SPLIT_ARG64=y
CONFIG_INIT_STACK_ALL_PATTERN=y
CONFIG_GPIO_DS4520=y
CONFIG_I2C_HIGHLANDER=y
CONFIG_UNIX_DIAG=y
CONFIG_LEDS_OSRAM_AMS_AS3668=y
CONFIG_HID_GEMBIRD=y
CONFIG_QCOM_TZMEM_MODE_SHMBRIDGE=y
CONFIG_HAVE_HW_BREAKPOINT=y
CONFIG_RENESAS_DMA=y
CONFIG_RTC_DRV_DS1286=y
CONFIG_LD_ORPHAN_WARN=y
CONFIG_KERNEL_GZIP=y
CONFIG_COMEDI_ADL_PCI8164=y
CONFIG_FB_UVESA=y
CONFIG_SENSORS_HTU31=y
CONFIG_IP_ADVANCED_ROUTER=y
CONFIG_FIREWIRE_NOSY=y
CONFIG_AGP_VIA=y
CONFIG_FB_VIA=y
CONFIG_BRIDGE_EBT_IP=y
CONFIG_NVMEM_LAYERSCAPE_SFP=y
CONFIG_MHI_BUS_DEBUG=y
CONFIG_SI7020=y
CONFIG_INOTIFY_USER=y
CONFIG_AF_RXRPC=y
CONFIG_DEBUG_VIRTUAL=y
CONFIG_MFD_TPS65912_I2C=y
CONFIG_TEXTSEARCH=y
CONFIG_RALINK_TIMER=y
CONFIG_STACKPROTECTOR_STRONG=y
CONFIG_ASPEED_SOCINFO=y
CONFIG_FTRACE_SYSCALLS=y
CONFIG_SERIAL_SC16IS7XX_I2C=y
CONFIG_RAVE_SP_CORE=y
CONFIG_RV_MON_STALL=y
CONFIG_DEBUG_ATOMIC_SLEEP=y
CONFIG_CLK_SOPHGO_SG2044_PLL=y
CONFIG_BATMAN_ADV=y
CONFIG_SOC_INTEGRATOR_CM=y
CONFIG_NMI_CHECK_CPU=y
CONFIG_STACKPROTECTOR=y
CONFIG_I2C_BCM2835=y
CONFIG_AMPERE_CORESIGHT_PMU_ARCH_SYSTEM_PMU=y
CONFIG_HID_EZKEY=y
CONFIG_RESET_SIMPLE=y
CONFIG_ATOMIC64_SELFTEST=y
CONFIG_SYSC_R8A77965=y
CONFIG_FB_CFB_FILLRECT=y
CONFIG_HAVE_KRETPROBES=y
CONFIG_IP_VS_PE_SIP=y
CONFIG_HID_APPLE=y
CONFIG_COMEDI_ADV_PCI1720=y
CONFIG_CRYPTO_LIB_POLY1305=y
CONFIG_REGULATOR_ANATOP=y
CONFIG_HID_HAPTIC=y
CONFIG_VIRTIO_IOMMU=y
CONFIG_GPIB_NEC7210=y
CONFIG_TEXTSEARCH_KMP=y
CONFIG_IXP4XX_QMGR=y
CONFIG_AXI_DMAC=y
CONFIG_RTC_DRV_PCF85363=y
CONFIG_LEDS_WRAP=y
CONFIG_CHARGER_LT3651=y
CONFIG_NETFILTER_NETLINK_GLUE_CT=y
CONFIG_IP_NF_ARP_MANGLE=y
CONFIG_SENSORS_W83793=y
CONFIG_BATTERY_DS2782=y
CONFIG_NF_DUP_IPV6=y
CONFIG_FORCE_TASKS_RUDE_RCU=y
CONFIG_PINCTRL_SH_PFC_GPIO=y
CONFIG_LEDS_TRIGGER_HEARTBEAT=y
CONFIG_NETFILTER_XT_MATCH_REALM=y
CONFIG_LEDS_MENF21BMC=y
CONFIG_DMA_ENGINE_RAID=y
CONFIG_PHY_CAN_TRANSCEIVER=y
CONFIG_SOPHGO_SG2042_MSI=y
CONFIG_SERIAL_MPS2_UART=y
CONFIG_TMPFS_XATTR=y
CONFIG_INTEL_GTT=y
CONFIG_XZ_DEC_BCJ=y
CONFIG_SH_DMAE_BASE=y
CONFIG_MPRLS0025PA_I2C=y
CONFIG_MFD_TI_AM335X_TSCADC=y
CONFIG_X25=y
CONFIG_IMX_SCMI_CPU_DRV=y
CONFIG_MMC_DW_BLUEFIELD=y
CONFIG_IPMI_WATCHDOG=y
CONFIG_ARM_SCMI_HAVE_TRANSPORT=y
CONFIG_DAX=y
CONFIG_REGULATOR_QCOM_LABIBB=y
CONFIG_I2C_SPRD=y
CONFIG_COMMON_CLK_MT7988=y
CONFIG_SYSFS=y
CONFIG_HID_SAITEK=y
CONFIG_REED_SOLOMON=y
CONFIG_PCIE_DW=y
CONFIG_HSR=y
CONFIG_ARCH_HAS_ELF_RANDOMIZE=y
CONFIG_MFD_INTEL_QUARK_I2C_GPIO=y
CONFIG_MFD_CS42L43_I2C=y
CONFIG_HID_GENERIC=y
CONFIG_INTERCONNECT=y
CONFIG_IBM_ASM=y
CONFIG_RPMSG_QCOM_GLINK_SMEM=y
CONFIG_I2C_NOMADIK=y
CONFIG_TI_DAC5571=y
CONFIG_TEXTSEARCH_BM=y
CONFIG_MMC_SDHCI_PXAV3=y
CONFIG_PINCTRL_LYNXPOINT=y
CONFIG_COMEDI_NI_670X=y
CONFIG_ADXL313=y
CONFIG_CLK_RENESAS_DIV6=y
CONFIG_SYSC_R8A77961=y
CONFIG_PREEMPTIRQ_TRACEPOINTS=y
CONFIG_NVMEM_BRCM_NVRAM=y
CONFIG_GLOB=y
CONFIG_SOC_SAMSUNG=y
CONFIG_AGP_SIS=y
CONFIG_W1_SLAVE_DS2781=y
CONFIG_ATM_BR2684=y
CONFIG_PROVE_RCU=y
CONFIG_MFD_MAX77693=y
CONFIG_SENSORS_TPS23861=y
CONFIG_CHECK_SIGNATURE=y
CONFIG_MFD_TPS6586X=y
CONFIG_REGULATOR_VIRTUAL_CONSUMER=y
CONFIG_POWER_SUPPLY=y
CONFIG_INTEL_TH_GTH=y
CONFIG_HID_SENSOR_HUMIDITY=y
CONFIG_LEDS_TRIGGER_PANIC=y
CONFIG_SPEAKUP_SYNTH_DTLK=y
CONFIG_TRACING_MAP=y
CONFIG_HWSPINLOCK_QCOM=y
CONFIG_SENSORS_LTC4151=y
CONFIG_HAVE_MOD_ARCH_SPECIFIC=y
CONFIG_UNINLINE_SPIN_UNLOCK=y
CONFIG_MEDIATEK_MT6577_AUXADC=y
CONFIG_MFD_CS40L50_CORE=y
CONFIG_TSM=y
CONFIG_ST_UVIS25=y
CONFIG_RESET_BRCMSTB=y
CONFIG_ARCH_HAVE_EXTRA_ELF_NOTES=y
CONFIG_NLS_CODEPAGE_861=y
CONFIG_LDISC_AUTOLOAD=y
CONFIG_NEED_SG_DMA_LENGTH=y
CONFIG_IR_WINBOND_CIR=y
CONFIG_NLS_MAC_ICELAND=y
CONFIG_CRYPTO_KRB5=y
CONFIG_CHROMEOS_PSTORE=y
CONFIG_COMMON_CLK_MT2701=y
CONFIG_INPUT_JOYSTICK=y
CONFIG_HAVE_ASM_MODVERSIONS=y
CONFIG_TIMER_PROBE=y
CONFIG_SENSORS_FSCHMD=y
CONFIG_CRYPTO_RNG2=y
CONFIG_KEYS=y
CONFIG_BH1780=y
CONFIG_ARCH_WANTS_NO_INSTR=y
CONFIG_SERIAL_TEGRA_TCU=y
CONFIG_RZ_MTU3_CNT=y
CONFIG_COMMON_CLK_MT6779_AUDSYS=y
CONFIG_PSI=y
CONFIG_CC_HAS_COUNTED_BY=y
CONFIG_REGULATOR_BCM590XX=y
CONFIG_LEDS_TRIGGER_TRANSIENT=y
CONFIG_TIMER_OF=y
CONFIG_NLS_CODEPAGE_865=y
CONFIG_HAVE_ACPI_APEI=y
CONFIG_REGULATOR_TI_ABB=y
CONFIG_NLS_MAC_GAELIC=y
CONFIG_COMEDI_ADDI_APCI_1516=y
CONFIG_SENSORS_LTC4260=y
CONFIG_DW_DMAC_PCI=y
CONFIG_OLD_SIGACTION=y
CONFIG_MESON_CANVAS=y
CONFIG_TRACE_IRQFLAGS=y
CONFIG_SENSORS_W83L785TS=y
CONFIG_RPR0521=y
CONFIG_EEPROM_93CX6=y
CONFIG_TCG_TIS_I2C=y
CONFIG_KEYBOARD_TCA8418=y
CONFIG_COMEDI_ADV_PCI1710=y
CONFIG_RENESAS_IRQC=y
CONFIG_REGULATOR_AW37503=y
CONFIG_RTC_DRV_PCF8583=y
CONFIG_XFRM_USER=y
CONFIG_NVMEM_RMEM=y
CONFIG_CEC_SECO=y
CONFIG_DA280=y
CONFIG_LEDS_88PM860X=y
CONFIG_SENSORS_LM95234=y
CONFIG_IIO_SCMI=y
CONFIG_COMMON_CLK_MT6795_MMSYS=y
CONFIG_REGULATOR_TPS65910=y
CONFIG_COMMON_CLK_STM32MP257=y
CONFIG_RESET_PISTACHIO=y
CONFIG_GEHC_PMC_ADC=y
CONFIG_X86_DISABLED_FEATURE_PKU=y
CONFIG_CROS_EC=y
CONFIG_RENESAS_INTC_IRQPIN=y
CONFIG_SAMSUNG_MC=y
CONFIG_OPT4001=y
CONFIG_CRYPTO_LIB_DES=y
CONFIG_GNSS_SERIAL=y
CONFIG_EDAC_ATOMIC_SCRUB=y
CONFIG_GCC_NO_STRINGOP_OVERFLOW=y
CONFIG_MMA8452=y
CONFIG_PM_SLEEP=y
CONFIG_PCI_PWRCTRL=y
CONFIG_GPIO_F7188X=y
CONFIG_CHARGER_RT9756=y
CONFIG_IP_NF_ARPTABLES=y
CONFIG_REED_SOLOMON_DEC16=y
CONFIG_ARM_SCMI_TRANSPORT_VIRTIO=y
CONFIG_MC3230=y
CONFIG_TCG_ATMEL=y
CONFIG_QCOM_CPR=y
CONFIG_USER_STACKTRACE_SUPPORT=y
CONFIG_RPMSG_QCOM_GLINK=y
CONFIG_REGULATOR_RT4831=y
CONFIG_I2C_DESIGNWARE_PCI=y
CONFIG_HAVE_DYNAMIC_FTRACE_NO_PATCHABLE=y
CONFIG_COMEDI_ICP_MULTI=y
CONFIG_HID_JABRA=y
CONFIG_LEDS_LP5812=y
CONFIG_GPIO_REALTEK_OTTO=y
CONFIG_CRC32=y
CONFIG_REF_TRACKER=y
CONFIG_NETFILTER_XT_MATCH_HASHLIMIT=y
CONFIG_ARM_SCMI_HAVE_MSG=y
CONFIG_PCI_IOV=y
CONFIG_HAS_DMA=y
CONFIG_HID_SENSOR_MAGNETOMETER_3D=y
CONFIG_P2SB=y
CONFIG_HAVE_KPROBES=y
CONFIG_COMMON_CLK_MT8173_MMSYS=y
CONFIG_JOYSTICK_COBRA=y
CONFIG_MFD_ARIZONA_I2C=y
CONFIG_MOUSE_PS2_ELANTECH_SMBUS=y
CONFIG_IP_VS_TWOS=y
CONFIG_FB_ATY_GENERIC_LCD=y
CONFIG_ABP060MG=y
CONFIG_NETFILTER_XT_MATCH_STATE=y
CONFIG_PHY_MT7621_PCI=y
CONFIG_REMOTEPROC=y
CONFIG_BATTERY_ACT8945A=y
CONFIG_MFD_AXP20X_I2C=y
CONFIG_MFD_TI_LP873X=y
CONFIG_REGULATOR_TPS6586X=y
CONFIG_COMMON_CLK_MT7622_AUDSYS=y
CONFIG_MEMSTICK=y
CONFIG_NETFILTER_XT_MATCH_CONNMARK=y
CONFIG_INGENIC_CGU_JZ4740=y
CONFIG_SENSORS_ISL28022=y
CONFIG_IPMI_DEVICE_INTERFACE=y
CONFIG_HWMON_VID=y
CONFIG_I2C_IMG=y
CONFIG_NETFILTER_ADVANCED=y
CONFIG_INTEL_TCC=y
CONFIG_ACPI_TAD=y
CONFIG_PCI_DEBUG=y
CONFIG_GPIO_TB10X=y
CONFIG_RANDSTRUCT_FULL=y
CONFIG_LPC_SCH=y
CONFIG_DNOTIFY=y
CONFIG_LEDS_TRIGGER_INPUT_EVENTS=y
CONFIG_X86_THERMAL_VECTOR=y
CONFIG_DEBUG_WW_MUTEX_SLOWPATH=y
CONFIG_X86_RDC321X=y
CONFIG_X86_PAE=y
CONFIG_SENSORS_EMC2103=y
CONFIG_SYSTEM_BLACKLIST_KEYRING=y
CONFIG_CROS_EC_ISHTP=y
CONFIG_SERIAL_MVEBU_CONSOLE=y
CONFIG_COMMON_CLK_MT7986=y
CONFIG_ACPI_WMI_LEGACY_DEVICE_NAMES=y
CONFIG_QRTR=y
CONFIG_RTC_DRV_GAMECUBE=y
CONFIG_RUSTC_HAS_SPAN_FILE=y
CONFIG_MFD_SM501=y
CONFIG_OVERLAY_FS_REDIRECT_ALWAYS_FOLLOW=y
CONFIG_IR_SUNXI=y
CONFIG_RTC_DRV_MAX8907=y
CONFIG_ARCH_SUPPORTS_DEBUG_PAGEALLOC=y
CONFIG_GENERIC_PT=y
CONFIG_AXP20X_ADC=y
CONFIG_REGULATOR_MT6358=y
CONFIG_INET6_TUNNEL=y
CONFIG_IIO_TRIGGERED_BUFFER=y
CONFIG_CLK_RENESAS_CPG_MSTP=y
CONFIG_CEC_CORE=y
CONFIG_RENESAS_RZG2L_IRQC=y
CONFIG_I2C_TEGRA=y
CONFIG_SPRD_COMMON_CLK=y
CONFIG_DW_APB_TIMER=y
CONFIG_POWER_SUPPLY_HWMON=y
CONFIG_REGULATOR_SLG51000=y
CONFIG_GPIO_EP93XX=y
CONFIG_HAVE_FUNCTION_TRACER=y
CONFIG_FW_LOADER=y
CONFIG_MEDIA_CEC_RC=y
CONFIG_SENSORS_W83627EHF=y
CONFIG_SCHED_STACK_END_CHECK=y
CONFIG_ALS31300=y
CONFIG_SAMPLE_VFIO_MDEV_MDPY_FB=y
CONFIG_APDS9306=y
CONFIG_QCOM_COINCELL=y
CONFIG_INET6_ESP_OFFLOAD=y
CONFIG_SENSORS_SBTSI=y
CONFIG_SERIAL_SUNPLUS_CONSOLE=y
CONFIG_TELCLOCK=y
CONFIG_MEMTEST=y
CONFIG_SLAB_MERGE_DEFAULT=y
CONFIG_CRYPTO_CRC32=y
CONFIG_DEVFREQ_GOV_USERSPACE=y
CONFIG_CEC_STM32=y
CONFIG_MFD_DA9062=y
CONFIG_RANDOM_KMALLOC_CACHES=y
CONFIG_BRCMSTB_DPFE=y
CONFIG_IP_VS_RR=y
CONFIG_SENSORS_POWR1220=y
CONFIG_GPIO_BT8XX=y
CONFIG_CHARGER_MAX8903=y
CONFIG_ALTERA_STAPL=y
CONFIG_MOUSE_PS2_SYNAPTICS_SMBUS=y
CONFIG_INTEL_IXP4XX_EB=y
CONFIG_TI_PRUSS=y
CONFIG_PERF_EVENTS=y
CONFIG_BRIDGE_EBT_MARK=y
