CONFIG_HAVE_GENERIC_VDSO=n
CONFIG_PATA_AMD=n
CONFIG_NET_VENDOR_ASIX=n
CONFIG_PROBE_EVENTS=n
CONFIG_CRYPTO_GCM=n
CONFIG_SERIO=n
CONFIG_TASKS_RCU_GENERIC=n
CONFIG_SCHED_MC_PRIO=n
CONFIG_AUXILIARY_BUS=n
CONFIG_CPU_IDLE=n
CONFIG_NET_RX_BUSY_POLL=n
CONFIG_PCI_DOMAINS=n
CONFIG_RD_LZMA=n
CONFIG_MODULES_TREE_LOOKUP=n
CONFIG_PKCS7_MESSAGE_PARSER=n
CONFIG_TASKS_TRACE_RCU=n
CONFIG_ARCH_WANT_BATCHED_UNMAP_TLB_FLUSH=n
CONFIG_VIRTIO=n
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST_IDLE=n
CONFIG_STACKDEPOT=n
CONFIG_NET_VENDOR_CISCO=n
CONFIG_X86_DISABLED_FEATURE_UNRET=n
CONFIG_SCSI_DMA=n
CONFIG_MMU_GATHER_MERGE_VMAS=n
CONFIG_CRC32=n
CONFIG_CGROUP_RDMA=n
CONFIG_CPU_FREQ_GOV_SCHEDUTIL=n
CONFIG_HAVE_FUNCTION_GRAPH_TRACER=n
CONFIG_SUNRPC_BACKCHANNEL=n
CONFIG_ARCH_CORRECT_STACKTRACE_ON_KRETPROBE=n
CONFIG_CRYPTO_LIB_SHA256=n
CONFIG_CDROM=n
CONFIG_ARCH_SUPPORTS_KMAP_LOCAL_FORCE_MAP=n
CONFIG_E1000E=n
CONFIG_CRYPTO_LIB_AES_CBC_MACS=n
CONFIG_INOTIFY_USER=n
CONFIG_VM_EVENT_COUNTERS=n
CONFIG_INITRAMFS_PRESERVE_MTIME=n
CONFIG_WLAN=n
CONFIG_CGROUP_DEBUG=n
CONFIG_HAVE_SOFTIRQ_ON_OWN_STACK=n
CONFIG_ARCH_HAS_DEBUG_WX=n
CONFIG_GPIOLIB_LEGACY=n
CONFIG_NET_VENDOR_MYRI=n
CONFIG_DEFAULT_SECURITY_SELINUX=n
CONFIG_MITIGATION_L1TF=n
CONFIG_GCC_PLUGINS=n
CONFIG_HAVE_PERF_REGS=n
CONFIG_CRYPTO_LIB_SHA1=n
CONFIG_VHOST_ENABLE_FORK_OWNER_CONTROL=n
CONFIG_NF_CONNTRACK_FTP=n
CONFIG_AS_HAS_NON_CONST_ULEB128=n
CONFIG_ACPI_PROCESSOR_CSTATE=n
CONFIG_IOMMU_IOVA=n
CONFIG_XFRM=n
CONFIG_ARCH_WANT_IPC_PARSE_VERSION=n
CONFIG_X86_DISABLED_FEATURE_RETHUNK=n
CONFIG_COMPAT_32=n
CONFIG_DRM_CLIENT_SELECTION=n
CONFIG_DRM_I915=n
CONFIG_DM_MIRROR=n
CONFIG_RANDSTRUCT_NONE=n
CONFIG_ARCH_WANTS_DYNAMIC_TASK_STRUCT=n
CONFIG_NF_CT_NETLINK=n
CONFIG_NFS_V4=n
CONFIG_SERIAL_8250_LPSS=n
CONFIG_BINFMT_SCRIPT=n
CONFIG_LOCK_MM_AND_FIND_VMA=n
CONFIG_ARCH_HAS_MEMBARRIER_SYNC_CORE=n
CONFIG_XPS=n
CONFIG_COMPACTION=n
CONFIG_ARCH_SUPPORTS_ATOMIC_RMW=n
CONFIG_SPLIT_PTE_PTLOCKS=n
CONFIG_DW_DMAC_CORE=n
CONFIG_DMADEVICES=n
CONFIG_BLK_DEV_IO_TRACE=n
CONFIG_ARCH_USE_BUILTIN_BSWAP=n
CONFIG_INET=n
CONFIG_HAVE_ARCH_SECCOMP=n
CONFIG_RCU_NEED_SEGCBLIST=n
CONFIG_EPOLL=n
CONFIG_NET_POLL_CONTROLLER=n
CONFIG_BLK_CGROUP_IOCOST=n
CONFIG_CRYPTO_AEAD2=n
CONFIG_I2C_I801=n
CONFIG_EXT4_FS_POSIX_ACL=n
CONFIG_RTL_CARDS=n
CONFIG_PREEMPT_BUILD=n
CONFIG_RTC_INTF_SYSFS=n
CONFIG_HOTPLUG_PCI=n
CONFIG_CRYPTO_ACOMP2=n
CONFIG_DMA_ACPI=n
CONFIG_IRQ_FORCED_THREADING=n
CONFIG_DECOMPRESS_LZO=n
CONFIG_FONT_AUTOSELECT=n
CONFIG_TASK_IO_ACCOUNTING=n
CONFIG_XZ_DEC=n
CONFIG_EFI_RUNTIME_WRAPPERS=n
CONFIG_WLAN_VENDOR_ADMTEK=n
CONFIG_IP_MULTICAST=n
CONFIG_TREE_RCU=n
CONFIG_NET_VENDOR_MICROCHIP=n
CONFIG_X86_MCE_AMD=n
CONFIG_PROC_KCORE=n
CONFIG_CPU_SUP_HYGON=n
CONFIG_SND_HWDEP=n
CONFIG_KMAP_LOCAL=n
CONFIG_X86_DISABLED_FEATURE_IBT=n
CONFIG_MACINTOSH_DRIVERS=n
CONFIG_ACPI_DOCK=n
CONFIG_DEVPORT=n
CONFIG_GENERIC_TRACER=n
CONFIG_YENTA_TOSHIBA=n
CONFIG_ARCH_HAS_FORTIFY_SOURCE=n
CONFIG_VIRTIO_NET=n
CONFIG_ATA_FORCE=n
CONFIG_NET_VENDOR_TI=n
CONFIG_XZ_DEC_BCJ=n
CONFIG_NETFILTER=n
CONFIG_PATA_MPIIX=n
CONFIG_HID_PID=n
CONFIG_AUDITSYSCALL=n
CONFIG_HUGETLBFS=n
CONFIG_HID_PANTHERLORD=n
CONFIG_NET_VENDOR_SEEQ=n
CONFIG_UID16=n
CONFIG_MD_BITMAP_FILE=n
CONFIG_9P_FS=n
CONFIG_TMPFS_XATTR=n
CONFIG_IO_URING_BPF=n
CONFIG_HAVE_UNSTABLE_SCHED_CLOCK=n
CONFIG_RTC_LIB=n
CONFIG_ACPI_PROCESSOR_IDLE=n
CONFIG_DEBUG_FS_ALLOW_ALL=n
CONFIG_SND_HRTIMER=n
CONFIG_RETHOOK=n
CONFIG_NET_VENDOR_INTEL=n
CONFIG_TREE_SRCU=n
CONFIG_LEGACY_DIRECT_IO=n
CONFIG_HAVE_EFFICIENT_UNALIGNED_ACCESS=n
CONFIG_MAC80211=n
CONFIG_GENERIC_IRQ_SHOW=n
CONFIG_BINFMT_ELF=n
CONFIG_ZISOFS=n
CONFIG_BLK_PM=n
CONFIG_NET_VENDOR_LITEX=n
CONFIG_MMU_NOTIFIER=n
CONFIG_AUDIT=n
CONFIG_CRYPTO_ALGAPI=n
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO_BARE=n
CONFIG_CC_HAS_NO_PROFILE_FN_ATTR=n
CONFIG_HID_SUPPORT=n
CONFIG_QUOTACTL=n
CONFIG_HAVE_PREEMPT_DYNAMIC=n
CONFIG_NET_VENDOR_HUAWEI=n
CONFIG_ISA_DMA_API=n
CONFIG_CRYPTO_SHA256=n
CONFIG_NF_LOG_ARP=n
CONFIG_ARCH_WANT_FRAME_POINTERS=n
CONFIG_SND_SEQ_HRTIMER_DEFAULT=n
CONFIG_HAVE_KERNEL_LZMA=n
CONFIG_SERIAL_8250_DETECT_IRQ=n
CONFIG_COMPAT_32BIT_TIME=n
CONFIG_SECURITY_SELINUX=n
CONFIG_GENERIC_IOMAP=n
CONFIG_HAS_SECURITY_AUDIT=n
CONFIG_AS_IS_GNU=n
CONFIG_IP6_NF_IPTABLES=n
CONFIG_ACPI_THERMAL_LIB=n
CONFIG_NETLABEL=n
CONFIG_CGROUP_PIDS=n
CONFIG_GENERIC_BUG_RELATIVE_POINTERS=n
CONFIG_VMSPLIT_3G=n
CONFIG_XXHASH=n
CONFIG_RUSTC_HAS_FILE_WITH_NUL=n
CONFIG_INTEL_GTT=n
CONFIG_BLK_DEV_BSG=n
CONFIG_EFI_HANDOVER_PROTOCOL=n
CONFIG_X86_AMD_PSTATE=n
CONFIG_YENTA=n
CONFIG_ARCH_WANT_LD_ORPHAN_WARN=n
CONFIG_RD_GZIP=n
CONFIG_HAVE_ARCH_WITHIN_STACK_FRAMES=n
CONFIG_MAC80211_HAS_RC=n
CONFIG_CFG80211_USE_KERNEL_REGDB_KEYS=n
CONFIG_EXPORTFS=n
CONFIG_NET_VENDOR_QLOGIC=n
CONFIG_VMCORE_INFO=n
CONFIG_WLAN_VENDOR_QUANTENNA=n
CONFIG_NET_VENDOR_NVIDIA=n
CONFIG_KALLSYMS=n
CONFIG_EEEPC_LAPTOP=n
CONFIG_INTEL_TCC=n
CONFIG_ACPI_VIDEO=n
CONFIG_AGP=n
CONFIG_SERIAL_8250=n
CONFIG_X86_REQUIRED_FEATURE_ALWAYS=n
CONFIG_CRC_OPTIMIZATIONS=n
CONFIG_NET_VENDOR_GOOGLE=n
CONFIG_IP_ADVANCED_ROUTER=n
CONFIG_SCHED_CLUSTER=n
CONFIG_IP_PNP_RARP=n
CONFIG_CC_HAS_ZERO_CALL_USED_REGS=n
CONFIG_PCMCIA=n
CONFIG_UCS2_STRING=n
CONFIG_IPC_NS=n
CONFIG_SELECT_MEMORY_MODEL=n
CONFIG_DRM_DISPLAY_HDCP_HELPER=n
CONFIG_WERROR=n
CONFIG_HW_RANDOM_GEODE=n
CONFIG_VIRTIO_ANCHOR=n
CONFIG_HID_SAMSUNG=n
CONFIG_SGETMASK_SYSCALL=n
CONFIG_SCHEDSTATS=n
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_REGS=n
CONFIG_HAVE_ARCH_MMAP_RND_BITS=n
CONFIG_NET_VENDOR_WIZNET=n
CONFIG_DRM_DISPLAY_HELPER=n
CONFIG_USB_SUPPORT=n
CONFIG_HW_RANDOM_AMD=n
CONFIG_SND_PCM=n
CONFIG_INPUT_VIVALDIFMAP=n
CONFIG_WATCHDOG=n
CONFIG_ARCH_32BIT_OFF_T=n
CONFIG_MOUSE_PS2_ALPS=n
CONFIG_MQ_IOSCHED_DEADLINE=n
CONFIG_HZ_1000=n
CONFIG_GENERIC_CALIBRATE_DELAY=n
CONFIG_NET_VENDOR_WANGXUN=n
CONFIG_CRYPTO_LIB_MD5=n
CONFIG_XZ_DEC_X86=n
CONFIG_DYNAMIC_EVENTS=n
CONFIG_NVMEM_SYSFS=n
CONFIG_TRACE_CLOCK=n
CONFIG_NET_VENDOR_XIRCOM=n
CONFIG_CC_HAS_COUNTED_BY=n
CONFIG_RTC_I2C_AND_SPI=n
CONFIG_ARCH_HAS_SET_MEMORY=n
CONFIG_PERF_EVENTS_INTEL_RAPL=n
CONFIG_X86_REROUTE_FOR_BROKEN_BOOT_IRQS=n
CONFIG_NETFILTER_EGRESS=n
CONFIG_ARCH_SUPPORTS_LTO_CLANG_THIN=n
CONFIG_NF_NAT_MASQUERADE=n
CONFIG_LDISC_AUTOLOAD=n
CONFIG_ATA_VERBOSE_ERROR=n
CONFIG_CONSOLE_TRANSLATIONS=n
CONFIG_SERIAL_8250_PCILIB=n
CONFIG_PERF_EVENTS=n
CONFIG_WLAN_VENDOR_TI=n
CONFIG_X86_16BIT=n
CONFIG_E1000=n
CONFIG_SND_INTEL_NHLT=n
CONFIG_ARCH_MIGHT_HAVE_PC_PARPORT=n
CONFIG_RFKILL_LEDS=n
CONFIG_NET_CORE=n
CONFIG_NET_VENDOR_CADENCE=n
CONFIG_SUNRPC_GSS=n
CONFIG_HAVE_ACPI_APEI=n
CONFIG_X86_DISABLED_FEATURE_OSPKE=n
CONFIG_SND_JACK_INPUT_DEV=n
CONFIG_RTC_INTF_DEV=n
CONFIG_NO_HZ_IDLE=n
CONFIG_X509_CERTIFICATE_PARSER=n
CONFIG_WLAN_VENDOR_ATMEL=n
CONFIG_NET_9P_VIRTIO=n
CONFIG_PAGE_COUNTER=n
CONFIG_TMPFS=n
CONFIG_ARCH_HAS_NMI_SAFE_THIS_CPU_OPS=n
CONFIG_STRICT_KERNEL_RWX=n
CONFIG_NET_VENDOR_STMICRO=n
CONFIG_FAIR_GROUP_SCHED=n
CONFIG_PM_SLEEP_SMP=n
CONFIG_NETFILTER_NETLINK=n
CONFIG_NFS_V3_ACL=n
CONFIG_HAVE_DEBUG_STACKOVERFLOW=n
CONFIG_KERNEL_GZIP=n
CONFIG_FW_CACHE=n
CONFIG_WLAN_VENDOR_SILABS=n
CONFIG_HAVE_USER_RETURN_NOTIFIER=n
CONFIG_NEED_TASKS_RCU=n
CONFIG_ATA=n
CONFIG_GRACE_PERIOD=n
CONFIG_PREEMPT_COUNT=n
CONFIG_HAVE_PERF_EVENTS_NMI=n
CONFIG_ARCH_CPUIDLE_HALTPOLL=n
CONFIG_GENERIC_SMP_IDLE_THREAD=n
CONFIG_ARCH_HAS_CPU_FINALIZE_INIT=n
CONFIG_HAVE_KCSAN_COMPILER=n
CONFIG_CLKSRC_I8253=n
CONFIG_PTP_1588_CLOCK=n
CONFIG_ARCH_HAS_KERNEL_FPU_SUPPORT=n
CONFIG_USB_EHCI_PCI=n
CONFIG_HAVE_OPTPROBES=n
CONFIG_HIBERNATION=n
CONFIG_NET=n
CONFIG_RT_MUTEXES=n
CONFIG_NLS_UTF8=n
CONFIG_PAGE_MAPCOUNT=n
CONFIG_INPUT_JOYSTICK=n
CONFIG_DECOMPRESS_LZMA=n
