CONFIG_EPOLL=y
CONFIG_MTD_GEN_PROBE=y
CONFIG_CRC4=y
CONFIG_FILE_LOCKING=y
CONFIG_LINEAR_RANGES=y
CONFIG_GPIO_POLARFIRE_SOC=y
CONFIG_FTRACE_SYSCALLS=y
CONFIG_HAVE_KERNEL_UNCOMPRESSED=y
CONFIG_USB_RENESAS_USBHS=y
CONFIG_MFD_RT5120=y
CONFIG_GPIO_KEMPLD=y
CONFIG_I2C_CHARDEV=y
CONFIG_SENSORS_TC654=y
CONFIG_MFD_SM501=y
CONFIG_SERIAL_CORE=y
CONFIG_RISCV_ISA_ZICBOM=y
CONFIG_TIMERLAT_TRACER=y
CONFIG_COMMON_CLK_S2MPS11=y
CONFIG_BINFMT_FLAT_OLD=y
CONFIG_DEBUG_STACK_USAGE=y
CONFIG_SENSORS_ADT7410=y
CONFIG_TRACER_MAX_TRACE=y
CONFIG_RISCV_ALTERNATIVE=y
CONFIG_FRAME_POINTER=y
CONFIG_COMMON_CLK_SI521XX=y
CONFIG_XFS_DEBUG_EXPENSIVE=y
CONFIG_FUSE_FS=y
CONFIG_DEBUG_KERNEL=y
CONFIG_REGULATOR_MAX20411=y
CONFIG_GENERIC_PHY=y
CONFIG_PTE_MARKER_UFFD_WP=y
CONFIG_PROBE_EVENTS=y
CONFIG_RISCV_PROBE_UNALIGNED_ACCESS=y
CONFIG_USB_SUPPORT=y
CONFIG_SENSORS_D1U74T=y
CONFIG_REGULATOR_MT6360=y
CONFIG_SENSORS_LM78=y
CONFIG_MFD_MAX8925=y
CONFIG_HAVE_KERNEL_XZ=y
CONFIG_GENERIC_TRACER=y
CONFIG_UNINLINE_SPIN_UNLOCK=y
CONFIG_COMMON_CLK_MAX77686=y
CONFIG_REGULATOR_MAX77686=y
CONFIG_I2C_KEMPLD=y
CONFIG_RCU_REF_SCALE_TEST=y
CONFIG_NLS_CODEPAGE_865=y
CONFIG_COMEDI_NI_USB6501=y
CONFIG_PM_GENERIC_DOMAINS_SLEEP=y
CONFIG_RCU_NOCB_CPU_DEFAULT_ALL=y
CONFIG_NVMEM_SYSFS=y
CONFIG_SENSORS_EIC7700_PVT=y
CONFIG_ARCH_HAS_FAST_MULTIPLIER=y
CONFIG_GPIO_MAX7300=y
CONFIG_PWM_LP3943=y
CONFIG_MFD_VIPERBOARD=y
CONFIG_RISCV_ISA_C=y
CONFIG_SCHED_INFO=y
CONFIG_SENSORS_STTS751=y
CONFIG_ARCH_HAS_SYNC_CORE_BEFORE_USERMODE=y
CONFIG_INPUT_DRV2665_HAPTICS=y
CONFIG_DEBUG_MEMORY_INIT=y
CONFIG_EXTCON_MAX14577=y
CONFIG_DEBUG_FORCE_FUNCTION_ALIGN_64B=y
CONFIG_USB_R8A66597_HCD=y
CONFIG_GPIO_MAX732X_IRQ=y
CONFIG_CRYPTO_AEAD2=y
CONFIG_USB_GADGETFS=y
CONFIG_ISL29020=y
CONFIG_F2FS_FS_SECURITY=y
CONFIG_TPS6105X=y
CONFIG_ZONE_DMA32=y
CONFIG_LZO_COMPRESS=y
CONFIG_ARCH_HAVE_NMI_SAFE_CMPXCHG=y
CONFIG_BINFMT_FLAT=y
CONFIG_TOUCHSCREEN_HIDEEP=y
CONFIG_SPARSEMEM_VMEMMAP_ENABLE=y
CONFIG_HAVE_ARCH_KGDB_QXFER_PKT=y
CONFIG_MTD_ONENAND_VERIFY_WRITE=y
CONFIG_INPUT_AW86927=y
CONFIG_PROC_FS=y
CONFIG_NO_HZ_COMMON=y
CONFIG_BATTERY_CW2015=y
CONFIG_WQ_POWER_EFFICIENT_DEFAULT=y
CONFIG_REGULATOR_LTC3589=y
CONFIG_RCU_NEED_SEGCBLIST=y
CONFIG_GPIO_XILINX=y
CONFIG_HAVE_ARCH_KASAN_VMALLOC=y
CONFIG_TOUCHSCREEN_USB_COMPOSITE=y
CONFIG_I2C_DEBUG_BUS=y
CONFIG_COMEDI=y
CONFIG_DEVFREQ_GOV_USERSPACE=y
CONFIG_COMMON_CLK_SI5351=y
CONFIG_USB_F_MASS_STORAGE=y
CONFIG_WATCHDOG_SYSFS=y
CONFIG_RPMSG_QCOM_GLINK=y
CONFIG_VIRTIO_MENU=y
CONFIG_BATTERY_GOLDFISH=y
CONFIG_MFD_ARIZONA=y
CONFIG_I2C_ALGOBIT=y
CONFIG_ERRATA_ANDES=y
CONFIG_ARCH_HAS_SYNC_DMA_FOR_CPU=y
CONFIG_MTD_CFI_AMDSTD=y
CONFIG_BTRFS_EXPERIMENTAL=y
CONFIG_SERIAL_ALTERA_JTAGUART=y
CONFIG_GENERIC_LIB_DEVMEM_IS_ALLOWED=y
CONFIG_OF_DYNAMIC=y
CONFIG_TIMER_PROBE=y
CONFIG_OF_IRQ=y
CONFIG_MFD_TI_LP87565=y
CONFIG_CLK_ULTRARISC_DP1000=y
CONFIG_GENERIC_IRQ_MATRIX_ALLOCATOR=y
CONFIG_MTD_CFI=y
CONFIG_RCU_STALL_COMMON=y
CONFIG_KERNEL_GZIP=y
CONFIG_LEDS_EXPRESSWIRE=y
CONFIG_HAVE_KPROBES=y
CONFIG_IKHEADERS=y
CONFIG_GPIO_MAX77759=y
CONFIG_GENERIC_SMP_IDLE_THREAD=y
CONFIG_SENSORS_LTC4282=y
CONFIG_GPIOLIB_LEGACY=y
CONFIG_BINFMT_MISC=y
CONFIG_USB_CDNS3_GADGET=y
CONFIG_RSEQ=y
CONFIG_MTD_ONENAND_OTP=y
CONFIG_HAVE_FTRACE_GRAPH_FUNC=y
CONFIG_SENSORS_UCD9000=y
CONFIG_EEPROM_AT24=y
CONFIG_SENSORS_INA233=y
CONFIG_USB_EHCI_HCD_PLATFORM=y
CONFIG_TOUCHSCREEN_GOODIX_BERLIN_CORE=y
CONFIG_REGULATOR_PF530X=y
CONFIG_NVME_HOST_AUTH=y
CONFIG_NO_HZ_IDLE=y
CONFIG_GPIO_MAX732X=y
CONFIG_RISCV_TIMER=y
CONFIG_GPIO_WATCHDOG=y
CONFIG_NLS_MAC_GAELIC=y
CONFIG_REGULATOR_DEBUG=y
CONFIG_REGULATOR_DA9210=y
CONFIG_EFI_RUNTIME_WRAPPERS=y
CONFIG_COMEDI_USBDUX=y
CONFIG_USB_LINK_LAYER_TEST=y
CONFIG_TCG_TIS_I2C=y
CONFIG_PHYS_ADDR_T_64BIT=y
CONFIG_EFI_BOOTLOADER_CONTROL=y
CONFIG_CRYPTO_KPP=y
CONFIG_SENSORS_HAC300S=y
CONFIG_SENSORS_MAX20860A_REGULATOR=y
CONFIG_HAVE_KRETPROBES=y
CONFIG_GNSS_USB=y
CONFIG_DYNAMIC_DEBUG=y
CONFIG_REGULATOR_DA9063=y
CONFIG_REGULATOR_SY7636A=y
CONFIG_JBD2=y
CONFIG_USB_STORAGE_DEBUG=y
CONFIG_MFD_ROHM_BD718XX=y
CONFIG_USB_G_SERIAL=y
CONFIG_PAGE_SIZE_LESS_THAN_256KB=y
CONFIG_INPUT_JOYSTICK=y
CONFIG_JOYSTICK_ADI=y
CONFIG_RISCV_ISA_VENDOR_EXT_SIFIVE=y
CONFIG_SENSORS_MC13783_ADC=y
CONFIG_XILINX_SDFEC=y
CONFIG_REBOOT_MODE=y
CONFIG_DECOMPRESS_LZ4=y
CONFIG_VIRTIO_ANCHOR=y
CONFIG_INPUT_TOUCHSCREEN=y
CONFIG_CHARGER_MAX14577=y
CONFIG_SENSORS_ADT7475=y
CONFIG_LOCKDEP_SUPPORT=y
CONFIG_GPIO_GENERIC_PLATFORM=y
CONFIG_IR_TOY=y
CONFIG_JOYSTICK_QWIIC=y
CONFIG_ARCH_HAS_DEBUG_WX=y
CONFIG_REGULATOR_HI6421V530=y
CONFIG_XFS_QUOTA=y
CONFIG_SECTION_MISMATCH_WARN_ONLY=y
CONFIG_SOPHGO_SG2044_TOPSYS=y
CONFIG_USB_STORAGE=y
CONFIG_CRYPTO_RNG=y
CONFIG_STACKTRACE_SUPPORT=y
CONFIG_PECI=y
CONFIG_MFD_CS40L50_I2C=y
CONFIG_CGROUP_DEVICE=y
CONFIG_NLS_ISO8859_14=y
CONFIG_DMA_NEED_SYNC=y
CONFIG_RFD_FTL=y
CONFIG_SENSORS_LTC4261=y
CONFIG_USB_LIBCOMPOSITE=y
CONFIG_USB=y
CONFIG_ARCH_HAS_DMA_PREP_COHERENT=y
CONFIG_MFD_WM8997=y
CONFIG_GPIO_DA9055=y
CONFIG_PECI_CPU=y
CONFIG_USB_RENESAS_USBF=y
CONFIG_HAVE_KERNEL_LZO=y
CONFIG_PTP_1588_CLOCK_OPTIONAL=y
CONFIG_CACHEMAINT_FOR_DMA=y
CONFIG_USB_MUSB_HDRC=y
CONFIG_USB_RENESAS_USB3=y
CONFIG_USB_OHCI_LITTLE_ENDIAN=y
CONFIG_IRQ_DOMAIN=y
CONFIG_KEXEC_CORE=y
CONFIG_SCSI_DMA=y
CONFIG_CRYPTO_SHA1=y
CONFIG_HAVE_DMA_CONTIGUOUS=y
CONFIG_USB_ONBOARD_DEV=y
CONFIG_SENSORS_TDA38640=y
CONFIG_ARCH_HAS_SETUP_DMA_OPS=y
CONFIG_CGROUP_CPUACCT=y
CONFIG_NLS_CODEPAGE_850=y
CONFIG_COMPAT_32BIT_TIME=y
CONFIG_ARCH_SPARSEMEM_ENABLE=y
CONFIG_I3C_OR_I2C=y
CONFIG_VMGENID=y
CONFIG_SIOX_BUS_GPIO=y
CONFIG_USB_STORAGE_REALTEK=y
CONFIG_HAVE_KERNEL_LZ4=y
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE=y
CONFIG_USB_EZUSB_FX2=y
CONFIG_PINCTRL_OCELOT=y
CONFIG_TOUCHSCREEN_CYTTSP5=y
CONFIG_CONTEXT_SWITCH_TRACER=y
CONFIG_PM_GENERIC_DOMAINS=y
CONFIG_PWM_ATMEL_TCB=y
CONFIG_MTD_MAP_BANK_WIDTH_2=y
CONFIG_DEBUG_VIRTUAL=y
CONFIG_F2FS_FS_XATTR=y
CONFIG_SCSI_DEBUG=y
CONFIG_TOUCHSCREEN_IMX6UL_TSC=y
CONFIG_ARCH_HAS_PREEMPT_LAZY=y
CONFIG_GENERIC_PINMUX_FUNCTIONS=y
CONFIG_HAVE_ARCH_RANDOMIZE_KSTACK_OFFSET=y
CONFIG_REGULATOR_RT6160=y
CONFIG_GENERIC_CLOCKEVENTS=y
CONFIG_GPIO_WATCHDOG_ARCH_INITCALL=y
CONFIG_ARCH_WANTS_NO_INSTR=y
CONFIG_SENSORS_NCT7904=y
CONFIG_IRQ_STACKS=y
CONFIG_USB_HUB_USB251XB=y
CONFIG_CRYPTO_SIG2=y
CONFIG_SENSORS_LM83=y
CONFIG_VMAP_STACK=y
CONFIG_USB_SNP_UDC_PLAT=y
CONFIG_CRYPTO_LIB_AES_CTR=y
CONFIG_SENSORS_MAX6650=y
CONFIG_TASKS_TRACE_RCU=y
CONFIG_BLK_CGROUP_PUNT_BIO=y
CONFIG_NLS_CODEPAGE_1251=y
CONFIG_MMU=y
CONFIG_TOUCHSCREEN_EDT_FT5X06=y
CONFIG_REGULATOR_ISL9305=y
CONFIG_CRYPTO_XCTR=y
CONFIG_MEMORY=y
CONFIG_EXT2_FS=y
CONFIG_SERIO_PS2MULT=y
CONFIG_DA9063_WATCHDOG=y
CONFIG_FLATMEM_MANUAL=y
CONFIG_SCSI_LOWLEVEL=y
CONFIG_REGULATOR_MT6311=y
CONFIG_RISCV_ISA_ZICBOP=y
CONFIG_LZ4_COMPRESS=y
CONFIG_HI6421V600_IRQ=y
CONFIG_INPUT_PWM_BEEPER=y
CONFIG_SENSORS_MPQ7932=y
CONFIG_GPIO_RC5T583=y
CONFIG_SOC_BUS=y
CONFIG_FTRACE=y
CONFIG_USB_ROLE_SWITCH=y
CONFIG_SENSORS_TPS25990_REGULATOR=y
CONFIG_ARCH_DEFAULT_CRASH_DUMP=y
CONFIG_GOLDFISH_TTY=y
CONFIG_MTD_PHYSMAP=y
CONFIG_DECOMPRESS_XZ=y
CONFIG_MFD_MAX77759=y
CONFIG_GLOB=y
CONFIG_PINCTRL_MADERA=y
CONFIG_DYNAMIC_EVENTS=y
CONFIG_INPUT_MOUSEDEV_PSAUX=y
CONFIG_SATA_AHCI_PLATFORM=y
CONFIG_GPIO_74XX_MMIO=y
CONFIG_REGULATOR_PALMAS=y
CONFIG_GPIO_MOCKUP=y
CONFIG_USB_STORAGE_ONETOUCH=y
CONFIG_GNSS=y
CONFIG_ARCH_ANDES=y
CONFIG_RISCV_ISA_VENDOR_EXT=y
CONFIG_CRYPTO_CTS=y
CONFIG_TRACEPOINT_BENCHMARK=y
CONFIG_CRYPTO_CMAC=y
CONFIG_CRYPTO_CRC32=y
CONFIG_GENERIC_PINCTRL=y
CONFIG_DEBUG_PINCTRL=y
CONFIG_USB_STORAGE_FREECOM=y
CONFIG_CPU_FREQ_GOV_PERFORMANCE=y
CONFIG_REGULATOR_STPMIC1=y
CONFIG_OF_ADDRESS=y
CONFIG_NLS_CODEPAGE_855=y
CONFIG_PREEMPT=y
CONFIG_IO_URING=y
CONFIG_REGULATOR_RT4831=y
CONFIG_SENSORS_LTC4286=y
CONFIG_REGULATOR_MAX8925=y
CONFIG_MFD_DA9062=y
CONFIG_REGULATOR_SY8106A=y
CONFIG_GENERIC_ENTRY=y
CONFIG_MTD_MAP_BANK_WIDTH_1=y
CONFIG_IR_SERIAL=y
CONFIG_HAVE_KCSAN_COMPILER=y
CONFIG_QUOTACTL=y
CONFIG_GENERIC_IRQ_MULTI_HANDLER=y
CONFIG_DMABUF_HEAPS_SYSTEM=y
CONFIG_REGULATOR_MP8859=y
CONFIG_SENSORS_ISL28022=y
CONFIG_NVMEM_LAYOUT_U_BOOT_ENV=y
CONFIG_GAMEPORT=y
CONFIG_ZSTD_COMPRESS=y
CONFIG_RISCV_SBI_MPXY_MBOX=y
CONFIG_MFD_RK8XX_I2C=y
CONFIG_USB_SERIAL_SPCP8X5=y
CONFIG_XZ_DEC_RISCV=y
CONFIG_REGULATOR_RT5190A=y
CONFIG_PM_WAKELOCKS_GC=y
CONFIG_CRYPTO_CAST_COMMON=y
CONFIG_PINCTRL_ULTRARISC_DP1000=y
CONFIG_REGULATOR_DA9055=y
CONFIG_HAVE_CLK=y
CONFIG_INPUT_PALMAS_PWRBUTTON=y
CONFIG_PM_GENERIC_DOMAINS_OF=y
CONFIG_SCSI_SAS_LIBSAS=y
CONFIG_W1_SLAVE_DS2805=y
CONFIG_HAVE_ARCH_HUGE_VMALLOC=y
CONFIG_MTD_CFI_INTELEXT=y
CONFIG_SENSORS_STEF48H28=y
CONFIG_SCSI_SCAN_ASYNC=y
CONFIG_TOUCHSCREEN_HAMPSHIRE=y
CONFIG_64BIT=y
CONFIG_IPMB_DEVICE_INTERFACE=y
CONFIG_EXPORTFS=y
CONFIG_PHY_CADENCE_DPHY=y
CONFIG_EFI_DISABLE_PCI_DMA=y
CONFIG_SENSORS_TDA38640_REGULATOR=y
CONFIG_CRYPTO_TWOFISH=y
CONFIG_COMMON_CLK_VC7=y
CONFIG_CGROUP_RDMA=y
CONFIG_RISCV_SBI=y
CONFIG_MFD_AAT2870_CORE=y
CONFIG_HW_RANDOM_TIMERIOMEM=y
CONFIG_DEBUG_SG=y
CONFIG_INPUT_ADXL34X=y
CONFIG_CRYPTO_LIB_SHA512=y
CONFIG_USB_ISP116X_HCD=y
CONFIG_PHY_NXP_PTN3222=y
CONFIG_COMEDI_USB_DRIVERS=y
CONFIG_TOUCHSCREEN_USB_GUNZE=y
CONFIG_HAVE_ARCH_USERFAULTFD_MINOR=y
CONFIG_PHY_RCAR_GEN2=y
CONFIG_INPUT_MOUSE=y
CONFIG_PINCTRL_TPS6594=y
CONFIG_FONT_AUTOSELECT=y
CONFIG_SERIAL_FSL_LPUART_CONSOLE=y
CONFIG_ARCH_HAS_PMEM_API=y
CONFIG_EXTCON_MAX3355=y
CONFIG_IR_IGORPLUGUSB=y
CONFIG_MADERA_IRQ=y
CONFIG_TTY=y
CONFIG_GNSS_SERIAL=y
CONFIG_MTD_HYPERBUS=y
CONFIG_I2C_SIMTEC=y
CONFIG_COMMON_CLK_VC5=y
CONFIG_DEBUG_SPINLOCK=y
CONFIG_COMEDI_TESTS=y
CONFIG_IR_SANYO_DECODER=y
CONFIG_MFD_WM8994=y
CONFIG_MOUSE_PS2_ALPS=y
CONFIG_EFI_PARAMS_FROM_FDT=y
CONFIG_MFD_IQS62X=y
CONFIG_TOUCHSCREEN_RM_TS=y
CONFIG_RMI4_I2C=y
CONFIG_ARCH_HIBERNATION_HEADER=y
CONFIG_MSDOS_PARTITION=y
CONFIG_SENSORS_LTC4283=y
CONFIG_SENSORS_LM25066=y
CONFIG_ATA=y
CONFIG_SERIAL_UARTLITE_CONSOLE=y
CONFIG_HAVE_KERNEL_LZMA=y
CONFIG_USB_CONN_GPIO=y
CONFIG_SPMI=y
CONFIG_NLS_KOI8_R=y
CONFIG_CLZ_TAB=y
CONFIG_PM_CLK=y
CONFIG_REGULATOR_MT6316=y
CONFIG_N_HDLC=y
CONFIG_SCSI_SPI_ATTRS=y
CONFIG_RD_LZO=y
CONFIG_I2C_DESIGNWARE_CORE=y
CONFIG_GENERIC_STRNCPY_FROM_USER=y
CONFIG_BACKLIGHT_LV5207LP=y
CONFIG_CGROUP_PERF=y
CONFIG_REGULATOR_LTC3676=y
CONFIG_ARCH_HAS_KCOV=y
CONFIG_STACKTRACE=y
CONFIG_JOYSTICK_COBRA=y
CONFIG_LD_ORPHAN_WARN=y
CONFIG_HAVE_KERNEL_GZIP=y
CONFIG_USB_CHAOSKEY=y
CONFIG_SCSI_UFS_CDNS_PLATFORM=y
CONFIG_TOUCHSCREEN_ZET6223=y
CONFIG_MFD_AXP20X_I2C=y
CONFIG_ERRATA_SIFIVE=y
CONFIG_EFI_EARLYCON=y
CONFIG_CRYPTO_SKCIPHER2=y
CONFIG_SENSORS_W83791D=y
CONFIG_SENSORS_DRIVETEMP=y
CONFIG_SENSORS_LT7182S=y
CONFIG_USB_SERIAL_GARMIN=y
CONFIG_IR_SERIAL_TRANSMITTER=y
CONFIG_MFD_MT6360=y
CONFIG_CRYPTO_MANAGER=y
CONFIG_PROC_MEM_ALWAYS_FORCE=y
CONFIG_LD_IS_BFD=y
CONFIG_TOUCHSCREEN_MELFAS_MIP4=y
CONFIG_CHARGER_BD99954=y
CONFIG_842_COMPRESS=y
CONFIG_SENSORS_IRPS5401=y
CONFIG_CHARGER_MAX77705=y
CONFIG_HAVE_SOFTIRQ_ON_OWN_STACK=y
CONFIG_CC_HAS_AUTO_VAR_INIT_PATTERN=y
CONFIG_REGULATOR_MP886X=y
CONFIG_RD_ZSTD=y
CONFIG_SYNC_FILE=y
CONFIG_INPUT_MAX77693_HAPTIC=y
CONFIG_GNSS_SIRF_SERIAL=y
CONFIG_RCU_EXPERT=y
CONFIG_SENSORS_MP2891=y
CONFIG_USB_OHCI_HCD_SSB=y
CONFIG_SENSORS_MAX6639=y
CONFIG_STRICT_DEVMEM=y
CONFIG_MTD_NAND_ECC_SW_HAMMING=y
CONFIG_PWM_PCA9685=y
CONFIG_GPIO_SIM=y
CONFIG_C2PORT=y
CONFIG_SENSORS_LTC2992=y
CONFIG_KRETPROBE_ON_RETHOOK=y
CONFIG_HAVE_SAMPLE_FTRACE_DIRECT_MULTI=y
CONFIG_USB_OHCI_HCD_PLATFORM=y
CONFIG_TCG_VTPM_PROXY=y
CONFIG_TOUCHSCREEN_BU21013=y
CONFIG_NLS_CODEPAGE_1250=y
CONFIG_FORCE_TASKS_RUDE_RCU=y
CONFIG_RCU_LAZY_DEFAULT_OFF=y
CONFIG_GPIO_ARIZONA=y
CONFIG_SENSORS_LM93=y
CONFIG_NVMEM_U_BOOT_ENV=y
CONFIG_CRYPTO_JITTERENTROPY=y
CONFIG_DMAPOOL_TEST=y
CONFIG_NOP_USB_XCEIV=y
CONFIG_W1_SLAVE_DS250X=y
CONFIG_MFD_ATC260X_I2C=y
CONFIG_VIRTIO_CONSOLE=y
CONFIG_REGULATOR_MC13783=y
CONFIG_HAVE_IRQ_TIME_ACCOUNTING=y
CONFIG_W1_SLAVE_DS2413=y
CONFIG_ARCH_HAS_FORTIFY_SOURCE=y
CONFIG_THREAD_INFO_IN_TASK=y
CONFIG_SENSORS_LT3074=y
CONFIG_HAVE_BUILDTIME_MCOUNT_SORT=y
CONFIG_OF=y
CONFIG_EXTCON_GPIO=y
CONFIG_SENSORS_W83795=y
CONFIG_KGDB_KDB=y
CONFIG_CRYPTO_ECB=y
CONFIG_I2C_VIRTIO=y
CONFIG_NTSYNC=y
CONFIG_RC_DEVICES=y
CONFIG_EXTCON_RT8973A=y
CONFIG_CRYPTO_LIB_SM3=y
CONFIG_CRYPTO_XTS=y
CONFIG_DEBUG_KMEMLEAK=y
CONFIG_SERIAL_IPOCTAL=y
CONFIG_I2C=y
CONFIG_EFI_STUB=y
CONFIG_MFD_MT6370=y
CONFIG_TOUCHSCREEN_WACOM_W8001=y
CONFIG_SENSORS_DME1737=y
CONFIG_FSI_MASTER_GPIO=y
CONFIG_HAVE_RSEQ=y
CONFIG_REGULATOR_MAX77620=y
CONFIG_CPU_FREQ_GOV_USERSPACE=y
CONFIG_TOUCHSCREEN_PENMOUNT=y
CONFIG_KALLSYMS=y
CONFIG_REGMAP_MMIO=y
CONFIG_CRYPTO_ESSIV=y
CONFIG_PMBUS=y
CONFIG_BACKLIGHT_GPIO=y
CONFIG_MFD_SMPRO=y
CONFIG_GPIO_LP87565=y
CONFIG_PAGE_POISONING=y
CONFIG_TCG_TIS_I2C_CR50=y
