CONFIG_DRM_MSM_HDMI_HDCP=n
CONFIG_ARCH_HAS_CPU_CACHE_INVALIDATE_MEMREGION=n
CONFIG_BT_HCIBTUSB_MTK=n
CONFIG_USB_ISP1761_UDC=n
CONFIG_CRYPTO_CCM=n
CONFIG_KALLSYMS=n
CONFIG_SERIAL_8250_DWLIB=n
CONFIG_ARCH_TEGRA_194_SOC=n
CONFIG_ARCH_BINFMT_ELF_STATE=n
CONFIG_COMMON_CLK_MESON_DUALDIV=n
CONFIG_MSCC_OCELOT_SWITCH_LIB=n
CONFIG_MULTIPLEXER=n
CONFIG_VIDEO_ROCKCHIP_RGA=n
CONFIG_PCI_IOV=n
CONFIG_I2C_MUX_PINCTRL=n
CONFIG_ARCH_HAS_HW_PTE_YOUNG=n
CONFIG_VIRTIO_ANCHOR=n
CONFIG_PINCTRL_MAILI=n
CONFIG_DRM_CDNS_DSI=n
CONFIG_COMMON_CLK_GXBB=n
CONFIG_DRM_IMX_LCDIF=n
CONFIG_DRM_CDNS_MHDP8546_J721E=n
CONFIG_SND_SOC_SAMSUNG=n
CONFIG_COMMON_CLK_FSL_SAI=n
CONFIG_IIO_KFIFO_BUF=n
CONFIG_GENERIC_EARLY_IOREMAP=n
CONFIG_USB_DWC2_DUAL_ROLE=n
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST=n
CONFIG_ARCH_HAS_SUBPAGE_FAULTS=n
CONFIG_HAVE_KVM_MSI=n
CONFIG_AS_HAS_ARMV8_5=n
CONFIG_CGROUP_PERF=n
CONFIG_MXC_CLK=n
CONFIG_GRO_CELLS=n
CONFIG_ARCH_HAS_SET_MEMORY=n
CONFIG_LD_IS_BFD=n
CONFIG_REGULATOR_HI655X=n
CONFIG_IMX8M_BLK_CTRL=n
CONFIG_CRC64_ARCH=n
CONFIG_USB_CHIPIDEA_UDC=n
CONFIG_APPLE_PMGR_PWRSTATE=n
CONFIG_COMMON_CLK_MT8195_MFGCFG=n
CONFIG_RANDOMIZE_MODULE_REGION_FULL=n
CONFIG_GENERIC_CPU_VULNERABILITIES=n
CONFIG_NVMEM_SUNXI_SID=n
CONFIG_PINCTRL_SH_PFC=n
CONFIG_ARCH_HAVE_NMI_SAFE_CMPXCHG=n
CONFIG_HID=n
CONFIG_INTERCONNECT_QCOM=n
CONFIG_ARCH_UNIPHIER=n
CONFIG_KVM_GENERIC_DIRTYLOG_READ_PROTECT=n
CONFIG_SND_SOC_LPASS_CPU=n
CONFIG_ARCH_INTEL_SOCFPGA=n
CONFIG_SRAM=n
CONFIG_MMC_DW=n
CONFIG_ARM_SMMU_DISABLE_BYPASS_BY_DEFAULT=n
CONFIG_VIDEO_AMPHION_VPU=n
CONFIG_ARCH_REALTEK=n
CONFIG_ACPI_PRMT=n
CONFIG_CRYPTO_DEFLATE=n
CONFIG_ARM_SCMI_TRANSPORT_SMC=n
CONFIG_CLK_RK3588=n
CONFIG_INTERCONNECT_QCOM_X1E80100=n
CONFIG_LEDS_TRIGGER_HEARTBEAT=n
CONFIG_WLAN_VENDOR_RALINK=n
CONFIG_BLK_DEV=n
CONFIG_NET_SCH_INGRESS=n
CONFIG_OWL_DMA=n
CONFIG_SM_GCC_8450=n
CONFIG_QCOM_FALKOR_ERRATUM_1003=n
CONFIG_PHY_SUN6I_MIPI_DPHY=n
CONFIG_SND_SOC_LPASS_CDC_DMA=n
CONFIG_MFD_HI6421_PMIC=n
CONFIG_MAGIC_SYSRQ=n
CONFIG_MMC_SUNXI=n
CONFIG_PTP_1588_CLOCK_OPTIONAL=n
CONFIG_ARCH_HAS_SET_DIRECT_MAP=n
CONFIG_CHARGER_RK817=n
CONFIG_IRQ_BYPASS_MANAGER=n
CONFIG_SND_SOC_MT8365=n
CONFIG_DRM_SUN4I=n
CONFIG_THERMAL_HWMON=n
CONFIG_CLK_INTEL_SOCFPGA64=n
CONFIG_PHY_MVEBU_A3700_COMPHY=n
CONFIG_BCM_VIDEOCORE=n
CONFIG_CRYPTO_LIB_AES_CTR=n
CONFIG_SYSCTL_EXCEPTION_TRACE=n
CONFIG_MMC_SDHCI_MSM=n
CONFIG_SC_DISPCC_7180=n
CONFIG_CPU_THERMAL=n
CONFIG_ARCH_ENABLE_MEMORY_HOTPLUG=n
CONFIG_BLK_DEV_INTEGRITY=n
CONFIG_ARCH_SUPPORTS_RT=n
CONFIG_MLX5_HW_STEERING=n
CONFIG_USB_PCI=n
CONFIG_SM_GPUCC_8150=n
CONFIG_USB_CONFIGFS_RNDIS=n
CONFIG_PINCTRL_TEGRA_XUSB=n
CONFIG_ATH10K_LEDS=n
CONFIG_ARM_MEDIATEK_CPUFREQ_HW=n
CONFIG_CROS_EC_CHARDEV=n
CONFIG_I2C_SH_MOBILE=n
CONFIG_SUN50I_H616_CCU=n
CONFIG_SENSORS_LM75=n
CONFIG_I3C_OR_I2C=n
CONFIG_RTC_DRV_MACSMC=n
CONFIG_FRAME_POINTER=n
CONFIG_IRQ_MSI_LIB=n
CONFIG_V4L2_ASYNC=n
CONFIG_WLAN_VENDOR_MEDIATEK=n
CONFIG_QCOM_TSENS=n
CONFIG_SND_PCM_IEC958=n
CONFIG_ZSTD_COMMON=n
CONFIG_ARM_QCOM_CPUFREQ_NVMEM=n
CONFIG_RSI_COEX=n
CONFIG_LEDS_QCOM_FLASH=n
CONFIG_SND_SOC_SC7280=n
CONFIG_SND_SOC_QDSP6_COMMON=n
CONFIG_BT_MRVL=n
CONFIG_NVMEM_RMEM=n
CONFIG_RESET_MESON_AUX=n
CONFIG_ARCH_TEGRA_186_SOC=n
CONFIG_GPIO_UNIPHIER=n
CONFIG_CRYPTO_RNG2=n
CONFIG_STM32_FIREWALL=n
CONFIG_RCAR_THERMAL=n
CONFIG_GROUP_SCHED_WEIGHT=n
CONFIG_BT_INTEL=n
CONFIG_INTERCONNECT_QCOM_MAILI=n
CONFIG_INTERCONNECT_QCOM_MSM8916=n
CONFIG_CAN_MCP251XFD=n
CONFIG_PINCTRL_RTD1319D=n
CONFIG_CAN_RAW=n
CONFIG_FB_IOMEM_HELPERS=n
CONFIG_SND_SOC_SOF_MTK_TOPLEVEL=n
CONFIG_VIDEO_RZG2L_CRU=n
CONFIG_X509_CERTIFICATE_PARSER=n
CONFIG_CRYPTO_LIB_AES_CBC_MACS=n
CONFIG_EXT4_FS_POSIX_ACL=n
CONFIG_AMD_XGBE=n
CONFIG_SND_SOC_ES8328_I2C=n
CONFIG_LZ4_COMPRESS=n
CONFIG_CLK_IMX8MN=n
CONFIG_PINCTRL_SA8775P=n
CONFIG_RTC_DRV_MT6397=n
CONFIG_HW_RANDOM_HISI_TRNG=n
CONFIG_DWMAC_QCOM_ETHQOS=n
CONFIG_SND_CTL_FAST_LOOKUP=n
CONFIG_TEE_BNXT_FW=n
CONFIG_MEDIA_CONTROLLER=n
CONFIG_SPARSE_IRQ=n
CONFIG_NVMEM_IMX_OCOTP=n
CONFIG_PWM_BCM2835=n
CONFIG_SND_USB=n
CONFIG_CAN_XILINXCAN=n
CONFIG_PINCTRL_MT7981=n
CONFIG_TRACE_IRQFLAGS_SUPPORT=n
CONFIG_USB_RENESAS_USBHS_UDC=n
CONFIG_FB_SYS_FILLRECT=n
CONFIG_CLK_R8A77965=n
CONFIG_EXTCON_USB_GPIO=n
CONFIG_VIDEO_QCOM_CAMSS=n
CONFIG_MEMREGION=n
CONFIG_ARM64_WORKAROUND_CLEAN_CACHE=n
CONFIG_IMX_REMOTEPROC=n
CONFIG_COMMON_CLK_MT8192_MMSYS=n
CONFIG_TEGRA_HOST1X_CONTEXT_BUS=n
CONFIG_QCOM_PDR_MSG=n
CONFIG_MEMBARRIER=n
CONFIG_FIXED_PHY=n
CONFIG_CLK_R9A08G046=n
CONFIG_PINCTRL_PFC_R8A77960=n
CONFIG_IR_MESON=n
CONFIG_ARCH_ENABLE_SPLIT_PMD_PTLOCK=n
CONFIG_HWSPINLOCK=n
CONFIG_ATH11K_AHB=n
CONFIG_CROS_EC_DEBUGFS=n
CONFIG_VIRTIO_NET=n
CONFIG_SENSORS_GPIO_FAN=n
CONFIG_CAN_RCAR=n
CONFIG_DRM_CDNS_DSI_J721E=n
CONFIG_PHY_ROCKCHIP_NANENG_COMBO_PHY=n
CONFIG_SMP=n
CONFIG_I2C_BCM_IPROC=n
CONFIG_SPI_MTK_NOR=n
CONFIG_CFG80211_CRDA_SUPPORT=n
CONFIG_INTERCONNECT_QCOM_QCS404=n
CONFIG_ARCH_WANT_COMPAT_IPC_PARSE_VERSION=n
CONFIG_BLK_DEV_MD=n
CONFIG_HAVE_ARCH_KGDB=n
CONFIG_ZLIB_INFLATE=n
CONFIG_CC_HAS_KASAN_GENERIC=n
CONFIG_SND_DRIVERS=n
CONFIG_SND_SOC_WCD_MBHC=n
CONFIG_ARM_SMCCC_SOC_ID=n
CONFIG_NET_DEVMEM=n
CONFIG_ACPI_GTDT=n
CONFIG_NET_CLS=n
CONFIG_EEPROM_AT25=n
CONFIG_ARM64_WORKAROUND_SPECULATIVE_UNPRIV_LOAD=n
CONFIG_MEDIA_SUPPORT_FILTER=n
CONFIG_HAVE_STACKPROTECTOR=n
CONFIG_SND_SOC_WCD9335=n
CONFIG_ARM64_ERRATUM_2966298=n
CONFIG_HAVE_FUNCTION_TRACER=n
CONFIG_CRYPTO_SIG2=n
CONFIG_MEGARAID_SAS=n
CONFIG_PINCTRL_SINGLE=n
CONFIG_DRM_RCAR_USE_CMM=n
CONFIG_SENSORS_ARM_SCMI=n
CONFIG_FSL_ENETC_PTP_CLOCK=n
CONFIG_DWMAC_ROCKCHIP=n
CONFIG_PINCTRL_IPQ9574=n
CONFIG_USB_OHCI_LITTLE_ENDIAN=n
CONFIG_FUJITSU_ERRATUM_010001=n
CONFIG_DRM_PANFROST=n
CONFIG_MOUSE_PS2=n
CONFIG_ARCH_HAS_PMD_SOFTLEAVES=n
CONFIG_RZG3E_THERMAL=n
CONFIG_SM_DISPCC_7150=n
CONFIG_NETFILTER_INGRESS=n
CONFIG_COMMON_CLK_MT8196_MDPSYS=n
CONFIG_PINCTRL_DA9062=n
CONFIG_RTC_DRV_BQ32K=n
CONFIG_VIDEO_IR_I2C=n
CONFIG_XILINX_XADC=n
CONFIG_MLX5_EN_ARFS=n
CONFIG_INTERCONNECT_QCOM_KAANAPALI=n
CONFIG_RTC_DRV_BBNSM=n
CONFIG_BCM_FLEXRM_MBOX=n
CONFIG_INTERCONNECT_QCOM_BCM_VOTER=n
CONFIG_QCOM_FASTRPC=n
CONFIG_BRCMFMAC=n
CONFIG_PAGE_REPORTING=n
CONFIG_COMMON_CLK_MEDIATEK=n
CONFIG_VIRTIO_PCI=n
CONFIG_COMMON_CLK_MT8167_IMGSYS=n
CONFIG_PINCTRL_MSM8998=n
CONFIG_BCM_NS_THERMAL=n
CONFIG_FSL_ERRATUM_A008585=n
CONFIG_CLK_SHIKRA_GCC=n
CONFIG_SM_GPUCC_8250=n
CONFIG_SERIAL_TEGRA=n
CONFIG_NEED_PER_CPU_PAGE_FIRST_CHUNK=n
CONFIG_BRIDGE=n
CONFIG_HVC_XEN_FRONTEND=n
CONFIG_RCU_TRACE=n
CONFIG_IOMMU_IO_PGTABLE_ARMV7S=n
CONFIG_SND_VERBOSE_PROCFS=n
CONFIG_VIDEO_SYNOPSYS_HDMIRX_LOAD_DEFAULT_EDID=n
CONFIG_COMPAT_BINFMT_ELF=n
CONFIG_XOR_BLOCKS=n
CONFIG_ELFCORE=n
CONFIG_SND_SOC_SOF_XTENSA=n
CONFIG_PHY_QCOM_QMP_PCIE=n
CONFIG_HOTPLUG_PCI=n
CONFIG_HAVE_GUP_FAST=n
CONFIG_INTEGRITY=n
CONFIG_I2C_MUX=n
CONFIG_LOCKD=n
CONFIG_VIDEO_HANTRO_ROCKCHIP=n
CONFIG_MFD_TPS65219=n
CONFIG_GENERIC_CPU_CACHE_MAINTENANCE=n
CONFIG_INPUT_MATRIXKMAP=n
CONFIG_OF_FLATTREE=n
CONFIG_CRYPTO_LZ4=n
CONFIG_SM_CAMCC_8150=n
CONFIG_DEBUG_MEMORY_INIT=n
CONFIG_SND_SOC_FSL_SPDIF=n
CONFIG_REGULATOR_AXP20X=n
CONFIG_ARCH_MVEBU=n
CONFIG_APPLE_MAILBOX=n
CONFIG_DRM_LONTIUM_LT8713SX=n
CONFIG_ARCH_SUPPORTS_SCHED_MC=n
CONFIG_VIDEO_IMX219=n
CONFIG_PHY_ROCKCHIP_USBDP=n
CONFIG_PHY_FSL_IMX8MQ_USB=n
CONFIG_CORESIGHT_LINKS_AND_SINKS=n
CONFIG_PAGE_POOL_STATS=n
CONFIG_HAVE_PWRCTRL=n
CONFIG_IMX_SC_WDT=n
CONFIG_MVPP2=n
CONFIG_PHY_CADENCE_DPHY=n
CONFIG_BRCMUTIL=n
CONFIG_RTC_INTF_PROC=n
CONFIG_CPU_FREQ_STAT=n
CONFIG_MFD_AXP20X_I2C=n
CONFIG_SND_SOC_TAS2552=n
CONFIG_CLK_X1P42100_GPUCC=n
CONFIG_SPI_QCOM_QSPI=n
CONFIG_XILINX_AXI_EMAC=n
CONFIG_NET_VENDOR_HISILICON=n
CONFIG_TI_SCI_PM_DOMAINS=n
CONFIG_RTC_DRV_M41T80=n
CONFIG_ALPINE_MSI=n
CONFIG_TI_K3_RINGACC=n
CONFIG_ACPI_HED=n
CONFIG_SND_SOC_SDCA_OPTIONAL=n
CONFIG_IPQ_APSS_6018=n
CONFIG_SND_SOC_TEGRA210_ADMAIF=n
