CONFIG_I2C_SH_MOBILE=y
CONFIG_GPIO_GRGPIO=y
CONFIG_SCSI=y
CONFIG_HAVE_OBJTOOL_MCOUNT=y
CONFIG_VGA_CONSOLE=y
CONFIG_HWMON_VID=y
CONFIG_GPIO_74XX_MMIO=y
CONFIG_IIO_MUX=y
CONFIG_XZ_DEC_ARM64=y
CONFIG_PINCTRL_BERLIN=y
CONFIG_KEXEC_CORE=y
CONFIG_MFD_ATC260X_I2C=y
CONFIG_LEDS_APU=y
CONFIG_NVMEM_ROCKCHIP_OTP=y
CONFIG_MFD_AXP20X_I2C=y
CONFIG_MTD=y
CONFIG_I2C_ALI1563=y
CONFIG_BINFMT_SCRIPT=y
CONFIG_ARM_SCMI_POWER_DOMAIN=y
CONFIG_SERIAL_MSM_CONSOLE=y
CONFIG_PCI_XGENE_MSI=y
CONFIG_SERIO_LIBPS2=y
CONFIG_IA32_FEAT_CTL=y
CONFIG_VEML6030=y
CONFIG_IKHEADERS=y
CONFIG_SENSORS_PECI_DIMMTEMP=y
CONFIG_ARCH_HAS_ELFCORE_COMPAT=y
CONFIG_GPIO_SAMA5D2_PIOBU=y
CONFIG_ADXL372=y
CONFIG_ARM_MEDIATEK_CPUFREQ=y
CONFIG_HAVE_ARCH_USERFAULTFD_MINOR=y
CONFIG_PHY_MESON_G12A_MIPI_DPHY_ANALOG=y
CONFIG_MLX90614=y
CONFIG_HAS_IOMEM=y
CONFIG_CRYPTO_SEQIV=y
CONFIG_POWER_RESET_ATC260X=y
CONFIG_SERIAL_MXS_AUART=y
CONFIG_MTD_MAP_BANK_WIDTH_4=y
CONFIG_SENSORS_ADT7475=y
CONFIG_GNSS_MTK_SERIAL=y
CONFIG_FB_SYS_COPYAREA=y
CONFIG_CRYPTO_KRB5ENC=y
CONFIG_SERIAL_LANTIQ_CONSOLE=y
CONFIG_SENSORS_LM77=y
CONFIG_IAQCORE=y
CONFIG_TOUCHSCREEN_MX25=y
CONFIG_SCSI_ISCI=y
CONFIG_KEYS=y
CONFIG_BACKLIGHT_MAX8925=y
CONFIG_DA8XX_DDRCTL=y
CONFIG_HSC030PA_I2C=y
CONFIG_USE_PERCPU_NUMA_NODE_ID=y
CONFIG_PINCTRL_MT6765=y
CONFIG_PHY_SPARX5_SERDES=y
CONFIG_INPUT_SC27XX_VIBRA=y
CONFIG_SENSORS_W83773G=y
CONFIG_PCIE_MOBIVEIL_HOST=y
CONFIG_CGROUP_RDMA=y
CONFIG_MESON_DDR_PMU=y
CONFIG_PINCTRL_VF610=y
CONFIG_JFS_POSIX_ACL=y
CONFIG_APPLE_SART=y
CONFIG_PER_VMA_LOCK=y
CONFIG_EP93XX_ADC=y
CONFIG_MFD_ACER_A500_EC=y
CONFIG_HAVE_EXIT_THREAD=y
CONFIG_SCHED_AUTOGROUP=y
CONFIG_MTD_NAND_ARASAN=y
CONFIG_POLYNOMIAL=y
CONFIG_HAVE_KVM_IRQCHIP=y
CONFIG_SCSI_VIRTIO=y
CONFIG_LEDS_TRIGGER_PATTERN=y
CONFIG_GPIO_BRCMSTB=y
CONFIG_AD7091R=y
CONFIG_PCIE_STM32_HOST=y
CONFIG_TRUSTED_KEYS=y
CONFIG_IIO_ST_GYRO_I2C_3AXIS=y
CONFIG_POWER_RESET_REGULATOR=y
CONFIG_PHY_QCOM_SGMII_ETH=y
CONFIG_XILLYBUS_CLASS=y
CONFIG_PINCTRL_INTEL=y
CONFIG_PINCTRL_IMX25=y
CONFIG_SENSORS_ADT7411=y
CONFIG_XFS_MEMORY_BUFS=y
CONFIG_MFD_TPS6594=y
CONFIG_POWER_SEQUENCING=y
CONFIG_CRYPTO_ARIA_GFNI_AVX512_X86_64=y
CONFIG_SENSORS_MCP3021=y
CONFIG_REMOTEPROC_CDEV=y
CONFIG_ARCH_ENABLE_SPLIT_PMD_PTLOCK=y
CONFIG_FB=y
CONFIG_IMX_MBOX=y
CONFIG_REGULATOR_TPS65218=y
CONFIG_PCIE_APPLE=y
CONFIG_PHY_FSL_IMX8M_PCIE=y
CONFIG_PINCTRL_MSM8X74=y
CONFIG_AD5696_I2C=y
CONFIG_IOMMU_SUPPORT=y
CONFIG_ARCH_HAS_STRICT_KERNEL_RWX=y
CONFIG_W1_SLAVE_DS28E17=y
CONFIG_EROFS_FS_ZIP_ZSTD=y
CONFIG_BACKLIGHT_ADP8870=y
CONFIG_CRYPTO_LIB_AES_CBC=y
CONFIG_PCIE_CADENCE_PLAT=y
CONFIG_BCH=y
CONFIG_GPIO_IDIO_16=y
CONFIG_XFS_DEBUG_EXPENSIVE=y
CONFIG_QCOM_PAS=y
CONFIG_EXECMEM=y
CONFIG_XZ_DEC_SPARC=y
CONFIG_KVM_MMU_LOCKLESS_AGING=y
CONFIG_CHARGER_BQ24257=y
CONFIG_CHARGER_MAX77976=y
CONFIG_MISC_FILESYSTEMS=y
CONFIG_MTD_NAND_QCOM=y
CONFIG_INPUT_FF_MEMLESS=y
CONFIG_PHY_SAMSUNG_USB2=y
CONFIG_IMX_IPUV3_CORE=y
CONFIG_ZLIB_INFLATE=y
CONFIG_CHARGER_BQ24190=y
CONFIG_BATTERY_MAX1720X=y
CONFIG_LOONGSON2_GUTS=y
CONFIG_MULTIPLEXER=y
CONFIG_GENERIC_GETTIMEOFDAY=y
CONFIG_MFD_ATC260X=y
CONFIG_RAPIDIO_ENUM_BASIC=y
CONFIG_ARCH_WANTS_DYNAMIC_TASK_STRUCT=y
CONFIG_FB_OMAP2_PANEL_DSI_CM=y
CONFIG_QCOM_CPUCP_MBOX=y
CONFIG_TPS6594_ESM=y
CONFIG_MPL3115=y
CONFIG_SENSORS_TSL2563=y
CONFIG_PINCTRL_NS2_MUX=y
CONFIG_I2C_PCI1XXXX=y
CONFIG_BH1750=y
CONFIG_DMA_OPS_HELPERS=y
CONFIG_SLUB=y
CONFIG_I2C_SMBUS=y
CONFIG_REGULATOR_ACT8865=y
CONFIG_GPIO_LOGICVC=y
CONFIG_FXOS8700=y
CONFIG_FB_IOMEM_HELPERS=y
CONFIG_BATTERY_S2MU005=y
CONFIG_CLKSRC_MMIO=y
CONFIG_CRYPTO_DEV_MARVELL_CESA=y
CONFIG_CRYPTO_DEV_ATMEL_SHA=y
CONFIG_HAVE_NMI=y
CONFIG_TTY=y
CONFIG_PANEL_CHANGE_MESSAGE=y
CONFIG_X86_ESPFIX64=y
CONFIG_CRYPTO_SKCIPHER=y
CONFIG_PHY_QCOM_QUSB2=y
CONFIG_PCIE_SPACEMIT_K1=y
CONFIG_IMX_WEIM=y
CONFIG_MTD_ONENAND=y
CONFIG_GPIO_TANGIER=y
CONFIG_TIFM_CORE=y
CONFIG_MFD_MAX77650=y
CONFIG_SERIAL_8250_FINTEK=y
CONFIG_SERIO_SUN4I_PS2=y
CONFIG_CRYPTO_DEV_OMAP=y
CONFIG_I2C_HIGHLANDER=y
CONFIG_CRYPTO_LZ4=y
CONFIG_HAVE_KERNEL_LZO=y
CONFIG_EXT2_FS=y
CONFIG_YENTA_O2=y
CONFIG_EXT4_FS=y
CONFIG_SERIAL_8250_PCI=y
CONFIG_TIME_NS=y
CONFIG_IIO_ST_SENSORS_CORE=y
CONFIG_HAVE_PAGE_SIZE_4KB=y
CONFIG_CRYPTO_ALGAPI=y
CONFIG_BMC150_MAGN_I2C=y
CONFIG_PINCTRL_RZV2M=y
CONFIG_HAVE_ARCH_PREL32_RELOCATIONS=y
CONFIG_RISCV_IOMMU=y
CONFIG_SCSI_SNIC_DEBUG_FS=y
CONFIG_I2C_MV64XXX=y
CONFIG_PVPANIC_MMIO=y
CONFIG_PHY_MESON_AXG_PCIE=y
CONFIG_ARCH_SUPPORTS_KEXEC_FILE=y
CONFIG_PM_WAKELOCKS=y
CONFIG_RENESAS_RPCIF=y
CONFIG_IOMMU_IO_PGTABLE_LPAE=y
CONFIG_MTD_NAND_INTEL_LGM=y
CONFIG_HAVE_MIXED_BREAKPOINTS_REGS=y
CONFIG_CORE_DUMP_DEFAULT_ELF_HEADERS=y
CONFIG_INTEL_SCU_IPC_UTIL=y
CONFIG_TI_ADC081C=y
CONFIG_PM_DEVFREQ=y
CONFIG_PINCTRL_SM8750=y
CONFIG_CRYPTO_CAST_COMMON=y
CONFIG_MTD_GEN_PROBE=y
CONFIG_MEN_Z188_ADC=y
CONFIG_TPS6507X=y
CONFIG_SPARSEMEM=y
CONFIG_PINCTRL_K210=y
CONFIG_FPGA_MGR_ZYNQMP_FPGA=y
CONFIG_LEDS_PCA9532=y
CONFIG_EXTCON_RT8973A=y
CONFIG_IRQ_FORCED_THREADING=y
CONFIG_VIDEOMODE_HELPERS=y
CONFIG_PRINTK=y
CONFIG_W1_MASTER_UART=y
CONFIG_PINCTRL_TPS6594=y
CONFIG_I2C_ASPEED=y
CONFIG_REGMAP_MMIO=y
CONFIG_BACKLIGHT_CLASS_DEVICE=y
CONFIG_GPIO_QIXIS_FPGA=y
CONFIG_ARCH_DEFAULT_CRASH_DUMP=y
CONFIG_HAVE_ALIGNED_STRUCT_PAGE=y
CONFIG_PINCTRL_IPQ9574=y
CONFIG_KEXEC_SIG_FORCE=y
CONFIG_NVME_HOST_AUTH=y
CONFIG_I2C_SUN6I_P2WI=y
CONFIG_ARCH_WANT_HUGE_PMD_SHARE=y
CONFIG_PINCTRL_PFC_R8A7791=y
CONFIG_REGULATOR_SC2730=y
CONFIG_BMG160_I2C=y
CONFIG_IOMMU_IOVA=y
CONFIG_ENCLOSURE_SERVICES=y
CONFIG_ACORN_PARTITION_ADFS=y
CONFIG_PINCTRL_PFC_SH7720=y
CONFIG_SENSORS_IIO_HWMON=y
CONFIG_ST_SLIM_REMOTEPROC=y
CONFIG_SCSI_DMA=y
CONFIG_POWER_RESET_SC27XX=y
CONFIG_HAVE_OBJTOOL_NOP_MCOUNT=y
CONFIG_HEADERS_INSTALL=y
CONFIG_INTEL_SCU_PCI=y
CONFIG_SMI330=y
CONFIG_PHANTOM=y
CONFIG_MTD_RAM=y
CONFIG_SYSV68_PARTITION=y
CONFIG_SLAB_OBJ_EXT=y
CONFIG_SPARSEMEM_VMEMMAP=y
CONFIG_HAVE_KCSAN_COMPILER=y
CONFIG_TOUCHSCREEN_AD7879=y
CONFIG_BMA220_I2C=y
CONFIG_NLS_CODEPAGE_863=y
CONFIG_CRYPTO_SIG=y
CONFIG_PUNIT_ATOM_DEBUG=y
CONFIG_AMD_PTDMA=y
CONFIG_GPIO_PCI_IDIO_16=y
CONFIG_PERF_EVENTS_INTEL_UNCORE=y
CONFIG_MFD_RSMU_I2C=y
CONFIG_VFIO_IOMMU_TYPE1=y
CONFIG_QNX4FS_FS=y
CONFIG_C2PORT_DURAMAR_2150=y
CONFIG_GPIO_WAVESHARE_DSI_TOUCH=y
CONFIG_HAVE_FTRACE_REGS_HAVING_PT_REGS=y
CONFIG_GENERIC_CPU_AUTOPROBE=y
CONFIG_TOUCHSCREEN_HYNITRON_CSTXXX=y
CONFIG_HW_RANDOM_KEYSTONE=y
CONFIG_PHY_BCM_SR_USB=y
CONFIG_HAVE_DEBUG_KMEMLEAK=y
CONFIG_DDR=y
CONFIG_PINCTRL_INTEL_PLATFORM=y
CONFIG_CRYPTO_ARIA_AESNI_AVX2_X86_64=y
CONFIG_SENSIRION_SLF3S=y
CONFIG_PHY_QCOM_USB_SS=y
CONFIG_DEFAULT_SECURITY_DAC=y
CONFIG_CRYPTO_TWOFISH_X86_64_3WAY=y
CONFIG_X86_CMOV=y
CONFIG_LEDS_BCM6328=y
CONFIG_XFS_DRAIN_INTENTS=y
CONFIG_PINCTRL_PFC_R8A7793=y
CONFIG_NLS_CODEPAGE_936=y
CONFIG_SENSORS_MAX1619=y
CONFIG_GPIO_TWL4030=y
CONFIG_CRYPTO_CAMELLIA_AESNI_AVX_X86_64=y
CONFIG_CRYPTO_DH=y
CONFIG_SGETMASK_SYSCALL=y
CONFIG_HSI=y
CONFIG_AOSONG_AGS02MA=y
CONFIG_MTD_ONENAND_OTP=y
CONFIG_CRYPTO_LIB_MD5=y
CONFIG_DW_DMAC_CORE=y
CONFIG_PINCTRL_MT8188=y
CONFIG_GENERIC_SMP_IDLE_THREAD=y
CONFIG_SECRETMEM=y
CONFIG_GPIO_BD71815=y
CONFIG_PINCTRL_SPRD=y
CONFIG_I2C_BOARDINFO=y
CONFIG_REGULATOR_FIXED_VOLTAGE=y
CONFIG_IRQ_BYPASS_MANAGER=y
CONFIG_KVFREE_RCU_BATCHED=y
CONFIG_LOONGSON2_APB_CMC_DMA=y
CONFIG_VFIO_PCI=y
CONFIG_I2C_VIAPRO=y
CONFIG_PHY_TI_DS125DF111=y
CONFIG_SI1133=y
CONFIG_PINCTRL_STM32=y
CONFIG_NLS_CODEPAGE_1251=y
CONFIG_CC_HAS_WORKING_NOSANITIZE_ADDRESS=y
CONFIG_ARCH_HAS_HW_PTE_YOUNG=y
CONFIG_TOUCHSCREEN_RASPBERRYPI_FW=y
CONFIG_SERIAL_UARTLITE=y
CONFIG_SCSI_SRP_ATTRS=y
CONFIG_SENSORS_LM87=y
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE=y
CONFIG_VL6180=y
CONFIG_SMI330_I2C=y
CONFIG_PHY_ECONET_PCIE=y
CONFIG_INPUT_TWL4030_PWRBUTTON=y
CONFIG_PAGE_SIZE_LESS_THAN_256KB=y
CONFIG_BATTERY_RT5033=y
CONFIG_LEDS_LP55XX_COMMON=y
CONFIG_NVMEM_REBOOT_MODE=y
CONFIG_SENSORS_TMP421=y
CONFIG_INPUT_DA9055_ONKEY=y
CONFIG_MFD_MAX8907=y
CONFIG_PINCTRL_SM6375=y
CONFIG_MFD_SI476X_CORE=y
CONFIG_INPUT_RT5120_PWRKEY=y
CONFIG_ARM_SCMI_TRANSPORT_MAILBOX=y
CONFIG_NUMA_MEMBLKS=y
CONFIG_FW_LOADER=y
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST_IDLE=y
CONFIG_X86_REQUIRED_FEATURE_FPU=y
CONFIG_PCI_REALLOC_ENABLE_AUTO=y
CONFIG_FB_OMAP2_DEBUG_SUPPORT=y
CONFIG_IMX93_ADC=y
CONFIG_NLS_ISO8859_14=y
CONFIG_FUSE_IO_URING=y
CONFIG_MB1232=y
CONFIG_LEDS_BRIGHTNESS_HW_CHANGED=y
CONFIG_LEDS_QNAP_MCU=y
CONFIG_REGULATOR_VIRTUAL_CONSUMER=y
CONFIG_SENSORS_ADT7470=y
CONFIG_SCHED_SMT=y
CONFIG_IR_SANYO_DECODER=y
CONFIG_QCOM_EBI2=y
CONFIG_CHARGER_BQ25630=y
CONFIG_I2C_WMT=y
CONFIG_ADL8113=y
CONFIG_PINCTRL_NORD=y
CONFIG_PINCTRL_STM32F429=y
CONFIG_SPLIT_PMD_PTLOCKS=y
CONFIG_NO_HZ=y
CONFIG_HISI_PTT=y
CONFIG_MTD_NAND_RICOH=y
CONFIG_I2C_MUX_MLXCPLD=y
CONFIG_VBOXSF_FS=y
CONFIG_IKCONFIG=y
CONFIG_FB_CONTROL=y
CONFIG_SENSORS_SHTC1=y
CONFIG_TPL0102=y
CONFIG_IIO_BUFFER_DMA=y
CONFIG_MFD_MAX77705=y
CONFIG_XXHASH=y
CONFIG_PINMUX=y
CONFIG_RESET_TI_SCI=y
CONFIG_LEDS_TRIGGERS=y
CONFIG_EXYNOS_IRQ_COMBINER=y
CONFIG_USER_DECRYPTED_DATA=y
CONFIG_BCM63XX_POWER=y
CONFIG_SERIAL_NUVOTON_MA35D1=y
CONFIG_ARCH_HAS_UACCESS_FLUSHCACHE=y
CONFIG_SENSORS_HMC5843_I2C=y
CONFIG_PINCTRL_AS370=y
CONFIG_I2C_MUX_GPMUX=y
CONFIG_GPIB=y
CONFIG_OMAP_OCP2SCP=y
CONFIG_XFS_ONLINE_SCRUB=y
CONFIG_POWER_RESET_RESTART=y
CONFIG_TIMER_OF=y
CONFIG_XZ_DEC_ARMTHUMB=y
CONFIG_ARCH_SPARSEMEM_DEFAULT=y
CONFIG_LEDS_LT3593=y
CONFIG_KVM_WERROR=y
CONFIG_CC_IS_GCC=y
CONFIG_MESON_GX_SOCINFO=y
CONFIG_REGULATOR_LP872X=y
CONFIG_REGULATOR_STM32_VREFBUF=y
CONFIG_NTB_PINGPONG=y
CONFIG_SOC_TEGRA30_VOLTAGE_COUPLER=y
CONFIG_INPUT_TPS65219_PWRBUTTON=y
CONFIG_SENSORS_NCT6775=y
CONFIG_TRACE_IRQFLAGS_NMI_SUPPORT=y
CONFIG_FS_MBCACHE=y
CONFIG_IR_IMON_DECODER=y
CONFIG_SENSORS_NCT6775_CORE=y
CONFIG_TOUCHSCREEN_MAX11801=y
CONFIG_PINCTRL_IMX=y
CONFIG_SENSORS_ADM1031=y
CONFIG_PHY_ST_SPEAR1340_MIPHY=y
CONFIG_HAVE_KVM_DIRTY_RING=y
CONFIG_W1_SLAVE_DS250X=y
CONFIG_LEDS_OSRAM_AMS_AS3668=y
CONFIG_PINCTRL_STM32F746=y
CONFIG_NVMEM_SC27XX_EFUSE=y
CONFIG_GENERIC_STRNCPY_FROM_USER=y
CONFIG_MFD_BQ257XX=y
CONFIG_CLZ_TAB=y
CONFIG_IR_SONY_DECODER=y
CONFIG_REGULATOR_RT5759=y
CONFIG_MICROCODE=y
CONFIG_CRYPTO_HW=y
CONFIG_KVM_COMMON=y
CONFIG_FS_POSIX_ACL=y
CONFIG_PCI_J721E=y
CONFIG_SERIAL_8250_LPC18XX=y
CONFIG_BSD_PROCESS_ACCT_V3=y
CONFIG_TSL4531=y
CONFIG_SYSCTL_EXCEPTION_TRACE=y
CONFIG_ARCH_SUPPORTS_NUMA_BALANCING=y
CONFIG_GAMEPORT_FM801=y
CONFIG_ARCH_HAS_NON_OVERLAPPING_ADDRESS_SPACE=y
CONFIG_X86_REQUIRED_FEATURE_PGE=y
CONFIG_VIRT_XFER_TO_GUEST_WORK=y
CONFIG_CRYPTO_CCM=y
CONFIG_SCHED_MC=y
CONFIG_GPIO_SNPS_CREG=y
CONFIG_HAVE_OBJTOOL=y
CONFIG_INTERVAL_TREE=y
CONFIG_PXA1908_PM_DOMAINS=y
CONFIG_OF_NUMA=y
CONFIG_MTD_OF_PARTS=y
CONFIG_MFD_88PM800=y
CONFIG_PAGE_REPORTING=y
CONFIG_REGULATOR_UNIPHIER=y
CONFIG_SCSI_IPR_TRACE=y
CONFIG_SRF08=y
CONFIG_HAVE_SAMPLE_FTRACE_DIRECT_MULTI=y
CONFIG_MMA7455=y
CONFIG_GPIB_COMMON=y
CONFIG_HAVE_EFFICIENT_UNALIGNED_ACCESS=y
CONFIG_QCOM_TZMEM_MODE_SHMBRIDGE=y
CONFIG_PTDUMP=y
CONFIG_AL3000A=y
CONFIG_PA12203001=y
CONFIG_BATTERY_DS2781=y
CONFIG_LTR390=y
CONFIG_CHARGER_BQ25980=y
CONFIG_PINCTRL_SM8650=y
CONFIG_FB_OMAP2_DSS_DPI=y
CONFIG_DMATEST=y
CONFIG_TPS65010=y
CONFIG_MFD_DA9055=y
CONFIG_PCI_EXYNOS=y
CONFIG_PCIE_KIRIN=y
CONFIG_I2C_SIS630=y
CONFIG_MVEBU_DEVBUS=y
CONFIG_MTD_CFI_ADV_OPTIONS=y
CONFIG_REGULATOR_MT6363=y
CONFIG_INPUT_AXP20X_PEK=y
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE_PUD=y
CONFIG_FB_OMAP2_CONNECTOR_DVI=y
CONFIG_FB_FOREIGN_ENDIAN=y
CONFIG_PINCTRL_SINGLE=y
CONFIG_PHY_MTK_UFS=y
CONFIG_HAVE_ARCH_THREAD_STRUCT_WHITELIST=y
CONFIG_PAGE_SIZE_LESS_THAN_64KB=y
CONFIG_CRYPTO_CHACHA20=y
CONFIG_KEXEC_SIG=y
CONFIG_GPIO_SYSCON=y
CONFIG_FUTEX_PI=y
CONFIG_TREE_RCU=y
CONFIG_MFD_INTEL_M10_BMC_CORE=y
CONFIG_TOUCHSCREEN_ZET6223=y
CONFIG_STM32_DMAMUX=y
CONFIG_IOMMU_PT_RISCV64=y
CONFIG_PHY_MIPHY28LP=y
CONFIG_HAVE_KVM_CPU_RELAX_INTERCEPT=y
CONFIG_PINCTRL_POLARFIRE_SOC=y
CONFIG_MFD_MC13XXX_I2C=y
CONFIG_LOCK_EVENT_COUNTS=y
CONFIG_PANEL=y
CONFIG_QCOM_SCM=y
CONFIG_REGULATOR_MT6370=y
CONFIG_IRQ_MSI_LIB=y
CONFIG_STACKDEPOT=y
CONFIG_MFD_HI6421_PMIC=y
CONFIG_LZ4_DECOMPRESS=y
CONFIG_ARCH_CONFIGURES_CPU_MITIGATIONS=y
CONFIG_CRYPTO_DEV_HISI_SEC=y
CONFIG_MAX31827=y
CONFIG_I2C_APPLE=y
CONFIG_PCI_XGENE=y
CONFIG_QCOM_SPMI_RRADC=y
CONFIG_FWCTL=y
CONFIG_MAX44000=y
CONFIG_PCIE_RCAR_HOST=y
CONFIG_IQS620AT_TEMP=y
CONFIG_SPRD_IOMMU=y
CONFIG_APPLE_DART=y
CONFIG_GPIO_SPRD=y
CONFIG_REGULATOR_RT6190=y
CONFIG_VHOST_SCSI=y
CONFIG_SX9500=y
CONFIG_K3_DMA=y
CONFIG_XFS_BTREE_IN_MEM=y
CONFIG_I2C_MUX_PCA9541=y
CONFIG_TI_ADS1100=y
CONFIG_SYSFS_SYSCALL=y
CONFIG_TEGRA20_APB_DMA=y
CONFIG_SERIO_GPIO_PS2=y
CONFIG_VFIO_PLATFORM_CALXEDAXGMAC_RESET=y
CONFIG_MTD_PSTORE=y
