CONFIG_SPMI=y
CONFIG_VIRT_DRIVERS=y
CONFIG_MFD_VX855=y
CONFIG_EXT4_FS_POSIX_ACL=y
CONFIG_GENERIC_BITREVERSE=y
CONFIG_LEDS_SY7802=y
CONFIG_CHARGER_RT9467=y
CONFIG_SENSORS_W83791D=y
CONFIG_FB_ASILIANT=y
CONFIG_BACKLIGHT_KTZ8866=y
CONFIG_FIREWIRE_NOSY=y
CONFIG_PAGE_SIZE_4KB=y
CONFIG_GPIO_BD71815=y
CONFIG_RTC_DRV_ISL1208=y
CONFIG_HID=y
CONFIG_PPS_GENERATOR=y
CONFIG_KEYS_REQUEST_CACHE=y
CONFIG_ARCH_OPTIONAL_KERNEL_RWX_DEFAULT=y
CONFIG_BITREVERSE=y
CONFIG_TWL4030_CORE=y
CONFIG_SENSORS_MAX1619=y
CONFIG_SPARSEMEM_MANUAL=y
CONFIG_DEBUG_IRQFLAGS=y
CONFIG_CRYPTO_GCM=y
CONFIG_ARCH_VIRT=y
CONFIG_SENSORS_MP2869=y
CONFIG_MFD_RT4831=y
CONFIG_HAVE_RETHOOK=y
CONFIG_JFFS2_ZLIB=y
CONFIG_SENSORS_LX1308=y
CONFIG_SWIOTLB_DYNAMIC=y
CONFIG_NLS_ASCII=y
CONFIG_LEDS_IS31FL319X=y
CONFIG_RPMSG_QCOM_GLINK=y
CONFIG_MFD_AXP20X_I2C=y
CONFIG_RTC_DRV_R7301=y
CONFIG_ARCH_HAS_SET_DIRECT_MAP=y
CONFIG_HAVE_CLK=y
CONFIG_REGULATOR_MAX20086=y
CONFIG_PCI_DOE=y
CONFIG_PINCTRL_SOPHGO_CV18XX_OPS=y
CONFIG_XFS_FS=y
CONFIG_VIRT_CPU_ACCOUNTING=y
CONFIG_XILLYBUS=y
CONFIG_MFD_KEMPLD=y
CONFIG_GPIO_CDEV=y
CONFIG_LOCK_SPIN_ON_OWNER=y
CONFIG_REGULATOR_TPS65023=y
CONFIG_OF_OVERLAY=y
CONFIG_FUTEX_PRIVATE_HASH=y
CONFIG_FPGA_MGR_EFINIX_SPI=y
CONFIG_NTB_IDT=y
CONFIG_GPIO_TPS65219=y
CONFIG_QUEUED_SPINLOCKS=y
CONFIG_TSM_GUEST=y
CONFIG_SENSORS_G762=y
CONFIG_GENERIC_CPU_VULNERABILITIES=y
CONFIG_CRYPTO_HMAC=y
CONFIG_MTD_SST25L=y
CONFIG_RAID_ATTRS=y
CONFIG_PCI_FTPCI100=y
CONFIG_SENSORS_STEF48H28=y
CONFIG_SENSORS_W83795=y
CONFIG_CRYPTO_CBC=y
CONFIG_SENSORS_HTU31=y
CONFIG_CRYPTO_LIB_MD5=y
CONFIG_RANDSTRUCT_NONE=y
CONFIG_BCMA_DRIVER_PCI=y
CONFIG_COMEDI_TESTS_EXAMPLE=y
CONFIG_MTD_PSTORE=y
CONFIG_ARCH_HAS_CC_CAN_LINK=y
CONFIG_CHARGER_MAX8903=y
CONFIG_I2C_FSI=y
CONFIG_REGULATOR_LM363X=y
CONFIG_EXPORTFS=y
CONFIG_ORANGEFS_FS=y
CONFIG_USB_CHIPIDEA_NPCM=y
CONFIG_CRYPTO_CTR=y
CONFIG_GPIB=y
CONFIG_RD_ZSTD=y
CONFIG_REGULATOR_DA9063=y
CONFIG_CPU_IDLE_MULTIPLE_DRIVERS=y
CONFIG_USB_ULPI_BUS=y
CONFIG_PARTITION_ADVANCED=y
CONFIG_MFD_MAX5970=y
CONFIG_W1=y
CONFIG_ARCH_RV64I=y
CONFIG_PADATA=y
CONFIG_CPU_MITIGATIONS=y
CONFIG_COMEDI_NI_LABPC_CS=y
CONFIG_RTC_DRV_FTRTC010=y
CONFIG_BCMA_DRIVER_GMAC_CMN=y
CONFIG_NLS_UTF8=y
CONFIG_NLS_ISO8859_6=y
CONFIG_CHARLCD=y
CONFIG_SBITMAP=y
CONFIG_PHY_CADENCE_SIERRA=y
CONFIG_PRINTK=y
CONFIG_MTD_NAND_ECC=y
CONFIG_DEBUG_DRIVER=y
CONFIG_STACKDEPOT_ALWAYS_INIT=y
CONFIG_TIMER_OF=y
CONFIG_CHARGER_MAX14577=y
CONFIG_LEDS_MAX77650=y
CONFIG_CXL_PCI=y
CONFIG_CRYPTO_STREEBOG=y
CONFIG_CB710_CORE=y
CONFIG_REGULATOR_TPS6286X=y
CONFIG_NLS_CODEPAGE_936=y
CONFIG_SENSORS_GL518SM=y
CONFIG_GFS2_FS=y
CONFIG_NTB_TOOL=y
CONFIG_INPUT_VIVALDIFMAP=y
CONFIG_CRYPTO_RNG=y
CONFIG_USB_CDNS3_STARFIVE=y
CONFIG_COMEDI_NI_TIO=y
CONFIG_PINCTRL_CS47L92=y
CONFIG_BUG_ON_DATA_CORRUPTION=y
CONFIG_PINCTRL_CS47L35=y
CONFIG_ADI_I3C_MASTER=y
CONFIG_LZO_DECOMPRESS=y
CONFIG_NVMEM_U_BOOT_ENV=y
CONFIG_HAVE_ARCH_JUMP_LABEL_RELATIVE=y
CONFIG_SENSORS_LM92=y
CONFIG_UFS_DEBUG=y
CONFIG_MFD_RK8XX_SPI=y
CONFIG_CRYPTO_KRB5ENC=y
CONFIG_CC_HAS_ZERO_CALL_USED_REGS=y
CONFIG_COMEDI_AMPLC_PCI230=y
CONFIG_HAVE_ARCH_KSTACK_ERASE=y
CONFIG_REGMAP_IRQ=y
CONFIG_PHY_LAN966X_SERDES=y
CONFIG_HARDLOCKUP_DETECTOR_COUNTS_HRTIMER=y
CONFIG_BACKLIGHT_LM3509=y
CONFIG_GENERIC_PENDING_IRQ=y
CONFIG_CPU_IDLE=y
CONFIG_BINFMT_MISC=y
CONFIG_RISCV_ISA_VENDOR_EXT_SIFIVE=y
CONFIG_BLOCK_LEGACY_AUTOLOAD=y
CONFIG_SENSORS_LTC2945=y
CONFIG_QUEUED_RWLOCKS=y
CONFIG_PARPORT_PC_FIFO=y
CONFIG_TIFM_CORE=y
CONFIG_ACCESSIBILITY=y
CONFIG_COMEDI_ADDI_APCI_1032=y
CONFIG_ARCH_SUPPORTS_KEXEC=y
CONFIG_ARCH_PROC_KCORE_TEXT=y
CONFIG_LEGACY_PTYS=y
CONFIG_KEYBOARD_ATKBD=y
CONFIG_PAGE_TABLE_CHECK_ENFORCED=y
CONFIG_PINCTRL_STARFIVE_JH7100=y
CONFIG_IPMI_PLAT_DATA=y
CONFIG_BCMA=y
CONFIG_FB_SYS_COPYAREA=y
CONFIG_SENSORS_MPQ7932=y
CONFIG_USERFAULTFD=y
CONFIG_MOUSE_PS2_CYPRESS=y
CONFIG_VM_EVENT_COUNTERS=y
CONFIG_WATCHDOG_HANDLE_BOOT_ENABLED=y
CONFIG_SENSORS_TDA38640_REGULATOR=y
CONFIG_MTD_NAND_ECC_SW_HAMMING=y
CONFIG_RISCV_RPMI_SYSMSI=y
CONFIG_CRYPTO_ECC=y
CONFIG_RISCV_BOOT_SPINWAIT=y
CONFIG_MFD_ACT8945A=y
CONFIG_SENSORS_IR36021=y
CONFIG_NVME_AUTH=y
CONFIG_POSIX_CPU_TIMERS_TASK_WORK=y
CONFIG_CONSTRUCTORS=y
CONFIG_FB_I740=y
CONFIG_PINCTRL_AS3722=y
CONFIG_LEDS_MLXREG=y
CONFIG_CRYPTO_DEFLATE=y
CONFIG_PSTORE_COMPRESS=y
CONFIG_842_COMPRESS=y
CONFIG_DAMON=y
CONFIG_GROUP_SCHED_WEIGHT=y
CONFIG_FS_ENCRYPTION=y
CONFIG_RTC_DRV_RV3032=y
CONFIG_TICK_ONESHOT=y
CONFIG_BACKLIGHT_KTD2801=y
CONFIG_MUX_CORE=y
CONFIG_MFD_RN5T618=y
CONFIG_SENSORS_ADT7475=y
CONFIG_HD44780=y
CONFIG_SENSORS_TC74=y
CONFIG_COMEDI=y
CONFIG_MFD_MAX8997=y
CONFIG_GENERIC_ALLOCATOR=y
CONFIG_RISCV_SCALAR_MISALIGNED=y
CONFIG_GENERIC_IRQ_SHOW=y
CONFIG_W1_SLAVE_DS28E17=y
CONFIG_KMALLOC_PARTITION_CACHES=y
CONFIG_XFS_SUPPORT_V4=y
CONFIG_SENSORS_F75375S=y
CONFIG_HAVE_ARCH_HUGE_VMAP=y
CONFIG_SOFTLOCKUP_DETECTOR=y
CONFIG_USB_ROLE_SWITCH=y
CONFIG_MINIX_SUBPARTITION=y
CONFIG_SENSORS_W83627HF=y
CONFIG_WATCHDOG_NOWAYOUT=y
CONFIG_REGULATOR_ISL9305=y
CONFIG_WM8350_WATCHDOG=y
CONFIG_NEW_LEDS=y
CONFIG_IRQ_MSI_LIB=y
CONFIG_IRQCHIP=y
CONFIG_SENSORS_CRPS=y
CONFIG_BTRFS_FS_POSIX_ACL=y
CONFIG_RTC_DRV_88PM886=y
CONFIG_IRQ_DOMAIN_HIERARCHY=y
CONFIG_RISCV_ISA_VENDOR_EXT=y
CONFIG_SSFDC=y
CONFIG_PGTABLE_HAS_HUGE_LEAVES=y
CONFIG_SENSORS_MAX31730=y
CONFIG_XZ_DEC=y
CONFIG_FB_RIVA_I2C=y
CONFIG_TMPFS=y
CONFIG_HARDENED_USERCOPY=y
CONFIG_TEST_BITMAP=y
CONFIG_I2C_DESIGNWARE_PLATFORM=y
CONFIG_FB_SSD1307=y
CONFIG_RANDOMIZE_KSTACK_OFFSET_DEFAULT=y
CONFIG_PCIE_CADENCE_PLAT=y
CONFIG_LRU_GEN=y
CONFIG_DEBUG_KMEMLEAK_VERBOSE=y
CONFIG_REGULATOR_MAX77693=y
CONFIG_CLK_STARFIVE_JH7110_PLL=y
CONFIG_USB_F_PRINTER=y
CONFIG_FB_ATY=y
CONFIG_LEGACY_TIOCSTI=y
CONFIG_HAVE_KERNEL_GZIP=y
CONFIG_HAVE_KERNEL_UNCOMPRESSED=y
CONFIG_COMEDI_NI_LABPC=y
CONFIG_SCF_TORTURE_TEST=y
CONFIG_RTC_DEBUG=y
CONFIG_SENSORS_NCT7904=y
CONFIG_SENSORS_PM6764TR=y
CONFIG_SENSORS_NPCM7XX=y
CONFIG_COMMON_CLK_VC7=y
CONFIG_HWMON_VID=y
CONFIG_OF_FLATTREE=y
CONFIG_IPMI_SI=y
CONFIG_BOOT_PRINTK_DELAY=y
CONFIG_PD6729=y
CONFIG_MFD_TPS6594_SPI=y
CONFIG_SERIO_APBPS2=y
CONFIG_GPIOLIB=y
CONFIG_UEVENT_HELPER=y
CONFIG_MFD_88PM805=y
CONFIG_RISCV_ISA_SVRSW60T59B=y
CONFIG_NLS_ISO8859_15=y
CONFIG_LOGO_LINUX_CLUT224=y
CONFIG_DW_DMAC=y
CONFIG_CGROUP_DEVICE=y
CONFIG_STM_SOURCE_CONSOLE=y
CONFIG_REGULATOR_TPS65218=y
CONFIG_RPMSG_NS=y
CONFIG_SENSORS_IR35221=y
CONFIG_RT_GROUP_SCHED=y
CONFIG_SENSORS_TPS546D24=y
CONFIG_RTC_DRV_SD3078=y
CONFIG_XFS_RT=y
CONFIG_PINCTRL_STARFIVE_JH7110=y
CONFIG_MCB=y
CONFIG_ARCH_HAS_SYNC_CORE_BEFORE_USERMODE=y
CONFIG_SERIO_PARKBD=y
CONFIG_PREEMPTION=y
CONFIG_SENSORS_MAX6621=y
CONFIG_HAVE_ARCH_SECCOMP_FILTER=y
CONFIG_DYNAMIC_DEBUG_CORE=y
CONFIG_MFD_INTEL_M10_BMC_SPI=y
CONFIG_RTC_DRV_RK808=y
CONFIG_SPARSEMEM_VMEMMAP=y
CONFIG_CHARGER_MAX77976=y
CONFIG_RPMSG_CTRL=y
CONFIG_FB_CORE=y
CONFIG_MEMORY=y
CONFIG_NVME_HWMON=y
CONFIG_FIX_EARLYCON_MEM=y
CONFIG_EROFS_FS_BACKED_BY_FILE=y
CONFIG_SPI_MICROCHIP_CORE_QSPI=y
CONFIG_PINCTRL_MADERA=y
CONFIG_PCIE_CADENCE_HOST=y
CONFIG_NLS_MAC_ICELAND=y
CONFIG_FB_PM2=y
CONFIG_FSL_EDMA=y
CONFIG_COMEDI_ADL_PCI7X3X=y
CONFIG_DMA_SHARED_BUFFER=y
CONFIG_KGDB_TESTS=y
CONFIG_ARCH_HAS_FORTIFY_SOURCE=y
CONFIG_SENSORS_THMC50=y
CONFIG_POWER_RESET_SYSCON=y
CONFIG_ARCH_SUPPORTS_KEXEC_PURGATORY=y
CONFIG_COMEDI_AMPLC_DIO200_PCI=y
CONFIG_MFD_BQ257XX=y
CONFIG_SPI_SLAVE_SYSTEM_CONTROL=y
CONFIG_REGMAP_SPI_AVMM=y
CONFIG_ARCH_ANLOGIC=y
CONFIG_BATTERY_MAX1721X=y
CONFIG_CHARGER_BQ25980=y
CONFIG_NVME_HOST_AUTH=y
CONFIG_BINFMT_FLAT_OLD=y
CONFIG_POWER_RESET=y
CONFIG_UAPI_HEADER_TEST=y
CONFIG_REGULATOR_DA9121=y
CONFIG_FUSION=y
CONFIG_CRC4=y
CONFIG_CRYPTO_LIB_UTILS=y
CONFIG_UDMABUF=y
CONFIG_JBD2=y
CONFIG_COMMON_CLK_SI5351=y
CONFIG_RD_GZIP=y
CONFIG_SCHED_MC=y
CONFIG_I2C_RK3X=y
CONFIG_HOTPLUG_PARALLEL=y
CONFIG_REGULATOR_RN5T618=y
CONFIG_IO_URING=y
CONFIG_SENSORS_STTS751=y
CONFIG_PM_GENERIC_DOMAINS_OF=y
CONFIG_LTO_NONE=y
CONFIG_I2C_AT91_SLAVE_EXPERIMENTAL=y
CONFIG_CC_OPTIMIZE_FOR_SIZE=y
CONFIG_GPIO_ARIZONA=y
CONFIG_COMEDI_ADDI_APCI_1516=y
CONFIG_DEVTMPFS=y
CONFIG_LEDS_DAC124S085=y
CONFIG_MUSB_PIO_ONLY=y
CONFIG_ARCH_HAS_DEBUG_WX=y
CONFIG_SENSORS_SHT21=y
CONFIG_RUNTIME_TESTING_MENU=y
CONFIG_IRQ_POLL=y
CONFIG_GPIOLIB_LEGACY=y
CONFIG_USB_F_FS=y
CONFIG_NLS_ISO8859_2=y
CONFIG_HAVE_DEBUG_KMEMLEAK=y
CONFIG_MFD_QNAP_MCU=y
CONFIG_I2C_VIA=y
CONFIG_INPUT=y
CONFIG_I2C_AMD8111=y
CONFIG_LAN966X_OIC=y
CONFIG_DEBUG_KERNEL=y
CONFIG_SENSORS_LINEAGE=y
CONFIG_I2C_SIMTEC=y
CONFIG_ARCH_WANT_FRAME_POINTERS=y
CONFIG_SPI_SLAVE=y
CONFIG_COMEDI_DAQBOARD2000=y
CONFIG_INPUT_KEYBOARD=y
CONFIG_MFD_TPS6594=y
CONFIG_DECOMPRESS_LZ4=y
CONFIG_W1_SLAVE_DS2433_CRC=y
CONFIG_PCI_SW_SWITCHTEC=y
CONFIG_ARCH_SUPPORTS_PUD_PFNMAP=y
CONFIG_COMEDI_PCI_DRIVERS=y
CONFIG_CRYPTO_LIB_POLY1305=y
CONFIG_ERRATA_SIFIVE=y
CONFIG_TEST_XARRAY=y
CONFIG_INTEL_TH_DEBUG=y
CONFIG_NLS_UCS2_UTILS=y
CONFIG_GENERIC_PINCONF=y
CONFIG_USB4_DEBUGFS_WRITE=y
CONFIG_PM=y
CONFIG_SENSORS_TMP103=y
CONFIG_RTC_DRV_RX4581=y
CONFIG_DECOMPRESS_GZIP=y
CONFIG_USB_F_SS_LB=y
CONFIG_CRYPTO_GENIV=y
CONFIG_REGULATOR_AXP20X=y
CONFIG_KPROBES=y
CONFIG_DYNAMIC_DEBUG=y
CONFIG_MFD_ATC260X_I2C=y
CONFIG_NVME_KEYRING=y
CONFIG_SENSORS_TDA38640=y
CONFIG_TEST_UDELAY=y
CONFIG_XXHASH=y
CONFIG_NVME_MULTIPATH=y
CONFIG_FB_CFB_FILLRECT=y
CONFIG_KARMA_PARTITION=y
CONFIG_INTEL_TH_MSU=y
CONFIG_MTD_ABSENT=y
CONFIG_W1_SLAVE_DS2781=y
CONFIG_BCMA_DEBUG=y
CONFIG_SENSORS_ADM1031=y
CONFIG_ARM_MHU_V2=y
CONFIG_GOLDFISH=y
CONFIG_MFD_CPCAP=y
CONFIG_WATCHDOG_PRETIMEOUT_GOV_SEL=y
CONFIG_ARCH_HAS_STRICT_KERNEL_RWX=y
CONFIG_DMAPOOL_TEST=y
CONFIG_MFD_AS3722=y
CONFIG_NILFS2_FS=y
CONFIG_GENERIC_SYSCALL=y
CONFIG_NVMEM=y
CONFIG_HOTPLUG_CORE_SYNC=y
CONFIG_PINCTRL_TPS6594=y
CONFIG_COMEDI_NI_660X=y
CONFIG_RD_BZIP2=y
CONFIG_TMPFS_XATTR=y
CONFIG_LEDS_TRIGGER_MTD=y
CONFIG_CGROUPS=y
CONFIG_NLS_CODEPAGE_860=y
CONFIG_RELOCATABLE=y
CONFIG_MTD_RAM=y
CONFIG_REGULATOR_MP886X=y
CONFIG_CRYPTO_DH_RFC7919_GROUPS=y
CONFIG_CRYPTO_AEAD2=y
CONFIG_GENERIC_MSI_IRQ=y
CONFIG_NVMEM_QNAP_MCU_EEPROM=y
CONFIG_LEDS_RT8515=y
CONFIG_PHY_NXP_PTN3222=y
CONFIG_MTD_CFI_I1=y
CONFIG_PCIE_MICROCHIP_HOST=y
CONFIG_MOUSE_PS2_SYNAPTICS=y
CONFIG_HID_GENERIC=y
CONFIG_CLK_ULTRARISC=y
CONFIG_APERTURE_HELPERS=y
CONFIG_TEST_REF_TRACKER=y
CONFIG_LEDS_TCA6507=y
CONFIG_NLS_CODEPAGE_850=y
CONFIG_MS_BLOCK=y
CONFIG_HAVE_LD_DEAD_CODE_DATA_ELIMINATION=y
CONFIG_CRYPTO_XTS=y
CONFIG_CRYPTO_ZSTD=y
CONFIG_ARCH_WANTS_NO_INSTR=y
CONFIG_CRYPTO_LIB_AES_ECB=y
CONFIG_I2C_BOARDINFO=y
CONFIG_ARCH_HAS_SET_MEMORY=y
CONFIG_REGULATOR_TPS65086=y
CONFIG_ENCRYPTED_KEYS=y
CONFIG_CRYPTO_SKCIPHER2=y
CONFIG_CRYPTO_DH=y
CONFIG_ARCH_HAS_PMD_SOFTLEAVES=y
CONFIG_DEBUG_SECTION_MISMATCH=y
CONFIG_PCIE_ANDES_QILAI=y
CONFIG_STM=y
CONFIG_GENERIC_CLOCKEVENTS=y
CONFIG_REGULATOR_MAX8660=y
CONFIG_NVME_TARGET=y
CONFIG_DW_XDATA_PCIE=y
CONFIG_GPIO_TQMX86=y
CONFIG_KRETPROBE_ON_RETHOOK=y
CONFIG_PM_CLK=y
CONFIG_MEMREGION=y
CONFIG_DEBUG_PAGEALLOC=y
CONFIG_ASN1=y
CONFIG_CPUSETS=y
CONFIG_PAGE_EXTENSION=y
CONFIG_TEST_FREE_PAGES=y
CONFIG_CRYPTO_CHACHA20=y
CONFIG_RTC_DRV_ATCRTC100=y
CONFIG_QUOTA_DEBUG=y
CONFIG_ADFS_FS=y
CONFIG_NLS=y
CONFIG_MFD_CS47L92=y
CONFIG_SENSORS_INA238=y
CONFIG_USB_CHIPIDEA_TEGRA=y
CONFIG_CRYPTO_JITTERENTROPY=y
CONFIG_DEBUG_MUTEXES=y
CONFIG_REGULATOR_RTQ2134=y
CONFIG_SENSORS_ADT7462=y
CONFIG_MFD_LP8788=y
CONFIG_CRYPTO_ALGAPI=y
CONFIG_DEBUG_KMEMLEAK=y
CONFIG_RCU_CPU_STALL_CPUTIME=y
CONFIG_FB_RADEON=y
CONFIG_LEDS_CPCAP=y
CONFIG_CRYPTO_LZ4=y
CONFIG_COMEDI_ADL_PCI6208=y
CONFIG_CHARGER_MAX8971=y
CONFIG_REGULATOR_QCOM_SPMI=y
CONFIG_LEDS_AW2013=y
CONFIG_F2FS_FS=y
CONFIG_REGMAP_I3C=y
CONFIG_MOUSE_PS2_SMBUS=y
CONFIG_PCI_HOST_GENERIC=y
CONFIG_PHY_TUSB1210=y
CONFIG_W1_SLAVE_DS2431=y
CONFIG_I2C_ATR=y
CONFIG_VIRTIO=y
CONFIG_LEDS_TPS6105X=y
CONFIG_MTD_REDBOOT_PARTS_UNALLOCATED=y
CONFIG_BLOCK=y
CONFIG_LEDS_BD2606MVV=y
CONFIG_BUILDTIME_TABLE_SORT=y
CONFIG_SOFT_WATCHDOG=y
CONFIG_LEDS_LP5860_CORE=y
CONFIG_ARCH_USE_CMPXCHG_LOCKREF=y
CONFIG_STARFIVE_WATCHDOG=y
CONFIG_COMEDI_NI_ROUTING=y
CONFIG_REGULATOR_AS3722=y
CONFIG_MFD_SKY81452=y
CONFIG_REGULATOR_BD957XMUF=y
CONFIG_MMU_GATHER_TABLE_FREE=y
CONFIG_GOLDFISH_PIPE=y
CONFIG_GPIO_GENERIC_PLATFORM=y
CONFIG_LEDS_SPI_BYTE=y
CONFIG_GPIB_FMH=y
CONFIG_SENSORS_ADM1177=y
CONFIG_HAS_IOMEM=y
CONFIG_BCH_CONST_PARAMS=y
CONFIG_EXPERT=y
