CONFIG_QCOM_L3_PMU=n
CONFIG_XZ_DEC_POWERPC=n
CONFIG_HAVE_ARCH_GET_SECUREBOOT=n
CONFIG_MMU_GATHER_RCU_TABLE_FREE=n
CONFIG_SATA_AHCI_PLATFORM=n
CONFIG_CMA=n
CONFIG_RTC_DRV_PCF8563=n
CONFIG_BT_HCIUART_QCA=n
CONFIG_BCMA_POSSIBLE=n
CONFIG_LEDS_CLASS_FLASH=n
CONFIG_DRM_PANEL_SAMSUNG_ATNA33XC20=n
CONFIG_PHY_TEGRA194_P2U=n
CONFIG_APPLE_PMGR_PWRSTATE=n
CONFIG_GENERIC_IRQ_IPI_MUX=n
CONFIG_HAVE_PERF_USER_STACK_DUMP=n
CONFIG_VIDEO_MAX96712=n
CONFIG_CORESIGHT_LINK_AND_SINK_TMC=n
CONFIG_NET_CRC32C=n
CONFIG_CRYPTO_GCM=n
CONFIG_ARCH_SUPPORTS_SHADOW_CALL_STACK=n
CONFIG_PHY_ROCKCHIP_INNO_USB2=n
CONFIG_DMA_CMA=n
CONFIG_INTERCONNECT_QCOM_BCM_VOTER=n
CONFIG_NET_DSA_TAG_OCELOT_8021Q=n
CONFIG_ROCKCHIP_IODOMAIN=n
CONFIG_SDM_CAMCC_845=n
CONFIG_CRYPTO_HW=n
CONFIG_OF_ADDRESS=n
CONFIG_SND_SOC_QCOM_OFFLOAD_UTILS=n
CONFIG_NET_DSA_TAG_NONE=n
CONFIG_DECOMPRESS_LZMA=n
CONFIG_USB_GADGET=n
CONFIG_SOC_SAMSUNG=n
CONFIG_MAGIC_SYSRQ_SERIAL=n
CONFIG_HAVE_ARCH_AUDITSYSCALL=n
CONFIG_CRC_OPTIMIZATIONS=n
CONFIG_FSL_IMX8_DDR_PMU=n
CONFIG_MSM_GCC_8916=n
CONFIG_USB_NET_CDC_SUBSET_ENABLE=n
CONFIG_NET_RX_BUSY_POLL=n
CONFIG_CRYPTO_DEV_SUN8I_CE=n
CONFIG_ARCH_MHP_MEMMAP_ON_MEMORY_ENABLE=n
CONFIG_KEXEC_FILE=n
CONFIG_ARCH_MICROCHIP=n
CONFIG_ARCH_K3=n
CONFIG_IRQ_WORK=n
CONFIG_GPIO_VISCONTI=n
CONFIG_XILINX_SDFEC=n
CONFIG_RPMSG_NS=n
CONFIG_CRYPTO_ALGAPI=n
CONFIG_FANOTIFY_ACCESS_PERMISSIONS=n
CONFIG_SYS_R9A09G057=n
CONFIG_MDIO_BUS_MUX_BCM_IPROC=n
CONFIG_TI_ADS1015=n
CONFIG_XILINX_WATCHDOG=n
CONFIG_SERIAL_8250_OMAP_TTYO_FIXUP=n
CONFIG_ARCH_HAS_STRICT_MODULE_RWX=n
CONFIG_ARM_SMMU_V3_PMU=n
CONFIG_ARM_TIMER_SP804=n
CONFIG_MTK_LVTS_THERMAL=n
CONFIG_GENERIC_PINMUX_FUNCTIONS=n
CONFIG_GENERIC_ALLOCATOR=n
CONFIG_USB_CONFIGFS_SERIAL=n
CONFIG_COMMON_CLK_MT7981_ETHSYS=n
CONFIG_IWLWIFI_LEDS=n
CONFIG_MSM_MMCC_8996=n
CONFIG_IIO_ADC_HELPER=n
CONFIG_PWM_IMX27=n
CONFIG_INPUT_TPS6594_PWRBUTTON=n
CONFIG_COMMON_CLK_MT8196_PEXTPSYS=n
CONFIG_LEDS_PWM_MULTICOLOR=n
CONFIG_HWSPINLOCK_OMAP=n
CONFIG_USB_CDNS3_TI=n
CONFIG_SM_DISPCC_6350=n
CONFIG_I2C_BRCMSTB=n
CONFIG_PINCTRL_MTK_MOORE=n
CONFIG_INTERVAL_TREE=n
CONFIG_TCG_TIS=n
CONFIG_POLARFIRE_SOC_SYSCONS=n
CONFIG_CLK_X1E80100_CAMCC=n
CONFIG_MFD_HI6421_PMIC=n
CONFIG_EEPROM_93CX6=n
CONFIG_SND_SOC_QDSP6_PRM_LPASS_CLOCKS=n
CONFIG_IPV6=n
CONFIG_USB_SERIAL_WWAN=n
CONFIG_CLK_HAWI_GCC=n
CONFIG_MEMTEST=n
CONFIG_DWMAC_ROCKCHIP=n
CONFIG_UCS2_STRING=n
CONFIG_PHY_RZ_G3E_USB3=n
CONFIG_MEDIA_CAMERA_SUPPORT=n
CONFIG_ARCH_R9A08G045=n
CONFIG_CLK_R8A774E1=n
CONFIG_CRYPTO_LIB_AES_CBC=n
CONFIG_TEGRA_IVC=n
CONFIG_NUMA_MIGRATION=n
CONFIG_NETFILTER_XTABLES=n
CONFIG_FB_SYSMEM_HELPERS=n
CONFIG_IOMMU_API=n
CONFIG_INTERCONNECT_QCOM_RPMH=n
CONFIG_CRYPTO_HMAC=n
CONFIG_RESET_BRCMSTB=n
CONFIG_NVMEM_REBOOT_MODE=n
CONFIG_GOOGLE_COREBOOT_TABLE=n
CONFIG_MOUSE_PS2_SMBUS=n
CONFIG_ARM_SMC_WATCHDOG=n
CONFIG_HAVE_ARCH_KASAN=n
CONFIG_PINCTRL_PFC_R8A779H0=n
CONFIG_BITREVERSE=n
CONFIG_SM_GPUCC_6350=n
CONFIG_XEN_DOM0=n
CONFIG_IP_PNP_DHCP=n
CONFIG_PINCTRL_SM6350_LPASS_LPI=n
CONFIG_LEDS_TRIGGER_CPU=n
CONFIG_RD_LZO=n
CONFIG_LS_EXTIRQ=n
CONFIG_SND_SOC_SGTL5000=n
CONFIG_FSL_ENETC_CORE=n
CONFIG_COMMON_CLK=n
CONFIG_REGULATOR_RK808=n
CONFIG_NET_DSA_MSCC_FELIX=n
CONFIG_DW_APB_TIMER=n
CONFIG_RTC_DRV_MESON_VRTC=n
CONFIG_GPIO_TPS65219=n
CONFIG_DMA_SUN6I=n
CONFIG_ARCH_SUPPORTS_KEXEC_FILE=n
CONFIG_RESET_TI_SYSCON=n
CONFIG_EXPORTFS=n
CONFIG_SYS_HYPERVISOR=n
CONFIG_DECOMPRESS_BZIP2=n
CONFIG_CLK_R8A77970=n
CONFIG_USB_ULPI_VIEWPORT=n
CONFIG_ATA_SFF=n
CONFIG_SQUASHFS_DECOMP_SINGLE=n
CONFIG_SENSORS_INA2XX=n
CONFIG_SND_SOC_TS3A227E=n
CONFIG_USB_DWC3_HAPS=n
CONFIG_HOTPLUG_PCI_ACPI=n
CONFIG_FPGA_BRIDGE=n
CONFIG_ARCH_SUPPORTS_ATOMIC_RMW=n
CONFIG_BLK_DEV_NBD=n
CONFIG_TI_AM335X_ADC=n
CONFIG_PWM_BRCMSTB=n
CONFIG_SND_SOC_ES8328=n
CONFIG_SND_SOC_RZ=n
CONFIG_PHY_QCOM_QMP_PCIE=n
CONFIG_PNFS_FLEXFILE_LAYOUT=n
CONFIG_CRC32_ARCH=n
CONFIG_ACPI_CPPC_LIB=n
CONFIG_PHY_ROCKCHIP_USBDP=n
CONFIG_CROS_USBPD_NOTIFY=n
CONFIG_HAVE_ARCH_THREAD_STRUCT_WHITELIST=n
CONFIG_NETDEVICES=n
CONFIG_IOMMU_IO_PGTABLE_ARMV7S=n
CONFIG_SND_SOC_RK817=n
CONFIG_SPI_STM32_OSPI=n
CONFIG_PWM=n
CONFIG_SPI_IMX=n
CONFIG_SYSC_R8A774B1=n
CONFIG_PINCTRL_RTD1625=n
CONFIG_CRYPTO_KRB5=n
CONFIG_DRM_PANEL_NOVATEK_NT36672E=n
CONFIG_LD_CAN_USE_KEEP_IN_OVERLAY=n
CONFIG_PINCTRL_MCP23S08=n
CONFIG_HAVE_SCHED_AVG_IRQ=n
CONFIG_HID_GENERIC=n
CONFIG_AHCI_DWC=n
CONFIG_UCSI_PMIC_GLINK=n
CONFIG_SUNXI_CCU=n
CONFIG_GPIOLIB_IRQCHIP=n
CONFIG_MLX5_MPFS=n
CONFIG_SDM_GCC_660=n
CONFIG_MMC_SDHCI_IO_ACCESSORS=n
CONFIG_CLK_RENESAS_DIV6=n
CONFIG_SM_GPUCC_8450=n
CONFIG_QCOM_Q6V5_ADSP=n
CONFIG_HAVE_CLK=n
CONFIG_SND_SOC_SOF_IPC3=n
CONFIG_SERIAL_IMX_CONSOLE=n
CONFIG_SPRD_UMS512_CLK=n
CONFIG_SND_SOC_QDSP6_ASM=n
CONFIG_SUN6I_MSGBOX=n
CONFIG_RAID6_PQ_ARCH=n
CONFIG_NVMEM_RMEM=n
CONFIG_PINCTRL_STM32=n
CONFIG_ELFCORE=n
CONFIG_PHY_QCOM_EUSB2_REPEATER=n
CONFIG_DRM_DW_HDMI_AHB_AUDIO=n
CONFIG_PER_VMA_LOCK=n
CONFIG_COMMON_CLK_MT8195_MFGCFG=n
CONFIG_REGULATOR_MP8859=n
CONFIG_IIO_TRIGGERED_BUFFER=n
CONFIG_SND_SOC_WM8904=n
CONFIG_SL28CPLD_WATCHDOG=n
CONFIG_SCSI_HISI_SAS_PCI=n
CONFIG_DRM_CDNS_DSI=n
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_ARGS=n
CONFIG_BT_BCM=n
CONFIG_ROCKCHIP_THERMAL=n
CONFIG_COMMON_CLK_BD718XX=n
CONFIG_TRACE_IRQFLAGS_SUPPORT=n
CONFIG_I2C_MV64XXX=n
CONFIG_MTK_SOCINFO=n
CONFIG_HAVE_ARCH_VMAP_STACK=n
CONFIG_COMMON_CLK_MT8186_MCUSYS=n
CONFIG_ASSOCIATIVE_ARRAY=n
CONFIG_SYSC_R8A77965=n
CONFIG_CPU_LITTLE_ENDIAN=n
CONFIG_NVIDIA_OLYMPUS_1027_ERRATUM=n
CONFIG_COMMON_CLK_MT8196_MFGCFG=n
CONFIG_SCHED_HRTICK=n
CONFIG_PINCTRL_IPQ6018=n
CONFIG_CPU_IDLE_MULTIPLE_DRIVERS=n
CONFIG_MOUSE_ELAN_I2C=n
CONFIG_WLAN_VENDOR_PURELIFI=n
CONFIG_CC_IS_GCC=n
CONFIG_GENERIC_ARCH_TOPOLOGY=n
CONFIG_COMMON_CLK_VC5=n
CONFIG_PCIE_DW_EP=n
CONFIG_MDIO_XGENE=n
CONFIG_MMC_QCOM_DML=n
CONFIG_SPI_DW_MMIO=n
CONFIG_MEDIA_SUPPORT_FILTER=n
CONFIG_ARCH_SPARX5=n
CONFIG_PAGE_REPORTING=n
CONFIG_SM_GCC_8350=n
CONFIG_CC_HAVE_STACKPROTECTOR_SYSREG=n
CONFIG_NET_SCH_MQPRIO=n
CONFIG_ATA_BMDMA=n
CONFIG_DRM_PARADE_PS8640=n
CONFIG_PAGE_MAPCOUNT=n
CONFIG_PINCTRL_SUNXI=n
CONFIG_DEV_COREDUMP=n
CONFIG_HAS_DMA=n
CONFIG_NET_SELFTESTS=n
CONFIG_CLK_R9A08G045=n
CONFIG_COMMON_CLK_STM32MP=n
CONFIG_ARCH_SUPPORTS_LTO_CLANG=n
CONFIG_SENSORS_RASPBERRYPI_HWMON=n
CONFIG_COMMON_CLK_S4_PLL=n
CONFIG_NFC_NXP_NCI=n
CONFIG_SM_GPUCC_8650=n
CONFIG_SA_VIDEOCC_8775P=n
CONFIG_MTD_CFI_AMDSTD=n
CONFIG_DRM_PANEL_LVDS=n
CONFIG_PID_NS=n
CONFIG_MTD_RAW_NAND=n
CONFIG_PHY_MESON8B_USB2=n
CONFIG_MLX4_CORE=n
CONFIG_BLK_DEV_BSGLIB=n
CONFIG_BUFFER_HEAD=n
CONFIG_VIDEO=n
CONFIG_CRYPTO_MANAGER=n
CONFIG_IIO_CROS_EC_SENSORS_CORE=n
CONFIG_MVEBU_ICU=n
CONFIG_KEYBOARD_MTK_PMIC=n
CONFIG_SCHED_CLUSTER=n
CONFIG_SMSC_PHY=n
CONFIG_CRYPTO_DEV_HISI_SEC2=n
CONFIG_SND_MESON_AXG_SPDIFIN=n
CONFIG_RTC_DRV_RENESAS_RTCA3=n
CONFIG_DRM_GEM_DMA_HELPER=n
CONFIG_XEN_BLKDEV_FRONTEND=n
CONFIG_DRM_DISPLAY_CONNECTOR=n
CONFIG_TI_SCI_PM_DOMAINS=n
CONFIG_KVM_GENERIC_HARDWARE_ENABLING=n
CONFIG_64BIT=n
CONFIG_MDIO_BCM_UNIMAC=n
CONFIG_SND_SOC_IMX_AUDMUX=n
CONFIG_ARM_IMX_BUS_DEVFREQ=n
CONFIG_PHY_BCM_SR_PCIE=n
CONFIG_VIDEOBUF2_MEMOPS=n
CONFIG_XEN_PCI_STUB=n
CONFIG_DRM_DW_HDMI_QP_CEC=n
CONFIG_COMMON_CLK_MT8192_SCP_ADSP=n
CONFIG_LTO_NONE=n
CONFIG_IOSCHED_BFQ=n
CONFIG_COMMON_CLK_MT6795_MMSYS=n
CONFIG_MWIFIEX=n
CONFIG_CLK_IMX95_BLK_CTL=n
CONFIG_EDAC_ZYNQMP=n
CONFIG_RANDOMIZE_BASE=n
CONFIG_SCSI_UFS_BSG=n
CONFIG_PHY_MTK_TPHY=n
CONFIG_ARM_SCMI_PROTOCOL=n
CONFIG_PCIE_VISCONTI_HOST=n
CONFIG_CRYPTO_AES_ARM64_CE_BLK=n
CONFIG_SND_SOC_MAX98390=n
CONFIG_PHYS_ADDR_T_64BIT=n
CONFIG_DRM_PANEL_EDP=n
CONFIG_CLK_R8A77980=n
CONFIG_MFD_CORE=n
CONFIG_USB_CHIPIDEA_HOST=n
CONFIG_TASK_IO_ACCOUNTING=n
CONFIG_COMMON_CLK_MT8183=n
CONFIG_USB_CHIPIDEA_NPCM=n
CONFIG_CLK_IMX8MN=n
CONFIG_TRANSPARENT_HUGEPAGE_ALWAYS=n
CONFIG_WLAN_VENDOR_INTERSIL=n
CONFIG_GPIO_SHARED=n
