CONFIG_HZ_1000=n
CONFIG_IA32_FEAT_CTL=n
CONFIG_EFI_HANDOVER_PROTOCOL=n
CONFIG_X86_VMX_FEATURE_NAMES=n
CONFIG_NETLABEL=n
CONFIG_IO_DELAY_0X80=n
CONFIG_OID_REGISTRY=n
CONFIG_HAVE_DEBUG_KMEMLEAK=n
CONFIG_DRM_PANEL=n
CONFIG_ARCH_WANT_GENERAL_HUGETLB=n
CONFIG_NET_VENDOR_SIS=n
CONFIG_VMAP_PFN=n
CONFIG_CC_HAS_ASM_INLINE=n
CONFIG_NETFS_SUPPORT=n
CONFIG_ARCH_HAS_FORTIFY_SOURCE=n
CONFIG_MODULE_FORCE_UNLOAD=n
CONFIG_RFKILL=n
CONFIG_BLK_DEV_BSG_COMMON=n
CONFIG_ZISOFS=n
CONFIG_NET_VENDOR_ADAPTEC=n
CONFIG_XXHASH=n
CONFIG_ARCH_WANT_FRAME_POINTERS=n
CONFIG_PM_SLEEP_DEBUG=n
CONFIG_VIRTIO_NET=n
CONFIG_X86_DISABLED_FEATURE_SGX=n
CONFIG_NETDEVICES=n
CONFIG_PCCARD=n
CONFIG_PNPACPI=n
CONFIG_IP_PNP_RARP=n
CONFIG_LZO_COMPRESS=n
CONFIG_HVC_DRIVER=n
CONFIG_NET_VENDOR_DAVICOM=n
CONFIG_X86_LOCAL_APIC=n
CONFIG_HYPERVISOR_GUEST=n
CONFIG_EXT4_FS_SECURITY=n
CONFIG_SERIAL_8250_PNP=n
CONFIG_WLAN_VENDOR_ZYDAS=n
CONFIG_HAVE_OPTPROBES=n
CONFIG_RTC_MC146818_LIB=n
CONFIG_NET_VENDOR_INTEL=n
CONFIG_TASKS_RCU=n
CONFIG_USB_HID=n
CONFIG_MITIGATION_SPECTRE_V2=n
CONFIG_CGROUP_NET_CLASSID=n
CONFIG_USB_STORAGE=n
CONFIG_HAVE_UID16=n
CONFIG_SERIAL_8250_CONSOLE=n
CONFIG_WLAN_VENDOR_REALTEK=n
CONFIG_CRC32_ARCH=n
CONFIG_ARCH_HAS_SYSCALL_WRAPPER=n
CONFIG_IPC_NS=n
CONFIG_NET_VENDOR_8390=n
CONFIG_GENERIC_CALIBRATE_DELAY=n
CONFIG_ARCH_HAS_UBSAN=n
CONFIG_DRM_I915_USERPTR=n
CONFIG_ARCH_WANTS_DYNAMIC_TASK_STRUCT=n
CONFIG_CRYPTO_LZ4=n
CONFIG_INPUT_SPARSEKMAP=n
CONFIG_MODULES_USE_ELF_REL=n
CONFIG_CC_HAS_SLS=n
CONFIG_XZ_DEC_ARMTHUMB=n
CONFIG_ARCH_USE_QUEUED_SPINLOCKS=n
CONFIG_HAVE_CMPXCHG_DOUBLE=n
CONFIG_NF_DEFRAG_IPV6=n
CONFIG_WERROR=n
CONFIG_SURFACE_PLATFORMS=n
CONFIG_CPU_SUP_AMD=n
CONFIG_X86_MPPARSE=n
CONFIG_PRINTK=n
CONFIG_X86_DEBUGCTLMSR=n
CONFIG_CRYPTO_ECB=n
CONFIG_MAC80211_HAS_RC=n
CONFIG_IP_PNP_DHCP=n
CONFIG_MITIGATION_L1TF=n
CONFIG_SERIO=n
CONFIG_NET_RX_BUSY_POLL=n
CONFIG_NLS_UTF8=n
CONFIG_SPLIT_PTE_PTLOCKS=n
CONFIG_CONNECTOR=n
CONFIG_CPU_IDLE_GOV_HALTPOLL=n
CONFIG_DEBUG_FS_ALLOW_ALL=n
CONFIG_SWAP=n
CONFIG_WMI_BMOF=n
CONFIG_COMPAT_32BIT_TIME=n
CONFIG_HAVE_KERNEL_LZ4=n
CONFIG_ARCH_SUPPORTS_KEXEC_SIG_FORCE=n
CONFIG_NET_SCHED=n
CONFIG_X86_IO_APIC=n
CONFIG_NETCONSOLE=n
CONFIG_POSIX_TIMERS=n
CONFIG_TIME_NS_VDSO=n
CONFIG_SLUB=n
CONFIG_DNS_RESOLVER=n
CONFIG_EXPORTFS=n
CONFIG_NET_VENDOR_HUAWEI=n
CONFIG_RTC_NVMEM=n
CONFIG_SND_JACK=n
CONFIG_CRYPTO_LIB_AES=n
CONFIG_SPARSEMEM_STATIC=n
CONFIG_NET_VENDOR_DLINK=n
CONFIG_TASK_IO_ACCOUNTING=n
CONFIG_COREDUMP=n
CONFIG_EFI_CAPSULE_LOADER=n
CONFIG_CPU_SUP_HYGON=n
CONFIG_CRYPTO_SIG2=n
CONFIG_NF_LOG_ARP=n
CONFIG_PCIEASPM_DEFAULT=n
CONFIG_HAVE_EXIT_THREAD=n
CONFIG_THERMAL_HWMON=n
CONFIG_NFS_V4_0=n
CONFIG_NET_VENDOR_CAVIUM=n
CONFIG_PCIE_PME=n
CONFIG_XFRM_USER=n
CONFIG_HSU_DMA=n
CONFIG_NFS_ACL_SUPPORT=n
CONFIG_NET_VENDOR_SILAN=n
CONFIG_ACPI_VIDEO=n
CONFIG_NET_VENDOR_MELLANOX=n
CONFIG_CRYPTO_CCM=n
CONFIG_NEW_LEDS=n
CONFIG_EFI_STUB=n
CONFIG_MMU=n
CONFIG_I2C_BOARDINFO=n
CONFIG_BLK_DEV=n
CONFIG_BQL=n
CONFIG_SCSI_LOWLEVEL=n
CONFIG_TCP_CONG_CUBIC=n
CONFIG_ARCH_HAS_DEBUG_VIRTUAL=n
CONFIG_MOUSE_PS2_ALPS=n
CONFIG_JOLIET=n
CONFIG_HAVE_SOFTIRQ_ON_OWN_STACK=n
CONFIG_CDROM=n
CONFIG_NETFILTER_XT_MATCH_ADDRTYPE=n
CONFIG_ARCH_SUPPORTS_UPROBES=n
CONFIG_X86_DISABLED_FEATURE_PCID=n
CONFIG_HAVE_ARCH_AUDITSYSCALL=n
CONFIG_GENERIC_STRNCPY_FROM_USER=n
CONFIG_CHECK_SIGNATURE=n
CONFIG_UNIX=n
CONFIG_DMI_SCAN_MACHINE_NON_EFI_FALLBACK=n
CONFIG_TASK_XACCT=n
CONFIG_SYN_COOKIES=n
CONFIG_NET_VENDOR_WIZNET=n
CONFIG_X86_MCE_AMD=n
CONFIG_CRYPTO_ACOMP2=n
CONFIG_HAVE_ARCH_JUMP_LABEL_RELATIVE=n
CONFIG_NETFILTER_NETLINK=n
CONFIG_NVRAM=n
CONFIG_MSDOS_PARTITION=n
CONFIG_SND_SEQ_DUMMY=n
CONFIG_VIRTIO_BLK=n
CONFIG_HAVE_SYSCALL_TRACEPOINTS=n
CONFIG_X86_PLATFORM_DEVICES=n
CONFIG_DM_MIRROR=n
CONFIG_EXT4_FS=n
CONFIG_HAVE_POSIX_CPU_TIMERS_TASK_WORK=n
CONFIG_X86_REQUIRED_FEATURE_ALWAYS=n
CONFIG_ARCH_HAS_CACHE_LINE_SIZE=n
CONFIG_INET=n
CONFIG_INTEGRITY=n
CONFIG_AUDITSYSCALL=n
CONFIG_CRC_CCITT=n
CONFIG_NET_EGRESS=n
CONFIG_X86_DISABLED_FEATURE_PKU=n
CONFIG_QFMT_V2=n
CONFIG_RD_ZSTD=n
CONFIG_CPU_SUP_CENTAUR=n
CONFIG_DRM_BUDDY=n
CONFIG_HOTPLUG_SPLIT_STARTUP=n
CONFIG_HAVE_ASM_MODVERSIONS=n
CONFIG_YENTA_RICOH=n
CONFIG_VIRTIO_PCI=n
CONFIG_AS_HAS_NON_CONST_ULEB128=n
CONFIG_DRM_BRIDGE=n
CONFIG_I8253_LOCK=n
CONFIG_SYSCALL_USER_DISPATCH=n
CONFIG_CFG80211_CRDA_SUPPORT=n
CONFIG_VIDEO=n
CONFIG_USB_OHCI_LITTLE_ENDIAN=n
CONFIG_MSDOS_FS=n
CONFIG_USB_COMMON=n
CONFIG_DEBUG_STACK_USAGE=n
CONFIG_XZ_DEC_POWERPC=n
CONFIG_CPU_SUP_TRANSMETA_32=n
CONFIG_EXT4_USE_FOR_EXT2=n
CONFIG_PM_TRACE=n
CONFIG_HAVE_KERNEL_LZMA=n
CONFIG_ARCH_MHP_MEMMAP_ON_MEMORY_ENABLE=n
CONFIG_HAVE_NMI=n
CONFIG_HAVE_ARCH_TRACEHOOK=n
CONFIG_SND_PCM_TIMER=n
CONFIG_SND_HDA_HWDEP=n
CONFIG_HOTPLUG_CORE_SYNC_FULL=n
CONFIG_CRYPTO_LIB_AES_CBC=n
CONFIG_VM_EVENT_COUNTERS=n
CONFIG_X86_SUPPORTS_MEMORY_FAILURE=n
CONFIG_EARLY_PRINTK_USB=n
CONFIG_BRANCH_PROFILE_NONE=n
CONFIG_PHY_PACKAGE=n
CONFIG_STACKTRACE_SUPPORT=n
CONFIG_X86_DISABLED_FEATURE_LAM=n
CONFIG_ELFCORE=n
CONFIG_NETFILTER_XT_MARK=n
CONFIG_HAS_IOPORT=n
CONFIG_PCI_BIOS=n
CONFIG_DCACHE_WORD_ACCESS=n
CONFIG_CARDBUS=n
CONFIG_NFS_USE_KERNEL_DNS=n
CONFIG_SCHED_CLUSTER=n
CONFIG_FONT_SUPPORT=n
CONFIG_PACKET=n
CONFIG_HAVE_MMIOTRACE_SUPPORT=n
CONFIG_NF_LOG_IPV4=n
CONFIG_SUNRPC=n
CONFIG_FW_LOADER=n
CONFIG_SERIAL_8250_EXTENDED=n
CONFIG_CRYPTO_SKCIPHER=n
CONFIG_DEVPORT=n
CONFIG_BCMA_POSSIBLE=n
CONFIG_HAVE_C_RECORDMCOUNT=n
CONFIG_WLAN_VENDOR_RALINK=n
CONFIG_IOSF_MBI=n
CONFIG_PADATA=n
CONFIG_HOTPLUG_PCI=n
CONFIG_WLAN_VENDOR_RSI=n
CONFIG_ARCH_HAS_PTE_SPECIAL=n
CONFIG_PCCARD_NONSTATIC=n
CONFIG_X86_32=n
CONFIG_KCMP=n
CONFIG_X86_EXTENDED_PLATFORM=n
CONFIG_HID_SAMSUNG=n
CONFIG_WLAN_VENDOR_MARVELL=n
CONFIG_IO_URING_ZCRX=n
CONFIG_PROC_PAGE_MONITOR=n
CONFIG_NF_CONNTRACK_SIP=n
CONFIG_PERF_EVENTS_INTEL_CSTATE=n
CONFIG_INTEL_GTT=n
CONFIG_CC_HAS_NAMED_AS=n
CONFIG_HAVE_FUNCTION_ARG_ACCESS_API=n
CONFIG_HDMI=n
CONFIG_UNWINDER_FRAME_POINTER=n
CONFIG_SND_USB=n
CONFIG_XARRAY_MULTI=n
CONFIG_SLAB_MERGE_DEFAULT=n
CONFIG_NET_VENDOR_SUN=n
CONFIG_RPCSEC_GSS_KRB5=n
CONFIG_MEMBARRIER=n
CONFIG_NF_CONNTRACK_SECMARK=n
CONFIG_GENERIC_PENDING_IRQ=n
CONFIG_OLD_SIGSUSPEND3=n
CONFIG_ARCH_HAS_PREEMPT_LAZY=n
CONFIG_SCSI_MOD=n
CONFIG_CPU_FREQ_GOV_ATTR_SET=n
CONFIG_USB_EHCI_PCI=n
CONFIG_PROC_FS=n
CONFIG_QUOTA_TREE=n
CONFIG_CRYPTO_SIG=n
CONFIG_RING_BUFFER=n
CONFIG_ARCH_HAS_NMI_SAFE_THIS_CPU_OPS=n
CONFIG_DEVMEM=n
CONFIG_AUTOFS_FS=n
CONFIG_SECURITY_SELINUX=n
CONFIG_X86_INTEL_TSX_MODE_AUTO=n
CONFIG_CRYPTO_KRB5ENC=n
CONFIG_PROFILING=n
CONFIG_X86_MCE_INTEL=n
CONFIG_HAVE_GCC_PLUGINS=n
CONFIG_NET_VENDOR_RDC=n
CONFIG_FAIR_GROUP_SCHED=n
CONFIG_USB=n
CONFIG_MODIFY_LDT_SYSCALL=n
CONFIG_VHOST_MENU=n
CONFIG_CGROUP_MISC=n
CONFIG_TIGON3_HWMON=n
CONFIG_NET_VENDOR_WANGXUN=n
CONFIG_VGA_CONSOLE=n
CONFIG_DECOMPRESS_ZSTD=n
CONFIG_ARCH_USES_PG_ARCH_2=n
CONFIG_CRYPTO_AKCIPHER2=n
CONFIG_SYSTEM_DATA_VERIFICATION=n
CONFIG_HAVE_KERNEL_LZO=n
CONFIG_ARCH_SPARSEMEM_ENABLE=n
CONFIG_CRYPTO_CMAC=n
CONFIG_CC_HAS_RETURN_THUNK=n
CONFIG_DECOMPRESS_LZO=n
CONFIG_USB_HIDDEV=n
CONFIG_MAGIC_SYSRQ_SERIAL=n
CONFIG_CPU_SUP_VORTEX_32=n
CONFIG_MAC80211_RC_DEFAULT_MINSTREL=n
CONFIG_ACPI_SLEEP=n
CONFIG_VFAT_FS=n
CONFIG_UNINLINE_SPIN_UNLOCK=n
CONFIG_RTC_DRV_CMOS=n
CONFIG_NET_VENDOR_HISILICON=n
CONFIG_INET6_AH=n
CONFIG_MITIGATION_RFDS=n
CONFIG_X86_PKG_TEMP_THERMAL=n
CONFIG_HAVE_FUTEX_ROBUST_UNLOCK=n
CONFIG_X86_INTEL_PSTATE=n
CONFIG_REGMAP=n
