CONFIG_NET_VENDOR_MICROSEMI=n
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE=n
CONFIG_NET_VENDOR_OKI=n
CONFIG_DWMAC_SUN8I=n
CONFIG_BLK_DEV_THROTTLING=n
CONFIG_DRM_TTM=n
CONFIG_FS_POSIX_ACL=n
CONFIG_NET_VENDOR_HUAWEI=n
CONFIG_FB_CFB_COPYAREA=n
CONFIG_CAN_DEV=n
CONFIG_SBITMAP=n
CONFIG_IP_PNP_RARP=n
CONFIG_CRYPTO_AEAD2=n
CONFIG_EPOLL=n
CONFIG_USB_CONFIGFS_F_FS=n
CONFIG_HAVE_KVM_IRQ_ROUTING=n
CONFIG_IP_VS_PROTO_UDP=n
CONFIG_PT_RECLAIM=n
CONFIG_NET_IP_TUNNEL=n
CONFIG_HAVE_PREEMPT_DYNAMIC_KEY=n
CONFIG_TOOLCHAIN_HAS_ZBB=n
CONFIG_MOUSE_PS2_SYNAPTICS_SMBUS=n
CONFIG_STACKTRACE_SUPPORT=n
CONFIG_AUXILIARY_BUS=n
CONFIG_RUSTC_SUPPORTS_RISCV=n
CONFIG_NETFILTER_EGRESS=n
CONFIG_BUILDTIME_TABLE_SORT=n
CONFIG_RESET_SPACEMIT_K1=n
CONFIG_USB_CDNS3_HOST=n
CONFIG_TREE_RCU=n
CONFIG_SYSVIPC_SYSCTL=n
CONFIG_RD_ZSTD=n
CONFIG_TIME_NS=n
CONFIG_SPACEMIT_K3_CCU=n
CONFIG_SHMEM=n
CONFIG_NET_VENDOR_EZCHIP=n
CONFIG_INET_TUNNEL=n
CONFIG_VIDEO_CADENCE_CSI2RX=n
CONFIG_HAVE_VIRT_CPU_ACCOUNTING_GEN=n
CONFIG_HAS_DMA=n
CONFIG_CRYPTO_CAMELLIA=n
CONFIG_NET_VENDOR_NVIDIA=n
CONFIG_NET_VENDOR_SIS=n
CONFIG_RISCV_ISA_XTHEADVECTOR=n
CONFIG_BLK_DEV_PMEM=n
CONFIG_MEMTEST=n
CONFIG_DMA_ENGINE=n
CONFIG_RESET_TENSTORRENT_ATLANTIS=n
CONFIG_GENERIC_MSI_IRQ=n
CONFIG_HAVE_GCC_PLUGINS=n
CONFIG_GENERIC_IDLE_POLL_SETUP=n
CONFIG_ACPI_MDIO=n
CONFIG_RISCV_ISA_C=n
CONFIG_ERRATA_THEAD_MAE=n
CONFIG_ACPI_RIMT=n
CONFIG_MFD_CORE=n
CONFIG_TIMERFD=n
CONFIG_DRM_DISPLAY_DP_HELPER=n
CONFIG_HAVE_CONTEXT_TRACKING_USER=n
CONFIG_PREEMPTION=n
CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE=n
CONFIG_SPARSEMEM_VMEMMAP=n
CONFIG_NET_VENDOR_STMICRO=n
CONFIG_CLK_ULTRARISC=n
CONFIG_RISCV_ISA_VENDOR_EXT_ANDES=n
CONFIG_SERIAL_8250_DWLIB=n
CONFIG_DRM_SUN6I_DSI=n
CONFIG_CLK_STARFIVE_JH7110_SYS=n
CONFIG_ARCH_HAS_PTE_PROTNONE=n
CONFIG_ARCH_SUPPORTS_ATOMIC_RMW=n
CONFIG_PROC_MEM_FORCE_PTRACE=n
CONFIG_AUDIT_GENERIC=n
CONFIG_NET_VENDOR_NI=n
CONFIG_BLK_DEV_INITRD=n
CONFIG_PCIE_DW=n
CONFIG_WLAN_VENDOR_MEDIATEK=n
CONFIG_MTD_SPI_NOR_USE_4K_SECTORS=n
CONFIG_HOTPLUG_PARALLEL=n
CONFIG_PCIEASPM_DEFAULT=n
CONFIG_ARCH_SUNXI=n
CONFIG_ARCH_SUPPORTS_CFI=n
CONFIG_ACPI_I2C_OPREGION=n
CONFIG_INET_DIAG=n
CONFIG_USER_STACKTRACE_SUPPORT=n
CONFIG_ARCH_SUPPORTS_RT=n
CONFIG_CGROUP_FREEZER=n
CONFIG_PINCTRL_ULTRARISC_DP1000=n
CONFIG_USB_CONFIGFS_OBEX=n
CONFIG_CRC_ITU_T=n
CONFIG_NET_VENDOR_ARC=n
CONFIG_ARCH_HAS_DEBUG_VIRTUAL=n
CONFIG_WLAN_VENDOR_PURELIFI=n
CONFIG_DEBUG_MISC=n
CONFIG_USB_F_NCM=n
CONFIG_MULTIUSER=n
CONFIG_UNIX=n
CONFIG_USB_OHCI_LITTLE_ENDIAN=n
CONFIG_MEMCG=n
CONFIG_POWER_RESET_SYSCON_POWEROFF=n
CONFIG_ARCH_SUPPORTS_HUGETLBFS=n
CONFIG_ACPI_REDUCED_HARDWARE_ONLY=n
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO=n
CONFIG_IP_MULTICAST=n
CONFIG_SPI=n
CONFIG_NF_LOG_ARP=n
CONFIG_USB_PCI=n
CONFIG_REGULATOR_FIXED_VOLTAGE=n
CONFIG_REGMAP_I2C=n
CONFIG_POWER_SUPPLY_HWMON=n
CONFIG_GLOB=n
CONFIG_NETFS_SUPPORT=n
CONFIG_HUGETLB_PAGE_OPTIMIZE_VMEMMAP=n
CONFIG_TASKS_RCU_GENERIC=n
CONFIG_GENERIC_CALIBRATE_DELAY=n
CONFIG_NLATTR=n
CONFIG_DRM_BRIDGE=n
CONFIG_ARCH_HAS_KCOV=n
CONFIG_REALTEK_PHY=n
CONFIG_POSIX_MQUEUE_SYSCTL=n
CONFIG_SYNC_FILE=n
CONFIG_EVENTFD=n
CONFIG_DECOMPRESS_XZ=n
CONFIG_VIDEO=n
CONFIG_SCHED_CACHE=n
CONFIG_ARCH_SUPPORTS_KEXEC=n
CONFIG_NET_VENDOR_ALACRITECH=n
CONFIG_RTC_INTF_DEV=n
CONFIG_HAS_IOPORT_MAP=n
CONFIG_PHYLINK=n
CONFIG_VFAT_FS=n
CONFIG_RISCV_ISA_VENDOR_EXT=n
CONFIG_MMP_PDMA=n
CONFIG_NET_VENDOR_SYNOPSYS=n
CONFIG_BINFMT_ELF=n
CONFIG_COMPACTION=n
CONFIG_BTRFS_FS_POSIX_ACL=n
CONFIG_ZONE_DMA32=n
CONFIG_SND_USB=n
CONFIG_NO_HZ_IDLE=n
CONFIG_NET_VENDOR_8390=n
CONFIG_ARCH_HAS_CURRENT_STACK_POINTER=n
CONFIG_NET_VENDOR_CAVIUM=n
CONFIG_DRM_NOUVEAU=n
CONFIG_RISCV_ISA_V=n
CONFIG_RESET_SUNXI=n
CONFIG_SUN8I_DE2_CCU=n
CONFIG_REGULATOR_GPIO=n
CONFIG_LOCKD_V4=n
CONFIG_HAVE_RETHOOK=n
CONFIG_OF_IRQ=n
CONFIG_CPU_FREQ_STAT=n
CONFIG_IOMMU_PT_RISCV64=n
CONFIG_ARCH_HAS_FAST_MULTIPLIER=n
CONFIG_TRACING_SUPPORT=n
CONFIG_USB_CONFIGFS_MASS_STORAGE=n
CONFIG_HOTPLUG_CORE_SYNC_DEAD=n
CONFIG_EDAC_SUPPORT=n
CONFIG_NET_CRC32C=n
CONFIG_SYSVIPC_COMPAT=n
CONFIG_DST_CACHE=n
CONFIG_HAVE_KRETPROBES=n
CONFIG_VIRTIO_PCI_LIB=n
CONFIG_SERIAL_MCTRL_GPIO=n
CONFIG_JUMP_LABEL=n
CONFIG_WLAN_VENDOR_RSI=n
CONFIG_EXTCON=n
CONFIG_REGULATOR=n
CONFIG_MEMBARRIER=n
CONFIG_DWMAC_SUNXI=n
CONFIG_ARCH_STARFIVE=n
CONFIG_MTD_CFI_I1=n
CONFIG_GENERIC_IRQ_MIGRATION=n
CONFIG_SWAP=n
CONFIG_ARCH_WANT_LD_ORPHAN_WARN=n
CONFIG_SECURITY_APPARMOR_INTROSPECT_POLICY=n
CONFIG_CPU_FREQ_GOV_COMMON=n
CONFIG_CRYPTO_CMAC=n
CONFIG_JH71XX_PMU=n
CONFIG_POWER_RESET_GPIO_RESTART=n
CONFIG_DAX=n
CONFIG_HAVE_ARCH_HUGE_VMALLOC=n
CONFIG_HAVE_IOREMAP_PROT=n
CONFIG_NET_VENDOR_ATHEROS=n
CONFIG_ARCH_FLATMEM_ENABLE=n
CONFIG_CPU_FREQ_GOV_PERFORMANCE=n
CONFIG_BLK_DEV_DM_BUILTIN=n
CONFIG_MTD_SPI_NOR=n
CONFIG_NFS_V4_2_SSC_HELPER=n
CONFIG_GENERIC_BITREVERSE=n
CONFIG_VHOST_ENABLE_FORK_OWNER_CONTROL=n
CONFIG_EFI=n
CONFIG_BLK_DEV_NVME=n
CONFIG_NO_HZ_COMMON=n
CONFIG_DM_THIN_PROVISIONING=n
CONFIG_FB_SYSMEM_HELPERS=n
CONFIG_STMMAC_PLATFORM=n
CONFIG_ARCH_ESWIN=n
CONFIG_HAVE_ARCH_JUMP_LABEL_RELATIVE=n
CONFIG_EFI_ESRT=n
CONFIG_OF_KOBJ=n
CONFIG_SPI_SPACEMIT_K1=n
CONFIG_CRYPTO_LIB_AES_CTR=n
CONFIG_OVERLAY_FS_REDIRECT_ALWAYS_FOLLOW=n
CONFIG_XARRAY_MULTI=n
CONFIG_ARCH_SUPPORTS_PAGE_TABLE_CHECK=n
CONFIG_ARCH_USE_QUEUED_RWLOCKS=n
CONFIG_HAVE_KERNEL_GZIP=n
CONFIG_DRM_CLIENT_SELECTION=n
CONFIG_MOUSE_PS2_SYNAPTICS=n
CONFIG_NET_VENDOR_ROCKER=n
CONFIG_RISCV_DMA_NONCOHERENT=n
CONFIG_DRM_PANEL_ORIENTATION_QUIRKS=n
CONFIG_NET_VENDOR_PENSANDO=n
CONFIG_GPIO_PCA953X=n
CONFIG_MQ_IOSCHED_KYBER=n
CONFIG_MEDIA_CONTROLLER=n
CONFIG_FONT_SUPPORT=n
CONFIG_PWRSEQ_SIMPLE=n
CONFIG_HAVE_IRQ_EXIT_ON_IRQ_STACK=n
CONFIG_DRM_CLIENT=n
CONFIG_ASSOCIATIVE_ARRAY=n
CONFIG_PHY_SUN6I_MIPI_DPHY=n
CONFIG_CRC32=n
CONFIG_HAVE_ARCH_MMAP_RND_COMPAT_BITS=n
CONFIG_PCIE_FU740=n
CONFIG_ARCH_DMA_DEFAULT_COHERENT=n
CONFIG_ARCH_HAS_PMEM_API=n
CONFIG_POWER_RESET_SPACEMIT_P1=n
CONFIG_CC_HAS_KASAN_GENERIC=n
CONFIG_GENERIC_HWEIGHT=n
CONFIG_USB_F_FS=n
CONFIG_STRICT_MODULE_RWX=n
CONFIG_USB_EHCI_PCI=n
CONFIG_PADATA=n
CONFIG_MOUSE_PS2_BYD=n
CONFIG_POLARFIRE_SOC_IRQ_MUX=n
CONFIG_ARCH_HAS_ACPI_TABLE_UPGRADE=n
CONFIG_SND_SOC_JH7110_PWMDAC=n
CONFIG_CPU_FREQ_GOV_ATTR_SET=n
CONFIG_COMMON_CLK_ESWIN=n
CONFIG_MTD_CFI_I2=n
CONFIG_NET_VENDOR_INTEL=n
CONFIG_SPI_MEM=n
CONFIG_KVFREE_RCU_BATCHED=n
CONFIG_ARCH_MICROCHIP_POLARFIRE=n
CONFIG_ELF_CORE=n
CONFIG_SERIO=n
CONFIG_HOTPLUG_CPU=n
CONFIG_ARCH_CC_CAN_LINK=n
CONFIG_TIME_NS_VDSO=n
CONFIG_BRIDGE_IGMP_SNOOPING=n
CONFIG_UCS2_STRING=n
CONFIG_MTD=n
CONFIG_STMMAC_ETH=n
CONFIG_MICROSEMI_PHY=n
CONFIG_MFD_AXP20X_I2C=n
CONFIG_GENERIC_BUG=n
CONFIG_PINCTRL_SUNXI=n
CONFIG_CGROUP_SCHED=n
CONFIG_PRINTK=n
CONFIG_VDSO_GETRANDOM=n
CONFIG_DMIID=n
CONFIG_WLAN_VENDOR_MORSEMICRO=n
CONFIG_HAVE_FTRACE_GRAPH_FUNC=n
CONFIG_HID_SUPPORT=n
CONFIG_WLAN_VENDOR_REALTEK=n
CONFIG_RANDSTRUCT_NONE=n
CONFIG_STANDALONE=n
CONFIG_COMMON_CLK_EIC7700=n
CONFIG_ERRATA_THEAD=n
CONFIG_CAN_NETLINK=n
CONFIG_HAS_SECURITY_AUDIT=n
CONFIG_SPACEMIT_K1_CCU=n
CONFIG_FB=n
CONFIG_MISC_FILESYSTEMS=n
CONFIG_SPI_CADENCE_QUADSPI=n
CONFIG_TOOLCHAIN_HAS_V=n
CONFIG_PCI_MSI=n
CONFIG_COMMON_CLK_RPMI=n
CONFIG_CRYPTO_SHA256=n
CONFIG_EXT4_USE_FOR_EXT2=n
CONFIG_SIGNALFD=n
CONFIG_CLK_STARFIVE_JH7110_ISP=n
CONFIG_ARCH_ANDES=n
CONFIG_WLAN_VENDOR_ATMEL=n
CONFIG_GENERIC_ALLOCATOR=n
CONFIG_FRAMEBUFFER_CONSOLE=n
CONFIG_GPIOLIB_IRQCHIP=n
CONFIG_RISCV_ISA_SVNAPOT=n
CONFIG_USB_U_ETHER=n
CONFIG_USB_XHCI_PLATFORM=n
CONFIG_CRYPTO_GCM=n
CONFIG_SYSVIPC=n
CONFIG_GENERIC_CLOCKEVENTS=n
CONFIG_PINCTRL_SOPHGO_SG2002=n
CONFIG_DNS_RESOLVER=n
CONFIG_POSIX_TIMERS=n
CONFIG_GCC_NO_STRINGOP_OVERFLOW=n
CONFIG_CRYPTO_LIB_SHA512=n
CONFIG_ERRATA_THEAD_GHOSTWRITE=n
