CONFIG_BLK_INLINE_ENCRYPTION_FALLBACK=y
CONFIG_ARCH_HAS_PTE_SPECIAL=y
CONFIG_USB_STORAGE_ALAUDA=y
CONFIG_TI_TMAG5273=y
CONFIG_CRYPTO_CAMELLIA_AESNI_AVX_X86_64=y
CONFIG_SENSORS_LM25066=y
CONFIG_MOUSE_ELAN_I2C=y
CONFIG_X86_PMEM_LEGACY_DEVICE=y
CONFIG_CLZ_TAB=y
CONFIG_BHYVE_GUEST=y
CONFIG_SENSORS_SQ24860_REGULATOR=y
CONFIG_USB_ACM=y
CONFIG_SPARSE_IRQ=y
CONFIG_MOUSE_PS2_ELANTECH_SMBUS=y
CONFIG_QCOM_SPMI_ADC5_GEN3=y
CONFIG_CC_HAS_MARCH_NATIVE=y
CONFIG_FB_SYS_IMAGEBLIT=y
CONFIG_AS_HAS_NON_CONST_ULEB128=y
CONFIG_CRYPTO_ECB=y
CONFIG_OF_PMEM=y
CONFIG_ROHM_BD79124=y
CONFIG_MOUSE_PS2_FOCALTECH=y
CONFIG_MFD_CS47L35=y
CONFIG_AK09911=y
CONFIG_SENSORS_LTC2947=y
CONFIG_VT_HW_CONSOLE_BINDING=y
CONFIG_THERMAL_DEFAULT_GOV_USER_SPACE=y
CONFIG_FB_SIMPLE=y
CONFIG_HAVE_RELIABLE_STACKTRACE=y
CONFIG_CORE_DUMP_DEFAULT_ELF_HEADERS=y
CONFIG_FAULT_INJECTION=y
CONFIG_REGULATOR_MT6370=y
CONFIG_EDD=y
CONFIG_AD5766=y
CONFIG_PING=y
CONFIG_STK8312=y
CONFIG_REGULATOR_MT6360=y
CONFIG_SAMPLE_VFIO_MDEV_MTTY=y
CONFIG_SAMPLES=y
CONFIG_HWMON_VID=y
CONFIG_AUDIT_ARCH=y
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_JMP=y
CONFIG_BATTERY_MAX17042=y
CONFIG_TSL2583=y
CONFIG_CORDIC=y
CONFIG_REGULATOR_BD718XX=y
CONFIG_IRQ_WORK=y
CONFIG_FXLS8962AF=y
CONFIG_RT_MUTEXES=y
CONFIG_PROC_FS=y
CONFIG_APDS9999=y
CONFIG_REED_SOLOMON_ENC16=y
CONFIG_X86_NATIVE_CPU=y
CONFIG_PINCTRL=y
CONFIG_MEM_SOFT_DIRTY=y
CONFIG_USB_ULPI_BUS=y
CONFIG_PVPANIC=y
CONFIG_XZ_DEC_BCJ=y
CONFIG_BUG=y
CONFIG_REGULATOR_AD5398=y
CONFIG_GPIO_MAX730X=y
CONFIG_NLS_CODEPAGE_852=y
CONFIG_STATIC_KEYS_SELFTEST=y
CONFIG_NLS_MAC_INUIT=y
CONFIG_IIO_ST_MAGN_3AXIS=y
CONFIG_SERIAL_EARLYCON=y
CONFIG_SENSORS_MP29502=y
CONFIG_SCSI_DH_RDAC=y
CONFIG_GCOV_PROFILE_ALL=y
CONFIG_ARCH_HAS_KCOV=y
CONFIG_IO_STRICT_DEVMEM=y
CONFIG_HOTPLUG_CORE_SYNC=y
CONFIG_SYSFB=y
CONFIG_OPTPROBES=y
CONFIG_USB_LEGOTOWER=y
CONFIG_SRF08=y
CONFIG_NVME_TARGET_FC=y
CONFIG_TORTURE_TEST=y
CONFIG_MS5611_SPI=y
CONFIG_PAGE_REPORTING=y
CONFIG_STRIP_ASM_SYMS=y
CONFIG_MFD_WM8997=y
CONFIG_PERSISTENT_KEYRINGS=y
CONFIG_BINFMT_SCRIPT=y
CONFIG_CHECKPOINT_RESTORE=y
CONFIG_MFD_MT6370=y
CONFIG_SPLIT_PMD_PTLOCKS=y
CONFIG_THERMAL_STATISTICS=y
CONFIG_SENSORS_XDPE122=y
CONFIG_ARCH_WANT_PMD_MKWRITE=y
CONFIG_KEYBOARD_NEWTON=y
CONFIG_STRICT_SIGALTSTACK_SIZE=y
CONFIG_XILINX_SDFEC=y
CONFIG_CHARLCD_BL_ON=y
CONFIG_HAVE_PREEMPT_DYNAMIC=y
CONFIG_IIO_SSP_SENSORHUB=y
CONFIG_RMI4_F34=y
CONFIG_MFD_ROHM_BD957XMUF=y
CONFIG_SCSI_UFSHCD=y
CONFIG_CC_HAS_IBT=y
CONFIG_FSI=y
CONFIG_GPIO_SCH311X=y
CONFIG_SENSORS_IR38064_REGULATOR=y
CONFIG_LEDS_LGM=y
CONFIG_AD5593R=y
CONFIG_MAX30100=y
CONFIG_W1_SLAVE_DS2408=y
CONFIG_PRINTK=y
CONFIG_MUX_MMIO=y
CONFIG_ARCH_DMA_ADDR_T_64BIT=y
CONFIG_PWM_ATMEL_TCB=y
CONFIG_HAVE_ARCH_COMPAT_MMAP_BASES=y
CONFIG_MFD_BQ257XX=y
CONFIG_IIO_BUFFER=y
CONFIG_EXTCON_ADC_JACK=y
CONFIG_HAVE_ARCH_TRACEHOOK=y
CONFIG_LEDS_BLINKM=y
CONFIG_MEDIATEK_MT6360_ADC=y
CONFIG_SCHED_INFO=y
CONFIG_USB_STORAGE_KARMA=y
CONFIG_SENSORS_INA233=y
CONFIG_HAVE_USER_RETURN_NOTIFIER=y
CONFIG_USB_LINK_LAYER_TEST=y
CONFIG_DEVFREQ_GOV_POWERSAVE=y
CONFIG_ADXL367_I2C=y
CONFIG_EROFS_FS_DEBUG=y
CONFIG_REGION_ALLOC_BENCHMARK=y
CONFIG_MUSB_PIO_ONLY=y
CONFIG_XFS_RT=y
CONFIG_MHI_BUS_EP=y
CONFIG_SENSIRION_SGP30=y
CONFIG_LZ4_DECOMPRESS=y
CONFIG_MAGIC_SYSRQ=y
CONFIG_HOTPLUG_CPU=y
CONFIG_USB_F_FS=y
CONFIG_USB_ROLE_SWITCH=y
CONFIG_SENSORS_MC34VR500=y
CONFIG_SENSORS_MAX16065=y
CONFIG_EXTCON_LC824206XA=y
CONFIG_MFD_ATMEL_HLCDC=y
CONFIG_HAVE_OBJTOOL_MCOUNT=y
CONFIG_ENCLOSURE_SERVICES=y
CONFIG_NEED_PER_CPU_EMBED_FIRST_CHUNK=y
CONFIG_X86_INTEL_PSTATE=y
CONFIG_CRYPTO_ARIA_AESNI_AVX_X86_64=y
CONFIG_IO_DELAY_UDELAY=y
CONFIG_ATLAS_PH_SENSOR=y
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE=y
CONFIG_BATTERY_MAX1721X=y
CONFIG_HARDENED_USERCOPY_DEFAULT_ON=y
CONFIG_LCD2S=y
CONFIG_ACRN_GUEST=y
CONFIG_MP2629_ADC=y
CONFIG_OF_NUMA=y
CONFIG_SECCOMP=y
CONFIG_CONFIGFS_FS=y
CONFIG_ARCH_SUPPORTS_KEXEC_SIG=y
CONFIG_REGULATOR_TWL4030=y
CONFIG_MLXREG_HOTPLUG=y
CONFIG_IO_WQ=y
CONFIG_XZ_DEC_RISCV=y
CONFIG_OF_GPIO=y
CONFIG_MPILIB=y
CONFIG_TMPFS_XATTR=y
CONFIG_RPR0521=y
CONFIG_CRYPTO_HASH2=y
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_REGS=y
CONFIG_APPLE_MFI_FASTCHARGE=y
CONFIG_SCHEDSTATS=y
CONFIG_DMA_VIRTUAL_CHANNELS=y
CONFIG_MITIGATION_TAA=y
CONFIG_CRYPTO_LIB_AESCFB=y
CONFIG_FW_UPLOAD=y
CONFIG_ARCH_ENABLE_SPLIT_PMD_PTLOCK=y
CONFIG_CRYPTO_LZO=y
CONFIG_TRANSPARENT_HUGEPAGE_TMPFS_HUGE_ALWAYS=y
CONFIG_USB_CONFIGFS_MASS_STORAGE=y
CONFIG_PERF_EVENTS_AMD_POWER=y
CONFIG_AL3000A=y
CONFIG_SPI_OFFLOAD=y
CONFIG_MCP3911=y
CONFIG_REGULATOR_TPS6586X=y
CONFIG_AD_SIGMA_DELTA=y
CONFIG_AD525X_DPOT_SPI=y
CONFIG_PALMAS_GPADC=y
CONFIG_TI_ADS8688=y
CONFIG_DMA_MAP_BENCHMARK=y
CONFIG_SPI_BUTTERFLY=y
CONFIG_WW_MUTEX_SELFTEST=y
CONFIG_TEST_DHRY=y
CONFIG_USB_EHSET_TEST_FIXTURE=y
CONFIG_CPU_SUP_HYGON=y
CONFIG_REGULATOR_TPS62360=y
CONFIG_PREEMPT_BUILD=y
CONFIG_GPIO_GRANITERAPIDS=y
CONFIG_DEBUG_FS_ALLOW_NONE=y
CONFIG_CC_HAS_AUTO_VAR_INIT_PATTERN=y
CONFIG_REGMAP_SPI=y
CONFIG_AD3530R=y
CONFIG_HAS_IOMEM=y
CONFIG_GCOV_KERNEL=y
CONFIG_SPARSEMEM_EXTREME=y
CONFIG_RING_BUFFER=y
CONFIG_X86_X32_ABI=y
CONFIG_MFD_AXP20X_I2C=y
CONFIG_CRYPTO_ECDSA=y
CONFIG_MCP4131=y
CONFIG_BCM_KONA_USB2_PHY=y
CONFIG_CRYPTO_DEV_ATMEL_I2C=y
CONFIG_TRACE_IRQFLAGS_NMI_SUPPORT=y
CONFIG_BTRFS_FS=y
CONFIG_USB_HSIC_USB4604=y
CONFIG_SERIAL_OF_PLATFORM=y
CONFIG_MEDIATEK_MT6370_ADC=y
CONFIG_RMI4_CORE=y
CONFIG_SENSORS_MAX77705=y
CONFIG_I2C_VIRTIO=y
CONFIG_USB_EZUSB_FX2=y
CONFIG_HAVE_MOVE_PMD=y
CONFIG_MEMORY_HOTREMOVE=y
CONFIG_ARCH_SUPPORTS_KEXEC_BZIMAGE_VERIFY_SIG=y
CONFIG_SMP=y
CONFIG_POWER_SUPPLY_HWMON=y
CONFIG_REGULATOR_PF0900=y
CONFIG_SENSORS_ISL28022=y
CONFIG_HAVE_ARCH_THREAD_STRUCT_WHITELIST=y
CONFIG_X86_DISABLED_FEATURE_ENQCMD=y
CONFIG_OF_KOBJ=y
CONFIG_REGULATOR_MAX77620=y
CONFIG_CRYPTO_KPP=y
CONFIG_ARCH_HAS_EARLY_DEBUG=y
CONFIG_REGULATOR_SY8106A=y
CONFIG_LTO_NONE=y
CONFIG_VDSO_DATASTORE=y
CONFIG_MFD_TI_LMU=y
CONFIG_MOUSE_PS2_SMBUS=y
CONFIG_RANDSTRUCT_NONE=y
CONFIG_SENSORS_PCF8591=y
CONFIG_SENSORS_MPQ7932=y
CONFIG_X86_FRED=y
CONFIG_MAG3110=y
CONFIG_HPET_TIMER=y
CONFIG_AFE4404=y
CONFIG_THERMAL_OF=y
CONFIG_EXPORTFS=y
CONFIG_SSB_POSSIBLE=y
CONFIG_TI_DAC7612=y
CONFIG_FB=y
CONFIG_LEDS_NIC78BX=y
CONFIG_GPIO_MENZ127=y
CONFIG_GENERIC_GETTIMEOFDAY=y
CONFIG_ADVISE_SYSCALLS=y
CONFIG_TWL6040_CORE=y
CONFIG_SENSORS_DA9055=y
CONFIG_ARCH_HAS_GIGANTIC_PAGE=y
CONFIG_HX9023S=y
CONFIG_GENERIC_SYSCALL=y
CONFIG_SBITMAP=y
CONFIG_REGULATOR_RT6190=y
CONFIG_INV_ICM45600_I2C=y
CONFIG_AD4000=y
CONFIG_MICROCODE=y
CONFIG_BATTERY_CPCAP=y
CONFIG_HIBERNATE_CALLBACKS=y
CONFIG_CHARGER_MANAGER=y
CONFIG_NLS_ISO8859_4=y
CONFIG_FPGA_DFL_FME_MGR=y
CONFIG_SERIO_LIBPS2=y
CONFIG_I2C_DEBUG_BUS=y
CONFIG_CHARGER_RT9467=y
CONFIG_AS_IS_GNU=y
CONFIG_I2C_DESIGNWARE_PLATFORM=y
CONFIG_BTT=y
CONFIG_IIO=y
CONFIG_FAILSLAB=y
CONFIG_MFD_ROHM_BD718XX=y
CONFIG_MFD_TPS65912=y
CONFIG_SENSORS_ADT7X10=y
CONFIG_AD7791=y
CONFIG_INPUT_FF_MEMLESS=y
CONFIG_PHY_PXA_28NM_USB2=y
CONFIG_CRYPTO_LIB_AES_ECB=y
CONFIG_SENSORS_EMC2305=y
CONFIG_AD4134=y
CONFIG_TI_ADC161S626=y
CONFIG_KEY_NOTIFICATIONS=y
CONFIG_MOUSE_APPLETOUCH=y
CONFIG_SENSORS_MAX6620=y
CONFIG_AD9523=y
CONFIG_USB_STORAGE_USBAT=y
CONFIG_SX9360=y
CONFIG_CRYPTO_AUTHENC=y
CONFIG_QUEUED_SPINLOCKS=y
CONFIG_PWM_TWL=y
CONFIG_CM3232=y
CONFIG_AUXDISPLAY=y
CONFIG_ARCH_SUPPORTS_SCHED_CLUSTER=y
CONFIG_PINCTRL_CY8C95X0=y
CONFIG_CRYPTO_SHA256=y
CONFIG_I2C_MUX=y
CONFIG_TEST_BITOPS=y
CONFIG_CRYPTO_AEAD2=y
CONFIG_MFD_STMFX=y
CONFIG_NLS_CODEPAGE_737=y
CONFIG_MOUSE_PS2_SYNAPTICS=y
CONFIG_GAMEPORT=y
CONFIG_PINCTRL_MCP23S08_SPI=y
CONFIG_CRC16=y
CONFIG_SX_COMMON=y
CONFIG_GPIO_MOXTET=y
CONFIG_IIO_ST_LSM6DSX_I3C=y
CONFIG_CONSOLE_TRANSLATIONS=y
CONFIG_FB_SYS_FILLRECT=y
CONFIG_DEBUG_SECTION_MISMATCH=y
CONFIG_GPIO_LP3943=y
CONFIG_LCD_LTV350QV=y
CONFIG_NUMA=y
CONFIG_X86_HV_CALLBACK_VECTOR=y
CONFIG_CRYPTO_AKCIPHER=y
CONFIG_DMATEST=y
CONFIG_AUXILIARY_BUS=y
CONFIG_PWM_PCA9685=y
CONFIG_SPI_OFFLOAD_TRIGGER_ADI_UTIL_SD=y
CONFIG_HI8435=y
CONFIG_TEST_HEXDUMP=y
CONFIG_MAX77620_THERMAL=y
CONFIG_LTC2378=y
CONFIG_REGULATOR_MAX14577=y
CONFIG_EXCLUSIVE_SYSTEM_RAM=y
CONFIG_ISL29501=y
CONFIG_TPS6594_PFSM=y
CONFIG_ARCH_HAVE_NMI_SAFE_CMPXCHG=y
CONFIG_FB_CFB_COPYAREA=y
CONFIG_CPU_SUP_ZHAOXIN=y
CONFIG_X86_UMIP=y
CONFIG_I2C_ALGOBIT=y
CONFIG_TAHVO_USB_HOST_BY_DEFAULT=y
CONFIG_XILLYUSB=y
CONFIG_TEST_FPU=y
CONFIG_MPL115_I2C=y
CONFIG_TRACE_GPU_MEM=y
CONFIG_ENCRYPTED_KEYS=y
CONFIG_ARCH_SUPPORTS_CRASH_HOTPLUG=y
CONFIG_SMPRO_MISC=y
CONFIG_USB_HUB_USB251XB=y
CONFIG_SENSORS_TPS23861=y
CONFIG_TI_ADS1100=y
CONFIG_CRASH_DUMP=y
CONFIG_DPOT_DAC=y
CONFIG_CC_IS_GCC=y
CONFIG_LCD_VGG2432A4=y
CONFIG_TEST_SYSCTL=y
CONFIG_LEDS_ST1202=y
CONFIG_PROC_MEM_FORCE_PTRACE=y
CONFIG_EXTCON_MAX8997=y
CONFIG_AD5706R=y
CONFIG_CRYPTO_PCRYPT=y
CONFIG_BATTERY_GAUGE_LTC2941=y
CONFIG_MFD_RK8XX=y
CONFIG_GPIB=y
CONFIG_POWER_SUPPLY=y
CONFIG_DEBUG_FS=y
CONFIG_SENSORS_GPD=y
CONFIG_VIRTIO_ANCHOR=y
CONFIG_AD5696_I2C=y
CONFIG_AD5755=y
CONFIG_CHARGER_BQ24735=y
CONFIG_SPI_MXIC=y
CONFIG_HAVE_ARCH_KSTACK_ERASE=y
CONFIG_TCG_TIS_I2C=y
CONFIG_MPU3050=y
CONFIG_USB_SERIAL_GENERIC=y
CONFIG_IA32_FEAT_CTL=y
CONFIG_ARCH_HAS_SYSCALL_WRAPPER=y
CONFIG_ARCH_SUSPEND_POSSIBLE=y
CONFIG_MFD_MAX7360=y
CONFIG_CRYPTO_WP512=y
CONFIG_GPIO_MAX732X=y
CONFIG_SENSORS_MP2925=y
CONFIG_TRACING=y
CONFIG_HAVE_CMPXCHG_LOCAL=y
CONFIG_SERIAL_8250_MEN_MCB=y
CONFIG_LEDS_ADP5520=y
CONFIG_MITIGATION_IBRS_ENTRY=y
CONFIG_LCD_LMS501KF03=y
CONFIG_FB_DEVICE=y
CONFIG_SERIO=y
CONFIG_AD7766=y
CONFIG_SENSORS_ADC128D818=y
CONFIG_CRYPTO_DEV_PADLOCK=y
CONFIG_CRC_OPTIMIZATIONS=y
CONFIG_CRYPTO_MANAGER=y
CONFIG_SI1133=y
CONFIG_SPI_CADENCE_QUADSPI=y
CONFIG_PROVE_LOCKING=y
CONFIG_PWM_MAX7360=y
CONFIG_SERIAL_8250=y
CONFIG_I2C_NCT6694=y
CONFIG_CC_HAS_RETURN_THUNK=y
CONFIG_PREEMPT_RCU=y
CONFIG_DEBUG_RT_MUTEXES=y
CONFIG_GENERIC_CLOCKEVENTS_COUPLED=y
CONFIG_HAVE_BUILDTIME_MCOUNT_SORT=y
CONFIG_REGMAP_MMIO=y
CONFIG_W1_MASTER_SGI=y
CONFIG_SENSORS_W83L785TS=y
CONFIG_GPIO_TPIC2810=y
CONFIG_AD7887=y
CONFIG_HAVE_KRETPROBES=y
CONFIG_TCS3472=y
CONFIG_ZISOFS=y
CONFIG_SENSORS_F71882FG=y
CONFIG_MPRLS0025PA_SPI=y
CONFIG_UIO_DFL=y
CONFIG_DMA_RESTRICTED_POOL=y
CONFIG_SERIO_I8042=y
CONFIG_NLS_ISO8859_8=y
CONFIG_MHP_DEFAULT_ONLINE_TYPE_OFFLINE=y
CONFIG_LEDS_KTD202X=y
CONFIG_RAVE_SP_CORE=y
CONFIG_HAVE_RUST=y
CONFIG_CRYPTO_DEV_PADLOCK_AES=y
CONFIG_REGULATOR_MAX77503=y
CONFIG_VFIO=y
CONFIG_SENSORS_NTC_THERMISTOR=y
CONFIG_CRYPTO_CTS=y
CONFIG_MFD_MADERA_SPI=y
CONFIG_TSM_GUEST=y
CONFIG_REGULATOR_VCTRL=y
CONFIG_SENSORS_ADS7871=y
CONFIG_CPCAP_ADC=y
CONFIG_GPIO_ARIZONA=y
CONFIG_SPI_DYNAMIC=y
CONFIG_TRANSPARENT_HUGEPAGE=y
CONFIG_AD8801=y
CONFIG_PARPORT_1284=y
CONFIG_SPI_FSI=y
CONFIG_LEDS_NCP5623=y
CONFIG_SENSORS_LM63=y
CONFIG_SENSORS_SPD5118_DETECT=y
CONFIG_SENSORS_STTS751=y
CONFIG_OF_RESERVED_MEM=y
CONFIG_FAIL_PAGE_ALLOC=y
CONFIG_MFD_LP3943=y
CONFIG_SENSORS_NCT7802=y
CONFIG_TI_ADC084S021=y
CONFIG_USB_HSIC_USB3503=y
CONFIG_KALLSYMS_SELFTEST=y
CONFIG_MAX44009=y
CONFIG_NLS_KOI8_U=y
CONFIG_X86_VMX_FEATURE_NAMES=y
CONFIG_LEDS_TRIGGERS=y
CONFIG_FPGA_DFL_FME_BRIDGE=y
CONFIG_GPIO_MADERA=y
CONFIG_GPIO_VIRTUSER=y
CONFIG_ADL8113=y
CONFIG_CRYPTO_LIB_SHA3=y
CONFIG_VFIO_IOMMU_TYPE1=y
CONFIG_SENSORS_DS1621=y
CONFIG_MOUSE_PS2_TRACKPOINT=y
CONFIG_MELLANOX_PLATFORM=y
CONFIG_IIO_ADC_HELPER=y
CONFIG_DECOMPRESS_LZO=y
CONFIG_HAVE_DYNAMIC_FTRACE=y
CONFIG_USB_F_PRINTER=y
CONFIG_INSTRUCTION_DECODER=y
CONFIG_SPI_ALTERA_DFL=y
CONFIG_CRYPTO_SM4_AESNI_AVX2_X86_64=y
CONFIG_BMI160_I2C=y
CONFIG_HAVE_SAMPLE_FTRACE_DIRECT=y
CONFIG_SSB_DRIVER_GPIO=y
CONFIG_AD7298=y
CONFIG_CHARGER_BQ25980=y
CONFIG_FUTEX_PRIVATE_HASH=y
CONFIG_SENSORS_AS370=y
CONFIG_CRYPTO_SERPENT=y
CONFIG_XXHASH=y
CONFIG_GPIO_POLARFIRE_SOC=y
CONFIG_GENERIC_IRQ_MATRIX_ALLOCATOR=y
CONFIG_PROC_PAGE_MONITOR=y
CONFIG_MFD_MC13XXX_SPI=y
CONFIG_I2C_MUX_REG=y
CONFIG_BLK_DEV_ZONED=y
CONFIG_HAVE_ARCH_KASAN=y
CONFIG_THERMAL_DEBUGFS=y
CONFIG_CONTEXT_TRACKING=y
CONFIG_KMAP_LOCAL=y
CONFIG_HAVE_IRQ_EXIT_ON_IRQ_STACK=y
CONFIG_X86_16BIT=y
CONFIG_CRYPTO_DEV_ATMEL_SHA204A=y
CONFIG_SPI_BITBANG=y
CONFIG_GPIO_TWL6040=y
CONFIG_DEBUG_LOCKDEP=y
CONFIG_MUX_GPIO=y
CONFIG_GOOGLE_FRAMEBUFFER_COREBOOT=y
CONFIG_VEML6046X00=y
CONFIG_INPUT_MOUSE=y
CONFIG_PINCTRL_MCP23S08_I2C=y
CONFIG_CRYPTO_BLAKE2B=y
CONFIG_THERMAL_GOV_STEP_WISE=y
