CONFIG_ARCH_HAS_GCOV_PROFILE_ALL=n
CONFIG_QRTR_TUN=n
CONFIG_DRM_DISPLAY_HDMI_AUDIO_HELPER=n
CONFIG_ARCH_TEGRA=n
CONFIG_CAN_DEV=n
CONFIG_COMMON_CLK_MT7981=n
CONFIG_ARCH_SOPHGO=n
CONFIG_ACPI_PPTT=n
CONFIG_DT_IDLE_STATES=n
CONFIG_CLK_X1P42100_GPUCC=n
CONFIG_ATH10K=n
CONFIG_SND_HDA_CODEC_HDMI_ATI=n
CONFIG_DEFAULT_SECURITY_DAC=n
CONFIG_HAVE_REGS_AND_STACK_ACCESS_API=n
CONFIG_SDM_GPUCC_845=n
CONFIG_ARCH_R9A07G043=n
CONFIG_FW_LOADER_PAGED_BUF=n
CONFIG_ARCH_VISCONTI=n
CONFIG_CRYPTO_AEAD2=n
CONFIG_SND_SOC_TEGRA210_ADMAIF=n
CONFIG_BCM74110_MAILBOX=n
CONFIG_PCIE_RCAR_EP=n
CONFIG_ARCH_BERLIN=n
CONFIG_EXYNOS_PM_DOMAINS=n
CONFIG_SND_SOC_FSL_SPDIF=n
CONFIG_EFI_CUSTOM_SSDT_OVERLAYS=n
CONFIG_BCM2712_MIP=n
CONFIG_DRM_I2C_ADV7511_AUDIO=n
CONFIG_ARM_CORESIGHT_PMU_ARCH_SYSTEM_PMU=n
CONFIG_PCIE_ALTERA=n
CONFIG_PCI_PASID=n
CONFIG_X509_CERTIFICATE_PARSER=n
CONFIG_MOUSE_PS2_SMBUS=n
CONFIG_INITRAMFS_PRESERVE_MTIME=n
CONFIG_MARVELL_88Q2XXX_PHY=n
CONFIG_IR_GPIO_CIR=n
CONFIG_TREE_RCU=n
CONFIG_LEDS_TRIGGERS=n
CONFIG_COMMON_CLK_MT8196_VDECSYS=n
CONFIG_BCM54140_PHY=n
CONFIG_SC_GPUCC_7280=n
CONFIG_IPQ_APSS_5424=n
CONFIG_ZYNQMP_IPI_MBOX=n
CONFIG_RTC_INTF_SYSFS=n
CONFIG_PROC_FS=n
CONFIG_GENERIC_SCHED_CLOCK=n
CONFIG_PWRSEQ_SIMPLE=n
CONFIG_ARCH_WANT_DEFAULT_BPF_JIT=n
CONFIG_DRM_MXSFB=n
CONFIG_USB_OHCI_HCD_PCI=n
CONFIG_ARM64_WORKAROUND_REPEAT_TLBI_SYNC=n
CONFIG_SND_SOC_DMIC=n
CONFIG_USB_SUPPORT=n
CONFIG_PHY_TI_GMII_SEL=n
CONFIG_ACPI_PRMT=n
CONFIG_SCSI_HISI_SAS=n
CONFIG_VIRT_XFER_TO_GUEST_WORK=n
CONFIG_QCOM_MPM=n
CONFIG_IR_MESON=n
CONFIG_PINCTRL_HAWI=n
CONFIG_MTD_NAND_ECC_SW_HAMMING=n
CONFIG_SPI_APPLE=n
CONFIG_TEE_DMABUF_HEAPS=n
CONFIG_HAVE_DYNAMIC_FTRACE=n
CONFIG_COMMON_CLK_MT8173_VDECSYS=n
CONFIG_SND_SOC_TEGRA186_DSPK=n
CONFIG_PINCTRL_MT7981=n
CONFIG_MTD_HYPERBUS=n
CONFIG_RT_MUTEXES=n
CONFIG_MT7921E=n
CONFIG_PINCTRL_PFC_R8A774E1=n
CONFIG_SND_SOC_SGTL5000=n
CONFIG_DMA_BOUNCE_UNALIGNED_KMALLOC=n
CONFIG_SYSCON_REBOOT_MODE=n
CONFIG_PHY_UNIPHIER_USB3=n
CONFIG_SPRD_UMS512_CLK=n
CONFIG_SERIAL_8250_DMA=n
CONFIG_RPS=n
CONFIG_CRC64_ARCH=n
CONFIG_MACB=n
CONFIG_ARCH_HAS_PTDUMP=n
CONFIG_FPGA_MGR_STRATIX10_SOC=n
CONFIG_ARM_SCMI_QUIRKS=n
CONFIG_PHY_QCOM_USB_HS=n
CONFIG_ASPEED_LPC_SNOOP=n
CONFIG_NET_SOCK_MSG=n
CONFIG_SYSCTL_EXCEPTION_TRACE=n
CONFIG_MDIO_CAVIUM=n
CONFIG_SOCIONEXT_SYNQUACER_PREITS=n
CONFIG_PCIE_TEGRA194=n
CONFIG_QCOM_LLCC=n
CONFIG_PWM_TIECAP=n
CONFIG_SECRETMEM=n
CONFIG_CHARGER_BQ25980=n
CONFIG_QCOM_RPMPD=n
CONFIG_ARCH_MICROCHIP=n
CONFIG_IPQ_GCC_9574=n
CONFIG_POWER_RESET_GPIO=n
CONFIG_IMX_SCMI_LMM_DRV=n
CONFIG_NPCM7XX_TIMER=n
CONFIG_CAVIUM_TX2_ERRATUM_219=n
CONFIG_RD_LZ4=n
CONFIG_HAVE_PERF_USER_STACK_DUMP=n
CONFIG_CRYPTO_DEV_FSL_CAAM_AHASH_API=n
CONFIG_OF_FLATTREE=n
CONFIG_BRIDGE_IGMP_SNOOPING=n
CONFIG_DRM_PANEL_HIMAX_HX83112A=n
CONFIG_STANDALONE=n
CONFIG_NVMEM_BCM_OCOTP=n
CONFIG_SND_SOC_SOF_OF=n
CONFIG_CRASH_DUMP=n
CONFIG_CC_HAVE_STACKPROTECTOR_SYSREG=n
CONFIG_MDIO_BUS_MUX_MMIOREG=n
CONFIG_PINCTRL_SH_PFC=n
CONFIG_DRM_NWL_MIPI_DSI=n
CONFIG_MTK_GPUEB_MBOX=n
CONFIG_GENERIC_ALLOCATOR=n
CONFIG_CRYPTO_DEV_FSL_CAAM_PKC_API=n
CONFIG_ATH10K_SDIO=n
CONFIG_PINCTRL_SM6375=n
CONFIG_OF_RESOLVE=n
CONFIG_GOOGLE_CBMEM=n
CONFIG_HAVE_KVM_MSI=n
CONFIG_SPI_PL022=n
CONFIG_USB_MUSB_HDRC=n
CONFIG_NVMEM_IMX_OCOTP_ELE=n
CONFIG_SND_AUDIO_GRAPH_CARD2=n
CONFIG_COMMON_CLK_MT8186_MFGCFG=n
CONFIG_COMMON_CLK_MT2712=n
CONFIG_ARM_GIC=n
CONFIG_SERIAL_FSL_LINFLEXUART_CONSOLE=n
CONFIG_CRYPTO_SHA3=n
CONFIG_ARM_SCMI_CPUFREQ=n
CONFIG_ROCKCHIP_TIMER=n
CONFIG_PINCTRL_MESON_AXG=n
CONFIG_HAVE_EXTRA_IPI_TRACEPOINTS=n
CONFIG_MEDIA_TUNER_TDA8290=n
CONFIG_USB_F_FS=n
CONFIG_ARCH_INTEL_SOCFPGA=n
CONFIG_DRM_MSM_DSI_7NM_PHY=n
CONFIG_COMMON_CLK_MT8196_PEXTPSYS=n
CONFIG_HOTPLUG_CORE_SYNC_DEAD=n
CONFIG_GPIO_BD9571MWV=n
CONFIG_LEDS_GPIO=n
CONFIG_CLK_R8A779F0=n
CONFIG_SPARSEMEM_EXTREME=n
CONFIG_LEDS_CLASS_FLASH=n
CONFIG_RESET_BRCMSTB_RESCAL=n
CONFIG_CRYPTO_CHACHA20=n
CONFIG_BCMASP=n
CONFIG_ARCH_R9A09G011=n
CONFIG_DRM_ETNAVIV=n
CONFIG_SND_SOC_LPASS_VA_MACRO=n
CONFIG_ARCH_TEGRA_210_SOC=n
CONFIG_TPS6594_ESM=n
CONFIG_ARCH_HAS_FAST_MULTIPLIER=n
CONFIG_HAVE_ARCH_KGDB=n
CONFIG_MTK_CMDQ=n
CONFIG_GPIO_MACSMC=n
CONFIG_SND_SOC_GTM601=n
CONFIG_COMMON_CLK_MESON_CPU_DYNDIV=n
CONFIG_NEED_TASKS_RCU=n
CONFIG_USB_U_ETHER=n
CONFIG_DMI=n
CONFIG_WWAN=n
CONFIG_RESET_MESON=n
CONFIG_ARM64_MTE=n
CONFIG_PWM_ROCKCHIP=n
CONFIG_MFD_ROHM_PWRBUTTON=n
CONFIG_SUNXI_SRAM=n
CONFIG_ARCH_NXP=n
CONFIG_IIO_KFIFO_BUF=n
CONFIG_SND_SOC_ROCKCHIP_I2S_TDM=n
CONFIG_DRM_MSM_GPU_STATE=n
CONFIG_MTK_MFG_PM_DOMAIN=n
CONFIG_I2C_CADENCE=n
CONFIG_S3C2410_WATCHDOG=n
CONFIG_INTERCONNECT_QCOM_SM8750=n
CONFIG_INTERCONNECT_QCOM_SM6350=n
CONFIG_TREE_SRCU=n
CONFIG_HAVE_ARCH_RANDOMIZE_KSTACK_OFFSET=n
CONFIG_QCOM_SMEM=n
CONFIG_MMC_SDHCI_IPROC=n
CONFIG_LEDS_TRIGGER_CPU=n
CONFIG_CRYPTO_LIB_SM3=n
CONFIG_ARM_SCMI_HAVE_TRANSPORT=n
CONFIG_MTD_PHYSMAP_OF=n
CONFIG_USB_DWC3_GENERIC_PLAT=n
CONFIG_PHY_CADENCE_DPHY_RX=n
CONFIG_EFI_CAPSULE_LOADER=n
CONFIG_ROCKCHIP_GRF=n
CONFIG_MDIO=n
CONFIG_PINCTRL_BRCMSTB=n
CONFIG_CRYPTO_USER=n
CONFIG_QCOM_COINCELL=n
CONFIG_BCM_VIDEOCORE=n
CONFIG_SQUASHFS=n
CONFIG_PINCTRL_SOPHGO_SG2000=n
CONFIG_ARCH_MESON=n
CONFIG_PINCTRL_SDX75=n
CONFIG_SND_HDA_CODEC_HDMI=n
CONFIG_PWM_VISCONTI=n
CONFIG_DRM_IMX8MP_HDMI_PAI=n
CONFIG_ARCH_HAS_CPU_CACHE_INVALIDATE_MEMREGION=n
CONFIG_GPIO_XGENE_SB=n
CONFIG_BCM4908_ENET=n
CONFIG_CRYPTO_USER_API_ENABLE_OBSOLETE=n
CONFIG_GCC_SUPPORTS_DYNAMIC_FTRACE_WITH_ARGS=n
CONFIG_CLK_KAANAPALI_CAMCC=n
CONFIG_TYPEC_TCPCI_MAXIM=n
CONFIG_HOTPLUG_SMT=n
CONFIG_COMMON_CLK_MESON_CLKC_UTILS=n
CONFIG_RTC_DRV_FSL_FTM_ALARM=n
CONFIG_EVENTFD=n
CONFIG_ARCH_HAVE_ELF_PROT=n
CONFIG_FANOTIFY=n
CONFIG_DRM_PARADE_PS8640=n
CONFIG_DRM_LONTIUM_LT8713SX=n
CONFIG_NVMEM_REBOOT_MODE=n
CONFIG_PINCTRL_MT6795=n
CONFIG_PINCTRL_STM32_HDP=n
CONFIG_AT803X_PHY=n
CONFIG_SERIAL_STM32=n
CONFIG_OF_IOMMU=n
CONFIG_USB_NET_PLUSB=n
CONFIG_CRYPTO_CTS=n
CONFIG_HAVE_RELIABLE_STACKTRACE=n
CONFIG_COMMON_CLK_MT6779=n
CONFIG_VIDEO_DCT_RPPX1=n
CONFIG_IOMMU_IO_PGTABLE=n
CONFIG_LDISC_AUTOLOAD=n
CONFIG_NET_VENDOR_ATHEROS=n
CONFIG_TI_K3_AM65_CPSW_NUSS=n
CONFIG_MTD_CFI_ADV_OPTIONS=n
CONFIG_USB_UHCI_ASPEED=n
CONFIG_ARCH_APPLE=n
CONFIG_HIBERNATION_SNAPSHOT_DEV=n
CONFIG_SND_HDA_CODEC_HDMI_INTEL=n
CONFIG_ROCKCHIP_IOMMU=n
CONFIG_SA_CAMCC_8775P=n
CONFIG_SND_SOC_I2C_AND_SPI=n
CONFIG_RTC_DRV_ARMADA38X=n
CONFIG_I2C_OMAP=n
CONFIG_USB_CONFIGFS_ECM_SUBSET=n
CONFIG_CC_HAS_ASM_INLINE=n
CONFIG_USB_DWC3_EXYNOS=n
CONFIG_SERIAL_SH_SCI_DMA=n
CONFIG_TTY=n
CONFIG_GPIO_VF610=n
CONFIG_FB_IOMEM_HELPERS=n
CONFIG_COMMON_CLK_VC5=n
CONFIG_SND_MESON_AIU=n
CONFIG_I2C_OWL=n
CONFIG_REGULATOR_TPS65219=n
CONFIG_ARM_ALLWINNER_SUN50I_CPUFREQ_NVMEM=n
CONFIG_SCSI_DMA=n
CONFIG_SND_USB_AUDIO_USE_MEDIA_CONTROLLER=n
CONFIG_QCOM_QSEECOM_UEFISECAPP=n
CONFIG_SPARSEMEM_VMEMMAP_ENABLE=n
CONFIG_LEDS_QCOM_FLASH=n
CONFIG_HW_RANDOM_HISI=n
CONFIG_SM_VIDEOCC_8450=n
CONFIG_NETFILTER_XTABLES=n
CONFIG_TOUCHSCREEN_ELAN=n
CONFIG_RCAR_GEN3_THERMAL=n
CONFIG_SENSORS_CROS_EC=n
CONFIG_CRYPTO_LIB_SM3_ARCH=n
CONFIG_CLK_RZV2H_CPG_LIB=n
CONFIG_TI_ADS1015=n
CONFIG_SERIAL_8250_16550A_VARIANTS=n
CONFIG_ARCH_REALTEK=n
CONFIG_NET_SCH_MQPRIO_LIB=n
CONFIG_DVB_DYNAMIC_MINORS=n
CONFIG_CLK_RCAR_GEN4_CPG=n
CONFIG_EXYNOS_CHIPID=n
CONFIG_COMMON_CLK_APPLE_NCO=n
CONFIG_SERIAL_IMX_EARLYCON=n
CONFIG_COMMON_CLK_MEDIATEK_FHCTL=n
CONFIG_MTK_SOCINFO=n
CONFIG_PWM=n
CONFIG_NXP_NTMP=n
CONFIG_MSM_MMCC_8996=n
CONFIG_CRC_OPTIMIZATIONS=n
CONFIG_MEDIA_TUNER_XC5000=n
CONFIG_SCHED_CLUSTER=n
CONFIG_OVERLAY_FS=n
CONFIG_ARCH_LAYERSCAPE=n
CONFIG_UNIX98_PTYS=n
CONFIG_FB_DMAMEM_HELPERS_DEFERRED=n
CONFIG_COMMON_CLK_MT8195_VDECSYS=n
CONFIG_DRM_GPUVM=n
CONFIG_PCI_PWRCTRL_TC9563=n
CONFIG_HAVE_CLK=n
CONFIG_PCI_DOMAINS=n
CONFIG_SM_LPASSCC_6115=n
CONFIG_HI3660_MBOX=n
CONFIG_CLK_NORD_TCSRCC=n
CONFIG_SPI_FSL_QUADSPI=n
CONFIG_IPV6_SIT=n
CONFIG_HW_RANDOM_ATMEL=n
