CONFIG_SND_SOC_GENERIC_DMAENGINE_PCM=n
CONFIG_STANDALONE=n
CONFIG_PINCTRL_SOPHGO_COMMON=n
CONFIG_EFI_ESRT=n
CONFIG_JOLIET=n
CONFIG_PID_NS=n
CONFIG_NET_VENDOR_VERTEXCOM=n
CONFIG_CC_HAS_ZERO_CALL_USED_REGS=n
CONFIG_DRM_NOUVEAU=n
CONFIG_VETH=n
CONFIG_ARCH_THEAD=n
CONFIG_NET_9P_VIRTIO=n
CONFIG_INET=n
CONFIG_PROC_MEM_FORCE_PTRACE=n
CONFIG_NET_VENDOR_ADI=n
CONFIG_MMIOWB=n
CONFIG_HAVE_MOVE_PMD=n
CONFIG_SUNRPC=n
CONFIG_RISCV_ALTERNATIVE=n
CONFIG_SPI_CADENCE_QUADSPI=n
CONFIG_PHYLINK=n
CONFIG_LOCKD_V4=n
CONFIG_USB_OHCI_HCD=n
CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE=n
CONFIG_GROUP_SCHED_WEIGHT=n
CONFIG_ARCH_SPACEMIT=n
CONFIG_NET_VENDOR_MICREL=n
CONFIG_USB_EHCI_HCD_PLATFORM=n
CONFIG_DRM_MIPI_DSI=n
CONFIG_STRICT_MODULE_RWX=n
CONFIG_CLK_STARFIVE_JH7110_VOUT=n
CONFIG_TMPFS_XATTR=n
CONFIG_MOTORCOMM_PHY=n
CONFIG_ETHERNET=n
CONFIG_DRM_CLIENT_SETUP=n
CONFIG_ARCH_SUPPORTS_UPROBES=n
CONFIG_MTD_CFI_I1=n
CONFIG_HWMON=n
CONFIG_USB_EHCI_PCI=n
CONFIG_XZ_DEC=n
CONFIG_SUSPEND=n
CONFIG_SPACEMIT_CCU=n
CONFIG_MODULE_UNLOAD=n
CONFIG_VIRTIO_PCI_LIB=n
CONFIG_CC_NO_STRINGOP_OVERFLOW=n
CONFIG_MFD_AXP20X=n
CONFIG_RD_ZSTD=n
CONFIG_BLK_DEV_DM=n
CONFIG_PINMUX=n
CONFIG_ARCH_HAS_SETUP_DMA_OPS=n
CONFIG_NET_VENDOR_ATHEROS=n
CONFIG_MMC_SPI=n
CONFIG_CRYPTO_HMAC=n
CONFIG_VDSO_DATASTORE=n
CONFIG_VIRTIO_PCI_LEGACY=n
CONFIG_XZ_DEC_SPARC=n
CONFIG_DEBUG_KERNEL=n
CONFIG_CRYPTO_LIB_SHA512=n
CONFIG_REGMAP_MMIO=n
CONFIG_FB_CORE=n
CONFIG_MFD_AXP20X_I2C=n
CONFIG_CONTEXT_TRACKING=n
CONFIG_REGULATOR_AXP20X=n
CONFIG_INET_TCP_DIAG=n
CONFIG_MEDIA_PLATFORM_DRIVERS=n
CONFIG_SPI_SPACEMIT_K1=n
CONFIG_CRYPTO_USER_API_HASH=n
CONFIG_NF_CONNTRACK_FTP=n
CONFIG_HAVE_ARCH_SECCOMP_FILTER=n
CONFIG_RISCV_ALTERNATIVE_EARLY=n
CONFIG_HAVE_ARCH_SOFT_DIRTY=n
CONFIG_PCI_QUIRKS=n
CONFIG_WLAN_VENDOR_QUANTENNA=n
CONFIG_WLAN_VENDOR_INTERSIL=n
CONFIG_MTD_CFI=n
CONFIG_STACKPROTECTOR_PER_TASK=n
CONFIG_EFI=n
CONFIG_AUDIT=n
CONFIG_USB_XHCI_PCI=n
CONFIG_STACKPROTECTOR=n
CONFIG_GENERIC_IRQ_EFFECTIVE_AFF_MASK=n
CONFIG_MACVLAN=n
CONFIG_SYSCTL=n
CONFIG_CRYPTO_AEAD2=n
CONFIG_VIRTIO_DMA_SHARED_BUFFER=n
CONFIG_MEMTEST=n
CONFIG_FB_IOMEM_HELPERS=n
CONFIG_COMMON_CLK_ESWIN=n
CONFIG_CRYPTO_USER_API_ENABLE_OBSOLETE=n
CONFIG_SWPHY=n
CONFIG_OF_GPIO=n
CONFIG_BINARY_PRINTF=n
CONFIG_NET_CLS_CGROUP=n
CONFIG_HAVE_HARDLOCKUP_DETECTOR_BUDDY=n
CONFIG_HUGETLB_PAGE_OPTIMIZE_VMEMMAP=n
CONFIG_RUSTC_SUPPORTS_RISCV=n
CONFIG_VIRTIO_INPUT=n
CONFIG_USB_CDNS3_PCI_WRAP=n
CONFIG_ADVISE_SYSCALLS=n
CONFIG_MODULES_TREE_LOOKUP=n
CONFIG_NET_VENDOR_NI=n
CONFIG_PCI=n
CONFIG_PM_DEVFREQ=n
CONFIG_IOMMU_PT_RISCV64=n
CONFIG_I2C_HID=n
CONFIG_VT_HW_CONSOLE_BINDING=n
CONFIG_GENERIC_PINMUX_FUNCTIONS=n
CONFIG_WLAN_VENDOR_ZYDAS=n
CONFIG_MSDOS_FS=n
CONFIG_IP_VS_PROTO_TCP=n
CONFIG_COMPACTION=n
CONFIG_UNIX=n
CONFIG_FB=n
CONFIG_SERIAL_8250_PCI=n
CONFIG_LD_ORPHAN_WARN=n
CONFIG_SUN4I_TIMER=n
CONFIG_BLK_DEV_WRITE_MOUNTED=n
CONFIG_ARCH_HAS_ACPI_TABLE_UPGRADE=n
CONFIG_ARCH_DMA_DEFAULT_COHERENT=n
CONFIG_BACKLIGHT_CLASS_DEVICE=n
CONFIG_USB_CONFIGFS_F_FS=n
CONFIG_DMA_ACPI=n
CONFIG_NET_SOCK_MSG=n
CONFIG_USB=n
CONFIG_SPARSEMEM=n
CONFIG_NAMESPACES=n
CONFIG_NLATTR=n
CONFIG_BLOCK=n
CONFIG_SPI_FSL_QUADSPI=n
CONFIG_DAX=n
CONFIG_THREAD_INFO_IN_TASK=n
CONFIG_WLAN_VENDOR_MORSEMICRO=n
CONFIG_PTP_1588_CLOCK_OPTIONAL=n
CONFIG_ERRATA_SIFIVE_CIP_453=n
CONFIG_WLAN_VENDOR_TI=n
CONFIG_SUNXI_SRAM=n
CONFIG_SERIO_LIBPS2=n
CONFIG_NET_CLS=n
CONFIG_HAVE_ARCH_KFENCE=n
CONFIG_DRM_NOUVEAU_CH7006=n
CONFIG_ARCH_HAS_PTE_SPECIAL=n
CONFIG_DEVPORT=n
CONFIG_GPIO_DWAPB=n
CONFIG_MMU_GATHER_TABLE_FREE=n
CONFIG_GENERIC_PCI_IOMAP=n
CONFIG_CLK_SOPHGO_CV1800=n
CONFIG_HW_RANDOM_ATMEL=n
CONFIG_NET_VENDOR_REALTEK=n
CONFIG_REGULATOR_SUN20I=n
CONFIG_DECOMPRESS_LZ4=n
CONFIG_HAVE_KVM_IRQCHIP=n
CONFIG_SUNRPC_GSS=n
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO_BARE=n
CONFIG_NET_VENDOR_ALIBABA=n
CONFIG_GPIO_SIFIVE=n
CONFIG_HW_RANDOM=n
CONFIG_CGROUPS=n
CONFIG_RESET_EIC7700=n
CONFIG_IO_URING=n
CONFIG_EEPROM_93CX6=n
CONFIG_ACPI_MCFG=n
CONFIG_IP6_NF_IPTABLES=n
CONFIG_INPUT_KEYBOARD=n
CONFIG_ARCH_SUPPORTS_DEBUG_PAGEALLOC=n
CONFIG_NET_VENDOR_SPACEMIT=n
CONFIG_USB_PHY=n
CONFIG_MFD_SYSCON=n
CONFIG_KVM_COMMON=n
CONFIG_I2C_BOARDINFO=n
CONFIG_USB_OTG=n
CONFIG_EFI_GENERIC_STUB=n
CONFIG_SCHED_INFO=n
CONFIG_RTC_I2C_AND_SPI=n
CONFIG_GENERIC_IOREMAP=n
CONFIG_HAVE_PAGE_SIZE_4KB=n
CONFIG_CRYPTO=n
CONFIG_DRM_DISPLAY_HELPER=n
CONFIG_SPARSE_IRQ=n
CONFIG_CRYPTO_SKCIPHER=n
CONFIG_RING_BUFFER=n
CONFIG_RTC_DRV_GOLDFISH=n
CONFIG_ARCH_MICROCHIP=n
CONFIG_MTD_OF_PARTS=n
CONFIG_NET_SELFTESTS=n
CONFIG_NET_VENDOR_3COM=n
CONFIG_HAVE_KCSAN_COMPILER=n
CONFIG_XZ_DEC_ARM=n
CONFIG_NVME_CORE=n
CONFIG_ARCH_SUPPORTS_MSEAL_SYSTEM_MAPPINGS=n
CONFIG_TIMER_OF=n
CONFIG_CPU_FREQ_GOV_POWERSAVE=n
CONFIG_CC_HAS_NO_PROFILE_FN_ATTR=n
CONFIG_LIBFDT=n
CONFIG_NET=n
CONFIG_SERIAL_SIFIVE=n
CONFIG_NO_HZ_COMMON=n
CONFIG_SUN6I_MSGBOX=n
CONFIG_IP_VS=n
CONFIG_NET_VENDOR_META=n
CONFIG_NFS_V4=n
CONFIG_IPV6_SIT=n
CONFIG_MSDOS_PARTITION=n
CONFIG_REGULATOR_FIXED_VOLTAGE=n
CONFIG_SECURITYFS=n
CONFIG_CRYPTO_MANAGER2=n
CONFIG_MMC_SUNXI=n
CONFIG_RESET_TENSTORRENT_ATLANTIS=n
CONFIG_NET_VENDOR_RDC=n
CONFIG_WLAN_VENDOR_ADMTEK=n
CONFIG_INPUT_MOUSE=n
CONFIG_SERIAL_EARLYCON_RISCV_SBI=n
CONFIG_MEDIA_PLATFORM_SUPPORT=n
CONFIG_LIBNVDIMM=n
CONFIG_ATA_FORCE=n
CONFIG_HAVE_ALIGNED_STRUCT_PAGE=n
CONFIG_MMC_SDHCI_OF_DWCMSHC=n
CONFIG_KEYS=n
CONFIG_RISCV_ISA_V=n
CONFIG_USB_F_ACM=n
CONFIG_CPU_MITIGATIONS=n
CONFIG_DEBUG_MISC=n
CONFIG_USB_XHCI_PLATFORM=n
CONFIG_FW_LOADER=n
CONFIG_CACHESTAT_SYSCALL=n
CONFIG_CONSOLE_TRANSLATIONS=n
CONFIG_XFRM_ALGO=n
CONFIG_ACPI_DEBUG=n
CONFIG_SUN20I_D1_CCU=n
CONFIG_ERRATA_ANDES=n
CONFIG_ARCH_SUPPORTS_KEXEC_FILE=n
CONFIG_EXT4_FS=n
CONFIG_DMA_OF=n
CONFIG_HARDIRQS_SW_RESEND=n
CONFIG_HAVE_ARCH_THREAD_STRUCT_WHITELIST=n
CONFIG_SECURITY_SELINUX_DEVELOP=n
CONFIG_SECCOMP=n
CONFIG_VT_CONSOLE=n
CONFIG_NET_VENDOR_RENESAS=n
CONFIG_HOTPLUG_CORE_SYNC=n
CONFIG_HAVE_LD_DEAD_CODE_DATA_ELIMINATION=n
CONFIG_POSIX_CPU_TIMERS_TASK_WORK=n
CONFIG_CONFIGFS_FS=n
CONFIG_AUDIT_GENERIC=n
CONFIG_CRC32=n
CONFIG_SERIAL_8250=n
CONFIG_ERRATA_THEAD_GHOSTWRITE=n
CONFIG_RISCV_IMSIC=n
CONFIG_ACPI_PROCESSOR_IDLE=n
CONFIG_STACKDEPOT=n
CONFIG_PCIEPORTBUS=n
CONFIG_EVENT_TRACING=n
CONFIG_ACPI_AC=n
CONFIG_VHOST_ENABLE_FORK_OWNER_CONTROL=n
CONFIG_VIDEO=n
CONFIG_KVM=n
CONFIG_NFS_FS=n
CONFIG_PINCTRL_SUN20I_D1=n
CONFIG_RESET_STARFIVE_JH71X0=n
CONFIG_IRQ_DOMAIN_HIERARCHY=n
CONFIG_NET_VENDOR_TEHUTI=n
CONFIG_COMPAT=n
CONFIG_PINCTRL_SOPHGO_CV18XX_OPS=n
CONFIG_RISCV_NONSTANDARD_CACHE_OPS=n
CONFIG_HAS_SECURITY_AUDIT=n
CONFIG_CPU_FREQ_GOV_CONSERVATIVE=n
CONFIG_DECOMPRESS_GZIP=n
CONFIG_TASKS_RCU_GENERIC=n
CONFIG_PROC_CHILDREN=n
CONFIG_POSIX_TIMERS=n
CONFIG_PINCTRL_SOPHGO_CV1800B=n
CONFIG_CRC32_ARCH=n
CONFIG_TASKS_TRACE_RCU=n
CONFIG_WLAN_VENDOR_BROADCOM=n
CONFIG_USB_CONFIGFS=n
CONFIG_DWMAC_SUN8I=n
CONFIG_BLK_CGROUP_PUNT_BIO=n
CONFIG_PWM_PXA=n
CONFIG_NET_EGRESS=n
CONFIG_GPIO_PCA953X=n
CONFIG_V4L2_FWNODE=n
CONFIG_DEBUG_INFO_NONE=n
CONFIG_TOOLCHAIN_NEEDS_EXPLICIT_ZICSR_ZIFENCEI=n
CONFIG_NET_SCHED=n
CONFIG_TTY=n
CONFIG_PINCTRL_STARFIVE_JH7110_AON=n
CONFIG_NF_DEFRAG_IPV4=n
CONFIG_NET_VENDOR_SEEQ=n
CONFIG_BLOCK_HOLDER_DEPRECATED=n
CONFIG_CLK_STARFIVE_JH7100_AUDIO=n
CONFIG_CPUFREQ_DT_PLATDEV=n
CONFIG_DMA_COHERENT_POOL=n
CONFIG_RESET_STARFIVE_JH7110=n
CONFIG_PHY_STARFIVE_JH7110_PCIE=n
CONFIG_ARCH_HAS_ELF_CORE_EFLAGS=n
CONFIG_MULTIUSER=n
CONFIG_MMP_PDMA=n
CONFIG_MOUSE_PS2_TRACKPOINT=n
CONFIG_BLK_DEV_SD=n
CONFIG_EXT4_USE_FOR_EXT2=n
CONFIG_SERIAL_MCTRL_GPIO=n
