CONFIG_TWL4030_MADC=y
CONFIG_ACPI_CCA_REQUIRED=y
CONFIG_SENSORS_XDP710=y
CONFIG_MTD_CFI_STAA=y
CONFIG_TOUCHSCREEN_IMX6UL_TSC=y
CONFIG_SSB=y
CONFIG_RPMSG=y
CONFIG_PHY_ROCKCHIP_NANENG_COMBO_PHY=y
CONFIG_TASKS_RCU=y
CONFIG_W1_SLAVE_DS2408=y
CONFIG_ARCH_INTEL_SOCFPGA=y
CONFIG_VIPERBOARD_ADC=y
CONFIG_CRYPTO_DEV_KEEMBAY_OCS_AES_SM4=y
CONFIG_CGROUP_MISC=y
CONFIG_HID_CP2112=y
CONFIG_SMP=y
CONFIG_SENSORS_MAX20860A=y
CONFIG_ARCH_HAS_STRICT_KERNEL_RWX=y
CONFIG_REGULATOR_TPS62360=y
CONFIG_LEDS_LP5812=y
CONFIG_NLATTR=y
CONFIG_VERSAL_SYSMON_I2C=y
CONFIG_VSOCKETS=y
CONFIG_GP2AP020A00F=y
CONFIG_REGMAP_W1=y
CONFIG_CPU_FREQ_DEFAULT_GOV_SCHEDUTIL=y
CONFIG_COMMON_CLK_MT8195_SCP_ADSP=y
CONFIG_REGULATOR_RASPBERRYPI_TOUCHSCREEN_V2=y
CONFIG_RANDSTRUCT_NONE=y
CONFIG_GPIO_DAVINCI=y
CONFIG_RAPIDIO=y
CONFIG_USB_XHCI_HCD=y
CONFIG_FPGA_MGR_MICROCHIP_SPI=y
CONFIG_PATA_CYPRESS=y
CONFIG_CHARGER_MAX77759=y
CONFIG_PXA1908_PM_DOMAINS=y
CONFIG_MCB_LPC=y
CONFIG_CRYPTO_HW=y
CONFIG_RC_ATI_REMOTE=y
CONFIG_RESET_MCHP_SPARX5=y
CONFIG_I2C_MLXCPLD=y
CONFIG_PINCTRL_MT8365=y
CONFIG_LRU_GEN_WALKS_MMU=y
CONFIG_PCIE_CADENCE_DEBUGFS=y
CONFIG_BLK_DEV_BSG_COMMON=y
CONFIG_COMEDI_ADDI_APCI_2200=y
CONFIG_TOUCHSCREEN_CY8CTMA140=y
CONFIG_EXCLUSIVE_SYSTEM_RAM=y
CONFIG_HAVE_SAMPLE_FTRACE_DIRECT=y
CONFIG_NVIDIA_OLYMPUS_1027_ERRATUM=y
CONFIG_ARCH_NPCM=y
CONFIG_SENSORS_PIM4328=y
CONFIG_FW_CS_DSP=y
CONFIG_RCU_REF_SCALE_TEST=y
CONFIG_HAVE_KPROBES=y
CONFIG_TI_DAC7311=y
CONFIG_SCSI_UFSHCD_PCI=y
CONFIG_HOTPLUG_CORE_SYNC=y
CONFIG_SENSORS_ADM1177=y
CONFIG_I2C_QCOM_CCI=y
CONFIG_EXYNOS_USI=y
CONFIG_KEYBOARD_QT2160=y
CONFIG_CRYPTO_DEV_ASPEED=y
CONFIG_PATA_TOSHIBA=y
CONFIG_W1_MASTER_AMD_AXI=y
CONFIG_REGULATOR_MAX20086=y
CONFIG_SENSORS_STTS751=y
CONFIG_CRC_OPTIMIZATIONS=y
CONFIG_PINCTRL_SM8350=y
CONFIG_VSI_IOMMU=y
CONFIG_FPGA_DFL_PCI=y
CONFIG_TOUCHSCREEN_AUO_PIXCIR=y
CONFIG_IEEE802154_NL802154_EXPERIMENTAL=y
CONFIG_9P_FS_POSIX_ACL=y
CONFIG_VFIO_IOMMU_TYPE1=y
CONFIG_FTRACE_RECORD_RECURSION=y
CONFIG_PINCTRL_MA35=y
CONFIG_TOUCHSCREEN_SILEAD=y
CONFIG_CHARGER_MAX77705=y
CONFIG_ADIS16209=y
CONFIG_COMMON_CLK_SI5351=y
CONFIG_REGULATOR_MAX8925=y
CONFIG_TI_ADS8344=y
CONFIG_QCOM_AOSS_QMP=y
CONFIG_MCB=y
CONFIG_ARCH_SUPPORTS_KEXEC_FILE=y
CONFIG_EXYNOS_AUDSS_CLK_CON=y
CONFIG_MTD_RAW_NAND=y
CONFIG_SCSI_ADVANSYS=y
CONFIG_ASYMMETRIC_KEY_TYPE=y
CONFIG_FS_ENCRYPTION=y
CONFIG_BRANCH_TRACER=y
CONFIG_MTK_INFRACFG=y
CONFIG_PCIEASPM_PERFORMANCE=y
CONFIG_HWMON_VID=y
CONFIG_DCACHE_WORD_ACCESS=y
CONFIG_AD7887=y
CONFIG_ARM64_ERRATUM_824069=y
CONFIG_VF610_ADC=y
CONFIG_PATA_CMD640_PCI=y
CONFIG_CHARGER_TWL4030=y
CONFIG_REGULATOR_DA903X=y
CONFIG_CRYPTO_DEV_CCREE=y
CONFIG_TOUCHSCREEN_MELFAS_MIP4=y
CONFIG_BATTERY_ACT8945A=y
CONFIG_COMMON_CLK_MT8188=y
CONFIG_I2C_PIIX4=y
CONFIG_USB_EHSET_TEST_FIXTURE=y
CONFIG_SENSORS_D1U74T=y
CONFIG_HAVE_TRUSTED_KEYS=y
CONFIG_ARCH_HAS_CPU_CACHE_INVALIDATE_MEMREGION=y
CONFIG_GPIO_POLARFIRE_SOC=y
CONFIG_HTS221=y
CONFIG_MTK_MFG_PM_DOMAIN=y
CONFIG_MFD_MAX14577=y
CONFIG_EFI_VARS_PSTORE=y
CONFIG_INPUT_FF_MEMLESS=y
CONFIG_CHARGER_MT6370=y
CONFIG_NVMEM_UNIPHIER_EFUSE=y
CONFIG_BPF_JIT_DEFAULT_ON=y
CONFIG_CLK_VEXPRESS_OSC=y
CONFIG_COMMON_CLK_MT8516=y
CONFIG_SCSI_MYRS=y
CONFIG_TI_PRUSS_INTC=y
CONFIG_PINCTRL_SC8280XP_LPASS_LPI=y
CONFIG_FB_MATROX_I2C=y
CONFIG_PM_GENERIC_DOMAINS=y
CONFIG_FAULT_INJECTION_CONFIGFS=y
CONFIG_TOUCHSCREEN_ADS7846=y
CONFIG_SERIO_PARKBD=y
CONFIG_OLPC_XO175=y
CONFIG_TIMER_PROBE=y
CONFIG_SCSI_STEX=y
CONFIG_PHY_QCOM_QMP_PCIE=y
CONFIG_QCOM_IOMMU=y
CONFIG_HID_VIEWSONIC=y
CONFIG_EXT2_FS=y
CONFIG_LITEX_SOC_CONTROLLER=y
CONFIG_SENSORS_DME1737=y
CONFIG_RPMSG_NS=y
CONFIG_KEYBOARD_STMPE=y
CONFIG_NLS_CODEPAGE_737=y
CONFIG_CRYPTO_DEV_MARVELL=y
CONFIG_NLS_ISO8859_5=y
CONFIG_STRICT_KERNEL_RWX=y
CONFIG_GENERIC_IDLE_POLL_SETUP=y
CONFIG_TOUCHSCREEN_NOVATEK_NVT_TS=y
CONFIG_SENSORS_LTC4260=y
CONFIG_SENSORS_W83L785TS=y
CONFIG_PINCTRL_SOPHGO_SG2042_OPS=y
CONFIG_LOGITECH_FF=y
CONFIG_ARCH_HAS_ACPI_TABLE_UPGRADE=y
CONFIG_COMEDI_NI_6527=y
CONFIG_SENSORS_ADM1025=y
CONFIG_FORCE_TASKS_TRACE_RCU=y
CONFIG_GENERIC_ADC_BATTERY=y
CONFIG_MTD_CFI_UTIL=y
CONFIG_BUILDTIME_TABLE_SORT=y
CONFIG_LEDS_OSRAM_AMS_AS3668=y
CONFIG_LEDS_AW200XX=y
CONFIG_LEDS_TRIGGER_BACKLIGHT=y
CONFIG_NETWORK_SECMARK=y
CONFIG_VFIO_GROUP=y
CONFIG_PINCTRL_EXYNOS=y
CONFIG_RFD77402=y
CONFIG_AD7746=y
CONFIG_SENSORS_IR36021=y
CONFIG_SENSORS_LM25066=y
CONFIG_IR_ENE=y
CONFIG_IIO_KX022A=y
CONFIG_UIO_DFL=y
CONFIG_ARMADA_CP110_SYSCON=y
CONFIG_CPU_ISOLATION=y
CONFIG_AHCI_MTK=y
CONFIG_HID_SENSOR_ALS=y
CONFIG_SENSORS_MP2993=y
CONFIG_ATA=y
CONFIG_HYPERV_VSOCKETS=y
CONFIG_SCSI_PM8001=y
CONFIG_MTK_GPUEB_MBOX=y
CONFIG_NTB_SWITCHTEC=y
CONFIG_CRYPTO_STREEBOG=y
CONFIG_PWM_CLK=y
CONFIG_TRACING=y
CONFIG_CC_HAS_ASM_INLINE=y
CONFIG_TASKS_TRACE_RCU_NO_MB=y
CONFIG_MS5611_SPI=y
CONFIG_TI_ADS8688=y
CONFIG_BT_ATH3K=y
CONFIG_NVMEM_LAYOUTS=y
CONFIG_I2C_MUX_PINCTRL=y
CONFIG_LZO_COMPRESS=y
CONFIG_HAVE_RELIABLE_STACKTRACE=y
CONFIG_NET_SCH_FIFO=y
CONFIG_COMMON_CLK_MT8183_AUDIOSYS=y
CONFIG_TOUCHSCREEN_GOODIX=y
CONFIG_PINCTRL_IPQ5018=y
CONFIG_TCM_FILEIO=y
CONFIG_ARCH_WANTS_EXECMEM_LATE=y
CONFIG_ACCESSIBILITY=y
CONFIG_GPIB_LPVO=y
CONFIG_SPI_MICROCHIP_CORE_QSPI=y
CONFIG_EXECMEM=y
CONFIG_MFD_TQMX86=y
CONFIG_BLOCK=y
CONFIG_FSNOTIFY=y
CONFIG_VZ89X=y
CONFIG_HAVE_ARCH_KASAN_VMALLOC=y
CONFIG_LEDS_LP5521=y
CONFIG_ARM_ARMADA_8K_CPUFREQ=y
CONFIG_QUOTA_NETLINK_INTERFACE=y
CONFIG_MCP4922=y
CONFIG_MEDIA_CEC_SUPPORT=y
CONFIG_BLK_DEV_INITRD=y
CONFIG_SENSORS_BPA_RS600=y
CONFIG_BLK_DEV=y
CONFIG_MFD_88PM805=y
CONFIG_QCOM_GENI_SE=y
CONFIG_CRYPTO_LIB_NH=y
CONFIG_BMC150_ACCEL_I2C=y
CONFIG_NET_EMATCH=y
CONFIG_PHY_MAPPHONE_MDM6600=y
CONFIG_OSF_PARTITION=y
CONFIG_ARCH_HAS_CC_PLATFORM=y
CONFIG_AD4134=y
CONFIG_MFD_MAX77686=y
CONFIG_HAVE_EBPF_JIT=y
CONFIG_SENSORS_LM83=y
CONFIG_CRC32=y
CONFIG_GPIO_DS4520=y
CONFIG_LINEDISP=y
CONFIG_GPIO_XRA1403=y
CONFIG_CRAMFS_MTD=y
CONFIG_AD5686=y
CONFIG_ARM64_ERRATUM_1508412=y
CONFIG_MEMBLOCK_KHO_SCRATCH=y
CONFIG_CPU_FREQ_GOV_CONSERVATIVE=y
CONFIG_COMMON_CLK_MT6735_VENCSYS=y
CONFIG_CRYPTO_SIG2=y
CONFIG_COMMON_CLK_MT8183_MFGCFG=y
CONFIG_NET_SCH_DUALPI2=y
CONFIG_NLS_CODEPAGE_950=y
CONFIG_LZ4_COMPRESS=y
CONFIG_LD_CAN_USE_KEEP_IN_OVERLAY=y
CONFIG_TRACE_IRQFLAGS_SUPPORT=y
CONFIG_COMMON_CLK_XGENE=y
CONFIG_SENSORS_LTC4261=y
CONFIG_COMPAT_32BIT_TIME=y
CONFIG_AIROHA_THERMAL=y
CONFIG_PHY_OCELOT_SERDES=y
CONFIG_PHY_ROCKCHIP_USB=y
CONFIG_AD7192=y
CONFIG_CRYPTO_SM4_ARM64_CE=y
CONFIG_RC_DEVICES=y
CONFIG_PROC_MEM_ALWAYS_FORCE=y
CONFIG_I2C_DIOLAN_U2C=y
CONFIG_PHY_MTK_XSPHY=y
CONFIG_PATA_EFAR=y
CONFIG_PINCTRL_MT6795=y
CONFIG_IRQ_DOMAIN_HIERARCHY=y
CONFIG_RESET_GPIO=y
CONFIG_AD5761=y
CONFIG_INFTL=y
CONFIG_PHY_ROCKCHIP_SAMSUNG_HDPTX=y
CONFIG_I2C_HID_CORE=y
CONFIG_SENSORS_ADT7411=y
CONFIG_BATTERY_RT5033=y
CONFIG_CLK_SOPHGO_SG2044_PLL=y
CONFIG_HID_SAMSUNG=y
CONFIG_PCI_KEYSTONE_HOST=y
CONFIG_BATTERY_UG3105=y
CONFIG_CRYPTO_ZSTD=y
CONFIG_MFD_MAX77650=y
CONFIG_CRYPTO=y
CONFIG_HID_XIAOMI=y
CONFIG_INPUT_MAX8925_ONKEY=y
CONFIG_ACPI_BGRT=y
CONFIG_HID_MICROSOFT=y
CONFIG_I2C_DEMUX_PINCTRL=y
CONFIG_IR_FINTEK=y
CONFIG_TOUCHSCREEN_AD7879_I2C=y
CONFIG_MEMTEST=y
CONFIG_SCSI_MOD=y
CONFIG_ARM_SCMI_HAVE_TRANSPORT=y
CONFIG_LEDS_MT6360=y
CONFIG_IOMMU_MM_DATA=y
CONFIG_COMMON_CLK_MT6779=y
CONFIG_I2C_QUP=y
CONFIG_SCREEN_INFO=y
CONFIG_PATA_ATP867X=y
CONFIG_LEGACY_TIOCSTI=y
CONFIG_PINCTRL_MSM8976=y
CONFIG_TOUCHSCREEN_ATMEL_MXT=y
CONFIG_PINCTRL_PIC64GX=y
CONFIG_MTD_CMDLINE_PARTS=y
CONFIG_SIGNALFD=y
CONFIG_CRYPTO_LIB_SHA3_ARCH=y
CONFIG_REGULATOR_LP872X=y
CONFIG_IO_WQ=y
CONFIG_HWMON_DEBUG_CHIP=y
CONFIG_MFD_CS42L43_I2C=y
CONFIG_AD7293=y
CONFIG_FB_ATY=y
CONFIG_HID_VIVALDI_COMMON=y
CONFIG_MTD_CFI=y
CONFIG_ROMFS_BACKED_BY_MTD=y
CONFIG_HID_TOPSEED=y
CONFIG_EXYNOS_ADC=y
CONFIG_MMC5983=y
CONFIG_SENSORS_AD7414=y
CONFIG_ARCH_HAS_PREEMPT_LAZY=y
CONFIG_GPIB_CEC_PCI=y
CONFIG_FW_CACHE=y
CONFIG_PHY_CADENCE_DPHY_RX=y
CONFIG_MFD_PF1550=y
CONFIG_AUDIT_ARCH_COMPAT_GENERIC=y
CONFIG_MVEBU_ICU=y
CONFIG_VERSAL_SYSMON=y
CONFIG_HYPERV_KEYBOARD=y
CONFIG_IRQCHIP=y
CONFIG_THREAD_INFO_IN_TASK=y
CONFIG_MOST_USB_HDM=y
CONFIG_PINCTRL_MSM8953=y
CONFIG_UNIPHIER_SYSTEM_BUS=y
CONFIG_ARCH_BINFMT_ELF_EXTRA_PHDRS=y
CONFIG_OPT4060=y
CONFIG_LLC=y
CONFIG_HAVE_SAMPLE_FTRACE_DIRECT_MULTI=y
CONFIG_INITRAMFS_PRESERVE_MTIME=y
CONFIG_BMI323=y
CONFIG_TOUCHSCREEN_ILI210X=y
CONFIG_THERMAL_GOV_STEP_WISE=y
CONFIG_PATA_HPT3X2N=y
CONFIG_REGULATOR_LP8755=y
CONFIG_COMMON_CLK_MT8516_AUDSYS=y
CONFIG_PHY_MA35_USB=y
CONFIG_OF_IRQ=y
CONFIG_USB_XHCI_PLATFORM=y
CONFIG_CFG80211_DEFAULT_PS=y
CONFIG_SCSI_DH=y
CONFIG_ARMADA_AP_CP_HELPER=y
CONFIG_PINCTRL_OCELOT=y
CONFIG_RING_BUFFER_RECORD_RECURSION=y
CONFIG_ARM_SCMI_HAVE_SHMEM=y
CONFIG_CHARGER_SGM41542=y
CONFIG_MMA7660=y
CONFIG_LEDS_BCM6328=y
CONFIG_TYPEC_TPS6598X=y
CONFIG_COMEDI_ADV_PCI1710=y
CONFIG_SENSORS_PCF8591=y
CONFIG_PRINTK=y
CONFIG_EXPERT=y
CONFIG_ARCH_SUPPORTS_ATOMIC_RMW=y
CONFIG_USB_XHCI_MTK=y
CONFIG_COMMON_CLK_MAX9485=y
CONFIG_REGULATOR_MAX8660=y
CONFIG_TOUCHSCREEN_AD7879=y
CONFIG_CEC_PIN=y
CONFIG_MAILBOX=y
CONFIG_CRYPTO_LIB_AESCFB=y
CONFIG_HOTPLUG_CORE_SYNC_DEAD=y
CONFIG_MMU_LAZY_TLB_REFCOUNT=y
CONFIG_SENSORS_LOCHNAGAR=y
CONFIG_SENSORS_MAX1111=y
CONFIG_KEYBOARD_NEWTON=y
CONFIG_JFFS2_RUBIN=y
CONFIG_MFD_RDC321X=y
CONFIG_WIRELESS=y
CONFIG_INV_ICM42600=y
CONFIG_TI_K3_SOCINFO=y
CONFIG_CRC_T10DIF=y
CONFIG_XFS_DEBUG_EXPENSIVE=y
CONFIG_PHY_QCOM_QMP_USB=y
CONFIG_LCD_PLATFORM=y
CONFIG_FW_LOADER_USER_HELPER=y
CONFIG_SCSI_SNIC=y
CONFIG_GLOB=y
CONFIG_MFD_MAX77714=y
CONFIG_INTERVAL_TREE=y
CONFIG_SERIO_SERPORT=y
CONFIG_ARM_SMMU_V3_SVA=y
CONFIG_SENSORS_MPQ8646=y
CONFIG_AD7780=y
CONFIG_ZPA2326_I2C=y
CONFIG_SPI_DYNAMIC=y
CONFIG_GENERIC_CSUM=y
CONFIG_AD7280=y
CONFIG_UIO_PCI_GENERIC_SVA=y
CONFIG_AS73211=y
CONFIG_TOUCHSCREEN_ADC=y
CONFIG_PHY_UNIPHIER_USB3=y
CONFIG_SENSORS_GIGABYTE_WATERFORCE=y
CONFIG_VEML6030=y
CONFIG_SENSORS_E50SN12051=y
CONFIG_INV_ICM45600_SPI=y
CONFIG_SPI_SIFIVE=y
CONFIG_VEXPRESS_CONFIG=y
CONFIG_NET_SOCK_MSG=y
CONFIG_SENSORS_G762=y
CONFIG_FB_SYS_COPYAREA=y
CONFIG_BT_SELFTEST_SMP=y
CONFIG_ABP2030PA_SPI=y
CONFIG_MTD_CFI_INTELEXT=y
CONFIG_QCOM_TSENS=y
CONFIG_PINMUX=y
CONFIG_I2C_DEBUG_ALGO=y
CONFIG_INPUT_KEYBOARD=y
CONFIG_ORANGEFS_FS=y
CONFIG_PINCTRL_MT8167=y
CONFIG_USB_DEFAULT_PERSIST=y
CONFIG_I2C_ALI15X3=y
CONFIG_FB_CORE=y
CONFIG_ARM_SCMI_HAVE_MSG=y
CONFIG_DEBUG_PLIST=y
CONFIG_COMEDI_DT3000=y
CONFIG_MTD_COMPLEX_MAPPINGS=y
CONFIG_PHY_GOOGLE_USB=y
CONFIG_REGULATOR_FAN53880=y
CONFIG_BMI323_SPI=y
CONFIG_SPARSEMEM_VMEMMAP_ENABLE=y
CONFIG_MTD_PMC551=y
CONFIG_SENSORS_ATXP1=y
CONFIG_SPI_MASTER=y
CONFIG_INPUT=y
CONFIG_GPIO_MLXBF3=y
CONFIG_CLONE_BACKWARDS=y
CONFIG_MAC802154=y
CONFIG_USB_DWC2_DEBUG=y
CONFIG_PWM_AIROHA=y
CONFIG_STM_SOURCE_HEARTBEAT=y
CONFIG_TOUCHSCREEN_BU21029=y
CONFIG_BCMA_POSSIBLE=y
CONFIG_PATA_SCH=y
CONFIG_PCI_ATS=y
CONFIG_TOUCHSCREEN_SX8654=y
CONFIG_HAVE_CMPXCHG_LOCAL=y
CONFIG_GPIO_LP3943=y
CONFIG_HID_SEMITEK=y
CONFIG_I2C_NCT6694=y
CONFIG_ADIS16480=y
CONFIG_GPIO_VIRTUSER=y
CONFIG_UNIX98_PTYS=y
CONFIG_SENSORS_EMC6W201=y
CONFIG_GPIO_MC33880=y
CONFIG_TCG_TIS_I2C_NUVOTON=y
CONFIG_SCSI_SAS_LIBSAS=y
CONFIG_CRYPTO_LIB_POLY1305_ARCH=y
CONFIG_IPMI_SSIF=y
CONFIG_REGULATOR_RT6245=y
CONFIG_NET_DEVLINK=y
CONFIG_USB_DWC3_HOST=y
CONFIG_REGULATOR_BCM590XX=y
CONFIG_FB_SIS=y
CONFIG_ICP10100=y
CONFIG_MFD_DLN2=y
CONFIG_ROCKCHIP_PM_DOMAINS=y
CONFIG_PHY_ROCKCHIP_INNO_HDMI=y
CONFIG_INPUT_IBM_PANEL=y
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE=y
CONFIG_ARCH_HAS_SETUP_DMA_OPS=y
CONFIG_MOUSE_ELAN_I2C=y
CONFIG_LCD_ILI922X=y
CONFIG_ARM_AMBA=y
CONFIG_PCI_EPF_NTB=y
CONFIG_IPMI_DEVICE_INTERFACE=y
CONFIG_BLK_DEV_ZONED=y
CONFIG_SENSORS_MC33XS2410=y
CONFIG_XDP_SOCKETS=y
CONFIG_PTP_DFL_TOD=y
CONFIG_BATTERY_DA9150=y
CONFIG_BT_VIRTIO=y
CONFIG_PINCTRL_MTK_V2=y
CONFIG_CRYPTO_AEGIS128=y
CONFIG_ALPINE_MSI=y
CONFIG_MUX_ADGS1408=y
CONFIG_NLS_CODEPAGE_775=y
CONFIG_NLS_CODEPAGE_936=y
CONFIG_COMMON_CLK_MT8183_IPU_CORE1=y
CONFIG_TOUCHSCREEN_USB_EASYTOUCH=y
CONFIG_PINCTRL_MILOS_LPASS_LPI=y
CONFIG_TOUCHSCREEN_EGALAX=y
CONFIG_COMEDI_NI_PCIMIO=y
CONFIG_ARCH_SUPPORTS_DEBUG_PAGEALLOC=y
CONFIG_HID_CYPRESS=y
CONFIG_SENSORS_W83795=y
CONFIG_HID_PANTHERLORD=y
CONFIG_MOUSE_SYNAPTICS_I2C=y
CONFIG_JFFS2_FS_XATTR=y
CONFIG_PINCTRL_QCM2290=y
CONFIG_NET_SCH_HTB=y
CONFIG_FIREWIRE_OHCI=y
CONFIG_CRYPTO_LIB_SHA256=y
CONFIG_GPIO_TPIC2810=y
CONFIG_NTB=y
CONFIG_VGA_ARB=y
CONFIG_REGMAP_MMIO=y
CONFIG_CC_NO_ARRAY_BOUNDS=y
CONFIG_PINCTRL_MICROCHIP_SGPIO=y
CONFIG_DEBUG_SPINLOCK=y
CONFIG_RESET_UNIPHIER_GLUE=y
