CONFIG_ARCH_HAS_FAST_MULTIPLIER=n
CONFIG_AGP_INTEL=n
CONFIG_INPUT_SPARSEKMAP=n
CONFIG_REGMAP=n
CONFIG_PM_SLEEP_DEBUG=n
CONFIG_BLK_CGROUP_IOLATENCY=n
CONFIG_SND_HWDEP=n
CONFIG_NET_VENDOR_MICROSEMI=n
CONFIG_SERIAL_8250_LPSS=n
CONFIG_RD_LZMA=n
CONFIG_KERNEL_GZIP=n
CONFIG_SCSI_COMMON=n
CONFIG_PRINTK=n
CONFIG_FAT_FS=n
CONFIG_SCHED_CACHE=n
CONFIG_GENERIC_SMP_IDLE_THREAD=n
CONFIG_TIGON3_HWMON=n
CONFIG_NET_VENDOR_OKI=n
CONFIG_HAVE_IRQ_TIME_ACCOUNTING=n
CONFIG_CGROUP_CPUACCT=n
CONFIG_CRYPTO_AKCIPHER2=n
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO_BARE=n
CONFIG_NEED_DMA_MAP_STATE=n
CONFIG_SERIAL_8250_PCILIB=n
CONFIG_NF_CT_NETLINK=n
CONFIG_UPROBES=n
CONFIG_ASN1=n
CONFIG_SERIAL_8250=n
CONFIG_HID_SAMSUNG=n
CONFIG_PNFS_FLEXFILE_LAYOUT=n
CONFIG_KRETPROBES=n
CONFIG_NF_CONNTRACK_SECMARK=n
CONFIG_HAVE_ARCH_MMAP_RND_BITS=n
CONFIG_HAVE_ALIGNED_STRUCT_PAGE=n
CONFIG_RING_BUFFER=n
CONFIG_HIBERNATE_CALLBACKS=n
CONFIG_HIDRAW=n
CONFIG_AMD_NB=n
CONFIG_HAVE_GCC_PLUGINS=n
CONFIG_TRACEFS_AUTOMOUNT_DEPRECATED=n
CONFIG_HARDIRQS_SW_RESEND=n
CONFIG_MITIGATION_IBPB_ENTRY=n
CONFIG_ATA_FORCE=n
CONFIG_ARCH_WANT_DEFAULT_BPF_JIT=n
CONFIG_MITIGATION_RETHUNK=n
CONFIG_TREE_RCU=n
CONFIG_GENERIC_CMOS_UPDATE=n
CONFIG_VIRTIO_BLK=n
CONFIG_CRYPTO_CAMELLIA=n
CONFIG_NET_VENDOR_QLOGIC=n
CONFIG_NETCONSOLE=n
CONFIG_MMU_LAZY_TLB_REFCOUNT=n
CONFIG_ADVISE_SYSCALLS=n
CONFIG_NET_VENDOR_DEC=n
CONFIG_CRYPTO_SIG2=n
CONFIG_MOUSE_PS2_FOCALTECH=n
CONFIG_MITIGATION_MMIO_STALE_DATA=n
CONFIG_RTC_CLASS=n
CONFIG_PCI_QUIRKS=n
CONFIG_CPU_RMAP=n
CONFIG_SGL_ALLOC=n
CONFIG_NETDEVICES=n
CONFIG_NFS_DISABLE_UDP_SUPPORT=n
CONFIG_DEBUG_FS=n
CONFIG_ARCH_SUPPORTS_KEXEC_SIG=n
CONFIG_EFI_RUNTIME_WRAPPERS=n
CONFIG_ARCH_SUPPORTS_SCHED_MC=n
CONFIG_DECOMPRESS_XZ=n
CONFIG_CPU_IDLE_GOV_HALTPOLL=n
CONFIG_CRYPTO_LIB_SHA256_ARCH=n
CONFIG_THERMAL_NETLINK=n
CONFIG_DRM_PANEL_ORIENTATION_QUIRKS=n
CONFIG_NET_FLOW_LIMIT=n
CONFIG_HAVE_CALL_THUNKS=n
CONFIG_CRYPTO_LIB_SHA512=n
CONFIG_NUMA_MIGRATION=n
CONFIG_CRYPTO_HASH2=n
CONFIG_HW_RANDOM=n
CONFIG_GENERIC_SYSCALL=n
CONFIG_FUTEX_PI=n
CONFIG_ARCH_HIBERNATION_HEADER=n
CONFIG_HAVE_UACCESS_VALIDATION=n
CONFIG_ARCH_HAS_GIGANTIC_PAGE=n
CONFIG_WLAN_VENDOR_PURELIFI=n
CONFIG_ARCH_SUPPORTS_PAGE_TABLE_CHECK=n
CONFIG_SYSCTL_EXCEPTION_TRACE=n
CONFIG_XFRM=n
CONFIG_SLUB_DEBUG=n
CONFIG_RELAY=n
CONFIG_ARCH_HAS_CACHE_LINE_SIZE=n
CONFIG_MTRR=n
CONFIG_ZONE_DMA32=n
CONFIG_FIB_RULES=n
CONFIG_ARCH_WANTS_NO_INSTR=n
CONFIG_NETFILTER_XT_TARGET_CONNSECMARK=n
CONFIG_EFI_EARLYCON=n
CONFIG_UNWINDER_ORC=n
CONFIG_PPS=n
CONFIG_ARCH_PROC_KCORE_TEXT=n
CONFIG_ARCH_HAS_ELFCORE_COMPAT=n
CONFIG_HAVE_ARCH_TRACEHOOK=n
CONFIG_RTC_LIB=n
CONFIG_DMA_SHARED_BUFFER=n
CONFIG_DYNAMIC_EVENTS=n
CONFIG_PAGE_SIZE_LESS_THAN_256KB=n
CONFIG_X86_REQUIRED_FEATURE_FPU=n
CONFIG_CRASH_RESERVE=n
CONFIG_EPROBE_EVENTS=n
CONFIG_PRINTK_TIME=n
CONFIG_NFS_ACL_SUPPORT=n
CONFIG_HAVE_RUST=n
CONFIG_HAVE_ARCH_KGDB=n
CONFIG_LEGACY_TIOCSTI=n
CONFIG_ARCH_WANT_COMPAT_IPC_PARSE_VERSION=n
CONFIG_PERF_EVENTS_AMD_UNCORE=n
CONFIG_RCU_STALL_COMMON=n
CONFIG_AMD_IOMMU=n
CONFIG_SERIAL_NONSTANDARD=n
CONFIG_X86_BUS_LOCK_DETECT=n
CONFIG_SUSPEND=n
CONFIG_PERF_EVENTS_INTEL_RAPL=n
CONFIG_ARCH_HAS_MEM_ENCRYPT=n
CONFIG_SND_HDA_COMPONENT=n
CONFIG_SCSI_SPI_ATTRS=n
CONFIG_ATA_VERBOSE_ERROR=n
CONFIG_ACPI_LPIT=n
CONFIG_SERIAL_8250_PNP=n
CONFIG_SECURITY_NETWORK=n
CONFIG_MOUSE_PS2_ALPS=n
CONFIG_TASKS_RCU=n
CONFIG_ARCH_HAS_SET_DIRECT_MAP=n
CONFIG_NET_VENDOR_NATSEMI=n
CONFIG_INPUT=n
CONFIG_SPARSEMEM_VMEMMAP=n
CONFIG_CRYPTO_AEAD=n
CONFIG_FORCEDETH=n
CONFIG_INPUT_KEYBOARD=n
CONFIG_ARCH_WANTS_THP_SWAP=n
CONFIG_HAVE_SAMPLE_FTRACE_DIRECT_MULTI=n
CONFIG_MPILIB=n
CONFIG_ARCH_USE_MEMTEST=n
CONFIG_CC_NO_STRINGOP_OVERFLOW=n
CONFIG_EVENTFD=n
CONFIG_TIME_NS_VDSO=n
CONFIG_SERIO_I8042=n
CONFIG_ACPI_I2C_OPREGION=n
CONFIG_NET_VENDOR_META=n
CONFIG_NFS_V3_ACL=n
CONFIG_IOMMU_PT=n
CONFIG_NETFILTER_XT_TARGET_SECMARK=n
CONFIG_XZ_DEC_POWERPC=n
CONFIG_IO_URING=n
CONFIG_HAVE_HW_BREAKPOINT=n
CONFIG_MOUSE_PS2_BYD=n
CONFIG_ACPI_WMI=n
CONFIG_WIRELESS=n
CONFIG_SND_CTL_FAST_LOOKUP=n
CONFIG_PATA_TIMINGS=n
CONFIG_XZ_DEC_ARMTHUMB=n
CONFIG_CROSS_MEMORY_ATTACH=n
CONFIG_BLK_PM=n
CONFIG_MSDOS_FS=n
CONFIG_HID_GYRATION=n
CONFIG_CRYPTO_HASH_INFO=n
CONFIG_BLK_MQ_STACKING=n
CONFIG_HAVE_MOD_ARCH_SPECIFIC=n
CONFIG_CRYPTO_SHA256=n
CONFIG_SCHED_OMIT_FRAME_POINTER=n
CONFIG_ARCH_USE_CMPXCHG_LOCKREF=n
CONFIG_HIGH_RES_TIMERS=n
CONFIG_CRYPTO_HMAC=n
CONFIG_SERIO_SERPORT=n
CONFIG_X86_CHECK_BIOS_CORRUPTION=n
CONFIG_UNION_FIND=n
CONFIG_POWER_SUPPLY_HWMON=n
CONFIG_STRICT_KERNEL_RWX=n
CONFIG_MAC80211_RC_DEFAULT_MINSTREL=n
CONFIG_NET_SCH_FIFO=n
CONFIG_PGTABLE_HAS_HUGE_LEAVES=n
CONFIG_HAVE_REGS_AND_STACK_ACCESS_API=n
CONFIG_EFI_DXE_MEM_ATTRIBUTES=n
CONFIG_NET_VENDOR_WANGXUN=n
CONFIG_HAVE_UNSTABLE_SCHED_CLOCK=n
CONFIG_KRETPROBE_ON_RETHOOK=n
CONFIG_CC_HAS_ZERO_CALL_USED_REGS=n
CONFIG_HIBERNATION_SNAPSHOT_DEV=n
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_ARGS=n
CONFIG_ARCH_SUPPORTS_UPROBES=n
CONFIG_CRYPTO_LIB_UTILS=n
CONFIG_HAVE_LIVEPATCH=n
CONFIG_NET_VENDOR_STMICRO=n
CONFIG_ARCH_SUPPORTS_SCHED_SMT=n
CONFIG_CRC_OPTIMIZATIONS=n
CONFIG_ARCH_SUPPORTS_CMDLINE_FROM_BOOTCONFIG=n
CONFIG_CGROUP_PERF=n
CONFIG_FAILOVER=n
CONFIG_YENTA_TOSHIBA=n
CONFIG_NET_PTP_CLASSIFY=n
CONFIG_HALTPOLL_CPUIDLE=n
CONFIG_ACPI_PROCESSOR_IDLE=n
CONFIG_ARCH_STACKWALK=n
CONFIG_GROUP_SCHED_WEIGHT=n
CONFIG_AGP=n
CONFIG_CPU_FREQ_DEFAULT_GOV_USERSPACE=n
CONFIG_E1000=n
CONFIG_PCMCIA=n
CONFIG_SCREEN_INFO=n
CONFIG_CRYPTO_LIB_AES_ARCH=n
CONFIG_SECURITY_SELINUX_BOOTPARAM=n
CONFIG_NFS_USE_KERNEL_DNS=n
CONFIG_ARCH_HIBERNATION_POSSIBLE=n
CONFIG_X86_DISABLED_FEATURE_XENPV=n
CONFIG_MITIGATION_SPECTRE_V2=n
CONFIG_X86_PAT=n
CONFIG_CGROUP_DEBUG=n
CONFIG_AGP_AMD64=n
CONFIG_ACPI_SLEEP=n
CONFIG_HAVE_EXIT_THREAD=n
CONFIG_NF_LOG_IPV4=n
CONFIG_EXCLUSIVE_SYSTEM_RAM=n
CONFIG_CC_HAS_INT128=n
CONFIG_ARCH_MIGHT_HAVE_PC_SERIO=n
CONFIG_NET_VENDOR_INTEL=n
CONFIG_CPU_FREQ_GOV_ONDEMAND=n
CONFIG_ACPI_MDIO=n
CONFIG_FUTEX=n
CONFIG_AMD_NUMA=n
CONFIG_IOMMU_SUPPORT=n
CONFIG_INPUT_VIVALDIFMAP=n
CONFIG_NETFS_SUPPORT=n
CONFIG_KEXEC_CORE=n
CONFIG_SCSI_LOWLEVEL=n
CONFIG_STACKPROTECTOR_STRONG=n
CONFIG_HOTPLUG_SPLIT_STARTUP=n
CONFIG_SPARSEMEM_EXTREME=n
CONFIG_PKCS7_MESSAGE_PARSER=n
CONFIG_MITIGATION_TAA=n
CONFIG_DMI=n
CONFIG_CRYPTO_ALGAPI=n
CONFIG_RUNTIME_TESTING_MENU=n
CONFIG_BLK_DEV_SR=n
CONFIG_DEVTMPFS=n
CONFIG_GENERIC_TRACER=n
CONFIG_FS_POSIX_ACL=n
CONFIG_DEBUG_DEVRES=n
CONFIG_X86_PM_TIMER=n
CONFIG_NET_VENDOR_LITEX=n
CONFIG_HAVE_RELIABLE_STACKTRACE=n
CONFIG_CDROM=n
CONFIG_IO_DELAY_0X80=n
CONFIG_TRACE_IRQFLAGS_SUPPORT=n
CONFIG_PTDUMP=n
CONFIG_NET_VENDOR_CISCO=n
CONFIG_STRICT_DEVMEM=n
CONFIG_NET_VENDOR_XILINX=n
CONFIG_ARCH_SUPPORTS_LTO_CLANG_THIN=n
CONFIG_ARCH_WANT_GENERAL_HUGETLB=n
CONFIG_SND_JACK=n
CONFIG_NF_LOG_IPV6=n
CONFIG_PER_VMA_LOCK=n
CONFIG_GPU_BUDDY=n
CONFIG_HAVE_KERNEL_BZIP2=n
CONFIG_COREDUMP=n
CONFIG_VIRTIO_DMA_SHARED_BUFFER=n
CONFIG_SECCOMP=n
CONFIG_IRQ_DOMAIN=n
CONFIG_RD_GZIP=n
CONFIG_GLOB=n
CONFIG_ARCH_SPARSEMEM_DEFAULT=n
CONFIG_HAVE_STACK_VALIDATION=n
CONFIG_STACKPROTECTOR=n
CONFIG_IP_MROUTE=n
CONFIG_VT_CONSOLE_SLEEP=n
CONFIG_ARCH_HAS_NONLEAF_PMD_YOUNG=n
CONFIG_JOLIET=n
CONFIG_MD_BITMAP_FILE=n
CONFIG_NET_VENDOR_HUAWEI=n
CONFIG_HAVE_PREEMPT_DYNAMIC_CALL=n
CONFIG_IOMMU_PT_AMDV1=n
CONFIG_IP_ADVANCED_ROUTER=n
CONFIG_BPF=n
CONFIG_INTEL_MEI_ME=n
CONFIG_SERIAL_8250_RSA=n
CONFIG_SYSCALL_USER_DISPATCH=n
CONFIG_HAVE_GUP_FAST=n
CONFIG_EVENT_TRACING=n
CONFIG_SATA_PMP=n
CONFIG_WLAN_VENDOR_INTERSIL=n
CONFIG_INET6_AH=n
CONFIG_DRM_MIPI_DSI=n
CONFIG_HID_SUPPORT=n
CONFIG_HIBERNATION=n
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_REGS=n
CONFIG_NET_VENDOR_VIA=n
CONFIG_HAVE_ARCH_SECCOMP=n
CONFIG_ATA_ACPI=n
CONFIG_LD_ORPHAN_WARN=n
CONFIG_ASYMMETRIC_PUBLIC_KEY_SUBTYPE=n
CONFIG_ARCH_HAS_PKEYS=n
CONFIG_X86_64=n
