CONFIG_SND_TIMER=n
CONFIG_BSD_PROCESS_ACCT=n
CONFIG_AS_HAS_NON_CONST_ULEB128=n
CONFIG_WLAN_VENDOR_ST=n
CONFIG_BCMA_POSSIBLE=n
CONFIG_VIRTIO_NET=n
CONFIG_USE_X86_SEG_SUPPORT=n
CONFIG_RD_LZMA=n
CONFIG_TASKS_TRACE_RCU=n
CONFIG_MAC80211_RC_DEFAULT_MINSTREL=n
CONFIG_SECURITY_SELINUX_AVC_STATS=n
CONFIG_ASYMMETRIC_PUBLIC_KEY_SUBTYPE=n
CONFIG_PM_TRACE_RTC=n
CONFIG_ARCH_HAS_SET_DIRECT_MAP=n
CONFIG_ARCH_HAS_DEBUG_VIRTUAL=n
CONFIG_DEBUG_ENTRY=n
CONFIG_X86_CX8=n
CONFIG_DNS_RESOLVER=n
CONFIG_HAVE_KERNEL_BZIP2=n
CONFIG_SND_HWDEP=n
CONFIG_NET_VENDOR_SOLARFLARE=n
CONFIG_XFRM=n
CONFIG_SYSVIPC=n
CONFIG_MSDOS_FS=n
CONFIG_PREEMPT_RCU=n
CONFIG_X86_DISABLED_FEATURE_VME=n
CONFIG_PPS=n
CONFIG_CRYPTO_CTS=n
CONFIG_ARCH_SUPPORTS_HUGETLBFS=n
CONFIG_CPU_IDLE_GOV_MENU=n
CONFIG_MMU=n
CONFIG_MITIGATION_RETBLEED=n
CONFIG_INPUT_SPARSEKMAP=n
CONFIG_PCIE_PME=n
CONFIG_TMPFS_XATTR=n
CONFIG_SCSI_CONSTANTS=n
CONFIG_TASKSTATS=n
CONFIG_NET_VENDOR_ROCKER=n
CONFIG_NET_VENDOR_AMD=n
CONFIG_WLAN_VENDOR_MARVELL=n
CONFIG_CRYPTO_CMAC=n
CONFIG_TICK_CPU_ACCOUNTING=n
CONFIG_LOCKD_V4=n
CONFIG_WLAN_VENDOR_MICROCHIP=n
CONFIG_SND_SEQ_HRTIMER_DEFAULT=n
CONFIG_X86_DISABLED_FEATURE_ENQCMD=n
CONFIG_HIBERNATION_SNAPSHOT_DEV=n
CONFIG_DRM_I915_CAPTURE_ERROR=n
CONFIG_CPU_FREQ_DEFAULT_GOV_USERSPACE=n
CONFIG_ARCH_HAS_MEM_ENCRYPT=n
CONFIG_VIRTIO=n
CONFIG_ARCH_SUPPORTS_LTO_CLANG=n
CONFIG_FTRACE=n
CONFIG_TRACE_CLOCK=n
CONFIG_X86_PM_TIMER=n
CONFIG_ACPI_PRMT=n
CONFIG_SUSPEND=n
CONFIG_HAVE_LIVEPATCH=n
CONFIG_FIRMWARE_MEMMAP=n
CONFIG_X86_HAVE_PAE=n
CONFIG_SCHED_CLUSTER=n
CONFIG_SPLIT_PMD_PTLOCKS=n
CONFIG_SERIAL_8250_PNP=n
CONFIG_HAVE_RUST=n
CONFIG_SLAB_MERGE_DEFAULT=n
CONFIG_TIME_NS_VDSO=n
CONFIG_X86_DEBUG_FPU=n
CONFIG_SND_DMA_SGBUF=n
CONFIG_BLK_PM=n
CONFIG_TRACING_SUPPORT=n
CONFIG_EFIVAR_FS=n
CONFIG_CC_NO_ARRAY_BOUNDS=n
CONFIG_SUSPEND_FREEZER=n
CONFIG_DMA_ACPI=n
CONFIG_NET_HANDSHAKE=n
CONFIG_SND_DRIVERS=n
CONFIG_INPUT_JOYSTICK=n
CONFIG_RANDOMIZE_MEMORY=n
CONFIG_CPU_FREQ=n
CONFIG_DYNAMIC_SIGFRAME=n
CONFIG_EDAC_SUPPORT=n
CONFIG_RCU_NEED_SEGCBLIST=n
CONFIG_ARCH_HAS_KCOV=n
CONFIG_HALTPOLL_CPUIDLE=n
CONFIG_HID_PETALYNX=n
CONFIG_XXHASH=n
CONFIG_DEVTMPFS=n
CONFIG_ARCH_SUPPORTS_KEXEC=n
CONFIG_HAVE_OBJTOOL_MCOUNT=n
CONFIG_PREEMPT_BUILD=n
CONFIG_HAVE_HARDLOCKUP_DETECTOR_PERF=n
CONFIG_USB_SUPPORT=n
CONFIG_ARCH_HIBERNATION_POSSIBLE=n
CONFIG_IP_MROUTE=n
CONFIG_XZ_DEC_SPARC=n
CONFIG_VIRTIO_PCI_ADMIN_LEGACY=n
CONFIG_PTP_1588_CLOCK_KVM=n
CONFIG_ARCH_USE_BUILTIN_BSWAP=n
CONFIG_DRM_DISPLAY_DP_HELPER=n
CONFIG_CRYPTO_LZ4=n
CONFIG_LZO_COMPRESS=n
CONFIG_FIX_EARLYCON_MEM=n
CONFIG_IO_DELAY_0X80=n
CONFIG_VIRTIO_PCI_LIB_LEGACY=n
CONFIG_NF_DEFRAG_IPV6=n
CONFIG_KEXEC=n
CONFIG_DEBUG_BUGVERBOSE=n
CONFIG_DRM_VIRTIO_GPU=n
CONFIG_DEVMEM=n
CONFIG_NETFILTER_XT_TARGET_LOG=n
CONFIG_GENERIC_IRQ_SHOW=n
CONFIG_RFKILL_LEDS=n
CONFIG_IO_URING_ZCRX=n
CONFIG_NET_VENDOR_BROCADE=n
CONFIG_DMA_SHARED_BUFFER=n
CONFIG_KALLSYMS_ALL=n
CONFIG_HID_PANTHERLORD=n
CONFIG_SKY2=n
CONFIG_NET_VENDOR_NVIDIA=n
CONFIG_X86_REQUIRED_FEATURE_PAE=n
CONFIG_PREEMPTION=n
CONFIG_MITIGATION_TAA=n
CONFIG_NET_VENDOR_MICROSEMI=n
CONFIG_FS_POSIX_ACL=n
CONFIG_HAVE_ARCH_KASAN=n
CONFIG_PCI_PASID=n
CONFIG_NLATTR=n
CONFIG_MOUSE_PS2_SMBUS=n
CONFIG_EVENT_TRACING=n
CONFIG_X86_REQUIRED_FEATURE_NOPL=n
CONFIG_SERIO_SERPORT=n
CONFIG_NET_VENDOR_8390=n
CONFIG_CC_HAS_RETURN_THUNK=n
CONFIG_SURFACE_PLATFORMS=n
CONFIG_MOUSE_PS2_LOGIPS2PP=n
CONFIG_ARCH_SUPPORTS_LTO_CLANG_THIN=n
CONFIG_LD_ORPHAN_WARN=n
CONFIG_X86_IO_APIC=n
CONFIG_HAVE_PV_STEAL_CLOCK_GEN=n
CONFIG_SERIAL_8250_DWLIB=n
CONFIG_DEVTMPFS_MOUNT=n
CONFIG_NF_LOG_IPV6=n
CONFIG_SERIAL_8250_EXTENDED=n
CONFIG_OPTPROBES=n
CONFIG_CGROUP_DEBUG=n
CONFIG_NET_VENDOR_NETRONOME=n
CONFIG_NF_LOG_ARP=n
CONFIG_ARCH_CONFIGURES_CPU_MITIGATIONS=n
CONFIG_SCSI_LOWLEVEL=n
CONFIG_CGROUP_CPUACCT=n
CONFIG_USB_STORAGE=n
CONFIG_ARCH_SUPPORTS_SCHED_MC=n
CONFIG_USB_DEFAULT_PERSIST=n
CONFIG_CPUSETS=n
CONFIG_MQ_IOSCHED_KYBER=n
CONFIG_FUTEX_MPOL=n
CONFIG_GENERIC_IRQ_MATRIX_ALLOCATOR=n
CONFIG_PAGE_COUNTER=n
CONFIG_BITREVERSE=n
CONFIG_TTY=n
CONFIG_NET_PTP_CLASSIFY=n
CONFIG_CC_HAS_COUNTED_BY_PTR=n
CONFIG_SYSCTL_EXCEPTION_TRACE=n
CONFIG_NET=n
CONFIG_NF_NAT_IRC=n
CONFIG_HAVE_ACPI_APEI_NMI=n
CONFIG_ETHERNET=n
CONFIG_HOTPLUG_CORE_SYNC_DEAD=n
CONFIG_KPROBES=n
CONFIG_NEW_LEDS=n
CONFIG_NF_CONNTRACK=n
CONFIG_ARCH_MEMORY_ORDER_TSO=n
CONFIG_AIO=n
CONFIG_MODULES=n
CONFIG_X509_CERTIFICATE_PARSER=n
CONFIG_PM_SLEEP=n
CONFIG_GENERIC_NET_UTILS=n
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO=n
CONFIG_USB_OHCI_LITTLE_ENDIAN=n
CONFIG_HAVE_PERF_EVENTS_NMI=n
CONFIG_HAVE_ARCH_JUMP_LABEL=n
CONFIG_HAVE_NOINSTR_VALIDATION=n
CONFIG_HW_RANDOM=n
CONFIG_E1000=n
CONFIG_X86_DISABLED_FEATURE_TDX_GUEST=n
CONFIG_IRQ_MSI_LIB=n
CONFIG_INTERVAL_TREE=n
CONFIG_HOTPLUG_CORE_SYNC_FULL=n
CONFIG_PCI_LABEL=n
CONFIG_NLS=n
CONFIG_GCC_PLUGINS=n
CONFIG_KRETPROBE_ON_RETHOOK=n
CONFIG_ARCH_WANT_OLD_COMPAT_IPC=n
CONFIG_X86_16BIT=n
CONFIG_THERMAL_DEFAULT_GOV_STEP_WISE=n
CONFIG_CGROUP_HUGETLB=n
CONFIG_GENERIC_SMP_IDLE_THREAD=n
CONFIG_FUTEX_PI=n
CONFIG_UNION_FIND=n
CONFIG_HID_GYRATION=n
CONFIG_DEBUG_KERNEL=n
CONFIG_MTRR=n
CONFIG_CRYPTO_LZO=n
CONFIG_INPUT_VIVALDIFMAP=n
CONFIG_PCIEASPM_DEFAULT=n
CONFIG_MITIGATION_MMIO_STALE_DATA=n
CONFIG_CRYPTO_LIB_SHA1_ARCH=n
CONFIG_NLS_UTF8=n
CONFIG_ARCH_WANT_OPTIMIZE_HUGETLB_VMEMMAP=n
CONFIG_IPC_NS=n
CONFIG_MITIGATION_RFDS=n
CONFIG_CFG80211_REQUIRE_SIGNED_REGDB=n
CONFIG_SND_PCM_TIMER=n
CONFIG_DMA_VIRTUAL_CHANNELS=n
CONFIG_HAVE_STATIC_CALL_INLINE=n
CONFIG_DEBUG_MEMORY_INIT=n
CONFIG_SERIAL_NONSTANDARD=n
CONFIG_X86_DISABLED_FEATURE_SEV_SNP=n
CONFIG_CRYPTO_LIB_GF128HASH_ARCH=n
CONFIG_NET_VENDOR_I825XX=n
CONFIG_ARCH_HAS_ELFCORE_COMPAT=n
CONFIG_GENERIC_EARLY_IOREMAP=n
CONFIG_X86_MSR=n
CONFIG_MACINTOSH_DRIVERS=n
CONFIG_SCHED_INFO=n
CONFIG_DM_ZERO=n
CONFIG_HAVE_GIGANTIC_FOLIOS=n
CONFIG_X86_BUS_LOCK_DETECT=n
CONFIG_ARCH_HAS_PREEMPT_LAZY=n
CONFIG_THERMAL_HWMON=n
CONFIG_MITIGATION_GDS=n
CONFIG_DEBUG_DEVRES=n
CONFIG_RFKILL_INPUT=n
CONFIG_BLK_RQ_ALLOC_TIME=n
CONFIG_NF_REJECT_IPV6=n
CONFIG_CC_HAS_AUTO_VAR_INIT_PATTERN=n
CONFIG_CRYPTO_AEAD=n
CONFIG_CRC_OPTIMIZATIONS=n
CONFIG_ARCH_HAS_DEBUG_WX=n
CONFIG_CRASH_DUMP=n
CONFIG_ARCH_HAS_COPY_MC=n
CONFIG_MMU_NOTIFIER=n
CONFIG_ATA_BMDMA=n
CONFIG_SECURITY=n
CONFIG_NETCONSOLE=n
CONFIG_EXT4_FS_SECURITY=n
CONFIG_XZ_DEC_BCJ=n
CONFIG_MPILIB=n
CONFIG_MAILBOX=n
CONFIG_WLAN_VENDOR_RALINK=n
CONFIG_PROC_VMCORE=n
CONFIG_ADVISE_SYSCALLS=n
CONFIG_TREE_RCU=n
CONFIG_DRM_I915=n
CONFIG_AGP_INTEL=n
CONFIG_ARCH_HAVE_EXTRA_ELF_NOTES=n
CONFIG_NET_VENDOR_ADAPTEC=n
CONFIG_VIRTIO_CONSOLE=n
CONFIG_CONTEXT_SWITCH_TRACER=n
CONFIG_BACKLIGHT_CLASS_DEVICE=n
CONFIG_ARCH_WANTS_THP_SWAP=n
CONFIG_HAVE_ALIGNED_STRUCT_PAGE=n
CONFIG_INPUT_MOUSE=n
CONFIG_RANDOMIZE_BASE=n
CONFIG_DEFAULT_CUBIC=n
CONFIG_CPU_RMAP=n
CONFIG_E1000E=n
CONFIG_ARCH_SUPPORTS_INT128=n
CONFIG_HAVE_ARCH_RANDOMIZE_KSTACK_OFFSET=n
CONFIG_NET_IP_TUNNEL=n
CONFIG_PAGE_SIZE_LESS_THAN_256KB=n
CONFIG_OID_REGISTRY=n
CONFIG_IO_WQ=n
CONFIG_SERIAL_8250_PERICOM=n
CONFIG_MITIGATION_SPECTRE_BHI=n
CONFIG_EFI_MIXED=n
CONFIG_SND_CTL_FAST_LOOKUP=n
CONFIG_USB_XHCI_HCD=n
CONFIG_INTEL_TCC=n
CONFIG_NET_CLS_CGROUP=n
CONFIG_DMAR_TABLE=n
CONFIG_UNWINDER_ORC=n
CONFIG_ISA_DMA_API=n
CONFIG_HAVE_ARCH_MMAP_RND_BITS=n
CONFIG_CHR_DEV_SG=n
CONFIG_ARCH_STACKWALK=n
CONFIG_ARCH_HAS_PKEYS=n
CONFIG_INTEL_IOMMU_PERF_EVENTS=n
CONFIG_PNFS_FLEXFILE_LAYOUT=n
CONFIG_SECTION_MISMATCH_WARN_ONLY=n
CONFIG_X86_CHECK_BIOS_CORRUPTION=n
CONFIG_PADATA=n
CONFIG_HAVE_GENERIC_VDSO=n
CONFIG_HAVE_NOINSTR_HACK=n
CONFIG_HAVE_GUP_FAST=n
CONFIG_IOMMU_PT_VTDSS=n
CONFIG_GENERIC_BUG=n
CONFIG_RUNTIME_TESTING_MENU=n
CONFIG_CRYPTO_ACOMP2=n
CONFIG_EEPROM_93CX6=n
