CONFIG_GPIOLIB_LEGACY=n
CONFIG_WIRELESS=n
CONFIG_ARCH_SUPPORTS_UPROBES=n
CONFIG_NET_VENDOR_CADENCE=n
CONFIG_HAVE_FUNCTION_GRAPH_FREGS=n
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_DIRECT_CALLS=n
CONFIG_PNFS_FILE_LAYOUT=n
CONFIG_GENERIC_CPU_AUTOPROBE=n
CONFIG_CONTEXT_TRACKING=n
CONFIG_NVMEM=n
CONFIG_DRM_BRIDGE=n
CONFIG_BUFFER_HEAD=n
CONFIG_UNION_FIND=n
CONFIG_SND_SEQ_DEVICE=n
CONFIG_X86_CX8=n
CONFIG_NETFILTER_XT_TARGET_LOG=n
CONFIG_EPOLL=n
CONFIG_HSU_DMA=n
CONFIG_TASKS_TRACE_RCU=n
CONFIG_BLK_CGROUP_IOLATENCY=n
CONFIG_SND_HWDEP=n
CONFIG_SECURITY_SELINUX_DEVELOP=n
CONFIG_LOCK_MM_AND_FIND_VMA=n
CONFIG_PCI_MMCONFIG=n
CONFIG_NETFILTER_XT_TARGET_TCPMSS=n
CONFIG_CRYPTO_CBC=n
CONFIG_GENERIC_ENTRY=n
CONFIG_LEGACY_TIOCSTI=n
CONFIG_USB_COMMON=n
CONFIG_DRM_GEM_SHMEM_HELPER=n
CONFIG_RCU_NEED_SEGCBLIST=n
CONFIG_ARCH_SPARSEMEM_ENABLE=n
CONFIG_USB_NET_DRIVERS=n
CONFIG_RANDOMIZE_KSTACK_OFFSET=n
CONFIG_HAVE_MOVE_PUD=n
CONFIG_SOCK_RX_QUEUE_MAPPING=n
CONFIG_PERF_EVENTS=n
CONFIG_X86_DISABLED_FEATURE_XENPV=n
CONFIG_PROBE_EVENTS=n
CONFIG_RTC_LIB=n
CONFIG_HARDIRQS_SW_RESEND=n
CONFIG_HAVE_KPROBES=n
CONFIG_INTEGRITY_AUDIT=n
CONFIG_EFI=n
CONFIG_NET_VENDOR_NI=n
CONFIG_DECOMPRESS_XZ=n
CONFIG_X86_DISABLED_FEATURE_TDX_GUEST=n
CONFIG_CRC32_ARCH=n
CONFIG_DEBUG_KERNEL=n
CONFIG_CPU_FREQ_GOV_ATTR_SET=n
CONFIG_SND_PCMCIA=n
CONFIG_SYNC_FILE=n
CONFIG_ATA_SFF=n
CONFIG_X86_HV_CALLBACK_VECTOR=n
CONFIG_X86_DISABLED_FEATURE_PTI=n
CONFIG_DRM_PANEL_BRIDGE=n
CONFIG_GENERIC_ALLOCATOR=n
CONFIG_FWNODE_MDIO=n
CONFIG_GENERIC_VDSO_OVERFLOW_PROTECT=n
CONFIG_RELAY=n
CONFIG_HAVE_EBPF_JIT=n
CONFIG_GENERIC_IRQ_PROBE=n
CONFIG_ARCH_WANT_FRAME_POINTERS=n
CONFIG_GENERIC_EARLY_IOREMAP=n
CONFIG_RFKILL=n
CONFIG_CPU_SUP_VORTEX_32=n
CONFIG_SCSI_DMA=n
CONFIG_HAVE_ARCH_TRACEHOOK=n
CONFIG_SCSI_LOWLEVEL=n
CONFIG_I2C_BOARDINFO=n
CONFIG_SYSFS=n
CONFIG_TRACEFS_AUTOMOUNT_DEPRECATED=n
CONFIG_PERF_EVENTS_INTEL_CSTATE=n
CONFIG_X86_REQUIRED_FEATURE_CX8=n
CONFIG_ACPI_EC=n
CONFIG_SCHEDSTATS=n
CONFIG_INET6_ESP=n
CONFIG_FW_CACHE=n
CONFIG_NET_VENDOR_ATHEROS=n
CONFIG_SND_SEQ_DUMMY=n
CONFIG_WLAN_VENDOR_RSI=n
CONFIG_USB_XHCI_PCI=n
CONFIG_PREEMPT_RCU=n
CONFIG_NE2K_PCI=n
CONFIG_WLAN_VENDOR_ATH=n
CONFIG_MD_BITMAP=n
CONFIG_ARCH_CORRECT_STACKTRACE_ON_KRETPROBE=n
CONFIG_ATA_PIIX=n
CONFIG_FUNCTION_ALIGNMENT_4B=n
CONFIG_HAVE_REGS_AND_STACK_ACCESS_API=n
CONFIG_NET_VENDOR_CHELSIO=n
CONFIG_IO_URING_BPF=n
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST=n
CONFIG_HID_PETALYNX=n
CONFIG_PROC_PID_ARCH_STATUS=n
CONFIG_NFS_USE_KERNEL_DNS=n
CONFIG_X86_VMX_FEATURE_NAMES=n
CONFIG_BLK_DEV_BSG=n
CONFIG_NF_LOG_ARP=n
CONFIG_HIBERNATE_CALLBACKS=n
CONFIG_TIME_NS=n
CONFIG_ATA=n
CONFIG_MIGRATION=n
CONFIG_MAC80211_HAS_RC=n
CONFIG_CRYPTO_SHA512=n
CONFIG_ARCH_WANT_LD_ORPHAN_WARN=n
CONFIG_RD_GZIP=n
CONFIG_DEVTMPFS=n
CONFIG_BLK_DEV_MD=n
CONFIG_PATA_MPIIX=n
CONFIG_CGROUP_DEBUG=n
CONFIG_NET_VENDOR_REALTEK=n
CONFIG_OPENSSL_SUPPORTS_ML_DSA=n
CONFIG_SND_HDA_HWDEP=n
CONFIG_EXT4_FS=n
CONFIG_VIRTIO_PCI_LIB=n
CONFIG_MITIGATION_SRBDS=n
CONFIG_WLAN_VENDOR_ST=n
CONFIG_NET_SELFTESTS=n
CONFIG_SUNRPC_GSS=n
CONFIG_NFS_V3=n
CONFIG_ARCH_CONFIGURES_CPU_MITIGATIONS=n
CONFIG_HAVE_KERNEL_BZIP2=n
CONFIG_ARCH_HAS_KERNEL_FPU_SUPPORT=n
CONFIG_PCIEPORTBUS=n
CONFIG_X86_DISABLED_FEATURE_USER_SHSTK=n
CONFIG_NFS_ACL_SUPPORT=n
CONFIG_HAVE_NMI=n
CONFIG_DCACHE_WORD_ACCESS=n
CONFIG_X86_PAT=n
CONFIG_GPU_BUDDY=n
CONFIG_ARCH_SUPPORTS_KEXEC_PURGATORY=n
CONFIG_MITIGATION_MDS=n
CONFIG_DEBUG_FS_ALLOW_ALL=n
CONFIG_ARCH_SUSPEND_POSSIBLE=n
CONFIG_EEPROM_93CX6=n
CONFIG_MODULES_USE_ELF_REL=n
CONFIG_STANDALONE=n
CONFIG_ACPI_SLEEP=n
CONFIG_MITIGATION_MMIO_STALE_DATA=n
CONFIG_CRYPTO_LIB_GF128HASH=n
CONFIG_X86_DISABLED_FEATURE_PKU=n
CONFIG_QUOTA_TREE=n
CONFIG_HIBERNATION_COMP_LZO=n
CONFIG_GRACE_PERIOD=n
CONFIG_INTERVAL_TREE=n
CONFIG_ARCH_32BIT_OFF_T=n
CONFIG_USB_PRINTER=n
CONFIG_CLONE_BACKWARDS=n
CONFIG_HID_SAMSUNG=n
CONFIG_EFI_RUNTIME_MAP=n
CONFIG_MQ_IOSCHED_KYBER=n
CONFIG_UID16=n
CONFIG_SGL_ALLOC=n
CONFIG_GENERIC_MSI_IRQ=n
CONFIG_NVRAM=n
CONFIG_DRM_VIRTIO_GPU_KMS=n
CONFIG_PPS=n
CONFIG_DM_MIRROR=n
CONFIG_PTP_1588_CLOCK=n
CONFIG_TMPFS_POSIX_ACL=n
CONFIG_TTY=n
CONFIG_NET_VENDOR_XIRCOM=n
CONFIG_OLD_SIGACTION=n
CONFIG_MSDOS_FS=n
CONFIG_TRACEPOINTS=n
CONFIG_CC_HAS_IBT=n
CONFIG_NFS_COMMON=n
CONFIG_HAVE_PV_STEAL_CLOCK_GEN=n
CONFIG_SYSTEM_TRUSTED_KEYRING=n
CONFIG_ARCH_HAS_MEMBARRIER_SYNC_CORE=n
CONFIG_HAVE_DYNAMIC_FTRACE_NO_PATCHABLE=n
CONFIG_BLK_DEV_LOOP=n
CONFIG_CPU_FREQ=n
CONFIG_NF_DEFRAG_IPV4=n
CONFIG_IP6_NF_IPTABLES=n
CONFIG_RUSTC_HAS_FILE_WITH_NUL=n
CONFIG_HDMI=n
CONFIG_CRYPTO_HMAC=n
CONFIG_COMPACTION=n
CONFIG_SND_USB=n
CONFIG_NLATTR=n
CONFIG_NET_CLS=n
CONFIG_NET_VENDOR_ROCKER=n
CONFIG_I2C_I801=n
CONFIG_HAVE_KERNEL_LZ4=n
CONFIG_CC_HAS_AUTO_VAR_INIT_PATTERN=n
CONFIG_CRYPTO_AKCIPHER=n
CONFIG_NLS_ASCII=n
CONFIG_EFI_STUB=n
CONFIG_ARCH_SUPPORTS_KMAP_LOCAL_FORCE_MAP=n
CONFIG_NFS_V3_ACL=n
CONFIG_PAGE_SIZE_LESS_THAN_256KB=n
CONFIG_M686=n
CONFIG_BLK_DEV_SD=n
CONFIG_QUOTA_NETLINK_INTERFACE=n
CONFIG_GENERIC_IOMAP=n
CONFIG_NETDEVICES=n
CONFIG_MEMFD_CREATE=n
CONFIG_CRYPTO_CTR=n
CONFIG_CRYPTO_SIG=n
CONFIG_PKCS7_MESSAGE_PARSER=n
CONFIG_HAVE_CMPXCHG_DOUBLE=n
CONFIG_CPU_SUP_ZHAOXIN=n
CONFIG_RD_ZSTD=n
CONFIG_ARCH_WANTS_NO_INSTR=n
CONFIG_CC_HAS_NO_PROFILE_FN_ATTR=n
CONFIG_NET_VENDOR_ADAPTEC=n
CONFIG_PREEMPT_BUILD=n
CONFIG_HID_GYRATION=n
CONFIG_DRM_I915_USERPTR=n
CONFIG_ARCH_SUPPORTS_KEXEC_SIG=n
CONFIG_HAVE_ASM_MODVERSIONS=n
CONFIG_BLK_RQ_ALLOC_TIME=n
CONFIG_PREEMPTION=n
CONFIG_ARCH_USE_MEMREMAP_PROT=n
CONFIG_IP_PIMSM_V2=n
CONFIG_NETCONSOLE=n
CONFIG_X86_DISABLED_FEATURE_ENQCMD=n
CONFIG_WLAN_VENDOR_ZYDAS=n
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO=n
CONFIG_CRYPTO_LZ4=n
CONFIG_RTC_CLASS=n
CONFIG_X86_CPUID=n
CONFIG_ARCH_MAY_HAVE_PC_FDC=n
CONFIG_BLK_MQ_STACKING=n
CONFIG_CRYPTO_LIB_SHA512=n
CONFIG_CRYPTO_LIB_SHA1=n
CONFIG_RSEQ=n
CONFIG_IP_ADVANCED_ROUTER=n
CONFIG_USB_OHCI_HCD_PCI=n
CONFIG_PCCARD=n
CONFIG_HAVE_DEBUG_STACKOVERFLOW=n
CONFIG_IOMMU_DMA=n
CONFIG_NET_FLOW_LIMIT=n
CONFIG_NEED_SG_DMA_LENGTH=n
CONFIG_GCC_PLUGINS=n
CONFIG_PERF_EVENTS_INTEL_UNCORE=n
CONFIG_NFS_V4_0=n
CONFIG_DYNAMIC_SIGFRAME=n
CONFIG_SND_HDA_INTEL=n
CONFIG_USB_EHCI_HCD=n
CONFIG_SERIAL_8250_DETECT_IRQ=n
CONFIG_X86_THERMAL_VECTOR=n
CONFIG_NETWORK_SECMARK=n
CONFIG_FUTEX=n
CONFIG_HAVE_ARCH_MMAP_RND_BITS=n
CONFIG_IP_MULTICAST=n
CONFIG_SECURITY_SELINUX_AVC_STATS=n
CONFIG_IP_NF_IPTABLES=n
CONFIG_ACPI_PLATFORM_PROFILE=n
CONFIG_AUDIT=n
CONFIG_X86_DISABLED_FEATURE_LASS=n
CONFIG_PROC_FS=n
CONFIG_NET_VENDOR_SOCIONEXT=n
CONFIG_WLAN_VENDOR_ADMTEK=n
CONFIG_GENERIC_STRNLEN_USER=n
CONFIG_KCMP=n
CONFIG_ATA_VERBOSE_ERROR=n
CONFIG_HAVE_PREEMPT_DYNAMIC_CALL=n
CONFIG_XZ_DEC_POWERPC=n
CONFIG_HOTPLUG_CORE_SYNC_DEAD=n
CONFIG_PAGE_SIZE_LESS_THAN_64KB=n
CONFIG_SERIO_I8042=n
CONFIG_CRYPTO_ALGAPI2=n
CONFIG_MAC80211=n
CONFIG_CLKBLD_I8253=n
CONFIG_SKB_EXTENSIONS=n
CONFIG_IP_PNP_DHCP=n
CONFIG_EXT4_USE_FOR_EXT2=n
CONFIG_AUDIT_GENERIC=n
CONFIG_SECURITY_NETWORK=n
CONFIG_XZ_DEC_ARMTHUMB=n
CONFIG_FHANDLE=n
CONFIG_BRANCH_PROFILE_NONE=n
CONFIG_DEBUG_STACK_USAGE=n
CONFIG_MQ_IOSCHED_DEADLINE=n
CONFIG_SCREEN_INFO=n
CONFIG_FLATMEM_MANUAL=n
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST_IDLE=n
CONFIG_ARCH_USE_SYM_ANNOTATIONS=n
CONFIG_POSIX_MQUEUE=n
CONFIG_GENERIC_CLOCKEVENTS=n
CONFIG_MODIFY_LDT_SYSCALL=n
CONFIG_HAVE_EXIT_THREAD=n
CONFIG_X86_IO_APIC=n
CONFIG_INIT_STACK_ALL_ZERO=n
CONFIG_VIRTIO=n
CONFIG_DW_DMAC_CORE=n
CONFIG_DEFAULT_SECURITY_SELINUX=n
CONFIG_HAVE_SYSCALL_TRACEPOINTS=n
CONFIG_CONTEXT_TRACKING_IDLE=n
CONFIG_SERIAL_8250_MID=n
CONFIG_NET_VENDOR_GOOGLE=n
CONFIG_GENERIC_GETTIMEOFDAY=n
CONFIG_HAS_SECURITY_AUDIT=n
CONFIG_NF_CT_NETLINK=n
CONFIG_ARCH_HAS_CURRENT_STACK_POINTER=n
CONFIG_NETFILTER_XT_MATCH_CONNTRACK=n
CONFIG_REALTEK_PHY=n
