CONFIG_QCOM_SCM=n
CONFIG_INPUT_TPS6594_PWRBUTTON=n
CONFIG_QCOM_PDR_MSG=n
CONFIG_RCU_NEED_SEGCBLIST=n
CONFIG_PINCTRL_SUN50I_A64_R=n
CONFIG_ARCH_EXYNOS=n
CONFIG_HW_RANDOM_VIRTIO=n
CONFIG_SM_GPUCC_8350=n
CONFIG_CLK_R9A09G057=n
CONFIG_CROS_EC_RPMSG=n
CONFIG_BT=n
CONFIG_NET_DEVLINK=n
CONFIG_SND_SOC_IMX_AUDMIX=n
CONFIG_SUN8I_H3_CCU=n
CONFIG_CLK_R9A07G054=n
CONFIG_SERIAL_SH_SCI=n
CONFIG_PCIE_RENESAS_RZG3S_HOST=n
CONFIG_SPI_SUN6I=n
CONFIG_64BIT=n
CONFIG_LEDS_QCOM_LPG=n
CONFIG_ZSTD_DECOMPRESS=n
CONFIG_PCI_ATS=n
CONFIG_ARCH_BCM=n
CONFIG_SPARSEMEM_EXTREME=n
CONFIG_QCOM_GPI_DMA=n
CONFIG_NXP_NETC_LIB=n
CONFIG_ARM64_ERRATUM_2457168=n
CONFIG_PWM_BRCMSTB=n
CONFIG_NETFILTER_ADVANCED=n
CONFIG_XEN_BACKEND=n
CONFIG_PWM_BCM2835=n
CONFIG_BACKLIGHT_CLASS_DEVICE=n
CONFIG_RTSN=n
CONFIG_NFS_USE_KERNEL_DNS=n
CONFIG_COMMON_CLK_MT7988=n
CONFIG_NET_VENDOR_I825XX=n
CONFIG_IRQ_MSI_IOMMU=n
CONFIG_SM_GPUCC_8250=n
CONFIG_PINCTRL_X1E80100=n
CONFIG_IMX7ULP_WDT=n
CONFIG_MISC_RP1=n
CONFIG_PCIE_QCOM_COMMON=n
CONFIG_HVC_XEN=n
CONFIG_HID_MULTITOUCH=n
CONFIG_SLUB_DEBUG=n
CONFIG_RUSTC_HAS_UNNECESSARY_TRANSMUTES=n
CONFIG_MDIO=n
CONFIG_EXT4_USE_FOR_EXT2=n
CONFIG_SND_SOC_DMIC=n
CONFIG_LEGACY_TIOCSTI=n
CONFIG_SM_DISPCC_MILOS=n
CONFIG_SND_SOC_CROS_EC_CODEC=n
CONFIG_ARCH_SUPPORTS_CRASH_DUMP=n
CONFIG_NEED_SG_DMA_FLAGS=n
CONFIG_ARM64_ERRATUM_2966298=n
CONFIG_DRM_TI_TFP410=n
CONFIG_LEDS_BCM63138=n
CONFIG_DMA_SUN6I=n
CONFIG_OF_EARLY_FLATTREE=n
CONFIG_USB_CHIPIDEA=n
CONFIG_RPMSG_VIRTIO=n
CONFIG_ARCH_R9A09G077=n
CONFIG_HAS_SECURITY_AUDIT=n
CONFIG_LEDS_TRIGGER_TIMER=n
CONFIG_BT_NXPUART=n
CONFIG_ARCH_SUPPORTS_LTO_CLANG=n
CONFIG_ASYNC_TX_DISABLE_XOR_VAL_DMA=n
CONFIG_CRYPTO_DEV_FSL_CAAM_AHASH_API_DESC=n
CONFIG_HAVE_ARCH_SECCOMP=n
CONFIG_NET_VENDOR_RENESAS=n
CONFIG_APPLE_AIC=n
CONFIG_FPGA_MGR_STRATIX10_SOC=n
CONFIG_USB_DWC3_APPLE=n
CONFIG_SND_SOC_XILINX_AUDIO_FORMATTER=n
CONFIG_MTD_NAND_FSL_IFC=n
CONFIG_VLAN_8021Q=n
CONFIG_CRYPTO_USER=n
CONFIG_SMSC911X=n
CONFIG_EFI_ESRT=n
CONFIG_QCOM_SPMI_TEMP_ALARM=n
CONFIG_RENESAS_OSTM=n
CONFIG_NET_VENDOR_HISILICON=n
CONFIG_COMMON_CLK_MT8186_IMP_IIC_WRAP=n
CONFIG_TI_MESSAGE_MANAGER=n
CONFIG_SND_SOC_MT8183_DA7219_MAX98357A=n
CONFIG_GENERIC_IOREMAP=n
CONFIG_NXP_NETC_BLK_CTRL=n
CONFIG_MEDIA_TUNER_MT20XX=n
CONFIG_REGULATOR_QCOM_SPMI=n
CONFIG_XZ_DEC_ARMTHUMB=n
CONFIG_FEC=n
CONFIG_ARM_SCMI_TRANSPORT_OPTEE=n
CONFIG_DRM_ROCKCHIP=n
CONFIG_DRM_MSM_HDMI=n
CONFIG_COMMON_CLK_FSL_SAI=n
CONFIG_ARCH_HAS_MEM_ENCRYPT=n
CONFIG_SCSI_SAS_ATA=n
CONFIG_DRM_DISPLAY_DP_HELPER=n
CONFIG_NUMA_BALANCING=n
CONFIG_SND_SOC_SPDIF=n
CONFIG_NET_VENDOR_AMD=n
CONFIG_CRYPTO_DEV_FSL_CAAM_CRYPTO_API=n
CONFIG_LOGO=n
CONFIG_BSD_PROCESS_ACCT_V3=n
CONFIG_CRYPTO_DEV_FSL_CAAM_PRNG_API=n
CONFIG_RD_BZIP2=n
CONFIG_PHY_MTK_UFS=n
CONFIG_COMMON_CLK_MT8167_IMGSYS=n
CONFIG_QCOM_PIL_INFO=n
CONFIG_COMMON_CLK_RS9_PCIE=n
CONFIG_ZYNQMP_POWER=n
CONFIG_ARCH_ARTPEC=n
CONFIG_MTD_UBI=n
CONFIG_TEE_DMABUF_HEAPS=n
CONFIG_VIDEO_HANTRO=n
CONFIG_SPI_RPCIF=n
CONFIG_NET_SELFTESTS=n
CONFIG_USB_F_FS=n
CONFIG_GOOGLE_COREBOOT_TABLE=n
CONFIG_ELF_CORE=n
CONFIG_COMMON_CLK_MT8196_MMSYS=n
CONFIG_PINCTRL_MT6795=n
CONFIG_GROUP_SCHED_WEIGHT=n
CONFIG_COMMON_CLK_RK808=n
CONFIG_IPQ_APSS_6018=n
CONFIG_TUN=n
CONFIG_HBMC_AM654=n
CONFIG_LEDS_TRIGGER_CPU=n
CONFIG_MEDIA_TUNER_MC44S803=n
CONFIG_QCOM_CLK_APCS_MSM8916=n
CONFIG_MESON_SECURE_PM_DOMAINS=n
CONFIG_NET_DSA_TAG_NONE=n
CONFIG_MOUSE_PS2_TRACKPOINT=n
CONFIG_FB_CFB_FILLRECT=n
CONFIG_SND_MESON_CARD_UTILS=n
CONFIG_SM_VIDEOCC_8450=n
CONFIG_SND_AUDIO_GRAPH_CARD=n
CONFIG_PHY_MTK_DP=n
CONFIG_NET_ACT_GACT=n
CONFIG_DRM_ETNAVIV=n
CONFIG_USB_CHIPIDEA_HOST=n
CONFIG_SND_SUN4I_I2S=n
CONFIG_ARCH_R8A77961=n
CONFIG_DWMAC_IMX8=n
CONFIG_MTK_SVS=n
CONFIG_BLK_INLINE_ENCRYPTION=n
CONFIG_ARCH_RCAR_GEN4=n
CONFIG_FPGA=n
CONFIG_PINCTRL_TEGRA194=n
CONFIG_NET_9P=n
CONFIG_ARCH_R8A77960=n
CONFIG_NO_HZ_IDLE=n
CONFIG_SERIAL_MESON=n
CONFIG_VIRTIO=n
CONFIG_ARM_ALLWINNER_SUN50I_CPUFREQ_NVMEM=n
CONFIG_ACPI_CPPC_CPUFREQ=n
CONFIG_GPIO_BD9571MWV=n
CONFIG_ATA=n
CONFIG_CLK_R9A09G011=n
CONFIG_INTERCONNECT_QCOM_RPMH=n
CONFIG_SND_SOC_MSM8996=n
CONFIG_USB_DWC3_HAPS=n
CONFIG_SM_GCC_8750=n
CONFIG_MISC_FILESYSTEMS=n
CONFIG_SND_SOC_QDSP6_APM_DAI=n
CONFIG_GENERIC_IRQ_PROBE=n
CONFIG_PM_DEVFREQ_EVENT=n
CONFIG_STACKPROTECTOR_STRONG=n
CONFIG_RD_LZMA=n
CONFIG_ARCH_AXIADO=n
CONFIG_RESET_BRCMSTB=n
CONFIG_HIBERNATION=n
CONFIG_CRYPTO_LIB_BLAKE2B=n
CONFIG_CRASH_RESERVE=n
CONFIG_DRM_PANEL_HIMAX_HX83112B=n
CONFIG_TI_SCI_PROTOCOL=n
CONFIG_BRCMSTB_MEMC=n
CONFIG_RESET_SUNXI=n
CONFIG_DRM_MIPI_DSI=n
CONFIG_CHARGER_CROS_PCHG=n
CONFIG_HAVE_KVM_READONLY_MEM=n
CONFIG_SND_CTL_LED=n
CONFIG_RPMSG=n
CONFIG_ARCH_SUPPORTS_KEXEC_FILE=n
CONFIG_CLK_RK3588=n
CONFIG_ASSOCIATIVE_ARRAY=n
CONFIG_ARM64_ERRATUM_827319=n
CONFIG_CAVIUM_ERRATUM_30115=n
CONFIG_ARCH_SUPPORTS_LTO_CLANG_THIN=n
CONFIG_XILINX_WATCHDOG=n
CONFIG_CRYPTO_AKCIPHER=n
CONFIG_E1000E=n
CONFIG_PT_RECLAIM=n
CONFIG_SM_GCC_4450=n
CONFIG_ARCH_HAS_SETUP_DMA_OPS=n
CONFIG_SND_SOC_TEGRA210_AMX=n
CONFIG_PINCTRL_TEGRA=n
CONFIG_ASPEED_UART_ROUTING=n
CONFIG_PHY_QCOM_EDP=n
CONFIG_BALLOON=n
CONFIG_USB_XHCI_SIDEBAND=n
CONFIG_HAVE_ACPI_APEI=n
CONFIG_VIDEO_SAMSUNG_EXYNOS_GSC=n
CONFIG_USB_DWC3_KEYSTONE=n
CONFIG_RUSTC_HAS_FILE_WITH_NUL=n
CONFIG_HID_SUPPORT=n
CONFIG_RTC_DRV_BQ32K=n
CONFIG_RTC_DRV_ARMADA38X=n
CONFIG_PINCTRL_PFC_R8A77960=n
CONFIG_PINCTRL_KAANAPALI=n
CONFIG_VIRTIO_PCI=n
CONFIG_NUMA=n
CONFIG_WLAN_VENDOR_TI=n
CONFIG_MFD_ROHM_BD718XX=n
CONFIG_I2C_RIIC=n
CONFIG_PINCTRL_IPQ8074=n
CONFIG_CACHESTAT_SYSCALL=n
CONFIG_SND_SOC_TEGRA210_ADX=n
CONFIG_ARCH_ENABLE_SPLIT_PMD_PTLOCK=n
CONFIG_TEGRA_TIMER=n
CONFIG_FB_SYS_FILLRECT=n
CONFIG_CRYPTO_SIG2=n
CONFIG_DRM_HISI_KIRIN=n
CONFIG_RCAR_GEN3_THERMAL=n
CONFIG_DRM_PL111=n
CONFIG_DMA_VIRTUAL_CHANNELS=n
CONFIG_OPTEE=n
CONFIG_RESET_UNIPHIER_GLUE=n
CONFIG_NET_DSA_BCM_SF2=n
CONFIG_ZYNQMP_PM_DOMAINS=n
CONFIG_SYSCON_REBOOT_MODE=n
CONFIG_SPRD_COMMON_CLK=n
CONFIG_PHY_J721E_WIZ=n
CONFIG_BLOCK_LEGACY_AUTOLOAD=n
CONFIG_ASYMMETRIC_PUBLIC_KEY_SUBTYPE=n
CONFIG_FAIR_GROUP_SCHED=n
CONFIG_HW_RANDOM_EXYNOS=n
CONFIG_CLK_X1E80100_GCC=n
CONFIG_DRM_ZYNQMP_DPSUB=n
CONFIG_UID16=n
CONFIG_RTC_DRV_TI_K3=n
CONFIG_ZSTD_COMPRESS=n
CONFIG_PINCTRL_QCS615=n
CONFIG_EC_ACER_ASPIRE1=n
CONFIG_CLK_R8A77990=n
CONFIG_PINCTRL_HAWI=n
CONFIG_XZ_DEC_POWERPC=n
CONFIG_PINCTRL_SM6125=n
CONFIG_ARCH_HAS_NON_OVERLAPPING_ADDRESS_SPACE=n
CONFIG_ARM_SMMU_MMU_500_CPRE_ERRATA=n
CONFIG_TI_K3_AM65_CPSW_NUSS=n
CONFIG_V4L2_FWNODE=n
CONFIG_I2C_ALGOBIT=n
CONFIG_AMLOGIC_THERMAL=n
CONFIG_APPLE_SART=n
CONFIG_CRYPTO_LIB_SM3_ARCH=n
CONFIG_REGULATOR_HI655X=n
CONFIG_TOUCHSCREEN_APPLE_Z2=n
CONFIG_ATH11K=n
CONFIG_ARCH_LG1K=n
CONFIG_SM_VIDEOCC_6350=n
CONFIG_USB_DWC2=n
CONFIG_SOUNDWIRE=n
CONFIG_HAVE_ARCH_HUGE_VMALLOC=n
CONFIG_MEDIATEK_WATCHDOG=n
CONFIG_PINCTRL_APPLE_GPIO=n
CONFIG_SUN8I_THERMAL=n
CONFIG_SDM_CAMCC_845=n
CONFIG_ARCH_HAS_DEBUG_VM_PGTABLE=n
CONFIG_DRM_PANEL_RAYDIUM_RM67191=n
CONFIG_PCI_IMX6_HOST=n
CONFIG_INTERCONNECT_QCOM_GLYMUR=n
CONFIG_DIMLIB=n
CONFIG_MOUSE_ELAN_I2C=n
CONFIG_IWLDVM=n
CONFIG_DEVTMPFS=n
CONFIG_WLAN_VENDOR_RSI=n
CONFIG_HAVE_CLK_PREPARE=n
CONFIG_QCOM_FALKOR_ERRATUM_1009=n
CONFIG_BUILTIN_RETURN_ADDRESS_STRIPS_PAC=n
CONFIG_MTD_SPI_NOR=n
CONFIG_USB_NET_ZAURUS=n
CONFIG_MMC_SDHI=n
CONFIG_INTERCONNECT_QCOM_SM8450=n
CONFIG_HAVE_ASM_MODVERSIONS=n
CONFIG_CROS_TYPEC_SWITCH=n
CONFIG_FSL_DPAA_ETH=n
CONFIG_SND_MESON_AXG_TODDR=n
CONFIG_VIDEOBUF2_CORE=n
CONFIG_CLK_IMX93=n
CONFIG_SND_SOC_FSL_SPDIF=n
CONFIG_BCM_PMB=n
CONFIG_ARCH_R8A77951=n
CONFIG_SND_SOC_QDSP6_COMMON=n
CONFIG_V4L_PLATFORM_DRIVERS=n
CONFIG_WLAN_VENDOR_MEDIATEK=n
CONFIG_CLK_RCAR_GEN3_CPG=n
CONFIG_RMNET=n
CONFIG_DRM_BRIDGE_CONNECTOR=n
CONFIG_USB_ACM=n
