CONFIG_REGULATOR_TPS62360=y
CONFIG_GPIO_NPCM_SGPIO=y
CONFIG_COMMON_CLK_MT6779_IPESYS=y
CONFIG_SPRD_DMA=y
CONFIG_COMMON_CLK_MT7629_ETHSYS=y
CONFIG_PPDEV=y
CONFIG_XFS_FS=y
CONFIG_HAVE_STACKPROTECTOR=y
CONFIG_COMMON_CLK_MT8196_MDPSYS=y
CONFIG_PWM_IMX_TPM=y
CONFIG_ADVANTECH_EC_WDT=y
CONFIG_SMSC37B787_WDT=y
CONFIG_SERIAL_SC16IS7XX_I2C=y
CONFIG_PWM_IMX27=y
CONFIG_FW_LOADER_DEBUG=y
CONFIG_HW_RANDOM_ROCKCHIP=y
CONFIG_ATCWDT200_WATCHDOG=y
CONFIG_MTD_SCB2_FLASH=y
CONFIG_SENSORS_AD7418=y
CONFIG_OVERLAY_FS_METACOPY=y
CONFIG_GPIO_RTD=y
CONFIG_MTD_PARSER_TRX=y
CONFIG_RTC_DRV_RTD119X=y
CONFIG_RMI4_SMB=y
CONFIG_SCHED_MC_PRIO=y
CONFIG_PROFILE_ALL_BRANCHES=y
CONFIG_ARCH_SUPPORTS_SCHED_CLUSTER=y
CONFIG_HW_RANDOM_STM32=y
CONFIG_PCCARD=y
CONFIG_REGULATOR_AW37503=y
CONFIG_CHARGER_MT6360=y
CONFIG_SCHED_INFO=y
CONFIG_CRYPTO_AES=y
CONFIG_GENERIC_CLOCKEVENTS_COUPLED=y
CONFIG_INTEL_PUNIT_IPC=y
CONFIG_HID_PETALYNX=y
CONFIG_ALIM7101_WDT=y
CONFIG_W1_SLAVE_DS2805=y
CONFIG_COMEDI_ADDI_APCI_3XXX=y
CONFIG_ARCH_SUPPORTS_KEXEC_HANDOVER=y
CONFIG_DEVPORT=y
CONFIG_I2C_XILINX=y
CONFIG_DYNAMIC_DEBUG=y
CONFIG_ARCH_MIGHT_HAVE_PC_SERIO=y
CONFIG_COMEDI_ADDI_APCI_3501=y
CONFIG_AMD_PTDMA=y
CONFIG_CRYPTO_LZ4=y
CONFIG_DYNAMIC_DEBUG_CORE=y
CONFIG_HID_PICOLCD_LEDS=y
CONFIG_HZ_1000=y
CONFIG_PCI_MMCONFIG=y
CONFIG_THERMAL=y
CONFIG_MFD_MAX8925=y
CONFIG_MFD_MAX77541=y
CONFIG_FB_PM2_FIFO_DISCONNECT=y
CONFIG_CGROUP_DMEM=y
CONFIG_HAVE_C_RECORDMCOUNT=y
CONFIG_HAVE_HARDLOCKUP_DETECTOR_PERF=y
CONFIG_EXYNOS_IOMMU=y
CONFIG_REGULATOR_TPS65132=y
CONFIG_X86_THERMAL_VECTOR=y
CONFIG_CRC16=y
CONFIG_PINCTRL_SKY1_BASE=y
CONFIG_BATTERY_CHAGALL=y
CONFIG_FS_MBCACHE=y
CONFIG_SYSFS=y
CONFIG_X86_REQUIRED_FEATURE_CPUID=y
CONFIG_MTD_ONENAND_SAMSUNG=y
CONFIG_KCMP=y
CONFIG_VIRTIO=y
CONFIG_DAMON_RECLAIM=y
CONFIG_RTC_DRV_PCF85363=y
CONFIG_GPIO_MAX7300=y
CONFIG_PATA_NS87410=y
CONFIG_KVM_MMU_LOCKLESS_AGING=y
CONFIG_HAVE_KRETPROBES=y
CONFIG_SIEMENS_SIMATIC_IPC_BATT_F7188X=y
CONFIG_REGULATOR_S2MPA01=y
CONFIG_ASPEED_UART_ROUTING=y
CONFIG_PWM_IQS620A=y
CONFIG_PRINTK=y
CONFIG_MFD_MC13XXX_I2C=y
CONFIG_CB710_CORE=y
CONFIG_CLK_RASPBERRYPI=y
CONFIG_X86_DISABLED_FEATURE_TDX_GUEST=y
CONFIG_HID_GYRATION=y
CONFIG_HAVE_PCSPKR_PLATFORM=y
CONFIG_CRYPTO_LIB_SHA1=y
CONFIG_MFD_AAT2870_CORE=y
CONFIG_X86_REQUIRED_FEATURE_CX8=y
CONFIG_HAS_DMA=y
CONFIG_EXCLUSIVE_SYSTEM_RAM=y
CONFIG_MTD_ONENAND_2X_PROGRAM=y
CONFIG_ARCH_WANT_GENERAL_HUGETLB=y
CONFIG_TRACE_IRQFLAGS_SUPPORT=y
CONFIG_SENSORS_SG2042_MCU=y
CONFIG_GPIB_COMMON=y
CONFIG_SPRD_THERMAL=y
CONFIG_I2C_I801=y
CONFIG_FB_RADEON=y
CONFIG_JFS_DEBUG=y
CONFIG_MFD_TI_LP873X=y
CONFIG_ARM_SUN8I_A33_MBUS_DEVFREQ=y
CONFIG_SERIAL_JSM=y
CONFIG_DMA_OPS_HELPERS=y
CONFIG_COMMON_CLK_MT7986=y
CONFIG_PINCTRL_RENESAS=y
CONFIG_EUROTECH_WDT=y
CONFIG_INPUT=y
CONFIG_LRU_GEN=y
CONFIG_CRC_ITU_T=y
CONFIG_JOYSTICK_ANALOG=y
CONFIG_I2C_ALGOBIT=y
CONFIG_ARM_CMN=y
CONFIG_X86_DISABLED_FEATURE_CYRIX_ARR=y
CONFIG_RESET_SOCFPGA=y
CONFIG_REGULATOR_MAX77686=y
CONFIG_W1_SLAVE_DS2780=y
CONFIG_MIGRATION=y
CONFIG_HID_TIVO=y
CONFIG_IMX_SCMI_LMM_EXT=y
CONFIG_RTC_DRV_DS1685_FAMILY=y
CONFIG_CRYPTO_LIB_AES_ARCH=y
CONFIG_MTK_VCP_MBOX=y
CONFIG_ASPEED_BT_IPMI_BMC=y
CONFIG_SENSORS_MAX31730=y
CONFIG_NVMEM_SNVS_LPGPR=y
CONFIG_GAMEPORT=y
CONFIG_NVMEM_MXS_OCOTP=y
CONFIG_FUNCTION_TRACER=y
CONFIG_INPUT_JOYSTICK=y
CONFIG_RANDOMIZE_KSTACK_OFFSET_DEFAULT=y
CONFIG_CRYPTO_LIB_SHA1_ARCH=y
CONFIG_BACKLIGHT_QCOM_WLED=y
CONFIG_DMA_SA11X0=y
CONFIG_EXPORTFS=y
CONFIG_PREEMPT_COUNT=y
CONFIG_MTK_SOCINFO=y
CONFIG_DEBUG_BUGVERBOSE=y
CONFIG_BCMA_NFLASH=y
CONFIG_STM32_DMAMUX=y
CONFIG_INTERCONNECT_QCOM_OSM_L3=y
CONFIG_GENERIC_BUG=y
CONFIG_HW_RANDOM_XGENE=y
CONFIG_NVME_FC=y
CONFIG_REGMAP_MMIO=y
CONFIG_REGULATOR_SPACEMIT_P1=y
CONFIG_BINFMT_SCRIPT=y
CONFIG_SBP_TARGET=y
CONFIG_MHI_BUS_PCI_GENERIC=y
CONFIG_HAVE_UNSTABLE_SCHED_CLOCK=y
CONFIG_SECURITY_DMESG_RESTRICT=y
CONFIG_PANTHERLORD_FF=y
CONFIG_SAMPLES=y
CONFIG_SATA_SX4=y
CONFIG_FTRACE_STARTUP_TEST=y
CONFIG_DEV_DAX=y
CONFIG_PCCARD_NONSTATIC=y
CONFIG_MLXREG_IO=y
CONFIG_I2C_LS2X=y
CONFIG_ARM_DMA350=y
CONFIG_W1_SLAVE_DS2406=y
CONFIG_BLK_INLINE_ENCRYPTION=y
CONFIG_CRYPTO_CAMELLIA_X86_64=y
CONFIG_RTC_DRV_FTRTC010=y
CONFIG_CRYPTO_AEAD=y
CONFIG_HAVE_JUMP_LABEL_HACK=y
CONFIG_HYPERV_TIMER=y
CONFIG_TRACER_MAX_TRACE=y
CONFIG_VM_EVENT_COUNTERS=y
CONFIG_LEDS_MLXREG=y
CONFIG_SAMPLE_TSM_MR=y
CONFIG_ARCH_HAS_GIGANTIC_PAGE=y
CONFIG_SENSORS_AS370=y
CONFIG_BATTERY_DA9030=y
CONFIG_VIA_WDT=y
CONFIG_X86_REQUIRED_FEATURE_SYSFAST32=y
CONFIG_NTFS3_LZX_XPRESS=y
CONFIG_SENSORS_MAX31790=y
CONFIG_DRA752_THERMAL=y
CONFIG_RAID_ATTRS=y
CONFIG_COMEDI_ADL_PCI9118=y
CONFIG_SENSORS_ADM9240=y
CONFIG_KARMA_PARTITION=y
CONFIG_ISO9660_FS=y
CONFIG_PINCTRL_MLXBF3=y
CONFIG_ARCH_WANTS_THP_SWAP=y
CONFIG_HAS_IOPORT=y
CONFIG_ARCH_SUPPORTS_KEXEC=y
CONFIG_OSF_PARTITION=y
CONFIG_CRYPTO_WP512=y
CONFIG_REGULATOR_RAA215300=y
CONFIG_FB_N411=y
CONFIG_X86_DISABLED_FEATURE_XENPV=y
CONFIG_COMMON_CLK_MT8192_IPESYS=y
CONFIG_BINARY_PRINTF=y
CONFIG_CRYPTO_LIB_SHA256_ARCH=y
CONFIG_REGULATOR_AAT2870=y
CONFIG_FB_3DFX_I2C=y
CONFIG_KEBA_CP500=y
CONFIG_MOUSE_PS2_SYNAPTICS_SMBUS=y
CONFIG_TASKS_RCU=y
CONFIG_HAVE_EFFICIENT_UNALIGNED_ACCESS=y
CONFIG_FB_GBE=y
CONFIG_REGULATOR_DA9055=y
CONFIG_I2C_SLAVE_EEPROM=y
CONFIG_LD_CAN_USE_KEEP_IN_OVERLAY=y
CONFIG_SERIAL_MPS2_UART_CONSOLE=y
CONFIG_INTEL_PMT_CLASS=y
CONFIG_REGULATOR_PV88080=y
CONFIG_GOLDFISH_TIMER=y
CONFIG_POWER_RESET_PIIX4_POWEROFF=y
CONFIG_JFS_POSIX_ACL=y
CONFIG_FB_SYSMEM_HELPERS=y
CONFIG_MFD_RETU=y
CONFIG_ARCH_SUPPORTS_MSEAL_SYSTEM_MAPPINGS=y
CONFIG_GPIO_XLP=y
CONFIG_INTERVAL_TREE=y
CONFIG_GENERIC_PINMUX_FUNCTIONS=y
CONFIG_KVM_COMPAT=y
CONFIG_NVMEM_SPMI_SDAM=y
CONFIG_CRYPTO_DH_RFC7919_GROUPS=y
CONFIG_RANDOM32_SELFTEST=y
CONFIG_ZSTD_DECOMPRESS=y
CONFIG_XFS_LIVE_HOOKS=y
CONFIG_INPUT_GPIO_VIBRA=y
CONFIG_RZ_DMAC=y
CONFIG_IO_URING=y
CONFIG_BCM_KONA_WDT=y
CONFIG_SAMPLE_AUXDISPLAY=y
CONFIG_PCI=y
CONFIG_COMMON_CLK_MEDIATEK_FHCTL=y
CONFIG_COMEDI_ADDI_APCI_2200=y
CONFIG_X86_DISABLED_FEATURE_USER_SHSTK=y
CONFIG_LEDS_LP50XX=y
CONFIG_GPIO_XGENE=y
CONFIG_ARM_SCMI_HAVE_MSG=y
CONFIG_FB_ARC=y
CONFIG_UIO_PDRV_GENIRQ=y
CONFIG_CRC64_ARCH=y
CONFIG_COMPAT_OLD_SIGACTION=y
CONFIG_INPUT_KXTJ9=y
CONFIG_UNIX98_PTYS=y
CONFIG_COMMON_CLK_FSL_SAI=y
CONFIG_SERIAL_ALTERA_JTAGUART_CONSOLE=y
CONFIG_MODIFY_LDT_SYSCALL=y
CONFIG_HAVE_KVM_MSI=y
CONFIG_ARCH_SUPPORTS_RT=y
CONFIG_CRYPTO_LIB_AES_CBC_MACS=y
CONFIG_HAVE_RSEQ=y
CONFIG_SLAB_FREELIST_RANDOM=y
CONFIG_HID_MACALLY=y
CONFIG_RTC_DRV_SUNXI=y
CONFIG_SERIAL_SCCNXP=y
CONFIG_HAVE_MOVE_PUD=y
CONFIG_NLS_ISO8859_8=y
CONFIG_COMMON_CLK_MT8192_MSDC=y
CONFIG_DYNAMIC_EVENTS=y
CONFIG_XZ_DEC_ARM=y
CONFIG_PKCS7_TEST_KEY=y
CONFIG_VMD=y
CONFIG_GENERIC_MSI_IRQ=y
CONFIG_SENSORS_IBMPEX=y
CONFIG_COMEDI_NI_LABPC_CS=y
CONFIG_DW_EDMA_PCIE=y
CONFIG_UIO_SERCOS3=y
CONFIG_EXTCON=y
CONFIG_SOC_IMX8M=y
CONFIG_CRYPTO_MANAGER2=y
CONFIG_RTC_DRV_PM8XXX=y
CONFIG_EEPROM_93CX6=y
CONFIG_JOYSTICK_TURBOGRAFX=y
CONFIG_MTK_CMDQ=y
CONFIG_STM32_WATCHDOG=y
CONFIG_GPIO_WAVESHARE_DSI_TOUCH=y
CONFIG_GPIO_IXP4XX=y
CONFIG_NLS_CODEPAGE_869=y
CONFIG_SENSORS_TMP464=y
CONFIG_SATA_PMP=y
CONFIG_FB_SIMPLE=y
CONFIG_SENSORS_ASB100=y
CONFIG_K3_DMA=y
CONFIG_TRACE_CLOCK=y
CONFIG_REGULATOR_MAX77857=y
CONFIG_PINCTRL_PFC_R8A7790=y
CONFIG_GPIO_PCF857X=y
CONFIG_ARCH_HAS_FAST_MULTIPLIER=y
CONFIG_BSD_PROCESS_ACCT_V3=y
CONFIG_SECRETMEM=y
CONFIG_LTO_NONE=y
CONFIG_QCOM_TZMEM_MODE_GENERIC=y
CONFIG_HID_MAGICMOUSE=y
CONFIG_CHARGER_RT9455=y
CONFIG_CPU_FREQ_GOV_ATTR_SET=y
CONFIG_MADERA_IRQ=y
CONFIG_RTC_DRV_GENERIC=y
CONFIG_EPOLL=y
CONFIG_NLS_ISO8859_3=y
CONFIG_IA32_FEAT_CTL=y
CONFIG_PATA_TIMINGS=y
CONFIG_OMAP_IOMMU_DEBUG=y
CONFIG_CLK_IMX8ULP=y
CONFIG_ARCH_SUPPORTS_CRASH_HOTPLUG=y
CONFIG_NVME_TARGET_FCLOOP=y
CONFIG_FAT_FS=y
CONFIG_MLX_WDT=y
CONFIG_SERIAL_8250_PERICOM=y
CONFIG_PER_VMA_LOCK=y
CONFIG_AHCI_SUNXI=y
CONFIG_TEST_POWER=y
CONFIG_BACKLIGHT_AS3711=y
CONFIG_PWM_HIBVT=y
CONFIG_BACKLIGHT_LM3509=y
CONFIG_KVM_VFIO=y
CONFIG_PINCTRL_TIGERLAKE=y
CONFIG_THERMAL_EMULATION=y
CONFIG_CRYPTO_LIB_MLDSA=y
CONFIG_LEDS_INTEL_SS4200=y
CONFIG_POWER_SEQUENCING_QCOM_WCN=y
CONFIG_MFD_SI476X_CORE=y
CONFIG_BROADCAST_TLB_FLUSH=y
CONFIG_DA9055_WATCHDOG=y
CONFIG_LOCK_DEBUGGING_SUPPORT=y
CONFIG_MTD_NAND_ECC_SW_HAMMING=y
CONFIG_JBD2=y
CONFIG_COMEDI_ADDI_WATCHDOG=y
CONFIG_RTC_DRV_TPS6586X=y
CONFIG_SPRD_COMMON_CLK=y
CONFIG_COMMON_CLK_SP7021=y
CONFIG_IBMASR=y
CONFIG_TRANSPARENT_HUGEPAGE=y
CONFIG_DMADEVICES_DEBUG=y
CONFIG_COMEDI_DAS08_CS=y
CONFIG_DYNAMIC_FTRACE_WITH_JMP=y
CONFIG_PWM_RENESAS_TPU=y
CONFIG_TH1520_AON_PROTOCOL=y
CONFIG_SP5100_TCO=y
CONFIG_MFD_DA9150=y
CONFIG_HAVE_RETHOOK=y
CONFIG_SENSORS_VIA686A=y
CONFIG_CONTIG_ALLOC=y
CONFIG_AMD_SFH_HID=y
CONFIG_CRYPTO_LIB_GF128MUL=y
CONFIG_CC_HAS_COUNTED_BY=y
CONFIG_MST_IRQ=y
CONFIG_HAVE_SETUP_PER_CPU_AREA=y
CONFIG_DECOMPRESS_ZSTD=y
CONFIG_COMEDI_ADL_PCI9111=y
CONFIG_IPMI_SSIF=y
CONFIG_HID_GEMBIRD=y
CONFIG_RTC_DRV_SSD202D=y
CONFIG_GPIO_MB86S7X=y
CONFIG_FB_WMT_GE_ROPS=y
CONFIG_MTD_ABSENT=y
CONFIG_PCI_ECAM=y
CONFIG_STUB_CLK_HI6220=y
CONFIG_HWSPINLOCK_STM32=y
CONFIG_CRYPTO_AKCIPHER=y
CONFIG_RESET_AXS10X=y
CONFIG_PHY_HI6220_USB=y
CONFIG_PM_DEVFREQ_EVENT=y
CONFIG_NVME_TARGET_AUTH_DEBUG=y
CONFIG_FB_CFB_FILLRECT=y
CONFIG_RTC_DRV_RX8581=y
CONFIG_BLK_DEV_BSGLIB=y
CONFIG_PHY_MIPHY28LP=y
CONFIG_SENSORS_SCH5627=y
CONFIG_COMEDI_ADDI_APCI_1564=y
CONFIG_QCOM_RPM_MASTER_STATS=y
CONFIG_TEST_KSTRTOX=y
CONFIG_SENSORS_PT5161L=y
CONFIG_X86_REQUIRED_FEATURE_XMM2=y
CONFIG_COMMON_CLK_MT6779_MFGCFG=y
CONFIG_MFD_CORE=y
CONFIG_CV1800_MBOX=y
CONFIG_HAVE_ARCH_SECCOMP=y
CONFIG_INIT_STACK_ALL_PATTERN=y
CONFIG_JH71XX_PMU=y
CONFIG_COMMON_CLK_ZYNQMP=y
CONFIG_MTD_CFI_UTIL=y
CONFIG_PWM_PCA9685=y
CONFIG_MTD_GEN_PROBE=y
CONFIG_XFS_SUPPORT_V4=y
CONFIG_PWM_STM32=y
CONFIG_X86_DEBUGCTLMSR=y
CONFIG_SUNXI_WATCHDOG=y
CONFIG_LEDS_OSRAM_AMS_AS3668=y
CONFIG_QCOM_TZMEM=y
CONFIG_SENSORS_LTC2945=y
CONFIG_X86_64=y
CONFIG_CXL_SUSPEND=y
CONFIG_SERIAL_ALTERA_JTAGUART_CONSOLE_BYPASS=y
CONFIG_INPUT_88PM80X_ONKEY=y
CONFIG_PRINTER=y
CONFIG_LRU_GEN_STATS=y
CONFIG_SA1100_WATCHDOG=y
CONFIG_ARCH_HAS_PARANOID_L1D_FLUSH=y
CONFIG_REGULATOR_MAX1586=y
CONFIG_PCI_STUB=y
CONFIG_TASKS_TRACE_RCU=y
CONFIG_FB_GEODE_LX=y
CONFIG_INTEL_TURBO_MAX_3=y
CONFIG_GPIO_PCI_IDIO_16=y
CONFIG_CXL_FEATURES=y
CONFIG_HID_KYE=y
CONFIG_ARCH_USE_QUEUED_RWLOCKS=y
CONFIG_GPIO_LPC18XX=y
CONFIG_RTC_DRV_ATCRTC100=y
CONFIG_RTC_DRV_SD2405AL=y
CONFIG_PINCTRL_TEGRA=y
CONFIG_ARCH_DEFAULT_CRASH_DUMP=y
CONFIG_NVMEM_BRCM_NVRAM=y
CONFIG_RTC_INTF_SYSFS=y
CONFIG_TRANSPARENT_HUGEPAGE_TMPFS_HUGE_ALWAYS=y
CONFIG_RTC_DRV_MAX6900=y
CONFIG_MMU_LAZY_TLB_REFCOUNT=y
CONFIG_PAGE_EXTENSION=y
CONFIG_REGULATOR=y
CONFIG_SIGNALFD=y
CONFIG_ARCH_HAS_CPU_CACHE_INVALIDATE_MEMREGION=y
CONFIG_PC87413_WDT=y
CONFIG_REGULATOR_WM8994=y
CONFIG_I2C_I801_MUX=y
CONFIG_VIRTIO_PCI_LIB_LEGACY=y
CONFIG_DEBUG_GENERIC_PT=y
CONFIG_PARPORT_PANEL=y
CONFIG_SENSORS_ARM_SCMI=y
CONFIG_ARCH_SUPPORTS_PAGE_TABLE_CHECK=y
CONFIG_I2C_STM32F4=y
CONFIG_REGULATOR_RASPBERRYPI_TOUCHSCREEN_ATTINY=y
CONFIG_LEDS_APU=y
CONFIG_PINCTRL_SH_PFC=y
CONFIG_NLS_CODEPAGE_857=y
CONFIG_I2C_DESIGNWARE_CORE=y
CONFIG_PINCTRL_AMDISP=y
CONFIG_I2C_MUX=y
CONFIG_SENSORS_G760A=y
CONFIG_ARM_EXYNOS_BUS_DEVFREQ=y
CONFIG_INPUT_APANEL=y
CONFIG_CRYPTO_842=y
CONFIG_CHARLCD=y
CONFIG_PCIEASPM=y
CONFIG_MLXREG_HOTPLUG=y
CONFIG_MFD_WM5102=y
CONFIG_FB_CIRRUS=y
CONFIG_HAVE_KVM_PM_NOTIFIER=y
CONFIG_COMMON_CLK_MT8192_AUDSYS=y
CONFIG_MFD_88PM805=y
CONFIG_CHARGER_BQ2515X=y
CONFIG_SERIAL_AMBA_PL010=y
CONFIG_SSIF_IPMI_BMC=y
CONFIG_ARCH_HAS_KERNEL_FPU_SUPPORT=y
CONFIG_COMMON_CLK_MEDIATEK=y
CONFIG_INTEL_ATOMISP2_PM=y
CONFIG_SGL_ALLOC=y
CONFIG_THERMAL_GOV_POWER_ALLOCATOR=y
CONFIG_CLZ_TAB=y
CONFIG_PHY_XILINX_ZYNQMP=y
CONFIG_PWM_EP93XX=y
CONFIG_CLK_IMXRT1050=y
CONFIG_ECONET_EN751221_TIMER=y
CONFIG_HAVE_STATIC_CALL_INLINE=y
CONFIG_XILLYBUS=y
CONFIG_CRYPTO_TWOFISH_AVX_X86_64=y
CONFIG_X86_DISABLED_FEATURE_K6_MTRR=y
CONFIG_EXYNOS_MBOX=y
CONFIG_HANGCHECK_TIMER=y
CONFIG_HAVE_KERNEL_LZ4=y
CONFIG_COMMON_CLK_MT8186_IMP_IIC_WRAP=y
CONFIG_BATTERY_DS2760=y
CONFIG_SENSORS_RASPBERRYPI_HWMON=y
CONFIG_W1_MASTER_MXC=y
CONFIG_NVME_FABRICS=y
CONFIG_SENSORS_ADT7411=y
CONFIG_HAVE_CMPXCHG_DOUBLE=y
CONFIG_ARCH_WANT_OLD_COMPAT_IPC=y
CONFIG_PCIE_ULTRARISC=y
CONFIG_FUNCTION_ALIGNMENT_16B=y
CONFIG_SERIAL_IMX=y
CONFIG_CRYPTO_SIG2=y
CONFIG_COMEDI_CB_DAS16_CS=y
CONFIG_THREAD_INFO_IN_TASK=y
CONFIG_MAX63XX_WATCHDOG=y
CONFIG_RTC_DRV_DS1307_CENTURY=y
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_JMP=y
CONFIG_CHARGER_LTC4162L=y
CONFIG_COMMON_CLK_SI5351=y
CONFIG_HPET_TIMER=y
CONFIG_FB_NVIDIA=y
CONFIG_APDS9802ALS=y
CONFIG_VIRTIO_VFIO_PCI=y
CONFIG_UNWINDER_ORC=y
CONFIG_UNICODE=y
CONFIG_BCMA_DRIVER_PCI=y
CONFIG_PINCTRL_WM8750=y
CONFIG_RTC_DRV_MAX31335=y
CONFIG_DMABUF_HEAPS=y
CONFIG_PERSISTENT_KEYRINGS=y
CONFIG_COMEDI_PCMCIA_DRIVERS=y
CONFIG_HAVE_PREEMPT_DYNAMIC_CALL=y
