CONFIG_HID_CYPRESS=y
CONFIG_LEDS_BRIGHTNESS_HW_CHANGED=y
CONFIG_FWCTL=y
CONFIG_ARCH_HAS_MMIOWB=y
CONFIG_OVERLAY_FS_METACOPY=y
CONFIG_MEMSTICK=y
CONFIG_SENSORS_PCF8591=y
CONFIG_GENERIC_CSUM=y
CONFIG_GPIO_BY_PINCTRL=y
CONFIG_W1_SLAVE_DS28E04=y
CONFIG_HID_STEELSERIES=y
CONFIG_RAVE_SP_CORE=y
CONFIG_DS4424=y
CONFIG_KCMP=y
CONFIG_SENSORS_AXI_FAN_CONTROL=y
CONFIG_SENSORS_LTC2991=y
CONFIG_PHY_TI_DS125DF111=y
CONFIG_CRYPTO_LIB_SHA256=y
CONFIG_MCP47FEB02=y
CONFIG_I2C_ALGOPCA=y
CONFIG_GENERIC_PHY_MIPI_DPHY=y
CONFIG_GPIO_WM831X=y
CONFIG_HID_ZYDACRON=y
CONFIG_MFD_RT5120=y
CONFIG_ARCH_HAS_PREEMPT_LAZY=y
CONFIG_FW_LOADER_SYSFS=y
CONFIG_HID_SPEEDLINK=y
CONFIG_M62332=y
CONFIG_KERNFS=y
CONFIG_HAVE_ARCH_THREAD_STRUCT_WHITELIST=y
CONFIG_CONTEXT_SWITCH_TRACER=y
CONFIG_NLS_CODEPAGE_865=y
CONFIG_MUX_CORE=y
CONFIG_AL3010=y
CONFIG_NLS_CODEPAGE_936=y
CONFIG_CHARGER_LP8727=y
CONFIG_BACKLIGHT_MAX25014=y
CONFIG_KALLSYMS_ALL=y
CONFIG_USB_SERIAL_KEYSPAN=y
CONFIG_FB_CFB_COPYAREA=y
CONFIG_SERIAL_XILINX_PS_UART=y
CONFIG_HID_ELO=y
CONFIG_HID_RAPOO=y
CONFIG_RCU_NOCB_CPU=y
CONFIG_PHYS_RAM_BASE_FIXED=y
CONFIG_USB_SERIAL_KOBIL_SCT=y
CONFIG_SENSORS_ASUS_ROG_RYUJIN=y
CONFIG_EXPORTFS=y
CONFIG_FIPS_SIGNATURE_SELFTEST_RSA=y
CONFIG_SENSORS_ISL29028=y
CONFIG_HID_TOPSEED=y
CONFIG_RUSTC_SUPPORTS_RISCV=y
CONFIG_MTD_NAND_ECC_SW_HAMMING_SMC=y
CONFIG_ARCH_HAS_FORTIFY_SOURCE=y
CONFIG_MFD_RETU=y
CONFIG_HID_ZEROPLUS=y
CONFIG_HOTPLUG_SPLIT_STARTUP=y
CONFIG_GPIOLIB_LEGACY=y
CONFIG_INPUT_TPS65219_PWRBUTTON=y
CONFIG_VEML6030=y
CONFIG_USB_GADGET_DEBUG_FS=y
CONFIG_ARCH_SUPPORTS_KEXEC_PURGATORY=y
CONFIG_POWER_RESET_AS3722=y
CONFIG_HAVE_CONTEXT_TRACKING_USER=y
CONFIG_CHARGER_MAX77693=y
CONFIG_ADL8113=y
CONFIG_TYPEC_MUX_PS883X=y
CONFIG_SERIAL_SCCNXP=y
CONFIG_EXCLUSIVE_SYSTEM_RAM=y
CONFIG_DMA_DECLARE_COHERENT=y
CONFIG_DECOMPRESS_LZMA=y
CONFIG_CRC_ITU_T=y
CONFIG_VEML3328=y
CONFIG_INPUT_SPARSEKMAP=y
CONFIG_EVENT_TRACING=y
CONFIG_INPUT_DA9052_ONKEY=y
CONFIG_MUX_ADG792A=y
CONFIG_SENSORS_TMP421=y
CONFIG_VEML3235=y
CONFIG_TSL2591=y
CONFIG_CHARGER_BQ2515X=y
CONFIG_COMMON_CLK_XLNX_CLKWZRD=y
CONFIG_GPIO_LP873X=y
CONFIG_HID_STEAM=y
CONFIG_SENSORS_WM8350=y
CONFIG_FB_SYS_COPYAREA=y
CONFIG_FB_SYSMEM_HELPERS=y
CONFIG_HAVE_MOVE_PMD=y
CONFIG_MOUSE_PS2_FOCALTECH=y
CONFIG_MFD_TPS65217=y
CONFIG_LKDTM=y
CONFIG_CHARGER_DETECTOR_MAX14656=y
CONFIG_BINFMT_FLAT_OLD=y
CONFIG_USB_ISP1301=y
CONFIG_VEML6075=y
CONFIG_MFD_DA9062=y
CONFIG_SENSORS_G760A=y
CONFIG_MFD_88PM805=y
CONFIG_MTD=y
CONFIG_AXP20X_POWER=y
CONFIG_LEDS_TRIGGER_ONESHOT=y
CONFIG_LEDS_TRIGGERS=y
CONFIG_LIRC=y
CONFIG_HID_MCP2221=y
CONFIG_PINCTRL_SX150X=y
CONFIG_MFD_TC3589X=y
CONFIG_MFD_TPS6594=y
CONFIG_BATTERY_DA9150=y
CONFIG_RMI4_CORE=y
CONFIG_MTD_NAND_CORE=y
CONFIG_USB_SERIAL_TI=y
CONFIG_INIT_STACK_NONE=y
CONFIG_BOOT_CONFIG=y
CONFIG_BMA220_I2C=y
CONFIG_AD799X=y
CONFIG_USB_OHCI_LITTLE_ENDIAN=y
CONFIG_AK8974=y
CONFIG_SRAM=y
CONFIG_SERIO_RAW=y
CONFIG_BMI088_ACCEL_I2C=y
CONFIG_LEDS_TCA6507=y
CONFIG_CHARLCD_BL_FLASH=y
CONFIG_GPIO_DLN2=y
CONFIG_IIO_MS_SENSORS_I2C=y
CONFIG_LTC2485=y
CONFIG_PINCTRL_SOPHGO_SG2042_OPS=y
CONFIG_USB_ACM=y
CONFIG_I2C_TAOS_EVM=y
CONFIG_FUEL_GAUGE_STC3117=y
CONFIG_RCU_STALL_COMMON=y
CONFIG_W1_MASTER_GPIO=y
CONFIG_GENERIC_PINMUX_FUNCTIONS=y
CONFIG_MTD_NAND_DISKONCHIP=y
CONFIG_FIRMWARE_MEMMAP=y
CONFIG_HID_SENSOR_PROX=y
CONFIG_SENSORS_MAX31790=y
CONFIG_THERMAL=y
CONFIG_SENSORS_OCC_P8_I2C=y
CONFIG_AS_HAS_NON_CONST_ULEB128=y
CONFIG_PECI_CPU=y
CONFIG_DS1682=y
CONFIG_SONY_FF=y
CONFIG_GENERIC_CLOCKEVENTS=y
CONFIG_NLS_MAC_INUIT=y
CONFIG_TYPEC_MUX_PTN36502=y
CONFIG_VIRTIO_FS=y
CONFIG_IIO_KX022A=y
CONFIG_PECI=y
CONFIG_USB_OHCI_HCD_PLATFORM=y
CONFIG_UBIFS_FS_ADVANCED_COMPR=y
CONFIG_FTRACE=y
CONFIG_CRYPTO_AES=y
CONFIG_CONSOLE_TRANSLATIONS=y
CONFIG_SERIAL_UARTLITE_CONSOLE=y
CONFIG_GPIO_BD71828=y
CONFIG_CRYPTO_LIB_BLAKE2B=y
CONFIG_NVMEM_REBOOT_MODE=y
CONFIG_KSTACK_ERASE=y
CONFIG_EXTCON_PALMAS=y
CONFIG_AF8133J=y
CONFIG_PPS_CLIENT_KTIMER=y
CONFIG_CLK_SOPHGO_SG2042_PLL=y
CONFIG_EEPROM_AT24=y
CONFIG_MOUSE_PS2_ELANTECH=y
CONFIG_LOCKUP_DETECTOR=y
CONFIG_MTD_CFI_I2=y
CONFIG_USB_SERIAL_MOS7720=y
CONFIG_THERMAL_DEFAULT_GOV_USER_SPACE=y
CONFIG_HAVE_FUNCTION_ERROR_INJECTION=y
CONFIG_MFD_SM501_GPIO=y
CONFIG_CRYPTO_CTS=y
CONFIG_DEBUG_NOTIFIERS=y
CONFIG_BH1750=y
CONFIG_DECOMPRESS_GZIP=y
CONFIG_EXTCON_MAX3355=y
CONFIG_GPIO_XILINX=y
CONFIG_SECURITY_DMESG_RESTRICT=y
CONFIG_HWLAT_TRACER=y
CONFIG_GPIO_ADP5585=y
CONFIG_KERNEL_GZIP=y
CONFIG_ARCH_HAS_RESET_CONTROLLER=y
CONFIG_BACKTRACE_SELF_TEST=y
CONFIG_MFD_ADP5585=y
CONFIG_DMA_SHARED_BUFFER=y
CONFIG_GPIO_MAX77650=y
CONFIG_NLS_CODEPAGE_866=y
CONFIG_BACKLIGHT_WM831X=y
CONFIG_RMI4_F30=y
CONFIG_RD_XZ=y
CONFIG_USB_SEVSEG=y
CONFIG_HID_PETALYNX=y
CONFIG_ARCH_SUPPORTS_INT128=y
CONFIG_CPUSETS_V1=y
CONFIG_UNINLINE_SPIN_UNLOCK=y
CONFIG_SENSORS_NZXT_KRAKEN2=y
CONFIG_MFD_TQMX86=y
CONFIG_GPIO_BD71815=y
CONFIG_CRYPTO_SHA1=y
CONFIG_USB_SERIAL_SYMBOL=y
CONFIG_SMI330_I2C=y
CONFIG_IIO_TIGHTLOOP_TRIGGER=y
CONFIG_HAVE_FUNCTION_ARG_ACCESS_API=y
CONFIG_MFD_MADERA=y
CONFIG_IIO_HRTIMER_TRIGGER=y
CONFIG_IIO_TRIGGER=y
CONFIG_GPIO_ADNP=y
CONFIG_HID_GT683R=y
CONFIG_INPUT=y
CONFIG_MTD_ONENAND_VERIFY_WRITE=y
CONFIG_AD525X_DPOT_I2C=y
CONFIG_USB_COMMON=y
CONFIG_EXTCON_MAX77843=y
CONFIG_USB_HCD_TEST_MODE=y
CONFIG_SENSORS_LTC2945=y
CONFIG_ARCH_HAVE_NMI_SAFE_CMPXCHG=y
CONFIG_AUXILIARY_BUS=y
CONFIG_MTD_MAP_BANK_WIDTH_4=y
CONFIG_HAVE_PAGE_SIZE_4KB=y
CONFIG_CC_NO_ARRAY_BOUNDS=y
CONFIG_ARCH_SUPPORTS_LTO_CLANG_THIN=y
CONFIG_FB_CFB_IMAGEBLIT=y
CONFIG_KALLSYMS=y
CONFIG_MLX90635=y
CONFIG_MFD_RC5T583=y
CONFIG_GPIOLIB_IRQCHIP=y
CONFIG_PERCPU_STATS=y
CONFIG_ARCH_HAS_CC_CAN_LINK=y
CONFIG_MFD_MAX8925=y
CONFIG_GPIB_FLUKE=y
CONFIG_BACKLIGHT_PANDORA=y
CONFIG_USB_SERIAL_SAFE=y
CONFIG_SENSORS_W83L786NG=y
CONFIG_HX9023S=y
CONFIG_MTD_RAM=y
CONFIG_CRYPTO_LIB_SHA512=y
CONFIG_OF_GPIO=y
CONFIG_LEDS_MT6323=y
CONFIG_CRYPTO_CBC=y
CONFIG_MFD_DLN2=y
CONFIG_HID_AUREAL=y
CONFIG_US5182D=y
CONFIG_ALTERA_STAPL=y
CONFIG_MFD_QCOM_PM8008=y
CONFIG_MAX30100=y
CONFIG_HIDRAW=y
CONFIG_ISL76682=y
CONFIG_MFD_CORE=y
CONFIG_COMMON_CLK_SI544=y
CONFIG_RN5T618_POWER=y
CONFIG_HID_GFRM=y
CONFIG_TICK_ONESHOT=y
CONFIG_NLS_ASCII=y
CONFIG_PROVE_RCU_LIST=y
CONFIG_SYNTH_EVENTS=y
CONFIG_MTD_CFI_I1=y
CONFIG_TRACE_CLOCK=y
CONFIG_CORDIC=y
CONFIG_HID=y
CONFIG_MOST=y
CONFIG_MTD_PHYSMAP=y
CONFIG_GPIO_TPS65218=y
CONFIG_FW_CFG_SYSFS=y
CONFIG_LEDS_TRIGGER_PATTERN=y
CONFIG_BACKLIGHT_AW99706=y
CONFIG_MFD_DA9052_I2C=y
CONFIG_ACLINT_SSWI=y
CONFIG_HID_XINMO=y
CONFIG_OF_RESOLVE=y
CONFIG_USB_DUMMY_HCD=y
CONFIG_FIPS_SIGNATURE_SELFTEST=y
CONFIG_NSM=y
CONFIG_ADXL313_I2C=y
CONFIG_HD44780=y
CONFIG_CRYPTO_LIB_POLY1305_ARCH=y
CONFIG_SERIAL_8250_DWLIB=y
CONFIG_W1_SLAVE_DS28E17=y
CONFIG_LEDS_TRIGGER_TIMER=y
CONFIG_PAGE_SIZE_LESS_THAN_256KB=y
CONFIG_SENSORS_MC34VR500=y
CONFIG_CRYPTO_RNG=y
CONFIG_TEST_IDA=y
CONFIG_RWSEM_SPIN_ON_OWNER=y
CONFIG_HISI_HIKEY_USB=y
CONFIG_LTO_NONE=y
CONFIG_SENSIRION_SGP30=y
CONFIG_RMI4_F03=y
CONFIG_IIO_TRIGGERED_BUFFER=y
CONFIG_ALLOW_DEV_COREDUMP=y
CONFIG_IIO_BACKEND=y
CONFIG_DEBUG_KMEMLEAK=y
CONFIG_HW_RANDOM_VIRTIO=y
CONFIG_PTP_1588_CLOCK_OPTIONAL=y
CONFIG_MFD_MAX77843=y
CONFIG_BATTERY_UG3105=y
CONFIG_RCU_EXPERT=y
CONFIG_HARDLOCKUP_DETECTOR_COUNTS_HRTIMER=y
CONFIG_SERIAL_ARC=y
CONFIG_SSB_SPROM=y
CONFIG_LZO_DECOMPRESS=y
CONFIG_VIRTIO_CONSOLE=y
CONFIG_AL3320A=y
CONFIG_DYNAMIC_EVENTS=y
CONFIG_HAVE_64BIT_ALIGNED_ACCESS=y
CONFIG_IIO_TRIGGERED_EVENT=y
CONFIG_USB_DYNAMIC_MINORS=y
CONFIG_XILLYUSB=y
CONFIG_GENERIC_IRQ_CHIP=y
CONFIG_GUP_TEST=y
CONFIG_USB_FEW_INIT_RETRIES=y
CONFIG_LZ4HC_COMPRESS=y
CONFIG_UBIFS_FS_SECURITY=y
CONFIG_PKCS7_MESSAGE_PARSER=y
CONFIG_BRANCH_PROFILE_NONE=y
CONFIG_SENSORS_POWERZ=y
CONFIG_ARCH_SUPPORTS_LTO_CLANG=y
CONFIG_PINCTRL_AXP209=y
CONFIG_GPIO_PALMAS=y
CONFIG_RING_BUFFER_ALLOW_SWAP=y
CONFIG_DEBUG_LOCK_ALLOC=y
CONFIG_BOOTPARAM_HARDLOCKUP_PANIC=y
CONFIG_MFD_ATC260X_I2C=y
CONFIG_SENSORS_LM83=y
CONFIG_HAVE_ARCH_SECCOMP=y
CONFIG_USB_DEFAULT_PERSIST=y
CONFIG_CRYPTO_LIB_SM3=y
CONFIG_XILLYBUS_CLASS=y
CONFIG_CRYPTO_CAST_COMMON=y
CONFIG_REGMAP=y
CONFIG_MFD_MAX77759=y
CONFIG_STACKDEPOT=y
CONFIG_TYPEC_MUX_FSA4480=y
CONFIG_FB_SYS_FILLRECT=y
CONFIG_SCHED_PROXY_EXEC=y
CONFIG_FB_NOTIFY=y
CONFIG_SPEAKUP_SYNTH_AUDPTR=y
CONFIG_MTD_REDBOOT_PARTS=y
CONFIG_FB_OPENCORES=y
CONFIG_HAVE_PERF_EVENTS=y
CONFIG_MOUSE_SERIAL=y
CONFIG_USB_DWC2=y
CONFIG_MAX5821=y
CONFIG_SX9500=y
CONFIG_BACKLIGHT_ARCXCNN=y
CONFIG_MFD_MAX77686=y
CONFIG_GENERIC_ALLOCATOR=y
CONFIG_REGMAP_IRQ=y
CONFIG_HARDLOCKUP_DETECTOR_BUDDY=y
CONFIG_HOTPLUG_PARALLEL=y
CONFIG_SENSORS_POWR1220=y
CONFIG_MTD_UBI=y
CONFIG_USB_HCD_SSB=y
CONFIG_ABP2030PA=y
CONFIG_SERIAL_UARTLITE=y
CONFIG_W1_SLAVE_DS2423=y
CONFIG_MFD_LM3533=y
CONFIG_HAVE_ARCH_JUMP_LABEL=y
CONFIG_BINARY_PRINTF=y
CONFIG_ITG3200=y
CONFIG_HID_ELAN=y
CONFIG_N_HDLC=y
CONFIG_DECOMPRESS_LZ4=y
CONFIG_DEBUG_FS_ALLOW_ALL=y
CONFIG_HTS221=y
CONFIG_LEDS_TRIGGER_CPU=y
CONFIG_MFD_ROHM_BD718XX=y
CONFIG_TREE_SRCU=y
CONFIG_CRYPTO_LIB_MLDSA=y
CONFIG_LEDS_TI_LMU_COMMON=y
CONFIG_CC_HAS_SANE_FUNCTION_ALIGNMENT=y
CONFIG_ADXL372_I2C=y
CONFIG_COMMON_CLK_BD718XX=y
CONFIG_MFD_CS40L50_CORE=y
CONFIG_MOUSE_PS2_SENTELIC=y
CONFIG_USB_XHCI_DBGCAP=y
CONFIG_ARCH_SUPPORTS_KEXEC=y
CONFIG_USB_G_SERIAL=y
CONFIG_IRQ_DOMAIN=y
CONFIG_SIOX_BUS_GPIO=y
CONFIG_SENSORS_NTC_THERMISTOR=y
CONFIG_VIRTIO_ANCHOR=y
CONFIG_MFD_DA9150=y
CONFIG_MULTIPLEXER=y
CONFIG_DEBUG_KERNEL=y
CONFIG_CHARGER_TWL6030=y
CONFIG_SENSORS_ISL29018=y
CONFIG_SENSORS_DS620=y
CONFIG_RUSTC_HAS_UNNECESSARY_TRANSMUTES=y
CONFIG_PROBE_EVENTS=y
CONFIG_POWER_RESET_ATC260X=y
CONFIG_PREEMPT=y
CONFIG_ZSTD_COMMON=y
CONFIG_NEW_LEDS=y
CONFIG_MFD_DA9063=y
CONFIG_W1_SLAVE_DS2405=y
CONFIG_LEGACY_TIOCSTI=y
CONFIG_SOC_BUS=y
CONFIG_PINCONF=y
CONFIG_SRF08=y
CONFIG_INPUT_IQS269A=y
CONFIG_TPS6594_PFSM=y
CONFIG_MPL3115=y
CONFIG_UNICODE=y
CONFIG_HAVE_ARCH_KGDB=y
CONFIG_LINEDISP=y
CONFIG_WM8350_POWER=y
CONFIG_USB_HID=y
CONFIG_SERIAL_8250=y
CONFIG_CRYPTO_RMD160=y
CONFIG_COMMON_CLK_RK808=y
CONFIG_DEBUG_GPIO=y
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO_BARE=y
CONFIG_MFD_SIMPLE_MFD_I2C=y
CONFIG_RING_BUFFER_PERSISTENT_INJECT=y
CONFIG_IRQSOFF_TRACER=y
CONFIG_LEDS_LT3593=y
CONFIG_CRYPTO_KPP2=y
CONFIG_INPUT_RT5120_PWRKEY=y
CONFIG_CRYPTO_SKCIPHER=y
CONFIG_ROHM_BM1390=y
CONFIG_XXHASH=y
CONFIG_SENSORS_AHT10=y
CONFIG_IRQ_MSI_LIB=y
CONFIG_CHARGER_TPS65217=y
CONFIG_VEML6046X00=y
CONFIG_TRACER_SNAPSHOT_PER_CPU_SWAP=y
CONFIG_ENVELOPE_DETECTOR=y
CONFIG_PAGE_SIZE_LESS_THAN_64KB=y
CONFIG_PINCTRL_SOPHGO_CV18XX_OPS=y
CONFIG_HID_PICOLCD_FB=y
CONFIG_DMAPOOL_TEST=y
CONFIG_RMI4_SMB=y
CONFIG_APDS9802ALS=y
CONFIG_IIO_ST_SENSORS_I2C=y
CONFIG_LEDS_WM831X_STATUS=y
CONFIG_SOC_CANAAN_K210=y
CONFIG_SENSORS_HIH6130=y
CONFIG_TOOLS_SUPPORT_RELR=y
CONFIG_SUSPEND_SKIP_SYNC=y
CONFIG_STK3310=y
CONFIG_HAVE_SAMPLE_FTRACE_DIRECT=y
CONFIG_RD_BZIP2=y
CONFIG_W1_SLAVE_THERM=y
CONFIG_PINCTRL_SOPHGO_SG2000=y
CONFIG_ZLIB_INFLATE=y
CONFIG_CLK_SOPHGO_SG2044_PLL=y
CONFIG_GLOB=y
CONFIG_HAVE_GENERIC_TIF_BITS=y
CONFIG_PM_CLK=y
CONFIG_HID_SENSOR_ALS=y
CONFIG_TPS6507X=y
CONFIG_AD4062=y
CONFIG_SENSORS_LM85=y
CONFIG_VIRTUALIZATION=y
CONFIG_MFD_TI_LP873X=y
CONFIG_MFD_WM8400=y
CONFIG_GPIO_LP3943=y
CONFIG_TEST_RHASHTABLE=y
CONFIG_CRYPTO_AUTHENC=y
CONFIG_CC_HAS_INT128=y
CONFIG_AD5592R_BASE=y
CONFIG_UBIFS_FS_XATTR=y
CONFIG_SENSORS_LTC2947_I2C=y
CONFIG_MTD_PCMCIA=y
CONFIG_HID_SENSOR_IIO_TRIGGER=y
CONFIG_USB_SERIAL_MXUPORT=y
CONFIG_HID_SENSOR_IIO_COMMON=y
CONFIG_FB_SMSCUFX=y
CONFIG_HID_SUNPLUS=y
CONFIG_OPT4001=y
CONFIG_GPIB_NEC7210=y
CONFIG_NLS_MAC_ICELAND=y
CONFIG_CHARGER_MAX8971=y
CONFIG_AD7091R5=y
CONFIG_INPUT_AW86927=y
CONFIG_AOSONG_AGS02MA=y
CONFIG_KSTACK_ERASE_RUNTIME_DISABLE=y
CONFIG_DMARD10=y
CONFIG_INPUT_AD714X=y
CONFIG_SENSORS_LIS3_I2C=y
CONFIG_USB_LINK_LAYER_TEST=y
CONFIG_EPROBE_EVENTS=y
CONFIG_NLS_CODEPAGE_775=y
CONFIG_VIRTIO_MENU=y
CONFIG_LEDS_LP8864=y
CONFIG_LEDS_KTD202X=y
CONFIG_IIO=y
CONFIG_CRC8=y
CONFIG_SERIO_LIBPS2=y
CONFIG_FS_IOMAP=y
CONFIG_KEXEC_FILE=y
CONFIG_ARCH_HAS_MEMBARRIER_CALLBACKS=y
CONFIG_CRYPTO_AKCIPHER2=y
CONFIG_INPUT_MATRIXKMAP=y
CONFIG_SENSORS_DA9052_ADC=y
CONFIG_MFD_WM831X=y
CONFIG_VHOST_MENU=y
CONFIG_JFFS2_ZLIB=y
CONFIG_TRACEPOINTS=y
CONFIG_MTD_ONENAND_2X_PROGRAM=y
CONFIG_SECTION_MISMATCH_WARN_ONLY=y
