CONFIG_DRM_SUN8I_TCON_TOP=n
CONFIG_NET_9P=n
CONFIG_IO_URING=n
CONFIG_NF_DEFRAG_IPV4=n
CONFIG_CAN_RAW=n
CONFIG_JOLIET=n
CONFIG_RCU_STALL_COMMON=n
CONFIG_DMA_NONCOHERENT_MMAP=n
CONFIG_USB_F_ECM=n
CONFIG_NET_VENDOR_ALACRITECH=n
CONFIG_I2C_K1=n
CONFIG_HAVE_ARCH_VMAP_STACK=n
CONFIG_CONSOLE_TRANSLATIONS=n
CONFIG_MOUSE_PS2=n
CONFIG_DST_CACHE=n
CONFIG_USB_F_EEM=n
CONFIG_CRYPTO_CBC=n
CONFIG_COMMON_CLK_RPMI=n
CONFIG_NOP_USB_XCEIV=n
CONFIG_GCC10_NO_ARRAY_BOUNDS=n
CONFIG_CRYPTO_SHA512=n
CONFIG_NET_VENDOR_AMAZON=n
CONFIG_IP_MULTICAST=n
CONFIG_NF_DEFRAG_IPV6=n
CONFIG_CPU_IDLE_GOV_MENU=n
CONFIG_ARCH_HAS_SET_DIRECT_MAP=n
CONFIG_NET_VENDOR_MYRI=n
CONFIG_DRM_EXEC=n
CONFIG_RISCV_ISA_VENDOR_EXT=n
CONFIG_RISCV_SCALAR_MISALIGNED=n
CONFIG_GENERIC_PHY=n
CONFIG_NF_LOG_SYSLOG=n
CONFIG_ARCH_HAS_KCOV=n
CONFIG_ARCH_SUNXI=n
CONFIG_KVM_GENERIC_HARDWARE_ENABLING=n
CONFIG_GLOB=n
CONFIG_GENERIC_IRQ_IPI_MUX=n
CONFIG_LZO_DECOMPRESS=n
CONFIG_GENERIC_PT=n
CONFIG_USB_EHCI_PCI=n
CONFIG_HAVE_ARCH_KASAN_VMALLOC=n
CONFIG_CLK_STARFIVE_JH7110_SYS=n
CONFIG_IPVLAN_L3S=n
CONFIG_GENERIC_CPU_DEVICES=n
CONFIG_CRYPTO=n
CONFIG_MEMTEST=n
CONFIG_SLAB_OBJ_EXT=n
CONFIG_NET_VENDOR_SMSC=n
CONFIG_TOOLCHAIN_HAS_VECTOR_CRYPTO=n
CONFIG_USB_F_ACM=n
CONFIG_NET_VENDOR_STMICRO=n
CONFIG_PER_VMA_LOCK=n
CONFIG_CPU_FREQ_THERMAL=n
CONFIG_RISCV_ISA_ZICBOZ=n
CONFIG_SLUB_DEBUG=n
CONFIG_PCI_DOMAINS_GENERIC=n
CONFIG_VT=n
CONFIG_ZSTD_COMPRESS=n
CONFIG_SPI_MASTER=n
CONFIG_NET_SELFTESTS=n
CONFIG_ARCH_DMA_DEFAULT_COHERENT=n
CONFIG_WLAN_VENDOR_ADMTEK=n
CONFIG_NETFILTER_XT_MATCH_CONNTRACK=n
CONFIG_AUTOFS_FS=n
CONFIG_SCHED_MC=n
CONFIG_HAS_SECURITY_AUDIT=n
CONFIG_GPIO_SPACEMIT_K1=n
CONFIG_NETFILTER_XT_MARK=n
CONFIG_BTRFS_FS=n
CONFIG_ARCH_SUPPORTS_HUGETLBFS=n
CONFIG_HAVE_ARCH_KGDB=n
CONFIG_ARCH_THEAD=n
CONFIG_WLAN_VENDOR_ZYDAS=n
CONFIG_POWER_RESET=n
CONFIG_RAMDAX=n
CONFIG_FS_IOMAP=n
CONFIG_ARCH_MICROCHIP_POLARFIRE=n
CONFIG_ARCH_SUPPORTS_PAGE_TABLE_CHECK=n
CONFIG_SYMBOLIC_ERRNAME=n
CONFIG_ACPI=n
CONFIG_RTC_DRV_SPACEMIT_P1=n
CONFIG_VIRTIO=n
CONFIG_SECURITY=n
CONFIG_HAVE_GENERIC_TIF_BITS=n
CONFIG_PACKET=n
CONFIG_PCIE_SPACEMIT_K1=n
CONFIG_SHMEM=n
CONFIG_ARCH_HAS_MMIOWB=n
CONFIG_MOTORCOMM_PHY=n
CONFIG_UNIX=n
CONFIG_RUNTIME_KERNEL_TESTING_MENU=n
CONFIG_FB_SYS_IMAGEBLIT=n
CONFIG_UNINLINE_SPIN_UNLOCK=n
CONFIG_HAVE_FTRACE_GRAPH_FUNC=n
CONFIG_BLK_CGROUP_RWSTAT=n
CONFIG_PINCTRL_STARFIVE_JH7110_SYS=n
CONFIG_STACKPROTECTOR_STRONG=n
CONFIG_CRYPTO_LIB_GF128HASH=n
CONFIG_VIRTUALIZATION=n
CONFIG_RPS=n
CONFIG_CAN_BCM=n
CONFIG_DNOTIFY=n
CONFIG_NET_VENDOR_CHELSIO=n
CONFIG_NET_VENDOR_CORTINA=n
CONFIG_SPLIT_PMD_PTLOCKS=n
CONFIG_HAVE_KVM_READONLY_MEM=n
CONFIG_USB_F_OBEX=n
CONFIG_PCI_LABEL=n
CONFIG_PNFS_BLOCK=n
CONFIG_RESET_K230=n
CONFIG_LEGACY_TIOCSTI=n
CONFIG_KEYBOARD_ATKBD=n
CONFIG_MFD_SPACEMIT_P1=n
CONFIG_SUSPEND_FREEZER=n
CONFIG_HAVE_ARCH_SECCOMP=n
CONFIG_LD_CAN_USE_KEEP_IN_OVERLAY=n
CONFIG_IPC_NS=n
CONFIG_BRIDGE_VLAN_FILTERING=n
CONFIG_SND_SIMPLE_CARD_UTILS=n
CONFIG_MTD_SPI_NOR_USE_4K_SECTORS=n
CONFIG_FB_CFB_FILLRECT=n
CONFIG_HW_RANDOM_VIRTIO=n
CONFIG_GOLDFISH=n
CONFIG_PCIEPORTBUS=n
CONFIG_SECURITY_NETWORK=n
CONFIG_USB_CONFIGFS_ECM_SUBSET=n
CONFIG_CC_HAS_ASSUME=n
CONFIG_DMIID=n
CONFIG_GROUP_SCHED_BANDWIDTH=n
CONFIG_ARCH_STACKWALK=n
CONFIG_CPUFREQ_DT=n
CONFIG_CPU_FREQ_STAT=n
CONFIG_HRTIMER_REARM_DEFERRED=n
CONFIG_ACPI_MCFG=n
CONFIG_GENERIC_MSI_IRQ=n
CONFIG_FB_NOTIFY=n
CONFIG_MTD_MAP_BANK_WIDTH_4=n
CONFIG_CRYPTO_KPP=n
CONFIG_RISCV_INTC=n
CONFIG_SUNXI_CCU=n
CONFIG_SPARSEMEM_VMEMMAP_ENABLE=n
CONFIG_RTC_DRV_GOLDFISH=n
CONFIG_RESET_SPACEMIT_K3=n
CONFIG_RUSTC_SUPPORTS_RISCV=n
CONFIG_PREEMPTION=n
CONFIG_DRM_GPUVM=n
CONFIG_USB_U_ETHER=n
CONFIG_DMA_SUN6I=n
CONFIG_FONT_SUPPORT=n
CONFIG_SATA_AHCI=n
CONFIG_DRM_CLIENT_SELECTION=n
CONFIG_RISCV_ISA_SVRSW60T59B=n
CONFIG_ARCH_SELECT_MEMORY_MODEL=n
CONFIG_ATA_SFF=n
CONFIG_CRYPTO_SEQIV=n
CONFIG_CC_HAS_ASM_INLINE=n
CONFIG_SERIAL_8250_16550A_VARIANTS=n
CONFIG_NET_VENDOR_NVIDIA=n
CONFIG_SND_JACK=n
CONFIG_OF_KOBJ=n
CONFIG_SUNXI_WATCHDOG=n
CONFIG_SND_PCI=n
CONFIG_CLK_STARFIVE_JH7110_AON=n
CONFIG_CC_NO_ARRAY_BOUNDS=n
CONFIG_USB_CDNSP_PCI=n
CONFIG_VIRT_XFER_TO_GUEST_WORK=n
CONFIG_CPU_FREQ_DEFAULT_GOV_PERFORMANCE=n
CONFIG_WLAN_VENDOR_SILABS=n
CONFIG_MOUSE_PS2_BYD=n
CONFIG_HZ_250=n
CONFIG_RISCV_ISA_VENDOR_EXT_ANDES=n
CONFIG_RPMSG_VIRTIO=n
CONFIG_HAVE_ARCH_TRACEHOOK=n
CONFIG_SBITMAP=n
CONFIG_OVERLAY_FS=n
CONFIG_NFS_V4=n
CONFIG_RISCV_ISA_V_PREEMPTIVE=n
CONFIG_ARCH_USE_CMPXCHG_LOCKREF=n
CONFIG_PINCTRL_SPACEMIT_K1=n
CONFIG_SND_DESIGNWARE_I2S=n
CONFIG_HAVE_KVM_DIRTY_RING=n
CONFIG_USB_EHCI_HCD_PLATFORM=n
CONFIG_OVERLAY_FS_REDIRECT_ALWAYS_FOLLOW=n
CONFIG_SERIAL_8250_PCILIB=n
CONFIG_INPUT=n
CONFIG_FRAMEBUFFER_CONSOLE=n
CONFIG_THERMAL=n
CONFIG_HAVE_IRQ_EXIT_ON_IRQ_STACK=n
CONFIG_FIXED_PHY=n
CONFIG_ACPI_PROCESSOR=n
CONFIG_OF_PMEM=n
CONFIG_GENERIC_SYSCALL=n
CONFIG_KVFREE_RCU_BATCHED=n
CONFIG_MTD_SPI_NOR=n
CONFIG_TICK_CPU_ACCOUNTING=n
CONFIG_EPOLL=n
CONFIG_RISCV_ALTERNATIVE=n
CONFIG_VIRTIO_NET=n
CONFIG_CRYPTO_ALGAPI=n
CONFIG_TRACING=n
CONFIG_PAGE_POOL=n
CONFIG_AS_IS_GNU=n
CONFIG_POWER_RESET_SYSCON_POWEROFF=n
CONFIG_GENERIC_STRNCPY_FROM_USER=n
CONFIG_CLK_SOPHGO_SG2042_RPGATE=n
CONFIG_VIRTIO_INPUT=n
CONFIG_LOCK_DEBUGGING_SUPPORT=n
CONFIG_DRM_CLIENT=n
CONFIG_PM=n
CONFIG_ARCH_HAS_PMEM_API=n
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO=n
CONFIG_FB_IOMEM_HELPERS=n
CONFIG_CGROUP_CPUACCT=n
CONFIG_MTD_SPI_NOR_SWP_DISABLE_ON_VOLATILE=n
CONFIG_SPI_SIFIVE=n
CONFIG_NET_VENDOR_DAVICOM=n
CONFIG_CDROM=n
CONFIG_NET_CLS=n
CONFIG_PINCTRL_TH1520=n
CONFIG_ARCH_WANT_OPTIMIZE_DAX_VMEMMAP=n
CONFIG_RISCV_ISA_SVPBMT=n
CONFIG_FILE_LOCKING=n
CONFIG_EFIVAR_FS=n
CONFIG_VIRTIO_ANCHOR=n
CONFIG_SERIAL_MCTRL_GPIO=n
CONFIG_CRYPTO_AEAD=n
CONFIG_GENERIC_CALIBRATE_DELAY=n
CONFIG_SECRETMEM=n
CONFIG_CLK_SOPHGO_CV1800=n
CONFIG_GPIOLIB_LEGACY=n
CONFIG_PCIE_ULTRARISC=n
CONFIG_HAVE_ARCH_KFENCE=n
CONFIG_NET_VENDOR_OKI=n
CONFIG_HAVE_EBPF_JIT=n
CONFIG_ACPI_FAN=n
CONFIG_IKCONFIG=n
CONFIG_CC_HAS_ASM_GOTO_OUTPUT=n
CONFIG_FRAME_POINTER=n
CONFIG_KEYBOARD_GPIO=n
CONFIG_SERIAL_8250_PNP=n
CONFIG_DM_PERSISTENT_DATA=n
CONFIG_ATA_VERBOSE_ERROR=n
CONFIG_DEBUG_MISC=n
CONFIG_CGROUP_PIDS=n
CONFIG_OPENSSL_SUPPORTS_ML_DSA=n
CONFIG_HAVE_PAGE_SIZE_4KB=n
CONFIG_ACPI_THERMAL=n
CONFIG_REGMAP_MMIO=n
CONFIG_GCC_SUPPORTS_DYNAMIC_FTRACE=n
CONFIG_DRM_SUN4I=n
CONFIG_NET_VENDOR_META=n
CONFIG_NET_VENDOR_QUALCOMM=n
CONFIG_NFS_FS=n
CONFIG_SWIOTLB=n
CONFIG_SCSI_LOWLEVEL=n
CONFIG_DRM_MIPI_DSI=n
CONFIG_BLK_CGROUP=n
CONFIG_ATA_BMDMA=n
CONFIG_USB_ARCH_HAS_HCD=n
CONFIG_SCSI_MOD=n
CONFIG_HAVE_DEBUG_KMEMLEAK=n
CONFIG_ARCH_ENABLE_MEMORY_HOTPLUG=n
CONFIG_NF_CONNTRACK_FTP=n
CONFIG_RWSEM_SPIN_ON_OWNER=n
CONFIG_RISCV_ISA_FALLBACK=n
CONFIG_ARCH_ULTRARISC=n
CONFIG_ARCH_SUSPEND_POSSIBLE=n
CONFIG_GPIO_DWAPB=n
CONFIG_MMC_SPI=n
CONFIG_DT_IDLE_GENPD=n
CONFIG_NFS_V4_2_READ_PLUS=n
CONFIG_DM_BUFIO=n
CONFIG_PHY_SPACEMIT_K1_PCIE=n
CONFIG_USB=n
CONFIG_VIRTIO_PCI_LIB=n
CONFIG_DRM_DISPLAY_HDMI_HELPER=n
CONFIG_ARCH_HAS_SYSCALL_WRAPPER=n
CONFIG_NFS_V4_0=n
CONFIG_ZISOFS=n
CONFIG_TIME_NS_VDSO=n
CONFIG_NETFILTER_FAMILY_BRIDGE=n
CONFIG_NVMEM_LAYOUTS=n
CONFIG_OF_RESERVED_MEM=n
CONFIG_HAVE_ARCH_AUDITSYSCALL=n
CONFIG_CRYPTO_LIB_AES=n
CONFIG_PROC_SYSCTL=n
CONFIG_SERIO_LIBPS2=n
CONFIG_PINCTRL_STARFIVE_JH7100=n
CONFIG_DMA_OF=n
CONFIG_WLAN_VENDOR_TI=n
CONFIG_CPU_FREQ_GOV_USERSPACE=n
CONFIG_PINCTRL_SOPHGO_CV18XX_OPS=n
CONFIG_ARCH_SUPPORTS_INT128=n
CONFIG_MTD_CFI_I1=n
CONFIG_SND_PROC_FS=n
CONFIG_VIRTIO_MENU=n
CONFIG_HAVE_KERNEL_GZIP=n
CONFIG_EFI_PARTITION=n
CONFIG_SERIAL_CORE=n
CONFIG_HAVE_RSEQ=n
