CONFIG_OBJTOOL=y
CONFIG_HI6421V600_IRQ=y
CONFIG_SENSORS_QNAP_MCU_HWMON=y
CONFIG_BOOT_VESA_SUPPORT=y
CONFIG_PPS_CLIENT_GPIO=y
CONFIG_REGULATOR_RT4801=y
CONFIG_SERIAL_CORE=y
CONFIG_SENSORS_TMP513=y
CONFIG_DEBUG_PAGEALLOC_ENABLE_DEFAULT=y
CONFIG_I2C_MUX_GPMUX=y
CONFIG_OF=y
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO=y
CONFIG_CRYPTO_ESSIV=y
CONFIG_ARCH_HAS_PREEMPT_LAZY=y
CONFIG_DEBUG_DRIVER=y
CONFIG_SYSFB=y
CONFIG_HAVE_OBJTOOL=y
CONFIG_FB_SSD1307=y
CONFIG_MTD=y
CONFIG_CRYPTO_LIB_MD5=y
CONFIG_IT87_WDT=y
CONFIG_NLS_CODEPAGE_857=y
CONFIG_USERFAULTFD=y
CONFIG_MFD_IQS62X=y
CONFIG_MB1232=y
CONFIG_UNINLINE_SPIN_UNLOCK=y
CONFIG_USB_ULPI_BUS=y
CONFIG_MHP_DEFAULT_ONLINE_TYPE_ONLINE_KERNEL=y
CONFIG_SAMPLES=y
CONFIG_USB_PCI=y
CONFIG_USB_CHIPIDEA_GENERIC=y
CONFIG_HAVE_PERF_EVENTS=y
CONFIG_I2C_SMBUS=y
CONFIG_VEML3235=y
CONFIG_HW_RANDOM_TIMERIOMEM=y
CONFIG_MFD_MAX8998=y
CONFIG_TEE_DMABUF_HEAPS=y
CONFIG_HAVE_BUILDTIME_MCOUNT_SORT=y
CONFIG_DECOMPRESS_LZ4=y
CONFIG_SENSORS_W83627EHF=y
CONFIG_INPUT_APANEL=y
CONFIG_SENSORS_POWR1220=y
CONFIG_CONTEXT_TRACKING=y
CONFIG_HAVE_HW_BREAKPOINT=y
CONFIG_HAVE_MIXED_BREAKPOINTS_REGS=y
CONFIG_DECOMPRESS_ZSTD=y
CONFIG_ARCH_SUPPORTS_SCHED_SMT=y
CONFIG_REGMAP_MMIO=y
CONFIG_MFD_NTXEC=y
CONFIG_W1_SLAVE_DS2433_CRC=y
CONFIG_SENSORS_STPDDC60=y
CONFIG_MMA7455=y
CONFIG_ELFCORE=y
CONFIG_X86_DISABLED_FEATURE_USER_SHSTK=y
CONFIG_DEFAULT_SECURITY_DAC=y
CONFIG_ARCH_HAS_CPU_CACHE_INVALIDATE_MEMREGION=y
CONFIG_ARCH_USE_CMPXCHG_LOCKREF=y
CONFIG_NVMEM_LAYOUT_U_BOOT_ENV=y
CONFIG_PCI_DIRECT=y
CONFIG_PM_QOS_CPU_SYSTEM_WAKEUP=y
CONFIG_INPUT_DRV2667_HAPTICS=y
CONFIG_USER_EVENTS=y
CONFIG_IRQ_DOMAIN_HIERARCHY=y
CONFIG_KALLSYMS=y
CONFIG_SLUB_TINY=y
CONFIG_ADL8113=y
CONFIG_MEN_Z188_ADC=y
CONFIG_PHYS_ADDR_T_64BIT=y
CONFIG_OF_IOMMU=y
CONFIG_842_DECOMPRESS=y
CONFIG_TSM=y
CONFIG_PTE_MARKER_UFFD_WP=y
CONFIG_VMWARE_VMCI=y
CONFIG_LPC_ICH=y
CONFIG_RUSTC_HAS_SPAN_FILE=y
CONFIG_M62332=y
CONFIG_BATTERY_MAX17042=y
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST=y
CONFIG_TYPEC_MUX_WCD939X_USBSS=y
CONFIG_USB_LINK_LAYER_TEST=y
CONFIG_VEML6030=y
CONFIG_PECI=y
CONFIG_INTEL_SPEED_SELECT_INTERFACE=y
CONFIG_SERIAL_8250_PERICOM=y
CONFIG_CC_HAS_RETURN_THUNK=y
CONFIG_NLS_MAC_GREEK=y
CONFIG_CHARGER_LTC4162L=y
CONFIG_SYSCTL_EXCEPTION_TRACE=y
CONFIG_USB_COMMON=y
CONFIG_MFD_WM5110=y
CONFIG_X86_TSC=y
CONFIG_REGULATOR_LP3972=y
CONFIG_GPIO_BT8XX=y
CONFIG_SENSORS_LTC2978_REGULATOR=y
CONFIG_CRYPTO_ECHAINIV=y
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE_PUD=y
CONFIG_T5403=y
CONFIG_USB_LGM_PHY=y
CONFIG_TCG_TIS_ST33ZP24_I2C=y
CONFIG_MFD_BD9571MWV=y
CONFIG_HAVE_RUST=y
CONFIG_FIX_EARLYCON_MEM=y
CONFIG_FXOS8700=y
CONFIG_SENSORS_MP9945=y
CONFIG_DEBUG_GPIO=y
CONFIG_LTC2471=y
CONFIG_PM_DEBUG=y
CONFIG_MEMORY_HOTPLUG=y
CONFIG_IPMI_PANIC_EVENT=y
CONFIG_SYSTEM_EXTRA_CERTIFICATE=y
CONFIG_CC_HAS_MARCH_NATIVE=y
CONFIG_COMMON_CLK_SI5351=y
CONFIG_REGULATOR_MAX20086=y
CONFIG_IBMASR=y
CONFIG_SENSORS_MAX6620=y
CONFIG_BATTERY_MAX1720X=y
CONFIG_CPU_ISOLATION=y
CONFIG_MEMFD_CREATE=y
CONFIG_UIO_PDRV_GENIRQ=y
CONFIG_ADXL372_I2C=y
CONFIG_KEY_DH_OPERATIONS=y
CONFIG_FS_VERITY=y
CONFIG_IQS620AT_TEMP=y
CONFIG_SENSORS_MAX20751=y
CONFIG_I2C=y
CONFIG_SAMPLE_TSM_MR=y
CONFIG_CRYPTO_HASH=y
CONFIG_PANEL=y
CONFIG_ARCH_HAS_PMEM_API=y
CONFIG_RICHTEK_RTQ6056=y
CONFIG_MTD_RAW_NAND=y
CONFIG_ARCH_CORRECT_STACKTRACE_ON_KRETPROBE=y
CONFIG_STACKDEPOT=y
CONFIG_PCMCIA=y
CONFIG_VEML6075=y
CONFIG_STACK_VALIDATION=y
CONFIG_TASKS_TRACE_RCU=y
CONFIG_IIO_KFIFO_BUF=y
CONFIG_LEDS_AS3645A=y
CONFIG_PTDUMP=y
CONFIG_CRYPTO_AEGIS128=y
CONFIG_WATCHDOG_PRETIMEOUT_GOV_PANIC=y
CONFIG_SENSORS_MAX16601=y
CONFIG_KEXEC_FILE=y
CONFIG_NLS_MAC_CROATIAN=y
CONFIG_CGROUP_PIDS=y
CONFIG_INV_ICM45600=y
CONFIG_OBJTOOL_WERROR=y
CONFIG_TI_ADS7924=y
CONFIG_ADXL367=y
CONFIG_IPMI_PANIC_STRING=y
CONFIG_W1_SLAVE_SMEM=y
CONFIG_X86_REQUIRED_FEATURE_XMM=y
CONFIG_USB_ZERO=y
CONFIG_INPUT_JOYDEV=y
CONFIG_BME680_I2C=y
CONFIG_MTD_PHRAM=y
CONFIG_CHARGER_MAX14577=y
CONFIG_RPR0521=y
CONFIG_PINCTRL_MICROCHIP_SGPIO=y
CONFIG_X86_REQUIRED_FEATURE_FPU=y
CONFIG_FB_SIS=y
CONFIG_LEDS_LP5562=y
CONFIG_DMA_OPS_HELPERS=y
CONFIG_PTDUMP_DEBUGFS=y
CONFIG_HAVE_KERNEL_BZIP2=y
CONFIG_IIO_TRIGGER=y
CONFIG_SENSORS_MAX20860A_REGULATOR=y
CONFIG_USB_PXA27X=y
CONFIG_GPIO_WM8994=y
CONFIG_CHARLCD=y
CONFIG_PROC_KCORE=y
CONFIG_PCI_STUB=y
CONFIG_HAVE_RELIABLE_STACKTRACE=y
CONFIG_GENERIC_PINCTRL=y
CONFIG_CRYPTO_KDF800108_CTR=y
CONFIG_GAMEPORT_EMU10K1=y
CONFIG_PINCTRL=y
CONFIG_PWM_NTXEC=y
CONFIG_USB_SEVSEG=y
CONFIG_TRACE_REMOTE=y
CONFIG_CONSOLE_TRANSLATIONS=y
CONFIG_INPUT_GPIO_VIBRA=y
CONFIG_FB_SYSMEM_FOPS=y
CONFIG_HAVE_FTRACE_GRAPH_FUNC=y
CONFIG_REGMAP_I2C=y
CONFIG_SIEMENS_SIMATIC_IPC=y
CONFIG_UIO_DFL=y
CONFIG_BACKLIGHT_AS3711=y
CONFIG_KEXEC=y
CONFIG_TSL4531=y
CONFIG_CC_HAS_IBT=y
CONFIG_REGULATOR_RT5739=y
CONFIG_I2C_RK3X=y
CONFIG_AL3010=y
CONFIG_REGULATOR_DA9211=y
CONFIG_USB_BDC_UDC=y
CONFIG_VIRTIO_PCI=y
CONFIG_MEMBLOCK_KHO_SCRATCH=y
CONFIG_CRYPTO_SERPENT_SSE2_X86_64=y
CONFIG_IIO_BACKEND=y
CONFIG_ARCH_HAS_SYNC_CORE_BEFORE_USERMODE=y
CONFIG_CPA_DEBUG=y
CONFIG_SERIAL_8250_CONSOLE=y
CONFIG_VT_CONSOLE=y
CONFIG_GCC10_NO_ARRAY_BOUNDS=y
CONFIG_HAVE_ARCH_SECCOMP=y
CONFIG_DECOMPRESS_GZIP=y
CONFIG_CRC32=y
CONFIG_FB_RIVA=y
CONFIG_PHY_TI_DS125DF111=y
CONFIG_MFD_MT6360=y
CONFIG_HAVE_JUMP_LABEL_HACK=y
CONFIG_CRYPTO_DEFLATE=y
CONFIG_DEBUG_FS=y
CONFIG_LEDS_PCA995X=y
CONFIG_I2C_VIAPRO=y
CONFIG_MHP_MEMMAP_ON_MEMORY=y
CONFIG_TRACER_MAX_TRACE=y
CONFIG_USB_OHCI_LITTLE_ENDIAN=y
CONFIG_SENSORS_MR75203=y
CONFIG_HAVE_GENERIC_VDSO=y
CONFIG_HAVE_OBJTOOL_MCOUNT=y
CONFIG_APPLE_MFI_FASTCHARGE=y
CONFIG_XXHASH=y
CONFIG_NOA1305=y
CONFIG_NLS_CODEPAGE_936=y
CONFIG_MHI_BUS_PCI_GENERIC=y
CONFIG_GENERIC_CLOCKEVENTS_MIN_ADJUST=y
CONFIG_AD5380=y
CONFIG_X86_DISABLED_FEATURE_UNRET=y
CONFIG_GPIO_HLWD=y
CONFIG_SUSPEND_SKIP_SYNC=y
CONFIG_BATTERY_RT5033=y
CONFIG_TYPEC_STUSB160X=y
CONFIG_PINCTRL_RK805=y
CONFIG_ADVISE_SYSCALLS=y
CONFIG_IBM_RTL=y
CONFIG_CPUMASK_OFFSTACK=y
CONFIG_MTD_PCI=y
CONFIG_SCREEN_INFO=y
CONFIG_CRYPTO_LIB_MLDSA=y
CONFIG_HAVE_REGS_AND_STACK_ACCESS_API=y
CONFIG_FB_DEFERRED_IO=y
CONFIG_MFD_MAX14577=y
CONFIG_NEED_DMA_MAP_STATE=y
CONFIG_GPIO_ARIZONA=y
CONFIG_FSI_SBEFIFO=y
CONFIG_C2PORT=y
CONFIG_LMP91000=y
CONFIG_PARPORT=y
CONFIG_SLAB_OBJ_EXT=y
CONFIG_SBC_FITPC2_WATCHDOG=y
CONFIG_PCI_ATS=y
CONFIG_FB_RADEON=y
CONFIG_BCM_VK=y
CONFIG_COMMON_CLK_VC3=y
CONFIG_PC104=y
CONFIG_CRYPTO_CAST6_AVX_X86_64=y
CONFIG_NLS_KOI8_U=y
CONFIG_SMP=y
CONFIG_SENSORS_SCH56XX_COMMON=y
CONFIG_LD_CAN_USE_KEEP_IN_OVERLAY=y
CONFIG_LEDS_RT8515=y
CONFIG_MFD_LP3943=y
CONFIG_MFD_GATEWORKS_GSC=y
CONFIG_LIVEUPDATE=y
CONFIG_TYPEC_MUX_PTN36502=y
CONFIG_SENSORS_W83795=y
CONFIG_TI_ADS1100=y
CONFIG_IIO_BUFFER_CB=y
CONFIG_EXTCON_GPIO=y
CONFIG_FB_VIRTUAL=y
CONFIG_QCOM_VADC_COMMON=y
CONFIG_SMPRO_ERRMON=y
CONFIG_MC3230=y
CONFIG_IRQ_FORCED_THREADING=y
CONFIG_ADXL313=y
CONFIG_W83877F_WDT=y
CONFIG_NLS_CODEPAGE_737=y
CONFIG_SOFTLOCKUP_DETECTOR=y
CONFIG_TPL0102=y
CONFIG_SIGNALFD=y
CONFIG_CC_HAS_ASSUME=y
CONFIG_TPS6105X=y
CONFIG_HAS_DMA=y
CONFIG_X86_DISABLED_FEATURE_OSPKE=y
CONFIG_GENERIC_CPU_VULNERABILITIES=y
CONFIG_DCACHE_WORD_ACCESS=y
CONFIG_BACKLIGHT_LED=y
CONFIG_SENSEAIR_SUNRISE_CO2=y
CONFIG_I2C_SIS5595=y
CONFIG_HP206C=y
CONFIG_BOSCH_BNO055_SERIAL=y
CONFIG_BATTERY_MAX1721X=y
CONFIG_PCI_DEBUG=y
CONFIG_TASKS_RCU_GENERIC=y
CONFIG_SERIAL_8250_LPSS=y
CONFIG_COMMON_CLK=y
CONFIG_PER_VMA_LOCK=y
CONFIG_INTEL_PMT_CLASS=y
CONFIG_HAVE_EBPF_JIT=y
CONFIG_MMU_LAZY_TLB_REFCOUNT=y
CONFIG_CHROMEOS_PSTORE=y
CONFIG_SENSORS_EMC1403=y
CONFIG_REGULATOR_ROHM=y
CONFIG_TYPEC_ANX7411=y
CONFIG_SENSORS_OCC_P8_I2C=y
CONFIG_MHI_BUS=y
CONFIG_GPIO_PALMAS=y
CONFIG_SERIAL_8250_MID=y
CONFIG_CC_NO_ARRAY_BOUNDS=y
CONFIG_BITREVERSE=y
CONFIG_INPUT_PWM_BEEPER=y
CONFIG_USB_GADGET_XILINX=y
CONFIG_IRQ_DOMAIN=y
CONFIG_USB_GADGET_DEBUG=y
CONFIG_ARCH_HAS_CACHE_LINE_SIZE=y
CONFIG_IIO_ST_LSM6DSX_I2C=y
CONFIG_MAX8925_POWER=y
CONFIG_MFD_MAX77686=y
CONFIG_INPUT_CM109=y
CONFIG_QUEUED_SPINLOCKS=y
CONFIG_SPLIT_PTE_PTLOCKS=y
CONFIG_XZ_DEC_ARMTHUMB=y
CONFIG_SERIO_LIBPS2=y
CONFIG_DEBUG_LOCKDEP=y
CONFIG_GPIO_BD71815=y
CONFIG_SOFTIRQ_ON_OWN_STACK=y
CONFIG_MFD_RK8XX=y
CONFIG_FB_IBM_GXT4500=y
CONFIG_104_QUAD_8=y
CONFIG_HAVE_KERNEL_LZO=y
CONFIG_TRACE_CLOCK=y
CONFIG_X86_DISABLED_FEATURE_CYRIX_ARR=y
CONFIG_USB_MOUSE=y
CONFIG_BMG160=y
CONFIG_CRYPTO_LIB_AES_ARCH=y
CONFIG_SSB_POSSIBLE=y
CONFIG_UIO_SERCOS3=y
CONFIG_SENSORS_SHT15=y
CONFIG_NLS_CODEPAGE_865=y
CONFIG_DEBUG_INFO_REDUCED=y
CONFIG_SENSORS_F75375S=y
CONFIG_MUTEX_SPIN_ON_OWNER=y
CONFIG_DECOMPRESS_LZMA=y
CONFIG_SENSORS_LTC4286=y
CONFIG_VM_EVENT_COUNTERS=y
CONFIG_ARCH_MIGHT_HAVE_PC_SERIO=y
CONFIG_FIRMWARE_EDID=y
CONFIG_HAVE_ARCH_HUGE_VMALLOC=y
CONFIG_ARCH_HAS_DEBUG_VM_PGTABLE=y
CONFIG_PPS_DEBUG=y
CONFIG_CHARGER_MAX77976=y
CONFIG_LEDS_LP50XX=y
CONFIG_IPMI_HANDLER=y
CONFIG_IRQ_WORK=y
CONFIG_HAVE_KERNEL_ZSTD=y
CONFIG_I2C_DEMUX_PINCTRL=y
CONFIG_TSM_MEASUREMENTS=y
CONFIG_HUGETLB_PAGE=y
CONFIG_REGULATOR_TPS65912=y
CONFIG_SENSORS_OCC=y
CONFIG_DECOMPRESS_XZ=y
CONFIG_I2C_SIMTEC=y
CONFIG_CRYPTO_XCTR=y
CONFIG_USB_R8A66597_HCD=y
CONFIG_MCP4531=y
CONFIG_ARCH_HAS_STRICT_MODULE_RWX=y
CONFIG_BACKLIGHT_AW99706=y
CONFIG_VIRTIO_MENU=y
CONFIG_REGULATOR_SKY81452=y
CONFIG_FIRMWARE_TABLE=y
CONFIG_REGULATOR_HI6421V530=y
CONFIG_MODIFY_LDT_SYSCALL=y
CONFIG_HAVE_IRQ_TIME_ACCOUNTING=y
CONFIG_ISL29020=y
CONFIG_W1_SLAVE_DS2781=y
CONFIG_HAS_IOMEM=y
CONFIG_GPIO_I8255=y
CONFIG_LEDS_LP8860=y
CONFIG_GPIO_104_IDI_48=y
CONFIG_I2C_MUX_GPIO=y
CONFIG_MFD_CS47L90=y
CONFIG_OF_FPGA_REGION=y
CONFIG_HAVE_PCI=y
CONFIG_TYPEC_MUX_IT5205=y
CONFIG_VIDEO=y
CONFIG_HAVE_UNSTABLE_SCHED_CLOCK=y
CONFIG_I2C_ATR=y
CONFIG_X86_REQUIRED_FEATURE_LM=y
CONFIG_LEDS_CLASS_MULTICOLOR=y
CONFIG_INPUT_ATI_REMOTE2=y
CONFIG_I2C_VIA=y
CONFIG_INPUT_MISC=y
CONFIG_GPIO_PCA9570=y
CONFIG_CRYPTO_TWOFISH_X86_64_3WAY=y
CONFIG_COMMON_CLK_VC7=y
CONFIG_REGMAP_IRQ=y
CONFIG_HAVE_SINGLE_FTRACE_DIRECT_OPS=y
CONFIG_INV_ICM45600_I3C=y
CONFIG_ISA_BUS_API=y
CONFIG_AK8974=y
CONFIG_FUNCTION_TRACER=y
CONFIG_SENSORS_MPQ8785=y
CONFIG_WATCHDOG_NOWAYOUT=y
CONFIG_CHROMEOS_OF_HW_PROBER=y
CONFIG_ARCH_SUPPORTS_LTO_CLANG=y
CONFIG_PHY_CPCAP_USB=y
CONFIG_AS_IS_GNU=y
CONFIG_LEDS_AN30259A=y
CONFIG_FPGA_DFL_PCI=y
CONFIG_FTRACE_SELFTEST=y
CONFIG_EXTCON_PTN5150=y
CONFIG_GEHC_PMC_ADC=y
CONFIG_PINCTRL_LOCHNAGAR=y
CONFIG_LITEX_SOC_CONTROLLER=y
CONFIG_HAVE_STACKPROTECTOR=y
CONFIG_USB_PRINTER=y
CONFIG_HAVE_DYNAMIC_FTRACE_NO_PATCHABLE=y
CONFIG_XZ_DEC_MICROLZMA=y
CONFIG_XILLYBUS_CLASS=y
CONFIG_FUNCTION_GRAPH_RETADDR=y
CONFIG_KEXEC_HANDOVER=y
CONFIG_I2C_SLAVE=y
CONFIG_CRYPTO_CAST5_AVX_X86_64=y
CONFIG_DEBUG_MISC=y
CONFIG_GENERIC_CALIBRATE_DELAY=y
CONFIG_SENSORS_KBATT=y
CONFIG_SILICOM_PLATFORM=y
CONFIG_USB_EHCI_ROOT_HUB_TT=y
CONFIG_LEDS_CLASS=y
CONFIG_PPS=y
CONFIG_HAVE_NMI=y
CONFIG_IRQCHIP=y
CONFIG_W1=y
CONFIG_OF_RESOLVE=y
CONFIG_HAVE_GIGANTIC_FOLIOS=y
CONFIG_PALMAS_GPADC=y
CONFIG_ALS31300=y
CONFIG_SLUB=y
CONFIG_MTD_SM_COMMON=y
CONFIG_COMMON_CLK_SI544=y
CONFIG_EXTCON_ADC_JACK=y
CONFIG_REGULATOR_MAX77857=y
CONFIG_W1_SLAVE_DS2431=y
CONFIG_ZSTD_DECOMPRESS=y
CONFIG_TSYS01=y
CONFIG_CRYPTO_CAMELLIA_X86_64=y
CONFIG_WERROR=y
CONFIG_MFD_HI6421_SPMI=y
CONFIG_PRIME_NUMBERS=y
CONFIG_REGMAP_I3C=y
CONFIG_HAVE_RSEQ=y
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_DIRECT_CALLS=y
CONFIG_DYNAMIC_FTRACE_WITH_REGS=y
CONFIG_SAMPLE_PIDFD=y
CONFIG_GENERIC_SYSCALL=y
CONFIG_TCG_TIS_I2C_CR50=y
CONFIG_INTEL_MEI_ME=y
CONFIG_ARCH_SUPPORTS_KEXEC_HANDOVER=y
CONFIG_RPMSG_CTRL=y
CONFIG_IOMMU_DEFAULT_PASSTHROUGH=y
CONFIG_CRYPTO_SHA1=y
CONFIG_SENSORS_MPQ7932_REGULATOR=y
CONFIG_MFD_VIPERBOARD=y
CONFIG_SENSORS_SMSC47M192=y
CONFIG_HANGCHECK_TIMER=y
CONFIG_NVMEM_SPMI_SDAM=y
CONFIG_PROFILE_ALL_BRANCHES=y
CONFIG_ARCH_USE_QUEUED_RWLOCKS=y
CONFIG_BATTERY_ACT8945A=y
CONFIG_GPIO_ALTERA=y
CONFIG_PAGE_MAPCOUNT=y
CONFIG_DPOT_DAC=y
CONFIG_NLS_CODEPAGE_855=y
CONFIG_CHARGER_RT9471=y
CONFIG_C2PORT_DURAMAR_2150=y
CONFIG_DTPM=y
CONFIG_REGULATOR_PV88060=y
CONFIG_SENSORS_F71805F=y
CONFIG_HAVE_CMPXCHG_DOUBLE=y
CONFIG_CHARGER_MAX8903=y
CONFIG_USB_GOKU=y
CONFIG_GENERIC_IRQ_EFFECTIVE_AFF_MASK=y
CONFIG_GPIO_STMPE=y
CONFIG_INPUT_ATMEL_CAPTOUCH=y
CONFIG_CRYPTO_LIB_AES_CBC_MACS=y
CONFIG_BATTERY_CW2015=y
CONFIG_IPMI_SI=y
CONFIG_SENSORS_PT5161L=y
CONFIG_FS_VERITY_BUILTIN_SIGNATURES=y
CONFIG_CXL_BUS=y
CONFIG_ARCH_DEFAULT_CRASH_DUMP=y
CONFIG_LEDS_KTD2692=y
CONFIG_COMPAT_32BIT_TIME=y
CONFIG_REGULATOR_RT8092=y
CONFIG_ARCH_SUPPORTS_KEXEC_SIG_FORCE=y
CONFIG_STACKTRACE_SUPPORT=y
CONFIG_ARCH_WANTS_NO_INSTR=y
