CONFIG_MFD_MC13XXX=y
CONFIG_IIO_ST_MAGN_I2C_3AXIS=y
CONFIG_CLK_KAANAPALI_GCC=y
CONFIG_NLS_CODEPAGE_863=y
CONFIG_FB_SYSMEM_FOPS=y
CONFIG_ABP2030PA_I2C=y
CONFIG_LEDS_SGM3140=y
CONFIG_MTD_NAND_DENALI_DT=y
CONFIG_NXP_PIT_TIMER=y
CONFIG_WIZNET_W5100=y
CONFIG_TPS6594_ESM=y
CONFIG_RESET_NPCM=y
CONFIG_NVIDIA_CARMEL_CNP_ERRATUM=y
CONFIG_SPI_SUN6I=y
CONFIG_DEBUG_INFO_DWARF_TOOLCHAIN_DEFAULT=y
CONFIG_TTY=y
CONFIG_IDLE_PAGE_TRACKING=y
CONFIG_BMI270_SPI=y
CONFIG_NET_VENDOR_ROCKER=y
CONFIG_MFD_JANZ_CMODIO=y
CONFIG_SCD30_CORE=y
CONFIG_GPIOLIB=y
CONFIG_PINCTRL_SM8650_LPASS_LPI=y
CONFIG_RAPIDIO_MPORT_CDEV=y
CONFIG_AHCI_DWC=y
CONFIG_BCM_CYGNUS_PHY=y
CONFIG_ADF4371=y
CONFIG_PINMUX=y
CONFIG_SPARSEMEM=y
CONFIG_PROVE_RCU=y
CONFIG_SUNGEM=y
CONFIG_ARCH_HAS_RESET_CONTROLLER=y
CONFIG_ARM64_WORKAROUND_TRBE_WRITE_OUT_OF_RANGE=y
CONFIG_PCIE_CADENCE_HOST=y
CONFIG_HWSPINLOCK_QCOM=y
CONFIG_NET_SCH_SFB=y
CONFIG_DEBUG_GPIO=y
CONFIG_IGC=y
CONFIG_MTD_CFI_UTIL=y
CONFIG_CC_HAS_ASM_INLINE=y
CONFIG_PINCTRL_MSM8976=y
CONFIG_TI_TSC2046=y
CONFIG_PHY_CADENCE_SIERRA=y
CONFIG_IPQ_NSSCC_9574=y
CONFIG_QCOM_BAM_DMA=y
CONFIG_ASYNC_TX_DISABLE_PQ_VAL_DMA=y
CONFIG_RESET_IMX7=y
CONFIG_PERF_USE_VMALLOC=y
CONFIG_BROKEN_GAS_INST=y
CONFIG_CHARGER_CROS_PCHG=y
CONFIG_PTDUMP_DEBUGFS=y
CONFIG_QCOM_PD_MAPPER=y
CONFIG_SERIAL_8250_PXA=y
CONFIG_LEDS_QCOM_LPG=y
CONFIG_REGULATOR_QCOM_REFGEN=y
CONFIG_SM_GCC_6375=y
CONFIG_GENERIC_IOREMAP=y
CONFIG_LPC_SCH=y
CONFIG_MTD_NAND_MXIC=y
CONFIG_CEC_NXP_TDA9950=y
CONFIG_GENERIC_CPU_AUTOPROBE=y
CONFIG_REGULATOR_MT6370=y
CONFIG_IMG_ASCII_LCD=y
CONFIG_HSC030PA=y
CONFIG_FXLS8962AF=y
CONFIG_GENERIC_PHY_MIPI_DPHY=y
CONFIG_GCC_SUPPORTS_DYNAMIC_FTRACE_WITH_ARGS=y
CONFIG_SERIO_SUN4I_PS2=y
CONFIG_BUG=y
CONFIG_INTERCONNECT_QCOM_BCM_VOTER=y
CONFIG_TIMER_IMX_SYS_CTR=y
CONFIG_GENERIC_CPU_VULNERABILITIES=y
CONFIG_CRC16=y
CONFIG_GPIO_PCA9570=y
CONFIG_REGULATOR_MC13783=y
CONFIG_MAXIM_THERMOCOUPLE=y
CONFIG_NET_SCH_CBS=y
CONFIG_IKHEADERS=y
CONFIG_SM_CAMCC_8750=y
CONFIG_FEALNX=y
CONFIG_GPIO_MAX7360=y
CONFIG_COMMON_CLK_MESON_DUALDIV=y
CONFIG_NET_CLS_BPF=y
CONFIG_RMI4_2D_SENSOR=y
CONFIG_ZSTD_COMMON=y
CONFIG_LIBETH=y
CONFIG_SC_DISPCC_8280XP=y
CONFIG_BLK_DEV_LOOP=y
CONFIG_RESET_MESON_AUX=y
CONFIG_CONTEXT_SWITCH_TRACER=y
CONFIG_PINCTRL_TPS6594=y
CONFIG_PREEMPTIRQ_TRACEPOINTS=y
CONFIG_MFD_SYSCON=y
CONFIG_NET_MEDIATEK_STAR_EMAC=y
CONFIG_TCM_FILEIO=y
CONFIG_MTD_CFI_INTELEXT=y
CONFIG_CLK_QORIQ=y
CONFIG_PCI_PWRCTRL=y
CONFIG_TIGON3=y
CONFIG_LTC2497=y
CONFIG_MMU=y
CONFIG_RAID6_PQ=y
CONFIG_RESET_GPIO=y
CONFIG_PACKING=y
CONFIG_AK8974=y
CONFIG_REGULATOR_MAX77503=y
CONFIG_FB_SM712=y
CONFIG_FPGA_MGR_LATTICE_SYSCONFIG_SPI=y
CONFIG_PINCTRL_ROCKCHIP=y
CONFIG_ALTERA_MBOX=y
CONFIG_SERIAL_IMX_EARLYCON=y
CONFIG_AS_HAS_CFI_NEGATE_RA_STATE=y
CONFIG_AD7091R5=y
CONFIG_GLOB=y
CONFIG_ARCH_WANT_LD_ORPHAN_WARN=y
CONFIG_LCD_ILI9320=y
CONFIG_MUTEX_SPIN_ON_OWNER=y
CONFIG_XEN_BLKDEV_FRONTEND=y
CONFIG_ARCH_NXP=y
CONFIG_REGMAP_IRQ=y
CONFIG_LEDS_LP3944=y
CONFIG_MDIO_BUS_MUX_GPIO=y
CONFIG_SPI_PL022=y
CONFIG_CRYPTO_LIB_MLDSA=y
CONFIG_INTEL_XWAY_PHY=y
CONFIG_PINCTRL_SUN8I_A83T_R=y
CONFIG_ARM_GIC_V3=y
CONFIG_CLK_BCM_NS2=y
CONFIG_SERIAL_ARC=y
CONFIG_CHARGER_MAX77650=y
CONFIG_PHY_QCOM_USB_HS_28NM=y
CONFIG_EDAC_SYNOPSYS=y
CONFIG_NLS=y
CONFIG_MMC35240=y
CONFIG_NET_SCH_MQPRIO=y
CONFIG_INTERCONNECT_QCOM_SM6350=y
CONFIG_STATIC_USERMODEHELPER=y
CONFIG_PHY_PACKAGE=y
CONFIG_GCC_NO_STRINGOP_OVERFLOW=y
CONFIG_PREEMPT_RT=y
CONFIG_GENERIC_CPU_DEVICES=y
CONFIG_ARCH_SPRD=y
CONFIG_ISL29003=y
CONFIG_CAN_J1939=y
CONFIG_IIO_SYSFS_TRIGGER=y
CONFIG_REGULATOR_RAA215300=y
CONFIG_REGULATOR_ARM_SCMI=y
CONFIG_NLS_CODEPAGE_1250=y
CONFIG_PINCTRL_IPQ9574=y
CONFIG_OF_UNITTEST=y
CONFIG_PHY_OCELOT_SERDES=y
CONFIG_MEMORY_FAILURE=y
CONFIG_CPU_FREQ_STAT=y
CONFIG_DCB=y
CONFIG_GPIOLIB_IRQCHIP=y
CONFIG_ATLAS_EZO_SENSOR=y
CONFIG_ICS932S401=y
CONFIG_CORESIGHT_TNOC=y
CONFIG_PCIE_DW=y
CONFIG_BRIDGE_CFM=y
CONFIG_SERIAL_PXA=y
CONFIG_GCC10_NO_ARRAY_BOUNDS=y
CONFIG_CRYPTO_AES_ARM64_CE_BLK=y
CONFIG_I2C_CROS_EC_TUNNEL=y
CONFIG_DEBUG_SPINLOCK=y
CONFIG_CRYPTO_LIB_SHA1_ARCH=y
CONFIG_CLK_IMX93=y
CONFIG_SYSFS_SYSCALL=y
CONFIG_MLX90635=y
CONFIG_DEBUG_FORCE_FUNCTION_ALIGN_64B=y
CONFIG_PCIE_CADENCE_PLAT_HOST=y
CONFIG_LEDS_MAX5970=y
CONFIG_MSM_GCC_8998=y
CONFIG_TRACE_IRQFLAGS_SUPPORT=y
CONFIG_INV_ICM42600_SPI=y
CONFIG_HAVE_SOFTIRQ_ON_OWN_STACK=y
CONFIG_PINCTRL_AXP209=y
CONFIG_HAVE_KVM_MSI=y
CONFIG_AUXDISPLAY=y
CONFIG_SPARSEMEM_EXTREME=y
CONFIG_IMX_MU_MSI=y
CONFIG_BMI160_I2C=y
CONFIG_PAGE_POOL=y
CONFIG_NLS_CODEPAGE_855=y
CONFIG_B44=y
CONFIG_RCU_EQS_DEBUG=y
CONFIG_HAVE_ARCH_SECCOMP=y
CONFIG_RPR0521=y
CONFIG_PHY_ROCKCHIP_SAMSUNG_HDPTX=y
CONFIG_KERNEL_MODE_NEON=y
CONFIG_BME680_I2C=y
CONFIG_HYPERV_TESTING=y
CONFIG_SMC91X=y
CONFIG_X25=y
CONFIG_MFD_RK8XX=y
CONFIG_ARCH_SUPPORTS_CRASH_DUMP=y
CONFIG_FUNCTION_ALIGNMENT_4B=y
CONFIG_EZCHIP_NPS_MANAGEMENT_ENET=y
CONFIG_SPI_MUX=y
CONFIG_BUFFER_HEAD=y
CONFIG_COMPACTION=y
CONFIG_GENERIC_HWEIGHT=y
CONFIG_FIRMWARE_MEMMAP=y
CONFIG_LEDS_MAX77705=y
CONFIG_PINCTRL_MSM=y
CONFIG_PINCTRL_MCP23S08=y
CONFIG_LEDS_LP8864=y
CONFIG_RCU_BOOST=y
CONFIG_USB4_DMA_TEST=y
CONFIG_MFD_TPS6594_I2C=y
CONFIG_XEN_FBDEV_FRONTEND=y
CONFIG_NLS_CODEPAGE_874=y
CONFIG_MTD_SM_COMMON=y
CONFIG_SPI_ALTERA_DFL=y
CONFIG_CRYPTO_LIB_ARC4=y
CONFIG_MFD_MADERA=y
CONFIG_FB_IBM_GXT4500=y
CONFIG_INTERCONNECT_QCOM_HAWI=y
CONFIG_KXCJK1013=y
CONFIG_MESON_GXL_PHY=y
CONFIG_PACKET_DIAG=y
CONFIG_NET_SCH_ETS=y
CONFIG_OF_FLATTREE=y
CONFIG_RATIONAL=y
CONFIG_BPF_JIT=y
CONFIG_ARCH_SUNXI=y
CONFIG_MTD_NAND_MESON=y
CONFIG_DA311=y
CONFIG_RUSTC_HAS_SPAN_FILE=y
CONFIG_AK8975=y
CONFIG_COMMON_CLK_EN7523=y
CONFIG_HISI_PTT=y
CONFIG_BATTERY_DS2782=y
CONFIG_HAVE_IRQ_TIME_ACCOUNTING=y
CONFIG_HAVE_ARM_SMCCC_DISCOVERY=y
CONFIG_CRYPTO_RNG2=y
CONFIG_GPIO_TPS65912=y
CONFIG_LS_EXTIRQ=y
CONFIG_REMOTEPROC_CDEV=y
CONFIG_RESET_QCOM_AOSS=y
CONFIG_DEBUG_BUGVERBOSE=y
CONFIG_PCIE_QCOM_COMMON=y
CONFIG_PHY_ROCKCHIP_SNPS_PCIE3=y
CONFIG_OF_ADDRESS=y
CONFIG_PREEMPT_BUILD=y
CONFIG_DA280=y
CONFIG_INV_ICM45600=y
CONFIG_MICROCHIP_PHY=y
CONFIG_DEBUG_INFO_SPLIT=y
CONFIG_ENS160_I2C=y
CONFIG_CGROUPS=y
CONFIG_INPUT_MOUSEDEV=y
CONFIG_TASKS_TRACE_RCU=y
CONFIG_LEDS_BLINKM=y
CONFIG_PCI_DOMAINS=y
CONFIG_NET_VENDOR_AMAZON=y
CONFIG_LEDS_TRIGGER_DEFAULT_ON=y
CONFIG_DEBUG_PREEMPT=y
CONFIG_SC_LPASS_CORECC_7180=y
CONFIG_LTR501=y
CONFIG_IIO_KX022A=y
CONFIG_SPI_THUNDERX=y
CONFIG_RPMSG_CHAR=y
CONFIG_ENS160_SPI=y
CONFIG_AD7192=y
CONFIG_MFD_CROS_EC_DEV=y
CONFIG_INPUT_SPARSEKMAP=y
CONFIG_SAMPLE_WATCH_QUEUE=y
CONFIG_HAVE_FUNCTION_GRAPH_FREGS=y
CONFIG_INPUT_EVDEV=y
CONFIG_MSEAL_SYSTEM_MAPPINGS=y
CONFIG_PHY_PXA_28NM_USB2=y
CONFIG_I2C_VIRTIO=y
CONFIG_VLAN_8021Q_MVRP=y
CONFIG_CB710_DEBUG_ASSUMPTIONS=y
CONFIG_HNS=y
CONFIG_AX88796B_PHY=y
CONFIG_MICROSEMI_PHY=y
CONFIG_ASN1=y
CONFIG_CM32181=y
CONFIG_MESON_SARADC=y
CONFIG_NET_EMATCH_META=y
CONFIG_MTD_NAND_ECC_SW_HAMMING=y
CONFIG_FB_CORE=y
CONFIG_LCD_PLATFORM=y
CONFIG_JSA1212=y
CONFIG_REGULATOR_FIXED_VOLTAGE=y
CONFIG_HIP04_ETH=y
CONFIG_MUX_GPIO=y
CONFIG_REGULATOR_ANATOP=y
CONFIG_SPS30_SERIAL=y
CONFIG_INIT_STACK_ALL_ZERO=y
CONFIG_UIO_NETX=y
CONFIG_MMA8452=y
CONFIG_QCOM_SSC_BLOCK_BUS=y
CONFIG_SCSI_DMA=y
CONFIG_PACKET=y
CONFIG_TEXTSEARCH_KMP=y
CONFIG_FB_IOMEM_HELPERS=y
CONFIG_I2C_GPIO=y
CONFIG_AD5791=y
CONFIG_ARM_SCMI_TRANSPORT_SMC=y
CONFIG_CONTEXT_TRACKING_USER_FORCE=y
CONFIG_MHZ19B=y
CONFIG_ARCH_HAS_SET_MEMORY=y
CONFIG_IPMI_KCS_BMC_CDEV_IPMI=y
CONFIG_SERIAL_8250_PERICOM=y
CONFIG_MRP=y
CONFIG_TARGET_CORE=y
CONFIG_CRYPTO_LIB_SHA3=y
CONFIG_RCU_NOCB_CPU=y
CONFIG_ADIS16130=y
CONFIG_PLX_DMA=y
CONFIG_SCSI_SAS_ATTRS=y
CONFIG_FB_SYS_IMAGEBLIT=y
CONFIG_IMX_WEIM=y
CONFIG_LEDS_LP5562=y
CONFIG_PHY_LAN966X_SERDES=y
CONFIG_ARM_SCMI_TRANSPORT_VIRTIO_ATOMIC_ENABLE=y
CONFIG_NLS_KOI8_R=y
CONFIG_INTERCONNECT_QCOM_SC8180X=y
CONFIG_GPIOLIB_LEGACY=y
CONFIG_PWM_AXI_PWMGEN=y
CONFIG_MCP3911=y
CONFIG_AD7625=y
CONFIG_HW_RANDOM_CCTRNG=y
CONFIG_NET_DEVMEM=y
CONFIG_ARCH_AIROHA=y
CONFIG_BCM_KONA_USB2_PHY=y
CONFIG_MDIO_ASPEED=y
CONFIG_DEBUG_DRIVER=y
CONFIG_NVMEM_U_BOOT_ENV=y
CONFIG_MITIGATE_SPECTRE_BRANCH_HISTORY=y
CONFIG_PCI_PWRCTRL_TC9563=y
CONFIG_GOLDFISH_TTY=y
CONFIG_OPEN_DICE=y
CONFIG_PSE_CONTROLLER=y
CONFIG_LEDS_LP5523=y
CONFIG_FB_ATY=y
CONFIG_REGULATOR_PF8X00=y
CONFIG_COMMON_CLK_MESON_REGMAP=y
CONFIG_AD7944=y
CONFIG_MANAGER_SBS=y
CONFIG_SC_LPASSCC_7280=y
CONFIG_BCMA_DRIVER_PCI=y
CONFIG_MSM_GCC_8953=y
CONFIG_CLK_IMX8MM=y
CONFIG_I2C_MT7621=y
CONFIG_AD5758=y
CONFIG_SPI_AIROHA_SNFI=y
CONFIG_INTERCONNECT_CLK=y
CONFIG_AD7280=y
CONFIG_BD79703=y
CONFIG_EXTCON=y
CONFIG_MFD_TPS65912_I2C=y
CONFIG_IMX_SCMI_MISC_DRV=y
CONFIG_MTD_SPI_NAND=y
CONFIG_COMMON_CLK_IPROC=y
CONFIG_SM_GCC_7150=y
CONFIG_LCD_OTM3225A=y
CONFIG_CGROUP_DMEM=y
CONFIG_FW_LOADER_USER_HELPER=y
CONFIG_SPI_OFFLOAD=y
CONFIG_NLS_MAC_ICELAND=y
CONFIG_ADIN_PHY=y
CONFIG_WWAN_DEBUGFS=y
CONFIG_MS5637=y
CONFIG_COMMON_CLK_MESON_PLL=y
CONFIG_BCMA_POSSIBLE=y
CONFIG_GENERIC_PINMUX_FUNCTIONS=y
CONFIG_TIMER_OF=y
CONFIG_HAVE_KVM_DIRTY_RING_ACQ_REL=y
CONFIG_NCT7201=y
CONFIG_FS_POSIX_ACL=y
CONFIG_SM_GCC_8450=y
CONFIG_COMMON_CLK_MESON_CLKC_UTILS=y
CONFIG_VIRT_CPU_ACCOUNTING=y
CONFIG_COMMON_CLK_AST2700=y
CONFIG_PCI_DYNAMIC_OF_NODES=y
CONFIG_QCOM_RPMHPD=y
CONFIG_HAVE_GCC_PLUGINS=y
CONFIG_POWER_SUPPLY=y
CONFIG_SENSORS_RM3100=y
CONFIG_PXA_DMA=y
CONFIG_LWQ_TEST=y
CONFIG_FB_ATY_GENERIC_LCD=y
CONFIG_SC_CAMCC_7180=y
CONFIG_MESON_DDR_PMU=y
CONFIG_GCOV_PROFILE_RDS=y
CONFIG_ARM_QCOM_CPUFREQ_HW=y
CONFIG_DS4424=y
CONFIG_ICPLUS_PHY=y
CONFIG_LMK04832=y
CONFIG_FB_SYS_FILLRECT=y
CONFIG_I2C_MUX_GPIO=y
CONFIG_CHARGER_MT6360=y
CONFIG_MARVELL_PHY=y
CONFIG_PHY_QCOM_APQ8064_SATA=y
CONFIG_AD4000=y
CONFIG_DEBUG_KMEMLEAK=y
CONFIG_MSM_GPUCC_8998=y
CONFIG_QCOM_CLK_RPM=y
CONFIG_NET_MPLS_GSO=y
CONFIG_XEN=y
CONFIG_REGULATOR_TPS6286X=y
CONFIG_MFD_SY7636A=y
CONFIG_RANDOMIZE_MODULE_REGION_FULL=y
CONFIG_LIDAR_LITE_V2=y
CONFIG_PHY_FSL_LYNX_10G=y
CONFIG_HAVE_ARCH_KASAN=y
CONFIG_IIO_ADC_HELPER=y
CONFIG_LIBIE=y
CONFIG_CORDIC=y
CONFIG_FB_CFB_IMAGEBLIT=y
CONFIG_CXL_BUS=y
CONFIG_BNXT=y
CONFIG_ETHOC=y
CONFIG_IMX_GPCV2_PM_DOMAINS=y
CONFIG_ARM_ARCH_TIMER_EVTSTREAM=y
CONFIG_NET_SHAPER=y
CONFIG_SM_GCC_8650=y
CONFIG_PAGE_POOL_STATS=y
CONFIG_HAVE_ARCH_BITREVERSE=y
CONFIG_GPIO_NPCM_SGPIO=y
CONFIG_KGDB=y
CONFIG_SCSI_FC_ATTRS=y
CONFIG_ADF4377=y
CONFIG_DIBS=y
CONFIG_DYNAMIC_DEBUG=y
CONFIG_PINCTRL_KAANAPALI=y
CONFIG_TIFM_CORE=y
CONFIG_ARM_RASPBERRYPI_CPUFREQ=y
CONFIG_PINCTRL_SUN50I_H5=y
CONFIG_ARCH_HAS_CURRENT_STACK_POINTER=y
CONFIG_COUNTER=y
CONFIG_POWER_SEQUENCING_QCOM_WCN=y
CONFIG_AD7298=y
CONFIG_I3C=y
CONFIG_HAVE_DMA_CONTIGUOUS=y
CONFIG_SAR_GCC_2130P=y
CONFIG_SWIOTLB=y
CONFIG_CRYPTO_LIB_CHACHA=y
CONFIG_AFE4404=y
CONFIG_LEDS_LP5860_SPI=y
CONFIG_REGULATOR_AW37503=y
CONFIG_ARCH_WANTS_EXECMEM_LATE=y
CONFIG_REF_TRACKER=y
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO_BARE=y
CONFIG_I2C_PIIX4=y
CONFIG_PCI_ECAM=y
CONFIG_PINCTRL_SUN55I_A523_R=y
CONFIG_BCMA_DRIVER_GPIO=y
CONFIG_ADMV1013=y
CONFIG_SCSI_LOGGING=y
CONFIG_MFD_TPS65086=y
CONFIG_POWER_RESET_TORADEX_EC=y
CONFIG_BTRFS_FS_RUN_SANITY_TESTS=y
CONFIG_MFD_MAX77686=y
CONFIG_ARCH_HAS_ZONE_DMA_SET=y
CONFIG_LEDS_LP5521=y
CONFIG_ARCH_HAS_GCOV_PROFILE_ALL=y
CONFIG_I2C_PXA=y
CONFIG_MAXLINEAR_GPHY=y
CONFIG_HAVE_ARCH_JUMP_LABEL_RELATIVE=y
CONFIG_TASKS_RCU=y
CONFIG_SPRD_DMA=y
CONFIG_PINCTRL_S32CC=y
CONFIG_I2C_AMD_ASF=y
CONFIG_CONSOLE_TRANSLATIONS=y
CONFIG_NLS_CODEPAGE_861=y
CONFIG_AD7768_1=y
CONFIG_TI_ADS7138=y
CONFIG_QCOM_RPM_MASTER_STATS=y
CONFIG_MTD_SPI_NOR_SWP_DISABLE=y
CONFIG_W1_SLAVE_THERM=y
CONFIG_QRTR_MHI=y
CONFIG_PAGE_SIZE_16KB=y
CONFIG_NET_SCH_HTB=y
CONFIG_PCIE_MEDIATEK=y
CONFIG_MFD_LP3943=y
CONFIG_HAVE_PCI=y
CONFIG_PID_IN_CONTEXTIDR=y
CONFIG_SRF08=y
CONFIG_NVMEM_ROCKCHIP_EFUSE=y
CONFIG_MDIO_AIROHA=y
CONFIG_SERIAL_DEV_BUS=y
CONFIG_AD9523=y
CONFIG_CUSE=y
CONFIG_COMMON_CLK_MAX9485=y
CONFIG_ZONE_DMA32=y
CONFIG_ARM_PSCI_FW=y
CONFIG_NET_SCH_CHOKE=y
CONFIG_DP83867_PHY=y
CONFIG_EDAC_CORTEX_A72=y
CONFIG_AD4062=y
CONFIG_VFIO_AMBA=y
CONFIG_HAVE_ARCH_AUDITSYSCALL=y
CONFIG_ARM64_AMU_EXTN=y
CONFIG_MEMSTICK=y
CONFIG_UIO=y
