CONFIG_MOUSE_PS2_SMBUS=n
CONFIG_RAID6_PQ_ARCH=n
CONFIG_GENERIC_PHY_MIPI_DPHY=n
CONFIG_CGROUP_NET_PRIO=n
CONFIG_VETH=n
CONFIG_EVENTFD=n
CONFIG_BLK_DEV_DM=n
CONFIG_DNOTIFY=n
CONFIG_CRYPTO_ENGINE=n
CONFIG_TOOLCHAIN_NEEDS_EXPLICIT_ZICSR_ZIFENCEI=n
CONFIG_ARCH_WANT_OPTIMIZE_HUGETLB_VMEMMAP=n
CONFIG_ARCH_VIRT=n
CONFIG_CRYPTO_HASH2=n
CONFIG_FB_DEFERRED_IO=n
CONFIG_GENERIC_PCI_IOMAP=n
CONFIG_SUNXI_CCU=n
CONFIG_ARCH_SELECT_MEMORY_MODEL=n
CONFIG_RISCV_ISA_ZBC=n
CONFIG_PID_NS=n
CONFIG_IPV6_SIT=n
CONFIG_NFS_FS=n
CONFIG_PINCTRL_SOPHGO_SG2002=n
CONFIG_DEFAULT_SECURITY_DAC=n
CONFIG_SCSI_DMA=n
CONFIG_CHECKPOINT_RESTORE=n
CONFIG_ETHTOOL_NETLINK=n
CONFIG_JUMP_LABEL=n
CONFIG_MTD_CFI_NOSWAP=n
CONFIG_MMC_SDHCI_OF_K1=n
CONFIG_MTD_CFI=n
CONFIG_SND_SOC_SDCA_OPTIONAL=n
CONFIG_ARCH_USE_MEMTEST=n
CONFIG_RISCV_ISA_FALLBACK=n
CONFIG_RD_LZMA=n
CONFIG_GENERIC_BITREVERSE=n
CONFIG_DRM_CLIENT_LIB=n
CONFIG_PCC=n
CONFIG_FB_DEVICE=n
CONFIG_SERIAL_8250_PERICOM=n
CONFIG_NET_VENDOR_EZCHIP=n
CONFIG_CGROUP_SCHED=n
CONFIG_CPU_MITIGATIONS=n
CONFIG_ARCH_HAS_PTDUMP=n
CONFIG_WLAN=n
CONFIG_MMC_DW=n
CONFIG_I2C_K1=n
CONFIG_SECURITY_SELINUX_DEVELOP=n
CONFIG_CRYPTO_ALGAPI=n
CONFIG_PCI_PWRCTRL_GENERIC=n
CONFIG_HAVE_MOVE_PMD=n
CONFIG_HAVE_KRETPROBES=n
CONFIG_FB_CFB_FILLRECT=n
CONFIG_NLATTR=n
CONFIG_HAVE_ARCH_RANDOMIZE_KSTACK_OFFSET=n
CONFIG_DEBUG_BUGVERBOSE=n
CONFIG_NET_VENDOR_LITEX=n
CONFIG_RFS_ACCEL=n
CONFIG_CC_HAS_ASM_INLINE=n
CONFIG_PRINTK_TIME=n
CONFIG_SECURITY=n
CONFIG_LEGACY_DIRECT_IO=n
CONFIG_VDSO_GETRANDOM=n
CONFIG_CRYPTO_KRB5ENC=n
CONFIG_AUDIT=n
CONFIG_WLAN_VENDOR_MEDIATEK=n
CONFIG_NETFILTER_EGRESS=n
CONFIG_RAID6_PQ=n
CONFIG_NET_FLOW_LIMIT=n
CONFIG_GPIOLIB_LEGACY=n
CONFIG_IIO=n
CONFIG_VIDEO=n
CONFIG_RISCV_PMU=n
CONFIG_PCPU_DEV_REFCNT=n
CONFIG_CLK_SOPHGO_CV1800=n
CONFIG_IP_MULTICAST=n
CONFIG_EXECMEM=n
CONFIG_SBITMAP=n
CONFIG_RTC_INTF_PROC=n
CONFIG_NET_VENDOR_SAMSUNG=n
CONFIG_INET_ESP=n
CONFIG_BINFMT_SCRIPT=n
CONFIG_CPU_THERMAL=n
CONFIG_USB_CDNSP_PCI=n
CONFIG_ARCH_SUPPORTS_CFI=n
CONFIG_RISCV_IOMMU_PCI=n
CONFIG_SUSPEND_FREEZER=n
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE=n
CONFIG_IPV6_NDISC_NODETYPE=n
CONFIG_HAVE_ARCH_SOFT_DIRTY=n
CONFIG_SYNC_FILE=n
CONFIG_DECOMPRESS_BZIP2=n
CONFIG_PAGE_REPORTING=n
CONFIG_USB_EHCI_PCI=n
CONFIG_RISCV_MISALIGNED=n
CONFIG_BPF_EVENTS=n
CONFIG_STACKTRACE_SUPPORT=n
CONFIG_HW_RANDOM_VIRTIO=n
CONFIG_USB_CONFIGFS_MASS_STORAGE=n
CONFIG_CRYPTO_KPP2=n
CONFIG_NETFILTER_XTABLES=n
CONFIG_CC_HAVE_STACKPROTECTOR_TLS=n
CONFIG_FILE_LOCKING=n
CONFIG_ARCH_DMA_ADDR_T_64BIT=n
CONFIG_NET_VENDOR_AQUANTIA=n
CONFIG_MFD_SIMPLE_MFD_I2C=n
CONFIG_CPU_FREQ_GOV_PERFORMANCE=n
CONFIG_DRM_SUN6I_DSI=n
CONFIG_CRYPTO_SIG2=n
CONFIG_DECOMPRESS_XZ=n
CONFIG_CLKSRC_MMIO=n
CONFIG_BLK_DEV=n
CONFIG_VIRTIO_MMIO=n
CONFIG_VIRTIO_DMA_SHARED_BUFFER=n
CONFIG_SPACEMIT_CCU=n
CONFIG_NAMESPACES=n
CONFIG_VXLAN=n
CONFIG_CPU_FREQ_GOV_COMMON=n
CONFIG_RISCV_ISA_ZACAS=n
CONFIG_KEYS=n
CONFIG_CRYPTO_DEV_VIRTIO=n
CONFIG_SECURITY_SELINUX_AVC_STATS=n
CONFIG_GPIO_GENERIC=n
CONFIG_SATA_AHCI=n
CONFIG_IP_VS_PROTO_UDP=n
CONFIG_SCHED_HRTICK=n
CONFIG_OF_IOMMU=n
CONFIG_ARCH_HIBERNATION_POSSIBLE=n
CONFIG_UNION_FIND=n
CONFIG_HAVE_FTRACE_GRAPH_FUNC=n
CONFIG_HOTPLUG_PARALLEL=n
CONFIG_ARCH_MHP_MEMMAP_ON_MEMORY_ENABLE=n
CONFIG_NET_VENDOR_NATSEMI=n
CONFIG_SECURITYFS=n
CONFIG_DEBUG_KERNEL=n
CONFIG_USB_DEFAULT_PERSIST=n
CONFIG_I3C_OR_I2C=n
CONFIG_ERRATA_SIFIVE_CIP_1200=n
CONFIG_ARCH_MICROCHIP=n
CONFIG_HAVE_ASM_MODVERSIONS=n
CONFIG_ETHERNET=n
CONFIG_DMADEVICES=n
CONFIG_PINCTRL_TH1520=n
CONFIG_ACPI_THERMAL_LIB=n
CONFIG_THREAD_INFO_IN_TASK=n
CONFIG_CRYPTO_AEAD2=n
CONFIG_GENERIC_IRQ_MIGRATION=n
CONFIG_CPU_IDLE_GOV_MENU=n
CONFIG_POWER_RESET_SYSCON=n
CONFIG_ACPI_DEBUG=n
CONFIG_SERIAL_OF_PLATFORM=n
CONFIG_CLK_SIFIVE=n
CONFIG_CC_HAS_WORKING_NOSANITIZE_ADDRESS=n
CONFIG_PINCTRL=n
CONFIG_NET_VENDOR_DAVICOM=n
CONFIG_NET_VENDOR_TEHUTI=n
CONFIG_CRYPTO_RSA=n
CONFIG_SYSVIPC=n
CONFIG_DMA_ENGINE=n
CONFIG_QUEUED_SPINLOCKS=n
CONFIG_HAVE_ARCH_SECCOMP=n
CONFIG_BQL=n
CONFIG_ARCH_HAS_ELF_CORE_EFLAGS=n
CONFIG_HOTPLUG_CORE_SYNC_FULL=n
CONFIG_FIXED_PHY=n
CONFIG_PCI_PWRCTRL=n
CONFIG_HAVE_KERNEL_XZ=n
CONFIG_OVERLAY_FS=n
CONFIG_RTC_DRV_SUN6I=n
CONFIG_MTD_CFI_UTIL=n
CONFIG_ARCH_DMA_DEFAULT_COHERENT=n
CONFIG_GOLDFISH=n
CONFIG_ARCH_USE_SYM_ANNOTATIONS=n
CONFIG_VIRTIO_PCI_LIB=n
CONFIG_HAVE_IOREMAP_PROT=n
CONFIG_PCIEASPM_DEFAULT=n
CONFIG_SPI_MEM=n
CONFIG_HAVE_KERNEL_UNCOMPRESSED=n
CONFIG_CC_CAN_LINK=n
CONFIG_HAVE_MOVE_PUD=n
CONFIG_KEYBOARD_SUN4I_LRADC=n
CONFIG_SENSORS_SFCTEMP=n
CONFIG_VIDEO_V4L2_SUBDEV_API=n
CONFIG_NET_VENDOR_BROCADE=n
CONFIG_SMP=n
CONFIG_VM_EVENT_COUNTERS=n
CONFIG_SKB_EXTENSIONS=n
CONFIG_SERIO_SERPORT=n
CONFIG_PCI_HOST_COMMON=n
CONFIG_CRYPTO_USER_API_HASH=n
CONFIG_GENERIC_SCHED_CLOCK=n
CONFIG_CC_HAS_NO_PROFILE_FN_ATTR=n
CONFIG_DQL=n
CONFIG_SPACEMIT_K1_EMAC=n
CONFIG_RISCV_NONSTANDARD_CACHE_OPS=n
CONFIG_STARFIVE_JHB100_INTC=n
CONFIG_SECURITY_APPARMOR_PARANOID_LOAD=n
CONFIG_CPU_FREQ_DEFAULT_GOV_PERFORMANCE=n
CONFIG_BRIDGE_VLAN_FILTERING=n
CONFIG_DRM_SUN4I=n
CONFIG_HAVE_ARCH_TRACEHOOK=n
CONFIG_HAS_IOPORT=n
CONFIG_NFS_V4_SECURITY_LABEL=n
CONFIG_SND_PROC_FS=n
CONFIG_IPC_NS=n
CONFIG_NETFILTER_FAMILY_BRIDGE=n
CONFIG_NET_VENDOR_CISCO=n
CONFIG_SERIAL_SIFIVE=n
CONFIG_INPUT_VIVALDIFMAP=n
CONFIG_VIRTIO_BLK=n
CONFIG_MMC_DW_PLTFM=n
CONFIG_HAVE_KERNEL_GZIP=n
CONFIG_I2C_HID=n
CONFIG_SCSI_COMMON=n
CONFIG_SCSI_LOWLEVEL=n
CONFIG_PHY_SUN4I_USB=n
CONFIG_RISCV_ALTERNATIVE=n
CONFIG_FB_NOTIFY=n
CONFIG_SUN6I_MSGBOX=n
CONFIG_RESET_SPACEMIT_K3=n
CONFIG_GPIO_ACPI=n
CONFIG_ERRATA_THEAD_GHOSTWRITE=n
CONFIG_NF_CT_PROTO_SCTP=n
CONFIG_COMMON_CLK_ESWIN=n
CONFIG_MTD_MAP_BANK_WIDTH_4=n
CONFIG_JOLIET=n
CONFIG_GCC_NO_STRINGOP_OVERFLOW=n
CONFIG_HAVE_KVM_DIRTY_RING_ACQ_REL=n
CONFIG_TRACING=n
CONFIG_EFI_GENERIC_STUB=n
CONFIG_USB_CONFIGFS_RNDIS=n
CONFIG_ARCH_WANTS_THP_SWAP=n
CONFIG_CRYPTO_MANAGER=n
CONFIG_NF_LOG_ARP=n
CONFIG_DRM_KMS_HELPER=n
CONFIG_CRYPTO_HASH_INFO=n
CONFIG_SCHED_CACHE=n
CONFIG_GENERIC_CSUM=n
CONFIG_DECOMPRESS_LZMA=n
CONFIG_HAVE_CLK_PREPARE=n
CONFIG_UNIX=n
CONFIG_DEBUG_INFO_NONE=n
CONFIG_DEBUG_MEMORY_INIT=n
CONFIG_RISCV_ISA_ZICBOZ=n
CONFIG_DMA_NEED_SYNC=n
CONFIG_UCS2_STRING=n
CONFIG_PCIE_PLDA_HOST=n
CONFIG_DMA_NONCOHERENT_MMAP=n
CONFIG_HAVE_RSEQ=n
CONFIG_WLAN_VENDOR_BROADCOM=n
CONFIG_ARCH_MICROCHIP_POLARFIRE=n
CONFIG_RPS=n
CONFIG_MDIO_BUS_MUX=n
CONFIG_INET_TUNNEL=n
CONFIG_RESET_EIC7700=n
CONFIG_CPU_IDLE=n
CONFIG_PINCTRL_SUNXI=n
CONFIG_ARCH_HAS_CURRENT_STACK_POINTER=n
CONFIG_HAVE_ARCH_KGDB_QXFER_PKT=n
CONFIG_PCIE_ULTRARISC=n
CONFIG_XPS=n
CONFIG_ARCH_USE_QUEUED_SPINLOCKS=n
CONFIG_DRM_DW_HDMI=n
CONFIG_REGMAP=n
CONFIG_ACPI_I2C_OPREGION=n
CONFIG_ERRATA_ANDES=n
CONFIG_CLK_SOPHGO_SG2042_CLKGEN=n
CONFIG_WLAN_VENDOR_SILABS=n
CONFIG_BLK_MQ_STACKING=n
CONFIG_VMAP_STACK=n
CONFIG_POSIX_MQUEUE=n
CONFIG_SECTION_MISMATCH_WARN_ONLY=n
CONFIG_STARFIVE_WATCHDOG=n
CONFIG_ARCH_WANTS_NO_INSTR=n
CONFIG_GENERIC_IRQ_SHOW_LEVEL=n
CONFIG_PCI_LABEL=n
CONFIG_HUGETLB_PAGE=n
CONFIG_ASSOCIATIVE_ARRAY=n
CONFIG_SND_SOC_JH7110_PWMDAC=n
CONFIG_FB_DMAMEM_HELPERS_DEFERRED=n
CONFIG_SND_JACK_INPUT_DEV=n
CONFIG_OVERLAY_FS_REDIRECT_ALWAYS_FOLLOW=n
CONFIG_CRYPTO_SEQIV=n
CONFIG_NETDEVICES=n
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE_PUD=n
CONFIG_DRM_GEM_SHMEM_HELPER=n
CONFIG_GENERIC_CLOCKEVENTS=n
CONFIG_HAVE_KPROBES=n
CONFIG_SPARSE_IRQ=n
CONFIG_MTD_CFI_I1=n
CONFIG_VT=n
CONFIG_SPARSEMEM_VMEMMAP_ENABLE=n
CONFIG_ARCH_SPARSEMEM_ENABLE=n
CONFIG_NET_VENDOR_QUALCOMM=n
CONFIG_RISCV_ISA_SVRSW60T59B=n
CONFIG_MTD=n
CONFIG_CRYPTO_SIG=n
CONFIG_ACPI_SPCR_TABLE=n
CONFIG_LD_CAN_USE_KEEP_IN_OVERLAY=n
CONFIG_RATIONAL=n
CONFIG_ARCH_SUPPORTS_ATOMIC_RMW=n
