CONFIG_DECOMPRESS_GZIP=n
CONFIG_KEXEC_FILE=n
CONFIG_USB_QCOM_EUD=n
CONFIG_INTERCONNECT_QCOM_SM8650=n
CONFIG_SC_DISPCC_8280XP=n
CONFIG_PINCTRL_SUN8I_H3_R=n
CONFIG_PINCTRL_MT8192=n
CONFIG_QCS_GCC_615=n
CONFIG_ATA_ACPI=n
CONFIG_SERIAL_OWL=n
CONFIG_GOOGLE_CBMEM=n
CONFIG_CRYPTO_DEV_FSL_CAAM_RNG_API=n
CONFIG_COMMON_CLK_MT8186_IPESYS=n
CONFIG_OWL_DMA=n
CONFIG_ARM_PSCI_CPUIDLE_DOMAIN=n
CONFIG_BFQ_GROUP_IOSCHED=n
CONFIG_COMMON_CLK_MT2712=n
CONFIG_BINFMT_ELF=n
CONFIG_PCIE_RCAR_GEN4_EP=n
CONFIG_SC_GCC_8180X=n
CONFIG_XZ_DEC_SPARC=n
CONFIG_CAVIUM_ERRATUM_27456=n
CONFIG_ARCH_ALPINE=n
CONFIG_SPI_MESON_SPICC=n
CONFIG_BT_LEDS=n
CONFIG_SM_GCC_8150=n
CONFIG_HAVE_POSIX_CPU_TIMERS_TASK_WORK=n
CONFIG_FEC=n
CONFIG_REGULATOR_TPS65132=n
CONFIG_SYS_R9A09G056=n
CONFIG_PHY_ROCKCHIP_SNPS_PCIE3=n
CONFIG_USB_CONFIGFS=n
CONFIG_NFS_V4_2_SSC_HELPER=n
CONFIG_VIDEO_RCAR_DRIF=n
CONFIG_ARM_AIROHA_SOC_CPUFREQ=n
CONFIG_NET_ACT_MIRRED=n
CONFIG_USB_CDNSP_PCI=n
CONFIG_SND_SOC_RT1015=n
CONFIG_HISI_THERMAL=n
CONFIG_SND_SOC_SGTL5000=n
CONFIG_ROCKCHIP_IOMMU=n
CONFIG_SM_GCC_6350=n
CONFIG_COMMON_CLK_MT8365_MMSYS=n
CONFIG_COMMON_CLK_MT7986_ETHSYS=n
CONFIG_INPUT_PWM_VIBRA=n
CONFIG_XEN_XENBUS_FRONTEND=n
CONFIG_PCIE_VISCONTI_HOST=n
CONFIG_PNFS_BLOCK=n
CONFIG_USB_HSIC_USB3503=n
CONFIG_MAC80211_LEDS=n
CONFIG_DRM_CLIENT_LIB=n
CONFIG_NVIDIA_CARMEL_CNP_ERRATUM=n
CONFIG_APPLE_ADMAC=n
CONFIG_HAVE_ARCH_SECCOMP=n
CONFIG_MFD_CORE=n
CONFIG_ARCH_R9A07G044=n
CONFIG_SPI_ROCKCHIP=n
CONFIG_CC_IS_GCC=n
CONFIG_HAVE_ARCH_KFENCE=n
CONFIG_HAVE_KVM_CPU_RELAX_INTERCEPT=n
CONFIG_ARCH_SUPPORTS_KEXEC_FILE=n
CONFIG_COMMON_CLK_MT8196_MMSYS=n
CONFIG_DRM_PANEL_EDP=n
CONFIG_VIDEOBUF2_DMA_CONTIG=n
CONFIG_PHY_MTK_DP=n
CONFIG_COMMON_CLK_MT7981_ETHSYS=n
CONFIG_RTC_DRV_RK808=n
CONFIG_HAVE_EBPF_JIT=n
CONFIG_NETFILTER_XTABLES=n
CONFIG_NET_VENDOR_BROADCOM=n
CONFIG_REGULATOR_LP873X=n
CONFIG_CRYPTO_DEV_FSL_CAAM_CRYPTO_API_QI=n
CONFIG_ACPI_APMT=n
CONFIG_ARM64_ERRATUM_827319=n
CONFIG_ARM_SBSA_WATCHDOG=n
CONFIG_EXYNOS_AUDSS_CLK_CON=n
CONFIG_WLCORE=n
CONFIG_SERIAL_EARLYCON=n
CONFIG_COMMON_CLK_MT8173=n
CONFIG_BLK_CGROUP_PUNT_BIO=n
CONFIG_LEDS_TRIGGER_HEARTBEAT=n
CONFIG_SPI_ROCKCHIP_SFC=n
CONFIG_SUNRPC=n
CONFIG_USB_CDNS3_PCI_WRAP=n
CONFIG_CLK_IMX8QXP=n
CONFIG_LEDS_PWM=n
CONFIG_ARM_MEDIATEK_CPUFREQ_HW=n
CONFIG_FUTEX_MPOL=n
CONFIG_MACB_USE_HWSTAMP=n
CONFIG_BLK_DEV_DM_BUILTIN=n
CONFIG_GENERIC_CALIBRATE_DELAY=n
CONFIG_CLK_R8A779F0=n
CONFIG_NUMA_MEMBLKS=n
CONFIG_DWMAC_STM32=n
CONFIG_APERTURE_HELPERS=n
CONFIG_FW_LOADER_USER_HELPER=n
CONFIG_INET_DIAG=n
CONFIG_CRYPTO_SKCIPHER=n
CONFIG_REED_SOLOMON=n
CONFIG_USB_BELKIN=n
CONFIG_AHCI_DWC=n
CONFIG_SND_SOC_RT1015P=n
CONFIG_USB_XHCI_PLATFORM=n
CONFIG_HIBERNATION=n
CONFIG_I2C_DESIGNWARE_PLATFORM=n
CONFIG_SPI_RPCIF=n
CONFIG_SM_GPUCC_6115=n
CONFIG_BALLOON_MIGRATION=n
CONFIG_FSL_ENETC_PTP_CLOCK=n
CONFIG_FW_LOADER=n
CONFIG_SND_SOC_WCD939X=n
CONFIG_COMMON_CLK_VC3=n
CONFIG_ATH10K_CE=n
CONFIG_COMMON_CLK_FSL_SAI=n
CONFIG_ARCH_BLAIZE=n
CONFIG_FIX_EARLYCON_MEM=n
CONFIG_DRM_NOUVEAU_SIL164=n
CONFIG_CLK_MA35D1=n
CONFIG_LEDS_CLASS_MULTICOLOR=n
CONFIG_SERIAL_TEGRA_TCU=n
CONFIG_MTD_UBI=n
CONFIG_SM_GCC_8750=n
CONFIG_ARCH_WANTS_NO_INSTR=n
CONFIG_HNS=n
CONFIG_USB_DWC3_OF_SIMPLE=n
CONFIG_SND_SOC_SC8280XP=n
CONFIG_ARM64_ERRATUM_858921=n
CONFIG_RSI_91X=n
CONFIG_WLAN_VENDOR_REALTEK=n
CONFIG_PHY_CADENCE_DPHY=n
CONFIG_MMC_SDHCI_OF_SPARX5=n
CONFIG_ATH10K_SNOC=n
CONFIG_SND_SOC_LPASS_MACRO_COMMON=n
CONFIG_GENERIC_PHY_MIPI_DPHY=n
CONFIG_USB_SERIAL=n
CONFIG_LOCALVERSION_AUTO=n
CONFIG_ACPI_APEI_PCIEAER=n
CONFIG_SOC_RENESAS=n
CONFIG_PHY_QCOM_QMP=n
CONFIG_SND_USB=n
CONFIG_QCOM_SMEM=n
CONFIG_IKCONFIG=n
CONFIG_HAVE_PERF_USER_STACK_DUMP=n
CONFIG_GENERIC_IRQ_PROBE=n
CONFIG_PINCTRL_PFC_R8A77965=n
CONFIG_VIDEO_SYNOPSYS_HDMIRX_LOAD_DEFAULT_EDID=n
CONFIG_PCIE_BRCMSTB=n
CONFIG_PINCTRL_MESON=n
CONFIG_COMMON_CLK_MESON_CLKC_UTILS=n
CONFIG_PHY_SNPS_EUSB2=n
CONFIG_UNIPHIER_SYSTEM_BUS=n
CONFIG_CAN_RCAR_CANFD=n
CONFIG_MFD_SEC_CORE=n
CONFIG_IP_PNP_DHCP=n
CONFIG_USB_LAN78XX=n
CONFIG_RESET_SUNXI=n
CONFIG_ARCH_HAVE_NMI_SAFE_CMPXCHG=n
CONFIG_CLK_X1E80100_DISPCC=n
CONFIG_SND_SOC_LPASS_CDC_DMA=n
CONFIG_ARCH_HAS_NONLEAF_PMD_YOUNG=n
CONFIG_COMMON_CLK_MESON_MPLL=n
CONFIG_RCAR_THERMAL=n
CONFIG_HOTPLUG_PCI=n
CONFIG_TI_K3_AM65_CPSW_NUSS=n
CONFIG_USB_F_OBEX=n
CONFIG_PACKING=n
CONFIG_ARCH_HAS_PKEYS=n
CONFIG_EINT_MTK=n
CONFIG_MHI_WWAN_MBIM=n
CONFIG_EFIVAR_FS=n
CONFIG_PHY_QCOM_USB_HS_28NM=n
CONFIG_PM_DEVFREQ_EVENT=n
CONFIG_MLX5_CORE=n
CONFIG_USB_OHCI_EXYNOS=n
CONFIG_DWMAC_RENESAS_GBETH=n
CONFIG_COMMON_CLK_MT6765=n
CONFIG_DECOMPRESS_BZIP2=n
CONFIG_DEBUG_MISC=n
CONFIG_PINCTRL_SM8450=n
CONFIG_SERIAL_FSL_LINFLEXUART_CONSOLE=n
CONFIG_APPLE_WATCHDOG=n
CONFIG_SND_SOC_XILINX_SPDIF=n
CONFIG_ARM_GIC_V3_ITS=n
CONFIG_ARCH_R8A774A1=n
CONFIG_ARM_GIC=n
CONFIG_CRYPTO_DES=n
CONFIG_DMA_ENGINE_RAID=n
CONFIG_COMMON_CLK_PWM=n
CONFIG_USB_NET_SR9800=n
CONFIG_REGULATOR_DA9211=n
CONFIG_USB_NET_MCS7830=n
CONFIG_MEDIA_DIGITAL_TV_SUPPORT=n
CONFIG_RC_MAP=n
CONFIG_ARCH_TEGRA_132_SOC=n
CONFIG_IPV6_NDISC_NODETYPE=n
CONFIG_MTD_NAND_BRCMNAND_IPROC=n
CONFIG_VIDEO_RENESAS_FCP=n
CONFIG_DRM_EXYNOS5433_DECON=n
CONFIG_PHY_QCOM_QMP_UFS=n
CONFIG_PATA_TIMINGS=n
CONFIG_RTC_DRV_SNVS=n
CONFIG_ACPI_PROCESSOR_IDLE=n
CONFIG_MTD_NAND_ECC_SW_HAMMING=n
CONFIG_BCM2835_MBOX=n
CONFIG_CRYPTO_AES_ARM64_CE_CCM=n
CONFIG_I2C_PXA=n
CONFIG_PINCTRL_SM8750=n
CONFIG_ARCH_RENESAS=n
CONFIG_9P_FS=n
CONFIG_USB_RENESAS_USB3=n
CONFIG_SND_SOC_MT6358=n
CONFIG_SM_GPUCC_8450=n
CONFIG_HAVE_ARCH_VMAP_STACK=n
CONFIG_CLK_KAANAPALI_TCSRCC=n
CONFIG_ARM_PMUV3=n
CONFIG_SND_SOC_RK3399_GRU_SOUND=n
CONFIG_PHY_UNIPHIER_USB2=n
CONFIG_XOR_BLOCKS_ARCH=n
CONFIG_VCNL4000=n
CONFIG_DRM_ZYNQMP_DPSUB_AUDIO=n
CONFIG_STAGING_MEDIA=n
CONFIG_PCIEAER=n
CONFIG_NUMA_MIGRATION=n
CONFIG_SND_SOC_NAU8825=n
CONFIG_TEGRA_IOMMU_SMMU=n
CONFIG_USB_EHCI_BRCMSTB=n
CONFIG_POWER_RESET_BRCMSTB=n
CONFIG_XEN_GRANT_DEV_ALLOC=n
CONFIG_SND_SOC_ROCKCHIP_RT5645=n
CONFIG_CGROUPS=n
CONFIG_DRM_EXYNOS=n
CONFIG_MTD_CFI_AMDSTD=n
CONFIG_RPMSG_QCOM_SMD=n
CONFIG_EDAC_LAYERSCAPE=n
CONFIG_SND_SOC_WM8904=n
CONFIG_PCI_HOST_THUNDER_ECAM=n
CONFIG_HAVE_SOFTIRQ_ON_OWN_STACK=n
CONFIG_GPIO_SYSCON=n
CONFIG_PHY_SAMSUNG_USB2=n
CONFIG_CPU_FREQ_STAT=n
CONFIG_CLK_R9A09G047=n
CONFIG_SND_SOC_QDSP6_ROUTING=n
CONFIG_I2C_HID_OF=n
CONFIG_TAP=n
CONFIG_ASPEED_UART_ROUTING=n
CONFIG_EXYNOS_ACPM_PROTOCOL=n
CONFIG_ACPI_APEI_MEMORY_FAILURE=n
CONFIG_SND_SOC_SOF_XTENSA=n
CONFIG_MST_IRQ=n
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO=n
CONFIG_ARM_SCMI_HAVE_MSG=n
CONFIG_I2C_SLAVE=n
CONFIG_ARM_SMMU_V3_PMU=n
CONFIG_NLS=n
CONFIG_VIRTIO_NET=n
CONFIG_IMX_AIPSTZ=n
CONFIG_FIXED_PHY=n
CONFIG_SND_SOC_QDSP6_APM_DAI=n
CONFIG_PINCTRL_QDF2XXX=n
CONFIG_QCOM_LMH=n
CONFIG_NVMEM_LAYERSCAPE_SFP=n
CONFIG_ARCH_BERLIN=n
CONFIG_CRYPTO_LIB_SHA1_ARCH=n
CONFIG_CLK_RK3576=n
CONFIG_FONT_SUPPORT=n
CONFIG_LEDS_TRIGGER_CPU=n
CONFIG_DMA_CMA=n
CONFIG_USB_EHCI_PCI=n
CONFIG_SPMI_MSM_PMIC_ARB=n
CONFIG_COMMON_CLK_MT8188_ADSP_AUDIO26M=n
CONFIG_CGROUP_PERF=n
CONFIG_HISI_PMU=n
CONFIG_STM32_WATCHDOG=n
CONFIG_RTC_DRV_DS1307=n
CONFIG_SND_SOC_NAU8822=n
CONFIG_RAS=n
CONFIG_MMC_UNIPHIER=n
CONFIG_MDIO_REGMAP=n
CONFIG_ROCKCHIP_DW_HDMI=n
CONFIG_SERIAL_IMX=n
CONFIG_NET_VENDOR_MELLANOX=n
CONFIG_SOCK_CGROUP_DATA=n
CONFIG_PCI_HISI=n
CONFIG_CPU_FREQ_GOV_COMMON=n
CONFIG_QCOM_WCNSS_PIL=n
CONFIG_DRM_ROCKCHIP=n
CONFIG_CRYPTO_DEV_QCE_ENABLE_ALL=n
CONFIG_FPGA_MGR_ALTERA_CVP=n
CONFIG_DWMAC_MESON=n
CONFIG_COMMON_CLK_RP1=n
CONFIG_WLAN_VENDOR_ST=n
CONFIG_SM_CAMCC_8250=n
CONFIG_PHY_MTK_MIPI_DSI=n
CONFIG_SPARSEMEM_VMEMMAP=n
CONFIG_USB_DWC3_IMX=n
CONFIG_HAVE_FUNCTION_TRACER=n
CONFIG_TEGRA186_GPC_DMA=n
CONFIG_RTC_DRV_DS3232=n
CONFIG_RESET_QCOM_PDC=n
CONFIG_MARVELL_88Q2XXX_PHY=n
