CONFIG_ACPI_TABLE_UPGRADE=n
CONFIG_WLAN_VENDOR_RALINK=n
CONFIG_HAVE_FUNCTION_ARG_ACCESS_API=n
CONFIG_ARCH_SPARSEMEM_ENABLE=n
CONFIG_MOUSE_PS2_BYD=n
CONFIG_GENERIC_IRQ_SHOW=n
CONFIG_CC_NO_ARRAY_BOUNDS=n
CONFIG_SND_VERBOSE_PROCFS=n
CONFIG_ARCH_USE_MEMTEST=n
CONFIG_LOCKDEP_SUPPORT=n
CONFIG_RANDOMIZE_BASE=n
CONFIG_VT=n
CONFIG_LD_CAN_USE_KEEP_IN_OVERLAY=n
CONFIG_RD_BZIP2=n
CONFIG_MOUSE_PS2_TRACKPOINT=n
CONFIG_X86_DISABLED_FEATURE_PTI=n
CONFIG_PCCARD=n
CONFIG_AMD_NODE=n
CONFIG_CRYPTO_LIB_AES_ARCH=n
CONFIG_OLD_SIGACTION=n
CONFIG_USB_PCI=n
CONFIG_PCI_QUIRKS=n
CONFIG_CONTEXT_SWITCH_TRACER=n
CONFIG_X86_PAT=n
CONFIG_FIRMWARE_MEMMAP=n
CONFIG_CRYPTO_GCM=n
CONFIG_SCSI_PROC_FS=n
CONFIG_SCHED_SMT=n
CONFIG_MITIGATION_RETBLEED=n
CONFIG_DRM_PANEL_ORIENTATION_QUIRKS=n
CONFIG_HAVE_OPTPROBES=n
CONFIG_DRM_I915_CAPTURE_ERROR=n
CONFIG_THERMAL_NETLINK=n
CONFIG_SCHED_MC=n
CONFIG_MITIGATION_MMIO_STALE_DATA=n
CONFIG_VGA_ARB=n
CONFIG_SERIAL_8250_PERICOM=n
CONFIG_REALTEK_PHY=n
CONFIG_HAVE_REGS_AND_STACK_ACCESS_API=n
CONFIG_NLS_ISO8859_1=n
CONFIG_TASK_DELAY_ACCT=n
CONFIG_PCI_MSI=n
CONFIG_USB_MON=n
CONFIG_NETFILTER_SKIP_EGRESS=n
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST_IDLE=n
CONFIG_WLAN_VENDOR_QUANTENNA=n
CONFIG_HIBERNATION=n
CONFIG_ARCH_USE_QUEUED_RWLOCKS=n
CONFIG_WLAN_VENDOR_BROADCOM=n
CONFIG_NET_VENDOR_CAVIUM=n
CONFIG_NET_VENDOR_SOCIONEXT=n
CONFIG_EDAC_SUPPORT=n
CONFIG_ISO9660_FS=n
CONFIG_R8169=n
CONFIG_VIRTIO_BLK=n
CONFIG_X86_EXTENDED_PLATFORM=n
CONFIG_HYPERVISOR_GUEST=n
CONFIG_AUDITSYSCALL=n
CONFIG_NAMESPACES=n
CONFIG_HAVE_KERNEL_GZIP=n
CONFIG_INOTIFY_USER=n
CONFIG_GCC_NO_STRINGOP_OVERFLOW=n
CONFIG_SND_INTEL_DSP_CONFIG=n
CONFIG_NFS_USE_KERNEL_DNS=n
CONFIG_RD_XZ=n
CONFIG_SND_TIMER=n
CONFIG_GENERIC_SYSCALL=n
CONFIG_SCHED_CACHE=n
CONFIG_EXECMEM=n
CONFIG_BRANCH_PROFILE_NONE=n
CONFIG_BACKLIGHT_CLASS_DEVICE=n
CONFIG_HAVE_UNSTABLE_SCHED_CLOCK=n
CONFIG_INET_TUNNEL=n
CONFIG_NET_EGRESS=n
CONFIG_NETFILTER_NETLINK=n
CONFIG_MICROCODE=n
CONFIG_TASKS_TRACE_RCU=n
CONFIG_CRC32=n
CONFIG_QUOTA_NETLINK_INTERFACE=n
CONFIG_RD_LZO=n
CONFIG_MITIGATION_SPECTRE_V2=n
CONFIG_HAS_IOPORT_MAP=n
CONFIG_XZ_DEC_BCJ=n
CONFIG_SYSVIPC_SYSCTL=n
CONFIG_FORCEDETH=n
CONFIG_ELF_CORE=n
CONFIG_DYNAMIC_EVENTS=n
CONFIG_X86_DISABLED_FEATURE_PCID=n
CONFIG_CGROUPS=n
CONFIG_WLAN_VENDOR_ST=n
CONFIG_SG_POOL=n
CONFIG_LEDS_CLASS=n
CONFIG_PM_SLEEP_DEBUG=n
CONFIG_ZLIB_DEFLATE=n
CONFIG_RUNTIME_TESTING_MENU=n
CONFIG_PKCS7_MESSAGE_PARSER=n
CONFIG_IP_ADVANCED_ROUTER=n
CONFIG_ARCH_USE_CMPXCHG_LOCKREF=n
CONFIG_HW_RANDOM=n
CONFIG_X86_CHECK_BIOS_CORRUPTION=n
CONFIG_CGROUP_RDMA=n
CONFIG_CROSS_MEMORY_ATTACH=n
CONFIG_HAVE_MOD_ARCH_SPECIFIC=n
CONFIG_DST_CACHE=n
CONFIG_RING_BUFFER=n
CONFIG_X86_THERMAL_VECTOR=n
CONFIG_NET_VENDOR_CADENCE=n
CONFIG_TRACEFS_AUTOMOUNT_DEPRECATED=n
CONFIG_PNP=n
CONFIG_RTC_INTF_DEV=n
CONFIG_QUOTA_TREE=n
CONFIG_HAVE_PERF_USER_STACK_DUMP=n
CONFIG_ARCH_WANT_FRAME_POINTERS=n
CONFIG_NFS_COMMON=n
CONFIG_I2C_ALGOBIT=n
CONFIG_NFS_DISABLE_UDP_SUPPORT=n
CONFIG_EFI_ESRT=n
CONFIG_SND_JACK_INPUT_DEV=n
CONFIG_MICROCODE_INITRD32=n
CONFIG_HAVE_ARCH_JUMP_LABEL=n
CONFIG_CRYPTO_LIB_MD5=n
CONFIG_X86_MSR=n
CONFIG_USB_EHCI_TT_NEWSCHED=n
CONFIG_FRAME_POINTER=n
CONFIG_SYSCTL=n
CONFIG_CC_HAS_NAMED_AS=n
CONFIG_WLAN_VENDOR_MARVELL=n
CONFIG_LZO_COMPRESS=n
CONFIG_GENERIC_MSI_IRQ=n
CONFIG_NET_VENDOR_ADAPTEC=n
CONFIG_NO_HZ_IDLE=n
CONFIG_CRYPTO_RSA=n
CONFIG_HAVE_MOVE_PUD=n
CONFIG_PM_TRACE_RTC=n
CONFIG_SYMBOLIC_ERRNAME=n
CONFIG_NET_VENDOR_SAMSUNG=n
CONFIG_ARCH_SUPPORTS_SCHED_SMT=n
CONFIG_ARCH_HAS_DEBUG_VM_PGTABLE=n
CONFIG_SERIO_SERPORT=n
CONFIG_NETFILTER_XT_TARGET_TCPMSS=n
CONFIG_CLKSRC_I8253=n
CONFIG_BLK_DEV_BSG_COMMON=n
CONFIG_VIRTIO_MENU=n
CONFIG_NVRAM=n
CONFIG_HAVE_ACPI_APEI_NMI=n
CONFIG_INET6_ESP=n
CONFIG_HAVE_STATIC_CALL=n
CONFIG_ARCH_VMLINUX_NEEDS_RELOCS=n
CONFIG_SMP=n
CONFIG_SND_HDA_HWDEP=n
CONFIG_CC_HAS_IBT=n
CONFIG_WLAN_VENDOR_PURELIFI=n
CONFIG_TIME_NS=n
CONFIG_STACKPROTECTOR=n
CONFIG_MD_BITMAP=n
CONFIG_NET_VENDOR_XIRCOM=n
CONFIG_INPUT_LEDS=n
CONFIG_DRM_KMS_HELPER=n
CONFIG_NVMEM=n
CONFIG_NET_CLS_CGROUP=n
CONFIG_SSB_POSSIBLE=n
CONFIG_WLAN_VENDOR_TI=n
CONFIG_EPROBE_EVENTS=n
CONFIG_NET_VENDOR_WANGXUN=n
CONFIG_PROC_PID_ARCH_STATUS=n
CONFIG_VFAT_FS=n
CONFIG_I3C_OR_I2C=n
CONFIG_FILE_LOCKING=n
CONFIG_NET_VENDOR_GOOGLE=n
CONFIG_NF_CONNTRACK_SECMARK=n
CONFIG_CRYPTO_CTS=n
CONFIG_MODULE_UNLOAD=n
CONFIG_ARCH_SUPPORTS_KEXEC=n
CONFIG_ARCH_SUPPORTS_KEXEC_BZIMAGE_VERIFY_SIG=n
CONFIG_ARCH_SUPPORTS_LTO_CLANG=n
CONFIG_PROC_PAGE_MONITOR=n
CONFIG_NET_VENDOR_HUAWEI=n
CONFIG_CC_HAS_NAMED_AS_FIXED_SANITIZERS=n
CONFIG_GPIOLIB_LEGACY=n
CONFIG_NET_VENDOR_MARVELL=n
CONFIG_HUGETLBFS=n
CONFIG_BPF=n
CONFIG_NETFILTER_EGRESS=n
CONFIG_NET_VENDOR_HISILICON=n
CONFIG_ATA_ACPI=n
CONFIG_CPU_FREQ_GOV_SCHEDUTIL=n
CONFIG_ARCH_SPLIT_ARG64=n
CONFIG_GENERIC_IRQ_ENTRY=n
CONFIG_ACPI=n
CONFIG_EXT4_FS_SECURITY=n
CONFIG_STRICT_KERNEL_RWX=n
CONFIG_NET_VENDOR_DAVICOM=n
CONFIG_CRYPTO_ALGAPI2=n
CONFIG_CPU_FREQ_GOV_PERFORMANCE=n
CONFIG_FTRACE=n
CONFIG_X86_CX8=n
CONFIG_IO_WQ=n
CONFIG_SND_HRTIMER=n
CONFIG_ATA_VERBOSE_ERROR=n
CONFIG_ACPI_FAN=n
CONFIG_PREEMPT_DYNAMIC=n
CONFIG_NET=n
CONFIG_BLK_DEV_IO_TRACE=n
CONFIG_HAVE_POSIX_CPU_TIMERS_TASK_WORK=n
CONFIG_HAVE_KERNEL_XZ=n
CONFIG_GENERIC_CPU_DEVICES=n
CONFIG_KCMP=n
CONFIG_NFS_V4=n
CONFIG_DECOMPRESS_LZ4=n
CONFIG_USB_PRINTER=n
CONFIG_PATA_MPIIX=n
CONFIG_IP6_NF_IPTABLES=n
CONFIG_NET_VENDOR_LITEX=n
CONFIG_HAVE_ARCH_KSTACK_ERASE=n
CONFIG_FHANDLE=n
CONFIG_TMPFS_POSIX_ACL=n
CONFIG_HID_GENERIC=n
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE=n
CONFIG_WERROR=n
CONFIG_CPU_FREQ_GOV_COMMON=n
CONFIG_NETPOLL=n
CONFIG_CRC32_ARCH=n
CONFIG_ARCH_WANT_GENERAL_HUGETLB=n
CONFIG_GENERIC_SMP_IDLE_THREAD=n
CONFIG_KPROBE_EVENTS=n
CONFIG_HAVE_ASM_MODVERSIONS=n
CONFIG_CGROUP_DEVICE=n
CONFIG_THREAD_INFO_IN_TASK=n
CONFIG_IP_MULTICAST=n
CONFIG_NFS_FS=n
CONFIG_ARCH_SUPPORTS_RT=n
CONFIG_GENERIC_CLOCKEVENTS_MIN_ADJUST=n
CONFIG_COMPAT_32=n
CONFIG_CRYPTO_LZO=n
CONFIG_BLK_MQ_STACKING=n
CONFIG_HAVE_DYNAMIC_FTRACE=n
CONFIG_TRACE_IRQFLAGS_NMI_SUPPORT=n
CONFIG_BLOCK_HOLDER_DEPRECATED=n
CONFIG_CONTEXT_TRACKING_IDLE=n
CONFIG_ACPI_HOTPLUG_CPU=n
CONFIG_TRACING=n
CONFIG_CLKEVT_I8253=n
CONFIG_REGMAP=n
CONFIG_DMA_VIRTUAL_CHANNELS=n
CONFIG_ATA_BMDMA=n
CONFIG_PGTABLE_HAS_HUGE_LEAVES=n
CONFIG_IPV6=n
CONFIG_HID_SUNPLUS=n
CONFIG_SCHED_OMIT_FRAME_POINTER=n
CONFIG_MODULES=n
CONFIG_CDROM=n
CONFIG_DEBUG_BOOT_PARAMS=n
CONFIG_X86_INTEL_TSX_MODE_AUTO=n
CONFIG_DEBUG_BUGVERBOSE=n
CONFIG_ARCH_SUPPORTS_MEMORY_FAILURE=n
CONFIG_NF_NAT_IRC=n
CONFIG_MMU_NOTIFIER=n
CONFIG_X86_ESPFIX32=n
CONFIG_IRQ_DOMAIN=n
CONFIG_CRYPTO_ECB=n
CONFIG_QUOTACTL=n
CONFIG_TRACING_SUPPORT=n
CONFIG_HAVE_RSEQ=n
CONFIG_HAVE_PERF_EVENTS_NMI=n
CONFIG_CRYPTO_SIG2=n
CONFIG_HAVE_ARCH_KGDB=n
CONFIG_RTC_INTF_PROC=n
CONFIG_USB_EHCI_PCI=n
CONFIG_ARCH_DEFAULT_CRASH_DUMP=n
CONFIG_X86_DISABLED_FEATURE_IBT=n
CONFIG_AUXILIARY_BUS=n
CONFIG_MQ_IOSCHED_KYBER=n
CONFIG_INTEL_TCC=n
CONFIG_ACPI_HOTPLUG_IOAPIC=n
CONFIG_IOMMU_DEFAULT_DMA_LAZY=n
CONFIG_ARCH_HAVE_NMI_SAFE_CMPXCHG=n
CONFIG_ARCH_MIGHT_HAVE_PC_SERIO=n
CONFIG_CPU_FREQ_GOV_ONDEMAND=n
CONFIG_CRYPTO_LIB_AES_CBC_MACS=n
CONFIG_NET_XGRESS=n
CONFIG_RPCSEC_GSS_KRB5=n
CONFIG_SCSI_SPI_ATTRS=n
CONFIG_SOCK_RX_QUEUE_MAPPING=n
CONFIG_KPROBES=n
CONFIG_WLAN_VENDOR_INTEL=n
CONFIG_INPUT_JOYSTICK=n
CONFIG_PAGE_POOL=n
CONFIG_HOTPLUG_CORE_SYNC_DEAD=n
CONFIG_NET_INGRESS=n
CONFIG_FLATMEM=n
CONFIG_X86_DISABLED_FEATURE_SEV_SNP=n
CONFIG_KALLSYMS_ALL=n
CONFIG_PROFILING=n
CONFIG_IOSF_MBI=n
CONFIG_ATA_GENERIC=n
CONFIG_MOUSE_PS2_ALPS=n
CONFIG_PCIEASPM_DEFAULT=n
CONFIG_SERIAL_NONSTANDARD=n
CONFIG_ARCH_HAS_CPU_FINALIZE_INIT=n
CONFIG_VHOST_ENABLE_FORK_OWNER_CONTROL=n
