CONFIG_PHY_MTK_UFS=n
CONFIG_I2C_OMAP=n
CONFIG_PWM_SL28CPLD=n
CONFIG_UCSI_CCG=n
CONFIG_HAS_DMA=n
CONFIG_DRM_TEGRA=n
CONFIG_QCS_CAMCC_615=n
CONFIG_DMABUF_HEAPS_CMA=n
CONFIG_USB_DWC3_HAPS=n
CONFIG_PHY_NS2_PCIE=n
CONFIG_GPIO_MVEBU=n
CONFIG_SERIAL_8250_EXTENDED=n
CONFIG_GPIO_BRCMSTB=n
CONFIG_THERMAL_HWMON=n
CONFIG_PHY_ROCKCHIP_TYPEC=n
CONFIG_SUN50I_H6_CCU=n
CONFIG_XEN_BLKDEV_FRONTEND=n
CONFIG_TASK_XACCT=n
CONFIG_SND_SOC_MT8365=n
CONFIG_COMMON_CLK_MT8365_CAM=n
CONFIG_DP83TD510_PHY=n
CONFIG_MCHP_CLK_MPFS=n
CONFIG_WLCORE=n
CONFIG_SMP=n
CONFIG_BCM2712_MIP=n
CONFIG_HAVE_SHARED_GPIOS=n
CONFIG_SYSCON_REBOOT_MODE=n
CONFIG_PM8916_WATCHDOG=n
CONFIG_SND_SOC_TEGRA210_MIXER=n
CONFIG_NET_MEDIATEK_STAR_EMAC=n
CONFIG_DRM_TOSHIBA_TC358768=n
CONFIG_COMMON_CLK_MT8183_VENCSYS=n
CONFIG_THP_SWAP=n
CONFIG_SND_SOC_TEGRA210_MVC=n
CONFIG_ACPI_HED=n
CONFIG_CGROUP_HUGETLB=n
CONFIG_EFI_GENERIC_STUB=n
CONFIG_ROCKCHIP_PHY=n
CONFIG_IP_MULTICAST=n
CONFIG_CRYPTO_ACOMP2=n
CONFIG_PINCTRL_PFC_R8A77970=n
CONFIG_QCOM_OCMEM=n
CONFIG_ARCH_HAS_PKEYS=n
CONFIG_CRYPTO_MD5=n
CONFIG_SND_SOC_ES7134=n
CONFIG_DRM_PANEL_KHADAS_TS050=n
CONFIG_CLONE_BACKWARDS=n
CONFIG_ARCH_WANT_COMPAT_IPC_PARSE_VERSION=n
CONFIG_CRYPTO_GCM=n
CONFIG_PCI_ATS=n
CONFIG_HWSPINLOCK_QCOM=n
CONFIG_I2C_PXA=n
CONFIG_GPIO_ZYNQ=n
CONFIG_FIX_EARLYCON_MEM=n
CONFIG_RTC_DRV_EFI=n
CONFIG_CRYPTO_DEV_BCM_SPU=n
CONFIG_OWL_TIMER=n
CONFIG_RTC_DRV_DA9063=n
CONFIG_BT_HCIUART_SERDEV=n
CONFIG_TEGRA_HOST1X_CONTEXT_BUS=n
CONFIG_DRM_MSM_MDP5=n
CONFIG_GPIO_PCF857X=n
CONFIG_SYSC_R8A774A1=n
CONFIG_GENERIC_CPU_DEVICES=n
CONFIG_OF_RESOLVE=n
CONFIG_SECRETMEM=n
CONFIG_PINCTRL_MT8167=n
CONFIG_EXYNOS_PMU=n
CONFIG_TI_EQEP=n
CONFIG_SERIAL_XILINX_PS_UART=n
CONFIG_SYSC_R8A7795=n
CONFIG_SPI_QUP=n
CONFIG_PCIE_RCAR_EP=n
CONFIG_IRQ_MSI_IOMMU=n
CONFIG_ARMADA_37XX_CLK=n
CONFIG_PCIE_DW_EP=n
CONFIG_HUGETLB_PAGE=n
CONFIG_BGMAC=n
CONFIG_SND_SOC_NAU8822=n
CONFIG_SPI_ROCKCHIP=n
CONFIG_CRYPTO_AES_ARM64_BS=n
CONFIG_MARVELL_88Q2XXX_PHY=n
CONFIG_TOUCHSCREEN_ATMEL_MXT=n
CONFIG_XILINX_DMA=n
CONFIG_REGULATOR_RZG2L_VBCTRL=n
CONFIG_QCOM_LMH=n
CONFIG_BALLOON=n
CONFIG_NET_DSA_TAG_BRCM_COMMON=n
CONFIG_FSL_ENETC=n
CONFIG_HW_RANDOM_ROCKCHIP=n
CONFIG_ZSTD_COMMON=n
CONFIG_QCS_GPUCC_615=n
CONFIG_PINCTRL_MSM8994=n
CONFIG_NET_VENDOR_I825XX=n
CONFIG_CC_HAS_KASAN_GENERIC=n
CONFIG_USB_TEGRA_PHY=n
CONFIG_PINCTRL_SDM670=n
CONFIG_ARM_IMX8M_DDRC_DEVFREQ=n
CONFIG_SDR_PLATFORM_DRIVERS=n
CONFIG_SUN8I_R_CCU=n
CONFIG_REGMAP=n
CONFIG_CROS_EC_PROTO=n
CONFIG_CMA=n
CONFIG_HAVE_FUNCTION_ERROR_INJECTION=n
CONFIG_MISC_FILESYSTEMS=n
CONFIG_TRANSPARENT_HUGEPAGE=n
CONFIG_NFC_NXP_NCI=n
CONFIG_LEGACY_TIOCSTI=n
CONFIG_TMPFS_POSIX_ACL=n
CONFIG_GENERIC_IRQ_PROBE=n
CONFIG_ASPEED_P2A_CTRL=n
CONFIG_NVMEM_SNVS_LPGPR=n
CONFIG_PINCTRL_TEGRA234=n
CONFIG_ARCH_SOPHGO=n
CONFIG_ACPI_HMAT=n
CONFIG_SND_SOC_RT1015P=n
CONFIG_CRYPTO_DEV_FSL_CAAM_JR=n
CONFIG_CRYPTO_XTS=n
CONFIG_COMMON_CLK_MESON_DUALDIV=n
CONFIG_KALLSYMS=n
CONFIG_REGULATOR_QCOM_SPMI=n
CONFIG_BCM_NET_PHYLIB=n
CONFIG_IIO_ST_MAGN_SPI_3AXIS=n
CONFIG_COMMON_CLK_MT8188_VPPSYS=n
CONFIG_GENERIC_IRQ_CHIP=n
CONFIG_HVC_XEN=n
CONFIG_COMMON_CLK_MT8192_IMGSYS=n
CONFIG_MMC_HSQ=n
CONFIG_POWER_RESET_BRCMSTB=n
CONFIG_BCM_SBA_RAID=n
CONFIG_INET_TUNNEL=n
CONFIG_ARCH_WANT_BATCHED_UNMAP_TLB_FLUSH=n
CONFIG_CLK_RCAR_GEN4_CPG=n
CONFIG_FW_LOADER_PAGED_BUF=n
CONFIG_PATA_PLATFORM=n
CONFIG_MODULE_UNLOAD=n
CONFIG_NVMEM_MAX77759=n
CONFIG_HW_RANDOM_AIROHA=n
CONFIG_CLK_R8A77990=n
CONFIG_SYSC_RCAR_GEN4=n
CONFIG_COMMON_CLK_MT8167_MFGCFG=n
CONFIG_CLK_R9A07G043=n
CONFIG_CLK_IMX8MM=n
CONFIG_MEDIA_TUNER_TDA8290=n
CONFIG_SOC_IMX9=n
CONFIG_USB_CHIPIDEA=n
CONFIG_MIGRATION=n
CONFIG_TASKS_RCU_GENERIC=n
CONFIG_DRM_LONTIUM_LT8713SX=n
CONFIG_PINCTRL_MAX77620=n
CONFIG_ACPI_APEI=n
CONFIG_REGULATOR_MT6358=n
CONFIG_BLK_DEV_LOOP=n
CONFIG_COMMON_CLK_MT8186_IMP_IIC_WRAP=n
CONFIG_CRYPTO_LIB_SHA256_ARCH=n
CONFIG_CRYPTO_DEV_FSL_CAAM=n
CONFIG_VIDEO_WAVE_VPU=n
CONFIG_ATH10K_SNOC=n
CONFIG_MT7921E=n
CONFIG_SND_SOC_APPLE_MCA=n
CONFIG_PINCTRL_TEGRA210=n
CONFIG_COMPAT_32BIT_TIME=n
CONFIG_ARCH_AIROHA=n
CONFIG_NET_VENDOR_MARVELL=n
CONFIG_SND_SOC_QDSP6_PRM_LPASS_CLOCKS=n
CONFIG_MMC_SDHCI_OF_ESDHC=n
CONFIG_NEED_TASKS_RCU=n
CONFIG_IRQ_TIME_ACCOUNTING=n
CONFIG_LEDS_CLASS=n
CONFIG_BLK_MQ_STACKING=n
CONFIG_CRYPTO_ECB=n
CONFIG_TEGRA186_TIMER=n
CONFIG_PCIEASPM=n
CONFIG_COMMON_CLK_MT8192_IPESYS=n
CONFIG_FW_CACHE=n
CONFIG_MMC_SDHCI_OF_ARASAN=n
CONFIG_PINCTRL_TEGRA194=n
CONFIG_SND_SOC_MESON_T9015=n
CONFIG_ARM64_PTR_AUTH_KERNEL=n
CONFIG_MTK_ADSP_IPC=n
CONFIG_SND_SOC_MAX98357A=n
CONFIG_SND_SOC_NAU8825=n
CONFIG_MTD_NAND_ECC_SW_HAMMING=n
CONFIG_TRANSPARENT_HUGEPAGE_ALWAYS=n
CONFIG_PINCTRL_KAANAPALI=n
CONFIG_CLK_R8A77970=n
CONFIG_CC_HAS_BRANCH_PROT_PAC_RET_BTI=n
CONFIG_ROCKCHIP_DW_DP=n
CONFIG_PCI_J721E=n
CONFIG_COMMON_CLK_MT8188_VENCSYS=n
CONFIG_FANOTIFY_ACCESS_PERMISSIONS=n
CONFIG_GENERIC_IDLE_POLL_SETUP=n
CONFIG_CLK_RCAR_GEN3_CPG=n
CONFIG_MESON_CLK_MEASURE=n
CONFIG_PWM_MESON=n
CONFIG_DWMAC_S32=n
CONFIG_HW_RANDOM_HISTB=n
CONFIG_ARM_PMUV3=n
CONFIG_ARM64_WORKAROUND_TSB_FLUSH_FAILURE=n
CONFIG_ROCKCHIP_GRF=n
CONFIG_PWM_RENESAS_RZ_MTU3=n
CONFIG_ARCH_TEGRA_234_SOC=n
CONFIG_MFD_SPMI_PMIC=n
CONFIG_VIDEO_MESON_VDEC=n
CONFIG_DEBUG_MISC=n
CONFIG_PCI_ECAM=n
CONFIG_SERIAL_8250_FSL=n
CONFIG_PHY_BRCM_USB=n
CONFIG_NFS_DISABLE_UDP_SUPPORT=n
CONFIG_CLZ_TAB=n
CONFIG_BRCMSTB_L2_IRQ=n
CONFIG_HAVE_IRQ_TIME_ACCOUNTING=n
CONFIG_SQUASHFS_COMPILE_DECOMP_SINGLE=n
CONFIG_RESET_NPCM=n
CONFIG_POSIX_MQUEUE_SYSCTL=n
CONFIG_USB_F_OBEX=n
CONFIG_CLK_R8A779A0=n
CONFIG_RTC_I2C_AND_SPI=n
CONFIG_VF_TIMER_NONE=n
CONFIG_RTC_DRV_PCF85363=n
CONFIG_REED_SOLOMON=n
CONFIG_DRM_PANEL_VISIONOX_VTDR6130=n
CONFIG_USB_F_FS=n
CONFIG_PINCTRL_MT7622=n
CONFIG_RD_GZIP=n
CONFIG_HVC_DRIVER=n
CONFIG_KEYBOARD_ATKBD=n
CONFIG_TI_K3_UDMA_GLUE_LAYER=n
CONFIG_PINCTRL_EXYNOS_ARM64=n
CONFIG_ARCH_NXP=n
CONFIG_DWMAC_QCOM_ETHQOS=n
CONFIG_PHY_ROCKCHIP_EMMC=n
CONFIG_SND_SOC_QDSP6_AFE=n
CONFIG_TI_SCI_INTA_MSI_DOMAIN=n
CONFIG_FW_LOADER_SYSFS=n
CONFIG_DRM_ETNAVIV_THERMAL=n
CONFIG_ARCH_WANT_HUGE_PMD_SHARE=n
CONFIG_INOTIFY_USER=n
CONFIG_NVME_CORE=n
CONFIG_RTC_DRV_MT6397=n
CONFIG_MOUSE_PS2_BYD=n
CONFIG_SND_SOC_WCD_COMMON=n
CONFIG_WLAN_VENDOR_RALINK=n
CONFIG_COMMON_CLK_HI6220=n
CONFIG_CC_CAN_LINK=n
CONFIG_SCSI_UFS_VARIABLE_SG_ENTRY_SIZE=n
CONFIG_ARM64_ERRATUM_2645198=n
CONFIG_RTC_DRV_MAX77686=n
CONFIG_SL28CPLD_INTC=n
CONFIG_SCHED_CACHE=n
CONFIG_ATH11K=n
CONFIG_MMC_BCM2835=n
CONFIG_HAVE_SAMPLE_FTRACE_DIRECT_MULTI=n
CONFIG_USB_NET_SMSC75XX=n
CONFIG_WLAN_VENDOR_PURELIFI=n
CONFIG_DM_MIRROR=n
CONFIG_LEDS_CLASS_FLASH=n
CONFIG_SLIM_QCOM_NGD_CTRL=n
CONFIG_ARCH_HAS_KCOV=n
CONFIG_IPMI_SI=n
CONFIG_SPI_ARMADA_3700=n
CONFIG_VIDEO_AMPHION_VPU=n
CONFIG_SPI_RSPI=n
CONFIG_DWMAC_MESON=n
CONFIG_ARM_MEDIATEK_CPUFREQ=n
CONFIG_RTC_DRV_ARMADA38X=n
CONFIG_FONT_SUPPORT=n
CONFIG_PM_DEVFREQ=n
CONFIG_CRYPTO_HW=n
CONFIG_ETHERNET=n
CONFIG_QCA808X_PHY=n
CONFIG_DRM_EXYNOS_HDMI=n
CONFIG_PHY_QCOM_EUSB2_REPEATER=n
CONFIG_ARCH_BST=n
CONFIG_SND_SOC_LPASS_TX_MACRO=n
CONFIG_BT_HIDP=n
CONFIG_PTP_1588_CLOCK_QORIQ=n
CONFIG_HAVE_ARCH_HUGE_VMAP=n
CONFIG_HAVE_KVM_DIRTY_RING=n
CONFIG_RPCSEC_GSS_KRB5=n
CONFIG_HW_RANDOM_EXYNOS=n
CONFIG_DM_ZERO=n
CONFIG_ARM64_ERRATUM_2457168=n
CONFIG_REGULATOR_PF8X00=n
CONFIG_EC_LENOVO_YOGA_C630=n
CONFIG_DWMAC_SUN8I=n
CONFIG_SOPHGO_CV1800B_ADC=n
CONFIG_VIRTIO_PCI_LIB=n
CONFIG_ARM_SMMU_QCOM=n
CONFIG_INPUT_TOUCHSCREEN=n
CONFIG_PINCTRL_MT8195=n
CONFIG_DRM_MSM=n
CONFIG_CLK_X1P42100_VIDEOCC=n
CONFIG_UNION_FIND=n
CONFIG_DRM_ANALOGIX_DP=n
CONFIG_DRM_SUN8I_MIXER=n
CONFIG_PINCTRL_X1E80100=n
CONFIG_TRACING_SUPPORT=n
CONFIG_MEDIA_PLATFORM_SUPPORT=n
CONFIG_CROS_EC_CHARDEV=n
