CONFIG_WMI_BMOF=n
CONFIG_SND_INTEL_SOUNDWIRE_ACPI=n
CONFIG_ARCH_HAS_DEBUG_WX=n
CONFIG_DRM_PANEL_ORIENTATION_QUIRKS=n
CONFIG_CC_HAS_ASM_INLINE=n
CONFIG_PM_SLEEP_SMP=n
CONFIG_GENERIC_STRNCPY_FROM_USER=n
CONFIG_HAVE_ARCH_GET_SECUREBOOT=n
CONFIG_CRYPTO_AUTHENC=n
CONFIG_GENERIC_CLOCKEVENTS_MIN_ADJUST=n
CONFIG_PCI_MSI=n
CONFIG_SND_DRIVERS=n
CONFIG_BINFMT_MISC=n
CONFIG_ARCH_SUPPORTS_NUMA_BALANCING=n
CONFIG_CRYPTO_CMAC=n
CONFIG_KALLSYMS=n
CONFIG_ACPI_REV_OVERRIDE_POSSIBLE=n
CONFIG_HAVE_ARCH_MMAP_RND_COMPAT_BITS=n
CONFIG_ARCH_CONFIGURES_CPU_MITIGATIONS=n
CONFIG_WLAN_VENDOR_MEDIATEK=n
CONFIG_YENTA_ENE_TUNE=n
CONFIG_IP_PNP_DHCP=n
CONFIG_ARCH_HAS_GENERIC_CRASHKERNEL_RESERVATION=n
CONFIG_HAVE_USER_RETURN_NOTIFIER=n
CONFIG_PROFILING=n
CONFIG_RFKILL_INPUT=n
CONFIG_CROSS_MEMORY_ATTACH=n
CONFIG_NET_VENDOR_STMICRO=n
CONFIG_MITIGATION_RETBLEED=n
CONFIG_NET_VENDOR_LITEX=n
CONFIG_ACPI_PRMT=n
CONFIG_PNFS_FILE_LAYOUT=n
CONFIG_IRQ_FORCED_THREADING=n
CONFIG_ALLOW_DEV_COREDUMP=n
CONFIG_ACPI_MRRM=n
CONFIG_VIRTIO_ANCHOR=n
CONFIG_SERIAL_8250_EXTENDED=n
CONFIG_WLAN_VENDOR_ATMEL=n
CONFIG_HAVE_ARCH_KMSAN=n
CONFIG_IP6_NF_MATCH_IPV6HEADER=n
CONFIG_NET_VENDOR_HUAWEI=n
CONFIG_X86_HV_CALLBACK_VECTOR=n
CONFIG_HAVE_EFFICIENT_UNALIGNED_ACCESS=n
CONFIG_NEED_PER_CPU_EMBED_FIRST_CHUNK=n
CONFIG_GENERIC_CMOS_UPDATE=n
CONFIG_NET_SCH_FIFO=n
CONFIG_PCI_MMCONFIG=n
CONFIG_CRASH_DUMP=n
CONFIG_MITIGATION_MMIO_STALE_DATA=n
CONFIG_ARCH_SUPPORTS_KEXEC_JUMP=n
CONFIG_NET_POLL_CONTROLLER=n
CONFIG_FIRMWARE_MEMMAP=n
CONFIG_ACPI_PROCESSOR_IDLE=n
CONFIG_NETFILTER_XT_TARGET_SECMARK=n
CONFIG_NET_VENDOR_SOLARFLARE=n
CONFIG_DRM_I915_COMPRESS_ERROR=n
CONFIG_INTEGRITY_AUDIT=n
CONFIG_ACPI_AC=n
CONFIG_CRYPTO_CCM=n
CONFIG_ARCH_USE_CMPXCHG_LOCKREF=n
CONFIG_CFG80211_REQUIRE_SIGNED_REGDB=n
CONFIG_LEGACY_DIRECT_IO=n
CONFIG_GENERIC_IRQ_ENTRY=n
CONFIG_BLOCK_HOLDER_DEPRECATED=n
CONFIG_HUGETLB_PMD_PAGE_TABLE_SHARING=n
CONFIG_XZ_DEC_SPARC=n
CONFIG_WERROR=n
CONFIG_NFS_V4_0=n
CONFIG_SERIAL_8250_LPSS=n
CONFIG_ARCH_HAS_PTE_SPECIAL=n
CONFIG_MITIGATION_RETPOLINE=n
CONFIG_SECURITY_NETWORK=n
CONFIG_PADATA=n
CONFIG_PROBE_EVENTS=n
CONFIG_NET_VENDOR_EZCHIP=n
CONFIG_GENERIC_IRQ_SHOW=n
CONFIG_ARCH_HIBERNATION_POSSIBLE=n
CONFIG_BLK_CGROUP_IOLATENCY=n
CONFIG_FTRACE=n
CONFIG_TIME_NS=n
CONFIG_HARDIRQS_SW_RESEND=n
CONFIG_HAVE_MOVE_PMD=n
CONFIG_NETFILTER=n
CONFIG_STACKTRACE=n
CONFIG_ARCH_HAS_ADD_PAGES=n
CONFIG_USB_EHCI_PCI=n
CONFIG_NETFILTER_XTABLES=n
CONFIG_HPET_EMULATE_RTC=n
CONFIG_CRYPTO_LIB_GF128HASH_ARCH=n
CONFIG_SPARSEMEM_EXTREME=n
CONFIG_UCS2_STRING=n
CONFIG_ARCH_HAS_HW_PTE_YOUNG=n
CONFIG_POSIX_MQUEUE=n
CONFIG_MITIGATION_L1TF=n
CONFIG_SYSFS=n
CONFIG_CFG80211_DEFAULT_PS=n
CONFIG_CGROUP_DEVICE=n
CONFIG_PAGE_SIZE_4KB=n
CONFIG_FILE_LOCKING=n
CONFIG_EFI_EARLYCON=n
CONFIG_CGROUP_HUGETLB=n
CONFIG_HAVE_PCSPKR_PLATFORM=n
CONFIG_NET_VENDOR_MUCSE=n
CONFIG_SUNRPC=n
CONFIG_SECRETMEM=n
CONFIG_USE_PERCPU_NUMA_NODE_ID=n
CONFIG_BLK_CGROUP_IOPRIO=n
CONFIG_SHMEM=n
CONFIG_SND_X86=n
CONFIG_CC_HAS_NAMED_AS_FIXED_SANITIZERS=n
CONFIG_DECOMPRESS_XZ=n
CONFIG_CPU_FREQ_GOV_ONDEMAND=n
CONFIG_CRYPTO_LIB_SHA512_ARCH=n
CONFIG_ARCH_HAS_NMI_SAFE_THIS_CPU_OPS=n
CONFIG_X86_BOOTPARAM_MEMORY_CORRUPTION_CHECK=n
CONFIG_NET_VENDOR_MICROCHIP=n
CONFIG_NET_VENDOR_CHELSIO=n
CONFIG_OID_REGISTRY=n
CONFIG_ARCH_SUPPORTS_CRASH_DUMP=n
CONFIG_NF_CONNTRACK_SECMARK=n
CONFIG_HVC_DRIVER=n
CONFIG_NUMA_MEMBLKS=n
CONFIG_BLK_MQ_STACKING=n
CONFIG_PTP_1588_CLOCK=n
CONFIG_NET_VENDOR_ASIX=n
CONFIG_X86_VERBOSE_BOOTUP=n
CONFIG_HAVE_KPROBES=n
CONFIG_HUGETLB_PAGE_OPTIMIZE_VMEMMAP=n
CONFIG_TMPFS_XATTR=n
CONFIG_MQ_IOSCHED_DEADLINE=n
CONFIG_FUTEX_PI=n
CONFIG_POSIX_TIMERS=n
CONFIG_MUTEX_SPIN_ON_OWNER=n
CONFIG_HAVE_FUNCTION_ERROR_INJECTION=n
CONFIG_HAVE_KLP_BUILD=n
CONFIG_NET_VENDOR_HISILICON=n
CONFIG_PATA_TIMINGS=n
CONFIG_HAVE_ARCH_PREL32_RELOCATIONS=n
CONFIG_ARCH_SUPPORTS_SCHED_MC=n
CONFIG_DYNAMIC_SIGFRAME=n
CONFIG_ARCH_WANTS_NO_INSTR=n
CONFIG_SND_HRTIMER=n
CONFIG_ARCH_HAS_STRICT_KERNEL_RWX=n
CONFIG_HAVE_FENTRY=n
CONFIG_PREVENT_FIRMWARE_BUILD=n
CONFIG_GENERIC_ISA_DMA=n
CONFIG_X86_PM_TIMER=n
CONFIG_ACPI_LEGACY_TABLES_LOOKUP=n
CONFIG_MITIGATION_RFDS=n
CONFIG_SECCOMP_FILTER=n
CONFIG_CGROUP_CPUACCT=n
CONFIG_8139TOO=n
CONFIG_RANDOMIZE_KSTACK_OFFSET=n
CONFIG_INPUT=n
CONFIG_CRC32=n
CONFIG_ARCH_HAS_PKEYS=n
CONFIG_NET_VENDOR_CAVIUM=n
CONFIG_HAVE_DMA_CONTIGUOUS=n
CONFIG_HAVE_GENERIC_VDSO=n
CONFIG_RD_LZMA=n
CONFIG_PM_DEBUG=n
CONFIG_EFI_RUNTIME_WRAPPERS=n
CONFIG_ARCH_SUPPORTS_RT=n
CONFIG_CC_HAS_ENTRY_PADDING=n
CONFIG_STRICT_MODULE_RWX=n
CONFIG_ARCH_USE_QUEUED_SPINLOCKS=n
CONFIG_CRYPTO_LIB_AES_CBC_MACS=n
CONFIG_CRYPTO_LIB_SHA256=n
CONFIG_USB_MON=n
CONFIG_CALL_PADDING=n
CONFIG_SUSPEND=n
CONFIG_BLOCK_LEGACY_AUTOLOAD=n
CONFIG_ARCH_SUPPORTS_ATOMIC_RMW=n
CONFIG_THERMAL_NETLINK=n
CONFIG_MEMBARRIER=n
CONFIG_SCHED_MC_PRIO=n
CONFIG_BLK_PM=n
CONFIG_HAVE_SETUP_PER_CPU_AREA=n
CONFIG_VIRTIO_PCI=n
CONFIG_CGROUP_RDMA=n
CONFIG_INET_TUNNEL=n
CONFIG_SND_INTEL_NHLT=n
CONFIG_MOUSE_PS2=n
CONFIG_SND_SEQUENCER=n
CONFIG_MITIGATION_SRSO=n
CONFIG_RFKILL=n
CONFIG_ACPI_I2C_OPREGION=n
CONFIG_CGROUP_MISC=n
CONFIG_ARCH_WANT_BATCHED_UNMAP_TLB_FLUSH=n
CONFIG_CRYPTO_KRB5ENC=n
CONFIG_ARCH_HAS_PTDUMP=n
CONFIG_HID_TOPSEED=n
CONFIG_PCI_LABEL=n
CONFIG_X86_CPUID=n
CONFIG_FIX_EARLYCON_MEM=n
CONFIG_IRQ_REMAP=n
CONFIG_GENERIC_CPU_DEVICES=n
CONFIG_NET_VENDOR_SMSC=n
CONFIG_PNP_DEBUG_MESSAGES=n
CONFIG_CRYPTO=n
CONFIG_NLS_UTF8=n
CONFIG_MOUSE_PS2_SYNAPTICS_SMBUS=n
CONFIG_ARCH_SUPPORTS_ACPI=n
CONFIG_NET_VENDOR_SUN=n
CONFIG_HPET=n
CONFIG_DRM_CLIENT_SELECTION=n
CONFIG_TMPFS=n
CONFIG_SCHED_INFO=n
CONFIG_SERIAL_8250_EXAR=n
CONFIG_DEVPORT=n
CONFIG_NET_VENDOR_AQUANTIA=n
CONFIG_PATA_SCH=n
CONFIG_TIGON3_HWMON=n
CONFIG_DRM_MIPI_DSI=n
CONFIG_ARCH_ENABLE_SPLIT_PMD_PTLOCK=n
CONFIG_INPUT_KEYBOARD=n
CONFIG_HAS_IOMEM=n
CONFIG_SKY2=n
CONFIG_ARCH_DMA_ADDR_T_64BIT=n
CONFIG_GENERIC_BUG_RELATIVE_POINTERS=n
CONFIG_HAVE_VIRT_CPU_ACCOUNTING_GEN=n
CONFIG_ACPI_SPCR_TABLE=n
CONFIG_DUMMY_CONSOLE=n
CONFIG_HID_PANTHERLORD=n
CONFIG_CRYPTO_LIB_SHA1_ARCH=n
CONFIG_MPILIB=n
CONFIG_GCC_ASM_GOTO_OUTPUT_BROKEN=n
CONFIG_SYSCTL_EXCEPTION_TRACE=n
CONFIG_X86_DISABLED_FEATURE_K6_MTRR=n
CONFIG_NET_VENDOR_MICROSOFT=n
CONFIG_I2C_SMBUS=n
CONFIG_GENERIC_CALIBRATE_DELAY=n
CONFIG_CC_NO_ARRAY_BOUNDS=n
CONFIG_PPS=n
CONFIG_CRYPTO_ECB=n
CONFIG_PHYS_ADDR_T_64BIT=n
CONFIG_HUGETLB_PAGE=n
CONFIG_NET_VENDOR_REALTEK=n
CONFIG_DRM_DISPLAY_DP_HELPER=n
CONFIG_CPU_FREQ_DEFAULT_GOV_USERSPACE=n
CONFIG_NETFILTER_XT_TARGET_LOG=n
CONFIG_CRYPTO_CAMELLIA=n
CONFIG_EVENT_TRACING=n
CONFIG_BROADCAST_TLB_FLUSH=n
CONFIG_GLOB=n
CONFIG_FAT_FS=n
CONFIG_PRINTK_TIME=n
CONFIG_CHR_DEV_SG=n
CONFIG_HOTPLUG_CPU=n
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO_BARE=n
CONFIG_GENERIC_GETTIMEOFDAY=n
CONFIG_HAVE_ARCH_THREAD_STRUCT_WHITELIST=n
CONFIG_ARCH_HAS_CPU_FINALIZE_INIT=n
CONFIG_IA32_EMULATION=n
CONFIG_DEBUG_FS_ALLOW_ALL=n
CONFIG_HAVE_IRQ_EXIT_ON_IRQ_STACK=n
CONFIG_CGROUP_FREEZER=n
CONFIG_SND_PROC_FS=n
CONFIG_VFAT_FS=n
CONFIG_HAVE_C_RECORDMCOUNT=n
CONFIG_NETFILTER_XT_TARGET_NFLOG=n
CONFIG_CRYPTO_LIB_MD5=n
CONFIG_NET_VENDOR_MYRI=n
CONFIG_SGL_ALLOC=n
CONFIG_DEBUG_ENTRY=n
CONFIG_ARCH_HAS_GIGANTIC_PAGE=n
CONFIG_BRANCH_PROFILE_NONE=n
CONFIG_SUSPEND_FREEZER=n
CONFIG_PNFS_FLEXFILE_LAYOUT=n
CONFIG_STACKPROTECTOR=n
CONFIG_HID_SUPPORT=n
CONFIG_NF_CT_NETLINK=n
CONFIG_IOMMU_API=n
CONFIG_ARCH_USES_PG_ARCH_2=n
CONFIG_VM_EVENT_COUNTERS=n
CONFIG_CRYPTO_HASH2=n
CONFIG_HAVE_ARCH_KCSAN=n
CONFIG_ARCH_STACKWALK=n
CONFIG_IOMMU_PT_X86_64=n
CONFIG_KEYBOARD_ATKBD=n
CONFIG_SERIAL_8250_DETECT_IRQ=n
CONFIG_QUEUED_RWLOCKS=n
CONFIG_RELAY=n
CONFIG_HAVE_ARCH_WITHIN_STACK_FRAMES=n
CONFIG_PCCARD=n
CONFIG_ARCH_SUPPORTS_LTO_CLANG_THIN=n
CONFIG_NETFILTER_XT_MARK=n
CONFIG_NET_VENDOR_INTEL=n
CONFIG_BINFMT_ELF=n
CONFIG_GENERIC_CLOCKEVENTS_COUPLED=n
CONFIG_IRQ_MSI_LIB=n
CONFIG_ARCH_USE_QUEUED_RWLOCKS=n
CONFIG_ARCH_WANT_HUGE_PMD_SHARE=n
CONFIG_NET_VENDOR_SAMSUNG=n
CONFIG_NET_VENDOR_MICROSEMI=n
CONFIG_SERIAL_CORE=n
CONFIG_SLAB_MERGE_DEFAULT=n
CONFIG_XZ_DEC_BCJ=n
CONFIG_HAVE_RETHOOK=n
CONFIG_XZ_DEC_ARM=n
