CONFIG_HID_TOPRE=y
CONFIG_NVMEM_MESON_MX_EFUSE=y
CONFIG_ARCH_HAS_CURRENT_STACK_POINTER=y
CONFIG_AD2S90=y
CONFIG_BCM87XX_PHY=y
CONFIG_MTD_NAND_DENALI=y
CONFIG_MTD_ONENAND_GENERIC=y
CONFIG_CRYPTO_ESSIV=y
CONFIG_REGULATOR_MT6331=y
CONFIG_ARCH_SUPPORTS_SCHED_CLUSTER=y
CONFIG_PHY_MTK_DP=y
CONFIG_HAVE_ARCH_JUMP_LABEL_RELATIVE=y
CONFIG_MTK_PMIC_WRAP=y
CONFIG_CGROUPS=y
CONFIG_MCP3422=y
CONFIG_PROC_MEM_FORCE_PTRACE=y
CONFIG_TI_ADS7950=y
CONFIG_COMMON_CLK_BD718XX=y
CONFIG_DEBUG_TEST_DRIVER_REMOVE=y
CONFIG_SECRETMEM=y
CONFIG_COMMON_CLK_MT6779_IPESYS=y
CONFIG_IRQ_DOMAIN=y
CONFIG_COMMON_CLK_MT8188_IPESYS=y
CONFIG_SERIAL_UARTLITE_CONSOLE=y
CONFIG_PHY_ROCKCHIP_TYPEC=y
CONFIG_PINCTRL_AC5=y
CONFIG_MFD_RT5033=y
CONFIG_COMMON_CLK_MT8365_CAM=y
CONFIG_COMMON_CLK_STM32MP=y
CONFIG_SYSCON_REBOOT_MODE=y
CONFIG_MAX34408=y
CONFIG_GROUP_SCHED_BANDWIDTH=y
CONFIG_COMMON_CLK=y
CONFIG_EXPORTFS=y
CONFIG_SPI_DLN2=y
CONFIG_PINCTRL_MTK_MOORE=y
CONFIG_CRC32=y
CONFIG_MII=y
CONFIG_RUSTC_SUPPORTS_ARM64=y
CONFIG_INPUT_MATRIXKMAP=y
CONFIG_PPPOE_HASH_BITS_8=y
CONFIG_RATIONAL=y
CONFIG_MARVELL_CN10K_DDR_PMU=y
CONFIG_LEDS_REGULATOR=y
CONFIG_HAVE_VIRT_CPU_ACCOUNTING_GEN=y
CONFIG_BMC150_MAGN_I2C=y
CONFIG_MOUSE_PS2_SENTELIC=y
CONFIG_DMADEVICES_VDEBUG=y
CONFIG_HID_CREATIVE_SB0540=y
CONFIG_BACKLIGHT_AS3711=y
CONFIG_MTD_UBI_NVMEM=y
CONFIG_ARM_SCMI_POWER_CONTROL=y
CONFIG_RPMSG_CHAR=y
CONFIG_HAVE_SOFTIRQ_ON_OWN_STACK=y
CONFIG_PHY_CADENCE_SIERRA=y
CONFIG_IRQ_TIME_ACCOUNTING=y
CONFIG_SERIO_GPIO_PS2=y
CONFIG_CROS_EC_SENSORHUB=y
CONFIG_MAC80211_MESH=y
CONFIG_CRYPTO_ECC=y
CONFIG_AD4695=y
CONFIG_REGULATOR_TPS6105X=y
CONFIG_MPRLS0025PA=y
CONFIG_ARM64_ERRATUM_1508412=y
CONFIG_PINCTRL_ROCKCHIP=y
CONFIG_TRACE_REMOTE=y
CONFIG_GPIO_SIOX=y
CONFIG_SENSORS_ARM_SCMI=y
CONFIG_LEDS_TRIGGER_TRANSIENT=y
CONFIG_MTK_SCP=y
CONFIG_UNION_FIND=y
CONFIG_MAXLINEAR_86110_PHY=y
CONFIG_USB_DWC3_MESON_G12A=y
CONFIG_BMI323_I2C=y
CONFIG_PPS_CLIENT_LDISC=y
CONFIG_TERANETICS_PHY=y
CONFIG_ARM_SCMI_HAVE_TRANSPORT=y
CONFIG_HID_DRAGONRISE=y
CONFIG_PINCTRL_SINGLE=y
CONFIG_TEXTSEARCH_KMP=y
CONFIG_JOYSTICK_GF2K=y
CONFIG_INPUT_SPARSEKMAP=y
CONFIG_NET_SCH_SKBPRIO=y
CONFIG_AD5592R_BASE=y
CONFIG_PHY_MESON_G12A_USB3_PCIE=y
CONFIG_SPI_DW_DMA=y
CONFIG_AD7293=y
CONFIG_INPUT_FF_MEMLESS=y
CONFIG_REGMAP_SPI=y
CONFIG_CHARGER_LP8727=y
CONFIG_SERIAL_8250_DFL=y
CONFIG_BATTERY_S2MU005=y
CONFIG_BATTERY_TWL4030_MADC=y
CONFIG_PINCTRL_MT7988=y
CONFIG_MESON_CLK_MEASURE=y
CONFIG_MS5637=y
CONFIG_SPI_AXI_SPI_ENGINE=y
CONFIG_PMIC_ADP5520=y
CONFIG_HID_LENOVO=y
CONFIG_MCP4821=y
CONFIG_HIDRAW=y
CONFIG_CLK_SOPHGO_CV1800=y
CONFIG_HID_CYPRESS=y
CONFIG_I2C_MUX_PINCTRL=y
CONFIG_LSI_ET1011C_PHY=y
CONFIG_REGULATOR_PV88060=y
CONFIG_SENSORS_F71882FG=y
CONFIG_I2C_MV64XXX=y
CONFIG_LEDS_PCA9532_GPIO=y
CONFIG_ARCH_USE_MEMTEST=y
CONFIG_BUILTIN_RETURN_ADDRESS_STRIPS_PAC=y
CONFIG_USB_SERIAL_IUU=y
CONFIG_VLAN_8021Q_MVRP=y
CONFIG_COMEDI_KCOMEDILIB=y
CONFIG_USB_SERIAL_QCAUX=y
CONFIG_USB_HUB_USB251XB=y
CONFIG_HAVE_BUILDTIME_MCOUNT_SORT=y
CONFIG_PHONET=y
CONFIG_GPIO_WAVESHARE_DSI_TOUCH=y
CONFIG_NET_TEAM_MODE_ACTIVEBACKUP=y
CONFIG_USB_SERIAL_GARMIN=y
CONFIG_BMA400_I2C=y
CONFIG_CLK_ICST=y
CONFIG_HW_RANDOM_MESON=y
CONFIG_BOOT_CONFIG=y
CONFIG_THERMAL_HWMON=y
CONFIG_IIO_SW_TRIGGER=y
CONFIG_AD7923=y
CONFIG_COMMON_CLK_MT8167_VDECSYS=y
CONFIG_LEDS_BRIGHTNESS_HW_CHANGED=y
CONFIG_ARCH_HAS_FORCE_DMA_UNENCRYPTED=y
CONFIG_BACKLIGHT_SKY81452=y
CONFIG_HID_PLANTRONICS=y
CONFIG_DMA_DIRECT_REMAP=y
CONFIG_SPARSEMEM=y
CONFIG_DEBUG_RODATA_TEST=y
CONFIG_QSEMI_PHY=y
CONFIG_HID_WIIMOTE=y
CONFIG_USB_SERIAL_MCT_U232=y
CONFIG_BMC150_ACCEL=y
CONFIG_RMI4_F21=y
CONFIG_COMMON_CLK_MT6765_IMGSYS=y
CONFIG_PREEMPT_BUILD=y
CONFIG_REGULATOR_AS3711=y
CONFIG_NET_ACT_SKBEDIT=y
CONFIG_PINCTRL_MTK=y
CONFIG_U_SERIAL_CONSOLE=y
CONFIG_USB_ROLE_SWITCH=y
CONFIG_ARM_SCMI_RAW_MODE_SUPPORT=y
CONFIG_COMMON_CLK_MT8188_CAMSYS=y
CONFIG_LEDS_LP8864=y
CONFIG_MTD_CFI_STAA=y
CONFIG_MFD_CS47L24=y
CONFIG_REGMAP_MMIO=y
CONFIG_MDIO_IPQ8064=y
CONFIG_ARCH_WANT_FRAME_POINTERS=y
CONFIG_SENSORS_JC42=y
CONFIG_USB_LINK_LAYER_TEST=y
CONFIG_CC_IS_GCC=y
CONFIG_CHARGER_LT3651=y
CONFIG_ARM_SCMI_TRANSPORT_OPTEE=y
CONFIG_RMI4_I2C=y
CONFIG_PSI=y
CONFIG_ARM64_WORKAROUND_DISABLE_CNP=y
CONFIG_TIMER_PROBE=y
CONFIG_DHT11=y
CONFIG_DA311=y
CONFIG_REGULATOR_RASPBERRYPI_TOUCHSCREEN_V2=y
CONFIG_NVMEM_LAYOUT_U_BOOT_ENV=y
CONFIG_PHY_ROCKCHIP_NANENG_COMBO_PHY=y
CONFIG_DMA_COHERENT_POOL=y
CONFIG_SPI_DYNAMIC=y
CONFIG_AD5064=y
CONFIG_AM2315=y
CONFIG_ARM64_E0PD=y
CONFIG_ARCH_SUPPORTS_MEMORY_FAILURE=y
CONFIG_ENS160_I2C=y
CONFIG_HID_ELO=y
CONFIG_HID_EVISION=y
CONFIG_USB_CDNS3_HOST=y
CONFIG_ARCH_WANT_DEFAULT_TOPDOWN_MMAP_LAYOUT=y
CONFIG_LEDS_LP3952=y
CONFIG_CRYPTO_AUTHENC=y
CONFIG_RTC_DRV_MA35D1=y
CONFIG_XEN_GRANT_DEV_ALLOC=y
CONFIG_HID_BELKIN=y
CONFIG_SPS30=y
CONFIG_CONTIG_ALLOC=y
CONFIG_MTD_NAND_DISKONCHIP=y
CONFIG_SX9500=y
CONFIG_USB_EMI62=y
CONFIG_INV_ICM45600_I3C=y
CONFIG_NET_CORE=y
CONFIG_TI_ADC081C=y
CONFIG_MTD_NAND_NUVOTON_MA35=y
CONFIG_EXTCON_ADC_JACK=y
CONFIG_MTD_NAND_PLATFORM=y
CONFIG_CHARGER_RK817=y
CONFIG_USERIO=y
CONFIG_CRYPTO_BLAKE2B=y
CONFIG_SENSORS_LTC4283=y
CONFIG_ARCH_BST=y
CONFIG_RTC_DRV_IMX_BBM_SCMI=y
CONFIG_PINCTRL_MT8173=y
CONFIG_MS5611_SPI=y
CONFIG_EXTCON=y
CONFIG_ARCH_SELECTS_KEXEC_FILE=y
CONFIG_IIO_BUFFER_DMA=y
CONFIG_HID_LCPOWER=y
CONFIG_COMMON_CLK_MT8192_IMP_IIC_WRAP=y
CONFIG_MFD_VEXPRESS_SYSREG=y
CONFIG_MDIO_BUS_MUX_MESON_G12A=y
CONFIG_ZSTD_COMMON=y
CONFIG_HIST_TRIGGERS=y
CONFIG_HAVE_ARCH_VMAP_STACK=y
CONFIG_SERIAL_CONEXANT_DIGICOLOR_CONSOLE=y
CONFIG_GPIO_MAX7301=y
CONFIG_NVMEM_ROCKCHIP_OTP=y
CONFIG_RTC_DRV_RV3029C2=y
CONFIG_TASKS_RCU_GENERIC=y
CONFIG_COMMON_CLK_MT8516=y
CONFIG_VHOST_VDPA=y
CONFIG_PM_GENERIC_DOMAINS_OF=y
CONFIG_LEDS_TRIGGER_DEFAULT_ON=y
CONFIG_COMMON_CLK_AXG_AUDIO=y
CONFIG_SPI_MEM=y
CONFIG_REGMAP_I3C=y
CONFIG_RTC_DRV_M41T93=y
CONFIG_GPIB=y
CONFIG_COMEDI_PCM3724=y
CONFIG_SENSORS_LTC2978=y
CONFIG_DMADEVICES=y
CONFIG_RTC_I2C_AND_SPI=y
CONFIG_GPIO_SWNODE_UNDEFINED=y
CONFIG_BATTERY_MAX1720X=y
CONFIG_PSI_DEFAULT_DISABLED=y
CONFIG_UHID=y
CONFIG_IIO_SCMI=y
CONFIG_SENSORS_NZXT_KRAKEN2=y
CONFIG_SERIO_RAW=y
CONFIG_DMADEVICES_DEBUG=y
CONFIG_SLIMBUS=y
CONFIG_HW_RANDOM_ROCKCHIP=y
CONFIG_SHUFFLE_PAGE_ALLOCATOR=y
CONFIG_ARCH_REALTEK=y
CONFIG_GPIB_FLUKE=y
CONFIG_ARM64_ERRATUM_1319367=y
CONFIG_COMMON_CLK_CDCE706=y
CONFIG_AIR_EN8811H_PHY=y
CONFIG_LD_IS_BFD=y
CONFIG_DEVFREQ_GOV_USERSPACE=y
CONFIG_FW_LOADER_COMPRESS=y
CONFIG_KXSD9_SPI=y
CONFIG_CRC32_ARCH=y
CONFIG_HZ_1000=y
CONFIG_SENSORS_LTC4215=y
CONFIG_AD7292=y
CONFIG_I2C_EMEV2=y
CONFIG_SPI_SLAVE=y
CONFIG_DEBUG_MEMORY_INIT=y
CONFIG_USB_SISUSBVGA=y
CONFIG_ARM64_ERRATUM_4311569=y
CONFIG_GENERIC_EARLY_IOREMAP=y
CONFIG_SMI330_SPI=y
CONFIG_HAVE_ARCH_AUDITSYSCALL=y
CONFIG_TRACER_MAX_TRACE=y
CONFIG_STM=y
CONFIG_SENSORS_LINEAGE=y
CONFIG_HID_STEELSERIES=y
CONFIG_FUTEX_PRIVATE_HASH=y
CONFIG_USB_OXU210HP_HCD=y
CONFIG_RPMSG_CTRL=y
CONFIG_EVENT_TRACE_STARTUP_TEST=y
CONFIG_HMC6352=y
CONFIG_MFD_RSMU_SPI=y
CONFIG_PAGE_SIZE_LESS_THAN_64KB=y
CONFIG_AD5758=y
CONFIG_LCD_TDO24M=y
CONFIG_IPMI_KCS_BMC=y
CONFIG_RTC_DRV_M48T86=y
CONFIG_XGENE_SLIMPRO_MBOX=y
CONFIG_CGROUP_NET_CLASSID=y
CONFIG_DPOT_DAC=y
CONFIG_MFD_TI_LMU=y
CONFIG_PINCTRL_SCMI=y
CONFIG_MUX_ADGS1408=y
CONFIG_RTC_DRV_ISL1208=y
CONFIG_LEDS_LP55XX_COMMON=y
CONFIG_I3C_OR_I2C=y
CONFIG_HID_KYSONA=y
CONFIG_SENSORS_MAX20830=y
CONFIG_BALLOON=y
CONFIG_ARCH_HAS_MEMBARRIER_SYNC_CORE=y
CONFIG_CRYPTO_SHA512=y
CONFIG_RING_BUFFER=y
CONFIG_SPARSE_IRQ=y
CONFIG_CRYPTO_RSA=y
CONFIG_COMMON_CLK_MESON_REGMAP=y
CONFIG_CRYPTO_RNG2=y
CONFIG_CRYPTO_SHA256=y
CONFIG_XZ_DEC_MICROLZMA=y
CONFIG_FB_GOLDFISH=y
CONFIG_USB_NET_CDC_SUBSET=y
CONFIG_OPEN_ALLIANCE_HELPERS=y
CONFIG_CPU_FREQ_GOV_ONDEMAND=y
CONFIG_REGULATOR_CPCAP=y
CONFIG_RTC_DRV_TEST=y
CONFIG_HAVE_DEBUG_KMEMLEAK=y
CONFIG_SAMPLE_WATCHDOG=y
CONFIG_EINT_MTK=y
CONFIG_GCC10_NO_ARRAY_BOUNDS=y
CONFIG_CLKSRC_STM32_LP=y
CONFIG_MFD_TPS6586X=y
CONFIG_IIO_ST_LSM6DSX_I3C=y
CONFIG_BMC150_ACCEL_SPI=y
CONFIG_AX88796B_PHY=y
CONFIG_ADRF6780=y
CONFIG_REGULATOR_FAN53880=y
CONFIG_COMEDI_DAS08=y
CONFIG_USB_CDC_PHONET=y
CONFIG_XILLYBUS_CLASS=y
CONFIG_SOCK_CGROUP_DATA=y
CONFIG_FB_MODE_HELPERS=y
CONFIG_NLS_CODEPAGE_850=y
CONFIG_TEXTSEARCH_BM=y
CONFIG_JOYSTICK_PXRC=y
CONFIG_MMU_NOTIFIER=y
CONFIG_SENSORS_INA238=y
CONFIG_PAGE_MAPCOUNT=y
CONFIG_COMEDI_PCL816=y
CONFIG_GENERIC_IDLE_POLL_SETUP=y
CONFIG_USB_SL811_HCD=y
CONFIG_AK8975=y
CONFIG_CRYPTO_TWOFISH=y
CONFIG_STACKTRACE_SUPPORT=y
CONFIG_PM_DEVFREQ_EVENT=y
CONFIG_USB_CHIPIDEA_NPCM=y
CONFIG_USB_FUNCTIONFS=y
CONFIG_SENSORS_LM25066_REGULATOR=y
CONFIG_USB_GADGETFS=y
CONFIG_MOUSE_PS2_SMBUS=y
CONFIG_MTD_NAND_BRCMNAND_IPROC=y
CONFIG_FWNODE_MDIO=y
CONFIG_SENSORS_W83792D=y
CONFIG_CONTEXT_TRACKING=y
CONFIG_LRU_GEN_ENABLED=y
CONFIG_REGULATOR_RK808=y
CONFIG_IOMMUFD_VFIO_CONTAINER=y
CONFIG_AD7793=y
CONFIG_MPL115_I2C=y
CONFIG_BMI270=y
CONFIG_VIRTIO_MENU=y
CONFIG_HID_SUNPLUS=y
CONFIG_ARMADA_AP_CP_HELPER=y
CONFIG_SENSORS_BH1770=y
CONFIG_CPU_IDLE_GOV_TEO=y
CONFIG_USB_RTL8150=y
CONFIG_USB_NET_CDC_MBIM=y
CONFIG_SPI_STM32_QSPI=y
CONFIG_REGULATOR_PALMAS=y
CONFIG_KXSD9=y
CONFIG_LEDS_LP8501=y
CONFIG_PINCTRL_OWL=y
CONFIG_ARCH_VEXPRESS=y
CONFIG_GPIO_LP87565=y
CONFIG_INTERVAL_TREE=y
CONFIG_TI_DAC082S085=y
CONFIG_SENSORS_NTC_THERMISTOR=y
CONFIG_RESET_MESON_AUDIO_ARB=y
CONFIG_CRYPTO_ANUBIS=y
CONFIG_AMPERE_CORESIGHT_PMU_ARCH_SYSTEM_PMU=y
CONFIG_MTK_MFG_PM_DOMAIN=y
CONFIG_I2C_CHARDEV=y
CONFIG_GPIO_LP873X=y
CONFIG_MTK_MMSYS=y
CONFIG_MAX31865=y
CONFIG_SENSORS_IT87=y
CONFIG_REGULATOR_RT8092=y
CONFIG_USB_DEFAULT_PERSIST=y
CONFIG_VEXPRESS_CONFIG=y
CONFIG_SENSORS_MAX16065=y
CONFIG_MTD_MAP_BANK_WIDTH_1=y
CONFIG_SENSORS_MAX6650=y
CONFIG_SENSORS_ADM1029=y
CONFIG_GPIO_MAX732X=y
CONFIG_BUILDTIME_TABLE_SORT=y
CONFIG_HWMON_DEBUG_CHIP=y
CONFIG_USB_SERIAL_DEBUG=y
CONFIG_CRYPTO_LIB_ARC4=y
CONFIG_TMP117=y
CONFIG_TWL4030_MADC=y
CONFIG_SPARSEMEM_VMEMMAP=y
CONFIG_BATTERY_DS2781=y
CONFIG_MTD_CFI=y
CONFIG_X9250=y
CONFIG_MCP3564=y
CONFIG_DEBUG_LOCKING_API_SELFTESTS=y
CONFIG_INPUT_MOUSE=y
CONFIG_CRC_OPTIMIZATIONS=y
CONFIG_VCNL4000=y
CONFIG_MEMORY_FAILURE=y
CONFIG_MFD_ARIZONA_SPI=y
CONFIG_MAC80211_LEDS=y
CONFIG_MFD_TI_LP87565=y
CONFIG_SENSORS_RM3100=y
CONFIG_HID_EMS_FF=y
CONFIG_JOYSTICK_TMDC=y
CONFIG_CGROUP_CPUACCT=y
CONFIG_CRYPTO_AES_ARM64_CE_BLK=y
CONFIG_FB_SMSCUFX=y
CONFIG_TSYS02D=y
CONFIG_REGULATOR_RT5739=y
CONFIG_AD4170_4=y
CONFIG_GPIO_FTGPIO010=y
CONFIG_LCD_PLATFORM=y
CONFIG_USB_CHIPIDEA_TEGRA=y
CONFIG_SPI_MICROCHIP_CORE_SPI=y
CONFIG_GENERIC_ALLOCATOR=y
CONFIG_GENERIC_HWEIGHT=y
CONFIG_842_COMPRESS=y
CONFIG_ARMADA_37XX_CLK=y
CONFIG_COMEDI_DAS16M1=y
CONFIG_SERIO_ALTERA_PS2=y
CONFIG_ABP2030PA_I2C=y
CONFIG_RTC_INTF_DEV=y
CONFIG_VFIO=y
CONFIG_HAVE_PAGE_SIZE_16KB=y
CONFIG_USB_EHCI_MV=y
CONFIG_BMA400_SPI=y
CONFIG_USB_SERIAL_IR=y
CONFIG_HAVE_CLK_PREPARE=y
CONFIG_SENSORS_MP2975=y
CONFIG_GPIO_NCT6694=y
CONFIG_SENSORS_MR75203=y
CONFIG_SERIAL_QE=y
CONFIG_CRYPTO_HASH_INFO=y
CONFIG_HID_SMARTJOYPLUS=y
CONFIG_CROS_EC_SPI=y
CONFIG_IPMI_PLAT_DATA=y
CONFIG_IOMMUFD_DRIVER_CORE=y
CONFIG_ARCH_SUPPORTS_MSEAL_SYSTEM_MAPPINGS=y
CONFIG_DMA_CMA=y
CONFIG_RCU_NEED_SEGCBLIST=y
CONFIG_SERIAL_MCTRL_GPIO=y
CONFIG_OF_ADDRESS=y
CONFIG_USB_DWC3_DUAL_ROLE=y
CONFIG_ICPLUS_PHY=y
CONFIG_HAVE_NMI=y
CONFIG_ARM64_PA_BITS_48=y
CONFIG_ARM64_WORKAROUND_REPEAT_TLBI=y
CONFIG_MTD_SST25L=y
CONFIG_CRYPTO_CCM=y
CONFIG_MFD_ROHM_BD96801=y
CONFIG_CC_HAS_ASM_INLINE=y
CONFIG_REGULATOR_TPS6507X=y
CONFIG_DP83TG720_PHY=y
CONFIG_MFD_RK8XX_SPI=y
CONFIG_LRU_GEN_WALKS_MMU=y
CONFIG_CROS_EC_DEBUGFS=y
CONFIG_HAVE_GUP_FAST=y
CONFIG_SYSTEM_DATA_VERIFICATION=y
CONFIG_KEYBOARD_ADP5585=y
CONFIG_RCU_EQS_DEBUG=y
CONFIG_ARM_ARCH_TIMER=y
CONFIG_MTD_NAND_ECC_SW_BCH=y
CONFIG_ARCH_HAS_SET_DIRECT_MAP=y
CONFIG_RC_MAP=y
CONFIG_ARCH_SUPPORTS_KEXEC_IMAGE_VERIFY_SIG=y
CONFIG_CHARGER_BQ24735=y
CONFIG_KEYBOARD_MTK_PMIC=y
CONFIG_CROS_EC_RPMSG=y
CONFIG_RCU_REF_SCALE_TEST=y
CONFIG_FB_CFB_COPYAREA=y
CONFIG_MOUSE_ELAN_I2C_SMBUS=y
CONFIG_MTD_AFS_PARTS=y
CONFIG_CRYPTO_LIB_AES=y
CONFIG_CLK_RK3399=y
CONFIG_USB_CHIPIDEA=y
CONFIG_SERIAL_ALTERA_JTAGUART_CONSOLE=y
CONFIG_SOCK_RX_QUEUE_MAPPING=y
CONFIG_W1_SLAVE_DS2405=y
CONFIG_MIGRATION=y
CONFIG_RTC_DRV_M41T94=y
CONFIG_ROCKCHIP_TIMER=y
CONFIG_JOYSTICK_MAGELLAN=y
CONFIG_XEN_DEV_EVTCHN=y
CONFIG_HAVE_CMPXCHG_LOCAL=y
CONFIG_CRYPTO_ALGAPI2=y
CONFIG_MTD=y
CONFIG_MARVELL_PEM_PMU=y
CONFIG_PPP=y
CONFIG_SENSORS_STPDDC60=y
CONFIG_DEBUG_RT_MUTEXES=y
CONFIG_ARCH_HAS_CPU_CACHE_INVALIDATE_MEMREGION=y
CONFIG_TI_LMP92064=y
CONFIG_BMC150_MAGN=y
CONFIG_RD_GZIP=y
CONFIG_DP83822_PHY=y
CONFIG_MFD_AXP20X_I2C=y
CONFIG_GPIO_CADENCE=y
