CONFIG_VIRTIO=n
CONFIG_IP_PNP=n
CONFIG_DRM_DISPLAY_DP_HELPER=n
CONFIG_MITIGATION_L1TF=n
CONFIG_MACINTOSH_DRIVERS=n
CONFIG_RD_LZ4=n
CONFIG_COMPACTION=n
CONFIG_NEED_TASKS_RCU=n
CONFIG_NEW_LEDS=n
CONFIG_NF_CONNTRACK_SIP=n
CONFIG_CRASH_HOTPLUG=n
CONFIG_DRM_CLIENT_SELECTION=n
CONFIG_SYSFS=n
CONFIG_X86_HAVE_PAE=n
CONFIG_HAVE_FUTEX_ROBUST_UNLOCK=n
CONFIG_MODULE_FORCE_UNLOAD=n
CONFIG_I2C_SMBUS=n
CONFIG_PROC_FS=n
CONFIG_SERIAL_CORE_CONSOLE=n
CONFIG_ARCH_HAS_SET_MEMORY=n
CONFIG_ARCH_HAS_DEBUG_WX=n
CONFIG_ARCH_HAS_CPU_RELAX=n
CONFIG_FIRMWARE_MEMMAP=n
CONFIG_PADATA=n
CONFIG_ARCH_SUPPORTS_SCHED_SMT=n
CONFIG_TASK_IO_ACCOUNTING=n
CONFIG_IRQ_DOMAIN_HIERARCHY=n
CONFIG_HAVE_OBJTOOL_MCOUNT=n
CONFIG_MTRR=n
CONFIG_CPU_FREQ_GOV_SCHEDUTIL=n
CONFIG_NET_VENDOR_ROCKER=n
CONFIG_HAVE_GUP_FAST=n
CONFIG_PM_TRACE_RTC=n
CONFIG_HAVE_KCSAN_COMPILER=n
CONFIG_REGMAP=n
CONFIG_EFI_CUSTOM_SSDT_OVERLAYS=n
CONFIG_X86_EXTENDED_PLATFORM=n
CONFIG_MOUSE_PS2=n
CONFIG_SOUND=n
CONFIG_FSNOTIFY=n
CONFIG_HAS_IOPORT=n
CONFIG_INPUT_MOUSE=n
CONFIG_HDMI=n
CONFIG_IP_ROUTE_MULTIPATH=n
CONFIG_8139TOO_PIO=n
CONFIG_CRYPTO_LIB_SHA1=n
CONFIG_NET_VENDOR_TEHUTI=n
CONFIG_GENERIC_STRNLEN_USER=n
CONFIG_MMU=n
CONFIG_LZ4_COMPRESS=n
CONFIG_SHMEM=n
CONFIG_FUTEX_PRIVATE_HASH=n
CONFIG_LOCKD_V4=n
CONFIG_ZSTD_COMMON=n
CONFIG_MAGIC_SYSRQ_SERIAL=n
CONFIG_CC_HAS_NAMED_AS=n
CONFIG_TCP_CONG_ADVANCED=n
CONFIG_DECOMPRESS_LZMA=n
CONFIG_DRM_PANEL_BRIDGE=n
CONFIG_IOMMU_API=n
CONFIG_DEBUG_BUGVERBOSE=n
CONFIG_SERIAL_8250_PERICOM=n
CONFIG_HAVE_INTEL_TXT=n
CONFIG_NF_LOG_SYSLOG=n
CONFIG_USB_XHCI_PCI=n
CONFIG_HAVE_SAMPLE_FTRACE_DIRECT=n
CONFIG_PT_RECLAIM=n
CONFIG_YENTA_TI=n
CONFIG_INPUT_KEYBOARD=n
CONFIG_DRM_I915_COMPRESS_ERROR=n
CONFIG_IP_PNP_DHCP=n
CONFIG_ARCH_SUPPORTS_MEMORY_FAILURE=n
CONFIG_NET_VENDOR_WIZNET=n
CONFIG_LZ4_DECOMPRESS=n
CONFIG_ACPI_BUTTON=n
CONFIG_USB_MON=n
CONFIG_RCU_TRACE=n
CONFIG_HAVE_GCC_PLUGINS=n
CONFIG_THERMAL_DEFAULT_GOV_STEP_WISE=n
CONFIG_XZ_DEC_SPARC=n
CONFIG_SYSVIPC=n
CONFIG_SND_INTEL_NHLT=n
CONFIG_ARCH_USE_BUILTIN_BSWAP=n
CONFIG_SCSI_CONSTANTS=n
CONFIG_HOTPLUG_CPU=n
CONFIG_CPU_MITIGATIONS=n
CONFIG_IOMMU_SVA=n
CONFIG_KALLSYMS_ALL=n
CONFIG_ACPI_PLATFORM_PROFILE=n
CONFIG_BLK_DEV_DM_BUILTIN=n
CONFIG_LEDS_CLASS=n
CONFIG_HAVE_NOINSTR_VALIDATION=n
CONFIG_NET_VENDOR_CAVIUM=n
CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE=n
CONFIG_EXT4_FS=n
CONFIG_KCMP=n
CONFIG_NETFILTER_XT_TARGET_MASQUERADE=n
CONFIG_TASK_DELAY_ACCT=n
CONFIG_ARCH_SUPPORTS_NUMA_BALANCING=n
CONFIG_USB_STORAGE=n
CONFIG_FIB_RULES=n
CONFIG_MSDOS_PARTITION=n
CONFIG_XFRM_ESP=n
CONFIG_CRYPTO_AEAD=n
CONFIG_CLZ_TAB=n
CONFIG_PREEMPT_COUNT=n
CONFIG_NET_HANDSHAKE=n
CONFIG_RUSTC_HAS_FILE_WITH_NUL=n
CONFIG_ARCH_HAS_CPU_FINALIZE_INIT=n
CONFIG_SYSVIPC_SYSCTL=n
CONFIG_PNFS_BLOCK=n
CONFIG_DECOMPRESS_BZIP2=n
CONFIG_HWMON=n
CONFIG_NLS_ASCII=n
CONFIG_GENERIC_ENTRY=n
CONFIG_GENERIC_PENDING_IRQ=n
CONFIG_CLOCKSOURCE_WATCHDOG=n
CONFIG_NFS_USE_KERNEL_DNS=n
CONFIG_CRYPTO_ALGAPI=n
CONFIG_LOCKD=n
CONFIG_NET_VENDOR_QLOGIC=n
CONFIG_NF_NAT_SIP=n
CONFIG_CGROUP_NET_PRIO=n
CONFIG_CRYPTO_LIB_SHA256_ARCH=n
CONFIG_SECURITY_SELINUX=n
CONFIG_HAVE_MIXED_BREAKPOINTS_REGS=n
CONFIG_PNFS_FILE_LAYOUT=n
CONFIG_CRYPTO_ACOMP2=n
CONFIG_ASYMMETRIC_PUBLIC_KEY_SUBTYPE=n
CONFIG_HAVE_UNSTABLE_SCHED_CLOCK=n
CONFIG_CPU_SUP_HYGON=n
CONFIG_UNION_FIND=n
CONFIG_TRACEPOINTS=n
CONFIG_ACPI_MDIO=n
CONFIG_KEYBOARD_ATKBD=n
CONFIG_USE_PERCPU_NUMA_NODE_ID=n
CONFIG_PREEMPT_RCU=n
CONFIG_GENERIC_CLOCKEVENTS_COUPLED_INLINE=n
CONFIG_CRYPTO_SKCIPHER2=n
CONFIG_ARCH_HAS_PARANOID_L1D_FLUSH=n
CONFIG_TRACING_SUPPORT=n
CONFIG_TICK_ONESHOT=n
CONFIG_ARCH_MIGHT_HAVE_ACPI_PDC=n
CONFIG_HAVE_PERF_USER_STACK_DUMP=n
CONFIG_ARCH_SUPPORTS_ATOMIC_RMW=n
CONFIG_NET_VENDOR_SOCIONEXT=n
CONFIG_YENTA_TOSHIBA=n
CONFIG_PREEMPT_LAZY=n
CONFIG_POSIX_MQUEUE=n
CONFIG_HAVE_ARCH_KASAN=n
CONFIG_POSIX_CPU_TIMERS_TASK_WORK=n
CONFIG_APERTURE_HELPERS=n
CONFIG_GENERIC_CLOCKEVENTS=n
CONFIG_RELAY=n
CONFIG_I2C=n
CONFIG_I2C_BOARDINFO=n
CONFIG_CPU_FREQ=n
CONFIG_ARCH_VMLINUX_NEEDS_RELOCS=n
CONFIG_HAVE_PV_STEAL_CLOCK_GEN=n
CONFIG_IO_WQ=n
CONFIG_ACPI=n
CONFIG_HAVE_IRQ_TIME_ACCOUNTING=n
CONFIG_DEBUG_KERNEL=n
CONFIG_DEBUG_FS=n
CONFIG_MIGRATION=n
CONFIG_PARAVIRT=n
CONFIG_X86_LOCAL_APIC=n
CONFIG_UNWIND_USER=n
CONFIG_RANDSTRUCT_NONE=n
CONFIG_NETFILTER_XT_TARGET_CONNSECMARK=n
CONFIG_PROC_PAGE_MONITOR=n
CONFIG_NO_HZ_COMMON=n
CONFIG_MMU_GATHER_TABLE_FREE=n
CONFIG_GCC_PLUGINS=n
CONFIG_HID_GYRATION=n
CONFIG_ARCH_SUPPORTS_SCHED_CLUSTER=n
CONFIG_NET_VENDOR_PENSANDO=n
CONFIG_INTEL_IOMMU=n
CONFIG_PERF_EVENTS_AMD_UNCORE=n
CONFIG_CRYPTO_LIB_SHA512_ARCH=n
CONFIG_R8169=n
CONFIG_ACPI_THERMAL_LIB=n
CONFIG_NUMA_MEMBLKS=n
CONFIG_BINFMT_MISC=n
CONFIG_HIGH_RES_TIMERS=n
CONFIG_PCI=n
CONFIG_GPU_BUDDY=n
CONFIG_SERIAL_EARLYCON=n
CONFIG_COREDUMP=n
CONFIG_SCREEN_INFO=n
CONFIG_DRM_DISPLAY_HDMI_HELPER=n
CONFIG_TIME_NS=n
CONFIG_PCI_QUIRKS=n
CONFIG_CONSOLE_TRANSLATIONS=n
CONFIG_EFI_RUNTIME_MAP=n
CONFIG_HAVE_RETHOOK=n
CONFIG_RCU_STALL_COMMON=n
CONFIG_YENTA_O2=n
CONFIG_CC_HAS_ASM_GOTO_OUTPUT=n
CONFIG_ARCH_HIBERNATION_POSSIBLE=n
CONFIG_X86_MCE_THRESHOLD=n
CONFIG_X86_REQUIRED_FEATURE_PGE=n
CONFIG_HAVE_ARCH_TRACEHOOK=n
CONFIG_X86_THERMAL_VECTOR=n
CONFIG_MSDOS_FS=n
CONFIG_KVFREE_RCU_BATCHED=n
CONFIG_POWER_SUPPLY=n
CONFIG_MITIGATION_RETBLEED=n
CONFIG_GENERIC_ALLOCATOR=n
CONFIG_PID_NS=n
CONFIG_XZ_DEC_BCJ=n
CONFIG_PCI_DOMAINS=n
CONFIG_DEVTMPFS_MOUNT=n
CONFIG_SND_PROC_FS=n
CONFIG_GENERIC_CLOCKEVENTS_COUPLED=n
CONFIG_NET_VENDOR_META=n
CONFIG_PREVENT_FIRMWARE_BUILD=n
CONFIG_NET_VENDOR_ASIX=n
CONFIG_GENERIC_IRQ_MIGRATION=n
CONFIG_HAVE_HW_BREAKPOINT=n
CONFIG_DEBUG_MEMORY_INIT=n
CONFIG_ACPI_NUMA=n
CONFIG_SND_PCM=n
CONFIG_IOMMU_PT_VTDSS=n
CONFIG_WLAN_VENDOR_INTEL=n
CONFIG_CRASH_DUMP=n
CONFIG_OLD_SIGSUSPEND3=n
CONFIG_NET_VENDOR_TI=n
CONFIG_IO_URING=n
CONFIG_FUNCTION_ALIGNMENT_16B=n
CONFIG_PROC_KCORE=n
CONFIG_ACPI_DEBUG=n
CONFIG_SCHED_MC_PRIO=n
CONFIG_SERIO_SERPORT=n
CONFIG_SKB_EXTENSIONS=n
CONFIG_NET_VENDOR_SYNOPSYS=n
CONFIG_NET_VENDOR_I825XX=n
CONFIG_IP_MULTIPLE_TABLES=n
CONFIG_DRM_BRIDGE=n
CONFIG_X86_BUS_LOCK_DETECT=n
CONFIG_LDISC_AUTOLOAD=n
CONFIG_BLK_CGROUP_IOLATENCY=n
CONFIG_DRM_GEM_SHMEM_HELPER=n
CONFIG_NET_VENDOR_MELLANOX=n
CONFIG_ARCH_PROC_KCORE_TEXT=n
CONFIG_PCI_PRI=n
CONFIG_QUOTA_NETLINK_INTERFACE=n
CONFIG_HARDLOCKUP_CHECK_TIMESTAMP=n
CONFIG_XZ_DEC_ARM=n
CONFIG_HAVE_ARCH_VMAP_STACK=n
CONFIG_HAVE_REGS_AND_STACK_ACCESS_API=n
CONFIG_NETFILTER_SKIP_EGRESS=n
CONFIG_HAVE_PREEMPT_DYNAMIC_CALL=n
CONFIG_WLAN_VENDOR_REALTEK=n
CONFIG_HAVE_ACPI_APEI_NMI=n
CONFIG_NET_VENDOR_OKI=n
CONFIG_CRYPTO_AKCIPHER=n
CONFIG_PATA_AMD=n
CONFIG_HAVE_MOVE_PMD=n
CONFIG_TASKS_RCU_GENERIC=n
CONFIG_EFI_PARTITION=n
CONFIG_FAIR_GROUP_SCHED=n
CONFIG_SND_PCI=n
CONFIG_AS_IS_GNU=n
CONFIG_HAVE_PERF_EVENTS_NMI=n
CONFIG_HAS_IOMEM=n
CONFIG_X86_KERNEL_IBT=n
CONFIG_DEVPORT=n
CONFIG_ATA=n
CONFIG_STACKDEPOT=n
CONFIG_THERMAL_HWMON=n
CONFIG_CRYPTO_MANAGER2=n
CONFIG_X86_BOOTPARAM_MEMORY_CORRUPTION_CHECK=n
CONFIG_PACKET=n
CONFIG_NET_VENDOR_CADENCE=n
CONFIG_ARCH_USE_SYM_ANNOTATIONS=n
CONFIG_KERNEL_GZIP=n
CONFIG_CRYPTO_HMAC=n
CONFIG_HUGETLBFS=n
CONFIG_MITIGATION_UNRET_ENTRY=n
CONFIG_MODULES=n
CONFIG_VIRTUALIZATION=n
CONFIG_HAVE_HARDLOCKUP_DETECTOR_PERF=n
CONFIG_SWAP=n
CONFIG_SATA_PMP=n
CONFIG_RTC_CLASS=n
CONFIG_INPUT=n
CONFIG_SERIAL_8250_LPSS=n
CONFIG_NET_XGRESS=n
CONFIG_ARCH_SUPPORTS_CFI=n
CONFIG_ATA_BMDMA=n
CONFIG_AUXILIARY_BUS=n
CONFIG_HAVE_ARCH_KFENCE=n
CONFIG_CGROUP_NET_CLASSID=n
CONFIG_X86_REQUIRED_FEATURE_LM=n
CONFIG_VIRTIO_PCI=n
CONFIG_NET_VENDOR_MICROSOFT=n
CONFIG_ADVISE_SYSCALLS=n
CONFIG_SND_HDA=n
CONFIG_MOUSE_PS2_BYD=n
