CONFIG_ARCH_HAS_DEBUG_WX=n
CONFIG_NEED_PER_CPU_EMBED_FIRST_CHUNK=n
CONFIG_HID_NTRIG=n
CONFIG_ARCH_HAS_SET_DIRECT_MAP=n
CONFIG_EVENTFD=n
CONFIG_ARCH_HAS_DEBUG_VM_PGTABLE=n
CONFIG_USB_EHCI_HCD=n
CONFIG_HALTPOLL_CPUIDLE=n
CONFIG_DEFAULT_SECURITY_SELINUX=n
CONFIG_CRYPTO_ALGAPI=n
CONFIG_PCIEASPM_DEFAULT=n
CONFIG_EARLY_PRINTK_USB=n
CONFIG_HAS_IOPORT_MAP=n
CONFIG_THERMAL_NETLINK=n
CONFIG_ARCH_SUPPORTS_KEXEC_BZIMAGE_VERIFY_SIG=n
CONFIG_ARCH_HAS_CURRENT_STACK_POINTER=n
CONFIG_PATA_OLDPIIX=n
CONFIG_HAVE_CMPXCHG_LOCAL=n
CONFIG_ARCH_HIBERNATION_HEADER=n
CONFIG_MITIGATION_SRBDS=n
CONFIG_CRYPTO_LZO=n
CONFIG_YENTA_ENE_TUNE=n
CONFIG_DEVPORT=n
CONFIG_EXPORTFS=n
CONFIG_X86_INTEL_TSX_MODE_AUTO=n
CONFIG_NFS_V3_ACL=n
CONFIG_INIT_STACK_ALL_ZERO=n
CONFIG_SECURITY_SELINUX_BOOTPARAM=n
CONFIG_KERNFS=n
CONFIG_OLD_SIGSUSPEND3=n
CONFIG_KMAP_LOCAL=n
CONFIG_USB_OHCI_HCD_PCI=n
CONFIG_ALLOW_DEV_COREDUMP=n
CONFIG_CPU_SUP_VORTEX_32=n
CONFIG_STACKDEPOT=n
CONFIG_HAVE_PERF_EVENTS_NMI=n
CONFIG_CRYPTO_ECB=n
CONFIG_BRANCH_PROFILE_NONE=n
CONFIG_RFS_ACCEL=n
CONFIG_PREEMPT_DYNAMIC=n
CONFIG_FS_POSIX_ACL=n
CONFIG_DRM_PANEL_ORIENTATION_QUIRKS=n
CONFIG_NETFILTER_NETLINK_LOG=n
CONFIG_HIBERNATION=n
CONFIG_NLS_UTF8=n
CONFIG_WLAN_VENDOR_RALINK=n
CONFIG_CACHESTAT_SYSCALL=n
CONFIG_ARCH_HIBERNATION_POSSIBLE=n
CONFIG_NETFILTER_XT_MATCH_POLICY=n
CONFIG_PM_SLEEP_SMP=n
CONFIG_HAVE_UNSTABLE_SCHED_CLOCK=n
CONFIG_ARCH_HAS_FORTIFY_SOURCE=n
CONFIG_INPUT_FF_MEMLESS=n
CONFIG_PCI_DIRECT=n
CONFIG_HZ_1000=n
CONFIG_BINFMT_SCRIPT=n
CONFIG_CPU_SUP_AMD=n
CONFIG_BINFMT_ELF=n
CONFIG_SCHED_CLUSTER=n
CONFIG_X86_MCE=n
CONFIG_HAVE_ACPI_APEI_NMI=n
CONFIG_VT_CONSOLE=n
CONFIG_DRM_VIRTIO_GPU_KMS=n
CONFIG_DECOMPRESS_ZSTD=n
CONFIG_LD_CAN_USE_KEEP_IN_OVERLAY=n
CONFIG_CRYPTO_ECHAINIV=n
CONFIG_CLONE_BACKWARDS=n
CONFIG_SERIAL_8250_PERICOM=n
CONFIG_ACPI_PROCESSOR_CSTATE=n
CONFIG_CLOCKSOURCE_WATCHDOG=n
CONFIG_ARCH_MIGHT_HAVE_PC_SERIO=n
CONFIG_MD_AUTODETECT=n
CONFIG_NF_NAT_IRC=n
CONFIG_GENERIC_BUG=n
CONFIG_INPUT_LEDS=n
CONFIG_X86_NEED_RELOCS=n
CONFIG_X86_LOCAL_APIC=n
CONFIG_ACPI_PROCESSOR_IDLE=n
CONFIG_DMA_ENGINE=n
CONFIG_SERIAL_CORE=n
CONFIG_X86_CHECK_BIOS_CORRUPTION=n
CONFIG_ZSTD_COMMON=n
CONFIG_MPILIB=n
CONFIG_BQL=n
CONFIG_X86_DISABLED_FEATURE_ENQCMD=n
CONFIG_ATA_ACPI=n
CONFIG_SERIAL_8250_MID=n
CONFIG_WLAN_VENDOR_REALTEK=n
CONFIG_X86_CMOV=n
CONFIG_HAVE_KERNEL_XZ=n
CONFIG_SERIO=n
CONFIG_RELAY=n
CONFIG_X86_ACPI_CPUFREQ_CPB=n
CONFIG_CRYPTO_SEQIV=n
CONFIG_IP_PIMSM_V1=n
CONFIG_NETFILTER_XT_TARGET_SECMARK=n
CONFIG_EFIVAR_FS=n
CONFIG_ARCH_USE_BUILTIN_BSWAP=n
CONFIG_MQ_IOSCHED_KYBER=n
CONFIG_BLOCK_HOLDER_DEPRECATED=n
CONFIG_XFRM_AH=n
CONFIG_X86_PLATFORM_DEVICES=n
CONFIG_SATA_AHCI=n
CONFIG_ARCH_SUPPORTS_ACPI=n
CONFIG_GENERIC_BUG_RELATIVE_POINTERS=n
CONFIG_BLOCK=n
CONFIG_FUTEX_ROBUST_UNLOCK=n
CONFIG_NFS_USE_KERNEL_DNS=n
CONFIG_CONSOLE_TRANSLATIONS=n
CONFIG_SUNRPC_BACKCHANNEL=n
CONFIG_NET_VENDOR_META=n
CONFIG_SECURITY_NETWORK=n
CONFIG_AIO=n
CONFIG_NET_VENDOR_HISILICON=n
CONFIG_ROOT_NFS=n
CONFIG_XPS=n
CONFIG_THERMAL_DEFAULT_GOV_STEP_WISE=n
CONFIG_MOUSE_PS2_SYNAPTICS=n
CONFIG_PCIEASPM=n
CONFIG_RSEQ=n
CONFIG_NET_VENDOR_NATSEMI=n
CONFIG_SND_HWDEP=n
CONFIG_WLAN_VENDOR_ZYDAS=n
CONFIG_USB_SUPPORT=n
CONFIG_SKB_EXTENSIONS=n
CONFIG_LOCK_SPIN_ON_OWNER=n
CONFIG_SYSCTL_EXCEPTION_TRACE=n
CONFIG_ARCH_HAS_KERNEL_FPU_SUPPORT=n
CONFIG_WERROR=n
CONFIG_EFI_RUNTIME_WRAPPERS=n
CONFIG_NET_XGRESS=n
CONFIG_NET_VENDOR_DAVICOM=n
CONFIG_ATA_PIIX=n
CONFIG_EARLY_PRINTK_DBGP=n
CONFIG_PCPU_DEV_REFCNT=n
CONFIG_SECCOMP=n
CONFIG_NET_9P_VIRTIO=n
CONFIG_ARCH_HAS_ACPI_TABLE_UPGRADE=n
CONFIG_ARCH_HAS_STRICT_KERNEL_RWX=n
CONFIG_HARDIRQS_SW_RESEND=n
CONFIG_RELOCATABLE=n
CONFIG_MAGIC_SYSRQ=n
CONFIG_MIGRATION=n
CONFIG_NETFILTER_XT_MATCH_ADDRTYPE=n
CONFIG_BNX2=n
CONFIG_LOCKDEP_SUPPORT=n
CONFIG_VIRTIO_PCI_LIB=n
CONFIG_RANDOMIZE_BASE=n
CONFIG_ADVISE_SYSCALLS=n
CONFIG_SND_VMASTER=n
CONFIG_HAVE_UID16=n
CONFIG_INET=n
CONFIG_HAVE_ALIGNED_STRUCT_PAGE=n
CONFIG_PROC_MEM_FORCE_PTRACE=n
CONFIG_TASK_IO_ACCOUNTING=n
CONFIG_HAVE_DEBUG_STACKOVERFLOW=n
CONFIG_HAVE_NMI=n
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_REGS=n
CONFIG_VIRTIO_ANCHOR=n
CONFIG_MII=n
CONFIG_CC_NO_STRINGOP_OVERFLOW=n
CONFIG_FLATMEM=n
CONFIG_HAVE_KRETPROBES=n
CONFIG_NET_VENDOR_AMD=n
CONFIG_BLK_CGROUP_IOLATENCY=n
CONFIG_NETFILTER_XT_MARK=n
CONFIG_NF_REJECT_IPV4=n
CONFIG_MITIGATION_RETBLEED=n
CONFIG_I2C_HELPER_AUTO=n
CONFIG_QUOTA=n
CONFIG_KCMP=n
CONFIG_NET_CORE=n
CONFIG_ACPI_SLEEP=n
CONFIG_SCSI_VIRTIO=n
CONFIG_CROSS_MEMORY_ATTACH=n
CONFIG_SCREEN_INFO=n
CONFIG_FIRMWARE_TABLE=n
CONFIG_PHYLIB=n
CONFIG_RTC_INTF_SYSFS=n
CONFIG_CRYPTO_MANAGER=n
CONFIG_CRC32_ARCH=n
CONFIG_NET_VENDOR_ATHEROS=n
CONFIG_HSU_DMA=n
CONFIG_DECOMPRESS_LZ4=n
CONFIG_LZ4_COMPRESS=n
CONFIG_CC_HAS_AUTO_VAR_INIT_PATTERN=n
CONFIG_ATA_VERBOSE_ERROR=n
CONFIG_HIBERNATION_COMP_LZO=n
CONFIG_PM_SLEEP_DEBUG=n
CONFIG_AGP_INTEL=n
CONFIG_SERIO_I8042=n
CONFIG_NET_VENDOR_ADAPTEC=n
CONFIG_NETFS_SUPPORT=n
CONFIG_X86_HV_CALLBACK_VECTOR=n
CONFIG_MODULES_USE_ELF_REL=n
CONFIG_NET_VENDOR_ARC=n
CONFIG_NET_VENDOR_I825XX=n
CONFIG_ARCH_STACKWALK=n
CONFIG_PROC_KCORE=n
CONFIG_PATA_TIMINGS=n
CONFIG_NET_VENDOR_SAMSUNG=n
CONFIG_RWSEM_SPIN_ON_OWNER=n
CONFIG_BPF=n
CONFIG_IP6_NF_MATCH_IPV6HEADER=n
CONFIG_NET_VENDOR_STMICRO=n
CONFIG_DIMLIB=n
CONFIG_NET_IP_TUNNEL=n
CONFIG_IP_PNP_BOOTP=n
CONFIG_CC_HAS_ASM_INLINE=n
CONFIG_VIRTIO_CONSOLE=n
CONFIG_SND_PROC_FS=n
CONFIG_PNFS_BLOCK=n
CONFIG_X86_DISABLED_FEATURE_USER_SHSTK=n
CONFIG_BLK_DEV_WRITE_MOUNTED=n
CONFIG_AUDIT_GENERIC=n
CONFIG_PERF_EVENTS_INTEL_CSTATE=n
CONFIG_X86_CX8=n
CONFIG_BLK_DEV_DM_BUILTIN=n
CONFIG_BINARY_PRINTF=n
CONFIG_TOOLS_SUPPORT_RELR=n
CONFIG_X86_REQUIRED_FEATURE_CMOV=n
CONFIG_X86_USE_PPRO_CHECKSUM=n
CONFIG_CRYPTO_CTR=n
CONFIG_XFRM_ESP=n
CONFIG_HAVE_MOD_ARCH_SPECIFIC=n
CONFIG_GENERIC_SMP_IDLE_THREAD=n
CONFIG_HAVE_KERNEL_LZMA=n
CONFIG_X86_MCE_INTEL=n
CONFIG_WMI_BMOF=n
CONFIG_SYSCTL=n
CONFIG_MODIFY_LDT_SYSCALL=n
CONFIG_ACPI_EC=n
CONFIG_RATIONAL=n
CONFIG_HAVE_FUNCTION_GRAPH_TRACER=n
CONFIG_USB_PCI=n
CONFIG_EFI_CAPSULE_QUIRK_QUARK_CSH=n
CONFIG_CONTEXT_TRACKING_IDLE=n
CONFIG_DEBUG_BOOT_PARAMS=n
CONFIG_PNFS_FILE_LAYOUT=n
CONFIG_SYSTEM_DATA_VERIFICATION=n
CONFIG_HOTPLUG_CPU=n
CONFIG_ARCH_MIGHT_HAVE_ACPI_PDC=n
CONFIG_FW_CACHE=n
CONFIG_EPOLL=n
CONFIG_XFRM=n
CONFIG_CC_CAN_LINK=n
CONFIG_ARCH_SUPPORTS_SCHED_SMT=n
CONFIG_NET_EMATCH=n
CONFIG_USB_PCI_AMD=n
CONFIG_UTS_NS=n
CONFIG_ARCH_SUPPORTS_RT=n
CONFIG_USB_ARCH_HAS_HCD=n
CONFIG_RETHOOK=n
CONFIG_AUTOFS_FS=n
CONFIG_NET_VENDOR_AGERE=n
CONFIG_HAVE_PERF_EVENTS=n
CONFIG_NLS_CODEPAGE_437=n
CONFIG_FS_MBCACHE=n
CONFIG_NET_VENDOR_REALTEK=n
CONFIG_HOTPLUG_SMT=n
CONFIG_DMA_ACPI=n
CONFIG_ARCH_HAS_DEVMEM_IS_ALLOWED=n
CONFIG_ACPI_BUTTON=n
CONFIG_TASK_DELAY_ACCT=n
CONFIG_HW_RANDOM_VIA=n
CONFIG_NET_VENDOR_NETRONOME=n
CONFIG_HIBERNATION_SNAPSHOT_DEV=n
CONFIG_X86=n
CONFIG_NET_VENDOR_AQUANTIA=n
CONFIG_EDAC_SUPPORT=n
CONFIG_SND_HRTIMER=n
CONFIG_NF_CONNTRACK=n
CONFIG_X86_MSR=n
CONFIG_TTY=n
CONFIG_ARCH_HAS_CPU_ATTACK_VECTORS=n
CONFIG_NF_CONNTRACK_SIP=n
CONFIG_ARCH_SUPPORTS_KEXEC=n
CONFIG_NET_VENDOR_MICROSEMI=n
CONFIG_NET_VENDOR_ALIBABA=n
CONFIG_ATA=n
CONFIG_X86_BUS_LOCK_DETECT=n
CONFIG_CONTEXT_SWITCH_TRACER=n
CONFIG_MOUSE_PS2_FOCALTECH=n
CONFIG_SECURITY_SELINUX_AVC_STATS=n
CONFIG_R8169=n
CONFIG_X86_THERMAL_VECTOR=n
CONFIG_CC_HAS_COUNTED_BY=n
CONFIG_ARCH_SUPPORTS_KEXEC_SIG_FORCE=n
CONFIG_FAT_FS=n
CONFIG_FW_LOADER=n
CONFIG_X86_IO_APIC=n
CONFIG_RFKILL=n
CONFIG_X86_DISABLED_FEATURE_SGX=n
CONFIG_X86_PKG_TEMP_THERMAL=n
CONFIG_BLK_RQ_ALLOC_TIME=n
CONFIG_SND_INTEL_NHLT=n
CONFIG_HAVE_SOFTIRQ_ON_OWN_STACK=n
CONFIG_TIGON3_HWMON=n
CONFIG_HAVE_DYNAMIC_FTRACE_NO_PATCHABLE=n
CONFIG_CRYPTO_SIG2=n
