CONFIG_DMARD09=y
CONFIG_ADI_I3C_MASTER=y
CONFIG_FIREWIRE=y
CONFIG_RTC_CLASS=y
CONFIG_INPUT_MAX7360_ROTARY=y
CONFIG_RPMSG_NS=y
CONFIG_CHARGER_MAX77976=y
CONFIG_MEMSTICK=y
CONFIG_UTS_NS=y
CONFIG_DTPM=y
CONFIG_COMMON_CLK_MT6779_IMGSYS=y
CONFIG_GPIO_TPS65912=y
CONFIG_GXP_WATCHDOG=y
CONFIG_ARCH_HAS_UBSAN=y
CONFIG_TCM_PSCSI=y
CONFIG_COMMON_CLK_CDCE925=y
CONFIG_SCD30_I2C=y
CONFIG_REGULATOR_MAX77675=y
CONFIG_SM_CAMCC_4450=y
CONFIG_SENSORS_LM25066=y
CONFIG_LEDS_TRIGGERS=y
CONFIG_LEDS_IP30=y
CONFIG_ARCH_WANT_FRAME_POINTERS=y
CONFIG_SERIAL_SPRD=y
CONFIG_MESON_IRQ_GPIO=y
CONFIG_REGULATOR_STPMIC1=y
CONFIG_SENSORS_MR75203=y
CONFIG_TOUCHSCREEN_MIGOR=y
CONFIG_TTY=y
CONFIG_LEDS_LM3530=y
CONFIG_SCSI_COMMON=y
CONFIG_CRYPTO_WP512=y
CONFIG_REGULATOR_PFUZE100=y
CONFIG_GPIO_MAX730X=y
CONFIG_ISCSI_BOOT_SYSFS=y
CONFIG_NXP_SAR_ADC=y
CONFIG_CM36651=y
CONFIG_NVMEM_LAYOUT_U_BOOT_ENV=y
CONFIG_UNIPHIER_MDMAC=y
CONFIG_PHY_OCELOT_SERDES=y
CONFIG_ENCLOSURE_SERVICES=y
CONFIG_POLARFIRE_SOC_SYS_CTRL=y
CONFIG_MTK_TIMER=y
CONFIG_RENESAS_I3C=y
CONFIG_PHY_MTK_MIPI_CSI_0_5=y
CONFIG_OLPC_XO175=y
CONFIG_BACKLIGHT_AW99706=y
CONFIG_W1=y
CONFIG_HAVE_KERNEL_UNCOMPRESSED=y
CONFIG_RENESAS_RZT2H_ICU=y
CONFIG_HAVE_BUILDTIME_MCOUNT_SORT=y
CONFIG_CLK_RV110X=y
CONFIG_TEGRA_HOST1X_CONTEXT_BUS=y
CONFIG_PPS_DEBUG=y
CONFIG_SERIAL_EARLYCON_SEMIHOST=y
CONFIG_LEDS_LM3697=y
CONFIG_SERIO_APBPS2=y
CONFIG_AS_IS_GNU=y
CONFIG_RTC_DRV_PALMAS=y
CONFIG_RCAR_MFIS=y
CONFIG_SENSORS_ASB100=y
CONFIG_ARCH_HAVE_NMI_SAFE_CMPXCHG=y
CONFIG_MFD_HI6421_SPMI=y
CONFIG_RTC_DRV_M48T59=y
CONFIG_KEYBOARD_TWL4030=y
CONFIG_FB=y
CONFIG_TOUCHSCREEN_ADC=y
CONFIG_GPIO_XLP=y
CONFIG_PINCTRL_SM8650_LPASS_LPI=y
CONFIG_SENSORS_SHTC1=y
CONFIG_SGL_ALLOC=y
CONFIG_CHARGER_LP8727=y
CONFIG_REGULATOR_MAX20411=y
CONFIG_K3_DMA=y
CONFIG_BCMA_POSSIBLE=y
CONFIG_PINCTRL_SOPHGO_COMMON=y
CONFIG_PINCTRL_BCM63XX=y
CONFIG_REGULATOR_MT6357=y
CONFIG_NLS_CODEPAGE_865=y
CONFIG_MTD_ONENAND_SAMSUNG=y
CONFIG_QCOM_HIDMA_MGMT=y
CONFIG_HW_RANDOM_IMX_RNGC=y
CONFIG_KEYBOARD_BCM=y
CONFIG_FB_OMAP2_DSS_DEBUG=y
CONFIG_STM32_ADC_CORE=y
CONFIG_TCG_INFINEON=y
CONFIG_SERIAL_SCCNXP=y
CONFIG_MAILBOX=y
CONFIG_CLK_RK3568=y
CONFIG_X509_CERTIFICATE_PARSER=y
CONFIG_MFD_WM8400=y
CONFIG_I2C_CBUS_GPIO=y
CONFIG_TURRIS_OMNIA_MCU_GPIO=y
CONFIG_TEGRA186_TIMER=y
CONFIG_QCOM_GDSC=y
CONFIG_RISCV_ISA_FALLBACK=y
CONFIG_DM_MIRROR=y
CONFIG_SENSORS_MP2985=y
CONFIG_SERIO_SUN4I_PS2=y
CONFIG_COMMON_CLK_EN7523=y
CONFIG_DEBUG_KERNEL=y
CONFIG_IO_URING=y
CONFIG_BOOT_CONFIG_EMBED=y
CONFIG_GPIOLIB_LEGACY=y
CONFIG_INPUT_MATRIXKMAP=y
CONFIG_FB_OMAP2_DSS=y
CONFIG_SENSORS_LM93=y
CONFIG_MTD_NAND_ECC_SW_HAMMING=y
CONFIG_LEDS_TRIGGER_ACTIVITY=y
CONFIG_EXPORTFS_BLOCK_OPS=y
CONFIG_GENERIC_IDLE_POLL_SETUP=y
CONFIG_REGULATOR_TPS68470=y
CONFIG_SCSI_SPI_ATTRS=y
CONFIG_STM32_LPTIMER_CNT=y
CONFIG_HAVE_CONTEXT_TRACKING_USER=y
CONFIG_INPUT_TWL4030_VIBRA=y
CONFIG_XZ_DEC_ARM64=y
CONFIG_MTD_OOPS=y
CONFIG_SLAB_FREELIST_HARDENED=y
CONFIG_SYSC_RCAR_GEN4=y
CONFIG_CEC_STI=y
CONFIG_CHARGER_TPS65090=y
CONFIG_SENSORS_MAX6650=y
CONFIG_REGULATOR_MAX8660=y
CONFIG_KEYBOARD_ADP5520=y
CONFIG_BITREVERSE=y
CONFIG_FS_ENCRYPTION=y
CONFIG_BACKLIGHT_LM3533=y
CONFIG_DEBUG_IRQFLAGS=y
CONFIG_BLK_ERROR_INJECTION=y
CONFIG_EXTCON=y
CONFIG_PINCTRL_SM6125=y
CONFIG_MMA8452=y
CONFIG_RCU_SCALE_TEST=y
CONFIG_MAX517=y
CONFIG_STACKTRACE_BUILD_ID=y
CONFIG_RTC_DRV_R7301=y
CONFIG_DMABUF_HEAPS_SYSTEM=y
CONFIG_PECI_NPCM=y
CONFIG_RPMSG_VIRTIO=y
CONFIG_SENSORS_LM73=y
CONFIG_BCM63XX_POWER=y
CONFIG_SUN9I_A80_CCU=y
CONFIG_LEDS_NS2=y
CONFIG_REGULATOR_MCP16502=y
CONFIG_CLK_STARFIVE_JH7110_SYS=y
CONFIG_RESET_LPC18XX=y
CONFIG_SENSORS_LX1308=y
CONFIG_SM_VIDEOCC_8550=y
CONFIG_SH_TIMER_MTU2=y
CONFIG_SENSORS_ISL68137=y
CONFIG_SM_CAMCC_MILOS=y
CONFIG_CC_HAS_INT128=y
CONFIG_FB_PXA168=y
CONFIG_PHY_MIPHY28LP=y
CONFIG_FB_OMAP2_DSS_SLEEP_AFTER_VENC_RESET=y
CONFIG_CPU_IDLE_GOV_MENU=y
CONFIG_GPIO_EIC_SPRD=y
CONFIG_HAS_IOPORT_MAP=y
CONFIG_LEDS_TRIGGER_TTY=y
CONFIG_MMP_DISP_CONTROLLER=y
CONFIG_IIO_TRIGGERED_EVENT=y
CONFIG_INPUT_BBNSM_PWRKEY=y
CONFIG_PINCTRL_MTK_V2=y
CONFIG_RTC_DRV_JZ4740=y
CONFIG_OPTEE_STATIC_PROTMEM_POOL=y
CONFIG_MTD_CFI_AMDSTD=y
CONFIG_KEYBOARD_ADP5588=y
CONFIG_AT91RM9200_WATCHDOG=y
CONFIG_DM_SNAPSHOT=y
CONFIG_I2C_K1=y
CONFIG_TORTURE_TEST=y
CONFIG_MFD_TPS65910=y
CONFIG_PHY_MTK_TPHY=y
CONFIG_FUTEX_PI=y
CONFIG_FS_POSIX_ACL=y
CONFIG_NVMEM_MXS_OCOTP=y
CONFIG_VL6180=y
CONFIG_MTD_CFI=y
CONFIG_INPUT_GPIO_VIBRA=y
CONFIG_SM_GPUCC_8450=y
CONFIG_GAMEPORT=y
CONFIG_SERIAL_OMAP_CONSOLE=y
CONFIG_SC_GCC_7280=y
CONFIG_PINCTRL_MSM8998=y
CONFIG_CRYPTO_SHA256=y
CONFIG_IPMI_SI=y
CONFIG_FB_DMAMEM_HELPERS=y
CONFIG_MULTIPLEXER=y
CONFIG_PIC32_DMT=y
CONFIG_GENERIC_CLOCKEVENTS=y
CONFIG_PROC_CHILDREN=y
CONFIG_IIO_KFIFO_BUF=y
CONFIG_PINCTRL_PFC_SHX3=y
CONFIG_FB_CLPS711X=y
CONFIG_PINCTRL_SUNRISEPOINT=y
CONFIG_SI1145=y
CONFIG_IIO_ST_PRESS_I2C=y
CONFIG_SPS30=y
CONFIG_BMI323=y
CONFIG_AS_HAS_NON_CONST_ULEB128=y
CONFIG_SENSORS_OCC=y
CONFIG_FLATMEM=y
CONFIG_HAVE_REGS_AND_STACK_ACCESS_API=y
CONFIG_SYSV68_PARTITION=y
CONFIG_PINCTRL_MSM8916=y
CONFIG_PREEMPT_BUILD=y
CONFIG_CRYPTO_SM4_GENERIC=y
CONFIG_PINCTRL_PFC_R8A779A0=y
CONFIG_PHY_FSL_LYNX_CORE=y
CONFIG_RESET_CONTROLLER=y
CONFIG_MOUSE_PS2=y
CONFIG_ASPEED_WATCHDOG=y
CONFIG_COMMON_CLK_EP93XX=y
CONFIG_REGULATOR_LP873X=y
CONFIG_CHARGER_MAX8971=y
CONFIG_CRYPTO_SIG=y
CONFIG_GPIO_SHARED_PROXY=y
CONFIG_MXC_CLK=y
CONFIG_AIROHA_WATCHDOG=y
CONFIG_SENSORS_W83773G=y
CONFIG_RESET_UNIPHIER_GLUE=y
CONFIG_OMAP_CONTROL_PHY=y
CONFIG_ABP2030PA_I2C=y
CONFIG_PINCTRL_MA35D1=y
CONFIG_RUSTC_SUPPORTS_RISCV=y
CONFIG_MTD_UCLINUX=y
CONFIG_RTC_DRV_DS1511=y
CONFIG_DMA_FENCE_TRACE=y
CONFIG_PINCTRL_MSM8X74=y
CONFIG_MTD_CFI_I2=y
CONFIG_DEBUG_INFO_REDUCED=y
CONFIG_NLS_CODEPAGE_932=y
CONFIG_SENSORS_G760A=y
CONFIG_CLK_R8A774B1=y
CONFIG_SCSI_DH_EMC=y
CONFIG_RENESAS_RZA1_IRQC=y
CONFIG_PANEL=y
CONFIG_LEDS_BD2606MVV=y
CONFIG_CM32181=y
CONFIG_SCHED_INFO=y
CONFIG_SENSORS_XDPE152=y
CONFIG_REGULATOR_FAN53880=y
CONFIG_RTC_DRV_PIC32=y
CONFIG_PECI_CPU=y
CONFIG_SERIAL_EARLYCON=y
CONFIG_REGULATOR_RT6160=y
CONFIG_TOUCHSCREEN_NOVATEK_NVT_TS=y
CONFIG_AOSONG_AGS02MA=y
CONFIG_VIDEOMODE_HELPERS=y
CONFIG_PINCTRL_MT6795=y
CONFIG_I2C_PNX=y
CONFIG_RESET_SUNPLUS=y
CONFIG_CLK_GFM_LPASS_SM8250=y
CONFIG_TEE_BNXT_FW=y
CONFIG_PINCTRL_LPASS_LPI=y
CONFIG_GPIO_BRCMSTB=y
CONFIG_PHY_EYEQ5_ETH=y
CONFIG_SENSORS_HMC5843=y
CONFIG_APDS9999=y
CONFIG_PINCTRL_BROXTON=y
CONFIG_GPIO_GW_PLD=y
CONFIG_SUN50I_H6_CCU=y
CONFIG_QCOM_APCS_IPC=y
CONFIG_INPUT_DA9055_ONKEY=y
CONFIG_SENSORS_TC654=y
CONFIG_PINCTRL_SOPHGO_SG2044=y
CONFIG_RD_GZIP=y
CONFIG_OVERLAY_FS_XINO_AUTO=y
CONFIG_SYS_R9A09G056=y
CONFIG_SERIAL_SPRD_CONSOLE=y
CONFIG_TWL4030_MADC=y
CONFIG_ADP810=y
CONFIG_IPQ_GCC_806X=y
CONFIG_KEYS=y
CONFIG_LIDAR_LITE_V2=y
CONFIG_REGMAP_MMIO=y
CONFIG_RC_MAP=y
CONFIG_SDM_GCC_845=y
CONFIG_MANAGER_SBS=y
CONFIG_BLK_INLINE_ENCRYPTION_FALLBACK=y
CONFIG_OF_ADDRESS=y
CONFIG_COMMON_CLK_CDCE706=y
CONFIG_ARCH_HAS_DEBUG_WX=y
CONFIG_REGMAP=y
CONFIG_SX_COMMON=y
CONFIG_HSC030PA_I2C=y
CONFIG_88PM886_GPADC=y
CONFIG_QFMT_V2=y
CONFIG_AD5686=y
CONFIG_HAVE_CLK_PREPARE=y
CONFIG_DEBUG_SPINLOCK=y
CONFIG_PHY_SUNPLUS_USB=y
CONFIG_COMMON_CLK_MT6797_IMGSYS=y
CONFIG_ADC_BATTERY_HELPER=y
CONFIG_LEDS_TRIGGER_BACKLIGHT=y
CONFIG_COMMON_CLK_RS9_PCIE=y
CONFIG_NLS_CODEPAGE_864=y
CONFIG_RTC_DRV_PCF8563=y
CONFIG_GPIOLIB_IRQCHIP=y
CONFIG_DW_DMAC=y
CONFIG_AD5064=y
CONFIG_BLK_DEV_DM=y
CONFIG_SECONDARY_TRUSTED_KEYRING_SIGNED_BY_BUILTIN=y
CONFIG_CLK_R8A7791=y
CONFIG_BLK_DEV_WRITE_MOUNTED=y
CONFIG_DEBUG_CLOSURES=y
CONFIG_SENSORS_TPS53679=y
CONFIG_CRYPTO_ALGAPI2=y
CONFIG_MFD_TWL4030_AUDIO=y
CONFIG_HVC_DRIVER=y
CONFIG_COMMON_CLK_MT8196_VDECSYS=y
CONFIG_LOCKDEP=y
CONFIG_MSC313E_WATCHDOG=y
CONFIG_NLS_UTF8=y
CONFIG_IIO_CONFIGFS=y
CONFIG_RESET_STARFIVE_JH7110=y
CONFIG_SDM_GCC_660=y
CONFIG_DEBUG_PAGEALLOC_ENABLE_DEFAULT=y
CONFIG_BACKLIGHT_BD6107=y
CONFIG_CRYPTO_KPP=y
CONFIG_REGULATOR_VIRTUAL_CONSUMER=y
CONFIG_HAVE_CLK=y
CONFIG_TURRIS_MOX_RWTM_KEYCTL=y
CONFIG_CLK_BCM2835=y
CONFIG_MFD_MP2629=y
CONFIG_FB_OMAP2_DEBUG_SUPPORT=y
CONFIG_PHY_ROCKCHIP_SAMSUNG_DCPHY=y
CONFIG_GPIO_LPC32XX=y
CONFIG_HAVE_KERNEL_LZ4=y
CONFIG_IPQ_GCC_5424=y
CONFIG_PINCTRL_PXA=y
CONFIG_I2C_SPRD=y
CONFIG_XILINX_WINDOW_WATCHDOG=y
CONFIG_ARCH_SUPPORTS_CRASH_DUMP=y
CONFIG_I2C_ALGOBIT=y
CONFIG_MFD_SM501_GPIO=y
CONFIG_PINCTRL_CYGNUS_MUX=y
CONFIG_PMS7003=y
CONFIG_NAU7802=y
CONFIG_PINCTRL_PFC_R8A73A4=y
CONFIG_SENSORS_ADT7410=y
CONFIG_COMMON_CLK_IPROC=y
CONFIG_CRYPTO_AKCIPHER2=y
CONFIG_CEC_STM32=y
CONFIG_QUOTACTL=y
CONFIG_SERIAL_ATMEL=y
CONFIG_BMG160_I2C=y
CONFIG_LIST_HARDENED=y
CONFIG_PAGE_MAPCOUNT=y
CONFIG_MOST=y
CONFIG_MFD_AS3711=y
CONFIG_GENERIC_PCI_IOMAP=y
CONFIG_PARPORT_1284=y
CONFIG_CDNS_I3C_MASTER=y
CONFIG_CRC_ITU_T=y
CONFIG_CRYPTO_HCTR2=y
CONFIG_RD_LZO=y
CONFIG_PINCTRL_PFC_SH7724=y
CONFIG_CLK_RK3288=y
CONFIG_SAR_GPUCC_2130P=y
CONFIG_AFE4404=y
CONFIG_HW_RANDOM_POLARFIRE_SOC=y
CONFIG_PINCTRL_IMXRT1050=y
CONFIG_CLKSRC_TI_32K=y
CONFIG_HIGH_RES_TIMERS=y
CONFIG_SENSORS_RM3100=y
CONFIG_DEBUG_PAGEALLOC=y
CONFIG_SM_GPUCC_8250=y
CONFIG_QCOM_CLK_SMD_RPM=y
CONFIG_CLK_R9A09G056=y
CONFIG_DIGICOLOR_WATCHDOG=y
CONFIG_AM2315=y
CONFIG_THREAD_INFO_IN_TASK=y
CONFIG_MS5637=y
CONFIG_REGULATOR_RZG2L_VBCTRL=y
CONFIG_MILBEAUT_HDMAC=y
CONFIG_RESET_ZYNQ=y
CONFIG_IOMMU_IOVA=y
CONFIG_PINCTRL_MICROCHIP_SGPIO=y
CONFIG_CLK_KAANAPALI_VIDEOCC=y
CONFIG_SYSC_R8A77970=y
CONFIG_SENSORS_NSA320=y
CONFIG_PHY_EXYNOS_PCIE=y
CONFIG_KEYBOARD_ATKBD=y
CONFIG_DTPM_DEVFREQ=y
CONFIG_ERRATA_MIPS=y
CONFIG_GCC_NO_STRINGOP_OVERFLOW=y
CONFIG_MD_RAID0=y
CONFIG_MLX_WDT=y
CONFIG_CLK_R8A77990=y
CONFIG_NLS_KOI8_U=y
CONFIG_REGULATOR_QCOM_SPMI=y
CONFIG_ITG3200=y
CONFIG_SPMI_APPLE=y
CONFIG_AD7405=y
CONFIG_LZ4HC_COMPRESS=y
CONFIG_MCP3422=y
CONFIG_PINCTRL_MT2701=y
CONFIG_SENSORS_SHT21=y
CONFIG_SENSORS_MP5926=y
CONFIG_SENSORS_W83795=y
CONFIG_SYSCTL_EXCEPTION_TRACE=y
CONFIG_REGULATOR_TPS65023=y
CONFIG_GENERIC_BITREVERSE=y
CONFIG_LEDS_BCM6328=y
CONFIG_ASYMMETRIC_PUBLIC_KEY_SUBTYPE=y
CONFIG_SENSORS_MCP3021=y
CONFIG_SC_GCC_8180X=y
CONFIG_HAVE_PREEMPT_DYNAMIC=y
CONFIG_TIMERFD=y
CONFIG_LEDS_LP8860=y
CONFIG_GPIB_COMMON=y
CONFIG_PHY_CADENCE_DPHY=y
CONFIG_NLS_CODEPAGE_860=y
CONFIG_REGULATOR_RK808=y
CONFIG_PHY_LPC18XX_USB_OTG=y
CONFIG_PHY_BCM_SR_PCIE=y
CONFIG_ADXL380_I2C=y
CONFIG_REGULATOR_PF9453=y
CONFIG_HDC2010=y
CONFIG_SDM_GPUCC_660=y
CONFIG_PHY_UNIPHIER_AHCI=y
CONFIG_MCP47FEB02=y
CONFIG_GENERIC_BUILTIN_DTB=y
CONFIG_CEC_TEGRA=y
CONFIG_BATTERY_CW2015=y
CONFIG_SECURITY_DMESG_RESTRICT=y
CONFIG_DM_MULTIPATH=y
CONFIG_MOUSE_PS2_ALPS=y
CONFIG_SERIAL_QCOM_GENI=y
CONFIG_COMMON_CLK_LOONGSON2=y
CONFIG_CLK_KAANAPALI_DISPCC=y
CONFIG_I2C_CROS_EC_TUNNEL=y
CONFIG_RISCV_M_MODE=y
CONFIG_INTEL_TH=y
CONFIG_SM_GCC_8350=y
CONFIG_HAVE_RETHOOK=y
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO_BARE=y
CONFIG_VL53L0X_I2C=y
CONFIG_HOTPLUG_CORE_SYNC_FULL=y
CONFIG_SDM_MMCC_660=y
CONFIG_TCG_TIS_I2C_ATMEL=y
CONFIG_SENSORS_LTC4260=y
CONFIG_GENERIC_PHY=y
CONFIG_QCOM_ICC_BWMON=y
CONFIG_DW_APB_TIMER=y
CONFIG_HAVE_ARCH_KGDB_QXFER_PKT=y
CONFIG_TENSTORRENT_ATLANTIS_PRCM=y
CONFIG_GPIO_FXL6408=y
CONFIG_HW_RANDOM_XILINX=y
CONFIG_RTC_DRV_SD3078=y
CONFIG_SUN8I_R_CCU=y
CONFIG_ADXL355_I2C=y
CONFIG_REGULATOR_RT4801=y
CONFIG_CLK_ELIZA_TCSRCC=y
CONFIG_RESET_UNIPHIER=y
CONFIG_KXCJK1013=y
CONFIG_BLK_PM=y
CONFIG_MADERA_IRQ=y
CONFIG_RTD119X_WATCHDOG=y
CONFIG_ATA_FORCE=y
CONFIG_EP93XX_WATCHDOG=y
CONFIG_CC_HAS_ASM_GOTO_TIED_OUTPUT=y
CONFIG_CHARGER_MAX14577=y
CONFIG_COMMON_CLK_MAX77686=y
CONFIG_QCOM_SMD_RPM=y
CONFIG_PHY_SUN50I_USB3=y
CONFIG_SERIAL_CORE=y
CONFIG_COMMON_CLK_MT6779_MFGCFG=y
CONFIG_GPIO_SPEAR_SPICS=y
CONFIG_CPUFREQ_DT=y
CONFIG_PHY_LANTIQ_RCU_USB2=y
CONFIG_FB_OMAP2_DSS_INIT=y
CONFIG_MAX77620_WATCHDOG=y
CONFIG_RMI4_F03=y
CONFIG_INGENIC_CGU_JZ4755=y
CONFIG_RISCV=y
CONFIG_PINMUX=y
CONFIG_HSI_BOARDINFO=y
CONFIG_HAVE_FUNCTION_ERROR_INJECTION=y
CONFIG_HW_RANDOM_HISTB=y
CONFIG_RUSTC_HAS_SPAN_FILE=y
CONFIG_CLK_X1E80100_GCC=y
CONFIG_ROHM_BU27034=y
CONFIG_TOUCHSCREEN_MELFAS_MIP4=y
CONFIG_MTK_SOCINFO=y
CONFIG_GPIO_FTGPIO010=y
CONFIG_LEDS_BRIGHTNESS_HW_CHANGED=y
CONFIG_BCM_VIDEOCORE=y
CONFIG_I2C_DESIGNWARE_PLATFORM=y
CONFIG_LDISC_AUTOLOAD=y
CONFIG_RMI4_F3A=y
CONFIG_GPIO_SYSCON=y
CONFIG_CLK_SIFIVE_PRCI=y
CONFIG_HMC6352=y
CONFIG_SUN8I_A23_CCU=y
CONFIG_HAVE_KRETPROBES=y
CONFIG_I2C_IMX=y
CONFIG_CRYPTO_LIB_MLDSA=y
