CONFIG_RISCV_NONSTANDARD_CACHE_OPS=n
CONFIG_VIRTIO_MENU=n
CONFIG_CRYPTO_LIB_AES_CBC_MACS=n
CONFIG_NETFILTER_BPF_LINK=n
CONFIG_POWER_RESET_SYSCON_POWEROFF=n
CONFIG_SUN50I_IOMMU=n
CONFIG_BLOCK_LEGACY_AUTOLOAD=n
CONFIG_IPVLAN_L3S=n
CONFIG_FS_STACK=n
CONFIG_LTO_NONE=n
CONFIG_TOOLCHAIN_HAS_ZBB=n
CONFIG_NOP_TRACER=n
CONFIG_DST_CACHE=n
CONFIG_ATA_VERBOSE_ERROR=n
CONFIG_CRYPTO_HASH_INFO=n
CONFIG_USB_CDNS3_STARFIVE=n
CONFIG_CRYPTO_CBC=n
CONFIG_ARCH_HAS_MMIOWB=n
CONFIG_HOTPLUG_SPLIT_STARTUP=n
CONFIG_DMA_DIRECT_REMAP=n
CONFIG_HAVE_ARCH_KASAN_VMALLOC=n
CONFIG_FIX_EARLYCON_MEM=n
CONFIG_PAGE_REPORTING=n
CONFIG_CFS_BANDWIDTH=n
CONFIG_FRAME_POINTER=n
CONFIG_RTC_NVMEM=n
CONFIG_CRYPTO_LIB_UTILS=n
CONFIG_RD_ZSTD=n
CONFIG_DEBUG_FS=n
CONFIG_UNION_FIND=n
CONFIG_DRM_SUN8I_MIXER=n
CONFIG_SUSPEND_FREEZER=n
CONFIG_CPU_FREQ_DEFAULT_GOV_PERFORMANCE=n
CONFIG_CC_HAS_ASSUME=n
CONFIG_ARCH_WANT_OPTIMIZE_HUGETLB_VMEMMAP=n
CONFIG_XZ_DEC_POWERPC=n
CONFIG_VGA_ARB=n
CONFIG_CRYPTO_CTS=n
CONFIG_NFS_V3=n
CONFIG_PCI_MSI=n
CONFIG_CC_HAS_ASM_GOTO_OUTPUT=n
CONFIG_XFRM_USER=n
CONFIG_ARCH_SUPPORTS_UPROBES=n
CONFIG_IKCONFIG_PROC=n
CONFIG_NET_HANDSHAKE=n
CONFIG_NET_VENDOR_ALACRITECH=n
CONFIG_PATA_TIMINGS=n
CONFIG_V4L2_FWNODE=n
CONFIG_PROC_FS=n
CONFIG_NET_CLS_CGROUP=n
CONFIG_NET_VENDOR_CHELSIO=n
CONFIG_GPIO_GENERIC=n
CONFIG_NET_VENDOR_ATHEROS=n
CONFIG_HVC_DRIVER=n
CONFIG_INET=n
CONFIG_SECURITY_SELINUX=n
CONFIG_NET_SCHED=n
CONFIG_DRM_SUN4I=n
CONFIG_ND_CLAIM=n
CONFIG_ARCH_SUPPORTS_HUGETLBFS=n
CONFIG_MEDIA_SUBDRV_AUTOSELECT=n
CONFIG_DRM_DISPLAY_HDMI_HELPER=n
CONFIG_IP_MULTICAST=n
CONFIG_ZLIB_DEFLATE=n
CONFIG_TRACE_IRQFLAGS_SUPPORT=n
CONFIG_CRYPTO_AKCIPHER=n
CONFIG_SERIAL_8250_16550A_VARIANTS=n
CONFIG_MMC_SDHCI_CADENCE=n
CONFIG_HAVE_GENERIC_TIF_BITS=n
CONFIG_CPU_FREQ=n
CONFIG_OF_KOBJ=n
CONFIG_ARCH_HAS_HW_PTE_YOUNG=n
CONFIG_VM_EVENT_COUNTERS=n
CONFIG_RISCV_ISA_ZICBOZ=n
CONFIG_RTC_CLASS=n
CONFIG_9P_FS=n
CONFIG_REGMAP=n
CONFIG_AS_IS_GNU=n
CONFIG_DM_BUFIO=n
CONFIG_NET_EGRESS=n
CONFIG_LEGACY_DIRECT_IO=n
CONFIG_IP_PNP_DHCP=n
CONFIG_ARCH_SPARSEMEM_ENABLE=n
CONFIG_NETDEVICES=n
CONFIG_HAVE_LD_DEAD_CODE_DATA_ELIMINATION=n
CONFIG_BALLOON_MIGRATION=n
CONFIG_RESET_SPACEMIT_K1=n
CONFIG_RISCV_ALTERNATIVE=n
CONFIG_USB_UAS=n
CONFIG_DWMAC_SOPHGO=n
CONFIG_CLK_STARFIVE_JH7110_STG=n
CONFIG_GENERIC_PINCTRL=n
CONFIG_NET_VENDOR_VIA=n
CONFIG_ARCH_SUPPORTS_ATOMIC_RMW=n
CONFIG_FB_SYSMEM_FOPS=n
CONFIG_ARCH_WANT_HUGE_PMD_SHARE=n
CONFIG_MFD_SPACEMIT_P1=n
CONFIG_IRQ_WORK=n
CONFIG_ARCH_ESWIN=n
CONFIG_MTD_MAP_BANK_WIDTH_1=n
CONFIG_GOLDFISH=n
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE=n
CONFIG_CRYPTO_SKCIPHER=n
CONFIG_DRM_DW_HDMI=n
CONFIG_IP_PNP_BOOTP=n
CONFIG_PRINTK_TIME=n
CONFIG_NET_9P_FD=n
CONFIG_RISCV_APLIC_MSI=n
CONFIG_IOMMU_PT=n
CONFIG_HAVE_ARCH_JUMP_LABEL_RELATIVE=n
CONFIG_DRM_SUN6I_DSI=n
CONFIG_NET_VENDOR_MARVELL=n
CONFIG_RISCV_ISA_VENDOR_EXT_ANDES=n
CONFIG_CRYPTO_AUTHENC=n
CONFIG_FW_CACHE=n
CONFIG_INPUT_EVDEV=n
CONFIG_OF_GPIO=n
CONFIG_CC_HAS_ZERO_CALL_USED_REGS=n
CONFIG_RESET_SPACEMIT_COMMON=n
CONFIG_DRM_PANEL_BRIDGE=n
CONFIG_PHYLINK=n
CONFIG_RISCV_PROBE_UNALIGNED_ACCESS=n
CONFIG_GCC_NO_STRINGOP_OVERFLOW=n
CONFIG_USB_F_ACM=n
CONFIG_SECURITY_APPARMOR_EXPORT_BINARY=n
CONFIG_ACPI_BUTTON=n
CONFIG_ERRATA_THEAD_PMU=n
CONFIG_IRQ_DOMAIN=n
CONFIG_MOUSE_PS2=n
CONFIG_ACPI_MCFG=n
CONFIG_ACPI_CPPC_CPUFREQ_FIE=n
CONFIG_DECOMPRESS_BZIP2=n
CONFIG_RCU_NEED_SEGCBLIST=n
CONFIG_SYSVIPC_SYSCTL=n
CONFIG_PM_GENERIC_DOMAINS=n
CONFIG_MOUSE_PS2_ALPS=n
CONFIG_NET_FLOW_LIMIT=n
CONFIG_CLK_STARFIVE_JH7100_AUDIO=n
CONFIG_WLAN_VENDOR_ATH=n
CONFIG_ERRATA_SIFIVE_CIP_1200=n
CONFIG_ACPI_MDIO=n
CONFIG_ARCH_HAS_FAST_MULTIPLIER=n
CONFIG_CRYPTO_SIG=n
CONFIG_HAVE_ARCH_TRACEHOOK=n
CONFIG_HAVE_GIGANTIC_FOLIOS=n
CONFIG_PINCONF=n
CONFIG_HAVE_IOREMAP_PROT=n
CONFIG_RESET_TENSTORRENT_ATLANTIS=n
CONFIG_ZLIB_INFLATE=n
CONFIG_SSB_POSSIBLE=n
CONFIG_HAVE_FUNCTION_GRAPH_TRACER=n
CONFIG_RTC_INTF_DEV=n
CONFIG_USB_HID=n
CONFIG_HAVE_KVM_READONLY_MEM=n
CONFIG_DT_IDLE_STATES=n
CONFIG_NET_IP_TUNNEL=n
CONFIG_PINCTRL_SOPHGO_CV1812H=n
CONFIG_I2C_BOARDINFO=n
CONFIG_USB_CONFIGFS_ACM=n
CONFIG_HAVE_KVM_IRQCHIP=n
CONFIG_GENERIC_BITREVERSE=n
CONFIG_LOCK_MM_AND_FIND_VMA=n
CONFIG_WATCHDOG=n
CONFIG_BLK_DEV_SR=n
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO_BARE=n
CONFIG_CC_HAVE_STACKPROTECTOR_TLS=n
CONFIG_USB_F_NCM=n
CONFIG_PINCTRL_SUNXI=n
CONFIG_VDSO_GETRANDOM=n
CONFIG_GCC10_NO_ARRAY_BOUNDS=n
CONFIG_CPUFREQ_DT_PLATDEV=n
CONFIG_I3C_OR_I2C=n
CONFIG_ARCH_WANT_DEFAULT_TOPDOWN_MMAP_LAYOUT=n
CONFIG_PTP_1588_CLOCK_OPTIONAL=n
CONFIG_SOCK_RX_QUEUE_MAPPING=n
CONFIG_FB_SYS_IMAGEBLIT=n
CONFIG_CRYPTO_AEAD=n
CONFIG_BLK_DEV_SD=n
CONFIG_GENERIC_IRQ_ENTRY=n
CONFIG_PAGE_SIZE_LESS_THAN_256KB=n
CONFIG_EFIVAR_FS=n
CONFIG_FB_CORE=n
CONFIG_THERMAL_HWMON=n
CONFIG_ZISOFS=n
CONFIG_BFQ_GROUP_IOSCHED=n
CONFIG_DQL=n
CONFIG_DRM=n
CONFIG_IRQCHIP=n
CONFIG_NVMEM=n
CONFIG_LZO_DECOMPRESS=n
CONFIG_NET_VENDOR_DEC=n
CONFIG_PCI_HOST_COMMON=n
CONFIG_RISCV_ISA_C=n
CONFIG_IP_VS_PROTO_TCP=n
CONFIG_PCC=n
CONFIG_WLAN_VENDOR_REALTEK=n
CONFIG_NFS_V4_0=n
CONFIG_HUGETLB_PAGE=n
CONFIG_IPV6_SIT=n
CONFIG_NET_VENDOR_QUALCOMM=n
CONFIG_NEED_DMA_MAP_STATE=n
CONFIG_KEYBOARD_GPIO=n
CONFIG_CRYPTO_LIB_SHA1=n
CONFIG_RESET_K230=n
CONFIG_ACPI=n
CONFIG_CRC_OPTIMIZATIONS=n
CONFIG_ARCH_SUPPORTS_PER_VMA_LOCK=n
CONFIG_STACKDEPOT=n
CONFIG_NET_VENDOR_SPACEMIT=n
CONFIG_CGROUPS=n
CONFIG_GPIO_SIFIVE=n
CONFIG_NEED_TASKS_RCU=n
CONFIG_FUTEX_PRIVATE_HASH=n
CONFIG_COMPAT=n
CONFIG_CRYPTO_RSA=n
CONFIG_MMC_SDHCI_PLTFM=n
CONFIG_LD_CAN_USE_KEEP_IN_OVERLAY=n
CONFIG_DWMAC_SUN8I=n
CONFIG_NETFILTER_FAMILY_BRIDGE=n
CONFIG_FB_SYS_FILLRECT=n
CONFIG_NF_LOG_IPV4=n
CONFIG_BTRFS_FS_POSIX_ACL=n
CONFIG_MUTEX_SPIN_ON_OWNER=n
CONFIG_LOCALVERSION_AUTO=n
CONFIG_SMP=n
CONFIG_GENERIC_IRQ_EFFECTIVE_AFF_MASK=n
CONFIG_SPLIT_PMD_PTLOCKS=n
CONFIG_IP6_NF_MATCH_IPV6HEADER=n
CONFIG_MEMCG=n
CONFIG_TOOLCHAIN_HAS_ZBC=n
CONFIG_NET_VENDOR_ENGLEDER=n
CONFIG_NFS_FS=n
CONFIG_SPARSEMEM_MANUAL=n
CONFIG_NET_VENDOR_EZCHIP=n
CONFIG_HAVE_HARDLOCKUP_DETECTOR_BUDDY=n
CONFIG_DRM_NOUVEAU_SIL164=n
CONFIG_TIMERFD=n
CONFIG_ARCH_HAS_STRICT_MODULE_RWX=n
CONFIG_ERRATA_ANDES=n
CONFIG_ARCH_DEFAULT_CRASH_DUMP=n
CONFIG_CPU_FREQ_GOV_CONSERVATIVE=n
CONFIG_CLK_STARFIVE_JH7110_ISP=n
CONFIG_ACPI_BATTERY=n
CONFIG_MPILIB=n
CONFIG_USB_CONFIGFS_ECM_SUBSET=n
CONFIG_ARCH_FLATMEM_ENABLE=n
CONFIG_HAVE_FTRACE_GRAPH_FUNC=n
CONFIG_BLOCK_HOLDER_DEPRECATED=n
CONFIG_GENERIC_PHY=n
CONFIG_CRYPTO_GENIV=n
CONFIG_STACKPROTECTOR=n
CONFIG_RISCV_USER_CFI=n
CONFIG_DMA_BOUNCE_UNALIGNED_KMALLOC=n
CONFIG_PINCTRL_TH1520=n
CONFIG_HAVE_FUNCTION_TRACER=n
CONFIG_RISCV_ISA_ZBB=n
CONFIG_SECCOMP=n
CONFIG_ARCH_HIBERNATION_POSSIBLE=n
CONFIG_CAN_CALC_BITTIMING=n
CONFIG_SECURITY_PATH=n
CONFIG_PWM=n
CONFIG_SND_SOC_SPDIF=n
CONFIG_EVENT_TRACING=n
CONFIG_GRO_CELLS=n
CONFIG_BLK_DEV=n
CONFIG_BPF_SYSCALL=n
CONFIG_ARCH_HAS_PTE_SPECIAL=n
CONFIG_TRACEPOINTS=n
CONFIG_WLAN_VENDOR_ST=n
CONFIG_SND_PROC_FS=n
CONFIG_THERMAL=n
CONFIG_NETFILTER_ADVANCED=n
CONFIG_HAVE_KVM_DIRTY_RING_ACQ_REL=n
CONFIG_CHECKPOINT_RESTORE=n
CONFIG_USB_U_ETHER=n
CONFIG_TMPFS_POSIX_ACL=n
CONFIG_CAN=n
CONFIG_MTD_SPI_NOR=n
CONFIG_MODULES=n
CONFIG_RD_XZ=n
CONFIG_SUN4I_TIMER=n
CONFIG_HAS_IOMEM=n
CONFIG_RISCV_PMU=n
CONFIG_SERIO_SERPORT=n
CONFIG_ELF_CORE=n
CONFIG_MOUSE_PS2_BYD=n
CONFIG_SERIAL_8250_PCILIB=n
CONFIG_SUN20I_D1_R_CCU=n
CONFIG_NET_VENDOR_CADENCE=n
CONFIG_MACB=n
CONFIG_IRQ_DOMAIN_HIERARCHY=n
CONFIG_GPIOLIB=n
CONFIG_PM_CLK=n
CONFIG_NET_XGRESS=n
CONFIG_STRICT_MODULE_RWX=n
CONFIG_DWMAC_THEAD=n
CONFIG_SND_SOC_GENERIC_DMAENGINE_PCM=n
CONFIG_BTRFS_FS=n
CONFIG_RWSEM_SPIN_ON_OWNER=n
CONFIG_GPIOLIB_IRQCHIP=n
