CONFIG_DEBUG_KERNEL=n
CONFIG_USB_MUSB_HDRC=n
CONFIG_NVMEM_REBOOT_MODE=n
CONFIG_MTD_COMPLEX_MAPPINGS=n
CONFIG_MM_ID=n
CONFIG_TI_AM335X_ADC=n
CONFIG_NET_VENDOR_MEDIATEK=n
CONFIG_HAVE_PWRCTRL=n
CONFIG_FB_EFI=n
CONFIG_PINCTRL_SKY1_BASE=n
CONFIG_CLK_R8A779F0=n
CONFIG_MTK_SOCINFO=n
CONFIG_WLAN_VENDOR_MICROCHIP=n
CONFIG_SM_GPUCC_8550=n
CONFIG_MEDIA_PLATFORM_SUPPORT=n
CONFIG_DRM_RCAR_DU=n
CONFIG_PINCTRL_STM32_HDP=n
CONFIG_BLOCK_LEGACY_AUTOLOAD=n
CONFIG_PINCTRL_TEGRA234=n
CONFIG_SM_GPUCC_8350=n
CONFIG_SND_SOC_APQ8016_SBC=n
CONFIG_CLK_KAANAPALI_GPUCC=n
CONFIG_SUN8I_H3_CCU=n
CONFIG_PHY_RCAR_GEN3_USB3=n
CONFIG_ELF_CORE=n
CONFIG_IOMMU_IO_PGTABLE=n
CONFIG_MV_XOR=n
CONFIG_SC_GCC_7280=n
CONFIG_SECURITY=n
CONFIG_SPI_MESON_SPICC=n
CONFIG_MESON_WATCHDOG=n
CONFIG_VETH=n
CONFIG_BRCMSTB_L2_IRQ=n
CONFIG_ARCH_SUPPORTS_LTO_CLANG_THIN=n
CONFIG_PINCTRL_IPQ5210=n
CONFIG_INET=n
CONFIG_MTK_CMDQ=n
CONFIG_INITRAMFS_PRESERVE_MTIME=n
CONFIG_ROCKCHIP_PM_DOMAINS=n
CONFIG_USB_CONN_GPIO=n
CONFIG_USB_CHIPIDEA_MSM=n
CONFIG_LEDS_GPIO=n
CONFIG_QCOM_PBS=n
CONFIG_PHY_FSL_IMX8M_PCIE=n
CONFIG_PWM_IMX27=n
CONFIG_FUSE_PASSTHROUGH=n
CONFIG_SND_SOC_QDSP6_AFE_CLOCKS=n
CONFIG_ARCH_USE_MEMREMAP_PROT=n
CONFIG_COMMON_CLK_HI3559A=n
CONFIG_SND_SOC=n
CONFIG_MVNETA=n
CONFIG_SUN50I_H616_CCU=n
CONFIG_ARM_PMU=n
CONFIG_AUDITSYSCALL=n
CONFIG_SUN8I_DE2_CCU=n
CONFIG_PHY_RZ_G3E_USB3=n
CONFIG_GPIO_MACSMC=n
CONFIG_SUN50I_DE2_BUS=n
CONFIG_ARCH_HAVE_ELF_PROT=n
CONFIG_MMC_SDHCI_OF_DWCMSHC=n
CONFIG_DRM_DW_MIPI_DSI=n
CONFIG_FB_IOMEM_FOPS=n
CONFIG_SND_SOC_WCD_COMMON=n
CONFIG_RPMSG_MTK_SCP=n
CONFIG_MMC_SDHCI_MSM=n
CONFIG_BT_HCIUART=n
CONFIG_MLX5_EN_ARFS=n
CONFIG_GPIO_SYSCON=n
CONFIG_I2C_APPLE=n
CONFIG_NFS_FS=n
CONFIG_COMMON_CLK_MT8195_IMGSYS=n
CONFIG_DEVMEM=n
CONFIG_DMA_ENGINE_RAID=n
CONFIG_BT_HCIUART_H4=n
CONFIG_CFG80211_CRDA_SUPPORT=n
CONFIG_VIDEO_RENESAS_FCP=n
CONFIG_PAGE_SIZE_LESS_THAN_64KB=n
CONFIG_PADATA=n
CONFIG_HAVE_ARCH_SECCOMP_FILTER=n
CONFIG_SND_SOC_WCD937X=n
CONFIG_SND_MESON_G12A_TOHDMITX=n
CONFIG_ASPEED_LPC_SNOOP=n
CONFIG_NET_SCH_INGRESS=n
CONFIG_ARCH_ALPINE=n
CONFIG_EXYNOS_USI=n
CONFIG_ARM_SMCCC_SOC_ID=n
CONFIG_SND_SOC_MT8188_MT6359=n
CONFIG_PHY_MTK_PCIE=n
CONFIG_PINCTRL_RK805=n
CONFIG_DRM_EXYNOS_HDMI=n
CONFIG_ACPI_HED=n
CONFIG_QCOM_Q6V5_ADSP=n
CONFIG_HAVE_ASM_MODVERSIONS=n
CONFIG_PWM_SL28CPLD=n
CONFIG_DQL=n
CONFIG_CRYPTO_KRB5ENC=n
CONFIG_VIRTIO_PCI_LEGACY=n
CONFIG_SND_SOC_LPASS_APQ8016=n
CONFIG_STAGING=n
CONFIG_CLK_RK3576=n
CONFIG_DRM_RZG2L_MIPI_DSI=n
CONFIG_TREE_SRCU=n
CONFIG_HAVE_CLK=n
CONFIG_INTERCONNECT_QCOM_OSM_L3=n
CONFIG_IIO_ST_SENSORS_I2C=n
CONFIG_PHY_UNIPHIER_USB3=n
CONFIG_PINCTRL_PFC_R8A77990=n
CONFIG_BT_HCIRSI=n
CONFIG_CLK_R8A774C0=n
CONFIG_PINCTRL_SC8280XP=n
CONFIG_ARM_SBSA_WATCHDOG=n
CONFIG_SBITMAP=n
CONFIG_HAVE_ARCH_KASAN_SW_TAGS=n
CONFIG_ARCH_R9A09G087=n
CONFIG_DWMAC_STM32=n
CONFIG_COMMON_CLK_MT8192_IPESYS=n
CONFIG_ARCH_RCAR_GEN3=n
CONFIG_REED_SOLOMON_ENC8=n
CONFIG_MTD_BLKDEVS=n
CONFIG_SOC_RENESAS=n
CONFIG_SND_SOC_SOF_OF=n
CONFIG_INPUT_RK805_PWRKEY=n
CONFIG_NFC_S3FWRN5_I2C=n
CONFIG_APPLE_PMGR_PWRSTATE=n
CONFIG_SERIAL_IMX_CONSOLE=n
CONFIG_NF_LOG_SYSLOG=n
CONFIG_NF_DEFRAG_IPV6=n
CONFIG_PWM_TIEHRPWM=n
CONFIG_CRYPTO_AES_ARM64_CE_CCM=n
CONFIG_QCOM_CLK_APCS_MSM8916=n
CONFIG_BT_HCIUART_SERDEV=n
CONFIG_GENERIC_STRNCPY_FROM_USER=n
CONFIG_CPU_FREQ_GOV_SCHEDUTIL=n
CONFIG_ACPI_FAN=n
CONFIG_HUGETLB_PMD_PAGE_TABLE_SHARING=n
CONFIG_HAVE_ARCH_KGDB=n
CONFIG_RTC_NVMEM=n
CONFIG_CIX_MBOX=n
CONFIG_NET_CRC32C=n
CONFIG_INTEGRITY=n
CONFIG_CGROUP_SCHED=n
CONFIG_IOMMU_DMA=n
CONFIG_HNS=n
CONFIG_HDMI=n
CONFIG_KEYBOARD_IMX_SC_KEY=n
CONFIG_NUMA=n
CONFIG_RC_DEVICES=n
CONFIG_ARCH_HAS_RESET_CONTROLLER=n
CONFIG_FSL_ERRATUM_A008585=n
CONFIG_HAVE_ARCH_PREL32_RELOCATIONS=n
CONFIG_FSL_MC_DPIO=n
CONFIG_SND_SOC_MT8195_MT6359=n
CONFIG_CHARGER_CROS_CONTROL=n
CONFIG_CGROUP_WRITEBACK=n
CONFIG_WATCHDOG_HANDLE_BOOT_ENABLED=n
CONFIG_SC_GCC_8180X=n
CONFIG_CAVIUM_ERRATUM_23154=n
CONFIG_DRM_MSM_DSI_10NM_PHY=n
CONFIG_GPIO_UNIPHIER=n
CONFIG_NVMEM_RMEM=n
CONFIG_PCI_ECAM=n
CONFIG_INPUT_TOUCHSCREEN=n
CONFIG_SMC91X=n
CONFIG_DRM_MEDIATEK_DP=n
CONFIG_SM_CAMCC_8250=n
CONFIG_VIDEO_MEDIATEK_MDP3=n
CONFIG_ARCH_SEATTLE=n
CONFIG_SC_LPASS_CORECC_7280=n
CONFIG_QCOM_PDC=n
CONFIG_SUN50I_H6_R_CCU=n
CONFIG_PINCTRL_SINGLE=n
CONFIG_POWER_RESET_TORADEX_EC=n
CONFIG_CLK_R8A779H0=n
CONFIG_ARM_PSCI_FW=n
CONFIG_FSL_EDMA=n
CONFIG_IP_VS=n
CONFIG_MMC_SDHCI_IO_ACCESSORS=n
CONFIG_PINMUX=n
CONFIG_MARVELL_GTI_WDT=n
CONFIG_TEE=n
CONFIG_MLX5_EN_RXNFC=n
CONFIG_BLK_CGROUP_PUNT_BIO=n
CONFIG_SND_SOC_TEGRA210_DMIC=n
CONFIG_CRYPTO_LIB_AES_ARCH=n
CONFIG_RCAR_DMAC=n
CONFIG_CLKSRC_STM32_LP=n
CONFIG_MTD_NAND_BRCMNAND=n
CONFIG_THERMAL_EMULATION=n
CONFIG_VIDEO_HANTRO_ROCKCHIP=n
CONFIG_POWER_SEQUENCING=n
CONFIG_CRYPTO_AEAD2=n
CONFIG_QCOM_SMSM=n
CONFIG_DRM_PANEL_HIMAX_HX83112A=n
CONFIG_COMMON_CLK_MT8365_APU=n
CONFIG_PWM_BCM2835=n
CONFIG_IIO_CROS_EC_LIGHT_PROX=n
CONFIG_ARCH_BCM_IPROC=n
CONFIG_SECCOMP_FILTER=n
CONFIG_TESLA_FSD_COMMON_CLK=n
CONFIG_DRM_RCAR_LVDS=n
CONFIG_NET_SCH_MQPRIO_LIB=n
CONFIG_DM_ZERO=n
CONFIG_ARCH_SUPPORTS_PAGE_TABLE_CHECK=n
CONFIG_PINCTRL_MESON8_PMX=n
CONFIG_INPUT_KEYBOARD=n
CONFIG_NET_VENDOR_I825XX=n
CONFIG_DWMAC_GENERIC=n
CONFIG_SERIAL_TEGRA_TCU_CONSOLE=n
CONFIG_USB_BRCMSTB=n
CONFIG_PWM_SUN4I=n
CONFIG_NET_IP_TUNNEL=n
CONFIG_PINCTRL_BCM2835=n
CONFIG_PM8916_WATCHDOG=n
CONFIG_SND_SOC_LPASS_CDC_DMA=n
CONFIG_SND_SOC_MSM8996=n
CONFIG_SDX_GCC_75=n
CONFIG_PINCTRL_MT2712=n
CONFIG_SQUASHFS_DECOMP_SINGLE=n
CONFIG_NET_DSA_MSCC_FELIX_DSA_LIB=n
CONFIG_PINCTRL_MT6893=n
CONFIG_BLK_DEBUG_FS=n
CONFIG_WLAN_VENDOR_TI=n
CONFIG_PCIE_RCAR_EP=n
CONFIG_CPU_IDLE_GOV_MENU=n
CONFIG_ARM_PMU_ACPI=n
CONFIG_MTK_REGULATOR_COUPLER=n
CONFIG_KSM=n
CONFIG_SERIAL_SH_SCI_DMA=n
CONFIG_DRM=n
CONFIG_HAVE_ARCH_KASAN=n
CONFIG_GPIOLIB=n
CONFIG_PWM=n
CONFIG_OF_FPGA_REGION=n
CONFIG_PHY_ROCKCHIP_USBDP=n
CONFIG_SND_SOC_SPDIF=n
CONFIG_MUTEX_SPIN_ON_OWNER=n
CONFIG_MTD_NAND_BRCMNAND_BRCMSTB=n
CONFIG_SYSC_R8A77990=n
CONFIG_USB_DWC3_DUAL_ROLE=n
CONFIG_ARCH_HAS_MEMBARRIER_SYNC_CORE=n
CONFIG_MMC_SDHCI_OF_SPARX5=n
CONFIG_ARCH_TEGRA_264_SOC=n
CONFIG_SND_SOC_SOF_IPC3=n
CONFIG_HAVE_HARDLOCKUP_DETECTOR_BUDDY=n
CONFIG_REGMAP_SLIMBUS=n
CONFIG_HAVE_ARCH_COMPILER_H=n
CONFIG_SND_CTL_LED=n
CONFIG_BCM7XXX_PHY=n
CONFIG_RZ_DMAC=n
CONFIG_SND_SOC_MSM8916_WCD_DIGITAL=n
CONFIG_SND_MESON_AXG_SPDIFIN=n
CONFIG_SND_SOC_LPASS_RX_MACRO=n
CONFIG_RTD119X_WATCHDOG=n
CONFIG_PAGE_MAPCOUNT=n
CONFIG_DRM_GEM_DMA_HELPER=n
CONFIG_QCOM_WCNSS_PIL=n
CONFIG_INTERCONNECT_QCOM_SM6350=n
CONFIG_SND_SUN8I_CODEC_ANALOG=n
CONFIG_COMMON_CLK_GXBB=n
CONFIG_SPRD_UMS512_CLK=n
CONFIG_GENERIC_IRQ_EFFECTIVE_AFF_MASK=n
CONFIG_COMMON_CLK_MT8192_AUDSYS=n
CONFIG_SUN50I_A100_R_CCU=n
CONFIG_SQUASHFS_ZLIB=n
CONFIG_PM_GENERIC_DOMAINS_SLEEP=n
CONFIG_BCM_NET_PHYLIB=n
CONFIG_SUNXI_SRAM=n
CONFIG_FB_CFB_COPYAREA=n
CONFIG_STM32_FIREWALL=n
CONFIG_DRM_MEDIATEK_HDMI=n
CONFIG_VIDEO_SAMSUNG_S5P_MFC=n
CONFIG_CRYPTO_LIB_UTILS=n
CONFIG_PCI_HOST_GENERIC=n
CONFIG_PINCTRL_IMX8MP=n
CONFIG_ARM64_LPA2=n
CONFIG_USB=n
CONFIG_MMU_GATHER_RCU_TABLE_FREE=n
CONFIG_PHY_MESON_G12A_MIPI_DPHY_ANALOG=n
CONFIG_CRC64_ARCH=n
CONFIG_ARM_SCPI_PROTOCOL=n
CONFIG_SND_SOC_RT5514=n
CONFIG_CPU_THERMAL=n
CONFIG_NXP_NETC_BLK_CTRL=n
CONFIG_9P_FS=n
CONFIG_RASPBERRYPI_FIRMWARE=n
CONFIG_SND_SOC_ES8326=n
CONFIG_QCOM_QMI_HELPERS=n
CONFIG_FIRMWARE_TABLE=n
CONFIG_HAVE_CLK_PREPARE=n
CONFIG_REGULATOR_VCTRL=n
CONFIG_USB_DEFAULT_PERSIST=n
CONFIG_SCSI_UFS_RENESAS=n
CONFIG_CRYPTO_AES=n
CONFIG_RENESAS_RZT2H_ICU=n
CONFIG_SENSORS_INA2XX=n
CONFIG_HID_MULTITOUCH=n
CONFIG_SM_VIDEOCC_8250=n
CONFIG_NET=n
CONFIG_SERIAL_EARLYCON=n
CONFIG_SND_SOC_WM8524=n
