CONFIG_OF_RESERVED_MEM=n
CONFIG_RAID6_PQ_ARCH=n
CONFIG_NET_9P_VIRTIO=n
CONFIG_ARCH_WEAK_RELEASE_ACQUIRE=n
CONFIG_VIRTIO=n
CONFIG_IPV6_NDISC_NODETYPE=n
CONFIG_HAVE_ARCH_THREAD_STRUCT_WHITELIST=n
CONFIG_PM_OPP=n
CONFIG_SUN6I_MSGBOX=n
CONFIG_DRM_CLIENT_LIB=n
CONFIG_DEVTMPFS_MOUNT=n
CONFIG_HAVE_KERNEL_GZIP=n
CONFIG_CAN_BCM=n
CONFIG_THERMAL_GOV_STEP_WISE=n
CONFIG_CPU_FREQ_STAT=n
CONFIG_WLAN_VENDOR_INTERSIL=n
CONFIG_WLAN_VENDOR_ADMTEK=n
CONFIG_THERMAL_HWMON=n
CONFIG_SND=n
CONFIG_USB_EHCI_HCD=n
CONFIG_FTRACE=n
CONFIG_USB_OHCI_HCD_PLATFORM=n
CONFIG_DRM_NOUVEAU=n
CONFIG_DMA_NEED_SYNC=n
CONFIG_VIRTIO_BLK=n
CONFIG_NET_VENDOR_3COM=n
CONFIG_MMU_GATHER_RCU_TABLE_FREE=n
CONFIG_HAVE_KVM_MSI=n
CONFIG_NETFS_SUPPORT=n
CONFIG_ZISOFS=n
CONFIG_FONT_SUPPORT=n
CONFIG_QUEUED_SPINLOCKS=n
CONFIG_USB_F_MASS_STORAGE=n
CONFIG_TRACEPOINTS=n
CONFIG_EXPORTFS=n
CONFIG_DRM_NOUVEAU_SIL164=n
CONFIG_RTC_DRV_SPACEMIT_P1=n
CONFIG_SND_SOC_GENERIC_DMAENGINE_PCM=n
CONFIG_SYSFS=n
CONFIG_HAVE_POSIX_CPU_TIMERS_TASK_WORK=n
CONFIG_ARCH_STARFIVE=n
CONFIG_LOCK_MM_AND_FIND_VMA=n
CONFIG_USB_STORAGE=n
CONFIG_ARCH_USE_MEMREMAP_PROT=n
CONFIG_FPU=n
CONFIG_REGMAP=n
CONFIG_CLK_STARFIVE_JH7110_ISP=n
CONFIG_AS_HAS_NON_CONST_ULEB128=n
CONFIG_KALLSYMS=n
CONFIG_REALTEK_PHY=n
CONFIG_ARCH_USES_HIGH_VMA_FLAGS=n
CONFIG_CRYPTO_SKCIPHER2=n
CONFIG_NET_FAILOVER=n
CONFIG_DRM_NOUVEAU_CH7006=n
CONFIG_IIO=n
CONFIG_USB_EHCI_PCI=n
CONFIG_VIDEO=n
CONFIG_MOUSE_PS2_CYPRESS=n
CONFIG_PNP=n
CONFIG_PM_DEVFREQ=n
CONFIG_LDISC_AUTOLOAD=n
CONFIG_ERRATA_SIFIVE_CIP_1200=n
CONFIG_ACPI_CPPC_CPUFREQ=n
CONFIG_HAVE_DEBUG_KMEMLEAK=n
CONFIG_NETFILTER_EGRESS=n
CONFIG_HAVE_PERF_REGS=n
CONFIG_CRYPTO_LIB_SHA512=n
CONFIG_DECOMPRESS_GZIP=n
CONFIG_THERMAL=n
CONFIG_HAVE_DMA_CONTIGUOUS=n
CONFIG_ARCH_WANT_OPTIMIZE_HUGETLB_VMEMMAP=n
CONFIG_NF_DEFRAG_IPV6=n
CONFIG_VDSO_GETRANDOM=n
CONFIG_RANDSTRUCT_NONE=n
CONFIG_VXLAN=n
CONFIG_ARCH_HAS_SET_DIRECT_MAP=n
CONFIG_BTRFS_FS_POSIX_ACL=n
CONFIG_MEDIA_PLATFORM_DRIVERS=n
CONFIG_ARM_AMBA=n
CONFIG_NET_DEVMEM=n
CONFIG_ERRATA_ANDES=n
CONFIG_STACKTRACE=n
CONFIG_PINCTRL_SOPHGO_SG2000=n
CONFIG_FAILOVER=n
CONFIG_FB=n
CONFIG_HAVE_FTRACE_GRAPH_FUNC=n
CONFIG_DQL=n
CONFIG_EXT4_FS_POSIX_ACL=n
CONFIG_PINCTRL_SOPHGO_SG2002=n
CONFIG_IP6_NF_MATCH_IPV6HEADER=n
CONFIG_SECURITY_APPARMOR_COMPRESSED_POLICY=n
CONFIG_RCU_TRACE=n
CONFIG_DRM_VIRTIO_GPU=n
CONFIG_PAGE_SIZE_LESS_THAN_256KB=n
CONFIG_HID_GENERIC=n
CONFIG_DRM_SUBALLOC_HELPER=n
CONFIG_PNFS_FLEXFILE_LAYOUT=n
CONFIG_ARCH_HAS_KERNEL_FPU_SUPPORT=n
CONFIG_SECURITY_NETWORK=n
CONFIG_SYSVIPC_COMPAT=n
CONFIG_MTD_MAP_BANK_WIDTH_1=n
CONFIG_ARCH_HAS_USER_SHADOW_STACK=n
CONFIG_INTEGRITY=n
CONFIG_CAN=n
CONFIG_INET=n
CONFIG_NFS_USE_KERNEL_DNS=n
CONFIG_NET_UDP_TUNNEL=n
CONFIG_CRYPTO_CTS=n
CONFIG_DWMAC_SUN55I=n
CONFIG_EXT4_USE_FOR_EXT2=n
CONFIG_INPUT_MOUSEDEV=n
CONFIG_FRAME_POINTER=n
CONFIG_PCIEPORTBUS=n
CONFIG_CACHESTAT_SYSCALL=n
CONFIG_ACPI_AC=n
CONFIG_DEBUG_MEMORY_INIT=n
CONFIG_CRC_OPTIMIZATIONS=n
CONFIG_NET_VENDOR_HUAWEI=n
CONFIG_CONTEXT_SWITCH_TRACER=n
CONFIG_HAVE_ARCH_SECCOMP=n
CONFIG_HAVE_ARCH_RANDOMIZE_KSTACK_OFFSET=n
CONFIG_USB_DEFAULT_PERSIST=n
CONFIG_CRYPTO_AKCIPHER=n
CONFIG_GENERIC_IRQ_SHOW_LEVEL=n
CONFIG_GENERIC_IOREMAP=n
CONFIG_FRAMEBUFFER_CONSOLE=n
CONFIG_SUN20I_D1_CCU=n
CONFIG_MMC_SPI=n
CONFIG_NETFILTER_XT_MARK=n
CONFIG_FB_SYSMEM_FOPS=n
CONFIG_RUSTC_HAS_SPAN_FILE=n
CONFIG_EEPROM_93CX6=n
CONFIG_GPIO_SIFIVE=n
CONFIG_XZ_DEC_ARM64=n
CONFIG_NET_VENDOR_SOLARFLARE=n
CONFIG_BUILDTIME_TABLE_SORT=n
CONFIG_USB_F_SUBSET=n
CONFIG_MMC_DW_PLTFM=n
CONFIG_SECURITY_SELINUX_DEVELOP=n
CONFIG_BLK_DEV_THROTTLING=n
CONFIG_XZ_DEC_ARMTHUMB=n
CONFIG_CLK_ULTRARISC_DP1000=n
CONFIG_HAVE_SAMPLE_FTRACE_DIRECT_MULTI=n
CONFIG_NETFILTER=n
CONFIG_RISCV_APLIC_MSI=n
CONFIG_SPACEMIT_CCU=n
CONFIG_VHOST_MENU=n
CONFIG_BLK_DEV_DM_BUILTIN=n
CONFIG_SND_TIMER=n
CONFIG_HRTIMER_REARM_DEFERRED=n
CONFIG_ARCH_FLATMEM_ENABLE=n
CONFIG_NFS_V4_2=n
CONFIG_NET_VENDOR_SILAN=n
CONFIG_RISCV_IOMMU_PCI=n
CONFIG_GLOB=n
CONFIG_NVMEM_SUNXI_SID=n
CONFIG_R8169=n
CONFIG_SCHED_MC=n
CONFIG_HAVE_64BIT_ALIGNED_ACCESS=n
CONFIG_CRYPTO_SEQIV=n
CONFIG_DRM_TTM=n
CONFIG_RISCV_ISA_C=n
CONFIG_HAVE_FUNCTION_GRAPH_FREGS=n
CONFIG_ARCH_OPTIONAL_KERNEL_RWX_DEFAULT=n
CONFIG_BINFMT_ELF=n
CONFIG_XFRM_USER=n
CONFIG_SERIO_SERPORT=n
CONFIG_FREEZER=n
CONFIG_PINCTRL_STARFIVE_JH7110_AON=n
CONFIG_USB_F_EEM=n
CONFIG_HAVE_ARCH_KGDB_QXFER_PKT=n
CONFIG_FB_CORE=n
CONFIG_OF_KOBJ=n
CONFIG_POSIX_MQUEUE=n
CONFIG_CONTEXT_TRACKING_IDLE=n
CONFIG_DWMAC_SUN8I=n
CONFIG_GPIOLIB=n
CONFIG_NET_VENDOR_EMULEX=n
CONFIG_PINCTRL_SOPHGO_CV18XX_OPS=n
CONFIG_HAVE_KERNEL_UNCOMPRESSED=n
CONFIG_ARCH_ANDES=n
CONFIG_CGROUP_NET_PRIO=n
CONFIG_NET_VENDOR_VIA=n
CONFIG_FAIR_GROUP_SCHED=n
CONFIG_DRM_SUN8I_MIXER=n
CONFIG_NET_VENDOR_SIS=n
CONFIG_GENERIC_PINCTRL=n
CONFIG_SERIAL_CORE=n
CONFIG_NET_VENDOR_TEHUTI=n
CONFIG_OPENSSL_SUPPORTS_ML_DSA=n
CONFIG_RESET_EIC7700=n
CONFIG_TRACEFS_AUTOMOUNT_DEPRECATED=n
CONFIG_PORTABLE=n
CONFIG_SND_JACK=n
CONFIG_OF_MDIO=n
CONFIG_ARCH_WANT_FRAME_POINTERS=n
CONFIG_SCHED_INFO=n
CONFIG_ADVISE_SYSCALLS=n
CONFIG_EFIVAR_FS=n
CONFIG_HW_RANDOM_JH7110=n
CONFIG_CC_HAVE_STACKPROTECTOR_TLS=n
CONFIG_9P_FS=n
CONFIG_RESET_TENSTORRENT_ATLANTIS=n
CONFIG_HAVE_ARCH_KASAN=n
CONFIG_LLC=n
CONFIG_DM_THIN_PROVISIONING=n
CONFIG_HID_SUPPORT=n
CONFIG_DECOMPRESS_BZIP2=n
CONFIG_SUN8I_DE2_CCU=n
CONFIG_SPI_FSL_QUADSPI=n
CONFIG_NFS_V4_0=n
CONFIG_HOTPLUG_CORE_SYNC=n
CONFIG_USB_CONFIGFS_SERIAL=n
CONFIG_ERRATA_THEAD_MAE=n
CONFIG_VIDEO_V4L2_I2C=n
CONFIG_SMP=n
CONFIG_DRM_GEM_SHMEM_HELPER=n
CONFIG_ATA_VERBOSE_ERROR=n
CONFIG_CLK_ANALOGBITS_WRPLL_CLN28HPC=n
CONFIG_IP_VS=n
CONFIG_SPLIT_PTE_PTLOCKS=n
CONFIG_MTD_CFI_UTIL=n
CONFIG_IKCONFIG_PROC=n
CONFIG_STRICT_KERNEL_RWX=n
CONFIG_FB_DEVICE=n
CONFIG_WLAN_VENDOR_RSI=n
CONFIG_PHY_SPACEMIT_K1_PCIE=n
CONFIG_MFD_SIMPLE_MFD_I2C=n
CONFIG_NET_VENDOR_XILINX=n
CONFIG_NETFILTER_ADVANCED=n
CONFIG_CFS_BANDWIDTH=n
CONFIG_DECOMPRESS_LZMA=n
CONFIG_ARCH_HAS_SETUP_DMA_OPS=n
CONFIG_GROUP_SCHED_WEIGHT=n
CONFIG_TOOLCHAIN_HAS_ZBB=n
CONFIG_TOOLCHAIN_HAS_VECTOR_CRYPTO=n
CONFIG_IOMMU_API=n
CONFIG_MOUSE_PS2_SYNAPTICS=n
CONFIG_I2C_CHARDEV=n
CONFIG_GENERIC_CPU_DEVICES=n
CONFIG_TREE_SRCU=n
CONFIG_RISCV_ISA_SVPBMT=n
CONFIG_ATA_ACPI=n
CONFIG_ARCH_RV64I=n
CONFIG_CRYPTO_KPP=n
CONFIG_64BIT=n
CONFIG_CPU_FREQ_GOV_ATTR_SET=n
CONFIG_CRC7=n
CONFIG_BLK_DEV_PMEM=n
CONFIG_MMU_LAZY_TLB_REFCOUNT=n
CONFIG_EFI_CUSTOM_SSDT_OVERLAYS=n
CONFIG_RISCV_PMU_LEGACY=n
CONFIG_USB_CDNS3_HOST=n
CONFIG_NET_VENDOR_AMD=n
CONFIG_GENERIC_HWEIGHT=n
CONFIG_HAVE_ARCH_KFENCE=n
CONFIG_NVMEM_LAYOUTS=n
CONFIG_FB_SYSMEM_HELPERS_DEFERRED=n
CONFIG_HAVE_KVM_READONLY_MEM=n
CONFIG_MOUSE_PS2_FOCALTECH=n
CONFIG_SND_DESIGNWARE_I2S=n
CONFIG_IP_MULTICAST=n
CONFIG_XPS=n
CONFIG_SUNXI_SRAM=n
CONFIG_MOUSE_PS2=n
CONFIG_RISCV_ISA_SVNAPOT=n
CONFIG_NET_VENDOR_NETRONOME=n
CONFIG_SCHED_CACHE=n
CONFIG_USB_F_NCM=n
CONFIG_DMA_DIRECT_REMAP=n
CONFIG_EPOLL=n
CONFIG_SND_SOC_JH7110_PWMDAC=n
CONFIG_CGROUP_NET_CLASSID=n
CONFIG_IO_URING_BPF=n
CONFIG_GUEST_PERF_EVENTS=n
CONFIG_TASKS_RCU=n
CONFIG_HAVE_IRQ_EXIT_ON_IRQ_STACK=n
CONFIG_BLK_DEV_SD=n
CONFIG_HAVE_KERNEL_LZ4=n
CONFIG_RESET_K230=n
CONFIG_GENERIC_IRQ_IPI_MUX=n
CONFIG_MODULES_USE_ELF_RELA=n
CONFIG_HAVE_ARCH_TRACEHOOK=n
CONFIG_WLAN_VENDOR_QUANTENNA=n
CONFIG_NF_LOG_SYSLOG=n
CONFIG_DRM_DW_HDMI=n
CONFIG_REGMAP_IRQ=n
CONFIG_HAVE_GIGANTIC_FOLIOS=n
CONFIG_CC_HAS_COUNTED_BY=n
CONFIG_LD_IS_LLD=n
CONFIG_SERIAL_CORE_CONSOLE=n
CONFIG_USB_CDNS3_GADGET=n
CONFIG_ARCH_HAS_SET_MEMORY=n
CONFIG_ARCH_SUPPORTS_PAGE_TABLE_CHECK=n
CONFIG_XFRM=n
CONFIG_CRYPTO_KPP2=n
CONFIG_SYMBOLIC_ERRNAME=n
CONFIG_POWER_RESET_SPACEMIT_P1=n
CONFIG_MEMFD_CREATE=n
CONFIG_PWRSEQ_EMMC=n
