CONFIG_BLK_DEV=n
CONFIG_HAVE_IOREMAP_PROT=n
CONFIG_RTC_DRV_PCF2127=n
CONFIG_HISILICON_IRQ_MBIGEN=n
CONFIG_SPI_FSL_QUADSPI=n
CONFIG_NET_SCH_MQPRIO_LIB=n
CONFIG_SG_POOL=n
CONFIG_QCOM_SPMI_TEMP_ALARM=n
CONFIG_PINCTRL_SOPHGO_SG2000=n
CONFIG_IMX8MM_THERMAL=n
CONFIG_SM_GCC_4450=n
CONFIG_PINCTRL_MT8192=n
CONFIG_ARCH_HAVE_NMI_SAFE_CMPXCHG=n
CONFIG_PINCTRL_MT6779=n
CONFIG_QCOM_EMAC=n
CONFIG_ROCKCHIP_THERMAL=n
CONFIG_RESET_BERLIN=n
CONFIG_QCOM_MDT_LOADER=n
CONFIG_WLAN_VENDOR_ZYDAS=n
CONFIG_DW_APB_TIMER_OF=n
CONFIG_ARCH_TEGRA_210_SOC=n
CONFIG_MUX_MMIO=n
CONFIG_DW_WATCHDOG=n
CONFIG_ARM_IMX8M_DDRC_DEVFREQ=n
CONFIG_PINCTRL_ELIZA=n
CONFIG_TI_K3_SOCINFO=n
CONFIG_SERIAL_SH_SCI_EARLYCON=n
CONFIG_JUMP_LABEL=n
CONFIG_SND_SOC_WCD938X=n
CONFIG_TYPEC_UCSI=n
CONFIG_SM_GCC_8350=n
CONFIG_HAVE_PV_STEAL_CLOCK_GEN=n
CONFIG_CRYPTO_CHACHA20=n
CONFIG_FSL_MC_BUS=n
CONFIG_MFD_RK8XX=n
CONFIG_SND_MESON_G12A_TOACODEC=n
CONFIG_DRM_MXS=n
CONFIG_LIBFDT=n
CONFIG_XILINX_WATCHDOG=n
CONFIG_MTK_THERMAL=n
CONFIG_ATA=n
CONFIG_DMA_CMA=n
CONFIG_SND_JACK=n
CONFIG_BLK_DEV_NBD=n
CONFIG_COMMON_CLK_MESON_MPLL=n
CONFIG_PINCTRL_TEGRA210=n
CONFIG_SERIAL_TEGRA=n
CONFIG_HW_RANDOM_ARM_SMCCC_TRNG=n
CONFIG_MEDIA_TUNER_TDA9887=n
CONFIG_SYNC_FILE=n
CONFIG_CROS_EC_VBC=n
CONFIG_HAVE_CLK=n
CONFIG_POSIX_MQUEUE=n
CONFIG_QCOM_QSEECOM=n
CONFIG_COMMON_CLK_MT8195_IMGSYS=n
CONFIG_MFD_VEXPRESS_SYSREG=n
CONFIG_DRM_RCAR_USE_MIPI_DSI=n
CONFIG_CLK_R8A77965=n
CONFIG_RCU_TRACE=n
CONFIG_TCG_TIS_SPI_CR50=n
CONFIG_WLAN_VENDOR_ADMTEK=n
CONFIG_CRYPTO_SKCIPHER2=n
CONFIG_DEVMEM=n
CONFIG_TOUCHSCREEN_ILI210X=n
CONFIG_SERIAL_SAMSUNG=n
CONFIG_UNMAP_KERNEL_AT_EL0=n
CONFIG_SND_SOC_TEGRA186_ASRC=n
CONFIG_QCOM_WCNSS_CTRL=n
CONFIG_PHY_QCOM_EDP=n
CONFIG_BT_HCIBTUSB_BCM=n
CONFIG_HAVE_DMA_CONTIGUOUS=n
CONFIG_ARCH_MICROCHIP=n
CONFIG_XEN_XENBUS_FRONTEND=n
CONFIG_I2C_BCM_IPROC=n
CONFIG_SND_SOC_ROCKCHIP_RT5645=n
CONFIG_CRYPTO_DEV_BCM_SPU=n
CONFIG_PINCTRL_IPQ9650=n
CONFIG_COMPACTION=n
CONFIG_CPU_FREQ_DEFAULT_GOV_SCHEDUTIL=n
CONFIG_COREDUMP=n
CONFIG_DRM_MSM_DP=n
CONFIG_USB_CDNS3_TI=n
CONFIG_PCIE_XILINX=n
CONFIG_MQ_IOSCHED_DEADLINE=n
CONFIG_ARM_GIC_ITS_PARENT=n
CONFIG_NFC_NCI=n
CONFIG_USB_RTL8153_ECM=n
CONFIG_DRM_MSM_DSI_14NM_PHY=n
CONFIG_TI_ICSS_IEP=n
CONFIG_NET_DSA_BCM_SF2=n
CONFIG_USB_BRCMSTB=n
CONFIG_SM_GPUCC_8250=n
CONFIG_HNS3_ENET=n
CONFIG_CRYPTO_AES=n
CONFIG_IIO_ST_LSM6DSX=n
CONFIG_VIDEO_QCOM_CAMSS=n
CONFIG_WLAN_VENDOR_PURELIFI=n
CONFIG_USB_OHCI_HCD_PCI=n
CONFIG_NFS_USE_KERNEL_DNS=n
CONFIG_ARCH_SUPPORTS_DEBUG_PAGEALLOC=n
CONFIG_GPIO_ALTERA=n
CONFIG_ARM64_ERRATUM_3117295=n
CONFIG_DRM_RZG2L_DU=n
CONFIG_GENERIC_LIB_DEVMEM_IS_ALLOWED=n
CONFIG_DRM_RCAR_CMM=n
CONFIG_PCI_PWRCTRL_PWRSEQ=n
CONFIG_CLZ_TAB=n
CONFIG_PINCTRL_PFC_R8A774C0=n
CONFIG_SND_SOC_TLV320AIC3X_I2C=n
CONFIG_ARM_PSCI_CPUIDLE=n
CONFIG_DUMMY_CONSOLE=n
CONFIG_REGMAP_SOUNDWIRE=n
CONFIG_RTD119X_WATCHDOG=n
CONFIG_PCI_TEGRA=n
CONFIG_SND_PCM_TIMER=n
CONFIG_PINCTRL_BCM2835=n
CONFIG_CLK_IMX8ULP=n
CONFIG_NVMEM_IMX_OCOTP=n
CONFIG_SCSI_UFS_TI_J721E=n
CONFIG_HW_RANDOM_ATMEL=n
CONFIG_SND_MESON_CARD_UTILS=n
CONFIG_NET_DSA_TAG_NONE=n
CONFIG_SND_SOC_MAX98357A=n
CONFIG_DRM_PANEL_HIMAX_HX83112A=n
CONFIG_PINCTRL_TEGRA194=n
CONFIG_DRM_TI_SN65DSI86=n
CONFIG_MUTEX_SPIN_ON_OWNER=n
CONFIG_PINCTRL_MT7622=n
CONFIG_SM_CAMCC_7150=n
CONFIG_NVMEM_ROCKCHIP_EFUSE=n
CONFIG_CGROUP_DEVICE=n
CONFIG_PCS_LYNX=n
CONFIG_GNSS=n
CONFIG_ARCH_HAS_ACPI_TABLE_UPGRADE=n
CONFIG_CRYPTO_XTS=n
CONFIG_ARM64_ERRATUM_1463225=n
CONFIG_SND_SOC_MSM8916_WCD_ANALOG=n
CONFIG_DMA_ENGINE_RAID=n
CONFIG_ARCH_AXIADO=n
CONFIG_PINCTRL_AMLOGIC_A4=n
CONFIG_PM8916_WATCHDOG=n
CONFIG_ARCH_SUPPORTS_HUGETLBFS=n
CONFIG_DRM_EXYNOS5433_DECON=n
CONFIG_USB_XHCI_PLATFORM=n
CONFIG_VIDEO_WAVE_VPU=n
CONFIG_BROADCOM_PHY=n
CONFIG_UBIFS_FS_XATTR=n
CONFIG_DRM_DISPLAY_HDMI_CEC_HELPER=n
CONFIG_RUSTC_HAS_SPAN_FILE=n
CONFIG_VIDEO_MEDIATEK_JPEG=n
CONFIG_HAVE_CLK_PREPARE=n
CONFIG_ARCH_MXC=n
CONFIG_FB_SYSMEM_HELPERS=n
CONFIG_EXYNOS_ACPM_PROTOCOL=n
CONFIG_RD_GZIP=n
CONFIG_SND_SOC_XILINX_I2S=n
CONFIG_I2C_S3C2410=n
CONFIG_IP_VS=n
CONFIG_COMMON_CLK_G12A=n
CONFIG_APPLE_M1_CPU_PMU=n
CONFIG_IMX_SDMA=n
CONFIG_MTD_NAND_FSL_IFC=n
CONFIG_NF_LOG_IPV6=n
CONFIG_INPUT_PM8941_PWRKEY=n
CONFIG_SCSI_UFSHCD_PLATFORM=n
CONFIG_USB_CHIPIDEA_HOST=n
CONFIG_DRM_SII902X=n
CONFIG_SND_SOC_FSL_ESAI=n
CONFIG_ATH11K_PCI=n
CONFIG_FANOTIFY=n
CONFIG_ARCH_RCAR_GEN4=n
CONFIG_BLK_ICQ=n
CONFIG_INTEL_STRATIX10_RSU=n
CONFIG_GCC10_NO_ARRAY_BOUNDS=n
CONFIG_ROCKCHIP_IODOMAIN=n
CONFIG_TI_K3_RINGACC=n
CONFIG_INPUT_XEN_KBDDEV_FRONTEND=n
CONFIG_PCI_PWRCTRL=n
CONFIG_QCOM_INLINE_CRYPTO_ENGINE=n
CONFIG_PWRSEQ_EMMC=n
CONFIG_MISC_RP1=n
CONFIG_MDIO=n
CONFIG_DRM_MESON_DW_MIPI_DSI=n
CONFIG_ARM_APPLE_SOC_CPUFREQ=n
CONFIG_NEW_LEDS=n
CONFIG_ARM_SCMI_PERF_DOMAIN=n
CONFIG_SND_SOC_MT8195=n
CONFIG_RTC_DRV_RK808=n
CONFIG_OF_FPGA_REGION=n
CONFIG_BPF_SYSCALL=n
CONFIG_GPIO_MAX77759=n
CONFIG_MARVELL_88Q2XXX_PHY=n
CONFIG_BALLOON_MIGRATION=n
CONFIG_SND_SOC_MT8183=n
CONFIG_I2C_MESON=n
CONFIG_HAVE_ARCH_KASAN_SW_TAGS=n
CONFIG_RENESAS_GEN4_PTP=n
CONFIG_SC_CAMCC_8280XP=n
CONFIG_COMMON_CLK_MT8188_IMGSYS=n
CONFIG_REGULATOR_RK808=n
CONFIG_PINCTRL_IMX8ULP=n
CONFIG_NET_VENDOR_AMAZON=n
CONFIG_MICROSEMI_PHY=n
CONFIG_SND_SOC_MAX98927=n
CONFIG_USB_NET_MCS7830=n
CONFIG_MFD_CROS_EC_DEV=n
CONFIG_QCOM_GDSC=n
CONFIG_KERNFS=n
CONFIG_SWIOTLB=n
CONFIG_RTC_DRV_IMX_BBM_SCMI=n
CONFIG_HAVE_KVM_VCPU_RUN_PID_CHANGE=n
CONFIG_EVENTFD=n
CONFIG_CLK_RCAR_GEN4_CPG=n
CONFIG_FB_CORE=n
CONFIG_GPIO_CADENCE=n
CONFIG_ARM64_ERRATUM_2067961=n
CONFIG_INTERCONNECT_QCOM_MSM8916=n
CONFIG_MFD_EXYNOS_LPASS=n
CONFIG_LEDS_QCOM_FLASH=n
CONFIG_USB_HID=n
CONFIG_ZSTD_COMPRESS=n
CONFIG_COMMON_CLK_MT8188_MFGCFG=n
CONFIG_ATH10K_PCI=n
CONFIG_SYSVIPC_SYSCTL=n
CONFIG_COMMON_CLK_MT8195_VENCSYS=n
CONFIG_ARCH_R8A77960=n
CONFIG_IIO_TRIGGERED_BUFFER=n
CONFIG_SATA_AHCI=n
CONFIG_NXP_NETC_BLK_CTRL=n
CONFIG_TOUCHSCREEN_HIMAX_HX83112B=n
CONFIG_USE_PERCPU_NUMA_NODE_ID=n
CONFIG_DRM_DW_DP=n
CONFIG_TOUCHSCREEN_GOODIX_BERLIN_CORE=n
CONFIG_ARM_GIC_V3_ITS=n
CONFIG_DRM_EXYNOS_MIC=n
CONFIG_SND_SOC_FSL_SPDIF=n
CONFIG_PINCTRL_RP1=n
CONFIG_ARCH_TEGRA_194_SOC=n
CONFIG_VIDEO_ROCKCHIP_RGA=n
CONFIG_CFG80211_CRDA_SUPPORT=n
CONFIG_TI_MESSAGE_MANAGER=n
CONFIG_FRAMEBUFFER_CONSOLE=n
CONFIG_TEGRA_CLK_DFLL=n
CONFIG_I2C_PXA=n
CONFIG_EXYNOS_AUDSS_CLK_CON=n
CONFIG_PWM_XILINX=n
CONFIG_GENERIC_STRNLEN_USER=n
CONFIG_PCI_LABEL=n
CONFIG_VIDEO_CAMERA_SENSOR=n
CONFIG_HAVE_KVM_IRQCHIP=n
CONFIG_SC_GPUCC_8280XP=n
CONFIG_HOTPLUG_SMT=n
CONFIG_SND_MESON_AXG_TDMOUT=n
CONFIG_SM_DISPCC_6375=n
CONFIG_CAN_RCAR=n
CONFIG_PCIE_ARMADA_8K=n
CONFIG_SYSC_R8A77980=n
CONFIG_QCOM_CLK_APCS_MSM8916=n
CONFIG_RTC_DRV_SNVS=n
CONFIG_MMC_SDHCI_PLTFM=n
CONFIG_CRYPTO_LIB_AES_CBC=n
CONFIG_CLK_R8A774C0=n
CONFIG_COMMON_CLK_MESON_VCLK=n
CONFIG_PHY_PACKAGE=n
CONFIG_SND_IMX_SOC=n
CONFIG_CPU_FREQ_GOV_COMMON=n
CONFIG_FIRMWARE_TABLE=n
CONFIG_VIRTIO_MMIO=n
CONFIG_ARCH_WANT_PMD_MKWRITE=n
CONFIG_E1000=n
CONFIG_TPS6594_ESM=n
CONFIG_APERTURE_HELPERS=n
CONFIG_NF_DEFRAG_IPV4=n
CONFIG_SCSI_DMA=n
CONFIG_FPGA_MGR_STRATIX10_SOC=n
CONFIG_SPI_QCOM_QSPI=n
CONFIG_IMX_SCMI_CPU_DRV=n
CONFIG_HAVE_PWRCTRL=n
CONFIG_ROCKCHIP_PM_DOMAINS=n
CONFIG_ARCH_R9A09G047=n
CONFIG_COMMON_CLK_MT8167_IMGSYS=n
CONFIG_ARM64_ERRATUM_1165522=n
CONFIG_SDM_GCC_660=n
CONFIG_QCOM_TZMEM=n
CONFIG_THUNDER_NIC_PF=n
CONFIG_DEBUG_INFO_DWARF_TOOLCHAIN_DEFAULT=n
CONFIG_FW_LOADER=n
CONFIG_I2C_GPIO=n
CONFIG_SYSC_R9A08G045=n
CONFIG_PINCTRL_QCS8300=n
CONFIG_DEVFREQ_GOV_SIMPLE_ONDEMAND=n
CONFIG_MFD_MT6360=n
CONFIG_PHY_QCOM_USB_HS=n
CONFIG_SERIAL_MESON_CONSOLE=n
CONFIG_SC_LPASS_CORECC_7280=n
CONFIG_PCIE_DW_HOST=n
CONFIG_ARCH_EXYNOS=n
CONFIG_DRM_MEDIATEK_HDMI_V2=n
CONFIG_NET_9P=n
CONFIG_CHARGER_CROS_CONTROL=n
