CONFIG_PSTORE=y
CONFIG_BH1780=y
CONFIG_PHY_ROCKCHIP_TYPEC=y
CONFIG_SENSORS_NCT6775_I2C=y
CONFIG_X86_SPEEDSTEP_LIB=y
CONFIG_ISL29501=y
CONFIG_FPGA_MGR_VERSAL_FPGA=y
CONFIG_I2C_USBIO=y
CONFIG_ARMADA_AP_CPU_CLK=y
CONFIG_USB_DWC3_QCOM=y
CONFIG_SPI_OMAP24XX=y
CONFIG_KEYBOARD_MPR121=y
CONFIG_CHARGER_RT5033=y
CONFIG_ARM_ARMADA_37XX_CPUFREQ=y
CONFIG_PHY_ROCKCHIP_INNO_HDMI=y
CONFIG_CC_HAS_ASM_GOTO_OUTPUT=y
CONFIG_GENERIC_CPU_AUTOPROBE=y
CONFIG_EDD=y
CONFIG_REGULATOR_TPS65132=y
CONFIG_FB_OMAP2_PANEL_SHARP_LS037V7DW01=y
CONFIG_TCG_TIS_ST33ZP24=y
CONFIG_SOFTIRQ_ON_OWN_STACK=y
CONFIG_RMI4_CORE=y
CONFIG_DEBUG_IRQFLAGS=y
CONFIG_SENSORS_MAX197=y
CONFIG_ASPEED_SOCINFO=y
CONFIG_SENSORS_LM75=y
CONFIG_AL3010=y
CONFIG_EFI_RUNTIME_WRAPPERS=y
CONFIG_PINCTRL_RK805=y
CONFIG_GPIO_MAX7360=y
CONFIG_EXYNOS_MBOX=y
CONFIG_CHECKPOINT_RESTORE=y
CONFIG_COMMON_CLK_MT2712_VENCSYS=y
CONFIG_REGULATOR_DA9210=y
CONFIG_MTD_PHYSMAP=y
CONFIG_ARCH_SUSPEND_POSSIBLE=y
CONFIG_SPI_ALTERA=y
CONFIG_CHARGER_RT9455=y
CONFIG_QCOM_SPMI_ADC_TM5=y
CONFIG_KEYBOARD_PINEPHONE=y
CONFIG_AD7766=y
CONFIG_COMEDI_II_PCI20KC=y
CONFIG_SENSORS_IBMAEM=y
CONFIG_KGDB=y
CONFIG_ARCH_HAS_CACHE_LINE_SIZE=y
CONFIG_JOYSTICK_GUILLEMOT=y
CONFIG_SENSORS_GXP_FAN_CTRL=y
CONFIG_ARCH_SUPPORTS_KEXEC=y
CONFIG_EXTCON_PALMAS=y
CONFIG_NSM=y
CONFIG_NVMEM_RCAR_EFUSE=y
CONFIG_SPI_NPCM_PSPI=y
CONFIG_POLARFIRE_SOC_SYS_CTRL=y
CONFIG_THERMAL_EMULATION=y
CONFIG_SYSC_R8A77961=y
CONFIG_W1_SLAVE_SMEM=y
CONFIG_EXAR_WDT=y
CONFIG_RTC_DRV_PCF2123=y
CONFIG_X86_NATIVE_CPU=y
CONFIG_HAVE_POSIX_CPU_TIMERS_TASK_WORK=y
CONFIG_ACPI_DEBUG=y
CONFIG_HAVE_ARCH_SOFT_DIRTY=y
CONFIG_PINCTRL_ELKHARTLAKE=y
CONFIG_RTC_DRV_88PM860X=y
CONFIG_BATTERY_RT5033=y
CONFIG_DRM_PANEL_ORIENTATION_QUIRKS=y
CONFIG_RTC_DRV_RK808=y
CONFIG_GPIO_ZYNQ=y
CONFIG_SENSORS_PM6764TR=y
CONFIG_COMEDI_AMPLC_PC236=y
CONFIG_PHY_ROCKCHIP_PCIE=y
CONFIG_MFD_ATMEL_SMC=y
CONFIG_MLX_WDT=y
CONFIG_SPACEMIT_K3_CCU=y
CONFIG_SPI_ROCKCHIP=y
CONFIG_PINCTRL_SKY1=y
CONFIG_PINCTRL_MCP23S08=y
CONFIG_SENSORS_LIS3_I2C=y
CONFIG_MUX_GPIO=y
CONFIG_MEDIATEK_MT6370_ADC=y
CONFIG_MFD_TPS6594=y
CONFIG_SIOX=y
CONFIG_FB_OMAP2_DSS_DSI=y
CONFIG_TSL2583=y
CONFIG_REGULATOR_MAX77541=y
CONFIG_RCAR_GEN3_THERMAL=y
CONFIG_REGULATOR_PV88080=y
CONFIG_MFD_LP3943=y
CONFIG_IPMI_POWEROFF=y
CONFIG_ARM_CCN=y
CONFIG_AUXILIARY_BUS=y
CONFIG_IIO_ADIS_LIB=y
CONFIG_CRYPTO_ARIA_AESNI_AVX2_X86_64=y
CONFIG_PHY_MTK_PCIE=y
CONFIG_SENSORS_ABITUGURU3=y
CONFIG_PIC32_EVIC=y
CONFIG_USER_DECRYPTED_DATA=y
CONFIG_HAVE_ARCH_TRACEHOOK=y
CONFIG_SERIO_SERPORT=y
CONFIG_PINCTRL_MOOREFIELD=y
CONFIG_REGULATOR_MAX77650=y
CONFIG_HI3660_MBOX=y
CONFIG_TCG_INFINEON=y
CONFIG_REGULATOR_S2MPA01=y
CONFIG_GENERIC_CLOCKEVENTS_MIN_ADJUST=y
CONFIG_NLS_CODEPAGE_932=y
CONFIG_DEBUG_PERF_USE_VMALLOC=y
CONFIG_NLS_ISO8859_2=y
CONFIG_GROUP_SCHED_BANDWIDTH=y
CONFIG_VIDEOMODE_HELPERS=y
CONFIG_HAVE_BUILDTIME_MCOUNT_SORT=y
CONFIG_HAVE_SOFTIRQ_ON_OWN_STACK=y
CONFIG_RTC_DRV_MOXART=y
CONFIG_HAVE_PCI=y
CONFIG_COMMON_CLK_MT8188_WPESYS=y
CONFIG_ZPA2326_I2C=y
CONFIG_MFD_LM3533=y
CONFIG_COMEDI_AMPLC_DIO200_ISA=y
CONFIG_SENSORS_PECI=y
CONFIG_RTC_DRV_MA35D1=y
CONFIG_CADENCE_TTC_TIMER=y
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO=y
CONFIG_NLS_CODEPAGE_936=y
CONFIG_SAMPLE_KOBJECT=y
CONFIG_MEMCG=y
CONFIG_DA311=y
CONFIG_KEYBOARD_IMX_SC_KEY=y
CONFIG_COMMON_CLK_XLNX_CLKWZRD=y
CONFIG_MTD_MAP_BANK_WIDTH_1=y
CONFIG_FB_BACKLIGHT=y
CONFIG_LOCKUP_DETECTOR=y
CONFIG_NVMEM_LAYERSCAPE_SFP=y
CONFIG_SUN4I_GPADC=y
CONFIG_IIO_ST_LSM6DSX_I2C=y
CONFIG_SPI_UNIPHIER=y
CONFIG_OF_GPIO=y
CONFIG_REED_SOLOMON_DEC16=y
CONFIG_CRYPTO_CAST5=y
CONFIG_USB_ROLE_SWITCH=y
CONFIG_GPIO_LATCH=y
CONFIG_VL53L1X_I2C=y
CONFIG_CLZ_TAB=y
CONFIG_RTC_DRV_R7301=y
CONFIG_SENSORS_MAX16601=y
CONFIG_I2C_QCOM_CCI=y
CONFIG_LPC32XX_ADC=y
CONFIG_LEDS_TCA6507=y
CONFIG_MFD_MAX77693=y
CONFIG_LIST_HARDENED=y
CONFIG_SENSORS_TPS40422=y
CONFIG_CRYPTO_BLOWFISH=y
CONFIG_CRYPTO_DEV_JH7110=y
CONFIG_MFD_MAX77541=y
CONFIG_NVMEM_SPMI_SDAM=y
CONFIG_X86_DISABLED_FEATURE_CENTAUR_MCR=y
CONFIG_DA9063_WATCHDOG=y
CONFIG_RENESAS_RZAWDT=y
CONFIG_USB_EHCI_HCD_OMAP=y
CONFIG_IIO_CONFIGFS=y
CONFIG_AK8975=y
CONFIG_HAS_DMA=y
CONFIG_SENSORS_TMP108=y
CONFIG_NEED_PER_CPU_PAGE_FIRST_CHUNK=y
CONFIG_PINCTRL_IMX8MQ=y
CONFIG_PHY_MTK_MIPI_CSI_0_5=y
CONFIG_JOYSTICK_WARRIOR=y
CONFIG_INPUT_FF_MEMLESS=y
CONFIG_USB_DWC3_ST=y
CONFIG_COMEDI_FL512=y
CONFIG_MAX14001=y
CONFIG_DEBUG_INFO_DWARF4=y
CONFIG_COMEDI_ISA_DRIVERS=y
CONFIG_SERIAL_8250=y
CONFIG_PINCTRL_IMX8MP=y
CONFIG_RTC_DRV_AMLOGIC_A4=y
CONFIG_MFD_SC27XX_PMIC=y
CONFIG_MFD_SUN4I_GPADC=y
CONFIG_IPMI_SI=y
CONFIG_X86_EXTENDED_PLATFORM=y
CONFIG_PHY_RALINK_USB=y
CONFIG_I2C_ATR=y
CONFIG_PAHOLE_HAS_LANG_EXCLUDE=y
CONFIG_SENSORS_ADP1050=y
CONFIG_VF610_DAC=y
CONFIG_KEYBOARD_STOWAWAY=y
CONFIG_BACKLIGHT_LED=y
CONFIG_WAFER_WDT=y
CONFIG_CLKSRC_STM32_LP=y
CONFIG_RTC_DRV_RX8010=y
CONFIG_STRICT_KERNEL_RWX=y
CONFIG_GPIO_ADP5585=y
CONFIG_MTD=y
CONFIG_USB_ARCH_HAS_HCD=y
CONFIG_ATCWDT200_WATCHDOG=y
CONFIG_SUN5I_CCU=y
CONFIG_PINCTRL_TEGRA234=y
CONFIG_PINCTRL_PFC_R8A77970=y
CONFIG_COMMON_CLK_MT8516_AUDSYS=y
CONFIG_MFD_INTEL_M10_BMC_CORE=y
CONFIG_PTE_MARKER_UFFD_WP=y
CONFIG_VEML6030=y
CONFIG_QCOM_COMMAND_DB=y
CONFIG_FB_PXA168=y
CONFIG_CRYPTO_DEV_QCE_ENABLE_SKCIPHER=y
CONFIG_MXC4005=y
CONFIG_ARCH_SUPPORTS_KEXEC_JUMP=y
CONFIG_UML_WATCHDOG=y
CONFIG_I2C_STM32F4=y
CONFIG_CHARGER_BQ2415X=y
CONFIG_ADI_AXI_DAC=y
CONFIG_REGULATOR_MCP16502=y
CONFIG_HAVE_UACCESS_VALIDATION=y
CONFIG_PINCTRL_BCM6358=y
CONFIG_SENSORS_IBMPEX=y
CONFIG_WATCHDOG=y
CONFIG_SENSORS_LT3074_REGULATOR=y
CONFIG_CONFIGFS_FS=y
CONFIG_SLIMBUS=y
CONFIG_FIX_EARLYCON_MEM=y
CONFIG_CRYPTO_SIG=y
CONFIG_MFD_TPS65912_SPI=y
CONFIG_SUNPLUS_SP7021_INTC=y
CONFIG_MTD_NAND_CORE=y
CONFIG_VIDEO=y
CONFIG_REED_SOLOMON_ENC8=y
CONFIG_CRC16=y
CONFIG_REGULATOR=y
CONFIG_CRYPTO_DEV_ALLWINNER=y
CONFIG_LEDS_LP8788=y
CONFIG_PINCTRL_TEGRA_XUSB=y
CONFIG_FB_OPENCORES=y
CONFIG_COMEDI_DAC02=y
CONFIG_SSB_PCMCIAHOST_POSSIBLE=y
CONFIG_CC_HAS_NAMED_AS_FIXED_SANITIZERS=y
CONFIG_EFI_EARLYCON=y
CONFIG_VFIO_AMBA=y
CONFIG_HAVE_FUNCTION_ARG_ACCESS_API=y
CONFIG_SPI_SLAVE_MT27XX=y
CONFIG_INTERVAL_TREE=y
CONFIG_RESET_CONTROLLER=y
CONFIG_ARCH_USE_MEMTEST=y
CONFIG_ROCKCHIP_IODOMAIN=y
CONFIG_NXP_PIT_TIMER=y
CONFIG_COMEDI_PCL711=y
CONFIG_HAVE_ARCH_VMAP_STACK=y
CONFIG_I2C_VIPERBOARD=y
CONFIG_TCG_TIS_SPI=y
CONFIG_PAC1921=y
CONFIG_ASPEED_LPC_SNOOP=y
CONFIG_GPIO_WS16C48=y
CONFIG_SENSORS_LM25066_REGULATOR=y
CONFIG_ARCH_USE_CMPXCHG_LOCKREF=y
CONFIG_TCG_TIS_CORE=y
CONFIG_HW_RANDOM_HISI=y
CONFIG_CRYPTO_LIB_SHA1=y
CONFIG_RESET_ASPEED=y
CONFIG_GENERIC_NET_UTILS=y
CONFIG_X86_DIRECT_GBPAGES=y
CONFIG_ARCH_HAS_ACPI_TABLE_UPGRADE=y
CONFIG_SPI_TI_QSPI=y
CONFIG_GENERIC_STRNLEN_USER=y
CONFIG_SENSORS_MP5990=y
CONFIG_PHY_QCOM_EDP=y
CONFIG_NO_HZ_IDLE=y
CONFIG_PINCTRL_PISTACHIO=y
CONFIG_EXYNOS_ACPM_PROTOCOL=y
CONFIG_X86_DISABLED_FEATURE_UNRET=y
CONFIG_PREEMPT_RCU=y
CONFIG_SERIAL_8250_TEGRA=y
CONFIG_PINCTRL_EMMITSBURG=y
CONFIG_BCM63XX_POWER=y
CONFIG_RTC_DRV_MAX77686=y
CONFIG_SENSORS_HIH6130=y
CONFIG_PTDUMP=y
CONFIG_AD7293=y
CONFIG_PERF_EVENTS_AMD_BRS=y
CONFIG_USB_EMI62=y
CONFIG_HW_RANDOM_ATMEL=y
CONFIG_FB_IOMEM_HELPERS=y
CONFIG_AUTOFS_FS=y
CONFIG_PINCTRL_IMX6SL=y
CONFIG_CRYPTO_LIB_POLY1305_ARCH=y
CONFIG_MFD_MP2629=y
CONFIG_IMX8QXP_ADC=y
CONFIG_PINCTRL_MT7981=y
CONFIG_STARFIVE_JHB100_INTC=y
CONFIG_IMX93_ADC=y
CONFIG_USB_HCD_SSB=y
CONFIG_X86_REQUIRED_FEATURE_UP=y
CONFIG_HSC030PA_I2C=y
CONFIG_I8K=y
CONFIG_REGULATOR_RT5759=y
CONFIG_AD7150=y
CONFIG_TH1520_PM_DOMAINS=y
CONFIG_PINCTRL_ASPEED_G6=y
CONFIG_ARCH_SUPPORTS_KEXEC_SIG=y
CONFIG_CRYPTO_SERPENT_AVX_X86_64=y
CONFIG_SUN8I_R_CCU=y
CONFIG_MTD_CFI_ADV_OPTIONS=y
CONFIG_KEYBOARD_MATRIX=y
CONFIG_SURFACE_GPE=y
CONFIG_ARCH_ENABLE_HUGEPAGE_MIGRATION=y
CONFIG_TSL2772=y
CONFIG_ASPEED_KCS_IPMI_BMC=y
CONFIG_MFD_IQS62X=y
CONFIG_NVMEM_IMX_OCOTP_ELE=y
CONFIG_HAVE_RELIABLE_STACKTRACE=y
CONFIG_SENSORS_IBM_CFFPS=y
CONFIG_BATTERY_PM8916_BMS_VM=y
CONFIG_X86_DISABLED_FEATURE_XENPV=y
CONFIG_AD7091R8=y
CONFIG_CRYPTO_STREEBOG=y
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_ARGS=y
CONFIG_USB_CHAOSKEY=y
CONFIG_ARCH_WANTS_THP_SWAP=y
CONFIG_FB=y
CONFIG_I2C_AXXIA=y
CONFIG_SENSORS_W83795=y
CONFIG_COMEDI_RTI800=y
CONFIG_BACKLIGHT_LM3639=y
CONFIG_NVMEM_APPLE_SPMI=y
CONFIG_COMMON_CLK_MT8173=y
CONFIG_GPIO_IDT3243X=y
CONFIG_NLS_MAC_CROATIAN=y
CONFIG_AD5686=y
CONFIG_MFD_SEC_I2C=y
CONFIG_PINCTRL_BCM6318=y
CONFIG_FB_SH_MOBILE_LCDC=y
CONFIG_MTD_NAND_NDFC=y
CONFIG_MFD_WM831X_I2C=y
CONFIG_CLK_ACTIONS=y
CONFIG_MTD_CFI_UTIL=y
CONFIG_USER_NS=y
CONFIG_SPI_SPRD_ADI=y
CONFIG_HAVE_PERF_USER_STACK_DUMP=y
CONFIG_TI_DAC7612=y
CONFIG_SPI_TEGRA20_SFLASH=y
CONFIG_HUGETLB_PAGE_OPTIMIZE_VMEMMAP=y
CONFIG_COMMON_CLK_LAN966X=y
CONFIG_FB_MODE_HELPERS=y
CONFIG_SERIAL_8250_CONSOLE=y
CONFIG_PACKING=y
CONFIG_HAVE_SETUP_PER_CPU_AREA=y
CONFIG_BUG=y
CONFIG_FAULT_INJECTION_CONFIGFS=y
CONFIG_IOMMUFD_DRIVER_CORE=y
CONFIG_ASPEED_P2A_CTRL=y
CONFIG_PHY_UNIPHIER_USB3=y
CONFIG_RTC_DRV_FM3130=y
CONFIG_CRYPTO_ECB=y
CONFIG_MARVELL_PEM_PMU=y
CONFIG_I2C_TEGRA=y
CONFIG_IIO_TRIGGERED_EVENT=y
CONFIG_KEYBOARD_QT1050=y
CONFIG_NEED_PER_CPU_EMBED_FIRST_CHUNK=y
CONFIG_AD799X=y
CONFIG_CACHESTAT_SYSCALL=y
CONFIG_INGENIC_CGU_JZ4780=y
CONFIG_MCP9600=y
CONFIG_FPGA_MGR_MICROCHIP_SPI=y
CONFIG_PINCTRL_LOONGSON2=y
CONFIG_FW_UPLOAD=y
CONFIG_SERIAL_MCTRL_GPIO=y
CONFIG_MTD_NAND_OMAP2=y
CONFIG_CHARGER_ISP1704=y
CONFIG_GPIO_ARIZONA=y
CONFIG_SENSORS_SHT21=y
CONFIG_PINCTRL_IPROC_GPIO=y
CONFIG_LEDS_SC27XX_BLTC=y
CONFIG_FXAS21002C_I2C=y
CONFIG_GPIO_MVEBU=y
CONFIG_IIO_TRIGGER=y
CONFIG_USB_QCOM_EUD=y
CONFIG_OMAP5_THERMAL=y
CONFIG_HAVE_PERF_EVENTS_NMI=y
CONFIG_I2C_DIGICOLOR=y
CONFIG_FB_OMAP2_CONNECTOR_ANALOG_TV=y
CONFIG_RTC_DRV_DS1672=y
CONFIG_APDS9306=y
CONFIG_VFIO_VIRQFD=y
CONFIG_PHY_QCOM_QMP_USB=y
CONFIG_MTD_OF_PARTS_BCM4908=y
CONFIG_SUNIV_F1C100S_CCU=y
CONFIG_DAX=y
CONFIG_PAGE_MAPCOUNT=y
CONFIG_CRYPTO_SM3=y
CONFIG_SENSORS_W83791D=y
CONFIG_MCP4922=y
CONFIG_MPU3050=y
CONFIG_BMG160=y
CONFIG_RTC_DRV_WM831X=y
CONFIG_SENSORS_DELTA_AHE50DC_FAN=y
CONFIG_BACKLIGHT_KTD253=y
CONFIG_PINCTRL_STM32_HDP=y
CONFIG_BCM2835_POWER=y
CONFIG_ARCH_HAS_GIGANTIC_PAGE=y
CONFIG_ARCH_SUPPORTS_KEXEC_PURGATORY=y
CONFIG_PCMCIA=y
CONFIG_IMX_SCU_PD=y
CONFIG_KEYBOARD_TWL4030=y
CONFIG_SPEAR_ADC=y
CONFIG_PINCTRL_PFC_SH7264=y
CONFIG_FB_SSD1307=y
CONFIG_ARCH_WANTS_CLOCKSOURCE_READ_INLINE=y
CONFIG_MOXTET=y
CONFIG_REALTEK_OTTO_WDT=y
CONFIG_RTC_DRV_RX8025=y
CONFIG_ARM_SMMU_LEGACY_DT_BINDINGS=y
CONFIG_RESET_MESON=y
CONFIG_ENVELOPE_DETECTOR=y
CONFIG_FPGA_DFL_NIOS_INTEL_PAC_N3000=y
CONFIG_RTC_DRV_LP8788=y
CONFIG_BROADCAST_TLB_FLUSH=y
CONFIG_I2C_DESIGNWARE_PLATFORM=y
CONFIG_X9250=y
CONFIG_HAVE_ACPI_APEI=y
CONFIG_ARCH_MHP_MEMMAP_ON_MEMORY_ENABLE=y
CONFIG_DEVFREQ_GOV_PASSIVE=y
CONFIG_XILINX_VCU=y
CONFIG_LITEX_SOC_CONTROLLER=y
CONFIG_STK8BA50=y
CONFIG_ARCH_DEFAULT_CRASH_DUMP=y
CONFIG_LTRF216A=y
CONFIG_HAVE_OPTPROBES=y
CONFIG_GPIO_DAVINCI=y
CONFIG_X86_REQUIRED_FEATURE_PAE=y
CONFIG_PINCTRL_BERLIN_BG4CT=y
CONFIG_GENERIC_EARLY_IOREMAP=y
CONFIG_REGULATOR_SY8824X=y
CONFIG_BROKEN_ON_SMP=y
CONFIG_ACPI_PFRUT=y
CONFIG_LEDS_LP5562=y
CONFIG_APERTURE_HELPERS=y
CONFIG_QFMT_V1=y
CONFIG_LEDS_TRIGGER_CAMERA=y
CONFIG_MFD_SKY81452=y
CONFIG_HAVE_VIRT_CPU_ACCOUNTING_GEN=y
CONFIG_MSC313E_WATCHDOG=y
CONFIG_TEGRA20_EMC=y
CONFIG_GENERIC_IRQ_INJECTION=y
CONFIG_SENSORS_NSA320=y
CONFIG_CRYPTO_LIB_POLY1305=y
CONFIG_MTD_NAND_DENALI=y
CONFIG_COMEDI_CB_DAS16_CS=y
CONFIG_I2C_DEMUX_PINCTRL=y
CONFIG_RESET_BERLIN=y
CONFIG_AOSONG_AGS02MA=y
CONFIG_PHY_QCOM_QMP_PCIE=y
CONFIG_RTC_DRV_STMP=y
CONFIG_CONSTRUCTORS=y
CONFIG_64BIT=y
CONFIG_SENSORS_LM3533=y
CONFIG_VFIO_PLATFORM=y
CONFIG_LOONGSON2_GUTS=y
CONFIG_XZ_DEC_BCJ=y
CONFIG_FPGA_MGR_LATTICE_SYSCONFIG_SPI=y
CONFIG_FPGA_DFL_FME=y
CONFIG_CONTEXT_TRACKING_IDLE=y
CONFIG_LEDS_OT200=y
CONFIG_ARCH_HAS_PTE_SPECIAL=y
CONFIG_ARCH_HAS_SYNC_CORE_BEFORE_USERMODE=y
CONFIG_USB_SEVSEG=y
CONFIG_SPARSEMEM_VMEMMAP_ENABLE=y
CONFIG_INPUT_CM109=y
CONFIG_USB_LINK_LAYER_TEST=y
CONFIG_IXP4XX_QMGR=y
CONFIG_MFD_MADERA_SPI=y
CONFIG_INPUT_SOC_BUTTON_ARRAY=y
CONFIG_MTK_INFRACFG=y
CONFIG_LEDS_MLXCPLD=y
CONFIG_I2CR_SCOM=y
CONFIG_REGULATOR_MAX77693=y
CONFIG_IRSD200=y
CONFIG_CRYPTO_ENGINE=y
CONFIG_SERIO_APBPS2=y
CONFIG_ADF4350=y
CONFIG_JOYSTICK_ADC=y
CONFIG_LEDS_SPI_BYTE=y
CONFIG_EXTCON_FSA9480=y
CONFIG_ADIS16136=y
CONFIG_SPI_SIFIVE=y
CONFIG_SPI_REALTEK_SNAND=y
CONFIG_JOYSTICK_COBRA=y
CONFIG_PINCTRL_IMX93=y
CONFIG_IAQCORE=y
CONFIG_RTC_INTF_DEV_UIE_EMUL=y
CONFIG_HAVE_GUP_FAST=y
CONFIG_FSL_DPAA_CHECKING=y
CONFIG_INGENIC_ADC=y
CONFIG_COMMON_CLK_MT7981_ETHSYS=y
CONFIG_SENSORS_W83795_FANCTRL=y
CONFIG_SCREEN_INFO=y
CONFIG_PINCTRL_ASPEED=y
CONFIG_IOMMUFD_VFIO_CONTAINER=y
CONFIG_RCU_BOOST=y
CONFIG_BME680_I2C=y
CONFIG_TURRIS_OMNIA_MCU=y
CONFIG_TI_DAC082S085=y
CONFIG_CLK_R9A09G047=y
