CONFIG_NET_VENDOR_TI=n
CONFIG_FUSE_IO_URING=n
CONFIG_AHCI_CEVA=n
CONFIG_MFD_KHADAS_MCU=n
CONFIG_INTERCONNECT_QCOM_MSM8953=n
CONFIG_HARDIRQS_SW_RESEND=n
CONFIG_ARM64_MTE=n
CONFIG_APERTURE_HELPERS=n
CONFIG_ASSOCIATIVE_ARRAY=n
CONFIG_HAVE_EXTRA_IPI_TRACEPOINTS=n
CONFIG_SPI_MASTER=n
CONFIG_ARCH_HAS_SYNC_DMA_FOR_DEVICE=n
CONFIG_USB_RTL8152=n
CONFIG_SND_SOC_LPASS_TX_MACRO=n
CONFIG_USB_DWC2=n
CONFIG_SCSI_SAS_ATA=n
CONFIG_COMMON_CLK_HI3559A=n
CONFIG_CRYPTO_AES=n
CONFIG_RPMSG_MTK_SCP=n
CONFIG_USB_CDNS3_IMX=n
CONFIG_CRYPTO_LIB_SHA256=n
CONFIG_LEDS_TRIGGER_DEFAULT_ON=n
CONFIG_COMMON_CLK_MESON_DUALDIV=n
CONFIG_COMMON_CLK_MT8192_MDPSYS=n
CONFIG_GPIO_RCAR=n
CONFIG_AT803X_PHY=n
CONFIG_ARCH_R9A08G046=n
CONFIG_ARCH_R8A774E1=n
CONFIG_CRYPTO_DEV_TEGRA=n
CONFIG_CLK_GFM_LPASS_SM8250=n
CONFIG_SND=n
CONFIG_MHI_WWAN_MBIM=n
CONFIG_MLX5_BRIDGE=n
CONFIG_HAVE_FUNCTION_TRACER=n
CONFIG_SND_SOC_TEGRA210_MVC=n
CONFIG_V4L2_H264=n
CONFIG_ARCH_ZYNQMP=n
CONFIG_TIMER_OF=n
CONFIG_BCM2835_THERMAL=n
CONFIG_ACPI_APEI_MEMORY_FAILURE=n
CONFIG_SPI_RPCIF=n
CONFIG_CRYPTO_DEV_ALLWINNER=n
CONFIG_PINCTRL_MT8186=n
CONFIG_GPIO_XGENE=n
CONFIG_MFD_SEC_CORE=n
CONFIG_TASKS_TRACE_RCU=n
CONFIG_SC_LPASSCC_8280XP=n
CONFIG_SM_GCC_6115=n
CONFIG_INTERCONNECT_QCOM_SM8450=n
CONFIG_ACPI_I2C_OPREGION=n
CONFIG_ARCH_R8A779H0=n
CONFIG_VIDEO_ROCKCHIP_CIF=n
CONFIG_FUSE_PASSTHROUGH=n
CONFIG_CRYPTO_DEV_HISI_SEC2=n
CONFIG_SYSVIPC=n
CONFIG_TI_SCI_PROTOCOL=n
CONFIG_I2C_GPIO=n
CONFIG_STM=n
CONFIG_RTL_CARDS=n
CONFIG_RENESAS_USB_DMAC=n
CONFIG_QCOM_SYSMON=n
CONFIG_FPGA_MGR_VERSAL_FPGA=n
CONFIG_IGB=n
CONFIG_PTP_1588_CLOCK_OPTIONAL=n
CONFIG_POSIX_MQUEUE=n
CONFIG_ARM_ARCH_TIMER_EVTSTREAM=n
CONFIG_VIDEO_IMX8_ISI_M2M=n
CONFIG_WATCHDOG=n
CONFIG_CROS_EC_SENSORHUB=n
CONFIG_KEYBOARD_GPIO=n
CONFIG_SOC_TI=n
CONFIG_SND_JACK_INPUT_DEV=n
CONFIG_ZONE_DMA=n
CONFIG_PINCTRL_SKY1_BASE=n
CONFIG_CRYPTO_DES=n
CONFIG_ARCH_HAS_SYNC_DMA_FOR_CPU=n
CONFIG_VIDEO_IMX8_JPEG=n
CONFIG_COMMON_CLK_MT8167_AUDSYS=n
CONFIG_ARM64_E0PD=n
CONFIG_ARM64_AS_HAS_MTE=n
CONFIG_SND_SOC_DA7213=n
CONFIG_CRYPTO_KRB5=n
CONFIG_ARCH_USE_SYM_ANNOTATIONS=n
CONFIG_STACKTRACE=n
CONFIG_SCHED_CACHE=n
CONFIG_THERMAL_OF=n
CONFIG_PTP_1588_CLOCK_DTE=n
CONFIG_PAGE_SIZE_LESS_THAN_256KB=n
CONFIG_HAVE_ACPI_APEI=n
CONFIG_ARCH_MHP_MEMMAP_ON_MEMORY_ENABLE=n
CONFIG_DRM_EXYNOS_HDMI=n
CONFIG_PHY_XGENE=n
CONFIG_PINCTRL_SOPHGO_CV18XX_OPS=n
CONFIG_UTS_NS=n
CONFIG_PROC_FS=n
CONFIG_VIDEO_CAMERA_LENS=n
CONFIG_SND_SOC_LPASS_SC7180=n
CONFIG_SHMEM=n
CONFIG_STM32_DMA3=n
CONFIG_REGMAP_IRQ=n
CONFIG_BT_HCIUART_SERDEV=n
CONFIG_ARM64_ERRATUM_1508412=n
CONFIG_COMMON_CLK_MT8183_AUDIOSYS=n
CONFIG_XILINX_ZYNQMP_DMA=n
CONFIG_IPV6_NDISC_NODETYPE=n
CONFIG_MTD_GEN_PROBE=n
CONFIG_ARCH_SUPPORTS_RT=n
CONFIG_SND_SOC_WCD938X_SDW=n
CONFIG_MODULES_USE_ELF_RELA=n
CONFIG_NEED_TASKS_RCU=n
CONFIG_CLK_RCAR_GEN4_CPG=n
CONFIG_ARCH_SUPPORTS_SHADOW_CALL_STACK=n
CONFIG_IRQCHIP=n
CONFIG_PHY_QCOM_USB_HS_28NM=n
CONFIG_FSL_XGMAC_MDIO=n
CONFIG_SND_SOC_QDSP6_AFE_CLOCKS=n
CONFIG_COMMON_CLK_MT8188_CAMSYS=n
CONFIG_MTD_SPI_NOR=n
CONFIG_SA_DISPCC_8775P=n
CONFIG_QCOM_IOMMU=n
CONFIG_NAMESPACES=n
CONFIG_VIDEOBUF2_VMALLOC=n
CONFIG_CRYPTO_RNG2=n
CONFIG_RPMSG_QCOM_GLINK_RPM=n
CONFIG_MVEBU_ODMI=n
CONFIG_SND_SOC_WM_HUBS=n
CONFIG_PHYLIB_LEDS=n
CONFIG_SCHED_HRTICK=n
CONFIG_MHI_BUS_PCI_GENERIC=n
CONFIG_DRM_DISPLAY_HDMI_CEC_HELPER=n
CONFIG_LZ4_COMPRESS=n
CONFIG_AS_HAS_MOPS=n
CONFIG_RTC_DRV_HYM8563=n
CONFIG_TICK_CPU_ACCOUNTING=n
CONFIG_MMC_SDHCI_OF_SPARX5=n
CONFIG_QCOM_SMSM=n
CONFIG_LOGO_LINUX_CLUT224=n
CONFIG_PHY_MESON_G12A_USB2=n
CONFIG_ELFCORE=n
CONFIG_USB_DWC3_PCI=n
CONFIG_MEDIA_CEC_SUPPORT=n
CONFIG_MOUSE_PS2_LOGIPS2PP=n
CONFIG_HW_RANDOM_HISTB=n
CONFIG_NUMA_BALANCING_DEFAULT_ENABLED=n
CONFIG_MV_XOR=n
CONFIG_SND_SIMPLE_CARD_UTILS=n
CONFIG_DWMAC_IPQ806X=n
CONFIG_BLK_DEV_DM=n
CONFIG_ARM64_LPA2=n
CONFIG_ARCH_R8A774C0=n
CONFIG_SND_SOC_J721E_EVM=n
CONFIG_MLX5_CORE_EN=n
CONFIG_ENERGY_MODEL=n
CONFIG_NVIDIA_CORESIGHT_PMU_ARCH_SYSTEM_PMU=n
CONFIG_STMMAC_ETH=n
CONFIG_KEYBOARD_ATKBD=n
CONFIG_VIDEO_SYNOPSYS_HDMIRX=n
CONFIG_ARCH_HAS_DEBUG_WX=n
CONFIG_PINCTRL_RTD=n
CONFIG_CC_HAS_AUTO_VAR_INIT_PATTERN=n
CONFIG_ARCH_WANT_FRAME_POINTERS=n
CONFIG_DRM_DISPLAY_DSC_HELPER=n
CONFIG_COMMON_CLK_MT8192=n
CONFIG_VIDEO_SAMSUNG_S5P_MFC=n
CONFIG_ARCH_SUPPORTS_SCHED_CLUSTER=n
CONFIG_ROCKCHIP_ERRATUM_3588001=n
CONFIG_PHY_ROCKCHIP_NANENG_COMBO_PHY=n
CONFIG_MFD_QCOM_PM8008=n
CONFIG_PHY_SUN6I_MIPI_DPHY=n
CONFIG_HAVE_ARCH_SECCOMP=n
CONFIG_CRYPTO_USER_API_RNG=n
CONFIG_ARCH_SUPPORTS_SCHED_SMT=n
CONFIG_USB_NET_MCS7830=n
CONFIG_CRYPTO_LIB_AES=n
CONFIG_ARCH_HAS_STRICT_MODULE_RWX=n
CONFIG_OF_FPGA_REGION=n
CONFIG_X509_CERTIFICATE_PARSER=n
CONFIG_HAVE_CMPXCHG_LOCAL=n
CONFIG_HOTPLUG_CORE_SYNC_DEAD=n
CONFIG_SYSC_R8A77961=n
CONFIG_CORESIGHT_LINK_AND_SINK_TMC=n
CONFIG_SND_SOC_MT8365=n
CONFIG_QUOTA=n
CONFIG_USB_EHCI_HCD_ORION=n
CONFIG_PHY_MVEBU_A3700_UTMI=n
CONFIG_CLK_KAANAPALI_GCC=n
CONFIG_SERIAL_8250_DWLIB=n
CONFIG_PHY_QCOM_USB_SS=n
CONFIG_PHYLIB=n
CONFIG_SUN55I_A523_R_CCU=n
CONFIG_COMMON_CLK_MT8188_ADSP_AUDIO26M=n
CONFIG_I2C_ALGOBIT=n
CONFIG_SPI_ZYNQMP_GQSPI=n
CONFIG_RPMSG_QCOM_GLINK_SMEM=n
CONFIG_DRM_FBDEV_EMULATION=n
CONFIG_PINCTRL_RP1=n
CONFIG_SERIAL_CORE=n
CONFIG_MTK_SMI=n
CONFIG_SM_VIDEOCC_8450=n
CONFIG_HAVE_SAMPLE_FTRACE_DIRECT=n
CONFIG_SCHED_AUTOGROUP=n
CONFIG_RTC_NVMEM=n
CONFIG_CRYPTO_CCM=n
CONFIG_BCM_SBA_RAID=n
CONFIG_WLAN_VENDOR_RALINK=n
CONFIG_MTK_SCPSYS=n
CONFIG_WLAN_VENDOR_QUANTENNA=n
CONFIG_PINCTRL_SM8650=n
CONFIG_RTC_DRV_DS1307=n
CONFIG_STAGING=n
CONFIG_PCI=n
CONFIG_DRM_IMX_DCSS=n
CONFIG_PINCTRL_UNIPHIER_LD11=n
CONFIG_RENESAS_RZG2L_IRQC=n
CONFIG_PHY_ROCKCHIP_INNO_HDMI=n
CONFIG_HAVE_LIVEPATCH=n
CONFIG_POWER_RESET_SYSCON=n
CONFIG_NVMEM_IMX_OCOTP_ELE=n
CONFIG_SLUB_DEBUG=n
CONFIG_SND_SOC_DMIC=n
CONFIG_USB_F_OBEX=n
CONFIG_CHROME_PLATFORMS=n
CONFIG_COMMON_CLK_MT8188=n
CONFIG_NF_CT_PROTO_SCTP=n
CONFIG_TEGRA186_GPC_DMA=n
CONFIG_CC_NO_ARRAY_BOUNDS=n
CONFIG_SERIAL_SAMSUNG_CONSOLE=n
CONFIG_MDIO_THUNDER=n
CONFIG_GENERIC_IRQ_EFFECTIVE_AFF_MASK=n
CONFIG_CRYPTO_ECC=n
CONFIG_MAGIC_SYSRQ_SERIAL=n
CONFIG_POWER_RESET=n
CONFIG_BQL=n
CONFIG_NFS_FS=n
CONFIG_PINCTRL_AMLOGIC_C3=n
CONFIG_RTC_DRV_TEGRA=n
CONFIG_USB_COMMON=n
CONFIG_BTRFS_FS=n
CONFIG_I2C_IMX=n
CONFIG_PINCTRL_SAMSUNG=n
CONFIG_DWMAC_TEGRA=n
CONFIG_USB_SERIAL_FTDI_SIO=n
CONFIG_NVMEM_BCM_OCOTP=n
CONFIG_PINCTRL_SUN50I_A100=n
CONFIG_HAVE_GCC_PLUGINS=n
CONFIG_SND_SOC_WCD937X_SDW=n
CONFIG_SUNXI_WATCHDOG=n
CONFIG_HIBERNATION=n
CONFIG_PREVENT_FIRMWARE_BUILD=n
CONFIG_COMMON_CLK_MT8195_IMGSYS=n
CONFIG_ARCH_R9A09G077=n
CONFIG_I2C_BRCMSTB=n
CONFIG_SND_MESON_AXG_TODDR=n
CONFIG_NETDEVICES=n
CONFIG_CPUSETS=n
CONFIG_IRQ_DOMAIN=n
CONFIG_ARM_PSCI_FW=n
CONFIG_SND_SOC_IMX_SGTL5000=n
CONFIG_USB_PEGASUS=n
CONFIG_HAVE_PREEMPT_DYNAMIC_KEY=n
CONFIG_SM_DISPCC_8250=n
CONFIG_ROCKCHIP_VOP2=n
CONFIG_SND_SOC_RT5663=n
CONFIG_MFD_CROS_EC_DEV=n
CONFIG_DEBUG_MEMORY_INIT=n
CONFIG_LOCKD=n
CONFIG_HAVE_FUNCTION_ARG_ACCESS_API=n
CONFIG_USB_USBNET=n
CONFIG_FB_DEVICE=n
CONFIG_NVMEM_QCOM_QFPROM=n
CONFIG_PINCTRL_SM7150=n
CONFIG_SM_CAMCC_8550=n
CONFIG_BUFFER_HEAD=n
CONFIG_CC_HAVE_SHADOW_CALL_STACK=n
CONFIG_EC_HUAWEI_GAOKUN=n
CONFIG_SYSFB=n
CONFIG_COMMON_CLK_S2MPS11=n
CONFIG_TIMER_IMX_SYS_CTR=n
CONFIG_SND_MESON_AXG_TDM_FORMATTER=n
CONFIG_DRM_DISPLAY_HDCP_HELPER=n
CONFIG_PINCTRL_ARMADA_AP806=n
CONFIG_QCOM_HFPLL=n
CONFIG_CRYPTO_DEV_QCOM_RNG=n
CONFIG_ARM_CCN=n
CONFIG_DRM_MESON_DW_MIPI_DSI=n
CONFIG_CLK_IMX8MP=n
CONFIG_CGROUPS=n
CONFIG_XZ_DEC_BCJ=n
CONFIG_ARM_SMCCC_SOC_ID=n
CONFIG_NET_HANDSHAKE=n
CONFIG_DT_IDLE_STATES=n
CONFIG_PINCTRL_SOPHGO_COMMON=n
CONFIG_PHY_XILINX_ZYNQMP=n
CONFIG_QCOM_OCMEM=n
CONFIG_ARM64_AMU_EXTN=n
CONFIG_DRM_TOSHIBA_TC358767=n
CONFIG_LEDS_LM3692X=n
CONFIG_NOUVEAU_PLATFORM_DRIVER=n
CONFIG_CLK_GLYMUR_GCC=n
CONFIG_SYSC_R8A774A1=n
