CONFIG_FS_MBCACHE=n
CONFIG_PM=n
CONFIG_USB_F_RNDIS=n
CONFIG_SYSCTL_EXCEPTION_TRACE=n
CONFIG_SCSI_PROC_FS=n
CONFIG_NET_VENDOR_SYNOPSYS=n
CONFIG_USB_UAS=n
CONFIG_NFS_FS=n
CONFIG_CACHESTAT_SYSCALL=n
CONFIG_RISCV_IMSIC=n
CONFIG_CPU_FREQ_DEFAULT_GOV_PERFORMANCE=n
CONFIG_SERIAL_8250_DWLIB=n
CONFIG_ARCH_ENABLE_HUGEPAGE_MIGRATION=n
CONFIG_CRYPTO_ENGINE=n
CONFIG_IKCONFIG_PROC=n
CONFIG_CLK_STARFIVE_JH7110_VOUT=n
CONFIG_NET_VENDOR_NVIDIA=n
CONFIG_MOUSE_PS2_TRACKPOINT=n
CONFIG_DEBUG_MEMORY_INIT=n
CONFIG_GENERIC_SMP_IDLE_THREAD=n
CONFIG_GPIO_DWAPB=n
CONFIG_GCC_SUPPORTS_DYNAMIC_FTRACE=n
CONFIG_RISCV_ISA_ZICBOZ=n
CONFIG_WATCHDOG=n
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE_PUD=n
CONFIG_MMU=n
CONFIG_SERIAL_8250_PCI=n
CONFIG_NET_DEVMEM=n
CONFIG_VGA_ARB=n
CONFIG_REGULATOR_GPIO=n
CONFIG_ARCH_WANT_LD_ORPHAN_WARN=n
CONFIG_RISCV_USER_CFI=n
CONFIG_HAVE_GCC_PLUGINS=n
CONFIG_ASSOCIATIVE_ARRAY=n
CONFIG_PINCTRL=n
CONFIG_PM_CLK=n
CONFIG_POLARFIRE_SOC_IRQ_MUX=n
CONFIG_HUGETLB_PMD_PAGE_TABLE_SHARING=n
CONFIG_FIRMWARE_TABLE=n
CONFIG_PHY_SPACEMIT_K1_PCIE=n
CONFIG_SSB_POSSIBLE=n
CONFIG_MTD_MAP_BANK_WIDTH_2=n
CONFIG_SECURITY_SELINUX=n
CONFIG_BTT=n
CONFIG_DRM_CLIENT_DEFAULT_FBDEV=n
CONFIG_MEDIA_PLATFORM_SUPPORT=n
CONFIG_NET_VENDOR_MICROSOFT=n
CONFIG_NFS_V4_SECURITY_LABEL=n
CONFIG_NF_LOG_SYSLOG=n
CONFIG_ATA_VERBOSE_ERROR=n
CONFIG_GENERIC_IRQ_MULTI_HANDLER=n
CONFIG_NOP_USB_XCEIV=n
CONFIG_BLK_DEV_WRITE_MOUNTED=n
CONFIG_CRYPTO_HMAC=n
CONFIG_CPU_THERMAL=n
CONFIG_MMC_SDHCI_IO_ACCESSORS=n
CONFIG_HAVE_MOVE_PMD=n
CONFIG_CLK_STARFIVE_JH7110_ISP=n
CONFIG_CORE_DUMP_DEFAULT_ELF_HEADERS=n
CONFIG_BTRFS_FS=n
CONFIG_RISCV_MISALIGNED=n
CONFIG_GENERIC_PINMUX_FUNCTIONS=n
CONFIG_CRYPTO_LIB_UTILS=n
CONFIG_ZSTD_COMPRESS=n
CONFIG_HAVE_ARCH_KSTACK_ERASE=n
CONFIG_VXLAN=n
CONFIG_PCIE_XILINX=n
CONFIG_HAVE_CLK=n
CONFIG_HAVE_FTRACE_GRAPH_FUNC=n
CONFIG_PCIEASPM_DEFAULT=n
CONFIG_UCS2_STRING=n
CONFIG_TRACING_SUPPORT=n
CONFIG_MMC_SPI=n
CONFIG_DWMAC_THEAD=n
CONFIG_GENERIC_STRNCPY_FROM_USER=n
CONFIG_OF_KOBJ=n
CONFIG_GENERIC_PHY_MIPI_DPHY=n
CONFIG_INPUT_VIVALDIFMAP=n
CONFIG_DEBUG_FS=n
CONFIG_TRACING=n
CONFIG_SPARSEMEM_VMEMMAP=n
CONFIG_HAVE_ARCH_GET_SECUREBOOT=n
CONFIG_CRYPTO_SKCIPHER=n
CONFIG_CRYPTO_MANAGER2=n
CONFIG_USER_STACKTRACE_SUPPORT=n
CONFIG_KVM=n
CONFIG_V4L2_ASYNC=n
CONFIG_INET_TCP_DIAG=n
CONFIG_ELFCORE=n
CONFIG_FILE_LOCKING=n
CONFIG_GENERIC_CSUM=n
CONFIG_RD_ZSTD=n
CONFIG_HW_RANDOM=n
CONFIG_VLAN_8021Q=n
CONFIG_NET_XGRESS=n
CONFIG_ARCH_ANDES=n
CONFIG_STACKDEPOT=n
CONFIG_HOTPLUG_SPLIT_STARTUP=n
CONFIG_MEMBARRIER=n
CONFIG_FB_CFB_COPYAREA=n
CONFIG_USB_HID=n
CONFIG_HAVE_KERNEL_LZ4=n
CONFIG_CPU_MITIGATIONS=n
CONFIG_NETFILTER_ADVANCED=n
CONFIG_HAVE_HARDLOCKUP_DETECTOR_BUDDY=n
CONFIG_BLK_DEV_BSG=n
CONFIG_MEDIA_PLATFORM_DRIVERS=n
CONFIG_CLZ_TAB=n
CONFIG_XARRAY_MULTI=n
CONFIG_ARCH_SUPPORTS_LTO_CLANG=n
CONFIG_NET_HANDSHAKE=n
CONFIG_USB_CONFIGFS_F_FS=n
CONFIG_GENERIC_IRQ_SHOW_LEVEL=n
CONFIG_PCIE_STARFIVE_HOST=n
CONFIG_POWER_RESET=n
CONFIG_HAVE_KERNEL_BZIP2=n
CONFIG_PCIE_PME=n
CONFIG_HAVE_SAMPLE_FTRACE_DIRECT_MULTI=n
CONFIG_RISCV=n
CONFIG_WLAN_VENDOR_ST=n
CONFIG_SYSCTL_ARCH_UNALIGN_ALLOW=n
CONFIG_GPIO_CDEV=n
CONFIG_MICREL_PHY=n
CONFIG_ASN1=n
CONFIG_DWMAC_SPACEMIT=n
CONFIG_EXECMEM=n
CONFIG_SND_DESIGNWARE_I2S=n
CONFIG_IOMMU_PT_RISCV64=n
CONFIG_USB_CONFIGFS=n
CONFIG_PREEMPT_COUNT=n
CONFIG_GENERIC_PHY=n
CONFIG_STACKPROTECTOR_STRONG=n
CONFIG_SND_DMAENGINE_PCM=n
CONFIG_ARCH_WANT_HUGE_PMD_SHARE=n
CONFIG_ARCH_OPTIONAL_KERNEL_RWX=n
CONFIG_XFRM_ESP=n
CONFIG_JBD2=n
CONFIG_USB_F_SERIAL=n
CONFIG_IIO=n
CONFIG_VM_EVENT_COUNTERS=n
CONFIG_DECOMPRESS_BZIP2=n
CONFIG_BPF=n
CONFIG_SMP=n
CONFIG_CC_HAS_ASM_INLINE=n
CONFIG_WLAN_VENDOR_INTERSIL=n
CONFIG_CC_HAVE_STACKPROTECTOR_TLS=n
CONFIG_STACKPROTECTOR=n
CONFIG_SND_SOC_JH7110_TDM=n
CONFIG_CRC32=n
CONFIG_USB=n
CONFIG_SUN50I_IOMMU=n
CONFIG_SATA_AHCI_PLATFORM=n
CONFIG_SPI_FSL_QUADSPI=n
CONFIG_NET_VENDOR_3COM=n
CONFIG_VIDEO_V4L2_SUBDEV_API=n
CONFIG_LOCKD_V4=n
CONFIG_NET_9P_VIRTIO=n
CONFIG_MCHP_CLK_MPFS=n
CONFIG_FB_SYSMEM_HELPERS=n
CONFIG_POWER_SEQUENCING=n
CONFIG_GENERIC_SYSCALL=n
CONFIG_DMA_SUN6I=n
CONFIG_ACPI_AC=n
CONFIG_SPARSEMEM_VMEMMAP_ENABLE=n
CONFIG_SND_TIMER=n
CONFIG_BLOCK_HOLDER_DEPRECATED=n
CONFIG_VIRT_XFER_TO_GUEST_WORK=n
CONFIG_CRYPTO_GCM=n
CONFIG_JOLIET=n
CONFIG_NET=n
CONFIG_INIT_STACK_ALL_ZERO=n
CONFIG_SECURITY_APPARMOR_PARANOID_LOAD=n
CONFIG_HAVE_KVM_IRQCHIP=n
CONFIG_BFQ_GROUP_IOSCHED=n
CONFIG_XZ_DEC_RISCV=n
CONFIG_UNINLINE_SPIN_UNLOCK=n
CONFIG_PM_DEVFREQ=n
CONFIG_ARCH_DMA_DEFAULT_COHERENT=n
CONFIG_EPOLL=n
CONFIG_DRM_MIPI_DSI=n
CONFIG_WLAN_VENDOR_ZYDAS=n
CONFIG_STARFIVE_WATCHDOG=n
CONFIG_LIBNVDIMM=n
CONFIG_LOCK_DEBUGGING_SUPPORT=n
CONFIG_USB_STORAGE=n
CONFIG_ACPI_THERMAL=n
CONFIG_NET_VENDOR_8390=n
CONFIG_MMC_DW_PLTFM=n
CONFIG_SPI=n
CONFIG_USB_EHCI_HCD=n
CONFIG_HAVE_ARCH_HUGE_VMALLOC=n
CONFIG_NET_VENDOR_I825XX=n
CONFIG_RUSTC_HAS_FILE_WITH_NUL=n
CONFIG_VT=n
CONFIG_ACPI_I2C_OPREGION=n
CONFIG_HAVE_KRETPROBES=n
CONFIG_SECURITY_APPARMOR_INTROSPECT_POLICY=n
CONFIG_USB_CDNS3_PCI_WRAP=n
CONFIG_IPVLAN=n
CONFIG_USB_CONFIGFS_EEM=n
CONFIG_PINCONF=n
CONFIG_HAS_IOPORT_MAP=n
CONFIG_FB_DEVICE=n
CONFIG_MTD_GEN_PROBE=n
CONFIG_MICROSEMI_PHY=n
CONFIG_NVMEM_LAYOUTS=n
CONFIG_CLK_SOPHGO_SG2042_PLL=n
CONFIG_ARCH_HAS_PREEMPT_LAZY=n
CONFIG_ARCH_WANTS_THP_SWAP=n
CONFIG_DRM_FBDEV_EMULATION=n
CONFIG_USB_NET_DRIVERS=n
CONFIG_CLK_STARFIVE_JH7100=n
CONFIG_BLK_DEV_DM_BUILTIN=n
CONFIG_PCI_MSI=n
CONFIG_PROC_SYSCTL=n
CONFIG_SERIAL_CORE_CONSOLE=n
CONFIG_CRYPTO_AKCIPHER=n
CONFIG_FHANDLE=n
CONFIG_RISCV_SBI_CPUIDLE=n
CONFIG_EFI_EARLYCON=n
CONFIG_LZ4_DECOMPRESS=n
CONFIG_MTD_CFI_UTIL=n
CONFIG_SYSVIPC_COMPAT=n
CONFIG_NET_VENDOR_ASIX=n
CONFIG_EFI=n
CONFIG_RISCV_PROBE_VECTOR_UNALIGNED_ACCESS=n
CONFIG_RISCV_PROBE_UNALIGNED_ACCESS=n
CONFIG_CC_HAS_KASAN_GENERIC=n
CONFIG_RISCV_ISA_ZABHA=n
CONFIG_FIX_EARLYCON_MEM=n
CONFIG_SERIAL_8250_DMA=n
CONFIG_IOMMU_API=n
CONFIG_SCHED_INFO=n
CONFIG_BINFMT_ELF=n
CONFIG_RISCV_RPMI_SYSMSI=n
CONFIG_EFI_STUB=n
CONFIG_NET_VENDOR_EMULEX=n
CONFIG_CRYPTO_LIB_AES=n
CONFIG_PCI_PWRCTRL=n
CONFIG_DNS_RESOLVER=n
CONFIG_NET_VENDOR_AMAZON=n
CONFIG_HID_GENERIC=n
CONFIG_JH71XX_PMU=n
CONFIG_NET_VENDOR_NETRONOME=n
CONFIG_DQL=n
CONFIG_ARCH_SPARSEMEM_ENABLE=n
CONFIG_SERIAL_8250_PERICOM=n
CONFIG_VHOST_ENABLE_FORK_OWNER_CONTROL=n
CONFIG_INET_ESP=n
CONFIG_SECURITY_NETWORK=n
CONFIG_NET_VENDOR_BROCADE=n
CONFIG_PCIE_DW=n
CONFIG_LDISC_AUTOLOAD=n
CONFIG_ARCH_SUPPORTS_PER_VMA_LOCK=n
CONFIG_PGTABLE_HAS_HUGE_LEAVES=n
CONFIG_TIME_NS_VDSO=n
CONFIG_RPS=n
CONFIG_ARCH_HAS_ELF_RANDOMIZE=n
CONFIG_CC_HAS_ASM_GOTO_TIED_OUTPUT=n
CONFIG_DRM_GPUVM=n
CONFIG_WLAN_VENDOR_SILABS=n
CONFIG_LEGACY_DIRECT_IO=n
CONFIG_PM_SLEEP=n
CONFIG_ARCH_HAS_DMA_PREP_COHERENT=n
CONFIG_WATCHDOG_CORE=n
CONFIG_ARCH_SPACEMIT=n
CONFIG_PTP_1588_CLOCK_OPTIONAL=n
CONFIG_WLAN_VENDOR_MARVELL=n
CONFIG_USB_OHCI_HCD=n
CONFIG_NF_LOG_IPV6=n
CONFIG_IP_VS_NFCT=n
CONFIG_OPENSSL_SUPPORTS_ML_DSA=n
CONFIG_FB_SYS_FILLRECT=n
CONFIG_EVENT_TRACING=n
CONFIG_PM_GENERIC_DOMAINS_OF=n
CONFIG_R8169=n
CONFIG_AUTOFS_FS=n
CONFIG_PREVENT_FIRMWARE_BUILD=n
CONFIG_RISCV_ISA_ZBB=n
CONFIG_LOCKD=n
CONFIG_NET_VENDOR_ATHEROS=n
CONFIG_REGMAP_MMIO=n
CONFIG_HAS_SECURITY_AUDIT=n
CONFIG_INOTIFY_USER=n
CONFIG_PINCTRL_SOPHGO_CV1800B=n
CONFIG_OF_GPIO=n
CONFIG_NVMEM_SUNXI_SID=n
CONFIG_HAVE_VIRT_CPU_ACCOUNTING_GEN=n
CONFIG_ARCH_HAS_KERNEL_FPU_SUPPORT=n
CONFIG_TOOLCHAIN_HAS_ZBA=n
CONFIG_ZONE_DMA32=n
CONFIG_WLAN_VENDOR_RSI=n
CONFIG_NET_VENDOR_MICREL=n
CONFIG_USB_GADGET=n
CONFIG_GENERIC_IRQ_MATRIX_ALLOCATOR=n
CONFIG_HAVE_ARCH_MMAP_RND_BITS=n
CONFIG_PINCTRL_STARFIVE_JH7110_AON=n
CONFIG_USB_DEFAULT_PERSIST=n
CONFIG_NET_VENDOR_GOOGLE=n
CONFIG_SECURITY=n
