CONFIG_RESET_UNIPHIER_GLUE=n
CONFIG_PINCTRL_SM6375=n
CONFIG_KEXEC_FILE=n
CONFIG_I2C_HID_ACPI=n
CONFIG_SND_SOC_QCOM_COMMON=n
CONFIG_TEGRA_AHB=n
CONFIG_INTERCONNECT_QCOM_MILOS=n
CONFIG_NUMA=n
CONFIG_KEYBOARD_MTK_PMIC=n
CONFIG_NET_VENDOR_MICROSOFT=n
CONFIG_SPARSEMEM_VMEMMAP_ENABLE=n
CONFIG_ATH12K=n
CONFIG_ACPI_APEI_PCIEAER=n
CONFIG_ARM_GIC=n
CONFIG_FB_CFB_IMAGEBLIT=n
CONFIG_SSB_POSSIBLE=n
CONFIG_FPGA_BRIDGE=n
CONFIG_POSIX_TIMERS=n
CONFIG_PINCTRL_MT8195=n
CONFIG_QCOM_CLK_SMD_RPM=n
CONFIG_MEDIA_SUPPORT=n
CONFIG_RTC_DRV_PCF2127=n
CONFIG_PINCTRL_MT8196=n
CONFIG_MFD_RK8XX_SPI=n
CONFIG_TOUCHSCREEN_ILI210X=n
CONFIG_FPGA_MGR_ZYNQMP_FPGA=n
CONFIG_VIDEO_MAX96712=n
CONFIG_CLK_IMX8MP=n
CONFIG_USB_EHCI_HCD=n
CONFIG_BT_HCIUART_BCM=n
CONFIG_SND_SOC_LPASS_CDC_DMA=n
CONFIG_MEMORY_ISOLATION=n
CONFIG_BT_HCIBTUSB=n
CONFIG_QCOM_SYSMON=n
CONFIG_USB_NET_DM9601=n
CONFIG_NET_FLOW_LIMIT=n
CONFIG_SND_JACK=n
CONFIG_CLK_KAANAPALI_TCSRCC=n
CONFIG_JBD2=n
CONFIG_BUG=n
CONFIG_COMMON_CLK_MESON_SCLK_DIV=n
CONFIG_SPI_CADENCE_QUADSPI=n
CONFIG_ARM_CORESIGHT_PMU_ARCH_SYSTEM_PMU=n
CONFIG_COMMON_CLK_MT8195=n
CONFIG_NAMESPACES=n
CONFIG_NETFILTER_XT_TARGET_LOG=n
CONFIG_FB_DMAMEM_HELPERS_DEFERRED=n
CONFIG_ARCH_WANTS_THP_SWAP=n
CONFIG_ARM_SMMU=n
CONFIG_ARM_TEGRA186_CPUFREQ=n
CONFIG_DRM_HISI_KIRIN=n
CONFIG_COMMON_RESET_HI3660=n
CONFIG_MTD_COMPLEX_MAPPINGS=n
CONFIG_SKB_EXTENSIONS=n
CONFIG_PHYLIB_LEDS=n
CONFIG_ARCH_SUPPORTS_SCHED_CLUSTER=n
CONFIG_BLK_DEV_NVME=n
CONFIG_HAVE_ARCH_HUGE_VMAP=n
CONFIG_SYSVIPC_COMPAT=n
CONFIG_ARCH_NXP=n
CONFIG_QCOM_IPA=n
CONFIG_KVM_GUEST_MEMFD=n
CONFIG_CRYPTO_AKCIPHER2=n
CONFIG_INPUT_RK805_PWRKEY=n
CONFIG_CRYPTO_DEV_HISI_ZIP=n
CONFIG_HAS_SECURITY_AUDIT=n
CONFIG_DWMAC_NUVOTON=n
CONFIG_PCI_ECAM=n
CONFIG_RESET_TI_SCI=n
CONFIG_CRYPTO_DEV_FSL_CAAM_COMMON=n
CONFIG_NET_VENDOR_HUAWEI=n
CONFIG_WLAN_VENDOR_RSI=n
CONFIG_ATH10K_SNOC=n
CONFIG_SND_SOC_I2C_AND_SPI=n
CONFIG_HWMON=n
CONFIG_PAGE_POOL_STATS=n
CONFIG_TEGRA_ACONNECT=n
CONFIG_XEN_DEV_EVTCHN=n
CONFIG_NPCM7XX_WATCHDOG=n
CONFIG_SND_SOC_DAVINCI_MCASP=n
CONFIG_STM32MP_EXTI=n
CONFIG_CRYPTO_DEV_FSL_CAAM_AHASH_API_DESC=n
CONFIG_SUN6I_MSGBOX=n
CONFIG_SLIM_QCOM_NGD_CTRL=n
CONFIG_PINCTRL_SC7280=n
CONFIG_HW_RANDOM_OPTEE=n
CONFIG_ZYNQMP_FIRMWARE=n
CONFIG_I2C_UNIPHIER_F=n
CONFIG_DWMAC_IMX8=n
CONFIG_SERIAL_8250_PCILIB=n
CONFIG_MMC_DW_HI3798CV200=n
CONFIG_CRYPTO_AEAD2=n
CONFIG_RTC_DRV_BBNSM=n
CONFIG_IPMI_SI=n
CONFIG_SND_SOC_MAX98090=n
CONFIG_DWMAC_MEDIATEK=n
CONFIG_QCOM_CLK_RPMH=n
CONFIG_PHY_ROCKCHIP_NANENG_COMBO_PHY=n
CONFIG_USB_OHCI_EXYNOS=n
CONFIG_SND_SOC_SOF_MTK_TOPLEVEL=n
CONFIG_SWPHY=n
CONFIG_BSD_PROCESS_ACCT_V3=n
CONFIG_IR_SUNXI=n
CONFIG_POWER_RESET_MACSMC=n
CONFIG_PHY_BCM_SR_PCIE=n
CONFIG_BLOCK_LEGACY_AUTOLOAD=n
CONFIG_MMC_BCM2835=n
CONFIG_INTERCONNECT_QCOM_SC7280=n
CONFIG_VFAT_FS=n
CONFIG_PINCTRL_ELIZA=n
CONFIG_ARCH_R9A09G047=n
CONFIG_CLK_X1E80100_GCC=n
CONFIG_MFD_BD9571MWV=n
CONFIG_CLK_RK3368=n
CONFIG_CRYPTO_DEV_FSL_CAAM_AHASH_API=n
CONFIG_IO_WQ=n
CONFIG_PINCTRL_IPROC_GPIO=n
CONFIG_SCSI_HISI_SAS=n
CONFIG_PINCTRL_MESON_G12A=n
CONFIG_PINCTRL_PFC_R8A77990=n
CONFIG_GENERIC_HWEIGHT=n
CONFIG_DRM_IMX8MP_DW_HDMI_BRIDGE=n
CONFIG_DRM_DW_HDMI_I2S_AUDIO=n
CONFIG_ATA_BMDMA=n
CONFIG_PHY_QCOM_USB_HS=n
CONFIG_XZ_DEC_ARM=n
CONFIG_VIDEO_SAMSUNG_S5P_JPEG=n
CONFIG_CAVIUM_ERRATUM_23144=n
CONFIG_CRYPTO_DH=n
CONFIG_NF_CT_PROTO_SCTP=n
CONFIG_DEVTMPFS_MOUNT=n
CONFIG_REGULATOR_QCOM_SPMI=n
CONFIG_TREE_SRCU=n
CONFIG_CRYPTO_DEV_BCM_SPU=n
CONFIG_I2C_MV64XXX=n
CONFIG_WATCHDOG_CORE=n
CONFIG_BRCMUTIL=n
CONFIG_INPUT_PWM_BEEPER=n
CONFIG_MOUSE_PS2_ALPS=n
CONFIG_QCOM_RPROC_COMMON=n
CONFIG_SQUASHFS_ZLIB=n
CONFIG_RSI_SDIO=n
CONFIG_COMPAT_OLD_SIGACTION=n
CONFIG_LEDS_SYSCON=n
CONFIG_DRM_DISPLAY_HELPER=n
CONFIG_IRQ_FASTEOI_HIERARCHY_HANDLERS=n
CONFIG_HAVE_PERF_EVENTS=n
CONFIG_DRM_PANEL_HIMAX_HX8279=n
CONFIG_ACPI_PROCESSOR_IDLE=n
CONFIG_PINCTRL_SX150X=n
CONFIG_DRM_VRAM_HELPER=n
CONFIG_BCMGENET=n
CONFIG_V4L2_MEM2MEM_DEV=n
CONFIG_BRCMFMAC_SDIO=n
CONFIG_DMA_ACPI=n
CONFIG_NET_VENDOR_ARC=n
CONFIG_REGULATOR_BD9571MWV=n
CONFIG_PINCTRL_MESON=n
CONFIG_SM_GPUCC_8150=n
CONFIG_MMC_SDHCI_IPROC=n
CONFIG_SND_DMAENGINE_PCM=n
CONFIG_ARCH_TEGRA_264_SOC=n
CONFIG_DRM_FSL_LDB=n
CONFIG_SCSI_COMMON=n
CONFIG_V4L_PLATFORM_DRIVERS=n
CONFIG_RTC_DRV_RK808=n
CONFIG_ARCH_RENESAS=n
CONFIG_DECOMPRESS_ZSTD=n
CONFIG_BATTERY_BQ27XXX_I2C=n
CONFIG_R8169=n
CONFIG_STACKTRACE=n
CONFIG_XEN_DOM0=n
CONFIG_TEGRA_MC=n
CONFIG_SND_SOC_APQ8016_SBC=n
CONFIG_LEGACY_PTYS=n
CONFIG_PINCTRL_MILOS=n
CONFIG_MTD_CFI_NOSWAP=n
CONFIG_LEDS_QCOM_LPG=n
CONFIG_PINCTRL_MAX77620=n
CONFIG_ARCH_RCAR_GEN3=n
CONFIG_IIO_ST_SENSORS_CORE=n
CONFIG_MMC_SDHCI_TEGRA=n
CONFIG_CRYPTO_LIB_ARC4=n
CONFIG_PINCTRL_RTD=n
CONFIG_SERIAL_OF_PLATFORM=n
CONFIG_APPLE_MAILBOX=n
CONFIG_PHY_XILINX_ZYNQMP=n
CONFIG_SNI_NETSEC=n
CONFIG_HAVE_ARCH_KSTACK_ERASE=n
CONFIG_FB_SYSMEM_HELPERS_DEFERRED=n
CONFIG_ARCH_ENABLE_THP_MIGRATION=n
CONFIG_GPIO_TPS65219=n
CONFIG_RCAR_THERMAL=n
CONFIG_ACPI_CCA_REQUIRED=n
CONFIG_DMA_OPS_HELPERS=n
CONFIG_QCOM_PDR_HELPERS=n
CONFIG_SYSC_R8A77995=n
CONFIG_EFI_STUB=n
CONFIG_GPIO_PL061=n
CONFIG_PHY_QCOM_EUSB2_REPEATER=n
CONFIG_EFI_ESRT=n
CONFIG_SYSC_R8A774A1=n
CONFIG_MUX_GPIO=n
CONFIG_ARCH_HAS_DEBUG_VIRTUAL=n
CONFIG_PINCTRL_MT7986=n
CONFIG_SERIAL_AMBA_PL011_CONSOLE=n
CONFIG_SND_AUDIO_GRAPH_CARD=n
CONFIG_PINCTRL_UNIPHIER_NX1=n
CONFIG_GENERIC_ARCH_NUMA=n
CONFIG_DEVFREQ_THERMAL=n
CONFIG_ARCH_HAS_STRICT_KERNEL_RWX=n
CONFIG_CHROMEOS_OF_HW_PROBER=n
CONFIG_CROS_EC_DEBUGFS=n
CONFIG_SERIAL_8250_BCM2835AUX=n
CONFIG_BGMAC=n
CONFIG_NET_VENDOR_CADENCE=n
CONFIG_SERIAL_MESON_CONSOLE=n
CONFIG_DRM_PANEL_KHADAS_TS050=n
CONFIG_OLD_SIGSUSPEND3=n
CONFIG_SENSORS_TMP102=n
CONFIG_CLK_X1P42100_GPUCC=n
CONFIG_REGULATOR_AXP20X=n
CONFIG_ARCH_TEGRA_238_SOC=n
CONFIG_INPUT_TPS6594_PWRBUTTON=n
CONFIG_ACPI_CONTAINER=n
CONFIG_COMMON_CLK_MT8195_CAMSYS=n
CONFIG_POWER_RESET_GPIO=n
CONFIG_WLAN_VENDOR_ST=n
CONFIG_SIGNALFD=n
CONFIG_SND_SOC_RT1015=n
CONFIG_PHY_R8A779F0_ETHERNET_SERDES=n
CONFIG_CLK_R9A09G057=n
CONFIG_VIDEOBUF2_VMALLOC=n
CONFIG_UNIPHIER_THERMAL=n
CONFIG_CRYPTO_DEV_FSL_CAAM_CRYPTO_API=n
CONFIG_HW_RANDOM_ROCKCHIP=n
CONFIG_I2C_HELPER_AUTO=n
CONFIG_USB_ISP1760_DUAL_ROLE=n
CONFIG_TI_K3_M4_REMOTEPROC=n
CONFIG_CLK_RK3308=n
CONFIG_TICK_CPU_ACCOUNTING=n
CONFIG_COMMON_CLK_MT8183_IPU_CORE0=n
CONFIG_SND_SOC_WCD_MBHC=n
CONFIG_V4L2_CCI=n
CONFIG_MUX_MMIO=n
CONFIG_PINCTRL_IMX8DXL=n
CONFIG_DWMAC_SUN8I=n
CONFIG_APERTURE_HELPERS=n
CONFIG_PINCTRL_MESON_GXL=n
CONFIG_SOC_IMX9=n
CONFIG_USB_CDNS3_IMX=n
CONFIG_SCHED_INFO=n
CONFIG_ARM_MEDIATEK_CCI_DEVFREQ=n
CONFIG_KALLSYMS=n
CONFIG_TEGRA_HOST1X_FIREWALL=n
CONFIG_HNS_DSAF=n
CONFIG_FB_NOTIFY=n
CONFIG_NXP_NTMP=n
CONFIG_RTC_DRV_XGENE=n
CONFIG_SOC_SAMSUNG=n
CONFIG_ARCH_HAS_BATCHED_DMA_SYNC=n
CONFIG_MTD_SST25L=n
CONFIG_RPMSG=n
CONFIG_NET_HANDSHAKE=n
CONFIG_I2C_BRCMSTB=n
CONFIG_DRM_ANALOGIX_ANX7625=n
CONFIG_ARCH_USE_GNU_PROPERTY=n
CONFIG_MMC_SDHCI_XENON=n
CONFIG_DEVFREQ_GOV_USERSPACE=n
CONFIG_CLK_R8A7795=n
CONFIG_PER_VMA_LOCK=n
CONFIG_OF=n
CONFIG_PHY_QCOM_QUSB2=n
CONFIG_PHY_QCOM_QMP_PCIE_8996=n
CONFIG_HAVE_KPROBES=n
CONFIG_CFG80211=n
CONFIG_ATL1C=n
CONFIG_LEDS_BCM63138=n
CONFIG_DRM_PANEL_RAYDIUM_RM692E5=n
CONFIG_GOOGLE_FIRMWARE=n
CONFIG_NET_VENDOR_BROADCOM=n
CONFIG_TI_SCI_INTA_MSI_DOMAIN=n
CONFIG_HAVE_NMI=n
CONFIG_RUNTIME_TESTING_MENU=n
CONFIG_DRM_MESON_DW_HDMI=n
CONFIG_FSL_DPAA2_ETH=n
CONFIG_COMMON_CLK_MT8188_MFGCFG=n
CONFIG_VIDEO_SUN6I_CSI=n
CONFIG_ARCH_SPARX5=n
CONFIG_CLK_RZG2L=n
CONFIG_SPMI=n
CONFIG_CC_HAS_ASM_GOTO_OUTPUT=n
CONFIG_CC_HAS_MULTIDIMENSIONAL_NONSTRING=n
CONFIG_ARCH_SUPPORTS_SCHED_SMT=n
CONFIG_NETFILTER_INGRESS=n
CONFIG_POLARFIRE_SOC_IRQ_MUX=n
CONFIG_INTERCONNECT_QCOM_MSM8953=n
CONFIG_USB_RTL8150=n
CONFIG_CONTIG_ALLOC=n
CONFIG_FSL_MC_BUS=n
