CONFIG_SCSI_ENCLOSURE=y
CONFIG_BMI270=y
CONFIG_REGMAP_SLIMBUS=y
CONFIG_JOYSTICK_STINGER=y
CONFIG_CRYPTO_DEV_NITROX=y
CONFIG_PHY_BRCM_SATA=y
CONFIG_BH1745=y
CONFIG_CRYPTO_DEV_QCE=y
CONFIG_REGULATOR_MAX8973=y
CONFIG_MFD_MAX14577=y
CONFIG_PHY_MTK_MIPI_DSI=y
CONFIG_INPUT_TPS65218_PWRBUTTON=y
CONFIG_LEDS_QCOM_FLASH=y
CONFIG_CRYPTO_DEV_TI_DTHEV2=y
CONFIG_OMAP5_THERMAL=y
CONFIG_TCG_ATMEL=y
CONFIG_CC_HAS_SANE_FUNCTION_ALIGNMENT=y
CONFIG_LEGACY_DIRECT_IO=y
CONFIG_RCU_NEED_SEGCBLIST=y
CONFIG_HW_RANDOM_STM32=y
CONFIG_AFE4404=y
CONFIG_RAPIDIO_ENABLE_RX_TX_PORTS=y
CONFIG_MFD_MADERA_I2C=y
CONFIG_CRYPTO_AEGIS128=y
CONFIG_ARM_SCPI_PROTOCOL=y
CONFIG_AST2700_MBOX=y
CONFIG_CHARGER_RT9455=y
CONFIG_PWM_INTEL_LGM=y
CONFIG_ROCKCHIP_IODOMAIN=y
CONFIG_CLOSURES=y
CONFIG_SERIO_PCIPS2=y
CONFIG_SOC_REALVIEW=y
CONFIG_PINCTRL_POLARFIRE_SOC=y
CONFIG_COMMON_CLK_MT8188_VDOSYS=y
CONFIG_RISCV_IOMMU=y
CONFIG_IOMMU_SUPPORT=y
CONFIG_TWL4030_CORE=y
CONFIG_BACKLIGHT_RT4831=y
CONFIG_LEDS_BD2606MVV=y
CONFIG_CLONE_BACKWARDS=y
CONFIG_PHY_MESON_AXG_MIPI_PCIE_ANALOG=y
CONFIG_STATIC_USERMODEHELPER=y
CONFIG_SCSI_UFSHCD=y
CONFIG_CLK_RCAR_GEN2_CPG=y
CONFIG_ADXL380=y
CONFIG_CHARGER_MT6370=y
CONFIG_TCG_TIS_I2C_INFINEON=y
CONFIG_F2FS_STAT_FS=y
CONFIG_HW_RANDOM_OMAP3_ROM=y
CONFIG_IKHEADERS=y
CONFIG_RESET_BRCMSTB_RESCAL=y
CONFIG_CHARGER_RT5033=y
CONFIG_SSB_PCIHOST_POSSIBLE=y
CONFIG_REGULATOR_RTQ2134=y
CONFIG_PREEMPTION=y
CONFIG_CRYPTO_SHA1=y
CONFIG_AD525X_DPOT_SPI=y
CONFIG_CHARGER_MAX8903=y
CONFIG_CRYPTO_DEV_QAT=y
CONFIG_ALIBABA_UNCORE_DRW_PMU=y
CONFIG_SC_LPASSCC_8280XP=y
CONFIG_MFD_WM5102=y
CONFIG_RTC_DRV_MSM6242=y
CONFIG_STK3310=y
CONFIG_TEST_POWER=y
CONFIG_SERIAL_IMX_EARLYCON=y
CONFIG_REGULATOR_MP8859=y
CONFIG_ROHM_BD79112=y
CONFIG_TWL4030_MADC=y
CONFIG_ZSTD_COMPRESS=y
CONFIG_CLKSRC_MMIO=y
CONFIG_FB_S3C_DEBUG_REGWRITE=y
CONFIG_LOONGSON2_GUTS=y
CONFIG_SM_GPUCC_8650=y
CONFIG_IP5XXX_POWER=y
CONFIG_I2C_ALGOBIT=y
CONFIG_ASSOCIATIVE_ARRAY=y
CONFIG_EBC_C384_WDT=y
CONFIG_MOUSE_PS2_BYD=y
CONFIG_BACKLIGHT_LP855X=y
CONFIG_PINCTRL_QDF2XXX=y
CONFIG_GPIO_KEMPLD=y
CONFIG_QORIQ_THERMAL=y
CONFIG_SYSC_RZ=y
CONFIG_AD799X=y
CONFIG_MTK_MFG_PM_DOMAIN=y
CONFIG_PM_ADVANCED_DEBUG=y
CONFIG_HAVE_FUNCTION_ERROR_INJECTION=y
CONFIG_SC_LPASS_CORECC_7280=y
CONFIG_WATCHDOG_PRETIMEOUT_GOV_NOOP=y
CONFIG_FB_BROADSHEET=y
CONFIG_ARCH_RV64I=y
CONFIG_BATTERY_PM8916_BMS_VM=y
CONFIG_NLS_KOI8_U=y
CONFIG_RCU_BOOST=y
CONFIG_RESET_RASPBERRYPI=y
CONFIG_IIO_BACKEND=y
CONFIG_RTC_DRV_DS1374=y
CONFIG_PCI_ENDPOINT_TEST=y
CONFIG_ARCH_USE_SYM_ANNOTATIONS=y
CONFIG_MCP3564=y
CONFIG_GPIOLIB_IRQCHIP=y
CONFIG_GAMEPORT=y
CONFIG_BCM2835_VCHIQ_MMAL=y
CONFIG_RTC_DRV_MAX77686=y
CONFIG_RFD77402=y
CONFIG_SPI_FSL_LIB=y
CONFIG_CRYPTO_ECB=y
CONFIG_GENERIC_LIB_DEVMEM_IS_ALLOWED=y
CONFIG_INTEL_TH=y
CONFIG_CRYPTO_ECC=y
CONFIG_IRQ_SIM=y
CONFIG_PWM_BCM_KONA=y
CONFIG_CLK_IMX8MM=y
CONFIG_ARCH_WANT_PMD_MKWRITE=y
CONFIG_RISCV_SCALAR_MISALIGNED=y
CONFIG_FS_VERITY=y
CONFIG_BATTERY_BQ27XXX=y
CONFIG_SM_GCC_6115=y
CONFIG_INPUT_VIVALDIFMAP=y
CONFIG_BLOCK=y
CONFIG_SERIAL_ST_ASC=y
CONFIG_SMPRO_ERRMON=y
CONFIG_RISCV_ISA_ZICBOZ=y
CONFIG_NVMEM_ROCKCHIP_EFUSE=y
CONFIG_PHY_CYGNUS_PCIE=y
CONFIG_RISCV_ISA_VENDOR_EXT=y
CONFIG_ISCSI_IBFT=y
CONFIG_DW_WATCHDOG=y
CONFIG_CHARGER_BQ2415X=y
CONFIG_I3C_OR_I2C=y
CONFIG_JOYSTICK_SIDEWINDER=y
CONFIG_NLS_ASCII=y
CONFIG_NLS_ISO8859_5=y
CONFIG_HW_RANDOM_XGENE=y
CONFIG_COMEDI_8255=y
CONFIG_SPI_TEGRA20_SFLASH=y
CONFIG_SPI_BCM63XX=y
CONFIG_SENSORS_HMC5843_I2C=y
CONFIG_IDLE_INJECT=y
CONFIG_CRYPTO_DEV_HISI_SEC=y
CONFIG_SATA_AHCI_PLATFORM=y
CONFIG_COMEDI_NI_LABPC_PCI=y
CONFIG_HI8435=y
CONFIG_APDS9306=y
CONFIG_RTC_DRV_BQ4802=y
CONFIG_IOMMU_PT_RISCV64=y
CONFIG_PINCTRL_SDX75=y
CONFIG_LEDS_MAX77705=y
CONFIG_RESET_AXS10X=y
CONFIG_PHY_CANAAN_USB=y
CONFIG_MMU_GATHER_TABLE_FREE=y
CONFIG_RTC_DRV_DS1343=y
CONFIG_K3_RTI_WATCHDOG=y
CONFIG_XZ_DEC_ARM64=y
CONFIG_ARCH_HAS_SYNC_DMA_FOR_CPU=y
CONFIG_RANDSTRUCT_NONE=y
CONFIG_REGULATOR_HI6421=y
CONFIG_ARCH_HAS_MMIOWB=y
CONFIG_MFD_TQMX86=y
CONFIG_CRYPTO_CRYPTD=y
CONFIG_SM_GCC_8750=y
CONFIG_CLK_ELIZA_GCC=y
CONFIG_LOCK_MM_AND_FIND_VMA=y
CONFIG_RENESAS_RZG2LWDT=y
CONFIG_CLKSRC_VERSATILE=y
CONFIG_EEPROM_AT25=y
CONFIG_BATTERY_GAUGE_LTC2941=y
CONFIG_ARCH_SUPPORTS_MSEAL_SYSTEM_MAPPINGS=y
CONFIG_BATTERY_RT5033=y
CONFIG_BINFMT_SCRIPT=y
CONFIG_RENESAS_RZN1WDT=y
CONFIG_GPIO_ATH79=y
CONFIG_MMC_SDHCI_BST=y
CONFIG_BCM_PDC_MBOX=y
CONFIG_ADC_BATTERY_HELPER=y
CONFIG_RTC_DRV_CV1800=y
CONFIG_HAVE_ARCH_TRACEHOOK=y
CONFIG_ALIM7101_WDT=y
CONFIG_HAVE_ARCH_KGDB_QXFER_PKT=y
CONFIG_PHY_MTK_TPHY=y
CONFIG_CRYPTO_LIB_SHA1=y
CONFIG_PINCTRL_SKY1_BASE=y
CONFIG_PARTITION_ADVANCED=y
CONFIG_ACLINT_SSWI=y
CONFIG_SIOX=y
CONFIG_IOMMUFD=y
CONFIG_PINCTRL_PFC_R8A779H0=y
CONFIG_PINCTRL_SDX65=y
CONFIG_PINCTRL_PXA27X=y
CONFIG_PVPANIC=y
CONFIG_ADIS16475=y
CONFIG_ARCH_ENABLE_MEMORY_HOTPLUG=y
CONFIG_HAVE_IRQ_EXIT_ON_IRQ_STACK=y
CONFIG_AD3530R=y
CONFIG_IIO=y
CONFIG_SURFACE_PLATFORMS=y
CONFIG_REGULATOR_PF9453=y
CONFIG_CRYPTO_ECRDSA=y
CONFIG_ALTERA_STAPL=y
CONFIG_KEYBOARD_EP93XX=y
CONFIG_TICK_ONESHOT=y
CONFIG_SCD30_I2C=y
CONFIG_VFIO_PCI=y
CONFIG_LEDS_RT8515=y
CONFIG_CRYPTO_DEV_FSL_CAAM_COMMON=y
CONFIG_AD2S1210=y
CONFIG_RTC_DRV_DS1742=y
CONFIG_OF=y
CONFIG_ACPI_DOCK=y
CONFIG_ARM_BRCMSTB_AVS_CPUFREQ=y
CONFIG_RD_XZ=y
CONFIG_PINCTRL_IPQ9574=y
CONFIG_REGULATOR_GPIO=y
CONFIG_DA9063_WATCHDOG=y
CONFIG_PINCTRL_MT7988=y
CONFIG_PCIE_KEEMBAY=y
CONFIG_INTEL_MEI_GSC=y
CONFIG_SPI_POLARFIRE_SOC=y
CONFIG_REGULATOR_WM8350=y
CONFIG_LEGACY_PTYS=y
CONFIG_AD7923=y
CONFIG_SYS_R9A09G057=y
CONFIG_GPIO_TN48M_CPLD=y
CONFIG_W1_SLAVE_DS2406=y
CONFIG_FB_CARMINE_DRAM_EVAL=y
CONFIG_BCM_SR_THERMAL=y
CONFIG_I2C_EMEV2=y
CONFIG_PWM_SL28CPLD=y
CONFIG_RMI4_F55=y
CONFIG_ACPI_RIMT=y
CONFIG_SDM_GPUCC_660=y
CONFIG_MFD_TWL4030_AUDIO=y
CONFIG_TI_SYSCON_CLK=y
CONFIG_TH1520_AON_PROTOCOL=y
CONFIG_COMEDI_ADDI_APCI_3XXX=y
CONFIG_GENERIC_IRQ_IPI=y
CONFIG_COMEDI_NI_6527=y
CONFIG_CLK_IMX95_BLK_CTL=y
CONFIG_INTEL_MEI_VSC_HW=y
CONFIG_XFS_DRAIN_INTENTS=y
CONFIG_RTC_DRV_AT91SAM9=y
CONFIG_UIO_PCI_GENERIC=y
CONFIG_COMMON_CLK_PWM=y
CONFIG_SI7210=y
CONFIG_GPIO_PALMAS=y
CONFIG_I2C_SLAVE_EEPROM=y
CONFIG_OMAP4_THERMAL=y
CONFIG_HAVE_PERF_USER_STACK_DUMP=y
CONFIG_DEBUG_RODATA_TEST=y
CONFIG_INPUT_CMA3000=y
CONFIG_RISCV_IOMMU_PCI=y
CONFIG_INGENIC_CGU_COMMON=y
CONFIG_SDM_MMCC_660=y
CONFIG_ARM_SCMI_POWER_DOMAIN=y
CONFIG_TMP007=y
CONFIG_VIRTIO_BALLOON=y
CONFIG_EXYNOS_ACPM_PROTOCOL=y
CONFIG_ARM_MEDIATEK_CPUFREQ=y
CONFIG_PINCTRL_OWL=y
CONFIG_INV_ICM42600_I2C=y
CONFIG_ARCH_WANTS_THP_SWAP=y
CONFIG_TSL2591=y
CONFIG_VZ89X=y
CONFIG_XILINX_SDFEC=y
CONFIG_MD=y
CONFIG_CB710_DEBUG_ASSUMPTIONS=y
CONFIG_PPS_GENERATOR_DUMMY=y
CONFIG_I2C_OMAP=y
CONFIG_IIO_ST_PRESS_SPI=y
CONFIG_CMODEL_MEDANY=y
CONFIG_GENERIC_PINCONF=y
CONFIG_FB_SYS_FILLRECT=y
CONFIG_ADXL355_SPI=y
CONFIG_MFD_SC27XX_PMIC=y
CONFIG_SYSC_R8A77965=y
CONFIG_PINCTRL_MERRIFIELD=y
CONFIG_HW_RANDOM_INGENIC_RNG=y
CONFIG_SIGNALFD=y
CONFIG_PREEMPT_COUNT=y
CONFIG_REGMAP=y
CONFIG_ADMFM2000=y
CONFIG_LEDS_KTD2692=y
CONFIG_RTC_DRV_TWL4030=y
CONFIG_GPIO_LINE_MUX=y
CONFIG_FUTEX_PRIVATE_HASH=y
CONFIG_CLK_RCAR_GEN4_CPG=y
CONFIG_IO_WQ=y
CONFIG_CLK_STARFIVE_JH71X0=y
CONFIG_ISL29003=y
CONFIG_SPI_SC18IS602=y
CONFIG_CRC64=y
CONFIG_I2C_MUX=y
CONFIG_NLS_KOI8_R=y
CONFIG_MFD_MC13XXX=y
CONFIG_AD9739A=y
CONFIG_SENSORS_TSL2550=y
CONFIG_INPUT_CS40L50_VIBRA=y
CONFIG_IMX_IPUV3_CORE=y
CONFIG_REGULATOR_SY8106A=y
CONFIG_TI_ADC084S021=y
CONFIG_GPIO_MOXTET=y
CONFIG_MFD_MC13XXX_I2C=y
CONFIG_LENOVO_SE10_WDT=y
CONFIG_COMMON_CLK_SI514=y
CONFIG_SPI_CADENCE_QUADSPI=y
CONFIG_BLK_PM=y
CONFIG_BATTERY_MAX1720X=y
CONFIG_RAPIDIO_CPS_GEN2=y
CONFIG_FHANDLE=y
CONFIG_RTC_DRV_PIC32=y
CONFIG_RTC_DRV_RX4581=y
CONFIG_INPUT_ATC260X_ONKEY=y
CONFIG_BMI270_I2C=y
CONFIG_SPI_FSL_SPI=y
CONFIG_COMMON_CLK_PXA1908=y
CONFIG_HISI_ACC_VFIO_PCI=y
CONFIG_PROFILING=y
CONFIG_COMMON_CLK_SCPI=y
CONFIG_SERIAL_SUNPLUS_CONSOLE=y
CONFIG_RTC_DRV_MAX8925=y
CONFIG_ARM_SCPI_CPUFREQ=y
CONFIG_MMC_MOXART=y
CONFIG_SOPHGO_SG2044_TOPSYS=y
CONFIG_PINCTRL_SM6375=y
CONFIG_SYSC_R8A774C0=y
CONFIG_MTK_SOCINFO=y
CONFIG_PHY_UNIPHIER_PCIE=y
CONFIG_CLK_GLYMUR_GPUCC=y
CONFIG_RENESAS_RPCIF=y
CONFIG_PINCTRL_MSM8976=y
CONFIG_MAX63XX_WATCHDOG=y
CONFIG_SERIAL_SIFIVE=y
CONFIG_LEDS_LM3642=y
CONFIG_ADE9000=y
CONFIG_KEYBOARD_TCA8418=y
CONFIG_SPEAR_THERMAL=y
CONFIG_RMI4_I2C=y
CONFIG_FW_LOADER_PAGED_BUF=y
CONFIG_BCM2835_VCHIQ=y
CONFIG_IB700_WDT=y
CONFIG_BACKLIGHT_MP3309C=y
CONFIG_BD96801_WATCHDOG=y
CONFIG_TPS6507X=y
CONFIG_ATA=y
CONFIG_TARGET_CORE=y
CONFIG_SERIAL_PIC32=y
CONFIG_ASPEED_P2A_CTRL=y
CONFIG_IIO_BUFFER_CB=y
CONFIG_REGMAP_SPI=y
CONFIG_GENERIC_ALLOCATOR=y
CONFIG_CRYPTO_SM4=y
CONFIG_NTSYNC=y
CONFIG_SC_GPUCC_7280=y
CONFIG_MFD_WM5110=y
CONFIG_INPUT_GPIO_ROTARY_ENCODER=y
CONFIG_SPI_AMLOGIC_SPIFC_A1=y
CONFIG_ARCH_HAS_NON_OVERLAPPING_ADDRESS_SPACE=y
CONFIG_IPQ_APSS_PLL=y
CONFIG_W1_SLAVE_DS28E17=y
CONFIG_HP_WATCHDOG=y
CONFIG_PREEMPT=y
CONFIG_CLK_STARFIVE_JH7110_PLL=y
CONFIG_SERIAL_MILBEAUT_USIO=y
CONFIG_CHARGER_RT9756=y
CONFIG_KEYBOARD_GPIO_POLLED=y
CONFIG_MFD_WM831X_I2C=y
CONFIG_RTC_DRV_LPC24XX=y
CONFIG_QCOM_AOSS_QMP=y
CONFIG_SERIAL_ATMEL_TTYAT=y
CONFIG_CHARGER_GPIO=y
CONFIG_ARCH_HAS_SETUP_DMA_OPS=y
CONFIG_FSL_DPAA_CHECKING=y
CONFIG_PHY_PXA_28NM_USB2=y
CONFIG_AUTOFS_FS=y
CONFIG_RTC_DRV_EFI=y
CONFIG_LEDS_OSRAM_AMS_AS3668=y
CONFIG_OVERLAY_FS=y
CONFIG_RTC_DRV_ISL12022=y
CONFIG_GENERIC_SYSCALL=y
CONFIG_MMC_DW=y
CONFIG_BCM_KONA_WDT=y
CONFIG_RESET_K230=y
CONFIG_REGULATOR_TPS6586X=y
CONFIG_AW96103=y
CONFIG_ADIS16400=y
CONFIG_QCOM_CPR=y
CONFIG_HAVE_ARCH_SECCOMP_FILTER=y
CONFIG_PHY_ST_SPEAR1310_MIPHY=y
CONFIG_REGULATOR_MAX20411=y
CONFIG_USER_NS=y
CONFIG_PINCTRL_SDM845=y
CONFIG_MFD_TI_LMU=y
CONFIG_BLK_ICQ=y
CONFIG_INPUT_WM831X_ON=y
CONFIG_CRYPTO_RSA=y
CONFIG_KVFREE_RCU_BATCHED=y
CONFIG_CRYPTO_ACOMP2=y
CONFIG_ARCH_PROC_KCORE_TEXT=y
CONFIG_FB_CORE=y
CONFIG_W1_MASTER_SGI=y
CONFIG_BCM_NS_THERMAL=y
CONFIG_RAID_ATTRS=y
CONFIG_COMEDI_ADDI_APCI_2200=y
CONFIG_AD5449=y
CONFIG_MFD_CS40L50_SPI=y
CONFIG_EXTCON_RT8973A=y
CONFIG_BACKLIGHT_KTD2801=y
CONFIG_HW_RANDOM_OMAP=y
CONFIG_PWM_MICROCHIP_CORE=y
CONFIG_REGULATOR_PV88080=y
CONFIG_TI_DAC7612=y
CONFIG_SERIAL_ALTERA_JTAGUART=y
CONFIG_TCM_PSCSI=y
CONFIG_LITEX_SOC_CONTROLLER=y
CONFIG_RTC_DRV_RP5C01=y
CONFIG_PROC_CHILDREN=y
CONFIG_SCSI_HPTIOP=y
CONFIG_CC_HAS_ASM_INLINE=y
CONFIG_SDX_GCC_75=y
CONFIG_CRYPTO_DEV_ATMEL_TDES=y
CONFIG_AD5758=y
CONFIG_CRYPTO_DRBG_HASH=y
CONFIG_ARCH_HAS_PREEMPT_LAZY=y
CONFIG_SWAP=y
CONFIG_COMEDI_AMPLC_DIO200=y
CONFIG_DECOMPRESS_GZIP=y
CONFIG_ARCH_SUPPORTS_RT=y
CONFIG_REGULATOR_MC13783=y
CONFIG_CLK_R8A774A1=y
CONFIG_RTC_DRV_DS1553=y
CONFIG_LTC2496=y
CONFIG_HOTPLUG_CORE_SYNC_DEAD=y
CONFIG_REGULATOR_RTQ2208=y
CONFIG_CRYPTO_LZO=y
CONFIG_CLK_SIFIVE=y
CONFIG_INV_ICM42600_SPI=y
CONFIG_CC_HAS_ASSUME=y
CONFIG_MMA7455_I2C=y
CONFIG_SUN4I_A10_CCU=y
CONFIG_GENERIC_IRQ_MIGRATION=y
CONFIG_ARM_HISI_UNCORE_DEVFREQ=y
CONFIG_SPI_ALTERA_CORE=y
CONFIG_DT_IDLE_STATES=y
CONFIG_GENERIC_IOREMAP=y
CONFIG_PWM_RENESAS_TPU=y
CONFIG_REGULATOR_VIRTUAL_CONSUMER=y
CONFIG_NLS_CODEPAGE_850=y
CONFIG_IPMI_PLAT_DATA=y
CONFIG_MMC=y
CONFIG_PHY_XILINX_ZYNQMP=y
CONFIG_PINCTRL_SKY1=y
CONFIG_PRINTK=y
CONFIG_FW_CFG_SYSFS_CMDLINE=y
CONFIG_I2C_CCGX_UCSI=y
CONFIG_PHY_BCM_NS_USB2=y
CONFIG_PM_SLEEP_DEBUG=y
CONFIG_SERIAL_CONEXANT_DIGICOLOR=y
CONFIG_LTC2471=y
CONFIG_MEMSTICK_JMICRON_38X=y
CONFIG_SERIO_ARC_PS2=y
CONFIG_GPIO_MAX730X=y
CONFIG_PINCTRL_SH_PFC_GPIO=y
CONFIG_QCOM_TZMEM=y
CONFIG_BINARY_PRINTF=y
CONFIG_CRYPTO_DEV_KEEMBAY_OCS_AES_SM4=y
CONFIG_PINCTRL_BROXTON=y
CONFIG_PHY_EXYNOS_MIPI_VIDEO=y
CONFIG_SCSI_MVSAS=y
CONFIG_ZLIB_DEFLATE=y
CONFIG_MMC_PXA=y
CONFIG_CPU_FREQ_STAT=y
CONFIG_SCSI_ADVANSYS=y
CONFIG_COMMON_CLK_BM1880=y
CONFIG_SERIAL_FSL_LPUART_CONSOLE=y
CONFIG_AFFS_FS=y
CONFIG_GPIO_ML_IOH=y
CONFIG_GPIO_LATCH=y
CONFIG_MFD_MT6397=y
CONFIG_KEYBOARD_QT1050=y
CONFIG_PINCTRL_MA35=y
CONFIG_GPIO_BT8XX=y
CONFIG_I2C_IMX=y
CONFIG_WATCHDOG=y
CONFIG_RD_LZO=y
CONFIG_CRYPTO_AUTHENC=y
CONFIG_ZONE_DMA32=y
CONFIG_BLK_DEV_BSG_COMMON=y
CONFIG_MAX1241=y
CONFIG_QCOM_CLK_APCS_MSM8916=y
CONFIG_RT_MUTEXES=y
CONFIG_PHY_STM32_COMBOPHY=y
CONFIG_ACPI_ALS=y
CONFIG_XFS_MEMORY_BUFS=y
CONFIG_COMEDI_8254=y
CONFIG_MFD_TPS65090=y
CONFIG_MFD_RT5120=y
CONFIG_QCOM_CPUCP_MBOX=y
CONFIG_IIO_BUFFER_DMAENGINE=y
CONFIG_RTC_DRV_WM831X=y
