CONFIG_HAVE_SOFTIRQ_ON_OWN_STACK=n
CONFIG_PKCS7_MESSAGE_PARSER=n
CONFIG_ARCH_DMA_ADDR_T_64BIT=n
CONFIG_SECURITY_NETWORK=n
CONFIG_X86_X2APIC=n
CONFIG_ARCH_HAS_CPU_CACHE_INVALIDATE_MEMREGION=n
CONFIG_DRM_DISPLAY_DSC_HELPER=n
CONFIG_CRYPTO_HW=n
CONFIG_GENERIC_IRQ_MATRIX_ALLOCATOR=n
CONFIG_NET_VENDOR_3COM=n
CONFIG_WLAN_VENDOR_ATMEL=n
CONFIG_ARCH_HAS_NON_OVERLAPPING_ADDRESS_SPACE=n
CONFIG_GENERIC_SYSCALL=n
CONFIG_NET_VENDOR_BROCADE=n
CONFIG_LZO_DECOMPRESS=n
CONFIG_BLOCK_HOLDER_DEPRECATED=n
CONFIG_IP_PNP_BOOTP=n
CONFIG_UNIX98_PTYS=n
CONFIG_DST_CACHE=n
CONFIG_BUG=n
CONFIG_AMD_IOMMU=n
CONFIG_SYNC_FILE=n
CONFIG_GENERIC_MSI_IRQ=n
CONFIG_THERMAL_NETLINK=n
CONFIG_CC_HAS_ASM_INLINE=n
CONFIG_WERROR=n
CONFIG_HAVE_FUNCTION_ERROR_INJECTION=n
CONFIG_NET_VENDOR_SILAN=n
CONFIG_INTEL_MEI=n
CONFIG_HAVE_MOD_ARCH_SPECIFIC=n
CONFIG_XPS=n
CONFIG_DRM_BUDDY=n
CONFIG_HARDLOCKUP_CHECK_TIMESTAMP=n
CONFIG_NLS_CODEPAGE_437=n
CONFIG_ACPI_BGRT=n
CONFIG_MIGRATION=n
CONFIG_IP_PIMSM_V1=n
CONFIG_ARCH_SUPPORTS_DEBUG_PAGEALLOC=n
CONFIG_DUMMY_CONSOLE=n
CONFIG_NF_NAT=n
CONFIG_X86_REQUIRED_FEATURE_LM=n
CONFIG_GENERIC_IRQ_RESERVATION_MODE=n
CONFIG_BINFMT_ELF=n
CONFIG_GENERIC_ISA_DMA=n
CONFIG_WMI_BMOF=n
CONFIG_CROSS_MEMORY_ATTACH=n
CONFIG_MOUSE_PS2_FOCALTECH=n
CONFIG_RTC_NVMEM=n
CONFIG_DRM_BRIDGE=n
CONFIG_AS_HAS_NON_CONST_ULEB128=n
CONFIG_X86_BUS_LOCK_DETECT=n
CONFIG_HAVE_ARCH_KFENCE=n
CONFIG_VIRTIO_ANCHOR=n
CONFIG_MITIGATION_SPECTRE_V2=n
CONFIG_NET_VENDOR_8390=n
CONFIG_CRYPTO_ALGAPI=n
CONFIG_HIGH_RES_TIMERS=n
CONFIG_GENERIC_CLOCKEVENTS_MIN_ADJUST=n
CONFIG_HAVE_GIGANTIC_FOLIOS=n
CONFIG_CPU_IDLE=n
CONFIG_BINFMT_SCRIPT=n
CONFIG_TIGON3_HWMON=n
CONFIG_MITIGATION_MDS=n
CONFIG_SGL_ALLOC=n
CONFIG_PROC_FS=n
CONFIG_P2SB=n
CONFIG_VGA_ARB=n
CONFIG_KRETPROBES=n
CONFIG_MODULE_UNLOAD=n
CONFIG_VMAP_PFN=n
CONFIG_UNINLINE_SPIN_UNLOCK=n
CONFIG_YENTA_ENE_TUNE=n
CONFIG_CPU_ISOLATION=n
CONFIG_HPET=n
CONFIG_LEGACY_DIRECT_IO=n
CONFIG_NF_REJECT_IPV4=n
CONFIG_X86_INTEL_TSX_MODE_AUTO=n
CONFIG_CFG80211_USE_KERNEL_REGDB_KEYS=n
CONFIG_HIBERNATION_SNAPSHOT_DEV=n
CONFIG_RTC_INTF_DEV=n
CONFIG_USB_EHCI_TT_NEWSCHED=n
CONFIG_ARCH_HAS_DEBUG_VIRTUAL=n
CONFIG_BINARY_PRINTF=n
CONFIG_RTC_DRV_CMOS=n
CONFIG_GENERIC_ENTRY=n
CONFIG_ATA_FORCE=n
CONFIG_NET_VENDOR_SYNOPSYS=n
CONFIG_HAVE_PERF_REGS=n
CONFIG_DCACHE_WORD_ACCESS=n
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE_PUD=n
CONFIG_THREAD_INFO_IN_TASK=n
CONFIG_NETFILTER_XTABLES=n
CONFIG_BPF=n
CONFIG_INITRAMFS_PRESERVE_MTIME=n
CONFIG_VIRTIO=n
CONFIG_RING_BUFFER=n
CONFIG_SOCK_RX_QUEUE_MAPPING=n
CONFIG_HID_SUNPLUS=n
CONFIG_HAVE_ARCH_JUMP_LABEL=n
CONFIG_CLOCKSOURCE_WATCHDOG=n
CONFIG_NETPOLL=n
CONFIG_MPILIB=n
CONFIG_NET_VENDOR_AMAZON=n
CONFIG_SLUB=n
CONFIG_NET_VENDOR_INTEL=n
CONFIG_ACPI_WMI=n
CONFIG_NUMA_MIGRATION=n
CONFIG_SYSCTL_EXCEPTION_TRACE=n
CONFIG_X86_MCE_INTEL=n
CONFIG_MD_AUTODETECT=n
CONFIG_GENERIC_CLOCKEVENTS_COUPLED=n
CONFIG_OID_REGISTRY=n
CONFIG_EXT4_FS_SECURITY=n
CONFIG_NFS_COMMON=n
CONFIG_KCMP=n
CONFIG_HPET_TIMER=n
CONFIG_SECCOMP_FILTER=n
CONFIG_BLK_DEV_INITRD=n
CONFIG_XZ_DEC_POWERPC=n
CONFIG_MMU_GATHER_RCU_TABLE_FREE=n
CONFIG_INSTRUCTION_DECODER=n
CONFIG_HAS_IOPORT=n
CONFIG_SND=n
CONFIG_X86_REQUIRED_FEATURE_SYSFAST32=n
CONFIG_X86_DISABLED_FEATURE_VME=n
CONFIG_ARCH_ENABLE_SPLIT_PMD_PTLOCK=n
CONFIG_SCSI=n
CONFIG_CC_HAS_ASM_GOTO_OUTPUT=n
CONFIG_HAVE_ARCH_SECCOMP_FILTER=n
CONFIG_X86_EXTENDED_PLATFORM=n
CONFIG_GENERIC_IRQ_SHOW=n
CONFIG_PTDUMP=n
CONFIG_SCHED_MC_PRIO=n
CONFIG_X86_AMD_PSTATE=n
CONFIG_MITIGATION_CALL_DEPTH_TRACKING=n
CONFIG_HID_PANTHERLORD=n
CONFIG_SUSPEND=n
CONFIG_MODULES=n
CONFIG_SYSVIPC=n
CONFIG_ARCH_HAS_MEM_ENCRYPT=n
CONFIG_NET_SCHED=n
CONFIG_CACHESTAT_SYSCALL=n
CONFIG_HAVE_CMPXCHG_DOUBLE=n
CONFIG_ARCH_SUPPORTS_KEXEC_BZIMAGE_VERIFY_SIG=n
CONFIG_ACPI_PROCESSOR_IDLE=n
CONFIG_NET_VENDOR_REALTEK=n
CONFIG_NET_VENDOR_ATHEROS=n
CONFIG_PATA_AMD=n
CONFIG_FS_IOMAP=n
CONFIG_COMPAT_FOR_U64_ALIGNMENT=n
CONFIG_NF_CONNTRACK_FTP=n
CONFIG_X86_MCE=n
CONFIG_SND_HDA_CORE=n
CONFIG_ARCH_STACKWALK=n
CONFIG_NF_LOG_SYSLOG=n
CONFIG_MOUSE_PS2_LIFEBOOK=n
CONFIG_X509_CERTIFICATE_PARSER=n
CONFIG_HAVE_STATIC_CALL=n
CONFIG_GENERIC_NET_UTILS=n
CONFIG_CC_HAS_AUTO_VAR_INIT_PATTERN=n
CONFIG_HZ_1000=n
CONFIG_DRM_I915=n
CONFIG_HAVE_ALIGNED_STRUCT_PAGE=n
CONFIG_DEBUG_DEVRES=n
CONFIG_EXT4_FS_POSIX_ACL=n
CONFIG_FW_CACHE=n
CONFIG_TOOLS_SUPPORT_RELR=n
CONFIG_LD_IS_BFD=n
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_ARGS=n
CONFIG_TRACING_SUPPORT=n
CONFIG_CFG80211_CRDA_SUPPORT=n
CONFIG_NETFILTER_XT_TARGET_TCPMSS=n
CONFIG_DRM_PANEL_ORIENTATION_QUIRKS=n
CONFIG_MITIGATION_IBPB_ENTRY=n
CONFIG_CPU_FREQ_GOV_ATTR_SET=n
CONFIG_SCHED_CLUSTER=n
CONFIG_GPIOLIB_LEGACY=n
CONFIG_IOMMU_PT=n
CONFIG_MODULES_USE_ELF_RELA=n
CONFIG_HID=n
CONFIG_ARCH_USE_CMPXCHG_LOCKREF=n
CONFIG_WLAN_VENDOR_REALTEK=n
CONFIG_SPLIT_PMD_PTLOCKS=n
CONFIG_SYMBOLIC_ERRNAME=n
CONFIG_ARCH_HAS_GENERIC_CRASHKERNEL_RESERVATION=n
CONFIG_HAVE_DYNAMIC_FTRACE=n
CONFIG_CRYPTO_LIB_UTILS=n
CONFIG_HW_RANDOM_VIA=n
CONFIG_EXT4_USE_FOR_EXT2=n
CONFIG_RANDOMIZE_KSTACK_OFFSET=n
CONFIG_SND_INTEL_DSP_CONFIG=n
CONFIG_POSIX_CPU_TIMERS_TASK_WORK=n
CONFIG_ARCH_HAS_SYNC_CORE_BEFORE_USERMODE=n
CONFIG_COMPAT_32=n
CONFIG_CFG80211_DEFAULT_PS=n
CONFIG_PCCARD_NONSTATIC=n
CONFIG_AGP_AMD64=n
CONFIG_HAVE_MOVE_PMD=n
CONFIG_BROADCAST_TLB_FLUSH=n
CONFIG_DMI=n
CONFIG_INPUT_TOUCHSCREEN=n
CONFIG_LOCALVERSION_AUTO=n
CONFIG_PERF_EVENTS_INTEL_UNCORE=n
CONFIG_RANDOMIZE_BASE=n
CONFIG_NET_VENDOR_LITEX=n
CONFIG_HAVE_PERF_EVENTS=n
CONFIG_HAVE_KERNEL_GZIP=n
CONFIG_SCHED_MC=n
CONFIG_HAVE_ASM_MODVERSIONS=n
CONFIG_NOINSTR_VALIDATION=n
CONFIG_SCSI_DMA=n
CONFIG_X86_REQUIRED_FEATURE_XMM=n
CONFIG_HOTPLUG_CORE_SYNC=n
CONFIG_ETHERNET=n
CONFIG_SERIAL_8250_CONSOLE=n
CONFIG_X86_PLATFORM_DEVICES=n
CONFIG_CRYPTO_ALGAPI2=n
CONFIG_SCHED_OMIT_FRAME_POINTER=n
CONFIG_IP_PNP_DHCP=n
CONFIG_SERIAL_8250_RSA=n
CONFIG_PCMCIA=n
CONFIG_CRYPTO_AEAD=n
CONFIG_PCI_LABEL=n
CONFIG_HAVE_RSEQ=n
CONFIG_AGP=n
CONFIG_X86_LOCAL_APIC=n
CONFIG_HAVE_SYSCALL_TRACEPOINTS=n
CONFIG_ARCH_HAS_ADD_PAGES=n
CONFIG_X86_DIRECT_GBPAGES=n
CONFIG_OPENSSL_SUPPORTS_ML_DSA=n
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_JMP=n
CONFIG_GROUP_SCHED_WEIGHT=n
CONFIG_NET_VENDOR_OKI=n
CONFIG_EFI_HANDOVER_PROTOCOL=n
CONFIG_EFI_RUNTIME_MAP=n
CONFIG_ARCH_SUPPORTS_HUGETLBFS=n
CONFIG_ACPI_VIDEO=n
CONFIG_WLAN_VENDOR_TI=n
CONFIG_XZ_DEC_ARM64=n
CONFIG_POSIX_TIMERS=n
CONFIG_ARCH_HAS_HW_PTE_YOUNG=n
CONFIG_NET=n
CONFIG_CRYPTO_LIB_BLAKE2S_ARCH=n
CONFIG_TRACE_IRQFLAGS_NMI_SUPPORT=n
CONFIG_MITIGATION_PAGE_TABLE_ISOLATION=n
CONFIG_YENTA_TOSHIBA=n
CONFIG_HAVE_PAGE_SIZE_4KB=n
CONFIG_SERIAL_CORE_CONSOLE=n
CONFIG_PNFS_FLEXFILE_LAYOUT=n
CONFIG_FAIR_GROUP_SCHED=n
CONFIG_ARCH_SUPPORTS_KEXEC_SIG_FORCE=n
CONFIG_GENERIC_CPU_AUTOPROBE=n
CONFIG_ARCH_HAS_COPY_MC=n
CONFIG_FUNCTION_ALIGNMENT_4B=n
CONFIG_NETFILTER_INGRESS=n
CONFIG_SPARSEMEM_VMEMMAP_ENABLE=n
CONFIG_ARCH_SUPPORTS_CRASH_HOTPLUG=n
CONFIG_PERF_EVENTS=n
CONFIG_ADVISE_SYSCALLS=n
CONFIG_ISO9660_FS=n
CONFIG_MD=n
CONFIG_PREVENT_FIRMWARE_BUILD=n
CONFIG_CORE_DUMP_DEFAULT_ELF_HEADERS=n
CONFIG_BCMA_POSSIBLE=n
CONFIG_X86_CMOV=n
CONFIG_MITIGATION_ITS=n
CONFIG_VIRTIO_BLK=n
CONFIG_HAVE_UACCESS_VALIDATION=n
CONFIG_X86_REQUIRED_FEATURE_XMM2=n
CONFIG_INTEL_TCC=n
CONFIG_ELFCORE=n
CONFIG_BLK_DEV_DM_BUILTIN=n
CONFIG_GENERIC_IRQ_PROBE=n
CONFIG_RTC_INTF_PROC=n
CONFIG_SGETMASK_SYSCALL=n
CONFIG_SWAP=n
CONFIG_NET_VENDOR_MARVELL=n
CONFIG_ARCH_HAS_GIGANTIC_PAGE=n
CONFIG_NETFILTER_XT_MATCH_STATE=n
CONFIG_CGROUP_PERF=n
CONFIG_HVC_DRIVER=n
CONFIG_NET_VENDOR_QUALCOMM=n
CONFIG_KPROBE_EVENTS=n
CONFIG_CFG80211=n
CONFIG_X86_DISABLED_FEATURE_CYRIX_ARR=n
CONFIG_SATA_HOST=n
CONFIG_CC_HAS_KASAN_GENERIC=n
CONFIG_COMPAT_OLD_SIGACTION=n
CONFIG_NET_VENDOR_SOCIONEXT=n
CONFIG_SERIO_I8042=n
CONFIG_RANDOMIZE_MEMORY=n
CONFIG_GENERIC_STRNCPY_FROM_USER=n
CONFIG_PROVIDE_OHCI1394_DMA_INIT=n
CONFIG_PREEMPT_BUILD=n
CONFIG_NETWORK_SECMARK=n
CONFIG_PCSPKR_PLATFORM=n
CONFIG_PCI_MMCONFIG=n
CONFIG_PAGE_SIZE_LESS_THAN_256KB=n
CONFIG_MAC80211_RC_DEFAULT_MINSTREL=n
CONFIG_JBD2=n
