CONFIG_PRIME_NUMBERS=y
CONFIG_BATTERY_CW2015=y
CONFIG_GPIO_AMDPT=y
CONFIG_SCSI_MOD=y
CONFIG_MAILBOX_TEST=y
CONFIG_TOUCHSCREEN_ADS7846=y
CONFIG_ATM=y
CONFIG_PERF_EVENTS=y
CONFIG_SPI_PL022=y
CONFIG_AD2S1200=y
CONFIG_KMALLOC_PARTITION_CACHES=y
CONFIG_COMMON_CLK_MT8173_MFGTOP=y
CONFIG_SPI_LM70_LLP=y
CONFIG_LZO_DECOMPRESS=y
CONFIG_PINCTRL_SH_PFC_GPIO=y
CONFIG_NEED_SG_DMA_FLAGS=y
CONFIG_EDAC_ECS=y
CONFIG_KPROBES_ON_FTRACE=y
CONFIG_ARCH_USES_PG_ARCH_2=y
CONFIG_RZT2H_ADC=y
CONFIG_IIO_TRIGGERED_BUFFER=y
CONFIG_CRYPTO_MANAGER=y
CONFIG_ARCH_SUPPORTS_CRASH_HOTPLUG=y
CONFIG_W1=y
CONFIG_PINCTRL_LYNXPOINT=y
CONFIG_LEDS_NCP5623=y
CONFIG_PWM_TWL=y
CONFIG_QCOM_HFPLL=y
CONFIG_HAVE_KERNEL_LZMA=y
CONFIG_ETHTOOL_NETLINK=y
CONFIG_REGULATOR_PF530X=y
CONFIG_QCOM_PM8XXX_XOADC=y
CONFIG_REGULATOR_FAN53555=y
CONFIG_BATTERY_OLPC=y
CONFIG_CHARGER_MAX77693=y
CONFIG_KVFREE_RCU_BATCHED=y
CONFIG_BT_HCIUART_INTEL=y
CONFIG_GPIO_TQMX86=y
CONFIG_GPIB_FLUKE=y
CONFIG_COMMON_CLK_MT8173_VENCSYS=y
CONFIG_LEDS_LP3944=y
CONFIG_MAX5821=y
CONFIG_HW_RANDOM_NPCM=y
CONFIG_PINCTRL_MTK_V2=y
CONFIG_RCU_STALL_COMMON=y
CONFIG_CRYPTO_XCBC=y
CONFIG_FAT_DEFAULT_UTF8=y
CONFIG_INPUT_IQS626A=y
CONFIG_APDS9802ALS=y
CONFIG_CRYPTO_ECC=y
CONFIG_IRQ_SIM=y
CONFIG_PM=y
CONFIG_AD9523=y
CONFIG_W1_SLAVE_DS250X=y
CONFIG_MTD_OF_PARTS=y
CONFIG_INPUT_MISC=y
CONFIG_GPIO_KEMPLD=y
CONFIG_CRYPTO_ARIA=y
CONFIG_HAVE_SINGLE_FTRACE_DIRECT_OPS=y
CONFIG_LCD_LTV350QV=y
CONFIG_COMPACTION=y
CONFIG_REGULATOR_LP3971=y
CONFIG_BITLAND_MIFS_WMI=y
CONFIG_CLK_BCM_63XX_GATE=y
CONFIG_EXTCON_RT8973A=y
CONFIG_CONTEXT_TRACKING=y
CONFIG_LTC2497=y
CONFIG_PWM_AIROHA=y
CONFIG_HP206C=y
CONFIG_ARCH_MEMORY_ORDER_TSO=y
CONFIG_COMMON_CLK_MT8173=y
CONFIG_BCH=y
CONFIG_INPUT_PM8XXX_VIBRATOR=y
CONFIG_THERMAL=y
CONFIG_SPI_OFFLOAD=y
CONFIG_TI_SYSCON_CLK=y
CONFIG_GREYBUS=y
CONFIG_JOYSTICK_SEESAW=y
CONFIG_CHARGER_BQ2415X=y
CONFIG_DEBUG_FS=y
CONFIG_MLXREG_HOTPLUG=y
CONFIG_PINCTRL_MT2712=y
CONFIG_LEDS_PCA9532_GPIO=y
CONFIG_HAVE_FTRACE_REGS_HAVING_PT_REGS=y
CONFIG_PHY_LAN966X_SERDES=y
CONFIG_HWSPINLOCK=y
CONFIG_X9250=y
CONFIG_SCSI_DEBUG=y
CONFIG_PINCTRL_PFC_R8A774B1=y
CONFIG_VDPA=y
CONFIG_VIRTIO_ANCHOR=y
CONFIG_MEEGOPAD_ANX7428=y
CONFIG_PHY_FSL_LYNX_28G=y
CONFIG_VEML6070=y
CONFIG_SERIAL_ALTERA_UART_CONSOLE=y
CONFIG_SAMSUNG_GALAXYBOOK=y
CONFIG_SM_VIDEOCC_8150=y
CONFIG_SERIAL_MEN_Z135=y
CONFIG_NVMEM_U_BOOT_ENV=y
CONFIG_QDU_GCC_1000=y
CONFIG_COMMON_CLK_MT8195_SCP_ADSP=y
CONFIG_HAVE_MOD_ARCH_SPECIFIC=y
CONFIG_GPIO_LOONGSON1=y
CONFIG_MTD_PHRAM=y
CONFIG_CRYPTO_CCM=y
CONFIG_HAVE_UNSTABLE_SCHED_CLOCK=y
CONFIG_NVME_AUTH=y
CONFIG_GOOGLE_MEMCONSOLE_X86_LEGACY=y
CONFIG_EDAC_VERSAL=y
CONFIG_COMMON_CLK_MESON_VID_PLL_DIV=y
CONFIG_ARCH_SUPPORTS_CMDLINE_FROM_BOOTCONFIG=y
CONFIG_VIRTIO_RTC_CLASS=y
CONFIG_X86_DISABLED_FEATURE_OSPKE=y
CONFIG_GENERIC_IRQ_CHIP=y
CONFIG_APPLE_PMGR_PWRSTATE=y
CONFIG_PINCTRL_MERRIFIELD=y
CONFIG_CHARGER_BQ2515X=y
CONFIG_LEDS_TRIGGER_MTD=y
CONFIG_LEDS_USER=y
CONFIG_HAS_DMA=y
CONFIG_HAVE_PREEMPT_DYNAMIC_CALL=y
CONFIG_RESET_SIMPLE=y
CONFIG_X86_DISABLED_FEATURE_RETPOLINE=y
CONFIG_CLK_KAANAPALI_TCSRCC=y
CONFIG_LEGACY_TIOCSTI=y
CONFIG_FWCTL=y
CONFIG_CPU_FREQ_GOV_COMMON=y
CONFIG_PWM_KEEMBAY=y
CONFIG_XZ_DEC_X86=y
CONFIG_ARCH_HAS_MEM_ENCRYPT=y
CONFIG_REGULATOR_RT5739=y
CONFIG_SOPHGO_CV1800B_ADC=y
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_JMP=y
CONFIG_SPEAKUP_SYNTH_LTLK=y
CONFIG_FIREWIRE_SBP2=y
CONFIG_MTK_REGULATOR_COUPLER=y
CONFIG_PSAMPLE=y
CONFIG_PINCTRL_CS47L92=y
CONFIG_HDMI=y
CONFIG_INTERCONNECT_QCOM_SAR2130P=y
CONFIG_DYNAMIC_DEBUG_CORE=y
CONFIG_TI_ADS8688=y
CONFIG_TI_DAC5571=y
CONFIG_OF_DYNAMIC=y
CONFIG_MCP4821=y
CONFIG_HAVE_PERF_EVENTS=y
CONFIG_GPIO_UNIPHIER=y
CONFIG_CRC32=y
CONFIG_MS5611_I2C=y
CONFIG_INPUT_AD714X_I2C=y
CONFIG_FB_CFB_FILLRECT=y
CONFIG_MTK_MFG_PM_DOMAIN=y
CONFIG_MCP4018=y
CONFIG_TASKS_RCU=y
CONFIG_FW_LOADER_PAGED_BUF=y
CONFIG_REGULATOR_ISL6271A=y
CONFIG_NLS_CODEPAGE_869=y
CONFIG_CC_HAS_ENTRY_PADDING=y
CONFIG_NETFILTER=y
CONFIG_PINCTRL_JASPERLAKE=y
CONFIG_PINCTRL_PFC_R8A77951=y
CONFIG_PINCTRL_CS42L43=y
CONFIG_SERIAL_ALTERA_JTAGUART=y
CONFIG_CRYPTO_TWOFISH_COMMON=y
CONFIG_ARM_CORESIGHT_PMU_ARCH_SYSTEM_PMU=y
CONFIG_SERIAL_OMAP=y
CONFIG_SENSORS_ASB100=y
CONFIG_SERIAL_8250_NI=y
CONFIG_CRYPTO_ECHAINIV=y
CONFIG_SC27XX_ADC=y
CONFIG_ROHM_BD79112=y
CONFIG_PPS_DEBUG=y
CONFIG_BSD_PROCESS_ACCT=y
CONFIG_I2C_BOARDINFO=y
CONFIG_PINCTRL_SM6350_LPASS_LPI=y
CONFIG_TOUCHSCREEN_CYTTSP_CORE=y
CONFIG_IIO_ST_PRESS_I2C=y
CONFIG_ARCH_WANT_BATCHED_UNMAP_TLB_FLUSH=y
CONFIG_HAVE_PCSPKR_PLATFORM=y
CONFIG_ADMV4420=y
CONFIG_BT_LEDS=y
CONFIG_RTC_DRV_JZ4740=y
CONFIG_COMMON_CLK_RS9_PCIE=y
CONFIG_SENSORS_LM63=y
CONFIG_SERIAL_MESON=y
CONFIG_ARM_TI_CPUFREQ=y
CONFIG_BMI323_SPI=y
CONFIG_MSDOS_PARTITION=y
CONFIG_SENSORS_MPQ8646=y
CONFIG_PINCTRL_TANGIER=y
CONFIG_MFD_TI_LMU=y
CONFIG_SM_GCC_8550=y
CONFIG_HISI_THERMAL=y
CONFIG_ARCH_HAS_CACHE_LINE_SIZE=y
CONFIG_KVM_HYPERV=y
CONFIG_BLK_DEV_BSGLIB=y
CONFIG_SERIAL_SIFIVE=y
CONFIG_MOUSE_CYAPA=y
CONFIG_COMEDI_KCOMEDILIB=y
CONFIG_SYSFS=y
CONFIG_IIO_SIMPLE_DUMMY_EVENTS=y
CONFIG_W1_MASTER_SGI=y
CONFIG_X86_DISABLED_FEATURE_TDX_GUEST=y
CONFIG_TIMERFD=y
CONFIG_SUN6I_A31_CCU=y
CONFIG_PINCTRL_QCOM_SPMI_PMIC=y
CONFIG_LEDS_CLASS_FLASH=y
CONFIG_NFC_MRVL_SPI=y
CONFIG_SM_GPUCC_8350=y
CONFIG_PINCTRL_PFC_R8A7778=y
CONFIG_COMMON_CLK_MMP2_AUDIO=y
CONFIG_FPGA_MGR_SOCFPGA=y
CONFIG_SKB_EXTENSIONS=y
CONFIG_CLK_HAWI_VIDEOCC=y
CONFIG_GPIO_TPS68470=y
CONFIG_JOYSTICK_ADC=y
CONFIG_SENSORS_DS620=y
CONFIG_BRANCH_PROFILE_NONE=y
CONFIG_XZ_DEC_RISCV=y
CONFIG_MDM_GCC_9615=y
CONFIG_KVM_MMU_LOCKLESS_AGING=y
CONFIG_OF_KOBJ=y
CONFIG_GENERIC_PCI_IOMAP=y
CONFIG_NLS=y
CONFIG_SPEAR_ADC=y
CONFIG_PHY_HI3670_PCIE=y
CONFIG_JOYSTICK_DB9=y
CONFIG_AMD_MBV_BRAM_REMOTEPROC=y
CONFIG_BMI323=y
CONFIG_SYSTEM_REVOCATION_LIST=y
CONFIG_SM_VIDEOCC_8450=y
CONFIG_QCOM_PAS=y
CONFIG_CRYPTO_KPP2=y
CONFIG_PHY_SPACEMIT_K3_COMMON_OPS=y
CONFIG_I3C=y
CONFIG_MTD_OF_PARTS_BCM4908=y
CONFIG_HAVE_ARCH_KGDB=y
CONFIG_GOOGLE_COREBOOT_TABLE=y
CONFIG_SM_GPUCC_MILOS=y
CONFIG_LEDS_EXPRESSWIRE=y
CONFIG_COREDUMP=y
CONFIG_INV_ICM42600_I2C=y
CONFIG_MFD_RC5T583=y
CONFIG_INPUT_REGULATOR_HAPTIC=y
CONFIG_MAX44009=y
CONFIG_REGULATOR_PFUZE100=y
CONFIG_TCG_VTPM_PROXY=y
CONFIG_GPIO_MPC8XXX=y
CONFIG_RESET_K230=y
CONFIG_HAVE_KVM_PM_NOTIFIER=y
CONFIG_HIST_TRIGGERS=y
CONFIG_SERIAL_IMX=y
CONFIG_TI_SCI_PROTOCOL=y
CONFIG_PMIC_ADP5520=y
CONFIG_STM32_LPTIMER_CNT=y
CONFIG_PHY_DA8XX_USB=y
CONFIG_ASPEED_ADC=y
CONFIG_GPIO_BD71828=y
CONFIG_SENSORS_MAX20830=y
CONFIG_LEDS_GROUP_MULTICOLOR=y
CONFIG_VIRTIO_INPUT=y
CONFIG_COMMON_CLK_HISI=y
CONFIG_TOUCHSCREEN_EGALAX=y
CONFIG_CRYPTO_DEFLATE=y
CONFIG_SENSORS_KB9002=y
CONFIG_FPGA_MGR_ALTERA_PS_SPI=y
CONFIG_RTC_DRV_PCF8523=y
CONFIG_NVMEM_APPLE_SPMI=y
CONFIG_MMP_DISP=y
CONFIG_MFD_MAX14577=y
CONFIG_PHY_QCOM_IPQ806X_USB=y
CONFIG_CRYPTO_AEAD=y
CONFIG_PINCTRL_IMX_SCMI=y
CONFIG_PHY_ROCKCHIP_DPHY_RX0=y
CONFIG_PHY_RCAR_GEN3_USB3=y
CONFIG_NFC_FDP=y
CONFIG_MSM_GCC_8998=y
CONFIG_CONTEXT_TRACKING_IDLE=y
CONFIG_ALTERA_STAPL=y
CONFIG_RESET_TH1520=y
CONFIG_CRYPTO_LIB_SHA1=y
CONFIG_PINCTRL_INTEL_PLATFORM=y
CONFIG_MFD_TI_LP87565=y
CONFIG_MFD_SPMI_PMIC=y
CONFIG_MMU_GATHER_TABLE_FREE=y
CONFIG_SENSORS_MAX16601=y
CONFIG_LTO_NONE=y
CONFIG_ACPI_HED=y
CONFIG_FAT_FS=y
CONFIG_FB_IOMEM_HELPERS=y
CONFIG_INV_ICM42600_SPI=y
CONFIG_COMMON_CLK_MT8173_IMGSYS=y
CONFIG_RCU_EXPERT=y
CONFIG_TOUCHSCREEN_MMS114=y
CONFIG_MFD_SM501=y
CONFIG_MAX44000=y
CONFIG_INTERCONNECT_QCOM_RPMH_POSSIBLE=y
CONFIG_DMA_JZ4780=y
CONFIG_MTD_SPI_NOR_USE_4K_SECTORS=y
CONFIG_CLK_SKY1_AUDSS=y
CONFIG_TI_AEMIF=y
CONFIG_INV_MPU6050_SPI=y
CONFIG_PWM_VISCONTI=y
CONFIG_CRYPTO_SERPENT_SSE2_X86_64=y
CONFIG_INPUT_AD714X=y
CONFIG_PRINTK=y
CONFIG_GPIO_MOCKUP=y
CONFIG_MLXREG_DPU=y
CONFIG_ARCH_HAS_NONLEAF_PMD_YOUNG=y
CONFIG_MMC5983=y
CONFIG_TI_ADC084S021=y
CONFIG_SC_GPUCC_7180=y
CONFIG_SENSORS_ARM_SCPI=y
CONFIG_MFD_RN5T618=y
CONFIG_HP_BIOSCFG=y
CONFIG_HAVE_ASM_MODVERSIONS=y
CONFIG_TICK_CPU_ACCOUNTING=y
CONFIG_CDX_CONTROLLER=y
CONFIG_ATMEL_ST=y
CONFIG_I2C_TAOS_EVM=y
CONFIG_PINCTRL_RZA2=y
CONFIG_ENS210=y
CONFIG_AFE4404=y
CONFIG_AD5593R=y
CONFIG_HAVE_ARCH_KMSAN=y
CONFIG_SPI_DW_MMIO=y
CONFIG_MFD_88PM860X=y
CONFIG_PTP_1588_CLOCK_OPTIONAL=y
CONFIG_PINCTRL_MLXBF3=y
CONFIG_TWL4030_CORE=y
CONFIG_XFS_BTREE_IN_MEM=y
CONFIG_REGULATOR_LTC3589=y
CONFIG_PINCTRL_SM8750=y
CONFIG_IIO_SW_DEVICE=y
CONFIG_COMMON_CLK=y
CONFIG_BACKLIGHT_SY7758=y
CONFIG_ARCH_SUPPORTS_MSEAL_SYSTEM_MAPPINGS=y
CONFIG_NVMEM_SC27XX_EFUSE=y
CONFIG_MTD_SLRAM=y
CONFIG_T5403=y
CONFIG_SENSORS_RM3100_SPI=y
CONFIG_HAVE_ARCH_KCSAN=y
CONFIG_SAMSUNG_LAPTOP=y
CONFIG_MTD_CFI_UTIL=y
CONFIG_VERSAL_SYSMON_CORE=y
CONFIG_RTC_DRV_DIGICOLOR=y
CONFIG_REGULATOR_PCA9450=y
CONFIG_PWM_SOPHGO_SG2042=y
CONFIG_ARCH_CORRECT_STACKTRACE_ON_KRETPROBE=y
CONFIG_CLK_MAILI_VIDEOCC=y
CONFIG_SERIAL_NUVOTON_MA35D1_CONSOLE=y
CONFIG_INTEL_IDLE=y
CONFIG_GPIO_ROCKCHIP=y
CONFIG_PINCTRL_RTD=y
CONFIG_SPI_SUNPLUS_SP7021=y
CONFIG_LEDS_CLASS=y
CONFIG_SPI_CADENCE_XSPI=y
CONFIG_INPUT_JOYDEV=y
CONFIG_HW_RANDOM_BCM74110=y
CONFIG_REGULATOR_RASPBERRYPI_TOUCHSCREEN_V2=y
CONFIG_ENCRYPTED_KEYS=y
CONFIG_AD3552R_LIB=y
CONFIG_PINCTRL_MCP23S08_SPI=y
CONFIG_RTC_DRV_S32G=y
CONFIG_MTD_DOCG3=y
CONFIG_GPIO_FTGPIO010=y
CONFIG_ARCH_WANTS_CLOCKSOURCE_READ_INLINE=y
CONFIG_BH1780=y
CONFIG_LMK04832=y
CONFIG_FB_OPENCORES=y
CONFIG_NLS_MAC_ICELAND=y
CONFIG_ARCH_HAS_NON_OVERLAPPING_ADDRESS_SPACE=y
CONFIG_ARCH_SUPPORTS_KEXEC_JUMP=y
CONFIG_DASHARO_ACPI=y
CONFIG_RCAR_DMAC=y
CONFIG_MTD_NAND_CORE=y
CONFIG_VDSO_DATASTORE=y
CONFIG_PINCTRL_LPC18XX=y
CONFIG_TOUCHSCREEN_ELO=y
CONFIG_GPIO_LATCH=y
CONFIG_ACPI_CPU_FREQ_PSS=y
CONFIG_RTC_DRV_ABB5ZES3=y
CONFIG_SERIAL_MXS_AUART_CONSOLE=y
CONFIG_MOUSE_VSXXXAA=y
CONFIG_SOC_IMX9=y
CONFIG_I2C_RZV2M=y
CONFIG_INPUT_IDEAPAD_SLIDEBAR=y
CONFIG_COMMON_CLK_MT8135=y
CONFIG_SENSORS_THMC50=y
CONFIG_MFD_MT6397=y
CONFIG_GPIO_F7188X=y
CONFIG_UX500_SOC_ID=y
CONFIG_LEDS_BCM6358=y
CONFIG_SYSCALL_USER_DISPATCH=y
CONFIG_COMEDI_8255_SA=y
CONFIG_SERIAL_8250_DW=y
CONFIG_GPIO_HLWD=y
CONFIG_SPI_INTEL=y
CONFIG_RESET_STARFIVE_JH7100=y
CONFIG_CLK_KAANAPALI_GCC=y
CONFIG_AUDIT_ARCH=y
CONFIG_VHOST_MENU=y
CONFIG_CHARGER_BQ257XX=y
CONFIG_ENCLOSURE_SERVICES=y
CONFIG_MFD_CS40L50_SPI=y
CONFIG_LOCK_DEBUGGING_SUPPORT=y
CONFIG_CRYPTO_RNG=y
CONFIG_MMA7455=y
CONFIG_IMX8MM_THERMAL=y
CONFIG_SPARSEMEM_VMEMMAP=y
CONFIG_BLOCK=y
CONFIG_LOCKDEP_SUPPORT=y
CONFIG_PINCTRL_MSM8226=y
CONFIG_ARCH_SUPPORTS_KEXEC_BZIMAGE_VERIFY_SIG=y
CONFIG_TRACEFS_AUTOMOUNT_DEPRECATED=y
CONFIG_DYNAMIC_FTRACE_WITH_REGS=y
CONFIG_MFD_TC3589X=y
CONFIG_AD5764=y
CONFIG_CRYPTO_SM4_AESNI_AVX_X86_64=y
CONFIG_IPQ_GCC_6018=y
CONFIG_SDM_CAMCC_845=y
CONFIG_SERIAL_CONEXANT_DIGICOLOR_CONSOLE=y
CONFIG_CRYPTO_XXHASH=y
CONFIG_OLPC_XO175=y
CONFIG_TOUCHSCREEN_SILEAD=y
CONFIG_TCG_TIS_I2C=y
CONFIG_PWM_TIECAP=y
CONFIG_PHY_QCOM_QUSB2=y
CONFIG_SENSORS_NCT7363=y
CONFIG_SDM_GPUCC_845=y
CONFIG_PINCTRL_CS47L90=y
CONFIG_MRP=y
CONFIG_CDX_BUS=y
CONFIG_SPI_BCM63XX=y
CONFIG_SM_DISPCC_8450=y
CONFIG_DECOMPRESS_LZO=y
CONFIG_MFD_DA9062=y
CONFIG_AD5770R=y
CONFIG_REGULATOR_PWM=y
CONFIG_PACKET=y
CONFIG_PINCTRL_TEGRA186=y
CONFIG_HAVE_USER_RETURN_NOTIFIER=y
CONFIG_NLS_CODEPAGE_860=y
CONFIG_PINCTRL_TEGRA194=y
CONFIG_MEMORY_ISOLATION=y
CONFIG_SIMPLE_RING_BUFFER=y
CONFIG_APDS9960=y
CONFIG_CC_HAS_SANE_FUNCTION_ALIGNMENT=y
CONFIG_FB_METRONOME=y
CONFIG_DMI=y
CONFIG_RATIONAL=y
CONFIG_SENSORS_F71805F=y
CONFIG_UNWIND_USER=y
CONFIG_SCSI_IMM=y
CONFIG_TCG_TIS_ST33ZP24_I2C=y
CONFIG_CHARGER_TWL6030=y
CONFIG_RV_HA_MONITOR=y
CONFIG_HAVE_DYNAMIC_FTRACE=y
CONFIG_SERIAL_LANTIQ=y
CONFIG_CLK_IMX8MQ=y
CONFIG_LG_LAPTOP=y
CONFIG_GENERIC_PINCTRL=y
CONFIG_MMU_LAZY_TLB_REFCOUNT=y
CONFIG_REGULATOR_BD71828=y
CONFIG_SPI_AXI_SPI_ENGINE=y
CONFIG_PWM_PXA=y
CONFIG_COMMON_CLK_MT7622_AUDSYS=y
CONFIG_NLATTR=y
CONFIG_KRETPROBES=y
CONFIG_PHY_INTEL_KEEMBAY_EMMC=y
CONFIG_MTD_NAND_ECC_REALTEK=y
CONFIG_VIRTIO_IOMMU=y
CONFIG_ARCH_USE_QUEUED_RWLOCKS=y
CONFIG_842_COMPRESS=y
CONFIG_SERIAL_SIFIVE_CONSOLE=y
CONFIG_MILBEAUT_XDMAC=y
CONFIG_PINCTRL_IMX6UL=y
CONFIG_MFD_TPS6594=y
CONFIG_MHP_DEFAULT_ONLINE_TYPE_ONLINE_KERNEL=y
CONFIG_CLK_X1E80100_CAMCC=y
CONFIG_INPUT_TWL4030_PWRBUTTON=y
CONFIG_RTC_DRV_DS1305=y
CONFIG_IMX_IRQSTEER=y
CONFIG_CRYPTO_LIB_GF128HASH_ARCH=y
CONFIG_HAVE_TRUSTED_KEYS=y
CONFIG_BUILDTIME_MCOUNT_SORT=y
CONFIG_NFC_NCI_UART=y
CONFIG_HAVE_KVM_READONLY_MEM=y
CONFIG_MFD_WM8350_I2C=y
CONFIG_ADI_AXI_ADC=y
CONFIG_IXP4XX_QMGR=y
CONFIG_ARCH_WANT_FRAME_POINTERS=y
CONFIG_DECOMPRESS_ZSTD=y
CONFIG_LEDS_TRIGGER_TIMER=y
CONFIG_CRYPTO_SM4_GENERIC=y
CONFIG_ENS160_SPI=y
CONFIG_PINCTRL_AMDISP=y
CONFIG_MFD_SEC_I2C=y
CONFIG_I2C_ALGOPCA=y
CONFIG_GENERIC_PHY=y
