CONFIG_FB_CFB_FILLRECT=n
CONFIG_REGMAP=n
CONFIG_RISCV_RPMI_SYSMSI=n
CONFIG_XZ_DEC_ARM=n
CONFIG_WLAN_VENDOR_INTEL=n
CONFIG_VXLAN=n
CONFIG_FB_SYS_IMAGEBLIT=n
CONFIG_ACPI_REDUCED_HARDWARE_ONLY=n
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST=n
CONFIG_LD_CAN_USE_KEEP_IN_OVERLAY=n
CONFIG_HAVE_VIRT_CPU_ACCOUNTING_GEN=n
CONFIG_RISCV_ISA_VENDOR_EXT=n
CONFIG_HAVE_ARCH_SOFT_DIRTY=n
CONFIG_KVM_GENERIC_HARDWARE_ENABLING=n
CONFIG_SOC_STARFIVE=n
CONFIG_CPU_FREQ_GOV_USERSPACE=n
CONFIG_ARCH_SUPPORTS_KEXEC_PURGATORY=n
CONFIG_RISCV_PMU_LEGACY=n
CONFIG_DWMAC_SUN55I=n
CONFIG_KALLSYMS=n
CONFIG_BINARY_PRINTF=n
CONFIG_USB_XHCI_HCD=n
CONFIG_SUN50I_IOMMU=n
CONFIG_INET_DIAG=n
CONFIG_RESET_SIMPLE=n
CONFIG_RISCV_ISA_V=n
CONFIG_ARCH_HAS_FORTIFY_SOURCE=n
CONFIG_HAVE_ARCH_MMAP_RND_BITS=n
CONFIG_OF_RESERVED_MEM=n
CONFIG_POWER_SUPPLY=n
CONFIG_NET_VENDOR_BROADCOM=n
CONFIG_SPARSEMEM_MANUAL=n
CONFIG_CRYPTO_HASH=n
CONFIG_DRM_NOUVEAU=n
CONFIG_ISO9660_FS=n
CONFIG_BLK_ICQ=n
CONFIG_RUSTC_HAS_UNNECESSARY_TRANSMUTES=n
CONFIG_HAVE_GCC_PLUGINS=n
CONFIG_SIFIVE_PLIC=n
CONFIG_SND_PCM_TIMER=n
CONFIG_SND_SOC_SPDIF=n
CONFIG_DECOMPRESS_XZ=n
CONFIG_XZ_DEC_X86=n
CONFIG_NFS_V4_2_READ_PLUS=n
CONFIG_EXT4_USE_FOR_EXT2=n
CONFIG_SLAB_MERGE_DEFAULT=n
CONFIG_FIXED_PHY=n
CONFIG_ARCH_STACKWALK=n
CONFIG_PINCTRL=n
CONFIG_ARCH_HAS_DEBUG_VM_PGTABLE=n
CONFIG_RISCV_ALTERNATIVE=n
CONFIG_HAS_IOPORT=n
CONFIG_ELF_CORE=n
CONFIG_IRQ_DOMAIN=n
CONFIG_CONTEXT_TRACKING_IDLE=n
CONFIG_DRM_PANEL=n
CONFIG_NET_VENDOR_RDC=n
CONFIG_OF_IOMMU=n
CONFIG_KVM_GENERIC_DIRTYLOG_READ_PROTECT=n
CONFIG_NET_VENDOR_DEC=n
CONFIG_POLARFIRE_SOC_SYSCONS=n
CONFIG_HOTPLUG_CPU=n
CONFIG_CPU_FREQ_STAT=n
CONFIG_VHOST_MENU=n
CONFIG_NF_CONNTRACK_TFTP=n
CONFIG_CLKSRC_MMIO=n
CONFIG_BLK_DEV=n
CONFIG_IOMMU_DEFAULT_DMA_STRICT=n
CONFIG_MQ_IOSCHED_DEADLINE=n
CONFIG_ARCH_SUPPORTS_PAGE_TABLE_CHECK=n
CONFIG_MSDOS_FS=n
CONFIG_RD_BZIP2=n
CONFIG_BLK_CGROUP=n
CONFIG_ARCH_SUPPORTS_DEBUG_PAGEALLOC=n
CONFIG_CRYPTO_LIB_BLAKE2B=n
CONFIG_SECCOMP_FILTER=n
CONFIG_RAID6_PQ=n
CONFIG_WLAN_VENDOR_ADMTEK=n
CONFIG_NET_VENDOR_STMICRO=n
CONFIG_GENERIC_IRQ_ENTRY=n
CONFIG_RISCV_PMU=n
CONFIG_DRM_SUN8I_DW_HDMI=n
CONFIG_ARCH_HAS_DEBUG_VIRTUAL=n
CONFIG_CRYPTO_KPP=n
CONFIG_NET_VENDOR_FUNGIBLE=n
CONFIG_ARCH_HAS_SYNC_DMA_FOR_DEVICE=n
CONFIG_DEBUG_MISC=n
CONFIG_DRM_CLIENT_SELECTION=n
CONFIG_SERIAL_8250_PERICOM=n
CONFIG_NET_VENDOR_NVIDIA=n
CONFIG_GENERIC_ARCH_TOPOLOGY=n
CONFIG_NET_DEVMEM=n
CONFIG_USB_DEFAULT_PERSIST=n
CONFIG_AUDIT_GENERIC=n
CONFIG_HAVE_GENERIC_VDSO=n
CONFIG_GENERIC_IRQ_SHOW=n
CONFIG_VHOST_ENABLE_FORK_OWNER_CONTROL=n
CONFIG_COMPAT_32BIT_TIME=n
CONFIG_BUG=n
CONFIG_HAVE_PAGE_SIZE_4KB=n
CONFIG_RTC_INTF_SYSFS=n
CONFIG_PROBE_EVENTS=n
CONFIG_NETWORK_SECMARK=n
CONFIG_HAVE_IRQ_EXIT_ON_IRQ_STACK=n
CONFIG_RISCV_PROBE_UNALIGNED_ACCESS=n
CONFIG_CRYPTO_ECHAINIV=n
CONFIG_ACPI_DEBUG=n
CONFIG_LINEAR_RANGES=n
CONFIG_REGMAP_I2C=n
CONFIG_ACPI_CPPC_CPUFREQ_FIE=n
CONFIG_VIRT_XFER_TO_GUEST_WORK=n
CONFIG_ARCH_TENSTORRENT=n
CONFIG_UPROBE_EVENTS=n
CONFIG_IOMMU_API=n
CONFIG_HAVE_PERF_EVENTS=n
CONFIG_CRYPTO_AKCIPHER2=n
CONFIG_GENERIC_BITREVERSE=n
CONFIG_ARCH_HAS_PREPARE_SYNC_CORE_CMD=n
CONFIG_STARFIVE_WATCHDOG=n
CONFIG_NET_SOCK_MSG=n
CONFIG_FB_IOMEM_HELPERS=n
CONFIG_USB_OHCI_HCD_PCI=n
CONFIG_GPIOLIB_IRQCHIP=n
CONFIG_CRYPTO_LIB_GF128HASH=n
CONFIG_NET_VENDOR_SPACEMIT=n
CONFIG_REGULATOR_FIXED_VOLTAGE=n
CONFIG_DRM_SCHED=n
CONFIG_CPU_PM=n
CONFIG_GENERIC_IDLE_POLL_SETUP=n
CONFIG_CRYPTO_CBC=n
CONFIG_SCHED_INFO=n
CONFIG_SUN4I_TIMER=n
CONFIG_BLK_DEV_LOOP=n
CONFIG_ARCH_OPTIONAL_KERNEL_RWX=n
CONFIG_ARCH_VIRT=n
CONFIG_ARCH_HAS_PREEMPT_LAZY=n
CONFIG_VIDEO_CADENCE_CSI2RX=n
CONFIG_CRYPTO_AES=n
CONFIG_ARCH_HAS_CC_CAN_LINK=n
CONFIG_MTD_MAP_BANK_WIDTH_1=n
CONFIG_IO_URING_ZCRX=n
CONFIG_RISCV_ISA_VENDOR_EXT_ANDES=n
CONFIG_MTD_CFI_I2=n
CONFIG_KERNFS=n
CONFIG_PINCTRL_STARFIVE_JH7110=n
CONFIG_TIME_NS_VDSO=n
CONFIG_FUTEX_PRIVATE_HASH=n
CONFIG_REGULATOR_AXP20X=n
CONFIG_MOUSE_PS2_LOGIPS2PP=n
CONFIG_HAVE_STACKPROTECTOR=n
CONFIG_NLATTR=n
CONFIG_RPS=n
CONFIG_SECURITY_APPARMOR_HASH=n
CONFIG_RISCV_ISA_SVPBMT=n
CONFIG_COMPAT_BRK=n
CONFIG_NFS_V4_2_SSC_HELPER=n
CONFIG_RTC_CLASS=n
CONFIG_MTD_CFI_ADV_OPTIONS=n
CONFIG_NETFILTER_XT_MATCH_CONNTRACK=n
CONFIG_SERIAL_8250_DW=n
CONFIG_NET_VENDOR_SOLARFLARE=n
CONFIG_SYSVIPC_SYSCTL=n
CONFIG_PCI_HOST_GENERIC=n
CONFIG_TIMER_OF=n
CONFIG_NET_VENDOR_GOOGLE=n
CONFIG_VLAN_8021Q=n
CONFIG_AS_HAS_NON_CONST_ULEB128=n
CONFIG_ARCH_ENABLE_SPLIT_PMD_PTLOCK=n
CONFIG_PNP_DEBUG_MESSAGES=n
CONFIG_NVMEM_SUNXI_SID=n
CONFIG_ARCH_HAS_VDSO_ARCH_DATA=n
CONFIG_ARCH_HAS_NON_OVERLAPPING_ADDRESS_SPACE=n
CONFIG_LZ4_DECOMPRESS=n
CONFIG_USB_CONFIGFS_ACM=n
CONFIG_SLAB_OBJ_EXT=n
CONFIG_CPU_FREQ_DEFAULT_GOV_PERFORMANCE=n
CONFIG_CC_CAN_LINK=n
CONFIG_I2C_ALGOBIT=n
CONFIG_NET_VENDOR_MICROCHIP=n
CONFIG_MOUSE_PS2_SYNAPTICS_SMBUS=n
CONFIG_VETH=n
CONFIG_SECURITY_APPARMOR_EXPORT_BINARY=n
CONFIG_XZ_DEC_BCJ=n
CONFIG_ERRATA_ANDES=n
CONFIG_BFQ_GROUP_IOSCHED=n
CONFIG_SND_TIMER=n
CONFIG_DRM_SUN6I_DSI=n
CONFIG_CRYPTO_AKCIPHER=n
CONFIG_NET_VENDOR_EMULEX=n
CONFIG_JUMP_LABEL=n
CONFIG_CPUSETS=n
CONFIG_RESET_K230=n
CONFIG_GENERIC_ENTRY=n
CONFIG_SND_SOC_GENERIC_DMAENGINE_PCM=n
CONFIG_HRTIMER_REARM_DEFERRED=n
CONFIG_NET_9P=n
CONFIG_VIRTIO_CONSOLE=n
CONFIG_DMA_VIRTUAL_CHANNELS=n
CONFIG_SECURITY_PATH=n
CONFIG_RISCV_ALTERNATIVE_EARLY=n
CONFIG_TOOLCHAIN_HAS_ZABHA=n
CONFIG_CRC7=n
CONFIG_PT_RECLAIM=n
CONFIG_NFS_V4_0=n
CONFIG_COMMON_CLK=n
CONFIG_XFRM_ESP=n
CONFIG_HAVE_KERNEL_LZO=n
CONFIG_RISCV_APLIC=n
CONFIG_PCI_LABEL=n
CONFIG_VGA_ARB=n
CONFIG_PINCTRL_SOPHGO_COMMON=n
CONFIG_HIGH_RES_TIMERS=n
CONFIG_ACPI_MDIO=n
CONFIG_ARCH_HAS_SYNC_CORE_BEFORE_USERMODE=n
CONFIG_GENERIC_GETTIMEOFDAY=n
CONFIG_NFS_V4_2=n
CONFIG_NET_DEVLINK=n
CONFIG_RISCV_ISA_VENDOR_EXT_THEAD=n
CONFIG_OID_REGISTRY=n
CONFIG_RISCV_ISA_ZBA=n
CONFIG_NET_CLS=n
CONFIG_RESET_SUNXI=n
CONFIG_SERIO=n
CONFIG_FW_LOADER=n
CONFIG_VIDEO=n
CONFIG_9P_FS=n
CONFIG_RISCV_IMSIC=n
CONFIG_USB_F_OBEX=n
CONFIG_RWSEM_SPIN_ON_OWNER=n
CONFIG_VIRTUALIZATION=n
CONFIG_BTRFS_FS_POSIX_ACL=n
CONFIG_JH71XX_PMU=n
CONFIG_NAMESPACES=n
CONFIG_FB_CFB_IMAGEBLIT=n
CONFIG_RESET_POLARFIRE_SOC=n
CONFIG_IP_VS_RR=n
CONFIG_PRINTK_TIME=n
CONFIG_HAS_IOMEM=n
CONFIG_NET_VENDOR_HUAWEI=n
CONFIG_IP_MULTICAST=n
CONFIG_WLAN_VENDOR_INTERSIL=n
CONFIG_USB_CONFIGFS_RNDIS=n
CONFIG_ARCH_WANT_OPTIMIZE_HUGETLB_VMEMMAP=n
CONFIG_MOUSE_PS2_CYPRESS=n
CONFIG_I2C_CHARDEV=n
CONFIG_CAN_RAW=n
CONFIG_SND_USB=n
CONFIG_VIRTIO_NET=n
CONFIG_MEDIA_PLATFORM_SUPPORT=n
CONFIG_MODULES=n
CONFIG_SUN6I_RTC_CCU=n
CONFIG_NET_NS=n
CONFIG_BLOCK_LEGACY_AUTOLOAD=n
CONFIG_POSIX_MQUEUE_SYSCTL=n
CONFIG_CDROM=n
CONFIG_ARCH_HAS_GIGANTIC_PAGE=n
CONFIG_CRYPTO_DEV_VIRTIO=n
CONFIG_PINCTRL_TH1520=n
CONFIG_DRM_FBDEV_EMULATION=n
CONFIG_GENERIC_IRQ_EFFECTIVE_AFF_MASK=n
CONFIG_CLK_STARFIVE_JH7110_STG=n
CONFIG_XZ_DEC_POWERPC=n
CONFIG_DNS_RESOLVER=n
CONFIG_HUGETLB_PAGE=n
CONFIG_MTD_CFI_I1=n
CONFIG_FS_IOMAP=n
CONFIG_NET_VENDOR_ADI=n
CONFIG_WLAN_VENDOR_ATMEL=n
CONFIG_CPU_ISOLATION=n
CONFIG_NET_EGRESS=n
CONFIG_HAVE_PREEMPT_DYNAMIC_KEY=n
CONFIG_PM_GENERIC_DOMAINS_OF=n
CONFIG_VIRTIO_PCI_LIB_LEGACY=n
CONFIG_ARCH_MHP_MEMMAP_ON_MEMORY_ENABLE=n
CONFIG_ACPI_THERMAL=n
CONFIG_HAVE_KPROBES=n
CONFIG_ACPI_I2C_OPREGION=n
CONFIG_JBD2=n
CONFIG_USB=n
CONFIG_ARCH_THEAD=n
CONFIG_HAVE_RSEQ=n
CONFIG_IPVLAN=n
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE=n
CONFIG_HAVE_ARCH_THREAD_STRUCT_WHITELIST=n
CONFIG_NET_9P_VIRTIO=n
CONFIG_SOCK_RX_QUEUE_MAPPING=n
CONFIG_RISCV_IOMMU=n
CONFIG_ARCH_HAS_SYSCALL_WRAPPER=n
CONFIG_SPACEMIT_K1_CCU=n
CONFIG_QUEUED_SPINLOCKS=n
CONFIG_USB_CDNS3_GADGET=n
CONFIG_ADVISE_SYSCALLS=n
CONFIG_TRACEPOINTS=n
CONFIG_NET_VENDOR_NI=n
CONFIG_RTC_I2C_AND_SPI=n
CONFIG_SUN20I_PPU=n
CONFIG_LIBNVDIMM=n
CONFIG_CRYPTO_SIG=n
CONFIG_CC_HAS_AUTO_VAR_INIT_PATTERN=n
CONFIG_CGROUP_SCHED=n
