CONFIG_USB_OHCI_HCD_PCI=n
CONFIG_EFI_ESRT=n
CONFIG_HOTPLUG_PCI=n
CONFIG_INSTRUCTION_DECODER=n
CONFIG_HAVE_POSIX_CPU_TIMERS_TASK_WORK=n
CONFIG_PPS=n
CONFIG_ARCH_SPLIT_ARG64=n
CONFIG_SND_HDA_INTEL=n
CONFIG_MAGIC_SYSRQ=n
CONFIG_DRM_I915=n
CONFIG_GROUP_SCHED_WEIGHT=n
CONFIG_ARCH_HAS_SET_DIRECT_MAP=n
CONFIG_INPUT_VIVALDIFMAP=n
CONFIG_NET_VENDOR_NETRONOME=n
CONFIG_DEBUG_ENTRY=n
CONFIG_BLK_DEV_INITRD=n
CONFIG_CPUSETS=n
CONFIG_HAVE_ARCH_SECCOMP_FILTER=n
CONFIG_EFI_EARLYCON=n
CONFIG_HAVE_DYNAMIC_FTRACE=n
CONFIG_CRYPTO_LZO=n
CONFIG_BACKLIGHT_CLASS_DEVICE=n
CONFIG_XFRM_ESP=n
CONFIG_SECCOMP=n
CONFIG_PREEMPT_LAZY=n
CONFIG_SND_DMA_SGBUF=n
CONFIG_ATA_VERBOSE_ERROR=n
CONFIG_INPUT_MISC=n
CONFIG_HAVE_KERNEL_LZMA=n
CONFIG_SND_HDA=n
CONFIG_PCI_LOCKLESS_CONFIG=n
CONFIG_CGROUP_DEVICE=n
CONFIG_RD_LZO=n
CONFIG_NF_CONNTRACK_IRC=n
CONFIG_ARCH_HAS_NMI_SAFE_THIS_CPU_OPS=n
CONFIG_IP_PNP_DHCP=n
CONFIG_REGMAP=n
CONFIG_BINFMT_MISC=n
CONFIG_SKB_EXTENSIONS=n
CONFIG_X86_IO_APIC=n
CONFIG_NF_CONNTRACK_SECMARK=n
CONFIG_HID_SAMSUNG=n
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST=n
CONFIG_VIRTIO_ANCHOR=n
CONFIG_DRM_KMS_HELPER=n
CONFIG_CLKEVT_I8253=n
CONFIG_NLS_ASCII=n
CONFIG_USB_EHCI_PCI=n
CONFIG_VIRTIO_PCI=n
CONFIG_MITIGATION_SPECTRE_V1=n
CONFIG_NF_NAT_IRC=n
CONFIG_HAS_IOPORT_MAP=n
CONFIG_LDISC_AUTOLOAD=n
CONFIG_NETFILTER_XT_TARGET_LOG=n
CONFIG_FAT_FS=n
CONFIG_SECRETMEM=n
CONFIG_ATA_PIIX=n
CONFIG_ZLIB_INFLATE=n
CONFIG_HAVE_KPROBES_ON_FTRACE=n
CONFIG_ARCH_HAS_ACPI_TABLE_UPGRADE=n
CONFIG_HAVE_KERNEL_LZO=n
CONFIG_NET_VENDOR_CHELSIO=n
CONFIG_NET_VENDOR_FUNGIBLE=n
CONFIG_VIRTIO_PCI_LIB_LEGACY=n
CONFIG_CPU_FREQ_GOV_COMMON=n
CONFIG_MII=n
CONFIG_HAVE_ARCH_RANDOMIZE_KSTACK_OFFSET=n
CONFIG_WLAN_VENDOR_BROADCOM=n
CONFIG_ATA_SFF=n
CONFIG_DRM_DISPLAY_DP_HELPER=n
CONFIG_BINARY_PRINTF=n
CONFIG_PERF_EVENTS_INTEL_CSTATE=n
CONFIG_GENERIC_STRNCPY_FROM_USER=n
CONFIG_HVC_DRIVER=n
CONFIG_HAVE_ARCH_AUDITSYSCALL=n
CONFIG_DEBUG_FS=n
CONFIG_NET_VENDOR_SOLARFLARE=n
CONFIG_KCMP=n
CONFIG_NET_VENDOR_8390=n
CONFIG_HAS_IOPORT=n
CONFIG_NET_HANDSHAKE=n
CONFIG_SECURITY=n
CONFIG_HAVE_FUNCTION_GRAPH_FREGS=n
CONFIG_NET_XGRESS=n
CONFIG_SCHED_INFO=n
CONFIG_X86_VMX_FEATURE_NAMES=n
CONFIG_ARCH_WANT_IPC_PARSE_VERSION=n
CONFIG_IP_ROUTE_MULTIPATH=n
CONFIG_INPUT_MOUSE=n
CONFIG_DRM_MIPI_DSI=n
CONFIG_CRYPTO_AKCIPHER=n
CONFIG_DCACHE_WORD_ACCESS=n
CONFIG_EEPROM_93CX6=n
CONFIG_DEBUG_DEVRES=n
CONFIG_NO_HZ_IDLE=n
CONFIG_USB_XHCI_PCI=n
CONFIG_VHOST_MENU=n
CONFIG_GENERIC_CPU_AUTOPROBE=n
CONFIG_STACKTRACE=n
CONFIG_MAC80211_LEDS=n
CONFIG_BLK_DEV=n
CONFIG_HID_GENERIC=n
CONFIG_OPTPROBES=n
CONFIG_X86_MCE_AMD=n
CONFIG_HAVE_RSEQ=n
CONFIG_INTEGRITY_AUDIT=n
CONFIG_SCHED_OMIT_FRAME_POINTER=n
CONFIG_X86_DISABLED_FEATURE_SYSCALL32=n
CONFIG_MAC80211=n
CONFIG_HID_PANTHERLORD=n
CONFIG_HAVE_DEBUG_KMEMLEAK=n
CONFIG_POSIX_CPU_TIMERS_TASK_WORK=n
CONFIG_CRYPTO_LIB_ARC4=n
CONFIG_VIRTIO_MENU=n
CONFIG_KMAP_LOCAL=n
CONFIG_HAVE_SETUP_PER_CPU_AREA=n
CONFIG_X86_UMIP=n
CONFIG_GENERIC_CPU_DEVICES=n
CONFIG_ACPI_PLATFORM_PROFILE=n
CONFIG_ACPI_DOCK=n
CONFIG_LEDS_CLASS=n
CONFIG_DRM_DISPLAY_HDCP_HELPER=n
CONFIG_TMPFS=n
CONFIG_NET_VENDOR_CADENCE=n
CONFIG_NET_VENDOR_LITEX=n
CONFIG_SWAP=n
CONFIG_ISO9660_FS=n
CONFIG_CPU_FREQ=n
CONFIG_TRACE_CLOCK=n
CONFIG_CFG80211_DEFAULT_PS=n
CONFIG_ARCH_DEFAULT_CRASH_DUMP=n
CONFIG_ARCH_CLOCKSOURCE_INIT=n
CONFIG_VT_CONSOLE_SLEEP=n
CONFIG_DW_DMAC_CORE=n
CONFIG_CRC_OPTIMIZATIONS=n
CONFIG_SND_PROC_FS=n
CONFIG_OID_REGISTRY=n
CONFIG_STRICT_KERNEL_RWX=n
CONFIG_CC_CAN_LINK=n
CONFIG_PM_TRACE=n
CONFIG_DEBUG_FS_ALLOW_ALL=n
CONFIG_BNX2=n
CONFIG_UID16=n
CONFIG_INPUT_SPARSEKMAP=n
CONFIG_PATA_SCH=n
CONFIG_ARCH_HAS_STRICT_MODULE_RWX=n
CONFIG_BLK_CGROUP_IOPRIO=n
CONFIG_SATA_AHCI=n
CONFIG_NET_VENDOR_XILINX=n
CONFIG_NET_VENDOR_SUN=n
CONFIG_XFRM_USER=n
CONFIG_NET_DEVMEM=n
CONFIG_WLAN_VENDOR_SILABS=n
CONFIG_POSIX_TIMERS=n
CONFIG_NET_VENDOR_DAVICOM=n
CONFIG_NET_RX_BUSY_POLL=n
CONFIG_DM_ZERO=n
CONFIG_VT_CONSOLE=n
CONFIG_SCSI=n
CONFIG_NETFILTER_NETLINK=n
CONFIG_BLOCK_LEGACY_AUTOLOAD=n
CONFIG_TRACEPOINTS=n
CONFIG_SND_HDA_COMPONENT=n
CONFIG_NETFILTER_INGRESS=n
CONFIG_ARCH_HAS_PTE_SPECIAL=n
CONFIG_KVFREE_RCU_BATCHED=n
CONFIG_8139TOO=n
CONFIG_HID_SUNPLUS=n
CONFIG_PCIE_PME=n
CONFIG_VM_EVENT_COUNTERS=n
CONFIG_STACKPROTECTOR=n
CONFIG_FTRACE=n
CONFIG_IPV6_NDISC_NODETYPE=n
CONFIG_NET_VENDOR_SILAN=n
CONFIG_MITIGATION_MMIO_STALE_DATA=n
CONFIG_HAVE_FUNCTION_TRACER=n
CONFIG_NET_VENDOR_STMICRO=n
CONFIG_SND_HDA_I915=n
CONFIG_ACPI_BATTERY=n
CONFIG_ARCH_HAS_MEM_ENCRYPT=n
CONFIG_CLKSRC_I8253=n
CONFIG_ARCH_HAS_CURRENT_STACK_POINTER=n
CONFIG_FORCEDETH=n
CONFIG_BLK_DEV_IO_TRACE=n
CONFIG_CRYPTO_AKCIPHER2=n
CONFIG_NETFILTER_XT_TARGET_TCPMSS=n
CONFIG_EXT4_FS=n
CONFIG_NET_CLS_CGROUP=n
CONFIG_ARCH_HAS_SET_MEMORY=n
CONFIG_CC_HAS_ZERO_CALL_USED_REGS=n
CONFIG_MEMFD_CREATE=n
CONFIG_HW_RANDOM=n
CONFIG_SERIAL_8250_DMA=n
CONFIG_ACPI_HOTPLUG_IOAPIC=n
CONFIG_USB_PCI=n
CONFIG_HAVE_STATIC_CALL=n
CONFIG_SUNRPC_GSS=n
CONFIG_LEGACY_TIOCSTI=n
CONFIG_USB_STORAGE=n
CONFIG_EFI_HANDOVER_PROTOCOL=n
CONFIG_I2C_HID=n
CONFIG_CPU_FREQ_GOV_PERFORMANCE=n
CONFIG_DRM_I915_CAPTURE_ERROR=n
CONFIG_DECOMPRESS_LZMA=n
CONFIG_BUG=n
CONFIG_HAVE_PREEMPT_DYNAMIC_CALL=n
CONFIG_I8253_LOCK=n
CONFIG_IOSF_MBI=n
CONFIG_QUEUED_RWLOCKS=n
CONFIG_MOUSE_PS2_FOCALTECH=n
CONFIG_APERTURE_HELPERS=n
CONFIG_ARCH_HAS_GCOV_PROFILE_ALL=n
CONFIG_NET_CLS_ACT=n
CONFIG_MQ_IOSCHED_KYBER=n
CONFIG_INPUT_FF_MEMLESS=n
CONFIG_ADVISE_SYSCALLS=n
CONFIG_X86_NEED_RELOCS=n
CONFIG_NET_POLL_CONTROLLER=n
CONFIG_TMPFS_XATTR=n
CONFIG_DECOMPRESS_LZO=n
CONFIG_SCSI_VIRTIO=n
CONFIG_SPARSE_IRQ=n
CONFIG_SND_TIMER=n
CONFIG_GENERIC_TRACER=n
CONFIG_DMA_ENGINE=n
CONFIG_CC_HAS_ASM_INLINE=n
CONFIG_HAVE_KERNEL_LZ4=n
CONFIG_NETWORK_SECMARK=n
CONFIG_SYSTEM_TRUSTED_KEYRING=n
CONFIG_BLK_PM=n
CONFIG_DEBUG_BUGVERBOSE=n
CONFIG_FS_MBCACHE=n
CONFIG_NET_VENDOR_TEHUTI=n
CONFIG_NET_VENDOR_VERTEXCOM=n
CONFIG_CC_IS_GCC=n
CONFIG_FREEZER=n
CONFIG_HAVE_ASM_MODVERSIONS=n
CONFIG_NFS_V3=n
CONFIG_TMPFS_POSIX_ACL=n
CONFIG_HAVE_ARCH_SECCOMP=n
CONFIG_INET6_AH=n
CONFIG_EXT4_FS_SECURITY=n
CONFIG_XXHASH=n
CONFIG_KVM_GUEST=n
CONFIG_MOUSE_PS2_ALPS=n
CONFIG_ETHTOOL_NETLINK=n
CONFIG_BRANCH_PROFILE_NONE=n
CONFIG_WLAN_VENDOR_ADMTEK=n
CONFIG_CDROM=n
CONFIG_PAGE_SIZE_LESS_THAN_256KB=n
CONFIG_SECURITY_NETWORK=n
CONFIG_NET_INGRESS=n
CONFIG_DRM=n
CONFIG_ARCH_WANTS_NO_INSTR=n
CONFIG_X86_DISABLED_FEATURE_LAM=n
CONFIG_USB_DEFAULT_PERSIST=n
CONFIG_NFS_V4=n
CONFIG_RD_LZMA=n
CONFIG_NFS_USE_KERNEL_DNS=n
CONFIG_TREE_SRCU=n
CONFIG_PCI_MSI=n
CONFIG_FILE_LOCKING=n
CONFIG_SCHEDSTATS=n
CONFIG_RTC_CLASS=n
CONFIG_CPU_FREQ_GOV_ONDEMAND=n
CONFIG_ACPI_LEGACY_TABLES_LOOKUP=n
CONFIG_LOCKD_V4=n
CONFIG_TICK_CPU_ACCOUNTING=n
CONFIG_LZ4_DECOMPRESS=n
CONFIG_EXT4_USE_FOR_EXT2=n
CONFIG_CRYPTO_SIG=n
CONFIG_ARCH_SUPPORTS_LTO_CLANG_THIN=n
CONFIG_NETFILTER_SKIP_EGRESS=n
CONFIG_HUGETLB_PAGE=n
CONFIG_PRINTK=n
CONFIG_HAVE_STACKPROTECTOR=n
CONFIG_IP_MULTIPLE_TABLES=n
CONFIG_NET_VENDOR_MICREL=n
CONFIG_SCREEN_INFO=n
CONFIG_NETFILTER_XT_MARK=n
CONFIG_ARCH_USE_MEMTEST=n
CONFIG_SERIO_I8042=n
CONFIG_SND_HRTIMER=n
CONFIG_NET_VENDOR_VIA=n
CONFIG_DRM_VIRTIO_GPU=n
CONFIG_HAVE_ARCH_KSTACK_ERASE=n
CONFIG_TASK_IO_ACCOUNTING=n
CONFIG_NETWORK_FILESYSTEMS=n
CONFIG_MITIGATION_SRBDS=n
CONFIG_SCSI_COMMON=n
CONFIG_PTP_1588_CLOCK_OPTIONAL=n
CONFIG_PREEMPT_COUNT=n
CONFIG_X86_ESPFIX32=n
CONFIG_ACPI_VIDEO=n
CONFIG_HZ_1000=n
CONFIG_CLZ_TAB=n
CONFIG_XZ_DEC_POWERPC=n
CONFIG_NVRAM=n
CONFIG_DRM_PANEL=n
CONFIG_TRACE_IRQFLAGS_NMI_SUPPORT=n
