CONFIG_TEGRA30_TSENSOR=y
CONFIG_PINCTRL_TPS6594=y
CONFIG_W1_MASTER_MXC=y
CONFIG_PAGE_TABLE_CHECK=y
CONFIG_LEDS_SY7802=y
CONFIG_RISCV_ISA_SUPM=y
CONFIG_REGULATOR_RT4801=y
CONFIG_REGULATOR_MAX8893=y
CONFIG_PINCTRL_BCM63XX=y
CONFIG_HAVE_SAMPLE_FTRACE_DIRECT_MULTI=y
CONFIG_RESET_EYEQ=y
CONFIG_AD7746=y
CONFIG_FORCE_TASKS_RCU=y
CONFIG_IMX_SCMI_LMM_DRV=y
CONFIG_EFI_STUB=y
CONFIG_ABP060MG=y
CONFIG_SERIAL_SAMSUNG=y
CONFIG_RMI4_F03_SERIO=y
CONFIG_MFD_ALTERA_SYSMGR=y
CONFIG_PINCTRL_SH_FUNC_GPIO=y
CONFIG_PPP_MPPE=y
CONFIG_HAVE_KERNEL_LZO=y
CONFIG_F2FS_FS_POSIX_ACL=y
CONFIG_NET_ACT_TUNNEL_KEY=y
CONFIG_TI_ADC12138=y
CONFIG_ARCH_DEFAULT_CRASH_DUMP=y
CONFIG_CRYPTO_LIB_MLDSA=y
CONFIG_GPIO_SAMA5D2_PIOBU=y
CONFIG_SI1145=y
CONFIG_CLK_R9A07G054=y
CONFIG_MFD_TPS65090=y
CONFIG_PINCTRL_PFC_SH7785=y
CONFIG_PATA_FTIDE010=y
CONFIG_POSIX_AUX_CLOCKS=y
CONFIG_NVME_TARGET=y
CONFIG_CRYPTO_ARC4=y
CONFIG_USB_F_FS=y
CONFIG_SERIAL_IMX=y
CONFIG_BCM87XX_PHY=y
CONFIG_SDM_MMCC_660=y
CONFIG_USB_TEST=y
CONFIG_MPL115=y
CONFIG_BOSCH_BNO055_SERIAL=y
CONFIG_WWAN_DEBUGFS=y
CONFIG_F2FS_FS_COMPRESSION=y
CONFIG_INTERVAL_TREE=y
CONFIG_BATTERY_AXP20X=y
CONFIG_SERIO_GPIO_PS2=y
CONFIG_I2C_SLAVE=y
CONFIG_IRQ_TIME_ACCOUNTING=y
CONFIG_I2C_DEBUG_CORE=y
CONFIG_SCSI_HISI_SAS_DEBUGFS_DEFAULT_ENABLE=y
CONFIG_PINCTRL_SM8750=y
CONFIG_SPI_GPIO=y
CONFIG_TOUCHSCREEN_WACOM_W9000=y
CONFIG_USB_SERIAL_XR=y
CONFIG_PINCTRL_MESON=y
CONFIG_GPIOLIB=y
CONFIG_RPMB=y
CONFIG_I2C_KEMPLD=y
CONFIG_STATIC_KEYS_SELFTEST=y
CONFIG_PHY_HI3670_USB=y
CONFIG_REGULATOR_ROHM=y
CONFIG_CRC_ITU_T=y
CONFIG_PHY_ROCKCHIP_INNO_HDMI=y
CONFIG_TOUCHSCREEN_AD7879_SPI=y
CONFIG_CRYPTO_TWOFISH_COMMON=y
CONFIG_XZ_DEC_ARMTHUMB=y
CONFIG_PINCTRL_IMX1=y
CONFIG_FHANDLE=y
CONFIG_COMMON_CLK_MT8183_IPU_ADL=y
CONFIG_MCB_LPC=y
CONFIG_BCM47XX_SPROM=y
CONFIG_SERIAL_NUVOTON_MA35D1_CONSOLE=y
CONFIG_REGULATOR_MP886X=y
CONFIG_ARM_MEDIATEK_CPUFREQ=y
CONFIG_STACKTRACE=y
CONFIG_IIO_ST_SENSORS_I2C=y
CONFIG_HAVE_64BIT_ALIGNED_ACCESS=y
CONFIG_BACKLIGHT_KTD2801=y
CONFIG_HID_MEGAWORLD_FF=y
CONFIG_SM_GCC_MILOS=y
CONFIG_PAGE_COUNTER=y
CONFIG_DMA_NEED_SYNC=y
CONFIG_PINCTRL_IMX7ULP=y
CONFIG_BMC150_ACCEL_SPI=y
CONFIG_LOONGSON2_GUTS=y
CONFIG_TEST_MEMINIT=y
CONFIG_I2C_DEBUG_ALGO=y
CONFIG_NET_ACT_SKBEDIT=y
CONFIG_ALLOW_DEV_COREDUMP=y
CONFIG_REGULATOR_QCOM_RPMH=y
CONFIG_NET_ACT_NAT=y
CONFIG_ARCH_HAS_DEBUG_VM_PGTABLE=y
CONFIG_HID_SEMITEK=y
CONFIG_HID_PICOLCD_CIR=y
CONFIG_ACPI_FFH=y
CONFIG_SM_GCC_8750=y
CONFIG_RC_CORE=y
CONFIG_COMEDI_MISC_DRIVERS=y
CONFIG_BACKLIGHT_OMAP1=y
CONFIG_GPIO_ATH79=y
CONFIG_ZSMALLOC_STAT=y
CONFIG_REGULATOR_ADP5055=y
CONFIG_WILCO_EC_TELEMETRY=y
CONFIG_HAVE_ARCH_TRACEHOOK=y
CONFIG_CROS_EC_LIGHTBAR=y
CONFIG_IIO_BUFFER_CB=y
CONFIG_STRIP_ASM_SYMS=y
CONFIG_MFD_CS40L50_SPI=y
CONFIG_CRYPTO=y
CONFIG_NET_SCH_SFB=y
CONFIG_NET_ACT_MIRRED=y
CONFIG_REGULATOR_QCOM_PM8008=y
CONFIG_HAVE_ARCH_MMAP_RND_BITS=y
CONFIG_AD5272=y
CONFIG_RMI4_SMB=y
CONFIG_SERIAL_SCCNXP=y
CONFIG_I2C_MLXBF=y
CONFIG_MICROSEMI_PHY=y
CONFIG_842_DECOMPRESS=y
CONFIG_DP83TC811_PHY=y
CONFIG_COMMON_CLK_NUVOTON=y
CONFIG_IMX_IRQSTEER=y
CONFIG_DECOMPRESS_BZIP2=y
CONFIG_DDR=y
CONFIG_CLK_R9A09G057=y
CONFIG_MSM_GCC_8953=y
CONFIG_PHY_SPACEMIT_K1_PCIE=y
CONFIG_VIRT_CPU_ACCOUNTING_GEN=y
CONFIG_BMG160_I2C=y
CONFIG_PINCTRL_MT8135=y
CONFIG_LRU_GEN_WALKS_MMU=y
CONFIG_LEDS_CLASS_FLASH=y
CONFIG_USB_USS720=y
CONFIG_SPMI=y
CONFIG_IQS624_POS=y
CONFIG_TOUCHSCREEN_HIMAX_HX852X=y
CONFIG_KXCJK1013=y
CONFIG_QCOMTEE=y
CONFIG_PINCTRL_SH_PFC_GPIO=y
CONFIG_NLS_CODEPAGE_936=y
CONFIG_IOMMUFD=y
CONFIG_I2C_ALGOBIT=y
CONFIG_AOSONG_AGS02MA=y
CONFIG_MOST_CDEV=y
CONFIG_GNSS_SIRF_SERIAL=y
CONFIG_IMX_MBOX=y
CONFIG_MAX31865=y
CONFIG_NFC_PN544_I2C=y
CONFIG_NVMEM_SPMI_SDAM=y
CONFIG_KALLSYMS_SELFTEST=y
CONFIG_CRYPTO_LIB_DES=y
CONFIG_IO_URING_BPF=y
CONFIG_COMMON_CLK_SP7021=y
CONFIG_GPIO_VF610=y
CONFIG_SPI_WPCM_FIU=y
CONFIG_ARCH_ANDES=y
CONFIG_CRYPTO_MD4=y
CONFIG_GPIO_BLZP1600=y
CONFIG_NLS_MAC_CROATIAN=y
CONFIG_PHY_MTK_MIPI_CSI_0_5=y
CONFIG_MFD_ATC260X_I2C=y
CONFIG_MAC80211_MLME_DEBUG=y
CONFIG_RANDOM32_SELFTEST=y
CONFIG_PHY_MTK_UFS=y
CONFIG_COMMON_CLK_MT8196_MFGCFG=y
CONFIG_LEDS_MAX77693=y
CONFIG_NLS_MAC_CENTEURO=y
CONFIG_SIOX=y
CONFIG_CRYPTO_GCM=y
CONFIG_CGROUP_MISC=y
CONFIG_ARCH_SUPPORTS_LTO_CLANG_THIN=y
CONFIG_REGULATOR_AS3722=y
CONFIG_CGROUPS=y
CONFIG_ACPI_WATCHDOG=y
CONFIG_ARCH_SPARSEMEM_ENABLE=y
CONFIG_PHY_GOOGLE_USB=y
CONFIG_SPI_ATMEL_QUADSPI=y
CONFIG_HID_SMARTJOYPLUS=y
CONFIG_ADIS16080=y
CONFIG_HISI_HIKEY_USB=y
CONFIG_GPIO_SPRD=y
CONFIG_SERIAL_OWL_CONSOLE=y
CONFIG_MFD_IQS62X=y
CONFIG_BATTERY_DS2780=y
CONFIG_SBITMAP=y
CONFIG_REGULATOR_ANATOP=y
CONFIG_NVME_AUTH=y
CONFIG_SSIF_IPMI_BMC=y
CONFIG_PINCTRL_TEGRA=y
CONFIG_TOUCHSCREEN_CHIPONE_ICN8505=y
CONFIG_COMMON_CLK_MT8365_VENC=y
CONFIG_NLATTR=y
CONFIG_SC_LPASS_CORECC_7180=y
CONFIG_AST2700_MBOX=y
CONFIG_COMPILE_TEST=y
CONFIG_BACKLIGHT_LED=y
CONFIG_USB_F_ACM=y
CONFIG_GENERIC_BUG=y
CONFIG_LCD_CLASS_DEVICE=y
CONFIG_BMI270_I2C=y
CONFIG_AS73211=y
CONFIG_SPI_FSL_DSPI=y
CONFIG_CORDIC=y
CONFIG_SMPRO_ERRMON=y
CONFIG_GPIO_TPIC2810=y
CONFIG_CLK_RZG2L=y
CONFIG_SM_VIDEOCC_8150=y
CONFIG_PINCTRL_K230=y
CONFIG_CRYPTO_DES=y
CONFIG_SM_GPUCC_8150=y
CONFIG_VM_EVENT_COUNTERS=y
CONFIG_PHY_QCOM_IPQ4019_USB=y
CONFIG_MS5611_SPI=y
CONFIG_TURRIS_OMNIA_MCU=y
CONFIG_LXT_PHY=y
CONFIG_USB_DUMMY_HCD=y
CONFIG_IMX_INTMUX=y
CONFIG_NET_PTP_CLASSIFY=y
CONFIG_CRYPTO_HASH=y
CONFIG_PCCARD=y
CONFIG_SPI_SLAVE=y
CONFIG_PINCTRL_MOOREFIELD=y
CONFIG_I2C_SLAVE_EEPROM=y
CONFIG_SPI_LJCA=y
CONFIG_NEED_PER_CPU_EMBED_FIRST_CHUNK=y
CONFIG_SI7210=y
CONFIG_NVMEM_LAYERSCAPE_SFP=y
CONFIG_EXYNOS_MBOX=y
CONFIG_USB_DWC3_ST=y
CONFIG_MFD_ATMEL_SMC=y
CONFIG_S3C2410_WATCHDOG=y
CONFIG_MSM_GCC_8998=y
CONFIG_USB_G_ACM_MS=y
CONFIG_PINCTRL_SH_PFC=y
CONFIG_VT=y
CONFIG_HAVE_GENERIC_TIF_BITS=y
CONFIG_CRYPTO_DH_RFC7919_GROUPS=y
CONFIG_HID_PANTHERLORD=y
CONFIG_SERIAL_OMAP=y
CONFIG_REGULATOR_SY8827N=y
CONFIG_PINCTRL_SUN9I_A80=y
CONFIG_PHY_ROCKCHIP_SAMSUNG_DCPHY=y
CONFIG_NVMEM=y
CONFIG_PINCTRL_IMX6SX=y
CONFIG_FPGA_MGR_EFINIX_SPI=y
CONFIG_PINCTRL_SUN50I_A100_R=y
CONFIG_FPGA_DFL=y
CONFIG_CRYPTO_SHA1=y
CONFIG_USB_CONFIGFS=y
CONFIG_I2C_SMBUS=y
CONFIG_BATTERY_CW2015=y
CONFIG_PHY_MVEBU_A38X_COMPHY=y
CONFIG_COMMON_CLK_XGENE=y
CONFIG_HAVE_RSEQ=y
CONFIG_CC_HAS_INT128=y
CONFIG_ARCH_USE_QUEUED_RWLOCKS=y
CONFIG_CRYPTO_LIB_ARC4=y
CONFIG_COMMON_CLK_VC5=y
CONFIG_STM32_RPROC=y
CONFIG_CRC64=y
CONFIG_CLKSRC_SAMSUNG_PWM=y
CONFIG_CRYPTO_AEGIS128=y
CONFIG_MAC80211_RC_DEFAULT_MINSTREL=y
CONFIG_I2C_ALGOPCA=y
CONFIG_RTD119X_WATCHDOG=y
CONFIG_IIO_TRIGGERED_EVENT=y
CONFIG_QCOM_ICC_BWMON=y
CONFIG_PHY_MAPPHONE_MDM6600=y
CONFIG_NET_SCH_PIE=y
CONFIG_BATTERY_LEGO_EV3=y
CONFIG_USB_SNP_CORE=y
CONFIG_SERIAL_8250_ASPEED_VUART=y
CONFIG_REGULATOR_S2MPA01=y
CONFIG_BUG=y
CONFIG_MLX_WDT=y
CONFIG_USB_F_PHONET=y
CONFIG_GENERIC_ARCH_NUMA=y
CONFIG_CORTINA_PHY=y
CONFIG_MAX5522=y
CONFIG_CRYPTO_SM3=y
CONFIG_ARCH_WANT_OPTIMIZE_HUGETLB_VMEMMAP=y
CONFIG_CPU_NO_EFFICIENT_FFS=y
CONFIG_LSI_ET1011C_PHY=y
CONFIG_ASSOCIATIVE_ARRAY=y
CONFIG_USB_SNP_UDC_PLAT=y
CONFIG_CLK_BCM_NS2=y
CONFIG_ADJD_S311=y
CONFIG_SC_DISPCC_7280=y
CONFIG_TICK_ONESHOT=y
CONFIG_LEDS_RT8515=y
CONFIG_BLK_DEV_INITRD=y
CONFIG_MEM_ALLOC_PROFILING_DEBUG=y
CONFIG_DEVFREQ_GOV_USERSPACE=y
CONFIG_INV_ICM42600_SPI=y
CONFIG_PAGE_SIZE_4KB=y
CONFIG_SPI_MT7621=y
CONFIG_MFD_RT5033=y
CONFIG_ISCSI_BOOT_SYSFS=y
CONFIG_NET_ACT_POLICE=y
CONFIG_RENESAS_IRQC=y
CONFIG_T5403=y
CONFIG_I2C_STM32F7=y
CONFIG_HID_SUPPORT=y
CONFIG_ARCH_HAS_HW_PTE_YOUNG=y
CONFIG_MFD_TPS65912=y
CONFIG_USB_SERIAL=y
CONFIG_USB_SERIAL_SIERRAWIRELESS=y
CONFIG_HID_GYRATION=y
CONFIG_DIGICOLOR_TIMER=y
CONFIG_CRYPTO_ECC=y
CONFIG_MAGIC_SYSRQ_SERIAL=y
CONFIG_ARCH_HAS_CC_CAN_LINK=y
CONFIG_NETLINK_DIAG=y
CONFIG_MXS_LRADC_ADC=y
CONFIG_HW_RANDOM_MXC_RNGA=y
CONFIG_SERIAL_FSL_LINFLEXUART=y
CONFIG_IIO_MS_SENSORS_I2C=y
CONFIG_USB_CYPRESS_CY7C63=y
CONFIG_HID_RMI=y
CONFIG_CRYPTO_RMD160=y
CONFIG_COREDUMP=y
CONFIG_PHY_XILINX_ZYNQMP=y
CONFIG_SM_GCC_8450=y
CONFIG_UIO_DFL=y
CONFIG_SPMI_HISI3670=y
CONFIG_FPGA_MGR_XILINX_SPI=y
CONFIG_PINCTRL_STARFIVE_JH7100=y
CONFIG_SGL_ALLOC=y
CONFIG_PINCTRL_DA9062=y
CONFIG_SDX_GCC_75=y
CONFIG_HAVE_MOVE_PUD=y
CONFIG_SDX_GCC_65=y
CONFIG_GPIO_RC5T583=y
CONFIG_HOTPLUG_CORE_SYNC=y
CONFIG_TPS6594_PFSM=y
CONFIG_MFD_BD9571MWV=y
CONFIG_COMMON_CLK_MT2712_IMGSYS=y
CONFIG_CHARGER_CPCAP=y
CONFIG_PINCTRL_MDM9607=y
CONFIG_TI_ADS1018=y
CONFIG_QCOM_SMEM=y
CONFIG_QCOM_A7PLL=y
CONFIG_TASKS_RCU_GENERIC=y
CONFIG_RZN1_IRQMUX=y
CONFIG_ASYMMETRIC_KEY_TYPE=y
CONFIG_CRYPTO_DEV_FSL_CAAM_DEBUG=y
CONFIG_AT91_ADC=y
CONFIG_HID_U2FZERO=y
CONFIG_CRYPTO_AUTHENC=y
CONFIG_PINCTRL_EQUILIBRIUM=y
CONFIG_CRYPTO_STREEBOG=y
CONFIG_SA1100_WATCHDOG=y
CONFIG_HAVE_IOREMAP_PROT=y
CONFIG_USBIP_CORE=y
CONFIG_AD7291=y
CONFIG_ARCH_SELECTS_KEXEC_FILE=y
CONFIG_GENERIC_PINCTRL_GROUPS=y
CONFIG_IO_STRICT_DEVMEM=y
CONFIG_RISCV_EMULATED_UNALIGNED_ACCESS=y
CONFIG_LEDS_ST1202=y
CONFIG_LOCK_DEBUGGING_SUPPORT=y
CONFIG_BME680_I2C=y
CONFIG_HID_SPEEDLINK=y
CONFIG_USB_FUNCTIONFS=y
CONFIG_ACPI_MDIO=y
CONFIG_SCHED_INFO=y
CONFIG_PINCTRL_TEGRA194=y
CONFIG_M62332=y
CONFIG_CMA=y
CONFIG_MFD_TPS6594=y
CONFIG_PINCTRL_SUNXI=y
CONFIG_MTK_ADSP_IPC=y
CONFIG_MAC80211_STA_DEBUG=y
CONFIG_CHARGER_PF1550=y
CONFIG_PINCTRL_PFC_EMEV2=y
CONFIG_VHOST_MENU=y
CONFIG_CRYPTO_LIB_AES=y
CONFIG_PINCTRL_SUNRISEPOINT=y
CONFIG_THERMAL=y
CONFIG_CLK_R8A77470=y
CONFIG_INGENIC_SYSOST=y
CONFIG_ADXL380=y
CONFIG_USB_ISP1761_UDC=y
CONFIG_SLUB_DEBUG=y
CONFIG_DA311=y
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE=y
CONFIG_MCB=y
CONFIG_HAVE_POSIX_CPU_TIMERS_TASK_WORK=y
CONFIG_AXP288_ADC=y
CONFIG_LCD_HX8357=y
CONFIG_ARCH_SUPPORTS_PUD_PFNMAP=y
CONFIG_MFD_RSMU_SPI=y
CONFIG_AD4691=y
CONFIG_MFD_MADERA_SPI=y
CONFIG_FORCE_TASKS_RUDE_RCU=y
CONFIG_KERNFS=y
CONFIG_BLK_CGROUP_IOLATENCY=y
CONFIG_GPIO_MAX7301=y
CONFIG_IIO_GTS_HELPER=y
CONFIG_ATMEL_EBI=y
CONFIG_SRF08=y
CONFIG_AXP20X_ADC=y
CONFIG_COMMON_CLK_MT8516=y
CONFIG_REGULATOR_88PG86X=y
CONFIG_RPMSG_NS=y
CONFIG_MFD_TWL4030_AUDIO=y
CONFIG_PINCTRL_IPQ6018=y
CONFIG_PINCTRL_PFC_SHX3=y
CONFIG_CLK_BCM_63XX_GATE=y
CONFIG_CFG80211_REQUIRE_SIGNED_REGDB=y
CONFIG_MAX11205=y
CONFIG_PINCTRL_SOPHGO_COMMON=y
CONFIG_RCAR_MFIS=y
CONFIG_CHROMEOS_ACPI=y
CONFIG_CRYPTO_USER_API_RNG_CAVP=y
CONFIG_IOMMU_IOVA=y
CONFIG_CHROMEOS_OF_HW_PROBER=y
CONFIG_CPU_FREQ_GOV_ONDEMAND=y
CONFIG_AD9523=y
CONFIG_BACKLIGHT_LV5207LP=y
CONFIG_DRAGONRISE_FF=y
CONFIG_PM_OPP=y
CONFIG_RZG2L_ADC=y
CONFIG_SPI_MICROCHIP_CORE_SPI=y
CONFIG_I2C_LS2X=y
CONFIG_SPI_EP93XX=y
CONFIG_INV_MPU6050_IIO=y
CONFIG_MDIO_MVUSB=y
CONFIG_GPIO_WCD934X=y
CONFIG_SYSFB_SIMPLEFB=y
CONFIG_MMP_DISP=y
CONFIG_USB_LD=y
CONFIG_VL6180=y
CONFIG_CRC_CCITT=y
CONFIG_REGULATOR_HI6421V530=y
CONFIG_HAS_IOMEM=y
CONFIG_TMPFS_INODE64=y
CONFIG_EXPORTFS=y
CONFIG_CRYPTO_DEV_IXP4XX=y
CONFIG_CLK_ELIZA_TCSRCC=y
CONFIG_LEDS_TRIGGER_DISK=y
CONFIG_CRYPTO_PCRYPT=y
CONFIG_HID_UCLOGIC=y
CONFIG_ARCH_HAS_SYNC_CORE_BEFORE_USERMODE=y
CONFIG_MPRLS0025PA_SPI=y
CONFIG_SPI_ATCSPI200=y
CONFIG_UCSI_STM32G0=y
CONFIG_MCP4922=y
CONFIG_CGROUP_FAVOR_DYNMODS=y
CONFIG_CRYPTO_MANAGER=y
CONFIG_NVMEM_VF610_OCOTP=y
CONFIG_CC_OPTIMIZE_FOR_SIZE=y
CONFIG_MTK_SVS=y
CONFIG_PINCTRL_TEGRA114=y
CONFIG_EXTCON_RTK_TYPE_C=y
CONFIG_MFD_HI6421_SPMI=y
CONFIG_TEGRA_EMC_COMMON=y
CONFIG_USB_CONFIGFS_F_FS=y
CONFIG_PHY_MTK_MIPI_DSI=y
CONFIG_CRYPTO_SM4=y
CONFIG_HAVE_ALIGNED_STRUCT_PAGE=y
CONFIG_SERIAL_MESON=y
CONFIG_NET_NSH=y
CONFIG_PHY_MIPHY28LP=y
CONFIG_LEDS_CR0014114=y
CONFIG_TYPEC_MUX_TUSB1046=y
CONFIG_PINCTRL_MSM8953=y
CONFIG_PHY_SUN9I_USB=y
CONFIG_MFD_RK8XX_I2C=y
CONFIG_THERMAL_GOV_BANG_BANG=y
CONFIG_SPI_BCM_QSPI=y
CONFIG_WAN=y
CONFIG_QCS_GPUCC_615=y
CONFIG_SATA_GEMINI=y
CONFIG_ARCH_ESWIN=y
CONFIG_GENERIC_CLOCKEVENTS=y
CONFIG_MFD_MXS_LRADC=y
CONFIG_COMMON_CLK_MAX77686=y
CONFIG_SX9360=y
CONFIG_SM_CAMCC_8750=y
CONFIG_DEVFREQ_GOV_PASSIVE=y
CONFIG_SPI_BCM63XX=y
CONFIG_SC_VIDEOCC_7280=y
CONFIG_USB_SERIAL_OPTION=y
CONFIG_CLK_R8A779G0=y
CONFIG_CHR_DEV_ST=y
CONFIG_NEW_LEDS=y
CONFIG_GPIO_MAX730X=y
CONFIG_USB_SERIAL_QCAUX=y
CONFIG_TOUCHSCREEN_EKTF2127=y
CONFIG_SOFTIRQ_ON_OWN_STACK=y
CONFIG_NET_SCH_FIFO=y
CONFIG_PINCTRL_WM8850=y
CONFIG_QCS_GCC_8300=y
CONFIG_CRYPTO_TWOFISH=y
CONFIG_IIO_BUFFER_DMA=y
CONFIG_NET_SCH_FQ=y
CONFIG_I2C_SYNQUACER=y
