CONFIG_AD5766=y
CONFIG_RPCSEC_GSS_KRB5=y
CONFIG_CHARGER_ADP5061=y
CONFIG_XFRM_SUB_POLICY=y
CONFIG_ARCH_MIGHT_HAVE_PC_SERIO=y
CONFIG_LEDS_TPS6105X=y
CONFIG_CPUFREQ_ARCH_CUR_FREQ=y
CONFIG_HAVE_GENERIC_VDSO=y
CONFIG_CM3605=y
CONFIG_GENERIC_CLOCKEVENTS=y
CONFIG_TOUCHSCREEN_CYTTSP_CORE=y
CONFIG_BATMAN_ADV_MCAST=y
CONFIG_PSTORE=y
CONFIG_SIEMENS_SIMATIC_IPC_BATT_ELKHARTLAKE=y
CONFIG_HAVE_CONTEXT_TRACKING_USER_OFFSTACK=y
CONFIG_IP_PNP_RARP=y
CONFIG_MOUSE_SYNAPTICS_I2C=y
CONFIG_CGROUP_SCHED=y
CONFIG_INTEL_POWERCLAMP=y
CONFIG_KEYBOARD_CYPRESS_SF=y
CONFIG_CRYPTO_LIB_SHA256_ARCH=y
CONFIG_PHYS_ADDR_T_64BIT=y
CONFIG_CRYPTO_ARIA=y
CONFIG_SPI_INTEL_PLATFORM=y
CONFIG_SENSORS_EMC1812=y
CONFIG_FUTEX=y
CONFIG_MTD_CFI_AMDSTD=y
CONFIG_HID_SUNPLUS=y
CONFIG_GPIO_F7188X=y
CONFIG_REGULATOR_QCOM_USB_VBUS=y
CONFIG_CRYPTO_LIB_AES_ARCH=y
CONFIG_POSIX_TIMERS=y
CONFIG_MFD_RC5T583=y
CONFIG_X86_REQUIRED_FEATURE_CX8=y
CONFIG_VGASTATE=y
CONFIG_ZEROPLUS_FF=y
CONFIG_GPIO_PCA9570=y
CONFIG_NET_CLS_FW=y
CONFIG_LCD_CLASS_DEVICE=y
CONFIG_VHOST_MENU=y
CONFIG_MAGIC_SYSRQ=y
CONFIG_MFD_TPS65912_SPI=y
CONFIG_TRACING=y
CONFIG_CHARGER_MAX8971=y
CONFIG_USERFAULTFD=y
CONFIG_CPU_FREQ_GOV_USERSPACE=y
CONFIG_I2C_VIAPRO=y
CONFIG_X86_REQUIRED_FEATURE_NOPL=y
CONFIG_SX9310=y
CONFIG_VDSO_GETRANDOM=y
CONFIG_CRYPTO_HASH2=y
CONFIG_CHARGER_RT9467=y
CONFIG_LEDS_AS3645A=y
CONFIG_CEC_CORE=y
CONFIG_SPI_CS42L43=y
CONFIG_FB_SYSMEM_HELPERS_DEFERRED=y
CONFIG_LEDS_TRIGGER_HEARTBEAT=y
CONFIG_I2C_AMD_MP2=y
CONFIG_SERIAL_8250_DW=y
CONFIG_RAS=y
CONFIG_SENSORS_MAX20751=y
CONFIG_MFD_AXP20X_I2C=y
CONFIG_XEN_PV=y
CONFIG_CRYPTO_CBC=y
CONFIG_TEST_MEMCAT_P=y
CONFIG_HID_REDRAGON=y
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_ARGS=y
CONFIG_SENSORS_MAX1668=y
CONFIG_SI7005=y
CONFIG_X86_DISABLED_FEATURE_SEV_SNP=y
CONFIG_IR_WINBOND_CIR=y
CONFIG_IIO_BUFFER=y
CONFIG_UBIFS_FS_AUTHENTICATION=y
CONFIG_FB=y
CONFIG_MEMBARRIER=y
CONFIG_MFD_MAX77541=y
CONFIG_AD2S90=y
CONFIG_BATMAN_ADV_DEBUG=y
CONFIG_TOUCHSCREEN_ADC=y
CONFIG_HW_RANDOM=y
CONFIG_GENERIC_IRQ_PROBE=y
CONFIG_CONTIG_ALLOC=y
CONFIG_MAX5522=y
CONFIG_AD2S1200=y
CONFIG_I2C_MUX_REG=y
CONFIG_SERIAL_UARTLITE=y
CONFIG_FB_ATY_GENERIC_LCD=y
CONFIG_KEBA_LAN9252=y
CONFIG_SERIO_PARKBD=y
CONFIG_LEDS_TCA6507=y
CONFIG_NET_ACT_GATE=y
CONFIG_TRACE_BRANCH_PROFILING=y
CONFIG_NET_MPLS_GSO=y
CONFIG_L2TP_V3=y
CONFIG_DMA_FENCE_TRACE=y
CONFIG_GPIO_ALTERA=y
CONFIG_EXTCON_PTN5150=y
CONFIG_DEVFREQ_THERMAL=y
CONFIG_AD5696_I2C=y
CONFIG_HID_MULTITOUCH=y
CONFIG_RSEQ=y
CONFIG_RTC_DRV_PCF8523=y
CONFIG_INPUT_88PM80X_ONKEY=y
CONFIG_FW_DEVLINK_SYNC_STATE_TIMEOUT=y
CONFIG_APDS9960=y
CONFIG_CGROUPS=y
CONFIG_ALTERA_MBOX=y
CONFIG_SENSORS_ASUS_WMI=y
CONFIG_REGULATOR_MC13783=y
CONFIG_LIVEUPDATE_MEMFD=y
CONFIG_VCNL3020=y
CONFIG_CRYPTO_HMAC=y
CONFIG_PINCTRL_INTEL=y
CONFIG_CB710_DEBUG_ASSUMPTIONS=y
CONFIG_GENERIC_PHY=y
CONFIG_INPUT_EVDEV=y
CONFIG_LZO_COMPRESS=y
CONFIG_LEDS_WM831X_STATUS=y
CONFIG_SENSORS_MP2975_REGULATOR=y
CONFIG_BMA220_SPI=y
CONFIG_RTC_HCTOSYS=y
CONFIG_REGULATOR_QCOM_LABIBB=y
CONFIG_BITLAND_MIFS_WMI=y
CONFIG_BALLOON=y
CONFIG_JOYSTICK_SEESAW=y
CONFIG_UBIFS_FS_LZO=y
CONFIG_FB_DDC=y
CONFIG_TI_ADC108S102=y
CONFIG_MXC4005=y
CONFIG_DEBUG_RT_MUTEXES=y
CONFIG_MFD_MC13XXX_SPI=y
CONFIG_FB_MB862XX=y
CONFIG_X86_REQUIRED_FEATURE_CMOV=y
CONFIG_KEXEC_CORE=y
CONFIG_GENERIC_STRNCPY_FROM_USER=y
CONFIG_FB_SIS_300=y
CONFIG_MLX90614=y
CONFIG_CRYPTO_JITTERENTROPY=y
CONFIG_BROKEN_ON_SMP=y
CONFIG_SERIAL_8250_NI=y
CONFIG_ACPI_PLATFORM_PROFILE=y
CONFIG_SENSORS_TPS53679=y
CONFIG_CRYPTO_ALGAPI2=y
CONFIG_MFD_CGBC=y
CONFIG_CRYPTO_AEAD=y
CONFIG_PCIE_DPC=y
CONFIG_IRSD200=y
CONFIG_LEDS_BLINKM_MULTICOLOR=y
CONFIG_INPUT_KEYBOARD=y
CONFIG_LEDS_LM3642=y
CONFIG_ARCH_SUPPORTS_PAGE_TABLE_CHECK=y
CONFIG_LEDS_RT8515=y
CONFIG_FUTEX_ROBUST_UNLOCK=y
CONFIG_SX9360=y
CONFIG_RTC_DRV_M41T94=y
CONFIG_HAVE_ARCH_SECCOMP_FILTER=y
CONFIG_FRAMEBUFFER_CONSOLE_LEGACY_ACCELERATION=y
CONFIG_COMEDI_8255_SA=y
CONFIG_HAVE_NMI=y
CONFIG_NSM=y
CONFIG_IIO_ADIS_LIB_BUFFER=y
CONFIG_TOSHIBA_HAPS=y
CONFIG_VHOST_NET=y
CONFIG_DST_CACHE=y
CONFIG_INPUT_JOYSTICK=y
CONFIG_MFD_ARIZONA_SPI=y
CONFIG_OVERLAY_FS=y
CONFIG_SENSORS_LM85=y
CONFIG_TEST_DIV64=y
CONFIG_TOOLS_SUPPORT_RELR=y
CONFIG_BMA220=y
CONFIG_NLS_ISO8859_4=y
CONFIG_AD7192=y
CONFIG_HYPERVISOR_GUEST=y
CONFIG_MFD_VX855=y
CONFIG_INTEL_IOATDMA=y
CONFIG_GENERIC_IOMAP=y
CONFIG_RTC_DRV_PCF85363=y
CONFIG_HAVE_FUNCTION_TRACER=y
CONFIG_LIBFDT=y
CONFIG_X86_DISABLED_FEATURE_K6_MTRR=y
CONFIG_INTEL_HFI_THERMAL=y
CONFIG_TOUCHSCREEN_MTOUCH=y
CONFIG_RD_GZIP=y
CONFIG_HID_CMEDIA=y
CONFIG_IIO_CONFIGFS=y
CONFIG_RTC_INTF_DEV_UIE_EMUL=y
CONFIG_RD_BZIP2=y
CONFIG_ADIS16460=y
CONFIG_PHY_PXA_28NM_HSIC=y
CONFIG_HID_PICOLCD_LEDS=y
CONFIG_RPMSG_QCOM_GLINK_RPM=y
CONFIG_SURFACE_PLATFORMS=y
CONFIG_MAC80211_TDLS_DEBUG=y
CONFIG_CRYPTO_CMAC=y
CONFIG_HAVE_EFFICIENT_UNALIGNED_ACCESS=y
CONFIG_AD4062=y
CONFIG_FUNCTION_ALIGNMENT_4B=y
CONFIG_CRYPTO_ECB=y
CONFIG_PROFILE_ANNOTATED_BRANCHES=y
CONFIG_RTC_CLASS=y
CONFIG_DELL_SMBIOS_WMI=y
CONFIG_SENSORS_STPDDC60=y
CONFIG_TRACE_IRQFLAGS_SUPPORT=y
CONFIG_ADXL355_SPI=y
CONFIG_BPF_KPROBE_OVERRIDE=y
CONFIG_RTC_DRV_PCF85063=y
CONFIG_ZLIB_DEFLATE=y
CONFIG_PARPORT=y
CONFIG_SPI_INTEL_PCI=y
CONFIG_SENSORS_NCT7904=y
CONFIG_GCOV_KERNEL=y
CONFIG_SENSORS_MP5990=y
CONFIG_ARCH_SUPPORTS_ACPI=y
CONFIG_OID_REGISTRY=y
CONFIG_PERF_EVENTS_INTEL_UNCORE=y
CONFIG_HTE=y
CONFIG_HAVE_SAMPLE_FTRACE_DIRECT_MULTI=y
CONFIG_DRM_PANEL_ORIENTATION_QUIRKS=y
CONFIG_SENSORS_TPS25990=y
CONFIG_BATTERY_CW2015=y
CONFIG_HAVE_TRUSTED_KEYS=y
CONFIG_NLS_UTF8=y
CONFIG_TOUCHSCREEN_ZET6223=y
CONFIG_AD5446_SPI=y
CONFIG_ZL3073X_SPI=y
CONFIG_REGMAP_SPMI=y
CONFIG_RTC_DRV_S35390A=y
CONFIG_L2TP_ETH=y
CONFIG_HID_EZKEY=y
CONFIG_MTD_SPI_NAND=y
CONFIG_EDAC_GHES=y
CONFIG_NLS_CODEPAGE_864=y
CONFIG_RTC_DRV_TPS6594=y
CONFIG_EDAC_I5400=y
CONFIG_EXCLUSIVE_SYSTEM_RAM=y
CONFIG_NLS_MAC_CENTEURO=y
CONFIG_BINFMT_SCRIPT=y
CONFIG_SENSORS_LIS3_I2C=y
CONFIG_RCU_NOCB_CPU_DEFAULT_ALL=y
CONFIG_SENSORS_IBMPEX=y
CONFIG_MFD_DA9063=y
CONFIG_HAVE_UACCESS_VALIDATION=y
CONFIG_BOOT_VESA_SUPPORT=y
CONFIG_COMEDI_8255_PCI=y
CONFIG_KVM_X86=y
CONFIG_WPCM450_SOC=y
CONFIG_PT_RECLAIM=y
CONFIG_COMMON_CLK_SI5341=y
CONFIG_ARCH_WANT_DEFAULT_BPF_JIT=y
CONFIG_FB_PM2_FIFO_DISCONNECT=y
CONFIG_RSEQ_DEBUG_DEFAULT_ENABLE=y
CONFIG_PUNIT_ATOM_DEBUG=y
CONFIG_INTEL_RST=y
CONFIG_MFD_WCD934X=y
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST_IDLE=y
CONFIG_PANIC_ON_OOPS=y
CONFIG_SMI240=y
CONFIG_NLS=y
CONFIG_KEYBOARD_TM2_TOUCHKEY=y
CONFIG_SERIAL_LANTIQ=y
CONFIG_HSC030PA_SPI=y
CONFIG_LEDS_LP3944=y
CONFIG_STREAM_PARSER=y
CONFIG_HID_SUPPORT=y
CONFIG_DMA_OPS_HELPERS=y
CONFIG_SENSORS_TPS25990_REGULATOR=y
CONFIG_NET_SCH_FQ_CODEL=y
CONFIG_CFG80211=y
CONFIG_LEDS_TRIGGER_ACTIVITY=y
CONFIG_GCOV_PROFILE_ALL=y
CONFIG_TCG_TIS_ST33ZP24=y
CONFIG_NLS_KOI8_U=y
CONFIG_BPF_JIT_DEFAULT_ON=y
CONFIG_HAVE_KERNEL_ZSTD=y
CONFIG_HAVE_STATIC_CALL_INLINE=y
CONFIG_YENTA=y
CONFIG_REGULATOR_88PM800=y
CONFIG_ARCH_USES_HIGH_VMA_FLAGS=y
CONFIG_XZ_DEC_X86=y
CONFIG_NET_SCH_SFQ=y
CONFIG_ARCH_WANT_OLD_COMPAT_IPC=y
CONFIG_LCD2S=y
CONFIG_SENSORS_K8TEMP=y
CONFIG_TEST_BITMAP=y
CONFIG_TOUCHSCREEN_AD7879=y
CONFIG_BATTERY_CHARGER_SURFACE_RT=y
CONFIG_NET_INGRESS=y
CONFIG_CRYPTO_MANAGER2=y
CONFIG_CPU_FREQ_GOV_COMMON=y
CONFIG_SERIAL_8250_PCILIB=y
CONFIG_SMPRO_MISC=y
CONFIG_FW_LOADER_PAGED_BUF=y
CONFIG_AD_SIGMA_DELTA=y
CONFIG_APDS9300=y
CONFIG_RTC_DRV_M41T80_WDT=y
CONFIG_LOGO_LINUX_CLUT224=y
CONFIG_BT_DEBUGFS=y
CONFIG_GENERIC_PINCONF=y
CONFIG_ALTERA_FREEZE_BRIDGE=y
CONFIG_MTD_CFI_STAA=y
CONFIG_ADMV1014=y
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_REGS=y
CONFIG_SENSORS_IR36021=y
CONFIG_GPIO_LTC4283=y
CONFIG_REF_TRACKER=y
CONFIG_JOYSTICK_SPACEORB=y
CONFIG_HAVE_UNWIND_USER_FP=y
CONFIG_QUOTACTL=y
CONFIG_HZ_250=y
CONFIG_BCMA_POSSIBLE=y
CONFIG_BT_BREDR=y
CONFIG_SENSORS_BEL_PFE=y
CONFIG_GENERIC_ADC_THERMAL=y
CONFIG_BITREVERSE=y
CONFIG_INET_SCTP_DIAG=y
CONFIG_TOUCHSCREEN_CYTTSP_SPI=y
CONFIG_AF_KCM=y
CONFIG_ARCH_SUPPORTS_KEXEC_BZIMAGE_VERIFY_SIG=y
CONFIG_MPRLS0025PA_SPI=y
CONFIG_EFI_DISABLE_RUNTIME=y
CONFIG_BME680_SPI=y
CONFIG_MFD_CS40L50_SPI=y
CONFIG_SENSORS_IT87=y
CONFIG_SENSORS_W83627EHF=y
CONFIG_SENSORS_CGBC=y
CONFIG_XEN_ACPI=y
CONFIG_REGULATOR_MAX14577=y
CONFIG_INTERVAL_TREE_TEST=y
CONFIG_MTD_MAP_BANK_WIDTH_4=y
CONFIG_INET_RAW_DIAG=y
CONFIG_MODULES_USE_ELF_RELA=y
CONFIG_FPGA_MGR_LATTICE_SYSCONFIG=y
CONFIG_NET_SCH_CBS=y
CONFIG_HSC030PA=y
CONFIG_FAULT_INJECTION=y
CONFIG_INSPUR_PLATFORM_PROFILE=y
CONFIG_SENSORS_HTU31=y
CONFIG_GENERIC_IRQ_CHIP=y
CONFIG_ZSTD_COMMON=y
CONFIG_TOUCHSCREEN_HYCON_HY46XX=y
CONFIG_CRYPTO_LIB_SHA3=y
CONFIG_MAX30208=y
CONFIG_GAMEPORT_EMU10K1=y
CONFIG_ARCH_SUPPORTS_PER_VMA_LOCK=y
CONFIG_AFE4404=y
CONFIG_DEBUG_KOBJECT=y
CONFIG_TASKS_RCU=y
CONFIG_COMEDI_KE_COUNTER=y
CONFIG_SENSORS_ADCXX=y
CONFIG_KVM_COMMON=y
CONFIG_RTC_DRV_DS1685_FAMILY=y
CONFIG_GPIO_MERRIFIELD=y
CONFIG_IRQ_BYPASS_MANAGER=y
CONFIG_CRYPTO_KRB5ENC=y
CONFIG_MTD_MAP_BANK_WIDTH_1=y
CONFIG_APDS9306=y
CONFIG_NETWORK_FILESYSTEMS=y
CONFIG_DEBUG_SPINLOCK=y
CONFIG_LRU_GEN=y
CONFIG_SX_COMMON=y
CONFIG_AS73211=y
CONFIG_TCG_TIS_I2C_INFINEON=y
CONFIG_HAVE_EXIT_THREAD=y
CONFIG_LLC2=y
CONFIG_REGULATOR_LP872X=y
CONFIG_UIO_MF624=y
CONFIG_IIO_ADIS_LIB=y
CONFIG_AD7124=y
CONFIG_ICP10100=y
CONFIG_QRTR=y
CONFIG_LEDS_LP3952=y
CONFIG_FB_SYS_COPYAREA=y
CONFIG_MS5637=y
CONFIG_SENSORS_SMPRO=y
CONFIG_CRYPTO_SHA3=y
CONFIG_NVMEM_SPMI_SDAM=y
CONFIG_REGULATOR_MT6363=y
CONFIG_SENSORS_SPD5118_DETECT=y
CONFIG_MEN_A21_WDT=y
CONFIG_ACPI_DPTF=y
CONFIG_FONT_SUPPORT=y
CONFIG_IP_SCTP=y
CONFIG_RPMSG_NS=y
CONFIG_X86_THERMAL_VECTOR=y
CONFIG_UNIX=y
CONFIG_PAGE_SIZE_LESS_THAN_256KB=y
CONFIG_MAX34408=y
CONFIG_PROBE_EVENTS=y
CONFIG_ADXRS450=y
CONFIG_LCD_L4F00242T03=y
CONFIG_RPMSG_CHAR=y
CONFIG_SERIO=y
CONFIG_INET_XFRM_TUNNEL=y
CONFIG_REGULATOR_ACT8865=y
CONFIG_RTC_DRV_STK17TA8=y
CONFIG_NET_ACT_PEDIT=y
CONFIG_IRQ_FORCED_THREADING=y
CONFIG_PC87413_WDT=y
CONFIG_HAVE_RSEQ=y
CONFIG_MOUSE_PS2_BYD=y
CONFIG_TICK_ONESHOT=y
CONFIG_ARCH_HAS_ACPI_TABLE_UPGRADE=y
CONFIG_CRYPTO_LIB_POLY1305_ARCH=y
CONFIG_KERNEL_GZIP=y
CONFIG_HID_JABRA=y
CONFIG_PECI_CPU=y
CONFIG_FILE_LOCKING=y
CONFIG_SENSORS_DS620=y
CONFIG_INTEL_MID_WATCHDOG=y
CONFIG_TRACING_MAP=y
CONFIG_DCACHE_WORD_ACCESS=y
CONFIG_PINCTRL_AMD=y
CONFIG_GENERIC_CPU_AUTOPROBE=y
CONFIG_PCI_DOMAINS=y
CONFIG_ARCH_HAS_GENERIC_CRASHKERNEL_RESERVATION=y
CONFIG_AD7779=y
CONFIG_WQ_WATCHDOG=y
CONFIG_RESET_TI_TPS380X=y
CONFIG_RMI4_F3A=y
CONFIG_DW_XDATA_PCIE=y
CONFIG_VT_HW_CONSOLE_BINDING=y
CONFIG_ARCH_SUPPORTS_DEBUG_PAGEALLOC=y
CONFIG_RUNTIME_TESTING_MENU=y
CONFIG_HPET_MMAP_DEFAULT=y
CONFIG_COMEDI_AMPLC_PCI230=y
CONFIG_PRINTK=y
CONFIG_TEST_UDELAY=y
CONFIG_NET_IP_TUNNEL=y
CONFIG_X86_ACPI_CPUFREQ=y
CONFIG_KEXEC_HANDOVER=y
CONFIG_TCP_CONG_CUBIC=y
CONFIG_SUNRPC_GSS=y
CONFIG_AD5110=y
CONFIG_MAX44009=y
CONFIG_PINCTRL_MOOREFIELD=y
CONFIG_HPET_MMAP=y
CONFIG_AD7091R8=y
CONFIG_MFD_LP8788=y
CONFIG_LCD_PLATFORM=y
CONFIG_TEST_FPU=y
CONFIG_THERMAL=y
CONFIG_NLS_MAC_ROMAN=y
CONFIG_NI903X_WDT=y
CONFIG_INV_ICM45600=y
CONFIG_PVH=y
CONFIG_REMOTEPROC=y
CONFIG_LD_IS_BFD=y
CONFIG_MIGRATION=y
CONFIG_FB_CFB_COPYAREA=y
CONFIG_INPUT_FF_MEMLESS=y
CONFIG_AM2315=y
CONFIG_CHARGER_LP8727=y
CONFIG_FPGA_MGR_XILINX_CORE=y
CONFIG_AD3552R=y
CONFIG_GPIO_PALMAS=y
CONFIG_LEDS_PCA9532=y
CONFIG_BOSCH_BNO055_I2C=y
CONFIG_KMX61=y
CONFIG_SENSORS_MPQ7932=y
CONFIG_PERF_EVENTS_INTEL_CSTATE=y
CONFIG_HTS221=y
CONFIG_ARCH_HAS_NMI_SAFE_THIS_CPU_OPS=y
CONFIG_CC_NO_STRINGOP_OVERFLOW=y
CONFIG_IOMMU_IOVA=y
CONFIG_KEYBOARD_PINEPHONE=y
CONFIG_PERF_USE_VMALLOC=y
CONFIG_RTC_DRV_RV3029C2=y
CONFIG_TIFM_CORE=y
CONFIG_REGULATOR_RT8092=y
CONFIG_HANGCHECK_TIMER=y
CONFIG_HID_ICADE=y
CONFIG_SERIAL_SC16IS7XX_SPI=y
CONFIG_DPM_WATCHDOG=y
CONFIG_RFKILL_GPIO=y
CONFIG_SENSORS_FSCHMD=y
CONFIG_IIO_BACKEND=y
CONFIG_I2C_MUX_GPIO=y
CONFIG_NET_SCHED=y
CONFIG_IIO_MUX=y
CONFIG_LEDS_DA9052=y
CONFIG_AK8974=y
CONFIG_YENTA_TI=y
CONFIG_NOTIFIER_ERROR_INJECTION=y
CONFIG_GENERIC_CALIBRATE_DELAY=y
CONFIG_HAVE_ARCH_PREL32_RELOCATIONS=y
CONFIG_EXTCON_MAX3355=y
CONFIG_YOGABOOK=y
CONFIG_X86_DISABLED_FEATURE_UNRET=y
CONFIG_EXPORTFS_BLOCK_OPS=y
CONFIG_TOUCHSCREEN_GOODIX_BERLIN_I2C=y
CONFIG_USER_EVENTS=y
CONFIG_ABP2030PA_I2C=y
CONFIG_GENERIC_BUG_RELATIVE_POINTERS=y
CONFIG_FB_TRIDENT=y
CONFIG_CHARGER_BD99954=y
CONFIG_RPMSG=y
CONFIG_CRYPTO_HASH=y
CONFIG_CRYPTO_TWOFISH=y
CONFIG_REGULATOR_RT6190=y
