CONFIG_GPIO_XRA1403=y
CONFIG_SENSORS_MPQ7932=y
CONFIG_MHZ19B=y
CONFIG_DLHL60D=y
CONFIG_FTRACE=y
CONFIG_IIO_ST_LSM6DSX_I3C=y
CONFIG_CPU_NO_EFFICIENT_FFS=y
CONFIG_JOYSTICK_SPACEBALL=y
CONFIG_REED_SOLOMON=y
CONFIG_W1_SLAVE_DS2408=y
CONFIG_SENSORS_ADM9240=y
CONFIG_EXTCON_LC824206XA=y
CONFIG_MFD_RT5033=y
CONFIG_EFS_FS=y
CONFIG_CPU_MITIGATIONS=y
CONFIG_SENSORS_RM3100=y
CONFIG_TICK_ONESHOT=y
CONFIG_DEBUG_DEVRES=y
CONFIG_NOP_USB_XCEIV=y
CONFIG_TOUCHSCREEN_MC13783=y
CONFIG_MMC_REALTEK_USB=y
CONFIG_LEDS_MAX77693=y
CONFIG_MFD_MC13XXX_SPI=y
CONFIG_ADF4371=y
CONFIG_RTC_DRV_MAX8997=y
CONFIG_KEYS_REQUEST_CACHE=y
CONFIG_CRAMFS=y
CONFIG_MXC4005=y
CONFIG_SIOX_BUS_GPIO=y
CONFIG_ADRF6780=y
CONFIG_MEMREGION=y
CONFIG_REGMAP_SPI_AVMM=y
CONFIG_NVMEM_LAYOUT_SL28_VPD=y
CONFIG_COMMON_CLK=y
CONFIG_MLX90632=y
CONFIG_COMPAT_BRK=y
CONFIG_REGULATOR_HI6421=y
CONFIG_FB_TRIDENT=y
CONFIG_HP03=y
CONFIG_CRYPTO_LIB_GF128HASH=y
CONFIG_I2C_XILINX=y
CONFIG_LEDS_LP3944=y
CONFIG_CMDLINE_PARTITION=y
CONFIG_MFD_ATMEL_FLEXCOM=y
CONFIG_ARCH_SUPPORTS_PUD_PFNMAP=y
CONFIG_ADFS_FS=y
CONFIG_I3C=y
CONFIG_CLK_STARFIVE_JH7110_PLL=y
CONFIG_EEPROM_EE1004=y
CONFIG_SENSORS_LM90=y
CONFIG_SENSORS_MP5920=y
CONFIG_JOYSTICK_QWIIC=y
CONFIG_ARCH_WANT_OPTIMIZE_DAX_VMEMMAP=y
CONFIG_CC_HAS_ASM_INLINE=y
CONFIG_PPS_CLIENT_LDISC=y
CONFIG_GENERIC_STRNLEN_USER=y
CONFIG_REGULATOR_RT5190A=y
CONFIG_GPIO_EXAR=y
CONFIG_STK8312=y
CONFIG_USB_IOWARRIOR=y
CONFIG_LZ4_COMPRESS=y
CONFIG_DEBUG_BUGVERBOSE_DETAILED=y
CONFIG_TI_DAC7311=y
CONFIG_BOOT_CONFIG=y
CONFIG_FXAS21002C=y
CONFIG_JOYSTICK_WARRIOR=y
CONFIG_ARCH_STACKWALK=y
CONFIG_LEDS_AW200XX=y
CONFIG_I2C_CADENCE=y
CONFIG_I2C_AMD756=y
CONFIG_SERIO_PS2MULT=y
CONFIG_RTC_DRV_DS1343=y
CONFIG_THREAD_INFO_IN_TASK=y
CONFIG_IOSCHED_BFQ=y
CONFIG_CRC16=y
CONFIG_PAGE_SIZE_4KB=y
CONFIG_SENSORS_GL518SM=y
CONFIG_PINCTRL_SOPHGO_SG2002=y
CONFIG_CHARGER_BQ2515X=y
CONFIG_NOP_TRACER=y
CONFIG_BUILDTIME_TABLE_SORT=y
CONFIG_ARCH_HAS_PTE_SPECIAL=y
CONFIG_USB_MAX3420_UDC=y
CONFIG_RISCV_EMULATED_UNALIGNED_ACCESS=y
CONFIG_PHY_EIC7700_SATA=y
CONFIG_MAX31865=y
CONFIG_OF_RECONFIG_NOTIFIER_ERROR_INJECT=y
CONFIG_RANDSTRUCT_NONE=y
CONFIG_FB_MB862XX_PCI_GDC=y
CONFIG_MFD_ATC260X=y
CONFIG_COMMON_CLK_SI570=y
CONFIG_CRYPTO_SEQIV=y
CONFIG_EVENTFD=y
CONFIG_MEN_Z188_ADC=y
CONFIG_MFD_CS47L92=y
CONFIG_HAVE_MOVE_PUD=y
CONFIG_GENERIC_BITREVERSE=y
CONFIG_SERIAL_ALTERA_JTAGUART_CONSOLE_BYPASS=y
CONFIG_REGULATOR_TPS65023=y
CONFIG_MFD_TPS65217=y
CONFIG_FB_SYS_IMAGEBLIT=y
CONFIG_NVMEM_QNAP_MCU_EEPROM=y
CONFIG_LINEDISP=y
CONFIG_CRYPTO_ACOMP2=y
CONFIG_ARCH_HAS_ELF_CORE_EFLAGS=y
CONFIG_PHY_OCELOT_SERDES=y
CONFIG_BACKLIGHT_AW99706=y
CONFIG_CHARGER_TPS65217=y
CONFIG_EDAC_ECS=y
CONFIG_REGULATOR_MT6311=y
CONFIG_CRYPTO_BLAKE2B=y
CONFIG_RAID6_PQ=y
CONFIG_TI_ADC128S052=y
CONFIG_MFD_STMFX=y
CONFIG_COMMON_CLK_CDCE925=y
CONFIG_XOR_BLOCKS=y
CONFIG_GPIO_WAVESHARE_DSI_TOUCH=y
CONFIG_MFD_TPS6594=y
CONFIG_TOUCHSCREEN_RM_TS=y
CONFIG_CRYPTO_LZ4HC=y
CONFIG_FSI_SBEFIFO=y
CONFIG_W1_SLAVE_DS2781=y
CONFIG_MFD_AS3722=y
CONFIG_SENSORS_MAX16601=y
CONFIG_RISCV_APLIC=y
CONFIG_GPIO_LINE_MUX=y
CONFIG_CC_IS_GCC=y
CONFIG_MMC_ALCOR=y
CONFIG_BMA220=y
CONFIG_IIO_BUFFER_DMA=y
CONFIG_EFI_PARAMS_FROM_FDT=y
CONFIG_USB_G_ACM_MS=y
CONFIG_GPIO_SYSCON=y
CONFIG_BMP280=y
CONFIG_REGULATOR_PV88060=y
CONFIG_HAVE_CLK=y
CONFIG_DEBUG_STACK_USAGE=y
CONFIG_I2C_VIA=y
CONFIG_PCIEAER_INJECT=y
CONFIG_SECCOMP=y
CONFIG_ADXRS450=y
CONFIG_LP_CONSOLE=y
CONFIG_REGULATOR_FIXED_VOLTAGE=y
CONFIG_SENSORS_VIA686A=y
CONFIG_IIO_GTS_HELPER=y
CONFIG_CHARGER_TWL6030=y
CONFIG_HISI_HIKEY_USB=y
CONFIG_COMMON_CLK_S2MPS11=y
CONFIG_HTS221=y
CONFIG_RTC_DRV_ISL12022=y
CONFIG_CONTIG_ALLOC=y
CONFIG_ARCH_DEFAULT_CRASH_DUMP=y
CONFIG_KEYBOARD_ATKBD=y
CONFIG_ADXL367=y
CONFIG_ARCH_DMA_ADDR_T_64BIT=y
CONFIG_FPGA_MGR_EFINIX_SPI=y
CONFIG_USB_FUNCTIONFS=y
CONFIG_USB_CYPRESS_CY7C63=y
CONFIG_USB_ULPI_BUS=y
CONFIG_GPIO_PCIE_IDIO_24=y
CONFIG_FPGA_MGR_LATTICE_SYSCONFIG_SPI=y
CONFIG_BMP280_I2C=y
CONFIG_ABP060MG=y
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE=y
CONFIG_VDSO_GETRANDOM=y
CONFIG_HAVE_DEBUG_KMEMLEAK=y
CONFIG_PCI_SW_SWITCHTEC=y
CONFIG_CRYPTO_CRYPTD=y
CONFIG_TCG_ATMEL=y
CONFIG_64BIT=y
CONFIG_SENSORS_ADT7X10=y
CONFIG_PARPORT_PC_FIFO=y
CONFIG_REGULATOR_QCOM_LABIBB=y
CONFIG_JOYSTICK_TWIDJOY=y
CONFIG_XILLYBUS_CLASS=y
CONFIG_PCI_ENDPOINT_CONFIGFS=y
CONFIG_DRM_PANEL_ORIENTATION_QUIRKS=y
CONFIG_ADMV4420=y
CONFIG_SERIAL_IPOCTAL=y
CONFIG_SQUASHFS_CHOICE_DECOMP_BY_MOUNT=y
CONFIG_TOUCHSCREEN_PIXCIR=y
CONFIG_ARCH_USE_MEMREMAP_PROT=y
CONFIG_CRYPTO_SKCIPHER=y
CONFIG_LOCKDEP_SUPPORT=y
CONFIG_MEMFD_CREATE=y
CONFIG_CC_NO_STRINGOP_OVERFLOW=y
CONFIG_SENSORS_W83627HF=y
CONFIG_KEYBOARD_BCM=y
CONFIG_MFD_88PM800=y
CONFIG_BSD_PROCESS_ACCT_V3=y
CONFIG_PCI_TSM=y
CONFIG_GENERIC_IOREMAP=y
CONFIG_CRYPTO_XCTR=y
CONFIG_TAHVO_USB=y
CONFIG_NVME_TARGET_FCLOOP=y
CONFIG_KGDB_TESTS_ON_BOOT=y
CONFIG_ARCH_SUPPORTS_ATOMIC_RMW=y
CONFIG_DS4424=y
CONFIG_OF=y
CONFIG_EEPROM_93XX46=y
CONFIG_CC_HAS_KASAN_GENERIC=y
CONFIG_MISC_FILESYSTEMS=y
CONFIG_USB_LEDS_TRIGGER_USBPORT=y
CONFIG_TOUCHSCREEN_AUO_PIXCIR=y
CONFIG_TYPEC_STUSB160X=y
CONFIG_BINFMT_ELF=y
CONFIG_ARCH_HAS_DEBUG_WX=y
CONFIG_BLK_CGROUP_FC_APPID=y
CONFIG_NVME_TARGET=y
CONFIG_EROFS_FS=y
CONFIG_SENSORS_F71882FG=y
CONFIG_FW_CFG_SYSFS=y
CONFIG_SENSORS_POWERZ=y
CONFIG_DECOMPRESS_GZIP=y
CONFIG_EXTCON_MAX14577=y
CONFIG_CRYPTO_CHACHA20=y
CONFIG_NLS_CODEPAGE_1250=y
CONFIG_AD5791=y
CONFIG_SENSORS_BH1770=y
CONFIG_CRYPTO_RNG2=y
CONFIG_W1_SLAVE_DS28E17=y
CONFIG_POWER_SUPPLY_HWMON=y
CONFIG_MFD_MAX8997=y
CONFIG_HZ_PERIODIC=y
CONFIG_EVENT_TRACING=y
CONFIG_TEST_DIV64=y
CONFIG_REGULATOR_MAX77802=y
CONFIG_BSD_PROCESS_ACCT=y
CONFIG_TRANSPARENT_HUGEPAGE_MADVISE=y
CONFIG_SIGNALFD=y
CONFIG_GPIO_MOCKUP=y
CONFIG_COMMON_CLK_CS2000_CP=y
CONFIG_USB_GR_UDC=y
CONFIG_MFD_ADP5585=y
CONFIG_NTB=y
CONFIG_DMA_NEED_SYNC=y
CONFIG_OMFS_FS=y
CONFIG_ROHM_BD79112=y
CONFIG_ZLIB_DEFLATE=y
CONFIG_REGULATOR_MAX8952=y
CONFIG_AD5360=y
CONFIG_TYPEC_MUX_GPIO_SBU=y
CONFIG_GPIO_VIRTIO=y
CONFIG_HAVE_GENERIC_TIF_BITS=y
CONFIG_PHY_SAMSUNG_USB2=y
CONFIG_MAX14001=y
CONFIG_JOYSTICK_GAMECON=y
CONFIG_GPIO_CDEV=y
CONFIG_MMC=y
CONFIG_FAT_FS=y
CONFIG_SENSORS_NCT6775_I2C=y
CONFIG_MFD_TPS65910=y
CONFIG_PAC1921=y
CONFIG_TOUCHSCREEN_ADS7846=y
CONFIG_MFD_INTEL_M10_BMC_CORE=y
CONFIG_VL53L1X_I2C=y
CONFIG_RTC_DRV_ABB5ZES3=y
CONFIG_CRYPTO_ECHAINIV=y
CONFIG_SPMI=y
CONFIG_TOUCHSCREEN_CYTTSP_CORE=y
CONFIG_AS3935=y
CONFIG_CGROUP_FREEZER=y
CONFIG_NVMEM_RAVE_SP_EEPROM=y
CONFIG_ADIS16130=y
CONFIG_ERRATA_THEAD_MAE=y
CONFIG_CRC_T10DIF=y
CONFIG_DEBUG_MUTEXES=y
CONFIG_SENSORS_MP2993=y
CONFIG_ALTERA_STAPL=y
CONFIG_AD7298=y
CONFIG_DA9150_GPADC=y
CONFIG_FB_VIRTUAL=y
CONFIG_SENSORS_PECI_DIMMTEMP=y
CONFIG_SENSORS_PECI=y
CONFIG_CHARGER_MP2629=y
CONFIG_DEBUG_MAPLE_TREE=y
CONFIG_LTC2496=y
CONFIG_YENTA_TOSHIBA=y
CONFIG_RTC_DRV_DS1685_FAMILY=y
CONFIG_BACKLIGHT_QCOM_WLED=y
CONFIG_CRYPTO_JITTERENTROPY=y
CONFIG_TCG_TIS=y
CONFIG_I2C_VIPERBOARD=y
CONFIG_CRYPTO_TWOFISH=y
CONFIG_TOUCHSCREEN_IQS7211=y
CONFIG_REGULATOR_MAX77693=y
CONFIG_RESET_MCHP_SPARX5=y
CONFIG_DEBUG_RWSEMS=y
CONFIG_RESET_ATTACK_MITIGATION=y
CONFIG_SPS30_SERIAL=y
CONFIG_APERTURE_HELPERS=y
CONFIG_SPI_SG2044_NOR=y
CONFIG_RTC_DRV_DS1302=y
CONFIG_SENSORS_PXE1610=y
CONFIG_REGMAP_SPMI=y
CONFIG_ERRATA_MIPS_P8700_PAUSE_OPCODE=y
CONFIG_PCIE_PTM=y
CONFIG_USB_PHY=y
CONFIG_LZ4HC_COMPRESS=y
CONFIG_MMC_HSQ=y
CONFIG_COMEDI_TESTS=y
CONFIG_SENSORS_ADP1050=y
CONFIG_PINCTRL_RP1=y
CONFIG_LEDS_MT6370_RGB=y
CONFIG_KEYBOARD_LM8333=y
CONFIG_USB_DWC3=y
CONFIG_USB_MON=y
CONFIG_REGULATOR_DA9211=y
CONFIG_IIO_TRIGGERED_BUFFER=y
CONFIG_MFD_CS40L50_CORE=y
CONFIG_JUMP_LABEL=y
CONFIG_INTEL_TH=y
CONFIG_88PM886_GPADC=y
CONFIG_SPI_TLE62X0=y
CONFIG_IRQ_WORK=y
CONFIG_REGULATOR_SKY81452=y
CONFIG_USB_CONFIGFS_F_LB_SS=y
CONFIG_RAMDAX=y
CONFIG_W1_MASTER_UART=y
CONFIG_NLS_MAC_GAELIC=y
CONFIG_GUEST_PERF_EVENTS=y
CONFIG_CLK_SOPHGO_SG2044_PLL=y
CONFIG_LEDS_MAX77650=y
CONFIG_AD5110=y
CONFIG_GPIO_PCA9570=y
CONFIG_DEBUG_WW_MUTEX_SLOWPATH=y
CONFIG_USB_EZUSB_FX2=y
CONFIG_XILLYUSB=y
CONFIG_DTC=y
CONFIG_ZSTD_COMMON=y
CONFIG_I2C_MUX_PINCTRL=y
CONFIG_OF_IRQ=y
CONFIG_RELAY=y
CONFIG_SPI_OC_TINY=y
CONFIG_IIO_INV_SENSORS_TIMESTAMP=y
CONFIG_OID_REGISTRY=y
CONFIG_XZ_DEC_SPARC=y
CONFIG_LEDS_WM8350=y
CONFIG_SENSORS_ADP1050_REGULATOR=y
CONFIG_REGMAP_SPI=y
CONFIG_GPIO_BT8XX=y
CONFIG_PREEMPT_TRACER=y
CONFIG_LPC_ICH=y
CONFIG_JOYSTICK_AS5011=y
CONFIG_CRC8=y
CONFIG_ADP810=y
CONFIG_PSTORE_RAM=y
CONFIG_HZ_300=y
CONFIG_REGULATOR_MAX8649=y
CONFIG_SENSORS_LM83=y
CONFIG_RING_BUFFER=y
CONFIG_NLS_CODEPAGE_864=y
CONFIG_HWSPINLOCK=y
CONFIG_HAVE_KRETPROBES=y
CONFIG_TOUCHSCREEN_MMS114=y
CONFIG_GPIO_SWNODE_UNDEFINED=y
CONFIG_MCP9600=y
CONFIG_CLK_STARFIVE_JH71X0=y
CONFIG_RTC_DRV_ISL1208=y
CONFIG_GPIB_AGILENT_82357A=y
CONFIG_POWER_SEQUENCING=y
CONFIG_ALTERA_FREEZE_BRIDGE=y
CONFIG_PCIE_MICROCHIP_HOST=y
CONFIG_U_SERIAL_CONSOLE=y
CONFIG_HAVE_ASM_MODVERSIONS=y
CONFIG_SENSORS_MP2869=y
CONFIG_AD7768_1=y
CONFIG_CHARGER_LT3651=y
CONFIG_GOOGLE_VPD=y
CONFIG_MPU3050=y
CONFIG_CRYPTO_LIB_AES=y
CONFIG_I2C_TINY_USB=y
CONFIG_ARCH_OPTIONAL_KERNEL_RWX_DEFAULT=y
CONFIG_SCA3300=y
CONFIG_MMC_DW_HI3798MV200=y
CONFIG_MMA9551_CORE=y
CONFIG_AD7124=y
CONFIG_HAVE_ARCH_KFENCE=y
CONFIG_USB_LIBCOMPOSITE=y
CONFIG_TOUCHSCREEN_AD7879_SPI=y
CONFIG_USB_F_PRINTER=y
CONFIG_TI_ADS7924=y
CONFIG_PM_OPP=y
CONFIG_PHY_STARFIVE_JH7110_DPHY_RX=y
CONFIG_USB_EHCI_HCD=y
CONFIG_DMA_NONCOHERENT_MMAP=y
CONFIG_RTC_DRV_EM3027=y
CONFIG_SENSORS_LM87=y
CONFIG_BTRFS_FS=y
CONFIG_FB_IOMEM_FOPS=y
CONFIG_NTB_PINGPONG=y
CONFIG_COMEDI_KCOMEDILIB=y
CONFIG_CRYPTO_DH=y
CONFIG_ARCH_HAS_STRICT_KERNEL_RWX=y
CONFIG_RTC_DRV_ABEOZ9=y
CONFIG_W1_SLAVE_DS2433_CRC=y
CONFIG_ARCH_SUPPORTS_DEBUG_PAGEALLOC=y
CONFIG_ASN1=y
CONFIG_NVMEM_LAYOUTS=y
CONFIG_IIO_ST_SENSORS_SPI=y
CONFIG_SENSORS_SHTC1=y
CONFIG_EFI_CAPSULE_LOADER=y
CONFIG_PINCTRL_SOPHGO_COMMON=y
CONFIG_F2FS_FAULT_INJECTION=y
CONFIG_MCP3911=y
CONFIG_SENSORS_TPS546D24=y
CONFIG_EXTCON_PTN5150=y
CONFIG_GENERIC_HWEIGHT=y
CONFIG_REGULATOR_LP3972=y
CONFIG_SENSORS_LINEAGE=y
CONFIG_MISC_RP1=y
CONFIG_UFS_FS=y
CONFIG_OF_ADDRESS=y
CONFIG_SENSORS_W83795=y
CONFIG_RTC_DRV_MAX8907=y
CONFIG_CHARGER_MANAGER=y
CONFIG_FS_IOMAP=y
CONFIG_MHI_BUS_PCI_GENERIC=y
CONFIG_IQS621_ALS=y
CONFIG_SENSORS_TPS40422=y
CONFIG_MFD_HI6421_SPMI=y
CONFIG_GPIOLIB=y
CONFIG_LEDS_S2M_RGB=y
CONFIG_CHARGER_RK817=y
CONFIG_RAS=y
CONFIG_ARCH_HAS_SYNC_DMA_FOR_DEVICE=y
CONFIG_USB_F_SERIAL=y
CONFIG_RESET_SPACEMIT_K3=y
CONFIG_DUMMY_CONSOLE=y
CONFIG_PECI_CPU=y
CONFIG_PVPANIC=y
CONFIG_COMMON_CLK_RS9_PCIE=y
CONFIG_NLS_CODEPAGE_855=y
CONFIG_INV_ICM45600_I2C=y
CONFIG_SPI_PL022=y
CONFIG_VT=y
CONFIG_COMEDI_DT9812=y
CONFIG_BMA400_SPI=y
CONFIG_ARCH_HAS_DEBUG_VIRTUAL=y
CONFIG_DECOMPRESS_ZSTD=y
CONFIG_PINCTRL_OCELOT=y
CONFIG_EXTCON_MAX14526=y
CONFIG_TEST_UDELAY=y
CONFIG_MFD_AXP20X=y
CONFIG_IKCONFIG=y
CONFIG_SENSORS_NCT6775_CORE=y
CONFIG_RTC_DRV_M41T80=y
CONFIG_TOUCHSCREEN_ILI210X=y
CONFIG_MAX30100=y
CONFIG_CRYPTO_DRBG=y
CONFIG_IRQSOFF_TRACER=y
CONFIG_RICHTEK_RTQ6056=y
CONFIG_MULTIUSER=y
CONFIG_GCC_NO_STRINGOP_OVERFLOW=y
CONFIG_RTC_DRV_S35390A=y
CONFIG_CMA=y
CONFIG_MFD_TWL4030_AUDIO=y
CONFIG_CRYPTO_LIB_POLY1305=y
CONFIG_SENSORS_LM75=y
CONFIG_EEPROM_MAX6875=y
CONFIG_TOUCHSCREEN_EDT_FT5X06=y
CONFIG_CRYPTO_CAMELLIA=y
CONFIG_SERIO_LIBPS2=y
CONFIG_ARCH_SUPPORTS_ACPI=y
CONFIG_REGULATOR_RT5133=y
CONFIG_DLN2_ADC=y
CONFIG_SENSORS_IBMPEX=y
CONFIG_XFS_LIVE_HOOKS=y
CONFIG_LEDS_LP50XX=y
CONFIG_HMC6352=y
CONFIG_PHY_PXA_28NM_HSIC=y
CONFIG_BITREVERSE=y
CONFIG_USB_GADGET_DEBUG_FILES=y
CONFIG_VIRT_XFER_TO_GUEST_WORK=y
CONFIG_XZ_DEC_X86=y
CONFIG_REGMAP_I3C=y
CONFIG_LEDS_CLASS_MULTICOLOR=y
CONFIG_NVMEM=y
CONFIG_HAVE_GCC_PLUGINS=y
CONFIG_FB_SAVAGE_I2C=y
CONFIG_COMEDI_NI_ROUTING=y
CONFIG_PCIE_STARFIVE_HOST=y
CONFIG_SENSORS_ISL29028=y
CONFIG_HAVE_FUNCTION_GRAPH_FREGS=y
CONFIG_DEBUG_PAGEALLOC_ENABLE_DEFAULT=y
CONFIG_TEST_MEMCAT_P=y
CONFIG_TOUCHSCREEN_ST1232=y
CONFIG_MMC_SDHCI=y
CONFIG_CHARGER_BQ257XX=y
CONFIG_CRAMFS_BLOCKDEV=y
CONFIG_HAVE_BUILDTIME_MCOUNT_SORT=y
CONFIG_SENSORS_MAX16064=y
CONFIG_HDC2010=y
CONFIG_ARCH_HAS_CC_CAN_LINK=y
CONFIG_BLK_CGROUP_IOLATENCY=y
CONFIG_ADIS16550=y
CONFIG_LEDS_TRIGGER_PATTERN=y
CONFIG_AD5593R=y
CONFIG_BTRFS_ASSERT=y
CONFIG_MB1232=y
