CONFIG_HAVE_SYSCALL_TRACEPOINTS=n
CONFIG_MTK_DEVAPC=n
CONFIG_PINCTRL_IMX8MN=n
CONFIG_NET_VENDOR_ATHEROS=n
CONFIG_ARM_GIC_ITS_PARENT=n
CONFIG_IMX_SCU_PD=n
CONFIG_IRQ_DOMAIN=n
CONFIG_RESET_HISI=n
CONFIG_PINCTRL_IMX8MM=n
CONFIG_VIRTUALIZATION=n
CONFIG_VIDEO_IMX8_ISI=n
CONFIG_CAN_DEV=n
CONFIG_RC_MAP=n
CONFIG_COMMON_CLK_MT6765=n
CONFIG_VT_CONSOLE=n
CONFIG_SM_CAMCC_8550=n
CONFIG_HW_RANDOM_EXYNOS=n
CONFIG_VIDEO_SYNOPSYS_HDMIRX=n
CONFIG_VLAN_8021Q_GVRP=n
CONFIG_SPRD_SC9863A_CLK=n
CONFIG_DRM_SCHED=n
CONFIG_USB_GADGET=n
CONFIG_MEDIA_TUNER=n
CONFIG_SND_SOC_TI_EDMA_PCM=n
CONFIG_WIRELESS=n
CONFIG_ARCH_WANT_LD_ORPHAN_WARN=n
CONFIG_CRYPTO_LIB_SHA512_ARCH=n
CONFIG_TOUCHSCREEN_ILI210X=n
CONFIG_PCIE_CADENCE=n
CONFIG_SNI_AVE=n
CONFIG_MSM_GCC_8953=n
CONFIG_VT_HW_CONSOLE_BINDING=n
CONFIG_HAVE_ARCH_JUMP_LABEL_RELATIVE=n
CONFIG_CRYPTO_DEV_QCE_SHA=n
CONFIG_PINCTRL_IPQ8074=n
CONFIG_PINCTRL_RTD=n
CONFIG_USB_DWC3_KEYSTONE=n
CONFIG_KERNFS=n
CONFIG_SND_SOC_SDM845=n
CONFIG_RTC_DRV_MAX77686=n
CONFIG_SND_SOC_QDSP6_PRM=n
CONFIG_SND_MESON_AXG_TDMIN=n
CONFIG_INTERCONNECT_QCOM_QCS615=n
CONFIG_EEPROM_AT25=n
CONFIG_STUB_CLK_HI3660=n
CONFIG_MFD_TPS65219=n
CONFIG_CRYPTO_DEV_TEGRA=n
CONFIG_SND_SOC_TEGRA210_I2S=n
CONFIG_POSIX_MQUEUE=n
CONFIG_FUTEX_MPOL=n
CONFIG_PHY_SUN6I_MIPI_DPHY=n
CONFIG_UID16=n
CONFIG_SPI_SH_MSIOF=n
CONFIG_NVMEM_QCOM_SEC_QFPROM=n
CONFIG_RESET_RZV2H_USB2PHY=n
CONFIG_ETHERNET=n
CONFIG_SPI_APPLE=n
CONFIG_CRYPTO_HW=n
CONFIG_SLAB_OBJ_EXT=n
CONFIG_NET_VENDOR_RENESAS=n
CONFIG_AS_IS_GNU=n
CONFIG_SOC_TEGRA_FLOWCTRL=n
CONFIG_COMMON_CLK_C3_PERIPHERALS=n
CONFIG_PCI_ATS=n
CONFIG_HW_PERF_EVENTS=n
CONFIG_VIRTIO_BALLOON=n
CONFIG_SM_VIDEOCC_8250=n
CONFIG_PINCTRL_MVEBU=n
CONFIG_COMMON_CLK_HI3559A=n
CONFIG_TYPEC_MUX_GPIO_SBU=n
CONFIG_CPU_FREQ_DEFAULT_GOV_SCHEDUTIL=n
CONFIG_NETFILTER_EGRESS=n
CONFIG_SYSC_R8A7795=n
CONFIG_PINCTRL_PFC_R8A77980=n
CONFIG_PCIE_QCOM_COMMON=n
CONFIG_OF_RESERVED_MEM=n
CONFIG_MMC_DW_K3=n
CONFIG_REGULATOR_FIXED_VOLTAGE=n
CONFIG_RPMSG_QCOM_GLINK_RPM=n
CONFIG_ARCH_SUPPORTS_ATOMIC_RMW=n
CONFIG_VF_TIMER_NONE=n
CONFIG_SERIAL_BCM63XX=n
CONFIG_SND_SOC_TAS571X=n
CONFIG_ARCH_WANT_BATCHED_UNMAP_TLB_FLUSH=n
CONFIG_MESON_SARADC=n
CONFIG_AUDIT_GENERIC=n
CONFIG_IPQ_GCC_9650=n
CONFIG_ARCH_WANT_DEFAULT_TOPDOWN_MMAP_LAYOUT=n
CONFIG_HAVE_PREEMPT_DYNAMIC_KEY=n
CONFIG_BT_HIDP=n
CONFIG_TEGRA_CLK_DFLL=n
CONFIG_DRM_DW_HDMI_I2S_AUDIO=n
CONFIG_HAVE_FUNCTION_TRACER=n
CONFIG_IPQ_NSSCC_9574=n
CONFIG_BTRFS_FS_POSIX_ACL=n
CONFIG_ARM64_SVE=n
CONFIG_PHY_SNPS_EUSB2=n
CONFIG_RESET_ZYNQMP=n
CONFIG_COMMON_CLK_HI6220=n
CONFIG_COMMON_CLK_MT8196_VENCSYS=n
CONFIG_MEDIA_ATTACH=n
CONFIG_SYSTEMPORT=n
CONFIG_CLK_R9A07G054=n
CONFIG_DW_APB_ICTL=n
CONFIG_PINCTRL_MT8195=n
CONFIG_WWAN_DEBUGFS=n
CONFIG_CLK_R8A774A1=n
CONFIG_SND_SOC_TEGRA210_ADX=n
CONFIG_CLK_RCAR_GEN4_CPG=n
CONFIG_BNX2X=n
CONFIG_VIDEO_V4L2_I2C=n
CONFIG_NFS_DISABLE_UDP_SUPPORT=n
CONFIG_QCOM_PDR_MSG=n
CONFIG_IIO_ST_LSM6DSX=n
CONFIG_DRM_NOUVEAU_BACKLIGHT=n
CONFIG_INTERCONNECT_QCOM_BCM_VOTER=n
CONFIG_UNIPHIER_SYSTEM_BUS=n
CONFIG_BT_MRVL=n
CONFIG_DRM_POWERVR=n
CONFIG_ARM_SCMI_QUIRKS=n
CONFIG_UCS2_STRING=n
CONFIG_SND_VERBOSE_PROCFS=n
CONFIG_PINCTRL_SAMSUNG=n
CONFIG_MLX4_EN=n
CONFIG_INPUT_PWM_VIBRA=n
CONFIG_SND_HDA_CODEC_HDMI_GENERIC=n
CONFIG_PREEMPT_NOTIFIERS=n
CONFIG_CLK_RK3568=n
CONFIG_SND_SOC_X1E80100=n
CONFIG_MEMTEST=n
CONFIG_ARCH_RENESAS=n
CONFIG_AS_HAS_CFI_NEGATE_RA_STATE=n
CONFIG_PINCTRL_SC7180=n
CONFIG_IMX_SCMI_LMM_EXT=n
CONFIG_CRYPTO_LIB_DES=n
CONFIG_HAVE_PV_STEAL_CLOCK_GEN=n
CONFIG_SND_MESON_G12A_TOACODEC=n
CONFIG_BUFFER_HEAD=n
CONFIG_ARM_GIC_V5=n
CONFIG_ARCH_VEXPRESS=n
CONFIG_OWL_PM_DOMAINS_HELPER=n
CONFIG_GENERIC_IRQ_SHOW=n
CONFIG_ARCH_SUPPORTS_LTO_CLANG_THIN=n
CONFIG_RAID6_PQ_ARCH=n
CONFIG_USB_DWC3_IMX=n
CONFIG_PHY_MESON8B_USB2=n
CONFIG_ARCH_USE_SYM_ANNOTATIONS=n
CONFIG_DRM_BRIDGE_CONNECTOR=n
CONFIG_AS_HAS_ARMV8_5=n
CONFIG_SND_USB=n
CONFIG_SND_SOC_ES7134=n
CONFIG_MFD_TPS6594_I2C=n
CONFIG_AIO=n
CONFIG_MOUSE_PS2_CYPRESS=n
CONFIG_ARCH_SUPPORTS_NUMA_BALANCING=n
CONFIG_SND_SOC_WCD939X=n
CONFIG_IMX9_BLK_CTRL=n
CONFIG_NET_9P_FD=n
CONFIG_IGBVF=n
CONFIG_MOUSE_PS2_ALPS=n
CONFIG_ARM_PSCI_FW=n
CONFIG_MTD_NAND_ECC=n
CONFIG_K3_THERMAL=n
CONFIG_APPLE_DART=n
CONFIG_INTEL_STRATIX10_RSU=n
CONFIG_VITESSE_PHY=n
CONFIG_TI_DAVINCI_MDIO=n
CONFIG_LOCKDEP_SUPPORT=n
CONFIG_RENESAS_RZV2HWDT=n
CONFIG_MMC_BLOCK=n
CONFIG_SPI_BITBANG=n
CONFIG_MTD_OF_PARTS_BCM4908=n
CONFIG_SCSI_UFS_QCOM=n
CONFIG_BACKLIGHT_PWM=n
CONFIG_MMC_SDHCI_IPROC=n
CONFIG_SCHED_CLUSTER=n
CONFIG_SCSI_UFS_BSG=n
CONFIG_COMMON_RESET_HI3660=n
CONFIG_GPIO_SHARED=n
CONFIG_ZYNQMP_FIRMWARE_DEBUG=n
CONFIG_TYPEC_MUX_IT5205=n
CONFIG_ARCH_RCAR_GEN3=n
CONFIG_TEGRA_AHB=n
CONFIG_PCIE_IPROC_MSI=n
CONFIG_ARCH_TEGRA_186_SOC=n
CONFIG_IOMMU_IO_PGTABLE=n
CONFIG_ACPI_THERMAL_LIB=n
CONFIG_RTC_DRV_PCF85063=n
CONFIG_I2C_RK3X=n
CONFIG_IP_PNP=n
CONFIG_PINCTRL_BCM2835=n
CONFIG_PCI_ENDPOINT=n
CONFIG_ARCH_HAS_DEBUG_WX=n
CONFIG_SPI_SPIDEV=n
CONFIG_SM_GCC_8350=n
CONFIG_PSTORE_RAM=n
CONFIG_DRM_FBDEV_EMULATION=n
CONFIG_HIBERNATION=n
CONFIG_HAVE_HW_BREAKPOINT=n
CONFIG_OPEN_ALLIANCE_HELPERS=n
CONFIG_EXYNOS_CLKOUT=n
CONFIG_SND_SOC_SOF_MT8186=n
CONFIG_VIDEO_AMPHION_VPU=n
CONFIG_MMC_SDHCI_OF_ESDHC=n
CONFIG_DECOMPRESS_ZSTD=n
CONFIG_SERIAL_QCOM_GENI=n
CONFIG_TASK_XACCT=n
CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE=n
CONFIG_RC_DECODERS=n
CONFIG_I2C_EXYNOS5=n
CONFIG_PWM_CROS_EC=n
CONFIG_E1000=n
CONFIG_CAN_MCP251XFD=n
CONFIG_COMMON_CLK_MESON_PLL=n
CONFIG_TRACING_SUPPORT=n
CONFIG_USB_CHIPIDEA_HOST=n
CONFIG_SND_SOC_XILINX_AUDIO_FORMATTER=n
CONFIG_INTERCONNECT_QCOM=n
CONFIG_COMMON_CLK_MT8167=n
CONFIG_REGMAP_MMIO=n
CONFIG_SERIAL_8250_PCI=n
CONFIG_SND_SOC_LPASS_SC7180=n
CONFIG_MDIO_BCM_UNIMAC=n
CONFIG_VIDEOBUF2_VMALLOC=n
CONFIG_ARCH_R8A77960=n
CONFIG_PHY_BRCM_USB=n
CONFIG_ROCKCHIP_SARADC=n
CONFIG_GPIO_PCF857X=n
CONFIG_HAVE_BUILDTIME_MCOUNT_SORT=n
CONFIG_VIDEO_IMX_MIPI_CSIS=n
CONFIG_COMMON_CLK_HI3516CV300=n
CONFIG_DECOMPRESS_LZ4=n
CONFIG_CHARGER_MAX77759=n
CONFIG_QCOM_SMP2P=n
CONFIG_SUNRPC_GSS=n
CONFIG_PINCTRL_ARMADA_37XX=n
CONFIG_EXYNOS_ARM64_COMMON_CLK=n
CONFIG_CRYPTO_AES=n
CONFIG_USB_XHCI_RZV2M=n
CONFIG_ARCH_HAS_DEBUG_VIRTUAL=n
CONFIG_SND_SOC_LPASS_CPU=n
CONFIG_DRM_DW_HDMI_QP=n
CONFIG_DRM_PANTHOR=n
CONFIG_SND_SOC_IMX_AUDMIX=n
CONFIG_PHY_PACKAGE=n
CONFIG_UBIFS_FS_ZSTD=n
CONFIG_QUEUED_SPINLOCKS=n
CONFIG_MTK_CMDQ_MBOX=n
CONFIG_COMMON_CLK_MT8192=n
CONFIG_QCOM_IRQ_COMBINER=n
CONFIG_ACPI_SPCR_TABLE=n
CONFIG_ARCH_HAS_UBSAN=n
CONFIG_PINCTRL_AMLOGIC_C3=n
CONFIG_SND_HDA_CODEC_HDMI_SIMPLE=n
CONFIG_CORESIGHT_SINK_ETBV10=n
CONFIG_THUNDERX2_PMU=n
CONFIG_CRYPTO_DEV_ALLWINNER=n
CONFIG_COMMON_CLK_C3_PLL=n
CONFIG_DMA_SUN6I=n
CONFIG_SND_SOC_WSA883X=n
CONFIG_USB_F_EEM=n
CONFIG_CPUFREQ_DT_PLATDEV=n
CONFIG_FW_LOADER=n
CONFIG_I2C_OWL=n
CONFIG_ARM_SCMI_HAVE_SHMEM=n
CONFIG_EINT_MTK=n
CONFIG_USB_EHCI_ROOT_HUB_TT=n
CONFIG_CLK_OWL_S700=n
CONFIG_NET_SCH_TAPRIO=n
CONFIG_IIO_CROS_EC_SENSORS=n
CONFIG_SENSORS_INA2XX=n
CONFIG_GPIO_ACPI=n
CONFIG_MMC_SDHCI_IO_ACCESSORS=n
CONFIG_COMMON_CLK_MT8195_VPPSYS=n
CONFIG_QCOMTEE=n
CONFIG_VIDEO_MEDIATEK_VCODEC_SCP=n
CONFIG_GNSS_MTK_SERIAL=n
CONFIG_CRYPTO_KPP=n
CONFIG_PINCTRL_HAWI=n
CONFIG_VIDEO_OV5645=n
CONFIG_QCOM_LMH=n
CONFIG_QCOM_SCM=n
CONFIG_QCOM_RPROC_COMMON=n
CONFIG_SCSI_UFSHCD_PLATFORM=n
CONFIG_NVMEM_RMEM=n
CONFIG_SWIOTLB_XEN=n
CONFIG_DRM_CLIENT_LIB=n
CONFIG_SUN20I_PPU=n
CONFIG_CRYPTO_DEV_FSL_DPAA2_CAAM=n
CONFIG_ARCH_MXC=n
CONFIG_SND_SOC_NAU8825=n
CONFIG_COMMON_CLK_ASPEED=n
CONFIG_CRYPTO_LIB_UTILS=n
CONFIG_KEXEC_FILE=n
CONFIG_DRM_RZG2L_DU=n
CONFIG_PROC_SYSCTL=n
CONFIG_HAVE_CONTEXT_TRACKING_USER=n
CONFIG_REGMAP_SPI=n
CONFIG_VIDEO_CADENCE_CSI2RX=n
CONFIG_COMMON_CLK_MT8183_VDECSYS=n
