CONFIG_ROCKCHIP_DW_MIPI_DSI=n
CONFIG_MMC_SUNXI=n
CONFIG_DEVTMPFS_MOUNT=n
CONFIG_HAVE_ARCH_SECCOMP=n
CONFIG_PINCTRL_PFC_R8A774A1=n
CONFIG_SND_SOC_QDSP6_ADM=n
CONFIG_MWIFIEX_PCIE=n
CONFIG_CORESIGHT_CPU_DEBUG=n
CONFIG_HAVE_ARCH_JUMP_LABEL=n
CONFIG_HTE=n
CONFIG_FB_CFB_FILLRECT=n
CONFIG_SND_SOC_LPASS_HDMI=n
CONFIG_USB_RENESAS_USBHS_UDC=n
CONFIG_VFIO_CONTAINER=n
CONFIG_ARCH_APPLE=n
CONFIG_MDIO_BCM_UNIMAC=n
CONFIG_REGULATOR_UNIPHIER=n
CONFIG_ARCH_TEGRA_264_SOC=n
CONFIG_NET_VENDOR_ATHEROS=n
CONFIG_PINCTRL_IPQ5210=n
CONFIG_MEDIA_TUNER_SIMPLE=n
CONFIG_SND_SOC_TEGRA=n
CONFIG_CLK_IMX8QXP=n
CONFIG_ARM64_ERRATUM_3194386=n
CONFIG_NUMA_MEMBLKS=n
CONFIG_USB_ISP1760_DUAL_ROLE=n
CONFIG_HW_RANDOM_MTK=n
CONFIG_PCI_XGENE_MSI=n
CONFIG_SERIAL_8250_BCM2835AUX=n
CONFIG_SM_GPUCC_8750=n
CONFIG_IWLWIFI_OPMODE_MODULAR=n
CONFIG_LEDS_BCM63138=n
CONFIG_BUFFER_HEAD=n
CONFIG_QUEUED_RWLOCKS=n
CONFIG_ARM64_BRBE=n
CONFIG_ARM64_RAS_EXTN=n
CONFIG_NET_SWITCHDEV=n
CONFIG_EDAC_GHES=n
CONFIG_NF_LOG_IPV6=n
CONFIG_DRM_MSM_HDMI_HDCP=n
CONFIG_TUN=n
CONFIG_ACPI_HOTPLUG_MEMORY=n
CONFIG_PWM_TIEHRPWM=n
CONFIG_SPI_RZV2M_CSI=n
CONFIG_ARCH_USE_MEMTEST=n
CONFIG_SCSI_HISI_SAS=n
CONFIG_CFG80211_DEFAULT_PS=n
CONFIG_UNION_FIND=n
CONFIG_ARCH_SUPPORTS_ATOMIC_RMW=n
CONFIG_USB_F_EEM=n
CONFIG_GPIO_BCM_XGS_IPROC=n
CONFIG_COMMON_CLK_MT8186_IMGSYS=n
CONFIG_ARCH_HAS_DEBUG_VIRTUAL=n
CONFIG_NEED_DMA_MAP_STATE=n
CONFIG_MTD_DATAFLASH=n
CONFIG_PERF_EVENTS=n
CONFIG_STM32_WATCHDOG=n
CONFIG_MESON_EE_PM_DOMAINS=n
CONFIG_ACPI_CONTAINER=n
CONFIG_QCOM_IOMMU=n
CONFIG_GNSS_MTK_SERIAL=n
CONFIG_CLK_R8A77995=n
CONFIG_EDAC=n
CONFIG_TIMER_PROBE=n
CONFIG_ARCH_HAS_DEBUG_WX=n
CONFIG_E1000=n
CONFIG_APPLE_PMGR_PWRSTATE=n
CONFIG_IRQ_MSI_LIB=n
CONFIG_SH_ETH=n
CONFIG_COMMON_CLK_MT8195_VPPSYS=n
CONFIG_WLAN_VENDOR_REALTEK=n
CONFIG_QCOM_NET_PHYLIB=n
CONFIG_ATH10K_CE=n
CONFIG_DRM_I2C_ADV7511_AUDIO=n
CONFIG_XZ_DEC_ARM64=n
CONFIG_SCHED_SMT=n
CONFIG_SND_SOC_ROCKCHIP_I2S_TDM=n
CONFIG_RZT2H_ADC=n
CONFIG_EXTCON_USBC_CROS_EC=n
CONFIG_POWER_RESET_MACSMC=n
CONFIG_MARVELL_PHY=n
CONFIG_MLX5_SW_STEERING=n
CONFIG_ACPI_APEI_MEMORY_FAILURE=n
CONFIG_SOFTIRQ_ON_OWN_STACK=n
CONFIG_TI_ADS1015=n
CONFIG_PM8916_WATCHDOG=n
CONFIG_SERIAL_8250_SHARE_IRQ=n
CONFIG_SM_GCC_8550=n
CONFIG_ELF_CORE=n
CONFIG_SND_SOC_SOF_XTENSA=n
CONFIG_MTD_SST25L=n
CONFIG_VIDEO_IMX8_ISI_M2M=n
CONFIG_PINCTRL_RK805=n
CONFIG_SOCIONEXT_SYNQUACER_PREITS=n
CONFIG_REGULATOR_S2MPS11=n
CONFIG_SERIAL_8250_MT6577=n
CONFIG_DRM_AUX_HPD_BRIDGE=n
CONFIG_HBMC_AM654=n
CONFIG_FPGA_REGION=n
CONFIG_USB_NET_CDC_SUBSET_ENABLE=n
CONFIG_HWMON=n
CONFIG_QCOM_PIL_INFO=n
CONFIG_CRYPTO_LIB_AES_CBC_MACS=n
CONFIG_HMEM_REPORTING=n
CONFIG_IPQ_APSS_5424=n
CONFIG_CRYPTO_DEV_CCREE=n
CONFIG_CRYPTO=n
CONFIG_CC_HAS_INT128=n
CONFIG_ARM64_ERRATUM_4193714=n
CONFIG_MAGIC_SYSRQ_SERIAL=n
CONFIG_BT_NXPUART=n
CONFIG_USB_CONFIGFS_F_FS=n
CONFIG_FSL_GUTS=n
CONFIG_TMPFS_XATTR=n
CONFIG_ARCH_SUPPORTS_SCHED_MC=n
CONFIG_SYSC_R9A08G046=n
CONFIG_MESON_GXL_PHY=n
CONFIG_RSI_91X=n
CONFIG_NVME_APPLE=n
CONFIG_RANDOMIZE_KSTACK_OFFSET=n
CONFIG_SCSI_HISI_SAS_PCI=n
CONFIG_HAVE_PWRCTRL=n
CONFIG_SND_SOC_TEGRA210_ADMAIF=n
CONFIG_OID_REGISTRY=n
CONFIG_SH_TIMER_TMU=n
CONFIG_SND_SOC_MT8192_MT6359_RT1015_RT5682=n
CONFIG_SND_SOC_TEGRA_AUDIO_GRAPH_CARD=n
CONFIG_DNS_RESOLVER=n
CONFIG_GENERIC_EARLY_IOREMAP=n
CONFIG_I2C_MUX=n
CONFIG_RESET_QCOM_PDC=n
CONFIG_DRM_RCAR_MIPI_DSI=n
CONFIG_CC_HAVE_STACKPROTECTOR_SYSREG=n
CONFIG_VIDEO_AMPHION_VPU=n
CONFIG_DRM_FBDEV_EMULATION=n
CONFIG_RTC_DRV_PL031=n
CONFIG_CGROUP_CPUACCT=n
CONFIG_BPF_JIT_DEFAULT_ON=n
CONFIG_PINCTRL_MT6795=n
CONFIG_RD_LZO=n
CONFIG_PCI_SKY1_HOST=n
CONFIG_IOMMU_IO_PGTABLE=n
CONFIG_SM_GCC_8450=n
CONFIG_ARCH_SUNXI=n
CONFIG_PINCTRL_IMX8ULP=n
CONFIG_NET_ACT_MIRRED=n
CONFIG_ARCH_K3=n
CONFIG_NUMA_KEEP_MEMINFO=n
CONFIG_SND_SOC_QDSP6_PRM_LPASS_CLOCKS=n
CONFIG_BLOCK=n
CONFIG_SUN8I_THERMAL=n
CONFIG_EFI_ESRT=n
CONFIG_SERIAL_MESON_CONSOLE=n
CONFIG_CLK_RV1126B=n
CONFIG_PINCTRL_SC8280XP=n
CONFIG_SERIAL_AMBA_PL011=n
CONFIG_DRM_TI_TFP410=n
CONFIG_BT_HCIBTUSB_POLL_SYNC=n
CONFIG_ARCH_HAS_PTDUMP=n
CONFIG_CLK_R9A09G087=n
CONFIG_SERIAL_8250_DW=n
CONFIG_FB=n
CONFIG_PLATFORM_MHU=n
CONFIG_QCOM_OCMEM=n
CONFIG_GENERIC_CPU_CACHE_MAINTENANCE=n
CONFIG_PINCTRL_IPQ8074=n
CONFIG_MMC_SDHCI_OF_SPARX5=n
CONFIG_RAVB=n
CONFIG_SYSC_R8A77965=n
CONFIG_FILE_LOCKING=n
CONFIG_PHY_CADENCE_DPHY_RX=n
CONFIG_I2C_GPIO=n
CONFIG_ACPI_IORT=n
CONFIG_BT_HCIUART=n
CONFIG_I2C_QCOM_GENI=n
CONFIG_SND_USB_AUDIO_USE_MEDIA_CONTROLLER=n
CONFIG_DRM_PANEL_SAMSUNG_ATNA33XC20=n
CONFIG_MTD_SPI_NOR_SWP_DISABLE_ON_VOLATILE=n
CONFIG_SM_DISPCC_8750=n
CONFIG_MSM_MMCC_8994=n
CONFIG_MEDIA_SUPPORT_FILTER=n
CONFIG_IPQ_APSS_6018=n
CONFIG_ARM_MHU=n
CONFIG_DRM_ROCKCHIP=n
CONFIG_GPIO_UNIPHIER=n
CONFIG_INTERCONNECT_QCOM_SC7280=n
CONFIG_SCSI_UFS_QCOM=n
CONFIG_VIDEO_IMX_MIPI_CSIS=n
CONFIG_COMMON_CLK_MT8365_MMSYS=n
CONFIG_MMU_NOTIFIER=n
CONFIG_MTD_NAND_ECC_SW_HAMMING=n
CONFIG_USB_OTG=n
CONFIG_XEN_BLKDEV_FRONTEND=n
CONFIG_TRACE_GPU_MEM=n
CONFIG_WLCORE=n
CONFIG_COMMON_CLK_MESON_AO_CLKC=n
CONFIG_DRM_MESON_DW_HDMI=n
CONFIG_SND_SOC_TEGRA186_ASRC=n
CONFIG_PWM_SL28CPLD=n
CONFIG_APPLE_AIC=n
CONFIG_MODULES=n
CONFIG_ARM_TI_CPUFREQ=n
CONFIG_USB_F_SUBSET=n
CONFIG_NET_CLS_BASIC=n
CONFIG_STMMAC_PLATFORM=n
CONFIG_MTD_CFI_STAA=n
CONFIG_SND_SOC_ES8326=n
CONFIG_ARM_GIC_ITS_PARENT=n
CONFIG_ARCH_SOPHGO=n
CONFIG_SDM_GCC_845=n
CONFIG_SND_SOC_TEGRA210_SFC=n
CONFIG_COMMON_CLK_MT8195_MFGCFG=n
CONFIG_IIO_BUFFER=n
CONFIG_RPMSG_VIRTIO=n
CONFIG_PINCTRL_MT6397=n
CONFIG_DRM_DW_HDMI=n
CONFIG_IP_MULTICAST=n
CONFIG_PINCTRL_IMX91=n
CONFIG_EXYNOS_AUDSS_CLK_CON=n
CONFIG_ARM_SCMI_PROTOCOL=n
CONFIG_TESLA_FSD_COMMON_CLK=n
CONFIG_HAVE_SYSCALL_TRACEPOINTS=n
CONFIG_RASPBERRYPI_POWER=n
CONFIG_SND_HDA_CODEC_HDMI_NVIDIA_MCP=n
CONFIG_SND_SOC_MT8183_MT6358_TS3A227E_MAX98357A=n
CONFIG_SM_TCSRCC_8750=n
CONFIG_CC_HAS_KASAN_GENERIC=n
CONFIG_IMX93_ADC=n
CONFIG_SM_VIDEOCC_MILOS=n
CONFIG_PCI_IMX6=n
CONFIG_BACKLIGHT_PWM=n
CONFIG_ARCH_NPCM=n
CONFIG_IWLWIFI_LEDS=n
CONFIG_EC_HUAWEI_GAOKUN=n
CONFIG_SND_SOC_RT5682S=n
CONFIG_RTC_I2C_AND_SPI=n
CONFIG_USB_DEFAULT_PERSIST=n
CONFIG_LEDS_TRIGGERS=n
CONFIG_GENERIC_IRQ_SHOW=n
CONFIG_SECURITYFS=n
CONFIG_PWM_RENESAS_RZG2L_GPT=n
CONFIG_USB_NET_MCS7830=n
CONFIG_ARCH_R8A779F0=n
CONFIG_DWMAC_IPQ806X=n
CONFIG_IMX8MM_THERMAL=n
CONFIG_PINCTRL_SC8280XP_LPASS_LPI=n
CONFIG_CAVIUM_ERRATUM_22375=n
CONFIG_BCMASP=n
CONFIG_SND_SOC_ROCKCHIP_I2S=n
CONFIG_USB_PEGASUS=n
CONFIG_NET_SCH_FIFO=n
CONFIG_MAC80211=n
CONFIG_QCOM_PBS=n
CONFIG_MUTEX_SPIN_ON_OWNER=n
CONFIG_BACKLIGHT_GPIO=n
CONFIG_RFKILL_GPIO=n
CONFIG_CPU_FREQ_GOV_POWERSAVE=n
CONFIG_SUN8I_DE2_CCU=n
CONFIG_GPIOLIB_LEGACY=n
CONFIG_OMAP2PLUS_MBOX=n
CONFIG_SYSC_R8A779A0=n
CONFIG_DRM_DW_HDMI_QP_CEC=n
CONFIG_IIO_ST_SENSORS_I2C=n
CONFIG_ARM_CORESIGHT_PMU_ARCH_SYSTEM_PMU=n
CONFIG_RSI_DEBUGFS=n
CONFIG_SPI_PL022=n
CONFIG_QCOM_QDF2400_ERRATUM_0065=n
CONFIG_USB_NET_AX8817X=n
CONFIG_SERIAL_XILINX_PS_UART_CONSOLE=n
CONFIG_CRYPTO_DH=n
CONFIG_POWER_SEQUENCING=n
CONFIG_SYNC_FILE=n
CONFIG_BINARY_PRINTF=n
CONFIG_ARCH_HAS_SYNC_DMA_FOR_DEVICE=n
CONFIG_CLK_OWL_S900=n
CONFIG_SND_SOC_QDSP6_APM_LPASS_DAI=n
CONFIG_DRM_RZG2L_DU=n
CONFIG_XILINX_WATCHDOG=n
CONFIG_USB_DWC3_HAPS=n
CONFIG_SYS_R9A09G047=n
CONFIG_EDAC_SUPPORT=n
CONFIG_SND_HDA_CODEC_HDMI_ATI=n
CONFIG_MVEBU_ODMI=n
CONFIG_GPIO_PCA953X_IRQ=n
CONFIG_GRO_CELLS=n
CONFIG_ROCKCHIP_ERRATUM_3588001=n
CONFIG_RESET_IMX7=n
CONFIG_INOTIFY_USER=n
CONFIG_KUSER_HELPERS=n
CONFIG_MTK_SCP=n
CONFIG_HAVE_KVM_DIRTY_RING=n
CONFIG_IMX7ULP_WDT=n
CONFIG_PINCTRL_IMX8QM=n
CONFIG_VIRTIO_ANCHOR=n
CONFIG_PINCTRL_TMPV7700=n
CONFIG_TYPEC_MUX_GPIO_SBU=n
CONFIG_TRANS_TABLE=n
CONFIG_MCHP_CLK_MPFS=n
CONFIG_TI_SYSCON_CLK=n
CONFIG_OF_RESOLVE=n
