CONFIG_HAVE_RETHOOK=n
CONFIG_USB_NET_DRIVERS=n
CONFIG_SND_SEQ_DEVICE=n
CONFIG_ATA_SFF=n
CONFIG_MOUSE_PS2_ALPS=n
CONFIG_CRYPTO_CTR=n
CONFIG_IA32_FEAT_CTL=n
CONFIG_IO_URING=n
CONFIG_ARCH_SUPPORTS_LTO_CLANG_THIN=n
CONFIG_APERTURE_HELPERS=n
CONFIG_MOUSE_PS2_LOGIPS2PP=n
CONFIG_HIBERNATION=n
CONFIG_PCSPKR_PLATFORM=n
CONFIG_ARCH_HAS_DEBUG_VM_PGTABLE=n
CONFIG_NET_VENDOR_SUN=n
CONFIG_KEYS=n
CONFIG_CGROUP_CPUACCT=n
CONFIG_USB_XHCI_PCI=n
CONFIG_IP_ROUTE_MULTIPATH=n
CONFIG_SHMEM=n
CONFIG_RTC_SYSTOHC=n
CONFIG_NF_CONNTRACK_IRC=n
CONFIG_PREEMPT_LAZY=n
CONFIG_GENERIC_IRQ_SHOW=n
CONFIG_HWMON=n
CONFIG_ARCH_SUPPORTS_KMAP_LOCAL_FORCE_MAP=n
CONFIG_CPU_SUP_AMD=n
CONFIG_SND_HDA_HWDEP=n
CONFIG_DECOMPRESS_ZSTD=n
CONFIG_PCCARD=n
CONFIG_SND=n
CONFIG_INPUT_LEDS=n
CONFIG_RTC_INTF_PROC=n
CONFIG_PT_RECLAIM=n
CONFIG_IO_DELAY_0X80=n
CONFIG_CRYPTO_KRB5ENC=n
CONFIG_EFI_RUNTIME_MAP=n
CONFIG_BLOCK_HOLDER_DEPRECATED=n
CONFIG_CRYPTO_MANAGER2=n
CONFIG_NET_VENDOR_TEHUTI=n
CONFIG_NET_VENDOR_CORTINA=n
CONFIG_SCSI_CONSTANTS=n
CONFIG_MISC_FILESYSTEMS=n
CONFIG_CLKSRC_I8253=n
CONFIG_ARCH_HAS_MEMBARRIER_SYNC_CORE=n
CONFIG_NFS_FS=n
CONFIG_HAVE_OPTPROBES=n
CONFIG_ARCH_HAS_UBSAN=n
CONFIG_HAVE_FUNCTION_GRAPH_TRACER=n
CONFIG_ZSTD_DECOMPRESS=n
CONFIG_SPLIT_PTE_PTLOCKS=n
CONFIG_TMPFS_XATTR=n
CONFIG_NET_SCH_FIFO=n
CONFIG_HAVE_IRQ_TIME_ACCOUNTING=n
CONFIG_CPU_SUP_HYGON=n
CONFIG_POSIX_MQUEUE=n
CONFIG_CC_HAS_AUTO_VAR_INIT_PATTERN=n
CONFIG_DYNAMIC_EVENTS=n
CONFIG_X86_HAVE_PAE=n
CONFIG_NET_RX_BUSY_POLL=n
CONFIG_NET_CLS_CGROUP=n
CONFIG_GENERIC_ENTRY=n
CONFIG_ARCH_HAVE_EXTRA_ELF_NOTES=n
CONFIG_HAVE_MOD_ARCH_SPECIFIC=n
CONFIG_CRYPTO_LIB_MD5=n
CONFIG_MITIGATION_RETPOLINE=n
CONFIG_ACPI_FAN=n
CONFIG_NET_VENDOR_ALIBABA=n
CONFIG_GENERIC_ALLOCATOR=n
CONFIG_ARCH_STACKWALK=n
CONFIG_THREAD_INFO_IN_TASK=n
CONFIG_XFRM_USER=n
CONFIG_NET_VENDOR_SOLARFLARE=n
CONFIG_HUGETLB_PAGE=n
CONFIG_LOCKD_V4=n
CONFIG_FIRMWARE_TABLE=n
CONFIG_TMPFS_POSIX_ACL=n
CONFIG_ARCH_SUPPORTS_SCHED_CLUSTER=n
CONFIG_INTEL_TCC=n
CONFIG_X86_16BIT=n
CONFIG_HARDIRQS_SW_RESEND=n
CONFIG_TIGON3_HWMON=n
CONFIG_CRYPTO_LIB_ARC4=n
CONFIG_DEBUG_FS_ALLOW_ALL=n
CONFIG_DRM_BRIDGE=n
CONFIG_PAGE_SIZE_4KB=n
CONFIG_ARCH_HAS_PARANOID_L1D_FLUSH=n
CONFIG_X86_DISABLED_FEATURE_PTI=n
CONFIG_DEBUG_ENTRY=n
CONFIG_NF_CONNTRACK_SECMARK=n
CONFIG_FIX_EARLYCON_MEM=n
CONFIG_E1000E=n
CONFIG_NET_VENDOR_CADENCE=n
CONFIG_INET=n
CONFIG_CRYPTO_SHA256=n
CONFIG_NEED_PER_CPU_PAGE_FIRST_CHUNK=n
CONFIG_EARLY_PRINTK=n
CONFIG_I2C_SMBUS=n
CONFIG_ARCH_HAS_CPU_CACHE_INVALIDATE_MEMREGION=n
CONFIG_DRM_KMS_HELPER=n
CONFIG_DRM_CLIENT_SELECTION=n
CONFIG_ARCH_HAS_FAST_MULTIPLIER=n
CONFIG_KERNEL_GZIP=n
CONFIG_EFI_CAPSULE_QUIRK_QUARK_CSH=n
CONFIG_EDAC_ATOMIC_SCRUB=n
CONFIG_RFKILL_INPUT=n
CONFIG_NET_VENDOR_HISILICON=n
CONFIG_CRYPTO_HASH2=n
CONFIG_PNFS_FILE_LAYOUT=n
CONFIG_MMU_GATHER_RCU_TABLE_FREE=n
CONFIG_X86_USE_PPRO_CHECKSUM=n
CONFIG_CRYPTO_SKCIPHER=n
CONFIG_BLK_CGROUP=n
CONFIG_WLAN_VENDOR_REALTEK=n
CONFIG_PCI=n
CONFIG_SCHED_OMIT_FRAME_POINTER=n
CONFIG_HAVE_NMI=n
CONFIG_CC_CAN_LINK=n
CONFIG_PADATA=n
CONFIG_X86_DISABLED_FEATURE_CALL_DEPTH=n
CONFIG_MITIGATION_SPECTRE_BHI=n
CONFIG_DRM_TTM=n
CONFIG_NEED_TASKS_RCU=n
CONFIG_UNIX98_PTYS=n
CONFIG_MITIGATION_TAA=n
CONFIG_BLK_PM=n
CONFIG_HID_SONY=n
CONFIG_TRACE_CLOCK=n
CONFIG_ARCH_SUPPORTS_KEXEC_JUMP=n
CONFIG_MMU_GATHER_MERGE_VMAS=n
CONFIG_EARLY_PRINTK_DBGP=n
CONFIG_CRYPTO_AKCIPHER=n
CONFIG_SUNRPC_GSS=n
CONFIG_SYSVIPC=n
CONFIG_HAVE_STACKPROTECTOR=n
CONFIG_DRM_DISPLAY_HELPER=n
CONFIG_ARCH_MIGHT_HAVE_PC_SERIO=n
CONFIG_FUTEX_PI=n
CONFIG_PATA_MPIIX=n
CONFIG_LOCK_DEBUGGING_SUPPORT=n
CONFIG_CRYPTO_LIB_GF128HASH=n
CONFIG_ACPI_MDIO=n
CONFIG_AGP_INTEL=n
CONFIG_VIRTIO=n
CONFIG_MITIGATION_MMIO_STALE_DATA=n
CONFIG_BLK_DEV_WRITE_MOUNTED=n
CONFIG_NOP_TRACER=n
CONFIG_GENERIC_IRQ_MIGRATION=n
CONFIG_CRYPTO_CBC=n
CONFIG_TASKS_RCU=n
CONFIG_NETDEVICES=n
CONFIG_PM=n
CONFIG_EPOLL=n
CONFIG_CHECK_SIGNATURE=n
CONFIG_AIO=n
CONFIG_ZISOFS=n
CONFIG_RUNTIME_TESTING_MENU=n
CONFIG_NET_VENDOR_ATHEROS=n
CONFIG_VIRTIO_PCI=n
CONFIG_USB_HID=n
CONFIG_SCHED_MC_PRIO=n
CONFIG_MMU_LAZY_TLB_REFCOUNT=n
CONFIG_FRAME_POINTER=n
CONFIG_HAVE_PERF_USER_STACK_DUMP=n
CONFIG_X86_PLATFORM_DEVICES=n
CONFIG_INSTRUCTION_DECODER=n
CONFIG_RPCSEC_GSS_KRB5=n
CONFIG_HID_SUNPLUS=n
CONFIG_P2SB=n
CONFIG_HAVE_REGS_AND_STACK_ACCESS_API=n
CONFIG_HAVE_PCSPKR_PLATFORM=n
CONFIG_RT_MUTEXES=n
CONFIG_SND_VERBOSE_PROCFS=n
CONFIG_ARCH_DEFAULT_CRASH_DUMP=n
CONFIG_GENERIC_CPU_VULNERABILITIES=n
CONFIG_WLAN_VENDOR_QUANTENNA=n
CONFIG_IP6_NF_IPTABLES=n
CONFIG_SOCK_CGROUP_DATA=n
CONFIG_YENTA_ENE_TUNE=n
CONFIG_INTERVAL_TREE=n
CONFIG_SOCK_RX_QUEUE_MAPPING=n
CONFIG_CARDBUS=n
CONFIG_CRYPTO_AEAD=n
CONFIG_MITIGATION_TSA=n
CONFIG_ARCH_USE_QUEUED_RWLOCKS=n
CONFIG_NET_VENDOR_GOOGLE=n
CONFIG_SKY2=n
CONFIG_HAVE_PCI=n
CONFIG_NLS=n
CONFIG_NET_VENDOR_SYNOPSYS=n
CONFIG_CORE_DUMP_DEFAULT_ELF_HEADERS=n
CONFIG_MOUSE_PS2_SMBUS=n
CONFIG_RD_XZ=n
CONFIG_HAVE_POSIX_CPU_TIMERS_TASK_WORK=n
CONFIG_WLAN_VENDOR_BROADCOM=n
CONFIG_NET_VENDOR_QUALCOMM=n
CONFIG_NAMESPACES=n
CONFIG_ACPI_BGRT=n
CONFIG_WERROR=n
CONFIG_VT_CONSOLE=n
CONFIG_SSB_POSSIBLE=n
CONFIG_HAVE_KERNEL_ZSTD=n
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO_BARE=n
CONFIG_PCIEASPM=n
CONFIG_PATA_OLDPIIX=n
CONFIG_ACPI_HOTPLUG_IOAPIC=n
CONFIG_X86_TSC=n
CONFIG_MODULES_TREE_LOOKUP=n
CONFIG_RFKILL_LEDS=n
CONFIG_PREEMPT_RCU=n
CONFIG_COREDUMP=n
CONFIG_SECURITY=n
CONFIG_SND_USB=n
CONFIG_HW_RANDOM_GEODE=n
CONFIG_FUTEX_PRIVATE_HASH=n
CONFIG_SND_HRTIMER=n
CONFIG_CC_HAS_NO_PROFILE_FN_ATTR=n
CONFIG_TOOLS_SUPPORT_RELR=n
CONFIG_PCI_LOCKLESS_CONFIG=n
CONFIG_TTY=n
CONFIG_HAVE_ARCH_SECCOMP=n
CONFIG_X86_INTEL_PSTATE=n
CONFIG_PM_SLEEP=n
CONFIG_DEVTMPFS=n
CONFIG_BLK_DEV_BSG_COMMON=n
CONFIG_VIRTIO_CONSOLE=n
CONFIG_HAVE_ARCH_THREAD_STRUCT_WHITELIST=n
CONFIG_ARCH_USES_PG_ARCH_2=n
CONFIG_DRM_VIRTIO_GPU=n
CONFIG_DMA_SHARED_BUFFER=n
CONFIG_NET_VENDOR_DLINK=n
CONFIG_BCMA_POSSIBLE=n
CONFIG_IP_MULTICAST=n
CONFIG_CRYPTO_HASH_INFO=n
CONFIG_PREVENT_FIRMWARE_BUILD=n
CONFIG_CROSS_MEMORY_ATTACH=n
CONFIG_X86_VMX_FEATURE_NAMES=n
CONFIG_HSU_DMA=n
CONFIG_AMD_NB=n
CONFIG_SND_VMASTER=n
CONFIG_HAVE_ACPI_APEI=n
CONFIG_NET_VENDOR_NI=n
CONFIG_X86_LOCAL_APIC=n
CONFIG_TRACE_IRQFLAGS_NMI_SUPPORT=n
CONFIG_DRM_DISPLAY_DP_HELPER=n
CONFIG_BUILDTIME_TABLE_SORT=n
CONFIG_MOUSE_PS2_SYNAPTICS_SMBUS=n
CONFIG_HOTPLUG_CPU=n
CONFIG_SOFTIRQ_ON_OWN_STACK=n
CONFIG_DIMLIB=n
CONFIG_USB_OHCI_LITTLE_ENDIAN=n
CONFIG_AGP=n
CONFIG_ZLIB_INFLATE=n
CONFIG_ACPI_PROCESSOR=n
CONFIG_PROC_MEM_FORCE_PTRACE=n
CONFIG_SERIAL_8250_DWLIB=n
CONFIG_HAVE_DEBUG_KMEMLEAK=n
CONFIG_BLK_DEV=n
CONFIG_SERIAL_8250_LPSS=n
CONFIG_WLAN_VENDOR_ST=n
CONFIG_PCMCIA_LOAD_CIS=n
CONFIG_MITIGATION_GDS=n
CONFIG_MODULE_UNLOAD=n
CONFIG_ARCH_HAS_CACHE_LINE_SIZE=n
CONFIG_GRACE_PERIOD=n
CONFIG_PGTABLE_HAS_HUGE_LEAVES=n
CONFIG_MII=n
CONFIG_NETFILTER_XT_TARGET_SECMARK=n
CONFIG_CRYPTO_LIB_AES=n
CONFIG_DM_MIRROR=n
CONFIG_NETPOLL=n
CONFIG_CRYPTO_HASH=n
CONFIG_WLAN_VENDOR_ADMTEK=n
CONFIG_HAVE_ARCH_SECCOMP_FILTER=n
CONFIG_BLK_MQ_STACKING=n
CONFIG_HAVE_DYNAMIC_FTRACE=n
CONFIG_ARCH_HAS_ELF_RANDOMIZE=n
CONFIG_HAVE_ACPI_APEI_NMI=n
CONFIG_ARCH_HAS_CURRENT_STACK_POINTER=n
CONFIG_EEEPC_LAPTOP=n
CONFIG_HAVE_RSEQ=n
CONFIG_THERMAL_NETLINK=n
CONFIG_MAGIC_SYSRQ_SERIAL=n
CONFIG_HAVE_HARDLOCKUP_DETECTOR_BUDDY=n
CONFIG_8139TOO=n
CONFIG_POWER_SUPPLY_HWMON=n
CONFIG_FW_LOADER=n
CONFIG_FAILOVER=n
CONFIG_PCI_MSI=n
CONFIG_VFAT_FS=n
CONFIG_VT_CONSOLE_SLEEP=n
CONFIG_SND_INTEL_NHLT=n
CONFIG_PARAVIRT=n
CONFIG_TREE_RCU=n
CONFIG_USB_MON=n
CONFIG_SERIO_I8042=n
CONFIG_NET_VENDOR_8390=n
CONFIG_DCACHE_WORD_ACCESS=n
CONFIG_THERMAL_GOV_STEP_WISE=n
CONFIG_VIDEO=n
