CONFIG_GET_FREE_REGION=y
CONFIG_PINCTRL_SUNRISEPOINT=y
CONFIG_MM_ID=y
CONFIG_WATCHDOG_PRETIMEOUT_GOV=y
CONFIG_FB_PM3=y
CONFIG_DEBUG_MEMORY_INIT=y
CONFIG_HSI=y
CONFIG_INPUT_MOUSEDEV_PSAUX=y
CONFIG_TMPFS_INODE64=y
CONFIG_GENERIC_VDSO_OVERFLOW_PROTECT=y
CONFIG_USB_TEST=y
CONFIG_MFD_WM5102=y
CONFIG_BATTERY_SBS=y
CONFIG_LEDS_AW200XX=y
CONFIG_FB_SIS=y
CONFIG_CRYPTO_SERPENT_AVX2_X86_64=y
CONFIG_HARDLOCKUP_DETECTOR=y
CONFIG_AS_WRUSS=y
CONFIG_X86_MCELOG_LEGACY=y
CONFIG_WW_MUTEX_SELFTEST=y
CONFIG_GPIO_MAX732X=y
CONFIG_INGENIC_TCU_IRQ=y
CONFIG_RESCTRL_FS=y
CONFIG_IOSF_MBI=y
CONFIG_BACKLIGHT_LM3509=y
CONFIG_EDAC_DECODE_MCE=y
CONFIG_SCHED_AUTOGROUP=y
CONFIG_ELF_CORE=y
CONFIG_CRYPTO_CAMELLIA_AESNI_AVX2_X86_64=y
CONFIG_W1_SLAVE_THERM=y
CONFIG_CC_HAS_COUNTED_BY_PTR=y
CONFIG_COMMON_CLK_MT7622=y
CONFIG_USB_RAINSHADOW_CEC=y
CONFIG_BLK_DEV_NULL_BLK=y
CONFIG_ARCH_HAS_NONLEAF_PMD_YOUNG=y
CONFIG_LD_ORPHAN_WARN=y
CONFIG_ARCH_HAS_GIGANTIC_PAGE=y
CONFIG_GENERIC_CPU_DEVICES=y
CONFIG_BACKLIGHT_WM831X=y
CONFIG_MFD_WM831X_I2C=y
CONFIG_REGULATOR_MAX8660=y
CONFIG_PCIE_ARMADA_8K=y
CONFIG_SERIAL_MVEBU_CONSOLE=y
CONFIG_CEC_NXP_TDA9950=y
CONFIG_INIT_ON_ALLOC_DEFAULT_ON=y
CONFIG_I2C_RIIC=y
CONFIG_HAVE_HARDLOCKUP_DETECTOR_PERF=y
CONFIG_FB_DEFERRED_IO=y
CONFIG_W1_SLAVE_DS2438=y
CONFIG_COMMON_CLK_MT8183_CAMSYS=y
CONFIG_IPMB_DEVICE_INTERFACE=y
CONFIG_GPIO_GRANITERAPIDS=y
CONFIG_HAVE_OPTPROBES=y
CONFIG_QCOM_CPUCP_MBOX=y
CONFIG_SERIAL_8250_PCILIB=y
CONFIG_PCI_PWRCTRL_TC9563=y
CONFIG_LEDS_NS2=y
CONFIG_CONFIGFS_FS=y
CONFIG_WERROR=y
CONFIG_NOP_USB_XCEIV=y
CONFIG_LZO_DECOMPRESS=y
CONFIG_EXECMEM=y
CONFIG_MFD_CS42L43_I2C=y
CONFIG_BATTERY_HUAWEI_GAOKUN=y
CONFIG_EDAC_ECS=y
CONFIG_GENERIC_IRQ_RESERVATION_MODE=y
CONFIG_COMMON_CLK_MT8192_MDPSYS=y
CONFIG_MTRR=y
CONFIG_SENSORS_ADC128D818=y
CONFIG_REGULATOR_TPS68470=y
CONFIG_GP_PCI1XXXX=y
CONFIG_REGULATOR_S2MPA01=y
CONFIG_CC_HAS_NO_PROFILE_FN_ATTR=y
CONFIG_SERIO_SERPORT=y
CONFIG_HAVE_MMIOTRACE_SUPPORT=y
CONFIG_LIST_HARDENED=y
CONFIG_SAMPLE_KOBJECT=y
CONFIG_INTEL_EHL_PSE_IO=y
CONFIG_PHY_PXA_USB=y
CONFIG_USB_SEVSEG=y
CONFIG_QFMT_V2=y
CONFIG_OPENSSL_SUPPORTS_ML_DSA=y
CONFIG_SERIAL_STM32=y
CONFIG_COREDUMP=y
CONFIG_USB_XHCI_MVEBU=y
CONFIG_REGULATOR_TWL4030=y
CONFIG_CLK_RK3399=y
CONFIG_ARCH_SUPPORTS_INT128=y
CONFIG_ASPEED_BT_IPMI_BMC=y
CONFIG_USB_SERIAL_CYBERJACK=y
CONFIG_SOFTLOCKUP_DETECTOR=y
CONFIG_SPACEMIT_CCU=y
CONFIG_QCOM_RPMH=y
CONFIG_SENSORS_W83793=y
CONFIG_REGULATOR_ANATOP=y
CONFIG_AIO=y
CONFIG_EXYNOS_MBOX=y
CONFIG_I2C_TEGRA=y
CONFIG_AMD_NODE=y
CONFIG_PCI_KEYSTONE_TRISTATE=y
CONFIG_FUNCTION_ALIGNMENT_4B=y
CONFIG_SERIAL_8250_SHARE_IRQ=y
CONFIG_ARCH_SUPPORTS_PMD_PFNMAP=y
CONFIG_KERNEL_GZIP=y
CONFIG_TEGRA124_EMC=y
CONFIG_COMMON_CLK_MT8183_IPU_CONN=y
CONFIG_HOTPLUG_PARALLEL=y
CONFIG_COMMON_CLK_MT6779=y
CONFIG_DEVFREQ_EVENT_EXYNOS_PPMU=y
CONFIG_PRU_REMOTEPROC=y
CONFIG_KCMP=y
CONFIG_FB_MB862XX_I2C=y
CONFIG_FIRMWARE_MEMMAP=y
CONFIG_HOTPLUG_PCI_CPCI_ZT5550=y
CONFIG_CRYPTO_KPP2=y
CONFIG_GPIO_CDEV_V1=y
CONFIG_SENSORS_MR75203=y
CONFIG_HSI_CHAR=y
CONFIG_COMMON_CLK_MT8183_IMGSYS=y
CONFIG_XILINX_DMA=y
CONFIG_SYSC_R8A774E1=y
CONFIG_MSDOS_PARTITION=y
CONFIG_RESET_GPIO=y
CONFIG_SOC_TEGRA30_VOLTAGE_COUPLER=y
CONFIG_LEDS_TLC591XX=y
CONFIG_VGA_ARB=y
CONFIG_ZSTD_COMMON=y
CONFIG_IXP4XX_NPE=y
CONFIG_JOYSTICK_GRIP=y
CONFIG_MFD_ARIZONA=y
CONFIG_HARDLOCKUP_DETECTOR_BUDDY=y
CONFIG_EDAC_I82975X=y
CONFIG_MSC313E_TIMER=y
CONFIG_FB_BACKLIGHT=y
CONFIG_MFD_AXP20X_I2C=y
CONFIG_SENSORS_NCT7904=y
CONFIG_TIMERFD=y
CONFIG_SERIAL_8250_EXTENDED=y
CONFIG_KEYBOARD_ST_KEYSCAN=y
CONFIG_842_COMPRESS=y
CONFIG_W83627HF_WDT=y
CONFIG_LOGO_LINUX_VGA16=y
CONFIG_HW_RANDOM_VIRTIO=y
CONFIG_I2C_MUX=y
CONFIG_PID_NS=y
CONFIG_PINCTRL_MADERA=y
CONFIG_HW_RANDOM_XGENE=y
CONFIG_PINCTRL_PFC_SH7734=y
CONFIG_MXS_DMA=y
CONFIG_MEMSTICK_DEBUG=y
CONFIG_USB_F_HID=y
CONFIG_INTEL_ATOMISP2_PM=y
CONFIG_PXA_DMA=y
CONFIG_CLK_STARFIVE_JH7100_AUDIO=y
CONFIG_PCI_LOCKLESS_CONFIG=y
CONFIG_GPIO_BY_PINCTRL=y
CONFIG_USB_MASS_STORAGE=y
CONFIG_USB_SERIAL_QUALCOMM=y
CONFIG_GFS2_FS=y
CONFIG_HAVE_ARCH_JUMP_LABEL_RELATIVE=y
CONFIG_USERFAULTFD=y
CONFIG_TCG_TIS_I2C_ATMEL=y
CONFIG_REGULATOR_MAX8907=y
CONFIG_PERCPU_STATS=y
CONFIG_GREYBUS=y
CONFIG_MMP_TDMA=y
CONFIG_USB_SERIAL_METRO=y
CONFIG_ARM_EXYNOS_BUS_DEVFREQ=y
CONFIG_XZ_DEC_TEST=y
CONFIG_ARCH_HAVE_NMI_SAFE_CMPXCHG=y
CONFIG_I2C_MUX_LTC4306=y
CONFIG_RANDOMIZE_KSTACK_OFFSET_DEFAULT=y
CONFIG_SENSORS_DA9055=y
CONFIG_ARCH_HAS_NON_OVERLAPPING_ADDRESS_SPACE=y
CONFIG_LEDS_TPS6105X=y
CONFIG_PAGE_SIZE_4KB=y
CONFIG_KGDB_LOW_LEVEL_TRAP=y
CONFIG_ARCH_SUPPORTS_PER_VMA_LOCK=y
CONFIG_USB_DWC3_DUAL_ROLE=y
CONFIG_HAVE_ARCH_SOFT_DIRTY=y
CONFIG_MARVELL_CN10K_DDR_PMU=y
CONFIG_LENOVO_SE30_WDT=y
CONFIG_SENSORS_LIS3_I2C=y
CONFIG_CLK_STARFIVE_JH71X0=y
CONFIG_NVMEM_APPLE_SPMI=y
CONFIG_NVME_HWMON=y
CONFIG_USB_OHCI_HCD=y
CONFIG_MMP_FB=y
CONFIG_SERIAL_SH_SCI_CONSOLE=y
CONFIG_CRYPTO_ARIA=y
CONFIG_RENESAS_RZAWDT=y
CONFIG_KEMPLD_WDT=y
CONFIG_APPLE_ADMAC=y
CONFIG_I2C_MT7621=y
CONFIG_CEC_PIN=y
CONFIG_FW_CACHE=y
CONFIG_COMMON_CLK_MT8188_VDOSYS=y
CONFIG_ARCH_USE_BUILTIN_BSWAP=y
CONFIG_SENSORS_NCT7802=y
CONFIG_ARCH_SELECTS_KEXEC_FILE=y
CONFIG_PCI_ENDPOINT_TEST=y
CONFIG_HOTPLUG_PCI=y
CONFIG_I2C_AT91=y
CONFIG_PCIE_TEGRA194_EP=y
CONFIG_WATCHDOG_PRETIMEOUT_GOV_PANIC=y
CONFIG_REGULATOR_MAX77802=y
CONFIG_IOMMU_IOVA=y
CONFIG_HAVE_ARCH_TRACEHOOK=y
CONFIG_CRYPTO_HCTR2=y
CONFIG_OBJAGG=y
CONFIG_RPMSG_CTRL=y
CONFIG_LEDS_TRIGGER_TIMER=y
CONFIG_CHARGER_MANAGER=y
CONFIG_ARCH_SPARSEMEM_ENABLE=y
CONFIG_INTEL_PMT_TELEMETRY=y
CONFIG_INTEL_ATOMISP2_PDX86=y
CONFIG_PTP_1588_CLOCK_OPTIONAL=y
CONFIG_ARCH_HIBERNATION_HEADER=y
CONFIG_QUEUED_SPINLOCKS=y
CONFIG_BLK_DEV_INITRD=y
CONFIG_LEDS_MENF21BMC=y
CONFIG_PCH_DMA=y
CONFIG_USB_SERIAL_AIRCABLE=y
CONFIG_SERIAL_8250_MEN_MCB=y
CONFIG_TEGRA20_EMC=y
CONFIG_I2C_DLN2=y
CONFIG_RESET_SUNXI=y
CONFIG_CRYPTO_MANAGER2=y
CONFIG_NVMEM_BCM_OCOTP=y
CONFIG_X86_VERBOSE_BOOTUP=y
CONFIG_LEDS_COBALT_QUBE=y
CONFIG_REGULATOR_RT6160=y
CONFIG_GPIO_UNIPHIER=y
CONFIG_CRYPTO_HASH_INFO=y
CONFIG_MFD_ATC260X=y
CONFIG_TCG_VTPM_PROXY=y
CONFIG_CHARGER_RT5033=y
CONFIG_RESET_QCOM_AOSS=y
CONFIG_IO_DELAY_0XED=y
CONFIG_MTK_INFRACFG=y
CONFIG_SENSORS_CORETEMP=y
CONFIG_ARCH_HAS_PKEYS=y
CONFIG_SUNPLUS_WATCHDOG=y
CONFIG_USB_F_FS=y
CONFIG_RESET_TENSTORRENT_ATLANTIS=y
CONFIG_FUTEX_ROBUST_UNLOCK=y
CONFIG_SOC_REALVIEW=y
CONFIG_MFD_ENE_KB3930=y
CONFIG_CLK_BCM_HR2=y
CONFIG_CLK_HSDK=y
CONFIG_COMMON_CLK_MT8516_AUDSYS=y
CONFIG_AST2700_MBOX=y
CONFIG_GPIO_ADP5520=y
CONFIG_CRYPTO_CTS=y
CONFIG_PCI_IDE=y
CONFIG_IB700_WDT=y
CONFIG_ARM_SCPI_PROTOCOL=y
CONFIG_ARCH_USE_SYM_ANNOTATIONS=y
CONFIG_PPS_CLIENT_GPIO=y
CONFIG_IRQ_WORK=y
CONFIG_CONSOLE_TRANSLATIONS=y
CONFIG_QCOM_EBI2=y
CONFIG_GENERIC_CLOCKEVENTS=y
CONFIG_MCHP_CLK_MPFS=y
CONFIG_MFD_DA9062=y
CONFIG_BACKLIGHT_LM3639=y
CONFIG_PIC32_EVIC=y
CONFIG_SOC_RENESAS=y
CONFIG_XZ_DEC_ARMTHUMB=y
CONFIG_HAVE_UNWIND_USER_FP=y
CONFIG_COMMON_CLK_MT8167_MMSYS=y
CONFIG_GPIO_F7188X=y
CONFIG_CLK_SUNXI_PRCM_SUN6I=y
CONFIG_I2C_SIS96X=y
CONFIG_SERIO=y
CONFIG_CLK_RK3506=y
CONFIG_CRYPTO_MD4=y
CONFIG_RESET_HISI=y
CONFIG_PROC_PAGE_MONITOR=y
CONFIG_SERIAL_STM32_CONSOLE=y
CONFIG_SPACEMIT_K3_CCU=y
CONFIG_DEBUG_BUGVERBOSE_DETAILED=y
CONFIG_MEMCG_V1=y
CONFIG_CB710_CORE=y
CONFIG_HIBERNATE_CALLBACKS=y
CONFIG_PINCTRL_TANGIER=y
CONFIG_FB_RIVA=y
CONFIG_NTFS3_FS=y
CONFIG_SCHED_SMT=y
CONFIG_GENERIC_CPU_VULNERABILITIES=y
CONFIG_PM_DEVFREQ=y
CONFIG_NVMEM_ROCKCHIP_EFUSE=y
CONFIG_KALLSYMS_SELFTEST=y
CONFIG_GPIO_XILINX=y
CONFIG_HSI_BOARDINFO=y
CONFIG_COMMON_CLK_MT6779_IMGSYS=y
CONFIG_COMMON_CLK_MT6779_AUDSYS=y
CONFIG_ARCH_MIGHT_HAVE_PC_PARPORT=y
CONFIG_SERIAL_8250_PXA=y
CONFIG_CC_IS_GCC=y
CONFIG_HISI_PTT=y
CONFIG_FUNCTION_ALIGNMENT_16B=y
CONFIG_INPUT_JOYDEV=y
CONFIG_PCI_IOV=y
CONFIG_REGULATOR_SC2731=y
CONFIG_CRC32=y
CONFIG_RMI4_SMB=y
CONFIG_SENSORS_LINEAGE=y
CONFIG_HD44780_COMMON=y
CONFIG_NVMEM_IMX_OCOTP=y
CONFIG_GPIO_PCA9570=y
CONFIG_COMMON_CLK_MT6779_VENCSYS=y
CONFIG_ZIIRAVE_WATCHDOG=y
CONFIG_PCIE_DW_PLAT=y
CONFIG_SPEAKUP_SYNTH_BNS=y
CONFIG_STM32MP_EXTI=y
CONFIG_SERIAL_MVEBU_UART=y
CONFIG_UNWINDER_ORC=y
CONFIG_SENSORS_ADS7828=y
CONFIG_X86_NATIVE_CPU=y
CONFIG_MFD_MAX77843=y
CONFIG_BUG=y
CONFIG_AGP=y
CONFIG_PCI_DIRECT=y
CONFIG_I2C_CBUS_GPIO=y
CONFIG_REGULATOR_RC5T583=y
CONFIG_TI_DMA_CROSSBAR=y
CONFIG_USB_SERIAL_DIGI_ACCELEPORT=y
CONFIG_MEMBLOCK_KHO_SCRATCH=y
CONFIG_USB_ADUTUX=y
CONFIG_HAVE_ASM_MODVERSIONS=y
CONFIG_NLS_ISO8859_15=y
CONFIG_TRACE_IRQFLAGS_SUPPORT=y
CONFIG_LOCK_SPIN_ON_OWNER=y
CONFIG_X86_PLATFORM_DRIVERS_DELL=y
CONFIG_USE_X86_SEG_SUPPORT=y
CONFIG_X86_DISABLED_FEATURE_CENTAUR_MCR=y
CONFIG_RDA_TIMER=y
CONFIG_X86_REQUIRED_FEATURE_CPUID=y
CONFIG_RCU_STALL_COMMON=y
CONFIG_MFD_RDC321X=y
CONFIG_I2C_DAVINCI=y
CONFIG_PPDEV=y
CONFIG_TEST_POWER=y
CONFIG_AT_HDMAC=y
CONFIG_PM_OPP=y
CONFIG_PCIE_ANDES_QILAI=y
CONFIG_SUN55I_A523_MCU_CCU=y
CONFIG_SENSORS_TC74=y
CONFIG_ARCH_ENABLE_THP_MIGRATION=y
CONFIG_POWER_SUPPLY=y
CONFIG_I2C_SIS630=y
CONFIG_ARCH_WANT_HUGE_PMD_SHARE=y
CONFIG_SENSORS_LM73=y
CONFIG_USB_SERIAL_WWAN=y
CONFIG_USB_SERIAL_DEBUG=y
CONFIG_HAVE_RETHOOK=y
CONFIG_X86_IO_APIC=y
CONFIG_X86_REQUIRED_FEATURE_PSE=y
CONFIG_PINCTRL_GEMINILAKE=y
CONFIG_I2C_SPRD=y
CONFIG_I2C_OCORES=y
CONFIG_INTEL_TH_DEBUG=y
CONFIG_NVME_TARGET=y
CONFIG_CRC16=y
CONFIG_MFD_ACER_A500_EC=y
CONFIG_USB_OHCI_HCD_LPC32XX=y
CONFIG_I2C_DESIGNWARE_CORE=y
CONFIG_TS72XX_WATCHDOG=y
CONFIG_SENSORS_PECI=y
CONFIG_MFD_NCT6694=y
CONFIG_ARCH_WANTS_CLOCKSOURCE_READ_INLINE=y
CONFIG_REGULATOR_LP3971=y
CONFIG_IOMMU_API=y
CONFIG_ARCH_HAS_CPU_RELAX=y
CONFIG_RCU_NEED_SEGCBLIST=y
CONFIG_ARCH_SUPPORTS_ATOMIC_RMW=y
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO_BARE=y
CONFIG_KRETPROBE_ON_RETHOOK=y
CONFIG_TIMER_OF=y
CONFIG_USB_CONFIGFS_F_FS=y
CONFIG_X86_HAVE_PAE=y
CONFIG_SERIAL_CORE=y
CONFIG_X86_64=y
CONFIG_REGULATOR_ISL9305=y
CONFIG_I2C_STM32F4=y
CONFIG_RENESAS_RZA1_IRQC=y
CONFIG_BATTERY_MAX1720X=y
CONFIG_USB_DWC2_DUAL_ROLE=y
CONFIG_ARCH_USE_CMPXCHG_LOCKREF=y
CONFIG_JFS_POSIX_ACL=y
CONFIG_AMD_SBRMI_I2C=y
CONFIG_HW_RANDOM_IXP4XX=y
CONFIG_MICROCODE_LATE_FORCE_MINREV=y
CONFIG_CRYPTO_KPP=y
CONFIG_RPMSG_NS=y
CONFIG_GPIO_DWAPB=y
CONFIG_MENF21BMC_WATCHDOG=y
CONFIG_PCI_TSM=y
CONFIG_PREEMPT_BUILD=y
CONFIG_TI_PRUSS=y
CONFIG_USB_SERIAL_NAVMAN=y
CONFIG_DEBUG_ENTRY=y
CONFIG_PCI_DOE=y
CONFIG_GPIO_VIPERBOARD=y
CONFIG_REGULATOR=y
CONFIG_I2C_RZV2M=y
CONFIG_CPA_DEBUG=y
CONFIG_LD_IS_BFD=y
CONFIG_TSM_MEASUREMENTS=y
CONFIG_W1_SLAVE_DS2781=y
CONFIG_NVMEM_AN8855_EFUSE=y
CONFIG_PCI_SW_SWITCHTEC=y
CONFIG_CPU_SUP_AMD=y
CONFIG_HAVE_SAMPLE_FTRACE_DIRECT=y
CONFIG_COMMON_CLK_MT8173_VENCSYS=y
CONFIG_SENSORS_LTC2947_I2C=y
CONFIG_CPU_SUP_ZHAOXIN=y
CONFIG_TMPFS_XATTR=y
CONFIG_CLK_IMX95_BLK_CTL=y
CONFIG_LOCK_DEBUGGING_SUPPORT=y
CONFIG_EFI_PARTITION=y
CONFIG_GPIO_REGMAP=y
CONFIG_GENERIC_IOMAP=y
CONFIG_USB_EHCI_HCD_NPCM7XX=y
CONFIG_DEVPORT=y
CONFIG_SERIAL_8250_UNIPHIER=y
CONFIG_WANT_DEV_COREDUMP=y
CONFIG_SPLIT_PTE_PTLOCKS=y
CONFIG_COMMON_CLK_TI_ADPLL=y
CONFIG_REGMAP_W1=y
CONFIG_SMSC_SCH311X_WDT=y
CONFIG_OBJTOOL=y
CONFIG_IRQ_FASTEOI_HIERARCHY_HANDLERS=y
CONFIG_PHY_HI3670_USB=y
CONFIG_GPIO_SHARED=y
CONFIG_DMA_SA11X0=y
CONFIG_CRYPTO_CRYPTD=y
CONFIG_DMADEVICES=y
CONFIG_ZRAM_BACKEND_ZSTD=y
CONFIG_CRYPTO_HMAC=y
CONFIG_LPC_ICH=y
CONFIG_PHY_PXA_28NM_USB2=y
CONFIG_MTK_DEVAPC=y
CONFIG_X86_DISABLED_FEATURE_RETPOLINE_LFENCE=y
CONFIG_MTK_ADSP_MBOX=y
CONFIG_GPIO_TWL4030=y
CONFIG_DW_XDATA_PCIE=y
CONFIG_MICROCODE=y
CONFIG_EDAC_SCRUB=y
CONFIG_RUSTC_HAS_UNNECESSARY_TRANSMUTES=y
CONFIG_SILICOM_PLATFORM=y
CONFIG_QCOM_GENI_SE=y
CONFIG_PINCTRL_PFC_R8A77990=y
CONFIG_X86_DIRECT_GBPAGES=y
CONFIG_SERIAL_8250_DMA=y
CONFIG_INTEL_PMT_DISCOVERY=y
CONFIG_FB_BROADSHEET=y
CONFIG_HARDLOCKUP_DETECTOR_PREFER_BUDDY=y
CONFIG_HAVE_ARCH_KCSAN=y
CONFIG_MFD_JANZ_CMODIO=y
CONFIG_PINCTRL_AMD=y
CONFIG_SENSORS_TC654=y
CONFIG_INTERRUPT_CNT=y
CONFIG_HIBERNATION=y
CONFIG_COMMON_CLK_MAX9485=y
CONFIG_CRYPTO_DRBG=y
CONFIG_KEYBOARD_ADP5520=y
CONFIG_COMMON_CLK_MT7622_AUDSYS=y
CONFIG_DEBUG_INFO=y
CONFIG_SERIAL_SH_SCI=y
CONFIG_USB_G_SERIAL=y
CONFIG_VISCONTI_WATCHDOG=y
CONFIG_TEGRA_HOST1X_FIREWALL=y
CONFIG_NEED_DMA_MAP_STATE=y
CONFIG_GPIO_SCH311X=y
CONFIG_TCM_IBLOCK=y
CONFIG_INTEL_IXP4XX_EB=y
CONFIG_HAVE_HARDLOCKUP_DETECTOR_BUDDY=y
CONFIG_ADVANTECH_WDT=y
CONFIG_NLS_CODEPAGE_863=y
CONFIG_TEGRA_HOST1X=y
CONFIG_I2C_LS2X=y
CONFIG_PINCTRL_PFC_R8A7740=y
CONFIG_SERIAL_MEN_Z135=y
CONFIG_PROC_CHILDREN=y
CONFIG_ARCH_HAS_MEM_ENCRYPT=y
CONFIG_X86_INTEL_MEMORY_PROTECTION_KEYS=y
CONFIG_MAILBOX=y
CONFIG_SERIAL_ST_ASC=y
CONFIG_HAVE_RSEQ=y
CONFIG_SENSORS_NPCM7XX=y
CONFIG_PPS_GENERATOR_TIO=y
CONFIG_CC_HAS_RETURN_THUNK=y
CONFIG_ARCH_HAS_HW_PTE_YOUNG=y
CONFIG_PINCTRL_PFC_R8A774B1=y
CONFIG_DEBUG_RODATA_TEST=y
CONFIG_QNX4FS_FS=y
CONFIG_USB_RENESAS_USBF=y
CONFIG_NVME_TARGET_PASSTHRU=y
