CONFIG_PCPU_DEV_REFCNT=n
CONFIG_CRC32=n
CONFIG_ARCH_WANT_HUGE_PMD_SHARE=n
CONFIG_DMA_DECLARE_COHERENT=n
CONFIG_EDAC_SUPPORT=n
CONFIG_WATCHDOG=n
CONFIG_PCIE_PLDA_HOST=n
CONFIG_MTD_BLOCK=n
CONFIG_BLK_DEV_DM=n
CONFIG_MTD_CFI_UTIL=n
CONFIG_ARCH_HAS_SYNC_CORE_BEFORE_USERMODE=n
CONFIG_DRM_SUBALLOC_HELPER=n
CONFIG_HAVE_ARCH_THREAD_STRUCT_WHITELIST=n
CONFIG_DEBUG_INFO_NONE=n
CONFIG_NET_SCH_FIFO=n
CONFIG_SMP=n
CONFIG_PCI_LABEL=n
CONFIG_RPMSG_CHAR=n
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO_BARE=n
CONFIG_RISCV_TIMER=n
CONFIG_GCC_NO_STRINGOP_OVERFLOW=n
CONFIG_BCMA_POSSIBLE=n
CONFIG_FB_CORE=n
CONFIG_RUNTIME_KERNEL_TESTING_MENU=n
CONFIG_DRM_CLIENT_DEFAULT_FBDEV=n
CONFIG_CRYPTO_ALGAPI2=n
CONFIG_CAN_CALC_BITTIMING=n
CONFIG_NET_RX_BUSY_POLL=n
CONFIG_BINFMT_SCRIPT=n
CONFIG_STRICT_MODULE_RWX=n
CONFIG_TTY=n
CONFIG_FWNODE_MDIO=n
CONFIG_HAVE_PAGE_SIZE_4KB=n
CONFIG_DUMMY_CONSOLE=n
CONFIG_NET_VENDOR_OKI=n
CONFIG_ARCH_HAS_SYNC_DMA_FOR_CPU=n
CONFIG_KVM=n
CONFIG_DWMAC_SUNXI=n
CONFIG_ARCH_DMA_ADDR_T_64BIT=n
CONFIG_MTD_CFI_ADV_OPTIONS=n
CONFIG_HAVE_KERNEL_XZ=n
CONFIG_FB_SYSMEM_HELPERS=n
CONFIG_LINEAR_RANGES=n
CONFIG_INPUT_MOUSE=n
CONFIG_SERIAL_CORE_CONSOLE=n
CONFIG_ARCH_HAS_MEMBARRIER_CALLBACKS=n
CONFIG_SERIAL_8250_PCILIB=n
CONFIG_SUN55I_PCK600=n
CONFIG_DMADEVICES=n
CONFIG_KEYBOARD_SUN4I_LRADC=n
CONFIG_GENERIC_PINCONF=n
CONFIG_HARDIRQS_SW_RESEND=n
CONFIG_NET_VENDOR_CHELSIO=n
CONFIG_DRM_RADEON=n
CONFIG_USB_ROLE_SWITCH=n
CONFIG_CRC16=n
CONFIG_IRQCHIP=n
CONFIG_RISCV_ISA_ZICBOZ=n
CONFIG_ARCH_HAS_UBSAN=n
CONFIG_DMA_OF=n
CONFIG_NET_SOCK_MSG=n
CONFIG_VIRTIO_BALLOON=n
CONFIG_BUG=n
CONFIG_HAVE_KVM_DIRTY_RING=n
CONFIG_RISCV_ISA_VENDOR_EXT_ANDES=n
CONFIG_SCHED_CACHE=n
CONFIG_SECURITY_SELINUX_DEVELOP=n
CONFIG_NET_VENDOR_I825XX=n
CONFIG_LEGACY_PTYS=n
CONFIG_CLK_SOPHGO_SG2042_PLL=n
CONFIG_CRYPTO_LIB_GF128HASH=n
CONFIG_RD_LZO=n
CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE=n
CONFIG_NLS_CODEPAGE_437=n
CONFIG_PCI_MSI=n
CONFIG_MODULE_UNLOAD=n
CONFIG_SIGNALFD=n
CONFIG_RING_BUFFER=n
CONFIG_REGULATOR_SUN20I=n
CONFIG_MEDIA_CONTROLLER=n
CONFIG_HOTPLUG_CORE_SYNC_DEAD=n
CONFIG_NET_VENDOR_FUNGIBLE=n
CONFIG_MICROSEMI_PHY=n
CONFIG_PNP_DEBUG_MESSAGES=n
CONFIG_ATA_BMDMA=n
CONFIG_ACPI_AC=n
CONFIG_HAVE_ARCH_AUDITSYSCALL=n
CONFIG_PHY_STARFIVE_JH7110_DPHY_RX=n
CONFIG_BPF=n
CONFIG_DRM_EXEC=n
CONFIG_DRM_CLIENT_SETUP=n
CONFIG_NET_VENDOR_STMICRO=n
CONFIG_RANDSTRUCT_NONE=n
CONFIG_RISCV_MISALIGNED=n
CONFIG_ISO9660_FS=n
CONFIG_IRQ_FORCED_THREADING=n
CONFIG_PINCTRL_SOPHGO_CV18XX_OPS=n
CONFIG_PHY_STARFIVE_JH7110_USB=n
CONFIG_SND_SOC=n
CONFIG_ARCH_RV64I=n
CONFIG_WATCHDOG_HANDLE_BOOT_ENABLED=n
CONFIG_NFS_USE_KERNEL_DNS=n
CONFIG_HAVE_HARDLOCKUP_DETECTOR_BUDDY=n
CONFIG_DMA_DIRECT_REMAP=n
CONFIG_FS_IOMAP=n
CONFIG_FHANDLE=n
CONFIG_MTD=n
CONFIG_GCC10_NO_ARRAY_BOUNDS=n
CONFIG_ACPI_GENERIC_GSI=n
CONFIG_ARCH_SUPPORTS_INT128=n
CONFIG_HOTPLUG_PARALLEL=n
CONFIG_USB_U_ETHER=n
CONFIG_BLK_CGROUP_RWSTAT=n
CONFIG_MOUSE_PS2_LOGIPS2PP=n
CONFIG_NET_9P_FD=n
CONFIG_PM_SLEEP=n
CONFIG_VIDEO_V4L2_SUBDEV_API=n
CONFIG_SND_DRIVERS=n
CONFIG_GENERIC_NET_UTILS=n
CONFIG_ARCH_HAS_KCOV=n
CONFIG_DMA_ENGINE=n
CONFIG_PM_CLK=n
CONFIG_NET_VENDOR_NVIDIA=n
CONFIG_VXLAN=n
CONFIG_CLK_STARFIVE_JH7110_STG=n
CONFIG_SND_JACK_INPUT_DEV=n
CONFIG_ERRATA_SIFIVE_CIP_453=n
CONFIG_SATA_HOST=n
CONFIG_RISCV_PROBE_VECTOR_UNALIGNED_ACCESS=n
CONFIG_ARCH_WANTS_NO_INSTR=n
CONFIG_NET_XGRESS=n
CONFIG_EFIVAR_FS=n
CONFIG_VIDEO_V4L2_I2C=n
CONFIG_USB_HID=n
CONFIG_USB_XHCI_PLATFORM=n
CONFIG_RTC_HCTOSYS=n
CONFIG_DAX=n
CONFIG_RISCV_ISA_SVNAPOT=n
CONFIG_GENERIC_BUG_RELATIVE_POINTERS=n
CONFIG_RPMSG_NS=n
CONFIG_HAVE_ARCH_JUMP_LABEL_RELATIVE=n
CONFIG_PROC_PAGE_MONITOR=n
CONFIG_UNION_FIND=n
CONFIG_WLAN_VENDOR_ST=n
CONFIG_GPIO_SPACEMIT_K1=n
CONFIG_ARCH_SUPPORTS_KEXEC_FILE=n
CONFIG_CGROUP_FREEZER=n
CONFIG_USB_CONFIGFS_RNDIS=n
CONFIG_FTRACE=n
CONFIG_CPU_FREQ_STAT=n
CONFIG_SCSI_MOD=n
CONFIG_PRINTK_TIME=n
CONFIG_FRAME_POINTER=n
CONFIG_HRTIMER_REARM_DEFERRED=n
CONFIG_HID=n
CONFIG_JH71XX_PMU=n
CONFIG_PWM_PXA=n
CONFIG_NET_VENDOR_HUAWEI=n
CONFIG_BRANCH_PROFILE_NONE=n
CONFIG_SG_POOL=n
CONFIG_USB_F_SERIAL=n
CONFIG_OF=n
CONFIG_PM_GENERIC_DOMAINS=n
CONFIG_PINCTRL_SOPHGO_CV1800B=n
CONFIG_PROC_SYSCTL=n
CONFIG_CRYPTO_MANAGER2=n
CONFIG_MMC_DW=n
CONFIG_HAVE_ARCH_GET_SECUREBOOT=n
CONFIG_HAVE_ARCH_MMAP_RND_BITS=n
CONFIG_RISCV_ISA_SVRSW60T59B=n
CONFIG_EPROBE_EVENTS=n
CONFIG_RTC_DRV_SPACEMIT_P1=n
CONFIG_SND_PCI=n
CONFIG_STMMAC_ETH=n
CONFIG_WLAN_VENDOR_ADMTEK=n
CONFIG_RISCV_ALTERNATIVE=n
CONFIG_VIDEOMODE_HELPERS=n
CONFIG_NET_9P=n
CONFIG_USB_LIBCOMPOSITE=n
CONFIG_BLK_DEV_DM_BUILTIN=n
CONFIG_CRYPTO_USER_API=n
CONFIG_CC_HAS_ASM_INLINE=n
CONFIG_NF_CONNTRACK_TFTP=n
CONFIG_RISCV_ISA_ZACAS=n
CONFIG_PCI_PWRCTRL_GENERIC=n
CONFIG_BLK_ICQ=n
CONFIG_USER_NS=n
CONFIG_NET_EGRESS=n
CONFIG_SERIAL_SIFIVE_CONSOLE=n
CONFIG_USB_CDNS3_PCI_WRAP=n
CONFIG_DRM_DW_HDMI=n
CONFIG_RTC_CLASS=n
CONFIG_SUNXI_SRAM=n
CONFIG_GENERIC_STRNLEN_USER=n
CONFIG_BINARY_PRINTF=n
CONFIG_HAVE_GCC_PLUGINS=n
CONFIG_SND_SOC_SDCA_OPTIONAL=n
CONFIG_OF_FLATTREE=n
CONFIG_PREEMPT_NOTIFIERS=n
CONFIG_USB_F_MASS_STORAGE=n
CONFIG_SECURITY_APPARMOR_INTROSPECT_POLICY=n
CONFIG_MMU_GATHER_TABLE_FREE=n
CONFIG_SELECT_MEMORY_MODEL=n
CONFIG_DEFAULT_SECURITY_DAC=n
CONFIG_REGULATOR_GPIO=n
CONFIG_NET_VENDOR_3COM=n
CONFIG_GENERIC_PHY_MIPI_DPHY=n
CONFIG_NET_VENDOR_GOOGLE=n
CONFIG_GENERIC_PCI_IOMAP=n
CONFIG_PCIEPORTBUS=n
CONFIG_PCI_QUIRKS=n
CONFIG_FUTEX_PI=n
CONFIG_SND_PCM_TIMER=n
CONFIG_DMA_NONCOHERENT_MMAP=n
CONFIG_USB_EHCI_HCD=n
CONFIG_CLK_STARFIVE_JH7100_AUDIO=n
CONFIG_CC_CAN_LINK=n
CONFIG_PCI_HOST_COMMON=n
CONFIG_USB_CDNSP_PCI=n
CONFIG_HW_RANDOM_JH7110=n
CONFIG_HAVE_SOFTIRQ_ON_OWN_STACK=n
CONFIG_XZ_DEC_ARM=n
CONFIG_USB_PHY=n
CONFIG_MTD_SPI_NOR=n
CONFIG_PINCTRL_STARFIVE_JH7110_AON=n
CONFIG_MICREL_PHY=n
CONFIG_PM_SLEEP_SMP=n
CONFIG_RESET_SPACEMIT_K3=n
CONFIG_PROC_FS=n
CONFIG_MMIOWB=n
CONFIG_CRYPTO=n
CONFIG_BPF_UNPRIV_DEFAULT_OFF=n
CONFIG_CPU_FREQ_GOV_USERSPACE=n
CONFIG_SND_SPI=n
CONFIG_ARCH_HAS_PREEMPT_LAZY=n
CONFIG_RISCV_PMU_SBI=n
CONFIG_NETFS_SUPPORT=n
CONFIG_RISCV_ISA_SVPBMT=n
CONFIG_CRYPTO_CTR=n
CONFIG_NET_VENDOR_MICROCHIP=n
CONFIG_NET_VENDOR_SOCIONEXT=n
CONFIG_TIMERFD=n
CONFIG_CRYPTO_AES=n
CONFIG_RD_LZMA=n
CONFIG_INPUT_VIVALDIFMAP=n
CONFIG_CLK_STARFIVE_JH71X0=n
CONFIG_VIRTIO_PCI=n
CONFIG_DRM_DISPLAY_HELPER=n
CONFIG_GENERIC_IRQ_IPI_MUX=n
CONFIG_NET_VENDOR_NATSEMI=n
CONFIG_SECCOMP_FILTER=n
CONFIG_RISCV_ISA_V=n
CONFIG_R8169=n
CONFIG_XFRM_ALGO=n
CONFIG_PM_GENERIC_DOMAINS_OF=n
CONFIG_MTD_SPI_NOR_SWP_DISABLE_ON_VOLATILE=n
CONFIG_ARCH_HAS_FORTIFY_SOURCE=n
CONFIG_RD_XZ=n
CONFIG_AS_HAS_INSN=n
CONFIG_NF_LOG_IPV4=n
CONFIG_TASKS_TRACE_RCU=n
CONFIG_SOCK_RX_QUEUE_MAPPING=n
CONFIG_DEBUG_FS=n
CONFIG_PINCONF=n
CONFIG_DWMAC_GENERIC=n
CONFIG_CAN_RAW=n
CONFIG_PINCTRL_SPACEMIT_K1=n
CONFIG_I2C_MV64XXX=n
CONFIG_64BIT=n
CONFIG_PROC_MEM_FORCE_PTRACE=n
CONFIG_NET_VENDOR_AMD=n
CONFIG_USB_PCI=n
CONFIG_MTD_GEN_PROBE=n
CONFIG_NET_VENDOR_EZCHIP=n
CONFIG_DNS_RESOLVER=n
CONFIG_NVMEM=n
CONFIG_FIXED_PHY=n
CONFIG_FRAMEBUFFER_CONSOLE_DETECT_PRIMARY=n
CONFIG_POWER_RESET_SYSCON=n
CONFIG_ARCH_HAS_STRICT_MODULE_RWX=n
CONFIG_SERIAL_EARLYCON_RISCV_SBI=n
CONFIG_CRYPTO_MANAGER=n
CONFIG_SPACEMIT_K3_CCU=n
CONFIG_SCHED_MM_CID=n
CONFIG_CRYPTO_SHA1=n
CONFIG_FIX_EARLYCON_MEM=n
CONFIG_SBITMAP=n
CONFIG_SECCOMP=n
CONFIG_CRYPTO_LIB_AES=n
CONFIG_MMC_SUNXI=n
CONFIG_ACPI_PCC=n
CONFIG_TRACING=n
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO=n
CONFIG_MOUSE_PS2_SYNAPTICS=n
CONFIG_DRM_KMS_HELPER=n
CONFIG_SUN50I_IOMMU=n
CONFIG_SERIAL_8250_16550A_VARIANTS=n
CONFIG_RISCV_ISA_FALLBACK=n
CONFIG_KVM_MMIO=n
CONFIG_GPIOLIB_LEGACY=n
