CONFIG_REGULATOR_88PM886=y
CONFIG_SYSC_R8A779A0=y
CONFIG_PINCTRL=y
CONFIG_INPUT_MATRIXKMAP=y
CONFIG_LEDS_BLINKM=y
CONFIG_ARM_GIC_V3=y
CONFIG_CRYPTO_AEAD=y
CONFIG_SENSORS_W83795_FANCTRL=y
CONFIG_MTD_NAND_RENESAS=y
CONFIG_USB_RAW_GADGET=y
CONFIG_CEC_TEGRA=y
CONFIG_REGULATOR_RZG2L_VBCTRL=y
CONFIG_SENSORS_ADM1025=y
CONFIG_ZRAM_DEF_COMP_ZSTD=y
CONFIG_DEBUG_RT_MUTEXES=y
CONFIG_CRYPTO_TWOFISH_COMMON=y
CONFIG_SENSORS_G760A=y
CONFIG_PINCTRL_MESON_AXG=y
CONFIG_TI_EMIF=y
CONFIG_ELF_CORE=y
CONFIG_GPIO_SAMA5D2_PIOBU=y
CONFIG_PINCTRL_TEGRA_XUSB=y
CONFIG_DEBUG_INFO_REDUCED=y
CONFIG_EDAC=y
CONFIG_QCOM_TZMEM_MODE_SHMBRIDGE=y
CONFIG_HID_TWINHAN=y
CONFIG_GPIO_VIRTIO=y
CONFIG_CRYPTO_DEV_SL3516_DEBUG=y
CONFIG_USB_MTU3=y
CONFIG_REGULATOR_WM8400=y
CONFIG_REALTEK_OTTO_TIMER=y
CONFIG_SBITMAP=y
CONFIG_SENSORS_AS370=y
CONFIG_SENSORS_SG2042_MCU=y
CONFIG_I2C_NOMADIK=y
CONFIG_CRYPTO_842=y
CONFIG_FW_CS_DSP=y
CONFIG_EM_TIMER_STI=y
CONFIG_CRYPTO_CAMELLIA=y
CONFIG_HAVE_CLK=y
CONFIG_SM_CAMCC_MILOS=y
CONFIG_ARM_TIMER_SP804=y
CONFIG_PM_GENERIC_DOMAINS_OF=y
CONFIG_SM_CAMCC_7150=y
CONFIG_HW_RANDOM_CCTRNG=y
CONFIG_LEDS_TRIGGER_PATTERN=y
CONFIG_COMMON_CLK_QCOM=y
CONFIG_CRC_CCITT=y
CONFIG_CRYPTO_SM4=y
CONFIG_HW_RANDOM_NOMADIK=y
CONFIG_DEBUG_BUGVERBOSE=y
CONFIG_CC_HAS_ASM_INLINE=y
CONFIG_TSM_GUEST=y
CONFIG_GPIO_VISCONTI=y
CONFIG_SOC_BUS=y
CONFIG_MFD_CS47L92=y
CONFIG_MTD_NAND_ECC_REALTEK=y
CONFIG_MHI_BUS_DEBUG=y
CONFIG_NVMEM_ZYNQMP=y
CONFIG_REBOOT_MODE=y
CONFIG_NLS_ISO8859_6=y
CONFIG_COMMON_CLK_PISTACHIO=y
CONFIG_DEBUG_RWSEMS=y
CONFIG_REGULATOR_MT6316=y
CONFIG_SERIAL_BCM63XX=y
CONFIG_GUEST_PERF_EVENTS=y
CONFIG_SUN4I_TIMER=y
CONFIG_USB_MUSB_DSPS=y
CONFIG_I2C_OCORES=y
CONFIG_MSM_GCC_8916=y
CONFIG_CPUMASK_OFFSTACK=y
CONFIG_LOCK_SPIN_ON_OWNER=y
CONFIG_CHARGER_MAX77976=y
CONFIG_CRYPTO_DH=y
CONFIG_PINCTRL_SAR2130P=y
CONFIG_COMEDI_DEBUG=y
CONFIG_RESET_NUVOTON_MA35D1=y
CONFIG_HID_APPLETB_BL=y
CONFIG_DEBUG_FORCE_WEAK_PER_CPU=y
CONFIG_COMMON_CLK_MT8173_VENCSYS=y
CONFIG_PINCTRL_IMX93=y
CONFIG_SENSORS_STEF48H28=y
CONFIG_MTD=y
CONFIG_ARCH_HAS_UBSAN=y
CONFIG_CRYPTO_LIB_SM3_ARCH=y
CONFIG_ARM64_WORKAROUND_TSB_FLUSH_FAILURE=y
CONFIG_SAMPLES=y
CONFIG_RMI4_F03_SERIO=y
CONFIG_SYS_SUPPORTS_SH_CMT=y
CONFIG_DEBUG_WW_MUTEX_SLOWPATH=y
CONFIG_MTK_GPUEB_MBOX=y
CONFIG_REGULATOR_QCOM_USB_VBUS=y
CONFIG_MFD_ROHM_BD71828=y
CONFIG_MTD_NAND_SHARPSL=y
CONFIG_CC_HAS_INT128=y
CONFIG_SERIO_SERPORT=y
CONFIG_LOCKUP_DETECTOR=y
CONFIG_CRYPTO_CHACHA20POLY1305=y
CONFIG_KEYBOARD_TCA8418=y
CONFIG_CLK_R8A774A1=y
CONFIG_NLS_MAC_CYRILLIC=y
CONFIG_RD_LZO=y
CONFIG_CLK_STARFIVE_JH7100=y
CONFIG_VIRT_XFER_TO_GUEST_WORK=y
CONFIG_USB_G_DBGP_PRINTK=y
CONFIG_GPIO_IDT3243X=y
CONFIG_STM32_RPROC=y
CONFIG_SC_LPASS_CORECC_7180=y
CONFIG_CLK_KAANAPALI_DISPCC=y
CONFIG_PINCTRL_PFC_SH7264=y
CONFIG_ZRAM_BACKEND_LZO=y
CONFIG_TOUCHSCREEN_CY8CTMA140=y
CONFIG_GENERIC_EARLY_IOREMAP=y
CONFIG_HW_RANDOM_XILINX=y
CONFIG_USB_SERIAL_EDGEPORT_TI=y
CONFIG_REGULATOR_MAX20086=y
CONFIG_SUNXI_SRAM=y
CONFIG_REGMAP_I2C=y
CONFIG_DEVFREQ_EVENT_EXYNOS_PPMU=y
CONFIG_MFD_DA9062=y
CONFIG_HAVE_ARCH_KASAN_SW_TAGS=y
CONFIG_CRASH_DUMP=y
CONFIG_JOYSTICK_COBRA=y
CONFIG_SERIAL_STM32=y
CONFIG_MTD_ONENAND_OTP=y
CONFIG_GPIO_BCM_KONA=y
CONFIG_STACKDEPOT=y
CONFIG_HAVE_KVM_VCPU_RUN_PID_CHANGE=y
CONFIG_POWER_RESET_ODROID_GO_ULTRA_POWEROFF=y
CONFIG_MIGRATION=y
CONFIG_AIO=y
CONFIG_NVMEM_SUNPLUS_OCOTP=y
CONFIG_TQMX86_WDT=y
CONFIG_ARM64_ERRATUM_1530923=y
CONFIG_EVENTFD=y
CONFIG_TOUCHSCREEN_WM831X=y
CONFIG_TRACEPOINTS=y
CONFIG_SM_GCC_6375=y
CONFIG_PINCTRL_IMX=y
CONFIG_GROUP_SCHED_WEIGHT=y
CONFIG_GXP_TIMER=y
CONFIG_PINCTRL_STARFIVE_JH7110_SYS=y
CONFIG_PPS_CLIENT_LDISC=y
CONFIG_SERIAL_TEGRA=y
CONFIG_COMMON_CLK_MT8186_MCUSYS=y
CONFIG_HAVE_RSEQ=y
CONFIG_ARCH_R9A09G047=y
CONFIG_ARCH_SUPPORTS_KEXEC_IMAGE_VERIFY_SIG=y
CONFIG_SUN5I_CCU=y
CONFIG_MTD_NAND_BRCMNAND=y
CONFIG_OID_REGISTRY=y
CONFIG_DMA_API_DEBUG=y
CONFIG_ARCH_SUSPEND_POSSIBLE=y
CONFIG_SOFTLOCKUP_DETECTOR=y
CONFIG_INTEL_TH_PTI=y
CONFIG_COMMON_CLK_STM32MP=y
CONFIG_CRYPTO_DEV_CCP=y
CONFIG_PHY_FSL_SAMSUNG_HDMI_PHY=y
CONFIG_USB_SERIAL_SAFE=y
CONFIG_ARM64_WORKAROUND_TRBE_OVERWRITE_FILL_MODE=y
CONFIG_MTD_NAND_CADENCE=y
CONFIG_XILINX_VCU=y
CONFIG_CEC_PIN=y
CONFIG_HAVE_ARCH_SECCOMP=y
CONFIG_PINCTRL_MSM8960=y
CONFIG_PERCPU_STATS=y
CONFIG_MOXART_WDT=y
CONFIG_CRYPTO_DEV_ALLWINNER=y
CONFIG_TOUCHSCREEN_USB_ETURBO=y
CONFIG_STACKTRACE_BUILD_ID=y
CONFIG_SENSORS_HS3001=y
CONFIG_ARCH_LG1K=y
CONFIG_ARM64_VA_BITS_48=y
CONFIG_SENSORS_F71882FG=y
CONFIG_FS_MBCACHE=y
CONFIG_FAIL_MAKE_REQUEST=y
CONFIG_REGULATOR_MAX8997=y
CONFIG_REGMAP_MMIO=y
CONFIG_CLK_R8A77960=y
CONFIG_SEG_LED_GPIO=y
CONFIG_PHY_MTK_UFS=y
CONFIG_COMPAT_BRK=y
CONFIG_LEDS_IS31FL32XX=y
CONFIG_GENERIC_NET_UTILS=y
CONFIG_W1_SLAVE_DS2780=y
CONFIG_CLK_R8A779F0=y
CONFIG_SENSORS_ADM9240=y
CONFIG_TOUCHSCREEN_USB_GUNZE=y
CONFIG_REGULATOR_TPS65912=y
CONFIG_PINCTRL_MTK_V2=y
CONFIG_GPIO_REALTEK_OTTO=y
CONFIG_CRYPTO_ECB=y
CONFIG_CORESIGHT_TNOC=y
CONFIG_LEDS_MLXREG=y
CONFIG_PHY_INTEL_KEEMBAY_EMMC=y
CONFIG_ARM_SCMI_TRANSPORT_OPTEE=y
CONFIG_OMAP_IOMMU=y
CONFIG_ARM_SPE_PMU=y
CONFIG_HISILICON_ERRATUM_162100801=y
CONFIG_PROFILING=y
CONFIG_ARM_CCI=y
CONFIG_CPU_IDLE_GOV_LADDER=y
CONFIG_GENERIC_CALIBRATE_DELAY=y
CONFIG_NO_HZ_IDLE=y
CONFIG_POWER_SUPPLY=y
CONFIG_PINCTRL_STM32H743=y
CONFIG_I2C_CADENCE=y
CONFIG_PINCTRL_SM6125=y
CONFIG_ARCH_SUPPORTS_CFI=y
CONFIG_RMI4_I2C=y
CONFIG_GENERIC_PINCONF=y
CONFIG_INPUT_VIVALDIFMAP=y
CONFIG_PINCTRL_S900=y
CONFIG_JOYSTICK_GF2K=y
CONFIG_I2C_IOP3XX=y
CONFIG_MFD_TPS65090=y
CONFIG_PHY_SPACEMIT_K1_PCIE=y
CONFIG_OMAP_GPMC_DEBUG=y
CONFIG_PINCTRL_MTK=y
CONFIG_MFD_TI_LP87565=y
CONFIG_COMMON_CLK_MT8167_VDECSYS=y
CONFIG_PINCTRL_INTEL_PLATFORM=y
CONFIG_CLK_R8A77970=y
CONFIG_PINCTRL_QCOM_SPMI_PMIC=y
CONFIG_ASN1=y
CONFIG_TCG_TIS_I2C_INFINEON=y
CONFIG_GENERIC_PHY=y
CONFIG_PINCTRL_SM8650=y
CONFIG_SENSORS_LT3074_REGULATOR=y
CONFIG_PINCTRL_IMXRT1050=y
CONFIG_ARCH_SUPPORTS_LTO_CLANG=y
CONFIG_DEVPORT=y
CONFIG_PINCTRL_MT6878=y
CONFIG_MFD_MX25_TSADC=y
CONFIG_ASPEED_UART_ROUTING=y
CONFIG_DECOMPRESS_LZO=y
CONFIG_EDAC_NPCM=y
CONFIG_TOUCHSCREEN_USB_ETT_TC45USB=y
CONFIG_USB_SERIAL_PL2303=y
CONFIG_TMPFS_XATTR=y
CONFIG_NVMEM_UNIPHIER_EFUSE=y
CONFIG_LEDS_TRIGGER_ONESHOT=y
CONFIG_CRYPTO_GHASH_ARM64_CE=y
CONFIG_FB_SYS_FILLRECT=y
CONFIG_USB_EHSET_TEST_FIXTURE=y
CONFIG_SCSI_COMMON=y
CONFIG_ARCH_R8A77970=y
CONFIG_REGMAP_SPMI=y
CONFIG_VDSO_GETRANDOM=y
CONFIG_EDAC_XGENE=y
CONFIG_FB_XILINX=y
CONFIG_REGULATOR_TPS62360=y
CONFIG_SYSC_RZ=y
CONFIG_SENSORS_HIH6130=y
CONFIG_PINCTRL_MT8167=y
CONFIG_MFD_HI6421_PMIC=y
CONFIG_PHY_MTK_XFI_TPHY=y
CONFIG_I2C_EMEV2=y
CONFIG_ARCH_R8A774C0=y
CONFIG_PINCONF=y
CONFIG_SENSORS_MAX6620=y
CONFIG_SENSORS_LX1308=y
CONFIG_PROC_PAGE_MONITOR=y
CONFIG_SM_GPUCC_8450=y
CONFIG_PINCTRL_EXYNOS=y
CONFIG_DEVFREQ_GOV_POWERSAVE=y
CONFIG_PINCTRL_SUN50I_A100=y
CONFIG_NVMEM_IMX_OCOTP=y
CONFIG_TEGRA_GMI=y
CONFIG_SOC_TEGRA20_VOLTAGE_COUPLER=y
CONFIG_NLS_MAC_ROMANIAN=y
CONFIG_KEYBOARD_LM8323=y
CONFIG_USB=y
CONFIG_CHARGER_BQ25980=y
CONFIG_PINCTRL_BCM6328=y
CONFIG_EDAC_VERSAL=y
CONFIG_GPIO_WM8994=y
CONFIG_EDAC_QCOM=y
CONFIG_ISL29020=y
CONFIG_PINCTRL_MT8516=y
CONFIG_KEYBOARD_EP93XX=y
CONFIG_BATTERY_CHARGER_SURFACE_RT=y
CONFIG_BACKLIGHT_GPIO=y
CONFIG_TOUCHSCREEN_MMS114=y
CONFIG_VSI_IOMMU=y
CONFIG_MTD_CFI_I1=y
CONFIG_ARCH_SUPPORTS_DEBUG_PAGEALLOC=y
CONFIG_CLK_R8A77990=y
CONFIG_PAHOLE_HAS_LANG_EXCLUDE=y
CONFIG_CONTEXT_TRACKING=y
CONFIG_SENSORS_DA9052_ADC=y
CONFIG_GPIO_AMD_FCH=y
CONFIG_SPARSE_IRQ=y
CONFIG_SM_CAMCC_8250=y
CONFIG_LEDS_LP8864=y
CONFIG_ARCH_USE_GNU_PROPERTY=y
CONFIG_KEXEC=y
CONFIG_JOYSTICK_IFORCE_USB=y
CONFIG_RCU_REF_SCALE_TEST=y
CONFIG_POSIX_CPU_TIMERS_TASK_WORK=y
CONFIG_STACKPROTECTOR=y
CONFIG_PINCTRL_MSM8994=y
CONFIG_USB_OHCI_HCD_LPC32XX=y
CONFIG_VT_HW_CONSOLE_BINDING=y
CONFIG_JH71XX_PMU=y
CONFIG_USB_CDNS_SUPPORT=y
CONFIG_SOFTIRQ_ON_OWN_STACK=y
CONFIG_ACORN_PARTITION_POWERTEC=y
CONFIG_MTD_NAND_BRCMNAND_IPROC=y
CONFIG_COMMON_CLK_MT8192_IMGSYS=y
CONFIG_SENSORS_NCT7904=y
CONFIG_COMMON_CLK_MT7629_HIFSYS=y
CONFIG_LEDS_NS2=y
CONFIG_CHARGER_TPS65090=y
CONFIG_ARM64_BRBE=y
CONFIG_SERIAL_SPRD_CONSOLE=y
CONFIG_W1_SLAVE_DS2805=y
CONFIG_ARCH_HAS_CPU_CACHE_INVALIDATE_MEMREGION=y
CONFIG_EDAC_DEBUG=y
CONFIG_DA9055_WATCHDOG=y
CONFIG_USB_XHCI_MTK=y
CONFIG_HW_RANDOM_ST=y
CONFIG_W1_SLAVE_DS2433=y
CONFIG_CLK_IMX8MQ=y
CONFIG_CRYPTO_DEV_ATMEL_TDES=y
CONFIG_MFD_SEC_CORE=y
CONFIG_USB_SNP_CORE=y
CONFIG_SENSORS_PCF8591=y
CONFIG_NVME_TARGET=y
CONFIG_ARCH_PROC_KCORE_TEXT=y
CONFIG_PREEMPT=y
CONFIG_SSB_DRIVER_GPIO=y
CONFIG_TYPEC=y
CONFIG_I2C_QCOM_CCI=y
CONFIG_USB_SERIAL_SSU100=y
CONFIG_SM_DISPCC_8750=y
CONFIG_GAMEPORT=y
CONFIG_CRYPTO_LIB_CHACHA_ARCH=y
CONFIG_NLS_ISO8859_13=y
CONFIG_MFD_WM831X_I2C=y
CONFIG_REGULATOR_RT4801=y
CONFIG_TYPEC_MUX_PS883X=y
CONFIG_SYSC_R8A77470=y
CONFIG_APPLE_SART=y
CONFIG_NEED_SG_DMA_FLAGS=y
CONFIG_JUMP_LABEL=y
CONFIG_SM_GCC_8250=y
CONFIG_MSM_GCC_8660=y
CONFIG_POWER_RESET_QEMU_VIRT_CTRL=y
CONFIG_USB_FOTG210=y
CONFIG_STARFIVE_STARLINK_PMU=y
CONFIG_LOCKDEP_SUPPORT=y
CONFIG_USB_LEGOTOWER=y
CONFIG_WQ_WATCHDOG=y
CONFIG_JOYSTICK_ZHENHUA=y
CONFIG_PINCTRL_SC8180X=y
CONFIG_DEBUG_BUGVERBOSE_DETAILED=y
CONFIG_CLK_R8A7779=y
CONFIG_PINCTRL_QCS615=y
CONFIG_DCACHE_WORD_ACCESS=y
CONFIG_ARCH_USE_SYM_ANNOTATIONS=y
CONFIG_SENSORS_MAX1619=y
CONFIG_TREE_RCU=y
CONFIG_CUSE=y
CONFIG_ARM_GIC_PM=y
CONFIG_CRYPTO_CAST6=y
CONFIG_IRQ_BYPASS_MANAGER=y
CONFIG_PHY_RCAR_GEN2=y
CONFIG_ARCH_SUPPORTS_KEXEC_HANDOVER=y
CONFIG_SUN55I_PCK600=y
CONFIG_PWC_RZV2M=y
CONFIG_CGROUP_SCHED=y
CONFIG_HIBERNATE_CALLBACKS=y
CONFIG_PARMAN=y
CONFIG_GPIO_LOONGSON_64BIT=y
CONFIG_CONSOLE_TRANSLATIONS=y
CONFIG_MISC_RTSX=y
CONFIG_APPLE_MFI_FASTCHARGE=y
CONFIG_MFD_MT6370=y
CONFIG_MFD_BQ257XX=y
CONFIG_BACKLIGHT_MAX8925=y
CONFIG_GPIO_WAVESHARE_DSI_TOUCH=y
CONFIG_KEYBOARD_SUNKBD=y
CONFIG_FB_IOMEM_FOPS=y
CONFIG_GPIO_SPEAR_SPICS=y
CONFIG_VFIO_PLATFORM=y
CONFIG_TOUCHSCREEN_AUO_PIXCIR=y
CONFIG_PRINTK_INDEX=y
CONFIG_MTD_NAND_MESON=y
CONFIG_DEBUG_MAPLE_TREE=y
CONFIG_CRYPTO_MLDSA=y
CONFIG_JOYSTICK_SENSEHAT=y
CONFIG_VISCONTI_WATCHDOG=y
CONFIG_HOTPLUG_SMT=y
CONFIG_SPRD_WATCHDOG=y
CONFIG_PHY_QCOM_QMP_USB=y
CONFIG_COMMON_CLK_XGENE=y
CONFIG_TRACE_IRQFLAGS_NMI_SUPPORT=y
CONFIG_NVMEM_LAN9662_OTPC=y
CONFIG_HAVE_HARDLOCKUP_DETECTOR_BUDDY=y
CONFIG_SCHED_HRTICK=y
CONFIG_SC_CAMCC_8280XP=y
CONFIG_MFD_MAX77714=y
CONFIG_NSM=y
CONFIG_SERIAL_LITEUART=y
CONFIG_SDX_GCC_55=y
CONFIG_ARCH_HAS_TICK_BROADCAST=y
CONFIG_MTD_JEDECPROBE=y
CONFIG_I2C_LS2X_V2=y
CONFIG_CLK_GFM_LPASS_SM8250=y
CONFIG_IOMMU_IO_PGTABLE=y
CONFIG_MTD_ONENAND_2X_PROGRAM=y
CONFIG_SENSORS_ADM1031=y
CONFIG_PINCTRL_SOPHGO_CV1800B=y
CONFIG_HW_RANDOM_NPCM=y
CONFIG_IOMMUFD=y
CONFIG_CORESIGHT_DUMMY=y
CONFIG_I2C_MT7621=y
CONFIG_PINCTRL_PFC_R8A7790=y
CONFIG_CLK_RCAR_GEN3_CPG=y
CONFIG_REGULATOR_AAT2870=y
CONFIG_COMMON_CLK_HI3660=y
CONFIG_ARCH_HAS_RESET_CONTROLLER=y
CONFIG_TOUCHSCREEN_ST1232=y
CONFIG_NVMEM_SYSFS=y
CONFIG_PHY_MESON_AXG_MIPI_DPHY=y
CONFIG_CRYPTO_LRW=y
CONFIG_CAVIUM_ERRATUM_23154=y
CONFIG_POWER_RESET_SYSCON_POWEROFF=y
CONFIG_MSM_GCC_8953=y
CONFIG_SENSORS_NCT7802=y
CONFIG_GPIO_SIM=y
CONFIG_USB_CHAOSKEY=y
CONFIG_PINCTRL_AS3722=y
CONFIG_I2C_CHARDEV=y
CONFIG_PINCTRL_ASPEED=y
CONFIG_SC_VIDEOCC_7280=y
CONFIG_JOYSTICK_SIDEWINDER=y
CONFIG_NLS_ISO8859_15=y
CONFIG_FPGA_MGR_SOCFPGA=y
CONFIG_RESET_SOCFPGA=y
CONFIG_QCOM_HFPLL=y
CONFIG_PHY_EYEQ5_ETH=y
CONFIG_S3C64XX_COMMON_CLK=y
CONFIG_COMMON_CLK_MT8173_MMSYS=y
CONFIG_KMALLOC_PARTITION_RANDOM=y
CONFIG_HAVE_PCI=y
CONFIG_QCM_GCC_2290=y
CONFIG_IOMMUFD_DRIVER_CORE=y
CONFIG_POSIX_TIMERS=y
CONFIG_DMA_CMA=y
CONFIG_EXT4_FS=y
CONFIG_TOUCHSCREEN_ATMEL_MXT=y
CONFIG_HW_PERF_EVENTS=y
CONFIG_ARCH_HAS_FAST_MULTIPLIER=y
CONFIG_IPMMU_VMSA=y
CONFIG_MULTIUSER=y
CONFIG_INTEL_STRATIX10_RSU=y
CONFIG_HID_SPEEDLINK=y
CONFIG_TWL6040_CORE=y
CONFIG_TOUCHSCREEN_MX25=y
CONFIG_NLS_UTF8=y
CONFIG_VFIO=y
CONFIG_TOUCHSCREEN_USB_GENERAL_TOUCH=y
CONFIG_ARM_IMX_BUS_DEVFREQ=y
CONFIG_TRACE_GPU_MEM=y
CONFIG_LD_IS_BFD=y
CONFIG_PHY_QCOM_QMP_UFS=y
CONFIG_REGULATOR_MAX77541=y
CONFIG_VFIO_PLATFORM_BCMFLEXRM_RESET=y
CONFIG_CHARGER_SC2731=y
CONFIG_MFD_MT6397=y
CONFIG_ARCH_SUPPORTS_SCHED_SMT=y
CONFIG_VT=y
CONFIG_REGULATOR_LP872X=y
CONFIG_PINCTRL_SOPHGO_SG2000=y
CONFIG_SHUFFLE_PAGE_ALLOCATOR=y
CONFIG_HAVE_DMA_CONTIGUOUS=y
CONFIG_DEBUG_LOCK_ALLOC=y
CONFIG_RESET_SPACEMIT_K3=y
CONFIG_AT91_SOC_SFR=y
CONFIG_GPIO_WATCHDOG=y
CONFIG_AHCI_IMX=y
CONFIG_ATMEL_PIT=y
CONFIG_COMMON_CLK_RS9_PCIE=y
CONFIG_ARCH_PENSANDO=y
CONFIG_PINCTRL_MTK_MOORE=y
CONFIG_LEDS_LP5523=y
CONFIG_POWER_RESET_XGENE=y
CONFIG_PHY_MTK_MIPI_CSI_0_5=y
CONFIG_EXTCON_QCOM_SPMI_MISC=y
CONFIG_ARCH_HAS_STRICT_KERNEL_RWX=y
CONFIG_ARCH_HAS_FORTIFY_SOURCE=y
CONFIG_MTD_NAND_ECC_MEDIATEK=y
CONFIG_GPIO_EP93XX=y
CONFIG_HAVE_DYNAMIC_FTRACE=y
CONFIG_CRYPTO_LIB_POLY1305_ARCH=y
CONFIG_PINCTRL_MSM8976=y
CONFIG_CLK_R8A774C0=y
CONFIG_IMX_GPCV2_PM_DOMAINS=y
