CONFIG_ARCH_SUPPORTS_CFI=n
CONFIG_RPMSG_QCOM_GLINK_RPM=n
CONFIG_TYPEC_TCPCI=n
CONFIG_BLOCK_HOLDER_DEPRECATED=n
CONFIG_STACKTRACE_SUPPORT=n
CONFIG_PAGE_SIZE_4KB=n
CONFIG_PINCTRL_MT8195=n
CONFIG_COMMON_CLK_MT8167_MFGCFG=n
CONFIG_ACPI_APMT=n
CONFIG_CRYPTO_DEV_BCM_SPU=n
CONFIG_COMMON_CLK_MT8192_IMGSYS=n
CONFIG_AUDIT_COMPAT_GENERIC=n
CONFIG_SND_HDA_CODEC_HDMI_TEGRA=n
CONFIG_ARCH_VISCONTI=n
CONFIG_STM32MP_EXTI=n
CONFIG_SPI_OMAP24XX=n
CONFIG_HAS_IOPORT_MAP=n
CONFIG_SC_DISPCC_8280XP=n
CONFIG_MTK_SMI=n
CONFIG_PINCTRL_PFC_R8A774A1=n
CONFIG_I2C_MUX=n
CONFIG_I2C_RCAR=n
CONFIG_MITIGATE_SPECTRE_BRANCH_HISTORY=n
CONFIG_PINCTRL_IMX8MP=n
CONFIG_APPLE_M1_CPU_PMU=n
CONFIG_HAVE_KVM_DIRTY_RING_ACQ_REL=n
CONFIG_SND_USB=n
CONFIG_QUOTACTL=n
CONFIG_CLK_RCAR_GEN4_CPG=n
CONFIG_VIDEO_HANTRO_STM32MP25=n
CONFIG_DRM_ROCKCHIP=n
CONFIG_SENSORS_TMP102=n
CONFIG_PCI_BRIDGE_EMUL=n
CONFIG_INTERCONNECT_CLK=n
CONFIG_SERIAL_TEGRA_TCU_CONSOLE=n
CONFIG_ARM_ARCH_TIMER_OOL_WORKAROUND=n
CONFIG_USB_OHCI_HCD_PCI=n
CONFIG_IO_URING_BPF=n
CONFIG_COMMON_CLK_STM32MP=n
CONFIG_SND_SIMPLE_CARD_UTILS=n
CONFIG_USB_COMMON=n
CONFIG_QCOM_HFPLL=n
CONFIG_CLK_RK3399=n
CONFIG_I2C_APPLE=n
CONFIG_QCOM_TZMEM=n
CONFIG_BT_QCA=n
CONFIG_PWM_RENESAS_TPU=n
CONFIG_MMC_TMIO_CORE=n
CONFIG_DRM_PANEL_MANTIX_MLAF057WE51=n
CONFIG_USB_EHCI_ROOT_HUB_TT=n
CONFIG_USB_XHCI_HCD=n
CONFIG_SND_HDA_CODEC_HDMI=n
CONFIG_SRAM=n
CONFIG_RTC_DRV_CROS_EC=n
CONFIG_USB_NET_DRIVERS=n
CONFIG_USB_CONFIGFS=n
CONFIG_QCOM_GPI_DMA=n
CONFIG_REGULATOR_PWM=n
CONFIG_EXYNOS_CLKOUT=n
CONFIG_PCI_IMX6_HOST=n
CONFIG_ARCH_SUPPORTS_LTO_CLANG=n
CONFIG_MTD_SST25L=n
CONFIG_CLK_RZV2H=n
CONFIG_INTERCONNECT_IMX=n
CONFIG_HAVE_HW_BREAKPOINT=n
CONFIG_THUNDER_NIC_PF=n
CONFIG_DRM_DISPLAY_DP_AUX_BUS=n
CONFIG_USB_CHIPIDEA_PCI=n
CONFIG_SUN55I_A523_MCU_CCU=n
CONFIG_PM_DEVFREQ=n
CONFIG_CLK_LS1028A_PLLDIG=n
CONFIG_INTERVAL_TREE=n
CONFIG_PINCTRL_IMX8MQ=n
CONFIG_GPIO_SL28CPLD=n
CONFIG_HAVE_CMPXCHG_DOUBLE=n
CONFIG_REGMAP_SPMI=n
CONFIG_MLX4_CORE=n
CONFIG_XEN_PCI_STUB=n
CONFIG_DRM_I2C_ADV7511_AUDIO=n
CONFIG_TEGRA_IVC=n
CONFIG_TASK_IO_ACCOUNTING=n
CONFIG_QCOM_WCNSS_CTRL=n
CONFIG_SERIAL_8250_PERICOM=n
CONFIG_TOUCHSCREEN_GOODIX_BERLIN_SPI=n
CONFIG_QCOM_SPMI_ADC_TM5=n
CONFIG_DRM_CLIENT_SETUP=n
CONFIG_RESET_BERLIN=n
CONFIG_WLAN_VENDOR_ST=n
CONFIG_SPI_APPLE=n
CONFIG_SND_SOC_MT8365_MT6357=n
CONFIG_VIDEO_QCOM_CAMSS=n
CONFIG_USB_STORAGE=n
CONFIG_SCSI_MPT3SAS=n
CONFIG_CC_NO_ARRAY_BOUNDS=n
CONFIG_CROS_EC_I2C=n
CONFIG_SYSC_RCAR=n
CONFIG_RFKILL_LEDS=n
CONFIG_RD_LZ4=n
CONFIG_MMC_DW_K3=n
CONFIG_HID_GENERIC=n
CONFIG_USB_DWC3_EXYNOS=n
CONFIG_MIGRATION=n
CONFIG_BT=n
CONFIG_DMA_COHERENT_POOL=n
CONFIG_RPMSG_CTRL=n
CONFIG_V4L2_MEM2MEM_DEV=n
CONFIG_SND_SOC_TS3A227E=n
CONFIG_MFD_STM32_LPTIMER=n
CONFIG_ARCH_R8A774C0=n
CONFIG_VFIO_VIRQFD=n
CONFIG_SYS_R9A09G047=n
CONFIG_SERIAL_STM32_CONSOLE=n
CONFIG_INTERCONNECT_QCOM_SM8750=n
CONFIG_GNSS_SERIAL=n
CONFIG_MFD_ALTERA_SYSMGR=n
CONFIG_RESET_MESON=n
CONFIG_PINCTRL_PFC_R8A77951=n
CONFIG_XLNX_EVENT_MANAGER=n
CONFIG_CAVIUM_ERRATUM_22375=n
CONFIG_INTERCONNECT_QCOM_X1E80100=n
CONFIG_VFIO_PCI=n
CONFIG_CHROME_PLATFORMS=n
CONFIG_HOTPLUG_CPU=n
CONFIG_ZSTD_DECOMPRESS=n
CONFIG_QCOM_IRQ_COMBINER=n
CONFIG_SND_SOC_LPASS_SC7280=n
CONFIG_ARCH_HAS_ACPI_TABLE_UPGRADE=n
CONFIG_PCIE_BRCMSTB=n
CONFIG_ACPI_APEI_GHES=n
CONFIG_QCOM_APR=n
CONFIG_IMX_GPCV2=n
CONFIG_IWLWIFI_OPMODE_MODULAR=n
CONFIG_SND_SOC_SOF_OF=n
CONFIG_MACB_USE_HWSTAMP=n
CONFIG_INPUT_PM8941_PWRKEY=n
CONFIG_PINCTRL_MT8196=n
CONFIG_DEVFREQ_THERMAL=n
CONFIG_PCI_LAYERSCAPE=n
CONFIG_DPAA_ERRATUM_A050385=n
CONFIG_PHY_ROCKCHIP_INNO_HDMI=n
CONFIG_BT_HCIUART_MRVL=n
CONFIG_SPI_MEM=n
CONFIG_IPMI_HANDLER=n
CONFIG_IGB_HWMON=n
CONFIG_NETFILTER_XT_MATCH_CONNTRACK=n
CONFIG_SA_DISPCC_8775P=n
CONFIG_QCOM_BAM_DMA=n
CONFIG_NET_SCH_FIFO=n
CONFIG_COMMON_CLK_MT8196_MDPSYS=n
CONFIG_HAVE_PREEMPT_DYNAMIC_KEY=n
CONFIG_ROCKCHIP_DW_HDMI=n
CONFIG_BLK_DEV_BSG=n
CONFIG_OF_NUMA=n
CONFIG_MTD_NAND_ECC=n
CONFIG_NETFILTER_XT_TARGET_LOG=n
CONFIG_MCHP_CLK_MPFS=n
CONFIG_RTC_DRV_ZYNQMP=n
CONFIG_SOC_RENESAS=n
CONFIG_QCOM_SOCINFO=n
CONFIG_INPUT_TPS6594_PWRBUTTON=n
CONFIG_PINCTRL_SOPHGO_CV18XX_OPS=n
CONFIG_BT_HCIBTUSB=n
CONFIG_CRYPTO_DEV_ALLWINNER=n
CONFIG_GPIO_WCD934X=n
CONFIG_IPQ_GCC_8074=n
CONFIG_CHARGER_RK817=n
CONFIG_DRM_RCAR_CMM=n
CONFIG_DRM_MSM_KMS_FBDEV=n
CONFIG_DRM_MEDIATEK_HDMI=n
CONFIG_ARM64_WORKAROUND_SPECULATIVE_UNPRIV_LOAD=n
CONFIG_CC_NO_STRINGOP_OVERFLOW=n
CONFIG_USB_F_RNDIS=n
CONFIG_SM_TCSRCC_8750=n
CONFIG_INPUT_FF_MEMLESS=n
CONFIG_ARCH_HAS_KCOV=n
CONFIG_SERIAL_MSM=n
CONFIG_SPI_ROCKCHIP=n
CONFIG_GPIO_EN7523=n
CONFIG_DP83TG720_PHY=n
CONFIG_MTK_INFRACFG=n
CONFIG_RESET_UNIPHIER=n
CONFIG_SUN8I_R_CCU=n
CONFIG_CLK_BCM2711_DVP=n
CONFIG_MACVTAP=n
CONFIG_COUNTER=n
CONFIG_MTD_CFI_NOSWAP=n
CONFIG_HAVE_PV_STEAL_CLOCK_GEN=n
CONFIG_CRYPTO_SIG=n
CONFIG_TI_K3_M4_REMOTEPROC=n
CONFIG_PHY_QCOM_USB_HS_28NM=n
CONFIG_SND_SOC_WCD938X_SDW=n
CONFIG_TPS6594_PFSM=n
CONFIG_HISI_PMU=n
CONFIG_INPUT_SPARSEKMAP=n
CONFIG_ARCH_HAS_SET_MEMORY=n
CONFIG_PINCTRL_IMX91=n
CONFIG_DRM_PANEL_RAYDIUM_RM67191=n
CONFIG_SPARSEMEM=n
CONFIG_SH_ETH=n
CONFIG_ROCKCHIP_VOP=n
CONFIG_RESET_UNIPHIER_GLUE=n
CONFIG_I2C_MV64XXX=n
CONFIG_PHY_UNIPHIER_USB2=n
CONFIG_MOUSE_ELAN_I2C_I2C=n
CONFIG_MMC_SDHCI_OF_DWCMSHC=n
CONFIG_USB_SERIAL=n
CONFIG_VCHIQ_CDEV=n
CONFIG_CRYPTO_LIB_SHA512_ARCH=n
CONFIG_SUNRPC_GSS=n
CONFIG_ARCH_SUPPORTS_ATOMIC_RMW=n
CONFIG_SC_GCC_7280=n
CONFIG_MEDIA_HIDE_ANCILLARY_SUBDRV=n
CONFIG_IR_GPIO_CIR=n
CONFIG_XILINX_PR_DECOUPLER=n
CONFIG_QRTR_SMD=n
CONFIG_ASYNC_TX_DISABLE_PQ_VAL_DMA=n
CONFIG_MMU_GATHER_TABLE_FREE=n
CONFIG_FSL_ERRATUM_A008585=n
CONFIG_SND_MESON_AIU=n
CONFIG_GPIO_SHARED_PROXY=n
CONFIG_SDM_GCC_845=n
CONFIG_ARCH_HAS_SET_DIRECT_MAP=n
CONFIG_COMMON_CLK_MT8192_MDPSYS=n
CONFIG_ENERGY_MODEL=n
CONFIG_ARM_PMUV3=n
CONFIG_SND_AUDIO_GRAPH_CARD=n
CONFIG_OMAP2PLUS_MBOX=n
CONFIG_STRICT_DEVMEM=n
CONFIG_SUN50I_H6_CCU=n
CONFIG_DRM_CDNS_MHDP8546_J721E=n
CONFIG_MT7921E=n
CONFIG_PCPU_DEV_REFCNT=n
CONFIG_USB_DWC3_DUAL_ROLE=n
CONFIG_HAVE_KVM_IRQCHIP=n
CONFIG_DRM_PANEL_SAMSUNG_ATNA33XC20=n
CONFIG_NVMEM_ZYNQMP=n
CONFIG_FPGA_MGR_VERSAL_FPGA=n
CONFIG_MODULE_UNLOAD=n
CONFIG_HSR=n
CONFIG_BGMAC_PLATFORM=n
CONFIG_COMMON_CLK_MT8195_IMP_IIC_WRAP=n
CONFIG_DW_APB_TIMER=n
CONFIG_USB_HID=n
CONFIG_ATH12K=n
CONFIG_PWRSEQ_SIMPLE=n
CONFIG_SND_COMPRESS_ACCEL=n
CONFIG_PHY_RCAR_GEN3_USB2=n
CONFIG_CLK_R9A08G046=n
CONFIG_SPI_MESON_SPIFC=n
CONFIG_SPI_SH_MSIOF=n
CONFIG_ARCH_HAS_SETUP_DMA_OPS=n
CONFIG_USB_SERIAL_WWAN=n
CONFIG_POWER_RESET_SYSCON_POWEROFF=n
CONFIG_PSTORE_RAM=n
CONFIG_V4L2_JPEG_HELPER=n
CONFIG_IIO_ST_LSM6DSX_I2C=n
CONFIG_RUNTIME_TESTING_MENU=n
CONFIG_KVM_GUEST_MEMFD=n
CONFIG_CRYPTO_AEAD2=n
CONFIG_SND_SOC_WM8960=n
CONFIG_EXYNOS_PMU=n
CONFIG_DRM_MSM_KMS=n
CONFIG_BT_HCIUART=n
CONFIG_HAVE_ARCH_AUDITSYSCALL=n
CONFIG_PCIE_APPLE=n
CONFIG_ACPI_BUTTON=n
CONFIG_PINCTRL_IPQ9574=n
CONFIG_PINCTRL_MSM8976=n
CONFIG_COMMON_CLK_MT7986_ETHSYS=n
CONFIG_VIDEO_AMPHION_VPU=n
CONFIG_INTERCONNECT_QCOM_QCS8300=n
CONFIG_SND_COMPRESS_OFFLOAD=n
CONFIG_GENERIC_PINCTRL_GROUPS=n
CONFIG_SUNXI_NMI_INTC=n
CONFIG_SND_SOC_SOF_TOPLEVEL=n
CONFIG_CEC_NXP_TDA9950=n
CONFIG_USB_CONFIGFS_ECM_SUBSET=n
CONFIG_PCIE_XILINX=n
CONFIG_ARM64_TLB_RANGE=n
CONFIG_USB_XHCI_SIDEBAND=n
CONFIG_SERIAL_8250=n
CONFIG_FSL_FMAN=n
CONFIG_MMC_ARMMMCI=n
CONFIG_BPF_UNPRIV_DEFAULT_OFF=n
CONFIG_CROS_EC_TYPEC_ALTMODES=n
CONFIG_DRM_DW_HDMI=n
CONFIG_INTERCONNECT_IMX8MP=n
CONFIG_GPIOLIB_IRQCHIP=n
CONFIG_CPU_MITIGATIONS=n
CONFIG_ARCH_BCM_IPROC=n
CONFIG_CGROUP_HUGETLB=n
CONFIG_PROC_MEM_FORCE_PTRACE=n
CONFIG_REGMAP_I2C=n
CONFIG_DRM_SUN6I_DSI=n
CONFIG_IMX_SCMI_CPU_EXT=n
CONFIG_ARCH_SPRD=n
CONFIG_PINCTRL_MT8173=n
CONFIG_PINCTRL_PFC_R8A774E1=n
CONFIG_RENESAS_RZG2LWDT=n
CONFIG_SBITMAP=n
