CONFIG_PATA_RZ1000=y
CONFIG_MTD_SBC_GXX=y
CONFIG_INPUT_88PM80X_ONKEY=y
CONFIG_PATA_TIMINGS=y
CONFIG_SPI_QUP=y
CONFIG_SOFTIRQ_ON_OWN_STACK=y
CONFIG_BMA220_SPI=y
CONFIG_REGULATOR_MT6311=y
CONFIG_MTD_NAND_PLATFORM=y
CONFIG_ARCH_MHP_MEMMAP_ON_MEMORY_ENABLE=y
CONFIG_SH_TIMER_TMU=y
CONFIG_PINCTRL_SA8775P=y
CONFIG_HID_GREENASIA=y
CONFIG_FSL_EDMA=y
CONFIG_CRYPTO_DEV_QCOM_RNG=y
CONFIG_INTERCONNECT_IMX=y
CONFIG_PINCTRL_STM32F769=y
CONFIG_IOMMUFD=y
CONFIG_LEDS_ARIEL=y
CONFIG_NVMEM_SPRD_EFUSE=y
CONFIG_HAVE_IRQ_TIME_ACCOUNTING=y
CONFIG_TCG_TIS_I2C=y
CONFIG_BACKLIGHT_RAVE_SP=y
CONFIG_SERIO_ARC_PS2=y
CONFIG_IMX_MBOX=y
CONFIG_SPI_BCM_QSPI=y
CONFIG_MTD_NAND_DENALI=y
CONFIG_CLK_X1P42100_VIDEOCC=y
CONFIG_NETWORK_SECMARK=y
CONFIG_PINCTRL_ZYNQ=y
CONFIG_X86_DISABLED_FEATURE_INVLPGB=y
CONFIG_BCMA_DEBUG=y
CONFIG_SPI_GPIO=y
CONFIG_PHY_FSL_LYNX_CORE=y
CONFIG_SENSORS_Q54SJ108A2=y
CONFIG_GENERIC_ALLOCATOR=y
CONFIG_PCIE_MEDIATEK_GEN3=y
CONFIG_SENSORS_CGBC=y
CONFIG_CPUMASK_OFFSTACK=y
CONFIG_RD_LZO=y
CONFIG_STATIC_CALL_SELFTEST=y
CONFIG_X86_SUPPORTS_MEMORY_FAILURE=y
CONFIG_ZLIB_INFLATE=y
CONFIG_RMI4_F3A=y
CONFIG_SOC_TEGRA30_VOLTAGE_COUPLER=y
CONFIG_X86_32=y
CONFIG_WATCHDOG_NOWAYOUT=y
CONFIG_BINFMT_MISC=y
CONFIG_W1_SLAVE_DS2431=y
CONFIG_GAMEPORT_FM801=y
CONFIG_SECURITYFS=y
CONFIG_ARCH_HAS_NMI_SAFE_THIS_CPU_OPS=y
CONFIG_LEDS_KTD202X=y
CONFIG_SOCK_RX_QUEUE_MAPPING=y
CONFIG_MTD_NAND_ECC_SW_BCH=y
CONFIG_GPIO_PXA=y
CONFIG_CM32181=y
CONFIG_NETWORK_FILESYSTEMS=y
CONFIG_PHY_HI3660_USB=y
CONFIG_I2CR_SCOM=y
CONFIG_AD2S1200=y
CONFIG_DEBUG_PAGEALLOC_ENABLE_DEFAULT=y
CONFIG_BITREVERSE=y
CONFIG_PCSPKR_PLATFORM=y
CONFIG_MAX30102=y
CONFIG_AD4080=y
CONFIG_CLK_R8A77990=y
CONFIG_SMP=y
CONFIG_SERIAL_SPRD=y
CONFIG_HAVE_RSEQ=y
CONFIG_PCIEASPM=y
CONFIG_PINCTRL_SC8280XP=y
CONFIG_GPIO_SL28CPLD=y
CONFIG_ISL29501=y
CONFIG_COMMON_CLK_MT2712_MFGCFG=y
CONFIG_CRYPTO_LZ4=y
CONFIG_REF_TRACKER=y
CONFIG_SPI_MXIC=y
CONFIG_PCI_IOV=y
CONFIG_BATTERY_CHARGER_SURFACE_RT=y
CONFIG_ETHTOOL_NETLINK=y
CONFIG_FB_SVGALIB=y
CONFIG_NVMEM_LPC18XX_EEPROM=y
CONFIG_ARCH_HAS_MEM_ENCRYPT=y
CONFIG_IPQ_NSSCC_5424=y
CONFIG_SYSFB_SIMPLEFB=y
CONFIG_BLK_INLINE_ENCRYPTION_FALLBACK=y
CONFIG_NLS_ISO8859_4=y
CONFIG_SENSEAIR_SUNRISE_CO2=y
CONFIG_LTR501=y
CONFIG_X86_P4_CLOCKMOD=y
CONFIG_GPIO_VX855=y
CONFIG_FUNCTION_ALIGNMENT_16B=y
CONFIG_W83877F_WDT=y
CONFIG_PINCTRL_MDM9615=y
CONFIG_PINCTRL_STM32F469=y
CONFIG_RD_XZ=y
CONFIG_KS0108=y
CONFIG_DEBUG_LOCK_ALLOC=y
CONFIG_PINCTRL_MT7986=y
CONFIG_CLK_BCM63268_TIMER=y
CONFIG_PCI_GOMMCONFIG=y
CONFIG_INPUT_KXTJ9=y
CONFIG_IIO_STM32_LPTIMER_TRIGGER=y
CONFIG_AMD_SFH_HID=y
CONFIG_SENSORS_TPS25990=y
CONFIG_INPUT_ARIEL_PWRBUTTON=y
CONFIG_GPIO_MAX7300=y
CONFIG_UIO=y
CONFIG_EC_LENOVO_YOGA_C630=y
CONFIG_MOXA_SMARTIO=y
CONFIG_COMMON_CLK_MT6779_VDECSYS=y
CONFIG_MICROCODE_INITRD32=y
CONFIG_TI_ADC0832=y
CONFIG_LRU_GEN_STATS=y
CONFIG_SPI_MASTER=y
CONFIG_CLK_R8A779H0=y
CONFIG_PCI_LOCKLESS_CONFIG=y
CONFIG_VL53L0X_I2C=y
CONFIG_I2C_HID_OF_GOODIX=y
CONFIG_I2C_NPCM=y
CONFIG_CONTEXT_TRACKING=y
CONFIG_GPIO_PCIE_IDIO_24=y
CONFIG_GPIO_MOCKUP=y
CONFIG_CLKSRC_PXA=y
CONFIG_PREVENT_FIRMWARE_BUILD=y
CONFIG_BACKLIGHT_KTZ8866=y
CONFIG_IIO_BACKEND=y
CONFIG_GPIO_TEGRA186=y
CONFIG_MFD_KEMPLD=y
CONFIG_PINCTRL_MTK_PARIS=y
CONFIG_SERIO_RAW=y
CONFIG_COMMON_CLK_MT8188_ADSP_AUDIO26M=y
CONFIG_AD7405=y
CONFIG_NLS_CODEPAGE_775=y
CONFIG_RESET_TEGRA_BPMP=y
CONFIG_X86_DISABLED_FEATURE_FRED=y
CONFIG_SENSORS_MAX6639=y
CONFIG_SDM_LPASSCC_845=y
CONFIG_CRYPTO_CRC32=y
CONFIG_SERIAL_RDA_CONSOLE=y
CONFIG_COMEDI_NI_ATMIO=y
CONFIG_I2C_MUX_GPMUX=y
CONFIG_QCOM_WDT=y
CONFIG_MQ_IOSCHED_DEADLINE=y
CONFIG_TRUSTED_KEYS=y
CONFIG_COMMON_CLK_MT8167_AUDSYS=y
CONFIG_CPU_FREQ_GOV_SCHEDUTIL=y
CONFIG_HAVE_ASM_MODVERSIONS=y
CONFIG_PINCTRL_IPQ4019=y
CONFIG_CRYPTO_DEV_ATMEL_AUTHENC=y
CONFIG_MTD_NAND_DISKONCHIP_PROBE_HIGH=y
CONFIG_PAGE_REPORTING=y
CONFIG_DEBUG_TLBFLUSH=y
CONFIG_FB_FOREIGN_ENDIAN=y
CONFIG_CRYPTO_AUTHENC=y
CONFIG_CHECK_SIGNATURE=y
CONFIG_BPF_JIT=y
CONFIG_PINCTRL_SDX55=y
CONFIG_SENSORS_MAX16601=y
CONFIG_SCSI_UFS_VARIABLE_SG_ENTRY_SIZE=y
CONFIG_PINCTRL_NORD=y
CONFIG_INA2XX_ADC=y
CONFIG_NVMEM_SPMI_SDAM=y
CONFIG_MD_RAID10=y
CONFIG_BCMA_DRIVER_GPIO=y
CONFIG_COMEDI_AMPLC_DIO200_ISA=y
CONFIG_DEBUG_ENTRY=y
CONFIG_PHY_MTK_MIPI_DSI=y
CONFIG_GPIO_RASPBERRYPI_EXP=y
CONFIG_COMEDI_II_PCI20KC=y
CONFIG_C2PORT_DURAMAR_2150=y
CONFIG_FB_SYS_FILLRECT=y
CONFIG_REGMAP_SPI_AVMM=y
CONFIG_DECOMPRESS_GZIP=y
CONFIG_SM_GPUCC_8550=y
CONFIG_TSL2772=y
CONFIG_SENSORS_VIA686A=y
CONFIG_TSL2591=y
CONFIG_GENERIC_IRQ_MIGRATION=y
CONFIG_ARCH_HAS_SYSCALL_WRAPPER=y
CONFIG_ALIM7101_WDT=y
CONFIG_TCS3414=y
CONFIG_CLK_RENESAS_CPG_MSTP=y
CONFIG_NET_DEVLINK=y
CONFIG_SATA_INIC162X=y
CONFIG_AHCI_ST=y
CONFIG_CLK_R8A7745=y
CONFIG_JOYSTICK_ANALOG=y
CONFIG_GENERIC_BITREVERSE=y
CONFIG_SERIAL_SH_SCI_EARLYCON=y
CONFIG_HW_RANDOM_JH7110=y
CONFIG_X86_SPEEDSTEP_CENTRINO=y
CONFIG_MILBEAUT_HDMAC=y
CONFIG_FB_SYSMEM_HELPERS_DEFERRED=y
CONFIG_CRYPTO_HASH=y
CONFIG_MFD_SI476X_CORE=y
CONFIG_ARM_MEDIATEK_CPUFREQ=y
CONFIG_PCIE_RCAR_GEN4_HOST=y
CONFIG_BPF_SYSCALL=y
CONFIG_RESET_BERLIN=y
CONFIG_INGENIC_CGU_JZ4760=y
CONFIG_HW_RANDOM_EXYNOS=y
CONFIG_MFD_STPMIC1=y
CONFIG_AD7173=y
CONFIG_XILINX_WINDOW_WATCHDOG=y
CONFIG_COMMON_CLK_MT6779=y
CONFIG_DMA_ENGINE_RAID=y
CONFIG_BCM_IPROC_ADC=y
CONFIG_FPGA_MGR_XILINX_CORE=y
CONFIG_GPIO_DWAPB=y
CONFIG_STM32_DAC=y
CONFIG_MFD_LM3533=y
CONFIG_MISC_RTSX_PCI=y
CONFIG_TASKS_RCU=y
CONFIG_REGULATOR_QCOM_RPMH=y
CONFIG_SENSORS_NPCM7XX=y
CONFIG_MFD_DA9150=y
CONFIG_COMEDI_DAS6402=y
CONFIG_MFD_RSMU_SPI=y
CONFIG_NLS_ISO8859_9=y
CONFIG_LITEX=y
CONFIG_HID_EMS_FF=y
CONFIG_UNION_FIND=y
CONFIG_BT_HCIUART_3WIRE=y
CONFIG_MFD_CS5535=y
CONFIG_INTERCONNECT_MTK=y
CONFIG_CLK_ACTIONS=y
CONFIG_HAVE_MMIOTRACE_SUPPORT=y
CONFIG_PINCONF=y
CONFIG_SG_SPLIT=y
CONFIG_MFD_GATEWORKS_GSC=y
CONFIG_ARCH_FLATMEM_ENABLE=y
CONFIG_MFD_RK8XX_I2C=y
CONFIG_HTE_TEGRA194_TEST=y
CONFIG_TRACING_SUPPORT=y
CONFIG_SPI_BCM63XX=y
CONFIG_GPIB_HP82341=y
CONFIG_HMC425=y
CONFIG_FXOS8700_I2C=y
CONFIG_INFINEON_TLV493D=y
CONFIG_INPUT_AW86927=y
CONFIG_TI_FPC202=y
CONFIG_BH1750=y
CONFIG_PINCTRL_BCM63XX=y
CONFIG_EXT4_FS_POSIX_ACL=y
CONFIG_RESET_BRCMSTB=y
CONFIG_SPI_JCORE=y
CONFIG_ARCH_CORRECT_STACKTRACE_ON_KRETPROBE=y
CONFIG_BT_HCIVHCI=y
CONFIG_LEDS_LP5521=y
CONFIG_MSM_GCC_8953=y
CONFIG_REGULATOR_RC5T583=y
CONFIG_PINCTRL_WM8750=y
CONFIG_FB_SAVAGE_I2C=y
CONFIG_RAPIDIO_DEBUG=y
CONFIG_LP_CONSOLE=y
CONFIG_CRYPTO_RNG=y
CONFIG_OF_FLATTREE=y
CONFIG_PINCTRL_IPQ5424=y
CONFIG_I8253_LOCK=y
CONFIG_CRYPTO_KRB5ENC=y
CONFIG_MCP4018=y
CONFIG_NVMEM_AN8855_EFUSE=y
CONFIG_GPIO_VIRTIO=y
CONFIG_PATA_NS87410=y
CONFIG_BATTERY_LENOVO_YOGA_C630=y
CONFIG_SERIAL_ARC=y
CONFIG_PGTABLE_HAS_HUGE_LEAVES=y
CONFIG_APPLE_WATCHDOG=y
CONFIG_LEDS_NCP5623=y
CONFIG_CC_HAS_ENTRY_PADDING=y
CONFIG_REGULATOR_USERSPACE_CONSUMER=y
CONFIG_IIO_TRIGGERED_EVENT=y
CONFIG_SERIAL_8250_EM=y
CONFIG_QCOM_SCM=y
CONFIG_BT_QCA=y
CONFIG_TCG_TIS_ST33ZP24_I2C=y
CONFIG_SERIAL_NUVOTON_MA35D1=y
CONFIG_GENERIC_CMOS_UPDATE=y
CONFIG_GPIO_RDC321X=y
CONFIG_PINCTRL_CYGNUS_MUX=y
CONFIG_ALTERA_STAPL=y
CONFIG_COMMON_CLK_MT8192_AUDSYS=y
CONFIG_MTD_NAND_SLC_LPC32XX=y
CONFIG_BT_MTK=y
CONFIG_PINCTRL_SOPHGO_SG2000=y
CONFIG_SPI_AMD=y
CONFIG_GPIO_CGBC=y
CONFIG_EXTCON_QCOM_SPMI_MISC=y
CONFIG_GPIO_DAVINCI=y
CONFIG_PCI_PWRCTRL_GENERIC=y
CONFIG_IRQ_WORK=y
CONFIG_SENSORS_LTC2947_SPI=y
CONFIG_I2C_S3C2410=y
CONFIG_MSC313E_WATCHDOG=y
CONFIG_I2C=y
CONFIG_PINCTRL_SKY1=y
CONFIG_CHARGER_LP8727=y
CONFIG_CRC8=y
CONFIG_PINCTRL_QCS404=y
CONFIG_ARCH_USE_QUEUED_SPINLOCKS=y
CONFIG_BUFFER_HEAD=y
CONFIG_REGULATOR_SC2731=y
CONFIG_SPI_LANTIQ_SSC=y
CONFIG_ARCH_HAS_CPU_RELAX=y
CONFIG_SPRD_SC9860_CLK=y
CONFIG_PCIE_ROCKCHIP_DW_HOST=y
CONFIG_CRYPTO_AES_NI_INTEL=y
CONFIG_MSA311=y
CONFIG_PINCTRL_CANNONLAKE=y
CONFIG_SC_GCC_8180X=y
CONFIG_HSI_BOARDINFO=y
CONFIG_I2C_SIS630=y
CONFIG_SIOX=y
CONFIG_CLKEVT_I8253=y
CONFIG_CLK_BCM_SR=y
CONFIG_QCOM_QMI_HELPERS=y
CONFIG_OLPC_EC=y
CONFIG_CRYPTO_CHACHA20POLY1305=y
CONFIG_COMEDI_DT2815=y
CONFIG_AD7298=y
CONFIG_NET_SOCK_MSG=y
CONFIG_BATTERY_CPCAP=y
CONFIG_MFD_LP8788=y
CONFIG_PINCTRL_SH_FUNC_GPIO=y
CONFIG_SENSORS_MP2985=y
CONFIG_SC_GCC_8280XP=y
CONFIG_CPUFREQ_DT=y
CONFIG_PATA_PARPORT=y
CONFIG_MTD_PHRAM=y
CONFIG_PHY_PXA_28NM_HSIC=y
CONFIG_PINCTRL_PFC_SH7786=y
CONFIG_PROFILING=y
CONFIG_COMEDI_DAC02=y
CONFIG_MFD_HI6421_PMIC=y
CONFIG_SPI_MUX=y
CONFIG_ROHM_BD79124=y
CONFIG_SENSORS_TPS546D24=y
CONFIG_I2C_AT91_SLAVE_EXPERIMENTAL=y
CONFIG_PINCTRL_RK805=y
CONFIG_EXYNOS_IOMMU_DEBUG=y
CONFIG_HAVE_ARCH_KFENCE=y
CONFIG_CRYPTO_CBC=y
CONFIG_PHY_UNIPHIER_PCIE=y
CONFIG_X86_DISABLED_FEATURE_SEV_SNP=y
CONFIG_PATA_PARPORT_KTTI=y
CONFIG_CLK_R9A07G054=y
CONFIG_QCOM_SPMI_VADC=y
CONFIG_GPIO_ADNP=y
CONFIG_SPI_INGENIC=y
CONFIG_HID_ICADE=y
CONFIG_PMIC_DA9052=y
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO=y
CONFIG_SM_CAMCC_7150=y
CONFIG_X86_DISABLED_FEATURE_TDX_GUEST=y
CONFIG_CHARGER_RT9455=y
CONFIG_NVMEM_JZ4780_EFUSE=y
CONFIG_F2FS_CHECK_FS=y
CONFIG_PINCTRL_IMX1_CORE=y
CONFIG_HID_SUNPLUS=y
CONFIG_RSEQ=y
CONFIG_SATA_PMP=y
CONFIG_PHY_HISTB_COMBPHY=y
CONFIG_PINCTRL_STARFIVE_JH7110_AON=y
CONFIG_AUXDISPLAY=y
CONFIG_REGULATOR_STM32_VREFBUF=y
CONFIG_ARM_TI_CPUFREQ=y
CONFIG_SCHED_AUTOGROUP=y
CONFIG_CRYPTO_DEV_PADLOCK_SHA=y
CONFIG_CRC64=y
CONFIG_I2C_ISMT=y
CONFIG_RESET_TI_SYSCON=y
CONFIG_PINCTRL_PFC_R8A779A0=y
CONFIG_CC_HAS_NAMED_AS_FIXED_SANITIZERS=y
CONFIG_MFD_TPS6594_SPI=y
CONFIG_DMA_BCM2835=y
CONFIG_PINCTRL_BCM281XX=y
CONFIG_PINCTRL_RENESAS=y
CONFIG_IPQ_APSS_PLL=y
CONFIG_SCHED_STACK_END_CHECK=y
CONFIG_SM_GCC_4450=y
CONFIG_MXC6255=y
CONFIG_STATIC_KEYS_SELFTEST=y
CONFIG_REGULATOR_MP5416=y
CONFIG_RESET_TI_TPS380X=y
CONFIG_I2C_NOMADIK=y
CONFIG_FB_GEODE_GX1=y
CONFIG_SENSORS_QNAP_MCU_HWMON=y
CONFIG_COMMON_CLK_MT8365=y
CONFIG_SENSORS_NCT6775_I2C=y
CONFIG_MFD_ENE_KB3930=y
CONFIG_MCHP_EIC=y
CONFIG_INTERCONNECT_SAMSUNG=y
CONFIG_SENSORS_CORETEMP=y
CONFIG_MAX44009=y
CONFIG_PINCTRL_SDX65=y
CONFIG_GENERIC_GETTIMEOFDAY=y
CONFIG_I2C_WMT=y
CONFIG_SDM_CAMCC_845=y
CONFIG_NPCM7XX_TIMER=y
CONFIG_COMMON_CLK_MT7622_ETHSYS=y
CONFIG_MTD_AMD76XROM=y
CONFIG_GPIO_VF610=y
CONFIG_MB1232=y
CONFIG_SENSORS_NCT7363=y
CONFIG_IMX_IPUV3_CORE=y
CONFIG_SIGNALFD=y
CONFIG_FW_LOADER_PAGED_BUF=y
CONFIG_CC_CAN_LINK=y
CONFIG_HW_RANDOM_IMX_RNGC=y
CONFIG_SERIAL_QE=y
CONFIG_GPIO_AGGREGATOR=y
CONFIG_LOOPBACK_TARGET=y
CONFIG_NLS_KOI8_U=y
CONFIG_COMEDI_DAS800=y
CONFIG_MFD_STMPE=y
CONFIG_FB_IMSTT=y
CONFIG_CLK_SH73A0=y
CONFIG_CRYPTO_DEV_QAT_C3XXX=y
CONFIG_PCI=y
CONFIG_HOTPLUG_CORE_SYNC=y
CONFIG_SERIAL_LANTIQ_CONSOLE=y
CONFIG_ASYNC_XOR=y
CONFIG_HW_RANDOM_INGENIC_RNG=y
CONFIG_MFD_MT6397=y
CONFIG_BCM_KONA_WDT=y
CONFIG_SPI_REALTEK_SNAND=y
CONFIG_XGENE_DMA=y
CONFIG_MODULES_USE_ELF_REL=y
CONFIG_DEBUG_KMAP_LOCAL=y
CONFIG_60XX_WDT=y
CONFIG_CRYPTO_SERPENT_SSE2_586=y
CONFIG_DA9052_WATCHDOG=y
CONFIG_EXTCON_PALMAS=y
CONFIG_INPUT_GPIO_ROTARY_ENCODER=y
CONFIG_ADP810=y
CONFIG_SM_DISPCC_8750=y
CONFIG_SENSORS_LTC2978_REGULATOR=y
CONFIG_VIRTIO_BALLOON=y
CONFIG_MUTEX_SPIN_ON_OWNER=y
CONFIG_PARPORT=y
CONFIG_REGULATOR_GPIO=y
CONFIG_TI_ADS1298=y
CONFIG_ALIBABA_ENI_VDPA=y
CONFIG_W1_SLAVE_DS2781=y
CONFIG_CROSS_MEMORY_ATTACH=y
CONFIG_INTERCONNECT=y
CONFIG_CRYPTO_HMAC=y
CONFIG_DM_FLAKEY=y
CONFIG_IIO_TRIGGER=y
CONFIG_LEDS_LM3533=y
CONFIG_PDC_ADMA=y
CONFIG_INGENIC_CGU_COMMON=y
CONFIG_TPL0102=y
CONFIG_X86_DISABLED_FEATURE_USER_SHSTK=y
CONFIG_MMU_GATHER_TABLE_FREE=y
CONFIG_SPI_SIFIVE=y
CONFIG_HAVE_ARCH_SECCOMP_FILTER=y
CONFIG_INPUT_RT5120_PWRKEY=y
CONFIG_REGULATOR_MAX77838=y
CONFIG_SENSORS_MAX1619=y
CONFIG_PARPORT_1284=y
CONFIG_BACKLIGHT_SKY81452=y
CONFIG_DM_PERSISTENT_DATA=y
CONFIG_SERIAL_FSL_LPUART=y
CONFIG_DEBUG_LIST=y
CONFIG_JOYSTICK_SENSEHAT=y
CONFIG_MFD_SPACEMIT_P1=y
CONFIG_GPIO_OMAP=y
CONFIG_AHCI_XGENE=y
CONFIG_RCU_NEED_SEGCBLIST=y
CONFIG_SENSORS_SCH5627=y
CONFIG_I2C_PCA_PLATFORM=y
CONFIG_DEVFREQ_EVENT_EXYNOS_NOCP=y
CONFIG_NLS_KOI8_R=y
CONFIG_PHY_BCM_NS_USB2=y
CONFIG_CM3323=y
CONFIG_TMP007=y
CONFIG_VIRTIO=y
CONFIG_GPIB_TMS9914=y
CONFIG_IPMB_DEVICE_INTERFACE=y
CONFIG_HW_RANDOM_HISI=y
CONFIG_MTD_CFI_I2=y
CONFIG_PANEL_CHANGE_MESSAGE=y
CONFIG_MFD_RT4831=y
CONFIG_QCOM_PDR_MSG=y
CONFIG_MEMSTICK_TIFM_MS=y
CONFIG_SERIAL_DEV_BUS=y
CONFIG_ARM_SCMI_TRANSPORT_VIRTIO_ATOMIC_ENABLE=y
CONFIG_TI_ADC108S102=y
CONFIG_NETFS_SUPPORT=y
CONFIG_ADXRS290=y
CONFIG_NVMEM_ROCKCHIP_EFUSE=y
CONFIG_PCPU_DEV_REFCNT=y
CONFIG_IIO_ADC_HELPER=y
CONFIG_GPIO_GRGPIO=y
CONFIG_COMMON_CLK_MT2712_BDPSYS=y
CONFIG_REGULATOR_TPS65185=y
CONFIG_CLOSURES=y
