CONFIG_IIO_ST_MAGN_I2C_3AXIS=y
CONFIG_DMA_ENGINE=y
CONFIG_CRYPTO_XTS=y
CONFIG_APPLE_RTKIT=y
CONFIG_FAULT_INJECTION=y
CONFIG_APPLE_MAILBOX=y
CONFIG_GPIO_NOVALAKE=y
CONFIG_RESET_STARFIVE_JH71X0=y
CONFIG_MFD_LP3943=y
CONFIG_ARCH_HAS_SET_MEMORY=y
CONFIG_CLK_R8A7790=y
CONFIG_CRYPTO_LIB_POLY1305=y
CONFIG_BACKLIGHT_MAX25014=y
CONFIG_OLPC_EC=y
CONFIG_CLK_BCM2711_DVP=y
CONFIG_REGULATOR_LP3971=y
CONFIG_SENSORS_LTC2990=y
CONFIG_REGULATOR_RT5739=y
CONFIG_COMMON_CLK_MT8183_MFGCFG=y
CONFIG_SOFTLOCKUP_DETECTOR=y
CONFIG_TOUCHSCREEN_TSC2005=y
CONFIG_FB_PM2=y
CONFIG_REGULATOR_TWL4030=y
CONFIG_IRQ_UNIPHIER_AIDET=y
CONFIG_EXYNOS_IOMMU_DEBUG=y
CONFIG_COMMON_CLK_MT8186_MMSYS=y
CONFIG_CC_HAS_IBT=y
CONFIG_SENSORS_TMP102=y
CONFIG_MCP9600=y
CONFIG_PWM_RENESAS_RZG2L_GPT=y
CONFIG_SPI_TEGRA210_QUAD=y
CONFIG_ATLAS_PH_SENSOR=y
CONFIG_PM_NOTIFIER_ERROR_INJECT=y
CONFIG_KEXEC_FILE=y
CONFIG_SPI_XCOMM=y
CONFIG_LPC_SCH=y
CONFIG_SENSORS_MAX6650=y
CONFIG_GENERIC_CPU_AUTOPROBE=y
CONFIG_FAULT_INJECTION_DEBUG_FS=y
CONFIG_APPLE_SART=y
CONFIG_BMI088_ACCEL_SPI=y
CONFIG_PWM_DWC_CORE=y
CONFIG_I2C_VERSATILE=y
CONFIG_FB_SYS_FILLRECT=y
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO=y
CONFIG_FB_KYRO=y
CONFIG_HARDLOCKUP_DETECTOR_PERF=y
CONFIG_SLUB_DEBUG_ON=y
CONFIG_CHARGER_TWL6030=y
CONFIG_TOUCHSCREEN_SILEAD=y
CONFIG_LEDS_TRIGGER_INPUT_EVENTS=y
CONFIG_TIME_NS=y
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE_PUD=y
CONFIG_ARCH_HAS_SET_DIRECT_MAP=y
CONFIG_FILE_LOCKING=y
CONFIG_CHARGER_RT9756=y
CONFIG_CRYPTO_LIB_DES=y
CONFIG_SENSORS_FAM15H_POWER=y
CONFIG_LEDS_88PM860X=y
CONFIG_INTEL_UNCORE_FREQ_CONTROL=y
CONFIG_MFD_SUN6I_PRCM=y
CONFIG_PM_TRACE=y
CONFIG_ARCH_HAS_FAST_MULTIPLIER=y
CONFIG_CRYPTO_DEV_AMLOGIC_GXL_DEBUG=y
CONFIG_REED_SOLOMON=y
CONFIG_PNPACPI=y
CONFIG_ARCH_WANT_GENERAL_HUGETLB=y
CONFIG_SENSORS_LM78=y
CONFIG_NLS_KOI8_U=y
CONFIG_CONTEXT_TRACKING_USER=y
CONFIG_LEDS_TRIGGER_HEARTBEAT=y
CONFIG_GPIO_BLZP1600=y
CONFIG_HAVE_SAMPLE_FTRACE_DIRECT_MULTI=y
CONFIG_TI_ADC128S052=y
CONFIG_USB_ULPI=y
CONFIG_SENSORS_PLI1209BC=y
CONFIG_GENERIC_PCI_IOMAP=y
CONFIG_HAVE_KERNEL_LZO=y
CONFIG_DEBUG_MAPLE_TREE=y
CONFIG_AD3552R_LIB=y
CONFIG_APPLE_MFI_FASTCHARGE=y
CONFIG_SL28CPLD_INTC=y
CONFIG_FW_LOADER_USER_HELPER=y
CONFIG_FXOS8700_I2C=y
CONFIG_VM_EVENT_COUNTERS=y
CONFIG_W1_SLAVE_DS2781=y
CONFIG_CRYPTO_MD4=y
CONFIG_PINCTRL_AMDISP=y
CONFIG_I2C_AXXIA=y
CONFIG_SENSORS_HIH6130=y
CONFIG_TOUCHSCREEN_DYNAPRO=y
CONFIG_USB_YUREX=y
CONFIG_SPI_MICROCHIP_CORE_SPI=y
CONFIG_ARCH_USE_SYM_ANNOTATIONS=y
CONFIG_ADI_I3C_MASTER=y
CONFIG_INTEL_PMT_CRASHLOG=y
CONFIG_RENESAS_RZT2H_ICU=y
CONFIG_KVM_ASYNC_PF=y
CONFIG_LDISC_AUTOLOAD=y
CONFIG_MFD_MAX8997=y
CONFIG_SAMPLE_WATCHDOG=y
CONFIG_BACKLIGHT_LP855X=y
CONFIG_TEGRA_SOCTHERM=y
CONFIG_COMEDI_DAQBOARD2000=y
CONFIG_ACPI_BUTTON=y
CONFIG_COMEDI_ADDI_APCI_1564=y
CONFIG_SPI_RZV2M_CSI=y
CONFIG_FB_MODE_HELPERS=y
CONFIG_COMEDI_ADDI_APCI_2200=y
CONFIG_COMMON_CLK_MT6765=y
CONFIG_RPMSG_NS=y
CONFIG_KEYBOARD_IQS62X=y
CONFIG_SUN50I_H6_PRCM_PPU=y
CONFIG_UIO=y
CONFIG_ADP810=y
CONFIG_GNSS_USB=y
CONFIG_MFD_ARIZONA_I2C=y
CONFIG_I2C_SIS96X=y
CONFIG_PERF_GUEST_MEDIATED_PMU=y
CONFIG_RESET_TH1520=y
CONFIG_DELL_WMI_AIO=y
CONFIG_PCI_HOST_COMMON=y
CONFIG_TI_PRUSS_INTC=y
CONFIG_LEDS_CLASS_FLASH=y
CONFIG_IMX_SCMI_BBM_EXT=y
CONFIG_HISI_DMA=y
CONFIG_DPS310=y
CONFIG_DELL_UART_BACKLIGHT=y
CONFIG_CLK_INTEL_SOCFPGA=y
CONFIG_RESET_BRCMSTB_RESCAL=y
CONFIG_KEYBOARD_SAMSUNG=y
CONFIG_MHZ19B=y
CONFIG_HAVE_REGS_AND_STACK_ACCESS_API=y
CONFIG_I2C_MT7621=y
CONFIG_PMIC_DA903X=y
CONFIG_HAVE_FUNCTION_TRACER=y
CONFIG_INTEL_ATOMISP2_PDX86=y
CONFIG_KEYBOARD_SUNKBD=y
CONFIG_PANEL=y
CONFIG_PINCTRL_CY8C95X0=y
CONFIG_SENSORS_MAX16064=y
CONFIG_REGULATOR_TPS62360=y
CONFIG_EINT_MTK=y
CONFIG_HAVE_FUNCTION_ARG_ACCESS_API=y
CONFIG_FB_SIS_300=y
CONFIG_MS5637=y
CONFIG_PM_CLK=y
CONFIG_USER_STACKTRACE_SUPPORT=y
CONFIG_REGULATOR_MAX77693=y
CONFIG_DELL_WMI_DDV=y
CONFIG_VEML3235=y
CONFIG_SPI_ARMADA_3700=y
CONFIG_TMPFS=y
CONFIG_GENERIC_ADC_BATTERY=y
CONFIG_HAVE_SYSCALL_TRACEPOINTS=y
CONFIG_AD5504=y
CONFIG_SENSORS_WM8350=y
CONFIG_ABP2030PA=y
CONFIG_HAVE_KPROBES_ON_FTRACE=y
CONFIG_APPLE_ADMAC=y
CONFIG_SENSORS_LTC4222=y
CONFIG_MAX9611=y
CONFIG_I2C_MV64XXX=y
CONFIG_PWM_RENESAS_TPU=y
CONFIG_HAVE_RUST=y
CONFIG_REGULATOR_PBIAS=y
CONFIG_STK8312=y
CONFIG_HAVE_UACCESS_VALIDATION=y
CONFIG_DNOTIFY=y
CONFIG_IIO_TRIGGERED_BUFFER=y
CONFIG_ASUS_WIRELESS=y
CONFIG_AD5421=y
CONFIG_ARM_SCMI_TRANSPORT_VIRTIO=y
CONFIG_JOYSTICK_SIDEWINDER=y
CONFIG_ALIBABA_UNCORE_DRW_PMU=y
CONFIG_ARCH_MHP_MEMMAP_ON_MEMORY_ENABLE=y
CONFIG_GPIO_DS4520=y
CONFIG_ST_FDMA=y
CONFIG_REGULATOR_MAX8952=y
CONFIG_MMU_GATHER_RCU_TABLE_FREE=y
CONFIG_SENSORS_LM77=y
CONFIG_FB_AU1100=y
CONFIG_ARCH_WANTS_CLOCKSOURCE_READ_INLINE=y
CONFIG_PMS7003=y
CONFIG_HAVE_KERNEL_LZMA=y
CONFIG_GCC_ASM_GOTO_OUTPUT_BROKEN=y
CONFIG_PINCTRL_JASPERLAKE=y
CONFIG_LTC2688=y
CONFIG_SOC_INTEGRATOR_CM=y
CONFIG_TSL2591=y
CONFIG_REGULATOR_SC2731=y
CONFIG_QCOM_SPMI_ADC5=y
CONFIG_CLK_RCAR_GEN4_CPG=y
CONFIG_DECOMPRESS_LZ4=y
CONFIG_REGULATOR_TPS51632=y
CONFIG_HAVE_OBJTOOL=y
CONFIG_VALIDATE_FS_PARSER=y
CONFIG_INTEL_SCU_IPC=y
CONFIG_BARCO_P50_GPIO=y
CONFIG_TSL2583=y
CONFIG_INTEL_TCC=y
CONFIG_LOCKUP_DETECTOR=y
CONFIG_I2C_BRCMSTB=y
CONFIG_COMMON_CLK=y
CONFIG_INPUT_LEDS=y
CONFIG_FB_VGA16=y
CONFIG_HTE=y
CONFIG_INTEL_SOC_PMIC_MRFLD=y
CONFIG_BMP280_SPI=y
CONFIG_MFD_QNAP_MCU=y
CONFIG_ARM_SCMI_POWERCAP=y
CONFIG_SENSORS_LT3074_REGULATOR=y
CONFIG_LTC2496=y
CONFIG_I2C_WMT=y
CONFIG_DEBUG_VFS=y
CONFIG_WQ_POWER_EFFICIENT_DEFAULT=y
CONFIG_DPOT_DAC=y
CONFIG_64BIT=y
CONFIG_PREEMPT_NOTIFIERS=y
CONFIG_TYPEC_MUX_PS883X=y
CONFIG_ADJD_S311=y
CONFIG_COMEDI_ADDI_APCI_3120=y
CONFIG_PHY_RZ_G3E_USB3=y
CONFIG_LEDS_TRIGGER_ACTIVITY=y
CONFIG_TOUCHSCREEN_ILITEK=y
CONFIG_PREEMPTIRQ_TRACEPOINTS=y
CONFIG_PCI_PRI=y
CONFIG_COMMON_CLK_MT8188=y
CONFIG_INV_MPU6050_I2C=y
CONFIG_I2C_ST=y
CONFIG_REGULATOR_RT6190=y
CONFIG_SPI_BCM_QSPI=y
CONFIG_GENERIC_IRQ_DEBUGFS=y
CONFIG_I2C_MUX_GPIO=y
CONFIG_FUSION=y
CONFIG_SUN4I_A10_CCU=y
CONFIG_FB_PM3=y
CONFIG_EXTCON_ADC_JACK=y
CONFIG_EEPROM_93XX46=y
CONFIG_VMWARE_VMCI=y
CONFIG_LEDS_LP3944=y
CONFIG_INPUT_GPIO_VIBRA=y
CONFIG_C2PORT=y
CONFIG_QCOM_COINCELL=y
CONFIG_TEST_DEBUG_VIRTUAL=y
CONFIG_RUNTIME_TESTING_MENU=y
CONFIG_PCI_HYPERV=y
CONFIG_MFD_MAX8998=y
CONFIG_MTK_SCP=y
CONFIG_EXYNOS_REGULATOR_COUPLER=y
CONFIG_HW_RANDOM_NPCM=y
CONFIG_HAVE_SETUP_PER_CPU_AREA=y
CONFIG_ZONE_DMA=y
CONFIG_DCACHE_WORD_ACCESS=y
CONFIG_COMMON_CLK_BOSTON=y
CONFIG_SPI_QCOM_GENI=y
CONFIG_PARPORT=y
CONFIG_VGA_ARB=y
CONFIG_EDAC_ATOMIC_SCRUB=y
CONFIG_MFD_RETU=y
CONFIG_APDS9160=y
CONFIG_CRYPTO_LIB_AES_ARCH=y
CONFIG_CRYPTO_LIB_SHA512_ARCH=y
CONFIG_MMA7455=y
CONFIG_VFIO_CONTAINER=y
CONFIG_QCOM_FASTRPC=y
CONFIG_NLS_MAC_ROMAN=y
CONFIG_USB_TEGRA_PHY=y
CONFIG_X86_DISABLED_FEATURE_RETPOLINE_LFENCE=y
CONFIG_CONTEXT_TRACKING=y
CONFIG_CRYPTO_DEV_HISI_SEC2=y
CONFIG_MFD_88PM860X=y
CONFIG_PCIE_MT7621=y
CONFIG_SENSORS_STEF48H28=y
CONFIG_LEDS_BD2802=y
CONFIG_SENSORS_ASUS_WMI=y
CONFIG_CRYPTO_CCM=y
CONFIG_USB_LJCA=y
CONFIG_RANDOM32_SELFTEST=y
CONFIG_BACKLIGHT_CLASS_DEVICE=y
CONFIG_GENERIC_PINCTRL_GROUPS=y
CONFIG_IKHEADERS=y
CONFIG_RPR0521=y
CONFIG_GPIB_CB7210=y
CONFIG_RMI4_SMB=y
CONFIG_HAVE_ARCH_MMAP_RND_BITS=y
CONFIG_INPUT_MMA8450=y
CONFIG_LEDS_MLXREG=y
CONFIG_SPI_CLPS711X=y
CONFIG_LEDS_MENF21BMC=y
CONFIG_TIMB_DMA=y
CONFIG_SPI_CADENCE=y
CONFIG_BATTERY_DA9150=y
CONFIG_PCI_ENDPOINT=y
CONFIG_REGULATOR=y
CONFIG_AD5686=y
CONFIG_X86_CPA_STATISTICS=y
CONFIG_SPI_ST_SSC4=y
CONFIG_DEBUG_OBJECTS_FREE=y
CONFIG_SPI_SLAVE_TIME=y
CONFIG_HAVE_OBJTOOL_MCOUNT=y
CONFIG_HAVE_ARCH_KFENCE=y
CONFIG_SPI_OFFLOAD_TRIGGER_ADI_UTIL_SD=y
CONFIG_PINCTRL_LPASS_LPI=y
CONFIG_ARM_CCN=y
CONFIG_I2C_TEGRA=y
CONFIG_CC_IS_GCC=y
CONFIG_BCM_NS_THERMAL=y
CONFIG_COMEDI_AMPLC_PC263_PCI=y
CONFIG_JOYSTICK_TWIDJOY=y
CONFIG_QCOM_HIDMA_MGMT=y
CONFIG_NLS_MAC_TURKISH=y
CONFIG_AMD_NB=y
CONFIG_RESET_GPIO=y
CONFIG_SUN9I_A80_CCU=y
CONFIG_FB_ATY=y
CONFIG_REGULATOR_MAX77857=y
CONFIG_ADXRS450=y
CONFIG_PINCTRL_PFC_R8A77980=y
CONFIG_POWER_SEQUENCING_TH1520_GPU=y
CONFIG_REGULATOR_PV88090=y
CONFIG_SENSORS_VT8231=y
CONFIG_PHY_MMP3_HSIC=y
CONFIG_SENSORS_PXE1610=y
CONFIG_AMD_ISP_PLATFORM=y
CONFIG_BPF_SYSCALL=y
CONFIG_CRYPTO_AEGIS128_AESNI_SSE2=y
CONFIG_PCIE_TEGRA194_HOST=y
CONFIG_PA12203001=y
CONFIG_PWM_TWL_LED=y
CONFIG_GPIO_SCH311X=y
CONFIG_VBOXSF_FS=y
CONFIG_I2C_TEGRA_BPMP=y
CONFIG_CRYPTO_DEV_NITROX=y
CONFIG_KEXEC_SIG_FORCE=y
CONFIG_SURFACE_PLATFORMS=y
CONFIG_CRYPTO_AKCIPHER2=y
CONFIG_LTO_NONE=y
CONFIG_IIO_ADC_HELPER=y
CONFIG_SENSORS_QNAP_MCU_HWMON=y
CONFIG_SCD4X=y
CONFIG_TYPEC_MUX_GPIO_SBU=y
CONFIG_PWM_LPC18XX_SCT=y
CONFIG_SENSORS_LATTEPANDA_SIGMA_EC=y
CONFIG_PALMAS_GPADC=y
CONFIG_HAVE_KVM_DIRTY_RING_ACQ_REL=y
CONFIG_ARCH_HAS_DEBUG_WX=y
CONFIG_CRYPTO_DEV_FSL_CAAM_BLOB_GEN=y
CONFIG_GPIO_BCM_KONA=y
CONFIG_TELCLOCK=y
CONFIG_CRYPTO_RSA=y
CONFIG_SENSORS_G760A=y
CONFIG_NVMEM_MESON_MX_EFUSE=y
CONFIG_COMEDI_ADDI_APCI_3501=y
CONFIG_PINCTRL_CEDARFORK=y
CONFIG_USB_RENESAS_USB3=y
CONFIG_GPIB_COMMON=y
CONFIG_VGASTATE=y
CONFIG_CRYPTO_MANAGER=y
CONFIG_FB_IOMEM_FOPS=y
CONFIG_PHY_PXA_USB=y
CONFIG_ARCH_SUPPORTS_KEXEC_SIG=y
CONFIG_BMP280=y
CONFIG_ARCH_SUPPORTS_DEBUG_PAGEALLOC=y
CONFIG_KERNEL_GZIP=y
CONFIG_FB_BOTH_ENDIAN=y
CONFIG_LEDS_NS2=y
CONFIG_BITLAND_MIFS_WMI=y
CONFIG_ADIS16475=y
CONFIG_BATTERY_GOLDFISH=y
CONFIG_MTK_ADSP_MBOX=y
CONFIG_GPIOLIB_IRQCHIP=y
CONFIG_I2C_VIRTIO=y
CONFIG_LOONGSON2_APB_DMA=y
CONFIG_SENSORS_HMC5843_SPI=y
CONFIG_ARCH_SUPPORTS_CRASH_DUMP=y
CONFIG_SPI_SPRD=y
CONFIG_USB_ISP1760_GADGET_ROLE=y
CONFIG_NEED_PER_CPU_EMBED_FIRST_CHUNK=y
CONFIG_SENSORS_TMP103=y
CONFIG_USB_LEDS_TRIGGER_USBPORT=y
CONFIG_COMMON_CLK_MT8186_IMP_IIC_WRAP=y
CONFIG_NLS_ISO8859_5=y
CONFIG_SENSORS_NCT6775=y
CONFIG_GPIO_CS5535=y
CONFIG_JOYSTICK_GRIP_MP=y
CONFIG_COMEDI_NI_USB6501=y
CONFIG_MPL115_SPI=y
CONFIG_TI_PRUSS=y
CONFIG_FB_SSD1307=y
CONFIG_REGULATOR_AW37503=y
CONFIG_ARCH_SUPPORTS_NUMA_BALANCING=y
CONFIG_ARM_IMX_BUS_DEVFREQ=y
CONFIG_USB_CONN_GPIO=y
CONFIG_MTK_CPUX_TIMER=y
CONFIG_FXLS8962AF_SPI=y
CONFIG_SENSORS_K10TEMP=y
CONFIG_USB_ROLES_INTEL_XHCI=y
CONFIG_PWM_SAMSUNG=y
CONFIG_PCIE_ANDES_QILAI=y
CONFIG_GPIO_WM8994=y
CONFIG_PSTORE_CONSOLE=y
CONFIG_REGMAP=y
CONFIG_TMPFS_QUOTA=y
CONFIG_CRYPTO_LIB_AES=y
CONFIG_APDS9306=y
CONFIG_CORDIC=y
CONFIG_HAVE_JUMP_LABEL_HACK=y
CONFIG_NVMEM_SNVS_LPGPR=y
CONFIG_CLK_RCAR_GEN3_CPG=y
CONFIG_LEDS_TI_LMU_COMMON=y
CONFIG_X86_REQUIRED_FEATURE_UP=y
CONFIG_CPU_SUP_CENTAUR=y
CONFIG_INPUT_BMA150=y
CONFIG_GENERIC_IOMAP=y
CONFIG_SI1145=y
CONFIG_CRYPTO_SELFTESTS=y
CONFIG_SENSORS_RM3100_SPI=y
CONFIG_SPI_ROCKCHIP=y
CONFIG_REGULATOR_FAN53555=y
CONFIG_NOP_USB_XCEIV=y
CONFIG_PCI_ENDPOINT_MSI_DOORBELL=y
CONFIG_SENSORS_PIM4328=y
CONFIG_CRYPTO_CAMELLIA_X86_64=y
CONFIG_BLK_DEV_INITRD=y
CONFIG_ARCH_MAY_HAVE_PC_FDC=y
CONFIG_RENESAS_RZV2H_ICU=y
CONFIG_ZERO_CALL_USED_REGS=y
CONFIG_HAVE_ARCH_RANDOMIZE_KSTACK_OFFSET=y
CONFIG_GPIO_TWL4030=y
CONFIG_EXYNOS_IRQ_COMBINER=y
CONFIG_I2C_AMD_MP2=y
CONFIG_PARPORT_PC_SUPERIO=y
CONFIG_CLKSRC_PISTACHIO=y
CONFIG_FIRMWARE_TABLE=y
CONFIG_REGULATOR_MAX77650=y
CONFIG_TI_ADS131M02=y
CONFIG_SENSORS_CRPS=y
CONFIG_INPUT_REGULATOR_HAPTIC=y
CONFIG_AD2S1210=y
CONFIG_IQS621_ALS=y
CONFIG_SPI_AMLOGIC_SPIFC_A4=y
CONFIG_ACPI_APEI_PCIEAER=y
CONFIG_GPIO_ADP5520=y
CONFIG_JUMP_LABEL=y
CONFIG_RESET_QCOM_PDC=y
CONFIG_FXLS8962AF_I2C=y
CONFIG_SPI_VIRTIO=y
CONFIG_ACPI_FPDT=y
CONFIG_POWERCAP=y
CONFIG_EXTCON_RTK_TYPE_C=y
CONFIG_ASPEED_LPC_CTRL=y
CONFIG_I2C_EG20T=y
CONFIG_ARCH_HAS_KCOV=y
CONFIG_IPMI_DEVICE_INTERFACE=y
CONFIG_GPIB_TMS9914=y
CONFIG_STATIC_USERMODEHELPER=y
CONFIG_SURFACE_HOTPLUG=y
CONFIG_MAX31856=y
CONFIG_CHARGER_BQ24257=y
CONFIG_DEBUG_ATOMIC=y
CONFIG_PAGE_EXTENSION=y
CONFIG_INTEL_VSEC=y
CONFIG_HW_RANDOM_CN10K=y
CONFIG_INPUT_JOYSTICK=y
CONFIG_FORCE_NR_CPUS=y
CONFIG_KVM_GENERIC_HARDWARE_ENABLING=y
CONFIG_PINCTRL_TEGRA186=y
CONFIG_SENSORS_IR36021=y
CONFIG_TRACE_IRQFLAGS=y
CONFIG_TOSHIBA_WMI=y
CONFIG_SENSORS_PMBUS=y
CONFIG_X86_DISABLED_FEATURE_PTI=y
CONFIG_ARCH_SUPPORTS_KEXEC=y
CONFIG_ARM_SCMI_RAW_MODE_SUPPORT_COEX=y
CONFIG_OPT4001=y
CONFIG_IOMMU_PT_VTDSS=y
CONFIG_FIREWIRE=y
CONFIG_PHY_ROCKCHIP_SAMSUNG_DCPHY=y
CONFIG_MFD_OMAP_USB_HOST=y
CONFIG_PCI_IMX6_EP=y
CONFIG_GENERIC_CPU_VULNERABILITIES=y
CONFIG_USB_EHSET_TEST_FIXTURE=y
CONFIG_AD9739A=y
CONFIG_MFD_WM8998=y
CONFIG_SENSORS_LM95241=y
CONFIG_KEBA_CP500=y
CONFIG_DEBUG_KERNEL=y
CONFIG_BCM_IPROC_ADC=y
CONFIG_USB_DWC2_HOST=y
CONFIG_REGULATOR_TPS65912=y
CONFIG_COMPAT_32=y
CONFIG_RESET_RASPBERRYPI=y
CONFIG_I2C_TINY_USB=y
CONFIG_IPMI_KCS_BMC=y
CONFIG_DS1803=y
CONFIG_MFD_INTEL_LPSS_PCI=y
CONFIG_SUNXI_CCU=y
CONFIG_CLK_RENESAS_DIV6=y
CONFIG_TASKS_RCU=y
