CONFIG_NET_VENDOR_NVIDIA=n
CONFIG_CFG80211=n
CONFIG_SELECT_MEMORY_MODEL=n
CONFIG_SUSPEND=n
CONFIG_HUGETLB_PAGE=n
CONFIG_PT_RECLAIM=n
CONFIG_CRYPTO_HASH_INFO=n
CONFIG_X86_DISABLED_FEATURE_ENQCMD=n
CONFIG_USB_OHCI_HCD_PCI=n
CONFIG_HW_RANDOM=n
CONFIG_DRM_CLIENT_SELECTION=n
CONFIG_IO_URING_ZCRX=n
CONFIG_KPROBE_EVENTS=n
CONFIG_NFS_USE_KERNEL_DNS=n
CONFIG_ASN1=n
CONFIG_PCCARD_NONSTATIC=n
CONFIG_DNOTIFY=n
CONFIG_OPTPROBES=n
CONFIG_LTO_NONE=n
CONFIG_X86_MCE_INTEL=n
CONFIG_USB_EHCI_HCD=n
CONFIG_CLKEVT_I8253=n
CONFIG_ACPI_I2C_OPREGION=n
CONFIG_CRYPTO_HW=n
CONFIG_HOTPLUG_CPU=n
CONFIG_WLAN_VENDOR_MEDIATEK=n
CONFIG_USB_ARCH_HAS_HCD=n
CONFIG_PAGE_SIZE_LESS_THAN_256KB=n
CONFIG_PNFS_FLEXFILE_LAYOUT=n
CONFIG_CPU_FREQ_GOV_COMMON=n
CONFIG_SND_TIMER=n
CONFIG_X86_VMX_FEATURE_NAMES=n
CONFIG_NET_VENDOR_ADAPTEC=n
CONFIG_HAVE_IRQ_TIME_ACCOUNTING=n
CONFIG_OLD_SIGACTION=n
CONFIG_MICROCODE_INITRD32=n
CONFIG_VIRTIO_PCI=n
CONFIG_SPARSEMEM_STATIC=n
CONFIG_SND=n
CONFIG_HAVE_MIXED_BREAKPOINTS_REGS=n
CONFIG_NEW_LEDS=n
CONFIG_STACKPROTECTOR_STRONG=n
CONFIG_MIGRATION=n
CONFIG_SCHED_OMIT_FRAME_POINTER=n
CONFIG_TASK_IO_ACCOUNTING=n
CONFIG_XARRAY_MULTI=n
CONFIG_BLK_DEBUG_FS=n
CONFIG_LDISC_AUTOLOAD=n
CONFIG_LZO_DECOMPRESS=n
CONFIG_DRM_I915_COMPRESS_ERROR=n
CONFIG_GLOB=n
CONFIG_SKY2=n
CONFIG_GENERIC_BUG_RELATIVE_POINTERS=n
CONFIG_NF_REJECT_IPV6=n
CONFIG_X86_DISABLED_FEATURE_UNRET=n
CONFIG_MAC80211_LEDS=n
CONFIG_XFRM_AH=n
CONFIG_CGROUP_PERF=n
CONFIG_NF_NAT_SIP=n
CONFIG_NET_VENDOR_GOOGLE=n
CONFIG_SCHED_HRTICK=n
CONFIG_KERNFS=n
CONFIG_CRC32=n
CONFIG_XZ_DEC_SPARC=n
CONFIG_INPUT_MISC=n
CONFIG_SECURITY_SELINUX_AVC_STATS=n
CONFIG_PROC_KCORE=n
CONFIG_CPU_FREQ_GOV_ATTR_SET=n
CONFIG_AS_WRUSS=n
CONFIG_HAVE_SYSCALL_TRACEPOINTS=n
CONFIG_ARCH_SUPPORTS_MEMORY_FAILURE=n
CONFIG_PNP=n
CONFIG_PCI_DIRECT=n
CONFIG_USER_STACKTRACE_SUPPORT=n
CONFIG_PADATA=n
CONFIG_NO_HZ_IDLE=n
CONFIG_VT=n
CONFIG_RELAY=n
CONFIG_HAVE_POSIX_CPU_TIMERS_TASK_WORK=n
CONFIG_HAVE_PERF_REGS=n
CONFIG_DRM_TTM=n
CONFIG_FLATMEM_MANUAL=n
CONFIG_WERROR=n
CONFIG_BLK_DEV_BSG_COMMON=n
CONFIG_SUNRPC=n
CONFIG_ARCH_CLOCKSOURCE_INIT=n
CONFIG_NF_NAT=n
CONFIG_CRYPTO_HMAC=n
CONFIG_ARCH_HAS_PREEMPT_LAZY=n
CONFIG_GENERIC_PCI_IOMAP=n
CONFIG_NET_9P=n
CONFIG_SCHED_CACHE=n
CONFIG_ARCH_HAS_CPU_RELAX=n
CONFIG_MOUSE_PS2_FOCALTECH=n
CONFIG_PCSPKR_PLATFORM=n
CONFIG_HAVE_CMPXCHG_DOUBLE=n
CONFIG_GCC_NO_STRINGOP_OVERFLOW=n
CONFIG_INET=n
CONFIG_ARCH_HAS_STRICT_KERNEL_RWX=n
CONFIG_GENERIC_IRQ_SHOW=n
CONFIG_SERIAL_8250_CONSOLE=n
CONFIG_BLK_CGROUP_IOLATENCY=n
CONFIG_DYNAMIC_SIGFRAME=n
CONFIG_MEMFD_CREATE=n
CONFIG_HAVE_PCI=n
CONFIG_PATA_MPIIX=n
CONFIG_FW_LOADER=n
CONFIG_CPU_FREQ_GOV_SCHEDUTIL=n
CONFIG_SECURITY_SELINUX=n
CONFIG_SECCOMP=n
CONFIG_PCMCIA=n
CONFIG_HAVE_KERNEL_XZ=n
CONFIG_HAVE_ARCH_KGDB=n
CONFIG_SERIAL_8250_PCILIB=n
CONFIG_GENERIC_IRQ_EFFECTIVE_AFF_MASK=n
CONFIG_RD_LZMA=n
CONFIG_THERMAL_DEFAULT_GOV_STEP_WISE=n
CONFIG_CRYPTO_SKCIPHER=n
CONFIG_NET_IP_TUNNEL=n
CONFIG_PCMCIA_LOAD_CIS=n
CONFIG_MODULES_TREE_LOOKUP=n
CONFIG_RTC_NVMEM=n
CONFIG_GENERIC_IOMAP=n
CONFIG_ARCH_USE_QUEUED_SPINLOCKS=n
CONFIG_GENERIC_IRQ_MIGRATION=n
CONFIG_HAVE_PAGE_SIZE_4KB=n
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST=n
CONFIG_SERIAL_8250_DETECT_IRQ=n
CONFIG_NET_VENDOR_ATHEROS=n
CONFIG_CRYPTO_AEAD=n
CONFIG_ACPI_WMI=n
CONFIG_THERMAL=n
CONFIG_CPU_RMAP=n
CONFIG_GENERIC_IRQ_ENTRY=n
CONFIG_HAVE_MOD_ARCH_SPECIFIC=n
CONFIG_FSNOTIFY=n
CONFIG_UNINLINE_SPIN_UNLOCK=n
CONFIG_MAC80211_HAS_RC=n
CONFIG_NF_DEFRAG_IPV6=n
CONFIG_PROC_SYSCTL=n
CONFIG_CC_HAS_RETURN_THUNK=n
CONFIG_HAVE_OPTPROBES=n
CONFIG_KVM_GUEST=n
CONFIG_NET_9P_VIRTIO=n
CONFIG_X86_PM_TIMER=n
CONFIG_WLAN_VENDOR_SILABS=n
CONFIG_NF_LOG_ARP=n
CONFIG_PNPACPI=n
CONFIG_NET_VENDOR_I825XX=n
CONFIG_MAGIC_SYSRQ_SERIAL=n
CONFIG_TASKSTATS=n
CONFIG_RD_GZIP=n
CONFIG_DRM_DISPLAY_DSC_HELPER=n
CONFIG_DCACHE_WORD_ACCESS=n
CONFIG_KMAP_LOCAL=n
CONFIG_SYSVIPC=n
CONFIG_ARCH_SUPPORTS_KEXEC=n
CONFIG_LOCALVERSION_AUTO=n
CONFIG_SSB_POSSIBLE=n
CONFIG_CRYPTO_KRB5ENC=n
CONFIG_X86_HV_CALLBACK_VECTOR=n
CONFIG_DEBUG_FS=n
CONFIG_GENERIC_IRQ_RESERVATION_MODE=n
CONFIG_HAVE_ARCH_JUMP_LABEL=n
CONFIG_HAS_IOMEM=n
CONFIG_MSDOS_PARTITION=n
CONFIG_NET_VENDOR_AQUANTIA=n
CONFIG_WLAN_VENDOR_PURELIFI=n
CONFIG_NFS_V4_0=n
CONFIG_DM_ZERO=n
CONFIG_NET_VENDOR_XIRCOM=n
CONFIG_FILE_LOCKING=n
CONFIG_MTRR=n
CONFIG_NET_VENDOR_SYNOPSYS=n
CONFIG_ARCH_WANTS_NO_INSTR=n
CONFIG_UNIX=n
CONFIG_PERF_EVENTS=n
CONFIG_INPUT_VIVALDIFMAP=n
CONFIG_HAVE_KERNEL_LZMA=n
CONFIG_GENERIC_CLOCKEVENTS=n
CONFIG_MMU_GATHER_RCU_TABLE_FREE=n
CONFIG_HAVE_GCC_PLUGINS=n
CONFIG_EFI_CUSTOM_SSDT_OVERLAYS=n
CONFIG_DEFAULT_SECURITY_SELINUX=n
CONFIG_PCI_QUIRKS=n
CONFIG_RTC_MC146818_LIB=n
CONFIG_UNWINDER_FRAME_POINTER=n
CONFIG_X86_REQUIRED_FEATURE_FPU=n
CONFIG_CPU_SUP_CENTAUR=n
CONFIG_RFS_ACCEL=n
CONFIG_PCIE_PME=n
CONFIG_MITIGATION_SSB=n
CONFIG_HAVE_ARCH_MMAP_RND_BITS=n
CONFIG_IPV6=n
CONFIG_PACKET=n
CONFIG_ACPI_DEBUG=n
CONFIG_MULTIUSER=n
CONFIG_E100=n
CONFIG_VIRTIO_INPUT=n
CONFIG_ARCH_SUPPORTS_HUGETLBFS=n
CONFIG_FRAME_POINTER=n
CONFIG_X86_CMOV=n
CONFIG_HDMI=n
CONFIG_SUSPEND_FREEZER=n
CONFIG_HAVE_CMPXCHG_LOCAL=n
CONFIG_SUNRPC_GSS=n
CONFIG_BCMA_POSSIBLE=n
CONFIG_MMU_GATHER_MERGE_VMAS=n
CONFIG_MITIGATION_RETBLEED=n
CONFIG_NF_LOG_SYSLOG=n
CONFIG_EFI_PARTITION=n
CONFIG_HVC_DRIVER=n
CONFIG_DM_MIRROR=n
CONFIG_PGTABLE_HAS_HUGE_LEAVES=n
CONFIG_CRYPTO_LIB_SHA256=n
CONFIG_FHANDLE=n
CONFIG_ARCH_HAS_CPU_CACHE_INVALIDATE_MEMREGION=n
CONFIG_HSU_DMA=n
CONFIG_HAVE_ARCH_RANDOMIZE_KSTACK_OFFSET=n
CONFIG_ACPI_PROCESSOR_CSTATE=n
CONFIG_ARCH_HAS_PTDUMP=n
CONFIG_PROC_MEM_FORCE_PTRACE=n
CONFIG_PROC_PAGE_MONITOR=n
CONFIG_SYSFS=n
CONFIG_VIRTIO_PCI_LIB=n
CONFIG_LOCKDEP_SUPPORT=n
CONFIG_SND_INTEL_SOUNDWIRE_ACPI=n
CONFIG_HAVE_SOFTIRQ_ON_OWN_STACK=n
CONFIG_X86_MCE_AMD=n
CONFIG_ACPI_PLATFORM_PROFILE=n
CONFIG_SERIAL_8250_EXAR=n
CONFIG_BSD_PROCESS_ACCT=n
CONFIG_SCSI_SPI_ATTRS=n
CONFIG_NET_VENDOR_PENSANDO=n
CONFIG_NET_9P_FD=n
CONFIG_STACKTRACE=n
CONFIG_ARCH_HAS_PARANOID_L1D_FLUSH=n
CONFIG_HPET=n
CONFIG_NET_EMATCH=n
CONFIG_KEXEC=n
CONFIG_IP_MULTIPLE_TABLES=n
CONFIG_EARLY_PRINTK_USB=n
CONFIG_INPUT_KEYBOARD=n
CONFIG_NET_VENDOR_MICROSOFT=n
CONFIG_HAVE_KERNEL_GZIP=n
CONFIG_CPU_ISOLATION=n
CONFIG_PERF_EVENTS_INTEL_UNCORE=n
CONFIG_NET_VENDOR_SILAN=n
CONFIG_EDAC_SUPPORT=n
CONFIG_X86_TSC=n
CONFIG_ARCH_HAS_DEVMEM_IS_ALLOWED=n
CONFIG_SND_INTEL_DSP_CONFIG=n
CONFIG_ARCH_HAS_CPU_FINALIZE_INIT=n
CONFIG_MITIGATION_SPECTRE_BHI=n
CONFIG_NO_HZ_COMMON=n
CONFIG_BLK_DEV_SR=n
CONFIG_MITIGATION_RETPOLINE=n
CONFIG_ACPI_TABLE_UPGRADE=n
CONFIG_X86_DISABLED_FEATURE_IBT=n
CONFIG_CRYPTO_GCM=n
CONFIG_HAVE_DEBUG_STACKOVERFLOW=n
CONFIG_RTC_SYSTOHC=n
CONFIG_PROC_FS=n
CONFIG_EXT4_FS_SECURITY=n
CONFIG_IOMMU_DEFAULT_DMA_LAZY=n
CONFIG_WMI_BMOF=n
CONFIG_DRM_I915=n
CONFIG_AUDITSYSCALL=n
CONFIG_ARCH_HAS_HW_PTE_YOUNG=n
CONFIG_CC_HAS_ZERO_CALL_USED_REGS=n
CONFIG_GENERIC_STRNCPY_FROM_USER=n
CONFIG_USB_PCI=n
CONFIG_RTL_CARDS=n
CONFIG_CPU_SUP_INTEL=n
CONFIG_APERTURE_HELPERS=n
CONFIG_HOTPLUG_SMT=n
CONFIG_NLS_ISO8859_1=n
CONFIG_HUGETLBFS=n
CONFIG_DEBUG_MISC=n
CONFIG_FORCEDETH=n
CONFIG_LD_CAN_USE_KEEP_IN_OVERLAY=n
CONFIG_HAVE_GUP_FAST=n
CONFIG_GCC_ASM_GOTO_OUTPUT_BROKEN=n
CONFIG_NET_VENDOR_ENGLEDER=n
CONFIG_HIBERNATION=n
CONFIG_VM_EVENT_COUNTERS=n
CONFIG_HAVE_USER_RETURN_NOTIFIER=n
CONFIG_HAVE_DYNAMIC_FTRACE_NO_PATCHABLE=n
CONFIG_INPUT_EVDEV=n
CONFIG_NET_SELFTESTS=n
CONFIG_CRYPTO_LZ4=n
CONFIG_GRACE_PERIOD=n
CONFIG_GPIOLIB_LEGACY=n
CONFIG_TIMERFD=n
CONFIG_DEVPORT=n
CONFIG_ARCH_USE_CMPXCHG_LOCKREF=n
CONFIG_X86_LOCAL_APIC=n
CONFIG_WLAN_VENDOR_INTERSIL=n
CONFIG_X86_DISABLED_FEATURE_CALL_DEPTH=n
CONFIG_HAVE_ARCH_KSTACK_ERASE=n
