CONFIG_MOUSE_PS2_VMMOUSE=y
CONFIG_CRYPTO_SM4_GENERIC=y
CONFIG_KEYBOARD_ADP5520=y
CONFIG_BPF_JIT_DEFAULT_ON=y
CONFIG_PKCS7_MESSAGE_PARSER=y
CONFIG_I2C_ISCH=y
CONFIG_CRYPTO_LIB_SHA1=y
CONFIG_SENSORS_I5K_AMB=y
CONFIG_BACKLIGHT_ARCXCNN=y
CONFIG_INPUT_JOYDEV=y
CONFIG_SENSORS_NCT6775_I2C=y
CONFIG_STACKDEPOT=y
CONFIG_GPIO_QIXIS_FPGA=y
CONFIG_GENERIC_IRQ_PROBE=y
CONFIG_INTEL_MEI=y
CONFIG_HAVE_C_RECORDMCOUNT=y
CONFIG_AD5064=y
CONFIG_PINCONF=y
CONFIG_MADERA_IRQ=y
CONFIG_STATIC_KEYS_SELFTEST=y
CONFIG_CFS_BANDWIDTH=y
CONFIG_SURFACE_AGGREGATOR=y
CONFIG_GPIB_CB7210=y
CONFIG_THERMAL_GOV_FAIR_SHARE=y
CONFIG_IOMMU_DEFAULT_DMA_STRICT=y
CONFIG_EEPROM_MAX6875=y
CONFIG_HARDLOCKUP_CHECK_TIMESTAMP=y
CONFIG_MEMBARRIER=y
CONFIG_RUSTC_HAS_SPAN_FILE=y
CONFIG_PINCTRL_LEWISBURG=y
CONFIG_JOYSTICK_GRIP_MP=y
CONFIG_AIO=y
CONFIG_REGULATOR_ATC260X=y
CONFIG_KEYBOARD_OPENCORES=y
CONFIG_RAPIDIO_CHMAN=y
CONFIG_CLOCKSOURCE_WATCHDOG=y
CONFIG_JOYSTICK_WALKERA0701=y
CONFIG_PREEMPT_LAZY=y
CONFIG_PARAVIRT_CLOCK=y
CONFIG_MTD_BLOCK=y
CONFIG_MTD_PCMCIA=y
CONFIG_MTD_NAND_ECC=y
CONFIG_SCSI_LOWLEVEL=y
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_REGS=y
CONFIG_SENSORS_CORETEMP=y
CONFIG_HAVE_CMPXCHG_DOUBLE=y
CONFIG_PCIE_PME=y
CONFIG_X86_KERNEL_IBT=y
CONFIG_X86_THERMAL_VECTOR=y
CONFIG_MOST_CDEV=y
CONFIG_CC_HAS_AUTO_VAR_INIT_PATTERN=y
CONFIG_ARCH_HAS_STRICT_KERNEL_RWX=y
CONFIG_MFD_MENF21BMC=y
CONFIG_ARCH_MIGHT_HAVE_PC_PARPORT=y
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE_PUD=y
CONFIG_LOCALVERSION_AUTO=y
CONFIG_PCCARD=y
CONFIG_HVC_DRIVER=y
CONFIG_SERIAL_MCTRL_GPIO=y
CONFIG_TI_ADS7138=y
CONFIG_HOTPLUG_CPU=y
CONFIG_XZ_DEC_BCJ=y
CONFIG_PATA_WINBOND=y
CONFIG_I2C_EMEV2=y
CONFIG_PROC_PID_ARCH_STATUS=y
CONFIG_NFTL=y
CONFIG_SERIO_ALTERA_PS2=y
CONFIG_SERIAL_IPOCTAL=y
CONFIG_EDAC=y
CONFIG_SCHED_CLUSTER=y
CONFIG_EARLY_PRINTK_USB=y
CONFIG_BMP280=y
CONFIG_SCHED_SMT=y
CONFIG_CRYPTO_HASH_INFO=y
CONFIG_VIRTIO_FS=y
CONFIG_GENERIC_EARLY_IOREMAP=y
CONFIG_TI_TMAG5273=y
CONFIG_SCSI_DEBUG=y
CONFIG_AUTOFS_FS=y
CONFIG_PATA_NETCELL=y
CONFIG_FUSE_PASSTHROUGH=y
CONFIG_GPIO_CDEV=y
CONFIG_MMA9551_CORE=y
CONFIG_RAPIDIO_RXS_GEN3=y
CONFIG_HWMON=y
CONFIG_X86_REQUIRED_FEATURE_PAE=y
CONFIG_FPGA_BRIDGE=y
CONFIG_TCG_CRB=y
CONFIG_X86_DISABLED_FEATURE_LAM=y
CONFIG_TEST_BITOPS=y
CONFIG_HAVE_USER_RETURN_NOTIFIER=y
CONFIG_IRSD200=y
CONFIG_X86_BOOTPARAM_MEMORY_CORRUPTION_CHECK=y
CONFIG_USER_STACKTRACE_SUPPORT=y
CONFIG_HAVE_DEBUG_KMEMLEAK=y
CONFIG_X86_UMIP=y
CONFIG_I2C_SIS630=y
CONFIG_ARCH_MAY_HAVE_PC_FDC=y
CONFIG_ARCH_HAS_NON_OVERLAPPING_ADDRESS_SPACE=y
CONFIG_SENSORS_ADT7470=y
CONFIG_BLK_DEV_INTEGRITY=y
CONFIG_COMEDI_NI_TIOCMD=y
CONFIG_AIC7XXX_REG_PRETTY_PRINT=y
CONFIG_AMD_NODE=y
CONFIG_ACPI_APEI_EINJ=y
CONFIG_USB_OHCI_LITTLE_ENDIAN=y
CONFIG_SENSORS_OCC=y
CONFIG_IIO_GTS_HELPER=y
CONFIG_XEN_AUTO_XLATE=y
CONFIG_UNIX98_PTYS=y
CONFIG_VGA_CONSOLE=y
CONFIG_MOUSE_PS2_ELANTECH=y
CONFIG_MOUSE_SYNAPTICS_I2C=y
CONFIG_I2C_ALI1535=y
CONFIG_ARCH_WANT_HUGETLB_VMEMMAP_PREINIT=y
CONFIG_MTD_PSTORE=y
CONFIG_W1=y
CONFIG_PID_NS=y
CONFIG_OPTEE_STATIC_PROTMEM_POOL=y
CONFIG_GENERIC_ENTRY=y
CONFIG_CRC32_ARCH=y
CONFIG_BFQ_CGROUP_DEBUG=y
CONFIG_STM_SOURCE_CONSOLE=y
CONFIG_PCI_TSM=y
CONFIG_PCI_PWRCTRL_TC9563=y
CONFIG_REMOTE_TARGET=y
CONFIG_MFD_JANZ_CMODIO=y
CONFIG_BACKLIGHT_ADP5520=y
CONFIG_SENSORS_LM93=y
CONFIG_CHARGER_SBS=y
CONFIG_MFD_BQ257XX=y
CONFIG_SATA_NV=y
CONFIG_HAVE_UACCESS_VALIDATION=y
CONFIG_SENSORS_AHT10=y
CONFIG_I2C_MUX_MLXCPLD=y
CONFIG_SATA_SVW=y
CONFIG_CXL_PMU=y
CONFIG_MTD_SBC_GXX=y
CONFIG_SAMPLE_VFS=y
CONFIG_LEDS_MLXREG=y
CONFIG_VIRTIO=y
CONFIG_ARCH_HAVE_EXTRA_ELF_NOTES=y
CONFIG_CHARGER_GPIO=y
CONFIG_ARCH_SUPPORTS_KEXEC_SIG_FORCE=y
CONFIG_RAVE_SP_CORE=y
CONFIG_RUSTC_HAS_UNNECESSARY_TRANSMUTES=y
CONFIG_POWER_SUPPLY=y
CONFIG_RELOCATABLE=y
CONFIG_COMEDI_AMPLC_PC236_PCI=y
CONFIG_CC_IS_GCC=y
CONFIG_MFD_CORE=y
CONFIG_RAPIDIO_CPS_XX=y
CONFIG_TEST_KSTRTOX=y
CONFIG_W1_SLAVE_DS2780=y
CONFIG_SENSORS_PECI=y
CONFIG_MTD_UBI=y
CONFIG_REGULATOR_FIXED_VOLTAGE=y
CONFIG_SURFACE_HOTPLUG=y
CONFIG_HDC3020=y
CONFIG_REED_SOLOMON_DEC8=y
CONFIG_ABP060MG=y
CONFIG_I2C=y
CONFIG_BACKLIGHT_ADP8860=y
CONFIG_SSB_PCIHOST_POSSIBLE=y
CONFIG_CRYPTO_LIB_SHA256=y
CONFIG_SERIAL_FSL_LPUART=y
CONFIG_PERF_EVENTS=y
CONFIG_HAVE_FENTRY=y
CONFIG_BROADCAST_TLB_FLUSH=y
CONFIG_X86_REQUIRED_FEATURE_ALWAYS=y
CONFIG_X86_REQUIRED_FEATURE_LM=y
CONFIG_MMA7660=y
CONFIG_ARCH_USE_SYM_ANNOTATIONS=y
CONFIG_SENSORS_FSCHMD=y
CONFIG_BUFFER_HEAD=y
CONFIG_X86_DISABLED_FEATURE_PTI=y
CONFIG_MFD_TI_LP873X=y
CONFIG_W1_SLAVE_DS2423=y
CONFIG_YENTA_RICOH=y
CONFIG_PINCTRL_METEORLAKE=y
CONFIG_CRYPTO_DEFLATE=y
CONFIG_IIO_BACKEND=y
CONFIG_PCI_DOMAINS=y
CONFIG_DMA_NEED_SYNC=y
CONFIG_HOTPLUG_CORE_SYNC=y
CONFIG_LZ4_COMPRESS=y
CONFIG_DEBUG_FS_ALLOW_NONE=y
CONFIG_BH1780=y
CONFIG_SBITMAP=y
CONFIG_GENERIC_IRQ_MATRIX_ALLOCATOR=y
CONFIG_CRYPTO_SM4_AESNI_AVX_X86_64=y
CONFIG_MFD_MADERA=y
CONFIG_SURFACE_AGGREGATOR_CDEV=y
CONFIG_MS5611_I2C=y
CONFIG_MITIGATION_TAA=y
CONFIG_XILINX_VCU=y
CONFIG_UNINLINE_SPIN_UNLOCK=y
CONFIG_IOMMU_API=y
CONFIG_ACPI_DEBUGGER=y
CONFIG_APDS9999=y
CONFIG_ARCH_HAS_DMA_OPS=y
CONFIG_F2FS_UNFAIR_RWSEM=y
CONFIG_ARCH_MIGHT_HAVE_PC_SERIO=y
CONFIG_CPU_SUP_HYGON=y
CONFIG_SD_ADC_MODULATOR=y
CONFIG_MFD_CS47L92=y
CONFIG_SCSI_ESAS2R=y
CONFIG_IPACK_BUS=y
CONFIG_NLS_ISO8859_2=y
CONFIG_GPIO_ICH=y
CONFIG_LCD2S=y
CONFIG_CXL_PCI=y
CONFIG_MODULES_USE_ELF_RELA=y
CONFIG_AD5446_I2C=y
CONFIG_CRASH_RESERVE=y
CONFIG_BMC150_MAGN=y
CONFIG_CHARGER_RT9471=y
CONFIG_BCH=y
CONFIG_X86_INTEL_TSX_MODE_OFF=y
CONFIG_HAVE_MMIOTRACE_SUPPORT=y
CONFIG_GPIB_CEC_PCI=y
CONFIG_RANDOMIZE_KSTACK_OFFSET_DEFAULT=y
CONFIG_CRYPTO_AEGIS128_AESNI_SSE2=y
CONFIG_CLZ_TAB=y
CONFIG_SENSORS_LM92=y
CONFIG_HAVE_NMI=y
CONFIG_NEED_PER_CPU_PAGE_FIRST_CHUNK=y
CONFIG_HAVE_ARCH_RANDOMIZE_KSTACK_OFFSET=y
CONFIG_SERIAL_8250_CS=y
CONFIG_KEBA_CP500=y
CONFIG_PM_OPP=y
CONFIG_ARCH_WANTS_DYNAMIC_TASK_STRUCT=y
CONFIG_X86_REQUIRED_FEATURE_XMM2=y
CONFIG_BLK_CGROUP_IOCOST=y
CONFIG_PROC_PAGE_MONITOR=y
CONFIG_MFD_ATC260X_I2C=y
CONFIG_JSA1212=y
CONFIG_RANDOM32_SELFTEST=y
CONFIG_VMCORE_INFO=y
CONFIG_MCB_PCI=y
CONFIG_IIO=y
CONFIG_ACPI_LEGACY_TABLES_LOOKUP=y
CONFIG_RPMSG_TTY=y
CONFIG_BACKLIGHT_LM3639=y
CONFIG_NEED_SG_DMA_FLAGS=y
CONFIG_MULTIPLEXER=y
CONFIG_VCNL3020=y
CONFIG_HAVE_OBJTOOL_MCOUNT=y
CONFIG_OPT4001=y
CONFIG_SENSORS_SMPRO=y
CONFIG_GENERIC_CPU_VULNERABILITIES=y
CONFIG_DECOMPRESS_XZ=y
CONFIG_MQ_IOSCHED_DEADLINE=y
CONFIG_LOCKDEP_SUPPORT=y
CONFIG_NLS_KOI8_R=y
CONFIG_ALTERA_PR_IP_CORE=y
CONFIG_DEVMEM=y
CONFIG_ARCH_HAS_UBSAN=y
CONFIG_IOMMU_IOVA=y
CONFIG_COMEDI_MITE=y
CONFIG_SENSORS_INA238=y
CONFIG_GPIO_BD9571MWV=y
CONFIG_ATA_FORCE=y
CONFIG_SENSORS_ISL29018=y
CONFIG_GPIO_RDC321X=y
CONFIG_COMEDI_DT3000=y
CONFIG_CRYPTO_SHA512=y
CONFIG_F2FS_IOSTAT=y
CONFIG_SENSORS_LTC4222=y
CONFIG_LEDS_MAX5970=y
CONFIG_PCI_XEN=y
CONFIG_PATA_NS87410=y
CONFIG_THERMAL_GOV_STEP_WISE=y
CONFIG_ARCH_HAS_ACPI_TABLE_UPGRADE=y
CONFIG_NLS_CODEPAGE_864=y
CONFIG_BPF_SYSCALL=y
CONFIG_GENERIC_ADC_THERMAL=y
CONFIG_CRYPTO_LIB_CHACHA=y
CONFIG_SENSORS_PC87427=y
CONFIG_CRYPTO_LIB_POLY1305_ARCH=y
CONFIG_PATA_ATP867X=y
CONFIG_NLS_CODEPAGE_932=y
CONFIG_GPIO_REGMAP=y
CONFIG_HAVE_ARCH_AUDITSYSCALL=y
CONFIG_CHARGER_BQ25890=y
CONFIG_I2C_PCI1XXXX=y
CONFIG_JFFS2_FS_XATTR=y
CONFIG_BATTERY_MAX17042=y
CONFIG_SCSI_MYRS=y
CONFIG_SENSORS_TMP108=y
CONFIG_PATA_LEGACY=y
CONFIG_JFFS2_SUMMARY=y
CONFIG_SENSORS_TMP513=y
CONFIG_BINFMT_SCRIPT=y
CONFIG_IIO_ST_GYRO_3AXIS=y
CONFIG_CRYPTO_STREEBOG=y
CONFIG_LEGACY_VSYSCALL_NONE=y
CONFIG_GPIO_VX855=y
CONFIG_BATTERY_GOLDFISH=y
CONFIG_GPIO_SCH311X=y
CONFIG_PROC_SYSCTL=y
CONFIG_X86_USER_SHADOW_STACK=y
CONFIG_SECURITYFS=y
CONFIG_GENERIC_PHY=y
CONFIG_MITIGATION_SPECTRE_V2=y
CONFIG_X86_DISABLED_FEATURE_PKU=y
CONFIG_IIO_BUFFER_CB=y
CONFIG_X86_AMD_PLATFORM_DEVICE=y
CONFIG_LEDS_TRIGGERS=y
CONFIG_IRQ_FORCED_THREADING=y
CONFIG_SCSI_AM53C974=y
CONFIG_IRQ_DOMAIN=y
CONFIG_TOOLS_SUPPORT_RELR=y
CONFIG_THREAD_INFO_IN_TASK=y
CONFIG_FS_ENCRYPTION_ALGS=y
CONFIG_LCD_CLASS_DEVICE=y
CONFIG_HAS_IOMEM=y
CONFIG_LEDS_NIC78BX=y
CONFIG_IRQ_MSI_LIB=y
CONFIG_I2C_GPIO_FAULT_INJECTOR=y
CONFIG_HAVE_SAMPLE_FTRACE_DIRECT=y
CONFIG_SG_POOL=y
CONFIG_BOARD_TPCI200=y
CONFIG_CC_HAS_KASAN_SW_TAGS=y
CONFIG_BACKLIGHT_PANDORA=y
CONFIG_ACPI_APEI=y
CONFIG_LEDS_DA9052=y
CONFIG_LEDS_LP3952=y
CONFIG_SENSORS_DELL_SMM=y
CONFIG_CHARGER_MAX14577=y
CONFIG_ARCH_HAS_DEVMEM_IS_ALLOWED=y
CONFIG_IO_WQ=y
CONFIG_MPL3115=y
CONFIG_JFFS2_COMPRESSION_OPTIONS=y
CONFIG_ARCH_SUPPORTS_MSEAL_SYSTEM_MAPPINGS=y
CONFIG_REGULATOR_LP3971=y
CONFIG_X86_DISABLED_FEATURE_OSPKE=y
CONFIG_RCU_LAZY_DEFAULT_OFF=y
CONFIG_CRYPTO_AEAD2=y
CONFIG_EXPORTFS_BLOCK_OPS=y
CONFIG_MFD_RT4831=y
CONFIG_SENSORS_K8TEMP=y
CONFIG_MTD_COMPLEX_MAPPINGS=y
CONFIG_GPIO_TWL4030=y
CONFIG_ARCH_HAS_PARANOID_L1D_FLUSH=y
CONFIG_CLK_TWL6040=y
CONFIG_ADXL372=y
CONFIG_HAVE_UNSTABLE_SCHED_CLOCK=y
CONFIG_SERIAL_MAX310X=y
CONFIG_LINEDISP=y
CONFIG_MMA7455_I2C=y
CONFIG_SCSI_ARCMSR=y
CONFIG_ARCH_HAS_CPU_FINALIZE_INIT=y
CONFIG_JOYSTICK_SEESAW=y
CONFIG_COMEDI_NI_TIO=y
CONFIG_HAVE_GCC_PLUGINS=y
CONFIG_SECCOMP=y
CONFIG_XEN_PRIVCMD=y
CONFIG_AD5446=y
CONFIG_COMEDI_NI_670X=y
CONFIG_FW_LOADER=y
CONFIG_SMPRO_ERRMON=y
CONFIG_REGULATOR_PF0900=y
CONFIG_EPOLL=y
CONFIG_SERIAL_DEV_BUS=y
CONFIG_CPU_IDLE_GOV_TEO=y
CONFIG_PCI_LABEL=y
CONFIG_SCSI_FDOMAIN_PCI=y
CONFIG_KSM=y
CONFIG_TRACING_SUPPORT=y
CONFIG_TPS65010=y
CONFIG_SENSORS_F71805F=y
CONFIG_DMA_API_DEBUG=y
CONFIG_DLHL60D=y
CONFIG_AD7150=y
CONFIG_HPET_TIMER=y
CONFIG_GPIO_WS16C48=y
CONFIG_X86_DISABLED_FEATURE_CALL_DEPTH=y
CONFIG_YENTA=y
CONFIG_XOR_BLOCKS_ARCH=y
CONFIG_MSPRO_BLOCK=y
CONFIG_LEDS_AW200XX=y
CONFIG_CRYPTO_SIG2=y
CONFIG_ARCH_HAS_GCOV_PROFILE_ALL=y
CONFIG_MOUSE_PS2_LIFEBOOK=y
CONFIG_MFD_MAX14577=y
CONFIG_SENSORS_PT5161L=y
CONFIG_BATTERY_MAX1721X=y
CONFIG_KEXEC_BZIMAGE_VERIFY_SIG=y
CONFIG_POWERCAP=y
CONFIG_CRYPTO_LZO=y
CONFIG_THERMAL_GOV_POWER_ALLOCATOR=y
CONFIG_RATIONAL=y
CONFIG_SERIAL_8250_DW=y
CONFIG_HW_RANDOM_TPM=y
CONFIG_PATA_SIL680=y
CONFIG_NLS_CODEPAGE_950=y
CONFIG_CHARGER_LP8727=y
CONFIG_DMI=y
CONFIG_BACKLIGHT_RAVE_SP=y
CONFIG_SCSI_FDOMAIN=y
CONFIG_SENSORS_HMC5843=y
CONFIG_REGULATOR_RT5739=y
CONFIG_MOUSE_PS2_CYPRESS=y
CONFIG_TI_ADC081C=y
CONFIG_W1_SLAVE_DS2405=y
CONFIG_SAMPLE_KOBJECT=y
CONFIG_SENSORS_SBTSI=y
CONFIG_CHARGER_MT6360=y
CONFIG_PINCTRL_DENVERTON=y
CONFIG_PAC1921=y
CONFIG_BMA400=y
CONFIG_QUEUED_SPINLOCKS=y
CONFIG_PCIEASPM_PERFORMANCE=y
CONFIG_GENERIC_BUG=y
CONFIG_TRUSTED_KEYS=y
CONFIG_MCP4728=y
CONFIG_GROUP_SCHED_BANDWIDTH=y
CONFIG_TEST_DHRY=y
CONFIG_UBIFS_FS_ZSTD=y
CONFIG_MPRLS0025PA_I2C=y
CONFIG_SENSORS_G760A=y
CONFIG_SERIO_SERPORT=y
CONFIG_UBIFS_FS_ZLIB=y
CONFIG_COMEDI_8254=y
CONFIG_NVME_TARGET_AUTH=y
CONFIG_NTSYNC=y
CONFIG_SSB=y
CONFIG_ARCH_SUPPORTS_HUGETLBFS=y
CONFIG_SENSORS_ADT7462=y
CONFIG_TARGET_CORE=y
CONFIG_COMEDI=y
CONFIG_FW_LOADER_USER_HELPER=y
CONFIG_LEDS_TCA6507=y
CONFIG_GPIO_XILINX=y
CONFIG_GENERIC_IRQ_ENTRY=y
CONFIG_TABLET_SERIAL_WACOM4=y
CONFIG_LEDS_PCA955X_GPIO=y
CONFIG_SLUB_DEBUG=y
CONFIG_HOTPLUG_CORE_SYNC_FULL=y
CONFIG_CRYPTO_BLOWFISH=y
CONFIG_SENSORS_HMC5843_I2C=y
CONFIG_INIT_STACK_NONE=y
CONFIG_PM_SLEEP_SMP=y
CONFIG_SCSI_WD719X=y
CONFIG_HAVE_ARCH_TRACEHOOK=y
CONFIG_ARCH_DMA_ADDR_T_64BIT=y
CONFIG_MIGRATION=y
CONFIG_DMA_SHARED_BUFFER=y
CONFIG_GPIO_AMDPT=y
CONFIG_SENSORS_MAX197=y
CONFIG_MSDOS_PARTITION=y
CONFIG_CPU_IDLE=y
CONFIG_GEHC_PMC_ADC=y
CONFIG_PARPORT_PC_SUPERIO=y
CONFIG_GENERIC_MSI_IRQ=y
CONFIG_PATA_ACPI=y
CONFIG_AD5272=y
CONFIG_RWSEM_SPIN_ON_OWNER=y
CONFIG_ARCH_WANT_BATCHED_UNMAP_TLB_FLUSH=y
CONFIG_GENERIC_CALIBRATE_DELAY=y
CONFIG_ACPI_FAN=y
CONFIG_SMP=y
CONFIG_SCSI_MYRB=y
CONFIG_IRQ_TIME_ACCOUNTING=y
CONFIG_X86_CHECK_BIOS_CORRUPTION=y
CONFIG_HAVE_ACPI_APEI_NMI=y
CONFIG_FSNOTIFY=y
CONFIG_HAVE_STATIC_CALL_INLINE=y
CONFIG_REGULATOR_88PG86X=y
CONFIG_DMABUF_HEAPS=y
CONFIG_SERIO_PCIPS2=y
CONFIG_PCC=y
CONFIG_SENSORS_MAX127=y
CONFIG_GENERIC_IRQ_SHOW=y
CONFIG_DHT11=y
CONFIG_TEST_MEMINIT=y
CONFIG_KEYBOARD_LM8323=y
CONFIG_VIRT_CPU_ACCOUNTING=y
CONFIG_NLS_MAC_CENTEURO=y
CONFIG_SENSORS_INA2XX=y
CONFIG_GENERIC_BUG_RELATIVE_POINTERS=y
CONFIG_CC_NO_ARRAY_BOUNDS=y
CONFIG_SCSI_ADVANSYS=y
CONFIG_REGULATOR_PV88090=y
CONFIG_CRYPTO_GENIV=y
CONFIG_GPIO_IDIO_16=y
CONFIG_DYNAMIC_SIGFRAME=y
CONFIG_CRYPTO_ARIA_AESNI_AVX2_X86_64=y
CONFIG_BOSCH_BNO055_SERIAL=y
CONFIG_LTR390=y
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_ARGS=y
CONFIG_HAVE_EBPF_JIT=y
CONFIG_ARCH_SUPPORTS_PAGE_TABLE_CHECK=y
CONFIG_GENERIC_ALLOCATOR=y
CONFIG_KEYS_REQUEST_CACHE=y
CONFIG_REGULATOR_SLG51000=y
CONFIG_GPIB=y
CONFIG_CLKBLD_I8253=y
CONFIG_HSI_BOARDINFO=y
