CONFIG_ARCH_ACTIONS=n
CONFIG_ARCH_TEGRA_238_SOC=n
CONFIG_PINCTRL_MESON_S4=n
CONFIG_MMC_SDHCI_OF_DWCMSHC=n
CONFIG_PAGE_SIZE_LESS_THAN_64KB=n
CONFIG_LEDS_TRIGGER_DEFAULT_ON=n
CONFIG_GPIO_MPC8XXX=n
CONFIG_PTP_1588_CLOCK_DTE=n
CONFIG_MOUSE_PS2_CYPRESS=n
CONFIG_DRM_RCAR_VSP=n
CONFIG_TREE_SRCU=n
CONFIG_TI_PRUSS=n
CONFIG_COMMON_CLK_SCPI=n
CONFIG_EFI_CUSTOM_SSDT_OVERLAYS=n
CONFIG_TEGRA_HOST1X=n
CONFIG_MMC=n
CONFIG_RESET_IMX8MP_AUDIOMIX=n
CONFIG_SPRD_COMMON_CLK=n
CONFIG_ATA=n
CONFIG_SERIAL_8250_CONSOLE=n
CONFIG_ARCH_HAVE_NMI_SAFE_CMPXCHG=n
CONFIG_RPMSG_VIRTIO=n
CONFIG_MMC_SDHI_INTERNAL_DMAC=n
CONFIG_SND_SOC_TEGRA=n
CONFIG_EFI_SOFT_RESERVE=n
CONFIG_LEDS_CLASS=n
CONFIG_TI_SCI_CLK=n
CONFIG_DRM_DISPLAY_HDMI_AUDIO_HELPER=n
CONFIG_GPIO_BLZP1600=n
CONFIG_GPIO_IMX_SCU=n
CONFIG_QCOM_NET_PHYLIB=n
CONFIG_SCHED_INFO=n
CONFIG_SM_CAMCC_8250=n
CONFIG_CRYPTO_DEV_HISI_HPRE=n
CONFIG_THERMAL=n
CONFIG_EC_HUAWEI_GAOKUN=n
CONFIG_SND_SOC_LPASS_CDC_DMA=n
CONFIG_SND_SOC_GTM601=n
CONFIG_USB_ISP1760_HCD=n
CONFIG_QCOM_VADC_COMMON=n
CONFIG_MICROCHIP_PHY=n
CONFIG_NET_VENDOR_FREESCALE=n
CONFIG_ARCH_WANTS_THP_SWAP=n
CONFIG_ARCH_BST=n
CONFIG_SYS_SUPPORTS_SH_CMT=n
CONFIG_TASKSTATS=n
CONFIG_CLK_IMX95_BLK_CTL=n
CONFIG_SOCIONEXT_SYNQUACER_PREITS=n
CONFIG_SM_VIDEOCC_8250=n
CONFIG_PHY_RZ_G3E_USB3=n
CONFIG_USB_CHIPIDEA_MSM=n
CONFIG_ARCH_HAS_USER_SHADOW_STACK=n
CONFIG_NET_9P=n
CONFIG_MTK_SCP=n
CONFIG_PHY_MVEBU_CP110_COMPHY=n
CONFIG_R8169=n
CONFIG_GENERIC_IRQ_KEXEC_CLEAR_VM_FORWARD=n
CONFIG_BPF_JIT=n
CONFIG_HAS_SECURITY_AUDIT=n
CONFIG_CEC_NXP_TDA9950=n
CONFIG_SND_SOC_WM8994=n
CONFIG_TRANSPARENT_HUGEPAGE=n
CONFIG_NF_CONNTRACK_EVENTS=n
CONFIG_SND_SOC_WCD938X=n
CONFIG_USB_GADGET=n
CONFIG_SCSI_UFSHCD_PLATFORM=n
CONFIG_CIX_MBOX=n
CONFIG_ARM_IMX_BUS_DEVFREQ=n
CONFIG_I2C_CHARDEV=n
CONFIG_PCI_AARDVARK=n
CONFIG_CC_HAS_ASSUME=n
CONFIG_DRM_RZG2L_DU=n
CONFIG_SCSI_COMMON=n
CONFIG_CRYPTO_CAMELLIA=n
CONFIG_IPMI_SI=n
CONFIG_COMMON_CLK_MT8183_CAMSYS=n
CONFIG_MARVELL_GTI_WDT=n
CONFIG_CEC_NOTIFIER=n
CONFIG_ARM_CCI400_PMU=n
CONFIG_MEMREGION=n
CONFIG_SUNXI_NMI_INTC=n
CONFIG_TI_SCI_INTA_MSI_DOMAIN=n
CONFIG_IRQ_TIME_ACCOUNTING=n
CONFIG_DMA_BCM2835=n
CONFIG_COMMON_CLK_MESON_DUALDIV=n
CONFIG_K3_THERMAL=n
CONFIG_CLK_RCAR_GEN4_CPG=n
CONFIG_COMMON_CLK_MEDIATEK=n
CONFIG_MFD_WCD934X=n
CONFIG_WLAN_VENDOR_RALINK=n
CONFIG_STP=n
CONFIG_AUDIT=n
CONFIG_RTC_DRV_DA9063=n
CONFIG_MLX4_DEBUG=n
CONFIG_DP83TG720_PHY=n
CONFIG_PINCTRL_SOPHGO_CV18XX_OPS=n
CONFIG_TYPEC_TCPCI_MAXIM=n
CONFIG_POWER_RESET_GPIO_RESTART=n
CONFIG_SERIAL_OWL=n
CONFIG_PCIE_RCAR_GEN4_EP=n
CONFIG_SND_SOC_TEGRA210_ADX=n
CONFIG_RESET_BRCMSTB_RESCAL=n
CONFIG_CC_HAS_KASAN_GENERIC=n
CONFIG_ARCH_MHP_MEMMAP_ON_MEMORY_ENABLE=n
CONFIG_PRU_REMOTEPROC=n
CONFIG_PHY_ROCKCHIP_EMMC=n
CONFIG_APPLE_ADMAC=n
CONFIG_PINCTRL_MAX77620=n
CONFIG_SM_GPUCC_8250=n
CONFIG_COMMON_CLK_MESON_SCLK_DIV=n
CONFIG_USB_RTL8152=n
CONFIG_PINCTRL_SC8280XP_LPASS_LPI=n
CONFIG_CAN=n
CONFIG_SYSC_R8A774E1=n
CONFIG_QCOM_CLK_APCS_MSM8916=n
CONFIG_MEDIA_TUNER_MC44S803=n
CONFIG_DRM_MSM_KMS_FBDEV=n
CONFIG_STM_PROTO_BASIC=n
CONFIG_NETFILTER_XT_MATCH_CONNTRACK=n
CONFIG_RELOCATABLE=n
CONFIG_MOUSE_PS2_LOGIPS2PP=n
CONFIG_VIDEO_RZG2L_CRU=n
CONFIG_ARM64_ERRATUM_2054223=n
CONFIG_EFI_GENERIC_STUB=n
CONFIG_QCOM_SMP2P=n
CONFIG_CRYPTO_AES_ARM64_NEON_BLK=n
CONFIG_CLK_X1E80100_GPUCC=n
CONFIG_WLAN_VENDOR_SILABS=n
CONFIG_IMX_INTMUX=n
CONFIG_TPS6594_ESM=n
CONFIG_PHY_QCOM_M31_USB=n
CONFIG_SPARSEMEM_VMEMMAP=n
CONFIG_DRM_CLIENT_SETUP=n
CONFIG_INTERCONNECT_QCOM_SC8180X=n
CONFIG_SND_RAWMIDI=n
CONFIG_EVENTFD=n
CONFIG_ARM_SCMI_PERF_DOMAIN=n
CONFIG_ARM_SCMI_TRANSPORT_MAILBOX=n
CONFIG_NET_CLS_FLOWER=n
CONFIG_OF_EARLY_FLATTREE=n
CONFIG_ATA_VERBOSE_ERROR=n
CONFIG_MTD_BLOCK=n
CONFIG_VIDEO=n
CONFIG_COMMON_CLK_MT8195_VDOSYS=n
CONFIG_BLK_DEV_DM=n
CONFIG_HISILICON_IRQ_MBIGEN=n
CONFIG_PATA_TIMINGS=n
CONFIG_MFD_SIMPLE_MFD_I2C=n
CONFIG_ARCH_AIROHA=n
CONFIG_VIDEO_HANTRO_IMX8M=n
CONFIG_CLK_OWL_S500=n
CONFIG_TYPEC_TPS6598X=n
CONFIG_DRM_FBDEV_EMULATION=n
CONFIG_DRM_MXSFB=n
CONFIG_AHCI_DWC=n
CONFIG_CRYPTO_LIB_GF128MUL=n
CONFIG_ARCH_BCM2835=n
CONFIG_CRC_CCITT=n
CONFIG_MEDIA_TUNER_TDA8290=n
CONFIG_USB_SNP_UDC_PLAT=n
CONFIG_ROCKCHIP_THERMAL=n
CONFIG_MMC_DW=n
CONFIG_PINCTRL_SUN50I_H6=n
CONFIG_MEMBARRIER=n
CONFIG_INET_DIAG=n
CONFIG_SWIOTLB=n
CONFIG_ARM64_SME=n
CONFIG_BCM4908_ENET=n
CONFIG_LEDS_CLASS_FLASH=n
CONFIG_BCM_SR_THERMAL=n
CONFIG_CRC32=n
CONFIG_ROCKCHIP_LVDS=n
CONFIG_COMMON_CLK_MT8192_IMP_IIC_WRAP=n
CONFIG_MISC_FILESYSTEMS=n
CONFIG_CC_HAS_MIN_FUNCTION_ALIGNMENT=n
CONFIG_JUMP_LABEL=n
CONFIG_ARCH_R8A774A1=n
CONFIG_EXYNOS_ADC=n
CONFIG_VCHIQ_CDEV=n
CONFIG_BLK_CGROUP_PUNT_BIO=n
CONFIG_USB_HID=n
CONFIG_LZO_COMPRESS=n
CONFIG_SND_SOC_QDSP6_ADM=n
CONFIG_HISILICON_ERRATUM_161010101=n
CONFIG_NVME_CORE=n
CONFIG_RENESAS_RPCIF=n
CONFIG_VIDEO_SUN6I_CSI=n
CONFIG_USB_XHCI_HCD=n
CONFIG_MFD_TPS6594_I2C=n
CONFIG_CRYPTO_BENCHMARK=n
CONFIG_SYSTEMPORT=n
CONFIG_HW_RANDOM_XILINX=n
CONFIG_STM32_WATCHDOG=n
CONFIG_MDIO_BCM_IPROC=n
CONFIG_GPIO_MACSMC=n
CONFIG_CROS_USBPD_NOTIFY=n
CONFIG_HWSPINLOCK_OMAP=n
CONFIG_BLK_DEV_INITRD=n
CONFIG_QCS_DISPCC_615=n
CONFIG_PINCTRL_MTK=n
CONFIG_PINCTRL_MESON_A1=n
CONFIG_CLK_SOPHGO_CV1800=n
CONFIG_CGROUP_PIDS=n
CONFIG_USB_EHCI_BRCMSTB=n
CONFIG_USB_EHCI_TT_NEWSCHED=n
CONFIG_DIMLIB=n
CONFIG_PINCTRL_IMX=n
CONFIG_TIMER_OF=n
CONFIG_RST_RCAR=n
CONFIG_USB_CHIPIDEA_NPCM=n
CONFIG_TYPEC_MUX_WCD939X_USBSS=n
CONFIG_SND_SOC_IMX_PCM_DMA=n
CONFIG_ACPI_APEI_PCIEAER=n
CONFIG_LEGACY_DIRECT_IO=n
CONFIG_USB_PCI=n
CONFIG_SERIAL_XILINX_PS_UART=n
CONFIG_TCG_TPM=n
CONFIG_MMC_BLOCK=n
CONFIG_COMMON_CLK_MT6765=n
CONFIG_RESET_QCOM_AOSS=n
CONFIG_ARCH_WANT_BATCHED_UNMAP_TLB_FLUSH=n
CONFIG_HAVE_ARCH_KGDB=n
CONFIG_DRM_CLIENT_LIB=n
CONFIG_IMX2_WDT=n
CONFIG_THERMAL_GOV_POWER_ALLOCATOR=n
CONFIG_CGROUP_BPF=n
CONFIG_NET_VENDOR_CADENCE=n
CONFIG_PCI_ENDPOINT_TEST=n
CONFIG_PCI_ATS=n
CONFIG_SENSORS_ARM_SCMI=n
CONFIG_TEE_DMABUF_HEAPS=n
CONFIG_CC_HAS_NO_PROFILE_FN_ATTR=n
CONFIG_COMMON_CLK_MT8195_IMGSYS=n
CONFIG_SND_SUN4I_SPDIF=n
CONFIG_TYPEC_MT6360=n
CONFIG_ATH12K=n
CONFIG_ARM64_E0PD=n
CONFIG_MDIO_BCM_UNIMAC=n
CONFIG_COMPACTION=n
CONFIG_ARCH_BCM_IPROC=n
CONFIG_HW_RANDOM_ARM_SMCCC_TRNG=n
CONFIG_SERIAL_MVEBU_UART=n
CONFIG_NXP_ENETC4=n
CONFIG_MEDIA_SDR_SUPPORT=n
CONFIG_NFS_V4_2_READ_PLUS=n
CONFIG_VIDEO_TI_J721E_CSI2RX=n
CONFIG_DRM_NOUVEAU_BACKLIGHT=n
CONFIG_HAVE_ARCH_KFENCE=n
CONFIG_RESET_RASPBERRYPI=n
CONFIG_USB_NET_SR9800=n
CONFIG_INTEL_STRATIX10_RSU=n
CONFIG_PINCTRL_RZT2H=n
CONFIG_ACPI_HOTPLUG_CPU=n
CONFIG_ARCH_HAS_DMA_OPS=n
CONFIG_FPGA_REGION=n
CONFIG_MAX9611=n
CONFIG_EFI_RUNTIME_WRAPPERS=n
CONFIG_INTERCONNECT_IMX=n
CONFIG_QCOM_SPMI_ADC_TM5=n
CONFIG_SOC_TEGRA_PMC=n
CONFIG_CROS_EC_PROTO=n
CONFIG_ACPI_THERMAL_LIB=n
CONFIG_PINCTRL_EXYNOS=n
CONFIG_MMC_SDHCI_XENON=n
CONFIG_PCIE_APPLE=n
CONFIG_ARM_TEGRA194_CPUFREQ=n
CONFIG_IOMMU_DMA=n
CONFIG_SND_SOC_SOF=n
CONFIG_IPQ_APSS_5424=n
CONFIG_COMMON_CLK_EN7523=n
CONFIG_COMMON_CLK_MT8183=n
CONFIG_SND_MESON_CODEC_GLUE=n
CONFIG_HAVE_UID16=n
CONFIG_SND_MESON_G12A_TOACODEC=n
CONFIG_WLAN_VENDOR_INTEL=n
CONFIG_AHCI_QORIQ=n
CONFIG_MEDIA_SUPPORT_FILTER=n
CONFIG_APERTURE_HELPERS=n
CONFIG_REGULATOR_MP8859=n
CONFIG_CPU_THERMAL=n
CONFIG_DRM_ZYNQMP_DPSUB_AUDIO=n
CONFIG_DRM_PANFROST=n
CONFIG_INPUT_DA9063_ONKEY=n
CONFIG_CRYPTO_LIB_SHA512_ARCH=n
CONFIG_SPI_IMX=n
CONFIG_COMMON_CLK_MT6795=n
CONFIG_USB_ROLE_SWITCH=n
CONFIG_NVMEM_REBOOT_MODE=n
CONFIG_PCI_SYSCALL=n
CONFIG_RTC_DRV_TEGRA=n
CONFIG_DRM_SII902X=n
CONFIG_PHYS_ADDR_T_64BIT=n
CONFIG_PINCTRL_MT6797=n
CONFIG_HAVE_C_RECORDMCOUNT=n
CONFIG_RZG2L_ADC=n
CONFIG_DRM_ITE_IT6263=n
CONFIG_IP_PNP=n
CONFIG_TOUCHSCREEN_GOODIX_BERLIN_SPI=n
CONFIG_NVMEM_IMX_OCOTP=n
CONFIG_PINCTRL_SUN50I_H6_R=n
