CONFIG_NET_VENDOR_META=n
CONFIG_NET_VENDOR_MELLANOX=n
CONFIG_X86_DISABLED_FEATURE_SEV_SNP=n
CONFIG_ARCH_ENABLE_SPLIT_PMD_PTLOCK=n
CONFIG_ARCH_WANTS_THP_SWAP=n
CONFIG_KPROBE_EVENTS=n
CONFIG_ARCH_HAS_MEMBARRIER_SYNC_CORE=n
CONFIG_CONSOLE_TRANSLATIONS=n
CONFIG_MITIGATION_SPECTRE_BHI=n
CONFIG_HAVE_NOINSTR_VALIDATION=n
CONFIG_PERF_EVENTS_INTEL_CSTATE=n
CONFIG_CRC_OPTIMIZATIONS=n
CONFIG_X86_THERMAL_VECTOR=n
CONFIG_BITREVERSE=n
CONFIG_BLK_DEV_LOOP=n
CONFIG_ATA_ACPI=n
CONFIG_GPU_BUDDY=n
CONFIG_BROADCAST_TLB_FLUSH=n
CONFIG_DNOTIFY=n
CONFIG_BQL=n
CONFIG_ARCH_HAS_GIGANTIC_PAGE=n
CONFIG_HAVE_ARCH_HUGE_VMAP=n
CONFIG_BLK_CGROUP_IOPRIO=n
CONFIG_ACPI_THERMAL=n
CONFIG_NET_VENDOR_CHELSIO=n
CONFIG_SYSTEM_TRUSTED_KEYRING=n
CONFIG_NET_POLL_CONTROLLER=n
CONFIG_PCMCIA_LOAD_CIS=n
CONFIG_EFI_EARLYCON=n
CONFIG_SND_DMA_SGBUF=n
CONFIG_TRACEPOINTS=n
CONFIG_TREE_RCU=n
CONFIG_DMIID=n
CONFIG_UNIX98_PTYS=n
CONFIG_MITIGATION_RETPOLINE=n
CONFIG_HOTPLUG_CORE_SYNC_DEAD=n
CONFIG_AGP_AMD64=n
CONFIG_ARCH_HIBERNATION_POSSIBLE=n
CONFIG_DRM_PANEL_BRIDGE=n
CONFIG_TASKSTATS=n
CONFIG_PROC_KCORE=n
CONFIG_SND_INTEL_SOUNDWIRE_ACPI=n
CONFIG_IP_MROUTE=n
CONFIG_CRYPTO_GCM=n
CONFIG_EFI_STUB=n
CONFIG_NFS_V4_0=n
CONFIG_WLAN_VENDOR_ST=n
CONFIG_X86_DISABLED_FEATURE_VME=n
CONFIG_HARDIRQS_SW_RESEND=n
CONFIG_PNP=n
CONFIG_NET_VENDOR_SILAN=n
CONFIG_HID_SAMSUNG=n
CONFIG_X86_MCE_AMD=n
CONFIG_SPARSEMEM_VMEMMAP_PREINIT=n
CONFIG_MAC80211_RC_MINSTREL=n
CONFIG_MMCONF_FAM10H=n
CONFIG_VIRTIO_DMA_SHARED_BUFFER=n
CONFIG_USE_PERCPU_NUMA_NODE_ID=n
CONFIG_ARCH_SPARSEMEM_DEFAULT=n
CONFIG_NET_VENDOR_PENSANDO=n
CONFIG_X86_HAVE_PAE=n
CONFIG_NVRAM=n
CONFIG_LOCKD=n
CONFIG_NETFILTER_XT_TARGET_TCPMSS=n
CONFIG_SECURITY_SELINUX=n
CONFIG_EFI_PARTITION=n
CONFIG_MMU_GATHER_MERGE_VMAS=n
CONFIG_HAVE_OBJTOOL_MCOUNT=n
CONFIG_SND_USB=n
CONFIG_NETFILTER_XT_MATCH_POLICY=n
CONFIG_AMD_NUMA=n
CONFIG_ARCH_SUPPORTS_KEXEC_BZIMAGE_VERIFY_SIG=n
CONFIG_TICK_CPU_ACCOUNTING=n
CONFIG_RTC_INTF_PROC=n
CONFIG_CLKBLD_I8253=n
CONFIG_SERIAL_8250_DETECT_IRQ=n
CONFIG_HAVE_MOD_ARCH_SPECIFIC=n
CONFIG_NET_VENDOR_ALIBABA=n
CONFIG_EXPORTFS=n
CONFIG_HZ_1000=n
CONFIG_BLK_RQ_ALLOC_TIME=n
CONFIG_SWAP=n
CONFIG_MITIGATION_IBPB_ENTRY=n
CONFIG_X86_DISABLED_FEATURE_USER_SHSTK=n
CONFIG_SG_POOL=n
CONFIG_EFI_ESRT=n
CONFIG_VIRTIO_NET=n
CONFIG_SPLIT_PTE_PTLOCKS=n
CONFIG_ARCH_HAS_PMEM_API=n
CONFIG_KRETPROBE_ON_RETHOOK=n
CONFIG_E1000E=n
CONFIG_PARAVIRT=n
CONFIG_QUOTACTL=n
CONFIG_PREEMPT_LAZY=n
CONFIG_HAVE_HARDLOCKUP_DETECTOR_PERF=n
CONFIG_X86_DISABLED_FEATURE_XENPV=n
CONFIG_INPUT_SPARSEKMAP=n
CONFIG_GENERIC_CPU_DEVICES=n
CONFIG_EARLY_PRINTK_USB=n
CONFIG_EPROBE_EVENTS=n
CONFIG_DEBUG_STACK_USAGE=n
CONFIG_HAVE_KERNEL_GZIP=n
CONFIG_SECURITY=n
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO=n
CONFIG_LZO_COMPRESS=n
CONFIG_PNFS_FILE_LAYOUT=n
CONFIG_SPARSEMEM=n
CONFIG_IO_DELAY_0X80=n
CONFIG_MITIGATION_ITS=n
CONFIG_AUXILIARY_BUS=n
CONFIG_BLK_DEV_SD=n
CONFIG_NET_VENDOR_DLINK=n
CONFIG_CRYPTO_ALGAPI2=n
CONFIG_GENERIC_CPU_VULNERABILITIES=n
CONFIG_DMADEVICES=n
CONFIG_NFS_DISABLE_UDP_SUPPORT=n
CONFIG_JBD2=n
CONFIG_MITIGATION_RETHUNK=n
CONFIG_SCSI_COMMON=n
CONFIG_INTEGRITY_AUDIT=n
CONFIG_CRYPTO_SHA256=n
CONFIG_HARDLOCKUP_CHECK_TIMESTAMP=n
CONFIG_IP_PNP=n
CONFIG_ARCH_SUPPORTS_CRASH_DUMP=n
CONFIG_HRTIMER_REARM_DEFERRED=n
CONFIG_VIRTIO_PCI_LEGACY=n
CONFIG_PROC_PID_ARCH_STATUS=n
CONFIG_LOCALVERSION_AUTO=n
CONFIG_RPS=n
CONFIG_ATA_FORCE=n
CONFIG_XZ_DEC_X86=n
CONFIG_SND_SEQUENCER=n
CONFIG_EFI_DXE_MEM_ATTRIBUTES=n
CONFIG_BRANCH_PROFILE_NONE=n
CONFIG_NEW_LEDS=n
CONFIG_FW_CACHE=n
CONFIG_HAVE_KERNEL_LZ4=n
CONFIG_NET_VENDOR_EMULEX=n
CONFIG_ACPI_PRMT=n
CONFIG_COMPAT_32=n
CONFIG_DEBUG_KERNEL=n
CONFIG_HID_PETALYNX=n
CONFIG_BLOCK=n
CONFIG_RCU_TRACE=n
CONFIG_USB_ANNOUNCE_NEW_DEVICES=n
CONFIG_CRYPTO_HASH2=n
CONFIG_GENERIC_GETTIMEOFDAY=n
CONFIG_SND_SEQ_HRTIMER_DEFAULT=n
CONFIG_PM_TRACE_RTC=n
CONFIG_SND=n
CONFIG_SATA_PMP=n
CONFIG_HID_PID=n
CONFIG_ATA_SFF=n
CONFIG_NEED_TASKS_RCU=n
CONFIG_RT_MUTEXES=n
CONFIG_CPU_FREQ_GOV_USERSPACE=n
CONFIG_SERIAL_8250_EXTENDED=n
CONFIG_ARCH_HAS_PTDUMP=n
CONFIG_NET_VENDOR_MYRI=n
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST_IDLE=n
CONFIG_X86=n
CONFIG_NET_CLS_CGROUP=n
CONFIG_HAVE_KRETPROBES=n
CONFIG_NETFILTER_NETLINK=n
CONFIG_CC_HAS_ASM_GOTO_OUTPUT=n
CONFIG_RANDSTRUCT_NONE=n
CONFIG_X86_X2APIC=n
CONFIG_POSIX_MQUEUE_SYSCTL=n
CONFIG_ARCH_MHP_MEMMAP_ON_MEMORY_ENABLE=n
CONFIG_PTP_1588_CLOCK_OPTIONAL=n
CONFIG_DRM_I915_USERPTR=n
CONFIG_PCCARD=n
CONFIG_GENERIC_PENDING_IRQ=n
CONFIG_AGP=n
CONFIG_ARCH_SUPPORTS_CRASH_HOTPLUG=n
CONFIG_NETFILTER_XT_MATCH_STATE=n
CONFIG_CPU_IDLE_GOV_HALTPOLL=n
CONFIG_DMA_SHARED_BUFFER=n
CONFIG_RING_BUFFER=n
CONFIG_USB_DEFAULT_PERSIST=n
CONFIG_BLK_DEV=n
CONFIG_SND_JACK_INPUT_DEV=n
CONFIG_NEED_PER_CPU_PAGE_FIRST_CHUNK=n
CONFIG_HAVE_ARCH_KGDB=n
CONFIG_NET_EMATCH=n
CONFIG_NET_INGRESS=n
CONFIG_HAVE_ASM_MODVERSIONS=n
CONFIG_NET_IP_TUNNEL=n
CONFIG_GENERIC_CLOCKEVENTS_MIN_ADJUST=n
CONFIG_X86_REQUIRED_FEATURE_SYSFAST32=n
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO_BARE=n
CONFIG_DECOMPRESS_LZMA=n
CONFIG_SATA_AHCI=n
CONFIG_WLAN_VENDOR_ADMTEK=n
CONFIG_NET_VENDOR_VERTEXCOM=n
CONFIG_DEVTMPFS_MOUNT=n
CONFIG_HAVE_GUP_FAST=n
CONFIG_ARCH_SUPPORTS_ATOMIC_RMW=n
CONFIG_CPU_FREQ=n
CONFIG_HAVE_ARCH_GET_SECUREBOOT=n
CONFIG_WATCHDOG=n
CONFIG_VIRTIO_INPUT=n
CONFIG_ARCH_SUPPORTS_PAGE_TABLE_CHECK=n
CONFIG_AUDITSYSCALL=n
CONFIG_ARCH_MEMORY_ORDER_TSO=n
CONFIG_MODULE_UNLOAD=n
CONFIG_PCI_LOCKLESS_CONFIG=n
CONFIG_WLAN_VENDOR_ATH=n
CONFIG_X86_ESPFIX64=n
CONFIG_X509_CERTIFICATE_PARSER=n
CONFIG_FIRMWARE_MEMMAP=n
CONFIG_NF_NAT=n
CONFIG_X86_KERNEL_IBT=n
CONFIG_SUSPEND_FREEZER=n
CONFIG_MQ_IOSCHED_DEADLINE=n
CONFIG_PTP_1588_CLOCK_KVM=n
CONFIG_NF_CONNTRACK=n
CONFIG_ARCH_SUPPORTS_PER_VMA_LOCK=n
CONFIG_X86_64_ACPI_NUMA=n
CONFIG_UNIX=n
CONFIG_NET_VENDOR_NATSEMI=n
CONFIG_CRYPTO_KRB5ENC=n
CONFIG_PATA_AMD=n
CONFIG_HAVE_STACK_VALIDATION=n
CONFIG_CRYPTO_LIB_SHA256_ARCH=n
CONFIG_CPU_FREQ_GOV_COMMON=n
CONFIG_CC_HAS_SANE_FUNCTION_ALIGNMENT=n
CONFIG_HAVE_EBPF_JIT=n
CONFIG_LEGACY_DIRECT_IO=n
CONFIG_CRYPTO_KRB5=n
CONFIG_CRYPTO_LIB_AES_CBC_MACS=n
CONFIG_CPUFREQ_ARCH_CUR_FREQ=n
CONFIG_ARCH_USES_PG_ARCH_2=n
CONFIG_SUNRPC_GSS=n
CONFIG_RD_LZMA=n
CONFIG_HAVE_ARCH_JUMP_LABEL_RELATIVE=n
CONFIG_NETFILTER_INGRESS=n
CONFIG_UNION_FIND=n
CONFIG_ARCH_ENABLE_MEMORY_HOTPLUG=n
CONFIG_ARCH_SUPPORTS_SCHED_CLUSTER=n
CONFIG_VIRTIO_ANCHOR=n
CONFIG_CRYPTO_CCM=n
CONFIG_X86_INTEL_MEMORY_PROTECTION_KEYS=n
CONFIG_KEYS=n
CONFIG_LEGACY_TIOCSTI=n
CONFIG_DEBUG_BUGVERBOSE=n
CONFIG_UTS_NS=n
CONFIG_ACPI_DOCK=n
CONFIG_CGROUPS=n
CONFIG_CC_HAS_ASM_GOTO_TIED_OUTPUT=n
CONFIG_TRACE_IRQFLAGS_SUPPORT=n
CONFIG_X86_ACPI_CPUFREQ_CPB=n
CONFIG_SCSI_PROC_FS=n
CONFIG_CC_HAS_KASAN_GENERIC=n
CONFIG_ARCH_HAS_SET_DIRECT_MAP=n
CONFIG_CRC32_ARCH=n
CONFIG_LZ4_COMPRESS=n
CONFIG_ARCH_SUPPORTS_MSEAL_SYSTEM_MAPPINGS=n
CONFIG_BLK_CGROUP_IOLATENCY=n
CONFIG_ARCH_SUPPORTS_KEXEC_PURGATORY=n
CONFIG_HAVE_ARCH_VMAP_STACK=n
CONFIG_ARCH_SUPPORTS_SCHED_SMT=n
CONFIG_PCC=n
CONFIG_MAC80211_HAS_RC=n
CONFIG_ARCH_HAS_GENERIC_CRASHKERNEL_RESERVATION=n
CONFIG_SECCOMP=n
CONFIG_CPU_FREQ_GOV_ATTR_SET=n
CONFIG_ACPI_SLEEP=n
CONFIG_BLK_DEV_BSG_COMMON=n
CONFIG_HDMI=n
CONFIG_FUNCTION_ALIGNMENT_16B=n
CONFIG_NETPOLL=n
CONFIG_HAVE_SAMPLE_FTRACE_DIRECT=n
CONFIG_YENTA_TOSHIBA=n
CONFIG_XFRM_ESP=n
CONFIG_IPC_NS=n
CONFIG_CC_HAS_SLS=n
CONFIG_MD_AUTODETECT=n
CONFIG_X86_CHECK_BIOS_CORRUPTION=n
CONFIG_NET_RX_BUSY_POLL=n
CONFIG_SERIO_I8042=n
CONFIG_X86_EXTENDED_PLATFORM=n
CONFIG_MOUSE_PS2_FOCALTECH=n
CONFIG_ARCH_SUPPORTS_INT128=n
CONFIG_MOUSE_PS2_TRACKPOINT=n
CONFIG_ACPI_PCC=n
CONFIG_ACPI_NUMA=n
CONFIG_X86_MSR=n
CONFIG_TASK_IO_ACCOUNTING=n
CONFIG_HAVE_SOFTIRQ_ON_OWN_STACK=n
CONFIG_ACPI_THERMAL_LIB=n
CONFIG_RD_LZ4=n
CONFIG_NET_HANDSHAKE=n
CONFIG_FONT_SUPPORT=n
CONFIG_NET_VENDOR_NI=n
CONFIG_VIRTIO_PCI_LIB_LEGACY=n
CONFIG_MMU_LAZY_TLB_REFCOUNT=n
CONFIG_USB_STORAGE=n
CONFIG_CC_NO_ARRAY_BOUNDS=n
CONFIG_MPILIB=n
