CONFIG_MHI_BUS=y
CONFIG_LENOVO_WMI_EVENTS=y
CONFIG_X86_REQUIRED_FEATURE_XMM2=y
CONFIG_OLPC_XO175=y
CONFIG_COMMON_CLK_CS2000_CP=y
CONFIG_CAVIUM_CPT=y
CONFIG_COMMON_CLK_MT8192_IMP_IIC_WRAP=y
CONFIG_GPIO_PCA9570=y
CONFIG_TEGRA_EMC_COMMON=y
CONFIG_WM831X_BACKUP=y
CONFIG_NVMEM_IMX_OCOTP=y
CONFIG_COMMON_CLK_LOONGSON2=y
CONFIG_SENSORS_QNAP_MCU_HWMON=y
CONFIG_ARCH_SUPPORTS_KEXEC_HANDOVER=y
CONFIG_CRYPTO_SHA3=y
CONFIG_TOUCHSCREEN_IMX6UL_TSC=y
CONFIG_ARCH_WANTS_NO_INSTR=y
CONFIG_SENSORS_SHT15=y
CONFIG_PHY_QCOM_USB_HSIC=y
CONFIG_FPGA_MGR_XILINX_SELECTMAP=y
CONFIG_TOUCHSCREEN_CHIPONE_ICN8505=y
CONFIG_I2C_HELPER_AUTO=y
CONFIG_MTD_PMC551=y
CONFIG_GENERIC_PINMUX_FUNCTIONS=y
CONFIG_GROUP_SCHED_BANDWIDTH=y
CONFIG_NLS_CODEPAGE_862=y
CONFIG_SENSORS_HS3001=y
CONFIG_DEFAULT_SECURITY_DAC=y
CONFIG_RMI4_F34=y
CONFIG_QCOM_TSENS=y
CONFIG_SG_SPLIT=y
CONFIG_CC_HAS_ASM_GOTO_TIED_OUTPUT=y
CONFIG_UEFI_CPER=y
CONFIG_ADV_SWBUTTON=y
CONFIG_IRQ_FORCED_THREADING=y
CONFIG_RISCV_IOMMU=y
CONFIG_NVMEM_UNIPHIER_EFUSE=y
CONFIG_BATTERY_DA9150=y
CONFIG_HAVE_ARCH_KMSAN=y
CONFIG_DPTF_PCH_FIVR=y
CONFIG_ACPI_CPPC_LIB=y
CONFIG_HAVE_FUNCTION_TRACER=y
CONFIG_ASPEED_LPC_CTRL=y
CONFIG_MFD_EXYNOS_LPASS=y
CONFIG_QFMT_V2=y
CONFIG_CRYPTO_DEV_ATMEL_SHA204A=y
CONFIG_SUN6I_MSGBOX=y
CONFIG_MTD_NAND_MLC_LPC32XX=y
CONFIG_LRU_GEN=y
CONFIG_FB_PXA168=y
CONFIG_TOUCHSCREEN_DA9052=y
CONFIG_IRQ_MSI_LIB=y
CONFIG_CRYPTO_HASH_INFO=y
CONFIG_LEDS_TRIGGERS=y
CONFIG_HRTIMER_REARM_DEFERRED=y
CONFIG_HARDLOCKUP_CHECK_TIMESTAMP=y
CONFIG_EFI_DEV_PATH_PARSER=y
CONFIG_IOMMU_IOVA=y
CONFIG_ACPI_MADT_WAKEUP=y
CONFIG_FB_TILEBLITTING=y
CONFIG_SENSORS_MAX1619=y
CONFIG_CLKEVT_I8253=y
CONFIG_X86_IOPL_IOPERM=y
CONFIG_JOYSTICK_COBRA=y
CONFIG_SENSORS_NCT6683=y
CONFIG_ARCH_DMA_ADDR_T_64BIT=y
CONFIG_INPUT_PWM_BEEPER=y
CONFIG_USB_OTG_FSM=y
CONFIG_JOYSTICK_FSIA6B=y
CONFIG_PHY_STM32_USBPHYC=y
CONFIG_PPS_GENERATOR=y
CONFIG_FB_MATROX_I2C=y
CONFIG_DAX=y
CONFIG_FPGA_MGR_ALTERA_CVP=y
CONFIG_SAMPLE_VFS=y
CONFIG_DECOMPRESS_LZMA=y
CONFIG_COMEDI_8255=y
CONFIG_X86_DISABLED_FEATURE_ENQCMD=y
CONFIG_USB_ULPI_VIEWPORT=y
CONFIG_ARCH_ENABLE_SPLIT_PMD_PTLOCK=y
CONFIG_USB_CHIPIDEA_GENERIC=y
CONFIG_RENESAS_USB_DMAC=y
CONFIG_MTD_CFI_INTELEXT=y
CONFIG_LEDS_PCA9532=y
CONFIG_RISCV_IOMMU_PCI=y
CONFIG_CRYPTO_SELFTESTS_FULL=y
CONFIG_BACKLIGHT_KTD2801=y
CONFIG_LEDS_EXPRESSWIRE=y
CONFIG_PROC_MEM_NO_FORCE=y
CONFIG_BACKLIGHT_APPLE_DWI=y
CONFIG_USB_GADGET=y
CONFIG_PINCTRL_PFC_SH7720=y
CONFIG_I2C_MV64XXX=y
CONFIG_PREEMPTION=y
CONFIG_SYSTEM_BLACKLIST_KEYRING=y
CONFIG_DEBUG_FORCE_FUNCTION_ALIGN_64B=y
CONFIG_I8253_LOCK=y
CONFIG_X86_DISABLED_FEATURE_UNRET=y
CONFIG_I2C_SIMTEC=y
CONFIG_INGENIC_CGU_JZ4770=y
CONFIG_SENSORS_GPIO_FAN=y
CONFIG_NLS_CODEPAGE_936=y
CONFIG_DMA_JZ4780=y
CONFIG_CRYPTO_LIB_CHACHA=y
CONFIG_POWER_SEQUENCING=y
CONFIG_BCH_CONST_PARAMS=y
CONFIG_VMLINUX_MAP=y
CONFIG_SENSORS_ISL28022=y
CONFIG_ARCH_HAS_CPU_CACHE_INVALIDATE_MEMREGION=y
CONFIG_SENSORS_IRPS5401=y
CONFIG_SYSC_R8A77961=y
CONFIG_COMMON_CLK_MT6765_MIPI2ASYS=y
CONFIG_COMMON_CLK_TI_ADPLL=y
CONFIG_PCI_MSI=y
CONFIG_COMMON_CLK_MT6765_MIPI0ASYS=y
CONFIG_DMADEVICES=y
CONFIG_KEYBOARD_MT6779=y
CONFIG_I2C_AMD_MP2=y
CONFIG_X86_IO_APIC=y
CONFIG_HIGH_RES_TIMERS=y
CONFIG_HARDLOCKUP_DETECTOR_PERF=y
CONFIG_GENERIC_IRQ_SHOW=y
CONFIG_JOYSTICK_JOYDUMP=y
CONFIG_IPMI_POWEROFF=y
CONFIG_MCHP_CLK_MPFS=y
CONFIG_MPILIB=y
CONFIG_HAVE_SAMPLE_FTRACE_DIRECT_MULTI=y
CONFIG_TI_ECAP_CAPTURE=y
CONFIG_QUOTA=y
CONFIG_FANOTIFY=y
CONFIG_PPS_DEBUG=y
CONFIG_LEDS_CLASS=y
CONFIG_BATTERY_DS2781=y
CONFIG_JOYSTICK_GF2K=y
CONFIG_BACKLIGHT_LM3509=y
CONFIG_HAVE_KERNEL_XZ=y
CONFIG_PWM_RENESAS_RCAR=y
CONFIG_ARCH_HAS_DEVMEM_IS_ALLOWED=y
CONFIG_SW_SYNC=y
CONFIG_MIGRATION=y
CONFIG_LEDS_LT3593=y
CONFIG_CRYPTO_LIB_SHA3=y
CONFIG_PHY_MMP3_HSIC=y
CONFIG_RATIONAL=y
CONFIG_MTD_PMC551_BUGFIX=y
CONFIG_ZERO_CALL_USED_REGS=y
CONFIG_CRC8=y
CONFIG_X86_REQUIRED_FEATURE_CPUID=y
CONFIG_LEDS_LM3601X=y
CONFIG_MLXREG_HOTPLUG=y
CONFIG_THERMAL_HWMON=y
CONFIG_TTY=y
CONFIG_GPIO_MAX730X=y
CONFIG_COMMON_CLK_MT8365_MMSYS=y
CONFIG_IO_DELAY_0XED=y
CONFIG_USB_F_HID=y
CONFIG_SENSORS_W83795_FANCTRL=y
CONFIG_DEVTMPFS=y
CONFIG_MFD_LP8788=y
CONFIG_TOUCHSCREEN_TOUCHIT213=y
CONFIG_NVMEM_STM32_ROMEM=y
CONFIG_SPACEMIT_K3_CCU=y
CONFIG_POWER_SUPPLY_HWMON=y
CONFIG_LEDS_NETXBIG=y
CONFIG_K3_DMA=y
CONFIG_FB_S3=y
CONFIG_USB_CDNS3=y
CONFIG_FB_MB862XX_PCI_GDC=y
CONFIG_REGULATOR_AW37503=y
CONFIG_KEYBOARD_LPC32XX=y
CONFIG_SENSORS_LTC2990=y
CONFIG_XILINX_DMA=y
CONFIG_CB710_DEBUG_ASSUMPTIONS=y
CONFIG_IPMI_SSIF=y
CONFIG_TEGRA186_GPC_DMA=y
CONFIG_ISL29020=y
CONFIG_RESET_GPIO=y
CONFIG_VFIO_PCI_INTX=y
CONFIG_DEBUG_STACK_USAGE=y
CONFIG_DEBUG_FS=y
CONFIG_CRYPTO_DEV_PADLOCK=y
CONFIG_HAVE_ARCH_HUGE_VMALLOC=y
CONFIG_CPU_FREQ_DEFAULT_GOV_SCHEDUTIL=y
CONFIG_REGULATOR_MAX77503=y
CONFIG_CLK_STARFIVE_JH7110_ISP=y
CONFIG_ARCH_HAS_CPU_FINALIZE_INIT=y
CONFIG_W1_MASTER_UART=y
CONFIG_BATTERY_DS2780=y
CONFIG_FPGA_DFL_EMIF=y
CONFIG_NLS_CODEPAGE_437=y
CONFIG_REGULATOR_QCOM_REFGEN=y
CONFIG_MULTIPLEXER=y
CONFIG_MFD_MAX8907=y
CONFIG_PHY_SUN4I_USB=y
CONFIG_RESET_STARFIVE_JH7110=y
CONFIG_REGULATOR_PBIAS=y
CONFIG_CRYPTO_DEV_OCTEONTX_CPT=y
CONFIG_COMMON_CLK_EP93XX=y
CONFIG_INPUT_DRV2667_HAPTICS=y
CONFIG_RWSEM_SPIN_ON_OWNER=y
CONFIG_BACKLIGHT_LP8788=y
CONFIG_HOTPLUG_SPLIT_STARTUP=y
CONFIG_SENSORS_MENF21BMC_HWMON=y
CONFIG_ENERGY_MODEL=y
CONFIG_CHARGER_MAX14577=y
CONFIG_NVMEM_IMX_IIM=y
CONFIG_ARCH_SUPPORTS_HUGETLBFS=y
CONFIG_RMI4_F03=y
CONFIG_EXYNOS_ACPM_PROTOCOL=y
CONFIG_SENSORS_PT5161L=y
CONFIG_LEDS_TCA6507=y
CONFIG_MEMCG=y
CONFIG_NLS_CODEPAGE_850=y
CONFIG_SENSORS_NCT6775_CORE=y
CONFIG_I2C_SLAVE=y
CONFIG_REGULATOR_DA9210=y
CONFIG_CRYPTO_LIB_AES_ARCH=y
CONFIG_GENERIC_PENDING_IRQ=y
CONFIG_PAGE_SIZE_LESS_THAN_64KB=y
CONFIG_ARCH_HAS_ACPI_TABLE_UPGRADE=y
CONFIG_SRAM=y
CONFIG_EDAC_I3000=y
CONFIG_HAVE_VIRT_CPU_ACCOUNTING_GEN=y
CONFIG_INTEL_MEI_GSC=y
CONFIG_ZSTD_DECOMPRESS=y
CONFIG_PHY_INTEL_LGM_EMMC=y
CONFIG_SAMPLE_VFIO_MDEV_MDPY=y
CONFIG_USB_FOTG210_UDC=y
CONFIG_ATMEL_ST=y
CONFIG_SCHED_AUTOGROUP=y
CONFIG_IOMMU_SUPPORT=y
CONFIG_MTD_OTP=y
CONFIG_PINCTRL_PFC_R8A7779=y
CONFIG_SENSORS_ATXP1=y
CONFIG_HAVE_HARDLOCKUP_DETECTOR_PERF=y
CONFIG_MFD_TWL4030_AUDIO=y
CONFIG_THERMAL_GOV_POWER_ALLOCATOR=y
CONFIG_PWM_BERLIN=y
CONFIG_CRYPTO_DEV_QAT_420XX=y
CONFIG_CHARGER_88PM860X=y
CONFIG_ARCH_WANT_LD_ORPHAN_WARN=y
CONFIG_IOMMUFD_DRIVER_CORE=y
CONFIG_SAMPLES=y
CONFIG_PCH_PHUB=y
CONFIG_SENSORS_MP5926=y
CONFIG_SENSORS_DELTA_AHE50DC_FAN=y
CONFIG_TRACING_SUPPORT=y
CONFIG_RESET_K230=y
CONFIG_THERMAL=y
CONFIG_CC_HAS_ASM_GOTO_OUTPUT=y
CONFIG_TEGRA_MC=y
CONFIG_XZ_DEC=y
CONFIG_INPUT_DRV260X_HAPTICS=y
CONFIG_BACKLIGHT_CGBC=y
CONFIG_GPIO_ML_IOH=y
CONFIG_PWM_IQS620A=y
CONFIG_BACKLIGHT_SKY81452=y
CONFIG_INTEL_MEI_GSC_PROXY=y
CONFIG_RPMSG=y
CONFIG_SLIMBUS=y
CONFIG_PCIE_ULTRARISC=y
CONFIG_VMGENID=y
CONFIG_HAVE_CLK=y
CONFIG_X86_DISABLED_FEATURE_SGX=y
CONFIG_GPIO_ARIZONA=y
CONFIG_SF_PDMA=y
CONFIG_EDD_OFF=y
CONFIG_CRYPTO_DEV_FSL_CAAM=y
CONFIG_PCIE_ALTERA=y
CONFIG_USB_CDNS3_HOST=y
CONFIG_USB_ZERO=y
CONFIG_SENSORS_MP2891=y
CONFIG_INTERCONNECT=y
CONFIG_RCAR_MFIS=y
CONFIG_ARM_EXYNOS_BUS_DEVFREQ=y
CONFIG_HAVE_NOINSTR_HACK=y
CONFIG_CRYPTO_KDF800108_CTR=y
CONFIG_SENSORS_G762=y
CONFIG_PWM_LPSS_PLATFORM=y
CONFIG_IO_WQ=y
CONFIG_I2C_VERSATILE=y
CONFIG_REGULATOR_RT6245=y
CONFIG_MTD_NAND_SLC_LPC32XX=y
CONFIG_OMAP_DM_TIMER=y
CONFIG_MFD_AXP20X=y
CONFIG_REED_SOLOMON_DEC8=y
CONFIG_QCOM_CPR=y
CONFIG_DUMMY_IRQ=y
CONFIG_MTD_NAND_MTK=y
CONFIG_ARCH_DEFAULT_CRASH_DUMP=y
CONFIG_CRYPTO_DEV_MARVELL=y
CONFIG_NVMEM_QNAP_MCU_EEPROM=y
CONFIG_USB_CHIPIDEA=y
CONFIG_SENSORS_LM83=y
CONFIG_EC_HUAWEI_GAOKUN=y
CONFIG_SENSORS_LENOVO_EC=y
CONFIG_TOUCHSCREEN_GOODIX_BERLIN_CORE=y
CONFIG_MXC_CLK=y
CONFIG_CRYPTO_LIB_SHA1=y
CONFIG_MHI_BUS_DEBUG=y
CONFIG_EXTCON_MAX77693=y
CONFIG_GENERIC_MSI_IRQ=y
CONFIG_MFD_KEMPLD=y
CONFIG_SYSC_R8A77990=y
CONFIG_GENERIC_IRQ_EFFECTIVE_AFF_MASK=y
CONFIG_CRYPTO_LIB_BLAKE2S_ARCH=y
CONFIG_DEBUG_LOCK_ALLOC=y
CONFIG_IMX_IRQSTEER=y
CONFIG_BCM74110_MAILBOX=y
CONFIG_CRYPTO_ADIANTUM=y
CONFIG_DEBUG_OBJECTS_TIMERS=y
CONFIG_ACPI_FAN=y
CONFIG_AMD_IOMMU=y
CONFIG_CHARGER_BQ2415X=y
CONFIG_GPIO_TB10X=y
CONFIG_CACHESTAT_SYSCALL=y
CONFIG_MFD_CS5535=y
CONFIG_KEYBOARD_OPENCORES=y
CONFIG_MFD_RT5033=y
CONFIG_TCG_TIS_ST33ZP24_I2C=y
CONFIG_HOTPLUG_PARALLEL=y
CONFIG_ACPI_AC=y
CONFIG_ARCH_SUPPORTS_KEXEC_JUMP=y
CONFIG_NUMA_MIGRATION=y
CONFIG_ARM_MEDIATEK_CPUFREQ_HW=y
CONFIG_GPIO_PL061=y
CONFIG_SENSORS_CGBC=y
CONFIG_MTD_NAND_BRCMNAND_IPROC=y
CONFIG_ARCH_USE_MEMREMAP_PROT=y
CONFIG_I2C_RTL9300=y
CONFIG_X86_DISABLED_FEATURE_CENTAUR_MCR=y
CONFIG_I2C_HISI=y
CONFIG_GPIO_AGGREGATOR=y
CONFIG_PMBUS=y
CONFIG_QCOM_QSEECOM=y
CONFIG_IO_URING=y
CONFIG_OVERLAY_FS=y
CONFIG_MFD_CORE=y
CONFIG_NEW_LEDS=y
CONFIG_CHARGER_MAX8998=y
CONFIG_EFI_RUNTIME_WRAPPERS=y
CONFIG_PCIEAER=y
CONFIG_I2C_ATR=y
CONFIG_SENSORS_GPD=y
CONFIG_IPACK_BUS=y
CONFIG_JOYSTICK_INTERACT=y
CONFIG_DEBUG_KMEMLEAK=y
CONFIG_MSI_WMI=y
CONFIG_MTD_INTEL_DG=y
CONFIG_GPIO_PCIE_IDIO_24=y
CONFIG_DEBUG_RT_MUTEXES=y
CONFIG_X86_REQUIRED_FEATURE_PSE=y
CONFIG_MTK_SCP=y
CONFIG_USB_COMMON=y
CONFIG_PERF_EVENTS_INTEL_RAPL=y
CONFIG_QCOM_COINCELL=y
CONFIG_FB_SIS_300=y
CONFIG_GENERIC_CPU_AUTOPROBE=y
CONFIG_MFD_MADERA=y
CONFIG_CRYPTO_ARIA_GFNI_AVX512_X86_64=y
CONFIG_CLK_ACTIONS=y
CONFIG_CEC_NOTIFIER=y
CONFIG_LOGO=y
CONFIG_ARCH_HAS_PREEMPT_LAZY=y
CONFIG_SURFACE_PRO3_BUTTON=y
CONFIG_INPUT_BMA150=y
CONFIG_CRYPTO_DEV_TEGRA=y
CONFIG_ARCH_WANT_GENERAL_HUGETLB=y
CONFIG_SENSORS_LTC2945=y
CONFIG_EXTCON_USB_GPIO=y
CONFIG_REGULATOR_RT4801=y
CONFIG_MTD_SHARPSL_PARTS=y
CONFIG_FSL_DPAA_CHECKING=y
CONFIG_USB4=y
CONFIG_QAT_VFIO_PCI=y
CONFIG_MTD=y
CONFIG_AUXILIARY_BUS=y
CONFIG_CRYPTO_TWOFISH=y
CONFIG_SPRD_THERMAL=y
CONFIG_KMALLOC_PARTITION_RANDOM=y
CONFIG_BACKLIGHT_LM3533=y
CONFIG_I2C_MLXCPLD=y
CONFIG_CC_NO_STRINGOP_OVERFLOW=y
CONFIG_COMMON_CLK_APPLE_NCO=y
CONFIG_SURFACE_PLATFORMS=y
CONFIG_MFD_INTEL_QUARK_I2C_GPIO=y
CONFIG_XZ_DEC_BCJ=y
CONFIG_REALTEK_OTTO_TIMER=y
CONFIG_PINCTRL_PFC_R8A73A4=y
CONFIG_FB_SYSMEM_FOPS=y
CONFIG_SENSORS_SG2042_MCU=y
CONFIG_MESON_MX_AO_ARC_REMOTEPROC=y
CONFIG_COMMON_CLK_FSL_FLEXSPI=y
CONFIG_GENERIC_STRNCPY_FROM_USER=y
CONFIG_TOUCHSCREEN_EKTF2127=y
CONFIG_PHY_ROCKCHIP_SAMSUNG_DCPHY=y
CONFIG_APPLE_MAILBOX=y
CONFIG_PHY_S5PV210_USB2=y
CONFIG_NLS_CODEPAGE_864=y
CONFIG_GPIO_ROCKCHIP=y
CONFIG_FW_LOADER=y
CONFIG_SECURITYFS=y
CONFIG_DW_DMAC_PCI=y
CONFIG_CRYPTO_KRB5=y
CONFIG_PCI_LOONGSON=y
CONFIG_USB_PHY=y
CONFIG_SWIOTLB=y
CONFIG_TOUCHSCREEN_MAX11801=y
CONFIG_MOUSE_SYNAPTICS_USB=y
CONFIG_COMEDI_NI_DAQ_700_CS=y
CONFIG_MTD_NAND_AMS_DELTA=y
CONFIG_PWM_CRC=y
CONFIG_MTK_GPUEB_MBOX=y
CONFIG_I2C_CHARDEV=y
CONFIG_FIX_EARLYCON_MEM=y
CONFIG_VFIO_AMBA=y
CONFIG_SENSORS_HP_WMI=y
CONFIG_FB_CIRRUS=y
CONFIG_LEDS_QNAP_MCU=y
CONFIG_OVERLAY_FS_DEBUG=y
CONFIG_CLOCKSOURCE_WATCHDOG=y
CONFIG_LEDS_IS31FL319X=y
CONFIG_PINCTRL_TEGRA=y
CONFIG_PINCTRL_TEGRA114=y
CONFIG_PM_QOS_CPU_SYSTEM_WAKEUP=y
CONFIG_MFD_RT5120=y
CONFIG_IRQ_BYPASS_MANAGER=y
CONFIG_PWM_VISCONTI=y
CONFIG_PCIE_KEEMBAY_EP=y
CONFIG_X86_REQUIRED_FEATURE_SYSFAST32=y
CONFIG_BACKLIGHT_DA9052=y
CONFIG_HAVE_FUNCTION_ERROR_INJECTION=y
CONFIG_CRYPTO_LIB_SHA256=y
CONFIG_SURFACE_HOTPLUG=y
CONFIG_SENSORS_AD7418=y
CONFIG_UNICODE=y
CONFIG_PHY_PXA_28NM_HSIC=y
CONFIG_CRYPTO_SERPENT=y
CONFIG_TCG_NSC=y
CONFIG_NVMEM_LAN9662_OTPC=y
CONFIG_BATTERY_RT5033=y
CONFIG_LINEAR_RANGES=y
CONFIG_NVMEM_NINTENDO_OTP=y
CONFIG_PWM_PROVIDE_GPIO=y
CONFIG_ROMFS_FS=y
CONFIG_TYPEC_MUX_GPIO_SBU=y
CONFIG_GPIO_DA9052=y
CONFIG_CRYPTO_CMAC=y
CONFIG_MAGIC_SYSRQ_SERIAL=y
CONFIG_CC_HAS_ASM_INLINE=y
CONFIG_PINCTRL_PXA=y
CONFIG_CRYPTO_DEV_FSL_CAAM_COMMON=y
CONFIG_I2C_IMX_LPI2C=y
CONFIG_INPUT_MC13783_PWRBUTTON=y
CONFIG_SENSORS_MP5023=y
CONFIG_EFI_VARS_PSTORE=y
CONFIG_CRYPTO_DEV_QAT_C62X=y
CONFIG_LOCK_SPIN_ON_OWNER=y
CONFIG_NVMEM_RAVE_SP_EEPROM=y
CONFIG_CRYPTO_MLDSA=y
CONFIG_LEDS_TRIGGER_DEFAULT_ON=y
CONFIG_USB_OHCI_HCD_OMAP3=y
CONFIG_AMD_ISP_PLATFORM=y
CONFIG_RMI4_I2C=y
CONFIG_TOUCHSCREEN_USB_GOTOP=y
CONFIG_RST_RCAR=y
CONFIG_MTD_REDBOOT_PARTS_UNALLOCATED=y
CONFIG_WARN_MISSING_DOCUMENTS=y
CONFIG_ARCH_SPARSEMEM_DEFAULT=y
CONFIG_VFIO=y
CONFIG_GPIO_ZEVIO=y
CONFIG_DASHARO_ACPI=y
CONFIG_PINCTRL_CY8C95X0=y
CONFIG_RESET_SKY1=y
CONFIG_DMA_SUN6I=y
CONFIG_ASPEED_LPC_SNOOP=y
CONFIG_BCM_NS_THERMAL=y
CONFIG_ACPI_PROCESSOR_AGGREGATOR=y
CONFIG_USB_DEFAULT_PERSIST=y
CONFIG_USB_ISP1760_GADGET_ROLE=y
CONFIG_MFD_DLN2=y
CONFIG_CLK_SOPHGO_SG2044=y
CONFIG_PAGE_SIZE_LESS_THAN_256KB=y
CONFIG_PINCTRL_LYNXPOINT=y
CONFIG_ACPI_LEGACY_TABLES_LOOKUP=y
CONFIG_COMMON_CLK_MT8183=y
CONFIG_PINCTRL_AMDISP=y
CONFIG_TOOLS_SUPPORT_RELR=y
CONFIG_INPUT_CS40L50_VIBRA=y
CONFIG_CRYPTO_SHA256=y
CONFIG_W1_MASTER_DS2482=y
CONFIG_PCI_ENDPOINT=y
CONFIG_USB_DWC3=y
CONFIG_SAMPLE_AUXDISPLAY=y
CONFIG_ARM_RASPBERRYPI_CPUFREQ=y
CONFIG_HAVE_ARCH_KCSAN=y
CONFIG_I2C_THUNDERX=y
CONFIG_USB_MDC800=y
CONFIG_INITRAMFS_PRESERVE_MTIME=y
CONFIG_FW_LOADER_PAGED_BUF=y
