CONFIG_I2C_MT65XX=n
CONFIG_ARCH_TEGRA_132_SOC=n
CONFIG_DW_APB_TIMER=n
CONFIG_CLK_RCAR_USB2_CLOCK_SEL=n
CONFIG_RZ_MTU3_CNT=n
CONFIG_CLK_R9A09G057=n
CONFIG_HAVE_GIGANTIC_FOLIOS=n
CONFIG_V4L2_VP9=n
CONFIG_DRM_TIDSS=n
CONFIG_COMMON_CLK_VISCONTI=n
CONFIG_PINCONF=n
CONFIG_SERIAL_8250_16550A_VARIANTS=n
CONFIG_SPI_OMAP24XX=n
CONFIG_REGULATOR_MAX77620=n
CONFIG_NLS=n
CONFIG_SND_PCM=n
CONFIG_MFD_SEC_I2C=n
CONFIG_MOUSE_PS2_BYD=n
CONFIG_QCOM_FALKOR_ERRATUM_E1041=n
CONFIG_NET_VENDOR_XILINX=n
CONFIG_VIDEO_DEV=n
CONFIG_HIBERNATION=n
CONFIG_CLK_GLYMUR_TCSRCC=n
CONFIG_ARCH_USE_CMPXCHG_LOCKREF=n
CONFIG_REGULATOR_QCOM_SPMI=n
CONFIG_ASPEED_P2A_CTRL=n
CONFIG_S3C2410_WATCHDOG=n
CONFIG_ARCH_R9A07G054=n
CONFIG_CLK_X1P42100_CAMCC=n
CONFIG_DRM_RZG2L_USE_MIPI_DSI=n
CONFIG_BUILTIN_RETURN_ADDRESS_STRIPS_PAC=n
CONFIG_VIDEO_TI_J721E_CSI2RX=n
CONFIG_CLK_R9A09G011=n
CONFIG_HAS_IOPORT=n
CONFIG_IMX_GPCV2_PM_DOMAINS=n
CONFIG_SM_TCSRCC_8650=n
CONFIG_SDM_VIDEOCC_845=n
CONFIG_AS_IS_GNU=n
CONFIG_HAVE_ARCH_MMAP_RND_BITS=n
CONFIG_DRM_CLIENT=n
CONFIG_CLK_R8A77960=n
CONFIG_FB_SYS_COPYAREA=n
CONFIG_ATH12K=n
CONFIG_MESON_GX_SOCINFO=n
CONFIG_CROS_EC_PROTO=n
CONFIG_USB_CDNS3_GADGET=n
CONFIG_MD=n
CONFIG_APERTURE_HELPERS=n
CONFIG_COMMON_CLK_MT8183_VENCSYS=n
CONFIG_HNS3_ENET=n
CONFIG_SM_VIDEOCC_8750=n
CONFIG_ARCH_BINFMT_ELF_EXTRA_PHDRS=n
CONFIG_SUN6I_R_INTC=n
CONFIG_PATA_TIMINGS=n
CONFIG_DRM_EXYNOS=n
CONFIG_QCOM_FASTRPC=n
CONFIG_PCIE_BRCMSTB=n
CONFIG_PHY_FSL_IMX8M_PCIE=n
CONFIG_ARCH_SUPPORTS_HUGE_PFNMAP=n
CONFIG_TCG_TIS=n
CONFIG_SERIAL_OWL_CONSOLE=n
CONFIG_CAN_BCM=n
CONFIG_IPQ_NSSCC_9574=n
CONFIG_MARVELL_88Q2XXX_PHY=n
CONFIG_DRM_NOUVEAU_BACKLIGHT=n
CONFIG_CLK_R9A07G044=n
CONFIG_SCHED_CLUSTER=n
CONFIG_CHARGER_BQ25980=n
CONFIG_SND_SOC_WCD_CLASSH=n
CONFIG_FSL_RCPM=n
CONFIG_ARCH_HAS_GENERIC_CRASHKERNEL_RESERVATION=n
CONFIG_PREVENT_FIRMWARE_BUILD=n
CONFIG_REGULATOR_QCOM_USB_VBUS=n
CONFIG_PNP_DEBUG_MESSAGES=n
CONFIG_PT_RECLAIM=n
CONFIG_MFD_CROS_EC_DEV=n
CONFIG_SH_TIMER_TMU=n
CONFIG_ROCKCHIP_PM_DOMAINS=n
CONFIG_I2C_TEGRA=n
CONFIG_HW_RANDOM_ATMEL=n
CONFIG_IRQ_MSI_LIB=n
CONFIG_MEDIA_CEC_SUPPORT=n
CONFIG_TRACE_IRQFLAGS_SUPPORT=n
CONFIG_VIDEO_HANTRO_SUNXI=n
CONFIG_RFKILL_LEDS=n
CONFIG_CRYPTO_DEV_QCE_SKCIPHER=n
CONFIG_NPCM7XX_WATCHDOG=n
CONFIG_CRYPTO_DEV_BCM_SPU=n
CONFIG_SERIAL_8250_PCILIB=n
CONFIG_GENERIC_IRQ_PROBE=n
CONFIG_HAVE_KVM_IRQ_ROUTING=n
CONFIG_CRYPTO_RNG2=n
CONFIG_SPARSEMEM_EXTREME=n
CONFIG_QCOM_GDSC=n
CONFIG_ARM64_WORKAROUND_SPECULATIVE_AT=n
CONFIG_PINCTRL_SM8750=n
CONFIG_NETFILTER_XT_MATCH_CONNTRACK=n
CONFIG_BLK_DEV_WRITE_MOUNTED=n
CONFIG_SERIAL_BCM63XX=n
CONFIG_NET_VENDOR_I825XX=n
CONFIG_FW_UPLOAD=n
CONFIG_PINCTRL_SDM670=n
CONFIG_HAVE_MOVE_PUD=n
CONFIG_ROCKCHIP_DW_DP=n
CONFIG_INET_TCP_DIAG=n
CONFIG_USB_F_MASS_STORAGE=n
CONFIG_ARCH_SUPPORTS_UPROBES=n
CONFIG_NEW_LEDS=n
CONFIG_CAN_CALC_BITTIMING=n
CONFIG_DMA_CMA=n
CONFIG_PINCTRL_AMLOGIC_T7=n
CONFIG_COMMON_CLK_HI3670=n
CONFIG_SWIOTLB=n
CONFIG_DRM_MSM_GPU_STATE=n
CONFIG_ARM_SCMI_PERF_DOMAIN=n
CONFIG_CRYPTO_LIB_MD5=n
CONFIG_CLK_RK3568=n
CONFIG_MMU_LAZY_TLB_REFCOUNT=n
CONFIG_SND_SOC_LPASS_CDC_DMA=n
CONFIG_VIDEOBUF2_MEMOPS=n
CONFIG_USB_RTL8150=n
CONFIG_ZLIB_DEFLATE=n
CONFIG_SERIAL_8250_TEGRA=n
CONFIG_GNSS_SERIAL=n
CONFIG_PINCTRL_PFC_R8A774A1=n
CONFIG_INTEL_STRATIX10_RSU=n
CONFIG_SPRD_SC9863A_CLK=n
CONFIG_IPC_NS=n
CONFIG_MICREL_PHY=n
CONFIG_IPQ_CMN_PLL=n
CONFIG_GENERIC_ALLOCATOR=n
CONFIG_FSL_MC_BUS=n
CONFIG_PINCTRL_MT7622=n
CONFIG_RTC_DRV_RV3028=n
CONFIG_FB_SYSMEM_HELPERS=n
CONFIG_FB_DMAMEM_HELPERS_DEFERRED=n
CONFIG_RD_LZMA=n
CONFIG_MEDIA_TUNER_XC2028=n
CONFIG_MTK_SCPSYS_PM_DOMAINS=n
CONFIG_GENERIC_CPU_CACHE_MAINTENANCE=n
CONFIG_SND_SOC_ROCKCHIP_SPDIF=n
CONFIG_QCS_GPUCC_615=n
CONFIG_GPIO_RCAR=n
CONFIG_FPGA_REGION=n
CONFIG_PINCTRL_SDX75=n
CONFIG_ARCH_ASPEED=n
CONFIG_ARM64_ERRATUM_1463225=n
CONFIG_TI_SYSC=n
CONFIG_USB_ULPI_BUS=n
CONFIG_MEDIA_HIDE_ANCILLARY_SUBDRV=n
CONFIG_NLATTR=n
CONFIG_MLX4_CORE_GEN2=n
CONFIG_SYSVIPC=n
CONFIG_CRYPTO_ZSTD=n
CONFIG_DRM_PANEL_SUMMIT=n
CONFIG_ACPI_REDUCED_HARDWARE_ONLY=n
CONFIG_THERMAL_GOV_POWER_ALLOCATOR=n
CONFIG_ARCH_HAS_CURRENT_STACK_POINTER=n
CONFIG_HAVE_CLK_PREPARE=n
CONFIG_REGULATOR_MT6397=n
CONFIG_PCPU_DEV_REFCNT=n
CONFIG_MTK_THERMAL=n
CONFIG_KEXEC_FILE=n
CONFIG_BLK_DEV_INTEGRITY=n
CONFIG_SND_SOC_SOF_MTK_COMMON=n
CONFIG_STM_PROTO_BASIC=n
CONFIG_SND_SOC_RK817=n
CONFIG_NET_EGRESS=n
CONFIG_SM_DISPCC_8250=n
CONFIG_KEYBOARD_ADC=n
CONFIG_QCOM_Q6V5_COMMON=n
CONFIG_SND_SOC_ADAU7002=n
CONFIG_ARCH_HAS_FAST_MULTIPLIER=n
CONFIG_PINCTRL_NS2_MUX=n
CONFIG_FSL_FMAN=n
CONFIG_SND_USB_AUDIO=n
CONFIG_SND_SOC_RT5682S=n
CONFIG_SM_DISPCC_6115=n
CONFIG_RTC_DRV_BQ32K=n
CONFIG_SND_SOC_FSL_SSI=n
CONFIG_TCG_TIS_I2C_INFINEON=n
CONFIG_ARCH_HAS_USER_SHADOW_STACK=n
CONFIG_AS_HAS_ARMV8_5=n
CONFIG_GCC10_NO_ARRAY_BOUNDS=n
CONFIG_SND_SOC_ES8316=n
CONFIG_HAVE_KRETPROBES=n
CONFIG_HAVE_SOFTIRQ_ON_OWN_STACK=n
CONFIG_ACPI_IORT=n
CONFIG_DMA_SHARED_BUFFER=n
CONFIG_SND_SOC_TI_SDMA_PCM=n
CONFIG_ARM_SCMI_POWER_DOMAIN=n
CONFIG_RELR=n
CONFIG_CRYPTO_LIB_DES=n
CONFIG_HAVE_DEBUG_KMEMLEAK=n
CONFIG_SERIAL_SAMSUNG_CONSOLE=n
CONFIG_NET_VENDOR_ATHEROS=n
CONFIG_BGMAC=n
CONFIG_SYSC_RZ=n
CONFIG_IMX_SCMI_LMM_EXT=n
CONFIG_DRM_PANEL_LVDS=n
CONFIG_HAVE_FTRACE_GRAPH_FUNC=n
CONFIG_USB_RENESAS_USB3=n
CONFIG_LEDS_TRIGGER_HEARTBEAT=n
CONFIG_SERIAL_8250_PNP=n
CONFIG_MTD_NAND_CORE=n
CONFIG_MVEBU_PIC=n
CONFIG_SPI_QCOM_QSPI=n
CONFIG_POWER_RESET_TORADEX_EC=n
CONFIG_ARCH_REALTEK=n
CONFIG_REGULATOR_TPS65132=n
CONFIG_HAVE_SHARED_GPIOS=n
CONFIG_PINCTRL_PFC_R8A774B1=n
CONFIG_SCSI_SAS_ATA=n
CONFIG_SND_HDA_CODEC_HDMI_GENERIC=n
CONFIG_ARCH_RCAR_GEN4=n
CONFIG_PINCTRL_APPLE_GPIO=n
CONFIG_SUN55I_PCK600=n
CONFIG_IOMMU_IOVA=n
CONFIG_USB_DWC3_MESON_G12A=n
CONFIG_COMMON_CLK_MT6795=n
CONFIG_DRM_NOUVEAU_SIL164=n
CONFIG_PAHOLE_HAS_LANG_EXCLUDE=n
CONFIG_SUN55I_A523_MCU_CCU=n
CONFIG_SPARSE_IRQ=n
CONFIG_BUFFER_HEAD=n
CONFIG_PM_SLEEP=n
CONFIG_COMMON_CLK_MT8516=n
CONFIG_COMMON_CLK_MT8173_MMSYS=n
CONFIG_PHY_QCOM_USB_HS_28NM=n
CONFIG_SND_HDA_CODEC_HDMI_SIMPLE=n
CONFIG_ACPI_CPPC_LIB=n
CONFIG_VIDEOBUF2_CORE=n
CONFIG_NET_SCH_ETF=n
CONFIG_SND_MESON_AXG_TODDR=n
CONFIG_VIDEO_RZG2L_CSI2=n
CONFIG_NET_DSA=n
CONFIG_HAVE_HARDLOCKUP_DETECTOR_BUDDY=n
CONFIG_IPQ_GCC_8074=n
CONFIG_ARM_MEDIATEK_CPUFREQ=n
CONFIG_SYS_HYPERVISOR=n
CONFIG_EXCLUSIVE_SYSTEM_RAM=n
CONFIG_NET=n
CONFIG_RTC_DRV_AMLOGIC_A4=n
CONFIG_ARCH_R8A77980=n
CONFIG_ASPEED_UART_ROUTING=n
CONFIG_PINCTRL_QCOM_SPMI_PMIC=n
CONFIG_SND_HDA_ALIGNED_MMIO=n
CONFIG_UNIPHIER_THERMAL=n
CONFIG_DST_CACHE=n
CONFIG_PINCTRL_MILOS=n
CONFIG_DRM_MSM=n
CONFIG_ARCH_SUPPORTS_PMD_PFNMAP=n
CONFIG_CLK_BCM_SR=n
CONFIG_DRM_TOSHIBA_TC358768=n
CONFIG_COMMON_CLK_MESON_SCLK_DIV=n
CONFIG_MTK_CPUX_TIMER=n
CONFIG_PINCTRL_PFC_R8A779A0=n
CONFIG_USB_F_FS=n
CONFIG_IIO_ST_MAGN_3AXIS=n
CONFIG_COMMON_CLK_S4_PLL=n
CONFIG_CPUMASK_OFFSTACK=n
CONFIG_ACPI_CONTAINER=n
CONFIG_PHY_MESON8B_USB2=n
CONFIG_HISILICON_IRQ_MBIGEN=n
CONFIG_BATTERY_BQ27XXX_I2C=n
CONFIG_NET_9P_VIRTIO=n
CONFIG_REGMAP_MMIO=n
CONFIG_USB_CONFIGFS=n
CONFIG_ARCH_R8A77965=n
CONFIG_PINCTRL_MT2712=n
CONFIG_DRM_POWERVR=n
CONFIG_SND_SOC_WSA883X=n
CONFIG_INTERCONNECT_CLK=n
CONFIG_HAVE_PERF_USER_STACK_DUMP=n
CONFIG_NET_CLS_ACT=n
CONFIG_ARCH_DMA_ADDR_T_64BIT=n
CONFIG_HW_PERF_EVENTS=n
CONFIG_NVMEM_QCOM_QFPROM=n
CONFIG_NVMEM_SNVS_LPGPR=n
CONFIG_SUN8I_DE2_CCU=n
CONFIG_RENESAS_USB_DMAC=n
CONFIG_EXPORTFS=n
CONFIG_STACKDEPOT=n
CONFIG_PHY_ROCKCHIP_INNO_DSIDPHY=n
CONFIG_INPUT_VIVALDIFMAP=n
CONFIG_NET_CLS=n
CONFIG_RC_MAP=n
CONFIG_PINCTRL_QDF2XXX=n
CONFIG_MEDIA_CONTROLLER=n
CONFIG_ATH10K=n
CONFIG_EFI_ARMSTUB_DTB_LOADER=n
CONFIG_BT=n
CONFIG_PINCTRL_GLYMUR=n
CONFIG_EDAC_GHES=n
CONFIG_FUTEX=n
CONFIG_USB_XHCI_TEGRA=n
CONFIG_64BIT=n
CONFIG_USB_ISP1761_UDC=n
CONFIG_ARCH_BCMBCA=n
CONFIG_LS_EXTIRQ=n
