CONFIG_INPUT_TOUCHSCREEN=y
CONFIG_FPGA_DFL=y
CONFIG_COMMON_CLK_MT8186_CAMSYS=y
CONFIG_TI_ADC128S052=y
CONFIG_COMEDI_ADL_PCI9118=y
CONFIG_DMA_NEED_SYNC=y
CONFIG_I2C_RK3X=y
CONFIG_GENERIC_IRQ_MIGRATION=y
CONFIG_HAVE_FUNCTION_GRAPH_TRACER=y
CONFIG_GPIO_ASPEED_SGPIO=y
CONFIG_SENSORS_LM63=y
CONFIG_ROHM_BU27034=y
CONFIG_ATLAS_PH_SENSOR=y
CONFIG_BPF=y
CONFIG_MFD_QCOM_PM8008=y
CONFIG_FUTEX_PRIVATE_HASH=y
CONFIG_SENSORS_GPIO_FAN=y
CONFIG_ADXL313_SPI=y
CONFIG_AD7292=y
CONFIG_COMMON_CLK_G12A=y
CONFIG_CRYPTO_SM4_GENERIC=y
CONFIG_PINCTRL_BERLIN=y
CONFIG_INTEL_TH_PCI=y
CONFIG_NVMEM_APPLE_SPMI=y
CONFIG_CRYPTO_CTR=y
CONFIG_SENSORS_DS620=y
CONFIG_ACPI_PCI_SLOT=y
CONFIG_CGROUP_DMEM=y
CONFIG_CHARGER_BQ2415X=y
CONFIG_INPUT_DA9063_ONKEY=y
CONFIG_BMP280_SPI=y
CONFIG_INPUT_QNAP_MCU=y
CONFIG_MPRLS0025PA=y
CONFIG_RCU_TRACE=y
CONFIG_FPGA_MGR_ALTERA_PS_SPI=y
CONFIG_ARM_GIC_ITS_PARENT=y
CONFIG_ARCH_TEGRA_186_SOC=y
CONFIG_ARCH_ENABLE_MEMORY_HOTPLUG=y
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST=y
CONFIG_PINCTRL_TEGRA124=y
CONFIG_CONFIGFS_FS=y
CONFIG_PINCTRL_TEGRA_XUSB=y
CONFIG_HAS_IOPORT=y
CONFIG_PINCTRL_SUN8I_A33=y
CONFIG_ARCH_HAS_ELF_RANDOMIZE=y
CONFIG_SRF08=y
CONFIG_SCSI_3W_9XXX=y
CONFIG_MTK_SOCINFO=y
CONFIG_SSB_DRIVER_PCICORE_POSSIBLE=y
CONFIG_MFD_MT6370=y
CONFIG_TOUCHSCREEN_CY8CTMA140=y
CONFIG_PHY_CADENCE_DPHY=y
CONFIG_LEDS_TRIGGERS=y
CONFIG_I2C_SLAVE=y
CONFIG_DEBUG_PER_CPU_MAPS=y
CONFIG_ARCH_WANTS_EXECMEM_LATE=y
CONFIG_EFI_ARMSTUB_DTB_LOADER=y
CONFIG_TCG_CRB=y
CONFIG_USB_GADGET=y
CONFIG_COMMON_CLK_XGENE=y
CONFIG_VFIO_DEBUGFS=y
CONFIG_REGULATOR_AS3711=y
CONFIG_MTK_CMDQ_MBOX=y
CONFIG_SENSORS_SHT21=y
CONFIG_MCP4821=y
CONFIG_USB_MAX3420_UDC=y
CONFIG_MFD_MP2629=y
CONFIG_AMD_SBRMI_I2C=y
CONFIG_ARCH_DEFAULT_CRASH_DUMP=y
CONFIG_USB_ULPI_BUS=y
CONFIG_GPIB_TMS9914=y
CONFIG_SRF04=y
CONFIG_SENSORS_LIS3LV02D=y
CONFIG_SENSORS_Q54SJ108A2=y
CONFIG_GPIO_LATCH=y
CONFIG_LIBFDT=y
CONFIG_CRYPTO_KDF800108_CTR=y
CONFIG_SYSFS_SYSCALL=y
CONFIG_EFI=y
CONFIG_ST_THERMAL_MEMMAP=y
CONFIG_COMEDI_MF6X4=y
CONFIG_PECI_ASPEED=y
CONFIG_COMMON_CLK_MT8195_VENCSYS=y
CONFIG_HWLAT_TRACER=y
CONFIG_REED_SOLOMON_ENC16=y
CONFIG_I2C_MESON=y
CONFIG_HAVE_HW_BREAKPOINT=y
CONFIG_AD4130=y
CONFIG_DEBUG_MAPLE_TREE=y
CONFIG_SENSORS_TMP108=y
CONFIG_COMEDI_ADL_PCI7X3X=y
CONFIG_CONTEXT_TRACKING_IDLE=y
CONFIG_PCI_PWRCTRL=y
CONFIG_GPIB_CEC_PCI=y
CONFIG_GENERIC_BUG=y
CONFIG_REGULATOR_ARM_SCMI=y
CONFIG_PINCTRL_MTK_PARIS=y
CONFIG_NVMEM_ROCKCHIP_EFUSE=y
CONFIG_USB_FUNCTIONFS_GENERIC=y
CONFIG_AHCI_DWC=y
CONFIG_INPUT_WM831X_ON=y
CONFIG_BLK_WBT=y
CONFIG_REGULATOR_SLG51000=y
CONFIG_FAIL_IO_TIMEOUT=y
CONFIG_CRYPTO_AES_ARM64_NEON_BLK=y
CONFIG_PAGE_SIZE_LESS_THAN_256KB=y
CONFIG_SENSORS_STPDDC60=y
CONFIG_ARM_GIC_V2M=y
CONFIG_NAMESPACES=y
CONFIG_RING_BUFFER_PERSISTENT_INJECT=y
CONFIG_NVMEM_STM32_ROMEM=y
CONFIG_REGULATOR_MAX8893=y
CONFIG_CLK_BCM2711_DVP=y
CONFIG_HP206C=y
CONFIG_I2C_SIS96X=y
CONFIG_DMA_OPS_HELPERS=y
CONFIG_LEDS_TRIGGER_TIMER=y
CONFIG_WANT_DEV_COREDUMP=y
CONFIG_COREDUMP=y
CONFIG_SUSPEND_FREEZER=y
CONFIG_GENERIC_PINMUX_FUNCTIONS=y
CONFIG_ARM_SPE_PMU=y
CONFIG_REGULATOR_SY8824X=y
CONFIG_MFD_TPS6586X=y
CONFIG_GENERIC_TRACER=y
CONFIG_NLS_CODEPAGE_852=y
CONFIG_TI_ADC084S021=y
CONFIG_I2C_EMEV2=y
CONFIG_XFS_DEBUG=y
CONFIG_AD7606_IFACE_SPI=y
CONFIG_HW_RANDOM_BA431=y
CONFIG_CGROUP_MISC=y
CONFIG_PINCTRL_MESON_GXBB=y
CONFIG_ACPI_CPPC_LIB=y
CONFIG_PINCTRL_SUN50I_A100_R=y
CONFIG_ARCH_HAS_UBSAN=y
CONFIG_MFD_MAX7360=y
CONFIG_TEST_XARRAY=y
CONFIG_NVMEM_SYSFS=y
CONFIG_COMMON_CLK_MT8195_IMP_IIC_WRAP=y
CONFIG_ATOMIC64_SELFTEST=y
CONFIG_GPIO_MAX730X=y
CONFIG_BRCM_USB_PINMAP=y
CONFIG_MAX44000=y
CONFIG_I2C_CADENCE=y
CONFIG_ARCH_HAS_BATCHED_DMA_SYNC=y
CONFIG_BPF_SYSCALL=y
CONFIG_PPDEV=y
CONFIG_USB_STORAGE_DATAFAB=y
CONFIG_DM_PERSISTENT_DATA=y
CONFIG_NLS_ISO8859_4=y
CONFIG_QCOM_QDF2400_ERRATUM_0065=y
CONFIG_VIRTIO_VFIO_PCI=y
CONFIG_RING_BUFFER_BENCHMARK=y
CONFIG_CLK_SOPHGO_SG2044_PLL=y
CONFIG_LEDS_REGULATOR=y
CONFIG_FANOTIFY=y
CONFIG_CHROMEOS_OF_HW_PROBER=y
CONFIG_INPUT_JOYDEV=y
CONFIG_DM_THIN_PROVISIONING=y
CONFIG_UIO=y
CONFIG_MISC_ALCOR_PCI=y
CONFIG_KALLSYMS=y
CONFIG_FXOS8700=y
CONFIG_XXHASH=y
CONFIG_HAVE_SAMPLE_FTRACE_DIRECT_MULTI=y
CONFIG_DMA_RESTRICTED_POOL=y
CONFIG_SPI_OFFLOAD_TRIGGER_ADI_UTIL_SD=y
CONFIG_IRQ_WORK=y
CONFIG_SMI330_SPI=y
CONFIG_LCD_LMS501KF03=y
CONFIG_MTK_PMIC_WRAP=y
CONFIG_DECOMPRESS_GZIP=y
CONFIG_ADXL345_I2C=y
CONFIG_GPIO_JANZ_TTL=y
CONFIG_OF_EARLY_FLATTREE=y
CONFIG_CAVIUM_ERRATUM_23154=y
CONFIG_SENSORS_HMC5843_I2C=y
CONFIG_PAHOLE_HAS_LANG_EXCLUDE=y
CONFIG_PHY_SAMSUNG_USB2=y
CONFIG_MOUSE_BCM5974=y
CONFIG_INPUT_HISI_POWERKEY=y
CONFIG_PCIE_CADENCE_HOST=y
CONFIG_ARCH_SUPPORTS_PER_VMA_LOCK=y
CONFIG_ACPI=y
CONFIG_SENSORS_PECI_DIMMTEMP=y
CONFIG_GENERIC_IDLE_POLL_SETUP=y
CONFIG_HAVE_RSEQ=y
CONFIG_PINCTRL_TEGRA186=y
CONFIG_COMEDI_DAS08_PCI=y
CONFIG_AD3530R=y
CONFIG_GP2AP020A00F=y
CONFIG_CRYPTO_SIG2=y
CONFIG_LEDS_TRIGGER_PANIC=y
CONFIG_AD7091R=y
CONFIG_GENERIC_IRQ_SHOW=y
CONFIG_TASKS_RCU_GENERIC=y
CONFIG_SCSI_DH_RDAC=y
CONFIG_TORTURE_TEST=y
CONFIG_LZ4HC_COMPRESS=y
CONFIG_INPUT_XEN_KBDDEV_FRONTEND=y
CONFIG_ABP2030PA=y
CONFIG_AD7949=y
CONFIG_KXSD9=y
CONFIG_DEV_COREDUMP=y
CONFIG_DEBUG_KMEMLEAK_AUTO_SCAN=y
CONFIG_HW_RANDOM_STM32=y
CONFIG_PAC1934=y
CONFIG_SENSORS_OCC=y
CONFIG_PINCTRL_AMLOGIC_T7=y
CONFIG_SMI330=y
CONFIG_MUX_CORE=y
CONFIG_COMMON_CLK_MT8192=y
CONFIG_EXTCON=y
CONFIG_HAVE_REGS_AND_STACK_ACCESS_API=y
CONFIG_DM_INIT=y
CONFIG_KEBA_CP500=y
CONFIG_ROCKCHIP_ERRATUM_3568002=y
CONFIG_OF_GPIO=y
CONFIG_COMMON_CLK_MT8195=y
CONFIG_CONTEXT_TRACKING=y
CONFIG_MOUSE_APPLETOUCH=y
CONFIG_PINCTRL_MLXBF3=y
CONFIG_COMMON_CLK_MESON_VID_PLL_DIV=y
CONFIG_TCG_TIS=y
CONFIG_RAMDAX=y
CONFIG_PINCTRL_SX150X=y
CONFIG_EDAC_SUPPORT=y
CONFIG_HAVE_VIRT_CPU_ACCOUNTING_GEN=y
CONFIG_ENCLOSURE_SERVICES=y
CONFIG_AL3320A=y
CONFIG_ARCH_TEGRA_132_SOC=y
CONFIG_PCIE_KIRIN=y
CONFIG_VFIO_DEVICE_CDEV=y
CONFIG_SENSORS_ISL28022=y
CONFIG_NVIDIA_TEGRA410_CMEM_LATENCY_PMU=y
CONFIG_RV_MON_STALL=y
CONFIG_ACPI_HED=y
CONFIG_HISILICON_IRQ_MBIGEN=y
CONFIG_SENSORS_LTC2978=y
CONFIG_STM32_ADC_CORE=y
CONFIG_NTFS3_FS=y
CONFIG_PHY_MTK_XFI_TPHY=y
CONFIG_INV_ICM45600=y
CONFIG_HAVE_SYSCALL_TRACEPOINTS=y
CONFIG_MFD_LP3943=y
CONFIG_ARCH_HAS_PTDUMP=y
CONFIG_FUNCTION_TRACE_ARGS=y
CONFIG_LINEDISP=y
CONFIG_BLOCK_LEGACY_AUTOLOAD=y
CONFIG_DEBUG_KMEMLEAK_DEFAULT_OFF=y
CONFIG_PROC_PAGE_MONITOR=y
CONFIG_REGULATOR_LP87565=y
CONFIG_VT=y
CONFIG_PAGE_TABLE_CHECK=y
CONFIG_CRYPTO_LIB_NH=y
CONFIG_AD7191=y
CONFIG_MARVELL_CN10K_DPI=y
CONFIG_PCI_SW_SWITCHTEC=y
CONFIG_SERIO_APBPS2=y
CONFIG_SENSORS_QNAP_MCU_HWMON=y
CONFIG_NLS_CODEPAGE_1251=y
CONFIG_GPIO_DS4520=y
CONFIG_MTK_TIMER=y
CONFIG_PM_SLEEP=y
CONFIG_SENSORS_LM25066_REGULATOR=y
CONFIG_SPI_STM32_OSPI=y
CONFIG_IIO_ST_LSM6DSX_SPI=y
CONFIG_COMEDI_USBDUXFAST=y
CONFIG_ARCH_HAS_LAZY_MMU_MODE=y
CONFIG_HWMON_VID=y
CONFIG_SPI_MXIC=y
CONFIG_ARCH_MHP_MEMMAP_ON_MEMORY_ENABLE=y
CONFIG_ARM_ARCH_TIMER=y
CONFIG_ARCH_HAS_NMI_SAFE_THIS_CPU_OPS=y
CONFIG_KEXEC_CORE=y
CONFIG_TRACE_IRQFLAGS_NMI_SUPPORT=y
CONFIG_SENSORS_LM25066=y
CONFIG_SPI_DYNAMIC=y
CONFIG_STK8312=y
CONFIG_I2C_XGENE_SLIMPRO=y
CONFIG_CPU_FREQ_GOV_COMMON=y
CONFIG_SENSORS_THMC50=y
CONFIG_PM_DEVFREQ=y
CONFIG_XFS_ONLINE_SCRUB_STATS=y
CONFIG_CRYPTO_LZ4HC=y
CONFIG_FPGA_MGR_MICROCHIP_SPI=y
CONFIG_ARCH_BINFMT_ELF_STATE=y
CONFIG_HP_ILO=y
CONFIG_PINCTRL_ASPEED_G7_SOC0=y
CONFIG_GOOGLE_CBMEM=y
CONFIG_QUOTA_DEBUG=y
CONFIG_XEN=y
CONFIG_KPROBES=y
CONFIG_MAX6959=y
CONFIG_TOUCHSCREEN_SUN4I=y
CONFIG_INV_ICM42600_I2C=y
CONFIG_ARCH_HAS_UACCESS_FLUSHCACHE=y
CONFIG_SURFACE_3_POWER_OPREGION=y
CONFIG_PINCTRL_CS47L90=y
CONFIG_PHY_TEGRA194_P2U=y
CONFIG_SENSORS_RM3100_SPI=y
CONFIG_BTRFS_ASSERT=y
CONFIG_SERIAL_DEV_CTRL_TTYPORT=y
CONFIG_OF_IRQ=y
CONFIG_CRYPTO_DEFLATE=y
CONFIG_SOC_BUS=y
CONFIG_ARM_GIC=y
CONFIG_PINCTRL_STMFX=y
CONFIG_IIO_ST_SENSORS_CORE=y
CONFIG_FPGA_BRIDGE=y
CONFIG_COMMON_CLK_MT8183_IPU_CORE0=y
CONFIG_ROCKCHIP_TIMER=y
CONFIG_GPIO_MOCKUP=y
CONFIG_MFD_TPS65912=y
CONFIG_I2C_MLXCPLD=y
CONFIG_BMG160_I2C=y
CONFIG_PINCTRL_SINGLE=y
CONFIG_SPI_ALTERA_CORE=y
CONFIG_BUILTIN_MODULE_RANGES=y
CONFIG_MODULES_USE_ELF_RELA=y
CONFIG_SUNXI_NMI_INTC=y
CONFIG_REGULATOR_FAN53880=y
CONFIG_INPUT_PF1550_ONKEY=y
CONFIG_SENSORS_TPS53679=y
CONFIG_BINFMT_ELF=y
CONFIG_TI_ADS1018=y
CONFIG_SECURITY_LOCKDOWN_LSM=y
CONFIG_OF_KOBJ=y
CONFIG_USB_PHY=y
CONFIG_CRYPTO_GENIV=y
CONFIG_IIO_SIMPLE_DUMMY=y
CONFIG_VEML6040=y
CONFIG_REGULATOR_AW37503=y
CONFIG_REGULATOR_VCTRL=y
CONFIG_COMPAT_BRK=y
CONFIG_ARCH_SEATTLE=y
CONFIG_BMI088_ACCEL=y
CONFIG_REGULATOR_ADP5055=y
CONFIG_MFD_RDC321X=y
CONFIG_ARM64_MPAM=y
CONFIG_PID_NS=y
CONFIG_ARCH_HAS_KERNEL_FPU_SUPPORT=y
CONFIG_ARM_NI=y
CONFIG_PCI_MESON=y
CONFIG_IOMMU_IOVA=y
CONFIG_SOPHGO_CV1800_RTCSYS=y
CONFIG_COMMON_CLK_MESON_VCLK=y
CONFIG_THERMAL_GOV_FAIR_SHARE=y
CONFIG_COMPAT_32BIT_TIME=y
CONFIG_FAIR_GROUP_SCHED=y
CONFIG_PCIE_ALTERA_MSI=y
CONFIG_ARCH_BCM=y
CONFIG_USB4_STREAM=y
CONFIG_SENSORS_F71882FG=y
CONFIG_PINCTRL_MESON_S4=y
CONFIG_DM_SNAPSHOT=y
CONFIG_CLK_SOPHGO_SG2042_RPGATE=y
CONFIG_IOMMU_IO_PGTABLE_ARMV7S=y
CONFIG_HARDLOCKUP_DETECTOR=y
CONFIG_BH1745=y
CONFIG_BOOT_PRINTK_DELAY=y
CONFIG_COMMON_CLK_MT8173_VDECSYS=y
CONFIG_CC_HAS_ASM_GOTO_OUTPUT=y
CONFIG_W1_MASTER_DS2482=y
CONFIG_BMC150_MAGN=y
CONFIG_TOUCHSCREEN_GOODIX=y
CONFIG_HISI_THERMAL=y
CONFIG_REGULATOR_BD718XX=y
CONFIG_EFI_DISABLE_RUNTIME=y
CONFIG_PCIEAER_INJECT=y
CONFIG_INPUT_CMA3000_I2C=y
CONFIG_NVSW_SN2201=y
CONFIG_LEDS_EXPRESSWIRE=y
CONFIG_USB_ONBOARD_DEV=y
CONFIG_COMEDI_NI_LABPC_PCI=y
CONFIG_NEED_SG_DMA_LENGTH=y
CONFIG_GENERIC_IOREMAP=y
CONFIG_ARCH_HAS_DEBUG_WX=y
CONFIG_EEPROM_MAX6875=y
CONFIG_IP5XXX_POWER=y
CONFIG_COMEDI_DEBUG=y
CONFIG_MHI_BUS=y
CONFIG_CPU_IDLE_GOV_TEO=y
CONFIG_MEMORY_ISOLATION=y
CONFIG_VHOST_MENU=y
CONFIG_GPIO_REGMAP=y
CONFIG_DEBUG_CGROUP_REF=y
CONFIG_ADJD_S311=y
CONFIG_REBOOT_MODE=y
CONFIG_MD=y
CONFIG_XFS_RT=y
CONFIG_HWPOISON_INJECT=y
CONFIG_HW_RANDOM_XGENE=y
CONFIG_842_DECOMPRESS=y
CONFIG_HW_RANDOM_BCM2835=y
CONFIG_ARCH_HAS_GENERIC_CRASHKERNEL_RESERVATION=y
CONFIG_AS3935=y
CONFIG_USB_CONFIGFS=y
CONFIG_FILE_LOCKING=y
CONFIG_REED_SOLOMON_DEC16=y
CONFIG_IOMMU_DMA=y
CONFIG_USB_LCD=y
CONFIG_HAVE_ARM_SMCCC=y
CONFIG_SERIO_LIBPS2=y
CONFIG_PINCTRL_MESON_GXL=y
CONFIG_PROC_MEM_FORCE_PTRACE=y
CONFIG_MTK_CMDQ=y
CONFIG_CC_HAS_ZERO_CALL_USED_REGS=y
CONFIG_SURFACE_PRO3_BUTTON=y
CONFIG_REGULATOR_ATC260X=y
CONFIG_MOUSE_PS2_ELANTECH=y
CONFIG_CB710_DEBUG_ASSUMPTIONS=y
CONFIG_CRC64=y
CONFIG_COMEDI_ADV_PCI_DIO=y
CONFIG_SENSORS_RM3100=y
CONFIG_XILLYBUS=y
CONFIG_NLS_CODEPAGE_437=y
CONFIG_FPGA_MGR_XILINX_CORE=y
CONFIG_IOMMU_IO_PGTABLE_ARMV7S_SELFTEST=y
CONFIG_USB_ISP1761_UDC=y
CONFIG_CRYPTO_CAST5=y
CONFIG_SENSORS_SMSC47M1=y
CONFIG_GPIO_BD71815=y
CONFIG_ARCH_KEEMBAY=y
CONFIG_IRQSOFF_TRACER=y
CONFIG_SENSORS_LTC2947_SPI=y
CONFIG_PHY_STM32_USBPHYC=y
CONFIG_CRYPTO_HMAC=y
CONFIG_EFIVAR_FS=y
CONFIG_ADUX1020=y
CONFIG_DEVFREQ_GOV_PERFORMANCE=y
CONFIG_ITG3200=y
CONFIG_MFD_JANZ_CMODIO=y
CONFIG_PCI_PWRCTRL_TC9563=y
CONFIG_SENSORS_LM75=y
CONFIG_PCIE_BRCMSTB=y
CONFIG_BACKLIGHT_KTD253=y
CONFIG_USB_GADGET_DEBUG=y
CONFIG_SCHED_HW_PRESSURE=y
CONFIG_COMEDI_NI_MIO_CS=y
CONFIG_MTK_SOC_THERMAL=y
CONFIG_CPU_FREQ_GOV_PERFORMANCE=y
CONFIG_REGULATOR_AAT2870=y
CONFIG_CRYPTO_MANAGER2=y
CONFIG_SENSORS_MAX20830=y
CONFIG_COMEDI_ADDI_WATCHDOG=y
CONFIG_ACPI_PPTT=y
CONFIG_BROKEN_GAS_INST=y
CONFIG_SENSORS_PC87360=y
CONFIG_ARM_SCMI_TRANSPORT_VIRTIO_ATOMIC_ENABLE=y
CONFIG_USB_AMD5536UDC=y
CONFIG_PHY_MTK_MIPI_DSI=y
CONFIG_KERNFS=y
CONFIG_ARCH_HAVE_ELF_PROT=y
CONFIG_HDC100X=y
CONFIG_CRYPTO_SM4_ARM64_CE_BLK=y
CONFIG_DM_UNSTRIPED=y
CONFIG_MFD_RN5T618=y
CONFIG_USB_GOKU=y
CONFIG_BLK_WBT_MQ=y
CONFIG_USB_STORAGE_USBAT=y
CONFIG_MEMFD_CREATE=y
CONFIG_MFD_TI_LMU=y
CONFIG_TEST_DHRY=y
CONFIG_TOUCHSCREEN_PENMOUNT=y
CONFIG_CRC16=y
CONFIG_AD74115=y
CONFIG_CRYPTO_BENCHMARK=y
CONFIG_COMMON_CLK_MT8186_IMP_IIC_WRAP=y
CONFIG_BLK_DEV_BSG=y
CONFIG_SENSORS_CRPS=y
CONFIG_TOUCHSCREEN_ZET6223=y
CONFIG_ARCH_HAS_FORCE_DMA_UNENCRYPTED=y
CONFIG_MFD_TQMX86=y
CONFIG_MCP9600=y
CONFIG_APDS9160=y
CONFIG_EFI_ESRT=y
CONFIG_I2C_MUX_GPMUX=y
CONFIG_GPIO_PCA9570=y
CONFIG_GPIO_MLXBF3=y
CONFIG_USB_CHIPIDEA_HOST=y
CONFIG_MFD_RK8XX=y
CONFIG_TOUCHSCREEN_WACOM_I2C=y
CONFIG_ARCH_WANT_BATCHED_UNMAP_TLB_FLUSH=y
CONFIG_HAVE_ARCH_SECCOMP=y
CONFIG_GENERIC_IRQ_ENTRY=y
CONFIG_FW_UPLOAD=y
CONFIG_REGULATOR_MCP16502=y
CONFIG_ARCH_SUPPORTS_SCHED_MC=y
CONFIG_SENSORS_TC74=y
CONFIG_APPLE_MFI_FASTCHARGE=y
CONFIG_EXTCON_MAX14577=y
CONFIG_COMEDI_ADDI_APCI_1564=y
CONFIG_ARM_SMMU_MMU_500_CPRE_ERRATA=y
CONFIG_CHARGER_MAX14577=y
CONFIG_USB_G_HID=y
CONFIG_CRYPTO_LIB_MD5=y
CONFIG_PHYS_ADDR_T_64BIT=y
CONFIG_PAGE_MAPCOUNT=y
