CONFIG_CC_NO_ARRAY_BOUNDS=n
CONFIG_ATA_SFF=n
CONFIG_BLK_DEV_MD=n
CONFIG_ARCH_USE_SYM_ANNOTATIONS=n
CONFIG_ATA_GENERIC=n
CONFIG_RFKILL_INPUT=n
CONFIG_HAVE_MIXED_BREAKPOINTS_REGS=n
CONFIG_IPV6=n
CONFIG_ZISOFS=n
CONFIG_SND_INTEL_SOUNDWIRE_ACPI=n
CONFIG_VIRTIO_DMA_SHARED_BUFFER=n
CONFIG_PHYLIB=n
CONFIG_GENERIC_IRQ_MATRIX_ALLOCATOR=n
CONFIG_CPU_FREQ_GOV_USERSPACE=n
CONFIG_NEW_LEDS=n
CONFIG_AMD_NB=n
CONFIG_SND_X86=n
CONFIG_SG_POOL=n
CONFIG_RANDSTRUCT_NONE=n
CONFIG_BLK_CGROUP_IOPRIO=n
CONFIG_MITIGATION_SPECTRE_BHI=n
CONFIG_ARCH_WANT_LD_ORPHAN_WARN=n
CONFIG_SND_SEQUENCER=n
CONFIG_HW_RANDOM_VIA=n
CONFIG_CRYPTO_AKCIPHER=n
CONFIG_FS_MBCACHE=n
CONFIG_SERIAL_8250_PERICOM=n
CONFIG_NET_NS=n
CONFIG_ARCH_HAS_DEBUG_WX=n
CONFIG_SERIAL_CORE=n
CONFIG_WLAN_VENDOR_MEDIATEK=n
CONFIG_ARCH_SUSPEND_POSSIBLE=n
CONFIG_ARCH_HAS_CPU_RELAX=n
CONFIG_MITIGATION_RFDS=n
CONFIG_CRYPTO_SIG=n
CONFIG_QUEUED_SPINLOCKS=n
CONFIG_X86_MCE=n
CONFIG_HARDIRQS_SW_RESEND=n
CONFIG_ARCH_SUPPORTS_SCHED_SMT=n
CONFIG_IOMMU_DEFAULT_DMA_LAZY=n
CONFIG_HID=n
CONFIG_DRM_CLIENT_SELECTION=n
CONFIG_NETFS_SUPPORT=n
CONFIG_SERIAL_NONSTANDARD=n
CONFIG_RT_MUTEXES=n
CONFIG_ACPI=n
CONFIG_RD_LZO=n
CONFIG_USB_XHCI_HCD=n
CONFIG_SND_PROC_FS=n
CONFIG_DEBUG_FS=n
CONFIG_GENERIC_IRQ_RESERVATION_MODE=n
CONFIG_WLAN_VENDOR_MARVELL=n
CONFIG_NET_VENDOR_CISCO=n
CONFIG_IP6_NF_MATCH_IPV6HEADER=n
CONFIG_TASK_DELAY_ACCT=n
CONFIG_X86_SUPPORTS_MEMORY_FAILURE=n
CONFIG_AGP=n
CONFIG_IPC_NS=n
CONFIG_HAVE_SETUP_PER_CPU_AREA=n
CONFIG_TIGON3=n
CONFIG_XFRM_USER=n
CONFIG_ATA_ACPI=n
CONFIG_MMU_GATHER_MERGE_VMAS=n
CONFIG_SND_HDA_I915=n
CONFIG_FAIR_GROUP_SCHED=n
CONFIG_USB_PRINTER=n
CONFIG_ARCH_HAS_NMI_SAFE_THIS_CPU_OPS=n
CONFIG_WLAN_VENDOR_QUANTENNA=n
CONFIG_EFI_EARLYCON=n
CONFIG_INPUT=n
CONFIG_NET_VENDOR_EMULEX=n
CONFIG_NET_VENDOR_ROCKER=n
CONFIG_HID_TOPSEED=n
CONFIG_HOTPLUG_SPLIT_STARTUP=n
CONFIG_TICK_CPU_ACCOUNTING=n
CONFIG_HAVE_PERF_EVENTS=n
CONFIG_SCSI_SPI_ATTRS=n
CONFIG_BLK_DEV_INITRD=n
CONFIG_SCHED_CACHE=n
CONFIG_IOSF_MBI=n
CONFIG_GENERIC_NET_UTILS=n
CONFIG_USB_SUPPORT=n
CONFIG_KVM_GUEST=n
CONFIG_LOCKDEP_SUPPORT=n
CONFIG_DECOMPRESS_LZMA=n
CONFIG_QUOTA=n
CONFIG_HAVE_DYNAMIC_FTRACE=n
CONFIG_HAVE_FUTEX_ROBUST_UNLOCK=n
CONFIG_HAVE_STATIC_CALL=n
CONFIG_PCIEASPM=n
CONFIG_CRYPTO_KRB5=n
CONFIG_CONTEXT_TRACKING_IDLE=n
CONFIG_NET_9P_FD=n
CONFIG_GENERIC_TRACER=n
CONFIG_ARCH_USE_QUEUED_SPINLOCKS=n
CONFIG_NF_DEFRAG_IPV6=n
CONFIG_FRAME_POINTER=n
CONFIG_TREE_SRCU=n
CONFIG_PAGE_SIZE_LESS_THAN_256KB=n
CONFIG_HVC_DRIVER=n
CONFIG_NET_VENDOR_XILINX=n
CONFIG_HRTIMER_REARM_DEFERRED=n
CONFIG_ARCH_VMLINUX_NEEDS_RELOCS=n
CONFIG_TMPFS=n
CONFIG_DMA_SHARED_BUFFER=n
CONFIG_IRQ_DOMAIN=n
CONFIG_NET_VENDOR_MICROSOFT=n
CONFIG_X86_ACPI_CPUFREQ_CPB=n
CONFIG_NET_VENDOR_RENESAS=n
CONFIG_HID_PID=n
CONFIG_FUTEX_PRIVATE_HASH=n
CONFIG_SOCK_CGROUP_DATA=n
CONFIG_YENTA_ENE_TUNE=n
CONFIG_CRYPTO_LIB_AES_CBC_MACS=n
CONFIG_X86_DISABLED_FEATURE_PTI=n
CONFIG_ARCH_HAS_MEMBARRIER_SYNC_CORE=n
CONFIG_HAVE_RSEQ=n
CONFIG_LOCKD_V4=n
CONFIG_NET_VENDOR_DLINK=n
CONFIG_COREDUMP=n
CONFIG_PAGE_SIZE_LESS_THAN_64KB=n
CONFIG_VIRTIO_PCI_LIB=n
CONFIG_MSDOS_FS=n
CONFIG_NET_VENDOR_ASIX=n
CONFIG_STACKPROTECTOR=n
CONFIG_CRYPTO_LIB_GF128HASH=n
CONFIG_CRYPTO_LIB_SHA256=n
CONFIG_NETFILTER_XTABLES=n
CONFIG_X86_ESPFIX32=n
CONFIG_SND_HRTIMER=n
CONFIG_CRYPTO_LIB_AES_ARCH=n
CONFIG_8139TOO=n
CONFIG_RTC_I2C_AND_SPI=n
CONFIG_VT_CONSOLE=n
CONFIG_CPU_FREQ_DEFAULT_GOV_USERSPACE=n
CONFIG_LZO_COMPRESS=n
CONFIG_PCI_MSI=n
CONFIG_WLAN_VENDOR_REALTEK=n
CONFIG_X86_MCE_AMD=n
CONFIG_VT_CONSOLE_SLEEP=n
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_REGS=n
CONFIG_CONNECTOR=n
CONFIG_HOTPLUG_CPU=n
CONFIG_MODULES=n
CONFIG_IP_MROUTE_COMMON=n
CONFIG_GENERIC_IRQ_MIGRATION=n
CONFIG_APERTURE_HELPERS=n
CONFIG_NF_CONNTRACK_SECMARK=n
CONFIG_ATA=n
CONFIG_HAVE_ARCH_SECCOMP=n
CONFIG_X86_DISABLED_FEATURE_SEV_SNP=n
CONFIG_TRACE_IRQFLAGS_SUPPORT=n
CONFIG_HAVE_FTRACE_GRAPH_FUNC=n
CONFIG_SND_HDA_INTEL=n
CONFIG_X86_ACPI_CPUFREQ=n
CONFIG_CPU_IDLE_GOV_MENU=n
CONFIG_I2C_HID=n
CONFIG_BACKLIGHT_CLASS_DEVICE=n
CONFIG_ACPI_VIDEO=n
CONFIG_INITRAMFS_PRESERVE_MTIME=n
CONFIG_EXT4_FS=n
CONFIG_NFS_FS=n
CONFIG_X86_DISABLED_FEATURE_SYSCALL32=n
CONFIG_MMU_GATHER_TABLE_FREE=n
CONFIG_NET=n
CONFIG_HAS_SECURITY_AUDIT=n
CONFIG_VHOST_MENU=n
CONFIG_DEBUG_STACK_USAGE=n
CONFIG_GENERIC_IRQ_EFFECTIVE_AFF_MASK=n
CONFIG_BLK_PM=n
CONFIG_SECURITY_SELINUX=n
CONFIG_EXT4_FS_SECURITY=n
CONFIG_CC_HAS_ASM_INLINE=n
CONFIG_ARCH_SUPPORTS_DEBUG_PAGEALLOC=n
CONFIG_DECOMPRESS_ZSTD=n
CONFIG_RFKILL_LEDS=n
CONFIG_RELOCATABLE=n
CONFIG_P2SB=n
CONFIG_XFRM_AH=n
CONFIG_CRYPTO_CBC=n
CONFIG_INPUT_FF_MEMLESS=n
CONFIG_TCP_CONG_ADVANCED=n
CONFIG_X86_DISABLED_FEATURE_LASS=n
CONFIG_NET_VENDOR_CAVIUM=n
CONFIG_PCMCIA_LOAD_CIS=n
CONFIG_RTC_INTF_PROC=n
CONFIG_SND_VMASTER=n
CONFIG_PKCS7_MESSAGE_PARSER=n
CONFIG_NF_LOG_IPV4=n
CONFIG_RCU_TRACE=n
CONFIG_ARCH_HAS_CURRENT_STACK_POINTER=n
CONFIG_AMD_NODE=n
CONFIG_WLAN_VENDOR_MICROCHIP=n
CONFIG_UNIX=n
CONFIG_HPET=n
CONFIG_AUTOFS_FS=n
CONFIG_X86_32=n
CONFIG_AUDITSYSCALL=n
CONFIG_STANDALONE=n
CONFIG_YENTA=n
CONFIG_NETPOLL=n
CONFIG_DRM_MIPI_DSI=n
CONFIG_X86_CMOV=n
CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE=n
CONFIG_CRYPTO_ECB=n
CONFIG_EDAC_SUPPORT=n
CONFIG_USB_COMMON=n
CONFIG_JOLIET=n
CONFIG_ETHTOOL_NETLINK=n
CONFIG_GENERIC_CPU_DEVICES=n
CONFIG_RTC_LIB=n
CONFIG_HAVE_C_RECORDMCOUNT=n
CONFIG_HAVE_FUNCTION_ARG_ACCESS_API=n
CONFIG_MAC_EMUMOUSEBTN=n
CONFIG_RANDOMIZE_BASE=n
CONFIG_MAC80211_RC_DEFAULT_MINSTREL=n
CONFIG_DMI_SCAN_MACHINE_NON_EFI_FALLBACK=n
CONFIG_EDAC_ATOMIC_SCRUB=n
CONFIG_IA32_FEAT_CTL=n
CONFIG_VIRTIO_BLK=n
CONFIG_UNWINDER_FRAME_POINTER=n
CONFIG_GENERIC_ENTRY=n
CONFIG_VIRTIO_PCI_LEGACY=n
CONFIG_DEBUG_FS_ALLOW_ALL=n
CONFIG_VIRTIO_NET=n
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO=n
CONFIG_COMPAT_32BIT_TIME=n
CONFIG_NVRAM=n
CONFIG_SERIAL_8250_DWLIB=n
CONFIG_ARCH_HAS_CPU_FINALIZE_INIT=n
CONFIG_GENERIC_EARLY_IOREMAP=n
CONFIG_ARCH_WANT_IPC_PARSE_VERSION=n
CONFIG_HID_GYRATION=n
CONFIG_HAVE_MOVE_PUD=n
CONFIG_ARCH_SUPPORTS_ACPI=n
CONFIG_NOP_TRACER=n
CONFIG_DEVTMPFS=n
CONFIG_ETHERNET=n
CONFIG_HAVE_KERNEL_LZO=n
CONFIG_EPROBE_EVENTS=n
CONFIG_I8253_LOCK=n
CONFIG_VGA_ARB=n
CONFIG_CGROUP_CPUACCT=n
CONFIG_SERIO_LIBPS2=n
CONFIG_SCSI_CONSTANTS=n
CONFIG_ACPI_CPU_FREQ_PSS=n
CONFIG_BITREVERSE=n
CONFIG_ARCH_HAS_DEBUG_VM_PGTABLE=n
CONFIG_BLK_DEV_WRITE_MOUNTED=n
CONFIG_PREEMPT_RCU=n
CONFIG_CC_HAS_COUNTED_BY=n
CONFIG_UNION_FIND=n
CONFIG_IOMMU_IOVA=n
CONFIG_XZ_DEC=n
CONFIG_PCI_LOCKLESS_CONFIG=n
CONFIG_SCSI_PROC_FS=n
CONFIG_ADVISE_SYSCALLS=n
CONFIG_IO_URING=n
CONFIG_CC_HAS_NAMED_AS_FIXED_SANITIZERS=n
CONFIG_XZ_DEC_X86=n
CONFIG_BLK_DEV=n
CONFIG_PM_TRACE_RTC=n
CONFIG_SND_SEQ_DEVICE=n
CONFIG_CGROUP_NET_CLASSID=n
CONFIG_CC_HAS_AUTO_VAR_INIT_PATTERN=n
CONFIG_HAVE_HARDLOCKUP_DETECTOR_PERF=n
CONFIG_CLKSRC_I8253=n
CONFIG_ARCH_USE_MEMTEST=n
CONFIG_TIGON3_HWMON=n
CONFIG_EXPORTFS=n
CONFIG_CC_HAS_NO_PROFILE_FN_ATTR=n
CONFIG_CRYPTO_ALGAPI2=n
CONFIG_RATIONAL=n
CONFIG_ACPI_PROCESSOR_CSTATE=n
CONFIG_E1000E_HWTS=n
CONFIG_SYSVIPC_SYSCTL=n
CONFIG_TCP_MD5SIG=n
CONFIG_NET_FAILOVER=n
CONFIG_EARLY_PRINTK_DBGP=n
CONFIG_RD_LZMA=n
CONFIG_CRYPTO_HASH2=n
CONFIG_PCI=n
CONFIG_INSTRUCTION_DECODER=n
CONFIG_USB_EHCI_PCI=n
CONFIG_E100=n
CONFIG_WLAN=n
CONFIG_CRYPTO_ALGAPI=n
CONFIG_WLAN_VENDOR_ATMEL=n
CONFIG_FUTEX_ROBUST_UNLOCK=n
CONFIG_HAVE_PV_STEAL_CLOCK_GEN=n
CONFIG_CPU_RMAP=n
CONFIG_NF_NAT=n
CONFIG_HAVE_ARCH_KSTACK_ERASE=n
CONFIG_X86_HAVE_PAE=n
CONFIG_KEYS=n
CONFIG_NET_VENDOR_ATHEROS=n
CONFIG_EFI_RUNTIME_WRAPPERS=n
CONFIG_ARCH_SUPPORTS_CRASH_HOTPLUG=n
CONFIG_E1000E=n
CONFIG_ZONE_DMA=n
