CONFIG_NET_VENDOR_SILAN=n
CONFIG_OF_EARLY_FLATTREE=n
CONFIG_PNFS_FLEXFILE_LAYOUT=n
CONFIG_IOMMU_PT_RISCV64=n
CONFIG_NFS_V4_2_READ_PLUS=n
CONFIG_USB_F_MASS_STORAGE=n
CONFIG_NEED_TASKS_RCU=n
CONFIG_NET=n
CONFIG_TOOLCHAIN_HAS_ZBB=n
CONFIG_COMPACTION=n
CONFIG_USB_EHCI_PCI=n
CONFIG_NET_CLS_CGROUP=n
CONFIG_FIRMWARE_TABLE=n
CONFIG_CLK_STARFIVE_JH7110_PLL=n
CONFIG_SND_SPI=n
CONFIG_OF_MDIO=n
CONFIG_SUN6I_MSGBOX=n
CONFIG_STRICT_KERNEL_RWX=n
CONFIG_CRYPTO_CMAC=n
CONFIG_KERNFS=n
CONFIG_CLK_STARFIVE_JH7110_STG=n
CONFIG_BLK_CGROUP_RWSTAT=n
CONFIG_EFI_ESRT=n
CONFIG_CLK_SOPHGO_CV1800=n
CONFIG_USB_F_NCM=n
CONFIG_SND_USB=n
CONFIG_MTD_MAP_BANK_WIDTH_1=n
CONFIG_CLK_SOPHGO_SG2042_CLKGEN=n
CONFIG_XZ_DEC_POWERPC=n
CONFIG_FIX_EARLYCON_MEM=n
CONFIG_IP_PNP_RARP=n
CONFIG_VGA_ARB=n
CONFIG_HAVE_ARCH_BITREVERSE=n
CONFIG_MMU_LAZY_TLB_REFCOUNT=n
CONFIG_MICREL_PHY=n
CONFIG_NET_VENDOR_ALIBABA=n
CONFIG_NET_SCH_FIFO=n
CONFIG_SERIO_LIBPS2=n
CONFIG_DWMAC_SPACEMIT=n
CONFIG_BTRFS_FS=n
CONFIG_MTD_BLKDEVS=n
CONFIG_ERRATA_THEAD_CMO=n
CONFIG_CRYPTO_KPP2=n
CONFIG_DQL=n
CONFIG_GENERIC_IRQ_IPI=n
CONFIG_MTD_CFI_ADV_OPTIONS=n
CONFIG_BLK_DEV_PMEM=n
CONFIG_CLK_ANALOGBITS_WRPLL_CLN28HPC=n
CONFIG_RISCV_PMU_SBI=n
CONFIG_RESET_POLARFIRE_SOC=n
CONFIG_FB_IOMEM_HELPERS=n
CONFIG_SECURITY_APPARMOR_EXPORT_BINARY=n
CONFIG_MEDIA_CONTROLLER=n
CONFIG_NET_VENDOR_ALACRITECH=n
CONFIG_IOMMU_SUPPORT=n
CONFIG_CPUSETS=n
CONFIG_DWMAC_SUN55I=n
CONFIG_QUEUED_SPINLOCKS=n
CONFIG_NFS_FS=n
CONFIG_HAVE_GCC_PLUGINS=n
CONFIG_DWMAC_SUN8I=n
CONFIG_VIRTIO_PCI_LEGACY=n
CONFIG_ARCH_USE_MEMTEST=n
CONFIG_HAVE_ARCH_SOFT_DIRTY=n
CONFIG_NET_VENDOR_WIZNET=n
CONFIG_SERIAL_8250_16550A_VARIANTS=n
CONFIG_POWER_SEQUENCING=n
CONFIG_DRM_SUN4I=n
CONFIG_WLAN_VENDOR_RSI=n
CONFIG_NET_VENDOR_HISILICON=n
CONFIG_RATIONAL=n
CONFIG_UPROBES=n
CONFIG_NET_VENDOR_OKI=n
CONFIG_BACKLIGHT_CLASS_DEVICE=n
CONFIG_PM_GENERIC_DOMAINS_OF=n
CONFIG_USB_CONFIGFS_OBEX=n
CONFIG_NET_VENDOR_LITEX=n
CONFIG_MCHP_CLK_MPFS=n
CONFIG_VIDEO_V4L2_I2C=n
CONFIG_CHECKPOINT_RESTORE=n
CONFIG_PHYS_ADDR_T_64BIT=n
CONFIG_PCI_HOST_GENERIC=n
CONFIG_GENERIC_ENTRY=n
CONFIG_DTC=n
CONFIG_AS_HAS_OPTION_ARCH=n
CONFIG_HAVE_PCI=n
CONFIG_HAVE_KERNEL_GZIP=n
CONFIG_PINCTRL_SOPHGO_SG2002=n
CONFIG_PINCTRL_SOPHGO_COMMON=n
CONFIG_NET_VENDOR_TEHUTI=n
CONFIG_GPIO_SPACEMIT_K1=n
CONFIG_CPU_MITIGATIONS=n
CONFIG_USB_OHCI_HCD_PCI=n
CONFIG_USB_CDNS3_STARFIVE=n
CONFIG_PHY_SUN6I_MIPI_DPHY=n
CONFIG_CLONE_BACKWARDS=n
CONFIG_NETFILTER_ADVANCED=n
CONFIG_INITRAMFS_PRESERVE_MTIME=n
CONFIG_BUG=n
CONFIG_GENERIC_PINMUX_FUNCTIONS=n
CONFIG_RAMDAX=n
CONFIG_HID=n
CONFIG_INET_ESP=n
CONFIG_NET_INGRESS=n
CONFIG_SMP=n
CONFIG_MFD_SYSCON=n
CONFIG_MQ_IOSCHED_DEADLINE=n
CONFIG_PINCTRL_ULTRARISC=n
CONFIG_HZ_250=n
CONFIG_DRM_DISPLAY_DP_HELPER=n
CONFIG_ARCH_MICROCHIP_POLARFIRE=n
CONFIG_EXPORTFS=n
CONFIG_SPI_SIFIVE=n
CONFIG_MAILBOX=n
CONFIG_CC_HAS_SANE_FUNCTION_ALIGNMENT=n
CONFIG_CRYPTO_HMAC=n
CONFIG_CRC7=n
CONFIG_RISCV_SBI_CPUIDLE=n
CONFIG_PHY_SUN4I_USB=n
CONFIG_DMA_SUN6I=n
CONFIG_SUSPEND=n
CONFIG_TOOLCHAIN_HAS_ZABHA=n
CONFIG_USB_CONFIGFS_EEM=n
CONFIG_NET_VENDOR_MICREL=n
CONFIG_INPUT_KEYBOARD=n
CONFIG_CLK_STARFIVE_JH71X0=n
CONFIG_SUN20I_PPU=n
CONFIG_PCI_DOMAINS_GENERIC=n
CONFIG_FB_SYS_COPYAREA=n
CONFIG_SECURITY_SELINUX_DEVELOP=n
CONFIG_NAMESPACES=n
CONFIG_HAVE_KERNEL_UNCOMPRESSED=n
CONFIG_REGMAP_SPI=n
CONFIG_STARFIVE_JHB100_INTC=n
CONFIG_RD_LZO=n
CONFIG_SYSFS=n
CONFIG_SCHED_HRTICK=n
CONFIG_TASKS_RCU=n
CONFIG_BRIDGE_IGMP_SNOOPING=n
CONFIG_DNOTIFY=n
CONFIG_TIME_NS_VDSO=n
CONFIG_DRM=n
CONFIG_ARCH_OPTIONAL_KERNEL_RWX_DEFAULT=n
CONFIG_NETFILTER_XTABLES=n
CONFIG_ERRATA_THEAD=n
CONFIG_OID_REGISTRY=n
CONFIG_DRM_PANEL_BRIDGE=n
CONFIG_NETFILTER_XT_MATCH_IPVS=n
CONFIG_PINMUX=n
CONFIG_MEDIA_SUPPORT=n
CONFIG_HOTPLUG_SPLIT_STARTUP=n
CONFIG_INTEGRITY=n
CONFIG_PCI_HOST_COMMON=n
CONFIG_RISCV_PMU=n
CONFIG_INPUT_MOUSE=n
CONFIG_RISCV_PROBE_UNALIGNED_ACCESS=n
CONFIG_PWM_PXA=n
CONFIG_CRYPTO_SHA1=n
CONFIG_RAID6_PQ=n
CONFIG_PM_GENERIC_DOMAINS_SLEEP=n
CONFIG_ACPI=n
CONFIG_CDROM=n
CONFIG_LD_IS_BFD=n
CONFIG_ERRATA_THEAD_PMU=n
CONFIG_VHOST_MENU=n
CONFIG_IOMMU_DEFAULT_DMA_STRICT=n
CONFIG_PCI_DOMAINS=n
CONFIG_CRYPTO_KRB5=n
CONFIG_TIME_NS=n
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE_PUD=n
CONFIG_BLK_PM=n
CONFIG_ARCH_MHP_MEMMAP_ON_MEMORY_ENABLE=n
CONFIG_NET_VENDOR_MUCSE=n
CONFIG_NET_9P_FD=n
CONFIG_DMA_NONCOHERENT_MMAP=n
CONFIG_VIRTIO_DMA_SHARED_BUFFER=n
CONFIG_KVM_COMMON=n
CONFIG_RESET_EIC7700=n
CONFIG_USB=n
CONFIG_FW_LOADER=n
CONFIG_UNIX98_PTYS=n
CONFIG_RTC_LIB=n
CONFIG_VHOST_ENABLE_FORK_OWNER_CONTROL=n
CONFIG_RFS_ACCEL=n
CONFIG_PNFS_FILE_LAYOUT=n
CONFIG_POWER_RESET_GPIO_RESTART=n
CONFIG_ARCH_USE_QUEUED_SPINLOCKS=n
CONFIG_MEDIA_SUBDRV_AUTOSELECT=n
CONFIG_SPARSE_IRQ=n
CONFIG_POSIX_TIMERS=n
CONFIG_CRYPTO_GENIV=n
CONFIG_RISCV_ISA_ZBC=n
CONFIG_FSNOTIFY=n
CONFIG_ARCH_VIRT=n
CONFIG_PINCONF=n
CONFIG_HAVE_RETHOOK=n
CONFIG_HAVE_REGS_AND_STACK_ACCESS_API=n
CONFIG_PCC=n
CONFIG_USB_SUPPORT=n
CONFIG_ARCH_SUPPORTS_KEXEC_PURGATORY=n
CONFIG_FB_CFB_FILLRECT=n
CONFIG_DMADEVICES=n
CONFIG_HAVE_ARCH_VMAP_STACK=n
CONFIG_SPI_MASTER=n
CONFIG_NET_VENDOR_ROCKER=n
CONFIG_IP_VS_PROTO_TCP=n
CONFIG_SND_CTL_FAST_LOOKUP=n
CONFIG_GENERIC_PENDING_IRQ=n
CONFIG_ARCH_HAS_PTE_SPECIAL=n
CONFIG_EXT4_FS_POSIX_ACL=n
CONFIG_NETWORK_SECMARK=n
CONFIG_ARCH_ULTRARISC=n
CONFIG_TOOLCHAIN_HAS_ZBKB=n
CONFIG_CFS_BANDWIDTH=n
CONFIG_STRICT_MODULE_RWX=n
CONFIG_NET_VENDOR_SUN=n
CONFIG_NET_VENDOR_DAVICOM=n
CONFIG_MOUSE_PS2_LOGIPS2PP=n
CONFIG_CC_NO_ARRAY_BOUNDS=n
CONFIG_RISCV_ISA_ZACAS=n
CONFIG_UCS2_STRING=n
CONFIG_SND_SIMPLE_CARD=n
CONFIG_USB_CONFIGFS_RNDIS=n
CONFIG_RPMSG=n
CONFIG_SPI_PL022=n
CONFIG_VIDEO_DEV=n
CONFIG_SUNXI_CCU=n
CONFIG_NETFILTER_EGRESS=n
CONFIG_DWMAC_STARFIVE=n
CONFIG_RESET_SUNXI=n
CONFIG_I2C_CHARDEV=n
CONFIG_ARCH_SUPPORTS_ATOMIC_RMW=n
CONFIG_ACPI_BUTTON=n
CONFIG_CGROUP_WRITEBACK=n
CONFIG_ARCH_HAS_DMA_PREP_COHERENT=n
CONFIG_XZ_DEC_SPARC=n
CONFIG_SYMBOLIC_ERRNAME=n
CONFIG_SOUND=n
CONFIG_SERIAL_MCTRL_GPIO=n
CONFIG_BLK_DEV_NVME=n
CONFIG_DRM_DW_HDMI=n
CONFIG_BLK_DEV_LOOP=n
CONFIG_HAVE_IOREMAP_PROT=n
CONFIG_LOCK_MM_AND_FIND_VMA=n
CONFIG_DT_IDLE_STATES=n
CONFIG_USB_PCI=n
CONFIG_VT_HW_CONSOLE_BINDING=n
CONFIG_SUN20I_D1_R_CCU=n
CONFIG_BPF_SYSCALL=n
CONFIG_RISCV_ISA_XTHEADVECTOR=n
CONFIG_SECURITY_APPARMOR=n
CONFIG_UNIX=n
CONFIG_HAVE_CLK=n
CONFIG_LIBNVDIMM=n
CONFIG_HAVE_KERNEL_LZ4=n
CONFIG_TOOLCHAIN_HAS_ZBA=n
CONFIG_DMA_DIRECT_REMAP=n
CONFIG_RISCV_DMA_NONCOHERENT=n
CONFIG_BLK_DEV_WRITE_MOUNTED=n
CONFIG_ARCH_HAS_KCOV=n
CONFIG_EXECMEM=n
CONFIG_FB_DMAMEM_HELPERS=n
CONFIG_RISCV_PMU_LEGACY=n
CONFIG_ARCH_STARFIVE=n
CONFIG_CRYPTO_DEV_VIRTIO=n
CONFIG_DRM_TTM_HELPER=n
CONFIG_SERIAL_8250_PCILIB=n
CONFIG_JOLIET=n
CONFIG_VIRTIO=n
CONFIG_PROBE_EVENTS=n
CONFIG_CLK_STARFIVE_JH7110_SYS=n
CONFIG_GPIO_SIFIVE=n
CONFIG_CACHEMAINT_FOR_DMA=n
CONFIG_PINCTRL_TH1520=n
CONFIG_RESET_STARFIVE_JH7100=n
CONFIG_ARCH_HAS_SET_MEMORY=n
CONFIG_SUNXI_SRAM=n
CONFIG_HAVE_LD_DEAD_CODE_DATA_ELIMINATION=n
CONFIG_PAGE_REPORTING=n
CONFIG_RISCV_ISA_ZICBOP=n
CONFIG_ND_CLAIM=n
CONFIG_POWER_RESET_SPACEMIT_P1=n
CONFIG_HDMI=n
CONFIG_ARCH_CANAAN=n
CONFIG_PCIE_FU740=n
CONFIG_NET_UDP_TUNNEL=n
CONFIG_LOCKDEP_SUPPORT=n
CONFIG_RTC_INTF_PROC=n
CONFIG_CPU_FREQ_GOV_ONDEMAND=n
CONFIG_HAVE_ARCH_SECCOMP_FILTER=n
CONFIG_PER_VMA_LOCK=n
CONFIG_DRM_CLIENT_DEFAULT_FBDEV=n
CONFIG_SG_POOL=n
CONFIG_GCC_SUPPORTS_DYNAMIC_FTRACE=n
CONFIG_NET_VENDOR_RENESAS=n
CONFIG_PINCTRL_SOPHGO_SG2000=n
CONFIG_GENERIC_CLOCKEVENTS=n
CONFIG_PAGE_SIZE_LESS_THAN_256KB=n
CONFIG_NET_DEVMEM=n
CONFIG_GENERIC_STRNCPY_FROM_USER=n
