CONFIG_USB_DUMMY_HCD=y
CONFIG_SERIAL_UARTLITE=y
CONFIG_GAMEPORT=y
CONFIG_CRYPTO_LIB_SHA3=y
CONFIG_IMG_ASCII_LCD=y
CONFIG_USB_CDNS3_GADGET=y
CONFIG_WINBOND_840=y
CONFIG_CC_HAS_AUTO_VAR_INIT_PATTERN=y
CONFIG_EPOLL=y
CONFIG_LEDS_LM36274=y
CONFIG_MVIAC3_2=y
CONFIG_LOCK_EVENT_COUNTS=y
CONFIG_XZ_DEC=y
CONFIG_REGULATOR_RT5033=y
CONFIG_ARCH_SUSPEND_POSSIBLE=y
CONFIG_I2C_PXA_PCI=y
CONFIG_MDIO_GPIO=y
CONFIG_PREEMPT_DYNAMIC=y
CONFIG_REGULATOR_LP872X=y
CONFIG_ARCH_HAS_HW_PTE_YOUNG=y
CONFIG_GPIO_PCF857X=y
CONFIG_I2C_NVIDIA_GPU=y
CONFIG_KEY_DH_OPERATIONS=y
CONFIG_RTC_DRV_MAX77686=y
CONFIG_RMI4_SMB=y
CONFIG_LEDS_QNAP_MCU=y
CONFIG_I2C_ISCH=y
CONFIG_IO_WQ=y
CONFIG_USB_UEAGLEATM=y
CONFIG_SENSORS_MAX127=y
CONFIG_SENSORS_PCF8591=y
CONFIG_GPIO_DLN2=y
CONFIG_RCU_EQS_DEBUG=y
CONFIG_CLK_TWL=y
CONFIG_RTC_DRV_HYM8563=y
CONFIG_I2C_ATR=y
CONFIG_LEDS_LM3642=y
CONFIG_CRYPTO_CCM=y
CONFIG_SPEAKUP_SYNTH_DECEXT=y
CONFIG_KEYBOARD_BCM=y
CONFIG_SENSORS_APPLESMC=y
CONFIG_USB_CONFIGFS_F_HID=y
CONFIG_ACPI_SYSTEM_POWER_STATES_SUPPORT=y
CONFIG_INPUT_MATRIXKMAP=y
CONFIG_TPS65010=y
CONFIG_REGULATOR_TPS65910=y
CONFIG_W1_MASTER_UART=y
CONFIG_THERMAL_GOV_STEP_WISE=y
CONFIG_FB_I740=y
CONFIG_ICS932S401=y
CONFIG_DYNAMIC_FTRACE_WITH_DIRECT_CALLS=y
CONFIG_SYSFB=y
CONFIG_MFD_MC13XXX_I2C=y
CONFIG_LEDS_TRIGGER_TIMER=y
CONFIG_POWER_RESET_RESTART=y
CONFIG_FB_SYS_IMAGEBLIT=y
CONFIG_GPIO_WM8350=y
CONFIG_USB_NET_MCS7830=y
CONFIG_TRACER_MAX_TRACE=y
CONFIG_DW_DMAC_PCI=y
CONFIG_GPIO_MAX730X=y
CONFIG_MFD_SIMPLE_MFD_I2C=y
CONFIG_ADVANTECH_EC_WDT=y
CONFIG_SECTION_MISMATCH_WARN_ONLY=y
CONFIG_FB_SSD1307=y
CONFIG_HAVE_POSIX_CPU_TIMERS_TASK_WORK=y
CONFIG_ARCH_HAS_NMI_SAFE_THIS_CPU_OPS=y
CONFIG_FB_GEODE=y
CONFIG_X86_MCE_AMD=y
CONFIG_HAS_IOMEM=y
CONFIG_COMPACTION=y
CONFIG_SENSORS_ADM1031=y
CONFIG_KEYBOARD_DLINK_DIR685=y
CONFIG_LD_ORPHAN_WARN=y
CONFIG_SYSCTL_EXCEPTION_TRACE=y
CONFIG_MFD_WCD934X=y
CONFIG_USB_SERIAL_KOBIL_SCT=y
CONFIG_PCI_MMCONFIG=y
CONFIG_PINCTRL_LAKEFIELD=y
CONFIG_HISI_HIKEY_USB=y
CONFIG_XILINX_GMII2RGMII=y
CONFIG_GOOGLE_FIRMWARE=y
CONFIG_X86_DISABLED_FEATURE_PCID=y
CONFIG_RTC_DRV_MC13XXX=y
CONFIG_CHARLCD_BL_ON=y
CONFIG_X86_PM_TIMER=y
CONFIG_ACQUIRE_WDT=y
CONFIG_ARCH_CLOCKSOURCE_INIT=y
CONFIG_MMU_GATHER_MERGE_VMAS=y
CONFIG_CRYPTO_LIB_AES=y
CONFIG_SWITCHTEC_DMA=y
CONFIG_CXL_FEATURES=y
CONFIG_REGULATOR_DA9062=y
CONFIG_NFC_DIGITAL=y
CONFIG_NET_VENDOR_NETRONOME=y
CONFIG_GPIB_LPVO=y
CONFIG_FRAMEBUFFER_CONSOLE=y
CONFIG_RTC_DRV_DS1374_WDT=y
CONFIG_TYPEC_MUX_PTN36502=y
CONFIG_FTRACE_SELFTEST=y
CONFIG_DYNAMIC_FTRACE=y
CONFIG_IR_IGUANA=y
CONFIG_DELL_WMI_SYSMAN=y
CONFIG_USB_ISP1760_GADGET_ROLE=y
CONFIG_HAVE_DEBUG_KMEMLEAK=y
CONFIG_CRYPTO_KPP2=y
CONFIG_HAVE_PERF_EVENTS_NMI=y
CONFIG_MMU_LAZY_TLB_REFCOUNT=y
CONFIG_UIO_PDRV_GENIRQ=y
CONFIG_REGULATOR_ADP5055=y
CONFIG_GNSS=y
CONFIG_MFD_CS40L50_CORE=y
CONFIG_SERIAL_8250_PNP=y
CONFIG_I2C_MUX=y
CONFIG_NEED_PER_CPU_KM=y
CONFIG_PHY_CADENCE_DPHY_RX=y
CONFIG_CRYPTO_BLAKE2B=y
CONFIG_REGULATOR_MT6359=y
CONFIG_CRYPTO_HASH_INFO=y
CONFIG_KPROBES=y
CONFIG_HW_RANDOM=y
CONFIG_SENSORS_LM85=y
CONFIG_ARCH_SUPPORTS_KEXEC_SIG=y
CONFIG_GPIO_REGMAP=y
CONFIG_MFD_DA9150=y
CONFIG_HIST_TRIGGERS_DEBUG=y
CONFIG_CUSE=y
CONFIG_SENSORS_ASUS_EC=y
CONFIG_GPIO_STMPE=y
CONFIG_RD_LZO=y
CONFIG_CRYPTO_SKCIPHER=y
CONFIG_STP=y
CONFIG_DECOMPRESS_XZ=y
CONFIG_REGULATOR_RT6245=y
CONFIG_RC_CORE=y
CONFIG_COMMON_CLK_S2MPS11=y
CONFIG_EXECMEM=y
CONFIG_RTC_DRV_88PM860X=y
CONFIG_SECONDARY_TRUSTED_KEYRING=y
CONFIG_COMMON_CLK_MAX77686=y
CONFIG_IR_TTUSBIR=y
CONFIG_SSB_PCMCIAHOST_POSSIBLE=y
CONFIG_MFD_PALMAS=y
CONFIG_HAVE_ARCH_MMAP_RND_BITS=y
CONFIG_REGULATOR_PCA9450=y
CONFIG_CRYPTO_RNG2=y
CONFIG_USB_XUSBATM=y
CONFIG_PREEMPT_NOTIFIERS=y
CONFIG_FB_ATY_GX=y
CONFIG_INPUT_MOUSEDEV_PSAUX=y
CONFIG_LEDS_MAX77705=y
CONFIG_HAVE_ARCH_AUDITSYSCALL=y
CONFIG_BCM87XX_PHY=y
CONFIG_CRYPTO_SEQIV=y
CONFIG_UIO_NETX=y
CONFIG_CRYPTO_JITTERENTROPY_TESTINTERFACE=y
CONFIG_HAVE_GENERIC_TIF_BITS=y
CONFIG_NLS=y
CONFIG_CRYPTO_LRW=y
CONFIG_TMPFS_XATTR=y
CONFIG_NLS_ISO8859_6=y
CONFIG_HAVE_PCSPKR_PLATFORM=y
CONFIG_HW_RANDOM_XIPHERA=y
CONFIG_ACPI_TINY_POWER_BUTTON=y
CONFIG_HARDLOCKUP_DETECTOR=y
CONFIG_MICROCODE_INITRD32=y
CONFIG_ACPI_MDIO=y
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE=y
CONFIG_CRYPTO_LIB_MD5=y
CONFIG_CONTEXT_SWITCH_TRACER=y
CONFIG_PCI_PF_STUB=y
CONFIG_BACKLIGHT_CLASS_DEVICE=y
CONFIG_NLS_CODEPAGE_866=y
CONFIG_CC_HAS_ASM_GOTO_TIED_OUTPUT=y
CONFIG_YT2_1380=y
CONFIG_GENERIC_ALLOCATOR=y
CONFIG_PCI_ECAM=y
CONFIG_GPIO_WM831X=y
CONFIG_HWMON_VID=y
CONFIG_RTC_DRV_RX8025=y
CONFIG_CRC_CCITT=y
CONFIG_KEYBOARD_CAP11XX=y
CONFIG_BACKLIGHT_LM3509=y
CONFIG_KMALLOC_PARTITION_CACHES=y
CONFIG_USB_SERIAL_EDGEPORT_TI=y
CONFIG_TCG_VTPM_PROXY=y
CONFIG_I2C_NFORCE2=y
CONFIG_ACPI_DPTF=y
CONFIG_CRYPTO_CHACHA20POLY1305=y
CONFIG_KVM_GENERIC_PRE_FAULT_MEMORY=y
CONFIG_QCA7000=y
CONFIG_REGULATOR_RT8092=y
CONFIG_DM9102=y
CONFIG_SOFTLOCKUP_DETECTOR=y
CONFIG_LEDS_BCM6358=y
CONFIG_CRYPTO_MD4=y
CONFIG_BLK_DEV_INITRD=y
CONFIG_LEDS_MLXCPLD=y
CONFIG_FTRACE_VALIDATE_RCU_IS_WATCHING=y
CONFIG_DMA_ACPI=y
CONFIG_HAVE_HARDLOCKUP_DETECTOR_PERF=y
CONFIG_REGULATOR_MC13892=y
CONFIG_NLS_MAC_CYRILLIC=y
CONFIG_ALIM7101_WDT=y
CONFIG_BUG_ON_DATA_CORRUPTION=y
CONFIG_MICROCODE_DBG=y
CONFIG_REGULATOR_AXP20X=y
CONFIG_SENSORS_K8TEMP=y
CONFIG_USB_NET_QMI_WWAN=y
CONFIG_SENSORS_PECI_DIMMTEMP=y
CONFIG_SENSORS_MAX31730=y
CONFIG_MEEGOPAD_ANX7428=y
CONFIG_NFC_S3FWRN5_I2C=y
CONFIG_PINCTRL_MCP23S08_I2C=y
CONFIG_USB_LCD=y
CONFIG_BATTERY_BQ27XXX_I2C=y
CONFIG_CHARGER_SBS=y
CONFIG_X86_VERBOSE_BOOTUP=y
CONFIG_IA32_FEAT_CTL=y
CONFIG_TELCLOCK=y
CONFIG_BCMA_DRIVER_PCI=y
CONFIG_EXTCON_MAX14526=y
CONFIG_TRACE_CLOCK=y
CONFIG_CHELSIO_T1_1G=y
CONFIG_USB_EG20T=y
CONFIG_DEBUG_OBJECTS_SELFTEST=y
CONFIG_COMMON_CLK_TPS68470=y
CONFIG_USB_SERIAL_QT2=y
CONFIG_DECOMPRESS_LZO=y
CONFIG_MFD_KEMPLD=y
CONFIG_CC_HAS_SANE_FUNCTION_ALIGNMENT=y
CONFIG_CPU_SUP_HYGON=y
CONFIG_SPEAKUP_SYNTH_DECTLK=y
CONFIG_TIMB_DMA=y
CONFIG_STPMIC1_WATCHDOG=y
CONFIG_STMMAC_PLATFORM=y
CONFIG_LEDS_NCP5623=y
CONFIG_SENSORS_PROM21_XHCI=y
CONFIG_USER_STACKTRACE_SUPPORT=y
CONFIG_RTC_DRV_RV3028=y
CONFIG_TCG_NSC=y
CONFIG_MFD_TPS65218=y
CONFIG_MEMSTICK_TIFM_MS=y
CONFIG_ARCH_MIGHT_HAVE_PC_SERIO=y
CONFIG_USER_RETURN_NOTIFIER=y
CONFIG_SERIAL_CORE=y
CONFIG_MDIO_BUS_MUX=y
CONFIG_LEDS_ST1202=y
CONFIG_PECI=y
CONFIG_ZSTD_DECOMPRESS=y
CONFIG_RING_BUFFER=y
CONFIG_USB_EHCI_HCD=y
CONFIG_DEBUG_ENTRY=y
CONFIG_DW_DMAC_CORE=y
CONFIG_MFD_CS42L43_I2C=y
CONFIG_HAVE_KERNEL_GZIP=y
CONFIG_KEYBOARD_ADP5588=y
CONFIG_HAVE_TRUSTED_KEYS=y
CONFIG_NET_VENDOR_WIZNET=y
CONFIG_USBIP_CORE=y
CONFIG_USB_G_DBGP=y
CONFIG_HW_RANDOM_BA431=y
CONFIG_TMPFS_POSIX_ACL=y
CONFIG_X86_REQUIRED_FEATURE_UP=y
CONFIG_REGULATOR_LTC3589=y
CONFIG_HAVE_ASM_MODVERSIONS=y
CONFIG_SENSORS_TMP102=y
CONFIG_RTC_DRV_DS1374=y
CONFIG_LEDS_OSRAM_AMS_AS3668=y
CONFIG_GENERIC_ISA_DMA=y
CONFIG_GENERIC_CMOS_UPDATE=y
CONFIG_X86_DISABLED_FEATURE_UNRET=y
CONFIG_VGA_CONSOLE=y
CONFIG_INTEL_TCC=y
CONFIG_SERIAL_SIFIVE_CONSOLE=y
CONFIG_LEDS_AN30259A=y
CONFIG_I2C_BOARDINFO=y
CONFIG_FRAME_POINTER=y
CONFIG_ISA_DMA_API=y
CONFIG_THERMAL_EMULATION=y
CONFIG_DIMLIB=y
CONFIG_HAVE_PAGE_SIZE_4KB=y
CONFIG_ARCH_STACKWALK=y
CONFIG_CC_HAS_IBT=y
CONFIG_SPEAKUP_SYNTH_BNS=y
CONFIG_BATTERY_SAMSUNG_SDI=y
CONFIG_GRO_CELLS=y
CONFIG_CC_NO_STRINGOP_OVERFLOW=y
CONFIG_HAVE_GCC_PLUGINS=y
CONFIG_HAVE_EFFICIENT_UNALIGNED_ACCESS=y
CONFIG_OPEN_DICE=y
CONFIG_THERMAL_HWMON=y
CONFIG_VETH=y
CONFIG_X86_32=y
CONFIG_PAGE_SIZE_4KB=y
CONFIG_HARDLOCKUP_DETECTOR_COUNTS_HRTIMER=y
CONFIG_NET_VENDOR_FUNGIBLE=y
CONFIG_ARCH_SUPPORTS_CRASH_HOTPLUG=y
CONFIG_MLXFW=y
CONFIG_INPUT_SPARSEKMAP=y
CONFIG_NLMON=y
CONFIG_ANDROID_BINDER_IPC=y
CONFIG_MFD_TI_LP87565=y
CONFIG_X86_ALIGNMENT_16=y
CONFIG_PM_DEVFREQ_EVENT=y
CONFIG_SENSORS_MAX6621=y
CONFIG_USB_F_OBEX=y
CONFIG_REALTEK_PHY=y
CONFIG_USB_SERIAL_OMNINET=y
CONFIG_GPIO_GRANITERAPIDS=y
CONFIG_RCU_STALL_COMMON=y
CONFIG_NETFILTER=y
CONFIG_PPS=y
CONFIG_PCI_BIOS=y
CONFIG_HAVE_MIXED_BREAKPOINTS_REGS=y
CONFIG_MFD_MAX7360=y
CONFIG_SENSORS_LM95241=y
CONFIG_HAVE_ARCH_SECCOMP=y
CONFIG_X86_ANCIENT_MCE=y
CONFIG_LEDS_TRIGGER_NETDEV=y
CONFIG_HAVE_KERNEL_BZIP2=y
CONFIG_PCI_PWRCTRL=y
CONFIG_INTEL_PCH_THERMAL=y
CONFIG_REGULATOR_TPS51632=y
CONFIG_SSB_SPROM=y
CONFIG_USB_BDC_UDC=y
CONFIG_USB_CONFIGFS_EEM=y
CONFIG_SENSORS_W83627EHF=y
CONFIG_OVERLAY_FS=y
CONFIG_CEC_CH7322=y
CONFIG_EXTCON_PTN5150=y
CONFIG_FB=y
CONFIG_SERIAL_8250=y
CONFIG_GPIO_VIPERBOARD=y
CONFIG_CDNS_I3C_MASTER=y
CONFIG_ARCH_SUPPORTS_RT=y
CONFIG_X86_MCELOG_LEGACY=y
CONFIG_HSU_DMA=y
CONFIG_X86_DISABLED_FEATURE_SEV_SNP=y
CONFIG_SKFP=y
CONFIG_RTC_DRV_DS17885=y
CONFIG_USB_USBNET=y
CONFIG_OF_FLATTREE=y
CONFIG_KEYBOARD_MAX7359=y
CONFIG_PHY_CAN_TRANSCEIVER=y
CONFIG_REGULATOR_RK808=y
CONFIG_MHI_WWAN_CTRL=y
CONFIG_TCG_TPM=y
CONFIG_MFD_SYSCON=y
CONFIG_CLK_TWL6040=y
CONFIG_SENSORS_PECI=y
CONFIG_USB_SERIAL_WHITEHEAT=y
CONFIG_USB_DWC2=y
CONFIG_SERIAL_SPRD_CONSOLE=y
CONFIG_HAVE_CLK_PREPARE=y
CONFIG_REGMAP_W1=y
CONFIG_USB_ETH=y
CONFIG_CRYPTO_ECDH=y
CONFIG_USB_ISP116X_HCD=y
CONFIG_ARCH_MAY_HAVE_PC_FDC=y
CONFIG_MFD_DLN2=y
CONFIG_VT_HW_CONSOLE_BINDING=y
CONFIG_MFD_MAX77620=y
CONFIG_SENSORS_MAX6697=y
CONFIG_REGULATOR_RN5T618=y
CONFIG_I2C_CBUS_GPIO=y
CONFIG_LEDS_BD2802=y
CONFIG_NET_9P_DEBUG=y
CONFIG_DP83822_PHY=y
CONFIG_USB_LJCA=y
CONFIG_IGB_HWMON=y
CONFIG_HRTIMER_REARM_DEFERRED=y
CONFIG_NLS_ISO8859_15=y
CONFIG_SENSORS_K10TEMP=y
CONFIG_TULIP_MMIO=y
CONFIG_USB_CDNS_SUPPORT=y
CONFIG_KPROBES_ON_FTRACE=y
CONFIG_FIREWIRE_NOSY=y
CONFIG_60XX_WDT=y
CONFIG_LEDS_TCA6507=y
CONFIG_LEDS_APU=y
CONFIG_GPIB_HP82341=y
CONFIG_USB_LEGOTOWER=y
CONFIG_KEYBOARD_ADP5585=y
CONFIG_NET_INGRESS=y
CONFIG_GPIO_DWAPB=y
CONFIG_HAVE_CMPXCHG_LOCAL=y
CONFIG_FB_RADEON_I2C=y
CONFIG_CADENCE_WATCHDOG=y
CONFIG_SAMSUNG_Q10=y
CONFIG_ACPI_IPMI=y
CONFIG_SERIAL_8250_DMA=y
CONFIG_DAVICOM_PHY=y
CONFIG_PCIE_DPC=y
CONFIG_PANEL=y
CONFIG_USB_F_SS_LB=y
CONFIG_BPF_UNPRIV_DEFAULT_OFF=y
CONFIG_DEBUG_ATOMIC_SLEEP=y
CONFIG_FB_SYS_COPYAREA=y
CONFIG_LEDS_DA903X=y
CONFIG_TRACE_IRQFLAGS_SUPPORT=y
CONFIG_HAVE_ATOMIC_IOMAP=y
CONFIG_PINCTRL_MCP23S08=y
CONFIG_MFD_MC13XXX=y
CONFIG_BACKLIGHT_MAX25014=y
CONFIG_USB_SERIAL_QCAUX=y
CONFIG_BCMA_DRIVER_GMAC_CMN=y
CONFIG_GPIO_TWL4030=y
CONFIG_REGULATOR_NETLINK_EVENTS=y
CONFIG_MEMSTICK_UNSAFE_RESUME=y
CONFIG_CEC_PIN_ERROR_INJ=y
CONFIG_INPUT=y
CONFIG_GPIO_JANZ_TTL=y
CONFIG_USB_CONFIGFS_ECM_SUBSET=y
CONFIG_SERIAL_8250_CS=y
CONFIG_XILINX_INTC=y
CONFIG_LIBETH_XDP=y
CONFIG_RUSTC_HAS_SPAN_FILE=y
CONFIG_GENERIC_STRNLEN_USER=y
CONFIG_PCI_HOST_GENERIC=y
CONFIG_DMADEVICES_DEBUG=y
CONFIG_DEVFREQ_GOV_PASSIVE=y
CONFIG_VMLINUX_MAP=y
CONFIG_NTB_SWITCHTEC=y
CONFIG_PERF_EVENTS=y
CONFIG_PINCTRL_INTEL_PLATFORM=y
CONFIG_EPIC100=y
CONFIG_USB_SERIAL_TI=y
CONFIG_PM_ADVANCED_DEBUG=y
CONFIG_GPIB_NI_PCI_ISA=y
CONFIG_CHARGER_BQ24190=y
CONFIG_ALTERA_MBOX=y
CONFIG_POWER_SEQUENCING=y
CONFIG_LEDS_BLINKM_MULTICOLOR=y
CONFIG_NETDEVICES=y
CONFIG_ARCH_HAS_ACPI_TABLE_UPGRADE=y
CONFIG_PSAMPLE=y
CONFIG_X86_MCE_INTEL=y
CONFIG_DEBUG_VM_MAPLE_TREE=y
CONFIG_CRYPTO_SERPENT_SSE2_586=y
CONFIG_DEBUG_OBJECTS=y
CONFIG_FS_ENCRYPTION=y
CONFIG_GPIO_AMD_FCH=y
CONFIG_MFD_TIMBERDALE=y
CONFIG_ARCH_HAS_CPU_RELAX=y
CONFIG_X86_BUS_LOCK_DETECT=y
CONFIG_REGULATOR_VIRTUAL_CONSUMER=y
CONFIG_HAVE_PCI=y
CONFIG_X86_IO_APIC=y
CONFIG_WATCHDOG_NOWAYOUT=y
CONFIG_MFD_CORE=y
CONFIG_PINCTRL_ICELAKE=y
CONFIG_LRU_GEN_WALKS_MMU=y
CONFIG_REGULATOR_PF0900=y
CONFIG_EXPORTFS=y
CONFIG_DEBUG_OBJECTS_TIMERS=y
CONFIG_GPIO_ACPI=y
CONFIG_IPMI_DEVICE_INTERFACE=y
CONFIG_CXL_MEM=y
CONFIG_PMIC_OPREGION=y
CONFIG_USB_SERIAL_MCT_U232=y
CONFIG_BATTERY_GAUGE_LTC2941=y
CONFIG_MICROCODE=y
CONFIG_SIEMENS_SIMATIC_IPC_BATT=y
CONFIG_VIRTIO=y
CONFIG_REGULATOR_SY8827N=y
CONFIG_SENSORS_ATXP1=y
CONFIG_ALIM1535_WDT=y
CONFIG_USB_DWC3_PCI=y
CONFIG_WDTPCI=y
CONFIG_NFC_NXP_NCI=y
CONFIG_GNSS_UBX_SERIAL=y
CONFIG_HWSPINLOCK=y
CONFIG_ACPI_TABLE_UPGRADE=y
CONFIG_GPIO_MAX7300=y
CONFIG_RD_GZIP=y
CONFIG_CRYPTO_AKCIPHER=y
CONFIG_NLS_ISO8859_3=y
CONFIG_SENSORS_AD7414=y
CONFIG_USB_MDC800=y
CONFIG_POWER_RESET=y
CONFIG_USB_ISP1761_UDC=y
CONFIG_ADV_SWBUTTON=y
CONFIG_HAVE_KVM_PFNCACHE=y
CONFIG_LEDS_S2M_FLASH=y
CONFIG_CRYPTO_ECB=y
CONFIG_TASKS_TRACE_RCU=y
CONFIG_USB_NET_GL620A=y
CONFIG_SERIO_ALTERA_PS2=y
CONFIG_FB_VESA=y
CONFIG_OVERLAY_FS_REDIRECT_ALWAYS_FOLLOW=y
CONFIG_HINIC=y
CONFIG_MFD_ATMEL_HLCDC=y
CONFIG_VFIO_VIRQFD=y
CONFIG_ASSOCIATIVE_ARRAY=y
CONFIG_SENSORS_LM83=y
CONFIG_MII=y
CONFIG_MODULES_USE_ELF_REL=y
CONFIG_TRACE_IRQFLAGS_NMI=y
CONFIG_IGB=y
