CONFIG_SYSC_R8A77980=n
CONFIG_CLK_RENESAS_CPG_MSSR=n
CONFIG_SERIAL_FSL_LPUART_CONSOLE=n
CONFIG_PCI_PWRCTRL_PWRSEQ=n
CONFIG_IO_URING_BPF=n
CONFIG_COMMON_CLK_IPROC=n
CONFIG_SND_SOC_TLV320AIC31XX=n
CONFIG_FSL_DPAA_ETH=n
CONFIG_PINCTRL_SM8650_LPASS_LPI=n
CONFIG_MVEBU_ICU=n
CONFIG_MWIFIEX_PCIE=n
CONFIG_COMPAT_BINFMT_ELF=n
CONFIG_PCIE_ROCKCHIP_HOST=n
CONFIG_ARCH_ENABLE_MEMORY_HOTPLUG=n
CONFIG_COMMON_CLK_APPLE_NCO=n
CONFIG_BLK_DEV_BSG_COMMON=n
CONFIG_COMMON_CLK_MT8195_VDECSYS=n
CONFIG_SND_SOC_RT5682=n
CONFIG_CRYPTO_USER_API=n
CONFIG_CLK_RZV2H=n
CONFIG_NET_RX_BUSY_POLL=n
CONFIG_HAVE_ARCH_KFENCE=n
CONFIG_TYPEC_MUX_PS883X=n
CONFIG_BT_HCIUART_H4=n
CONFIG_SND_SOC_WCD938X_SDW=n
CONFIG_CLK_ELIZA_TCSRCC=n
CONFIG_ARCH_RCAR_GEN4=n
CONFIG_USB_EHCI_EXYNOS=n
CONFIG_KEYBOARD_GPIO=n
CONFIG_SCSI_UFS_TI_J721E=n
CONFIG_ROCKCHIP_ANALOGIX_DP=n
CONFIG_I2C_HID_CORE=n
CONFIG_EXYNOS_ADC=n
CONFIG_I2C_HID_ACPI=n
CONFIG_SND_SOC_RT1015P=n
CONFIG_CAN_BCM=n
CONFIG_RC_CORE=n
CONFIG_NVMEM_APPLE_EFUSES=n
CONFIG_PCIE_ROCKCHIP_DW_HOST=n
CONFIG_CRYPTO_DEV_QCE_AEAD=n
CONFIG_DRM_FBDEV_EMULATION=n
CONFIG_COMMON_CLK_C3_PERIPHERALS=n
CONFIG_USB_NET_AX88179_178A=n
CONFIG_IPQ_GCC_8074=n
CONFIG_BLK_DEV=n
CONFIG_NET_SOCK_MSG=n
CONFIG_PINCTRL_NORD=n
CONFIG_USB_SNP_UDC_PLAT=n
CONFIG_PCI_J721E=n
CONFIG_SND_HDA_CORE=n
CONFIG_ARM_PSCI_CPUIDLE=n
CONFIG_DRM_PANEL_TRULY_NT35597_WQXGA=n
CONFIG_ARM_SCMI_POWER_DOMAIN=n
CONFIG_IO_WQ=n
CONFIG_ARM64_ERRATUM_824069=n
CONFIG_SUN50I_ERRATUM_UNKNOWN1=n
CONFIG_HNS_MDIO=n
CONFIG_HW_RANDOM_HISTB=n
CONFIG_ARCH_RCAR_GEN3=n
CONFIG_EXT4_USE_FOR_EXT2=n
CONFIG_DECOMPRESS_ZSTD=n
CONFIG_FW_CACHE=n
CONFIG_NVMEM_UNIPHIER_EFUSE=n
CONFIG_HAVE_GIGANTIC_FOLIOS=n
CONFIG_PINCTRL_IPQ5018=n
CONFIG_NUMA_MIGRATION=n
CONFIG_ARM_AMBA=n
CONFIG_LOCKD=n
CONFIG_USB_XHCI_PCI=n
CONFIG_XLNX_EVENT_MANAGER=n
CONFIG_AMPERE_ERRATUM_AC03_CPU_38=n
CONFIG_COMMON_CLK_SAMSUNG=n
CONFIG_PINCTRL_IPQ9650=n
CONFIG_SUN50I_H616_CCU=n
CONFIG_MUX_GPIO=n
CONFIG_SND_SOC_IMX_SGTL5000=n
CONFIG_SPI_DESIGNWARE=n
CONFIG_GPIO_ZYNQ=n
CONFIG_SYSVIPC_SYSCTL=n
CONFIG_HAVE_ASM_MODVERSIONS=n
CONFIG_QCOM_PMIC_GLINK=n
CONFIG_DRM_HDLCD=n
CONFIG_CLK_ELIZA_DISPCC=n
CONFIG_MLX5_EN_RXNFC=n
CONFIG_MMU_GATHER_RCU_TABLE_FREE=n
CONFIG_ACPI_PCC=n
CONFIG_APPLE_MAILBOX=n
CONFIG_USB_XHCI_HCD=n
CONFIG_HAVE_SAMPLE_FTRACE_DIRECT=n
CONFIG_IMX_SCMI_CPU_EXT=n
CONFIG_HW_RANDOM_HISI_TRNG=n
CONFIG_SLAB_OBJ_EXT=n
CONFIG_BT_HCIUART_BCM=n
CONFIG_REGULATOR_MT6357=n
CONFIG_CAN_RAW=n
CONFIG_ARM_ALLWINNER_SUN50I_CPUFREQ_NVMEM=n
CONFIG_COMMON_CLK_MT8186_MCUSYS=n
CONFIG_COMMON_CLK_MT8365_MMSYS=n
CONFIG_HID=n
CONFIG_SERIAL_TEGRA_TCU_CONSOLE=n
CONFIG_ARM64_SVE=n
CONFIG_REGULATOR_LP873X=n
CONFIG_QCOM_UBWC_CONFIG=n
CONFIG_HTE_TEGRA194=n
CONFIG_PWM_CROS_EC=n
CONFIG_SSB_POSSIBLE=n
CONFIG_MESON_IRQ_GPIO=n
CONFIG_SERIAL_8250_CONSOLE=n
CONFIG_VT=n
CONFIG_PCIE_QCOM=n
CONFIG_VLAN_8021Q=n
CONFIG_INTERCONNECT_QCOM_SMD_RPM=n
CONFIG_PCIE_ALTERA_MSI=n
CONFIG_DMADEVICES=n
CONFIG_CORESIGHT_SINK_TPIU=n
CONFIG_SM_DISPCC_8750=n
CONFIG_REGULATOR=n
CONFIG_PINCTRL_RTD1315E=n
CONFIG_SUN50I_A100_R_CCU=n
CONFIG_QCOM_RMTFS_MEM=n
CONFIG_HW_RANDOM_BCM2835=n
CONFIG_USB_BELKIN=n
CONFIG_COMMON_CLK_XGENE=n
CONFIG_SND_SOC_LPASS_CDC_DMA=n
CONFIG_NEED_PER_CPU_PAGE_FIRST_CHUNK=n
CONFIG_XZ_DEC_ARM64=n
CONFIG_VFIO_PCI_CORE=n
CONFIG_INPUT_HISI_POWERKEY=n
CONFIG_THERMAL_HWMON=n
CONFIG_ARM64_ERRATUM_858921=n
CONFIG_PHY_RCAR_GEN3_USB2=n
CONFIG_LTO_NONE=n
CONFIG_COMMON_CLK_MT8192_IMP_IIC_WRAP=n
CONFIG_TI_K3_M4_REMOTEPROC=n
CONFIG_IIO_STM32_TIMER_TRIGGER=n
CONFIG_PHY_ROCKCHIP_INNO_DSIDPHY=n
CONFIG_GENERIC_CPU_AUTOPROBE=n
CONFIG_DT_IDLE_GENPD=n
CONFIG_PCI_PWRCTRL=n
CONFIG_SND_SOC_FSL_ASRC=n
CONFIG_COMMON_CLK_MT7981_ETHSYS=n
CONFIG_DRM_IMX8MP_DW_HDMI_BRIDGE=n
CONFIG_ARM_SCPI_POWER_DOMAIN=n
CONFIG_CLK_X1P42100_GPUCC=n
CONFIG_COMMON_CLK_MT7622=n
CONFIG_PHY_MESON_G12A_USB3_PCIE=n
CONFIG_COMMON_CLK_MT8186_MDPSYS=n
CONFIG_FSL_ENETC_QOS=n
CONFIG_FPGA_MGR_ZYNQMP_FPGA=n
CONFIG_SND_SOC_SOF_OF=n
CONFIG_RAID6_PQ_BENCHMARK=n
CONFIG_INTERCONNECT_QCOM_RPMH_POSSIBLE=n
CONFIG_DWMAC_RENESAS_GBETH=n
CONFIG_RSI_DEBUGFS=n
CONFIG_NET_FAILOVER=n
CONFIG_SND_SOC_MT8183=n
CONFIG_HAVE_IRQ_TIME_ACCOUNTING=n
CONFIG_RESET_NUVOTON_MA35D1=n
CONFIG_SND_JACK_INPUT_DEV=n
CONFIG_USB_OHCI_LITTLE_ENDIAN=n
CONFIG_MLX5_ESWITCH=n
CONFIG_PNFS_FLEXFILE_LAYOUT=n
CONFIG_ARCH_HAS_ELF_RANDOMIZE=n
CONFIG_REGULATOR_VCTRL=n
CONFIG_QCOM_MDT_LOADER=n
CONFIG_CRYPTO_HW=n
CONFIG_USB_EHCI_HCD_ORION=n
CONFIG_SDR_PLATFORM_DRIVERS=n
CONFIG_DRM_MXSFB=n
CONFIG_VIDEO_HANTRO_STM32MP25=n
CONFIG_ARCH_R8A774A1=n
CONFIG_DRM_EXYNOS_DSI=n
CONFIG_CROS_EC_UCSI=n
CONFIG_USB_DWC3_HAPS=n
CONFIG_INTERCONNECT_QCOM_QCS8300=n
CONFIG_PINCTRL_SM8250=n
CONFIG_ACPI_APEI_SEA=n
CONFIG_IPQ_GCC_9574=n
CONFIG_COMMON_CLK_PWM=n
CONFIG_ATH11K=n
CONFIG_MFD_RK8XX_SPI=n
CONFIG_SND_SOC_LPASS_WSA_MACRO=n
CONFIG_IRQ_FORCED_THREADING=n
CONFIG_BUILDTIME_TABLE_SORT=n
CONFIG_INPUT_TPS65219_PWRBUTTON=n
CONFIG_RTC_DRV_RTD119X=n
CONFIG_NVMEM_IMX_OCOTP_SCU=n
CONFIG_SA_GCC_8775P=n
CONFIG_CRC_CCITT=n
CONFIG_DMA_SUN6I=n
CONFIG_QCOM_EBI2=n
CONFIG_VFIO_VIRQFD=n
CONFIG_USB_XHCI_MTK=n
CONFIG_EFI_ESRT=n
CONFIG_USB_DWC2=n
CONFIG_I2C_SLAVE=n
CONFIG_POLARFIRE_SOC_IRQ_MUX=n
CONFIG_ARM_SCMI_PERF_DOMAIN=n
CONFIG_TI_K3_UDMA=n
CONFIG_IP_PNP_BOOTP=n
CONFIG_ARM_RASPBERRYPI_CPUFREQ=n
CONFIG_MST_IRQ=n
CONFIG_PINCTRL_MT6795=n
CONFIG_DRM_PANEL_HIMAX_HX83112A=n
CONFIG_DRM_IMX8MP_HDMI_PVI=n
CONFIG_CRYPTO=n
CONFIG_BT_HCIUART=n
CONFIG_DRM_TTM=n
CONFIG_COMMON_CLK_MT8188_IPESYS=n
CONFIG_ARCH_BINFMT_ELF_EXTRA_PHDRS=n
CONFIG_CRYPTO_LIB_AES=n
CONFIG_SND_SOC_MEDIATEK=n
CONFIG_COMMON_CLK_VC3=n
CONFIG_USB_CONFIGFS_ACM=n
CONFIG_SCHED_CLUSTER=n
CONFIG_IKCONFIG_PROC=n
CONFIG_HISILICON_ERRATUM_162100801=n
CONFIG_EFI_PARAMS_FROM_FDT=n
CONFIG_DRM_LIMA=n
CONFIG_COMMON_CLK_MT8186_VDECSYS=n
CONFIG_DW_APB_ICTL=n
CONFIG_CRYPTO_DEV_AMLOGIC_GXL=n
CONFIG_INTERCONNECT_QCOM_RPMH=n
CONFIG_TICK_ONESHOT=n
CONFIG_ARCH_HAS_SET_DIRECT_MAP=n
CONFIG_HAVE_KCSAN_COMPILER=n
CONFIG_QCOM_FALKOR_ERRATUM_1003=n
CONFIG_RPMSG_CHAR=n
CONFIG_COMMON_CLK_MT8183_IPU_CORE0=n
CONFIG_CRC_ITU_T=n
CONFIG_SND_MESON_CODEC_GLUE=n
CONFIG_NET_9P_VIRTIO=n
CONFIG_ZONE_DMA32=n
CONFIG_DRM_THINE_THC63LVD1024=n
CONFIG_LEDS_CLASS_FLASH=n
CONFIG_EXTCON_USB_GPIO=n
CONFIG_SPI_BCM2835=n
CONFIG_ARCH_HAS_SET_MEMORY=n
CONFIG_QCS_GCC_8300=n
CONFIG_MMC_SDHCI_PLTFM=n
CONFIG_QCM_GCC_2290=n
CONFIG_WLCORE=n
CONFIG_ARM_IMX8M_DDRC_DEVFREQ=n
CONFIG_PHY_QCOM_QMP_PCIE_8996=n
CONFIG_SPI_MTK_NOR=n
CONFIG_CRYPTO_AEAD2=n
CONFIG_SND_SIMPLE_CARD=n
CONFIG_CLK_RK3576=n
CONFIG_GCC_SUPPORTS_DYNAMIC_FTRACE_WITH_ARGS=n
CONFIG_SM_GCC_8350=n
CONFIG_NFS_COMMON=n
CONFIG_NET_CLS_BASIC=n
CONFIG_OPTEE=n
CONFIG_B53=n
CONFIG_ARCH_TEGRA_186_SOC=n
CONFIG_PHY_SAMSUNG_USB2=n
CONFIG_BSD_PROCESS_ACCT=n
CONFIG_SPRD_SC9863A_CLK=n
CONFIG_SND_SOC_GTM601=n
CONFIG_DRM_RCAR_DW_HDMI=n
CONFIG_SND_SOC_WCD9335=n
CONFIG_ACPI_CONTAINER=n
CONFIG_MTD_SST25L=n
CONFIG_WLAN_VENDOR_INTERSIL=n
CONFIG_STM32MP_EXTI=n
CONFIG_CRYPTO_LIB_SHA1_ARCH=n
CONFIG_FB_DEFERRED_IO=n
CONFIG_STAGING=n
CONFIG_HDMI=n
CONFIG_WL18XX=n
CONFIG_ARM_ARCH_TIMER_EVTSTREAM=n
CONFIG_DRM_DW_HDMI_I2S_AUDIO=n
CONFIG_LEDS_QCOM_FLASH=n
CONFIG_CLK_X1P42100_CAMCC=n
CONFIG_TYPEC_DP_ALTMODE=n
CONFIG_XEN_SCRUB_PAGES_DEFAULT=n
CONFIG_SND_SOC_TI_EDMA_PCM=n
CONFIG_DRM_V3D=n
CONFIG_WATCHDOG_CORE=n
CONFIG_LOCKDEP_SUPPORT=n
CONFIG_ATA=n
CONFIG_EXYNOS_PMU=n
CONFIG_HAVE_CLK_PREPARE=n
CONFIG_PINCTRL_MSM8953=n
CONFIG_ARCH_HAS_BATCHED_DMA_SYNC=n
CONFIG_NET_DEVLINK=n
CONFIG_PHYLINK=n
CONFIG_CLK_RK3368=n
CONFIG_PCI_AARDVARK=n
CONFIG_RPMSG_QCOM_SMD=n
CONFIG_IRQ_TIME_ACCOUNTING=n
CONFIG_HAVE_MOVE_PUD=n
CONFIG_ACPI_BUTTON=n
CONFIG_CFG80211_CRDA_SUPPORT=n
CONFIG_DWMAC_IMX8=n
CONFIG_RTSN=n
CONFIG_ARCH_WANTS_THP_SWAP=n
CONFIG_PCI_HOST_THUNDER_ECAM=n
CONFIG_DRM_KOMEDA=n
CONFIG_CLK_R9A08G046=n
