CONFIG_SERIAL_SAMSUNG=y
CONFIG_CB710_DEBUG_ASSUMPTIONS=y
CONFIG_COMMON_CLK_MT7622=y
CONFIG_LEDS_CLASS=y
CONFIG_CRC32=y
CONFIG_BACKLIGHT_PWM=y
CONFIG_ENS210=y
CONFIG_HAVE_KPROBES_ON_FTRACE=y
CONFIG_EXYNOS_REGULATOR_COUPLER=y
CONFIG_CPU_SUP_CENTAUR=y
CONFIG_HAVE_HW_BREAKPOINT=y
CONFIG_PINCTRL_PFC_R8A77990=y
CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE=y
CONFIG_AFE4404=y
CONFIG_KEXEC_CORE=y
CONFIG_BACKLIGHT_DA903X=y
CONFIG_I2C_SPRD=y
CONFIG_MFD_DA9062=y
CONFIG_INTEL_TH_GTH=y
CONFIG_FWCTL=y
CONFIG_RPMSG_VIRTIO=y
CONFIG_REGULATOR_RT4803=y
CONFIG_FSL_DPAA=y
CONFIG_GPIO_XILINX=y
CONFIG_PAHOLE_HAS_LANG_EXCLUDE=y
CONFIG_GENERIC_STRNLEN_USER=y
CONFIG_MFD_MT6397=y
CONFIG_ARCH_WANT_IRQS_OFF_ACTIVATE_MM=y
CONFIG_ARCH_WANTS_DYNAMIC_TASK_STRUCT=y
CONFIG_CRYPTO_TWOFISH_COMMON=y
CONFIG_FXOS8700_SPI=y
CONFIG_HAVE_CMPXCHG_LOCAL=y
CONFIG_ARCH_HAS_KCOV=y
CONFIG_HAVE_POSIX_CPU_TIMERS_TASK_WORK=y
CONFIG_MTK_SOCINFO=y
CONFIG_HP206C=y
CONFIG_PWM_DWC=y
CONFIG_DA9063_WATCHDOG=y
CONFIG_HAVE_PCI=y
CONFIG_X86_MCE=y
CONFIG_CC_HAS_KASAN_GENERIC=y
CONFIG_JOYSTICK_SEESAW=y
CONFIG_HAVE_PREEMPT_DYNAMIC=y
CONFIG_MFD_DA9150=y
CONFIG_LEDS_QNAP_MCU=y
CONFIG_GPIO_PISOSR=y
CONFIG_REGULATOR_WM8994=y
CONFIG_SPI_BITBANG=y
CONFIG_MHP_MEMMAP_ON_MEMORY=y
CONFIG_PHY_INTEL_LGM_EMMC=y
CONFIG_MLX90632=y
CONFIG_HW_RANDOM_INTEL=y
CONFIG_XILINX_WINDOW_WATCHDOG=y
CONFIG_GENERIC_PCI_IOMAP=y
CONFIG_SPI_IMX=y
CONFIG_INTERRUPT_CNT=y
CONFIG_COMEDI_PCI_DRIVERS=y
CONFIG_IOMMU_DEFAULT_DMA_STRICT=y
CONFIG_VCNL3020=y
CONFIG_LEDS_TLC591XX=y
CONFIG_COMMON_CLK_MT8167_VDECSYS=y
CONFIG_I2C_ALI1563=y
CONFIG_DEV_DAX=y
CONFIG_MISC_ALCOR_PCI=y
CONFIG_TEGRA_WATCHDOG=y
CONFIG_RAPIDIO_TSI721=y
CONFIG_ARCH_SUPPORTS_KMAP_LOCAL_FORCE_MAP=y
CONFIG_RCU_NEED_SEGCBLIST=y
CONFIG_MCP4922=y
CONFIG_HAVE_ARCH_SOFT_DIRTY=y
CONFIG_EVENTFD=y
CONFIG_ZSTD_COMPRESS=y
CONFIG_TOUCHSCREEN_IQS5XX=y
CONFIG_GLOB=y
CONFIG_NEW_LEDS=y
CONFIG_PINCTRL_LPASS_LPI=y
CONFIG_CC_NO_STRINGOP_OVERFLOW=y
CONFIG_SOPHGO_CV1800B_ADC=y
CONFIG_GPIOLIB_LEGACY=y
CONFIG_LTC1660=y
CONFIG_LEDS_PCA995X=y
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE=y
CONFIG_PHY_DA8XX_USB=y
CONFIG_LPC_SCH=y
CONFIG_MFD_INTEL_M10_BMC_PMCI=y
CONFIG_LEDS_WM831X_STATUS=y
CONFIG_JOYSTICK_IFORCE=y
CONFIG_I2C_SYNQUACER=y
CONFIG_PHY_MT7621_PCI=y
CONFIG_DEBUG_RODATA_TEST=y
CONFIG_DMADEVICES=y
CONFIG_NLS_CODEPAGE_855=y
CONFIG_HAVE_PERF_EVENTS_NMI=y
CONFIG_CROS_EC_SPI=y
CONFIG_PGTABLE_HAS_HUGE_LEAVES=y
CONFIG_ADXL313_I2C=y
CONFIG_MFD_MX25_TSADC=y
CONFIG_NVMEM_NINTENDO_OTP=y
CONFIG_REGULATOR_S2MPA01=y
CONFIG_COMEDI_ADL_PCI6208=y
CONFIG_COMMON_CLK_MT7988=y
CONFIG_HAVE_LIVEPATCH=y
CONFIG_WANT_DEV_COREDUMP=y
CONFIG_CGROUPS=y
CONFIG_SPI_AT91_USART=y
CONFIG_MTD_NAND_ECC_REALTEK=y
CONFIG_KEYBOARD_MAX7359=y
CONFIG_PINCTRL_TEGRA238=y
CONFIG_SPEAR_ADC=y
CONFIG_HAVE_FUNCTION_TRACER=y
CONFIG_RESET_STARFIVE_JH7100=y
CONFIG_MTD_NAND_GPIO=y
CONFIG_JH71XX_PMU=y
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST_IDLE=y
CONFIG_MAX44009=y
CONFIG_RCAR_MFIS=y
CONFIG_CRYPTO_SHA3=y
CONFIG_PM_SLEEP_DEBUG=y
CONFIG_MOUSE_ELAN_I2C=y
CONFIG_PCI_IMX6_HOST=y
CONFIG_PWM_LP3943=y
CONFIG_AD9739A=y
CONFIG_CPA_DEBUG=y
CONFIG_MTD_MAP_BANK_WIDTH_16=y
CONFIG_CRYPTO_HW=y
CONFIG_REGULATOR_RTMV20=y
CONFIG_AD7606_IFACE_SPI=y
CONFIG_VFIO_PCI_CORE=y
CONFIG_CRYPTO_CBC=y
CONFIG_STM32_DFSDM_CORE=y
CONFIG_PWM_SUN4I=y
CONFIG_ARCH_HAS_MEM_ENCRYPT=y
CONFIG_MFD_INTEL_LPSS=y
CONFIG_GPIO_MAX732X_IRQ=y
CONFIG_AD8460=y
CONFIG_LEDS_PCA955X_GPIO=y
CONFIG_HAVE_KERNEL_XZ=y
CONFIG_BME680=y
CONFIG_SUN55I_A523_R_CCU=y
CONFIG_REGULATOR_MAX77838=y
CONFIG_ARM_SCMI_HAVE_TRANSPORT=y
CONFIG_QCOM_PM8XXX_XOADC=y
CONFIG_X86_REQUIRED_FEATURE_FXSR=y
CONFIG_HAVE_PREEMPT_DYNAMIC_CALL=y
CONFIG_DEBUG_LOCK_ALLOC=y
CONFIG_SPI_ZYNQMP_GQSPI=y
CONFIG_QUOTA=y
CONFIG_I2C_LS2X_V2=y
CONFIG_MTK_VCP_MBOX=y
CONFIG_CPU_IDLE_GOV_TEO=y
CONFIG_SMPRO_MISC=y
CONFIG_ISA_DMA_API=y
CONFIG_X86_DISABLED_FEATURE_UNRET=y
CONFIG_LTC2497=y
CONFIG_CRYPTO_LRW=y
CONFIG_CRYPTO_LIB_DES=y
CONFIG_COMMON_CLK_MT8186_MFGCFG=y
CONFIG_GENERIC_CMOS_UPDATE=y
CONFIG_COMEDI_ADL_PCI7X3X=y
CONFIG_PARPORT_1284=y
CONFIG_CEC_CORE=y
CONFIG_PWM_APPLE=y
CONFIG_AD7280=y
CONFIG_COMMON_CLK_MT7629_ETHSYS=y
CONFIG_CRC7=y
CONFIG_ADMFM2000=y
CONFIG_GPIO_WINBOND=y
CONFIG_BCM74110_MAILBOX=y
CONFIG_X86_REQUIRED_FEATURE_MSR=y
CONFIG_PCIE_SPACEMIT_K1=y
CONFIG_IIO_TRIGGER=y
CONFIG_PHY_CAN_TRANSCEIVER=y
CONFIG_IIO_SW_TRIGGER=y
CONFIG_INPUT_TPS6594_PWRBUTTON=y
CONFIG_PM_CLK=y
CONFIG_VT8500_TIMER=y
CONFIG_CLK_INTEL_SOCFPGA=y
CONFIG_PCIE_ARTPEC6_HOST=y
CONFIG_INGENIC_CGU_JZ4755=y
CONFIG_SCA3000=y
CONFIG_ARM_CORESIGHT_PMU_ARCH_SYSTEM_PMU=y
CONFIG_CEC_GPIO=y
CONFIG_UIO=y
CONFIG_S3C2410_WATCHDOG=y
CONFIG_PCI_HOST_COMMON=y
CONFIG_BACKLIGHT_RT4831=y
CONFIG_REGMAP_SPI_AVMM=y
CONFIG_RTC_MC146818_LIB=y
CONFIG_ADMV4420=y
CONFIG_MAX63XX_WATCHDOG=y
CONFIG_REGULATOR_MAX8907=y
CONFIG_CC_HAS_NAMED_AS_FIXED_SANITIZERS=y
CONFIG_COMMON_CLK=y
CONFIG_MFD_RC5T583=y
CONFIG_MCF_EDMA=y
CONFIG_MAX30100=y
CONFIG_SERIAL_8250_RT288X=y
CONFIG_PM_OPP=y
CONFIG_MACINTOSH_DRIVERS=y
CONFIG_IOMMU_PT_VTDSS=y
CONFIG_MAX31865=y
CONFIG_OWL_PM_DOMAINS_HELPER=y
CONFIG_SMSC37B787_WDT=y
CONFIG_HW_RANDOM_HISI=y
CONFIG_PINCTRL_SH_PFC=y
CONFIG_PHY_MMP3_USB=y
CONFIG_LEDS_REGULATOR=y
CONFIG_SYSC_RMOBILE=y
CONFIG_REGULATOR_S2DOS05=y
CONFIG_HAVE_ARCH_KSTACK_ERASE=y
CONFIG_CRYPTO=y
CONFIG_BMC150_MAGN_SPI=y
CONFIG_GPIO_RDA=y
CONFIG_REGMAP=y
CONFIG_LCD_LMS283GF05=y
CONFIG_ARCH_SUPPORTS_MSEAL_SYSTEM_MAPPINGS=y
CONFIG_PCMCIA_LOAD_CIS=y
CONFIG_PCH_DMA=y
CONFIG_BACKLIGHT_LM3639=y
CONFIG_VFIO_PLATFORM_BCMFLEXRM_RESET=y
CONFIG_TSYS01=y
CONFIG_I2C_MUX_PCA9541=y
CONFIG_ARCH_WANTS_CLOCKSOURCE_READ_INLINE=y
CONFIG_PCIE_DW_PLAT_HOST=y
CONFIG_AIROHA_WATCHDOG=y
CONFIG_CROS_EC_I2C=y
CONFIG_ARCH_HAS_MEMBARRIER_SYNC_CORE=y
CONFIG_MAX34408=y
CONFIG_AD7150=y
CONFIG_MOUSE_SYNAPTICS_I2C=y
CONFIG_SPI_SH_HSPI=y
CONFIG_COMMON_CLK_K230=y
CONFIG_CRYPTO_HASH=y
CONFIG_PCI_KEYSTONE_TRISTATE=y
CONFIG_GENERIC_BITREVERSE=y
CONFIG_COMEDI_RTD520=y
CONFIG_ARCH_HAS_NMI_SAFE_THIS_CPU_OPS=y
CONFIG_CPU_SUP_HYGON=y
CONFIG_W1_SLAVE_DS2406=y
CONFIG_COMMON_CLK_MT2712_VENCSYS=y
CONFIG_LEDS_TRIGGER_ONESHOT=y
CONFIG_COMEDI_NI_TIO=y
CONFIG_INTEL_MEI_GSC_PROXY=y
CONFIG_REGULATOR_MAX77693=y
CONFIG_VL6180=y
CONFIG_ARCH_MEMORY_ORDER_TSO=y
CONFIG_MFD_CS47L85=y
CONFIG_IOMMU_IO_PGTABLE_LPAE=y
CONFIG_SERIAL_SAMSUNG_CONSOLE=y
CONFIG_HW_RANDOM_EXYNOS=y
CONFIG_CONTEXT_TRACKING_USER=y
CONFIG_TI_EQEP=y
CONFIG_INPUT_PCF8574=y
CONFIG_CRYPTO_LIB_MD5=y
CONFIG_EDAC_ATOMIC_SCRUB=y
CONFIG_BUILTIN_MODULE_RANGES=y
CONFIG_IPMI_KCS_BMC_CDEV_IPMI=y
CONFIG_ASSOCIATIVE_ARRAY=y
CONFIG_ZSTD_DECOMPRESS=y
CONFIG_SPI_GXP=y
CONFIG_UNINLINE_SPIN_UNLOCK=y
CONFIG_SERIAL_BCM63XX_CONSOLE=y
CONFIG_PINCTRL_AMDISP=y
CONFIG_PINCTRL_CEDARFORK=y
CONFIG_X86_REQUIRED_FEATURE_FPU=y
CONFIG_INPUT_VIVALDIFMAP=y
CONFIG_RMI4_SPI=y
CONFIG_BACKLIGHT_BD6107=y
CONFIG_NTB_PINGPONG=y
CONFIG_MFD_CS47L35=y
CONFIG_PHY_STARFIVE_JH7110_PCIE=y
CONFIG_BRCMSTB_MEMC=y
CONFIG_PINCTRL_PFC_R8A77965=y
CONFIG_PWM_IMX_TPM=y
CONFIG_ARCH_USE_QUEUED_RWLOCKS=y
CONFIG_KEYBOARD_QT2160=y
CONFIG_BUILDTIME_TABLE_SORT=y
CONFIG_INPUT_RT5120_PWRKEY=y
CONFIG_HAVE_PERF_REGS=y
CONFIG_X86_DISABLED_FEATURE_XENPV=y
CONFIG_IIO=y
CONFIG_MFD_TPS65910=y
CONFIG_COREDUMP=y
CONFIG_LTC2664=y
CONFIG_CM3232=y
CONFIG_QCOM_LLCC=y
CONFIG_TS4800_IRQ=y
CONFIG_REGULATOR_RT6160=y
CONFIG_ARCH_WANTS_NO_INSTR=y
CONFIG_REGULATOR_TPS68470=y
CONFIG_LEDS_SGM3140=y
CONFIG_MTD_NAND_MARVELL=y
CONFIG_COMEDI_DAS08_CS=y
CONFIG_IMX_IPUV3_CORE=y
CONFIG_PINCTRL_PFC_R8A779A0=y
CONFIG_MFD_WM831X_SPI=y
CONFIG_QCOM_SPMI_VADC=y
CONFIG_HAVE_OBJTOOL=y
CONFIG_HAVE_CONTEXT_TRACKING_USER_OFFSTACK=y
CONFIG_SERIAL_DEV_BUS=y
CONFIG_USE_X86_SEG_SUPPORT=y
CONFIG_CRYPTO_DEV_MARVELL_CESA=y
CONFIG_DAMON=y
CONFIG_AUTOFS_FS=y
CONFIG_PHY_EIC7700_SATA=y
CONFIG_LEDS_ARIEL=y
CONFIG_CRYPTO_MANAGER=y
CONFIG_PCI_QUIRKS=y
CONFIG_AK8975=y
CONFIG_SERIAL_CORE=y
CONFIG_GPIO_IDT3243X=y
CONFIG_GENERIC_IRQ_DEBUGFS=y
CONFIG_HAVE_STACK_VALIDATION=y
CONFIG_SWITCHTEC_DMA=y
CONFIG_MAX30102=y
CONFIG_REGULATOR_MT6360=y
CONFIG_XXHASH=y
CONFIG_SERIO=y
CONFIG_GENERIC_PHY_MIPI_DPHY=y
CONFIG_COMEDI_GSC_HPDI=y
CONFIG_I2C_ALGOPCF=y
CONFIG_PWM_VISCONTI=y
CONFIG_CRYPTO_ARIA_GFNI_AVX512_X86_64=y
CONFIG_CRYPTO_ADIANTUM=y
CONFIG_KEYBOARD_CHARLIEPLEX=y
CONFIG_AST2700_MBOX=y
CONFIG_PIC32_DMT=y
CONFIG_PCIE_RCAR_GEN4=y
CONFIG_RPMSG=y
CONFIG_ADF4371=y
CONFIG_DEBUG_DEVRES=y
CONFIG_INTEL_RAPL=y
CONFIG_CRYPTO_CHACHA20=y
CONFIG_USB_OHCI_LITTLE_ENDIAN=y
CONFIG_PM=y
CONFIG_ICP10100=y
CONFIG_FAULT_INJECTION_USERCOPY=y
CONFIG_AD4695=y
CONFIG_X86_IO_APIC=y
CONFIG_IIO_SSP_SENSORHUB=y
CONFIG_RMI4_F55=y
CONFIG_BMI270_I2C=y
CONFIG_GPIO_VX855=y
CONFIG_SPI_ROCKCHIP=y
CONFIG_KEXEC_SIG=y
CONFIG_ARCH_HAVE_EXTRA_ELF_NOTES=y
CONFIG_ADVANTECH_EC_WDT=y
CONFIG_LEDS_IP30=y
CONFIG_I2C_AXXIA=y
CONFIG_STATIC_USERMODEHELPER=y
CONFIG_PAGE_TABLE_CHECK=y
CONFIG_LDISC_AUTOLOAD=y
CONFIG_GENERIC_ALLOCATOR=y
CONFIG_SPI_TEGRA114=y
CONFIG_INGENIC_TIMER=y
CONFIG_REGULATOR_MT6316=y
CONFIG_TRACE_IRQFLAGS_SUPPORT=y
CONFIG_IRQ_DOMAIN=y
CONFIG_PM_TRACE_RTC=y
CONFIG_HAS_DMA=y
CONFIG_MUX_CORE=y
CONFIG_COMPACTION=y
CONFIG_IMX_SCMI_LMM_EXT=y
CONFIG_NVRAM=y
CONFIG_CRYPTO_842=y
CONFIG_IRQ_SIM=y
CONFIG_CLK_ACTIONS=y
CONFIG_COMMON_CLK_ESWIN=y
CONFIG_KEY_DH_OPERATIONS=y
CONFIG_MITIGATION_PAGE_TABLE_ISOLATION=y
CONFIG_PCIE_DW_PLAT=y
CONFIG_CRYPTO_SHA256=y
CONFIG_FXAS21002C_I2C=y
CONFIG_AD9467=y
CONFIG_CRYPTO_DEV_AMLOGIC_GXL=y
CONFIG_COMEDI_ADDI_APCI_1032=y
CONFIG_X86_DISABLED_FEATURE_RETPOLINE=y
CONFIG_REGMAP_MMIO=y
CONFIG_MEMORY=y
CONFIG_TOUCHSCREEN_GUNZE=y
CONFIG_BACKLIGHT_MP3309C=y
CONFIG_UNWINDER_FRAME_POINTER=y
CONFIG_ARCH_SUPPORTS_KEXEC_SIG_FORCE=y
CONFIG_LOCKDEP=y
CONFIG_INPUT_PALMAS_PWRBUTTON=y
CONFIG_CRYPTO_ACOMP2=y
CONFIG_SERIAL_LANTIQ_CONSOLE=y
CONFIG_SYSC_R8A77990=y
CONFIG_AD5110=y
CONFIG_RCU_REF_SCALE_TEST=y
CONFIG_LD_IS_BFD=y
CONFIG_APDS9160=y
CONFIG_SI7005=y
CONFIG_JOYSTICK_SPACEBALL=y
CONFIG_CPU_SUP_INTEL=y
CONFIG_PCIE_TEGRA194_HOST=y
CONFIG_PWM_SAMSUNG=y
CONFIG_ARCH_SUPPORTS_KEXEC_PURGATORY=y
CONFIG_GENERIC_IRQ_RESERVATION_MODE=y
CONFIG_SPI_SG2044_NOR=y
CONFIG_IPMI_HANDLER=y
CONFIG_LCD_CLASS_DEVICE=y
CONFIG_SYSC_R8A779H0=y
CONFIG_SUN6I_RTC_CCU=y
CONFIG_CRYPTO_CRC32C=y
CONFIG_HAVE_OBJTOOL_MCOUNT=y
CONFIG_CRYPTO_DEV_QCE_SKCIPHER=y
CONFIG_FSL_BMAN_TEST_API=y
CONFIG_PWM_BCM_KONA=y
CONFIG_IMX_SCMI_CPU_DRV=y
CONFIG_SCHED_INFO=y
CONFIG_CRYPTO_LIB_BLAKE2S_ARCH=y
CONFIG_MTD_CFI_BE_BYTE_SWAP=y
CONFIG_RPMSG_NS=y
CONFIG_XILINX_SDFEC=y
CONFIG_GPIO_VIRTUSER=y
CONFIG_CROS_EC_WATCHDOG=y
CONFIG_LEDS_TRIGGER_TRANSIENT=y
CONFIG_TIMER_PROBE=y
CONFIG_I2C_MUX=y
CONFIG_QCOM_AOSS_QMP=y
CONFIG_HAVE_KERNEL_GZIP=y
CONFIG_CLK_TWL=y
CONFIG_BACKLIGHT_ADP8870=y
CONFIG_MFD_ARIZONA=y
CONFIG_SERIAL_8250_IOC3=y
CONFIG_MMC5983=y
CONFIG_I2C_BCM2835=y
CONFIG_MARVELL_CN10K_DPI=y
CONFIG_COMPAT_BINFMT_ELF=y
CONFIG_COMMON_CLK_MT8365_APU=y
CONFIG_SGL_ALLOC=y
CONFIG_CHECK_SIGNATURE=y
CONFIG_SRF08=y
CONFIG_LOCK_MM_AND_FIND_VMA=y
CONFIG_RISCV_IOMMU=y
CONFIG_EDD=y
CONFIG_PCI_PWRCTRL=y
CONFIG_GPIO_IT87=y
CONFIG_PWM_DWC_CORE=y
CONFIG_JOYSTICK_COBRA=y
CONFIG_INPUT_FF_MEMLESS=y
CONFIG_GPIO_PCH=y
CONFIG_IIO_TRIGGERED_EVENT=y
CONFIG_IOMMU_PT_AMDV1=y
CONFIG_LEDS_PCA9532=y
CONFIG_TI_FPC202=y
CONFIG_KERNFS=y
CONFIG_GENERIC_CLOCKEVENTS_MIN_ADJUST=y
CONFIG_IRSD200=y
CONFIG_CRYPTO_DEV_CPT=y
CONFIG_MFD_SYSCON=y
CONFIG_WARN_ABI_ERRORS=y
CONFIG_ARCH_HAS_ZONE_DMA_SET=y
CONFIG_SERIAL_ICOM=y
CONFIG_QCOM_TZMEM_MODE_SHMBRIDGE=y
CONFIG_TOUCHSCREEN_TSC2005=y
CONFIG_KEYBOARD_TCA8418=y
CONFIG_NLS_UTF8=y
CONFIG_NLS_CODEPAGE_949=y
CONFIG_ARCH_CLOCKSOURCE_INIT=y
CONFIG_TEE_BNXT_FW=y
CONFIG_MTD_NAND_MLC_LPC32XX=y
CONFIG_PINCTRL_SC7280_LPASS_LPI=y
CONFIG_SENSORS_LIS3_I2C=y
CONFIG_ASYNC_TX_ENABLE_CHANNEL_SWITCH=y
CONFIG_ARCH_SUSPEND_POSSIBLE=y
CONFIG_SERIAL_OWL=y
CONFIG_TI_ADS7924=y
CONFIG_MPL3115=y
CONFIG_IIO_ADC_HELPER=y
CONFIG_CLK_IMX8MM=y
CONFIG_PINCTRL_PFC_SH73A0=y
CONFIG_CRYPTO_SM4_AESNI_AVX2_X86_64=y
CONFIG_MTD_REDBOOT_PARTS=y
CONFIG_COMMON_CLK_MT8192_SCP_ADSP=y
CONFIG_IIO_SW_DEVICE=y
CONFIG_VM_EVENT_COUNTERS=y
CONFIG_MITIGATION_IBPB_ENTRY=y
CONFIG_ADP810=y
CONFIG_IIO_KX022A_SPI=y
CONFIG_FXAS21002C=y
CONFIG_INPUT_DRV2665_HAPTICS=y
CONFIG_HAVE_ARCH_COMPAT_MMAP_BASES=y
CONFIG_INPUT_ARIEL_PWRBUTTON=y
CONFIG_SECCOMP=y
CONFIG_QFMT_V2=y
CONFIG_PINCTRL_SM8550_LPASS_LPI=y
CONFIG_JOYSTICK_FSIA6B=y
CONFIG_SI7210=y
CONFIG_GENERIC_PINCTRL_GROUPS=y
CONFIG_HAVE_OBJTOOL_NOP_MCOUNT=y
CONFIG_LOCK_STAT=y
CONFIG_AD_SIGMA_DELTA=y
CONFIG_LIST_HARDENED=y
CONFIG_ADA4250=y
CONFIG_CPU_FREQ_GOV_PERFORMANCE=y
CONFIG_TOUCHSCREEN_WDT87XX_I2C=y
CONFIG_SLAB_MERGE_DEFAULT=y
CONFIG_DEBUG_KMEMLEAK_AUTO_SCAN=y
