CONFIG_INTEL_IOMMU=n
CONFIG_HARDLOCKUP_CHECK_TIMESTAMP=n
CONFIG_SERIAL_8250_LPSS=n
CONFIG_ACPI_MRRM=n
CONFIG_QUOTA=n
CONFIG_ARCH_HAS_PTDUMP=n
CONFIG_INIT_STACK_ALL_ZERO=n
CONFIG_RFKILL_LEDS=n
CONFIG_VMCORE_INFO=n
CONFIG_HAVE_ARCH_RANDOMIZE_KSTACK_OFFSET=n
CONFIG_LEDS_CLASS=n
CONFIG_WLAN_VENDOR_BROADCOM=n
CONFIG_HAVE_KCSAN_COMPILER=n
CONFIG_PROC_PAGE_MONITOR=n
CONFIG_POSIX_MQUEUE=n
CONFIG_NF_CT_NETLINK=n
CONFIG_ARCH_HAS_MEM_ENCRYPT=n
CONFIG_NET_VENDOR_QLOGIC=n
CONFIG_UID16=n
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO=n
CONFIG_ARCH_WANT_IRQS_OFF_ACTIVATE_MM=n
CONFIG_BLK_DEBUG_FS=n
CONFIG_PERF_EVENTS=n
CONFIG_ARCH_MIGHT_HAVE_ACPI_PDC=n
CONFIG_QUOTA_TREE=n
CONFIG_CRYPTO_LIB_AES_ARCH=n
CONFIG_PCIEASPM_DEFAULT=n
CONFIG_GENERIC_CALIBRATE_DELAY=n
CONFIG_HAVE_PERF_USER_STACK_DUMP=n
CONFIG_GRO_CELLS=n
CONFIG_PCI_MSI=n
CONFIG_NET_CLS=n
CONFIG_BUG=n
CONFIG_IOMMU_SUPPORT=n
CONFIG_X86_REQUIRED_FEATURE_XMM=n
CONFIG_IO_WQ=n
CONFIG_HAVE_USER_RETURN_NOTIFIER=n
CONFIG_IA32_EMULATION=n
CONFIG_GROUP_SCHED_WEIGHT=n
CONFIG_NET_VENDOR_EZCHIP=n
CONFIG_HAVE_GCC_PLUGINS=n
CONFIG_CFG80211_USE_KERNEL_REGDB_KEYS=n
CONFIG_ACPI_PROCESSOR_IDLE=n
CONFIG_AIO=n
CONFIG_QFMT_V2=n
CONFIG_NFS_DISABLE_UDP_SUPPORT=n
CONFIG_PROC_PID_ARCH_STATUS=n
CONFIG_HOTPLUG_CORE_SYNC_FULL=n
CONFIG_EFI_ESRT=n
CONFIG_ARCH_STACKWALK=n
CONFIG_CGROUP_RDMA=n
CONFIG_NETFILTER_NETLINK_LOG=n
CONFIG_TMPFS_POSIX_ACL=n
CONFIG_ARCH_USE_BUILTIN_BSWAP=n
CONFIG_IPV6_NDISC_NODETYPE=n
CONFIG_NF_LOG_IPV6=n
CONFIG_HAVE_PCI=n
CONFIG_CALL_THUNKS=n
CONFIG_USB_STORAGE=n
CONFIG_X86_DISABLED_FEATURE_LAM=n
CONFIG_CC_HAS_NAMED_AS_FIXED_SANITIZERS=n
CONFIG_ARCH_USE_QUEUED_RWLOCKS=n
CONFIG_SERIO=n
CONFIG_HIBERNATION=n
CONFIG_NET_NS=n
CONFIG_MMU_GATHER_MERGE_VMAS=n
CONFIG_NET_VENDOR_ARC=n
CONFIG_X86_IO_APIC=n
CONFIG_ARCH_SUPPORTS_KEXEC_FILE=n
CONFIG_MOUSE_PS2_SYNAPTICS=n
CONFIG_SCSI_PROC_FS=n
CONFIG_NET_VENDOR_SOCIONEXT=n
CONFIG_NET_VENDOR_HUAWEI=n
CONFIG_MITIGATION_SPECTRE_V1=n
CONFIG_RUSTC_HAS_UNNECESSARY_TRANSMUTES=n
CONFIG_X86_KERNEL_IBT=n
CONFIG_MD_BITMAP=n
CONFIG_NFS_USE_KERNEL_DNS=n
CONFIG_CRYPTO_LIB_SHA1=n
CONFIG_SCSI_MOD=n
CONFIG_ARCH_HAS_ELFCORE_COMPAT=n
CONFIG_ACPI_PROCESSOR_CSTATE=n
CONFIG_CGROUP_SCHED=n
CONFIG_BLK_CGROUP=n
CONFIG_ARCH_HAS_DEBUG_VM_PGTABLE=n
CONFIG_BLK_DEV_LOOP=n
CONFIG_NET_VENDOR_MARVELL=n
CONFIG_MULTIUSER=n
CONFIG_IPV6_SIT=n
CONFIG_ISA_DMA_API=n
CONFIG_HID_SONY=n
CONFIG_MQ_IOSCHED_KYBER=n
CONFIG_XFRM_ESP=n
CONFIG_PCC=n
CONFIG_X86_DIRECT_GBPAGES=n
CONFIG_MITIGATION_SRBDS=n
CONFIG_ACPI_THERMAL_LIB=n
CONFIG_FUNCTION_ALIGNMENT_16B=n
CONFIG_PACKET=n
CONFIG_YENTA_O2=n
CONFIG_DEVTMPFS=n
CONFIG_I2C_HELPER_AUTO=n
CONFIG_VIRTIO_MENU=n
CONFIG_AUDIT=n
CONFIG_FIB_RULES=n
CONFIG_NET_VENDOR_OKI=n
CONFIG_XFRM_USER=n
CONFIG_AS_IS_GNU=n
CONFIG_NET_IP_TUNNEL=n
CONFIG_PCI_QUIRKS=n
CONFIG_CRYPTO_SIG=n
CONFIG_FUTEX_MPOL=n
CONFIG_PERF_EVENTS_INTEL_CSTATE=n
CONFIG_USB_HIDDEV=n
CONFIG_USB_COMMON=n
CONFIG_NET_VENDOR_AMD=n
CONFIG_CPU_FREQ_GOV_SCHEDUTIL=n
CONFIG_DECOMPRESS_XZ=n
CONFIG_INPUT_VIVALDIFMAP=n
CONFIG_RUNTIME_TESTING_MENU=n
CONFIG_HOTPLUG_SPLIT_STARTUP=n
CONFIG_GENERIC_MSI_IRQ=n
CONFIG_COREDUMP=n
CONFIG_SATA_AHCI=n
CONFIG_HID_NTRIG=n
CONFIG_USB_PCI_AMD=n
CONFIG_FIX_EARLYCON_MEM=n
CONFIG_I8253_LOCK=n
CONFIG_SYSVIPC_SYSCTL=n
CONFIG_BCMA_POSSIBLE=n
CONFIG_PTP_1588_CLOCK_VMCLOCK=n
CONFIG_NOINSTR_VALIDATION=n
CONFIG_ARCH_SUPPORTS_KEXEC_SIG_FORCE=n
CONFIG_PREEMPT_BUILD=n
CONFIG_WERROR=n
CONFIG_X86_DISABLED_FEATURE_CENTAUR_MCR=n
CONFIG_SPARSEMEM=n
CONFIG_NET_VENDOR_MICROSOFT=n
CONFIG_HAVE_ARCH_THREAD_STRUCT_WHITELIST=n
CONFIG_EARLY_PRINTK_DBGP=n
CONFIG_HAVE_RELIABLE_STACKTRACE=n
CONFIG_INPUT_TABLET=n
CONFIG_INET=n
CONFIG_SLUB_DEBUG=n
CONFIG_ACPI=n
CONFIG_CC_HAS_IBT=n
CONFIG_CRYPTO_CTR=n
CONFIG_ELFCORE=n
CONFIG_X86_DISABLED_FEATURE_SGX=n
CONFIG_CPU_FREQ_GOV_USERSPACE=n
CONFIG_SERIAL_8250_PCILIB=n
CONFIG_ARCH_HAS_STRICT_KERNEL_RWX=n
CONFIG_MMU_GATHER_RCU_TABLE_FREE=n
CONFIG_HID_GYRATION=n
CONFIG_HARDIRQS_SW_RESEND=n
CONFIG_ARCH_HAS_CPU_CACHE_INVALIDATE_MEMREGION=n
CONFIG_CRYPTO_LZO=n
CONFIG_INTEL_TCC=n
CONFIG_VIRTIO_PCI=n
CONFIG_IOMMU_IOVA=n
CONFIG_USB_HID=n
CONFIG_NET_VENDOR_AMAZON=n
CONFIG_KALLSYMS=n
CONFIG_THERMAL_HWMON=n
CONFIG_RTC_SYSTOHC=n
CONFIG_IP_PNP_RARP=n
CONFIG_FUNCTION_ALIGNMENT_4B=n
CONFIG_NET_POLL_CONTROLLER=n
CONFIG_CRYPTO_CAMELLIA=n
CONFIG_NF_LOG_SYSLOG=n
CONFIG_BLK_DEV_WRITE_MOUNTED=n
CONFIG_DMA_NEED_SYNC=n
CONFIG_IO_URING_BPF=n
CONFIG_PCI_LABEL=n
CONFIG_BLK_DEV_BSG=n
CONFIG_YENTA_TOSHIBA=n
CONFIG_HOTPLUG_CPU=n
CONFIG_SND_VMASTER=n
CONFIG_GENERIC_EARLY_IOREMAP=n
CONFIG_DEVTMPFS_MOUNT=n
CONFIG_WATCHDOG_HANDLE_BOOT_ENABLED=n
CONFIG_ETHERNET=n
CONFIG_SCHED_OMIT_FRAME_POINTER=n
CONFIG_SCSI=n
CONFIG_SPLIT_PMD_PTLOCKS=n
CONFIG_TMPFS=n
CONFIG_PCIEASPM=n
CONFIG_CRYPTO_CMAC=n
CONFIG_DCACHE_WORD_ACCESS=n
CONFIG_HUGETLB_PAGE_OPTIMIZE_VMEMMAP=n
CONFIG_MITIGATION_TAA=n
CONFIG_HAVE_VIRT_CPU_ACCOUNTING_GEN=n
CONFIG_ARCH_SUPPORTS_KEXEC_HANDOVER=n
CONFIG_HAVE_ARCH_KFENCE=n
CONFIG_MOUSE_PS2_ALPS=n
CONFIG_NF_NAT_MASQUERADE=n
CONFIG_ACPI_BGRT=n
CONFIG_CPU_SUP_ZHAOXIN=n
CONFIG_GRACE_PERIOD=n
CONFIG_CRYPTO_HASH=n
CONFIG_WIRELESS=n
CONFIG_HAVE_UNSTABLE_SCHED_CLOCK=n
CONFIG_NET_CLS_CGROUP=n
CONFIG_VT=n
CONFIG_HAVE_CONTEXT_TRACKING_USER_OFFSTACK=n
CONFIG_NFS_V4=n
CONFIG_GENERIC_SYSCALL=n
CONFIG_PT_RECLAIM=n
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_REGS=n
CONFIG_X86_X2APIC=n
CONFIG_ARCH_HAS_ADD_PAGES=n
CONFIG_HAVE_NMI=n
CONFIG_HAVE_IRQ_TIME_ACCOUNTING=n
CONFIG_NET_VENDOR_SUN=n
CONFIG_RTL_CARDS=n
CONFIG_USB_OHCI_HCD_PCI=n
CONFIG_TRACE_IRQFLAGS_SUPPORT=n
CONFIG_IPV6=n
CONFIG_DEBUG_WX=n
CONFIG_HW_RANDOM_VIA=n
CONFIG_NET_INGRESS=n
CONFIG_IOMMU_SVA=n
CONFIG_HAVE_ARCH_SECCOMP=n
CONFIG_NET_VENDOR_CHELSIO=n
CONFIG_CLKEVT_I8253=n
CONFIG_NET_VENDOR_DEC=n
CONFIG_STACKTRACE=n
CONFIG_ATA_ACPI=n
CONFIG_IOMMU_PT_AMDV1=n
CONFIG_ARCH_USE_SYM_ANNOTATIONS=n
CONFIG_IRQ_MSI_LIB=n
CONFIG_CRC_OPTIMIZATIONS=n
CONFIG_ARCH_HAS_CPU_PASID=n
CONFIG_NET_XGRESS=n
CONFIG_INTEL_IOMMU_SCALABLE_MODE_DEFAULT_ON=n
CONFIG_EXT4_FS_POSIX_ACL=n
CONFIG_X86_CMOV=n
CONFIG_NVMEM=n
CONFIG_EXT4_FS=n
CONFIG_HIBERNATE_CALLBACKS=n
CONFIG_EFI=n
CONFIG_COMPAT_32=n
CONFIG_DM_MIRROR=n
CONFIG_HAVE_FUNCTION_ERROR_INJECTION=n
CONFIG_ACPI_LEGACY_TABLES_LOOKUP=n
CONFIG_CC_NO_ARRAY_BOUNDS=n
CONFIG_IPC_NS=n
CONFIG_HAS_SECURITY_AUDIT=n
CONFIG_X86_REQUIRED_FEATURE_PGE=n
CONFIG_E1000=n
CONFIG_NVMEM_SYSFS=n
CONFIG_IOMMU_PT_VTDSS=n
CONFIG_RWSEM_SPIN_ON_OWNER=n
CONFIG_HAVE_CONTEXT_TRACKING_USER=n
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_DIRECT_CALLS=n
CONFIG_ARCH_SUPPORTS_KEXEC_BZIMAGE_VERIFY_SIG=n
CONFIG_CRYPTO_LIB_AES=n
CONFIG_USB_PRINTER=n
CONFIG_CONSOLE_TRANSLATIONS=n
CONFIG_ACPI_BUTTON=n
CONFIG_SND_JACK_INPUT_DEV=n
CONFIG_CGROUPS=n
CONFIG_TREE_SRCU=n
CONFIG_ARCH_WANTS_NO_INSTR=n
CONFIG_IP_MROUTE=n
CONFIG_PNP=n
CONFIG_TCP_MD5SIG=n
CONFIG_INTEL_MEI=n
CONFIG_ZONE_DMA32=n
CONFIG_IO_DELAY_0X80=n
CONFIG_MODIFY_LDT_SYSCALL=n
CONFIG_GCC_PLUGINS=n
CONFIG_ARCH_USE_CMPXCHG_LOCKREF=n
CONFIG_ETHTOOL_NETLINK=n
CONFIG_TASKSTATS=n
CONFIG_PM_TRACE=n
CONFIG_NUMA_MEMBLKS=n
CONFIG_NETFILTER=n
CONFIG_X86_REQUIRED_FEATURE_FPU=n
CONFIG_ARCH_SUPPORTS_INT128=n
CONFIG_NETFILTER_XT_MARK=n
CONFIG_DEBUG_FS=n
CONFIG_I2C=n
CONFIG_HAVE_ARCH_VMAP_STACK=n
CONFIG_SCHED_MC=n
CONFIG_ARCH_CONFIGURES_CPU_MITIGATIONS=n
CONFIG_EDAC_SUPPORT=n
CONFIG_HAS_IOMEM=n
CONFIG_SMP=n
CONFIG_LEGACY_VSYSCALL_XONLY=n
CONFIG_CRYPTO_HW=n
CONFIG_DMIID=n
CONFIG_SND_USB=n
CONFIG_SGL_ALLOC=n
CONFIG_MITIGATION_SPECTRE_BHI=n
CONFIG_NET_VENDOR_ALIBABA=n
CONFIG_SND_VERBOSE_PROCFS=n
CONFIG_HAVE_HARDLOCKUP_DETECTOR_PERF=n
CONFIG_HAVE_FTRACE_REGS_HAVING_PT_REGS=n
CONFIG_YENTA=n
