CONFIG_VIDEO_VPX3220=y
CONFIG_SPARSEMEM_VMEMMAP_PREINIT=y
CONFIG_USB_F_PRINTER=y
CONFIG_TOUCHSCREEN_ST1232=y
CONFIG_INTEL_SOC_PMIC_CHTDC_TI=y
CONFIG_MFD_MAX77705=y
CONFIG_ARCH_HAS_CC_PLATFORM=y
CONFIG_MD_AUTODETECT=y
CONFIG_SURFACE_PRO3_BUTTON=y
CONFIG_SYSTEM_EXTRA_CERTIFICATE=y
CONFIG_DRM_DISPLAY_HELPER=y
CONFIG_UUID_KUNIT_TEST=y
CONFIG_IPMI_PANIC_STRING=y
CONFIG_USB_EHCI_HCD_PLATFORM=y
CONFIG_VIRTIO_BLK=y
CONFIG_USB_SERIAL_PL2303=y
CONFIG_HAVE_GENERIC_VDSO=y
CONFIG_COMMON_CLK_CDCE925=y
CONFIG_NLS_MAC_CROATIAN=y
CONFIG_CHARGER_MAX77650=y
CONFIG_TASKS_RCU=y
CONFIG_B44=y
CONFIG_BACKTRACE_SELF_TEST=y
CONFIG_FRAMER_PEF2256=y
CONFIG_AFFS_FS=y
CONFIG_BCMA_SFLASH=y
CONFIG_GENERIC_CLOCKEVENTS=y
CONFIG_GENERIC_IRQ_PROBE=y
CONFIG_REGULATOR_LTC3589=y
CONFIG_REGULATOR_DA9063=y
CONFIG_ZLIB_DEFLATE=y
CONFIG_PECI_CPU=y
CONFIG_HAVE_MOVE_PUD=y
CONFIG_TPS65010=y
CONFIG_USB_SERIAL_MOS7720=y
CONFIG_USB_ETH_EEM=y
CONFIG_CRYPTO_LIB_SHA256=y
CONFIG_DMA_COHERENT_POOL=y
CONFIG_CC_HAS_WORKING_NOSANITIZE_ADDRESS=y
CONFIG_CRYPTO_DRBG=y
CONFIG_PARAVIRT_CLOCK=y
CONFIG_GPIO_CDEV=y
CONFIG_TYPEC_TBT_ALTMODE=y
CONFIG_REGULATOR_SLG51000=y
CONFIG_V4L2_CCI_I2C=y
CONFIG_HAVE_FUNCTION_GRAPH_TRACER=y
CONFIG_CAN_DEV=y
CONFIG_CHARGER_MAX8903=y
CONFIG_LEDS_LP50XX=y
CONFIG_XZ_DEC_X86=y
CONFIG_DRM_ACCEL=y
CONFIG_MMC_BLOCK=y
CONFIG_DVB_TUNER_CX24113=y
CONFIG_IRQCHIP=y
CONFIG_MTD_RAM=y
CONFIG_DRM_PANEL_FEIXIN_K101_IM2BA02=y
CONFIG_UNWIND_USER=y
CONFIG_NULL_TTY=y
CONFIG_DRM_ITE_IT6263=y
CONFIG_IRQ_TIME_ACCOUNTING=y
CONFIG_RC_XBOX_DVD=y
CONFIG_LEDS_TRIGGER_BACKLIGHT=y
CONFIG_TYPEC_TCPM=y
CONFIG_SERIAL_SC16IS7XX_I2C=y
CONFIG_HAVE_UNSTABLE_SCHED_CLOCK=y
CONFIG_REGULATOR_MT6332=y
CONFIG_FW_CS_DSP=y
CONFIG_MTD_ROM=y
CONFIG_SCSI_LOGGING=y
CONFIG_REGULATOR_USERSPACE_CONSUMER=y
CONFIG_BACKLIGHT_ARCXCNN=y
CONFIG_CLKEVT_I8253=y
CONFIG_LD_IS_BFD=y
CONFIG_HAVE_ARCH_WITHIN_STACK_FRAMES=y
CONFIG_CONSOLE_TRANSLATIONS=y
CONFIG_DRM_PANEL_SAMSUNG_LTL106HL02=y
CONFIG_BT_MTKSDIO=y
CONFIG_DRM_LONTIUM_LT8713SX=y
CONFIG_ZRAM_DEF_COMP_DEFLATE=y
CONFIG_USB_OTG=y
CONFIG_CRC_CCITT=y
CONFIG_MFD_CGBC=y
CONFIG_NET_VENDOR_ALACRITECH=y
CONFIG_DVB_B2C2_FLEXCOP=y
CONFIG_DRM_PANEL_SAMSUNG_S6E88A0_AMS452EF01=y
CONFIG_DEVFREQ_GOV_SIMPLE_ONDEMAND=y
CONFIG_ARCH_CORRECT_STACKTRACE_ON_KRETPROBE=y
CONFIG_CRYPTO_LIB_MLDSA=y
CONFIG_NET_VENDOR_CAVIUM=y
CONFIG_PPP_MPPE=y
CONFIG_OVERFLOW_KUNIT_TEST=y
CONFIG_PHYLIB=y
CONFIG_BATTERY_DS2781=y
CONFIG_INTEGRITY=y
CONFIG_CEC_CROS_EC=y
CONFIG_VIDEO_CS5345=y
CONFIG_DRM_PANEL_RAYDIUM_RM67200=y
CONFIG_GPIO_TPS6586X=y
CONFIG_SPARSEMEM_VMEMMAP_ENABLE=y
CONFIG_CRYPTO_LIB_POLYVAL_KUNIT_TEST=y
