CONFIG_PAGE_SIZE_LESS_THAN_64KB=n
CONFIG_NET_VENDOR_MICROSOFT=n
CONFIG_RTC_CLASS=n
CONFIG_IP_PIMSM_V2=n
CONFIG_HAVE_ARCH_KFENCE=n
CONFIG_PT_RECLAIM=n
CONFIG_CGROUP_NET_PRIO=n
CONFIG_IP_ADVANCED_ROUTER=n
CONFIG_CPU_SUP_INTEL=n
CONFIG_GRO_CELLS=n
CONFIG_SND_USB=n
CONFIG_PROC_SYSCTL=n
CONFIG_HID_TOPSEED=n
CONFIG_SERIAL_8250_DETECT_IRQ=n
CONFIG_PAGE_COUNTER=n
CONFIG_X86_DISABLED_FEATURE_PCID=n
CONFIG_FUNCTION_ALIGNMENT_4B=n
CONFIG_CGROUP_DEBUG=n
CONFIG_ARCH_HAS_CPU_CACHE_INVALIDATE_MEMREGION=n
CONFIG_ELF_CORE=n
CONFIG_UNWINDER_FRAME_POINTER=n
CONFIG_USB_XHCI_PCI=n
CONFIG_STACKPROTECTOR=n
CONFIG_ARCH_STACKWALK=n
CONFIG_INPUT_LEDS=n
CONFIG_HAVE_OPTPROBES=n
CONFIG_NLS_ISO8859_1=n
CONFIG_FUTEX_PRIVATE_HASH=n
CONFIG_HAVE_PV_STEAL_CLOCK_GEN=n
CONFIG_DMIID=n
CONFIG_USB_COMMON=n
CONFIG_X86_DISABLED_FEATURE_PKU=n
CONFIG_SND_JACK=n
CONFIG_WLAN_VENDOR_ATMEL=n
CONFIG_BLK_CGROUP_IOPRIO=n
CONFIG_NETFILTER_XT_TARGET_TCPMSS=n
CONFIG_TIME_NS_VDSO=n
CONFIG_X86_32=n
CONFIG_SND_VMASTER=n
CONFIG_CFG80211_DEFAULT_PS=n
CONFIG_DRM_I915=n
CONFIG_EXT4_FS_POSIX_ACL=n
CONFIG_NET_VENDOR_NI=n
CONFIG_UTS_NS=n
CONFIG_CRYPTO_ECB=n
CONFIG_ARCH_HAS_STRICT_KERNEL_RWX=n
CONFIG_NET_VENDOR_ROCKER=n
CONFIG_DRM_VIRTIO_GPU=n
CONFIG_ARCH_HAS_SET_MEMORY=n
CONFIG_CARDBUS=n
CONFIG_DECOMPRESS_XZ=n
CONFIG_NET_VENDOR_QLOGIC=n
CONFIG_NET_VENDOR_EMULEX=n
CONFIG_X86_DISABLED_FEATURE_TDX_GUEST=n
CONFIG_WLAN_VENDOR_MEDIATEK=n
CONFIG_SCSI_COMMON=n
CONFIG_X86_CMOV=n
CONFIG_MAC80211=n
CONFIG_ATA=n
CONFIG_HAVE_ARCH_SECCOMP=n
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO=n
CONFIG_DRM_GEM_SHMEM_HELPER=n
CONFIG_NET_VENDOR_AQUANTIA=n
CONFIG_CONTEXT_TRACKING=n
CONFIG_HAVE_KPROBES_ON_FTRACE=n
CONFIG_NET_HANDSHAKE=n
CONFIG_GCC10_NO_ARRAY_BOUNDS=n
CONFIG_FAIR_GROUP_SCHED=n
CONFIG_LD_ORPHAN_WARN=n
CONFIG_PREVENT_FIRMWARE_BUILD=n
CONFIG_GENERIC_CMOS_UPDATE=n
CONFIG_CPU_FREQ=n
CONFIG_ARCH_HIBERNATION_POSSIBLE=n
CONFIG_GENERIC_GETTIMEOFDAY=n
CONFIG_FW_CACHE=n
CONFIG_RD_LZMA=n
CONFIG_SERIAL_8250_PERICOM=n
CONFIG_INET_TUNNEL=n
CONFIG_PATA_TIMINGS=n
CONFIG_USB_DEFAULT_PERSIST=n
CONFIG_HAVE_KERNEL_LZO=n
CONFIG_HAVE_GUP_FAST=n
CONFIG_USB_PCI_AMD=n
CONFIG_VHOST_ENABLE_FORK_OWNER_CONTROL=n
CONFIG_JUMP_LABEL=n
CONFIG_ARCH_HAS_FAST_MULTIPLIER=n
CONFIG_SYSTEM_TRUSTED_KEYRING=n
CONFIG_XXHASH=n
CONFIG_SCHED_MC=n
CONFIG_ARCH_HAS_DEVMEM_IS_ALLOWED=n
CONFIG_HAVE_DEBUG_STACKOVERFLOW=n
CONFIG_ARCH_WANT_GENERAL_HUGETLB=n
CONFIG_XZ_DEC=n
CONFIG_NETFS_SUPPORT=n
CONFIG_LEDS_TRIGGERS=n
CONFIG_PARAVIRT=n
CONFIG_EARLY_PRINTK=n
CONFIG_SOCK_RX_QUEUE_MAPPING=n
CONFIG_IP_MULTIPLE_TABLES=n
CONFIG_NFS_V3=n
CONFIG_HAVE_ARCH_THREAD_STRUCT_WHITELIST=n
CONFIG_INPUT_JOYSTICK=n
CONFIG_TREE_SRCU=n
CONFIG_NET_VENDOR_SIS=n
CONFIG_BLK_DEBUG_FS=n
CONFIG_HAVE_ARCH_JUMP_LABEL_RELATIVE=n
CONFIG_HAVE_FTRACE_GRAPH_FUNC=n
CONFIG_MUTEX_SPIN_ON_OWNER=n
CONFIG_SND_HDA_COMPONENT=n
CONFIG_FIRMWARE_MEMMAP=n
CONFIG_XFRM_USER=n
CONFIG_LEDS_CLASS=n
CONFIG_ASSOCIATIVE_ARRAY=n
CONFIG_REALTEK_PHY=n
CONFIG_VT=n
CONFIG_SERIAL_CORE=n
CONFIG_OLD_SIGSUSPEND3=n
CONFIG_QFMT_V2=n
CONFIG_ACPI_TABLE_UPGRADE=n
CONFIG_GPU_BUDDY=n
CONFIG_CC_HAS_AUTO_VAR_INIT_PATTERN=n
CONFIG_PTP_1588_CLOCK=n
CONFIG_KEXEC_CORE=n
CONFIG_PCIEASPM=n
CONFIG_SERIAL_8250_EXAR=n
CONFIG_PATA_AMD=n
CONFIG_NET_9P_FD=n
CONFIG_AS_IS_GNU=n
CONFIG_SATA_AHCI=n
CONFIG_IP_PNP_RARP=n
CONFIG_SYN_COOKIES=n
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST=n
CONFIG_PNFS_BLOCK=n
CONFIG_PATA_SCH=n
CONFIG_ASYMMETRIC_KEY_TYPE=n
CONFIG_SND_SEQ_DUMMY=n
CONFIG_COMPACTION=n
CONFIG_FWNODE_MDIO=n
CONFIG_SCHED_INFO=n
CONFIG_CC_IS_GCC=n
CONFIG_AS_HAS_NON_CONST_ULEB128=n
CONFIG_USB_MON=n
CONFIG_SERIAL_8250_PCILIB=n
CONFIG_HZ_1000=n
CONFIG_LZ4_DECOMPRESS=n
CONFIG_USB_NET_DRIVERS=n
CONFIG_EFI=n
CONFIG_PREEMPT_COUNT=n
CONFIG_SCSI_DMA=n
CONFIG_MITIGATION_SPECTRE_V1=n
CONFIG_NET_VENDOR_DAVICOM=n
CONFIG_DMA_OPS_HELPERS=n
CONFIG_NFS_V3_ACL=n
CONFIG_ACPI_WMI=n
CONFIG_HIBERNATION_COMP_LZO=n
CONFIG_SND_JACK_INPUT_DEV=n
CONFIG_MACINTOSH_DRIVERS=n
CONFIG_ARCH_HAS_NON_OVERLAPPING_ADDRESS_SPACE=n
CONFIG_INPUT_SPARSEKMAP=n
CONFIG_ARCH_FLATMEM_ENABLE=n
CONFIG_NLS_UTF8=n
CONFIG_NET_POLL_CONTROLLER=n
CONFIG_DNS_RESOLVER=n
CONFIG_CLKEVT_I8253=n
CONFIG_SND_HDA_I915=n
CONFIG_MITIGATION_TAA=n
CONFIG_CPU_SUP_ZHAOXIN=n
CONFIG_CFG80211_REQUIRE_SIGNED_REGDB=n
CONFIG_HAVE_FUNCTION_GRAPH_TRACER=n
CONFIG_NET_VENDOR_MELLANOX=n
CONFIG_ARCH_WANT_FRAME_POINTERS=n
CONFIG_CRYPTO_ALGAPI2=n
CONFIG_STACKTRACE=n
CONFIG_X86_ACPI_CPUFREQ_CPB=n
CONFIG_DRM_I915_CAPTURE_ERROR=n
CONFIG_VIDEO=n
CONFIG_POWER_SUPPLY=n
CONFIG_NET_FLOW_LIMIT=n
CONFIG_WLAN_VENDOR_BROADCOM=n
CONFIG_THERMAL_GOV_STEP_WISE=n
CONFIG_NF_REJECT_IPV6=n
CONFIG_ARCH_SPLIT_ARG64=n
CONFIG_SND_X86=n
CONFIG_NET_VENDOR_MARVELL=n
CONFIG_SYNC_FILE=n
CONFIG_SERIO=n
CONFIG_PCI_BIOS=n
CONFIG_ZSTD_COMMON=n
CONFIG_TASKSTATS=n
CONFIG_GENERIC_SMP_IDLE_THREAD=n
CONFIG_AMD_NB=n
CONFIG_SKY2=n
CONFIG_USB_OHCI_HCD_PCI=n
CONFIG_GLOB=n
CONFIG_AUDITSYSCALL=n
CONFIG_GENERIC_STRNLEN_USER=n
CONFIG_HAVE_KERNEL_XZ=n
CONFIG_RTC_SYSTOHC=n
CONFIG_X86_DISABLED_FEATURE_SEV_SNP=n
CONFIG_NF_CONNTRACK_SECMARK=n
CONFIG_INPUT_VIVALDIFMAP=n
CONFIG_RD_XZ=n
CONFIG_XZ_DEC_ARMTHUMB=n
CONFIG_HAVE_FUNCTION_TRACER=n
CONFIG_EFI_PARTITION=n
CONFIG_EFI_STUB=n
CONFIG_IO_URING_BPF=n
CONFIG_NET_VENDOR_SILAN=n
CONFIG_SUNRPC=n
CONFIG_PM_DEBUG=n
CONFIG_CGROUP_HUGETLB=n
CONFIG_RD_LZ4=n
CONFIG_CPU_FREQ_GOV_USERSPACE=n
CONFIG_HAVE_DYNAMIC_FTRACE_NO_PATCHABLE=n
CONFIG_DRM_DISPLAY_DP_HELPER=n
CONFIG_PROC_PAGE_MONITOR=n
CONFIG_NET_IP_TUNNEL=n
CONFIG_FONT_SUPPORT=n
CONFIG_EARLY_PRINTK_DBGP=n
CONFIG_MICROCODE=n
CONFIG_AMD_NODE=n
CONFIG_MAC80211_RC_DEFAULT_MINSTREL=n
CONFIG_YENTA_TOSHIBA=n
CONFIG_PROFILING=n
CONFIG_PCIEASPM_DEFAULT=n
CONFIG_ARCH_HAS_DEBUG_VM_PGTABLE=n
CONFIG_PM_SLEEP_SMP=n
CONFIG_CGROUPS=n
CONFIG_SYSFS=n
CONFIG_ARCH_USE_MEMTEST=n
CONFIG_TASK_DELAY_ACCT=n
CONFIG_HOTPLUG_CORE_SYNC=n
CONFIG_ARCH_HAS_HW_PTE_YOUNG=n
CONFIG_VIRTIO_PCI_LIB_LEGACY=n
CONFIG_EXECMEM=n
CONFIG_KVM_GUEST=n
CONFIG_HID_GYRATION=n
CONFIG_ARCH_SUPPORTS_UPROBES=n
CONFIG_DRM_I915_COMPRESS_ERROR=n
CONFIG_X86_DISABLED_FEATURE_USER_SHSTK=n
CONFIG_ARCH_HAS_CACHE_LINE_SIZE=n
CONFIG_LZO_DECOMPRESS=n
CONFIG_CFG80211_CRDA_SUPPORT=n
CONFIG_SERIAL_8250_PNP=n
CONFIG_CRYPTO_LIB_SHA1=n
CONFIG_ACPI_HOTPLUG_CPU=n
CONFIG_ARCH_SUPPORTS_LTO_CLANG_THIN=n
CONFIG_CRYPTO_LIB_AES_ARCH=n
CONFIG_DRM_DISPLAY_HELPER=n
CONFIG_KEXEC=n
CONFIG_IP_MULTICAST=n
CONFIG_GCC_ASM_GOTO_OUTPUT_BROKEN=n
CONFIG_WLAN_VENDOR_MICROCHIP=n
CONFIG_HAVE_KERNEL_LZMA=n
CONFIG_SERIAL_8250_DMA=n
CONFIG_HAS_IOPORT_MAP=n
CONFIG_PNP=n
CONFIG_ELFCORE=n
CONFIG_HAVE_FUNCTION_ERROR_INJECTION=n
CONFIG_AUDIT_GENERIC=n
CONFIG_SND_SEQ_HRTIMER_DEFAULT=n
CONFIG_CC_CAN_LINK=n
CONFIG_BLK_CGROUP_IOLATENCY=n
CONFIG_HID_SUPPORT=n
CONFIG_NET_CLS_CGROUP=n
CONFIG_BLK_DEV_BSG_COMMON=n
CONFIG_QUOTACTL=n
CONFIG_RANDSTRUCT_NONE=n
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_DIRECT_CALLS=n
CONFIG_SCSI_CONSTANTS=n
CONFIG_PM_TRACE_RTC=n
CONFIG_PAGE_POOL=n
CONFIG_HOTPLUG_CORE_SYNC_DEAD=n
CONFIG_CFG80211_USE_KERNEL_REGDB_KEYS=n
CONFIG_NO_HZ=n
CONFIG_M686=n
CONFIG_MEMFD_CREATE=n
CONFIG_SYSTEM_DATA_VERIFICATION=n
CONFIG_EXT4_FS=n
CONFIG_PM_SLEEP=n
CONFIG_HID_SUNPLUS=n
CONFIG_RTC_MC146818_LIB=n
CONFIG_FUTEX=n
CONFIG_NET=n
CONFIG_RUNTIME_TESTING_MENU=n
CONFIG_CRYPTO_SIG2=n
CONFIG_VIRTIO_CONSOLE=n
CONFIG_ARCH_HAS_SET_DIRECT_MAP=n
CONFIG_BUILDTIME_TABLE_SORT=n
CONFIG_TIGON3_HWMON=n
CONFIG_NEED_PER_CPU_EMBED_FIRST_CHUNK=n
CONFIG_ACPI_DOCK=n
CONFIG_SND_TIMER=n
CONFIG_MD_AUTODETECT=n
CONFIG_VM_EVENT_COUNTERS=n
CONFIG_TASK_IO_ACCOUNTING=n
CONFIG_PCI_MMCONFIG=n
CONFIG_GENERIC_ALLOCATOR=n
CONFIG_NET_VENDOR_VIA=n
CONFIG_X86_16BIT=n
