CONFIG_KEYBOARD_CROS_EC=n
CONFIG_ARM64_ERRATUM_2966298=n
CONFIG_SND_SOC_QDSP6_APM=n
CONFIG_CLK_RENESAS_DIV6=n
CONFIG_ROCKCHIP_VOP2=n
CONFIG_PATA_OF_PLATFORM=n
CONFIG_ARCH_WANT_DEFAULT_BPF_JIT=n
CONFIG_I2C_BCM_IPROC=n
CONFIG_ARMADA_AP806_SYSCON=n
CONFIG_RANDSTRUCT_NONE=n
CONFIG_CPUFREQ_DT_PLATDEV=n
CONFIG_MLX4_EN=n
CONFIG_AHCI_DWC=n
CONFIG_TTY=n
CONFIG_PHY_MIXEL_MIPI_DPHY=n
CONFIG_HAVE_C_RECORDMCOUNT=n
CONFIG_NET_EGRESS=n
CONFIG_MVPP2=n
CONFIG_SPRD_COMMON_CLK=n
CONFIG_COMMON_CLK_MT8195_SCP_ADSP=n
CONFIG_ARCH_NPCM=n
CONFIG_ARCH_RENESAS=n
CONFIG_SND_SOC_MT8188=n
CONFIG_BT_HCIUART_BCM=n
CONFIG_SND_SOC_X1E80100=n
CONFIG_GENERIC_NET_UTILS=n
CONFIG_RESET_IMX7=n
CONFIG_DW_WATCHDOG=n
CONFIG_EC_ACER_ASPIRE1=n
CONFIG_HAVE_POSIX_CPU_TIMERS_TASK_WORK=n
CONFIG_OMAP_DM_TIMER=n
CONFIG_BLK_DEV_BSGLIB=n
CONFIG_VIDEO_IMX8_JPEG=n
CONFIG_I2C_EXYNOS5=n
CONFIG_HAS_DMA=n
CONFIG_SOC_BUS=n
CONFIG_ZYNQMP_IPI_MBOX=n
CONFIG_GARP=n
CONFIG_ROCKCHIP_DW_MIPI_DSI=n
CONFIG_I2C_HID_ACPI=n
CONFIG_SM_CAMCC_6350=n
CONFIG_FONT_SUPPORT=n
CONFIG_USB_CHIPIDEA_HOST=n
CONFIG_COMMON_CLK_MT8188_VENCSYS=n
CONFIG_HAVE_HW_BREAKPOINT=n
CONFIG_REGULATOR_MT6397=n
CONFIG_PHY_MVEBU_A3700_UTMI=n
CONFIG_UBIFS_FS_LZO=n
CONFIG_ARCH_HIBERNATION_HEADER=n
CONFIG_MDIO_CAVIUM=n
CONFIG_HAVE_GENERIC_VDSO=n
CONFIG_WLAN_VENDOR_REALTEK=n
CONFIG_CLK_GLYMUR_TCSRCC=n
CONFIG_SM_GCC_8250=n
CONFIG_NET_VENDOR_CISCO=n
CONFIG_COMMON_CLK_MT8195=n
CONFIG_TI_SCI_CLK=n
CONFIG_DMA_ACPI=n
CONFIG_COMMON_CLK_MT8183_CAMSYS=n
CONFIG_MMC_BCM2835=n
CONFIG_USB_BELKIN=n
CONFIG_COMMON_CLK_PWM=n
CONFIG_SERIAL_MCTRL_GPIO=n
CONFIG_NET_VENDOR_FUNGIBLE=n
CONFIG_BUFFER_HEAD=n
CONFIG_RASPBERRYPI_POWER=n
CONFIG_DRM_DISPLAY_HELPER=n
CONFIG_PINCTRL_MTK=n
CONFIG_USB_F_SERIAL=n
CONFIG_MLX5_BRIDGE=n
CONFIG_PCI_MSI=n
CONFIG_ARCH_MVEBU=n
CONFIG_BLOCK=n
CONFIG_SND_SOC_FSL_UTILS=n
CONFIG_SND_SPI=n
CONFIG_CRYPTO_DEV_ZYNQMP_SHA3=n
CONFIG_ACPI_HMAT=n
CONFIG_DRM_DISPLAY_DP_HELPER=n
CONFIG_NFC_NXP_NCI_I2C=n
CONFIG_PCI_MESON=n
CONFIG_BT=n
CONFIG_USB_STORAGE=n
CONFIG_CAN_RCAR=n
CONFIG_DRM_ETNAVIV_THERMAL=n
CONFIG_PWM_XILINX=n
CONFIG_SND_SOC_RZ=n
CONFIG_REBOOT_MODE=n
CONFIG_SND_SOC_QDSP6_AFE_DAI=n
CONFIG_HAVE_ARCH_KASAN_SW_TAGS=n
CONFIG_COMMON_CLK_MT6779=n
CONFIG_CORESIGHT_SINK_ETBV10=n
CONFIG_RANDOMIZE_MODULE_REGION_FULL=n
CONFIG_DRM_RCAR_USE_LVDS=n
CONFIG_MTK_LVTS_THERMAL=n
CONFIG_POWER_SUPPLY_HWMON=n
CONFIG_DRM_PANEL=n
CONFIG_ARCH_TESLA_FSD=n
CONFIG_MEMORY_HOTREMOVE=n
CONFIG_CRYPTO_HASH=n
CONFIG_MUTEX_SPIN_ON_OWNER=n
CONFIG_WLAN_VENDOR_RSI=n
CONFIG_GPIO_TPS65219=n
CONFIG_DRM_MESON=n
CONFIG_XZ_DEC_SPARC=n
CONFIG_CRYPTO_LIB_SHA256_ARCH=n
CONFIG_ARCH_USE_SYM_ANNOTATIONS=n
CONFIG_SYSCTL_EXCEPTION_TRACE=n
CONFIG_PCI_ECAM=n
CONFIG_CGROUPS=n
CONFIG_DRM_PANEL_HIMAX_HX83112B=n
CONFIG_COMMON_CLK_MT8195_VDECSYS=n
CONFIG_KCMP=n
CONFIG_USB_SERIAL=n
CONFIG_I2C_GPIO=n
CONFIG_MXC_CLK_SCU=n
CONFIG_USB_XHCI_RZV2M=n
CONFIG_GPIO_VF610=n
CONFIG_COMMON_CLK_MT8173=n
CONFIG_PINCTRL_SUN50I_A64=n
CONFIG_QCOM_EMAC=n
CONFIG_PINCTRL_MSM8976=n
CONFIG_VIRTIO_BLK=n
CONFIG_VT_CONSOLE=n
CONFIG_SYSC_R8A77965=n
CONFIG_DRM_RZG2L_MIPI_DSI=n
CONFIG_BRCMFMAC_SDIO=n
CONFIG_REGMAP_SLIMBUS=n
CONFIG_QCOM_SPM=n
CONFIG_MTD_OF_PARTS_BCM4908=n
CONFIG_USB_CONFIGFS_SERIAL=n
CONFIG_CLK_R9A08G045=n
CONFIG_SYSC_RCAR_GEN4=n
CONFIG_FB_DEFERRED_IO=n
CONFIG_SYS_R9A09G047=n
CONFIG_ARM_ARCH_TIMER_EVTSTREAM=n
CONFIG_NET_VENDOR_CORTINA=n
CONFIG_PHY_RCAR_GEN3_USB2=n
CONFIG_SENSORS_AMC6821=n
CONFIG_RTC_DRV_ISL1208=n
CONFIG_EXYNOS_PMU=n
CONFIG_PSTORE_RAM=n
CONFIG_NF_LOG_IPV6=n
CONFIG_NET_VENDOR_INTEL=n
CONFIG_NETFILTER_XT_MATCH_IPVS=n
CONFIG_SND_AUDIO_GRAPH_CARD=n
CONFIG_SERIAL_IMX=n
CONFIG_SECURITY=n
CONFIG_ARCH_ROCKCHIP=n
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_ARGS=n
CONFIG_INTEL_STRATIX10_SERVICE=n
CONFIG_PHY_HISI_INNO_USB2=n
CONFIG_NFS_V4_0=n
CONFIG_EFI_RUNTIME_WRAPPERS=n
CONFIG_SUN8I_R_CCU=n
CONFIG_XILINX_WINDOW_WATCHDOG=n
CONFIG_PM_DEVFREQ_EVENT=n
CONFIG_DRM_IMX8MP_DW_HDMI_BRIDGE=n
CONFIG_MD_BITMAP_FILE=n
CONFIG_STAGING_MEDIA=n
CONFIG_RESET_SIMPLE=n
CONFIG_SCSI_COMMON=n
CONFIG_NET_VENDOR_ATHEROS=n
CONFIG_ACPI_THERMAL=n
CONFIG_PINCTRL_TEGRA_XUSB=n
CONFIG_PCIE_ROCKCHIP_DW_HOST=n
CONFIG_PCIE_LAYERSCAPE_GEN4=n
CONFIG_CAN_DEV=n
CONFIG_IWLWIFI_OPMODE_MODULAR=n
CONFIG_QCOM_PBS=n
CONFIG_SND_SOC_WCD938X_SDW=n
CONFIG_SERIAL_SAMSUNG=n
CONFIG_TASKS_TRACE_RCU=n
CONFIG_GPIO_DAVINCI=n
CONFIG_SH_TIMER_TMU=n
CONFIG_COMMON_CLK_MT8183_MMSYS=n
CONFIG_NVIDIA_CARMEL_CNP_ERRATUM=n
CONFIG_ARM_SPE_PMU=n
CONFIG_KVM_GUEST_MEMFD=n
CONFIG_IRQ_MSI_IOMMU=n
CONFIG_SUNXI_WATCHDOG=n
CONFIG_MTD_MAP_BANK_WIDTH_2=n
CONFIG_BLK_DEV_LOOP=n
CONFIG_SERIAL_8250_BCM2835AUX=n
CONFIG_ARCH_BINFMT_ELF_STATE=n
CONFIG_USE_PERCPU_NUMA_NODE_ID=n
CONFIG_DRM_MSM_KMS_FBDEV=n
CONFIG_TRANSPARENT_HUGEPAGE_ALWAYS=n
CONFIG_ARCH_LG1K=n
CONFIG_IP_PNP_DHCP=n
CONFIG_NET_SELFTESTS=n
CONFIG_PWM_RENESAS_RZG2L_GPT=n
CONFIG_PINCTRL_MESON=n
CONFIG_ARCH_R9A07G043=n
CONFIG_SM_TCSRCC_8650=n
CONFIG_RZT2H_ADC=n
CONFIG_NEED_SG_DMA_LENGTH=n
CONFIG_SND_SOC_TLV320AIC32X4=n
CONFIG_SOC_IMX9=n
CONFIG_FW_LOADER_PAGED_BUF=n
CONFIG_VIDEO_IR_I2C=n
CONFIG_PHY_UNIPHIER_USB2=n
CONFIG_MFD_MACSMC=n
CONFIG_RENESAS_OSTM=n
CONFIG_PINCTRL_MT8192=n
CONFIG_SND_SOC_LPASS_RX_MACRO=n
CONFIG_INTERCONNECT_QCOM=n
CONFIG_IR_GPIO_CIR=n
CONFIG_SERIAL_OF_PLATFORM=n
CONFIG_DRM_PANEL_EDP=n
CONFIG_SND_SOC_SM8250=n
CONFIG_COMMON_CLK_HI3559A=n
CONFIG_FWNODE_MDIO=n
CONFIG_BLK_DEBUG_FS=n
CONFIG_RTC_HCTOSYS=n
CONFIG_VLAN_8021Q=n
CONFIG_INPUT_LEDS=n
CONFIG_PWM_SAMSUNG=n
CONFIG_VIDEO_DEV=n
CONFIG_FPGA_BRIDGE=n
CONFIG_BRCMFMAC=n
CONFIG_USB_HID=n
CONFIG_DEVPORT=n
CONFIG_SM_GCC_MILOS=n
CONFIG_HIGH_RES_TIMERS=n
CONFIG_HAVE_SAMPLE_FTRACE_DIRECT_MULTI=n
CONFIG_NF_CONNTRACK_EVENTS=n
CONFIG_SENSORS_ARM_SCPI=n
CONFIG_DRM_CDNS_DSI=n
CONFIG_SPI_ROCKCHIP_SFC=n
CONFIG_DRM_PANFROST=n
CONFIG_AUDIT=n
CONFIG_AX88796B_PHY=n
CONFIG_MOUSE_PS2_TRACKPOINT=n
CONFIG_INTERCONNECT_QCOM_KAANAPALI=n
CONFIG_SERIAL_SAMSUNG_CONSOLE=n
CONFIG_SNI_NETSEC=n
CONFIG_ARCH_INTEL_SOCFPGA=n
CONFIG_SENSORS_LM90=n
CONFIG_XILINX_DMA=n
CONFIG_TI_DAVINCI_MDIO=n
CONFIG_ARCH_HAS_SYSCALL_WRAPPER=n
CONFIG_SCSI_MOD=n
CONFIG_MOUSE_PS2_BYD=n
CONFIG_PHY_PACKAGE=n
CONFIG_GPIO_PL061=n
CONFIG_COMMON_CLK_MT8192_VENCSYS=n
CONFIG_SM_GCC_4450=n
CONFIG_USB_ULPI=n
CONFIG_DST_CACHE=n
CONFIG_COMMON_CLK_MT8192_AUDSYS=n
CONFIG_PHY_QCOM_USB_SNPS_FEMTO_V2=n
CONFIG_COMMON_CLK_ROCKCHIP=n
CONFIG_SND_SOC_SIMPLE_MUX=n
CONFIG_TIMER_PROBE=n
CONFIG_PAGE_COUNTER=n
CONFIG_MTK_DEVAPC=n
CONFIG_TI_AM335X_ADC=n
CONFIG_SM_GPUCC_8650=n
CONFIG_PHY_RCAR_GEN3_PCIE=n
CONFIG_HAVE_ARCH_KSTACK_ERASE=n
CONFIG_MMC_SDHI_INTERNAL_DMAC=n
CONFIG_WLAN_VENDOR_ZYDAS=n
CONFIG_I2C_TEGRA=n
CONFIG_AHCI_QORIQ=n
CONFIG_NET_VENDOR_ASIX=n
CONFIG_PINCTRL_ARMADA_AP806=n
CONFIG_SDM_GCC_845=n
CONFIG_GPIO_MVEBU=n
CONFIG_PINCTRL_MT2712=n
CONFIG_GENERIC_ARCH_TOPOLOGY=n
CONFIG_CRYPTO_DEV_FSL_CAAM_AHASH_API_DESC=n
CONFIG_PCI_HISI=n
CONFIG_LIBFDT=n
CONFIG_ATA_ACPI=n
CONFIG_CRYPTO_HMAC=n
CONFIG_HAVE_PCI=n
CONFIG_I2C_DESIGNWARE_PLATFORM=n
CONFIG_ARCH_LAYERSCAPE=n
CONFIG_MEDIA_PLATFORM_SUPPORT=n
CONFIG_EDAC_SUPPORT=n
CONFIG_COMMON_CLK_MT8183_VDECSYS=n
CONFIG_GPIO_GENERIC_PLATFORM=n
CONFIG_MTD_CFI_UTIL=n
CONFIG_HW_RANDOM_MTK=n
CONFIG_RTC_INTF_PROC=n
CONFIG_BALLOON=n
CONFIG_XEN_EFI=n
CONFIG_MTD_NAND_BRCMNAND_BCMBCA=n
CONFIG_QCOM_HIDMA_MGMT=n
CONFIG_SERIAL_SH_SCI_DMA=n
CONFIG_NET_DSA_TAG_OCELOT=n
CONFIG_ARM_MEDIATEK_CPUFREQ=n
CONFIG_PAGE_POOL_STATS=n
CONFIG_FB_CFB_COPYAREA=n
CONFIG_SDM_DISPCC_845=n
CONFIG_TCG_TIS_SPI=n
CONFIG_FS_STACK=n
CONFIG_REGULATOR_MT6315=n
CONFIG_PINCTRL_S700=n
CONFIG_PINCTRL_MESON_S4=n
