CONFIG_HIBERNATION_COMP_LZO=n
CONFIG_IP_MROUTE=n
CONFIG_PT_RECLAIM=n
CONFIG_SCSI_MOD=n
CONFIG_CRYPTO_MANAGER2=n
CONFIG_USB_DEFAULT_PERSIST=n
CONFIG_YENTA_O2=n
CONFIG_SCSI_VIRTIO=n
CONFIG_CRYPTO_LIB_BLAKE2S_ARCH=n
CONFIG_NET_VENDOR_DAVICOM=n
CONFIG_GPU_BUDDY=n
CONFIG_NET_VENDOR_INTEL=n
CONFIG_SERIAL_CORE=n
CONFIG_VIRTIO_NET=n
CONFIG_BLK_DEV_MD=n
CONFIG_KCMP=n
CONFIG_CC_NO_ARRAY_BOUNDS=n
CONFIG_USB_HID=n
CONFIG_STRICT_MODULE_RWX=n
CONFIG_IPV6_SIT=n
CONFIG_INTEL_TCC=n
CONFIG_X86=n
CONFIG_ARCH_MIGHT_HAVE_ACPI_PDC=n
CONFIG_GENERIC_IOMAP=n
CONFIG_HAVE_INTEL_TXT=n
CONFIG_NET_IP_TUNNEL=n
CONFIG_GENERIC_CLOCKEVENTS_COUPLED_INLINE=n
CONFIG_KPROBE_EVENTS=n
CONFIG_NEED_PER_CPU_EMBED_FIRST_CHUNK=n
CONFIG_BLK_MQ_STACKING=n
CONFIG_CC_HAS_NO_PROFILE_FN_ATTR=n
CONFIG_VT_CONSOLE_SLEEP=n
CONFIG_HID_PETALYNX=n
CONFIG_CPU_FREQ_GOV_SCHEDUTIL=n
CONFIG_XZ_DEC_BCJ=n
CONFIG_X86_REQUIRED_FEATURE_XMM=n
CONFIG_INET6_ESP=n
CONFIG_SERIAL_8250_DMA=n
CONFIG_ACPI_HOTPLUG_IOAPIC=n
CONFIG_FW_CACHE=n
CONFIG_HAVE_PV_STEAL_CLOCK_GEN=n
CONFIG_TIGON3_HWMON=n
CONFIG_RFS_ACCEL=n
CONFIG_GENERIC_SYSCALL=n
CONFIG_IO_DELAY_0X80=n
CONFIG_NETFILTER_XT_TARGET_NFLOG=n
CONFIG_ACPI_BUTTON=n
CONFIG_ARCH_SUPPORTS_RT=n
CONFIG_HIBERNATE_CALLBACKS=n
CONFIG_MIGRATION=n
CONFIG_ZSTD_COMMON=n
CONFIG_IP_MULTIPLE_TABLES=n
CONFIG_DM_MIRROR=n
CONFIG_CPU_FREQ_DEFAULT_GOV_USERSPACE=n
CONFIG_TTY=n
CONFIG_GENERIC_ISA_DMA=n
CONFIG_LD_IS_BFD=n
CONFIG_NET_VENDOR_NATSEMI=n
CONFIG_IP6_NF_IPTABLES=n
CONFIG_GENERIC_IRQ_MIGRATION=n
CONFIG_MODULE_UNLOAD=n
CONFIG_FIX_EARLYCON_MEM=n
CONFIG_UNIX=n
CONFIG_ZSTD_DECOMPRESS=n
CONFIG_SIGNALFD=n
CONFIG_FIRMWARE_MEMMAP=n
CONFIG_SLUB_DEBUG=n
CONFIG_HAVE_ARCH_WITHIN_STACK_FRAMES=n
CONFIG_FUNCTION_ALIGNMENT_4B=n
CONFIG_IP_PNP_RARP=n
CONFIG_SUNRPC=n
CONFIG_NET_VENDOR_EZCHIP=n
CONFIG_ARCH_SUPPORTS_KEXEC_HANDOVER=n
CONFIG_MITIGATION_SPECTRE_V1=n
CONFIG_SND=n
CONFIG_HAVE_KLP_BUILD=n
CONFIG_HWMON=n
CONFIG_ARCH_WANTS_DYNAMIC_TASK_STRUCT=n
CONFIG_POWER_SUPPLY_HWMON=n
CONFIG_EFI_HANDOVER_PROTOCOL=n
CONFIG_CRYPTO_LIB_SHA256_ARCH=n
CONFIG_ACPI_CONTAINER=n
CONFIG_X86_THERMAL_VECTOR=n
CONFIG_LOCKD=n
CONFIG_PREFIX_SYMBOLS=n
CONFIG_DRM_KMS_HELPER=n
CONFIG_IP_MULTICAST=n
CONFIG_XFRM_AH=n
CONFIG_CRYPTO_HW=n
CONFIG_CRYPTO_LIB_AES=n
CONFIG_MPILIB=n
CONFIG_ACPI_MDIO=n
CONFIG_DEBUG_WX=n
CONFIG_I2C_BOARDINFO=n
CONFIG_MODULE_FORCE_UNLOAD=n
CONFIG_BLK_DEV_IO_TRACE=n
CONFIG_NEED_SG_DMA_LENGTH=n
CONFIG_X86_DISABLED_FEATURE_FRED=n
CONFIG_ARCH_HIBERNATION_HEADER=n
CONFIG_DECOMPRESS_XZ=n
CONFIG_SPLIT_PTE_PTLOCKS=n
CONFIG_YENTA_TI=n
CONFIG_ASYMMETRIC_KEY_TYPE=n
CONFIG_CRYPTO_LIB_SHA256=n
CONFIG_NETFILTER_XT_TARGET_SECMARK=n
CONFIG_HAVE_USER_RETURN_NOTIFIER=n
CONFIG_NET_VENDOR_SEEQ=n
CONFIG_HAVE_HARDLOCKUP_DETECTOR_PERF=n
CONFIG_PNP=n
CONFIG_GENERIC_PENDING_IRQ=n
CONFIG_ACPI_PCC=n
CONFIG_DEVTMPFS_MOUNT=n
CONFIG_GENERIC_MSI_IRQ=n
CONFIG_FUNCTION_ALIGNMENT_16B=n
CONFIG_DEBUG_FS_ALLOW_ALL=n
CONFIG_HAVE_ALIGNED_STRUCT_PAGE=n
CONFIG_VT_CONSOLE=n
CONFIG_HAVE_GENERIC_TIF_BITS=n
CONFIG_KEYBOARD_ATKBD=n
CONFIG_HAVE_UNSTABLE_SCHED_CLOCK=n
CONFIG_DEVTMPFS=n
CONFIG_HID_SONY=n
CONFIG_NET_VENDOR_EMULEX=n
CONFIG_NF_LOG_IPV6=n
CONFIG_ARCH_HAS_ELFCORE_COMPAT=n
CONFIG_ARCH_SUPPORTS_MEMORY_FAILURE=n
CONFIG_SERIAL_8250_DETECT_IRQ=n
CONFIG_SND_SEQ_DEVICE=n
CONFIG_ASYNC_KERNEL_PGTABLE_FREE=n
CONFIG_JOLIET=n
CONFIG_NET_VENDOR_8390=n
CONFIG_JBD2=n
CONFIG_CROSS_MEMORY_ATTACH=n
CONFIG_NET_VENDOR_GOOGLE=n
CONFIG_X86_MPPARSE=n
CONFIG_HAVE_LIVEPATCH=n
CONFIG_PROVIDE_OHCI1394_DMA_INIT=n
CONFIG_FAT_FS=n
CONFIG_TCP_CONG_ADVANCED=n
CONFIG_CRYPTO_ECHAINIV=n
CONFIG_LOCKDEP_SUPPORT=n
CONFIG_MMCONF_FAM10H=n
CONFIG_CGROUP_PIDS=n
CONFIG_PAGE_SIZE_LESS_THAN_64KB=n
CONFIG_I2C_SMBUS=n
CONFIG_PAGE_MAPCOUNT=n
CONFIG_NET_VENDOR_SYNOPSYS=n
CONFIG_AS_WRUSS=n
CONFIG_HAVE_SAMPLE_FTRACE_DIRECT=n
CONFIG_KERNEL_GZIP=n
CONFIG_FHANDLE=n
CONFIG_OBJTOOL=n
CONFIG_PNFS_FLEXFILE_LAYOUT=n
CONFIG_VIRTIO_MENU=n
CONFIG_ACPI_TABLE_UPGRADE=n
CONFIG_NETLABEL=n
CONFIG_ARCH_HAS_NMI_SAFE_THIS_CPU_OPS=n
CONFIG_X86_DISABLED_FEATURE_USER_SHSTK=n
CONFIG_MITIGATION_PAGE_TABLE_ISOLATION=n
CONFIG_ARCH_HAS_KERNEL_FPU_SUPPORT=n
CONFIG_EFI_RUNTIME_MAP=n
CONFIG_CRC32=n
CONFIG_CLKBLD_I8253=n
CONFIG_HIDRAW=n
CONFIG_HAVE_PERF_USER_STACK_DUMP=n
CONFIG_ACPI_SLEEP=n
CONFIG_HAVE_GIGANTIC_FOLIOS=n
CONFIG_WATCHDOG_HANDLE_BOOT_ENABLED=n
CONFIG_ARCH_HAS_ADD_PAGES=n
CONFIG_XFRM_ESP=n
CONFIG_IOMMU_MM_DATA=n
CONFIG_X86_ACPI_CPUFREQ_CPB=n
CONFIG_CC_HAS_IBT=n
CONFIG_IO_URING_ZCRX=n
CONFIG_ETHTOOL_NETLINK=n
CONFIG_BQL=n
CONFIG_XFRM_ALGO=n
CONFIG_NF_CT_NETLINK=n
CONFIG_HID_TOPSEED=n
CONFIG_NF_CONNTRACK_IRC=n
CONFIG_VIRTIO_PCI_LIB_LEGACY=n
CONFIG_NF_CONNTRACK=n
CONFIG_TMPFS_XATTR=n
CONFIG_CRYPTO_SHA256=n
CONFIG_EXT4_USE_FOR_EXT2=n
CONFIG_NVRAM=n
CONFIG_HAVE_PERF_REGS=n
CONFIG_ARCH_WANT_HUGE_PMD_SHARE=n
CONFIG_EEEPC_LAPTOP=n
CONFIG_ARCH_HAS_CPU_ATTACK_VECTORS=n
CONFIG_GENERIC_CLOCKEVENTS_COUPLED=n
CONFIG_USB_PRINTER=n
CONFIG_MAC_EMUMOUSEBTN=n
CONFIG_WLAN_VENDOR_REALTEK=n
CONFIG_NFS_FS=n
CONFIG_HAVE_ARCH_SECCOMP=n
CONFIG_ACPI_PLATFORM_PROFILE=n
CONFIG_X86_AMD_PSTATE=n
CONFIG_X86_DISABLED_FEATURE_TDX_GUEST=n
CONFIG_BROADCAST_TLB_FLUSH=n
CONFIG_DMAR_TABLE=n
CONFIG_ARCH_HAS_NON_OVERLAPPING_ADDRESS_SPACE=n
CONFIG_X86_REROUTE_FOR_BROKEN_BOOT_IRQS=n
CONFIG_SWAP=n
CONFIG_OLD_SIGSUSPEND3=n
CONFIG_VMAP_PFN=n
CONFIG_INPUT_JOYSTICK=n
CONFIG_EXT4_FS_SECURITY=n
CONFIG_PTDUMP=n
CONFIG_GRACE_PERIOD=n
CONFIG_CRC32_ARCH=n
CONFIG_VIRTIO_PCI_ADMIN_LEGACY=n
CONFIG_NET_PTP_CLASSIFY=n
CONFIG_INOTIFY_USER=n
CONFIG_GENERIC_CPU_AUTOPROBE=n
CONFIG_ARCH_ENABLE_MEMORY_HOTPLUG=n
CONFIG_ACPI_NHLT=n
CONFIG_DMADEVICES=n
CONFIG_HRTIMER_REARM_DEFERRED=n
CONFIG_UTS_NS=n
CONFIG_SERIAL_8250_CONSOLE=n
CONFIG_ARCH_HAS_CACHE_LINE_SIZE=n
CONFIG_NET_VENDOR_FUNGIBLE=n
CONFIG_HAVE_VIRT_CPU_ACCOUNTING_GEN=n
CONFIG_SOUND=n
CONFIG_BSD_PROCESS_ACCT=n
CONFIG_STACKTRACE=n
CONFIG_GCC_ASM_GOTO_OUTPUT_BROKEN=n
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_ARGS=n
CONFIG_PCMCIA_LOAD_CIS=n
CONFIG_ARCH_SUPPORTS_KEXEC=n
CONFIG_SND_INTEL_DSP_CONFIG=n
CONFIG_AMD_NB=n
CONFIG_ARCH_SUPPORTS_DEBUG_PAGEALLOC=n
CONFIG_ARCH_PROC_KCORE_TEXT=n
CONFIG_X86_DEBUG_FPU=n
CONFIG_TMPFS_POSIX_ACL=n
CONFIG_MQ_IOSCHED_DEADLINE=n
CONFIG_HUGETLB_PAGE=n
CONFIG_PTP_1588_CLOCK=n
CONFIG_PCI_DIRECT=n
CONFIG_MAGIC_SYSRQ=n
CONFIG_NOINSTR_VALIDATION=n
CONFIG_NF_REJECT_IPV4=n
CONFIG_ARCH_WANT_COMPAT_IPC_PARSE_VERSION=n
CONFIG_X86_REQUIRED_FEATURE_FXSR=n
CONFIG_IPV6=n
CONFIG_ARCH_SUPPORTS_SCHED_CLUSTER=n
CONFIG_PREEMPT_LAZY=n
CONFIG_AIO=n
CONFIG_ACPI_PROCESSOR_IDLE=n
CONFIG_PREEMPT_RCU=n
CONFIG_BLK_DEV_LOOP=n
CONFIG_VIRTIO_CONSOLE=n
CONFIG_ARCH_WANT_DEFAULT_BPF_JIT=n
CONFIG_ACPI_SPCR_TABLE=n
CONFIG_CRC16=n
CONFIG_MUTEX_SPIN_ON_OWNER=n
CONFIG_SPARSEMEM_VMEMMAP_ENABLE=n
CONFIG_CRC_OPTIMIZATIONS=n
CONFIG_VIRTIO=n
CONFIG_CRYPTO_AKCIPHER2=n
CONFIG_AMD_NUMA=n
CONFIG_MOUSE_PS2_CYPRESS=n
CONFIG_INPUT_MISC=n
CONFIG_DECOMPRESS_LZO=n
CONFIG_ARCH_HAS_ACPI_TABLE_UPGRADE=n
CONFIG_NET_VENDOR_CADENCE=n
CONFIG_CRYPTO_SKCIPHER=n
CONFIG_CC_HAS_ZERO_CALL_USED_REGS=n
CONFIG_BLK_CGROUP_IOPRIO=n
CONFIG_HAVE_IRQ_EXIT_ON_IRQ_STACK=n
CONFIG_INET=n
CONFIG_FS_IOMAP=n
CONFIG_IA32_FEAT_CTL=n
CONFIG_GENERIC_IRQ_SHOW=n
CONFIG_ARCH_SUPPORTS_KEXEC_BZIMAGE_VERIFY_SIG=n
CONFIG_CC_HAS_NAMED_AS=n
CONFIG_ARCH_HAS_SET_MEMORY=n
CONFIG_NET_VENDOR_3COM=n
CONFIG_NET_NS=n
CONFIG_DRM_I915_COMPRESS_ERROR=n
CONFIG_ARCH_SUPPORTS_PER_VMA_LOCK=n
CONFIG_USB_SUPPORT=n
CONFIG_INPUT_EVDEV=n
CONFIG_CRYPTO_HMAC=n
CONFIG_INPUT_SPARSEKMAP=n
CONFIG_NET_VENDOR_MELLANOX=n
CONFIG_ARCH_HAS_UACCESS_FLUSHCACHE=n
CONFIG_X86_CPUID=n
CONFIG_CRYPTO_HASH2=n
CONFIG_USB=n
CONFIG_CGROUP_FREEZER=n
CONFIG_HAVE_DMA_CONTIGUOUS=n
CONFIG_HAVE_ARCH_HUGE_VMALLOC=n
CONFIG_COREDUMP=n
CONFIG_DMI=n
CONFIG_POSIX_MQUEUE_SYSCTL=n
CONFIG_DRM_DISPLAY_DP_HELPER=n
CONFIG_X86_DISABLED_FEATURE_CENTAUR_MCR=n
