CONFIG_UNWIND_USER=n
CONFIG_HAVE_ARCH_WITHIN_STACK_FRAMES=n
CONFIG_PTP_1588_CLOCK_VMCLOCK=n
CONFIG_SYSVIPC_COMPAT=n
CONFIG_RD_ZSTD=n
CONFIG_X86_MCE_THRESHOLD=n
CONFIG_XXHASH=n
CONFIG_X86_DIRECT_GBPAGES=n
CONFIG_ARCH_HAS_PKEYS=n
CONFIG_NVMEM_SYSFS=n
CONFIG_IA32_EMULATION=n
CONFIG_BLOCK_LEGACY_AUTOLOAD=n
CONFIG_NF_NAT_SIP=n
CONFIG_CC_HAS_NAMED_AS_FIXED_SANITIZERS=n
CONFIG_ACPI_SLEEP=n
CONFIG_CALL_PADDING=n
CONFIG_NF_CONNTRACK_SIP=n
CONFIG_NF_REJECT_IPV4=n
CONFIG_WLAN_VENDOR_BROADCOM=n
CONFIG_CHR_DEV_SG=n
CONFIG_ARCH_WANT_HUGETLB_VMEMMAP_PREINIT=n
CONFIG_KERNFS=n
CONFIG_PCI_MMCONFIG=n
CONFIG_USB_DEFAULT_PERSIST=n
CONFIG_CRYPTO_LIB_SHA1=n
CONFIG_FSNOTIFY=n
CONFIG_NET_VENDOR_MYRI=n
CONFIG_SERIAL_8250_RSA=n
CONFIG_CPUFREQ_ARCH_CUR_FREQ=n
CONFIG_FS_MBCACHE=n
CONFIG_ACPI_NUMA=n
CONFIG_MITIGATION_RFDS=n
CONFIG_ARCH_HAS_CPU_ATTACK_VECTORS=n
CONFIG_NET_VENDOR_SEEQ=n
CONFIG_PERF_EVENTS_INTEL_CSTATE=n
CONFIG_HAVE_ARCH_KASAN=n
CONFIG_EFI=n
CONFIG_FAIR_GROUP_SCHED=n
CONFIG_ARCH_HAS_DEBUG_VM_PGTABLE=n
CONFIG_CC_NO_ARRAY_BOUNDS=n
CONFIG_HIBERNATE_CALLBACKS=n
CONFIG_NET_VENDOR_CAVIUM=n
CONFIG_ARCH_ENABLE_HUGEPAGE_MIGRATION=n
CONFIG_XFRM_ALGO=n
CONFIG_NET_VENDOR_SYNOPSYS=n
CONFIG_GENERIC_CMOS_UPDATE=n
CONFIG_HAVE_PERF_USER_STACK_DUMP=n
CONFIG_AS_HAS_NON_CONST_ULEB128=n
CONFIG_EARLY_PRINTK_USB=n
CONFIG_PTP_1588_CLOCK_KVM=n
CONFIG_PTDUMP=n
CONFIG_RD_GZIP=n
CONFIG_SOCK_RX_QUEUE_MAPPING=n
CONFIG_BACKLIGHT_CLASS_DEVICE=n
CONFIG_VFAT_FS=n
CONFIG_SND_PCM_TIMER=n
CONFIG_HAVE_PV_STEAL_CLOCK_GEN=n
CONFIG_RFKILL=n
CONFIG_SERIAL_8250_DETECT_IRQ=n
CONFIG_HAVE_SETUP_PER_CPU_AREA=n
CONFIG_UNINLINE_SPIN_UNLOCK=n
CONFIG_THREAD_INFO_IN_TASK=n
CONFIG_LOCKD=n
CONFIG_SPARSEMEM_VMEMMAP_PREINIT=n
CONFIG_HAVE_REGS_AND_STACK_ACCESS_API=n
CONFIG_ARCH_HAS_ELF_RANDOMIZE=n
CONFIG_X86_BOOTPARAM_MEMORY_CORRUPTION_CHECK=n
CONFIG_SND_HWDEP=n
CONFIG_SERIO_SERPORT=n
CONFIG_NET_VENDOR_NI=n
CONFIG_CPU_SUP_AMD=n
CONFIG_SECCOMP_FILTER=n
CONFIG_ARCH_USE_MEMREMAP_PROT=n
CONFIG_MODULES_USE_ELF_RELA=n
CONFIG_DNOTIFY=n
CONFIG_IOMMU_SVA=n
CONFIG_EFI_MIXED=n
CONFIG_MITIGATION_SRSO=n
CONFIG_PATA_SCH=n
CONFIG_ARCH_WANT_HUGE_PMD_SHARE=n
CONFIG_EFI_ESRT=n
CONFIG_IRQ_DOMAIN=n
CONFIG_PROC_FS=n
CONFIG_FIX_EARLYCON_MEM=n
CONFIG_POSIX_TIMERS=n
CONFIG_SND_PCM=n
CONFIG_X86_INTEL_TSX_MODE_AUTO=n
CONFIG_NF_REJECT_IPV6=n
CONFIG_ARCH_SPARSEMEM_ENABLE=n
CONFIG_GROUP_SCHED_WEIGHT=n
CONFIG_CRYPTO_ALGAPI2=n
CONFIG_THERMAL_DEFAULT_GOV_STEP_WISE=n
CONFIG_RTC_INTF_DEV=n
CONFIG_DRM_VIRTIO_GPU=n
CONFIG_BLK_DEV_BSG=n
CONFIG_CGROUP_DEVICE=n
CONFIG_CPUSETS=n
CONFIG_NF_CONNTRACK_IRC=n
CONFIG_NET_VENDOR_RDC=n
CONFIG_X86_MPPARSE=n
CONFIG_NET_VENDOR_ATHEROS=n
CONFIG_BLOCK=n
CONFIG_HAVE_STATIC_CALL=n
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_REGS=n
CONFIG_ACPI_WMI=n
CONFIG_ARCH_SUPPORTS_INT128=n
CONFIG_X86_CMOV=n
CONFIG_COMPAT_OLD_SIGACTION=n
CONFIG_NF_NAT_IRC=n
CONFIG_BUFFER_HEAD=n
CONFIG_ETHERNET=n
CONFIG_HAVE_ARCH_THREAD_STRUCT_WHITELIST=n
CONFIG_INTEL_IOMMU=n
CONFIG_MOUSE_PS2_SYNAPTICS=n
CONFIG_HAVE_ARCH_JUMP_LABEL=n
CONFIG_HPET_TIMER=n
CONFIG_NET_VENDOR_HUAWEI=n
CONFIG_WLAN_VENDOR_ATMEL=n
CONFIG_ACPI_REV_OVERRIDE_POSSIBLE=n
CONFIG_SND_HRTIMER=n
CONFIG_ARCH_MHP_MEMMAP_ON_MEMORY_ENABLE=n
CONFIG_PHYS_ADDR_T_64BIT=n
CONFIG_DCACHE_WORD_ACCESS=n
CONFIG_ARCH_HAS_CPU_FINALIZE_INIT=n
CONFIG_RTC_SYSTOHC=n
CONFIG_MITIGATION_SSB=n
CONFIG_X86_X2APIC=n
CONFIG_HW_RANDOM=n
CONFIG_DEBUG_MISC=n
CONFIG_HAVE_HARDLOCKUP_DETECTOR_PERF=n
CONFIG_NET_VENDOR_ENGLEDER=n
CONFIG_HID_GYRATION=n
CONFIG_X86_HV_CALLBACK_VECTOR=n
CONFIG_PROC_VMCORE=n
CONFIG_ARCH_SUPPORTS_ATOMIC_RMW=n
CONFIG_ARCH_WANT_GENERAL_HUGETLB=n
CONFIG_ARCH_HAS_CPU_PASID=n
CONFIG_RTC_LIB=n
CONFIG_NFS_FS=n
CONFIG_ARCH_SPARSEMEM_DEFAULT=n
CONFIG_NETPOLL=n
CONFIG_GENERIC_ALLOCATOR=n
CONFIG_KCMP=n
CONFIG_MOUSE_PS2_SYNAPTICS_SMBUS=n
CONFIG_IP_PIMSM_V1=n
CONFIG_SYSCTL=n
CONFIG_QUEUED_RWLOCKS=n
CONFIG_SERIAL_CORE=n
CONFIG_STACKPROTECTOR=n
CONFIG_ACPI_VIDEO=n
CONFIG_HAVE_KERNEL_BZIP2=n
CONFIG_ARCH_HAS_UBSAN=n
CONFIG_HIGH_RES_TIMERS=n
CONFIG_CC_IS_GCC=n
CONFIG_HAS_SECURITY_AUDIT=n
CONFIG_NOP_TRACER=n
CONFIG_IP_MROUTE_COMMON=n
CONFIG_HAVE_ARCH_MMAP_RND_COMPAT_BITS=n
CONFIG_XFRM_AH=n
CONFIG_X86_IOPL_IOPERM=n
CONFIG_ARCH_HAS_UACCESS_FLUSHCACHE=n
CONFIG_HAVE_KCSAN_COMPILER=n
CONFIG_X86_DISABLED_FEATURE_FRED=n
CONFIG_VIRTIO_ANCHOR=n
CONFIG_HID_PID=n
CONFIG_HAVE_NMI=n
CONFIG_XARRAY_MULTI=n
CONFIG_P2SB=n
CONFIG_INTEL_TCC=n
CONFIG_PARAVIRT_CLOCK=n
CONFIG_WLAN_VENDOR_MEDIATEK=n
CONFIG_PM_TRACE=n
CONFIG_CRYPTO_LIB_AES_CTR=n
CONFIG_NET_TULIP=n
CONFIG_HAS_IOMEM=n
CONFIG_ACPI_PROCESSOR_IDLE=n
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_ARGS=n
CONFIG_USB_ANNOUNCE_NEW_DEVICES=n
CONFIG_DMA_ENGINE=n
CONFIG_TREE_SRCU=n
CONFIG_SYN_COOKIES=n
CONFIG_NET_VENDOR_EMULEX=n
CONFIG_KVFREE_RCU_BATCHED=n
CONFIG_CRC32_ARCH=n
CONFIG_GENERIC_BUG=n
CONFIG_HID_SUNPLUS=n
CONFIG_CC_HAS_ENTRY_PADDING=n
CONFIG_GENERIC_NET_UTILS=n
CONFIG_X86_KERNEL_IBT=n
CONFIG_FIB_RULES=n
CONFIG_HPET=n
CONFIG_DECOMPRESS_LZMA=n
CONFIG_SCSI_LOWLEVEL=n
CONFIG_IOMMU_DEFAULT_DMA_LAZY=n
CONFIG_ATA_VERBOSE_ERROR=n
CONFIG_X86_BUS_LOCK_DETECT=n
CONFIG_XZ_DEC_X86=n
CONFIG_KRETPROBE_ON_RETHOOK=n
CONFIG_THERMAL_GOV_STEP_WISE=n
CONFIG_NFS_DISABLE_UDP_SUPPORT=n
CONFIG_CONTEXT_TRACKING_IDLE=n
CONFIG_WLAN_VENDOR_QUANTENNA=n
CONFIG_DECOMPRESS_GZIP=n
CONFIG_WLAN_VENDOR_REALTEK=n
CONFIG_NET_VENDOR_MUCSE=n
CONFIG_HAVE_CMPXCHG_LOCAL=n
CONFIG_NET_VENDOR_DEC=n
CONFIG_SCSI_DMA=n
CONFIG_LZ4_COMPRESS=n
CONFIG_SKY2=n
CONFIG_KEXEC=n
CONFIG_DRM_CLIENT_SELECTION=n
CONFIG_VIRTIO_NET=n
CONFIG_USB_COMMON=n
CONFIG_PREEMPT_LAZY=n
CONFIG_WLAN_VENDOR_ST=n
CONFIG_PNFS_FLEXFILE_LAYOUT=n
CONFIG_CGROUP_SCHED=n
CONFIG_NFS_V4=n
CONFIG_NF_NAT_MASQUERADE=n
CONFIG_COREDUMP=n
CONFIG_XFRM_ESP=n
CONFIG_MTRR=n
CONFIG_EXCLUSIVE_SYSTEM_RAM=n
CONFIG_ACPI_THERMAL_LIB=n
CONFIG_DRM_I915_COMPRESS_ERROR=n
CONFIG_ACPI_I2C_OPREGION=n
CONFIG_HAVE_SYSCALL_TRACEPOINTS=n
CONFIG_ELFCORE=n
CONFIG_RATIONAL=n
CONFIG_BLK_CGROUP_IOLATENCY=n
CONFIG_VDSO_DATASTORE=n
CONFIG_CRC_CCITT=n
CONFIG_INET_TUNNEL=n
CONFIG_CRASH_HOTPLUG=n
CONFIG_ARCH_HIBERNATION_POSSIBLE=n
CONFIG_RTC_INTF_SYSFS=n
CONFIG_CRYPTO_HMAC=n
CONFIG_EVENTFD=n
CONFIG_ARCH_SUPPORTS_UPROBES=n
CONFIG_PM=n
CONFIG_NET_VENDOR_MICROSOFT=n
CONFIG_TRACING_SUPPORT=n
CONFIG_X86_AMD_PSTATE=n
CONFIG_HAVE_STACK_VALIDATION=n
CONFIG_X86_DISABLED_FEATURE_XENPV=n
CONFIG_GENERIC_IRQ_PROBE=n
CONFIG_RFS_ACCEL=n
CONFIG_CRYPTO=n
CONFIG_X86_MCE_AMD=n
CONFIG_NF_LOG_IPV4=n
CONFIG_NET_VENDOR_WANGXUN=n
CONFIG_SYNC_FILE=n
CONFIG_NET_VENDOR_AMAZON=n
CONFIG_SYSCTL_EXCEPTION_TRACE=n
CONFIG_USB_UHCI_HCD=n
CONFIG_HAVE_ARCH_HUGE_VMALLOC=n
CONFIG_GENERIC_EARLY_IOREMAP=n
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO_BARE=n
CONFIG_DEBUG_ENTRY=n
CONFIG_X86_64=n
CONFIG_HAVE_FTRACE_REGS_HAVING_PT_REGS=n
CONFIG_SPARSEMEM_EXTREME=n
CONFIG_PTP_1588_CLOCK_OPTIONAL=n
CONFIG_TIGON3_HWMON=n
CONFIG_SND_HDA_COMPONENT=n
CONFIG_HAVE_POSIX_CPU_TIMERS_TASK_WORK=n
CONFIG_MAC_EMUMOUSEBTN=n
CONFIG_FS_POSIX_ACL=n
CONFIG_USB_OHCI_HCD=n
CONFIG_HAVE_PCI=n
CONFIG_DMI=n
CONFIG_EFI_HANDOVER_PROTOCOL=n
CONFIG_USB_EHCI_PCI=n
CONFIG_ARCH_HAS_MEM_ENCRYPT=n
CONFIG_INTEGRITY=n
CONFIG_IRQ_FORCED_THREADING=n
CONFIG_HAVE_MOVE_PMD=n
CONFIG_SCREEN_INFO=n
CONFIG_CFG80211=n
CONFIG_PCMCIA=n
CONFIG_SND_INTEL_DSP_CONFIG=n
CONFIG_MSDOS_PARTITION=n
CONFIG_NETFILTER_NETLINK=n
CONFIG_CRYPTO_LIB_SHA512=n
CONFIG_NET_VENDOR_XIRCOM=n
CONFIG_HUGETLB_PMD_PAGE_TABLE_SHARING=n
CONFIG_CRYPTO_LZ4=n
CONFIG_SG_POOL=n
CONFIG_HAVE_FUTEX_ROBUST_UNLOCK=n
CONFIG_IP_MULTIPLE_TABLES=n
CONFIG_LD_ORPHAN_WARN=n
CONFIG_NETWORK_SECMARK=n
CONFIG_SECURITY_SELINUX=n
CONFIG_HID_TOPSEED=n
CONFIG_NET_VENDOR_TI=n
CONFIG_NET_VENDOR_REALTEK=n
CONFIG_BUILDTIME_TABLE_SORT=n
CONFIG_FW_LOADER=n
CONFIG_HAVE_KERNEL_GZIP=n
