CONFIG_CHARGER_BQ24735=y
CONFIG_TIMERLAT_TRACER=y
CONFIG_PINCTRL_MT7988=y
CONFIG_ZSTD_DECOMPRESS=y
CONFIG_MFD_88PM860X=y
CONFIG_CRYPTO_DEV_AMLOGIC_GXL=y
CONFIG_PWC_RZV2M=y
CONFIG_HAVE_GCC_PLUGINS=y
CONFIG_PINCTRL_IMX51=y
CONFIG_INITRAMFS_PRESERVE_MTIME=y
CONFIG_FB_IOMEM_FOPS=y
CONFIG_MFD_RN5T618=y
CONFIG_REGULATOR_ACT8865=y
CONFIG_CLK_R8A774B1=y
CONFIG_NVMEM=y
CONFIG_REGULATOR_TPS6594=y
CONFIG_IPMB_DEVICE_INTERFACE=y
CONFIG_ARCH_HAS_BINFMT_FLAT=y
CONFIG_EFI_GENERIC_STUB=y
CONFIG_PATA_FTIDE010=y
CONFIG_RDA_TIMER=y
CONFIG_RISCV_APLIC=y
CONFIG_PINCTRL_STM32F429=y
CONFIG_CPU_IDLE_MULTIPLE_DRIVERS=y
CONFIG_MFD_STW481X=y
CONFIG_COMMON_CLK_MEDIATEK=y
CONFIG_PHY_CYGNUS_PCIE=y
CONFIG_PINCTRL_CS47L92=y
CONFIG_CHARGER_RT9455=y
CONFIG_HAS_IOPORT=y
CONFIG_WM831X_BACKUP=y
CONFIG_PINCTRL_MT6397=y
CONFIG_FS_IOMAP=y
CONFIG_SERIAL_CORE_CONSOLE=y
CONFIG_I2C_MESON=y
CONFIG_CLK_INTEL_SOCFPGA=y
CONFIG_PINCTRL_NS=y
CONFIG_RESET_K230=y
CONFIG_RESET_MESON_AUX=y
CONFIG_CRYPTO=y
CONFIG_CLK_SIFIVE_PRCI=y
CONFIG_REGULATOR_TI_ABB=y
CONFIG_IMX_IRQSTEER=y
CONFIG_MTK_CMDQ=y
CONFIG_ASSOCIATIVE_ARRAY=y
CONFIG_NLS_ISO8859_7=y
CONFIG_PINCTRL_TEGRA186=y
CONFIG_ARCH_ENABLE_SPLIT_PMD_PTLOCK=y
CONFIG_PINCTRL_INGENIC=y
CONFIG_COMMON_CLK_MT8196_MMSYS=y
CONFIG_HW_RANDOM_BCM2835=y
CONFIG_DEBUG_INFO_COMPRESSED_NONE=y
CONFIG_PM_AUTOSLEEP=y
CONFIG_PAGE_POISONING=y
CONFIG_ACPI_REDUCED_HARDWARE_ONLY=y
CONFIG_XILINX_SDFEC=y
CONFIG_LEDS_LM3642=y
CONFIG_AHCI_CEVA=y
CONFIG_CRYPTO_SEQIV=y
CONFIG_MESON_EE_PM_DOMAINS=y
CONFIG_PINCTRL_VT8500=y
CONFIG_TEGRA210_ADMA=y
CONFIG_NVMEM_QCOM_SEC_QFPROM=y
CONFIG_CGROUP_FREEZER=y
CONFIG_BATTERY_DA9052=y
CONFIG_LOCK_DEBUGGING_SUPPORT=y
CONFIG_LEDS_BCM6358=y
CONFIG_VM_EVENT_COUNTERS=y
CONFIG_IMX_SCU=y
CONFIG_VIRTUALIZATION=y
CONFIG_FB_BROADSHEET=y
CONFIG_POWER_RESET_ODROID_GO_ULTRA_POWEROFF=y
CONFIG_COMMON_CLK_MT8183_MMSYS=y
CONFIG_FPGA_DFL=y
CONFIG_MFD_AS3722=y
CONFIG_INTEL_LDMA=y
CONFIG_MFD_RK8XX_I2C=y
CONFIG_INIT_STACK_NONE=y
CONFIG_SCSI_DH_EMC=y
CONFIG_MFD_MAX77620=y
CONFIG_ARCH_SUPPORTS_HUGETLBFS=y
CONFIG_POWER_RESET_OCELOT_RESET=y
CONFIG_PHY_PISTACHIO_USB=y
CONFIG_GDB_SCRIPTS=y
CONFIG_W1_SLAVE_DS28E04=y
CONFIG_CMODEL_MEDLOW=y
CONFIG_TASKS_TRACE_RCU=y
CONFIG_ADI_I3C_MASTER=y
CONFIG_CRYPTO_DEV_ATMEL_AUTHENC=y
CONFIG_QE_GPIO=y
CONFIG_ALTERA_PR_IP_CORE=y
CONFIG_HW_RANDOM=y
CONFIG_RISCV_ISA_VENDOR_EXT=y
CONFIG_ARCH_SUPPORTS_PAGE_TABLE_CHECK=y
CONFIG_BLK_DEV_BSG_COMMON=y
CONFIG_MULTIPLEXER=y
CONFIG_PINCTRL_MADERA=y
CONFIG_NLS_MAC_CELTIC=y
CONFIG_GENERIC_IRQ_MATRIX_ALLOCATOR=y
CONFIG_INTEL_IDMA64=y
CONFIG_POWER_RESET_BRCMSTB=y
CONFIG_NOTIFIER_ERROR_INJECTION=y
CONFIG_SOPHGO_CV1800B_DMAMUX=y
CONFIG_PINCTRL_ASPEED_G7_SOC1=y
CONFIG_MMU_NOTIFIER=y
CONFIG_CRYPTO_SHA3=y
CONFIG_TEE_DMABUF_HEAPS=y
CONFIG_ZONE_DMA32=y
CONFIG_HAVE_KVM_MSI=y
CONFIG_DMA_RESTRICTED_POOL=y
CONFIG_MFD_TI_AM335X_TSCADC=y
CONFIG_COMMON_CLK_MT8192_CAMSYS=y
CONFIG_REGULATOR_MAX77503=y
CONFIG_SYSFS=y
CONFIG_INTERCONNECT_QCOM_QDU1000=y
CONFIG_SSB_PCMCIAHOST=y
CONFIG_PINCTRL_STARFIVE_JH7110=y
CONFIG_MFD_ATC260X_I2C=y
CONFIG_I2C_ALGOPCA=y
CONFIG_CONSOLE_TRANSLATIONS=y
CONFIG_CRYPTO_HASH2=y
CONFIG_FPGA=y
CONFIG_CLK_STARFIVE_JH71X0=y
CONFIG_ARCH_HAS_PREPARE_SYNC_CORE_CMD=y
CONFIG_PINCTRL_POLARFIRE_SOC=y
CONFIG_CONTIG_ALLOC=y
CONFIG_DNOTIFY=y
CONFIG_ARCH_HAS_SET_DIRECT_MAP=y
CONFIG_ARCH_WANT_DEFAULT_TOPDOWN_MMAP_LAYOUT=y
CONFIG_CRYPTO_CRC32=y
CONFIG_PHY_TI_DS125DF111=y
CONFIG_CHARGER_BQ2415X=y
CONFIG_PINCTRL_IMX_SCMI=y
CONFIG_PNPACPI=y
CONFIG_BATTERY_CHARGER_SURFACE_RT=y
CONFIG_CRYPTO_CCM=y
CONFIG_PINCTRL_MT6795=y
CONFIG_HAVE_ARCH_SECCOMP=y
CONFIG_PINCTRL_GENERIC_MUX=y
CONFIG_HAVE_ARCH_SECCOMP_FILTER=y
CONFIG_PINCTRL_IMX8MP=y
CONFIG_GENERIC_EARLY_IOREMAP=y
CONFIG_RESET_K210=y
CONFIG_COMMON_CLK_MT6765_MIPI0ASYS=y
CONFIG_ZSTD_COMMON=y
CONFIG_ARM_TIMER_SP804=y
CONFIG_HAVE_MOVE_PUD=y
CONFIG_HAVE_STACKPROTECTOR=y
CONFIG_TRACEFS_AUTOMOUNT_DEPRECATED=y
CONFIG_OMAP2PLUS_MBOX=y
CONFIG_PIC32_EVIC=y
CONFIG_PHYS_ADDR_T_64BIT=y
CONFIG_DEBUG_ATOMIC=y
CONFIG_COMMON_CLK_EYEQ=y
CONFIG_CRYPTO_BENCHMARK=y
CONFIG_INTEL_TH_PTI=y
CONFIG_REGULATOR_BD957XMUF=y
CONFIG_REGULATOR_TPS6287X=y
CONFIG_COMEDI_8254=y
CONFIG_MOUSE_PS2_BYD=y
CONFIG_GPIO_SAMA5D2_PIOBU=y
CONFIG_ARCH_HAS_SETUP_DMA_OPS=y
CONFIG_REGULATOR_MAX20086=y
CONFIG_BTRFS_FS_RUN_SANITY_TESTS=y
CONFIG_COMMON_CLK_WM831X=y
CONFIG_W1_MASTER_GPIO=y
CONFIG_QCOM_CPR=y
CONFIG_SPRD_DMA=y
CONFIG_LEDS_AN30259A=y
CONFIG_PAGE_OWNER=y
CONFIG_BACKLIGHT_SY7758=y
CONFIG_TEGRA30_TSENSOR=y
CONFIG_HWSPINLOCK_STM32=y
CONFIG_GPIOLIB=y
CONFIG_OF=y
CONFIG_NTP_PPS=y
CONFIG_PVPANIC=y
CONFIG_GCOV_PROFILE_FTRACE=y
CONFIG_LEDS_DA903X=y
CONFIG_HAVE_CLK_PREPARE=y
CONFIG_AST2700_MBOX=y
CONFIG_GPIO_WM831X=y
CONFIG_COMMON_CLK_RS9_PCIE=y
CONFIG_ARCH_MICROCHIP_POLARFIRE=y
CONFIG_PINCTRL_MT8127=y
CONFIG_PHY_MTK_TPHY=y
CONFIG_HAVE_IRQ_TIME_ACCOUNTING=y
CONFIG_SLUB=y
CONFIG_PHY_MT7621_PCI=y
CONFIG_COMMON_CLK_MEDIATEK_FHCTL=y
CONFIG_XZ_DEC_MICROLZMA=y
CONFIG_PINCTRL_STARFIVE_JH7110_AON=y
CONFIG_REGULATOR_LTC3676=y
CONFIG_COMMON_CLK_HI6220=y
CONFIG_HAVE_ARCH_THREAD_STRUCT_WHITELIST=y
CONFIG_RCU_EQS_DEBUG=y
CONFIG_VIRTIO_FS=y
CONFIG_RING_BUFFER_ALLOW_SWAP=y
CONFIG_BACKLIGHT_KTD253=y
CONFIG_PMIC_DA9052=y
CONFIG_PINCTRL_LEWISBURG=y
CONFIG_BACKLIGHT_88PM860X=y
CONFIG_RESET_RZG2L_USBPHY_CTRL=y
CONFIG_PINCTRL_STARFIVE_JH7110_SYS=y
CONFIG_ARM_SCMI_PERF_DOMAIN=y
CONFIG_REGULATOR_MC13783=y
CONFIG_DECOMPRESS_LZ4=y
CONFIG_SATA_MV=y
CONFIG_SIMPLE_RING_BUFFER=y
CONFIG_GPIO_MVEBU=y
CONFIG_ACPI_RIMT=y
CONFIG_REGULATOR_MT6315=y
CONFIG_EDAC_SUPPORT=y
CONFIG_PHY_BCM_NS_USB2=y
CONFIG_GPIO_MENZ127=y
CONFIG_THERMAL=y
CONFIG_CLK_RENESAS=y
CONFIG_I2C_KEMPLD=y
CONFIG_PHY_MA35_USB=y
CONFIG_INTERCONNECT_QCOM_BCM_VOTER=y
CONFIG_LEDS_LP5812=y
CONFIG_SPMI_HISI3670=y
CONFIG_GENERIC_PCI_IOMAP=y
CONFIG_EVENT_TRACING=y
CONFIG_COMMON_CLK_MT6779_AUDSYS=y
CONFIG_DMA_JZ4780=y
CONFIG_MFD_AXP20X_I2C=y
CONFIG_RISCV_SBI_CPUIDLE=y
CONFIG_VDSO_GETRANDOM=y
CONFIG_AST2600_I3C_MASTER=y
CONFIG_RAID6_PQ=y
CONFIG_I2C_BOARDINFO=y
CONFIG_PMIC_DA903X=y
CONFIG_CLK_R9A09G087=y
CONFIG_GENERIC_STRNLEN_USER=y
CONFIG_CRYPTO_LIB_SHA3=y
CONFIG_HAVE_ARCH_RANDOMIZE_KSTACK_OFFSET=y
CONFIG_GPIO_ALTERA=y
CONFIG_I2C_ALGOBIT=y
CONFIG_PRIME_NUMBERS=y
CONFIG_CONTEXT_TRACKING_USER=y
CONFIG_RISCV_ISA_VENDOR_EXT_MIPS=y
CONFIG_DMAPOOL_TEST=y
CONFIG_CRYPTO_LIB_SHA512=y
CONFIG_GENERIC_MSI_IRQ=y
CONFIG_SSB_SPROM=y
CONFIG_CRYPTO_DEFLATE=y
CONFIG_I2C_MUX_REG=y
CONFIG_REGULATOR_SC2731=y
CONFIG_ARCH_HAS_VDSO_ARCH_DATA=y
CONFIG_CACHESTAT_SYSCALL=y
CONFIG_NVMEM_ROCKCHIP_EFUSE=y
CONFIG_EXTCON=y
CONFIG_LEDS_COBALT_QUBE=y
CONFIG_HW_RANDOM_NPCM=y
CONFIG_RD_GZIP=y
CONFIG_GPIO_RCAR=y
CONFIG_CRYPTO_LIB_AES_CTR=y
CONFIG_XILINX_INTC=y
CONFIG_COMEDI_NI_ROUTING=y
CONFIG_ARCH_WANT_BATCHED_UNMAP_TLB_FLUSH=y
CONFIG_COMMON_CLK_S2MPS11=y
CONFIG_PECI=y
CONFIG_NTFS_FS=y
CONFIG_SYSTEM_BLACKLIST_KEYRING=y
CONFIG_ISL29020=y
CONFIG_COMMON_CLK_MT8196_MCUSYS=y
CONFIG_SYSC_R8A77970=y
CONFIG_CRYPTO_DEV_ATMEL_AES=y
CONFIG_COMEDI_NI_MIO_CS=y
CONFIG_ARCH_RENESAS=y
CONFIG_HAVE_KVM_DIRTY_RING_ACQ_REL=y
CONFIG_PARTITION_ADVANCED=y
CONFIG_MFD_MC13XXX=y
CONFIG_IMX_SCMI_CPU_DRV=y
CONFIG_MFD_TPS65217=y
CONFIG_PINCTRL_IMX8MN=y
CONFIG_ANON_VMA_NAME=y
CONFIG_CLK_RCAR_GEN2_CPG=y
CONFIG_HWSPINLOCK=y
CONFIG_COMMON_CLK_MT8186_MMSYS=y
CONFIG_SHRINKER_DEBUG=y
CONFIG_HAVE_KVM_DIRTY_RING=y
CONFIG_I2C_JZ4780=y
CONFIG_CRYPTO_DEV_TI_DTHEV2=y
CONFIG_PINCTRL_RZN1=y
CONFIG_LEDS_SUN50I_A100=y
CONFIG_I2C_MXS=y
CONFIG_ACPI_DEBUGGER=y
CONFIG_CRYPTO_SKCIPHER=y
CONFIG_ROCKCHIP_MBOX=y
CONFIG_KALLSYMS=y
CONFIG_LEDS_NS2=y
CONFIG_ASPEED_AST2700_INTC=y
CONFIG_FPGA_MGR_VERSAL_FPGA=y
CONFIG_GPIO_ACPI=y
CONFIG_PINCTRL_TEGRA114=y
CONFIG_GENERIC_IRQ_DEBUGFS=y
CONFIG_ACPI_FAN=y
CONFIG_W1_SLAVE_DS2781=y
CONFIG_HAVE_KVM_IRQCHIP=y
CONFIG_PAGE_COUNTER=y
CONFIG_XILLYBUS_CLASS=y
CONFIG_MXS_TIMER=y
CONFIG_GPIO_IMX_SCU=y
CONFIG_FTRACE_STARTUP_TEST=y
CONFIG_CHARGER_BQ24257=y
CONFIG_IMX_INTMUX=y
CONFIG_DMI=y
CONFIG_COMMON_CLK_MT6765_CAMSYS=y
CONFIG_GPIO_AMDPT=y
CONFIG_SUN5I_CCU=y
CONFIG_SOC_RENESAS=y
CONFIG_REGULATOR_LP3972=y
CONFIG_ERRATA_THEAD=y
CONFIG_MD_BITMAP=y
CONFIG_COMMON_CLK_BD718XX=y
CONFIG_HZ_PERIODIC=y
CONFIG_TEST_HEXDUMP=y
CONFIG_EXTCON_SM5502=y
CONFIG_HTE_TEGRA194=y
CONFIG_HAVE_PREEMPT_DYNAMIC_KEY=y
CONFIG_DEFAULT_SECURITY_DAC=y
CONFIG_MAX77620_THERMAL=y
CONFIG_SCHED_PROXY_EXEC=y
CONFIG_FB_AU1100=y
CONFIG_MFD_ROHM_PWRBUTTON=y
CONFIG_GPIO_EN7523=y
CONFIG_RANDSTRUCT_NONE=y
CONFIG_MFD_BCM590XX=y
CONFIG_HAVE_BUILDTIME_MCOUNT_SORT=y
CONFIG_COMMON_CLK_MT8195_VENCSYS=y
CONFIG_GPIO_TS4800=y
CONFIG_FB_GBE=y
CONFIG_GPIO_ZYNQ=y
CONFIG_PINMUX=y
CONFIG_KEYBOARD_ATKBD=y
CONFIG_CC_IS_GCC=y
CONFIG_MAGIC_SYSRQ=y
CONFIG_LEDS_DA9052=y
CONFIG_PHY_BCM63XX_USBH=y
CONFIG_LEDS_CHT_WCOVE=y
CONFIG_BATTERY_DS2780=y
CONFIG_REGULATOR_PALMAS=y
CONFIG_MFD_STPMIC1=y
CONFIG_BATTERY_DS2781=y
CONFIG_APPLE_ADMAC=y
CONFIG_COMMON_CLK_MT8183_VDECSYS=y
CONFIG_RISCV_ISA_SSQOSID=y
CONFIG_RESET_TI_TPS380X=y
CONFIG_ARCH_HAS_UBSAN=y
CONFIG_MFD_SPACEMIT_P1=y
CONFIG_MFD_STMFX=y
CONFIG_DMA_OF=y
CONFIG_HAVE_KRETPROBES=y
CONFIG_NVMEM_BRCM_NVRAM=y
CONFIG_SCSI_SCAN_ASYNC=y
CONFIG_CRYPTO_MLDSA=y
CONFIG_PINCTRL_BERLIN=y
CONFIG_RESET_EIC7700_HSP=y
CONFIG_KEY_NOTIFICATIONS=y
CONFIG_MFD_88PM805=y
CONFIG_AS_IS_GNU=y
CONFIG_HAVE_KVM_IRQ_ROUTING=y
CONFIG_LEDS_TRIGGER_HEARTBEAT=y
CONFIG_SPMI_MTK_PMIF=y
CONFIG_CONTEXT_SWITCH_TRACER=y
CONFIG_HW_RANDOM_JH7110=y
CONFIG_EFI_RUNTIME_WRAPPERS=y
CONFIG_PHY_AX3000_EMMC=y
CONFIG_ASPEED_P2A_CTRL=y
CONFIG_NLS_CODEPAGE_850=y
CONFIG_MFD_STM32_LPTIMER=y
CONFIG_COMMON_CLK_MT6735_VENCSYS=y
CONFIG_TI_SCI_PROTOCOL=y
CONFIG_POWER_RESET_SYSCON=y
CONFIG_ASYNC_PQ=y
CONFIG_POSIX_TIMERS=y
CONFIG_SPRD_TIMER=y
CONFIG_CRYPTO_JITTERENTROPY=y
CONFIG_CRYPTO_LIB_UTILS=y
CONFIG_INTEL_TH_GTH=y
CONFIG_COMMON_CLK_MT8188_MFGCFG=y
CONFIG_COMMON_CLK_CS2000_CP=y
CONFIG_REGULATOR_LP87565=y
CONFIG_INTERCONNECT_QCOM_MSM8909=y
CONFIG_COMMON_CLK_VC5=y
CONFIG_MFD_MADERA_I2C=y
CONFIG_IXP4XX_TIMER=y
CONFIG_GENERIC_IRQ_SHOW=y
CONFIG_UNINLINE_SPIN_UNLOCK=y
CONFIG_TURRIS_OMNIA_MCU=y
CONFIG_PAGE_SIZE_LESS_THAN_64KB=y
CONFIG_MFD_AXP20X=y
CONFIG_DMATEST=y
CONFIG_IRQ_SIM=y
CONFIG_EEPROM_M24LR=y
CONFIG_HAVE_RSEQ=y
CONFIG_CRC_T10DIF=y
CONFIG_PM_GENERIC_DOMAINS_OF=y
CONFIG_PINCTRL_IMX1=y
CONFIG_HAVE_ARCH_TRACEHOOK=y
CONFIG_NLS_CODEPAGE_869=y
CONFIG_CLKSRC_STM32_LP=y
CONFIG_NVMEM_LAYOUT_SL28_VPD=y
CONFIG_LTO_NONE=y
CONFIG_MFD_INTEL_M10_BMC_PMCI=y
CONFIG_TRACEPOINTS=y
CONFIG_CHARGER_BQ25980=y
CONFIG_PATA_IMX=y
CONFIG_POLARFIRE_SOC_IRQ_MUX=y
CONFIG_MFD_DA9052_I2C=y
CONFIG_COMMON_CLK_MAX77686=y
CONFIG_SOLARIS_X86_PARTITION=y
CONFIG_WQ_WATCHDOG=y
CONFIG_DTPM=y
CONFIG_INTERCONNECT_QCOM_X1E80100=y
CONFIG_PINCTRL_UNIPHIER_NX1=y
CONFIG_FLATMEM=y
CONFIG_CRYPTO_DEV_EIP93=y
CONFIG_LEDS_LP50XX=y
CONFIG_MFD_AAT2870_CORE=y
CONFIG_CRYPTO_CAST_COMMON=y
CONFIG_FB_SYSMEM_HELPERS=y
CONFIG_I2C_MUX_GPMUX=y
CONFIG_PINCTRL_PFC_R8A77961=y
CONFIG_MFD_CORE=y
CONFIG_LEGACY_DIRECT_IO=y
CONFIG_HAVE_ARCH_AUDITSYSCALL=y
CONFIG_QCOM_GSBI=y
CONFIG_BACKLIGHT_ADP8860=y
CONFIG_BCMA_POSSIBLE=y
CONFIG_GENERIC_PINCONF=y
CONFIG_CRYPTO_SM4_GENERIC=y
CONFIG_EVENTFD=y
CONFIG_KVM_COMMON=y
CONFIG_NEED_PER_CPU_KM=y
CONFIG_CRYPTO_DEV_MARVELL=y
CONFIG_DEBUG_INFO=y
CONFIG_SRAM=y
CONFIG_NLS_UTF8=y
CONFIG_SYSC_R9A08G045=y
CONFIG_PINCTRL_STM32MP157=y
CONFIG_COMEDI_QUATECH_DAQP_CS=y
CONFIG_GPIO_VF610=y
CONFIG_BATTERY_DA9030=y
CONFIG_DEBUG_CLOSURES=y
CONFIG_QCOM_LLCC=y
CONFIG_DMA_ENGINE=y
CONFIG_LEDS_MLXREG=y
CONFIG_SECCOMP=y
CONFIG_REGULATOR_MT6370=y
CONFIG_COMMON_CLK_MT8188=y
CONFIG_CLK_ULTRARISC=y
CONFIG_GENERIC_IDLE_POLL_SETUP=y
CONFIG_FW_DEVLINK_SYNC_STATE_TIMEOUT=y
CONFIG_MFD_EXYNOS_LPASS=y
CONFIG_SPMI_APPLE=y
CONFIG_DEBUG_RT_MUTEXES=y
CONFIG_CRC32=y
CONFIG_ARCH_SIFIVE=y
CONFIG_VIRTIO_MMIO=y
CONFIG_BATTERY_DA9150=y
CONFIG_SECURITY_DMESG_RESTRICT=y
CONFIG_RESET_AXS10X=y
CONFIG_REGULATOR_FIXED_VOLTAGE=y
CONFIG_DTC=y
CONFIG_BLK_CGROUP=y
CONFIG_INTERCONNECT_QCOM_MSM8976=y
CONFIG_ARCH_HAS_ACPI_TABLE_UPGRADE=y
CONFIG_I2C_BCM2835=y
CONFIG_WM8350_POWER=y
CONFIG_PM_NOTIFIER_ERROR_INJECT=y
CONFIG_GPIO_LPC32XX=y
CONFIG_REGULATOR_MAX8649=y
CONFIG_W1_SLAVE_DS2805=y
CONFIG_MFD_INTEL_M10_BMC_CORE=y
CONFIG_IMX_SC_THERMAL=y
CONFIG_HAVE_64BIT_ALIGNED_ACCESS=y
CONFIG_DEBUG_TEST_DRIVER_REMOVE=y
CONFIG_842_DECOMPRESS=y
CONFIG_REGULATOR_ISL9305=y
CONFIG_TRACE_IRQFLAGS_SUPPORT=y
CONFIG_THERMAL_GOV_FAIR_SHARE=y
CONFIG_KALLSYMS_ALL=y
CONFIG_HW_RANDOM_BCM74110=y
CONFIG_MTK_HSDMA=y
CONFIG_ASYNC_TX_DISABLE_XOR_VAL_DMA=y
CONFIG_PINCTRL_SH_FUNC_GPIO=y
CONFIG_UIO=y
CONFIG_RISCV_ISA_C=y
CONFIG_TI_DMA_CROSSBAR=y
CONFIG_GPIO_SYSFS=y
CONFIG_CPU_IDLE_GOV_LADDER=y
CONFIG_AD525X_DPOT=y
CONFIG_RELAY=y
CONFIG_THREAD_INFO_IN_TASK=y
CONFIG_NLS_CODEPAGE_862=y
CONFIG_MOUSE_PS2_LOGIPS2PP=y
CONFIG_ARCH_USE_MEMTEST=y
