CONFIG_PINCTRL_SKY1_BASE=n
CONFIG_ARCH_RCAR_GEN5=n
CONFIG_SND_SOC_MT8183_DA7219_MAX98357A=n
CONFIG_PINCTRL=n
CONFIG_SM_TCSRCC_8650=n
CONFIG_PAGE_SIZE_LESS_THAN_256KB=n
CONFIG_USB_COMMON=n
CONFIG_CRYPTO_LIB_CHACHA=n
CONFIG_BATTERY_SBS=n
CONFIG_BLK_CGROUP_PUNT_BIO=n
CONFIG_SYSC_R8A779F0=n
CONFIG_SND_SOC_WCD934X=n
CONFIG_COMMON_CLK_HISI=n
CONFIG_MTK_ADSP_IPC=n
CONFIG_SND_SOC_SOF_OF_DEV=n
CONFIG_CLK_RENESAS_CPG_MSSR=n
CONFIG_SND_HDA_CODEC_HDMI_GENERIC=n
CONFIG_HID_MULTITOUCH=n
CONFIG_VIDEO_MEDIATEK_JPEG=n
CONFIG_MTD_NAND_BRCMNAND_BRCMSTB=n
CONFIG_SERIAL_XILINX_PS_UART=n
CONFIG_MDIO=n
CONFIG_SMP=n
CONFIG_NF_CT_PROTO_SCTP=n
CONFIG_SPLIT_PTE_PTLOCKS=n
CONFIG_MLX5_CORE_EN=n
CONFIG_UTS_NS=n
CONFIG_GENERIC_LIB_DEVMEM_IS_ALLOWED=n
CONFIG_SQUASHFS_COMPILE_DECOMP_SINGLE=n
CONFIG_WLAN_VENDOR_RALINK=n
CONFIG_PINCTRL_IMX_SCU=n
CONFIG_SND_SOC_WCD_MBHC=n
CONFIG_CLK_SHIKRA_GCC=n
CONFIG_SND_SOC_MT8195_MT6359=n
CONFIG_SCSI=n
CONFIG_SECURITYFS=n
CONFIG_ROCKCHIP_ERRATUM_3588001=n
CONFIG_ARCH_HAVE_TRACE_MMIO_ACCESS=n
CONFIG_PCI_PASID=n
CONFIG_VIDEO_V4L2_I2C=n
CONFIG_ARM64_BRBE=n
CONFIG_BRCMFMAC_SDIO=n
CONFIG_SM_GCC_8350=n
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST=n
CONFIG_ARM64_TLB_RANGE=n
CONFIG_SPI_ZYNQMP_GQSPI=n
CONFIG_PHY_NS2_USB_DRD=n
CONFIG_PINCTRL_SC8280XP=n
CONFIG_CAN_BCM=n
CONFIG_ACPI_PROCESSOR_IDLE=n
CONFIG_SWAP=n
CONFIG_INTERCONNECT_QCOM_QDU1000=n
CONFIG_TICK_ONESHOT=n
CONFIG_NET_IP_TUNNEL=n
CONFIG_CRC16=n
CONFIG_ARM64_ERRATUM_3194386=n
CONFIG_COMMON_CLK_EN7523=n
CONFIG_GENERIC_ARCH_NUMA=n
CONFIG_MUX_MMIO=n
CONFIG_POWER_RESET_BRCMSTB=n
CONFIG_ATA=n
CONFIG_CRYPTO_CCM=n
CONFIG_RSI_SDIO=n
CONFIG_SERIAL_IMX_EARLYCON=n
CONFIG_COMMON_CLK_MT8195_VDECSYS=n
CONFIG_BCM7XXX_PHY=n
CONFIG_BT_HCIBTUSB=n
CONFIG_GPIO_ACPI=n
CONFIG_MTD=n
CONFIG_NFS_FS=n
CONFIG_ARCH_R9A09G011=n
CONFIG_XENFS=n
CONFIG_MFD_SYSCON=n
CONFIG_QCOM_QMI_HELPERS=n
CONFIG_HAVE_DMA_CONTIGUOUS=n
CONFIG_SPI_ROCKCHIP_SFC=n
CONFIG_GENERIC_IRQ_IPI=n
CONFIG_MMC_BCM2835=n
CONFIG_RESET_QCOM_PDC=n
CONFIG_PINCTRL_MT7986=n
CONFIG_CRYPTO_USER=n
CONFIG_ARM_GIC_ITS_PARENT=n
CONFIG_SYSC_RCAR=n
CONFIG_NVMEM_APPLE_SPMI=n
CONFIG_NF_CONNTRACK=n
CONFIG_INTERCONNECT_QCOM_SM8250=n
CONFIG_STM32_OMM=n
CONFIG_CLK_R8A77970=n
CONFIG_SND_SOC_NAU8315=n
CONFIG_QUOTA=n
CONFIG_DRM_CDNS_DSI=n
CONFIG_ARCH_HAS_CPU_CACHE_INVALIDATE_MEMREGION=n
CONFIG_HIX5HD2_GMAC=n
CONFIG_DMA_RESTRICTED_POOL=n
CONFIG_SUN8I_R_CCU=n
CONFIG_PINCTRL_STM32=n
CONFIG_SM_GPUCC_4450=n
CONFIG_PATA_PLATFORM=n
CONFIG_INTERCONNECT_QCOM_SM8650=n
CONFIG_SCSI_MOD=n
CONFIG_CLK_PX30=n
CONFIG_ARM64_ERRATUM_843419=n
CONFIG_TIMER_ACPI=n
CONFIG_SERIAL_MSM_CONSOLE=n
CONFIG_WLAN_VENDOR_INTEL=n
CONFIG_CROSS_MEMORY_ATTACH=n
CONFIG_HIGH_RES_TIMERS=n
CONFIG_MMC_BLOCK=n
CONFIG_CLK_X1P42100_GPUCC=n
CONFIG_SDM_MMCC_660=n
CONFIG_CAVIUM_ERRATUM_23154=n
CONFIG_MMC_DW=n
CONFIG_PINCTRL_SC7280=n
CONFIG_CLK_X1E80100_GPUCC=n
CONFIG_DRM_MSM_DSI=n
CONFIG_DRM_ROCKCHIP=n
CONFIG_USB_ULPI_VIEWPORT=n
CONFIG_DRM_EXYNOS_MIC=n
CONFIG_ARCH_INTEL_SOCFPGA=n
CONFIG_IOMMU_SUPPORT=n
CONFIG_PINCTRL_RTD1319D=n
CONFIG_USB_ISP1760_HCD=n
CONFIG_TYPEC_MUX_NB7VPQ904M=n
CONFIG_CC_CAN_LINK=n
CONFIG_ATL1C=n
CONFIG_PINCTRL_SM8750=n
CONFIG_WLAN_VENDOR_REALTEK=n
CONFIG_SND_SOC_SPDIF=n
CONFIG_PINCTRL_MTK_V2=n
CONFIG_ARCH_ENABLE_SPLIT_PMD_PTLOCK=n
CONFIG_VIDEO_SAMSUNG_S5P_JPEG=n
CONFIG_XPS=n
CONFIG_CHARGER_CROS_CONTROL=n
CONFIG_SND_DMAENGINE_PCM=n
CONFIG_NET_CORE=n
CONFIG_VIDEO_E5010_JPEG_ENC=n
CONFIG_ARCH_HAS_GIGANTIC_PAGE=n
CONFIG_QCOM_SPM=n
CONFIG_PINCTRL_MT6779=n
CONFIG_RTC_DRV_MACSMC=n
CONFIG_CAN_RX_OFFLOAD=n
CONFIG_SND_SOC_MSIOF=n
CONFIG_CRYPTO_LIB_AES_XTS=n
CONFIG_PSTORE_COMPRESS=n
CONFIG_USB_XHCI_RCAR=n
CONFIG_ARM64_RAS_EXTN=n
CONFIG_HAVE_PREEMPT_DYNAMIC_KEY=n
CONFIG_MFD_SPMI_PMIC=n
CONFIG_COMMON_CLK_RP1=n
CONFIG_ARM_ARCH_TIMER_EVTSTREAM=n
CONFIG_SND_SOC_DA7219=n
CONFIG_PCIE_ROCKCHIP=n
CONFIG_ARM_SMC_WATCHDOG=n
CONFIG_PINCTRL_MESON_GXBB=n
CONFIG_ENA_ETHERNET=n
CONFIG_QCM_DISPCC_2290=n
CONFIG_REGULATOR_MP8859=n
CONFIG_SUNRPC_BACKCHANNEL=n
CONFIG_NPCM7XX_TIMER=n
CONFIG_MMU=n
CONFIG_RAID6_PQ_ARCH=n
CONFIG_ARCH_BST=n
CONFIG_CRYPTO_SIG2=n
CONFIG_SM_GCC_8550=n
CONFIG_FB_CORE=n
CONFIG_SND_MESON_AXG_FRDDR=n
CONFIG_DRM_LONTIUM_LT8912B=n
CONFIG_EDAC_VERSAL=n
CONFIG_BT_HCIBTUSB_MTK=n
CONFIG_NET_RX_BUSY_POLL=n
CONFIG_MTK_CPUX_TIMER=n
CONFIG_I2C_BCM_IPROC=n
CONFIG_PCI_EPF_TEST=n
CONFIG_NVMEM_LAYOUT_SL28_VPD=n
CONFIG_PINCTRL_IMX8DXL=n
CONFIG_CLK_R9A08G046=n
CONFIG_CRYPTO_LIB_AES_CCM=n
CONFIG_VIRTIO_PCI_LEGACY=n
CONFIG_USB_DWC3_DUAL_ROLE=n
CONFIG_TEGRA_CLK_DFLL=n
CONFIG_DEBUG_BUGVERBOSE=n
CONFIG_ARM_MHU=n
CONFIG_PHY_CAN_TRANSCEIVER=n
CONFIG_XILINX_WINDOW_WATCHDOG=n
CONFIG_ARM64_WORKAROUND_REPEAT_TLBI_SYNC=n
CONFIG_LOCK_MM_AND_FIND_VMA=n
CONFIG_SPMI=n
CONFIG_SC_LPASS_CORECC_7280=n
CONFIG_SND_SOC_QCOM_OFFLOAD_UTILS=n
CONFIG_XZ_DEC_ARM64=n
CONFIG_MFD_MT6397=n
CONFIG_RTC_DRV_PCF85063=n
CONFIG_USB_NET_SMSC95XX=n
CONFIG_CLK_BCM_SR=n
CONFIG_TOUCHSCREEN_GOODIX=n
CONFIG_SCSI_UFS_BSG=n
CONFIG_SND_SOC_QDSP6_ADM=n
CONFIG_PINCTRL_MT6765=n
CONFIG_CPU_FREQ_DEFAULT_GOV_SCHEDUTIL=n
CONFIG_PINCTRL_NORD=n
CONFIG_BCM2835_WDT=n
CONFIG_ARCH_HAS_DMA_OPS=n
CONFIG_MEMFD_CREATE=n
CONFIG_SND_SOC_LPASS_SC7280=n
CONFIG_QCOM_RPMPD=n
CONFIG_ARCH_SUPPORTS_PER_VMA_LOCK=n
CONFIG_ARCH_SUPPORTS_KEXEC_FILE=n
CONFIG_FB_CFB_IMAGEBLIT=n
CONFIG_CLK_BCM2835=n
CONFIG_SND_HDA_CORE=n
CONFIG_QCOM_PIL_INFO=n
CONFIG_XZ_DEC_X86=n
CONFIG_TEGRA186_TIMER=n
CONFIG_SPI_CADENCE_QUADSPI=n
CONFIG_PHY_MESON_G12A_USB3_PCIE=n
CONFIG_ARM_PMU=n
CONFIG_TI_DAVINCI_MDIO=n
CONFIG_DRM_TI_SN65DSI83=n
CONFIG_KEYBOARD_CROS_EC=n
CONFIG_PM_DEVFREQ_EVENT=n
CONFIG_MFD_SEC_I2C=n
CONFIG_ARCH_LG1K=n
CONFIG_TMPFS_XATTR=n
CONFIG_PCI_SYSCALL=n
CONFIG_MDIO_REGMAP=n
CONFIG_BLK_MQ_STACKING=n
CONFIG_USB_F_MASS_STORAGE=n
CONFIG_I2C_SMBUS=n
CONFIG_HW_RANDOM_IPROC_RNG200=n
CONFIG_COMMON_CLK_MT8173_VENCSYS=n
CONFIG_LS_SCFG_MSI=n
CONFIG_CRYPTO_SKCIPHER=n
CONFIG_COMMON_CLK_MT8188_IMP_IIC_WRAP=n
CONFIG_QDU_ECPRICC_1000=n
CONFIG_IPQ_GCC_8074=n
CONFIG_EXYNOS_THERMAL=n
CONFIG_CORESIGHT_CTI=n
CONFIG_NVMEM_LAYERSCAPE_SFP=n
CONFIG_SUN55I_A523_R_CCU=n
CONFIG_USB_CHIPIDEA_UDC=n
CONFIG_RESET_SCMI=n
CONFIG_QCOM_SOC=n
CONFIG_ARM64_AMU_EXTN=n
CONFIG_GPIO_CADENCE=n
CONFIG_HAVE_ARCH_VMAP_STACK=n
CONFIG_REGULATOR_QCOM_RPMH=n
CONFIG_XXHASH=n
CONFIG_RD_GZIP=n
CONFIG_IMX_SCMI_BBM_EXT=n
CONFIG_OID_REGISTRY=n
CONFIG_V4L_PLATFORM_DRIVERS=n
CONFIG_RT_MUTEXES=n
CONFIG_I2C_CROS_EC_TUNNEL=n
CONFIG_UNIPHIER_THERMAL=n
CONFIG_DMA_OPS_HELPERS=n
CONFIG_SND_SOC_WM8994=n
CONFIG_ACPI_GTDT=n
CONFIG_CPU_FREQ_GOV_COMMON=n
CONFIG_SC_GPUCC_7280=n
CONFIG_COMMON_CLK_MT8188_VENCSYS=n
CONFIG_I2C_CADENCE=n
CONFIG_SL28CPLD_INTC=n
CONFIG_SND_PCI=n
CONFIG_TYPEC_TCPM=n
CONFIG_PINCTRL_APPLE_GPIO=n
CONFIG_IIO_ST_MAGN_SPI_3AXIS=n
CONFIG_DRM_TIDSS=n
CONFIG_BRCMFMAC=n
CONFIG_TCG_TPM=n
CONFIG_BCM2712_MIP=n
CONFIG_DRM_VC4=n
CONFIG_GENERIC_PINMUX_FUNCTIONS=n
CONFIG_BCM74110_MAILBOX=n
CONFIG_FW_LOADER_PAGED_BUF=n
CONFIG_ROCKCHIP_DW_MIPI_DSI=n
CONFIG_IMX93_ADC=n
CONFIG_NET_SOCK_MSG=n
CONFIG_CLK_RZV2H=n
CONFIG_TIMER_IMX_SYS_CTR=n
CONFIG_TEE_BNXT_FW=n
CONFIG_SND_SOC_GENERIC_DMAENGINE_PCM=n
CONFIG_COMMON_CLK_MT8196_MMSYS=n
CONFIG_ASYMMETRIC_KEY_TYPE=n
CONFIG_MT7921E=n
CONFIG_ACPI_APEI_EINJ=n
CONFIG_HAVE_CLK_PREPARE=n
CONFIG_MEDIA_TUNER_TDA8290=n
CONFIG_PINCTRL_SX150X=n
CONFIG_POWER_RESET_QCOM_PON=n
CONFIG_NET_DSA_MSCC_FELIX_DSA_LIB=n
CONFIG_NFS_COMMON=n
CONFIG_ARM64_ERRATUM_3117295=n
CONFIG_BT_LEDS=n
CONFIG_RSI_91X=n
CONFIG_HID=n
CONFIG_PAGE_MAPCOUNT=n
CONFIG_HAS_IOPORT=n
CONFIG_NET_VENDOR_XILINX=n
CONFIG_RENESAS_GEN4_PTP=n
CONFIG_MICROCHIP_PHY=n
