CONFIG_INET_DIAG=n
CONFIG_GPIO_PCA953X_IRQ=n
CONFIG_RISCV_ISA_SVNAPOT=n
CONFIG_XOR_BLOCKS_ARCH=n
CONFIG_ARCH_CANAAN=n
CONFIG_DECOMPRESS_LZO=n
CONFIG_MTD_SPI_NOR_USE_4K_SECTORS=n
CONFIG_TASKS_TRACE_RCU=n
CONFIG_MOUSE_PS2_SYNAPTICS=n
CONFIG_HAVE_KERNEL_BZIP2=n
CONFIG_RPMSG_NS=n
CONFIG_NET_VENDOR_ADAPTEC=n
CONFIG_BTT=n
CONFIG_STMMAC_ETH=n
CONFIG_NET_VENDOR_XILINX=n
CONFIG_NET_CLS=n
CONFIG_HOTPLUG_CORE_SYNC_FULL=n
CONFIG_PREEMPTION=n
CONFIG_OF_EARLY_FLATTREE=n
CONFIG_PHY_STARFIVE_JH7110_USB=n
CONFIG_RISCV_SBI_CPUIDLE=n
CONFIG_CC_HAS_INT128=n
CONFIG_GENERIC_PINCONF=n
CONFIG_ERRATA_SIFIVE_CIP_453=n
CONFIG_BLK_DEV_INITRD=n
CONFIG_MMU_NOTIFIER=n
CONFIG_IP_PNP_DHCP=n
CONFIG_SPACEMIT_K1_CCU=n
CONFIG_PINCTRL_SOPHGO_SG2002=n
CONFIG_VIDEO_V4L2_SUBDEV_API=n
CONFIG_CRC_ITU_T=n
CONFIG_CRYPTO_ECB=n
CONFIG_OF_GPIO=n
CONFIG_VIRTIO=n
CONFIG_SG_POOL=n
CONFIG_NF_DEFRAG_IPV6=n
CONFIG_GLOB=n
CONFIG_POWER_RESET_SYSCON=n
CONFIG_MFD_SIMPLE_MFD_I2C=n
CONFIG_CC_HAVE_STACKPROTECTOR_TLS=n
CONFIG_UNIX=n
CONFIG_HAVE_KERNEL_LZO=n
CONFIG_SERIO_LIBPS2=n
CONFIG_HAS_DMA=n
CONFIG_PWM=n
CONFIG_THREAD_INFO_IN_TASK=n
CONFIG_USB_F_EEM=n
CONFIG_WATCHDOG_HANDLE_BOOT_ENABLED=n
CONFIG_IKCONFIG_PROC=n
CONFIG_SND_DMAENGINE_PCM=n
CONFIG_VIRTIO_PCI_LIB=n
CONFIG_NETWORK_FILESYSTEMS=n
CONFIG_VIRTIO_ANCHOR=n
CONFIG_IOSCHED_BFQ=n
CONFIG_USB_ARCH_HAS_HCD=n
CONFIG_RISCV_IOMMU_PCI=n
CONFIG_SYMBOLIC_ERRNAME=n
CONFIG_PINCTRL_ULTRARISC=n
CONFIG_INET_ESP=n
CONFIG_ARCH_HAVE_NMI_SAFE_CMPXCHG=n
CONFIG_HAVE_KERNEL_LZ4=n
CONFIG_RAID6_PQ_ARCH=n
CONFIG_POWER_SUPPLY_HWMON=n
CONFIG_CRYPTO=n
CONFIG_BLK_DEV_THROTTLING=n
CONFIG_UPROBES=n
CONFIG_KVM_GENERIC_HARDWARE_ENABLING=n
CONFIG_RISCV_ISA_ZICBOM=n
CONFIG_CRYPTO_AUTHENC=n
CONFIG_FIXED_PHY=n
CONFIG_SUN55I_PCK600=n
CONFIG_DRM_SUBALLOC_HELPER=n
CONFIG_ARCH_HAS_BINFMT_FLAT=n
CONFIG_NFS_FS=n
CONFIG_COREDUMP=n
CONFIG_LOCKD=n
CONFIG_BTRFS_FS_POSIX_ACL=n
CONFIG_WLAN=n
CONFIG_WLAN_VENDOR_MEDIATEK=n
CONFIG_WIRELESS=n
CONFIG_CLK_SIFIVE=n
CONFIG_CRYPTO_SIG2=n
CONFIG_I2C_CHARDEV=n
CONFIG_SND_SOC_WM8978=n
CONFIG_NET_VENDOR_CORTINA=n
CONFIG_SND_PCM=n
CONFIG_TOOLCHAIN_HAS_V=n
CONFIG_SCHED_CACHE=n
CONFIG_SND_JACK=n
CONFIG_WLAN_VENDOR_NXP=n
CONFIG_FAT_FS=n
CONFIG_USB_CDNS3_GADGET=n
CONFIG_ROOT_NFS=n
CONFIG_MFD_CORE=n
CONFIG_PNFS_FLEXFILE_LAYOUT=n
CONFIG_CRC32=n
CONFIG_SUN4I_TIMER=n
CONFIG_DNS_RESOLVER=n
CONFIG_MMC_SDHCI=n
CONFIG_PROC_CHILDREN=n
CONFIG_HAVE_IRQ_TIME_ACCOUNTING=n
CONFIG_CGROUP_PERF=n
CONFIG_RISCV_ISA_VENDOR_EXT_ANDES=n
CONFIG_STARFIVE_WATCHDOG=n
CONFIG_EXT4_FS=n
CONFIG_ARCH_ULTRARISC=n
CONFIG_PCIEASPM_DEFAULT=n
CONFIG_FHANDLE=n
CONFIG_SND_PROC_FS=n
CONFIG_CPU_IDLE_MULTIPLE_DRIVERS=n
CONFIG_USB_XHCI_PCI=n
CONFIG_MOUSE_PS2_FOCALTECH=n
CONFIG_INET=n
CONFIG_NFS_V3=n
CONFIG_BPF_SYSCALL=n
CONFIG_GENERIC_IRQ_EFFECTIVE_AFF_MASK=n
CONFIG_ARCH_HAS_KERNEL_FPU_SUPPORT=n
CONFIG_HAVE_CLK_PREPARE=n
CONFIG_PAGE_SIZE_LESS_THAN_64KB=n
CONFIG_DIMLIB=n
CONFIG_FTRACE=n
CONFIG_TMPFS=n
CONFIG_USB_F_ACM=n
CONFIG_BLK_MQ_STACKING=n
CONFIG_DYNAMIC_EVENTS=n
CONFIG_FB_SYS_FILLRECT=n
CONFIG_EFI_PARTITION=n
CONFIG_MOUSE_PS2=n
CONFIG_ETHTOOL_NETLINK=n
CONFIG_USB_CONFIGFS_ECM=n
CONFIG_MTD_SPI_NOR=n
CONFIG_NO_HZ_IDLE=n
CONFIG_HAVE_REGS_AND_STACK_ACCESS_API=n
CONFIG_RESET_SPACEMIT_K1=n
CONFIG_ARCH_HAS_SYNC_CORE_BEFORE_USERMODE=n
CONFIG_THERMAL_DEFAULT_GOV_STEP_WISE=n
CONFIG_PCI_PWRCTRL=n
CONFIG_SND_DESIGNWARE_I2S=n
CONFIG_DRM_SUN8I_DW_HDMI=n
CONFIG_OF_RESERVED_MEM=n
CONFIG_POSIX_MQUEUE_SYSCTL=n
CONFIG_FB_IOMEM_HELPERS=n
CONFIG_ARCH_HAS_PREEMPT_LAZY=n
CONFIG_RISCV_RPMI_SYSMSI=n
CONFIG_ZONE_DMA32=n
CONFIG_RISCV_MISALIGNED=n
CONFIG_NET_VENDOR_ZTE=n
CONFIG_NET_VENDOR_ENGLEDER=n
CONFIG_CRYPTO_GCM=n
CONFIG_XZ_DEC_X86=n
CONFIG_SLAB_MERGE_DEFAULT=n
CONFIG_PCIE_PLDA_HOST=n
CONFIG_SECURITY_NETWORK=n
CONFIG_NET_VENDOR_AQUANTIA=n
CONFIG_AF_UNIX_OOB=n
CONFIG_SIGNALFD=n
CONFIG_DMA_ENGINE=n
CONFIG_FIX_EARLYCON_MEM=n
CONFIG_ARCH_FLATMEM_ENABLE=n
CONFIG_FB_SYSMEM_FOPS=n
CONFIG_SOCK_CGROUP_DATA=n
CONFIG_RSEQ=n
CONFIG_CPU_FREQ_GOV_CONSERVATIVE=n
CONFIG_MFD_SYSCON=n
CONFIG_GENERIC_CPU_VULNERABILITIES=n
CONFIG_FW_LOADER=n
CONFIG_HAVE_ARCH_KGDB_QXFER_PKT=n
CONFIG_CRYPTO_CTR=n
CONFIG_NVMEM_SYSFS=n
CONFIG_HAVE_MOVE_PMD=n
CONFIG_IO_URING_ZCRX=n
CONFIG_GCC_NO_STRINGOP_OVERFLOW=n
CONFIG_ASN1=n
CONFIG_USB_PCI=n
CONFIG_PCIE_DW=n
CONFIG_LINEAR_RANGES=n
CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE=n
CONFIG_MTD_OF_PARTS=n
CONFIG_NET_VENDOR_STMICRO=n
CONFIG_PINCTRL_ULTRARISC_DP1000=n
CONFIG_KEYBOARD_SUN4I_LRADC=n
CONFIG_CLK_SOPHGO_SG2042_RPGATE=n
CONFIG_SELECT_MEMORY_MODEL=n
CONFIG_THERMAL_OF=n
CONFIG_V4L2_ASYNC=n
CONFIG_NET_NS=n
CONFIG_NET_DEVMEM=n
CONFIG_PAGE_SIZE_LESS_THAN_256KB=n
CONFIG_TREE_SRCU=n
CONFIG_USB_CDNS3=n
CONFIG_CLK_SOPHGO_SG2042_CLKGEN=n
CONFIG_CPU_FREQ_GOV_PERFORMANCE=n
CONFIG_GENERIC_GETTIMEOFDAY=n
CONFIG_OF=n
CONFIG_CACHEMAINT_FOR_DMA=n
CONFIG_STACKPROTECTOR_PER_TASK=n
CONFIG_IRQ_MSI_LIB=n
CONFIG_FPU=n
CONFIG_WLAN_VENDOR_REALTEK=n
CONFIG_ARCH_HAS_SET_DIRECT_MAP=n
CONFIG_DEVTMPFS_MOUNT=n
CONFIG_USB_CONFIGFS_OBEX=n
CONFIG_STACKPROTECTOR_STRONG=n
CONFIG_ARCH_SUPPORTS_UPROBES=n
CONFIG_USB_F_SUBSET=n
CONFIG_MOUSE_PS2_CYPRESS=n
CONFIG_MQ_IOSCHED_DEADLINE=n
CONFIG_CPU_ISOLATION=n
CONFIG_HIGH_RES_TIMERS=n
CONFIG_DW_AXI_DMAC=n
CONFIG_RTC_I2C_AND_SPI=n
CONFIG_BUG=n
CONFIG_NET_VENDOR_QLOGIC=n
CONFIG_IPV6_NDISC_NODETYPE=n
CONFIG_SPARSEMEM_VMEMMAP_ENABLE=n
CONFIG_BINFMT_ELF=n
CONFIG_GENERIC_CLOCKEVENTS=n
CONFIG_XXHASH=n
CONFIG_SATA_AHCI=n
CONFIG_HAVE_KERNEL_XZ=n
CONFIG_OF_ADDRESS=n
CONFIG_IOMMU_DEFAULT_DMA_STRICT=n
CONFIG_NVMEM=n
CONFIG_USB_EHCI_HCD=n
CONFIG_ARCH_HAS_SET_MEMORY=n
CONFIG_CRYPTO_HASH=n
CONFIG_NET_VENDOR_ALACRITECH=n
CONFIG_RISCV_ISA_FALLBACK=n
CONFIG_MACVLAN=n
CONFIG_RING_BUFFER=n
CONFIG_NET_INGRESS=n
CONFIG_ACPI_FAN=n
CONFIG_INIT_STACK_ALL_ZERO=n
CONFIG_CGROUP_NET_PRIO=n
CONFIG_BLK_ICQ=n
CONFIG_ARCH_WANT_LD_ORPHAN_WARN=n
CONFIG_ARCH_CC_CAN_LINK=n
CONFIG_MEMBARRIER=n
CONFIG_CRYPTO_GENIV=n
CONFIG_ARCH_SUPPORTS_ATOMIC_RMW=n
CONFIG_TTY=n
CONFIG_GENERIC_PHY_MIPI_DPHY=n
CONFIG_IP_VS_RR=n
CONFIG_MSDOS_FS=n
CONFIG_RISCV_INTC=n
CONFIG_NETDEVICES=n
CONFIG_HOTPLUG_PARALLEL=n
CONFIG_DRM_TTM_HELPER=n
CONFIG_CGROUP_PIDS=n
CONFIG_ZSTD_COMPRESS=n
CONFIG_CFS_BANDWIDTH=n
CONFIG_USB_CONFIGFS_RNDIS=n
CONFIG_ARCH_SUPPORTS_CFI=n
CONFIG_MMC_SDHCI_IO_ACCESSORS=n
CONFIG_NET_VENDOR_LITEX=n
CONFIG_NET_XGRESS=n
CONFIG_GENERIC_IRQ_SHOW=n
CONFIG_ARCH_MICROCHIP=n
CONFIG_HAVE_RETHOOK=n
CONFIG_GENERIC_IRQ_SHOW_LEVEL=n
CONFIG_NETFILTER_XT_MATCH_ADDRTYPE=n
CONFIG_DRM_MIPI_DSI=n
CONFIG_HAVE_PREEMPT_DYNAMIC_KEY=n
CONFIG_NETFILTER_XT_MATCH_IPVS=n
CONFIG_HAVE_GIGANTIC_FOLIOS=n
CONFIG_SERIO=n
CONFIG_RCU_TRACE=n
CONFIG_NET_VENDOR_ATHEROS=n
CONFIG_VFAT_FS=n
CONFIG_CRYPTO_ECHAINIV=n
CONFIG_PCI_LABEL=n
CONFIG_EFI_PARAMS_FROM_FDT=n
CONFIG_CRYPTO_LIB_GF128HASH=n
CONFIG_GENERIC_MSI_IRQ=n
CONFIG_SECURITY_APPARMOR_HASH=n
CONFIG_LEGACY_TIOCSTI=n
CONFIG_SERIO_SERPORT=n
CONFIG_RPMSG_CHAR=n
CONFIG_OF_MDIO=n
CONFIG_ATA_BMDMA=n
CONFIG_NET_SELFTESTS=n
CONFIG_ARCH_ESWIN=n
CONFIG_GENERIC_PCI_IOMAP=n
CONFIG_UNINLINE_SPIN_UNLOCK=n
CONFIG_CRYPTO_LIB_AES_CBC_MACS=n
CONFIG_CRYPTO_LIB_SHA512=n
CONFIG_CPUFREQ_DT_PLATDEV=n
CONFIG_CC_HAS_ASM_INLINE=n
CONFIG_NF_LOG_ARP=n
CONFIG_PROC_MEM_FORCE_PTRACE=n
CONFIG_GENERIC_EARLY_IOREMAP=n
CONFIG_OF_PMEM=n
CONFIG_PHY_SPACEMIT_K1_PCIE=n
CONFIG_NET_VENDOR_MELLANOX=n
CONFIG_CLK_SOPHGO_SG2042_PLL=n
CONFIG_ACPI_TABLE_UPGRADE=n
CONFIG_SERIAL_SIFIVE_CONSOLE=n
CONFIG_GROUP_SCHED_BANDWIDTH=n
CONFIG_RISCV_ISA_VENDOR_EXT_THEAD=n
CONFIG_XFRM_ALGO=n
