CONFIG_EFI_STUB=n
CONFIG_MITIGATION_SPECTRE_BHI=n
CONFIG_HAVE_UACCESS_VALIDATION=n
CONFIG_RANDSTRUCT_NONE=n
CONFIG_HIBERNATE_CALLBACKS=n
CONFIG_SIGNALFD=n
CONFIG_HAS_IOPORT_MAP=n
CONFIG_SND_X86=n
CONFIG_CPU_ISOLATION=n
CONFIG_ARCH_ENABLE_MEMORY_HOTPLUG=n
CONFIG_EPOLL=n
CONFIG_ACPI_THERMAL=n
CONFIG_NET_VENDOR_PENSANDO=n
CONFIG_ACPI_PROCESSOR=n
CONFIG_MAC_EMUMOUSEBTN=n
CONFIG_NET_TULIP=n
CONFIG_BQL=n
CONFIG_POSIX_CPU_TIMERS_TASK_WORK=n
CONFIG_ZLIB_INFLATE=n
CONFIG_HAVE_GENERIC_TIF_BITS=n
CONFIG_NET_VENDOR_ATHEROS=n
CONFIG_DEFAULT_CUBIC=n
CONFIG_HID_PETALYNX=n
CONFIG_BLK_MQ_STACKING=n
CONFIG_OBJTOOL=n
CONFIG_CPU_FREQ=n
CONFIG_GENERIC_MSI_IRQ=n
CONFIG_IO_URING=n
CONFIG_STRICT_KERNEL_RWX=n
CONFIG_SND_INTEL_NHLT=n
CONFIG_DRM_CLIENT_SELECTION=n
CONFIG_USE_PERCPU_NUMA_NODE_ID=n
CONFIG_FAILOVER=n
CONFIG_NF_NAT_MASQUERADE=n
CONFIG_PCIE_PME=n
CONFIG_NET_VENDOR_CHELSIO=n
CONFIG_GENERIC_PT=n
CONFIG_MOUSE_PS2_ALPS=n
CONFIG_BSD_PROCESS_ACCT=n
CONFIG_ASSOCIATIVE_ARRAY=n
CONFIG_DECOMPRESS_BZIP2=n
CONFIG_X86_64=n
CONFIG_ARCH_SUPPORTS_KEXEC_SIG=n
CONFIG_X86_DISABLED_FEATURE_K6_MTRR=n
CONFIG_ARCH_SUPPORTS_KMAP_LOCAL_FORCE_MAP=n
CONFIG_ARCH_SUPPORTS_SCHED_CLUSTER=n
CONFIG_NVMEM=n
CONFIG_ACPI_PROCESSOR_IDLE=n
CONFIG_RPCSEC_GSS_KRB5=n
CONFIG_NET_CORE=n
CONFIG_CPU_RMAP=n
CONFIG_GENERIC_SMP_IDLE_THREAD=n
CONFIG_MOUSE_PS2_BYD=n
CONFIG_NFS_V3=n
CONFIG_ARCH_USE_SYM_ANNOTATIONS=n
CONFIG_NET_EMATCH=n
CONFIG_HAVE_FUNCTION_TRACER=n
CONFIG_PHY_PACKAGE=n
CONFIG_GENERIC_STRNLEN_USER=n
CONFIG_NET_VENDOR_EMULEX=n
CONFIG_DYNAMIC_EVENTS=n
CONFIG_VHOST_ENABLE_FORK_OWNER_CONTROL=n
CONFIG_PAGE_POOL=n
CONFIG_NET_9P=n
CONFIG_X86_INTEL_PSTATE=n
CONFIG_SCSI_DMA=n
CONFIG_DEBUG_STACK_USAGE=n
CONFIG_BLK_CGROUP=n
CONFIG_X86_MCE_INTEL=n
CONFIG_CRYPTO_HASH=n
CONFIG_SYNC_FILE=n
CONFIG_X86_ACPI_CPUFREQ=n
CONFIG_ARCH_SUPPORTS_KEXEC_JUMP=n
CONFIG_FSNOTIFY=n
CONFIG_CFG80211_REQUIRE_SIGNED_REGDB=n
CONFIG_CRYPTO_LIB_AES_CTR=n
CONFIG_EDAC_SUPPORT=n
CONFIG_MD_BITMAP=n
CONFIG_HAVE_PERF_EVENTS=n
CONFIG_MD_BITMAP_FILE=n
CONFIG_NET_VENDOR_SUN=n
CONFIG_NEED_TASKS_RCU=n
CONFIG_ELFCORE=n
CONFIG_MODULES=n
CONFIG_HAVE_ARCH_KCSAN=n
CONFIG_ACPI=n
CONFIG_MODULES_USE_ELF_RELA=n
CONFIG_NET_RX_BUSY_POLL=n
CONFIG_HAVE_EBPF_JIT=n
CONFIG_HAVE_ASM_MODVERSIONS=n
CONFIG_NET_VENDOR_MELLANOX=n
CONFIG_ARCH_WANT_HUGE_PMD_SHARE=n
CONFIG_DRM_DISPLAY_DSC_HELPER=n
CONFIG_MICROCODE=n
CONFIG_LD_ORPHAN_WARN=n
CONFIG_GENERIC_CLOCKEVENTS_MIN_ADJUST=n
CONFIG_CLKBLD_I8253=n
CONFIG_HAVE_NMI=n
CONFIG_TASKS_RCU_GENERIC=n
CONFIG_USER_STACKTRACE_SUPPORT=n
CONFIG_SKY2=n
CONFIG_8139TOO=n
CONFIG_RD_ZSTD=n
CONFIG_R8169=n
CONFIG_VMCORE_INFO=n
CONFIG_ARCH_WANTS_DYNAMIC_TASK_STRUCT=n
CONFIG_X86_64_ACPI_NUMA=n
CONFIG_CRYPTO_LIB_AES_CBC=n
CONFIG_GENERIC_ALLOCATOR=n
CONFIG_KPROBE_EVENTS=n
CONFIG_DM_ZERO=n
CONFIG_RANDOMIZE_KSTACK_OFFSET=n
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE=n
CONFIG_IP_MROUTE_COMMON=n
CONFIG_IOSF_MBI=n
CONFIG_DNOTIFY=n
CONFIG_NLS_UTF8=n
CONFIG_XZ_DEC=n
CONFIG_CRYPTO_LIB_AES_ARCH=n
CONFIG_EXECMEM=n
CONFIG_DRM_PANEL=n
CONFIG_WLAN_VENDOR_TI=n
CONFIG_DMI_SCAN_MACHINE_NON_EFI_FALLBACK=n
CONFIG_PROC_VMCORE=n
CONFIG_ACPI_THERMAL_LIB=n
CONFIG_PTP_1588_CLOCK_VMCLOCK=n
CONFIG_VIRTIO_CONSOLE=n
CONFIG_CRC16=n
CONFIG_ARCH_HAS_FAST_MULTIPLIER=n
CONFIG_VIRTIO_PCI_LIB_LEGACY=n
CONFIG_INTEGRITY_AUDIT=n
CONFIG_DRM_VIRTIO_GPU=n
CONFIG_POWER_SUPPLY=n
CONFIG_HUGETLB_PMD_PAGE_TABLE_SHARING=n
CONFIG_MISC_FILESYSTEMS=n
CONFIG_MITIGATION_ITS=n
CONFIG_CRC_CCITT=n
CONFIG_ARCH_HAS_SYSCALL_WRAPPER=n
CONFIG_X86_CHECK_BIOS_CORRUPTION=n
CONFIG_NET_VENDOR_QLOGIC=n
CONFIG_ASYNC_KERNEL_PGTABLE_FREE=n
CONFIG_CRYPTO_HASH_INFO=n
CONFIG_ARCH_PROC_KCORE_TEXT=n
CONFIG_ARCH_SPARSEMEM_DEFAULT=n
CONFIG_SND_SEQ_HRTIMER_DEFAULT=n
CONFIG_USB_HID=n
CONFIG_SND_HDA_HWDEP=n
CONFIG_HIBERNATION_SNAPSHOT_DEV=n
CONFIG_IOMMU_MM_DATA=n
CONFIG_CGROUP_MISC=n
CONFIG_CRYPTO_CMAC=n
CONFIG_MSDOS_FS=n
CONFIG_SYMBOLIC_ERRNAME=n
CONFIG_NET_VENDOR_NI=n
CONFIG_X86_IO_APIC=n
CONFIG_VT_CONSOLE_SLEEP=n
CONFIG_SATA_AHCI=n
CONFIG_BLK_DEV_MD=n
CONFIG_CC_HAS_WORKING_NOSANITIZE_ADDRESS=n
CONFIG_DEBUG_INFO_NONE=n
CONFIG_SYN_COOKIES=n
CONFIG_MAC80211_LEDS=n
CONFIG_WLAN_VENDOR_INTERSIL=n
CONFIG_HALTPOLL_CPUIDLE=n
CONFIG_NET_VENDOR_INTEL=n
CONFIG_SPARSEMEM_EXTREME=n
CONFIG_GPIOLIB_LEGACY=n
CONFIG_CRC32=n
CONFIG_HAVE_ARCH_TRACEHOOK=n
CONFIG_HAS_SECURITY_AUDIT=n
CONFIG_LZO_COMPRESS=n
CONFIG_IO_URING_BPF=n
CONFIG_NETWORK_FILESYSTEMS=n
CONFIG_LEDS_CLASS=n
CONFIG_PCMCIA_LOAD_CIS=n
CONFIG_CRYPTO_GENIV=n
CONFIG_HAVE_RSEQ=n
CONFIG_X86_DIRECT_GBPAGES=n
CONFIG_SND_HDA_CORE=n
CONFIG_I8253_LOCK=n
CONFIG_NETFILTER_XT_TARGET_NFLOG=n
CONFIG_HAVE_GIGANTIC_FOLIOS=n
CONFIG_NFS_V4=n
CONFIG_NFS_COMMON=n
CONFIG_TRACING_SUPPORT=n
CONFIG_EEPROM_93CX6=n
CONFIG_PCI_MMCONFIG=n
CONFIG_HAVE_ARCH_HUGE_VMAP=n
CONFIG_RTC_CLASS=n
CONFIG_NET_VENDOR_ADAPTEC=n
CONFIG_SUSPEND=n
CONFIG_ARCH_MIGHT_HAVE_PC_PARPORT=n
CONFIG_MITIGATION_IBPB_ENTRY=n
CONFIG_X86_VERBOSE_BOOTUP=n
CONFIG_IP6_NF_MATCH_IPV6HEADER=n
CONFIG_PCSPKR_PLATFORM=n
CONFIG_PREEMPT_COUNT=n
CONFIG_WLAN_VENDOR_REALTEK=n
CONFIG_GENERIC_EARLY_IOREMAP=n
CONFIG_HAVE_RELIABLE_STACKTRACE=n
CONFIG_NET_VENDOR_ARC=n
CONFIG_HAVE_ARCH_KASAN=n
CONFIG_PERF_EVENTS_INTEL_CSTATE=n
CONFIG_TTY=n
CONFIG_CPU_FREQ_GOV_PERFORMANCE=n
CONFIG_USB_ANNOUNCE_NEW_DEVICES=n
CONFIG_NUMA_MEMBLKS=n
CONFIG_PAGE_COUNTER=n
CONFIG_NET_VENDOR_BROCADE=n
CONFIG_HIDRAW=n
CONFIG_CDROM=n
CONFIG_NET_CLS_CGROUP=n
CONFIG_X86_CMOV=n
CONFIG_HID_SAMSUNG=n
CONFIG_DST_CACHE=n
CONFIG_CRYPTO_AKCIPHER=n
CONFIG_SCREEN_INFO=n
CONFIG_RD_LZO=n
CONFIG_MOUSE_PS2_FOCALTECH=n
CONFIG_NETFILTER_NETLINK_LOG=n
CONFIG_DECOMPRESS_XZ=n
CONFIG_PNFS_FLEXFILE_LAYOUT=n
CONFIG_QFMT_V2=n
CONFIG_ARCH_HAS_KCOV=n
CONFIG_VIRTIO_INPUT=n
CONFIG_HID_TOPSEED=n
CONFIG_NET_VENDOR_SOCIONEXT=n
CONFIG_NVRAM=n
CONFIG_INTEGRITY=n
CONFIG_EFI_CUSTOM_SSDT_OVERLAYS=n
CONFIG_KALLSYMS=n
CONFIG_MEMBARRIER=n
CONFIG_EFI=n
CONFIG_ETHTOOL_NETLINK=n
CONFIG_SCHEDSTATS=n
CONFIG_CGROUP_DEVICE=n
CONFIG_INET6_ESP=n
CONFIG_SECURITY_SELINUX_BOOTPARAM=n
CONFIG_CRYPTO_LIB_SHA256=n
CONFIG_USB_OHCI_HCD=n
CONFIG_HAVE_IOREMAP_PROT=n
CONFIG_PERF_EVENTS_INTEL_UNCORE=n
CONFIG_DMA_NEED_SYNC=n
CONFIG_NF_REJECT_IPV4=n
CONFIG_NET_VENDOR_HUAWEI=n
CONFIG_SND_PCI=n
CONFIG_ARCH_HAS_SYNC_CORE_BEFORE_USERMODE=n
CONFIG_ARCH_SUPPORTS_KEXEC_PURGATORY=n
CONFIG_LOCK_DEBUGGING_SUPPORT=n
CONFIG_ISA_DMA_API=n
CONFIG_ARCH_SUPPORTS_ATOMIC_RMW=n
CONFIG_GLOB=n
CONFIG_IOMMU_IOVA=n
CONFIG_ARCH_WANT_IRQS_OFF_ACTIVATE_MM=n
CONFIG_DUMMY_CONSOLE=n
CONFIG_TASK_XACCT=n
CONFIG_ARCH_WANT_BATCHED_UNMAP_TLB_FLUSH=n
CONFIG_LZO_DECOMPRESS=n
CONFIG_HAVE_PV_STEAL_CLOCK_GEN=n
CONFIG_CONNECTOR=n
CONFIG_APERTURE_HELPERS=n
CONFIG_CHECK_SIGNATURE=n
CONFIG_DEBUG_ENTRY=n
CONFIG_MMU_GATHER_RCU_TABLE_FREE=n
CONFIG_RWSEM_SPIN_ON_OWNER=n
CONFIG_SATA_HOST=n
CONFIG_EFIVAR_FS=n
CONFIG_XZ_DEC_SPARC=n
CONFIG_ARCH_HAS_DEBUG_WX=n
CONFIG_DRM_PANEL_ORIENTATION_QUIRKS=n
CONFIG_ARCH_WANT_OPTIMIZE_HUGETLB_VMEMMAP=n
CONFIG_UPROBE_EVENTS=n
CONFIG_ARCH_HAS_GIGANTIC_PAGE=n
CONFIG_BLK_DEV_SR=n
CONFIG_CGROUP_SCHED=n
CONFIG_BLK_PM=n
CONFIG_CALL_THUNKS=n
CONFIG_INPUT_SPARSEKMAP=n
CONFIG_CFG80211_DEFAULT_PS=n
CONFIG_BLK_DEV_BSG_COMMON=n
CONFIG_LD_CAN_USE_KEEP_IN_OVERLAY=n
CONFIG_SERIAL_NONSTANDARD=n
CONFIG_VT_CONSOLE=n
CONFIG_PERF_EVENTS_AMD_UNCORE=n
CONFIG_EVENTFD=n
CONFIG_WATCHDOG_HANDLE_BOOT_ENABLED=n
CONFIG_HAS_IOMEM=n
CONFIG_NET_VENDOR_ALACRITECH=n
CONFIG_CRYPTO_LIB_SHA256_ARCH=n
CONFIG_DRM_MIPI_DSI=n
CONFIG_SWIOTLB=n
CONFIG_NET_VENDOR_I825XX=n
CONFIG_HUGETLB_PAGE_OPTIMIZE_VMEMMAP=n
CONFIG_SCHED_SMT=n
CONFIG_MD=n
CONFIG_INTERVAL_TREE=n
CONFIG_COMPAT_32=n
CONFIG_SND_SEQ_DEVICE=n
CONFIG_MITIGATION_GDS=n
CONFIG_FILE_LOCKING=n
