CONFIG_FUTEX_PI=n
CONFIG_ACPI=n
CONFIG_CHECK_SIGNATURE=n
CONFIG_PROVIDE_OHCI1394_DMA_INIT=n
CONFIG_BINFMT_SCRIPT=n
CONFIG_X86_SUPPORTS_MEMORY_FAILURE=n
CONFIG_TRACEFS_AUTOMOUNT_DEPRECATED=n
CONFIG_ASSOCIATIVE_ARRAY=n
CONFIG_INIT_STACK_ALL_ZERO=n
CONFIG_NET_VENDOR_CISCO=n
CONFIG_XZ_DEC_ARM=n
CONFIG_DMA_SHARED_BUFFER=n
CONFIG_PHY_PACKAGE=n
CONFIG_RCU_NEED_SEGCBLIST=n
CONFIG_SCSI_PROC_FS=n
CONFIG_IO_URING_BPF=n
CONFIG_VIRTIO=n
CONFIG_DRM_I915_USERPTR=n
CONFIG_MODULES_USE_ELF_REL=n
CONFIG_CRYPTO_SEQIV=n
CONFIG_SCSI_MOD=n
CONFIG_ARCH_WANTS_DYNAMIC_TASK_STRUCT=n
CONFIG_NET_VENDOR_3COM=n
CONFIG_DECOMPRESS_LZO=n
CONFIG_DRM_DISPLAY_DP_HELPER=n
CONFIG_SND_HDA_CORE=n
CONFIG_VIDEO=n
CONFIG_NET_VENDOR_CHELSIO=n
CONFIG_NET_VENDOR_TI=n
CONFIG_XZ_DEC_SPARC=n
CONFIG_SND_VERBOSE_PROCFS=n
CONFIG_MICROCODE_INITRD32=n
CONFIG_POSIX_TIMERS=n
CONFIG_CRYPTO_LIB_AES_ARCH=n
CONFIG_MOUSE_PS2=n
CONFIG_CRYPTO_SHA512=n
CONFIG_RD_LZMA=n
CONFIG_CPU_FREQ_GOV_ONDEMAND=n
CONFIG_NET_VENDOR_GOOGLE=n
CONFIG_TASK_IO_ACCOUNTING=n
CONFIG_CC_CAN_LINK=n
CONFIG_RD_GZIP=n
CONFIG_TRACE_IRQFLAGS_NMI_SUPPORT=n
CONFIG_X86_BUS_LOCK_DETECT=n
CONFIG_PERF_EVENTS_INTEL_RAPL=n
CONFIG_ISO9660_FS=n
CONFIG_LOCKDEP_SUPPORT=n
CONFIG_SERIAL_8250_RSA=n
CONFIG_KEXEC_CORE=n
CONFIG_XZ_DEC_BCJ=n
CONFIG_SND_HDA_I915=n
CONFIG_VIRTUALIZATION=n
CONFIG_SOFTIRQ_ON_OWN_STACK=n
CONFIG_AMD_NB=n
CONFIG_X86_VMX_FEATURE_NAMES=n
CONFIG_IP_PNP_RARP=n
CONFIG_TREE_SRCU=n
CONFIG_ARCH_MEMORY_ORDER_TSO=n
CONFIG_DRM_I915_COMPRESS_ERROR=n
CONFIG_MAGIC_SYSRQ=n
CONFIG_LEDS_CLASS=n
CONFIG_HAVE_BUILDTIME_MCOUNT_SORT=n
CONFIG_VHOST_ENABLE_FORK_OWNER_CONTROL=n
CONFIG_PCI_LOCKLESS_CONFIG=n
CONFIG_XPS=n
CONFIG_ARCH_HAVE_NMI_SAFE_CMPXCHG=n
CONFIG_X86_HAVE_PAE=n
CONFIG_CRC16=n
CONFIG_OID_REGISTRY=n
CONFIG_ETHERNET=n
CONFIG_E1000E=n
CONFIG_ACPI_EC=n
CONFIG_NET_VENDOR_RDC=n
CONFIG_X86_INTEL_TSX_MODE_AUTO=n
CONFIG_ARCH_SUPPORTS_KEXEC=n
CONFIG_CRYPTO_LZ4=n
CONFIG_UID16=n
CONFIG_X86_DEBUG_FPU=n
CONFIG_X86_CHECK_BIOS_CORRUPTION=n
CONFIG_RTC_INTF_DEV=n
CONFIG_SND_HRTIMER=n
CONFIG_I3C_OR_I2C=n
CONFIG_RCU_STALL_COMMON=n
CONFIG_NET_FAILOVER=n
CONFIG_SCREEN_INFO=n
CONFIG_NET_VENDOR_8390=n
CONFIG_ARCH_CLOCKSOURCE_INIT=n
CONFIG_CRYPTO=n
CONFIG_ACPI_SYSTEM_POWER_STATES_SUPPORT=n
CONFIG_CRYPTO_CMAC=n
CONFIG_HAVE_GUP_FAST=n
CONFIG_MAC80211=n
CONFIG_X86_MPPARSE=n
CONFIG_I2C_SMBUS=n
CONFIG_HW_RANDOM_INTEL=n
CONFIG_SKB_EXTENSIONS=n
CONFIG_EFI_CAPSULE_QUIRK_QUARK_CSH=n
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE=n
CONFIG_TASKS_RCU_GENERIC=n
CONFIG_HAVE_ARCH_SECCOMP_FILTER=n
CONFIG_HAVE_MOVE_PMD=n
CONFIG_VIRTIO_PCI_LEGACY=n
CONFIG_SYSCALL_USER_DISPATCH=n
CONFIG_GENERIC_CALIBRATE_DELAY=n
CONFIG_NET_VENDOR_BROADCOM=n
CONFIG_ACPI_LEGACY_TABLES_LOOKUP=n
CONFIG_HAVE_KRETPROBES=n
CONFIG_DRM_VIRTIO_GPU=n
CONFIG_BLK_CGROUP_IOCOST=n
CONFIG_HAVE_ARCH_TRACEHOOK=n
CONFIG_PNFS_BLOCK=n
CONFIG_CRC_CCITT=n
CONFIG_HAVE_FUNCTION_ARG_ACCESS_API=n
CONFIG_8139TOO=n
CONFIG_CRYPTO_LIB_UTILS=n
CONFIG_AS_WRUSS=n
CONFIG_ARCH_HAS_GCOV_PROFILE_ALL=n
CONFIG_GENERIC_BITREVERSE=n
CONFIG_WERROR=n
CONFIG_DEVTMPFS_MOUNT=n
CONFIG_TIGON3_HWMON=n
CONFIG_PADATA=n
CONFIG_CONTEXT_TRACKING=n
CONFIG_INTEGRITY=n
CONFIG_ARCH_SUPPORTS_ACPI=n
CONFIG_ARCH_HAS_MEMBARRIER_SYNC_CORE=n
CONFIG_DRM_VIRTIO_GPU_KMS=n
CONFIG_DRM=n
CONFIG_HWMON=n
CONFIG_AUDIT=n
CONFIG_PACKET=n
CONFIG_HAVE_MOD_ARCH_SPECIFIC=n
CONFIG_IP_MROUTE=n
CONFIG_HAVE_ACPI_APEI_NMI=n
CONFIG_X86_ACPI_CPUFREQ_CPB=n
CONFIG_IPV6_NDISC_NODETYPE=n
CONFIG_WLAN_VENDOR_RALINK=n
CONFIG_HOTPLUG_CORE_SYNC_FULL=n
CONFIG_EXECMEM=n
CONFIG_X86_DEBUGCTLMSR=n
CONFIG_MITIGATION_MDS=n
CONFIG_SND_USB=n
CONFIG_X86_DISABLED_FEATURE_INVLPGB=n
CONFIG_NET_VENDOR_META=n
CONFIG_AMD_NODE=n
CONFIG_CRYPTO_LIB_SHA512=n
CONFIG_NET_VENDOR_INTEL=n
CONFIG_SUNRPC=n
CONFIG_ARCH_WANT_FRAME_POINTERS=n
CONFIG_SND_SEQ_DEVICE=n
CONFIG_CPU_IDLE=n
CONFIG_FAT_FS=n
CONFIG_BLOCK=n
CONFIG_CRC_OPTIMIZATIONS=n
CONFIG_WMI_BMOF=n
CONFIG_TMPFS_XATTR=n
CONFIG_HAVE_ARCH_JUMP_LABEL_RELATIVE=n
CONFIG_SERIAL_8250_SHARE_IRQ=n
CONFIG_ARCH_HAS_STRICT_MODULE_RWX=n
CONFIG_MOUSE_PS2_FOCALTECH=n
CONFIG_TMPFS_POSIX_ACL=n
CONFIG_MSDOS_PARTITION=n
CONFIG_MACINTOSH_DRIVERS=n
CONFIG_YENTA_TOSHIBA=n
CONFIG_CPU_IDLE_GOV_HALTPOLL=n
CONFIG_PM=n
CONFIG_FLATMEM_MANUAL=n
CONFIG_MAGIC_SYSRQ_SERIAL=n
CONFIG_SUSPEND=n
CONFIG_REGMAP=n
CONFIG_BLK_DEV_BSG_COMMON=n
CONFIG_X86_ESPFIX32=n
CONFIG_BUILDTIME_TABLE_SORT=n
CONFIG_NEED_TASKS_RCU=n
CONFIG_SECRETMEM=n
CONFIG_POSIX_MQUEUE_SYSCTL=n
CONFIG_ARCH_USE_MEMREMAP_PROT=n
CONFIG_CRYPTO_MANAGER2=n
CONFIG_HIBERNATE_CALLBACKS=n
CONFIG_PCI_GOANY=n
CONFIG_AUTOFS_FS=n
CONFIG_HAVE_CMPXCHG_LOCAL=n
CONFIG_BLK_CGROUP=n
CONFIG_INITRAMFS_PRESERVE_MTIME=n
CONFIG_THERMAL=n
CONFIG_FWNODE_MDIO=n
CONFIG_DEBUG_MISC=n
CONFIG_LEGACY_TIOCSTI=n
CONFIG_DM_MIRROR=n
CONFIG_CRYPTO_CTS=n
CONFIG_ARCH_USE_MEMTEST=n
CONFIG_HID_GENERIC=n
CONFIG_SND_TIMER=n
CONFIG_KEYS=n
CONFIG_WLAN_VENDOR_TI=n
CONFIG_ZSTD_DECOMPRESS=n
CONFIG_IP_MULTIPLE_TABLES=n
CONFIG_DRM_BUDDY=n
CONFIG_CRYPTO_LIB_AES_CBC=n
CONFIG_NFS_ACL_SUPPORT=n
CONFIG_X86_PM_TIMER=n
CONFIG_SATA_PMP=n
CONFIG_HAVE_MIXED_BREAKPOINTS_REGS=n
CONFIG_CC_HAS_KASAN_GENERIC=n
CONFIG_TRACE_CLOCK=n
CONFIG_RD_ZSTD=n
CONFIG_X86_DISABLED_FEATURE_OSPKE=n
CONFIG_VIRTIO_PCI_ADMIN_LEGACY=n
CONFIG_ISA_DMA_API=n
CONFIG_GCC_NO_STRINGOP_OVERFLOW=n
CONFIG_ARCH_SUPPORTS_KEXEC_PURGATORY=n
CONFIG_SERIAL_8250_PNP=n
CONFIG_PANTHERLORD_FF=n
CONFIG_TREE_RCU=n
CONFIG_BITREVERSE=n
CONFIG_HAVE_EFFICIENT_UNALIGNED_ACCESS=n
CONFIG_THERMAL_HWMON=n
CONFIG_ACPI_BUTTON=n
CONFIG_MODULE_UNLOAD=n
CONFIG_INPUT_EVDEV=n
CONFIG_SERIAL_8250=n
CONFIG_BCMA_POSSIBLE=n
CONFIG_DMIID=n
CONFIG_NET_VENDOR_ADAPTEC=n
CONFIG_NF_NAT_IRC=n
CONFIG_HAVE_ALIGNED_STRUCT_PAGE=n
CONFIG_HAVE_ARCH_THREAD_STRUCT_WHITELIST=n
CONFIG_CC_NO_ARRAY_BOUNDS=n
CONFIG_DRM_PANEL=n
CONFIG_HAVE_KPROBES_ON_FTRACE=n
CONFIG_HAVE_KPROBES=n
CONFIG_PAGE_POOL=n
CONFIG_MITIGATION_SPECTRE_BHI=n
CONFIG_CC_HAS_ASM_INLINE=n
CONFIG_PCI_BIOS=n
CONFIG_EARLY_PRINTK_DBGP=n
CONFIG_USB_EHCI_TT_NEWSCHED=n
CONFIG_VMAP_PFN=n
CONFIG_IRQ_FORCED_THREADING=n
CONFIG_MMU_LAZY_TLB_REFCOUNT=n
CONFIG_LEDS_TRIGGERS=n
CONFIG_BINARY_PRINTF=n
CONFIG_HAVE_ARCH_KGDB=n
CONFIG_IOMMU_DEFAULT_DMA_LAZY=n
CONFIG_ARCH_USE_BUILTIN_BSWAP=n
CONFIG_ARCH_FLATMEM_ENABLE=n
CONFIG_NET_VENDOR_NETRONOME=n
CONFIG_DNS_RESOLVER=n
CONFIG_NFS_USE_KERNEL_DNS=n
CONFIG_ATA=n
CONFIG_ARCH_SUPPORTS_RT=n
CONFIG_EFI_EARLYCON=n
CONFIG_MITIGATION_SPECTRE_V2=n
CONFIG_GENERIC_CPU_DEVICES=n
CONFIG_UNION_FIND=n
CONFIG_DM_ZERO=n
CONFIG_NEED_SG_DMA_LENGTH=n
CONFIG_X86_DISABLED_FEATURE_USER_SHSTK=n
CONFIG_NETFILTER_XT_MATCH_STATE=n
CONFIG_EARLY_PRINTK=n
CONFIG_ARCH_MIGHT_HAVE_ACPI_PDC=n
CONFIG_X86_THERMAL_VECTOR=n
CONFIG_ACPI_DEBUG=n
CONFIG_EXT4_FS=n
CONFIG_SND_JACK_INPUT_DEV=n
CONFIG_SGL_ALLOC=n
CONFIG_EXT4_FS_SECURITY=n
CONFIG_ARCH_MHP_MEMMAP_ON_MEMORY_ENABLE=n
CONFIG_LTO_NONE=n
CONFIG_IP_PNP=n
CONFIG_DEBUG_BOOT_PARAMS=n
CONFIG_MSDOS_FS=n
CONFIG_ARCH_WANT_GENERAL_HUGETLB=n
CONFIG_X509_CERTIFICATE_PARSER=n
CONFIG_AGP=n
CONFIG_ACPI_PLATFORM_PROFILE=n
CONFIG_HAVE_ASM_MODVERSIONS=n
CONFIG_NETFILTER_XT_TARGET_NFLOG=n
CONFIG_CGROUP_CPUACCT=n
CONFIG_BLK_CGROUP_IOLATENCY=n
CONFIG_TASKS_TRACE_RCU=n
CONFIG_NET_VENDOR_XILINX=n
CONFIG_ARCH_CPUIDLE_HALTPOLL=n
CONFIG_PRINTK_TIME=n
CONFIG_RATIONAL=n
CONFIG_HAVE_KERNEL_LZO=n
CONFIG_ARCH_HAS_PTDUMP=n
CONFIG_USB_UHCI_HCD=n
CONFIG_CGROUP_MISC=n
CONFIG_X86_CX8=n
CONFIG_CRYPTO_SHA256=n
CONFIG_TIMERFD=n
CONFIG_SND_INTEL_SOUNDWIRE_ACPI=n
CONFIG_HID_SUNPLUS=n
CONFIG_IOMMU_SUPPORT=n
CONFIG_DEBUG_INFO_NONE=n
CONFIG_ATA_SFF=n
CONFIG_CROSS_MEMORY_ATTACH=n
CONFIG_RTC_CLASS=n
CONFIG_HPET=n
