CONFIG_PAGE_IDLE_FLAG=y
CONFIG_ISA_BUS_API=y
CONFIG_CRYPTO_CCM=y
CONFIG_XFS_DEBUG=y
CONFIG_REGULATOR_TPS65185=y
CONFIG_DEV_DAX=y
CONFIG_ARCH_SUPPORTS_KEXEC_JUMP=y
CONFIG_RPMSG_CTRL=y
CONFIG_60XX_WDT=y
CONFIG_CRC32=y
CONFIG_HAS_SEPARATE_PREEMPT_RESCHED_BITS=y
CONFIG_X86_REQUIRED_FEATURE_SYSFAST32=y
CONFIG_SYNC_FILE=y
CONFIG_X86_DISABLED_FEATURE_PKU=y
CONFIG_REGMAP_I2C=y
CONFIG_HAVE_DMA_CONTIGUOUS=y
CONFIG_PAC1921=y
CONFIG_HAVE_REGS_AND_STACK_ACCESS_API=y
CONFIG_SCSI_SAS_ATTRS=y
CONFIG_GPIO_MOCKUP=y
CONFIG_MFD_DA9062=y
CONFIG_NTSYNC=y
CONFIG_OPT4060=y
CONFIG_HAVE_EFFICIENT_UNALIGNED_ACCESS=y
CONFIG_SENSORS_F71882FG=y
CONFIG_PTDUMP_DEBUGFS=y
CONFIG_HAVE_GCC_PLUGINS=y
CONFIG_CRYPTO_RNG=y
CONFIG_SCSI_UFS_CRYPTO=y
CONFIG_CRYPTO_AEAD=y
CONFIG_DMADEVICES=y
CONFIG_BMI323=y
CONFIG_DMAPOOL_TEST=y
CONFIG_MQ_IOSCHED_KYBER=y
CONFIG_I2C_SLAVE_EEPROM=y
CONFIG_SENSORS_TDA38640_REGULATOR=y
CONFIG_XILINX_SDFEC=y
CONFIG_DMA_NEED_SYNC=y
CONFIG_ADXL372=y
CONFIG_SOFTIRQ_ON_OWN_STACK=y
CONFIG_USB4_DMA_TEST=y
CONFIG_AD7606_IFACE_PARALLEL=y
CONFIG_IP5XXX_POWER=y
CONFIG_FB_ATY_GX=y
CONFIG_LEDS_BRIGHTNESS_HW_CHANGED=y
CONFIG_WW_MUTEX_SELFTEST=y
CONFIG_CC_NO_STRINGOP_OVERFLOW=y
CONFIG_THERMAL=y
CONFIG_SERIO_SERPORT=y
CONFIG_JFS_FS=y
CONFIG_NLS_ISO8859_5=y
CONFIG_CRYPTO_ECRDSA=y
CONFIG_CRYPTO_SHA3=y
CONFIG_HAVE_KLP_BUILD=y
CONFIG_VEML6075=y
CONFIG_BATTERY_CW2015=y
CONFIG_ASN1_ENCODER=y
CONFIG_INTEL_UNCORE_FREQ_CONTROL=y
CONFIG_BACKLIGHT_SAHARA=y
CONFIG_PM_OPP=y
CONFIG_REGULATOR_AW37503=y
CONFIG_COMPAT_FOR_U64_ALIGNMENT=y
CONFIG_DEVPORT=y
CONFIG_WATCHDOG_CORE=y
CONFIG_I2C_EMEV2=y
CONFIG_ZONE_DMA32=y
CONFIG_IMA_NG_TEMPLATE=y
CONFIG_HDC3020=y
CONFIG_842_COMPRESS=y
CONFIG_BACKLIGHT_ADP8870=y
CONFIG_FANOTIFY=y
CONFIG_TRANSPARENT_HUGEPAGE_TMPFS_HUGE_ADVISE=y
CONFIG_ARCH_HAS_MEMBARRIER_SYNC_CORE=y
CONFIG_HAVE_NMI=y
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE_PUD=y
CONFIG_ADXL367=y
CONFIG_INPUT_APANEL=y
CONFIG_HMC425=y
CONFIG_FB_S1D13XXX=y
CONFIG_XFS_FS=y
CONFIG_ARCH_WANT_HUGE_PMD_SHARE=y
CONFIG_I2C_BOARDINFO=y
CONFIG_MXC4005=y
CONFIG_ISO9660_FS=y
CONFIG_REGULATOR_PF0900=y
CONFIG_CRYPTO_DH=y
CONFIG_MFD_SI476X_CORE=y
CONFIG_DYNAMIC_SIGFRAME=y
CONFIG_STACKTRACE_SUPPORT=y
CONFIG_CRYPTO_LIB_AES_GCM=y
CONFIG_X86_DISABLED_FEATURE_ENQCMD=y
CONFIG_EXT2_FS_XATTR=y
CONFIG_SENSORS_MAX16065=y
CONFIG_NLS_CODEPAGE_437=y
CONFIG_TCM_PSCSI=y
CONFIG_X86_VMX_FEATURE_NAMES=y
CONFIG_HAVE_KERNEL_LZMA=y
CONFIG_PACKING=y
CONFIG_SENSORS_TMP103=y
CONFIG_PARPORT_1284=y
CONFIG_MFD_SIMPLE_MFD_I2C=y
CONFIG_BMI323_I2C=y
CONFIG_I2C_GPIO=y
CONFIG_ARCH_HAS_CPU_RELAX=y
CONFIG_HW_RANDOM_VIRTIO=y
CONFIG_BLKDEV_UBLK_LEGACY_OPCODES=y
CONFIG_BOARD_TPCI200=y
CONFIG_RING_BUFFER_STARTUP_TEST=y
CONFIG_CHARGER_MAX14577=y
CONFIG_I2C=y
CONFIG_HAVE_POSIX_CPU_TIMERS_TASK_WORK=y
CONFIG_QCOM_PAS=y
CONFIG_RCU_STALL_COMMON=y
CONFIG_ARCH_WANT_OPTIMIZE_DAX_VMEMMAP=y
CONFIG_ARCH_SUPPORTS_KEXEC_HANDOVER=y
CONFIG_BACKLIGHT_AW99706=y
CONFIG_POWER_RESET_RESTART=y
CONFIG_SENSORS_ISL29018=y
CONFIG_SENSORS_XDPE122_REGULATOR=y
CONFIG_PINCTRL_MADERA=y
CONFIG_INTEL_ATOMISP2_PM=y
CONFIG_MFD_88PM860X=y
CONFIG_WDTPCI=y
CONFIG_SENSORS_TDA38640=y
CONFIG_SENSORS_MAX20860A=y
CONFIG_USER_EVENTS=y
CONFIG_CRYPTO_SM4_AESNI_AVX_X86_64=y
CONFIG_SUSPEND=y
CONFIG_X86_CMOV=y
CONFIG_ARCH_HAS_UACCESS_FLUSHCACHE=y
CONFIG_MTD_BLOCK=y
CONFIG_CC_HAS_ENTRY_PADDING=y
CONFIG_GPIO_MB86S7X=y
CONFIG_EXT4_FS=y
CONFIG_X86_64=y
CONFIG_PM=y
CONFIG_HAVE_ARCH_VMAP_STACK=y
CONFIG_ARCH_HAS_NONLEAF_PMD_YOUNG=y
CONFIG_MTD_SBC_GXX=y
CONFIG_I2C_DEBUG_CORE=y
CONFIG_STK8312=y
CONFIG_XFS_LIVE_HOOKS=y
CONFIG_CB710_CORE=y
CONFIG_SENSORS_LM83=y
CONFIG_FB_SYS_IMAGEBLIT=y
CONFIG_DMA_CMA=y
CONFIG_MTD_CFI_STAA=y
CONFIG_EDAC_I3200=y
CONFIG_SENSORS_TPS53679=y
CONFIG_USB4=y
CONFIG_ARCH_SUPPORTS_KMAP_LOCAL_FORCE_MAP=y
CONFIG_MMA7455=y
CONFIG_I2C_VIRTIO=y
CONFIG_MTD_BLKDEVS=y
CONFIG_INPUT_MAX7360_ROTARY=y
CONFIG_X86_PMEM_LEGACY_DEVICE=y
CONFIG_SENSORS_LTC4245=y
CONFIG_XILINX_XDMA=y
CONFIG_SSB_PCIHOST_POSSIBLE=y
CONFIG_I2C_PCI1XXXX=y
CONFIG_MFD_WM8997=y
CONFIG_XILINX_DMA=y
CONFIG_CFS_BANDWIDTH=y
CONFIG_HAVE_DEBUG_KMEMLEAK=y
CONFIG_GENERIC_PINCONF=y
CONFIG_BACKLIGHT_ARCXCNN=y
CONFIG_DHT11=y
CONFIG_X86_BUS_LOCK_DETECT=y
CONFIG_VCNL3020=y
CONFIG_MTD_CFI_AMDSTD=y
CONFIG_KMAP_LOCAL=y
CONFIG_UDMABUF=y
CONFIG_TASKS_RUDE_RCU=y
CONFIG_DEBUG_BOOT_PARAMS=y
CONFIG_CRYPTO_DEFLATE=y
CONFIG_LRU_GEN_WALKS_MMU=y
CONFIG_MAGIC_SYSRQ=y
CONFIG_XILINX_XADC=y
CONFIG_HAVE_KCSAN_COMPILER=y
CONFIG_REGULATOR_MT6323=y
CONFIG_HAVE_IRQ_TIME_ACCOUNTING=y
CONFIG_NTB_TOOL=y
CONFIG_MFD_WM831X_I2C=y
CONFIG_DMA_VIRTUAL_CHANNELS=y
CONFIG_LOGO_LINUX_MONO=y
CONFIG_YENTA_TI=y
CONFIG_ARCH_SUPPORTS_CRASH_HOTPLUG=y
CONFIG_DEBUG_RODATA_TEST=y
CONFIG_MCP4531=y
CONFIG_REGULATOR_MAX77838=y
CONFIG_HAVE_VIRT_CPU_ACCOUNTING_GEN=y
CONFIG_MTD_CFI_UTIL=y
CONFIG_HAVE_ARCH_AUDITSYSCALL=y
CONFIG_LEDS_MLXCPLD=y
CONFIG_FB_TRIDENT=y
CONFIG_ARCH_HAS_DEVMEM_IS_ALLOWED=y
CONFIG_CRYPTO_LIB_UTILS=y
CONFIG_HAVE_ARCH_KASAN_VMALLOC=y
CONFIG_W1_SLAVE_DS2406=y
CONFIG_BASE_SMALL=y
CONFIG_MTD_QINFO_PROBE=y
CONFIG_CC_HAS_RETURN_THUNK=y
CONFIG_HAVE_TRUSTED_KEYS=y
CONFIG_TRACER_MAX_TRACE=y
CONFIG_SLAB_MERGE_DEFAULT=y
CONFIG_HWMON=y
CONFIG_SCHED_TRACER=y
CONFIG_BLK_DEV_PCIESSD_MTIP32XX=y
CONFIG_IRQ_FORCED_THREADING=y
CONFIG_MFD_MT6397=y
CONFIG_QCOM_TZMEM_MODE_GENERIC=y
CONFIG_I2C_KEMPLD=y
CONFIG_PWM=y
CONFIG_MFD_MAX8997=y
CONFIG_TSL2591=y
CONFIG_ADXL380_I2C=y
CONFIG_REGULATOR_FIXED_VOLTAGE=y
CONFIG_MMA7455_I2C=y
CONFIG_DEVMEM=y
CONFIG_FB_N411=y
CONFIG_KRETPROBE_ON_RETHOOK=y
CONFIG_WM831X_BACKUP=y
CONFIG_SENSORS_PECI=y
CONFIG_SENSORS_MAX31790=y
CONFIG_MFD_MAX14577=y
CONFIG_SMSC37B787_WDT=y
CONFIG_LEDS_IS31FL319X=y
CONFIG_SENSORS_LTC3815=y
CONFIG_REGULATOR_MT6397=y
CONFIG_W1_MASTER_DS2482=y
CONFIG_SENSORS_ADM1031=y
CONFIG_GPIO_WS16C48=y
CONFIG_GENERIC_CLOCKEVENTS_COUPLED=y
CONFIG_CHARGER_BQ256XX=y
CONFIG_NLS_CODEPAGE_1251=y
CONFIG_CGROUP_DEVICE=y
CONFIG_SENSORS_LTC2992=y
CONFIG_X86_REQUIRED_FEATURE_PAE=y
CONFIG_NEED_PER_CPU_KM=y
CONFIG_HSI=y
CONFIG_MCB=y
CONFIG_W1_SLAVE_DS2408=y
CONFIG_IIO_HRTIMER_TRIGGER=y
CONFIG_HSC030PA=y
CONFIG_SCSI_UFSHCD_PCI=y
CONFIG_MFD_SMPRO=y
CONFIG_GPIO_KEMPLD=y
CONFIG_STRIP_ASM_SYMS=y
CONFIG_MMA8452=y
CONFIG_MSA311=y
CONFIG_W1_SLAVE_DS2780=y
CONFIG_APDS9999=y
CONFIG_WQ_CPU_INTENSIVE_REPORT=y
CONFIG_LEDS_CLASS=y
CONFIG_RMI4_F3A=y
CONFIG_GPIO_MADERA=y
CONFIG_MFD_WM5110=y
CONFIG_CRYPTO_ALGAPI=y
CONFIG_SCSI=y
CONFIG_PCI=y
CONFIG_X86_THERMAL_VECTOR=y
CONFIG_CRYPTO_HMAC=y
CONFIG_W1_SLAVE_DS2431=y
CONFIG_ATLAS_EZO_SENSOR=y
CONFIG_LEDS_TPS6105X=y
CONFIG_HARDENED_USERCOPY_DEFAULT_ON=y
CONFIG_HAVE_ARCH_PREL32_RELOCATIONS=y
CONFIG_NLS_MAC_CROATIAN=y
CONFIG_FB_NEOMAGIC=y
CONFIG_HAVE_PREEMPT_DYNAMIC=y
CONFIG_I2C_I801=y
CONFIG_CRC7=y
CONFIG_ZOPT2201=y
CONFIG_XILLYBUS=y
CONFIG_DEVFREQ_GOV_SIMPLE_ONDEMAND=y
CONFIG_SENSORS_SHTC1=y
CONFIG_TMPFS_QUOTA=y
CONFIG_ICS932S401=y
CONFIG_ARCH_SELECTS_KEXEC_FILE=y
CONFIG_LD_ORPHAN_WARN=y
CONFIG_SENSORS_MCP3021=y
CONFIG_BATTERY_RT5033=y
CONFIG_INTEGRITY=y
CONFIG_HAVE_KERNEL_LZO=y
CONFIG_HAVE_STATIC_CALL=y
CONFIG_VIRT_CPU_ACCOUNTING=y
CONFIG_ADXL313_I2C=y
CONFIG_SENSORS_MP2925=y
CONFIG_VIRTIO=y
CONFIG_PAGE_SIZE_4KB=y
CONFIG_DEBUG_FS_ALLOW_ALL=y
CONFIG_CHARGER_RT5033=y
CONFIG_EXPERT=y
CONFIG_FW_LOADER_SYSFS=y
CONFIG_RMI4_F34=y
CONFIG_OVERLAY_FS_XINO_AUTO=y
CONFIG_RMI4_CORE=y
CONFIG_XARRAY_MULTI=y
CONFIG_TMP007=y
CONFIG_EFI_PARTITION=y
CONFIG_SPMI=y
CONFIG_ADL8113=y
CONFIG_INTEL_IDMA64=y
CONFIG_FTRACE_SYSCALLS=y
CONFIG_I2C_ISMT=y
CONFIG_MTD_NAND_ECC=y
CONFIG_SENSORS_APPLESMC=y
CONFIG_NLS_CODEPAGE_863=y
CONFIG_SENSORS_KFAN=y
CONFIG_CRYPTO_XXHASH=y
CONFIG_PINCTRL_CS42L43=y
CONFIG_FB_3DFX_ACCEL=y
CONFIG_MODULES_USE_ELF_RELA=y
CONFIG_THERMAL_GOV_USER_SPACE=y
CONFIG_SENSIRION_SGP30=y
CONFIG_HW_RANDOM=y
CONFIG_MFD_WCD934X=y
CONFIG_MFD_MADERA=y
CONFIG_ARCH_MIGHT_HAVE_PC_PARPORT=y
CONFIG_RAPIDIO_ENUM_BASIC=y
CONFIG_IIO_BUFFER_CB=y
CONFIG_LEDS_LTC3220=y
CONFIG_ASSOCIATIVE_ARRAY=y
CONFIG_HARDIRQS_SW_RESEND=y
CONFIG_FB_NVIDIA_DEBUG=y
CONFIG_QUOTA_DEBUG=y
CONFIG_SIOX_BUS_GPIO=y
CONFIG_HAVE_ARCH_MMAP_RND_COMPAT_BITS=y
CONFIG_GPIO_ICH=y
CONFIG_LEDS_LM3533=y
CONFIG_ZLIB_DEFLATE=y
CONFIG_PTP_1588_CLOCK_OPTIONAL=y
CONFIG_SSB_PCMCIAHOST_POSSIBLE=y
CONFIG_GPIO_GENERIC=y
CONFIG_CRASH_DUMP=y
CONFIG_YAMAHA_YAS530=y
CONFIG_BMA400=y
CONFIG_HW_RANDOM_BA431=y
CONFIG_FB_NOTIFY=y
CONFIG_CRYPTO_SM4_AESNI_AVX2_X86_64=y
CONFIG_MTD_PLATRAM=y
CONFIG_SENSORS_EMC1812=y
CONFIG_FPGA=y
CONFIG_SENSORS_LM3533=y
CONFIG_LEDS_AW200XX=y
CONFIG_LENOVO_SE10_WDT=y
CONFIG_X86_DISABLED_FEATURE_CENTAUR_MCR=y
CONFIG_TTY=y
CONFIG_GEHC_PMC_ADC=y
CONFIG_COMMON_CLK_CDCE706=y
CONFIG_SSB_SPROM=y
CONFIG_INPUT_IBM_PANEL=y
CONFIG_SENSORS_LTC4282=y
CONFIG_WATCH_QUEUE=y
CONFIG_REGULATOR_PV88080=y
CONFIG_HOTPLUG_PCI_SHPC=y
CONFIG_IIO_ST_LSM9DS0=y
CONFIG_LEDS_PWM=y
CONFIG_I2C_SIS630=y
CONFIG_FW_DEVLINK_SYNC_STATE_TIMEOUT=y
CONFIG_QCOM_TZMEM=y
CONFIG_MMU=y
CONFIG_ARCH_HAS_NON_OVERLAPPING_ADDRESS_SPACE=y
CONFIG_FS_VERITY_BUILTIN_SIGNATURES=y
CONFIG_SENSORS_TMP102=y
CONFIG_GENERIC_TRACER=y
CONFIG_PSI=y
CONFIG_CMA=y
CONFIG_FAIR_GROUP_SCHED=y
CONFIG_W1_SLAVE_DS28E04=y
CONFIG_SECURITY_LOCKDOWN_LSM_EARLY=y
CONFIG_SENSORS_POWR1220=y
CONFIG_ARCH_WANT_HUGETLB_VMEMMAP_PREINIT=y
CONFIG_CRYPTO_TWOFISH_COMMON=y
CONFIG_SYSFS=y
CONFIG_INPUT_ISA1200_HAPTIC=y
CONFIG_X86_REQUIRED_FEATURE_PSE=y
CONFIG_SENSORS_ADT7410=y
CONFIG_XFS_ONLINE_SCRUB_STATS=y
CONFIG_INPUT_PWM_VIBRA=y
CONFIG_DEBUG_STACK_USAGE=y
CONFIG_CRYPTO_WP512=y
CONFIG_I2C_NVIDIA_GPU=y
CONFIG_KALLSYMS=y
CONFIG_MENZ069_WATCHDOG=y
CONFIG_VEML3235=y
CONFIG_BLK_DEV_INITRD=y
CONFIG_VIRT_CPU_ACCOUNTING_GEN=y
CONFIG_HAVE_FTRACE_GRAPH_FUNC=y
CONFIG_CRYPTO_AKCIPHER=y
CONFIG_PINCTRL_CS47L90=y
CONFIG_SCSI_UFSHCD_PLATFORM=y
CONFIG_PREVENT_FIRMWARE_BUILD=y
CONFIG_USERFAULTFD=y
CONFIG_TSM_GUEST=y
CONFIG_ARCH_HAS_SET_MEMORY=y
CONFIG_INTEL_MEI=y
CONFIG_PTE_MARKER_UFFD_WP=y
CONFIG_SENSORS_IT87=y
CONFIG_INPUT_CS40L50_VIBRA=y
CONFIG_MMU_GATHER_RCU_TABLE_FREE=y
CONFIG_BSD_PROCESS_ACCT=y
CONFIG_BMC150_MAGN=y
CONFIG_RING_BUFFER_ALLOW_SWAP=y
CONFIG_LOCK_MM_AND_FIND_VMA=y
CONFIG_VMWARE_VMCI=y
CONFIG_CRYPTO_SKCIPHER=y
CONFIG_IPMI_SI=y
CONFIG_COMMON_CLK_PALMAS=y
CONFIG_SENSORS_SPD5118=y
CONFIG_HAVE_KERNEL_BZIP2=y
CONFIG_GCOV_PROFILE_FTRACE=y
CONFIG_CC_OPTIMIZE_FOR_SIZE=y
CONFIG_UIO_CIF=y
CONFIG_MFD_ARIZONA_I2C=y
CONFIG_MC3230=y
CONFIG_ARCH_WANT_BATCHED_UNMAP_TLB_FLUSH=y
CONFIG_GENERIC_PHY=y
CONFIG_HP03=y
CONFIG_INPUT_GPIO_ROTARY_ENCODER=y
CONFIG_GENERIC_IRQ_SHOW=y
CONFIG_SP5100_TCO=y
CONFIG_X86_PLATFORM_DRIVERS_DELL=y
CONFIG_CRYPTO_MANAGER2=y
CONFIG_SENSORS_MC34VR500=y
CONFIG_DEBUG_WX=y
CONFIG_HARDLOCKUP_CHECK_TIMESTAMP=y
CONFIG_LEDS_LP5812=y
CONFIG_MFD_CORE=y
CONFIG_FW_LOADER_PAGED_BUF=y
CONFIG_SENSORS_TPS25990_REGULATOR=y
CONFIG_MFD_QNAP_MCU=y
CONFIG_DCACHE_WORD_ACCESS=y
CONFIG_ABP060MG=y
CONFIG_FPROBE_EVENTS=y
CONFIG_MHI_BUS=y
CONFIG_HAS_DMA=y
CONFIG_VIRTIO_BLK=y
CONFIG_MULTIPLEXER=y
CONFIG_REGULATOR_MT6370=y
CONFIG_SENSORS_TPS546D24=y
CONFIG_CLKEVT_I8253=y
CONFIG_FB_SIS=y
CONFIG_PINCTRL_CS47L85=y
CONFIG_MCP3422=y
CONFIG_LEDS_BD2802=y
CONFIG_GPIO_BT8XX=y
CONFIG_SLUB_TINY=y
CONFIG_SENSORS_IBM_CFFPS=y
CONFIG_CRYPTO_SM4=y
CONFIG_QFMT_V1=y
CONFIG_VFIO_IOMMU_TYPE1=y
CONFIG_DEBUG_INFO_NONE=y
CONFIG_BLOCK_LEGACY_AUTOLOAD=y
CONFIG_PCI_ATS=y
CONFIG_SENSORS_NCT6775_I2C=y
CONFIG_SCHED_PROXY_EXEC=y
CONFIG_HAVE_FUNCTION_TRACER=y
CONFIG_HAVE_ARCH_SECCOMP_FILTER=y
CONFIG_MFD_MAX77541=y
CONFIG_HAVE_ARCH_JUMP_LABEL_RELATIVE=y
CONFIG_APERTURE_HELPERS=y
CONFIG_ISL76682=y
CONFIG_BLK_SED_OPAL=y
CONFIG_X509_CERTIFICATE_PARSER=y
CONFIG_STATIC_USERMODEHELPER=y
CONFIG_X86_REQUIRED_FEATURE_MSR=y
CONFIG_TSYS01=y
CONFIG_MHP_DEFAULT_ONLINE_TYPE_ONLINE_AUTO=y
CONFIG_IIO_KFIFO_BUF=y
CONFIG_DEBUG_OBJECTS=y
CONFIG_IIO_TRIGGER=y
CONFIG_NLS_ISO8859_8=y
CONFIG_IKHEADERS=y
CONFIG_WM831X_POWER=y
CONFIG_HAVE_NOINSTR_VALIDATION=y
CONFIG_EXPORTFS_BLOCK_OPS=y
CONFIG_MPL115_I2C=y
CONFIG_ARCH_HAS_GENERIC_CRASHKERNEL_RESERVATION=y
CONFIG_LV0104CS=y
CONFIG_SENSORS_KBATT=y
CONFIG_FIRMWARE_EDID=y
CONFIG_UIO_DFL=y
CONFIG_MFD_INTEL_M10_BMC_CORE=y
CONFIG_X86_IO_APIC=y
CONFIG_PARPORT_PC=y
CONFIG_TCG_VTPM_PROXY=y
CONFIG_INPUT_KXTJ9=y
CONFIG_STK8BA50=y
CONFIG_SGETMASK_SYSCALL=y
CONFIG_HSC030PA_I2C=y
CONFIG_REGULATOR_WM831X=y
CONFIG_HAVE_ARCH_USERFAULTFD_WP=y
CONFIG_EXPORTFS=y
CONFIG_DA280=y
CONFIG_ARCH_HAS_DEBUG_WX=y
CONFIG_CRYPTO_LIB_SHA3=y
CONFIG_W1_MASTER_AMD_AXI=y
CONFIG_CRYPTO_LIB_AES_CBC_MACS=y
CONFIG_MFD_WM8998=y
