CONFIG_SUNRPC_BACKCHANNEL=n
CONFIG_CGROUP_DEBUG=n
CONFIG_DRM_DISPLAY_HDCP_HELPER=n
CONFIG_ZLIB_INFLATE=n
CONFIG_SOCK_RX_QUEUE_MAPPING=n
CONFIG_PM=n
CONFIG_SECURITY_SELINUX_BOOTPARAM=n
CONFIG_NFS_V4=n
CONFIG_CC_HAS_NO_PROFILE_FN_ATTR=n
CONFIG_WLAN_VENDOR_ST=n
CONFIG_X86_DISABLED_FEATURE_XENPV=n
CONFIG_KCMP=n
CONFIG_CPU_FREQ_GOV_COMMON=n
CONFIG_WIRELESS=n
CONFIG_X86_REQUIRED_FEATURE_MSR=n
CONFIG_SHMEM=n
CONFIG_NET_VENDOR_DAVICOM=n
CONFIG_LZO_DECOMPRESS=n
CONFIG_NETFILTER_NETLINK=n
CONFIG_X86_INTEL_PSTATE=n
CONFIG_I2C_SMBUS=n
CONFIG_NETLABEL=n
CONFIG_HAVE_OBJTOOL=n
CONFIG_DCACHE_WORD_ACCESS=n
CONFIG_VIRTIO_PCI_ADMIN_LEGACY=n
CONFIG_CRYPTO_HMAC=n
CONFIG_EFI_DXE_MEM_ATTRIBUTES=n
CONFIG_NET_VENDOR_DLINK=n
CONFIG_AUXILIARY_BUS=n
CONFIG_CPU_SUP_ZHAOXIN=n
CONFIG_PCI_PRI=n
CONFIG_HAVE_OBJTOOL_MCOUNT=n
CONFIG_IP6_NF_IPTABLES=n
CONFIG_VGA_CONSOLE=n
CONFIG_PNFS_FLEXFILE_LAYOUT=n
CONFIG_NET_VENDOR_SEEQ=n
CONFIG_PCI=n
CONFIG_INET_TUNNEL=n
CONFIG_YENTA_ENE_TUNE=n
CONFIG_ARCH_ENABLE_MEMORY_HOTPLUG=n
CONFIG_NETPOLL=n
CONFIG_ACPI_LEGACY_TABLES_LOOKUP=n
CONFIG_BINARY_PRINTF=n
CONFIG_NET_VENDOR_CORTINA=n
CONFIG_SECCOMP_FILTER=n
CONFIG_FAT_FS=n
CONFIG_PCI_PASID=n
CONFIG_PROC_KCORE=n
CONFIG_CLKBLD_I8253=n
CONFIG_SCSI_VIRTIO=n
CONFIG_HAVE_CONTEXT_TRACKING_USER=n
CONFIG_GENERIC_TRACER=n
CONFIG_CGROUPS=n
CONFIG_NET_SCH_FIFO=n
CONFIG_ARCH_HAS_PTDUMP=n
CONFIG_AGP=n
CONFIG_NET_VENDOR_MICROSEMI=n
CONFIG_LD_CAN_USE_KEEP_IN_OVERLAY=n
CONFIG_HAVE_STACKPROTECTOR=n
CONFIG_AGP_INTEL=n
CONFIG_GENERIC_SMP_IDLE_THREAD=n
CONFIG_UNION_FIND=n
CONFIG_STACKPROTECTOR_STRONG=n
CONFIG_MOUSE_PS2_BYD=n
CONFIG_SCHED_OMIT_FRAME_POINTER=n
CONFIG_HAVE_JUMP_LABEL_HACK=n
CONFIG_IPV6_SIT=n
CONFIG_CGROUP_DEVICE=n
CONFIG_HAVE_OPTPROBES=n
CONFIG_PERF_EVENTS_INTEL_CSTATE=n
CONFIG_SWIOTLB=n
CONFIG_CDROM=n
CONFIG_NET_VENDOR_META=n
CONFIG_NAMESPACES=n
CONFIG_NF_CONNTRACK=n
CONFIG_NLATTR=n
CONFIG_NET_TULIP=n
CONFIG_CGROUP_NET_CLASSID=n
CONFIG_DEFAULT_SECURITY_SELINUX=n
CONFIG_NFS_V3_ACL=n
CONFIG_ARCH_WANT_HUGE_PMD_SHARE=n
CONFIG_COMPAT_OLD_SIGACTION=n
CONFIG_NET_IP_TUNNEL=n
CONFIG_MAC_EMUMOUSEBTN=n
CONFIG_BLOCK_HOLDER_DEPRECATED=n
CONFIG_KPROBES=n
CONFIG_PAGE_COUNTER=n
CONFIG_PADATA=n
CONFIG_CONTEXT_TRACKING=n
CONFIG_X86_REQUIRED_FEATURE_FXSR=n
CONFIG_XZ_DEC_ARM=n
CONFIG_HIBERNATION_COMP_LZO=n
CONFIG_HAVE_PERF_EVENTS=n
CONFIG_PER_VMA_LOCK=n
CONFIG_THERMAL_DEFAULT_GOV_STEP_WISE=n
CONFIG_BRANCH_PROFILE_NONE=n
CONFIG_ARCH_CORRECT_STACKTRACE_ON_KRETPROBE=n
CONFIG_CRYPTO_LIB_AES_CBC_MACS=n
CONFIG_PARAVIRT=n
CONFIG_EARLY_PRINTK_DBGP=n
CONFIG_ARCH_HAS_NONLEAF_PMD_YOUNG=n
CONFIG_NETCONSOLE=n
CONFIG_DEVPORT=n
CONFIG_WATCHDOG=n
CONFIG_GENERIC_IRQ_MIGRATION=n
CONFIG_PTP_1588_CLOCK_VMCLOCK=n
CONFIG_RSEQ=n
CONFIG_SCSI_PROC_FS=n
CONFIG_NET_EMATCH=n
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE=n
CONFIG_CRYPTO_LIB_SHA256_ARCH=n
CONFIG_ARCH_USES_HIGH_VMA_FLAGS=n
CONFIG_X86_DISABLED_FEATURE_ENQCMD=n
CONFIG_HAVE_ARCH_AUDITSYSCALL=n
CONFIG_APERTURE_HELPERS=n
CONFIG_IP_PNP_RARP=n
CONFIG_ARCH_USE_BUILTIN_BSWAP=n
CONFIG_VIRTIO_INPUT=n
CONFIG_USB_DEFAULT_PERSIST=n
CONFIG_BLOCK=n
CONFIG_X86_TSC=n
CONFIG_PCI_LOCKLESS_CONFIG=n
CONFIG_ACPI_THERMAL=n
CONFIG_CPU_FREQ_GOV_ATTR_SET=n
CONFIG_NETFILTER_NETLINK_LOG=n
CONFIG_HUGETLB_PAGE_OPTIMIZE_VMEMMAP=n
CONFIG_HID_PETALYNX=n
CONFIG_X86_VERBOSE_BOOTUP=n
CONFIG_REALTEK_PHY=n
CONFIG_THERMAL_HWMON=n
CONFIG_NET_VENDOR_HISILICON=n
CONFIG_RPCSEC_GSS_KRB5=n
CONFIG_INIT_STACK_ALL_ZERO=n
CONFIG_MICROCODE=n
CONFIG_DEBUG_DEVRES=n
CONFIG_NET_9P_FD=n
CONFIG_UNIX98_PTYS=n
CONFIG_PNFS_FILE_LAYOUT=n
CONFIG_NFS_V4_0=n
CONFIG_USB_OHCI_LITTLE_ENDIAN=n
CONFIG_ARCH_HAS_GENERIC_CRASHKERNEL_RESERVATION=n
CONFIG_FW_LOADER=n
CONFIG_X86_DISABLED_FEATURE_CENTAUR_MCR=n
CONFIG_ASN1=n
CONFIG_ASYNC_KERNEL_PGTABLE_FREE=n
CONFIG_USER_STACKTRACE_SUPPORT=n
CONFIG_SND_X86=n
CONFIG_ACPI_DEBUG=n
CONFIG_ZONE_DMA=n
CONFIG_RCU_STALL_COMMON=n
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST=n
CONFIG_ARCH_HAS_CPU_ATTACK_VECTORS=n
CONFIG_SERIAL_8250_SHARE_IRQ=n
CONFIG_NOP_TRACER=n
CONFIG_MMU_GATHER_RCU_TABLE_FREE=n
CONFIG_EXT4_FS_SECURITY=n
CONFIG_IP_PNP=n
CONFIG_ARCH_HAS_KCOV=n
CONFIG_SPARSEMEM_VMEMMAP_PREINIT=n
CONFIG_ARCH_SUPPORTS_PAGE_TABLE_CHECK=n
CONFIG_BSD_PROCESS_ACCT=n
CONFIG_NET_VENDOR_BROADCOM=n
CONFIG_GENERIC_STRNLEN_USER=n
CONFIG_WERROR=n
CONFIG_HAVE_KERNEL_GZIP=n
CONFIG_GPIOLIB_LEGACY=n
CONFIG_DRM_MIPI_DSI=n
CONFIG_ARCH_SUPPORTS_LTO_CLANG_THIN=n
CONFIG_DYNAMIC_EVENTS=n
CONFIG_NF_LOG_SYSLOG=n
CONFIG_GENERIC_VDSO_OVERFLOW_PROTECT=n
CONFIG_HOTPLUG_CORE_SYNC=n
CONFIG_INPUT_MISC=n
CONFIG_MITIGATION_RETPOLINE=n
CONFIG_NUMA_MIGRATION=n
CONFIG_NET_VENDOR_REALTEK=n
CONFIG_CRYPTO_LIB_SHA256=n
CONFIG_ARCH_HIBERNATION_POSSIBLE=n
CONFIG_CPU_FREQ_GOV_USERSPACE=n
CONFIG_ARCH_SUPPORTS_SCHED_MC=n
CONFIG_ARCH_USE_SYM_ANNOTATIONS=n
CONFIG_MD_AUTODETECT=n
CONFIG_XZ_DEC_POWERPC=n
CONFIG_WLAN_VENDOR_MICROCHIP=n
CONFIG_ARCH_WANT_COMPAT_IPC_PARSE_VERSION=n
CONFIG_ARCH_HAS_DEBUG_VM_PGTABLE=n
CONFIG_IP_ROUTE_MULTIPATH=n
CONFIG_ARCH_HAS_MEM_ENCRYPT=n
CONFIG_ARCH_WANTS_CLOCKSOURCE_READ_INLINE=n
CONFIG_RTC_DRV_CMOS=n
CONFIG_PREVENT_FIRMWARE_BUILD=n
CONFIG_WLAN_VENDOR_SILABS=n
CONFIG_NET_VENDOR_WIZNET=n
CONFIG_XFRM=n
CONFIG_JOLIET=n
CONFIG_BLK_DEV_LOOP=n
CONFIG_EFIVAR_FS=n
CONFIG_HDMI=n
CONFIG_HAVE_ARCH_TRACEHOOK=n
CONFIG_ARCH_HAS_HW_PTE_YOUNG=n
CONFIG_X509_CERTIFICATE_PARSER=n
CONFIG_TRACING=n
CONFIG_LD_ORPHAN_WARN=n
CONFIG_ACPI_FAN=n
CONFIG_MAC80211_RC_MINSTREL=n
CONFIG_CGROUP_NET_PRIO=n
CONFIG_64BIT=n
CONFIG_TCP_CONG_ADVANCED=n
CONFIG_CRYPTO=n
CONFIG_X86_EXTENDED_PLATFORM=n
CONFIG_NET_VENDOR_VERTEXCOM=n
CONFIG_MITIGATION_SPECTRE_BHI=n
CONFIG_CARDBUS=n
CONFIG_MODIFY_LDT_SYSCALL=n
CONFIG_MMU_LAZY_TLB_REFCOUNT=n
CONFIG_RELAY=n
CONFIG_SUSPEND_FREEZER=n
CONFIG_THERMAL_GOV_STEP_WISE=n
CONFIG_PROC_PAGE_MONITOR=n
CONFIG_TMPFS_XATTR=n
CONFIG_SERIAL_8250_PNP=n
CONFIG_SND_HDA_I915=n
CONFIG_E1000=n
CONFIG_NET_VENDOR_MYRI=n
CONFIG_X86_REQUIRED_FEATURE_FPU=n
CONFIG_XPS=n
CONFIG_SIGNALFD=n
CONFIG_AS_WRUSS=n
CONFIG_DM_MIRROR=n
CONFIG_ARCH_SUPPORTS_MEMORY_FAILURE=n
CONFIG_HAVE_ARCH_JUMP_LABEL=n
CONFIG_PANTHERLORD_FF=n
CONFIG_IO_URING_BPF=n
CONFIG_GENERIC_PCI_IOMAP=n
CONFIG_ARCH_DEFAULT_CRASH_DUMP=n
CONFIG_ARCH_SUPPORTS_INT128=n
CONFIG_STRICT_KERNEL_RWX=n
CONFIG_IOMMU_SUPPORT=n
CONFIG_FSNOTIFY=n
CONFIG_SCSI_LOWLEVEL=n
CONFIG_ARCH_HAS_MEMBARRIER_SYNC_CORE=n
CONFIG_INITRAMFS_PRESERVE_MTIME=n
CONFIG_CC_HAS_IBT=n
CONFIG_WLAN_VENDOR_MARVELL=n
CONFIG_MITIGATION_SPECTRE_V2=n
CONFIG_I8253_LOCK=n
CONFIG_BLK_DEV_WRITE_MOUNTED=n
CONFIG_SERIO_SERPORT=n
CONFIG_SCSI_COMMON=n
CONFIG_QFMT_V2=n
CONFIG_ARCH_WANT_OLD_COMPAT_IPC=n
CONFIG_UNWINDER_ORC=n
CONFIG_HIBERNATION=n
CONFIG_HAVE_CONTEXT_TRACKING_USER_OFFSTACK=n
CONFIG_HAVE_KERNEL_LZO=n
CONFIG_TIGON3=n
CONFIG_X86_INTEL_MEMORY_PROTECTION_KEYS=n
CONFIG_PAGE_POOL=n
CONFIG_X86_PM_TIMER=n
CONFIG_LEGACY_VSYSCALL_XONLY=n
CONFIG_CRYPTO_SHA256=n
CONFIG_X86_MSR=n
CONFIG_RFKILL_LEDS=n
CONFIG_CPU_FREQ_GOV_ONDEMAND=n
CONFIG_ARCH_HAS_SYNC_CORE_BEFORE_USERMODE=n
CONFIG_CC_HAS_WORKING_NOSANITIZE_ADDRESS=n
CONFIG_HAVE_ARCH_SOFT_DIRTY=n
CONFIG_PATA_OLDPIIX=n
CONFIG_FONT_SUPPORT=n
CONFIG_SECCOMP=n
CONFIG_SLUB_DEBUG=n
CONFIG_IPC_NS=n
CONFIG_ARCH_SUPPORTS_CRASH_DUMP=n
CONFIG_HAVE_MOVE_PUD=n
CONFIG_QUOTA_TREE=n
CONFIG_ARCH_HAS_NON_OVERLAPPING_ADDRESS_SPACE=n
CONFIG_RPS=n
CONFIG_HAVE_IRQ_EXIT_ON_IRQ_STACK=n
CONFIG_ZSTD_COMMON=n
CONFIG_RANDOMIZE_KSTACK_OFFSET=n
CONFIG_CRYPTO_AKCIPHER=n
CONFIG_IP_PIMSM_V1=n
CONFIG_MITIGATION_UNRET_ENTRY=n
CONFIG_VIRTIO_ANCHOR=n
CONFIG_HAVE_ARCH_KSTACK_ERASE=n
CONFIG_GENERIC_BUG=n
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE_PUD=n
CONFIG_IOSF_MBI=n
CONFIG_HOTPLUG_PARALLEL=n
CONFIG_LOCKDEP_SUPPORT=n
CONFIG_BLK_CGROUP=n
CONFIG_EEEPC_LAPTOP=n
CONFIG_CGROUP_MISC=n
CONFIG_ARCH_SUPPORTS_KEXEC_SIG_FORCE=n
CONFIG_SND_SEQ_DEVICE=n
CONFIG_CRYPTO_CTS=n
CONFIG_RD_LZMA=n
CONFIG_SYSCTL_EXCEPTION_TRACE=n
CONFIG_INTEL_MEI_ME=n
CONFIG_HAVE_ARCH_PREL32_RELOCATIONS=n
