CONFIG_PPP_DEFLATE=y
CONFIG_DIBS_LO=y
CONFIG_GENERIC_IRQ_CHIP=y
CONFIG_HX711=y
CONFIG_CORDIC=y
CONFIG_IMX_SCMI_CPU_DRV=y
CONFIG_SYSVIPC_COMPAT=y
CONFIG_MMA7455=y
CONFIG_SGL_ALLOC=y
CONFIG_ARCH_SUPPORTS_KMAP_LOCAL_FORCE_MAP=y
CONFIG_VIDEO_OMAP2_VOUT=y
CONFIG_RV_MON_NOMISS=y
CONFIG_I2C_SYNQUACER=y
CONFIG_ENERGY_MODEL=y
CONFIG_EDAC_SCRUB=y
CONFIG_PINCTRL_TEGRA238=y
CONFIG_DCACHE_WORD_ACCESS=y
CONFIG_SPRD_THERMAL=y
CONFIG_UNWIND_USER=y
CONFIG_NLS_CODEPAGE_437=y
CONFIG_FUSE_PASSTHROUGH=y
CONFIG_RT_GROUP_SCHED_DEFAULT_DISABLED=y
CONFIG_PINCTRL_INTEL=y
CONFIG_VHOST_MENU=y
CONFIG_SENSORS_SHT21=y
CONFIG_SENSORS_W83627EHF=y
CONFIG_STM_SOURCE_FTRACE=y
CONFIG_CC_HAS_COUNTED_BY_PTR=y
CONFIG_SND_SOC_INTEL_USER_FRIENDLY_LONG_NAMES=y
CONFIG_FSL_IMX8_DDR_PMU=y
CONFIG_GPIO_MXC=y
CONFIG_DRM_ST7735R=y
CONFIG_SCSI_CONSTANTS=y
CONFIG_EXYNOS_CHIPID=y
CONFIG_SENSIRION_SGP40=y
CONFIG_SCSI_FC_ATTRS=y
CONFIG_SND_SOC_FSL_AUD2HTX=y
CONFIG_SND_SOC_CS42L73=y
CONFIG_SND_SOC_LOONGSON_I2S_PLATFORM=y
CONFIG_DRM_FBDEV_EMULATION=y
CONFIG_X86_USER_SHADOW_STACK=y
CONFIG_W1_SLAVE_THERM=y
CONFIG_MMU_GATHER_TABLE_FREE=y
CONFIG_NETWORK_SECMARK=y
CONFIG_HAVE_C_RECORDMCOUNT=y
CONFIG_UFS_FS=y
CONFIG_ARCH_USE_SYM_ANNOTATIONS=y
CONFIG_VIDEO_TW9906=y
CONFIG_ZONE_DMA32=y
CONFIG_DVB_LGS8GL5=y
CONFIG_TIMERLAT_TRACER=y
CONFIG_RESET_A10SR=y
CONFIG_DVB_TDA10086=y
CONFIG_SPI_OFFLOAD=y
CONFIG_DVB_LGS8GXX=y
CONFIG_FS_ENCRYPTION=y
CONFIG_SND_SOC_CYGNUS=y
CONFIG_ADI_AXI_DAC=y
CONFIG_SENSORS_ADT7310=y
CONFIG_NVMEM_MESON_MX_EFUSE=y
CONFIG_RCU_CPU_STALL_NOTIFIER=y
CONFIG_DVB_CX24117=y
CONFIG_KEYBOARD_ST_KEYSCAN=y
CONFIG_SND_HDA_CODEC_CS8409=y
CONFIG_QCOM_APR=y
CONFIG_MAX77541_ADC=y
CONFIG_ARM_SCMI_POWER_DOMAIN=y
CONFIG_ADMFM2000=y
CONFIG_MOUSE_ELAN_I2C=y
CONFIG_M62332=y
CONFIG_TASKS_RCU=y
CONFIG_INV_MPU6050_I2C=y
CONFIG_SND_SOC_AW88081=y
CONFIG_VIDEO_TI_CAL_MC=y
CONFIG_MMC_DAVINCI=y
CONFIG_PMIC_DA9052=y
CONFIG_FB_DMAMEM_HELPERS_DEFERRED=y
CONFIG_DMA_NEED_SYNC=y
CONFIG_MEDIA_TUNER_TDA18218=y
CONFIG_COMPAT_FOR_U64_ALIGNMENT=y
CONFIG_HAVE_IRQ_EXIT_ON_IRQ_STACK=y
CONFIG_SHMEM=y
CONFIG_QFMT_V1=y
CONFIG_MQ_IOSCHED_KYBER=y
CONFIG_OSNOISE_TRACER=y
CONFIG_NFC_NCI_SPI=y
CONFIG_SENSORS_SCH5627=y
CONFIG_MFD_TWL4030_AUDIO=y
CONFIG_IOMMU_IO_PGTABLE_LPAE=y
CONFIG_CXD2880_SPI_DRV=y
CONFIG_XEN_PRIVCMD=y
CONFIG_FB_CORE=y
CONFIG_SND_SOC_HDA=y
CONFIG_REGULATOR_TPS6105X=y
CONFIG_GPIO_BD9571MWV=y
CONFIG_MEMBARRIER=y
CONFIG_TI_ADS131E08=y
CONFIG_SENSORS_AXI_FAN_CONTROL=y
CONFIG_RFKILL=y
CONFIG_VIDEO_TW9903=y
