CONFIG_ARCH_HAS_CPU_FINALIZE_INIT=n
CONFIG_MITIGATION_L1TF=n
CONFIG_ATA_SFF=n
CONFIG_NET_VENDOR_MELLANOX=n
CONFIG_CPU_FREQ_GOV_ATTR_SET=n
CONFIG_LOCKD_V4=n
CONFIG_ARCH_HAS_EXECMEM_ROX=n
CONFIG_HAVE_GENERIC_VDSO=n
CONFIG_GENERIC_EARLY_IOREMAP=n
CONFIG_VIRTIO_INPUT=n
CONFIG_SERIAL_8250_MID=n
CONFIG_X86_PKG_TEMP_THERMAL=n
CONFIG_BUG=n
CONFIG_KRETPROBES=n
CONFIG_HID_GENERIC=n
CONFIG_FAT_FS=n
CONFIG_NET_VENDOR_RDC=n
CONFIG_AS_IS_GNU=n
CONFIG_SCHED_OMIT_FRAME_POINTER=n
CONFIG_NF_CONNTRACK_FTP=n
CONFIG_YENTA_ENE_TUNE=n
CONFIG_HAVE_STACKPROTECTOR=n
CONFIG_GENERIC_VDSO_OVERFLOW_PROTECT=n
CONFIG_DMA_NEED_SYNC=n
CONFIG_ARCH_SUPPORTS_KEXEC=n
CONFIG_CC_IS_GCC=n
CONFIG_KALLSYMS=n
CONFIG_CRYPTO_AKCIPHER=n
CONFIG_X86_REQUIRED_FEATURE_FPU=n
CONFIG_MAC80211_RC_DEFAULT_MINSTREL=n
CONFIG_BLK_DEV_SR=n
CONFIG_RANDOMIZE_MEMORY=n
CONFIG_CALL_PADDING=n
CONFIG_HAVE_FENTRY=n
CONFIG_RSEQ=n
CONFIG_SATA_PMP=n
CONFIG_SWAP=n
CONFIG_NET_VENDOR_CHELSIO=n
CONFIG_SERIAL_8250_EXTENDED=n
CONFIG_X86_VSYSCALL_EMULATION=n
CONFIG_ARCH_HAS_KCOV=n
CONFIG_HAVE_DMA_CONTIGUOUS=n
CONFIG_PROFILING=n
CONFIG_HIBERNATION_COMP_LZO=n
CONFIG_GENERIC_CMOS_UPDATE=n
CONFIG_USB_XHCI_PCI=n
CONFIG_GENERIC_IRQ_SHOW=n
CONFIG_DNOTIFY=n
CONFIG_DMA_SHARED_BUFFER=n
CONFIG_CRC32=n
CONFIG_CRYPTO_CBC=n
CONFIG_TIGON3_HWMON=n
CONFIG_IOMMU_DMA=n
CONFIG_GENERIC_CPU_DEVICES=n
CONFIG_SCSI_PROC_FS=n
CONFIG_MITIGATION_MMIO_STALE_DATA=n
CONFIG_SERIAL_8250_DMA=n
CONFIG_PARAVIRT=n
CONFIG_CPUFREQ_ARCH_CUR_FREQ=n
CONFIG_TASK_XACCT=n
CONFIG_CGROUP_RDMA=n
CONFIG_KEXEC=n
CONFIG_RCU_STALL_COMMON=n
CONFIG_NET_VENDOR_TI=n
CONFIG_IO_WQ=n
CONFIG_LD_CAN_USE_KEEP_IN_OVERLAY=n
CONFIG_COMPAT_32=n
CONFIG_XZ_DEC_ARM=n
CONFIG_DMIID=n
CONFIG_KALLSYMS_ALL=n
CONFIG_PHYLIB=n
CONFIG_THERMAL_DEFAULT_GOV_STEP_WISE=n
CONFIG_ARCH_HAS_CACHE_LINE_SIZE=n
CONFIG_LD_IS_BFD=n
CONFIG_X86_ACPI_CPUFREQ=n
CONFIG_QUEUED_RWLOCKS=n
CONFIG_DRM_VIRTIO_GPU_KMS=n
CONFIG_ARCH_MIGHT_HAVE_PC_SERIO=n
CONFIG_MOUSE_PS2_ALPS=n
CONFIG_MITIGATION_IBPB_ENTRY=n
CONFIG_NET_VENDOR_REALTEK=n
CONFIG_P2SB=n
CONFIG_NFS_USE_KERNEL_DNS=n
CONFIG_MICROCODE=n
CONFIG_HIBERNATION=n
CONFIG_SND_HDA_HWDEP=n
CONFIG_X86_LOCAL_APIC=n
CONFIG_SPARSEMEM_VMEMMAP_PREINIT=n
CONFIG_XZ_DEC=n
CONFIG_INTEL_GTT=n
CONFIG_HAVE_CONTEXT_TRACKING_USER_OFFSTACK=n
CONFIG_PM_DEBUG=n
CONFIG_ARCH_HAS_UACCESS_FLUSHCACHE=n
CONFIG_EPOLL=n
CONFIG_CC_HAS_ASM_GOTO_OUTPUT=n
CONFIG_X86_REQUIRED_FEATURE_LM=n
CONFIG_EFI_CUSTOM_SSDT_OVERLAYS=n
CONFIG_INPUT_FF_MEMLESS=n
CONFIG_CPU_SUP_ZHAOXIN=n
CONFIG_MITIGATION_SPECTRE_V1=n
CONFIG_HAVE_ARCH_KASAN=n
CONFIG_ARCH_WANT_HUGE_PMD_SHARE=n
CONFIG_ARCH_HAS_SYNC_CORE_BEFORE_USERMODE=n
CONFIG_DEBUG_INFO_NONE=n
CONFIG_DEBUG_FS=n
CONFIG_HAVE_OBJTOOL=n
CONFIG_NET_VENDOR_VERTEXCOM=n
CONFIG_SCSI_CONSTANTS=n
CONFIG_DMAR_TABLE=n
CONFIG_EEEPC_LAPTOP=n
CONFIG_ARCH_SUPPORTS_INT128=n
CONFIG_PROC_SYSCTL=n
CONFIG_SERIAL_CORE_CONSOLE=n
CONFIG_CRYPTO_SIG2=n
CONFIG_QUOTACTL=n
CONFIG_ATA_FORCE=n
CONFIG_IP_PNP=n
CONFIG_X86_DISABLED_FEATURE_K6_MTRR=n
CONFIG_ARCH_HAS_SET_DIRECT_MAP=n
CONFIG_XFRM_ESP=n
CONFIG_ARCH_ENABLE_HUGEPAGE_MIGRATION=n
CONFIG_IOMMU_SUPPORT=n
CONFIG_LD_ORPHAN_WARN=n
CONFIG_FTRACE=n
CONFIG_HAVE_EFFICIENT_UNALIGNED_ACCESS=n
CONFIG_NET_IP_TUNNEL=n
CONFIG_ARCH_SUPPORTS_KEXEC_HANDOVER=n
CONFIG_X86_SUPPORTS_MEMORY_FAILURE=n
CONFIG_ACPI_SPCR_TABLE=n
CONFIG_CGROUP_PIDS=n
CONFIG_ARCH_SUPPORTS_SCHED_CLUSTER=n
CONFIG_NET_VENDOR_RENESAS=n
CONFIG_APERTURE_HELPERS=n
CONFIG_NET_VENDOR_NETRONOME=n
CONFIG_BLK_CGROUP_IOLATENCY=n
CONFIG_ARCH_SUPPORTS_KEXEC_PURGATORY=n
CONFIG_VIRTIO=n
CONFIG_CLZ_TAB=n
CONFIG_HAVE_KERNEL_LZ4=n
CONFIG_IOMMU_IOVA=n
CONFIG_PACKET=n
CONFIG_NET_VENDOR_FUNGIBLE=n
CONFIG_DEBUG_DEVRES=n
CONFIG_PAGE_MAPCOUNT=n
CONFIG_HIBERNATION_SNAPSHOT_DEV=n
CONFIG_NET_VENDOR_WANGXUN=n
CONFIG_TRACE_IRQFLAGS_NMI_SUPPORT=n
CONFIG_PROC_VMCORE=n
CONFIG_CRYPTO_GENIV=n
CONFIG_COMPAT_OLD_SIGACTION=n
CONFIG_CGROUP_DEBUG=n
CONFIG_EFIVAR_FS=n
CONFIG_CC_HAS_ENTRY_PADDING=n
CONFIG_NET_VENDOR_EZCHIP=n
CONFIG_TRACEFS_AUTOMOUNT_DEPRECATED=n
CONFIG_KEXEC_CORE=n
CONFIG_ACPI_MDIO=n
CONFIG_ARCH_SUPPORTS_LTO_CLANG_THIN=n
CONFIG_HUGETLB_PAGE_OPTIMIZE_VMEMMAP=n
CONFIG_HAVE_KPROBES=n
CONFIG_MAC_EMUMOUSEBTN=n
CONFIG_NF_DEFRAG_IPV6=n
CONFIG_NETDEVICES=n
CONFIG_TASKS_RCU_GENERIC=n
CONFIG_USB_ARCH_HAS_HCD=n
CONFIG_FS_IOMAP=n
CONFIG_STACKPROTECTOR_STRONG=n
CONFIG_DRM_MIPI_DSI=n
CONFIG_SERIAL_8250_CONSOLE=n
CONFIG_WLAN_VENDOR_BROADCOM=n
CONFIG_NET_VENDOR_NI=n
CONFIG_NFS_V4=n
CONFIG_SYMBOLIC_ERRNAME=n
CONFIG_NETFILTER_EGRESS=n
CONFIG_RD_LZ4=n
CONFIG_ARCH_ENABLE_MEMORY_HOTPLUG=n
CONFIG_AMD_NB=n
CONFIG_UNINLINE_SPIN_UNLOCK=n
CONFIG_DEVTMPFS_MOUNT=n
CONFIG_ACPI_BATTERY=n
CONFIG_ZSTD_COMMON=n
CONFIG_USB_SUPPORT=n
CONFIG_WLAN_VENDOR_QUANTENNA=n
CONFIG_PM=n
CONFIG_USB_MON=n
CONFIG_ARCH_USE_CMPXCHG_LOCKREF=n
CONFIG_PM_SLEEP=n
CONFIG_INPUT_LEDS=n
CONFIG_ATA=n
CONFIG_MOUSE_PS2=n
CONFIG_HAVE_CALL_THUNKS=n
CONFIG_CRYPTO_LIB_UTILS=n
CONFIG_IOMMU_IOPF=n
CONFIG_POSIX_MQUEUE_SYSCTL=n
CONFIG_QUOTA_TREE=n
CONFIG_WLAN_VENDOR_ADMTEK=n
CONFIG_ZONE_DMA=n
CONFIG_VIRTIO_MENU=n
CONFIG_HAVE_RELIABLE_STACKTRACE=n
CONFIG_VIRTIO_ANCHOR=n
CONFIG_E1000E_HWTS=n
CONFIG_SUNRPC_BACKCHANNEL=n
CONFIG_GENERIC_IRQ_RESERVATION_MODE=n
CONFIG_HAVE_ASM_MODVERSIONS=n
CONFIG_TASKSTATS=n
CONFIG_HAVE_ARCH_KFENCE=n
CONFIG_NETFS_SUPPORT=n
CONFIG_ARCH_PROC_KCORE_TEXT=n
CONFIG_X86_DISABLED_FEATURE_XENPV=n
CONFIG_MOUSE_PS2_BYD=n
CONFIG_AMD_IOMMU=n
CONFIG_MOUSE_PS2_CYPRESS=n
CONFIG_EFI_STUB=n
CONFIG_USB_HIDDEV=n
CONFIG_ARCH_HAS_CPU_RELAX=n
CONFIG_CC_HAS_KASAN_GENERIC=n
CONFIG_IP_MULTICAST=n
CONFIG_ARCH_SUPPORTS_SCHED_SMT=n
CONFIG_COMPAT_BINFMT_ELF=n
CONFIG_SCSI_SPI_ATTRS=n
CONFIG_ARCH_ENABLE_SPLIT_PMD_PTLOCK=n
CONFIG_NET_VENDOR_I825XX=n
CONFIG_RFKILL_LEDS=n
CONFIG_PCI_DIRECT=n
CONFIG_CC_CAN_LINK=n
CONFIG_EXPORTFS=n
CONFIG_WLAN_VENDOR_RALINK=n
CONFIG_CC_HAS_WORKING_NOSANITIZE_ADDRESS=n
CONFIG_CRYPTO_LIB_GF128HASH=n
CONFIG_HAVE_HW_BREAKPOINT=n
CONFIG_HAVE_ARCH_JUMP_LABEL_RELATIVE=n
CONFIG_NET_VENDOR_DEC=n
CONFIG_HAVE_NMI=n
CONFIG_X86_REQUIRED_FEATURE_FXSR=n
CONFIG_KPROBES=n
CONFIG_USB_OHCI_HCD=n
CONFIG_TRACING=n
CONFIG_RTC_INTF_SYSFS=n
CONFIG_DRM_BRIDGE=n
CONFIG_CALL_THUNKS=n
CONFIG_USB_STORAGE=n
CONFIG_CRYPTO_HASH=n
CONFIG_HAVE_ARCH_KASAN_VMALLOC=n
CONFIG_XFRM=n
CONFIG_HAVE_GENERIC_TIF_BITS=n
CONFIG_IRQ_MSI_LIB=n
CONFIG_ARCH_SUPPORTS_PROPELLER_CLANG=n
CONFIG_VGA_ARB=n
CONFIG_RWSEM_SPIN_ON_OWNER=n
CONFIG_QUEUED_SPINLOCKS=n
CONFIG_TRACING_SUPPORT=n
CONFIG_NFS_DISABLE_UDP_SUPPORT=n
CONFIG_DMI=n
CONFIG_INPUT_SPARSEKMAP=n
CONFIG_ZONE_DMA32=n
CONFIG_ACPI_SLEEP=n
CONFIG_ARCH_WANT_LD_ORPHAN_WARN=n
CONFIG_ARCH_CORRECT_STACKTRACE_ON_KRETPROBE=n
CONFIG_INPUT_EVDEV=n
CONFIG_SOCK_RX_QUEUE_MAPPING=n
CONFIG_ARCH_WANTS_THP_SWAP=n
CONFIG_HVC_DRIVER=n
CONFIG_CRYPTO_LIB_BLAKE2S_ARCH=n
CONFIG_CONTEXT_TRACKING=n
CONFIG_X86_DISABLED_FEATURE_FRED=n
CONFIG_ACPI_EC=n
CONFIG_ACPI_CPPC_LIB=n
CONFIG_LOCK_SPIN_ON_OWNER=n
CONFIG_USB_EHCI_HCD=n
CONFIG_MMCONF_FAM10H=n
CONFIG_VT_CONSOLE_SLEEP=n
CONFIG_WLAN_VENDOR_ATH=n
CONFIG_USB_EHCI_TT_NEWSCHED=n
CONFIG_ARCH_SPARSEMEM_DEFAULT=n
CONFIG_NET_VENDOR_GOOGLE=n
CONFIG_ACPI_CPU_FREQ_PSS=n
CONFIG_GRO_CELLS=n
CONFIG_ARCH_USES_HIGH_VMA_FLAGS=n
CONFIG_NETFILTER_XT_TARGET_NFLOG=n
CONFIG_NET_VENDOR_ATHEROS=n
CONFIG_BLK_PM=n
CONFIG_ARCH_HAS_UBSAN=n
CONFIG_MITIGATION_CALL_DEPTH_TRACKING=n
CONFIG_FUNCTION_ALIGNMENT_4B=n
CONFIG_DECOMPRESS_LZ4=n
CONFIG_LZ4_DECOMPRESS=n
CONFIG_RD_LZO=n
CONFIG_RCU_TRACE=n
CONFIG_NF_NAT_SIP=n
CONFIG_ACPI_HOTPLUG_IOAPIC=n
CONFIG_IOMMU_MM_DATA=n
CONFIG_SPARSEMEM_VMEMMAP=n
CONFIG_SSB_POSSIBLE=n
CONFIG_WLAN_VENDOR_SILABS=n
CONFIG_SECCOMP_FILTER=n
CONFIG_DECOMPRESS_BZIP2=n
CONFIG_NUMA=n
CONFIG_HAVE_KLP_BUILD=n
CONFIG_FW_CACHE=n
CONFIG_MOUSE_PS2_SYNAPTICS=n
