CONFIG_AS_HAS_NON_CONST_ULEB128=n
CONFIG_RPMSG_QCOM_GLINK=n
CONFIG_IPQ_CMN_PLL=n
CONFIG_QCOM_MDT_LOADER=n
CONFIG_NET_DSA_TAG_OCELOT=n
CONFIG_PINCTRL_SH_PFC=n
CONFIG_HAVE_ARCH_KASAN_VMALLOC=n
CONFIG_IPQ_GCC_9574=n
CONFIG_SENSORS_ISL29018=n
CONFIG_KEYBOARD_ATKBD=n
CONFIG_RTC_DRV_RV8803=n
CONFIG_QCOM_SCM=n
CONFIG_ARCH_HAS_PTE_SPECIAL=n
CONFIG_PINCTRL_IMX_SCU=n
CONFIG_ARCH_HIBERNATION_POSSIBLE=n
CONFIG_UCS2_STRING=n
CONFIG_ARM_SMMU_V3=n
CONFIG_TRACE_GPU_MEM=n
CONFIG_REGULATOR_BD9571MWV=n
CONFIG_CRYPTO_CCM=n
CONFIG_SND_SOC_SOF=n
CONFIG_DRM_MSM_DSI_28NM_PHY=n
CONFIG_NET_CLS_BASIC=n
CONFIG_DRM_TTM=n
CONFIG_DECOMPRESS_LZO=n
CONFIG_NET_VENDOR_VERTEXCOM=n
CONFIG_SM_GCC_8750=n
CONFIG_WLAN_VENDOR_PURELIFI=n
CONFIG_QCOM_SMD_RPM=n
CONFIG_LTO_NONE=n
CONFIG_XEN_AUTO_XLATE=n
CONFIG_PHY_ROCKCHIP_TYPEC=n
CONFIG_GENERIC_IRQ_SHOW=n
CONFIG_VM_EVENT_COUNTERS=n
CONFIG_RAID6_PQ=n
CONFIG_NET_DSA_TAG_OCELOT_8021Q=n
CONFIG_DRM_DW_HDMI_CEC=n
CONFIG_IPQ_GCC_5210=n
CONFIG_MVEBU_SEI=n
CONFIG_ARM_GIC_V5=n
CONFIG_SND_SOC_XILINX_SPDIF=n
CONFIG_RTC_DRV_CROS_EC=n
CONFIG_SND_SOC_SIMPLE_MUX=n
CONFIG_TI_K3_PSIL=n
CONFIG_DEVMEM=n
CONFIG_RPMSG=n
CONFIG_SUNXI_RSB=n
CONFIG_DRM_POWERVR=n
CONFIG_DRM_SCHED=n
CONFIG_CLK_GFM_LPASS_SM8250=n
CONFIG_PINCTRL_SUN50I_H5=n
CONFIG_DRM_MXS=n
CONFIG_SND_SOC_DA7219=n
CONFIG_PHY_QCOM_QMP_COMBO=n
CONFIG_SM_GPUCC_8450=n
CONFIG_ARM64_ERRATUM_4311569=n
CONFIG_PHY_CADENCE_DPHY_RX=n
CONFIG_SND_SOC_QDSP6_APM_LPASS_DAI=n
CONFIG_XEN_SCRUB_PAGES_DEFAULT=n
CONFIG_ARCH_HAS_ACPI_TABLE_UPGRADE=n
CONFIG_PHY_EXYNOS_MIPI_VIDEO=n
CONFIG_DRM_TOSHIBA_TC358768=n
CONFIG_DRM_RZG2L_USE_MIPI_DSI=n
CONFIG_BLK_DEV_DM_BUILTIN=n
CONFIG_QCOM_PD_MAPPER=n
CONFIG_QORIQ_CPUFREQ=n
CONFIG_ARCH_HISI=n
CONFIG_HW_RANDOM_XGENE=n
CONFIG_ARCH_SUPPORTS_NUMA_BALANCING=n
CONFIG_MMC_ARMMMCI=n
CONFIG_DMA_RESTRICTED_POOL=n
CONFIG_CRYPTO_ZSTD=n
CONFIG_DRM_MSM_MDP4=n
CONFIG_SPRD_SC9860_CLK=n
CONFIG_PINCTRL_SUN50I_H6=n
CONFIG_ARCH_SUPPORTS_MEMORY_FAILURE=n
CONFIG_ARCH_USE_QUEUED_SPINLOCKS=n
CONFIG_SND_SOC_QCOM_OFFLOAD_UTILS=n
CONFIG_CRYPTO_KPP2=n
CONFIG_INTERCONNECT_IMX8MQ=n
CONFIG_HAVE_EBPF_JIT=n
CONFIG_CRYPTO_LIB_SHA1_ARCH=n
CONFIG_USB_ISP1760_DUAL_ROLE=n
CONFIG_SM_GPUCC_6115=n
CONFIG_COMMON_CLK_MESON_VCLK=n
CONFIG_NVMEM_LAYOUT_SL28_VPD=n
CONFIG_DRM_MSM_KMS_FBDEV=n
CONFIG_PCIE_ROCKCHIP_HOST=n
CONFIG_NET_XGRESS=n
CONFIG_ARM_MEDIATEK_CPUFREQ_HW=n
CONFIG_NET_DSA_TAG_NONE=n
CONFIG_COMMON_CLK_MT8167_MFGCFG=n
CONFIG_SYMBOLIC_ERRNAME=n
CONFIG_LOCK_SPIN_ON_OWNER=n
CONFIG_QCOM_FASTRPC=n
CONFIG_SATA_PMP=n
CONFIG_XZ_DEC_POWERPC=n
CONFIG_NFS_V4_2_READ_PLUS=n
CONFIG_SND_SOC_LPASS_WSA_MACRO=n
CONFIG_MFD_MACSMC=n
CONFIG_ARM64_GCS=n
CONFIG_SM_GCC_8250=n
CONFIG_PHY_MVEBU_A3700_UTMI=n
CONFIG_FSL_XGMAC_MDIO=n
CONFIG_HID_GENERIC=n
CONFIG_HW_RANDOM_MTK=n
CONFIG_ACPI_APEI_PCIEAER=n
CONFIG_PCIE_ROCKCHIP=n
CONFIG_HAVE_ARCH_SECCOMP_FILTER=n
CONFIG_USB_DWC3_APPLE=n
CONFIG_ARMADA_AP806_SYSCON=n
CONFIG_XILINX_WINDOW_WATCHDOG=n
CONFIG_HW_RANDOM_NPCM=n
CONFIG_WLAN_VENDOR_SILABS=n
CONFIG_PCIE_QCOM=n
CONFIG_USB_EHCI_HCD_NPCM7XX=n
CONFIG_DMA_DIRECT_REMAP=n
CONFIG_PINCTRL_MT6795=n
CONFIG_NET_VENDOR_MYRI=n
CONFIG_COMMON_CLK_MT8192_MSDC=n
CONFIG_IIO_ADC_HELPER=n
CONFIG_MOUSE_PS2_SYNAPTICS=n
CONFIG_ATL1C=n
CONFIG_INTERCONNECT_IMX=n
CONFIG_VIDEO_SAMSUNG_S5P_JPEG=n
CONFIG_IRQ_MSI_LIB=n
CONFIG_NFS_V3=n
CONFIG_VIRTIO_PCI_LEGACY=n
CONFIG_RFKILL_GPIO=n
CONFIG_PINCTRL_TEGRA124=n
CONFIG_HAVE_GUP_FAST=n
CONFIG_XARRAY_MULTI=n
CONFIG_SCSI_LOWLEVEL=n
CONFIG_SND_SOC_RT5514=n
CONFIG_SC_GCC_7180=n
CONFIG_MEDIA_DIGITAL_TV_SUPPORT=n
CONFIG_MESON_GXBB_WATCHDOG=n
CONFIG_HW_RANDOM_VIRTIO=n
CONFIG_CLONE_BACKWARDS=n
CONFIG_GPIO_ALTERA=n
CONFIG_MOUSE_ELAN_I2C=n
CONFIG_MD_BITMAP_FILE=n
CONFIG_GENERIC_GETTIMEOFDAY=n
CONFIG_CRYPTO_DEV_ZYNQMP_AES=n
CONFIG_FSL_ENETC_MDIO=n
CONFIG_CRYPTO_HASH_INFO=n
CONFIG_BUILDTIME_TABLE_SORT=n
CONFIG_FPGA_MGR_STRATIX10_SOC=n
CONFIG_CPU_FREQ_GOV_ONDEMAND=n
CONFIG_CRYPTO_DEV_FSL_CAAM_COMMON=n
CONFIG_PINCTRL_PFC_R8A779A0=n
CONFIG_PNPACPI=n
CONFIG_CLK_R9A07G044=n
CONFIG_QCOMTEE=n
CONFIG_FB_IOMEM_FOPS=n
CONFIG_PHY_MVEBU_CP110_COMPHY=n
CONFIG_PINCTRL_SM8650_LPASS_LPI=n
CONFIG_SND_SOC_SPDIF=n
CONFIG_HTE_TEGRA194_TEST=n
CONFIG_INTEGRITY=n
CONFIG_COMMON_CLK_MT8196_MCUSYS=n
CONFIG_NVME_CORE=n
CONFIG_FIND_NORMAL_PAGE=n
CONFIG_QCOM_KRYO_L2_ACCESSORS=n
CONFIG_NET_DEVLINK=n
CONFIG_IMX9_BLK_CTRL=n
CONFIG_SND_SOC_ROCKCHIP_I2S_TDM=n
CONFIG_SERIAL_CORE=n
CONFIG_CRYPTO_DEV_HISI_QM=n
CONFIG_PHY_QCOM_USB_HS_28NM=n
CONFIG_SPI_STM32_OSPI=n
CONFIG_VIDEO_RCAR_CSI2=n
CONFIG_SDM_DISPCC_845=n
CONFIG_CLK_R9A08G045=n
CONFIG_ARM_TIMER_SP804=n
CONFIG_MTD_CFI_INTELEXT=n
CONFIG_THERMAL=n
CONFIG_CAN_RAW=n
CONFIG_CFG80211=n
CONFIG_PINCTRL_IPROC_GPIO=n
CONFIG_VIDEO_IMX412=n
CONFIG_SND_SOC_GENERIC_DMAENGINE_PCM=n
CONFIG_USB_ULPI=n
CONFIG_DWMAC_SUN55I=n
CONFIG_SPI_XILINX=n
CONFIG_NFS_COMMON=n
CONFIG_ARCH_HAS_DEBUG_VM_PGTABLE=n
CONFIG_ARM_SCMI_PERF_DOMAIN=n
CONFIG_SENSORS_LM90=n
CONFIG_DRM_DISPLAY_HDMI_CEC_HELPER=n
CONFIG_HAVE_PV_STEAL_CLOCK_GEN=n
CONFIG_CRYPTO_SIG2=n
CONFIG_RTC_DRV_ISL1208=n
CONFIG_CLK_R8A77995=n
CONFIG_RTC_CLASS=n
CONFIG_INTERCONNECT_QCOM_SA8775P=n
CONFIG_PCI_J721E_HOST=n
CONFIG_QRTR_SMD=n
CONFIG_NET_VENDOR_NVIDIA=n
CONFIG_SPI_PL022=n
CONFIG_STUB_CLK_HI6220=n
CONFIG_PCIEPORTBUS=n
CONFIG_CLK_R8A77960=n
CONFIG_DMI=n
CONFIG_GENERIC_ADC_THERMAL=n
CONFIG_PHY_QCOM_USB_SNPS_FEMTO_V2=n
CONFIG_PINCTRL_SC7180=n
CONFIG_GNSS_SERIAL=n
CONFIG_FAIR_GROUP_SCHED=n
CONFIG_DEBUG_BUGVERBOSE=n
CONFIG_ARCH_TESLA_FSD=n
CONFIG_RPMSG_NS=n
CONFIG_ARCH_THUNDER2=n
CONFIG_PACKING=n
CONFIG_MV_XOR=n
CONFIG_SCSI_UFS_ROCKCHIP=n
CONFIG_MHI_WWAN_MBIM=n
CONFIG_ARM_APPLE_SOC_CPUFREQ=n
CONFIG_KEXEC=n
CONFIG_INTERCONNECT_QCOM_QCS404=n
CONFIG_SM_GPUCC_6350=n
CONFIG_MUTEX_SPIN_ON_OWNER=n
CONFIG_NVMEM_APPLE_EFUSES=n
CONFIG_PINCTRL_MT6397=n
CONFIG_DEVFREQ_THERMAL=n
CONFIG_ARM64_LSUI=n
CONFIG_SND_AUDIO_GRAPH_CARD=n
CONFIG_NET_DSA_TAG_BRCM_LEGACY=n
CONFIG_USB_XHCI_MTK=n
CONFIG_RESET_BRCMSTB=n
CONFIG_XEN_FBDEV_FRONTEND=n
CONFIG_COMMON_CLK_MT8192_CAMSYS=n
CONFIG_EXECMEM=n
CONFIG_RD_XZ=n
CONFIG_CLK_RENESAS_VBATTB=n
CONFIG_VIDEO_E5010_JPEG_ENC=n
CONFIG_HAVE_C_RECORDMCOUNT=n
CONFIG_CPU_MITIGATIONS=n
CONFIG_COMMON_CLK_MESON_CLKC_UTILS=n
CONFIG_DP83TG720_PHY=n
CONFIG_K3_RTI_WATCHDOG=n
CONFIG_GARP=n
CONFIG_RMNET=n
CONFIG_GENERIC_IRQ_IPI=n
CONFIG_REGULATOR_QCOM_RPMH=n
CONFIG_SND_SOC_MT8365_MT6357=n
CONFIG_VFIO_GROUP=n
CONFIG_SCSI_SAS_ATA=n
CONFIG_ARCH_VEXPRESS=n
CONFIG_HAVE_PAGE_SIZE_4KB=n
CONFIG_MMC_SDHCI_TEGRA=n
CONFIG_SND_SOC_WCD938X=n
CONFIG_DEBUG_INFO_REDUCED=n
CONFIG_BRCMSTB_GISB_ARB=n
CONFIG_SND_HDA_TEGRA=n
CONFIG_GENERIC_STRNCPY_FROM_USER=n
CONFIG_PHY_SUN6I_MIPI_DPHY=n
CONFIG_POLARFIRE_SOC_SYSCONS=n
CONFIG_SCSI_DMA=n
CONFIG_ARCH_SUPPORTS_KEXEC_SIG=n
CONFIG_RENESAS_DMA=n
CONFIG_QUEUED_SPINLOCKS=n
CONFIG_PCI_ATS=n
CONFIG_ARCH_HAS_USER_SHADOW_STACK=n
CONFIG_OF_FPGA_REGION=n
CONFIG_SOC_TEGRA_PMC=n
CONFIG_PTP_1588_CLOCK=n
CONFIG_COMMON_CLK_S2MPS11=n
CONFIG_ARM_PMUV3=n
CONFIG_SPRD_TIMER=n
CONFIG_PWM_MEDIATEK=n
CONFIG_MMC_BCM2835=n
CONFIG_NVMEM_ROCKCHIP_EFUSE=n
CONFIG_ZONE_DMA=n
CONFIG_EFI_ESRT=n
CONFIG_USB_DWC3_IMX8MP=n
CONFIG_PCI_HOST_THUNDER_PEM=n
CONFIG_IPQ_APSS_6018=n
CONFIG_CRYPTO_CTR=n
CONFIG_HAS_SECURITY_AUDIT=n
CONFIG_COMMON_CLK_MT8188_CAMSYS=n
CONFIG_INTERCONNECT_QCOM_SC7280=n
CONFIG_REGULATOR_BD718XX=n
CONFIG_SOC_TEGRA_CBB=n
CONFIG_ARCH_SUPPORTS_PAGE_TABLE_CHECK=n
CONFIG_BT_BCM=n
CONFIG_SND_PCM_TIMER=n
CONFIG_USB_CONFIGFS_NCM=n
CONFIG_VIDEO_SAMSUNG_S5P_MFC=n
CONFIG_PINCTRL_RTD1619B=n
CONFIG_ARM64_EPAN=n
CONFIG_MEDIA_TUNER_XC4000=n
CONFIG_MMC_MTK=n
CONFIG_ARCH_R9A09G077=n
CONFIG_PCIE_DW=n
CONFIG_PRU_REMOTEPROC=n
CONFIG_VIDEO_ROCKCHIP_CIF=n
CONFIG_SM_GCC_8150=n
CONFIG_CC_HAS_MIN_FUNCTION_ALIGNMENT=n
CONFIG_GOOGLE_FIRMWARE=n
