CONFIG_ISL29003=y
CONFIG_MTD_GEN_PROBE=y
CONFIG_MLXREG_IO=y
CONFIG_X86_PM_TIMER=y
CONFIG_ARCH_USE_MEMTEST=y
CONFIG_SENSORS_NPCM7XX=y
CONFIG_SENSORS_MC13783_ADC=y
CONFIG_MSI_LAPTOP=y
CONFIG_ASSOCIATIVE_ARRAY=y
CONFIG_ATH6KL=y
CONFIG_ARCH_WANT_IRQS_OFF_ACTIVATE_MM=y
CONFIG_HWMON_VID=y
CONFIG_SENSORS_ADM1025=y
CONFIG_SENSORS_LM95234=y
CONFIG_SENSORS_F71882FG=y
CONFIG_EDAC_ATOMIC_SCRUB=y
CONFIG_PHY_CADENCE_TORRENT=y
CONFIG_SENSORS_LTC4222=y
CONFIG_SYSFS=y
CONFIG_BOSCH_BNO055_I2C=y
CONFIG_PRIME_NUMBERS=y
CONFIG_QCOM_NET_PHYLIB=y
CONFIG_SENSORS_NCT7363=y
CONFIG_SPI_MASTER=y
CONFIG_COMEDI_ADV_PCI1710=y
CONFIG_USB_HSIC_USB3503=y
CONFIG_AD3530R=y
CONFIG_DLHL60D=y
CONFIG_AUTOFS_FS=y
CONFIG_SX_COMMON=y
CONFIG_HAVE_FUNCTION_GRAPH_TRACER=y
CONFIG_SENSORS_DELL_SMM=y
CONFIG_CRYPTO_LIB_SHA3=y
CONFIG_TMPFS_QUOTA=y
CONFIG_LEDS_PCA995X=y
CONFIG_SCSI_ISCI=y
CONFIG_PROC_KCORE=y
CONFIG_NLS_MAC_ICELAND=y
CONFIG_GPIO_WAVESHARE_DSI_TOUCH=y
CONFIG_NLS_CODEPAGE_874=y
CONFIG_REGULATOR_TPS6507X=y
CONFIG_AD4851=y
CONFIG_CRYPTO_LIB_DES=y
CONFIG_LEDS_LM3533=y
CONFIG_COMEDI_CB_PCIMDAS=y
CONFIG_EXPORTFS_BLOCK_OPS=y
CONFIG_AS_IS_GNU=y
CONFIG_XOR_KUNIT_TEST=y
CONFIG_CRYPTO_SHA512=y
CONFIG_SENSORS_LM78=y
CONFIG_FB_RIVA=y
CONFIG_REGULATOR_HI6421V530=y
CONFIG_SENSORS_NCT6683=y
CONFIG_TCS3472=y
CONFIG_OF=y
CONFIG_AD7780=y
CONFIG_PCI_STUB=y
CONFIG_IIO_SSP_SENSORHUB=y
CONFIG_LTC2983=y
CONFIG_HAVE_GENERIC_VDSO=y
CONFIG_SCSI_SAS_LIBSAS=y
CONFIG_MAX11205=y
CONFIG_REGULATOR_RT4801=y
CONFIG_VIPERBOARD_ADC=y
CONFIG_COMEDI_ADDI_APCI_1032=y
CONFIG_USB_CDNS2_UDC=y
CONFIG_PHY_CADENCE_SIERRA=y
CONFIG_HAVE_KVM_IRQ_BYPASS=y
CONFIG_SCSI_LOWLEVEL=y
CONFIG_CC_HAS_KASAN_GENERIC=y
CONFIG_KVM_X86=y
CONFIG_BT_MTKUART=y
CONFIG_COMEDI_PCI_DRIVERS=y
CONFIG_BCMA_DEBUG=y
CONFIG_COMMON_CLK_SI544=y
CONFIG_DAMON=y
CONFIG_USB_MUSB_HOST=y
CONFIG_NFC=y
CONFIG_CLOCKSOURCE_WATCHDOG=y
CONFIG_MULTIPLEXER=y
CONFIG_EXTCON_SM5502=y
CONFIG_SENSORS_RM3100_I2C=y
CONFIG_JSA1212=y
CONFIG_COMMON_CLK_CDCE706=y
CONFIG_PINCTRL_EMMITSBURG=y
CONFIG_WLAN_VENDOR_TI=y
CONFIG_PPS_CLIENT_KTIMER=y
CONFIG_BT_LE_L2CAP_ECRED=y
CONFIG_FUTEX_PRIVATE_HASH=y
CONFIG_INPUT_DA7280_HAPTICS=y
CONFIG_PSAMPLE=y
CONFIG_ANDROID_BINDER_IPC=y
CONFIG_WLAN_VENDOR_ATH=y
CONFIG_MGEODEGX1=y
CONFIG_SSIF_IPMI_BMC=y
CONFIG_ADFS_FS=y
CONFIG_IQS621_ALS=y
CONFIG_CRYPTO_ACOMP2=y
CONFIG_CC_HAS_ZERO_CALL_USED_REGS=y
CONFIG_EISA_NAMES=y
CONFIG_SENSORS_LM95245=y
CONFIG_USB_STORAGE=y
CONFIG_AM2315=y
CONFIG_USB_DWC2_HOST=y
CONFIG_NLS_CODEPAGE_737=y
CONFIG_INTEL_QEP=y
CONFIG_IDLE_INJECT=y
CONFIG_PREVENT_FIRMWARE_BUILD=y
CONFIG_PWM=y
CONFIG_DNS_RESOLVER=y
CONFIG_SECURITY_COMMONCAP_KUNIT_TEST=y
CONFIG_MMC_SDHCI=y
CONFIG_PCI_ATS=y
CONFIG_IIO_BUFFER_HW_CONSUMER=y
CONFIG_MTD_MCHP23K256=y
CONFIG_BUFFER_HEAD=y
CONFIG_MTD_BLKDEVS=y
CONFIG_TUN_VNET_CROSS_LE=y
CONFIG_FDDI=y
CONFIG_CRYPTO_LIB_MLDSA=y
CONFIG_PCIE_CADENCE_PLAT_HOST=y
CONFIG_CRYPTO_MD4=y
CONFIG_REGULATOR_ISL9305=y
CONFIG_SERIO_SERPORT=y
CONFIG_DYNAMIC_SIGFRAME=y
CONFIG_X86_PLATFORM_DEVICES=y
CONFIG_QRTR_TUN=y
CONFIG_BT_HCIUART_QCA=y
CONFIG_NFC_S3FWRN5=y
CONFIG_PWM_DWC=y
CONFIG_ISCSI_IBFT=y
CONFIG_SCSI_ACARD=y
CONFIG_BMA400_SPI=y
CONFIG_FORCE_DYNAMIC_FTRACE=y
CONFIG_HAVE_IRQ_TIME_ACCOUNTING=y
CONFIG_RAID6_PQ_ARCH=y
CONFIG_NET_IFE=y
CONFIG_IO_WQ=y
CONFIG_SENSORS_INA233=y
CONFIG_HAVE_DYNAMIC_FTRACE=y
CONFIG_SENSORS_IR36021=y
CONFIG_ROMFS_ON_BLOCK=y
CONFIG_X86_AMD_FREQ_SENSITIVITY=y
CONFIG_USB_U_ETHER=y
CONFIG_LEDS_TRIGGERS=y
CONFIG_FB_SAVAGE_I2C=y
CONFIG_GPIO_AGGREGATOR=y
CONFIG_ROHM_BU27034=y
CONFIG_SENSORS_TMP108=y
CONFIG_PERF_EVENTS_INTEL_RAPL=y
CONFIG_SENSORS_RM3100_SPI=y
CONFIG_SENSORS_XDP710=y
CONFIG_HAVE_IOREMAP_PROT=y
CONFIG_X86_ESPFIX32=y
CONFIG_X86_LEGACY_VM86=y
CONFIG_HW_RANDOM_GEODE=y
CONFIG_INPUT_MOUSEDEV=y
CONFIG_KPROBES=y
CONFIG_HAVE_SETUP_PER_CPU_AREA=y
CONFIG_NLS_CODEPAGE_437=y
CONFIG_GPIO_TC3589X=y
CONFIG_SIMPLE_RING_BUFFER=y
CONFIG_REGULATOR_TPS65219=y
CONFIG_QNX4FS_FS=y
CONFIG_IIO_SW_DEVICE=y
CONFIG_LEDS_LP3944=y
CONFIG_SPS30_I2C=y
CONFIG_SMSC_PHY=y
CONFIG_HPET=y
CONFIG_FW_UPLOAD=y
CONFIG_INPUT_WM831X_ON=y
CONFIG_LEDS_BRIGHTNESS_HW_CHANGED=y
CONFIG_CPU_FREQ_GOV_USERSPACE=y
CONFIG_CRC7=y
CONFIG_XFS_POSIX_ACL=y
CONFIG_INIT_STACK_NONE=y
CONFIG_LEDS_TRIGGER_CAMERA=y
CONFIG_ADXL313=y
CONFIG_REGULATOR_MAX8660=y
CONFIG_STACKTRACE_SUPPORT=y
CONFIG_X86_ALIGNMENT_16=y
CONFIG_CRYPTO_DEV_PADLOCK_SHA=y
CONFIG_CLKEVT_I8253=y
CONFIG_RFKILL_GPIO=y
CONFIG_BACKLIGHT_SAHARA=y
CONFIG_ADIS16080=y
CONFIG_REED_SOLOMON_ENC8=y
CONFIG_COMEDI_ADDI_APCI_3120=y
CONFIG_SLUB_DEBUG=y
CONFIG_USB_HSIC_USB4604=y
CONFIG_EXTCON_RT8973A=y
CONFIG_RUSTC_HAS_FILE_WITH_NUL=y
CONFIG_SENSORS_ADCXX=y
CONFIG_INPUT_TABLET=y
CONFIG_CPU_IDLE_GOV_MENU=y
CONFIG_GENERIC_IRQ_SHOW=y
CONFIG_MTD_UBI_NVMEM=y
CONFIG_W1_SLAVE_DS2423=y
CONFIG_TSYS01=y
CONFIG_GPIO_TPIC2810=y
CONFIG_GPIO_MAX730X=y
CONFIG_FFS_KUNIT_TEST=y
CONFIG_USB_TRANCEVIBRATOR=y
CONFIG_IIO_ST_GYRO_I2C_3AXIS=y
CONFIG_MTD_CFI_I1=y
CONFIG_USB_ISP1301=y
CONFIG_I2C_ALGOPCF=y
CONFIG_LP8788_ADC=y
CONFIG_C2PORT_DURAMAR_2150=y
CONFIG_GENERIC_ISA_DMA=y
CONFIG_SCSI_LOGGING=y
CONFIG_SPI_SLAVE=y
CONFIG_NVME_AUTH=y
CONFIG_EXT4_FS_POSIX_ACL=y
CONFIG_KVM=y
CONFIG_TI_DAC5571=y
CONFIG_BATTERY_TWL4030_MADC=y
CONFIG_CRYPTO_AEAD2=y
CONFIG_REGMAP=y
CONFIG_FB_KYRO=y
CONFIG_PSTORE_PMSG=y
CONFIG_TEST_UDELAY=y
CONFIG_INTEL_IDLE=y
CONFIG_REGULATOR_TPS65912=y
CONFIG_CC_HAS_MARCH_NATIVE=y
CONFIG_NET_SCH_HHF=y
CONFIG_VFIO_PCI=y
CONFIG_CRYPTO_USER_API_RNG=y
CONFIG_ARCH_USE_BUILTIN_BSWAP=y
CONFIG_NVMEM_LAYOUT_SL28_VPD=y
CONFIG_CHARGER_RT9756=y
CONFIG_CPU_IDLE_GOV_LADDER=y
CONFIG_REGULATOR_RT6245=y
CONFIG_AX88796B_PHY=y
CONFIG_SERIAL_MAX310X=y
CONFIG_FB_DEVICE=y
CONFIG_GET_FREE_REGION=y
CONFIG_CLK_TWL=y
CONFIG_USB_F_TCM=y
CONFIG_SERIAL_MAX3100=y
CONFIG_EXTCON_MAX3355=y
CONFIG_GPIO_74X164=y
CONFIG_MARVELL_88Q2XXX_PHY=y
CONFIG_TRACER_SNAPSHOT_PER_CPU_SWAP=y
CONFIG_ARCH_HAS_MEM_ENCRYPT=y
CONFIG_CRYPTO_CCM=y
CONFIG_I2C_DEBUG_BUS=y
CONFIG_CB710_DEBUG_ASSUMPTIONS=y
CONFIG_FPGA_MGR_EFINIX_SPI=y
CONFIG_FTRACE_VALIDATE_RCU_IS_WATCHING=y
CONFIG_MTD_CFI_AMDSTD=y
CONFIG_DM_ZERO=y
CONFIG_CRYPTO_RNG=y
CONFIG_BLK_DEV_BSGLIB=y
CONFIG_MFD_CS47L15=y
CONFIG_VFIO_IOMMU_TYPE1=y
CONFIG_ABP060MG=y
CONFIG_QTNFMAC=y
CONFIG_KVFREE_RCU_BATCHED=y
CONFIG_REGULATOR_MAX77541=y
CONFIG_KEYBOARD_ADP5520=y
CONFIG_DEVTMPFS_SAFE=y
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST_IDLE=y
CONFIG_FB_3DFX_I2C=y
CONFIG_SURFACE_PLATFORMS=y
CONFIG_GENERIC_CPU_AUTOPROBE=y
CONFIG_I2C_SMBUS=y
CONFIG_X86_CX8=y
CONFIG_GPIO_RDC321X=y
CONFIG_ARCH_SUPPORTS_KMAP_LOCAL_FORCE_MAP=y
CONFIG_GPIO_PCI_IDIO_16=y
CONFIG_PHY_PACKAGE=y
CONFIG_CRYPTO_AKCIPHER=y
CONFIG_SENSORS_BEL_PFE=y
CONFIG_CPU_SUP_ZHAOXIN=y
CONFIG_CHARGER_BQ24190=y
CONFIG_RESET_MCHP_SPARX5=y
CONFIG_DEFXX=y
CONFIG_USB_NET_CDC_EEM=y
CONFIG_MAX5487=y
CONFIG_DM_LOG_USERSPACE=y
CONFIG_AD7768_1=y
CONFIG_MFD_MAX7360=y
CONFIG_I2C_USBIO=y
CONFIG_TCG_TIS_I2C_CR50=y
CONFIG_MDIO_MVUSB=y
CONFIG_SERIAL_PCH_UART=y
CONFIG_DEBUG_IRQFLAGS=y
CONFIG_ARCH_SUPPORTS_CRASH_HOTPLUG=y
CONFIG_DIBS_LO=y
CONFIG_COMMON_CLK_LOCHNAGAR=y
CONFIG_USB4=y
CONFIG_ACORN_PARTITION_EESOX=y
CONFIG_TYPEC_MUX_PS883X=y
CONFIG_FW_LOADER=y
CONFIG_FUSE_IO_URING=y
CONFIG_ATOMIC64_SELFTEST=y
CONFIG_NET_HANDSHAKE_KUNIT_TEST=y
CONFIG_ACPI_PROCESSOR_CSTATE=y
CONFIG_PCIEASPM=y
CONFIG_X86_DISABLED_FEATURE_SYSCALL32=y
CONFIG_KVM_MMIO=y
CONFIG_APERTURE_HELPERS=y
CONFIG_SERIAL_8250_EXTENDED=y
CONFIG_MFD_RK8XX_I2C=y
CONFIG_BCACHE_ASYNC_REGISTRATION=y
CONFIG_TCG_TIS_ST33ZP24_I2C=y
CONFIG_INPUT_CMA3000_I2C=y
CONFIG_DMA_CMA=y
CONFIG_MEMORY_FAILURE=y
CONFIG_SENSORS_HP_WMI=y
CONFIG_MFD_MADERA=y
CONFIG_NET_TEAM_MODE_RANDOM=y
CONFIG_IIO_KX022A=y
CONFIG_ARCH_SUPPORTS_HUGETLBFS=y
CONFIG_RPMSG_NS=y
CONFIG_CRYPTO_KRB5ENC=y
CONFIG_VEML6040=y
CONFIG_TI_ADC12138=y
CONFIG_MSA311=y
CONFIG_RPMB=y
CONFIG_PCIE_CADENCE=y
CONFIG_IIO_ST_SENSORS_CORE=y
CONFIG_AD9523=y
CONFIG_COMEDI_ADDI_APCI_3XXX=y
CONFIG_X9250=y
CONFIG_ACPI_WMI=y
CONFIG_HAVE_NMI=y
CONFIG_LOCKDEP_SUPPORT=y
CONFIG_BRCMUTIL=y
CONFIG_MLXREG_LC=y
CONFIG_AD7746=y
CONFIG_MFD_TPS65218=y
CONFIG_AD7091R5=y
CONFIG_VSOCKETS_LOOPBACK=y
CONFIG_INFINEON_TLV493D=y
CONFIG_AD7091R8=y
CONFIG_ISCSI_BOOT_SYSFS=y
CONFIG_STACKDEPOT=y
CONFIG_SERIAL_8250_DWLIB=y
CONFIG_MFD_MAX77705=y
CONFIG_SCSI_ISCSI_ATTRS=y
CONFIG_USB_NET_CDCETHER=y
CONFIG_I2C_MUX_MULE=y
CONFIG_SCSI_AM53C974=y
CONFIG_CHARGER_MAX77705=y
CONFIG_ARCH_HAS_MEMBARRIER_SYNC_CORE=y
CONFIG_TOPSTAR_LAPTOP=y
CONFIG_SENSORS_LT3074=y
CONFIG_INTEL_MEI_VSC_HW=y
CONFIG_MAX1241=y
CONFIG_XZ_DEC_BCJ=y
CONFIG_IIO_ST_ACCEL_I2C_3AXIS=y
CONFIG_GPIO_PALMAS=y
CONFIG_HW_RANDOM_CCTRNG=y
CONFIG_LTC2632=y
CONFIG_IIO_ST_MAGN_3AXIS=y
CONFIG_MFD_TPS6594_I2C=y
CONFIG_REGULATOR_MP886X=y
CONFIG_XZ_DEC_POWERPC=y
CONFIG_CRAMFS=y
CONFIG_GPIO_STMPE=y
CONFIG_TI_ADS124S08=y
CONFIG_PWM_IQS620A=y
CONFIG_SENSORS_ADT7410=y
CONFIG_FB_SYSMEM_FOPS=y
CONFIG_USB_LJCA=y
CONFIG_UNWINDER_FRAME_POINTER=y
CONFIG_KEYBOARD_MTK_PMIC=y
CONFIG_BLK_DEV_DM_BUILTIN=y
CONFIG_NLS_ISO8859_3=y
CONFIG_ARCH_HAS_PREEMPT_LAZY=y
CONFIG_ADXL355=y
CONFIG_FB_CFB_FILLRECT=y
CONFIG_REGULATOR_RAA215300=y
CONFIG_BIG_KEYS=y
CONFIG_USB_LIBCOMPOSITE=y
CONFIG_XZ_DEC_MICROLZMA=y
CONFIG_ACPI_THERMAL_LIB=y
CONFIG_MICROCHIP_T1S_PHY=y
CONFIG_IKHEADERS=y
CONFIG_PCIE_PTM=y
CONFIG_I2C_ISCH=y
CONFIG_GPIO_74XX_MMIO=y
CONFIG_CRYPTO_LZO=y
CONFIG_PCS_XPCS=y
CONFIG_BRCMFMAC_SDIO=y
CONFIG_RELOCATABLE=y
CONFIG_SCSI_PROTO_TEST=y
CONFIG_NET_SCH_CBS=y
CONFIG_X86_SPEEDSTEP_CENTRINO=y
CONFIG_SENSORS_FSCHMD=y
CONFIG_OF_FLATTREE=y
CONFIG_CRYPTO_LIB_SHA256_KUNIT_TEST=y
CONFIG_USB4_DMA_TEST=y
CONFIG_IIO_BUFFER_DMAENGINE=y
CONFIG_BT_INTEL_PCIE=y
CONFIG_FB_VGA16=y
CONFIG_USB_CHIPIDEA_NPCM=y
CONFIG_NXP_TJA11XX_PHY=y
CONFIG_ISAPNP=y
CONFIG_GENERIC_IRQ_ENTRY=y
CONFIG_I2C_ALI15X3=y
CONFIG_SENSORS_HTU31=y
CONFIG_MTD_SPI_NOR_USE_4K_SECTORS=y
CONFIG_GAMEPORT_EMU10K1=y
CONFIG_HAVE_STACKPROTECTOR=y
CONFIG_CONSOLE_TRANSLATIONS=y
CONFIG_USB_MDC800=y
CONFIG_USB_DWC2_DEBUG=y
CONFIG_PGTABLE_HAS_HUGE_LEAVES=y
CONFIG_USER_EVENTS=y
CONFIG_IIO_ST_ACCEL_SPI_3AXIS=y
CONFIG_USB_NET_CDC_MBIM=y
CONFIG_JFS_STATISTICS=y
CONFIG_KEYBOARD_MAX7359=y
CONFIG_REGULATOR_FAN53880=y
CONFIG_INTEL_IPS=y
CONFIG_INPUT_SPARSEKMAP=y
CONFIG_NLS_CODEPAGE_775=y
CONFIG_HWSPINLOCK=y
CONFIG_SCSI_MPI3MR=y
CONFIG_RATIONAL=y
CONFIG_MFD_INTEL_LPSS_PCI=y
CONFIG_REGULATOR_LP873X=y
CONFIG_XO1_RFKILL=y
CONFIG_IOSF_MBI_DEBUG=y
CONFIG_SENSORS_TSL2563=y
CONFIG_PINCTRL_BROXTON=y
CONFIG_MSI_EC=y
CONFIG_PCI_DOE=y
CONFIG_LEDS_LP3952=y
CONFIG_PSE_REGULATOR=y
CONFIG_BRCMFMAC_USB=y
CONFIG_SERIO_GPIO_PS2=y
CONFIG_NET_SCH_MULTIQ=y
CONFIG_MOXA_INTELLIO=y
CONFIG_SENSORS_QNAP_MCU_HWMON=y
CONFIG_TRACE_GPU_MEM=y
CONFIG_CRYPTO_LIB_SHA1_KUNIT_TEST=y
CONFIG_LEDS_PCA955X=y
CONFIG_USB_CHIPIDEA_IMX=y
CONFIG_MTD_CMDLINE_PARTS=y
CONFIG_I2C_ROBOTFUZZ_OSIF=y
CONFIG_DMA_DECLARE_COHERENT=y
CONFIG_I2C_MUX=y
CONFIG_GENERIC_STRNCPY_FROM_USER=y
CONFIG_USB_ONBOARD_DEV_USB5744=y
CONFIG_DMABUF_KUNIT_TEST=y
CONFIG_PHYLINK=y
CONFIG_NET_PTP_CLASSIFY=y
CONFIG_MMA8452=y
CONFIG_MADERA_IRQ=y
CONFIG_ADL8113=y
CONFIG_SCHED_HRTICK=y
CONFIG_REGMAP_I2C=y
CONFIG_HAVE_ARCH_TRACEHOOK=y
CONFIG_USB_EHCI_FSL=y
CONFIG_CRYPTO_ACOMP=y
CONFIG_DM_WRITECACHE=y
CONFIG_FUNCTION_ALIGNMENT_16B=y
CONFIG_MFD_PALMAS=y
CONFIG_NVMEM_LAYOUT_ONIE_TLV=y
CONFIG_DP83867_PHY=y
CONFIG_COMPAT_32BIT_TIME=y
CONFIG_HAVE_STATIC_CALL=y
CONFIG_HVC_DRIVER=y
CONFIG_GENERIC_IRQ_DEBUGFS=y
CONFIG_MIN_HEAP_KUNIT_TEST=y
CONFIG_OLPC=y
CONFIG_SCSI_AIC94XX=y
CONFIG_NET_NSH=y
CONFIG_REGULATOR_BD957XMUF=y
CONFIG_REGULATOR_MAX77857=y
CONFIG_USB_KAWETH=y
CONFIG_CM3232=y
CONFIG_REGULATOR_LP8788=y
CONFIG_GENERIC_IRQ_RESERVATION_MODE=y
CONFIG_ARCH_SUPPORTS_KEXEC_SIG=y
CONFIG_TEXTSEARCH=y
CONFIG_QCOM_VADC_COMMON=y
CONFIG_CICADA_PHY=y
CONFIG_I2C_MUX_PCA9541=y
CONFIG_DM_LOG_WRITES=y
CONFIG_NXP_C45_TJA11XX_PHY=y
CONFIG_CRYPTO_HASH_INFO=y
CONFIG_SENSORS_DS1621=y
CONFIG_RV_LTL_MONITOR=y
CONFIG_HAVE_CLK=y
CONFIG_KEYBOARD_QT1070=y
CONFIG_NET_SCH_FIFO=y
CONFIG_KEYBOARD_TCA8418=y
CONFIG_YENTA_TI=y
CONFIG_X86_REQUIRED_FEATURE_ALWAYS=y
CONFIG_ACPI_SPCR_TABLE=y
CONFIG_ACPI_APEI=y
CONFIG_AD2S1200=y
CONFIG_HAVE_ARCH_KGDB=y
CONFIG_MMU_GATHER_TABLE_FREE=y
CONFIG_REGULATOR_AS3711=y
