CONFIG_ARM64_ERRATUM_2457168=n
CONFIG_SERIAL_XILINX_PS_UART=n
CONFIG_DWMAC_TEGRA=n
CONFIG_HMEM_REPORTING=n
CONFIG_PINCTRL_SC7280=n
CONFIG_WLAN_VENDOR_ST=n
CONFIG_COMMON_CLK_MT8365_MMSYS=n
CONFIG_NET_SCH_MQPRIO_LIB=n
CONFIG_HW_RANDOM_HISI=n
CONFIG_CRYPTO_LIB_SM3_ARCH=n
CONFIG_SPI_ZYNQMP_GQSPI=n
CONFIG_DM_MIRROR=n
CONFIG_DRM_EXYNOS5433_DECON=n
CONFIG_SCSI_HISI_SAS=n
CONFIG_ARCH_R8A77995=n
CONFIG_MVEBU_ICU=n
CONFIG_PINCTRL_MT7622=n
CONFIG_DQL=n
CONFIG_VIDEO_IMX8_ISI=n
CONFIG_IPQ_GCC_5424=n
CONFIG_SPI_BCM2835=n
CONFIG_ACPI_PRMT=n
CONFIG_GPIO_MAX732X=n
CONFIG_FB_CORE=n
CONFIG_HAVE_ARCH_TRACEHOOK=n
CONFIG_SENSORS_ARM_SCPI=n
CONFIG_HISILICON_IRQ_MBIGEN=n
CONFIG_MTD_PHYSMAP_OF=n
CONFIG_HW_RANDOM_NPCM=n
CONFIG_RTC_LIB=n
CONFIG_SUN50I_H6_CCU=n
CONFIG_COMMON_CLK_MT8196_MDPSYS=n
CONFIG_QCOM_CLK_APCS_MSM8916=n
CONFIG_CLK_IMX8MQ=n
CONFIG_ARCH_HAVE_ELF_PROT=n
CONFIG_PER_VMA_LOCK=n
CONFIG_IP_NF_IPTABLES=n
CONFIG_OF_ADDRESS=n
CONFIG_I2C_MT65XX=n
CONFIG_PCI_PWRCTRL_GENERIC=n
CONFIG_COMMON_CLK_MT8195_CAMSYS=n
CONFIG_PINCTRL_X1E80100=n
CONFIG_CRYPTO_USER_API=n
CONFIG_ATH10K_PCI=n
CONFIG_DRM_EXYNOS=n
CONFIG_PTP_1588_CLOCK_KVM=n
CONFIG_COMMON_CLK_MT8183_AUDIOSYS=n
CONFIG_PATA_TIMINGS=n
CONFIG_XEN_DEV_EVTCHN=n
CONFIG_PCIE_RCAR_GEN4_HOST=n
CONFIG_COMMON_CLK_MT8186=n
CONFIG_MISC_FILESYSTEMS=n
CONFIG_PCI_LAYERSCAPE=n
CONFIG_SCSI_SAS_ATTRS=n
CONFIG_BCM_NS_THERMAL=n
CONFIG_PREEMPTION=n
CONFIG_IOMMU_IO_PGTABLE_ARMV7S=n
CONFIG_I2C_RCAR=n
CONFIG_ZYNQMP_FIRMWARE=n
CONFIG_USB_PCI=n
CONFIG_BT_HCIUART_H4=n
CONFIG_IMX93_ADC=n
CONFIG_HNS_DSAF=n
CONFIG_DRM_TTM=n
CONFIG_SENSORS_TMP102=n
CONFIG_DRM_STM=n
CONFIG_ARCH_SUPPORTS_ATOMIC_RMW=n
CONFIG_PINCTRL_SDM845=n
CONFIG_DTC=n
CONFIG_PINCTRL_SDM670=n
CONFIG_BUILDTIME_TABLE_SORT=n
CONFIG_ARCH_WANT_FRAME_POINTERS=n
CONFIG_AHCI_XGENE=n
CONFIG_COMMON_CLK_MT8196_UFSSYS=n
CONFIG_SND_VERBOSE_PROCFS=n
CONFIG_QDU_GCC_1000=n
CONFIG_PCS_RZN1_MIIC=n
CONFIG_SYSFB=n
CONFIG_ARM_ARCH_TIMER=n
CONFIG_IPQ_GCC_9650=n
CONFIG_CRYPTO_MD5=n
CONFIG_REGULATOR_BD9571MWV=n
CONFIG_FSL_GUTS=n
CONFIG_BT_HCIBTUSB_BCM=n
CONFIG_ROCKCHIP_GRF=n
CONFIG_SM_GPUCC_MILOS=n
CONFIG_CLK_RZV2H=n
CONFIG_STACKDEPOT=n
CONFIG_OF_EARLY_FLATTREE=n
CONFIG_WATCHDOG=n
CONFIG_DRM_MSM_DP=n
CONFIG_MT7921_COMMON=n
CONFIG_ARCH_SUPPORTS_SCHED_MC=n
CONFIG_FB_EFI=n
CONFIG_QCOM_PDR_HELPERS=n
CONFIG_EFI_CAPSULE_LOADER=n
CONFIG_ARCH_STM32=n
CONFIG_FPGA_MGR_VERSAL_FPGA=n
CONFIG_MTD_OF_PARTS=n
CONFIG_QCOM_CLK_SMD_RPM=n
CONFIG_NET_DSA_TAG_BRCM=n
CONFIG_NET_VENDOR_MELLANOX=n
CONFIG_UVC_COMMON=n
CONFIG_KEYBOARD_IMX_SC_KEY=n
CONFIG_IRQ_TIME_ACCOUNTING=n
CONFIG_TEGRA186_TIMER=n
CONFIG_TRANSPARENT_HUGEPAGE_ALWAYS=n
CONFIG_EXYNOS_CHIPID=n
CONFIG_PHY_QCOM_EUSB2_REPEATER=n
CONFIG_IRQ_MSI_IOMMU=n
CONFIG_RTC_DRV_RV3028=n
CONFIG_SPI_BCM_QSPI=n
CONFIG_ARCH_R8A77990=n
CONFIG_POWER_RESET_SYSCON_POWEROFF=n
CONFIG_PCIE_ARMADA_8K=n
CONFIG_I2C_SLAVE=n
CONFIG_RESET_MESON_AUX=n
CONFIG_ARCH_ALPINE=n
CONFIG_COMMON_CLK_VC5=n
CONFIG_SOUNDWIRE_QCOM=n
CONFIG_MOUSE_PS2_SYNAPTICS=n
CONFIG_NFC_S3FWRN5=n
CONFIG_USB_DWC3=n
CONFIG_RESET_BERLIN=n
CONFIG_HAS_IOPORT_MAP=n
CONFIG_PLATFORM_MHU=n
CONFIG_DRM_MSM_DSI_14NM_PHY=n
CONFIG_KVM_VFIO=n
CONFIG_BCM_PMB=n
CONFIG_CRYPTO_GENIV=n
CONFIG_FB_CFB_IMAGEBLIT=n
CONFIG_EXYNOS_ARM64_COMMON_CLK=n
CONFIG_CRYPTO_AES=n
CONFIG_USB_CHIPIDEA_NPCM=n
CONFIG_DEVFREQ_GOV_PASSIVE=n
CONFIG_TOUCHSCREEN_GOODIX_BERLIN_CORE=n
CONFIG_SND_SOC_QDSP6_COMMON=n
CONFIG_ARCH_R8A77961=n
CONFIG_SND_MESON_AXG_PDM=n
CONFIG_COMMON_CLK_ZYNQMP=n
CONFIG_FSL_ERRATUM_A008585=n
CONFIG_MTK_SCP=n
CONFIG_TI_K3_PSIL=n
CONFIG_PINCTRL_MESON=n
CONFIG_REGULATOR_MT6397=n
CONFIG_CRYPTO_DEV_QCOM_RNG=n
CONFIG_SND_SOC_QDSP6_ASM_DAI=n
CONFIG_NEED_DMA_MAP_STATE=n
CONFIG_GRACE_PERIOD=n
CONFIG_CLK_VEXPRESS_OSC=n
CONFIG_PINCTRL_SINGLE=n
CONFIG_PHY_ROCKCHIP_SNPS_PCIE3=n
CONFIG_VIDEO_TI_J721E_CSI2RX=n
CONFIG_RTC_DRV_RK808=n
CONFIG_TAP=n
CONFIG_ROCKCHIP_DW_HDMI_QP=n
CONFIG_PINCTRL_IPROC_GPIO=n
CONFIG_FSL_MC_BUS=n
CONFIG_MTD_MAP_BANK_WIDTH_2=n
CONFIG_SND_SOC_WCD938X=n
CONFIG_SND_SOC_COMPRESS=n
CONFIG_ARM_GIC_PM=n
CONFIG_SERIAL_MCTRL_GPIO=n
CONFIG_SENSORS_AMC6821=n
CONFIG_DRM_MALI_DISPLAY=n
CONFIG_GPIO_GENERIC_PLATFORM=n
CONFIG_ARCH_HAS_PKEYS=n
CONFIG_DP83869_PHY=n
CONFIG_SND_SOC_SC7280=n
CONFIG_NVMEM_QCOM_QFPROM=n
CONFIG_ZSTD_DECOMPRESS=n
CONFIG_ARCH_EXYNOS=n
CONFIG_IPQ_GCC_6018=n
CONFIG_FRAME_POINTER=n
CONFIG_COMMON_CLK_STM32MP=n
CONFIG_PCIE_ALTERA_MSI=n
CONFIG_SM_GPUCC_8150=n
CONFIG_SMP=n
CONFIG_CRYPTO_ECB=n
CONFIG_CRYPTO_DEV_FSL_CAAM_AHASH_API_DESC=n
CONFIG_CRYPTO_DEV_FSL_CAAM_CRYPTO_API_QI=n
CONFIG_MARVELL_10G_PHY=n
CONFIG_PINCTRL_MESON_AXG=n
CONFIG_MT7921E=n
CONFIG_POSIX_MQUEUE_SYSCTL=n
CONFIG_ASN1=n
CONFIG_GENERIC_CSUM=n
CONFIG_PCIE_MOBIVEIL_HOST=n
CONFIG_REGULATOR_HI6421V530=n
CONFIG_RPMSG_VIRTIO=n
CONFIG_PINCTRL_TEGRA264=n
CONFIG_CRYPTO_CTR=n
CONFIG_ARM64_LPA2=n
CONFIG_BCM_FLEXRM_MBOX=n
CONFIG_COMMON_CLK_MESON_CPU_DYNDIV=n
CONFIG_CRYPTO_AEAD2=n
CONFIG_USB_DWC3_MESON_G12A=n
CONFIG_CLK_RK3308=n
CONFIG_SERIAL_STM32=n
CONFIG_ARCH_SUPPORTS_NUMA_BALANCING=n
CONFIG_ACPI_SPCR_TABLE=n
CONFIG_SENSORS_LM75=n
CONFIG_PINCTRL_MT6893=n
CONFIG_GENERIC_IDLE_POLL_SETUP=n
CONFIG_PINCTRL_UNIPHIER_PXS3=n
CONFIG_SERIO_LIBPS2=n
CONFIG_PWM_CROS_EC=n
CONFIG_COMMON_CLK_MT8173_IMGSYS=n
CONFIG_CLK_ELIZA_TCSRCC=n
CONFIG_ARM64_ERRATUM_2077057=n
CONFIG_ARCH_INTEL_SOCFPGA=n
CONFIG_SND_HDA_CODEC_HDMI_NVIDIA=n
CONFIG_AIROHA_CPU_PM_DOMAIN=n
CONFIG_BLK_DEV=n
CONFIG_PTP_1588_CLOCK_DTE=n
CONFIG_ADVISE_SYSCALLS=n
CONFIG_POWER_SEQUENCING_QCOM_WCN=n
CONFIG_ARCH_BCM_IPROC=n
CONFIG_TI_K3_R5_REMOTEPROC=n
CONFIG_SUN8I_DE2_CCU=n
CONFIG_GENERIC_BUG_RELATIVE_POINTERS=n
CONFIG_SND_SOC_XILINX_AUDIO_FORMATTER=n
CONFIG_CLK_R9A09G057=n
CONFIG_NET_SWITCHDEV=n
CONFIG_ARMADA_AP806_SYSCON=n
CONFIG_MFD_VEXPRESS_SYSREG=n
CONFIG_RPMSG_QCOM_GLINK_RPM=n
CONFIG_EXYNOS_USI=n
CONFIG_PINCTRL_APPLE_GPIO=n
CONFIG_RTSN=n
CONFIG_DWMAC_RENESAS_GBETH=n
CONFIG_SND_SOC_LPASS_PLATFORM=n
CONFIG_MFD_RK8XX_I2C=n
CONFIG_DRM_KOMEDA=n
CONFIG_DRM_MSM_DSI_10NM_PHY=n
CONFIG_PAGE_SIZE_LESS_THAN_256KB=n
CONFIG_VIDEO_HANTRO_SUNXI=n
CONFIG_USB_EHCI_HCD_ORION=n
CONFIG_SND_SOC_CROS_EC_CODEC=n
CONFIG_DMABUF_HEAPS_CMA=n
CONFIG_EFI_PARAMS_FROM_FDT=n
CONFIG_CRYPTO_LIB_SHA512_ARCH=n
CONFIG_IRQCHIP=n
CONFIG_PINCTRL_SM6375=n
CONFIG_INPUT_EVDEV=n
CONFIG_COMMON_CLK_MT8183_MMSYS=n
CONFIG_CPU_IDLE_GOV_MENU=n
CONFIG_CLK_IMX8MP=n
CONFIG_SND_SOC_QDSP6_ASM=n
CONFIG_ARCH_HAS_NON_OVERLAPPING_ADDRESS_SPACE=n
CONFIG_SM_GCC_8650=n
CONFIG_HUGETLB_PMD_PAGE_TABLE_SHARING=n
CONFIG_MFD_STM32_TIMERS=n
CONFIG_SM_CAMCC_8550=n
CONFIG_GREYBUS=n
CONFIG_MEDIA_TUNER_XC5000=n
CONFIG_HAVE_SETUP_PER_CPU_AREA=n
CONFIG_TOUCHSCREEN_ATMEL_MXT=n
CONFIG_MEDIA_TUNER_TDA9887=n
CONFIG_USB_OHCI_HCD=n
CONFIG_BPF_UNPRIV_DEFAULT_OFF=n
CONFIG_ARCH_HAS_CACHE_LINE_SIZE=n
CONFIG_RESET_TEGRA_BPMP=n
CONFIG_CLK_GFM_LPASS_SM8250=n
CONFIG_SND_SOC_TEGRA186_DSPK=n
CONFIG_TEGRA_CLK_DFLL=n
CONFIG_DRM_SII902X=n
CONFIG_IIO_TRIGGERED_BUFFER=n
CONFIG_COMMON_CLK_HI3670=n
CONFIG_ARCH_SELECTS_KEXEC_FILE=n
CONFIG_COMMON_CLK_MT8195_MFGCFG=n
CONFIG_RPMSG_CHAR=n
CONFIG_ARM64_HAFT=n
CONFIG_MTD_OF_PARTS_BCM4908=n
CONFIG_SYSC_R8A77965=n
CONFIG_HAVE_ARCH_HUGE_VMAP=n
CONFIG_COMMON_CLK_MT8196_IMP_IIC_WRAP=n
CONFIG_TESLA_FSD_COMMON_CLK=n
CONFIG_NFS_V4_2_READ_PLUS=n
CONFIG_SM_GPUCC_8750=n
CONFIG_MMC_SDHCI_OF_ESDHC=n
CONFIG_THERMAL_GOV_POWER_ALLOCATOR=n
CONFIG_SERIAL_8250_SHARE_IRQ=n
CONFIG_SND_SOC_RK817=n
CONFIG_CPU_FREQ_GOV_CONSERVATIVE=n
CONFIG_USB_NET_AX88179_178A=n
CONFIG_ARM_IMX_BUS_DEVFREQ=n
CONFIG_DEBUG_BUGVERBOSE=n
CONFIG_BLK_DEV_NVME=n
CONFIG_NET_DSA_BCM_SF2=n
CONFIG_USER_STACKTRACE_SUPPORT=n
CONFIG_VLAN_8021Q=n
CONFIG_GPIO_MPC8XXX=n
CONFIG_GROUP_SCHED_WEIGHT=n
CONFIG_TCG_TIS_I2C_INFINEON=n
CONFIG_VT=n
CONFIG_USB_F_SUBSET=n
CONFIG_LEDS_CLASS_FLASH=n
CONFIG_USB_RENESAS_USBHS_UDC=n
CONFIG_TIME_NS=n
