CONFIG_BLK_CGROUP_PUNT_BIO=n
CONFIG_SOFTIRQ_ON_OWN_STACK=n
CONFIG_NET_EGRESS=n
CONFIG_GENERIC_SMP_IDLE_THREAD=n
CONFIG_GPIO_ACPI=n
CONFIG_SUSPEND_FREEZER=n
CONFIG_CAN_DEV=n
CONFIG_BPF_UNPRIV_DEFAULT_OFF=n
CONFIG_NET_VENDOR_ALIBABA=n
CONFIG_ARCH_WANT_BATCHED_UNMAP_TLB_FLUSH=n
CONFIG_BLK_DEV_DM_BUILTIN=n
CONFIG_WLAN_VENDOR_SILABS=n
CONFIG_HAVE_KERNEL_GZIP=n
CONFIG_BLK_CGROUP=n
CONFIG_RCU_TRACE=n
CONFIG_UPROBES=n
CONFIG_CRYPTO_ECHAINIV=n
CONFIG_DWMAC_SUN8I=n
CONFIG_SND_PCM_TIMER=n
CONFIG_PROC_CHILDREN=n
CONFIG_ARCH_SIFIVE=n
CONFIG_ACPI_PROCESSOR_IDLE=n
CONFIG_DRM_SUN6I_DSI=n
CONFIG_KEYBOARD_GPIO=n
CONFIG_HAVE_KERNEL_LZO=n
CONFIG_ARCH_HAS_SYNC_DMA_FOR_CPU=n
CONFIG_FS_MBCACHE=n
CONFIG_PINCTRL_SUN20I_D1=n
CONFIG_CFS_BANDWIDTH=n
CONFIG_MTD_SPI_NOR_SWP_DISABLE_ON_VOLATILE=n
CONFIG_IO_URING_ZCRX=n
CONFIG_CRYPTO_CTS=n
CONFIG_CRYPTO_HASH2=n
CONFIG_MCHP_CLK_MPFS=n
CONFIG_CRYPTO_LIB_AES_GCM=n
CONFIG_WLAN_VENDOR_ST=n
CONFIG_PAGE_MAPCOUNT=n
CONFIG_VIDEO_DEV=n
CONFIG_BLOCK_HOLDER_DEPRECATED=n
CONFIG_RPMSG=n
CONFIG_IP_VS_NFCT=n
CONFIG_MTD_CFI_UTIL=n
CONFIG_MMC_SDHCI=n
CONFIG_DMI=n
CONFIG_MEMCG=n
CONFIG_E1000E=n
CONFIG_PM=n
CONFIG_NET_VENDOR_DEC=n
CONFIG_DRM_GPUVM=n
CONFIG_PCIE_STARFIVE_HOST=n
CONFIG_CRYPTO_LIB_SHA256=n
CONFIG_EXPORTFS=n
CONFIG_LDISC_AUTOLOAD=n
CONFIG_USB_F_RNDIS=n
CONFIG_PCI_PWRCTRL=n
CONFIG_PAGE_SIZE_LESS_THAN_64KB=n
CONFIG_COMPACTION=n
CONFIG_SECURITYFS=n
CONFIG_THREAD_INFO_IN_TASK=n
CONFIG_RISCV_ISA_SVNAPOT=n
CONFIG_FUTEX=n
CONFIG_HAVE_KVM_DIRTY_RING=n
CONFIG_NVME_CORE=n
CONFIG_CLK_STARFIVE_JH7110_PLL=n
CONFIG_VIRTIO_DMA_SHARED_BUFFER=n
CONFIG_BRIDGE_IGMP_SNOOPING=n
CONFIG_NET_VENDOR_QUALCOMM=n
CONFIG_MTD_GEN_PROBE=n
CONFIG_HAVE_KERNEL_BZIP2=n
CONFIG_ARCH_HAS_SYSCALL_WRAPPER=n
CONFIG_ARCH_HAS_ELF_RANDOMIZE=n
CONFIG_PCI_PWRCTRL_GENERIC=n
CONFIG_ARCH_USE_QUEUED_RWLOCKS=n
CONFIG_PROC_FS=n
CONFIG_OF_KOBJ=n
CONFIG_NET_VENDOR_SUN=n
CONFIG_HAVE_ARCH_JUMP_LABEL_RELATIVE=n
CONFIG_VIRTIO_PCI_LIB=n
CONFIG_ALLOW_DEV_COREDUMP=n
CONFIG_LD_CAN_USE_KEEP_IN_OVERLAY=n
CONFIG_STACKPROTECTOR_STRONG=n
CONFIG_CLKSRC_MMIO=n
CONFIG_PCIE_PME=n
CONFIG_CAN=n
CONFIG_NETFS_SUPPORT=n
CONFIG_SPARSEMEM_VMEMMAP=n
CONFIG_GPIOLIB_LEGACY=n
CONFIG_CRYPTO_KPP2=n
CONFIG_ARCH_SPACEMIT=n
CONFIG_WLAN_VENDOR_ATH=n
CONFIG_DRM_PANEL_ORIENTATION_QUIRKS=n
CONFIG_FW_LOADER=n
CONFIG_MACVLAN=n
CONFIG_CPUFREQ_DT=n
CONFIG_GRACE_PERIOD=n
CONFIG_ARCH_HAS_SYNC_DMA_FOR_DEVICE=n
CONFIG_HVC_DRIVER=n
CONFIG_LD_IS_BFD=n
CONFIG_BLOCK=n
CONFIG_HID=n
CONFIG_IP_VS_RR=n
CONFIG_TTY=n
CONFIG_DEVTMPFS=n
CONFIG_STRICT_KERNEL_RWX=n
CONFIG_SCSI_VIRTIO=n
CONFIG_PCIE_SPACEMIT_K1=n
CONFIG_DWMAC_GENERIC=n
CONFIG_CRC32=n
CONFIG_SECURITY_PATH=n
CONFIG_SND_SOC_WM8978=n
CONFIG_PINCTRL_ULTRARISC=n
CONFIG_ARCH_HAS_FAST_MULTIPLIER=n
CONFIG_CGROUP_NET_PRIO=n
CONFIG_SUSPEND=n
CONFIG_BLK_DEV_NVME=n
CONFIG_UPROBE_EVENTS=n
CONFIG_NET_VENDOR_ARC=n
CONFIG_ARCH_OPTIONAL_KERNEL_RWX_DEFAULT=n
CONFIG_NET_UDP_TUNNEL=n
CONFIG_CGROUP_BPF=n
CONFIG_GENERIC_PINCTRL=n
CONFIG_GENERIC_IRQ_IPI=n
CONFIG_ARCH_HAS_KERNEL_FPU_SUPPORT=n
CONFIG_ARCH_WANT_FRAME_POINTERS=n
CONFIG_RTC_CLASS=n
CONFIG_IOSCHED_BFQ=n
CONFIG_SPI_SUN6I=n
CONFIG_SWIOTLB=n
CONFIG_DRM_DISPLAY_HDMI_HELPER=n
CONFIG_USB_F_ECM=n
CONFIG_DRM_SCHED=n
CONFIG_DEBUG_KERNEL=n
CONFIG_CC_NO_ARRAY_BOUNDS=n
CONFIG_WLAN_VENDOR_ADMTEK=n
CONFIG_NET_VENDOR_SPACEMIT=n
CONFIG_MICREL_PHY=n
CONFIG_RISCV_ISA_VENDOR_EXT_MIPS=n
CONFIG_ARCH_HAS_VDSO_ARCH_DATA=n
CONFIG_CLK_SOPHGO_SG2042_RPGATE=n
CONFIG_SND_SIMPLE_CARD_UTILS=n
CONFIG_SECURITY_APPARMOR_COMPRESSED_POLICY=n
CONFIG_FS_POSIX_ACL=n
CONFIG_IRQCHIP=n
CONFIG_DRM_NOUVEAU_BACKLIGHT=n
CONFIG_FRAME_POINTER=n
CONFIG_OF=n
CONFIG_BLK_DEV_BSG_COMMON=n
CONFIG_POLARFIRE_SOC_IRQ_MUX=n
CONFIG_HID_SUPPORT=n
CONFIG_NET_VENDOR_MICROCHIP=n
CONFIG_PORTABLE=n
CONFIG_ARCH_SUPPORTS_RT=n
CONFIG_ADVISE_SYSCALLS=n
CONFIG_RISCV_ALTERNATIVE_EARLY=n
CONFIG_ARCH_ENABLE_HUGEPAGE_MIGRATION=n
CONFIG_VGA_ARB=n
CONFIG_LZO_COMPRESS=n
CONFIG_NET_VENDOR_TEHUTI=n
CONFIG_WLAN_VENDOR_TI=n
CONFIG_SYSVIPC_COMPAT=n
CONFIG_WLAN_VENDOR_INTERSIL=n
CONFIG_USB_XHCI_PLATFORM=n
CONFIG_TRACING_SUPPORT=n
CONFIG_SYMBOLIC_ERRNAME=n
CONFIG_USB_MUSB_HDRC=n
CONFIG_RPS=n
CONFIG_IRQ_MSI_LIB=n
CONFIG_ERRATA_SIFIVE_CIP_453=n
CONFIG_EVENT_TRACING=n
CONFIG_ERRATA_THEAD_GHOSTWRITE=n
CONFIG_NETFILTER_XT_MATCH_CONNTRACK=n
CONFIG_DMA_ACPI=n
CONFIG_USB_DEFAULT_PERSIST=n
CONFIG_VIRTIO_NET=n
CONFIG_WLAN_VENDOR_RSI=n
CONFIG_CPU_PM=n
CONFIG_ACPI_DEBUG=n
CONFIG_NET_VENDOR_NATSEMI=n
CONFIG_HAVE_ARCH_HUGE_VMAP=n
CONFIG_NET_VENDOR_TI=n
CONFIG_DMIID=n
CONFIG_EFI_PARAMS_FROM_FDT=n
CONFIG_NET_VENDOR_ZTE=n
CONFIG_SPARSEMEM_EXTREME=n
CONFIG_DECOMPRESS_XZ=n
CONFIG_ARCH_DEFAULT_CRASH_DUMP=n
CONFIG_PRINTK_TIME=n
CONFIG_CRYPTO_LIB_AES=n
CONFIG_CC_CAN_LINK=n
CONFIG_SOUND=n
CONFIG_XZ_DEC_SPARC=n
CONFIG_RAID6_PQ_BENCHMARK=n
CONFIG_HAVE_ARCH_BITREVERSE=n
CONFIG_SLAB_MERGE_DEFAULT=n
CONFIG_LTO_NONE=n
CONFIG_ACPI_MCFG=n
CONFIG_USB_CDNS3_STARFIVE=n
CONFIG_XFRM_USER=n
CONFIG_64BIT=n
CONFIG_CRYPTO_LIB_AES_CBC_MACS=n
CONFIG_USB_HID=n
CONFIG_PINCTRL_SOPHGO_SG2000=n
CONFIG_CPU_FREQ_GOV_POWERSAVE=n
CONFIG_CRYPTO_KRB5ENC=n
CONFIG_SECCOMP_FILTER=n
CONFIG_PCI_DOMAINS=n
CONFIG_MEMTEST=n
CONFIG_CPU_FREQ_THERMAL=n
CONFIG_HAVE_KPROBES=n
CONFIG_I2C=n
CONFIG_FB=n
CONFIG_NET_VENDOR_NI=n
CONFIG_VHOST_ENABLE_FORK_OWNER_CONTROL=n
CONFIG_CRYPTO_HW=n
CONFIG_BTRFS_FS_POSIX_ACL=n
CONFIG_MTD_MAP_BANK_WIDTH_4=n
CONFIG_SYSCTL=n
CONFIG_MDIO_BUS_MUX=n
CONFIG_ARCH_WANT_LD_ORPHAN_WARN=n
CONFIG_HAVE_VIRT_CPU_ACCOUNTING_GEN=n
CONFIG_ZLIB_DEFLATE=n
CONFIG_RISCV_PMU_SBI=n
CONFIG_NETWORK_FILESYSTEMS=n
CONFIG_BACKLIGHT_CLASS_DEVICE=n
CONFIG_V4L2_ASYNC=n
CONFIG_GENERIC_BITREVERSE=n
CONFIG_BLK_DEV=n
CONFIG_KERNFS=n
CONFIG_POSIX_CPU_TIMERS_TASK_WORK=n
CONFIG_HAVE_KVM_IRQCHIP=n
CONFIG_FB_IOMEM_FOPS=n
CONFIG_CLK_ULTRARISC_DP1000=n
CONFIG_GENERIC_IDLE_POLL_SETUP=n
CONFIG_CRYPTO_SHA256=n
CONFIG_IP_PNP_BOOTP=n
CONFIG_OVERLAY_FS=n
CONFIG_RCU_NEED_SEGCBLIST=n
CONFIG_EXT4_FS_POSIX_ACL=n
CONFIG_DMA_BOUNCE_UNALIGNED_KMALLOC=n
CONFIG_VIRTIO_INPUT=n
CONFIG_HAVE_HARDLOCKUP_DETECTOR_BUDDY=n
CONFIG_GPIOLIB=n
CONFIG_TOOLCHAIN_HAS_ZBKB=n
CONFIG_USB_CONFIGFS_ECM=n
CONFIG_COMPAT=n
CONFIG_RAMDAX=n
CONFIG_RISCV_ISA_VENDOR_EXT_SIFIVE=n
CONFIG_ARCH_MICROCHIP_POLARFIRE=n
CONFIG_SUNRPC_BACKCHANNEL=n
CONFIG_HAS_SECURITY_AUDIT=n
CONFIG_MOUSE_PS2_SMBUS=n
CONFIG_PINCTRL_STARFIVE_JH7110=n
CONFIG_UNINLINE_SPIN_UNLOCK=n
CONFIG_ZLIB_INFLATE=n
CONFIG_MODULES_TREE_LOOKUP=n
CONFIG_THERMAL_OF=n
CONFIG_SUN50I_IOMMU=n
CONFIG_ACPI_CPPC_LIB=n
CONFIG_NET_VENDOR_WIZNET=n
CONFIG_DMA_COHERENT_POOL=n
CONFIG_HAVE_CLK=n
CONFIG_MEDIA_SUBDRV_AUTOSELECT=n
CONFIG_SERIAL_CORE_CONSOLE=n
CONFIG_SND_VERBOSE_PROCFS=n
CONFIG_CRYPTO_AKCIPHER=n
CONFIG_ARCH_HAS_PMEM_API=n
CONFIG_XOR_BLOCKS_ARCH=n
CONFIG_ARCH_HAS_GCOV_PROFILE_ALL=n
CONFIG_IOMMU_API=n
CONFIG_VIRTIO_MMIO=n
CONFIG_SCHED_INFO=n
CONFIG_GENERIC_CPU_VULNERABILITIES=n
CONFIG_JH71XX_PMU=n
CONFIG_AF_UNIX_OOB=n
CONFIG_USB_UAS=n
CONFIG_CPU_FREQ_GOV_CONSERVATIVE=n
CONFIG_IP_VS_PROTO_UDP=n
CONFIG_BLK_DEV_THROTTLING=n
CONFIG_ARCH_WANT_OPTIMIZE_HUGETLB_VMEMMAP=n
CONFIG_SOCK_CGROUP_DATA=n
CONFIG_SOCK_RX_QUEUE_MAPPING=n
CONFIG_ARCH_HAS_PTE_SPECIAL=n
CONFIG_LZ4_DECOMPRESS=n
CONFIG_NETFILTER_XT_MARK=n
CONFIG_USB_GADGET=n
CONFIG_MTD_CFI_I2=n
CONFIG_HAVE_BUILDTIME_MCOUNT_SORT=n
CONFIG_IO_URING=n
CONFIG_DRM_PANEL=n
CONFIG_RT_MUTEXES=n
CONFIG_NET_DEVMEM=n
CONFIG_NETLINK_DIAG=n
CONFIG_NET_VENDOR_ENGLEDER=n
CONFIG_WLAN_VENDOR_ZYDAS=n
CONFIG_BLK_PM=n
CONFIG_RD_XZ=n
CONFIG_ARCH_HAS_STRICT_KERNEL_RWX=n
CONFIG_NET_VENDOR_WANGXUN=n
CONFIG_WLAN_VENDOR_MEDIATEK=n
CONFIG_MEDIA_PLATFORM_DRIVERS=n
