CONFIG_SND_MESON_G12A_TOHDMITX=n
CONFIG_X509_CERTIFICATE_PARSER=n
CONFIG_XEN_COMPAT_XENFS=n
CONFIG_DRM_EXYNOS5433_DECON=n
CONFIG_PINCTRL_UNIPHIER_LD20=n
CONFIG_GPIO_SL28CPLD=n
CONFIG_SM_DISPCC_7150=n
CONFIG_XARRAY_MULTI=n
CONFIG_REED_SOLOMON_DEC8=n
CONFIG_PCIE_QCOM=n
CONFIG_IIO=n
CONFIG_HAVE_ARCH_MMAP_RND_COMPAT_BITS=n
CONFIG_CEC_CORE=n
CONFIG_ARM_GIC_V2M=n
CONFIG_SND_SOC_ROCKCHIP_SPDIF=n
CONFIG_EXYNOS_CHIPID=n
CONFIG_PHY_CADENCE_SIERRA=n
CONFIG_KEYBOARD_MTK_PMIC=n
CONFIG_BFQ_GROUP_IOSCHED=n
CONFIG_ASN1=n
CONFIG_DP83867_PHY=n
CONFIG_ARM_SMMU_MMU_500_CPRE_ERRATA=n
CONFIG_DRM_IMX8MP_HDMI_PAI=n
CONFIG_SCHED_HRTICK=n
CONFIG_NUMA_MEMBLKS=n
CONFIG_INPUT_PWM_VIBRA=n
CONFIG_DRM_ZYNQMP_DPSUB=n
CONFIG_INTERCONNECT_QCOM_SM6350=n
CONFIG_ACPI_PPTT=n
CONFIG_PCIEASPM=n
CONFIG_PCI_TEGRA=n
CONFIG_MFD_ADP5585=n
CONFIG_CROS_EC_DEBUGFS=n
CONFIG_RTC_DRV_S3C=n
CONFIG_PINCTRL_IMX8MN=n
CONFIG_SWIOTLB=n
CONFIG_SND_SOC_WCD939X_SDW=n
CONFIG_MMC_SDHCI_IO_ACCESSORS=n
CONFIG_SDM_VIDEOCC_845=n
CONFIG_QUEUED_RWLOCKS=n
CONFIG_PCIE_TEGRA194=n
CONFIG_NVMEM=n
CONFIG_CRYPTO_DEV_ZYNQMP_AES=n
CONFIG_DRM_DISPLAY_DP_HELPER=n
CONFIG_USB_USBNET=n
CONFIG_DRM_MSM_MDSS=n
CONFIG_DRM_MEDIATEK_HDMI_COMMON=n
CONFIG_PINCTRL_IPQ6018=n
CONFIG_GENERIC_CALIBRATE_DELAY=n
CONFIG_WLAN_VENDOR_MARVELL=n
CONFIG_DRM_EXYNOS7_DECON=n
CONFIG_CAN_BCM=n
CONFIG_BLK_DEV_SD=n
CONFIG_INTEGRITY_AUDIT=n
CONFIG_CRYPTO_LIB_GF128HASH=n
CONFIG_USB_EHCI_ROOT_HUB_TT=n
CONFIG_IWLWIFI_OPMODE_MODULAR=n
CONFIG_SURFACE_PLATFORMS=n
CONFIG_NFS_V4_2_SSC_HELPER=n
CONFIG_CLK_KAANAPALI_GCC=n
CONFIG_CLK_LS1028A_PLLDIG=n
CONFIG_TASKS_RCU_GENERIC=n
CONFIG_PHY_QCOM_M31_EUSB=n
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE=n
CONFIG_HAVE_PV_STEAL_CLOCK_GEN=n
CONFIG_BCM2835_VCHIQ=n
CONFIG_IPQ_GCC_6018=n
CONFIG_BATTERY_MAX17042=n
CONFIG_RTC_INTF_SYSFS=n
CONFIG_CRYPTO_HASH2=n
CONFIG_ARCH_INTEL_SOCFPGA=n
CONFIG_ACPI_BUTTON=n
CONFIG_RSI_91X=n
CONFIG_CC_CAN_LINK=n
CONFIG_USB_BRCMSTB=n
CONFIG_CPU_LITTLE_ENDIAN=n
CONFIG_RESET_BERLIN=n
CONFIG_I2C_QUP=n
CONFIG_CLZ_TAB=n
CONFIG_NET_DSA_TAG_BRCM_LEGACY=n
CONFIG_GENERIC_IRQ_EFFECTIVE_AFF_MASK=n
CONFIG_TAP=n
CONFIG_SND_SOC_MT8188_MT6359=n
CONFIG_RSI_DEBUGFS=n
CONFIG_REGULATOR_MT6315=n
CONFIG_IRQ_DOMAIN=n
CONFIG_MTK_LVTS_THERMAL=n
CONFIG_CLK_X1P42100_GPUCC=n
CONFIG_DRM_EXYNOS=n
CONFIG_IMX_GPCV2_PM_DOMAINS=n
CONFIG_ARCH_HAS_SUBPAGE_FAULTS=n
CONFIG_RUNTIME_TESTING_MENU=n
CONFIG_EFI_CUSTOM_SSDT_OVERLAYS=n
CONFIG_FB_SYSMEM_HELPERS=n
CONFIG_NVMEM_LAYOUTS=n
CONFIG_RFKILL_GPIO=n
CONFIG_SATA_SIL24=n
CONFIG_ARM_SCMI_TRANSPORT_MAILBOX=n
CONFIG_DRM_MSM_DSI_7NM_PHY=n
CONFIG_CGROUP_PIDS=n
CONFIG_CRYPTO_LIB_SHA512_ARCH=n
CONFIG_CLK_R8A774A1=n
CONFIG_ARCH_BINFMT_ELF_EXTRA_PHDRS=n
CONFIG_SERIAL_8250_PERICOM=n
CONFIG_CPUSETS=n
CONFIG_ACPI_CPPC_CPUFREQ_FIE=n
CONFIG_CAVIUM_TX2_ERRATUM_219=n
CONFIG_PINCTRL_IPQ5210=n
CONFIG_BCM2711_THERMAL=n
CONFIG_HW_RANDOM_MTK=n
CONFIG_PHY_EXYNOS_DP_VIDEO=n
CONFIG_COMMON_CLK_MT8195_MFGCFG=n
CONFIG_DWMAC_VISCONTI=n
CONFIG_SERIO_AMBAKMI=n
CONFIG_MUX_GPIO=n
CONFIG_HAVE_DYNAMIC_FTRACE=n
CONFIG_GPIO_MB86S7X=n
CONFIG_ARCH_HAS_PMD_SOFTLEAVES=n
CONFIG_MMC_DW_EXYNOS=n
CONFIG_HAVE_ARCH_GET_SECUREBOOT=n
CONFIG_COMMON_CLK_MT6765=n
CONFIG_PCI_XGENE_MSI=n
CONFIG_FW_CACHE=n
CONFIG_SCSI_SAS_HOST_SMP=n
CONFIG_ATA=n
CONFIG_CLK_R8A774C0=n
CONFIG_64BIT=n
CONFIG_SND_SOC_RT5659=n
CONFIG_SND_SOC_TLV320AIC32X4=n
CONFIG_SND_SUN4I_I2S=n
CONFIG_ZLIB_DEFLATE=n
CONFIG_POWER_RESET_SYSCON_POWEROFF=n
CONFIG_MTD_PHYSMAP_OF=n
CONFIG_BLK_CGROUP_RWSTAT=n
CONFIG_IMX_MBOX=n
CONFIG_CLK_X1E80100_GCC=n
CONFIG_PHY_CADENCE_DPHY_RX=n
CONFIG_GENERIC_ADC_THERMAL=n
CONFIG_STUB_CLK_HI6220=n
CONFIG_REGULATOR_AXP20X=n
CONFIG_BLOCK_LEGACY_AUTOLOAD=n
CONFIG_SC_CAMCC_8180X=n
CONFIG_NETFILTER_XT_MATCH_ADDRTYPE=n
CONFIG_CFG80211=n
CONFIG_USB_CHIPIDEA_TEGRA=n
CONFIG_GPIO_IMX_SCU=n
CONFIG_MOUSE_PS2_LOGIPS2PP=n
CONFIG_CRYPTO_DEV_SA2UL=n
CONFIG_BNX2X_SRIOV=n
CONFIG_HIBERNATE_CALLBACKS=n
CONFIG_DRM_FSL_LDB=n
CONFIG_PWM_STM32=n
CONFIG_MACB=n
CONFIG_VIDEOMODE_HELPERS=n
CONFIG_DWMAC_STM32=n
CONFIG_SND_SOC_SPDIF=n
CONFIG_PINCTRL_SUN55I_A523=n
CONFIG_CRYPTO_DEV_FSL_CAAM_CRYPTO_API_DESC=n
CONFIG_XXHASH=n
CONFIG_PINCTRL_RK805=n
CONFIG_TPS6594_PFSM=n
CONFIG_SPI_SUN6I=n
CONFIG_INTERVAL_TREE=n
CONFIG_SERIAL_8250_OMAP_TTYO_FIXUP=n
CONFIG_DRM_LONTIUM_LT8912B=n
CONFIG_COMMON_CLK_MT8183_IPU_CONN=n
CONFIG_CRYPTO_LZO=n
CONFIG_VMCORE_INFO=n
CONFIG_DMA_SHARED_BUFFER=n
CONFIG_COMMON_CLK_MT8183_MFGCFG=n
CONFIG_QUOTA=n
CONFIG_PATA_PLATFORM=n
CONFIG_CPU_IDLE=n
CONFIG_SCHED_AUTOGROUP=n
CONFIG_RTC_DRV_S32G=n
CONFIG_PHY_MESON_AXG_MIPI_DPHY=n
CONFIG_FUTEX=n
CONFIG_SENSORS_RASPBERRYPI_HWMON=n
CONFIG_WANT_DEV_COREDUMP=n
CONFIG_HAVE_RELIABLE_STACKTRACE=n
CONFIG_SND_SOC_LPASS_HDMI=n
CONFIG_IRQ_FORCED_THREADING=n
CONFIG_RESET_RASPBERRYPI=n
CONFIG_REGULATOR_PCA9450=n
CONFIG_ARM64_LPA2=n
CONFIG_COMMON_CLK_MT8195_VPPSYS=n
CONFIG_ARCH_WANTS_THP_SWAP=n
CONFIG_RPMSG_CHAR=n
CONFIG_COMMON_CLK_PWM=n
CONFIG_PM_GENERIC_DOMAINS_OF=n
CONFIG_ARCH_MHP_MEMMAP_ON_MEMORY_ENABLE=n
CONFIG_TOUCHSCREEN_HIMAX_HX83112B=n
CONFIG_NET_CLS_FLOWER=n
CONFIG_SC_GCC_7280=n
CONFIG_XLNX_EVENT_MANAGER=n
CONFIG_MMC_SDHI_INTERNAL_DMAC=n
CONFIG_SND_SOC_TEGRA210_MIXER=n
CONFIG_IGB_HWMON=n
CONFIG_SCSI_SAS_LIBSAS=n
CONFIG_HISILICON_ERRATUM_161010101=n
CONFIG_ARM64_VA_BITS_52=n
CONFIG_USB_CHIPIDEA_IMX=n
CONFIG_LS_EXTIRQ=n
CONFIG_CLK_X1E80100_DISPCC=n
CONFIG_BCMGENET=n
CONFIG_FSL_IFC=n
CONFIG_PHY_QCOM_QMP_PCIE=n
CONFIG_EVENTFD=n
CONFIG_SND_SOC_WM_HUBS=n
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_ARGS=n
CONFIG_CAN_RX_OFFLOAD=n
CONFIG_AS_HAS_ARMV8_5=n
CONFIG_DRM_DISPLAY_DP_AUX_BUS=n
CONFIG_SND_SOC_WM8962=n
CONFIG_HID_SUPPORT=n
CONFIG_CRYPTO_USER=n
CONFIG_PHY_TEGRA194_P2U=n
CONFIG_PHY_SUN6I_MIPI_DPHY=n
CONFIG_SG_SPLIT=n
CONFIG_HAVE_ARCH_VMAP_STACK=n
CONFIG_NET_SOCK_MSG=n
CONFIG_HAVE_REGS_AND_STACK_ACCESS_API=n
CONFIG_SCHED_SMT=n
CONFIG_RESET_ZYNQMP=n
CONFIG_COMMON_CLK_VISCONTI=n
CONFIG_CRYPTO_KPP2=n
CONFIG_INPUT_TPS6594_PWRBUTTON=n
CONFIG_MMC_SDHCI_PLTFM=n
CONFIG_SECURITYFS=n
CONFIG_NET_CRC32C=n
CONFIG_XILINX_INTC=n
CONFIG_MMC_SDHCI_XENON=n
CONFIG_CROS_EC_CHARDEV=n
CONFIG_ARCH_HAS_NMI_SAFE_THIS_CPU_OPS=n
CONFIG_GENERIC_CLOCKEVENTS=n
CONFIG_ARCH_R9A09G047=n
CONFIG_PAGE_SIZE_4KB=n
CONFIG_PSTORE_RAM=n
CONFIG_SND_AUDIO_GRAPH_CARD=n
CONFIG_CRYPTO_USER_API_ENABLE_OBSOLETE=n
CONFIG_BALLOON=n
CONFIG_SYSC_RZ=n
CONFIG_DRM_RCAR_LVDS=n
CONFIG_DRM_I2C_ADV7511_CEC=n
CONFIG_RELOCATABLE=n
CONFIG_NVMEM_QCOM_QFPROM=n
CONFIG_MDIO_BUS_MUX_MMIOREG=n
CONFIG_CFG80211_CRDA_SUPPORT=n
CONFIG_COMMON_CLK_SAMSUNG=n
CONFIG_SQUASHFS_COMPILE_DECOMP_SINGLE=n
CONFIG_ARCH_BST=n
CONFIG_VDSO_GETRANDOM=n
CONFIG_MFD_HI6421_PMIC=n
CONFIG_SM_DISPCC_4450=n
CONFIG_CRYPTO_LIB_AES_ECB=n
CONFIG_SND_SOC_MT8188=n
CONFIG_RFKILL=n
CONFIG_MSM_MMCC_8994=n
CONFIG_SPI_FSL_QUADSPI=n
CONFIG_SYSC_RCAR=n
CONFIG_KVM_GENERIC_HARDWARE_ENABLING=n
CONFIG_SPLIT_PMD_PTLOCKS=n
CONFIG_ETHTOOL_NETLINK=n
CONFIG_BT_BREDR=n
CONFIG_IMX7ULP_WDT=n
CONFIG_LOCKD=n
CONFIG_MLX4_EN=n
CONFIG_DMA_COHERENT_POOL=n
CONFIG_CRYPTO_LIB_MD5=n
CONFIG_QCOM_SMSM=n
CONFIG_PCIE_DW_EP=n
CONFIG_AS_IS_GNU=n
CONFIG_RTC_DRV_PCF85363=n
CONFIG_DM_MIRROR=n
CONFIG_QDU_ECPRICC_1000=n
CONFIG_PCI_XGENE=n
CONFIG_PCIE_HISI_STB=n
CONFIG_GOOGLE_CBMEM=n
CONFIG_PREEMPT_COUNT=n
CONFIG_MARVELL_88Q2XXX_PHY=n
CONFIG_PINCTRL_MT8167=n
CONFIG_SND_PCM=n
CONFIG_I2C_IMX_LPI2C=n
CONFIG_TMPFS=n
CONFIG_ARCH_ZYNQMP=n
CONFIG_DRM_EXYNOS_DSI=n
CONFIG_PINCTRL_RZT2H=n
CONFIG_MFD_TPS6594_I2C=n
CONFIG_ARCH_SUPPORTS_ATOMIC_RMW=n
CONFIG_DMADEVICES=n
CONFIG_MEDIA_TUNER_TDA18271=n
CONFIG_RD_LZMA=n
CONFIG_SND_MESON_CARD_UTILS=n
CONFIG_COMMON_CLK_MT8188_MFGCFG=n
CONFIG_GENERIC_LIB_DEVMEM_IS_ALLOWED=n
CONFIG_SND_SOC_LPASS_CPU=n
CONFIG_STACKPROTECTOR=n
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO_BARE=n
CONFIG_ACPI_NUMA=n
CONFIG_TI_ADS1015=n
