CONFIG_CPU_IDLE_GOV_MENU=y
CONFIG_REGULATOR_DA9062=y
CONFIG_CRYPTO_SIG=y
CONFIG_ARCH_USE_QUEUED_RWLOCKS=y
CONFIG_PHY_FSL_IMX8QM_HSIO=y
CONFIG_PINCTRL_SDX75=y
CONFIG_IMX8MM_THERMAL=y
CONFIG_FUNCTION_GRAPH_RETVAL=y
CONFIG_CRYPTO_CCM=y
CONFIG_CONFIGFS_FS=y
CONFIG_I2C_SIMTEC=y
CONFIG_IR_JVC_DECODER=y
CONFIG_VEML6075=y
CONFIG_KCMP=y
CONFIG_RTC_DRV_NTXEC=y
CONFIG_MFD_SPACEMIT_P1=y
CONFIG_HW_RANDOM_OMAP=y
CONFIG_PINCTRL_IPQ8074=y
CONFIG_VIRTIO=y
CONFIG_KEYBOARD_MPR121=y
CONFIG_TCG_INFINEON=y
CONFIG_SENSORS_GXP_FAN_CTRL=y
CONFIG_OVERLAY_FS=y
CONFIG_INPUT_MOUSE=y
CONFIG_I2C_PXA=y
CONFIG_MFD_MX25_TSADC=y
CONFIG_COMMON_CLK_MT6779_VENCSYS=y
CONFIG_W1_SLAVE_SMEM=y
CONFIG_REGULATOR_BQ257XX=y
CONFIG_SENSORS_W83627EHF=y
CONFIG_FB_GEODE=y
CONFIG_CLPS711X_TIMER=y
CONFIG_COMMON_CLK_MT8167_VDECSYS=y
CONFIG_BTRFS_FS_RUN_SANITY_TESTS=y
CONFIG_MSM_GPUCC_8998=y
CONFIG_SERIAL_8250_DW=y
CONFIG_INPUT_PM8941_PWRKEY=y
CONFIG_ARCH_WANT_GENERAL_HUGETLB=y
CONFIG_IPQ_GCC_6018=y
CONFIG_EXTCON_MAX77843=y
CONFIG_PINCTRL_MILOS=y
CONFIG_PIC32_EVIC=y
CONFIG_COMMON_CLK_MT7622_ETHSYS=y
CONFIG_INPUT_PMIC8XXX_PWRKEY=y
CONFIG_SENSORS_NPCM7XX=y
CONFIG_ADFS_FS_RW=y
CONFIG_VFIO_PLATFORM=y
CONFIG_MTD_COMPLEX_MAPPINGS=y
CONFIG_KEYBOARD_STOWAWAY=y
CONFIG_PINCTRL_STM32F469=y
CONFIG_FS_ENCRYPTION_ALGS=y
CONFIG_SYS_R9A09G056=y
CONFIG_SERIAL_MSM=y
CONFIG_COMMON_CLK_ZYNQMP=y
CONFIG_I2C_ATR=y
CONFIG_SGETMASK_SYSCALL=y
CONFIG_SERIAL_8250_MT6577=y
CONFIG_ARCH_SUPPORTS_CRASH_HOTPLUG=y
CONFIG_BOOT_VESA_SUPPORT=y
CONFIG_PINCTRL_QCS8300=y
CONFIG_SERIAL_8250_PXA=y
CONFIG_KEYBOARD_TEGRA=y
CONFIG_RESET_BRCMSTB=y
CONFIG_CRYPTO_AES_NI_INTEL=y
CONFIG_INTERCONNECT=y
CONFIG_PINCTRL_UNIPHIER_LD11=y
CONFIG_CLOCKSOURCE_WATCHDOG=y
CONFIG_IOSCHED_BFQ=y
CONFIG_ARCH_HAS_CPU_ATTACK_VECTORS=y
CONFIG_KEYBOARD_OMAP4=y
CONFIG_CRYPTO_DEV_ATMEL_AUTHENC=y
CONFIG_CRYPTO_LIB_AES_CBC=y
CONFIG_ARM_QCOM_CPUFREQ_HW=y
CONFIG_RMI4_F55=y
CONFIG_REGULATOR_TPS6286X=y
CONFIG_DYNAMIC_DEBUG_CORE=y
CONFIG_RTC_DRV_DS2404=y
CONFIG_INTERCONNECT_QCOM_SDM670=y
CONFIG_BLK_PM=y
CONFIG_CPUFREQ_DT_PLATDEV=y
CONFIG_PHY_UNIPHIER_USB2=y
CONFIG_KEYBOARD_PINEPHONE=y
CONFIG_PSI=y
CONFIG_SERIAL_FSL_LPUART=y
CONFIG_SLUB_DEBUG=y
CONFIG_INPUT_IQS626A=y
CONFIG_FIREWIRE_NOSY=y
CONFIG_SDM_GCC_660=y
CONFIG_ASPEED_BT_IPMI_BMC=y
CONFIG_QCS_GCC_615=y
CONFIG_RMI4_F03_SERIO=y
CONFIG_ISL29003=y
CONFIG_IMX_THERMAL=y
CONFIG_PWM_LPC18XX_SCT=y
CONFIG_TCG_TIS_I2C=y
CONFIG_RMI4_F12=y
CONFIG_FXAS21002C_I2C=y
CONFIG_COMMON_CLK_VC3=y
CONFIG_INTEL_UNCORE_FREQ_CONTROL=y
CONFIG_IR_RCMM_DECODER=y
CONFIG_VEML3235=y
CONFIG_SERIAL_SAMSUNG=y
CONFIG_X86_16BIT=y
CONFIG_RING_BUFFER=y
CONFIG_PINCTRL_NS=y
CONFIG_MMC5983=y
CONFIG_X86_CET=y
CONFIG_COMEDI_8255_SA=y
CONFIG_GPIO_BY_PINCTRL=y
CONFIG_SM_GPUCC_6350=y
CONFIG_HAVE_KERNEL_ZSTD=y
CONFIG_AD5380=y
CONFIG_DMABUF_DEBUG=y
CONFIG_ARCH_HAS_ELFCORE_COMPAT=y
CONFIG_MTK_INFRACFG=y
CONFIG_GPIO_FXL6408=y
CONFIG_MIGRATION=y
CONFIG_INPUT_APANEL=y
CONFIG_PCIE_ROCKCHIP_HOST=y
CONFIG_VT_CONSOLE=y
CONFIG_I2C_ST=y
CONFIG_HAVE_ARCH_KCSAN=y
CONFIG_COMMON_CLK_MT8188_CAMSYS=y
CONFIG_ADI_AXI_DAC=y
CONFIG_COMPILE_TEST=y
CONFIG_PINCTRL_S900=y
CONFIG_VBOXGUEST=y
CONFIG_FORTIFY_SOURCE=y
CONFIG_SC_CAMCC_8180X=y
CONFIG_KEYBOARD_ADC=y
CONFIG_CGROUP_MISC=y
CONFIG_FB_VOODOO1=y
CONFIG_ALLOW_DEV_COREDUMP=y
CONFIG_PINCTRL_ASPEED_G6=y
CONFIG_PCIE_DW=y
CONFIG_MPL115_I2C=y
CONFIG_NLS_MAC_ROMAN=y
CONFIG_HAVE_EXIT_THREAD=y
CONFIG_PCI_TSM=y
CONFIG_INTERCONNECT_QCOM=y
CONFIG_SENSORS_VIA_CPUTEMP=y
CONFIG_PHY_QCOM_USB_SS=y
CONFIG_SENSORS_MAX16065=y
CONFIG_HAVE_JUMP_LABEL_HACK=y
CONFIG_RTC_MC146818_LIB=y
CONFIG_CRYPTO_HCTR2=y
CONFIG_ARCH_HAS_PMEM_API=y
CONFIG_SENSORS_SHT15=y
CONFIG_FTTMR010_TIMER=y
CONFIG_FS_ENCRYPTION_INLINE_CRYPT=y
CONFIG_SERIAL_8250_MOXA_PCIE=y
CONFIG_AS73211=y
CONFIG_IPMB_DEVICE_INTERFACE=y
CONFIG_SYSC_R8A774A1=y
CONFIG_PCIE_CADENCE_PLAT=y
CONFIG_COMMON_CLK_MT8183_IPU_CONN=y
CONFIG_HAVE_DEBUG_KMEMLEAK=y
CONFIG_MFD_MT6360=y
CONFIG_MAC_PARTITION=y
CONFIG_PHY_HI3670_USB=y
CONFIG_SENSORS_LM95245=y
CONFIG_XFS_LIVE_HOOKS=y
CONFIG_ARCH_HAS_DEVMEM_IS_ALLOWED=y
CONFIG_SM_VIDEOCC_8550=y
CONFIG_SCHEDSTATS=y
CONFIG_FB_OMAP2_DSS_VENC=y
CONFIG_MFD_MAX77693=y
CONFIG_MTD_ESB2ROM=y
CONFIG_XXHASH=y
CONFIG_RALINK_TIMER=y
CONFIG_DA9062_THERMAL=y
CONFIG_SHRINKER_DEBUG=y
CONFIG_COMEDI_MISC_DRIVERS=y
CONFIG_PCI_DOE=y
CONFIG_SC_VIDEOCC_7180=y
CONFIG_MFD_ROHM_PWRBUTTON=y
CONFIG_ASPEED_KCS_IPMI_BMC=y
CONFIG_HAVE_REGS_AND_STACK_ACCESS_API=y
CONFIG_PCI_TEGRA=y
CONFIG_MPRLS0025PA=y
CONFIG_ARCH_DEFAULT_CRASH_DUMP=y
CONFIG_F2FS_FS=y
CONFIG_MTD_NAND_CORE=y
CONFIG_PINCTRL_MT8186=y
CONFIG_RMI4_F21=y
CONFIG_LEGACY_VSYSCALL_NONE=y
CONFIG_PAGE_IDLE_FLAG=y
CONFIG_FPGA_MGR_SOCFPGA_A10=y
CONFIG_CRYPTO_DEV_ATMEL_SHA=y
CONFIG_IIO_RESCALE=y
CONFIG_PINCTRL_GLYMUR=y
CONFIG_PINCTRL_VF610=y
CONFIG_LEDS_TRIGGER_GPIO=y
CONFIG_REGULATOR_TPS51632=y
CONFIG_BCMA_HOST_PCI=y
CONFIG_CLK_RK3288=y
CONFIG_TI_ADS1015=y
CONFIG_MTD_NAND_STM32_FMC2=y
CONFIG_HAVE_EBPF_JIT=y
CONFIG_ARMV7M_SYSTICK=y
CONFIG_DNOTIFY=y
CONFIG_MCP4018=y
CONFIG_CXL_REGION=y
CONFIG_CRYPTO_LIB_BLAKE2B=y
CONFIG_QCOM_TZMEM_MODE_GENERIC=y
CONFIG_CRYPTO_DEV_QAT=y
CONFIG_PECI_ASPEED=y
CONFIG_X86_REQUIRED_FEATURE_XMM2=y
CONFIG_FB=y
CONFIG_DEBUG_ATOMIC=y
CONFIG_VL53L1X_I2C=y
CONFIG_PING=y
CONFIG_RTC_DRV_MESON=y
CONFIG_UBIFS_FS=y
CONFIG_MTD_JEDECPROBE=y
CONFIG_CLK_GLYMUR_DISPCC=y
CONFIG_ARCH_SUPPORTS_HUGETLBFS=y
CONFIG_CM3232=y
CONFIG_AUXDISPLAY=y
CONFIG_MMA9551_CORE=y
CONFIG_RESET_HISI=y
CONFIG_INPUT_MISC=y
CONFIG_HW_RANDOM_IXP4XX=y
CONFIG_GPIO_KEMPLD=y
CONFIG_PHY_AX3000_EMMC=y
CONFIG_PARPORT_1284=y
CONFIG_PHY_MMP3_HSIC=y
CONFIG_QCOM_LLCC=y
CONFIG_COMMON_CLK_ROCKCHIP=y
CONFIG_CACHESTAT_SYSCALL=y
CONFIG_INGENIC_CGU_X1000=y
CONFIG_CRYPTO_DEV_QAT_420XX=y
CONFIG_INV_ICM42600_I2C=y
CONFIG_PINCTRL_AMLOGIC_T7=y
CONFIG_CLK_HAWI_TCSRCC=y
CONFIG_KMAP_LOCAL=y
CONFIG_LZ4HC_COMPRESS=y
CONFIG_PHY_ROCKCHIP_PCIE=y
CONFIG_PINCTRL_PFC_SH7722=y
CONFIG_ZONE_DMA=y
CONFIG_CRYPTO_SKCIPHER=y
CONFIG_X86_INTEL_TSX_MODE_AUTO=y
CONFIG_RV_MON_WWNR=y
CONFIG_ADP810=y
CONFIG_TS4800_IRQ=y
CONFIG_EEPROM_IDT_89HPESX=y
CONFIG_ARCH_SUPPORTS_NUMA_BALANCING=y
CONFIG_TIMER_IMX_SYS_CTR=y
CONFIG_APDS9160=y
CONFIG_X86_DISABLED_FEATURE_SEV_SNP=y
CONFIG_MAX77541_ADC=y
CONFIG_COMMON_CLK_MT8365=y
CONFIG_CRYPTO_SHA3=y
CONFIG_MTD_NAND_SHARPSL=y
CONFIG_DS1682=y
CONFIG_HAVE_USER_RETURN_NOTIFIER=y
CONFIG_HAVE_FUNCTION_GRAPH_TRACER=y
CONFIG_ADXL313_I2C=y
CONFIG_MFD_LOCHNAGAR=y
CONFIG_LTO_NONE=y
CONFIG_CLK_IMX8MN=y
CONFIG_RTC_DRV_RV3028=y
CONFIG_XILINX_PR_DECOUPLER=y
CONFIG_PROC_PID_ARCH_STATUS=y
CONFIG_LMP91000=y
CONFIG_STACK_TRACER=y
CONFIG_I2C_RIIC=y
CONFIG_DEBUG_PLIST=y
CONFIG_MFD_88PM800=y
CONFIG_XZ_DEC_RISCV=y
CONFIG_LDM_PARTITION=y
CONFIG_RAPIDIO_ENUM_BASIC=y
CONFIG_SENSORS_LM95241=y
CONFIG_PCI_MESON=y
CONFIG_MFD_SY7636A=y
CONFIG_OF_ADDRESS=y
CONFIG_MFD_MAX14577=y
CONFIG_COMMON_CLK_MAX9485=y
CONFIG_GPIO_QIXIS_FPGA=y
CONFIG_ARM_SCPI_POWER_DOMAIN=y
CONFIG_RESET_A10SR=y
CONFIG_INTEL_PUNIT_IPC=y
CONFIG_KEYBOARD_MATRIX=y
CONFIG_REGULATOR=y
CONFIG_WATCH_QUEUE=y
CONFIG_BME680=y
CONFIG_CRYPTO_DEV_QCE=y
CONFIG_MTD_NAND_NANDSIM=y
CONFIG_XILINX_VCU=y
CONFIG_TEGRA_TIMER=y
CONFIG_UP_LATE_INIT=y
CONFIG_GPIO_SCH311X=y
CONFIG_CLK_GLYMUR_TCSRCC=y
CONFIG_LZ4_COMPRESS=y
CONFIG_REGULATOR_SY8824X=y
CONFIG_INTEL_SCU_IPC_UTIL=y
CONFIG_AUTOFS_FS=y
CONFIG_INPUT_FF_MEMLESS=y
CONFIG_MTD_AMD76XROM=y
CONFIG_SOFTLOCKUP_DETECTOR=y
CONFIG_DEBUG_RT_MUTEXES=y
CONFIG_GPIO_MXS=y
CONFIG_REGULATOR_FIXED_VOLTAGE=y
CONFIG_PHY_DA8XX_USB=y
CONFIG_GPIO_MAX77650=y
CONFIG_USB4_STREAM=y
CONFIG_NLS_MAC_CENTEURO=y
CONFIG_MFD_INTEL_M10_BMC_PMCI=y
CONFIG_PINCTRL_SM8150=y
CONFIG_SOC_BUS=y
CONFIG_BLK_DEV_INITRD=y
CONFIG_PHY_QCOM_EDP=y
CONFIG_X86_DISABLED_FEATURE_FRED=y
CONFIG_ARCH_HAS_PARANOID_L1D_FLUSH=y
CONFIG_PINCTRL_IMX1=y
CONFIG_PINCTRL_NS2_MUX=y
CONFIG_PHY_CYGNUS_PCIE=y
CONFIG_BCM_VK_TTY=y
CONFIG_SM_DISPCC_6125=y
CONFIG_GCC_NO_STRINGOP_OVERFLOW=y
CONFIG_REGULATOR_BD957XMUF=y
CONFIG_X86_REQUIRED_FEATURE_UP=y
CONFIG_PHY_QCOM_QMP_USB_LEGACY=y
CONFIG_STACKPROTECTOR=y
CONFIG_NTB_PINGPONG=y
CONFIG_TCG_TIS_ST33ZP24=y
CONFIG_FW_CS_DSP=y
CONFIG_LEDS_BD2606MVV=y
CONFIG_CRYPTO_AES=y
CONFIG_INTEL_TH_PCI=y
CONFIG_CRYPTO_HASH2=y
CONFIG_GPIO_BCM_XGS_IPROC=y
CONFIG_CLK_ULTRARISC=y
CONFIG_ARCH_SUPPORTS_DEBUG_PAGEALLOC=y
CONFIG_SOFTIRQ_ON_OWN_STACK=y
CONFIG_PHY_UNIPHIER_PCIE=y
CONFIG_HAVE_ALIGNED_STRUCT_PAGE=y
CONFIG_COMMON_CLK_MT6779=y
CONFIG_PWM_RENESAS_RCAR=y
CONFIG_REGULATOR_ADP5055=y
CONFIG_PINCTRL_MT7981=y
CONFIG_QCOM_CLK_APCS_SDX55=y
CONFIG_INTERCONNECT_QCOM_SM6350=y
CONFIG_PINCTRL_IMX53=y
CONFIG_VEML6070=y
CONFIG_SD_ADC_MODULATOR=y
CONFIG_RTC_DRV_RX8025=y
CONFIG_CLK_MAILI_VIDEOCC=y
CONFIG_INTEL_MEI_TXE=y
CONFIG_TPL0102=y
CONFIG_CRYPTO_LIB_SHA512=y
CONFIG_MQ_IOSCHED_KYBER=y
CONFIG_HAVE_ARCH_WITHIN_STACK_FRAMES=y
CONFIG_LOCKUP_DETECTOR=y
CONFIG_FB_ARC=y
CONFIG_LEDS_COBALT_QUBE=y
CONFIG_IPMI_PANIC_EVENT=y
CONFIG_OF_GPIO=y
CONFIG_XEN_VIRTIO=y
CONFIG_PINCTRL_MT6893=y
CONFIG_DEBUG_FS=y
CONFIG_INTEL_SCU_IPC=y
CONFIG_MSM_GCC_8909=y
CONFIG_PINCTRL_MDM9607=y
CONFIG_PANEL=y
CONFIG_MOUSE_PS2_VMMOUSE=y
CONFIG_USB4_DEBUGFS_WRITE=y
CONFIG_RTC_DRV_MXC_V2=y
CONFIG_ZSTD_COMPRESS=y
CONFIG_QCOM_PAS=y
CONFIG_NLS_ISO8859_15=y
CONFIG_PINCTRL_MESON_AXG=y
CONFIG_RTC_DRV_PCF85063=y
CONFIG_INPUT_DRV2665_HAPTICS=y
CONFIG_CM3323=y
CONFIG_SM_DISPCC_6115=y
CONFIG_MFD_ARIZONA_I2C=y
CONFIG_SENSORS_SFCTEMP=y
CONFIG_ARCH_HAS_GCOV_PROFILE_ALL=y
CONFIG_MTD_ONENAND_SAMSUNG=y
CONFIG_GPIO_ALTERA=y
CONFIG_NLS_UCS2_UTILS=y
CONFIG_GPIO_ADNP=y
CONFIG_CRYPTO_LIB_AES_ECB=y
CONFIG_MEMSTICK_R592=y
CONFIG_FB_DEFERRED_IO=y
CONFIG_COMMON_CLK_MT6797=y
CONFIG_USB_OHCI_LITTLE_ENDIAN=y
CONFIG_CC_HAS_ENTRY_PADDING=y
CONFIG_WW_MUTEX_SELFTEST=y
CONFIG_REGULATOR_LOCHNAGAR=y
CONFIG_NEED_DMA_MAP_STATE=y
CONFIG_AMD_NODE=y
CONFIG_BERLIN2_ADC=y
CONFIG_PINCTRL_RZG2L=y
CONFIG_LEDS_TRIGGER_ONESHOT=y
CONFIG_ARCH_MAY_HAVE_PC_FDC=y
CONFIG_HW_RANDOM_BCM2835=y
CONFIG_REGULATOR_MT6359=y
CONFIG_PINCTRL_RZN1=y
CONFIG_FSI_OCC=y
CONFIG_OMAP_CONTROL_PHY=y
CONFIG_FXLS8962AF=y
CONFIG_ROMFS_ON_BLOCK=y
CONFIG_JH71XX_PMU=y
CONFIG_ARM_TEGRA20_CPUFREQ=y
CONFIG_MOUSE_PS2=y
CONFIG_INPUT_MOUSEDEV=y
CONFIG_PCIE_CADENCE_DEBUGFS=y
CONFIG_FB_SIS=y
CONFIG_IIO_SYSFS_TRIGGER=y
CONFIG_VERSAL_SYSMON_I2C=y
CONFIG_SERIAL_8250_PCILIB=y
CONFIG_ARM_SCMI_POWER_DOMAIN=y
CONFIG_ULTRIX_PARTITION=y
CONFIG_REGULATOR_MT6360=y
CONFIG_SYSC_RZ=y
CONFIG_REGULATOR_PF9453=y
CONFIG_PINCTRL_SC7280=y
CONFIG_GPIO_SAMA5D2_PIOBU=y
CONFIG_GENERIC_IRQ_PROBE=y
CONFIG_MFD_ENE_KB3930=y
CONFIG_GROUP_SCHED_WEIGHT=y
CONFIG_BME680_I2C=y
CONFIG_MFD_KEMPLD=y
CONFIG_AT91_SOC_ID=y
CONFIG_UPROBE_EVENTS=y
CONFIG_CARMINE_DRAM_CUSTOM=y
CONFIG_REGULATOR_MT6315=y
CONFIG_PINCTRL_SAR2130P=y
CONFIG_VFIO_NOIOMMU=y
CONFIG_CRAMFS=y
CONFIG_PINCTRL_MSM8660=y
CONFIG_XEN=y
CONFIG_PHY_FSL_SAMSUNG_HDMI_PHY=y
CONFIG_LEDS_LM3601X=y
CONFIG_RT_MUTEXES=y
CONFIG_W1_SLAVE_DS2423=y
CONFIG_CRYPTO_SERPENT_AVX2_X86_64=y
CONFIG_PCI_DIRECT=y
CONFIG_CPU_SUP_HYGON=y
CONFIG_NPCM_ADC=y
CONFIG_COMMON_CLK_MT8173=y
CONFIG_W1_SLAVE_DS28E04=y
CONFIG_MAX44000=y
CONFIG_FB_SM501=y
CONFIG_MEMREGION=y
CONFIG_SERIAL_TEGRA_UTC=y
CONFIG_PWM_JZ4740=y
CONFIG_CRYPTO_ECC=y
CONFIG_DMARD06=y
CONFIG_I2C_TEGRA=y
CONFIG_LEDS_SYSCON=y
CONFIG_LEDS_PCA9532=y
CONFIG_SENSORS_INA3221=y
CONFIG_MSM_GCC_8953=y
CONFIG_PINCTRL_OCELOT=y
CONFIG_RMI4_F11=y
CONFIG_XFS_DRAIN_INTENTS=y
CONFIG_FB_OMAP2_CONNECTOR_ANALOG_TV=y
CONFIG_X86_DIRECT_GBPAGES=y
CONFIG_NCT7201=y
CONFIG_NVMEM_LAYOUT_U_BOOT_ENV=y
CONFIG_SENSORS_ADT7X10=y
CONFIG_AT91_ADC=y
CONFIG_HAVE_KERNEL_XZ=y
CONFIG_NLS_CODEPAGE_864=y
CONFIG_THERMAL_DEFAULT_GOV_STEP_WISE=y
CONFIG_CLK_KAANAPALI_CAMCC=y
CONFIG_EXTCON=y
CONFIG_BLK_ERROR_INJECTION=y
CONFIG_INPUT_BBNSM_PWRKEY=y
CONFIG_OF_DYNAMIC=y
CONFIG_SERIAL_OF_PLATFORM=y
CONFIG_PAGE_REPORTING=y
CONFIG_GPIO_EP93XX=y
CONFIG_PHY_EIC7700_SATA=y
CONFIG_GENERIC_IRQ_CHIP=y
CONFIG_REGULATOR_RT5133=y
CONFIG_HAVE_KRETPROBES=y
CONFIG_VCNL4035=y
CONFIG_RTC_DRV_SSD202D=y
CONFIG_RTC_DRV_GENERIC=y
CONFIG_SENSORS_MAX31790=y
CONFIG_NLS_KOI8_R=y
CONFIG_MTD_NAND_ECC_MEDIATEK=y
CONFIG_RTC_DRV_X1205=y
CONFIG_PHY_HISTB_COMBPHY=y
CONFIG_TSYS02D=y
CONFIG_INPUT=y
CONFIG_RFD77402=y
CONFIG_PWM_TEGRA=y
CONFIG_MFD_MAX77843=y
CONFIG_NOA1305=y
CONFIG_DMAPOOL_TEST=y
CONFIG_COMMON_CLK_MT8188_VDOSYS=y
CONFIG_QCOM_A53PLL=y
CONFIG_KVM=y
CONFIG_KGDB_TESTS_ON_BOOT=y
CONFIG_GPIO_REALTEK_OTTO=y
