CONFIG_PCI_DIRECT=n
CONFIG_HWMON=n
CONFIG_INTEGRITY=n
CONFIG_MMU_NOTIFIER=n
CONFIG_DEBUG_WX=n
CONFIG_RTC_MC146818_LIB=n
CONFIG_CRYPTO_CCM=n
CONFIG_HAVE_KERNEL_LZ4=n
CONFIG_WATCHDOG=n
CONFIG_X86_AMD_PSTATE=n
CONFIG_MODULE_FORCE_UNLOAD=n
CONFIG_WERROR=n
CONFIG_DEBUG_FS_ALLOW_ALL=n
CONFIG_BITREVERSE=n
CONFIG_RD_GZIP=n
CONFIG_HAVE_ARCH_AUDITSYSCALL=n
CONFIG_X86_INTEL_TSX_MODE_AUTO=n
CONFIG_EARLY_PRINTK_USB=n
CONFIG_X86_PAT=n
CONFIG_ARCH_WANT_LD_ORPHAN_WARN=n
CONFIG_MODULES_TREE_LOOKUP=n
CONFIG_INPUT=n
CONFIG_CRYPTO_LIB_UTILS=n
CONFIG_NET_PTP_CLASSIFY=n
CONFIG_SATA_HOST=n
CONFIG_HAVE_KPROBES=n
CONFIG_ARCH_HAS_ADD_PAGES=n
CONFIG_NET_VENDOR_RDC=n
CONFIG_EEEPC_LAPTOP=n
CONFIG_ACPI_TABLE_UPGRADE=n
CONFIG_SND_HDA_CORE=n
CONFIG_UNINLINE_SPIN_UNLOCK=n
CONFIG_CPU_SUP_AMD=n
CONFIG_ARCH_HAS_SET_MEMORY=n
CONFIG_HAVE_MIXED_BREAKPOINTS_REGS=n
CONFIG_SPARSEMEM=n
CONFIG_DYNAMIC_EVENTS=n
CONFIG_BINARY_PRINTF=n
CONFIG_CRC16=n
CONFIG_NFS_V3_ACL=n
CONFIG_X86_DISABLED_FEATURE_LAM=n
CONFIG_DMA_ENGINE=n
CONFIG_ARCH_WANT_BATCHED_UNMAP_TLB_FLUSH=n
CONFIG_UNWINDER_ORC=n
CONFIG_AMD_NUMA=n
CONFIG_SERIAL_8250_SHARE_IRQ=n
CONFIG_ACPI_I2C_OPREGION=n
CONFIG_ARCH_HAS_FORTIFY_SOURCE=n
CONFIG_SG_POOL=n
CONFIG_R8169=n
CONFIG_CRYPTO_ALGAPI2=n
CONFIG_PERF_EVENTS_INTEL_RAPL=n
CONFIG_PATA_TIMINGS=n
CONFIG_ACPI_MRRM=n
CONFIG_IP_PNP_BOOTP=n
CONFIG_INPUT_TABLET=n
CONFIG_ARCH_USE_BUILTIN_BSWAP=n
CONFIG_I2C_BOARDINFO=n
CONFIG_E1000E=n
CONFIG_MITIGATION_SSB=n
CONFIG_SND_PCMCIA=n
CONFIG_LZO_COMPRESS=n
CONFIG_CRYPTO_HASH2=n
CONFIG_NET_VENDOR_BROCADE=n
CONFIG_USB_OHCI_LITTLE_ENDIAN=n
CONFIG_COMPAT_FOR_U64_ALIGNMENT=n
CONFIG_USB_OHCI_HCD=n
CONFIG_GCC_NO_STRINGOP_OVERFLOW=n
CONFIG_CRYPTO_LIB_AES_CCM=n
CONFIG_X86_UMIP=n
CONFIG_GENERIC_ISA_DMA=n
CONFIG_SPARSE_IRQ=n
CONFIG_HID_PANTHERLORD=n
CONFIG_WLAN_VENDOR_ADMTEK=n
CONFIG_NET_VENDOR_MICREL=n
CONFIG_SGETMASK_SYSCALL=n
CONFIG_POSIX_TIMERS=n
CONFIG_NET_9P_FD=n
CONFIG_NET_VENDOR_MICROSOFT=n
CONFIG_KPROBE_EVENTS=n
CONFIG_NET_VENDOR_MICROSEMI=n
CONFIG_ACPI_PRMT=n
CONFIG_KRETPROBES=n
CONFIG_LDISC_AUTOLOAD=n
CONFIG_NET_VENDOR_BROADCOM=n
CONFIG_CPU_FREQ_GOV_SCHEDUTIL=n
CONFIG_IRQ_DOMAIN=n
CONFIG_IO_URING=n
CONFIG_DEBUG_BOOT_PARAMS=n
CONFIG_RTC_INTF_SYSFS=n
CONFIG_NUMA=n
CONFIG_BLK_DEV_INITRD=n
CONFIG_HAVE_CALL_THUNKS=n
CONFIG_NET_VENDOR_SILAN=n
CONFIG_SATA_PMP=n
CONFIG_ARCH_USE_MEMTEST=n
CONFIG_ACPI_PROCESSOR_CSTATE=n
CONFIG_ARCH_SUPPORTS_CRASH_DUMP=n
CONFIG_CRYPTO_LIB_ARC4=n
CONFIG_HAVE_HW_BREAKPOINT=n
CONFIG_ARCH_WANTS_DYNAMIC_TASK_STRUCT=n
CONFIG_CFG80211_REQUIRE_SIGNED_REGDB=n
CONFIG_EDAC_ATOMIC_SCRUB=n
CONFIG_X86_ESPFIX64=n
CONFIG_X509_CERTIFICATE_PARSER=n
CONFIG_HAVE_RETHOOK=n
CONFIG_HAS_IOPORT=n
CONFIG_X86_REQUIRED_FEATURE_XMM2=n
CONFIG_XFRM=n
CONFIG_PNFS_FILE_LAYOUT=n
CONFIG_NETFILTER_XT_TARGET_NFLOG=n
CONFIG_NFS_ACL_SUPPORT=n
CONFIG_EPROBE_EVENTS=n
CONFIG_NET_VENDOR_AMAZON=n
CONFIG_WLAN_VENDOR_TI=n
CONFIG_HAVE_UID16=n
CONFIG_STACKPROTECTOR=n
CONFIG_HAVE_IRQ_EXIT_ON_IRQ_STACK=n
CONFIG_NET_VENDOR_RENESAS=n
CONFIG_SECRETMEM=n
CONFIG_NET_VENDOR_QLOGIC=n
CONFIG_HAVE_MOVE_PUD=n
CONFIG_NET_VENDOR_XILINX=n
CONFIG_NAMESPACES=n
CONFIG_VIRTIO_PCI_ADMIN_LEGACY=n
CONFIG_NLS_UTF8=n
CONFIG_NET_VENDOR_DAVICOM=n
CONFIG_ETHERNET=n
CONFIG_COMPAT=n
CONFIG_GENERIC_IRQ_PROBE=n
CONFIG_XZ_DEC_SPARC=n
CONFIG_HAVE_CMPXCHG_DOUBLE=n
CONFIG_ARCH_SUPPORTS_KMAP_LOCAL_FORCE_MAP=n
CONFIG_BLK_DEV_MD=n
CONFIG_FIRMWARE_MEMMAP=n
CONFIG_EPOLL=n
CONFIG_GENERIC_IRQ_MATRIX_ALLOCATOR=n
CONFIG_TICK_CPU_ACCOUNTING=n
CONFIG_BLK_DEV_BSG_COMMON=n
CONFIG_GROUP_SCHED_WEIGHT=n
CONFIG_TIGON3_HWMON=n
CONFIG_LOCK_SPIN_ON_OWNER=n
CONFIG_SCHEDSTATS=n
CONFIG_IPV6_SIT=n
CONFIG_INET=n
CONFIG_CC_HAS_NAMED_AS_FIXED_SANITIZERS=n
CONFIG_USB_UHCI_HCD=n
CONFIG_BLK_DEV_SD=n
CONFIG_NET_VENDOR_AGERE=n
CONFIG_THERMAL_NETLINK=n
CONFIG_SUSPEND=n
CONFIG_LD_CAN_USE_KEEP_IN_OVERLAY=n
CONFIG_USB_XHCI_PCI=n
CONFIG_FORCEDETH=n
CONFIG_ARCH_WANT_OPTIMIZE_DAX_VMEMMAP=n
CONFIG_NETPOLL=n
CONFIG_FREEZER=n
CONFIG_UNIX98_PTYS=n
CONFIG_HAVE_KERNEL_ZSTD=n
CONFIG_SKY2=n
CONFIG_PCIEASPM_DEFAULT=n
CONFIG_ARCH_HAS_PTE_SPECIAL=n
CONFIG_ATA=n
CONFIG_SCHED_INFO=n
CONFIG_NET_VENDOR_MICROCHIP=n
CONFIG_CRYPTO_LIB_SHA256_ARCH=n
CONFIG_SYSVIPC=n
CONFIG_NET_VENDOR_SMSC=n
CONFIG_X86_REQUIRED_FEATURE_PAE=n
CONFIG_NETWORK_SECMARK=n
CONFIG_VDSO_GETRANDOM=n
CONFIG_DRM_CLIENT_SELECTION=n
CONFIG_CRYPTO_SEQIV=n
CONFIG_NF_REJECT_IPV4=n
CONFIG_CRYPTO_SHA256=n
CONFIG_INTEGRITY_AUDIT=n
CONFIG_DEBUG_ENTRY=n
CONFIG_WLAN=n
CONFIG_PCI_PASID=n
CONFIG_NET_VENDOR_TEHUTI=n
CONFIG_DMA_ACPI=n
CONFIG_PCI_QUIRKS=n
CONFIG_PREEMPT_DYNAMIC=n
CONFIG_VM_EVENT_COUNTERS=n
CONFIG_X86=n
CONFIG_HAVE_DMA_CONTIGUOUS=n
CONFIG_SERIAL_8250_DETECT_IRQ=n
CONFIG_PROC_VMCORE=n
CONFIG_ACPI_BATTERY=n
CONFIG_PM_TRACE_RTC=n
CONFIG_CRYPTO_LIB_SHA1_ARCH=n
CONFIG_DST_CACHE=n
CONFIG_NET_VENDOR_NATSEMI=n
CONFIG_CRYPTO_HASH_INFO=n
CONFIG_WATCHDOG_HANDLE_BOOT_ENABLED=n
CONFIG_SOFTIRQ_ON_OWN_STACK=n
CONFIG_PATA_AMD=n
CONFIG_TRACE_IRQFLAGS_SUPPORT=n
CONFIG_ARCH_USES_PG_ARCH_2=n
CONFIG_FUTEX_ROBUST_UNLOCK=n
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_ARGS=n
CONFIG_HW_RANDOM_VIA=n
CONFIG_ACPI_AC=n
CONFIG_HAVE_FUNCTION_ERROR_INJECTION=n
CONFIG_DRM_PANEL=n
CONFIG_NFS_DISABLE_UDP_SUPPORT=n
CONFIG_MII=n
CONFIG_ARCH_HAS_HW_PTE_YOUNG=n
CONFIG_ARCH_SUPPORTS_SCHED_SMT=n
CONFIG_GENERIC_CPU_VULNERABILITIES=n
CONFIG_SERIO_LIBPS2=n
CONFIG_INET6_AH=n
CONFIG_CC_HAS_ASM_INLINE=n
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST=n
CONFIG_CRYPTO_HW=n
CONFIG_NOP_TRACER=n
CONFIG_RTC_CLASS=n
CONFIG_ARCH_HAS_SET_DIRECT_MAP=n
CONFIG_X86_THERMAL_VECTOR=n
CONFIG_CPU_IDLE_GOV_HALTPOLL=n
CONFIG_KALLSYMS_ALL=n
CONFIG_X86_MPPARSE=n
CONFIG_ACPI_HOTPLUG_IOAPIC=n
CONFIG_XZ_DEC_ARM64=n
CONFIG_ASSOCIATIVE_ARRAY=n
CONFIG_NET_VENDOR_AMD=n
CONFIG_BQL=n
CONFIG_LOCK_MM_AND_FIND_VMA=n
CONFIG_HAVE_INTEL_TXT=n
CONFIG_USB_ARCH_HAS_HCD=n
CONFIG_CRYPTO_LIB_SHA512=n
CONFIG_CC_NO_ARRAY_BOUNDS=n
CONFIG_HAVE_OBJTOOL=n
CONFIG_PHYLIB=n
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO_BARE=n
CONFIG_PCI_ATS=n
CONFIG_HAVE_GENERIC_TIF_BITS=n
CONFIG_INPUT_SPARSEKMAP=n
CONFIG_USB_EHCI_HCD=n
CONFIG_HIBERNATE_CALLBACKS=n
CONFIG_STRICT_KERNEL_RWX=n
CONFIG_HAVE_USER_RETURN_NOTIFIER=n
CONFIG_USB_HIDDEV=n
CONFIG_HAVE_PV_STEAL_CLOCK_GEN=n
CONFIG_CRYPTO_CBC=n
CONFIG_VT_CONSOLE=n
CONFIG_HAVE_UNSTABLE_SCHED_CLOCK=n
CONFIG_GRO_CELLS=n
CONFIG_HOTPLUG_CORE_SYNC=n
CONFIG_VT_CONSOLE_SLEEP=n
CONFIG_BUG=n
CONFIG_FUNCTION_ALIGNMENT_16B=n
CONFIG_CGROUP_PERF=n
CONFIG_HUGETLB_PMD_PAGE_TABLE_SHARING=n
CONFIG_ARCH_SUPPORTS_ATOMIC_RMW=n
CONFIG_LEGACY_DIRECT_IO=n
CONFIG_QUOTA=n
CONFIG_INIT_STACK_ALL_ZERO=n
CONFIG_ARCH_MIGHT_HAVE_PC_PARPORT=n
CONFIG_CRYPTO_LIB_AES_ARCH=n
CONFIG_IP_MROUTE=n
CONFIG_PCI_MMCONFIG=n
CONFIG_PTP_1588_CLOCK_VMCLOCK=n
CONFIG_WLAN_VENDOR_ATH=n
CONFIG_CPU_SUP_CENTAUR=n
CONFIG_GLOB=n
CONFIG_SECURITY_NETWORK=n
CONFIG_DMI=n
CONFIG_NET=n
CONFIG_SERIAL_8250_EXAR=n
CONFIG_X86_HV_CALLBACK_VECTOR=n
CONFIG_NET_VENDOR_CORTINA=n
CONFIG_CPU_FREQ_GOV_ONDEMAND=n
CONFIG_OBJTOOL=n
CONFIG_X86_REQUIRED_FEATURE_XMM=n
CONFIG_MITIGATION_ITS=n
CONFIG_CPUFREQ_ARCH_CUR_FREQ=n
CONFIG_HAVE_OBJTOOL_NOP_MCOUNT=n
CONFIG_HAVE_DEBUG_KMEMLEAK=n
CONFIG_IP_ROUTE_MULTIPATH=n
CONFIG_PREEMPT_BUILD=n
CONFIG_LEGACY_TIOCSTI=n
CONFIG_CRASH_RESERVE=n
CONFIG_CPU_FREQ_GOV_USERSPACE=n
CONFIG_JBD2=n
CONFIG_VIRTIO=n
CONFIG_HAVE_ARCH_JUMP_LABEL_RELATIVE=n
CONFIG_NF_DEFRAG_IPV6=n
CONFIG_NET_VENDOR_ATHEROS=n
CONFIG_INPUT_TOUCHSCREEN=n
CONFIG_VIRTIO_DMA_SHARED_BUFFER=n
CONFIG_APERTURE_HELPERS=n
CONFIG_CRC32=n
CONFIG_SERIAL_8250_PCILIB=n
CONFIG_BLK_DEV_BSG=n
CONFIG_SPARSEMEM_VMEMMAP_ENABLE=n
CONFIG_ARCH_SUPPORTS_CRASH_HOTPLUG=n
CONFIG_HAVE_SAMPLE_FTRACE_DIRECT=n
CONFIG_MITIGATION_TAA=n
CONFIG_MD=n
