CONFIG_TRACE_IRQFLAGS_SUPPORT=n
CONFIG_SND_SOC_MT6358=n
CONFIG_MMC_BLOCK=n
CONFIG_SGL_ALLOC=n
CONFIG_ARCH_REALTEK=n
CONFIG_HW_RANDOM_ARM_SMCCC_TRNG=n
CONFIG_MEDIA_HIDE_ANCILLARY_SUBDRV=n
CONFIG_SERIAL_IMX=n
CONFIG_CLK_RV1126B=n
CONFIG_GENERIC_CLOCKEVENTS=n
CONFIG_KEYBOARD_ADC=n
CONFIG_GNSS=n
CONFIG_FUSE_IO_URING=n
CONFIG_NET_VENDOR_MICROSOFT=n
CONFIG_DRM_PANEL_MANTIX_MLAF057WE51=n
CONFIG_QCOM_RPMHPD=n
CONFIG_COMMON_CLK_VC5=n
CONFIG_SYMBOLIC_ERRNAME=n
CONFIG_VIRTIO_BALLOON=n
CONFIG_QCOM_EBI2=n
CONFIG_CRYPTO_SHA1=n
CONFIG_TOOLS_SUPPORT_RELR=n
CONFIG_PWM_RENESAS_RZG2L_GPT=n
CONFIG_CRYPTO_DEV_QCE_ENABLE_ALL=n
CONFIG_SH_TIMER_TMU=n
CONFIG_CRYPTO_LIB_AES_CBC_MACS=n
CONFIG_FSL_ENETC=n
CONFIG_EFIVAR_FS=n
CONFIG_RENESAS_ETHER_SWITCH=n
CONFIG_EVENTFD=n
CONFIG_DEBUG_MEMORY_INIT=n
CONFIG_CLK_KAANAPALI_VIDEOCC=n
CONFIG_ARM_DMC620_PMU=n
CONFIG_RPMSG_QCOM_GLINK=n
CONFIG_NET_VENDOR_SOLARFLARE=n
CONFIG_SND_AUDIO_GRAPH_CARD=n
CONFIG_STAGING_MEDIA=n
CONFIG_SND_SOC_TI_SDMA_PCM=n
CONFIG_CAVIUM_ERRATUM_23154=n
CONFIG_ARCH_HAS_RELR=n
CONFIG_VIDEOBUF2_DMA_SG=n
CONFIG_GREYBUS=n
CONFIG_QCOM_Q6V5_COMMON=n
CONFIG_COMMON_CLK_MT8173_VENCSYS=n
CONFIG_HID_MULTITOUCH=n
CONFIG_CROS_EC_TYPEC=n
CONFIG_DRM_TI_SN65DSI83=n
CONFIG_FEC=n
CONFIG_NETFILTER_XTABLES=n
CONFIG_BATTERY_QCOM_BATTMGR=n
CONFIG_DRM_DISPLAY_DP_AUX_BUS=n
CONFIG_AMD_XGBE=n
CONFIG_TYPEC_MUX_PTN36502=n
CONFIG_HISI_THERMAL=n
CONFIG_ROCKCHIP_DW_HDMI=n
CONFIG_USB_CDNS_SUPPORT=n
CONFIG_ARM_SCPI_POWER_DOMAIN=n
CONFIG_UBIFS_FS_ZLIB=n
CONFIG_MMC_ARMMMCI=n
CONFIG_SND_HDA_CODEC_HDMI_ATI=n
CONFIG_VIDEO_IMX8_ISI=n
CONFIG_DRM_PANEL_NOVATEK_NT37801=n
CONFIG_PINCTRL_SC7180=n
CONFIG_USB_CONFIGFS_SERIAL=n
CONFIG_NET_SCH_CBS=n
CONFIG_MMC_QCOM_DML=n
CONFIG_ARM_SMCCC_SOC_ID=n
CONFIG_HW_RANDOM_VIRTIO=n
CONFIG_SND_HDA_CODEC_HDMI_TEGRA=n
CONFIG_PWC_RZV2M=n
CONFIG_QCS_GCC_615=n
CONFIG_NET_VENDOR_INTEL=n
CONFIG_PINCTRL_MESON_S4=n
CONFIG_SSB_POSSIBLE=n
CONFIG_SA_DISPCC_8775P=n
CONFIG_SOC_TEGRA_POWERGATE_BPMP=n
CONFIG_ACPI_APEI_PCIEAER=n
CONFIG_ARM_TEGRA186_CPUFREQ=n
CONFIG_ARM64_ERRATUM_3117295=n
CONFIG_AS_HAS_ARMV8_5=n
CONFIG_ACPI_HOTPLUG_CPU=n
CONFIG_NET_VENDOR_MUCSE=n
CONFIG_ARM_SP805_WATCHDOG=n
CONFIG_EXYNOS_ACPM_PROTOCOL=n
CONFIG_BRCMUTIL=n
CONFIG_XILINX_GMII2RGMII=n
CONFIG_RZG3E_THERMAL=n
CONFIG_SND_SUN8I_ADDA_PR_REGMAP=n
CONFIG_CAN_RAW=n
CONFIG_USB_ONBOARD_DEV=n
CONFIG_NOUVEAU_PLATFORM_DRIVER=n
CONFIG_IIO_ST_SENSORS_SPI=n
CONFIG_PCI_SYSCALL=n
CONFIG_RTC_DRV_TPS6594=n
CONFIG_ARM64_ERRATUM_843419=n
CONFIG_INPUT_SPARSEKMAP=n
CONFIG_CRYPTO_USER_API_RNG=n
CONFIG_EC_HUAWEI_GAOKUN=n
CONFIG_RTC_DRV_MAX77686=n
CONFIG_MICROCHIP_PHY=n
CONFIG_CRYPTO_LIB_SM3_ARCH=n
CONFIG_SERIAL_IMX_EARLYCON=n
CONFIG_IR_GPIO_CIR=n
CONFIG_THERMAL=n
CONFIG_HNS_ENET=n
CONFIG_DWMAC_SUN55I=n
CONFIG_SND_SOC_QCOM_COMMON=n
CONFIG_ARM_SMMU_QCOM=n
CONFIG_DRM_DISPLAY_HDMI_HELPER=n
CONFIG_PINCTRL_MT8196=n
CONFIG_SBITMAP=n
CONFIG_IKCONFIG_PROC=n
CONFIG_CRYPTO_DEV_FSL_CAAM_COMMON=n
CONFIG_DMA_OF=n
CONFIG_HUGETLBFS=n
CONFIG_POSIX_MQUEUE=n
CONFIG_TCG_TPM=n
CONFIG_SPI_TEGRA114=n
CONFIG_IPMI_HANDLER=n
CONFIG_CLK_X1E80100_GCC=n
CONFIG_SND_SOC_WCD937X=n
CONFIG_ARCH_KEEP_MEMBLOCK=n
CONFIG_SND_HDA_CODEC_HDMI_NVIDIA_MCP=n
CONFIG_GENERIC_LIB_DEVMEM_IS_ALLOWED=n
CONFIG_SERIAL_MVEBU_CONSOLE=n
CONFIG_USB_F_SUBSET=n
CONFIG_SND_SOC_WCD934X=n
CONFIG_IR_MESON=n
CONFIG_CONTEXT_TRACKING=n
CONFIG_SND_SOC_SAMSUNG=n
CONFIG_MSDOS_PARTITION=n
CONFIG_SYSC_R8A77960=n
CONFIG_ARCH_HAS_SYSCALL_WRAPPER=n
CONFIG_DRM_MSM_DP=n
CONFIG_ACPI_CPPC_CPUFREQ=n
CONFIG_MEDIA_SUPPORT_FILTER=n
CONFIG_PCI=n
CONFIG_SND_SOC_RT5663=n
CONFIG_COMMON_CLK_MT7986_ETHSYS=n
CONFIG_COMMON_CLK_MT8192_MFGCFG=n
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_ARGS=n
CONFIG_USB_ULPI=n
CONFIG_MVEBU_GICP=n
CONFIG_MMC_SDHI_INTERNAL_DMAC=n
CONFIG_ARCH_HAS_USER_SHADOW_STACK=n
CONFIG_MOUSE_ELAN_I2C=n
CONFIG_RTL_CARDS=n
CONFIG_DEBUG_INFO_COMPRESSED_NONE=n
CONFIG_MAC80211_RC_MINSTREL=n
CONFIG_PINCTRL_SUN50I_H616_R=n
CONFIG_SND_SOC_MT8183=n
CONFIG_GENERIC_CPU_DEVICES=n
CONFIG_ACPI_APEI_SEA=n
CONFIG_COREDUMP=n
CONFIG_USB_DWC2=n
CONFIG_FUTEX=n
CONFIG_SND_SOC_FSL_SSI=n
CONFIG_PINCTRL_IPQ5424=n
CONFIG_PCI_IMX6=n
CONFIG_SYSC_R8A774B1=n
CONFIG_QCOM_MDT_LOADER=n
CONFIG_NET_ACT_GACT=n
CONFIG_DRM_IMX_DCSS=n
CONFIG_EFI_RUNTIME_WRAPPERS=n
CONFIG_OF_RESOLVE=n
CONFIG_PINCTRL_PFC_R8A774A1=n
CONFIG_MEDIA_TUNER=n
CONFIG_ARCH_SUPPORTS_KEXEC_HANDOVER=n
CONFIG_CRYPTO_LIB_GF128MUL=n
CONFIG_REGULATOR_MT6315=n
CONFIG_SM_DISPCC_8750=n
CONFIG_ARCH_HAS_KEEPINITRD=n
CONFIG_SND_SOC_QDSP6_CORE=n
CONFIG_COMMON_CLK_MESON_AO_CLKC=n
CONFIG_MQ_IOSCHED_DEADLINE=n
CONFIG_STACKTRACE=n
CONFIG_MDIO_BUS_MUX_MESON_G12A=n
CONFIG_DRM_IMX8MP_HDMI_PAI=n
CONFIG_SERIAL_8250_BCM2835AUX=n
CONFIG_PINCTRL_PFC_R8A774B1=n
CONFIG_CRYPTO_SHA512=n
CONFIG_SOUND=n
CONFIG_VLAN_8021Q_GVRP=n
CONFIG_PCIE_ROCKCHIP_HOST=n
CONFIG_NET_DSA_TAG_BRCM=n
CONFIG_PHY_QCOM_USB_HS=n
CONFIG_NET_VENDOR_MELLANOX=n
CONFIG_SC_LPASS_CORECC_7280=n
CONFIG_VT_HW_CONSOLE_BINDING=n
CONFIG_MOUSE_PS2_LOGIPS2PP=n
CONFIG_CRYPTO_CMAC=n
CONFIG_CRYPTO_DEV_FSL_CAAM_AHASH_API=n
CONFIG_VIDEO_DEV=n
CONFIG_MFD_ADP5585=n
CONFIG_SYSVIPC_COMPAT=n
CONFIG_HUGETLB_PAGE=n
CONFIG_ASYMMETRIC_PUBLIC_KEY_SUBTYPE=n
CONFIG_MMC_SDHCI_BRCMSTB=n
CONFIG_NET_DEVLINK=n
CONFIG_ARM_CCI400_PMU=n
CONFIG_MTD_NAND_DENALI_DT=n
CONFIG_SCSI_COMMON=n
CONFIG_CRYPTO_DEV_FSL_CAAM_PRNG_API=n
CONFIG_FB_IOMEM_FOPS=n
CONFIG_SND_MESON_AXG_TDM_FORMATTER=n
CONFIG_DRM_RCAR_USE_CMM=n
CONFIG_ARCH_WANT_DEFAULT_BPF_JIT=n
CONFIG_FUSE_FS=n
CONFIG_INTERCONNECT_QCOM_MSM8953=n
CONFIG_SND_SIMPLE_CARD_UTILS=n
CONFIG_SND_SOC_TEGRA210_AHUB=n
CONFIG_SND_SOC_SPDIF=n
CONFIG_BCM_SBA_RAID=n
CONFIG_RESET_MESON=n
CONFIG_SND_SOC_HDMI_CODEC=n
CONFIG_GENERIC_ADC_THERMAL=n
CONFIG_ARCH_MESON=n
CONFIG_ARCH_USE_GNU_PROPERTY=n
CONFIG_INTERCONNECT_QCOM_QCM2290=n
CONFIG_NPCM7XX_TIMER=n
CONFIG_MESON_CANVAS=n
CONFIG_VIDEO=n
CONFIG_RZT2H_ADC=n
CONFIG_PHY_MESON_AXG_PCIE=n
CONFIG_SM_GCC_8450=n
CONFIG_BLOCK_LEGACY_AUTOLOAD=n
CONFIG_DRM_I2C_ADV7511=n
CONFIG_QCOM_FALKOR_ERRATUM_1009=n
CONFIG_UCSI_CCG=n
CONFIG_SYNC_FILE=n
CONFIG_TTY=n
CONFIG_DMA_DECLARE_COHERENT=n
CONFIG_QRTR=n
CONFIG_HAVE_RSEQ=n
CONFIG_ARM64_ERRATUM_2067961=n
CONFIG_SM_GCC_6115=n
CONFIG_MV_XOR=n
CONFIG_DEBUG_INFO_DWARF_TOOLCHAIN_DEFAULT=n
CONFIG_SCSI_UFS_TI_J721E=n
CONFIG_ARM_SMMU_V3=n
CONFIG_COMMON_CLK_MT8188_VPPSYS=n
CONFIG_IOMMU_IO_PGTABLE_ARMV7S=n
CONFIG_EFI_VARS_PSTORE=n
CONFIG_KEXEC=n
CONFIG_SND_HDA_CODEC_HDMI_SIMPLE=n
CONFIG_SND_MESON_CARD_UTILS=n
CONFIG_PNFS_FLEXFILE_LAYOUT=n
CONFIG_ARM_SDE_INTERFACE=n
CONFIG_SND_SOC_MT8188_MT6359=n
CONFIG_SENSORS_INA2XX=n
CONFIG_RTC_I2C_AND_SPI=n
CONFIG_DRM_MSM_KMS=n
CONFIG_XZ_DEC_POWERPC=n
CONFIG_PINCTRL_IMX91=n
CONFIG_SM_GCC_6350=n
CONFIG_QCOM_AOSS_QMP=n
CONFIG_FSNOTIFY=n
CONFIG_SHMEM=n
CONFIG_SENSORS_ARM_SCPI=n
CONFIG_COMMON_CLK_MT8192_IMP_IIC_WRAP=n
CONFIG_EDAC_VERSAL=n
CONFIG_MTD_CFI_NOSWAP=n
CONFIG_ARCH_ARTPEC=n
CONFIG_PWM_ROCKCHIP=n
CONFIG_NPCM7XX_WATCHDOG=n
CONFIG_COMMON_CLK_XLNX_CLKWZRD=n
CONFIG_MTK_SCP=n
CONFIG_MMC_UNIPHIER=n
CONFIG_INPUT_FF_MEMLESS=n
CONFIG_XILINX_WATCHDOG=n
CONFIG_QCOM_FALKOR_ERRATUM_1003=n
CONFIG_BPF_JIT_DEFAULT_ON=n
CONFIG_WLAN_VENDOR_TI=n
CONFIG_DRM_SCHED=n
CONFIG_DRM_FBDEV_EMULATION=n
CONFIG_I2C_MUX=n
CONFIG_ARM_SBSA_WATCHDOG=n
CONFIG_PINCTRL_BCM2712=n
CONFIG_SND_DYNAMIC_MINORS=n
CONFIG_MFD_MT6397=n
CONFIG_PCS_XPCS=n
CONFIG_INTERCONNECT_QCOM_OSM_L3=n
CONFIG_GPIOLIB=n
CONFIG_NET_SCH_TAPRIO=n
CONFIG_MTD_NAND_BRCMNAND_BRCMSTB=n
CONFIG_MTD_MAP_BANK_WIDTH_1=n
CONFIG_KEYBOARD_GPIO_POLLED=n
CONFIG_I2C_HID=n
CONFIG_PHY_NS2_USB_DRD=n
CONFIG_PHY_SAMSUNG_USB2=n
CONFIG_PHY_NXP_PTN3222=n
CONFIG_SND_BCM2835=n
CONFIG_INTERCONNECT_IMX=n
CONFIG_CLK_KAANAPALI_DISPCC=n
CONFIG_SA_VIDEOCC_8775P=n
CONFIG_SND_SOC_LPASS_HDMI=n
CONFIG_RENESAS_RZG2LWDT=n
CONFIG_MODULES=n
CONFIG_RTC_DRV_TI_K3=n
CONFIG_USB_COMMON=n
