CONFIG_POWER_RESET_SYSCON=n
CONFIG_BLOCK_LEGACY_AUTOLOAD=n
CONFIG_MMC_CQHCI=n
CONFIG_RISCV_ISA_ZICBOM=n
CONFIG_ROOT_NFS=n
CONFIG_USB_F_OBEX=n
CONFIG_CAN_RAW=n
CONFIG_SUN6I_RTC_CCU=n
CONFIG_CRYPTO_SKCIPHER2=n
CONFIG_COMMON_CLK_EIC7700=n
CONFIG_PCI_HOST_COMMON=n
CONFIG_TASKS_RCU_GENERIC=n
CONFIG_RPMSG_CHAR=n
CONFIG_ARCH_SUPPORTS_LTO_CLANG_THIN=n
CONFIG_DM_PERSISTENT_DATA=n
CONFIG_RISCV_SBI=n
CONFIG_V4L2_ASYNC=n
CONFIG_IRQ_MSI_LIB=n
CONFIG_USB_CDNS3_GADGET=n
CONFIG_HAVE_VIRT_CPU_ACCOUNTING_GEN=n
CONFIG_SYSFS=n
CONFIG_BLOCK=n
CONFIG_ARCH_WANT_FRAME_POINTERS=n
CONFIG_TOOLS_SUPPORT_RELR=n
CONFIG_SECRETMEM=n
CONFIG_PM_CLK=n
CONFIG_XFRM=n
CONFIG_RANDOMIZE_KSTACK_OFFSET=n
CONFIG_CPU_ISOLATION=n
CONFIG_CRYPTO_HMAC=n
CONFIG_HAS_DMA=n
CONFIG_ARCH_THEAD=n
CONFIG_SERIAL_8250_DWLIB=n
CONFIG_DMA_ENGINE=n
CONFIG_TRACING_SUPPORT=n
CONFIG_INET=n
CONFIG_VT_HW_CONSOLE_BINDING=n
CONFIG_ARCH_SUPPORTS_PER_VMA_LOCK=n
CONFIG_FB_DMAMEM_HELPERS_DEFERRED=n
CONFIG_USB=n
CONFIG_DIMLIB=n
CONFIG_USB_CONFIGFS_ECM=n
CONFIG_RAMDAX=n
CONFIG_IOSCHED_BFQ=n
CONFIG_NET_EGRESS=n
CONFIG_MTD_MAP_BANK_WIDTH_2=n
CONFIG_ARCH_KEEP_MEMBLOCK=n
CONFIG_RTC_DRV_SPACEMIT_P1=n
CONFIG_FB_CORE=n
CONFIG_LOCKD_V4=n
CONFIG_NET_9P_VIRTIO=n
CONFIG_RTC_NVMEM=n
CONFIG_EXT4_FS=n
CONFIG_ARCH_HAS_PTDUMP=n
CONFIG_CRYPTO_LIB_SHA512=n
CONFIG_ACPI_MCFG=n
CONFIG_ARCH_USE_MEMTEST=n
CONFIG_NF_CONNTRACK=n
CONFIG_BUFFER_HEAD=n
CONFIG_ARCH_OPTIONAL_KERNEL_RWX_DEFAULT=n
CONFIG_SND_DRIVERS=n
CONFIG_EFI_PARAMS_FROM_FDT=n
CONFIG_TRACEPOINTS=n
CONFIG_UPROBES=n
CONFIG_HAVE_MOVE_PMD=n
CONFIG_RD_LZMA=n
CONFIG_DEVPORT=n
CONFIG_HAVE_FUNCTION_TRACER=n
CONFIG_XZ_DEC_SPARC=n
CONFIG_XZ_DEC_RISCV=n
CONFIG_RD_GZIP=n
CONFIG_ARCH_WANT_DEFAULT_TOPDOWN_MMAP_LAYOUT=n
CONFIG_NET_VENDOR_SILAN=n
CONFIG_PHY_PACKAGE=n
CONFIG_VIDEO_V4L2_I2C=n
CONFIG_VHOST_ENABLE_FORK_OWNER_CONTROL=n
CONFIG_EFI=n
CONFIG_NET_SCHED=n
CONFIG_TASKS_TRACE_RCU=n
CONFIG_GUEST_PERF_EVENTS=n
CONFIG_SND_SOC_GENERIC_DMAENGINE_PCM=n
CONFIG_SWAP=n
CONFIG_NET_VENDOR_SMSC=n
CONFIG_DMA_VIRTUAL_CHANNELS=n
CONFIG_ARCH_WANTS_THP_SWAP=n
CONFIG_ACPI_I2C_OPREGION=n
CONFIG_PM_GENERIC_DOMAINS=n
CONFIG_TMPFS_XATTR=n
CONFIG_FB_SYSMEM_FOPS=n
CONFIG_USB_F_MASS_STORAGE=n
CONFIG_IP_PNP_DHCP=n
CONFIG_MIGRATION=n
CONFIG_SERIAL_EARLYCON=n
CONFIG_HAVE_GIGANTIC_FOLIOS=n
CONFIG_CLK_STARFIVE_JH7100=n
CONFIG_CGROUP_SCHED=n
CONFIG_GENERIC_STRNCPY_FROM_USER=n
CONFIG_TOOLCHAIN_HAS_ZACAS=n
CONFIG_ACPI_PROCESSOR_IDLE=n
CONFIG_DRM_SUN8I_MIXER=n
CONFIG_NOP_TRACER=n
CONFIG_ARCH_HAS_SYSCALL_WRAPPER=n
CONFIG_HAVE_GUP_FAST=n
CONFIG_NET_VENDOR_INTEL=n
CONFIG_SUN8I_DE2_CCU=n
CONFIG_MEDIA_SUPPORT=n
CONFIG_STACKTRACE=n
CONFIG_NET_FLOW_LIMIT=n
CONFIG_GENERIC_IRQ_ENTRY=n
CONFIG_CRYPTO_AEAD2=n
CONFIG_ARCH_HAS_MEMBARRIER_CALLBACKS=n
CONFIG_HAVE_KRETPROBES=n
CONFIG_I2C_DESIGNWARE_PLATFORM=n
CONFIG_SND_SOC_SPDIF=n
CONFIG_ARCH_SUPPORTS_MSEAL_SYSTEM_MAPPINGS=n
CONFIG_RD_LZ4=n
CONFIG_OF_FLATTREE=n
CONFIG_SOCK_CGROUP_DATA=n
CONFIG_MTD_SPI_NOR_USE_4K_SECTORS=n
CONFIG_TCP_CONG_CUBIC=n
CONFIG_CFS_BANDWIDTH=n
CONFIG_DST_CACHE=n
CONFIG_NETFS_SUPPORT=n
CONFIG_DMA_SHARED_BUFFER=n
CONFIG_VIRTIO=n
CONFIG_GENERIC_EARLY_IOREMAP=n
CONFIG_CRYPTO_SHA256=n
CONFIG_CAN_CALC_BITTIMING=n
CONFIG_NET_VENDOR_EMULEX=n
CONFIG_PCI=n
CONFIG_SPARSE_IRQ=n
CONFIG_INPUT_EVDEV=n
CONFIG_USB_CONFIGFS_SERIAL=n
CONFIG_GPIO_GENERIC=n
CONFIG_CRYPTO_USER_API_HASH=n
CONFIG_HAS_IOPORT=n
CONFIG_TRACEFS_AUTOMOUNT_DEPRECATED=n
CONFIG_PNPACPI=n
CONFIG_DRM_SCHED=n
CONFIG_PAGE_REPORTING=n
CONFIG_XOR_BLOCKS_ARCH=n
CONFIG_ARCH_SPACEMIT=n
CONFIG_SLAB_MERGE_DEFAULT=n
CONFIG_CC_NO_ARRAY_BOUNDS=n
CONFIG_RTC_DRV_GOLDFISH=n
CONFIG_RD_ZSTD=n
CONFIG_OF_MDIO=n
CONFIG_DRM_DISPLAY_HDMI_HELPER=n
CONFIG_BRIDGE_NETFILTER=n
CONFIG_HAVE_KCSAN_COMPILER=n
CONFIG_LZ4_DECOMPRESS=n
CONFIG_SPACEMIT_K1_EMAC=n
CONFIG_HAVE_ASM_MODVERSIONS=n
CONFIG_NET_VENDOR_BROADCOM=n
CONFIG_CACHESTAT_SYSCALL=n
CONFIG_NET_VENDOR_CORTINA=n
CONFIG_JUMP_LABEL=n
CONFIG_MICREL_PHY=n
CONFIG_MQ_IOSCHED_KYBER=n
CONFIG_CC_HAS_KASAN_GENERIC=n
CONFIG_IO_URING=n
CONFIG_EFI_PARTITION=n
CONFIG_SCHED_MM_CID=n
CONFIG_GPIO_SPACEMIT_K1=n
CONFIG_TIMER_PROBE=n
CONFIG_PCI_DOMAINS_GENERIC=n
CONFIG_PCIE_STARFIVE_HOST=n
CONFIG_RFS_ACCEL=n
CONFIG_CLK_SOPHGO_SG2042_RPGATE=n
CONFIG_SBITMAP=n
CONFIG_RISCV_ISA_SVPBMT=n
CONFIG_WLAN_VENDOR_MEDIATEK=n
CONFIG_USB_U_ETHER=n
CONFIG_EVENTFD=n
CONFIG_TREE_RCU=n
CONFIG_PHYS_ADDR_T_64BIT=n
CONFIG_BALLOON=n
CONFIG_GENERIC_STRNLEN_USER=n
CONFIG_POLARFIRE_SOC_SYSCONS=n
CONFIG_WLAN_VENDOR_RALINK=n
CONFIG_DRM_VIRTIO_GPU=n
CONFIG_GENERIC_SYSCALL=n
CONFIG_STP=n
CONFIG_USB_DEFAULT_PERSIST=n
CONFIG_ZONE_DMA32=n
CONFIG_DECOMPRESS_XZ=n
CONFIG_MTD_OF_PARTS=n
CONFIG_VT_CONSOLE=n
CONFIG_SPI_CADENCE_QUADSPI=n
CONFIG_VIRT_XFER_TO_GUEST_WORK=n
CONFIG_SERIAL_SIFIVE_CONSOLE=n
CONFIG_DRM=n
CONFIG_OVERLAY_FS=n
CONFIG_ARCH_SUPPORTS_KEXEC_PURGATORY=n
CONFIG_SERIAL_8250_EXAR=n
CONFIG_DYNAMIC_SIGFRAME=n
CONFIG_USB_F_ECM=n
CONFIG_HAVE_IRQ_TIME_ACCOUNTING=n
CONFIG_HOTPLUG_PARALLEL=n
CONFIG_SATA_PMP=n
CONFIG_CRYPTO_USER_API_ENABLE_OBSOLETE=n
CONFIG_SYSVIPC=n
CONFIG_HAVE_KERNEL_BZIP2=n
CONFIG_CPUFREQ_DT_PLATDEV=n
CONFIG_PAGE_MAPCOUNT=n
CONFIG_BLK_DEV_LOOP=n
CONFIG_GPIO_CDEV=n
CONFIG_ARCH_HAS_VDSO_ARCH_DATA=n
CONFIG_BLK_DEBUG_FS=n
CONFIG_PROFILING=n
CONFIG_MEDIA_SUBDRV_AUTOSELECT=n
CONFIG_FW_CACHE=n
CONFIG_KALLSYMS=n
CONFIG_DEBUG_FS_ALLOW_ALL=n
CONFIG_DMA_DIRECT_REMAP=n
CONFIG_SLAB_OBJ_EXT=n
CONFIG_ARCH_SUPPORTS_RT=n
CONFIG_CGROUP_NET_CLASSID=n
CONFIG_SND_SIMPLE_CARD=n
CONFIG_ARCH_ANLOGIC=n
CONFIG_MFD_SYSCON=n
CONFIG_MOUSE_PS2_CYPRESS=n
CONFIG_AF_UNIX_OOB=n
CONFIG_VIRTIO_NET=n
CONFIG_ARCH_TENSTORRENT=n
CONFIG_KVM_MMIO=n
CONFIG_ARCH_DMA_DEFAULT_COHERENT=n
CONFIG_RTC_SYSTOHC=n
CONFIG_PROC_PAGE_MONITOR=n
CONFIG_SPLIT_PTE_PTLOCKS=n
CONFIG_NET_SELFTESTS=n
CONFIG_QUEUED_SPINLOCKS=n
CONFIG_NFS_FS=n
CONFIG_USB_XHCI_HCD=n
CONFIG_SND_DMAENGINE_PCM=n
CONFIG_FB_SYSMEM_HELPERS=n
CONFIG_NF_LOG_IPV4=n
CONFIG_SUN50I_IOMMU=n
CONFIG_NET_VENDOR_RDC=n
CONFIG_ARCH_WANTS_NO_INSTR=n
CONFIG_PM_SLEEP=n
CONFIG_EFI_EARLYCON=n
CONFIG_HAVE_DYNAMIC_FTRACE=n
CONFIG_BRIDGE_IGMP_SNOOPING=n
CONFIG_ARCH_STARFIVE=n
CONFIG_FB_DEFERRED_IO=n
CONFIG_MFD_SPACEMIT_P1=n
CONFIG_FB_SYS_COPYAREA=n
CONFIG_RTC_INTF_SYSFS=n
CONFIG_HWMON=n
CONFIG_GENERIC_IDLE_POLL_SETUP=n
CONFIG_RISCV_IOMMU_PCI=n
CONFIG_BLK_ICQ=n
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO=n
CONFIG_SERIAL_CORE=n
CONFIG_SND_SOC_JH7110_TDM=n
CONFIG_PCIEPORTBUS=n
CONFIG_RTC_INTF_PROC=n
CONFIG_CPU_FREQ_THERMAL=n
CONFIG_ETHERNET=n
CONFIG_ARCH_HAS_MEMBARRIER_SYNC_CORE=n
CONFIG_MMIOWB=n
CONFIG_BLK_DEV_DM_BUILTIN=n
CONFIG_CRYPTO_KPP2=n
CONFIG_NETFILTER_XT_MATCH_ADDRTYPE=n
CONFIG_HAVE_ARCH_TRACEHOOK=n
CONFIG_ARCH_HAS_PTE_SPECIAL=n
CONFIG_ATA_VERBOSE_ERROR=n
CONFIG_CRYPTO_KPP=n
CONFIG_ARCH_HAS_DEBUG_WX=n
CONFIG_RWSEM_SPIN_ON_OWNER=n
CONFIG_CPU_FREQ_GOV_USERSPACE=n
CONFIG_ERRATA_THEAD=n
CONFIG_ARCH_MHP_MEMMAP_ON_MEMORY_ENABLE=n
CONFIG_HAVE_64BIT_ALIGNED_ACCESS=n
CONFIG_NET_VENDOR_DAVICOM=n
CONFIG_ARCH_HAVE_NMI_SAFE_CMPXCHG=n
CONFIG_POWER_RESET_SPACEMIT_P1=n
CONFIG_NF_LOG_IPV6=n
CONFIG_NET_VENDOR_QLOGIC=n
CONFIG_IOMMU_PT=n
CONFIG_USB_CONFIGFS_MASS_STORAGE=n
CONFIG_IRQ_STACKS=n
CONFIG_BTT=n
CONFIG_PWRSEQ_SIMPLE=n
CONFIG_REGULATOR=n
CONFIG_GENERIC_ARCH_TOPOLOGY=n
CONFIG_CRYPTO_ECHAINIV=n
CONFIG_REGULATOR_GPIO=n
CONFIG_RISCV_ISA_ZABHA=n
CONFIG_NET_VENDOR_HISILICON=n
CONFIG_SCHED_INFO=n
CONFIG_HOTPLUG_SPLIT_STARTUP=n
CONFIG_IKCONFIG_PROC=n
CONFIG_CRC_CCITT=n
CONFIG_DMA_BOUNCE_UNALIGNED_KMALLOC=n
CONFIG_NVMEM=n
CONFIG_RESET_SPACEMIT_K1=n
CONFIG_NETFILTER_XT_MATCH_CONNTRACK=n
CONFIG_THERMAL_DEFAULT_GOV_STEP_WISE=n
