CONFIG_PINCTRL_IPQ8064=y
CONFIG_REGULATOR_SC2731=y
CONFIG_NVMEM_STM32_ROMEM=y
CONFIG_TOUCHSCREEN_AD7879_SPI=y
CONFIG_LZO_DECOMPRESS=y
CONFIG_USB_XHCI_MVEBU=y
CONFIG_PINCTRL_IPQ6018=y
CONFIG_RTC_CLASS=y
CONFIG_SENSORS_MCP9982=y
CONFIG_TOUCHSCREEN_TSC2005=y
CONFIG_USB_SERIAL=y
CONFIG_ARCH_WANT_IRQS_OFF_ACTIVATE_MM=y
CONFIG_OMAP_GPMC=y
CONFIG_UIO_DMEM_GENIRQ=y
CONFIG_PERF_EVENTS=y
CONFIG_SPI_INTEL_PLATFORM=y
CONFIG_GPIO_STP_XWAY=y
CONFIG_X86=y
CONFIG_USB_FUNCTIONFS_GENERIC=y
CONFIG_IMX91_THERMAL=y
CONFIG_PERF_USE_VMALLOC=y
CONFIG_MMC_SDHI_SYS_DMAC=y
CONFIG_RING_BUFFER=y
CONFIG_SAMSUNG_MC=y
CONFIG_PM_DEVFREQ=y
CONFIG_COMMON_CLK_MT7981=y
CONFIG_FW_CS_DSP=y
CONFIG_PM_GENERIC_DOMAINS_SLEEP=y
CONFIG_IOMMU_IO_PGTABLE_DART=y
CONFIG_SAMSUNG_GALAXYBOOK=y
CONFIG_TTY=y
CONFIG_BATTERY_CW2015=y
CONFIG_FONT_SUPPORT=y
CONFIG_SPI_BCM2835=y
CONFIG_GNSS_SERIAL=y
CONFIG_PHY_SUN4I_USB=y
CONFIG_SUN8I_THERMAL=y
CONFIG_ACPI_TAD=y
CONFIG_DEBUG_DRIVER=y
CONFIG_I2C_SCMI=y
CONFIG_RTC_DRV_LOONGSON=y
CONFIG_SPI_CADENCE_XSPI=y
CONFIG_RTC_DRV_M41T94=y
CONFIG_COMMON_CLK_MT2701=y
CONFIG_COMMON_CLK_K230=y
CONFIG_PINCTRL_SM8550=y
CONFIG_I2C_HID=y
CONFIG_USB_FOTG210_UDC=y
CONFIG_TYPEC_HD3SS3220=y
CONFIG_MFD_DA9052_I2C=y
CONFIG_PINCTRL_MDM9607=y
CONFIG_AHCI_DA850=y
CONFIG_FB_SYSMEM_FOPS=y
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO_BARE=y
CONFIG_CRYPTO_XXHASH=y
CONFIG_SPI_FSL_LIB=y
CONFIG_ACPI_SBS=y
CONFIG_TCG_TIS_ST33ZP24_I2C=y
CONFIG_PINCTRL_QCM2290=y
CONFIG_QCOM_EBI2=y
CONFIG_GPIO_SYSFS_LEGACY=y
CONFIG_CRYPTO_LIB_NH=y
CONFIG_LEDS_BRIGHTNESS_HW_CHANGED=y
CONFIG_PINCTRL_MTK_PARIS=y
CONFIG_SPACEMIT_K1_CCU=y
CONFIG_SENSORS_AHT10=y
CONFIG_INTEL_SCU_IPC=y
CONFIG_SENSORS_LTC4283=y
CONFIG_GPIO_ICH=y
CONFIG_SENSORS_MAX6650=y
CONFIG_USB_ARCH_HAS_HCD=y
CONFIG_CLK_RK3308=y
CONFIG_PINCTRL_LYNXPOINT=y
CONFIG_MFD_INTEL_M10_BMC_CORE=y
CONFIG_DEBUG_VM=y
CONFIG_I2C_SH_MOBILE=y
CONFIG_SERIAL_TIMBERDALE=y
CONFIG_NVME_TARGET_DEBUGFS=y
CONFIG_HAVE_ARCH_MMAP_RND_BITS=y
CONFIG_ASUS_LAPTOP=y
CONFIG_USB_FOTG210=y
CONFIG_TELCLOCK=y
CONFIG_CPU_IDLE_GOV_TEO=y
CONFIG_COMEDI_DEBUG=y
CONFIG_GPIO_SHARED=y
CONFIG_POWER_RESET_OCELOT_RESET=y
CONFIG_CPU_SUP_ZHAOXIN=y
CONFIG_CC_HAS_ASM_INLINE=y
CONFIG_ARCH_HAS_SYNC_CORE_BEFORE_USERMODE=y
CONFIG_AT91SAM9X_WATCHDOG=y
CONFIG_HAVE_C_RECORDMCOUNT=y
CONFIG_CRYPTO_LIB_SHA1=y
CONFIG_IPMI_IPMB=y
CONFIG_REED_SOLOMON_DEC16=y
CONFIG_PINCTRL_SC7280_LPASS_LPI=y
CONFIG_COMPAT=y
CONFIG_PHY_BCM63XX_USBH=y
CONFIG_CPU_SUP_CENTAUR=y
CONFIG_INPUT_POWERMATE=y
CONFIG_SPI_TI_QSPI=y
CONFIG_BASE_SMALL=y
CONFIG_X86_IO_APIC=y
CONFIG_GUP_TEST=y
CONFIG_REGULATOR_FAN53880=y
CONFIG_CHARGER_MANAGER=y
CONFIG_DEVFREQ_GOV_PASSIVE=y
CONFIG_TOUCHSCREEN_TSC2004=y
CONFIG_TOUCHSCREEN_CYTTSP_I2C=y
CONFIG_XFS_RT=y
CONFIG_USB_DEFAULT_PERSIST=y
CONFIG_COMMON_CLK_MT6795=y
CONFIG_REGULATOR_UNIPHIER=y
CONFIG_SENSORS_DME1737=y
CONFIG_PRIME_NUMBERS=y
CONFIG_K3_THERMAL=y
CONFIG_SPI_MT65XX=y
CONFIG_REGULATOR_RT5120=y
CONFIG_TOUCHSCREEN_USB_COMPOSITE=y
CONFIG_PC87413_WDT=y
CONFIG_MOXART_WDT=y
CONFIG_IRQ_FASTEOI_HIERARCHY_HANDLERS=y
CONFIG_MTD_NAND_NUVOTON_MA35=y
CONFIG_PHY_MESON_AXG_MIPI_PCIE_ANALOG=y
CONFIG_ASSOCIATIVE_ARRAY=y
CONFIG_ARCH_HAS_PTDUMP=y
CONFIG_INPUT_MAX7360_ROTARY=y
CONFIG_ARCH_STACKWALK=y
CONFIG_REGULATOR_LTC3589=y
CONFIG_LEDS_TRIGGER_CPU=y
CONFIG_SURFACE_AGGREGATOR_TABLET_SWITCH=y
CONFIG_PINCTRL_RTD=y
CONFIG_RTC_DRV_GOLDFISH=y
CONFIG_CLK_SUNXI_PRCM_SUN6I=y
CONFIG_COMMON_CLK_MT2701_VDECSYS=y
CONFIG_OPENSSL_SUPPORTS_ML_DSA=y
CONFIG_RESET_TI_SCI=y
CONFIG_PHY_MTK_UFS=y
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE=y
CONFIG_COMMON_CLK_MT6779_MMSYS=y
CONFIG_COMMON_CLK_MT8186_VENCSYS=y
CONFIG_GPIO_LPC32XX=y
CONFIG_PMIC_DA903X=y
CONFIG_ISA_DMA_API=y
CONFIG_RTC_DRV_ATCRTC100=y
CONFIG_IMX8MM_THERMAL=y
CONFIG_GENERIC_GETTIMEOFDAY=y
CONFIG_TOUCHSCREEN_BU21013=y
CONFIG_HAVE_ARCH_COMPAT_MMAP_BASES=y
CONFIG_X86_DISABLED_FEATURE_RETPOLINE_LFENCE=y
CONFIG_SYSCTL=y
CONFIG_PINCTRL_SOPHGO_SG2044=y
CONFIG_BLK_ICQ=y
CONFIG_REGULATOR_MAX77857=y
CONFIG_USB_SERIAL_DIGI_ACCELEPORT=y
CONFIG_WMI_BMOF=y
CONFIG_MMC=y
CONFIG_I2C_XILINX=y
CONFIG_CRYPTO_AKCIPHER=y
CONFIG_SENSORS_QNAP_MCU_HWMON=y
CONFIG_GPIO_74XX_MMIO=y
CONFIG_I2C_RK3X=y
CONFIG_USB_SEVSEG=y
CONFIG_ATA_FORCE=y
CONFIG_PINCTRL_EQUILIBRIUM=y
CONFIG_BATTERY_LENOVO_YOGA_C630=y
CONFIG_HAVE_ARCH_RANDOMIZE_KSTACK_OFFSET=y
CONFIG_MFD_AAT2870_CORE=y
CONFIG_MFD_ROHM_BD957XMUF=y
CONFIG_I2C_AXXIA=y
CONFIG_USB_SERIAL_GARMIN=y
CONFIG_SENSORS_OCC_P8_I2C=y
CONFIG_CRYPTO_HMAC=y
CONFIG_BCM_NS_THERMAL=y
CONFIG_ASUS_TF103C_DOCK=y
CONFIG_ACPI_PROCESSOR_IDLE=y
CONFIG_GPIO_PCA9570=y
CONFIG_MFD_ATMEL_SMC=y
CONFIG_HID_SEMITEK=y
CONFIG_W1_SLAVE_DS2431=y
CONFIG_COMMON_CLK=y
CONFIG_WM831X_POWER=y
CONFIG_BLOCK=y
CONFIG_PHY_R8A779F0_ETHERNET_SERDES=y
CONFIG_ARCH_WANT_DEFAULT_BPF_JIT=y
CONFIG_SPI_AMLOGIC_SPIFC_A1=y
CONFIG_MESON_WATCHDOG=y
CONFIG_MFD_KEMPLD=y
CONFIG_MFD_MADERA=y
CONFIG_LCD_VGG2432A4=y
CONFIG_USB_DWC3_QCOM=y
CONFIG_ARCH_SUPPORTS_DEBUG_PAGEALLOC=y
CONFIG_PINCTRL_RZT2H=y
CONFIG_QCOM_TZMEM_MODE_GENERIC=y
CONFIG_CRYPTO_RSA=y
CONFIG_QUOTACTL=y
CONFIG_TRANSPARENT_HUGEPAGE_NEVER=y
CONFIG_RZG2L_THERMAL=y
CONFIG_USB_SERIAL_CP210X=y
CONFIG_INPUT_TWL4030_VIBRA=y
CONFIG_HW_RANDOM_BCM74110=y
CONFIG_USB_OHCI_HCD_DAVINCI=y
CONFIG_EDAC_GHES=y
CONFIG_PINCTRL_WPCM450=y
CONFIG_MEDIATEK_WATCHDOG=y
CONFIG_PINCTRL_STM32F769=y
CONFIG_RESET_UNIPHIER_GLUE=y
CONFIG_CROS_EC_DEBUGFS=y
CONFIG_HID_GREENASIA=y
CONFIG_RESET_INTEL_GW=y
CONFIG_TOUCHSCREEN_EETI=y
CONFIG_USB_OHCI_LITTLE_ENDIAN=y
CONFIG_AMPERE_CORESIGHT_PMU_ARCH_SYSTEM_PMU=y
CONFIG_X86_DISABLED_FEATURE_VME=y
CONFIG_USB_CONFIGFS_F_FS=y
CONFIG_DEBUG_MUTEXES=y
CONFIG_USB_G_HID=y
CONFIG_USB_YUREX=y
CONFIG_GPIO_TN48M_CPLD=y
CONFIG_TOUCHSCREEN_HIMAX_HX852X=y
CONFIG_MMC_DW_ROCKCHIP=y
CONFIG_CRYPTO_TWOFISH_X86_64=y
CONFIG_GPIO_MAX730X=y
CONFIG_EFI_RUNTIME_WRAPPERS=y
CONFIG_I2C_HID_CORE=y
CONFIG_HID_BELKIN=y
CONFIG_CRC_T10DIF_ARCH=y
CONFIG_CMA=y
CONFIG_SERIAL_QCOM_GENI=y
CONFIG_USB_SL811_HCD=y
CONFIG_SERIAL_MAX310X=y
CONFIG_COMEDI_PCMMIO=y
CONFIG_BUILDTIME_TABLE_SORT=y
CONFIG_CRYPTO_SM3=y
CONFIG_XARRAY_MULTI=y
CONFIG_OF_GPIO=y
CONFIG_NVMEM_LAYOUT_SL28_VPD=y
CONFIG_PMIC_DA9052=y
CONFIG_PIC32_WDT=y
CONFIG_COMMON_CLK_MT6735=y
CONFIG_PINCTRL_BCM6358=y
CONFIG_AHCI_QORIQ=y
CONFIG_MFD_RT4831=y
CONFIG_USB_IDMOUSE=y
CONFIG_IDLE_PAGE_TRACKING=y
CONFIG_XFS_LIVE_HOOKS=y
CONFIG_RESET_ATH79=y
CONFIG_MTD_MAP_BANK_WIDTH_2=y
CONFIG_PINCTRL_WM8750=y
CONFIG_SOC_SAMSUNG=y
CONFIG_COMMON_CLK_MT8188_ADSP_AUDIO26M=y
CONFIG_REGULATOR_MAX20086=y
CONFIG_SERIAL_NUVOTON_MA35D1_CONSOLE=y
CONFIG_DEBUG_MAPLE_TREE=y
CONFIG_ARCH_SUPPORTS_PMD_PFNMAP=y
CONFIG_HMC6352=y
CONFIG_UEFI_CPER_X86=y
CONFIG_COMMON_CLK_VC5=y
CONFIG_PINCTRL_PFC_SH7203=y
CONFIG_PINCTRL_MT8186=y
CONFIG_GPIO_DLN2=y
CONFIG_CC_HAS_ENTRY_PADDING=y
CONFIG_MFD_SKY81452=y
CONFIG_MIGRATION=y
CONFIG_USB_LIBCOMPOSITE=y
CONFIG_SOPHGO_SG2044_TOPSYS=y
CONFIG_PINCTRL_PFC_SH7785=y
CONFIG_REGULATOR_MAX8997=y
CONFIG_SOC_TI=y
CONFIG_SQUASHFS_LZO=y
CONFIG_RV_MON_STALL=y
CONFIG_JOYSTICK_ANALOG=y
CONFIG_X86_REQUIRED_FEATURE_PSE=y
CONFIG_APPLE_TUNABLE=y
CONFIG_USB_FUNCTIONFS=y
CONFIG_SENSORS_NCT6775_I2C=y
CONFIG_USB_MON=y
CONFIG_MFD_88PM805=y
CONFIG_CLK_BCM_63XX=y
CONFIG_PINCTRL_MT6779=y
CONFIG_COMMON_CLK_MT8196_MMSYS=y
CONFIG_COMMON_CLK_MAX9485=y
CONFIG_PROC_CPU_RESCTRL=y
CONFIG_DEVMEM=y
CONFIG_OWL_PM_DOMAINS=y
CONFIG_CLK_RK3188=y
CONFIG_PC104=y
CONFIG_MANAGER_SBS=y
CONFIG_GPIO_LP3943=y
CONFIG_ACPI=y
CONFIG_SURFACE_ACPI_NOTIFY=y
CONFIG_I2C_SLAVE=y
CONFIG_REGULATOR_MT6358=y
CONFIG_USB_SERIAL_IPAQ=y
CONFIG_JFS_FS=y
CONFIG_RTC_DRV_R7301=y
CONFIG_PHY_DA8XX_USB=y
CONFIG_UNWIND_USER=y
CONFIG_QCOM_PMIC_PDCHARGER_ULOG=y
CONFIG_TYPEC_TBT_ALTMODE=y
CONFIG_SOFTIRQ_ON_OWN_STACK=y
CONFIG_I2C_BCM_KONA=y
CONFIG_RESET_RASPBERRYPI=y
CONFIG_MTD_MCHP23K256=y
CONFIG_SENSORS_RASPBERRYPI_HWMON=y
CONFIG_HAVE_STACKPROTECTOR=y
CONFIG_HAVE_SAMPLE_FTRACE_DIRECT=y
CONFIG_PINCTRL_MT8516=y
CONFIG_ARCH_HAS_CPU_CACHE_INVALIDATE_MEMREGION=y
CONFIG_HAVE_PERF_USER_STACK_DUMP=y
CONFIG_IDLE_INJECT=y
CONFIG_KEMPLD_WDT=y
CONFIG_GPIO_MAX7360=y
CONFIG_ARM_BRCMSTB_AVS_CPUFREQ=y
CONFIG_JBD2_DEBUG=y
CONFIG_TI_FPC202=y
CONFIG_POWERCAP=y
CONFIG_MFD_DLN2=y
CONFIG_MFD_WM8998=y
CONFIG_HARDIRQS_SW_RESEND=y
CONFIG_PINCTRL_MT6797=y
CONFIG_RESET_BRCMSTB=y
CONFIG_QCOM_CPUCP_MBOX=y
CONFIG_MMC_SDHCI_OMAP=y
CONFIG_HAVE_REGS_AND_STACK_ACCESS_API=y
CONFIG_NVME_FABRICS=y
CONFIG_CGROUPS=y
CONFIG_TOOLS_SUPPORT_RELR=y
CONFIG_SURFACE_PLATFORMS=y
CONFIG_MTD_OOPS=y
CONFIG_DEBUG_VM_IRQSOFF=y
CONFIG_HID_REDRAGON=y
CONFIG_PINCTRL_AW9523=y
CONFIG_EVENT_TRACE_STARTUP_TEST=y
CONFIG_IKCONFIG_PROC=y
CONFIG_BACKLIGHT_CLASS_DEVICE=y
CONFIG_IMGPDC_WDT=y
CONFIG_OMAP_SSI=y
CONFIG_HAVE_KERNEL_LZO=y
CONFIG_KEXEC_CORE=y
CONFIG_TOUCHSCREEN_BU21029=y
CONFIG_PREEMPT_BUILD=y
CONFIG_HPET_EMULATE_RTC=y
CONFIG_AHCI_MVEBU=y
CONFIG_USB_SERIAL_METRO=y
CONFIG_PHY_MTK_TPHY=y
CONFIG_CRYPTO_SERPENT=y
CONFIG_PINCTRL_STARFIVE_JH7110_AON=y
CONFIG_64BIT=y
CONFIG_ARCH_USES_PG_ARCH_2=y
CONFIG_LOCK_DEBUGGING_SUPPORT=y
CONFIG_MSC313E_TIMER=y
CONFIG_WW_MUTEX_SELFTEST=y
CONFIG_FIRMWARE_TABLE=y
CONFIG_EXYNOS_ACPM_PROTOCOL=y
CONFIG_VT_CONSOLE=y
CONFIG_INTEL_SCU=y
CONFIG_CC_HAS_IBT=y
CONFIG_SSFDC=y
CONFIG_KCMP=y
CONFIG_CRYPTO_MANAGER=y
CONFIG_EXYNOS_CHIPID=y
CONFIG_GPIO_REALTEK_OTTO=y
CONFIG_CRYPTO_CTS=y
CONFIG_MAILBOX_TEST=y
CONFIG_COMEDI_DMM32AT=y
CONFIG_SENSORS_W83773G=y
CONFIG_S32G_WDT=y
CONFIG_RTC_DRV_PCF2123=y
CONFIG_TOUCHSCREEN_AD7879_I2C=y
CONFIG_COMEDI_PCL726=y
CONFIG_TCG_TIS_ST33ZP24_SPI=y
CONFIG_TH1520_PM_DOMAINS=y
CONFIG_GPIO_FXL6408=y
CONFIG_MTD_NAND_QCOM=y
CONFIG_REGULATOR_TPS65086=y
CONFIG_MTD_ONENAND_OTP=y
CONFIG_USB_ULPI_VIEWPORT=y
CONFIG_CADENCE_WATCHDOG=y
CONFIG_INPUT_DRV260X_HAPTICS=y
CONFIG_PINCTRL_PFC_SH7722=y
CONFIG_ARCH_ENABLE_MEMORY_HOTPLUG=y
CONFIG_SPI_LANTIQ_SSC=y
CONFIG_RTC_DRV_MC13XXX=y
CONFIG_QNX6FS_FS=y
CONFIG_INTEL_SMARTCONNECT=y
CONFIG_DAMON_PADDR=y
CONFIG_SENSORS_PCF8591=y
CONFIG_INTEL_TH_PTI=y
CONFIG_CROS_EC_I2C=y
CONFIG_COMMON_CLK_MT8186_IMP_IIC_WRAP=y
CONFIG_GPIO_SYSCON=y
CONFIG_NOTIFIER_ERROR_INJECTION=y
CONFIG_PHY_SUN50I_USB3=y
CONFIG_NTFS3_LZX_XPRESS=y
CONFIG_BCMA_POSSIBLE=y
CONFIG_SENSORS_SG2042_MCU=y
CONFIG_VIRT_CPU_ACCOUNTING=y
CONFIG_INSTRUCTION_DECODER=y
CONFIG_I2C_OWL=y
CONFIG_MMC_SDHCI_F_SDH30=y
CONFIG_SENSORS_AD7414=y
CONFIG_COMMON_CLK_MT8135=y
CONFIG_HAVE_OBJTOOL_MCOUNT=y
CONFIG_NLS_ASCII=y
CONFIG_USB_IOWARRIOR=y
CONFIG_JOYSTICK_PXRC=y
CONFIG_NLS_ISO8859_6=y
CONFIG_PHY_STM32_USBPHYC=y
CONFIG_COMEDI_VMK80XX=y
CONFIG_X86_SPEEDSTEP_CENTRINO=y
CONFIG_GENERIC_IRQ_MATRIX_ALLOCATOR=y
CONFIG_STATIC_USERMODEHELPER=y
CONFIG_PHY_CANAAN_USB=y
CONFIG_MFD_CPCAP=y
CONFIG_HAVE_EBPF_JIT=y
CONFIG_OF_FLATTREE=y
CONFIG_JOYSTICK_TMDC=y
CONFIG_ASPEED_LPC_CTRL=y
CONFIG_DMABUF_HEAPS_CMA=y
CONFIG_CLOCKSOURCE_WATCHDOG=y
CONFIG_PINCTRL_ASPEED_G7_SOC1=y
CONFIG_CRYPTO_CAST6_AVX_X86_64=y
CONFIG_HID_CYPRESS=y
CONFIG_CRYPTO_SHA256=y
CONFIG_USB_DWC3_HOST=y
CONFIG_CRYPTO_SERPENT_AVX_X86_64=y
CONFIG_SPI_RSPI=y
CONFIG_SERIAL_FSL_LPUART=y
CONFIG_WATCHDOG_PRETIMEOUT_DEFAULT_GOV_PANIC=y
CONFIG_PINCTRL_SA8775P=y
CONFIG_ARCH_HAS_UACCESS_FLUSHCACHE=y
CONFIG_PINCTRL_MESON_G12A=y
CONFIG_ACPI_PROCESSOR_CSTATE=y
CONFIG_RTC_DRV_AMLOGIC_A4=y
CONFIG_LEDS_EXPRESSWIRE=y
CONFIG_BACKLIGHT_APPLE=y
CONFIG_STARFIVE_STARLINK_PMU=y
CONFIG_LEDS_MC13783=y
CONFIG_TOUCHSCREEN_USB_EGALAX=y
CONFIG_MMC_SDHCI_OF_AT91=y
CONFIG_HID_SUPPORT=y
CONFIG_CHARGER_DETECTOR_MAX14656=y
CONFIG_ARCH_SUPPORTS_KMAP_LOCAL_FORCE_MAP=y
CONFIG_HAVE_USER_RETURN_NOTIFIER=y
CONFIG_MOXTET=y
CONFIG_CRYPTO_LIB_POLY1305_ARCH=y
CONFIG_INTERCONNECT=y
CONFIG_MFD_RT5033=y
CONFIG_TYPEC_WUSB3801=y
CONFIG_MMC_SDHCI_XENON=y
CONFIG_ACPI_PFRUT=y
CONFIG_PHY_SNPS_EUSB2=y
CONFIG_ATMEL_ST=y
CONFIG_SERIO_PS2MULT=y
CONFIG_PINCTRL_PXA25X=y
CONFIG_CLKEVT_I8253=y
CONFIG_TRACE_IRQFLAGS_NMI_SUPPORT=y
CONFIG_BACKLIGHT_BD6107=y
CONFIG_HAVE_KERNEL_LZMA=y
CONFIG_FSL_DPAA=y
CONFIG_GPIO_STMPE=y
CONFIG_CRYPTO_ZSTD=y
CONFIG_VFIO_PLATFORM_BCMFLEXRM_RESET=y
CONFIG_ARMADA_37XX_RWTM_MBOX=y
CONFIG_LEDS_ARIEL=y
CONFIG_NLS_CODEPAGE_874=y
CONFIG_ARCH_WANT_PMD_MKWRITE=y
CONFIG_CLK_IMXRT1050=y
CONFIG_INPUT_MAX77650_ONKEY=y
CONFIG_USE_X86_SEG_SUPPORT=y
CONFIG_IA32_EMULATION_DEFAULT_DISABLED=y
CONFIG_REGULATOR_BD957XMUF=y
CONFIG_NVIDIA_WMI_EC_BACKLIGHT=y
CONFIG_PHY_HI3670_USB=y
CONFIG_I2C_XLP9XX=y
CONFIG_MHI_BUS_EP=y
CONFIG_PINCTRL_MCP23S08_I2C=y
CONFIG_COMEDI_DAS16=y
CONFIG_MTD_DATAFLASH=y
CONFIG_AMD_HSMP=y
CONFIG_USB_SUPPORT=y
CONFIG_UAPI_HEADER_TEST=y
CONFIG_RCU_SCALE_TEST=y
CONFIG_MT7621_WDT=y
CONFIG_SENSORS_MAX127=y
CONFIG_MFD_INTEL_M10_BMC_SPI=y
CONFIG_HAVE_STACK_VALIDATION=y
CONFIG_MFD_ARIZONA_SPI=y
CONFIG_AT91RM9200_WATCHDOG=y
CONFIG_COMEDI_PCMCIA_DRIVERS=y
CONFIG_HW_RANDOM_MTK=y
CONFIG_CRYPTO_HASH=y
CONFIG_INGENIC_CGU_COMMON=y
CONFIG_MFD_MT6370=y
CONFIG_CLK_UNIPHIER=y
CONFIG_NLS_MAC_CENTEURO=y
CONFIG_EFI_ESRT=y
CONFIG_PAGE_EXTENSION=y
CONFIG_ORANGEFS_FS=y
CONFIG_I2C_STM32F7=y
