CONFIG_TOOLCHAIN_HAS_ZBA=n
CONFIG_REGMAP_SPI=n
CONFIG_NFS_USE_KERNEL_DNS=n
CONFIG_RUSTC_HAS_FILE_WITH_NUL=n
CONFIG_REGULATOR_FIXED_VOLTAGE=n
CONFIG_VIDEO_V4L2_I2C=n
CONFIG_CC_CAN_LINK=n
CONFIG_NET_VENDOR_MUCSE=n
CONFIG_ARCH_SUPPORTS_HUGETLBFS=n
CONFIG_ARCH_SUPPORTS_CFI=n
CONFIG_OVERLAY_FS_REDIRECT_ALWAYS_FOLLOW=n
CONFIG_HAVE_DYNAMIC_FTRACE=n
CONFIG_DMA_DIRECT_REMAP=n
CONFIG_PAGE_SIZE_LESS_THAN_256KB=n
CONFIG_DRM_DW_HDMI=n
CONFIG_TMPFS_XATTR=n
CONFIG_RISCV_MISALIGNED=n
CONFIG_MMC_SDHCI_OF_K1=n
CONFIG_RISCV_ISA_ZBA=n
CONFIG_DM_BIO_PRISON=n
CONFIG_WLAN_VENDOR_INTEL=n
CONFIG_MMU_GATHER_TABLE_FREE=n
CONFIG_VT=n
CONFIG_ARCH_HAS_ELF_CORE_EFLAGS=n
CONFIG_HAVE_KVM_DIRTY_RING=n
CONFIG_DMA_NONCOHERENT_MMAP=n
CONFIG_SCHED_HRTICK=n
CONFIG_SECRETMEM=n
CONFIG_DECOMPRESS_LZO=n
CONFIG_IP_MULTICAST=n
CONFIG_NET_VENDOR_INTEL=n
CONFIG_IRQ_STACKS=n
CONFIG_CAN_GW=n
CONFIG_HAVE_KERNEL_UNCOMPRESSED=n
CONFIG_IPVLAN=n
CONFIG_ARCH_HAS_FAST_MULTIPLIER=n
CONFIG_HAVE_KERNEL_LZ4=n
CONFIG_USB_CDNS3=n
CONFIG_GPIOLIB=n
CONFIG_PCIEASPM_DEFAULT=n
CONFIG_ZONE_DMA32=n
CONFIG_MACB=n
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE=n
CONFIG_KEYBOARD_GPIO=n
CONFIG_POSIX_MQUEUE_SYSCTL=n
CONFIG_RPMSG_CHAR=n
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_ARGS=n
CONFIG_MTD_SPI_NOR_SWP_DISABLE_ON_VOLATILE=n
CONFIG_ARCH_WANT_DEFAULT_TOPDOWN_MMAP_LAYOUT=n
CONFIG_PREEMPT_NOTIFIERS=n
CONFIG_NETFILTER_BPF_LINK=n
CONFIG_STACKDEPOT=n
CONFIG_USB_STORAGE=n
CONFIG_MOTORCOMM_PHY=n
CONFIG_HAVE_CLK_PREPARE=n
CONFIG_DRM_NOUVEAU_SIL164=n
CONFIG_MTD_BLKDEVS=n
CONFIG_DRM_EXEC=n
CONFIG_STACKPROTECTOR_PER_TASK=n
CONFIG_GPIO_GENERIC=n
CONFIG_ELFCORE=n
CONFIG_RISCV_NONSTANDARD_CACHE_OPS=n
CONFIG_SERIAL_8250_PERICOM=n
CONFIG_HAVE_ARCH_MMAP_RND_BITS=n
CONFIG_BRANCH_PROFILE_NONE=n
CONFIG_PT_RECLAIM=n
CONFIG_THERMAL=n
CONFIG_ARCH_HAS_GIGANTIC_PAGE=n
CONFIG_GENERIC_HWEIGHT=n
CONFIG_ARCH_WANT_HUGE_PMD_SHARE=n
CONFIG_REGULATOR=n
CONFIG_HAVE_KCSAN_COMPILER=n
CONFIG_MAILBOX=n
CONFIG_ARCH_VIRT=n
CONFIG_DMADEVICES=n
CONFIG_DECOMPRESS_LZ4=n
CONFIG_SLAB_MERGE_DEFAULT=n
CONFIG_NET_VENDOR_SOLARFLARE=n
CONFIG_ARCH_USES_HIGH_VMA_FLAGS=n
CONFIG_DMA_NEED_SYNC=n
CONFIG_CRYPTO_HASH2=n
CONFIG_PATA_TIMINGS=n
CONFIG_GENERIC_ARCH_TOPOLOGY=n
CONFIG_NET=n
CONFIG_DT_IDLE_GENPD=n
CONFIG_PGTABLE_HAS_HUGE_LEAVES=n
CONFIG_RISCV_ISA_VENDOR_EXT_SIFIVE=n
CONFIG_HAVE_SOFTIRQ_ON_OWN_STACK=n
CONFIG_DYNAMIC_EVENTS=n
CONFIG_VXLAN=n
CONFIG_SND_JACK=n
CONFIG_POWER_RESET_SYSCON_POWEROFF=n
CONFIG_I2C_ALGOBIT=n
CONFIG_INOTIFY_USER=n
CONFIG_MQ_IOSCHED_KYBER=n
CONFIG_POWER_RESET_SPACEMIT_P1=n
CONFIG_ARCH_HAS_FORTIFY_SOURCE=n
CONFIG_RISCV_RPMI_SYSMSI=n
CONFIG_RSEQ=n
CONFIG_ERRATA_THEAD_GHOSTWRITE=n
CONFIG_ARCH_ANDES=n
CONFIG_CLK_STARFIVE_JH7100=n
CONFIG_MFD_SPACEMIT_P1=n
CONFIG_ARCH_ENABLE_SPLIT_PMD_PTLOCK=n
CONFIG_HAVE_KERNEL_XZ=n
CONFIG_SPI_MEM=n
CONFIG_MTD_BLOCK=n
CONFIG_NET_VENDOR_STMICRO=n
CONFIG_SELECT_MEMORY_MODEL=n
CONFIG_IP_VS=n
CONFIG_IP_PNP_DHCP=n
CONFIG_CRYPTO_USER_API_HASH=n
CONFIG_FB_SYSMEM_FOPS=n
CONFIG_KERNFS=n
CONFIG_IRQ_DOMAIN=n
CONFIG_SUNRPC=n
CONFIG_MEDIA_PLATFORM_SUPPORT=n
CONFIG_COMMON_CLK=n
CONFIG_USB_CDNS3_PCI_WRAP=n
CONFIG_NFS_V4_SECURITY_LABEL=n
CONFIG_GPIO_SIFIVE=n
CONFIG_MMU_NOTIFIER=n
CONFIG_LDISC_AUTOLOAD=n
CONFIG_POSIX_MQUEUE=n
CONFIG_CRYPTO_SIG=n
CONFIG_RANDOMIZE_KSTACK_OFFSET=n
CONFIG_OF_PMEM=n
CONFIG_ARCH_RV64I=n
CONFIG_XFRM_ALGO=n
CONFIG_PREEMPT_LAZY=n
CONFIG_MMC_CQHCI=n
CONFIG_USB_U_SERIAL=n
CONFIG_DECOMPRESS_GZIP=n
CONFIG_SERIAL_8250_EXAR=n
CONFIG_VIRTIO_DMA_SHARED_BUFFER=n
CONFIG_SND_SIMPLE_CARD=n
CONFIG_CC_IS_GCC=n
CONFIG_RISCV_PMU=n
CONFIG_ACPI_PROCESSOR_IDLE=n
CONFIG_CRYPTO_KPP=n
CONFIG_LOCKD=n
CONFIG_CLK_STARFIVE_JH7110_STG=n
CONFIG_INPUT_VIVALDIFMAP=n
CONFIG_BLK_DEBUG_FS=n
CONFIG_PCIEPORTBUS=n
CONFIG_FB_DMAMEM_HELPERS=n
CONFIG_SKB_EXTENSIONS=n
CONFIG_MOUSE_PS2_TRACKPOINT=n
CONFIG_ARCH_PROC_KCORE_TEXT=n
CONFIG_NET_VENDOR_GOOGLE=n
CONFIG_EFI_PARAMS_FROM_FDT=n
CONFIG_NET_NS=n
CONFIG_USB_UAS=n
CONFIG_GENERIC_BUG=n
CONFIG_RISCV_PMU_SBI=n
CONFIG_COMPACTION=n
CONFIG_HAVE_KVM_MSI=n
CONFIG_GENERIC_CPU_DEVICES=n
CONFIG_CPU_ISOLATION=n
CONFIG_TRACING_SUPPORT=n
CONFIG_NET_VENDOR_MICROSOFT=n
CONFIG_REGMAP_MMIO=n
CONFIG_BLK_DEV=n
CONFIG_XPS=n
CONFIG_USB_CONFIGFS=n
CONFIG_SND_DESIGNWARE_I2S=n
CONFIG_NET_CLS_CGROUP=n
CONFIG_RTC_LIB=n
CONFIG_DRM_MIPI_DSI=n
CONFIG_DM_PERSISTENT_DATA=n
CONFIG_SECURITY_APPARMOR_HASH_DEFAULT=n
CONFIG_VIRTIO_BALLOON=n
CONFIG_TRACEFS_AUTOMOUNT_DEPRECATED=n
CONFIG_CPUFREQ_DT_PLATDEV=n
CONFIG_MTD=n
CONFIG_HAVE_FUNCTION_TRACER=n
CONFIG_HAS_IOPORT_MAP=n
CONFIG_MMP_PDMA=n
CONFIG_ARCH_SPARSEMEM_ENABLE=n
CONFIG_R8169=n
CONFIG_GENERIC_IDLE_POLL_SETUP=n
CONFIG_CGROUP_NET_CLASSID=n
CONFIG_SSB_POSSIBLE=n
CONFIG_HAVE_EBPF_JIT=n
CONFIG_GCC10_NO_ARRAY_BOUNDS=n
CONFIG_NVMEM_SUNXI_SID=n
CONFIG_PCI_MSI=n
CONFIG_LD_IS_BFD=n
CONFIG_FUTEX_PRIVATE_HASH=n
CONFIG_EFI_RUNTIME_WRAPPERS=n
CONFIG_MEMBARRIER=n
CONFIG_CRYPTO_KPP2=n
CONFIG_ARCH_WANT_LD_ORPHAN_WARN=n
CONFIG_STACKTRACE=n
CONFIG_PAGE_SIZE_4KB=n
CONFIG_NET_VENDOR_CORTINA=n
CONFIG_HZ_250=n
CONFIG_INPUT_EVDEV=n
CONFIG_NET_VENDOR_META=n
CONFIG_KVM_MMIO=n
CONFIG_VIRTIO_CONSOLE=n
CONFIG_TUNE_GENERIC=n
CONFIG_USB_F_ACM=n
CONFIG_NET_VENDOR_ATHEROS=n
CONFIG_NET_VENDOR_HISILICON=n
CONFIG_PHYLINK=n
CONFIG_SUN6I_MSGBOX=n
CONFIG_CC_HAS_INT128=n
CONFIG_VIDEO_DEV=n
CONFIG_VLAN_8021Q=n
CONFIG_CRYPTO_MANAGER2=n
CONFIG_HOTPLUG_CORE_SYNC=n
CONFIG_VIRTIO_MMIO=n
CONFIG_GENERIC_ALLOCATOR=n
CONFIG_HARDIRQS_SW_RESEND=n
CONFIG_BLK_DEV_SR=n
CONFIG_REALTEK_PHY=n
CONFIG_MEDIA_SUPPORT_FILTER=n
CONFIG_FS_MBCACHE=n
CONFIG_CC_HAS_ASM_GOTO_TIED_OUTPUT=n
CONFIG_CDROM=n
CONFIG_DWMAC_STARFIVE=n
CONFIG_ARCH_HAS_STRICT_MODULE_RWX=n
CONFIG_NF_CONNTRACK_TFTP=n
CONFIG_ERRATA_SIFIVE_CIP_453=n
CONFIG_WLAN_VENDOR_REALTEK=n
CONFIG_MMC=n
CONFIG_CPUFREQ_DT=n
CONFIG_UCS2_STRING=n
CONFIG_IRQ_MSI_LIB=n
CONFIG_PINCTRL_SPACEMIT_K1=n
CONFIG_COMPAT=n
CONFIG_NO_HZ_IDLE=n
CONFIG_FB_CORE=n
CONFIG_MOUSE_PS2_SYNAPTICS_SMBUS=n
CONFIG_SIFIVE_CCACHE=n
CONFIG_RESET_K230=n
CONFIG_MODULES_TREE_LOOKUP=n
CONFIG_MODULE_UNLOAD=n
CONFIG_POWER_SEQUENCING=n
CONFIG_IRQCHIP=n
CONFIG_DRM_CLIENT_DEFAULT_FBDEV=n
CONFIG_CRYPTO_GCM=n
CONFIG_COMPAT_BINFMT_ELF=n
CONFIG_VHOST_MENU=n
CONFIG_USB_MUSB_SUNXI=n
CONFIG_DEBUG_MISC=n
CONFIG_CLZ_TAB=n
CONFIG_SND_VERBOSE_PROCFS=n
CONFIG_SPACEMIT_K3_CCU=n
CONFIG_PCIE_DW=n
CONFIG_PCIEASPM=n
CONFIG_TCP_CONG_CUBIC=n
CONFIG_I2C_MV64XXX=n
CONFIG_PINCTRL_STARFIVE_JH7110_AON=n
CONFIG_DIMLIB=n
CONFIG_DRM_PANEL=n
CONFIG_NET_DEVMEM=n
CONFIG_RISCV_ISA_SVRSW60T59B=n
CONFIG_NFS_FS=n
CONFIG_FREEZER=n
CONFIG_HAVE_CLK=n
CONFIG_STARFIVE_WATCHDOG=n
CONFIG_TRACING=n
CONFIG_BTRFS_FS=n
CONFIG_HIGH_RES_TIMERS=n
CONFIG_GPIOLIB_LEGACY=n
CONFIG_FIX_EARLYCON_MEM=n
CONFIG_GPIO_ACPI=n
CONFIG_HAVE_IRQ_TIME_ACCOUNTING=n
CONFIG_ARCH_USE_CMPXCHG_LOCKREF=n
CONFIG_PWM_PXA=n
CONFIG_ARCH_SUPPORTS_KEXEC_PURGATORY=n
CONFIG_NET_VENDOR_EMULEX=n
CONFIG_MFD_SYSCON=n
CONFIG_NET_VENDOR_HUAWEI=n
CONFIG_WLAN=n
CONFIG_PCI_LABEL=n
CONFIG_NF_CONNTRACK_FTP=n
CONFIG_ZSTD_COMPRESS=n
CONFIG_NETFILTER_XT_MATCH_IPVS=n
CONFIG_CLK_STARFIVE_JH7110_SYS=n
CONFIG_MMC_BLOCK=n
CONFIG_INPUT_MOUSE=n
CONFIG_CLK_STARFIVE_JH7110_AON=n
CONFIG_ARM_AMBA=n
CONFIG_DRM_CLIENT=n
CONFIG_BTRFS_FS_POSIX_ACL=n
CONFIG_RISCV_APLIC=n
CONFIG_PCIE_FU740=n
CONFIG_RISCV_ISA_ZICBOP=n
CONFIG_CPU_IDLE_GOV_MENU=n
CONFIG_CRC_CCITT=n
CONFIG_STP=n
CONFIG_CC_HAS_MIN_FUNCTION_ALIGNMENT=n
CONFIG_CRYPTO_DEV_ALLWINNER=n
CONFIG_LIBNVDIMM=n
CONFIG_RAMDAX=n
CONFIG_SPARSEMEM=n
CONFIG_ARCH_HAS_MEMBARRIER_SYNC_CORE=n
