CONFIG_HAVE_FENTRY=n
CONFIG_INTEGRITY=n
CONFIG_NETPOLL=n
CONFIG_ARCH_WANT_DEFAULT_BPF_JIT=n
CONFIG_HAVE_OBJTOOL_NOP_MCOUNT=n
CONFIG_NET_VENDOR_GOOGLE=n
CONFIG_CC_CAN_LINK=n
CONFIG_HAVE_LIVEPATCH=n
CONFIG_NET_VENDOR_SAMSUNG=n
CONFIG_RTC_DRV_CMOS=n
CONFIG_XFRM_AH=n
CONFIG_GENERIC_SYSCALL=n
CONFIG_CC_HAS_KASAN_GENERIC=n
CONFIG_X86_64=n
CONFIG_ARCH_SUPPORTS_KEXEC_HANDOVER=n
CONFIG_SERIAL_8250_PNP=n
CONFIG_CRC32_ARCH=n
CONFIG_DRM_I915_COMPRESS_ERROR=n
CONFIG_HAVE_ARCH_KSTACK_ERASE=n
CONFIG_SECCOMP=n
CONFIG_UNWIND_USER=n
CONFIG_NF_CONNTRACK_SIP=n
CONFIG_NET_VENDOR_FUNGIBLE=n
CONFIG_X86_LOCAL_APIC=n
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST_IDLE=n
CONFIG_ARCH_HAS_COPY_MC=n
CONFIG_CPU_SUP_AMD=n
CONFIG_HUGETLB_PAGE_OPTIMIZE_VMEMMAP=n
CONFIG_BUFFER_HEAD=n
CONFIG_YENTA=n
CONFIG_HAVE_PCI=n
CONFIG_CRYPTO_LIB_GF128HASH_ARCH=n
CONFIG_NET_VENDOR_MARVELL=n
CONFIG_WLAN_VENDOR_PURELIFI=n
CONFIG_DYNAMIC_SIGFRAME=n
CONFIG_IOMMU_IOVA=n
CONFIG_HAVE_PAGE_SIZE_4KB=n
CONFIG_PACKET=n
CONFIG_NF_CONNTRACK_SECMARK=n
CONFIG_MMU_LAZY_TLB_REFCOUNT=n
CONFIG_NET_9P=n
CONFIG_HAVE_RELIABLE_STACKTRACE=n
CONFIG_NET_SELFTESTS=n
CONFIG_DNOTIFY=n
CONFIG_GLOB=n
CONFIG_SBITMAP=n
CONFIG_I2C_HELPER_AUTO=n
CONFIG_PCPU_DEV_REFCNT=n
CONFIG_KALLSYMS_ALL=n
CONFIG_GENERIC_ALLOCATOR=n
CONFIG_NET_VENDOR_AQUANTIA=n
CONFIG_RTC_INTF_SYSFS=n
CONFIG_HOTPLUG_SMT=n
CONFIG_MPILIB=n
CONFIG_IP_ROUTE_MULTIPATH=n
CONFIG_GPU_BUDDY=n
CONFIG_IOMMU_PT_AMDV1=n
CONFIG_BLK_DEV=n
CONFIG_X86_DISABLED_FEATURE_CYRIX_ARR=n
CONFIG_MOUSE_PS2_CYPRESS=n
CONFIG_HAVE_ARCH_GET_SECUREBOOT=n
CONFIG_HAVE_UNSTABLE_SCHED_CLOCK=n
CONFIG_IOMMU_DEFAULT_DMA_LAZY=n
CONFIG_AS_WRUSS=n
CONFIG_ARCH_HAS_FAST_MULTIPLIER=n
CONFIG_SCHED_HRTICK=n
CONFIG_STACKDEPOT=n
CONFIG_GENERIC_IRQ_RESERVATION_MODE=n
CONFIG_THERMAL_HWMON=n
CONFIG_SERIAL_8250_DMA=n
CONFIG_SYSTEM_TRUSTED_KEYRING=n
CONFIG_RD_ZSTD=n
CONFIG_INPUT_MISC=n
CONFIG_SCREEN_INFO=n
CONFIG_R8169=n
CONFIG_CRYPTO_LZO=n
CONFIG_VMAP_STACK=n
CONFIG_CPU_RMAP=n
CONFIG_NET_PTP_CLASSIFY=n
CONFIG_ARCH_SUPPORTS_UPROBES=n
CONFIG_MACINTOSH_DRIVERS=n
CONFIG_X86_DISABLED_FEATURE_K6_MTRR=n
CONFIG_ARCH_DMA_ADDR_T_64BIT=n
CONFIG_SERIO_SERPORT=n
CONFIG_NET_FAILOVER=n
CONFIG_INTEL_MEI_ME=n
CONFIG_ACPI_THERMAL=n
CONFIG_MMU_GATHER_MERGE_VMAS=n
CONFIG_TRACING_SUPPORT=n
CONFIG_HAVE_ASM_MODVERSIONS=n
CONFIG_HID_SUPPORT=n
CONFIG_DMIID=n
CONFIG_MITIGATION_SPECTRE_V2=n
CONFIG_CRYPTO_RSA=n
CONFIG_WLAN_VENDOR_MEDIATEK=n
CONFIG_NF_CONNTRACK_FTP=n
CONFIG_ARCH_SUPPORTS_RT=n
CONFIG_NET_VENDOR_ATHEROS=n
CONFIG_HAVE_ARCH_COMPAT_MMAP_BASES=n
CONFIG_X86_IOPL_IOPERM=n
CONFIG_MOUSE_PS2=n
CONFIG_RANDSTRUCT_NONE=n
CONFIG_SATA_HOST=n
CONFIG_X86_THERMAL_VECTOR=n
CONFIG_IO_URING=n
CONFIG_NETFILTER_INGRESS=n
CONFIG_COMPACTION=n
CONFIG_VIRTIO_MENU=n
CONFIG_IP_NF_IPTABLES=n
CONFIG_NETFILTER_NETLINK=n
CONFIG_SERIAL_CORE_CONSOLE=n
CONFIG_ACPI_BATTERY=n
CONFIG_CC_IS_GCC=n
CONFIG_TMPFS_POSIX_ACL=n
CONFIG_WLAN_VENDOR_ADMTEK=n
CONFIG_IOMMU_SUPPORT=n
CONFIG_SLUB_DEBUG=n
CONFIG_XARRAY_MULTI=n
CONFIG_RTC_MC146818_LIB=n
CONFIG_SYMBOLIC_ERRNAME=n
CONFIG_ARCH_SUPPORTS_PROPELLER_CLANG=n
CONFIG_HPET_TIMER=n
CONFIG_SERIAL_8250_LPSS=n
CONFIG_SUNRPC_BACKCHANNEL=n
CONFIG_NET_VENDOR_SIS=n
CONFIG_DEVMEM=n
CONFIG_HAVE_RSEQ=n
CONFIG_CC_NO_ARRAY_BOUNDS=n
CONFIG_ASYMMETRIC_KEY_TYPE=n
CONFIG_GROUP_SCHED_WEIGHT=n
CONFIG_PCI_PRI=n
CONFIG_GENERIC_CPU_AUTOPROBE=n
CONFIG_HID_NTRIG=n
CONFIG_CRYPTO_SIG=n
CONFIG_SCSI_SPI_ATTRS=n
CONFIG_HPET_EMULATE_RTC=n
CONFIG_TRACEPOINTS=n
CONFIG_HAVE_EXIT_THREAD=n
CONFIG_ACPI_MDIO=n
CONFIG_HAVE_HARDLOCKUP_DETECTOR_BUDDY=n
CONFIG_TIGON3_HWMON=n
CONFIG_ARCH_HAS_SYNC_CORE_BEFORE_USERMODE=n
CONFIG_DEBUG_DEVRES=n
CONFIG_IOMMU_API=n
CONFIG_X86_MCE_THRESHOLD=n
CONFIG_MODULE_FORCE_UNLOAD=n
CONFIG_ACPI_LEGACY_TABLES_LOOKUP=n
CONFIG_CONTEXT_TRACKING_IDLE=n
CONFIG_USB_PRINTER=n
CONFIG_SND_INTEL_DSP_CONFIG=n
CONFIG_WATCHDOG=n
CONFIG_NET_VENDOR_XIRCOM=n
CONFIG_GENERIC_CALIBRATE_DELAY=n
CONFIG_XZ_DEC_ARM=n
CONFIG_X86_CPUID=n
CONFIG_PCSPKR_PLATFORM=n
CONFIG_RELAY=n
CONFIG_EFI_DXE_MEM_ATTRIBUTES=n
CONFIG_E1000E=n
CONFIG_HAVE_KLP_BUILD=n
CONFIG_SERIAL_8250_CONSOLE=n
CONFIG_LOCK_MM_AND_FIND_VMA=n
CONFIG_HAVE_ARCH_KMSAN=n
CONFIG_HAS_SECURITY_AUDIT=n
CONFIG_CGROUP_DEBUG=n
CONFIG_IPC_NS=n
CONFIG_MITIGATION_L1TF=n
CONFIG_FS_MBCACHE=n
CONFIG_TIME_NS=n
CONFIG_USB_PCI_AMD=n
CONFIG_MITIGATION_RETBLEED=n
CONFIG_MAC80211_HAS_RC=n
CONFIG_CGROUPS=n
CONFIG_ARCH_HAS_UBSAN=n
CONFIG_RPCSEC_GSS_KRB5=n
CONFIG_SERIAL_8250_MANY_PORTS=n
CONFIG_CFG80211_REQUIRE_SIGNED_REGDB=n
CONFIG_X86_MPPARSE=n
CONFIG_CRYPTO_LIB_AES=n
CONFIG_PCI=n
CONFIG_HAVE_STATIC_CALL_INLINE=n
CONFIG_X86_DIRECT_GBPAGES=n
CONFIG_DMA_OPS_HELPERS=n
CONFIG_MODULES_TREE_LOOKUP=n
CONFIG_IO_DELAY_0X80=n
CONFIG_PAGE_COUNTER=n
CONFIG_VIRTIO_PCI_ADMIN_LEGACY=n
CONFIG_NET_VENDOR_TEHUTI=n
CONFIG_PCMCIA_LOAD_CIS=n
CONFIG_DMA_SHARED_BUFFER=n
CONFIG_LD_CAN_USE_KEEP_IN_OVERLAY=n
CONFIG_CGROUP_HUGETLB=n
CONFIG_CGROUP_PIDS=n
CONFIG_HAVE_ARCH_KASAN_VMALLOC=n
CONFIG_WLAN_VENDOR_INTERSIL=n
CONFIG_X86_DISABLED_FEATURE_CENTAUR_MCR=n
CONFIG_CPU_IDLE_GOV_HALTPOLL=n
CONFIG_ARCH_MHP_MEMMAP_ON_MEMORY_ENABLE=n
CONFIG_HID_PETALYNX=n
CONFIG_HAVE_ARCH_RANDOMIZE_KSTACK_OFFSET=n
CONFIG_HAVE_ARCH_WITHIN_STACK_FRAMES=n
CONFIG_ARCH_HAS_SYSCALL_WRAPPER=n
CONFIG_EXT4_FS=n
CONFIG_CC_HAS_COUNTED_BY=n
CONFIG_ARCH_WANTS_THP_SWAP=n
CONFIG_BLK_CGROUP_IOLATENCY=n
CONFIG_NF_REJECT_IPV6=n
CONFIG_NET_VENDOR_I825XX=n
CONFIG_LEGACY_TIOCSTI=n
CONFIG_XFRM_USER=n
CONFIG_MMU_GATHER_RCU_TABLE_FREE=n
CONFIG_ACPI_I2C_OPREGION=n
CONFIG_MODULE_UNLOAD=n
CONFIG_PNFS_BLOCK=n
CONFIG_SERIAL_8250_MID=n
CONFIG_ARCH_CLOCKSOURCE_INIT=n
CONFIG_GENERIC_SMP_IDLE_THREAD=n
CONFIG_COMPAT_BINFMT_ELF=n
CONFIG_NET_VENDOR_NVIDIA=n
CONFIG_SND_HDA=n
CONFIG_DUMMY_CONSOLE=n
CONFIG_USB_OHCI_HCD_PCI=n
CONFIG_EFI_RUNTIME_WRAPPERS=n
CONFIG_INPUT_FF_MEMLESS=n
CONFIG_ARCH_USE_CMPXCHG_LOCKREF=n
CONFIG_NFS_USE_KERNEL_DNS=n
CONFIG_AUDIT_ARCH=n
CONFIG_ARCH_WANT_HUGETLB_VMEMMAP_PREINIT=n
CONFIG_TRACE_CLOCK=n
CONFIG_CC_HAS_AUTO_VAR_INIT_PATTERN=n
CONFIG_HRTIMER_REARM_DEFERRED=n
CONFIG_ARCH_HAS_ADD_PAGES=n
CONFIG_MAC80211_RC_DEFAULT_MINSTREL=n
CONFIG_FTRACE=n
CONFIG_BINARY_PRINTF=n
CONFIG_AGP_INTEL=n
CONFIG_X86_ACPI_CPUFREQ=n
CONFIG_SERIO=n
CONFIG_RTC_INTF_DEV=n
CONFIG_DRM_PANEL_ORIENTATION_QUIRKS=n
CONFIG_QUEUED_SPINLOCKS=n
CONFIG_X86_DEBUGCTLMSR=n
CONFIG_XZ_DEC_BCJ=n
CONFIG_NET_VENDOR_NI=n
CONFIG_REGMAP=n
CONFIG_RD_LZO=n
CONFIG_TREE_SRCU=n
CONFIG_HAVE_MOD_ARCH_SPECIFIC=n
CONFIG_SND_TIMER=n
CONFIG_SECURITY_SELINUX_AVC_STATS=n
CONFIG_GENERIC_STRNLEN_USER=n
CONFIG_DEBUG_FS=n
CONFIG_NUMA_MIGRATION=n
CONFIG_HAVE_CALL_THUNKS=n
CONFIG_NET_VENDOR_LITEX=n
CONFIG_ZLIB_INFLATE=n
CONFIG_X86_REQUIRED_FEATURE_CPUID=n
CONFIG_ARCH_SUPPORTS_KEXEC=n
CONFIG_PREEMPTION=n
CONFIG_WLAN_VENDOR_REALTEK=n
CONFIG_PROC_PID_ARCH_STATUS=n
CONFIG_LDISC_AUTOLOAD=n
CONFIG_SND_X86=n
CONFIG_ARCH_HAS_DEBUG_WX=n
CONFIG_SLAB_MERGE_DEFAULT=n
CONFIG_ASYNC_KERNEL_PGTABLE_FREE=n
CONFIG_X86_CHECK_BIOS_CORRUPTION=n
CONFIG_GENERIC_CPU_VULNERABILITIES=n
CONFIG_NET=n
CONFIG_HID_TOPSEED=n
CONFIG_MAILBOX=n
CONFIG_BACKLIGHT_CLASS_DEVICE=n
CONFIG_MMU_GATHER_TABLE_FREE=n
CONFIG_HAS_IOMEM=n
CONFIG_INPUT_SPARSEKMAP=n
CONFIG_BLK_DEV_BSG_COMMON=n
CONFIG_IP_PNP_BOOTP=n
CONFIG_MITIGATION_MMIO_STALE_DATA=n
CONFIG_CC_HAS_ASM_GOTO_TIED_OUTPUT=n
CONFIG_SOCK_RX_QUEUE_MAPPING=n
CONFIG_DNS_RESOLVER=n
CONFIG_SECURITY_SELINUX_DEVELOP=n
CONFIG_GENERIC_CLOCKEVENTS_COUPLED_INLINE=n
CONFIG_STANDALONE=n
CONFIG_SCHED_CLUSTER=n
CONFIG_DRM=n
CONFIG_CRASH_DUMP=n
CONFIG_DEVTMPFS_MOUNT=n
CONFIG_VMAP_PFN=n
CONFIG_ARCH_WANT_COMPAT_IPC_PARSE_VERSION=n
CONFIG_FUNCTION_ALIGNMENT_4B=n
CONFIG_CONNECTOR=n
CONFIG_MITIGATION_SRBDS=n
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO_BARE=n
CONFIG_NETFILTER_XT_MARK=n
CONFIG_MITIGATION_UNRET_ENTRY=n
CONFIG_GENERIC_IRQ_EFFECTIVE_AFF_MASK=n
CONFIG_HAVE_KPROBES=n
CONFIG_INET_TUNNEL=n
CONFIG_NET_VENDOR_8390=n
