CONFIG_HOTPLUG_SMT=n
CONFIG_PERF_EVENTS=n
CONFIG_INTEL_TCC=n
CONFIG_ACPI_AC=n
CONFIG_PCI_MSI=n
CONFIG_GPU_BUDDY=n
CONFIG_X86_DIRECT_GBPAGES=n
CONFIG_NET_VENDOR_BROADCOM=n
CONFIG_CGROUP_DEBUG=n
CONFIG_SND_SEQ_HRTIMER_DEFAULT=n
CONFIG_RTL_CARDS=n
CONFIG_RTC_INTF_DEV=n
CONFIG_CRYPTO=n
CONFIG_TRACING_SUPPORT=n
CONFIG_E1000E_HWTS=n
CONFIG_MITIGATION_MDS=n
CONFIG_RSEQ=n
CONFIG_ARCH_HAS_CPU_RELAX=n
CONFIG_MMU_GATHER_RCU_TABLE_FREE=n
CONFIG_ACPI_MRRM=n
CONFIG_ARCH_CLOCKSOURCE_INIT=n
CONFIG_SYSVIPC_SYSCTL=n
CONFIG_ARCH_HAS_CACHE_LINE_SIZE=n
CONFIG_SPLIT_PTE_PTLOCKS=n
CONFIG_ARCH_HAS_ACPI_TABLE_UPGRADE=n
CONFIG_ARCH_SUPPORTS_PROPELLER_CLANG=n
CONFIG_PCI_LABEL=n
CONFIG_SND_SEQ_DEVICE=n
CONFIG_ARCH_USE_CMPXCHG_LOCKREF=n
CONFIG_STRICT_DEVMEM=n
CONFIG_IOMMU_DEFAULT_DMA_LAZY=n
CONFIG_CRYPTO_LIB_SHA1=n
CONFIG_I2C_SMBUS=n
CONFIG_IOMMU_IOVA=n
CONFIG_NFS_V4=n
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE_PUD=n
CONFIG_ACPI_PCC=n
CONFIG_DRM_MIPI_DSI=n
CONFIG_MITIGATION_ITS=n
CONFIG_LOCKDEP_SUPPORT=n
CONFIG_X86_EXTENDED_PLATFORM=n
CONFIG_CPU_FREQ_DEFAULT_GOV_USERSPACE=n
CONFIG_NF_CT_NETLINK=n
CONFIG_DEBUG_FS=n
CONFIG_PREVENT_FIRMWARE_BUILD=n
CONFIG_NET_VENDOR_SUN=n
CONFIG_NETFILTER_XT_MARK=n
CONFIG_HAVE_STACKPROTECTOR=n
CONFIG_TRACE_IRQFLAGS_NMI_SUPPORT=n
CONFIG_IPC_NS=n
CONFIG_NET_VENDOR_DAVICOM=n
CONFIG_ACPI_TABLE_UPGRADE=n
CONFIG_UNIX=n
CONFIG_DEFAULT_SECURITY_SELINUX=n
CONFIG_INET=n
CONFIG_NET_VENDOR_I825XX=n
CONFIG_CRC_CCITT=n
CONFIG_MITIGATION_IBPB_ENTRY=n
CONFIG_LD_ORPHAN_WARN=n
CONFIG_X86_VMX_FEATURE_NAMES=n
CONFIG_CRYPTO_ALGAPI=n
CONFIG_RD_LZ4=n
CONFIG_NLS_ISO8859_1=n
CONFIG_CRYPTO_ECB=n
CONFIG_PCI_PASID=n
CONFIG_ATA_ACPI=n
CONFIG_GENERIC_IOMAP=n
CONFIG_E1000=n
CONFIG_ARCH_SUPPORTS_PER_VMA_LOCK=n
CONFIG_CONSOLE_TRANSLATIONS=n
CONFIG_SECURITY=n
CONFIG_PAGE_POOL=n
CONFIG_THERMAL_NETLINK=n
CONFIG_USB_ANNOUNCE_NEW_DEVICES=n
CONFIG_HWMON=n
CONFIG_SYSCTL=n
CONFIG_TOOLS_SUPPORT_RELR=n
CONFIG_NET_CLS_ACT=n
CONFIG_PCI=n
CONFIG_X86_ACPI_CPUFREQ_CPB=n
CONFIG_X86_MCE_INTEL=n
CONFIG_ARCH_USE_QUEUED_RWLOCKS=n
CONFIG_NF_CONNTRACK_SIP=n
CONFIG_X86_PLATFORM_DEVICES=n
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST_IDLE=n
CONFIG_X86_REQUIRED_FEATURE_CPUID=n
CONFIG_ATA=n
CONFIG_GENERIC_IRQ_PROBE=n
CONFIG_CRYPTO_LIB_AES_ARCH=n
CONFIG_ARCH_HAS_CPU_FINALIZE_INIT=n
CONFIG_DEBUG_KERNEL=n
CONFIG_ZLIB_INFLATE=n
CONFIG_NF_REJECT_IPV6=n
CONFIG_MOUSE_PS2_ALPS=n
CONFIG_INPUT_MISC=n
CONFIG_DMA_ENGINE=n
CONFIG_MPILIB=n
CONFIG_X86_DISABLED_FEATURE_FRED=n
CONFIG_YENTA_TOSHIBA=n
CONFIG_X86_DISABLED_FEATURE_SGX=n
CONFIG_CRYPTO_SHA256=n
CONFIG_SERIO_I8042=n
CONFIG_NET_VENDOR_AQUANTIA=n
CONFIG_PNFS_FILE_LAYOUT=n
CONFIG_HAVE_KRETPROBES=n
CONFIG_HOTPLUG_CORE_SYNC=n
CONFIG_NET_VENDOR_8390=n
CONFIG_ARCH_WANT_BATCHED_UNMAP_TLB_FLUSH=n
CONFIG_MMU_GATHER_TABLE_FREE=n
CONFIG_HAVE_PREEMPT_DYNAMIC_CALL=n
CONFIG_ACPI_CPU_FREQ_PSS=n
CONFIG_WLAN_VENDOR_MEDIATEK=n
CONFIG_CRYPTO_HASH=n
CONFIG_HUGETLBFS=n
CONFIG_DEBUG_INFO_NONE=n
CONFIG_HOTPLUG_SPLIT_STARTUP=n
CONFIG_NUMA_MEMBLKS=n
CONFIG_UNWIND_USER=n
CONFIG_HAS_SECURITY_AUDIT=n
CONFIG_LTO_NONE=n
CONFIG_TIMERFD=n
CONFIG_REALTEK_PHY=n
CONFIG_THERMAL=n
CONFIG_SND_VERBOSE_PROCFS=n
CONFIG_ARCH_HAS_ADD_PAGES=n
CONFIG_SND_INTEL_SOUNDWIRE_ACPI=n
CONFIG_SECURITY_SELINUX_DEVELOP=n
CONFIG_OPTPROBES=n
CONFIG_HYPERVISOR_GUEST=n
CONFIG_HAVE_FENTRY=n
CONFIG_AUXILIARY_BUS=n
CONFIG_MODULE_UNLOAD=n
CONFIG_GENERIC_PCI_IOMAP=n
CONFIG_ARCH_HAS_GENERIC_CRASHKERNEL_RESERVATION=n
CONFIG_IRQ_FORCED_THREADING=n
CONFIG_HAVE_ARCH_WITHIN_STACK_FRAMES=n
CONFIG_NET_TULIP=n
CONFIG_NET_VENDOR_VIA=n
CONFIG_PCSPKR_PLATFORM=n
CONFIG_LOCK_MM_AND_FIND_VMA=n
CONFIG_NET_VENDOR_SEEQ=n
CONFIG_NET_CLS=n
CONFIG_ARCH_SUPPORTS_PAGE_TABLE_CHECK=n
CONFIG_HAVE_ARCH_COMPAT_MMAP_BASES=n
CONFIG_HAVE_JUMP_LABEL_HACK=n
CONFIG_DRM_I915_CAPTURE_ERROR=n
CONFIG_PCMCIA_LOAD_CIS=n
CONFIG_VMAP_PFN=n
CONFIG_FIRMWARE_MEMMAP=n
CONFIG_NF_NAT=n
CONFIG_RTC_CLASS=n
CONFIG_X86_INTEL_MEMORY_PROTECTION_KEYS=n
CONFIG_ARCH_WANT_LD_ORPHAN_WARN=n
CONFIG_CPU_FREQ_GOV_ATTR_SET=n
CONFIG_HAVE_CALL_THUNKS=n
CONFIG_AMD_NODE=n
CONFIG_SCHED_MC_PRIO=n
CONFIG_SND_TIMER=n
CONFIG_ACPI_REV_OVERRIDE_POSSIBLE=n
CONFIG_EFIVAR_FS=n
CONFIG_HAVE_PERF_USER_STACK_DUMP=n
CONFIG_TRACE_CLOCK=n
CONFIG_ARCH_SUSPEND_POSSIBLE=n
CONFIG_SLUB=n
CONFIG_LOCK_SPIN_ON_OWNER=n
CONFIG_SCHED_INFO=n
CONFIG_WLAN_VENDOR_QUANTENNA=n
CONFIG_DRM_CLIENT_SELECTION=n
CONFIG_ACPI_VIDEO=n
CONFIG_INSTRUCTION_DECODER=n
CONFIG_FW_LOADER=n
CONFIG_MSDOS_FS=n
CONFIG_RWSEM_SPIN_ON_OWNER=n
CONFIG_X86_MCE=n
CONFIG_NETFILTER_NETLINK_LOG=n
CONFIG_UID16=n
CONFIG_FS_POSIX_ACL=n
CONFIG_DEBUG_STACK_USAGE=n
CONFIG_IOMMU_PT_X86_64=n
CONFIG_XFRM_ALGO=n
CONFIG_ARCH_SUPPORTS_KEXEC_FILE=n
CONFIG_CRASH_RESERVE=n
CONFIG_CRYPTO_LIB_ARC4=n
CONFIG_CONTEXT_TRACKING_IDLE=n
CONFIG_GENERIC_CLOCKEVENTS_MIN_ADJUST=n
CONFIG_MOUSE_PS2_LOGIPS2PP=n
CONFIG_MMU_NOTIFIER=n
CONFIG_GENERIC_IRQ_RESERVATION_MODE=n
CONFIG_SATA_PMP=n
CONFIG_COMPAT=n
CONFIG_ARCH_WANT_GENERAL_HUGETLB=n
CONFIG_DM_ZERO=n
CONFIG_CRYPTO_AEAD2=n
CONFIG_IOMMU_PT_VTDSS=n
CONFIG_CRYPTO_CTR=n
CONFIG_GENERIC_STRNLEN_USER=n
CONFIG_XZ_DEC_SPARC=n
CONFIG_X86_REQUIRED_FEATURE_CMOV=n
CONFIG_IPV6_SIT=n
CONFIG_RTC_NVMEM=n
CONFIG_HAVE_CONTEXT_TRACKING_USER=n
CONFIG_PM_SLEEP=n
CONFIG_ARCH_SUPPORTS_CFI=n
CONFIG_HSU_DMA=n
CONFIG_ARCH_SUPPORTS_KMAP_LOCAL_FORCE_MAP=n
CONFIG_INTEL_MEI_ME=n
CONFIG_CC_IS_GCC=n
CONFIG_X86_DISABLED_FEATURE_SEV_SNP=n
CONFIG_TCP_CONG_ADVANCED=n
CONFIG_USB_UHCI_HCD=n
CONFIG_MITIGATION_SRBDS=n
CONFIG_WLAN_VENDOR_RALINK=n
CONFIG_DEBUG_BUGVERBOSE=n
CONFIG_PCC=n
CONFIG_CRC_OPTIMIZATIONS=n
CONFIG_NUMA_MIGRATION=n
CONFIG_HIBERNATE_CALLBACKS=n
CONFIG_NET_VENDOR_NETRONOME=n
CONFIG_KVFREE_RCU_BATCHED=n
CONFIG_USB_XHCI_HCD=n
CONFIG_RETHOOK=n
CONFIG_X86_INTEL_TSX_MODE_AUTO=n
CONFIG_SERIO_LIBPS2=n
CONFIG_NETCONSOLE=n
CONFIG_ETHERNET=n
CONFIG_EFI_DXE_MEM_ATTRIBUTES=n
CONFIG_HARDLOCKUP_CHECK_TIMESTAMP=n
CONFIG_GENERIC_GETTIMEOFDAY=n
CONFIG_RPS=n
CONFIG_SND_SEQ_DUMMY=n
CONFIG_ARCH_USE_MEMTEST=n
CONFIG_NET_VENDOR_RDC=n
CONFIG_PNP_DEBUG_MESSAGES=n
CONFIG_TMPFS_POSIX_ACL=n
CONFIG_NFS_ACL_SUPPORT=n
CONFIG_UNIX98_PTYS=n
CONFIG_NET_VENDOR_HISILICON=n
CONFIG_USB_COMMON=n
CONFIG_ARCH_HAS_GCOV_PROFILE_ALL=n
CONFIG_ARCH_WANTS_DYNAMIC_TASK_STRUCT=n
CONFIG_HAVE_PERF_REGS=n
CONFIG_GENERIC_NET_UTILS=n
CONFIG_RANDOMIZE_BASE=n
CONFIG_USB=n
CONFIG_CDROM=n
CONFIG_EXT4_USE_FOR_EXT2=n
CONFIG_ARCH_HAS_STRICT_MODULE_RWX=n
CONFIG_CRYPTO_AKCIPHER=n
CONFIG_TICK_CPU_ACCOUNTING=n
CONFIG_ARCH_CORRECT_STACKTRACE_ON_KRETPROBE=n
CONFIG_MMU=n
CONFIG_UCS2_STRING=n
CONFIG_NETFILTER_INGRESS=n
CONFIG_DRM_PANEL=n
CONFIG_ARCH_DMA_ADDR_T_64BIT=n
CONFIG_RD_GZIP=n
CONFIG_MITIGATION_TAA=n
CONFIG_VFAT_FS=n
CONFIG_VIRTIO_ANCHOR=n
CONFIG_HAVE_SAMPLE_FTRACE_DIRECT_MULTI=n
CONFIG_KRETPROBES=n
CONFIG_SCSI=n
CONFIG_INPUT_TOUCHSCREEN=n
CONFIG_IOMMU_SVA=n
CONFIG_PTP_1588_CLOCK_OPTIONAL=n
CONFIG_PCCARD=n
CONFIG_NET_VENDOR_3COM=n
CONFIG_HAVE_UNWIND_USER_FP=n
CONFIG_CRYPTO_LIB_MD5=n
CONFIG_NET_VENDOR_EZCHIP=n
CONFIG_VDSO_GETRANDOM=n
CONFIG_PROFILING=n
CONFIG_HAVE_MOVE_PMD=n
CONFIG_X86_REQUIRED_FEATURE_XMM=n
CONFIG_CGROUP_PIDS=n
CONFIG_SND_PCMCIA=n
CONFIG_XXHASH=n
CONFIG_TCP_MD5SIG=n
CONFIG_HIBERNATION_COMP_LZO=n
CONFIG_NEED_SG_DMA_LENGTH=n
CONFIG_CONTEXT_TRACKING=n
CONFIG_PREEMPT_BUILD=n
CONFIG_DMI=n
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_JMP=n
CONFIG_CRYPTO_LZO=n
CONFIG_SND_VMASTER=n
CONFIG_I3C_OR_I2C=n
CONFIG_BUG=n
CONFIG_CHR_DEV_SG=n
CONFIG_SATA_HOST=n
CONFIG_CPUSETS=n
CONFIG_FAIR_GROUP_SCHED=n
CONFIG_CRYPTO_AUTHENC=n
CONFIG_NETFILTER_XT_TARGET_MASQUERADE=n
CONFIG_PM_SLEEP_DEBUG=n
CONFIG_QUOTA_NETLINK_INTERFACE=n
CONFIG_PNPACPI=n
CONFIG_SGETMASK_SYSCALL=n
CONFIG_X86_DISABLED_FEATURE_VME=n
CONFIG_ACPI_HOTPLUG_CPU=n
