CONFIG_STACKTRACE=n
CONFIG_CC_NO_STRINGOP_OVERFLOW=n
CONFIG_CRC32=n
CONFIG_HW_RANDOM_AMD=n
CONFIG_X86_THERMAL_VECTOR=n
CONFIG_ARCH_SPARSEMEM_ENABLE=n
CONFIG_SERIO_SERPORT=n
CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE=n
CONFIG_INPUT_JOYSTICK=n
CONFIG_USB_PCI=n
CONFIG_IP6_NF_IPTABLES=n
CONFIG_FLATMEM_MANUAL=n
CONFIG_CGROUP_PIDS=n
CONFIG_ACPI_LEGACY_TABLES_LOOKUP=n
CONFIG_USB_MON=n
CONFIG_HAS_IOMEM=n
CONFIG_SND_HDA_COMPONENT=n
CONFIG_CRYPTO_AKCIPHER=n
CONFIG_FRAME_POINTER=n
CONFIG_SYSTEM_TRUSTED_KEYRING=n
CONFIG_CC_HAS_NAMED_AS_FIXED_SANITIZERS=n
CONFIG_CC_HAS_ZERO_CALL_USED_REGS=n
CONFIG_QUOTA_NETLINK_INTERFACE=n
CONFIG_MITIGATION_SPECTRE_V1=n
CONFIG_GENERIC_CMOS_UPDATE=n
CONFIG_CC_NO_ARRAY_BOUNDS=n
CONFIG_TRACING_SUPPORT=n
CONFIG_UNWINDER_FRAME_POINTER=n
CONFIG_TMPFS=n
CONFIG_PROVIDE_OHCI1394_DMA_INIT=n
CONFIG_MD_AUTODETECT=n
CONFIG_CGROUPS=n
CONFIG_WLAN_VENDOR_INTEL=n
CONFIG_MITIGATION_L1TF=n
CONFIG_PAGE_SIZE_LESS_THAN_64KB=n
CONFIG_PROC_MEM_FORCE_PTRACE=n
CONFIG_RING_BUFFER=n
CONFIG_REALTEK_PHY=n
CONFIG_CRC32_ARCH=n
CONFIG_GENERIC_CLOCKEVENTS=n
CONFIG_X86_MCE=n
CONFIG_RD_LZO=n
CONFIG_DMA_VIRTUAL_CHANNELS=n
CONFIG_PM_SLEEP=n
CONFIG_HAVE_REGS_AND_STACK_ACCESS_API=n
CONFIG_BNX2=n
CONFIG_NEED_PER_CPU_EMBED_FIRST_CHUNK=n
CONFIG_HAVE_ARCH_RANDOMIZE_KSTACK_OFFSET=n
CONFIG_PNP_DEBUG_MESSAGES=n
CONFIG_LD_ORPHAN_WARN=n
CONFIG_PROC_PAGE_MONITOR=n
CONFIG_ACPI_WMI=n
CONFIG_TASKS_RCU_GENERIC=n
CONFIG_HAVE_KERNEL_LZO=n
CONFIG_NET_HANDSHAKE=n
CONFIG_SCHED_HRTICK=n
CONFIG_ROOT_NFS=n
CONFIG_SND=n
CONFIG_NVRAM=n
CONFIG_IP_ROUTE_VERBOSE=n
CONFIG_NET_VENDOR_DEC=n
CONFIG_VHOST_ENABLE_FORK_OWNER_CONTROL=n
CONFIG_MMU=n
CONFIG_ARCH_32BIT_OFF_T=n
CONFIG_MUTEX_SPIN_ON_OWNER=n
CONFIG_HAVE_POSIX_CPU_TIMERS_TASK_WORK=n
CONFIG_MOUSE_PS2_SYNAPTICS=n
CONFIG_CRYPTO_AUTHENC=n
CONFIG_NETFILTER_NETLINK=n
CONFIG_ARCH_HAS_ACPI_TABLE_UPGRADE=n
CONFIG_ARCH_SPLIT_ARG64=n
CONFIG_HAVE_IOREMAP_PROT=n
CONFIG_MOUSE_PS2_SYNAPTICS_SMBUS=n
CONFIG_BLK_DEV_LOOP=n
CONFIG_LEGACY_TIOCSTI=n
CONFIG_SERIAL_NONSTANDARD=n
CONFIG_NF_NAT_IRC=n
CONFIG_NF_LOG_IPV6=n
CONFIG_X86_PM_TIMER=n
CONFIG_INITRAMFS_PRESERVE_MTIME=n
CONFIG_ARCH_WANT_LD_ORPHAN_WARN=n
CONFIG_PREEMPTION=n
CONFIG_HYPERVISOR_GUEST=n
CONFIG_MOUSE_PS2_TRACKPOINT=n
CONFIG_ZLIB_INFLATE=n
CONFIG_HAVE_KERNEL_BZIP2=n
CONFIG_BLK_DEV_DM_BUILTIN=n
CONFIG_AS_WRUSS=n
CONFIG_ARCH_VMLINUX_NEEDS_RELOCS=n
CONFIG_SYNC_FILE=n
CONFIG_CC_HAS_SLS=n
CONFIG_ARCH_USE_CMPXCHG_LOCKREF=n
CONFIG_EXT4_FS_POSIX_ACL=n
CONFIG_MMU_GATHER_MERGE_VMAS=n
CONFIG_CONTEXT_TRACKING_IDLE=n
CONFIG_SND_VMASTER=n
CONFIG_X86_SUPPORTS_MEMORY_FAILURE=n
CONFIG_SSB_POSSIBLE=n
CONFIG_HAVE_ARCH_SECCOMP=n
CONFIG_DYNAMIC_EVENTS=n
CONFIG_MSDOS_FS=n
CONFIG_GCC10_NO_ARRAY_BOUNDS=n
CONFIG_ZLIB_DEFLATE=n
CONFIG_HAVE_KCSAN_COMPILER=n
CONFIG_SERIAL_8250_MANY_PORTS=n
CONFIG_HID_PID=n
CONFIG_USE_X86_SEG_SUPPORT=n
CONFIG_INET6_AH=n
CONFIG_JBD2=n
CONFIG_MODULES=n
CONFIG_NET_VENDOR_BROADCOM=n
CONFIG_ARCH_DEFAULT_CRASH_DUMP=n
CONFIG_NLATTR=n
CONFIG_MTRR=n
CONFIG_NET_VENDOR_MICROCHIP=n
CONFIG_SCSI_PROC_FS=n
CONFIG_BLK_DEBUG_FS=n
CONFIG_FORCEDETH=n
CONFIG_QUEUED_RWLOCKS=n
CONFIG_WLAN_VENDOR_QUANTENNA=n
CONFIG_HAVE_HARDLOCKUP_DETECTOR_PERF=n
CONFIG_NO_HZ_IDLE=n
CONFIG_NET_VENDOR_ATHEROS=n
CONFIG_USB_XHCI_HCD=n
CONFIG_PHYLIB=n
CONFIG_EFI=n
CONFIG_X86_REROUTE_FOR_BROKEN_BOOT_IRQS=n
CONFIG_DRM_I915_USERPTR=n
CONFIG_SND_DRIVERS=n
CONFIG_STACKPROTECTOR=n
CONFIG_CC_HAS_NAMED_AS=n
CONFIG_SKY2=n
CONFIG_X86_HV_CALLBACK_VECTOR=n
CONFIG_GENERIC_CPU_VULNERABILITIES=n
CONFIG_BLOCK=n
CONFIG_CRYPTO_ALGAPI2=n
CONFIG_XZ_DEC=n
CONFIG_HAVE_ACPI_APEI=n
CONFIG_PADATA=n
CONFIG_SGL_ALLOC=n
CONFIG_RTC_CLASS=n
CONFIG_HAVE_MMIOTRACE_SUPPORT=n
CONFIG_NLS_UTF8=n
CONFIG_CC_HAS_RETURN_THUNK=n
CONFIG_SG_POOL=n
CONFIG_PNPACPI=n
CONFIG_NET_VENDOR_QLOGIC=n
CONFIG_HUGETLBFS=n
CONFIG_HZ_1000=n
CONFIG_ARCH_HAS_FAST_MULTIPLIER=n
CONFIG_VT_CONSOLE=n
CONFIG_ACPI_HOTPLUG_IOAPIC=n
CONFIG_EARLY_PRINTK=n
CONFIG_BLK_PM=n
CONFIG_HAVE_STACKPROTECTOR=n
CONFIG_RFKILL_LEDS=n
CONFIG_HAVE_CMPXCHG_DOUBLE=n
CONFIG_BACKLIGHT_CLASS_DEVICE=n
CONFIG_NET_VENDOR_AGERE=n
CONFIG_IRQ_DOMAIN=n
CONFIG_LDISC_AUTOLOAD=n
CONFIG_USB_DEFAULT_PERSIST=n
CONFIG_DMA_ACPI=n
CONFIG_MISC_FILESYSTEMS=n
CONFIG_CC_IS_GCC=n
CONFIG_E1000E_HWTS=n
CONFIG_ACPI_EC=n
CONFIG_DQL=n
CONFIG_NEW_LEDS=n
CONFIG_HAS_IOPORT_MAP=n
CONFIG_ARCH_SUPPORTS_HUGETLBFS=n
CONFIG_CPU_SUP_ZHAOXIN=n
CONFIG_DEVPORT=n
CONFIG_NET_VENDOR_SAMSUNG=n
CONFIG_DEBUG_FS_ALLOW_ALL=n
CONFIG_SOUND=n
CONFIG_LTO_NONE=n
CONFIG_ARCH_HAS_PTE_SPECIAL=n
CONFIG_NLS_CODEPAGE_437=n
CONFIG_MOUSE_PS2_LOGIPS2PP=n
CONFIG_NET_VENDOR_ADAPTEC=n
CONFIG_NFS_V4=n
CONFIG_HAVE_GCC_PLUGINS=n
CONFIG_X86_DISABLED_FEATURE_CALL_DEPTH=n
CONFIG_DEBUG_INFO_NONE=n
CONFIG_SERIAL_8250_PCILIB=n
CONFIG_WLAN_VENDOR_PURELIFI=n
CONFIG_DECOMPRESS_LZ4=n
CONFIG_WLAN_VENDOR_REALTEK=n
CONFIG_OID_REGISTRY=n
CONFIG_SERIAL_8250_LPSS=n
CONFIG_DRM_VIRTIO_GPU=n
CONFIG_ARCH_WANTS_NO_INSTR=n
CONFIG_SYN_COOKIES=n
CONFIG_DRM_CLIENT_SELECTION=n
CONFIG_ACPI_AC=n
CONFIG_SND_SEQUENCER=n
CONFIG_HAVE_PV_STEAL_CLOCK_GEN=n
CONFIG_CC_HAS_IBT=n
CONFIG_ARCH_FLATMEM_ENABLE=n
CONFIG_GENERIC_SMP_IDLE_THREAD=n
CONFIG_NETPOLL=n
CONFIG_EXT4_USE_FOR_EXT2=n
CONFIG_NET_VENDOR_META=n
CONFIG_RTC_DRV_CMOS=n
CONFIG_ARCH_SUPPORTS_RT=n
CONFIG_EXPORTFS=n
CONFIG_NET_VENDOR_WIZNET=n
CONFIG_PREEMPT_LAZY=n
CONFIG_TASK_XACCT=n
CONFIG_HAVE_ARCH_AUDITSYSCALL=n
CONFIG_SBITMAP=n
CONFIG_CRYPTO_HASH=n
CONFIG_DEBUG_ENTRY=n
CONFIG_HID_NTRIG=n
CONFIG_SUNRPC=n
CONFIG_RCU_TRACE=n
CONFIG_ASSOCIATIVE_ARRAY=n
CONFIG_QUEUED_SPINLOCKS=n
CONFIG_RD_LZ4=n
CONFIG_I2C_BOARDINFO=n
CONFIG_MAC80211=n
CONFIG_DRM=n
CONFIG_PACKET=n
CONFIG_ACPI_THERMAL=n
CONFIG_CRYPTO_RSA=n
CONFIG_DECOMPRESS_LZMA=n
CONFIG_SECURITY_SELINUX_DEVELOP=n
CONFIG_ARCH_MAY_HAVE_PC_FDC=n
CONFIG_DRM_DISPLAY_DSC_HELPER=n
CONFIG_HAVE_ALIGNED_STRUCT_PAGE=n
CONFIG_HAVE_STATIC_CALL=n
CONFIG_ARCH_HAS_UBSAN=n
CONFIG_DRM_I915_COMPRESS_ERROR=n
CONFIG_MOUSE_PS2_FOCALTECH=n
CONFIG_NET_VENDOR_SMSC=n
CONFIG_PATA_OLDPIIX=n
CONFIG_NETFILTER_INGRESS=n
CONFIG_SPARSE_IRQ=n
CONFIG_WLAN_VENDOR_ZYDAS=n
CONFIG_HAVE_MOVE_PUD=n
CONFIG_FUTEX=n
CONFIG_E100=n
CONFIG_SND_VERBOSE_PROCFS=n
CONFIG_ZSTD_DECOMPRESS=n
CONFIG_BINFMT_ELF=n
CONFIG_COMPACTION=n
CONFIG_ACPI_PROCESSOR_IDLE=n
CONFIG_PERF_EVENTS_INTEL_RAPL=n
CONFIG_CGROUP_RDMA=n
CONFIG_NEED_TASKS_RCU=n
CONFIG_ARCH_USE_QUEUED_SPINLOCKS=n
CONFIG_CRYPTO=n
CONFIG_NFS_COMMON=n
CONFIG_CRYPTO_CTR=n
CONFIG_NETWORK_FILESYSTEMS=n
CONFIG_ARCH_WANTS_DYNAMIC_TASK_STRUCT=n
CONFIG_ARCH_HAS_KERNEL_FPU_SUPPORT=n
CONFIG_BQL=n
CONFIG_SGETMASK_SYSCALL=n
CONFIG_SYSCTL_EXCEPTION_TRACE=n
CONFIG_ACPI_MDIO=n
CONFIG_ARCH_SUPPORTS_KEXEC=n
CONFIG_NET_VENDOR_SYNOPSYS=n
CONFIG_VHOST_MENU=n
CONFIG_WATCHDOG_HANDLE_BOOT_ENABLED=n
CONFIG_KVM_GUEST=n
CONFIG_ARCH_HAS_DEBUG_WX=n
CONFIG_BPF=n
CONFIG_INPUT_FF_MEMLESS=n
CONFIG_CRYPTO_MANAGER2=n
CONFIG_MAC80211_RC_MINSTREL=n
CONFIG_CRYPTO_SIG2=n
CONFIG_RPCSEC_GSS_KRB5=n
CONFIG_DMIID=n
CONFIG_LOCK_SPIN_ON_OWNER=n
CONFIG_ARCH_CLOCKSOURCE_INIT=n
CONFIG_IPC_NS=n
CONFIG_RT_MUTEXES=n
CONFIG_CGROUP_DEBUG=n
CONFIG_VIRTIO=n
CONFIG_VT=n
CONFIG_X86_DISABLED_FEATURE_SYSCALL32=n
CONFIG_AMD_NB=n
CONFIG_NLS=n
CONFIG_CRYPTO_HMAC=n
CONFIG_HIBERNATION_COMP_LZO=n
CONFIG_R8169=n
CONFIG_ARCH_HAS_PREEMPT_LAZY=n
CONFIG_SERIAL_8250_EXTENDED=n
CONFIG_X86_DISABLED_FEATURE_IBT=n
CONFIG_NETFILTER_XT_TARGET_TCPMSS=n
CONFIG_X86_PKG_TEMP_THERMAL=n
CONFIG_KRETPROBES=n
CONFIG_IP_PIMSM_V2=n
CONFIG_ASN1=n
CONFIG_HAVE_ARCH_GET_SECUREBOOT=n
CONFIG_SERIAL_8250_MID=n
CONFIG_BLK_DEV=n
CONFIG_ZSTD_COMMON=n
