CONFIG_SCHED_HRTICK=n
CONFIG_KPROBES=n
CONFIG_BLK_CGROUP_IOLATENCY=n
CONFIG_HAVE_PCSPKR_PLATFORM=n
CONFIG_FIRMWARE_TABLE=n
CONFIG_HAVE_NOINSTR_VALIDATION=n
CONFIG_ARCH_USE_QUEUED_SPINLOCKS=n
CONFIG_DEBUG_STACK_USAGE=n
CONFIG_EPOLL=n
CONFIG_ZLIB_INFLATE=n
CONFIG_INPUT_TABLET=n
CONFIG_TRACE_CLOCK=n
CONFIG_DMIID=n
CONFIG_I2C_HELPER_AUTO=n
CONFIG_HPET_EMULATE_RTC=n
CONFIG_CPU_SUP_CENTAUR=n
CONFIG_PGTABLE_HAS_HUGE_LEAVES=n
CONFIG_ARCH_HAS_DEVMEM_IS_ALLOWED=n
CONFIG_BUILDTIME_TABLE_SORT=n
CONFIG_MITIGATION_SPECTRE_BHI=n
CONFIG_HARDIRQS_SW_RESEND=n
CONFIG_FIRMWARE_MEMMAP=n
CONFIG_XZ_DEC=n
CONFIG_RFKILL=n
CONFIG_ACPI_THERMAL_LIB=n
CONFIG_RD_XZ=n
CONFIG_HAVE_MIXED_BREAKPOINTS_REGS=n
CONFIG_X86_VERBOSE_BOOTUP=n
CONFIG_CRYPTO_SKCIPHER2=n
CONFIG_CC_HAS_INT128=n
CONFIG_AGP_AMD64=n
CONFIG_CONTEXT_TRACKING_IDLE=n
CONFIG_MITIGATION_ITS=n
CONFIG_PCI_LOCKLESS_CONFIG=n
CONFIG_THERMAL_HWMON=n
CONFIG_X86_MSR=n
CONFIG_ARCH_WANT_LD_ORPHAN_WARN=n
CONFIG_CC_HAS_ASM_INLINE=n
CONFIG_QUEUED_SPINLOCKS=n
CONFIG_HAVE_ASM_MODVERSIONS=n
CONFIG_ZONE_DMA=n
CONFIG_BUFFER_HEAD=n
CONFIG_X86_REQUIRED_FEATURE_CX8=n
CONFIG_I2C_HID=n
CONFIG_NET_VENDOR_NVIDIA=n
CONFIG_ARCH_HAS_ACPI_TABLE_UPGRADE=n
CONFIG_KPROBE_EVENTS=n
CONFIG_NETDEVICES=n
CONFIG_MITIGATION_PAGE_TABLE_ISOLATION=n
CONFIG_ARCH_WANT_BATCHED_UNMAP_TLB_FLUSH=n
CONFIG_EFI_RUNTIME_WRAPPERS=n
CONFIG_NEED_SG_DMA_LENGTH=n
CONFIG_CRYPTO_CBC=n
CONFIG_AMD_NUMA=n
CONFIG_I2C_SMBUS=n
CONFIG_MIGRATION=n
CONFIG_CRYPTO_HASH2=n
CONFIG_ASSOCIATIVE_ARRAY=n
CONFIG_ARCH_USE_BUILTIN_BSWAP=n
CONFIG_SERIO_I8042=n
CONFIG_BSD_PROCESS_ACCT=n
CONFIG_NVMEM_SYSFS=n
CONFIG_DRM_I915_COMPRESS_ERROR=n
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_DIRECT_CALLS=n
CONFIG_X86_REQUIRED_FEATURE_PAE=n
CONFIG_XZ_DEC_BCJ=n
CONFIG_EARLY_PRINTK_USB=n
CONFIG_IRQ_WORK=n
CONFIG_MII=n
CONFIG_CC_HAS_SANE_FUNCTION_ALIGNMENT=n
CONFIG_KEXEC=n
CONFIG_X86_CHECK_BIOS_CORRUPTION=n
CONFIG_WMI_BMOF=n
CONFIG_CRYPTO_ECB=n
CONFIG_USB_NET_DRIVERS=n
CONFIG_MITIGATION_TAA=n
CONFIG_LD_IS_BFD=n
CONFIG_POSIX_MQUEUE_SYSCTL=n
CONFIG_SYSCTL=n
CONFIG_CLKEVT_I8253=n
CONFIG_HAVE_CONTEXT_TRACKING_USER_OFFSTACK=n
CONFIG_NFS_V3_ACL=n
CONFIG_X86_ESPFIX64=n
CONFIG_CGROUP_RDMA=n
CONFIG_DEBUG_BOOT_PARAMS=n
CONFIG_CONTEXT_TRACKING=n
CONFIG_NUMA_MIGRATION=n
CONFIG_BITREVERSE=n
CONFIG_IP_ADVANCED_ROUTER=n
CONFIG_CGROUP_PERF=n
CONFIG_HAVE_DYNAMIC_FTRACE_NO_PATCHABLE=n
CONFIG_FUTEX_MPOL=n
CONFIG_ZSTD_COMMON=n
CONFIG_PM_SLEEP=n
CONFIG_DUMMY_CONSOLE=n
CONFIG_ARCH_DMA_ADDR_T_64BIT=n
CONFIG_ARCH_HAS_DEBUG_WX=n
CONFIG_GPU_BUDDY=n
CONFIG_USB_ANNOUNCE_NEW_DEVICES=n
CONFIG_X86_DISABLED_FEATURE_SGX=n
CONFIG_CC_HAS_ASM_GOTO_TIED_OUTPUT=n
CONFIG_PROC_SYSCTL=n
CONFIG_SND_PCM=n
CONFIG_EFI_DXE_MEM_ATTRIBUTES=n
CONFIG_GENERIC_CPU_VULNERABILITIES=n
CONFIG_ACPI=n
CONFIG_I2C_I801=n
CONFIG_NET_CORE=n
CONFIG_X86_UMIP=n
CONFIG_NUMA_MEMBLKS=n
CONFIG_NF_CONNTRACK_SIP=n
CONFIG_APERTURE_HELPERS=n
CONFIG_PM=n
CONFIG_CGROUP_CPUACCT=n
CONFIG_HAVE_SYSCALL_TRACEPOINTS=n
CONFIG_HOTPLUG_CPU=n
CONFIG_TIME_NS_VDSO=n
CONFIG_SGETMASK_SYSCALL=n
CONFIG_NET_VENDOR_ADAPTEC=n
CONFIG_WLAN_VENDOR_PURELIFI=n
CONFIG_GENERIC_IRQ_MIGRATION=n
CONFIG_HAVE_EBPF_JIT=n
CONFIG_SYSTEM_TRUSTED_KEYRING=n
CONFIG_ARCH_HAS_CURRENT_STACK_POINTER=n
CONFIG_PCCARD=n
CONFIG_NLATTR=n
CONFIG_SND_JACK=n
CONFIG_MITIGATION_UNRET_ENTRY=n
CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE=n
CONFIG_TRACING_SUPPORT=n
CONFIG_RANDOMIZE_BASE=n
CONFIG_BLK_DEV_INITRD=n
CONFIG_SERIAL_EARLYCON=n
CONFIG_INIT_STACK_ALL_ZERO=n
CONFIG_USB_XHCI_HCD=n
CONFIG_BLK_DEV_DM=n
CONFIG_CFG80211=n
CONFIG_ACPI_MDIO=n
CONFIG_IP_MROUTE_COMMON=n
CONFIG_SERIAL_8250_LPSS=n
CONFIG_PCPU_DEV_REFCNT=n
CONFIG_ACPI_SYSTEM_POWER_STATES_SUPPORT=n
CONFIG_ARCH_WANTS_THP_SWAP=n
CONFIG_CRYPTO_LIB_MD5=n
CONFIG_DRM_BRIDGE=n
CONFIG_NET_VENDOR_SEEQ=n
CONFIG_RD_GZIP=n
CONFIG_GRACE_PERIOD=n
CONFIG_CC_HAS_NAMED_AS=n
CONFIG_HAVE_STATIC_CALL_INLINE=n
CONFIG_DYNAMIC_EVENTS=n
CONFIG_NET_VENDOR_DAVICOM=n
CONFIG_CORE_DUMP_DEFAULT_ELF_HEADERS=n
CONFIG_TRACE_IRQFLAGS_SUPPORT=n
CONFIG_PREEMPT_LAZY=n
CONFIG_HIDRAW=n
CONFIG_WLAN_VENDOR_SILABS=n
CONFIG_ALLOW_DEV_COREDUMP=n
CONFIG_ACPI_SPCR_TABLE=n
CONFIG_ARCH_MIGHT_HAVE_ACPI_PDC=n
CONFIG_SND_VERBOSE_PROCFS=n
CONFIG_AMD_NODE=n
CONFIG_VHOST_MENU=n
CONFIG_FONT_SUPPORT=n
CONFIG_GENERIC_BUG=n
CONFIG_HAVE_KERNEL_XZ=n
CONFIG_CRYPTO_LIB_GF128HASH_ARCH=n
CONFIG_IRQ_DOMAIN_HIERARCHY=n
CONFIG_MULTIUSER=n
CONFIG_CC_HAS_MIN_FUNCTION_ALIGNMENT=n
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST=n
CONFIG_MD_BITMAP=n
CONFIG_HAVE_KRETPROBES=n
CONFIG_HAVE_UID16=n
CONFIG_HAVE_PCI=n
CONFIG_RUSTC_HAS_UNNECESSARY_TRANSMUTES=n
CONFIG_NET_FLOW_LIMIT=n
CONFIG_NET_VENDOR_PENSANDO=n
CONFIG_NET_EMATCH=n
CONFIG_X86_BUS_LOCK_DETECT=n
CONFIG_NETFILTER_XTABLES=n
CONFIG_ISA_DMA_API=n
CONFIG_CACHESTAT_SYSCALL=n
CONFIG_DRM_I915_CAPTURE_ERROR=n
CONFIG_ARCH_WANTS_DYNAMIC_TASK_STRUCT=n
CONFIG_ARCH_MHP_MEMMAP_ON_MEMORY_ENABLE=n
CONFIG_IOMMU_PT_AMDV1=n
CONFIG_HAVE_PV_STEAL_CLOCK_GEN=n
CONFIG_HAVE_ARCH_AUDITSYSCALL=n
CONFIG_INPUT_MOUSE=n
CONFIG_FIB_RULES=n
CONFIG_BINARY_PRINTF=n
CONFIG_FUTEX=n
CONFIG_SND_INTEL_NHLT=n
CONFIG_CRYPTO_ACOMP2=n
CONFIG_SKB_EXTENSIONS=n
CONFIG_KEXEC_CORE=n
CONFIG_NET_VENDOR_8390=n
CONFIG_IP6_NF_MATCH_IPV6HEADER=n
CONFIG_BLK_DEV_BSG=n
CONFIG_BINFMT_ELF=n
CONFIG_X86_PM_TIMER=n
CONFIG_CRYPTO_AEAD=n
CONFIG_RD_ZSTD=n
CONFIG_SCHED_CACHE=n
CONFIG_KALLSYMS=n
CONFIG_IPV6=n
CONFIG_YENTA_O2=n
CONFIG_SERIAL_8250_EXTENDED=n
CONFIG_BLK_CGROUP_IOPRIO=n
CONFIG_X86_16BIT=n
CONFIG_PARAVIRT_CLOCK=n
CONFIG_ARCH_USE_QUEUED_RWLOCKS=n
CONFIG_CRYPTO_AKCIPHER=n
CONFIG_SOUND=n
CONFIG_PROBE_EVENTS=n
CONFIG_SPLIT_PTE_PTLOCKS=n
CONFIG_ARCH_PROC_KCORE_TEXT=n
CONFIG_ARCH_HAS_STRICT_MODULE_RWX=n
CONFIG_NET_VENDOR_MICREL=n
CONFIG_ARCH_SUPPORTS_ACPI=n
CONFIG_VIRTIO_MENU=n
CONFIG_X86_REQUIRED_FEATURE_FXSR=n
CONFIG_LZO_DECOMPRESS=n
CONFIG_SND_PCMCIA=n
CONFIG_WLAN_VENDOR_ATH=n
CONFIG_SERIAL_8250_PERICOM=n
CONFIG_IRQ_DOMAIN=n
CONFIG_BLK_DEV_MD=n
CONFIG_SCSI_MOD=n
CONFIG_INTEGRITY_AUDIT=n
CONFIG_TMPFS_XATTR=n
CONFIG_X86_LOCAL_APIC=n
CONFIG_DEBUG_KERNEL=n
CONFIG_HAVE_STATIC_CALL=n
CONFIG_MMU=n
CONFIG_GLOB=n
CONFIG_MODULE_FORCE_UNLOAD=n
CONFIG_HAVE_RSEQ=n
CONFIG_IRQ_FORCED_THREADING=n
CONFIG_MMU_GATHER_MERGE_VMAS=n
CONFIG_NET_VENDOR_SOCIONEXT=n
CONFIG_BRANCH_PROFILE_NONE=n
CONFIG_GENERIC_CLOCKEVENTS=n
CONFIG_HAS_IOMEM=n
CONFIG_ASN1=n
CONFIG_IP_NF_IPTABLES=n
CONFIG_TMPFS_POSIX_ACL=n
CONFIG_ARCH_WANTS_CLOCKSOURCE_READ_INLINE=n
CONFIG_NET_VENDOR_WANGXUN=n
CONFIG_FAILOVER=n
CONFIG_PPS=n
CONFIG_DRM_VIRTIO_GPU=n
CONFIG_RATIONAL=n
CONFIG_PM_SLEEP_SMP=n
CONFIG_HDMI=n
CONFIG_DECOMPRESS_XZ=n
CONFIG_NET_VENDOR_MICROCHIP=n
CONFIG_NET_VENDOR_BROADCOM=n
CONFIG_RCU_TRACE=n
CONFIG_DEBUG_BUGVERBOSE=n
CONFIG_INPUT_FF_MEMLESS=n
CONFIG_DRM_DISPLAY_HDMI_HELPER=n
CONFIG_PHYS_ADDR_T_64BIT=n
CONFIG_BLK_DEV_WRITE_MOUNTED=n
CONFIG_HAVE_INTEL_TXT=n
CONFIG_SND_INTEL_SOUNDWIRE_ACPI=n
CONFIG_SGL_ALLOC=n
CONFIG_DRM_DISPLAY_HDCP_HELPER=n
CONFIG_MPILIB=n
CONFIG_INPUT=n
CONFIG_ACPI_BATTERY=n
CONFIG_ZONE_DMA32=n
CONFIG_HAVE_UNWIND_USER_FP=n
CONFIG_INTEGRITY=n
CONFIG_USB_EHCI_TT_NEWSCHED=n
CONFIG_NF_CONNTRACK_FTP=n
CONFIG_CC_HAS_WORKING_NOSANITIZE_ADDRESS=n
CONFIG_SPARSEMEM_EXTREME=n
CONFIG_MAC80211=n
CONFIG_NETFS_SUPPORT=n
CONFIG_KVM_GUEST=n
CONFIG_SERIAL_CORE_CONSOLE=n
CONFIG_PAGE_SIZE_4KB=n
CONFIG_MITIGATION_SSB=n
CONFIG_ARCH_HAS_MEM_ENCRYPT=n
CONFIG_HAVE_C_RECORDMCOUNT=n
CONFIG_ARCH_HAS_FORTIFY_SOURCE=n
CONFIG_CPU_FREQ_GOV_PERFORMANCE=n
CONFIG_ARCH_HAS_ELF_RANDOMIZE=n
CONFIG_ARCH_HAVE_NMI_SAFE_CMPXCHG=n
CONFIG_VMAP_STACK=n
CONFIG_NETFILTER_INGRESS=n
CONFIG_IP_PIMSM_V2=n
CONFIG_I2C=n
CONFIG_HAVE_RUST=n
CONFIG_CGROUP_NET_CLASSID=n
CONFIG_ARCH_MIGHT_HAVE_PC_PARPORT=n
CONFIG_USER_STACKTRACE_SUPPORT=n
CONFIG_NOP_TRACER=n
