CONFIG_MFD_ATC260X_I2C=y
CONFIG_PHY_INTEL_LGM_COMBO=y
CONFIG_HAVE_OPTPROBES=y
CONFIG_MPU3050_I2C=y
CONFIG_MITIGATION_GDS=y
CONFIG_EXTCON_QCOM_SPMI_MISC=y
CONFIG_RESET_GPIO=y
CONFIG_PCIE_DW_HOST=y
CONFIG_LEDS_BD2606MVV=y
CONFIG_REGULATOR_ISL6271A=y
CONFIG_ASPEED_WATCHDOG=y
CONFIG_X86_IO_APIC=y
CONFIG_SENSORS_LT3074=y
CONFIG_REGULATOR_LTC3676=y
CONFIG_DEBUG_OBJECTS_WORK=y
CONFIG_THERMAL=y
CONFIG_GROUP_SCHED_WEIGHT=y
CONFIG_PINCTRL_EXYNOS_ARM=y
CONFIG_FXOS8700=y
CONFIG_IPMI_POWEROFF=y
CONFIG_PINCTRL_MTK_V2=y
CONFIG_MD_BITMAP_FILE=y
CONFIG_CRYPTO_LIB_SHA256_ARCH=y
CONFIG_X86_SGX=y
CONFIG_PINCTRL_STM32F769=y
CONFIG_FB_OMAP2_DSS_INIT=y
CONFIG_DOVE_THERMAL=y
CONFIG_RESET_BERLIN=y
CONFIG_LEDS_MAX8997=y
CONFIG_CRYPTO_MD4=y
CONFIG_IPACK_BUS=y
CONFIG_KEYBOARD_PMIC8XXX=y
CONFIG_GENERIC_PCI_IOMAP=y
CONFIG_QCOM_SCM=y
CONFIG_GPIO_THUNDERX=y
CONFIG_SENSORS_EMC2305=y
CONFIG_TI_EQEP=y
CONFIG_PINCTRL_PFC_SH7264=y
CONFIG_MAILBOX_TEST=y
CONFIG_NVMEM_JZ4780_EFUSE=y
CONFIG_RENESAS_RZT2H_ICU=y
CONFIG_CAVIUM_CPT=y
CONFIG_MFD_MENF21BMC=y
CONFIG_ASYNC_MEMCPY=y
CONFIG_NLS_CODEPAGE_865=y
CONFIG_MMC_MOXART=y
CONFIG_PCI=y
CONFIG_GENERIC_CLOCKEVENTS=y
CONFIG_PHY_FSL_LYNX_28G=y
CONFIG_SENSORS_AXI_FAN_CONTROL=y
CONFIG_IKCONFIG=y
CONFIG_MTK_SCPSYS=y
CONFIG_I2C_SLAVE_TESTUNIT=y
CONFIG_XFS_ONLINE_REPAIR=y
CONFIG_MMC_SDHCI_BCM_KONA=y
CONFIG_ASYNC_CORE=y
CONFIG_PPS_CLIENT_GPIO=y
CONFIG_INV_ICM45600=y
CONFIG_CRYPTO_SERPENT=y
CONFIG_RESET_QCOM_AOSS=y
CONFIG_CADENCE_WATCHDOG=y
CONFIG_GCC_NO_STRINGOP_OVERFLOW=y
CONFIG_XFS_FS=y
CONFIG_ARCH_KEEP_MEMBLOCK=y
CONFIG_GPIO_FTGPIO010=y
CONFIG_FPGA_MGR_SOCFPGA_A10=y
CONFIG_DM_MIRROR=y
CONFIG_CPU_MITIGATIONS=y
CONFIG_QCOM_SPM=y
CONFIG_VIRTUALIZATION=y
CONFIG_THEAD_TH1520_MBOX=y
CONFIG_I2C_QCOM_GENI=y
CONFIG_IPMI_DMI_DECODE=y
CONFIG_GPIO_TPIC2810=y
CONFIG_RTC_DRV_M48T59=y
CONFIG_ISO9660_FS=y
CONFIG_CRYPTO_BLOWFISH=y
CONFIG_MS5611_I2C=y
CONFIG_SENSORS_PXE1610=y
CONFIG_MMU_GATHER_MERGE_VMAS=y
CONFIG_ARCH_WANT_HUGETLB_VMEMMAP_PREINIT=y
CONFIG_BRCMSTB_MEMC=y
CONFIG_HAVE_CONTEXT_TRACKING_USER=y
CONFIG_ARCH_SUPPORTS_ATOMIC_RMW=y
CONFIG_HAVE_MMIOTRACE_SUPPORT=y
CONFIG_CRYPTO_LIB_GF128HASH_ARCH=y
CONFIG_DEBUG_OBJECTS_TIMERS=y
CONFIG_ARM_CMN=y
CONFIG_MTRR=y
CONFIG_NVMEM_ROCKCHIP_OTP=y
CONFIG_PINCTRL_OCELOT=y
CONFIG_MTK_DEVAPC=y
CONFIG_HANGCHECK_TIMER=y
CONFIG_ARCH_HAS_MEM_ENCRYPT=y
CONFIG_ZSTD_DECOMPRESS=y
CONFIG_ALLOW_DEV_COREDUMP=y
CONFIG_ALIM7101_WDT=y
CONFIG_ARCH_WANTS_THP_SWAP=y
CONFIG_IIO_SIMPLE_DUMMY=y
CONFIG_CRC64_ARCH=y
CONFIG_DA_MON_EVENTS_ID=y
CONFIG_MARVELL_CN10K_TAD_PMU=y
CONFIG_POWER_RESET_GEMINI_POWEROFF=y
CONFIG_STK3310=y
CONFIG_LEDS_CLASS_MULTICOLOR=y
CONFIG_INGENIC_TCU_IRQ=y
CONFIG_GPIO_PCF857X=y
CONFIG_MEDIATEK_MT6577_AUXADC=y
CONFIG_MFD_MAX77843=y
CONFIG_FB_NVIDIA=y
CONFIG_INTEL_MID_WATCHDOG=y
CONFIG_SUN20I_GPADC=y
CONFIG_HAVE_NMI=y
CONFIG_XZ_DEC_ARM64=y
CONFIG_CC_CAN_LINK=y
CONFIG_RESET_RASPBERRYPI=y
CONFIG_PRINTK_INDEX=y
CONFIG_ADL8113=y
CONFIG_REGULATOR_QCOM_USB_VBUS=y
CONFIG_BLK_WBT_MQ=y
CONFIG_RTC_DRV_MAX77686=y
CONFIG_PHY_MTK_PCIE=y
CONFIG_X86_REQUIRED_FEATURE_PGE=y
CONFIG_CRYPTO_ECHAINIV=y
CONFIG_I2C_VERSATILE=y
CONFIG_RTC_DRV_ZYNQMP=y
CONFIG_UNWINDER_ORC=y
CONFIG_MFD_TPS6594=y
CONFIG_DA9063_WATCHDOG=y
CONFIG_THERMAL_GOV_POWER_ALLOCATOR=y
CONFIG_X86_REQUIRED_FEATURE_PAE=y
CONFIG_PCIE_MICROCHIP_HOST=y
CONFIG_F2FS_CHECK_FS=y
CONFIG_PINCTRL_PFC_SHX3=y
CONFIG_RMI4_SMB=y
CONFIG_PINCTRL_INGENIC=y
CONFIG_ISL29003=y
CONFIG_PCI_ECAM=y
CONFIG_REGULATOR_ACT8945A=y
CONFIG_IQS624_POS=y
CONFIG_JOYSTICK_MAGELLAN=y
CONFIG_CIX_MBOX=y
CONFIG_BUG_ON_DATA_CORRUPTION=y
CONFIG_USB4_DMA_TEST=y
CONFIG_RPMB=y
CONFIG_FW_LOADER_COMPRESS=y
CONFIG_PINCTRL_EQUILIBRIUM=y
CONFIG_TI_AM335X_ADC=y
CONFIG_HAVE_KERNEL_XZ=y
CONFIG_MD_RAID1=y
CONFIG_FXOS8700_I2C=y
CONFIG_MQ_IOSCHED_DEADLINE=y
CONFIG_COMEDI_JR3_PCI=y
CONFIG_RTC_DRV_ABX80X=y
CONFIG_REGULATOR_LP3971=y
CONFIG_FS_VERITY_BUILTIN_SIGNATURES=y
CONFIG_P2SB=y
CONFIG_PVPANIC=y
CONFIG_LTR390=y
CONFIG_STK8BA50=y
CONFIG_MMC_SDHCI=y
CONFIG_NPCM7XX_TIMER=y
CONFIG_PINCTRL_SDM660=y
CONFIG_SSB_PCIHOST=y
CONFIG_I2C_BCM_KONA=y
CONFIG_PINCTRL_IMX=y
CONFIG_QCOM_SOCINFO=y
CONFIG_OF_FLATTREE=y
CONFIG_MTD_NAND_LOONGSON=y
CONFIG_PHY_ROCKCHIP_INNO_DSIDPHY=y
CONFIG_RAPIDIO=y
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST=y
CONFIG_AD5592R_BASE=y
CONFIG_ARCH_SUPPORTS_KEXEC_FILE=y
CONFIG_SENSORS_AD7418=y
CONFIG_AGP_SIS=y
CONFIG_COMEDI_ADDI_APCI_2032=y
CONFIG_PINCTRL_AMD=y
CONFIG_RTC_DRV_TI_K3=y
CONFIG_SERIAL_8250_TEGRA=y
CONFIG_GPIO_SIM=y
CONFIG_IIO_MS_SENSORS_I2C=y
CONFIG_SPMI_MTK_PMIF=y
CONFIG_MAX5432=y
CONFIG_DMIID=y
CONFIG_VIA_WDT=y
CONFIG_LEDS_KTD2692=y
CONFIG_ECONET_EN751221_TIMER=y
CONFIG_KVM_ELIDE_TLB_FLUSH_IF_YOUNG=y
CONFIG_GENERIC_PINCTRL=y
CONFIG_GENERIC_BUG=y
CONFIG_GPIO_MVEBU=y
CONFIG_DM_BUFIO=y
CONFIG_APDS9306=y
CONFIG_LOCK_EVENT_COUNTS=y
CONFIG_LEDS_MAX5970=y
CONFIG_FSI_SBEFIFO=y
CONFIG_NVMEM_LAN9662_OTPC=y
CONFIG_VEML6070=y
CONFIG_CUSE=y
CONFIG_REGULATOR_MT6380=y
CONFIG_ROMFS_ON_BLOCK=y
CONFIG_QCOM_PBS=y
CONFIG_AD5380=y
CONFIG_X86_REQUIRED_FEATURE_MSR=y
CONFIG_HW_RANDOM_CCTRNG=y
CONFIG_LEDS_LM3692X=y
CONFIG_MMC_HSQ=y
CONFIG_PCI_PASID=y
CONFIG_WARN_ABI_ERRORS=y
CONFIG_SUNPLUS_WATCHDOG=y
CONFIG_I2C_OWL=y
CONFIG_MFD_RT5120=y
CONFIG_CRYPTO_SERPENT_AVX_X86_64=y
CONFIG_ARCH_HAS_SYSCALL_WRAPPER=y
CONFIG_GPIB_FLUKE=y
CONFIG_RAVE_SP_CORE=y
CONFIG_ARCH_SUPPORTS_HUGETLBFS=y
CONFIG_ARCH_WANT_BATCHED_UNMAP_TLB_FLUSH=y
CONFIG_SERIAL_MILBEAUT_USIO=y
CONFIG_REED_SOLOMON=y
CONFIG_KEY_NOTIFICATIONS=y
CONFIG_ARCH_MIGHT_HAVE_PC_PARPORT=y
CONFIG_CC_HAS_IBT=y
CONFIG_VT_HW_CONSOLE_BINDING=y
CONFIG_REGULATOR_ATC260X=y
CONFIG_STK8312=y
CONFIG_SYSCTL_EXCEPTION_TRACE=y
CONFIG_PUNIT_ATOM_DEBUG=y
CONFIG_REGULATOR_PFUZE100=y
CONFIG_HAVE_ARCH_JUMP_LABEL=y
CONFIG_RTC_DRV_MA35D1=y
CONFIG_ABP2030PA_I2C=y
CONFIG_PINCTRL_ASPEED_G7_SOC1=y
CONFIG_REGULATOR_DA903X=y
CONFIG_RUSTC_HAS_SPAN_FILE=y
CONFIG_MMC_SDHCI_OF_SPARX5=y
CONFIG_HW_RANDOM_JH7110=y
CONFIG_VCNL4035=y
CONFIG_PCIE_MOBIVEIL_PLAT=y
CONFIG_MFD_SUN4I_GPADC=y
CONFIG_COMEDI_ME4000=y
CONFIG_SENSORS_STPDDC60=y
CONFIG_SPARSEMEM_VMEMMAP_ENABLE=y
CONFIG_SENSORS_F71805F=y
CONFIG_PCI_SW_SWITCHTEC=y
CONFIG_NLS_ISO8859_5=y
CONFIG_REGULATOR_LTC3589=y
CONFIG_UDF_FS=y
CONFIG_MMC_SDHCI_OF_ESDHC=y
CONFIG_CRYPTO_SIG=y
CONFIG_NOP_TRACER=y
CONFIG_PHY_RCAR_GEN3_USB3=y
CONFIG_ATMEL_ST=y
CONFIG_I2C_SMBUS=y
CONFIG_X86_DISABLED_FEATURE_ENQCMD=y
CONFIG_MOST_CDEV=y
CONFIG_MPL115_I2C=y
CONFIG_SUN20I_PPU=y
CONFIG_SENSORS_TSL2563=y
CONFIG_DDR=y
CONFIG_SENSORS_LM95241=y
CONFIG_HAVE_GCC_PLUGINS=y
CONFIG_EARLY_PRINTK=y
CONFIG_BMC150_ACCEL_I2C=y
CONFIG_SENSORS_SG2042_MCU=y
CONFIG_ZSTD_COMMON=y
CONFIG_STMPE_I2C=y
CONFIG_LEDS_CLASS=y
CONFIG_ADFS_FS=y
CONFIG_MITIGATION_TSA=y
CONFIG_REGULATOR_TPS65023=y
CONFIG_X86_REQUIRED_FEATURE_NOPL=y
CONFIG_PCI_DEBUG=y
CONFIG_DEBUG_MEMORY_INIT=y
CONFIG_BCM_KONA_WDT_DEBUG=y
CONFIG_RTC_DRV_X1205=y
CONFIG_SERIAL_OWL=y
CONFIG_TEGRA_HOST1X_CONTEXT_BUS=y
CONFIG_OF_OVERLAY=y
CONFIG_REGULATOR_LP87565=y
CONFIG_SENSORS_PECI_CPUTEMP=y
CONFIG_FB_ARC=y
CONFIG_KVM_GUEST_MEMFD=y
CONFIG_ARM_AIROHA_SOC_CPUFREQ=y
CONFIG_RT_GROUP_SCHED_DEFAULT_DISABLED=y
CONFIG_MFD_MAX5970=y
CONFIG_X86_REQUIRED_FEATURE_XMM2=y
CONFIG_MTD_NAND_FSL_IFC=y
CONFIG_CLKSRC_JCORE_PIT=y
CONFIG_SCSI_LOGGING=y
CONFIG_MCHP_EIC=y
CONFIG_FPGA_MGR_ALTERA_CVP=y
CONFIG_FORCE_NR_CPUS=y
CONFIG_COMEDI_DAS08=y
CONFIG_EDAC_SUPPORT=y
CONFIG_PINCTRL_INTEL=y
CONFIG_PHY_NS2_USB_DRD=y
CONFIG_SERIAL_FSL_LPUART=y
CONFIG_RTC_MC146818_LIB=y
CONFIG_PINCTRL_PFC_R8A77970=y
CONFIG_I2C=y
CONFIG_LITEX=y
CONFIG_SECTION_MISMATCH_WARN_ONLY=y
CONFIG_CRYPTO_LIB_SHA1=y
CONFIG_EVENT_TRACING=y
CONFIG_SPMI=y
CONFIG_LIBFDT=y
CONFIG_PCIE_SPACEMIT_K1=y
CONFIG_FB_TRIDENT=y
CONFIG_AD525X_DPOT=y
CONFIG_PHY_MESON_G12A_USB2=y
CONFIG_MS5637=y
CONFIG_ARCH_WANT_OPTIMIZE_DAX_VMEMMAP=y
CONFIG_MAX77541_ADC=y
CONFIG_PHY_MESON_AXG_PCIE=y
CONFIG_PINCTRL_STM32MP157=y
CONFIG_PCI_HOST_COMMON=y
CONFIG_I2C_I801=y
CONFIG_XARRAY_MULTI=y
CONFIG_DM_MULTIPATH_HST=y
CONFIG_RTC_DRV_SD2405AL=y
CONFIG_DYNAMIC_FTRACE=y
CONFIG_CLZ_TAB=y
CONFIG_CRYPTO_DEV_QAT_C3XXX=y
CONFIG_DEBUG_INFO_REDUCED=y
CONFIG_IIO_STM32_TIMER_TRIGGER=y
CONFIG_PCIE_MEDIATEK=y
CONFIG_PINCTRL_IPQ5332=y
CONFIG_SERIAL_8250_PCI=y
CONFIG_TIMER_PROBE=y
CONFIG_HP_ILO=y
CONFIG_PHY_BRCM_USB=y
CONFIG_SERIAL_8250_DWLIB=y
CONFIG_KEYBOARD_XTKBD=y
CONFIG_MEMSTICK_R592=y
CONFIG_SERIAL_SH_SCI_CONSOLE=y
CONFIG_RANDOMIZE_KSTACK_OFFSET=y
CONFIG_GPIO_TPS65218=y
CONFIG_ASYMMETRIC_PUBLIC_KEY_SUBTYPE=y
CONFIG_MMC_SDHCI_PCI=y
CONFIG_NLS_ISO8859_8=y
CONFIG_SCSI=y
CONFIG_AD5696_I2C=y
CONFIG_RMI4_F55=y
CONFIG_VIRTIO_ANCHOR=y
CONFIG_CRC8=y
CONFIG_MITIGATION_PAGE_TABLE_ISOLATION=y
CONFIG_QCOM_ICC_BWMON=y
CONFIG_MFD_CS47L92=y
CONFIG_WANT_DEV_COREDUMP=y
CONFIG_XILLYBUS=y
CONFIG_PINCTRL_PXA27X=y
CONFIG_APERTURE_HELPERS=y
CONFIG_SSB_SDIOHOST=y
CONFIG_SENSORS_ASC7621=y
CONFIG_I2C_ALI1535=y
CONFIG_GPIO_NOMADIK=y
CONFIG_RZN1_ADC=y
CONFIG_SERIAL_SC16IS7XX_I2C=y
CONFIG_CC_OPTIMIZE_FOR_SIZE=y
CONFIG_SENSORS_ISL29028=y
CONFIG_REGULATOR_TPS6105X=y
CONFIG_SENSORS_CORETEMP=y
CONFIG_I2C_AXXIA=y
CONFIG_REGULATOR_BCM590XX=y
CONFIG_GPIO_TWL6040=y
CONFIG_PCIE_TEGRA194=y
CONFIG_FUTEX_PRIVATE_HASH=y
CONFIG_RMI4_F11=y
CONFIG_I2C_UNIPHIER_F=y
CONFIG_RFD77402=y
CONFIG_HAVE_KLP_BUILD=y
CONFIG_MTD_REDBOOT_PARTS=y
CONFIG_INSTRUCTION_DECODER=y
CONFIG_REGULATOR_SY8824X=y
CONFIG_RTC_DRV_MAX6900=y
CONFIG_SIEMENS_SIMATIC_IPC_BATT_APOLLOLAKE=y
CONFIG_SERIAL_SIFIVE=y
CONFIG_I2C_CBUS_GPIO=y
CONFIG_BLK_DEV_BSGLIB=y
CONFIG_PINCTRL_TEGRA=y
CONFIG_PARPORT_PC_PCMCIA=y
CONFIG_CPU_FREQ_GOV_COMMON=y
CONFIG_BLK_WBT=y
CONFIG_REGULATOR_LP3972=y
CONFIG_PHY_HISTB_COMBPHY=y
CONFIG_RANDSTRUCT_NONE=y
CONFIG_CRYPTO_DEV_FSL_CAAM_COMMON=y
CONFIG_CXL_PORT=y
CONFIG_ARCH_HAS_SET_DIRECT_MAP=y
CONFIG_SENSORS_TC74=y
CONFIG_XILINX_AMS=y
CONFIG_X86_ESPFIX64=y
CONFIG_TRACING_SUPPORT=y
CONFIG_X86_INTEL_MID=y
CONFIG_FORTIFY_SOURCE=y
CONFIG_VCNL3020=y
CONFIG_PINCTRL_ASPEED_G6=y
CONFIG_SENSORS_TMP513=y
CONFIG_CCS811=y
CONFIG_SENSORS_EMC6W201=y
CONFIG_CRYPTO_CHACHA20=y
CONFIG_SENSIRION_SGP30=y
CONFIG_RPMSG_MTK_SCP=y
CONFIG_SENSORS_TPS546D24=y
CONFIG_GPIOLIB_LEGACY=y
CONFIG_NLS_ISO8859_1=y
CONFIG_VZ89X=y
CONFIG_MTD_SBC_GXX=y
CONFIG_RTC_DRV_GOLDFISH=y
CONFIG_SMPRO_MISC=y
CONFIG_I2C_PXA_SLAVE=y
CONFIG_FB_METRONOME=y
CONFIG_I2C_BOARDINFO=y
CONFIG_PHY_ROCKCHIP_DPHY_RX0=y
CONFIG_SUSPEND_FREEZER=y
CONFIG_BCM7038_WDT=y
CONFIG_ARM_NI=y
CONFIG_CRYPTO_ECRDSA=y
CONFIG_LEDS_MT6370_RGB=y
CONFIG_ARM_MEDIATEK_CPUFREQ=y
CONFIG_POLARFIRE_SOC_MAILBOX=y
CONFIG_LEDS_INTEL_SS4200=y
CONFIG_SENSORS_F71882FG=y
CONFIG_CC_HAS_RETURN_THUNK=y
CONFIG_GPIO_MADERA=y
CONFIG_PINCTRL_SA8775P=y
CONFIG_PANIC_ON_OOPS=y
CONFIG_TTY=y
CONFIG_COMEDI_ADL_PCI7250=y
CONFIG_FAIL_IO_TIMEOUT=y
CONFIG_RTC_DRV_PCF8563=y
CONFIG_VEML6046X00=y
CONFIG_GPIO_TANGIER=y
CONFIG_MISC_RP1=y
CONFIG_PIC32_WDT=y
CONFIG_SENSORS_VIA686A=y
CONFIG_PINCTRL_PFC_R8A7794=y
CONFIG_ARCH_MAY_HAVE_PC_FDC=y
CONFIG_SENSORS_LTC4222=y
CONFIG_PPS_CLIENT_PARPORT=y
CONFIG_CC_HAS_ASM_GOTO_TIED_OUTPUT=y
CONFIG_REGULATOR_ROHM=y
CONFIG_SENSORS_SMSC47B397=y
CONFIG_MTK_CMDQ_MBOX=y
CONFIG_KEYBOARD_IQS62X=y
CONFIG_SENSORS_LM78=y
CONFIG_BME680_I2C=y
CONFIG_OMAP_GPMC=y
CONFIG_VGASTATE=y
CONFIG_I2C_SLAVE=y
CONFIG_CLKEVT_I8253=y
CONFIG_REGULATOR_S5M8767=y
CONFIG_GPIO_EP93XX=y
CONFIG_MTD_NAND_NDFC=y
CONFIG_MFD_LP3943=y
CONFIG_COMEDI_NI_65XX=y
CONFIG_MMC35240=y
CONFIG_HAVE_VIRT_CPU_ACCOUNTING_GEN=y
CONFIG_MTK_CPUX_TIMER=y
CONFIG_IIO_TRIGGERED_BUFFER=y
CONFIG_REGULATOR_RT4803=y
CONFIG_MTD_NAND_DISKONCHIP_PROBE_ADVANCED=y
CONFIG_CRYPTO_DEV_PADLOCK=y
CONFIG_IIO_ST_PRESS=y
CONFIG_VMWARE_VMCI=y
CONFIG_DEBUG_INFO=y
CONFIG_PCI_LABEL=y
CONFIG_ARCH_HAS_DMA_OPS=y
CONFIG_KEYBOARD_PINEPHONE=y
CONFIG_X86_MCE_THRESHOLD=y
CONFIG_GPIO_TS4900=y
CONFIG_I2C_ATR=y
CONFIG_REGULATOR_MAX8952=y
CONFIG_COMEDI_MF6X4=y
CONFIG_LEDS_LM3697=y
CONFIG_MEMORY_ISOLATION=y
CONFIG_DM_CLONE=y
CONFIG_DM_MULTIPATH=y
CONFIG_MFD_LOCHNAGAR=y
CONFIG_FB_SYS_FILLRECT=y
CONFIG_PINCTRL_QCS615=y
CONFIG_IXP4XX_TIMER=y
CONFIG_USER_NS=y
CONFIG_CC_HAS_ASSUME=y
CONFIG_MTD_NAND_BRCMNAND_BCM63XX=y
CONFIG_HX9023S=y
CONFIG_SOPHGO_CV1800_RTCSYS=y
CONFIG_RESET_HSDK=y
CONFIG_IMX_MBOX=y
CONFIG_SERIAL_8250_LOONGSON=y
CONFIG_SENSORS_TDA38640_REGULATOR=y
CONFIG_MPRLS0025PA=y
CONFIG_RTC_DRV_88PM80X=y
CONFIG_SENSORS_INSPUR_IPSPS=y
CONFIG_MEMSTICK_JMICRON_38X=y
CONFIG_PINCTRL_PFC_R8A779A0=y
CONFIG_HAS_DMA=y
CONFIG_MFD_AXP20X=y
